[2016-06-02 19:08] sree0410 commented on #16110
when i tried to registed yowsup cli through below command

sudo python yowsup-master/yowsup-cli registration -C 91 -r sms -p 919886372816 -m 404 -n 45

i tried ./yowsup-cli registration -C 91 -r sms -p 919886372816 -m 404 -n 45
i get below status
status: fail
retry_after: 3600
reason: no_routes

version used is
yowsup-cli  v2.0.15
yowsup      v2.5.0

could you please help me

[2016-06-02 19:10] sivel commented on #16106
I believe you have opened this issue in the wrong repository.  This is ansible/ansible, not the yowsup repository.

[2016-06-02 19:10] #16106 closed, assigned to nobody

[2016-06-02 19:10] sivel commented on #16107
I believe you have opened this issue in the wrong repository.  This is ansible/ansible, not the yowsup repository.

[2016-06-02 19:10] #16107 closed, assigned to nobody

[2016-06-02 19:10] sivel commented on #16108
I believe you have opened this issue in the wrong repository.  This is ansible/ansible, not the yowsup repository.

[2016-06-02 19:10] #16108 closed, assigned to nobody

[2016-06-02 19:10] sivel commented on #16109
I believe you have opened this issue in the wrong repository.  This is ansible/ansible, not the yowsup repository.

[2016-06-02 19:10] #16109 closed, assigned to nobody

[2016-06-02 19:10] sivel commented on #16110
I believe you have opened this issue in the wrong repository.  This is ansible/ansible, not the yowsup repository.

[2016-06-02 19:10] #16110 closed, assigned to nobody

[2016-06-02 19:11] sivel commented on #16094
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-02 19:11] #16094 closed, assigned to nobody

[2016-06-02 19:36] anthonycorletti opened #16111 "error feedback improvements due to improper file permissions on ec2.ini and ec2.py"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.2 (Maipo)
##### SUMMARY

When running the ansible-playbook command and having improper ec2.ini and ec2.py permissions, the resulting error message may confuse the user, if the user hasn't checked the permissions of t

[2016-06-02 20:32] splisson-altair commented on #13262
+1

[2016-06-02 20:54] nhooey commented on #14270
@pstch Could you paste the issue numbers the bugs you're creating or finding in this issue?

[2016-06-02 21:09] jctanner commented on #11200
I can intermittently reproduce this on 1.9.1 with the following playbook ...

[code]

The issue is not the copy module or the copied file, it's actually a variable that's been registered somehow with binary data. Right after the line "<10.0.1.19> ESTABLISH CONNECTION FOR USER: xxx", ansible tries to template a bunch of variable names.

I don't suspect the issue in the description was caused by som

[2016-06-02 21:11] #11200 closed, assigned to nobody

[2016-06-02 22:36] geerlingguy commented on #13570
As a temporary workaround, you can run `pip install markupsafe` to install the package directly.

[2016-06-02 22:39] bhasselbeck commented on #13570
`pip install markupsafe` worked for me

[2016-06-03 00:21] jctanner commented on #16086
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-03 00:21] #16086 closed, assigned to nobody

[2016-06-03 00:32] jctanner commented on #16052
@abelboldu this is the comment block from the section of code where the error is output ...

[code]

What is your connection user?

[2016-06-03 00:36] jctanner commented on #16031
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:
- The latest version of paramiko has a dep chain that requires the libffi-devel system package. You need to install that so that pip can update/install paramiko. (yum install libffi-devel)

As suc

[2016-06-03 00:36] #16031 closed, assigned to nobody

[2016-06-03 00:43] jctanner commented on #16029
The tarball on pypi does have the file references ...

[code]

Installing it via pip also creates bin files on my system ...

[code]

Updating from 2.0.2 to 2.1 does not give me an error either ...

[code]

[2016-06-03 00:53] jctanner commented on #16029
@hleitzell we need more information about your environment.
- os + version
- pip version

[2016-06-03 00:56] jctanner commented on #16030
@bencromwell I realize this is a continuation from another ticket, but there's still little to no data in this ticket to work from.
- What is the environment?
  - ansible version
  - ansible.cfg settings
  - controlhost OS + version
  - remote host OS + version
  - are the machines physical, cloud instances, vagrant boxes, etc ...
- Does it only happen with ad-hoc commands?
- Can you reproduce wit

[2016-06-03 01:22] jctanner commented on #16066
@tinproject quoted+bracketed hostnames are not an issue for sftp ..

[code]

Here's the section of code where we apply those characters ..

[code]

This problem in your description usually occurs when sshd is misconfigured on the remote. Here's some things to try ..
1. run a standalone sftp command from the ansible machine to the remote host (fix any issues that come up)
2. check the sftp path set

[2016-06-03 01:26] jctanner commented on #16066
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.

As such, we're going to close this ticket.  However, we're open to being corrected, should you wish to discuss.  You can stop by one of our two mailing lists
to talk about this and we might be persuaded otherwise.
- https://groups.

[2016-06-03 01:26] #16066 closed, assigned to nobody

[2016-06-03 01:32] jctanner commented on #15970
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.

As such, we're going to close this ticket.  However, we're open to being corrected, should you wish to discuss.  You can stop by one of our two mailing lists
to talk about this and we might be persuaded otherwise.
- https://groups.

[2016-06-03 01:32] #15970 closed, assigned to jctanner

[2016-06-03 02:40] argais commented on #16095
Just ran into this exact same issue, started showing up once I got more than 200 instances in the region.

[2016-06-03 05:54] klatiss opened #16116 "When using multiple inventory files and nested groups order is significant"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS release 6.7
##### SUMMARY

When using multiple inventory files with nested groups any inventory file that contains children referenced in an earlier inventory file is not seen and causes an error.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2016-06-03 08:26] bitmensch opened #16117 "regression: host_vars in inventory_dir not considered"
##### ISSUE TYPE

Bug Report
##### ANSIBLE VERSION

ansible@devel (commit 273a965d specifically)
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

MacOS 10.11.5
##### SUMMARY

The issue I reported in #12742 (which had been fixed) popped up again this morning. Turns out that the responsible commit is 273a965d.

I discovered this as one of my nightly builds that runs against ansible@devel failed: htt

[2016-06-03 08:41] lad1337 commented on #9650
sorry to trigger this again...
we have run into this problem too with an addition

some facts:
- we run ansible-playbook from OSX
- all hosts are CoreOS `CoreOS 1010.4.0 (MoreOS)`
- we used `defunctzombie.coreos-bootstrap` as a ansible-galaxy requirement (which was run previously)
- we set `ansible_python_interpreter: "PATH=/home/core/bin:$PATH python"`

this creates a similar error:

[code]

_now

[2016-06-03 08:52] chusiang commented on #14578
Maybe, you can add `-K` option at ansible-playbook, I fixed the problem in my case.

    $ ansible-playbook setup.yml -vvvv -K

[2016-06-03 09:37] diarmaid-mcmanus commented on #13570
Installing markupsafe does make it work as said in the first report. I'm not sure why it's not included in requirements. I understand that it's not used directly, @bcoca, but without it ansible-playbook is being shipped broken.

Could markupsafe be added to requirements?

PS - happy to make the change if I can get some direction, or maybe this should be going upstream. I'm not too familiar with la

[2016-06-03 09:43] diarmaid-mcmanus commented on #13570
PS - happy to make the change if I can get some direction, or maybe this should be going upstream. I'm not too familiar with large project work :)

Should I be looking in this file, or elsewhere? https://github.com/ansible/ansible/blob/devel/lib/ansible/test-requirements.txt

[2016-06-03 10:04] juanjomm opened #16118 "Unable to delegate from windows to linux"
##### ISSUE TYPE

- Bug Report
#### Problem Still reproducible after ansible upgrade ( duplicate from #14677)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible running in RHEL 7.2
OS remote is Windows 2008R2 with powershell 4.0
##### SUMMARY

When delegating an action for a windows host to a linux host I get this error:
 FAILED! => {"failed": true, "msg": "ssl: 500

[2016-06-03 10:18] JeanFred commented on #13392
Looks like since ansible/ansible-modules-core#323 was merged this can be closed? It does work for me with ansible 1.9.5

[2016-06-03 10:38] Wtower commented on #6466
+1

[2016-06-03 12:00] aperigault commented on #16025
@jctanner: I think this is not a windows specific problem.
Anybody can help me to solve it ?

[2016-06-03 13:22] rmauc opened #16120 "gcc error at 2.1 upgrade"
##### ISSUE TYPE

- Bug Report?
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-06-03 13:52] jctanner opened #16121 "handle invalid role_paths gracefully in galaxy"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

2.2
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Galaxy currently exits abnormally if one of the defined role_paths does not exist. We should remove those paths from the list and proceed as normal. During install, we should install to the first writable role_path
##### STEPS TO REPRODUCE
##### EXPECTED RESULTS
##### ACTUAL RESULTS

[2016-06-03 14:00] bcoca commented on #16025
is the delegated to host referenced in inventory at all?

[2016-06-03 14:35] schnittchen commented on #15137
Looks like this might be fixed by https://github.com/ansible/ansible/commit/17e8500202b0ef58ab2ac41521006b201cfbf094

[2016-06-03 14:38] jctanner commented on #16120
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:
- You need to install openssl-devel or the equivalent package for your OS.

As such, we're going to close this ticket.  However, we're open to being corrected, should you wish to discuss.  You can

[2016-06-03 14:38] #16120 closed, assigned to nobody

[2016-06-03 14:58] jctanner commented on #10811
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for

[2016-06-03 14:58] #10811 closed, assigned to nobody

[2016-06-03 15:01] acdha opened #16123 "Low-level error messages should always include the remote stderr output"
Currently, if Ansible fails to run a command due to something like a sudo or shell misconfiguration the default output hides the most useful diagnostic information:

[code]

It would save time if that message included the stderr output so you could see the actual error message returned by the remote command (e.g. `sudo: sorry, you must have a tty to run sudo` when a host inconveniently has `requir

[2016-06-03 15:12] jctanner commented on #11403
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:
- Version mismatch between modules and ansible.

As such, we're going to close this ticket.  However, we're open to being corrected, should you wish to discuss.  You can stop by one of our two mai

[2016-06-03 15:12] #11403 closed, assigned to nobody

[2016-06-03 15:12] bcoca commented on #16100
ok, reformatted a bit, I had assumed this script mostly worked, but i was pretty wrong.

[2016-06-03 15:30] chapurlatn commented on #10638
Hi, I encountered this problem too.
No .aws/credentials Auth using environment variables.
My env variables were defined in lowercase. Everything is working with UPPER CASE.
Hope it will help some other scatterbrains.
(2.0.1 and 2.1.0 ok)

[2016-06-03 15:51] dmsimard opened #16125 "2.1 regression: status fields like "changed" can return non-boolean values"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

ansible 2.1.0.0
##### CONFIGURATION

Not relevant
##### OS / ENVIRONMENT

Not relevant
##### SUMMARY

An Ansible task can return a non-boolean value in status fields like "changed".
This violates the contract of these fields and breaks plugin implementations.

This was noticed and reproduced around fact gathering and

[2016-06-03 15:59] larsks commented on #16125
Here is a simple reproducer that will exit with an error when it triggers the bug:

[code]

Using this and `git bisect`, it looks  like it first start failing with commit 7a9b8e4, although this _particular_ bug shows up a few commits later in a5a6bcf (@bcoca).  4822c2c is the last commit in which this playbook will run correctly.

[2016-06-03 16:33] ashb commented on #11692
This is still broken for me in ansible 2.1.0.0 -- it was working fine on 1.9.6

[2016-06-03 16:39] kal4l commented on #16080
I am experiencing this exact same issue on 2.0.0.2.

[code]

[2016-06-03 16:43] felixlslam commented on #1619
Hi,
We are using Ansible 2.0 but still have this issue.
Note that we have been using SSH key for connection already, and actually ansible can establish connection into box but since the box prompts for a password update, ansible seems have no way to timeout in that situation.

[2016-06-03 17:15] relaxdiego commented on #15432
Ansible docs also state that this subdirectory is auto-loaded: http://docs.ansible.com/ansible/playbooks_best_practices.html#bundling-ansible-modules-with-playbooks

[2016-06-03 17:17] bcoca commented on #15432
that only points to ./library not sub directories of it.

[2016-06-03 17:46] dberuben commented on #16063
Same issue now its Working for me !

[2016-06-03 17:47] cocotton commented on #16063
Thanks for the fix

[2016-06-03 18:06] larsks commented on #16125
I'm not sure exactly what's going on here, but the culprit seems to be `ansible.module_utils.basic.remove_values`, which is getting called with `no_log_strings` set to a really large set (316 items) that includes things like:
- `True`
- `False`
- `22`
- `23`

And all sorts of other things that really don't seem like they need to be sanitized.  Because True and False are in the list,  we're hitting

[2016-06-03 18:21] fallspectrum commented on #15706
+1

[2016-06-03 18:32] dalcouffe commented on #9771
+1 to this idea.  We are doing the same.

[2016-06-03 18:37] resmo commented on #16125
I can confirm @larsks analytics and I am able to reproduce.

[2016-06-03 18:53] abadger commented on #16125
It appears that this is partially dependent on OS:

[code]

[2016-06-03 19:13] #16100 closed, assigned to bcoca

[2016-06-03 19:26] alikins commented on #16125
I can reproduce this as well on osx (10.10.5, yosemite) with devel.

[2016-06-03 19:37] abadger commented on #16125
Merged the fix for this specific problem to stable-2.1 and devel.  leaving this open until we get a chance to discuss if there's something further we want to do to keep no_log from messing up other modules' return values.  We could implement something like only substituting strings and numbers, for instance.

[2016-06-03 19:38] dmsimard commented on #16125
Thanks for the help, appreciated. Could we perhaps add some tests that reproduce this and test that the behavior is the one we expect ?

[2016-06-03 19:40] larsks commented on #16125
For the record, this is what was happening:

When the `copy` module is called like this...

[code]

...the value of the `content` parameter is an actual Python dictionary
(_not_, as you might expect, the string representation of that
dictionary).

In `AnsibleModule.__init__`, we build up `self.no_log_values` like
this:

[code]

The `copy` plugin (`lib/ansible/modules/core/files/copy.py`) sets
`no_

[2016-06-03 19:43] larsks commented on #16125
@abadger If it were my decision I would rip out `return_values` and `remove_values` and sanitize things by key rather than by value.  That is, if a module has:

[code]

Then we log:

[code]

Or something like that, rather than trying to apply all these heuristics.

[2016-06-03 20:06] bcoca commented on #16125
the reason it is done 'by vaule' is because modules might use the private vars and return them in another key:

`msg="%s is a secret" % password`

this is not an optimal solution but since we cannot control what modules do as they are external scripts, we really don't have many choices.

[2016-06-03 20:18] basictheprogram opened #16128 "ERROR! Unexpected Exception: need more than 1 value to unpack"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes to the ansible.cfg or environment variables
##### OS / ENVIRONMENT

Running from OS X 10.11.5
Managing: N/A
##### SUMMARY

Attempting to get Ansible working with Windows.
A simple inventory files and a very simple playbook with a very simple task fails to load with the error message: "ERROR! Unexpected Exc

[2016-06-03 20:20] larsks commented on #16125
If someone is handling secrets, they should set `no_log` on the task and be done with it, and maybe we should consider supporting the same parameter at the block or play level if it isn't supported there already.

If it's a question of trusting modules, well, they're already running all over the place with root privileges, so if they want to clandestinely steal secrets then log/no_log isn't going

[2016-06-03 20:28] basictheprogram commented on #16128
A lot bigger problem. All my playbooks now throw this error. Even ones that worked yesterday. A git bisect is telling me this commit breaks things:

[code]

[2016-06-03 20:33] bcoca commented on #16125
no_log is already settable that way

In the case of modules, those using the common api can also use built in functions to output cleanly, in this case it was being improperly used by the copy module, which should not be getting the content option in any case.

[2016-06-03 20:35] viper233 commented on #7553
Was a new issues created for this? @perhallstroem @jimi-c ? Noticing this issue with ansible 2.0.0.2 on ubuntu 16.04  and the latest devel, ansible 2.2.0 (devel 844b415066).

[code]

The validate command is failing

[code]

implementing ihrwein/ansible-syslog-ng role

[2016-06-04 01:58] jctanner commented on #11565
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker, and let us explain our reasons for thinking this:
- sshpass has patched this issue and added the -P flag, but no releases have been made. If they do make a release and the distros pull it down, we can look into patching ansi

[2016-06-04 01:58] #11565 closed, assigned to nobody

[2016-06-04 02:15] jctanner commented on #12223
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

Testing this on the version you have specified, we cannot reproduce this problem.

Our reasons and evidence for this are:
- Tested against 1.9.2 and 2.1 and in both cases with the same template and playbook, the chaged value was 1.

And we suggest that:
- Re-test this with a clean install of ansible. If it stil

[2016-06-04 02:15] #12223 closed, assigned to nobody

[2016-06-04 02:23] jctanner commented on #12591
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-04 02:23] #12591 closed, assigned to nobody

[2016-06-04 02:24] sixth commented on #15706
+1

[2016-06-04 02:36] einarc commented on #7984
And remember kids, if you really want to be effective at Ansible, learn Python FIRST, especially if you come from the C and everything derived from it world where NULL=UNDEFINED (like a non instantiated object that has an existing class):

The key is here:

And here:

In other words:
 1.- If you've registered/set_fact a variable YOU'VE defined it, even if the YAML/JSON value is null or if the vari

[2016-06-04 02:44] gaastonsr commented on #7984
I disagree, people should not need to learn Python to be effective with Ansible. It makes no sense.

[2016-06-04 02:48] einarc commented on #7984
@gaastonsr  Good luck figuring this out then. Unless you're saying the documentation should be covering this, Python and JINJA run ansible plain and simple fact. There's no way around that fact.

[2016-06-04 02:57] lowks commented on #1904
This would be create to check for `chkconfig` items too.

[2016-06-04 03:04] einarc commented on #7984
https://github.com/ansible/ansible-modules-core/issues/3865

[2016-06-04 03:55] relaxdiego commented on #13401
The fix for me was to rename the following vars:

[code]

to:

[code]

[2016-06-04 03:57] sunggun-yu commented on #15706
+1

[2016-06-04 07:52] EventideGlow commented on #12922
I just ran into this. The key issue here is that the following is an error message that fails to tell me what went wrong:

`FAILED: ('127.0.0.1', <paramiko.rsakey.RSAKey object at 0x10d643910>, <paramiko.rsakey.RSAKey object at 0x10d62d2d0>)`

A human-friendly error, that tells us that the host key didn't match what was in `known_hosts`, would be in line with the usual behaviour one would expect f

[2016-06-04 09:26] towolf commented on #16075
This works too `ansible-playbook -i <(ansible_inventory.py)`

[2016-06-04 11:58] towolf commented on #16128
Looks like the recursive call on line 540 was not updated.

[2016-06-04 13:22] smoyer64 opened #16130 "Add an "include" parameter to unarchive"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
unarchive module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
export ANSIBLE_NOCOWS=1

##### OS / ENVIRONMENT

##### SUMMARY
A Java JAR file is a ZIP file with a manifest and can be extracted using unarchive.  A Java JAR file can also be executed in place.  It's pretty common to extract specific files from a Java JAR file (such as propertie

[2016-06-04 16:14] kha0s178 commented on #7474
The same problem (no any submodules, pure git repo).
ansible 2.1.0.0
task example:

[code]

I used two workarounds:
`ssh_opts="-o StrictHostKeyChecking=no"`
or such task before:

[code]

But this is wrong way. accept_hostkey=yes sould work, but still doesn't. I think that it is because of git custom ssh port.
UPD: Looked in module_utils/known_hosts.py
Yep, there in `add_host_key` function:

[code]

[2016-06-04 16:21] jimi-c commented on #11545
@nicolasrusconi variables are case-sensitive, so `ANSIBLE_VERSION` needs to be lower case.

[2016-06-04 16:51] jimi-c commented on #16059
I think the bug here is that we're not turning local_action into a `run_once`. Comparing the output to 1.9, it appears that in the older version we did in fact ensure that local action acted like a run_once task, and adding `run_once: yes` to @falmp's example makes it work as expected.

[2016-06-04 16:56] jimi-c commented on #16059
Well, scratch that, I believe adding run_once is what is needed here, to ensure each entry is only output once. Otherwise, it's like each inventory item is doing a `delegate_to: localhost` (what `local_action` essentially does under the hood), so the task is repeated `{{num hosts}} * {{items in loop}}`.  The error here is probably from some other code path after the task is actually complete. I'll

[2016-06-04 17:01] nicolasrusconi commented on #11545
thanks @jimi-c , it looks like it was an issue in 2.1.0.0 release, see https://groups.google.com/forum/#!topic/ansible-project/JdnsZfQot70

[2016-06-04 19:24] jimi-c commented on #16059
Well this is just weird...

[code]

results in an output of:

[code]

So `localhost` isn't showing up in `groups.all` for the first host, but it does for the rest...

[2016-06-04 20:42] girisreenivas commented on #14160
@bcoca any ETA on when this will get fixed? Saw it assigned to the stable 2.0 milestone but I don't see this resolved in the 2.1.0.0 release I'm using.

[2016-06-04 23:17] Jack47 opened #16133 "ansible task executor should print the result information when json.load rasie an ValueError"
##### ISSUE TYPE

- Feature Idea

Could ansible task executor print the result information when `json.load` rasie an ValueError?
It will save programer's time and make life happier.

I spent a whole day and finally solved the problem I met as illustrated below. I could solved it in minutes if ansible task executor has printed the result information when `json.load` rasie an ValueError.
##### ANSIB

[2016-06-04 23:55] #16059 closed, assigned to nobody

[2016-06-04 23:55] jimi-c commented on #16059
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-06-05 00:34] phemmer opened #16134 "Don't throw error stopping/disabling unknown service"
##### ISSUE TYPE
- Bug Report
- Feature Idea

(regression from 1.9.4, but not sure if deliberate)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Client: OS-X
Server: CentOS/7
##### SUMMARY

When attempting to disable or stop a non-existent service, an error is thrown. This is a regression from 1.9.
This should not throw an error as ansible is a declarative langua

[2016-06-05 00:44] basictheprogram commented on #16128
If you mean remove the _found from "_found, results", I'd agree.

[2016-06-05 03:00] mdklatt opened #16136 "ansible-galaxy preserves tar.gz extension in role name when installing from tarball"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
2.1

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I'm not sure if this is a bug, a feature request, or a documentation problem.

[code]

I'm using OS X 10.11.4 with Python 2.7.10, although I don't think this is platform-specific. The problem is the behavior of `ansible-galaxy` when installing a lo

[2016-06-05 05:24] tobiasmcnulty commented on #16013
As announced by Guido at PyCon 2016, Python 2 itself will be _unsupported_ as of 2020 (4 short years away). The ansible docs about Python 3 are misleading: I don't think it's fair to say that Python 3 is completely different and "most" Python programs haven't migrated yet. Most Python programs that I use (especially development-focused ones) advocate first for Python 3 usage and only offer Python

[2016-06-05 05:30] tobiasmcnulty commented on #16013
Maybe I spoke too soon.. I do see Travis is building successfully with 3.5 now. Maybe we just need some doc updates and/or a formal announcement that Python 3 will be supported?

[2016-06-05 06:16] fiphedawg commented on #16054
I ran into the similar problem adding "executable="  resolved the issue.  I assume its the shell that dells idrac uses or lack thereof

[2016-06-05 09:10] SohnSangHyun opened #16137 "python crawl error"
it's python crawling error
plz tell me detailed...how can i fix it?
![error](https://cloud.githubusercontent.com/assets/18184258/15804579/c1f9d1a8-2b48-11e6-89e9-ef1af94153ad.png)

[2016-06-05 12:53] jimi-c commented on #11692
@ashb are you using a with loop on the includes?

[2016-06-05 12:53] jimi-c commented on #7553
@viper233 if so, please open a new issue for that. Thanks!

[2016-06-05 14:04] jimi-c commented on #16117
@benjixx when I re-run the reproducer I had in #12742, I see the correct output:

[code]

Can you share exactly how your test reproduces the problem you're seeing?

[2016-06-05 15:31] bitmensch commented on #16117
@jimi-c I just tried with your reproducer from #12742 in the same way you did, and it seems: you're right. This works.

But there are strange things going on here. By just slightly changing your example the problem appears again:

[code]

Do you have any clue what's happening here?

[2016-06-05 15:57] ayush-sharma commented on #14665
I can confirm this on 2.1. When is this issue getting resolved? Kind of destroys the whole concept of rolling upgrades.

[2016-06-05 18:23] odedgol commented on #14578
Indeed it works thanks chusiang!

[2016-06-05 20:38] ashb commented on #11692
@jimi-c No, no looping includes, but I do have templated includes in the playbook (but not in the role I was trying to start the task at.)

[2016-06-05 20:51] Brian-Williams opened #16139 "Local_action makes ansible_host localhost."
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

# cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="https://bugs.centos.org/"

CENTOS_MANT

[2016-06-05 20:52] jimi-c commented on #16117
This did bisect down to 273a965dcc1e522fcd6637c63be0157a17cff421, so I'll look into why.

[2016-06-05 21:03] jimi-c commented on #16117
So it looks like this is because I stopped it from saving the host_vars locally in the hosts `.vars` dictionary locally, but we're not properly finding the path from the inventory for the host_vars file.

[2016-06-05 21:15] Hubbitus opened #16140 "FR: Allow filter tasks from applied role"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
roles + tags

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Irrelevant
##### OS / ENVIRONMENT

N/A
##### SUMMARY

It will be very convenient have possibility run only part of role.
##### STEPS TO REPRODUCE

Come from https://github.com/ansible/ansible/issues/14525.

Playbook:

[code]

role `test`/tasks/main.yml:

[code]

It will be very he

[2016-06-05 22:32] abadger commented on #16013
@tobiasmcnulty Wanted to give a little history of what we've been doing to support Python3.

Python 3 on the controller side is something that we've been preparing for in parallell with developing 2.x.  However, we had so many other pieces of refactoring as part of that effort that we knew it wouldn't be done in time for 2.0 or likely (and as it turned out, in fact) for 2.1.  We did put in some im

[2016-06-05 22:57] tobiasmcnulty commented on #16013
@abadger Many thanks for the detailed reply and I'm sorry I didn't stop by the Ansible table at the sprints! I think it is much farther along than I and probably others understand and I'm super grateful for all of your + others' work!

I guess what I am saying is it would be nice to see Ansible/RedHat as **_organizations**_ standing behind Python 3 support, rather than relying on the team member e

[2016-06-05 23:25] pporada-gl commented on #10131
Using these tricks feels really awkward from a user experience perspective. Does anyone have a more complete example of @sanear's trick?

[2016-06-06 02:00] cdaniluk commented on #11692
I don't even have templated includes. Simple but long playbooks with linear includes. I've even tried stripping things out to simplify things. This is simply broke since 2.0 and no one seems to care. This is a big deal.

[2016-06-06 02:53] chusiang commented on #14578
@odedgol Welcome. :D

[2016-06-06 03:45] lvmeng8 opened #16141 "OSError: [Errno 32] Broken pipe ansible-1.9.4 python API"
ansible python api Error.
function:
ansible.runner.Runner()

- Bug Report
##### ANSIBLE VERSION

1.9.4
##### CONFIGURATION

modify:
host_key_checking = False
##### OS / ENVIRONMENT

CentOS release 6.5 (Final)
##### SUMMARY

I run ansible python api and ansible-playbook python api to excute playbook and "shell" module on 10 hosts parallel。The hosts are separate. one api mange one hosts. one of the

[2016-06-06 07:27] jhawkesworth commented on #15970
Sorry I have been ill, I will re-raise once I have exact perms to reproduce.

[2016-06-06 07:37] jimi-c commented on #16117
I believe I have this fixed, however I want to add some unit tests to make sure we don't run into this again.

[2016-06-06 07:41] jhawkesworth commented on #11692
@cdaniluk - do you have fact gathering set to implict, explicit or smart in your ansible.cfg?

[2016-06-06 07:49] jhawkesworth commented on #16118
Please can you try using

delegate_to: localhost

or local_action syntax: http://docs.ansible.com/ansible/playbooks_delegation.html#delegation

Also check your inventory to make sure 127.0.0.1 isn't inadvertently appearing in the same group as your windows hosts.

[2016-06-06 08:04] abelboldu commented on #16052
My connection user was root

[2016-06-06 09:33] tongpu commented on #15927
I just ran into this issue with a playbook we're using for a demo during a presentation. I upgraded to to 2.2.0 and this seems to be fixed. Can this be issue be closed @jctanner?

[2016-06-06 09:48] nerzhul opened #16144 "loop_var output is wrong"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Not important there
##### OS / ENVIRONMENT

Archlinux / Debian 8
##### SUMMARY

When iterating over multiple with_items loop, we should use loop_control.loop_var variable to iterate over the multiple levels.
Ansible output is wrong on screen
##### STEPS TO REPRODUCE

Create a role including a file using with_items
Do

[2016-06-06 10:07] hidekiy commented on #14292
@ei-grad
I've also encountered this problem. Something are modified about `debug: msg={{'{}'}}` style template parsing between ansible 1.9 and 2.1.
And I also found a workaround. Please try:
`{{ lookup('template', '../templates/plugin.json.j2', convert_data=False) |string}}`

[2016-06-06 10:11] hidekiy commented on #15603
@sgnn7
Try this workaround:

[code]

I also commented to #14292

[2016-06-06 10:27] ei-grad commented on #14292
Thank you :-)

[2016-06-06 10:56] alexxa opened #16145 "service state doesn't accept 'running' value"
##### ISSUE TYPE

- Bug Report
- Documentation Report
##### ANSIBLE VERSION

[code]

git cloned and rpm built on June 3rd
##### OS / ENVIRONMENT

Running Ansible from Fedora 23, and managing Red Hat 7
##### SUMMARY

There is inconsistency between documentation, code and ansible behavior, as well as between documentation and documentation.

If to check [module_utils/service.py](https://github.com/a

[2016-06-06 11:46] debugloop opened #16146 "raw module not working for Cisco Routers"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None relating to SSH.
##### OS / ENVIRONMENT

A fresh virtual env.
##### SUMMARY

The `raw` Module fails to connect via SSH under unknown circumstances. Executing the debug messages of Ansible directly works though. It works on routers with more modern SSH versions.
##### STEPS TO REPRODUCE

Execute command with the

[2016-06-06 11:50] ssbarnea opened #16147 "xml module should become part of ansible core modules"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION

[code]

Ansible should have the XML module as part of the ansible core. Current it is available from https://github.com/cmprescott/ansible-xml

[2016-06-06 11:52] analogbyte commented on #16146
Setting `TERM=vt100` clears the warning from the Cisco's log, but does not help otherwise.

[2016-06-06 12:37] lifemall opened #16149 "Configuration option badly parsed if the line contains an inline comment"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

ansible 2.1.0.0
  config file = /home/ubuntu/DevOps/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

allow_world_readable_tmpfiles = True  # here is a comment
ok = red  # here is another comment
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

Using allow_world_readable_tmpfiles = True as described in h

[2016-06-06 12:40] kuza55 opened #16150 "ec2 module hangs if spot request fails"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

ansible 2.1.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

ANSIBLE_HOSTS=/etc/ansible/ec2.py
##### OS / ENVIRONMENT

Ubuntu on Windows 10
##### SUMMARY

When an ec2 spot bid fails, the ansible console hangs (making it seem like it's just taking a while to providion).
####

[2016-06-06 12:41] #16149 closed, assigned to nobody

[2016-06-06 12:42] davidfischer-ch opened #16151 "Configuration option badly parsed if the line contains an inline comment"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

ansible 2.1.0.0
  config file = /home/ubuntu/DevOps/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

allow_world_readable_tmpfiles = True  # here is a comment
ok = red  # here is another comment
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

Using allow_world_readable_tmpfiles = True as described in h

[2016-06-06 13:10] infernix opened #16152 "setup module: ValueError: No JSON object could be decoded and No module named module_exec.setup"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]

Also happens with 2.1.0 stable.
##### CONFIGURATION

No changes (running straight from source dir)
##### OS / ENVIRONMENT

Ansible running host is Debian sid, ansible target host is Debian Jessie.
##### SUMMARY

The setup module fails to run in both 2.1.0 stable and devel d21cd16a91 with the error `ValueError: No JSON object could be dec

[2016-06-06 13:12] bcoca commented on #16013
@tobiasmcnulty also please note that Ansible is a tool to automate existing systems, which currently overwhelmingly have Python 2 pre-installed, not Python 3. New distro releases are all starting to shift to Python 3 and we need to support that also, which is what the current effort is aiming at.

Migrating Ansible to Python 3 is relatively easy, supporting BOTH python 2.4 and Python 3  .... is 'f

[2016-06-06 13:30] amarao opened #16153 "Allow when cause at playbook level."
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
roles

##### ANSIBLE VERSION

[code]
##### SUMMARY

Add when cause to roles at the playbook level.
##### STEPS TO REPRODUCE

Right now Ansible allows conditional roles like this:

[code]
##### EXPECTED RESULTS

It is more concise to write single 'when' cause for all  roles like this:

[code]

[2016-06-06 13:31] juanjomm commented on #16118
Thank you for your help.
I tested with the module delegate_to: localhost and local_action syntax,

[code]

**Inventory groups:**

[code]

The problem still persist
In addition, in our inventory doesn't show the ip 127.0.0.1

[2016-06-06 13:36] alikins commented on #16123
What versions of ansible are you seeing this behavior in?

Conditions:
- ssh pipelining not enabled
- remote host has requiretty set in sudoers
- using sudo ?  (Whats the inventory for 'testhost' in the first example look like?)

[2016-06-06 13:40] acdha commented on #16123
I saw it with ansible 2.1.0.0 against some RHEL 6 machines using sudo with requiretty set.

(We have a somewhat difficult time getting policy changes through so it was much easier to enable pipelining than try to get requiretty changed.)

[2016-06-06 13:45] alikins commented on #16128
This looks like it is a good candidate for a unit/integration test as well.  A good candidate_for_tests.

[2016-06-06 14:06] alikins commented on #16133
I think this should probably be split into two issues:

1) bug report/behavior change request for showing more useful info on the failures.
    The needs fixing/improving, but it is not unique to (2)

2) bug report referencing http://www.cyberciti.biz/faq/os-x-terminal-bash-warning-setlocale-lc_ctype-cannot-change-locale/

  Not sure yet how ansible could workaround this, but it's obtuse enough to

[2016-06-06 14:15] cdaniluk commented on #11692
Not set at all.. I believe the default is implicit.

[2016-06-06 14:17] alikins opened #16156 "warning: setlocale: LC_CTYPE: cannot change locale (UTF-8): No such file or directory"
This is a new issue split off from the issue https://github.com/ansible/ansible/issues/16133
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS 10.9
##### SUMMARY

As originally mentioned in https://github.com/ansible/ansible/issues/16133 there can be problems using osx terminal + ansible + linux/openssh/glibc remote systems related to th

[2016-06-06 14:23] thmshmm opened #16157 "Unexpected behaviour when using delegate_to with ansible_host and ansible_fqdn"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

RHEL 6
##### SUMMARY

When creating a file from a template and delegating the execution to a different host, the variables ansible_host and ansible_fqdn point to different hosts.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

The destination file contains either two times the delegate

[2016-06-06 14:33] boedah commented on #11702
I also got this on 1.9.4.
But not for all large files. Sometimes it works for ~1GB, sometimes it fails for 350MB...

[2016-06-06 14:53] alikins commented on #16136
I can reproduce this with latest code from devel branch.

Not entirely sure if that behavior is intentional, but I definitely agree that it is not what I would expect to happen.

For the case of:

[code]

I sort of get why that url may confuse the install. I would expect the installed role to be named based on the name of the role from the role metadata.

But looking closer, the role metadata does

[2016-06-06 15:00] antonysohal commented on #10065
+1

[2016-06-06 15:03] alikins commented on #16136
For the local tarball install case:

[code]

My expectation would be that would install the role in the archive as 'mdklatt.tmpdir'.

For that case, there doesn't seem to be enough info in the archive to figure out the expected role name however. meta/main.yml doesn't include the authors galaxy/github name or the name of the role itself.

That info sort of exists in the README.rst, but not in a wa

[2016-06-06 15:18] alikins commented on #16137
I think this was submitted to the wrong github repo? The code in the screenshot doesn't appear to be ansible related.

If this is ansible related, please reopen this issue and provide more information, including the information requestion in the issue template.

[2016-06-06 15:18] #16137 closed, assigned to nobody

[2016-06-06 15:37] alikins commented on #16139
I can reproduce this with latest from git in devel/ branch:

Using hosts:

[code]

and site.yml:

[code]

Output is:

[code]

[2016-06-06 15:45] alikins commented on #16139
Got a playbook snippet and/or ansible-playbook output showing this?

[2016-06-06 15:46] alikins commented on #16139
Something like:

[code]

For the 'local_Action uri at ansible_host', I see requests to http://localhost/index.html.

I'm note entirely sure what the correct behavior here is supposed to be.

[2016-06-06 15:48] #16039 closed, assigned to nobody

[2016-06-06 15:49] sivel commented on #16139
So, just as a note, the documentation does specify that `local_action` is roughly shorthand for `delegate_to: localhost`.  In which case, I feel that `ansible_host` being listed as `localhost` seems correct.

Some solutions are:
1. use `inventory_hostname`
2. if you need `ansible_host` for the actual host (not localhost), and `invenentory_hostname` does not suffice, try: `hostvars[inventory_hostna

[2016-06-06 15:51] bcoca commented on #16139
This is expected as the `ansible_host` reflects the host 'to connect/connected to' not the ip of `inventory_hostname` unless that is what was connected to.

Closing as it is not a bug

[2016-06-06 15:51] #16139 closed, assigned to nobody

[2016-06-06 15:53] #16117 closed, assigned to jimi-c

[2016-06-06 15:56] jimi-c commented on #16117
Due to the nature of this bug and the structure of the unit tests, I've been unable to exactly recreate the way this bug occurs, so for now I've just merged in the above patch to fix this. Unfortunately the inventory code is overdue for some cleanups and refactoring (it's the only major chunk of code that wasn't changed much in 2.0+), and as such doesn't have very good unit tests. We'll be address

[2016-06-06 16:00] alikins commented on #16141
NOTE: I edited the original issue (https://github.com/ansible/ansible/issues/16141#issue-158595949) to fix up the formatting of the copied errors.

[2016-06-06 16:01] bcoca commented on #16042
This behavior is correct, -i is 'inventory' so the defined :22 there gets put into `ansible_ssh_port` behind the scenes, this is a var and subject to normal variable precedence, which means that defining that var in play overrides the one defined in inventory.

If on the other hand you use the `port` directive, it should still override from inventory as 'connection variables' override directives.

[2016-06-06 16:01] #16042 closed, assigned to nobody

[2016-06-06 16:09] alikins commented on #16117
is https://github.com/ansible/ansible/issues/16128 related?

[2016-06-06 16:20] jimi-c commented on #16128
My bad, I'll get this fixed ASAP.

[2016-06-06 16:26] #14219 closed, assigned to nobody

[2016-06-06 16:26] #16128 closed, assigned to alikins, jimi-c

[2016-06-06 16:27] jimi-c commented on #16117
Yep, and should now be fixed too.

[2016-06-06 16:27] jimi-c commented on #16128
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-06-06 16:32] alikins commented on #16145
Looks like the new systemd service module (lib/ansible/modules/core/system/systemd.py) doesn't expect 'running'  as a possible state:
https://github.com/ansible/ansible-modules-core/blob/devel/system/systemd.py#L224

That area is in flux at the moment in devel/ so that may be broken atm. @bcoca should know more.

[2016-06-06 16:38] jimi-c commented on #11692
@ashb ahh, so yes in that case the include will remain "dynamic" as the variables used could come from an inventory source. Add `static: yes` to those and they'll be templated early during parsing time (and fail if the var is unavailable, as it would in 1.9.x). Alternatively you can force all includes to be static via your ansible.cfg (there's one config option for task includes and one for handle

[2016-06-06 16:41] alikins commented on #16146
@bcoca Possibly related to https://github.com/ansible/ansible/pull/16085 ?
(though the failure is different, and this issue seems to depend on router/ssh versions).

[2016-06-06 16:46] alikins commented on #16147
This appears to be a submission about a module.

We would appreciate if you can submit this there (https://github.com/ansible/ansible-modules-core)
instead. (If we move it, the owner of the issue resets to ansible instead of you).

[2016-06-06 16:46] jimi-c commented on #16123
@acdha Any chance you could test this patch against a similar setup to see if it captures the info you were wanting?

[code]

[2016-06-06 16:48] alikins commented on #16150
This appears to be a submission about  the ec2 module.

We would appreciate if you can submit this there (https://github.com/ansible/ansible-modules-core)
instead. (If we move it, the owner of the issue resets to ansible instead of you).

[2016-06-06 16:48] #16150 closed, assigned to nobody

[2016-06-06 17:07] alikins commented on #16151
For reference, notes on configparsers comment handling (from https://docs.python.org/2/library/configparser.html)

So, comments in the style you mentioned seem like they are supposed to work.

py3 has different defaults however (https://docs.python.org/3/library/configparser.html)

The py3 default shouldn't matter yet afaik, assuming you are running ansible with py2.

So it sounds like it inline c

[2016-06-06 17:19] alikins commented on #16152
(reformatting of stderr output from initial report for readability)
module_stderr

[code]

module_stdout

[code]

[2016-06-06 17:24] alikins commented on #16157
(note: I edited the initial response to fix up some formatting)

[2016-06-06 17:30] bcoca commented on #16157
ansible_host reflects the connect_to/connected_to host, ansible_fqdn is a fact collected from the `inventory_hostname`, when delegation is in play you should not expect them to always match as they are different variables, set in different ways and for different reasons.

As such, closing this issue as it is not a bug.

[2016-06-06 17:30] #16157 closed, assigned to nobody

[2016-06-06 17:57] bhardin commented on #10065
+1

[2016-06-06 18:01] mxxcon commented on #10065
Guys, please don't reply with `+1` but instead click on :+1: under the original message. That allows better sorting of issues based on votes.

[2016-06-06 18:03] acdha commented on #16123
Here's what the behaviour looks like currently. I think it's always a good idea to include stderr and I'm inclined to say that should be true even without enabling verbose mode (or at least at `-v` rather than `-vvvvv`). There's also an interesting inconsistency where the `ping` module has the error message in stdout when SSH pipelining is disabled and stderr when pipelining is enabled.

# Ansible

[2016-06-06 18:31] bitmensch commented on #16117
Latest `ansible@devel` currently makes my build green again. Thanks @jimi-c. Much appreciated.

[2016-06-06 18:35] kuza55 commented on #16150
Moved to https://github.com/ansible/ansible-modules-core/issues/3877

[2016-06-06 18:36] jimi-c commented on #16117
@benjixx excellent, thanks for the follow up!

[2016-06-06 20:54] jimi-c commented on #16005
Hi @w-miller, I believe this is a misunderstand of what hostvars represent. Hostvars are inventory-level variables for each host only - that is vars from the inventory file/script, host_vars/group_vars files (from the inventory directory and the playbook directory) and a few other things. They do not include the entire variable dictionary.

If you have any further questions, please let us know by

[2016-06-06 20:54] #16005 closed, assigned to nobody

[2016-06-06 20:57] jimi-c commented on #16006
@kellenanker was influxdb installed from a yum repository or directly via an RPM downloaded? The yum module tries to query yum repositories for the data, so it will fail like this if it can't find the requested name somewhere in a yum repodata.

[2016-06-06 21:03] jimi-c commented on #15915
# Closing This Ticket

@pstch I've merged in @Schnitzel's PR above, so this should be resolved. This was also merged into stable-2.1 and will be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansib

[2016-06-06 21:42] bcoca commented on #16118
how are you setting winrm as the connection for example.exp.corp?

[2016-06-06 23:03] Jason-Crowe opened #16163 "plugins do not inherit the environment of the task/play"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Amazon Linux AMI release 2015.03
##### SUMMARY

plugins do not inherit the environment of the task/play
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

i expect the plugin to see the environment defined on the play and thus i expect the playbook to complete successfully.
##### ACTUAL

[2016-06-06 23:59] bcoca commented on #11597
dupe of #10510

[2016-06-06 23:59] #11597 closed, assigned to nobody

[2016-06-07 00:09] bcoca commented on #16141
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible-devel on irc.freenode.net
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-devel
- mailing list: h

[2016-06-07 00:09] #16141 closed, assigned to nobody

[2016-06-07 01:07] bcoca commented on #16163
The environment setting is not for the play itself, it is for the 'remote execution' of tasks. As such it does not set the 'local environment in which the play is runing'

This is not a bug, just a misconception on what the directive does.

[2016-06-07 01:07] #16163 closed, assigned to nobody

[2016-06-07 01:40] bala-v opened #16164 "SSH not honoring ansible_user and ansible_port params"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

ansible 2.1.0.0
##### CONFIGURATION

test-mac:ansible$ ansible --version
ansible 2.1.0.0
  config file = /Users/balviswa/<user>/ansible.cfg
  configured module search path = Default w/o overrides
##### OS / ENVIRONMENT

mac osx
##### SUMMARY

ssh to port mapping in virtualbox not connecting to right port or using right user specified in command

[2016-06-07 02:13] bcoca commented on #16164
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-07 02:13] #16164 closed, assigned to nobody

[2016-06-07 02:30] #16145 closed, assigned to bcoca

[2016-06-07 02:30] bcoca commented on #16145
fyi, module_utils/service.py is currently unused

[2016-06-07 02:51] bcoca commented on #16147
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-06-07 02:51] #16147 closed, assigned to nobody

[2016-06-07 06:13] tavisma commented on #13243
[pass_inventory_patch.zip](https://github.com/ansible/ansible/files/301936/pass_inventory_patch.zip)

Here is a terrible hack/patch for Ansible 2.1.0.0 that causes ansible to pass the inventory file as an argument to vault_password_file if it is a script

It also allows you to pass arguments directly using ansible-vault, like so:
ansible-vault --vault-password-file="YOUR_VAULT_SCRIPT ARG1 ARG2"

W

[2016-06-07 07:03] lime commented on #11692
Thanks @jimi-c, that was new information to me. Here are the relevant lines from the [example ansible.cfg](https://github.com/ansible/ansible/blob/v2.1.0.0-1/examples/ansible.cfg#L59-L64):

[code]

Note that the above vars, as well as `static: yes` on  includes, seem to have arrived in version 2.1.0.0.

I haven't tried it yet, but it sounds like it should help.

[2016-06-07 07:06] arpit-goel commented on #12282
Hi @jimi-c ,
The bug doesn't seem to be completely resolved. I'm running `ansible-playbook 2.1.0.0`.
I receive the same error message one Eronarn received. However, he was able to resolve the issue changing **sudo** to **become** but I wasn't as I had already done that change before receiving this error. As far as I understand from the message, there shouldn't be variables defined with the include

[2016-06-07 07:10] ozbillwang commented on #14671
@ddohler

thanks, it is really helpful to fix my issue.

[2016-06-07 07:35] conserva-dev opened #16165 "YUM module doesn't install package"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

Master host - Ubuntu 14.04
Managed host - Centos 6.7
##### SUMMARY

I'm trying to install (upgrade) iproute2 on my centos vm to enable usage of network namespaces on it. So, I'm using yum module to install rpm from my storage, but ansible says that there's no need to install it.
The pr

[2016-06-07 07:49] lime commented on #11692
Based on cursory testing, it seems like using either `static: yes` locally, or `task_includes_static = True` globally does indeed fix the issue. That's great news! 🎈

With that being said, `--start-at-task` still seems horribly broken for the default case. New users get no indication of what might have gone wrong, and `ansible-playbook` just exits successfully without even running `setup`.

Do you

[2016-06-07 09:22] edysli commented on #15137
This is indeed fixed in release 2.1:

[code]

Are you guys going to backport the fix to 2.0?

[2016-06-07 09:27] juanjomm commented on #16118
winrm is configured as follows:

[code]

[2016-06-07 10:11] derkork opened #16167 "Add image update support to docker_service"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Currently it is not easily possible to update images used by docker_service. When an image does not exist, docker_service will pull it, but it won't update it once it is already there. The only way around this is to use `state:absent` and `remove_images:all` to kill the

[2016-06-07 11:11] juanjomm commented on #16118
In the ansible server:

[code]

[2016-06-07 11:26] alexxa commented on #16145
@bcoca Would you consider it as a doc BZ then? Since there are `service: name=$service state=running` samples around the doc pages (see the links in the BZ report above).

[2016-06-07 12:39] jctanner commented on #16165
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-07 12:39] #16165 closed, assigned to nobody

[2016-06-07 12:40] jctanner commented on #16167
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-07 12:40] #16167 closed, assigned to nobody

[2016-06-07 12:46] nemd opened #16171 "aws elb - https listeners issue"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### SUMMARY

I have play for creating elastic load balancer on aws. There are two listeners one for http and another for https (redired to http on instance). During execution http is created fine but https is created but then after few seconds it's gone.
I've checked this also with `purge_listeners: no` and manually created listeners bu

[2016-06-07 12:52] jctanner commented on #16171
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-07 12:52] #16171 closed, assigned to nobody

[2016-06-07 12:54] jctanner commented on #14422
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for

[2016-06-07 12:54] #14422 closed, assigned to nobody

[2016-06-07 13:12] jctanner commented on #14424
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

Testing this on the version you have specified, we cannot reproduce this problem.

Our reasons and evidence for this are:
- Unable to reproduce with ansible 1.9, 2.0 or 2.1. The play stops after the first role calls the fail module.

And we suggest that:
- Check in with the mailing list or IRC and look for help

[2016-06-07 13:12] #14424 closed, assigned to nobody

[2016-06-07 13:59] alikins commented on #16156
Mentioning original submitter @Jack47

[2016-06-07 14:04] jctanner commented on #15379
Testcase ...

[code]

[2016-06-07 14:05] jctanner commented on #15379
Based on the testcase outlined above, I tested with ansible 1.9.5 and 2.1. In both cases, I saw no failures.

[2016-06-07 14:07] jctanner commented on #15379
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

Our reasons and evidence for this are:
- I tested ansible 1.9.5 and 2.1 against the testcase noted above. In both cases, I saw no failures.

And we suggest that:
- Use the mailing list and or irc to get help with further isolating this issue if you still see it.

As such, we are most likely going to close this

[2016-06-07 14:07] #15379 closed, assigned to nobody

[2016-06-07 14:25] jmalacho commented on #15279
I update to 2.1 as suggested.

# ansible --version

ansible 2.1.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

# rpm -q ansible

ansible-2.1.0.0-1.el6.noarch

I'm still having trouble getting this to work. I copied the documented example string:
- debug:
     msg: "{{ [0,2]|map('extract', ['x','y','z'])|list }}"

I get this error
TASK [test :

[2016-06-07 14:27] sivel commented on #15279
@jmalacho your issue is slightly different.  Your problem is that the `map` filter is missing.  The `map` filter is provided by jinja2 version 2.7.  You must have a version of jinja2 older than this.  You will need to upgrade to a more recent version of jinja2 to get access to the `map` filter.

[2016-06-07 14:46] jimi-c commented on #14665
@sherbang / @hkariti that issue has been addressed in fa368934bd26600104f72f9d8f0591c0fd68e958 (also cherry-picked to stable-2.1, so it will be included in 2.1.1).

[2016-06-07 14:46] jimi-c commented on #14665
^ also @ayush-sharma

[2016-06-07 15:10] alikins commented on #15721
The traceback in https://github.com/ansible/ansible/issues/15721#issuecomment-217058095 and the
test in https://github.com/ansible/ansible/issues/15721#issuecomment-217101157 make me suspect this is a ziploader issue, though there are a lot of variables in play.

Just to clarify that I understand the scenario:

1) 'ansible-playbook' is being run from a centos7 system
2) the 'coreos' host target is

[2016-06-07 15:11] michaelem commented on #16048
I did run into this as well and tried all the solutions on the proposed documentation site (https://docs.ansible.com/ansible/become.html#becoming-an-unprivileged-user).
None of them worked, had to fall back to `allow_world_readable_tmpfiles = True` and living with warnings for now.

[2016-06-07 15:23] jctanner commented on #15726
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for

[2016-06-07 15:23] #15726 closed, assigned to nobody

[2016-06-07 15:23] alikins commented on #15721
[code]

What is is the locale setup on the system where ansible-playbook is running? (ie, is LANG or LC_ALL set and what is it set to?)
The LC_ALL warning usually means the remote system doesn't have the forwarded locale installed (and I suspect for this case, the remote system has almost no locales installed.

`/tmp/ansible_QtpjsQ/ansible_module_file.py: line 1: /opt/bin/python: not found`

If I

[2016-06-07 15:25] alikins commented on #15721
How is /opt/bin/python setup on the remote coreos node?

https://github.com/ianbytchek/docker-coreos-ansible-toolbox?

via coreos toolbox? https://coreos.com/os/docs/latest/install-debugging-tools.html

other?

[2016-06-07 15:28] gabordk commented on #14808
I'm running 2.0.1.0 and also wasted some time because the documentation is wrong :(
succeeded not working, success works fine.

[2016-06-07 15:31] alikins commented on #13243
@tavispaquette

That is an interesting idea!

[2016-06-07 15:43] aperigault commented on #16025
Yes the delegated to host is referenced in my inventory. I test to define ansible_user in my inventory and var is read. I think that **host_vars/hostname** is just not read when we use delegated_to :/.
Edit: After other tests **host_vars/hostname** seems to be loaded but ansible_connection, ansible_password and ansible_user vars are not loaded or overwrited.

[2016-06-07 16:27] jimi-c commented on #14702
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-06-07 16:41] jmalacho commented on #15279
@sivel Thank you. You are ofcourse correct that it was a python library dependency issue.
I uninstalled something and then did a

 It works for me now. It might be worth updating the install documentation to reflect  that (http://docs.ansible.com/ansible/intro_installation.html).  A typical yum user would expect the rpm repo (epel-testing) & dependencies to be complete. It is rare/unique that I ha

[2016-06-07 17:45] jimi-c commented on #12282
@arpit-goel could you please open a new issue for this?

[2016-06-07 17:46] jimi-c commented on #11692
@lime yes we need to re-enable failures on missing handlers/tasks/tags now that this mechanism is in place for 2.1.

[2016-06-07 17:47] antonym opened #16174 "list index out of range during fact gather"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

On Ansible 2.1, when gathering facts, for a chroot host the facts gather fails with a list index out of range exception.

Issue does not occur on previous 2.0.x versions.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should gather facts correctly.
##### ACTUAL RESULT

[2016-06-07 17:55] ericamador commented on #11175
@cjw296 It is documented at the very top of the link you posted:

[code]

[2016-06-07 18:20] jimi-c commented on #15739
Hi @TheSeanBrady, I just tested this on both devel and stable-2.1 and was unable to reproduce it. I even checked out `v2.0.0.2-1` and was unable to reproduce it, so I'm not quite sure where you may have been seeing this or what may have caused it in your case.

As such, we're going to go ahead and close this now. If you continue seeing any problems related to this issue or if you have any further

[2016-06-07 18:20] #15739 closed, assigned to jimi-c

[2016-06-07 18:38] mhenniges commented on #5463
+1, same boat here, its making using the aws related modules very difficult with any sort of templated or complex var...

I've been messing around with just slipping this filter in certain assignments of dictionaries:

def force_cast_to_int(thing):
  casted_dict = dict()
  for k,v in thing.iteritems():
    if isinstance(v, basestring):
      try:
        casted_dict[k] = int(v)
      except ValueE

[2016-06-07 18:40] #15700 closed, assigned to jimi-c

[2016-06-07 18:42] jimi-c commented on #15700
# Closing This Ticket

Hi @dcodix, I've reverted 7ba790bbaf5059fb5a858227b7b1e5f852a1a288 (which was the cause of this) and also cherry-picked that to stable-2.1 so this will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https:/

[2016-06-07 19:18] dennisobrien commented on #11536
I'm seeing this issue with ansible 2.1.0.0 on Ubuntu 16.04

[code]

Adding this to my ansible.cfg worked:

[code]

Alternatively, changing the long AWS domain name to an IP address also fixed it, even without the change to ssh_connection.control_path in ansible.cfg.

As other's have said, this error was not apparent when running with -vvvv.  I had to copy the command in the debug output and run th

[2016-06-07 20:32] piffey commented on #16078
Ran into this today on a machine running Python 2.7.9. Upgraded to Python 2.7.11 and it unarchives the tarball properly on the other end despite the FAT header. Looks like we will just need to check Python version and run one list files function or the other.

[2016-06-07 21:02] wenottingham opened #16178 "Add intro_* doc files for non-Linux Unices"
##### ISSUE TYPE
- Feature Idea
- Documentation Report
##### ANSIBLE VERSION

[code]
##### COMPONENT NAME

docs

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The docs have 'intro_bsd' to explain notes and gotchas when using Ansible on *BSD.
https://docs.ansible.com/ansible/devel/user_guide/intro_bsd.html

There should be equivalent 'intro_*' docs for:
- Solaris
- AIX
- HP-UX

[2016-06-07 23:13] ghost commented on #13844
same with v2.1.0.0-1

[2016-06-08 00:18] abguy commented on #16048
Yes, that's it! I don't see any other ways too. It looks like this is a product issue, but not the documentation one.

[2016-06-08 00:50] andy-zhangtao commented on #15721
Yes, /opt/bin/python has setup via the toolbox on the coreos node.
I don't know what's the use of shell=true, but it works in my side.

[2016-06-08 01:37] privateip commented on #16017
merged 16148 which should address this issue

[2016-06-08 03:23] rammie commented on #11702
Experiencing the same issue in 2.1

[2016-06-08 06:37] arpit-goel opened #16183 "Inappropriate Deprecation Message"
Hi,
I'm running `ansible-playbook 2.1.0.0` and receive following warning every time I run deployment:

[code]

As far as I understand from the message, there shouldn't be variables defined with the include statement. Going to the link doesn't prove to be much help as the message in the error and content on page doesn't match.
Here is my task file:

[code]

And here's my env.yml:

[code]

Please lo

[2016-06-08 06:44] amenonsen commented on #16183
That `tag:` is the underlying problem. You probably meant `tags:`,
but it doesn't recognise `tag:` and thinks it's a variable.

[2016-06-08 08:00] nox-404 commented on #6854
I got the same changed state
:+1:  pls

[2016-06-08 08:39] michel-slm commented on #16060
Does this belong here or in `ansible-modules-core`?

[2016-06-08 08:57] skornehl commented on #6466
+1

[2016-06-08 09:00] quita commented on #14598
I experience this issue as well. (ansible 2.0.2.0)

The role goes along these lines:
(role:)

[code]

(inc.yml:)

[code]

All plays in inc.yml work as expected except the last one "clean up", which generates:

[code]

Seems as if the strategy is lazy evaluation here, i.e. `d_s = w_d_s = item.value` is evaluated late, when `item` was already reused?

[2016-06-08 09:38] Nosmoht opened #16185 "ansible_service_mgr returns upstart on RHEL 6.5 system"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Running Ansible on Archlinux to configure a RHEL 6.5 x86-64 system
##### SUMMARY

Fact ansible_service_mgr is set to upstart instead of sysvinit
##### STEPS TO REPRODUCE

[code]

Target system check

[code]

##### EXPECTED RESULTS

ansible_service_mgr should return sysvinit
##### ACTUAL RESULT

[2016-06-08 10:38] dagwieers opened #16186 "Proper reboot module as action plugin"
##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME
reboot

##### ANSIBLE VERSION
v2.5

##### SUMMARY

It would be very useful if Ansible shipped a proper `reboot` module that works for all operating systems. If you see what people have to do today to reboot systems it is clear a better implementation (that works for every operating system) is in order.

The action-plugin would have the followi

[2016-06-08 11:00] panickervinod commented on #11266
+1

[2016-06-08 12:39] olfway opened #16187 "ansible failed if (other?) version of ansible installed on target host"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### SUMMARY

ansible cannot execute modules on target host, if other version of ansible installed on it
##### STEPS TO REPRODUCE

[code]
##### ACTUAL RESULTS

[code]

[2016-06-08 12:41] magnus-lycka commented on #12437
It's still in 2.1 as far as I understand.

[2016-06-08 13:02] udondan commented on #10282
It looks like this issue was scheduled for 2.1 but I don't see a related commit and it's still open. I guess it did not make it into the 2.1 release?

[2016-06-08 13:21] bcoca commented on #16183
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-08 13:21] #16183 closed, assigned to nobody

[2016-06-08 13:50] bcoca commented on #16186
cc @nitzmahone

[2016-06-08 13:51] bcoca commented on #16186
I would expand it to a 'power' module that also does on/of, not sure if anyone wants to mess with runlevels, but that might also fit

[2016-06-08 14:17] bcoca commented on #16185
Your change will result in incorrectly identifying as sysvinit for upstart systems, as /etc/init.d exists on these for backwards compatibility.

Also, upstart is the correct value for RHEL6 systems, that is what they ship with.

[2016-06-08 14:17] #16185 closed, assigned to nobody

[2016-06-08 14:22] stravid opened #16189 "Lookup password returns password including the salt - regression from 1.9"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

(Disclaimer: I already [asked on the mailing list](https://groups.google.com/forum/#!msg/ansible-project/TRttzH0jJ54/7P9dKVmXAQAJ) but nobody seemed to take interest in the problem.)

The password produced by a create user task cannot be used somewhere else since `lookup` re

[2016-06-08 14:49] dagwieers commented on #16186
Right, I was wondering about that, however power on/off is less clear-cut.
- if the system is turned off how is Ansible supposed to continue the playbook ?
- power-on often requires special hardware, or hypervisor support (or wake-on-lan)
- hibernation and sleep are also possibilities

But I don't think these represent common use-cases, whereas rebooting is a common practice to activate security p

[2016-06-08 15:15] phibos commented on #16016
Any information if this is a bug or if this is how ansible will handle role vars in upcoming releases?

[2016-06-08 15:22] #15523 closed, assigned to jimi-c

[2016-06-08 15:44] jimi-c commented on #15523
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-06-08 16:08] dagwieers commented on #15547
Jup, this is rather annoying. I don't think Ansible should be guessing why the user is doing something or giving advice on doing something better, how well intended it may be, it may be misguided.

[2016-06-08 16:30] nocive commented on #13825
bumped into this again after another try at migrating my codebase to ansible 2.x

[2016-06-08 16:40] tima commented on #13825
@nocive and others: This issue was closed some time ago and isn't going to get the attention of the core developers.

[2016-06-08 16:44] nocive commented on #13825
@tima fair enough, im still gonna rant about it anyway.

[2016-06-08 17:30] nitzmahone commented on #16186
Yeah, I built both Windows and *nix versions of this action a long time ago for a customer- finally polished  up the Windows one and shipped for 2.1, but I'm still not thrilled with the implementation. I considered trying to make it OS/connection agnostic, and for the most part, it probably could be...

The hardest parts about doing this for *nix are that reboot/shutdown command options seem to di

[2016-06-08 18:11] jimi-c commented on #14598
Hi @r0bj / others, just tested this on devel and stable-2.1 and (after fixing an unrelated bug) I see this is working as expected now:

[code]

Note that with the new `loop_control` option introduced in 2.1, doing the above is quite a bit easier now and you can avoid the set_fact step. If you continue seeing any problems related to this issue, or if you have any further questions, please let us kn

[2016-06-08 18:11] #14598 closed, assigned to jimi-c

[2016-06-08 18:28] dagwieers commented on #16186
@nitzmahone Interesting that you already have done this. The delay could be self-imposed by the action-plugin if the command would not support this (or if it is less than 1min). A long delay is useful to warn users. A notification would be optional (and may not be supported by the command). It could be implemented on top and executed by the action plugin. (i.e. powershell stuff on Windows).

So no

[2016-06-08 18:29] jladdjr opened #16191 "get_url module fails to download url: AttributeError: 'function' object has no attribute 'urlsplit'"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

In the `stable-2.1` and `stable-1.9` versions of ansible, I am able to download `http://www.google.com` using `ansible -vvv localhost -i inventory -m get_url -a 'url=http://www.google.com dest=/tmp'`. On the devel branch, though, I'm seeing the following error:

`Attri

[2016-06-08 18:37] gagomes commented on #11702
@fernando-villalba  @boedah  @rammie

Could you please post a sample playbook to help reproduce the issue and/or provide more details of your problem?

Things that may help speedup fixing this issue:
- Stack Traces
- The file size in bytes of the file that lead to this issue
- A sample playbook

[2016-06-08 18:40] jladdjr commented on #16191
This issue does have an impact on Tower testing. Our Tower installs fail on all platforms (ubuntu 12/14, centos 6/7, rhel 6/7, oracle linux 6/7) at the point where we try to download a tarball containing the tower installer. Sample failure [here](http://jenkins.testing.ansible.com/me/my-views/view/Dashboard/job/Test_Tower_Install/ANSIBLE_NIGHTLY_BRANCH=devel,PLATFORM=rhel-7.2-x86_64/4608/console).

[2016-06-08 18:51] nhooey commented on #11266
Please stop adding useless `+1` messages and notifying everyone. Use GitHub's "reaction" feature instead. @yeorc @panickervinod @paulmcgoldrick @spiette

[2016-06-08 18:52] nhooey commented on #6466
Please stop adding useless `+1` messages and notifying everyone. Use GitHub's "reaction" feature instead.
@Wtower @skornehl @gniltaws

[2016-06-08 19:00] basictheprogram commented on #14710
@nitzmahone Do you still need the callback_plugin stuff or the sitecustomize.py to make devel work with Window or am I dealing with a regression?

Grabbed one of those free 90 day Windows 7 workstations images, spun it up, upgraded Powershell to v3.0, ran the ConfigureRemotingForAnsible.ps1, disabled the firewall,  configured a password for the local Administrator.

[code]

Inventory files

[code]

[2016-06-08 19:06] aguynamedjoetoo commented on #14710
@basictheprogram

Did you set the option `ansible_winrm_server_cert_validation` to `ignore` in your Ansible config?

[2016-06-08 19:07] basictheprogram commented on #14710
In ansible.cfg? I have it in my host_vars, let me move it to ansible.cfg.

$ grep winrm ansible.cfg ansible_winrm_server_cert_validation = ignore

[code]

[2016-06-08 19:20] mattclay commented on #16191
When this is fixed the test_get_url integration test should be updated to cover this use case.

[2016-06-08 19:21] sherl0cks commented on #16060
@michel-slm this is my first time opening an issue in the ansible world. Just looked over at the `ansible-modules-core` repo and that does appear to be the right place. I'm happy to move this ticket, but it would be good to get confirmation from a maintainer that such a move would actually be useful and not just cause extra work.

[2016-06-08 19:22] nitzmahone commented on #14710
No, the connection arg overrides have to be in inventory.

What versions of Ansible and pywinrm are you using? pywinrm>=0.1.1 should work (0.2.0 is the latest), and I tested all that stuff back to Ansible 1.9.5 (but it won't work before that).

[2016-06-08 19:24] basictheprogram commented on #14710
Ansible version

[code]

pywinrm

[code]

Putting ansible_winrm_server_cert_validation = ignore into host_vars the same as putting it into the inventory file?

[2016-06-08 19:32] nitzmahone commented on #14710
Interesting- looks like a bug where the psuedo-connectionvar (ansible_winrm_server_cert_validation) isn't getting picked up from a nested host_vars file defined that way... If I add it to the top level inventory file at either host or group level, it works fine. We're hoping to change the way that's implemented for 2.2 anyway (it's a nasty hack right now), but see if that gets you going.

[2016-06-08 19:35] raittes commented on #12170
+1

[2016-06-08 19:54] sivel commented on #11702
Please note that when using `fetch` on a large file this can happen, and there are notes documenting this on the docs page for `fetch` along with information on how best to get around it (http://docs.ansible.com/ansible/fetch_module.html)

[2016-06-08 19:59] chrismeyersfsu opened #16193 "{{ var_exists |default('') }} role variables always evaluates to default('')"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Passing variables to roles from inventory-defined variables always results in the `|defaul('')` case; even when the variable exists.
##### STEPS TO REPRODUCE

http://filebin.ca/2jzNVNZXgpJ1/inventory_all_vars.tar.gz

##### EXPECTED RESULTS

For the variables defined in the inven

[2016-06-08 20:05] lqueryvg opened #16194 "ansible ad-hoc cli command does not respect `bin_ansible_callbacks`"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible CLI

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

`export ANSIBLE_STDOUT_CALLBACK=dsh`
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The Ansible ad-hoc CLI command (simply called `ansible`) does not respect the setting of the `ANSIBLE_STDOUT_CALLBACK` environment variable. This makes it impossible to customise the output using my own c

[2016-06-08 20:06] sivel commented on #16193
I cannot duplicate this in 2.0+, but can in 1.9.  In 2.0, 2.1, and devel:

[code]

[2016-06-08 20:08] bcoca commented on #16194
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-08 20:09] h0nIg commented on #15939
see google groups discussion: https://groups.google.com/forum/#!topic/ansible-devel/--HRQQ9vo8A

[2016-06-08 20:10] bcoca commented on #16193
role parameters don't have access to the inventory?

[2016-06-08 20:13] bcoca commented on #16193
tested and get same as @sivel,  only ones that are "" are the ones that are undefined or empty  (foobar_foobar, which depends on non existent foobar)

[2016-06-08 20:16] basictheprogram commented on #14710
Added it to group_vars/all

[code]

Same error. Added to host_vars/win7-90day.yml

[code]

I know Ansible is picking up some of the variables. If I change ansible_user: Administrator2 I see Ansible attempting to authenticate as Administrator2

[code]

[2016-06-08 20:16] zivester commented on #13876
Not sure if just a coincidence, but I was seeing this issue heavily on 16.04 but almost always (maybe even only?) when utilizing the `command` module.  When I switched to an equivalent `file` module version of `mkdir -p`, I stopped seeing this issue.  FWIW I wiped out all `.ansible/` directories (on target hosts), but that didn't solve it for me.

[2016-06-08 20:20] nitzmahone commented on #14710
Yeah, this is a post-2.1 inventory regression (I'm investigating now)- non-connection vars defined in group/host_vars dirs don't appear to be making it to the worker processes.

I'm able to get it working on devel by defining in the top-level inventory file (eg, hosts.ini or whatever) as a group var or host var.

[2016-06-08 20:28] basictheprogram commented on #14710
My version is "todays" git pull of devel so if I understand you right adding ansible_winrm_server_cert_validation to group_vars/all should allow things to work. That is not the case.

[2016-06-08 20:30] nitzmahone commented on #14710
No- a top level ini inventory file (something as simple as):

[code]

The issue appears to be that some of the group_vars/host_vars resolution got moved past the fork boundary, so the connection workers aren't seeing all the inventory vars.

(leaving the rest of your inventory intact, as the connection vars themselves are getting passed explicitly)

This is definitely a recent devel bug (works fin

[2016-06-08 20:40] basictheprogram commented on #14710
Yes, that works. Thank you for the detailed explanation.

[2016-06-08 20:47] zhaojack opened #16195 "Running python scripts with command or shell modules ends up adding the cwd into sys.path"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Issue was observed when the `-i` flag was used with `sudo_flags`, but only because this caused the current working directory of the remote script to become the user's home directory, which was dirty and contained random files like `subprocess.py`
##### OS / ENVIRONMENT

rhel6.6
rhel7.2
##### SUMMARY

When running a p

[2016-06-08 21:34] lqueryvg commented on #16194
Hi @bcoca , well I've just posted on the "user" forum [here](https://mail.google.com/mail/u/0/#inbox/15531b4965ead895) as you ask, but I don't think this is a "user question" for the following reasons:
1. `bin_ansible_callbacks` does not work (and from the code I can't see how it _can_ work) - if it is supposed to, then perhaps _that_ is the bug - and I should raise a separate issue ?
2. I believe

[2016-06-08 22:57] taylorreece commented on #16025
I'm running into a similar issue that I believe is related (not with delegation, but with the winrm connection plugin itself).  I copied plugins/connection/winrm.py from stable-2.1 and modified it slightly for my purposes (I use SSH tunnels to access remote windows boxes).

Anyways, the plugin works for the stable-2.0 branch (version 2.0.2.0), but does not work in stable-2.1 (version 2.1.0.0).

Wi

[2016-06-08 23:23] #15735 closed, assigned to jctanner

[2016-06-08 23:27] capsloth opened #16197 "unarchive module fails with zip files"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### UNZIP VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

unarchive module fails to extract zip files that contain files whose name has spaces in it, like the file named "CPL - cpl1.0.txt".
##### STEPS TO REPRODUCE

Download [jboss-5.1.0.GA-jdk6.zip](https://sourceforge.net/projects/jboss/files

[2016-06-09 00:04] bcoca commented on #16194
Sorry, i did not look at code but knew that both settings needed to be set before this was used, since you made no mention of either problem in the initial issue It was the logical conclusion that the issue was the missing setting.

[2016-06-09 00:49] jctanner commented on #15769
@aabdnn we only marked it 2.1 to note that we want to fix it in 2.1.

[2016-06-09 02:46] dmsimard opened #16199 "Ansible destructive tests should require sudo privileges when required"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

2.1
##### CONFIGURATION

Not relevant
##### OS / ENVIRONMENT

Not relevant
##### SUMMARY

Integration tests that clearly require superuser privileges (such as the destructive test suite) do not properly escalate privileges.
This means that running the tests as an unprivileged user, even if sudo without password is possible, will not work.
#####

[2016-06-09 02:55] jctanner commented on #15769
Does ansible hang indefinitely or does it eventually timeout and complete/fail?

I suspect you have a hung pip command and it's just not obvious by the top level ansible processes. When it's hung again, take a look at all python processes on the system.

[code]

The module script is likely the hung process which is what you should try stracing.

[code]

[2016-06-09 02:59] sivel commented on #16199
Generally speaking, and the way we run these in CI is to run make tests as a privileged user.

However should you run from a non privileged account you can use the `TEST_FLAGS` env to affect the Ansible invocations such as:

[code]

[2016-06-09 03:21] dmsimard commented on #16199
@sivel Thanks, I will try that.

[2016-06-09 05:32] cjw296 commented on #11175
@amadornimbis - thanks for correcting my blindness :-)

[2016-06-09 08:16] lqueryvg commented on #16194
No problem. I was trying to keep the problem description clean by not adding all the things I'd tried or what I'd found looking in the source code. I didn't realise you'd be so quick off the mark! I'll know better next time... ;-)

[2016-06-09 08:17] tobegit3hub commented on #16029
I don't have this issue after `pip install ansible`. Here's the version of ansible.

[code]

[2016-06-09 08:20] Nosmoht commented on #16185
WoW, after several years of using RHEL 6 i didn't notice that it uses Upstart.

Thanks for letting me know and sorry for the inconvenience

[2016-06-09 08:22] tobegit3hub commented on #16013
Same issue with Python 3.4.

[2016-06-09 08:35] aabdnn commented on #15769
Ansible hangs indefinitely. The longest we've observed was something like 10 days, and the only way to recover is to kill the process.

I have the same situation again, and this is what the process table looks like:

[code]

So there's no pip module running. Again, the last entry in the ansible log is:

[code]

[2016-06-09 09:07] aptituz commented on #10725
To the people having problem with the magic comment:
Have you double-checked that those magic comment is the very first line (literally) in your template? ansible does check for it with startswith (AFAICT) so it actually has to start the file. This way it works for me with ansible 2.1.0.0.

[2016-06-09 09:35] curaloucura commented on #7984
@einarc I feel it's very unfair to claim that "people should learn python basics first".  We are talking more about specifics of some modules than "python basics" and even experienced python developers would run into trouble like we did.

I just ran into this problem that two other former developers implemented when declaring a database password.
In the global var files everything is a string, and

[2016-06-09 09:53] jedemenge-it opened #16200 "Can't use ansible (from homebrew) after reinstalling newest version"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

I have vault_password_file set in my ansible.cfg.
##### OS / ENVIRONMENT

Mac OS 10.11.5 / Ansible is installed via Homebrew
##### SUMMARY

I can not run ansible-playbook, always get error "ERROR! Unexpected Exception: 'EntryPoint' object has no attribute 'resolve'"
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2016-06-09 10:26] varunpalekar commented on #11311
@alikins May be problem is due to handler runs variables. Second time handler won't get updated to new variable.

[2016-06-09 11:13] dagwieers opened #16202 "There is no become_method for Windows/WINRM/Powershell"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

v2.1
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Windows 10
##### SUMMARY

If you have a user with no password (autologon) and you want to run something as this user (through the Administrator account), ansible uses the Administrator password automatically as the user password (because we pressed ENTER on the prompt, so it assumes the s

[2016-06-09 12:00] mscherer commented on #16060
yeah, I think it should go on ansible-modules-core.

[2016-06-09 12:00] mscherer commented on #16197
That's a duplicate of https://github.com/ansible/ansible/issues/16060 and https://github.com/ansible/ansible-modules-extras/issues/2336 , and it should be filled on ansible-modules-core

[2016-06-09 12:00] #16197 closed, assigned to nobody

[2016-06-09 12:25] sivel commented on #16200
This appears to be an issue with a homebrew vendored Python module. Since we do not support nor recommend installing Ansible via homebrew I'm going to close this out.

The recommended installation method for Ansible on Mac is to do so using pip.

[2016-06-09 12:25] #16200 closed, assigned to nobody

[2016-06-09 13:43] boedah commented on #11702
@sivel : good catch.
So it is basically a RTFM? ;)

Even if I cannot quite understand why slurp is needed if `become` is used.
Also it states:

So this would mean the error also will show up without `become` but for larger files?

I just checked the source, and it seems the checksum is calculated regardless of the `validate_checksum` option (which is only used to throw an error in mismatch).
Does

[2016-06-09 13:44] jctanner commented on #15823
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

I reproduced the issue with ansible 2.0.1 and then found it was resolved in 2.0.2 and 2.1.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.co

[2016-06-09 13:44] #15823 closed, assigned to nobody

[2016-06-09 13:47] jctanner commented on #15769
@aabdnn are you able to have the ansible commands run with ANSIBLE_DEBUG=1 and -vvvv ? I'm not sure if that will give us any more clues, but it's worth a shot.

[2016-06-09 13:47] bendiken commented on #16066
I just encountered this myself, on OS X 10.11.5 with Ansible 2.0.2.

@jctanner It's true that brackets are not a problem for `sftp` when they're used around the hostname; however, Ansible actually tries to use `[username@hostname]` instead of `username@[hostname]`, hence the problem.

Here's a comprehensive overview of bracket support in SFTP--the failing case is equivalent to the one that Ansible

[2016-06-09 14:13] dagwieers commented on #16099
This is a duplicate of #14923

[2016-06-09 14:13] bcoca commented on #16174
can you show the contents of your /etc/mtab on the target machine?

[2016-06-09 14:15] jctanner commented on #16199
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In particular, we believe you have said:
- destructive tests should become privileged user as required

However, however what is happening is that:
- The tests were designed to be run as a

[2016-06-09 14:15] #16199 closed, assigned to nobody

[2016-06-09 14:18] bcoca commented on #16099
closing as dupe

[2016-06-09 14:18] #16099 closed, assigned to nobody

[2016-06-09 14:22] curaloucura commented on #7984
I got into a similar situation and I guess it would be a fair solution to point out that 'None' behavior under YAML Syntax doc. Coming from INI files, we expect that empty values would render empty strings.

[2016-06-09 14:22] chrismeyersfsu commented on #16193
This is only a problem on 1.9, not 2.0. Below is the output from 1.9.

[code]

[2016-06-09 14:35] bcoca commented on #16193
so tried again and in 'clean room', i can reproduce in 1.9.7 but not in 2.0+, this seems related on how roles get processed, which changed in 2.0

[2016-06-09 14:35] antonym commented on #16174
@bcoca

[code]

[2016-06-09 14:46] aselshamy commented on #16048
I'm having the same issue, with 2.1.0.0-1ppa~trusty. please fix.
- name: postgresql - create user
  become: yes
  become_user: postgres
  postgresql_user:  user={{ db_username }}
                    password={{ db_password }}
                    role_attr_flags=CREATEDB,NOSUPERUSER

[2016-06-09 14:48] sivel commented on #11702
@boedah, when using `become`, we assume that we cannot directly get the checksum of the file, due to the possibility of not having permissions to view the file.  This is because `become` does not necessarily mean using elevated permissions, it could be used for becoming another non-privlieged user.

As such, we `slurp` the file, which first reads the whole file into memory on the remote host, then

[2016-06-09 14:49] bcoca commented on #16193
After looking at this closer, this is not as much a bug as a new capability 2.0 offers that previous versions never did.

The issue happens when on role import, in 1.9, the variables are evaluated, which triggers the `|default`since the variables they depend on are not there yet.

2.x evaluates variables 'lazily', which means on role import you don't evaluate the variables, so `|default` is not tr

[2016-06-09 14:49] #16193 closed, assigned to nobody

[2016-06-09 15:05] aabdnn commented on #15769
I am indeed able to run with ANSIBLE_DEBUG=1 and -vvvv. However, I've got many hosts, and not all have disk space to keep so much verbose logging. I've enabled this on one host now, and may extend it to a few more to see if the bug happens again. Also, since it's so sporadic, there's no guarantee of when I will have something useful to report.

[2016-06-09 15:13] antonym commented on #16174
Can confirm that the patch resolves the exception.  Thanks!

[2016-06-09 15:53] okgemaltoprg commented on #13366
+1
Ansible 2.1.0.0

[code]

Result:

[code]

More or less the same happens with the replace module. I suspect my regex, however, I couldn't find the correct one.

[2016-06-09 16:08] chrismeyersfsu commented on #16193
The above was a simplified example. My end goal is to run a task, conditionally, based on the variable "passed" (templated) to the role-specific variable.

For example:
`role_name_variable: {{ variable }}` <-- I want conditionally execute a task if `variable` is provided. I want to determine this through examining `role_name_variable`. The role reference `variable` in any way because the user can

[2016-06-09 16:10] earzur opened #16207 "to_yaml/templates white spaces are stripped from variables when expanded, which breaks yaml generation"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

##### SUMMARY

When variables are expanded in templates, leading whitespaces are stripped from the strings, which breaks any attempt at using the `to_yml` filter.

I need to generate a YML file template, and i'm trying to substitute a variable in bulk to a YML block inside the template

[2016-06-09 16:22] jctanner commented on #16191
This is the workaround ...

[code]

Trying to understand why from ansible.module_utils.six.moves.urllib.parse import urlparse, urlunparse from urls.py is now overwriting the namespace for this code.

[2016-06-09 16:39] jctanner commented on #16191
Second try:

[code]

[code]

[2016-06-09 16:44] pierreant-p commented on #14292
@hidekiy I tried your workaround it doesn't work for me :(

My policy is

[code]

and my task is

[code]

Any idea by any chance?

[2016-06-09 16:58] bcoca commented on #16193
that won't work cause the undefined issue is with the internal variable, you need:

[code]

[2016-06-09 17:00] bcoca commented on #16193
an alternative is in defaults/main.yml

[code]

[code]

[2016-06-09 17:10] jakubgs commented on #10911
This issue is affecting me as well. I even explicitly added `force: yes`. What the?

[2016-06-09 17:17] jakubgs commented on #10911
Ok, my mistake. Wrong path.

[2016-06-09 17:25] #16191 closed, assigned to abadger

[2016-06-09 17:27] justinlocsei opened #16209 "Variables set in role dependencies show different behavior in the parent role based on the Ansible version"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Mac OS 10.11 for the control machine, CentOS 6.8 for the target
##### SUMMARY

When a parent role includes another role as a dependency, and overrides the child role's default values using parameters, variables (as defined in `vars/` files) in that child role that reference the defaults are calculated properly in t

[2016-06-09 17:49] chrismeyersfsu commented on #16193
The pre-define `foobar_xxx` "trick" doesn't work :(

[2016-06-09 18:25] mwardRH opened #16211 "docker_container state present"
##### ISSUE TYPE

##### ANSIBLE VERSION

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Remove old container and run container again.
##### ACTUAL RESULTS

[code]

[2016-06-09 18:38] jlaska commented on #15854
@sivel the environment variable `CLOUD_VERIFY_SSL` should also allow us instruct pyrax to disable `verify_ssl`?

[2016-06-09 18:49] sivel commented on #15854
@jlaska that does appear to be the case looking at the source of pyrax.  I've never personally used that env var before, but it seems it should work.

[2016-06-09 19:05] #16174 closed, assigned to bcoca

[2016-06-09 19:20] taylorreece commented on #16025
New information: it appears that this commit broke it:
https://github.com/ansible/ansible/commit/0ba9a6a8756745dc6c486eaca92af583a89c228d

If I revert my repository to the commit just before this one, my winrm plugin works fine.  Including this commit results in a 'host' object passed in to set_host_overrides(self, host) to contain no host_vars.

[2016-06-09 19:22] taylorreece commented on #16025
@aperigault -- try reverting your git checkout by a few commits:
$ cd {{ your_git_repo_directory }}
$ git reset --hard 7287eff
$ sudo python setup.py install
$ {{ Run your playbook }}
Win?  If it works for you prior to that commit, then we'll have two data points to indicate that 0ba9a6a caused some issues with host_vars.

[2016-06-09 19:35] rmauc opened #16213 "Ansible Vault Documentation Update"
##### ISSUE TYPE

- Documentation Report

##### COMPONENT NAME
vault documentation

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Can you add some example syntax for the vars file and vars_vault file for your Ansible Vault Best Practises here --> http://docs.ansible.com/ansible/playbooks_best_practices.html#variables-and-vaults

[2016-06-09 19:44] oolongtea commented on #14426
In `ansible.cfg`, the following has fixed the issue for 10+ server deploys using ansible 2.0.1.0:

[code]

[2016-06-09 20:10] nitzmahone commented on #8085
since we've got win_reboot now, I'm going to close this

[2016-06-09 20:10] #8085 closed, assigned to nobody

[2016-06-09 20:30] jctanner commented on #15839
I started the test case by doing the following on the remote host to break sftp
- mv /usr/libexec/openssh/sftp-server /usr/libexec/openssh/sftp-server.bak
- service sshd restart

Then I ran this testcase ...

[code]

Results ...

[code]

[2016-06-09 20:31] jctanner commented on #15839
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

Testing this on the version you have specified, we cannot reproduce this problem.

Our reasons and evidence for this are:
- Testcase outlined above.

And we suggest that:
- Use -vvvv with ansible-playbook to capture the connection information so that we can see the sftp/scp mode changing between items.

As such

[2016-06-09 20:31] #15839 closed, assigned to nobody

[2016-06-09 20:48] Rucknar commented on #15903
For reference, we've run this update in against vCloud Director 5.5

[2016-06-09 20:58] sherl0cks commented on #16060
@mscherer closed in favor of https://github.com/ansible/ansible-modules-core/issues/3905

[2016-06-09 20:58] #16060 closed, assigned to nobody

[2016-06-09 21:03] nitzmahone commented on #16207
This isn't really an Ansible issue, but have a look at the [indent filter](http://jinja.pocoo.org/docs/dev/templates/#indent).

[2016-06-09 21:03] #16207 closed, assigned to nobody

[2016-06-09 21:37] s-mcf opened #16215 "delegate_to with synchronize forgets ansible_user"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
synchronize module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
host_key_checking = False

##### OS / ENVIRONMENT
Fedora 23

##### SUMMARY
Doing a remote-to-remote push requires using delegate_to. When using synchronize on a host with ansible_user set, and using delegate_to to copy from a second host, Ansible fails to set the remote user for

[2016-06-09 21:39] emanation commented on #15084
This is still same with Ansible 2.1
I cannot really use same role more than one time if handler looks like

[code]

`docker_varnish_container_name` variable is different each time I call this role like this in playbook

[code]

But it stops container with name that has been defined as very first in playbook.

I tried to use variable in handler's name but they are not triggered at all in that case.

[2016-06-09 21:42] tinproject commented on #16066
Reading the sftp/ssh man pages brackets are used by ipv6 addresses and patterns.

@jctanner I don't think the problem is that the address is presented to sftp between enquoted brackets, but surely why the sftp address is enquoted and bracketed, and the ssh address is not, it's related to the spurious problem of unreached hosts.

[2016-06-09 21:55] yeago commented on #7235
I can confirm none of this works as of 2.0, with an extra fun error that SSH_AUTH_SOCK doesn't exist in some cases. In every case I've had to either A) run ansible until it fails, use some other means to attach the key to the user in question, then run again. B) Rewrite your roles with no expectation of a functioning ForwardAgent with any tasks that become_user, sudo, etc.

[2016-06-09 22:00] earzur commented on #16207
👍 thanks, indeed, i missed that filter

[2016-06-09 22:21] dagwieers opened #16216 "Raw module on Windows fails to work with simple Powershell command"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

v2.1
##### SUMMARY

A simple Powershell command that works fine in Powershell, fails to work when run through the `raw` module.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Each of the apps should be removed.
##### ACTUAL RESULTS

[code]

Apps are not removed, despite RC=0 and no output.

[2016-06-09 22:38] l0r3zz opened #16217 "setting ansible_ssh_pass in playbook broken in 2.1"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
sshpass

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default conf file in /etc/ansible/ansible.cfg
##### OS / ENVIRONMENT

Linux ussfoldevops007 3.13.0-54-generic #91-Ubuntu SMP Tue May 26 19:15:08 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
##### SUMMARY

Essentially this code:

[code]

This code worked fine under 2.0.X

But under 2.1 it sudd

[2016-06-09 22:59] dagwieers commented on #16130
You can get rid of the warning using

[code]

[2016-06-09 23:05] abadger commented on #16187
I'm unable to reproduce this.

[code]

I've tried with pip installs of ansible==2.1.0, ansible==2.0.2.0, and ansible==1.9.6 on the remote machines.

This is a problem that may have occurred with git checkouts of ansible before 2.1.0 final, can you verify what versions of ansible are present on your controller and targets when you run this?

[2016-06-09 23:07] dagwieers commented on #15547
BTW I noticed this is already possible with the option `warn`:

[code]

@bcoca I guess this can be closed ?

[2016-06-09 23:13] abadger commented on #16152
[code]

It looks like you have an older version of ansible installed on the target and the module is picking up that installation instead of the one contained in the ansiballz zip file.  We have code that's supposed to prevent that.  Can you tell me anything about how /usr/lib/pymodules/python2.7 is being added to the path?

[2016-06-09 23:18] abadger commented on #16097
I don't think ansible_executable can be used here since that's used from inside of the target and this is being used from outside of the target.

[2016-06-09 23:22] abadger commented on #16097
The code looks like it is just sanity checking that the chroot is going to be usable by us.  Perhaps we should change the check to simply pass if chroot + "/bin/sh" is a symlink instead of an executable.  ansible_executable could probably be added into the mix as well but it would be solving a separate problem than is being reported here.

[2016-06-09 23:24] errordeveloper commented on #16097
This sounds right to me.

On Fri, 10 Jun 2016, 00:22 Toshio Kuratomi, notifications@github.com
wrote:

[2016-06-09 23:25] font opened #16218 "Add state=query option for OS Packaging Modules"
##### ISSUE TYPE

- Feature Idea
##### ANSIBLE VERSION

[code]
##### SUMMARY

I would like to query for the installation status of a particular package without actually changing the state of the package on the machine. This would allow one to register a variable to act upon in some other way.

It seems the way this is generally done is to run the shell module and execute commands to determine whet

[2016-06-09 23:25] errordeveloper commented on #16097
Thank you, Toshio.

On Fri, 10 Jun 2016, 00:24 Ilya Dmitrichenko, errordeveloper@gmail.com
wrote:

[2016-06-09 23:33] infernix commented on #16152
Does this help?

[code]

[2016-06-09 23:58] rmauc opened #16220 "Trying to gather facts from F5"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A complete list of facts from the debug?
##### ACTUAL RESULTS

 ansible-playbook slf_F5_Gather_Facts.yml

PLAY [F5] **********************************************************************

TASK [F5 Gather Facts] ****

[2016-06-10 00:08] lqueryvg commented on #16194
Some code analysis...

The `bin_ansible_callbacks` variable (aka the `ANSIBLE_LOAD_CALLBACK_PLUGINS` environment variable) gets stored into `C.DEFAULT_LOAD_CALLBACK_PLUGINS` which in turn gets passed into `TaskQueueManager()` by `adhoc.py` and stored as the `_run_additional_callbacks` attribute of the `TaskQueueManager` instance.

But in `load_callbacks()` (`task_queue_manager.py`), the `_run_addi

[2016-06-10 00:31] dspruell opened #16221 "Addition of filter to quote string members in list"
##### ISSUE TYPE
- Feature Idea
##### SUMMARY

Wanted to propose a filter addition - concept is to return a list/array with member strings surrounded by quotes. Either double quotes (default) or single quotes can be used. Sample filter function shown at https://gist.github.com/dspruell/d12506b7332789f726ba487636b36c74.

[2016-06-10 03:22] willthames opened #16222 "Ansible evaluates with_items for tasks in blocks skipped by the block when condition"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

with_items is evaluated even during a skipped block - if the with_items uses a result from a previous task in the block, a deprecation error is printed:

[code]
##### STEPS TO REPRODUCE

[code]

ansible-playbook -i localhost, skip_when.yml -e run_block=False
##### EXPECTE

[2016-06-10 08:43] olfway commented on #16187
I have ansible 2.1.0.0 release on my controller machine

on the target it says "ansible 2.2.0", i guess it's snapshot from ~ 4 May 2016

[2016-06-10 09:04] thapakazi commented on #16191
@jctanner thanks :bow: mate

[2016-06-10 09:54] igreg commented on #16095
+1 is there is workaround?

[2016-06-10 10:02] igreg commented on #16095
I had the same issue and https://github.com/ansible/ansible/pull/16184 fixed the problem for me

[2016-06-10 11:12] infernix commented on #16152
Found it!

`/usr/local/lib/python2.7/dist-packages/` contained `easy-install.pth`:

[code]

Bad easy-install. Very bad.

Removed the include to /usr/lib/pymodules/python2.7 and problem went away. Sorry for the noise!

[2016-06-10 12:43] jladdjr commented on #16191
@jctanner - ditto, danke!

[2016-06-10 13:30] #14951 closed, assigned to nobody

[2016-06-10 13:37] whbos opened #16225 "win_regedit syntax error handling"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The win_regedit module fails not quite elegantly when the colon character following the registry hive is not specified ('HKCU\Software' instead of 'HKCU:\Software')
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Syntax Error.
##### ACTUAL RESULTS

fatal: [window

[2016-06-10 14:39] vladimirmartsul opened #16227 "setlocale: LC_MESSAGES: cannot change locale (en_US.utf8): No such file or directory"
Hi! I'm trying to set up Gentoo from the current install-amd64-minimal-20160602.iso with Ansible and get error about locale.

From my master host:

[code]

[code]

[code]

[code]

[code]

At the remote host side:

[code]

[code]

This issue is similar to the https://github.com/ansible/ansible/issues/12286 and I think is related to the python version too. Am I right?
Gentoo was switched to the pyth

[2016-06-10 15:06] jctanner commented on #16218
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-10 15:06] #16218 closed, assigned to nobody

[2016-06-10 15:09] jctanner commented on #16220
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-10 15:09] #16220 closed, assigned to nobody

[2016-06-10 15:11] jctanner commented on #16225
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-10 15:11] #16225 closed, assigned to nobody

[2016-06-10 15:16] jctanner commented on #16227
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:
- You need to install python2 on the remote host for ansible to be able to manage it. You will also need to define ansible_python_interpreter for the host if py2 is not the default python.

http:/

[2016-06-10 15:16] #16227 closed, assigned to nobody

[2016-06-10 15:17] dagwieers commented on #15127
Just a long shot, is it possible that _/etc/sudoers_ is immutable to force people to use visudo ?
Can you check with `lsattr` to see if this is the case ?

[2016-06-10 15:22] vladimirmartsul commented on #16227
Thanks for ansible_python_interpreter: "/usr/bin/python2" idea, it's working!

[2016-06-10 15:37] #16054 closed, assigned to bcoca

[2016-06-10 15:37] #16146 closed, assigned to privateip, Qalthos, bcoca

[2016-06-10 15:47] abadger commented on #16187
How is the snapshot installed?

[2016-06-10 15:48] #15830 closed, assigned to nobody

[2016-06-10 16:09] plat00n opened #16229 "Conditional check failed"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

ansible 2.1.0.0
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

My roles don't work in 2.1.0.0 but in 1.9 it was ok
##### STEPS TO REPRODUCE

for exemple : create one role (my own mysql in the exemple)

set (only one) variable on the invfile (the inventory file)  :
role_mysql_version=5.7
OR
role_mysql_version=5.7

Cre

[2016-06-10 16:19] ghostwords commented on #15040
@bcoca There might be a misunderstanding here ... It doesn't seem like verbosity helps pretty-print remote stack traces. For example, running a playbook with `-vvv` doesn't do anything about hard-to-read output like the following:

[code]

[2016-06-10 16:22] ghostwords commented on #15040
Pretty-printing the JSON portion produces the following, which as you can see doesn't help decipher the actual stack trace:

[code]

[2016-06-10 16:23] sivel commented on #15040
@ghostwords Your example is slightly different.  The module did not stack trace, which would have been pretty printed with `-vvv`.  The stacktrace came from pip itself, which is just part of stdout as captured by the ansible pip module.  Ansible has no way of knowing whether an underlying command stacktraced, only if the actual ansible module stacktraced.

[2016-06-10 16:27] ghostwords commented on #15040
Yep, but you can make the remote message more readable by replacing "\n" characters with actual endlines. This should be done automatically or be available as an option. As is, users have to do JSON formatting/endline replacement manually for each error.

[2016-06-10 16:29] bcoca commented on #16229
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-10 16:29] #16229 closed, assigned to nobody

[2016-06-10 16:43] bcoca commented on #15547
closing as per above

[2016-06-10 16:43] #15547 closed, assigned to nobody

[2016-06-10 16:50] datamattsson opened #16230 "docker_container unable to attach named volumes"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

Ubuntu Linux 14.04.4 source/destination
##### SUMMARY

In a 'volumes' array I would expect to use the same named volume syntax available with the docker command. Instead, docker_container creates a bind to a directory it created in cwd. I'm unable to identify if this is a bug in ansible o

[2016-06-10 17:07] bcoca commented on #16221
you can chain the existing quote and map filters to do this

[2016-06-10 17:07] #16221 closed, assigned to nobody

[2016-06-10 17:28] bcoca commented on #16222
the conditional does not apply to the block but to the tasks within

[2016-06-10 17:29] bcoca commented on #16222
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with the above.
- https://gr

[2016-06-10 17:29] #16222 closed, assigned to nobody

[2016-06-10 18:30] argais commented on #16095
#16184 fixes it for me too.

[2016-06-10 18:38] pujan14 commented on #16054
Thanks @bcoca

[2016-06-10 18:38] janzenz commented on #2303
Same issue with @aizimmer. Have you found a solution to this?

[2016-06-10 19:55] chris-west-travelex commented on #16032
For the record, this affects `ansible-pull` as well, creating `$HOME/.ansible/tmp` in pull's working directory and causing multiple `ansible-pull` calls to fail because git's working directory isn't clean. Our work-around is to nuke pull's working directory between runs, but it'd be nice for a proper fix :)

[2016-06-10 20:04] bcoca commented on #16202
no become methods are currently supported on windows (also it would be runas , not doas)

[2016-06-10 20:14] dagwieers commented on #16202
That's quite  ~~funny~~ dramatic, because:
1. None of this is documented (ie. there is no description of each method, only a list, so I assumed...)
2. The become method didn't complain or fail, it appeared to be working (but silently failing)
3. That's quite an important limitation for Windows (which is not documented either)

The dramatic part being I spend quite some time/effort on this project

[2016-06-10 20:30] marcosdiez commented on #15040
I solved the problem of the strings with \n some time ago.

I wrote this human_log.py

https://github.com/marcosdiez/ansible_human_log.py/blob/master/human_log.py

in which every time there is a string, if it contains a \n it splits into a list of strings and than uses json.dumps

I am probably the happiest man alive now.

If you guys believe this is a change that should be merged to master, I vol

[2016-06-10 20:44] larsks commented on #16032
@bcoca:

We are not passing the variable to the shell.  We are passing a variable to `os.path.expandvars`.  This is entirely an Ansible bug (because it breaks exactly the way the standard library documentation says it will break).

[2016-06-10 20:45] larsks commented on #16032
@chris-west-travelex I'm curious if the fix I proposed in https://github.com/ansible/ansible/pull/16034 looks sane to you?

[2016-06-10 21:07] olfway commented on #16187
i found in bash_history:

[code]

git describe in this workdir says:
v2.0.0-0.5.beta3-2194-g56ba103

which ansible -> /usr/local/bin/ansible

ls -l /usr/local/lib/python2.7/dist-packages

[code]

cat easy-install.pth

[code]

[2016-06-10 21:20] renekalff opened #16235 "Remote shell expansion in environment"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

allow_world_readable_tmpfiles = True
pipelining = True
##### OS / ENVIRONMENT

Host OS: OSX 10.11.5 (El Capitan)
Remote OS: Ubuntu 16.04 LTS
##### SUMMARY

Working with tools like rbenv and rvm requires adaptions of the PATH variable on the remote system. Currently this is surprisingly di

[2016-06-10 21:29] bcoca commented on #16202
Agreed, we are sorely missing in docs in this area, windows currently does not support ANY method of privilege escalation, we had plans to enable 'runas' which is the windows specific one (doas is openbsd only afaik).

I was under the impression that to use winrm users just assigned admin privileges to the user connecting, which removes most cases of needing privilege escalation.

[2016-06-10 21:32] chris-west-travelex commented on #16032
@larsks: that looks like it'll kill `ansible-pull` altogether if $HOME isn't set. i bet that'd cause problems for people who put it in cron (or cloud-init, like we do). Perhaps it's more that the proposed fix in #16034 is fine, but `ansible-pull` needs to not have a hard dependency on $HOME, as per @dmsimard's comment above.

[2016-06-10 21:35] dagwieers commented on #16202
Which means you cannot manage unprivileged users (in our case unprivileged users with no password) in Ansible. Given that we manage Windows desktops in an elementary school, almost everything we would like to manage (except software install) has to be performed as the unprivileged user...

[2016-06-10 21:42] nitzmahone commented on #16202
This _should_ have thrown an error, as we don't support any become methods over winrm yet (I've prototyped a couple different things, but nothing ready for prime-time yet). Looks like we're not calling the base Connection's `_connect()` method (where the check occurs). Fixed in https://github.com/ansible/ansible/commit/445a88d3e8af0a11b63ecb4958cb16d2a27e4716 and cherry-picked to stable-2.1.

[2016-06-10 21:44] nitzmahone commented on #16202
Ack, GH didn't refresh for me.

[2016-06-10 21:50] abadger commented on #16187
Reproduced by installing the way you specified... I think it has to do with setuptools doing its own path munging :-(  Looking into what we can do about that.

[2016-06-10 22:05] nitzmahone commented on #16202
@dagwieers I got it working with a passwordless, unprivileged user... Had to slightly modify the required password check in pywinrm (to check for None instead of `not self.password`) and add the right privs to the unprivileged user with `winrm configSDDL default`, but you would've had to do that part anyway (winrm restriction, not ours). Would that take care of your needs?

[2016-06-10 22:08] vmichnowicz commented on #12080
I was using forward slashes as well and getting this error. As @jaimess said this worked for me:

[code]

[2016-06-10 22:09] abadger commented on #16187
Yeah, it's the easy-install.pth that's messing things up.  That .pth file is injecting ansible-2.2.0-py2.7.egg into the path earlier than anything that we've already done.  setuptools is the worst :-(

[2016-06-10 22:15] nitzmahone commented on #16202
Bigger picture question: why a passwordless user instead of a passworded one with autologin?

[2016-06-10 23:41] nitzmahone commented on #14710
@basictheprogram this should be fixed in devel and stable-2.1 now (fix should ship in 2.1.1)

[2016-06-11 00:09] nitzmahone commented on #16216
Looks like a Windows bug. When I do this over basic auth, I just get success, no output, but when I do it over NTLM, Kerb, or cert auth, I get an error (the only appx packages I have can't be removed on server, so that's kinda expected). It behaves the same way doing it over `Enter-PSSession -ComputerName localhost -Authentication basic -Credential $cred -UseSSL -SessionOption $(New-PSSessionOptio

[2016-06-11 00:09] #16216 closed, assigned to nobody

[2016-06-11 01:40] fulminemizzega opened #16236 "Lineinfile drops empty file with ansible-playbook --check (dry run)"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Running on Fedora 24, managing Centos 7
##### SUMMARY

This playbook executes a task with module lineinfile. When running the playbook with ansible-playbook -C, ansible creates an empty dest file. The dest file does not exists before ansible-playbook dry run.
##### STEPS TO REPRODUCE

Run ansi

[2016-06-11 02:48] chouseknecht commented on #16211
Mover to the correct repo -->https://github.com/ansible/ansible-modules-core/issues/3927

[2016-06-11 02:48] #16211 closed, assigned to chouseknecht

[2016-06-11 06:06] whbos commented on #16225
Hi,

Just 'moved' this to https://github.com/ansible/ansible-modules-extras/issues/2412. Thanks!

Regards

[2016-06-11 18:01] joaocc commented on #13937
Hi.
It doesn't seem to be solver on 2.1.0.0 on Ubuntu and OS-X.
Strangely enough, it works on Alpine 3.4

[code]

[2016-06-11 18:25] jean-christophe-manciot opened #16237 "Playbook defined variables are lost within roles"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

roles_path    = /etc/ansible/roles:/home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/roles
fact_caching = redis
fact_caching_timeout = 86400
ANSIBLE_HOSTS=./hosts
##### OS / ENVIRONMENT

Ubuntu 16.04 4.4.0-24
##### SUMMARY

A few variables are imported inside a playbook which then calls the role."ios_pull_

[2016-06-11 20:35] abadger commented on #16152
EDIT:  Thanks!  easy-install.pth may be the clue we need!

I've just been working on this ticket: https://github.com/ansible/ansible/issues/16187   It _may_ be pertinent to this problem but it's hard to tell as the symptoms are mostly different. (My theory is that the symptoms are different because of different versions of ansible installed on the target machine).

Try the pull request that fixes

[2016-06-11 20:44] thorsummoner commented on #14635
there should be a configuration option to allow become_user to imply become: yes

[2016-06-11 20:47] thorsummoner commented on #14536
lets give become a better api with what we have then,
`become: specified`, (also as a configuration option) when become_user is set, become that user, otherwise don't become
`become: True`, become specified user, or root (like normal)
`become: no`, become_user will be ignored like normal, do not become root

[2016-06-11 22:56] passw0rd123 commented on #14563
Same Problem on Solaris 11.3 (x86) on Ansible **2.1.0.0** while 1.9.6 still works

I added a sample playbook and the verbose+debug logs for 2.1 and 1.9 to a gist:
https://gist.github.com/passw0rd123/c1475ea4088f43427543119dca7a13f1

[2016-06-12 00:12] abadger commented on #16195
@zhaojack Take a look and see if that pull request fixes things for you?

[2016-06-12 00:50] abadger commented on #16097
@errordeveloper give that Pull Request a try and see if it solves the problem for you.

[2016-06-12 00:55] abadger commented on #16152
Sorry about the earlier comment -- github apparently only updates the thread in my browser some of the time.  I didn't have your comment on easy-install.pth yet.  the easy-install clue makes it look even more likely that  #16238 will fix this problem.  So hopefully with that change applied things will work even if the easy-install.pth is present.

[2016-06-12 03:04] ghost opened #16241 "ansible serial do not continue when one host failed in v2.1"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Centos 6.5
##### SUMMARY

In the 2.1 version, set serial to 10, if one host fails, then the next round will not execute after execution.
This problem does not exist in 2.0.1.0
##### STEPS TO REPRODUCE

[code]

host has 10 hosts:
172.16.105.1
172.16.105.2
172.16.105.3
172.16.105.4
172.16.105.5
172.16.105.6
172.16.1

[2016-06-12 06:50] dejayc commented on #8733
@fcntl Woooosh... That's the sound of @axos88 's point going right over your head.

[2016-06-12 07:05] dagwieers commented on #16216
I wouldn't close this, because we haven't found the cause or a solution for a known problem.

[2016-06-12 07:07] dagwieers commented on #16216
Is there a document explaining cert auth with Ansible ? I am interested in pursuing this.

[2016-06-12 08:41] alex-leonhardt commented on #13594
updated to latest version of apache libcloud (and ansible) and at least i'm no longer getting the same error message..

[code]

and fwiw, with correct time (local host's time) & cred settings, all seems to work fine now ...

[2016-06-12 08:57] cwhsu1984 commented on #15706
+1

ansible 2.1.0.0

With root account and ssh key, it works

[code]

With normal user account, it doesn't work

[code]

This is pretty strange because I am sure that my account could access the server via ssh!

[2016-06-12 12:47] nusenu commented on #14829
Still broken in v2.1.0.0-1

[2016-06-12 14:00] haiya512 opened #16242 "with a parameter tasks will dault not be evalueted, not the --skip-tasks"
##### ISSUE TYPE

- Feature Idea
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

centos6.6
##### SUMMARY

i have give every task a tag. i can use --skip-tags to eascape some tasks, so that they may not be evalution.
But sometimes I forgot to add --skip-tags, some the should not be evaluated task evaluted. Do the task hava charaters that when i use it, the task with that

[2016-06-12 16:30] infernix commented on #16152
NP. PR #16238 fixes it for me (commit 0bc6fa337c3a43327cb55e895b52eca2214bf202) :+1:

Thanks!

[2016-06-12 17:43] basictheprogram commented on #14710
I testing using devel branch. I assume the fix found its way into devel? Got a commit llink?

[2016-06-12 17:52] ghost commented on #16241
# playbook_executor.py

for batch in self._get_serialized_batches(new_play):
                            if len(batch) == 0:
                                self._tqm.send_callback('v2_playbook_on_play_start', new_play)
                                self._tqm.send_callback('v2_playbook_on_no_hosts_matched')
                                break
                            # restrict the inventor

[2016-06-12 19:49] jhawkesworth commented on #14710
I'm guessing the commit link is https://github.com/ansible/ansible/commit/445a88d3e8af0a11b63ecb4958cb16d2a27e4716 - however my test rig, updated to latest devel 14 hours ago is currently attempting ssl connection for windows hosts which have previously worked, so I think there might be more to this.  I'll investigate further as time allows, but I have found I can force it by setting '-c winrm' on

[2016-06-12 20:12] nbering commented on #11921
I'm having the same problem and running 2.2.0 installed from source. My play will randomly fail with "ohai_etc" is undefined.

While developing my play I'm seeing this maybe once in every 5 runs. No consistent pattern to when it fails.

I might just look for another source of the facts I need or write my own simple fact-gathering module, but I felt I should report it. I'm open to testing things ou

[2016-06-12 20:18] nbering commented on #11921
On a hunch I decided to try running the ohai module directly. Most of the time if worked fine, but every once in a while I get this:

[code]

Looks like the setup module was silently hiding the error from the ohai module.

[2016-06-12 20:31] dagwieers opened #16243 "Client certificate authentication with WinRM needs documentation"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

v2.1
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

RHEL 6.8
python-2.6.6
pywinrm-0.2.0
ansible-2.1.0.0
Windows 10
##### SUMMARY

I cannot make certificate authentication work with WinRM and Windows 10.

After generating the right files, adding them to the Certificate store on Windows 10 and providing them to Ansible/pywinrm I get the belo

[2016-06-12 22:44] hlieberman opened #16244 "ansible-console missing manpage"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

ansible-console missing manpage
##### STEPS TO REPRODUCE

N/A
##### EXPECTED RESULTS

The command ansible-console should ship a manpage.
##### ACTUAL RESULTS

N/A

[2016-06-12 23:38] jctanner commented on #16230
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-12 23:38] #16230 closed, assigned to nobody

[2016-06-12 23:47] jctanner commented on #16236
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-06-12 23:47] #16236 closed, assigned to nobody

[2016-06-13 00:03] fulminemizzega commented on #16236
Hello, sorry for the mistake, I hadn't seen the guidelines about bug reporting for ansible in the docs. This is the new bug report: [https://github.com/ansible/ansible-modules-core/issues/3939](url)

[2016-06-13 03:07] jimi-c commented on #15884
This is fixed by the patch which also fixes https://github.com/ansible/ansible/issues/15084

[2016-06-13 05:05] MrMMorris commented on #14860
would love to see this. I use the citadel lookup plugin for secrets, but they are exposed during playbook runs.

This was a useful feature in Chef, called `sensitive`: https://docs.chef.io/resource_common.html#properties

[2016-06-13 06:13] raghavayamsani opened #16246 "Is it possible to generate Inventory from CMDB (Configuration Management Database)"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION

ansible-1.9.4
##### OS / ENVIRONMENT

Redhat 6.5
##### SUMMARY

I'am planning to generate dynamic inventory file from configuration management database system. Is it possible to write a script,so that when i run ansible playbook it should pick up inventory from database.
If it is successful then i have a plan of generating the variables from d

[2016-06-13 06:55] talonx commented on #16246
This should ideally be in the mailing list.

[2016-06-13 07:59] m1au commented on #15547
Thanks

[2016-06-13 09:07] chusiang commented on #15706
Maybe you can check your **ssh_connection** option at `ansible.cfg`. I has same problem with setting `ssh_config`.

it's working after I add **ssh_connection** option. now.
- ssh_config.

[code]
- inventory file.

[code]
- ansible.cfg

[code]

## Reference
- [Wrong error message when unable to connect via ssh · Issue #12916 · ansible/ansible](https://github.com/ansible/ansible/issues/12916)

[2016-06-13 09:31] stxyzth opened #16248 "seboolean fails on ansible but enables/disables on node"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
seboolean module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default cfg.

##### OS / ENVIRONMENT
CentOS 6.7 (Not tested on CentOS 7 yet)

##### SUMMARY
When I run the seboolean to enable or disable http access to remote db it fails despite it actually performing the task. Of course due to Ansible failing it'll cut off the playbook and there

[2016-06-13 09:39] lvmeng8 commented on #16141
I know, because I use 'mutiprocessing' module in flask app. In my app, I use ansible.

[2016-06-13 09:59] thmshmm commented on #12344
What if mysql is undefined? I get a deprecation warning.

[2016-06-13 10:31] ghost commented on #12997
We also experienced a huge performance drop when upgrading Ansible 1.9.x to 2.1.0, which was related to large yml variable files included. In our case, the performance drain was caused by the `deepcopy` introduced here: https://github.com/ansible/ansible/commit/d9833f227fb016563c389edb9fe5857feb6d5405 (the code was later moved here: https://github.com/ansible/ansible/blob/devel/lib/ansible/parsing

[2016-06-13 11:15] domdom82 commented on #3521
Got a regression of this problem in ansible 2.0.2.0 over at Openwhisk https://github.com/openwhisk/openwhisk/issues/632

I can reproduce this problem with the following setup:

[code]

where the playbook `couchdb.yml`looks like this:

[code]

This leads to the following error message:

[code]

[2016-06-13 11:19] boedah commented on #11702
@sivel thanks, understood.

Would it be possible to check beforehand if a file is readable?

[2016-06-13 11:23] jokurz opened #16249 "Unprivileged become on HP-UX/UNIX does not work"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

remote_user = ansible
##### OS / ENVIRONMENT

Ansible Host: SUSE Linux Enterprise Server 12 SP1
Managed Node: HP-UX B.11.31 U ia64
##### SUMMARY

Executing a play task with `become`on HP-UX fails with following error message:

[code]

This is due to the fact that a `chown` on HP-UX (probably all UNIX systems) behaves

[2016-06-13 12:23] sivel commented on #16246
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-13 12:23] #16246 closed, assigned to nobody

[2016-06-13 12:37] plat00n commented on #16229
Hello, ok so i have created one topic this morning on the google mail list.
I can't see my topic :( can you approved it ? Thanks

[2016-06-13 13:38] jean-christophe-manciot opened #16250 "[Enhancement] Restrict the scope of variables pulled in from the roles/<role-name/vars section of a role only to that role"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION

[code]
##### SUMMARY

From Ansible [documentation](http://docs.ansible.com/ansible/playbooks_variables.html#variable-scopes):

[code]

I find that this:
- is confusing because unnecessary
- lays the ground for potential issues between identically named variables between different roles which can be written by different teams

So my proposal is

[2016-06-13 14:10] alikins commented on #16248
Looks like this may be a bug in the seboolean module, so may need to move the bug report to ansible/ansible-modules-cores.

[2016-06-13 14:27] stxyzth commented on #16248
Apologies, I would make the same assumption that it is a fault on a core module as other seboolean's work in the same play.

I can add an issue there unless you're planning to just move this one.

[2016-06-13 14:54] jctanner commented on #16095
Reproduced with internal ansible account.

[code]

[2016-06-13 14:56] #16187 closed, assigned to abadger

[2016-06-13 15:02] abadger commented on #16152
Thanks for testing!  PR merged to devel and stable-2.1.  Should be in our next 2.1.x release.

[2016-06-13 15:02] #16152 closed, assigned to abadger

[2016-06-13 15:03] abadger commented on #16187
Testing on a similar bug showed that the PR fixed things.  Merged to devel and stable-2.1 and the fix should be in our next 2.1.x release.

[2016-06-13 15:13] abadger commented on #16249
By not fail you mean it returns exit code 0 but does nothing?

[2016-06-13 15:18] abadger commented on #16249
I don't believe the sequence you describe as a possible solution will work.  Trying facls first should be okay but _remote_chmod needs to be the last thing tried (as it is insecure) and using chown after chmod succeeded would have no additional affect.

Maybe we can do this:
1. Try _remote_set_user_facl
2. If it fails: try _remote_chown
3. If that succeeds, stat the file to see who the owner is
4.

[2016-06-13 15:20] #16095 closed, assigned to nobody

[2016-06-13 15:21] abadger commented on #16249
I'd like to avoid the remote stat if there's another choice as it's another ssh connection to execute that which may take a while.  Can you give me more information about chown's behaviour here?

[2016-06-13 15:24] stevew-Purdue opened #16253 "group_by ansible_distribution_release not working for Xenial hosts"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-06-13 15:24] staylorx commented on #13262
I like the idea of the block, and the try-catch works well. But I've also become a fan of looping over include files and all I can imagine is my single main.yml turning into a massive pile of looping blocks... and I'm not a fan of that already. My first instinct that I thought looping blocks might be a bad idea was when I convinced myself I _must_ have one. And then I realized I was being lazy bec

[2016-06-13 15:24] tjcwilk commented on #11037
I am not sure if this is related, but I have a similar question around delegate_to and winRM. I posted my question over on stack overflow: http://stackoverflow.com/questions/37793572/ansible-delegate-to-winrm

[2016-06-13 15:31] abadger commented on #15649
This fix made it into 2.1.0.  Closing ticket.

[2016-06-13 15:31] #15649 closed, assigned to abadger

[2016-06-13 15:31] stevew-Purdue commented on #16253
Oops... I must have filled out the issue request incorrectly since several fields weren't populated after it was submitted.  The missing fields are given below.

CONFIGURATION (differences from default values)
library        = /usr/share/ansible/
gathering = smart
timeout = 15
ansible_managed = Ansible managed: {file} on {host}
pipelining = True

OS / ENVIRONMENT
From: RedHat 6.8
To: Ubuntu Xenial

[2016-06-13 15:39] dcodix opened #16254 ""rescue" block not called on fail"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
blocks

##### ANSIBLE VERSION

[code]
##### SUMMARY

I had this problem some time ago, and I think it was already solved, but I tested with the last development code and it seems it happens again... So I am not sure if maybe I am doing something wrong.
It seems the "rescue" block is not being executed when there is a fail inside the "block" block

[2016-06-13 16:06] stevew-Purdue commented on #16253
I found the problem.  A few weeks ago I had created a host named "xenial" and this hostname, of course,  has priority over the ansible_distribution_release variable when used in a host pattern.  Moral of the story: don't name any of your hosts with a name that might conflict with a variable you'll want to use with group_by!

[2016-06-13 16:06] #16253 closed, assigned to nobody

[2016-06-13 16:24] jokurz commented on #16249
The chown on HP-UX does work:

[code]

Afterwards the file is no longer accessible by 'user1'. Due to that it would make sense to 'chmod' the file on HP-UX first. I cannot comment if all UNIX systems handle this as on HP-UX. AIX seems to be not but on Solaris it is the same behavior.

[2016-06-13 16:27] trondhindenes opened #16255 "Complete list over Windows-compatible modules"
##### ISSUE TYPE
- Documentation Report
##### ANSIBLE VERSION

2.2.0
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Windows
##### SUMMARY

The documentation states that in addition to the win_-modules, "Most of the Ansible modules in core Ansible are written...".
We need a definitive and complete list of modules that are expected to work on Windows, in addition to the win_-modules.

[2016-06-13 16:40] xen0l opened #16256 "Provide functions for IP address or port range validating"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
module_utils

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
any

##### SUMMARY
ansible.module_utils.basic should provide functions for validating IP addresses/ranges, port ranges etc.

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2016-06-13 16:42] dagwieers commented on #16202
@nitzmahone How did you make it work without a `runas` implementation ? My initial report was flawed since I was using `doas` and it didn't work... :-/

In an elementary school we have a passwordless user with autologin for the students. I guess it is passwordless because if you would log out, a password is needed to log in again. To be honest, I think the autologin is based on the fact that the u

[2016-06-13 17:43] nitzmahone commented on #16202
In addition to the minor password validation change in pywinrm (already committed to [pywinrm master](https://github.com/diyan/pywinrm/tree/master)), I had to disable `Accounts: Limit local account use of blank passwords to console logon only` under Security Options in group policy.

[2016-06-13 17:55] nitzmahone commented on #16202
A runas (ish) become method could make this _slightly_ more secure, since you wouldn't need to allow remote access to the passwordless user- an administrative remote login would be required to modify the unprivileged user remotely. Grade-school kids seem unlikely to exploit this over just dorking with it via local access (though I probably would've tried- I was a li'l bastard about stuff like that

[2016-06-13 17:57] nitzmahone commented on #16202
(PS, now that we've fixed the "become doesn't throw an error thing", I'm leaving this open as a feature request)

[2016-06-13 18:25] jhawkesworth commented on #16255
There was some chat about this on ansible-devel irc channel last week.As well as things that work on windows, there are controller side modules like pause. I would like to have a way of tagging modules so the docs can show, perhaps using icons which targets they run against. So far I haven't looked into what it would take to start adding to the docs though.

[2016-06-13 18:41] bcoca commented on #8733
is this what you want?

[code]

it already works in 2.x

[2016-06-13 18:41] nitzmahone commented on #14710
It was actually https://github.com/ansible/ansible/commit/ece1ed09d51ea43be888b64eea95680a5c300a5b - an unrelated performance change was made to inventory that inadvertently broke this behavior, since winrm is the only "mainstream" connection plugin that currently uses pseudo connection vars (eg, ansible_winrm_X - connection vars that aren't explicitly propagated by inventory to the connection lay

[2016-06-13 18:54] nitzmahone commented on #16216
@dagwieers I'm writing it as we speak (redoing the "intro to windows" page into several pages), and have planned to include samples for all supported auth methods. While we do support cert auth, it's a huge pain in the butt and not particularly useful in WinRM because of the way MS implemented it. It's just a mapping of cert thumbprint/subject to a (local only) username/password. You can't use dom

[2016-06-13 19:00] bcoca commented on #16250
Done, use ANSIBLE_PRIVATE_ROLE_VARS env var or set private_role_vars in ansible.cfg

[2016-06-13 19:00] #16250 closed, assigned to jimi-c

[2016-06-13 19:49] jhawkesworth commented on #14710
Thanks @nitzmahone I will give that a try.

[2016-06-13 19:50] abadger commented on #16249
As stated previously, chmod'ing the file is wrong.  It's a chmod a+r which makes any sensitive information in the file readable by other users on the target box.

[2016-06-13 20:05] abadger commented on #16249
Hmmmm..... I think I see what you're looking at -- there's a chmod for execute permissions that happens after the chown.  I think we can move that to happen before chown is tried.  However, the error message that you're reporting doesn't match up with that chmod.  It matches up with the chmod in the path the code takes if chown fails.  We can't move that chmod to the front as it's the insecure fal

[2016-06-13 20:05] bcoca commented on #16249
Most Unix systems removed the ability of non privileged users to assign a file to another user as this is a security risk, that is why the test works for most modern Unicies.

The code has many complex interactions, this is not something we can change lightly,  I'm not sure how we can support HP-UX in this case, we need to check some alternatives and then thoroughly test them.

[2016-06-13 20:15] jctanner commented on #16242
@haiya512 having trouble understanding the question/idea here. Can you possibly provide some examples of current behavior versus the behavior you would like to see?

[2016-06-13 20:21] nhooey opened #16258 "Killing `ansible all` with SIGTERM doesn't clean up processes on nodes"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
ini
[defaults]
host_key_checking = False
retry_files_enabled = True
forks = 20
timeout = 20
transport = ssh
[ssh_connection]
control_path = %(directory)s/%%h-%%p-%%r
[paramiko_connection]
pty=False

##### SUMMARY
When I run `ansible all apt-get install something` on a s

[2016-06-13 20:45] ghost commented on #16046
I'm also looking for a solution to this problem...   :-(

[2016-06-13 21:34] yeroc commented on #11266
@nhooey Not sure whether you're speaking on behalf of the Ansible maintainers or not but if you are then the CONTRIBUTING.md file in the ansible source repo and the various sub-projects along with the [community contributions](http://docs.ansible.com/ansible/community.html) page should be updated to reflect the appropriate manner in which to vote for an issue.  Since the Github reactions feature w

[2016-06-13 22:01] dagwieers commented on #16202
@nitzmahone Right, I don't want remote access to passwordless users. (I didn't even know that was possible !) Ans indeed, I wasn't going to rely on Ansible for a "temporary guest account", at least not for the clearing/rotation.

I do think `runas` is an important missing piece in the Windows implementation and essential for bringing it up to par with other OSes. (Maybe high on Red Hat's Windows w

[2016-06-13 22:12] dagwieers commented on #16216
Well, if some raw commands fail with user/password authentication, the only other option I have is to use client certificates for authentication. There is no other option we have.

Can we report this issue to a Windows forum ? Does Microsoft accept issue reports somehow through the community ?

Another problem is related to the fact that WinRM doesn't seem to work with certificates generated using

[2016-06-13 22:23] nitzmahone commented on #16216
Only way anything might ever happen with it is as a support incident., and even if you can actually get them to fix it, likely case is a private hotfix that you'd have to apply to all the machines. Is there some reason you can't use NTLM instead of basic (ansible_winm_transport=ntlm with pywinrm >=0.2.0)? It works fine with that...

[2016-06-13 22:37] dagwieers commented on #16216
@nitzmahone It simply does not work with ntlm either. Command returns RC 0, no other output, Appx is not removed. Does work on the Powershell command line... I was hoping client certificates would work, but somehow it feels we don't understand the problem yet...

[2016-06-13 22:38] 2rs2ts opened #16259 "Add MFA keyboard-interactive authentication in sshd_config, even with nullok in the authentication method's PAM options"
##### ISSUE TYPE

- Feature Request

##### COMPONENT NAME

Core? The whole of ansible :s
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible.cfg:

[code]
##### OS / ENVIRONMENT

Debian Jessie, targeting an Amazon Linux EC2 instance
##### SUMMARY

When I set up sshd to require keyboard-interactive authentication without using a password, I can't connect to the target host via ssh when runnin

[2016-06-13 22:43] nitzmahone commented on #16216
Aha- the difference is domain user vs not. Basic is the only authtype I run with a local user, all the others are domain users. If i do NTLM with a local user, `Get-AppXPackage` behaves the same way (RC=0, no output).

[2016-06-13 22:44] nitzmahone commented on #16216
Cert _does_ work though, which is ... odd (though the whole thing is odd).

[2016-06-13 22:45] dagwieers commented on #16216
I cannot make client certificate authentication work, a guide on how to set it up would be very useful at this point ;-)

PS Indeed, we only have local users.

[2016-06-13 22:47] nitzmahone commented on #16216
Aha again: my cert user is "Administrator"- when I do that command over NTLM or Basic as Administrator, it works too. So something hardcoded about Administrator for that command.

[2016-06-13 22:48] dagwieers commented on #16216
Aha ! We are using ictadmin, but let me test with Administrator instead...

[2016-06-13 22:48] nitzmahone commented on #16216
I've been procrastinating the cert part because I got it working (on the Windows side) ages ago, and I don't remember all the things I had to do. (plus it's pretty darn useless)

[2016-06-13 22:56] jhawkesworth commented on #14710
Just to follow up make clean sorted this out for me. Wondering how I have done without it all this time!

[2016-06-13 22:59] gianrubio opened #16260 "Rollback roles"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
roles

##### ANSIBLE VERSION
2.2

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I've running ansible playbook to create objects in AWS. When I create objects using roles and their have dependencies such as asg attached to elb, and this playbook fail. So I need to destroy all objects.
Using tasks I can use [blocks](http://docs.ansible

[2016-06-13 23:01] dagwieers commented on #16216
Still doesn't work for me with user Administrator. Neither ssl, nor ntlm.

In effect, it never worked for me through Ansible (it only works on the Powershell command line).

[2016-06-13 23:08] jhawkesworth commented on #11037
@tobwilk - as suggested above probably the best place to ask this on the irc channel or the google group as many people read the group than monitor the issue tracker.

[2016-06-13 23:13] nitzmahone commented on #16216
I took apart the C# code for the cmdlets- it all eventually delegates to the WinRT PackageManager, which is a big black hole of DRM and native silliness, so noplace for mere mortals to go from there. I'm guessing it's a poorly-chosen default ACL on some object related to that ("Administrator; INTERACTIVE" or something), but since PackageManager doesn't appear to be managed code, I can't easily see

[2016-06-13 23:20] basictheprogram commented on #14710
Not sure if this is related, but today's devel branch is telling me:

[code]

[code]

[code]

[2016-06-13 23:23] nitzmahone commented on #16243
Ansible/pywinrm cert auth are working just fine:

hosts

[code]

[code]

I assume you're talking about [Matt Wrock's recent blog post on winrm cert auth](http://www.hurryupandwait.io/blog/certificate-password-less-based-authentication-in-winrm). I have  an OpenSSL-generated client cert, and it works fine. It's been awhile since I set up the receiving side from scratch (and I've since lost the Open

[2016-06-13 23:34] basictheprogram opened #16261 "win_msi $result "log" $logcontents not showing logs"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ANSIBLE_KEEP_REMOTE_FILES=1
##### OS / ENVIRONMENT

Management host OX 10.11.5
Managed host Windows 7
##### SUMMARY

Results from task show the log is always "", even when a package is uninstalled

changed: [win7-90day] => {"changed": true, "invocation": {"module_name": "win_msi"}, "log": ""}
##### STEPS TO REPRODUCE

[2016-06-14 00:16] nitzmahone commented on #14710
@basictheprogram Hrm, that's a minor side-effect of the fix that I hadn't noticed. A couple ways to fix that, but I'll have to kick it around a bit (thanks for the heads-up, though!)

[2016-06-14 00:28] chuckyz commented on #14426
Paramiko does not seem to work with my bastion configuration, while ssh works like a charm (minus become/become_user/become_method: su).  I'm being bit by this bug hard, are there any details I can provide to help?

[2016-06-14 00:53] joshtrichards commented on #7512
@razvanphp It appears that single_transaction was added in Ansible 2.1 - http://docs.ansible.com/ansible/mysql_db_module.html

[2016-06-14 01:23] willthames commented on #16136
You can use the name part of the role specification to achieve this also:

[code]

the role specification is source,version,friendlyname - here version is irrelevant.

[2016-06-14 01:50] winger007 commented on #16046
@tmartinx  If you get a workaround, please let me know :)

[2016-06-14 01:53] willthames commented on #16222
Actually, the block is irrelevant. The problem is that the with_items evaluates before the when.

[code]

has exactly the same problem.

I can see why this is the case - you might want `when: item != 'x'` which you don't know until loop expansion time.

The reason for putting it in a block is that I might want to skip 20 tasks. I suppose I could use two blocks, one for registering the value, and o

[2016-06-14 02:39] joelthompson commented on #14542
Just checked against devel (`ansible 2.2.0 (devel 62e6f6b885) last updated 2016/06/13 21:43:44 (GMT -400)`) and #15793 didn't fix the issue, but I think it might have enabled this workaround (though it's very slow on large inventories, and gets exponentially slower if you don't run_once it):

[code]

However, because this iterates through everything, if you have any undefined variables in your inv

[2016-06-14 02:51] gotgenes opened #16265 "Add ability to pass --build-arg to docker build in docker_image module"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
docker_image module

##### ANSIBLE VERSION
2.2

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Docker provides the ability to pass argument values in during the build process via the `--build-arg` option. (See [Dockerfile documentation on ARG](https://docs.docker.com/engine/reference/builder/#arg) and [`docker build` documentation](ht

[2016-06-14 04:47] my2ter commented on #9966
Hi,

I am using the official docker image for Ubuntu:14.04. https://hub.docker.com/_/ubuntu/ And the following task fails:

[code]

Ansible installed with homebrew:

[code]

[code]

Should this be fixed?

Thanks

[2016-06-14 07:23] sbasapure opened #16266 "win_copy module fails to copy the files on Windows 2008 R2 system"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

-->Ansible 2.1 on Ubuntu 14.4 and endpoint OS is Windows 2008 R2
The winrm and PS details on Windows 2008 R2 system are as follows

Windows PowerShell
Copyright (C) 2012 Microsoft Corporation. All rights reserved.

PS C:\Users\SOE-Load> $PSVersiontable

Name                           Value

--

[2016-06-14 08:33] altvod opened #16268 "UnboundLocalError: local variable 'f' referenced before assignment in /plugins/cache/jsonfile.py", line 101"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]

Variable f (in the finally clause) is not defined if file opening failed in /plugins/cache/jsonfile.py, line 94:

[code]

Which sometimes results in the following exception (thus hiding the original exception):

[code]

I guess, there's no need to close if we failed to open...
This is line 104 in the current version

[2016-06-14 08:55] jhawkesworth commented on #16266
Is the Server 2008 R2 machine fully patched up with windows updates? - there was a bug in the version of Windows Management Framework version 3.0 that comes with S2008R2 that breaks winrm in unpredictable ways - see the blue box in the documentation here: http://docs.ansible.com/ansible/intro_windows.html#windows-system-prep

Personally I'd recommend getting any machines you are managing up to Win

[2016-06-14 09:07] jhawkesworth commented on #16261
I suspect there is something of a race condition here as msiexec actually communicates with the windows installer service, which is the thing that actually does the installation and does the write.
So msiexec completes but the service is still doing 'stuff' and the module then tries to pick up the log file before the service has finished doing things and writing the log file.

I think I have seen

[2016-06-14 09:19] elotje commented on #16249
The chown on HP-UX does actually work:
[code]
Afterwards the file is no longer accessible by `user`'. Due to that it would make sense to `chmod` the file on HP-UX first. I cannot comment if all UNIX systems handle this like HP-UX. AIX seems to be not but on Solaris it is the same behavior. Seems not to be that easy to support all those dinos...

On HP-UX there seems to be a possibility to restrict

[2016-06-14 09:50] pythonjian opened #16269 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xe4 in position 14"
hi
  when i run ansible in Chinese folder , i got this error:
  An exception occurred during task execution. To see the full traceback, use -vvv. The error was: UnicodeDecodeError: 'ascii' codec can't decode byte 0xe4 in position 14: ordinal not in range(128)

  my path:
  /home/test/下载

 the error message:
  test@test:~/下载$ sudo ansible test -m copy -a "src=./config dest=/tmp/"
  An exception occ

[2016-06-14 10:15] sbasapure commented on #16266
I installed the mentioned KB but still problem persists.
After that I installed Windows Management Framework 4.0 but did not fix the problem.

[2016-06-14 10:18] axos88 commented on #8733
Yes, indeed it does. Back when the ticket was opened, 2.0 was not yet ready.

[2016-06-14 10:52] jhawkesworth commented on #16266
Ok well other things you can check are

See if your winrm configuration matches your S2012 machine.
You can display the configuration using the following command in a powershell window (running as Administrator)

[code]

also check the event logs

also please try installing latest pywinrm (version 0.2.0) from pip.

Also I've noticed that you are connecting via an ip address, please can you try usi

[2016-06-14 10:58] kamsz commented on #16144
confirmed

[2016-06-14 11:28] antoineco commented on #4170
I also believe this issue should be revisited, as it prevents dynamically generated dictionaries from being unmarshalled as JSON as expected.

One example:

[code]

Debug output:

[code]

If booleans, lists and dicts are converted I don't see why integers shouldn't, at least there should be a way to do this explicitly.

[2016-06-14 12:10] dagwieers commented on #16243
Well, the only reason for me to be looking at client certificates was because `raw` would be working, but that has proven not to be the case. `raw` is still broken (for certain workloads) when used with local user accounts (incl. Administrator). Which is _weird_...

Nevertheless client certificates may have their use (like SSH keys) for automated workloads. So documentation would be nice. I can se

[2016-06-14 12:32] jokurz commented on #16249
Yes, you are right. The task fails because of the following line (as the previous `chown` was successfully although ansible expected it to fail):

[code]

(https://github.com/ansible/ansible/blob/2bf2e0fdfdb7293e28e3bb0543b2d0d14a65169f/lib/ansible/plugins/action/__init__.py#L347.
As you can see it is a `u+x` and not a `a+r`. Maybe the following approach is acceptable:
- Try `_remote_set_user_facl

[2016-06-14 13:04] artur-fijalkowski opened #16272 "Cannot inline array in when statement"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing special
##### OS / ENVIRONMENT

Linux

Replicable on Ubuntu and CentOS
##### SUMMARY

Following line works as expected

[code]

Wrapping same code with inline array:

[code]

Triggers error:
[\"FAILED\"' failed. The error was: template error while templating string: unexpected '}', expected ']'. String: {% if

[2016-06-14 13:05] kustodian commented on #16044
I tested this a little bit and the problem is with the `when:` clause; without it everything works. It basically says the condition check failed when it checks it on a dependency the second time:

[code]

[2016-06-14 13:15] antoineco commented on #4170
The issue I described above is actually related to #15249, not to the `set_facts` module which actually casts integers. Please excuse the noise.

[2016-06-14 13:16] sivel commented on #16272
This is a duplicate of the already resolved https://github.com/ansible/ansible/issues/15291

The fix was included in the 2.1 release.

[2016-06-14 13:16] #16272 closed, assigned to nobody

[2016-06-14 13:25] soar opened #16273 "Feature request: more flexible tags"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION
2.3

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Tags feature isn't too flexible now. For example, I want install packages if they aren't installed, but by-default - preserve current versions. And only if I supply tag "upgrade" - packages should be upgraded to latest versions.
Now I should type something

[2016-06-14 13:35] chymian commented on #12160
hello :)
I do have the same problem on debian, using 2.2.0-0.git201606132206.62e6f6b.devel~unstable using a deb, which I build out of the tree yesterday.
It's stays the same when I source the hacking/env-setup…

[code]

The playbook Snippet:

[code]

[code]

Do I miss something?

[2016-06-14 13:35] #16268 closed, assigned to nobody

[2016-06-14 13:38] traedamatic commented on #16265
Would love to see this feature, too.

[2016-06-14 13:43] antoineco commented on #15249
@bcoca I'm a bit puzzled, why does

[code]

work in that case ? How is it any different ? (see referenced issue above)

[2016-06-14 13:46] bcoca commented on #16273
Feature aside, i would to this to handle your issue:

[code]

and now you can pass `-e 'upgrade=true'` to force upgrading

[2016-06-14 13:53] bcoca commented on #15249
@dagwieers even if yaml recognized {{ }} it still would not matter as this is not a YAML issue but a jinja2 issue. If YAML actually saw it as anything other than a string, it would error out when templating as an int would not work as a type for jinaj2 to template. The tempalting happens AFTER YAML processes the vars, not before, so it is a mute point what YAML understands or not.

@antoineco jinj

[2016-06-14 13:57] soar commented on #16273
@bcoca Passing strings like `variable=value` isn't easy rememberable and intuitive - I try to avoid this in my playbooks.

[2016-06-14 14:20] altvod commented on #16268
I disagree with the fix - it hides the original exception
(can't reopen the issue though...)

[2016-06-14 14:21] sstreiner opened #16276 "Module unarchive doesn't work on *BSD using tar"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

2.1
##### OS / ENVIRONMENT

OpenBSD 5.9
##### SUMMARY

Using unarchvie for tar-archives on OpenBSD (and possibly FreeBSD/NetBSD) causes an error (Unexpected error when accessing exploded file: [Errno 2] No such file or directory).
From looking at the ansible 2.0 output it looks like ansible would make use of the tar argument --diff. OpenBSD and

[2016-06-14 14:23] bcoca commented on #16268
the original exception is already dealt with. it issues a warning

[2016-06-14 14:29] juanjomm commented on #16118
@bcoca
Hi. Do you have any idea that it might be happening? Do you need some kind of additional information?
I've done more testing and I couldn't see that happen.
Can I help you in any way? Please tell me how.

Thank you very much for your help.

[2016-06-14 14:34] bcoca commented on #16118
"in the ansible server"? i don't know what that means, is this a host/group var file? vars file? inventory? what??

[2016-06-14 15:06] juanjomm commented on #16118
Sorry, this information is a file located in group_vars. It is called by the site.yml as vars_files.
- site.yml file:

[code]
- Wintel-Conection.yml file:

[code]

[2016-06-14 15:10] mplanchard commented on #16052
I also am getting this problem when running the following task:

[code]

I am running on a Vagrantbox with the `bento/ubuntu-16.04`. This does not seem to occur with "real" remote servers, just the vagrant box. I am using the following provisioning block:

[code]

Not sure whether this is a Vagrant problem or an ansible problem. I was able to work around it by running the necessary playbook as roo

[2016-06-14 15:13] jhawkesworth commented on #16118
I haven't tried organizing vars like this, but I suspect the Wintel-Conection.yml is loaded too late to configure the winrm connection.

So I would try changing things around so that the windows hosts belong to a group which you have created in your inventory and that the group_vars folder contains a file - in fact try changing it so it is organised like the example described here: http://docs.ans

[2016-06-14 15:14] bcoca commented on #16118
that is your issue, you are setting the var globally, which affects ALL hosts, not just the windows one

[2016-06-14 15:14] bcoca commented on #16118
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-06-14 15:14] #16118 closed, assigned to nobody

[2016-06-14 15:59] davidebelloni commented on #14343
Hi,
I've a similar issue with the following setup.

`ansible 2.1.0.0`

In `roles/outer/meta/main.yml`:

[code]

In `roles/inner/tasks/main.yml`:

[code]

In `playbook.yml` :

[code]

The output is:

[code]

I'm pretty sure that this code some time ago was correct

Thanks

[2016-06-14 16:19] dtwilliamson commented on #16032
Note that this problem also exists in ssh.py or path.py and probably a few other places where `expandvars()` is used.

You could use

[code]

instead of the proposed code in order to generate a KeyError exception on an empty environment variable.

Why does this code not respect `local_tmp`, by the way?

[2016-06-14 16:58] md5 opened #16280 "Setfacl command appears to fail when become_user contains a backslash"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Running Ansible on Mac OS X El Capitan, managing Ubuntu 12.04.5 LTS.
##### SUMMARY

When the `become_user` name contains a backslash the `setfacl` command fails. Ansible does not report a good error message in this case (cf. #16279), but when I run the command independently, I get this error:

[code]

It appears th

[2016-06-14 17:36] tadman commented on #14337
It would be nice to give a reminder to use `--vault-password-file`, `--ask-vault-pass` or something to that effect if decryption failed because no password was specified.

"Decryption failed" is a little cryptic.

[2016-06-14 18:17] pstch opened #16282 "IOS NetworkModule never calls disconnect()"
I found no open/closed issues referring to `NetworkModule`, or `disconnect()` methods.
##### ISSUE TYPE
- Bug Report (low-importance)
##### ANSIBLE VERSION

[code]

Code is identical in `devel` branch.
##### REFERRED CODE

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/ios.py#L154
##### SUMMARY

Although the `NetworkModule` class in `ansible.module_utils.ios` defines a `dis

[2016-06-14 18:33] sstreiner commented on #16276
As a workaround, I've installed gtar and it worked like charm...
Maybe add gtar as a dependency to Ports?

[2016-06-14 18:36] codyro commented on #15724
We're seeing this same issue after upgrading to 2.0.2 breaking a large portion of our tasks. Is there any update on what change caused this change in behavior?

[2016-06-14 19:04] #16097 closed, assigned to abadger

[2016-06-14 19:44] AAlvz commented on #14808
Same thing here with ansible 1.7.2. Succeeded fails. Success works.

[2016-06-14 19:49] jctanner opened #16284 "vagrant + become + synchronize removes the dest host and attempts local transfer"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

NA
##### OS / ENVIRONMENT

F23 controlhost
EL7 vagrant box with localhost:2222 as the entrypoint
##### SUMMARY

Setting become:yes at the play level in a playbook used by the vagrant provisioner will cause the rsync command's destination to drop the hostname and therefore attempt a local copy instead of remote.
#####

[2016-06-14 20:18] jctanner commented on #16284
Here's the hostvars vagrant is setting ...

[code]

[2016-06-14 20:20] jctanner commented on #16284
inventory ...

[code]

[2016-06-14 20:25] jctanner commented on #16284
Vagrant is running this command basically ...

[code]

[2016-06-14 20:39] nitzmahone commented on #14710
Today's devel and stable-2.1 should no longer exhibit this behavior (modified the returned fact name not to collide with the connection var)

[2016-06-14 21:07] jctanner commented on #16284
Prototype patch ...

[code]

[2016-06-14 21:09] jctanner commented on #16284
Addressed by https://github.com/ansible/ansible/pull/15993 which was written for https://github.com/ansible/ansible/issues/15539 which was closed.

[2016-06-14 21:34] jctanner commented on #16284
Need to understand https://github.com/ansible/ansible-modules-core/issues/3136 better before fixing this usecase.

[2016-06-14 21:58] #15865 closed, assigned to bcoca

[2016-06-14 22:46] cubranic commented on #14161
@bcoca:

what if `rolename` is actually a dependent of another role, `role1`? It would be useful to include `role1/templates`, etc. in this search path too.

[2016-06-14 22:48] taylorreece commented on #16025
This issue can be closed; someone committed a change to the base winrm connection plugin that alters how hostvars are passed in.  A simplle 'git pull' and 'sudo python setup.py install' should fix any issues you have @aperigault .  It did for me.

[2016-06-14 23:16] gotgenes commented on #16265
I have given an initial idea of how this could be supported at gotgenes/ansible-modules-core@0d41ad1

Unfortunately I am not able to complete testing the change, as I am experiencing ansible/docker-testing#2 when using this with a local Docker registry. There's very little information on that issue about the resolution. Is this fixed in an upcoming release of Ansible?

[2016-06-14 23:58] jctanner commented on #16284
Fixed by https://github.com/ansible/ansible/pull/15993

[2016-06-14 23:58] #16284 closed, assigned to jctanner

[2016-06-15 00:02] basictheprogram commented on #16261
As I read this I did get the logs so it looks like there is a race condition. I've added the Start-Sleep -Seconds 10 and I'll see how things work now and report back here.

[2016-06-15 00:39] nitzmahone commented on #16202
I agree that it's a necessity for platform parity, but strangely, it hasn't come up very often thus far- I think you're the second direct request I've gotten for it. People ask about it early on when gathering information, but once they start actually using Ansible, they end up doing most Windows remote mgmt directly with privileged users. Perhaps it's more about the modules we ship right now (man

[2016-06-15 04:03] smiller171 commented on #13262
@staylorx I believe there are performance implications to looping over includes, and sometimes it is necessary to run tasks 1, 2, and 3 as a group, in that order, an arbitrary number of times determined by some other factor.

[2016-06-15 04:32] jhawkesworth commented on #16261
If I recall there's another bug report where someone gets the log the second time the module is run, but not the first.

[2016-06-15 04:32] jhawkesworth commented on #16261
let us know how you get on anyway.

[2016-06-15 04:59] sbasapure commented on #16266
all configuration are exactly the same on all systems and pywinrm 2.0 was already installed. Also verified about firewall configuration and there is no issue as well.

I have also installed Windows management Framework 5.0 on windows 2008 R2 but no use.

Also, tried a fresh build system Windows 2008 R2 with WMF 4.0 / 5.0 and still the problem did not fix.

Only I see difference is winrm id result

[2016-06-15 05:36] sbasapure commented on #16266
Also tried with Python 2.7.11 on ansible server but the problem is not fixed.

[2016-06-15 05:47] jhawkesworth commented on #16266
Can you run any other win_ modules successfully against the affected host?

[2016-06-15 06:07] my2ter commented on #7367
Hi,

I am getting this error on the latest version of ansible and stable-2.1

[code]

[code]

[code]

Cheers.

[2016-06-15 06:11] sbasapure commented on #16266
Yes absolutly !
Actually with win_copy module it copies part of files less than 100 mb files and fails with timeout error as specified in the error.

[2016-06-15 07:47] chouseknecht commented on #7367
@myter not able to reproduce this. In my environment mysql:5.7 pulls and builds without issue. I can run your exact playbook. Can you provide more details? Which version of docker-py do you have installed? OS? Anything that might help.

[2016-06-15 07:47] riton opened #16295 "Task name not templated in free strategy"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Using default configuration.
##### OS / ENVIRONMENT

_N/A_
##### SUMMARY

Variable are not interpreted in task names using new `free` strategy (`linear` strategy was fixed in #10347 by 7bc789ba64583fdb68e8ab9c8336dbb9b8374797)
##### STEPS TO REPRODUCE

- Using `linear` strategy:

[code]

output is

[code]
- Using the

[2016-06-15 08:41] jhawkesworth commented on #16266
I'm a bit out of ideas what could be causing this.

Does it make a difference if you try a different destination on the remote machine?

Might be worth trying older 0.1.1 pywinrm, just because this is a bit more known than pywinrm 0.2.0 which has only just come out.

I wondered if you were hitting a winrm quota limit (see https://msdn.microsoft.com/en-us/library/ee309367(v=vs.85).aspx) but that do

[2016-06-15 09:52] ghost commented on #16276
This has stung me too, on FreeBSD 10.3.

I ended up using shell: tar zxvf.....

And putting up with the warning that Ansible doesn't like it.

[2016-06-15 10:00] zerodotfive-old commented on #15803
I have the similar issue. With ansible 1.9.6 my playbook works great(1-2 sec per task), but ansible 2.1.0.0 using 100% of one CPU core and doing every task for a very long time(up to minute without cProfile, and little more with it).
Here are output of ansible 2.1.0.0 started with 'python -m cProfile -s cumtime /usr/local/bin/ansible-playbook -i dev.ini dev.yml' command.
PLAY [dev] ***************

[2016-06-15 11:02] MarthaK commented on #10840
Setting `elasticache = False` and `rds = False` solved it for me as well. Thanks @IanVS

[2016-06-15 11:07] gusai commented on #16215
Hello,
ansible_user is not taken into account for synchronize -> delegate_to (looks related to closed pull #15024 )
Ansible version 2.0.2.0 on Linux RedHat Enterprise Server 6.5 x86_64.

Snippet of task:
synchronize:
src: "{{ vertica_remote_package_location }}"
dest: "{{ vertica_package_location }}"
mode: pull
delegate_to: vertica-repo
when: not vertica_use_apt and ansible_os_family == 'RedHat' an

[2016-06-15 13:30] neo515 opened #16298 "include don't recognize group variables defined in the host-file"
# ansible --version

ansible 1.9.4
  configured module search path = None
# cat main.yml

---
- name: setup zabbix client
  hosts: all
  tasks:
  - debug: msg={{WORKUSER}}
  - include: "{{WORKUSER}}.yml"
# cat test.yml
- debug: msg='do u saw me?'
# cat hosts

[tt]
127.0.0.1

[tt:vars]
WORKUSER=test
# ansible-playbook -i hosts main.yml

ERROR: file could not read: /tmp/test2/{{WORKUSER}}.yml

[2016-06-15 13:36] neo515 commented on #16298
pls tell me why. thanks a lot.

[2016-06-15 13:37] andredasilvapinto opened #16299 "env-setup.fish $MANPATH override breaks man"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Debian GNU/Linux 8.5 (jessie)
Fish shell
##### SUMMARY

`$MANPATH` gets corrupted by `env-setup.fish` so all the man entries are unaccessible.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Man man page
##### ACTUAL RESULTS

[code]

[2016-06-15 14:02] #16195 closed, assigned to abadger

[2016-06-15 14:19] aptituz opened #16301 "synchronize module does not verify arguments properly"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

ansible 2.1.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

When creating a synchronize task with mode pull and wrongly named or missing src argument their is no  proper error message.
##### STEPS TO REPRODUCE

1) Create a playbook with a synchro

[2016-06-15 14:21] hidekiy commented on #15603
Sorry I tried s3_bucket module and the workaround doesn't work with correct string policy parameter.
@bcoca 's PR https://github.com/ansible/ansible-modules-extras/pull/2126 looks correct fix for this.

[2016-06-15 14:26] hidekiy commented on #14292
@pierreant-p
Sorry for not working workaround. I tried s3_bucket and I concluded passing string parameter to `policy` doesn't work anyway.
https://github.com/ansible/ansible-modules-extras/pull/2126 looks related.

[2016-06-15 15:13] pierreant-p commented on #14292
yep. Thanks for the feedback.

[2016-06-15 15:17] #16249 closed, assigned to abadger

[2016-06-15 15:20] Jacob-SAE opened #16303 "Groups undefined for all templates."
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I'm unable to access the 'groups' builtin from my templates.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

TASK [nginx : TEMPLATE | Use template for NGINX site conf] *********************
ok: [X.X.X.X]
##### ACTUAL RESULTS

fatal: [X.X.X.X]: FAILED! => {"changed": fal

[2016-06-15 15:41] #16299 closed, assigned to nobody

[2016-06-15 15:52] adriensaladin opened #16305 "add optional backup_dir for the backup option"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
template module and other modules with backups

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
The template module has a 'backup' option but leaves backuped files in place. This may be a problem for "conf.d" directories if all files are included regardless of filename pattern. In this case we need another

[2016-06-15 15:53] bcoca commented on #16305
I would not make this a 'template module' feature but expand to all modules that implement `backup`

[2016-06-15 15:57] bcoca commented on #14161
working on making it so, this is what i want it to look like in the end:

[code]

[2016-06-15 15:58] adriensaladin commented on #16305
@bcoca should I edit the title ?

[2016-06-15 16:07] sstreiner commented on #16276
Install gtar either from pkg or from ports.
gtar is listed as dependency in the unarchive module. It's not my favorite solution, but it works.

[2016-06-15 16:17] redbaron opened #16306 "synchronize unnecessary fails to run when using docker connection"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Linux
##### SUMMARY

synchronize unnecessary fails to run when using docker connection with an error:

[code]

Which is simply wrong, here is the prove:
Copy into docker container without ssh:

[code]

Copy from docker container without ssh:

[code]

where `c65e6a210eb` is a value used in inventory:

[code]

[2016-06-15 16:25] abadger commented on #16269
I was unable to reproduce this.  Can you post the version of ansible that you're using (ouput of ansible --version) and the output of your command with -vvvv?  The increased verbosity will let me see things like what locale settings are being used.

[2016-06-15 16:26] alikins commented on #16269
Need 'ansible --version' output and any other version or environment information.

Also need a copy of the output from ansible when run with '-vvvvv' verbose logging.
For example:

[code]

Other needed info is the current locale settings. The output of the 'locale' command for example.

[code]

That output should look something like:

[code]

Also, since you are running ansible via 'sudo', output

[2016-06-15 16:27] dtardoin opened #16307 "Boto Version requirements not documented"
##### ISSUE TYPE

- Documentation Report

##### COMPONENT NAME
All EC2 based modules, possibly more.

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 14.04.4 (relevant, but this is platform agnostic)
##### SUMMARY

The Boto minimum version on most EC2 Modules is not documented, and in ansible 2.1.0.0 the version of the python-boto package that ships with Ubuntu 14.04 (2.20.1) isn't su

[2016-06-15 16:52] ghost opened #16309 "Ansible pear extras module does not allow responding to prompts interactively or via playbook options"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]

hostfile       = $HOME/local/ansible-deploy-scooby/hosts
library        = /usr/share/ansible:./library
remote_tmp     = $HOME/local/ansible-deploy-scooby/tmp
pattern        = *
forks          = 5
poll_interval  = 15
sudo_user      = root
transport      = smart
module_lang    = C
gathering = implicit
roles

[2016-06-15 16:57] #16301 closed, assigned to abadger

[2016-06-15 16:59] abadger commented on #16301
Thaks for reporting htis @aptituz #16308 should fix this issue for you.  I've merged it into devel and the  stable-2.1 branch for our next release.

[2016-06-15 17:27] dch opened #16311 "2.2.0: raw module regression under sudo (with patch)"
##### ISSUE TYPE
- Bug Report
##### VERSION

devel at https://github.com/ansible/ansible/commit/624e7dae544292740a691e369a58320c21d67537

[code]
##### OS / ENVIRONMENT
- OSX master
- FreeBSD 10.3R amd64 nodes
##### SUMMARY

greedy parsing in raw module consumes parameters and not just executable task
##### STEPS TO REPRODUCE

[code]

[code]
##### EXPECTED RESULTS

from ansible 2.1.0:

[code]
#####

[2016-06-15 17:31] cubranic commented on #14161
That would be exactly what I hoped for, thanks.

[2016-06-15 17:37] jjshoe commented on #16311
I believe this is already done:

https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/play_context.py#L450

[2016-06-15 18:00] ifelsefi opened #16314 "when using less than failed_when does not properly evaluate registered variable"
##### ISSUE TYPE

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS

fsusage.stdout_lines is 523248 so task "check existing homedir quota usage" should fail given that value is less than 146800640

##### ACTUAL RESULTS

[code]
[code]

[2016-06-15 18:00] ifelsefi opened #16315 "failed_when does not properly evaluate registered variable when using less than with integer"
##### ISSUE TYPE

[code]
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

[code]
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

fsusage.stdout_lines is 523248 so task "check existing homedir quota usage" should fail given that value is less than 146800640
##### ACTUAL RESULTS

[code]

[2016-06-15 18:08] bcoca commented on #16311
fixed via 4acac55d233ac09745b56c8a577a2404019d6e9e

[2016-06-15 18:08] #16311 closed, assigned to nobody

[2016-06-15 18:14] bcoca commented on #16315
no moustaches needed in when clause, they can confuse things with double interpolation, you just need:

`failed_when: item|int < 146800640`

[2016-06-15 18:15] bcoca commented on #16315
the place where you do need them (as deprecation message indicates):

`with_items: "{{fsusage.stdout}}"`

[2016-06-15 18:18] sivel commented on #16314
Duplicate of https://github.com/ansible/ansible/issues/16315

[2016-06-15 18:18] #16314 closed, assigned to nobody

[2016-06-15 19:10] Challa-shekhar commented on #10638
@chapurlatn  can you tell me which version you are  exactly using
i am using 2.1.0.0 and still having this problem

[2016-06-15 19:23] chapurlatn commented on #10638
I tested with both and it worked fine as soon as I properly defined my variable. You may encounter another contextual situation which makes the thing fails. You could start by defining a minimal playbook, started from a python virtualenv in a fresh env and a new user. An improvment for Ansible could be to improve the error reporting/suggestion in that case.

[2016-06-15 19:35] juliedavila commented on #10638
yep, env vars in lower case do not work with boto. I'll close this

[2016-06-15 19:35] #10638 closed, assigned to nobody

[2016-06-15 19:36] evenme commented on #12086
:+1:

[2016-06-15 20:34] tomsun commented on #15956
Same issue observed here (Ansible 2.1.0)

[2016-06-15 20:38] jimi-c commented on #16125
Marked pending_action to indicate it's resolved but holding open.

[2016-06-15 20:48] sivel commented on #15956
The biggest change I can see, is the addition of passing `-u` to `docker exec`.  In 2.0.1 we did not use this argument, in 2.0.2 we do.

This is likely the cause, as we are passing `-u None` to `docker exec` if the user is not specified.

Does running the following with specifying a user help?

[code]

[2016-06-15 20:58] nerobianchi commented on #13116
@tgrzemski works like a charm

[2016-06-15 21:00] sivel commented on #15956
Assuming that specifying a `-u` in your ansible command fixes it, we have to figure out what we want to do.  I'm guessing if the value is `None` we should omit adding that to the commands altogether, and only send it if specified

[2016-06-15 22:02] tomsun commented on #15956
Still a bit unfamiliar with the moving parts here. I tried the steps to reproduce from the original post now and it is possible my issue with 2.1.0 is unrelated, not sure yet: I'm getting success on 2.1.0 with that one-liner. My failure output on 2.0.2.0 is slightly different than in the original post though...
`-u None` would indeed not be good, last result...

[code]

[code]

[code]

[2016-06-15 22:50] tomsun commented on #15956
(Seems my original issue was indeed unrelated (wrong id in inventory, gives a similar symptom...))
Tested my actual playbook workflow successfully with 2.0.1.0 and 2.1.0.0 + docker connection now. With and only with 2.0.2.0 out of the thee, the ansible-tmp issue is reproducible for me. Sorry for bumping the issue @sivel.

Seems the Docker plugin does act as root in my playbook case btw. As far as

[2016-06-15 23:00] sivel commented on #15956
I had only compared the 2.0 releases, it appears as though 2.1 and devel may have resolved the user issue.

[2016-06-16 01:36] pythonjian commented on #16269
ansible version:

[code]

log:

[code]

locale:

[code]

[2016-06-16 03:51] jgrowl opened #16318 "Create docker-machine modules"
##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME
new module(s) request

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

I want to be able to manage docker-machines from ansible. I want to create/destroy machines with different drivers and be able to take advantage of ansible state. e.g. Ensure a machine (given by name) is started, such that it wo

[2016-06-16 03:56] sbasapure commented on #16266
jhawkesworth,

Can you please assist me over web conference later today ?
I am willing to setup a call with you and will provide my bridge details to look into the issue closely .

[2016-06-16 06:47] davidebelloni opened #16320 "Included tasks in nested role has undefined variables"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Included tasks in nested role has undefined variables
##### STEPS TO REPRODUCE

In  ./inv

[code]

In ./playbook.yml

[code]

In ./roles/roleA/meta/main.yml

[code]

In ./roles/roleB/tasks/main.yml

[code]

In ./roles/roleB/tasks/sub_tasks.yml

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL R

[2016-06-16 06:49] davidebelloni commented on #14343
I've opened a new issue (#16320) because I think the bug is slightly different

[2016-06-16 07:01] serine opened #16321 "unarchive module seems to brake when file name have a space"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

I haven't touch any of the configurations - used defualt on ubuntu. Installed through ppa
##### OS / ENVIRONMENT

[code]

[code]
##### SUMMARY

This is the error that I'm seeing

[code]

When I look for this file on the remote machine, the file is there ! It appears that because it has a space ansible breaks.

If i r

[2016-06-16 07:24] juanjomm commented on #16118
@bcoca, @jhawkesworth

Perfect! It works well as you say.
Thank you very much.

[2016-06-16 08:56] rawbertp opened #16322 "Issues with tmp file permissions on Solaris 11 (become: true)"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

When using become: true e.g. with the ping, or any other plugin, Ansible fails with the following error:

[code]

NB: {{ansible_become_user}} is an unprivileged account!
##### STEPS TO REPRODUCE

[code]

{{ansible_become}} must be true for the host(s).
{{ansible_become_us

[2016-06-16 09:43] tomsun commented on #16306
nice solution, +1 for somehow adding synchronize support

https://github.com/ansible/ansible/blob/4ea5f77062f427387d8c0486551e64e38072a8eb/lib/ansible/plugins/action/synchronize.py#L172-L177

[2016-06-16 09:47] sza-1 opened #16323 "mount module does not act as documented"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration.
##### OS / ENVIRONMENT

Arch Linux
##### SUMMARY

Documentation (http://docs.ansible.com/ansible/mount_module.html) for mount module says that fstype and src options are required when state=present or state=mounted. So I do not need to specify fstype and src when I just wish to unmount device.

[2016-06-16 11:01] cowst opened #16324 "register assigned even when skipping task"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Source and destination CentOS 7.1
##### SUMMARY

When registering a variable conditionally, it is registered even when skipping the task.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

data_dir should contain the first path
##### ACTUAL RESULTS

the skipping message of second check is

[2016-06-16 11:34] dbarrosop commented on #13278
Is there any progress on this? I started seeing this randomly with modules like `copy` and other core modules, `become: true` seems to be what they all have in common.

[2016-06-16 12:13] sivel commented on #16324
This is the expected behavior. Registering even when skipping allows a user to use that registered var later to determine if the previous task had been skipped.

You should not try to register the same car twice, but instead register 2 different vars.

# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and w

[2016-06-16 12:13] #16324 closed, assigned to nobody

[2016-06-16 12:51] ritzk commented on #13825
@nocive  could you try - https://github.com/ansible/ansible/pull/16138 .