[2017-03-24 14:53] jctanner commented on #22944
@NavyaSurendran please fill out the issue template in your description to give us enough context to troubleshoot this issue.

needs_info

[2017-03-24 15:04] jctanner commented on #22945
cc @manuel-sousa @chrishoffman @romanek-adam @s-hertel @retr0h

[2017-03-24 15:18] jctanner opened #22946 "docker_service doesn't pass environment to docker-compose"
_From @davojan on October 18, 2016 11:22_

##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

`docker_service` task doesn't pass environment variables defined using `environment` option at task- or playbook-level to the `docker-compose.yml` when using `project_src`.
##### STEPS TO REPRODU

[2017-03-24 15:18] jctanner commented on #22946
_From @ansibot on October 18, 2016 11:29_

@ansible ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-03-24 15:18] jctanner commented on #22946
_From @ansibot on November 3, 2016 8:32_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-03-24 15:18] jctanner commented on #22946
_From @ansibot on November 18, 2016 9:31_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-03-24 15:18] jctanner commented on #22946
_From @ansibot on December 7, 2016 19:49_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-03-24 15:19] jctanner commented on #22946
Related:
https://github.com/ansible/ansible-modules-core/pull/3787
https://github.com/ansible/ansible-modules-core/issues/3768
https://github.com/ansible/ansible-modules-core/issues/5661

[2017-03-24 16:03] bjne commented on #22913
ping

[2017-03-24 16:10] sivel commented on #22913
We haven't forgotten about you or this issue, but I wouldn't expect an immediate resolution.  I don't know your exact implementation, but in the simple examples, there are easy work arounds.

[2017-03-24 16:16] ctx opened #22947 "unarchive checks for excluded files"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

When you use the exclude option of the unarchive module ansible checks for the excluded files and fails because they were never extracted.

##### STEPS TO REPRODUCE

Use a zip file with a subdirectory:
[code]
Extract the zip file

[2017-03-24 16:16] bjne commented on #22913
yeah, but not when using include in a loop the way I do unfortunately, and this new behavior is critical and can
cause serious damage, so I hope it will be prioritized. Anyone using vars and using two levels of variable expansion is affected, seems.

[2017-03-24 16:17] #22111 closed, assigned to nobody

[2017-03-24 16:17] dagwieers commented on #21128
This has been merged for v2.4.

[2017-03-24 16:17] #21128 closed, assigned to jhawkesworth

[2017-03-24 16:18] sivel commented on #22913
I was pretty sure I was I knew the commit that introduced this.  I bisected, and confirmed the commit: ec84ff6de6eca9224bf3f22b752bb8da806611ed

[2017-03-24 16:20] bjne commented on #22913
afaik 2.3 is not affected (not the version we tested with atleast, unsure of which)

[2017-03-24 16:21] sivel commented on #22913
I tested, and confirmed that it is.

[2017-03-24 16:34] bcoca commented on #16973
@simplesteph desire, yes, time, no

[2017-03-24 17:03] abadger commented on #22872
Okay.  Does that mean that we should close this here?  Seems like the combination of python-2.4 + this particular proxy is what is causing the problem?

[2017-03-24 17:06] sivel commented on #20613
This has been looked at before, and we attempted to resolve it, with the final decision being that it has unintended side effects that we were not comfortable with:

https://github.com/ansible/ansible/pull/19664

There are some work arounds provided in that pull request that may be of assistance.

Additionally there are probably some other solutions to the problem such as:

[code]

And then:

[cod

[2017-03-24 17:06] #20613 closed, assigned to nobody

[2017-03-24 17:07] krzysztof-magosa commented on #22902
Could you run `yum check-update` and show it's exit code (`echo $?`)?

[2017-03-24 17:07] #22840 closed, assigned to nobody

[2017-03-24 17:10] aabdnn commented on #22902
# yum check-update
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: mirrors.noction.com
 * epel: epel.mirror.nucleus.be
 * extras: mirrors.noction.com
 * gii: cf3-ext.ripe.net
 * updates: mirrors.noction.com

atlasprobe.x86_64                                                                   4770-2                                                                   g

[2017-03-24 17:47] abadger commented on #22396
Changed the title since skip-tags and tags support is pending for python3 and this is now just an enhancement request for warning when processing the commandline args.

!python3

[2017-03-24 17:50] rscarazz commented on #20701
Hi, sorry for the late reply. I tried a test with 2.2.1.0 and it worked, so this bug can be considered fixed.

[2017-03-24 17:50] #20701 closed, assigned to nobody

[2017-03-24 17:52] sivel commented on #22396
Some CLI options do permit being supplied multiple times though, just something to be aware of.

[2017-03-24 18:07] vforsythe commented on #18965
@bcoca Do you know when this fix is going to be released? Also I wanted to ask you if this will also apply if I restart the service manually and not through an ansible service.

[2017-03-24 18:15] Krukiou commented on #22814
Hey,

Yes, the problem is solved.

thanks,

Lionel

[2017-03-24 18:18] snowsky commented on #22946
Run into the same issue.

[2017-03-24 18:28] jhawkesworth commented on #18719
For future reference I found some ways of checking if an address if valid ipv4 or v6 address here: http://stackoverflow.com/questions/11827961/checking-for-ip-addresses

Just wondering if using a hostname is a viable alternative?  ip addresses (v4 and v6) are for machines, hostnames are for humans.

[2017-03-24 18:36] sivel commented on #22946
I think the problem is that `docker_service` would need it's own `env` argument just like `docker_container` to support this.

The `environment` directive on a task, give the `docker_service` module access to specified environment variables, and isn't intended to give services created by `docker_service` access to those env vars.

[2017-03-24 18:41] snowsky commented on #22946
It failed at the function process_config_file.

[2017-03-24 18:42] sean-abbott commented on #17582
I'm having this issue with 2.2.1:

[code]

The printed facts for hostvars[item] do not include any of the gathered facts, only the stuff in my inventory.

[2017-03-24 18:56] snowsky commented on #22946
seems the compose yml file is in a wrong format:
[code]

[2017-03-24 19:06] sean-abbott commented on #20980
Left a message elsewhere, but I'm experiencing this on 2.2.1 as well.

http://pastebin.com/Yx8QrMs8

The results for print hostvars from the admin-backends groups only includes variables from my inventory, and no gathered facts.

[2017-03-24 19:18] mavit commented on #21339
`git blame` is your friend, here.  A patch to change back the default value of `remote_tmp` would need to include an alternative fix for #16032, I'd think.

[2017-03-24 19:26] mavit commented on #22781
needs_info

[2017-03-24 19:44] allpoints opened #22953 "rabbitmq_queue has no option to use HTTPS when accessing RabbitMQ management API"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
rabbitmq_queue

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
< destination_variable = private_dns_name
< vpc_destination_variable = private_ip_address

##### OS / ENVIRONMENT
Controller:
[code]
Target:
[code]

##### SUMMARY
The module hardcodes "http" in the URI which it generates which prevents it from accessing systems which are expecting

[2017-03-24 20:05] #20447 closed, assigned to nobody

[2017-03-24 20:13] worsco opened #22955 "parted module returns "[Errno 2] No such file or directory""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

parted

##### ANSIBLE VERSION

[code]
git pull from stable-2.3 branch and 'make rpm'
$ rpm -qa | grep ^ansible
ansible-2.3.0.0-100.git201703241924.58f002d.stable23.el7.centos.noarch

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.3 x86_64

##### SUMMARY

Cannot use the parted module.  Returns "[Errno 2] No such file or directory
##### S

[2017-03-24 20:25] snowsky commented on #22946
This works for me though:
[code]

[2017-03-24 21:03] wrouesnel commented on #18968
I can test with an NX 9000 next week.

[2017-03-24 21:13] krzysztof-magosa commented on #22955
Looks like it does not see `parted` in PATH.
Try adding that at task level and let us know it helps or not:
[code]

[2017-03-24 21:44] Infiniverse commented on #22898
I've put together a potential implementation: #22958

[2017-03-24 21:56] TJuberg commented on #22600
#22918 now allows the connection to actually initialize, it does not however manage to authenticate with the router and seems to disconnect almost immediately before actually trying to authenticate.

The router log shows that the client disconnects preauth
`Mar 24 20:41:10  mx104 sshd[5630]: Connection closed by xxx.xxx.xxx.xxx [preauth]`

Sanitized strace without Ansible Log enabled:
[strace.zip]

[2017-03-24 23:44] pako-pl opened #22961 "Splitting inventory into two files makes Ansible generate errors when using to hostvars"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
inventory      = /ansible/inventory

##### OS / ENVIRONMENT
Debian Jessie 64 bit

##### SUMMARY
When /ansible/inventory is one big file, everything works fine for us. Trying to split it into two files:

/ansible/inventory/linux
/ansible/inventory/windows

causes errors. Example below.

##### TEMPLATE
[code]

##### AC

[2017-03-24 23:49] sivel commented on #22961
Per the documentation:

This means that `host_vars` and `group_vars` need to either live beside the playbook file or inventory file. Special note on *file* here.

Because you have split the files out and nested them within an inventory directory, you now need to move `host_vars` and `group_vars` into the inventory directory to satisfy the search path.

[2017-03-25 00:03] sivel commented on #22961
If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-03-25 00:03] #22961 closed, assigned to nobody

[2017-03-25 00:11] terox commented on #7235
After hours trying to enable the capability os "AgentForwarding" I desisted in favor of upload an deployment key. I hope that it helps:

[code]
Note: use in the same role/task.

[2017-03-25 00:49] snowsky commented on #22913
confirmed in ansible-playbook 2.4.0 (tasks_from d99d6b02d5)

[2017-03-25 01:17] snowsky commented on #22913
root@ubuntu-xenial:~/ansible# git tag --contains ec84ff6
v2.2.1.0-0.3.rc3
v2.2.1.0-0.4.rc4
v2.2.1.0-0.5.rc5
v2.2.1.0-1
v2.2.2.0-0.1.rc1
v2.2.2.0-0.2.rc2

[2017-03-25 01:23] JREAM commented on #15321
I finally got mine to work, this is with the root user, first provision i suppose. Thanks for all the tips, even though this is a bit strange.

- Host: Ubuntu 16.04.2 LTS
- Server: Ubuntu 16.04.2 LTS
- Ansible Version: Ansible 2.2.1.0
- Paramiko with Python2.7 or Python3.5 works.

**file: hosts**
[code]

**command**
[code]

I noticed for `root` user, I can run  without the `-u root` flag, and with

[2017-03-25 02:51] snowsky commented on #22913
Is this a new feature? I am not sure if we support one more step value expansion.

[2017-03-25 03:01] otakup0pe commented on #20109
@gundalow I seem to be getting this with `2.2.1.0`

[2017-03-25 03:15] #19131 closed, assigned to nobody

[2017-03-25 04:12] privateip commented on #22600
The problem with the logging file permissions was indeed a bug.  The forked child process was changing its working directory to `/` which is why you are seeing the permissions error since you set the value of `ANSIBLE_LOG_PATH` to `./ansible.log`.

I just pushed PR #22964 as a fix to this issue.  The forked child process will no longer change the working directory and leave it as the root of the p

[2017-03-25 04:13] privateip commented on #22703
Permission error fixed in #22964

[2017-03-25 05:39] mackwage opened #22967 "Installing pip packages in virtualenv"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
2.2.1.0

##### COMPONENT NAME
lib/ansible/modules/packaging/language/pip.py

##### SUMMARY
I am running into similar to a few others on here but didn't readily find a solution (sorry if my google-fu failed me).

I use Ansible to auto-setup Cowrie boxes. Had no issues on older versions of Ansible but after get getting everything up to date, run

[2017-03-25 08:43] ederst commented on #15769
@changzhi1990 try the [2.3 release candidate](http://releases.ansible.com/ansible/ansible-2.3.0.0-0.1.rc1.tar.gz). seems to fix the issue for us ([this commit likely fixes the hang problem](https://github.com/ansible/ansible/commit/d1a6b07fe1ceb8099abf763ac7e4bb4ebfaf1d3f#diff-2cdbb4c74e2af35eda8ddf643f904b1a)). we will test it on a larger scale though, to be sure.

[2017-03-25 09:26] Novex opened #22968 "Setting registry ACLs using win_acl is broken by ALL APPLICATION PACKAGES"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_acl

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
CentOS 7 Docker Image as controller configuring a Windows Server 2016 host

##### SUMMARY
The ability to set ACLs in the Windows Registry (introduced in #19443) doesn't appear to work on Windows Server 2016 (and I assume Server 2012 too).

The underlying issue

[2017-03-25 09:57] pako-pl commented on #22961
You are right. I thought it was a bug because some variables worked, and some didn't. But moving `host_vars` and `group_vars` inside the `inventory` directory helped resolve the issue:

[code]

[2017-03-25 10:16] m-o-n-k commented on #18985
Thanks alot!

[2017-03-25 11:25] TinajaLabs opened #22970 "Unable to find in expected paths"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
command: bash <(curl -sL https://raw.githubusercontent.com/node-red/raspbian-deb-package/master/resources/update-nodejs-and-nodered)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
normal

##### OS / ENVIRONMENT
Ansible running on Ubuntu 16.04
Managing Rasbian - Debian Jessie

##### SUMMARY
I am trying to execute the following on a raspberry

[2017-03-25 14:40] tstringer commented on #22835
@jctanner that did the trick! But how is this actually working?? It errors out on [the call to `ansiballz_setup()` when you only pass two params](https://github.com/ansible/ansible/blob/devel/hacking/test-module#L235). [`ansiballz_setup()` takes three params](https://github.com/ansible/ansible/blob/devel/hacking/test-module#L170-L193). Once I modified the aforementioned call to include a 3rd param

[2017-03-25 15:03] emonty commented on #22662
https://github.com/openstack-infra/shade/commit/9f2287c2df9030db1be1415b75a1a910545f0d8d - Has been merged - will release soon (probably Monday, so that I can otherwise weekend)

[2017-03-25 17:11] rektide commented on #22347
This appears to be a dupe of #20545.

[2017-03-25 18:43] phmio commented on #22925
Thanks for the reply.
I need this behavior because i want to extend remote PATH like that:
[code]
I tried your workaround with the code below and seems to work but it is not logic for a such professional tool to use tricks like this one, as i have to set "server2" two times and have to modify all my playbooks that way...

[code]

[2017-03-25 21:18] snowsky commented on #22970
I cannot reproduce the issue.

[2017-03-25 21:29] sivel commented on #22970
I think the problem here is in how the script module works. The script module will copy the script from the ansible controller to the remote node and execute it.

You are downloading the script directly to the remote node, so the script module can't find it locally to copy it.

Instead of using script, you should try the command module instead.

[2017-03-25 21:29] snowsky commented on #22940
I can reproduce the issue and will take a look.

[2017-03-25 21:52] krzysztof-magosa commented on #22940
`git bisect` may be useful if you want to go this way ;)

[2017-03-25 23:23] ag-wood commented on #18417
Thanks @rockpenguin, unfortunately using a relative path as you do doesn't seem to work for me, I have to use an absolute path to make it work and that is very limiting, forcing everyone using the role to have the same structure or requiring manual updates.

[2017-03-26 03:09] TinajaLabs commented on #22970
I switched to the command module as suggested by sivel.

This is what I ended up with:
[code]

I discovered that the script required a response so invoked the ```expect``` module which then required a python module and pip to install that.

Anyway, I'm not sure what caused the original problem but I've got it working with a differernt implementation.

Thanks for the help.

[2017-03-26 03:09] #22970 closed, assigned to nobody

[2017-03-26 03:44] rodmanning commented on #17382
Thanks @george-buckerfield, that's exactly the behaviour I'd be wanting. I've looked at that part of the code and agree with your take on it.

My take on desirable behaviour: saving with a "~" extension for backup files is the default behaviour for both vim & emacs, so makes sense to exclude these when parsing hostvars and groupvars.

Alternatively might be to reverse the sort order, so that backu

[2017-03-26 04:48] derekbelrose opened #22977 "Allow appending of remoteip"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
module: win_firewall_rule

##### ANSIBLE VERSION
ansible 2.3.0.0
  config file = /Users/derek/.ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.10 (default, Jul 30 2016, 19:40:32) [GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)]

##### CONFIGURATION
[defaults]
roles_path=~/development/OCC/ansib

[2017-03-26 06:20] derekbelrose commented on #22977
I realize that I can just create a new rule per IP address, I'm just hoping that we can get to a point where I do not have to duplicate rules for each one.  I'm currently doing multiple rules instead.

[2017-03-26 09:06] WooDzu commented on #21588
Hi @s-hertel The PR is now landed and waiting for review #22978

[2017-03-26 10:19] michael-dev2rights commented on #22552
It is very difficult to fully document the requirements of each module because those requirements will vary depending on how the module is used.  For example, a module that is only used in "state: present" mode will need only create rights and should _not_ have delete rights, whilst if you use the same module with  "state: absent" you _will_ need delete rights.

My proposal is to

* start with an

[2017-03-26 10:31] george-buckerfield commented on #17382
@rodmanning I had a PR ready to go a while back, so I've submitted it. Happy to modify it based on any feedback though.

[2017-03-26 13:33] #19789 closed, assigned to nobody

[2017-03-26 17:23] sshnaidm commented on #12903
👍

[2017-03-26 17:42] LuckySB commented on #21279
I wanted to make a config with dynamic roles

But each role is played as many times as the number of hosts with it is specified in the inventory
And each role is played on each host!

my roles and playbook:
https://github.com/LuckySB/ansible_include_role_bug
3 host with list variable roles:

ds02.test.com
---
[code]
vs01.test.com
---
[code]

vs110.test.com
---
[code]
main role:
[code]
include task

[2017-03-26 19:19] snowsky commented on #21279
Each item in loop generates 2 results.

[2017-03-26 19:40] snowsky opened #22982 "loop item not working with include_role"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

playbook will include 3 roles.
##### ACTUAL RESULTS

[code]

[code]

[2017-03-26 20:14] smemsh opened #22983 "include_role does not work ad-hoc, ie "ansible -m include_role ...""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]
##### SUMMARY

`include_role` does not work like other modules, that is, callable as ad-hoc command.  other modules appear to work fine with identical syntax.  this is preventing use of `include_role` to run roles dynamically from the command line with ansible's ad-hoc mode invocation.

##### STEPS T

[2017-03-26 20:37] bhuddleston opened #22984 "authorized_key is not working in Python3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

authorized_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Sierra (10.12.3)

##### SUMMARY

Today I had to use one of my playbooks against a box that only has Python3.  I learned about the "ansible_python_interpreter=/usr/bin/python3" variable I had to set, and my playbook worked through everythin

[2017-03-26 22:17] smemsh opened #22985 "roles: cannot take a variable list, it must be inline"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
roles

##### ANSIBLE VERSION

[code]

##### SUMMARY

the `roles:` keyword cannot take a list that is not specified inline.  that is, it cannot be a variable.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

execute the give list of roles

##### ACTUAL RESULTS

[code]

[2017-03-26 22:23] smemsh commented on #19305
not just facts, but any variables; eg this does not work either:

[code]

[2017-03-26 22:41] mprasil commented on #19084
To dumb down the steps to reproduce this playbook ends up with the _"ERROR! Vars in a TaskInclude must be specified as a dictionary, or a list of dictionaries"_ error:

    - hosts: localhost
      tasks:
      - include: "inc.yml"
        vars: "{{ {'a': 1} }}"

While this one works fine:

    - hosts: localhost
      tasks:
      - include: "inc.yml"
        vars: {'a': 1}

I was able to reprodu

[2017-03-26 23:01] mprasil commented on #19084
There's a possible workaround if you can change the role/task file you're including. You can set some hand-over variable like this:

[code]

and then as a first step in your included file:

[code]

This throws a deprecation warning, but works for now. Hopefully this will be fixed before the functionality is deprecated.

Hope that helps.

[2017-03-27 02:40] berney commented on #20998
I am hitting similar issue in Ansible v2.2.1.0, whilst researching it I found this issue, and #14953. Check if you are in a python virtual environment (venv) and if you have missing modules. I haven't solved my issue yet...

[2017-03-27 03:47] berney opened #22987 "v2.2.1 local_action with_fileglob trying to ssh to localhost, v2.1.2 doesn't"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- local_action
- with_fileglob

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
* no `ANSIBLE_`* environment variables

##### OS / ENVIRONMENT

* Linux 4

##### SUMMARY

In ansible v2.1.2 local_action would run python modules directly on localhost, after upgrading to ansible v2.2.1 it tries to ssh to localhost (which fails auth). No c

[2017-03-27 07:14] NickBall commented on #19327
Resolved by pull #19698

[2017-03-27 07:14] #19327 closed, assigned to nobody

[2017-03-27 07:49] berlic opened #22988 "sequence lookup shortcut syntax doesn't work and wrong docs"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
`sequence` lookup plugin

##### ANSIBLE VERSION
[code]
2.1, 2.3 and 2.4 have the same bug.

##### CONFIGURATION
Standard config

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`with_sequence` shortcut syntax `[start-]end[/stride][:format]` is not honoured.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Loop over [5,6

[2017-03-27 07:51] TJuberg commented on #22600
Thank you @privateip

We are now able to connect to the hosts, although it seems Ansible forces RSA for host key detection instead of the more secure defaults of ECDSA/ED25519 which was causing host key verification failures until I either disabled host key verifications or manually added the RSA hostkey to known_hosts (despite the ECDSA key being present, and being what openssh itself uses to con

[2017-03-27 07:58] jhawkesworth commented on #18880
Just to say I'm still on this but its slow going without the ability to keep remote files at the moment.
Trying to work out a repeatable way to debug on the windows host at the moment.

[2017-03-27 08:16] autarch commented on #22781
[code]

Running `pkg change-facet version-lock.editor/vim=false` did not change the return code from `pkg install vim`, which was still `4`.

[2017-03-27 08:32] autarch commented on #22781
I tried out the proposed fix for https://github.com/ansible/ansible/issues/22823 and that didn't change the issue I was seeing here, so I now think they're two completely separate issues.

I do note that if I ask for the vim package to be `present` instead of `latest` the issue goes away, because of course vim is already installed by default. That said, trying to upgrade a default package shouldn'

[2017-03-27 09:17] lvyc7chinaunicom commented on #22944
hello， @jctanner i also encounter this problem:
ansile version:2.3.0
running in docker
the command is :
`ansible 10.161.10.162 -m raw -a ". .bash_profile&&cd /cbss/credit/user/python_app&&python lvtest.py 2 2" -u credit -k -vvvv`
after insert the password , the result is like this:

SSH password:
Loading callback plugin minimal of type stdout, v2.0 from /opt/ansible/ansible/lib/ansible/plugins/cal

[2017-03-27 09:19] lvyc7chinaunicom commented on #22944
@jctanner This problem is random, good or bad.

[2017-03-27 10:47] gundalow commented on #22853
@jmighion What's the new issue ID?

[2017-03-27 11:09] gundalow commented on #18968
@wrouesnel Thank would be great, thanks

[2017-03-27 11:11] adgon92 commented on #14248
+1

[2017-03-27 11:16] sivel commented on #22987
This is a duplicate of https://github.com/ansible//issues/18549

duplicate_of 18549

[2017-03-27 11:18] #22872 closed, assigned to nobody

[2017-03-27 11:25] #22987 closed, assigned to nobody

[2017-03-27 11:33] Nirkus opened #22992 "Filter quote fails to escape concatenated strings"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Filter `quote` from filter plugin `core`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY
When trying to escape concatenated strings using the quote filter, I get a stack trace complaining about:
`ValueError: No closing quotation`
Using the same string w/o concatenating it within the template expre

[2017-03-27 11:35] berney commented on #22987
@sivel Thanks, I didn't find #18549 when searching.

[2017-03-27 11:36] dminca opened #22993 "[docker] docker-py naming conflict since 2.0.2 release"
Since the release of `docker` [v2.0.2][1] both `docker-py` and `docker` libs cannot reside  together as it'll throw a naming conflict error.

This change has already been applied in docker/docker-py#1399 in order to fix docker/docker-py#1395 docker/docker-py#1370 and last but not least docker/compose#4344 , thus `docker-compose` [v1.10.1][6]+ will require the `docker` lib instead of the `docker-py

[2017-03-27 12:18] Akvarium commented on #22600
Closing the issue as it is now solved.
Thanks @privateip :)

[2017-03-27 12:18] #22600 closed, assigned to privateip, Qalthos

[2017-03-27 12:24] emoshaya-cognito commented on #19075
+1

[2017-03-27 12:25] worsco commented on #22955
Yes, adding...
`
environment:
  PATH: "/usr/bin:/usr/sbin"
`
...seems to fix it.  I don't add the above for other Ansible modules.  Is this a bug?  Or should it be mentioned as a necessity on the module page [https://docs.ansible.com/ansible/parted_module.html]

[2017-03-27 12:48] worsco opened #22996 "[parted] module 'parted' is not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

parted

##### ANSIBLE VERSION

[code]
git pull from stable-2.3 branch and 'make rpm'
$ rpm -qa | grep ^ansible
ansible-2.3.0.0-100.git201703241924.58f002d.stable23.el7.centos.noarch

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.3 x86_64

##### SUMMARY

First run of parted module is successful.
Second run of parted module is not idempo

[2017-03-27 12:51] krzysztof-magosa commented on #22955
It's possible that sudo does some magic with PATH variable.

[2017-03-27 12:58] bcoca commented on #22983
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

There are several task actions that don't make sense and cannot work with adhoc, this is due to design, not a bug.

In the future, this

[2017-03-27 12:58] #22983 closed, assigned to nobody

[2017-03-27 13:34] tumbl3w33d opened #22998 "hostfile configured in ansible.cfg ignored"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible.cfg and inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Only ansible.cfg contains configuration.
[code]
and my inventory (with name `inventory`), adjacent to site.yml, contains a single server named myserver.

##### OS / ENVIRONMENT
`4.9.0-2-amd64 #1 SMP Debian 4.9.13-1 (2017-02-27)`

##### SUMMARY
Ansible doesn't consider t

[2017-03-27 13:39] Smuggla opened #22999 "docker_container homedir ('/~') issue running localhost"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
OS X El Capitan Version 10.11.6

##### SUMMARY

Created a local playbook for building docker hosts for testing.

Moved config files for container into $USER '~/' dir

docker_container uses an incorrect path for '~/' when mounting volumes.

##### S

[2017-03-27 13:41] jctanner commented on #22944
@lvyc7chinaunicom please open a new issue.

[2017-03-27 13:43] alikins commented on #22967
Is this related to https://github.com/ansible/ansible-modules-core/issues/5347 ?

https://github.com/ansible/ansible-modules-core/issues/5347 should have been fixed in https://github.com/ansible/ansible-modules-core/pull/5453  (and backported to stable-2.2 branch in commit 8f0ab373d59fd59fbb2942e870ebc6502dce0f89)

Need more info:
- what version of python/pip is used by the cowrie-env virtualenv?

[2017-03-27 13:48] bcoca commented on #22998
hostfile was deprecated in 2.0 and removed in 2.4, use 'inventory' instead

[2017-03-27 13:48] #22998 closed, assigned to nobody

[2017-03-27 14:08] mackwage commented on #22967
`ansible --version
ansible 2.2.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides`

`pip --version
pip 9.0.1 from /home/cowrie/cowrie-env/local/lib/python2.7/site-packages (python 2.7)`

[2017-03-27 14:13] alikins commented on #22982
I can reproduce with stable-2.2 and devel/

stable-2.2:
[code]

devel/
[code]

[2017-03-27 14:15] alikins commented on #22982
repro example at https://github.com/alikins/ansible-bug-repro/tree/master/with_item_include_role_22982

[2017-03-27 14:30] alikins commented on #22985
I can reproduce this, but it looks like 'roles:' keyword doesnt support being passed a list intentionally.

See https://github.com/ansible/ansible/issues/12478 and https://github.com/ansible/ansible/commit/c9a004227eba544cd1a8e9c3c7ce1e5463a5b418

Not entirely sure why yet however.

[2017-03-27 14:32] alikins commented on #22985
repro test case at https://github.com/alikins/ansible-bug-repro/tree/master/roles_given_a_list_22985

[2017-03-27 14:57] alikins commented on #22988
I can reproduce similar failures with devel.

[code]

[2017-03-27 15:04] alikins commented on #22988
Not sure if the keyword arg like '5-6' is expected to work. It seems to fail with
2.0/2.1/2.2 as well.

Is 'shortcut syntax [start-]end[/stride][:format]' in the docs somewhere?

[code]

[2017-03-27 15:06] alikins commented on #22988
Testing this with older versions, one thing that has changed is current versions provide a less useful error messages. Older versions would fail with:

[code]

newer versions fail with

[code]

[2017-03-27 15:16] berlic commented on #22988
@alikins yes, this doesn't work with any recent Ansible version.
I think this worked in the past because of different Python behaviour (regarding functions returning `None`).

And there [was](https://github.com/ansible/ansible/blob/13ddd39db99706a4a0775b5d610a104559e7666d/test/lookup_plugins.yml#L29-L46) a test for this which was replaced by tests with other syntax for some reason.

[2017-03-27 15:23] alikins commented on #22992
I can reproduce with devel/

repro example at https://github.com/alikins/ansible-bug-repro/tree/master/quote_filter_concat_22992

playbook:
[code]

output:
[code]

[2017-03-27 15:31] alikins commented on #22992
Also tested this on older versions (2.x) and they get the same error.

Suspect module_utiles/basic.py needs to be catching exceptions from where shlex.split() ends up being used.

[2017-03-27 15:32] alikins commented on #22992
Try using the quote filter before the concat

[code]

output:

[code]

[2017-03-27 15:48] alikins commented on #22947
I suspect unarchive 'excludes' that include wildcards works for the extract in some cases (when excludes ends up as the unzip '-x' args) but the files_in_archive property (used in the check/diff case) does not support wildcards.

So I think files_in_archive ends up including paths (like 'directory/subdirectory/') that are excluded in the unarchive and are skipped. Then you hit the 'Unexpected erro

[2017-03-27 16:49] alikins commented on #22953
Hmm, looks like https://github.com/ansible/ansible/pull/18437 and https://github.com/ansible/ansible-modules-extras/pull/2872/files  potentially fix this.

Those prs need rebasing to devel/ but look like a reasonable fix.

[2017-03-27 16:55] alikins commented on #22955
Looks like parted module uses module.run_command('parted --version'). Probably should
be using module.get_bin_path('parted') to get the path before run_command.

[2017-03-27 16:56] jean-christophe-manciot commented on #18968
@privateip  @gundalow @calfonso
Yes, finally :)
With latest ansible from ```pip install git+git://github.com/ansible/ansible.git@devel```:
[code]
On **NX-OSv 7000 7.3(0)D1(1)**
I am able to pull all facts:
[code]

Same success on **NX-OSv 9000 7.0(3)I5(1)**.

As far as I'm concerned, this issue is solved.
However, we should probably wait for @wrouesnel for tests on physical Nexus 93xx or 95xx befo

[2017-03-27 17:11] alikins commented on #22984
Looks like this is a duplicate of https://github.com/ansible/ansible/issues/20007 (fixed in devel in https://github.com/ansible/ansible/commit/fafe5bba59163c525b82b6eaf12d0d4627a79bf7).

That fix has also been backported to the stable-2.2 branch in 59c9a6d3c20e73641c430fdaa3f250c1ff431dcc so should land in ansible 2.2.2.0 when released.

duplicate_of 20007

[2017-03-27 17:11] #22984 closed, assigned to nobody

[2017-03-27 17:29] fasterfish commented on #22240
Ansible, as a product, inspired me to write [my own bike for vsphere](https://github.com/fasterfish/vsphere_module), although I never wrote in python. If this module is interesting, then I'm ready to support it properly.

[2017-03-27 17:46] gundalow commented on #18968
@jean-christophe-manciot Thank you for testing this.

Will wait for final confirmation from @wrouesnel

[2017-03-27 18:23] rcarrillocruz commented on #20443
We plan to improve the support of different CLI commands per device type/versions in 2.4.
Putting 2.4 as milestone.

[2017-03-27 18:29] welchwilmerck opened #23009 "Error in jinja parsing in shell task, but not name or debug msg."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

shell doesn't fully honor jinja {% raw %} block.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS

##### SUMMARY

Jinja raw block works as expected to escape unbalanced jinja directives in many other places in a playbook, but not directly in shell.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[c

[2017-03-27 18:49] rhunwicks commented on #22547
Sorry, but I won't have time to create a PR any time soon. I will check back when I do have time and pick it up if it is still open.

I think it would be a good idea if the module reported the differences between the existing and the new task definition when run with `-vv` or `-vvv` because that would help users to work out why new tasks are being created accidentally.

[2017-03-27 20:09] tstringer commented on #22197
Also, what version of the azure python sdk are you using? `pip show azure`

[2017-03-27 20:16] krzysztof-magosa commented on #22992
What about `{{ (test_eins + '/static_component') | quote }}`?
`|` has very high precedence, probably higher than `+`.

[2017-03-27 20:19] snowsky commented on #22982
I don't see loop_var is defined for include_role. I'll take another look.

[2017-03-27 20:31] Dixon3 commented on #21285
The same issue...

[2017-03-27 20:32] snowsky commented on #22982
Dup with #21285.

[2017-03-27 20:32] #22982 closed, assigned to nobody

[2017-03-27 20:33] snowsky commented on #21285
yes, loop_var not working with include_role.

[2017-03-27 21:06] michelleperz opened #23013 "Update redhat_subscription module docs to show that autosubscribe is deprecated"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
redhat_subscription
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

RHEL 7.3

##### SUMMARY
The redhat_subscription module currently includes an autosubscribe param to auto-consume subscriptions after registration.  However, --autosubscribe is deprecated:

[code]

so we should update the module docs to indicate that underneath

[2017-03-27 21:16] michelleperz opened #23014 "Implement --auto-attach in redhat_subscription module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
redhat_subscription

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

RHEL 7.3

##### SUMMARY
As indicated in #23013 autosubscribe is deprecated in favor of auto-attach so we should look to implement that functionality in this module.  It was suggested that we copy that logic to address #19466 but wanted to suggest breaking it out as it

[2017-03-27 21:43] jamielennox opened #23016 "AttributeError: 'Host' object has no attribute 'remove_group' in 2.2.2.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
```ansible/inventory/__init__.py", line 181```

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
In the upgrade to 2.2.2.0 we started seeing the error:
[code]
It _looks_ like when https://github.com/ansible/ansible/commit/36b462ba857361ba310c7967a721c025c13d2225 was cherry-picked but not https://github.com/ansible/ansible/

[2017-03-27 22:05] Nirkus commented on #22992
Maybe escaping for single shell tokens safely requires a custom tag in order to actually protect from shell injection through untrusted data? :-/

[2017-03-27 22:18] Nirkus opened #23017 "copy module complains that "absolute paths are required""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY
When deploying an application cluster, I am copying the applications war file to destination hosts before deploying them to multiple tomcat instances.
Currently, my playbook copies the .war file from the local "files/" directory on the a

[2017-03-27 22:28] sivel commented on #22992
@krzysztof-magosa is correct.  You need to wrap in `()` otherwise `quote` is only being applied to `'/static_component'`

[2017-03-27 22:46] Nirkus commented on #23017
Found a workround for now:

https://gist.github.com/Nirkus/941281b7b89c416e6ecd3a205ec03bbc#gistcomment-2039262

[2017-03-27 23:25] johnboy2 opened #23019 "win_command incorrectly parses args containing spaces"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Windows Server 2012 r2 (target host); Ubuntu 16.04 (management system)

##### SUMMARY
Double-quoted commands containing spaces are incorrectly parsed by "win_command.ps1", causing arguments to be split incorrectly before execution.

##### STEPS TO REPROD

[2017-03-28 00:42] rmauc commented on #22806
I was experiencing a different problem...it was a python issue on AIX and Solaris.. When I run it on RHEL the module works as expected. Thanks very much

[2017-03-28 00:42] #22806 closed, assigned to nobody

[2017-03-28 01:32] rajasaur opened #23022 ""a bytes-like object is required" Error on ec2 keypair module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2/keypair

##### ANSIBLE VERSION
[code]
Built locally

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The ec2 keypair module errors out with a "TypeError: a bytes-like object is required, not 'str'" when run with python 3.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Keypair should be created successfully

##### ACTUAL RESULTS
[code]

B

[2017-03-28 01:47] lvyc7chinaunicom commented on #22944
@jctanner why ?This is the same question.   Isn't it?

[2017-03-28 04:54] fubarhouse commented on #14131
+1... I seriously need this.

Ansible 2.2.1.0
[code]

[2017-03-28 05:00] rouge8 opened #23023 "setup module with delegate_facts broken on non-play hosts in 2.2.2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`setup` module/`delegate_facts`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Using the `setup` module to gather facts from a host not in the play with `delegate_to` and `delegate_facts: true` no longer works on 2.2.2. Worked on 2.2.1 and works on `devel`.

This works on 2.2.2 if I use hos

[2017-03-28 05:19] kcd83 commented on #21770
`CREATE_IN_PROGRESS` is also a problem as the following should be

https://github.com/openstack-infra/shade/blob/master/shade/_normalize.py#L962

[code]

but that fix then produces `AttributeError: 'bool' object has no attribute 'id'`

[2017-03-28 07:04] kayrus commented on #13262
+1

[2017-03-28 07:18] dutt commented on #23016
Hi,
I just apt-upgraded ansible and ran into this, when will the ubuntu ppa receive the fix so I can run ansible again?
Is there a manual workaround until it's deployed?

[2017-03-28 07:46] enandrei commented on #23016
you can install the old one from the ubuntu repos  ( sudo apt install 2.1.1.0-1 )

[2017-03-28 08:03] dutt commented on #23016
Thanks for the help, could you show the command? I've tried various forms of that but I always get
`"E: Version '2.1.1.0-1' for 'ansible' was not found"` so it seems I'm missing something. I've tried

`sudo apt install ansible=2.1.1.0-1ppa-xenial
sudo apt install ansible=2.1.1.0-1ppa
sudo apt install ansible=2.1.1.0-1
sudo apt install ansible=2.1.1.0`

[2017-03-28 08:20] #22747 closed, assigned to rcarrillocruz

[2017-03-28 08:22] enandrei commented on #23016
I edited my previous response with the full name. In case it still  doesn't work , search for available packages.

apt policy ansible
ansible:
  Installed: 2.1.1.0-1~ubuntu16.04.1
  Candidate: 2.2.2.0-1ppa~xenial
  Version table:
     2.2.2.0-1ppa~xenial 500
        500 http://ppa.launchpad.net/ansible/ansible/ubuntu xenial/main amd64 Packages
 *** 2.1.1.0-1~ubuntu16.04.1 100
        100 http://ar

[2017-03-28 08:35] dutt commented on #23016
That part worked very nicely, many thanks for your help. But I ran into https://github.com/ansible/ansible/issues/17495 so it seems I have to wait until 2.2 is fixed.

[2017-03-28 10:41] jlgaddis opened #23028 "libsemanage-python not listed as requirement for seboolean module"
##### ISSUE TYPE

- Documentation Report

##### COMPONENT NAME

`seboolean` module

##### ANSIBLE VERSION

`devel` branch (as of a5b12ff)

##### SUMMARY

Attempting to use the `seboolean` module against a host that is missing the `libsemanage-python` package (i.e. it is not installed) results in `ansible-playbook` (correctly) exiting with an error:

[code]

The [documentation for the module](https

[2017-03-28 11:28] h3po commented on #18540
I just noticed that even explicitly passed variables are not handed down when include_role is used twice, eg:

[code]

yields {{var_from_role_a}} is undefined. Not sure if related to this issue, since it depends on when the yaml template is expanded.

[2017-03-28 11:47] hryamzik opened #23031 "allow_duplicates handlers broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION

[code]

##### SUMMARY

Handlers broken for role with duplicates allowed.

##### STEPS TO REPRODUCE

[code]

See attached zip with this role.

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[test.zip](https://github.com/ansible/ansible/files/875533/test.zip)

[2017-03-28 11:47] gundalow commented on #18185
Shaps has offered to take a look at this

[2017-03-28 12:39] marcowork commented on #1619
issue still exists. any news here?

[2017-03-28 12:45] boxrick opened #23033 "When using - gitlab_user_module - Auth token is not checked and error message is garbage"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

https://docs.ansible.com/ansible/gitlab_user_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When using gitlab_user_module - module with an expired gitlab token, there is seemingly no check performed to see if the token exists or even has any permissions. As such when it gets to trying to

[2017-03-28 12:54] robinro commented on #22455
resolved_by_pr #22502

[2017-03-28 13:48] jctanner commented on #22944
@lvyc7chinaunicom There is no way to know if your issue matches the submitter's. The submitter did not provide sufficient information and this issue is likely to be auto-closed after the submitter fails to respond.

If you feel your issue is important and would like it to be resolved, please open a new issue.

[2017-03-28 13:49] ColOfAbRiX commented on #22996
It seems the code that manages flags is receiving wrong information. Let me dig more

[2017-03-28 13:55] robinro commented on #19074
I believe this is
resolved_by_pr #21712

@adamchainz For me your example runs fine on the current devel version. Please close this issue if it works for you.

[2017-03-28 13:59] berney commented on #5564
This still prints the item twice (the label, plus pretty JSON), as well as the message.

I find `debug` with a loops behaviour very different to what I expected. Without a loop it is easy to print a simple message, when used with looping it prints a dump of the variable as well as the message.

What I expected to write: -

[code]

Result I expected, something close to: -
[code]

- If I use loop co

[2017-03-28 14:02] ColOfAbRiX commented on #22955
Yes, that was the issue, thanks. I'll push asap.

[2017-03-28 14:09] TimJDFletcher commented on #18889
Full working example for reference from Ubuntu 16.04 and docker:
[code]

[2017-03-28 14:12] adamchainz commented on #19074
Works for me 👌

[2017-03-28 14:12] #19074 closed, assigned to nobody

[2017-03-28 14:19] berney commented on #13710
It looks like #17294 implements this.

[2017-03-28 14:40] itdependsnetworks commented on #22216
Finally got time to do this. I assume you mean to set the ansible_log_path, if that is wrong, let me know.

[code]

[code]

[2017-03-28 14:51] jctanner commented on #22692
cc @willthames

[2017-03-28 14:52] jctanner commented on #22692
@jucor ansible 1.9 is no longer supported. Have you tried to reproduce the error on 2.2+ ?

needs_info

[2017-03-28 14:52] sparr commented on #22717
@ansibot (who I am aware is a bot)

This issue is reported on the `devel` branch and the currently active un-versioned website. I am not able to attach an ansible version number to it.

[2017-03-28 14:53] jctanner commented on #22717
@sparr just put "N/A" for the version then

[2017-03-28 14:57] tstringer commented on #21825
Could you run the following code? Does `Standard_D1` exist in the list for you? Please substitute the values before running:

[code]

The reason I'd like you to do this, is that I'm suspecting an issue with the availability of vm sizes in your particular subscription/region combination. Hopefully this output (feel free to pipe it to a `grep Standard_D1` to narrow down the output) will give us some

[2017-03-28 14:58] ryansb commented on #22734
Our general policy for backports is for bugfixes only, and this (IMO) falls into the feature category. If you require the fix, it's included in Ansible 2.3 release candidate that's available for download.

[2017-03-28 14:58] #22734 closed, assigned to nobody

[2017-03-28 15:00] ryansb commented on #20634
Duplicate of #20492 (same bug expressed in a different module).

[2017-03-28 15:00] #20634 closed, assigned to nobody

[2017-03-28 15:01] jucor commented on #22692
@jctanner Sorry, I didn't realise this bug report was on 1.9. I confirm
that I do use 2.2 and face the same problem.

On Tue, 28 Mar 2017, 15:52 jctanner, <notifications@github.com> wrote:

@jucor <https://github.com/jucor> ansible 1.9 is no longer supported. Have
you tried to reproduce the error on 2.2+ ?

needs_info

—
You are receiving this because you were mentioned.

Reply to this email direc

[2017-03-28 15:03] ryansb commented on #20492
Support for the new docker libraries is included in the Ansible 2.3 release. Since this is (IMO) a feature to add new support for docker-py v2, I don't think this fits in our backport policy.

[2017-03-28 15:03] #20492 closed, assigned to nobody

[2017-03-28 15:14] ColOfAbRiX commented on #22996
I've patched the module, a feedback is appreciated. Thanks.

[2017-03-28 15:14] ColOfAbRiX commented on #22955
I've patched the module, a feedback is appreciated. Thanks.

[2017-03-28 15:15] ColOfAbRiX commented on #22996
resolved_by_pr #23037

[2017-03-28 15:16] ColOfAbRiX commented on #22955
resolved_by_pr #23037

[2017-03-28 15:16] agaffney commented on #13710
You're right. I created the initial feature request and eventually the pull request that implemented it, but I neglected to close the original feature request.

[2017-03-28 15:16] #13710 closed, assigned to nobody

[2017-03-28 15:48] boxrick opened #23039 "gitlab_project module changes each time"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

https://docs.ansible.com/ansible/gitlab_project_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A - Defaults

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Every time the module gitlab_project is used, it detects a change each and every time even if no values are changed. This appears when using a minimal set of configuration

[2017-03-28 15:49] rbbrasil opened #23040 "get_url returns: AttributeError: 'function' object has no attribute 'urlsplit'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg mods:
[code]
##### OS / ENVIRONMENT
Master: Fedora 23
Node: RHEL 6.6

##### SUMMARY
Module get_url fails with "AttributeError: 'function' object has no attribute 'urlsplit'" error.

This same task/playbook is working with Ansible 2.2.0.0.

##### STEPS TO REPRODUCE
main.yml:
[

[2017-03-28 15:50] boxrick commented on #23039
Also same behaviour on v2.2

[2017-03-28 16:24] mamghari opened #23044 "Cannot run same Docker image on multiple port on same machine"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
docker_container module

##### ANSIBLE VERSION
2.2.1.0

##### CONFIGURATION

##### OS / ENVIRONMENT
The server is on AWS it is EC2 instance.
When doing ifconfig I have 2 IPs
eth01  X.X.X.5
eth0 X.X.X.4

##### SUMMARY
Hi everyone,

Could someone help me to run the same Docker several time on the same machine with different PORTS or IPs ?
Each time I

[2017-03-28 16:44] j00bar opened #23046 "Ansible 2.3rc2 breaks synchronize with docker connection plugin"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
syncronize module and docker connection plugin

##### ANSIBLE VERSION
ansible/ansible@f7c9f44

##### CONFIGURATION
Nothing special

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The changes in ansible/ansible@f7c9f44 seem to break the quoting of the `--rsh` value when running synchronize with the Docker connection plugin. Instead of `--rsh="/usr/loc

[2017-03-28 17:39] krzysztof-magosa commented on #23044
Could you paste entire YAML block configuring these two (or more) instances?

[2017-03-28 18:06] jctanner commented on #22289
@strarsis can you comment on @alikins question?

needs_info

[2017-03-28 18:38] #23046 closed, assigned to nobody

[2017-03-28 19:00] kingdonb commented on #22248
There are details about the lengths that one must go to in order to remove the empty directories safely without destroying any PKI certificates, configuration, or artifacts, in case they are not empty, on ansible/ansible#7541 (https://github.com/ansible/ansible/issues/7541#issuecomment-283988271) -- I'd look at how other Ansible providers of kubernetes handle this, but these 8 tasks were enough to

[2017-03-28 19:00] rbbrasil commented on #23040
I'm not sure, but apparently this is a incompatibility with my OS Python (2.7.11) module version.

Excerpt from the module file running on version 2.2.0.0 which was installed by `dnf` package manager
`/usr/lib/python2.7/site-packages/ansible/modules/core/network/basics/get_url.py`:
[code]

And now from the module file running on version 2.4.0, installed from github
`~/Apps/ansible/lib/ansible/modu

[2017-03-28 20:08] juliohm1978 opened #23054 "Recent update 2.2.2.0 - shell module fails to become root when delegated to another host"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
[shell module](http://docs.ansible.com/ansible/shell_module.html)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

We have `vault_password_file` defined to include a vault with passwords we need in several scripts. Become method is `sudo`.

##### OS / ENVIRONMENT

Running instances on Ubuntu 14.04 LTS and Ubuntu 16.04 LTS, same results.

##

[2017-03-28 20:17] jctanner commented on #21239
Just a side note: We also added a test script recently to ensure precedence stays consistent.

https://github.com/ansible/ansible/blob/devel/test/sanity/code-smell/ansible-var-precedence-check.py

[2017-03-28 20:20] jctanner commented on #21185
@trishnaguha If you want to write the module, feel free to submit a PR.

needs_contributor

[2017-03-28 21:00] #23022 closed, assigned to nobody

[2017-03-28 21:41] Infiniverse commented on #22898
The fix was merged.

[2017-03-28 21:41] #22898 closed, assigned to nobody

[2017-03-28 21:51] kwidholm-tm commented on #12871
I have this error in ansible v 2.1.1.0

This happens both when installing ansible via git clone devel checkout (and doing source hacking/env-setup), and also when installing like so `pip install git+git://github.com/ansible/ansible.git@v2.1.1.0-1`.

None of my playbooks work any longer. I have an extensive repository of them configuring everything from VPCs to Load Balancers to Database slaves. Th

[2017-03-28 22:44] tumbl3w33d opened #23057 "Host pattern warnings when using templated target host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Patterns

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
`Linux milkshake 4.9.0-2-amd64 #1 SMP Debian 4.9.13-1 (2017-02-27) x86_64 GNU/Linux`
`Python 2.7.13`

##### SUMMARY
Using a template variable as argument to `hosts` causes warnings. It seems like the attempt to recognize a pattern expression happens earlier t

[2017-03-28 23:23] jmighion opened #23058 "Bad address with ios modules"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config, ios_command, ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

inventory      = inventory
forks          = 1400
roles_path    = roles
timeout = 20
log_path = ~/ansible.log
retry_files_enabled = False

ANSIBLE_HOME=/home/jmighion/ansible

##### OS / ENVIRONMENT

From RHEL 7.3 to Cisco IOS 12.4(25b) or Ciscos IOS 12.2(33

[2017-03-28 23:42] jctanner commented on #20842
https://github.com/wimnat/ansible-modules/blob/master/elasticache/elasticache_replication_group.py

[2017-03-28 23:47] jmighion opened #23060 "Network module finds and uses a user's public key instead of the provided credentials"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Only tested ios modules. ios_config, ios_command, ios_facts, etc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

inventory = inventory
forks = 1400
roles_path = roles
timeout = 20
log_path = ~/ansible.log
retry_files_enabled = False

ANSIBLE_HOME=/home/jmighion/ansible

##### OS / ENVIRONMENT

N/A

##### SUMMARY

paramiko.transport tries

[2017-03-29 00:03] nitzmahone commented on #23019
We delegated this behavior to Microsoft's own [CommandLineToArgvW](https://msdn.microsoft.com/en-us/library/windows/desktop/bb776391(v=vs.85).aspx) function so we didn't have to care. However, it doesn't appear that it's following the exact same rules that the shell does when parsing, as it strips the quotes from your example. :(

[2017-03-29 00:15] nitzmahone commented on #23019
The only reason we're using CommandLineToArgvW is for the handling of the initial executable- IIRC it's because `Process.Start()` doesn't support the underlying `CreateProcess` behavior where you can pass the raw command line including the executable in `lpCommandLine` (so we have to split the executable and set both `Filename` and `Arguments` on the `ProcessStartInfo`). I think our only options h

[2017-03-29 00:27] nitzmahone commented on #23019
Yet another workaround that seems to fly with `win_command` is to backslash the embedded quotes (which is actually what https://msdn.microsoft.com/en-us/library/17w5ykft.aspx says). Too many layers of escaping here...

[2017-03-29 01:08] lvyc7chinaunicom commented on #22944
@jctanner ok，thank you.

[2017-03-29 01:55] nitzmahone commented on #22272
I'm not able to repro this- works fine from here. Do other modules work from the same controller against the same Windows host?

[2017-03-29 02:13] alpeshspatel commented on #22993
Hi,
I have issue in run() as well as pull():
  client = docker.DockerClient(base_url='tcp://172.17.0.1:2375', version='auto')

  container = client.containers.run(image='alpine:latest', command='echo hello world!')
  #client.images.pull('alpine:latest')

    container = client.containers.run(image='alpine:latest', command='echo hello world!')
  File "/usr/lib/python2.7/site-packages/docker/models/

[2017-03-29 02:29] basictheprogram commented on #22272
Yes. Only happens on the script module.
[code]
I assume the above is a red herring?

Is there a way to determine if the problem is a perm problem or an auth problem?

Just had it happen again today on Win Server 2008 R2 with powershell 5.1.14409.1005

[2017-03-29 02:40] Illydth commented on #22542
@nerzhul

As the "OP" has not responded with a "I've tried this with the most recent version of the code", I'll go ahead and do it for him.

"ansible --version" provides:
ansible 2.3.0.0 (stable-2.3 9785d5b2fb) last updated 2017/03/28 23:46:59 (GMT +000)
  config file =
  configured module search path = Default w/o overrides
  python version = 2.7.9 (default, Jun 29 2016, 13:08:31) [GCC 4.9.2]

Do

[2017-03-29 03:04] kcd83 opened #23065 "os_stack updates do not include parameters for OpenStack heat templates"
`os_stack` will attempt an update if the stack is present. When it does the update HOT parameters are not applied.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_stack

##### ANSIBLE VERSION
[code]

##### SUMMARY

##### STEPS TO REPRODUCE

* create a Heat Template (hot) yaml file with parameters
* Run play to create stack
* Run play again and
** if the parameter was mandatory you get a 4

[2017-03-29 03:26] trishnaguha commented on #21185
@jctanner It is on the way. Won't take much time. Sorry for the delay.

[2017-03-29 04:01] johnboy2 commented on #23019
RE escaping the dquotes, I like your suggestion for my specific case, but it is a kludge that is easily broken. In particular, it doesn't work for the reason you have implied, only works by accident in my specific case, and wouldn't work any more if ever win_command is modified to use CreateProcess instead.

Here's a breakdown:
- Version 1 (like the original)
  - Command line: `foo.exe name="bar b

[2017-03-29 04:20] kcd83 commented on #23065
Ah, Looks fixed here:

https://github.com/ansible/ansible/blob/stable-2.3/lib/ansible/modules/cloud/openstack/os_stack.py#L194

[2017-03-29 04:23] johnboy2 commented on #23019
For my own use-cases, I did look into some modifications to win_command.ps1 (first as a custom parser/splitter, and then later as an escaping recombiner), but the MSVC rules are so irregular that it was very difficult to reason about correctness for _either_ approach. (Witness: whether backslashes are counted singly or pair-wise depends on what follows _after_ a complete BS-sequence! I mean, yikes

[2017-03-29 06:44] tyouxa commented on #20685
#22858

[2017-03-29 06:51] jhawkesworth commented on #18880
Sorry, no further progress at the moment and I want to move on to other bug fixes that I can progress before 2.3 ships.

As a workaround I suggest using
changed_when: False
on this task

[2017-03-29 07:09] guenhter opened #23066 "docker_container: configure if container is recreated when config changes"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Debian 8.1
Linux chell 4.7.0-0.bpo.1-amd64 #1 SMP Debian 4.7.5-1~bpo8+2 (2016-10-01) x86_64 GNU/Linux

##### SUMMARY
`docker_container` has a very nice feature, that the container is recreated/restarted when the configuration changes (and the restart/recreate is neccessary)

[2017-03-29 08:32] robkorv commented on #23016
I did not have the old version in my package manager's cache. So I fixed it with a temporary virtualenv.
[code]

[2017-03-29 08:48] manuel-sousa commented on #22953
@allpoints is also working on a pull request for this issue #22957.

[2017-03-29 09:29] HanXHX commented on #23016
I confirm this bug. Installed with pip. I downgraded to 2.2.1.0.

[2017-03-29 09:35] ettancos commented on #22300
@alikins, @arielyum
I just run into the "cannot marshal None unless allow_none is enabled" (2.2, 2.3 rc1) when trying to register with the activation key, after some digging this happens anytime trying to use the activation key without specifying the username/password pair on registering -> [rhn_register.py#L257](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/rhn_re

[2017-03-29 09:37] asimayub commented on #23016
I can confirm this bug too ansible 2.2.2.0 installed with pip too

[2017-03-29 09:41] IOAyman commented on #22942
@jctanner is there an exact release date for 2.3, please?

[2017-03-29 10:17] e-alfred commented on #23016
This bug still exists in 2.2.2.0 from the Ubuntu PPA. 2.2.1 worked flawlessly.

[2017-03-29 10:41] rawbertp opened #23068 "synchronize broken in 2.3.0.0-0.2.rc2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

synchronize in combination with become and a custom "rsync_path" setting (required as a workaround as it isn't behaving correctly otherwise) appears to be broken in RC2 whereas it used to work in RC1 and before.

##### STEPS TO REPRODUCE

[c

[2017-03-29 11:28] oskapt commented on #10779
FWIW (in case someone else finds this in the future), I ran into this last night on an haproxy system with a high `nofile` value in `limits.conf`. The setup module would time out when gathering facts until I lowered it.

[2017-03-29 12:06] gundalow opened #23071 "Improvements to Persistent Connection logging"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Persistent Connection

##### ANSIBLE VERSION
[code]

##### SUMMARY
When trying to understand some failures identified posted on networktocode and other sources, it appears we could log a bit more information to help.

1) Establishing connection
Currently
[code]
May be worth adding the the following
* `pc.remote_addr, pc.port, pc.remote_user` As

[2017-03-29 13:13] dev00 opened #23073 "iptables module invokes match with singe quotes"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

iptables

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

none

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

Using the `iptables` module with the `match` parameter will put the match entry in single quotes which will result in fails when using it with tools like ipset.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It

[2017-03-29 13:16] gundalow commented on #22717
In RST it needs to be
[code]

single is for italics

[2017-03-29 13:21] ggrossetie opened #23075 "Exception in safe_eval() when using lookup on a file containing UTF-8 encoded characters"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module `lookup`
http://docs.ansible.com/ansible/playbooks_lookups.html#intro-to-lookups-getting-file-contents

##### ANSIBLE VERSION
[code]
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.6 (Santiago)

##### SUMMARY

The following `WARNING` is printed when using `lookup('file', 'role.json')`

[2017-03-29 13:21] gundalow commented on #22717
@sparr Good spot and thanks for the bug report, fixed by https://github.com/ansible/ansible/pull/23074

Docs will get pushed live in the in the next week or so

[2017-03-29 13:22] #22717 closed, assigned to gundalow

[2017-03-29 13:26] gundalow commented on #23058
Marked as Milestone 2.3 until we understand what the issue is.

Logging could be improved, tracked as https://github.com/ansible/ansible/issues/23071

[2017-03-29 13:29] gundalow commented on #23060
Marked as Mileston 2.3 till we understand the issue, feel free to move to 2.4

[2017-03-29 13:30] rcarrillocruz commented on #23058
Can you please provide the provider details (with creds removed) ?

[2017-03-29 13:30] rcarrillocruz commented on #23058
needs_info

[2017-03-29 14:08] abadger commented on #23075
This appears to have been fixed in Ansible-2.2.1.  I can reproduce the warning message in a checkout of ansible-2.2.0.0 but not in a checkout of ansible-2.2.1.0, ansible-2.2.2.0, or the current release candidate of ansible-2.3.0.

Please upgrade as it appears to fix your problem.  Thank you!

[2017-03-29 14:08] #23075 closed, assigned to nobody

[2017-03-29 14:15] abadger commented on #23068
Thanks for testing and reporting!

I believe I pushed a fix for this yesterday.
* Commit in devel: b0d75a0ecbbb6b64c42746adf009487d74397af0
* Commit cherry-picked to stable-2.3: 9785d5b2fbd7cd07f6d817317e5c78e94ad07fb0

Note that the cmd string does show the problem but it's additional quotes rather than lack of quotes.  There shouldn't be quotes here:
[code]

The module has switched to execing th

[2017-03-29 14:15] #23068 closed, assigned to nobody

[2017-03-29 14:21] #22235 closed, assigned to rcarrillocruz

[2017-03-29 14:23] abadger commented on #23040
@rbbrasil I believe what's happening is that there's an old version of the modules in ~/Apps/ansible/lib/ansible/modules/core/ (and possibly ~/Apps/ansible/lib/ansible/modules/extras/ as well).  The Ansible stable-2.2 branch and earlier used git submodules to pull in the modules.  Ansible 2.3 and later have merged the modules into the same repo as Ansible itself.  The modules for the merged reposi

[2017-03-29 14:27] #23028 closed, assigned to nobody

[2017-03-29 14:34] jbarascut commented on #14248
+1

[2017-03-29 14:35] wallnerryan commented on #17953
👍

[2017-03-29 14:44] ypid opened #23078 "Jinja filters output trailing whitespace breaking idempotency"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`lib/ansible/parsing/yaml/dumper.py:AnsibleDumper`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Ansible default. No changes.

##### OS / ENVIRONMENT
Isolated Debian Jessie VM on Qubes OS setup only for testing with Ansible devel.

##### SUMMARY
The `to_nice_json` filter and others like `indent` output trailing whitespace. That is not in

[2017-03-29 15:02] wallnerryan commented on #17953
@phemmer any workaround?

[2017-03-29 15:17] abadger commented on #23054
I'm currently unable to reproduce this behaviour.  Here is what I'm testing with:
[code]

Could you give us more information to repdoruce this or try running my playbook and ansible.cfg to see if it works?

needs_info

[2017-03-29 15:24] juliohm1978 commented on #23054
Yes, gladly. Where can I download your playbook?

[2017-03-29 15:26] rbbrasil commented on #23040
You were right @abadger !

I've been updating this repository since devel-1.9.x and after the 2.3 release this task stopped to work properly. Removing those dirs and updating again solved the problem. Thanks! :-)

[2017-03-29 15:26] #23040 closed, assigned to nobody

[2017-03-29 15:27] rcarrillocruz commented on #22216
Hi @itdependsnetworks

The instrumented code dumps variables and stuff onto /tmp/ansible.out, I need you run the playbook without ANSIBLE_LOG_PATH set (as the code will already log stuff on /tmp/ansible.out, to avoid overwriting by ansible -vvvv) and provide /tmp/ansible.out .

[2017-03-29 15:32] abadger commented on #22955
#23037 merged.  Closing.

[2017-03-29 15:32] #22955 closed, assigned to nobody

[2017-03-29 15:32] abadger commented on #22996
#23037 merged. Closing.

[2017-03-29 15:32] #22996 closed, assigned to nobody

[2017-03-29 15:35] abadger commented on #23054
They're all pasted into the above comment.  If you'd rather download, here is the playbook and ansible.cfg in a gist: https://gist.github.com/abadger/dfde2c5f6d8e8546b7f30d702f61df93  ( which lets you download as a zipfile: https://gist.github.com/abadger/dfde2c5f6d8e8546b7f30d702f61df93/archive/bfc3d0e84a381a0bf07535b78eef039c62e8a655.zip )

[2017-03-29 15:36] efierro commented on #14045
Hi, trying this on 2.4:

`make rpm OFFICIAL=yes`

ending with:

[code]

Should I use the latest stable instead?

[2017-03-29 15:45] efierro commented on #14045
Worked fine with 2.3, disregard my last comment.

[2017-03-29 15:52] Mogztter commented on #23075
Sorry, I should have test with the latest release :flushed:
Anyway, I can confirm that the warning is gone after upgrading to Ansible 2.2.1.

Thanks for your help! :+1:

[2017-03-29 15:55] juliohm1978 commented on #23054
Yes, sorry. I quickly realized how dumb that question was.

I am able to persistently reproduce this, and I found that `pipelining = True|False` makes no difference. The only option that affects the scenario is ssh's connection sharing, `ControlPersist` and `ControlMaster`. In your example, with `ssh_args = -C` it actually works.

Here's what I'm running:

[code]

[code]

[code]

With these option

[2017-03-29 16:09] abadger commented on #23054
git bisected to 3551de98c6285a172fff962eb7bcea5c207e6415 as the bad commit

[2017-03-29 16:09] juliohm1978 commented on #23054
I just realized that even `raw` is not working. I downgraded to the previous version we were using to get our tools up and running again. We can wait for a solution.

Thank you!

[2017-03-29 16:24] itdependsnetworks commented on #22216
[code]

[2017-03-29 16:27] diegopuertas opened #23079 "vmware_guest doesn't create a properly formatted /etc/resolv.conf file"
I'm trying Ansible 2.3 RC2

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest: customization: dns_servers

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
I want to provision a VMWare VM and  populate /etc/resolv.conf, so I've puth this in my playbook:
[code]

And defined this variable in a group_vars file
[code]

But I get a w

[2017-03-29 16:48] AnderEnder commented on #18882
Any news? Any ETA?

[2017-03-29 16:51] jmighion commented on #23058
The provider details :
[code]

[2017-03-29 17:08] jctanner commented on #11421
@evadeflow please open a new issue with the information you have provided so far.

@xrow since you can no longer reproduce, I'm going to close this issue.

[2017-03-29 17:08] #11421 closed, assigned to nobody

[2017-03-29 18:16] brandonstrohmeyer opened #23082 "asa_command module failure in 2.3+"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

asa_command
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

roles_path    = /Users/brandon.strohmeyer/Desktop/Repository/netops/roles
log_path = /Users/brandon.strohmeyer/Desktop/Documents/Logs/ansible.log
[paramiko_connection]
look_for_keys=False

##### OS / ENVIRONMENT

OS X 10.12.3
##### SUMMARY
MODULE FAILURE when using asa_command in

[2017-03-29 18:24] skg-net commented on #22901
@changzhi1990 can you try connection=local? All Dell modules support only local connections,

[2017-03-29 18:27] nitzmahone commented on #22272
Yeah, that message is generated by a shared part of the action plugin that doesn't apply. Is it 100% repeatable, or random failure followed by success?

[2017-03-29 18:32] #22126 closed, assigned to jhawkesworth

[2017-03-29 18:32] #22871 closed, assigned to nobody

[2017-03-29 18:37] skg-net commented on #22409
@markgoddard Ansible support for dellos6 is added and validated against OS version 6.3.1
[Dell EMC Ansible FAQ](http://ansible-dellos-docs.readthedocs.io/en/latest/faq.html)
For N1K, we have fixed our facts, we will submit a PR for the same.

[2017-03-29 18:41] rmauc commented on #13742
+1 here too.
Can we expect LFS support in the git module in 2.3?
Thanks

[2017-03-29 18:42] #22705 closed, assigned to Qalthos

[2017-03-29 18:52] basictheprogram commented on #22272
2 Window Server 2008 R2 repeatable 100%

	- Both of these servers run vCenter
	- Both are not in a realm (use local account to authenticate)
	- Looking at KB, updates, and 3rd party software install both servers are the same

Several other  2008 R2 servers intermittent

	- These servers are in a realm
	- Vastly different KB, updates, and software installed

[2017-03-29 19:11] #23054 closed, assigned to nobody

[2017-03-29 19:13] abadger commented on #23054
@juliohm1978 Okay, Merged a fix that seems to make the test cases pass.  It should be in the next 2.3.0 release candidate.  It will be in the next 2.2.x release if we make one.

[2017-03-29 19:18] gandelman-a opened #23085 "os_quota blows up if cloud does not expose a volume service API"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module/cloud/openstack/os_quota.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
n/a
##### SUMMARY

The module first attempts to gather existing quotas for the project.  It does this for compute, network, and volume.  If a cloud does not supply one of these (in my case a volume v2 api), the module blows up.

#####

[2017-03-29 19:20] juliohm1978 commented on #23054
Thank you, sir! Will be waiting for the next release. Kind regards.

[2017-03-29 19:25] calfonso commented on #23071
https://github.com/ansible/ansible/pull/23076

[2017-03-29 19:29] calfonso commented on #23060
https://github.com/ansible/ansible/pull/23083

[2017-03-29 19:30] calfonso commented on #18968
@wrouesnel Any feedback on this fix?

[2017-03-29 19:32] toongijbels commented on #20653
Hi,
Same problem here and affected in every run.
@imranh2, HashKnownHosts is turned on.

[2017-03-29 20:27] allpoints commented on #22953
FWIW [#22957](https://github.com/ansible/ansible/pull/22957) is just waiting for approval.

[2017-03-29 20:38] #22216 closed, assigned to rcarrillocruz

[2017-03-29 20:43] ava-dylang commented on #13262
is this still not an option?

[2017-03-29 21:14] ar7z1 commented on #18807
I reproduced the issue and working on a fix.

[2017-03-29 21:18] aarnaud opened #23090 "zfs bad volume block size"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zfs

##### ANSIBLE VERSION
[code]
##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
zfs bad volume block size with volblocksize property

https://github.com/ansible/ansible/blob/eb1214baad0cbe2c4b7304caebb9ae1c7dc0d8db/lib/ansible/modules/storage/zfs/zfs.py#L151
replace
[code]
by
[code]
without simple quote to get `volblocksize` val

[2017-03-29 21:26] jmighion opened #23091 "Non-iterable ios_facts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

inventory      = inventory
forks          = 1400
roles_path    = roles
timeout = 20
log_path = ~/ansible.log
retry_files_enabled = False
ANSIBLE_HOME=/home/jmighion/git/ansible
ANSIBLE_LOG_PATH=/home/jmighion/ansible.log

##### OS / ENVIRONMENT

From RHEL 7.3 to Cisco IOS 12.4(25b)

[2017-03-29 21:26] jmighion commented on #22853
@gundalow New issue ID is #23091

[2017-03-29 21:44] phemmer commented on #15987
Not applicable.

[2017-03-29 21:46] biomassives commented on #15643
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (101/100 (101%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:46] biomassives commented on #15590
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (100/100 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:46] biomassives commented on #15622
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (102/100 (102%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:46] biomassives commented on #15563
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (103/100 (103%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:46] biomassives commented on #15497
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (105/100 (105%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:46] biomassives commented on #15549
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (104/100 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:46] biomassives commented on #15529
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (106/100 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:46] biomassives commented on #15520
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (107/100 (107%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:46] biomassives commented on #15477
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (108/100 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:46] biomassives commented on #15483
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (109/100 (109%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:47] biomassives commented on #15439
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (110/100 (110%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:47] biomassives commented on #15459
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (111/100 (111%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:47] biomassives commented on #15436
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (112/100 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:47] biomassives commented on #15416
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (113/100 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:47] biomassives commented on #15429
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (114/100 (113%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:47] biomassives commented on #15412
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (116/100 (115%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:47] biomassives commented on #15357
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (115/100 (114%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:47] biomassives commented on #15402
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (117/100 (117%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:47] biomassives commented on #15381
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (118/100 (118%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:48] biomassives commented on #15294
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (119/100 (119%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:48] biomassives commented on #15288
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (120/100 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:48] biomassives commented on #15286
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (122/100 (122%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:48] biomassives commented on #15343
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (121/100 (121%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:48] biomassives commented on #15252
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (123/100 (123%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:48] biomassives commented on #15243
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (124/100 (124%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-03-29 21:50] Petrox commented on #15680
ansible-playbook is the component

On Mar 29, 2017 23:45, "ansibot" <notifications@github.com> wrote:

[2017-03-29 21:57] jhawkesworth commented on #15415
@RaDiu5 - I'm guessing you have moved on from this issue as it is 11 months old now - I have suggested a workaround above and I don't think there's another way to get round this limitation so I'm going to close this one.  Please open a new issue if you have further information.

[2017-03-29 21:57] #15415 closed, assigned to nobody

[2017-03-29 22:01] php-coder commented on #16352
@ansibot I'm not sure what is the component name and I have specified `ansible-galaxy`.

[2017-03-29 22:14] jhawkesworth commented on #15445
Looks like this has long since been fixed.  I just tested with 2.1.1.0 and 2.3.0.0 rc2 and it works fine.

[code]

[2017-03-29 22:14] #15445 closed, assigned to nobody

[2017-03-29 22:18] jhawkesworth commented on #15725
Edited description to keep bot happy.

needs_contributor

[2017-03-29 22:24] #23065 closed, assigned to rcarrillocruz

[2017-03-29 22:26] kcd83 commented on #23065
Duplicates https://github.com/ansible/ansible-modules-extras/issues/3165

[2017-03-29 22:34] manuel-sousa commented on #22953
@allpoints ansibot says it needs a rebase

[2017-03-29 22:38] sigio commented on #15520
ready_for_review

[2017-03-29 22:39] milo-minderbinder opened #23095 "docker dynamic inventory script ignores DOCKER_CONFIG_FILE environment variable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker dynamic inventory
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`ANSIBLE_CONFIG` points to mostly default config file, which only changes the inventory path (`inventory`) and roles path (`roles_path`) options.

Related to the `contrib/inventory/docker.py` dynamic inventory script in question for this issue, I have set the `DOCKER_

[2017-03-29 22:41] #15483 closed, assigned to nobody

[2017-03-29 22:46] Dufgui commented on #15405
component name : synchronized.

But as explain in other comment we can use rsync instead manually. or use any other system. In my case i use http server.
In fact yes it's a duplicate https://github.com/ansible/ansible/issues/13099

[2017-03-29 22:53] calfonso commented on #23060
@rcarrillocruz Would you mind testing this PR and get the issue close if it's working as expected?

[2017-03-29 22:54] wrouesnel commented on #18968
Checking PR 21811, it looks like the module isn't working at all?

My test playbook:
[code]

Blows up with a traceback:
[code]

My ansible working dir:
[code]

[2017-03-29 23:02] wrouesnel commented on #18968
Similarly with the current @devel HEAD:

[code]

[2017-03-29 23:11] #22988 closed, assigned to nobody

[2017-03-29 23:12] flaf opened #23097 "`ansible` command still works when ssh host keys have been changed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`/usr/bin/ansible` binary.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

All my nodes are Debian Jessie.

##### SUMMARY

The `ansible` command still works even after ssh host keys have been changed on a target node.

##### STEPS TO REPRODUCE

I can ssh client1 non-interactively via my public key and `ansibl

[2017-03-29 23:30] flaf commented on #23097
I think all is already in my first message but I hope that @ansibot will be happy with that. :)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`/usr/bin/ansible` binary.

##### ANSIBLE VERSION

[code]

[2017-03-29 23:38] jctanner commented on #23097
@flaf that information needs to go into the body of the description.

[2017-03-29 23:43] flaf commented on #23097
@jctanner sorry, it's my first issue on Ansible.

[2017-03-30 00:18] #22692 closed, assigned to nobody

[2017-03-30 00:38] abadger commented on #23097
This isn't a security flaw with Ansible but there are security implications that you may want to be aware of.

First, this is behaviour of ssh, not of Ansible per-se.  If you turn on ssh multiplexing: https://en.wikibooks.org/wiki/OpenSSH/Cookbook/Multiplexing#Setting_Up_Multiplexing then you will see that what you're observing is a product of ssh.  If you think thre's a security flaw in this beha

[2017-03-30 00:38] #23097 closed, assigned to nobody

[2017-03-30 01:18] flaf commented on #23097
Ok, I understand the choice of `ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s` by default in Ansible (to improve performance) and I have understood the idea concerning the fact that my little process (in my first message) is not a proof of security problem at all.

Sorry for this useless issue and many thanks for all the explanations @abadger. :)

[2017-03-30 01:34] bcoca commented on #23097
FYI, to force a close of the persistent connection you can use `- meta: reset_connection` in your play ... in case you really want the error.

[2017-03-30 01:41] jctanner commented on #22944
@NavyaSurendran the bot cleaned up the issue description for you, but we still need you to provide further detail such as the -vvvv output.

needs_info

[2017-03-30 01:45] lvyc7chinaunicom commented on #22944
@jctanner i have provide further detail about -vvvv output ,please note the upstairs information.

[2017-03-30 01:58] jctanner commented on #22439
@AquaL1te i'm not certain that I understand what you are asking for. Can you please provide a mocked playbook example that demonstrates what you think this might look like?

needs_info

[2017-03-30 02:06] jctanner commented on #20687
Hi!

As of April of 2016, we have started using the Ansible Proposal process for large feature ideas or changes in current functionality, such as this. If you are still interested in seeing this new feature get into Ansible, please submit a proposal for it using this process.

https://github.com/ansible/proposals/blob/master/proposals_process_proposal.md

If you have any further questions, please

[2017-03-30 02:06] #20687 closed, assigned to nobody

[2017-03-30 02:15] jctanner commented on #20600
duplicate_of https://github.com/ansible/ansible/issues/16545

[2017-03-30 02:15] #20600 closed, assigned to nobody

[2017-03-30 02:18] #16545 closed, assigned to nobody

[2017-03-30 02:19] jctanner commented on #20600
https://github.com/openshift/openshift-ansible/issues/3160#issuecomment-275029366

https://github.com/openshift/openshift-ansible/issues/3160#issuecomment-275143597

[2017-03-30 02:21] flaf commented on #23097
Ah ok, thanks @bcoca.

[2017-03-30 02:26] jctanner commented on #17322
@hryamzik so what you are asking for is that all host vars get loaded and processed regardless of --limit?

needs_info

[2017-03-30 02:27] antonym opened #23103 "LLDP module fails with a 'str' object does not support item assignment"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

network/lldp.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

LLDP module fails with a 'str' object does not support item assignment in some cases.  Occasionally when looping through the lldpctl output, it runs across duplicate variables.  When it tries to assign the new variable a previously assign

[2017-03-30 02:28] jctanner commented on #17273
@alex94040 please respond to userlerueda's question.

needs_info

[2017-03-30 02:35] jose-delarosa commented on #18293
@ruissalo, where you able to find an answer for your question. I am having a similar issue, where my I can't import a custom python module from my custom Ansible module.

[2017-03-30 02:43] jctanner commented on #17015
Hi!

As of April of 2016, we have started using the Ansible Proposal process for large feature ideas or changes in current functionality, such as this. If you are still interested in seeing this new feature get into Ansible, please submit a proposal for it using this process.

https://github.com/ansible/proposals/blob/master/proposals_process_proposal.md

If you have any further questions, please

[2017-03-30 02:43] #17015 closed, assigned to nobody

[2017-03-30 02:47] snowsky commented on #21279
With this PR, https://github.com/ansible/ansible/pull/23104, and the below playbook:
[code]

I got the below output:
[code]
Each item in loop runs once in sequence, but this happened twice.

[2017-03-30 02:53] arielyum commented on #22300
Have tested using username and password:

Still getting an error but this time is connection timeout:

Here below is the snippet:

TASK [configure-satellite : Un-Register to Red Hat Network First] **************
task path: /home/ariely/Project/Datacom/rhel/configure-satellite/tasks/rhss_register.yml:53
Using module file /usr/lib/python2.7/site-packages/ansible/modules/core/packaging/os/rhn_registe

[2017-03-30 02:56] privateip commented on #18968
@wrouesnel what is PR 21811?

PR #22923 is the one that fixes nxos_facts although now its merged so you can run directly from `devel` or `stable-2.3`

I see the error in the second comment and will address shortly

[2017-03-30 02:59] k0ste commented on #16379
Actually user receive error about this.

[code]

[2017-03-30 03:14] snowsky commented on #21279
The self._pending_results is calculated in a wrong way for include_role.

[2017-03-30 03:32] #16925 closed, assigned to nobody

[2017-03-30 03:49] userlerueda commented on #22191
Hi @lpenz and @wisotzky I was reviewing current code, and it seems like latest version already tries `:candidate` and if not in capabilities then tries running.
[code]

Maybe this was fixed after the issue was opened?

[2017-03-30 03:52] userlerueda commented on #22191
One important note however is that @wisotzky proposed changes introduce more verbosity on the error handling, which I think would be a good to have. I could try to figure out the changes in and submit a PR if desired.

[2017-03-30 03:56] kcd83 commented on #18075
I agree this could be clearer. I have a use case where a new host has port 22 available before ssh is ready (awaiting cloud-init) and it would be great if the following worked.

[code]

And `block` `rescue` does not work either

[code]

[2017-03-30 04:03] jctanner commented on #16868
resolved_by_pr https://github.com/ansible/ansible/pull/16962

[2017-03-30 04:13] aarnaud commented on #23090
Updated

[2017-03-30 04:29] guenhter commented on #16768
##### COMPONENT NAME
There is no component, because the issue is in the inventory file.

[2017-03-30 04:32] jameelur opened #23110 "route53_health_check resource_path uniqueness ignored"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
route53_health_check

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Mac OSX

##### SUMMARY

Tried to create multiple route53 healthchecks to the same server but different resource paths using `with_items` . Instead of creating one health check for each resource path, only the first is created.

##### STEPS TO R

[2017-03-30 04:33] jameel263 commented on #23110
Possibly related to https://github.com/ansible/ansible-modules-core/issues/2847
After that report was closed, I could find no equivalent on either core nor extra repos

[2017-03-30 04:34] ssokolow commented on #15902
My biggest issue with roles is that they present a large gulf between the simple and the complex. I have a playbook which I initially tried to structure into roles, but gave up and returned to one large file because it just complicated my mental model too much, given the complexity middle-ground it occupies.

(I've actually been considering writing an ansible preprocessor using PyYAML to implement

[2017-03-30 04:55] andyhky commented on #23103
@antonym how do you want this to behave?

should the last published value be the one that wins?

[code]

Another workaround might be  adding this oui to ``lldpd.conf`` with ``unconfigure lldp custom-tlv`` [0]

[0] https://vincentbernat.github.io/lldpd/usage.html

[2017-03-30 05:40] wrouesnel commented on #18968
Apparently I'm an idiot and pulled entirely the wrong thing this morning, so ignore that first part. The second error is from `devel` though so is definitely real.

[2017-03-30 05:56] zarnovican commented on #15278
Fixed by #21845

[2017-03-30 05:56] #15278 closed, assigned to nobody

[2017-03-30 06:04] cjw296 commented on #16073
@bcoca @jctanner - @ansibot seems quite confused here, could you beat some sense into it? ;-)

[2017-03-30 06:39] samrocketman commented on #17015
I feel like closing a well formed issue like this in lieu of recommending creating yet another same issue following https://github.com/ansible/proposals/blob/master/proposals_process_proposal.md is counter productive.

Especially considering the proposal process is cited from April, 2016 and _this issue_ was created August of 2016.  I would prefer this stay open and, instead, recommendations be ma

[2017-03-30 06:54] jklaiho commented on #16068
Edited the issue to add the component name section, as requested.

[2017-03-30 07:04] jklaiho commented on #15297
Added the component name section to the issue, as requested.

[2017-03-30 07:08] kenji21 commented on #15802
added "Playbook role" as I think this check (non-empty role directory due to git submodule not initialiazed) is related to this, but I don't know if it is in a internal component ?

[2017-03-30 07:17] aklemp commented on #16792
added the component name to the orginal issue report above

[2017-03-30 07:20] Abukamel commented on #20346
I think it's very important actually to extend the reporting to not confuse ansible automated testing tools and a handled exception is also not a failure and it doesn't fit in failed tasks report.

[2017-03-30 07:31] mdorenkamp commented on #20308
i encountered that issue too, unfortunately the sugessted fix doesn't work

[2017-03-30 07:56] gundalow commented on #23091
Do you have the ability to test this on Ansible 2.3 RC2?

[2017-03-30 07:58] jhawkesworth commented on #18923
removing windows label manually as this does not seem to be a windows-specific issue.

[2017-03-30 08:03] ettancos commented on #22300
@arielyum looks like you have a webproxy which is set for the up2date, but the unregistering is a direct call to the XMLRPC endpoint, not going through rhnreg_ks, so you have to use [proxy_env](http://docs.ansible.com/ansible/playbooks_environment.html) for that task.

[2017-03-30 08:10] hryamzik commented on #17322
Yep, that's it.

[2017-03-30 08:11] joaocc commented on #15439
@ansibot: I think that @bjne didn't include component because the request is transversal to all Ansible components.

[2017-03-30 08:12] jean-christophe-manciot commented on #18968
@wrouesnel Have you tried with ```transport: nxapi```?

[2017-03-30 08:16] snoopdouglas commented on #16827
@ansibot Press 1 to read the issue title.

[2017-03-30 08:33] rawbertp commented on #22397
How to workaround this warning if the when expression is stored in a variable (for whatever reason, e.g. due to it being used mutlitple times in different plays).

e.g.: `mycondition: ansible_PSVersionTable.Major|int < 5` to be used as `when: mycondition`.
-> This is not working because `mycondition` doesn't get evaluated/expanded and is treated as a String.

What works is to declare `mycondition:

[2017-03-30 08:41] ogmueller commented on #15853
I am not sure which component it is, but I am guessing this is core or tags or so?

##### COMPONENT NAME
core

[2017-03-30 08:42] jhawkesworth commented on #19104
Manually removed windows label as the bot doesn't seem to want to remove component labeling.

[2017-03-30 08:44] Miyurz opened #23118 "Include internal tag names in tagging docs (eg, always/all/never)"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME
Ansible's tag option

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

If I specify the tag as `all` though I have associated/mapped it with a role called in my playbook, it runs all the roles. Looks like all is either a reserved keyword. If yes, it should be documented else its a bug.

[code]

##### STE

[2017-03-30 08:44] jhawkesworth commented on #18197
Manually removing windows label as the bot doesn't want to.

[2017-03-30 09:02] rcarrillocruz commented on #23091
We need to narrow down which for loop in the code is iterating against a None.

Please run 4 versions of your playbook with all the available subset options:

gather_subset: default
gather_subet: config
gather_subset: interfaces
gather_subset: config

Paste me the execution of each one of the four playbook versions, in order to figure out which one is failing.

[2017-03-30 09:02] rcarrillocruz commented on #23091
needs_info

[2017-03-30 09:13] rcarrillocruz commented on #22863
Ok, can you please dump the whole 'show ppp all' here? If other commands provide more output, maybe there's some character on that ppp all output that causes issues.

[2017-03-30 09:13] rcarrillocruz commented on #22863
needs_info

[2017-03-30 09:22] lpenz commented on #22191
That sounds nice @userlerueda ! Thanks for your help

[2017-03-30 09:34] wisotzky commented on #22191
Please revisit the original fault description @userlerueda!

I've seen in the code, that it should support <candidate> and fallback to <running> if :candidate is not supported. I am pretty sure, that this code has never been tested against a device which only supports <running> - because netconf operations like "discard" and "commit" depend on :candidate and do not exist for devices supporting :wr

[2017-03-30 09:52] sigio commented on #15520
Confirmed still present with ansible 2.2.1.0

[2017-03-30 09:54] jglf commented on #20663
I have the same issue with ansible 2.2.1.0 and vCenter 6.0.
Some settings (like `vhv.enable` or `annotation`) are prevented server-side from being written to the VM's vmx file, while random ones are added. I tried doing it manually:

    $ python

    VMware vCenter Server

    6.0

I can't find anything in the vcenter settings or documentation explaining this behaviour.

[2017-03-30 10:01] jjaone commented on #22222
I can confirm that apt: with autoremove: yes does not actually remove or clean those packages that it should. I'm on Ansible 2.2.0 and my playbook is targeting Ubuntu 16.04 host where the Ansible/apt-module is used to update and autoremove packages.

[2017-03-30 10:03] Chris-YBS commented on #23057
I can confirm that this is also happening to me. However despite the message only the specified host(s) executes the plays!

BTW I am following a pattern that I found on the web to allow the hosts to be passed either as --extra-vars or from a prompt:

[code]

[2017-03-30 10:15] Chris-YBS opened #23121 "New warning [WARNING]: Found variable using reserved name: hosts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Fedora 7

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
run without warnings

##### ACTUAL RESULTS

[code]
The first warning already reported in another defect (#23057)

[2017-03-30 10:27] lucafavatella commented on #19898
I understand this is a duplicate of #17922

[2017-03-30 11:15] jglf commented on #20663
A few more notes:
* Manually adding `vhv.enable = "TRUE"` to the VM's vmx on the vCenter datastore correctly enables the feature.
* I have the same issue with the official "vSphere Automation SDK for Python" when trying to set e.g. `vhv.enable` which does nothing while others are added to the vmx.
* If I try to upload a VM to vCenter using OVFTool with the options `--extraConfig:vhv.enable=true --

[2017-03-30 11:16] malexe opened #23123 "Idempotence test failed on jenkins_plugin"
- Bug Report
##### COMPONENT NAME
 ansible/lib/ansible/modules/web_infrastructure/jenkins_plugin.py

##### ANSIBLE VERSION
ansible 2.2.1.0
[code]

##### CONFIGURATION
default settings

##### OS / ENVIRONMENT
Operating System: CentOS Linux 7 (Core)
CPE OS Name: cpe:/o:centos:centos:7
Kernel: Linux 3.10.0-514.10.2.el7.x86_64
Architecture: x86-64

##### SUMMARY
Idempotence test failed in playbook whi

[2017-03-30 11:30] leki75 commented on #15436
Updated description with component name

[2017-03-30 11:31] wrouesnel commented on #18968
Our switches don't have the nxapi switched on at the moment. The module claims to support the `cli` transport, which is what we'd like to use. If it doesn't support this the error should definitely be more specific.

[2017-03-30 11:33] jfblg commented on #23058
Hi guys,

I believe that I'm having the same isssue. My summary follows. Happy to provide mode details if needed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config, ios_command, ios_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
host_key_checking = False
log_path=/var/www/html/webtools/ansible-webtools/ansible-log.txt
hostfile = ../inventories/inventory.txt

ANSIBLE_PARAMI

[2017-03-30 11:54] alvaroaleman commented on #21594
git bisect tells me 74bb122598cfcb050c9090684320ec2d5253ae4c is the cause of this.

[2017-03-30 11:57] privateip commented on #18968
@wrouesnel replicated and fixing it now ... should have a PR posted in the next hour or so

[2017-03-30 12:06] jjaone commented on #22222
Tried also the Ansible 2.4.0 (git://github.com/ansible/ansible.git) devel-branch "git checkout devel", and after "make", and "sudo make install" and using that to playbook, which has:
`- name: srvenv - Autoclean and update apt cache (kept valid for past 2 hrs)
  become: yes
  apt:
    autoremove: yes
    purge: yes
    force: yes
    update_cache: yes`

The apt command still does not delete, remov

[2017-03-30 12:16] MichaelBaydoun commented on #15709
updated

[2017-03-30 12:24] pkaramol commented on #13308
Hi, any support regarding this issue:

http://stackoverflow.com/questions/43117635/ansible-variable-not-rendered-inside-json-object

[2017-03-30 12:40] mtekel opened #23129 "delegate_to not working with dynamic inventory and connection=docker"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
delegate_to functionality with docker dynamic inventory and connection=docker

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no config/ all default

##### OS / ENVIRONMENT
macos Sierra, version 10.12.3, as seen by ansible:
[code]

##### SUMMARY
When I run docker containers from inside ansible and explicitly add them to inventory, all works c

[2017-03-30 12:42] basictheprogram commented on #22397
This works for me
[code]
with
[code]

[2017-03-30 12:45] rawbertp commented on #22397
That works for me too. But now move the condition to a variable and try to use the variable instead.

[2017-03-30 12:46] basictheprogram commented on #22397
ansible_PSVersionTable is a variable from a custom fact I have installed on all Window computers.

[2017-03-30 12:51] rawbertp commented on #22397
Try the following and I assume it won't work (given that the condition is `true`):

[code]

[2017-03-30 12:55] jhawkesworth commented on #22397
In that case you would need the "{{  ... }}" - its only the 'when' conditional where the "{{ .... }}" is implied, I think.

[2017-03-30 12:57] jhawkesworth commented on #22397
also might want to make use of | bool filter to ensure var is stored as a boolean.

[2017-03-30 13:01] #23071 closed, assigned to privateip

[2017-03-30 13:01] gundalow commented on #23071
Code has been merged

[2017-03-30 13:03] rawbertp commented on #22397
That's what I'm saying... you will either need the "{{ ... }}" within the variable declaration or the when condition as it won't work (correctly) otherwise. And then you will get the mentioned WARNING.

[2017-03-30 13:04] mtekel commented on #23129
Looks like this could be somehow related to https://github.com/ansible/ansible/issues/14422 . Not sure though.

[2017-03-30 13:04] Smuggla commented on #22999
Update: was looking at commit history on this and found that it placed it in the directory that the playbook was located.

so if I ran `~/taco/update.yml` it created a dir in `~/taco/~/`

[2017-03-30 13:04] minac commented on #16722
The component name was not part of the template when I opened this ages ago. I have just added the following in my initial issue description:

##### COMPONENT NAME
ansible-modules-core/cloud/amazon/ec2_elb.py

Thank you.

[2017-03-30 13:10] wrouesnel commented on #18968
Awesome. It'll be about 10 hours before I'm on the same network as our nx9ks again.

[2017-03-30 13:19] s-hertel commented on #15080
Hi, @IPvFletch. I'm sorry this issue hasn't been attended to yet. Does this syntax work for you?
`ansible localhost -m ec2_tag -a "resource=your_resource region=your_region tags='key=doesthis, value=work'"`. There could be improved documentation for this, probably.

[2017-03-30 13:21] s-hertel commented on #15080
Hi, @IPvFletch. I'm sorry this issue hasn't been attended to yet. Does this syntax work for you?
ansible localhost -m ec2_tag -a "resource=your_resource region=your_region tags='doesthis=work'". There could be improved documentation for this, probably.

[2017-03-30 13:22] s-hertel commented on #15080
Hi, @IPvFletch. I'm sorry this issue hasn't been attended to yet. Does this syntax work for you?
`ansible localhost -m ec2_tag -a "resource=your_resource region=your_region tags='doesthis=work'"` There could be improved documentation for this, probably.

[2017-03-30 13:22] alikins commented on #22289
https://github.com/roots/trellis/issues/784#issuecomment-285153033 https://github.com/roots/trellis/pull/798  have some background on a similar issue.

[2017-03-30 13:36] galindro commented on #18894
I'm using these versions:

[code]

With ansible 2.2.1.0 not worked. But after upgrade to ansible 2.2.2.0, it works. So, to solve this problem, the user needs to upgrade ansible to 2.2.2.0 and the above packages to the listed versions pointed by @pablodav

[2017-03-30 13:44] gundalow opened #23130 "eos_banner: TypeError: string indices must be integers, not str"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_banner

##### ANSIBLE VERSION
[code]

##### SUMMARY
[code]
##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-03-30 13:47] dagwieers commented on #15436
Not sure why the bot has selected me, but I am truly honored :-)

[2017-03-30 13:55] privateip commented on #18968
@wrouesnel https://github.com/ansible/ansible/pull/23134

[2017-03-30 13:56] gundalow commented on #23058
@jfblg I've just pushed some extra logging into the `devel` and `stable-2.3` branches. Could you please rerun and provided updated `ACTUAL RESULTS`.

Thanks

[2017-03-30 13:58] smoyer64 commented on #16130
bot_broken

[2017-03-30 14:01] galindro commented on #18894
Sorry I was though that the problem was fixed, but it not. In my tests (after upgrade ansible to 2.2.2.0), I've noticed a problem with the url so I think that this issue was fixed:

[code]

Testing again, I've noticed that the issue still ocurrs:

[code]

[code]

The destiny host is an Ubuntu 12.04.5 LTS.

After some research, I've found a solution. The problem (in my case) isn't related to ansibl

[2017-03-30 14:02] kenny-evitt commented on #16414
@ansibot Added!

[2017-03-30 14:22] jctanner commented on #16856
notabug

[2017-03-30 14:22] #16856 closed, assigned to nobody

[2017-03-30 14:24] jctanner commented on #16842
^ needs_info

[2017-03-30 14:35] vtsingaras opened #23135 "Dynamic inventory for XenOrchestra"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
XenOrchestra dynamic inventory script

##### ANSIBLE VERSION
2.4.0

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I have developed a dynamic inventory script for XenOrchestra (https://xen-orchestra.com/#!/), which is a management service for Citrix XenServer. You can find the inventory script here:

https://github.com/vtsingaras/xeno

[2017-03-30 14:37] bcoca commented on #23016
This affects  2.2.1 and 2.2.2 as the patch did not make it into the tree in time for release, it will be included in the next release (coming soon). Closing as fixed, but pending release.

[2017-03-30 14:37] #23016 closed, assigned to bcoca

[2017-03-30 14:48] alikins commented on #22300
@ettancos

That is a good point. Using activationkey for unregister is not supported by the rhn/sat API, so the second play in the example playbook can't work.

Looking into adding that requirement to the argument spec.

[2017-03-30 14:59] #22709 closed, assigned to Qalthos

[2017-03-30 15:00] #22704 closed, assigned to Qalthos

[2017-03-30 15:04] Jmainguy opened #23137 "Cannot build deb on debian8 without editing Makefile"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
make deb fails

##### ANSIBLE VERSION
Clone of ansible/ansible as of today. a0344acd78c422457b5a018b9de59e213f39dc87

##### CONFIGURATION
docker run -ti debian:8 /bin/bash
apt-get install the following
git, make, python-sphinx, python-yaml, asciidoc, python-setuptools
git clone
https://github.com/ansible/ansible
cd ansible
make deb
##### OS / ENV

[2017-03-30 15:05] allpoints commented on #22953
Thought I did that yesterday.  It showed it removed the needs_rebase and had moved it to community_approval,  [ansibot event](https://github.com/ansible/ansible/pull/22957#event-1020632905)  FWIW, just re-rebased.  Shouldn't hurt and there were no merge conflicts to resolve.

[2017-03-30 15:20] bcoca commented on #16832
AFAIK, testpypi is to test pushing out releases in general, not for release candidates. In any case we are looking at RC tagging (which is a pypi feature) to deliver RC candidates w/o disturbing those using stable versions.

Closing this as it is unrelated to actual usage, but made note internally to use testpypi for changes in release process.

[2017-03-30 15:20] #16832 closed, assigned to nobody

[2017-03-30 15:20] willmerae opened #23139 "password_hash filter doesn't use full character set when generating a salt"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

password_hash filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
In a template the filter `{{ 'some string' | password_hash }}` or `{{ 'some string' | password_hash(hashtype='sha256') }}` will return a crypt formatted hash of the string in question. This format is `$<hashtype>$<salt>$<hash>. Wh

[2017-03-30 15:22] amitmodak commented on #16561
Updated the component label. Unfortunately, I am not aware of any standard component labels, so I just chose what I think describes the problem best.

[2017-03-30 15:30] abadger commented on #23137
I think this is the fix:
[code]

Will talk to bcoca after the meeting to see why we're using io.open() right now, though, then push a PR.

[2017-03-30 15:33] privateip commented on #18968
PR has been merged into devel and will be part of the next 2.3 RC

[2017-03-30 15:37] ghost opened #23142 "sros_config is treating commas in commands as delimiters, breaking single lines into multi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
sros_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
N/A

##### SUMMARY
SROS supports regex as-path policy specifications that include commas, e.g. ".{60,}". sros_config incorrectly interprets the comma as a delimiter and breaks the setting into two parts, both of which fail to be applied.

##### STEPS

[2017-03-30 15:44] kushaldas commented on #23139
Can not reproduce it. Host system: Fedora 25

#### Ansible Version
[code]
#### Actual result
[code]

[2017-03-30 15:45] RRAlex opened #23143 "Previous packages (.deb) should be kept on repository"
##### ISSUE TYPE
 - Bug / Workflow

##### COMPONENT NAME
Ansible's Ubuntu repository (version released)

##### ANSIBLE VERSION
[code]

##### SUMMARY
Ansible releases sometime bring new bugs that passes QA and are only found after release.

Like other project, it would make a lot more sense to keep all the releases for a distribution from inception until the distro support is dropped.
(See how Dock

[2017-03-30 15:51] willmerae commented on #23139
Your example did reproduce it. The fields are '$' delimited, and the salt is in the second field'. That's `SVu9547ZnvOFkn2T` in your example, which contains only letters and digits.

[2017-03-30 15:52] kushaldas commented on #23139
Yup, just now understood the mistake. Sorry for the noise.

[2017-03-30 15:55] chrislong opened #23144 "service arguments ignored if using systemd"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

service module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

Ubuntu 14.04 LTS

##### SUMMARY
The documentation for the service module says the "arguments" parameter can be used. However, this is not true if the system uses systemd (e.g., CentOS 7).

##### STEPS TO REPRODUCE

Run ansible-play

[2017-03-30 15:56] ssbarnea commented on #16832
@bcoca Thank you! How testpypi is used is up to each of user to decide.

Ansible team could decide to use even the main repository if it starts to use pre-release semantic versions. These would be really useful for us because we would test our compatibility with unreleased (testing) versions of Ansible by simply doing a `PIP_PRE=1 pip install ansible` before installing ansible. I could easily add

[2017-03-30 15:58] bcoca commented on #23137
So i automated the manpages assuming we were doing things 'right', but seems ... not really.

Adding the following to make sure encoding is preserved, @abadger should we just use encode now vs binary opening the file?
[code]

[2017-03-30 16:03] jmighion commented on #23091
@gundalow I have other bugs for 2.3 rc1 and rc2 that block me from getting anything done with it.

[2017-03-30 16:05] abadger commented on #23137
https://github.com/ansible/ansible/pull/23146

@bcoca needs both your change and my change.  My change fixes man page generation so that python will be able to output the characters to the file correctly.  Your change will allow the man program to read the resulting man page correctly.

[2017-03-30 16:25] jmighion commented on #23091
@rcarrillocruz The only subset that breaks is the interfaces subset, which is what started this and #22853.

The output looks the same as what was originally posted. What else could I get you that would help?

Log gathered from `ansible-playbook test.yml -vvvvvvv` on ansible version `ansible 2.2.2.0 (detached HEAD 31300bd36b)`
[code]

[2017-03-30 16:27] jctanner commented on #23135
@vtsingaras if you would like to donate the code to the project, please feel free to open a pullrequest. If enough attention on the PR is garnered, it will get merged. Otherwise, it will serve as a useful example to others.

[2017-03-30 16:27] #23135 closed, assigned to nobody

[2017-03-30 16:34] #23137 closed, assigned to nobody

[2017-03-30 16:53] jmighion commented on #23058
Updated to latest stable-2.3.

`ansible --version` :
[code]

provider :
[code]

Log :
[code]

[2017-03-30 16:56] gundalow commented on #23058
`"msg": "value of transport must be one of: , got: ********"` seems to be the key line here

[2017-03-30 16:59] jctanner commented on #16794
@navee Sorry it's taken so long to get back to this. The current error in the description seems to have little to do with environment vars:

[code]

SSH would not be affected by "HTTP_PROXY" environment variables, so I'm not sure what your intent was there. The error implies that the remote host can not be reached on port 22.

Are are you able to ssh to it by hand on port 22?

needs_info

[2017-03-30 17:13] jctanner commented on #16789
@dzhus that looks like a different issue. Please file a new bug.

@patchsmyle it looks like you have resolved this. Can you confirm and close the issue if so?

needs_info

[2017-03-30 17:47] jctanner commented on #16768
@guenhter I think you are approaching this wrong. Ansible's vars are by host, and all group vars will get merged into the host. That is why this inventory ends up setting group_master=True for both hosts:

[code]

[2017-03-30 17:57] commandtab commented on #19898
@ansibot Nope, it's right there in my original issue description: "Component Name: handlers"

[2017-03-30 18:04] bcoca commented on #22913
@snowsky its not supported, but it seems he relied on it.

We generally discourage the use of vars (sadly its not currently feasible to disallow it). The fix was for a security issue and had this side effect, the behaviour (before nor after) is not documented nor was expected by the developers.

Using the variables directly or via hostvars should always work.

[2017-03-30 18:19] bcoca commented on #23057
so issue here seems to be that we run 'getting hosts' x2, once before templating (you get warnings) and again after (when it works!).

[2017-03-30 18:26] bcoca commented on #23057
currently fixed in #23001, mostly by changing how inventory is called, will look to see if i can get smaller change to do same

[2017-03-30 18:27] bcoca commented on #23121
so the first warning is unintended and will be fixed, the 2nd is working as intended.

Closing this ticket as the referenced one is already tracking the issue.

[2017-03-30 18:27] #23121 closed, assigned to nobody

[2017-03-30 18:44] maheus commented on #22349
I have the same issue
I think that problem is caused by the option global , not by production .
In the npm.py , the list of modules is found with
 ``
cmd = ['list', '--json']
data = json.loads(self._exec(cmd, True, False))
``
There is not global's option, also npm return nothing and ansible tries to install the module again

[2017-03-30 18:53] #16899 closed, assigned to nobody

[2017-03-30 18:57] itdependsnetworks commented on #22216
@Len357

An example of multi line from a file.
[code]

[2017-03-30 19:12] abadger commented on #16731
This feels like a bug/missing feature in the ssh client.  I don't think we can satisfactorily solve it once it's gotten to the Ansible code because we don't know for sure whether any part of the command was sent to the remote side and executed (it could be dangerous for us to automatically retry if some part of the command was already executed remotely).

Maybe we should document that ControlPersi

[2017-03-30 19:17] jhawkesworth commented on #20308
win_regmerge ought to, although it is more tasks.
Also you might be able to use win_shell: reg.exe ADD .... syntax
In either case idempotency checking is not so nice though.

[2017-03-30 19:33] #23139 closed, assigned to nobody

[2017-03-30 19:36] arielyum commented on #22300
Have updated the task to include the environment for the proxy but the error is still the same:

Vars declarations:

vars:
    proxy_env:
       http_proxy: http://repo.alabs.datacom.co.nz:3128
       https_proxy: http://repo.alabs.datacom.co.nz:3128

Here is the tasks:

  - name: Un-Register to Red Hat Network First
    rhn_register:
      state: absent
#      server_url: "{{ rhn_server_url }}"
#

[2017-03-30 19:59] shepdelacreme opened #23152 "route53 module value parameter interprets list as a string"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`route53`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

macOS 10.12.4

##### SUMMARY

The current route53 module should accept a `list` or `string` in the `value` parameter. Lists are used to have multiple values for a resource record in route53. (i.e. an NS or A record with multiple values). However, if an ac

[2017-03-30 20:00] AquaL1te commented on #22439
There are many examples I can give you, but here is just one.

[code]
Which could also be written as below (please note that it's pseudo code).

[code]

[2017-03-30 20:07] s-hertel commented on #19249
Confirming this bug as well. A workaround is instead of `policy_document: test.json` do `policy_json: "{{ lookup('file', 'test.json') }}"`

[2017-03-30 20:07] privateip commented on #23142
I was able to replicate the first use case but not the second one.  It should work fine with list notation.  See testing playbook output below.

If you are still experiencing the bug, could you run the playbook with `-vvv` and provide the output to help troubleshoot further?

needs_info

**ansible version**
[code]
**test playbook**
[code]
**test playbook output**
[code]

[2017-03-30 20:07] snowsky commented on #22913
@bcoca do you mean this line "template = Templar(loader=self._loader, variables=ds)"?

[2017-03-30 20:08] bcoca commented on #22347
closing as dupe

[2017-03-30 20:08] #22347 closed, assigned to jimi-c, bcoca

[2017-03-30 20:09] bcoca commented on #22913
closing as dupe of #20545

[2017-03-30 20:09] #22913 closed, assigned to nobody

[2017-03-30 20:14] jctanner commented on #16648
This is old. Closing.

[2017-03-30 20:14] #16648 closed, assigned to jctanner

[2017-03-30 20:15] bjne commented on #22913
This is incorrectly marked as a dupe. This is related to the set_fact usecase, where 2.2.0.0 resolved all the way, while 2.2.1.0 does not

[2017-03-30 21:21] antonym commented on #23103
@andyhky I'll try modifying the config because if that works, it's an easy fix.  I'm not in dire need of the tlv lines, so it's hard to say which one should be squashed or not.

[2017-03-30 21:31] LinusU commented on #23073
I think that the quoting is the right thing to do here. How about adding a `matchSet` option?

[2017-03-30 21:39] jmighion opened #23154 "Semicolons are stipped from templates"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

inventory      = inventory
forks          = 1400
roles_path    = roles
timeout = 20
log_path = ~/ansible.log
retry_files_enabled = False

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Semicolon in jinja2 template gets removed before being sent to the device. When using the same comm

[2017-03-30 21:42] galindro opened #23155 "Module apt with 'update_cache="yes"' not show stderr for "404 Not Found" errors"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
##### SUMMARY
Is it possible to give the stderr on module apt when it fails to update the cache? When there is a `404  Not Found` error, it always shows `"msg": "Failed to update apt cache."` and not the stderr. This is making impossible to use `faile

[2017-03-30 21:47] galindro commented on #23155
According to http://docs.ansible.com/ansible/apt_module.html, it needs to return the bellow values:

![image](https://cloud.githubusercontent.com/assets/4622097/24527545/f59f29ac-1578-11e7-893f-7099fcdfb835.png)

But I think that it is ignored when we want to use apt only for update_cache:

https://github.com/ansible/ansible/blob/3164e8b561931b413ee91f537e2ea3273b0a1775/lib/ansible/modules/packagi

[2017-03-30 22:21] #23130 closed, assigned to privateip, rcarrillocruz

[2017-03-30 22:38] mprasil opened #23159 "Allow custom action plugin to set variable with precedence over set_fact"
##### ISSUE TYPE

 - ~Bug  Report~
- Feature Idea

##### COMPONENT NAME

set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default
##### OS / ENVIRONMENT

N/A
##### SUMMARY

set_fact module seems to have higher fact precedence than my action plugin with no obvious way to set the same precedence for the plugin.
##### STEPS TO REPRODUCE

[code]
[code]

[code]

##### EXPECTED RESULTS

I'd

[2017-03-30 22:56] bcoca commented on #17322
tested, for me works in current devel/2.2/2.1
[code]

[2017-03-30 23:01] lastsky commented on #20711
all you need is `update_cache`.

[code]

[2017-03-30 23:06] tmekaumput opened #23161 ""rescue" is not executed when "all" the included files inside with_items don't exist"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

block feature

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Trying to use block with rescue feature to handle error from the included files which is located inside with_items loop to iterate through the list of files but there are chances that pre-defined list containing files that don't

[2017-03-30 23:40] jctanner commented on #16495
@freeseacher sorry for taking so long to get back to this. When roles are "installed", it is expected that they land in /etc/ansible/roles as explained by http://docs.ansible.com/ansible/galaxy.html#roles-path

I think your second point implies that you want the role to automatically run on the host? That is not the intent of roles and galaxy as users might want to run the role on other hosts inst

[2017-03-30 23:40] #16495 closed, assigned to nobody

[2017-03-30 23:49] ZuluPro opened #23163 "parted : ERROR! no action detected in task."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

parted

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux 3.19.0-25 / Ubuntu 14.04.3 LTS

##### SUMMARY
If I add this block to my playbook, I have the following error:
[code]

If I replace `parted` by `debug`, it works.

##### STEPS TO REPRODUCE

[code]

[2017-03-30 23:59] jctanner commented on #16421
@timothysc I have seen other products do this with ansible (mapr's installer), so I know this is possible. I also know that this is not within the scope of the OSS ansible project. As @detiber mentioned, there are outside efforts working on the problem too.

https://github.com/openshift/openshift-ansible

[2017-03-30 23:59] #16421 closed, assigned to nobody

[2017-03-31 00:18] privateip commented on #23060
resolved_by_pr 23083

[2017-03-31 00:19] #23060 closed, assigned to rcarrillocruz

[2017-03-31 00:26] sivel commented on #23163
The problem you are experiencing is due to the fact that the `parted` module is not available in version  `2.2.2`.  Per the documentation the `parted` module is `New in version 2.3`.  2.3 has not yet been released and is currently in rc2.  More information can be found at https://groups.google.com/forum/#!topic/ansible-devel/cmYsumCc4kA

If you have further questions please stop by IRC or the mail

[2017-03-31 00:26] #23163 closed, assigned to nobody

[2017-03-31 00:46] nitzmahone commented on #23118
Yes, `always` and `all` are synonymous internal tags. There are legitimate reasons to tag things with those, so not sure that a warning is a possibility. I don't see those documented either along with tags, so probably something we should include.

[2017-03-31 01:21] nitzmahone opened #23165 "winrm leaks operations on connection reuse"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
winrm.py

##### ANSIBLE VERSION
2.2.1.0

##### SUMMARY
When reusing a connection plugin instance (eg, `with_X`, `win_copy`), the WinRM connection plugin leaks operations (ie, the command is not properly terminated). This is rarely a problem unless the connection is reused enough to trigger the default MaxConcurrentOperationsPerUser or MaxConcur

[2017-03-31 01:49] pjz commented on #16975
https://github.com/ansible/ansible-modules-core/issues/4364 says that repo is locked and issues should be submitted here.  Make up your mind, please.  Oh, and fix this bug ;)

[2017-03-31 02:32] mattclay commented on #16390
I'm planning to do this as part of the work documented on the [2.4 roadmap](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_4.rst).  See the section on "Cloud Integration Tests" near the bottom. Closing this since it's being tracked there.

[2017-03-31 02:32] #16390 closed, assigned to nobody

[2017-03-31 03:07] Miyurz commented on #22455
@gundalow Can you please close this ?

[2017-03-31 03:10] sivel commented on #22455
Closing as requested.  Resolved by #22502

[2017-03-31 03:10] #22455 closed, assigned to nobody

[2017-03-31 03:24] abadger commented on #23143
We looked at this in the past but it seemed that the ppas could only keep the most recent builds.  If you know how docker gets the ppa to keep older builds we can get the person who takes care of building the ppas to take a look at enabling it.

[2017-03-31 04:29] wrouesnel commented on #18968
Fixed with the cli provider and Cisco 9k switch - thanks!

[2017-03-31 04:44] bcoca commented on #16731
FYI, meta: refresh_connection will remove those sockets, so you can end the play with it currently to avoid lingering connections.

[2017-03-31 04:51] bcoca commented on #22881
probalby related to #20545

[2017-03-31 06:35] guenhter commented on #16768
@jctanner

Hi,

the use case is pretty easy:
I have a role which copies files and for a specially marked host, it copy even more files.

So in my playbook I have two plays where I use `hosts_a` and want the role to handle `machine1` as a special case.

[code]

In the same playbook I have another play with another role where I want `machine2` as special case:
[code]

Playbook:
[code]

This would be

[2017-03-31 06:41] tonk commented on #16409
I changed the component to Ansible core, but I'm wondering what was not clear.

[2017-03-31 07:03] jhawkesworth commented on #22892
@basictheprogram - could this be the same as the issue described and fixed in #23098 ?
If so, please can you test that PR? There's some information on testing PRs here: http://docs.ansible.com/ansible/dev_guide/developing_test_pr.html

needs_info

[2017-03-31 07:11] dagwieers commented on #16409
@tonk Issues/PRs without a component name cannot automatically be assigned to the right people. That's why the bot was modified to ask contributors to update their records so the bot can triage those issues as well.

[2017-03-31 07:21] jfblg commented on #23058
Hi @gundalow, thank you for your prompt answer. I've used the new ```stable-2.3```.

##### ACTUAL RESULTS

- Doesn't matter if ```ANSIBLE_PARAMIKO_LOOK_FOR_KEYS``` is set to ```True``` of ```False```, the logs are as follows:
[code]

[2017-03-31 07:28] tinawenqiao opened #23169 "Stats of json stdout is incorrect when using skip tags"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

json stdout callback

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

stdout_callback = json
##### OS / ENVIRONMENT

Mac OS
##### SUMMARY

When using skip-tags in running playbook, the stats of "skipped" is incorrect.
##### STEPS TO REPRODUCE

1. Set the ansible.cfg stdout callback to json
    [defaults]
   stdout_callback = json
2. Run th

[2017-03-31 07:49] pschiffe opened #23170 "mixed inventory in single directory broken in >= 2.3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
static and dynamic inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora release 25 (Twenty Five)

##### SUMMARY
When mixing static and dynamic inventory in single directory, static inventory file is ignored in ansible version 2.3 and later. In 2.2 it works as expected.

##### STEPS TO REPRODUCE
[code

[2017-03-31 07:51] tonk commented on #16409
I agree that the automatic process is a good thing. But the componentname was `core`.
That should be clear, or there should be a list of correct component names.

[2017-03-31 08:02] tlestach commented on #22300
Satellite 5.6/5.7 contain following API: **system.deleteSystem**. There's also a variant of the API that uses systemid file (default location: _/etc/sysconfig/rhn/systemid_, specified in _/etc/sysconfig/rhn/up2date_) for authentication, so does not require username/password. This API is meant to be called from the system itself.

Optionally it's possible to call **system.unentitle** API, that keep

[2017-03-31 08:39] Jean-Daniel opened #23171 "[python3] copy module broken when using diff and binary files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[copy] python3

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
macOS Sierra

##### SUMMARY
When using the copy module in diff mode (using ansible-playbook -D), the module crash if one of the copied file is a binary file. Note: Python3 is used only on the ansible host side, not on the remote machines.

[code]

While doi

[2017-03-31 09:19] rcarrillocruz commented on #23091
Please checkout branch https://github.com/rcarrillocruz/ansible/tree/troubleshoot_23091, it has an instrumented ios_facts module that dumps method inputs and outputs to a file.
You need to run 'pip install q' in your environment, then run the playbook and provide /tmp/q from your controller machine.

[2017-03-31 09:40] rcarrillocruz commented on #23170
Please provide a playbook as simple as possible to reproduce the issue.

[2017-03-31 09:41] rcarrillocruz commented on #23170
needs_info

[2017-03-31 09:56] mogthesprog opened #23173 "Include statements are executed even if the when statement isn't satisfied"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
anisble core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[defaults]
#hostfile = ./inventories/cenguk
roles_path = ./core/roles:./price-and-promo/roles:./sxdb/roles
log_path = ./ansible.log
retry_files_enabled = False
sudo_flags=-H -S
hash_behaviour=merge
callback_whitelist = profile_tasks
library = /usr/share/ansible:./core/library
#[INF

[2017-03-31 09:58] mogthesprog commented on #23173
Following with output of `-vvvv`

[code]

[2017-03-31 10:13] absolutejam commented on #20135
Not sure if this is related, but I'm finding if I don't explicitly specify the inventory file when running a dynamic inventory, the `group_vars` are ignored (Ansible 2.2.1.0).

In my `ansible.cfg`, I have `inventory      = /etc/ansible/inventory`, which automatically picks up my dynamic inventory stored at `/etc/ansible/inventory/ldap/ldap_winservers.py`. Then, when running `ansible ldap_winserver

[2017-03-31 10:21] dagwieers commented on #16409
Agreed.

[2017-03-31 10:39] pschiffe commented on #23170
Any playbook, e.g.
[code]

[2017-03-31 10:47] mprzygrodzki opened #23174 "ec2_asg_facts - additonal parameters in module."
Hello, it would be great if there's a possibility to add some limit & sort parameter similar to ones which were included in ec2_lc_find or ec2_ami_find called "limit" or "sort_order (ascending/descending, sorted by creation date or something like that )" so we can list current ASG's from oldest to newest - i would like to integrate this with my playbook i.e. to list and keep latest 2 ASG's

#####

[2017-03-31 10:54] bjne opened #23175 "parent role defaults only available in vars"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
role/vars

##### ANSIBLE VERSION
*.*
##### SUMMARY
defaults and vars set in parent role (meta/dependency) in not available in hostvars[inventory_hostname] but only in vars[] dict.
In 2.2.0.0 it was possible to combine set_fact with vars[] in 2.2.0.0 to access
these variables.

The current behavior makes it afaik impossible to template variable n

[2017-03-31 11:05] wimnat commented on #23174
You can just use a Jinja filter to sort the results

[2017-03-31 11:13] rcarrillocruz commented on #23154
I'm unable to reproduce this on 2.3, running the playbook I see the correct snmp value on CLI session:

[code]

[2017-03-31 11:13] Achatos commented on #23079
Isn't the dns-setting feature only supposed to work in windows?
Documentation says:
[http://docs.ansible.com/ansible/vmware_guest_module.html]
"Add an optional dns_servers or domain entry per interface (Windows)"

[2017-03-31 11:45] HappyFreeAngel opened #23176 "ansible vmware_guest "msg": "the paramater is not correct: spec.location.host""
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
vmware_guest module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[centos@localhost happy.vmware]$ ansible-playbook --version
ansible-playbook 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configur

[2017-03-31 11:47] jglf commented on #20663
OK, so these settings are actually not 'extra settings' but some other sort.
`vhv.enable` for example is set via the `nestedHVEEnabled` configSpec parameter.
I managed to configure it using the official vmware python sdk (script attached), but the same with pysphere still does nothing (script also attached).
[vhv-pyvmomi.py.txt](https://github.com/ansible/ansible/files/885470/vhv-pyvmomi.py.txt)
[

[2017-03-31 12:03] rcarrillocruz commented on #20864
I agree this would be useful, but we should just leverage min_count/max_count params from shade create_server, which is a pass-thru of nova create_server min_count/max_count:

https://developer.openstack.org/api-ref/compute/?expanded=create-multiple-servers-detail,create-server-detail

I don't think we should put logic for this on the Ansible modules as the linked PR https://github.com/ansible/ans

[2017-03-31 12:07] ceving commented on #22127
I have the problem with the `copy` module. But only if the copy module does a transfer. But the transfer succeeds. A second run does not transfer anything. Same Ansible version.

[2017-03-31 12:56] dminca commented on #22993
@alpeshspatel if you have previously installed `docker-py`, just `pip uninstall docker-py` then `pip install docker`

[2017-03-31 12:59] userlerueda commented on #22191
@wisotzky the problem with the code you submitted is that it is modified code from when you took a snapshot of the netconf_config.py (2.2.1.0). So you may have not been testing using the latest code which has some fixes. May I suggest you try latest code and if it still does not work try to submit changes using devel branch as base and ideally using a pull request (which makes it easier to spot th

[2017-03-31 13:08] Oneiroi opened #23179 "pycrypto vulnerablility CVE-2013-7459 project is dead ? Ansible is including a vulnerable library ?"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible && ansible-vault

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
All

##### SUMMARY
PyCrypto afaict is not being maintained see https://github.com/dlitz/pycrypto/issues/173 for more, also note that there is a buffer overlow exploit https://github.com/dlitz/pycrypto/issues/176 which appears to have been fixed i

[2017-03-31 13:12] lairdm opened #23180 "ansible_env undefined in playbook, documentation example broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
playbook

##### ANSIBLE VERSION
2.0.1.0 - 2.2.2.0

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Example in documentation doesn't work.

In the documentation:

https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/playbooks_environment.rst#working-with-language-specific-version-managers

An example is given to set the PATH when run

[2017-03-31 13:21] jelep commented on #16842
@dagwieers ... my apologies... yes, i will retest and provide further details shortly. at the moment i have been tasked with another initiative that is more pressing... thanks...

[2017-03-31 13:36] #18968 closed, assigned to privateip, rcarrillocruz

[2017-03-31 13:36] matthewdaizeitm commented on #22163
Take EC2 module for example. How do we know what criteria this module use to determine if an create vs update should be performed? Without crawling the code, we won't know.

Can this be added into the next version as a guideline/requirement?

[2017-03-31 14:01] RRAlex commented on #23143
This indeed has been [previously](https://groups.google.com/forum/#!topic/ansible-project/emNkF7CBVew) [discussed](https://github.com/ansible/ansible/issues/13898), but as many people are getting bitten by this over the year, there doesn't seem to be a clear roadmap to fix this issue, and no solution have been selected as the way forward.

I'm not a PPA expert but, with what we know about not bein

[2017-03-31 14:02] jhawkesworth commented on #23165
Confirmed with ansible 2.3 rc2 running on CentOS Linux release 7.2.1511 (Core)
target Server2012R2

[2017-03-31 14:04] lokly opened #23181 "win_find module: wrong age parameter"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
win_find module

##### ANSIBLE VERSION
2.4

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I have load the win_find module to my ansible instance and run the win_find module with the age parameter. The result is the inverse of the expected.

If I use age=1s, I get no files.
If I use age=1h, I get one file, that has been created in the l

[2017-03-31 14:11] jctanner commented on #16359
@frimdo does include_role satisfy this request?

needs_info

[2017-03-31 14:14] alikins commented on #22300
Based on discussions with @tlestach it does look like the rhn_register module could unregister without a username+password.

Some notes:

[code]

[2017-03-31 14:33] frimdo commented on #16359
Not using ansible much since, but for the problem I had, `include_role` could be a solution. Thanks

[2017-03-31 14:35] jctanner commented on #16265
I see the following blurb in http://docs.ansible.com/ansible/docker_image_module.html
[code]

[2017-03-31 14:35] #16265 closed, assigned to nobody

[2017-03-31 14:40] ryansb commented on #16318
needs_contributor

[2017-03-31 14:43] sivel commented on #23179
Related: https://github.com/ansible/ansible/pull/20566

[2017-03-31 14:46] flare-ws commented on #17100
How to deal with "multiple inheritance":

inventory.ini:
[code]

Current output:

[code]

Expected something like:

[code]

[2017-03-31 14:51] TheTesla opened #23182 "get_url retry, resume/continue"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing changed

##### OS / ENVIRONMENT

N/A

##### SUMMARY

retry and resume/continue get_url downloads:
If connection was broken during download, retry download [retry]-counts. Do not download at start, resume/continue on the stopped end like 'wget -c'. Also resume or continue if

[2017-03-31 14:54] jctanner commented on #16260
@gianrubio this should be possible by combining blocks with rescue and include role.

http://docs.ansible.com/ansible/playbooks_blocks.html
https://docs.ansible.com/ansible/include_role_module.html

Contrived example:
[code]

[2017-03-31 14:54] #16260 closed, assigned to nobody

[2017-03-31 14:55] sivel commented on #23169
The problem here is that `--skip-tags` doesn't work like a `when` statement that causes the task to get skipped.

`--skip-tags` doesn't even include the task in the play run, so it is never registered as actually skipped.

[2017-03-31 14:58] leonidlee opened #23183 "win_robocopy returns changed incorrectly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_robocopy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
force_color = 1

##### OS / ENVIRONMENT
Ansible control: CentOS release 6.5 (Final)
Ansible slave: Windows 2008 R2 Server

##### SUMMARY
Running win_robocopy module I expect to copy files/folders and get a result status of this action.
If process copied file(s) it returns changed to

[2017-03-31 15:16] tlestach commented on #22300
@alikins, it's not rhn_register module supporting the API.
It's a Satellite 5 server XMLRPC API. See [example usage](https://access.redhat.com/documentation/en-US/Red_Hat_Satellite/5.6/html/API_Overview/chap-Red_Hat_Satellite-API_Overview-Examples-Beginner.html), if needed.
As mentioned - not to mix up Red hat Satellite 5 with RHN /Red hat Network/.

[2017-03-31 15:32] wisotzky commented on #22191
There is already the correction about “:candidate” discard/commit contained in the latest code now. As indicated, the code I’ve provided contains better failure handling therefore super-setting the change which was provided.

The only I am missing in my code are the “look_for_keys” and “allow_agent” attribute.

I’ve merged both code versions and minimized the number of changed, so it looks more li

[2017-03-31 15:39] bcoca commented on #23179
So from quick look, Ansible only uses this directly in vault (which makes remote execute issues mostly moot), still we are looking at this issue and what actions might be needed.

The other thing that depends on this are older versions of paramiko, which has already migrated to cryptography in current versions. This is not something we control directly and it is mitigated by ssh being  the default

[2017-03-31 15:47] abadger commented on #23179
Another thing our security experts have weighed in the past is that pycrypto is maintained and patched by various Linux distributions whereas cryptography is not included in many of those products.  This leads to a problematic split for our users -- Those who use distros which are patching the upstream pycrypto may have a perception that pycrypto is more secure while those that install directly fr

[2017-03-31 15:54] abadger commented on #23143
Oh I see, I misread your orignal comment about docker and thought they had figured out how to do this inside of a ppa.  I'll see if I can get our apt/debian packager to comment on this as it's not just a button that I can ask him to enable in the ppa build.

[2017-03-31 16:48] jctanner commented on #16256
resolved_by_pr https://github.com/ansible/ansible/pull/17731

[2017-03-31 16:48] bcoca opened #23184 "Remove deprecated 'accelerate' connection plugin and associated keywords"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

accelerate

##### ANSIBLE VERSION

[code]

[2017-03-31 16:49] skg-net opened #23185 "dellos10_facts module fails to run in latest devel/Ansible 2.3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/network/dellos10/dellos10_facts.py

##### ANSIBLE VERSION
ansible 2.3.0.0 (stable-2.3 1ba7e6b6f6) last updated 2017/03/30 10:20:17 (GMT -700)
  config file =
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]

##### CONFIGURATION
look_for_key

[2017-03-31 17:02] RRAlex commented on #23143
I understand, it indeed requires some change, but I think that a transition with both the new repository and the PPA living side by side for a while would make this quite smooth and useful for everyone.

For example with docker, again (as they just went through this):
They changed their repository and GPG key (+ package name!) but keep publishing to both repository, at least for a while, and will

[2017-03-31 17:10] ovcharenko commented on #16403
bot_broken: *COMPONENT NAME* is present in issue description

[2017-03-31 17:22] jctanner opened #23187 "vault single variable example has italicised pipe that looks like slash"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
vault documentation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
http://docs.ansible.com/ansible/playbooks_vault.html

In a browser, that pipe is italicized, making it look like a slash

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-03-31 17:24] jctanner commented on #16213
@rmauc we welcome any submissions to the docs.

needs_contributor

[2017-03-31 17:24] jctanner commented on #23187
https://github.com/ansible/ansible/commit/06e0b000358ec65ae054f0d7dc8253bd1caa5fcc

[2017-03-31 17:24] #23187 closed, assigned to nobody

[2017-03-31 17:36] jctanner commented on #16194
@lqueryvg I don't see lines similar to your example in the code, so I'm guessing this is still not fixed ...

https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/adhoc.py#L173-L178

Would you be willing to submit a PR with your example fix?

needs_info

[2017-03-31 17:52] thuandt commented on #15294
LOL after 1 years and now only @ansibot  reply in my issue 👎

[2017-03-31 17:56] privateip commented on #22827
currently it works as designed   there isn't a way to positively know if save changed anything in the persistent config so whenever `save: yes` is used, the module will always report changed.  Its a behavior I hope to change in a future release but as of 2.2 (and 2.3) its working as designed

[2017-03-31 17:56] #22827 closed, assigned to privateip

[2017-03-31 17:58] privateip commented on #22826
Agreed, it should.  Do you have a sample playbook where you are seeing the incorrect behavior and what version of SROS are you seeing it in?

needs_info

[2017-03-31 17:58] jctanner commented on #16186
I have written a hacked up linux version myself a few times. Latest example:
https://github.com/jctanner/vmworld-demos/blob/master/library/reboot.py
https://github.com/jctanner/vmworld-demos/blob/master/action_plugins/reboot.py

I agree that the project and it's users need this as a feature. I would prefer that community builds it and collaborates.

[2017-03-31 18:02] privateip commented on #22828
Agreed, this needs to be better documented.  To answer your question, the purpose of lines was intended to only function within a single context unless you are specifying config lines from the top level starting with `configure ...`.  That said, agreed the documentation should be clearer on these points.

[2017-03-31 18:03] jctanner commented on #16153
@amarao this is possible now via the include role module and is in the examples:

https://docs.ansible.com/ansible/include_role_module.html

Thanks!

[2017-03-31 18:03] #16153 closed, assigned to nobody

[2017-03-31 18:07] jctanner commented on #16140
@Hubbitus This looks identical to what you ask for in https://github.com/ansible/ansible/issues/14525

How does this differ from that request?

needs_info

[2017-03-31 18:21] kometchtech commented on #16751
##### COMPONENT NAME
setup

[2017-03-31 18:27] stacker2017 commented on #14426
By increasing the timeout we are hiding the real reason why ssh failed on a first place with 12s retry value which is still significant.

is anyone aware why ansible fails to connect to the host so randomly? for example, we have 50 nodes in our setup managed by ansible and time out happen 3% of time on totally random nodes and random tasks and if we re-ran the playbook for the second time it would

[2017-03-31 18:57] #16125 closed, assigned to nobody

[2017-03-31 19:03] s-hertel commented on #23185
Fixed with https://github.com/ansible/ansible/commit/f8cef96c2c535204f75be9f176a41f429f7526ef.

[2017-03-31 19:03] #23185 closed, assigned to nobody

[2017-03-31 19:10] jctanner commented on #23175
@bjne I don't think the behavior you are describing should be true, but it might make it more clear if you can provide a simple reproducer. Can you do that?

needs_info

[2017-03-31 19:11] jctanner commented on #23176
@ HappyFreeAngel what ansible version are you using?

needs_info

[2017-03-31 19:34] snowsky commented on #23180
It seems to me environment broke the playbook. If you commented it out, then it works.

[2017-03-31 19:38] bacastelli commented on #23142
I was able to confirm your results, @privateip. We will use that as a work-around. Note that there is another case that fails. Using this playbook:

[code]

And this cfg file:

[code]

We see this output, which we see in the `update` section has been stripped of the curly braces in the regex:

[code]

The requested policy-options do not appear on the router.

[2017-03-31 19:39] s-hertel commented on #23180
This seems to be a documentation error. I would suggest using lookup('env', 'PATH') instead as it is
well supported.

[2017-03-31 19:41] bcoca commented on #23180
the environment is being applied to the 'implicit fact gathering' task, which sets ansible_env .. which is then undefined, just use default filter to avoid this issue:
[code]

[2017-03-31 19:57] edysli commented on #15137
@ansibot updated issue to add: component name = inventory
I hope that's the right name, I haven't found a list to pick from...

[2017-03-31 20:03] bcoca commented on #15137
Closing, since this seems to be fixed in current supported stable versions (>=2.1).

[2017-03-31 20:03] #15137 closed, assigned to nobody

[2017-03-31 20:09] vinigfer opened #23192 "Synchronize module: incorrect documentation for "dest""
##### ISSUE TYPE
 - Documentation Report (bug on documentation)

##### COMPONENT NAME
- Synchronize

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
- None changed

##### OS / ENVIRONMENT
Host is:
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.2 LTS
Release:	16.04
Codename:	xenial

Destination is a VM running Ubuntu 16.04

##### SUMMARY

##### STEPS TO REPRODUCE
When attempting to "push" a git

[2017-03-31 20:34] erwilan commented on #23192
The documentation says:
Specify additional rsync options by passing in an array.

Try this:

`- name: 'Pushing code from localhost to remove server'
  synchronize:
    src: "{{ local_folder }}"
    dest: "{{ destination_folder }}"
    rsync_opts:
      - "--protect-args"
      - "-aP"`

[2017-03-31 20:36] lairdm commented on #23180
Err, I think must have failed to report this clearly enough...

lookup('env', 'PATH') isn't the correct solution, from what I understand that would get the path on the local machine the playbook is being run on, not from the remote machine which is what the documentation is illustrating.

Using the default() filter is very obviously the incorrect solution because it would just mask the bug and doe

[2017-03-31 20:56] s-hertel commented on #23180
@lairdm Agreed. See my edit above- lookup('env', 'PATH') wasn't the correct solution. I misunderstood. Sorry! The documentation has been fixed though with the correct solution.

[2017-03-31 21:10] bcoca commented on #23180
@lairdm the functionality has not been dropped, the only thing that changed is that the 'fact gathering' task is now affected by environment (it was not getting the PATH before either).

Consider that the task that sets `ansible_env` cannot itself depend on `ansible_env`.

[2017-03-31 21:24] BillRainford commented on #23016
When is the next release coming out?

[2017-03-31 21:41] dgjustice opened #23193 "Ansible 2.3 RC3 cannot connect to network devices"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

cat ansible.cfg
[defaults]
log_path=/tmp/ansible.log

[paramiko_connection]
look_for_keys=False
record_host_keys=False

##### OS / ENVIRONMENT

##### SUMMARY

Ansible 2.3 will not connect to Cisco Nexus devices.

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

Wo

[2017-03-31 21:42] dgjustice commented on #23193
@gundalow @privateip

[2017-03-31 21:46] dgjustice commented on #23193
Sorry for being a PITA.  I can host a WebEx next week if you want to see step-by-step what I'm experiencing.

[2017-04-01 00:57] snowsky commented on #23180
Is this environment thing related to task?

[2017-04-01 01:02] snowsky commented on #23180
Test case 1:
[code]
Output:
[code]

Test case 2:
[code]
Output:
[code]

[2017-04-01 01:29] snowsky commented on #23180
[code]

[2017-04-01 02:23] jborean93 commented on #23181
I'll try and have a look at it before the next RC, thanks for the heads up

[2017-04-01 04:46] jborean93 commented on #23181
Hey @lokly I've raised a PR for this fix, are you able to test it? https://github.com/ansible/ansible/pull/23195

[2017-04-01 05:23] mdorenkamp commented on #20308
i rewrote the playbooks to use win_regmerge which seems to work, although this is only a workaround.
a nice side-effect is that win_regmerge is considerably faster when manipulating multiple registry entries compared to win_regedit

[2017-04-01 05:28] trishnaguha commented on #21185
@jctanner Should I submit the PR to https://github.com/ansible/ansible-modules-extras ?

[2017-04-01 05:50] gundalow commented on #23193
Thanks for testing RC3. This feels like a good opportunity to get some really world testing of the (draft) debug docs.

https://github.com/gundalow/ansible/blob/network-debug-docs/docs/docsite/rst/network_debug_troubleshooting.rst

Have a look at the "Enabling Networking logging and how to read the logfile" section

[2017-04-01 06:16] dbarobin opened #23197 "FAILED: [Errno 111] Connection refused"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### SUMMARY

When I ping a group of hosts, error as follows:

[code]

Configuration file:

[code]

Yet I login via direct ssh of 192.168.2.86 and 192.168.2.87 is OK.

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

Remote server like 192.168.2.86

[2017-04-01 08:51] #21124 closed, assigned to nobody

[2017-04-01 10:57] MartinNowak opened #23198 "blockinfile should show diff"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
blockinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It's very easy to accidentally overwrite changes in content managed via blockinfile because `--diff --check` does not show a diff of the update atm.

##### STEPS TO REPRODUCE
[code]
`ansible-playbook --diff test.yml`

##### EXPECTED RESULT

[2017-04-01 13:33] ssbarnea commented on #23016
I am quite curious about the same thing and also wondering how it happened that this was not catched earlier in the process. I am encountering is even on most masic ansible setups.

[2017-04-01 13:39] snowsky commented on #23198
AFAIK, diff will only work with template

[2017-04-01 15:01] mtpereira commented on #21182
AFAICT, it doesn't actually flush the existing rules.

[2017-04-01 17:01] userlerueda commented on #22191
@wisotzky I am creating a Pull Request and submitting it for approval, however I will only integrate:
- Allows the playbook to control usage of either running or candidate (enforce)
- Improved error handling / exception handling

If we want to clean up those return statements, I will let @lpenz comment but in my opinion it should be done creating a different issue in github, this to keep things cl

[2017-04-01 17:16] mprzygrodzki commented on #23174
@wimnat, maybe it is an option but for me it would be much better to have this included in module. I'm not so familiar it this kind of J2 templating.

[2017-04-01 18:01] wisotzky commented on #22191
About return statements I am open, how this should be done. But you should be consequent on this. Either fail_json should always be followed by return or never. Will open another ticket for this.

[2017-04-01 18:06] julenpardo commented on #21766
Hello @Lujeni,

Sorry for the late response, but I have been quite busy.

Using the `devel` branch I get another error. I leave the output using the `-vvv` option:

[code]

[2017-04-01 21:47] mogthesprog commented on #21528
I had raised this issue a few days ago #23173, it's root lies in the same issue, only in my case the play doesn't exist at all, so it errors out. I'll close the other issue in favour of this.

Backporting this fix to 2.2 would be much appreciated :)

[2017-04-01 21:48] mogthesprog commented on #23173
Closing in favour of #21528

[2017-04-01 21:48] #23173 closed, assigned to nobody

[2017-04-01 22:34] userlerueda commented on #22192
In my opinion with current implementation it is not an easy fix, in addition to that any implementation that does not treat a task as a transaction (i.e. locks, sends config and unlocks) could lead to potential issues. What I see doable is for the XML not be text within the task but for it to come from a file (or template as @lpenz mentions) and the files to be a list that could potentially provid

[2017-04-01 23:35] krzysztof-magosa commented on #22737
This happens also for non-vault variables (at least for me), and it's expected behaviour.
Not sure it does what you want, but look after `delegate_facts`.

[2017-04-01 23:37] krzysztof-magosa commented on #22579
Most of people do not template handler names. For example I generate hundreds of vhosts for nginx, then I want to reload it only once and not 100x.

[2017-04-02 00:34] wimnat commented on #23174
@mprzygrodzki - jinja filtering is very powerful.  I think it would be better to use because:

a) you can use it now, you don't have to wait for the module to be updated
b) it keeps code out of the module - less code means less chance of bugs
c) i don't want to set a precedence for other modules - we don't want to have to update all the _facts modules to include this functionality when it is alrea

[2017-04-02 01:52] geerlingguy commented on #19763
Just wanted to post an update, since I completely forgot to do so when I _actually_ fixed the problem: in my case, `systemd` was outdated in the Docker container, and as part of the `@development` installation via the `yum` module, the `systemd` packages were updated.

Once that happened, systemd started going insane inside the container, and the only fix was to restart (stop and start) the contai

[2017-04-02 07:12] Nirkus commented on #22992
So, one has to be aware of template expression operator precence in order to escape correctly. Is template operator precedence documented somewhere in the ansible or Jinja2 docmenation?
Since shell commands should be a frequently used feature of ansible, escaping shell arguments correctly should be easy IMO.
How about we use this bug report to document operator precedence and spawn a new feature r

[2017-04-02 08:09] fanatid commented on #22690
Same issue, my when statement: `when: runningvms.stdout.find('{{ vm }}') != -1`

[2017-04-02 09:49] krzysztof-magosa commented on #22992
Every programming language has some precedence of operators and there is no point in fighting against that. It should be just clearly documented so people know how to achieve specific thing.

The other thing is - personally I'm not fan of calling commands by constructing long strings. Most of programming languages provide function to call command with array of unquoted parameters which are quoted

[2017-04-02 10:56] srfraser commented on #15607
I feel like 'component name' wasn't in the template when I originally filed the bug. In any case, it was long enough ago that I'm no longer in a role that uses ansible, so I can't easily test changes

[2017-04-02 11:07] AJamesPhillips commented on #19814
Can I help with fixing this?  I'm trying to change the hostname on a raspberry pi from raspberrypi to something else and have the same error:  "Command failed rc=1, out=, err=Could not set property: The name org.freedesktop.PolicyKit1 was not provided by any .service files"

[2017-04-02 14:47] s-hertel commented on #16722
Hi, thanks for opening this issue! I'm not sure if I understand the feature you're requesting.
Something different than what this accomplishes?:
[code]
Can you share the error you're getting when you run your playbook? Thanks!

[2017-04-02 15:02] jctanner commented on #16768
@guenhter feel free to open a new issue if you find any problems with that approach.

[2017-04-02 15:02] #16768 closed, assigned to nobody

[2017-04-02 15:07] s-hertel commented on #16722
Does using purge_listeners: False give you the desired behavior?
My playbook below creates a load balancer with all three ports.
[code]

[2017-04-02 15:24] towolf commented on #14641
I just encountered the problem, where `ansible_local` is lost between the top-level playbook where gathering happens (debug: var=ansible_local looks good in pre_tasks) and when I want to access it in a sub-sub-role (debug: var=ansible_local in the role shows empty `{}`).

When I re-gather facts in the sub-role (with setup:) immediately before, then it works again.

This started after 2.2.1.

@ryan

[2017-04-02 16:41] ctorgalson opened #23203 "File task fails when file does not exist, contradicting documentation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

File

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS

##### SUMMARY

The [File module's documentation](http://docs.ansible.com/ansible/file_module.html) states that "Note that file will not fail if the `path` does not exist as the state did not change."

However, running tasks that attempt to change the prope

[2017-04-02 17:07] ppar commented on #23016
Regarding the Ubuntu PPA packages, 2.2.1 is already gone from the apt repo but it's archived here:

https://launchpad.net/~ansible/+archive/ubuntu/ansible/+sourcepub/7405318/+listing-archive-extra

To roll back, do:

[code]

[2017-04-02 20:58] jtyr commented on #23123
Thanks for reporting this issue. Please can you explain why are you installing plugins in the handler? Also please read `jenkins_plugin` documentation to understand how the module works and how to handle Jenkins restarts.

[2017-04-02 21:11] jtyr commented on #23123
I have tested the idempotence with the following playbook and did not see any problem:

[code]

So I believe this is `notabug`.

[2017-04-02 21:16] malexe commented on #23123
In simple situations with idempotent testing, I'd resolved bugs via move it's actions to handlers. Currently I returned back the call for jenkins_plugin to task file but I still have same error in test now.
Thank you very match for your answer, I will try to fix my playbook.

[2017-04-02 21:16] kulinacs opened #23204 "Pip module returns unchanged when creating a venv with already installed packages"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pip module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
hostfile = inventory
legacy_playbook_variables = false
nocows = 1
retry_files_enabled = false

##### OS / ENVIRONMENT

Debian 9 primary, deployed to Void Linux, likely N/A

##### SUMMARY

When creating a virtualenv with only default packages i.e. pip, the pip module ret

[2017-04-02 21:18] #23123 closed, assigned to nobody

[2017-04-02 22:52] lpenz commented on #22192
I think the template file implementation is worth it, and is potentially simple, as the infrastructure is already there.

[2017-04-03 01:16] destroy-everything commented on #13361
sudo pip uninstall ansible
sudo pip install ansible

Worked for me...

[2017-04-03 02:26] tmshn commented on #16665
@rt711 Thanks for the report! Just to confirm, are you talking about the table on the "*Return Values*" section? Or elsewhere?

[2017-04-03 04:23] jamielennox opened #23206 "os_server does not update security groups"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
/cloud/openstack/os_server.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The os_server module takes a parameter of security_groups. When a new openstack server is created these security groups are added to the server however when the server already exists and the security groups are changed

[2017-04-03 06:09] lokly commented on #23181
Test was positive: The age parameter works as accepted. Thank you for fixing it!

[2017-04-03 06:09] #23181 closed, assigned to nobody

[2017-04-03 07:17] rt711 commented on #16665
@tmshn Hi, both the "options" and "return values" actually. On mobile view options adds an extra column to the end, on PC it's a row.
I'm  adding a screenshot and you can see the "return values" contains section looks like as a table inside a table. Not entirely sure how should I understand that part.
![screenshot from 2017-04-03 08-14-55](https://cloud.githubusercontent.com/assets/1867519/2459888

[2017-04-03 07:42] Jalle19 commented on #23016
I've had to switch to the `ansible/ansible-2.1` PPA for all newly built machines since the latest version is currently unusable. Any ETA on a new release?

[2017-04-03 08:03] wisotzky commented on #22192
I do agree, but it might require to build long/complex templates which contain everything, you want to submit in a single transaction. Would you suggest jinja2 to be used as template language - or more an XSLT approach?

[2017-04-03 08:20] Lujeni commented on #21766
can you show me your command to test with the devel branch ?

`export ANSIBLE_LIBRARY=/path/to/ansible/lib/ansible/modules/` ?

[2017-04-03 08:21] lairdm commented on #23180
Ahh, alright I see now that I'm in the office to give it a test. Thanks for the documentation fix. One little quirk I do still see is you can't then use this modified variable locally, ie.

[code]

Will still give an error like:
[code]

But indeed the PATH is now set on the remote host when executing tasks. Thanks.

[2017-04-03 09:07] dagwieers commented on #22892
@basictheprogram Please open a new ticket for your issue with `state: latest`. However, this is just the same as `state: present` and `upgrade: yes`. So I doubt we introduced a regression there.

[2017-04-03 09:19] dagwieers commented on #15607
@srfraser Correct :-) I looked at the plugin and someone has already fixed the issue. I wasn't even aware there was an issue needed fixing. So I am going to close this. Thanks for reporting and sorry for the messed up workflow, ansibot is getting better all the time.

resolved_by_pr #20610

[2017-04-03 09:32] Miyurz commented on #23118
@nitzmahone Thank you for the clarification.

[2017-04-03 09:49] ogenstad commented on #23193
Just started testing Ansible 2.3 and I also ran into this problem.

After following the mentioned troubleshooting steps I found this error in the log:

```VersionConflict: (setuptools 0.9.8 (/home/paog01/.virtualenvs/python27-ansible23/lib/python2.7/site-packages), Requirement.parse('setuptools>=11.3'))```

After upgrading setuptools it worked. So it should be an easy fix in https://github.com/ans

[2017-04-03 09:49] flix444 opened #23211 "nxos_config - Manage Cisco NXOS should configure different VDC's"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

nxos_config

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

##### SUMMARY

We have an N7K Cisco Switch with 4 different VDC's (Virtual Device Context). We could only connect to our default management VDC with Ansible. Is it possible to add the feature in this module, to tell Ansible what VDC to configure.

[2017-04-03 09:53] GowthamShanmugam opened #23212 "Authorize_key module for copy key is not working fine when selinux is enabled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Redhat

##### ANSIBLE VERSION
2.2.1.0

##### OS / ENVIRONMENT
centos 7.3

##### SUMMARY
Ansible gives AttributeError: 'AnsibleModule' object has no attribute '_selinux_special_fs',
I am using authorize_key module to copy the ssh-key, My selinux mode is permissive,  i am using attributes like
        self.attributes["user"] = "root"
        self.

[2017-04-03 09:58] dagwieers commented on #16186
I will take this up and propose a module with a generic structure. We can then discuss functionality, implementation and exceptions.

[2017-04-03 09:58] GowthamShanmugam commented on #23212
error is come from https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L1422

[2017-04-03 09:58] rishibamba commented on #16391
Same issue on Ansible 2.2.0.0. Directory size around 3.2GB

[2017-04-03 09:58] GowthamShanmugam commented on #23212
my python version is 2.7

[2017-04-03 10:17] lairdm commented on #23180
Sorry, I spoke too soon. It no longer errors during the Setup step with the documented change, but it doesn't appear to actually work as advertised.

[code]

The file created on the remote host contains

[code]

And not the new path fragment appended to the existing PATH on the remote host. This is using version 2.2.0.0.

Thanks.

[2017-04-03 10:48] #23212 closed, assigned to nobody

[2017-04-03 10:49] gundalow commented on #23193
@ogenstad That's interesting. Do you still have the full log file, if so could you please add the few lines before and after `VersionConflict`? Trying to work out the underlying cause/fix

[2017-04-03 11:08] gundalow opened #23213 "pip install v2.3.0.0-0.3.rc3.zip -> broken bin/ansible-* files (tar.gz works correctly)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-doc

##### ANSIBLE VERSION
[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

If you repeat though install from https://github.com/ansible/ansible/archive/v2.3.0.0-0.3.rc3.**tar.gz** the files are created correctly

Thanks to @bobthebutcher for the initial investigation
##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-04-03 11:23] ogenstad commented on #23193
[code]

From a fresh virtualenv in CentOS release 6.7 after installing pip 9.0.1. I tried with Python 2.6 first and it gave me the same error.

[2017-04-03 11:36] julenpardo commented on #21766
Hello @Lujeni,

Was my fault, I was setting up the environment manually instead of using `/hacking/env-setup`.

Executing the environment setup and exporting the `ANSIBLE_LIBRARY` to the cloned repository, results in success for the playbook in the OP.

But the repository is not being added properly.

If I add the following task, for making the installation:

[code]

I get an error:

[code]

The `

[2017-04-03 12:15] bearrito commented on #22197
[code]

[2017-04-03 12:16] #20120 closed, assigned to nobody

[2017-04-03 12:21] hyperized opened #23214 "Unarchive in 2.4 yields unexpected result"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
When using `unarchive` in ansible 2.4, the following no longer works:

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Result in 2.2:
[code]

##### ACTUAL RESULTS
Result in 2.4:
[code]

[2017-04-03 12:49] mikeeaton83 opened #23215 "win_acl - Bug?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_acl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running from CentOS 7 and targeting Windows Server 2016. Using kerberos auth, but same issue using local account.

##### SUMMARY
Settings FullControl permissions on a folder to a domain user causes an exception

##### STEPS TO REPRODUCE

task:
[code]
inventory

[2017-04-03 12:51] gundalow commented on #23213
@bobthebutcher so apparently the zip is auto created by GitHub, and there isn't anyway of disabling it.

The zipfiles doesn't correctly support symlinks, which is the issue we are seeing above.

Where did you see a link/reference to the zipfile?

The release release message[1] point you to http://releases.ansible.com/ansible/ansible-2.3.0.0-0.3.rc3.tar.gz

[1] https://groups.google.com/forum/#!top

[2017-04-03 12:54] bobthebutcher commented on #23213
I found it here: https://github.com/ansible/ansible/releases

[2017-04-03 12:56] k0ste opened #23216 "loop_control not work when stategy is free and role have any tasks."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

stategy?
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

GNU/Linux
##### SUMMARY

Oh my. When strategy is free and role have ANY tasks BEFORE "include inner for loop_control" - include with loop_control do nothing. If the role does not have any tasks, only the include with loop_control - all works as expected.

With

[2017-04-03 12:56] bobthebutcher commented on #23213
I originally found this link via ye old faithful: google

[2017-04-03 13:05] halberom opened #23217 "eos_facts: TypeError: expected string or buffer in populate_filesystems"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Mac OS Yosemite
pip virtualenv
Python 2.7.13
Virtualbox
Vagrant
vEOS-lab-4.17.5M / 4.18.0F

##### SUMMARY
Using eos_facts against an Arista vEOS switch gives a TypeError

##### STEPS TO REPRODUCE
- Download and add an arista vEOS-lab box to vagrant
- Create the

[2017-04-03 13:06] gundalow commented on #23213
https://github.com/ansible/ansible/issues/19482

[2017-04-03 13:17] grandchild opened #23219 "Crash on 2.2.2 when inventory has host inside and outside group"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible / inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None.

##### OS / ENVIRONMENT

ArchLinux 64

##### SUMMARY
In an inventory file, when mentioning a host twice, once outside and once inside a group, ansible crashes.

##### STEPS TO REPRODUCE
Create an inventory like this:

[code]
And an empty playbook (just so there is one

[2017-04-03 13:29] tstringer commented on #22197
@bearrito do you get an error when you run your original playbook (if yes, then please copy/paste that error here)? Or does it succeed execution, but the rule doesn't purge when you check the portal?

[2017-04-03 13:33] e-alfred commented on #23016
@ppar You still have to put the package on hold, otherwise it will be updated as soon as you install updates again.

[2017-04-03 13:48] dagwieers commented on #23214
So you mean it works in v2.3, but fails in v2.4 ?

needs_info

[2017-04-03 13:58] hyperized commented on #23214
@dagwieers no I mean it works in `ansible 2.2.1.0` (current) but it fails in devel, which seems to identify itself as `2.4.0`.

[2017-04-03 14:02] bcoca commented on #23198
@snowsky no, it works with any module that implements it. Template, copy, user, etc, many do.

[2017-04-03 14:12] Jean-Daniel commented on #22690
@fanatid . This is not the same issue. In your case the warning is legit as your when statement did contains a jinja2 templating token.

You should fix it as follow:

`when: runningvms.stdout.find(vm) != -1`

[2017-04-03 14:14] fanatid commented on #22690
@Jean-Daniel did not notice that there only `vm`, funny.
should note that ansible 2.2 did not show warnings

[2017-04-03 14:28] gundalow commented on #22907
* This is a regression from 2.2
* This effects currently supported junos version (3 year support)
* set format is popular

Therefor marking as milestone 2.3 blocker

[2017-04-03 14:29] gundalow commented on #23213
https://github.com/ansible/ansible/pull/23102

[2017-04-03 14:29] MarkusTeufelberger opened #23220 "[Feature Request] apt module: add state "downloaded""
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
apt module, potentially other package managing modules

##### ANSIBLE VERSION
n/a

##### OS / ENVIRONMENT
Debian and derivatives

##### SUMMARY
Add option to download packages locally without installing them.

##### STEPS TO REPRODUCE
Emulating the user experience of:

    apt-get -d / apt-get download / apt-get --download-only [package1 packa

[2017-04-03 14:29] tharun-allu opened #23221 "support cross region copy in ec2_snapshot module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ec2_snapshot module currently does not support cross region snapshot copy.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

ec2_snapshot module currently does not support cross region snapshot copy.
boto seems to support this feature
http://boto.readthedocs.io/en/latest/ref/ec2.html#boto.ec2.con

[2017-04-03 14:59] berlic commented on #22579
@krzysztof-magosa Ansible is smart enough to execute handler task only once, even if it was triggered 100 times during play. Your case (`single notify target and multiple items`) is mentioned in my comment and will work fine after proposed modification (bug fix?).

[2017-04-03 15:23] bearrito commented on #22356
Does the maintainer need any more information from me on this?

[2017-04-03 15:27] bearrito commented on #22197
Here is a more thorough explanation.

I went to the portal and altered one of our rules by hand. I change a subnet from 10.3.5.x to 10.3.6.x.

10.3.6.x does not exist in this vnet.

When I run the play I get

[code]

[code]

Again 10.3.6.x or 10.3.6.0/24 doesn't exist anywhere in a our playbook. Either a var or fact or anything. It is only coming from the port.

[2017-04-03 15:31] alikins commented on #15321
@JREAM @PGUTH @roolo @ohallors @ringe @mhfowler @midolo @upbeta01 (and other folks who can reproduce this).

Could you test with with the 2.3 release candidate build (http://releases.ansible.com/ansible/ansible-2.3.0.0-0.3.rc3.tar.gz ) ?

[2017-04-03 15:48] bcoca commented on #23219
dupe of #23016

[2017-04-03 15:48] #23219 closed, assigned to nobody

[2017-04-03 16:08] bcoca commented on #23197
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-04-03 16:08] #23197 closed, assigned to nobody

[2017-04-03 16:28] it-svit commented on #17969
+1
Also if I execute
[code]
and `/path/to/inventory ` doesn't exist, group_vars are ignored too.

[2017-04-03 16:57] Guitaraholic opened #23226 "Ansible fails on validation of visudo OR running visudo command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

If you attempt to validate changes to a /etc/sudoers file - even if it is a sudoers.ansible, etc it will fail if you attempt to validate or run via command visudo -q -c -f /etc/sudoers.ansible with no stdout

##### STEPS TO REPRODUCE

[code]

##### EXPEC

[2017-04-03 17:09] jctanner commented on #16130
@smoyer64 yes, I accidentally let the bot put the message on all issues instead of just new ones. I'm going back through old issues though and fixing the templates, so that submitters won't have to.

[2017-04-03 17:21] ssbarnea commented on #9011
To save others search time this is tracked at https://github.com/ansible/ansible/issues/19321

[2017-04-03 17:22] ssbarnea commented on #19321
Module fails to work even if you try to specify the ranges as part of the `version=` parameter, forcing us to prefer the shell instead of the module.

[2017-04-03 17:43] nitzmahone commented on #23165
Sounds like this is a common problem (WinRb suffers the same way)- I also forgot that I opened a [uservoice entry](https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/15669870-winrm-concurrent-operations-increase-to-eventual) on this last summer. I did some manual hackery with WinRM messages to see if I could get it to behave (pywinrm's terminate signal message isn't 100% comp

[2017-04-03 17:59] SimplySeth opened #23229 "ansible 2.3.0.0 'NoneType' object is not iterable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
```Description:	Ubuntu 16.04.2 LTS```

##### SUMMARY

Strange error when I add `hd['status_name'] = d['status_name'] or 'NA'` to dynamic inventory.

It works find if I remove that line, which makes no sense.

It doesn't work if the only thing I h

[2017-04-03 18:11] jctanner commented on #15765
closing due to submitter timeout.

[2017-04-03 18:11] #15765 closed, assigned to nobody

[2017-04-03 18:17] Akasurde commented on #23220
Hi Team, I would like to work on this issue. Can anyone help me in getting started ?

[2017-04-03 18:35] ryanwalls opened #23234 "ec2_asg fails when using tags field"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
mac OS

##### SUMMARY
When using `tags` field in `ec2_asg`, the play fails every time with this error:

[code]

##### STEPS TO REPRODUCE
Setup an ASG in AWS and associate it with an ALB target group.

Use `ec2_asg` to update tags for the ASG.

e.g.

[code]

[2017-04-03 18:39] jctanner commented on #15565
@aurelien-git these seems more like a complication with the site-packages for your default python interpreter versus whatever "python2" is pointing at.

Can you show us where ansible was installed?

This script might also help us understand what is going on here: https://github.com/ansible/ansible-doctor/blob/master/list-installs.py

needs_info

[2017-04-03 19:11] bcoca commented on #23226
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-04-03 19:11] #23226 closed, assigned to nobody

[2017-04-03 19:13] bcoca commented on #23220
I would actually recommend a `download_only=no|yes` parameter instead

[2017-04-03 19:20] jctanner commented on #15478
http://docs.ansible.com/ansible/dev_guide/developing_modules_best_practices.html

[2017-04-03 19:20] #15478 closed, assigned to nobody

[2017-04-03 19:59] abadger commented on #23193
We don't require a specific version of setuptools so this is a problem elsewhere in the install.

[2017-04-03 20:00] abadger commented on #23193
It could even be a problem with pip.  Last I checked, pip can't handle versions inside of dependencies properly so it could end up not upgrading setuptools even though that is all it would need to do to make sure this doesn't happen.

[2017-04-03 20:09] jhawkesworth commented on #23165
I think I have only hit this while running a monster backlog-processing playbook, where we worked around by reducing the batch size so it hasn't been a big issue for us in production.  However it would be better if it behaved itself, so I've voted up.

[2017-04-03 20:10] nitzmahone commented on #22218
Consensus discussion at Windows Working Group meeting was that we'd mark `become_method: runas` as experimental for 2.3.0, and will warn on use that it may change in the future. Between the unanswered issues with the SLS/`CreateProcessWithLogonW()` against NTLM/Kerberos and the potential issues when UAC is enabled, it seems like we might have to go back to the drawing board on this one and try wit

[2017-04-03 20:13] tstringer commented on #22197
Can you provide the playbook? I can try to repro this behavior.

[2017-04-03 20:25] gundalow opened #23237 "module_utils/eos.py: supports_sessions defined twice"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils/eos.py

##### ANSIBLE VERSION
[code]

##### SUMMARY
Two functions, different cde

[2017-04-03 20:41] gundalow commented on #23217
@halberom Thanks for the bug report and analysis.

Marking as Milestone 2.3

[2017-04-03 20:44] jmcgill298 opened #23239 "fortios_ipv4_policy.py state=absent"
##### General Notes
Issue 1: Clarity
ID is not clear. ID refers to the "edit #" in the config, but not the seq.# that is used in GUI (also the sequence in which they appear in the config).
  EX:
[code]

Issue 2 (main issue): Module Error
When setting the "state" to "absent", the module errors because the fortios_ipv4_policy.py file has a line that is trying to pass a "path" variable, which does no

[2017-04-03 20:57] gundalow commented on #23142
@bacastelli If that's a separate issue could you please raise a  for policy-options

[2017-04-03 20:57] gundalow commented on #23211
Feature request so marking as 2.4

[2017-04-03 21:03] gundalow commented on #23239
@bjolivot Could you please take a look

It would be good to get this fixed for 2.3 final (Wednesday 12th April) Thanks

[2017-04-03 21:06] gundalow commented on #22901
@changzhi1990 Does the above suggestion resolve this?
needs_info

[2017-04-03 21:07] gundalow commented on #22880
@Qalthos @ganeshrn is this a 2.3 blocker?

[2017-04-03 21:07] gundalow commented on #23082
Backtrace so needs fixing for 2.3

[2017-04-03 21:15] jctanner commented on #16010
The default role install path has recently been changed by https://github.com/ansible/ansible/commit/37cef2a9eb554d604b2ab05d4c73b7d62607e538

End result ...

[code]

[2017-04-03 21:15] #16010 closed, assigned to nobody

[2017-04-03 21:19] snowsky commented on #23198
@bcoca oops, I missed the codes for diff with blockinfile, then that is a bug. ;)

[2017-04-03 21:31] jctanner commented on #15951
@lystor this is a misunderstanding about variable templating. If you need to template any keyword or value in the play, you'll need to pass it as an extra variable.

Example:
[code]

[2017-04-03 21:31] #15951 closed, assigned to nobody

[2017-04-03 22:38] bjolivot commented on #23239
Thank you @jmcgill298 for this detailed bug report.
I've a pull request comming.

As I dont use GUI, I'm not very sure if following doc updates are more understandable:

For 'id' param description:
       Policy ID
        /!\ Warning: policy I(id)# is different than Policy sequence# /!\
        Default web display show only policies sequence numbers,
        you need to add policy id column in di

[2017-04-03 22:46] #23237 closed, assigned to rcarrillocruz

[2017-04-03 22:47] callipeo commented on #21279
Could this be a duplicate of #18748?

[2017-04-03 23:24] ghost opened #23243 "sros_config src option is stripping regex curly braces from commands"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
sros_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
N/A, though I'm doing my testing on CentOS 7

##### SUMMARY
When we use the sros_config module's `src` option, curly braces, e.g. `{` and `}`, embedded in as-path regex are stripped from the commands that get executed on the router.

##### STEPS TO REP

[2017-04-03 23:26] willthames commented on #23221
needs_contributor

I'd think this would be a separate module `ec2_snapshot_copy` analogous with `ec2_ami_copy`.

[2017-04-03 23:27] jamiejamison commented on #14641
I'm having the same problem in ansible version 2.2.2.0-1 on Ubuntu Trusty.

[2017-04-04 00:03] bearrito commented on #22197
I'm not sure I can provide the whole playbook. This is obviously related to our NSG and the infosec team wouldn't be thrilled if I handed out reams of security config.

What is the minimal amount you need?

Here is the slightly scrubbed version

[code]

[2017-04-04 00:10] bearrito commented on #22197
My guess is there is  ordering issue between the updated vs purged?

https://github.com/lmazuel/azurerm/blob/master/azure_rm_securitygroup.py#L630

e.g If my rule is changed it is added to the change set, but it is also picked by the purged loop.

[2017-04-04 00:42] abenokraitis opened #23247 "Include additional Fortinet (fortios_*) networking modules"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
fortios_*

##### SUMMARY
This tracker issue is to track the requests for the need for Fortinet Ansible modules.

If you have any requirements for extra modules please feel free to add them to this list.

We are looking to the community to assist with building these modules.

[2017-04-04 00:45] abenokraitis opened #23248 "Include Check Point networking modules"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
networking

##### SUMMARY
This tracker issue is to track the requests for the need for Check Point Ansible modules.

If you have any requirements for extra modules please feel free to add them to this list.

We are looking to the community to assist with building these modules.

[2017-04-04 01:23] snowsky commented on #23198
Didn't see blockinfile implemented diff though

[2017-04-04 01:33] jamesla commented on #13559
+1

[2017-04-04 02:10] jmcgill298 commented on #23239
Hey @bjolivot, I was thinking of more of a general warning and explanation, but the tip about the GUI is good too. Anyway, here is my stab at it:

For 'id' param description:
Policy ID
/!\ Warning: policy ID # is different than Policy sequence# /!\
The policy ID is the number assigned at policy creation.
The sequence # represents the order in which the Fortigate will evaluate the rule for policy e

[2017-04-04 02:23] basictheprogram opened #23249 "win_chocolatey installing powershell when powershell4 is installed and state: latest"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Ansible configuration from git clone

##### OS / ENVIRONMENT
Control host macOS 10.12.3
Managed host Windows 7

##### SUMMARY
Attempting to upgrade powershell4 to powershell5 using the win_chocolatey module with state: latest

Might be related to #21873
Related to #22892

#####