[2019-05-27 19:27] jpmens commented on #56688
We cannot show that the answer is non-authoritative and that would make no sense, because `dig` is talking to your recursive server and it returns what the server responds.

Please look at the flags and the response I showed above:

1. we got a status of NOERROR
2. we sent a recursion desired `rd` query
3. the server says recursion available `ra`
4. we get 1 ANSWER

and the answer contains the req

[2019-05-27 19:30] jpmens commented on #56688
If I query for the NS RRset for lab.nl:

[code]

If I then directly query one of these servers:

[code]

That is an **authoritative** response (`aa` flag) from that server. That is why my recursive server responds that way.

You have a wildcard somewhere there:

[code]

[2019-05-27 19:31] jpmens commented on #56688
notabug

[2019-05-27 19:32] #56688 closed, assigned to nobody

[2019-05-27 20:40] rastagraffix opened #57023 "openbsd_pkg: missing support for PKG_PATH and TRUSTED_PKG_PATH"

[2019-05-27 20:43] rastagraffix commented on #57023
We keep locally-built packages in a separate directory.  Accessing those requires setting $TRUSTED_PKG_PATH when invoking pkg_add(1).  I'm not sure the best way to do this.  Maybe adding pkg_path and trusted_pkg_path parameters to openbsd_pkg?

[2019-05-27 20:45] darkn3rd commented on #56963
The current change in Ansible 2.8, with the addition of the key `networks_cli_compatible` already breaks backwards compatibility, as prior versions will traceback if a key exists that it does not understand.

Note that using the Docker CLI with `--network` does actually change the `NetworkMode`, which makes sense, why would you add a network if you were not going to use it.  I would have entered a

[2019-05-27 22:17] webknjaz commented on #12608
So at this point, my understanding is the following: the connection plugin runs the command with the privilege elevation (sudo), feeds the password there and then tries to read stdout and stderr it produces.
That makefile interface tries to read the amount of data specified in `bufsize` and if the actual amount of bytes output by `sudo` is smaller than the buffer (~100 < 4096) it gets stuck waitin

[2019-05-27 22:26] simon-tma commented on #56430
It's the same reason, and at a quick glance the file looks the same as the one you posted. There's ::1/128 and 127.0.0.1/32 in it.

[2019-05-28 02:35] arunv91 opened #57026 "ansible ec2_snapshot ValueError: time data '2019-05-27T12:08:49.929Z' does not match format '%Y-%m-%dT%H:%M:%S.000Z'"
##### SUMMARY

I am getting this error while trying to create snapshot from a volume. There seems to be a mismatch between volume start time and ansible time format as it is considering the microseconds part as well which is not really required.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterpri

[2019-05-28 03:23] feisa commented on #56845
please let me know what you found

[2019-05-28 04:31] felixfontein commented on #56963
Backwards compatibility means that if you run a playbook created with an older version of Ansible which worked, it will still work and produce the same result. Adding new module options therefore does not break backwars compatibility. Changing the behavior of an existing option (like in this case, `networks_cli_compatible`) **does** change backwards compatibility. If someone would have mentioned t

[2019-05-28 04:31] NilashishC commented on #56983
@maclarensg Based on the failure message, looks like you may need to increase `connect_timeout` value. Have a look at [this](https://docs.ansible.com/ansible/2.7/network/user_guide/network_debug_troubleshooting.html#timeout-issues).

If the issue still persists please share your `group_vars` and contents of `ansible.cfg`.

[2019-05-28 05:38] Fred-sun commented on #56356
@zikalino Please take a look this issue when you are free! Thank you very much!

[2019-05-28 05:42] zikalino commented on #56356
I am looking into that issue. actually I am planning to replace idempotency check with a new better implementation and it should handle such cases as well.

[2019-05-28 06:05] Testicule commented on #57017
I thought the purpose of roles was to reduce code duplication and increase re-use, but how is anyone supposed to accomplish this, when you hit bugs like this as soon as you have one role trying to all another?

[2019-05-28 06:30] nomadcz opened #57034 "Please add failback feature for delegate_to"
##### SUMMARY

Please add failback feature for delegate_to so when host is not available or timeouts another one is tried.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

We occasionally have some not clustered setup when multiple servers provide same service.
We have to do some setup via delegate_to and it would be helpful to switch to another host when there

[2019-05-28 07:19] #56620 closed, assigned to nobody

[2019-05-28 07:30] DevakrishnanNampoothiri commented on #54561
Hi @meyerf99 and @sivel

I'am facing the issue @meyerf99  mentioned below. it's verify helpful for me if you can able to help in this case.

**_Error -:_**

 2019-05-27 20:45:16,635 INFO: TASK [include_tasks] ***********************************************************
task path: /usr/share/opnfv-apex/ansible/playbooks/prepare_overcloud_containers.yml:31
fatal: [192.168.122.244]: FAILED! => {"msg":

[2019-05-28 07:38] renni opened #57040 "[rabbitmq_user] Removing user fails if user does not exist"
##### SUMMARY
When user does not exist, the rabbitmq_user module fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rabbitmq_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora Remix for WSL

##### STEPS TO REPRODUCE

Running playbook once removes user as expected. Running same playbooks again fails since user is already removed.

[code]

#####

[2019-05-28 07:46] DevakrishnanNampoothiri opened #57041 "dict object' has no attribute 'json'"} Ansible Error"
##### SUMMARY
Ansible playbook error. Getting error message as : ` offending line appears to be` :
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Opnfv Apex installation. Using Triple-O method.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]
[code]

##### OS / ENVIRONMENT
`# cat /etc/redhat-release
CentOS Linux release 7.6.1810 (Core) `

##### ACTUAL RESULTS

[code]

[2019-05-28 08:35] dagwieers commented on #40424
If there's no easy way to find if an error occurred and the tool clearly behaves incorrectly wrt. return code (and it is fixed in a newer version), it is acceptable to add a note to the documentation explaining the issue. If you can efficiently detect that the tool may not be trustworthy in its output (i.e. we know this specific version is vulnerable), you could provide a warning to the user that

[2019-05-28 08:39] DevakrishnanNampoothiri commented on #57041
@ansibot  Added Component Name also. If anyone faced this issue previously kindly help me.

 @sivel  @meyerf99

[2019-05-28 08:54] Andersson007 commented on #40424
@dagwieers , thank you for advising, I'll add warning to the module documentation ASAP.

[2019-05-28 09:09] david-freistrom opened #57046 "kubectl community plugin not found but known"
##### SUMMARY
When I try to use kubectl plugin I get the follwing error:

But If I try to verify it it works as expected:

##### ISSUE TYPE
Plugin issue

##### COMPONENT NAME
kubectl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux doha 5.0.11-200.fc29.x86_64 #1 SMP Thu May 2 14:25:14 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

##### STEPS TO REPRODUCE

[code]

[2019-05-28 09:21] Poil opened #57047 "consul does not update service_address"
Hi,

##### SUMMARY
When updating consul "service_address" in ansible playbook, the service_address is not updated in consul.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
consul

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
EL7

[2019-05-28 09:27] Akasurde commented on #56934
@bkmeneguello Could you please check if PR #57044 works for you and let me know ? Thanks

needs_info

[2019-05-28 09:30] dew-hattens opened #57048 "aci_tenant module fails"
Specifying

- name: Gather  devops tenant
  aci_tenant:
    output_level: debug
    use_proxy: no
    host: "{{ inventory_hostname }}"
    username: "{{ username }}"
    password: "{{ password }}"
    tenant: devops
    validate_certs: no
    state: query
  register: my_tenant

getting back

  File "/root/.ansible/tmp/ansible-tmp-1559034880.69-208370499781931/AnsiballZ_aci_tenant.py", line 49, in

[2019-05-28 09:47] itverdokhlib5 commented on #55554
We have similar (the same?) problem while running some k8s tasks from docker container (on Jenkins). Ansible is 2.8.0, openshift is 0.8.8, kubernetes is 8.0.1 (kubernetes server is 1.11, not the newest one):

- when we run a few dozen k8s tasks, some of them can get stuck. The task itself doesn't matter - it can happen on task #5 or #20 or #50. However, the task always involves some requests to k8

[2019-05-28 10:00] willthames commented on #55554
Most likely `get_api_client` and `find_resource` in lib/ansible/module_utils/k8s/common.py as those are the main interfaces to the kubernetes and openshift libraries.

[2019-05-28 10:03] itverdokhlib5 commented on #55554
Ok, thanks, I will try to patch timeout parameter there and check how it goes.

[2019-05-28 10:40] imjoseangel commented on #44272
This is fixed in 2.8. Closing

[code]

[2019-05-28 10:40] #44272 closed, assigned to nobody

[2019-05-28 11:13] hyperized commented on #57040
Can confirm that indeed there is no existance check before deleting a user: https://github.com/ansible/ansible/blob/d8dcd202940985bae19f6d8dd7323a767720144d/lib/ansible/modules/messaging/rabbitmq/rabbitmq_user.py#L202

[2019-05-28 11:27] mkrizek commented on #57041
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-05-28 11:27] #57041 closed, assigned to nobody

[2019-05-28 11:37] Yajo commented on #53751
You nailed it! Thank you very much.

Initially your workaround didn't work because there were several rules. I had to delete all of them and then add the new ones again.

[2019-05-28 11:37] #53751 closed, assigned to nobody

[2019-05-28 11:38] trulex opened #57051 "async attribute no longer works for include_task"
##### SUMMARY

Setting `async` attribute no longer works on `include_tasks`. Replacing `include_tasks` with `include` will fix the issues.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_tasks
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux

##### STEPS TO REPRODUCE

`ansible-playbook async.yml`

async.yml
[code]

included.yml
[code]

###

[2019-05-28 11:43] Akasurde commented on #57026
!component =lib/ansible/modules/cloud/amazon/ec2_snapshot.py

[2019-05-28 12:11] hyperized commented on #57040
@renni I can't replicate this bug in the way you reported it. Can you tell me which version of RabbitMQ you are using?

[2019-05-28 12:15] Tomorrow9 opened #57055 "VMware: new module for capturing screenshots of virtual machine console"
##### SUMMARY

We want to capture the virtual machine's console to get the status of the virtual machine after some specific operations, to see if these operations cause guest OS crashing, etc.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest_screenshot
##### ADDITIONAL INFORMATION

This module can be used to capture the screenshot of the virtual machine whenever there is an iss

[2019-05-28 12:47] aurelienmary opened #57056 "Ansible-pull : Failed to download remote objects and refs"
##### SUMMARY
Hi,

I try to use ansible-pull to get a playbook but since today i can't connect anymore to the repository. I've tried with different repesetory but there is always this error " Failed to download remote objects and refs".
I tried "ssh -vT git@github.com" and it's works.
I don't know why i have this error message when i use ansible-pull .

I thank you in advance for your help.
#####

[2019-05-28 13:19] renni commented on #57040
Version     : 3.7.15
From repo   : bintray-rabbitmq-server

[2019-05-28 13:38] gilcot commented on #57008
Thanks @cyberox ; that works for me too.
If it's by design, docs (release note, manual on dynamic inventories for that version, porting guide) should be updated.
Otherwise it's still a bug to address, but a minor now as we know how to live with it...

[2019-05-28 13:39] gilcot commented on #57008
+label affects_2.8
-label affects_2.9
-label deprecated

[2019-05-28 13:42] danielmotaleite commented on #56930
i started to get this warning but found no references in the porting guide and no references how or what to fix.

most of my warnings are from the ec2.py, where the instance_id used the `-` (eg: `i-033f62b586143dff7`) and the regions (eg: `eu-central-1c`) , so we have no real fix for this ones

Finally, this broke some of my playbooks, where i used ` when: ansible_hostname in groups['varnish']` an

[2019-05-28 13:54] TomasTomecek commented on #56640
I fixed this by editing `/usr/lib/python3.7/site-packages/ansible/module_utils/k8s/common.py`:
[code]

[2019-05-28 14:01] #56056 closed, assigned to bcoca

[2019-05-28 14:08] SadFaceSmith opened #57061 "gather_facts/setup fails with encrypted sudo password"
##### SUMMARY
When `gather_facts` is enabled in a playbook that has a vaulted sudo password, the gather_facts tasks fails. Ad hoc setup module commands with `-K b -k` work ( but not with the below playbook, even when all vault/become sections are commented out)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gather_facts
setup
ansible vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2019-05-28 14:11] Qalthos commented on #56737
resolved_by_pr 56959

[2019-05-28 14:12] vbotka commented on #29711
+1
https://serverfault.com/questions/969137/ansible-ini-file-module-replace-whole-section

[2019-05-28 14:23] jalbstmeijer opened #57062 "Ansible 2.8.0: Centos6 ansible_distribution_major_version gets wrongly populated in playbook"
##### SUMMARY

On Centos6 the ansible_distribution_major_version fact should be populated with "6" when used in a playbook.
But it is populated with "0171022-updated" instead

when running;

ansible -m setup xxx |grep distribution

it is populated correctly with "6"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Gathering Facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

####

[2019-05-28 14:25] flowerysong commented on #57017
[code]

This condition can *never* be true, because `jobs` is explicitly set to 'meh' for this task. You should avoid generic variable names, or at least not reuse them for different purposes in interrelated roles.

[2019-05-28 14:29] astorath commented on #51218
@bcoca Is here any update on this?

[2019-05-28 14:32] bcoca commented on #49913
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-05-28 14:32] #49913 closed, assigned to nobody

[2019-05-28 14:38] matanbaru commented on #46203
I have been searching a way to do until (infinitely) for a success on all modules on the block and I managed to do this with include_tasks with rescue

Filename: wait_until_success.yml

- name: 'Wait until success'
  block:
    - name: Get json from API
      uri:
        url: https://localhost/ip
        return_content: yes
        status_code: 200
      register: ip

    - name: ssh to the serve

[2019-05-28 14:42] bcoca commented on #57034
i would read that as 'delegate the task to both hosts' not fallback to x host

[2019-05-28 14:54] Akasurde commented on #56558
resolved_by_pr #56697

[2019-05-28 15:03] samdoran commented on #42726
@MarkusTeufelberger I agree that adding a class for each distribution is tedious. The problem with that block of code is that `self.platform` is `Generic` unless there is a subclass that at least sets the platform.

Changing this conditional would alleviate a good bit of the issues we've been having and make this module less tedious to maintain. What I'm wondering is if there are any cases where `

[2019-05-28 15:08] saravananoff commented on #56942
Hey Guys - Latest code commit on development branch fixed above issue. But started getting below error failure message with latest code.

I am 100% sure folder/ vmdk file was not there earlier. I again moved back to code of 2.7 working well.

Same anisble version as mentioned above.

MSG:

Failed to create a virtual machine : Cannot complete the operation because the file or folder [datastorename*

[2019-05-28 15:08] saravananoff commented on #56942
Let me know is need to open a new issue

[2019-05-28 15:13] jctanner commented on #56873
bot_status

[2019-05-28 15:18] goneri commented on #56873
Hi @deepakas,

In your CLI example, you don't set a floating IP. `os_server` has a different behaviour, by default it will attach one (`auto_ip=Yes`). Could you retry with `auto_ip=False`.

[2019-05-28 15:29] c35sys opened #57068 "consul: state=absent is not working"
##### SUMMARY
In the playbook, the `state: absent` in consul module is not working.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

consul

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
- Ubuntu 18.04
- Consul 1.5.1 with the following ACL
[code]

##### STEPS TO REPRODUCE

Create the service `MyService` in consul.

[code]

##### EXPECTED RESULTS

The servi

[2019-05-28 15:33] samdoran commented on #57023
This is best addressed on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-28 15:33] #57023 closed, assigned to nobody

[2019-05-28 15:34] c35sys commented on #57068
Another **important** note: without ACL I'm able to remove the service but then I'm facing the #57047 issue

[2019-05-28 15:40] nitzmahone commented on #57034
Thanks for the idea, but this is probably not something widely enough needed that we'd consider implementing it... You might want to try using block/rescue to implement similar behavior if you have a critical point where delegating to a fallback host might be needed.

[2019-05-28 15:40] #57034 closed, assigned to nobody

[2019-05-28 15:40] bcoca commented on #57046
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-05-28 15:40] #57046 closed, assigned to nobody

[2019-05-28 15:41] bcoca commented on #57056
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-05-28 15:41] #57056 closed, assigned to nobody

[2019-05-28 15:43] clammers opened #57069 "nxos_vpc breaks using default vrf"
##### SUMMARY
When using pkl_vrf": "default" command is missing vrf value

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module: nxos_vpc

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
asterisk due privacy
[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[2019-05-28 15:45] clammers commented on #57069
BUG in
https://github.com/ansible/ansible/blob/e17434c19fee1f6673b84d5571c884121d94f348/lib/ansible/modules/network/nxos/nxos_vpc.py#L392

[2019-05-28 15:52] bcoca commented on #57051
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `async` keyword never worked with `include_tasks` and was silently ignored, in 2.8 we added an explicit error to warn the playbook

[2019-05-28 15:52] #57051 closed, assigned to nobody

[2019-05-28 15:54] bcoca commented on #57022
The debug module is not a good way to check the value of connection variables since it does not use them.
Can you show an issue in which the actual connections are misconfigured?

needs_info

[2019-05-28 15:56] rifty commented on #56057
I've hit this bug as well and I've found the issue in the nxos_facts function - `parse_module` line 874
[code]
The regex matched output from show module is parsed and fails due to the length of the description of the module being too long.  The parser expects at least two spaces between the end of the module's description (Module-Type column) and the Model column to the right of it.

Example:
Matc

[2019-05-28 15:57] #16903 closed, assigned to bcoca

[2019-05-28 16:03] zarbafian opened #57070 "Issue with nested groups in YAML"
##### SUMMARY

Hosts of a specific group are also present in other groups.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Groups in YAML inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 28

##### STEPS TO REPRODUCE

ansible -i debug.yml -m debug -a 'var=groups' localhost
(content of debug.yml below)

[code]

##### EXPECTED RESULTS

The gro

[2019-05-28 16:14] s-hertel commented on #57008
!component =lib/ansible/plugins/inventory/foreman.py

[2019-05-28 16:17] wtout opened #57072 "VMware: SSLContext Error when using vmware modules"
##### SUMMARY

After upgrading Ansible from 2.7.10 to 2.8.0, vmware modules start failing with SSLContext errors

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_about_facts
vmware_datastore_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

The module call is the following:

[code]

##### EXPECTED RESULTS

The ex

[2019-05-28 16:20] #56737 closed, assigned to Qalthos

[2019-05-28 16:39] mishas commented on #57022
My problem is not that the connection doesn't work, but that the value is incorrect.
My more specific usecase: I'm trying to use the connection type to decide on how to run specific things.

More concrete example:
[code]

I used debug above to make the simplest possible example.

[2019-05-28 17:03] acozine commented on #41425
@falcon78921 thanks for taking a look at this issue! The CLI documentation is (since 2.6) generated out of the code in the same way as the module documentation. Recreating the .rst files would mean maintaining the documentation in two different places, so we'd rather not do that if we can avoid it. I hope there's a way to configure the file that opens when a user clicks on "Edit on GitHub."

We'd

[2019-05-28 17:14] MisterBlueBear opened #57075 "proxmox_kvm: Clone from Template to Another Host Fails"
##### SUMMARY
Cloning a VM from a template located on shared storage to another host which has access to the same shared storage fails with 500 Internal Server Error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxmox_kvm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.6.1810 (Core)
python modules:
- requests==2.22.0
- proxmoxer=

[2019-05-28 17:14] goneri commented on #57072
hi @wtout,

Thanks for your bug report. Could you run the following commands on your system?

[code]

needs_info

[2019-05-28 17:19] goneri commented on #57072
In addition, you may be interested by https://access.redhat.com/articles/2039753. You need to upgrade your system.

[2019-05-28 17:28] bcoca commented on #57022
that won't work as it is not always updated to reflect the connection used, the connection variables in general are not meant for consumption outside of the connection plugins

[2019-05-28 17:32] bcoca commented on #57070
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Hosts from child groups will appear as part of parent groups and variables on parent groups will be assigned to those hosts.

In the fu

[2019-05-28 17:32] #57070 closed, assigned to nobody

[2019-05-28 17:37] JacobHenner commented on #54162
Reproduced with Ansible 2.5.5

[2019-05-28 17:42] samdoran commented on #42726
I'm going to be conservative and just add additional classes for the time being so as not to potentially introduce more problems.

[2019-05-28 17:44] #57008 closed, assigned to nobody

[2019-05-28 17:55] ShachafGoldstein commented on #54331
Did you run it with `-vvv`?
If not, please do and post the result

[2019-05-28 18:19] lconnell commented on #56732
@askhari I'm seeing this issue now.

`python consul_io.py --list
Traceback (most recent call last):
  File "consul_io.py", line 535, in <module>
    ConsulInventory()
  File "consul_io.py", line 229, in __init__
    self.load_data_for_datacenter(config.datacenter)
  File "consul_io.py", line 296, in load_data_for_datacenter
    self.load_data_for_node(node['Node'], datacenter)
  File "consul_io.py

[2019-05-28 18:28] chrismeyersfsu opened #57081 "ansible-galaxy to support collections"
##### SUMMARY
`ansible-galaxy` should support collections much like it, currently, supports roles.
* version specification
* `requirements.yml`, like roles, can contain multiple collection + version specifications
* ability to specify the destination directory of the downloaded collection
* Will old-style roles be downloaded and laid down in the collection format?

##### ISSUE TYPE
- Feature Idea

[2019-05-28 18:45] samdoran commented on #56788
@niallor @joanbm The warning you are seeing is legitimate and new in 2.8 (#51404). @joanbm has done a great job explaining the fix, which is to quote the value in the upgrade field: `upgrade: 'yes'` to prevent it from being changed to a boolean by the YAML parser.

@joanbm:

The mapping part could be done within the module, but the warning being raised is outside of the module's control. The warni

[2019-05-28 18:47] sfloresk opened #57084 "__state: absent not working with extra attributes besides ID/Key"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nso_config

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
MAC OS

##### STEPS TO REPRODUCE
This works
[code]
This does not work:

[code]

##### EXPECTED RESULTS
Configuration should be removed

##### ACTUAL RESULTS
Configuration is not removed, and it is applied if it doesn't exist.

[2019-05-28 18:47] #56588 closed, assigned to nobody

[2019-05-28 18:51] wtout commented on #57072
hi @goneri,

Here is the information you requested:
[watout@cisco-pae.com@paelnxjmp02 ~]$ cat /etc/centos-release
CentOS Linux release 7.1.1503 (Core)
[watout@cisco-pae.com@paelnxjmp02 ~]$ python -c 'import ssl;print(ssl.SSLContext)'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
AttributeError: 'module' object has no attribute 'SSLContext'

I would certainly like to be

[2019-05-28 18:54] #56674 closed, assigned to nobody

[2019-05-28 19:06] #29264 closed, assigned to nobody

[2019-05-28 19:31] #47057 closed, assigned to nobody

[2019-05-28 19:36] guzzijason commented on #50141
Also, yes... realized this is closed, but the comment above that `CentOS does not support point releases` is patently false. All you need to do is look at their repo mirrors and you can easily see the point release structure. We've relied on this heavily for years.

[2019-05-28 19:46] goneri commented on #57072
I confirm that you need RHEL/CentOS 7.4 or better.

[2019-05-28 19:48] bkmeneguello commented on #56934
@Akasurde yes, it works. Thanks!

[2019-05-28 19:59] #49755 closed, assigned to nobody

[2019-05-28 20:40] felixfontein commented on #54280
FYI: I've started renaming some `_facts` modules to `_info` (#56822, #57020, #57028, #57030, #57035, #57036, #57032). There are more `_facts` modules in cloud/amazon (44), cloud/azure (52), cloud/digital_ocean (12), cloud/google (52) and cloud/vmware (33) which do not return `ansible_facts`.

@zikalino do you already have plans for renaming the cloud/azure modules?

[2019-05-28 20:40] samdoran commented on #57013
This is due to the same task file name being present at the role root and adjacent to the task file with the `import_tasks` task.

[code]

[code]

[code]

[2019-05-28 21:16] dbilling commented on #53428
Completely agree with @ChristianCiach -- shouldn't this warning be only issued when a bare **string** variable is used in a conditional?  That would be deserving of a warning. However, this deprecation warning also seems to be issued when a bare **boolean** variable is being used in a conditional.

Let's look at an example included in ansible's own documentation:  https://docs.ansible.com/ansible/

[2019-05-28 21:17] samdoran commented on #57017
As @flowerysong pointed out, the problem is the `jobs` variable is being overwritten to `meh` for this task, and the conditional then evaluates to `False`, preventing the role from being included.

The best way to avoid collisions like this is to prefix variables used in roles with the role name, e.g., `testrole2_jobs`.

[code]

[code]

[code]

For further help with this issue, please reach out on

[2019-05-28 21:17] #57017 closed

[2019-05-28 21:19] ShachafGoldstein commented on #56757
https://github.com/ansible/ansible/blob/486370a744f8edad498eea943227365836455bae/lib/ansible/modules/windows/win_acl.ps1#L166
Checks the `USER` part of `DOM\USER` and not the `DOM` so maybe that has to do with it

[2019-05-28 21:29] dkt26111 opened #57099 "os_user_role module fails in multidomain environment when assigning role to group"
##### SUMMARY
In an OpenStack environment with multiple domains and when using keystone (identity) API v3, os_user_role module fails with "Group mygroup is not valid" when trying to assign a role to a group that exists only in a specific domain.

This is similar to #42911.  The main difference is that it also needs to include domain parameter when looking up a group.

##### ISSUE TYPE
- Bug Report

[2019-05-28 21:32] Qalthos commented on #36000
bot_status

[2019-05-29 00:32] Testicule commented on #57017
The "when" clause is supposed to control *WHEN* the task should be executed, ie it *MUST* be evaluated *BEFORE* the task is executed.

The "vars" clause is supposed to set the parameters for the task, ie for the role, *if it is included*. How can it affect the when conditional, when the when should be evaluated first, and the var only set *IF* the when evaluates to true?

What sort of brain-damage

[2019-05-29 00:45] Testicule commented on #57017
Please re-open this bug report.

Something is wrong with the "when" conditional - if it is implemented correctly it *cannot possibly* be affected by details of the task it is being applied to!

[2019-05-29 00:55] Testicule commented on #57017
If this insane behaviour is not a bug, where is it documented and explained?

[2019-05-29 01:36] navisidhu opened #57101 "nxos_vlan: purge param not working as documented"
##### SUMMARY
The `purge: yes` param for `nxos_vlan` module is not working as intended.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`nxos_vlan`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
Original Dataset:
[code]
Role `cisco-nxos-switch`:

[code]

The first run on an unconfigured switch should just create the VLANs.

O

[2019-05-29 01:49] Testicule commented on #57017
The behaviour of when clause, and vars clause in a task itself seems to be barely documented anywhere.
The closest i can find is vague statements like this:
  "Task-level keywords, loops, and conditionals apply only to the include_role statement itself."

But even that suggests that in a task, the "vars" clause, and the "when" clause are applied *to* the include_role statement.

The current ansibl

[2019-05-29 01:52] Testicule commented on #57017
The documentation for include_role includes this example:

- name: Pass variables to role
  include_role:
    name: myrole
  vars:
    rolevar1: value from task

Note, it says "Pass variables to role", not "Pass variables to the when clause controlling when this task is executed"...

[2019-05-29 01:59] Testicule commented on #57017
There is documentation on variable precedence here:
https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

It lists 22 levels of precedence, with the highest 3 levels being:
20. role (and include_role) params
21. include params
22. extra vars (always win precedence)

This begs the question, what exactly are "role (and include_

[2019-05-29 02:12] Testicule commented on #57017
"Ansible seamlessly unites workflow orchestration with configuration management, provisioning, and application deployment in one easy-to-use and deploy platform"

Ansible is supposed to be "easy-to-use".

Seamless!!
Easy to use!
When you can't even pass a parameter to a role?
When you can't include a role without suddenly worrying about every variable it might use?

How is it possible that ansible

[2019-05-29 03:03] geoside commented on #56757
The presence of 'DOM' does not matter.
It occurs for both users belonging to the local administrator group and users belonging to the domain administrator group.

https://github.com/ansible/ansible/blob/486370a744f8edad498eea943227365836455bae/lib/ansible/modules/windows/win_acl.ps1#L164-L173
I have not confirmed what happens in other languages ​​because I confirmed only in Japanese, but if 'ALL R

[2019-05-29 03:11] cooperlees commented on #44669
I seem to be having an idempotent issue too with `docker_container` on:
- Ansible Version: 2.8.0
- Python Version: 3.6.8

It seems we are getting the diff of:
[code]
It was running before the ansible run but still gets restarted.

The docker_container looks like this (I even tried comparisons to try and stop to restarting to no avail).
[code]
- I on purpose have nothing pulling the possible update

[2019-05-29 03:21] Testicule commented on #57017
If i go to Ansible Galaxy and look at some roles i very much doubt i will find all the variables they use being prefixed by the role name...

Perhaps, if I assume that ansible's variable precedence rules will generally make things work within a role, then the problem is just at the interface when the role is called.

So how about implementing a proper way to pass parameters to a role, that doesn't

[2019-05-29 04:03] felixfontein commented on #44669
@cooperlees this is not surprising, since you explicitly ask the container to be restarted by specifying `restart: yes`. The documentation for `restart` says: "Use with started state to force a matching container to be stopped and restarted."

If you want to configure how the container restarts in case the program stops, it is enough to supply the `restart_policy` option - which you already specif

[2019-05-29 04:17] Akasurde commented on #56942
@saravananoff Thanks for feedback. There is already an open issue for this error - https://github.com/ansible/ansible/issues/56861

Could you please add detail about reproducing setup and playbook in above mentioned issues, since I am not able to reproduce this in my environment ?
Thanks.

[2019-05-29 05:25] Akasurde commented on #49453
resolved_by_pr #50286

[2019-05-29 06:08] askhari commented on #56732
Hi @lconnell ,

If you are not using a token, you should not see that error. Is it possible that you are setting a token somewhere in your configuration? You may set a token using a file called consul.ini or consul_io.ini, using command line parameters or environment variables.

You may add a print statement in line 529 to of file contrib/inventory/consul_io.py to check if you have a token defined

[2019-05-29 06:59] rohitthakur2590 commented on #56057
@ajtaylor6 can you try with this  patch  :  https://github.com/ansible/ansible/pull/57009

[2019-05-29 07:11] Testicule opened #57107 "include_tasks does not search relative to current file."
##### SUMMARY

I have this:
      - include_tasks: "./by-name/snapshot-info-by-name.yml"
it fails, with this:
  reason: Could not find or access 'longpath_removed/playbooks/by-name/snapshot-info-by-name.yml' on the Ansible Controller.
It's suddenly looking relative to my playbooks directory, and can't even search the current dir?

I just give up.
Trying to develop anything in ansible is futile.

#

[2019-05-29 07:48] Testicule commented on #57107
This is just incredible.

[2019-05-29 08:04] wangfeng7399 opened #57109 "python api 2.8.0bug"
##### SUMMARY

[code]
[code]
ansible version 2.7 is ok
ansible version 2.8 is failed
Traceback:
TypeError: __init__() got an unexpected keyword argument 'options'
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

mac and centos
##### STEPS TO REPRODUCE

[2019-05-29 08:06] Akasurde commented on #57107
@Testicule Could you please provide playbook used with directory structure so that we can help ? Commenting randomly is not going to help.

[2019-05-29 08:08] Testicule commented on #57107
I don't think i can put it any more simply than this:

I have a file"blah.yml".
it's using include_tasks to include another file, bar.yml,
bar.yml is in a subdirectory "fu" of the dir that blah.yml is in.

so i have:
include_tasks: ./fu/bar.yml

Can't find it.
Ansible goes off and looks in my playbooks dir.
Brilliant.

[2019-05-29 08:13] Testicule commented on #57107
I could give you the directory structure which is large with a lot of files, because i am trying to reorganise a whole bunch of things that were working fine as tasks, into a role.

And suddenly the search paths of include_tasks is changing.
Now i have an include_tasks that cannot even search relative to its own file.

[2019-05-29 08:16] mkrizek commented on #57062
[code]

[code]

[code]

I can't reproduce the issue, see above. Anything specific about your environment that you think should trigger the incorrect value?

needs_info

[2019-05-29 08:16] Akasurde commented on #57107
Have you tried -

[code]

[2019-05-29 08:20] Testicule commented on #57107
I can give it a full path relative to the tasks folder under the role, and that works.
But... why is that necessary?
The file i am trying to include is in a subdir relative to the file that is trying to include it.
So why can i not just use that relative path.

Surely include_tasks is supposed to search relative to the current file.

[2019-05-29 08:26] Testicule commented on #57107
to be more specific, i have a role, "vm".
it has the usual "tasks" folder.
"tasks" has a subdir "01-vmware", which has subdir "jobs" which has subdir "by-name".
i have a file "snapshot-info.yml" in "jobs", which is trying to include a file in the subdir "by-name"

But when i do:
   include_tasks: ./by-name/somefile.yml
it fails to find it, and prints error message which makes it look as if the sea

[2019-05-29 08:29] Testicule commented on #57107
BTW, i apologise to anyone who finds my bugreports offensive, but, this is just incredibly frustrating.

[2019-05-29 08:49] DAgostinoLucas commented on #50874
@fabianvf I finally resolved that issue myself with help of some colleagues. According to [k8s documentation](https://docs.ansible.com/ansible/latest/modules/k8s_module.html), it uses by default v1 as api_version.

In recent Openshift releases this is no more the case, it needs to use `apis.openshift.io/v1` as api_version.

I think that [link](https://docs.openshift.com/container-platform/3.11/res

[2019-05-29 08:49] #50874 closed, assigned to nobody

[2019-05-29 08:55] conxuro commented on #57019
!component=lib/ansible/modules/cloud/opennebula/one_image_facts.py

[2019-05-29 08:56] ChristianCiach commented on #53428
It should also be mentioned that ansible-lint rule E602 explicitly encourages the use of bare-variable conditionals that trigger deprecation warnings now.

[2019-05-29 08:58] Testicule commented on #57107
In my playbook, if i use include_tasks to directly load, with the full path to a task file "blah.yml" inside a role, and blah.yml does another include_task to bring in "./by-name/somefile.yml", it works - with the nice, short path (relative to the current file).

If, my playbook, instead of using include_tasks, uses "include_role", with the "tasks_from" clause, to load the blah.yml, then, in blah.

[2019-05-29 08:58] conxuro commented on #57019
!component -lib/ansible/modules/cloud/amazon/cloudtrail.py

[2019-05-29 09:48] Akasurde commented on #55999
any news ?

[2019-05-29 10:04] Abam commented on #42534
Having Same issue on Ubuntu 18.04.2, apt_repository implementation is using apt-key without the proxy env.

[2019-05-29 10:10] Testicule commented on #57107
There should be no need to point out that using the shortest relative path possible is the most robust way to do it.

If i specify the path to file as ./blah/somefile.yml, i can move the parent dirs around, and all these relative paths are still valid.

So, why should i have to specify "01-vmware/jobs/by-name/somefile"? If i decide i want to rename 01-vmwre to just vmware, suddenly i have to fix a

[2019-05-29 10:29] ShachafGoldstein commented on #50566
you're correct that there is no win32_pagefilesetting for automatic pagefile

if the only info you need is the path then you're right about using diffrent wmi classes, but I'm not sure if it is correct to change the module behavior for this specific case of auto managed and path retrieval

[2019-05-29 10:30] ShachafGoldstein commented on #55170
@rakaim what do you say about the above solution?

[2019-05-29 10:36] niallor commented on #56788
@samdoran, thanks in advance for this plan. Mentioning the parameter name will definitely help. It would be even more helpful if the revised message also mentioned that the original __parameter value__ might be any of the YAML 1.1 synonyms of the value shown in the message. Reference to a specific value (here, `True`), which is not present in the playbook except implicitly, is cryptic. Alternative

[2019-05-29 10:40] jamescassell commented on #53428
Nothing is really being deprecated, only a default changed.  I agree that it should not be triggered in this case. You can squash these warnings by opting in to the new behavior, which is what everyone wanted anyway from the start.

[2019-05-29 11:22] #40611 closed, assigned to nobody

[2019-05-29 11:27] Testicule commented on #57107
Here we go:

Playbook:
- hosts: "{{ hostgroups }}"
  tasks:
    - name: "Include_tasks ./roles/vm/tasks/jobs/jobs.yml directly. Great, super, this works."
      include_tasks: ./roles/vm/tasks/jobs/jobs.yml
    - name: "Include vm role, with tasks_from jobs/jobs.yml."
      include_role:
        name: vm
        tasks_from: jobs/jobs.yml

roles/vm/tasks/main.yml:
- name: "main.yml: include_tasks .

[2019-05-29 11:36] Testicule commented on #57107
if you comment out the "tasks_from: jobs/jobs.yml", so we go into the role at main.yml, which then includes jobs.yml, we get this, which is great. It all works:

ansible-playbook -i ./inventory-vorpal.yml ./vorpal-00-role-test.yml --extra-vars='{"hostgroups":"voltaire"}'

PLAY [voltaire] ***************************************************************************************************************

[2019-05-29 11:38] Tahvok commented on #55669
After speaking with @bcoca on IRC it was clear that the issue was happening when an instance was removed in the middle of the playbook.
@bcoca asked me to run ansible with DEBUG=true which I did, but also included some more debug output around the failed area in `task_queue_manager.py`:

[code]

And this is the log output I got (`my-instance` is the instance that was removed - not by the running p

[2019-05-29 11:45] decentral1se commented on #51060
I won't be having to follow up on this in the end. Going to close off (please re-open on another ticket if needed, I use my issues as a TODO list). If anyone is coming into the Linode group or looking to further the Linode implementation, I'll pass them on this information.

[2019-05-29 11:45] #51060 closed, assigned to nobody

[2019-05-29 11:45] decentral1se commented on #51061
I won't be having to follow up on this in the end. Going to close off (please re-open on another ticket if needed, I use my issues as a TODO list). If anyone is coming into the Linode group or looking to further the Linode implementation, I'll pass them on this information.

[2019-05-29 11:45] #51061 closed, assigned to nobody

[2019-05-29 11:46] aghassemlouei opened #57121 "ec2_ami does not support "create volume" permissions"
##### SUMMARY
The [ec2_ami](https://docs.ansible.com/ansible/latest/modules/ec2_ami_module.html) module does not support sharing the associated volume when launch permissions are modified. This can be handled outside of ansible via awscli similarly here:

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/sharingamis-explicit.html#sharingamis-aws-cli

While the command is invoking `modify-snapsho

[2019-05-29 11:46] clammers opened #57122 "Empty VPC mappings breaks nxos_vpc_interface"
##### SUMMARY
If there are no existing vpc mappings exists on switch the module breaks with NoneType error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_vpc_interface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
 ubuntu 18.04.1

##### STEPS TO REPRODUCE
Normal VPC configuration are created with nxos_vpc, portchannel 601 is in place.
[code]

##### EX

[2019-05-29 12:16] gstorme commented on #56910
I tested with 10GB and 60GB disk on VMWare.
In both cases, and only when the partition was initially created with the -UseMaximumSize parameter, the partition size is 1031680 bytes less than reported by the SizeMax value from Get-PartitionSupportedSize.

[2019-05-29 12:24] jimi-c commented on #57017
@Testicule vars specified on the task are used for the when evaluation. All variables available to the task are squashed down to a dict (including the loop var) when the conditionals are evaluated, which is how Ansible has always functioned. It would break just about every other scenario where someone would want to do things with roles and parameters if they weren't.

[2019-05-29 12:26] willthames commented on #57121
I definitely agree that your approach seems reasonable

It would be good to have a test case that fails currently - reading the docs this is only an issue for snapshots encrypted with customer managed keys? We should definitely support that.

As for implementing it, these kind of things only tend to get done by the people who need them - in other words, pull requests welcome!

[2019-05-29 12:36] Akasurde commented on #55560
@andrew80k I am not able to reproduce this in my environment. Is there anything else you forgot to mention here ?

[code]

@Tomorrow9 Can you please try to reproduce this ? Thanks.

needs_info

[2019-05-29 12:53] Qalthos commented on #36000
!component -lib/ansible/plugins/connection/httpapi.py

[2019-05-29 13:03] dxrpl commented on #53708
Hi,
I have the same problem and your solution works for me but there is one thing... I don't want to store key on the machine... is there any way to provide key via ansible controller without copying the key file to the host?

[2019-05-29 13:10] cooperlees commented on #44669
Thanks @felixfontein for pointing out my clowny 🤡 use of restart. I thought that enabled it. I need to read better. Thanks again!

[2019-05-29 13:13] abensch commented on #55999
@Akasurde Unfortunately I've been moved to another project so I no longer have access to the source that relates to this issue or any suitable testing environment. Sorry for being unable to follow up!

[2019-05-29 13:24] Akasurde commented on #55999
@abensch OK, no problem. I will close this feature request as it is being solved by playbook provided above. Please feel free to open a new issue, if you still face the issue.

Thanks.

[2019-05-29 13:24] #55999 closed, assigned to Akasurde

[2019-05-29 13:41] Akasurde commented on #57107
Reproducer - https://github.com/Akasurde/ansible-reproducers/tree/master/57107

[2019-05-29 13:49] justjais commented on #56856
cc. @krisvasudevan can you please look into this issue.

[2019-05-29 13:52] bcoca commented on #57107
closing as dupe of #57013

[2019-05-29 13:52] #57107 closed

[2019-05-29 13:57] #56024 closed, assigned to nobody

[2019-05-29 14:09] Qalthos commented on #53308
Does #57126 solve this problem, or is there something else going on here?

needs_info

[2019-05-29 14:15] ajtaylor6 commented on #56057
@rohitthakur2590  Tried it against a few devices with similar modules, works great.

[2019-05-29 14:16] ruzickap opened #57127 "ipaddr filter isn't working when using ipaddr('1')"
##### SUMMARY

`ipaddr('1')` filter doesn't give me any output:

[code]

[code]

[code]

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 29

##### STEPS TO REPRODUCE
See the commands in "Summary" above/

##### EXPECTED RESULTS

`ipaddr('1')` should be working as described here: https://docs.ansible.com/ansible/latest/user_guide

[2019-05-29 14:18] #48279 closed, assigned to nobody

[2019-05-29 14:18] amirwollman opened #57128 "fail module with_items prints the whole item even if using loop_control label"
Related to bug report #35493:
https://github.com/ansible/ansible/issues/35493

##### SUMMARY
Same as the debug module, the fail module output includes all the items in the output.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
fail module

##### ANSIBLE VERSION
ansible 2.6.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/

[2019-05-29 14:19] amirwollman commented on #57128
I'm running with one level of verbosity (-v) but see the same results with no verbosity

[2019-05-29 14:21] bcoca commented on #57128
`_ansible_*` vars are for internal use and not supposed to work in user provided expressions

[2019-05-29 14:26] Testicule commented on #57107
There are some similarities i guess but I'm not convinced this is a dupe of #57013.

Sam Doran said, of #57013:

"This is due to the same task file name being present at the role root and adjacent to the task file with the import_tasks task."

That is not the case here.
I am not seeing a file get included twice, I'm seeing a file *fail* to be included even once.

[2019-05-29 14:28] amirwollman commented on #57128
Noted. Thanks for the comment. However, correct me if I'm wrong but this is unrelated to the question..

[2019-05-29 14:40] bcoca commented on #57107
the issue is the same at root, you are using relative paths in a subdir and expecting a different path resolution,  his case happens to have a file with the same name doing an import which triggers the 2nd use, that is the main difference between your issues, but the cause is the same.

[2019-05-29 14:44] bcoca commented on #57128
well, to answer your question, i dont see a reason why you would expect the full item not to be displayed, i believe you want:

```   - "Service {{ item.item['msg'] }} failed to install"```

[2019-05-29 14:47] s-hertel commented on #29341
This should be resolved in 2.5+ by 73abce83a9d79c16df1dc4d32f407e18bed5c744.

[2019-05-29 14:47] #29341 closed, assigned to nobody

[2019-05-29 14:48] Testicule commented on #57107
Ok, well, I'm glad someone is ontop of this.
Pls resolve asap.

And pls god just strike down upon me with great vengeance and furious anger before inflicting anymore of these ansible bugs upon me i can't take it anymore i just want to do some simple things in ansible pls, that's all have mercy upon me just let me get some work done, or end it all for me.

[2019-05-29 14:56] Testicule commented on #57107
And i suppose in the meantime if i roll back to something before 2.7.10 i can hope this bug goes away.

[2019-05-29 15:00] amirwollman commented on #57128
Same as with the debug module, I would like the output to be the msg only rather than the entire item iterated + the message.
Maybe I'm using the wrong module for what I want?
I'll try and achieve what I want with the debug module combined with failed_when though if I remember correctly I tried it and it did not work..

Also, If this is the expected (and desired) result please go ahead and close t

[2019-05-29 15:02] bcoca commented on #55669
@Tahvok can you check if PR above solves your issue, i really dont have a simple reproducer to test against.

[2019-05-29 15:03] Testicule commented on #57107
Ansible 2.6.5 no good.

[2019-05-29 15:04] #57128 closed, assigned to nobody

[2019-05-29 15:10] wvidana commented on #56144
Thanks for the feedback on the ec2 inventory script, we will update our setup to use the aws_ec2 plugin

[2019-05-29 15:12] mfish82 opened #57130 "Provide Functionality to utilize "#" to remark with network modules"
##### SUMMARY

When pushing a prefix-set to an ASR9K router, it appears Ansible is filtering out "#remarks". The remark appears in the invocation, but is not sent with the commands. After looking at the python modules for networking, it appears that they are being purposefully ignored.

Looking to provide functionality to allow remarks to be pushed to the router via jinja or lines.

[code]

https:

[2019-05-29 15:20] bcoca commented on #57128
again, you are specifying the item, not the 'msg' key, there is not magic that will autoselect a subkey

[2019-05-29 15:25] call-tomorrow opened #57131 "Crash with KeyError on nxos_config module"
##### SUMMARY

Playbooks with the presence of nxos_config module parameter 'backup' crashes with KeyError.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible: CentOS Linux release 7.6.1810
Remote: Cisco Nexus9000

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Clean execution witho

[2019-05-29 15:27] wknapik opened #57132 "Variables are not expanded in dictionary values if the key is an empty string"
##### SUMMARY
Variables are not expanded in dictionary values if the key is an empty string.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-05-29 15:33] Testicule commented on #57107
that's it.
i am done.

[2019-05-29 15:36] Testicule commented on #57107
I'll be quitting my job and walking slowly into the ocean.
it's over.

[2019-05-29 15:38] amirwollman commented on #57128
I think I see what you mean now, however I don't think it's applicable in this case since the msg key belongs to the output of the fail module rather than the item I'm iterating over.

(Running this results in:
TASK [Verify installation on all hosts] *****************************************************************************************************************************************************

[2019-05-29 15:38] sivel commented on #57132
This is a result of this line:

https://github.com/ansible/ansible/blob/27dcf8aaab58b94d94feba96e1c23e78e7a01f5a/lib/ansible/template/__init__.py#L485

Changing it to the following seems to resolve it:

[code]

The original PR that introduced the use of `['']` is https://github.com/ansible/ansible/pull/13000 and I cannot see a reason why `['']` was used.

[2019-05-29 15:53] sivel commented on #57109
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2019-05-29 15:53] #57109 closed, assigned to nobody

[2019-05-29 17:00] dbilling commented on #53428
Opting into the new/future behavior  (i.e. setting conditional_bare_variables to false in ansible.cfg) is only a resonable solution for an end user.  For those that write and maintain roles consumed by others, these spurious warnings create a horrible choice: they will either need to continuously tell all their users to ignore the copious warnings/reconfigure their ansible.cfg file, or, alternativ

[2019-05-29 17:08] sivel commented on #56904
This is only a warning, and does not affect the ability of Ansible to function.

Ansible 2.9 will switch to using `importlib` on Python3 to avoid this warning: https://github.com/ansible/ansible/pull/54883

[2019-05-29 17:08] #56904 closed, assigned to nobody

[2019-05-29 17:11] sivel commented on #56830
We likely just need to move the `if C.CONDITIONAL_BARE_VARS:` block below the `if templar.is_template(conditional):` block, effectively back to where it was before this warning was added: https://github.com/ansible/ansible/commit/4a0fceaa3bf9180b9c4adbf5d7bdb2ed4c7dbc0d

[2019-05-29 17:12] JayWelborn commented on #56962
If this is a desired change and no one's working on it, I'd like to take a look at it.

[2019-05-29 17:23] #56775 closed, assigned to nobody

[2019-05-29 17:41] corbinstuard commented on #55991
Race conditions are accounted for by just about every module I've ever used so I don't really understand the logic behind race conditions being something we should work around instead of just instantiating transaction locking at the module level. Not very ansible-like.

[2019-05-29 17:55] joelgriffiths opened #57136 "interpreter_python completely breaks some use cases"
##### SUMMARY

interpreter_python change breaks many use cases for Ansible. Why would you ever hard code a path to a binary?

##### ISSUE TYPE
- Bug Report

The new interpreter_python option completely breaks environments using pyenv. Ansible uses /usr/bin/python instead of the version of Python that is actually run. It generates this warning:
 [WARNING]: Platform linux on host sever18.gadgetwiz.c

[2019-05-29 18:02] sivel commented on #57136
The discovered interpreter in your case is the same as the previous behavior (Ansible versions before 2.8), which is to use `/usr/bin/python`.

This warning is indicating that on the target machine (not the control machine) that `/usr/bin/python` was detected, but due to the distribution you are running on the target, Ansible may start selecting a different python, such as `/usr/bin/python3` if py

[2019-05-29 18:03] joelgriffiths commented on #57136
Never mind. I am obviously misunderstanding the behavior. I apologize.

[2019-05-29 18:03] #57136 closed, assigned to nobody

[2019-05-29 18:10] joelgriffiths opened #57138 "any_errors_fatal should mark all nodes failed in the summary"
##### SUMMARY
any_errors_fatal = True stops plays on all hosts, but the summary doesn't show 'failed=1'

Even though the ansible-playbook results include "NO MORE HOSTS LEFT", the RECAP is misinformative because it says 'failed=0' for all of the nodes that did not fail even though the play failed and any_errors_fatal is True. I would expect all of the hosts to be marked failed in this case. At the

[2019-05-29 18:11] stdedos commented on #56779
Quote @samdoran:

I have tried to drop in IRC a couple of times (however, I haven't used an always-running IRC client in years), and I have opened this topic https://groups.google.com/forum/#!topic/ansible-devel/PPZsEoRyZoY with no comments in almost a week

I am not sure what it is that would be preferable to discuss outside of this ticket - I feel that the "default stdout callback" merits numero

[2019-05-29 18:18] marcusrafael opened #57140 "Crash when invoking merge_dictionaries for gcp_storage_object module"
##### SUMMARY

When using `gcp_storage_object` module the method `merge_dictionaries` is invoked. However, the actual method name is `_merge_dictonaries` and when renaming it to `merge_dictonaries` makes all work as expected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`lib/ansible/module_utils/gcp_utils.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONM

[2019-05-29 18:25] joelgriffiths commented on #57136
Thanks for the reply. As soon as I stepped away from my disk, I realized my mistake.

[2019-05-29 18:36] chrisvanheuveln commented on #57122
@clammers Please include `show ver` from your NXOS device. I was unable to reproduce this so far on my N6K or N9K, using 2.8 and devel.

[2019-05-29 18:53] alcappello commented on #28545
I don't know the current status of the issue, but I've encountered the same problem and solved it with:
[code]
Check out the [Ansible documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#pausing-within-a-loop) for more info.

[2019-05-29 19:03] LaurentDumont commented on #28545
I ended up doing the same when moving away from `with_dict` to loop. I can use a 3 seconds timeout and it's enough to allow a new VMID to be generated from Proxmox.

[2019-05-29 19:27] chrisvanheuveln commented on #57101
@trishnaguha Looks like `purge` is trying to remove `vlan 1`. The cli will raise in that event. I'll fix this.

[2019-05-29 19:28] helldorado commented on #28545
Thank' s for this feedback. All know issues are addressed on PR #55874.

close_me

[2019-05-29 19:49] #28545 closed, assigned to nobody

[2019-05-29 19:49] felixfontein commented on #53708
@dxrpl not yet... there's #52408 to track progress on this, but so far nothing has been implemented.

[2019-05-29 19:59] #51995 closed, assigned to nobody

[2019-05-29 20:04] AlanCoding opened #57143 "A new prune option for the git module"
##### SUMMARY
The git module offers a `refspec` parameter, used in `git fetch` command. For many cases where this parameter is relevant, a `prune` (boolean) option should also apply, to be passed through to the git command that is ran as a subprocess.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
git module

##### ADDITIONAL INFORMATION
This would be used to delete local branches which ar

[2019-05-29 20:29] #48965 closed, assigned to nobody

[2019-05-29 20:37] thaumos commented on #57081
Hi @chrismeyersfsu, I'll set some time up with you to chat about this.

[2019-05-29 21:17] fbruetting commented on #56962
Ah that’d be cool! Could save quite some time, especially on small setups where you don’t need to work with a root-like ansible account.

[2019-05-29 23:29] jborean93 commented on #56221
I don't see a reason why this can't be in the docs is psexec itself doesn't work with non netbios names. I haven't tested it but wouldn't be surprised due to how psexec ties into SMB and RPC to operate.

[2019-05-29 23:36] jborean93 commented on #56225
Easily fixed by adding to that line saying it will be installed or upgraded if it doesn't match that version. The requirement is mostly there to say that this version is a requirement for the module, if you are running an older version you will most likely come across some issues. We even have a note saying just that and an example of how to install Chocolatey itself in the module with a custom so

[2019-05-29 23:36] #56225 closed, assigned to nobody

[2019-05-29 23:42] webknjaz commented on #12608
FTR @ahlinc volunteered to take a crack on this

[2019-05-30 00:20] Testicule commented on #57017
Well, clearly the include_role needs its own vars clause. Using the one at task-level is not appropriate, if the task-level one affects the conditionals etc. There needs to be a proper way to pass parameters into the role.

Using task level vars is like calling a function or script and only being able to pass vars in via the environment, or as global vars. Not good enough.

[2019-05-30 00:32] sebasmannem commented on #56430
@simon-tma , @bootrino : You are correct.
I have looked into the default pg_hba.conf as shipped by Postgres 11, and added some of those lines to the Integration tests. After that, I have fixed both writing a partial file on render error, and the TypeError. I have created a MR. Shippable test is running now.
@simon-tma : Would be great if you could test with that postgresql_pg_hba module, to make s

[2019-05-30 02:05] markatdxb opened #57148 "win_domain_computer doesnt provide any stdout"
##### SUMMARY

win_domain_computer doenst provide any stdout output. Unable to validate if domain account was created or already existed
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_domain_computer
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

simple playbook with state: present and debug mode

[code]

##### EXPECTED RESUL

[2019-05-30 02:38] Akasurde commented on #57127
Duplicate of https://github.com/ansible/ansible/issues/55570

[2019-05-30 02:38] #57127 closed, assigned to nobody

[2019-05-30 02:40] Akasurde commented on #57127
@ruzickap Thanks for reporting this issue. This issue is being tracked using #55570. Thanks.

[2019-05-30 02:43] Akasurde commented on #29735
Closing this issue since `vsphere_guest` is removed from Ansible 2.9. Please use `vmware_guest` instead. Thanks.

[2019-05-30 02:43] #29735 closed, assigned to nobody

[2019-05-30 02:48] aghassemlouei commented on #57121
Thanks! As much as I would love to contribute back with new functionality I just don't have the capability or time. Would you mind if we left this open with the hopes that one day an amazingly talented person will come across this issue and help out?

[2019-05-30 03:54] jborean93 commented on #57148
Have you look at running with `--diff`, that is the usual way of showing what the module actually changed. Typically Ansible only guarantees you to have `changed` be true or false and diff is meant to provide more info if the module supports it.

[2019-05-30 04:18] markatdxb commented on #57148
@jborean93  - omg sorry my bad - i should have known this before - no bug then - with --diff i can see all the required information. Many thanks for tip

[2019-05-30 04:18] #57148 closed, assigned to nobody

[2019-05-30 04:29] Akasurde commented on #54457
@agowa338 Could you please check if PR #57149 works for you and let me know ? Thanks.

needs_info

[2019-05-30 04:30] Akasurde commented on #54457
resolved_by_pr #57149

[2019-05-30 04:39] Akasurde commented on #56894
@versewithverve Thanks for reporting this issue. `authorized_key` uses `key` to identify if user provided key is already present or not. Since you are providing same key with different comment, Ansible assumes that you want to replace the existing key with new key + additional data like comments.

As per my opinion, this is correct behavior.

For comment, you are not including `comment` argument i

[2019-05-30 06:05] jborean93 commented on #57148
No worries, not all modules support diff but luckily this one did.

[2019-05-30 06:32] brlin-tw opened #57153 "Specifying private_key_file in ansible.cfg with path with double quotes breaks Ansible ad-hoc command"
##### SUMMARY
I'm following the instructions in the "Simplifying with the ansible.cfg File" section of the "Introduction" chapter(Ch.1) of the "Ansible: Up and Running" book under the path `/home/buo.ren.lin/Workspace/"Ansible: Up and Running" Playground/010 - Introduction`, in this section it instructs me to move the `ansible_private_key_file=.vagrant/machines/default/virtualbox/private_key` mana

[2019-05-30 06:36] flechoide commented on #30848
I have the same problem with the mount module, my version is :
ansible-2.7.9-1.el7.ans.noarch

[2019-05-30 06:41] edumgui commented on #56732
Hi @lconnell,

@askhari solution is working for me. I only have a write policy, so I don't need to use a token to read the catalog.

Does 'curl "http://localhost:8500/v1/catalog/datacenters" return '["hoa"]?
Also, is 'curl "http://localhost:8500/v1/catalog/nodes"' returning a valid json?

[2019-05-30 06:57] bluikko opened #57156 "File module with state=touch and modification_time=preserve should return changed=false if file exists"
##### SUMMARY
This is a bit related to issue #7490.

Creating a zero-length file with `file` module `state=touch` updates the modification time to "now" and returns `changed=true`.

I wish to not update the timestamp, so I figured giving parameter `modification_time=preserve` would inhibit updating the timestamp and return `changed=false` if the file already exists.

The suggestion is that if file

[2019-05-30 07:08] mkrizek commented on #57138
I don't think we can set `failed=1` on all hosts since `failed` means failed tasks, not failed hosts.

This could be solved as part of https://github.com/ansible/ansible/issues/14367.

[2019-05-30 07:11] mkrizek commented on #56265
!component -test/integration/targets/any_errors_fatal/18602.yml

[2019-05-30 07:12] tonywangcn opened #57157 "Doesn't work well with docker container, muxclient: master hello exchange failed"
##### SUMMARY

Doesn't work well with docker container.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

command, pwd.
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

 Model Name:	MacBook Air
  Model Identifier:	MacBookAir7,2
  Processor Name:	Intel Core i5
  Processor Speed:	1.6 GHz
  Number of Processors:	1
  Total Number of Cores:	2
  Memory:	8 GB
  Boot

[2019-05-30 07:55] oszi opened #57159 "Gathering facts runs forever with docker connection on CentOS"
##### SUMMARY
Gathering facts runs forever with the docker connection on docker.io/centos:7 with python2.
It works with a fedora image with python3. So it might be a python2 issue.
This issue was probably introduced with ansible 2.7 or 2.8.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
AnsiballZ_setup.py ???

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-05-30 08:18] #56583 closed, assigned to maxamillion

[2019-05-30 08:33] fbryce001 commented on #45848
I also would like to be able to space these Ansible controlled blocks, for readability.

The actual desired functionality is to be able to add empty lines whereever desired around blockinfile managed blocks, it just seems that the only way to do this is via the marker setting.

A different method to create a good, readable layout would work fine, could even just be a 'space outside markers' & 'spa

[2019-05-30 08:34] agowa338 commented on #54457
That is better than that what I thought about when I created the issue.

I basically requested 10.0.0.0/8 + 10 = 10.0.0.10/8, but that way doing 10.0.0.0/8 - 1 would not be well defined, because it is out of the scope of the netmask and what should happen than?

Your solution instead just leaves this part to the user and does therefore not suffer from this issue.

!needs_info
shipit

[2019-05-30 08:47] agowa338 commented on #55135
resolved_by_pr #55137

[2019-05-30 09:36] webknjaz commented on #55991
The race condition is not happening in the Ansible module but rather in pip itself. I think it was me who pointed out that you're using hosts in a wrong way: connections to hosts are separate and know nothing about each other and modules are copied to target hosts separately. There's no way for Ansible to know whether it's the same host or not.

[2019-05-30 09:36] #41312 closed, assigned to nobody

[2019-05-30 09:56] dennyx opened #57165 "script finished while get share connection close error"
##### SUMMARY
Get a python module to help on dcos installation, the package successfully installed(per checking dcos) while ansible fails with share connection close error msg

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
customized python module, code in https://gist.github.com/dennyx/5d8e256a577225368dab1a42793dc045

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENV

[2019-05-30 10:25] Nuranto commented on #26923
Still have the issue on ansible 2.8.0 / Ubuntu 18.04

[2019-05-30 10:34] soori123456 opened #57166 "_ansible_delegated_vars not working in ansible 2.8.0"
##### SUMMARY

_ansible_delegated_vars not working with ansible 2.8.0 and with ansible 2.7.9 and 2.7.10 there no any issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

rhel 7.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

it should work set_fact

##### ACTUAL RESULTS

[code]

[2019-05-30 10:39] jalbstmeijer commented on #57062
Hi mkrizek,

Thanks for looking in to this;
I indeed suspect it must be a special case. I do not have the issue on all my Centos6 servers.
When going back to Ansible 2.7.11 it works again on all servers.

I get the same results checking the version/release files;

[code]

As stated before
`ansible -m setup host.xx.xx`
still works as expected and shows the correct ansible_distribution_major_version

[2019-05-30 10:43] xalvarez commented on #56788
In this case and considering that `yes` is an alias for `safe` and the latter doesn't need to be quoted, I think it might be good idea to deprecate `yes`. The difference between `yes` and `'yes'` is not obvious at first glance and might be confusing.

[2019-05-30 10:47] jalbstmeijer commented on #57062
Hi,

Because this "0171022-updated" string must come from somewhere, I looked for it on my file system.

Then I found;

[code]
This is a file I use to mark the AWS AMI version the server installation was based on.

Is this expected behavior? and should the setup module behave differently from the  gathering facts from a playbook?

Gr, Justin

[2019-05-30 10:54] rohitthakur2590 opened #57167 "vyos_interface fails to configure description value for interface when having spaces ."
##### SUMMARY

vyos_interface fails to configure description value for interface when having spaces .
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vyos_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora release 30

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-05-30 11:03] dennyx commented on #57165
thanks for the kindly feedback~
not sure about the component name, update the issue with component info:
customized python module, code in https://gist.github.com/dennyx/5d8e256a577225368dab1a42793dc045

[2019-05-30 11:13] clammers commented on #57122
@chrisvanheuveln latest nxos, as we're using virtual peer-link.

[code]

[2019-05-30 11:39] dxrpl commented on #53708
Thank you for response. I walked around by mounting ramdisk, copying key to it, unlock LUKS and destroy ramdisk with a key. It should prevent from direct key access by users.

[2019-05-30 12:02] soori123456 commented on #57166
!component set_fact

[2019-05-30 12:27] emper0r opened #57171 "win_xml xpath issue"
##### SUMMARY
Ansible not changing xml attribute

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
!component + lib/ansible/modules/windows/win_xml.py

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
CentOS 7

##### STEPS TO REPRODUCE
file: foo.xml
[code]

file: main.yaml
[code]

##### EXPECTED RESULTS
must change it -> newVersion="6.10.8.0" into newVersion="86.10.8.0"

##### ACTUAL RESUL

[2019-05-30 12:33] chrisvanheuveln commented on #57101
@trishnaguha I found another issue caused by the idempotence fix #55144. This check for `and not purge` prevents `aggregate` from adding/modifying when the play has `purge: true`:

https://github.com/ansible/ansible/blame/devel/lib/ansible/modules/network/nxos/nxos_vlan.py#L223

That change was my suggestion so I'll fix that issue too (and add some additional unit tests).

[2019-05-30 12:36] Kami-no opened #57172 "ansible-vault: 'tuple' object has no attribute 'append' when multiple password files are configured"
##### SUMMARY
Unable to encrypt string.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
OS X 10.14.5
python version = 3.7.3 (default, Mar 27 2019, 09:23:15) [Clang 10.0.1 (clang-1001.0.46.3)]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
encrypted string

##### ACTUAL RESULTS

[code]

[2019-05-30 13:25] samdoran commented on #56788
@xalvarez This brings up the issue of whether or not we should allow boolean values in `choices` for string parameters. I don't have a good answer for that yet as there are quite a few modules where `'yes' 'no', True, False` are listed as valid values for string parameters.

[2019-05-30 13:53] samdoran commented on #57172
Verified this affects 2.8 and not earlier versions.

[2019-05-30 14:08] webknjaz commented on #20243
Verified.

Here's a simple oneliner:
[code]

[2019-05-30 14:13] sivel commented on #57156
You also need to include `access_time: preserve` otherwise, `state: touch` is also modifying the access time on each execution.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-30 14:13] #57156 closed, assigned to nobody

[2019-05-30 14:19] bluikko commented on #57156
Duh, of course you are right. Sorry for wasting your time.

Would love to join the IRC channel but freenode seems to have mandatory nickserv with e-mail address confirmation - that is very off-putting... unless I got this wrong too...

[2019-05-30 14:31] bluikko commented on #57156
May I add that perhaps it could be added to #7490 that the objective of the issue can be done with `access_time=preserve modification_time=preserve` in case some other dummy like me is wondering how to "just" create a file?

Since that issue is closed it does not get automatically linked to this read on my #reference but perhaps someone with more permissions can do it.

[2019-05-30 14:40] sivel commented on #57172
The full traceback:

[code]

To clarify, this happens when there is a config/env already specifying the vault password file, and then another is specified from the CLI.

[2019-05-30 14:48] sylvainduchesne commented on #50332
Hi,
Sorry to post on a closed issue, but it seems this has regressed in 2.8.0
We now have this behaviour again, which was not occuring in 2.7.10

[2019-05-30 14:57] samdoran commented on #57172
I was _just_ about to add that.

[2019-05-30 15:03] dekimsey opened #57182 "synchronize does not support rsync:// correctly"
##### SUMMARY
Documentation examples show the use of `rsync://` to use the rsync protocol to connect instead of SSH. However, in trying to do use a `src: rsync://host::module/path` it fails as rsync* doesn't know how to process rsync://. The rsync command receives the `rsync://` prefix which breaks. Removing the protocol from the rsync command works.

CentOS 6 rsync at least.

##### ISSUE TYPE
- B

[2019-05-30 15:08] sivel commented on #57166
This bug was introduced in b793f08a922ebc9ad1034e47b4d364d3914822d0

Here is a reproducer:

[code]

Interestingly, we have a test (`test/integration/targets/delegate_to/test_loop_control.yml`) that relies on  `_ansible_delegated_vars` but with the following note:

[code]

This indicates this change was purposeful.

[2019-05-30 15:21] goneri commented on #57072
@wtout, could you try https://github.com/ansible/ansible/pull/57185, it should resolve your problem.

[2019-05-30 15:24] SARUNAR commented on #56716
Me too faced the same issue
what is the root cause for this error?

[2019-05-30 15:33] samdoran commented on #7490
This can be done in Ansible >= 2.7.0 by preserving both modification and access time:

[code]

[2019-05-30 15:44] dekimsey commented on #57182
FWIW, I was able to get this working correctly by just stripping the prefix from the paths.

[code]

[2019-05-30 15:44] jamescassell commented on #56830
duplicate of https://github.com/ansible/ansible/issues/53428

[2019-05-30 15:45] sivel commented on #56830
This is not exactly a duplicate. I consider this one a bug, in that we changed the order of some logic that caused a regression in checking for jinja2 delimiters in when statements.

[2019-05-30 15:50] FroamgeBlue commented on #57075
Not a bug. The documentation is a little misleading for cloning. When cloning to another host, you also have to add the target parameter. This is where you specify the other node.
Current Documentation:
**Node:** Proxmox VE node, where the new VM will be created. Only required for state=present. For other states, it will be autodiscovered.
**target:** Target node. Only allowed if the original VM i

[2019-05-30 15:50] #57075 closed, assigned to nobody

[2019-05-30 15:53] sivel commented on #53428
After a discussion in our recent IRC meeting (https://meetbot.fedoraproject.org/ansible-meeting/2019-05-30/ansible_public_core_irc_meeting.2019-05-30-15.01.log.html#l-116) we would entertain a PR that tries to further clarify the warning, or restrict it to a smaller subset of conditions.

Accepting the PR would be dependent on the implications of the change and specific implementation, ensuring th

[2019-05-30 16:14] felixfontein commented on #53708
When using a ramdisk, you have to make sure that
 a) Ansible is not writing the file into /tmp before copying/moving it to the ramdisk,
 b) you really wipe it from the ramdisk (by overwriting it first) - simply deleting will keep a copy of the key in memory.

[2019-05-30 16:25] alanbchristie opened #57189 "Regular "yum lockfile is held by another process" errors with package/yum modules in Ansible 2.8.0"
##### SUMMARY
Playbooks that operate without error using Ansible 2.7 (specifically 2.7.10 or 2.7.11) now regularly fail with Ansible 2.8.0 during `yum`/`package` operations with the error **"yum lockfile is held by another process"**.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- package
- yum

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Control machi

[2019-05-30 16:31] sivel commented on #57189
Ansible 2.8 added more advanced functionality around handling and waiting for a lock.  As such, there is a new argument called `lock_timeout` that dictates whether the module will wait to acquire the lock, or exit immediately if the lockfile exists.  The default of this argument is `0`, meaning that it will not wait.  A positive number will wait for that amount of seconds before exiting if the loc

[2019-05-30 16:31] alanbchristie commented on #57189
I have managed to implement a work-around to the fault, a task I call before each use of `package` or `yum` which waits for _offending_ processes to stop before returning. I have to wait 1 to 2 minutes on some occasions. The work-around task is available in the following _gist_: -

[Task for the yum lockfile error in Ansible 2.8.0](https://gist.github.com/alanbchristie/4e21079f1711992cb92df9ee898e

[2019-05-30 16:32] sivel commented on #57189
As indicated above, using `lock_timeout` set to a positive integer will achieve the outcome that your until task is doing.

[2019-05-30 16:34] Morgyn commented on #22287
My work around:
- name: Confirm ppolicy module installed
  ldap_attr:
    dn: cn=module{0},cn=config
    name: olcModuleLoad
    values: ppolicy.la
    state: present
  register: result
  failed_when: >
    (result.failed == True) and
    ("'desc': 'Type or value exists'" not in result.details)

[2019-05-30 16:34] alanbchristie commented on #57189
OK, brilliant.

Thanks for the rapid response.

Was the default in Ansible 2.7 to wait for a period of time?

[2019-05-30 16:37] alanbchristie commented on #57189
And I guess I'm advised to switch from `package` to `yum` as `package` has no `lock_timeout`?

Mmm - so is `package` is broken in this regard?

[2019-05-30 16:38] s-hertel commented on #53428
I have opened a tentative solution [here](https://github.com/ansible/ansible/pull/57190) to restrict it to a smaller subset of warnings and would appreciate any feedback.

[2019-05-30 16:39] sivel commented on #57189
In 2.7 there was no handling of the lock, so it was just whatever the API did previously. I'm not an expert there, so I cannot say.

As far as package, that is effectively an "alias" for the underlying package manager module, so it should support whatever `yum` supports.

[2019-05-30 16:39] samdoran commented on #57062
This is a side effect of moving to `distro` in Ansible 2.8. If the file `/etc/ami-version` is present, the `distro` returns `ami` for the distribution ID, which then changes the file parsing logic we use for getting version information. I'm still investigating this, but that is the main cause.

[2019-05-30 16:45] samdoran commented on #56716
@SARUNAR As in the above comment, the issue is that very few values are returned by the `copy` module in check mode resulting in many variables being undefined if you are registering and checking the output of a `copy` task.

[2019-05-30 16:52] alanbchristie commented on #57189
This does appear to work, thanks: -

[code]

But using `yum`-specific properties with the `package` module just feels _wrong_. Thanks for the rapid feedback and help - it's greatly appreciated.

[2019-05-30 17:07] kvaps opened #57191 "Wrong vars inheritance when using roles statement"
##### SUMMARY
When using roles. Undefined vars are inheritance from the previous roles, even if they are not executed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

roles statement?

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS

[code]

[2019-05-30 17:13] sivel commented on #57191
This is expected.  Variables, applied via the `vars:` keyword on roles are scoped at the play level, not at the role level.

roles listed under the `roles:` are pre-processors and are merged into the play.

Duplicate of https://github.com/ansible/ansible/issues/56349

See https://github.com/ansible/ansible/issues/56349 for a more detailed explanation.

If you have further questions please stop by

[2019-05-30 17:13] #57191 closed, assigned to nobody

[2019-05-30 17:16] sivel commented on #57166
I have confirmed with @bcoca that this change is purposeful.  `_ansible_*` vars were never meant to be exposed and were specifically named that way to indicate that they were private.

A fix was applied to Ansible 2.8 to appropriately remove this internal variables from user access.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   *

[2019-05-30 17:16] #57166 closed, assigned to bcoca

[2019-05-30 17:35] samdoran commented on #57062
Actually, this looks like it's a problem completely within `distro` since we actually set the correct `ansible_distribution` and `ansible_distribution_file_variety`.

What `distro` does is look through all the (sorted) files in `/etc/` and stops on the first one that matches the regexp `(\w+)[-_](release|version)` and parses that.
https://github.com/ansible/ansible/blob/2611867fd1dc387ceaa0ffb8ce0

[2019-05-30 17:37] kvaps commented on #57191
So solution is:
[code]

thanks

[2019-05-30 17:50] ReussDr opened #57193 "Access is Denied error installing .Net 3.5 through win_optional_feature"
##### SUMMARY

I get an access is denied failure when I try to install .Net 3.5 using win_optional_feature.  I can install it manually on machines without a problem.  After manual install it detects that the feature is already installed so the rejection appears to be at install time, not detection time.

I've tried this on 2 different machines, and have reverted to a just-after-install image and I

[2019-05-30 17:50] samdoran commented on #57062
@jalbstmeijer You mention this is a file you are putting there? Not something that is put them by default? If that's the case, it may be easiest to change the name of the file so `distro` doesn't pick it up or that it ends up sorted after `centos-release`. Sorry for the inconvenience.

[2019-05-30 18:22] ericsysmin opened #57194 "nodeConfig has been deprecated in favor of nodePool on gcp_container_cluster"
##### SUMMARY
nodeConfig is deprecated on gcp container cluster API, replaced by nodePool which contains a nodeConfig among other configuration values

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_container_cluster

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

Ability to set autoscaling, etc

##### AC

[2019-05-30 18:22] ShachafGoldstein commented on #57193
just to make sure, you are using an admin user for the playbook?

[2019-05-30 18:50] basictheprogram opened #57195 "apt_repository: TypeError: instancemethod expected at least 2 arguments, got 0"
##### SUMMARY
apt_repository throws exception "TypeError: instancemethod expected at least 2 arguments, got 0"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible management host: macOS 10.14.5
Ansible managed host: Ubuntu 10.04 (lucid)

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

[2019-05-30 19:07] goneri commented on #56265
Hi! Thank you for the bug report. Could you try with the freshly released 2.8?

needs_info

[2019-05-30 19:09] jborean93 commented on #57193
Typically .net doesn’t work over a standard network logon. Can you try with become on the task please and see how it goes.

needs_info

[2019-05-30 19:20] kluner commented on #56844
I just hit this one too after upgrading to ansible 2.8

[2019-05-30 19:27] sivel commented on #57138
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * `any_errors_fatal` is meant to end the play when any task results in an erro

[2019-05-30 19:28] jpmontez commented on #38308
Can anyone take a look at the referenced PR for this issue? It seems to solve this issue. I'm experiencing the same bug as described here.

[2019-05-30 19:32] goneri commented on #57157
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-05-30 19:32] #57157 closed, assigned to nobody

[2019-05-30 19:33] joelgriffiths commented on #57138
Your documentation says this:

The any_errors_fatal play option will **mark all hosts as failed if any fails**, causing an immediate abort:

- hosts: somehosts
  any_errors_fatal: true
  roles:
    - myrole

[2019-05-30 19:34] maxd opened #57196 "Remove omitted elements from `command` arguments"
##### SUMMARY
I want to have ability to remove elements marked with `omit` variable from `argv` array of `command` module:

[code]

It should output `1 3` instead of `1
__omit_place_holder__??? 3` (see explanation why I want it in `ADDITIONAL INFORMATION` section)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
command

##### ADDITIONAL INFORMATION
I am using `command` module in my projects

[2019-05-30 19:36] sivel commented on #57138
I will re-open as a documentation issue.  The consensus amongst the core devs is that the documentation is incorrect.

[2019-05-30 19:38] samdoran commented on #57159
I am unable to duplicate this using the exact commands from the reproducer (thank you for a simple way to reproduce). The biggest different is I'm running Docker on macOS. Can you test on another Docker host?

[code]

needs_info

[2019-05-30 19:39] goneri commented on #57165
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a question for Ansible Devel, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

If you can stop b

[2019-05-30 19:39] #57165 closed, assigned to nobody

[2019-05-30 19:47] sivel commented on #57182
It has been a long time since I have dealt with rsync daemons, however I just wanted to provide the small snipped from the man page:

Based on this, it seems like you should only use either `::` or `rsync://`.  When using `rsync://` you should use a URL style instead, which would look like:

[code]

[2019-05-30 19:55] sivel commented on #57196
We are conflicted about adding this feature, and it has come up in the past.

Should you want to pursue this further, please add this to the core IRC meeting agenda for additional discussion: https://github.com/ansible/community/issues?utf8=✓&q=is%3Aissue+is%3Aopen+label%3Ameeting_agenda+label%3Acore

Example PR from a previous attempt: https://github.com/ansible/ansible/pull/39179

[2019-05-30 19:58] sivel commented on #57182
needs_info

[2019-05-30 20:11] joelgriffiths commented on #57138
Thank you for the response. I've started a conversation in your group. My biggest concern is that the RECAP provides no indication the play did not finish running. It looks like the play completed properly when it wasn't completed at all. This has bitten some admins at my company.

[2019-05-30 20:21] AlanCoding opened #57197 "Git module bare clones give changed=False when non-default branch changes"
##### SUMMARY
Doing a bare clone, a task using the git module will return an "ok" status when it should have returned a "changed" status

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
git module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
defaults

##### OS / ENVIRONMENT
CentOS

##### STEPS TO REPRODUCE
Ansible command:

[code]

with playbook:

[code]

##### EXPECTED RESULTS
When doin

[2019-05-30 20:34] bcoca commented on #57138
it does mark hosts as failed, but not any tasks , which what you end up seeing in summary are 'tasks per host'.

[2019-05-30 20:47] lonico commented on #56472
Tracked thru internal issue 1347

[2019-05-30 20:49] joelgriffiths commented on #57138
Maybe I missing something, but the "PLAY RECAP" in the "Actual Results" (above) doesn't indicate that the playbook did not finish. Surely that should be indicated in the "PLAY RECAP" somewhere?

[2019-05-30 20:59] lonico commented on #55370
Tracked thru internal issue 1390

[2019-05-30 21:45] jhawkesworth commented on #57171
@emper0r Hi.  Can you please try with ansible 2.8.0?  I did a lot of work on the win_xml module and there is a newer version included with ansible 2.8.0?

If it still doesn't work, you might need to be more specific with your xpath, for example

/configuration/runtime/assemblyBinding/dependentAssembly/bindingRedirect/@newVersion

Please try 2.8.0 version and report back.

Many thanks,

Jon

needs_

[2019-05-30 22:17] webknjaz commented on #20243
Alright, so you can set `ansible_async_dir` var in order to point to any acceptable directory: https://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.8.html#deprecated

[code]

[2019-05-30 22:17] #20243 closed, assigned to webknjaz

[2019-05-30 22:31] #43265 closed, assigned to nobody

[2019-05-30 22:56] lonico commented on #52569
This was fixed in 2.8 for na_ontap_user.
https://github.com/ansible/ansible/pull/54610

[2019-05-31 00:32] apitanga opened #57203 "gcp_resourcemanager_project module allow choosing folder"
##### SUMMARY
The `gcp_resoucemanager_project` module should allow a choice of folder under which the project is created.  This is possible via the API, gcloud and console.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`gcp_resourcemanager_project`
##### ADDITIONAL INFORMATION

Large GCP organizations need folders to manage projects

[code]

[2019-05-31 00:38] apitanga commented on #57203
Another way to accomplish this goal would be to allow `parent` to have a folder as `type`:

[code]

[2019-05-31 00:52] jhg03a commented on #57189
Yeah, this is a big deal for me because it a change in behavior at the same time as a workaround argument.  I like the knob exists now, but the default value is inconsistent with prior behavior.  This is forcing me to upgrade the requirements for my roles from 2.7 to 2.8 because 2.7 and 2.8 will behave differently and the new argument to fix it is only available in 2.8.

[2019-05-31 00:59] fbruetting opened #57204 "Initializing playbooks with `become: yes` can lead to wrong error messages"
##### SUMMARY
Starting a role with `become: yes` directly after the `hosts` list, gives a wrong error message when `ansible-playbook` isn’t executed with the `-K` switch.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Fedora Silveblue 30 on both machines.

##### STEPS TO REPRODUCE

Run this p

[2019-05-31 01:00] jhg03a commented on #57189
Related: https://github.com/ansible/ansible/issues/47210

[2019-05-31 01:08] dekimsey commented on #57182
Oh, interesting. When I tried using `remote.example::/updates/repo` it would not work, which was my initial attempt, the module reads that as a relative file path. I did not try your invocation. I will give that a whirl and report back.

[2019-05-31 01:34] vladp commented on #43739
@mcandre OpenBSD is different (in the sense of OS) that NetBSD (different kernel, different packaging system, different core teams, different variety of HW platforms supported, etc).

Glad to see all these BSD's added!  Will make contributions to modules much easier.

[2019-05-31 01:41] jborean93 commented on #57204
You don't need to run become with `-K`, there are numerous instances where a password is not needed for become, or the password has been set elsewhere making `-K` optional. I would assume that you could run with `-vvv` and it will show you the stdout/stderr that indicates the failure in execution.

needs_info

[2019-05-31 01:56] fbruetting commented on #57204
Yes, doesn’t need to be `-K` specifically, but my intent is that the error should not complain about a fine command, but instead on what really went wrong – which is the missing become rights because of the missing become password.

When I look at the `-vvv` output, I see that “a password is necessary” (translated from German), so this helps – yet the current error message is relly irritating, poi

[2019-05-31 02:14] dennyx commented on #57165
thanks for the kindly help on this~
created topic for ref https://groups.google.com/forum/#!topic/ansible-devel/Dz57AuAz0yQ

[2019-05-31 03:00] rcanderson23 commented on #57193
This worked for me on my local test VM:

[code]

[2019-05-31 03:07] plcarman opened #57205 "nios_host_record does not fetch next ip address as expected"
##### SUMMARY

The `nios_host_record` module is supposed fetch the next IP address in a subnet, and reserve that IP. Instead, `nios_next_ip` variable isn't parsed correctly and an error is thrown.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nios_host_record module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Vanilla install and config
[code]

##### OS / ENVIRONMENT

[code]

#####

[2019-05-31 03:38] plcarman commented on #57205
I could use the `nios_next_ip` lookup to get around this, but it'd be great if we could fix this to eliminate the racing condition mentioned in https://github.com/ansible/ansible/issues/45218 😊

[2019-05-31 04:51] versewithverve commented on #56894
Hi
Thank you for pointing out that comment was missing from task.
It would be more useful if the authorized_key module selected uniqueness by key+options as it is quite common for multiple machines to have the same public key but with different options.

If the line mentioned below was changed I believe that this would achieve that.

        if parsed_new_key[0] in existing_keys:
            # The

[2019-05-31 06:12] justjais commented on #55562
@AJ-Acevedo I have tried to reproduce the scenario with your play in my macOS(10.14.5) and cisco device with version: `15.6(3)M2`, but I am not able to reproduce the issue in ansible version `2.7.10` and `devel`.
Can you please let me know if your are still facing the issue.

[2019-05-31 06:15] Fred-sun commented on #54914
@yuwzho Do you continue to track code changes to fix the problem? Please help update the state when you're free! Thanks you very much!

[2019-05-31 06:31] justjais commented on #56077
cc. @s-giri @krisvasudevan please look into this feature request.

[2019-05-31 06:36] markatdxb opened #57210 "VMware: module to assign permissions on folders"
##### SUMMARY

Build new module allowing to assign VCS permissions on objects.
##### ISSUE TYPE
- Feature Idea
Currently we are able to create VM folders but unable to push VCS permissions
##### COMPONENT NAME

##### ADDITIONAL INFORMATION

Same concept as vmware_object_role_permission  - which work on ESXi level but have this for VCS

[code]

[2019-05-31 07:12] Fred-sun commented on #54440
@zikalino Are you still paying attention to this problem? Is there any new progress? Please help update! Thank you very much!

[2019-05-31 07:17] Fred-sun commented on #54138
@Wicaeed Are you still here? Could you can give a try? Thanks a lot!

[2019-05-31 07:52] justjais opened #57215 "nios_host_record modules fails with exception when trying to add record with same name"
##### SUMMARY

Nios host record fails with exception when trying to add new record with an already existing host record name when DNS bypass is set to False.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nios_host_record
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macos

##### STEPS TO REPRODUCE

- Add new host record with `test.ansible.com` on ip 192

[2019-05-31 08:06] jalbstmeijer commented on #57062
@samdoran Sure, removing this file would be a quick workaround for now.

Do you consider this a bug? or at least a very loose/fuzzy method of determining the OS version? will it be handled as such?

As mentioned twice,  ' ansible  -m setup' produces the correct ansible_distribution_major_version.

But looking at it again, I see it depends on if you run it as root or not.
This due the permissions o

[2019-05-31 08:07] Fred-sun commented on #52082
@yungezz Please take a look this issue when you're free! Thank you very much!

[2019-05-31 08:08] Fred-sun commented on #52068
kindly ping

[2019-05-31 08:16] Fred-sun commented on #53299
@yuwzho Are you still paying attention to this question? Could you please update the repair status of the problem? Thanks a lot!

[2019-05-31 08:25] lconnell commented on #56732
Yes, I am setting a token. I will try again without the token. Thanks

On Thu, May 30, 2019 at 2:41 AM Eduardo <notifications@github.com> wrote:

[2019-05-31 08:44] maxd commented on #57196
I have read your discussion. Looks like there are no chances to promote this feature with `omit`.

I have decided that I will use hacks or something like that to remove empty elements:

[code]

Ansible full of "such hacks" and yet one doesn't make it even worse 😞

[2019-05-31 08:44] #57196 closed, assigned to nobody

[2019-05-31 09:45] rosmo commented on #56844
Can_ you give this branch a go: https://github.com/rosmo/ansible/tree/glusterfs-56844

[2019-05-31 09:59] emper0r commented on #57171
Hi @jhawkesworth ,
Didn't work,.. maybe this would be more usefull to understand.

try this:

https://codebeautify.org/Xpath-Tester

xml input:

<configuration>
 <runtime>
   <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
     <dependentAssembly>
       <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" />
       <bindingRedirect oldVersion="5.2.7.0" newVersion="6.10

[2019-05-31 10:01] kluner commented on #56844
works for me on both python 2.7.16 and 3.7.3, thanks!!

[2019-05-31 10:32] #56430 closed, assigned to nobody

[2019-05-31 11:01] vladimirtiukhtin opened #57220 "Ansible ignores ssh configuration environment variables"
##### SUMMARY
[Documentation](https://docs.ansible.com/ansible/latest/plugins/connection/ssh.html) specifies many environment variables which should be accepted by Ansible. In fact just few of them works, most not

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ssh

##### ANSIBLE VERSION
I tried this on 2.7 and 2.8

##### STEPS TO REPRODUCE
export ANSIBLE_SSH_COMMON_ARGS='-o ServerAliveInterv

[2019-05-31 11:18] wtout commented on #57072
@goneri, I confirm that #57185 resolved my problem. Thank you

[2019-05-31 11:56] justjais commented on #56300
@denngie I have raised a PR #57221 to fix the respective issue, once merged in `devel` shall create a backport to `2.8`.

[2019-05-31 12:04] qchn commented on #37319
Hey guys, any update on this? We'd really favor to have this feature! :-)

[2019-05-31 12:18] hypemedia opened #57224 "VMware: Ansible and vSphere Automation SDK is not working."
##### SUMMARY
I am trying to use ansible on a vcenter using pyvmomi. But ansible don't sees the pyvmomi as beeing installed.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
The problem component is vmware_vm_inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS 10.14.5

[code]

##### STEPS TO REPRODUCE
I am running the yaml bellow:
 ansible

[2019-05-31 12:21] webknjaz commented on #49284
Here's what I've got:
[code]
(getgid/getgroups are different from what's in the initial report and also zip archive privileges are different meaning other umask)

[2019-05-31 12:26] webknjaz commented on #49284
Running the playbook multiple times succeeds (Ansible 2.8).

[2019-05-31 12:32] webknjaz commented on #49284
Not reproducible under Ansible 2.7/2.6.

[2019-05-31 12:50] christ2016 opened #57226 "In my environment, Juniper networking stopped working between 2.7.11 and 2.8.0"
##### SUMMARY

Running 2.7.11 -> All my Juniper playbooks work fine (one particular class fails occasionally)
Running 2.8.0 -> My devices error with either:
[code]
Or:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`lib/ansible/modules/network/junos/junos_facts.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

All Juniper devices

##### STEPS TO

[2019-05-31 13:12] bcoca commented on #57204
@fbruetting normally the error you get on 'missing password'  would look like 'Timeout waiting for privilege escalation ...' . When you get MODULE_FAILURE it is indicative of a bigger issue, you should also be getting stdout/stderr output from that modules, but you don't include that above.

needs_info

[2019-05-31 13:30] bkmeneguello commented on #56600
I'm with a similar problem. I noticed "update" and "clone" are mutually exclusive, but they shouldn't. If VM exists, "clone" should always be ignored. So only when creating a new VM "clone" should be used.

[2019-05-31 13:38] webknjaz commented on #51758
Cannot reproduce this via `ansible debian9 --connection docker -i debian9, -m apt -a 'name=libncurses-dev state=latest default_release=stable'` with Ansible devel.

[2019-05-31 13:40] richardcs commented on #57171
Unfortunately that namespace propagates down through the XML fragment so you'd have to use something like:

/configuration/runtime/*[local-name() = 'assemblyBinding' and namespace-uri() = 'urn:schemas-microsoft-com:asm.v1']/*[local-name() = 'dependentAssembly' and namespace-uri() = 'urn:schemas-microsoft-com:asm.v1']/*[local-name() = 'bindingRedirect' and namespace-uri() = 'urn:schemas-microsoft-c

[2019-05-31 14:22] aamkye opened #57230 "RDS module does not support aws_security_token/aws_session_token from MFA authorized credentials."
##### SUMMARY

I cannot operate in `rds` module using MFA generated credentials.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

rds

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 19.04
Python 3.7
boto 2.49.0
boto3 1.9.159
botocore 1.12.159

##### STEPS TO REPRODUCE

Have MFA configured credentials in `~/.aws/credentials` and try to remove RDS sna

[2019-05-31 15:07] ssbarnea commented on #56930
What was the reasoning behind dropping the dash from group names? I really struggle to find good reason for that, especially as this will require lots of code refactoring.

[2019-05-31 15:09] kbreit opened #57233 "New module - meraki_management_interface"
##### SUMMARY
Meraki recently added support for management interface settings via their API. A module should be created to allow configuration of these settings.

https://dashboard.meraki.com/api_docs#update-the-management-interface-settings-for-a-device

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2019-05-31 15:15] sivel commented on #57226
!component =lib/ansible/modules/network/junos/junos_config.py

[2019-05-31 15:17] kinwolfqc commented on #44374
@bcoca Do you have an example or a link to help on doing what you described?  I am looking in the doc but can't figure out how this is done.

[2019-05-31 15:29] agowa opened #57234 "VMware Tools Connector does not support pipelining"
##### SUMMARY

The vmware_tools connector has self.has_pipelining set to true, even though pipelining is not supported. Therefore all plays fail with invalid command that try to use pipelining.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

lib/ansible/plugins/connection/vmware_tools.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ArchLinux

##### ST

[2019-05-31 15:30] amitswt opened #57235 "ACI exiting config validations and stop further script accordingly"
##### SUMMARY
I have created my playbook for day to day activities like edge port configurations , most of interface modules merge the configurations  to exisitng configurations.

I need help how i can validate if there is existing IPG/BD/EPG with same name and if its there do not go ahead and  merge configurations to existing IPG/BD/EPG as per new IPG/BD/EPG creation playbook. So want to avoid co

[2019-05-31 15:32] bcoca commented on #44374
Just `- template: src=requirements.j2 dest=requirements.yml`

[2019-05-31 15:35] corben2 commented on #57224
I had the same problem. I fixed it by uninstalling Ansible with brew and then installing with pip3 by running `pip3 install ansible --upgrade`.

[2019-05-31 15:44] #53308 closed, assigned to Qalthos, ganeshrn

[2019-05-31 15:53] andrewrothstein commented on #56713
me three. I use with_first_found heavily.

[2019-05-31 15:56] sivel commented on #56930
@ssbarnea For one thing, we are making a push to only allow variable names, and other similar keys, that are valid python identifiers.  To explain a little further about group names, it causes a problem for users trying to use "dot syntax" such as `groups.foo-group`, which doesn't do what the user expects.  The number of issues and support requests caused by small problems like these has caused us

[2019-05-31 16:04] kinwolfqc commented on #44374
Well, that is simple enough...  Thanks!  That actually gave me just enough info to tweak my research and find the info that allowed me to build a working proof of concept.  We can now have different "requirements.yml" depending on the environment where the playbook is deployed

[2019-05-31 16:06] #25699 closed, assigned to nobody

[2019-05-31 16:47] svanschalkwyk opened #57239 "Python 3.7.1 "dict object' has no attribute \"dict_keys(['...""
https://github.com/elastic/ansible-elasticsearch/issues/570
Env:
Python 3.7.1
4.4.0-62-generic
ansible-elasticsearch (https://github.com/elastic/ansible-elasticsearch)

elasticsearch-security-file.yml, line 73:
`"#Set passwords for all users declared - Required as the useradd will not change existing user passwords
name: Set User Passwords
become: yes
command: >
{{es_home}}/bin/{{es_xpack_users_co

[2019-05-31 16:59] kinwolfqc commented on #44374
Thanks, I managed to make this work with pure ansible, but not with AWX because of the way it deal with requirements.yml.  So we are back to step 1 :(

[2019-05-31 17:35] hypemedia commented on #57224
Hi,
I did tried to uninstall ansible from brew and from pip and installed pyvmomi and ansible with pip3 but no change. The result is the same

[2019-05-31 17:38] caleb-s-cullen commented on #56930
What must we do to opt out of this functionality?  Our local Ansible deployment scripts are littered with hyphen-containing group names.  We don't use them with dot notation, of course.  But changing all of them would be a truly monumental task.  I would prefer to opt out and at the same time encourage my team to avoid using hyphens in the future and where possible to convert hyphens to underscore

[2019-05-31 18:28] ninthnails commented on #57189
There seems to be a bug also when there isn't any lock and the yum action complete successfully. The task always fails with `yum lockfile is held by another process`

I do a `wait_for` for the yum lockfile before installing packages and I **don't** specify `lock_timeout`, still failing. Enable verbose shows
[code]
Using latest 2.8 version on Amazon Linux with Python 2.7.14.

[2019-05-31 18:59] basictheprogram opened #57243 "Object reference not set to an instance of an object"
##### SUMMARY

Attempting to use win_chocolatey to remove a package and an error message is returned "Object reference not set to an instance of an object"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Management host: macOS 10.14.5
Managed host: Windows Server 2016

##### STEPS TO REPRODUCE

[2019-05-31 19:04] fabianvf commented on #55380
@gandhiano Is this working for you now in 0.8.8? It should auto-expire the cache if it was created by a different version of the library now.

[2019-05-31 19:37] geerlingguy opened #57244 "New module - DigitalOcean Kubernetes Cluster"
##### SUMMARY
Add a new `digital_ocean_kubernetes_cluster` module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
N/A (new module)

##### ADDITIONAL INFORMATION
DigitalOcean allows management of managed Kubernetes clusters via the v2 API: https://developers.digitalocean.com/documentation/v2/#create-a-new-kubernetes-cluster

It would be nice if I could manage clusters in a DigitalOcean acco

[2019-05-31 19:51] jhawkesworth commented on #57171
Yes, @richardcs is of course correct, I'd missed that there's a namespace in your xml.
You might be able to get away with just using `//@newVersion` as your xpath.
Also my changes are not in 2.8, they are in latest devel version of ansible, sorry for suggesting latest release version.

I have tested with @richardcs 's xpath and also '//@newVersion' against latest devel and the attribute does get c

[2019-05-31 19:51] #57171 closed, assigned to nobody

[2019-05-31 19:56] basictheprogram commented on #57243
## Choco
  * https://github.com/chocolatey/choco/issues/1839
  * https://github.com/chocolatey/choco/issues/1837

[2019-05-31 20:11] jborean93 commented on #57243
Yep this is a problem in the latest chocolately release as per https://github.com/chocolatey/choco/issues/1837. Nothing we can do here.

You can currently control what version of chocolately is bootstrapped by running

[code]

The above won’t help if Chocolately is already installed though. There’s nothing we can do but wait for the new release.

[2019-05-31 20:11] #57243 closed, assigned to nobody

[2019-05-31 20:11] mariolenz commented on #57224
[pyVmomi](https://github.com/vmware/pyvmomi) and the [vSphere Automation SDK](https://github.com/vmware/vsphere-automation-sdk-python) are two different things. I don't know why VMware has them both, but I know this: I'd like ansible to stick with pyVmomi because you can get it from PyPi. A dependency on the vSphere Automation SDK is just an unnecessary nuisance.

[2019-05-31 20:30] bcoca commented on #56788
easiest fix, make them 'non string' since they accept boolean OR string

[2019-05-31 20:45] igorhara opened #57247 "ec2_group - error when trying to update a security group with an ELB rule"
##### SUMMARY
We have a task that reconfigures the security groups forcing it to have only the rules we defined in ansible. one of the rules is to a amazon-elb:
[code]

If the rule does not exist in AWS it creates correctly. But if it exists it tries to revoke passing some invalid parameter causing this error:
`"msg": "Unable to revoke ingress rules: [{'ToPort': 80, 'IpProtocol': u'tcp', 'UserIdGr

[2019-05-31 21:13] PgInsight opened #57248 "ansible_playbook does not remove tmp folder and AnsiballZ_setup.py upon playbook completion"
##### SUMMARY

Running ansible-playbook on a local playbook leaves the AnsiballZ_setup.py in .ansible/tmp/xxx directory.  fills up partition.  Gather facts stage does not clean up tmp folder created.

252K    ./ansible-tmp-1558487422.92-213402409754226
252K    ./ansible-tmp-1558487423.6-149739088116744
252K    ./ansible-tmp-1558487424.94-170606399596096
252K    ./ansible-tmp-1558487426.76-59447206

[2019-05-31 21:15] dglinder commented on #24004
For those like me who keep getting this page in their searches, in Ansible 2.7 the `download_only:` option has been added: https://docs.ansible.com/ansible/2.7/modules/yum_module.html

[2019-05-31 21:48] MarkusTeufelberger commented on #24004
And for everyone else in the future: https://docs.ansible.com/ansible/latest/modules/yum_module.html

[2019-05-31 22:55] #43404 closed, assigned to nobody

[2019-06-01 00:17] fbruetting commented on #57204
Due to the `-vvv` I got a pile of blue colored text (if you mean that), which does not appear without the verbose switches, but nothing else printed normally.

My intend is to improve the user experience for novice users, because the above mentioned error message (without verbose switches) points the user into the wrong direction. So the advice for looking into the verbose output does not help, be

[2019-06-01 00:30] willthames commented on #57230
Use rds_instance rather than rds.

rds_instance is a rewrite of rds for boto3 which supports newer authentication methods.

[2019-06-01 00:30] #57230 closed, assigned to nobody

[2019-06-01 00:35] bcoca commented on #57204
please post the 'blue text' so we can verify the problem is what you state, as i said above, that is not the normal message you should get on missing passwords.

needs_info

[2019-06-01 00:44] fbruetting commented on #57204
Here it is, I just replaced the hostname and host-FQDN. In line 43 you see that “a password is necessary”, but this error doesn’t get forwarded to the final error message which is displayed without using `-vvv`.

[code]

[2019-06-01 01:30] saito-hideki opened #57254 "Docs: Clarify azure system permission info to manage Azure by azure_* modules"
##### SUMMARY

It would be better to clarify about requirements of Azure system permission to manage Azure system by azure_* modules for the requirements section of the official [Microsoft Azure Guide](https://docs.ansible.com/ansible/latest/scenario_guides/guide_azure.html#microsoft-azure-guide)

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
- docs

##### ANSIBLE VERSION

[code]

[2019-06-01 02:06] ptux commented on #56716
@samdoran

I'd like to fix this.

[2019-06-01 02:34] cwegener commented on #57243
@basictheprogram @jborean93 There is a 0.10.15-beta version available for your testing

https://chocolatey.org/packages/chocolatey/0.10.15-beta-20190531

[2019-06-01 02:40] #56987 closed, assigned to Akasurde

[2019-06-01 07:55] h-r-k-matsumoto opened #57265 "gcp_container_cluster module gives error: KeyError: 'zone'"
##### SUMMARY
If run playbook with  the target cluster not exist,  I am getting errors.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_container_cluster

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing.
[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (Core).
Running on GCE Instance.

##### STEPS TO REPRODUCE

Create any cluster configuration.
[code]
There is no

[2019-06-01 11:29] ShachafGoldstein commented on #44450
I think this might be because of %SystemRoot% not being converted to its value, so the comparison will always be as a new rule - haven't seen the actual line yet though

[2019-06-01 12:06] ShachafGoldstein commented on #43612
If you set a username in parameters, do you get the same issue for that task?

[2019-06-01 12:32] pratikgadiya12 commented on #43424
@bmalynovytch : I don't any use case where we would need to change this behavior for now. I think we are good with the patch.

Adding "shipit" to the PR

[2019-06-01 12:42] ShachafGoldstein commented on #43309
Changing the module to use those will need a lot of work and will complicate it too much.
Should be a new module of website properties

[2019-06-01 15:22] Akasurde commented on #57234
resolved_by_pr #57237

[2019-06-01 15:30] Akasurde commented on #57224
pyVmomi is SOAP based API binding for Python whereas vSphere Automation SDK is REST based API interface. Latest features like tagging, content library etc. are supported via vSphere Automation SDK only. pyVmomi does not support these features so in order to support `tagging` feature in vmware_vm_inventory Ansible requires vSphere Automation SDK.

I am aware that vSphere Automation SDK installation

[2019-06-01 15:32] Akasurde commented on #57224
!component =lib/ansible/plugins/inventory/vmware_vm_inventory.py

[2019-06-01 15:44] Akasurde commented on #57195
@basictheprogram Thanks for reporting this issue. I think Python version on managed node is 2.6 which is not supported by Ansible. Please upgrade and re-try. Thanks.

needs_info
verified

[2019-06-01 16:15] #44978 closed, assigned to nobody

[2019-06-01 16:28] mariolenz commented on #57224
In that case, I apologize. I didn't know that some features are available only through the REST API. I honestly thought you could use the SOAP API for everything.

[2019-06-01 17:46] #29985 closed, assigned to nobody

[2019-06-01 18:05] #15794 closed, assigned to nobody

[2019-06-01 20:18] #30775 closed, assigned to nobody

[2019-06-01 20:18] #28688 closed, assigned to nobody

[2019-06-01 21:47] agowa opened #57271 "Vault cipher whitelist error"
##### SUMMARY

The former "AES" cipher is still whitelisted as acceptable cipher within the vault module, even though the implementation has been removed. This could cause undefined behaviour, in some code paths.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

`lib/ansible/parsing/vault/__init__.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ArchLin

[2019-06-01 21:51] m-equinox commented on #53907
Same issue here on Ansible 2.8.0 too :(

[2019-06-01 22:10] agowa338 commented on #57271
resolved_by_pr #57272

[2019-06-02 06:27] tariqg11 commented on #55638
I am seeing same issue on CentOS 7, even after epel-release installation I get this error.

[2019-06-02 11:13] askhari commented on #56732
Hello @lconnell ,

The issue with the token ended up being a bug in the python-consul module v1.1.0 (it's solved in the master branch of python-consul).

To test it I setup the following environment:

- python 2.7.13
- ansible 2.8.0
- virtualenv with python-consul installed (it installed version 1.1.0)
- Consul 1.5.1 with ACLs enabled in allow mode (I just wanted to test how the token traveled fro

[2019-06-02 12:13] Akasurde commented on #57224
@mariolenz Its OK. @hypemedia Let me know if it is OK to close this issue. Thanks.

[2019-06-02 12:46] felixfontein opened #57274 "Amazon cloud _facts modules need to be renamed to _info"
##### SUMMARY
Modules should only be called `_facts` if they return `ansible_facts`, and `ansible_facts` should only be used for system-specific information. Information on cloud providers is not system specific. (See #54280 and [this checklist](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements).) Since this has only

[2019-06-02 12:46] felixfontein opened #57275 "Azure cloud _facts modules need to be renamed to _info"
##### SUMMARY
Modules should only be called `_facts` if they return `ansible_facts`, and `ansible_facts` should only be used for system-specific information. Information on cloud providers is not system specific. (See #54280 and [this checklist](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements).) Since this has only

[2019-06-02 12:46] felixfontein opened #57276 "Digital Ocean cloud _facts modules need to be renamed to _info"
##### SUMMARY
Modules should only be called `_facts` if they return `ansible_facts`, and `ansible_facts` should only be used for system-specific information. Information on cloud providers is not system specific. (See #54280 and [this checklist](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements).) Since this has only

[2019-06-02 12:46] felixfontein opened #57277 "Google cloud _facts modules need to be renamed to _info"
##### SUMMARY
Modules should only be called `_facts` if they return `ansible_facts`, and `ansible_facts` should only be used for system-specific information. Information on cloud providers is not system specific. (See #54280 and [this checklist](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements).) Since this has only

[2019-06-02 12:46] felixfontein opened #57278 "VMware cloud _facts modules need to be renamed to _info"
##### SUMMARY
Modules should only be called `_facts` if they return `ansible_facts`, and `ansible_facts` should only be used for system-specific information. Information on cloud providers is not system specific. (See #54280 and [this checklist](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-to-ansible-objective-requirements).) Since this has only

[2019-06-02 13:31] hypemedia commented on #57224
Hi yes this one can be closed. VMware vSphere Automation SDK for Python is not installing but I will open a ticket with them. On the other hand on the ansible documentation should be specified that VMware vSphere Automation SDK for Python needs to be installed. Thanks all for the assistance.

[2019-06-02 13:32] #57224 closed, assigned to Akasurde

[2019-06-02 15:02] Akasurde commented on #57224
@hypemedia I created PR #57280 for installation guide in vmware inventory docs. Please go through it and let me know if it works for you. Thanks.

needs_info

[2019-06-02 15:32] hypemedia commented on #57224
Thank you for the documentation update. Is not working for me but is related to the Vmware SDK and not Ansible. I have opened a ticket with them [#157](https://github.com/vmware/vsphere-automation-sdk-python/issues/157)

[2019-06-02 16:15] mtorelli commented on #41752
The request is to expose the two attributes "ownerKey" and "ownerTag" in all modules whose objects have those attributes.  Below is the fvAp class which is just one example where they exists.

[code]
Something like the following changes should make it work for the aci_ap module.
[code]

[2019-06-02 17:05] ShachafGoldstein commented on #56757
I think that if we change it to check for APPLICATION PACKAGE AUTHORITY before the '\' it might work

@geoside - can you confirm `APPLICATION PACKAGE AUTHORITY` is not being translated?

[2019-06-02 17:37] ShachafGoldstein commented on #50601
https://github.com/ansible/ansible/blob/012609b09af00de13e50fc25713594e46c490bdf/lib/ansible/modules/windows/setup.ps1#L206
That fact is statically set.

Can you give a verbose output?  `-vvv`

[2019-06-02 19:17] texanerinbayern commented on #40564
After doing some more researching I found one bit of information that helped me... The NICs stay disconnected until the customization is successfully completed. I found my problems in each OS (CentOS and Ubuntu) and after those were successful the NICs were connected!

[2019-06-02 19:29] ShachafGoldstein commented on #49327
Seems like this is the offending line, The format here `s` is removing the timezone part of the string
https://github.com/ansible/ansible/blob/012609b09af00de13e50fc25713594e46c490bdf/lib/ansible/modules/windows/win_scheduled_task.ps1#L749

Changing the format to `"yyyy-MM-dd'T'HH:mm:ssK"` should solve this, ill Make a PR for this later

[2019-06-02 20:55] mamullen13316 commented on #55248
@vmwjoseph @Akasurde It isn't clear why changing the permissions on the parent folder of the DVS rather than the DVS would be incorrect.  Possibly that is because the user would expect to see the permissions created on the DVS and would be confused as to why they aren't getting created there?  Rather than removing the DistributedVirtualSwitch option,  could it be changed to DistributedVirtualSwitc

[2019-06-02 21:11] gonciarz opened #57283 "pacman should report no change when updating a cache and no change was detected"
##### SUMMARY
pacman should report no change when updating a cache and no change was detected

##### ISSUE TYPE
- Feature Idea / bug

##### COMPONENT NAME
pacman module

##### ADDITIONAL INFORMATION
I strongly believe that if we update a cache (pacman -Sy) and pacman detects that local mirror is up to date, ansible shouldn't report a change. At the moment it doesn't matter.

As a workaround I need

[2019-06-02 21:30] hryamzik commented on #57243
[code]

[2019-06-02 21:37] jborean93 commented on #57243
@hryamzik the `useEnhancedExitCodes` doesn't need to be set, we support that in all the latest releases.

[2019-06-02 21:50] vaclavmiller commented on #56872
Hello, we are getting the same error for CNAME records with Ansible 2.8, it is not idempotent anymore ad we have to use "ignore_errors: true".

At Ansible 2.7 module behavior was correct, task was skipped in case item record existed.

[2019-06-02 21:59] hryamzik commented on #57243
That's still required on `2.7.9`, I didn't update to `2.8` yet.

[2019-06-02 22:02] jborean93 commented on #57243
It is in the [2.7.10](https://github.com/ansible/ansible/blob/stable-2.7/changelogs/CHANGELOG-v2.7.rst#v2710) and [2.6.16](https://github.com/ansible/ansible/blob/stable-2.6/changelogs/CHANGELOG-v2.6.rst#v2616) releases as well as `2.8.x`.

[2019-06-02 22:43] lconnell commented on #56732
@askhari Thank you so much for your prompt responses and investigation into this issue. Very much appreciated.

[2019-06-03 00:05] bhundven commented on #54621
This seems to be in devel https://github.com/ansible/ansible/commit/5005c353ef1c64a5a224a074eeed02bd7f8eddff

[2019-06-03 00:25] Im0 opened #57284 "unable to elevate privilege to enable mode, at prompt [None]"
##### SUMMARY

When trying to use `ios_facts` to gather facts from the device, it fails with a timeout when trying to become using `enable`.   It fails with the same error when trying `ios_config`.

Similar issue to #53525.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

plugins/connection/network_cli.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

Local ansible.cfg includes:

[2019-06-03 00:26] lparkes commented on #55703
I have code for this although it only supports storage containers. Supporting storage policies in datastore clusters requires quite a bit of extra code and rework of current code to use new API calls for creating the VM. I _might_ also have code for datastore clusters knocking around somewhere although it will be unrelated to my code for storage containers.

[2019-06-03 00:33] lparkes commented on #55703
My code for storage polices is at https://github.com/lparkes/ansible/tree/feature-storage_policies. It does require https://github.com/lparkes/ansible/tree/feature-device_keys because even though the API contains no references to device keys, if you haven't set any then the storage policy API simply doesn't work.

[2019-06-03 00:58] Im0 opened #57285 "ansible_net_model not populated on stacked switch models"
##### SUMMARY

Upgrading from Ansible 2.7.10 to Ansible 2.8 appears to have changed how ios_facts gathers information for `ansible_net_model`.  If a switch is stackable switch, `ansible_net_model` is no longer populated.

Instead, a single element list `ansible_net_stacked_models` has the switch model in it.

Requesting either:
* 2.7 -> 2.8 porting guide be updated to inform people of this change

[2019-06-03 01:48] MyronFanQiu commented on #57275
@felixfontein Thanks for opening this issue! The PR https://github.com/ansible/ansible/pull/56502 is working on some modules in the list.

[2019-06-03 01:49] MyronFanQiu commented on #57275
@MyronFanQiu @yungezz @zikalino FYI.

[2019-06-03 02:43] adilio commented on #49327
Yes, was thinking the exact same!

In fact, my version was: `"yyyy-MM-ddTHH:mm:sszzz"` , but the `K` works as well.

Looks good to me, in our tests on this end. Thank you!

[2019-06-03 03:18] Akasurde commented on #57072
resolved_by_pr #57185

[2019-06-03 03:26] Akasurde commented on #56489
@adrianovieira Could you please check if gcc-c++ or development tools is installed on managed nodes ?

I can see an error message from `npm` - RHEL users please run: `yum install gcc-c++` and `yum groupinstall 'Development Tools'`

needs_info

[2019-06-03 03:26] saito-hideki commented on #56872
@Akasurde @Nosmoht @fxfitz @vaclavmiller
HI, I'm not 100% sure if it is the root cause of this issue, but I have found the following line in v2.8.0:

https://github.com/ansible/ansible/blob/stable-2.8/lib/ansible/modules/identity/ipa/ipa_dnsrecord.py#L249

[code]

Once I reverted above line to the same as stable-2.7, ipa_dnsrecord module worked as we expected:

https://github.com/ansible/ansible/b

[2019-06-03 03:38] #56963 closed, assigned to nobody

[2019-06-03 03:41] Akasurde commented on #56872
@saito-hideki Thanks for investigating, I will take a look and report back. Thanks.

[2019-06-03 03:43] Akasurde commented on #56872
Behaviour is introduced via https://github.com/ansible/ansible/pull/48157

[2019-06-03 03:50] Akasurde commented on #56489
After installing `gcc-c++` or group `Development Tools`, I get

[code]

and

[code]

[2019-06-03 05:48] mkrizek commented on #57239
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker:

   * https://github.com/elastic/ansible-elasticsearch/issues/570

If you can stop by the tracker or forum for one of those projects, we'd appreciate it.

Shou

[2019-06-03 05:48] #57239 closed, assigned to nobody

[2019-06-03 06:07] abhipsnl opened #57292 "DSL Linux - desired state configuration"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea
Currently there are no module for DSL in Linux hosts,I would like to start this project,May I know if someone already started this project.

##### COMPONENT NAME
dsl_linux

##### ADDITIONAL INFORMATION

[code]

[2019-06-03 06:25] martinm82 commented on #54541
The error returned seems to be intentional. Pinned packages are not upgraded at all except if you call `brew upgrade --ignore-pinned`

From `brew upgrade --help`:
[code]

To fix this issue the homebrew module should get support for the `--ignore-pinned` option.

[2019-06-03 06:41] michalss opened #57294 "NSUPDATE not working"
##### SUMMARY
Hi all,

I have a issue to make dns record in my win AD server. Im sugin kerberos because its more convinient and MS AD does not support tsig. With kinit standalone application nsupdate works ok, but with ansible module, im getting error below.. Please help.. I Also specified inventory like this

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/net_tool

[2019-06-03 07:02] emper0r commented on #57171
In fact we test it and works using the code of @richardcs suggest , we waiting the last release 2.9 with devel fixes. Thanks again for yours efforts and sorry by delay answer.

[2019-06-03 07:37] markuman commented on #52253
@anryko I made some more changes

[code]

update or delete a lambda target works for me now too.

[2019-06-03 07:53] Akasurde commented on #57294
@michalss Value for Zone is not a valid IP address "155.55.477.11", I agree it should return some meaningful error message rather than printing stack trace.

[2019-06-03 07:56] clammers commented on #57069
@trishnaguha could you reproduce the issue?

[2019-06-03 08:00] michalss commented on #57294
hmm u right but what about this
"msg": "Failed to create DNS record (rc: 5)"

[2019-06-03 09:05] pratikgadiya12 commented on #57159
@samdoran
As per your comment, I tried to reproduce this issue with Fedora as Docker host and the issue is not reproducible.

Here is the detailed output of the command

@oszi : Let us know if we you are still facing this issue

@Akasurde : Thanks for pointing this out for testing to me.

[2019-06-03 09:20] pratikgadiya12 commented on #57278
I would like to work on this

[2019-06-03 09:39] anryko commented on #52253
Nice! PR your changes to ansible/devel.

[2019-06-03 10:03] alvarolmedo opened #57301 "Module java_keystore cert_changed doesn't work correctly"
##### SUMMARY
java_keystore have a dependency with keytool (provided with java). The java_keystore module uses keytool for a lot things. One of this tasks is to get the cert stored in java keystore (the fingerprint exactly).
The java_keystore module have a function to check if a cert has changed (cert_changed) in order to import in the keystore (or not). The cert_changed function doesn't work corr

[2019-06-03 10:09] alvarolmedo commented on #57301
If you exectute keytool -list with verbose option you get all hashes and you can match by SHA1's fingerprint:
[code]

[2019-06-03 10:12] #56830 closed, assigned to nobody

[2019-06-03 10:14] #57172 closed, assigned to samdoran

[2019-06-03 10:15] pratikgadiya12 commented on #57278
!component +lib/ansible/modules/cloud/vmware/vmware_host_facts.py

[2019-06-03 10:32] alvarolmedo commented on #57301
The official doc of java11 shows that the new format by default is SHA256:
https://docs.oracle.com/en/java/javase/11/tools/keytool.html

[2019-06-03 10:36] ffdybuster commented on #57278
`vmware_host_facts` actually does return `ansible_facts`, so a simple rename won't do for that one.

[2019-06-03 10:45] pratikgadiya12 commented on #57278
@ffdybuster Thanks, I missed on that.

!component -lib/ansible/modules/cloud/vmware/vmware_host_facts.py

[2019-06-03 10:51] ffdybuster commented on #57278
@pratikgadiya12 no problem :) the other `_facts` modules which return `ansible_facts` but shouldn't (like `vmware_host_facts`) eventually also have to be fixed, but currently there's no good way to deprecate module return values.

[2019-06-03 11:14] wawrzek opened #57303 "Unarchive is not idempotent when 'owner' is set"
##### SUMMARY
Unarchive is not idempotence when owner parameter is different from root.  The problem was already indepently confirm on Ansible project mailing list (see thread https://groups.google.com/forum/#!topic/ansible-project/TOGxHqHdjlY)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
unarchive module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
"Ub

[2019-06-03 11:18] Akasurde commented on #55786
@kjw1 Could you please check if PR #57304 works for you and let me know ? Thanks.

[2019-06-03 11:18] Akasurde commented on #55786
resolved_by_pr #57304

[2019-06-03 11:59] adrianovieira commented on #56489
@Akasurde  Yes!
I believe everything is ok there.

If I manually execute `npm install fibers`, it is installed. But if try via *ansible npm module* it doesn't.

So, when I need to install `fibers` anywhere I do it manually. :(

[2019-06-03 12:50] joaopsys commented on #57048
Same thing happening to me after upgrading to Ansible 2.8

[code]
Getting

`fatal: [10.136.0.50]: FAILED! => {"changed": false, "module_stderr": "/home/jota/.ansible/tmp/ansible-tmp-1559565798.7853036-268572000671819/AnsiballZ_aci_config_snapshot.py:18: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses\n  import imp\nTraceb

[2019-06-03 13:10] pratikgadiya12 commented on #57276
I would like to contribute here as well

[2019-06-03 13:16] joaopsys commented on #57048
I see this is fixed in 2.8.1: #56039

[2019-06-03 13:17] gamuniz opened #57306 "VMware: vmware_guest module does not set network for RHEL 8 images"
##### SUMMARY

While using vmware_guest to provision RHEL 8 images the network configuration is being ignored.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7 control node

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Network is configured correctly

##### ACTUAL RESULTS

[2019-06-03 13:39] thedoubl3j commented on #51445
closing as #54801 addressed this issue per @lonico

[2019-06-03 13:39] #51445 closed, assigned to nobody

[2019-06-03 13:46] thedoubl3j commented on #51441
closing as #54801 addressed this issue per @carchi8py and @lonico

[2019-06-03 13:46] #51441 closed, assigned to nobody

[2019-06-03 13:49] JAGonzaleDiaz commented on #57243
Solution from hryamzik works perfect for me. Many thanks

[2019-06-03 13:59] sivel commented on #52717
This is now resolved in devel as part of https://github.com/ansible/ansible/pull/55953.

I will note that on Python versions with built in SSL validation, no temp file is written, so those versions will see a speed improvement. Python versions without SSL validation will see no improvement.

[2019-06-03 13:59] #52717 closed, assigned to jimi-c

[2019-06-03 14:25] Akasurde commented on #56489
@adrianovieira Ansible npm module is not anything different than `npm` command is doing.

[2019-06-03 14:32] #46356 closed, assigned to acozine

[2019-06-03 14:33] #46784 closed, assigned to acozine

[2019-06-03 14:36] sylviapossenau opened #57311 "Jinja2 no test named equalto"
##### SUMMARY
Trying to use the filter: selectattr('name','equalto',item.name) results in a TemplateRunTimeError

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Name: Jinja2
Version: 2.10.1
Summary: A small but fast and easy to use stand-alone template engine written in pure python.
Home-page: http://jinja.pocoo.org/
Author: Armin Ronacher
Author-email: armin.ronacher@active-4.com
License: BS

[2019-06-03 15:02] abottomsHarris opened #57313 "win_domain_membership - "System cannot find the file specified""
I searched 13 existing issues of this module and this seems to have same error output as mine:
https://github.com/ansible/ansible/issues/31218

##### SUMMARY
While attempting to join new PC to domain, instead receive cryptic error message. I have joined/unjoined domain manually via powershell without issue. Module correctly identifies (via green "ok") when it is joined to domain. Problem persists

[2019-06-03 15:15] abenokraitis commented on #56455
Unfortunately we can't test every software version for NX-OS at the moment, and have been focused on the Nexus product line. We hope to grow the compatibility matrix as we scale our testing infrastructure later this year.

[2019-06-03 15:16] helldorado commented on #56600
@mxkle @bkmeneguello fixe here #55874
Can you test and give a feedback ?

[2019-06-03 15:23] #55786 closed, assigned to Akasurde

[2019-06-03 15:44] jeff-cook commented on #54541
I did try using `install_options: ignore-pinned` but it looks like that is not passed to upgrades. Maybe we can look at adding `upgrade_options` to the module.

[2019-06-03 16:05] ian-kelling commented on #50102
pr #35985 did not fix this, but broke it in a new way. ansible_distribution_release is "Flidas" when it should be "flidas". Please reopen. Same steps to reproduce.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing relevant here.

[code]

##### OS / ENVIRONMENT

Same as original reporter
[code]

[2019-06-03 16:17] Akasurde commented on #57276
resolved_by_pr #57315

[2019-06-03 16:29] adrianovieira commented on #56489
That was I thought too, but I do think for fibers module are some hidden issue there which I didn't find, yet.

I just tried again using ansible-2.8 below playbook/command and I still get the same issue from ansible-playbook.

- this
[code]

[code]

- against this
[code]

[2019-06-03 17:47] thedoubl3j commented on #50260
closing per @lonico as it was fixed in #51181

[2019-06-03 17:47] #50260 closed, assigned to nobody

[2019-06-03 17:50] Kickimanjaro opened #57321 "mail module fails when using become"
##### SUMMARY

I want to run a task using the mail module that takes a file owned by a user (alice) and attaches it in a mail. This appears straightforward, but unfortunately fails and I cannot understand why the behavior of this module is different from the others as I have used the same `become` behavior for other tasks in this playbook.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mail

[2019-06-03 18:01] ian-kelling commented on #50102
I filed a corresponding bug in the upstream distro detection project:
https://github.com/nir0s/distro/issues/242

[2019-06-03 18:02] thedoubl3j commented on #51790
per @lonico and @carchi8py this was fixed with PR #49511. closing

[2019-06-03 18:02] #51790 closed, assigned to nobody

[2019-06-03 18:05] thedoubl3j commented on #50802
per @lonico @carchi8py and @angystardust this issue was resolved by pr #52300. closing

[2019-06-03 18:05] #50802 closed, assigned to nobody

[2019-06-03 18:11] nerzhul commented on #57294
hello, sorry but i never tested over Windows DNS. It works like a charm on bind and uses the DNS update protocol, maybe you can look at windows DNS logs it can help. I never heared about rc 5

[2019-06-03 18:17] thedoubl3j commented on #44710
per @carchi8py @lonico and @angystardust this issue was fixed with PR #50992. closing

[2019-06-03 18:17] #44710 closed, assigned to nobody

[2019-06-03 18:21] thedoubl3j commented on #52569
per @lonico this issue was fixed with PR #54610. closing

[2019-06-03 18:21] #52569 closed, assigned to nobody

[2019-06-03 18:49] mikewiebe opened #57322 "network_cli connection plugin performance issues"
##### SUMMARY
We have observed a significant performance degradation for the `network_cli` `ansible_connection` since Ansible release `2.6.1` testing using the nxos modules.

Opening this issue to investigate and determine what is causing the changes from release to release.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible_connection: network_cli

##### ANSIBLE VERSION
[code]

##### CO

[2019-06-03 18:49] mikewiebe commented on #57322
@trishnaguh @Qalthos FYI

[2019-06-03 19:10] thedoubl3j commented on #50932
per @carchi8py, this was fixed in 2.8 via PR #51181 but will not be backported to an earlier version. closing

[2019-06-03 19:10] #50932 closed, assigned to nobody

[2019-06-03 19:23] webknjaz commented on #54949
I think the reproducer should use `dnf` module directly to narrow down the call which produces that stdout output: https://github.com/ansible/ansible/blob/7b40b56/lib/ansible/modules/packaging/os/dnf.py#L1148

We may need to temporary patch stdout to catch that...

[2019-06-03 19:36] bkmeneguello commented on #56600
@helldorado Thanks for your effort, but unfortunately this don't fix my issue.
I'm trying to use "clone" and "update" in the same task, for example:
[code]

What I expect is, when "test" VM doesn't exists, "clone" is used to create it. But if it does exists, it's updated.
Let's suppose my "state" is "started" by the VM is stopped. I what it to start, or if some options has changed, I want it updat

[2019-06-03 20:13] erhudy opened #57323 "Ansible file module sometimes errors out with returncode -13"
##### SUMMARY
We have a deployment pipeline that uses containerized Ansible to run deployments. Occasionally this pipeline fails with errors like the below when running file module commands (in this case, creating a directory.
[code]
Re-running the same deployment often results in another failure at this same location, but not necessarily from the same node that failed previously. Most of the time

[2019-06-03 20:18] jamescassell commented on #56930
`export ANSIBLE_TRANSFORM_INVALID_GROUP_CHARS=never` or `export ANSIBLE_TRANSFORM_INVALID_GROUP_CHARS=ignore` -- the latter is not in the docs yet: https://github.com/ansible/ansible/pull/57318

[2019-06-03 20:21] Kickimanjaro commented on #57321
My bad, not a bug, I was just doing it wrong. Followed notes laid out here: https://stackoverflow.com/questions/46352173/ansible-failed-to-set-permissions-on-the-temporary?rq=1

Sorry if I wasted anyone's time.

[2019-06-03 20:21] #57321 closed, assigned to nobody

[2019-06-03 21:11] ReussDr commented on #57193
Finally got a chance to try this again and using become managed to get around the problem.  Thanks all.

[2019-06-03 21:11] #57193 closed, assigned to nobody

[2019-06-03 21:23] lonico commented on #50239
resolved_by 51976

[2019-06-03 21:27] lonico commented on #46529
resolved_by #51391

[2019-06-03 22:09] dw opened #57327 "lineinfile file descriptor leak since 2.7.0"
##### SUMMARY

Since 4b5b4a760c5, lineinfile module received some gentle refactoring that replaced an `fdopen()` call with a regular `open()`, causing the file descriptor returned by `mkstemp()` to remain unconsumed by some managed resource object, as it was previously with `fdopen()`.

https://github.com/ansible/ansible/blob/8cf6f56a0103c51e93de9e26ce1982ce4aeb7ba0/lib/ansible/modules/files/linei

[2019-06-03 22:45] #49453 closed, assigned to nobody

[2019-06-03 23:05] ferventcoder commented on #57243
@hryamzik As of 0.10.14 useEnhancedExitCodes is disabled by default - provided a user (or Ansible) has not explicitly set a feature, we can change the state of defaults in Chocolatey. Chocolatey v0.10.15 is now out, which fixes this issue. https://groups.google.com/forum/#!topic/chocolatey-announce/7VbIZTN1P4o

[2019-06-04 00:05] kyrofa commented on #22568
Two questions:

1. Why did the bot close an issue that still obviously effects people just because the OP didn't respond?
2. Why was the OP's response required at all?

[2019-06-04 00:08] erhudy commented on #57323
The robot appears to be going crazy.

[2019-06-04 00:11] jborean93 commented on #57323
bot_skip

[2019-06-04 00:11] jborean93 commented on #57327
bot_skip

[2019-06-04 01:14] jborean93 commented on #57311
bot_broken

[2019-06-04 01:34] maclarensg commented on #56983
@NilashishC
I set timeout to 60s, I don't think it is due to timeout. gathering facts alone also timed out.

[code]

[2019-06-04 01:36] geoside commented on #56757
Thank you for creating a patch.
When tested in my environment, it worked without any problems.

As long as `APPLICATION PACKAGE AUTHORITY` is confirmed, it will not be translated.

[2019-06-04 01:48] Tomorrow9 commented on #57306
Hi, @gamuniz, do you mean after VM creation from template and "wait_for_ip_address", the IP address is not the one you configured in the yml file? Only network not configured correctly? hostname, domain were configured as expected? Thanks.

[2019-06-04 02:37] Tomorrow9 commented on #42995
This will be added to "vmware_guest" after "PR #51120 VMware: add support for multiple CD-ROMs" merged. Thanks.

[2019-06-04 03:44] #57101 closed, assigned to trishnaguha

[2019-06-04 03:52] feisa commented on #56845
any update?

[2019-06-04 04:28] felixfontein commented on #56607
@lolcube any updates?

[2019-06-04 05:49] NilashishC commented on #56983
@maclarensg As the error message says you haven't set a value to `ansible_network_os` in group/host vars. Please go through [this](https://docs.ansible.com/ansible/latest/network/index.html). This will help you set up your environment before you execute networking playbooks.

[2019-06-04 05:51] NilashishC commented on #56983
[code]

[2019-06-04 05:51] #56983 closed, assigned to nobody

[2019-06-04 06:26] ShachafGoldstein commented on #57313
Are you renaming the machine while joining?
I see this error online when people rename and join at the same time without a reboot and I'm pretty sure there is a similier issue still open regarding the issue of rename and join together

[2019-06-04 07:00] ghost opened #57337 "Declaring a faulty variable in include_vars from a role corrupts hostvars, possibly manifesting itself much later in the playbook"
##### SUMMARY
Accessing `hostvars` triggers an inscrutable error akin to 'ValueError: u'my-first-host' is not in list'. We've bisected the issue and it turns out to be caused by an `include_vars` task that had executed much earlier, several roles before the error was raised. The error message provides no hint linking the proximate cause (accessing `hostvars`) to the root cause (faulty variable dec

[2019-06-04 07:40] gmkey commented on #34696
According to the documents and my findings, this has been added to the module since ansible 2.5 https://docs.ansible.com/ansible/2.5/modules/homebrew_cask_module.html

should be resolved.

[2019-06-04 07:49] Akasurde commented on #55204
@steven-cuthill-otm Could you please check if PR https://github.com/ansible/ansible/pull/55990 works for you and let me know ? Thanks

needs_info

[2019-06-04 07:49] Akasurde commented on #55204
resolved_by_pr https://github.com/ansible/ansible/pull/55990

[2019-06-04 07:50] Akasurde commented on #38033
@wknapik Could you please check if PR https://github.com/ansible/ansible/pull/55990 works for you and let me know ? Thanks.

needs_info

[2019-06-04 07:51] maclarensg commented on #56983
@NilashishC I've past the wrong output but the timeout error is still there as I commented.

I've setup all the neccessary network env and still doesnt work

[code]

[code]

[2019-06-04 07:51] Akasurde commented on #38033
resolved_by_pr #55990

[2019-06-04 07:51] gmkey commented on #29247
Per the docs of 2.2 this feature is present since 2.2 using the install_options.
https://docs.ansible.com/ansible/2.2/modules/homebrew_cask_module.html

This feature request should be resolved.

[2019-06-04 07:53] Akasurde commented on #55884
@kadaan Would you be interested in raising a PR with your findings, let me know ? Thanks.

needs_info

[2019-06-04 08:08] Akasurde commented on #54686
resolved_by_pr #57340

[2019-06-04 08:09] Akasurde commented on #54686
@Elsvent Could you please confirm if #57340 doc update works for you and let me know ? Thanks.

[2019-06-04 08:09] mkrizek commented on #57311
This does not seem like an Ansible issue but rather an issue with your environment:
[code]

[code]

[code]

[code]

IIRC `equalto` was added in Jinja2 2.8. Can you run the following commands on the controller (the machine your run `ansible` from) to see what the output is?
[code]

needs_info

[2019-06-04 08:12] mkrizek commented on #57311
A few related issues https://github.com/ansible/ansible/issues/49166, https://github.com/ansible/ansible/issues/31762, https://github.com/ansible/ansible/issues/10123.

[2019-06-04 08:17] Akasurde commented on #53536
resolved_by_pr #54435

[2019-06-04 08:17] Akasurde commented on #53536
@wknapik Could you please check if PR #54435 works for you and let us know ? Thanks.

needs_info

[2019-06-04 08:26] AceSlash commented on #56832
Looks like #16884

[2019-06-04 08:31] #54457 closed, assigned to Akasurde

[2019-06-04 08:37] gmkey commented on #48366
For what it's worth. Tried to replicate your issue with ansible v2.8.0 and virtual box 6.0.8. Not seeing the same behaviour. Ansible prompts for a password when installing virtual box. It seems it was resolved with this PR:
https://github.com/ansible/ansible/pull/46471

[2019-06-04 08:40] markuman commented on #41861
@jeevers I've pulled your last changes and found a bug.

[code]

The initial rollout works fine, but an update failes, because the `Values` key, is in another dictionary level.

[code]

See https://github.com/markuman/ansible/commit/d5295231999516acff439a51febce17d5e30c036
This branch based on your branch.

[2019-06-04 08:57] pratikgadiya12 commented on #43594
Let me try to reproduce this and fix it

[2019-06-04 09:09] oszi commented on #57159
I still have the issue but it probably has nothing to do with Fedora.
I tried using docker-in-docker to eliminate Fedora's moby-engine package. It does not work either.

[code]

Same thing happens as before. The following works fine:

[code]

A CentOS VM with `ssh` connection works fine. A CentOS container with `docker` connection does not.

[2019-06-04 09:15] oszi commented on #57159
I wanted to test this with a python 3 interpreter but I stumbled into something nasty...
The following also runs forever:
[code]

[code]

There is an ugly docker or storage bug here that somehow does not affect most installations.
I wonder what libraries could be causing this in CentOS images?
Feel free to close the issue if you agree that it is not related to ansible.

[2019-06-04 09:21] oszi commented on #57159
I wanted to test this with a python 3 interpreter but I stumbled into something nasty...
The following also runs for a very long time:
[code]

RPM transactions take excruciatingly long.
I wonder what libraries could be causing this in CentOS images?

I'm guessing ansible setup triggers the same docker or storage (overlay2) issue.
So feel free to close the issue if you agree that it is not related

[2019-06-04 09:28] rluisr commented on #50346
solved https://github.com/ansible/ansible/pull/51375

[2019-06-04 09:28] #50346 closed, assigned to nobody

[2019-06-04 09:38] JonasSchlaak opened #57342 "Please provide packages for python3 in PPA"
##### SUMMARY
Please provide packages built against python3 in Launchpad PPA repository.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
all

##### ADDITIONAL INFORMATION
Currently, all packages including Ansible 2.8 provided in the PPA require python-2.7 as dependency. Please provide packages which depend on python3 in the PPA. This would enable users to use Ansible on control machines wit

[2019-06-04 09:42] markuman commented on #52253
Yeah, but what about the `lambda_policy` stuff? :)  I try again on #ansible-aws on freenode. but the last time I get no response about this issue.
The documentation must also be expanded.

[2019-06-04 09:52] aamkye opened #57343 "`rds_subnet_group` does not support `region` from boto3 config file"
##### SUMMARY

While using `rds_subnet_group` with `profile` parameter, I still must provide `region` parameter to the module, because it cannot read it from `~/.aws/config`
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

rds_subnet_group
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 19.04
boto 2.49.0
boto3 1.9.159
botocore 1.12.159

##### STEPS TO

[2019-06-04 10:09] LucasBoisserie opened #57344 "gcp_compute dynamic inventory not working with auth_kind: application/machineaccount"
##### SUMMARY

Gcp_compute plugin inventory doesn't work when params auth_kind is not set to serviceaccount and service_account_file is defined.
The module accept others values for auth_kind ( application and machineaccount) which not working in ansible 2.8 and ansible devel

The bug was introduced by adding a required field on service_account_file params which not required with auth_kind others v

[2019-06-04 10:22] pratikgadiya12 commented on #57159
@oszi
I was able to build the Docker image from the steps supplied in the above comment https://github.com/ansible/ansible/issues/57159#issuecomment-498593018

It hardly took a min for me to build the entire image.

FROM centos:7
RUN yum -y install epel-release && yum -y install python36 && yum clean all

Also, I tried executing the command supplied in comment https://github.com/ansible/ansible/is

[2019-06-04 10:49] justjais commented on #56300
PR merged in `devel` and backported to `stable-2.8` queued for future release, so closing the bug.

[2019-06-04 10:49] #56300 closed, assigned to justjais

[2019-06-04 10:50] justjais commented on #57215
PR merged in `devel` and backported to `stable-2.8` queued for future release, so closing the bug.

[2019-06-04 10:50] #57215 closed, assigned to justjais

[2019-06-04 10:54] juanvalino commented on #56576
I have the same problem.

[2019-06-04 11:05] kvaps commented on #30411
I have the same problem with single task. Here is output with `ANSIBLE_DEBUG=1` (little redacted)

[code]

[2019-06-04 11:11] wawrzek commented on #57303
Thanks to comments on the mailing lists (https://groups.google.com/forum/#!topic/ansible-project/AyPau5c2QJM) I found that in ansible 2.7.10 following change (AFAIK applied on dev) fixes the problem.

--- unarchive.py.bak	2019-06-04 11:41:24.000000000 +0100
+++ unarchive.py	2019-06-04 11:46:27.000000000 +0100
@@ -316,7 +316,7 @@
         fut_owner = fut_uid = None
         if self.file_args['owner

[2019-06-04 11:46] ericzolf commented on #50905
It is to be noted that the issue #54519 and it's fix have to do with Python 3 vs. Python 2 and less with the version of Ansible, if this remarks might help fixing the current issue.

[2019-06-04 11:50] keilr opened #57350 "Unify implementation of tower_job_template and tower_workflow_template"
##### SUMMARY
Parameters of tower modules should be unified.

differing parameters:

| tower_job_template      | tower_workflow_template |
|-------------------------|-------------------------|
| ask_inventory           | _missing_                 |
| inventory               | _missing_                 |
| ask_extra_vars     | _missing_   |
| concurrent_jobs_enabled | allow_simultaneous      |
| su

[2019-06-04 11:56] thedoubl3j commented on #50239
closing per @lonico comment

[2019-06-04 11:56] #50239 closed, assigned to nobody

[2019-06-04 12:04] sradco opened #57351 "Regression when moving to ansible 2.8 when including a role that has a custom filter"
##### SUMMARY
Regression when moving to ansible 2.8 when including a role that has filter_plugins.
include_role now can't find the filter_plugins of the included role

##### ISSUE TYPE
- Bug Report
- Regression

##### COMPONENT NAME
include_role and filter_plugins

##### ANSIBLE VERSION
ansible 2.8

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
Add a playbook that includes

[2019-06-04 12:07] AsgerPetersen opened #57352 "postgresql_table fails on table in any other schema than public"
##### SUMMARY

In the module `postgresql_table` the test for existing table is hard coded to the schema `public`.

The module does not expose a `schema` parameter like the [postgresql_ext](https://docs.ansible.com/ansible/latest/modules/postgresql_ext_module.html) and [postgresql_privs](https://docs.ansible.com/ansible/latest/modules/postgresql_privs_module.html) modules.

It is possible to have t

[2019-06-04 12:07] oszi commented on #57159
I have no clue... I cancelled the build after ~15 minutes - by which time it only managed to successfully install one single package. (Non-CentOS images do not have this problem.)

I remember package managers having issues with overlayfs but that was years ago... I guess we can close and move this elsewhere when I'll have the time to dig to the bottom of it.

[2019-06-04 12:07] #57159 closed, assigned to nobody

[2019-06-04 12:08] keilr commented on #57350
#57225 and #56891 would partially fix this, but still not completely.

[2019-06-04 12:14] kvaps commented on #30411
BTW, I fixed this by adding into ansible.cfg:

[code]

[2019-06-04 12:36] Andersson007 commented on #57352
@AsgerPetersen , thanks for your feedback! I'll fix it as soon as possible

[2019-06-04 12:40] AsgerPetersen commented on #57352
@Andersson007 thank you for your work on this module!

[2019-06-04 12:47] sylviapossenau commented on #57311
[code]
The linked issues above all suggest upgrading jinja2 via pip, which I did before opening this issue. Pip installed version 2.10.1 of Jinja2, but as the python command suggests, there seems to be a 2.7.2 version somewhere on my system that gets precedence over the newer version.

Since I did not change any ansible configs, I guess my question is, what do I need to do that this newer version

[2019-06-04 12:49] Akasurde commented on #52942
resolved_by_pr #57346

[2019-06-04 12:55] al-x commented on #56930
Thanks, James. Since people are coming to this issue to follow-up on the warning message, I'm including information I think may be useful:

To disable the ≥2.10 group name auto-transformation more portably/permanently until such time as you may be ready to clear out invalid groups from your inventory, add `force_valid_group_names = never` to the `[defaults]` INI-section of `ansible.cfg`.

To see a

[2019-06-04 12:56] JulieCztd commented on #57048
When is 2.8.1 out? I got the same problem

[2019-06-04 13:08] abottomsHarris commented on #57313
Hello Shacha,

No, I have re-labelled the "domain-joiner" host instead of the actual hostname. It's a short and simple alphanumeric string with no special characters or spaces or anything of the like.

[2019-06-04 13:24] chrisvanheuveln commented on #57069
@trishnaguha @clammers I drafted a fix for this. I'll post a PR later today.

[2019-06-04 13:29] meons opened #57356 "vmware_guest_disk Either 'datastore' or 'autoselect_datastore' is required parameter while creating disk for disk index [0]."
##### SUMMARY

Unable to add virtual disk. I always get the same error message.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_disk – Manage disks related to virtual machine in given vCenter infrastructure

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

not relevant

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

Virtual h

[2019-06-04 13:36] ShachafGoldstein commented on #57313
I meant that if you change the hostname while also joining to the domain,
could be the cause.
can you try without the rename?

On Tue, Jun 4, 2019, 16:10 abottomsHarris <notifications@github.com> wrote:

[2019-06-04 13:46] Akasurde commented on #51646
@icicimov @igoratencompass Could you please try https://github.com/ansible/ansible/compare/devel...Akasurde:i51646?expand=1 and let me know if it works for you ? Thanks.

needs_info

[2019-06-04 14:05] mrgavinconway001 commented on #17324
Here's an example for Kubernetes tagging that worked for me;

[code]

Example ec2_tag command
[code]

[2019-06-04 14:07] jamesmontalvo3 commented on #57189
It'd be nice if there was a `default_package_lock_timeout` or something that could be added to `ansible.cfg`.

[2019-06-04 14:16] Akasurde commented on #47405
@JrodJ Could you please confirm if PR https://github.com/ansible/ansible/pull/53409 works for you and let me know ? Thanks

needs_info

[2019-06-04 14:22] Akasurde commented on #45043
Closing this issue as PR #49434 is merged. If issue persists, please feel free to re-open.

[2019-06-04 14:22] #45043 closed, assigned to nobody

[2019-06-04 14:27] Akasurde commented on #44505
As per https://github.com/ansible/ansible/issues/44505#issuecomment-415124537 closing this issue. Please feel free to open new issue, if problem persists. Thanks.

[2019-06-04 14:27] #44505 closed, assigned to nobody

[2019-06-04 14:28] anryko commented on #52253
IMHO, lambda policy update should be managed by `lambda_policy` module in the ansible role, written by the user. No need to merge domains here.
You should open a PR and continue discussions in PR comments. Reviewers will be much more knowledgeable about implementation details.

[2019-06-04 14:28] abottomsHarris commented on #57313
The hostname is not changing. I'm unclear on why you think it is?

[2019-06-04 14:34] machacekondra commented on #57351
Few more information. This worked in 2.7.11, doesn't work since 2.8.

Reproduction steps:

1. Create simple role
[code]

2. Add following tasks to main.yml
[code]

3. Craete the filter
[code]

4. Execute the playbook with including the role
[code]

[2019-06-04 14:36] amatacchieri commented on #56215
@pilou-  Not sure why we're try to assert the DNS resolution, when the issue is clearly not that. The TXT record resolved is matching the one requested in the challenged, as stated right in the error. The problem seems that the challenge data returned from acme_certificate module, seems to be different from the one expected by letsencrypt

[2019-06-04 14:38] ShachafGoldstein commented on #57313
that is what I asked, so the hostname you send to the parameter is the same as the current hostname of the machine and you simply want it to join the ad?

can you remove the hostname parameter and use only the required?

[2019-06-04 14:48] dxrpl commented on #53708
Thank you for response!

I wipe ramdisk before deleting but I have no idea how to ensure the file isn't copied to /tmp
Could you tell me some more about it? I haven't found any variable/argument in copy module to ensure the file is copied to destination directory only...
I guess that ls-ing in for loop inside /tmp is not reliable check method but I tested it and in fact there is no new files.

[2019-06-04 15:12] samdoran commented on #57220
This is being worked on in https://github.com/ansible/ansible/pull/55219.

[2019-06-04 15:16] samdoran commented on #57235
This is better addressed in IRC or the mailing list:

   * IRC: #ansible-network on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-04 15:16] #57235 closed, assigned to nobody

[2019-06-04 15:17] ssbarnea commented on #56930
I only find deprecation warning messages annoying when they do not provide a migration path. Considering that the space is limited and that the remediation is likely to need update I would find very useful to provide links to tickets which can document solutions, workarounds,...

An approach like this could save extra work needed for improving incomplete warnings messages as we would not have to u

[2019-06-04 15:18] s-hertel commented on #57247
cc @jillr @goneri @Akasurde

[2019-06-04 15:22] samdoran commented on #57248
Can you provide the output of `debug: msg="{{ lookup('config', 'DEFAULT_KEEP_REMOTE_FILES' }}"` added to the play?

needs_info

[2019-06-04 15:27] ghost opened #57361 "ansible_play_name outputs same as playbook's hosts"
##### SUMMARY
Special variable ansible_play_name outputs same as ansible_play_batch

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Special variables

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.6 (Maipo)

##### STEPS TO REPRODUCE
Run playbook with "ansible-playbook Monday.yml -DC -l 'cdl1-nags-01'" and access ansi

[2019-06-04 15:33] samdoran commented on #57271
We most likely needs tests around this and should issue in error or possibly a deprecation warning when we encounter vault files encrypted with AES.

[2019-06-04 15:38] samdoran commented on #57292
Feel free to start developing modules and reach out on IRC or the mailing list to see if others are interested:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-06-04 15:38] #57292 closed, assigned to nobody

[2019-06-04 15:39] DisSsha commented on #42057
Hello,

I can give you an example :

TASK [Ensure Radius servers are configured] ***************************************************************************************
changed: [SWI-SVB-S02]
changed: [SWI-SVB-S03]

Configuration on the switch :

aaa group server radius radius-server
  server 10.2.26.210
  server 10.8.26.210
  server 10.5.26.210

Ansible playbook :

    - name: Ensure Radius serve

[2019-06-04 15:40] priteau commented on #41240
I confirm that this bug is still present, including on 2.8.0. Can this issue be reopened?

[2019-06-04 15:46] samdoran commented on #57303
This was fixed in #43479, which is in Ansible 2.8 but has not been backported.

[2019-06-04 15:46] #57303 closed, assigned to nobody

[2019-06-04 15:48] samdoran commented on #57311
Per above discussion, this conversation is better continued on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-04 15:48] #57311 closed, assigned to nobody

[2019-06-04 15:49] webknjaz commented on #57311
[code]

[2019-06-04 15:50] 1efty opened #57362 "Setup is skipped when using tags with import_playbook"
##### SUMMARY

When using `import_playbook`, and referencing a tag within the imported playbook, setup is skipped.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

import_playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target: CentOS 7
Control: Fedora 30 & macOS 10.14

##### STEPS TO REPRODUCE

Create a playbook that uses `import_playbook` to impo

[2019-06-04 15:53] webknjaz commented on #57323
FTR signal 13 is SIGPIPE
[code]
(from `man 7 signal`)

[2019-06-04 15:54] sivel commented on #57323
Any time that you see a negative return code coming from Python, specifically when executing a subprocess, that indicates that the process was killed with that signal.  So -13 means that the process was killed with signal 13 which is SIGPIPE.

The underlying cause is something in your environment that is issuing a SIGPIPE to the process.

If you have further questions please stop by IRC or the mai

[2019-06-04 15:54] #57323 closed, assigned to nobody

[2019-06-04 15:56] lonico commented on #46384
Tracked internally with 1609

[2019-06-04 15:58] abottomsHarris commented on #57313
Edited above comment with re-run with hostname excluded as requested. Yes, I only want to join the host to AD. Is there anything else you'd like me to remove?

[2019-06-04 15:59] samdoran commented on #57342
This is currently being worked on.

[2019-06-04 16:03] sivel commented on #43585
Closing as per https://github.com/ansible/ansible/pull/57339

[2019-06-04 16:03] #43585 closed, assigned to nobody

[2019-06-04 16:22] Andrei-Stepanov opened #57365 "include_role runs in unexpected context"
##### SUMMARY

`include_role` uses variables from different context

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

https://docs.ansible.com/ansible/latest/modules/include_role_module.html

##### ANSIBLE VERSION

All, including ansible 2.8.0

##### CONFIGURATION

vanile

##### OS / ENVIRONMENT

Linux, tested with ansible from RPM and from pip install ansible

##### STEPS TO REPRODUCE

A play

[2019-06-04 16:28] acozine commented on #56110
Now backported to all maintained versions - see #56653 and #56654. Thanks @captainjs. If you still have concerns, bring them to the #ansible-docs channel on freenode IRC any time, or open a new issue with details.

[2019-06-04 16:28] #56110 closed, assigned to nobody

[2019-06-04 16:29] acozine commented on #54374
Backported to all currently maintained versions of the docs - see #56653 and #56654.

[2019-06-04 16:31] samdoran commented on #56716
@ptux Here's the research I did:

[code]

It may make sense to change the documentation on some of the values if there is no data to return in check mode.

[2019-06-04 16:32] mjmayer commented on #41861
I found an ancillary bug in lib/ansible/module_utils/aws/elbv2.py.
[code]
The current_rule priority coming back from boto is a string and the new_rule priority is an int. This causes identical rules to be marked as modified causing the module to not be idempotent.
Fixed in https://github.com/mjmayer/ansible/commit/6b74f5ccdea08100af133f3c4c1e16a5130d996b

[2019-06-04 16:34] acozine commented on #51992
Related to #56619.

[2019-06-04 16:45] #57327 closed, assigned to nobody

[2019-06-04 16:55] nsushkin opened #57368 "ec2.py does not make groups by region safe"
##### SUMMARY
When ec2.py makes groups by tag, instance type, and others, it uses to_safe function to make
the group name safe. But when it makes groups by AWS region, to_safe is not applied,
resulting in dashes in the group names because in AWS, regions contain dashes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

contrib/inventory/ec2.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATIO

[2019-06-04 17:31] dantech2000 commented on #57189
I would second this, it would make it a lot easier instead of having to edit hundreds of roles.

[2019-06-04 18:01] ShachafGoldstein commented on #38917
@jborean93 @dagwieers

Why not change it here to expand the vars? - It won't break other use cases that need unexpanded vars and solve it on a larger scale and future uses

https://github.com/ansible/ansible/blob/3fadf4a1cbfe64ad1827248c0e9b73a2b38093cf/lib/ansible/module_utils/powershell/Ansible.ModuleUtils.CommandUtil.psm1#L46-L53

[2019-06-04 18:17] lonico opened #57369 "na_ontap_export_policy_rule is not idempotent"
##### SUMMARY
Running the na_ontap_export_policy_rule  module multiple times is creating duplicate rule entries if the rule_index is not present and state is present.

This was an overlook on our side when fixing other issues in this module.  The current behavior mimics the ONTAP command line interface.  But in Ansible environment, we feel that we should be able to detect a rule already exists bas

[2019-06-04 18:52] #52942 closed, assigned to Akasurde

[2019-06-04 19:01] goneri commented on #54459
Done

[2019-06-04 19:01] #54459 closed, assigned to nobody

[2019-06-04 19:09] alanbchristie commented on #57189
Although the `lock_timeout` works I would vote to see a change to the package/yum behaviour in an attempt to get it back to the consistent stability present prior to v2.8.  If it can't be made to _just work_ then devise a built-in timeout that works most of the time that could be be tuned in `ansible.cfg`.

In my experience package/yum (pre v2.8) was completely reliable so I was taken by surprise

[2019-06-04 19:45] lonico commented on #57369
Tacked internally through 1615

[2019-06-04 19:46] keilr commented on #57350
I will add some more tests and create a PR within the next few days.

[2019-06-04 19:47] maxamillion commented on #57189
The `yum.conf` man page says the timeout defaults to 30 seconds. I'll get a PR in to set the default to that and get it backported.

[2019-06-04 19:48] carchi8py commented on #50439
I have NETAPP-1617 open for this story.

[2019-06-04 19:49] carchi8py commented on #49401
With ansible 2.9 we'll look to see if this is something we can do using the Rest API vs zapi's.

[2019-06-04 21:09] mjmayer commented on #41861
I did run into problems when using botocore 1.10.50 and boto3 1.7.50. I ran into this error.
[code]

It looks like https://github.com/jeevers/ansible/blob/alb_listener_actions_issue41861/lib/ansible/module_utils/aws/elbv2.py#L858-L867 is supposed to be catching the error. But the error botocore is spitting out is different than what the module is looking for. Upgrading botocore and boto3 got me ar

[2019-06-04 21:11] osayers opened #57375 "synchronize module broken in ansible 2.8"
##### SUMMARY
after upgrading to Ansible 2.8.0 tasks utilizing the synchronize module fail with "[Errno 32] Broken pipe" message
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION
ansible 2.8.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/osayers/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible py

[2019-06-04 21:20] tyler-8 opened #57376 "Netbox Inventory - Invalid query parameters applied to VM API call"
##### SUMMARY

When using the `query_filters` option and the `serial` filter, all virtual machines are returned due to `serial` not being a valid query filter (or field) for virtual machines. Netbox ignores invalid query parameters and returns all results matching the other (if any) filters.

The offending line is here: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/ne

[2019-06-04 21:21] sivel commented on #57351
I've verified this issue.  It does not manifest if the filter is used in module arguments such as with `msg` for `debug` but manifests with a task keyword such as `delegate_to`.

A git bisect indicates that it was introduced in 6069d09b9d7193a1896dfc2816e0e51833a53e6b

cc @pilou-

[2019-06-04 21:27] fbruetting opened #57378 "ansible-inventory doesn’t use unicode"
##### SUMMARY
Unicode content is output in a cryptic escaped form.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Fedora Silveblue 30

##### STEPS TO REPRODUCE

Put the example line `aäoöuüsß ansible_host=<FQDN>` in the hosts file and a variable like `ssh_öff_schlüssel: "/var/home/<USER>/.ss

[2019-06-04 21:27] sivel commented on #57361
This is expected.  `ansible_play_name` is not based off of the filename, but the `name:` inside the play itself.  When `name:` is not provided, it defaults to the hosts that it targets.

To have this be set to `Monday` you would need your play to look like:

[code]

Please also note that a playbook is the YAML file on your disk, which contains 1 or more plays.

If you have further questions please

[2019-06-04 21:27] #57361 closed, assigned to nobody

[2019-06-04 22:03] jamesmontalvo3 commented on #57189
@maxamillion thanks!

[2019-06-04 22:15] jeevers commented on #41861
I think with the Order key, we are able to catch that the version of boto is outdated by examining the api output, i'm not sure how to catch this particular issue before you submit the change through boto

[2019-06-04 22:20] jeevers commented on #41861
I incorporated both @markuman  and @mjmayer's elbv2.py fixes and the tests now pass for fixed-response and redirect actions. I think I am going to abandon the auth actions for now, it seems like every body in this thread needs to manage fixed-response and redirect actions

[2019-06-04 23:37] samerhaj commented on #54202
I agree this issue can be closed

[2019-06-04 23:39] maximede commented on #48823
Hello ! Would you accept a PR to backport the fix (#51521) in the `stable-2.5` branch ?

[2019-06-04 23:40] samerhaj commented on #54200
@mraineri I would expect GetHealthReport to return a list of health details for each "component". For instance, GetHealthReport for System should return the health status of ComputerSystem, Processor(s), Memory, Storage Controllers, NetworkAdapters. Users would like to know which specific device is in "bad" state, so just returning a health roll up of the System is not sufficient.

[2019-06-05 00:20] billdodd commented on #54202
resolved_by_pr #55433

[2019-06-05 00:24] #54202 closed, assigned to nobody

[2019-06-05 00:50] Im0 commented on #55919
Hello @frsauvage :)

The integration tests for this module have a pinned version of pika: `pika<1.0.0`

I believe there were some issues in testing when going to a more recent pika version.  Are you able to try pika version =< 1.0.0 ?

Regards,
Im0

[2019-06-05 00:57] Im0 commented on #55908
Hi @frsauvage

Do you mind showing me the content of item.value:

[code]

Do you receive an error?  If so, could you please share?

Does any data make it to rabbitmq?  If so, what does that look like compared to what is expected?

Thanks,
Im0

[2019-06-05 01:43] martinRibotDeBressac commented on #34566
I have a role that requires another role as a dependancy, but this role is called multiple times during the play and is not called at the start or at the end.

This would be a nice adition to have for ansible-galaxy install while avoiding execution at the start of the include_role. :smiley:

[2019-06-05 01:53] bpleines commented on #56930
I'd like to echo statement about the warning being generated by the [EC2 dynamic inventory script](https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/ec2.py). I noticed that there is an `ec2.ini` configuration setting to disable grouping hosts by instance_id (`group_by_instance_id = False`), but setting that didn't resolve the warning for me like I anticipated it would.

Any

[2019-06-05 02:58] Akasurde commented on #57356
!component =lib/ansible/modules/cloud/vmware/vmware_guest_disk.py

[2019-06-05 03:07] Akasurde commented on #28393
Module is present from Ansible version 2.4. Closing this issue as resolved. Please open a new issue if problem persists. Thanks.

[2019-06-05 03:07] #28393 closed, assigned to nobody

[2019-06-05 03:19] maxamillion commented on #57189
@jamesmontalvo3 certainly! Sorry for the disruption. It certainly wasn't intentional, just a naive oversight on sane defaults on my part.

[2019-06-05 03:29] Akasurde commented on #26959
Closing this issue as PR #39002 is merged. Please feel free to open a new issue. Thanks.

[2019-06-05 03:29] #26959 closed, assigned to nobody

[2019-06-05 03:31] Akasurde commented on #26958
@cahlchang Would you be interested in raising PR since you added check mode support fro `iam_role` ? Thanks.

[2019-06-05 03:36] Akasurde commented on #29355
I am not able to reproduce this in latest Ansible version. Please feel free to open a new issue if problem persists. Thanks.

[2019-06-05 03:36] #29355 closed, assigned to Akasurde

[2019-06-05 04:07] Akasurde commented on #29346
Closing this issue as PR https://github.com/ansible/ansible/pull/18999 is merged. If issue persists, please feel free to re-open.

[2019-06-05 04:07] #29346 closed, assigned to nobody

[2019-06-05 04:26] jamescassell commented on #56930
Sounds accurate to me. You should submit a docs PR with that info.

The undocumented `ignore` option provides this functionality. Docs PR here: https://github.com/ansible/ansible/pull/57318

Starting in 2.8.2, this deprecation warning will be squashed if you explicitly set any of choices.

[2019-06-05 04:34] Akasurde commented on #29638
Unable to reproduce since Helion Eucalyptus offering is stopped. Closing this issue. Thanks.

[2019-06-05 04:34] #29638 closed, assigned to nobody

[2019-06-05 04:49] Akasurde commented on #29912
`ec2_ami_find` is removed in Ansible 2.9. Please use `ec2_ami_facts` instead.

[2019-06-05 04:49] #29912 closed, assigned to Akasurde

[2019-06-05 04:50] Akasurde commented on #29798
ec2_ami_find is removed in Ansible 2.9. Please use ec2_ami_facts instead.

[2019-06-05 04:50] #29798 closed, assigned to Akasurde

[2019-06-05 05:20] Fred-sun commented on #57254
@saito-hideki Thanks for your contributor for ansible!
@yungezz Please help take a look this issue when you're free! Thank you very much!

[2019-06-05 05:40] mariolenz opened #57389 "vmware_cluster overrides "Define host failover capacity by""
##### SUMMARY
"Slot Policy" is the oldest way to specify the failover capacity. It has some disadvantages, that's why we use "Cluster resource Percentage". Unfortunately, vmware_cluster overrides this with "Slot Policy". I think we need something like `ha_failover_capacity_definition` where you can define `"slot_based"` and `"resource_percentage"`. Btw: I think vmware_cluster_facts doesn't even ga

[2019-06-05 06:01] maglub commented on #56930
Where does the ansible dev team discuss this type of decisions? It is very hard for us users to understand the reasoning to this. If it is pure "python style" reasoning, rather than a practical reasoning, it might be worth reconsidering? If a dash in group names break things in future releases of ansible, it might rather be a problem with the implementation, more than the naming of a group?

To me

[2019-06-05 06:47] Andersson007 commented on #57352
@AsgerPetersen https://github.com/ansible/ansible/pull/57391 I've fixed it.
Could you please look at this, try and, if it is OK for you, approve by comment with shipit

[2019-06-05 06:59] HaloGithub opened #57392 "Adding ipa_permission and ipa_privilege module."
##### SUMMARY
Currently there is ipa_role module can create or update FreeIPA role, but there is no module to create or update FreeIPA privilege and permission so that can make Role-Based Access Control complete.

I'm trying to implement these two modules.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- ipa_permission
- ipa_privilege

[2019-06-05 07:27] #55344 closed, assigned to nobody

[2019-06-05 07:30] ekartsonakis commented on #52977
Agree with @MartinSotirov . After all, everything are hosts.  It is better to use "Ansible server" and "targets/target hosts/remote hosts" to address this difference.

I spent one day trying to make docker modules to work because I didn't check the 3rd google result :(

[2019-06-05 07:41] markuman commented on #52253
@anryko alright. pull request is opened.

[2019-06-05 07:43] jamescassell commented on #56930
I've come to understand that the change was made to ansible because users made mistakes such as trying to use `groups.group-name` rather than `groups['group-name']`.  AIUI, it is a change purely for the purpose of reducing support issues. (I'm personally opposed to the change.)

The old behavior will not go away; it will just become unavailable without explicitly choosing the old behavior.

[2019-06-05 07:49] #57375 closed, assigned to nobody

[2019-06-05 07:52] naphta commented on #32513
Opening up a websocket for a port forward in python wasn't possible when I tried, the methods are mostly there but non functional.

[2019-06-05 07:59] mkrizek commented on #48823
@maximede No, `2.5` is EOL. Please see https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html#release-status to see status for each Ansible version, thanks!

[2019-06-05 08:13] markuman commented on #41861
So are we ready for a pull request now?

[2019-06-05 08:32] Fred-sun commented on #56776
@zikalino

[2019-06-05 08:33] FragmentedPacket commented on #57376
!component=lib/ansible/plugins/inventory/netbox.py

[2019-06-05 08:56] Fred-sun commented on #56774
@zikalino

[2019-06-05 08:59] AsgerPetersen commented on #57352
@Andersson007 Cool! I will check it out when I am with my computer tomorrow.

[2019-06-05 09:00] Fred-sun commented on #56694
@qmarc Thanks for your contribution, Could you can give a feedback according by comment? Thank you very much!

[2019-06-05 09:07] ronnicek commented on #16894
Hey,

I went to this problem also in Ansible 2.8.0 on MacOS.

I have my key in authorized_keys and I am not using ssh-agent.

[2019-06-05 09:08] Fred-sun commented on #56634
@zikalino Are you still fixing the problem? When will it be ready? Thanks a lot!

[2019-06-05 09:27] Fred-sun commented on #31867
@yungezz

[2019-06-05 09:39] dczupryn commented on #57210
It would be great to have as well other modules that works with local ESXi (vmware_local_role_manager, vmware_local_user_manager) to work with vCenter server.

[2019-06-05 10:09] amatacchieri commented on #56215
I solved the issue, it was a typo, I was referring incorrectly the account key, I simply solved fixing:

- name: "Create a challenge for {{projectName}}{{env}}-{{application}}-{{serverID}}.{{route53_domain}}"
  account_key_src: "~/{{projectName}}{{env}}-{{application}}-{{serverID}}.{{route53_domain}}.pem"

to
- name: "Create a challenge for {{projectName}}{{env}}-{{application}}-{{serverID}}.{{rou

[2019-06-05 10:09] #56215 closed, assigned to nobody

[2019-06-05 10:17] Fraeco opened #57396 "LXC_container container config file not being populated with defined values"
##### SUMMARY

Configuration settings made in container_config aren't transported to the /path/to/container/config file. If you are using a non-default lxc.network.link setting the container will fail to start because it can't attach to the (non-existant) bridge device.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lxc_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2019-06-05 10:18] DoctorKM opened #57397 "Adding devices while having multiple racks in Netbox"
##### SUMMARY

It appears that you cannot add devices while having more than one rack in Netbox, as ansible  seems to not be able to distinguish between racks.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

netbox_device
Also other netbox modules can be affected
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 with Netbox installation v.2.5.12

[2019-06-05 10:19] felixfontein commented on #56215
Ah, indeed, we could have spotted that earlier... Thanks for resolving this! I'm glad it isn't a bug in the module.

[2019-06-05 10:41] maglub commented on #56930
Sad to hear.

My use case, is that I am embedding the command "ansible-inventory" in a Vagrant file, in a way where it is impolite to put things in ansible.cfg, and that it would help to be able to be able to override the behavior as a command line option (not environment variable).

Usually changes like this are due to good intentions, but might not always lead to the outcome one has in mind.

[2019-06-05 10:42] steffann commented on #26190
This is still a problem with Ansible 2.8... A solution would be really appreciated!

[2019-06-05 11:18] mkrizek commented on #57351
A little more detail to the note above. https://github.com/ansible/ansible/commit/6069d09b9d7193a1896dfc2816e0e51833a53e6b introduced using only  one single `Templar` instance through lifetime of `VariableManager`. That causes `filters` to be loaded only once and used from the cache each time after that resulting in them not being updated later if needed; when including a role in this case. So whe

[2019-06-05 11:22] philipsd6 opened #57399 "`ansible_failed_task` is referencing out of scope loop variables."
##### SUMMARY
When `include_role` is used with a loop in a block, if the included role fails, the `ansible_failed_task` magic variable is undefined in the rescue block, and `-v` shows an error referencing the `item` loop variable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- block
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO

[2019-06-05 11:23] philipsd6 commented on #57399
Related to #49942

[2019-06-05 11:25] flohoff opened #57400 "ssh ControlPath may be dangerous / apply tasks to different host"
##### SUMMARY

The default ansible ControlPath is pretty dangerous when working with machine with identical name/ip address in ssh but differen jumphost.

Consider this ssh config:

host A
 Hostname 10.0.0.1
 ProxyJump root@Ajump

host B
 Hostname 10.0.0.1
 ProxyJump root@Bjump

When now running a parallel play all tasks will be applied to host A as the ControlPath name expands a %h which is NOT t

[2019-06-05 11:35] DoctorKM commented on #57397
After some tcpdupm-ing, it appears that netbox_device uses slug instead of name for racks. Looked into files, and I find that in  ```ansible/lib/ansible/module_utils/net_tools/netbox/netbox_utils.py``` (line 40):
```rack="slug",```
I'll fork and try to change that.

[2019-06-05 12:03] splendidmata opened #57403 "我在Ubuntu16.04上安装报错"
root@iZt4nbx0xi202tj0ao0mlxZ:~# apt-get update\>   && apt-get -y install vim dnsutils curl sudo\

Hit:1 http://mirrors.cloud.aliyuncs.com/ubuntu xenial InRelease
Get:2 http://mirrors.cloud.aliyuncs.com/ubuntu xenial-updates InRelease [109 kB]
Get:3 http://mirrors.cloud.aliyuncs.com/ubuntu xenial-security InRelease [109 kB]
Get:4 http://mirrors.cloud.aliyuncs.com/ubuntu xenial-updates/main Sources

[2019-06-05 12:04] MarcArbour commented on #57361
Dear @sivel ,

Thank you sssooo very much for the explanation. I did try looking at the doc and I have to admit that without doc, I am powerless in such cases.

Please know that today, you made my day.

Best regards.

Marc.

[2019-06-05 12:07] gamethis opened #57404 "win_domain_group_membership: Does not Search for proper Domain"
##### SUMMARY

Line 55 of code assumes that you are searching for a domain that the system is currently joined to.

need to add @extra_args to end of line so that whatever domain user, password, and server is specified works.
win_domain_group_membership:
    name: "groupname"
    domain_username: blah@mydomain
    domain_password: "domainpassword"
    domain_server: somedomain.com
    members:

[2019-06-05 12:09] mkrizek commented on #57403
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker.

Should you still wish to discuss things further, or if you disagree with our thought process, please stop by one of our two mailing lists:

  * https://groups

[2019-06-05 12:09] #57403 closed, assigned to nobody

[2019-06-05 12:16] daemenseth opened #57405 "Chocolatey install fails when fips is enabled"
##### SUMMARY
When you install chocolatey with win_chocolatey  on a server you get a rc 1 because of fips mode detected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
2.7.4

[code]

##### OS / ENVIRONMENT
Server 2019

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Install without rc 1

##### ACTUAL RESULTS

[code]

[2019-06-05 12:33] steffann commented on #26190
For others looking for a quick solution I created this script: https://gist.github.com/steffann/240d4170e45aa3cf7cf0df5e9beaf0ba

It uses [ruamel.yaml](https://yaml.readthedocs.io/), which preserves ordering, comments etc in the YAML file. Great when depending on decent git diffs etc :)

[2019-06-05 12:47] mkrizek commented on #57400
@flohoff what version of Ansible did you test with?

There is a method https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/ssh.py#L475 that creates the path which is a shortened hash of various bits about the host. According to my testing `host A` (from your example) is being passed into that method, not `10.0.0.1`.

[2019-06-05 13:00] #19968 closed, assigned to nobody

[2019-06-05 13:25] #56928 closed, assigned to nobody

[2019-06-05 13:26] #55971 closed, assigned to mkrizek

[2019-06-05 13:30] #56397 closed, assigned to nobody

[2019-06-05 13:43] bcoca commented on #57400
FYI, ansible_hostname is a 'gathered fact' so it cannot be used in the connection, since you only get it AFTER connecting to the host and executing fact gathering.

You might want `inventory_hostname` instead, but that also is not usable alone as it does not account for diff ports/users that might be used in subsequent connections (why we use the method @mkrizek points at above).

In any case you

[2019-06-05 13:48] s-hertel commented on #57368
@nsushkin Have you tried the inventory plugin instead? The aws_ec2 inventory plugin should sanitize those groups.

[2019-06-05 13:50] alexeyd-itsoft commented on #43466
Could you give some example? Because it's not clear from the documentation what exactly we should pass into `service_account_contents`

[2019-06-05 13:51] #51531 closed, assigned to nobody

[2019-06-05 13:58] s-hertel commented on #57368
Alternatively, if you can't switch to the plugin yet, you can set the TRANSFORM_INVALID_GROUP_CHARS config setting to always.