[2014-04-15 21:26] daemonl commented on #6927
The command I ran to create the tgz above is

[code]

[2014-04-15 21:28] mpdehaan opened #7001 "apt module in upgrade cases should avoid using the shell"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

ubuntu
##### Summary:

See this thread:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/ansible-project/82Sm5K-9Zxs/2Gf0VrPL4uYJ

This command wasn't being run through the shell, on line 277 is the main problem.

We could pass "use_unsafe_shell=True" here, but that's not ideal.  Better

[2014-04-15 21:55] rrix-storehouse commented on #6911
:+1: thanks

[2014-04-15 22:04] daemonl commented on #6927
Looking back through history, it seems that https://github.com/ansible/ansible/commit/a02641c is the commit which broke it. (Works on the commit previous, doesn't work on that commit)

The unarchive module tries a number of methods to see if it can unarchive an archive, the first being .tgz, which uses the tgz command to check if it is an archive, it seems that commit stops it from running / retur

[2014-04-15 22:33] jeremyajohnson commented on #5844
I've also had to workaround this by restarting individual processes.

[2014-04-15 22:41] daemonl commented on #6927
Aha, got it!

Our files aren't tgz they are .tar

The bug is that the new command runner returns '0' when the application is not installed, where it used to return 127 (not found)

Since the unarchive command tries tgz, zip, tar etc,
- tgz always fails
- unzip returns 0 instead of 127 when it isn't installed,, so tells the unarchive class to use it.
- tar passes. But is only checked when unzip IS

[2014-04-15 22:59] scottanderson42 opened #7005 "JSON not returned as raw string in long-form actions with variable substitutions"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel 53a511275c) last updated 2014/04/08 10:58:23 (GMT -400)
##### Environment:

OSX 10.9.2
##### Summary:

The problem is only displayed in actions (or local_actions, not shown below but I did test it) with JSON in parameters that have variable substitutions in them. There’s definitely a different path being followed given the RE

[2014-04-15 23:20] qpfiffer opened #7006 "Host variables from host_vars directory not available in hostvars variable"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

[code]
##### Summary:

I have access to variables defined in the host_vars directory from the role context but they are not available from the hostvars context.
##### Steps To Reproduce:

`host_vars/random_host.yml`:

[code]

`random_role.yml`:

[code]

Result:

[code]
##### Expected Results:

I would like it i

[2014-04-15 23:28] mpdehaan commented on #6998
When you say "logging" do you mean not showing in the output of ansible?

no_log is intended to shunt syslog invocations on the remotes.

Just want to be clear, thanks!

[2014-04-15 23:35] mpdehaan commented on #7006
This may already be fixed via variable improvements in 1.6, can you check this against devel?  (If this occurs there I'll bump the priority of this one).

Thanks!

[2014-04-16 00:06] mpdehaan opened #7008 "Test Ticket For IssueTemplate.org test - please ignore."
Issue Type: Bug Report

Ansible Version: Yada

Environment: Yada yada

Summary: Moo

Steps to Reproduce: Aeeee

Expected Results:  BBBBB

Actual Results:: CCC

EEEE

[2014-04-16 00:06] #7008 closed, assigned to nobody

[2014-04-16 00:07] IronTetsubo opened #7009 "copy module failing to copy to nfs filesystem with SELinux"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

RHEL 5/6
##### Summary:

When copying files to NFS, they fail with the following error:

failed: [myhost] => {"cur_context": ["system_u", "object_r", "nfs_t", "s0"], "failed": true, "gid": 0, "group": "root", "input_was": ["system_u", "object_r", "usr_t", "s0"], "md5sum": "mymd5sum", "mode": "0644", "new_contex

[2014-04-16 01:22] IronTetsubo opened #7010 "mount module doesn't remount a mount after opts change"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

RHEL 5/6
##### Summary:

With a NFS mount that's already mounted, after changing opts the fstab is updated, but the mount is not umounted/remounted and thus the changes aren't really applied.
##### Steps To Reproduce:

With a playbook like:
- name: Add nfs mount
   mount: name=/opt/nfs src="nfsserver:/export" f

[2014-04-16 01:26] kubicek commented on #5951
It has changed from:

[code]

to:

[code]

[2014-04-16 01:39] #6927 closed, assigned to jimi-c

[2014-04-16 01:40] jimi-c commented on #6927
@daemonl thanks, that helped me track it down. The above commit should resolve this issue for you, and will be included in the next major release. If you continue seeing any problems related to this issue, or if you have any further questions, please let us know. Thanks!

[2014-04-16 08:06] stinos commented on #6891
I can confirm #6900 fixes this problem, thanks!

[2014-04-16 08:41] bloodearnest commented on #6998
Yes, sorry, I meant output.  Our usage of ansible maybe a little different - we install ansible directly on remote machines and apply playbooks locally, targeted just at localhost. The stdout of ansible-playbook is pushed into syslog via the tool set we are using (Juju).  I realised this maybe a more off-piste use of ansible.

Thanks

[2014-04-16 08:57] kleinth328 opened #7015 "being able to do includes in templates"
##### Issue Type: Bug Report
##### Ansible Version: 1.5
##### Environment: CentOS 6.5
##### Summary: includes in templates loose their variable context
##### Steps To Reproduce:

In one template file i have this code snippet:
{% for group in group_names %}
    {% include "debug_include.j2" with context %}
{% endfor %}

In the included template 'debug_include.j2' i have this code:
This is the inclu

[2014-04-16 12:58] sephii opened #7016 "`with_file` doesn't support variables like `with_items`"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.4
##### Environment:

N/A
##### Summary:

`with_items` allows you to write `with_items: my_var`, which will use the content of the variable as items. `with_file` however doesn't allow you to do that, interpreting `with_file: my_var` as

[code]

So there's no way to use `with_file` with variables.
##### Steps To Reproduce:

Create 2 blank fi

[2014-04-16 13:23] zabbal opened #7017 "gnutls support"
Would be great to see support for using lsh instead of openssh.

[2014-04-16 13:52] berle opened #7018 "apt_key fails if key id is too long"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4 (Also applies to head)
##### Environment:

Ubuntu 12.04
##### Summary:

apt_key will fail to find a key in the keychain if the id specified is too long, due to apt-key list not printing keys with their full fingerprint.
##### Steps To Reproduce:

[code]
##### Expected Results:

Key added and verified.
##### Actual Results:

[code]

[2014-04-16 13:59] akkie commented on #6881
I have the same problem with the same file on Amazon Linux. Is there a workaround for this issue?

[2014-04-16 14:22] jjshoe commented on #7018
Unable to reproduce when passing in the correct id:

[code]

[2014-04-16 14:26] jjneely opened #7019 "One failed host aborts playbook with serial keyword"
##### Issue Type:

Bug Report
##### Ansible Version:

Tested with 1.4.5 and 1.5.4
##### Environment:

Ubuntu: Precise and Saucy
##### Summary:

When using the serial keyword a single failed host aborts the entire playbook with the error "FATAL: all hosts have already failed -- aborting"

Removing the serial keyword and all hosts are evaluated and a single failure does not abort the playbook run.
#

[2014-04-16 14:30] jjshoe commented on #7018
https://github.com/ansible/ansible/pull/7022

[2014-04-16 14:36] mpdehaan commented on #7017
We're unlikely to build this, though our connection plugin system is pluggable, so it would be easy to add one if you wanted to.

The mailing list is very very quiet - http://lists.lysator.liu.se/pipermail/lsh-bugs/ - so this is not something we would likely include for core due to adoption levels.  I'm also quite happy with openssh at this time -- heartbleed was not a security concern for it, it'

[2014-04-16 14:36] #7017 closed, assigned to nobody

[2014-04-16 14:48] jimi-c commented on #7015
This appears to be a duplicate of #6653, so we'll close this and track the issue there. Thanks!

[2014-04-16 14:48] #7015 closed, assigned to nobody

[2014-04-16 14:51] jimi-c commented on #7019
This is working as intended. When using `serial: 1`, you're telling the play to only operate on 1 host at a time. The working group failure percentage is based off of the serial count (see #4407), so when there is only 1 host in the group and it fails the failure % will always be 100%. To move past this error, you should increase the serial group size or use `ignore_errors: yes` on tasks that are

[2014-04-16 14:51] #7019 closed, assigned to nobody

[2014-04-16 15:14] jjneely opened #7023 "Traceback handling with facts.d files when no permission on the files"
##### Issue Type:

Bug Report.
##### Ansible Version:

ansible 1.5.4
ansible 1.4.5
##### Environment:

Ubuntu: Precise, Saucy

[code]
##### Summary:

When using the facts.d/ directory Ansible will traceback and fail a host immediately (the setup module) if it cannot read the facts.d/ files.  This restricts Ansible's use to root-level only.
##### Steps To Reproduce:

Whip up a test node, and create

[2014-04-16 15:32] berle commented on #7018
How is that the "correct id" when the apt-key utility itself happily accepts the longer version? If the apt_key module requires a very specific key format, it should give an error if the user does not provide this format. It's not a user-error, nor is it intuitively wrong in any way to specify the key id in a format that apt-key actually allows.

[2014-04-16 16:17] evanccnyc opened #7024 "ec_vpc seems broken in devel branch"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

Mac OS X 10.7
##### Summary:

ec2_vpc seems broken in devel branch.
##### Steps To Reproduce:

Use the following ansible code:

[code]
##### Expected Results:

Creation of VPC
##### Actual Results:

[code]

It looks like if i add resource_tags: { tag1: value1} it works even though the documentation says its not r

[2014-04-16 16:34] jimi-c commented on #7024
I believe this patch should fix your issue, if you'd like to test it out:

<pre>
diff --git a/library/cloud/ec2_vpc b/library/cloud/ec2_vpc
index 44d207b..2136a1d 100644
--- a/library/cloud/ec2_vpc
+++ b/library/cloud/ec2_vpc
@@ -223,7 +223,7 @@ def find_vpc(module, vpc_conn, vpc_id=None, cidr=None):

     found_vpcs = []

-    resource_tags = module.params.get('resource_tags')
+    resource_tags

[2014-04-16 17:03] evanccnyc commented on #7024
Still getting the same error with the patch applied.

[2014-04-16 17:15] jimi-c commented on #7024
Revised patch:

<pre>
diff --git a/library/cloud/ec2_vpc b/library/cloud/ec2_vpc
index 44d207b..1bd569f 100644
--- a/library/cloud/ec2_vpc
+++ b/library/cloud/ec2_vpc
@@ -237,7 +237,7 @@ def find_vpc(module, vpc_conn, vpc_id=None, cidr=None):
             vpc_tags = dict((t.name, t.value) for t in vpc_conn.get_all_tags(filters={'resource-id': vpc.id}))

             # If the supplied list of ID Ta

[2014-04-16 17:21] evanccnyc commented on #7024
Revised patch works for both with resource_tags and without.

[2014-04-16 17:22] #7024 closed, assigned to nobody

[2014-04-16 17:23] jimi-c commented on #7024
The above commit has been merged into the devel branch, and will be included in the next major release. If you continue seeing any problems related to this issue, or if you have any further questions, please let us know. Thanks!

[2014-04-16 18:02] jjshoe commented on #7018
apt-key list shows 8 digit, not 16 digit. It's possible to skip apt-key, and go straight to gpg, then do logic based on 8 digit vs 16 digit keys, but that would require a large re-write when the 8 digit key will do.

[2014-04-16 19:19] berle commented on #7018
Yes, I've already explained that in the initial bug report, so there's no need to explain it again. I also suggested how to work around the problem in a way that don't even require making any significant changes, still using apt-key, so I'm not really sure why you're suggesting the only way to fix this is to use gpg directly. Sigh...

[2014-04-16 19:21] #7018 closed, assigned to nobody

[2014-04-16 19:30] jimi-c commented on #6928
I cannot reproduce this on either 1.5.4 or the current head of devel. I setup a test server with a password protected directory. The auth fails as expected when I don't have the password correct, I get the same error you're seeing: `"response": "HTTP Error 401: basic auth failed"`, but otherwise it works correctly. So it really seems like the password is incorrect in your url, though I'm not sure

[2014-04-16 19:48] mpdehaan commented on #6908
email to ansible-announce and ansible-project have been sent, so I'm closing this out!  Thanks all!

This will be included in 1.6.

[2014-04-16 19:48] #6908 closed, assigned to nobody

[2014-04-16 19:51] mpdehaan commented on #7023
Discussed this and we think what we want to do is catch the error so there is no traceback when they fail, but still report the error with a "fail_json" call in the system.

For permissions I don't know -- Facts.d scripts can be worked around by making them world readable but can do the right thing based on permissions of what they have access to -- on the other hand, it's a configuration issue.

[2014-04-16 19:59] evanccnyc opened #7027 "Default to sane egress policy in ec2_group (change since 1.5.3->1.6)"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

Mac OS X 10.7
##### Summary:

rules_egress was added to ec2_group in 1.6 (previous there was no rules_egress).  Unfortunately it defaults to nothing in it, meaning that previous ansible scripts will not allow anything out of a security group.  This breaks many security groups.
##### Steps To Reproduce:

Create a

[2014-04-16 20:10] jimi-c commented on #6962
@pas256 I just tried this on a us-east-1 Amazon 64-bit instance and it worked fine. Could you verify if you're seeing the same issue there?

[2014-04-16 20:49] jctanner commented on #7001
I am not able to reproduce on current devel with ubuntu 12.04 ...

[code]

[2014-04-16 20:53] jctanner commented on #7001
Debugging shows that the Popen call is not using shell:

[code]

[2014-04-16 20:54] evanccnyc commented on #6098
I see this as well. Its quite frustrating.

[2014-04-16 21:08] #7001 closed, assigned to nobody

[2014-04-16 22:02] rothgar commented on #6928
The password does have non-ASCII characters which is why I tried URL encoding it. Even when I used wget I had to use URL encoding. But I couldn't find a combination that would work with the ansible task. I tried URL encoding, escaping \, and quotes but was unsuccessful.

Any other thoughts on what I can try? Otherwise I will just use command: wget for the task.

[2014-04-16 22:18] SpenserJ commented on #3106
@piotrze Doesn't look like that works in the latest version, at least on Ubuntu 12.04.

[2014-04-16 22:45] andreasf commented on #7018
I just ran into the same issue. Since only the last 8 digits seem to be interesting, how about:

[code]

@jjshoe you could add that [-8:] to your fix for #7022.

[2014-04-16 23:06] jjshoe commented on #7018
It's not really a "fix" per say, but it's worth sending a PR for. As you can see the submitter closed this issue.

I say it's not a fix, as you could still get a key collision, which is why ultimately logic should be added to support both 8 and 16 digit keys.

[2014-04-16 23:08] jjshoe commented on #7018
Note, to get 16 digit keys, you need to skip apt-key, and go straight to gpg with --keyid-format long or perhaps even --keyid-format 0xlong

[2014-04-17 01:00] jimi-c commented on #6928
@rothgar so the way fetch_url() works internally is to strip the username/password out of the URL and create a basic auth object for urllib. When you're encoding them, they're probably being passed in to that object encoded, which is why you're seeing the 401. So I guess we could decode them in that function, though it might cause problems for users that have % characters in their passwords.

[2014-04-17 01:14] bibliotechy opened #7030 "Git submodule update only tracks branches"
##### Issue Type:

“Bug Report” /  “Feature Idea”
##### Ansible Version:

ansible 1.6 (devel a5e7492c4f) last updated 2014/04/15 21:12:13 (GMT -400)
##### Environment:

Ubuntu 12.04
##### Summary:

Git submodule update is hard coded to track branches (always adds the `--remote` flag, assuming the git version is late enough to support tracking branches.

https://github.com/ansible/ansible/blob/1c99

[2014-04-17 02:14] mpdehaan commented on #6903
Another comment from a user on the mailing list
"  Not sure if it matters, but the ec2_group help page does mention an "all" setting, it just doesn't seem to be working."

[2014-04-17 02:41] mpdehaan commented on #7030
Honestly, I'm not a big user of submodules, so I don't know what module flags need to be passed to git to avoid the --remote added here.

Would it be possible to have a track=yes/no (default yes) that can just be manually set to no in such conditions, and include that if using submodules that are not by branch or tag, be sure to pass track=no ?

That may seem easiest.

I would have trouble underst

[2014-04-17 03:13] daemonl commented on #6927
Thanks heaps Jimi!

[2014-04-17 04:51] pas256 commented on #6962
Yeah, still not working. Here is the process:

[code]

Please let me know if you need more info.

[2014-04-17 08:33] MartinPeschke commented on #6563
Ive been experiencing the same issue. Using ansible 1.6 and the [ec2.py](https://raw.github.com/ansible/ansible/devel/plugins/inventory/ec2.py) inventory from the docs,

This is anoying since it means one has to run against a dummy-inventory for some tasks:

[code]

otherwise:

[code]

[2014-04-17 10:50] ojtibi commented on #5796
Hello, I'm having a difficult time understanding what `manage_dir` really does.
- What are the steps that the `authorized_key` module does to manage a directory?
- If I configured my SSH daemon to read files from another directory, how does `manage_dir` affect the operation?
- If I leave the SSH options at default (SSH daemon reads .ssh/authorized_keys in home directory of the user), what's the di

[2014-04-17 12:11] gmassen opened #7032 "setup module fails on older OpenSuSE (<12?)"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

OpenSuSE 10-13
##### Summary:

setup module failes on older OpenSuSE versions. Reason: /etc/SuSE-release has only 2 lines instead of 3 as assumed by get_distribution_facts(). The missing line is "CODENAME".
##### Steps To Reproduce:

Get any SuSE distrib, and strip "CODENAME" from /etc/SuSE-release if present.

[2014-04-17 12:53] bibliotechy commented on #7030
The git command to update submodules based on the  is the superproject sha1 (the default behavior) is:

`git submodule update`

whereas to update submodules based on branch/ tag is:

`git submodule update --remote`

So I'm not totally convinced that tracking branches should be the default behavior, but since it is already out in the wild and people are using it, I understand why it should stay the

[2014-04-17 13:47] rothgar commented on #6928
@jimi-c Would it be possible to add a unc_encode=True option to the function to have it optionally encode the password? This is probably a small need and I can look into it myself in the future if need be.

I also found the [urllib.quote function](https://docs.python.org/2/library/urllib.html#urllib.quote) which should be able to do the parsing for us.

[2014-04-17 13:56] juliedavila commented on #6736
I'm starting to work on this

[2014-04-17 14:59] jimi-c commented on #6962
So that's interesting, you're hitting a callback that indicates the host is unreachable at that point, but obviously you were connecting to it. Is fail2ban killing the session? Regardless, it looks like the results may contain some unicode causing the traceback in the callback itself.

[2014-04-17 15:21] mpdehaan commented on #6909
Any updates on this one?  Thanks!

[2014-04-17 15:48] s-y opened #7036 "virtualenvwrapper [Easy task I gues]"
hello !

How about add support for virtualenvwrapper on server to call venv by name ?

[code]

And why I cannot run

[code]

?

[2014-04-17 17:10] #6987 closed, assigned to nobody

[2014-04-17 17:25] bcoca commented on #7009
i think it should still fail as selinux context will have been changed
unintentionally, but should be a clear message why, also a
ignore_selinux_nfs=true flag for those that REALLY want the update w/o
caring about that consequence.
​

[2014-04-17 17:36] IronTetsubo commented on #7009
a simpler fix along the path you suggest, bcoca, is having a flag in the copy module that has the copy module skip trying to set the selinux context. This allows the fix to be more flexible than just working for nfs. Of course, worth noting in the copy module docs that said flag would be required for any copies to nfs.

[2014-04-17 17:55] jimi-c commented on #6962
@pas256 could you try the following patch?

<pre>
diff --git a/lib/ansible/callbacks.py b/lib/ansible/callbacks.py
index 1abfe68..6d9b5a4 100644
--- a/lib/ansible/callbacks.py
+++ b/lib/ansible/callbacks.py
@@ -459,9 +459,9 @@ class PlaybookRunnerCallbacks(DefaultRunnerCallbacks):
         if type(results) == dict:
             item = results.get('item', None)
         if item:
-            msg =

[2014-04-17 18:07] aruiz opened #7037 "When creating a directory recursively with "file:" "owner=" only honours the last directory"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Fedora 20
##### Summary:

When creating a directory recursively with file: and the owner= argument, ownership only changes in the last item of the created directories.
##### Steps To Reproduce:

[code]
##### Expected Results:

/home/user/foo,   /home/user/foo/bar and /home/user/foo/bar/baz  should be owned by '

[2014-04-17 18:10] rothgar commented on #6909
thanks @jctanner and @jimi-c for the test playbooks to more simply test this. Both tests worked as expected.

I just tested on 1.5.4 and the latest devel branch and this appears to be working as intended. I will go back through my original playbook and see what I did wrong. Sorry for the wild goose chase.

[2014-04-17 18:14] jimi-c commented on #6909
@rothgar no problem, I'll go ahead and close this. Let us know if you find anything else you need us to look at. Thanks!

[2014-04-17 18:14] #6909 closed, assigned to jimi-c

[2014-04-17 18:28] fadishei opened #7038 "variable value truncation"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.4, 1.6
##### Environment:

Ubuntu 12.04
##### Summary:

Using the template action, in a very specific case, the variable value is truncated by one last character. I could not find a general rule for the occurrence of this behavior, but in my case a variable value of "21.20" is substituted with "21.2" on the remote host.
##### Steps To Repro

[2014-04-17 19:02] jimi-c commented on #7027
Unfortunately I cannot reproduce this issue. I just created a new security group and added an instance to it, where the only rule specified was an ingress rule for port 22 inbound from any. I hopped on the instance and was able to successfully do things like ping out and fetch web pages from public servers.

Could you attach an example playbook for an ec2_group setup that shows the reported behavi

[2014-04-17 19:04] evanccnyc commented on #7027
It was a vpc security group (no idea if that changes what happened):

[code]

[2014-04-17 19:52] jimi-c commented on #7027
It does, when a VPC is specified I see an empty "Outbound" tab appear for the security group. The odd thing is, if I tell it to then add the rule for any outbound to any with the boto `ec2.authorize_security_group_egress()` call, I get this error:

<pre>
&lt;Code&gt;InvalidPermission.Duplicate&lt;/Code&gt;
&lt;Message&gt;the specified rule "peer: 0.0.0.0/0, ALL, ALLOW" already exists&lt;/Message&g

[2014-04-17 20:23] jimi-c commented on #7027
Here's my patch:

<pre>
diff --git a/library/cloud/ec2_group b/library/cloud/ec2_group
index 56581ec..ac0389a 100644
--- a/library/cloud/ec2_group
+++ b/library/cloud/ec2_group
@@ -313,6 +313,20 @@ def main():
                                 src_group_id=grantGroup,
                                 cidr_ip=ip)
                     changed = True
+        elif vpc_id and not module.check_mode:
+

[2014-04-17 20:25] jimi-c commented on #7027
I've also pushed that up to my copy of the ansible repo.

[2014-04-17 20:52] zytek opened #7042 ""view" mode for ansible-vault"
New command - "ansible-vault view"

Calls $PAGER to view file.
Does not make changes to original file.

VERY usefull when one just wants to check content of encrypted file.
Currently one is forced to use vaul edit, which always re-encrypts opened file.

[2014-04-17 20:52] #7042 closed, assigned to nobody

[2014-04-17 20:57] pas256 commented on #6962
With the patch applied, I get this:

[code]

Please let me know if you need more info. All of the steps for this are public so you should be able to reproduce this pretty easily.

[2014-04-17 21:09] kustodian commented on #5796
Asking a question in a closed issue is not the best way to ask for help, since no one except those who are following this issue will reply to this issue. It is better to ask on the forum https://groups.google.com/forum/#!forum/ansible-project

Anyway when `managed_dir` is `True` the owner of the directory in which the authorized_keys is will set to the user for which you are setting the authorized

[2014-04-17 21:19] jimi-c commented on #7009
@IronTetsubo / @bcoca I've pushed up a patch (currently untested) to try and work around this. I currently do not have an NFS mount point with SElinux so I thought I'd see if one of you could test this while I get that setup.

The patch works by checking to see first if the path is on an NFS mount point, and then determines the given selinux context for that mount (from the options in /proc/mounts

[2014-04-17 21:31] jimi-c commented on #6962
Can you stick a "print results" or the output from epdb in that function to see what it's returning? The results should be a dictionary.

[2014-04-17 21:56] mftovey opened #7043 "yum enablerepo won't to multiple repositories anymore"
Is anyone else having issues with the yum module's enablerepo parameter?  Suddenly I can't enter multiple repositories.  I am doing the following:

ansible server -s -K -m yum -a "name=package enablerepo=repo1,repo2 state=latest"

It consistently returns:

"msg": "Error setting/accessing repo repo2: Error getting repository data for repo2, repository not found"

It is always the second repository

[2014-04-17 22:27] mpdehaan commented on #7036
Patches for the first part would probably be considered, it's probably not something we are going to work on anytime soon though, so I'm suggesting that course of action if you'd like to add something.

Support questions should really go to the mailing list with regard to the last part, we can answer that one there.

Thank you!

[2014-04-17 22:27] #7036 closed, assigned to nobody

[2014-04-17 22:28] mpdehaan commented on #7037
This is actually by design, because the directory ownership of all the intermediate directories might be very very different.

You should if creating directories this way follow up with statements to make sure you have set things as you like.

Some people may want to just set the leaf and some may want to set the intermediates

You definitely wouldn't want to set the ownership of "/" and to be pro

[2014-04-17 22:28] #7037 closed, assigned to nobody

[2014-04-17 22:29] mpdehaan commented on #7038
This is because the variable is automatically coerced into an integer.

To avoid this quote the value

var="21.20"

OR

use group_vars and host_vars files, where you should also quote the value.

[2014-04-17 22:29] #7038 closed, assigned to nobody

[2014-04-17 22:32] IronTetsubo commented on #7009
yup, will try now, let you know.

[2014-04-17 22:33] mpdehaan commented on #7043
Hi,

FYI for future things - If you have questions, the bug tracker is not the best place to ask -- I would suggest IRC or ansible-project.  This is definitely the place to report bugs though, which this sounds like it is one.

Since you have reported this on an obsolete version (the current stable branch is actually 1.5, with the release being 1.5.4), if you can let us know if you see that behavi

[2014-04-18 00:38] IronTetsubo commented on #7009
Okay. so, I duplicated the issue (removed my workaround of forcing the nfs mount to the usr_t context, and found some interesting results. See https://gist.github.com/IronTetsubo/11017902 for the details. For context, "host1" is a rhel 6.5 box, "host2" is a rhel 5.10 box.
- First, I found that this works on rhel5, because by default files on the nfs mount are a context of system_u:object_r:usr_t:s

[2014-04-18 03:09] jimi-c commented on #7009
Perhaps then the proper thing to do would be to just get the context from the mount point itself, rather than rely on either file as one or the other could be wrong.

[2014-04-18 04:09] fadishei commented on #7038
Thanks. Using host_vars AND quoting works. But just quoting the value in hosts file still leads to coercing.

[2014-04-18 10:37] s-celles opened #7049 "Windows install of Ansible using pip fails because of pwd module"
##### Issue Type:

Bug Report
##### Ansible Version:

any
##### Environment:

Windows 7 with Cygwin and Anaconda Python
##### Summary:

Windows install of Ansible using pip raises ImportError: no module named pwd
##### Steps To Reproduce:

After having a running python distribution under Window
open command line and type

##### Expected Results:

Ansible should be installed
##### Actual Results:

[2014-04-18 12:49] goozbach commented on #6941
@ludovicc I went one step further and used an ansible template (so I could use {{ ansible_managed }} ) to replace a number.py with a patched version.

The best part is that because it's not a config file (from rpm's POV). It'll get blown away when pycrypto is updated with a "proper" fix.

[2014-04-18 13:12] mpdehaan commented on #7049
cygwin is not a supported platform for Ansible, this has been discussed quite a few times and is not a bug.

We'll do proper windows support in the future, but it won't involve installing cygwin to run Ansible from a windows host and will likely only allow managing windows nodes

I'd suggest installing Linux in a VM.

[2014-04-18 13:12] #7049 closed, assigned to nobody

[2014-04-18 13:50] salehabbas opened #7050 "clang: error: unknown argument: '-mno-fused-madd'"
I could not compile Ansible with the invalid compiler option "mno-fused-madd". So I had to use ARCHFLAGS env variable to treat error as a warning.

System is: OS X 10.9.2

[2014-04-18 14:05] #7050 closed, assigned to nobody

[2014-04-18 14:23] mgcrea opened #7053 "Can't use dash (#) sign in inventory file"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

OSX-10.9
##### Summary:

I have a `ValueError: No closing quotation` when I try to use a dash (#) in one of my inventory (for the `ansible_sudo_pass` field). Tried various escaping options without luck.
##### Steps To Reproduce:

N/A
##### Expected Results:

No error
##### Actual Results:

 `ValueError: No closing quo

[2014-04-18 14:34] jctanner commented on #7053
@mgcrea can you show an example line for an inventory file?

[2014-04-18 14:39] mgcrea commented on #7053
@jctanner

[code]

[2014-04-18 14:41] jimi-c commented on #7009
@IronTetsubo I've updated my patch to base the selinux context off of the context for the mount point, which should give us an accurate context no matter what the actual mounts say.

[2014-04-18 15:38] mattsch commented on #6790
This looks like the same thing I ran into in #6723

[2014-04-18 15:39] ap1kenobi commented on #6098
@rafaelzimmermann, I haven't debugged this completely but fundamentally it seems the issue is async nature of AWS and boto's reluctance (inability? bug?) to refresh state of recently created objects.  I observed (and improved) a similar issue in ec2_vpc module when creating subnets.  The fix is to wait in a loop until the object has been created (security group in this case) before doing anything

[2014-04-18 16:43] qpfiffer commented on #7006
Does not appear fix as of 632eb18333f5da96375655d71897e33b3c0e9c1a. Same result.

[2014-04-18 16:56] jimi-c commented on #7053
@mgcrea this does appear to be a bug, but really it would be better to put your sudo password inside a vault-encrypted file rather than in a plain-text inventory file. Please refer to https://docs.ansible.com for instructions on using ansible-vault if you're not familiar with it.

[2014-04-18 17:51] mpdehaan commented on #7053
Can be solved with a # in front of the comment character, which is how we solved this problem.

Also easy to use these in group_vars or host_vars files instead, which I prefer to variables directly in inventory.

In any event, not a bug per se, just needs the escape character.

[2014-04-18 17:51] #7053 closed, assigned to nobody

[2014-04-18 17:54] bpennypacker opened #7054 "cloud/rds : renaming an rds instance always fails"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (rds_modify 632eb18333) last updated 2014/04/18 17:39:06 (GMT +000)
##### Environment:

N/A
##### Summary:

Using the RDS module with command=modify and apply_immediately=yes to rename an instance (setting new_instance_name) will always fail.  When this module was modified recently it wasn't tested with renaming an instance.  A call

[2014-04-18 18:00] #7054 closed, assigned to nobody

[2014-04-18 18:07] juliedavila commented on #6885
It's my understanding you have to use the 'shell' module anytime you want to do any command-line tricks like wildcards, piping, etc.

you could do

shell: apt-get install zabbix-agent1.8.*

[2014-04-18 19:00] jkleckner opened #7057 "Missing default in vars_prompt when default is False or no"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel 632eb18333) last updated 2014/04/18 11:44:32 (GMT -700)
##### Environment:

Mac OSX 10.9.2
##### Summary:

If you put a default value in a vars_prompt of False, you will not get a default value.

See discussion here:  [https://groups.google.com/d/msg/ansible-project/oc1_zE-FnyI/ppZ-Zeq_r5EJ]
##### Steps To Reproduce:

Use thi

[2014-04-18 20:04] kustodian opened #7060 "Don't set LANG to C on modules which don't need it"
##### Issue Type:

Improvement
##### Ansible Version:

1.6
##### Environment:

N/A
##### Summary:

Modules should not set LANG to C, unless it is really needed. This is especially important for modules like `command` and `shell`.

This issue is a follow up to the following forum discussion https://groups.google.com/forum/#!topic/ansible-project/XwJmFPfMfo0
##### Steps To Reproduce:

N/A
##### Expe

[2014-04-18 21:28] mgcrea commented on #7053
@mpdehaan do you mean escaping `#` with another `#`?

[code]

does not work. Could you give an example? Thanks!

[2014-04-18 21:36] #7006 closed, assigned to nobody

[2014-04-18 21:36] jimi-c commented on #7006
The above commit should resolve this issue for you, and will be included in the next major release. If you continue seeing any problems related to this issue, or if you have any further questions, please let us know. Thanks!

[2014-04-18 22:02] mpdehaan commented on #7060
I believe this workaround is available, but I completely agree with the above.  (Needs testing):

[code]

Equivalently

[code]

I would suggest we probably code it for shell and command right now but think more about the larger question for the future.

[2014-04-18 22:14] dirtyharrycallahan opened #7062 "changelog not in chrono order"
Getting a make rpm failure.

creating dist
tar -cf dist/ansible-1.6.tar ansible-1.6
gzip -f9 dist/ansible-1.6.tar
tar -cf dist/ansible-1.6.tar ansible-1.6
gzip -f9 dist/ansible-1.6.tar
removing 'ansible-1.6' (and everything under it)
error: %changelog not in descending chronological order
make: **\* [rpm] Error 1
Build step 'Execute shell' marked build as failure
Recording test results
Sending e-m

[2014-04-18 23:41] mpdehaan commented on #7062
Yay, merges!  I'm on this.

[2014-04-18 23:43] mpdehaan commented on #7062
Friday night and away from my usual setup, but dates are updated so should be good to go.

Thanks for the heads up!

[2014-04-18 23:43] #7062 closed, assigned to nobody

[2014-04-19 00:39] kustodian commented on #7060
I looked at what is the easiest way to accomplish this and I think it would be best to add one more parameter to `AnsibleModule` class constructor e.g. `set_default_lang=True`, so if a module doesn't want the `LANG` to be set, they would just pass `set_default_lang=False`.

In the future, we could easily set this to `False` by default and only set it to `True` in modules that require `LANG` to be

[2014-04-19 02:06] IronTetsubo commented on #7009
Yup, looks good! tested it out, and indeed it's setting the context properly to nfs_t in the case where it's copying to nfs. with this, my playbook succeeds without the workaround (force the context of my nfs mount to usr_t). Thanks! +1 for commit, for what little that's worth. :)

[2014-04-19 02:28] IronTetsubo opened #7071 "Synchronize module asking for a password during playbook run"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

RHEL 5 & 6
##### Summary:

When using the synchronize module, it prompts for a password, then fails to synchronize.
##### Steps To Reproduce:

https://gist.github.com/IronTetsubo/11071900 - this includes the playbook, the command used to execute, and the -vvvv output of the run.
##### Expected Results:

Synchro

[2014-04-19 03:06] qpfiffer commented on #7006
Thanks buddy.

[2014-04-19 03:21] #7009 closed, assigned to nobody

[2014-04-19 03:22] jimi-c commented on #7009
Great, I've merged the above patch into the devel branch. Thanks!

[2014-04-19 10:09] timurb commented on #6885
@nousdefions It's not the wildcard processed by shell but a wildcard processed by apt.

[2014-04-19 10:10] kustodian commented on #7060
Please ignore my commit above, I haven't tested anything. I removed that commit, so it should remove it from this issue until I test everything.

[2014-04-19 10:41] kustodian commented on #7060
Commit 993aa96424e9eafd59fc879f9551b0c10f976e20 should be fine. I tried running `echo $LANG` with the `shell` module (since `command` module runs the `shell` module) and it worked as expected. By default it printed the default system `LANG`. Then I tried setting `LANG` with what you suggested as a workaround, but it is not `env`, but `environment`:

[code]

and it set the `LANG` to what was config

[2014-04-19 12:02] yuanl commented on #6723
Looks interesting. could be the same problem to #6790. I'll test it on monday.

[2014-04-19 13:29] mpdehaan commented on #7071
Seems like more password related.  We could technically set RSYNC_PASSWORD but that seems to be a bad idea.   May require doc update.  In queue for some more investigation.  (We would be able to raise an error in this situation that explained this).

Thanks!!!

[2014-04-19 15:58] xcambar commented on #4688
I'm jumping in to :+1: the Digital Ocean use case described by @malvim.

The workaround I'm using right now is to have a bootstrap playbook that does the basics:
- create a user
- set Authorized keys for this user
- Disable root
- some other little stuff

then one (or more) playbooks that almost exclusively use the created user.

[2014-04-19 16:02] ashcrow commented on #6499
I'm also hitting this same error in ansible 1.5.5.

[2014-04-19 16:03] xcambar commented on #4688
And for 2 more cents, my playbooks (for _my_ use cases in _my_ life, so nothing generic here) would really benefit from @jctanner's suggestion regarding the order of precedence.

[2014-04-19 16:46] francisco1844 opened #7074 "authorized_key module not reporting error when path to key is invalid"
Issue Type:
Bug Report

Ansible Version:
ansible 1.6 (devel ae29e43f93) last updated 2014/04/19 14:46:18 (GMT +000)

Environment:
Ansible running from Ubuntu 12.04 and managing same.

Summary:
Ansible does not report an error if path to key file is invalid.

Steps To Reproduce:
key="{{lookup('file','Bad-path-to-key-file-here') }}

Expected Results:
Expect call to authorized_key to fail.

Actual Re

[2014-04-19 16:47] francisco1844 commented on #7074
#### Issue Type:

Bug Report

#### Ansible Version:

ansible 1.6 (devel ae29e43f93) last updated 2014/04/19 14:46:18 (GMT +000)

#### Environment:

Ansible running from Ubuntu 12.04 and managing same.

#### Summary:

Ansible does not report an error if path to key file is invalid.

#### Steps To Reproduce:

key="{{lookup('file','Bad-path-to-key-file-here') }}

#### Expected Results:

Expect call t

[2014-04-19 16:53] francisco1844 opened #7075 "authorized_key no longer showing key"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel ae29e43) last updated 2014/04/19 14:46:18 (GMT +000)
##### Environment:

Ansible running from Ubuntu 12.04 and managing same.
The exact same version of ansible running from a FreeBSD server does not have the issue. They key is populated and displays properly. On both instances the key is copied properly so it seems is only a

[2014-04-19 22:23] jojje commented on #5683
I also ran into this problem on v1.5.5
For some reason the commit is only in the devel branch and not yet in any of the releases.

If someone else runs into this snag, but want to stay on a stable release as much as possible, then just cherry pick this fix.

git cherry-pick 8276face94207cbbb6a803a3be38a36f46e3a9f6

[2014-04-19 22:30] francisco1844 commented on #7074
Correction.. instead of
'UserName': None

Should have been:
Key: None

[2014-04-20 05:26] novodinia commented on #5595
@mpdehaan I'm in a similar situation. The task worked until I separated it out and created a vars directory with a main.yml file. Now I'm receiving an error: `msg: Destination [/etc/nginx/conf.d not writable`

[2014-04-20 19:28] izidormatusov opened #7084 "Unicode in the task parameter raises exception"
##### Issue Type:

Bug report
##### Ansible Version:

ansible 1.5.5
##### Environment:

Running from Ubuntu 14.04

Provisioning vagrant box with Ubuntu 12.04
##### Summary:

Unicode in the task parameter raises exception
##### Steps To Reproduce:

Run the following task:

[code]
##### Expected Results:

Create user with comment `Izidor Matušov`
##### Actual Results:

[code]

[2014-04-20 20:09] jimbocoder commented on #6550
This has been pretty annoying to my team for a while now, though at least it's really simple to fix.  Requesting enthusiastically that it makes its way into the very next release!

[2014-04-21 02:32] ihinsdale commented on #4848
@jpcaruana Did you find a solution to this? I am having the _exact_ same problem.

edit: P.S. I have seen your mailing list [thread](https://groups.google.com/forum/#!topic/Ansible-project/RS1Mvdfjk2k) about this but it doesn't seem any resolution was reached there. I am using Ansible version 1.5.4. Thanks for any advice!

edit2: I solved the problem by ensuring my playbook had 'talked' to the ser

[2014-04-21 12:56] danieljaouen opened #7091 "Variable merging fails to occur even if "hash_behavior" is set to merge."
##### Issue Type:

Bug report.
##### Ansible Version:

[code]
##### Environment:

OS X
##### Summary:

Dictionary variables are not merged correctly even if the `hash_behavior` option is set to `merge`.
##### Steps To Reproduce:
1. Modify `~/.ansible.cfg` to look like this:

[code]
1. Create a new role with the following tasks:

[code]

And the following defaults:

[code]

And the following vars:

[2014-04-21 14:14] yarikoptic opened #7092 "Fix installation into virtualenv"
##### Issue Type:

“Bug Report”
##### Ansible Version:

v1.5.1-1155-gf09c0c7
##### Environment:

Debian mix of unstable/testing
##### Summary:

There was https://github.com/ansible/ansible/pull/1509 some time ago which presumably resolved similar issues before. Trying in current devel (v1.5.1-1155-gf09c0c7):

[code]

still tries to deal with '/usr/share'
##### Steps To Reproduce:

see above

[2014-04-21 14:48] jimi-c commented on #7074
So I saw a lot of discussion around this on the mailing list, and I believe the consensus was that it was actually an issue with the file lookup plugin?

[2014-04-21 14:50] jjneely commented on #7023
One of our goals is to not include sensitive configuration data in our Ansible repository.  (Passwords and such.)  We fetch them via a custom lookup plugin.  We also store some sensitive hashes in `/etc/ansible.facts.d/` on the client machine which allow Ansible runs on that machine to fetch specific secrets.  (Reasoning being if you are already root on the client machine, you have the secrets ins

[2014-04-21 14:54] faust64 opened #7093 "openbsd interfaces detection"
##### Issue Type: Bug Report
##### Ansible Version: 1.5.4
##### Environment: OpenBSD
##### Summary: Error in interface list
##### Steps To Reproduce: ansible -m setup
##### Expected Results: list of interfaces, among other facts
##### Actual Results: list of interfaces plus some out-of-nowhere nic

Here is a sample patch for system/setup (get_interfaces_info from GenericBsdIfconfigNetwork):

1735

[2014-04-21 15:45] francisco1844 commented on #7074
Based on the feedback I got, yes it seems the issue is with the lookup plugin, although I had a follow up question whether there was another way to call the authorized_key module that was not with lookup.

From the documentation here: http://docs.ansible.com/authorized_key_module.html
I got the impression lookup was not the only way to call the module

++ Using with_file - format changed.. sample

[2014-04-21 15:53] #5951 closed, assigned to nobody

[2014-04-21 16:01] jimi-c commented on #7084
Thanks, I'll look into this today.

[2014-04-21 16:33] #7084 closed, assigned to nobody

[2014-04-21 16:34] jimi-c commented on #7084
I was able to reproduce this, and the above patch corrects the issue in my testing. If you continue to have any problems with this issue, please let us know. Thanks!

[2014-04-21 16:35] jimi-c commented on #7084
Note, this will be included in the next major release, which will be released in the near future.

[2014-04-21 16:44] jimi-c commented on #7091
Dictionaries contained within the same file as you have in vars/main.yml are not merged, you're essentially overwriting the variable there with the second declaration. The vars file should be written as:

<pre>
---
test:
  two: ...
  three: ...
</pre>

 If you have any further questions regarding this issue, please let us know. Thanks!

[2014-04-21 16:44] #7091 closed, assigned to nobody

[2014-04-21 16:47] jimi-c commented on #7093
Could you send us a pull request with the above fix contained there? That way you'll get credit for the fix. Also add 'Fixes #7093' on a line by itself in the commit message and it will auto-close this if/when we merge that PR in. Thanks!

[2014-04-21 16:52] danieljaouen commented on #7091
The issue remains even if I remove the second definition in the `vars` file.  In other words, it seems like merging doesn't work if you define dicts across `defaults` and `vars` files.

[2014-04-21 17:06] jimi-c commented on #7091
@danieljaouen I was unable to reproduce that, and in fact tested it merging across vars, defaults and a 'vars:' definition in the YAML file including the role:

<pre>
- hosts: localhost
  gather_facts: no
  vars:
    test:
      two: 'two from the main yaml'
  roles:
  - debug
</pre>

^ this worked fine and replaced the test.two output with the above.

[2014-04-21 17:13] danieljaouen commented on #7091
This is still not working for me.  The only thing I can think of here is that Ansible isn't seeing my `~/.ansible.cfg` file for some reason.

Is there a command line flag to force this behavior?

[2014-04-21 17:20] danieljaouen commented on #7091
Nevermind -- looks like the correct option is `hash_behaviour` and not `hash_behavior`.  Might be worthwhile to add an alias here.

[2014-04-21 17:28] jimi-c commented on #7091
Oh yes, I did notice that during my testing and forgot to mention it, sorry about that.

[2014-04-21 17:48] #7093 closed, assigned to nobody

[2014-04-21 17:56] danieljaouen opened #7100 "ansible-playbook fails to run"
##### Issue Type:

Bug Report
##### Ansible Version:

± ansible --version
ansible 1.6 (brew dddb48e67d) last updated 2014/04/21 13:24:10 (GMT -400)
##### Environment:

OS X
##### Summary:

ansible-playbook returns error while gathering facts
##### Steps To Reproduce:
1. Create the following playbook:

[code]

And the following `roles/debug/defaults/main.yml` file:

[code]

And the following `roles

[2014-04-21 18:04] jimi-c commented on #7100
Hrm, looks like it may be related to this commit, which I just merged today: e5f297697abb3a9f5e13ce939542f900c1c2c257. Are you managing a *BSD box?

[2014-04-21 18:06] danieljaouen commented on #7100
I'm running OS X, so I guess that's technically a kind of BSD.

[2014-04-21 18:28] bcoca commented on #7074
with_file is actually the same as with_tiems: lookup('file', .... . with_
allows for aliases to lookup plugins

[2014-04-21 18:28] calpaterson opened #7101 "ansible-vault erases file if you get the password wrong"
##### Issue Type:

Bug Report
##### Ansible Version:

`ansible 1.5.5`
##### Environment:

Ubuntu 13.10
##### Summary:

If you get the password wrong, ansible-vault will wipe your vault file.
##### Steps To Reproduce:
- Create a file with some content
- Encrypt that file with ansible vault
- Decrypt that file, but get the password wrong
##### Expected Results:

Vault file is unchanged
##### Actual

[2014-04-21 18:33] calpaterson commented on #7101
Whoops, didn't see the template, have now fixed my report

[2014-04-21 18:35] halberom opened #7102 "doc with_fileglob looks in files (not templates)"
##### Issue Type:

Doc Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

CentOS 6
##### Summary:

with_fileglob doesn't read from files in relative template dir.  There was a previous commit https://github.com/lorin/ansible/commit/d7ba2e06ebb516c70737c75d751a12b0c37d6fe9 to a doc page which no longer exists - that noted with_file(glob) looks in the relative _files_ folder
##### Step

[2014-04-21 18:42] danieljaouen commented on #7100
@bcoca

[2014-04-21 18:52] pfalcon opened #7103 "template module's error messages too terse and confusing; generic solution - add --traceback switch?"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.6 (devel f1ce9abe0d) last updated 2014/04/21 21:05:18 (GMT +300)
##### Environment:

Ubuntu 12.04
##### Summary:

I'm suffering following error message when working with "template" action:

[code]

Supposedly, that gives me, a developer, some hints, but will definitely drive a user (== someone who got a playbook to execute, but didn

[2014-04-21 18:59] danieljaouen commented on #7100
One easy way to fix this would be to just double check the length of the `words` list.

[2014-04-21 19:33] pfalcon opened #7106 "Jinja2 doesn't allow to use template includes outside playbook dir"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel f1ce9abe0d) last updated 2014/04/21 21:05:18 (GMT +300)
##### Environment:

Ubuntu 12.04
##### Summary:

We have our playbook's data (group/host vars, templates, etc.) split in 2 parts: public, which goes alongside playbook, and private, which is held in completely different repo. Both repos are checkout out into a common par

[2014-04-21 19:43] gmassen opened #7107 "Traceback when "dst" is not provided to unarchive module"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

OpenSuSE
##### Summary:

Ansible produces stacktrace an simple syntax error (e.g. dst= instead of dest=).
##### Steps To Reproduce:

Use the following playbook:

[code]
- file.tar.gz exists.
- ansible-playbook --syntax-check test.yml is fine.
- ansible-playbook --check test.yml fails.
##### Expected Results:

A

[2014-04-21 19:47] nickbudi commented on #7102
Was stumped as to why a play similar to the given example was being skipped until @halberom told me in IRC to move the files with_fileglob was searching to 'files' instead of 'templates'. That did the trick!

[2014-04-21 19:53] jimi-c commented on #6897
@kiranos This seems to be more of a limitation of the useradd command on debian, where it will not create the full directory tree if the parent doesn't exist. Even using the createhome=yes option (so that -m is used with the command does not appear to help).

[2014-04-21 20:35] kiranos commented on #6897
hm I'm not following, it does work if I have / at the end like:

ansible test -m user -a "name=johnd home=/home/test5/test6/test/"

even if /home/test5/ doesnt exist previously. Or do I miss something?

[2014-04-21 21:33] jimi-c commented on #6897
@kiranos I wasn't able to reproduce that, it returned an error for me in both cases. I'll try it again later and see if I can reproduce it again.

[2014-04-21 22:48] bcoca commented on #7100
yep, sorry, tested against latest stable FreeBSDs 8, 9 and 10, didn't think
older versions would break (DUH!), will send PR tonight.​

[2014-04-21 23:52] mftovey commented on #7043
[code]

[2014-04-21 23:52] #7043 closed, assigned to nobody

[2014-04-22 02:27] #7100 closed, assigned to nobody

[2014-04-22 02:30] mpdehaan commented on #7101
I would have expected more villagers with pitchforks here, this _may_ be down a corner-case path, it certainly wasn't when I initially validated it.

Still, completely unacceptable for our standard.   We'll investigate this ASAP.

cc @jimi-c

[2014-04-22 02:33] mpdehaan commented on #7102
Only the template module knows about the template subdir, lookup plugins do not know what role they are executed in is template related.  This is working as designed as what is being looked up is not a template.

[2014-04-22 02:33] #7102 closed, assigned to nobody

[2014-04-22 02:34] mpdehaan commented on #7103
Template includes are known to be a little off right now, there are a few tickets on this.

[2014-04-22 02:36] mpdehaan commented on #7106
Note this is just about template includes, not templates in general - I've edited the description to reflect this.

As I've mentioned before, template includes in Ansible aren't really a thing presently and need some hammering to be made to work.   (I agree it would be nice -- but not too many people use them).

[2014-04-22 02:37] mpdehaan commented on #7107
The error here should probably just indicate the dst is required.

[2014-04-22 02:39] mpdehaan commented on #7075
Can you please provide more steps to show where your keyfile exists relative to your task and role structure,  as well as the permissions  on the file?

[2014-04-22 03:09] jimi-c commented on #7101
Odd, this only happens when using the --debug option. If you leave that off, nothing bad happens:

<pre>
# ansible-vault decrypt helloworld
Vault password:
ERROR: Decryption failed
</pre>

But with --debug and a bad password:

<pre>
$ ansible-vault --debug decrypt helloworld
Vault password:
Traceback (most recent call last):
  File "/data/devel/ansible/bin/ansible-vault", line 207, in main
    fn(

[2014-04-22 03:40] francisco1844 commented on #7075
Upon further research this is just a case of 7075 (https://github.com/ansible/ansible/issues/7075).
It was not finding the key.. but it was not failing.

Closing.

[2014-04-22 03:40] #7075 closed, assigned to nobody

[2014-04-22 05:48] #6737 closed, assigned to nobody

[2014-04-22 05:49] jimi-c commented on #6737
The above patch should resolve this issue for you, and will be included in the next major release. If you continue to see any further problems related to this issue, or if you have any further questions, please let us know. Thanks!

[2014-04-22 06:46] kiranos commented on #6897
you are correct I tried again with

"useradd -d /home/testing/test4/test32 johntest -m"

and it didnt let me create it, I tried ubuntu aswell and no go. I can create the subfolder before with command module.

[2014-04-22 07:17] pgehres opened #7109 "ec2_group does not support groups from other accounts"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

Unrelated but
Host: OS 10.9.1,
Target: local_action
##### Summary:

When attempting to create a new security group I would like to allow access from the ELB that I just created.  To do this you use amazon-elb/amazon-elb-sg as the group_id.

[1] - http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperG

[2014-04-22 08:44] calpaterson commented on #7101
The file still remains after giving the wrong password, but it's now empty.  That's why it's size is 0 bytes in the output of `ls -la`

This happens for me, even when I do not use `--debug`

[2014-04-22 08:46] halberom commented on #7102
Hello @mpdehaan

I used the ticket template and may have been unclear with the details - I'm aware that the intended function is to look in _files_ - and that this works.  What I was trying to get across is that there is limited documentation to that effect.

i.e. if you search with_fileglob in the ansible docs, you'll likely end up on the loops page, which doesn't mention it only looks in the _fi

[2014-04-22 08:56] calpaterson commented on #7101
Can't replicate this with https://github.com/ansible/ansible/commit/c115c34a1f5d570422b2560cc3ff0ce0ebe53dff

[2014-04-22 09:00] calpaterson commented on #7101
Looks like you already fixed this in https://github.com/ansible/ansible/commit/b8f627d1d543eb3acb181e0ff7c7a50bc6717402

[2014-04-22 09:46] rafaltrojniak commented on #6881
Hello,
We also were hit by this bug.
I have tried to manually add newline at beginning or end of the line parameter, but this results in adding extra newlines every time play was run (even after it consists of such line).

We had opportunity to use "insertbefore: BOF" so we did that, and it works.

[2014-04-22 12:12] jimi-c commented on #7101
@calpaterson ahh ok, I missed in the output that it was 0 len, but yes it appears we've fixed this in devel.

[2014-04-22 13:04] suprememoocow commented on #6550
:+1: on getting this released as soon as possible

[2014-04-22 13:30] jimi-c commented on #7101
Oh, and after looking at the code, it appears that the traceback is intentional when --debug is used, I was unaware it was written that way.

[2014-04-22 13:41] calpaterson commented on #7101
Ok, I'm closing then, thanks

[2014-04-22 13:41] #7101 closed, assigned to nobody

[2014-04-22 13:42] juliedavila commented on #6736
This is fixed in PR 7051

https://github.com/ansible/ansible/pull/7051

fixed by @jimbydamonk

[2014-04-22 13:42] jjshoe commented on #6550
@jimbocoder @suprememoocow it's released now, if you use the development branch. Otherwise, you'll have to wait until the next release. If you want the fix now but don't want to use the development branch you'll need to manually apply it. Working with a team and don't want them to have to do work to get it? Use a local_action. You could also maintain your own fork.

I for one don't want developmen

[2014-04-22 13:42] jimi-c commented on #6897
@kiranos ok to close this then? Perhaps adding a note to the createhome option regarding the parent directory existing on certain platforms might be useful.

[2014-04-22 14:00] kiranos commented on #6897
I created a test centos server and its the same there:

[root@centos6test ~]# cat /etc/issue
CentOS Linux release 6.0 (Final)
Kernel \r on an \m

[root@centos6test ~]# useradd -m -d /home/test1/test2/test johnd
useradd: cannot create directory /home/test1/test2/test

So its probably how useradd works? cant find a definit answer on that though.

[2014-04-22 14:09] suprememoocow commented on #6550
Hi @jjshoe, sorry, didn't intend to come across as being pushy or wanting to shortcut your release process, but simply looking forward to seeing this being released in due course. I'll investigate the `local_action` workaround in the mean time, but I don't think it'll work for me - I'll probably get the team to patch their ansible installations for now.

[2014-04-22 14:14] jjshoe commented on #6550
@suprememoocow it's not my release process, I'm not a maintainer, it's just you can have this solved in less time than it takes to comment on this issue. IMHO I'd add an ansible patches role, and use copy as a local action to install any patches. You'll have to do a little logic to handle where to find it on say linux vs osx, but still trivial to accomplish.

[2014-04-22 14:23] jimi-c commented on #6897
Yes, that does appear to be the case. So yes, I'm going to close this, with the note that the file module should be used to create the parent directory for the user's home if it does not already exist. If you have any further questions regarding this, please let us know. Thanks!

[2014-04-22 14:23] #6897 closed, assigned to nobody

[2014-04-22 14:36] jimi-c commented on #7027
@evanccopengeo any chance to test my above patch?

[2014-04-22 15:04] evanccnyc commented on #7027
I got sucked into meetings this morning. I am hoping this afternoon.

[2014-04-22 15:16] jimi-c commented on #7005
Hrm, if I define a var as follows:

<pre>
  vars:
    moo: harbles
    bar:
      test: harbles
</pre>

The test also fails (for both result1 and result2), despite the fact that `debug: var=` says that all  three appear to be the same:

<pre>
    - debug: var=results1.thing
    - debug: var=results2.thing
    - debug: var=bar

    - fail: msg='These should be equal...'
      when: results1.thing !

[2014-04-22 15:33] scottanderson42 commented on #7005
Note that the JSON was being explicitly parsed and then converted to a string when I debugged this directly within the module. The playbook fail tasks are just a convenient means of demonstrating the behavior.

If you print out the value of 'thing' on line 11 of the module (after this line: thing = module.params.get('thing')), the JSON text from the file has already been inappropriately converted.

[2014-04-22 15:38] pgehres commented on #7109
I do switch between AWS accounts on occasion but I only keep 1 key pair uncommented at a time. Why do you ask?

[2014-04-22 15:39] jimi-c commented on #7005
Looking at the python representations of each of the results, I believe the issue is that sometimes the keys and/or values of the dictionaries may or may not be unicode objects vs. regular strings:

<pre>
results1: u'thing': u"{u'test': u'harbles'}"
results2: u'thing': u'{"test":"harbles"}'
results3: u'thing': u'{"test":"harbles"}'
results4: u'thing': u'{"test":"harbles"}'
bar: {'test': 'harbles'}

[2014-04-22 15:43] scottanderson42 commented on #7005
The u'' only indicates that the raw JSON has been parsed here:

"{u'test': u'harbles'}"

In other words, the value starts out as:

{"test":"harbles"}

It's read in and parsed instead of being treated as a raw value, resulting in a Python dict. This dict is then coerced to be a string, which results in this:

"{u'test': u'harbles'}"

I don't believe this has anything to do with the original state o

[2014-04-22 16:19] sivel opened #7113 "The Ansible provided random jinja2 filter should be renamed"
##### Issue Type:

Bug Report
##### Ansible Version:

`ansible 1.6 (devel d88ac5e24d) last updated 2014/04/22 11:14:36 (GMT -500)`
##### Environment:

Control: Mac OS, virtualenv, python 2.7.5

Target: N/A
##### Summary:

The recently added `random` filter should be renamed.

As it exists now, it overrides the built in `random` filter from jinja2, meaning that anyone who may have already been usin

[2014-04-22 16:24] jimi-c commented on #7005
Ahh, ok, I see what's going on here. The way you have things specified above, you are using the 'complex variable' syntax, in which the variables are not passed in as strings but rather as data structures. If you change the first task to:

<pre>
    - test_params: thing='{"test":"{{ moo }}"}'
      register: results1
</pre>

the play works as expected. The reason is that when the complex args are

[2014-04-22 16:29] scottanderson42 commented on #7005
Huh... I guess so. It's completely unexpected though, from my perspective.

I was just trying to read in a file that happened to have JSON in it -- the original task was using lookup('file', 'somefile.json') instead of '{"test":"{{ moo }}"}' -- and I prefer to use (what I think of as) the long form of module parameter specification as it's much easier to read when there are more than a few paramet

[2014-04-22 16:33] jimi-c commented on #7005
Yes, you can use the line continuation character:

<pre>
    - test_params: >
        thing='{"test":"{{ moo }}"}'
      register: results1
</pre>

Any lines with the same indent after the first indented line (if you had other parameters besides thing) do not need the continuation character. For example:

<pre>
    - test_params: >
        thing1=...
        thing2=...
        thing3=...
      reg

[2014-04-22 16:54] jimi-c commented on #7113
Hrm, perhaps we should extend the existing to function similarly to the default? ie. if the target variable is a sequence return a random value from it, otherwise function the way the current filter does. That way, those are are using it now won't have their functionality broken either.

[2014-04-22 16:58] sivel commented on #7113
I believe that would be a good solution, and should be relatively easy to implement.  The random filter in jinja2 looks like:

[code]

I assume in our filter we could test 'end' with 'isdigit', and based on that run `random.choice` as opposed to the current functionality.  Probably some other things to take into account, with the other args that our random filter takes.

[2014-04-22 17:17] cmock opened #7114 "lineinfile: unexpected behaviour when insertbefore/insertafter doesn't match"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

N/A
##### Summary:

When using the insertbefore/insertafter arguments to lineinfile, and that regexp does not match, the line is not inserted into the file.
##### Steps To Reproduce:

`lineinfile: regexp="^edit" insertbefore="^before" line="edit foobar" state=present`
##### Expected Results:

The file should cont

[2014-04-22 17:28] jimi-c commented on #7113
This should work:

<pre>
diff --git a/lib/ansible/runner/filter_plugins/core.py b/lib/ansible/runner/filter_plugins/core.py
index 8557a42..293ebc4 100644
--- a/lib/ansible/runner/filter_plugins/core.py
+++ b/lib/ansible/runner/filter_plugins/core.py
@@ -181,9 +181,20 @@ def version_compare(value, version, operator='eq', strict=False):
     except Exception, e:
         raise errors.AnsibleFilterEr

[2014-04-22 17:39] jimi-c commented on #6979
Doing a git bisect shows this is the result of 12b12bba925713eff48c70f4c52b087be226b9ee, where we split up the setup and hostvars caches. I'll dig into this now.

[2014-04-22 18:05] jimi-c commented on #6979
@akuznecov I believe the above patch should resolve the issue for you. In my testing with your example above the output is correct when the patch is applied.

[2014-04-22 18:07] jimi-c commented on #7005
@scottanderson42 if the above syntax works for you, any object to closing this issue?

[2014-04-22 18:12] juliedavila commented on #7109
Nevermind I misunderstood the original issue.

Seems like boto discriminates between security groups and ELB security groups.

It looks like the code should ultimately be calling boto.ec2.elb.loadbalancer(security_groups) in addition to the regular SGs in order to list them all out.

I'll see if I can work on it tomorrow.

[2014-04-22 18:36] sivel commented on #7113
@jimi-c This works for me. Here is the playbook I tested with

[code]

[2014-04-22 18:37] sivel commented on #7113
We probably need to update documentation as well.

[2014-04-22 18:53] bcoca commented on #7113
sorry, my brain took a vacation that day. I swear I searched for random filter in jinja before creating it.

@jimi-c we might just want to check that the object is a sequence, might be simpler patch

[2014-04-22 18:57] jimi-c commented on #7113
@bcoca that's what the hasattr() call does, that way it can catch things that might be iterable but not necessarily a list or tuple, seemed just as easy to me.

[2014-04-22 19:06] bcoca commented on #7113
What I was trying to say, we should just detect if it is a sequence or not
and then run jinja2's random (ignoring other params) or pass it to
randomrange and handle returned exceptions as ansible errors. This creates
(imho) simpler and cleaner code, as your note also states, by ignore extra
info when not needed.
​

[2014-04-22 19:18] jimi-c commented on #7113
It looks like the jinja2 filter is do_random(), but takes a jinja2 environment as one of the parameters. I think it's probably either easier to rename it as originally requested (I didn't realize this was fairly new, so the impact would be minimal) or to run with the patch above. Thoughts?

[2014-04-22 19:23] bcoca commented on #7113
Yes, patch is very recent, i'm fine either way, whatever works for the most
folks.​

[2014-04-22 19:27] #7113 closed, assigned to nobody

[2014-04-22 19:27] jimi-c commented on #7113
Sold :) I merged in the above with the docs update as well.

[2014-04-22 19:31] jimi-c commented on #6988
@saepia I see you're running this on a slightly older version of ansible. Is there any chance you could test this on the 1.5.x branch or via a fresh pull from git to confirm if the issue still exists? Thanks!

[2014-04-22 19:32] jimi-c commented on #6988
Also, does the issue occur if you run the commands directly as the root user (or as the postgres use for the system)?

[2014-04-22 19:43] #6979 closed, assigned to nobody

[2014-04-22 19:59] mspanc commented on #6988
I have tried multiple setups, including logging in via SSH as postgres with the same effect. I will try 1.5

[2014-04-22 21:41] whiskybar opened #7117 "New files created inaccessible (0600)"
I am afraid the commit 898a38b074f2561d19059315030b2b5da68a4f34 changes the default behavior:
- the newly created files are now 0600 after this commit but
- the newly created files were ^umask (0644 usually) before this commit

I believe it will break many existing playbooks. I suggest we stick to the new `tempfile.NamedTemporaryFile` but figure out how to keep the previous behavior (umask).

[2014-04-22 22:15] scottanderson42 commented on #7005
Just for clarification, is this behavior documented anywhere? I haven't been able to find it.

[2014-04-22 22:19] toddwells opened #7118 "vault-encrypted variables file in excluded playbook forces password to be entered"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel b0d22b76bd) last updated 2014/03/13 10:06:30 (GMT -700)
##### Environment:

OSX 10.9.2
Ubuntu 12.04
##### Summary:

vault-encrypted variables file in excluded playbook forces password to be entered
##### Steps To Reproduce:

Create a playbook with a role and in roles/xxx/vars directory create an vault encrypted main.yaml
OR
C

[2014-04-22 22:33] jjshoe commented on #6821
@jimi-c - Looks like the docs need a revert too: https://github.com/ansible/ansible/pull/7119

[2014-04-22 23:07] rothgar opened #7120 "rhn_channel returns 'failed to parse' error"
I'm trying to add optional rhel repo to some servers and when I run the following task

[code]

I get the error

[code]

However when I run

[code]

Everything works.

I tried with different users, passwords, and hosts with the same result. I also tried with ansible 1.5.4 and 1.6 (devel 09e0d1c51f) with the same result on both.

I obviously found a work around that solved my specific problem, but

[2014-04-22 23:56] jokerswild663 commented on #6691
So I just wanted to elaborate on some discoveries.  First, I believe that the code does work just fine.  However, I think there is something wrong with the versions that are in the yum, pip, and apt repositories.

system: ubuntu 12.04
installation steps:
- apt-add-repository ppa:rquillo/ansible
- apt-get update
- apt-get install ansible

system: fedora 19
installation steps:
- yum install ansible

[2014-04-23 00:01] jamesgoodhouse opened #7121 "mount module doesn't work correctly with mount option "bind""
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

Ansible is running from OS/X Mavericks 10.9.2
I am managing an Ubuntu 12.04 instance
##### Summary:

When using the mount module and specifying an option of "bind", the filesystem is mounted over and over. This has been tracked down to what appears to be Python's os.path.ismount(path) returning false for any mo

[2014-04-23 01:31] jwboyer opened #7124 "Issuing reboot command with sudo fails"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Fedora 20
##### Summary:

Reboot commands to remote machines seem to fail with an odd SUDO-SUCCESS parse message
##### Steps To Reproduce:

ansible <host> -vv --sudo -a /sbin/reboot
##### Expected Results:

Machine reboots
##### Actual Results:

[code]

The machine actually reboots, but ansible appears to think

[2014-04-23 01:36] ralphbean commented on #7124
Just adding in here that I'm getting the following, similar error _without_ trying to sudo:

[code]

[2014-04-23 04:00] jimi-c commented on #6922
I am unable to reproduce this, however I believe I'm hitting a newer version of Openstack since I'm getting the neutron command instead of the older quantum version (my Openstack version is 1:2013.2.2-0ubuntu1~cloud0).

What version of Openstack are you targeting?

[2014-04-23 04:12] jimi-c commented on #7005
@scottanderson42 not really, it's more of an internal thing that doesn't come up very often.

[2014-04-23 07:16] ghost commented on #6499
Hi,

same issue, ansible-1.5.5, happens if $HOME directory for ansible_ssh_user is set 0700 (umask 0077). The following playbook shows the issue.

Reproduce:

[code]

[code]

To clean up the created user:

[code]

[2014-04-23 09:38] ghost opened #7125 "git module fails with sudo_user set"
##### Issue Type:

Bug report.
##### Ansible Version:

1.5.5
##### Environment:
- Workstation: Archlinux
- Managed host(s): CentOS 6.5, Ubuntu 12.04, Archlinux, ...
##### Summary:

Follow up for [#6443](https://github.com/ansible/ansible/issues/6443) and [#6499](https://github.com/ansible/ansible/issues/6499).

Using git module with
- sudo: yes
- sudo_user: some_user

results in Python os.stat err

[2014-04-23 09:55] ghost commented on #7125
Sorry for duplicating the content. I didn't find a way to modify the initial markdown.

[2014-04-23 10:04] ghost commented on #7125
Some information got lost when initial markdown has been replaced with the content from the template.

##### Cause

$ANSIBLE_INSTALL_PATH/source_control/git, def is_remote_branch,
line 294.

[code]

dest here seems to be set to

[code]

which might be the reason for this issue. Dunno.

##### Solutions

Ideal solution: **DO NOT NEVER EVER** refer to the _ansible_ssh_user_
environment when running t

[2014-04-23 10:31] akuznecov commented on #6979
@jimi-c, confirm. Works well with devel version
Thanks a lot!

[2014-04-23 12:59] mpdehaan commented on #7060
cc @jimi-c just made some changes here - https://github.com/ansible/ansible/commit/c115c34a1f5d570422b2560cc3ff0ce0ebe53dff - though this clearly isn't the solution fix (assumes English)

Just linking for future record.

[2014-04-23 13:03] ghost commented on #7125
The hardcoded cwd='/tmp' patch would break git clone operations where version=something.

[2014-04-23 13:28] jimi-c commented on #6979
Thank you!

[2014-04-23 14:11] akkie opened #7130 "File doesn't create sub-directories with the same permissions as the top level directory"
##### Issue Type:

“Bug Report”
##### Ansible Version:

ansible 1.5.4
##### Environment:

Ubuntu 14.04
##### Summary:

The file module doesn't create sub-directories with the same permissions as the top level directory.
##### Steps To Reproduce:

[code]
##### Expected Results:

The `apps` directory should have the same owner and group as the `myapp` directory.
##### Actual Results:

The `apps` dir

[2014-04-23 14:14] martinalig commented on #6131
Any chances to see this opened again? I think its quite confusing that unarchive does not work remotely...

[2014-04-23 14:24] jimi-c commented on #6601
@madrobby I believe the above pull request will resolve your issue, if you'd like to test it out.

[2014-04-23 14:32] ghost commented on #7125
Error is thrown in ansible/module_utils/basic.py, def run_command, line 1069, if rc != 0 and check_rc.
Until that point everything looks good to me.

What I did:

[code]

And later on at line 1069:

[code]

self.fail_json reports the correctly configured cwd. I don't see **any** thinkable reason why the subprocess call for git ls-remote would have to deal with the /home/_ansible_ssh_user_ director

[2014-04-23 15:08] #6763 closed, assigned to jimi-c

[2014-04-23 15:09] jimi-c commented on #6763
I've gone ahead and merged the above commit in. If you continue experiencing any problems related to this issue, or if you have any further questions regarding this, please let us know. Thanks!

[2014-04-23 15:34] kgxsz commented on #6763
Great! Thank you.

[2014-04-23 15:44] ghost commented on #7125
Running the generated Python code manualy starting from root on the managed node works:

[code]

Over SSH:

[code]

Over SSH running sudo -u git with interactive shell (-i) works (still no solution as it is unknown if the targeted remote user may connect to a login shell):

[code]

[2014-04-23 15:54] jokerswild663 commented on #6691
@mpdehaan @jctanner ^

[2014-04-23 16:29] jwboyer opened #7136 "ignore_errors: yes doesn't ignore parse errors?"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Fedora 20
##### Summary:

If ignore_errors: yes is set for a task, and that task gets a parse error for the return code from a particular host, that host is removed from the rest of the play.
##### Steps To Reproduce:

Run a playbook that has a host which gets a parse error returned for one of the commands that

[2014-04-23 16:44] jimi-c commented on #6691
@jokerswild663 are you saying that the devel branch works ok, but not the official 1.5.x versions? If so, it most likely means an issue was found and fixed already. Can you confirm that?

[2014-04-23 17:48] mftovey opened #7137 "yum module enablerepo won't do multiple repositories"
##### Issue Type:

"Bug Report:"
##### Ansible Version:

ansible 1.4.3, 1.5.3
##### Environment:

Oracle Enterprise Linux 6.4
##### Summary:

yum module enablerepo won't do multiple repositories
##### Steps to Reproduce:

[code]

repo1 and repo2 are intentionally disabled by default in the yum.repo.d configuration files and are enabled as required when installing packages

[code]
##### Expected Re

[2014-04-23 18:03] jimi-c commented on #6928
Ok, the path I'm going with this is to add two new params: url_username and url_password. This way, there's no need to deal with any encoding/decoding and is easier to use vault-encrypted passwords in the play. I'm nearly ready to post this up to my github clone, and I'll send a PR from there so you can see it/test it.

[2014-04-23 18:46] jimi-c commented on #6928
@rothgar please give the above a try and see if it addresses your problem. I will get this merged in ASAP if so. Thanks!

[2014-04-23 18:57] jokerswild663 commented on #6691
Yes, I am saying that the development branch works just fine, but not the official 1.5.x versions in the repos.

[2014-04-23 19:07] jokerswild663 commented on #6691
@jimi-c ^

[2014-04-23 19:38] jf opened #7139 "(Doc fix) "Inventory": ports listed in ssh config can be used"
##### Issue Type:

Documentation Report
##### Ansible Version:

1.6 but doesnt matter!
##### Environment:

N/A
##### Summary:

hi, first up sorry if this has been raised already. I'm guessing probably not, because if it had, the fix would have been in already (it's not like fixing a typo is a terribly difficult task?). I'm just working my way through the documentation right now... so do expect fut

[2014-04-23 20:29] jimi-c commented on #6962
@pas256 I dug into this more today, and the actual issue is a bunch of garbage being spewed to stdout by the fail2ban startup:

<pre>
failed to parse: SUDO-SUCCESS-uxeaoqqhycjzmwjcexdcecqmayjibbxy

Message from syslogd@ip-172-31-5-75 at Apr 23 19:39:44 ...
 �<30>fail2ban.filter : INFO   Added logfile = /var/log/secure

Message from syslogd@ip-172-31-5-75 at Apr 23 19:39:44 ...
 �<30>fail2ban.filte

[2014-04-23 20:32] jimi-c commented on #6691
@jokerswild663 ahh ok, in that case I'm going to go ahead and close this, as we're planning on releasing 1.6 in the near future, so this fix will be included in that. If you have any further questions regarding this issue, please let us know. Thanks!

[2014-04-23 20:32] #6691 closed, assigned to jimi-c

[2014-04-23 20:35] jokerswild663 commented on #6691
Do you have an eta on 1.6? Company is needing to use spot instances.

Sent from my iPhone

[2014-04-23 20:36] jimi-c commented on #6691
We're currently aiming for the end of the month.

[2014-04-23 20:37] jokerswild663 commented on #6691
Weeks? Months?

Sent from my iPhone

[2014-04-23 20:37] jimi-c commented on #7139
Thanks, we'll take a look at this. The docs are contained within the repo itself, so if you want to send a PR to fix the above feel free.

[2014-04-23 20:41] mpdehaan commented on #7139
Yep, we're happy that these are used, stale docs must be fixxored.

Thanks!

On Wed, Apr 23, 2014 at 4:37 PM, James Cammarata
notifications@github.comwrote:

[2014-04-23 20:49] kustodian commented on #7060
I'm not sure if that commit is a good idea. Setting default `LANG` to `en_US.UTF-8` could bring a lot of regression problems in other modules. If I understand correctly the reason why Ansible sets `LANG=c` is because some modules throw errors if the `LANG` is different than `c`.

Maybe a better option would be to merge this pull request and modify the `subversion` module to pass `set_default_lang=

[2014-04-23 20:57] jimi-c commented on #7005
I'm going to go ahead and close this, if you have any further questions please let us know. Thanks!

[2014-04-23 20:57] #7005 closed, assigned to nobody

[2014-04-23 21:22] jimi-c commented on #7060
@kustodian my feeling on this was that LANG=C is essentially an ASCII environment, and where en_us.UTF-8 is a superset of ASCII it should not cause problems. For those who had internationalization issues before when LANG=C they were most likely having to set the default_lang variable in ansible.cfg already, so I thought this would at least prevent a large class of unicode errors.

[2014-04-23 21:51] kustodian commented on #7060
I just remember that @mpdehaan said once in the forums, what is the reasoning behind LANG=C, that some modules caused errors, or output different results in different language settings, so they set a default LANG=C to resolve this problem. Maybe you are right, maybe everything will work with en_us.UTF-8, but we don't know and this could cause a lot of regression problems, which we don't need, so w

[2014-04-23 21:55] nickbudi commented on #7102
@mpdehaan what is being looked up with `with_fileglob` is a template, my snippet being discussed on IRC just had '.sh' instead of '.j2' for an extension (now corrected). I've submitted a pull request to add a note about `with_fileglob` to the loops doc page so that the behavior of with_fileglob is more apparent.

[2014-04-23 22:11] kustodian commented on #7060
I just realized that only some modules have problems with some languages, so if we allow changing default LANG in ansible.cfg, that means a user could still break those modules. We should probably reconsider and make it possible for some modules to override the default `LANG` and set a LANG which works for them. Of course this would mean that we would need to go over history to find which modules

[2014-04-23 22:41] pas256 commented on #6962
Awesome. Thanks!

[2014-04-24 00:53] #6962 closed, assigned to jimi-c

[2014-04-24 00:54] jimi-c commented on #6962
No problem, I've merged this in now. Let me know if you continue having any problems related to this issue. Thanks!

[2014-04-24 02:22] jkleckner commented on #7057
This comment is to cross-reference PR #7058

[2014-04-24 03:09] brendanfalkowski opened #7146 "Cannot install ansible with pip on OSX"
##### Issue Type:

Documentation Report
##### Ansible Version:

Cannot install Ansible yet
##### Environment:

Mac OS X Mavericks (10.9.2)
##### Summary:

Trying to install Ansible on Mac OS X Mavericks (10.9.2) so I can setup a testing environment in Vagrant. I'm a frontend developer — brace yourself. I don't have Homebrew or MacPorts installed. I read pip is the best way to install Ansible, and

[2014-04-24 03:34] joshuaswarren commented on #7146
When you get to the step 'sudo pip install ansible', do this instead:

[code]

That last line is to just make sure you log out of the root account before you break anything accidentally.

This doesn't appear to be ansible-specific, and instead appears to be caused by the version of clang that Mavericks is using and the default settings in it. So if you encounter a similar problem with a 'pip insta

[2014-04-24 04:00] brendanfalkowski commented on #7146
Well, that totally worked. Thanks @joshuaswarren! I did read that Mavericks has an issue with clang, but didn't know what to do with that info.

Ironically, I did try executing those export commands (as my user account not as root... d'oh). Reference: http://stackoverflow.com/a/22427311/1497746

@ansibot: It would be really useful to update the documentation as I'd expect every OSX user would expe

[2014-04-24 05:27] #6928 closed, assigned to jimi-c

[2014-04-24 05:28] #6601 closed, assigned to jimi-c

[2014-04-24 06:05] wadey opened #7147 "Error when using --sudo"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.5
##### Environment:

I am running ansible from OS X 10.9.2. I am trying to manage Ubuntu 14.04 running in VirtualBox.
##### Summary:

Running with `--sudo` fails with a weird bash parsing error. I have passwordless sudo enabled in the managed instance.
##### Steps To Reproduce:

run any command with `--sudo` (or with `sudo: yes` in

[2014-04-24 06:54] jf commented on #7139
Got it, and thanks. I'll try to work on a PR hopefully by the end of the week.

[2014-04-24 12:20] mpdehaan commented on #7146
Hmm, interesting, we're actually _NOT_ getting a lot of reports from this, as I imagine OS X users are largely installing from source (source ./hacking/env-setup) or homebrew.   Still, we should make a note to improve docs as people will definitely try this.

We can just add the CFLAGS= and CPPFLAGS= to the pip install ansible line to keep it simple.

Thanks for the heads up!

[2014-04-24 14:05] jjshoe commented on #7146
@mpdehaan - I hit this on osx but didn't think of making an issue, as @joshuaswarren stated, this affects more than ansible, so I think it's second nature for us folks to set the env vars and move on.

[2014-04-24 15:54] shtirlic commented on #6447
Ubuntu 14.04 remote, maverick host with ansible 1.5.5, same problem when accelerated enabled.

[2014-04-24 16:04] jimi-c commented on #7147
I'm not able to reproduce this, though I am connecting from a Fedora system rather than OSX. Can you verify if the issue exists in the current devel branch? I have tested both that and the 1.5.5 version.

[2014-04-24 16:05] jimi-c commented on #7147
Here is my output:

<pre>
# ansible ubuntu1404 -a "echo hello" -vvv --sudo
<192.168.122.113> ESTABLISH CONNECTION FOR USER: root
<192.168.122.113> REMOTE_MODULE command echo hello
<192.168.122.113> EXEC ['ssh', '-C', '-q', '-o', 'ControlMaster=auto', '-o', 'ControlPersist=60s', '-o', 'ControlPath=/root/.ansible/cp/%h-%r', '-o', 'StrictHostKeyChecking=no', '-o', 'IdentityFile=/root/.ssh/id_rsa.ansi

[2014-04-24 16:13] jimi-c commented on #7147
I see from the output above that it looks like it's connecting to localhost:2222 for vagrant. Does the same issue occur if you attempt to connect directly to the vagrant instance?

[2014-04-24 16:15] jimi-c commented on #6447
@shtirlic we're going to be releasing 1.6.0 before the end of the month, which should include this fix.

[2014-04-24 16:37] nathanhruby commented on #6215
retested on ansible 1.5.4, same behavior.

[2014-04-24 17:20] wadey commented on #7147
@jimi-c in your example, your connecting user is root so it isn't actually using sudo. If you look at the EXEC command it runs you can see that sudo is not in the command at all, where in my example it is running sudo. Can you run a test where you are not connecting as the root user so it uses sudo and see what you get?

I tried multiple versions, from 1.4.5 up to 1.5.5 and all had the same issue.

[2014-04-24 17:20] kiranos opened #7151 "[Apache2_module] Add apach2_vhost module aswell (probably just copy/paste)"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5.4
##### Environment:

Debian 7
##### Summary:

@berendt (I'm cc:ing you as this might be a 5min job when using your apache2_module as template, would not be nice to just copy your work and not notifiying you:) )

library/web_infrastructure/apache2_module

The Apache2_module supports enabling/disabling modules with a2enmod command,

[2014-04-24 17:24] jimi-c commented on #7147
I have tested both ways, but since you didn't specify a user in yours I had assumed that was the user you were connecting with. I used a non-root user ('testing') and got the same result, so yes I think it might be something local.

Can you create a new, clean user account to test from to make sure it's not something to do with your user settings?

[2014-04-24 17:26] wadey commented on #7147
I will attempt to set up a clean environment to see if I still have an issue.

Can you paste the output you get for the EXEC command when it is using sudo so I can compare?

[2014-04-24 17:53] wadey commented on #7147
I created a new user account on my local machine, and I am now trying to manage a remote machine instead of a virtualbox instance. The remote machine is a brand new Ubuntu 14.04 instance. I am still getting the same error. Here are the logs with -vvvv showing ssh debug logs:

[code]

[2014-04-24 17:56] jimi-c commented on #7147
Here's the output from mine:

<pre>
&lt;192.168.122.113&gt; ESTABLISH CONNECTION FOR USER: testing
&lt;192.168.122.113&gt; REMOTE_MODULE command echo hello
&lt;192.168.122.113&gt; EXEC ['ssh', '-C', '-tt', '-q', '-o', 'ControlMaster=auto', '-o', 'ControlPersist=60s', '-o', 'ControlPath=/root/.ansible/cp/%h-%r', '-o', 'StrictHostKeyChecking=no', '-o', 'IdentityFile=/root/.ssh/id_rsa.ansible', '-o',

[2014-04-24 18:02] jimi-c commented on #7147
If you take the array of args after EXEC and run them through the python interpreter as follows:

<pre>
&gt;&gt;&gt; print " ".join(['ssh', '-C', '-tt', ...]) # everything after EXEC
ssh -C -tt ...
</pre>

Then take that output and run it directly from your console, what do you see? You might need to first run it with ANSIBLE_KEEP_REMOTE_FILES=yes, otherwise the temporary files won't be there anym

[2014-04-24 18:15] wadey commented on #7147
[code]

[2014-04-24 18:44] jimi-c commented on #7147
That's odd, if you change the IP to a different machine does it return the same error?

[2014-04-24 19:06] nathanhruby commented on #6898
Sorry this took so long.

Below links to a tarball with a sample playbook and role.  Extract it and run with
`ansible-playbook -e userole=False -i test.inv testvars.yml`
to see the failure.  Before 1.5.4 this worked and the vars file would not be parsed.

https://drive.google.com/file/d/0B7vhBal_UqRNR3FrUEEwVlZTLWs/edit?usp=sharing

[2014-04-24 19:16] jimi-c commented on #6898
I can confirm the error shows up on the 1.5.x branch up to 1.5.5, however it does appear to be resolved in devel:

<pre>
# ansible-playbook -e userole=False -i test.inv testvars.yml
PLAY [test role vars] *********************************************************
GATHERING FACTS ***************************************************************
ok: [localhost]
TASK: [vartest | debug var=userole] ******

[2014-04-24 19:16] #6898 closed, assigned to nobody

[2014-04-24 19:17] nathanhruby commented on #6898
hotness, thanks!

[2014-04-24 19:28] nathanhruby commented on #5841
made PR for doc issue

[2014-04-24 19:51] pfalcon commented on #7103
What about idea for --traceback switch, is it viable? I may imagine it would be a bit of chore to get complete coverage for it, but can be done gradually, just need to know it's otherwise fits Ansible paradigm.

[2014-04-24 19:55] pfalcon commented on #7106
Ah, thanks for correction - indeed, I didn't try to reference direct template form outside a playbook dir, that indeed works. Well, per our usecase, really need to keep parts of template separate, and including subparts seems like most straightforward way. Currently working the issue around by having a symlink within playbook dir pointing to outside dir.

[2014-04-24 22:29] hlassiege opened #7157 "Unable to login with credentials used to create mongo user"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

debian 7 for both master and slave
pymongo 2.7
mongo 2.6.0
##### Summary:

Hi,

I'm trying to use mongo_user to create some users. However, I'm unable to login with the credentials specified.
##### Steps To Reproduce:

I use the following commands :

[code]

and then, if I try to connect, it fails :
    mongo a

[2014-04-25 02:56] wadey commented on #7147
It looks like that last comment was a red herring, I think the `print " ".join` wasn't accurately representing how it was being executed.

I messed around running the EXEC command the same way that python would run it, and found that if I double escape the `"` chars, then it works:

[code]

The only difference is that the second time I changed all of the `"` to `\\"`. Is there some issue with the

[2014-04-25 03:05] adamreid commented on #7147
I was unable to reproduce from OS X 10.9.2 on a remote Ubuntu 14.04 box (also tried a CentOS box). I tried with both 1.5.5 and master. It looks like your environment is to blame.

[2014-04-25 03:10] wadey commented on #7147
Ok, I figured it out. I found if I ran the same command that failed from a different box, it worked.

I then found out that my machine had a `/usr/local/bin/ssh` wrapper installed that was to blame (it was prematurely evaluating the quotes).

Sorry for the confusing bug report, I wonder if there is anything ansible could have done to point me quicker at the error but I'm not sure that would be pos

[2014-04-25 03:10] #7147 closed, assigned to nobody

[2014-04-25 03:12] jimi-c commented on #7147
Great, glad you got it figured out.

[2014-04-25 04:38] mpdehaan commented on #7157
This might be a good topic to ask the project list, given it's probably more of a mongo usage question.

As not a heavy user of Mongo, I don't have a direct answer to this one right now, but we can investigate -- just letting you know this is in queue and I'd suggest asking the list first.

Thanks!

[2014-04-25 13:44] mpeters commented on #4841
+1 with @jangondol
In my case, it wasn't aliases in the ssh config but in /etc/hosts. They work everywhere else inside ansible and out, but not with ansible accelerated mode. I understand the technical reasons why, but it's still a weird limitation looking from the outside.

[2014-04-25 15:30] mattsch commented on #6360
I've added an option to toggle the editable flag, defaults to true so it doesn't break anything already using it.

[2014-04-25 15:30] brendanfalkowski commented on #7146
Thanks for the help. I figured it was some configuration that was obscure to me, but obvious to somebody familiar with installing packages. I understand what those *FLAGS do now, but I probably never would have reached that conclusion on my own.

[2014-04-25 15:30] #7146 closed, assigned to nobody

[2014-04-25 22:22] mftovey commented on #7137
I saved the tmp file on a target server and looked through it to try to see what is happening.  I was able to isolate the issue to this code snippet:

[code]

I added some print statements to output repo information as the code is executed:

[code]

That generates this output:

[code]

So, at the highlighted line, the list of repositories that the current repository is being tested against has bee

[2014-04-26 13:15] jf opened #7164 "Tighten up documentation about the file module ("Introduction To Ad-Hoc Command", "File Transfer")"
##### Issue Type:

Documentation Report
##### Ansible Version:

N/A
##### Environment:

N/A
##### Summary:

Hi guys, I found myself a bit confused by the writeup on the `file` module (in "Introduction To Ad-Hoc Commands"; http://docs.ansible.com/intro_adhoc.html#file-transfer). What's happening right now is that you have a segment of text right before talking about `file`, which is talking in a ve

[2014-04-26 14:44] mpdehaan commented on #7164
Your suggestions increase verbosity and I disagree with taking it 2nd person.

This is very preference based, we're not going to take any action here, sorry.

[2014-04-26 14:44] #7164 closed, assigned to nobody

[2014-04-26 17:48] jf commented on #7164
Sure, Michael, I understand. Just so I'm clear, I hope you didnt misread my proposed changes as adding a whole block of text? I wish i could space things out properly, but it's not possible in the markup here. I'm proposing adding 1-4 words for 2 paragraphs (for example, add 1 word ("existing"), or 3 words ("you to ... existing") for 1 paragraph, and 3 or 4 words ("be used to", vs "You can also us

[2014-04-26 18:30] jacobweber opened #7165 "When --ask-sudo-pass is not provided on CentOS and it's required, there is no error message that it is asking for a password."
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.5
##### Environment:

Centos 6.4 server and client.
##### Summary:

Ansible hangs when trying to run a command via sudo, and can't be stopped without killing the process.
##### Steps To Reproduce:

When I run `ansible hostname --sudo -m service -a 'name=httpd state=restarted'`, it hangs. Pressing control-C does nothing. I have to ki

[2014-04-26 19:55] mpdehaan commented on #7165
Generically speaking, ansible does not hang with sudo.

You can supply --ask-sudo-pass to supply a sudo password.

If this works and you get the hang scenario without --ask-sudo-pass, please let us know, as we need to look into why the sudo prompt detection is not giving you an error. (I suspect this part is paramiko specific).

In any event, supply --ask-sudo-pass and let us know more information

[2014-04-26 19:59] jacobweber commented on #7165
--ask-sudo-pass does prompt me for a password, before it runs ssh. But if I get it wrong, or if that user doesn't have sudo permission to run ansible's script, it still hangs when running ssh.

(BTW, the edited title refers to the lack of a prompt, which is an issue, but I just meant to report the fact that you can't interrupt Ansible in this state.)

[2014-04-27 08:25] daniellawrence opened #7166 "possible issue with vars_files using fact based paths when used with the debug module"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

Linux managing Linux (localhost)
##### Summary:

`vars_files` favour static file paths over file paths using the jinja2 notation.
##### Steps To Reproduce:

[code]

$ ansible-playbook playbook.yaml
##### Expected Results:

I expect both `foo` and `bar` variables that printed in the debug message with contain the value

[2014-04-27 09:09] daniellawrence commented on #7166
Reading over the code and throwing in lots of debug statements, I found that by ignorantly commenting out https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/play.py#L814 fixes the issue.

Hopefully that is helpful.

[2014-04-27 11:57] evilbungle commented on #5007
This is affecting me too (Ansible 1.5.5 from pypi).  It's fairly reliably panicking when trying to run the following a second time within a few seconds after terminating a previous invocation with ctrl+c.  It happens any time an interactive password is requested (not just sudo).

[code]

I've tried to reproduce it using the same procedure (start, enter password, ctrl+c, start again, enter password

[2014-04-27 12:56] GonzaloAlvarez commented on #6131
+1 to reopen this again. I also believe it is quite confusing that unarchive works only with local files. Also, I think it is not a good practice to encourage playbook devs to have the tar files within the local dir, because you usually have your playbooks tracked with a version system tool (such as git) and it is not nice to have big binary files within.

[2014-04-28 01:24] jjshoe commented on #4881
It already takes a path parameter, just needed a little love to let you specify an absolute path.

[2014-04-28 02:48] shiinee commented on #6809
I'm running into the same issue and the culprit seems to be the `--timeout=10` option added by Ansible.

**Run rsync command using playbook:**

[code]

**Run rsync command manually:**

[code]

**Run rsync command manually, without timeout option:**

[code]

I can send a pull request to remove the timeout option.

[2014-04-28 08:58] rgarrigue commented on #6957
For information I had the same problem on CentOS 6.5 installing ansible 1.5.3 from epel. Ansible's packaging/rpm/ansible.spec is missing "Requires: python-setuptools" for RHEL > 5

[2014-04-28 10:36] ramondelafuente commented on #5007
@evilbungle That narrows it down even more. Is that something that needs to be in an Apple bug report?

Just connecting some dots:
https://discussions.apple.com/message/22627322#22627322
https://code.google.com/p/iterm2/issues/detail?id=1765&q=tmux%20panic
https://github.com/tkf/emacs-jedi/issues/37

[2014-04-28 12:03] Ernest0x opened #7178 "Document that ./library path can be also created at role level"
##### Issue Type:

Documentation Report
##### Ansible Version:

1.5.3
##### Environment:

N/A
##### Summary:

Document that ./library path can be also created at role level
##### Steps To Reproduce:

N/A
##### Expected Results:

N/A
##### Actual Results:

N/A

[2014-04-28 12:22] hozn opened #7179 "Add support for using SCP with Paramiko"
##### Issue Type:

Feature Pull Request
##### Ansible Version:

1.5.5
##### Environment:

Linux (CentOS 6.x, CentOS 5.x)
##### Summary:

This is a feature request based on the Google Groups discussion: https://groups.google.com/d/msg/Ansible-project/pjFYB8tBGgE/4kjiEeQAH2AJ

I will submit a pull request for this once I've had more time to play with the implementation I proposed.
##### Steps To Rep

[2014-04-28 12:27] Govinda-Fichtner opened #7180 "vsphere_guest module and argument casting"
While trying the vsphere_guest module from the devel branch I had problems to get the module working with the following parameters:

https://gist.github.com/Govinda-Fichtner/11370085

Basically it is about lines like the following

[code]

vm_memory is defined in a host var like this

[code]

It seems as if the quoting around the variable makes it a unicode string.
I get the following error:

http

[2014-04-28 12:36] Govinda-Fichtner opened #7181 "vsphere_guest module and variables"
##### Issue Type: Bug Report
##### Ansible Version: 1.5
##### Environment:

What OS are you running Ansible from:  Mac OS X 10.9.2
and what OS are you managing: Ubuntu 10.04, 12.04, 14.04
##### Summary:

While trying the vsphere_guest module from the devel branch I had problems to get the module working with the following parameters:

https://gist.github.com/Govinda-Fichtner/11370085

Basically it

[2014-04-28 13:35] mpdehaan commented on #7181
This ticket is a duplicate of the one previously opened

[2014-04-28 13:35] #7181 closed, assigned to nobody

[2014-04-28 13:36] mpdehaan commented on #7180
There is nothing specific about the templating engine and the VMware module, or the fact that it came from a variable.

This is to not say that something shouldn't be casted here, however.

I'm updating the defect description, thanks!

[2014-04-28 14:02] bryanlarsen commented on #6885
This should be tagged with 'bug', not 'feature_idea'.   Versions are useless without wildcards, since apt repositories tend to delete old versions whenever a new minor or patch level update is uploaded.   So if you pin to a specific version, your playbook will break over time.

[2014-04-28 14:06] akuznecov opened #7182 "Devel :: Synchronize module issue with rsync_path"
Hello,
##### Issue Type:

Bug Report
##### Ansible Version:

1.6 devel
##### Environment

:: host :: ArchLinux
:: managed ::  Debian 7
##### Summary:

Just found an issue with double quotation and escaping of rsync_path parameter of synchronize module, that leads to `command not found` error
This problem appears when you alternate rsync_path as described in one of module examples http://docs.ansib

[2014-04-28 14:25] akuznecov commented on #7182
Quotation has been added in this commit
https://github.com/ansible/ansible/commit/61e726fe82dc184bec0d781463ae7f971f6c364f#diff-f0bc470beb14a80512ae1c1d7de7af05
Idk, what it fixes, but commenting lines with quotation of `rsync_path` fixes my issue, but may raise some other problems

[2014-04-28 14:34] jimi-c commented on #7179
@hozn I'm going to go ahead and close this, just send us the PR when it's ready. Thanks!

[2014-04-28 14:34] #7179 closed, assigned to nobody

[2014-04-28 15:25] jimi-c commented on #7166
@daniellawrence variables based on host vars are always a lower priority than those that are not, since those variables are read in later (see http://docs.ansible.com/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable for more details on variable precedence). Variables based on host data are considered "inventory" variables, even when they're defined in the vars_files secti

[2014-04-28 15:25] #7166 closed, assigned to nobody

[2014-04-28 15:45] jimi-c commented on #6809
The above pull request was merged, and should correct the above issue. If you continue seeing any problems related to this issue, or if you have any further questions please let us know. Thanks!

[2014-04-28 15:45] #6809 closed, assigned to nobody

[2014-04-28 16:42] jimi-c commented on #7180
@Govinda-Fichtner the above PR should address this issue, if you'd like to test it out before I merge it in.

[2014-04-28 17:00] jimi-c commented on #7182
Why would you do this and not just set 'sudo: True' on the task or the entire play?

[2014-04-28 17:40] mpdehaan commented on #7124
Yeah you have to run this async because it will be wanting to a response

Using the "at" module could also be a solution.

[2014-04-28 17:40] mpdehaan commented on #7124
(Basically think about the reboot command happening before a JSON response can be returned)

[2014-04-28 17:40] #7124 closed, assigned to nobody

[2014-04-28 17:41] mpdehaan commented on #7124
If there are questions about how to implement this, please stop by the mailing list -- didn't want to be short here.

Thanks!!!

[2014-04-28 18:03] jf opened #7193 "'copy' module logs despite no_log: true"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel a482e1583d) last updated 2014/04/29 01:53:48 (GMT +800)
##### Environment:

Ubuntu 12.04.4
##### Summary:

'copy' module logs on the remote despite no_log: true. This is not the case for other modules (service, command, shell). I would submit a patch, except that I'm still figuring out the source.
##### Steps To Reproduce:

C

[2014-04-28 18:04] jwboyer commented on #7124
OK, thanks.  FWIW, I did look at the at module, but it presents the same problem that just using 'shutdown -r 1' does.  Neither shutdown nor the at module has a unit granularity in seconds, so whatever I'm doing is forced to wait at least 1 minute.  Call me impatient :)

[2014-04-28 18:14] makmanalp opened #7195 "MySQL state=import does not fail when given wrong file type"
##### Issue Type:

“Bug Report”
##### Ansible Version:

ansible 1.5.4
##### Environment:

N/A
##### Summary:

Accidentally put in a gzip file with a .bz2 extension as the db dump. Would have expected an error. Instead it continued on as if the import worked, and went on to notify the next task.
##### Steps To Reproduce:

Import task like:

[code]

where the .bz2 file is actually a gzip.
##### Expe

[2014-04-28 18:23] mpdehaan commented on #7136
Yeah I agree with this.

This is there to ignore failures for modules, whereas a failure to parse a response is treated as a connection problem that is fatal.  If being explicitly ignored, I think we should allow this to go through, which would make reboots easier without using "async" or "at"...

[2014-04-28 19:31] geerlingguy commented on #6751
:+1:

[2014-04-28 19:48] whiskybar commented on #7117
Fixed in #7196.

[2014-04-28 19:48] #7117 closed, assigned to nobody

[2014-04-28 21:41] Logos01 commented on #7032
Submitted Pull Request  #7198 to resolve this issue.

[2014-04-28 22:56] chicks-net commented on #2769
What a pain!  The official docs examples do not work.  <sigh>

Thanks for the myriad of suggestions.

[2014-04-28 23:31] mark-casey opened #7199 "group_by:+when: skips hosts, depending on inventory order"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

Ubuntu 12.04 x64 running Ansible, managing 13.10 x64 hosts
##### Summary:
- Attempting to use 'group_by:' with 'when:'.
- Two hosts; one in group _**dbnodes**_, one in group _**webnodes**_, both also a member of ec2_hosts.
- One host satisfies the when clause, one does not.
- Flipping group membership doesn't f

[2014-04-29 02:00] #7180 closed, assigned to nobody

[2014-04-29 02:49] #7032 closed, assigned to nobody

[2014-04-29 02:50] jimi-c commented on #7032
The above pull request has been merged in, and should address this issue. Please let us know if you have any further problems regarding this issue, or if you have any other questions. Thanks!

[2014-04-29 03:01] mpdehaan commented on #7199
"Flipping group membership doesn't flip which host is grouped...just skips the task altogether."

This is exactly what when does, when something is not in a "when" clause, that statement is not run.

It sounds like you have some more basic questions about this rather than a bug report, how about stopping by the mailing list?

[2014-04-29 03:10] mark-casey commented on #7199
The host that satisfies the when clause is present in both inventories. The task just behaves differently based on whether it first evaluates the host that matches or the host that does not.

Were you able to try the sample case(s)?

[2014-04-29 03:10] mpdehaan opened #7200 "update ec2 guides"
The existing ec2 guides are ok, but need to show things more end to end, on level with the Rackspace guide in the docs, which are much better

Update and show examples using ec2_lb modules, and so on... as many as possible.

[2014-04-29 03:16] jimi-c commented on #7199
@mark-casey I can confirm I see the same behavior, and also I see that if you flip the .79/.71 hosts in the [ec2_hosts] group it works as expected. Re-opening for further investigation.

[2014-04-29 03:40] cc272309126 opened #7201 "python api for one or more host"
I have noticed that the runner api can not suport the host list like 'xxx.xxx.xxx.xxx', but
can suport the host list like 'xxx.xxx.xxx.xxx,' . xxx.xxx.xxx.xxx is the ip of remote host. I read the source and I know the reseaon. it because the below code.
if isinstance(host_list, basestring):
            if "," in host_list:
                host_list = host_list.split(",")
                host_list

[2014-04-29 03:48] jimi-c commented on #7201
This is already well documented, and the "host," syntax is rarely used (really only for testing and examples). Thanks!

[2014-04-29 03:48] #7201 closed, assigned to nobody

[2014-04-29 03:49] cc272309126 opened #7202 "python api for one or more host"
##### Issue Type:

“Feature Idea”
##### Ansible Version:

ansible 1.2.2
##### Environment:

RHEL 5/6, Centos 5/6,
##### Summary:

it should add a opption for ansible runner to confirm the host list is a file or string
##### Steps To Reproduce:

I have noticed that the runner api can not suport the host list like 'xxx.xxx.xxx.xxx', but
can suport the host list like 'xxx.xxx.xxx.xxx,' . xxx.xxx.xxx.

[2014-04-29 03:57] mark-casey commented on #7199
Thank you guys for taking another look. (I fully expected it might need some clarification upon hearing friend1 explain it to friend2 [and I quote]: "It's a slot machine written in Ansible. Sometimes you win and the service comes up, and sometimes the house/ec2 DHCP server cheats you.")

[2014-04-29 07:03] Govinda-Fichtner commented on #7181
Sorry for the duplicate... do not know exactly how it happened.

[2014-04-29 07:22] akuznecov commented on #7182
@jimi-c, I'm using such construction with `rsync_path="sudo rsync"` since time when synchronize module wasn't part of Ansible yet
But tasks failed even I remove this statement http://pastebin.com/JpiXvgvy, because, as I already said, `sudo rsync"` is default value of `rsync_path` (# If no rsync_path is set, sudo was originally set, and dest is remote then add 'sudo rsync' argument.)

Also, same pr

[2014-04-29 09:40] kleinth328 opened #7203 "nagios module: action=disable_alerts service=all does not work"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

Centos 6
##### Summary:

Bug in Nagios module when disabling alerts for 'all' services
##### Steps To Reproduce:

 tasks:
    - name: disable all nagios alerts for this host
      nagios: action=disable_alerts host=lb115.fe services=all
I can use "" around all as well with the same result. For Complex Service nam

[2014-04-29 09:48] brodul opened #7204 "playbook hangs when --ask-sudo-pass not supplied and is required (vs error msg raised) [edited description]"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.5
##### Environment:

Running from NixOs, managing GCE (small instance) Debian 7.4 without backports.
##### Summary:

The problem is that the file and unarchive (possibly others) freeze when using sudo user option on a task. This basically breaks the deploy process.
##### Steps To Reproduce:

The bug can be reproduced with this play

[2014-04-29 11:18] brodul commented on #7204
It seems that the unarchive module is not working even without the sudo_user.

[2014-04-29 11:35] jasonrichardsmith opened #7205 "Make epub of documentation available"
Can we get an epub of the docs for offline reading on tablet?

[2014-04-29 11:38] sivel commented on #7199
I may be wrong here, but this is probably caused by group_by being a host loop bypass plugin.  So it does not run for every host, basically just the first fork which could be an arbitrary host.

[2014-04-29 12:06] hbokh opened #7206 "vsphere_guest: add option for virtualHW.version"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.6 (devel 5c39206014) last updated 2014/04/29 10:40:13 (GMT +200)
##### Environment:

Ansible 1.6 on Ubuntu 13.04, against VMware ESXi 5.5 standalone / free
##### Summary:

With Ansible 1.6 I can create and destroy new VMware VM's with vsphere_guest, however on ESXi 5.5 (standalone) a new VM is always "VM Version: vmx-10" (in the .vm

[2014-04-29 12:44] mpdehaan commented on #7204
Did you need to supply --ask-sudo-pass ?

There is a open ticket about sudo prompt detection needing to be ironed out somewhat such that if it is waiting for a prompt it will report that a password is supplied.

This seems exactly like what is going on for me, as sudo support is known to work well (there would be villagers with pitchforks if not).

[2014-04-29 12:47] mpdehaan commented on #7202
Ansible 1.2.2 is incredibly ancient, the current release is 1.5.4, with 1.6 on the way.

This is really a question for the development list (ansible-devel) rather than the issue tracker, as this is not a bug or feature idea, but more of a question -- that being said, raised on a very old version of Ansible.

Thanks!

[2014-04-29 12:47] #7202 closed, assigned to nobody

[2014-04-29 12:48] mpdehaan commented on #7205
Right now this is not presently available.

However, you may wish to use the "ansible-doc" command (ships with ansible) to get docs for particular modules.

[2014-04-29 12:48] #7205 closed, assigned to nobody

[2014-04-29 12:59] mpdehaan commented on #7199
This is correct.   If so we could just make an error that group_by can't be used with when.

[2014-04-29 13:00] AntelopeSalad opened #7207 "Issues installing 1.5.5 (latest) on Ubuntu 13"
##### Issue Type:

Documentation Report
##### Ansible Version:

N/A
##### Environment:

Ubuntu 13.10
##### Summary:

The installation instructions on http://docs.ansible.com/intro_installation.html are not accurate. I could not install 1.5.5 through the apt ppa because it only had 1.5.4 after 1.5.5 has been released for over 11 days at the time of this ticket.
##### Steps To Reproduce:

`sudo pip

[2014-04-29 13:34] brodul commented on #7204
I added the `-K` option. It's working now. Tnx

Huh, this is super confusing because I have a
`brodul ALL=NOPASSWD: ALL` entry in my `/etc/sudoers`
I guess I should not be prompt for the sudo password?

This will make spawning new instances hard because I need to ssh to the instance and set my password. Note that when I am calling sudo from the shell I don't need a password.

[2014-04-29 14:21] lorin opened #7209 "Finer grain control of ec2 dynamic inventory cache invalidation"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5.5
##### Environment:

N/A
##### Summary:

Allow user to control when ec2 inventory cache gets invalidated within a playbook
##### Steps To Reproduce:

Add some way to specify that an event has occurred that requires the ec2 inventory cache to be updated.

[code]
##### Expected Results:

Ansible will update the ec2 cache after the

[2014-04-29 14:25] jimi-c commented on #7182
Ok thanks, I'll look into it.

[2014-04-29 14:35] jimi-c commented on #7027
@evanccopengeo just following up on this again. Thanks!

[2014-04-29 14:44] berendt opened #7210 "packaging/zypper: add parameters to use force and force-resolution"
##### Issue Type:

Feature Idea
##### Ansible Version:

[code]
##### Environment:

openSUSE 13.1
##### Summary:

At the moment the parameters `force` and `force-resolution` of `zypper install` are not usable.
##### Steps To Reproduce:

n/a
##### Expected Results:

n/a
##### Actual Results:

n/a

[2014-04-29 15:22] jpcaruana commented on #4848
Hi @ihinsdale,
as a matter of fact, I haven't found a decent solution for this. I put my eth1 IP adresses directly in my template file... :(

[2014-04-29 15:39] #7027 closed, assigned to nobody

[2014-04-29 15:40] jimi-c commented on #7027
I went ahead and merged in my above fix, which should address this issue. If you continue having any issues with this, let us know. Thanks!

[2014-04-29 17:10] kiranos opened #7216 "[setup module] add support to retrieve default locale."
##### Issue Type:

Feature Idea
##### Ansible Version:

Ansible v1.5.4
##### Environment:

Debian 7
##### Summary:

Add support to retrieve system default locale from setup module
##### Steps To Reproduce:

Not possible to get current system locale as a facts variable.
##### Expected Results:

Retrieve this variable and use it with conditional when so we dont have to blindly run change locale on e

[2014-04-29 17:13] mmoya commented on #7027
If you look in [line 272](https://github.com/mmoya/ansible/commit/f97243d6ed7dc7bb23c9cf675ae84c116beae457#diff-317f4cc0ba915fbd7bd5ac28fdadc031R272) of the PR implementing support for egress rules you can see that `rules_egress` are only processed if they are given in the task. That is backward-compatible because that option didn't exists before.

With my approach, if you specified a `rule_egress

[2014-04-29 17:31] mark-casey commented on #7199
@mpdehaan I have to admit that in retrospect this feels like one of those things for which there would always be a better way, but that feels like an awfully wide brush. Is the combination bad enough that it would've ended up forbidden even if it were working as expected?

I've backed out my related changes and will seek a better way, but maybe the logic could be pushed further into the one execut

[2014-04-29 18:43] mpdehaan commented on #7207
Nobody needs that bootstrapping script.  Totally not needed.

Not sure what happened to you about Config Parser -- your system python seems damaged to me.  Were you trying python 3 or something?

Ansible runs on Python 2.x.

(The PPA itself is community maintained, which we need to host our own soon.   You can definitely get the latest in pip though)

[2014-04-29 19:02] AntelopeSalad commented on #7207
It seems like I was using python 3, that's the version that was on my system and associated to pip which I later verified with `pip --version`, it was pointing to python 3.3. `python --version` reports 2.7.5+ tho.

[2014-04-29 19:25] mpdehaan commented on #7178
Thanks, this is fixed on the development branch and will appear on the site shortly.

[2014-04-29 19:25] #7178 closed, assigned to nobody

[2014-04-29 19:34] jimi-c commented on #6941
@goozbach I've added 4cadcccc488fd12cb9d765cbcf5b2781072dc712 to help address this. Unfortunately as you noted there's no easy way to update gmp on EL6 systems right now, so until that package maintainer decides to backport the fix those users will continue to see this message (at least now nicely formatted and easily redirected to /dev/null).

[2014-04-29 19:39] mpdehaan commented on #7139
I applied some slightly different edits on the devel branch -- sorry for confusion and pickiness there, will be live soon.

Thanks!

[2014-04-29 19:39] #7139 closed, assigned to nobody

[2014-04-29 19:43] mpdehaan commented on #6968
Thanks, I'm adding something about this now.   Will show up soon!

[2014-04-29 19:43] #6968 closed, assigned to nobody

[2014-04-29 19:48] selivan commented on #6968
Better variant:

[code]

First one always slow down palybook execution, even if local fact is already created.

[2014-04-29 19:49] mpdehaan commented on #6960
Fixed and will be included in next docs update -- thanks!

[2014-04-29 19:49] #6960 closed, assigned to nobody

[2014-04-29 19:51] mpdehaan commented on #6621
Closing since the above was already merged in, thank you!

[2014-04-29 19:51] #6621 closed, assigned to nobody

[2014-04-29 20:14] jcassee opened #7218 "Error validating launchpad.net SSL certificate"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
(commit 71a870a6be16c7d94debd114f60804ea2ba9ca15)
##### Environment:

Running Ansible from Ubuntu 12.04. Managed system is Ubuntu 14.04.
##### Summary:

Module `apt_repository` fails to validate launchpad.net SSL certificate.

(See also: https://groups.google.com/forum/#!topic/ansible-project/lmAp8ui0JEc)
##### Steps To Reproduce:

[2014-04-29 20:27] DSpeichert opened #7219 "pkg_resources.DistributionNotFound: ansible"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel 3416c33026b728fe87050be982c548e82a890756)
##### Environment:

Debian jessie/sid
##### Summary:

Ansible does not load dependencies properly.
##### Steps To Reproduce:

Run ansible-playbook
##### Expected Results:

Ansible works.
##### Actual Results:

[code]

[2014-04-29 20:47] #7182 closed, assigned to nobody

[2014-04-29 20:49] jimi-c commented on #7182
I've made a minor fix to the module, which should resolve your issue. I also noticed that there was no '=' after the --rsync-path option, so I added that, and any command that contains spaces should be quoted so I removed the extra quotation. If you continue having problems with this, or if you have any further questions, let us know. Thanks!

[2014-04-29 21:06] nathanhruby opened #7221 "vars_prompt / include_vars_prompt for roles"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5.4
##### Environment:

N/A
##### Summary:

Related to #3245 I'd like to request the ability to use vars_prompt in a role, such as:
- an action "include_vars_prompt" similar to "include_vars" but which functions as vars_prompt does

OR
- have the ability to have vars_prompt function in role vars files (perhaps a ROLES/vars/prompt.ym

[2014-04-29 21:11] #7193 closed, assigned to nobody

[2014-04-29 21:19] mpdehaan commented on #7216
We would be open to patches for this though it's unlikely to be something we are going to work on.

Please feel free to submit a pull request!

[2014-04-29 21:19] #7216 closed, assigned to nobody

[2014-04-29 21:23] jimi-c commented on #7219
I have corrected this already, so a re-pull of your repo should get you past this now. Thanks!

[2014-04-29 21:23] #7219 closed, assigned to nobody

[2014-04-29 21:23] mpdehaan commented on #7221
This is not going to be something we are likely to implement.

vars_prompt is a feature in Ansible but it is not usable in a non-interactive capacity.

Far better to use "-e @filename.yml" to supply inputs.

I'm not sure what "include_vars_prompt" would be but we're definitely trying to control language keyword sprawl.

[2014-04-29 21:23] #7221 closed, assigned to nobody

[2014-04-29 21:26] jimi-c commented on #7218
Thanks, I'll get working on this ASAP.

[2014-04-29 21:32] nathanhruby commented on #7221
Is it not possible to supply values for vars_prompt via -e flag as well which would support non-interactive running?  A quick check of the code makes it appear that is the case.

My hesitation to using -e with a separate file is that I then need to implement functionality to generate that file with a wrapper script for ansible-playbook which would also understand facts and group vars.  It's doable

[2014-04-30 00:05] pilwon commented on #5991
@mpdehaan @mahemoff Created PR #7223 for this issue. Please review & merge.

[2014-04-30 00:05] pilwon commented on #5992
@mpdehaan @mahemoff Created PR #7223 for this issue. Please review & merge.

[2014-04-30 00:06] pilwon commented on #6025
@mpdehaan @fly Created PR #7223 for this issue. Please review & merge.

[2014-04-30 00:09] mpdehaan commented on #6025
Closing this ticket since pull request above was submitted, thank you very much!

[2014-04-30 00:09] #6025 closed, assigned to nobody

[2014-04-30 00:31] dirtyharrycallahan opened #7224 "rpm build fails after recent changes"
Came home to find that my jenkins build failed with the message below. I know that there were some changes today around setup but I do not have time to dig into it tonight.

[code]

[2014-04-30 00:33] jimi-c commented on #7224
I noticed this as well, but wasn't sure if it was related to something on my system being Fedora 20. I'll look into it tonight.

[2014-04-30 00:47] jimi-c commented on #7224
Simply removing the `-t MANIFEST.in` from the Makefile worked for me:

<pre>
diff --git a/Makefile b/Makefile
index dc2a910..fbb7cc6 100644
--- a/Makefile
+++ b/Makefile
@@ -122,7 +122,7 @@ install:
        $(PYTHON) setup.py install

 sdist: clean docs
-       $(PYTHON) setup.py sdist -t MANIFEST.in
+       $(PYTHON) setup.py sdist

 rpmcommon: $(MANPAGES) sdist
        @mkdir -p rpm-build
</pre>

[2014-04-30 00:51] mpdehaan commented on #7224
Please do, this was something added to fix a build process that wasn't going by our usual, and it felt weird to me.

[2014-04-30 01:02] #7224 closed, assigned to nobody

[2014-04-30 01:03] jimi-c commented on #7224
I've gone ahead and merged the above in. If you continue having any problems, or have any further questions regarding this issue, please let us know. Thanks!

[2014-04-30 03:04] dirtyharrycallahan commented on #7224
Created a clean CentOS 6.5 droplet and ran through the build and install after adding the EPEL repos and did not run into any problems.

[2014-04-30 04:03] pas256 commented on #7209
Keep in mind the async nature of doing this. Just because the EC2 API call returns to say the instance is running, doesn't mean it is through the launch process enough to have an IP address or through the boot process to have SSH working causing subsequent tasks to fail.

[2014-04-30 05:54] esigler commented on #4902
I've also run into this issue, as of Ansible 1.5.5.

[2014-04-30 06:37] zxwing opened #7226 "ansible-playbook hangs on giant /etc/ansible/hosts file"
I mistakenly added massive entries(~500,000 lines) in /etc/ansible/hosts, ansible-playbook then hangs on execution. I guess it was trying to read entire file in to memory and parse. After truncating the file to a normal size, ansible-playbook started working as normal.

This looks like an ansible bug to me. A large size cloud could easily have hundreds of thousands VMs, ansible should be able to h

[2014-04-30 06:54] zxwing opened #7227 "ansible-playbook hangs on giant /etc/ansible/hosts file"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.3
##### Environment:

CentOS 6.4
##### Summary:

ansible-playbook will hang if /etc/ansible/hosts file contains massive entries
##### Steps To Reproduce:
1. add large number of entries to /etc/ansible/hosts file, for example, 500,000 entries
2. run any playbook by ansible-playbook
##### Expected Results:

playbook should run as normally as

[2014-04-30 07:54] srgvg commented on #7227
[code]

I killed it after 30 minutes :)

The same command with 5,000 hosts:
real    0m1.933s
user    0m1.607s
sys 0m0.099s

With 50,000 hosts:

real    2m27.510s
user    2m25.220s
sys 0m0.804s

This of course just parses an ini files, and no variables yet.

If you have that many hosts, IMHO, you need to
- use dynamic inventory
- only give subset of the hosts you want to act on to ansible

I can't

[2014-04-30 08:51] brodul commented on #7204
Aha, I have found my misconfiguration.
In the sudoers file there should be an entry `brodul ALL= (ALL) NOPASSWD: ALL` and not `brodul ALL=NOPASSWD: ALL`.

[2014-04-30 09:03] binarytemple opened #7228 "ec2_vol task crashes"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (upstreamdevel d2819e22e3) last updated 2014/04/29 18:31:36 (GMT +100)
##### Environment:

OSX -> Amazon Ubuntu 12.04 64bit
##### Summary:

Task crashes with error message
##### Steps To Reproduce:

Create Amazon tasks as shown in snippet
##### Expected Results:

Create and attach volume
##### Actual Results:

Crash with stack trace

[2014-04-30 09:38] Debilski opened #7229 "apt module hangs when aptitude asks for user input"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel d287179f7b) last updated 2014/04/30 10:47:45 (GMT +200)
##### Environment:

Debian 7
##### Summary:

`aptitude` unfortunately says the following on its man page:

[code]

This is contrary to `apt-get -y`, which will simply abort after having found a ‘“dangerous” action’.
So, in short using `-y` is not enough to make `aptitude

[2014-04-30 09:46] binarytemple commented on #7228
Have created pull request to fix.
https://github.com/ansible/ansible/pull/7230
Someone must have refactored at some stage but left old var names laying around, this would never have happened if Ansible was written in Scala ;-)

[2014-04-30 10:31] akuznecov commented on #7182
@jimi-c, thanks a million!
I have installed fresh devel version and cannot reproduce problem anymore

[2014-04-30 11:57] arminreh opened #7232 "Bug: serial deployment fails without failed tasks"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Deployment from OSX 10.9.2
Ansible target is Freebsd 9.2
##### Summary:

When I run a serial task for a rolling update it stops with "FATAL: all hosts have already failed -- aborting" as soon as the first task returns a "ok:".

When running the task limited on one host after the other it works fine, when runnin

[2014-04-30 13:32] jimi-c commented on #7228
The above has been merged in, so this problem should now be fixed. Thanks!

[2014-04-30 13:32] #7228 closed, assigned to nobody

[2014-04-30 13:34] jimi-c commented on #7226
Closing, duplicate of #7227

[2014-04-30 13:34] #7226 closed, assigned to nobody

[2014-04-30 13:35] jimi-c commented on #7226
@zxwing in the future, you can just edit your comment above to fill in the issue template. Thanks!

[2014-04-30 13:53] lorin commented on #7209
I'm not so worried about the ssh issue, can just wait for ssh to come up using wait_for and pause, e.g.:

[code]

But is it true that EC2 instance can transition to the running state before being assigned a valid IP address? I've never encountered this. Do you have a link that describes this behavior?

[2014-04-30 13:54] jimi-c commented on #7227
@zxwing is this an actual use-case?

[2014-04-30 13:56] srgvg commented on #7227
@jimi-c according to #7226 it appeared by mistakenly adding that much hosts in the hosts file :)

[2014-04-30 14:01] jimi-c commented on #7232
You've set the max_fail_percentage to 0, which tells ansible to fail as soon as that percentage is exceeded. Since it is 0, it will always be exceeded and thus ansible will always fail. This is a common issue when using `serial: 1`, since you're telling ansible to operate on just one host at a time. In this case, the max_fail_percentage will always be exceeded if any system fails (since 1 out of 1

[2014-04-30 14:25] mpdehaan commented on #7227
Not a real world use case.

[2014-04-30 14:25] #7227 closed, assigned to nobody

[2014-04-30 14:58] arminreh commented on #7232
Thanks for the fast reply.
In the end I want to stop the task as soon as the first hosts fails, so the other hosts can't be broken as well.
It turns out max_fail_percentage: 50 works when I have two hosts in the file, 49 does not.
But I fear this will not stop the playbook if one of the updates fails.
For three it has to be 66 or 67 to work.

Would be nice to have a solution that does not depend o

[2014-04-30 15:01] jimi-c commented on #7218
@jcassee I'm having trouble reproducing this one. I used the sample playbook you gave above and got this:

<pre>
# ansible-playbook 7218.yml
PLAY [ubuntu1404] *************************************************************
TASK: [apt_repository repo='ppa:webupd8team/java'] ****************************
changed: [192.168.122.113]
PLAY RECAP *************************************************************

[2014-04-30 15:02] jimi-c commented on #7218
Forgot to mention, `http://ppa.launchpad.net/webupd8team/java/ubuntu/dists/trusty/Release` works fine and shows the Release file as expected.

[2014-04-30 15:37] cpbotha commented on #2950
With pip 1.5.4 and virtualenv 1.11.4 on Ubuntu 12.04.4 I get the following:

[code]

which gives the following output:

[code]

How should I go about installing ansible in this virtualenv? It has to be possible right??!

(to clarify: ansible is causing a whole pip install -r requirements.txt job to fail. would be nice to have a workaround for this. Seems related to https://github.com/ansible/ansib

[2014-04-30 16:14] cpbotha commented on #2950
Problem found! From a previous `sudo pip install ansible`, the `/etc/ansible/ansible.cfg` was interfering with this virtualenv `pip install`. Nuked the system `/etc/ansible` (we only need virtualenv ansible) and all is good.

[2014-04-30 17:34] kiranos commented on #5748
This is how fqdn should be set if for example hostname -f should output:  server.example.com

/etc/hosts:
192.168.5.9     server.example.com server

/etc/hostname
server

and /etc/hosts should also have 127.0.0.1 localhost etc. but the part about fqdn is as above.

[code]

[code]

Imo the hostname module should be able to set the FQDN and not just the partial hostname, maybe I should write a separ

[2014-04-30 17:34] jimi-c commented on #7232
You can continue to use `serial: 1`, just don't set the max_fail_percentage (it defaults to 100%). In that case, any failure will cause the play to stop. If you want it to only stop if the first host in the list works, you can split the play into two plays, one where you use `hosts: group[0]` and the second uses `hosts: group`. Assuming you're not doing anything that can't be re-run this will stop

[2014-04-30 17:37] jimi-c commented on #7232
Based on the above, I'm going to go ahead and close this issue, since it is not a bug. Please let us know if you have any further questions. Thanks!

[2014-04-30 17:37] #7232 closed, assigned to nobody

[2014-04-30 18:13] jimi-c commented on #7229
Can you try the following patch on the apt module?

<pre>
diff --git a/library/packaging/apt b/library/packaging/apt
index 1bce437..3024ecf 100755
--- a/library/packaging/apt
+++ b/library/packaging/apt
@@ -392,7 +392,7 @@ def upgrade(m, mode="yes", force=False,
         if apt_cmd == APT_GET_CMD:
             force_yes = '--force-yes'
         else:
-            force_yes = ''
+            force_

[2014-04-30 18:28] pas256 commented on #7209
No doc, just experience. It could be different in EC2-Classic, EC2-VPC and custom VPCs as well. Testing will give you insight.

[2014-04-30 18:37] jimi-c commented on #4902
I've added a new test to the ec2_elb integration test for this, and it has passed, so it appears that the issue is resolved in the development branch and will be included in 1.6.0 when it is released in the near future. Thanks!

[2014-04-30 18:56] zxwing commented on #7227
@jimi-c @sergevanginderachter @mpdehaan yes I made this by a mistake, but it's INDEED a real world case! Our product manages huge cloud, some customer runs > 30, 000 hosts(I don't know the number of VM), they are currently using internal configuration management tool to configure VM. Who knows if someday they will switch to Ansible?

From last scalability test of openstack from IBM, they run 75, 0

[2014-04-30 18:56] hozn opened #7234 "Unable to list systems from cobbler using namespaced puppet management classes"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.5
##### Environment:

RHEL 5.x, 6.x
##### Summary:

We are using Ansible in an environment that makes heavy use of Puppet for config mgmt and uses cobbler for the inventory.  We are using the cobbler.py script provided as a reference (with a few necessary tweaks for our environment).  The inventory is built up correctly, indexing things off

[2014-04-30 18:56] kolypto opened #7235 "ssh-agent forwarding and `sudo: yes`"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

Both Ubuntu 14.04, 64bit
##### Summary:

Ansible documentation promotes the use of ssh-agent, which's a great tool, but there are some issues when using it with `ForwardAgent`: a `sudo: yes` statement discards the environment variables, and thus agent forwarding is not functioning.

This can be tweaked with `su

[2014-04-30 19:07] jcassee commented on #7218
@jimi-c That is so strange! I think the problem is caused by something installed on my system. I installed a fresh Ubuntu 12.04 and fresh Ubuntu 14.04 Digital Ocean droplet. I then ran the following commands:

[code]

On both machines the repository was added correctly!

However, another fresh 12.04 machine I tried yesterday did have the problem. I am now trying to work out what the differences ar

[2014-04-30 19:33] jimi-c commented on #7218
@jcassee sounds good. Definitely let us know, if it's something we can account for in the SSL validation code we can make sure it doesn't perform randomly like this. Thanks!

[2014-04-30 19:36] jcassee commented on #7218
Alright, I found the problem. On my system, and on the system I tested yesterday, some certificates in `/etc/ssl/certs` did not end with a newline. The naive concatenation used in `urls.py` causes the start of the next certificate to appear on the same line.

Simply writing a newline after each certificate fixes the problem:
(`urls.py`, around line 156)

[code]

[2014-04-30 19:39] jimi-c commented on #7218
Ahh, yes. I can fix that quickly or if you'd like send a PR for it.

[2014-04-30 19:41] jcassee commented on #7218
Is a PR useful? No problem creating one.

[2014-04-30 19:45] jimi-c commented on #7218
It's mainly to give you credit for the fix.

[2014-04-30 19:46] jcassee commented on #7218
Okay :-) that's nice. I'll create one.

[2014-04-30 19:55] mpdehaan commented on #7234
This seems like the cobbler inventory script should just replace ":" in group names that come from Cobbler with "_".

Something you may want to work on, perhaps?

[2014-04-30 19:56] kolypto commented on #7235
I can add, that `sudo_flags=-HE` solves the problem only for `sudo: yes`, but not for `sudo: yes, sudo_user: www-data`: environment gets lost

[2014-04-30 19:57] mpdehaan commented on #7235
So executing ssh from Ansible is pretty unusual and definitely an anti-pattern.   Playbooks are also not meant to set up tunnels, you may have pre-existing tunnels and use them, people set up ProxyCommand for bastion host usage, etc, but what you are doing looks a little unusual to me.

Can I ask why you aren't setting up SSH forwarding in ansible.cfg?   Also what do you expect to accomplish with

[2014-04-30 20:00] kolypto commented on #7235
@mpdehaan , right, using ssh is an anti-pattern, but that's just an example. Actually, I'm having problems checking out a git repository, and git also does not have access to the environment when I'm trying to switch the user

`ForwardAgent=yes` is set in my `~/.ssh/config` instead

[2014-04-30 20:28] hozn commented on #7234
That seems less than ideal, since classes can certainly have "_" characters
in them ...  I'm not sure offhand which char would work well but not get
munged by the pattern processing.  I've just patched ansible in our build
process to replace ";" with "||" and then split on "||".

On Wed, Apr 30, 2014 at 3:56 PM, Michael DeHaan notifications@github.comwrote:

[2014-04-30 20:46] kolypto commented on #7235
I've made investigation and noticed the following:
1. By default, Ansible resets the environment when doing `sudo`. This can easily be fixed with `sudo_flags=-HE`
2. By playing around manually, I noticed that `sudo -HE ssh` can use agent keys, but `sudo -HE -u www-data ssh` can not.
   In fact, SSH forwards the agent socket with 0700 permissions, so other users can't actually access it:

[code]

[2014-04-30 20:48] jimi-c commented on #7218
Merged the above, so closing this. Thanks!

[2014-04-30 20:48] #7218 closed, assigned to nobody

[2014-04-30 21:57] tchapi commented on #6854
+1, I'm seeing the same bug in the latest release (1.5.5). The list of groups is unchanged and always the same, but the `changed` is triggered everytime

Example : I want to add the `sudo` group to user `myUser`:

[code]

Thanks

[2014-04-30 22:20] andreasf opened #7237 "Variables should always be evaluated in the context they were defined in"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.5
ansible 1.6, f8ca24b0469f14b1f71f956a2733fc8b4c889e77
##### Environment:

N/A
##### Summary:

Variables are reevaluated for each role, within the context of each role. This breaks the password lookup plugin, because basedir changes with the role.
##### Steps To Reproduce:

I have the following use case for the password lookup plug

[2014-05-01 04:29] jf opened #7240 "(Doc) Intro to Ad-Hoc Commands: the command module *does* accept shell variables"
##### Issue Type:

Documentation Report
##### Ansible Version:

ansible 1.6 (devel 40a7a306f5)
##### Environment:

Ubuntu 12.04
##### Summary:

http://docs.ansible.com/intro_adhoc.html states:

---

Note

The command - Executes a command on a remote node module does not support shell variables and things like piping. If we want to execute a module using a shell, use the ‘shell’ module instead. Rea

[2014-05-01 12:33] AndreiPashkin opened #7241 "Docs refer "vars_files" before their definition"
##### Issue Type:

Documentation Report
##### Ansible Version:

1.5.3
##### Environment:

N/A
##### Summary:

[Here](http://docs.ansible.com/playbooks_roles.html#roles), docs says:

But actually, "vars_files", not mentioned in any of previous chapters. Their definition takes place [here](http://docs.ansible.com/playbooks_variables.html#variable-file-separation) - in next chapter.
##### Steps To Re

[2014-05-01 13:11] srgvg commented on #7227
@zxwing for the record: (1) I'm not ansible staff, just a community member and contributor, I follow up here b/c inventory is a topic of interest to me ; (2) if you want to further discuss this, better take this to the list, as people from ansible normally don't follow up on closed tickets.

That being said, as of now I understand those numbers are not a real world use case, at this moment, and in

[2014-05-01 13:32] jimi-c commented on #7237
I believe this is the one case where this is true. The basedir has to change because that is the variable we use to locate things like templates and files too. In your case, I would recommend using a vault file to store the password and specifying it directly via vars_files or using --extra-args.

[2014-05-01 13:36] jimi-c commented on #7237
Since this is not an issue, I'd suggest asking on the ML, where others may have more suggestions. Thanks!

[2014-05-01 13:36] #7237 closed, assigned to nobody

[2014-05-01 14:37] mpdehaan commented on #6988
We're using this module to deploy Tower, and are unable to reproduce this.

Can you please provide the version of your OS, postgresql, postgresql libraries, and the psycopg2 module.

Where you had installed them from may also be helpful.

[2014-05-01 14:41] mpdehaan commented on #6922
Any updates on this?  Thanks!

[2014-05-01 14:52] mpdehaan commented on #7235
Hi @kolypto this option is not always something users can enable so we don't want to add it by default (and some users may not want this), one option for you is to remove env_reset from your sudoers config on the remotes.

If this becomes a frequent request, we could also consider making something like sudo_flags configurable in ansible.cfg

Until then I would look at changing your sudoers configu

[2014-05-01 14:52] #7235 closed, assigned to nobody

[2014-05-01 14:52] andreasf commented on #7237
I understand that the basedir has to change. What I don't understand is why variables don't simply contain the values of the expression that was assigned to them, i.e. the rendered template. I suppose that people generally expect variables to contain _values_, and not _functions with implicit parameters_.

If I had redefined `db_root_passwd` in a role, I would expect the password file to be stored

[2014-05-01 14:53] mpdehaan commented on #7240
Unless I'm incorrect. The default -m module for /usr/bin/ansible is actually "shell", hence why this works.

I'll triple check and see about clarifying the docs.

You can use "-m" to select different modules.

[2014-05-01 14:59] jimi-c commented on #7237
If you put the variable in the role defaults or vars, it will be available globally for use in other roles, which is the way I'd recommend doing it (vault encrypted of course). That way you won't have to worry about the password lookup plugin, which is really not the recommended use-case anymore since vault was added.

[2014-05-01 15:02] jf commented on #7240
yeah... was a bit lazy typing out the examples, but they are run with '-m command' (and I did check). The docs say that the default module is actually 'command' (http://docs.ansible.com/intro_adhoc.html: 'Normally commands also take a -m for module name, but the default module name is ‘command’, so we didn’t need to specify that all of the time.'), but just in case, I've specifically run them with

[2014-05-01 15:14] mspanc commented on #6988
That wers versions provided with ubuntu 14.04 beta1 (gnome desktop), I am unable to check this right now but all versions should be available at http://packages.ubuntu.com

[2014-05-01 15:17] jimi-c commented on #7060
So after discussing further, I think we're going to handle it as follows:

We will modify the `_compute_environment_string()` function in `runner/__init__.py` to add the proper localization environment. This will allow users to override the environment per-task if they so choose, but we will continue to default to something sane (probably en_US.UTF-8).

[2014-05-01 16:11] andreasf commented on #7237
Thank you for recommending a workaround, but I see this as an important question of language semantics, not just how I can get my job done. The behavior of templated or non-literal variables should be well-defined.

The vault is no good replacement for my use case, because I don't want to store any credentials in source control, not even encrypted credentials. That's why I use the password lookup

[2014-05-01 16:35] tksmd opened #7244 "recursive copy fails when setting directory attributes"
I'll send a pull request later on.
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.5 or later  ( affected by cf4a6b39ccec3108d501897a7fd8fd1b943c82d9 )
##### Environment:

local: OS X 10.9, remote: Amazon Linux
##### Summary:

Copying directory recursively with setting some directory attributes fails with "No such file or directory" error when the directory has multi-level subdirectory h

[2014-05-01 16:47] jimi-c commented on #7237
As I noted above, if you don't want to store the passwords in the role, just use the --extra-vars option to pass in the vault file (`--extra-vars="@file.yml"`). See http://docs.ansible.com/playbooks_variables.html for more details.

[2014-05-01 16:51] tksmd commented on #7244
I've created a pull request #7245.

[2014-05-01 17:52] tomscytale opened #7246 "encoding for postgresql is set to SQL_ASCII"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.5
##### Environment:

Ubuntu 12.04
##### Summary:

when installing postgresql-9.1 using  `pkg=postgresql state=present` all databases are configured with an encoding of `SQL_ASCII`
##### Steps To Reproduce:

[code]
##### Expected Results:

[code]
##### Actual Results:

after this I get

[code]

which is not very desirable
### Fix

I

[2014-05-01 18:22] jimi-c commented on #7246
In 1.6, we are now setting LANG to `en_US.UTF-8`, which should have the same effect as the above. We will be releasing 1.6 in the near future, so you can test with the latest pull from the devel branch to verify whether it resolves your issue.

[2014-05-01 18:41] #7244 closed, assigned to nobody

[2014-05-01 18:41] jimi-c commented on #7244
Thanks!

[2014-05-01 18:46] omgjlk opened #7247 "Premature "all hosts have already failed" on localhost plays when using a limit and not including localhost"
##### Issue Type: Bug Report
##### Ansible Version: ansible-playbook 1.5
##### Environment: OSX, Debian Squeeze
##### Summary:

Imagine a playbook, with a play that has a hosts: line of localhost

Imagine running this playbook, with a --limit derp, which does not include localhost.

You'd expect this to skip the play with no matching hosts, but instead the play will get executed, and then the play

[2014-05-01 19:02] psa opened #7248 "ec2_vpc not idempotent in devel without resource_tags"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel c0f92317ef) last updated 2014/05/01 18:13:25 (GMT +000)
##### Environment:

Ubuntu 12.04
##### Summary:

`ec2_vpc` creates new VPCs every time it is run unless `resource_tags` are specified at the VPC level.
This is listed as optional so it should match on `cidr_block` and no `resource_tags` but it does not.
##### Steps To Re

[2014-05-01 19:46] mpdehaan commented on #7248
When you say "not idempotent" can you illustrate the problem with a better description?

(See the issue template for "actual vs expected", thanks!

[2014-05-01 19:46] mpdehaan commented on #7247
Looks like this could be argued that this is "not a bug" as the limit criteria should have been --limit "derp:localhost" ?

Though still need to think it over.

[2014-05-01 19:53] trocster commented on #2333
regex's containing numerical character ranges do not to work e.g:

[code]

These seem to get processed by ansible's own enumeration handling, (\d) works though, but is not as flexible.

[2014-05-01 19:56] omgjlk commented on #7247
Well, it's a bit disturbing that it would execute the task on localhost, then decide that there are no hosts in the play, thus indicating a failure based on max failure percentage (100%). If localhost really needed to be in the limit, I would expect the play to be skipped with "no hosts matched".

If I replace "localhost" with some other fictional host in the hosts: line, things work as expected.

[2014-05-01 20:34] psa commented on #7248
Does the updated description help?

[2014-05-01 21:09] kustodian commented on #7060
So I guess this one can be closed then.

[2014-05-01 21:09] #7060 closed, assigned to nobody

[2014-05-01 21:13] jimi-c commented on #7060
Yep, just merged the above, so this is now closed. Thanks!

[2014-05-01 21:26] jcassee commented on #7218
(A bit late, but) thank you for taking the time to look into this. I would not have pursued the problem if you had not tried to reproduce the problem.

[2014-05-01 21:31] tomscytale commented on #7246
yes this seems to work fine

[2014-05-01 21:31] #7246 closed, assigned to nobody

[2014-05-01 21:37] jimi-c commented on #7218
No problem at all, it's what I'm here for :)

[2014-05-01 21:37] jimi-c commented on #7246
Great, thanks for following up. If you have any further questions, let us know.

[2014-05-01 21:48] jimi-c commented on #7248
@psa I believe this is working as intended. The "uniqueness" of the vpc is based on the resource tags set on itself, not on its child subnets, so having the resource_tags set at the higher level rather than on the subnet (where they are used mainly for informative uses in AWS itself) is the way to go. It may be worth updating the docs slightly to reflect this, if you do find it confusing.

[2014-05-01 21:52] rcp opened #7250 "synchronize does not follow "delegate_to" setting"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5, initially. Also tried:
ansible 1.6 (devel 40a7a306f5) last updated 2014/05/01 11:43:40 (GMT -400)
##### Environment:

CentOS 6.5 (all hosts)
##### Summary:

The documentation for the synchronize action leads me to believe (and #ansible IRC chats confirm)  that the expected behaviour of the snippet below is that the src of the rsync

[2014-05-01 22:02] psa commented on #7248
Not having `resource_tags` is a uniqueness factor. So a VPC with no `resource_tags` is specific in the same way as one that has a tag of `Name` set to some particular value.

[2014-05-01 22:19] mpdehaan commented on #7250
Synchronize is a wrapper around producing local_action: shell rsync <args> commands.

It runs between the remote host and the local one, but it can't be used to bridge rsync's between two different hosts.

If you wanted this, I'd just call "shell: rsync" directly.

We can look at making the documentation more clear on this.

[2014-05-01 22:21] mpdehaan commented on #7247
So, that's exactly the same as what happens for any other group of host though.

Localhost having special handling on whether it should have a failure seems like a slippery slope.

(If a playbook group targets less than 1 host, ansible will abort because the available pool of hosts to talk to is 0)

[2014-05-01 22:23] mpdehaan commented on #7248
It's not, unfortunately.  You have to tag the resources to make things workable here as that's what the module keys off of.

I agree with the intellectual argument that "no tags should be treated as tags", but that really can't be applied here, alas.

[2014-05-01 22:23] #7248 closed, assigned to nobody

[2014-05-01 22:33] axelson opened #7251 "Setting ssh_args disables pipelining mode incorrectly"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.5
##### Environment:

Running Ansible on Mac OS X Mavericks and managing SmartOS (Solaris).
##### Summary:

SSH Pipelining [1] doesn't work if sudo_user is set. If I comment out the sudo_user and sudo then the pipelining works.

[1] http://docs.ansible.com/intro_configuration.html#pipelining
##### Steps To Reproduce:

Here's my simp

[2014-05-01 22:35] mpdehaan commented on #7251
Can you please show the output from -vvv ?

Thanks!

[2014-05-01 23:07] omgjlk commented on #7247
"(If a playbook group targets less than 1 host, ansible will abort because the available pool of hosts to talk to is 0)"

That is not what I see in practice. What I see is that the play will be skipped, but the playbook will not abort.

What I see in practice is special handling with localhost, in that the task will always execute, and then the playbook will abort.

[code]

Usage:

[code]

[2014-05-01 23:46] axelson commented on #7251
Here you go (I've only changed the hostname):

[code]

Note: this is obviously with sudo_user set to jason, which is also the username I'm ssh'ing as, setting the username to a different existing username on the remote system looks similar.

[2014-05-02 00:05] jimi-c commented on #7251
@axelson the above output looks like pipelining is disabled, correct? There should never be a PUT operation when pipelining is enabled, or are you saying that's the problem?

[2014-05-02 00:08] AlPatsino opened #7252 "Ansible version upgrade to 1.5.5 went wrong ('vault_password')"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.5
##### Environment:

Mac OS Maverics, ansible installed using pip.
##### Summary:

After upgrade to version 1.5.5 and running any command I'm getting error message:

[code]

if to fall back to v.1.4.0:

[code]

Everything works fine. I'm getting correct response:

[code]
##### Steps To Reproduce:

Having `foobarInventory` file with

[2014-05-02 00:18] axelson commented on #7251
@jimi-c Yes, that is exactly the problem I'm running `ansible-playbook -i staging -e "pipelining=True" simple.yml -vvv` yet pipelining is not enabled. Commenting out `sudo_user` will re-enable pipelining but I need `sudo_user` for my playbook.

For completeness the contents of my ansible.cfg are:

[code]

And the contents of my inventory file:

[code]

and group_vars/all:

[code]

[2014-05-02 00:53] jimi-c commented on #7251
What is your transport set to? If you're using EL6 (Centos, RHEL, etc.), you're probably using "smart" by default, which will use paramiko on those systems. The paramiko transport does not do pipelining, only the SSH one does.

[2014-05-02 00:59] axelson commented on #7251
@jimi-c The transport is set to `smart`. Also judging from the output of `-vvv` above it is using ssh with ControlPersist: `<example.com> EXEC ['ssh', '-C', '-tt', '-q', '-o', 'ControlMaster=auto', '-o', 'ControlPersist=60s', '-o', 'ControlPath=/Users/jason/.ansible/cp/ansible-ssh-%h-%p-%r', '-o', 'KbdInteractiveAuthentication=no', '-o', 'PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostb

[2014-05-02 01:59] jimi-c commented on #7252
Uninstall, and make sure you have no "ansible" directories anywhere under `site-packages` for your python installations, then re-install.

[2014-05-02 02:00] jimi-c commented on #7252
Also make sure you haven't configure any startup scripts like .bashrc to source the hacking/env-setup script for an old checkout as well.

[2014-05-02 02:05] psa commented on #7248
I would argue then that `resource_tags` should be a required argument. In order to have consistent behavior, it's required so it should be forced in code to avoid having nasty surprises for those who upgrade from 1.5 to 1.6 (or just happen to not yet understand that it's required even if the code isn't forcing the issue).

[2014-05-02 02:54] AlPatsino commented on #7252
Uninstalled using: `$ sudo pip uninstall ansible`. Made search with `$ find / -name "ansible" 2>/dev/null`. Script found couple of ruby scripts in

[code]

It should not influence ansible work.

Removed `~/.bash_profile` using `$ mv ~/.bash_profile ~/.bash_profile~`. Started new shell. Confirmed that `.bash_profile` was not executed.
Re-installed ansible using: `$ sudo pip install ansible`.

Check

[2014-05-02 03:01] AlPatsino commented on #7252
Seems that this appeared with the introducing new Vault functionality.

[2014-05-02 10:49] Debilski commented on #7229
That would only work with `force=yes`, right? (Cannot quite test it at the moment because the formerly failing packets have now been added to a ‘good’ repository.) So, without `force`, it would still freeze. (And I wouldn’t want to use force but rather fail in this case.)

There doesn’t seem to be a `--forbid-untrusted` option in `aptitude`, unfortunately (or an option to make it completely non-in

[2014-05-02 12:37] landryb opened #7254 "file module doesnt remove existing directory even if force is set"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel c6f3a0a4cc) last updated 2014/05/02 09:59:57 (GMT +200)
##### Environment:

Debian/OpenBSD
##### Summary:

file module doesnt remove existing directory even if force is set
##### Steps To Reproduce:

Usecase: i have a /var/lib/lxc directory, that i want to make a symlink pointing to /srv/lxc/root.

[code]
##### Expected Resul

[2014-05-02 13:12] jimi-c commented on #7229
Yes, you would have to force it. The only other option would be to add another configuration option for aptitude (aptitude_options, like dpkg_options), however it looked like most of the relevant configuration options were represented by command-line flags.

[2014-05-02 13:27] jimi-c commented on #7254
@bcoca I believe this used to explicitly fail in this situation, as we did not want users accidentally wiping out directories of files.

[2014-05-02 13:43] jimi-c commented on #7251
I've tried this with both 1.5.5 and the devel branch and can't replicate it to an Ubuntu system. Unfortunately I don't have a Solaris-based system to test against, but it would seem to be something specific to your environment. Using "-e pipelining=True" doesn't do anything, but you have it in your ansible.cfg so that's not the issue.

Also, when you set sudo_user to the same user connecting to th

[2014-05-02 15:15] landryb commented on #7254
well, if the user used force=yes...

[2014-05-02 16:13] jimsmith opened #7256 "module' object has no attribute 'OrderedDict - Ansible 1.6 broken"
OS: Amazon AMI Linux 3.10.37-47.135.amzn1.x86_64

ansible 1.6 (devel c6f3a0a4cc) last updated 2014/05/02 16:59:59 (GMT +100)
ansible-playbook 1.6 (devel c6f3a0a4cc) last updated 2014/05/02 16:59:59 (GMT +100)

pip freeze
Babel==1.3
Jinja2==2.7.2
MarkupSafe==0.21
MySQL-python==1.2.5
PyYAML==3.11
argparse==1.2.1
awscli==1.3.6
bcdoc==0.12.2
botocore==0.40.0
colorama==0.2.5
distribute==0.6.35
docutils

[2014-05-02 16:19] jimi-c commented on #7256
I'm very confused by this, as OrderedDict has been in collections since 2.4. Here's the output from 2.6.6 (CentOS 6.3):

<pre>
Python 2.6.6 (r266:84292, Jan 22 2014, 09:42:36)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-4)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

OrderedDict([('a', 1), ('b', 2)])
</pre>

[2014-05-02 16:25] jimsmith commented on #7256
Here's output from 2.6.9
Python 2.6.9 (unknown, Mar 28 2014, 00:06:37)
[GCC 4.8.2 20131212 (Red Hat 4.8.2-7)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Back tracking pull request it looks like OrderedDict was introduced here:
https://github.com/ansible/ansible/pull/7243

Do you have any specific OS wide python package installed in relation to OrderedDict ?

[2014-05-02 16:43] jimi-c commented on #7254
When using force with links it signifies that we want to rewrite the link, not that we'll force a state transition say from a directory to a link, as that's a very fast way to damage a system.

[2014-05-02 16:46] jimsmith commented on #7256
well this is rather odd on a CentOS 6.5 64bit Python 2.6.6 where there is no reference to ordereddict files anywhere on the OS I get this:

python
Python 2.6.6 (r266:84292, Jan 22 2014, 09:42:36)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-4)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

At present I've had to checkout the 1.5.5 branch for ansible to work but now playbo

[2014-05-02 16:56] jimi-c commented on #7256
Yeah that's odd, and I believe I misread the note at the top of https://docs.python.org/2/library/collections.html to mean all of the objects there were introduced in 2.4. Under the OrderedDict class, it does note that it was added in 2.7. I'll get this fixed.

[2014-05-02 17:53] #7256 closed, assigned to nobody

[2014-05-02 17:53] jimi-c commented on #7256
The above commit should resolve this issue. If you continue having problems, let us know. Thanks!

[2014-05-02 18:03] DavidWittman commented on #6716
@ahelal I'm not able to reproduce this issue using on Ansible 1.5.3 on Mac OS X managing an Ubuntu 14.04 VM.

Why is your error message reporting a different port than is shown in the example task which you provided?

[2014-05-02 19:47] #7254 closed, assigned to nobody

[2014-05-02 19:48] jimi-c commented on #7254
The above commit should address this in the following way: If the directory is not empty, the module will refuse to replace it even if force=yes. However, if the directory is empty, the module will replace it when force=yes is specified. If you have any further questions regarding this, please let us know. Thanks!

[2014-05-02 20:11] alexanderjardim-zz opened #7258 "unarchive module doesn't check for previous upload (edited description)"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel b753625dbf) last updated 2014/05/02 17:13:20 (GMT -200)
##### Environment:

Darwin Kernel Version 13.1.0: Wed Apr  2 23:52:02 PDT 2014; root:xnu-422.92.1~2/RELEASE_X86_64 x86_64
##### Summary:

When I use unarchive on a task, it takes too long to execute even if the file was already unarchived.
##### Steps To Reproduce:

Setu

[2014-05-02 20:49] jimi-c commented on #7258
No, it appears that we're not checking the MD5 of the uploaded file to see if it was already uploaded and still exists. I will look into this.

[2014-05-02 20:59] alexanderjardim-zz commented on #7258
Same behavior with get_url :(. Should I open other ticket for it?

[2014-05-02 22:50] nickbudi opened #7262 "Could a version dropdown be added to the docs?"
##### Issue Type:

Feature Idea
##### Summary:

Can a dropdown to select an Ansible release version be added to the Ansible docs? Similar to the [docs for ReadTheDocs](https://docs.readthedocs.org/en/latest/index.html) (dropdown on the bottom left)

A couple times in IRC I've seen others and myself ask questions that stem from the confusion caused by the Ansible docs defaulting to the devel branch

[2014-05-02 22:56] nickbudi commented on #7262
Ah forgot, updated my first post.

[2014-05-03 01:26] mpdehaan commented on #7262
Thanks for the suggestion...

We're not going to do this, because we want people exposed to all the new features.

Instead we have a "version_added" field that shows when each new field was added in each field of the module docs, and describing each new feature.

Ansible has a very strong culture of a lot of folks consuming development all the time and sharing what is new quickly.

This is importa

[2014-05-03 01:26] #7262 closed, assigned to nobody

[2014-05-03 01:29] mpdehaan commented on #7252
I haven't seen this, though I believe in 1.5.X there are a few commands where if --ask-vault-pass are not specified and using vault it can introduce some errors.

Do you have any vault encrypted files in your playbook tree?

@jimi-c we should make sure this is not a thing for 1.6.

[2014-05-03 09:12] ahelal commented on #6716
@DavidWittman It seems its fixed with the following commit https://github.com/ansible/ansible/commit/684d46b1707f9ff7cda6007b7399d1a614c6b9fd I tried with current development. Will consider this issue closed.

[2014-05-03 09:12] #6716 closed, assigned to nobody

[2014-05-03 10:56] bfqrst opened #7265 "apt: upgrade=[safe | full | dist] ignores "default_release" parameter"
##### Issue Type:

Bug Report
##### Ansible Version:

Ansible 1.5.4, 1.5.5, 1.6
##### Environment:

Managing machine OS: OS X Mavericks
Target machine OS: Debian Wheezy
##### Summary:

Suppose you add the Wheezy backports repo via apt_repository to the target system and want to perform any of the safe-upgrade, dist-upgrade, full-upgrade INCLUDING the backports repo, the latter will be ignored. Thi

[2014-05-03 14:01] jf commented on #6467
@jctanner cc @mpdehaan:

If I could just chime in very quickly (this issue was brought to my attention by @sivel at #7264): 5061785 is **`ansible-playbook`-specific**, where multiple tasks may be involved, _and "sudo: true" may not be in play for all tasks_, and hence it makes sense to (as per that commit message) 'Don't turn on sudo for all tasks when setting the sudo_user or ask_sudo_pass'). Doe

[2014-05-03 14:41] gundalow opened #7266 "lvm module should have vg_options optional (edited title)"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]

ansible-playbook 1.6 (devel 9da06274a8)
##### Environment:

Ansible: Ubuntu 10.04

Remote: Ubuntu 12.04
##### Summary:

vg_options should be optional, but it appears to be required due to bad params parsing.

Possibly introduced by https://github.com/ansible/ansible/commit/5776c95497b7a0795ca26fc19188a186a43b6a2d#diff-d97e54a5db788df1ed

[2014-05-03 16:22] mpdehaan commented on #7266
Not sure if that's a typo or what, but "bbb" is not a good name for the ticket title.

A better title would be "lvm module should have vg_options optional" so I'm going to update the description to match.

[2014-05-03 19:33] darKoram commented on #6922
I am still seeing this behavior.

Some more details:

quantum_router_interface works fine when attaching an interface to a router.  Only removing it fails.

I'm running with this in the hosts file
localhost ansible_connection=local ansible_python_interpreter=/usr/local/bin/python
[openstack_controller]
node-1
The playbook is run against the node-1

localhost (mac)
from neutronclient.neutron import

[2014-05-04 04:46] ingramchen opened #7270 "gce module not support new zone in asia."
[code]

both new zone `asia-east1-a` and `asia-east1-b` are not supported.

[2014-05-04 12:53] denisphillips commented on #6953
The problem is that the group_by plugin in is using:

[code]

It should be using this:

[code]

Pull Request with fix: https://github.com/ansible/ansible/pull/7273

[2014-05-04 13:10] gundalow commented on #7266
Not sure what happened to the title, apologies. Thanks for correcting it.

[2014-05-04 13:10] #7266 closed, assigned to nobody

[2014-05-04 19:03] srgvg commented on #7266
It's not mentioned why this was closed, either way it's a dupe of #6859.

[2014-05-05 07:25] aarnaud opened #7276 "acl recursive"
Hi,

Could you add recursive option for acl module?

http://docs.ansible.com/acl_module.html

Thanks.

[2014-05-05 09:52] landryb commented on #7254
Agreed, i think it makes sense to solve it this way. Thanks!

[2014-05-05 10:10] drybjed opened #7277 "Variables passed via role dependency don't override variables defined as set_fact in previous play"
##### Issue Type:

Bug Report
##### Ansible Version:

Ansible 1.6 (devel)
##### Environment:

Debian/Ubuntu
##### Summary:

I'm using a role which supports variables passed via role dependencies and uses set_fact to configure missing variables dynamically during playbook execution. I've found out that running multiple plays involving that role generates different results, breaking idempotency.
###

[2014-05-05 13:54] #7107 closed, assigned to nobody

[2014-05-05 13:54] jimi-c commented on #7107
The above patch has been merged, which should resolve this issue. If you continue having problems regarding this, or if you have any further questions, please let us know. Thanks!

[2014-05-05 14:05] jimi-c commented on #6467
@jf you probably want to ask questions like this on the mailing list in the future, as we don't typically watch or respond to old issues (there's just too much noise with the level of activity here). That being said, yes it should carry over as the logic is in the core code and not in the bin/\* scripts like ansible or ansible-playbook. Looking through the code for bin/ansible, it does not appear

[2014-05-05 14:09] jimi-c commented on #7266
@sergevanginderachter thanks, we'll keep this closed.

[2014-05-05 14:21] jimi-c commented on #7252
@AlPatsino the error here:

<pre>
  File "/Library/Python/2.7/site-packages/ansible/inventory/__init__.py", line 368, in _get_variables
    vars_results = [ plugin.run(host, vault_password=vault_password) for plugin in self._vars_plugins ]
</pre>

indicates an error in sending the vault password to a var plugin. Do you have any custom plugins for variables installed on your system? If not, could y

[2014-05-05 14:24] jimi-c commented on #6953
The above commit has been merged in. If you continue having problems related to this issue, or if you have any further questions, please let us know. Thanks!

[2014-05-05 14:24] #6953 closed, assigned to nobody

[2014-05-05 15:34] jimi-c commented on #7270
This appears to potentially be an issue with the way libcloud is working under the hood. CC'ing @erjohnso, as he's written most of the gce module stuff.

[2014-05-05 15:43] rgarrigue commented on #6941
My own solution was to grab ansible from elsewhere: OBS, repo systemmanagement RHEL6 http://download.opensuse.org/repositories/systemsmanagement/RedHat_RHEL-6/

That's not always efficient as off today EPEL is 1.5.5 and OBS 1.5.3, meaning yum update screw it... I'll use @ludovicc ugly fix I think.

[2014-05-05 15:50] erjohnso commented on #7270
That's likely my bad in ansible vs libcloud, but I'll take a look and see what I can do to fix it up.

[2014-05-05 15:59] jimi-c commented on #7270
I was looking through both our code, but didn't see anywhere we were hard-coding the list of zones. I also checked libcloud's GCE driver code and didn't see anything there, so I'm not quite sure why this would be failing.

[2014-05-05 16:03] ingramchen commented on #7270
I am not sure, is it because hard coding choices ?

https://github.com/ansible/ansible/blob/devel/library/cloud/gce#L358

[code]

[2014-05-05 16:57] jimi-c commented on #7270
@ingramchen yes, after discussing it with @erjohnso we spotted the issue and I will have a fix merged shortly. Thanks!

[2014-05-05 16:59] #7270 closed, assigned to nobody

[2014-05-05 16:59] jimi-c commented on #7270
The above patch should resolve this issue, and will be included in 1.6. Please let us know if you continue having problems. Thanks!

[2014-05-05 17:34] erjohnso commented on #7270
Thanks for reporting this @ingramchen and thanks for the quick fix @jimi-c !!

[2014-05-05 17:50] ThStock opened #7281 "--limit does not work with intersecting hostgroups"
##### Issue Type:

Bug Report, Feature Idea
##### Ansible Version:

ansible 1.5.5
##### Environment:

N/A
##### Summary:

I'll be nice, if the `--limit` switch, will limit task execution to the given hostgroup, also when both hostgroups consists of the same hosts
##### Steps To Reproduce:

Inventory:

[code]

Playbook:

[code]

[code]
##### Expected Results:

[code]
##### Actual Results:

[code]

[2014-05-05 19:42] jimi-c commented on #7281
I'm not quite sure this is an issue. The limit is a list of hosts, which also happens to be in the second group, so I would expect it to run on that host in the second play.

[2014-05-05 20:01] danielgroves opened #7284 "'Service' module not starting service (w/ custom init script)"
**Issue Type:** Bug Report

**Ansible Version:** 1.5.5

**Environment:** OS X 10.9.2 -> Ubuntu 12.04 x64
##### Summary:

I am writing a playbook to install the [GitLab CI Runner](/gitlabhq/gitlab-ci-runner/). The system provides an [init.d script](/gitlabhq/gitlab-ci-runner/blob/master/lib/support/init.d/gitlab_ci_runner) which does work. I have manually verified that the installation works as exp

[2014-05-05 20:28] jimi-c commented on #7284
Could you share your installation playbook, so it's a bit easier for me to setup a test to try and replicate this? Thanks!

[2014-05-05 22:53] ThStock commented on #7281
Hmm what do you think, it is best solution for me:
- work with inventories ala `stage-webservers`, `stage-webservers-with-cache`, `live-webservers`, `live-webservers-with-cache`, ... ?
- add additional hostnames for one host (feels not good)?
- use two playbooks combined ala `ansible-playbook -i stage --limit webAA webserver.yml
  && ansible-playbook -i stage --limit webAA webserver-with-cache.yml

[2014-05-06 02:05] hlieberman opened #7286 "Provide GPG signatures for releases"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.6 (master 812851cb8b) last updated 2014/05/06 01:23:59 (GMT +000)
##### Environment:

N/A
##### Summary:

In this day and age where security is at the forefront, and considering the critical role that Ansible plays in many different infrastructures, it would be good to have a GPG signature to verify the release tarballs that are ava

[2014-05-06 04:06] mpdehaan commented on #7286
This is unlikely to be provided at this time.   However, you are welcome to download particular  releases directly from git (using a release or tag) and build them yourself if you are concerned with signatures from the build system or do not want to get them from an OS distribution.

[2014-05-06 04:06] #7286 closed, assigned to nobody

[2014-05-06 04:13] mpdehaan commented on #7281
Limit is operational, this would be best served by a post to the users-list to discuss how "--limit" works since this is still in "Q&A" mode.

Thanks!

[2014-05-06 04:13] #7281 closed, assigned to nobody

[2014-05-06 04:16] mpdehaan commented on #7277
Sorry, I'm finding this language very dense and the playbook is quite detailed.  Can you please work this down to an absolutely minimal example?

I'm not even sure we have a bug here but there's simply too much information "this blocks all connections", etc...

Let's limit discussion to what is actually being discussed and try to boil things down to something minimal.

Thanks!

[2014-05-06 04:16] #7277 closed, assigned to nobody

[2014-05-06 04:16] mpdehaan commented on #7276
This would make it very difficult to track changed states.

If you'd like this, I'd suggest shelling out to the command or shell module and calling setfacl instead.

[2014-05-06 04:16] #7276 closed, assigned to nobody

[2014-05-06 07:40] drybjed commented on #7277
@mpdehaan Don't feel sorry :) I don't think it's really a bug either, more like a consequence of variable persistence across plays. Anyway, I've found a [solution](https://github.com/drybjed/ansible-setfact-dependency/commit/200c51c20fcaca9ed343cb94a0add59eb94a7655) to this problem with additional variable and conditions, which makes a role behave consistently across plays. Case closed.

[2014-05-06 07:54] eggnog-armed opened #7289 "new module locale_gen fails with "Is the package "locales" installed?""
Can anyone see what I'm doing wrong? I'm trying to generate and set the system's locale with the following tasks against ubuntu server 14.04 and 12.04 32 bit.

[code]

output

[code]

However I have confirmed that the locales package is installed on the remote host.

[code]

Also if I don't use the locale_gen: module everything works fine.

[code]

output

[code]

[2014-05-06 08:11] aarnaud commented on #7276
Thanks,

Yes, I already use command for this.

It's future feature idea for this modue.

[2014-05-06 08:33] landryb opened #7290 "virt module doesnt use default libvirt uri"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel c6f3a0a) last updated 2014/05/02 09:59:57 (GMT +200)
##### Environment:

Debian/OpenBSD
##### Summary:

virt module doesnt respect default libvirt uri
##### Steps To Reproduce:

Set default_uri to lxc:/// in /etc/libvirt/libvirt.conf on the host node.
Try to use virt module to gather status of a container without specifying u

[2014-05-06 08:42] jimsmith opened #7291 "ElastiCache VPC Support - Use of cache security groups is not permitted along with cache subnet group and/or security group Ids"
## Issue Type:

Bug Report
## Ansible Version:

ansible 1.6
## Environment: N/A
## Host:

Amazon Linux AMI 3.10.37-47.135.amzn1.x86_64
## Target:

local_action
## Summary:

1) When attempting to create a ElastiCache Redis & Memcached Parameter Group prior to creating the actual cache cluster,
there is no support for creating cache paramater group name and cache paramater group family and descripti

[2014-05-06 09:25] mmoya commented on #7027
I didn't put enough attention when reviewing. This is a clear regression introduced by #6602.

[2014-05-06 10:13] danielgroves commented on #7284
Yep, just finalised a few bits and published it open source. Repository at [danielgroves/Ansible-GitLab-CI-Runner-Installer](/danielgroves/Ansible-GitLab-CI-Runner-Installer)

[2014-05-06 10:14] yauh commented on #6131
I am also in favor of having another attribute like `localfile=true|false` or `source=local|remote` to make this issue easily solvable. I spend quite a while figuring out why I couldn't perform a simple unarchive action until I read the docs more closely. It may become much more obvious with a simple switch to tell where the source is located.

[2014-05-06 11:38] esamattis opened #7295 "global name 'distro' is not defined in Ubuntu container"
When I try to run a playbook in a Ubuntu Trusty container using LXC (on precise host) I get following error:

[code]

Full log https://gist.github.com/epeli/aca368dfc5ce72dd3edb

This happens when I try to run the playbook over SSH or locally. I have configured the user `ci` to be able to use sudo without a password.

The playbook is fairly basic

[code]

The playbook runs fine on a KVM based Trus

[2014-05-06 11:59] bcoca commented on #6131
from unarchive's docs, just set copy=false

##

Brian Coca
Stultorum infinitus est numerus
0110000101110010011001010110111000100111011101000010000001111001011011110111010100100000011100110110110101100001011100100111010000100001
Pedo mellon a minno

[2014-05-06 12:02] esamattis commented on #7295
Oh, I just didn't have `python-apt` installed. The error message could be better.

[2014-05-06 12:03] yauh commented on #6131
@bcoca indeed this works fine for me.I guess I thought that either the archive is copied and then extracted or extracted over ssh onto the remote machine, depending on the setting. But it never occurred to me, that `copy=false` would actually look for a remote file instead of a local one.

So basically the functionality is there and the issue is solved for me :-)

[2014-05-06 12:12] akuznecov opened #7296 "1.6 :: Synchronize module loses trailing slash when used in a role with relative source path"
Hello,
##### Issue Type:

Bug Report
##### Ansible Version:

1.6
##### Environment

:: host :: ArchLinux
:: managed ::  Debian 7
##### Summary:

Just found a problem with synchronization of folder contents when relative source path specified in the role
It makes sense when we synchronize content to folder with other name
Ansible loses trailing slash when absolute local path generated
##### Steps T

[2014-05-06 12:15] Bilge commented on #6131
It didn't occur to anyone else in this thread, either. The issue is not solved until the docs are rewritten to be clearer on this functionality.

[2014-05-06 12:16] akuznecov commented on #7296
I have made some research and found parts of code responsible of local absolute path generation for rsync souce path
It is synchronize action plugin https://github.com/ansible/ansible/blob/release1.6.0/lib/ansible/runner/action_plugins/synchronize.py#L34
And `path_dwim` and `path_dwim_relative` functions on Ansible utils
https://github.com/ansible/ansible/blob/release1.6.0/lib/ansible/utils/__init

[2014-05-06 12:18] GonzaloAlvarez commented on #6131
I tested it and it worked! :)
Anyhow, I agree the issue should be reopened until docs are updated...

[2014-05-06 12:32] bcoca commented on #6131
I'm getting 404 on pull request attempts in github, but here is my proposed
change

https://github.com/bcoca/ansible/commit/413a50f87b12e7dc6fcac46e3fa56fd06332a33d

​

[2014-05-06 12:37] jimi-c commented on #7284
Thanks, looking into this now.

[2014-05-06 12:46] landryb opened #7297 "Search for templates within the role directory for template lookup"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel c6f3a0a4cc) last updated 2014/05/02 09:59:57 (GMT +200)
##### Environment:

Debian/OpenBSD
##### Summary:

Make ansible also search for templates within the role directory for template lookup
##### Steps To Reproduce:

A bit similar to issue 2697, i've just spent 2 hours trying the example from the virt module:

[code]

Probl

[2014-05-06 13:21] jimi-c commented on #7295
Yeah looks like a bug in the error handler. We'll look into this.

[2014-05-06 14:02] kolypto opened #7298 "Feature: Extended Vault support: copying files, lookup plugin"
When there's a need to keep some sensitive data close to a playbook, Vault is great for ciphering variables. However, what about encrypting files that are transferred to the target host?

Suggesting the following:
- Decrypt Vault-protected files on-the-fly with the `copy` module
- Implement a lookup plugin to read data from Vault-protected files, like `lookup('vault', 'path/to/file')`

[2014-05-06 14:43] #7295 closed, assigned to nobody

[2014-05-06 14:44] jimi-c commented on #7295
I've pushed the above commit to address this. Please let us know if you continue having any further problems related to this issue. Thanks!

[2014-05-06 15:05] esamattis commented on #7295
Whoah, thanks for the super fast fix! :)

[2014-05-06 15:08] inghama opened #7299 "Unable to get stdout of the 'cat'ing of a file that contains (and starts with) special characters"
I am at version 1.5.5-1.el6 of ansible.

I issue this command:

ansible HOSTABC -a 'cat /etc/motd' -K --sudo -v
sudo password:

[code]

HOSTABC | success | rc=0 >>

You are about to access a Duke University computer ...

---

However, when I substitue a file that has special characters (and STARTS with one), I _do not see_ the stdout output, even though the command succeeds.

ansible HOSTABC -a 'c

[2014-05-06 16:21] jasonmader opened #7300 "authorized_key skipping during --check"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

From OS X managing SLES11SP3
##### Summary:

When **authorized_key** module should be reporting a change to the authorized_keys file, it’s instead reporting skipping.
##### Steps To Reproduce:

[code]

`ansible-playbook site.yml -C`
##### Expected Results:

[code]
##### Actual Results:

[code]

[2014-05-06 16:36] jimi-c commented on #7299
I believe we fixed this issue in 1.6, if you can check against that version.

[2014-05-06 16:48] berendt opened #7302 "[unarchive] wrong user after unarchiving files"
Trying to unarchive an archive on Ubuntu 14.04 LTS using the following task does not set the correct user.

[code]

Results in the following directory (all included files owned by 67974, too).

[code]

[2014-05-06 16:55] jimi-c commented on #7300
Do you have any options with the key beyond just the regular key data itself?

[2014-05-06 16:58] jimi-c commented on #7302
I believe this is to be expected, since tar files maintain the owner/group of the file as archived. We would most likely need to add owner/group parameters to the module and specify additional flags to each unarchive command to reset the permissions.

[2014-05-06 17:03] berendt commented on #7302
Sounds reasonable. owner/group parameters should be introduced to avoid this issue. I'll have a look now.

[2014-05-06 17:43] berendt commented on #7302
Because of `add_file_common_args=True` the owner/group parameters are already settable. At the moment without any effect because no usage of those parameters inside the module.

[2014-05-06 17:45] jasonmader commented on #7300
None.

[2014-05-06 17:57] utilitynerd opened #7305 "gem module fails to install new version of gem when using local a local .gem file as gem_source"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

RHEL 6 host and target
##### Summary:

If a local .gem file has been installed by setting gem_source, ansible refuses to install a new version of the gem when gem_source is set to the newer .gem file. The version argument for the gem module can't be used as it is mutually exclusive with the gem_source argument.
#

[2014-05-06 18:16] akuznecov commented on #7296
@jimi-c, unfortunately it doesn't work for me
because `self.inject['_original_file'][-1]` is `l`, last char of role file path ( `self.inject['_original_file']` = `/xxxx/xxxxx/roles/test-sync/tasks/main.yml`), but not of original source `path`

[2014-05-06 18:37] utilitynerd commented on #7305
The issue is caused by the exists function

def exists(module):
    if module.params['state'] == 'latest':
        remoteversions = get_installed_versions(module, remote=True)
        if remoteversions:
            module.params['version'] = remoteversions[0]
    installed_versions = get_installed_versions(module)
    if module.params['version']:
        if module.params['version'] in installed_ve

[2014-05-06 18:56] jimi-c commented on #7296
Oops, yeah I used the wrong variable there. I deleted the above comment to avoid confusion and updated the commit above. Now it will save the original path and compare that to the path after the `path_dwim_relative` call.

[2014-05-06 20:17] smooge opened #7307 "Weird problem with network reuse of TCP ports from apps started from ansible"
So we have been running into an issue in our ansible rollout that hasn't occurred before sometime in mid April. About that time we started getting conflicts with services reusing the 5099 fireball port if those processes were started from ansible.

In the latest case, I set up a new hardware box and ran the ansible jobs which load up various services like iscsid, nrpe, etc. All of these usually pu

[2014-05-06 20:41] axelson commented on #7251
If I were to get you access to a solaris box to test on, would that help? I might be able to do that.

[2014-05-06 20:44] jimi-c commented on #7251
Yes, that might help.

[2014-05-06 21:13] jimi-c commented on #7252
@AlPatsino any follow up on this?

[2014-05-06 21:48] AlPatsino commented on #7252
@jimi-c please give me couple of hours.

[2014-05-06 22:10] jimmcslim opened #7308 "Static/dynamic inventory combination broken by linode.pyc?"
I'm combining a static hosts file with the linode.py dynamic inventory plugin in an inventory subdirectory pointed to by ansible.cfg (`hostfile=./inventory`).

The linode.py is marked as executable. A linode.ini also sits in that directory as required by linode.py.

When I run `ansible all --list-hosts` the first time, the names of all hosts both in the static inventory and in my Linode account ar

[2014-05-06 23:08] smooge commented on #7307
Fix that closes file descriptors seems to fix the problem in current testing. Will try more tomorrow to confirm. Thank youl

[2014-05-07 00:11] jimi-c commented on #7307
Great. I'm going to look into whether we should default that to True in the function declaration, as I believe it's always bad form to leak file descriptors into child processes.

[2014-05-07 01:58] jaimegago opened #7309 "ec2_group always detects a change even if there is none"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

Ubuntu 12.04
##### Summary:

Tasks running the ec2_group module always detect a change even when there is none
##### Steps To Reproduce:

Running this playbook more than once:

[code]
##### Expected Results:

I would have expected only the first run (when the group is being created) to be a change but not the sec

[2014-05-07 02:06] michaelkrieger opened #7310 "Ansible should respect default configuration unless overridden"
Regarding commit # c115c34

This commit has a trickle of side effects which are inappropriate as it requires explicit configuration that wouldn't otherwise be necessary.

My systems have en_CA.UTF8 as their default and only language.
So now I need to override this, meanwhile my environment on all systems already has the following when I run ansible
LANG=en_CA.UTF-8
LANGUAGE=en_CA:en

So running th

[2014-05-07 07:25] php-coder commented on #4265
I agree, that is was a good idea to publish generated documentation in PDF format.

[2014-05-07 08:50] akuznecov commented on #7296
@jimi-c, yes! now it is OK, trailing slash is on its place
Thanks a lot :)

[2014-05-07 10:09] jimmcslim commented on #7308
Similarly I can run `ansible all -i inventory/linode.py --list-hosts` repeatedly with no issues, or `ansible all -i inventory/hosts --list-hosts` with no issues.

Running `ansible all -i inventory --list-hosts` triggers my error (if linode.pyc bytecode file is present, ok otherwise).

[2014-05-07 10:31] alanwj commented on #6042
This is definitely a bug.  It effectively makes the mysql_db command unusable for any user except the mysql root user.

One workaround I've found is to do do something like:

[code]

This gives 'myuser' the ability to connect to database 'mysql' without granting any real ability to do anything.

[2014-05-07 11:24] alexanderjardim-zz opened #7316 "--ask-pass option doesn't work at OSX machines, out of the box."
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.7 (devel b6b76fe7f2) last updated 2014/05/06 09:29:29 (GMT -200)
##### Environment:

OSX
13.1.0 Darwin Kernel Version 13.1.0: Wed Apr  2 23:52:02 PDT 2014; root:xnu-2422.92.1~2/RELEASE_X86_64 x86_64
##### Summary:

Option --ask-pass does not work out of the box at OSX systems, as sshpass is not a standard package on it.
##### Steps To

[2014-05-07 11:37] jimmcslim commented on #7308
I'm working around this for the moment by modifying the first line of `linode.py` to specify `-B` (suppress byte code generation) `#!/usr/bin/env python -B`.

[2014-05-07 12:33] srgvg commented on #7308
Given that this script is run as a sub process - as a python script, and not imported like a module - I would expect no .pyc file to be generated, at least that is what I see here.

[2014-05-07 13:12] abridgett opened #7317 "missing pem_file produces incorrect error message"
##### Issue Type: Bug Report
##### Ansible Version: ansible 1.6 (devel 63e45ae269) last updated 2014/05/02 12:30:10 (GMT +100)
##### Environment: Ubuntu 14.04
##### Summary: GCE  library gives incorrect error when pem_file is missing

When using GCE module, if you mistype the path to the pem_file (e.g. specify a missing file) then the error message that is returned is confusing
##### Steps To Repr

[2014-05-07 14:13] #7307 closed, assigned to nobody

[2014-05-07 14:32] leevs commented on #6657
I can confirm this is indeed fixed for the new version of ansible
ansible-1.6-1.el6.noarch

Thanks  !

[2014-05-07 15:00] #7308 closed, assigned to nobody

[2014-05-07 15:00] jimi-c commented on #7308
The above patch should resolve this issue. If you continue having any problems related to this, please let us know. Thanks!

[2014-05-07 15:00] bamford commented on #276
The solution by @mgarabed worked for me on Scientific Linux 6.3.  Thanks!

[2014-05-07 15:19] jimi-c commented on #7317
What version of ansible are you running?

[2014-05-07 15:22] skyler opened #7319 "Bug Report: failed to parse: No JSON object could be decoded"
##### Issue Type:

Bug Report
##### Ansible Version:

`ansible 1.7 (devel 393124e462) last updated 2014/05/07 11:04:25 (GMT -400)`

but this was also occurring on 1.6.
##### Environment:
- Running `ansible-playbook` from CentOS release 6.5 (Final) x86_64
- Running against CentOS release 6.3 (Final) x86_64
##### Summary:

Notifying my `reload uwsgi` handler causes a Python exception to occur and th

[2014-05-07 15:48] jimi-c commented on #7319
Hrm, I know we had fixed some issues regarding scripts that spat out some garbage during the init, though it appears this may be a similar situation.

[2014-05-07 15:57] jimi-c commented on #7319
@skyler what init script are you using for uwsgi?

[2014-05-07 16:00] jimi-c commented on #7316
@alexanderjardim this is normal, as we do not make the askpass package a requirement of the ansible package itself. If you have any further questions regarding this, please let us know. Thanks!

[2014-05-07 16:00] #7316 closed, assigned to nobody

[2014-05-07 16:11] alimony commented on #4357
For anyone finding their way here, I solved this by adding this to the top of my playbook:

[code]

[2014-05-07 16:54] hkariti opened #7321 "Role vars overriding each other (Ansible 1.6.0)"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

Running from Ubuntu 12.10, managing Ubuntu 13.10
##### Summary:

If two roles define a variable in their vars/ directory, the value that's defined in the role that is listed last will be used for ALL the roles.
##### Steps To Reproduce:

Create two roles:

[code]

test1/vars/main.yml:

[code]

test2/vars/main.yml

[2014-05-07 17:47] jimi-c commented on #7321
Using your examples above, I am unable to reproduce this on 1.6 or the devel branch:

<pre>
# ansible-playbook 7321.yml
PLAY [localhost] **************************************************************
TASK: [7321_1 | debug msg="Variable is test1"] ********************************
ok: [127.0.0.1] => {
    "item": "",
    "msg": "Variable is test1"
}
TASK: [7321_2 | debug msg="Variable is test2"] ***

[2014-05-07 17:51] jimi-c commented on #7321
Please note that outside of the roles, the behavior you've described is normal. All variables have a global scope outside of roles, so if you access the variable in another role where the variable is not defined, or from the main play, you'll get the value of the last role to be included.

[2014-05-07 17:54] hkariti commented on #7321
Outside of roles I agree. I'll have to check my playbook again when I'm
near a computer. I got the reported result on two different machines as
well, so I'm surprised you can't reproduce it.
On May 7, 2014 8:51 PM, "James Cammarata" notifications@github.com wrote:

[2014-05-07 17:58] #7296 closed, assigned to nobody

[2014-05-07 17:58] jimi-c commented on #7296
Great, I've merged that in. Thanks!

[2014-05-07 19:17] skyler commented on #7319
One that I created. It's simple:

[code]

uWSGI is pretty chatty when it starts up--at least it is when I run that `exec` command on the terminal.

[2014-05-07 20:15] srgvg commented on #4357
FYI #6619 is in queue to have an version var available, and there is a filter in 1.6 that allows to compare "versions".

[2014-05-07 20:35] jimi-c commented on #7319
That's odd, I can't reproduce this. I added a few options (`--log-syslog --cheaper-busyness-verbose`) to the above command to increase the logging verbosity and see this in /var/log/messages:

<pre>
May  7 15:28:38 centos65 ansible-<stdin>: Invoked with name=uwsgi pattern=None enabled=None state=reloaded sleep=None arguments= runlevel=default
May  7 15:28:38 centos65 uwsgi: waiting for Emperor dea

[2014-05-07 20:35] jcftang opened #7322 "apt_repository module error and usage of proxies when behind a firewall"
##### Issue Type:

Bug Report
##### Ansible Version:

1.6
##### Environment:

Ubuntu 12.04 on all hosts and master machine where ansible is run
##### Summary:

apt_repository fails add a repo and tries to connect directly to internet and does not use proxies from environment as expected.
##### Steps To Reproduce:

Have this in a playbook, this is executed as root so there are no modifications to t