[2019-05-17 12:59] mkrizek commented on #56538
From your error:
[code]
it is obvious that you set `https_proxy` environment variable to `_none_` and **NOT** `proxy=_none_` in `/etc/yum.repos.d/your_repo_name.repo` configuration file which `man yum.conf` talks about. The latter works as expected with the `yum` module.

I am not sure setting the environment variable to `_none_` value is supposed to work, even the [link](https://superuser.com/que

[2019-05-17 12:59] joefodor commented on #55722
@justjais Hewre is the full -vvvv output of this task

Friday 17 May 2019  07:57:16 -0500 (0:00:00.159)       0:00:03.828 ************
Trying secret <ansible.parsing.vault.PromptVaultSecret object at 0x108ff5898> for vault_id=default
Trying secret <ansible.parsing.vault.PromptVaultSecret object at 0x108ff5898> for vault_id=default
Trying secret <ansible.parsing.vault.PromptVaultSecret object at 0x

[2019-05-17 13:13] xenlo commented on #56573
Indeed it's not an `proxmox_kvm` issue. So I will close this issue.

BTW, in my case the parallel is not due to a `loop` but well because we run the playbook on a list of hosts. In that case no way to use the `pause` option. But maybe in 2.9 the `serial` option will appears on task level.

In the end, we use another workaround which is using calculated `vmid`. But not sure that it's feasible in lo

[2019-05-17 13:13] #56573 closed, assigned to nobody

[2019-05-17 13:14] akhamar commented on #42661
Switched to ansible 2.8.0 and the problem is still present.
As per @stevenbaker said, it's related to group_name/id from other VPC that are peered to the VPC in which you are currently creating the group.

VPC A <=peering=> VPC B

To reproduce :

Security Group in VPC B, named sg-foo, with no rules
Security Group in VPC A, named sg-bar, with rule allow all traffic from sg-foo

You will get the fol

[2019-05-17 13:21] #51562 closed, assigned to nobody

[2019-05-17 13:39] victorock opened #56580 "ERROR! 'listen' is not a valid attribute for a HandlerTaskInclude"
##### SUMMARY

When using `include_task` as handler with `listen` the following error is displayed:
`ERROR! 'listen' is not a valid attribute for a HandlerTaskInclude`

The snippet below was working fine in 2.7.10:
 handlers/main.yaml:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MAC O

[2019-05-17 13:45] msven commented on #42661
I've found for the vpc peering case that if you give the group_id with the following format you can avoid the timeout error

    "group_id: <sgAccountNumber>/<sgGroupId>/<sgGroupName>"

I found the format after looking through the code - I believe the relevant line is https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_group.py#L501

Not particularly convenient or in

[2019-05-17 14:02] akhamar commented on #42661
Could you provide an example of "group_id: <sgAccountNumber>/<sgGroupId>/<sgGroupName>" ?

[2019-05-17 14:07] ShachafGoldstein commented on #48117
that is why I suggested to close the issue, you named the problem and it is a windows bug not an ansible one. at most this can get into the documentation of the module

[2019-05-17 14:08] msven commented on #42661
Actually, looks like it is documented.
 https://docs.ansible.com/ansible/latest/modules/ec2_group_module.html

In the second example listed in the middle of the rules list you see one like

    - proto: tcp
      from_port: 3306
      to_port: 3306
      group_id: 123412341234/sg-87654321/exact-name-of-sg

That matches the format

     group_id: <sgAccountNumber>/<sgGroupId>/<sgGroupName>

[2019-05-17 14:13] rnhurt opened #56583 "Ansible 2.8.0 failing to install yum packages on Amazon Linux"
##### SUMMARY
We've been using Ansible 2.7.x to setup our AWS EC2 instances for the past several years, but this morning the process broke when Ansible 2.8.0 was released.  It appears as if it is trying to use dfn to install yum packages.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module_utils/basic.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-05-17 14:25] #56275 closed, assigned to nobody

[2019-05-17 14:30] sivel commented on #56580
This is an oversight on our behalf.

We just need to add `listen` to the list of allowed keywords to `VALID_INCLUDE_KEYWORDS` in `lib/ansible/playbook/task_include.py`

[2019-05-17 15:03] bcoca commented on #47132
So i'm not sure we should do anything in core, this clearly seems like a misuse of the log by the modules themselves.

[2019-05-17 15:08] nwsparks commented on #48117
Sounds good

[2019-05-17 15:14] sivel commented on #35313
We have tried to handle mode checking ourselves before, and it was error prone and created issues of it's own.

We should instead ensure that errors flow back from ssh to the user, so they have more information to go off of.

Per this issue, it looks like we aren't providing the error back from ssh.

[2019-05-17 15:16] samdoran commented on #35317
@Davidian1024 Can you please test with the above PR to see if it fixes the issue?

[2019-05-17 15:17] samdoran commented on #36308
Can you please test with a newer version of Ansible to see if this is still an issue?

needs_info

[2019-05-17 15:22] samdoran commented on #36367
We have no current plans to change the current caching behavior.

To discuss this issue further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-17 15:22] #36367 closed, assigned to nobody

[2019-05-17 15:25] samdoran commented on #36433
This was added in Ansible 2.5.1.

[2019-05-17 15:25] #36433 closed, assigned to nobody

[2019-05-17 15:26] samdoran commented on #36441
@abadger Can you confirm if this is still an issue?

[2019-05-17 15:28] bitmand commented on #56517
@bcoca if --check is meant to never touch the remote system, I can see why this would never be able to implement. Feel free to close it :)

[2019-05-17 15:29] sivel commented on #36575
Using hostvars to smuggle values into play context is not recommended, and we have made changes that actually make using hostvars in this context fail for normal playbook runs as well as syntax checks.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-17 15:29] #36575 closed, assigned to nobody

[2019-05-17 15:30] samdoran commented on #18619
Closing per above discussion.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-17 15:30] #18619 closed, assigned to nobody

[2019-05-17 15:30] whojes commented on #43523
i think it's a different issue from #45848

[2019-05-17 15:32] samdoran commented on #12630
Is this still something we would like to implement? Can we close this?

[2019-05-17 15:33] samdoran commented on #18835
Can you please test with a newer version of Ansible to see if this is still an issue?

needs_info

[2019-05-17 15:36] samdoran commented on #12121
This is an optimization that could be done. However, we have no plans to change this behavior at the current time.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-17 15:36] #12121 closed, assigned to alikins, amenonsen

[2019-05-17 15:37] samdoran commented on #12480
Can we close this?

[2019-05-17 15:37] samdoran commented on #13099
Is this something that is still being worked on? Can we close this?

[2019-05-17 15:38] samdoran commented on #13244
Is this something that is still being worked on? Can we close this?

[2019-05-17 15:42] remyleone opened #56587 "Problem running ansible-test in CI"
##### SUMMARY

I cannot run ansible-test integration inside my CI

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

Debian container

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect test to run

##### ACTUAL RESULTS

[code]

[2019-05-17 15:42] jakemack commented on #47132
Interesting. I haven't dug into the code much, would you be willing to explain how they're misusing the log? From reading through the three similar issues and my cursory glance into module_utils/basic.py, it appeared to me that it was caused by having a "message" parameter defined for the module but I am no expert when it comes to the ansible code base

[2019-05-17 15:43] samdoran commented on #13742
This would best be solved by a new `git-lfs` module and would not be something added to existing core modules.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-17 15:43] #13742 closed, assigned to nobody

[2019-05-17 15:45] bcoca commented on #47132
that is what im basing it on, message is already provided so module should not be adding to it that way

[2019-05-17 15:46] bcoca commented on #12480
we can, but, i still think we should do it

[2019-05-17 15:47] bcoca commented on #13244
it is working, see attached PR

[2019-05-17 15:47] samdoran commented on #13870
The [ignore_unreachable](https://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keywords.html?highlight=ignore_unreachable) play keyword as well as [`is reachable` and `is unreachable` tests](https://github.com/ansible/ansible/pull/43857) will help with this problem.

[2019-05-17 15:47] #13870 closed, assigned to nobody

[2019-05-17 15:50] samdoran commented on #14367
This could be added as a toggleable option to existing callback plugins, or implemented as a custom callback plugin.

[2019-05-17 15:51] samdoran commented on #14373
This could be implemented in a custom callback plugin but is not something we plan to implement in Ansible at this time.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  

[2019-05-17 15:51] #14373 closed, assigned to nobody

[2019-05-17 15:52] wund0r opened #56588 "Error when trying to build docker image with 'nocache: true' option on Ansible 2.8.0"
##### SUMMARY

Ansible throws error when trying to build docker image with `nocache: true` option. If you remove that option it runs fine. On previous version 2.7.10 it runs fine

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_image

##### ANSIBLE VERSION

[code]
Problem is not reproduces with Ansible 2.7.10

##### CONFIGURATION

[code]
Problem is not reproduces with Ansible 2.7.10.

[2019-05-17 15:55] samdoran commented on #14377
As of Ansible 2.5, this can be controlled via the [`use_tty` parameter](https://docs.ansible.com/ansible/latest/plugins/connection/ssh.html) for the `ssh` connection plugin.

[2019-05-17 15:55] #14377 closed, assigned to nobody

[2019-05-17 15:56] samdoran commented on #15254
Rather than using role dependencies, use `include_role` with a conditional.

[2019-05-17 15:56] #15254 closed, assigned to nobody

[2019-05-17 15:59] samdoran commented on #15317
As you describe, this can be accomplished by using two tasks. We have no plans to implement this feature as described.

[2019-05-17 15:59] #15317 closed, assigned to nobody

[2019-05-17 15:59] bcoca commented on #12630
still want it, not easy to do since you need to delegate prompt handling

[2019-05-17 16:01] bcoca commented on #13099
yeah, 'auth plugins' and 'stackable connenctions' override this idea

[2019-05-17 16:01] #13099 closed, assigned to nobody

[2019-05-17 16:02] samccann opened #56589 "[Docs] Update network platform options page to include more platforms"
##### SUMMARY

The existing Network platform options page doesn't include a number of newer platforms. Update the table with the network platforms and add sections for platform examples where available.
https://docs.ansible.com/ansible/latest/network/user_guide/platform_index.html

Also add a section to the Network developer guide to explain to developers how/where to update this platform options

[2019-05-17 16:03] samdoran commented on #15343
We have no plans to implement this feature at this time. Adding implicit behavior and removing explicit behavior is something we try to avoid.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-17 16:03] #15343 closed, assigned to nobody

[2019-05-17 16:19] bjne commented on #15317
Ok..

[2019-05-17 16:30] jakemack commented on #47132
I don't think I follow. For example, the datadog_monitor module that I was attempting to use has a parameter named message to define what the message of the created datadog monitor should be. It is not using that message parameter to add anything to the MESSAGE parameter that is required by systemd.journal.send. Are you saying modules shouldn't be allowed to have a parameter named message?

It sou

[2019-05-17 16:43] rahulgadre opened #56590 "Error when trying to use the voss_command module in a playbook"
##### SUMMARY

I have been writing a playbook using the voss command module for VSP switches. However, I have been getting the following error message when I try to run a playbook containing this module. Getting the error message as "AssertionError: socket_path must be a value".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

voss_command

##### ANSIBLE VERSION - 2.7

[code]

##### CONFIGURA

[2019-05-17 16:48] rahulgadre commented on #56590
@ansibot ansible version -  ansible 2.7.5

[2019-05-17 16:57] pcfe opened #56591 "firewalld: suport source port"
##### SUMMARY

It would seem that one cannot specify a source port for the `firewalld` module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

firewalld module

##### ADDITIONAL INFORMATION

Basically, I'd like to be able to do the equivalent of

[code]

In a playbook, using the firewalld module.

for the target ports, I do:

[code]

[2019-05-17 17:11] jrpope2014 commented on #56583
Same here

[2019-05-17 17:27] dallonz88 opened #56592 "ncclient timeout on junos_facts"
##### SUMMARY

Timeout configurated on Ansible doesn't affect **junos_facts** task.
This is the log, where I even see the result I'm expecting and an additional exception thrown in the process: [ansible.log](https://github.com/ansible/ansible/files/3192408/ansible.log)
[code]
[code]
I tried setting all 3 timeout with overkilling values, by environment, ansinble.cfg and module timeout as suggested

[2019-05-17 17:45] jamjon3 opened #56595 "gcp_dns_resource_record_set: Using 'state' produces Invalid value for 'parameters.name': 'None'"
##### SUMMARY

Using Ansible 2.8, when I add 'state: present' or 'state: absent', the module bombs with this error:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_dns_resource_record_set

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 / Ansible 2.8 in docker container

##### STEPS TO REPRODUCE

Add the 'state' with a value of present or

[2019-05-17 17:52] #56580 closed, assigned to nobody

[2019-05-17 17:54] sivel commented on #56580
This issue has been fixed by the above referenced PR and will be backported for the 2.8.1 release.

[2019-05-17 17:59] rrey commented on #47132
@bcoca are you talking about the msg argument from exit_json ? That’s not what we are talking about here.

I talked about it on the french IRC but I don’t think it got a real attention.

[2019-05-17 17:59] ShachafGoldstein commented on #52470
Can you explain a bit more what the problem is?
running your example on my system i get changed returned

[2019-05-17 18:01] ShachafGoldstein commented on #24098
https://github.com/ansible/ansible/pull/56445

[2019-05-17 18:04] ShachafGoldstein commented on #31576
Is this issue still relevant? haven't been active for over a year

[2019-05-17 18:10] ShachafGoldstein commented on #25465
@jborean93 - Can this issue be closed?

[2019-05-17 18:13] #48117 closed, assigned to nobody

[2019-05-17 18:19] ShachafGoldstein commented on #36508
According to the discussion in #25465, the corrcet approach would be to use:
[code]

@jborean93 @nitzmahone - No activity on this issue for over a year

[2019-05-17 18:20] ShachafGoldstein commented on #37795
@jborean93  @nitzmahone  - Seems like this one was solved and can be closed

[2019-05-17 18:22] ShachafGoldstein commented on #38464
@jborean93  @nitzmahone  - No activity for over a year, and a valid solution was given

[2019-05-17 18:25] abenokraitis commented on #56589
Request that we add:

- Cisco ACI
- Cisco NSO
- Cisco UCS
- Cisco AireOS
- Cisco Meraki
- Aruba
- Checkpoint
- Fortimanager
- Fortios
- FRR
-

[2019-05-17 18:29] prathameshd9 commented on #17324
Using combine() worked for me
[code]

[2019-05-17 18:29] ShachafGoldstein commented on #40159
@dagwieers - Should this issue still be open?, kinda lost you in the comments since the last one from last year seems like a valid solution

[2019-05-17 18:46] huntertj commented on #56583
it appears to be this commit
https://github.com/ansible/ansible/commit/d53c3cd4f2dd8cbaa790eef743e47f6ac54bf0a4#diff-c606658e579ad7ff8b40bddb9e84e001
as Amazon Linux doesn't set ansible_distribution_major_version it defaults to dnf

[2019-05-17 18:54] LindsayHill commented on #56590
You should not be using `connection: local`. That is an older network device connection method, which has never been supported by the Voss modules

[2019-05-17 19:05] rahulgadre commented on #56590
@LindsayHill  Thanks for your response. I removed that line and now the assertion error is gone, but I now see the following error.

fatal: [IP]: UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: OpenSSH_7.4p1, OpenSSL 1.0.2k-fips  26 Jan 2017\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 58: Applying options

[2019-05-17 19:09] huntertj commented on #56583
direct code change, I haven't pulled down the repo yet
edit lib/ansible/module_utils/facts/system/pkg_mgr.py
put between line 89 and 90 (before the else)
           elif (collected_facts['ansible_distribution']) == 'Amazon':
               pkg_mgr_name = 'yum'

[2019-05-17 19:29] mxkle opened #56600 "proxmox_kvm - updating VM config"
##### SUMMARY
After creating a new VM from a clone, i cant update the VM config.
I am trying to modify the following values:
memory, cores, disks, description

The description value is getting updated correctly.
The memory, cores and disks values are left untouched, even though the ansible playbook returns changed or ok.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxmox_kvm

##### ANSIB

[2019-05-17 20:08] #46069 closed, assigned to nobody

[2019-05-17 20:17] hwali commented on #47927
Admin this case can close as issue resolved with some changes done my end

[2019-05-17 20:18] hwali commented on #51458
Things get solved with some changes done from my end this case can closed

[2019-05-17 20:20] #44485 closed, assigned to nobody

[2019-05-17 20:28] dusten commented on #56576
@adamsem can you check what version of ansible you have on both the local machine and the machine under management.

I just had the same issue where my local machine was using 2.7.10 and the remote host was using 2.8.0.

Locking the remote host to 2.7.10 solved the issue for me.

[2019-05-17 20:42] adamsem commented on #56576
@dusten Yes same situation. Thanks for that I'll check this workaround on Monday and give you posted if it help for me.

[2019-05-17 21:12] rahulgadre commented on #56590
/etc/ssh/ssh_config file:

#       $OpenBSD: ssh_config,v 1.30 2016/02/20 23:06:23 sobrado Exp $

# This is the ssh client system-wide configuration file.  See
# ssh_config(5) for more information.  This file provides defaults for
# users, and the values can be changed in per-user configuration files
# or on the command line.

# Configuration data is parsed as follows:
#  1. command line options
#

[2019-05-17 21:41] siemsen opened #56602 "meaningless "Illegal info request from server" error from Cisco 6509 switches"
##### SUMMARY
I'm using the ios_config module with "backup" to get the configs of many Cisco switches. It works for 49 switches of various models, but fails on all 10 of my 6509s, with the same error: "Illegal info request from server". The problem Ciscos are running version 15.1(2)SY7 or 15.1(2)SY9. I can ssh from the command line into all 10 problem Ciscos.

##### ISSUE TYPE
- Bug Report

#####

[2019-05-17 21:47] jborean93 commented on #38464
Yep, given the fact we already said we don’t support wildcards I’m going to close this one.

[2019-05-17 21:47] #38464 closed, assigned to nobody

[2019-05-17 21:59] axisofentropy opened #56604 "parted won't create partitions while also rewriting the partition table."
##### SUMMARY
The `parted` module is able to create partitions and also recreate partition tables. However when instructed to do both at the same time, it fails to create a partition if one of the same number exists before recreating the partition table.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
parted

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
par

[2019-05-17 22:06] axisofentropy commented on #56604
Also if someone else has this issue, know that you can work around it by just repeating the same step in your playbook.

[2019-05-18 07:18] christiangda commented on #56583
Hi everyone,

I comment the ticket https://github.com/ansible/molecule/issues/1645 thinking was molecule and I'm getting the following error in molecule debug mode:

My role task:
[code]

Error message

[code]

[2019-05-18 08:44] gaddman opened #56607 "openssh_keypair won't overwrite existing key"
##### SUMMARY
Despite setting `force=yes`, I'm unable to regenerate an SSH key.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssh_keypair

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Both host and Ansible server are running Ubuntu 18.04.2 LTS

##### STEPS TO REPRODUCE

1. Generate a keypair: `ansible <host> -b -m openssh_keypair -a "path=/tmp/keyte

[2019-05-18 09:13] #31398 closed, assigned to nobody

[2019-05-18 09:40] MarkusTeufelberger commented on #56607
Seems to be related to the comment below this answer: https://unix.stackexchange.com/a/69318

[2019-05-18 11:21] felixfontein commented on #56588
That looks like a bug in the compatibilty option parsing. I'll try to investigate that later today; for now, try the following workaround:

(That's the new preferred syntax anyway, the old one will be removed in Ansible 2.12.)

[2019-05-18 11:58] specator commented on #48660
In my first installation (Windows 10 1809) I have at least 2 physical disks. First one is a UEFI (GPT) partitioned disk with OS (4 partitions, one is a OS volume with C: drive letter, 3 other is a system volumes). Second one is a GPT partitioned disk with one partition (drive letter D:).

On another installation (WS2016 1607) I have the same configuration for first disk, and another disk have is a

[2019-05-18 12:05] felixfontein commented on #56607
See also #54291. Point three in there would solve this as a side-effect.

[2019-05-18 12:20] nkabir opened #56609 "ANSIBLE_ROLES_PATH does not execute tasks outside of default role locations"
##### SUMMARY
Configuring ANSIBLE_ROLES_PATH outside default locations (`/etc/ansible/roles`, `$HOME/.ansible/roles`) causes tasks to *not* execute. The roles are discovered but their tasks are *not* executed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO REPRODUCE

* deploy rol

[2019-05-18 12:53] #56609 closed, assigned to nobody

[2019-05-18 12:53] nkabir commented on #56609
Local directory issue. No action required.

[2019-05-18 13:07] 29x10 commented on #56444
And update?

[2019-05-18 13:26] ShachafGoldstein commented on #48660
Seems like this is a bug with defrag.exe

I would change what you suggested to
`$arguments += [String]::Join(' ',((Get-CimInstance -Class Win32_Volume  -Filter "(drivetype=3 OR drivetype=2) -Property DeviceID).DeviceID))`

The problem with this solution is that its a doorway to multiple bugs since using defrag's flag we don't need to handle a lot of cases and logic for selecting the drive.

anyway

[2019-05-18 13:32] ShachafGoldstein commented on #53847
Is this still an issue?

[2019-05-18 14:11] felixfontein commented on #56576
This is usually caused by Ansible using another Python interpreter than the one you've used to install the `docker` Python module with. It's probably not related to your `pip` version at all.

@dusten there's no need to have Ansible installed on the remote machine at all. (Except if you use ansible-pull on the remote machine, that is.)

[2019-05-18 14:11] lassizci commented on #35086
Also happens with 2.7.10

[2019-05-18 14:53] felixfontein commented on #56588
resolved_by_pr #56610.

[2019-05-18 14:58] mwperina commented on #55524
+affects_2.8

This is a bug which is affecting oVirt/RHV functionality, the fix needs to get backported to 2.8.z

[2019-05-18 17:36] kr4ut commented on #25543
Just for the record this bites us with default installations of Ubuntu 16.04 via the minimal VM option and probably also with the cloud images (untested). In difference to 14.04 and 18.04 or RHEL7 / CentOS you won't have the dbus package preinstalled which breaks hostnamectl.

So if you end up here because you dealing with minimal installations of xenial you can workaround installing the slick dep

[2019-05-18 19:36] FragmentedPacket commented on #56451
Correct! 2.8 is officially out so it won't be back ported to RC's I don't think. Hopefully the PR gets merged for 2.8.1

[2019-05-18 20:30] Davidian1024 commented on #35317
I'm not able to test this anymore.  So I'm just going to close this.

[2019-05-18 20:30] #35317 closed, assigned to nobody

[2019-05-18 20:39] gaddman commented on #56607
Supporting overwrite of the SSH key was added to the [user module](https://docs.ansible.com/ansible/2.8/modules/user_module.html) in commit https://github.com/ansible/ansible/pull/49971/commits/5faf77872833aeb5552a1e5073b12665707945f4.

[2019-05-18 20:44] felixfontein commented on #56607
That's one way to do it. One could also write the new key to somewhere in `/tmp` and only (atomically) move the result over once ssh-keygen is done.

[2019-05-19 07:57] specator commented on #48660
But the output of you string is a very different from my way, and this is not working for me.

In my way on my home PC I got this output (5 elements, marked by drive letter):
"C:" "D:" "E:" "F:" "X:"

In your way on my home PC I got this output (7 elements, marked by Volume ID witch id difficult to parse and understand for what drive was defragged, also the defrag.exe do not accept those volume pa

[2019-05-19 12:17] abadger commented on #36441
I believe this was fixed (when i inspect the spec file) but I'll test it later to make sure

[2019-05-19 12:22] rolfhh commented on #55828
The on_become() function in lib/ansible/plugins/terminal/dellos6.py is supposed to issue the "terminal length 0" command after entering privileged exec mode, but if it is already in privileged exec mode when the function runs it will just return immediately without issuing "terminal length 0". This means that if Ansible logs in as a user that is sent directly to privileged exec mode it will hang o

[2019-05-19 12:24] CirrusThink commented on #52598
Mine worked only when after the _metaclass statement.
Wither that or I was editing the symlink but I doubt it.

#######################################################
from __future__ import (absolute_import, division, print_function)
__metaclass__ = type

#https://github.com/ansible/ansible/issues/52598#issuecomment-470846069
import warnings
warnings.filterwarnings(action='ignore',module='.*param

[2019-05-19 14:17] arenard opened #56616 "Ansible galaxy role download should not have to perform additional check against tar archive file extension"
##### SUMMARY

Ansible galaxy role download should not have to perform additional check against tar archive file extension.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible-galaxy

##### ADDITIONAL INFORMATION

Ansible galaxy role download performs unnecessary check against file extension and specifically against `.tar.gz`.
Tarfile `tarfile.is_tarfile(...)` method seems sufficient t

[2019-05-19 14:43] iinuwa commented on #56122
Sorry for the long delay on this. Using `environment` to define the PATH
works like a charm and is readily understandable.

I think it would be good to recommend users of `java_cert` to use this
method for defining the executable path for keytool for consistency, and
perhaps deprecating the `executable` parameter. However, I don't claim to
know best practice here, and know that we shouldn't take d

[2019-05-19 17:44] ShachafGoldstein commented on #48660
Yes, I chose to add drivetype 2 for non local storage (/C included those) and I used the deviceID instead of the letter

[2019-05-19 17:45] kbreit opened #56619 "Allow documentation sidebar to be hidden"
##### SUMMARY
Pages on docs.ansible.com have the sidebar on the left side for TOC navigation. It is useful, but tends to use horizontal space and isn’t always needed. I’d like to have a toggle button which allows it to be collapsed and uncollapsed, allowing the documentation to expand horizontally.

My first benefit for this was on https://docs.ansible.com/ansible/latest/network/user_guide/platfor

[2019-05-19 19:33] jonasalexandersson commented on #55445
If I issue command: 'no logging console' in all my switches, module works as expected.

[2019-05-19 19:33] #55445 closed, assigned to nobody

[2019-05-19 20:12] g00nix opened #56620 "docker_container: `networks_cli_compatible: yes` playbook failed"
##### SUMMARY

When running a playbook with `networks_cli_compatible: yes`, the playbook will fail with:
[code]

Using `networks_cli_compatible: no` or commenting the `if self.networks_cli_compatible and self.networks:` section on `docker_container.py` will let the playbook run.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_container.py
[These linkes of code](https://github.com/ansi

[2019-05-19 20:18] jborean93 commented on #56620
!component =lib/ansible/modules/cloud/docker/docker_container.py

[2019-05-19 21:30] felixfontein commented on #56620
@gun1x Which version of docker/docker-py (the Docker Python SDK) do you have installed on the host machines?

[2019-05-19 23:29] simon-tma commented on #56430
I'm seeing this on Ansible 2.8, and it's the postgresql_pg_hba task from the postgresql component.

[2019-05-19 23:46] bootrino commented on #56430
I think this component does not work with Postgresql version 11 but I don't have time to create a formal bug report.

[2019-05-20 01:19] dano0b commented on #32513
my workaround:
[code]
Of course you need to prepare a proper `{{ playbook_dir }}/kubeconfig` in a previous step.

[2019-05-20 01:46] kimonoki commented on #22473
I would like to end the playbook without fail. Currently using end_play meta in the last task surely a meta for the whole playbook is welcomed.

[2019-05-20 02:21] kbreit opened #56621 "New module - meraki_traffic_shaping"
##### SUMMARY
Meraki added support for configuring traffic shaping on MX firewalls via their API. A new module should be created to support this.

https://dashboard.meraki.com/api_docs#traffic-shaping

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2019-05-20 02:23] kbreit opened #56622 "meraki_network - Add support for merging and unmerging networks"
##### SUMMARY
Meraki added support for merging and splitting networks. The `meraki_network` module should support this function.

https://dashboard.meraki.com/api_docs#combine-multiple-networks-into-a-single-network

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki_network

[2019-05-20 02:46] kbreit opened #56623 "meraki_device - Hostname lookup fails with no devices in network"
##### SUMMARY
An exception is thrown by `meraki_device` if a query by hostname is done on a network that has no devices.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki_device

##### ANSIBLE VERSION
[code]

##### ACTUAL RESULTS

[code]

[2019-05-20 05:18] igoratencompass commented on #56104
Thanks @s-hertel that worked for 2.5.5

[2019-05-20 06:17] rrauenza commented on #56538
That error message was changed by me into my local source.  That was not an ansible error message.  The problem was vague until I added extra logging.

It was *not* an environment variable -- `_none_` is a documented and supported value in `yum.conf`.  A recent change to ansible apparently takes whatever is in the `yum.conf` and pokes it into the environment (or passes to urlllib) because the yum

[2019-05-20 06:37] yuwzho commented on #51062
!component=lib/ansible/modules/cloud/azure/azure_rm_manageddisk.py

[2019-05-20 06:37] rnsc commented on #24098
@ShachafGoldstein Thanks for the ref. I did implement this into win_service (I didn't stumble upon this feature request when I looked up for service recovery actions and Ansible)

@jborean93 @imjoseangel any thoughts about my PR? :)

[2019-05-20 07:36] adamsem commented on #56576
@dusten your solution is working, @felixfontein I'm not sure why ansible is installed on remote machine , is not installed by yum but by pip.

[2019-05-20 07:41] twouters opened #56626 "import_playbook whitespace not stripped from filename"
##### SUMMARY
Spaces are not stripped from playbook filename since 2.8.0.
This works fine on <=2.7.10.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
import playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default configuration

##### OS / ENVIRONMENT
Linux

##### STEPS TO REPRODUCE
Use key=value format to assign tag(s) to import_playbook.

simple_pb.yml
[code]
(Notice double spac

[2019-05-20 08:32] Akasurde commented on #56428
Any news ?

[2019-05-20 08:36] Akasurde commented on #56467
`esxi_hostname` and `cluster` are mutually exclusive parameter. Try providing `esxi_hostsystem` if you want to deploy a VM on a specific esxi system.

needs_info

[2019-05-20 08:50] f3rdy commented on #54915
Problem persists in 2.8

[code]

[2019-05-20 09:21] gun1x commented on #56620
Ubuntu 18.04:
[code]
ArchLinux:
[code]
Fedora:
[code]

This is kind of embarrassing at the moment since it should be docker 18 on Fedora too. I must have a bug or something. I will fix it ASAP.

In case you need this, this is how I prepare the nodes:
[code]

[2019-05-20 09:38] kbreit opened #56628 "New module - meraki_alert"
#### SUMMARY

Module should be created for managing alert settings

https://api.meraki.com/api_docs#update-the-alert-configuration-for-this-network

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
 Meraki
##### ADDITIONAL INFORMATION

[code]

[2019-05-20 09:39] kostrzewa9ld opened #56629 "synchronize with password authentication does not work with python 2"
##### SUMMARY
In Ansible 2.8 (in 14037443dee3538b37aabf68c0486fc0fef5b43f), `synchronize` module wraps rsync command in sshpass automatically if password authentication is enabled. It is a great improvement, however, the way it was implemented works only with Python 3 (due to usage of `pass_fds` of `subprocess.Popen`, I suppose).
Previously there was a way to force synchronize to work with passwor

[2019-05-20 09:44] kbreit opened #56630 "New module - meraki_mx_uplink"
##### SUMMARY

https://api.meraki.com/api_docs#returns-the-uplink-settings-for-your-mx-network

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

##### ADDITIONAL INFORMATION

[code]

[2019-05-20 09:45] Akasurde commented on #55999
@abensch Thanks for reporting this issue. Could you please check if this playbook - https://github.com/Akasurde/ansible-reproducers/blob/master/55999/i55999.yml works for you and let me know ? Thanks

needs_info

[2019-05-20 09:46] Akasurde commented on #47745
@jrvilda Any news ?

[2019-05-20 09:58] nickcn commented on #55551
Hello,

Bug also appears in 2.8.0 stable. When cloning from template, I must use the disk size specified in the template in order for the process to complete. It seems the datastore option is honored though (cloning to different datastore but with same size as the template, works). I also tried same datastore as template different size, still not working, so we can assume that the bug is resizing?

[2019-05-20 10:20] joltcan commented on #49207
Hey guys! Just had this happen with 2.8.0 and Python3.7.0 on High Sierra. Upgraded to python3.7.3 but no difference. `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` solved it again.

[2019-05-20 10:55] ekodian commented on #54669
As commented above, this could be fixed using
[code]
But having it natively would be really nice (just like in xRemoteFile dsc resource)

[2019-05-20 10:56] jkroepke opened #56632 "ec2.py: Route 53 ignores iam_role / role_arn"
##### SUMMARY
I'm using the aws dynamic inventory. If I want to enable the route53 option with the route53_hostnames, the inventory fetch the route 53 zone from the main account unlike the instance which respects the iam_role parameter.

Maybe the iam_role code for the route53 is missing:

Code related to get instances
https://github.com/ansible/ansible/blob/bd061fd6322593bf44c5d368b0498bad5e8ec78

[2019-05-20 11:01] ekodian opened #56633 "Win LCM"
##### SUMMARY

It would be nice to have module, that could configure Windows Local Configuration Manager

https://docs.microsoft.com/en-us/powershell/dsc/managing-nodes/metaconfig

##### ISSUE TYPE
- Feature

##### COMPONENT NAME

`lib/ansible/module/windows`

##### ADDITIONAL INFORMATION

At this moment Windows could be managed using DSC (win_dsc), but there is no options co configure LCM behavio

[2019-05-20 11:05] rwaal opened #56634 "azure_rm_deployment removes tags on Resource Group"
##### SUMMARY
When the using the azure_rm_deployment module, the existing tags always seem to be removed from the Resource Group. The [documentation](https://docs.ansible.com/ansible/latest/modules/azure_rm_deployment_module.html) indicates that if you use the **append_tags** parameter, and set it to **true**, existing tags should not be removed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAM

[2019-05-20 11:37] kbreit commented on #49555
Fixed in https://github.com/ansible/ansible/pull/54276. Closing issue.

[2019-05-20 11:37] #49555 closed, assigned to nobody

[2019-05-20 11:38] kbreit commented on #51026
I need equipment which supports redundant power to be able to test this configuration. I’m working with Meraki to see if it’s possible to use a lab environment they may have.

[2019-05-20 12:15] Spaniol commented on #52319
Any news or workarounds for this one? Have the same problem

[2019-05-20 12:39] somq opened #56636 "Ansible 2.7 crashes on apt upgrade because it upgrades itself to 2.8: "fragment_class is None""
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

When running apt upgrade ansible upgrades itself to latest version resulting in a crash (`"fragment_class is None"`) when running the next task:

I have a vagrant box setup which fails

[code]

[code]

##### E

[2019-05-20 12:55] nicolaibaralmueller opened #56637 "role_path undefined"
##### SUMMARY

ansible variable role_path is undefined in version 2.8.

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION

[code]

[2019-05-20 13:00] robertdebock opened #56638 "yum module with `update_cache` and either `bugfix` or `security` set to `yes` fails."
##### SUMMARY
Using the `yum` module with `bugfix` or `security` set to `yes` errors: "'YumModule' object has no attribute 'yum_basecmd'"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control Node: Mac OS X
Managed Node: CentOS 7

##### STEPS TO REPRODUCE
[code]

Using this molecule configuration:
[code]

[2019-05-20 13:09] zystem commented on #27081
Workaround is to use extra_opts
      extra_opts:
      - --wildcards
      - '*/helm'
Example
  - name: helm
    unarchive:
      src: https://storage.googleapis.com/kubernetes-helm/helm-v2.14.0-linux-amd64.tar.gz
      dest: /usr/local/bin
      extra_opts:
      - --strip=1
      - --wildcards
      - '*/helm'
      remote_src: True

[2019-05-20 13:14] flloreda commented on #56467
Hi @Akasurde ,

It was a mistake when creating the issue, I tried both params in separated playbooks:

    - name: Create the VMs
      vmware_guest:
        hostname: "vsphere.lab.whatever.com"
        port: "443"
        username: "lab@vsphere.local"
        password: "yourpass"
        cluster: "Lab_CPD_Old"
        datacenter: "Laboratorio_CPD_Old"
        validate_certs: False
        name: "

[2019-05-20 13:18] henres opened #56639 "gcp_container_cluster_facts use `items`."
##### SUMMARY
gcp_container_cluster_facts use `items` in his return so when i want to loop on it i have this.

Given:
[code]

error:
[code]

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

on Docker Alpine installed by pip

[2019-05-20 13:32] microvish opened #56640 "ansible k8s validate_certs does not register with kubernetes package"
##### SUMMARY
AUTH_ARG_SPEC  verify_ssl key change to validate_certs in https://github.com/ansible/ansible/blob/stable-2.8/lib/ansible/module_utils/k8s/common.py
breaks SSL check in kubernetes package https://github.com/kubernetes-client/python/blob/release-9.0/kubernetes/client/rest.py.

kubernetes rest.py expects "verify_ssl" key in config to toggle SSL check, however common.py only sets the key

[2019-05-20 13:50] bcoca commented on #56637
from my test:
/etc/ansible/roles/test1/tasks/main.yml
[code]
I get
[code]

[2019-05-20 13:58] stevenbaker commented on #42661
@msven Ohhh, good tip.  Thanks for pointing out the proper format for security groups from peered VPC. Awesome. I will give that a try.

[2019-05-20 14:02] jimi-c commented on #48055
@Testicule please keep it on topic and polite.

[2019-05-20 14:03] microvish commented on #56640
Possible fix: k8s/common.py line 177

`        for key, value in iteritems(auth):
            if key in auth_args and value is not None:
                if key == 'api_key':
                    setattr(configuration, key, {'authorization': "Bearer {0}".format(value)})
                else:
                    setattr(configuration, key, value)
                    aliases = AUTH_ARG_SPEC[key].get('

[2019-05-20 14:04] microvish commented on #56640
Possible fix in k8s/common.py

        for key, value in iteritems(auth):
            if key in auth_args and value is not None:
                if key == 'api_key':
                    setattr(configuration, key, {'authorization': "Bearer {0}".format(value)})
                else:
                    setattr(configuration, key, value)
                    aliases = AUTH_ARG_SPEC[key].get('aliases'

[2019-05-20 14:10] garyrutland commented on #56583
Any idea when this pull request might be merged?
We have a lot of failing tasks at the moment due to this.

[2019-05-20 14:13] bcoca commented on #54915
dupe of #45843

[2019-05-20 14:13] #54915 closed, assigned to bcoca

[2019-05-20 14:16] bcoca commented on #48055
Please note that this module is supported by the community, that there is an effort to make a fix (see linked PR above) but that it breaks backwards compatibility and should be amended to handle both old and new RHEL targets.

Also, there is an alternative https://github.com/linux-system-roles/network/tree/master/library

[2019-05-20 14:18] dusten commented on #56576
@adamsem I'm happy I wasn't the only one with the issue and that it is working for you.  While I'm sure there is some configuration option can be passed, I will leave that to someone that has more knowledge on the topic.

@felixfontein my Ansible script is about getting from 0 to 1.  For example turning up an on-demand jump-box to run Ansible scripts from.  I am sure there is a configuration optio

[2019-05-20 14:30] Jean-Daniel opened #56644 "using 'contains' in map raise a warning"
##### SUMMARY

Ansible 2.8 introduce a `contains` filter whose main purpose is to be used in `map`, but was not even tested for that use case…

[code]
Using it in map() result in Ansible raising the following warning:

[code]

##### ISSUE TYPE
- ~Bug Report~
- Documentation Report

##### COMPONENT NAME
docs/docsite/rst/user_guide/playbooks_tests.rst

##### ANSIBLE VERSION

```2.8.0```

##### OS /

[2019-05-20 14:47] sivel commented on #56644
The documentation is incorrect.  It should not indicate that it is for use with `map`.

In fact, using it with map makes no sense.

I believe the goal of the documentation was simply to express that the `contains` test, can be used with filters that are used to further limit data where a test would be used to do so, such as in `select` or `reject`.  `map` applies a filter to each element of a list

[2019-05-20 14:55] Qalthos commented on #41523
@sk1988 generally, the instructions for getting an environment with the devel branch of Ansible can be found at https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#running-from-source. That said, Ansible 2.8 was released last week, and instructions on getting that can be found at https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#lates

[2019-05-20 15:13] bcoca commented on #56636
can you execute with -vvv and post the output?

needs_info

[2019-05-20 15:44] felixfontein commented on #56620
Ah, so no particular docker-py/docker version. I'll do some more experiments. It looks to me like this is a docker-py or docker engine bug. At least we're using the docker-py API as it's documented, and since the same call is made for adding networks it should also work fine. But I'll know more when I tried this out in more detail :)

[2019-05-20 15:46] bcoca commented on #34693
Dupe of #37219 fixed in #39099

[2019-05-20 15:46] #34693 closed, assigned to nobody

[2019-05-20 15:58] ilboud commented on #42614
@ChrisDoesCode  how do you remove v4 after boot? via nmcli?

[2019-05-20 15:59] ilboud commented on #42614
Any chance to get this looked at? I need to boot with v6 only... It's a lot of workaround to remove v4 after doing a boot with bpth v4 and v6

[2019-05-20 16:12] bcoca commented on #56644
that should read 'select/reject' and 'selectattr/rejectattr', not map , those are the filters that allow for tests.

[2019-05-20 16:12] jacksonp2008 commented on #56428
Would test but dev doesn't run...

*$sw_vers*
ProductName: Mac OS X
ProductVersion: 10.14.4
BuildVersion: 18E226

*$git clone https://github.com/ansible/ansible.git
<https://github.com/ansible/ansible.git>*

*$cd ansible/*

*$ source hacking/env-setup*

$ *ansible --version*

ansible 2.9.0.dev0

  config file = None

  configured module search path =
[u'/Users/pollock/.ansible/plugins/modules',
u'

[2019-05-20 16:14] sivel commented on #56636
A more verbose error isn't produced, however, I was able to reproduce, and in trying to get a stack at that point, instead hit this exception:
[code]

Just even based on that, I'm not sure how we would be able to support this.  It would mean any plugin loaded in a fork, would have to gracefully degrade to support an older ansible version.

2.8+ changes this a little, as we pre-load them all before

[2019-05-20 16:51] MaciejKucia commented on #54332
[code]

[2019-05-20 16:54] somq commented on #56636
@bcoca Here is the full logfile
https://gist.github.com/somq/a3f7164ee2ef90d484d8d3a640242251#file-ansible-2-7to2-8-issue-log

[2019-05-20 17:01] max-wittig opened #56650 "HomeBrew updates anyway, even, if update_homebrew: no set"
##### SUMMARY
Expected: HomeBrew doesn't upgrade itself
Actual: HomeBrew updates itself

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
homebrew

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### WORKAROUND

Setting the `HOMEBREW_NO_AUTO_UPDATE` environment variable

[code]

[2019-05-20 17:27] juan-cabrera commented on #41146
I think the behavior is different if you use python 3 instead python 2. In the first try I see:
[code]
In the second try I see:
[code]
I try
[code]
with python 3.6.7
[code]
This works
[code]
With  python 2.7.13
[code]
this do not works
[code]

[2019-05-20 17:32] jkirk commented on #56546
Updated the issue and tried to provide the missing infos. Hope that is ok.

[2019-05-20 17:40] antarmy07 opened #56657 "How to create tags for ec2_customer_gateway"
##### SUMMARY

How do you create tags on ec2_customer_gateway from ansible playbook? I can't seem to find any solution for this.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

EC2_CUSTOMER_GATEWAY

##### ANSIBLE VERSION

ansible 2.7.2

##### CONFIGURATION

     - name: Create a new cgw
       ec2_customer_gateway:
        bgp_asn: 65000
        ip_address: XXXXXXXXX
        name: "XXXXXX"

[2019-05-20 17:40] samdoran commented on #56213
It is possible to do this in a single task with `shell` or using two tasks as your show in your example. We have no plans to add this feature to the `script` module since there already exist ways to do it.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-20 17:40] #56213 closed, assigned to nobody

[2019-05-20 18:27] rambleraptor commented on #56639
This should be fixed in #55973

close_me

[2019-05-20 18:36] sivel commented on #56583
cc @maxamillion

[2019-05-20 18:55] greenbp commented on #31705
Getting this in ansible 2.8.0, is there a workaround?
vars.yml:
[code]
error:
[code]

[2019-05-20 19:27] LukeShortCloud opened #56669 "copy: reflink support"
##### SUMMARY
When doing a remote copy, support a new `copy` argument called `reflink` that will allow a sparse copy of a file if the file system (such as BtrFS or XFS) supports it. This helps to save space when backing up files.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
copy module

##### ADDITIONAL INFORMATION
Example usage:

[code]

Behind-the-scenes, this would run `cp --reflink=a

[2019-05-20 19:39] ekultails commented on #56669
Alternatively, instead of requiring a boolean it could require a string to match the available modes for `cp --reflink=`:

* always = Make a sparse copy, fail if it is not possible on the file system.
* never = Make a full copy.
* auto = Attempt to make a sparse copy but don't fail if it can't. Make a fully copy instead.

[2019-05-20 19:47] agrrh commented on #25543
Here's a efficient PR which fixes the issue by adding is-dbus-running sanity check: https://github.com/ansible/ansible/pull/55516

Probably couple more :+1: or comments would help.

[2019-05-20 19:56] xtaran commented on #25543
For me neither the solution by @kr4ut nor #55516 would solve the issue as both seem to only make sure that dbus gets installed despite the main issue is that this completely ignores non-systemd machines (and as it seems servers which on purpose don't have dbus installed, too) which neither have `hostnamectl` (but `hostname`).

[2019-05-20 20:06] agrrh commented on #25543
@xtaran
I guess #55516 would help since [it forces to fallback](https://github.com/agrrh/ansible/blob/6846546d96c5930d2ad1014bc126e23076d3ba43/lib/ansible/modules/system/hostname.py#L110-L115) to simple `hostname`-based mechanism which should work fine without systemd and dbus.

[2019-05-20 20:06] abenokraitis commented on #56455
Sounds like switch upgrade resolves this issue. Can you confirm?

[2019-05-20 20:07] sivel commented on #18835
I cannot duplicate this behavior in currently supported versions of Ansible.  A dependent role will only lookup the file from within itself, not the parent role.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-20 20:07] #18835 closed, assigned to nobody

[2019-05-20 20:16] felixfontein commented on #56620
Here's a minimal reproducer:
[code]
Without the `ipv4_address`, it works fine.

[2019-05-20 20:50] #56258 closed, assigned to nobody

[2019-05-20 20:54] tyleha opened #56674 "ufw module does not parse logging state correctly in Ubuntu 16.04"
##### SUMMARY

The UFW module is not able to correctly parse logging status being "off" and thus always reports the task as changed. This is because the actual output of `ufw status verbose` does not match the provided regex here: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/ufw.py#L448

The regex expects there to be a second group within parentheses to be captured. Thi

[2019-05-20 20:57] tyleha commented on #56674
My proposal would be to change the logging status regex to

[code]

or equivalent.

[2019-05-20 21:39] boblickj opened #56675 "hostname: no longer works on oracle enterprise linux"
##### SUMMARY
Hostname module no longer works on Oracle Enterprise Linux 6.x and 7.x after updating to 2.8. I believe this was caused unintentionally by https://github.com/ansible/ansible/commit/bf28b5ceca0d04fc8134a9d66b96c3d25563e2b7. In ansible/lib/ansible/module_utils/distro/_distro.py the id dict does not match what is retuned on my systems. It looks like it is expecting "oracle", but "Ol" is

[2019-05-20 21:45] Sneedes commented on #56455
[https://www.cisco.com/c/en/us/td/docs/switches/datacenter/mds9000/sw/b_MDS_NX-OS_Recommended_Releases.html]

The recommended software version for MDS 9506, 9509, and 9513 switches is version 6.2(23).
The NX-OS version 8.x removes the Cisco MDS 9500 technology hardware support.

While there is the 7.x release train, it doesn't appear to be recommended for anything.  Basically, older hardware stayi

[2019-05-20 21:59] gun1x commented on #56620
It's also "fine" if the container is already there, which makes the little bug kind of hard to find.

I am happy you were able to reproduce. I am curious how the fix looks like.

[2019-05-20 23:05] bcoca commented on #25543
The PR above should let you specify what system actually works for you

[2019-05-20 23:11] xtaran commented on #25543
@agrrh, @bcoca: Thanks for the clarification. I understood the PR's description as if it made sure that dbus is installed before trying to run hostnamectl. Must admit that I didn't look at the code. Will fix my comment above.

[2019-05-20 23:11] LindsayHill commented on #56590
This forum is not the best place for discussing setup & configuration-related issues, it's mostly for bugs in Ansible + modules.

I do not believe this is a bug in the module, I think it's related to some of your local configuration setup - e.g. you've shown that you have changed your local ssh_config setup. My guess is that there's also some other local settings you have. It's also a bit hard to

[2019-05-20 23:32] jandiorio opened #56680 "restconf httpapi plugin Media Type"
##### SUMMARY

`restconf` **httpapi** Plugin is hardcoded with a media type preventing the successful use.

According RFC 8040 section 11.3 **Media Types** the media type encodings are:

**JSON**: yang-data+json

**XML:** yang-data+xml

The plugin uses **yang.data+json** and **yang.data+xml**.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

 !component lib/plugins/httpapi/restconf.py
**restc

[2019-05-20 23:32] salakkap commented on #46529
anything new on this ?

[2019-05-21 00:09] #56329 closed, assigned to nobody

[2019-05-21 00:13] igoratencompass commented on #56104
Closing this since there is nothing else to be done. It is sad that there is no solution provided for 2.4 and older versions but that is so typical for the Ansible project -- break backwards compatibility and abandon maintaining the old stable versions with no consideration to the users that have spent years building their repository around a specific version.

[2019-05-21 00:13] #56104 closed, assigned to nobody

[2019-05-21 00:41] Testicule commented on #48055
How is this https://github.com/linux-system-roles/network/tree/master/library an alternative??

If i'm trying to control the network connections on a vanilla el8 server, how does that help?
Is it available in current ansible releases as a module we can use?

How many exceptions and variations do we have to have in ansible playbooks, just to achieve what should be simple, like controlling basic net

[2019-05-21 00:44] Testicule commented on #48055
I'm just frustrated, because this bug report is over 6 months old now, and it breaks important functionality for fedora, and probably newer releases of Ubuntu, and no-one seemed to care. And now EL8 is here, and it's broken on that too.

Someone has dropped the ball on this one.
Anyway, I don't care who or why or how, but this bug is a monstrosity, and needs to be fixed ASAP. That's all i'm saying

[2019-05-21 01:51] kimonoki commented on #22531
anyone knows how to preserve new line in the debug module?

[2019-05-21 04:32] Akasurde commented on #48310
@UnknownGnome Could you please confirm if this PR works for you ? Thanks.

[2019-05-21 04:33] luckylittle commented on #33947
Came across this today. I briefly looked at the source, it seems like the line #363 is the one causing it:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/source_control/git.py#L363

Shouldn't changing it from `module_dir` to `remote_tmp` fix it? I'll have a closer look at home.

[2019-05-21 05:56] felixfontein commented on #56620
Found the problem; see #56687. It was a bad call... Too bad docker-py only adds objects to the payload when they're not empty, otherwise we would have already noticed that there's something wrong here a long time ago...

[2019-05-21 05:58] PulsatingQuasar opened #56688 "Dig lookup plugin gives result for non existent FQDN"
##### SUMMARY
The dig lookup plugin gives a result for a non existent fqdn as though it would be it's ip-address. If you use nslookup you will get a Non-authoritative answer. It is that exact ip-address which is incorrect.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dig lookup plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS 7

##### STEPS T

[2019-05-21 06:01] felixfontein commented on #56607
@lolcube are you still around? There are some issues with your new modules, do you plan to fix them?

[2019-05-21 06:07] lonico commented on #46529
junction_path was added to na_ontap_volume_clone in 2.8.

The volume can be unmounted by using na_ontap_volume with an empty junction_path ('').

2.8 was released on Thursday.   Can you check this is working for you?

[2019-05-21 06:11] felixfontein commented on #56255
The fix will be contained in 2.8.1 and 2.7.11. Thanks for reporting this!

[2019-05-21 06:11] #56255 closed, assigned to nobody

[2019-05-21 07:15] gaddman commented on #56607
I'm wondering if the force parameter works in some other scenario? Anyway, if no response from @lolcube, I'm happy to write a PR to do the same fix as linked above for the user module. Longer term though, I agree with the idea of using temporary files - much more robust.

[2019-05-21 07:40] qmarc opened #56694 "azure_rm_virtualnetwork create attempts to delete resources"
##### SUMMARY
Using azure_rm_virtualnetwork with attribute state=present set and the Resource Group it sits in has NoDelete resource lock set, shows that the Ansible Module is attempting to drop a resource.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_virtualnetwork

##### ANSIBLE VERSION
Ansible version 2.7.10

##### CONFIGURATION

##### OS / ENVIRONMENT
Target resource is a Virt

[2019-05-21 07:40] lukepafford commented on #43249
I've been personally working on adding this functionality to the `java_cert` module. Unfortunately, I have come across a few roadblocks.

### Should this be implemented
@ralex states that because the underlying `keytool` utility only verifies the certificate by alias name, and not the signature of content, then so too should the `java_cert` module only verify by alias. I disagree because this modu

[2019-05-21 07:40] suharshan commented on #20493
+1 need this badly.

[code]
results in `ERROR! Unexpected Exception, this is probably a bug: 'Task' object has no attribute 'listen'`

[2019-05-21 07:43] tchia04 commented on #41513
Usually when you need to a different configuration you can either backup the existing file or duplicate an existing line to change the value and comment out the origin line. This way there is an easy way to revert back to the original value. So what I am suggesting is the ansible way to achieve that. This is crucial if you need to manage a cluster of servers such as a cluster of rabbitmq hosts and

[2019-05-21 07:52] kesor commented on #51108
Any chance someone takes a minute to look at this?

[2019-05-21 08:06] mkrizek commented on #56638
resolved_by_pr #56613

[2019-05-21 08:07] sinu opened #56696 "fmgr_fwpol_ipv4 not able to change the policy position"
##### SUMMARY
Hello Team

I am trying to consume module fmgr_fwpol_ipv4, and able to create policy without any issue.
But the policy is always creating before implicit policy and don't have any option to move up the created policy.

If i specify policyid=1, task getting exited with object already exists

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
fmgr_fwpol_ipv4

##### ANSIBLE VERSION
2.8

[2019-05-21 08:18] Oli67-DevOps opened #56698 "Add_children in an XML file is not working"
Hello,

I'm working with Ansible latest version (ansible 2.7.7), with the XML module and lxml latest version, I use some add_children in a role with different XML files, but weirdly one is not working.
Indeed, Ansible tells me it's ok, but it's not. The XML "injection" is not set.

The file is an XML with more than 4500 lines, it is provided by an editor of software for a web-app for scheduled/boo

[2019-05-21 08:34] nicolaibaralmueller commented on #56637
I'm not sure what happened but working today.

[2019-05-21 08:34] #56637 closed, assigned to nobody

[2019-05-21 08:36] gun1x commented on #56620
Awesome!

Do you need me to close the bug? Or will it just happen at a point?

[2019-05-21 08:38] #56698 closed, assigned to nobody

[2019-05-21 08:38] Oli67-DevOps opened #56699 "Add_children in an XML file is not working"
##### SUMMARY
Hello,

I'm working with Ansible latest version (ansible 2.7.7), with the XML module and lxml latest version, I use some add_children in a role with different XML files, but weirdly one is not working.
Indeed, Ansible tells me it's ok, but it's not. The XML "injection" is not set.

The file is an XML with more than 4500 lines, it is provided by an editor of software for a web-app for

[2019-05-21 09:22] F1rst-Unicorn opened #56703 "postgresql_db fails if stderr contains output"
##### SUMMARY

When restoring a SQL script with `postgresql_db` which outputs warnings, ansible considers this as failing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`postgresql_db`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Archlinux, last updated 20.5.
postgresql 11.2
python-psycopg2 2.8.2

##### STEPS TO REPRODUCE

Have an empty postgresql da

[2019-05-21 09:26] nikowitt opened #56704 "Ansible 2.8: Visual indication of delegate_to does not work anymore"
##### SUMMARY
apply/delegate_to no longer works in Ansible 2.8

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### STEPS TO REPRODUCE
- playbook is executed on Ansible host

[code]

##### EXPECTED RESULTS
example: db_host: sobis-162-srv
init role is executed on db_host

TASK [Execu

[2019-05-21 09:38] Gaby033 commented on #37198
Hello,

@jbudding : unfortunatly I do not have files like "ifcfg-*", I only have /etc/network/interfaces. I guess that the equivalent of /etc/redhat-release for debian is : /etc/os-release
Here is the content of mine :
PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.

[2019-05-21 09:51] rosowiecki commented on #56217
Thanks @sivel ! Your solution seems more elegant than mine, I'll post results of my experiments to your repo. Too bad I haven't seen it before, but I learned a lot about RPM building along the way, so it's a win :)

[2019-05-21 10:05] #56638 closed, assigned to nobody

[2019-05-21 10:14] jm42 commented on #56583
Here is a workaround:

[code]

[2019-05-21 10:16] Rylon commented on #54332
I thought I'd take a look at a pull request to try and fix this, but it's a bit more difficult than I hoped, primarily because the `auth` dictionary can be a different structure depending on which auth plugin is selected in the `auth_type` parameter. I'm not sure how to go about specifying this variable structure in an Ansible module spec, so that we can apply `no_log=True` only to the password at

[2019-05-21 10:26] srt commented on #42726
Ansible 2.8.0

Arch Linux
hostname module cannot be used on platform Linux (Archarm)

[2019-05-21 10:29] rohitthakur2590 commented on #56057
@ajtaylor6  Can you try to execute  "show module" command on device  itself and share the output here.

[2019-05-21 10:34] ccggeo commented on #46181
Solution does not work for gcp_compute_instance_facts which does not have a metadata {} option within the task.

My solution was to install google-auth as sudo, which may not be best practise but it worked. Hopefully will work for others.

[2019-05-21 11:47] antarmy07 commented on #56657
@MichaelBaydoun am I missing something from the description? I can't seem to get the tag part working.

[2019-05-21 12:26] ScottMichaud opened #56712 "Win_Find Partially Unknown Folder Performance (2.4.2->2.8.0 Regression)"
##### SUMMARY

Finding partially-unknown folders (ex: name contains a version code) with **win_find** in Ansible 2.8.0 is slow. (I gave up after about an hour on a fresh Windows 10 VM.) Ansible 2.4.2 allowed narrowing down the search by wildcards, which cut down the search time to (approximately) a couple of minutes.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

win_find

##### ADDITIONA

[2019-05-21 13:10] philfry opened #56713 "ansible 2.8: "skip: true" vs "errors=ignore""
##### SUMMARY
`find_first`: with ansible 2.8 `skip=false` is marked as deprecated in favour of `errors="ignore"`.
But when using `errors="ignore"` ansible tells me to use `skip: true` instead and fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
first_found

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### STEPS TO REPRODUCE
[code]
please note that

[2019-05-21 13:16] Akasurde commented on #54986
resolved_by_pr #56707

[2019-05-21 13:17] Akasurde commented on #54986
@digifuchsi Could you please check if PR #56707 works for you and let me know ? Thanks.

[2019-05-21 13:19] makrohn commented on #55551
Hi,

I'm also running into this on 2.8.0 stable. Same symptoms - I get the error `"Failed to create a virtual machine : Cannot complete the operation because the file or folder /vmfs/volumes/5a0adbe0-0fe7ebeb-4a73-246e968a2298/krohn-test/krohn-test.vmdk already exists"`. VCenter 6.5.

If I don't specify the disk size, it deploys without a problem.

Thanks.

[2019-05-21 13:25] ziaurrehman72 opened #56715 "Unsupported parameters for (user) module: password_lock"
##### SUMMARY
Getting error "Unsupported parameters for (user) module: password_lock" while trying to create a user with password_lock: yes on RHEL 7 target host.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL 6, 7

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS

The user "deploy_us

[2019-05-21 13:29] philfry opened #56716 "ansible 2.7/2.8: copy result registration in check mode"
##### SUMMARY
When running a playbook in check mode the `copy` module behaves differently than in "live" mode.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
copy

##### ANSIBLE VERSION
[code]
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
same output as without `--check`.

##### ACTUAL RESULTS
[code]
[code]

[2019-05-21 13:31] bcoca commented on #33947
`module.tmpdir` has `remote_tmp` resolved value

[2019-05-21 13:52] ajtaylor6 commented on #56057
@rohitthakur2590 see below, serial numbers partially redacted:
[code]

[2019-05-21 14:00] makrohn commented on #55551
I've found a workaround: If you clone the template, resize the disk, and power on the VM as three separate steps, you can do what you need to do.

Pre-2.8.0 working play:
[code]
Results in the following error in 2.8.0 Stable

Tuesday 21 May 2019  08:52:34 -0400 (0:00:00.031)       0:00:00.743 ***********
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to create a virtual machine :

[2019-05-21 14:13] maxamillion commented on #56583
@garyrutland once the author resolves the feedback with the PR. In the meantime @jm42's workaround will suffice. However, do note that it'll take about 3 weeks before Ansible 2.8.1 is released with the fix included.

[2019-05-21 14:14] samdoran commented on #56715
I am unable to duplicate this issue with Anisible 2.7.10 or `devel`. The only way this error would be reported is if `password_lock` is missing from the argument spec. Is it possible there is an older version of the `user` module in your library path?

Check the output of `ansible-config dump --only-changed` and see if `DEFAULT_MODULE_PATH` is defined. If so, see if there is a `user` module in one

[2019-05-21 14:15] maxamillion commented on #56583
Apologies all, this is on me and was not intentional. I'm not an Amazon Linux user myself and we don't currently have Amazon Linux in the test matrix in our CI. I'll see if we can resolve that for the future.

Thanks to @huntertj for the PR.

[2019-05-21 14:16] sparkcodeuk commented on #56583
And if you don't need 2.8 specific features, using 2.7.X now is also a way of getting around this issue.

[2019-05-21 14:17] garyrutland commented on #56583
I have pinned our version of Ansible to 2.7.10 in the mean time.

[2019-05-21 14:22] mrnabil82 opened #56720 "ImportError: cannot import name context"
##### SUMMARY
i can't execute ansible
when exectuing ansible:
i got that message:

Traceback (most recent call last):
  File "/usr/bin/ansible", line 137, in <module>
    from ansible import context
ImportError: cannot import name context

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ImportError: cannot import name context
in
File "/usr/bin/ansible", line 137, in <module>

##### ANSIBLE VER

[2019-05-21 14:30] samdoran commented on #56715
If you're feeling adventurous, looking at the actual module code running on the managed node would help.

You'll need to keep remote temp files, explode the AnsiballZ package, then look at the module code.

1. Run `env ANSIBLE_KEEP_REMOTE_FILES=1 ansible-playbook playbook.yml -vvvv | grep -Eo '/\S+/ansible-tmp-[0-9.-]+/'` and not the directory. We'll call this `$TMP_DIR`.
1. `ssh` into the managed

[2019-05-21 14:50] sivel commented on #56704
The problem isn't that apply+delegate_to isn't working, the problem is that the visual indication is no longer working.

The visual display seems to have been broken by b793f08a922ebc9ad1034e47b4d364d3914822d0

cc @bcoca

[2019-05-21 14:54] sivel commented on #56704
I'm unsure whether `_ansible_delegated_vars` should be added to `CLEAN_EXCEPTIONS`, or whether that code path needs to understand `_SUB_PRESERVE` instead.

[2019-05-21 14:57] mrnabil82 commented on #56720
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.2 LTS

##### STEPS TO REPRODUCE
i remember doing an update  that ask me to accept to change the ansible.cfg and that I refused.

[2019-05-21 15:01] bcoca commented on #56720
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-05-21 15:01] #56720 closed, assigned to nobody

[2019-05-21 15:12] samdoran commented on #56393
To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-21 15:12] #56393 closed, assigned to nobody

[2019-05-21 15:16] bcoca commented on #56397
we should fail in this case, but not as a stacktrace, we are keeping the bug open to fix that last part and return a 'useful' error to the user.

we discussed keeping track of links and bypassing the recursion issue, but this does not reflect the expected outcome.

[2019-05-21 15:18] nikowitt commented on #56704
Yes, you are right, that's what I also just discovered.

[2019-05-21 15:19] #56675 closed, assigned to nobody

[2019-05-21 15:19] boblickj commented on #42726
Oracle Enterprise Linux
hostname module cannot be used on platform Linux (Ol)

[2019-05-21 15:20] samdoran commented on #56412
While this would be a little faster than looping with tasks, we generally avoid moving looping into modules and prefer looping at the task level.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-21 15:20] #56412 closed, assigned to nobody

[2019-05-21 15:21] Benoit-DunandLaisin opened #56729 "homebrew_cask install with unavailable cask says cask is already installed"
##### SUMMARY

Rerunning my old task to install java8 on a fresh Mac 1012 target:
[code]
Task is green, ansible says package is already installed while it's not (because cask is not available anymore).

Looking at the module code, it parses stderr of `brew cask list caskroom/versions/java8` to verify if package is installed.
[code]
Running the `brew cask list caskroom/versions/java8` locally outpu

[2019-05-21 15:24] dlucille opened #56730 "COPY with sudo fail with file rights 750"
##### SUMMARY

I am connected with user "user1"
"user1" is a sudoer
I have a file "foo.txt" with followings rights:
`-rwxr-x---  1 user2 user2    0 mai   21 16:37 foo.txt`
user1 can not read foo.txt

I am trying to execute a COPY with a become_user=user2
the execution fails with a read-only error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATI

[2019-05-21 15:26] samdoran commented on #56430
!component =lib/ansible/modules/database/postgresql/postgresql_pg_hba.py

[2019-05-21 15:29] samdoran commented on #56433
Duplicate of #48134. See [this comment](https://github.com/ansible/ansible/issues/48134#issuecomment-440765883) for details.

[2019-05-21 15:29] #56433 closed, assigned to nobody

[2019-05-21 15:34] Muraligowtham commented on #35595
`---

- name: Network Getting Started First Playbook
  hosts: localhost
  tasks:

    - s3_bucket:
       aws_access_key: foo
       aws_secret_key: bar
       s3_url: http://localhost:4572
       name: test
       state: present
`

`fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Failed to connect to S3: global name 'urlparse' is not defined"}
`

[2019-05-21 15:35] samdoran commented on #56444
This looks like an issue with timeouts connecting over the Internet to a far away host. Try increasing the SSH timeout to prevent broken pipes.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-21 15:35] #56444 closed, assigned to nobody

[2019-05-21 15:37] #56458 closed, assigned to nobody

[2019-05-21 15:41] samdoran commented on #56493
We have no plans to implement this feature at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-21 15:41] #56493 closed, assigned to nobody

[2019-05-21 15:45] #56590 closed, assigned to nobody

[2019-05-21 15:48] #53558 closed, assigned to samccann

[2019-05-21 15:51] samdoran commented on #56536
!component =lib/ansible/modules/cloud/amazon/ec2_vpc_igw.py

[2019-05-21 15:54] nitzmahone commented on #56500
A couple of things:
* You're doing this on a REALLY old version of Ansible that has been unsupported for quite awhile- we've made significant changes to the connection var handling in more recent releases that should fix it.
* If the hosts in question always need a jumphost, you should probably be setting the SSH args in an inventory group (which would probably also solve the problem in the older

[2019-05-21 15:54] #56500 closed, assigned to nitzmahone

[2019-05-21 15:54] samdoran commented on #56543
This issue is best resolved via IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-05-21 15:54] #56543 closed, assigned to nobody

[2019-05-21 15:58] jojo221119 commented on #43249
@lukepafford I see an other option for cases related to PKCS12.
I'm not sure whether it's a good option but at least it would not impose further dependencies.

Instead of using the python library `OpenSSL.crypto.load_pkcs12`  you could use the print out of the keytool command reading the PKCS12 file.

keytool -list -keystore <PKCS12 cert store> -storetype PKCS12

[2019-05-21 16:12] felixfontein commented on #56620
Once the PR will be merged, this bug will be closed by GitHub. So no need to close it :)

[2019-05-21 16:16] lukepafford commented on #43249
@jojo221119 To read `PKCS12` files without any libraries would require me to wrap `openssl` commands in a subprocess. I was trying to avoid making calls to external programs, but I suppose this is fine if we can confidently assume that every system has `openssl` installed. Given that Python comes with the default module `ssl` which wraps `openssl`, I think its a safe assumption.

I'll probably go

[2019-05-21 16:18] bcoca commented on #42726
see #56679

[2019-05-21 16:29] lconnell opened #56732 "Consul Dynamic Inventory Broken?"
##### SUMMARY
I've used both the 2.7 and devel branch of the consul_ui.py script and I am seeing the same results. I'm running against a Consul 1.4.4 cluster.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
consul_io.py
python=2.7.16
python-consul==1.1.0

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS
ht

[2019-05-21 16:29] jojo221119 commented on #43249
@lukepafford That's what I meant, the java_cert module already requires java keytool to be installed. So it can be safely assumed it is available.

[2019-05-21 16:40] alongchamps commented on #51240
Draft PR opened, #56733

[2019-05-21 16:52] dallonz88 commented on #56592
I was completely sure I had tried that before... switching connection from local to netconf seems working.
[code]

[2019-05-21 16:53] #56592 closed, assigned to nobody

[2019-05-21 16:57] Andersson007 commented on #56703
@F1rst-Unicorn , hi, thank you for your feedback!
Could you please try https://github.com/ansible/ansible/pull/56734, does it solve the problem?
(if yes I'll backport it to 2.8 as soon as possible)

[2019-05-21 17:32] Spreadcat commented on #37007
I can confirm this is not working for v2.8

[2019-05-21 17:46] Andersson007 commented on #56703
https://github.com/ansible/ansible/pull/56734 solves it, @F1rst-Unicorn and others, please shipit

[2019-05-21 17:51] rambleraptor commented on #56426
Looking at `min_nodes` and `max_nodes`, it looks like those are both attributes of a NodePool (`autoscaling.minNodeCount`, `autoscaling.maxNodeCount`) as opposed to a cluster.

As far as the other fields, I'll get those added in! I've got a Magic Modules PR to add them in and then I'll upstream the changes.

[2019-05-21 18:01] chrisvanheuveln opened #56737 "utils.py:load_provider() / convert_bool() breaks NXOS httpapi when provider['authorize'] is None"
##### SUMMARY
Approx. 80% of our `NXOS` sanity tests are now failing with a TypeError when testing with httpapi:

[code]

The tests fail when using connection plugin `httpapi`.

It looks like #56271 introduced this issue.

Log with traceback:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`nxos`
`module_utils/network/common/utils.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATIO

[2019-05-21 18:02] chrisvanheuveln commented on #56737
@Qalthos @trishnaguha fyi

[2019-05-21 18:04] rambleraptor commented on #56319
Hello! We've changed this to 'resources' to address this issue. Sorry for the difficulty!

close_me

[2019-05-21 18:14] rambleraptor commented on #28489
Hello! We're suggesting that users move to the `gcp_compute_health_check` (or `gcp_compute_http_health_check`, `gcp_compute_https_health_check`, `gcp_compute_tcp_health_check`) modules depending on which GCP Resources you're trying to spin up. These new modules have better support for the GCP API and should work better together with the other GCP modules.

close_me

[2019-05-21 18:15] rambleraptor commented on #55824
Hello! We've moved away from using 'items' and changed it to 'resources' because this did make it hard to use the modules. Thanks for the suggestion!

close_me

[2019-05-21 18:34] salakkap commented on #46529
Tested with 2.8 and it's working absolutely fine

[2019-05-21 18:34] poleguy commented on #43550
My playbooks run part way through and I get the same error message randomly. It seems worse when running on a virtualbox with NAT on the same machine. I'm dead in the water, as ansible is effectively unusable.

[2019-05-21 18:53] #56319 closed, assigned to nobody

[2019-05-21 18:59] DaveCrown opened #56744 "Ansible 2.8.0 no longer able to autnenticate to ACI with private key"
##### SUMMARY

After upgrading from 2.7.10 to 2.8.0, key based authentication with the ACI modules is intermittent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- aci_config_snapshot
- aci_interface_policy_mcp
- aci_rest appears to work

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- Fedora 30
- Centos 7.6
- RHEL 7.6

- prod aci 3.2.3o
- test aci 4.1

[2019-05-21 19:02] #55824 closed, assigned to nobody

[2019-05-21 19:08] mallmen commented on #44546
Sorry, don't have access to any Powerbroker systems any longer or the original system where I implemented my fix.  The issue relates to how the commands are built through Ansible execution.

As far as I can recall, it relates to this (in regards to how pbrun is used by Ansible):

Invalid:   pbrun cmd1; cmd2 cmd3
Valid:  pbrun bash -c "cmd1; cmd2; cmd3"

Powerbroker sees the semi-colon in the 'inva

[2019-05-21 19:23] rjframe commented on #31705
@greenbp placing the password in another variable then copying its value works:

[code]

The password variable can be included from another file if its presence is icky.

[2019-05-21 19:36] jhawkesworth commented on #53847
@jborean93 - sorry I missed your question.  I don't know why for sure but the tests work in a less-than-optimal way, as some of them use timing information returned by the module as a proxy for whether the module actually did anything (since we can't really check that the pop up message actually appeared).
Since you can't guarantee what else is using CPU the tests aren't ever going to be bulletpro

[2019-05-21 19:37] billdodd commented on #54200
Just a couple of notes and questions after looking at this feature request today:

1. There are on the order of 50 Redfish resources that have the `Status` property (type `Resource.Status`). This is the complex property that contains the `Health` and `HealthRollup` properties. Gathering all these Health properties would require recursively walking the entire Redfish service starting from the servi

[2019-05-21 19:53] ShachafGoldstein commented on #56712
https://github.com/ansible/ansible/blob/41cc198b61c37c03e99b8dd83963a917e1117343/lib/ansible/modules/windows/win_find.ps1#L328

The use of LiteralPath disabled the option of wildcards

[2019-05-21 20:10] #28489 closed, assigned to nobody

[2019-05-21 20:14] samdoran commented on #56587
What is the container host OS?

needs_info

[2019-05-21 20:28] selivan commented on #56412
@samdoran

For acl module usual workload is processing thousands of files and folder recursively. So in this particular case moving loop inside module would drastically improve speed. On large folders it takes forever, so users have to create hacks with calling `setfacl` with `shell` module.

I understand general policy about loops in modules, but some modules work much better with loops inside th

[2019-05-21 20:32] rambleraptor commented on #29770
close_me

[2019-05-21 20:32] rambleraptor commented on #43466
close_me

[2019-05-21 20:33] rambleraptor commented on #30414
Hello! Please use the `gcp_dns_managed_zone` and `gcp_dns_resource_record_set` modules.

close_me

[2019-05-21 20:34] rambleraptor commented on #38124
Hello! Please use the `gcp_pubsub_subscription` and `gcp_pubsub_topic` modules.

close_me

[2019-05-21 20:36] rambleraptor commented on #27371
Hello! We're encouraging users to use the new `gcp_pubsub_subscription` and `gcp_pubsub_topic` modules. These modules have better support for the full PubSub APIs and are being maintained going forward.

[2019-05-21 20:36] rambleraptor commented on #27371
close_me

[2019-05-21 20:36] rambleraptor commented on #47921
close_me

[2019-05-21 20:38] rambleraptor commented on #47025
The `config.imageType` field should allow you to do this.

close_me

[2019-05-21 20:38] rambleraptor commented on #47886
close_me

[2019-05-21 20:39] rambleraptor commented on #29869
Hello! We're encouraging users to use the `gcp_compute_instance` module, which has support for local SSDs.

close_me

[2019-05-21 20:49] andyshinn opened #56752 "gcp_compute inventory source much slower than gce.py"
##### SUMMARY
When upgrading from `gce.py` to the new `gcp_compute` inventory source there is a noticeable slowdown in performance. Without specifying zones it can take over 30 seconds for inventory to resolve. Specifying zones to lower the scope helps but it is still much slower than the old inventory script.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`gcp_compute` inventory source (htt

[2019-05-21 20:52] rambleraptor commented on #56325
Hello! I'm not entirely sure there's a good fix for this. For users creating/updating routes, we want them to know that 'dest_range' (and the other fields you mentioned) are required. While you don't necessarily need a `dest_range` to delete a route, Ansible doesn't natively have a way to turn off those checks when state is absent.

For the sake of simplicity, I'm inclined to keep this as-is

[2019-05-21 20:57] mtse-aurora commented on #56752
Yes I noticed the exact same thing, quite surprising to have such poor performance for the query.

[2019-05-21 21:03] rambleraptor commented on #55849
Hello @apitanga. My apologies for this taking so long.

As far as I can tell, this functionality is restricted to the beta APIs. For most users, they don't care if they're using the beta API or the generally-available API. Some customers do greatly care. Because of that, our eventual goal is to separate out beta API access from regular API access. We haven't gotten there yet.

As such, we don't cu

[2019-05-21 21:07] mtse-aurora opened #56753 "gcp_compute dynamic inventory metadata items are unusable"
##### SUMMARY
When using the [Ansible gcp_compute plugin for dynamic inventory](https://docs.ansible.com/ansible/latest/scenario_guides/guide_gce.html#gce-dynamic-inventory), the metadata items field is in a list of JSON objects, which is unusable. It should be a dictionary where each metadata item's name is a key in the dictionary.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gcp_comput

[2019-05-21 21:16] rambleraptor commented on #55843
close_me

[2019-05-21 21:17] rambleraptor commented on #52197
We'll definitely investigate this for the future. For the moment, we're splitting up disks into regional and global (using the  respective modules).

[2019-05-21 21:17] rambleraptor commented on #52197
close_me

[2019-05-21 21:17] rambleraptor commented on #47499
close_me

[2019-05-21 21:22] #47921 closed, assigned to nobody

[2019-05-21 21:23] #47886 closed, assigned to nobody

[2019-05-21 21:23] #47499 closed, assigned to nobody

[2019-05-21 21:24] #47025 closed, assigned to nobody

[2019-05-21 21:38] samdoran commented on #56587
Try setting the locale inside the container to a UTF-8 locale, e.g., `LC_ALL=fr_utf8` or `LC_ALL=en_US.utf-8`.

We use `sys.getfilesystemencoding()` in `lib/ansible/utils/py3compat.py` in order to mimic Python 3's `os.environ` behavior. If the system locale is set to a non-utf-8 locale, you'll get this error when non-ASCII characters are encountered in environment variables.

needs_info

[2019-05-21 21:41] #38124 closed, assigned to nobody

[2019-05-21 21:49] specator commented on #48660
Yes, you used deviceID instead, but for what reason? defrag.exe do not accept those volume paths.

[2019-05-21 21:51] #30414 closed, assigned to nobody

[2019-05-21 21:52] #29869 closed, assigned to nobody

[2019-05-21 21:53] #29770 closed, assigned to nobody

[2019-05-21 21:56] #27371 closed, assigned to nobody

[2019-05-21 22:12] apitanga commented on #55849
Hi @rambleraptor thanks a lot for looking into it!

It's weird because while `gcloud` can do it, I cannot find an API method for this in either the GA or beta API guides.

I will try to accomplish the task calling `gcloud` via Ansible in the meantime.

[2019-05-21 22:14] rambleraptor commented on #55849
Yeah, I haven't been able to find the exact API endpoint either. It's very strange.

[2019-05-21 22:37] lonico commented on #46529
Thank you for the feedback

[2019-05-21 22:38] #55843 closed, assigned to nobody

[2019-05-21 22:51] #52197 closed, assigned to nobody

[2019-05-21 23:08] justin-wf commented on #44403
more issue with solaris, unable to create local user with the id existing in AD already

[2019-05-21 23:28] ericsysmin commented on #56173
@rambleraptor any update on how I should proceed? I can do a PR if needed.

[2019-05-22 03:47] geoside opened #56757 "win_acl: User Name to SID Conversion Issue"
##### SUMMARY
When trying to set the permission using win_acl, it fails if there is the following permission.
- APPLICATION PACKAGE AUTHORITY\制限されたすべてのアプリケーション パッケージ
( A.k.a ALL RESTRICTED APPLICATION PACKAGES)

The permission used for the value of $specialIdRefs between lines 161 and 170 does not seem to hit when compared with the value of $idRefShotValue, since the value that can be obtained dep

[2019-05-22 04:26] pratikgadiya12 commented on #56059
@bmalynovytch I have sent the PR to fix this issue. Let me know if this looks good

[2019-05-22 04:27] jmurphyau opened #56760 "inconsistency with passing vars into roles"
##### SUMMARY

When passing vars into a role that will be run multiple times (allow_duplicates=true) the results are inconsistent.. The differences is when using "vars" keyword and when not using "vars" keyword.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OSX 10.14.4 (18E226)

##### STEPS TO REPRODUCE

[2019-05-22 04:46] Akasurde commented on #30022
As per https://github.com/ansible/ansible/issues/30022#issuecomment-328873365 closing this. Thanks for the info @pratikgadiya12

[2019-05-22 04:46] #30022 closed, assigned to nobody

[2019-05-22 05:34] victorfun1989 opened #56761 "Ansible shell module ends with MODULE FAILURE"
##### SUMMARY
I used the Ansible shell module to execute a shell script with root user. From the log I could find the shell was executed successfully and the return code is 0. However Ansible ended with MODULE FAILURE. I've tried to find all the possible answers, but unfortunately, none can resolve it. The user to run the playbook is root.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
SHELL

[2019-05-22 05:38] Akasurde commented on #56657
@antarmy07 Thanks for reporting this issue. There are two things -

1. As module description, `customer_gateway_id`, `tags` are not valid parameters for `ec2_customer_gateway`.
2. As per module code, `ec2_customer_gateway` adds only one tag called `name` and does not support adding new tags (other than `name`) to existing customer_gateway.

Thanks.

[2019-05-22 06:10] #54986 closed, assigned to Akasurde

[2019-05-22 06:29] digifuchsi commented on #54986
works great, thanks!

[2019-05-22 06:51] #49515 closed, assigned to Akasurde

[2019-05-22 06:53] 29x10 commented on #56444
@samdoran Hi Sam, as I describe in summary, I connect to localhost, not a far away host, I even test that on ubuntu LTS 18.04, it fails

[2019-05-22 07:23] bmalynovytch commented on #56059
@pratikgadiya12 yep, seen it.
You need to fix what CI reports and get CI all green 🙂

[2019-05-22 08:08] F1rst-Unicorn commented on #56703
@Andersson007 Thanks for the fast reply. I can confirm that #56734 fixes the problem, so please shipit

[2019-05-22 08:33] keirazhang opened #56772 "ansible_dns.nameservers doesn't reflect real name servers for Ubuntu and Photon OS"
##### SUMMARY

On  Ubuntu 19.04 and Photon OS 3.0, the ansible_dns.nameservers is always ["127.0.0.53"]. But if run "systemd-resolve --status", a different DNS servers list could be get. Take Photon OS 3.0 as an example, below is the output of "systemd-resolve --status"
[code]
But its ansible_facts doesn't reflect these real name servers:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[2019-05-22 08:48] dwt opened #56773 "Group output for hosts with the same diff for easier verification in --diff mode"
##### SUMMARY

When looking at ansible output for multiple hosts, it can quickly get very hard to see that one of the hosts has a different diff than all the others.

It would be immensely helpful if ansible could group the output so that all hosts with identical diff are shown together / only once, so the different ones are easier to see.

This would also help to make ansible output much tighter.

[2019-05-22 08:50] Andersson007 commented on #56703
@F1rst-Unicorn , thanks, shipit it too, please

[2019-05-22 08:53] piotr-gbyliczek opened #56774 "SSL policy not set in azure_rm_appgateway"
##### SUMMARY

SSL policy setting is being quietly ignored by the looks of it.
An attempt to change it results in "changed" state every playbook run, but actual SSL policy is not set to either pre-defined nor custom.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_appgateway

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Azure module, no relevan

[2019-05-22 08:55] F1rst-Unicorn commented on #56703
shipit

[2019-05-22 08:57] queglay commented on #48313
I also have this issue, however in a slightly different situation, I am trying to remove a mount after it has been disconnected.

No workaround works - I have attempted setting unmounted before repeating with absent.  in my case, 'unmounted' will just freeze ansible at this point.

Provided the connection is up, unmounted, and then setting absent does work.  However it doesn't appear possible to r

[2019-05-22 09:00] yungezz commented on #56774
hi @zikalino could you pls look at the issue?

[2019-05-22 09:03] philfry opened #56775 "lookup(first_found) with errors=ignore returns empty string"
##### SUMMARY
[code]
returns an empty list instead of either `None` or an empty list, breaking the `skip` compatibility.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
first_found

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
for both tasks

##### ACTUAL RESULTS

[code]

[2019-05-22 09:03] philfry commented on #56713
Looks like my syntax is wrong. It should be
[code]
instead of
[code]
It still doesn't work but that's a different issue.
Closed in favor of #56775

[2019-05-22 09:03] #56713 closed, assigned to nobody

[2019-05-22 09:16] ndusart commented on #54855
@sivel we upgraded to Ansible 2.8 and we still hit this same issue, the `package` module still tries to install `python2-dnf` and we still need to add the option `ansible_python_interpreter` in our host file.

How is  the autodetection made ?
The problem is maybe that `/usr/bin/python` is still pointing to `/usr/bin/python2` ?

[2019-05-22 09:18] piotr-gbyliczek opened #56776 "authentication certificates behaviour inconsistent and problematic in azure_rm_appgateway"
##### SUMMARY

Authentication_certificates element in backend_http_settings_collection (line 76) requires actual resource id in order to be set.

The requirement of the resource id is inconsistent and problematic.
- inconsistent: setting other certificate relate section of the module, ssl_certificate element in http_listeners (line 87), requires only name of the ssl_certificate, the same name we u

[2019-05-22 09:19] jpmens commented on #56688
I don't understand the issue (btw, avoid `nslookup` as it often lies):

[code]

The response is a valid answer from a recursive server.

[2019-05-22 10:56] stdedos opened #56779 "Fix output message in `x transfer mechanism failed`"
##### SUMMARY

Continuing #22127: I receive:
[code]

Whereas, a simple
[code]
output would save me the trouble of reading the 205 (!!) lines of the the `ANSIBLE_DEBUG=1` output

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Gathering Facts
Transfer Mechanism
Stdout callback

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Alpine OS

##### STEPS TO REPRODU

[2019-05-22 11:07] pierreant-p commented on #41861
+1

[2019-05-22 11:32] #27098 closed, assigned to nobody

[2019-05-22 11:41] omarkohl opened #56781 "Modifying the options of an existing Gluster volume leads to remove-brick command"
##### SUMMARY

When trying to update the options of an existing Gluster volume, Ansible tries to remove bricks from that volume. This fails, but should not happen anyway! The problem does NOT exist with Ansible 2.7.10  (only 2.8).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

glusterfs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRO

[2019-05-22 11:44] omarkohl commented on #56781
I think it likely that it is related to #38269

[2019-05-22 12:01] tterranigma commented on #56325
There is the `required_if` option as well as some others when declaring the argument spec for the module. Couldn't this be used to solve this?

[2019-05-22 12:07] dagwieers commented on #56744
Yes, unfortunately the fix was not pulled for the 2.8.0 release. So we will have to wait until v2.8.1 is released. The fix is here: https://github.com/ansible/ansible/pull/56039

[2019-05-22 12:30] DaveCrown commented on #56744
Well I feel dumb for missing that PR. Thanks!.

________________________________
From: Dag Wieers <notifications@github.com>
Sent: Wednesday, May 22, 2019 8:09 AM
To: ansible/ansible
Cc: Dave Crown; Mention
Subject: Re: [ansible/ansible] Ansible 2.8.0 no longer able to autnenticate to ACI with private key (#56744)

Yes, unfortunately the fix was not pulled for the 2.8.0 release. So we will have to

[2019-05-22 12:38] Akasurde commented on #48095
@webknjaz Can we close this since PR 44396 is merged ? Thanks.

needs_info

[2019-05-22 13:00] pratikgadiya12 commented on #56059
@bmalynovytch : Oops, I missed to check that. Thanks for pointing it out.
Fixed CI reports :)

[2019-05-22 13:17] codyja opened #56786 "VMware: vmware_vm_inventory Won't Complete With Large Inventory"
##### SUMMARY

We have a fairly large vSphere 6.5 environment with about 6600 VMs. When kicking off an ansible-inventory command with vmware_vm_inventory, I can't get it to complete, have waited more than 20 minutes on some tests. I can't tell if the issue is due to the number of VMs, or a different issue. Have also tried `with_tags: no`
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_

[2019-05-22 13:36] niallor opened #56788 "Unhelpful warning from module 'apt'"
Done.

Relates to release 2.8. Not sure how to test 'devel' branch.

##### SUMMARY

In playlist, task specified as pasted further on results in unhelpful WARNING message.
Output from task is pasted in requested position further on.

Message is unhelpful because remedial suggestion seems to be based on
assumption that converted data was specified in playlist, which is not the
case. It seems likely

[2019-05-22 13:44] codyja commented on #56786
Have also tried the updated inventory script in https://github.com/ansible/ansible/pull/55929 without success.

[2019-05-22 13:45] walterdolce commented on #47573
Hi all. Quick update regarding the documentation issue. I have by chance discovered that if you have a group name containing a dash (`-`) in its name, somewhere along the line it will be converted to an underscore (`_`).

I haven't seen this documented anywhere. Please correct me if I'm wrong. Thanks!

[2019-05-22 14:02] lolcube commented on #56607
I'll be looking into it and fix it.

[2019-05-22 14:05] webknjaz commented on #22967
@weskerfoot @TeraInferno `pyenv` is a custom wrapper in the style of one-ring-to-rule-them-all. It's totally incompatible with `virtualenv` interfaces.

Yet, if you create a venv using `pyenv` separately and then feed it to `pip` module this should work. The usual path for such virtualenvs would be smth like `${PYENV_ROOT:~/.pyenv}/versions/{{ venv_name }}`.

Since `pyenv` is a separate Python and

[2019-05-22 14:07] webknjaz commented on #48095
Yep, it looks fixed.

[2019-05-22 14:07] #48095 closed, assigned to nobody

[2019-05-22 14:16] lolcube commented on #56607
so if i understood correctly there seem to be two issues with my module(s):

1. ssh-keypair is waiting for input in some scenarios (like regenerating keypairs) which results in the module/ssh-keygen waiting forever
2. I should generate files (certs, keypairs etc.) in a temporary location first and then use module.atomic_move() instead of generating them directly in self.path in order to avoid corr

[2019-05-22 14:30] mrlesmithjr opened #56791 "aci_epg_to_domain KeyError: 'target_filter'"
##### SUMMARY

When using Ansible versions `2.6.x` this does not occur. It appears that in `2.7.x` at some point `filter_target` was renamed to `target_filter` and this is when I begin seeing issues.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aci_epg_to_domain

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cisco ACI - APIC Version 4.0(2c)

##### STE

[2019-05-22 14:37] finnje opened #56792 "openssl_pkcs12 'Error while deserializing key'"
##### SUMMARY
After recently upgrading to ansible 2.8 and switching to python3.6 creating a PFX certificate via openssl_pkcs12 module is no longer working.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module: openssl_pkcs12

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Docker container based on centos, with ansible installed via pip3

##### STEPS TO R

[2019-05-22 14:50] Lin-Buo-Ren commented on #43585
Snap packager passing by, I'm definitely interested in packaging ansible as a snap, please inform me if there are any other implementations aside from the above one so I won't re-implement the same wheel, thanks!

[2019-05-22 14:57] Akasurde commented on #29627
Closing this as per https://github.com/ansible/ansible/issues/29627#issuecomment-409845030. Thanks @pratikgadiya12

[2019-05-22 14:57] #29627 closed, assigned to nobody

[2019-05-22 15:15] samdoran commented on #56444
Then it may be an issue with connecting via `ssh` to `localhost`, then. Adding `localhost` to inventory changes behavior because Ansible is longer using [implicit localhost](https://docs.ansible.com/ansible/latest/inventory/implicit_localhost.html?highlight=localhost#implicit-localhost).

[2019-05-22 15:24] weskerfoot commented on #22967
@webknjaz Thanks, I had realized that after but forgot to update my comments

[2019-05-22 15:28] #56462 closed, assigned to nobody

[2019-05-22 16:03] mrlesmithjr commented on #56791
This can be disregarded. This was an issue on our side in relation to https://github.com/ansible/ansible/pull/42572 in which we included the development version of the `aci_epg_to_domain` module within our workflow. Sorry!

[2019-05-22 16:03] #56791 closed, assigned to nobody

[2019-05-22 16:48] samerhaj commented on #54200
I think the approach in 1 is needed, since there is no way to get the "health" of the entire system/chassis from Redfish without walking the Status properties across multiple resources. There is of course high-level HealthRollup, but that won't tell you specific component health.

One idea is to walk only certain types of resources to collect Health info from, rather than walking the entire tree.

[2019-05-22 17:13] markuman commented on #41861
@jeevers I forked your branch into my fork https://github.com/markuman/ansible/tree/jeevers_alb_listener_actions_issue41861

...but I'm in general not able to run the integration test

[code]

I've used the `test/integration/cloud-config-aws.ini` based on the `test/integration/cloud-config-aws.ini.template`.

Any ideas?

[2019-05-22 17:21] antarmy07 commented on #56657
@Akasurde - Thanks for clarifying. By the way, if anyone gets the same tagging problem in future. I have managed to tag my AWS Customer Gateway by installing latest terraform, creating env var for terraform and running the .tf state file from the ansible's shell module. Ansible has terraform module as well from where we can run the state file directly but for reason, it didn't work for me. So I ju

[2019-05-22 17:34] drawks opened #56799 "Warning on yaml merge key collision isn't suppressible"
##### SUMMARY
When using yaml anchors to merge a dict in ansible variables ansible explicitly warns of the key conflict and the merge behavior of "last set wins." This is well documented as the expected and intended behavior of the yaml standard. Ansible should not raise an non-suppressible warning when users are using yaml features as intended.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[2019-05-22 17:38] adrianlzt opened #56800 "yum list exception if not working plugins"
##### SUMMARY
Yum module fails if repoquery return unexpected response. Follows #26968

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.3 (Maipo)
RPM version 4.11.3
Repoquery version 0.0.11

##### STEPS TO REPRODUCE

[code]

That task executes the following command:
[

[2019-05-22 18:17] mjmayer commented on #41861
@markuman You will need to make changes to runme.sh for the elb_application_lb targert f51d02bd5c49cda82c143fe88de49580b1dac8fe

[2019-05-22 18:17] dagwieers commented on #56744
@DaveCrown No worries, it's a major issue and we are all waiting for the v2.8.1 release.

[2019-05-22 18:17] #56744 closed, assigned to nobody

[2019-05-22 18:21] jeevers commented on #41861
@markuman  just pushed the fix to my branch. Now it looks like AWS changed the API for the AuthenticateOidcActionConfig action that i used in the test. I'll look into using a different action

[2019-05-22 18:22] devyanikota commented on #56781
Hi @omarkohl
It is expected that the existing bricks in the volume are added to the playbook as well.
Remove_brick operation is triggered in the absence of the 'bricks' field, thus telling ansible that the bricks can be removed. In simple words, the exact current state of the volume is to be mentioned in the playbook, which includes the bricks in the node.
According to your requirement, in order t

[2019-05-22 18:40] sivel commented on #56760
Duplicate of https://github.com/ansible/ansible/issues/56349

[2019-05-22 18:40] #56760 closed, assigned to nobody

[2019-05-22 19:01] billdodd commented on #54200
Thanks for the comments, Samer.

[2019-05-22 19:38] Shaps commented on #56792
I was able to reproduce this with the following test playbook
[code]

Although it only happens on re-run. The first time I ran the playbook ( or also just deleting the pk ) it worked ok

[2019-05-22 19:58] felixfontein commented on #56792
@Shaps thanks a lot for reproducing this! With this, it was easy to identify and fix the problem! I've created a PR here: #56808

[2019-05-22 20:00] felixfontein commented on #56607
Yes. 2) fixes all problems 1) has as well, so implementing 2) will eliminate both problems.

There's another (third) problem BTW: #54655 (idempotency for openssh_cert)

[2019-05-22 21:17] bcoca commented on #33516
@gordonmessmer I have not been able to replicate this issue, can you post a simple reproducer?

needs_info

[2019-05-22 21:31] refi64 commented on #29869
@rambleraptor Apologies for the ping, but could you mention how you would use a local disk with gcp_compute_instance, just for the sake of any who may come across this in the future (including me :sweat_smile:)?

[2019-05-22 21:34] #56792 closed, assigned to nobody

[2019-05-22 21:34] rambleraptor commented on #29869
^ yeah that! Let me know if there's anything else I can do!

[2019-05-22 21:36] rambleraptor commented on #34296
close_me

[2019-05-22 21:36] rambleraptor commented on #53787
Hello! Yeah, we're encouraging everyone to use the new `gcp_pubsub_topic` and `gcp_pubsub_subscription` modules.

I'll look at your issue right now. Thanks a lot!

close_me

[2019-05-22 21:41] #34296 closed, assigned to nobody

[2019-05-22 21:53] rambleraptor commented on #28736
Hello! We're encouraging users to move to the `gcp_compute_address` and `gcp_compute_instance` modules. On `gcp_compute_address`, you can create addresses with `address_type: INTERNAL` and then have your instance use that address.

[2019-05-22 21:53] rambleraptor commented on #28736
close_me

[2019-05-22 21:54] rambleraptor commented on #29882
Hello! I think the `gce` module has support for this already.

Regardless, we're asking users to start using the `gcp_compute_instance` module which definitely has support for it.

close_me

[2019-05-22 21:54] rambleraptor commented on #33843
close_me

[2019-05-22 21:55] rambleraptor commented on #36312
close_me

[2019-05-22 21:55] rambleraptor commented on #36703
close_me

[2019-05-22 21:57] rambleraptor commented on #30181
Hello! The new `gcp_compute_disk` module has a `type` field that can be used to set this. We're encouraging users to use this new module.

close_me

[2019-05-22 22:25] hmorgado commented on #32872
I'm trying to find this piece of code to fix, but I just can't.
Looking everywhere in my `/usr/local/lib/python2.7/dist-packages/ansible` folder and also through the source code in ansible's repository.
All I see is:
[code]

[2019-05-22 22:34] #36703 closed, assigned to nobody

[2019-05-22 22:35] #36312 closed, assigned to nobody

[2019-05-22 22:37] #33843 closed, assigned to nobody

[2019-05-22 22:41] #30181 closed, assigned to nobody

[2019-05-22 22:42] #29882 closed, assigned to nobody

[2019-05-22 22:44] #28736 closed, assigned to nobody

[2019-05-22 22:47] colin-nolan commented on #56512
Hi @vzabawski. I'm not able to do any development work on this module at the moment. However, I would be happy to look at a PR against this issue.

[2019-05-22 22:53] dagwieers commented on #45578
Please test: https://github.com/ansible/ansible/pull/53475

[2019-05-22 22:53] #45578 closed, assigned to nobody

[2019-05-22 23:03] rambleraptor commented on #46050
`gcp_dns_managed_zone` has support for DNSSec now, so I'm going to close this out.

close_me

[2019-05-22 23:11] #46050 closed, assigned to nobody

[2019-05-22 23:38] willthames commented on #32872
@hmorgado what version are you on?

You can also just use a local version of ecs_task:
https://willthames.github.io/2017/12/12/using-updated-modules-with-stable-ansible.html

[2019-05-22 23:47] jborean93 commented on #56712
The module was never designed to support wildcard chars in the `paths` module option, it just worked beforehand by coincidence. The change to made it use `-LiteralPath` broke this but the `patterns` option is the one designed to filter the files that were being scanned. This is of course is slower and there are things we can do to try and speed it up a bit but the change was made on purpose.

If y

[2019-05-23 01:04] jmurphyau commented on #56760
I think this is slightly different to that ticket.

This is about inconsistency between the two methods of including vars.

* Running play1.yml (not using vars key) throws an exception on the third role (test_name not defined)
* Running play2.yml (using vars key) runs the third role but with vars from the second role

#56349 relates to play2 (using vars key), this ticket is about the inconsistency

[2019-05-23 02:46] kbreit commented on #53600
Dependent on https://github.com/ansible/ansible/pull/56818

[2019-05-23 03:06] zikalino commented on #56694
I looked briefly into the module code and it doesn't explicitly delete any subnets while updating.
I think this behavior may be specific to the service.
I will have to try to reproduce this and see if it can be somehow fixed.

[2019-05-23 03:07] zikalino commented on #56774
i will look into this. i think this property may be not updatable, i need to reproduce and check.

[2019-05-23 03:08] zikalino commented on #56634
will look into this soon

[2019-05-23 03:33] gordonmessmer commented on #33516
Unfortunately, I can't, as I indicated before.  Ticket #55644 confirms that this is still an issue, but the behavior of Ansible appears to be unpredictable.

[2019-05-23 03:39] gordonmessmer commented on #33516
https://github.com/gordonmessmer/ansible-remote-user

I take that back: Using the test case provided by ticket #55644 I can reproduce the problem.

`$ ansible-playbook -vvvv site.yml
...
TASK [command] ******************************************************************************************
task path: /home/gordon/ansible-remote-user/site.yml:5
<github.com> ESTABLISH SSH CONNECTION FOR USER: cfg-

[2019-05-23 03:53] qmarc commented on #56694
Thanks @zikalino I note this happened with another Azure based Ansible module earlier today. So I am thinking this is a side affect of calling the Azure REST API and how Azure treats Infrastructure. However it is still a bit silly that you cannot delete/update/create tags which is simply an attribute of a resource.

[2019-05-23 04:00] zikalino commented on #56694
@qmarc yeah, I have to check exactly what happens. I thought subnet which is within vn shouldn't be locked separately. I don't have enough knowledge now, so I have to learn more about locks....

[2019-05-23 05:23] Akasurde commented on #56800
resolved_by_pr #56802

[2019-05-23 06:46] Akasurde commented on #56786
@codyja Thanks for reporting this issue. Does all 6000+ VM exists in single datacenter ? Do you have any folder structure for segregating/grouping VMs ?

needs_info

[2019-05-23 08:26] kesor opened #56830 "Ansible 2.8.0 warning on `when: variable` when variable is dynamic"
##### SUMMARY
When a variable is created using a Jinja2 template, for example:

    vars:
        foo: "{{ bar | default(False, True) }}"

Then using this variable in a `when` statement results in a warning. Example:

    when: foo

will print

    [WARNING]: conditional statements should not include jinja2 templating
    delimiters such as {{ }} or {% %}. Found: {{ bar | default(False, True) }}

[2019-05-23 08:39] Akasurde commented on #56428
@jacksonp2008 There is some discrepancy in Python used to install Pyvmomi and Python used Ansible, thats the reason it is failing for you. Could you please make sure you have a correct Python environment ? Thanks.

needs_info

[2019-05-23 08:46] Akasurde commented on #55248
@mamullen13316 Could you please confirm if @vmwjoseph's https://github.com/ansible/ansible/issues/55248#issuecomment-483361181 makes sense to you and let us know ? Thanks

needs_info

[2019-05-23 08:56] Akasurde commented on #47927
@nitinkansal1984 Could you please confirm if the solution provided works for you and let us know ? Thanks.

@pratikgadiya12 Thanks for investigating.

needs_info

[2019-05-23 08:57] Akasurde commented on #51458
Closing this issue as per https://github.com/ansible/ansible/issues/51458#issuecomment-493586459. Thanks.

@pratikgadiya12 Thanks for investigating.

[2019-05-23 08:57] #51458 closed, assigned to nobody

[2019-05-23 09:08] Akasurde commented on #45207
Closing this issue as PR #45355 merged. Please feel free to open a new issue if problem persists. Thanks.

@pratikgadiya12 Thanks for investigating. @bmalynovytch @jadbaz Thanks for taking a look into this.

[2019-05-23 09:08] #45207 closed, assigned to nobody

[2019-05-23 09:23] wordtracker commented on #38339
As per "custom local getent script" above, why don't we keep it machine agnostic by using Python and the pwd module? Simplez.

[2019-05-23 09:27] drybjed opened #56832 "Ansible 2.8: package install warns about missing aptitude for no reason"
##### SUMMARY

During package installation, the `apt` module emits a warning about missing `aptitude` which is not even needed - package upgrade was not called for. Because of the change introduced in https://github.com/ansible/ansible/commit/2734895c482a0b4756cd37f1693e349711be73c9 the warning about missing `aptitude` will show on each `apt` module invocation, and not just full upgrades.

##### I

[2019-05-23 09:32] pratikgadiya12 commented on #43424
@bmalynovytch : Should I test the PR #37400 and let you know so that we could close this issue?

[2019-05-23 09:45] marekruzicka opened #56834 "docker_image module: source: local to check for local image availability probably needs improvement"
##### SUMMARY

[code]
Using _source: local_ to test if 'image:tag' is available locally behaves rather inconveniently.

Considering it is a test, it should probably return some bool (eg. _is_local: true/false_) to indicate if image was found, or not.

At the moment it returns `"<out_var>.msg": "Cannot find the image 'image:tag' locally."`  and fails the task, if image is not found,
and no `"<out_v

[2019-05-23 10:00] pratikgadiya12 commented on #41173
@bmalynovytch : Let me test this issue so that we could close this

[2019-05-23 10:25] omarkohl commented on #56781
OK I understand... I think this behaviour is not good:
* This is a major and destructive change from version 2.7.10 to 2.8 which means that bricks could suddenly be removed from existing volumes just by performing a trivial operation such as I did
* Requiring to specify all existing bricks is a lot of overhead. I don't have easy access to that list when I am running that playbook. Why is it necess

[2019-05-23 10:26] bmalynovytch commented on #43424
@pratikgadiya12 yes would be kind !
Add a `shipit` comment to the PR when done to let the bot know that multiple reviewers are fine with the changes.

[2019-05-23 10:39] nikinaydenov commented on #52128
Regarding the first problems I think it come from the fact it have only two states: present and absent. With digital_ocean module the same problem was solved when I use state: active. State "new" mean "present",even state "stopped" mean "present". Now it finish and do not report the public IP. I will probably revert to deprecated module or not use a DO module at all (local shell module with doclt)

[2019-05-23 10:45] Akasurde commented on #46461
@blambo10 Could you please take a look PR #56837 and let me know if it works for you ? Thanks.

needs_info

[2019-05-23 10:45] Akasurde commented on #46461
resolved_by_pr #56837

[2019-05-23 10:48] niallor commented on #56788
I'm embarrassed and sorry. I seem to have copied the wrong task from my playlist.
Under STEPS TO REPRODUCE above, I ought to have pasted the following.
[code]

The WARNING message shown above is emitted by either module, __apt__ or __package__.

[2019-05-23 10:50] niallor commented on #56788
A possible effective work-around is pasted below.
[code]

[2019-05-23 11:10] codyja commented on #56786
Hi, theres about 4 DCs behind the vcenter server I'm connecting to, but the
majority of VMs are in one DC. Also, there is a folder structure these VMs
are scattered across.

On Thu, May 23, 2019, 1:48 AM Abhijeet Kasurde <notifications@github.com>
wrote:

[2019-05-23 11:12] ChristianCiach commented on #53428
Does it make sense to show the warning even if the variable in question is undoubtedly a boolean? There is no difference in this case (as far as I understand this). It doesn't make sense to pipe a boolean variable through the `|bool` filter.

[2019-05-23 11:17] philfry opened #56839 "plugins using load_file_common_arguments: mode=preserve is broken"
##### SUMMARY

There are some plugins/modules out there that make use of `load_file_common_arguments`. This should enable these modules to use … well, common arguments, like:
[code]
but `mode: preserve` throws
[code]
As `openssl_privatekey` decides on its own about the file permissions (sets them to 0600 even though the file already exists with other access rights) instead of leaving them alone th

[2019-05-23 11:57] mkrizek commented on #36308
I can reproduce the original issue with the latest `devel` branch. Though I am not sure if it's a bug or intended behavior. The following change ~~fixes~~..**hacks** the issue:
[code]

[2019-05-23 12:30] codyja commented on #56786
The DC with the most VMs has about 4000.

[2019-05-23 12:50] SuZhiBai opened #56843 "How does ansible api support asynchronous tasks?"
ansible version2.8 code listing:
Set the value of poll to 0, it still doesn't work.
`play_source =  dict(
        name = "Ansible Play",
        hosts = 'localhost',
        gather_facts = 'no',
        tasks = [
            dict(action=dict(module='shell', args='ls'), register='shell_out', poll=0),

         ]
    )

# Create play object, playbook objects use .load instead of init or new methods,

[2019-05-23 13:12] #48010 closed, assigned to Akasurde

[2019-05-23 13:13] valentinsiryk opened #56844 "Bug in gluster_volume module leads to error"
##### SUMMARY

I faced with problem during playbook playing using Ansible 2.8. But everything is OK with Ansible 2.7 version.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Module: gluster_volume

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux Mint 19.1 (based on Ubuntu 18.04)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

GlusterFS vol

[2019-05-23 13:21] kbreit opened #56845 "Module Issue Meraki_switchport"
##### SUMMARY
This was opened in the wrong project. Referencing https://github.com/ansible/community/issues/471 which will be closed. Comments below are from original bug report.

Hello,

I ran into the following issues. Im running ansible 2.8 on Centos 7.6.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki_switchport

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS

[2019-05-23 13:41] Akasurde commented on #46458
@blambo10 Could you please check if #56848 works for you ? Thanks.

needs_info

[2019-05-23 13:42] #56799 closed, assigned to nobody

[2019-05-23 13:52] tux21b opened #56850 "openssl_certificate: _validate_subject_alt_name is always false with older cryptography back-end."
##### SUMMARY
subject_alt_name checks with the openssl_certificate module are always failing if used with an older python-cryptography back-end.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

openssl_certificate

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux (with Python Cryptography 2.6.1)
Debian Stretch (with Python Cryptography 1.7.1)

###

[2019-05-23 13:54] dakira commented on #42726
This problem happens to me on Sangoma Linux since PR #52199. As @samdoran requested, here's my output:

[code]

[2019-05-23 13:58] sivel commented on #56760
role params and role vars are different things, and are expected to work different.  They are scoped completely different, and as such, that scope causes the difference you are seeing.

[2019-05-23 13:59] maxamillion commented on #46485
@Setheck not to the best of my knowledge, I added CI tests to the fix so we shouldn't allow a regression to merge unless I got the test case incorrect. If there's an issue, please file a new ticket, reference this one, and CC me in the ticket. Thank you!

[2019-05-23 14:03] #35313 closed, assigned to nobody

[2019-05-23 14:17] #55897 closed, assigned to nobody

[2019-05-23 14:26] MarkusTeufelberger commented on #56850
This might need a backported fix in `module_utils`, since RHEL 7 also ships a cryptography version that seems affected and that would no longer be compatible if we just raise the minimum version that the module enforces...

[2019-05-23 14:33] sivel commented on #56843
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-05-23 14:33] #56843 closed, assigned to nobody

[2019-05-23 14:41] #56538 closed, assigned to nobody

[2019-05-23 14:43] ghost opened #56852 "Ansible 2.8: blockinfile ignores failed_when condition is true"
##### SUMMARY
When using blockinfile in tasks and add an condition like failed_when: true the command will regardless be executed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
blockinline

##### ANSIBLE VERSION
ansible 2.8.0

[code]

##### OS / ENVIRONMENT
MacOS Mojave 10.14.5
Python 2.7.10

##### STEPS TO REPRODUCE
Create an task like the following and define an variable named "app_proxy_

[2019-05-23 14:45] sivel commented on #56852
`failed_when` is evaluated after task execution, not before task execution.  As such, this outcome is expected.  You can however use a `when` condition to skip a task based on a conditional.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-23 14:45] #56852 closed, assigned to nobody

[2019-05-23 15:08] simonlg opened #56856 "nios_srv_record with view parameter can't be updated due to "Field is not allowed for update: view" error"
##### SUMMARY
The nios_srv_record can't update a SRV record because it passes the view paramater within the PUT request.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nios_srv_record

##### ANSIBLE VERSION

[code]
I've tested on the latest 'devel' and 'stable-2.8' and the problem is still there.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RedHat 7.5, Infoblox WAPI 2.3.1

##### STE

[2019-05-23 15:24] sivel commented on #56345
We have discussed this in the recent core IRC meeting, and have decided that undefined vars should not be task errors, but should instead become a parser error that would cause the playbook to abort.

This will likely be a change in behavior, so it will also need a porting guide entry describing this change.

In short, `ignore_errors` should not be able to impact the outcome of an undefined variab

[2019-05-23 15:29] nicocsgamer opened #56857 "set_facts module force boolean cast"
##### SUMMARY
    - name: test
      set_fact:
       language={'{{ "NO"  }}'}

    - name: debug
      debug:
       msg: language is {{ language }}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
language is NO

##### ACTUAL RESULTS
language is False

[2019-05-23 15:51] manelclos commented on #55909
I'm having this same problem. Same role applies correctly to a Ubuntu 18.04.2 LTS server, but fails on a  Ubuntu 16.04.4 LTS server. Tested using ansible 2.8.0. Was working correctly using ansible 2.4.4.

[2019-05-23 15:59] ahuffman commented on #56629
:+1:  Also seeing this issue on RHEL7:
[code]

My task looks like this:
[code]
[code]

[2019-05-23 16:07] hmorgado commented on #32872
@willthames I tried ansible 2.8 and 2.7.

[2019-05-23 16:08] andymcmahan commented on #55811
Hi
Using ansible 2.9.0.dev0
I can't find a way to create a template for a gke pool that uses a diskType: pd-ssd.
The gcp_container_node_pool module doesn't support specifying disk type
(https://docs.ansible.com/ansible/devel/modules/gcp_container_node_pool_module.html)
and this issue prevents creating a new template when specifying disk_type property...

[2019-05-23 16:17] markuman commented on #52253
This is a hard one.

1. Because we have no integration tests
2. We cannot perform this only on the domain of boto3 ec2. When we set the target, must allow the principal `elasticloadbalancing.amazonaws.com` to invoke the lambda function.

You get this error message

So you must invoke

[code]

or use/inoke the `lambda_policy` module.  Because `elb_target_group` creates first the target group _witho

[2019-05-23 16:19] dagwieers commented on #56857
That's not `set_facts` doing. We can't do anything about this behavior, it has been widely reported and documented.

[2019-05-23 16:19] #56857 closed, assigned to nobody

[2019-05-23 16:25] billdodd commented on #54202
@xmadsen - Are you still planning to do this one? If not, I can take it.

[2019-05-23 16:31] #56539 closed, assigned to samccann

[2019-05-23 16:38] manelclos commented on #55909
Some debug info:

`module.set_fs_attributes_if_different` is called with `file_args` which has `path` set to `src` and not to `dest` parameter

https://github.com/ansible/ansible/blob/stable-2.8/lib/ansible/modules/files/file.py#L742

[2019-05-23 16:38] xmadsen commented on #54202
I’ll let you take this one. Thanks!

On Thu, May 23, 2019 at 12:27 PM Bill Dodd <notifications@github.com> wrote:

[2019-05-23 16:47] realged13 opened #56861 "vmware_guest: RC4122 /****.vmdk already exists"
##### SUMMARY

Deploying a new Centos7 linux vm in 2.8 no longer works due to a RF4122 error.  Works fine in 2.7

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

VM is Created

##### ACTUAL RESULTS

[code]

[2019-05-23 16:56] GrandeTartine commented on #56861
Hello.

I think  an issue is already open for this problem: https://github.com/ansible/ansible/issues/55551

[2019-05-23 16:59] GrandeTartine opened #56863 "Vmware: vmware_guest can't clone a running VM to a new VM with more vCPU"
##### SUMMARY
With ansible 2.8.0, when I try to clone a *running* VM and the new VM have more vCPU, it's fail with : fatal: [created_vm]: FAILED! => {"changed": false, "msg": "Configured cpu number is more than the cpu number of the VM, cpuHotAdd is not enabled"}

My current workaround : cloning the VM and then modifying the CPU/RAM.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_gue

[2019-05-23 17:07] realged13 commented on #56861
@GrandeTartine Good info, the work around seems really dumb but I will try it.

[2019-05-23 17:26] hmorgado commented on #32872
Turns out I wasn't passing all the variables I should have. It works now:
[code]

[2019-05-23 17:30] decet commented on #34281
I'm trying to do what [watsonb](https://github.com/ansible/ansible/issues/34281#issuecomment-417762220) was, using ansible-galaxy to install roles, and then using the roles.

I found a decent workaround for the all-in-one playbook, which was to place the playbooks, in the order that you want them to execute, on the command line. In Watsonb's case, that would look like

ansible-playbook ... prepare

[2019-05-23 17:35] finnje commented on #54118
As a workaround I changed line 1599 in /usr/local/lib/python3.6/site-packages/ansible/modules/cloud/vmware/vmware_guest.py to:

`#default_name = self.params['name'].translate(None, string.punctuation)

default_name = self.params['name']`

[2019-05-23 17:57] billdodd commented on #54202
@xmadsen - Ah, I forgot. GetVolumeInventory was already added by @renxulei in PR #55433!

So I think you can close this issue (if you agree that PR addresses it).

[2019-05-23 18:47] MarSik commented on #34281
@decet It could, but that would basically mean using a top level bash script as the entrypoint and spliting the main ansible playbook into multiple stage files. Not too horrible, just ugly.

[2019-05-23 18:49] #43459 closed, assigned to nobody

[2019-05-23 19:09] samdoran commented on #56552
related to #55840

[2019-05-23 19:10] s-hertel commented on #54059
@eRadical This ticket is tracking the feature request, so if you're struggling to use the existing functionality using ~/.aws/credentials and ~/.aws/config I'd open a new bug report and/or ping #ansible-aws on IRC network freenode (my handle is shertel). I have been using the plugin to assume a role with adequate permissions with a source profile with inadequate permissions without trouble. If you

[2019-05-23 19:12] samdoran commented on #56555
This can be caused by a number of issues with the remote host and does not look like an Ansible bug.

- bad `$HOME` environement
- `cloud-init`
- non-standard shells

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-23 19:12] #56555 closed, assigned to nobody

[2019-05-23 19:18] jdorel opened #56872 "ipa_dnsrecord fail when TXT record already exist"
##### SUMMARY

When a record already exists, I get `response dnsrecord_add: no modifications to be performed` and the tasks is marked as failed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ipa_dnsrecords

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

AWX 3.0.0.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Task marked as not changed

##

[2019-05-23 19:20] samdoran commented on #56571
!component =lib/ansible/plugins/become/machinectl.py

[2019-05-23 19:23] samdoran commented on #56602
!component =lib/ansible/modules/network/ios/ios_config.py

[2019-05-23 19:27] samdoran commented on #56626
This is a bug that we allow `k=v` syntax with `import_playbook`. This should fire a deprecation warning, which we will fix. Thank you for pointing this out.

[2019-05-23 19:29] deepakas opened #56873 "Openstack plugin error - Bad floatingip request: Cannot add floating IP to port on subnet"
##### SUMMARY

I am trying to spin up an instance in openstack environment using basic config. Ansible openstack plugin is throwing an error on task even though instance is created fine. I am able to create instance without errors using terraform and openstack command with same config.
Error Details :
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

```2.7.10```

[2019-05-23 19:32] #56639 closed, assigned to nobody

[2019-05-23 19:33] samdoran commented on #56640
!component =lib/ansible/module_utils/k8s/common.py

[2019-05-23 19:38] bcoca commented on #56704
i'll take a look, the var you need to add depends on which level of the var it gets set

[2019-05-23 19:54] sivel commented on #56761
Please in the future provide text output, and not screenshots, as it makes reading and responding with relevant information too difficult.

The problem is that there is extra unwanted data being printed to stdout before the module execution.

Such as:

[code]

This additional output, being printed before the ansible modules JSON output, prevents Ansible from being able to parse the JSON response.

[2019-05-23 19:54] #56761 closed, assigned to nobody

[2019-05-23 19:55] samdoran commented on #56773
We have no plans to implement this feature at this time. You can do this using a custom callback plugin.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-dev on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-05-23 19:55] #56773 closed, assigned to nobody

[2019-05-23 19:57] samdoran commented on #56779
This information should be returned by running with `-vvv` without having to use debug.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-dev on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

needs_info

[2019-05-23 19:58] ahuffman commented on #56629
After some more testing to determine if I could figure out a workaround:
1.) sshpass was not installed on my target host
2.) After installing sshpass, which seems to now be an undocumented prerequisite, `cmd: sshpass` turns into `sshpass -d6 /bin/rsync --delay-updates -F --compress --archive '--out-format=<<CHANGED>>%i %n%L' /home/my-user/webservice/repo/web-front/ /home/my-user/webservice/install

[2019-05-23 20:06] bcoca commented on #50409
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this feature request because the creates/removes options are not supposed to handle cases outside of the command being issues, if you want to make these interdependent use register/when instead.

However, we're absolutely always up for

[2019-05-23 20:06] #50409 closed, assigned to nobody

[2019-05-23 20:14] mraineri commented on #54200
Just for clarification, is the expectation that "GetHealthReport" is going to show a set of health details about components in a System, Chassis, Manager, etc, or is it just a single "Good" or "Bad" type of output for a given System, Chassis, Manager, etc (which factors all sub-resources into the equation).

I think having a sample expected output would be useful.

[2019-05-23 20:29] sivel commented on #56845
Full traceback:
[code]

[2019-05-23 20:45] samdoran commented on #56716
This is happening because `dest` is not returned by the `copy` module when run in `check` mode. Here is a simpler reproducer (run with `-vvv` to see what is returned):

[code]

[2019-05-23 20:48] edumgui commented on #56732
I'm having a similar issue trying to use CONSUL_DATACENTER and CONSUL_URL env vars instead ini file.

Tested with Ansible 2.7 on a Debian and Ansible 2.8 on a CentOS 7.6 python 36 virtualenv. Trying to print 'self.config' object, it only contains 'self.config.url', so it seems that url is not being parsed correctly. I'll append more info tomorrow, because now I'm writing from a smartphone.

[2019-05-23 20:52] felixfontein commented on #56834
`source: local` tells the module that you expect the module to be available locally. It is mainly used in conjunction with other operations such as pushing and tagging. So if the image is not there, I would expect the module to fail. (It does not make sense IMO to change this. This is not supposed to be a test.)

If you want to check whether an image is available locally, use the `docker_image_inf

[2019-05-23 21:05] josiahbjorgaard commented on #36388
@Akasurde I'm happy to take this. Any comments?

[2019-05-23 21:15] #56704 closed, assigned to bcoca

[2019-05-23 21:31] sivel commented on #56873
!component =lib/ansible/modules/cloud/openstack/os_server.py

[2019-05-23 21:32] sivel commented on #56872
!component =lib/ansible/modules/identity/ipa/ipa_dnsrecord.py

[2019-05-23 21:44] marekruzicka commented on #56834
Well, as long as "it is not supposed to be a test" it does make a sense to let it fail. (thanx for explanation)
Since we let fail, having a dedicated bool (indicating present/not present) does not really bring anything new compared to current implementation.

On the other hand having bool would enable us to use `source: local` in conjunction with `failed_when: false` in more straight forward way w

[2019-05-23 22:44] nodiscc commented on #20033
I had the same problem (with [FireHOL](https://firehol.org/) which is an iptables wrapper/stateful firewall builder) and fixed it by loading the `nf_conntrack_ipv4` kernel module before starting the firewall

[code]

Debian 9, ansible 2.8.0

[2019-05-23 23:05] apitanga commented on #51174
Confirmed, seems fixed in 2.8

[2019-05-23 23:37] scifi6546 commented on #33947
Is there any fix. It is taking kindof a while for the bug to be fixed.

[2019-05-24 00:01] hvindin commented on #56730
To me this looks like it's caused by copy assuming that the source file is owned by the user running ansible.

Given that you are targeting localhost you would need "become" on the remote (ie. localhost) to read the file.
So either ensuring that the user that is executing ansible can read the file, or specifying:

[code]

should make this work.

[2019-05-24 00:37] watsonb commented on #34281
I've overcome this in my own way as follows.  First, my typical playbook directory structure:

[code]

My .gitignore ignores most sane OS/language/IDE things, but also ignores everything in the `roles/` and `playbooks/` folders except for the `requirements.yml` files in each folder.  The requirements.yml file within the playbooks folder is similar to your Galaxy-style requirements.yml, but rather

[2019-05-24 00:51] nitinkansal1984 commented on #47927
it worked. thanks !

On Thu, May 23, 2019 at 4:58 AM Abhijeet Kasurde <notifications@github.com>
wrote:

[2019-05-24 01:36] jmurphyau commented on #56760
There are so many different ways to pass data into [things] in ansible, I was unaware that these two are meant to be different - so thank you for this clarification :)

[2019-05-24 02:32] Akasurde commented on #47927
Closing this as per https://github.com/ansible/ansible/issues/47927#issuecomment-495433980. Please feel free to open a new issue problem persists. Thanks.

[2019-05-24 02:32] #47927 closed, assigned to nobody

[2019-05-24 02:59] ericsysmin commented on #56426
Doesn't the node-pool also get created here, and on CLI they are valid parameters?

[2019-05-24 03:18] 29x10 commented on #56444
got it, I would test against a remote server within same private network

[2019-05-24 03:37] blambo10 commented on #46458
This is the exact functionality i was after,
Thanks very much @Akasurde

It will show when assigned, and nothing when not assigned (Confirmed)

`TASK [debug] **********************************************************************************************************************************************
ok: [192.168.1.72] => {
    "msg": {
        "changed": false,
        "clusters": {
            "c

[2019-05-24 03:37] #46458 closed, assigned to Akasurde

[2019-05-24 04:51] versewithverve opened #56894 "authorized_key - two keys have the same value and only one is being put into the authorized keys file"
##### SUMMARY
I have two keys with the same value but different key options and comments. Ansible is only writing the second key to the authorized keys file. It appears that the first key is getting overwritten by the second, because the ansible output looks like it is creating both keys. Also, the comment value is not appearing anywhere in the authorized key file.

##### ISSUE TYPE
- Bug Report

[2019-05-24 04:58] Akasurde commented on #46458
@blambo10 Thanks for testing and providing feedback. Much appreciated

[2019-05-24 07:58] 29x10 commented on #56444
@samdoran still not working

[2019-05-24 08:18] chebelom commented on #38606
I have a playbook similar to Joeskyyy's (the only difference is that I'm using the uuid instead of the name) and it's not working for me with ansible 2.8.

[code]

and the output is:
[code]

[2019-05-24 09:01] software-artificer opened #56898 "Jinja default() filter does not respect primitive types"
##### SUMMARY

Jinja's `default()` filter does not preserve types for primitive values, such as integer and float, and always returns strings instead. Works properly with complex types.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Jinja template engine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
_Note_: produces no output

##### OS / ENVIRONMENT

Running on Gentoo Linux, a

[2019-05-24 09:09] filakhtov commented on #56898
Attempted workarounds that did not work:
[code]

[code]

[code]
Known working workaround:
1. Requires `int` filter every time a variable being used, which is overkill in certain situations.
[code]

[2019-05-24 09:10] sbadia commented on #54878
Hello,

Same issue here,

On Cisco iosxr we can disable interactive cli features with the command :

* `terminal cli interactive disable`

We can maybe add this command before any cli interactions ?

[2019-05-24 09:38] piotr-gbyliczek commented on #56774
A gateway created by playbook using azure_rm_appgateway module can be then updated in regards of ssl policy settings using the following command :

`az network application-gateway ssl-policy set --name AppGwSslPolicy20170401S  --resource-group appgateway-testcase --gateway-name basic-agw`

[2019-05-24 10:26] RobbieAB opened #56902 "ec2_group RunTimeError under python 3"
##### SUMMARY

the ec2_group module has unsafe iteration on a dictionary view while modifying the underlying dict.object, leading to a RunTimeError.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7 host OS,

##### STEPS TO REPRODUCE

Run the module under python 3 and create some security gr

[2019-05-24 10:31] filakhtov commented on #56898
Additional interesting observation is that boolean types are properly preserved by the `default()` filter, i.e. `default(true)` and `default(false)` are properly represented by the `True` and `False` Python constants respectively.

[2019-05-24 10:38] hoerup opened #56904 "DeprecationWarning: the imp module is deprecated in favour of importlib"
##### SUMMARY
DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses

import imp

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hcloud_volume

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-05-24 10:45] hoerup opened #56905 "hcloud_volume is not idempotent"
##### SUMMARY
if you run this task multiple times, then the 2nd to nth run will fail with "hcloud.hcloud.APIException: volume is already attached to a server, please detach it first"

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hcloud_volume

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2019-05-24 10:45] D3DeFi commented on #51345
Oh, this somehow got lost. @rubentsirunyan can you take a look at this please?

[2019-05-24 10:58] #47063 closed, assigned to nobody

[2019-05-24 11:12] LKaemmerling commented on #56905
Could you please provide a minimal playbook which triggers this error?

[2019-05-24 11:14] LKaemmerling commented on #56904
cc @resmo  this did not come from the modules, do you have an idea where it comes from?

[2019-05-24 11:18] hoerup commented on #56905
[code]

[2019-05-24 11:30] hoerup commented on #56905
I'm using hcloud 1.2.1:

$ pip3 show hcloud
Name: hcloud
Version: 1.2.1
Summary: Official Hetzner Cloud python library
Home-page: https://github.com/hetznercloud/hcloud-python
Author: Hetzner Cloud GmbH
Author-email: support-cloud@hetzner.com
License: MIT license
Location: /usr/local/lib/python3.7/site-packages
Requires: future, python-dateutil, requests
Required-by:

[2019-05-24 11:33] twouters commented on #56626
Oh, right.
I had been looking for related info in the release notes / porting guides and couldn't find anything about it for recent releases.

Looks like the syntax has already been deprecated in the [2.0 release](https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.0.html#deprecated) :+1:

[2019-05-24 11:39] manelclos commented on #55909
I see the problem is that the default change from False to True:

https://docs.ansible.com/ansible/latest/modules/file_module.html#file-module

follow: boolean

This flag indicates that filesystem links, if they exist, should be followed.
Previous to Ansible 2.5, this was no by default.

[2019-05-24 11:44] mkrizek commented on #56800
I am not sure #56802 is the correct fix.

Why these
[code]
appear? What if you run the repoquery command as root? Do they still appear?

Same with the task, what if you add `become: yes`:
[code]

Is it still failing?

needs_info

[2019-05-24 11:52] manelclos commented on #55909
Also, the example in the file-module web page shows a strange example:

With current Ansible behaviour you are creating a link to a file and at the same time setting the owner/group of the __target__ path.
[code]
Should be like this, which was not necessary before Ansible 2.5.
[code]

I much preferred the previous behaviour, seems more natural.

[2019-05-24 12:07] LKaemmerling commented on #56905
@hoerup could you please test https://github.com/ansible/ansible/pull/56906 ? This should fix the issue

[2019-05-24 12:17] hoerup commented on #56905
It works :D

[2019-05-24 12:48] gstorme opened #56910 "The size of the extent is less than the minimum of 1MB"
##### SUMMARY
When partitioning an existing partition with a value of -1 for partition_size, an error is returned `The size of the extent is less than the minimum of 1MB`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_partition

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Client OS is Windows 2019

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The partition is not

[2019-05-24 13:05] Akasurde commented on #56905
resolved_by_pr #56906

[2019-05-24 13:06] Akasurde commented on #56902
resolved_by_pr #56903

[2019-05-24 13:10] hoerup commented on #56905
will the fix be backported to 2.8 branch ?

[2019-05-24 13:19] codyja commented on #56786
I put a print and date print on line [415](https://github.com/ansible/ansible/blob/stable-2.8/lib/ansible/plugins/inventory/vmware_vm_inventory.py#L415) so we could see the interval. It seems like it's gettin 3-4 VMs per second which seems a tad slow.

[code]

[code]

[2019-05-24 13:51] kbreit commented on #56845
I believe the problem with this one is related to the playbook structure, specifically the `serial` parameter. My guess is the parameter is sending a list of serials with every request. I'm going to try to reproduce it sometime today. But you'll want to look into how to structure each switch as a single dict.

[2019-05-24 13:54] chopraaa commented on #56910
Can you run this in verbose? `-vvv`

[2019-05-24 14:09] sivel commented on #56898
This is mostly expected.  Historically jinja2 has only had the capability of returning strings.  That was it's original intention, templating for HTML output.

Ansible has worked around this by attempting to convert the string representation of data back into python data structures, which is, as you have found inconsistent and unreliable in some cases.

As of jinja2 version 2.10, there is now the

[2019-05-24 14:09] #56898 closed, assigned to nobody

[2019-05-24 14:16] mkrizek commented on #56626
Just a note, the issue with whitespaces not being stripped from the filename was introduced in https://github.com/ansible/ansible/pull/45853.

[2019-05-24 14:33] NeilJ247 commented on #31999
Would be nice to have this feature instead of relying on the shell task.

[2019-05-24 14:56] pratikgadiya12 commented on #43424
@bmalynovytch : I tested the patch and it does work for host however, I think we need to modify the PR for other variables as well that are available in ~/.my.cnf (like login_password, login_user,..)

Reference:
[1]. https://docs.ansible.com/ansible/latest/modules/mysql_user_module.html#notes
[2]. https://docs.ansible.com/ansible/2.6/modules/mysql_user_module.html?highlight=mysql_user

[2019-05-24 15:04] akuznecov opened #56921 "package_facts empty and APT object has no attribute _cache"
##### SUMMARY
`ansible_facts.packages` returned empty when used with
[code]
Related issue - #55850 - the problem still reproducible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/packaging/os/package_facts.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ansible host:
- MacOS 10.14.5
- Ubuntu 19.04

Target host: Debian 9

##### STEPS

[2019-05-24 15:07] gstorme commented on #56910
[code]

[2019-05-24 15:09] bcoca commented on #56921
The issue exists in 2.8.0, the fix is currently only in github and has not been released, can you test with the latest devel branch?

[2019-05-24 15:15] samdoran commented on #15349
We have no plans to implement this feature at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-24 15:15] #15349 closed, assigned to nobody

[2019-05-24 15:16] gstorme commented on #56910
Did some more testing and noticed that this only occurs when the partition was created with a size of -1.
When I create the partition with a size of 60 GB, and afterwards do another run with "-1", it returns changed and has extended it to max available space, and all the following runs return ok.

So the step to reproduce it is correct, but make sure the first run to create that partition is also

[2019-05-24 15:16] samdoran commented on #15357
Closing per above conversation.

[2019-05-24 15:16] #15357 closed, assigned to nobody

[2019-05-24 15:17] samdoran commented on #15381
Closing as duplicate of #15349

[2019-05-24 15:17] #15381 closed, assigned to nobody

[2019-05-24 15:19] samdoran commented on #15388
This is fixed in recent Ansible versions. If the playbook does not exist, an error is displayed and not password prompt is shown.

[2019-05-24 15:19] #15388 closed, assigned to nobody

[2019-05-24 15:20] cmurray47 commented on #30864
+1

[2019-05-24 15:22] #55524 closed, assigned to nobody

[2019-05-24 15:22] #55525 closed, assigned to nobody

[2019-05-24 15:23] samdoran commented on #15430
We have no plans to implement this feature at this time. The reason we cannot do this for script is there is not Python dependency on the target which is required how we do this for `command` and `shell`.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-dev on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-05-24 15:23] #15430 closed, assigned to nobody

[2019-05-24 15:25] samdoran commented on #15497
Closing per above conversation. This information is available in debug information in Ansible > 2.0.

[2019-05-24 15:25] #15497 closed, assigned to nobody

[2019-05-24 15:27] samdoran commented on #15590
We have no plans to add implicit tags at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-24 15:27] #15590 closed, assigned to nobody

[2019-05-24 15:27] #19622 closed, assigned to emonty, rcarrillocruz

[2019-05-24 15:28] samdoran commented on #15622
Closing per above conversation.

[2019-05-24 15:28] #15622 closed, assigned to nobody

[2019-05-24 15:31] yanivezrach commented on #30864
This is a great idea.

[2019-05-24 15:32] samdoran commented on #15867
The best way to do this is to use a [requirements file](https://docs.ansible.com/ansible/latest/reference_appendices/galaxy.html#installing-multiple-roles-from-a-file) or just cloning the roles directly.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-24 15:32] #15867 closed, assigned to nobody

[2019-05-24 15:34] samdoran commented on #15916
!component =bin/ansible-galaxy

[2019-05-24 15:36] samdoran commented on #15939
We have no plans to implement this feature at this time. This would vastly complicate handlers. The best way to sequence tasks it to put them in play tasks, not try to prioritize handlers.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-24 15:36] #15939 closed, assigned to nobody

[2019-05-24 15:38] #16027 closed, assigned to nobody

[2019-05-24 15:41] samdoran commented on #16235
Re-run `setup` as the `become` user, then use `{{ ansible_env.path }}` in the new `PATH` variable.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-24 15:41] #16235 closed, assigned to nobody

[2019-05-24 15:43] Shaps commented on #56850
@MarkusTeufelberger I agree, I think we have already backported something for cryptography already while adding the backend. I'm happy to make the change. @felixfontein any concerns about this?

[2019-05-24 15:44] samdoran commented on #16273
Try using the `never` tag, added in Ansible 2.5.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-24 15:44] #16273 closed, assigned to nobody

[2019-05-24 15:47] samdoran commented on #16579
Closing is this is presented in https://github.com/ansible/proposals/issues/19

[2019-05-24 15:47] #16579 closed, assigned to nobody

[2019-05-24 15:47] akuznecov commented on #56921
Oh, then I wrongly assumed that fix already released within 2.8
However with `ansible 2.9.0.dev0` it works as expected

Could you tell when fix will be pushed to 2.8.x (at least approximately) ? Because now we rolled back to 2.7 because of it :)
Thank you

[2019-05-24 15:49] samdoran commented on #16590
Look at the [composed](https://docs.ansible.com/ansible/latest/plugins/inventory/constructed.html?highlight=composed) and [generator](https://docs.ansible.com/ansible/latest/plugins/inventory/generator.html) inventory plugins.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/a

[2019-05-24 15:49] #16590 closed, assigned to nobody

[2019-05-24 15:49] anryko commented on #52253
@markuman thanks for the write-up.

I suggest not to change `targets:` option type from `List[Dict]` to `List[str]` for `target_type: lambda`. This is not intuitive and you are limiting yourself from adding more lambda target config options in the future.

[2019-05-24 15:51] samdoran commented on #16627
You can conditionally run roles using [`include_role`](https://docs.ansible.com/ansible/latest/modules/include_role_module.html).

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-24 15:51] #16627 closed, assigned to nobody

[2019-05-24 15:53] bcoca commented on #16788
This is a requirement of hte nested lookup and we are not planning to change it, you can however use the zip and product filters to achieve the same and avoid issues via the default filter.

[2019-05-24 15:53] #16788 closed, assigned to nobody

[2019-05-24 15:54] marwatk commented on #56576
I can confirm that the presence of `ansible.noarch 2.8.0-2.el7` on the target system causes the issue. Downgrading to `ansible-2.7.10-1.el7` or removing it completely (`yum remove ansible`) both work.

[2019-05-24 15:55] samdoran commented on #16823
This could be covered by the the proposal for [role spec](https://github.com/ansible/proposals/issues/39).

[2019-05-24 15:55] #16823 closed, assigned to nobody

[2019-05-24 15:57] samdoran commented on #16876
Closing per above discussion.

[2019-05-24 15:57] #16876 closed, assigned to jimi-c

[2019-05-24 16:00] samdoran commented on #16909
Closing as this is being discussed in the above proposal.

[2019-05-24 16:00] #16909 closed, assigned to nobody

[2019-05-24 16:04] kmasaryk opened #56923 "dynamodb_table support for On-Demand billing"
##### SUMMARY
A new billing mode was added to DynamoDB [back in Nov, 2018](https://aws.amazon.com/blogs/aws/amazon-dynamodb-on-demand-no-capacity-planning-and-pay-per-request-pricing/) called On-Demand which acts as an alternative to setting RCU and WCU values. This feature is already [supported in Boto 3 with the BillingMode attribute](https://boto3.amazonaws.com/v1/documentation/api/latest/refer

[2019-05-24 16:16] bcoca commented on #56921
this is the backport to 2.8 branch #56008, when that gets merged, the next 2.8.x release will have it.

closing as per above

[2019-05-24 16:16] #56921 closed, assigned to nobody

[2019-05-24 16:18] titleistfour opened #56927 "route53: "Zone test.internal. does not exist in Route53" with multiple associated VPCs to private zone"
##### SUMMARY
When multiple VPC's are associated to a private zone in route53 in US and Europe, I am unable to create a new record on the Europe side.  Getting "Zone test.internal. does not exist in Route53".

Similar issue noted #25067

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

route53

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Testing on RHEL 7 server with both ansible 2.

[2019-05-24 16:18] jsf9k commented on #47097
I'm no longer seeing the issue with Ansible 2.8.0.

[2019-05-24 16:40] jeblair opened #56928 "File module not idempotent with symlink perms"
##### SUMMARY
Setting permissions on a symlink is not idempotent using the default value of "follow".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu Bionic (expect same behavior on any GNU/Linux)

##### STEPS TO REPRODUCE
As an unprivileged user, run:
[code]

Then run the following playbook (substi

[2019-05-24 17:01] xarses opened #56930 "TRANSFORM_INVALID_GROUP_CHARS doesn't document valid group patterns"
##### SUMMARY
With the addition of the  `TRANSFORM_INVALID_GROUP_CHARS`. Other than reading the source, it was not clear which characters must be avoided going forward, only that the warning (with `-vvvv`) points out which characters you currently use that are invalid.

Please clarify that you are pushing the names to be valid python vars. This is missing from the documentation for the cfg option,

[2019-05-24 17:03] DrHashi commented on #56779
Same issue in 2.8

[2019-05-24 17:48] chrisvanheuveln commented on #38017
PRs:
- #56317 bfd global / NxosCmdRef
- #56748 ospf vrf - bfd
- #56807 interface ospf - bfd
- #56908 pim - bfd
- #56932 bgp neighbor - bfd
- (WIP) misc interface features - bfd

[2019-05-24 17:50] chrisvanheuveln commented on #42874
@gundalow

Active PRs:

- #56317 bfd global / NxosCmdRef
- #56748 ospf vrf - bfd
- #56807 interface ospf - bfd
- #56908 pim - bfd
- #56932 bgp neighbor - bfd
- (WIP) misc interface features - bfd

[2019-05-24 18:02] samdoran commented on #56779
@DrHashi Did you try looking at the output of `-vvv` and `-vvvv` to see if that is easier to use than debug output? I confirmed that ssh connection failure information is in the output of `-vvv` and detailed ssh connection messages are in `-vvvv`.

[2019-05-24 18:06] DrHashi commented on #56779
I actually found the problem, it was the IPS killing the ssh tunnel while deploying.

[code]

[2019-05-24 18:23] #56437 closed, assigned to nobody

[2019-05-24 18:26] titleistfour commented on #56927
The issue I'm bumping into appears to be this.

[ https://github.com/boto/boto/pull/2882](url)

When I apply the patch to `/usr/lib/python2.7/site-packages/boto/route53/connection.py`, it works as expected, records are added successfully.

Anyone have the ability or inside connections to get that accepted on the boto end?  Looks like it has been outstanding for a few years now.  Crazy.

[2019-05-24 18:43] #27631 closed, assigned to bcoca

[2019-05-24 18:45] bkmeneguello opened #56934 "Terraform: local variable 'out' referenced before assignment"
##### SUMMARY
When:
[code]
I got the error
`local variable 'out' referenced before assignment`
from https://github.com/ansible/ansible/blob/6e66ea9f78ea05bb6cf500fa7b910e74e8997618/lib/ansible/modules/cloud/misc/terraform.py#L392

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
terraform module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO

[2019-05-24 19:48] samdoran commented on #42726
@thiller2018 @MarkusTeufelberger Can you test with Ansible 2.8 and see if this is still a problem?

@ArloL @tho22 @rakhinskiy @srt @boblickj Can you please test with #56936 to see if that corrects the issue?

[2019-05-24 19:59] samdoran commented on #42726
@dakira That's... interesting. Is there a way to get a test instance of Sangoma Linux? I'm not having any lucking finding information about it. I tested with FreePBX and I can't duplicate the issue.

[2019-05-24 20:32] cebaa commented on #47147
In my case, the call stack is different:

[code]

Looking more into it, this at the end calls:

[code]

which never finishes.

Per [this](https://github.com/ansible/ansible/issues/12986), adding:

[code]

to `ansible.cfg` solved this issue for me.

[2019-05-24 20:39] stobias123 commented on #32687
+1 - vault errors are super frustrating.

[2019-05-24 20:43] #25757 closed, assigned to bcoca

[2019-05-24 20:45] bcoca commented on #25758
closed via #56311

[2019-05-24 20:45] #25758 closed, assigned to bcoca

[2019-05-24 20:45] bcoca commented on #25761
closed via #56311

[2019-05-24 20:45] #25761 closed, assigned to bcoca

[2019-05-24 20:46] felixfontein commented on #56850
@Shaps sure, feel free to try it out :) It could also be that other `Name` classes have no hash function. Monkeypatching something in which computes something like `hash(str(self))` should be simple enough.

[2019-05-24 20:58] felixfontein commented on #56834
The `docker_image_info` is exactly made for querying image related stuff, including the existence of a local image of a given name. There is and should not be a specialized module for only testing existence (and not doing anything else), and even if there would be, it would not be `docker_image`.

(I would have preferred if `docker_image_info` would behave like `docker_container_info` etc., and on

[2019-05-24 21:19] #56834 closed, assigned to nobody

[2019-05-24 21:28] moosehead123 commented on #53199
Hi,

I've also run into this bug. It seems to happen when the overall length of the prompt is greater than 41 characters. In other words, the longer the username, the shorter the identity can be.

[2019-05-24 21:41] abshaheen commented on #37262
@sliddjur thanks for your reply, yes i did and now it works fine with me.

[2019-05-24 21:50] saravananoff opened #56942 "VMware: vmware_guest module throws typeerror after upgrading ansible to 2.8"
##### SUMMARY

vmware_guest module throws TypeError: translate() takes exactly one argument (2 given) after upgrading ansible version 2.8. vmware_guest was working fine on 2.7.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: RHEL 7
gitlab runner 11.8

##### STEPS TO REPRODUCE

[code]

##### E

[2019-05-25 00:20] adrianlzt commented on #56800
Task was executed as root, also repoquery command.
Not sure the meaning of that errors. Maybe some subscription problem?

El vie., 24 may. 2019 13:55, ansibot <notifications@github.com> escribió:

[2019-05-25 01:35] chopraaa commented on #56910
I tested this on a 2019 AMI.

Seems like this isn't the case. Module's returning `changed` and `ok` as expected for both tasks.

It seems the user in https://github.com/ansible/ansible/issues/55709 modified his issue to state:

Which is weird because I'm running this on a fresh install as well. @andrewpwade If you could tell us what your issue was/how it was resolved, it would be of great help her

[2019-05-25 03:09] oszi opened #56946 "The docker connection plugin fails at version checking"
##### SUMMARY
The docker connection plugin fails with the latest ansible release with moby-engine.

Seems to be the same issue as #43639. I'm not sure if this is a moby build issue or an ansible issue. Probably both. But checking the API version would work flawlessly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/plugins/connection/docker.py

##### ANSIBLE VERSION

[code]

####

[2019-05-25 06:13] srimandarbha commented on #40072
Thanks much @bmike78  !

[2019-05-25 07:10] felixfontein commented on #56946
Well, `dev` is still no valid version number. If your installed moby package returns that, I would say it is broken. Anyway, I've created a PR (#56947) to accept `dev` as "latest version" (will print a warning though).

[2019-05-25 09:57] MarkusTeufelberger commented on #42726
Regarding CoreOS:

`ansible 2.8.0`

`hostname module cannot be used on platform Linux (Coreos)`

The contents of `/etc/os-release`:

[code]

`hostnamectl set-hostname foo` works perfectly without issues...

Another thing that's interesting is that the distro is now recognized as `"ansible_os_family": "Coreos"`, not `"ansible_os_family": "Container Linux by CoreOS"` any more.

[2019-05-25 10:00] MarkusTeufelberger commented on #42726
Maybe something like this is missing?

[code]

[2019-05-25 10:33] MarkusTeufelberger commented on #42726
Same for the distributions `Clear-linux-os` and `Opensuse-leap` by the way.

[2019-05-25 10:56] resmo commented on #56904
doesn't look to be an issue from hcloud. @hoerup the error indicates that the python module `imp` is used. are there any custom modules having an `import imp` involved?

[2019-05-25 10:56] resmo commented on #56904
needs_info

[2019-05-25 11:09] MarkusTeufelberger commented on #42726
Shouldn't this already be caught/fixed by https://github.com/ansible/ansible/blob/a7837edcf26e1e8542109952a9117e145c4cba1d/lib/ansible/modules/system/hostname.py#L110-L111

instead of having to add every single distribution as separate class to the module?

[2019-05-25 11:33] andrewpwade commented on #56910
My issue was that somehow my existing partition was not the maximum possible size but the  difference was <1MB, hence the error. This seems like a valid situation that needs to be handled by the module

I had a quick look at the Powershell (which I'm not fluent in so sorry if I misunderstood) but it appears to just be checking the current size against the maximum supported size, then running `Resi

[2019-05-25 12:12] krasowskir commented on #29533
it still doesn't work.

ansible --version
ansible 2.9.0.dev0
  config file = None
  python version = 2.7.13 (default, Sep 26 2018, 18:42:22) [GCC 6.3.0 20170516]

my playbook:
[code]

[2019-05-25 12:15] resmo commented on #36605
this issue is address in the following PR and also implements multiple repos support.

resolved_by_pr #56951

[2019-05-25 12:20] krasowskir commented on #29533
[result.txt](https://github.com/ansible/ansible/files/3219372/result.txt)

[2019-05-25 12:22] krasowskir commented on #29533
[code]

[2019-05-25 13:54] Alexhha commented on #51174
Is there any workaround for 2.7.x branch? Have the same issue on ansible-2.7.11

[2019-05-25 14:24] dvershinin commented on #56713
+1. Affected by the same issue.

[2019-05-25 14:38] joanbm commented on #56788
I have also started experiencing the same issue recently, when running a playbook over a Raspbian install. It seems likely the issue started since Ansible 2.8.0 was made available in the Arch Linux repositories recently.

It seems that the warning always appears when running apt upgrade. Doesn't seem to depend on anything (whether there are updates or not, other options to apt, etc.). I can reprod

[2019-05-25 14:55] fernandezcuesta commented on #51174
Just replace the file from the one in this repo.

El sáb., 25 may. 2019 15:55, Alexhha <notifications@github.com> escribió:

[2019-05-25 17:12] garrettjj commented on #56248
Seeing this as deprecated now and a replacement library. Going to close this issue out since there's no sense in troubleshooting it.

[2019-05-25 17:12] #56248 closed, assigned to nobody

[2019-05-25 17:42] wiskra commented on #56910
Hi, I have the same issue, but from my observations it appears that it occurs only when the disk has been initialized as GPT style. For MBR works every time.

[2019-05-25 20:11] Alexhha commented on #51174
Do I need to replace lib/ansible/modules/cloud/google/gcp_compute_instance.py from 2.8 branch?

[2019-05-25 21:01] iwhd opened #56961 "win_format: allocation_unit_size has no effect"
##### SUMMARY

When allocation_unit_size  parameter is set, the partition is formatted with the default one instead

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_format

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Windows Server 2019

##### STEPS TO REPRODUCE

Run playbook with win_format module, where custom allocation unit size is set:

[code]

##### EXPECTED RESULTS

Part

[2019-05-25 22:04] fbruetting opened #56962 "Running checks before asking for passwords"
##### SUMMARY
Would be cool if syntax checks etc. could run before before asking the user to type in any passwords.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- ansible
- ansible-playbook

##### ADDITIONAL INFORMATION
When I misspelled a module and try to run the playbook, I first get asked for the SSH/become passwords and then get displayed the syntax error. This is quite unfortunate,

[2019-05-25 23:18] darkn3rd opened #56963 "docker_container networks not changing network_mode"
##### SUMMARY
Instead of using the network specified with `docker_container`, Ansible is changing the behavior and using a `default` network.

It doesn't matter if `networks_cli_compatible` is set to `yes` or `no` in Ansible 2.8.  This behavior is also in Ansible 2.7.x as well as Ansible 2.8.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- docker_container

##### ANSIBLE VERSION

[c

[2019-05-26 02:12] colin-mccarthy commented on #53910
@victorock how did you test this?  I would like to see if that's my issue?

[2019-05-26 02:49] #53787 closed, assigned to nobody

[2019-05-26 05:31] chopraaa commented on #56961
This is just sad on my part. Fix for this soon.

[2019-05-26 08:18] jmnavarrol commented on #55286
It seems to be related to some modules only.  On my example above, I tried to avoid some sensible data from a real case.  I'll try to produce a "real" example so this problem can be reproduced.

[2019-05-26 09:29] niallor commented on #56788
I've discovered that behaviour differs according to how the task is invoked. An __ad-hoc command__ does not produce the unhelpful message, although the __apparently equivalent playbook task__ does.

Details follow below.

__First, a minimal playbook:__

[code]

__Now, an ad-hoc command__ which (IIUC) should be equivalent to the last task above:

[code]

__Lastly, the playbook run:__

[code]

[2019-05-26 09:33] wiskra commented on #56961
With changes from #56966 it works as expected.

[2019-05-26 10:09] askhari commented on #56732
I opened a pull request here: #56969
Give it a shot and see if it solve your issues.

This consul inventory script retrieves some information from Consul which in some cases return a None value. Later it tries to add this None value to a list and therefore it fails.

The code below fails because the tuple index, groups_list returns a None value for groups_list uncer certain conditions:
`

[2019-05-26 10:18] Im0 commented on #53525
@bhaizlett123 @NilashishC - I'm having the same problem and running 2.8.  More details below:

Command: `ansible-playbook -i switch_inventory getfacts.yml -vvv -b --become-method=enable`
Switch model: `WS-C3750E-24PD-S`
ansible.cfg:
[code]

Playbook:

[code]

Error message:

[code]

Logging from `ansible_persistent_log_messages: True`  (the important part only):

[code]

If I login manually, the p

[2019-05-26 10:27] #53525 closed, assigned to nobody

[2019-05-26 12:06] felixfontein commented on #56963
If you want to set `NetworkMode` to something, use the `network_mode` module option. This module does not claim to do the same as docker CLI or the docker-py high-level API, so it is not necessarily a bug if it does not.

(The docker-py high-level API does set `network_mode` to the same value as `network` when `network` is specified. So if you want to emulate that behavior, you have to do it expli

[2019-05-26 12:15] #56946 closed, assigned to nobody

[2019-05-26 12:46] felixfontein commented on #56963
I've created a PR to adjust the documentation accordingly (#56971). Changing the behavior is not an option IMO since it breaks backwards compatibility.

[2019-05-26 14:10] joanbm commented on #56788
I have been doing some debugging and I have some information that may be helpful.

In the 'apt' documentation, notice how the "upgrade" parameter is not a boolean, but rather a string (with values "dist", "full", "no", "safe" or "yes"). However, in the playbook we have "upgrade: yes", so it is interpreted by the YAML parser as a boolean True, rather than as the string "yes".

Later when Ansible tr

[2019-05-26 14:28] drybjed commented on #55570
I can confirm this happening on Ansible 2.8. Will have to do a bisect to find the culprit.

[2019-05-26 15:18] victorock commented on #53910
When running against a group of devices, in some of them the file didn't get upload, so the task after upload failed because file didn't exist. I changed the task from `net_put` to `command: scp..` and it worked fine. Follow here the example:https://github.com/victorock/ansible-netops/blob/dev/cisco/ios/operations/restore_from_git.yml#L35

[2019-05-26 21:10] ruimaciel commented on #48714
It would be nice if Ansible could handle adding "universe" repositories.  Official installation guides for popular software frameworks such as [Microsoft.NET Core](https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current) rely on the addition of "Universe" to install their official packages.

[2019-05-26 21:55] sebasmannem commented on #56430
@bootrino : Thanks for noticing this. I will have a look ASAP.

[2019-05-26 23:30] versewithverve commented on #56894
The files are accurate.

[2019-05-27 01:55] maclarensg opened #56983 "vyos modules does not work"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- vyos_command
- vyos_config
- vyos_facts
- vyos_system

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
- Nothing was changed

##### OS / ENVIRONMENT
- macOS Mojave, Version: 10.14.4 (18E226)

##### SUMMARY
1. I try to run a playbook which has a task, running vyos_facts. And when executed got this error.
[code]
2. I read some post saying chang

[2019-05-27 05:37] Akasurde commented on #56942
@saravananoff Thanks for reporting this issue. Could you please check if PR #54123 works for you and let us know? Thanks.

needs_info

[2019-05-27 05:37] Akasurde commented on #56942
resolved_by_pr #54123

[2019-05-27 05:40] #54118 closed, assigned to nobody

[2019-05-27 05:43] xgy560501 opened #56987 "VMware: vmware_guest_powerstate fails when VM name is too long"
##### SUMMARY

When user has a VM with long name then vmware_guest_powerstate fails with -

[code]
warning

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_powerstate

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-05-27 05:47] #56942 closed, assigned to Akasurde

[2019-05-27 05:48] #56905 closed, assigned to nobody

[2019-05-27 05:58] NilashishC opened #56989 "Add ability to filter running config for VyOS"
##### SUMMARY
- Currently, VyOS cliconf/get_config() doesn't support sending a filter to the device to extract specific portions of running config. For e.g., `show configuration commands | grep interfaces`. This is already supported in other platforms.

- The cliconf/get_config() has `flags` argument in the method signature, but doesn't make use of it.

##### ISSUE TYPE
- Feature Idea

##### COMPO

[2019-05-27 06:14] Akasurde commented on #56987
@xgy560501 Could you please provide additional details so that we can investigate further ? Thanks.

needs_info

[2019-05-27 06:15] sebasmannem commented on #56430
Interesting:
1: This occurs, when an IPv4 address has the same weight as an IPv6 address, which is and edge case, but it occurs when the file has IPv4/32 and IPv6/128 addresses, which is not an edge case.
2: unit test does have a mix of IPv4/IPv6 addresses, but not this. I will add the rules of a generic hba, so we capture things like this.
3: Writing empty files on errors is never ok. This will b

[2019-05-27 06:40] sugitk commented on #55683
Thank you for a fix and merging.  I will close this out.

[2019-05-27 06:40] #55683 closed, assigned to nobody

[2019-05-27 06:46] xgy560501 commented on #56987
I used ansible to create a scheduling task to restart the VM in the vcenter, and then reported the above error. After repeated testing, I found that when the VM name is too long, the error of the message character is too long, and the name character can be created successfully in a short time.

发自我的iPhone

------------------ Original ------------------
From: Abhijeet Kasurde <notifications@github.

[2019-05-27 06:51] bmalynovytch commented on #43424
@pratikgadiya12 AFAIK login / password are already used from `~/.my.cnf` if `check_implicit_admin ` is set to true.
I don't see a use case were we should need to change this behavior for now.
Any idea why we should ?

[2019-05-27 06:52] Akasurde commented on #56987
Can you please add reproducer playbook ?

[2019-05-27 06:57] Andersson007 commented on #40424
@andytom , I'd like to discuss this situation before opening a new issue instead.
Regarding that I wrote before, it's a bug of pg_dump: at least when there is no entry in pg_hba.conf file (or other connection errors like trying to connect to a non-existent db) pg_dump returns 0 but actually the dump wasn't completed in Postgres version 11.3, 10,...
[code]
If other errors, eg. trying to do the dump

[2019-05-27 06:59] xgy560501 commented on #56987
Thank you for replying me.Here's my playbook. I desensitized some sensitive fields. I hope to understand.
---
- hosts: localhost
  tasks:
  - name: reboot at time
    vmware_guest_powerstate:
      hostname: ********
      username: ********
      password: "*******"
      validate_certs: no
      folder: "/"
      name: "formentor_SHsiebdb01"
      state: restarted
      scheduled_at: "27/05/2019

[2019-05-27 07:02] Andersson007 commented on #56703
It was backported into 2.8 last Friday, thanks all !

[2019-05-27 07:02] xgy560501 commented on #56987
I guess the name of the scheduling task exceeds the VMware character maximum limit. So I suggest setting an additional "name" option for the scheduling task to avoid the recurrence of this error.

发自我的iPhone

------------------ Original ------------------
From: Abhijeet Kasurde <notifications@github.com>
Date: Mon,May 27,2019 2:53 PM
To: ansible/ansible <ansible@noreply.github.com>
Cc: xgy560501 <

[2019-05-27 08:02] Ninjiner opened #56994 "uptimerobot: add support for v2 of api"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
uptimerobot

##### ANSIBLE VERSION
[code]
uptimerobot: add support for v2 of api
As stated by uptimerobot v1 of the api is retired (https://uptimerobot.com/apiv1)

At the same time this could be resolved: https://github.com/ansible/ansible/issues/36984

[2019-05-27 08:07] dlucille commented on #56730
Using ` remote_src: true` solved my problem. The file is on the remote machine.

[2019-05-27 08:07] #56730 closed, assigned to nobody

[2019-05-27 08:20] gstorme commented on #56910
Using the powershell cmdlets, I can't find a difference in the partition details in both cases.
But with wmic, the partition size is different:

When created with a size of -1:

[code]

When created with a size of 60GB, and afterwards extended with -1:
[code]

In both cases, the SizeMax from Get-PartitionSupportedSize is reported the same: 64423443968

[2019-05-27 08:56] niallor commented on #56788
@joanbm, IIUC your explanation, this seems to be a case of opportunistic normalization which, in this particular instance, misses the point and turns out to be premature (even perverse!) optimization. Thanks for exposing the formal error in my playbook.

[2019-05-27 08:56] Fred-sun commented on #56776
@piotr-gbyliczek Thanks for your contribution!
@zikalino Could you help take a look this issue when you're available? Thanks a lot!

[2019-05-27 09:16] bootrino commented on #56430
@sebasmannem it would also be worth testing it against the default conf file that comes with Postgres 11 - I seem to recall it doesn't work with that for some other reason.

[2019-05-27 09:30] hoerup commented on #56904
i only saw it as a part of the error message from #56905 - and i thought it was hcloud specific - but it might be more generic.

[2019-05-27 09:37] Akasurde commented on #56987
resolved_by_pr #57000

[2019-05-27 09:40] Akasurde commented on #56987
@xgy560501 Could you please check PR #57000 and let me know if it work for you? Thanks.

needs_info

[2019-05-27 09:50] xgy560501 commented on #56987
It’s ok! Thank you for your efficient work! I marvel at it！

发自我的iPhone

------------------ Original ------------------
From: Abhijeet Kasurde <notifications@github.com>
Date: Mon,May 27,2019 5:42 PM
To: ansible/ansible <ansible@noreply.github.com>
Cc: xgy560501 <179688453@qq.com>, Mention <mention@noreply.github.com>
Subject: Re: [ansible/ansible] VMware: vmware_guest_powerstate fails when VM nam

[2019-05-27 10:18] Ninjiner commented on #56994
@nate-kingsley
would it be a problem if the implementation uses a third party lib like [this](https://github.com/jpavlav/UptimeRobotPy)?

this library supports the v2 api and nearly all (or even all) mehtods.

[2019-05-27 10:54] gilcot opened #57008 "2.8.0 broke foreman inventory"
##### SUMMARY

After upgrading from 2.7.10 to 2.8.0 dynamic inventory from The Foreman stop working.

Today, I've installed 2.7.11 and get it working back. But when I've upgraded to 2.8.0, it dósn't work anymore. I went and read again the [release note](https://github.com/ansible/ansible/blob/stable-2.8/changelogs/CHANGELOG-v2.8.rst) without finding some note about that (e.g. deprecation of that p

[2019-05-27 10:55] dohnto commented on #49913
Hit this as well with `2.8.0` version.

[2019-05-27 11:14] xgy560501 commented on #56987
Now I'm concerned about how I can use your newly developed functionality on my host.

发自我的iPhone

------------------ Original ------------------
From: ansibot <notifications@github.com>
Date: Mon,May 27,2019 6:11 PM
To: ansible/ansible <ansible@noreply.github.com>
Cc: xgy560501 <179688453@qq.com>, Mention <mention@noreply.github.com>
Subject: Re: [ansible/ansible] VMware: vmware_guest_powerstate f

[2019-05-27 11:18] NilashishC commented on #56983
Hi @maclarensg. As the failure message suggests, you are using `ansible_connection: ssh` to communicate with network devices and hence it's failing.  You need to set `ansible_connection: network_cli` for running CLI based commands over SSH against network devices.

Please have a look at [how network automation is different](https://docs.ansible.com/ansible/latest/network/getting_started/network_di

[2019-05-27 11:18] Akasurde commented on #56987
Since this is fixed in devel - you can either copy `vmware_guest_powerstate` from PR to your Ansible installation or manually make changes to `vmware_guest_powerstate`.

I will be making Stable-2.8 fix once the PR #57000 is merged.

[2019-05-27 11:22] JulianVolodia commented on #17179
@gundalow Sorry for not responding.
Yes, it's about it is not an simulation or emulation tool, so checkmode have so Ansible won't emulate state changes like file existance which is created in ealier parts (most simple example).

But again, it should be no shared state between tasks to make checkmode work correctly for list of task/playbook running with it. Which also should be not depend between p

[2019-05-27 11:24] Akasurde commented on #36388
@baasbank @josiahbjorgaard If any one of you are working on this issue, then -

1. Add comment here stating that you are working so that you don't overstep others work
2. There are several function mentioned in issue which are working in Ansible but are not documented in ipaddr documentation section - https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters_ipaddr.html
3. You may want

[2019-05-27 11:26] jheyens commented on #43550
Since the maintainers do not seem to care:

Did you try paramiko? It's measurably slower, but it did not expose the same buggy behaviour for me.

[2019-05-27 11:27] Akasurde commented on #37007
@pgbidkar is currently working on this issue and will be submitting patch in upcoming days. Thanks.

[2019-05-27 11:40] m3nthal commented on #37591
+1 for the issue, it makes sense that when have both `state=disabled` and `drain=yes` that it would drain first, than put the node into maintenance mode.

It's understandable that it is not an HAProxy functionality, so it would be great to have it in Ansible.

Thank you very much!

[2019-05-27 12:07] maclarensg commented on #56983
@NilashishC
after your recommendation
[code]
which I added `ansible_network_os: vyos` to my hostvars, but still

[code]

[2019-05-27 12:44] Sephtex commented on #50306
I have identically the same issue as @taragurung , at this moment, we are just obligated to use become=true on the whole playbook to omit the error of not been in the docker group on initial setup

[2019-05-27 12:49] srgvg opened #57011 "When using a vault secret, encoded with inline yaml, as variable in another jinja template, the value is not decrypted."
##### SUMMARY
When using a vault secret, encoded with inline yaml, as a variable in another jinja template, the value is not decrypted, but used as-is, hence being an `AnsibleVaultEncryptedUnicode` object instead of `str` object.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible Vault

##### ANSIBLE VERSION
Tested with
[code]
and
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMEN

[2019-05-27 13:03] srgvg opened #57012 "Add inline vault encryption for YAML inventory plugin source (config) files"
##### SUMMARY
When defining a yaml config file for an inventory plugin, I typically want to use ansible vault to encrypt secrets to connect to an  external inventory source. This works perfectly when the full yaml file is encrypted in whole, but fails when values are encrypted inline.

##### ISSUE TYPE
~Bug  Report~
- Feature Idea

##### COMPONENT NAME
vault, inventory

##### ANSIBLE VERSION
at le

[2019-05-27 13:13] andytom commented on #40424
Hey @Andersson007, I'm not sure either, the only think that I could think of was if there is another way we can detect if the backup failed? If not then I guess the only other option would be to document this as a known issue so that users are aware of this issue. Maybe someone else in the PostgreSQL group will have a better idea.

[2019-05-27 13:19] joachimmathes opened #57013 "Single import_tasks, but double task file execution"
##### SUMMARY

Single `import_tasks`, but double task file execution.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`import_tasks`

##### ANSIBLE VERSION

`master`
[code]
also affected:
* `2.7.10`
* `2.7.11`
* `2.8.0`

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

It doesn't matter if target is
* `localhost` with `Ubuntu 19.04`

or
* vagrant box with `FreeBSD 11.2-RELEASE-p10`

####

[2019-05-27 13:22] Andersson007 commented on #56703
@F1rst-Unicorn , please, close this issue

[2019-05-27 13:24] #56703 closed, assigned to nobody

[2019-05-27 13:33] Andersson007 commented on #40424
@andytom , there is only stderr on my mind..
I published the link to this issue in the community pinboard, maybe somebody join this discussion.
If no reaction, probably, yep, we should add a remark about this into the module documentation.

[2019-05-27 13:41] IvanBayan commented on #56800
I think that I've faced with same issue:
[code]

[2019-05-27 14:16] #56902 closed, assigned to nobody

[2019-05-27 14:26] cslux commented on #38013
Same problem occurs when using system environment variables, e.g:

"src": "$HOME/directory_to_transfer"

[2019-05-27 14:26] ygrange opened #57015 "Quick start in text"
Heya,

I'd like to get started with Ansible. I want to have a quick-start guide I can follow. The only thing I can find is a video. I am completely hopless at following videos (apart that the visual information doesn't work for me anyhow so I will probably forget everything within 5 minutes from watching).

So I would propose that there would be a text quick start together with the video quick sta

[2019-05-27 14:27] ygrange commented on #57015
If this has been requested already, I haven't been able to find the right search terms for it BTW.

[2019-05-27 15:07] #23423 closed, assigned to Akasurde

[2019-05-27 15:37] Testicule opened #57017 "when conditional is utterly broken when applied to include_roles, when used within a role."
##### SUMMARY

If a playbook has include_role, with a when conditional to test a var, which calls another role when satisified... it works, but if the included role does the same thing, the 2nd include_role is *never* executed, even when the when clause is true.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_role/when

##### ANSIBLE VERSION

[code]
Also occurs on ansible 2.7

#####

[2019-05-27 15:37] Jean-Daniel opened #57018 "openvswitch_bridge does not update vlan on existing bridge."
##### SUMMARY

When creating a fake bridge with a parent, this module takes a `vlan` parameter. But when the bridge already exists, this module ignore the `vlan` parameter instead of updating the existing bridge.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

openvswitch_bridge

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The first command create

[2019-05-27 15:44] wahab-icp commented on #46203
+1 for until loops on blocks

[2019-05-27 16:04] conxuro opened #57019 "Opennebula module not compatible with latests releases"
##### SUMMARY

The Opennebula module (ansible/lib/ansible/modules/cloud/opennebula/) is not compatible with latest Opennebula python bindings library (PyONE).

The .py files of the Ansible module try to load python-oca instead of PyONE:
[code]

In the latest official documentation [1] is said that pyone is the current python module to be installed with OpenNebula, so if it is not compatible with p

[2019-05-27 16:06] webknjaz commented on #12608
For me it got stuck with the current devel (4f8abde081a), I waited for ~15m and interrupted the execution.

I'll try to troubleshoot it deeper now.

[2019-05-27 16:23] webknjaz commented on #12608
With `ANSIBLE_DEBUG=1`:

When stuck:
[code]

When the password is correct:
[code]

(just like reported in the original post)

[2019-05-27 16:51] webknjaz commented on #12608
It seems to be stuck inside of the [`Channel.makefile()`](http://docs.paramiko.org/en/2.4/api/channel.html#paramiko.channel.Channel.makefile) call.

https://github.com/ansible/ansible/blob/4f8abde081a16d04e3a55740bc1dfd6dd736ea22/lib/ansible/plugins/connection/paramiko_ssh.py#L445

[2019-05-27 17:10] L1ghtman2k commented on #30411
I am facing this issue when deploying to exact same virtual machines (they are all clones of the same machine). Some of them get the public repo cloned, while others just hang

[2019-05-27 17:22] frsauvage commented on #55919
Hi @Im0 ,

I have no root vhost, so url: "amqp://guest:guest@:5672/%2F" does not work.
If I add my vhost, it does not work, I have a error:
Unsuccessful publishing to queue redfishmq

But the data are correctly sent to rabbitmq.

I would be pleased if you fix it, curretly, I ignore errors for this module.

`
Name: pika

Version: 1.0.1
Summary: Pika Python AMQP Client Library
Home-page: https://pik

[2019-05-27 17:24] webknjaz commented on #12608
It doesn't get stuck if I change `bufsize` from `4096` to `12`. It looks like it waits for more data than `sudo` is going to output in an endless loop. I'm curious whether there's some timeout set for this.

[2019-05-27 17:25] webknjaz commented on #12608
[code]

[2019-05-27 17:30] frsauvage commented on #55908
Hi @Im0 ,
I have an opportunity to test
[code]
=> it does not fix the problem.
I have double double-quoted items :
[code]

So nodered cannot parse it.
If you have any suggestion, I would be pleased,
Regards,
Francine

[2019-05-27 17:31] webknjaz commented on #12608
`chan.settimeout(3)` makes it crash on the socket level:
[code]

[2019-05-27 17:34] cyberox commented on #57008
I had the same issue, after upgrading to Ansible 2.8.
I managed to "fix" this by enabling the inventory cache in ansible.cfg file:
[code]
After adding this parameter, the dynamic inventory works again.

[2019-05-27 18:08] #56122 closed, assigned to nobody

[2019-05-27 18:11] imjoseangel commented on #23260
Hey! New module has been uploaded, comments and other ideas are welcomed. I was thinking to have a working functionality with hibernate, suspend and shutdown and worried about the non idempotency of the shutdown part by design, of course.

Have a great day!

[2019-05-27 18:17] webknjaz commented on #12608
I'm not very proficient in Python's threading but it looks like a deadlock to me. I cannot say for sure now whether it's Python's or paramiko's fault.

[2019-05-27 18:28] mishas opened #57022 "ansible_connection evaluated incorrectly when inside a loop"
##### SUMMARY
When accessing `{{ ansible_connection }}` from within a loop, the return value is wrong.
On ansible 2.7.6, it is always `ssh`, no matter which connection actually used.
On ansible 2.8, it is `<class 'ansible.utils.sentinel.Sentinel'>`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Core

##### ANSIBLE VERSION
Tested on 2 versions:
[code]
And:
[code]

##### CONFIGURATION
Empty co

[2019-05-27 19:20] PulsatingQuasar commented on #56688
The issue is that the FQDN ladieda.lab.nl doesn't exist( I made it up), only lab.nl does. The response is a Non-authoritative answer which isn't the ip-address for ladieda.lab.nl. ladieda does not exist.

But the result for the dig lookup module doesn't show a non-authoritative answer, only the IP.