[2020-12-02 14:24] Shrews commented on #72767
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
In fact, an answer to your question on the mailing list was already posted to you.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ans

[2020-12-02 14:24] #72767 closed, assigned to nobody

[2020-12-02 14:43] bmillemathias commented on #72668
for openSuse the version of python-3 is 3.6.10
https://software.opensuse.org/package/python3?search_term=%22python3%22

[2020-12-02 16:07] samdoran commented on #72787
It's not necessary to register the result of `import_tasks` and would not really be possible. `import_tasks` is not actually a discrete task but rather a preprocessor that will insert all the tasks in the imported task file into the play. There is no single result to register or return for `import_tasks`.

You can accomplish what you want by using `import_tasks` and having a task inside the import

[2020-12-02 16:07] #72787 closed, assigned to nobody

[2020-12-02 16:34] richm commented on #72784
https://github.com/ansible/ansible/pull/72792

[2020-12-02 16:46] mkrizek commented on #72790
This is expected. By doing `rpm -q {{RPMS}}` you effectively convert a list into a string which results in `"[uwget, ufinger]"` - the `u` there indicates that it is a unicode string, that is on Python 2. On Python 3 you would get `[wget, finger]`.

To achieve what you want you need to do something like the following:
[code]

If you have further questions please stop by IRC or the mailing list:
* I

[2020-12-02 16:46] #72790 closed, assigned to nobody

[2020-12-02 17:10] #71990 closed, assigned to nobody

[2020-12-02 17:11] samdoran commented on #72629
That's understandable. Really weird things happen when firewalls start messing with connections in the middle of things trying to communicate. If you are able to reproduce this reliably, feel free to open a new issue. Thanks for using Ansible!

[2020-12-02 17:11] #72629 closed, assigned to relrod

[2020-12-02 17:19] preetesh33 commented on #72790
Thank you Martin.

[2020-12-02 17:27] Shrews commented on #72750
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2020-12-02 17:27] #72750 closed, assigned to nobody

[2020-12-02 18:58] soloduy1 opened #72793 "Can't execute 'enable' commands ios_config on Cisco SF302-08PP"
##### SUMMARY

Can't execute 'enable' commands ios_config on Cisco SF302-08PP
I get this error:

[code]

Inventory:
[test]
192.168.1.23

[test:vars]
become=yes
become_method=enable
ansible_become_password=PASSWORD
ansible_connection=network_cli
ansible_network_os=ios
ansible_ssh_pass=PASSWORD
ansible_ssh_user=cisco
ansible_common_args="-oKexAlgorithms=+diffie-hellman-group1-sha1 -c 3des-cbc"
ansib

[2020-12-02 19:44] AlanCoding commented on #38047
It's still pretty much the same. I'm testing on faster hardware, but the same cases I mentioned before still seem to hit the same kind of bottleneck.

[code]

![Screenshot from 2020-12-02 14-39-59](https://user-images.githubusercontent.com/1385596/100922997-8d070980-34ac-11eb-9036-19163eb0bbc9.png)

I don't care all too much about the original case where this report came from, but it still seems l

[2020-12-02 20:28] louismariegaborit commented on #72672
It's ok with pip 20.3.

[2020-12-02 22:24] gm0neyl0ve opened #72803 "snap module is not idempotent"
##### SUMMARY
snap module is not idempotent.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

snap module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected OK
This works on the 1st run through and removes the lxd snap.  Fails if  you run it again.

##### ACTUAL RESULTS

[code]

[2020-12-02 22:30] #72803 closed, assigned to nobody

[2020-12-03 01:08] AntHanna23 opened #72809 "Yum/DNF module does not remove package with version specified"
##### SUMMARY
When using dnf or yum to remove packages, ansible will not detect package is installed if the version is added to the end

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

yum/dnf

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 8.0.1905 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected wget to be removed

##### ACTUAL RESULTS

[2020-12-03 04:58] Akasurde commented on #72793
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Migrated this issue in the above repository - https://github.com/ansible-collections/ansible.netcommon/issues/184.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-12-03 04:58] #72793 closed, assigned to nobody

[2020-12-03 08:10] zeitounator commented on #67008
Thanks for the personalised feedback, and glad I could contribute to enhance the documentation. Cheers.

[2020-12-03 09:41] jdrowell commented on #72674
I think that the commit above misses the point. If the user is not logged in, there is no XDG_RUNTIME_DIR to point to (the directory doesn't exist), so clarifying that it should be accessible doesn't help. As mentioned by @ikke-t, a lingering session can be forced in systemd (e.g. loginctl enable-linger <username>), but ansible should handle that, either automatically enabling it for these cases,

[2020-12-03 10:26] jdrowell commented on #72674
Here's what worked for me:

- name: Check all users for lingering
  include_tasks:
    file: linger.yml
  with_items: "{{ users }}"

and linger.yml is

- name: Check if user is lingering
  stat:
    path: "/var/lib/systemd/linger/{{ item.name }}"
  register: user_lingering

- name: Enable lingering is needed
  command: "loginctl enable-linger {{ item.name }}"
  when: not user_lingering.stat.exists

[2020-12-03 10:31] mkrizek commented on #72783
This is due to how Native Jinja works internally, it uses `ast.literal_eval` to convert variables to Python type:
[code]

As a workaround, you could add additional quotes to indicate that the variable is a string:
[code]

or in your play:
[code]

Also, it is recommended to use `2.11.x` version of Jinja when `jinja2_native` is enabled as that version includes imporant bug fixes.

If you have furthe

[2020-12-03 10:31] #72783 closed, assigned to mkrizek

[2020-12-03 11:58] sbienkow opened #72829 "Accessing variable through hostvars returns raw template, when templating fails"
The closest issue I found is: https://github.com/ansible/ansible/issues/36024
Though reading comments, it looks like it might be something else.

##### SUMMARY

If directly accessing variable which is templated based on undefined variable, and error is thrown describing the issue. If accessing variable indirectly, if value is defined it is templated properly, while when it isn't, the raw template

[2020-12-03 15:09] sivel commented on #72733
The issue here is in what `pexpect` calls `searchwindowsize`, and the default is 2000 bytes (which is not configurable by this module).

As such, `pexpect` does not do regex matches per line, it does it per chunk.

Additionally, `pexpect` does not use multiline, so `^` will only match the start of the chunk, as opposed to beginning of the line.

To get the behavior you need to specify the regex fl

[2020-12-03 15:09] #72733 closed, assigned to nobody

[2020-12-03 15:29] sivel commented on #72751
The issue here isn't caused by `b64encode` but the behavior of jinja2 native.  In this particular instance, this bug has been resolved by https://github.com/ansible/ansible/commit/acdc9eb76d23e25ed8b1c7fc4fe8e4f9fd6f49fd

However, due to the way that jinja2 native works, when templating something that looks like a python dictionary, you end up with a python dictionary.

So the behavior you are see

[2020-12-03 15:34] sivel commented on #72786
Ultimately all role vars are scoped at the play level, and precedence is based on the last loaded, and as such, the parent is loaded, and then the child, which means any vars defined in the child have a higher precedence.

[2020-12-03 15:37] SJrX opened #72832 "Document Workaround for #61668: Multiple ip addresses or hostnames for a single host in the inventory"
##### SUMMARY
I needed (in actually a couple of different use cases), support multiple ip addresses or host names for things in inventory files. I came across https://github.com/ansible/ansible/issues/61688 which outlines the issue and it was closed as won't be implemented.

I had hoped to add a comment to 61668, but it is locked, and if I reference it outside (via a gist), it also doesn't show up

[2020-12-03 15:46] Nytelife26 commented on #72829
Confirmed, can repro from Arch. Looking into it now.

[2020-12-03 15:55] Nytelife26 commented on #72829
Problem seems to be at https://github.com/ansible/ansible/blob/a077bca5d5866603cdc4a2a13aef8f416860aacb/lib/ansible/vars/hostvars.py#L94, where if the data is an undefined instance it just returns it anyway. I will test this hypothesis and get back to you.

[2020-12-03 16:05] Nytelife26 commented on #72829
The underlying issue is that the `raw_get` function does not run through the templating engine to expand the vars; only checks if the host exists. This means it will not check to see if the var actually resolves.

I will check to see if this is present in the documentation. Either way, you're right, this is unexpected behaviour, and I'll look into fixing it, depending on what other contributors sa

[2020-12-03 16:13] Nytelife26 commented on #72829
The underlying issue is that the `__getitem__` function of `HostVarsVars` is set to not fail when the template is undefined.

It would not make sense for the accessor to fail in this case, as it does exist - just the template does not resolve. I hope that clarifies things for you. If not, feel free to ask any questions, or if you have a counterargument I'm open to listen.

If that clears things up

[2020-12-03 16:20] Nytelife26 commented on #72829
Although, I will note that if you wish to change this behaviour when using it yourself, you can reinstantiate the method and use the same processing except set `fail_on_undefined=True`, or alternatively run your own check to see if the template string has processed correctly.

[2020-12-03 16:30] rwagnergit commented on #72776
Issue also exists in 2.11 (devel branch)

[2020-12-03 16:48] sbienkow commented on #72829
I understand that it cannot always fail, because you need to simulate the dict and have the values. But, IMO, when trying to access the final var value, it should behave just like when accessing it directly - Ansible should throw an error. In my case, this took way longer than I'd like to admit to find this bug. It propagates through many, many references.

Would it make sense, to have the vars re

[2020-12-03 17:01] Nytelife26 commented on #72829
There is not an option at present to warn about such cases, no. As modifying the default behaviour is a breaking change, which seems frowned upon when working on Ansible playbook functionality, I will take a look at implementation options.

I understand your point, though; however, it is not the nature of Python. Accessors fail only when the value you are accessing does not exist. You have the opt

[2020-12-03 17:11] yogo1212 opened #72833 "lack of variable scope provokes errors like templating loops"
##### SUMMARY
late template expansion turns the lack of variable scopes into a problem under certain conditions.
included tasks/roles can overwrite variables from basically anywhere.

##### ISSUE TYPE
- Bug Report (more in a 'design' sense)

##### COMPONENT NAME
string templating

##### STEPS TO REPRODUCE
custom role called with these vars
[code]

the custom role, among other things, runs:
[code]

[2020-12-03 18:42] sivel commented on #72833
In your `evaluate_now` example, `set_fact` already provides that exact functionality.

[2020-12-03 19:08] samdoran commented on #72740
You are correct. You are also correct that they are somewhat accessible, but we did add at least a small hurdle.

This should be fixed by a docs change.

[2020-12-03 19:17] samdoran commented on #72745
Based on the output given, I'm still not sure this is working as your describe. It's possible I was incorrect in my previous comment. However, we do want to become an error in the future so it should be a warning so that folks know to update their playbooks prior to 2.14.

Could you provide the full playbook run output with `-vvv`?

needs_info

[2020-12-03 19:21] bsolomon1124 commented on #72740
@samdoran I will open a docs pull request. In the spirit of "let me have a way to do dangerous things if I really want to," would there be any other way to access implicit `*become*` vars in a playbook scope? :)

[2020-12-03 19:23] samdoran commented on #72747
Based on the comments in #15876, I'm not sure this is something that we could fix due to the nature of the free strategy. If you are willing to submit a PR, we would review it. Otherwise, this issue should be closed.

needs_info

[2020-12-03 19:27] samdoran commented on #72748
This seems like something that could be reasonably implemented. If I'm understanding correctly, this would be something like stating or hashing the file before and after and reporting a change if the hash changes. Would you care to add any more details about how you think this should work?

[2020-12-03 19:29] samdoran commented on #72749
Related to #52567

[2020-12-03 19:32] samdoran commented on #72751
Closing per above.

[2020-12-03 19:32] #72751 closed, assigned to nobody

[2020-12-03 19:35] samdoran commented on #72752
This sounds like you are asking for an option to turn off the display of which files are dynamically included? It doesn't have to do with hosts, but rather the include itself displays what is included during runtime.

[2020-12-03 19:40] samdoran commented on #72771
We have no plans to implement this feature at this time. The documentation is generated on each run of `ansible-doc` by pulling the documentation from every single file. This is much different than what `man` is doing since it is dealing with static files on disk. It's simply not feasible to have `ansible-doc` try to load all that data. This is better solved by generating offline documentation as

[2020-12-03 19:40] #72771 closed, assigned to nobody

[2020-12-03 19:46] samdoran commented on #72786
Closing per above.

[2020-12-03 19:46] #72786 closed, assigned to nobody

[2020-12-03 20:01] samdoran commented on #72832
Thanks for sharing the workaround. I'm going to go ahead and close this. If you feel this would make sense to add to our documentation, please open a docs PR.

[2020-12-03 20:01] #72832 closed, assigned to nobody

[2020-12-03 20:31] Nytelife26 commented on #72829
@samdoran already verified - I could successfully reproduce it and, as aforementioned, it is explainable behaviour you can see and attribute to the code. All we need is some feedback and then I can implement a fix potentially.

Any thoughts? Thanks in advance.

[2020-12-03 20:45] pyrodie18 opened #72841 "APT Update-Cache Fails when 1 or more repos is unreachable"
##### SUMMARY
When using the update-cache feature for both the apt and apt-repository modules, the module fails if one or more of the repositories listed within /etc/apt/sources.list.d is unreachable even though one or more are reachable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
APT.Update_Cache

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansibl

[2020-12-03 20:49] sivel commented on #72829
`needs_verified` means someone from the core team needs to verify and research

If you want to seek feedback, you may want to put this on the core IRC meeting agenda, but that does not necessarily preclude the fact that we will need to review this further https://github.com/ansible/community/issues/570

[2020-12-03 21:02] Nytelife26 commented on #72841
This is not an issue with Ansible. It is an issue present within `python-apt`. It is designed to raise an error if it fails to update completely, and this error is not unique so Ansible cannot determine that as a specific error cause. If you want a change in this behaviour, consider taking this issue up with the `python-apt` team.

Also, on an unrelated note, why are all of your update sources fai

[2020-12-03 21:38] samdoran commented on #72730
Actually, it looks as if we [added this capability in 2.10](https://docs.ansible.com/ansible/latest/galaxy/user_guide.html#dependencies) (#68288). The roles in `meta/requirements.yml` will be installed during role installation.

[2020-12-03 22:36] el-pako commented on #72751
@sivel thanks for the explanation. Until then, I think this would be a workaround:

[code]

[2020-12-03 23:35] Nytelife26 commented on #72829
@sbienkow I'll file this in for the next core IRC meeting, which is next Tuesday at 19:00 UTC. Once this has been discussed further I'll come back here and let you know the decision we reach on how to best resolve this. In the meantime, you may follow the circumvention options I provided.

Thank you for your patience, and I apologize if this unforeseen delay is of any inconvenience.

[2020-12-04 00:31] zoredache commented on #72668
Seems likely to make life more difficult for anyone using ansible-pull instead of the controller method of using ansible.

[2020-12-04 01:01] pyrodie18 commented on #72841
@Nytelife26 fiar enough.  Reference your question its because they are local repos that the box may/may not have access to at the moment.

[2020-12-04 01:01] #72841 closed, assigned to nobody

[2020-12-04 04:02] agowa338 commented on #72748
Yes, hashing works too and is maybe also a bit more resilient than just using mtime.

Basically, when the property "changes" is specified ansible should:
1. Hash the file that it specifies
2. Run the task
3. Hash the file again
5. Compare the two hashes and report only as changed when both hashes do **not** match

[2020-12-04 05:06] yogo1212 commented on #72833
dear mr. bot, here you go:

##### ANSIBLE VERSION
[code]

how do you know this affects 2.11?

[2020-12-04 09:18] sbienkow commented on #72829
Thanks @Nytelife26 for pushing this forward. It's appreciated.

I don't expect issues to get fixed within hours. I just think it needs to be fixed at some point :)

Since you managed to narrow down the issue, I'll update the title with something shorter and more descriptive.

[2020-12-04 12:43] rosaLux161 commented on #72752
Pull request: #72853

[2020-12-04 13:00] ssbarnea opened #72854 "ansible-test sanity --requirements fails to install pylint"
##### SUMMARY
ansible-test sanity --requirements fails to install pylint, which is needed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Adding ``--requirements`` is supposed to install missing requirements, but fails to install pylint.

[2020-12-04 13:07] ssbarnea opened #72855 "ansible-test fails to mention which interpreter as soon it picks one"
##### SUMMARY
ansible-test fails to mention which interpreter as soon it picks one, causing confusing errors where user has no clue why pip install may complain about missing wheel when in fact he has wheel installed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
any

##### STEPS TO REPRODUCE
*

[2020-12-04 13:45] webknjaz commented on #72855
Does adding `-vv` help with that?

[2020-12-04 13:47] webknjaz commented on #72854
Do you have an example output with `-vv`?

[2020-12-04 14:59] Cadjoe opened #72857 "Unable to install packages with yum/dnf module"
##### SUMMARY

The playbook runs the fast task but fails on installing the zabbix-agent indicating that the `dnf` module is the issue.
I manage the environment with AWX 14.1.0

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OracleLinux: 8, 7 & 6, all run on VMware VC.

##### STEPS TO REPRODUCE

[code]

[2020-12-04 15:06] moody-visaops opened #72858 "community.aws.rds_instance module does not handle purging of unassociated security groups"
##### SUMMARY

Using the community.aws.rds_instance module, I've created an RDS Instance with 4 security groups. Then I removed one from my playbook and re-ran it. The expected result was for the RDS Instance to now have 3. However, the security groups are unaffected and 4 remain. The ansible run shows no change.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

rds_instance

##### ANSIBLE VER

[2020-12-04 15:12] s-hertel commented on #46447
This still seems like something we need to fix.

[2020-12-04 15:13] #72858 closed, assigned to nobody

[2020-12-04 15:14] sivel commented on #72857
Your `when` statement is indented too far:

You want:
[code]

instead of:
[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-12-04 15:14] #72857 closed, assigned to nobody

[2020-12-04 15:18] webknjaz commented on #72668
I think by the time people will actually want to use Ansible 2.12, those distros will bump their Python versions. Until that, they can keep using the supported Ansible version of 2.9 (which works with the content with collections just fine — actually, I think, Ansible 2.8 also works with collections).

[2020-12-04 15:18] s-hertel commented on #60219
@mattclay What are your thoughts on this one?

[2020-12-04 15:28] s-hertel commented on #20802
Removing the `register` and `until` boilerplate for retries seems convenient.

[2020-12-04 15:48] s-hertel commented on #21885
It looks like this is happening because `when` is part of the role signature (since the commit linked above), therefore they're different and the role runs two times. We discussed this in backlog today and think this is the behavior we want.

[2020-12-04 15:48] #21885 closed, assigned to jimi-c

[2020-12-04 15:49] eferet opened #72859 "filesystem is not idempotent when used with resizefs option"
##### SUMMARY
After running filesystem twice with resizefs argument set to 'yes', the second time it fails with an error:
[code]
due to not monted filesystem.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
filesystem

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No notable changes.

##### OS / ENVIRONMENT
Ubuntu

##### STEPS TO REPRODUCE
Minimal playbook to run on system with lvm and lv

[2020-12-04 15:55] #72859 closed, assigned to nobody

[2020-12-04 15:55] s-hertel commented on #28977
It seems like we could possibly include the original error in `can_handle_archive`.

[2020-12-04 16:02] mattclay commented on #72854
Python 3.9 is not yet supported. See: https://github.com/ansible/ansible/pull/70155

[2020-12-04 16:27] serverfriendsorg commented on #72752
Exactly, such a feature would be great. But as far I've seen @rosaLux161 build it already.

[2020-12-04 16:54] samdoran commented on #72740
No, not in the play context.

[2020-12-04 17:09] smemsh commented on #21885
it should really be added to docs for `allow_duplicates` then.  it's pretty confusing and doesn't match common sense.

[2020-12-04 17:12] #68398 closed, assigned to nobody

[2020-12-04 17:13] #69561 closed, assigned to nobody

[2020-12-04 17:28] samdoran commented on #72752
I just wanted to make sure I understood the feature request correctly. I left feedback on #72853.

[2020-12-04 17:29] sivel commented on #21885
This is documented at https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#running-role-dependencies-multiple-times-in-one-playbook

That explicitly states that a `when clause` is used for detecting duplicate role invocations.  The `when` statement is part of the role signature.

[2020-12-04 18:09] rudimocnik opened #72860 "ansible_command_timeout not working within task in a role with ansible version 2.10.3"
---
name: 🐛 Bug report
about: ansible_command_timeout not working within task in a role with ansible version 2.10.3
---

##### SUMMARY
Hi
I have a playbook using my role to upgrade cisco devices. It worked before the upgrade (2.9.x) and after the upgrade it is breaking with error: "timeout value 30 seconds reached while trying to send command". My ansible.cfg has ansible_timeout = 30 under [persis

[2020-12-04 18:27] yogo1212 commented on #72833
@sivel oh damn! you're right. i've been using that for years... :facepalm:

still, i think it should be cool to have some kind of concensus about how/whether something like scopes could be achieved.

[2020-12-04 20:39] aminvakil opened #72867 "testing_sanity: missing information about collections with dependencies"
##### SUMMARY
https://docs.ansible.com/ansible/latest/dev_guide/testing_sanity.html

Running sanity tests in docker using `ansible-test sanity --docker` copies the dependencies which are installed in the same collection root to the docker.

So that for example if a developer wants to run sanity tests on docker for `cisco.ios` collection which is dependent on `ansible.netcommon` should install the

[2020-12-04 20:57] samccann opened #72868 "Update testing Prs with Azure pipelines details"
##### SUMMARY

ansible/ansible is using Azure pipelines for CI on PRs now. Need to update this page to remove shippable details and add pipelines details -
https://docs.ansible.com/ansible/devel/dev_guide/testing.html#testing-within-github-shippable

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS

[2020-12-04 20:57] samccann commented on #72868
should basically be s/shippable/azure pipelines/ and possibly updating the bot commands to request re-run.

[2020-12-05 01:16] sergiosamu commented on #72769
Hello @FlorianJDF
I'm facing the same issue. Did you manage to solve it?
Thanks in advance.

[2020-12-05 10:23] FlorianJDF commented on #72769
Hi @sergiosamu

Yes I did.
If fact ansible <= 2.9 do not work with the python kubertes lib > 11.0.0.
So if like me you are using rhel, so ansible 2.10 is not supported, you need to use kubernetes==11.0.0.

Warning, I was using the openshift 0.11.2 lib that before installed the kubernetes 11 lib, but now installs the kubernetes 12 lib.

I hope this helps you,

[2020-12-05 16:38] sergiosamu commented on #72769
Hello!

Thanks for your tips.
Switching to kubernetes 11.0.0 and openshift 0.11.0 solved the issue.

Best.

On Sat, Dec 5, 2020, 11:23 Florian Teissedre <notifications@github.com>
wrote:

[2020-12-05 17:14] goetzc commented on #72745
I can assure you it's working :)

Why would you do this?

[code]

Source file are below:

`ansible.cfg`
[code]

`hosts.ini`
[code]

`playbooks/site.yml`
[code]

`playbooks/local.yml`
[code]

`Vagrantfile`
[code]

[2020-12-06 11:26] jpmens opened #72873 "fileglob lookup plugin returns inconsistent values"
##### SUMMARY

The `fileglob` lookup plugin returns values inconsistently, depending on the order of arguments (terms) given it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

fileglob

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Catalina (10.15.7)

##### STEPS TO REPRODUCE

Run the example playbook

[code]

##### EXPECTED RESULTS

I expected th

[2020-12-07 06:23] mkrizek commented on #72860
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/an

[2020-12-07 06:23] #72860 closed, assigned to nobody

[2020-12-07 11:39] mnecas opened #72875 "Setup facts - RHV 4.4.3 virtualization"
##### SUMMARY

There were some changes in the RHV engine which changed sys_vendor. So now the setup facts are not correct.
(https://bugzilla.redhat.com/show_bug.cgi?id=1904085)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

setup - virtualization facts
##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

You need to have RHV 4.4.3 and some VM inside on which you will run:
`ansible -m se

[2020-12-07 11:43] preetesh33 opened #72877 "Instead of running only tagged role task ansible executes all task from tagged task, like option "--start-at-task""
##### SUMMARY
When an task is tagged in playbook ansible execute all task starting from tagged task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
]# cat /etc/redhat-release
CentOS Linux release 7.8.2003 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
ansible must only execute tagged task.

[2020-12-07 13:09] mkrizek commented on #72877
If you don't specify `--tags` or `--skip-tags` on the command line, all tasks are executed which is what happens in your example.

Please see https://docs.ansible.com/ansible/latest/user_guide/playbooks_tags.html:

IRC or the mailing list are better suited for user questions like this:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-12-07 13:09] #72877 closed, assigned to nobody

[2020-12-07 13:22] mkrizek commented on #72875
Sending just a pull request is fine, no need to create an issue for it. I am going to close this in favor of https://github.com/ansible/ansible/pull/72876.

[2020-12-07 13:22] #72875 closed, assigned to nobody

[2020-12-07 14:27] preetesh33 commented on #72877
@mkrizek Thank you for your response, I want to write a playbook wherein I can call multiple roles and instead of writing new playbook I can simply call tagged task from existing role.

For example if I want to install application "B" for which I have written a role but application "B" pre-requisite is to stop application "A" and once installation is done start application "A" back again.
So, inst

[2020-12-07 14:39] PierreSat opened #72878 "delegate_to doesn't work when using ansible_connection winrm"
We have performed and upgrade of Ansible and Tower, since then we recognized that delegate_to is using winrm port 5986 and no longer 5985

old version:
Ansible vers. 2.9.1
Tower vers. 3.6.2

new version:
Ansible vers. 2.9.13
Tower vers. 3.7.3

[2020-12-07 14:55] PierreSat commented on #72878
SUMMARY
We have performed and upgrade of Ansible and Tower, since then we recognized that delegate_to is using winrm port 5986 and no longer 5985

ISSUE TYPE
Bug Report

COMPONENT NAME
delegate_to

ANSIBLE VERSION
old version:
Ansible vers. 2.9.1
Tower vers. 3.6.2

new version:
Ansible vers. 2.9.13
Tower vers. 3.7.3

[2020-12-07 15:57] Shrews commented on #72873
This looks to be a bug in `fileglob`, specifically, here:

https://github.com/ansible/ansible/blob/6608f3aab338f9e4e871afe77ded7b69e50f23f6/lib/ansible/plugins/lookup/fileglob.py#L78-L81

In the broken case, the wildcard glob is being processed first, which makes `ret` contain a value. When `setvars.bat` is processed next, `glob.glob` will return `[]` for the first `found_path`, does not extend th

[2020-12-07 17:23] sivel commented on #72878
I believe this is a duplicate of https://github.com/ansible/ansible/issues/72148

[2020-12-07 17:49] #16130 closed, assigned to abadger

[2020-12-07 18:01] deepbluemussel opened #72881 "Decrypt a file with a multiple vault id file fail when file was encrypted with a single vault id first"
##### SUMMARY

After encrypting a file with a vault-id file, trying to decrypt it with a multiple vault id file that contains the id the encrypted the file fail.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-vault --vault-id
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

As mentionned in [

[2020-12-07 18:08] sivel commented on #72881
Duplicate of https://github.com/ansible/ansible/issues/72230

That documentation is completely bogus, and doesn't actually represent any functionality in Ansible.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-12-07 18:08] #72881 closed, assigned to nobody

[2020-12-07 18:34] goldpanic commented on #72881
Should I look for an other way to work with multiple vault id file or just give up?

[2020-12-07 18:37] sivel commented on #72881
You cannot put multiple vault IDs in a single file. You can only specify exactly 1 password per file, however you can provide multiple files via config or on the CLI.

See https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-vault-identity-list and the `--vault-id` CLI flag (which can be supplied multiple times).

[2020-12-07 18:56] sivel commented on #72745
I think what you want is:

[code]

The inline format is deprecated.

[2020-12-07 21:06] yurtesen commented on #56046
II have a similar problem

[2020-12-07 21:14] AmeyaLokre opened #72887 "cryptography package requirement for ansible-test"
ansible version: ansible 2.10.3

As can be seen in the file [requirements/constraints.txt](https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/_data/requirements/constraints.txt) on line 5, ansible-test has minimum requirement of `cryptography<3.2`.

There was a security fix in the cryptography package 3.2 as can be seen in the [changelog](https://github.com/pyca/cryptography/blob/

[2020-12-07 21:37] sivel commented on #72776
I'm looking over https://github.com/ansible/ansible/commit/8c213c93345db5489c24458880ec3ff81b334dbd and I'm not sure what the right thing to do is here.

I'm pretty sure that commit was addressing a symptom and not the problem.

The task definition should be templated using the host vars of the host in the loop, and as such, when `post_validate` runs, I expect that the task is finalized.

However,

[2020-12-07 21:50] yurtesen commented on #56046
This problem seems to be going on since 2017.... :( is there any reason why it is not fixed yet?

[2020-12-08 07:16] dxcbrassel commented on #72878
It's not a duplicate but pretty similar.
We got a connection timeout error, not an authentication error. And we are using ntlm authentication instead of kerberos.

But we found the issue on our side:
We still used the old ansible variable `ansible_ssh_port` in our inventory.
Updating the inventory to use the new `ansible_port` instead solved the issue on our side.

[2020-12-08 09:06] Nytelife26 commented on #72829
Just to confirm, I will be trying to resolve this later today following the meeting. I haven't forgotten about it, don't worry.

Hopefully we can achieve a good solution for your use case :)

[2020-12-08 09:23] sigella opened #72897 "Can not update gcp instance group"
##### SUMMARY
Can not update unmanaged gcp instance group.
if run ansible second time the error appears:
[code]

Yes, really I have an instance in a group, but why I have got an error,  ansible should work idempotently.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute_instance_group

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.7.1908 (Core)

##### ST

[2020-12-08 09:30] #72897 closed, assigned to nobody

[2020-12-08 14:05] stroobandt commented on #41313
Personally, I have the following:

[code]

In other words, a `changed_when: True` is required to execute the notified handlers even though nothing had changed. I hope this counts towards reinstating this desired behaviour without any warning.

[2020-12-08 14:08] cesarjorgemartinez commented on #41313
Hi,

This not works conditionally as related the issue.

Regards,
Cesar Jorge

El mar., 8 dic. 2020 15:05, Serge Y. Stroobandt <notifications@github.com>
escribió:

[2020-12-08 14:36] Gianlu opened #72899 "Configuration entry to promote warning to errors"
##### SUMMARY
Hello,
it would be nice to have an entry in `ansible.cfg` in order to issue an error (or have a non-zero return code) when warning are issued.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible, ansible-galaxy, ansible-invetory

##### ADDITIONAL INFORMATION
It would be useful in CI / CD scenarios, in order to improve the pipeline.

[code]

[2020-12-08 15:05] AlanCoding opened #72900 "ansible-inventory fails, ansible_base distribution not found"
##### SUMMARY
Trying to do `ansible-inventory` with an inventory plugin that doesn't appear to do anything wrong results in traceback saying that it can't find the ansible_base distribution.

(I am aware that the python package name for Ansible itself changed `ansible` -> `ansible-base` -> `ansible-core`)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-inventory

##### ANSIBLE VERSION

[2020-12-08 15:06] mkrizek commented on #72745
We should change this to deprecation instead of warning.

[2020-12-08 15:10] mkrizek commented on #72833
Duplicate of https://github.com/ansible/ansible/issues/68763#issuecomment-628246777

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-12-08 15:10] #72833 closed, assigned to nobody

[2020-12-08 15:17] sivel commented on #72900
Looks like we need to update these 2 files:

[code]

That `__requires__` is there for `pkg_resources`, and it looks like `linode_api4` is importing `pkg_resources`.

We've since removed out `import pkg_resources`, so I'm curious why we have kept `__requires__` around...

[2020-12-08 15:18] AlanCoding commented on #72900
oh I saw those grepping around but never ever thought they might be related. I'll test really quick.

[2020-12-08 15:30] mkrizek commented on #72878
Closing in favor of https://github.com/ansible/ansible/issues/72148.

[2020-12-08 15:30] #72878 closed, assigned to nobody

[2020-12-08 15:31] #72873 closed, assigned to nobody

[2020-12-08 15:33] tashoyan opened #72902 "Create ConfigMap from a directory containing configuration files."
##### SUMMARY

Our application has all configuration files in a directory `conf`. When deploying to Kubernetes, we used to create a ConfigMap from the entire directory:
[code]
With Ansible k8s module it is impossible for now. It is especially bad, because now we deploy applications from a Docker container running in a Jenkins pipeline. This Docker container has Ansible inside, but it is not suppos

[2020-12-08 15:37] #72902 closed, assigned to nobody

[2020-12-08 15:39] AlanCoding commented on #72900
Thanks, that did indeed work. However, it's really impossible to test without uninstalling and re-installing, so I had to go ahead and make a branch for it, and documented the outcome in the PR https://github.com/ansible/ansible/pull/72903

[2020-12-08 16:25] yurtesen commented on #22286
I came here because I was looking for something like `end_role` sounds like it can be useful due to unfixed ansible bug relating to meta dependencies being executed multiple times if  `include_role` statements are used.
https://github.com/ansible/ansible/issues/56046

[2020-12-08 17:36] goetzc commented on #72745
@sivel This makes sense, and using `vars` is the working solution for this deprecation. It would be handy if this information is added probable as a link to the warning message, when running Ansible.

[2020-12-08 18:22] #72900 closed, assigned to nobody

[2020-12-08 19:06] fthommen commented on #41313
IMHO this would completely defeat the sense of a handler.  You could as well set the handler content as regular next task.

[2020-12-08 19:33] Nytelife26 commented on #72829
@sbienkow Our meeting just concluded. If you wish to read the logs, [here](https://meetbot.fedoraproject.org/ansible-meeting/2020-12-08/ansible_core_public_irc_meeting.2020-12-08-19.00.log.html)

To summarize, though, our conclusion is that failure is the documented behaviour. Therefore, I will attempt to change the behaviour to match the default to resolve your issue. However, it may not be that

[2020-12-08 21:29] sec23206 opened #72908 "Azure dynamic inventory plugin missing a module?"
##### SUMMARY

Trying to use the built-in dynamic inventory plugin for Azure, but getting an error about a missing module 'msrest'.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Catalina v10.15.7
Ansible (and associated Python) installed with Homebrew.

##### STEPS TO REPRODUCE

- Create

[2020-12-08 21:44] #72908 closed, assigned to nobody

[2020-12-09 03:33] dmsimard opened #72913 ""ansible-galaxy collection list" should include collections installed by the ansible package"
##### SUMMARY

Many collections are included in the Ansible package and it would be nice if the ``ansible-galaxy collection list`` command included the location where they are installed so they are accurately reported.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible-galaxy collection list

##### ADDITIONAL INFORMATION

I managed to list the installed collections by setting [ANSIBLE

[2020-12-09 03:35] dmsimard commented on #72913
I'm not familiar with the galaxy CLI code yet but experimented a bit around these bits:
https://github.com/ansible/ansible/blob/e5ccd18be4d8cec6445f96c2868e0820de0afed8/lib/ansible/cli/galaxy.py#L268-L278
https://github.com/ansible/ansible/blob/e5ccd18be4d8cec6445f96c2868e0820de0afed8/lib/ansible/cli/galaxy.py#L1284-L1296

I think it's doable but haven't figured out the right way to do it yet :)

[2020-12-09 05:08] pjnagel commented on #41313
Would it be possible to at least change the error message to state the file and line number where the problematic "flush_handlers:", as well as the offending "when:" around it, occurs?

We have thousands of lines of ansible code, and every time we run it we see "[WARNING]: flush_handlers task does not support when conditional" at the start, but how on earth do we go about finding the cause?

I sti

[2020-12-09 06:40] felixfontein commented on #72913
Duplicate of #70147 :)

[2020-12-09 07:48] mkrizek commented on #72913
Closing per above.

[2020-12-09 07:48] #72913 closed, assigned to nobody

[2020-12-09 08:53] #69848 closed, assigned to nobody

[2020-12-09 11:12] stevenwbe opened #72916 "[Feature request] Ability to securely use $YUM[0-9]/$DNF[0-9] env vars in yum/dnf config files."
##### SUMMARY
Using ansible.builtin.yum_repository or ansible.builtin.yum is missing something when using authenticated repositories.

So we have authenticated yum repositories on nexus. We use the yum_repository module to write them to our /etc/yum.repos.d directory. But as we don't like to have the password defined in the repofile or in the /etc/yum/vars files we wanted to use the YUM1-9 variabl

[2020-12-09 13:39] dmsimard commented on #72913
@felixfontein ah, thanks, I searched and couldn't find it !

[2020-12-09 14:26] johnbui423 opened #72918 "module_defaults for yum do not get picked up when invoked via package"
##### SUMMARY

In 2.10.x, `module_defaults` for `yum` do not get picked up when invoked via `package`. It works fine with 2.9.x.

This seems to be a regression of https://github.com/ansible/ansible/issues/57482 - basing this bug report largely on that original issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module_defaults

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

CentOS

[2020-12-09 14:30] srmo commented on #61025
Ahoi! Just stumbled upon this and I'm so glad there's already an issue for that. Do we actually know a workaround or solution to this or is this still hanging in the air?

[2020-12-09 14:44] EmilienM commented on #61025
@mwhahaha can provide more details but I think our workaround with Alex is that we implemented our own strategies on top of free and linear. See https://review.opendev.org/c/openstack/tripleo-ansible/+/741533

[2020-12-09 14:46] sivel commented on #72918
The problem lies here:

https://github.com/ansible/ansible/blob/a24f51d9e5348f96450d366ece3300074a062800/lib/ansible/plugins/action/package.py#L73-L76

`self._task._ansible_internal_redirect_list` only references `['package']`, so the defaults are never applied.

We may have to extract this logic into some form of helper so that we can use it to build a list based on the selected action/module:

h

[2020-12-09 17:02] gfelot opened #72920 "pip constraint"
##### SUMMARY
Wanted to upgrade the installed version of Apache Airflow to 1.10.12 where they now have a `--constraint` arguments.
https://airflow.apache.org/docs/apache-airflow/stable/installation.html

I see that on this PR there is the option available : #47654
But I cannot make it work so I tried with the `extra_args` but the constraint is seems not to be played because I have error that I hav

[2020-12-09 17:07] sivel commented on #72920
Duplicate of the already opened feature request #47654

[2020-12-09 17:07] #72920 closed, assigned to nobody

[2020-12-09 17:33] semora81 opened #72921 "Issues with windows modules complaining of undefined variables"
##### SUMMARY
We have tried to update from version 2.9.9 to any newer version in 2.9 or 2.10 stream and our playbooks and roles no longer work properly.

When running the play, windows modules are not recognizing the variables for ansible_user and ansible_password.

Important distinction: we are running windows 2019 and have the ssh server configured, ansible is connecting over ssh to the windows

[2020-12-09 17:40] sivel commented on #72921
Ultimately this is a duplicate of https://github.com/ansible/ansible/issues/72776

The issue are some changes have caused connection vars to be templated with the delegated hosts context, instead of the current play host.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-

[2020-12-09 17:40] #72921 closed, assigned to nobody

[2020-12-09 17:41] #70690 closed, assigned to nobody

[2020-12-09 18:43] sivel commented on #44824
Duplicate of https://github.com/ansible/ansible/issues/56345

[2020-12-09 18:43] #44824 closed, assigned to nobody

[2020-12-09 18:57] #65812 closed, assigned to nobody

[2020-12-09 21:10] bsolomon1124 opened #72929 "lineinfile resets extended acl"
_Note_: root/UID 0 `#` prompt has been changed to `$` here to help GitHub get markdown shell syntax highlighting right.

##### SUMMARY

`lineinfile` removes existing ACL as if `setfacl --remove-all` had been called on file.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None overriden.

##### OS / ENVIRONMENT

RHEL 7.9

#####

[2020-12-09 21:29] bsolomon1124 commented on #72929
Going to venture a guess this occurs during/as a result of `atomic_move(tmpfile, dest)` though it claims to "[copy] attributes from dest."

https://github.com/ansible/ansible/blob/0b13ccacb66a17b192335646a44df65e0bbf0041/lib/ansible/module_utils/basic.py#L2309

[2020-12-09 21:31] mattclay commented on #72887
This should be resolved now that https://github.com/ansible/ansible/pull/72922 has been merged.

[2020-12-09 21:31] #72887 closed, assigned to mattclay

[2020-12-09 21:32] sivel commented on #14127
These modules are now maintained in separate repositories.  Feel free to submit PRs to both locations if you wish to attempt resolving this issue.

See https://github.com/ansible-collections/ansible.posix

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-12-09 21:32] #14127 closed, assigned to nobody

[2020-12-09 21:34] sivel commented on #12903
Thank you very much for your interest in Ansible. We have no plans on implementing such a feature.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-12-09 21:34] #12903 closed, assigned to nobody

[2020-12-09 21:38] sivel commented on #14181
Due to the fact that you have defined `environment` at the play level, it also applies to the `include_vars` task, and the `include_vars` task is where the vars are defined, and as such, templating of `environment` will fail to template.

You will need to do something like:

[code]

Otherwise, perhaps evaluate applying `environment` on a `block` that wraps all tasks that need that environment.

If

[2020-12-09 21:38] #14181 closed, assigned to nobody

[2020-12-09 21:53] sivel commented on #15889
This seems to be working as expected now.

With just these:

[code]

I get
[code]

Now, it does only run 1 time, but that is because the parent role signature is not taken into account for deduping.  We have a feature request open for such a thing:  https://github.com/ansible/ansible/issues/67718

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.free

[2020-12-09 21:53] #15889 closed, assigned to jimi-c

[2020-12-09 21:54] sivel commented on #15686
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-12-09 21:54] #15686 closed, assigned to nobody

[2020-12-09 21:56] sivel commented on #15525
Closed via https://github.com/ansible/ansible/commit/9ec69ee7eaf6386e0931a7826cc413f128554d89

[2020-12-09 21:56] #15525 closed, assigned to alikins

[2020-12-09 22:02] sivel commented on #15476
I don't see us really doing anything here.  Note that there are a few features that will resolve most of the issues:

1. You can explicitly flush handlers via `- meta: flush_handlers`
1. You can call a specific roles handler, even if there are name overlaps using the format:

[code]
1. If you name the handler to include the difference in role invocations, you can notify them individually:

    sit

[2020-12-09 22:02] #15476 closed, assigned to nobody

[2020-12-09 22:11] sivel commented on #18299
This was fixed in:

commit 3fd94769dc0d74e06e26dcde049f47c26edb8286
Author: James Cammarata <jimi@sngx.net>
Date:   Mon May 23 14:53:18 2016 -0400

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-12-09 22:11] #18299 closed, assigned to nobody

[2020-12-09 23:23] yurtesen opened #72930 "`include_tasks` show `included:...` lines with `display_ok_hosts` and `display_skip_hosts` set to no"
##### SUMMARY
I am trying to reduce output using
[code]
However `include_tasks` still print out blue `included:...` lines.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_tasks task, default callback?

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible executed using AWX docker installation

##### STEPS TO REPRODUCE
Add following settings to `ansi

[2020-12-09 23:33] sivel commented on #72930
Duplicate of https://github.com/ansible/ansible/issues/72752

[2020-12-09 23:33] #72930 closed, assigned to nobody

[2020-12-09 23:38] yurtesen commented on #72930
Yes, sorry about that :(

[2020-12-10 07:16] immanuelfodor commented on #29857
The all-new CentOS Stream is only installable over CentOS 8 with the following commands which contain a yum/dnf swap: https://www.centos.org/centos-stream/

[code]

[2020-12-10 07:21] immanuelfodor commented on #49967
The all-new CentOS Stream is only installable over CentOS 8 with the following commands which contain a yum/dnf distro-sync: https://www.centos.org/centos-stream/

[code]

[2020-12-10 08:46] niclashoyer commented on #56046
We worked around this issue by actually removing explicit dependencies between all roles and generating our playbooks using a template. This is not easy to handle, but we have huge playbooks that need dependencies. If every dependency would get executed multiple times the playbooks would run forever.

[2020-12-10 10:22] elfringham commented on #34454
Yes please. I would very much like to be able to simply check that all needed paths are created.

[2020-12-10 17:50] narkeekran opened #72934 "Deploy VM from template doesn't change IP"
##### SUMMARY
A playbook that creates a new VM from a template works on esxi 6.7 but has issues applying IP config to new VMs on 7.0

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.vmware.vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
issues on: Hypervisor: VMware ESXi, 7.0.0, 16324942
Works on: Hypervisor: VMware ESXi, 6.7.0, 1432038

[2020-12-10 18:25] grobledoahumada opened #72936 "l2_interfaces for ansible_network_resources not populating TwoGigabitEthernet ports information for ios"
##### SUMMARY

using the ansible_network_resources: l2_interfaces doesn't populate info for TwoGigabitEthernet ports, all other ports are being populated
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- cisco.ios.ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=20.04
DISTRIB_CODENAME=focal
DISTRIB_DESCRIPTION="Ub

[2020-12-10 18:31] sivel commented on #72934
!component =lib/ansible/modules/cloud/vmware/vmware_guest.py

[2020-12-10 18:32] sivel commented on #72936
!component =lib/ansible/modules/network/ios/ios_facts.py

[2020-12-10 18:37] #72936 closed, assigned to nobody

[2020-12-10 18:37] #72934 closed, assigned to nobody

[2020-12-10 21:54] Shrews commented on #72929
I'm not a SELinux expert by any means, but it looks to me like if `atomic_move()` attempts to maintain file SELinux context, but not the ACLs. I'm not totally sure why, but looking at the `libselinux` library, I'm not seeing any API methods that we'd be able to use to set ACLs. The `acl` module (now in the [ansible.posix collection](https://github.com/ansible-collections/ansible.posix)) uses calls

[2020-12-10 23:08] downright-ux opened #72939 "Synchronize - MODULE FAILURE\nSee stdout/stderr for the exact error", "rc": 137}"
##### SUMMARY
Trying to rsync using synchronize module from remote host to local. Seems like the data moves over but then Ansible throws the following issue.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Only thing changed in the configuration file
[code]

##### OS / ENVIRONMENT
Ansible server is on ubuntu 20.04 and othe

[2020-12-10 23:14] #72939 closed, assigned to nobody

[2020-12-11 00:03] jborean93 commented on #70147
Fixed with https://github.com/ansible/ansible/pull/70173. This only includes the short term fix to have `list` show collections in site-packages.

[2020-12-11 00:03] #70147 closed, assigned to nobody

[2020-12-11 00:40] mattclay commented on #72855
@ssbarnea Is this issue about `ansible-test sanity` or `ansible-test units`? The steps to reproduce indicate `sanity`, yet the output listed for actual results is for `units` instead.

needs_info

[2020-12-11 00:55] mattclay commented on #60219
I don't see any reason why this couldn't be implemented. I do wonder how often it would actually be used, given the additional overhead of starting/stopping container(s) for each test target. I don't see it being used in CI for ansible/ansible or collections with many test targets for that reason.

For example, with 6 seconds of overhead per target and 281 targets there would be an additional 28 m

[2020-12-11 01:11] mattclay commented on #72474
Including additional comments received via email:

[2020-12-11 06:06] hiyokotaisa opened #72941 "If include in block section with run_once, the always section isn't always run"
##### SUMMARY
Related: #24301

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- block/rescue/always

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

### Fail Scenario
#### 1. Create a test playbook with `run_once: yes` :

**main.yml**
[code]

**test_fail.yml**
[code]

**test_success.yml**
[code]

#### 2. `always` task will not run:
[code]
### Successful Scenario
#### 1. If there is

[2020-12-11 07:32] yurtesen commented on #56046
@niclashoyer So you implemented your own dependencies because Ansible is broken 👍 Something to consider, thanks for the suggestion.

[2020-12-11 07:44] jimmyw86878 opened #72942 "docker_image: when loading an incomplete archive, the module will not return error"
##### SUMMARY

When loading an incomplete archive (interrupt the process of sending the archive by sftp or scp), docker_image module still go on and will not return any error.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_image

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Operating System: CentOS Linux 7 (Core)
      Kernel: Linux 3.10.0-957.el

[2020-12-11 07:48] #72942 closed, assigned to nobody

[2020-12-11 12:23] LaHwFB opened #72945 "how to connect via ssh to different ansible nodes that have different root credentials ?"
When configuring nodes with **Ansible**, each server has a its own user and password, but it asks for root pass for **ssh** connection.
is it a good idea to give all servers same root pass for easy use?
if not please how can i give each server different root pass and connect via ssh to use same playbook simultaneously in all nodes ?
i am new to **devops** and ***ansible*** so please bear with me

[2020-12-11 12:42] DariuszGlocki opened #72946 "ansible.windows.win_copy module is failing when copy directory with a single file within (local variable 'original_basename' referenced before assignment)"
##### SUMMARY
Using a win_copy to copy a files in defined directory (so as a `src` is provided a path to local folder on Control Node) in case when there is only one file fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible.windows.win_copy

##### ANSIBLE VERSION
ansible **2.10.2**
  config file = None
  configured module search path = ['/home/ansibleusr/.ansible/plugins/modules', '

[2020-12-11 13:06] mkrizek commented on #72945
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-12-11 13:06] #72945 closed, assigned to nobody

[2020-12-11 13:07] mkrizek commented on #72946
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.windows.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!fo

[2020-12-11 13:07] #72946 closed, assigned to nobody

[2020-12-11 14:16] bsolomon1124 commented on #72929
Yes, in this case, it seems like we were basically required to follow any `lineinfile` call with an `acl`. (I'm not sure what other modules might use `atomic_move()`, but guessing there are at least a few.)

[2020-12-11 14:19] ssbarnea commented on #72855
In fact the problem is valid to units and integrations tests, not sanity as on sanity it appears to mention which python version is using.

Still for the others, if called with `command --requirements` any failure to install requirements will be opaque, as pip will start to report errors like the ones I showed which do not mention the used interpreter. This in combination with the fact that the to

[2020-12-11 15:01] s-hertel commented on #16254
Fixed by #71347

[2020-12-11 15:01] #16254 closed, assigned to jimi-c

[2020-12-11 15:07] s-hertel commented on #38487
This seems like a bug with your pager than an issue with Ansible. Do you have a pager set or are you using the default of `less`? There wasn't enough information here for me to reproduce, but if you're still experiencing this, feel free to reopen with a new reproducer.

[2020-12-11 15:07] #38487 closed, assigned to bcoca

[2020-12-11 15:13] s-hertel commented on #60116
I wasn't able to reproduce this on 2.9+. We had some collection-search path improvements in 2.10. If you're still experiencing this, please open a new issue with a new reproducer.

[2020-12-11 15:13] #60116 closed, assigned to nobody

[2020-12-11 15:20] s-hertel commented on #53373
We should either update the default or update the docs instead to indicate an empty string should be passed for the password instead.

[2020-12-11 15:31] #61234 closed, assigned to maxamillion

[2020-12-11 15:54] s-hertel commented on #61871
Closing as per above

[2020-12-11 15:54] #61871 closed, assigned to nobody

[2020-12-11 15:55] s-hertel commented on #62042
Fixed by #62373

[2020-12-11 15:55] #62042 closed, assigned to nobody

[2020-12-11 16:13] richlv commented on #62042
Yay, thank you for the fix :)

[2020-12-11 16:13] samdoran commented on #72929
Similar to https://github.com/ansible/ansible/pull/51868.

[2020-12-11 16:36] javeedf opened #72948 "Playbook filter not working in content of collections in galaxy.ansible.com"
##### SUMMARY
go to https://galaxy.ansible.com/dellemc/enterprise_sonic
click on content, there is filter for roles, playbooks, modules and plugins. unselect all and select only playbook.

It is expected to list the available playbooks in playbooks directory for the collections, but it is not working

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible galaxy

##### ANSIBLE VERSION
ansible

[2020-12-11 16:44] sivel commented on #72948
This repository does not service galaxy.ansible.com.  To report bugs for galaxy.ansible.com please use https://github.com/ansible/galaxy

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-12-11 16:44] #72948 closed, assigned to nobody

[2020-12-11 16:44] dusu0114 opened #72949 "ansible script module run on all node not right execute"
##### SUMMARY
I try to run 'ansible all -m script -a "/etc/ansible/roles/scripts/test.sh"' on my ansible server, there are 3 node(A, B, C) in my ansible hosts file, but the response of command  I found is ansible run the three times but only on one node.

my  'test.sh'  file  only type "hostname -I"

actually 10.39.1.1 is ip of server-controller(also ansible server)
and result is below,

`client-c

[2020-12-11 16:48] sivel commented on #72949
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-12-11 16:48] #72949 closed, assigned to nobody

[2020-12-11 17:20] s-hertel commented on #38763
There's documentation about variable scoping [here](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#scoping-variables). Role defaults/vars are in the play scope.

[2020-12-11 17:20] #38763 closed, assigned to nobody

[2020-12-11 17:34] AmeyaLokre commented on #72887
Hello @mattclay , so when will I be able to pull these latest changes from pypi using the command `pip install -U ansible` ?

[2020-12-11 17:39] ghost opened #72950 "Rewrite Docker scenario guide"
##### SUMMARY
The documentation says you need the `docker` pip package installed on the host running ansible. However, I do not have that package installed (`pip3 freeze | grep docker` returns nothing) but Ansible gives me an error when it's not installed on the server I try to provision. Therefore I am assuming that you need it on remote but not on the host.

Documentation page for the issue is `

[2020-12-11 17:47] sivel commented on #72887
This change will be included in 2.10.5, which is slated for release on Jan 18, 2021.

[2020-12-11 17:50] angwe opened #72951 "ansible.builtin.command docs for 2.9 and 2.10 both claim "cmd" option exists, but Ansible says it doesn't if FQCN is used"
When using "ansible.builtin.command" to designate running a command, the "cmd:" option throws this error:

[code]

When switching to non-FQCN form - "command" - it works fine.

Running Ansible Engine 2.9 from the RHEL 8 supported Ansible Repo via RH Satellite.

[code]

[2020-12-11 17:54] sivel commented on #72951
This has been resolved in https://github.com/ansible/ansible/pull/71824 and will be included in the 2.9.16 and 2.10.4 releases that are scheduled for Dec 14, 2020.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-12-11 17:54] #72951 closed, assigned to nobody

[2020-12-11 18:24] webknjaz opened #72952 "[Forward compatibility] Custom module finders must implement an `exec_module()` method"
##### SUMMARY

`Loader.load_module()` has been deprecated since Python 3.4 (https://docs.python.org/3/library/importlib.html#importlib.abc.Loader.load_module) and the development branch of CPython (aka 3.10-dev) has started to actually raise an `ImportWarning`. Any system that sets the `filterwarnings` feature to `error` will fail loudly.

I've first encountered it coming from `pkg_resources` (htt

[2020-12-11 18:36] webknjaz commented on #72952
!component -lib/ansible/modules/copy.py
!component +lib/ansible/utils/collection_loader/_collection_finder.py
!component +lib/ansible/module_utils/six/__init__.py

[2020-12-11 20:16] vbotka commented on #72941
Works as expected with *include_tasks* instead of *include*.

[2020-12-12 08:32] Kirandp6 opened #72954 "[vmware_guest] After deploy VM network is disconnected - Windows 10 OS"
##### SUMMARY
I have same issue as https://github.com/ansible/ansible/issues/42064
But my os is windows 10
I did check the vmware tools are latest & running on the template

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

[2020-12-12 08:43] #72954 closed, assigned to nobody

[2020-12-13 07:28] bjwhtao opened #72956 "The performance of Ansible-Playbook dealing with complex chained variables are too slow"
##### SUMMARY
Ansible Performance of dealing with complex chained variables definations become too slow  since the version of 2.9.10 at least.

##### ISSUE TYPE
Performance, variables

##### COMPONENT NAME
VarsModule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

define some dict variables, define  their  default value base on

[2020-12-13 15:04] Akasurde commented on #72950
cc @felixfontein

[2020-12-13 15:58] felixfontein commented on #72950
I think the scenario guide is totally out of date and needs to be completely rewritten.

[2020-12-13 18:01] #69030 closed, assigned to nobody

[2020-12-14 00:58] #40796 closed, assigned to nobody

[2020-12-14 01:45] #36028 closed, assigned to nobody

[2020-12-14 09:42] selivan opened #72960 "ansible.builtin.password doc does not list possible values for chars parameter"
##### SUMMARY

https://docs.ansible.com/ansible/latest/collections/ansible/builtin/password_lookup.html :

I suggest to list all possible names or at least add a link to python string module documentation: https://docs.python.org/3/library/string.html

Now you have to search for the relevant python documentation yourself.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

ansible.buil

[2020-12-14 10:53] mihai-satmarean opened #72961 "Ansible couldn't make connection to Windows 10 machine"
##### SUMMARY
We can successfully connect to a windows 10 host via ssh from a linux or a mac console
When trying to connect via ansible we get
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/plugins/connection, ansible ssh
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target os Windows 10

##### STEPS TO REPRODUCE

We enabled sshd usin

[2020-12-14 11:04] alk-rniveau opened #72962 "Ansible --version doesn't show the right version"
##### SUMMARY
I'm on ubuntu 16, python 3.5.2 and ansible 2.10.4.

When I run `ansible --version` I get `ansible 2.10.3`.
I don't understand why I don't get 2.10.4.

FYI, I try to check if a bug I have is fixed as describe here in 2.10.4 https://github.com/ansible/ansible/issues/71528

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[co

[2020-12-14 11:17] mkrizek commented on #72962
This is expected. `ansible --version` shows version of `ansible-base` package, not `ansible`.

See https://github.com/ansible/ansible/pull/72287.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-12-14 11:17] #72962 closed, assigned to nobody

[2020-12-14 15:46] hs-amartin opened #72965 "Ansible ignores symlink files for config"
##### SUMMARY

If I put a symoblic symlink at /etc/ansible/ansible.cfg (or symlink the entire /etc/ansible folder), ansible doesn't detect the ansible.cfg. However if I make a copy of the same file it works fine, as does a hardlink.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible.cfg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

`Python:3` Docke

[2020-12-14 16:08] bcoca commented on #72965
can you do `ls -l  /etc/ansible` i suspect you are creating relative symlinks that are not pointing to the right file since the ansible execution wont share your CWD.

needs_info

[2020-12-14 16:09] imareporter opened #72966 "Galaxy Fetch Fails When Tilde (~) Is Part of Dependency Filename"
Bug Report
---------------

**SUMMARY**

When a file in a role has a tilde (~) in the name, the ansible-galaxy pull fails.

**COMPONENT NAME**

lib/ansible/cli/galaxy.py

**ANSIBLE VERSION**

[code]

**STEPS TO REPRODUCE**

When filename does not contain a tilde (~):

[code]

When filename contains a tilde (~):

[code]

**EXPECTED RESULTS**

I would think roles should be able to accommodate tildes

[2020-12-14 16:11] danmichaelo opened #72967 "Dependencies not declared as metadata on PyPI"
##### SUMMARY

[Poetry](https://python-poetry.org/) fails to install the dependencies of ansible-base (jinja2, PyYAML, cryptography, packaging).

It seems like this is because no [requires-dist](https://packaging.python.org/specifications/core-metadata/#requires-dist-multiple-use) deps are declared at PyPI (`info.requires_dist` in the PyPI JSON representation at https://pypi.org/pypi/ansible/json

[2020-12-14 16:28] bcoca commented on #72941
`include` can be either equivalent to `import_tasks` or 'include_tasks` so 'it depends', considering how inheritance works it is probably translating into an `import` in this case (`include_tasks` will not pass `run_once` to included tasks unless set via `apply`) .

[2020-12-14 18:10] relrod commented on #72967
This is something on the `ansible` side (as opposed to the `ansible-base` side) -- replacing `ansible` with `ansible-base` in your commands does bring in the deps as expected.

This is probably something that needs to be fixed in [antsibull](https://github.com/ansible-community/antsibull).

/cc @abadger

[2020-12-14 18:24] downright-ux commented on #72939
Still didn't resolve this issue

[2020-12-14 18:34] sivel commented on #72966
Duplicate of https://github.com/ansible/ansible/issues/71624

[2020-12-14 18:35] hs-amartin commented on #72965
@bcoca You're right, thought I checked that but was missing the '/' at the start... Closing.

[2020-12-14 18:35] #72965 closed, assigned to nobody

[2020-12-14 18:37] sivel commented on #72956
I'm going to guess this is related to https://github.com/ansible/ansible/issues/68763

If you tried 2.9.2 vs 2.9.6 I'd guess you'd see the same slow down.

[2020-12-14 20:04] sivel commented on #72966
Looks like we have a detection issue, in regards to where `~` is disallowed:

https://github.com/ansible/ansible/blob/bc41dd45141f627b31fbb04443fbaa1ea0c7d1d4/lib/ansible/galaxy/role.py#L336-L338

[2020-12-14 20:17] abadger commented on #72967
@danmichaelo This does not appear to be a bug in ansible or ansible-base packaging, but a lack of feature in poetry.  As that bug report you cited notes, the only 100% right way to deal with this in the current packaging ecosystem is for poetry to resolve deps by downloading packages. It appears that poetry *is* doing that for first-level deps as it installs both ansible and ansible-base for you w

[2020-12-14 23:01] abadger commented on #72967
Okay, I've tested this a bit more.  If I create a wheel for the ansible package, the ansible package will have Requires-Dist information i nthe pypi json output.  However, that doesn't solve this problem at all.  So my guess is that the ansible-base package would need to upload a wheel.  That's problematic because wheels do not support symlinks and ansible-base requires symlinks as its means of sp

[2020-12-15 00:30] #72628 closed, assigned to nobody

[2020-12-15 00:40] webknjaz commented on #72967
@abadger FWIW we already have the infra to replace symlinks with a different mechanism. Also, I confirm that Warehouse only parses the requirements of wheels because sdists potentially have env-dependent deps and there's no reliable way of getting them all without running the untrusted `setup.py` contents.

[2020-12-15 04:00] bjwhtao commented on #72956
currently, my codes are  running well on 2.9.2 on  container without such an issue. It block me to upgrade the ansible ENV to  2.10.3.

Do you have  any suggestions for workaround? My currently workaround is  to make intermediate variables as facts by  `set_facts`.

[2020-12-15 04:33] alkarakully opened #72973 "save_when not working when use ios_config module"
##### SUMMARY
I am using ( save_when) as shown in the format below. but every time I run the playbook it failed. Please see the full traceback below.

[code]

----------------

<1.1.1.1> ESTABLISH LOCAL CONNECTION FOR USER: alkarakully
<1.1.1.1> EXEC /bin/sh -c '( umask 77 && mkdir -p "` echo /home/alkarakully/.ansible/tmp/ansible-local-32282mughoqv4/ansible-tmp-1608006509.6565032-149993903988262

[2020-12-15 06:04] mkrizek commented on #72973
!component =lib/ansible/modules/network/ios/ios_config.py

[2020-12-15 06:09] #72973 closed, assigned to nobody

[2020-12-15 07:27] yogo1212 commented on #72833
@mkrizek `set_fact` [doesn't always work[(https://github.com/ansible/ansible/issues/22025).

it's a lousy experience:
[code]
->
[code]

please, at least be open to the idea that this could be improved.

[2020-12-15 08:03] mkrizek commented on #72833
See https://github.com/ansible/proposals/issues/127.

[2020-12-15 08:18] yogo1212 commented on #72833
@mkrizek my bad!
it was not in the search results for "scope" or "scopes" in the issues and i didn't know about the other repo.
thank you for the link.

[2020-12-15 09:37] nik-git opened #72974 "uptime.py under examples/scripts is not working on latest version."
##### SUMMARY
uptime.py under examples/scripts is not working on latest version.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
examples

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Ubuntu 20
[code]

##### OS / ENVIRONMENT
Ubuntu 20

##### STEPS TO REPRODUCE
1. git clone the ansible repo.
2. make sure you are able to ssh localhost without asking for password on Ubuntu20 terminal.
3. m

[2020-12-15 11:26] mkrizek commented on #72974
If I am reading the script correctly it uses `smart` connection on "explicit" localhost, does the following work for you?
[code]

Also, when you say it's not working on the lastest version, does that mean it worked for you on an older version?

needs_info

[2020-12-15 11:35] mickaeltr commented on #72731
Hi @arnoldy200,
We are seeing the same WARNING on some servers. Did you solve this issue?
I think the related Ansible module is now hosted here: https://github.com/ansible-collections/ansible.windows/
Thanks

[2020-12-15 11:49] segal90 opened #72975 "Hashes are merged instead of replace"
##### SUMMARY
Inventory merges hashes instead of replacing them. If you have the same hash variable in 2 different file variables will be merged.
hash_behaviour is not configured, the default "replace".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Inventory plugin

##### ANSIBLE VERSION
[code]
Also effects:
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Tested on the latest Fed

[2020-12-15 12:09] #37047 closed, assigned to nobody

[2020-12-15 14:59] s-hertel commented on #72975
It looks like this started in 48d4d6ec691b2c749054aa5117761f956d762f1c which fixed `merge`. I get the correct values for both `merge` and `replace` by changing that to combine the top level dictionary:
[code]

[2020-12-15 15:06] #72230 closed, assigned to nobody

[2020-12-15 15:08] bcoca commented on #72941
Also, this might be an issue with nested blocks (include/import create their own block).

[2020-12-15 15:16] sivel commented on #72956
Closing per above, this will be tracked in #68763

As for a work around, you are doing what I would recommend.  Use `set_fact` to finalize the variables that are causing issues.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-12-15 15:16] #72956 closed, assigned to nobody

[2020-12-15 15:23] sivel commented on #72961
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-12-15 15:23] #72961 closed, assigned to nobody

[2020-12-15 15:30] #72967 closed, assigned to nobody

[2020-12-15 15:42] sivel commented on #72974
[code]

[2020-12-15 15:43] sivel commented on #72974
We either need to add an integration test for this script, or remove it.  We don't support use of the API, and the maintenance burden on these scripts is too high.

I vote for removal, which means we also need to remove the docs reference.

[2020-12-15 15:46] mkrizek commented on #72974
+1 for removal

[2020-12-15 16:26] nik-git commented on #72974
This seems not related to documentation.

[2020-12-15 16:38] nik-git commented on #72974
command
[code]
worked fine for localhost. I get dir listing in response.
When I say latest build means now(from source code). one year back I tried the same steps and it was working fine.

[2020-12-15 16:44] nik-git commented on #72974
is there any other way/location from where I can get such working examples(like uptime.py). Removing such examples completely from the repo would be dishearning for people like me. 😄
One year back I did a POC using the calls shown in uptime.py and everyone in my team was so happy seeing that.
I would request to provide references/links from where I can find such examples.
Thanks.

[2020-12-15 16:59] bcoca commented on #72974
FYI `-c smart` will be ignored, you need to use `-e ansilbe_connection=smart` as 'implicit localhost' defines the variable which has higher precedence than cli option.

[2020-12-15 17:01] bcoca commented on #72974
@nik-git the uptime.py IS the example, but as @sivel mentioned its not something we support, the real usage of the internal API is done by the CLI tools, which are the supported interface.

Also you might want to look into ansible-runner instead https://github.com/ansible/ansible-runner

[2020-12-15 17:13] keks24 commented on #34454
+1

It would be nice, if the following could be made possible:

[code]

The yml list should be an `OR-link` as default. I currently have no clue how to indicate, that the list should be an `AND-link`.

[2020-12-15 17:46] amentee opened #72980 "Ansible 2.10 - SSH to the servers not working properly"
Hi All,

We had one ansible playbook in place to capture uptime of the Linux servers. I checked last week and it worked just fine. Now I checked again after a week and the only change is that ansible server was patched and earlier it was running on 2.8 (as far as I remember). Below is my playbook contents

*********************
---
- hosts: test
  gather_facts: True
  tasks:
  - name: collect time

[2020-12-15 17:51] sivel opened #72981 "get_url does not respect unsafe_writes"
##### SUMMARY
`get_url` inherits from `add_file_common_args`, which includes `unsafe_writes`, however our call to `atomic_move` does not pass this argument along.

https://github.com/ansible/ansible/blob/5226ac5778d3b57296b925de5d4ad0b485bb11cd/lib/ansible/modules/get_url.py#L463

https://github.com/ansible/ansible/blob/5226ac5778d3b57296b925de5d4ad0b485bb11cd/lib/ansible/modules/get_url.py#L633

[2020-12-15 17:58] sivel commented on #72981
The most complicated part of this fix will be writing tests to ensure that the module actually uses `unsafe_writes`.

[2020-12-15 18:02] sivel commented on #72981
I marked this as a `tower_blocker`/`P2` for 2.11, as it's causing issues with execution environments.

[2020-12-15 18:07] AlanCoding commented on #72981
I have my test cases here https://github.com/AlanCoding/execution-environments-issues

and I don't see what role `unsafe_writes` can play in fixing the problem. The module `blockinfile` does not fail to pass the unsfe_writes parameter that you are suggesting fixing here. Attempting to run:

[code]

This still hits the permissions error moving a file from `/root/.ansible/tmp/...` to `/runner/...`

[2020-12-15 18:16] sivel commented on #72981
Another workaround as I indicated to @shanemcd is to set `ansible_remote_tmp=/runner/.ansible/tmp` so that the tmp files are created on the same mount/fs.

I'd have to see what error and traceback is being bubbled up from `blockinfile`, but with `get_url` it was failing on `os.rename` in `atomic_move`, which with `unsafe_writes` falls back to another means if `os.rename` fails.

[2020-12-15 18:25] AlanCoding commented on #72981
Is there a way to tell Ansible to use that location for `ansible_remote_tmp` if, and only if, it is running on localhost? That could potentially solve the problem without a large amount of other fallout. For "our" playbooks, it already solves the problem.

@shanemcd came up with another fix, which is to simply use `docker` as opposed to `podman`, so this may also reflect a deeper podman issue. Tha

[2020-12-15 18:27] #67118 closed, assigned to nobody

[2020-12-15 18:27] #72854 closed, assigned to nobody

[2020-12-15 18:30] mattclay commented on #72854
@ssbarnea The change in https://github.com/ansible/ansible/pull/72972 now allows `pylint` to work for Python 3.8. It is now automatically skipped on Python 3.9. Once https://github.com/PyCQA/pylint/issues/3701 is resolved we should be able to update `pylint` to a newer version that supports Python 3.9.

[2020-12-15 18:31] mattclay commented on #67118
@evgeni Now that https://github.com/ansible/ansible/pull/72972 is merged, Python 3.8 is supported for the `pylint` sanity test. There is still more work to be done to support Python 3.9.

[2020-12-15 18:34] evgeni commented on #67118
Thanks!

[2020-12-15 18:59] sivel commented on #72981
If `localhost` is in inventory, you can set it with a host var.  Otherwise it might get tricky to try to dynamically do it.  You might be able to add a `set_fact` to your playbook:

[code]

[2020-12-15 19:10] sivel commented on #72981
Also, it looks like the fallback to `unsafe_writes` may be failing as we are getting `errno.EXDEV`

So we likely have to couple my original diff, along with:
[code]

[2020-12-15 21:55] sivel commented on #72981
Ok, using https://github.com/ansible/ansible/pull/70722 and my diff in the initial comment fixes the issue, when using `unsafe_writes: true`.

I'm asking that my `get_url` diff be applied in #70722

[2020-12-15 22:46] shanemcd commented on #72981
@AlanCoding Just to be clear, using Docker in production is not an option for us. Right now it's looking like we will need to go with either `ansible_remote_tmp` or `unsafe_writes`.

[2020-12-15 23:05] bcoca commented on #72981
@AlanCoding  your issue seems to be same as #70535

[2020-12-16 00:38] joshsol1 opened #72991 "Ansible/WinRM connection hang"
##### SUMMARY
While trying to make changes to newly built windows VM's the playbook gets part way through and hangs indefintely. Does not timeout or complete.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible and WinRM, specificly using win_regedit at the moment but have had similar problems with win_ping and a few other win_ modules.

##### ANSIBLE VERSION
ansible 2.10.2

##### CONFIGU

[2020-12-16 00:58] joshsol1 commented on #72991
extra info, below is the output with debug enabled.

 29035 1608079697.84478: _low_level_execute_command() done: rc=0, stdout={"changed":false,"invocation":{"module_args":{"path":"HKLM:\\SOFTWARE\\Policies\\Microsoft\\Windows\\CurrentVersion\\Internet Settings","state":"present","name":"ProxySettingsPerUser","delete_key":true,"hive":null,"type":"dword","data":0}},"data_changed":false,"data_type_ch

[2020-12-16 03:19] AlanCoding commented on #72981
Taking stock of available workarounds:

 - Setting `ansible_remote_tmp` specific to localhost will solve the problem without messing with truly remote tasks, but only if the user is using these modules _only_ for files in the mounted volume. If they do one thing in `/runner` (containing the playbook dir, the mounted volume) and one thing in `/tmp` the fix won't work.
 -  Setting `ansible_remote_tm

[2020-12-16 04:04] ursetto commented on #72061
Same here, back on 2.9.1 — packages not upgrading to latest.

This is when installing on a system with the **subscription-manager plugin enabled, but not registered**. (You can see this is also the case in the original issue description.) To be clear, this is when you are installing a package from a repository not handled by subscription-manager.

It can be worked around by adding `disable_plugin:

[2020-12-16 04:29] joshsol1 commented on #72991
I will close this, after all that I found another thread unrelated to this issue but to do with another winrm issue explaining on install sometimes WSI gets corrupt and a reboot will fix it. Added an extra reboot into the playbook after the initial build and the problem hasn't reappeared.

[2020-12-16 04:29] #72991 closed, assigned to nobody

[2020-12-16 04:59] nik-git commented on #72974
Thank you for sharing about ansible-runner.
Closing this ticket now.
Thanks all.

[2020-12-16 04:59] #72974 closed, assigned to nobody

[2020-12-16 06:57] selivan commented on #14127
New issue in separate repository: https://github.com/ansible-collections/ansible.posix/issues/124

[2020-12-16 07:02] evgeni commented on #67118
@mattclay one question, are you planning to backport this fix to 2.10 too?

[2020-12-16 08:16] hunter86bg opened #72992 "user's password_lock works only with "yes" but ignores "True""
##### SUMMARY
Ansible module for local user management does not lock the user if using:
[code]
yet the following works:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible.builtin.user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Target OS - RHEL 8.1

##### STEPS TO REPRODUCE
Just create a user with
[code]

Note: Sensitive data was replaced!
[c

[2020-12-16 14:39] sebastianw opened #72994 "Ansible does not enable Jinja2 line statements for templating even though docs say it does"
##### SUMMARY
In the documentation regarding templating it says that we can use Jinja2 line statements in Ansible templates. But this is not enabled when generating the Jinja2 Environment for Ansible.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS 10.15.7

##### ADDITIONAL INFORMATION

[2020-12-16 14:56] sivel commented on #72994
The code that enables the custom jinja2 settings using the `#jinja2:` header in a template file is done via:

https://github.com/ansible/ansible/blob/252685092cacdd0f8b485ed6f105ec7acc29c7a4/lib/ansible/template/__init__.py#L1078-L1086

I'm not really following what problem it is you are trying to describe in this issue.  You have not shown any example of something that does not work as expected.

[2020-12-16 15:18] mkrawczuk opened #72995 "ansible executable missing after installing from pip"
##### SUMMARY
I have installed ansible on Ubuntu 18.4 with command
`pip3 install --user ansible`
Using python3.6.9.
The installation was successful and installed Ansible version 2.10.4. However, the `ansible` executables are missing from my `~/.local/bin` directory. Actually, I've tried searching them everywhere with `find / -name ansible 2>&1`. The executable is missing.

Tried something like
`$

[2020-12-16 16:01] sebastianw commented on #72994
@sivel I think I confused the Jinja2 header that Ansible uses with the [Jinja2 Line Statements ](https://jinja.palletsprojects.com/en/2.11.x/templates/#line-statements) which in their examples also uses `#` as a marker. I tried setting the header in a template file that is included by the main template, not the main template itself. This doesn't work, if I understand the code you quoted correctly

[2020-12-16 16:01] #72994 closed, assigned to nobody

[2020-12-16 16:23] #72975 closed, assigned to nobody

[2020-12-16 16:50] cezmunsta opened #72996 "Issue accessing a file with both the copy module and lookup_file plugin"
##### SUMMARY

There seems to be an issue affecting both the copy module and the lookup_file plugin where, despite an entire playbook running with `become: yes`, a file that is accessible to `root` is inaccessible to tasks using the module or the plugin.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

copy module
lookup_file plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2020-12-16 16:59] sivel commented on #72996
The underlying action to copy a file to a remote host, as well as execution of lookup plugins, happens under the process and user permissions of the `ansible-playbook` command.

So if the user you execute `ansible-playbook` as cannot access those files, then neither can `scp`/`sftp` or lookup plugins.

`become` is only used on the target host as part of module executions.

If you have further ques

[2020-12-16 16:59] #72996 closed, assigned to nobody

[2020-12-16 18:25] bcoca commented on #72996
@cezmunsta use a become with a `slurp` task, `delegate_to: localhost`, but remember you have to use the 'controller' credentials for privilege escalation.

[2020-12-16 18:43] mattclay commented on #67118
@evgeni I've opened a backport for 2.10: https://github.com/ansible/ansible/pull/72997

[2020-12-16 18:50] cezmunsta commented on #72996
Thanks @bcoca. Sadly, that doesn't seem to work either:
[code]
[code]

Same for 2.10.4.

The original report had password-less `sudo`, this example does require a password

[2020-12-16 18:51] Keith-Nowosielski-SJSU opened #72998 "Yum Module Error "dnf install -y python2-dnf""
##### SUMMARY

When using the Yum Module to install patches on rhel 6 and 7 systems without python 3, this error occurs -

`fatal: [servername]: FAILED! => {"changed": false, "cmd": "dnf install -y python2-dnf", "msg": "[Errno 2] No such file or directory", "rc": 2}`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]
Also ansible 2.9.14 in awx version 15.0.1

[2020-12-16 19:08] sivel commented on #72998
It appears the `yum` module is incorrectly detecting the package manager as `dnf`.

And then when trying to invoke `dnf install -y python2-dnf` the `dnf` command cannot be found.

Can you add a task like this before the `yum` task?

[code]

[2020-12-16 19:10] sivel commented on #72996
The recommendation was to use something like:

[code]

Instead of `lookup('file', '/tmp/test1/hosts')`

You would have to ensure that you have the correct become_password configured for `localhost` if it is different than the targets.

[2020-12-16 19:15] Keith-Nowosielski-SJSU commented on #72998
[code]

[2020-12-16 19:16] Keith-Nowosielski-SJSU commented on #72998
TASK [debug] *********************************************************************************************************************************************************************************
task path: /tmp/data/devel_systems-patching/Systems-Patching/linux/main.yml:87
ok: [servername] => {
    "ansible_pkg_mgr": "dnf"
}
Read vars_file './vars/vars_file.yml'

[2020-12-16 19:21] electrofelix commented on #19763
@geerlingguy I've been meaning to follow up on this for a few years. I recall debugging a couple of problems, that may be less important now. One is a race condition around where the checking if the process is still running is done after checking for output returned. The problem being that output might be returned in between. The second is that additional process file descriptors may exist and be

[2020-12-16 19:21] estienne69 opened #72999 "URI password get masked even if I need it in cleartext"
##### SUMMARY
When issuing a URI ansible call with json, if the "password" used to connect to the webservices is in the json output, it get masked by ansible.
Use case: using Ansible to retrieve a password in a WEB Password Vault, it just happen that the password used and the password returned is the same; Ansible scramble the returned output, no way around it.

##### ISSUE TYPE
- Bug Report

####

[2020-12-16 19:22] sivel commented on #72998
Do you by chance have `ansible_pkg_mgr` defined in `./vars/vars_file.yml`?

Can you run ansible adhoc against that host without a playbook?

[code]

[2020-12-16 19:24] sivel commented on #72999
This is the expected behavior.

Duplicate of https://github.com/ansible/ansible/issues/23671

[2020-12-16 19:24] #72999 closed, assigned to nobody

[2020-12-16 19:27] Keith-Nowosielski-SJSU commented on #72998
[code]

[2020-12-16 19:28] sivel commented on #72998
Sorry, I made a typo, that should be `filter` not `fiter`

[code]

[2020-12-16 19:31] Keith-Nowosielski-SJSU commented on #72998
[root@servername]# ansible servername -m setup -a filter=ansible_pkg_mgr --ask-pass --ask-become
SSH password:
BECOME password[defaults to SSH password]:
[WARNING]: Invalid characters were found in group names but not replaced, use -vvvv to see details
servername | SUCCESS => {
    "ansible_facts": {
        "ansible_pkg_mgr": "yum",
        "discovered_interpreter_python": "/usr/bin/python"
    }

[2020-12-16 19:32] sivel commented on #72998
This indicates that you have defined `ansible_pkg_mgr` somewhere, that is overriding that which is coming back from `gather_facts/setup`.

When independently queried, you are getting `yum` as expected.  But in the context of the playbook you are using, it is returning `dnf`.  So something your playbook is using or doing is incorrectly setting the value to `dnf`.

[2020-12-16 19:33] estienne69 commented on #72999
Quick response (REALLY quick).
Sorry I didn't find the original.

I STILL think there should be an option in uri. In my case it's not a bad password, no matter how complex it is, if the password vault returns the same password used to connect to the vault, I can't retrieve it.

[2020-12-16 19:35] Keith-Nowosielski-SJSU commented on #72998
Here's the whole playbook:

---
- name: Snapshot and Patch Linux Systems | Group "{{ host_grp }}"
  hosts: "{{ host_grp }}"
  gather_facts: true
  become: no
  connection: local
  vars_files:
    - ./vars/vars_file.yml

  tasks:
   - name: SNAPSHOT | "{{ snap_ }}" "{{ snapshot_name }}"
     vmware_guest_snapshot:
        hostname: "{{ vsphere_hostname }}"
        username: "{{ vsphere_username }}"

[2020-12-16 19:37] Keith-Nowosielski-SJSU commented on #72998
Here's the vars file with removed values. I do have the python interpreter listed but its commented out.

---
 #ansible_python_interpreter: "/usr/bin/python3"

#ansible inventory
host_grp:

#Linux System Variables
pkg_name: "*"
pkg_state: "latest"

#vsphere settings
vca_datacenter:
snapshot_name:
snapshot_description:
snap_state:
snap_:

#vsphere cred
vsphere_hostname:
vsphere_username:
vsphere_pa

[2020-12-16 19:50] sivel commented on #72998
Try running your playbook like this (example taken from initial reproducer):

[code]

You should see something like this:

[code]

[2020-12-16 19:53] Keith-Nowosielski-SJSU commented on #72998
I created a new playbook just now with only the connection info and only the yum task without a vars file and the same results.

[code]

##########################RESULTS###########################################################
[code]

[2020-12-16 20:00] Keith-Nowosielski-SJSU commented on #72998
[root@servername]# ANSIBLE_DEBUG=1 ansible-playbook main.yml --skip-tags "snapshot, subscription_manager, reboot" --ask-pass --ask-become | grep 'variable.*ansible_pkg_mgr'
SSH password:
BECOME password[defaults to SSH password]:
[WARNING]: Invalid characters were found in group names but not replaced, use -vvvv to see details
[DEPRECATION WARNING]: Distribution centos 8.2.2004 on host servername

[2020-12-16 20:14] sivel commented on #72998
Ah, my mistake, I thought variable tracking was added in 2.9, but it appears to have been added in 2.10.

I see from that warning you have an EL8 host in the mix using python2, when it should be using `/usr/libexec/platform-python`

I'd recommend limiting your runs to just problematic hosts, and being more explicit about what OS and version it is in your reports.  I'm not sure how to help you furt

[2020-12-16 21:08] Keith-Nowosielski-SJSU commented on #72998
Upgraded to 2.10.4 and get the same result.

[2020-12-16 21:10] sivel commented on #72998
If you have 2.10 now, then the `ANSIBLE_DEBUG=1 ... | grep ...` should give you the earlier details requested

[2020-12-16 21:13] Keith-Nowosielski-SJSU commented on #72998
[WARNING]: Invalid characters were found in group names but not replaced, use
-vvvv to see details
[DEPRECATION WARNING]: Distribution centos 8.2.2004 on host servername
should use /usr/libexec/platform-python, but is using /usr/bin/python for
backward compatibility with prior Ansible releases. A future Ansible release
will default to using the discovered platform python for this host. See https:/

[2020-12-16 21:48] Keith-Nowosielski-SJSU commented on #72998
Should I try to force it to use yum for ansible_pkg_mgr?

[2020-12-16 22:18] Keith-Nowosielski-SJSU commented on #72998
If I set ansible_pgk_mgr: "yum" on my test.yml playbook with minimal settings and task it sorta works but not really.
Result:

TASK [Linux Patching | RHEL YUM - "{{ pkg_name }}"] ******************************************************************************************************************************************
fatal: [its-capp01rhdev]: FAILED! => {"ansible_facts": {"discovered_interpreter_py

[2020-12-16 22:23] Keith-Nowosielski-SJSU commented on #72998
If I set ansible_pkg_mgr: "yum" in my main.yml then it gives the same result as before where it tries to find dnf. The debug on the variable even shows "yum".

TASK [Gathering Facts] ***********************************************************************************************************************************************************************
[DEPRECATION WARNING]: Distribution centos 8.2.20

[2020-12-16 22:23] jwells0823 opened #73001 "File doesnt set directory permissions correctly."
##### SUMMARY

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

file
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL7 is taget

##### STEPS TO REPRODUCE

Run the above in a role.

[code]

##### EXPECTED RESULTS

I expect to see drwxrwsr-x permissions, but  I receive drwxrws---.  Changing permissions as root works correctly on the server using the

[2020-12-16 22:27] Keith-Nowosielski-SJSU commented on #72998
If I set ansible_pkg_mgr: "yum" on my test.yml with only the one task it sorta works but not really. At first I thought it was because it because of the rhel subscription manager, however that doesn't seem to make a difference.
Result:

TASK [Linux Patching | RHEL YUM - "{{ pkg_name }}"] ***************************************************************************************************************

[2020-12-16 22:33] sivel commented on #73001
Please provide output running the playbook with `--diff -vvv`

[2020-12-16 22:36] bcoca commented on #73001
try quoting 'mode' since that will appear as an octal not a string and get transformed to a decimal and then passed as diff number to chmod (which will take decimal as octal string).

[2020-12-16 22:45] carpii commented on #64852
I ended up using this mess for installing php from remi stream...

PHP not installed: installs from remi
PHP already installed from default stream: removes it and installs from remi
PHP version number var changes: removes old and installs new version
Run repeatedly: reports no changes

[code]

[2020-12-17 05:34] etcusrvar opened #73002 "[WARNING]: Failed to create the directory $HOME/.ansible"
##### SUMMARY
Ansible creates (or attempts to create) $HOME/.ansible, which is unused and unneccessary.
If the attempt fails (such as if the user's home directory is readonly), it logs a warning.
But ansible continues to work fine without this directory existing or needing to exist.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cli stub

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[co

[2020-12-17 05:45] pplmx commented on #70279
I have the same issue

[2020-12-17 07:07] SizerSong commented on #66983
How was the problem solved? This bug is still there in ansible 2.10.3

[2020-12-17 07:13] robmcgee-mag commented on #20077
Unfortunately I'm stuck using Ansible 2.7 so I'll never get this feature backported (..unless?) but please add this to the current dev versions for the love of all that's sacred.

[2020-12-17 09:38] valentin-krasontovitsch opened #73004 "Confusing error message when using command module with non-existent executable and trying to access result"
##### SUMMARY

`ansible.builtin.command` module does not return as expected when executable not found
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

command
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

running locally (controller = target host) on ubuntu xenial. output of `uname -a`:
[code]

##### STEPS TO REPRODUCE

Just running the following playbook

[2020-12-17 10:11] azrdev opened #73005 "builtin.shell: "cmd" not available for interactive use"
##### SUMMARY

When using the `shell` module interactively (not in a playbook) only the free-form is usable, not the parameter-oriented invocation using "cmd", specifying cmd apparently silently fails (see example below)

If this is intended, it should at least be documented.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

shell

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code

[2020-12-17 10:22] mkrawczuk commented on #72995
Apparently ansible 2.10 does not go well with python 3.6 - using python 3.8 solved the problem. I believe it is worth a mention.

[2020-12-17 11:58] vbotka opened #73006 "include_role public=true defaults exposed to a play. Not among plays in a playbook."
##### SUMMARY
include_role parameter *public* description: "... vars and defaults are exposed to the playbook." The variables are not exposed to other plays in a playbook.
##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

devel

##### CONFIGURATION

No changes. All defaults.

##### OS / ENVIRONMENT

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=20.04
DISTRIB_C

[2020-12-17 12:01] vbotka commented on #73006
Fix the documentation "... are exposed to the playbook." Change to "... are exposed to the play. The variables are not exposed to other plays in the playbook." PR WIP

[2020-12-17 12:40] phil2k opened #73008 "regex_replace() got an unexpected keyword argument 'multiline'"
##### SUMMARY
regex_replace() filter doesn't recognize the 3rd argument (option) "multiline=True".
But the option "ignorecase=True" works .

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
regex_replace

##### ANSIBLE VERSION

[code]

**Also, I've tested this with ansible 2.8.0, 2.5.0 & 2.4.0 and doesn't work, so this might be a very old bug.**

##### CONFIGURATION

[code]

##### OS

[2020-12-17 13:23] detkov opened #73009 "Option to specify Python interpreter"
##### SUMMARY

Recently I had faced a problem while running ansible-playbook collecting AWS EC2 hosts:
ansible-playbook -i some_dir_1/inventory.aws_ec2.yml --private-key /path/to/key.pem some_dir_2/deploy.yml
Output was the following:
[WARNING]:   * Failed to parse /path/to/some_dir_1/inventory.aws_ec2.yml with auto plugin: The ec2 dynamic inventory plugin requires boto3 and botocore.
...
Neverthe

[2020-12-17 13:39] felixfontein opened #73010 "Templar._finalize replaces None by '', making it impossible for a jinja2 expression to return None"
##### SUMMARY
There's special handling code in `Templar._finalize` which returns `''` instead of `None` (https://github.com/ansible/ansible/blob/252685092cacdd0f8b485ed6f105ec7acc29c7a4/lib/ansible/template/__init__.py#L982). This makes it impossible for Jinja2 expressions to evaluate to `None`. For example:

[code]
If you run that with `-v`, you get
[code]
Clearly `""` is not `None`.

(This has b

[2020-12-17 13:42] felixfontein commented on #73010
Despite me claiming "there is no workaround", there is one: use the [DEFAULT_JINJA2_NATIVE configuration](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-jinja2-native). With it being set, I correctly obtain:
[code]

[2020-12-17 13:50] detkov commented on #73009
##### COMPONENT NAME

Don't know, maybe [amazon.aws.aws_ec2 – EC2 inventory source](https://docs.ansible.com/ansible/latest/collections/amazon/aws/aws_ec2_inventory.html)

##### ADDITIONAL INFORMATION

Ansible version: 2.10.4

[2020-12-17 13:53] #73009 closed, assigned to nobody

[2020-12-17 14:43] bcoca commented on #73009
@detkov this is decided on install, since Ansible itself is a Python program, install it in the Python context you need.

You can also just use as specific python to run ansible:

[code]
Or update the shebang in /usr/bin/ansible (assumed path).

[2020-12-17 14:48] sivel commented on #73010
I cannot see us changing this behavior due to backwards compatibility.  There will be people relying on it, and switching to jinja2 native is our recommendation.

See:

* https://github.com/ansible/ansible/issues/41392
* https://github.com/ansible/ansible/issues/57438

[2020-12-17 14:51] sivel commented on #73008
`multiline` was added in Ansible 2.10, but the docs failed to indicate this:

https://github.com/ansible/ansible/commit/e867535a5700ab5cc38e57593e24926bb3f4b903

You can workaround this however, by specifying the flags in the pattern itself:

[code]

[2020-12-17 15:05] sivel commented on #73005
https://github.com/ansible/ansible/blob/f8ef34672b961a95ec7282643679492862c688ec/lib/ansible/playbook/task.py#L231-L239

[2020-12-17 15:28] sivel commented on #73002
https://github.com/ansible/ansible/blob/6bc1e9f5dd98ec4e700015ee91c08f4ce82831fe/lib/ansible/cli/scripts/ansible_cli_stub.py#L116-L125

[2020-12-17 15:39] jwells0823 commented on #73001
Well, when I run this alone either as a role, or inside a playbook it runs fine. There is something else prior to this statement that is causing the permissions issue. I will have to find out how to reproduce this issue more reliably. I did the quote, and without a quote, and there was no difference in performance. Part of the directory gets created correctly, but part of it does not (when run ins

[2020-12-17 15:43] sivel commented on #73001
Yeah, that output shows it correctly setting `02775`

So it seems to be some other task that is responsible.

[2020-12-17 15:48] jwells0823 commented on #73001
right? so I disabled every task that runs after that, and I still get the same results. The tasks says that it is setting it to 02755, which some of the directories are, but here is the results:
/var/www/repo/a_user_artifact/: set correctly
/var/www/repo/a_user_artifacts/local/ : set to 0750
/var/www/repo/a_user_artifact/local/graylog_lb/ and ssl_certs set correctly.

The problem I am having is so

[2020-12-17 15:48] jwells0823 commented on #73001
by "Set correctly" i mean, 02775.

[2020-12-17 15:51] #72738 closed, assigned to nobody

[2020-12-17 16:18] jwells0823 commented on #73001
I found the issue. in another task, I am running this:
- name: Create the directory on the repo server.
  file:
      path: "{{ repo_basedir }}/{{ repo_url_location }}"
      owner: ansible_artifact
      state: directory
  delegate_to: "{{ repo_server }}"
  become: true

then sometime later, i run this:

- name: Create the destination directory on the repository, if it doesn't exist
  file:
    p

[2020-12-17 16:30] shurik-io commented on #60349
How is the state of this issue? I just tapped into this as well on RHEL 7. In the Docs it's mentioned to have at least yum version >= 3.4.3. I use Ansible 2.9 and the behaviour is as described above. It doesn't cleanup anything.

If i can help testing, I'd like to do so.

[2020-12-17 17:19] sivel commented on #73004
https://github.com/ansible/ansible/blob/b464d18fd1366f497faf0badf97634349109f0db/lib/ansible/module_utils/basic.py#L2790-L2795

[2020-12-17 18:08] Keith-Nowosielski-SJSU commented on #72998
I think I see whats going on; dnf is on the controller and the first section of the playbook connects to the localhost (the controller itself) for the vCenter snapshot task. Then the 2nd part of the playbook connects to the remote targets to run updates but for some reason its still using the localhost facts for the remote targets which don't have dnf.

Let me know if this seems correct to you, an

[2020-12-17 18:41] sivel commented on #72998
Since you already have `delegate_to: localhost` on the `vmware_guest_snapshot` task, remove `connection: local` from the first play.  That is likely the cause that I overlooked.  Or set `gather_facts: false` on the first play.  Which is probably useful even if you remove `connection: local`

[2020-12-17 19:05] bcoca commented on #72980
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-12-17 19:05] #72980 closed, assigned to nobody

[2020-12-17 19:14] #72745 closed, assigned to nobody

[2020-12-17 19:20] bcoca commented on #72998
From the above this does not seem to show a bug, but a debugging issue with the user's play. So it is really for discussion on the lists.

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailin

[2020-12-17 19:20] #72998 closed, assigned to nobody

[2020-12-17 19:22] bcoca commented on #73001
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

From the discussion above this appears to be an issue with playbook debugging, not a bug with Ansible. , and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.

[2020-12-17 19:22] #73001 closed, assigned to nobody

[2020-12-17 19:28] #73006 closed, assigned to nobody

[2020-12-17 19:29] bcoca commented on #73008
closing as per above

[2020-12-17 19:29] #73008 closed, assigned to nobody

[2020-12-17 19:35] bcoca commented on #73004
Part of the issue is that 'file not found' is the error we get from the system and it is not clear if it is about the shell we invoke, the command we pass and/or a file paramter to that command, since the error itself tends to omit the actual 'file not found'.

[2020-12-17 19:36] bcoca commented on #73002
This is one reason #72043 is stalled

[2020-12-17 20:07] bcoca commented on #72995
In a recent reorganization the 'ansible' package is no longer managed here, this repo is for creation for the `ansible-base` package on which the former should depend on. For issues with the 'ansible' package you should go here:

https://github.com/ansible-community/antsibull/issues

[2020-12-17 20:07] #72995 closed, assigned to nobody

[2020-12-17 21:01] sivel commented on #73005
The `FIXME` indicates we should create a function.  We could add a `module_utils` for `command`/`shell` that produces an `argument_spec` for just those items:

[code]

We could then use that in `splitter.py` as well as in `command.py`

[2020-12-17 21:45] samdoran opened #73012 "iptables - add generic module checking code"
##### SUMMARY

We get a lot of PRs adding the ability to interface with optional `iptables` modules. Accepting these would be easier if we had a way to check if a module was present rather than adding the options to the `iptables` command and having it return an error if the module is missing.

Looking at `/proc/net/ip_tables_matches` is one way to list installed modules. We would also need a mapp

[2020-12-17 21:45] samdoran commented on #73012
cc @bcoca

[2020-12-17 22:32] samdoran commented on #72992
What is happening is the password is being locked then unlocked rather than locking the account. Run this play multiple times to observe the behavior:

(the password hash is not sensitive)

[code]

The first run creates the account, the second run locks the account:

[code]

And the third run sets the password hash:
[code]

Subsequent runs will go back and forth between those command runs, locking

[2020-12-17 22:37] hunter86bg commented on #72992
Yeah, but the whole idea is to set the password and lock it while allowing other methods for authentication (like ssh key).
If you use a hash starting with "!" you got a warning that the password is not encrypted.

Using password set to  "!" will lock the account , which is not desired in this case.

[2020-12-17 22:37] hunter86bg commented on #72992
Obviously idempotency is broken.

[2020-12-17 22:38] samdoran commented on #72992
Agreed. This seems to fix it.

[code]

[2020-12-17 22:38] hunter86bg commented on #72992
So far, I modified the task to use:
[code]

[2020-12-17 22:41] samdoran commented on #72992
That would get around the bug.

[2020-12-17 22:49] hunter86bg commented on #72992
For anyone reading this issue, using
[code]
Allows to set the pass and lock it (put a "!" before the hash in /etc/shadow) and still ensures that the pass is locked (even if the pass is changed , for example from root) on the run.

[2020-12-17 23:09] samdoran commented on #72992
@hunter86bg Can you please test with #73016 and see if that resolves the issue you are seeing?

[2020-12-18 02:57] kurianinc opened #73018 "delegate_to play is broken in Ansible 2.10.3"
[code]

The playbook breaks at the following line in the role configure-ec2-node:

[code]

[code]

This is used to work just fine with the older versions of Ansible, at least up to 2.9.0 with the command line below:
`
$ ansible-playbook build-ec2-node.yml -i localhost, --private-key=/path/to/key -u USER --connection=local
`
Any idea what changed with 2.10.x and how to resolve it? Basically there m

[2020-12-18 03:13] kurianinc commented on #73018
Ansible version - ansible 2.10.3
component module - delegate_to

[2020-12-18 03:35] JokerQyou commented on #39216
This was an issue since 2.5.1 (on Ubuntu bionic). Kind of sad to see this issue still open after over 2 year.

[2020-12-18 07:48] relrod commented on #72331
I looked into this briefly tonight. The variable _does_ exist on the -RELEASE version:

[code]

So this might be something specific to the RC. I will see if I can find an RC iso matching your version and test against that.

[2020-12-18 08:12] evgeni opened #73019 "bad header rendering on latest docs"
##### SUMMARY

When visiting https://docs.ansible.com/ansible/latest/collections/community/general/docker_container_module.html the header seems oddly rendered, as it contains two messages right now:

![Screenshot from 2020-12-18 09-09-33](https://user-images.githubusercontent.com/94284/102590592-10f9fc00-4111-11eb-9344-b5fc9a6fe95c.png)

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NA

[2020-12-18 08:17] relrod commented on #72331
Confirmed that our regex doesn't allow for `-RC`:

[code]

Easy fix, but I'm still trying to find a version that reports RC, so that I can generate a test fixture too.

[2020-12-18 08:30] evgeni commented on #73019
close enough ansibot, close enough.

[2020-12-18 09:43] valentin-krasontovitsch commented on #73004
So I can maybe add the following playbook, which seems to show that the result can be populated as expected:

[code]

which produces

[code]

I'm sorry, I'm not sure if I'm stating the obvious or missing something, or actually being helpful. I know all too little about the codebase and how tasks are executed under the hood...

Also, while I read this, I realize that this is consistent with what I

[2020-12-18 10:02] azrdev commented on #72720
To answer the question "what is missing", some thoughts:

1. what's the difference between the `inventory` parameter to `parse()` and `self.inventory`? I saw the same object reference, but is that always so? And which one should be used?
2. "The DataLoader can read files, auto load [...]" -- how to do so, does it have any interface?
3. Apparently (seen in other inventory plugins) for signaling non

[2020-12-18 10:48] matuskosut commented on #57342
Hi @relrod , sorry to bother, I see there was some effort done in this one, but it was also untouched for quite some time. Does it still need a lot of work to actually get focal in the ppa?

[2020-12-18 11:40] pan3793 commented on #35426
Ansible should make life easier, forget it be a bug or not, we need a flag to make the behavior more intuitive.

[2020-12-18 11:50] relrod commented on #57342
@matuskosut

See #69203 and https://bugs.launchpad.net/ubuntu/+source/python-virtualenv/+bug/1880749

Last I looked into this, it required a fair bit of packaging work/fixes (copying this that I sent to the team internally a few months ago):

[2020-12-18 12:28] dagwieers commented on #35426
@pan3793 I think you misunderstand the issue here. The solution is another module that is pure-python and _can_ manage this.

The current module everyone complains about is a wrapper around binaries, and as such, there is no sensible way you can make this module do what you all want it to do. I am not disagreeing that it would need to work better, I am just saying this is not a bug in _this_ modul

[2020-12-18 12:57] pan3793 commented on #35426
@dagwieers As I understand, the module is just a wrapper of binary tools, and they don't provide options to do what we want.

Totally agree with you. I think the most of people include me just want a solution, no matter it's a flag or a new module.

I'm not familiar with the philosophy of ansible, a wrapper module should always be a pure wrapper? Could there be some additional enhancements write i

[2020-12-18 14:41] sivel commented on #73004
My comment at https://github.com/ansible/ansible/issues/73004#issuecomment-747579582 already lays out the problematic code that is not in alignment with the expectations of the `command` module.

The issue has been marked as a `P3` which means we believe this should be fixed.

At this point, you just have to wait until someone fixes it.

[2020-12-18 15:06] bcoca commented on #55935
We can generate from PASS_VARS and PASS_BOOLS constants in lib/ansible/module_utils/common/parameters.py

[2020-12-18 15:10] bcoca commented on #28569
fixed via  7c66c90afcb

[2020-12-18 15:10] #28569 closed, assigned to abadger

[2020-12-18 15:14] bcoca commented on #53361
We implemented a version fo this for modules to opt into

https://github.com/ansible-collections/cloud.common/blob/main/README_ansible_turbo.module.rst

We might still add a similar feature into core but for now I'm going to close this as resolved by the feature above.

[2020-12-18 15:14] #53361 closed, assigned to bcoca

[2020-12-18 15:14] anshulbehl opened #73021 "Sanity test to check if the modules used in roles of a collection are coming from the same collection"
##### SUMMARY

Currently, there is no sanity test that checks if the modules used in roles of a collection are self resolvable from inside the collection.
This especially makes it difficult to review the collections for certification as we want to certify the collections that are self-dependent or they should list other collections as dependencies.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT

[2020-12-18 15:15] anshulbehl commented on #73021
@mattclay FYI, let me know if you need more details

[2020-12-18 15:15] bcoca commented on #26792
Closing as per above, this is something that can be implemented in shell plugins.

[2020-12-18 15:15] #26792 closed, assigned to nobody

[2020-12-18 15:20] bcoca commented on #26867
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this feature reqeust because the stability gains are in our view not worth the effort to re-implement the tool from scratch, but we are open to submissions in this regard.

However, we're absolutely always up for discussion.
Since this

[2020-12-18 15:20] #26867 closed, assigned to nobody

[2020-12-18 15:23] bcoca commented on #59991
closing as per above

[2020-12-18 15:23] #59991 closed, assigned to nobody

[2020-12-18 15:23] mariolenz commented on #53361
Thanks @bcoca I'll have a look at it.

[2020-12-18 15:27] bcoca commented on #30246
note: fix is simple, adding a new structure based on dictionary (see linked closed PR). What it should NOT do is remove/overwrite the existing structure as users currently expect that.

[2020-12-18 15:38] bcoca commented on #44809
Hi!

Thank you very much for your submission to Ansible. It sincerely means a lot to us that you've taken the time to contribute.

Per recent announcements at AnsibleFest Atlanta 2019, going forward we are no longer accepting new one off modules/plugins, or modules/plugins that create a new category.

However, we recommend looking into providing this functionality through Ansible Galaxy via Ansibl

[2020-12-18 15:38] #44809 closed, assigned to nobody

[2020-12-18 15:40] sivel commented on #72899
Duplicate of https://github.com/ansible/ansible/issues/64175

[2020-12-18 15:40] #72899 closed, assigned to nobody

[2020-12-18 15:41] bcoca commented on #64175
This would be included in a revamp we have been discussing to how display (in charge of showing warnings and errors) works in Ansible. Bringing it closer to a std logging facility and allowing blanket promotion/demotion as well as a generalized interface into specific promotion/demotion of messages.

[2020-12-18 15:43] bcoca commented on #27160
fixed via be9f07279e3 (now shows as ignored)

[2020-12-18 15:43] #27160 closed, assigned to nobody

[2020-12-18 15:45] bcoca commented on #34566
Closing as this is possible now via `import_role` and `include_role`. For installing these roles you can add them to `meta/requirements.yml` .

[2020-12-18 15:45] #34566 closed, assigned to nobody

[2020-12-18 15:46] bcoca commented on #32687
closed via #72362

[2020-12-18 15:46] #32687 closed, assigned to nobody

[2020-12-18 15:48] bcoca commented on #24064
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this request because you can do this via a 'constructed' inventory in addition to the static one. Or you can develop your own version of existing inventory plugins to add the feature. In any case I'm going to close this issue as it is n

[2020-12-18 15:48] #24064 closed, assigned to nobody

[2020-12-18 15:50] bcoca commented on #65290
needs_info

[2020-12-18 15:52] bcoca commented on #32713
This is not a bug, it is clearly documented precedence:

https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

[2020-12-18 15:52] #32713 closed, assigned to jimi-c, bcoca

[2020-12-18 15:59] bcoca commented on #61457
In this case we do not believe this to be a bug with Ansible as it does the expected (fallback to POSIX/C) but with the system  configuration that forces a locale from onto the remote without ensuring it exists.

As such I'm going to close this issue and advise to either install the locales remotely or disable sending locale via ssh for the ansible user.

[2020-12-18 15:59] #61457 closed, assigned to nobody

[2020-12-18 16:49] #72156 closed, assigned to nobody

[2020-12-18 16:56] #68922 closed, assigned to nobody

[2020-12-18 17:08] #48788 closed, assigned to bcoca

[2020-12-18 17:18] danmichaelo commented on #72967
Thx, will try that!

[2020-12-18 18:25] ghost opened #73022 "Ansible connection and unused logic"
##### SUMMARY

The logic below is never used because pid of forked process can not be 0

https://github.com/ansible/ansible/blob/6bc1e9f5dd98ec4e700015ee91c08f4ce82831fe/lib/ansible/cli/scripts/ansible_connection_cli_stub.py#L278-L293

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

persistent layer of network module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVI

[2020-12-18 18:33] danmichaelo commented on #72967
Seems like this was actually some kind of intermittent issue! I can no longer reproduce it.

[sinorec confirmed on Discord](https://discord.com/channels/487711540787675139/487711540787675143/789558022850215946) that poetry *does* suport sdist, so a wheel distribution should not be necessary.

Still have no idea why it didn't work a few days ago, but glad it's working now!

[2020-12-18 18:35] #73022 closed, assigned to nobody

[2020-12-18 20:44] shadowink opened #73025 "choocolatey modules fail when win_chocolatey installs chocolatey over OpenSSH"
##### SUMMARY

When running ansible on a windows host over ssh, when software is installed, it cannot be found in the path.

When win_chocolatey is run, if chocolatey is not installed on the system, it installs chocolatey.  However, any modules that try to use chocolatey after fail with "Failed to find Chocolatey installation, make sure choco.exe is in the PATH env value"

The only way I have been

[2020-12-18 20:47] #73025 closed, assigned to nobody

[2020-12-18 21:15] sivel opened #73026 "Non-interactive password prompting for ansible CLIs"
##### SUMMARY
This is largely a feature necessary for ansible-runner and Tower, but as of now, to respond to password prompts, runner uses `pexpect`.

`pexpect` comes with its own host of issues, like the fact that even after you've matched the prompt and sent the response, it still buffers the output for the remainder of execution and adds extra overhead that is unnecessary.

Investigate enabling

[2020-12-18 22:17] s-hertel commented on #73018
This looks like a duplicate of #70359.

Tasks run on implicit localhost will use the `local` connection, so you should omit `--connection=local`. There was a long standing bug where delegate_to tasks didn't use the correct connection.

There's also an issue to add a warning when connection `local` and `delegate_to` are used together: https://github.com/ansible/ansible/issues/70460

[2020-12-18 22:52] aaronwmorris opened #73027 "CentOS Stream should be reported as a different distribution from CentOS Linux"
##### SUMMARY

Ansible reports CentOS Linux and CentOS Stream as the same distribution therefore there is no way to differentiate between the distributions in the standard ansible facts.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT

OS:  CentOS Stream 8

##### STEPS TO REPRODUCE
n/a

##### EXPECT

[2020-12-18 23:57] LukeLR opened #73028 "Relative paths inconsistent when used within src: or when: directives"
##### SUMMARY

Relative paths on the controller are inconsistent when used within the `src:` directive of e.g. a `copy`-task and within the clause of a `when:`-statement on that same task. Ansible tries multiple locations when evaluating a relative path in the `src:` clause, but a relative path within the `when:`-clause will only get evaluated starting from the current working directory. However,

[2020-12-19 04:58] kurianinc commented on #73018
If `connection=local` is omitted the play would try to ssh into localhost. It seems the playbook and roles need to be updated for this change in Ansible behavior.

The use case here is very simple -- first set of roles used in the playbook spin up hosts and the latter roles ssh into those to configure them. But in Ansible, implementing that workflow turns out to be unnecessarily complicated.

[2020-12-19 08:48] pescobar commented on #35426
I did a quick test in  https://github.com/ansible/ansible/pull/73024 applying the same permisisons to top folder

[2020-12-19 20:04] janban-outlook opened #73031 "It looks like issue #59340 happens again"
Task in playbook:

- name: Create CT
  proxmox:
    node: "{{ node }}"
    api_user: "{{ api_user }}"
    api_password: "{{ api_password }}"
    api_host: "{{ api_host }}"
    hostname: "{{ cthostname }}"
    password: "{{ ctpassword }}"
    cores: "{{ ctcores }}"
    swap: "{{ ctswap }}"
    memory: "{{ ctmemory }}"
    disk: "{{ ctdisk }}"
    storage: "{{ ctstorage }}"
    netif: "{{ ctnetif }}

[2020-12-19 20:13] janvanveldhuizen commented on #73031
Sorry, issue can be closed. Apparently debian doesn't have the latest version in their apt repo...

[2020-12-20 05:53] #73031 closed, assigned to nobody

[2020-12-20 06:34] hunter86bg commented on #72992
I can't test it on the system ,as the node is quite busy.
I have setup a test Ansible Tower with the following config:
[code]
Do we have a PR for python3 ?

[2020-12-20 06:43] hunter86bg commented on #72992
Testing on the test Ansible Tower with the follwing patch leads to strange behaviour:
[code]
First pass:
[code]

Second pass (again changed):
[code]
Third pass (OK):
[code]

So it still is changed on second pass and this won't pass our molecule idempotency tests.

[2020-12-20 17:31] alexnoz opened #73035 "Playbook inheritance"
##### SUMMARY

The idea is sort of similar to template inheritance feature in some template engines, e.g. in Jinja. It also resembles [Template method design pattern](https://en.wikipedia.org/wiki/Template_method_pattern).

Assume that we have a number of similarly structured playbooks and we want to extract their common parts to reduce repetition and make it more manageable. We could create a so-

[2020-12-20 18:54] koenbeek commented on #64630
same issue with ask-vault-pass - is not asked by ansible-pull - would be good to remove the option if it's not supported

I use it interactive mode to install my desktop the first time - so not sure why the option would be removed but if it's by design then remove the option from the documentation (website, help, manual,  command, ...)

[2020-12-20 18:59] koenbeek commented on #72074
according to https://github.com/ansible/ansible/issues/64630 ask-vault-pass is not supported by ansible-pull by design

[2020-12-21 02:15] goldyfruit commented on #46744
Same behaviour for me with Ansible 2.10.3

[2020-12-21 03:47] relrod commented on #72916
@stevenwbe I just spent some time trying to reproduce this.

Can I ask what OS and version you're running on the target? If it's a RHEL 8 or CentOS 8 box, you're actually using `dnf` (even if you're using the `yum` module).

dnf expects the variables to be `$DNF1`, `$DNF2`, ... instead of `$YUM1`, `$YUM2`, ...

When on an el8 box, `$DNF1` and so on *do* get expanded (I just tested).
When on an el7

[2020-12-21 04:53] kurianinc opened #73036 "set_fact doesn't work as expected in v2.9.0"
##### SUMMARY
Variables defined using set_fact are available in the same module for use!

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The value set for apache_service_name should be available to the subsequent tasks in the module.

#

[2020-12-21 06:25] relrod commented on #73036
@kurianinc,

I'm not immediately able to reproduce this on 2.9.0, it works as intended for me when I copy your tasks into a playbook or role (sans the `include` one), and the fact is available for use in a later task when I try.

Can you provide a *full* reproducer that shows the behavior and exhibits the error you showed?

[2020-12-21 06:31] Andersson007 commented on #73010
great! @felixfontein @sivel thanks for the clue

[2020-12-21 10:37] wern0r opened #73038 "dnf enablerepo without effect"
##### SUMMARY
dnf enablerepo doesn't have an effect on Oracle Linux 8.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dnf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS: Oracle Linux Server release 8.3

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Enabling the repository "epel" on the target host.

##### ACTUAL RESULTS

None, witho

[2020-12-21 10:52] hunter86bg commented on #72992
@samdoran ,
do you have a PR for python3 module ?

[2020-12-21 10:58] Altaf-Axway opened #73039 "Can't set the minimum_tls_version to TLS1_2 when using the azure.azcollection.azure_rm_storageaccount"
##### SUMMARY

Can not set the minimum_tls_version  to TLS1_2
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure.azcollection.azure_rm_storageaccount

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04.5 LTS

##### STEPS TO REPRODUCE

install the 2.10 ansible -
sudo apt-add-repository --yes --update ppa:ansible/ansible-2.10
sudo apt install -y

[2020-12-21 12:29] geoffroya opened #73040 "Issue with mutlliline yaml variables"
##### SUMMARY
It seems to me that the following issues are still present in Ansible 2.10 (tested on 2.10.4)
- https://github.com/ansible/ansible/issues/62841
- https://github.com/ansible/ansible/issues/65843

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-base

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS

##### STEPS TO REPRODUCE

Sample to r

[2020-12-21 12:37] geoffroya commented on #73040
##### COMPONENT NAME
ansible-base

[2020-12-21 13:54] stevenwbe commented on #72916
Hi @relrod, Thanx for spending time on this.

We're only using rhel7 but my explanation was maybe not clear enough.

My deploy succeeds so the variables are replaced. My concern is the fact that the environment variables show up in the command line used by ansible to start the deploy task at the target. Running with -vvv will also show that. But others working on the same server can easily spot th

[2020-12-21 14:57] sivel commented on #73039
!component =lib/ansible/modules/cloud/azure/azure_rm_storageaccount.py

[2020-12-21 14:58] sivel commented on #73040
!component =lib/ansible/plugins/callback/yaml.py

[2020-12-21 15:00] pmauduit opened #73041 "postgresql_query - loading script fails if script contain plpgsql definitions"
##### SUMMARY

We are using an ansible recipe to setup a postgresql in a Centos 7 environment. I recently updated my virtualenv (and in turn my ansible version). A postgresql_query step with a script containing a plpgsql function was working using the previous version of Ansible (2.9) but not anymore with Ansible 2.10.

FYI the following sql script is failing:
https://raw.githubusercontent.com/geo

[2020-12-21 15:04] #73041 closed, assigned to nobody

[2020-12-21 15:04] #73040 closed, assigned to nobody

[2020-12-21 15:04] #73039 closed, assigned to nobody

[2020-12-21 15:05] dvaerum opened #73042 "Not able to suppress warning from the plugin pause"
##### SUMMARY
After the merge of [pause - do not hang if run in the background](https://github.com/ansible/ansible/pull/72065) into stable-2.10 we are getting a lot of (useless) warnings saying "[Not waiting for response to prompt as stdin is not interactive](https://github.com/ansible/ansible/blob/791d3fc25ae12e7faf068013fbc611a5249daa9c/lib/ansible/plugins/action/pause.py#L234)".
This is really

[2020-12-21 15:24] sivel commented on #73038
From the documentation (https://docs.ansible.com/ansible/latest/collections/ansible/builtin/dnf_module.html#parameter-enablerepo):

As such, you have to specify a package to install or upgrade while enabling the repo.  This will not modify the DNF configuration to permanently enable them.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2020-12-21 15:24] #73038 closed, assigned to nobody

[2020-12-21 16:06] Akasurde commented on #70887
resolved_by_pr #70911

[2020-12-21 16:20] #70535 closed, assigned to nobody

[2020-12-21 16:20] #72981 closed, assigned to nobody

[2020-12-21 16:22] s-hertel commented on #73018
It shouldn't be complicated to fix. In a nutshell, `delegate_to` hosts now respect playbook keywords and use host variables like normal hosts.

You probably don't need to edit plays/roles, though you could (such as by adding the `connection` keyword where you want to override local). It would be simpler though to only apply connection=local for your localhost only, either by

1) Use implicit local

[2020-12-21 17:50] sivel commented on #73028
The issue isn't the `when` clause, but the implementation of filters.  `lookup` which operates in the jinja2 context of a `when` clause respects the pathing changes needed for roles/etc, however `filters` and `tests` do not have access to that context, and operate within the context of the cwd.

Additionally, the tests are explicit 1 to 1 checks, whereas things like `copy` check a variety of paths

[2020-12-21 18:12] relrod commented on #72916
Ah sorry, I somehow missed that and misunderstood.

I don't think the concern sounds "silly" - I think it's perfectly valid :)

However, in general, we [discourage](https://docs.ansible.com/ansible/latest/user_guide/playbooks_environment.html#working-with-language-specific-version-managers) using [environment variables](https://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keyword

[2020-12-21 18:17] sivel commented on #72916
You could put those `YUM`/`DNF` env vars in a profile/RC file on the target that gets sourced on all logins including non-interactive. Or set them on the controller, and configure the SSH client locally to pass them, the SSH server on the target to accept them, and ensure sudo doesn't filter them.

[2020-12-21 18:33] asottile opened #73043 "Upload wheels to pypi"
##### SUMMARY

currently, ansible takes nearly ~240s on my machine to build from source and install via `pip install ansible`, however it appears that a working wheel is created as an intermediate step.  if this wheel were to be uploaded to pypi, almost all of that installation time is saved (~20s on my machine)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
n/a

##### ADDITIONAL INFORMATI

[2020-12-21 18:36] sivel commented on #73043
Duplicate of https://github.com/ansible/ansible/issues/71992

We will be experimenting with updating our build toolchain during the 2.11 release, and may, if it works out, include such changes in 2.12 or later.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-12-21 18:36] #73043 closed, assigned to nobody

[2020-12-21 18:38] asottile commented on #73043
@sivel interesting, well then either the information in that closed issue is incorrect or the installation is currently invalid.  pip installs from source by producing a wheel and then installing that.  CC @webknjaz

[2020-12-21 18:45] asottile commented on #73043
here's a demo:

[code]

[code]

the important lines here being:

(from the first, uncached install):

[code]

(from the second, cached install)

[code]

[2020-12-21 18:46] sivel commented on #73043
Unfortunately due to some name changes in the package, we are doing some dynamic sanity, and due to the way pip works, the only time we can run that dynamic code is during the `wheel` build.

We do realize that if you install from a cached wheel, then our dynamic code doesn't run.

But it's the best option we have right now.

[2020-12-21 18:49] asottile commented on #73043
as shown above the dynamic code isn't even firing in the general case -- is there somewhere to track this instead of closing and locking the issues asking for this?

[2020-12-21 18:49] asottile commented on #73043
ok, I didn't see you mention this -- where can the roadmap be viewed?

[2020-12-21 18:56] sivel commented on #73043
We are in the process of changing how our development is handled.  During a single release we will work on "experimental features" that will not land in the upcoming release, and we will also have public documented roadmap.

As of now we do not publicly document our "experimental features" roadmap.  Switching the build tooling is part of the work that will allow us to ship a new package called `fa

[2020-12-21 18:59] asottile commented on #73043
it's pretty disappointing that there's zero transparency into this

[2020-12-21 19:07] stevenwbe commented on #72916
@relrod: Yeah I figured :) That was the reason I mentioned that maybe the yum module is missing the feature. If one would be able to pass the YUM / DNF vars as a parameter (not environment) it would be secure. But it may feel a bit "creative" embedding a param in a module that actually sets environment at the target...

@sivel: Yum has options for storing them locally in /etc/ but I wanted to avoi

[2020-12-21 19:53] #70887 closed, assigned to nobody

[2020-12-21 21:04] sivel commented on #73028
You can probably get your result also by use of the `first_found` lookup, either via `with_first_found` or `lookup`.

Examples:

[code]

[2020-12-21 22:08] webknjaz commented on #73043
Hey Anthony, thanks for raising this! I've been trying to convince folks to move to wheels for some time now but there were even more blockers in the past, than there are now. We used to have quite ancient setups in the CI matrix and dropped Python 2.6 just about a year ago. Also, there's an internal mechanism for tracking the module renames that relies on symlinks that old distutils uses to prese

[2020-12-21 22:45] jorhett commented on #72264
This particular table row is baffling: https://docs.ansible.com/ansible/latest/collections/ansible/builtin/sh_shell.html#parameter-world_readable_temp

Is there a `world_readable_temp` option in the plugin section, or is that a truncated reference to the global setting?

This would be a great place to be explicit about how to utilize it correctly.

[2020-12-21 23:13] Aethylred commented on #15297
A solution I'v used is:

[code]

What makes it work is `become: true` performs a sudo then executes rsync using the command specified `rsync_path` and the `set_remote_user: no` omits `ansible@` from the remote bit of the rsync command.

[2020-12-22 02:17] robo2bobo commented on #67257
Nobody cares, closing.

[2020-12-22 07:45] relrod commented on #72916
@stevenwbe I'm going to add back needs_triage so this can be discussed by the team again next year. The first time we discussed it, I think we all interpreted it as I originally did. Oops!

On the surface, I'm not immediately opposed to something like that for this special case (since the variables are actually a special case in `yum` and `dnf` themselves, and by *not* having this, we're being *le

[2020-12-22 07:53] stevenwbe commented on #72916
@relrod Thanx!

[2020-12-22 08:46] wern0r commented on #73038
Thank you very much for clarifying that! Instead I'll use dnf via the shell module to initate permanent modifications. Thanks again!

[2020-12-22 12:32] ghost opened #73047 "ansible-inventory ignores inventory order and returns hosts sorted by name"
##### SUMMARY
_ansible-inventory_ ignores inventory order and returns hosts sorted by name

_ansible-inventory_ is very convinient to quickly have a look on the inventory, it is very handy when reviewing complex inventories based on many inventory files, scripts and group_vars.

It matters when chronological hosts order (sort by creation time) is more important then names and for projects using gr

[2020-12-22 13:33] matthewdaclark opened #73048 "URI Module - Add optional no_log for header and body"
---
name: No Log optional setting for header and body
about: Sensitive data can be passed on those values and be better to still have logging for task
---

##### SUMMARY
URI No Log option for body and header parameters

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
uri module

##### ADDITIONAL INFORMATION
https://github.com/ansible/ansible/blob/aa56a2ff6a56697342908cc0cc85a537ecea4325/lib/

[2020-12-22 13:52] i-kole commented on #73047
+label affects_2.10
+label affects_2.9

[2020-12-22 15:03] sivel commented on #73048
There is no mechanism for optional `no_log` as dictated by a module.  Instead, if you know you are passing sensitive data by a means not explicitly marked as `no_log`, you should use `no_log: true` on your task.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-12-22 15:03] #73048 closed, assigned to nobody

[2020-12-22 15:11] semora81 commented on #72776
Hi, as this is my first time tracking an issue with ansible, how / when can we figure out if this has been reverted as sivel is proposing ?

will this issue be updated with the fix details?

thanks

[2020-12-22 15:56] ionutnechita opened #73049 "Ubuntu 20.04 - Ubuntu Focal repository not exist in PPA Launchpad"
Hi Ansible Team,

I observe this issue:
apt-get update
Get:1 http://security.ubuntu.com/ubuntu focal-security InRelease [109 kB]
Get:2 http://ro.archive.ubuntu.com/ubuntu focal InRelease [265 kB]
Ign:3 http://ppa.launchpad.net/ansible/ansible/ubuntu focal InRelease
Hit:4 http://ppa.launchpad.net/git-core/ppa/ubuntu focal InRelease
Hit:5 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal In

[2020-12-22 15:58] sivel commented on #73049
Duplicate of https://github.com/ansible/ansible/issues/70935

[2020-12-22 15:58] #73049 closed, assigned to nobody

[2020-12-22 16:04] #61369 closed, assigned to nobody

[2020-12-22 16:12] bcoca commented on #72776
might be fixed by #72419

[2020-12-22 16:27] bcoca commented on #67257
You are seeing display 'per play' not per task, which both of the configuration entries you quote control.

Leaving this open as a feature request (to hide play output of no hosts match) which is an easy fix.

[2020-12-22 17:06] ikke-t commented on #72674
Thanks, that did it! I only now found the time to take this further. I tested this on fedora-iot host, and it works.

[2020-12-22 17:12] ikke-t commented on #72674
here is the implementation changes to get rootless podman container working with ansible, with the above lingering tasks: https://github.com/ikke-t/podman-container-systemd/compare/rootless

[2020-12-22 17:25] matthewdaclark commented on #73048
Dont really agree with that comment.

My version was a little outdated but I copied my uri and added this (some version of 2.9):
    argument_spec.update(
        dest=dict(type='path'),
        url_username=dict(type='str', aliases=['user']),
        url_password=dict(type='str', aliases=['password'], no_log=True),
        body=dict(type='raw', no_log=True),
        body_format=dict(type='str', d

[2020-12-22 17:29] matthewdaclark commented on #73048
However, being able to hide the header is definite bonus as now for where dont want to show my token but can show putput it works fine and can remove the no_log

[2020-12-22 20:21] sivel commented on #73047
AWX also has an issue where this affects AWX/Tower: https://github.com/ansible/awx/issues/2240

This not only needs to be addressed in the typical JSON output, but the code to use `sorted()` on `group.hosts` is replicated into TOML and YAML formats.

iirc groups are already unordered, so sorting them seems useful, as it wouldn't be reproducible without it.

In addition to the `sorted()` we need to

[2020-12-23 01:34] briantist opened #73051 "marked deprecations from lookup (possibly other) plugins are not displayed"
##### SUMMARY
Using a `deprecated:` attribute within the `DOCUMENTATION:` string of a lookup plugin does not result in a deprecated message the way it does with (some) other plugin types (callback for example).

Here's an example of such a definition, taken from the `default` callback plugin doc fragment:
https://github.com/ansible/ansible/blob/3e9943bc5e7a9cd393757aa8100d7fed80bd316e/lib/ansible/

[2020-12-23 01:59] berenddeboer opened #73052 "Weird conversion error between ansible variables and community.general.json_query()"
##### SUMMARY
Weird error running variables through `community.general.json_query()`. Reported before, but still exists in some form.

Error message: JMESPathError in json_query filter plugin:\nIn function join(), invalid type for value: staging, expected one of: ['array-string'], received: "AnsibleUnicode"

Much the same: #27299.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Function `comm

[2020-12-23 08:04] Akasurde commented on #72217
resolved_by_pr #73053

[2020-12-23 09:41] pbrit commented on #72735
@mkrizek Any luck with triaging? It also hit me, so I will appreciate your help.

[2020-12-23 11:00] markwell-ch opened #73054 "urlencode filter doesn't accept encrypted variable"
##### SUMMARY

When trying to pass a encrypted variable to the `urlencode` filter ansible 2.10 returns an error.

This does not affect ansible 2.9.16.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
filter

##### ANSIBLE VERSION
[code]

[code]

##### CONFIGURATION

Default Configuration

##### OS / ENVIRONMENT

Ubuntu 20.04.1 LTS

##### STEPS TO REPRODUCE
Use the sample playbook below, the va

[2020-12-23 11:19] Akasurde commented on #45475
I can confirm this issue can be reproducible.

[code]

[2020-12-23 11:41] user340 opened #73055 "service module doesn't work when using "enabled: yes" to NetBSD"
##### SUMMARY

An exception occurred when using `service` module with `enabled: yes` to NetBSD 9.1 host.

Full error message is pasted in ACTUAL RESULTS section.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target OS is NetBSD 9.1 amd64. This is `uname -a` output.

[code]

##### STEPS TO REPRODUCE

[2020-12-23 12:49] Akasurde commented on #45475
resolved_by_pr #73057

[2020-12-23 15:15] bcoca commented on #73047
One of the reasons it is using `sorted()` is to match how variable precedence works.

[2020-12-23 19:20] #71415 closed, assigned to nobody

[2020-12-24 15:37] Abhijeet-create opened #73062 "vmware_guest module failed to set fix ip on windows vm on vcentre version 6.5"
##### SUMMARY
-Not able to set static IP on windows vm created from template by using vmware_guest module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.9.2009 (Core)

##### STEPS TO REPRODUCE

provision a new window vm from template

VMware ESXi, 6.5.0, 4564106
windows s

[2020-12-24 15:46] #73062 closed, assigned to nobody

[2020-12-25 13:57] petermcd opened #73063 "ansible galaxy error when installing from git"
##### SUMMARY

Attempts at installing a collection using ansible galaxy and git results in an error advising the collection name contains invalid characters.

Git access has been confirmed (it is a local public repo), the repo name and domain name have been obfuscated.

I have looked and appears there is a history of similar issues but unable to locate one that fully matches.

##### ISSUE TYPE
- B

[2020-12-25 15:11] petermcd commented on #73063
apologies ignore this, realised the version i have is dated switching to pip

[2020-12-25 15:11] #73063 closed, assigned to nobody

[2020-12-25 19:50] kurianinc commented on #73036
@relrod I can describe the issue in detail below:

I later defined `apache_service_name` in roles/install-lamp-stack/vars/main.yml  as default value to see if that would help to resolve the issue:

[code]
When a CentOS module is loaded it is updated to `httpd`, in roles/install-lamp-stack/tasks/centos.yml:
[code]
And in this update is not effective, it's still `apache2`.
[code]
The expectation is

[2020-12-25 20:55] kurianinc commented on #73036
Trace with debug statements. The value of `apache_service_name` doesn't change at all though it's tried to be updated in centos.yml:

[code]

[2020-12-26 12:23] am-titan opened #73064 "UNREACHABLE! errors, SSH mismatch / Inventory is not being phrased."
##### SUMMARY

Following the official Openstack to deploy multi node cluster will not continue due to an error when executing the following command "`ansible -i multinode all -m ping`", check of the inventory file will fail, even tough the inventory file was being filled correctly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

c:plugins/connection/ssh
`kolla-ansible/ansible/inventory/multi

[2020-12-26 15:14] oke-py opened #73065 "homebrew_cask invokes an error "Error: Calling brew cask install is disabled! Use brew install [--cask] instead." in 2.10.3"
##### SUMMARY

`homebrew_cask` module invokes an error "Error: Calling brew cask install is disabled! Use brew install [--cask] instead." in 2.10.3.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`homebrew_cask` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Big Sur 11.1

##### STEPS TO REPRODUCE

[code]

1. Save the above yaml as `main.yam

[2020-12-26 15:20] #73065 closed, assigned to nobody

[2020-12-26 20:29] bmillemathias commented on #72749
@samdoran you the same issue twice :)

[2020-12-27 16:42] felixfontein commented on #72950
resolved_by_pr #73069

[2020-12-28 07:10] bilalm19 commented on #72074
Looks like the documentation for `ansible-pull` needs to be updated. I am closing this issue as it is duplicate.

[2020-12-28 07:10] #72074 closed, assigned to nobody

[2020-12-28 10:01] felixfontein opened #73071 "ansible-galaxy collection install sometimes does not find all versions"
##### SUMMARY
See https://app.shippable.com/github/ansible-collections/community.general/runs/6193/46/console for an example, I've already seen this multiple times today (also on AZP).

`ansible-galaxy -vvv collection install ansible.posix` was run three times in a row, and ~~always~~ two times out of three failed with `This collection only contains pre-releases.` (the first fail was a read timeou

[2020-12-28 12:48] shiron-babi opened #73072 "skip_broken in dnf module doesnt have any effect"
##### SUMMARY

Trying to install a list of local packages via dnf module gives me conflicts on RHEL 8.2
I tried to add skip_broken flag but the conflicts error are still appear

```dnf --disablerepo=* localinstall -y *.rpm --skip-broken```
works well

Important notice: server should be without an outbound connection. (disconnected from internet)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[2020-12-28 15:51] bmillemathias commented on #71209
Don't ask and pick it :)

[2020-12-28 16:44] felixfontein commented on #73071
Random guess (since I saw more read timeouts today): could this happen if there is a read timeout while reading a later page, i.e. in that case the code eats the error and simply returns the truncated list?

[2020-12-28 21:09] MarkusTeufelberger commented on #72668
Major distros rarely if ever bump their supported versions of `python3`, they might just fall out of support instead or have newer releases (e.g. Debian 11 or RHEL 9). This still essentially kills `ansible-pull` as a viable deployment method on anything that's not the latest version of a (stable) distro. It also makes it really hard to use the latest version of Ansible on a developer machine that'

[2020-12-28 22:04] goldyfruit opened #73073 "The value "8181" (type int) was converted to "'8181'" (type string)"
##### SUMMARY
Based on the documentation, the `destination_port` seems to be an integer but during the playbook execution I got a warning message.

An another thing is that, I don't get this warning and it's part of a DROP.

[code]
![image](https://user-images.githubusercontent.com/614115/103245615-b80b3e80-492e-11eb-863d-343aaa4f38cc.png)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansib

[2020-12-29 01:38] webknjaz commented on #72668
This is why ansible-core will target envs like RHEL 8+.

People don't seem to realize that you don't really need to use the latest ansible-core anymore. At least, it's not as vital now that the content is in the collections and the bottleneck will be what collections support, not the engine. And there's mechanisms to support collections in older versions of Ansible that support all of the cases yo

[2020-12-29 03:22] MarkusTeufelberger commented on #69203
Maybe you could at least add Ubuntu 20.10 instead and start working on adding 21.04? The fix for `pip`/`python3-virtualenv` should be in there already and packages for groovy and hirsute would be nice to have in https://launchpad.net/~ansible/+archive/ubuntu/ansible.

[2020-12-29 03:54] MarkusTeufelberger commented on #72668
Is there a list of officially supported Linux distributions (for controllers and target hosts) out there? I could not really find one.

As there is no separate collection for `ansible.builtin` modules, staying up to date with `ansible-core` is unfortunately still very relevant. Features in those modules are not backported to my knowledge and even rather trivial things (as a random example: https:/

[2020-12-29 05:59] Quantas commented on #73071
I saw the bot set affects to 2.11, but I believe this is affecting any Galaxy download. I started seeing timeouts today too on 2.10.4 where nothing changed on our end. Is there something going on with Galaxy perhaps?

[2020-12-29 08:21] felixfontein commented on #72668
For Ansible < 3 and ansible-base/ansible-core, 2.x is a major release.

Right now, only Ansible >= 3 will use semantic versioning. The 3.0.0 release will follow the Ansible 2.10.x line, which is ansible-base 2.10 + collections. Ansible 3.y.z will also be ansible-base 2.10.x + collections, and Ansible 4.y.z will be ansible-base 2.11.x + collections.

(More about this at https://hackmd.io/y7BBcweNR3

[2020-12-29 08:27] felixfontein commented on #73071
@Quantas the timeouts are unfortunately nothing new (ansible/galaxy#2302). There seem to have been more of them during the last days though (was mentioned by different people on IRC).

The CIs of the collections I'm working on use a basic retry logic as a workaround (try up to three times if it fails). Definitely not perfect, but at least most contributors don't get annoyed by the timeouts anymore

[2020-12-29 14:05] rafal-prasal opened #73074 "Allow passing of variables with "import_playbook" to bypass playbook "vars_prompt""
##### SUMMARY
When a variable is set in a parent playbook, and a child playbook is being imported, even if the variable exists for that server, Ansible prompts for the new variable. There should exist a way that Ansible recognizes that the variable already exists and skip the prompt.

Additionally, when the var is prompted for in the second playbook, whatever it is set to does not override the val

[2020-12-29 14:17] aseriesofdarkcaves commented on #68915
I believe this issue also affects `ansible-galaxy install`.

I ran into this when trying to follow what you recommend [here](https://www.jeffgeerling.com/blog/2020/ansible-best-practices-using-project-local-collections-and-roles) @geerlingguy

[2020-12-29 15:39] staticdev opened #73075 "Ansible apt module can't use python3-apt when using pyenv python"
##### SUMMARY
I have an Ubuntu 20.04 machine with multiple versions of Python installed with Pyenv. Even with `python3-apt` installed, all apt commands fail with the error:

[code]

In fact, if I try `import apt` from my default version of python (3.9.0 which is detected by ansible), I get an error. Apt only work with python3-apt which in turn only work for system installed python (3.8).

##### IS

[2020-12-29 15:57] vtchel opened #73076 "ansible 2.8.x not support recursive copy on remote host"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

copy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

All files copies to dest folder

##### ACTUAL RESULTS

Part files do not copies

[code]

[2020-12-29 16:00] vtchel commented on #73076
Not start recursive copy if detect changed in function
[code]

[2020-12-29 16:03] vtchel commented on #73076
work if
[code]

[2020-12-29 17:08] serpro69 commented on #37564
Doesn't seem like it has been fixed yet, I'm also facing the same issue on ansible 2.10.3
Looking at some past issues, it seems that `ansible_user` functionality has always been quite unstable.
Maybe it will help someone else as well, this is what worked for me: `become_user: "{{ ansible_env.SUDO_USER }}"`

[2020-12-29 17:58] adolci opened #73077 "Provide a place for shared tasks files within a collection"
##### SUMMARY

Create a place where to store common tasks and related files to be reusable by roles and playbook, even in the same collection.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Collection tasks

##### ADDITIONAL INFORMATION

In Roles and Playbooks development I can't find an efficient way to import/include set of tasks defined in a repository of tasks files.

For example: I h

[2020-12-29 22:30] imjoseangel commented on #72748
I will work on this. Honestly is a functionality I was expecting time ago. Time to implement it.

[2020-12-30 00:15] JonTheNiceGuy commented on #25414
Just worth noting, the stanza I'm using is:

[code]

My intention is to update the apt module's documentation with this stanza.

[2020-12-30 00:31] JonTheNiceGuy commented on #51663
Hello. I've just created a documentation PR which should help you with this issue. Basically, you're being caught in a race condition, usually sparked by an internal process performing updates (e.g. unattended-updates) or another thread elsewhere locking the `dpkg` processes.

The PR I've raised is #73079 but in essence, it reads like this:

[code]

Update your lines which look like `apt: upgrade=

[2020-12-30 10:46] juneeighteen commented on #51663
Thank you @JonTheNiceGuy !

[2020-12-30 11:13] Udayendu opened #73082 "file: recurse=yes is not able to set permission in the nested directory"
##### SUMMARY
Ansible **file** module is not working as expected even if **recurse=yes** parameter is set.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- file module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
- Provision Server: CentOS 8.3
- Target systems: OEL 8.3

##### STEPS TO REPRODUCE
- Create a directly and try to change the ownership/group ownership using file module
- I

[2020-12-30 12:55] Udayendu commented on #73082
One additional info:

- This mount point is used to mount a local volume using the below code:

[code]

And seems like mount ansible module is making some change here and setting the directory permission to root.root . And if I changed the permission after mounting the directory, its working as expected. Here is the change that's working:

[code]

[2020-12-30 13:04] #73082 closed, assigned to nobody

[2020-12-30 13:15] Udayendu opened #73083 "mount module reset the ownership & group ownership to root:root"
##### SUMMARY
**mount** module is resetting the ownership of the mount directly which was created jus in the above play using **file** module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- mount

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
- Provision Server: CentOS 8.3
- Target systems: OEL 8.3

##### STEPS TO REPRODUCE
- Create a directly and try to change the ownership/group o

[2020-12-30 13:22] ikke-t opened #73084 "RHEL 8.3 Edge identifies wrong package manager"
##### SUMMARY

I tried automating stuff on RHEL 8.3 Edge OS. It is the kind of like Fedora CoreOS or Fedora-IoT. It is to use rpm-ostree as package manager, not dnf or yum like regular RHEL.

However it identifies: ```"ansible_pkg_mgr": "dnf"```

Where as it should be ```atomic_container``` like in Fedora CoreOS deriatives.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible_facts.pkg_mg

[2020-12-30 14:11] vnvbadri opened #73085 "Azure_rm.py not found"
While performing the lab http://microsoft.github.io/PartsUnlimitedMRP/iac/200.2x-IaC-AnsiblewithAzure.html Task2, Step2

when running the steps, we have to run a command to change access permissions for azure_rm.py file, but in the repo we are not able to find this file.

[2020-12-30 15:14] mahe500 opened #73086 "SSH Cipher Mismatch Issue on Cisco Router with Ansible ad-hoc command"
ansible version : ansible 2.7.7

Source control node: Debian 10
Management node: Cisco router (7200 Software (C7200-ADVENTERPRISEK9-M), Version 15.2(4)S5, RELEASE SOFTWARE (fc1))

ad-hoc Command:
ansible all -i 192.168.221.3, -m raw -a 'show version' -u admin -k

Error message
"Failed to connect to host via ssh, unable to negioate with 192.168.221.3 port 22"
no matching cipher found. their offer:

[2020-12-30 20:22] shiron-babi commented on #72453
Hi,
I've encountered this issue as well.

[2020-12-30 23:26] MarkusTeufelberger commented on #73077
That's just what a role is. If you share lots of tasks between 2 or more roles, just create another one with the shared content and call it either as dependency or via import/include.

[2020-12-31 00:58] jerrac opened #73089 "Please document the hash_behaviour=merge deprecation decision and recommended replacement"
I only just found out about `hash_behavior=merge` being deprecated today. And then promptly discovered that any issues talking about it were locked, and I could find no explanation of why it's deprecated, beyond that it is supposedly fragile.

To be blunt, I don't agree with the decision. In fact I've always thought it was rather weird that it isn't the default behavior. I have been successfully r

[2020-12-31 07:09] xylle commented on #72331
THX, all done now

[2020-12-31 09:17] caoshitong369 opened #73090 "hosts issues"
May I ask why I can successfully execute the specified host file, but the dynamically generated host cannot execute successfully without writing the file
![image](https://user-images.githubusercontent.com/44139321/103403526-6f9c8c80-4b8b-11eb-9757-fac28c53b951.png)
![image](https://user-images.githubusercontent.com/44139321/103403560-8ba02e00-4b8b-11eb-9482-ffca0567d9eb.png)
`
{
	'failed': {
		'10

[2020-12-31 09:36] felixfontein commented on #73089
If you just need the functionality for host_vars and group_vars, and not in other places (like roles), this can be simply solved by creating a vars plugin that does the same than https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/vars/host_group_vars.py except that it always merges dictionaries. Then you can remove the original host_group_vars from the allowlist and enable this one

[2020-12-31 09:39] felixfontein commented on #73010
I'm looking forward to when DEFAULT_JINJA2_NATIVE finally switches the default to `true`. Maybe for ansible-core 3.0.0? :-)

(As long as it is possible to set it back to `false`, it would be an acceptable breaking change IMO.)

[2020-12-31 09:44] felixfontein commented on #73089
I just noticed that @b-abadie already suggested a modified vars plugin in https://github.com/ansible/ansible/pull/63300#issuecomment-543772169. This is now possible with collections, as long as you are avoiding Ansible 2.9 (which does not support vars plugins in collections) or earlier. ansible-base 2.10 supports vars plugins in collections.

[2020-12-31 11:40] ikke-t commented on #73084
To add to this, it is true that RHEL Edge is not intended to install stuff into system after image is baked, even though it is OK to do so. But as the package manager gets identified wrong, it breaks many existing roles that check if certain package is installed. That's the case for me here.

[2020-12-31 17:18] jerrac commented on #73089
@felixfontein Thanks for the tips. I'll take some time to see what I can do with them.

That said, my main problem is the lack of communication on the subject, and the way most/all the issues have been locked. I'd get it if there had been a solid discussion already, and there wasn't any point in rehashing (pun, ha) it. But I sure haven't been able to find any evidence of that discussion, and if th

[2020-12-31 20:48] likan999 opened #73091 "Allow per-host become settings when using delegate_to"
##### SUMMARY

Currently, if different hosts have different become settings, e.g. some just use root password to login, some use normal user to login and then become root using sudo, then the example in the [doc](https://docs.ansible.com/ansible/latest/user_guide/playbooks_delegation.html#delegating-facts) won't work, reporting "Authentication or permission failure.". This is because missing `beco

[2021-01-01 06:13] likan999 commented on #56046
Also hit by this hard and very disappointed that this fundamental issue is left untouched for years.

[2021-01-01 14:24] dmrub commented on #72242
I have found another combination of inventory and playbook that generates an error:
Inventory inventory-t1.yml:
[code]

Playbook test-playbook-t1.yml:
[code]

Then if I run ansible playbook I will get following result:
[code]

[2021-01-01 15:58] imjoseangel commented on #72748
I have implemented the solution with glob support. Let me know your thoughts @agowa338 and @samdoran

[2021-01-01 16:12] strelnikov opened #73093 "postgresql_ext postgis installation failed"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_ext

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

mac os, latest, chipset m1

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2021-01-01 16:13] strelnikov commented on #73093
postgres=# SELECT extversion FROM pg_catalog.pg_extension where extname='postgis';
extversion

3.1.0
(1 row)

postgres=# SELECT version FROM pg_available_extension_versions where name='postgis';
version

unpackaged
3.1.0
3.1.0next
(3 rows)

[2021-01-01 16:19] #73093 closed, assigned to nobody

[2021-01-02 00:37] likan999 opened #73094 "Variable lookup fails after multiple include_roles/include_tasks"
##### SUMMARY

I don't know much about Ansible internals so the title only describes the phenomenon; what's actually goes wrong might be completely different.

Basically, I can observe two issues here,
1. after multiple include_roles and include_tasks, variable lookup starts to fail;
2. the other problem is condition is applied to tasks inside multiple `include_role`s, while it is not supposed to

[2021-01-02 17:00] bitmand opened #73096 "Task fail when looping over list with dates"
##### SUMMARY
Using loop with list of dates (or list of dicts with dates in it) fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Testing with debug module, but it fails for other modules as well.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
Tested with default configuration (`$ ansible-config dump --only-changed` output is empty).

##### OS / ENVIRONMENT
Ubuntu 20.04.1 LTS

[2021-01-02 19:40] tsirkin opened #73097 "Use python aio for network device playbooks"
##### SUMMARY
Use python aio for network device playbooks

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible.executor.process.worker

##### ADDITIONAL INFORMATION
While working with network devices, the modules are executed on ansible controller machine.
It would be much better suited to run those modules in the same process with the main ansible, ideally using aio.
In some cases, like

[2021-01-03 13:40] RagingPuppies opened #73098 "issue with winrm - credssp: __exit__"
Hi,
while trying to connect to windows server over credssp i get an error unreachable __exit__
this was working for a long time, i changed nothing but i've seen that apt now downloads 2.9.16 instead of 2.9.4

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pywinrm[credssp]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO REPRODUC

[2021-01-03 16:36] dogabone opened #73100 "ansible-pull --purge will try to remove / when destination directory is ."
##### SUMMARY
I was testing `ansible-pull` with the `--purge` option. This was my first time using it, and I did read the documentation for [--dest](https://docs.ansible.com/ansible/latest/cli/ansible-pull.html#cmdoption-ansible-pull-d) and [--purge](https://docs.ansible.com/ansible/latest/cli/ansible-pull.html#cmdoption-ansible-pull-purge).

The problem is that, as per this part of the code:

htt

[2021-01-03 23:46] l3ender opened #73103 "ansible-galaxy role install with `--server API_SERVER` does not download artifact from URL specified in API response"
##### SUMMARY
When installing a role with `ansible-galaxy` and specifying an API server, the role artifact download location (URL) is not correctly honored/used from the role version API response. `ansible-galaxy` will download the artifact from https://github.com even if the `download_url` value in the role version API response specifies a different location.

Example link to API response to role

[2021-01-04 03:35] l3ender commented on #73103
!component +lib/ansible/cli

[2021-01-04 06:38] felixfontein commented on #73071
This seems to be caused by #71904: when the first install errors out because of a timeout while fetching the version list, the incomplete version list is stored in the cache, and subsequent install calls directly use the cached incomplete version list and fail with this error.

CC @jborean93

[2021-01-04 06:54] mkrizek commented on #73085
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansibl

[2021-01-04 06:54] #73085 closed, assigned to nobody

[2021-01-04 06:57] mkrizek commented on #73090
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2021-01-04 06:57] #73090 closed, assigned to nobody

[2021-01-04 08:49] Thulium-Drake opened #73104 "Ansible does not respect NOCOLOR environment variable"
##### SUMMARY

I know you can disable colors in Ansible by setting ```nocolor = true``` in ```ansible.cfg```, but this seems redundant for those that already have colors disabled in their environment (e.g. a colorblind colleague of mine).

Would it be possible to make Ansible respect the ```NO_COLOR``` environment as well, if set?
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible
#####

[2021-01-04 08:59] mkrizek commented on #73096
Duplicate of https://github.com/ansible/ansible/issues/72247

[2021-01-04 08:59] #73096 closed, assigned to nobody

[2021-01-04 10:15] stefanoabbate commented on #66977
@mkrizek sorry for getting back to you so late. Thank you for your solution. I tried it and it was working... however I found a way to work around the issue by changing a little part of the playbook.

Basically, I removed the file eap_exists.yml and set roles/eap/tasks/main.yml as follows:

[code]

I used set_fact instead of dynamically include vars. In the original code the "include vars" was und

[2021-01-04 14:45] webknjaz commented on #72668
Mostly envs that run in CI can also be considered supported.

I think this is something to be raised separately, maybe with the community team, to see if it's possible to extract this content.

No. This is not something that anybody even brought up AFAIK.

This is a corner case that may get a bit faster, yes. But I don't think that it's a primary use-case.

I believe we've absorbed all the improve

[2021-01-04 14:55] Shrews commented on #73052
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2021-01-04 14:55] #73052 closed, assigned to nobody

[2021-01-04 15:15] bcoca commented on #73104
Ansible has it's own 'no color'  `ANSIBLE_NOCOLOR` but I'll add a PR to add the existing convention to the configuration sources

this patch can be used as workaround:
[code]

[2021-01-04 15:52] bcoca commented on #37564
`-u` does NOT set `ansible_user`, this is a misconception. It used to be able to reflect as 'ansible_user' in templating outside of the loop, but this was also incorrect since the value can change for each loop item (also why this seemed inconsistent).

Note that  making the `become_user` the same as the `ansible_user` aka 'remote user' would be a noop, same as `become: false`.

[2021-01-04 16:06] bcoca commented on #72242
this is an issue with `hostvars` not being autotemplated, see my attempts to fix in #72419

[2021-01-04 17:01] #72217 closed, assigned to Akasurde

[2021-01-04 17:02] bcoca commented on #73083
!bot_status

[2021-01-04 17:42] bcoca commented on #73083
!bot_skip

[2021-01-04 17:43] #73083 closed, assigned to nobody

[2021-01-04 18:21] s-hertel commented on #73036
From your debug tracing, it looks like you have a `delegate_to` somewhere, which is probably important for reproducing.

Do you have a delegate_facts somewhere too? Your role may be trying to use the wrong variable. It looks like at one point, there was a bug where delegate_facts set the variable for the host doing the delegating instead of the delegate_to host. Because the variable {{ apache_serv

[2021-01-04 19:24] relrod commented on #72331
Well, we can leave it open until the PR gets merged.

[2021-01-04 22:12] jorhett commented on #65699
this seems inconsistent with Ansible overall. Instead of creating a new UI why not be consistent with existing Ansible?

If the version differs then it should be fixed, no?  If the version is "present" then it should simply be there, etc.

[2021-01-05 11:38] levonet commented on #69721
#71979

[2021-01-05 14:56] bcoca commented on #26673
closing as per reasoning in #73032, this should be added to a collection.

[2021-01-05 14:56] #26673 closed, assigned to nobody

[2021-01-05 15:15] bcoca commented on #73018
closing as per above

[2021-01-05 15:15] #73018 closed, assigned to nobody

[2021-01-05 15:17] #72331 closed, assigned to relrod

[2021-01-05 15:28] anshulbehl commented on #73021
@bcoca ack, but the way we do certification testing is through ansible-test which seems like the right place to hold that test, until we split the testing upstream and downstream.

[2021-01-05 15:30] bcoca commented on #73028
closing as per above

[2021-01-05 15:30] #73028 closed, assigned to nobody

[2021-01-05 15:39] abadger commented on #72668
This would be a core team decision to make.  It makes sense to me that you'd want to maintain it separately (but use dependencies to require both are installed... Not strictly version locked, though). If you also want to stop maintaining those plugins, you'd probably want to talk to the content team about them taking over

[2021-01-05 15:39] bcoca commented on #73035
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this feature request because we already have ways to reuse tasks and variables via `include_role`/`include_vars` and other variants.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't alwa

[2021-01-05 15:39] #73035 closed, assigned to nobody

[2021-01-05 16:02] bcoca commented on #73064
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, from the ssh error it

[2021-01-05 16:02] #73064 closed, assigned to nobody

[2021-01-05 16:12] bcoca commented on #73021
just pointing it out as it should not be a default setting for ansible-test as many community collections will fail it

[2021-01-05 16:31] joelouthan opened #73118 "win_shell_module page: typo 'comand'"
##### SUMMARY

I have forked ansible, cloned, and searched through the code and cannot locate this misspelling:
https://docs.ansible.com/ansible/latest/collections/ansible/windows/win_shell_module.html#examples

Note: This only shows up for 2.9 and 2.10 (latest). The typo is not in 2.8 and older.

Also note: there is not an "Edit in Github" link available on this particular page.

##### ISSUE TYPE

[2021-01-05 16:39] #73118 closed, assigned to nobody

[2021-01-05 16:40] anshulbehl commented on #73021
ack, there is no requirement to run sanity testing before you upload to galaxy and the galaxy importer doesn't mandates that too. Sure the community collections would fail, but this should be surfaced to maintainers as this can be a *problem users may have with your collection*

[2021-01-05 19:31] fourstepper opened #73121 "pip module seems to behave strangely on ubuntu 20.04"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible.builtin.pip

##### ANSIBLE VERSION
ansible 2.10.4

#### OS
Fedora 31 (in CI) (probably unrelated to the problem as it only spins up a podman container in which the tasks are run)

In a few of my jobs, the pip module started acting a bit weird:

https://builds.sr.ht/~fourstepper/job/387663

On initial molecule run, everything goes through

[2021-01-05 19:40] am-titan commented on #73064
Hi Bcoca,

This seems to me really contra productive to reply on a thread after almost three weeks with the answer that makes no sense!
If you read carefully the information I have initially posted, you’ll notice that I wrote: “ALL HOSTS ARE NORMALLY REACHABLE, SSH KEYS HENCE PASSWORDLESS CONNECTION ARE WORKING WELL!”

but the directly close the issue, seems to me a bit too quick, don’t you think?

[2021-01-05 20:20] bcoca commented on #73064
@am-titan please carefully read my answer, that you have all hosts reachable is not the same thing as the host being passed to ssh by Ansilbe is reachable with the information given.  The error returned by ssh and printed by Ansible is clear and indicates you are not using the same information when accessing them directly vs the inventory provided to Ansible.

I closed this issue because it is not

[2021-01-05 20:31] felixfontein commented on #72668
Since the name `ansible.builtin` is treated specially, it would probably make sense to use a new name, like `ansible.core` or `ansible.base` or `ansible.basic`, and use Ansible's https://github.com/ansible/ansible/blob/devel/lib/ansible/config/ansible_builtin_runtime.yml to redirect all `ansible.builtin.<oldname>`s to the new collection. If this is an option at all.

[2021-01-05 20:39] jerrac commented on #73089
@felixfontein Thanks! Sorry for not being there, I really thought it was going to be tomorrow... :\

I will do my best to make it to the next one.

[2021-01-05 20:55] samdoran commented on #73064
@am-titan We did see that you reported “ALL HOSTS ARE NORMALLY REACHABLE, SSH KEYS HENCE PASSWORDLESS CONNECTION ARE WORKING WELL!”. It still seemed like a host resolution issue based on the output you provided:
[code]

Issues like that are best resolved in IRC where it is possible to debug in real time.

As @bcoca mentioned, many if not all of the project maintainers were on holiday for the last

[2021-01-05 21:12] samdoran commented on #72992
Hmmm. I thought I added a test case for this. I see why that's happening, though. I'll keep working on it.

#73016 is the PR with changes to the module. There is no "Python 3" module. It is written to work with Python 2.6, 2.7, and >=3.5.

[2021-01-05 21:17] am-titan commented on #73064
@samdoran, @bcoca,

thank you both for the dedication and support in the community, that’s an important cause and also appreciated!

yes, I agree that this bug was initially was opened during the holidays, I was just hoping that due this fact the cases should stay a bit longer open in order to assure that this is notabug.

I have seen the massage that states host unreachable, due to IP communicati

[2021-01-05 21:24] bcoca commented on #73064
@am-titan, Ansible does not do host resolution in this case, it just passes the info to the `ssh` command, which is issuing the error you see.

[2021-01-05 21:40] #73019 closed, assigned to samccann

[2021-01-05 22:16] samdoran commented on #72992
@hunter86bg I believe I have fixed the behavior you were seeing. Can you test with the latest commit in #73016?

I am still working to fix this for BSD, but it should be fixed for Linux.

[2021-01-05 22:56] bcoca commented on #72833
https://github.com/ansible/proposals/issues/127

[2021-01-06 03:12] beyondacm opened #73126 "Found an obsolete TODO comment"
##### SUMMARY

Found an obsolete TODO comment within lib/ansible/plugins/connection/winrm.py, line 633 (# TODO: improve error handling)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/plugins/connection/winrm.py

##### ADDITIONAL INFORMATION

Found an obsolete TODO comment within lib/ansible/plugins/connection/winrm.py, line 633 (# TODO: improve error handling)
The pending task o

[2021-01-06 04:49] mattclay commented on #72367
Resolved by https://github.com/ansible/ansible/pull/72861

[2021-01-06 04:49] #72367 closed, assigned to relrod

[2021-01-06 04:51] mattclay commented on #72393
Resolved by https://github.com/ansible/ansible/pull/72477

[2021-01-06 04:51] #72393 closed, assigned to bcoca

[2021-01-06 06:58] hunter86bg commented on #72992
I've manually edited the module on another test system and based on my test the last commit in #73016 seems good:
First pass:
[code]
[code]
Second pass:
[code]
[code]

[2021-01-06 07:06] felixfontein opened #73127 "`ansible-galaxy collection list` fails"
##### SUMMARY
When running `ansible-galaxy collection list` on an Ansible 2.10.4 install, I get an error:
[code]
1. When trying to specify `--collections-path` (`ansible-galaxy collection list --collections-path .`) it errors out with `ansible-galaxy: error: unrecognized arguments: --collections-path`.
2. Shouldn't it just work and show the collections installed (in this case: no collections insta

[2021-01-06 07:51] mkrizek commented on #73126
No need to open issue for existing pull request. Closing in favor of https://github.com/ansible/ansible/pull/73116.

[2021-01-06 07:51] #73126 closed, assigned to nobody

[2021-01-06 13:57] FF186 commented on #24862
I actually get this for error:

`ansible 2.9.9`

[2021-01-06 15:06] amhn opened #73128 "Module fetch fails on windows host with wildcards in filename"
##### SUMMARY
Using fetch to get files from windows hosts fails if the filename can be interpreted as a powershell wildcard. For example "new[12].txt"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

connection winrm.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible host is Ubuntu 18.04. Target is Windows Server 2019 (1809)

##### STEPS TO REPRODU

[2021-01-06 15:35] samdoran commented on #72992
@hunter86bg Thanks for confirming. I added a test case for this scenario as well. I just need to get it fixed up for BSD now.

[2021-01-06 15:50] #45475 closed, assigned to Akasurde

[2021-01-06 16:01] samdoran commented on #72749
Oops! Fixed.

[2021-01-06 17:51] JuddTracy-DAS opened #73134 "ansible_mounts missing size information"
##### SUMMARY

I am having issues on a laptop where gathering facts does not always return size information on one of my LVM partitions.  It seems that if the laptop is put to sleep and then woken up the size information is not returned for one of the partitions.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRO

[2021-01-06 18:01] jpralves commented on #58632
You should also add:
   HTTP_PROXY: ''
   HTTPS_PROXY: ''
   NO_PROXY: ''

[2021-01-06 18:57] #72950 closed, assigned to nobody

[2021-01-06 20:17] mattclay commented on #68784
Resolved by https://github.com/ansible/ansible/pull/72126

[2021-01-06 20:17] #68784 closed, assigned to relrod

[2021-01-06 22:27] pramos84 opened #73138 "Azure Interface Card - Allow Create Static IP NIC Without Need to Specify an Address"
---
name: ✨ Feature request
about: [AZURE] Allow Create Static IP NIC Without Need to Specify an Address
---
##### SUMMARY
Hi guys. In our Azure environment, we create the network interface cards with static address. We don't care to what will be the address, but once it's defined, we don't want it changes. I believe that others companies maybe adopts the same practice, so would be very usefull if

[2021-01-07 03:17] autocoder10 opened #73139 "'loop' is not a valid attribute for a PlaybookInclude"
##### SUMMARY
Hi, can we use loops in "include" for a playbook? I am getting the error when I tried the below play. Is there any workaround for this error?

- name:  second playbook.
   include: test_portnaming.yml
   loop:
   - test1

**Error:**
ERROR! 'loop' is not a valid attribute for a PlaybookInclude

The error appears to be in '/home/user1/ansible/ansible-9.0.0a/test_portnamingTEST.yml': li

[2021-01-07 03:21] fredericrous opened #73140 "ansible.legacy.setup - ImportError: No module named ast"
##### SUMMARY
I got a regression after upgrading ansible. When I run the playbook, I now get `Error: No module named ast`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible.legacy.setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I run ansible from my MacOS Catalina to my QNAP NAS (with python2.7)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2021-01-07 08:07] mkrizek commented on #73138
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansibl

[2021-01-07 08:07] #73138 closed, assigned to nobody

[2021-01-07 11:04] jantari opened #73141 "ansible-galaxy install should fail when cloning a git repo that contains git-lfs files that weren't downloaded"
##### SUMMARY
Currently when using a command like `ansible-galaxy install --force --role-file requirements.yml` with a requirements.txt that contains git repositories such as:

[code]

and the git-repository contains git-lfs files but `git-lfs` is not installed on the local machine, the `ansible-galaxy install` command will seemingly complete successfully, but the downloaded role is missing files

[2021-01-07 12:20] felixfontein commented on #73073
`destination_port` is of type string, see https://docs.ansible.com/ansible/devel/collections/ansible/builtin/iptables_module.html#parameter-destination_port The documentation states that explicitly and the description gives several reasons why that is needed: you can specify service names or provide port ranges. This obviously doesn't work with pure integers :-)

[2021-01-07 14:16] maunzCache opened #73143 "User and group not set for symlink in file module - defaults to root"
##### SUMMARY
When creating a symlink with the file module and explicitly setting the owner and group parameter, ansible will use the user root and the group root. This fails our integration tests recently and seems like a regression.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
file module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux 5.4.0-59-

[2021-01-07 14:30] goldyfruit commented on #73073
You are right @felixfontein, my bad.

[2021-01-07 14:30] #73073 closed, assigned to nobody

[2021-01-07 15:06] absynth76 opened #73145 "default registered variable for better error handling"
##### SUMMARY
As a user, I want a variable automatically populated with the latest task execution output
Of course respecting no_log or other modifiers

This will permit to have better error catching, it would also permit, in my case, to populate a kubernetes CustomResource with the latest failed status if any.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
core

##### ADDITIONAL INFORMATI

[2021-01-07 15:20] samdoran commented on #73042
@dvaerum Sorry about the noise. I was worried that consolidating that logic would result in some new warnings that were not there before. I'll work on a solution.

[2021-01-07 15:52] samdoran commented on #72748
After reviewing the feature a bit more, we have decided we do not include this feature. See https://github.com/ansible/ansible/pull/73092#issuecomment-755755180 for details.

[2021-01-07 15:52] #72748 closed, assigned to nobody

[2021-01-07 15:54] samdoran commented on #73073
I'm planning to get rid of this noisy warning in 2.11. https://github.com/ansible/ansible/pull/62027

[2021-01-07 16:26] sivel commented on #73054
This may not be easy to fix.  The problem is that `AnsibleVaultEncryptedUnicode` does not inherit from a string type, but implements the methods to function as a string.

In both our `urlencode` filter (used with jinja2<2.7) and in upstream jinja2, there are `isinstance` checks which prevents it from being treated as a string.

More work would need to be done to test this, but on the surface, this

[2021-01-07 16:33] felixfontein commented on #73073
@samdoran I hope there's a chance of backporting str_strict to 2.9, because otherwise it will take many, many years until it can be used (until 2.9 is dead)...

[2021-01-07 16:40] flowerysong commented on #73145
`ansible_failed_task` and `ansible_failed_result` are available in `rescue` for precisely this use case. See https://docs.ansible.com/ansible/latest/user_guide/playbooks_blocks.html

[2021-01-07 16:43] sivel commented on #73094
Duplicate of https://github.com/ansible/ansible/issues/47023

[2021-01-07 16:43] #73094 closed, assigned to nobody

[2021-01-07 16:54] sivel commented on #73121
The issue here seems to be that you are using python2 on the target host, and not python3.  You can see this here:

https://builds.sr.ht/~fourstepper/job/387663#task-ubuntu-2004-627

[code]

That would `WARNING` would have indicated `python3-apt` if you were executing python3.

As such, when you run the `pip` module, it also expects that `pip` be installed for the python2 interpreter being used.

[2021-01-07 16:56] fourstepper commented on #73121
If you check above, the first run installs python3-apt correctly (https://builds.sr.ht/~fourstepper/job/387663#task-ubuntu-2004-130)

On the second run, it installs python-apt v2. Why would that be done?

[2021-01-07 16:57] fourstepper commented on #73121
Or should this be set for Ubuntu specifically?

https://crapts.org/2020/04/30/set-python-3-as-default-in-ubuntu-20-04-fosca-fossa/

[2021-01-07 16:59] sivel commented on #73140
Your `/usr/local/bin/python2` is missing the Python stdlib `ast` module:  https://docs.python.org/2.7/library/ast.html

This indicates that your python install does not contain all necessary features.

You will need to investigate how to install this module on your platform or rebuild python so that it is included.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #

[2021-01-07 16:59] #73140 closed, assigned to nobody

[2021-01-07 17:03] sivel commented on #73121
That indicates that python2 wasn't available when the first playbook execution happened, and it was installed during that first execution.  Then the 2nd execution discovered that py2 was available and used it.

Our python auto discovery still prefers `/usr/bin/python` if found.  See https://docs.ansible.com/ansible/latest/reference_appendices/config.html#interpreter-python for how to change that b

[2021-01-07 17:06] fourstepper commented on #73121
Its quite beyond me how a task that installs the "python3-apt" package installs the python2 vesion of that package