[2017-10-13 05:36] #31630 closed, assigned to nobody

[2017-10-13 07:50] sm4rk0 commented on #31591
@jctanner Yes. Sorry, I searched existing issues before opening this one, but not the PRs, too.
@samdoran Tested. Fixed. Closing this one.
Cheers

[2017-10-13 07:50] #31591 closed, assigned to nobody

[2017-10-13 08:11] fchiacchiaretta opened #31684 "Add support for multiple IP configurations in azure_rm_networkinterface"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
azure_rm_networkinterface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I'm using Ansible 2.4 from awx docker images

##### SUMMARY
When creating a network interface on Azure using azure_rm_networkinterface module, I can create a vnic with a single IP configuration, while Azure support multiple IP configuration per vnic, as per screenshot

[2017-10-13 08:39] tinawenqiao opened #31685 "Playbook hangs on some AIX managed nodes when setting gathering to explicit."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ssh

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

defaults]
host_key_checking = False
forks = 100
sudo_flags = -H -S
retry_files_enabled = False
gathering = explicit
allow_world_readable_tmpfiles=True
stdout_callback = json
log_path    = /var/log/ansible.log
#timeout = 60
#[ssh_connection]
#ssh_args=-T
#[persistent_connection]
#connect_

[2017-10-13 08:44] tinawenqiao commented on #31685
If I remove gathering = explicit，the playbook will not hang, but with some error. You can read in this file.
[debug_nothang.LOG](https://github.com/ansible/ansible/files/1381914/debug_nothang.LOG)

[2017-10-13 09:09] linhn3822 commented on #5908
Ansible 2.4 seems to have a bug with authorized_key module.

Here the code.

- name: generate key
  user:
    name: linh5847
    createhome: yes
    shell: /bin/bash
    groups: wheel
    password: "123456"
    generate_ssh_key: yes
    ssh_key_bits: 2048
    ssh_key_file: .ssh/id_rsa
  when: inventory_hostname == "hadoop01"

- name: Set authorized key
  authorized_key:
    name: linh5847
    stat

[2017-10-13 09:21] mpz commented on #6499
I am also have this issue.
fatal: failed to stat '.': Permission denied

[2017-10-13 09:48] linhn3822 opened #31687 "ansible 2.4 authorized_key module bug"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
authorized_key

##### ANSIBLE VERSION
2.4

##### SUMMARY
Ansible 2.4 seems to have a bug with authorized_key module.

Here the code.
[code]
Here the Error I keep getting, but don't know what it is complaining about. The first part is definitely generate an SSH KEY and the linux box do have /home/linh5847/.ssh/id_rsa.pub file.
[code]

ERROR:-
[code]

[2017-10-13 10:15] mike-pt commented on #25072
I'm seeing a similar issue when trying to download a file from a "remote_hostC"

This would be the task:
[code]

The target host (hostB) is the same as the controller (hostA) in this case, I'm unsure if I really need the delage_to in such case, but since it might not be the case when this goes in prod I though it best to have it delagate to `hostB`.

the issue seems to be that  `hostC`doesn't allo

[2017-10-13 10:17] Saloshp opened #31689 "Ansible 2.4 group_vars not parsed lexicographically"
##### ISSUE TYPE
 - ~Bug  Report~
- Feature Idea

##### COMPONENT NAME
group_vars

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]

##### SUMMARY
group variable files of higher lexicographical order do not override lower ones

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
ok: [127.0.0.1] => {
    "myvar": "02"
}
##### ACTUAL RESULTS
[code]

[2017-10-13 10:38] fredleger opened #31690 "os_server_facts should have better regexp"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
os_server_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no specific related options

##### OS / ENVIRONMENT
All / openstack

##### SUMMARY
When using dynamic inventories with os_* modules it should be nice to have openstack support more than fname (which is limited to matching file style glob patterns). i guess using python RE modul

[2017-10-13 10:40] mike-pt commented on #25072
To clarify the comment above the "bug" would be that that path becomes relative even when the "host:" format is used...  but this could also be a feature request maybe?

rsync supports ssh/rsh or using the rsync daemon, it seems that ansible only accepts the "rsync://" option, I tested the `::` format and that still converts the path to a relative one in respect to the dir I'm running this from.

[2017-10-13 10:40] mkrizek commented on #25122
Fixed in https://github.com/ansible/ansible/pull/26865

[2017-10-13 10:40] #25122 closed, assigned to nobody

[2017-10-13 10:46] mejo- opened #31691 "apt_key module ignores the proxy environment"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

apt_key

##### ANSIBLE VERSION

[code]

##### SUMMARY

The Ansible module `apt_key` doesn't recognize proxy environment settings. This makes it unusable on systems that depend on using a HTTP(S) proxy.

##### STEPS TO REPRODUCE

Set `Acquire::http::Proxy "http://proxy.example.org:3128/";` in `/etc/apt/apt.conf` and set proxy_env variables in An

[2017-10-13 10:50] dupondje opened #31692 "Build Ansible packages for Ubuntu Artful (17.10)"
Currently the Ansible PPA (https://launchpad.net/~ansible/+archive/ubuntu/ansible) doesn't contain packages yet for Ubuntu 17.10 (Artful).

As the release date is scheduled the 19'th, I guess it might be good to start building packages for it already.

[2017-10-13 10:55] machacekondra commented on #22189
That is right.

Yes, that's correct, we should have a solution for this and `run_once` would be nice parameter to solve this. Thanks for feedback I will fix it.

Ok, the initial thought was that if you create a VM you mean also to run a VM, it was suggestion by a different guys, but I agree it is not a use case always. So I will introduce new parameter `run_on_create` or similar, which will be by

[2017-10-13 10:56] nkakouros opened #31693 "`skipped` is missing from tasks not skipped"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

task exexutor

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

Arch linux

##### SUMMARY

When a task is skipped the `skipped` key is set in the return values with a value of `true`. When the task is run, `skipped` is not set.

##### STEPS TO REPRODUCE

Example playbook:

[code]

##### EXPECTED RESULTS

The

[2017-10-13 11:00] duck-rh commented on #29541
Another test case showing the difference of behavior between `roles` and `include_role`.

playbooks/z.yml:
[code]
roles/outer/tasks/main.yml:
[code]
roles/outer/meta/main.yml:
[code]
roles/test/tasks/main.yml:
[code]
roles/test/tasks/inc.yml:
[code]

Result:
[code]

[2017-10-13 11:00] machacekondra commented on #22189
cc @mwperina

[2017-10-13 11:14] ghost commented on #29784
Hope that thread is still alive

Sorry first for my english and second
probably I've found a bad place to complain

but the title of that issue is the same as I would call mine

My problem looks exactly the same but that is an absolutely different case

I have a pair of Nexus7000 with old Sup1 supervisor cards
the latest firmware for that hardware doesn't support an nxapi as well as a json output

[2017-10-13 11:26] haffla commented on #25823
Confirming this too, but isn't it rather an incompatibility issue of [psycopg2](https://github.com/psycopg/psycopg2)? The error is in `/usr/lib/python3/dist-packages/psycopg2/extras.py`.

My psycopg2 version is 2.6.1. Don't have time now to test it with the latest version (2.7.3.1). Officially psycopg2 does not support PG10. See [here](http://initd.org/psycopg/docs/install.html). I don't find any

[2017-10-13 11:30] #24015 closed, assigned to nobody

[2017-10-13 11:52] haffla commented on #25823
Ah no forget what I said. Issue is in https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/database/postgresql/postgresql_user.py. In PG10 UNENCRYPTED is not supported.

[2017-10-13 11:59] voipmeister commented on #25508
Hello @bjolivot

I can confirm this, sort of. I think that the problem lies in the order in which the change is being done by ansible.

### Working playbook example

This will work, regardless whether the rule is present or not:
[code]

This would have change_string of (please not the order of set srcaddr and set srcintf):
[code]

### Failing playbook example

However, this will *not* work (please

[2017-10-13 12:00] adelton opened #31694 "Use of pause fails with python3 when stdin is closed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

./lib/ansible/plugins/action/pause.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Output of `python3 /usr/bin/ansible-config dump --only-changed` is empty.

##### OS / ENVIRONMENT

Running on Fedora 26 under python3 but don't assume it to be OS-specific.

##### SUMMARY

When running playbook which uses `pause`, for example https://git

[2017-10-13 12:03] mailsam1979 commented on #19584
Installed python on slave and it worked for me.

[2017-10-13 12:03] haffla commented on #25823
If you set `encrypted` to `yes` it works.

[code]

[2017-10-13 12:49] s-hertel commented on #30806
@ndeixonne Cool, glad that works for you. 2.4.1 final will probably be released within the next couple weeks.

[2017-10-13 12:59] #27283 closed, assigned to nobody

[2017-10-13 13:07] bjolivot commented on #25508
Thank you for understanding the problem, I'll see to correct this.

[2017-10-13 13:10] kpirkle commented on #29867
This issue still exists in ansible 2.4.

[2017-10-13 13:15] voipmeister commented on #25508
Thanks, let me know if you are willing to share updated code so I can test it, I'd be happy to.

[2017-10-13 13:25] dathelen commented on #31346
@halberom

Most of the time the answer is yes, but there is one exception.  If the model for a given command has been updated to a new revision there will be a difference between what ` | json ` returns and what `eapi`.  The json on the CLI will always return the most recent data model, where eapi always returns the oldest one by default.  There is an attribute you can pass into the json data when

[2017-10-13 13:25] zgould commented on #31649
@dagwieers

Included all details.

[2017-10-13 13:26] pizzarabe commented on #30963
According to http://docs.ansible.com/ansible/latest/lineinfile_module.html there is no reason to disallow the simultaneously use of insertbefore and insertafter (but it is explicit documented that you can not use backrefs with them).

Anyway, I absolutely agree to allow the use of both options, after trying to modify some apache configs with that module  (Ansible Version 2.4.0.0)

sth. like
[code]

[2017-10-13 13:36] perzizzle commented on #31666
Thanks for the quick reply. You are correct I needed to specify the folder as {{ datacenter }}/vm/Test. Looking at the documentation this is mentioned but wonder if a document update would help clarify this.

[2017-10-13 13:36] #31666 closed, assigned to nobody

[2017-10-13 13:39] bukaj-mh opened #31699 "Can't use Ansible ios_ core modules to manage Cisco IOS version 15 using ssh keys."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

linux, managing Cisco IOS v15

##### SUMMARY
Ansible is not able login to cisco switch using rsa ssh key. The older issue wtih ssh keys was closed
due inactivity, so opening new. Belive there is more people managing Cisco IOS switches
who would like to use ansbile.

an

[2017-10-13 14:09] shanemcd commented on #31692
Packages for Artful have been uploaded to both the latest (2.4) and 2.3 PPAs. This issue can be closed.

[2017-10-13 14:16] leifmadsen commented on #31116
I ran into a similar issue when using the `async` command in a playbook. Not sure exactly what the problem was, but I completely removed Ansible using `dnf` from my Fedora 26 host, searched for anything related to Ansible on the host (removed `$HOME/ansible/` and an old site-package in the `/usr/lib/python2.7` directory).

Installed Ansible again, and now it works.

[2017-10-13 14:17] eikef commented on #24964
Added a new PR (#31701) with just the Zabbix commit from your PR in order to ease merging. :-)

[2017-10-13 14:18] gundalow commented on #31692
`Artful` has been added to the default set of distributions we now build.

Thanks @shanemcd!

[2017-10-13 14:18] #31692 closed, assigned to nobody

[2017-10-13 14:30] #31225 closed, assigned to nobody

[2017-10-13 14:32] machacekondra opened #31703 "Don't start VM when state is present"
It showed, that more reasonable for oVirt VMs `state` present is to don't start them. Better solution is just to create them if it don't exist and don't touch the state of the VM.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ovirt_vms

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

####

[2017-10-13 14:32] Rylon commented on #24045
Hi all, for what it's worth, I appear to have stopped encountering this issue since upgrading to the latest Ansible version 2.4.0.0 👍

[2017-10-13 14:34] luqasz opened #31704 "AWS security group description mismatch causes module ec2_group to fail"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/Users/lkostka/devbox/prov/ansible.cfg) = True
ANSIBLE_SSH_ARGS(env: ANSIBLE_SSH_ARGS) =
DEFAULT_CALLBACK_PLUGIN_PATH(/Users/lkostka/devbox/prov/ansible.cfg) = [u'/Users/lkostka/devbox/prov/callbacks']
DEFAULT_FILTER_PLUGIN_PATH(/Users/lkostka/devbox/prov/ansible.cfg

[2017-10-13 14:40] s-hertel commented on #31623
Closing for the reason above.

notabug

[2017-10-13 14:41] dglinder opened #31705 "Vault variable in lists error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Core functionality involving variable lists and vaulted values.

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
RedHat 6.8
Ansible installed via ```pip```.

##### CONFIGURATION

[code]

##### SUMMARY
Vaulted variables in lists produce an error, but work in dictionaries.

##### STEPS TO REPRODUCE
Using this playbook:

[code]

Run it with th

[2017-10-13 14:42] #31623 closed, assigned to nobody

[2017-10-13 14:57] deadmalc commented on #31169
Please close ticket, this is going nowhere.
I'm happy to accept that it will not be supported on Centos 6/RHEL 6 as we will be migrating

[2017-10-13 14:57] #31169 closed, assigned to nobody

[2017-10-13 15:00] MichalTaratuta opened #31706 "ec2_vpc_subnet TAGS are not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_vpc_subnet
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

configured module search path = [u'/etc/ansible/modules']
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Module is not idempotent when used with **tags** option. If a tag is present the module reports a change on every run. Without the tag module passes and **OK**.
##### STEPS TO R

[2017-10-13 15:02] evrardjp commented on #31245
Very good addition.

[2017-10-13 15:09] evrardjp opened #31707 "Hosts disappears from play host even when rescued in a block"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

also applies in:
[code]

##### CONFIGURATION
Nothing edited. My config holds right now:
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Hosts disappears from play host even when rescued in a block

##### STEPS TO REPRODUCE
https://gist.github.com/evrardjp/564ebf6c18d335c3f8d5eaad639870c1

##### EXPECTED RESU

[2017-10-13 15:56] #30517 closed, assigned to nobody

[2017-10-13 15:59] evrardjp commented on #31707
Works for me:
https://gist.github.com/bcoca/df668ca74c7eeada9fbaacc10dcf6788

[2017-10-13 15:59] evrardjp commented on #31707
also affects ansible 2.4

[2017-10-13 16:31] s-hertel commented on #21556
This has been fixed in b900f4a3be8f92c5ba8172868f8112e47e179c06.

[2017-10-13 16:31] #21556 closed, assigned to nobody

[2017-10-13 16:39] sayap commented on #31420
@bcoca We always use implicit localhost, with a bunch of variables defined in inventory group_vars/all.yml (mostly related to cloud orchestration). The variables get picked up just fine when running playbooks with `hosts: localhost` using ansible 2.2 / 2.3 / 2.4.0, but not since #31425.

I mean it is not a big hassle to add the explicit localhost, but such behavior change in a x.y.z release seems

[2017-10-13 16:40] s-hertel commented on #31658
There isn't a redshift cluster parameter group module yet. You can see available redshift_* modules here: http://docs.ansible.com/ansible/latest/list_of_cloud_modules.html#amazon.

[2017-10-13 16:40] #31658 closed, assigned to nobody

[2017-10-13 16:44] s-hertel commented on #31658
@annapurnam Feel free to ask questions on the mailing list or in IRC as well. Here's a list: https://github.com/ansible/community/blob/master/README.md#communication

[2017-10-13 17:12] liamfit opened #31712 "Lineinfile module adds incorrect number of lines"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY
When using the lineinfile module to add the IP address of each host in the play to a config file on my proxy server (to allow internet access) I find that I get less lines added than the number of hosts even though the tasks shows

[2017-10-13 17:15] arim215 commented on #23263
**ISSUE TYPE**

- Bugfix

**COMPONENT NAME**

ios_config

**ANSIBLE VERSION**

2.4.0.0

**SUMMARY**

Using module "save_when" runs to a timeout using "copy running-config startup-config" command. The command "copy running-config startup-config" prompts for a destination filename, which was not handled.

**PROPOSED FIX**

in _IOS_CONFIG.PY_ :

Add line return after command

[code]

[2017-10-13 17:18] PatrickMurray opened #31713 "Pacman Module Fails To Achieve Desired Package State"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Pacman

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
I would expect `git` to be installed to the system.

##### ACTUAL RESULTS
[code]

[2017-10-13 17:21] kedarkekan opened #31714 "[NETCONF] add iosxr_netconf module to configure netconf subsystem"
##### ISSUE TYPE
- New Module

##### COMPONENT NAME
modules/network/iosxr

##### ANSIBLE VERSION
[code]

[2017-10-13 17:46] #31304 closed, assigned to nobody

[2017-10-13 17:55] #30207 closed, assigned to nobody

[2017-10-13 17:57] ebarrere commented on #31594
I took a stab at adding this since I need the functionality now.

As noted in the PR, the functionality only works with file resources at the moment, but it maintains previous functionality (i.e. when backup=no or is unset) for other resource types.

Furthermore, it will error on other resource types when backup=yes (rather than simply not doing anything), which I believe to be preferable.

[2017-10-13 17:57] #30223 closed, assigned to nobody

[2017-10-13 17:59] #30230 closed, assigned to nobody

[2017-10-13 18:11] #30168 closed, assigned to nobody

[2017-10-13 18:40] dglinder commented on #22576
My situation has this same problem but for a slightly different reason.  We don't permit password changes/updates from the end machine - we have an identity management system that pushes the changes into LDAP.

I can run the `user` module with all the options (name, uid, group, comment, home, shell, state) and it doesn't complain.  BUT when I set the `password` field ti dies, even when it's using

[2017-10-13 18:45] sammarland-rh opened #31718 "IPTables module incorrectly quotes -I parameter"
##### ISSUE TYPE
 Feature Idea

##### COMPONENT NAME
iptables module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
If using Ansible 2.4 or above, paste the results of "ansible-config dump --only-changed"

Otherwise, mention any settings you have changed/added/removed in ansible.cfg
(or using the ANSIBLE_* environment variables).

##### OS / ENVIRONMENT
RHEL 7.3

##### SUMMARY
IPTables module

[2017-10-13 18:45] szollin commented on #31501
Small update. Ran the command on a newer version of Clear Linux and I am getting the same results. Version came out today. Version number is 18330.

[2017-10-13 19:11] kevintpeng commented on #31602
If I understand this correctly, it looks like the reason is that the module is using a POST request to check existence of a kubernetes object, expecting a 409 response. In this case however, the POST request fails due to an IP address conflict (this pre-set one specified as 10.254.254.254), and thus responds with 422 instead of 409. This isn't idempotent because the initial create request passes w

[2017-10-13 19:30] alikins commented on #31001
Resolved by https://github.com/ansible/ansible/pull/27669

[2017-10-13 19:30] #31001 closed, assigned to alikins

[2017-10-13 20:08] rewilliamso commented on #31549
Everything is working as expected but I was hoping you could answer a few questions.

We have over 500 servers in our cloud environment so every time I run a dynamic inventory command it tries to cache 500 records.

1. How can I cache this data to live on the server?
   I've already tried turning Cache on within the vmware_inventory.ini file but seems that only last for so
    long.
2. How can I s

[2017-10-13 20:23] morgangraphics opened #31723 "jenkins_script produces Python 3 error TypeError: the JSON object must be str, not 'bytes'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
jenkins_script

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

**"ansible-config dump --only-changed"**
[code]

**ansible.cfg**
[defaults]
roles_path = ../ansible-roles/

**inventory**
[jenkins]
192.168.0.12 ansible_python_interpreter=/usr/bin/python3

##### OS / ENVIRONMENT
Ubuntu 16.04 (Both)

##### SUMMARY
Similar to #24526 jenkins_scrip

[2017-10-13 20:55] ghost commented on #21285
Hi,
I really would like to know if this is gonna be implemented properly or if this is a "no-go". My playbooks depend on it for provisioning. If this is an "anti-pattern" and a bad practice and wont be implemented, then i will scrap it and think of something else. Right now i have a monkeypatch and have to maintain it for every release. I want to avoid this kind of mess so please tell us if this i

[2017-10-14 01:35] sbwoodside commented on #15460
Would it be helpful if a `Ctrl-C` caused ansible to print out the names of any handlers that would have been called but weren't because it's stopping?

[2017-10-14 07:53] andreaso commented on #31687
First of all, the complaint is coming from the lookup plugin, not from the authorized_key module.

Secondary, from what node are you executing Ansible? Unless `hadoop01` is also your Ansible control node the complaint from the lookup plugin is fully expected.

[2017-10-14 08:15] andreaso commented on #31691
Except that you in your example aren't actually passing any environment variables. Try something like this instead.

[code]

[2017-10-14 08:19] tmshn commented on #31547
@VojtechMyslivec
I believe this will be fixed by #27546.
Could you try that out?

To install from a github checkout, follow these steps:

http://docs.ansible.com/ansible/latest/intro_installation.html#running-from-source

or, perhaps `pip` will do:

[code]

[2017-10-14 09:35] vbotka commented on #20169
Dependent role (vbotka.freebsd-mailserver) is repeated [1] if ansible-playbook (2.3.1.0) [2] is invoked with option "-t config_potfix_main_cf_relayhost" and there is only single occurence of this tag in the roles. With 2 occurences of this tag [3] the dependent role is run only once [4]. Controller is Ubuntu 17.10 and host is FreeBSD 10.3.

[1]
[code]

[2]
[code]
[3]    role vbotka.freebsd-mailser

[2017-10-14 12:32] torgiren commented on #31712
It's because race condition.
try to use template or blockinfile + run_once

[2017-10-14 12:51] Saloshp opened #31735 "inventory_hostnames lookup by group result ordering is inconsistent with order in groups['some-group']"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
with_inventory_hostnames

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[root@local test]# ansible-config dump --only-changed
[root@local test]#

##### OS / ENVIRONMENT
[code]
##### SUMMARY
with_inventory_hostnames loop control outputs unordered results

##### STEPS TO REPRODUCE
[code]
[code]
##### EXPECTED RESULTS
I expect the output of the tw

[2017-10-14 13:29] hkroger opened #31737 "nmcli doesn't work on Ansible 2.[34].* when configuring Centos 7.x"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible: Mac/Centos7
Target OS: Centos7

##### SUMMARY

nmcli vomits an error when configuring an interface. This worked on Ansible 2.2 but not anymore on Ansible 2.4 (I think 2.3 was giving error also)

##### STEPS TO REPRODUCE

Configure an interface wi

[2017-10-14 14:27] nomarek commented on #31528
This is a problem with a `lookup` itself. If you try to run `list` lookup:
```ansible localhost -m debug -a msg="{{ lookup('list', 1,'a','b','c') }}"```
it prints:
[code]
but if we replace `1` with `'1'`:
```ansible localhost -m debug -a msg="{{ lookup('list', '1','a','b','c') }}"```
it prints:
[code]
Source of the problem can be found in `ansible.template.Templar._lookup`. It tries to join list a

[2017-10-14 15:30] andreaso commented on #23957
Here is the culprit.

https://github.com/ansible/ansible/blob/02cd88169764232fd63c776456178fe61d3a214a/lib/ansible/modules/net_tools/cloudflare_dns.py#L617-L628

Created https://github.com/ansible/ansible/pull/31740 as a suggested fix.

[2017-10-14 16:06] mattyryze opened #31741 "error in cryptography setup command: Invalid environment marker: python_version < '3'"
Hi there,
The team at stresisand effect suggested that I open an issue here. I am receiving the following error when installing ansible:
error in cryptography setup command: Invalid environment marker: python_version < '3'

My system is Ubuntu 16.04 LTS

My python is:
python --version
Python 2.7.6

I also have python 3.4.0 on my system.

Should I make an python alias so that it python defaults to

[2017-10-14 17:17] sivel commented on #31741
This is not a problem with ansible, and as the error mentions, this is with the cryptography python module.  The resolution however is to update your version of python setuptools.

Should you want to open an issue, you would need to do so with https://github.com/pyca/cryptography

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mai

[2017-10-14 17:17] #31741 closed, assigned to nobody

[2017-10-14 17:19] colin-mccarthy commented on #27958
@ganeshrn I am getting the same issue.

I am running ansible version 2.5, playbook works on another machine with 2.2 installed.

host_key_checking = False

**Here is my playbook**

---

-  hosts: junos
   gather_facts: no
   connection: local

   tasks:
   - name: OBTAIN LOGIN CREDENTIALS
     include_vars: junos_secrets.yaml

   - name: DEFINE PROVIDER
     set_fact:
       provider:
         hos

[2017-10-14 17:38] barrettabel commented on #31532
Thanks gents, where do I send beer in thanks? @willthames @jborean93

[2017-10-14 20:19] fungusakafungus opened #31743 "ansible-doc does not work with -M/--module-path anymore"
It prints "ERROR! Unexpected Exception, this is probably a bug: 'list' object has no attribute 'split'" when used with `-M` option.

ansible-console behaves similarly..

Looks like it is broken since this change, when options.module_path became a list: https://github.com/ansible/ansible/commit/2165bac212ec916e906f6b3aa5ed845a7bfa8da4#diff-bdd6c847fae8976ab8a7259d0b583f34R427

##### ISSUE TYPE
 - B

[2017-10-14 20:23] mcgonagle commented on #19718
@caphrim007 I am receiving the `"msg": "received exception: global name 'bigsuds' is not defined"
}` error with a default vagrant installation of ansible tower 2.3.1. I have installed suds, bigsuds and isoparser by hand, but tower is still reporting the above error. Any ideas. Just Reboot my vm, maybe that'll help....

[2017-10-14 20:33] mcgonagle commented on #19718
@caphrim007 Ran into this erorr message with open source version of ansible - https://devcentral.f5.com/questions/the-python-bigsuds-module-is-required-49931 fixed it by specifying PYTHONPATH. Doing so `export PYTHONPATH=/var/lib/awx/venv/awx/lib/python2.7/site-packages` doesn't work.

[2017-10-14 21:05] caphrim007 commented on #19718
@mcgonagle what "default vagrant installation of tower" are you referring to?

[2017-10-14 21:38] fungusakafungus commented on #27446
Another workaround:
[code]

[2017-10-14 22:17] mcgonagle commented on #19718
@caphrim007 What's up Tim. Hope you are having a good weekend. Was at PuppetConf and GithubUniverse this past week. Check out my pics at twitter.com/mcgonagle. We'll anyways. I am using the latest and greatest 3.2.1.21, which comes from https://app.vagrantup.com/ansible/boxes/tower/. Directions for using it are https://www.ansible.com/tower-trial

Found another suggestion of yours that I think wil

[2017-10-14 22:21] caphrim007 commented on #19718
@mcgonagle
if AWX is using it's own custom virtualenv, then the only way you will be able to get around this error is to install the bigsuds package within that virtualenv.

There should be a `/var/lib/awx/venv/awx/bin/activate` script that you can source to put yourself into that environment so that you can `pip install bigsuds`.

I'm not familiar with Tower enough to really assist at this point.

[2017-10-14 22:29] mcgonagle commented on #19718
@caphrim007 Great suggestion Tim. I think that'll do the trip. Stay tuned.

[2017-10-14 22:30] mcgonagle commented on #19718
@caphrim007 No luck its already there?!?

`[vagrant@ansible-tower bin]$ source activate
(awx)[vagrant@ansible-tower bin]$ pip install bigsuds
Requirement already satisfied: bigsuds in /var/lib/awx/venv/awx/lib/python2.7/site-packages
Requirement already satisfied: suds-jurko>=0.6 in /var/lib/awx/venv/awx/lib/python2.7/site-packages (from bigsuds)`

[2017-10-14 22:31] caphrim007 commented on #19718
@mcgonagle then Ansible itself must be running somewhere else. Is it installed in the system python?

[2017-10-14 22:39] mcgonagle commented on #19718
@caphrim007 I believe it is using /var/lib/awx/venv/awx/bin/python. Would this be an example of a "virtualenv" python? This is not "system python" right. I believe that is /usr/bin/python.

[2017-10-14 22:40] mcgonagle commented on #19718
@caphrim007 Any insight into what this error `"msg": "received exception: global name 'bigsuds' is not defined"` means? I am stumped...

[2017-10-14 22:41] caphrim007 commented on #19718
@mcgonagle the python binary in the awx directory is in a virtualenv. That may only be a venv used for tower though. When ansible itself runs, it is going to be coming back in through the normal system, so if tower is not also setting the virtualenv for remote hosts, then the f5 modules will end up running with the system python.

If you deactivate the virtualenv, and run `pip freeze`, does it lis

[2017-10-14 22:44] mcgonagle commented on #19718
@caphrim007 I don't believe there is a system pip. The only pip's I find when I do a unix find are:
`/var/lib/awx/venv/awx/lib/python2.7/site-packages/pip
/var/lib/awx/venv/awx/bin/pip
/var/lib/awx/venv/ansible/lib/python2.7/site-packages/pip
/var/lib/awx/venv/ansible/bin/pip`

[2017-10-14 22:46] Saloshp opened #31747 "Ansible 2.4 using tags while importing task/playbook, overrides all imported tags"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
tags
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default configuration used

##### OS / ENVIRONMENT
Linux local 4.13.5-1-ARCH #1 SMP PREEMPT Fri Oct 6 09:58:47 CEST 2017 x86_64 GNU/Linux

##### SUMMARY
Adding tags to import task/playbook, causes all tasks within it to be executed regardless of their tags

##### STEPS TO REPRODUCE
[code]
[code

[2017-10-14 22:49] caphrim007 commented on #19718
@mcgonagle of course python there is. the vagrant box is a centos image. it's at `/usr/bin/python`. You would need to install `pip` separately if it's not on the system

[2017-10-14 22:59] mcgonagle commented on #19718
@caphrim007 Right. `/usr/bin/python` exists, but the pip tool does not. Should I install bigsuds with setup.py <- Is that what is is called. I am drawing a blank..

[2017-10-14 23:01] Saloshp commented on #31679
Setting a variable like you did, does not add it to the hostvars context.
try to access it like:
[code]
output:
[code]

If you want to set the variable in the hostvars context, use  a 'set_fact' task.
Please close this issue.

[2017-10-14 23:34] caphrim007 commented on #19718
sudo yum install python-pip
pip install bigsuds

[2017-10-14 23:39] mcgonagle commented on #19718
@caphrim007 Yup figured it out. It is now working. Thanks for the help on a Sat. Not sure if this is the right solution for our trainings, but will talk it over with the team. Thanks again bro. Have a great weekend.

[2017-10-14 23:40] sivel commented on #31747
Adding tags to an import adds those tags to all tasks within.  When you supply import,second that is specifying to run all tasks tagged with import or second.  This is functioning as expected.

[2017-10-15 00:05] Saloshp commented on #31747
I dont understand why this logic seemed reasonable, i hope i am not doing something wrong, please elaborate if you can.

For future reference, i was able to achieve my goal with the following 'hackish' method.
[code]

Output:
[code]

[code]

[2017-10-15 01:24] Saloshp commented on #31747
Found the explanation, closing issue.
https://docs.ansible.com/ansible/2.4/playbooks_reuse.html#differences-between-static-and-dynamic

[2017-10-15 01:24] #31747 closed, assigned to nobody

[2017-10-15 02:01] mattyryze commented on #31741
Ok I can open an issue at https://github.com/pyca/cryptography. But FYI updating my version of python setuptools does not work, it produces this error:

distutils.errors.DistutilsError: Setup script exited with error: command 'x86_64-linux-gnu-gcc' failed with exit status 1

Command /usr/bin/python -c "import setuptools, tokenize;__file__='/tmp/pip_build_root/cryptography/setup.py';exec(compile(ge

[2017-10-15 03:28] captainkerk commented on #29265
FWIW, This feature is in 2.3. I think the original issue was never properly closed.

[2017-10-15 03:51] logan2211 commented on #31679
Yep thanks that works perfectly to solve the problem.

Where is this `vars` dictionary documented? I have never heard of it before and a read through https://docs.ansible.com/ansible/latest/playbooks_variables.html makes no mention of it.

[2017-10-15 08:18] whitequark opened #31751 "Roles consisting of skipped tasks only are not deduplicated"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default.

##### OS / ENVIRONMENT
N/A.

##### SUMMARY
If roles B and C depend on role A, which has at least one task that executes, role A is ran only one time. If all tasks in A are skipped, role A is ran (as visible on stdout) three times.

##### STEPS TO REPRODUCE
[code]
or as a [zip arch

[2017-10-15 10:19] afrittoli commented on #30688
Sorry for the late reply and thanks for looking into this. The fix looks good.

[2017-10-15 11:41] kairoaraujo commented on #29561
I would like to include the TL and SP version. It can be very useful

[code]

Example:
[code]

[2017-10-15 12:12] ghost commented on #13652
I ran into this issue again. As this is open since more than 1,5 years I'm wondering if we can help to resolve this issue.

As far as I understand this happens when you want to template into a hard link.
I've seen this issue for Parallels Plesk systems where ```/etc/resolv.conf``` has more than one reference (= hardlink):

[code]

So there's nothing wrong with hardlinking the resolv.conf for chroo

[2017-10-15 12:15] ghost commented on #13652
Good news, everybody! This is fixed for ```ansible 2.4.0.0```

[2017-10-15 13:45] joshbenner opened #31755 "Group variables missing from hostvars"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

Installed from `v2.4.1.0-0.3.rc1`
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

macOS sierra

##### SUMMARY
Variables defined in group_vars do not appear in hostvars for dynamic inventories.

##### STEPS TO REPRODUCE
1. Use dynamic inventory
2. Define `some_var` in group_vars/some_group
3. Assign host to so

[2017-10-15 13:47] trondhindenes commented on #30176
I can repro on EC2-VPC.

[2017-10-15 13:49] joshbenner commented on #31755
This does not happen on 2.4.0.

I run this playbook against a host in my infrastructure using 2.4.0 and 2.4.1:
[code]

Output on 2.4.0:
[code]

Output on 2.4.1:
[code]

[2017-10-15 17:34] moozer opened #31758 "Hostvars files of hosts outside current play is not loaded"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Hostvars loaded from host_vars/hostname.yml, when hostname is not part of current play

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
I run debian/buster.

##### SUMMARY

##### STEPS TO REPRODUCE
I created a project to illustrate the difference between including a host in a play and not.

https://github.com/mooz

[2017-10-15 18:47] tonytan4ever opened #31759 "become_method: sudo with docker connection not working as a non-root user"
##### ISSUE TYPE

 - Bug Report:  become-method and become not working properly for docker connection

##### COMPONENT NAME

 become-method become

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OSX  10.12.6

##### SUMMARY

When connecting a docker container as a non-root user, and trying to execute
sudo commands using become-method: sudo, become: yes,  and

[2017-10-15 19:41] whitequark commented on #17492
This is still an issue as of Ansible 2.4.

[2017-10-15 20:18] mike-pt commented on #25072
Just found #17492 which seems to indicate there's a bug here even when using "rsync://"

[2017-10-15 22:38] thecjharries opened #31761 "include_vars relative dir bug (or docs issue)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[`include_vars`](http://docs.ansible.com/ansible/latest/include_vars_module.html#options)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Centos 7 (`Vagrantfile` below)
##### SUMMARY
`include_vars: dir` inside a role is only searching relative to the role. [The docs](http://docs.ansible.com/ansible/latest/include

[2017-10-15 23:44] danieljaouen commented on #26064
I modeled the Homebrew module after my own usage, so that's why it might seem like it's missing features.  That being said, I tried to make the module easily updateable, so if you're willing to write a pull request, I'm willing to accept it.

[2017-10-15 23:59] willthames commented on #31706
This comes from a fixed bug in `boto3_tag_list_to_ansible_dict` - this will be working in the forthcoming ansible 2.4.1.

A workaround patch if you want to update a local version of the module is:

[code]

[2017-10-15 23:59] #31706 closed, assigned to nobody

[2017-10-16 00:07] behrangs-sportsbet opened #31762 "Ansible 2.4.0: No test named 'equalto'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[code]

##### ANSIBLE VERSION

[code]

Locally, I am using Ansible 2.4.0.0 on my Mac, and the `'equalto'` test is working with no problem:

[code]

On our CI/CD environment, that uses Debian Stretch, we also are using Ansible 2.4.0.0:

[code]

But `'equalto'` fails with this error:

[code]

The failing task is:

[code]

After some digging, I n

[2017-10-16 00:12] mohamudm opened #31763 "ls"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-10-16 00:34] tf42src opened #31764 "ansible-vault decrypt does not print to stdout"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes to config

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
ansible-vault decrypt does not print to stdout

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

**ansible-vault==2.3.1.0 yields the expected output.**

_Additional

[2017-10-16 01:27] Saloshp commented on #31762
Did you try installing it?
[code]

[2017-10-16 03:06] aungswan opened #31766 ""Cannot write to ControlPath /home/user1/.ansible/cp""
##### ISSUE TYPE
 - Documentation Report

##### ANSIBLE VERSION
Ansible version 2.4

##### CONFIGURATION
[defaults]
inventory      = /etc/ansible/hosts
[inventory]
[privilege_escalation]
[paramiko_connection]
[ssh_connection]
[persistent_connection]
[accelerate]
[selinux]
[colors]
[diff]

<

##### OS / ENVIRONMENT
Ubuntu 16.04

I have SSH access but other user can access ansible except user1.

192

[2017-10-16 05:30] trishnaguha commented on #30439
@rahushen please apply the PR #31688 and let us know if it fixes the issue.

[2017-10-16 05:33] behrangs-sportsbet commented on #31762
I am closing this. Looks like a misconfiguration on our CI/CD env.

[2017-10-16 05:33] #31762 closed, assigned to nobody

[2017-10-16 06:53] msieurtoph opened #31771 "Ansible --version is different depending on python version"
##### ISSUE TYPE
 - Bug Report (I guess)

##### COMPONENT NAME
ansible (got the latest tarball from here : http://releases.ansible.com/ansible)

##### ANSIBLE VERSION
If python2.6 :
[code]

If python2.7 :
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
The 'import_playbook' gave me this error when I was pointing on python 2.6 : "ERROR! 'import_playbook' is not a va

[2017-10-16 08:02] gundalow commented on #31413
If you run `ansible-playbook` and the same playbooks from a Linux machine do they run correctly?

[2017-10-16 08:13] #31763 closed, assigned to nobody

[2017-10-16 08:39] liamfit commented on #31712
I think the problem with template is that I want to preserve the existing contents of the file and I won't necessarily always know what the existing contents are.

I'm not sure how to get a line in the file for each host if I use blockinfile + run_once - can you give me an example?

If it helps I was previously using run_once and looping through ansible_play_batch using with_items. I stopped that

[2017-10-16 08:44] #24964 closed, assigned to nobody

[2017-10-16 08:52] msieurtoph commented on #31771
Closing the issue.

In fact PYTHONPATH does not replace the current path for libraries. It is appended to the internal path of python.

I had another ansible (version 2.3) in the python2.6 site-packages folder.
 ... so when I was using the python2.6, even if I exported the PYTHONPATH to point on the latest ansible tarball ... python was still getting libs from its own site-packages folder instead

[2017-10-16 08:52] #31771 closed, assigned to nobody

[2017-10-16 09:36] rcarrillocruz opened #31777 "[CI] Add testing for networking platform agnostic modules"
##### ISSUE TYPE
N/A

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
N/A

##### SUMMARY

Currently we don't test platform agnostic modules (net_*) due to the lack of CI resources.
As we got more quota, let's add it DCI so we get testing coverage on them as well.

[2017-10-16 09:37] #31178 closed, assigned to jimi-c

[2017-10-16 09:47] danypr92 opened #31778 "Syntax inconsistency in File module"
_From @enricostano on April 8, 2016 18:4_

##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

File module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing.
##### OS / ENVIRONMENT

[code]
##### SUMMARY

Using `mode=` and `mode:` syntax should have the same result. But `mode: 2775` gives a really weird outcome compared `mode=2775`'s result, which is correct.
##### STEPS TO REPRODUCE

[co

[2017-10-16 09:47] danypr92 commented on #31778
_From @ansibot on July 31, 2016 14:41_

@ansible ping, this issue is waiting for your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2017-10-16 09:47] danypr92 commented on #31778
_From @ansibot on September 8, 2016 22:46_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-10-16 09:47] danypr92 commented on #31778
_From @ansibot on October 6, 2016 14:44_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-10-16 09:47] danypr92 commented on #31778
_From @ansibot on October 22, 2016 8:56_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-10-16 09:47] danypr92 commented on #31778
_From @ansibot on November 6, 2016 9:51_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-10-16 09:47] danypr92 commented on #31778
_From @ansibot on November 22, 2016 9:59_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-10-16 09:47] danypr92 commented on #31778
_From @ansibot on December 9, 2016 19:54_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-10-16 09:47] passw0rd123 commented on #31049
[code]

[2017-10-16 10:02] halberom commented on #31186
Sorry, forgot about this issue.

So this is more of a feature request.  `lookup` works if the intended_config source is on the ansible controller.  However as mentioned in my description, I'm running the task against a ZTPS box (similar to a kickstart server).  So I'm doing something like

[code]

In this case, the eos_config task is being run on the ztps server, and the switch config is being bui

[2017-10-16 10:21] luqasz opened #31779 "AWS elasticache tries to do destructive change when zone is not present"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elasticache

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
mac os

##### SUMMARY
Module must receive null (None in python) to be able to work. If `zone` is not specified then module receives `''`. We do not care about in which az redis is. Without explicit zone, module fails because it receives empty string as

[2017-10-16 11:07] rcarrillocruz opened #31781 "[CI] Split network-infra so it just contains configuration/data"
##### ISSUE TYPE
N/A

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
N/A

##### SUMMARY

We have consolidated network-infra as the repo that contains playbooks to deploy our CI and its configuration.
Split code from configuration/data, so network-infra stays private having our  configuration and create a new one that will host the playbooks (we could name it network-infra-installer or network-inf

[2017-10-16 11:22] gundalow commented on #31781
At this time also ensure all changes to the following repos are in the of the above new repos then kill:

* https://github.com/ansible/dci-partner-ansible
* https://github.com/ansible/dci-ansible-testrunner

[2017-10-16 11:23] Amet13 commented on #28820
Still does not working on Debian 9:
[code]

[code]

[code]

[2017-10-16 12:14] dagwieers opened #31782 "win_regedit: Module output messed up"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_regedit

##### ANSIBLE VERSION
v2.4

##### OS / ENVIRONMENT
Control system: RHEL7
Target systems: Windows 10

##### SUMMARY
Using win_regedit on a bunch of machines, it bails out on one system only like this:
[code]

So it seems that some output messed up the JSON result.

[2017-10-16 12:19] passw0rd123 commented on #31049
It seems that older Solaris patchlevels are not affected.

The Solaris evaluation vm from oracle.com has a patchlevel from mid 2015 and can not be upgraded...

    0.175.3.1.0.3.0

While 2017 patchlevel lacks some facts if you use Ansible 2.4.0.0

    0.175.3.22.0.3.0

I'll try to post some setup outputs if I find the time to sanitize them...

[2017-10-16 12:22] andreaso commented on #28820
@Amet13 this is the error that actually explain the breakage in your Ansible task.

[code]

What appear to happen is that Ansible takes your hexadecimal value `0xcbcb082a1bb943db`and helpfully translates that into `14684839986918409179`, which obviously isn't the key id you are asking for. The solution being to either quote the value or skip the `0x`, resulting in Ansible passing it along as a str

[2017-10-16 12:49] #30529 closed, assigned to trishnaguha

[2017-10-16 13:08] luqasz commented on #15083
In ansible 2.4 I had to add
[code]
Which is not in section `ssh_connection`

[2017-10-16 13:11] s-hertel commented on #30176
@trondhindenes What Ansible version? Is your load balancer in a different VPC? Did you modify anything about the reproducer above?

[2017-10-16 13:15] luqasz opened #31784 "Pipelining works only when config option in connection section (not ssh_connection)"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
pipelining

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
mac os

##### SUMMARY
In order to use pipelining, it must be specified in `connection` section. Documentation states that it had to be in `ssh_connection` section.

##### STEPS TO REPRODUCE
Remove any pipelining config options.
Ad

[2017-10-16 13:17] bcoca commented on #15083
this was a bug in 2.4, fixed in  #31244 which will be part of 2.4.1

[2017-10-16 13:19] bcoca commented on #31784
this was a bug in 2.4, fixed in #31244 which will be part of 2.4.1

[2017-10-16 13:19] #31784 closed, assigned to nobody

[2017-10-16 13:30] lavie opened #31786 "referencing variable out of scope"
https://github.com/ansible/ansible/blob/f2ade09dce0e65187e6d213fd02e5341353c246e/lib/ansible/module_utils/basic.py#L2542

In the following code:
[code]
If the first `open` raises an exception, then the `if out_dest` fails with either a "trying to reference undefined variable" or a "dereferencing variable before assignment" error, depending on the python version I guess. I ran into this corner case

[2017-10-16 13:33] bcoca commented on #31766
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-16 13:33] #31766 closed, assigned to nobody

[2017-10-16 13:40] azenakhi commented on #31741
You can try that:

- Red Hat Enterprise Linux Server release 7.3 (Maipo)
- Python 2.7.5

$ virtualenv ansible
$ source ansible/bin/activate

$ pip install --upgarde setuptools
$ pip install cffi
$ pip install ansible

Best regards

[2017-10-16 13:42] #31545 closed, assigned to s-hertel

[2017-10-16 13:44] #31147 closed, assigned to nobody

[2017-10-16 14:11] lavie commented on #31786
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils/basic.py

##### ANSIBLE VERSION
master

##### CONFIGURATION

##### OS / ENVIRONMENT
OSX

##### SUMMARY
referencing undefined variable

##### STEPS TO REPRODUCE
https://github.com/ansible/ansible/blob/f2ade09dce0e65187e6d213fd02e5341353c246e/lib/ansible/module_utils/basic.py#L2542

In the following code:
[code]
If the first `open` ra

[2017-10-16 14:18] alikins commented on #31631
pinging @bcoca (roles), @abadger (plugins)

[2017-10-16 14:24] fchiacchiaretta opened #31791 "Azure dynamic inventory should set private and public IP of primary IP configuration when multiple IP configurations are present"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I'm using ansible from awx docker images.

##### SUMMARY
When updating inventory with azure_rm.py, if a Virtual Machine has more than 1 IP configuration, the following values are bound to the wrong private/public IP addresses
[code]
Only 1 IP configuration can be the primary, but the

[2017-10-16 14:28] alikins commented on #31764
This is a duplicate of https://github.com/ansible/ansible/issues/30550

https://github.com/ansible/ansible/pull/31066 has the fix that will be in the 2.4.1.0 release (via https://github.com/alikins/ansible/commit/576e3378a9ef20d96da6a2161141a99a521db6a1)

duplicate_of: 30550

[2017-10-16 14:28] #31764 closed, assigned to nobody

[2017-10-16 14:33] alikins commented on #31786
(I updated the initial bug comment with info from https://github.com/ansible/ansible/issues/31786#issuecomment-336899145)

[2017-10-16 14:36] alikins commented on #31786
pinging @bcoca, @abadger (basic.py atomic_move/_unsafe_writes)

[2017-10-16 14:46] dagwieers commented on #31778
The issue is related to the fact that 2775 is not an octal number and Unix permissions are in octal notation.

[code]
So AFAIK you have 2 options:
[code]
or
[code]

The reason for it to work correctly using `mode=2775` is because the key=value syntax always turns the input into a string, whereas YAML interprets the input depending on the value.

notabug

[2017-10-16 14:47] #31778 closed, assigned to nobody

[2017-10-16 14:47] #31743 closed, assigned to nobody

[2017-10-16 14:54] drzraf commented on #16600
Any alternatives/workaround is advised for the time being ?
(that's a big obstacle to role development since it's impossible to re-run individual task nested inside a role's included file)

[2017-10-16 14:54] #11647 closed, assigned to nobody

[2017-10-16 15:00] alikins commented on #31751
This sounds very similar to https://github.com/ansible/ansible/issues/22169

Did this behavior change from earlier versions? If so, which versions?

[2017-10-16 15:04] thecjharries commented on #31761
Upon further investigation, it looks like the docs are wrong. [`_set_root_dir`](https://github.com/ansible/ansible/blob/v2.4.1.0-0.3.rc1/lib/ansible/plugins/action/include_vars.py#L154) uses an `if/else` to determine `dir`'s starting point; either `dir` is started from the role that called `include_vars` or the file not in a role that called `include_vars`.

[2017-10-16 15:08] whitequark commented on #31751
I did not try it on earlier versions, I started out on 2.4.

[2017-10-16 15:08] alikins commented on #22169
Similar bugs:

https://github.com/ansible/ansible/issues/14582 - regression: duplicate role dependencies
https://github.com/ansible/ansible/issues/20169 - Role dependency is run multiple times
https://github.com/ansible/ansible/issues/21885 - allow_duplicates=false fails to detect duplicate when role is conditional
https://github.com/ansible/ansible/issues/31751 - Roles consisting of skipped tasks

[2017-10-16 15:19] fchiacchiaretta commented on #31791
I looked at azure_rm.py and found at line 650 the following
[code]
Checking if ip_config.primary made it work properly:
[code]

[2017-10-16 15:22] tykling opened #31793 "shell: tasks are run with /bin/csh (roots shell) instead of /bin/sh after upgrading to ansible 2.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
shell

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_NOCOLOR(/usr/local/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_CONTROL_PATH(/usr/local/etc/ansible/ansible.cfg) = %(directory)s/%%C
CACHE_PLUGIN(/usr/local/etc/ansible/ansible.cfg) = memory
DEFAULT_ACTION_PLUGIN_PATH(/usr/local/etc/ansible/ansible.cfg) = [u'/usr/share/ansible_plugi

[2017-10-16 15:37] alikins commented on #31751
pinging @bcoca, @jimi-c

[2017-10-16 15:40] taion809 opened #31796 "win_get_url documentation inconsistent with output"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
win_get_url

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Host: `Linux hostname 4.4.0-92-generic #115-Ubuntu SMP Thu Aug 10 09:04:33 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

Target: windows server 2012

##### SUMMARY
The documentation states win_get_url always returns `status_code` and `msg` when I have found it only returns `

[2017-10-16 15:41] tykling commented on #31793
To clarify, the user ansible is ssh'ing in with has /bin/sh as shell, and root has /bin/csh. Before 2.4 shell: tasks ran with /bin/sh and after 2.4 they now run with /bin/csh.

[2017-10-16 15:43] alikins commented on #31651
duplicate_of https://github.com/ansible/ansible/issues/31095

https://github.com/ansible/ansible/commit/95abc1d82e4c40832c802253107ad3f9aeebc68d fixes it, should be in devel/ and headed for the 2.4.1.0 release.

[2017-10-16 15:43] #31651 closed, assigned to nobody

[2017-10-16 15:53] alikins commented on #31735
inventory_hostnames currently returns a list, but the ordering is not based on sorting (it's the result of a list(set(host_list))) in the code). It could likely be adopted to preserve the same ordering.

[2017-10-16 15:56] alikins commented on #31796
pinging @dharmabumstead (docs)

[2017-10-16 15:57] kwoodson opened #31797 "Inventory parsing performance with high number of groups"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
fedora 26
##### SUMMARY

When calling ansible with a custom dynamic inventory the startup time is taking ~40 seconds.
[code]

The python inventory script returns in subseconds.
[code]
##### STEPS TO REPRODUCE
Our environment has a lot of prebuilt groups.  These

[2017-10-16 16:03] thecjharries commented on #31761
To add more detail here, the issue is [the docs](http://docs.ansible.com/ansible/latest/include_vars_module.html#options) incorrectly suggest `dir` can be relative to a role or playbook (i.e. the search base is the union of the two directories).

I presented a potential solution [in my repo](https://github.com/thecjharries/ansible-include_vars-issue#readme) which seems like a good option based on

[2017-10-16 16:11] bcoca commented on #31793
can you run with -vvv? `$SHELL` reflects the configured shell, not the 'executing shell'.

[2017-10-16 16:15] turb opened #31799 "maven_artifact should download artifact before hash"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
maven_artifact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- From: MacOS X High Sierra
- To: Debian mixed 8.2 and 8.9

##### SUMMARY

As far as I can observe, `maven_artifact` downloads the MD5 file, *then* downloads the actual artifact.

The python code seems consistent with this (comments are mine):
[co

[2017-10-16 16:21] alikins commented on #31759
Was this working before 2.4.0? If so, what version?

[2017-10-16 16:29] alikins commented on #31793
And inventory, playbook and config are choosing the correct remote user? (ie, not root). The '-vvv' output will show the ssh commands to verify.

[2017-10-16 16:30] kwoodson commented on #31797
Ansible 2.3
[code]

[code]

[2017-10-16 16:32] alikins commented on #31793
Also, any local ssh config that could be overriding the user?

[2017-10-16 16:36] alikins commented on #31793
Also, post example output of 2.3 working (also with -vvv).

[2017-10-16 16:36] alikins commented on #31755
ping @bcoca

[2017-10-16 16:37] tykling commented on #31793
@bcoca  $shell is set by csh and is not the same as $SHELL (which is the configured shell as you say). $shell is unset with sh

[2017-10-16 16:40] alikins commented on #31755
pinging @abadger possible regression from 2.4 -> v2.4.1.0-0.3.rc1 ?

[2017-10-16 16:47] alikins commented on #31797
Could you test this with devel/ or the latest 2.4.1 release candidate builds? (either stable-2.4/ branch from git or
2.4.1.0-0.3.rc1 from http://releases.ansible.com/ansible/ansible-2.4.1.0-0.3.rc1.tar.gz)

There have been an assortment of inventory related fixes and speed ups that may fix this.

[2017-10-16 16:52] andreaso commented on #23957
Made a second pull request, this time taking a slightly more general approach: https://github.com/ansible/ansible/pull/31800

@karambolishe: Wouldn't mind your feedback on it.

[2017-10-16 17:04] alikins commented on #31049
Those are all from lib/ansible/module_utils/facts/hardware/sunos.py, so if
something is causing that
module to either fail or get skipped that could cause that.

There isnt a good way to narrow it down to which part, so may need to test
a view things.

If possible, could you include output from some of the commands hardware.py
runs to collect sunos facts?

That includes:

[code]

On Mon, Oct 16, 2

[2017-10-16 17:30] bcoca commented on #31755
quick test, cannot reproduce:
[code]
i run in both 2.4. and 2.4.1 and get same:
[code]

[2017-10-16 17:50] joshbenner commented on #31755
@bcoca Could you try `msg="{{ hostvars[inventory_hostname]['test1'] }}"`? In my case, accessing the var directly continues to work as expected, but the variables are missing from the `hostvars` variable specifically.

I just confirmed the behavior using your approach with my suggested difference, which confirms what you saw, and what I'm seeing.

Following done with 2.4.1 rc3:
[code]

[2017-10-16 17:54] bcoca commented on #31755
same results
[code]
and with your same ref:
[code]
just to make sure, using `msg`:
[code]

[2017-10-16 17:57] kwoodson commented on #31797
@alikins, it looks like the 2.4.0.0 is the one taking ~45 seconds.

stabe-2.4:
[code]
devel branch:
[code]

[2017-10-16 18:05] joshbenner commented on #31755
When I reproduce your test more closely, I get the same result as you. The difference seems to be that the variable I'm accessing is not in the 'all' group, but in a different group the host is a member of.

`inventories/production/group_vars/all/vars.yml`:
[code]

`inventories/production/group_vars/redis-servers.yml`:
[code]

I get the same results as before, with this notable additional detail:

[2017-10-16 18:15] bcoca commented on #31755
Using another group:

[code]
file used:
[code]

[2017-10-16 18:25] bhairav13 opened #31804 "VMware: vmware_guest forces size for disk, where only datastore is needed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No output

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

'disk' option requires size attribute even though template is being used.

##### STEPS TO REPRODUCE

[code]
The only reason to use the disk attribute is to point to a specific datastore for the VM to be deployed.  T

[2017-10-16 18:26] #31786 closed, assigned to nobody

[2017-10-16 18:32] fildred13 opened #31805 "ERROR! Unexpected Exception, this is probably a bug: 'CallbackModule' object has no attribute 'set_options'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
 No settings changed, confirmed with "ansible-config dump --only-changed" outputting nothing.

##### OS / ENVIRONMENT
Ubuntu 16.04 managing Ubuntu 16.04

##### SUMMARY
Exception when running playbook: "ERROR! Unexpected Exception, this is probably a bug: 'CallbackModule' object

[2017-10-16 18:33] #31378 closed, assigned to nobody

[2017-10-16 18:47] wenottingham opened #31806 "set_fact module docs header needs updated for `cacheable`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
set_fact

##### ANSIBLE VERSION
http://docs.ansible.com/ansible/latest/set_fact_module.html (2.4+)

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Header of docs:
[code]

Options:
[code]

This presumably makes the docs in the header obsolete.

[2017-10-16 19:07] joshbenner commented on #31755
Discussed in IRC. This issue seems to only affect playbook-level variables. I've tried changing the `playbook_var_root` to `bottom`, and I still same same behavior.

Per @bcoca's request, here's a sanitized/simplified tree of what I'm working with:
[code]

[2017-10-16 19:14] dglinder commented on #31705
For what it's worth, if I convert the variable to a dictionary (instead of a list) and pass that through the ```list``` Jinja2 filter it works as a list:
[code]

[2017-10-16 19:14] #31707 closed, assigned to nobody

[2017-10-16 19:24] s-hertel commented on #31478
Closing because the docs appear to be right for [2.4](http://docs.ansible.com/ansible/2.4/cloudfront_facts_module.html) and for [latest](http://docs.ansible.com/ansible/latest/cloudfront_facts_module.html).

[2017-10-16 19:24] #31478 closed, assigned to nobody

[2017-10-16 19:34] ochurlaud opened #31810 "VMware: Define video memory settings"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_guest

##### SUMMARY
It is currently not possible to set the video memory of the guest OS from ansible.
It would be much appreciated to be able to do that instead of doing it manually deployement.

[2017-10-16 19:35] tykling commented on #31793
It is definitely using the right user, ssh root login isn't even enabled.

It only happens with "become: yes" in the play (which makes sense I guess).

Short playbook to reproduce:

[code]

In this example I've used the "set" command which outputs any shell variables. When running sh the familiar PS1 PS2 etc are shown, when running csh a completely different env is shown.

[code]

I'll try to inst

[2017-10-16 19:41] tykling commented on #31793
Same playbook with 2.3.2.0, note how sh is used in both cases:

[code]

[2017-10-16 19:41] torgiren commented on #31712
i'm working on fix your problem...
give me 2 days for tests :)
(it's ready, but I need to test one more thing)

[2017-10-16 20:16] daemonofchaos commented on #16443
This will also be encountered in BASH scripts when getting the length of a variable, e.g. getting the length of the current path `${#PWD}`

[2017-10-16 20:27] pshemk commented on #31617
After a bit of more digging I found the culprit - cloud init doesn't set the HOME variable. If the variable is not set modules like template or copy fail. Setting it manually with

```export HOME=/root```

before staring ansible fixes the issue (for both regular and 'pull' modes)

[2017-10-16 20:31] jborean93 commented on #31423
Looks like I've been able to replicate it now, not sure what I was doing wrong the first time. There is another issue just raised for this https://github.com/ansible/ansible/issues/31782 and is related to the same problem. I should have a fix for it sometime shortly.

[2017-10-16 20:35] kwoodson commented on #31797
@alikins, as long as its documented that 2.4.0.0 has known slow downs I'm fine closing this issue.

[2017-10-16 20:42] bcoca commented on #31793
So I see shell/SHELL set to csh... but none of the commands are running using `/bin/csh`

[2017-10-16 20:45] mbruzek opened #31811 "hostname module cannot be used on platform Linux (Red hat enterprise linux)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
hostname

##### ANSIBLE VERSION
I tried with Ansible 2.3.2 and 2.4.0.0 both versions failed to set the hostname on a RHEL 7.5 system.
[code]
[code]

##### CONFIGURATION
[code]

inventory
[code]

##### OS / ENVIRONMENT
Running Ansible from RHEL 7.4 server
[code]
Controlling a RHEL 7.5 system.
[code]

##### SUMMARY
The hostname module does not wor

[2017-10-16 20:57] mbruzek commented on #31811
The error the user gets is:  "hostname module cannot be used on platform Linux (Red hat enterprise linux)"

This is interesting. Looking at the code I can not figure out how that string is getting constructed. The error message we are seeing is from hostname.py line 89:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/hostname.py#L89
Note the lower case "h" in "Red hat" (wh

[2017-10-16 20:58] tykling commented on #31793
yes, they are running using /bin/csh

[2017-10-16 21:00] trondhindenes commented on #30176
Ansible 2.3.2.0.
I think I see the problem. Looks like Ansible chokes if there's multiple security groups with the same name.
So: Ansible tries to create sg1. In the playbook I have a rule allowing for traffic from sg2. In AWS I already have 2 sgs named "sg2". This seems to cause Ansible to choke. I have no idea how I managed to end up with 2 identically named sgs, I'll try and verify if Ansible d

[2017-10-16 21:03] kclausen-tm commented on #25981
I'm having the same issue using ansible 2.3.
Using the module it just hangs.
Using the aws cli created the EFS volume instantly.

[2017-10-16 21:03] tykling commented on #31793
Another example using an sh-ism (a subshell) which returns "illegal variable name" when run using csh, but runs normally in sh: echo $(id)
[code]

The playbook (note I switched the order of the tasks so the sh one runs first now, because the csh one makes the task fail):
[code]

Yields the following output:

[code]

Hope this is clear enough

[2017-10-16 21:12] alikins commented on #31793
[code]

Won't this make all the tasks run with 'become'?  In the sample outputs, everything seems to be invoked with 'sudo -H -S -n -u root /bin/sh'. That will make all the commands run as root?

No idea why the behavior would be different between 2.3 and 2.4 though...

[2017-10-16 21:17] tykling commented on #31793
yes, the point of putting become: there is to avoid putting it on all the tasks.

[2017-10-16 21:26] bcoca commented on #31793
nvmd ... all commands to setup and execute the module nor anything above is using `csh` .. its the `run_command`, that won't show in -vvv.

still, i cannot seem to reproduce

[2017-10-16 21:28] jborean93 commented on #31782
@dagwieers have merged the changes required in https://github.com/ansible/ansible/pull/31813. It is in the 2.4 blocker project and will potentially be added to 2.4.1 but probably will be 2.4.2. The change also included some tests to cover this scenario so it won't regress again.

[2017-10-16 21:29] jborean93 commented on #31423
@virtuald I have made a fix here https://github.com/ansible/ansible/pull/31813, feel free to test it out but it should solve your issue. It is in the backlog to merge into 2.4 but it might be a bit too late to fit into 2.4.1. If it doesn't it will definitely be in for 2.4.2

[2017-10-16 21:32] bcoca commented on #31793
@tykling can you test with 2.4.1/current devel?

[2017-10-16 21:33] tykling commented on #31793
hum yes I'll have to figure out how to install it, might not be until tomorrow! :)

[2017-10-16 21:34] bcoca commented on #31793
this PR should have fixed the issue #31361

[2017-10-16 22:40] tykling commented on #31793
how do I install 2.4.1rc1 with pip?

[2017-10-16 22:41] tf42src commented on #31764
My bad. Searched but couldn't find it.

[2017-10-16 23:10] thekad commented on #31567
FWIW this is present in the currently released version 2.4.0.0 (in case it wasn't completely clear from the original body)

[2017-10-16 23:28] jamesongithub opened #31815 "Strange behavior with '1_' as dict key"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Serializer seems to convert 1_ to 1 as a dictionary key

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

keys casted to integers when it contains '1'?

[code]

[2017-10-17 00:00] trondhindenes commented on #31003
Hm, good question. The type parsers got a few PRs while win_dsc was in my personal repo, so I'm afraid not all of the code is mine.
The original CimInstance PR has some example code, does that help?:
https://github.com/trondhindenes/Ansible-win_dsc/pull/2

[2017-10-17 00:13] Saloshp commented on #31815
Also in Ansible 2.4
[code]

[2017-10-17 00:14] sivel commented on #31815
This doesn't appear to be anything Ansible specific:

pyyaml
[code]

[2017-10-17 00:18] drzraf opened #31816 "composer config --dry-run"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
composer

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
composer 1.5.2
Ansible 2.4.0.0

##### SUMMARY
composer only partially support check-mode.
`composer`' command `config` does not

##### STEPS TO REPRODUCE
[code]

and run in **check-mode**

##### EXPECTED RESULTS
ok, the value should be updated

##### ACTUAL RESULTS
[code]

[2017-10-17 00:19] sivel commented on #31815
Ok, from the YAML spec for integers (http://yaml.org/type/int.html)

If you want to keep the `_` chars, you will have to quote them:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-10-17 00:19] #31815 closed, assigned to nobody

[2017-10-17 00:32] jborean93 commented on #31003
Thanks it does indeed, very un-yaml like and I don't think we should continue. Wary that the 2.4 module would have this support but will add to the working group agenda to see if we want to break that compatibility considering it isn't documented and can be done an easier way.

[2017-10-17 00:54] jamesongithub commented on #31815
it seems `0_9_2` is retained tho.

[2017-10-17 01:16] sivel commented on #31815
It doesn’t match the regex for an integer and thus  the underscore in integers doesn’t apply.

[2017-10-17 01:58] #31423 closed, assigned to nobody

[2017-10-17 01:58] #31782 closed, assigned to jborean93

[2017-10-17 05:18] backbord commented on #10379
FYI, I've had success with a `local_action copy` tasks using `check_mode: yes`.
[code]
It stops the playbook when the vault cannot be decrypted.
I chose `local_action` to avoid ssh overhead.

Please let me know if you have any comments, concerns, or improvements to this idea.

Perhaps this helps the next one who stumbles across this thread.

[2017-10-17 05:55] jurajama commented on #24192
@gdelpierre : I found out that correction https://github.com/gdelpierre/ansible/commit/afe43d4897cf76bc31db46746045c312c8bf04e6 included in Ansible 2.4 is not yet enough for all cases. It fails in this prompt change that occurs with Nuage VSC element:

[code]

As well prompt ending "$>" can occur.

This is the regexp in Ansible 2.4:
[code]

This is the additional fix in /usr/lib/python2.7/site-pac

[2017-10-17 06:26] jerm commented on #29982
IMO the documentation is(was) wrong and should be fixed. If the behavior is changed, then there's no way to unmount a filesystem w/o removing the fstab entry, which is a completely reasonable behavior.

@jtyr yes, the documentation now reads correctly, "If unmounted, the device will be unmounted without changing fstab."  This issue should be closed

[2017-10-17 06:44] FloThinksPi commented on #18979
Also Experiencing this issue, yum proxy is set in /etc/yum.conf and working, but not with Ansible.
- Centos 7.4
- Ansible 2.3.2.0

[2017-10-17 07:06] FlogFr opened #31820 "Vars of include_role task injected before conditional"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
"vars" injected before conditional of include_role task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
I'm running ansible 2.3.1 installed by debian package on my debian stretch.

##### SUMMARY
The vars of the include_role task are included before the "when" conditional of the include_r

[2017-10-17 07:30] Amet13 commented on #28820
@andreaso thanks for reply.

[2017-10-17 08:21] discointheair opened #31822 "dns lookup with dns server and port"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
https://docs.ansible.com/ansible/devel/plugins/lookup/dig.html
`{{ lookup('dig', 'example.com', '@198.51.100.23') }}`

Hi

Is it possible to add an option to set a alternative port for the DNS-Server?
Like:
`{{ lookup('dig', 'example.com', '@198.51.100.23:1234') }}`

Thank you.

@jpmens

[2017-10-17 08:29] madarve commented on #31474
I've tested @s-hertel fix in https://github.com/ansible/ansible/pull/31535, and it works

[2017-10-17 08:37] rcarrillocruz commented on #31777
testing for net_* modules is now in place and automated, closing.

[2017-10-17 08:41] #31777 closed, assigned to rcarrillocruz

[2017-10-17 08:46] rcarrillocruz opened #31823 "[CI] Add IOS-XE to the platforms tested in Ansible networking CI"
##### ISSUE TYPE
N/A

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
N/A

##### SUMMARY

Currently IOS-XE is not tested on the Ansible networking CI.
Add it so we run periodic integration tests against it like the rest of core platforms.

[2017-10-17 09:55] andriilahuta opened #31824 "elasticsearch_plugin fails when plugin_bin is None"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

elasticsearch_plugin module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Ubuntu, Elasticsearch 6.x beta

##### SUMMARY

_elasticsearch_plugin_ raises `UnboundLocalError: local variable 'valid_plugin_bin' referenced before assignment` when called with default `plugin_bin` arg (which is None).

The problem l

[2017-10-17 10:03] ssmi1975 opened #31825 "postgredsql_privs lost error message if failed in SQL level"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
postgredsql_privs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
MacOS Sierra (10.12.6 (16G29))
ansible installed by pip

##### SUMMARY
In some cases, postgresql_privs failed to output the error message gracefully and dump an exception.

##### STEPS TO REPRODUCE
With empty database `test`, the following command

[2017-10-17 10:24] rdonkin commented on #31793
@tykling - this should work, just used as part of script to install latest 2.4.1 RC.

Set the `dir` and `rc_version` vars to what you want (no 'v' at start of the latter):

[code]
You may need to set `sudo=sudo` if you require a sudo before pip on your Ansible machine.

[2017-10-17 10:29] onebraveman commented on #31116
I meet same ERROR after i upgrade ansible to 2.4.0.0.

[2017-10-17 10:33] naisanza opened #31826 "changed_when format string"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

`changed_when`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY

I'm trying to use `changed_when` to trigger when the string `from 'canonical' installed` exists.

However, inside the string there are single quotes, which it doesn't like

##### STEPS TO REPRODUCE

[code]

Thi

[2017-10-17 10:46] jamesfreeman959 opened #31828 "AWS delete Security Group via ec2_group fails with boto3 error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes from default configuration - confirmed with `ansible-config dump --only-changed`
##### OS / ENVIRONMENT

macOS 10.13, Ansible installed via brew platform, using Python 2.7 and PIP provided via brew

[code]
##### SUMMARY

When I run a playbook to tidy up some previously c

[2017-10-17 10:57] torched99 commented on #31354
There is a further issue with the replacement code, and I'm feeling lazy to create new issue.  The string replace acts on the whole file content it seems to me.

`    if result[1] > 0 and section != result[0]:
        if pattern:
            result = (contents.replace(section, result[0]), result[1])
`

Should that not be the following

`    if result[1] > 0 and section != result[0]:
        if pat

[2017-10-17 11:13] ramaws opened #31830 "playbook is getting stopped in between with "user XXXXX is not allowed to execute '/bin/sh""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

##### SUMMARY

When we re run the playbook again its end up with following error

TASK [setup] *******************************************************************
fatal: [some host IP]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: ***********************

[2017-10-17 11:19] berlic opened #31831 "ignore_errors is not templated in looped tasks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
executor/strategy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Typical

##### OS / ENVIRONMENT
MacOS + pip installation

##### SUMMARY
If `ignore_errors` is templated (like `ignore_errors: "{{ ansible_check_mode }}"`) it's behaviour is broken in looped tasks.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
`Always reached` should

[2017-10-17 11:36] Sabbasth opened #31832 "ec2_instance_facts returns an empty "tags" dict"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
ec2_instance_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Running OS: MacOS

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Getting all facts, including the tags

##### ACTUAL RESULTS
I get all facts including a "tags" key, but the nested dict is empty.

I found the issue in the module:

[2017-10-17 11:36] dagwieers commented on #31003
I am happy to break this if we can backport this as well. The only alternative is that we deprecate the compatibility-layer, which is going to be a drag :-/

[2017-10-17 11:39] Sabbasth commented on #31832
I've seen it fixed in the devel branch. Sorry.

[2017-10-17 11:39] #31832 closed, assigned to nobody

[2017-10-17 11:58] halberom commented on #31346
@dathelen - many thanks for that, so based on that, I guess the best approach is to use `cli` and `|json`.  That way we're always getting the same results as someone running the command manually.

[2017-10-17 12:17] s-hertel commented on #31828
@jamesfreeman959 What does `printenv` output? You may have EC2_URL or AWS_URL set (in which case you'll want to `unset EC2_URL`).

[2017-10-17 12:20] toke commented on #30753
Not sure if the fixes should work by now but testing against devel or v2.4.1.0-0.3.rc1 I still get the value "service" for the fact "ansible_service_mgr".

@alikins Should this issue reopened?

[2017-10-17 12:21] jpmens commented on #31822
What is your use case for having to do that? DNS on non-port 53 is, at best, typically a test infrastructure.

[2017-10-17 12:24] auth-day commented on #25863
Hi! Sorry for delays! Thanks a lot everyone!

[2017-10-17 12:24] #25863 closed, assigned to nobody

[2017-10-17 12:30] #31180 closed, assigned to nobody

[2017-10-17 12:34] #31462 closed, assigned to nobody

[2017-10-17 12:44] jamesfreeman959 commented on #31828
Spot on - that fixed it - I had been using the AWS CLI to perform some manual commands in the development and testing of my playbook and had set EC2_URL in the environment. Thank you for your help.

Is there a correct way to work with boto/boto3 related modules and environment variables such that I can avoid such problems in the future?

[2017-10-17 12:48] s-hertel commented on #30158
@tedder do you want this left open?

[2017-10-17 12:56] s-hertel commented on #30156
The workaround is to provide correct CIDRs (with only network bits). Since CIDRs aren't getting validated by Ansible, if you have host bits set it is getting fixed under the hood (e.g. 194.82.50.2/24 will be fixed to 194.82.50.0/24) and then subsequent runs will not be idempotent because the CIDRs don't match. I have a fix for this here: #29605.

[2017-10-17 13:14] toke commented on #30753
I've put together a small vagrant test: https://gist.github.com/toke/d5de03c70c9c7f1a2ec6acd7a9e3753a

[2017-10-17 13:25] discointheair commented on #31822
In this case i want to use the consul dns interface and i am not able (security policies) to change the port.

[2017-10-17 13:29] mkrizek commented on #31350
@andrey-agenosov can you try if https://github.com/ansible/ansible/pull/31647 fixes you issue?

[2017-10-17 13:31] ghost opened #31837 "nxos modules: to add an XML output parsing along with JSON. Outdated nexus gears (NX-OS <7.x) don't support JSON output"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

almost all nxos modules and probably the module_utils/nxos.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS

##### SUMMARY

as far as I know Ansible supports two methods to operate with nxos devices:
 1. NXAPI (restful API)
 2. CLI (ssh)

NXAPI is great and ansible modules that uses nxapi are g

[2017-10-17 13:56] leifmadsen commented on #31116
As far as I can tell, there is something that results in a conflict when doing an "upgrade" to Ansible 2.4.0.0. The work around appears to fully remove Ansible (`dnf remove ansible`) and then do a full new install.

[2017-10-17 14:19] sivel commented on #31826
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-17 14:19] #31826 closed, assigned to nobody

[2017-10-17 14:32] VojtechMyslivec commented on #31547
@tmshn Thanks, it works well.

This issue will be closed with #27546.

[2017-10-17 14:41] david-resnick667 commented on #29933
It looks like this might be because of the name used for the `device_name`.
See [this answer](https://stackoverflow.com/a/25013865/3904).

[2017-10-17 14:54] passw0rd123 commented on #31049
Sure

## memory

[code]

`total: 1734796k bytes allocated + 0k reserved = 1734796k used, 65374068k available`

## dmi

`prtdiag can only be run in the global zone`

## devices

[code]

## uptime

`unix:0:system_misc:snaptime     8829613,08456415`

https://github.com/ansible/ansible/blob/d14467b0294296b9a2b85e0ad150315c2d5a2491/lib/ansible/module_utils/facts/hardware/sunos.py#L253

## cpu info

[co

[2017-10-17 15:12] daBONDi commented on #31576
@ar7z1 Great
Works for me also!

[2017-10-17 15:26] riton commented on #23609
I do encounter the very same issue with the `import_role` directive and the latest ansible version.

[2017-10-17 15:30] mkrizek commented on #31811
@mbruzek can you please try https://github.com/ansible/ansible/pull/31839 if that fixes your issue?

[2017-10-17 15:39] ccnifo commented on #23609
This bug affects our up-to-date Ansible version running production playbooks, could you please explain the "deprecated" flag?

[2017-10-17 16:12] alexander-bauer commented on #30239
This also affects me on Ansible 2.4.0.0.

[2017-10-17 16:23] zhencisco opened #31841 ""include_role" with "static: no" does not work if `when` condition is matched"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

RHEL7, OS X

##### SUMMARY

I use `include_role` iin the playbook with `static: no` and `when` condition. If the `when` condition is matched, ansible deployment hangs with `PicklingError`.

The playbook runs fine if I replace `tasks` and `include_rol

[2017-10-17 16:32] estezz commented on #28221
What build can I find this fix in?  I have
ubuntu@ip-10-201-113-216:~/ansible-common$ ansible-playbook --version
ansible-playbook 2.4.0.0

[2017-10-17 17:43] #31811 closed, assigned to nobody

[2017-10-17 17:43] alikins commented on #31811
@mbruzek The 'Red hat enterprise linux' is likely coming from module_utils.basic.get_distribution (https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L262). It does a .capitalize() on the distro name.

[2017-10-17 18:40] sanear commented on #12170
A big ol' +1 from me... the way things are set up, it seems like I should be able to enable rolling restarts by adding `serial: 1` to any of my restart handlers. Then, any config change, version update, etc. would result in a rolling restart.

[2017-10-17 19:28] naisanza commented on #31826
@sivel it's not documented on how it needs to be formatted

[2017-10-17 19:48] it-kombinat commented on #29201
Hello, Is this also valid for Ansible 2.3.1 an what is the best way for a work around?

[2017-10-17 19:50] coolcps commented on #28415
I'm going to close this as I have continued testing over the high latency links and haven't had any more consistent issues with ios_facts.

[2017-10-17 19:50] #28415 closed, assigned to nobody

[2017-10-17 20:17] naisanza commented on #31826
Triple escaping works

[code]

[2017-10-17 20:31] jborean93 commented on #20123
This functionality was merged in with https://github.com/ansible/ansible/pull/31289, closing issue.

[2017-10-17 20:31] #20123 closed, assigned to nobody

[2017-10-17 20:40] s-hertel commented on #31828
@jamesfreeman959 Glad that fixed the problem.

We have some docs:
http://docs.ansible.com/ansible/latest/guide_aws.html#authentication
https://github.com/ansible/ansible/blob/devel/lib/ansible/utils/module_docs_fragments/aws.py#L69

Feel free to ask questions on the mailing list (https://groups.google.com/forum/#!forum/ansible-project) or #ansible-aws or #ansible on irc.freenode.net as well.

[2017-10-17 20:40] #31828 closed, assigned to nobody

[2017-10-17 20:48] bcoca commented on #31755
So I cannot reproduce with play adjacent group_vars either, simple setup:
[code]
when i run:
[code]

[2017-10-17 22:36] michael-dev2rights opened #31854 "ansible lambda module fails with bad exceptions"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lambda module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no changes

##### OS / ENVIRONMENT

Ubuntu 16

##### SUMMARY

ansible lambda module fails with bad exceptions

##### STEPS TO REPRODUCE

* create a large lambda deployment package
* attempt to upload it
* allow upload to timeout (slow network may help)

##### EXPECTED RESULTS

u

[2017-10-17 22:39] dch commented on #29270
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

-  pkgng

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]

##### SUMMARY

`pkgng` incorrectly reports the result of a file-based package install as FAILED when its in fact correctly installed.

##### STEPS TO REPRODUCE

- pick any package already installed, look under /var/cache/pkg/*.txz to find one

[2017-10-17 23:20] charlestolley opened #31855 "aruba_command: 'no page'/'no paging' command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

aruba_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

This from the network device:
[code]

##### SUMMARY

The plugins/terminal/aruba.py file sends a 'no paging' command at the beginning of the SSH session. On my OS version, however, the command should be 'no page'.

The 'no paging' command, when ru

[2017-10-18 00:36] flowerysong opened #31857 "#31425 affects variables assigned to implicit localhost in a backwards-incompatible way"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Before #31425 was merged, and going back at least as far as ansible 2.0, the implicit localhost entry was assigned group vars from 'all'. Now it is not.

##### STEPS TO REPRODUCE

test.yml:
[code]

group_vars/all.yml:
[code]

Run

[2017-10-18 00:38] wo1769815 commented on #9407
the system language may result in ansible su failed。

[2017-10-18 02:21] metabsd opened #31859 "Ansible yum module not working as expected"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I'm running Ansible on a Redhat 7.4 and manage couple of RHEL 5-6-7.
I isolate my test on a RHEL 7 server.

##### SUMMARY

I want to use yum plugin to update 2 package on all server. But in reality they don't update :(

##### STEPS TO REPRODUCE

This is my p

[2017-10-18 03:02] srinathkotu commented on #28050
I am having the same issue, using the same ansible version and OS environment

[2017-10-18 03:12] srinathkotu commented on #28050
installing hvac[parser] seems to have fixed the issue:

pip install hvac[parser]

[2017-10-18 03:43] dathelen opened #31862 "eos_logging is not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
eos_logging

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS
##### SUMMARY

the eos_logging doesn't appear to be idempotent.  Running a simple playbook multiple times always results in changes

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

That after running that playbook once there should be no cha

[2017-10-18 03:59] onebraveman commented on #31116
Thanks the suggestion of @leifmadsen . I found pip install two version of ansible, 2.2.0 and 2.4.0. So it works for me after uninstall two version and install Ansible 2.4.0.

[2017-10-18 04:04] lealoncity commented on #27423
Hi yes，
I find this https://bugs.launchpad.net/shade/+bug/1709577
And I used the latest shade with ansible 2.3.1.0 to test agin ，but no performance booster occurs. Do we also optimize ansible's  performmance in the latest version?

[2017-10-18 05:11] nofunatall opened #31867 "Azure inventory script runs against VM Hostname instead of local IP or Public IP/Name"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### DESCRIPTION
When running the azure inventory script against say a whole resource group Ansible seems to run the commands against the local hostname of the VM's from the resource group.

This is not a problem if the running instance of Ansible is located within the same Vnet of the VM's in the group however in a real life scenario it is unlikely

[2017-10-18 05:36] 2333 opened #31868 "vmware.py makes vm can't be found when using vmware_guest.py"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module_utils/vmware.py
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ACTION_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/plugins/action']
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']
DEFAULT_LOCAL_TMP(/etc/ansible/ansible.cfg) = /root/.ansible/tmp/ansible-local-291964cSz4b
DEFAULT

[2017-10-18 06:39] stijndehaes opened #31869 "Lookup plugin credstash failing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lookup plugin, credstash

##### ANSIBLE VERSION
[code]

credstash version: 1.13.4
##### CONFIGURATION
empty

##### OS / ENVIRONMENT
Mac OSX High sierra 10.13 (17A405)

##### SUMMARY
When using the lookup plugin for credstash I get the following error:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
It to work

##### ACTUAL RESUL

[2017-10-18 07:08] msieurtoph commented on #17922
This issue is still there in ansible 2.4.0.0

[2017-10-18 09:33] hariwe commented on #31350
@mkrizek I have a similar issue with 2.4.1 RC1 and tested  #31647 but it dind't fix it for me.
I get a FAILED state if the local RPM in the playbook is an older version, as the version which is already installed (without allow downgrade):

`yum: name=/tmp/ansible_rpm/nss-softokn-freebl-3.16.2.3-14.4.el7.x86_64.rpm state=present disable_gpg_check=yes disablerepo=*`

[code]
[code]

[2017-10-18 09:34] sveinou commented on #31413
Indeed, runs fine on linux.

[2017-10-18 09:46] gundalow commented on #26374
resolved_by_pr 31874

[2017-10-18 09:57] zanglang opened #31875 "AttributeError: 'Display' object has no attribute 'warn'"
The YAML inventory plugin makes a non-existing function call display.warn() when a YAML inventory file contains a non-standard key

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION
ansible 2.5.0
  config file = /mnt/c/Users/user/Projects/ansible/ansible.cfg
  configured module search path = [u'/home/zanglang/.ansible/plugins/modules', u'/usr/share/ansible/plugi

[2017-10-18 10:04] gundalow commented on #31857
I wonder if this is something that needs covering in https://github.com/ansible/ansible/pull/31840

[2017-10-18 10:07] gundalow commented on #31862
Please remember to set the component that help `ansibot` add the right labels. I've done this now.

`eos_logging` was introduced in `2.4.0`, so the fix should be cherry-picked into `stable-2.4`

[2017-10-18 10:10] gundalow commented on #26173
@aes Does https://github.com/ansible/ansible/pull/31873 make this clearer?

[2017-10-18 10:10] gundalow commented on #26173
resolved_by_pr 31873

[2017-10-18 10:13] gundalow commented on #31862
Integration tests will need adding to defend this

[2017-10-18 10:33] wknapik opened #31878 "ec2_vpc_subnet_facts does not support any profiles other than "default""
##### ISSUE TYPE
 Bug Report

##### COMPONENT NAME
ec2_vpc_subnet_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A (executed on Arch Linux)

##### SUMMARY
ec2_vpc_subnet_facts does not support any profiles other than "default", which is inconsistent with its documentation and the behavior of other facts m

[2017-10-18 10:38] yahoon opened #31879 "openstack instance creation failure - Auth plugin requires parameters which were not given: auth_url"
##### ISSUE TYPE
Bug with openstak module: os_server

##### COMPONENT NAME
openstak module: os_server

##### ANSIBLE VERSION
$ ansible --version
ansible 2.4.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/hoyao/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  execu

[2017-10-18 10:42] wknapik commented on #31878
The behavior is the same when the profile is selected via the AWS_PROFILE environment variable.

All of this also applies to the ec2_vpc_net_facts module.

[2017-10-18 10:47] mkrizek commented on #31350
@hariwe https://github.com/ansible/ansible/pull/31647 is not supposed to fix your issue though. This issue is about enabling `allow_downgrade` for rpm files. The issue you are describing is discussed in https://github.com/ansible/ansible/issues/30991. I can reproduce your issue with the following state:
[code]

When I removed the i686 package, the issue disappeared. Is that your case too? Thanks!

[2017-10-18 10:54] halberom opened #31880 "modify limit handling - ansible_play_limit, play key to enable/disable limiting"
Sorry if this is a repeat/duplicate/similar, there are tons of issues when using `limit` as the search term.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
limit

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
While it is possible to do `delegate_facts` with `with_items` to handle `--limit` being used, this has a very high performance impact

[2017-10-18 11:00] mkrizek commented on #22781
@autarch can you please confirm that https://github.com/ansible/ansible/pull/23007 fixes the issue? Thanks!

[2017-10-18 11:05] #31875 closed, assigned to nobody

[2017-10-18 11:08] aminancelot commented on #31691
@andreaso Proxy settings can be passed at the playbook level.
http://docs.ansible.com/ansible/latest/playbooks_environment.html

Actually, I have the same problem it seems with apt_repository, doing some checking before opening an issue.

[2017-10-18 11:11] halberom commented on #31199
I'd argue that if these 2 plays don't interact - i.e. webservers don't need facts from dbservers or vice versa, then they should be 2 playbooks, in which case they can be run independently via CI/CD or whatever.

[2017-10-18 11:14] halberom commented on #31880
related to https://github.com/ansible/ansible/issues/26503

[2017-10-18 11:15] hariwe commented on #31350
@mkrizek sorry for using the wrong issue, I didn't see the other one.
yes this is the same case for me. I completely overlooked that there is a x86_64 and i686 version installed:

[code]

Unfortunetaly I'm not able to remove the i686 version, cause it's needed by glibc i686.

However, I tested it with a RPM where only a x86_64 arch is installed and it is working fine there.
So I can confirm that t

[2017-10-18 11:15] michael-dev2rights commented on #31854
A bad error also happens if the file to upload is missing.

[file_missing_bad.txt](https://github.com/ansible/ansible/files/1394353/file_missing_bad.txt)

[2017-10-18 11:17] mkrizek commented on #31350
@hariwe Thanks! I'll come up with a fix.

[2017-10-18 11:25] trishnaguha opened #31883 "[DI_NXOS] Convert non-DI module to DI nxos_interface"
Convert non-DI nxos_interface to DI PR https://github.com/ansible/ansible/pull/34240
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

modules/network/nxos/nxos_interface
##### ANSIBLE VERSION

[code]

[2017-10-18 11:27] trishnaguha opened #31884 "[DI_NXOS] Convert non-DI module to DI nxos_vlan"
Convert non-DI nxos_vlan to DI
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

modules/network/nxos/nxos_vlan
##### ANSIBLE VERSION

[code]

[2017-10-18 11:31] trishnaguha opened #31885 "[DI_NXOS] Convert non-DI module to DI nxos_vrf"
Convert non-DI nxos_vrf to DI
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

modules/network/nxos/nxos_vrf
##### ANSIBLE VERSION

[code]

[2017-10-18 11:35] trishnaguha opened #31886 "[DI_NXOS] Deprecate nxos_switchport and ADD nxos_l2_interface (non-DI to DI)"
Deprecate non-DI nxos_switchport -> Add DI module nxos_l2_interface.
PR https://github.com/ansible/ansible/pull/33813
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

modules/network/nxos/nxos_switchport
##### ANSIBLE VERSION

[code]

[2017-10-18 11:37] trishnaguha opened #31887 "[DI_NXOS] Deprecate nxos_portchannel and ADD nxos_linkagg (non-DI to DI)"
Deprecate non-DI nxos_portchannel -> Add DI module nxos_linkagg
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

modules/network/nxos/nxos_portchannel
##### ANSIBLE VERSION

[code]

[2017-10-18 11:37] halberom commented on #31880
Just found `ansible_limit` mentioned in the changelog.   Which raises a new point - that var is not mentioned in the magic vars section of the docs.

[code]
So it seems this is what I'm after, but I'd like ansible_play_limit, and a play meta

[2017-10-18 11:39] trishnaguha opened #31888 "[DI_NXOS] Deprecate nxos_ip_interface and ADD nxos_l3_interface (non-DI to DI)"
Deprecate non-DI nxos_ip_interface -> Add DI module nxos_l3_interface.
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

modules/network/nxos/nxos_ip_interface
##### ANSIBLE VERSION

[code]

[2017-10-18 11:40] rcarrillocruz commented on #31823
Closing as csr is now a node in Nodepool, ios test runs include it just like iosv.

[2017-10-18 11:40] #31823 closed, assigned to rcarrillocruz

[2017-10-18 11:40] trishnaguha opened #31889 "[DI_NXOS] Support aggregate nxos_user"
Convert non-DI nxos_user to DI
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

modules/network/nxos/nxos_user
##### ANSIBLE VERSION

[code]

[2017-10-18 11:42] trishnaguha opened #31890 "[DI_NXOS] Convert non-DI module to DI nxos_static_route"
Convert non-DI nxos_static_route to DI
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

modules/network/nxos/nxos_static_route
##### ANSIBLE VERSION

[code]

[2017-10-18 11:54] torched99 opened #31891 "replace module before/after selection not honoured"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

files/replace module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
when using before/after to select text to apply the replace to, replace still acts on whole file

##### STEPS TO REPRODUCE

Look at the code, eg try before/after patterns that exist in file which regexp that appears outside th

[2017-10-18 12:24] dathelen commented on #31862
@gundalow Thanks for adding the component, I thought I had put it in there but obviously forgot.

[2017-10-18 12:38] mbruzek commented on #31811
I was unable to test the original branch (because it was deleted) but I tested ansible:devel and did not get the same hostname issue. I believe this fix resolved the issue.

[2017-10-18 12:58] sarahkadar opened #31893 "shell script: `yes | [command]` hangs Ansible"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

shell
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OSX 10.12.6
##### SUMMARY

Any shell script that has `yes | [some command]` will hang ansible until forever.
##### STEPS TO REPRODUCE

[code]

`foo.sh`:
[code]

##### EXPECTED RESULTS

Things work
##### ACTUAL RESULTS

Ansible hangs forever

[code]

[2017-10-18 13:06] gundalow commented on #31862
We have some tests, though doesn't seem like they've caught this issue https://github.com/ansible/ansible/blob/devel/test/integration/targets/eos_logging/tests/

[2017-10-18 13:10] petersohn commented on #31741
I encountered the same problem when trying to install the `cryptography` package in a completely different environment. Under Ubuntu Trusty, Python 2.7.5 and pip 1.5.4, I get the same error message. However, under Ubuntu Xenial, Python 2.7.12 and pip 8.1.1, `cryptography` can be installed successfully.

[2017-10-18 13:16] gundalow commented on #31699
Do you have anything in your `~/.ssh/config`?

Could you please enable logging as detailed in http://docs.ansible.com/ansible/latest/network_debug_troubleshooting.html#enabling-networking-logging-and-how-to-read-the-logfile and provide that full log

needs_info

[2017-10-18 13:17] trishnaguha commented on #31680
resolved_by_pr #32162

[2017-10-18 13:18] mkrizek opened #31894 "yum: replace language specific stdout/stderr based conditionals"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION

[code]
##### SUMMARY

Go through the yum module and try to eliminate conditionals that looks at yum stdout and stderr like `"nothing to do" in stdout` which is fragile and will fail on systems with different language than English.

[2017-10-18 13:24] gundalow commented on #31611
Hi,
Thanks for the idea. The `asa_*` modules are community supported so we would be looking to the community for a PR to add this.

needs_contributor

[2017-10-18 13:31] adampbrush commented on #28223
Make sure you are running 2.4, I had issues with 2.3.

https://controlaltfail.wordpress.com/2017/10/18/ansible-error-import-playbook-is-not-a-valid-attribute-for-a-play-master-playbook/

[2017-10-18 13:37] gundalow commented on #31574
Hi,
1) Is the issue that you have multiple `ansible-playbooks` commands running at the same time to the same switch, and therefore are sharing the Persistent Connection socket?

2) What exactly in the logs indicate that failures happen when workers try to use the same session.

2.1) What are the failures you are seeing

2.2) What exactly do you mean by "workers" in this context?

needs_info

[2017-10-18 13:41] gundalow commented on #30564
Could someone please raise a PR to update the links?

[2017-10-18 13:53] davx8342 commented on #28652
I've recently started rolling out custom python27 builds to a range of Solaris/AIX/HP-UX systems so I can run ansible and I'm seeing this same issue right now with the ansible_distribution_version being filled incorrectly.

Is there a work around I can use until this issue is patched?

[2017-10-18 13:58] bcoca commented on #31420
this was misdiagnosed ... having connection vars in 'all' should not affect implicit localhost, which always loaded the 'all' group vars.

reverting the PR, reopening this for reexamination

[2017-10-18 14:11] jimi-c commented on #31245
![image](https://user-images.githubusercontent.com/26403/31723399-59674f14-b3e4-11e7-9e25-0080ce5378a4.png)

[2017-10-18 14:13] jimi-c commented on #31245
Or, to show when just one host ignores it:
![image](https://user-images.githubusercontent.com/26403/31723474-88e8eeaa-b3e4-11e7-80cc-a2a48ed1200a.png)

[2017-10-18 14:13] jimi-c commented on #31245
And when no secondary failure happens (in my test case):
![image](https://user-images.githubusercontent.com/26403/31723507-a29ad804-b3e4-11e7-8133-a1a342ef661c.png)

[2017-10-18 14:14] thopaw commented on #25653
+1
also role, clusterrole, rolebinding, clusterrolebinding

[2017-10-18 14:14] thopaw commented on #25653
+1

[2017-10-18 14:15] evrardjp commented on #31245
👍

[2017-10-18 14:17] dmsimard commented on #31245
This is related to https://github.com/ansible/ansible/issues/20346 (Just cross-linking)

[2017-10-18 14:18] jimi-c commented on #31245
Thanks @dmsimard, I have a feeling there are probably a couple of issues out there that have requested this in the past.

[2017-10-18 14:18] odyssey4me commented on #31245
Excellent - happy to see this!

[2017-10-18 14:18] dmsimard commented on #31245
@jimi-c if we're going that route, can we make sure there are callback hooks for 'on_ignored' and 'on_rescued' ?

[2017-10-18 14:28] jimi-c commented on #31245
@dmsimard currently on_failed tracks ignored errors with an additional flag, so we most likely would not want to add a specific callback for that. However we are open to adding an on_rescued callback.

[2017-10-18 14:30] bcoca commented on #31245
```v2_on_rescue(self, host, status)``` ... where status is success or failure of the rescue attempt?

[2017-10-18 14:33] jimi-c commented on #31245
@bcoca i'd rather it have the TaskResult object like usual, and the callback could figure it out on its own.

[2017-10-18 14:33] bcoca commented on #31245
@jimi-c rescue blocks can have multiple tasks

[2017-10-18 14:33] evrardjp commented on #31245
agreed with @jimi-c

[2017-10-18 14:34] evrardjp commented on #31245
oh yeah @bcoca is right again.

[2017-10-18 14:35] ramonamis opened #31896 "elb_target_group module does not support tcp as protocol, and amazon does"
##### ISSUE TYPE

 - ~~Bug Report~~
- Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
The elb_target_group module fails when provided with protocol: tcp
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
module supports tcp protocol, since amazon supports it

##### ACTUAL RESULTS

[code]

[2017-10-18 14:36] jimi-c commented on #31245
Doesn't matter, the callback is fired on a task result, not on a block being entered. There will be only one TaskResult not a list of tasks that are going to be iterated over.

[2017-10-18 14:37] dagwieers commented on #30564
It's on my TODO list, but not a priority (since everything is working fine).

[2017-10-18 14:39] sivel commented on #31893
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-18 14:39] #31893 closed, assigned to nobody

[2017-10-18 14:39] dagwieers commented on #30564
BTW, the changes still need to be made on the aci-ansible repository first, which is still upstream.

[2017-10-18 14:39] dmsimard commented on #31245
@jimi-c oh, you are correct, we are able to use the provided 'ignore_errors' argument for failures.
@bcoca I would like to have some sort of reference to the task that was rescued.

I think things could look like this?

1. Task 'X' is inside a block that has a 'rescue', this is highlighted to callbacks with a parameter like ignore_errors (rescueable?) or something else (inside the task object?) an

[2017-10-18 14:40] bcoca commented on #31245
@jimi-c not sure that is interesting as that would be same as on_failed gets the task already.
Since we already know the task that failed and reported it, the interesting part after a rescue is if host is still part of play or not aka the 'end result of the rescue section'

[2017-10-18 14:42] dagwieers commented on #28652
HP-UX users of the (Ansible) world, [unite](https://github.com/ansible/community/wiki/HP-UX) !

[2017-10-18 14:44] bcoca commented on #31245
@dmsimard ... from what you want i'm thinking we need `v2_on_rescue_start` and `v2_on_rescue_end`

[2017-10-18 14:44] jimi-c commented on #31245
@bcoca sure, this comes down to "Are we tracking stats on the rescued task, or keep stats on tasks that run as part of a rescue/always portions of blocks". If we're doing the later, it might be more interesting but there's a lot of overlap there for tasks that fail/skip/etc. in those parts of blocks. As is, my PR (that I haven't created yet) already splits out errors from rescues so having a separ

[2017-10-18 14:52] AlanCoding commented on #31245
Can I get clarification on the technical meaning of the new counts? My current thinking:

 - ignored: a task ran against the host failed, but had `ignore_errors: True`
 - rescued: the rescue error handler was called for a task ran against the host

This also modifies the definition of existing counts, in that:

 - failed:
   - a task that had its rescue handler ran is no longer counted as failed

[2017-10-18 14:53] jimi-c commented on #31245
@AlanCoding correct on all points except the last one - tasks with `ignore_errors` set have always been lumped into the "OK" column and didn't reflect in the error count at all.

[2017-10-18 14:58] AlanCoding commented on #31245
With the new system, is an ignored task also counted as ok?

Phrasing differently, can I have `ok=0 ignored=1`?

[2017-10-18 15:02] snevs opened #31897 "Ansible does not timeout on get_url where the proxy server is unknown"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

get_url
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Ansible's get_url does not timeout if a proxy server is set with the environment, and does not timeout even if the timeout setting is there.
##### STEPS TO REPRODUCE

The proxy server is defined in the vars, but it doesn't resolve.
[code]

[2017-10-18 15:10] mbruzek commented on #31811
We have some playbooks that do not work with the latest version of Ansible. Any possibility of porting this change back to earlier versions of Ansible, such as 2.3?
@mkrizek @alikins

[2017-10-18 15:10] alextweneymackenzie-personal commented on #25929
+1. This would be a useful feature for zero downtime updating of ASGs.

[2017-10-18 15:25] bcoca commented on #31420
@fia5000, my tests were flawed as they were for vars that were not also defined by the implicit localhost, which defines 2 vars: `ansible_connection` and `ansible_python_interpreter`, these should always have priority over the 'all' group.

So whatever is overriding your settings is coming from somewhere else (vars/extravars?), can you check for other spots in which ansible_connection gets set?

@

[2017-10-18 15:36] jimi-c commented on #31245
For backwards compatibility, it is still counted as `ok=1`. I'm open to debate on that, as it's probably not good to have it be both.

[2017-10-18 15:38] TheRealDatafan commented on #16186
garbled1, this is exactly the situation I run into with reboots in a large environment (1000+) Linux servers with some VM's and some physicals. As you know most of the VM's drop fast but the physical servers can sometimes take 20 minutes just to go down. If you add a big delay you slow down the entire process, if you don't ansible returns a false positive because it checks for connection before th

[2017-10-18 15:39] bcoca commented on #31805
duplicate of #30597, fixed by #30625

[2017-10-18 15:39] #31805 closed, assigned to nobody

[2017-10-18 15:50] vamshideveloper opened #31898 "win_find module failing to find files when it cannot access a single file in a Dicrectory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_find
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running ansible from: Linux VM-TOWERFF1.iam.sungard.prod 3.10.0-514.6.1.el7.x86_64 #1 SMP Sat Dec 10 11:15:38 EST 2016 x86_64 x86_64 x86_64 GNU/Linux
managing: windows server 2008 R2 Enterprise
##### SUMMARY

I was trying to find all files from c:\windows\Temp

[2017-10-18 15:56] jmighion commented on #31855
I'll look into this today. Should have something by EOW.

[2017-10-18 15:59] mnarusze commented on #31574
No, I'm running one playbook. However, playbook operates on server machines while eos_config invoked with role under that playbook operates on all switches that are connected to these servers. If two or more servers share a switch, Ansible workers will try to access the switch simultaneously and might end up using the same socket and same session.

The example I posted in my previous comment shows

[2017-10-18 16:17] ochurlaud commented on #30818
I would reopen this issue as #30819  makes a infinite recursion  line 604 and I expect the same in every other lines which read:

[code]

[2017-10-18 16:18] erjohnso commented on #31063
Sorry for the late reply @wenottingham

I received a different error trying to reproduce.  The error I saw, which is valid, is that `image_family` is not supported in the `gce` module.  I changed your snippet to `image` instead and I was able to create the instances correctly.  Note that `image_family` *is* supported, but only in the `gce_instance_template` module.

[code]

I'm also running 2.4,

[2017-10-18 16:22] halberom opened #31900 "new magic vars (ansible_limit etc) not documented"
##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
documentation

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
The new magic vars added in 2.5/devel and listed in the changelog aren't documented - see https://github.com/ansible/ansible/blob/devel/CHANGELOG.md#minor-changes

##### STEPS TO REPRODUCE
NA

##### EXPECTED RESULTS
Additional i

[2017-10-18 16:23] halberom commented on #31880
raised https://github.com/ansible/ansible/issues/31900

[2017-10-18 16:25] ntwauto opened #31901 "[NXOS_CONFIG] Indempotency is not working in some parent configuration."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
NXOS_CONFIG

#### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu: 16
NXOS: 6.2.x

##### SUMMARY
This module is not idempotent for the following parents configuration:
-Interfaces [Port-channel, physical ports]. The vlans are fine not sure why?
-BGP
-TACACS
-VRFs

##### STEPS TO REPRODUCE
[code]

##### EXPECTED

[2017-10-18 16:27] davx8342 commented on #28652
I should add, I'm happy to test or try out anything that'll help, so please do hit me up if there's any further debugging required.

[2017-10-18 16:47] ntwauto commented on #31901
Added the missing info

[2017-10-18 16:49] halberom opened #31902 "better error handling of module/action plugin not found"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
NA

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
It appears that ansible falls back to its 'default' `shell` module when a module or action plugin can't be found.  Which can lead to a very confusing error message.

##### STEPS TO REPRODUCE
write a custom module and action plugin that generates

[2017-10-18 17:08] UnitedMarsupials-zz opened #31904 "Feature request: a way for a task to implement its own diff-clause"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/playbook/task.py

##### ANSIBLE VERSION
[code]

##### SUMMARY
As transpired in this [ServerFault conversation](https://serverfault.com/questions/878173/), though it is possible for a task to overwrite what an _existing_ diff-method means for a module, it can not be done for a module which does not define a diff-method of its own.

Y

[2017-10-18 17:14] jrko opened #31905 "ec2_vpc_subnet subnet creation fails due to az parameter validation error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_vpc_subnet

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default

##### OS / ENVIRONMENT
Debian 9.1

Linux stretch 4.9.0-4-amd64 #1 SMP Debian 4.9.51-1 (2017-09-28) x86_64 GNU/Linux

##### SUMMARY

When ec2_vpc_subnet parameter `az` is not set, module fails.

When az is set, subnet creation succeeds. However, [documentation](http://

[2017-10-18 17:25] cnoffsin commented on #19893
Guys I really think an example like this needs to be in the documentation.  It isn't that the documentation doesn't have all the options, with ansible its all of the combinations that are the problem:

[code]

Without the network mode in there AND the exposed/published ports stanzas my ports didn't get bound on the host.

[2017-10-18 17:35] thibaudeau opened #31906 "ios_config logging password"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

centos-release-6-9.el6.12.3.x86_64

##### SUMMARY
Noticed that Ansible (or the module) logged security-sensitive info in /var/log/messages
Essentially could see my password in clear text in the logs. I am using ansible-vault to store the password

[2017-10-18 17:36] jmighion commented on #31855
@charlestolley I've created a branch with a potential fix. Can you please test this at your earliest convenience? I do not have the same version of Aruba to test against.
https://github.com/jmighion/ansible/tree/aruba/paging

[2017-10-18 17:37] halberom commented on #31902
From IRC
[code]
so this is probably a duplicate/known issue, and can possibly be closed if detailed somewhere else.

[2017-10-18 17:41] arthurlm44 commented on #23609
I'm stuck on this issue also -- if this is deprecated, what should I be using?

[2017-10-18 17:41] jmighion commented on #31855
needs_info

[2017-10-18 17:59] shepdelacreme commented on #31905
I ran into this while porting the module to use boto3. It should be fixed in the following PR https://github.com/ansible/ansible/pull/30444

[2017-10-18 18:13] ubersol opened #31907 "/etc/ansible and ansible.cfg directory and files are missing in macosx"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ ansible-config dump --only-changed
$

##### OS / ENVIRONMENT

MACOSX SIERRA Version 10.12.5

##### SUMMARY

When installed Ansible through pip, I am unable to find ansible.cfg file or /etc/ansible. There does not seem to be a default place ansible.cfg reside.
##### STEPS TO REPRODUCE

Insta

[2017-10-18 18:14] djaboxx opened #31908 "ansible template module is crashing python interpreter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

template

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

##### SUMMARY

Template module is killing the python interpreter
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Parsed Template

##### ACTUAL RESULTS

ERROR! A worker was found in a dead state

[code]

[2017-10-18 18:37] EvanK commented on #31891
If the `before`/`after` are present, [we do the replacements against a subsection](https://github.com/ansible/ansible/blob/eb899c9bcdabb14b6e95f1c9fca0c604967459ab/lib/ansible/modules/files/replace.py#L251), and then [we swap out the unmodified subsection within the content with the replaced subsection](https://github.com/ansible/ansible/blob/eb899c9bcdabb14b6e95f1c9fca0c604967459ab/lib/ansible/mo

[2017-10-18 18:40] EvanK commented on #31354
The code you're referring to could probably be refactored for clarity, but it does seem to be working as expected

[2017-10-18 18:40] #31891 closed, assigned to nobody

[2017-10-18 19:12] tedder commented on #30158
No. It can be closed.

[2017-10-18 19:44] #30158 closed, assigned to nobody

[2017-10-18 19:45] szollin commented on #31501
@jborean93 & @alikins, ANy updates you can provide?

[2017-10-18 20:05] zachgatesak commented on #30806
@s-hertel FYI, ran into the same issue here and confirmed working with `2.4.1`

[2017-10-18 20:05] erjohnso commented on #31063
Will try against 2.4.0.0 (versus devel)

[2017-10-18 20:41] loranger opened #31916 "Failed to connect to the host via ssh: command-line line 0: garbage at end of line;"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/Users/loranger/.ansible.cfg) = [u'/Users/loranger/.ansible/hosts']
DEFAULT_REMOTE_TMP(/Users/loranger/.ansible.cfg) = $HOME/.ansible/tmp
DEFAULT_ROLES_PATH(/Users/loranger/.ansible.cfg) = [u'/Users/loranger/.ansible/roles']
HOST_KEY_CHECKING(/Users/loranger/.ansible.cfg)

[2017-10-18 20:56] coofercat commented on #18996
I suspect the (proper) fix for this is imminent, but I wanted a solution, so using @8w's suggestions, I added these steps to my role:

[code]
The resulting chaincert seems to work well enough, although YMMV.

[2017-10-18 20:57] #31857 closed, assigned to bcoca

[2017-10-18 21:05] #31824 closed, assigned to samdoran

[2017-10-18 21:22] s-hertel commented on #30806
@zachgatesak Can you please open a new issue with reproducer? I just tested and was not able to reproduce on 2.4.1.

[2017-10-18 21:39] icb- opened #31918 "XML module can't add element with namespaced attribute"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
XML module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing changed

##### OS / ENVIRONMENT
CentOS 7 both controlling and controlled

##### SUMMARY
With the new XML module in 2.4, I get a traceback if I try to add namespaced attributes at the same time as I add the element.

##### STEPS TO REPRODUCE
Given this XML file:
[code]

[code

[2017-10-18 22:23] 2rs2ts commented on #31741
I had the same problem in Debian Jessie. This is what I did to get it working for me:

[code]

After this I was able to install ansible (2.4.0.0)

[2017-10-18 22:35] bluesalt commented on #26092
@alikins is there any further plan to review this issue ?

[2017-10-18 22:36] albertomurillo commented on #22596
I think this is fixed in 2.4.0.0 by this commit
https://github.com/ansible/ansible/commit/f8e79eb4811fc2f5519fc705524efc156684c553

Except it doesn't. I think this is a bug in ~~`module_utils/docker_common.py`~~

[2017-10-18 22:55] #31474 closed, assigned to nobody

[2017-10-18 22:59] tumbl3w33d commented on #31799
Looking forward to your PR. You are right, the current implementation only uses the hash to check whether the correct artifact is already present. An initial integrity check was apparently not the intention but it should be done.

Not sure if I'm overlooking something but it seems to me the current implementation checks the md5 twice if the file already exists. Once in the `download(...)` and once

[2017-10-18 23:00] willthames commented on #31905
I'll also add a test for this to #31870

[2017-10-18 23:09] willthames commented on #31878
I'm not sure what's happening, but that's definitely not the case - we're a very heavy user of profiles and the ec2_vpc_subnet_facts module - indeed I just tested it with

[code]

Replacing ec2_vpc_subnet_facts with ec2_vpc_net_facts in the above command works fine too. I've tested the above with ansible 2.4.0 and latest devel

Can you try

[code]

You'll get an exception if this is configuration

[2017-10-18 23:27] 2rs2ts commented on #31617
@pshemk Thank you for discovering this. I was absolutely perplexed by this. Your workaround worked perfectly for me.

[2017-10-18 23:58] wknapik commented on #31878
[code]
I'll take a closer look tomorrow, thanks.

[2017-10-19 00:25] vladturbuleasa opened #31919 "elb_target_group not able to find vpc_id"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

elb_target_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS Sierra 10.12.6
##### SUMMARY

Everything is working for other modules but for this specific module I can't provision any target groups:

[code]
##### STEPS TO REPRODUCE

0. setup env. variables in order that ansible to send data to AWS (access k

[2017-10-19 00:46] jborean93 commented on #31897
@snevs are you able to try out a later version of Ansible, 2.1 is no longer supported and this issue could have been fixed in a recent version

needs_info

[2017-10-19 00:49] jborean93 commented on #31896
cc @wimnat

[2017-10-19 00:58] jborean93 commented on #31869
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * This is an issue with macOS 10.13 where Apple changed the way fork() works on the OS which is incompatible with Python fork().

This guide http://sealiesoftwar

[2017-10-19 00:58] #31869 closed, assigned to nobody

[2017-10-19 01:07] jborean93 commented on #31902
@halberom I am going to close this ticket as this is a generic error that the networking team are aware of. As mentioned above the link https://docs.ansible.com/ansible/network_debug_troubleshooting.html#unable-to-open-shell does give you more info on how to look further into this and there ongoing work to try and make this situation better.

[2017-10-19 01:07] #31902 closed, assigned to nobody

[2017-10-19 01:10] jborean93 commented on #31907
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * These directories or files are not created when Ansible is installed and is expected that you either create the /etc/ansible directory or make your own ansible

[2017-10-19 01:10] #31907 closed, assigned to nobody

[2017-10-19 01:11] jborean93 commented on #31908
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-19 01:13] jborean93 commented on #31916
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-19 01:13] #31916 closed, assigned to nobody

[2017-10-19 01:59] synchr-darnold commented on #31908
Dude, did you even read this? Ansible killing the Python interpreter isn't a user question. If it was syntax, that wouldn't kill the python interpreter, Ansible would just have an error. This is something else.

[2017-10-19 02:59] jborean93 commented on #31908
My apologies, I was going through a few triage tickets and wasn't meant to close this one here the way I did. Are you able to share a few more details with this such as

* If it happening with any call to `template`
* The particular template and/or a reproducible scenario
* The host (both controller and remote) version and Python version
* Can you reproduce this on any host or is it just the one

[2017-10-19 03:05] samirageb commented on #31867
@nofunatall I'm working with Ansible 2.4 and Azure dynamic inventory atm, and I can tell you when working with tags, I can reference different regions easily. I don't have DNS forwarding setup, so it's gotta be by IP or FQDN. I would paste a gist to your azure_rm.py and .ini configuration. I've modified my dyn inventory script to provide private IPs, which works across regions. Interestingly enoug

[2017-10-19 03:20] samirageb commented on #31635
@paulmackinnon-adv365 I agree the docs are horrid for Azure Dynamic inventory.

**Make sure azure dynamic inventory is communicating correctly**
`./azure_rm.py --list`
If you don't get a jumble of JSON returned, stop and fix that. (Also, recommend you get `jq` utility to help make the JSON output pretty. It'll help you understand the naming conventions better e.g. ./azure_rm.py --list | jq)

Here'

[2017-10-19 03:45] sdeyannavar opened #31922 "ERROR! 'deligate_to' is not a valid attribute for a Task"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-10-19 05:16] karlism opened #31923 "influxdb_database module unable create SSL connections"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

influxdb_database module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

COLOR_VERBOSE(/home/username/.ansible.cfg) = cyan
DEFAULT_HASH_BEHAVIOUR(/home/username/.ansible.cfg) = merge
DEFAULT_HOST_LIST(/home/username/.ansible.cfg) = [u'/home/username/ansible/inventory']
DEFAULT_MANAGED_STR(/home/username/.ansible.cfg) = This file is manage

[2017-10-19 06:13] slavik57 opened #31924 "Add pull images without starting the containers support to docker_service"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
docker_service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Running on CentOS7 trying to pull images locally

##### SUMMARY
Currently there is no way to pull the images without starting the containers.
When running with `state:absent` and `pull:true` it won't pull the images.
When running with `state:present`

[2017-10-19 06:29] turb commented on #31799
@tumbl3w33d I think this md5 is only intended for integrity checks (and is not always provided, AFAIK). For a repository, it is be a very bad practice to change the content of a non-snapshot artifact without changing its version; even for snapshot artifacts, if the version does not change, the final filename will be different.

In addition to the 404 error I get, request the repository on each run

[2017-10-19 07:09] wimnat commented on #31919
notabug

This error is returned directly from AWS. It can't find the vpc using the credentials you provided. Use AWS cli and call describe vpcs. Maybe this will help you track down the problem

[2017-10-19 07:10] #31919 closed, assigned to nobody

[2017-10-19 07:12] wimnat commented on #31896
Support has been merged it's just not in 2.4. Use the latest version in devel brancg

[2017-10-19 07:13] wimnat commented on #28221
There's no release with it in. You'll have to use latest version on devel branch

[2017-10-19 07:26] jurajama commented on #24874
Here's tip for the others who may face the same issue that I reported above still occurring with Ansible 2.4.
I got sros_config working in 2.4 by adding "exit" command in those places of the input file where the command hierarchy returns to previous level like in the following example after configuring "ntp", need to go one level up to configure "zone".

To make the same input file work with both

[2017-10-19 08:03] fluffy-cakes commented on #31635
Thank you!

[2017-10-19 08:03] #31635 closed, assigned to nobody

[2017-10-19 08:15] winmasta opened #31926 "unarchive module can't find file but it exist"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_PRIVATE_KEY_FILE(/etc/ansible/ansible.cfg) = /home/winmasta/.ssh/kireva_ans
DEFAULT_VAULT_PASSWORD_FILE(env: ANSIBLE_VAULT_PASSWORD_FILE) = /home/winmasta/vault_pass.txt
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
running OS: Linux 4.10.0-37-ge

[2017-10-19 08:22] duck-rh opened #31927 "firewalld: clarify failure reason when not installed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
firewalld

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
The controller is on Debian unstable and the host is on Debian Stretch.

##### SUMMARY
On Debian firewalld is not installed by default and I forgot to install it in my rules. This module then fails, which is perfectly normal, but is unable to give an unde

[2017-10-19 08:37] promaty commented on #30919
For Ansible 2.3 you can set **serial: 1** for the play and the role loop is not duplicated.

[2017-10-19 08:42] rmatec commented on #31434
Hi @ryansb @bcoca
When can we expect to have this fixed in 2.4?

[2017-10-19 08:43] wknapik commented on #31878
The [devel version](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_vpc_subnet_facts.py) does use both, but the [stable 2.4 version](https://github.com/ansible/ansible/blob/stable-2.4/lib/ansible/modules/cloud/amazon/ec2_vpc_subnet_facts.py) uses connect_to_aws() instead of boto3_conn().

[2017-10-19 08:44] petersohn commented on #31741
It seems that the problem is with old pip versions. Installing the newest version from bootstrap.pypa.io eliminates the problem.

[2017-10-19 08:54] agenosov commented on #31350
@mkrizek I tested your fix for [#31647](https://github.com/ansible/ansible/pull/31647) - it works fine.

[2017-10-19 08:55] wknapik commented on #31878
Yep, that's it.
[code]
So this affects 2.4, but not devel.

[2017-10-19 09:00] paleocomburo commented on #29919
I'm having the exact same issue. Adding a group that already exists through the group module results in a failure.

[code]

The offending line in the playbook is:
[code]

[2017-10-19 09:02] wknapik commented on #31878
The story with ec2_vpc_**net**_facts is different though - even the devel version is using connect_to_aws() and consequently fails:
[code]

[2017-10-19 09:09] wknapik commented on #31878
I'm new to ansible and I've never used boto directly, so I don't really know what's going in these modules, but if using connect_to_aws() is indeed the cause of the problem, then there's many more places where it's still in use https://github.com/ansible/ansible/search?q=connect_to_aws.

[2017-10-19 09:31] torched99 commented on #31891
Ah, sorry my suggestion makes no sense.  Now I see what you are trying to do.  Alas, it does not work because that `replace` method call is searching for text that could pretty much be anything at all.  I.e. the string `section` is the subsection text that sits between/after/before as defined by the requested before/after patterns, but that same resulting text is arbitrary and could easily appear

[2017-10-19 10:13] Maghin commented on #18287
I would like to automate a very simple task: changing ssh port after a common server install. It would have been great if the following worked:

**In Inventory:**
[code]

**First task in playbook:**
[code]

Unfortunatly adding the following to the ```ping``` task doesn't work either.
[code]

[2017-10-19 10:18] mihai-satmarean commented on #28499
Hi, We have the issue seen more and more often lately.
Is there any more info we could provide? It affects us increasingly.
Thank you!

[2017-10-19 10:25] davx8342 commented on #28652
Been doing some testing. First of all, just to appease that part of my brain that says I shouldn't believe what everyone tells me I did this :

[code]

This does indeed stop the module failing. For anyone googling this problem, as I was a couple of days ago, might be enough of a work around in certain contexts.

Some further testing and I think that swlist isn't doing any favours. I setup a group

[2017-10-19 10:34] froebela commented on #30882
We also hit the same issue. We heavily use dynamic task includes (combined with loops) and tags inside included tasks in order to limit the execution of tasks. Hence the new module "include_tasks" should also evaluate tags inside included tasks as the deprecated module "include" did. Otherwise the module "include_tasks" would be unusable for us.

We now want to go one step further and use dynamic

[2017-10-19 10:47] soar commented on #31631
Any news?

[2017-10-19 11:12] gundalow commented on #31906
I think this is fixed by https://github.com/ansible/ansible/pull/28894

@Qalthos Could you please look at backporting this to `2.3.3`, though not sure how cleanly that will work, I know this code changed a fair bit during 2.4 development.

@thibaudeau Could you please confirm this is fixed in `2.4`, thanks?

[2017-10-19 11:15] davx8342 commented on #28652
The plot thickens. I have a 11.11 parisc system where the setup module also fails,

[code]

 I'm doing swlist as root, so this shouldn't be related to the non-root user not having permission to swlist.

[code]

[2017-10-19 11:41] winmasta commented on #31926
It also affects "copy" module whith the same error. So if I replace "unarchive" with "shell: tar xvzf" and "copy" with "shell: cp" everything works fine.

[2017-10-19 12:11] AlanCoding opened #31929 "--limit does not work with ansible-inventory CLI"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
ansible-inventory CLI

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac

##### SUMMARY
`ansible-inventory` command does not respect `--limit` option.

##### STEPS TO REPRODUCE
I'm using a basic example inventory file example with 2 groups and 4 hosts.

https://github.com/AlanCoding/Ansible-inve

[2017-10-19 12:53] turb commented on #31799
Note: Artifactory 5.5.1 returns a 404 too on md5 URL if the actual artifact has not been loaded yet in the cache.

[2017-10-19 13:03] davx8342 commented on #28652
There doesn't seem to be an easy way I can find to get distribution_release so there's an open question of what the right thing to do is in this instance. I'm in the  "no data is better than module crashing" camp. So I propose something like (sorry, python isn't my first language) this :

[code]

This produces output like :

[code]

[2017-10-19 13:03] cytopia opened #31931 "cloudformation module: check mode does not work when stack policy deny is present"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudformation module: https://github.com/ansible/ansible/pull/23483

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian Stretch 9.1
[code]

##### SUMMARY
The cloudformation module check mode does not work if there is a stack policy in place that denies stack updates.

##### STEPS TO REPRODUCE

**Ansible ta

[2017-10-19 13:29] mike-pt commented on #20579
:+1: this would be a very nice addition

[2017-10-19 13:32] bcoca commented on #31929
not sure it makes sense, `--limit` has never really affected the inventory itself, just the response to the play selection criteria aka `hosts:`.

[2017-10-19 13:37] AlanCoding commented on #31929
Alright, I'm okay to close this. I get what you're saying about how this is really asking for novel functionality, and there's not any real need driving that.

[2017-10-19 13:38] bcoca commented on #31929
keeping open, as we might need to remove the option from ansible-inventory if it is of no use, but it might  make sense for the --list-hosts option.

[2017-10-19 13:45] sm4rk0 commented on #31918
Hi @icb- looking [here](https://stackoverflow.com/a/7703144/1990878), I got a clue to try this way:
[code]

The result is:
[code]

@dagwieers , @jborean93 Not sure if this is a bug or just a way it should be done. Maybe we could test if attribute contains a colon, and replace the `namespace_prefix:` with `{namespace}` if there is one defined? If we don't change the module, we should at least updat

[2017-10-19 13:50] icb- commented on #31918
@sm4rk0 Thanks! That does indeed work.

I think for consistency with how it works when adding just the attribute, it should be made to work with the standard namespace declaration, but this will work for now. Either way I agree the documentation (and test cases) need to be updated.

[2017-10-19 13:57] bcoca commented on #28499
@mihai-satmarean  we need a way to reproduce the issue, like a minimal set of files that triggers it. Otherwise we cannot diagnose, much less fix it.

[2017-10-19 13:59] bcoca commented on #31908
also:
 -  try running with -vvvvv to get a better idea of the action that triggers this.
 - check dmesg and other logs for crash/kill mentions

[2017-10-19 14:05] bcoca commented on #31922
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-19 14:05] #31922 closed, assigned to nobody

[2017-10-19 14:08] hargut commented on #28225
Is that issue already fixed? I just tried the last rc 2.4.1.0-0.4-rc2 but it still produces the same output as described above.

[code]

Many thanks for your help!

[2017-10-19 14:34] fabiand opened #31932 "Allow submitting manifests with custom types as well"
##### ISSUE TYPE
Feature

##### COMPONENT NAME
kubernetes module

##### ANSIBLE VERSION
[code]

##### SUMMARY

Today manifests with custom kinds can not be submitted, because manifests get validated against a list of apis.

But, as Kubernetes allows to extend the API using CRDs, TPRs (in the past) and API Server aggregation, it does make sense to do the current validation conditionally if a Kubern

[2017-10-19 15:21] ghost opened #31934 "Lookup passwordstore - parameter passwordstore is implemented as directory"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
lib/ansible/plugins/lookup/passwordstore.py
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/passwordstore.py#L158-L163

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian Stretch

##### SUMMARY
The parameter passwordstore is implemented as directory

##### STEPS TO REPRODUCE

[2017-10-19 15:22] tedder commented on #31931
What are your versions of boto3 and botocore?

[2017-10-19 15:25] kevensen commented on #28225
@hargut This is addressed in PR #28281.  It is waiting on review and approval.

[2017-10-19 15:25] cytopia commented on #31931
[code]

[2017-10-19 15:26] thibaudeau commented on #31906
@gundalow I don't have the ability to quickly test this with 2.4. I'll start setting up an environment to see if I can test it.

[2017-10-19 15:30] zachgatesak commented on #30806
@s-hertel Sorry I was a little sparce with details there:
I ran into the same issue on `2.4.0`, an upgrade to `2.4.1` resolved the issue here as recommended above.

[2017-10-19 15:30] Windesson opened #31935 "list index out of range during fact gather"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- setup
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

- Ansible server:
 - python version = 2.7.5 (default, Aug  4 2017, 00:39:18) [GCC 4.8.5 20150623 (Red Hat 4.8.5-16)]
- Remote server:
    Linux version 3.16.7-ckt11 (build@dev22.pica8.local) (gcc version 4.7.2 (Debian 4.7.2-5) )

##### SUMMARY

get_lsb_facts li

[2017-10-19 15:33] ghost opened #31936 "Lookup passwordstore - unable to render tilde (~)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/plugins/lookup/passwordstore.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian Stretch

##### SUMMARY
When setting location of the password store to "~/.password-store" plugin is unable to find it.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
plugin should render tilde (~) to an

[2017-10-19 15:34] ghost commented on #31936
Please consider #31934

[2017-10-19 15:35] forescout-spollock opened #31937 "Module: vmware_dvs_portgroup needs ability to set "network_policy" like vmware_portgroup"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vmware_dvs_portgroup
http://docs.ansible.com/ansible/latest/vmware_dvs_portgroup_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
DEFAULT_REMOTE_PORT(/Users/spollock/ansible/fs-vmw-control/ansible.cfg) = 22
DEFAULT_REMOTE_USER(/Users/spollock/ansible/fs-vmw-control/ansible.cfg) = spollock
DE

[2017-10-19 15:40] michaelgerlachreservix commented on #31934
Additionaly: It would have been not so messy if the error message had been more explicit.

[2017-10-19 15:40] ghost commented on #31934
Additionaly: It would have been not so messy if the error message had been more explicit.

[2017-10-19 15:49] charlestolley commented on #31855
@jmighion yes, that seems to have done it. Can I contact you personally to collaborate more on the development of these modules? All the Aruba hardware I use runs this same OS, and I'd like to help make sure it is all compatible.

[2017-10-19 15:49] #31855 closed, assigned to nobody

[2017-10-19 15:55] tedder commented on #31931
Here's my small but complete test:
https://gist.github.com/tedder/6e8ab691e49f176294f7fbcdbc9921f0

I can confirm that it fails in check mode. I don't think the boto* versions are important, I think the policy shouldn't be passed in check mode.

[2017-10-19 16:08] abadger commented on #31631
@soar does this work if you rename roles/myrole/filter_plugins/helpers.yml to roles/myrole/filter_plugins/helpers.py ?

I remember a long standing bug where any extension was taken for plugin files but I can't remember if someone fixed it for 2.4.

[2017-10-19 16:29] jhawkesworth commented on #31199
See https://github.com/ansible/proposals/issues/31 for a discussion on this topic.

[2017-10-19 16:39] jhawkesworth commented on #27707
@MisterRogersHaus  please see my suggestions here: https://groups.google.com/forum/#!topic/ansible-project/H_0FhXkm2ns

Please ensure you have only the network interfaces in your template that you need, and that they match what you are requesting in the playbook.

Please try suggestions mentioned above and report back on your results.

needs_info

[2017-10-19 16:52] signal64 commented on #24037
+1

We have multiple high latency + low bandwidth connections over c-band satellite where at times during the play we need to ensure we aren't saturating the connections (eg. pushing files). As mentioned serial waits for all hosts in the batch to complete before moving onto the next group of hosts. Connections that are slower than the rest will hold up the play and not move onto other available fo

[2017-10-19 17:39] jmighion commented on #31855
@charlestolley it'd be best to discuss further development on the public irc channels. On freenode #ansible-network . You can find me there as bearrito, along with the ansible network engineers who have more say on the overall development.

I'll make a PR with the fix in that branch today. Thanks for testing that!

[2017-10-19 17:59] tedder commented on #31434
@rmatec if you need it for your local deployments, you can copy it into your local `library` folder.

[2017-10-19 18:01] ndeixonne commented on #20006
Any news for pywinrm concerning this warning ?

[2017-10-19 18:19] andreaso commented on #31926
Have you read what https://docs.ansible.com/ansible/latest/unarchive_module.html has to say about the `src` parameter?

[2017-10-19 18:30] EvanK commented on #31891
Ah, I understand now...that's a pretty far edge case, so I've never stumbled on it before.

I can bang out an integration test for it, and work on a fix from there

[2017-10-19 18:40] s-hertel commented on #31896
Support for tcp protocol has been added in 044dd699c22ae23cad80d62d3a4b4e23aeb8a00d. If you need the feature now you can add the latest version in your local library/ so it overrides the 2.4 version of the module.

[2017-10-19 18:40] #31896 closed, assigned to nobody

[2017-10-19 18:40] mtnbikenc opened #31943 "include_role tasks default to dynamic when using Ansible v2.4.1.0-0.3.rc1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

include_role no longer loads roles as expected during Ansible startup resulting in custom modules in the role not being loaded

##### STEPS TO REPRODUCE

https://github.com/openshift/openshift-ansible/blob/master/playbooks/comm

[2017-10-19 18:45] ramonamis commented on #31896
Thank you!

[2017-10-19 18:46] thibaudeau commented on #31906
@gundalow Just tested with 2.4 and the password doesn't show in logs:

```Oct 19 11:42:55 localhost ansible-ios_config: Invoked with multiline_delimiter= authorize=None force=False diff_against=None replace=line running_config=None save_when=never port=None before=None auth_pass=NOT_LOGGING_PARAMETER parents=['interface GigabitEthernet1/0/3'] provider={'username': 'sthib', 'authorize': None, 'ssh_

[2017-10-19 18:52] s-hertel commented on #31878
@wknapik I can use profiles with ec2_vpc_subnet_facts (and ec2_vpc_net_facts) on 2.4 and devel. Maybe you're using boto3 style credentials which would be a problem since connect_to_aws is used by older boto modules.

[2017-10-19 19:20] senorsmile commented on #30717
the same exact thing is happening to me.

I had to go back to 2.3 and debug output to realize old values of variables from my dynamic inventory are being displayed in 2.4, but are updated in 2.3.

Is there a way to force the plugin to update?

[2017-10-19 19:28] senorsmile commented on #30717
Just confirmed that the fix is already in v2.4.1.0-0.4.rc2.

[2017-10-19 19:44] borra99 commented on #31859
Unable to install ansible from yum even after downloading EPEL repo. So you can't update too

[2017-10-19 19:45] s-hertel commented on #30806
@zachgatesak Oh, I misread you. :)

[2017-10-19 19:50] kmaris commented on #20000
My dependencies are also not installing using the following task:

[code]

The named plugins install successfully but they are not available due to missing their dependencies.

### Update

Not sure why but removing `state: latest` helped. Strange...

[2017-10-19 21:01] ahuffman opened #31952 "Variable set to 0755 in a list gets interpreted as 493 (mode must be in octal or symbolic form)"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

ansible-playbook
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

host_key_checking = False
##### OS / ENVIRONMENT

Ansible control server: Red Hat Enterprise Linux Server release 7.4 (Maipo)
Node: Red Hat Enterprise Linux Server release 7.4 (Maipo)
##### SUMMARY

I have a variable that is a list.  Wi

[2017-10-19 21:03] jimi-c commented on #31943
@mtnbikenc this is expected behavior based on our changes in 2.4.x for includes/imports: http://docs.ansible.com/ansible/latest/playbooks_reuse_includes.html. The commit above fixed a bug in which include_role was not correctly acting in a dynamic way. Also note that `static: yes` is a deprecated use, and instead you should use `import_role` for static uses like modules.

If you have any further q

[2017-10-19 21:03] #31943 closed, assigned to nobody

[2017-10-19 21:09] #31927 closed, assigned to samdoran

[2017-10-19 21:09] albertomurillo commented on #22596
The current image is fetched with
[code]

Which makes use of inspect_image() from docker-py which returns `image, True`
https://github.com/docker/docker-py/blob/master/docker/api/image.py#L262

After the pull, the contents of the pulled image gets saved with
[code]

Which make use of pull() from docker-py which returns the image
https://github.com/docker/docker-py/blob/master/docker/api/image.py#L

[2017-10-19 21:23] sivel commented on #31952
The problem is that you define as an octal first, which is good, however pyyaml converts that to an int, which is ok too. But later when you use `"{ item.mount_mode }}"` that value is then converted to a string of `"493"`.  Python assumes that string values are octals, so you are now getting into a problem.

You should start off just quoting the mode to make it `"0755"` and things should just work

[2017-10-19 21:30] albertomurillo commented on #22596
Nevermind, The actual `True` is coming from
https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/docker_common.py#L453

I'll prepare a pull request for this issue

[2017-10-19 21:33] ahuffman commented on #31952
@sivel I discovered by trial and error that quoting the value fixes the problem.  What I don't understand is that if I set a variable called `mode: 0755` outside of the list and then reference it in the loop it does not have the same issue.  The loop would then look like:
[code]

[2017-10-19 21:40] sivel commented on #31952
It's indeed a complicated issue, and one we are actively working on trying to solve (https://github.com/pallets/jinja/pull/708)

The short of the problem, is that jinja (the templating language/module we use) only has the ability to return strings.  We can sometimes get around that and make inferences, but not always.

When that variable is part of the list/array that you are looping over in `with

[2017-10-19 21:40] #31952 closed, assigned to nobody

[2017-10-19 22:31] albertomurillo commented on #31926
Please close since is not a bug

[2017-10-19 22:33] albertomurillo commented on #31924
If you just want to pull the image you could use `docker_image`

[2017-10-19 22:51] fia5000 commented on #31420
@bcoca
`ansible_connection=ssh` was definitely coming from `[all:vars]` that are defined in the inventory file for me.

This is one of the inventory files:
[code]
Once I got rid of the `ansible_connection=ssh` from the inventory file's `[all:vars]` all was well.

[2017-10-19 23:09] willthames commented on #31878
My credentials are in ~/.aws/config and ~/.aws/credentials and I still have no problems with running it on 2.4

`connect_to_aws` has worked with profiles for years (source: me - I wrote the code so that all modules could correctly use profiles and security_tokens)

[2017-10-19 23:13] willthames commented on #31878
`ansible -m ec2_vpc_net_facts -a 'profile=personal region=ap-southeast-2' localhost` works fine for me with devel.

Can you confirm your boto version - it might be that you have an older version of boto that doesn't work with newer ~/.aws credentials?

[code]

[2017-10-20 00:25] bcoca commented on #31420
ah, failure of my testing, it happens with 'all' from inventory, but not from group_vars/all, fixing

[2017-10-20 00:42] bcoca commented on #31926
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2017-10-20 00:42] #31926 closed, assigned to nobody

[2017-10-20 01:03] BenCoffeed commented on #25402
I had this issue as well with Hashicorp's servers. I followed  @mtmiller's advice and checked the versions of urllib. I ran my playbook against 3 identical 16.04 servers and it only failed on one. The only difference I could fined  on the failing server was that  it had  urllib3 version 1.22 while the rest were on urllib3 version 1.13.1. Manually forcing the problematic server to downgrade to urll

[2017-10-20 01:34] alexhexabeam commented on #27565
This also seems to affect 2.2.3

[2017-10-20 03:20] tinawenqiao commented on #31685
Who can help me？

[2017-10-20 03:37] bcoca commented on #31685
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-20 03:37] #31685 closed, assigned to nobody

[2017-10-20 04:08] eihli commented on #20492
Edit - working - user error: In my case, this was not a bug. To anyone else experiencing this, try running ansible with -vvvv. I saw that ansible was using `/usr/bin/python`. I had to set `ansible_python_interpreter` to the python executable on my host machine in the virtualenv where pip was installing things. That changed the error to file not found which made me realize all of the error was comi

[2017-10-20 04:27] duck-rh commented on #31927
thanks @maxamillion :-)

[2017-10-20 06:30] onorua commented on #29919
make sure UID you are trying to assign is not taken by other user in the system.

[2017-10-20 07:15] slavik57 commented on #31924
@albertomurillo I am working with `docker-compose` files so in order to pull the image with `docker_image` I need to know the image name that is written in the `docker-compose` file. The image name depends on environment variables: `${REGISTRY}/name:${TAG}` so to obtain it I need to run the `docker-compose config` and then parse the result. It is possible but it doesn't seem like the right way to

[2017-10-20 07:44] soar commented on #31631
@abadger sorry, this was typo in my issue-report. Of course this file is named `helpers.py` for syntax highlighting and some debugging.

[2017-10-20 07:54] torched99 commented on #31891
For a far edge case it seemed to hit most cases I tried :-)

I guess its very likely when using replace to _remove_ arbitrary text from a certain section of a file, and then on a subsequent run that section will be clear of text and thus the replace method will match everywhere.

[2017-10-20 07:55] sebasdoes opened #31965 "Extend IOS-XR user module to include public key import and removal"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
iosxr_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Windows 10 (WSL), I want to run it on an IOS-XR node

##### SUMMARY

I cannot add public keys to an IOS-XR user, I've tried making my own module for this, and this has succeeded in adding it, but I've run into two issues.
* I have to create a dirty h

[2017-10-20 08:18] fluffy-cakes opened #31967 "Ansible azure_rm_deployment debug 'instances' missing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_deployment

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_VAULT_PASSWORD_FILE(/home/paulmackinnon/.ansible/ansible.cfg) = /home/paulmackinnon/.ansible/

##### OS / ENVIRONMENT
ubuntu 16.04 LTS desktop

##### SUMMARY
I'm deploying an ARM template via the azure_rm_deployment module and wanting to retrieve some output variable

[2017-10-20 08:39] akamac opened #31968 "ini_file value: true ends up in uppercase True"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ini_file
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Setting `value: 'true'` does solve the issue, but I guess it's a work around.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[couch_httpd_auth]
users_db_public = true
##### ACTUAL RESULTS

[couch_httpd_auth]
users_db_public = True

[2017-10-20 09:18] fvilpoix opened #31971 "Restrict task execution by tag intersection"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Tags

##### SUMMARY

hi, it would be very usefull if we could combine tags to restrict the execution on some task which have all the tags, instead of the union.

That could be done with this kind of arguments:

[code]

And it would execute only the task with both tags.

The same could be done with the skip-tags property.

Thanks for your feedb

[2017-10-20 09:53] hightower101 commented on #22930
With version 2.3 it is still not working.

[2017-10-20 09:54] wknapik commented on #31878
[code]

[2017-10-20 09:59] wknapik commented on #31878
Not sure if it's relevant, but the `foo` profile is used to access an aws subaccount (notice the `role_arn` above). It works with `ec2_vpc_subnet_facts` and fails with `ec2_vpc_net_facts`.

[2017-10-20 10:21] MarkusTeufelberger commented on #26537
I would expect it to work like this:

Failed > Changed > Unchanged > Skipped

Meaning that if any higher ranked return type occurs, the current one gets overwritten. If at least one command is ran in a role, it can't be called "skipped" any more, only changed, unchanged or failed. similar for other scenarios.

In any case the missing return type should be documented in http://docs.ansible.com/ansi

[2017-10-20 10:23] wknapik commented on #31878
Just updated to awc-cli 1.11.173 and botocore 1.7.31, as part of a regular system update. That didn't change anything, but those are the versions I'll be using from this point on.

[2017-10-20 10:49] ymougenel opened #31975 "Incoherent items processing"
- Bug Report

##### COMPONENT NAME
ansible loops (with_items)

##### ANSIBLE VERSION
ansible 2.4.0 (python 2.7.42)

##### OS / ENVIRONMENT
Ubuntu 16.04.3 LTS

##### SUMMARY
When processing numerical items, ansible does not seem to process the last ones correctly.

##### STEPS TO REPRODUCE
When entering multiple numeric items starting with 0, only 8 and 9 are processed as 2 digit values :

[code]

[2017-10-20 10:53] pilou- commented on #26294
I have investigated a little bit:
- I found a recent problem with the unit tests related to `include_role` on devel branch: #31920
- `private` parameter isn't tested
- I am not sure if the value of `private` parameter is taken in account

Using roles and playbook in the description of this issue and a custom unit test, I wasn't able to found a revision were `defaults/main.yml` or `vars/main.yml` w

[2017-10-20 11:03] davx8342 opened #31976 "HP-UX: setup module fails with AttributeError: 'NoneType' object has no attribute 'groups'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Setup Module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

- using Paramiko
- timeout value increased to 30 seconds
- remote tmp changed to $HOME/.ansible/tmp to avoid solaris bug

##### OS / ENVIRONMENT

Control host

[code]

Client host

[code]

##### SUMMARY

There's an assumption in facts.py which has a hard coded line to detect t

[2017-10-20 11:05] wknapik opened #31977 "cloudformation_facts should not fail when there are no stacks"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
cloudformation_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A (executed on Arch Linux)

##### SUMMARY
When run against an account with no stacks, cloudformation_facts fails with `Error describing stack(s) - an empty response was returned`.

That's like throwing an exception from a function that returns a li

[2017-10-20 11:15] itdependsnetworks opened #31978 "host pattern that is an integer produces traceback"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Inventory

##### ANSIBLE VERSION

2.3 -> devel
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

This came up on slack a bit ago, I suspect an issue was not logged. It looks to me as inventory is interpreting the group as an integer, then failing when it is not iterable.

The issue seems to comes from https://github.com/ansib

[2017-10-20 11:22] dagwieers commented on #18910
_From @raasss on October 20, 2017 13:10_

I was looking for similar solution and for me synchronize module was enough. Made empty directory on ansible host and synchronized it to remote dir. For example:
[code]

[2017-10-20 11:25] angystardust commented on #19086
@font this little module from "openshift-ansible" project seems useful for your use-case:
https://github.com/openshift/openshift-ansible/blob/master/library/rpm_q.py

[2017-10-20 11:57] nzjrs commented on #31449
This bug is a catastrophe and breaks a significant part of my working infrastructure.

On a clean Install I have a cron script that runs

[code]

which calls

[code]

WHICH NOW FAILS!

changing the call manually to

[code]

i.e. replace 'all' with 'localhost', fixes the problem.

`ansible-pull` **is my solution to manage remote infrastructure behind firewalls where I can't access machines. This bu

[2017-10-20 12:00] nzjrs commented on #31449
the problem is **all stopped matching localhost** on a clean install (i.e. has not checked out the git repo). It evidently now fails to check it out because all no longer matches localhost so it thinks there is nothing to do.

[2017-10-20 12:07] nzjrs commented on #31449
@abadger sorry for the ping but I see you are managing 2.4.1 release candidates. Would be good to get some eyes on this as it's a serious regression.

[2017-10-20 12:07] mgedmin opened #31979 "apt_key module makes changes even in check mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt_key

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ubuntu

##### SUMMARY

[code]

 goes ahead and adds the apt key, ignoring the `--check` mode.

##### STEPS TO REPRODUCE

See above.

##### EXPECTED RESULTS

No key is added; status is "changed".

##### ACTUAL RESULTS

Key is added; status is "changed".

[2017-10-20 12:16] mgedmin commented on #31979
A workaround is to make sure you specify the key `id` as an argument to `apt_key`.

A proper fix would have the module compute the key fingerprint automatically when it only has the data (or URL/filename), so it can check before proceeding to add/remove the key.

You can do that by piping the ASCII-armored GPG public key data into a subprocess running `gpg --with-fingerprint -`.

[2017-10-20 12:25] es1o opened #31980 "include_role doesn't get default variable values"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Fedora 26 x86_64

##### SUMMARY
When I use include_role ansible doesn't apply default variables.
##### STEPS TO REPRODUCE
I have directories and files in my ansible config:
[code]
In roles/r1/tasks/main.yml
[code]
In roles/r2/tasks/main.yml
[code

[2017-10-20 12:36] nvideau opened #31981 "win_uri modules, headers not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### SUMMARY
The win_uri modules cannot take headers with the current code

##### STEPS TO REPRODUCE
I was trying to get information from librenms api from the target server, a X-Auth-Token token was necessary to acces the API. Each time the answer rec

[2017-10-20 12:38] andreabolognani opened #31982 "lineinfile: Fails when creating backup of CentOS 6's /etc/rc.local"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

The `lineinfile` module.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Running `ansible-config dump --only-changed` produces no output.

##### OS / ENVIRONMENT

Running Ansible on Fedora 26, fully updated, to manage CentOS 6.9, also fully updated.

##### SUMMARY

The `/etc/rc.local` file of a CentOS 6 machine can't be modified using the

[2017-10-20 12:44] mkrizek commented on #31980
cc @bcoca

[2017-10-20 13:29] ossark opened #31988 "Option --ask-pass interpreted differently depending on whether a key file is supplied (paramiko_ssh)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
paramiko_ssh

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Supplying the --ask-pass option to ansible-playbook is interpreted by paramiko as either being the password for you SSH connection or the passphrase for your private key. It is not obvious to the user which one is done.

##### STEPS

[2017-10-20 13:34] gundalow commented on #31988
This needs clarifying in documentation (so adding `label:docs_report`).

I believe this could impact any thing that uses ssh, though this was spotted while doing `label:networking` as that's where this was spotted.

[2017-10-20 13:35] hargut commented on #28225
@kevensen
Thank you for fixing the issue.

I'll just post a comment on the PR. In my view it is a critical issue since it might hit hard when updating ansible to 2.4.x.

[2017-10-20 13:51] paleocomburo commented on #29919
Yeah...I was so focussed on the GID that I never noticed the group name was actually different. So stupid. But it's not a problem with Ansible. Typical PEBKAC.

So an improvement suggestion: In this case, mention the group names are different for the same GID and that's the reason it can't be created :-)

[2017-10-20 14:01] twouters commented on #16809
Fixed in PR https://github.com/ansible/ansible/pull/29031

[2017-10-20 14:06] przemolb commented on #26543
Any progress with reboot action plugin ?

[2017-10-20 14:21] benjdudas commented on #31656
Run on 2.4 and 2.5:

[code]

[2017-10-20 14:34] AlanCoding commented on #31245
@jimi-c Added tasks to for the 2 new cases to testing deck here.

https://github.com/AlanCoding/tower-cli-examples/tree/master/status

From your branch, confirmed functionality working as intended.

https://gist.github.com/AlanCoding/f321e1a69ec4ed5431699ecdf1d103f3

[code]

👍  from me. Is there a PR anywhere? When will this make it into `devel`?

[2017-10-20 14:37] bcoca commented on #31449
@nzjrs yours seems to be different issue, can you check against current devel and/or 2.4.1 to see if that is fixed there? If it still fails, please open a separate ticket for your issue, please fill in the template and provide a simple reproducer if possible.

[2017-10-20 14:44] aabdnn commented on #31095
I've just downloaded and installed ansible-2.4.1.0-0.4.rc2.tar.gz. However, it's still failing to detect the service manager properly on one of our CentOS 6 hosts:

[code]

[2017-10-20 14:47] abadger commented on #31631
@soar I've just tried to reproduce this and was unable to.

[code]

Roles directory next to my playbook.
[code]

helpers.py and main.yml are both filled as you describe.

My playbook:
[code]

Output of the run:
[code]

If you can give some further information to figure out how to turn my case into a case that reproduces your issue we can look further.

needs_info

[2017-10-20 14:48] maxamillion commented on #31927
@duck-rh sure thing, sorry about that. I totally missed that when I did the latest code refactor. That variable used to exist in-scope. Now it does not. :)

[2017-10-20 14:48] mldmld68 opened #31991 "vmware_guest : create VM from template playbook fail, but VM is built, but not powered on. Second try is ok."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 ansible/lib/ansible/modules/cloud/vmware/vmware_guest.py
##### ANSIBLE VERSION
[code]
##### CONFIGURATION
No changes in ansible.cfg

##### OS / ENVIRONMENT
Running ansible on Centos 7
Vcenter 6.5U1
ESXi : 6.0U2

##### SUMMARY
When lanching this ansible playbook, see forward, for the first time , I get this error.
msg": "The number of network ad

[2017-10-20 14:50] wknapik commented on #31977
Workaround for now:
[code]

[2017-10-20 15:03] nvideau commented on #31166
@kafecho :
`$Error.exception.response`
is checking all the exception.response in $error and should be replace by
`$_.exception.response`
or
`$Error[0].Exception.response`

Moreover, the status code returned in the exception is a System.Net.HttpStatusCode corresponding to an enumeration and not an int like when we get 200

The output it is not the same

example for 404:
[code]

In your example does

[2017-10-20 15:04] nzjrs commented on #31449
I'm sorry I'm not in a position to test at the moment. I'm underwater putting out fires from this? bug.

A reproducer is to run `ansible  -c local  -vvvvv -m git -a "name=git@MY_GIT.git dest=/MY_PATH version=master accept_hostkey=yes key_file=/MY_KEY depth=1" all -l "localhost,MY_HOSTNAME,127.0.0.1"
` on a fresh machine

[2017-10-20 15:08] bcoca commented on #31978
no, `pattern` does not come from inventory, it comes from host patterns

[2017-10-20 15:23] vlastimillandsman commented on #26003
+1

[2017-10-20 15:59] bcoca commented on #26294
dupe of #21890

[2017-10-20 15:59] #26294 closed, assigned to nobody

[2017-10-20 16:00] bcoca commented on #31980
dupe of #21890

[2017-10-20 16:00] #31980 closed, assigned to nobody

[2017-10-20 16:01] bcoca commented on #21890
related #21077

[2017-10-20 16:07] rmfrankch opened #31994 "lineinfile does not expand "\1" (backrefs) or escaped controls"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no changes.

##### OS / ENVIRONMENT
Ubuntu 16.04.3 LTS

##### SUMMARY
lineinfile line parameter will not expand the escaped terms (\1, \2, \t, ...)

##### STEPS TO REPRODUCE
using a modified /etc/nsswitch.conf with the following contents:
passwd:         compat
group:          compat

[2017-10-20 16:13] sivel commented on #31994
Per the documentation:

The default of `backrefs` is `no`, which means that the line cannot contain backreferences.

You will need to add `backrefs: yes` to your task.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-10-20 16:13] #31994 closed, assigned to nobody

[2017-10-20 16:28] bcoca commented on #31975
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is due to integer conversion, this is something YAML does automatically, there are ways to avoid this, mainly defining them as str

[2017-10-20 16:28] #31975 closed, assigned to nobody

[2017-10-20 16:44] AlanCoding opened #31995 "ansible-doc misses inventory plugins in user-defined search path"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`ansible-doc` CLI

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac

##### SUMMARY
Custom inventory plugins in the path defined by `ANSIBLE_INVENTORY_PLUGINS` is not shown in the output of `ansible-doc -t inventory -l`. If I put the plugin in the current working directory in `inventory_plugins` folder, it is s

[2017-10-20 16:49] bcoca commented on #31995
~dupe of #31743, fixed via #31744~

[2017-10-20 17:48] mowgli commented on #31449
Hi Brian,

Am Fr den 20. Okt 2017 um 15:39 schrieb Brian Coca:

I don't think so, it seems to be right the same bug that I described in [detail in]
#30636 on 2017-10-09.

The problem are two problems in one. One can be fixed with your first
patch you mentioned here above (#30938, I believe). And that seems to be
the problem, John is talking about.

But the second one (that is nearly same problemat

[2017-10-20 18:16] xenithorb commented on #18528
Interesting turn of events I just spent an hour or so on. I always test locally with vagrant any updates to the playbook before I deploy it remotely. This time `get_url` worked locally, but not remotely. So I figure, ok, it's AWS s3, maybe they're using different certs or something internal to AWS versus external. Nope, that's all good, curl, wget work. OpenSSL s_client with -severname works.

Tro

[2017-10-20 18:23] abadger commented on #18528
Yes, new bug please.

If you can also include a URL we can get that uses sni in the big report,
that would be very helpful.

On Oct 20, 2017 11:17 AM, "Mike Goodwin" <notifications@github.com> wrote:

[2017-10-20 18:24] cameronurnes commented on #30899
That change does seem to have solved it, thanks.

[2017-10-20 18:25] xenithorb commented on #18528
I found one already https://github.com/ansible/ansible/issues/25402#issuecomment-336255465 I'm confirming this user's noticed behavior. I'll make a comment there and reference back to this comment instead of pasting it again.

[2017-10-20 18:26] cameronurnes commented on #30780
https://github.com/ansible/ansible/pull/31163 was closed, so no fix yet

[2017-10-20 18:26] xenithorb commented on #25402
I can confirm @mtmiller's assessment as being the correct one. I discovered this some moments ago and wrote it out in other tickets that were older but also resembled the problem (a link to spare you from the wall of text again.):

https://github.com/ansible/ansible/issues/18528#issuecomment-338284006

---

In addition, in my case https://download.rocket.chat/stable is being hosted on **CloudFront

[2017-10-20 18:27] sivel commented on #25402
@xenithorb although the issues are similar, the OPs problem here was different and not related.  It was due to not having a correct cacert to validate the host.

A new issue should be opened.

[2017-10-20 18:29] xenithorb commented on #25402
d'oh, ok

[2017-10-20 18:38] mtmiller commented on #25402
Apologies, was not clear to me that this issue had a known cause and fix already and that I should have reported a new one.

[2017-10-20 18:45] xenithorb opened #31998 "SSLValidationError in urls.py when urllib3 is installed with ansbile 2.4.0 and pyhon 2.7.13"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`get_url`

##### ANSIBLE VERSION

From Fedora 27 currently up-to-date as of 10/20/2017:

[code]

##### OS / ENVIRONMENT

Fedora 27 Beta, up-to-date 2017-10-20 on updates-testing repository (bleeding edge, but not rawhide)

##### SUMMARY

When and only when `python2-urllib3` *and dependent packages are installed*, `get_url` fails

##### STEPS T

[2017-10-20 18:45] nchammas opened #31999 "Add ability to attach managed IAM policy to IAM user"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - iam_user module
 - iam_managed_policy module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Settings changed in ansible.cfg:
* host_key_checking
* library
* filter_plugins
* roles_path
* inventory
* ssh_args
* pipelining

##### OS / ENVIRONMENT
macOS

##### SUMMARY
Ansible currently lets you create IAM users and create managed IAM polic

[2017-10-20 18:45] xenithorb commented on #25402
@mtmiller @sivel - my new ticket: https://github.com/ansible/ansible/issues/31998

[2017-10-20 19:01] xenithorb commented on #18528
New ticket: https://github.com/ansible/ansible/issues/31998

[2017-10-20 19:19] grumpymatt opened #32000 "vmware_guest fails to create vm with Ansible 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOG_PATH(/home/userid/ansible/vmware-provisioning/ansible.cfg) = /home/userid/ansible/vmware-provisioning/ansible.log
DEFAULT_ROLES_PATH(/home/userid/ansible/vmware-provisioning/ansible.cfg) = [u'/home/userid/ansible/vmware-provisioning/roles']
DEFAULT_STDOUT_CALLBACK(/ho

[2017-10-20 19:56] #30899 closed, assigned to nobody

[2017-10-20 20:04] JulienPalard commented on #31199
Oh I miseed this proposal, thanks for the link, and closing as it has already been discussed.

[2017-10-20 20:04] #31199 closed, assigned to nobody

[2017-10-20 20:14] singareddyb commented on #31816
This isn't an issue with the Ansible [composer module](https://github.com/ansible/ansible/blob/stable-2.4/lib/ansible/modules/packaging/language/composer.py) but with the fact that __Composer__ doesn't have an option - "--dry-run" for the "config" command.
"--dry-run" option exists for "install" and "update" commands based on the latest [Composer documentation](https://getcomposer.org/doc/03-cli.m

[2017-10-20 20:46] #31995 closed, assigned to nobody

[2017-10-20 20:53] #31420 closed, assigned to nobody

[2017-10-20 21:08] itdependsnetworks commented on #31978
I'm not sure what that means, but it looks like you have fixed

[2017-10-20 21:26] pescobar opened #32001 ""ansible_service_mgr" is not correctly detected in ubuntu 14.04"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

setup module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]
##### SUMMARY

Using ansible 2.4.0.0 to administer a ubuntu14.04 machine `ansible_service_mgr` is not correctly detected.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

[2017-10-20 21:53] b2sweety opened #32002 "Unable to set terminal parameters on Cisco ASA5510"
##### ISSUE TYPE
Error: Unable to set terminal parameters on Cisco ASA5510

##### COMPONENT NAME
COMPONENT NAME
Network Modules: IOS

ANSIBLE VERSION
ansible --version
ansible 2.4.0.0
config file = /etc/ansible/ansible.cfg
configured module search path = Default w/o overrides
python version = 2.7.5 (default, Nov 6 2016, 00:28:07) [GCC 4.8.5 20150623 (Red Hat 4.8.5-11)]
`
OS / ENVIRONMENT
Centos7
C

[2017-10-20 21:56] snemetz opened #32003 "Support for ECR Lifecycle policies"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lib/ansible/modules/cloud/amazon/ecs_ecr.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Amazon added Lifecycle policies to ECR repositories this month.
It would be great if this was supported in the ecs_ecr module

[2017-10-20 22:12] sivel commented on #32001
Can you test with the 2.4.1rc2 or just even the stable-2.4 branch I believe this was fixed already.

[2017-10-20 22:18] bcoca commented on #31978
the source of the issue was not the inventory definition, but the selection criteria, for example from play `hosts: ` or similar from `--limit` , which are 'host patterns'

[2017-10-20 22:18] #31978 closed, assigned to nobody

[2017-10-20 22:41] jacksonp2008 opened #32004 "vmware_guest is not setting "customvalues" against vSphere 6.5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running local on mac OSX
Running against vSphere 6.5 and ESXi 6.5

##### SUMMARY

customvalues are not added, vSphere responds with : " A specified parameter was not correct: key"

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should have set

[2017-10-20 22:44] pescobar commented on #32001
it doesn't seem to be fixed upstream

[code]

[2017-10-20 23:41] conn opened #32005 "copying/templating doesn't work with lxc connector when connecting as root"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
LXC connector

##### ANSIBLE VERSION
ansible-playbook 2.4.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible-playbook
  python

[2017-10-20 23:47] EvanK commented on #31891
The replacement approach of the modified subsection _is_ faulty, and your suggestion to use the matches' indices is a solid idea 👍

I'm currently figuring whether to roll it into #31452 or make a separate PR.

That said, it is beyond the scope of the module _and entirely up to the user_ to ensure the idempotence of whatever replacements are being made. Specifically, it is in the user's best intere

[2017-10-21 00:16] xrow commented on #20769
Hi,

I am puzzled. I have the same issue with the demo playbook even if i comment out the become_user. Do I have a different issue?

[code]

[code]

[2017-10-21 00:59] xrow commented on #20769
My Ticket is fixed here https://github.com/ansible/ansible/pull/30743. Sorry.

[2017-10-21 05:26] ogenstad commented on #31611
I see this more as a general networking feature. The config differ within Ansible could be made to support the first part of this. I.e. basically reversing what it's currently doing and instead returning commands which should be removed

A problem with this however is that you can't remove every line by just appending "no" infront of it. As an example in ASA:

[code]
I.e I can't remove the tunnel-

[2017-10-21 05:39] ogenstad commented on #31609
This is a documentation bug, those options have never existed. There's a PR to fix it in #32007

[2017-10-21 07:20] resmo commented on #31816
Thanks @singareddyb, we are going to handle this in a proper way.

[2017-10-21 08:01] resmo commented on #31816
resolved_by_pr #32010

[2017-10-21 17:00] xenithorb commented on #30235
I ended up working around this idempotently by first commenting out all occurrences of the line, then uncommenting the last found line, then finally applying any changes to the line: https://github.com/xenithorb/ansible-playbooks/blob/master/sshd_setup.yml#L14

[2017-10-21 18:15] xenithorb commented on #16804
While it would be contrived, it's not a technical limitation, `ansible-galaxy` could include this versioning feature where it would clone the main repo, checkout the desired version, and clone it to an adjacent area at another desired version. You could then have it create a directory named so that the playbook can reach the role, and symlink the `role/sub-role` back into the expected directory. T

[2017-10-21 18:51] fghaas commented on #32005
Tagging @Mic92 here, as he is the original author of this connection plugin.

I have a bit to add here: evidently this problem exists only (?) if you run the `template` task in `root`'s context — that is either running `ansible-playbook` as `root` against a privileged container (which is what you appear to be doing), _or_ as a regular user against an unprivileged container when using `become_user:

[2017-10-21 18:53] xenithorb commented on #24464
Hi, reporting back that this problem is still present in 2.4.0 - no one from @ansibe has commented on this, yet, unfortunately.

@bcoca can you triage this a little better, and possibly update the bug affects?

[2017-10-21 21:41] gamename opened #32013 "Variable is set even in skipped block"
- Bug Report

##### COMPONENT NAME
playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
$ ansible-config dump --only-changed
RETRY_FILES_ENABLED(env: ANSIBLE_RETRY_FILES_ENABLED) = False

##### OS / ENVIRONMENT
N/A

##### SUMMARY
A variable is registered even when the block containing it is skipped.

##### STEPS TO REPRODUCE
Run the playbook pasted below

[code]

##### EXPECTED RESULTS
The

[2017-10-22 00:25] sivel commented on #32013
This is the expected behavior. In a block then when statement is merged down onto the individual tasks.  Skipped tasks still register so that they can be evaluated later via something like `when: result is skipped`

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-10-22 00:25] #32013 closed, assigned to nobody

[2017-10-22 05:40] popstas commented on #31074
@agaffney, your patch works, but playbook execution time increases up to 3 times:
[code]
Tried several times.

I suggest more simple fix:
[code]

[2017-10-22 06:47] BuildWithLal commented on #31741
@petersohn that did the trick.. thanks..

[2017-10-22 08:04] #31816 closed, assigned to nobody

[2017-10-22 10:17] n3ph commented on #31936
I am not sure yet why this is the behavior, but i will dig into this in the next few days...

[2017-10-22 13:00] sapman opened #32015 "Ansible include vs. include_tasks with tags"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_tasks
include
import
import_tasks
tags

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

I used to use include to include .yml files. I'm using tags all over my playbooks and roles. The only task I didn't tag are includes, cause they just apply their tag to all their tasks and they are included anyway

[2017-10-22 13:48] michaelmcguinness opened #32016 "When authoring modules state=absent always returned if 'path' used as an option"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Issue when writing modules

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default configuration

##### OS / ENVIRONMENT
MacOS

##### SUMMARY
When authoring modules if 'path' is used as an option then some special handing is invoked when module.exit_json and then is invoked which in turn calls add_path_info in lib/ansible/module_utils/basic.p

[2017-10-22 14:03] ghost commented on #11905
I just stumpled upon this issue and cannot believe that this isn't considered a bug.

Seriously, I came over from Chef because I thought that Ansible sticks to the paradigm of least suprise.
Instead I'm encountering a lot of inconsistencies, immature implementations and weird stuff like this.
Another one was the _duplicate key warnings_ when using pretty valid YAML references.

:-(

[2017-10-22 16:32] gundalow commented on #29305
The `netscaler` module has been deprecated, please use:
* http://docs.ansible.com/ansible/latest/netscaler_server_module.html
* http://docs.ansible.com/ansible/latest/netscaler_service_module.html

If you still have an issue with the new modules please raise a new bug at https://github.com/ansible/ansible/issues/new

Thanks in advance

[2017-10-22 16:32] #29305 closed, assigned to nobody

[2017-10-22 17:17] jmcleroy commented on #26717
Unable to reproduce further

[2017-10-22 17:17] #26717 closed, assigned to ganeshrn

[2017-10-22 18:07] agaffney commented on #31074
While that would technically work, I feel like that's just asking for weird side effects. We know from my debugging above that the Task object reference we get on task start can change, or even be re-used, by the time that we're using it to display the task banner. This implies that explicitly setting attributes on this object at the time of display could cause unexpected results.

[2017-10-22 18:10] agaffney commented on #31074
There's a few different "proper" fixes that we could do if we also modified `default.py`. The easiest would probably be something like making `_print_task_banner()` return the constructed task banner, rather than printing it right there. Then `actionable.py` could store it and spit out a static string at the proper time.

[2017-10-22 18:16] conn commented on #32005
Sure! Here are the results:
[code]
[code]

It looks like you're on to something here. And yes, I am running this as a privileged container via root.

[2017-10-22 18:39] n3ph commented on #31936
Sorry - I messed up the ownership... :-/

[2017-10-22 18:40] n3ph commented on #31934
Sorry - I messed up the ownership... :-/

[2017-10-22 18:40] fghaas commented on #32005
@conn Roger that, thanks for confirming. For the benefit of other reviewers, you might want to change the issue title to "copying/templating doesn't work with lxc connector _when connecting as root_" or similar.

I'm really at a loss about the underlying reason though; this issue has been nagging me for a while too. I'm hoping for other people to chime in here. I'm not even sure whether this issue

[2017-10-22 18:54] PatrickMurray commented on #31713
@elasticdog @indrajitr Have you had a moment to look into this?

[2017-10-22 19:21] boxever-javier opened #32019 "znode fails to create node (It uses string value instead of bytes value)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
znode

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
"N/A"

##### SUMMARY
In python 3, kazoo client requires bytes and not string, in order to solve the issue:

1.- include in znode.py:
[code]

2.- Replace znode.py line 241:
[code]

This solve the issue and is backward compatible (I already tested and will create the

[2017-10-22 22:07] Nothing4You opened #32022 "apt upgrade fails when aptitude is not installed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
packaging/os/apt

##### ANSIBLE VERSION
Tested against both `2.4.0.0` and `2.4.1.0-0.4.rc2`. This is from `2.4.1.0-0.4.rc2`.
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Target:
[code]
System is up-to-date, no aptitude installed.

##### SUMMARY
apt upgrade fails when aptitude is not installed.

Probably related to #30747

##### STE

[2017-10-22 22:11] jborean93 commented on #31898
This looks like it is related to https://github.com/ansible/ansible/issues/26885, are you able to run the module with `get_checksum: no` as it seems like it is trying to get a checksum on an open file and then fails.

We should have a better error message but this should solve your issue for now.

[2017-10-22 22:52] jborean93 commented on #31796
The current docs at http://docs.ansible.com/ansible/latest/win_get_url_module.html is for the latest release version of Ansible which, right now, is 2.4. I see you are on 2.3 and when viewing the docs for that version http://docs.ansible.com/ansible/2.3/win_get_url_module.html it does not mention the `status_code` or `msg` return value.

Looking at the code I see it was definitely added in 2.4 wit

[2017-10-22 22:52] #31796 closed, assigned to nobody

[2017-10-23 00:36] willthames commented on #31878
Yes, I can reproduce this problem if I use `role_arn` in my profile. I don't fully understand why a role is necessary to access a subaccount rather than an IAM user - can you elaborate further?

This isn't a `connect_to_aws` problem - that's just a symptom of it being a boto (as opposed to boto3) problem. There a quite a [list of modules remaining to convert](https://github.com/ansible/community/b

[2017-10-23 02:34] geerlingguy commented on #31741
@petersohn - in my case, I was having trouble even if installing the latest pip (`pip install --upgrade pip`); I still had to upgrade `setuptools` following @2rs2ts's advice in https://github.com/ansible/ansible/issues/31741#issuecomment-337745346 (for Debian 8/Jessie). Thanks!

[2017-10-23 03:05] Akasurde commented on #32000
@grumpymatt Thanks for reporting this issue. Could you please try above patch and let me know if it works for you ?

[2017-10-23 03:19] conn commented on #32005
@fghaas done! thanks for the good work.

[2017-10-23 03:45] Akasurde commented on #32000
resolved_by_pr #32674

[2017-10-23 04:10] #30439 closed, assigned to trishnaguha

[2017-10-23 05:27] yaweiw opened #32027 "Add Azure Container Registry (ACR)"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Mac OS 10.12.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-10-23 05:28] yaweiw commented on #32027
@xscript @zikalino @yuwzho

[2017-10-23 05:49] fghaas commented on #32005
@conn Thanks for the detailed report. :) I'm hoping that someone more knowledgeable about the internals of `lxc` and/or `copy`/`template` can help us pinpoint and fix the issue.

[2017-10-23 07:45] makesse opened #32029 "vmware_guest module does not create disks on update"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No modifications to ansible.cfg have been made, Ansible Tower is used

##### OS / ENVIRONMENT

RHEL 7.4, kernel 3.10.0-693.2.2.el7.x86_64
Ansible Tower 3.1.5
VMWare vSphere 6.5

##### SUMMARY

I would like to be able to add new VMWare disks to a running VM. When I define

[2017-10-23 08:13] makesse commented on #32029
Scratch that, the state should be present in order for changes to be picked up. I will stand in the corner in shame for a little while now...

[2017-10-23 08:13] #32029 closed, assigned to nobody

[2017-10-23 08:43] victorock commented on #31063
Hitting this issue when using:

**environment**
[code]

**Input for GCE:**
[code]

**Output:**
[code]

**RESOLUTION:**
[code]

[2017-10-23 08:44] ajithkt opened #32032 "vmware_guest issue with Ansible 2.5"
(orig comment reformatted for readability)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
ansible 2.5.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible-2.5.0-py2.7.egg/ansible
  e

[2017-10-23 08:52] machacekondra commented on #31703
resolved_by_br 31698

[2017-10-23 09:18] soar commented on #31631
Looks like I've localized this problem!

My ansible work tree looks like this:

[code]

So, as you can see, I had files `playbooks/filter_plugins/helpers.py` and `roles/docker-swarm-service/filter_plugins/helpers.py` - two different helpers with same name in different locations. This works on Ansible 2.3, but on Ansible 2.4 gives me error.

I've renamed this file and now problem has gone. Thank yo