[2016-10-07 20:28] sivel commented on #17938
How did you install 2.2 RC1?  What I notice in your output is:

[code]

Which indicates when you run `ansible-playbook`, it is actually the `ansible` command that is executing.

[2016-10-07 20:31] filapinoaquino commented on #17938
Downloaded the source from
https://github.com/ansible/ansible/releases/tag/v2.2.0.0-0.1.rc1.
[root@ny-nitools-003 tmp]# pip install ansible-2.2.0.0-0.1.rc1.zip

On Fri, Oct 7, 2016 at 4:29 PM Matt Martz notifications@github.com wrote:

[2016-10-07 20:36] sivel commented on #17938
It seems there is a problem with installing from the zip file that github creates.  Installing from the tar.gz file does not suffer from this problem.

Additionally, installing via the github release archives is not supported. For installation instructions for 2.2 RC 1 please see https://groups.google.com/forum/#!topic/ansible-devel/Ca07JSmyxIQ

If you have further questions please stop by IRC or

[2016-10-07 20:41] filapinoaquino commented on #17938
[root@ny-nitools-003 tmp]# ansible-playbook -vvvv show.yml
Using /etc/ansible/ansible.cfg as config file
ERROR! The requested action was not found in configured module paths. Additionally, core modules are missing. If this is a checkout, run 'git submodule update --init --recursive' to correct this problem.

The error appears to have been in '/tmp/show.yml': line 10, column 5, but may
be elsewhere

[2016-10-07 21:10] snemir2 commented on #17912
actually, no, this is not working.
 main.yml for a role:
`
- block:
  - name: Task to fail
    command: /bin/false

  rescue:
  - name: this should print
    debug: msg="In Rescue"

  always:
  - name: this should always print
    debug: msg="In Always"
    '
    output:
    PLAY [hqhddev91.pclc0.merkle.local] ********************************************

TASK [test_block : Task to fail] *********

[2016-10-07 21:15] snemir2 opened #17939 "blocks NOT WORKING AS EXPECTED in ROLE/tasks/main.yml"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

block/rescue/always
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

n/a
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

rescue should ru
##### ACTUAL RESULTS

rescue nor always did not run!!!!

[code]

[2016-10-07 21:37] snemir2 opened #17940 "additional options for logging"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

ansible logging
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

[2016-10-07 21:46] hryamzik commented on #13243
It's also important not to fail if some files were not decrypted. Warning should be enough.

[2016-10-08 00:14] #17917 closed, assigned to bcoca

[2016-10-08 00:44] bcoca commented on #17919
try setting allow_world_readable_tmpfiles to true in ansible.cfg

[2016-10-08 00:56] ghost commented on #15721
This issue exists on a clean install of Ubuntu 16.04 server.

[2016-10-08 04:12] targetoyes commented on #17132
`python manage.py celery worker -P threads --loglevel=info` solved start problem, but when executing one of the task of django-celery , it warming with `worker: Warm shutdown (MainProcess)` ,and new MainProcess was created,  Number of MainProcess become to be add-one processes.

[2016-10-08 05:22] wordgod123 commented on #17132
@targetoyes Yes, i have this problem too. I think maybe is this reason in task_queue_manager.py:
    def cleanup(self):
        display.debug("RUNNING CLEANUP")
        self.terminate()
        self._final_q.close()
        self._cleanup_processes()

[code]

I have use rq become the task queues. This resolve the problem.

[2016-10-08 05:48] haroldTlan commented on #17716
@bcoca Thanks for your help,
but I post my questions in groups and there is still no solutions to fix it.
https://groups.google.com/forum/#!topic/ansible-project/PzmELqzydbY
https://groups.google.com/forum/#!topic/ansible-devel/TW4GsR-hTtQ

I did not know what should I do

[2016-10-08 07:57] targetoyes commented on #17132
@wordgod123  what is the meaning about rq?

[2016-10-08 08:10] wordgod123 commented on #17132
@targetoyes redis queue

[2016-10-08 08:23] targetoyes commented on #17132
@wordgod123  you had abandoned the django-celery,and switch to use django-rq?

[2016-10-08 08:24] wordgod123 commented on #17132
@targetoyes yes

[2016-10-08 08:32] targetoyes commented on #17132
Can rq revoke the command when command is running? if can, I think i should also switch to it.

[2016-10-08 08:34] targetoyes commented on #14408
@lvh I also have that problem today.Has that been solved?

[2016-10-08 09:42] targetoyes commented on #17132
rq has not a revoke method,so i have to consider other solution.

[2016-10-08 11:43] lvh commented on #14408
@targetoyes My last comment and the issue I linked in celery should give you full relevant information.

[2016-10-08 13:28] sumpfralle commented on #5317
@chetan: this specific fix would not work for files with a non-line-based syntax. Additionally the 'Ansible managed' part o the string is user configurable - this cannot be done in in code.

The perfect solution would probably involve specific handling of the "ansible_managed" variable (aribitrarily disable/enable for change detection only).
An imperfect (but acceptable) solution could be to chang

[2016-10-08 13:36] sumpfralle commented on #5317
@mpdehaan: you closed this ticket, even though the behaviour described in its title still persists. Please consider re-opening this ticket.
Alternatively you may want to change the title, if you think, that it does not reflect the above discussion.

[2016-10-08 13:49] simon-sinx17 opened #17945 "Ansible prints misleading [DEPRECATION WARNING] and possibly evaluate when clause"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

[DEPRECATION WARNING] / when
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Ansible prints misleading [DEPRECATION WARNING], stating Skipping task due to undefined Error, where the "skip_reason": "Conditional check failed". With the warning printed, Ansible possibly fails to evaluate when, before tr

[2016-10-08 14:28] bcoca commented on #17945
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As documented http://docs.ansible.com/ansible/playbooks_conditionals.html#loops-and-conditionals,
`when` gets evaluated per item of a `with_` loop iteration, a

[2016-10-08 14:28] #17945 closed, assigned to nobody

[2016-10-08 14:54] simon-sinx17 commented on #17945
@bcoca , This scenario has not started a loop yet, more like don't loop if no file condition. The documentation you are referring to has this right above the section mentioned by you -

If a required variable has not been set, you can skip or fail using Jinja2’s defined test. For example:

tasks:
- shell: echo "I've got '{{ foo }}' and am not afraid to use it!"
    when: foo is defined
- fail: msg

[2016-10-08 16:47] abadger opened #17947 "Default ansible_managed to a static string"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

Various templates
##### ANSIBLE VERSION

[code]
##### SUMMARY

Using the default values of "{{ ansible_managed }}" in a template file leads to the file being changed.  This is due to the variables used in the default definition of ansible_managed:
- The date replacement leads to it being changed whenever the date of the template's source is dif

[2016-10-08 16:48] abadger commented on #17947
This is a summary of #5317 which has been closed for a long time.

[2016-10-08 16:50] abadger commented on #5317
Please open new issues rather than commenting on closed issues.  Closed issues don't get looked at so it's easy to miss seeing reports that a behaviour is still occurring or could be looked at in a different way.

I've opened this issue: https://github.com/ansible/ansible/issues/17947  with a summary of the problems with the default setting of ansible_managed.  As mpdehaan said at the start of thi

[2016-10-08 16:55] abadger commented on #17947
**Updated: two alternate solutions.  Some of the variable expansions could be bugs**

Solution One:
- Change the default value of ansible_managed in examples/ansible.cfg and lib/ansible/constants.py to "Ansible Managed: {file} on {host}".
- Change file to refer to the destination file and host to refer to the inventory_hostname
- In ansible.cfg, leave the long form of the value as an additional co

[2016-10-08 17:02] jsumners commented on #17947
Chiming in to say that it is very annoying to have been following an issue (#5317) for months only to have it closed and locked without a resolution while being told to follow a new issue.

[2016-10-08 17:09] abadger commented on #17947
@jsumners -- The issue you refer to was closed here: https://github.com/ansible/ansible/issues/5317#issuecomment-30809226  (December of 2013).  No one is reading closed issues and they don't come up in any of our reports, etc.  So I locked it with a message to look here rather than leaving commenting open and people posting new information with the false expectation that it will be seen by people

[2016-10-08 17:19] abadger commented on #17947
Talked about this with @bcoca who suggested that since none of the variables are able to work idempotently we should deprecate and remove this feature and add a recipe to the documentation telling users how to implement ansible_managed via inventory variables:

[code]

bcoca also said that some of the variables seem to point to things that he thought they weren't supposed to:
- He thinks host shou

[2016-10-08 17:23] jsumners commented on #17947
I'd _much_ rather keep the feature as it is than to lose it altogether.

[2016-10-08 17:35] abadger commented on #17947
@jsumners how do you use it and what does it add that adding ansible_managed as an inventory var would not?

[2016-10-08 18:28] sumpfralle commented on #17947
@abadger: I think, the source of confusion regarding #5317 was the combination of a closed ticket, that is not locked but with no way of re-opening it. I am not sure, if this is github's default setup, but it seems to me that closed issues that cannot be re-opened (by non-members) should be locked by default.
Anyway: thank you for taking the time to summarize the discussion of #5317 in detail.

[2016-10-08 19:21] jsumners commented on #17947
@abadger my default `ansible_managed` is set to `Ansible managed, do not edit directly: last update by {uid} on %Y-%m-%d`. As far as I know, those format tokens will not be replaced in a regular inventory variable.

Plus, that would mean I, and probably a whole lot of other people, would have to go back and add the new inventory variable to all of our inventories to fix behavior that has been ther

[2016-10-08 19:56] InferGuard commented on #9956
Hello,

The bug or the confusion between python different path is stil existing in el captant,
any idea or workaround ?
am trying to not work with a something like a  ln -s /usr/bin/python /usr/local/bin/python2.7

[2016-10-09 00:43] jeffwidman commented on #4494
This should be re-opened but filed as a feature request, not a bug. And filed against the [`ansible-modules-core`](https://github.com/ansible/ansible-modules-core/) repo, not the main ansible repo.

Looks like there's already an open PR:
https://github.com/ansible/ansible-modules-core/pull/3755

[2016-10-09 07:41] davidobrien1985 opened #17949 "azure_rm_storageaccount throws error"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

azure_rm_storageaccount
##### ANSIBLE VERSION

2.1.2.0
##### SUMMARY

Using the example from here:
http://docs.ansible.com/ansible/guide_azure.html

I receive the following error:

[code]

[code]

[2016-10-09 07:45] wise0103 opened #17950 "Support commands with multiple interactive operation in Network modules"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

Network modules
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When using Network modules to communicate with routers like CISCO ones, there are some commands with different prompt messages for different conditions or several prompt message to interact.

Now in lib/ansible/module_utils/netcli.py

[2016-10-09 08:49] davidobrien1985 commented on #17949
Just fyi:
I followed the example here (https://azure-sdk-for-python.readthedocs.io/en/latest/) and was able to successfully execute the python script from the same machine where Ansible is failing.

[2016-10-09 15:07] int32bit commented on #15511
Yep, thanks @bcoca, the callback mechanism offers a good interface to  customize functions as need, this issue can be closed pleasantly now.

[2016-10-09 15:07] #15511 closed, assigned to nobody

[2016-10-09 15:11] int32bit commented on #15571
I re-test it on CentOS, the error above didn't happen again. This issue can be closed pleasantly.

[2016-10-09 15:11] #15571 closed, assigned to nobody

[2016-10-09 18:02] enchantner opened #17952 "local_action / delegate_to: 127.0.0.1 are trying to use SSH no matter what I do"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

My ansible.cfg looks like this:
[default]
force_handlers=True
[ssh_connection]
pipelining=True

There are no ANSIBLE_\* variables overridden.
##### OS / ENVIRONMENT

Centos 6.5
##### SUMMARY

I have an Ansible playbook what I'm trying to run to configure several nodes. At some point, I'm trying

[2016-10-09 18:22] phemmer opened #17953 "Support for network namespace facts"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
network namespace

##### ANSIBLE VERSION
none

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Linux

##### SUMMARY
Ansible currently has no support for Linux network namespaces. It would be highly useful to get at least basic support for them via facts. Right now, if an interface is a non-default network namespace, ansible won't detect it at a

[2016-10-10 02:35] IanLee1521 opened #17954 "Update Repository Website to HTTPS"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

N/A
##### ANSIBLE VERSION

N/A
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Should the preferred, default website URL on the repository be https://ansible.com rather than http://ansible.com ? This is on the repository: https://github.com/ansible/ansible
##### STEPS TO REPRODUCE

Go to: https://github.com/ansible/ansible
###

[2016-10-10 03:49] willthames commented on #16948
!needs_info

[2016-10-10 06:03] davidobrien1985 commented on #17949
[code]

[2016-10-10 06:18] zarnovican commented on #14112
I have re-tested the issue on latest 2.0, 2.1 releases and stable branch for 2.1, 2.2.
- 2.0.2.0 - 0m18.692s
- 2.1.2.0 - 0m18.332s
- stable-2.1 972379c907 - 0m18.240s
- stable-2.2 3a822faeae - 0m0.839s

It looks like the issue was (will be) fixed in 2.2.

[2016-10-10 06:51] robinro commented on #17954
@IanLee1521 I totally agree with you that in times of Let's encrypt and others everything should be https first. I opened PR #17957 to change the URLs in the readme.

While all the new URLs work, sadly docs.ansible.com and releases.ansible.com redirect to http:
@ansible: Maybe it's time to default to https? Not for the encryption, but for content integritiy and http/2.

[2016-10-10 06:56] robinro commented on #17947
I would prefer solution 1 of https://github.com/ansible/ansible/issues/17947#issuecomment-252435553.
I agree idempotency should be the default, so the default value should be constant, but removing the variable would unnecessarily break quite a few existing playbooks, see e.g. 25k results at https://github.com/search?q=ansible_managed&type=Code

[2016-10-10 07:02] robinro commented on #17932
@dmromanov Please try ansible 2.2 rc1 or the devel version and report back whether those still show the issue. There were recent fixes regarding unicode handling and especially the line that produced your issue.

[2016-10-10 08:32] fredericve opened #17958 "fatal errors are sent to stdout instead of stderr"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Ansible reporting output sends fatal errors to stdout instead of stderr.
##### STEPS TO REPRODUCE

Just run a playbook or a command for which you expect a fatal error (e.g. host is down) and redirect stderr to a file. The error output will be visible on the

[2016-10-10 09:46] dmromanov commented on #17932
@robinro
It did not work.

[code]

[code]

[2016-10-10 10:05] burdiyan commented on #17495
I still have this issue with ansible 2.1.2.0

[2016-10-10 11:39] candlerb opened #17960 "Documentation of which directories a template is searched for"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

playbooks and roles
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When a playbook task or a role task references a template:

[code]

I have been unable to find documentation as to which directories it will look in for the file "foo". The logical place would be http://docs.ansible.com/

[2016-10-10 11:59] gfarrell commented on #17495
Also having this problem in ansible 2.1.2.0 which means one of my servers was stopped and not restarted

[2016-10-10 12:07] F30 commented on #16052
I've encountered this error message when trying to become a non-existing user. With an actually existing user (which also needs to have a shell configured to not trigger another error), everything works fine for me.

[2016-10-10 12:40] minusdavid commented on #16006
@jimi-c how do you mean? Could yoi elaborate on your idea?

[2016-10-10 13:03] robinro commented on #17932
I was able to reproduce the issue and now pushed a fix as #17961
With that fix I'm able to load a ini based inventory file with a non-ascii character in the filename

Please have a look and let me know whether this fixes your issue.

[2016-10-10 13:26] kellenanker commented on #16006
Just to follow up on this matter (and so the ticket isn't closed while everyone is still discussing it): rolling back to Ansible 2.0.1.0 fixed the issue. I have yet to attempt to reproduce it on a more recent version since rolling back.

[2016-10-10 13:49] #17949 closed, assigned to nobody

[2016-10-10 14:11] jctanner commented on #17952
@enchantner Please provide the ansible-playbook -vvvv output for the delegated task. I would also like to see the following:
1. The full ansible-playbook command line options used
2. The inventory file
3. The playbook header (hosts/gather_facts/connection/etc)

needs_info

[2016-10-10 14:44] david-resnick commented on #13796
I'm hitting throttling errors when creating an autoscaling group with an ELB health check.

The workarounds mentioned above aren't applicable. I would need the ec2_asg module to back off and retry if the completion polling fails with a "throttling rate exceeded" error.

[2016-10-10 14:45] filapinoaquino commented on #17938
I installed with the tar.  I currently can't install directly from github (corporate firewall), so I downloaded the tar.gz and used pip to install.  The above comment is the resulting output.  The same playbook and inventory work with ansible 2.1.2

[2016-10-10 15:19] filapinoaquino commented on #17938
Resolved, I see now that the link is different, it was unclear to me before.  The playbooks are executing as expected.

[2016-10-10 15:19] #17938 closed, assigned to nobody

[2016-10-10 16:11] muratdx opened #17963 "localhost variables not accessible through hostvars"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Variable handling
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Depending on how the inventory and plays are structured, facts assigned to localhost (via set_facts) can become inaccessible through hostvars. Referencing them directly still appears to work. It also looks like localhost must be li

[2016-10-10 16:18] muratdx commented on #17963
**Couple of additional details:**

If the first play run on "127.0.0.1" is removed, or if it's run on "localhost" instead, then the playbook behaves as expected.

Removing localhost from the inventory, or making it the only host in its group also appears to result in the correct behavior.

[2016-10-10 16:20] MatthewBooth commented on #14146
^ That categorically does not work. Sorry. loop_control is totally broken.

[2016-10-10 16:56] jean-christophe-manciot commented on #14880
We cannot use nxos_command to configure, but rather nxos_config, which has its own set of issues.
Anyway, I consider the issue of this thread as closed since no one seems interested in further investigation.
Let's not use calls to empty roles.

[2016-10-10 16:56] #14880 closed, assigned to nobody

[2016-10-10 18:11] jctanner commented on #17939
@snemir2 I am unable to reproduce the behavior ...

[code]

Please tell me how your environment differs from my test case.

needs_info

[2016-10-10 18:38] dmromanov commented on #17932
@robinro Thank you! Your patch fixed the issue!

[2016-10-10 19:47] snemir2 commented on #17939
i think the whole points is that it does not work within ROLE.

[2016-10-10 23:21] shaleh commented on #7475
I just ran into a problem like the redis issue above.

One of our playbooks set a user's home directory as /tmp. Not a good idea. This went unnoticed for a while. When we fixed the home directory and set "createhome=yes" we now get errors because the user exists. The Ansible code does not detect the user exists but the home directory is wrong and just fix the home directory. The work around is to

[2016-10-11 00:24] dannyman commented on #12816
Q: Is the Ansible version on the managed hosts a factor or just on the driving host?
A: No **(Edit)**

Therefor, the problem I am experiencing is either unrelated to this issue, or a manifestation of the same issue, but in 1.9.6

We may be seeing this issue as well.  One playbook with `synchronize` and `delegate_to` among Ansible-1.9 hosts works fine. I'm trying to do the same with Ubuntu 16.04 ho

[2016-10-11 01:39] eljrax commented on #17935
I'm getting this too. The control socket gets removed when the first connection which spawned it closes. If there are other connections open using that socket, they'll die with it. But that's kind of how control sockets work in openssh and not a feature of Ansible.
Unless Ansible deliberately holds the initial connection open, this will happen.

I tend to use a bastion host - and I do not get this

[2016-10-11 02:22] danpovey opened #17964 "systemd-logind assertion triggered"
This happened on debian 8.5 on a Dell rack server.
A machine was not responding to ssh connections, and on the console I saw this:
  assertion 'f' failed at ../src/journal/journal-file.c:116, function journal_file_close().
There were also fairly normal messages about hung tasks, like:
  task nnet3-compute blocked for more than 120 seconds.  Aborting
[not sure if that could be due to a failure in s

[2016-10-11 02:23] danpovey commented on #17964
sorry meant to do this on systemd, deleting

[2016-10-11 02:23] #17964 closed, assigned to nobody

[2016-10-11 03:56] trondhindenes opened #17966 "include_role does not work with with_items"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]
##### SUMMARY

The new "include_role" task does not work with with_items
##### STEPS TO REPRODUCE

In the example playbook below, the role "myrole" is first run stand-alone, and then as a with_items loop.

[code]
##### EXPECTED RESULTS

Success
##### ACTUAL RESULTS

Error part of the output

[code]

[2016-10-11 06:55] tomashevski opened #17968 "Extensions of variable files are not limited as they should be per documentation. Backup copies thus may take precedence over expected files"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

initialization
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Host: Ubuntu 14.01
Guest: Scientific Linux release 7.2 (Nitrogen)
##### SUMMARY

Variables loaded from ./group_vars/all/config.yml~ wins over ./group_vars/all/config.yml
According to [docs](http://docs.ansible.com/ansible/intro_inventory.html#splitting-out-h

[2016-10-11 10:00] rickapichairuk commented on #13243
+1 the ability to use different passwords to encrypt different files would be nice!

[2016-10-11 11:44] ZZelle commented on #13190
I have exactly the same need in playbook managing an OpenStack  infrastructure

[2016-10-11 12:23] emanuelis opened #17969 "group_vars ignored with inventory script in ansible 2.1.1.0"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Ansible
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

any
##### OS / ENVIRONMENT

any
##### SUMMARY

Ansible has so many bugs in pre 2.1.1.0 versions. But many people can not upgrade due to "feature" #16878

Please reopen #16878 and fix "the feature". It is not acceptable when you make breaking changes in a minor minor version.
##### STEPS T

[2016-10-11 12:51] Iowners commented on #17969
Please FIX THIS !

[2016-10-11 12:52] parito commented on #17969
Come on guys, this is breaking our installations and is ugly.

[2016-10-11 13:29] nvkv commented on #17495
Same problem here, 2.1.2.0

[2016-10-11 13:32] anthonyhaussman commented on #17495
Will be fix on Ansible 2.2.0. :(

[2016-10-11 13:33] anthonyhaussman commented on #17495
You can manually patch the file lib/ansible/module_utils/docker_common.py :
https://github.com/ansible/ansible/pull/17496/files

[2016-10-11 13:41] coreaut commented on #16857
I think I can shine some light on the cause. I have a "similar" setup.

My Dir layout looks like this

[code]

When I call:
`
ansible-playbook -i inventory/updates_weekly playbooks/updates_weekly.yml --ask-become
`

The vars from ansible are wrong (I used debug var):

[code]

So the meta refresh fails:
`Host file not found: inventory/updates_weekly`

Because the path he builds is:
`/ansible_dir/in

[2016-10-11 15:48] lvh commented on #16593
It doesn't look like this new ticket was ever filed. Perhaps instead of closing the issue, we should be filing the issue elsewhere and then closing the issue?

[2016-10-11 18:14] cj-dimaggio commented on #16878
Also generally breaks Ad-Hoc commands for a lot of setups, essentially forcing you to move all group-vars alongside inventory file as opposed to playbooks if you wish to use adhoc as you can no longer use your working directory to define them

[2016-10-11 18:47] robinro commented on #16910
For ansible2 the xenial version exists and 1.9 is fading out so maybe this can be closed as won't fix. @ansible

[2016-10-11 19:43] milosgajdos commented on #12871
Sam error here. This is how I installed ansible:

[code]

I'm getting exactly the same error as being reported here and rejected by Ansible devs:

[code]

[2016-10-11 19:55] jhit commented on #16593
I indeed did a follow up in ansible-modules-core:
https://github.com/ansible/ansible-modules-core/issues/4241
Closing is ok. This problem already is taken care of.
See:
https://github.com/ansible/ansible-modules-core/pull/4842

[2016-10-11 20:08] lvh commented on #16593
Awesome, thanks!

[2016-10-11 20:55] cfoutstd commented on #13485
This is broken in 2.1.1.0?

So if I had a some_role/tasks/main.yml

[code]

What should I do?

[2016-10-11 21:25] resmo commented on #13190
Define reverse. You will probably not get what you expect. IMHO it is to primitive to say destroying is the oposite of creating. Ansible handles idempotence. You defined a VM to exist and running `state=started`. The VM was probably just stopped so ansible started it. What is the reverse of this "state"?

The only way I would see is if Ansible would make a log of actions taken on each run. These l

[2016-10-11 22:14] gomker commented on #16858
Hello,

I am seeing a similar issue at the moment with Ansible Tower

Environment Info
- Ansible Tower v3.0.2
- Ansible v2.2.0.0

Running a previous version of Ansible v2.1.2.0 , the playbooks were functional with Windows Hosts . Currently on v2.2.0.0 the following error occurs

[code]

[2016-10-11 22:32] oupala commented on #14634
It would be great if ansible and its file module could understand symbolic mode as rsync does:

- rsync module does understand the following permissions:

[code]

`Dg` stands for **Directory group** while `Fg` stands for **File groupe**.

You can hence set different permissions for directories and files. In this case, directories are writable by group but files are not. This is useful if you want

[2016-10-11 23:15] xen0l commented on #17940
@snemir2 could you provide more details?

[2016-10-11 23:40] cfoutstd commented on #15117
I have this issue in 2.1.1.0

[2016-10-12 00:41] garthk commented on #10834
Verification: `stat /path/to/target` and look for the `Links:` number. If it's more than 1,

[code]

You can find the other directory entries pointing to the same inode with:

[code]

The easiest solution is probably `rm /path/to/target` and re-run the Ansible play that's trying to `copy` to it. If it keeps happening to you, try the [`lookup` workaround](https://github.com/ansible/ansible/issues/1

[2016-10-12 01:28] snemir2 commented on #17940
1.  ability to add dynamically provide log file. In ansible cf, need to be able to say
   log_path: /var/log/{{playbook_name}}_{{time_string}}.log
2.  Ability to log select errors to syslog, i.e. have a configuration option to throw fatal errors to syslog.

[2016-10-12 01:31] snemir2 commented on #17939
@ansibot: did that make sense?   While roles provides for ability to move tasks from main playbook to the role files, the BLOCS do not function the same way as they would within the playbook.

[2016-10-12 04:06] slapula commented on #13962
I don't know if this is tag related since I seem to be running into this issue with a pretty simple playbook that doesn't utilize tags.  I am also running CentOS 7.1 & Ansible 2.1.0.  When I go back to Ansible 2.0, the playbook executes my roles without issue.

[2016-10-12 06:33] Nayar commented on #16222
Just had this "misunderstanding" too. From a user perspective, i thought the loop should not run when instructed with `when`

[2016-10-12 09:06] mtb-xt commented on #16222
+1

[2016-10-12 09:18] 68b32 commented on #16790
For Debian 8 I got a working setup with latest ansible from git without this error. See the instructions in the Dockerfile to see what leads to this setup: https://github.com/68b32/debian-ansible-docker/blob/master/debian-ansible-master/Dockerfile

[2016-10-12 10:28] r3m0t commented on #16757
We're experiencing this with `2.0.1.0` and `2.0.2.0` but not with `2.0.0.2`

[2016-10-12 10:28] toadjaune commented on #6912
@jjaone : I just encountered a similar issue, but since I had to do it from _within_ a role, there was no way for me to use `set_facts` and `group_by`.

Here is how I worked around it :

[code]

Which will apply this task to every host the play applies to ... which is basically the same thing as if the task wasn't bypassing the host loop.
Be careful however, I guess this may cause issues with thin

[2016-10-12 13:04] akrzos opened #17979 "Path relativity has changed and broken use of path relative "ssh_configuration/ssh_args" -F option in ansible.cfg."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible.cfg - Path relativity has changed and broken use of path relative "ssh_configuration/ssh_args" -F option.
##### ANSIBLE VERSION

[code]

This worked fine on ansible 2.1.1.0
##### CONFIGURATION

[defaults]
gathering = smart
fact_caching_timeout = 86400
fact_caching = jsonfile
fact_caching_connection = /tmp/browbeat_fact_cache
timeout=30

[

[2016-10-12 14:22] serkansahin commented on #14408
@lvh Hi ! I'm also getting the issue with the "worker: Warm shutdown (MainProcess)", am using celery==3.1.24 and billiard==3.5.0.1 :/ what is your advise ?

[2016-10-12 14:28] lvh commented on #14408
@serkansahin The linked issue in celery/celery details the problem and a fix in celery.

[2016-10-12 15:09] serkansahin commented on #14408
@lvh I did it :) Now it's half working....I still have the same worker warm shutdown message..but does the job and if I recall the ansible playbookexecutor function it restarts the celery worker.... :/ Still trying to fix it, will give a feedback later..

[2016-10-12 15:21] serkansahin commented on #14408
@lvh I have exactly this issue : https://github.com/celery/billiard/issues/189 see ramonz comment

[2016-10-12 15:39] lvh commented on #14408
That looks like a very different error message to me. We don't have the same issue, so I have no advice for how to fix it.

[2016-10-12 15:52] renard opened #17982 "Optional dependency 'cryptography' raised an exception"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None specific
##### OS / ENVIRONMENT

MacOS
##### SUMMARY

The issue was generated because I do not have `paramiko` installed.

I use that diff to find out the exact problem:

[code]

The I got this message:

`[WARNING]: Optional dependency 'cryptography' raised an exception, falling back to 'Crypto' The
'paramiko' di

[2016-10-12 16:04] richard-hulm opened #17983 "Errors inside blocks don't seem to be included in the failure count"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Blocks / Always
##### ANSIBLE VERSION

(Doesn't happen on 2.1.1.0)

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Reproduced on Fedora 24 & Debian Jesse
##### SUMMARY

Errors inside blocks don't seem to be included in the failure count
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

The failure to be counted and the exit code t

[2016-10-12 16:12] abadger commented on #17982
Hmmm..... that's complicated... The short answer is yes.

The longer answer is that it appears to only be required because we have it in setup.py as an install_requires.  It is actually not required by the code unless you use the paramiko connection type.

I'll ask what the other committers want to do about it... There used to be many platforms where paramiko significantly outperformed shelling ou

[2016-10-12 16:12] abadger commented on #17982
!needs_info

[2016-10-12 16:22] renard commented on #17982
I didn't use pip to install ansible, but a git clone. Again I don't care about installing `paramiko` even if I do not need it. It was just the warning message that was confusing since `cryptography` was installed.

[2016-10-12 16:31] abadger commented on #17982
bcoca's suggestion: if we can confirm the 'paramiko is best' platforms ... which i believe are OS X due to sshpass and systems with very old openssh which does not do controlpersist (centos5) then make the install_requires include paramiko only when installed on those platforms.

[2016-10-12 16:35] bcoca commented on #17982
We'll also have to update paramiko to give 'nice errors' and suggest installing requirements if someone specifies it directly (not via 'smart' setting).

Which will probably happen when the 'target' machines have poor controlpersist support as we can only really detect issues with the 'controller' on which Ansible is installed.

[2016-10-12 16:43] renard commented on #17982
again the problem is not about installing `paramiko` or not.

The problem here is a warning suggesting `cryptography` is not (or not correctly) installed.

[2016-10-12 16:48] bcoca commented on #17982
@renard, sorry, we did hijack the thread, I for one am OK with changing this warning into a -vvvv or debug 'information', as long as the system will work and the user should not see any difference.

[2016-10-12 16:50] abadger commented on #17982
@renard The warning is just that, a warning.  We could display more information about the exception (perhaps move the traceback from ansible.debug to a verbosity level so that -vvv shows it?) if that helps.  For any library using setuptools' dependency management (unfortunately, cryptography and ansible both fall under that) there is the danger that localized problems in the overall dependency cha

[2016-10-12 16:53] sivel commented on #17982
I think part of the problem is that we are displaying a warning and a debug for the same thing. So you don't get full information immediately, or instruction on how to get more info:

[code]

Maybe we should change that `debug` to something else, such as `vvvv` so that it is printed with higher verbosity, and indicating in the warning that running with `-vvvv` will provide more information.

[2016-10-12 16:58] renard commented on #17982
ok do as you think it's the best solution. But please add a note somewhere that for user that used git clone to install ansible, the lack of `paramiko` can lead to this warning.
I am not confortable with "A warning is just a warning" since you expect your playbooks to to run properly.

If you change the warning to something like: "Optional dependency 'cryptography' raised an exception, falling bac

[2016-10-12 17:01] renard commented on #17982
@sivel here is a `-vvvv` run output:

[code]

and my configuration file:

[code]

That's why I was a bit confused at the beginning since no traceback was displayed.

[2016-10-12 17:06] abadger commented on #17982
Yeah -- it only displays if you use debugging currently (ANSIBLE_DEBUG=1 ansible [...])  We've been talking about whether to unify verbosity and debugging under one umbrella for a while.  That's a much bigger issue though.

The PR I've submitted above will display both the warning and the traceback with verbosity 4.  Otherwise it will be silent.  In this case, the APIs in cryptography vs Crypto ha

[2016-10-12 17:30] robert-john-small commented on #13637
+1

[2016-10-12 17:50] abadger commented on #17982
@renard PR merged.  You shouldn't see the warning with low verbosity levels.  With high verbosity levels you should see both the warning and the traceback that can lead you to a diagnosis.

[2016-10-12 18:03] jeliser commented on #8603
+1

[2016-10-12 18:18] diclophis commented on #15505
Here is another example of handler variable expansion errors...

[code]

The expected result is that the handler would be "recognized" ... but not executed due to the `when: false` ... in our real playbooks, the `when:` condition is a little more complicated of course.

[2016-10-12 18:30] david-resnick commented on #13796
I addressed the throttling errors I'm encountering in ec2_asg by wrapping all AWS calls with the new AWSRetry.backoff decorator.
https://github.com/ansible/ansible-modules-core/pull/5242

[2016-10-12 19:12] via commented on #13563
There are cases where you might want to have different paths for different roles, which was part of our use case for the path: setting in the requirements file.  Dropping support for this means we need multiple ansible-galaxy instances each with different -p options.  It shouldn't hurt anyone to have the option still work, why was this decision made?

[2016-10-12 19:23] pabelanger commented on #12728
Just ran into this issue. Also, have no way of setting ansible_connection=chroot

[2016-10-12 19:28] renard commented on #17982
@abadger thanks but I don't see the backtrace even if I run it with `-vvvv`:

[code]

[2016-10-12 21:35] digi691 commented on #16600
This is **NOT** completely fixed.  If you have a with_items statement attached to the include statement, --list-tasks will not list the tasks in the play correctly.  If using tags on your roles, the include statement also pops up when the tag is not specified, although they don't get played out.

This affect 2.1 and devel

tasklist.yml

[code]

roles/tasklist/tasks/main.yml

[code]

roles/tasklist

[2016-10-12 22:23] r3m0t commented on #16757
This broke it: https://github.com/ansible/ansible/commit/09b26b6373c38cb1b52866358e3a707d6ed3b7d0

This fixed it: https://github.com/ansible/ansible/commit/09fa05373bf0aafda61874c9ad5b0a668f3827b6

So, that means it was fixed in `v2.1.1.0-1`.

[2016-10-12 22:23] ghost opened #17990 "winrm SSL error on Ansible 2.2.0.0 with pywinrm<0.2.1"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

connections to Windows devices
##### ANSIBLE VERSION

2.2.0.0
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Windows Server 2012 R2
##### SUMMARY

When connecting to windows server 2012 (potentially others, unknown) devices with Ansible 2.1.2.0 and pywinrm 0.2.0, there are no issues.

When upgrading to Ansible 2.2.0.0 without upgradin

[2016-10-12 23:46] willthames commented on #13361
Another way to find clashing Ansible versions is with

[code]

You may find an unexpected version of ansible in there (you might have to look inside the site-packages directories)

[2016-10-13 00:10] emanation opened #17992 "Impossible to preserve integer type in variables with complex data structure"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

variables handling
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Amazon Linux, MacOS X
##### SUMMARY

Some modules and APIs require numbers to be integer or float type. Mandatory syntax with quoted variables in YAML has big practical problem. It's impossible to define integers with that.
##### STEPS TO REPRODUC

[2016-10-13 02:56] kurtismgit commented on #562
I expected no zero return code as well ;(

I need to create a script that calls a series of playbooks with different inventory files that are generated dynamically.  And I want to stop the series if any task fail along the way.  Any suggestions are welcomed.

[2016-10-13 03:09] agaffney commented on #17877
I ran into this in 2.2.0 RC1 using the 'copy' module. The following task:

[code]

with the source file at `roles/<role>/files/vimrc` results in:

[code]

[2016-10-13 03:19] agaffney commented on #17877
Debug output:

[code]

[2016-10-13 03:43] agaffney commented on #17877
I created a PR to fix this, but it may not be "correct".

https://github.com/ansible/ansible/pull/17995

[2016-10-13 06:22] netdevfighter commented on #11766
We have also the same problem with this change. Please, adding an option to ignore missing handlers. Thanks

[2016-10-13 08:14] okv opened #17998 "Ansible fails on moving file between devices with IOError 0"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Core
##### ANSIBLE VERSION

[code]

Problem is the same with ansible 2.1.2.0
##### CONFIGURATION

deploy/ansible.cfg:

[defaults]
timeout = 30
retry_files_enabled = False
allow_world_readable_tmpfiles = True
gather_subset = !hardware,!ohai,!facter

[ssh_connection]
pipelining = True
ssh_args = -o PreferredAuthentications=publickey
##### OS / ENVI

[2016-10-13 08:18] #17084 closed, assigned to nobody

[2016-10-13 08:34] luxifer commented on #13652
[code]

Does not work either with `2.1.2.0` version. Also `state=file` does not resolve anything.

[code]

[2016-10-13 11:58] jonaz commented on #14141
We have this issue aswell. Resulting in alot of ugly workarrounds... Would really like this solved!

[2016-10-13 12:24] ReSearchITEng commented on #17495
Due to number of people affected, looks like an issue which deserves a quick fix (as opposite to waiting for next release).
Automated systems fail and the only solution is to manually fix across the infrastructure - not what we expect from an ansible module.

[2016-10-13 12:37] stivio commented on #13744
currently doesn't work at stable-2.2 and devel, working with stable-2.1

[2016-10-13 12:47] kostasns opened #18000 "UNTIL does not work correctly with OR conditional"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

until loop
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default configuration after install
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

When using UNTIL with multiple conditionals separated by OR ( i.e. `until: "'error' not in taskResult.stdout or 'big_error' not in taskResult.stdout"`) ansible will treat it

[2016-10-13 14:22] luxifer commented on #13652
it happens when the content of the files (computed from template and destination) are equals

[2016-10-13 14:30] khrisrichardson commented on #13652
Here's a horrible hack I used once upon a time. Not vetting it's legitimacy as a workaround, but it bypassed the issue. This patch was applicable in the 2.0 timeframe, so line numbers might be off.

[code]

[code]

[2016-10-13 16:10] ghost commented on #12344
`with_items: mysql.databases|default([])`

This info really should be in the loops docs, just happened across this by chance and its helped me no end.

[2016-10-13 16:28] bcoca commented on #12344
it is in the conditional docs, which are listed first.
http://docs.ansible.com/ansible/playbooks_conditionals.html#loops-and-conditionals

[2016-10-13 17:14] aoyawale opened #18006 "Issue using {{ansible_fqdn}} in openstack VM"
##### ISSUE TYPE

-Bug Report
- Bug Report
##### COMPONENT NAME

{{ansible_fqdn}}
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

using certain ansible variables. Using this playbook https://github.com/jdauphant/ansible-role-ssl-certs
##### OS / ENVIRONMENT

##### SUMMARY

I'm trying to use the "{{ansible_fqdn}}" to name certain files with the hostname in a VM in openstack. Openstack has privat

[2016-10-13 17:19] kosch commented on #15153
I've the same issue as I tried today windows integration with 1.9.6. With 1.9.4 it works fine. ubuntu 16.04
`
fatal: [selenium-win7-ci-n1] => Traceback (most recent call last):
  File "/usr/local/lib/python2.6/dist-packages/ansible/runner/__init__.py", line 589, in _executor
    exec_rc = self._executor_internal(host, new_stdin)
  File "/usr/local/lib/python2.6/dist-packages/ansible/runner/__init_

[2016-10-13 17:29] jimi-c commented on #17747
Ok, per the above I'll close this now as it's merged into 2.2 (and devel).

Thanks!

[2016-10-13 17:29] #17747 closed, assigned to jimi-c, abadger, nitzmahone

[2016-10-13 18:05] woody77 opened #18009 "Set "localhost" inventory vars via ansible.cfg"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

hostvars
connection: local
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

OSX + Anaconda Python (or Homebrew)
Ubuntu 16
RHEL 7
##### SUMMARY

To deal with multiple python environments, on my ansible host, I have the following inventory:

[code]

I'm using an ansible directory structure based on the standard (http://docs.ansible.com/ansib

[2016-10-13 18:12] srikantbmandal opened #18010 ".."
##### ISSUE TYPE

- Bug Report
- Feature Idea
- Documentation Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-10-13 18:20] Provscbunn commented on #12053
delegate_to: localhost, delegate_to: 127.0.0.1, and local_action all produce the same results for me -- it tries to make a WinRM connection to the localhost

[code]

[2016-10-13 18:27] Provscbunn commented on #17952
This is happening for me with winrm.  delegate_to, local_action both result in trying to make a winrm connection to the localhost.  Why would either of these actions try and make a connection anywhere?

[2016-10-13 19:30] bcoca commented on #11766
did in  #17902

[2016-10-13 20:09] bcoca commented on #17960
correcting the paths in #17995, once that is done i'll properly document them (template/files/vars have common function to find the path)

[2016-10-13 20:10] detiber commented on #17966
@bcoca was this closed in error?

[2016-10-13 20:31] trondhindenes commented on #17966
@detiber I opened it in modules-core instead.

[2016-10-13 20:55] 2rs2ts commented on #17952
@enchantner you might be running into the same issue we had where the working directory of the `command` task wasn't the same anymore due to this bug fix: https://github.com/ansible/ansible/commit/9255a618e307b4e087cb0f3f6f4f225f7652c298

You might want to see if that's the problem by using `chdir` if you're referring to a command via a relative path.

[2016-10-13 21:05] detiber commented on #17966
@trondhindenes indeed, I posted that prior to realizing that include_role is actually implemented in ansible-modules-core. Apologies for the noise.

[2016-10-13 21:12] bcoca commented on #17966
actually its not a module but coded inside the core interpreter, sadly the bot does not realize this and takes the documentation stub in core as a sign that it is a module. bot_skip

the repo unification will make all this go away.

[2016-10-13 21:13] ghost commented on #15153
We're still seeing this as well. I experimented with this a bit the other day. I tried with a flat inventory with no child groups. WinRM is set to password authentication over SSL. We're not using virtualenv at all. I've tried pretty much every version of pywinrm on pypi for both ansible 1.9.5 and 1.9.6, nothing seems to be working.

I've gone so far as: installing new ubuntu 14.04.4 vm, python 2.

[2016-10-13 21:13] ewolinetz commented on #14270
+1

[2016-10-13 21:16] trondhindenes commented on #17966
closed the issue I opened in modules-core, tracking here instead

[2016-10-13 21:22] nitzmahone commented on #15153
@seanpowell-motiga  @kosch Any reason you're still on such an old version of Ansible? At this point, even if we could repro the issue locally, it's extremely unlikely that we'll be patching Ansible 1.9 for anything other than egregious security issues. You're basically three major releases back (with 2.2 currently at release candidate). There's a lot of performance and module goodies on the Window

[2016-10-13 21:28] bcoca commented on #18000
Your conditions don't seem to match, I think you want an AND in until otherwise the OR in fail seems to contradict what you expect.

[2016-10-13 21:31] ghost commented on #15153
I've resorted patching winrm.py in ansible directly. This is not ideal, obviously, but it stops me from being blocked by this issue. May be helpful to others.

Attached is my patch file.

[ansible-winrm-patch.txt](https://github.com/ansible/ansible/files/528240/ansible-winrm-patch.txt)

[2016-10-13 21:32] bcoca commented on #18000
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Your original script outputs 'error' which will match the 'or' side of your `until`:
`until: "'error' not in taskResult.stdout or 'big_error' not in taskResult

[2016-10-13 21:32] #18000 closed, assigned to nobody

[2016-10-13 21:35] ghost commented on #15153
We're in the process of upgrading to 2.2, but that is rather involved for our setup. Ansible 2.x is not as backwards compatible as it seems to be made out to be. We need at least 1.9.5 because of our requirements with newer versions of Docker.

[2016-10-13 21:37] bcoca commented on #15153
There is a migration guide from 1.9 to 2.0 but 2.2 is removing things we deprecated in 2.0, the more you wait the harder the upgrade.

[2016-10-13 21:41] bcoca commented on #14141
with a simple example, i cannot reproduce this:

[code]

inventory has both localhost and localhost2, when i run normally allhosts show the var, when i run with limit I also get var:
`ansible-playbook play.yml --limit localhost`
results in:

[code]

it does not matter if the var is set in the inventory file or as a host_var/

[2016-10-13 21:48] bcoca commented on #17998
your change makes little sense since 0 means 'Success', since they are different partitions we should get 18 which is `errno.EXDEV`

[2016-10-13 22:01] ghost commented on #15153
Oh, I'm not waiting. I just can't roll 2.2 out today, but I need the new docker stuff today. It's all a matter of staffing/time to do the upgrade. I need more of both :)

I have another fix:

file: ansible/runner/connection_plugins/winrm.py
from:
Line 81: host_vars = self.runner.inventory._hosts_cache[self.delegate].get_variables()

to:
Line 81: host_vars = self.runner.inventory._hosts_cache[self.

[2016-10-13 22:09] Quimstr commented on #17958
That's because whole class is missing.
fatal errors are redirected to stderr with class CallbackModule.
connection errors are handled by class ConnectionError.
which is mentioned only once and has 2 lines ( one of wich is 'pass' ).
I'd gladly help you if I knew how ansible coders want this class writen.

[2016-10-13 22:11] edrozenberg opened #18018 "Hosts file - myhost[1:1] interpreted as host11"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

hosts file
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Using something like myhost[1:1] winds up getting picked up as myhost11 when connecting to the host.

[code]

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-10-13 22:18] amenonsen commented on #18018
That's documented behaviour, not a bug. What were you expecting it to do?

[2016-10-13 22:24] inconshreveable commented on #14141
@bcoca

Thanks so much for looking into this! I've actually been able to track this down a minimal test case. The bug manifests itself _when the inventory file is in a subdirectory_:

[code]

[code]

[code]

[code]

[code]

If you move the inventory file into the current working directory it works as expected:

[code]

[2016-10-13 22:47] edrozenberg commented on #18018
I'm pretty sure earlier Ansible would interpret myhost[1:1] as myhost1.
myhost11 does not make any sense. Thanks, Ed

[2016-10-13 23:29] diclophis commented on #17528
Here is another screenshot of the type of horrible performance we are seeing with the current version of ansible 2.x

<img width="1264" alt="absurd-cpu-usage-for-tasks" src="https://cloud.githubusercontent.com/assets/10122/19370660/eef9fd16-9161-11e6-9210-546edd213575.png">

we are ansible'ing ~16 hosts, and the current tasks present in the screenshot are, adding a user to a group, and ensuring a

[2016-10-14 00:04] bcoca commented on #14141
Well, that is not a bug, host/group_vars MUST be adjacent to inventory file, not in a directory above.

This might have worked temporarily if host/group-vars were in your 'current working directory' AND you executed from that directory, but that was a bug we fixed a while back. Since the issue has to do with the directories not being where they were expected, I'm going to close this ticket.

[2016-10-14 00:04] #14141 closed, assigned to nobody

[2016-10-14 00:08] bcoca commented on #17958
As discussed in the linked PR, this is not a mistake, ansible-playbook did not get an error, it is reporting the status of tasks on hosts (all to stdout).

If ansible-playbook itself suffers an error it will output to stderr, but it will not do so for reporting the steps of a playbook. This is the expected default behavior, the callback plugin system allows you to modify this behavior if you are s

[2016-10-14 00:08] #17958 closed, assigned to nobody

[2016-10-14 00:17] inconshreveable commented on #14141
Very helpful thank you!

[2016-10-14 04:38] amenonsen commented on #18018
You're writing `myhost[1:1]` in your description, but your actual hosts file says `evo1[1:1]`. Notice the 1 outside the square brackets. So the result is `'evo1'+1`.

[2016-10-14 05:00] kosch commented on #15153
@nitzmahone I tried to migrate to 2.0 one year ago, but cancelled this process due lots of bugs in 2.0 and many incompatbilities especially at include-behaviour. Few days ago I tried 2.1, it looked better but there are still some issues which makes the migration a more time consuming process than expected.
One major thing is also the change of task name rendering in 2.x. In 1.x I can see what happ

[2016-10-14 06:33] nitzmahone commented on #15153
You mean like this one? ;)
http://docs.ansible.com/ansible/intro_configuration.html#display-args-to-stdout

On Oct 13, 2016 10:01 PM, "Thomas Fromm" notifications@github.com wrote:

[2016-10-14 06:52] kosch commented on #15153
@nitzmahone Ah, good. This could solve at least the output issue. :-)

@seanpowell-motiga The change in line 81 works well. Thanks for the workaround!

[2016-10-14 07:32] amenonsen opened #18021 "any_errors_fatal doesn't work any more"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

core
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Setting `any_errors_fatal` on a play or task doesn't work; setting `max_fail_percentage: 0` does.

I notice that `plugins/strategy/linear.py` has code to deal with any_errors_fatal, but it doesn't look at `_play.any_errors_fatal` at all, only at

[2016-10-14 08:42] pearj opened #18022 "Alternative Directory Layout incorrect"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

http://docs.ansible.com/ansible/playbooks_best_practices.html#alternative-directory-layout
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

The http://docs.ansible.com/ansible/playbooks_best_practices.html#alternative-directory-layout says that inventory host files should be named `hosts.ini`

[2016-10-14 08:43] kamsz opened #18023 "Strategy free exits with code 1"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

free strategy
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

When using strategy: free all playbooks exit with code 1. After changing the strategy to default, a proper exit code (0) is returned.
##### STEPS TO REPRODUCE

[code]

root@mbn:~/ansible# echo $?
1

[code]

root@mbn:~/ansibl

[2016-10-14 08:59] kostasns commented on #18000
@bcoca Thanks for coming back to me.
Let me try and clarify the situation.

I want to repeat the `shell` script until `error` OR `big_error` are NOT in the stdout. My assumption is that putting AND there will make ansible to search for both conditions to be met. However, I don't want that - since I want to repeat until either of the conditions is met, and not necesserily both of them.

Now, the sc

[2016-10-14 09:09] ligurio opened #18024 "Simple example from Ansible documentation fails with 'ImportError: No module named runner'"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible core
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

- Ubuntu 16.04 LTS
- Python 2.7.11+

[code]
##### SUMMARY

##### STEPS TO REPRODUCE
1. copy text of detailed API example from documentation from http://docs.ansible.com/ansible/developing_api.html and insert to the text file on your environment

[code]
1. try

[2016-10-14 10:26] stepanstipl opened #18026 "include_role - missing tasks when nested"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When nesting include_role - ie. using include_role inside included role (or role included from main play by `roles`), **tasks following include_role step in the intermediate role will be missing** in the execution.

Let's take following

[2016-10-14 10:44] dh-harald opened #18027 "error handling in loops"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubunty 16.04, created irtual environment with pip install ansible
##### SUMMARY

Error handling/displaying not working in loops properly
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

I've dig a little bit into this issue, and I've found, that i

[2016-10-14 10:53] richard-scott commented on #6820
I'm still having issues with v2.0.0.2-2 on Ubuntu 16.04. The 'ansible-vault' command works perfectly, but ansible-playbook always produce this error:

[code]

I've tried it with both  --ask-vault-pass AND --vault-password-file and both fail to work for me ;-(

[2016-10-14 11:06] okv commented on #17998
yes, there should be non-zero code but on this particular host error with errno 0 occurs.
That could be easily reproduced (on that host)  in python interpreter:

[code]

Changes that I made fixes problem on that host because with them fallback for os.rename will be used.

[2016-10-14 11:50] luxifer commented on #13652
I have a lot of servers and it does not happen on every of them. Also I don't have docker installed on these servers.
And the destination file is not necessarily a symlink

[2016-10-14 11:53] amenonsen commented on #18026
(Reopening because include_role is a core feature.)

[2016-10-14 12:05] dh-harald commented on #18027
duplicates for https://github.com/ansible/ansible-modules-core/pull/4617

[2016-10-14 12:05] #18027 closed, assigned to nobody

[2016-10-14 12:05] h0nIg commented on #17907
ping @bcoca since you changed this with 3c39bb5633d0cbfa9cf22f9a4038296caef9c622

[2016-10-14 12:07] h0nIg commented on #17907
may be related:
https://github.com/ansible/ansible/issues/17269
https://github.com/ansible/ansible/issues/17136

[2016-10-14 12:44] jarovo commented on #15690
This is caused by a problem with rhui2-cds01.us-east-1.aws.ce.redhat.com. It is trying to get the list of the load-ballancer by contacting  https://rhui2-cds01.us-east-1.aws.ce.redhat.com/pulp/mirror/?members
Which results in HTTP 500. The other load-ballancer though works fine:

[code]

This all causes the `rh-amazon-rhui-client` to write to stdout which it probably shouldn't. I am now trying to

[2016-10-14 13:23] bcoca commented on #17907
closing as dupe of #17136

[2016-10-14 13:23] #17907 closed, assigned to nobody

[2016-10-14 13:23] bcoca commented on #17269
closing as dupe of #17136

[2016-10-14 13:23] #17269 closed, assigned to nobody

[2016-10-14 13:46] jctanner commented on #18024
@ligurio "runner" is a pre-2.0 api, which has been deprecated. For a 2.0 api example, please use this page: http://docs.ansible.com/ansible/dev_guide/developing_api.html#python-api-2-0

[2016-10-14 13:46] #18024 closed, assigned to nobody

[2016-10-14 13:52] bcoca commented on #18022
actually both things are true and not contradictory, but it is confusing.

The '.ini' CAN get ignored when you use the directory as an inventory source as they are assumed to be configuration files for dynamic inventory scripts. If you point at hosts.ini directly, it is NOT ignored and a perfectly valid inventory file.

[2016-10-14 14:01] jctanner commented on #18023
I was able to reproduce with devel -and- 2.2rc1

[code]

[2016-10-14 14:15] jctanner commented on #18010
@srikantbmandal If you have a bug to report, please open a new issue with a complete description and summary.

[2016-10-14 14:15] #18010 closed, assigned to nobody

[2016-10-14 14:16] bcoca commented on #18026
bot_skip

[2016-10-14 14:18] stepanstipl commented on #18026
@bcoca :) thanks, looks like ansibot was very persistent, if I can help in any way with debugging this let me know, cheers

[2016-10-14 14:19] bcoca commented on #17998
I cannot reproduce this locally, anything special about this host?

[2016-10-14 14:20] bcoca commented on #18026
i have similar test and 'it works', I'm not sure how this is happening

[2016-10-14 14:24] #18023 closed, assigned to jimi-c

[2016-10-14 14:24] jimi-c commented on #18023
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-10-14 14:24] bearrito commented on #17949
Was this moved? I'm not able to locate and am suffering the same issue.

I can appreciate that issues need to be tracked in the correct location, but I do wonder if it turns users off from reporting issues.

[2016-10-14 14:26] bcoca commented on #16600
So tasks in some includes will never show as they are 'dynamic' and evaluated only on playbook run.

This is a known trade-off from implementing this feature.

[2016-10-14 14:26] jctanner commented on #18006
@chagara Is the public IP address listed in the "ip addr show" output? I don't think most cloud instances expose the public IP to the instance. I think you probably need to look at using the API to get the data you want, which is probably available via the open stack facts module: http://docs.ansible.com/ansible/os_server_facts_module.html

Please take a look into that and if you need further guid

[2016-10-14 14:26] #18006 closed, assigned to nobody

[2016-10-14 14:28] richard-scott commented on #6820
I've found my issue, Ansible Vault is not usable when you require output to be unbuffered.

For example:

[code]

I do this so my logs have colour in them :-)

Obviously in the playbook I have an 'include_vars: vault.yml' type line to include my vault data.

If I remove the unbuffer command things run smoothly and vault data is usable.

[2016-10-14 14:34] stepanstipl commented on #18026
oh that's interesting, I've uploaded the files here (just need to put in appropriate folders) https://gist.github.com/stepanstipl/f285d68bcb5c25cd815e56e6b389bd22 and going to test on another machine to see how it behaves

[2016-10-14 14:40] stepanstipl commented on #18026
ok tested on my colleague's machine (Ubuntu as opposed to my macOS) with ansible

[code]

and the issue is still there - task is missing.

[2016-10-14 14:43] digi691 commented on #16600
@bcoca Understood on the trade off of not listing the tasks due to dynamic nature.  Other behavior I've noticed when using tags on a roles in the playbook, is that the include still pops up in the output of ansible -playbook when the tag of that role was not specified.

Example:

Role A has an include statement along with_items directive, with a tag of role_a
Role B has a tag of role_b

If I run a

[2016-10-14 14:45] bcoca commented on #18026
play:

[code]

a1 main

[code]

results:

[code]

[2016-10-14 14:46] bcoca commented on #18026
I'll try adding to my example until i can reproduce the issue

[2016-10-14 14:47] dagwieers opened #18029 "SUDO passwords with non-ascii characters break Ansible"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

exec_command (local)
##### ANSIBLE VERSION

[code]
##### SUMMARY

We noticed that using a SUDO password with a non-ascii character causes Ansible to throw an exception when feeding the password to sudo. In my case the password include the ° character (0xb0), like the error output indicates:

[code]
##### STEPS TO REPRODUCE

I intend to write a m

[2016-10-14 14:49] bcoca commented on #18026
ok, adding the debug after the include does reproduce the issue.

[2016-10-14 14:53] stepanstipl commented on #18026
Yep, to me it seems like all the steps after the `include_role` one are discarded.

[2016-10-14 14:55] dagwieers commented on #18029
This seems to be a duplicate of #16557

[2016-10-14 15:04] seankibler commented on #16200
I know its not "the recommended installation method" but I run ansible from homebrew and resolved this error with a `brew upgrade ansible` which I believe upgraded from `2.1.1.0` to `2.1.2.0`.

[2016-10-14 15:21] bcoca commented on #16600
that is also by the nature of includes, they cannot be avoided as the tasks inside MIGHT be tagged differently than the include itself.

[2016-10-14 15:33] bcoca commented on #18000
The `until` reverses the question, you want to run until neither 'error' nor 'big_error' are in stdout, by using an OR you will run until either 'error' or 'big_error' is missing in stdout, which means that if ONLY 'error' or ONLY 'big_error' appears, you will meet that condition, that is why you need the 'AND'.

It is a bit confusing, try taking it step by step with the data and the conditional.

[2016-10-14 15:41] jctanner commented on #17992
@emanation Ansible's underlying template engine is jinja. Jinja's origin as a web templating engine has the characteristic of always returning strings. Prior to 2.x, we always templated values to strings, so the fact that 2.x gives you integers sometimes is an improvement. For example, here's what your testcase outputs in 1.9.6 ...

[code]

In 2.x we wrote an "interceptor" of sorts that circumvent

[2016-10-14 15:41] #17992 closed, assigned to nobody

[2016-10-14 16:01] bcoca commented on #15505
@diclophis handler names CANNOT depend on inventory host, they can be templated from other var sources that are available at play compile time.

The issue is that you end up with a handler literally named `restart service for {{ inventory_hostame }}` but you try to call a handler named `restart service for localhost` as the `notify` clause is templated at runtime.

[2016-10-14 17:43] diclophis commented on #15505
@bcoca I think this used to work in ansible 1.8 though... is it just a deprecated / lost feature in the ansible 2.x branch?

[2016-10-14 18:04] gvilarino commented on #17495
Is there going to be a patch release for `2.1` with the fix soon? Seriously, this is a breaking bug, we shouldn't be waiting for a minor release =/

[2016-10-14 18:10] goreilly commented on #17904
Have you tried `become_method: su`? I also had this problem with sudo on RHEL6.

[2016-10-14 18:10] parasyte commented on #13652
From what I've seen, this is a problem with hard links, not necessarily Docker. In our case, the destination file had hard links pointing to it. The solution was to stop the process that was creating hard links.

FWIW, you can use `find . -samefile /path/to/file` to list all hard links to your destination file.

[2016-10-14 18:18] kostasns commented on #18000
Of course! Thank you for explaining that. Appreciate it.

[2016-10-14 18:57] okv commented on #17998
I also can't reproduce that on another host. That host has long configuration history. Any ideas about what to investigate within environment? Or maybe ideas about what can be cause of such error?

[2016-10-14 19:29] #18026 closed, assigned to jimi-c, bcoca

[2016-10-14 19:54] lukasged commented on #17495
Finally I had to force the installation of `docker-py==1.9.0` in our Continous Integration pipelines for the automated deployment to work. I hope that there's a fix for `2.1` soon or a quicker release of `2.2`

[2016-10-14 20:06] jagibson commented on #13563
@bcoca can you explain what you mean by, "I don't think any admin wants the requirements file setting the 'local' path to install for users."

We almost exclusively run ansible-galaxy from the top-level of the individual playbook directory as I'm sure is common (via a Jenkins job).  Since you are specifying the path in requirements.yml anyway, I don't see the danger except perhaps for dependent ro

[2016-10-14 20:13] bcoca commented on #17998
what are the filesystems on that host? is it virtual? if so what system/version?

anything you can think of since this should really not be happening.

[2016-10-14 20:14] jimi-c commented on #18026
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-10-14 20:23] jimi-c commented on #18021
Bisected to c669a381d117ccd96d4d59ab9191a107d08dfdb4 (which fixed #16937)

[2016-10-14 20:32] pearj commented on #18022
Ahh right, so is the alternate directory layout using hosts.ini on purpose so that you aren't using dynamic inventory scripts?

[2016-10-14 20:40] dccampbell commented on #13563
IMHO, package/dependency management has been solved well already by a number of tools, and there's no good reason not to just imitate them. My team was a bit baffled when Galaxy wasn't as straight-forward and simple to use as tools like Composer.

https://getcomposer.org/doc/00-intro.md#dependency-management
http://bundler.io/rationale.html
https://code.facebook.com/posts/1840075619545360/yarn-a-n

[2016-10-14 20:50] bcoca commented on #18022
more or less, it is trying to show its still using that file as inventory, not the directory

[2016-10-14 21:02] #18022 closed, assigned to nobody

[2016-10-14 21:55] gfarrell commented on #17495
This is what patch versions are for, the fix should have been included in an updated release much faster! I've patched docker_common.py as per the above comment and it worked (although it's not straightforward to find in a homebrew installation).

On Fri, Oct 14, 2016 at 8:55 PM +0100, "lukasged" notifications@github.com wrote:

Finally I had to force the installation of docker-py==1.9.0 in our Co

[2016-10-14 22:08] jvoorhis opened #18036 "Role does not run when a directory of the same name exists on the playbooks path."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
roles

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No change
##### OS / ENVIRONMENT

N/A
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

Role `elasticsearch` is included and executed.
##### ACTUAL RESULTS

Ansible runs task `setup` immediately followed by play recap. It is possible to work around this behavi

[2016-10-14 22:28] Modusmundi commented on #16878
This breaks your best-practices documentation as well, which is incredibly frustrating for a new user to Ansible:

https://docs.ansible.com/ansible/playbooks_best_practices.html#directory-layout

[2016-10-14 23:36] abadger opened #18039 "enable intersphinx"
If we're going to make the dev guide and main docs (and maybe a reference guide) be separate documents then we need to enable intersphinx so that we can make cross references between them without hardcoding urls : http://www.sphinx-doc.org/en/stable/ext/intersphinx.html

If we have to enable intersphinx anyway, it would be nice to enable intersphinx to the python documentation as well and perhaps

[2016-10-14 23:43] abadger opened #18040 "Skeleton autodoc for module_utils"
As discussed at the contributor summit, we need to have some skeleton rst autodoc files setup to extract documentation from module_utils code.  We need some basic organization and the autodoc stubs to pull the info out.  Once those are written, Toshio can get together with support and services to start documenting the functions that customers are requesting and that customers should be using but d

[2016-10-15 00:40] abadger opened #18041 "We need docs that tell people how to test python3 support"
Something roughly like the following:

[code]

I don't know where in the docs to put this entry but we need something to point people at prior to 2.2 going out.

[2016-10-15 03:11] Kevinleaf commented on #2097
+1

[2016-10-15 13:13] dieswaytoofast commented on #14248
Just hit this one myself, so, definitely +1

[2016-10-15 13:27] emielmolenaar commented on #10902
Running latest version from git here, getting

`The header parameter requires a key:value,key:value syntax to be properly parsed.`

While using the following get_url parameters:

[code]

What is going wrong here?

[2016-10-15 15:02] abadger commented on #18041
Also need a bit of text that tells people to report a bug or open a PR on https://github.com/ansible/ansible/ when they encounter an issue.

[2016-10-15 15:05] boonchu commented on #13401
This works for me if you want to automate it.
$ sed -i ‘/[ssh_connection/ s/$/ \nscp_if_ssh = True/' ansible.cfg

[2016-10-15 15:10] #15693 closed, assigned to nobody

[2016-10-15 17:56] abadger commented on #16557
@halfer, this appears to be fixed in devel and stable-2.2 branches:

[code]

@brunitto That appears to be a different problem.  If is still occurring, please file a new ticket so we can track and fix it.  We'll need the traceback to figure out where the error is occurring.  Use the -vvv switch to run ansible in verbose mode to get that.  Thanks!

[2016-10-15 18:00] edrozenberg commented on #18018
@amenonsen Thanks for catching that! Closing this issue, not a bug.

[2016-10-15 18:00] #18018 closed, assigned to nobody

[2016-10-15 18:01] kustodian opened #18043 "Ansible connects via SSH to localhost if it's defined in the inventory"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]

The issue also persists in `devel` and `stable-2.1`
##### CONFIGURATION

Not important
##### OS / ENVIRONMENT

Not important
##### SUMMARY

If `localhost` is defined in the inventory, Ansible will connect to it using SSH, instead of the local connection.
##### STEPS TO REPRODUCE

Add localhost to the inventory.

[code]

Create test.yml:

[2016-10-15 18:02] kustodian commented on #18043
I would also like to point out, is that the only reason why we even have localhost in the inventory is because of issue #17012 which was introduced with 2.1.

[2016-10-15 18:07] abadger commented on #18029
Different connection plugin so it's a different bug.  I have a potential fix for devel: https://github.com/ansible/ansible/pull/18044  Once it passes tests I'll see how far back I can easily backport it (definitely 2.2, not yet sure about 2.1)

[2016-10-15 18:10] bcoca commented on #18043
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Any host defined in the inventory that does not have connection settings specified will use the default ones. If you have not set a different default in ansibl

[2016-10-15 18:10] #18043 closed, assigned to nobody

[2016-10-15 18:26] #18029 closed, assigned to abadger

[2016-10-15 18:34] abadger commented on #18029
Fix to the local connection plugin merged to stable-2.1, stable-2.2, and devel (should be in 2.1.3 and 2.2.0)

[2016-10-15 20:19] abadger commented on #16557
After fixing the local connection for the same error, I dug around in this a little more and found that the code looks like it should still fail in devel and stable-2.2 but I was unable to reproduce on my laptop.  I switched to an ubuntu14 virtual machine and the error still occurred on devel.  Seeing if  the same fix as I implemented for local connection will work for paramiko.

[2016-10-15 21:30] Sirtea opened #18046 "Unexpected host variables when using groups"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible core
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

debian 8.6 (ansible from backports)
##### SUMMARY

When using groups, host variables are not those on the host inside the group, but any arbitrary other declaration of the same host
##### STEPS TO REPRODUCE

Having an inventory as follows

[code]

and a

[2016-10-15 23:25] #16557 closed, assigned to abadger

[2016-10-15 23:33] abadger commented on #16557
Fix turned out to be a little bigger as there were also some python3 bugs lurking in there.  #18045 should fix sudo and su on local and paramiko (ssh already worked) for py2 and py3.  Complete fix is in devel and stable-2.2.  The nonascii become on paramiko portion extracted and cherry-picked to stable-2.1 as well.  If all goes well, the releases with the fix in it should end up being Ansible-2.1.

[2016-10-15 23:54] #17932 closed, assigned to nobody

[2016-10-16 07:17] davidmoshal commented on #14426
same problem, adding `become_user: <username>`
removed the error

[2016-10-16 09:33] zx1986 commented on #17495
I got the same error too :-(

[code]

and the `docker-compose` task will force to install latest docker-py ...

[2016-10-16 09:53] pipoe2h opened #18047 "Role variables with underscore fails"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Vars in a role
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511
##### SUMMARY

The playbook fails when you use underscore in your tree root variable in the vars/main.yml file.
##### STEPS TO REPRODUCE

The use of underscore in the root variable of a tree doesn't work. After remove the under

[2016-10-16 10:21] pipoe2h commented on #18047
Hello,

I found the reason. Since I was using the same root variable name on different files (defaults/main.yml, defaults/credentials.yml and vars/main.yml), the precedence was overwritten the values.

Apologies.

Jose

[2016-10-16 10:21] #18047 closed, assigned to nobody

[2016-10-16 13:14] halfer commented on #16557
Lovely, thanks for your efforts @abadger. I seem to recall I discovered a workaround at the time of making the above report, but it's great to see it is being resolved.

[2016-10-16 13:59] mscherer opened #18051 "Make test hg run on python 3"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

test

##### ANSIBLE VERSION

all version

##### SUMMARY

test_hg fail on the container for python 3 with this error:

[code]

I suspect that we tried to avoid adding python 2 in the container for fear of breaking the tests, but then, since hg is python 2 for the time being, , we can't test it.

[2016-10-16 14:29] GoodHaHa commented on #16953
Hill,kustodian
      I have the same problem. At present, Which version to solve this problem?

[2016-10-16 16:09] hackermd commented on #3544
I ran into similar problems with `cython` when trying to install it via _Ansible_.

Both approaches didn't install `cython`:

[code]

[code]

as evidenced by executing `python -c 'import cython'` on the remote machine.

However, _Ansible_ playbooks report a successful installation:

[code]

also, when rerunning the playbook, the package is reported to be successfully installed:

[code]

When ssh-i

[2016-10-16 16:42] GoodHaHa opened #18058 "Why inventory file vars has higher precedence than playbook group_vars/all?"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

N/A
##### ANSIBLE VERSION

[code]

and

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu
##### SUMMARY

inventory group_vars/<group> ---- "group" has highest precedence than inventory vars  and other group
##### STEPS TO REPRODUCE

Here is a simple repro. Create a file structure like this:

[code]

[code]

[code]

[code]

Run playbook_

[2016-10-16 17:00] cornfeedhobo commented on #14248
This really is a PITA.
If I could suggest a solution, it would be to add an option, similar to `include_vars`, but in `meta/main.yml`, to specify load-order.

[code]

This would allow the option to default to `["main.yml"]` and not break existing code, while giving developers the ability to define granular variables based on contexts of their choosing.

[2016-10-16 20:30] okv commented on #17998
host is temporarily unavailable, I'll check it later

[2016-10-16 22:54] cue232s commented on #15321
@roolo I also set 'ansible_password' and it began to work for me. What's it for? You can set it to literally anything you want and it will work now.

[2016-10-17 00:04] Sodki opened #18066 "Failed to delegate a task to a Windows server on a local playbook"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

I've had issues with both `win_ping` and `setup` when running the playbook.
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible.cfg:

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04.1
##### SUMMARY

When running a local playbook that delegates a task to a Windows server, the connection will fail.
##### STEPS TO REPRODUCE
- Get a Windows server

[2016-10-17 00:36] Sodki commented on #18066
I've also tried this on the latest `devel` version of Ansible, with the same results:

[code]

[2016-10-17 00:39] Sodki commented on #18066
The backstory of this issue is that I want to be able to create a Windows server in EC2, with a newly created EC2 keypair, and then login and change the password to a well known value. So all the tasks in that playbook would be performed by localhost except one.

[2016-10-17 02:49] lawliet89 commented on #17495
I believe `v2.2.0.0-0.1.rc1` fixes this.

As a workaround, you can install RC1: `pip install git+https://github.com/ansible/ansible.git@v2.2.0.0-0.1.rc1`

[2016-10-17 08:20] candlerb opened #18067 "Documentation of relative directories in roles_path"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

roles_path
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Behaviour of roles_path with relative paths is not clear in [documentation](http://docs.ansible.com/ansible/intro_configuration.html#roles-path)
##### STEPS TO REPRODUCE

Use case: a 'shared' roles directory alongside one or more

[2016-10-17 11:34] stepanstipl commented on #18026
@jimi-c @bcoca The commit seems to fix missing tasks after the include role, but there's now another issue - when same role is included more than once, all the subsequent includes are ignored.

Given play:

[code]

and roles

test-intermediate:

[code]

test:

[code]

The output is:

[code]

Expected output:

[code]

So the second include of `test` role is missing in execution.

[code]

[2016-10-17 11:47] alanroche commented on #17349
Observing the same problem also:
SSH via an AWS bastion fails spuriously.
I have never observed a problem SSHing from the command line.

Sometimes I simply get "host unreachable",  - other times I get this:
"Connection timed out during banner exchange"

[2016-10-17 11:52] AlexAkulov commented on #18067
I have this problem begin from version ansible-2.1.1.0, in 2.1.0.0 all work correctly.
Please fix this bug, this very important feature for me!

ansible.cfg

[code]

run on version 2.1.1.0

[code]

[2016-10-17 12:16] willthames commented on #14635
I've added an [ansible-lint](https://github.com/willthames/ansible-lint) check for this - it's in 3.4.0rc2 which is available through pip.

3.4.0 proper should be released once I've had a bit more testing.

To clarify, I understand @bcoca's reasons, but for 90+% of cases, when you have `become_user`, you want `become` (and this just enforces making that explicit)

[2016-10-17 12:16] willthames commented on #14536
I've added an [ansible-lint](https://github.com/willthames/ansible-lint) check for this - it's in 3.4.0rc2 which is available through pip.

3.4.0 proper should be released once I've had a bit more testing.

To clarify, I understand @bcoca's reasons, but for 90+% of cases, when you have `become_user`, you want `become` (and this just enforces making that explicit)

[2016-10-17 13:32] Sodki commented on #18046
I'm not sure you can do what you're trying to do. My understanding is that the inventory is only read once, before the playbook, so all host variables would have been decided by then. So it would not be an Ansible bug, but a misunderstanding of how the inventory works.

[2016-10-17 13:48] Sodki commented on #18009
You can already do that. Just configure the inventory to accept a variable (and provide a default) and then you can set it with `-e` option of `ansible-playbook`. Something like this:

`localhost ansible_connection=local ansible_python_interpreter="/usr/bin/env python ansible" ansible_foobar="{{ very_custom_var | default('') }}"`

And then

`ansible-playbook -e very_custom_var="something" ...`

Yo

[2016-10-17 13:52] Sodki commented on #18058
The structure that you have doesn't seem to be correct according to Ansible devs. Can you try again, but with the following structure?

[code]

[2016-10-17 14:25] bcoca commented on #18046
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As @Sodki mentions, Ansible flattens all vars BEFORE the play starts so a host will have vars defined by what groups it is part of in inventory, not by the gro

[2016-10-17 14:25] #18046 closed, assigned to nobody

[2016-10-17 14:45] yiwork commented on #16525
Hear hear!  This new behavior on docker_image module is not a welcoming change.  I have an image that is heavy with scientific libraries (i.e. 2GB) that gets pushed every time it is built, even for jenkins job to run unit tests. I would imagine that folks who are doing the same (building docker image, run, then run tests, once passing then push, using the same set of ansible variables) would agree

[2016-10-17 14:47] okv commented on #17998
I've checked - it's centos 6.7 on bare metal with different LVM2 (2.02.118-3) volumes for `/` and `/home`, both volumes use ext4 file system.

[2016-10-17 15:22] #17877 closed, assigned to bcoca

[2016-10-17 15:50] mholiv opened #18070 "VMware Inventory queries for / returns more than host data when --host is specified."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

VMware Invintory Script
contrib/inventory/vmware_inventory.py
##### ANSIBLE VERSION

N/A
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When you run `./vmware_inventory.py --host myhost` It gathers facts for others hosts. This makes it very difficult to debug / gather host info if the inventory is very large.
##### STEPS TO R

[2016-10-17 15:56] robinro commented on #18009
I agree with @Sodki suggestion. ansible.cfg is not the place to put per-host local variables.

[2016-10-17 16:18] woody77 commented on #18009
The inventory should be centrally managed, and therefore the inventory really shouldn't have per-ansible-host vars in it.

Now, if the inventory can use variables as @sodki suggests, and those vars are set in ansible.cfg, that's a likely solution.

Saying that `ansible-playbook` needs to be run with `-e some_override=foo` _every_ time you execute it isn't a great solution.  Better for it to be con

[2016-10-17 16:39] Sodki commented on #18009
Potentially unrelated, but maybe useful: I find that running Ansible playbooks on their own is not very user friendly, so I tend to create wrapper scripts that launch playbooks. Could be interesting in this case.

[2016-10-17 16:58] bananabr opened #18071 "Expect module - Expected results feature"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

expect_module
##### ANSIBLE VERSION

[code]
##### SUMMARY

Expect module should have an **expected_results** option that would have the same structure of the **responses** options ( dict of lists). Every response to a pattern would have a correspondent expected_result, like in the example below:

[code]

[2016-10-17 17:59] ludwig-gramberg commented on #14341
not sure if this fits here or if it is a bug, but i think it should be possible to define a template path relative to its task file no matter how that task file is being included.

example:

[code]

lets say the shared task `project_1/tasks/shared.yml` file runs several tasks and one of them uses `project1/templates/shared.j2` then this will work as expected in `project_1`.
however it'll not work

[2016-10-17 18:56] bcoca commented on #18058
actually both structures are correct, but I see no bug, this follows expected rules: http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

as such, closing this as it is not a bug but expected and documented behavior.

[2016-10-17 18:56] #18058 closed, assigned to nobody

[2016-10-17 20:27] karlmdavis opened #18075 "Play still fails for "UNREACHABLE" hosts even with "ignore_errors: true" set on tasks"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

(core functionality)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

I don't think I've modified any relevant config properties, but here's my ansible.cfg: https://github.com/HHSIDEAlab/bluebutton-data-pipeline/blob/master/bluebutton-data-pipeline-benchmarks/src/test/ansible/ansible.cfg
##### OS / ENVIRONMENT

Management host is Ubuntu 14.04,

[2016-10-17 20:57] jladdjr opened #18076 "Unable to install Ansible on Ubuntu 16 using DEB package - requires python-support"
The Tower team uses apt to install the devel version of Ansible on test instances. Installing Ansible on Ubuntu 16 results in a dependency error, though:

[code]
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Installer
##### ANSIBLE VERSION

Able to reproduce this on devel and stable-2.1. Have not tested on stable-1.9.

[code]
##### CONFIGURATION

No special configuration
##### OS / ENVIRONME

[2016-10-17 21:01] #18021 closed, assigned to jimi-c

[2016-10-17 21:01] sfgeorge commented on #16443
I found that [this solution from Ric in the 'Template problem with bash array length syntax' thread](https://groups.google.com/d/msg/ansible-project/_uhJZUUAsvc/xO7lq95FBD8J) solved this for my needs.  Final output can still produce `{#` without it being interpreted as the beginning of a [jinja2 comment](http://jinja.pocoo.org/docs/dev/templates/#comments).

Example solution in templates:

[code]

[2016-10-17 21:29] dagwieers commented on #16443
@sfgeorge Problem is that it won't work if the "bad sequence" is the value of a variable being templated. (See comment from @inossidabile)

[2016-10-17 21:58] resmo commented on #17896
I created an sample repo for this issue.

[2016-10-17 21:58] #17896 closed, assigned to resmo

[2016-10-17 23:17] georgebuckerfield commented on #17382
I've been able to replicate this. I think it's due to the behaviour of the `_load_inventory_file()` function in `lib/ansible/vars/__init__.py`.
The list of files to be loaded is sorted using sort(), which leaves a filename appended with a `~` character to be loaded later:
`[u'localhost.yml', u'localhost.yml~']`

You can avoid those files being loaded with an extra condition on the for loop that fo

[2016-10-18 01:48] jctanner commented on #18076
@jladdjr just to clarify, the deb package was built with the ansible makefile's deb target?

needs_info

[2016-10-18 03:07] ros0x5Ft commented on #15721
Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-36-generic x86_64)

[2016-10-18 03:49] mattclay commented on #18051
@mscherer You are correct. I didn't install `hg` because I wanted to avoid having python 2 in the container used for testing python 3, at least initially. It makes it easy to know we're testing only python 3, when that is the only version installed.

When we do change the container to include python 2, we'll need to be sure we're still testing python 3 as expected for the python 3 tests.

[2016-10-18 04:14] jweir commented on #17349
After upgrading to Ansible 2.2.0 I am not experiencing this issue.

`sudo pip install git+git://github.com/ansible/ansible.git@stable-2.2`

[2016-10-18 06:34] abadger commented on #18076
https://wiki.ubuntu.com/MeetingLogs/devweek1107/PythonPackaging so perhaps python-support has been removed and packages for Ubuntu16+ are going to need dh_python2 instead?

[2016-10-18 07:55] candlerb opened #18079 "[Feature] ability to set roles_path from within playbook"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

roles_path
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Be able to set roles_path within a playbook
##### STEPS TO REPRODUCE

Use case: I have several directories containing playbooks and private roles, plus a directory of shared roles as a sibling directory.

[code]

I want the user to be ab

[2016-10-18 09:19] stepanstipl opened #18080 "include_role - role missing in execution when included more than once"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]
##### SUMMARY

The commit 0d5206f seems to fix missing tasks after the include_role (#18026), but there's now another issue - when same role is included more than once, all the subsequent includes are ignored.
##### STEPS TO REPRODUCE

Given play:

[code]

and roles

test-intermediate:

[code]

and test:

[2016-10-18 11:34] aairey commented on #14549
+1

Same on v2.1.2.
It seems to happen when you include tasks/roles. If the error happens in one of those tasks it gets printed on one line.

[2016-10-18 11:56] fvant commented on #17349
@jweir  same for me,  there was a fix related to the include of varsfiles and cwd logic that resolved it.

[2016-10-18 13:41] amenonsen commented on #18080
bot_skip

[2016-10-18 13:42] amenonsen commented on #18080
@stepanstipl does setting `allow_duplicates: yes` in meta/main.yml affect this behaviour? (I'm not arguing it should, just trying to understand where the bug might be.)

[2016-10-18 14:12] moreau-nicolas commented on #13243
Perhaps a little convention can help with the "which password for which vault" question ?

Let's say I have two vault files, vault1.yml and vault2.yml, each encrypted with a different key file. Perhaps the key files should be named vault1.key and vault2.key, by convention ? That way, ansible-vault just "knows" the vault-key association, no configuration necessary.

Granted, it does not help with t

[2016-10-18 14:27] haad commented on #10865
I can reproduce this one on latest ansible `ansible 2.1.1.0`

[2016-10-18 14:30] naphta opened #18082 "WinRM: Certification error when using "delegate_to" in playbook"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`WinRM -- pywinrm`
##### ANSIBLE VERSION

`ansible 2.1.0.0`
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

`Ubuntu 14.04 w/ Python 2.7.10`
##### SUMMARY

When using `pywinrm==2.0` or higher I recieve a certification error despite `ansible_winrm_server_cert_validation=ignore` being set.

Appears to not be respecting that specific setting. This o

[2016-10-18 14:34] stepanstipl commented on #18080
@amenonsen I'm not able to reproduce this anymore myself, so I'll close this (swear the only thing that changed was computer restart.. but that shouldn't matter.. no clue, maybe I'm just going crazy :) ), thanks

[2016-10-18 14:34] #18080 closed, assigned to nobody

[2016-10-18 14:54] andyfeller commented on #13243
I'm not sure how much this will matter when Ansible Tower is open sourced
https://twitter.com/giano/status/747873367315845121 as it doesn't use
vault files for management.

Andrew Feller
8400 Metronome Dr
Raleigh, NC 27613
andrew.feller@gmail.com
(225) 802-6868

On Tue, Oct 18, 2016 at 10:12 AM, Nicolas Moreau notifications@github.com
wrote:

[2016-10-18 16:03] jladdjr commented on #18076
@jctanner - the deb was built using this job:
http://jenkins.testing.ansible.com/view/Ansible/job/Build_Ansible_DEB/configure

Looks like for an unofficial build (which applies here), it calls `deb-upload`

[2016-10-18 17:29] #17966 closed, assigned to jimi-c, bcoca

[2016-10-18 17:44] trondhindenes commented on #17966
@bcoca thanks! Looping now works, but it doesn't look like the role inside the loop is able to access the "item" dynamic var in a with_items loop. Do you want me to post some example code here, or open a new issue?

[2016-10-18 17:45] justinmayer commented on #13243
The use case in the original issue description appears to be decrypting multiple vaults within a single project / `ansible-playbook` invocation.

In my case, I wanted to use the existing keyring integration support (see: `contrib/vault/`) with multiple projects, each of which contains a single vault protected by varying passwords. But since the current version of that script seems to only support

[2016-10-18 17:49] dtardoin opened #18087 "docker_image_facts does not search for tag."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker_image_facts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04.5/Debian Jessie

Docker Version:

[code]
##### SUMMARY

docker_image_facts retuirns all named images regardless of tag, even when specifying a tag in the name attribute of the module.
##### STEPS TO REPRODUCE

Specify tag in docker-image_fa

[2016-10-18 17:55] ghost commented on #14270
I'd be nice to have a feature for calling blocks. Think of:

[code]

[2016-10-18 17:55] #18087 closed, assigned to nobody

[2016-10-18 18:11] fliphess commented on #16222
Is there any way to work around this issue? For example by setting a skip_when_undefined flag for a particular task or when using --tags? My playbooks depend heavily on the register functionality. I'd rather choose to enable or disable this behaviour then to rewrite all my playbooks on every minor update....

[2016-10-18 18:27] Damgaard opened #18088 "apt_repository throws an incorrect error message if required system module is missing"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

apt_repository
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Config file contains only two settings. Inventory and private_key_file which sets those defaults respectively.
##### OS / ENVIRONMENT

I am running this against a raspberry pi. Which has a minimal amount of modules installed, as shown later the missing module cause an incorrect er

[2016-10-18 18:39] Damgaard commented on #14468
I believe this error is virtualenv related or perhaps more precisely PYTHON_PATH related.

If I run the example playbook I listed above while in a virtualenv it crashes with the above exception. If I run the playbook without being in a virtualenv with ansible installed globally, then everything works swimmingly.

[2016-10-18 18:45] Damgaard commented on #14468
Also for what it's worth. This issue also affects the latest release 2.1.2

[2016-10-18 18:46] jctanner commented on #18076
I did the following without error:
1. spun up a geerlingguy/ubuntu1604 vagrant box
2. installed all the various make requirements: asciidoc python-setuptools build-essential devscripts cdbs deb-helper
3. ran "make deb"
4. copied the resulting deb to a local apt repo and added to sources per: http://askubuntu.com/a/176546
5. apt-get update
6. apt-get install ansible

[code]

[2016-10-18 18:51] jctanner commented on #18076
per slack conversation, this issue most likely stems from building the package on 14.04 and then trying to install on 16.04. The python build environment is going to differ enough that it isn't going to work. Typical problem with packaging in an environment that differs from the target.

[2016-10-18 18:56] #18088 closed, assigned to nobody

[2016-10-18 19:00] AlexAkulov opened #18090 "Relative directories in roles_path is broken"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

roles_path
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Relative directories in roles_path is broken begin from ansible 2.1.1.0, in ansible 2.1.0.0 all works correctly
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2016-10-18 19:07] jladdjr commented on #18076
Roger that - we'll take some time to look into how we're doing the packing

[2016-10-18 19:47] x-yuri opened #18092 "filter plugins located in a playbook directory don't get loaded"
##### ISSUE TYPE
- Bug Report
- Documentation Report
##### COMPONENT NAME

loading filter plugins
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Arch Linux
##### SUMMARY

[The doc](http://docs.ansible.com/ansible/developing_plugins.html#distributing-plugins) says:

But I fail to make it work.
##### STEPS TO REPRODUCE

`playbook.yml`:

[code]

`filter/plugins.py`:

[2016-10-18 19:52] bcoca commented on #18092
the directory should be 'filter_plugins'

[2016-10-18 20:01] detiber commented on #16857
To add to @Nebelwolf's comments, the issue only appears to crop up when the playbook is in a different working directory than where the ansible-playbook command is issued.

I was able to replicate the issue with the following directory structure:
ansible_dir
- inventory
  - ec2.py
  - ec2.ini
- playbooks
  - test.yaml

With test.yaml containing:

[code]

ansible-playbook -i inventory/ec2.py playbo

[2016-10-18 20:17] bcoca commented on #17966
already pushed 2nd part of fix that takes care of that

[2016-10-18 20:21] #18070 closed, assigned to nobody

[2016-10-18 20:23] detiber commented on #17966
@twiest @mwoodson fyi

[2016-10-18 20:29] trondhindenes commented on #17966
sweet, thanks!

[2016-10-18 21:13] twiest commented on #17966
@detiber thanks for the heads up

[2016-10-18 22:11] zacblazic opened #18095 "Integer variables are converted to strings when referenced in other variables"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Variables
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes
##### OS / ENVIRONMENT

macOS Sierra (10.12)
##### SUMMARY

Variables defined as integers (without quotes) are converted to strings when using them in the definition of another variable.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[co

[2016-10-19 00:29] abadger commented on #17982
Traced this to the fact that the module is imported before the command line is parsed.  Thus we don't have a verbosity level yet.  So the logic in vvvv() decides it shouldn't display anything.

It doesn't look like we can parse the command line for verbosity before we get to the point which is importing the vault code.  So  I think we may only have a choice of on or off here.. verbosity won't work

[2016-10-19 00:29] #17982 closed, assigned to abadger

[2016-10-19 00:31] abadger commented on #17947
Okay, at least for 2.2 we went with the original version of this:

Change ansible-managed to a static string.  In this case, "Ansible managed".

This lets people continue to set it to something else that isn't idempotent in their config files.  I'll update the documentation to give information on this at some point soon.

[2016-10-19 06:56] raji789 opened #18099 "ansible play error AttributeError: 'NoneType' object has no attribute 'name'"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

/ansible/plugins/strategy/**init**.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory = /etc/ansible/hosts

host_key_checking = False

retry_files_enabled = False
deprecation_warnings = False
roles_path = /etc/ansible/roles
##### OS / ENVIRONMENT

Running from RHEL 6
Managing Windows 12
##### SUMMARY

We are using ansible python modu

[2016-10-19 08:04] GoodHaHa commented on #18058
[code]

I try, but get the same result:

[code]

[2016-10-19 08:13] GoodHaHa commented on #18058
Is document wrong? The results showed that the actual order of precedence:
- playbook group_vars/group
- inventory vars
- playbook group_vars/all

[2016-10-19 08:33] jorsermar commented on #13278
Thanks @vmenezes, adding timeout=30 to /etc/ansible/ansible.cfg made the trick for me. I'm using ansible 2.1.1.0 in a MAC + CentOS-Vagrant env

[2016-10-19 09:23] #17947 closed, assigned to abadger

[2016-10-19 09:28] darkweaver87 commented on #13485
Hello,

FYI, the install of 2.1.2.0 broke pretty much all my handlers called in included files.
For instance:

tasks/main.yml:

[code]

tasks/foo.yml

[code]

handlers/main.yml

[code]

I've the following error: ERROR! The requested handler 'bar' was not found in the main handlers list

Rémi

[2016-10-19 09:33] fjros commented on #18079
I think you might use the `ANSIBLE_CONFIG` env var to point to the appropriate configuration file.

[2016-10-19 09:37] candlerb commented on #18079
Sure - I didn't include that option because it's way more verbose and inconvenient. But for completeness here you go:

[code]

[2016-10-19 09:43] candlerb commented on #18079
I should also add: if you edit `/etc/ansible/ansible.cfg` or `~/.ansible.cfg` to set

[code]

that doesn't work either. Although it's [undocumented](https://github.com/ansible/ansible/issues/18067), it appears with 2.2 that roles_path is relative to the directory containing ansible.cfg. So this is the same as pointing to either `/etc/shared/roles` or `/home/shared/roles` which is not what I want.

[2016-10-19 09:51] thmshmm commented on #18090
In addition, there is a problem if an env var is assigned to roles_path. If the env contains multiple paths separated by ':' the ConfigParser interprets this as a string. If you specify the same paths directly without using an env var, the ConfigParser returns a list of strings, splitted by ':'. This is what i expect in the first case.

[2016-10-19 10:04] Vladimir-csp opened #18102 "Dictionary values defaults"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

dictionary parser
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

Please provide a way to define dictionary value defaults. For example, by introducing special key names, i.e `default_key`.
This way lengthy 'if' trees or 'default' filters could be avoided in tasks and templates, defa

[2016-10-19 11:41] alanroche commented on #17349
Testing 2.2 at the moment. Will advise if it seems to resolve the issue.

[2016-10-19 12:10] ieguiguren opened #18103 "ansible-galaxy: init doesn't create whole scaffolding"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Ansible Galaxy
##### ANSIBLE VERSION

Ansible 2.1.2.0 upgraded via pip:

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

"ansible-galaxy init" returns an error and doesn't complete the scaffolding creation.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[code]

@gund

[2016-10-19 12:27] endlesslight0 commented on #15321
Same issue with ansible 2.1.2.0 and --ask-pass option.
OS X 10.11.6

ohallors fix didn't help.

[2016-10-19 13:19] howard-wang-nl commented on #7205
But the ansible-modules-core and ansible-modules-extras docs are not included.  It'll be much better if these are also included.

[2016-10-19 13:38] roolo commented on #15321
I am away from my computer for a few weeks. Pls ping me about this after
3rd of November if I'll not reply by myself. Thx

[2016-10-19 13:51] kustodian commented on #16953
@GoodHaHa 2.1.2 should fix the issue.

[2016-10-19 15:32] bcoca commented on #18058
In your last configuration, none are playbook, they are all inventory, but still same issue (from low to high):
- inventory file vars
- inventory group_vars/all
- inventory group_vars/rest

What is happening is that you are defining vars in the inventory file and they are getting overridden by inventory group_vars/all, which is expected, if you move group_vars to be playbook adjacent, the same res

[2016-10-19 16:10] renard commented on #17982
@abadger ok fair enough.
Thanks for the quick fix.

[2016-10-19 16:16] alikins commented on #18095
This seems to be a bug in how the output is shown. The variables themselves dont seem to end up as string types:

[code]

[code]

[2016-10-19 16:26] alikins commented on #18099
Is there a simple playbook that can reproduce this?

Would it be possible to test this with a ansible 2.2 release candidate? There have been a lot of changes in those code paths in 2.2.

Are the playbooks being run using delegate_to?

Does the inventory change? (are hosts added to the inventory in the playbook)

[2016-10-19 18:39] fxfitz opened #18108 "win_reboot is tied to winrm connection plugin"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

win_reboot
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

retry_files_enabled = False
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The win_reboot action incorrectly assumes that the WinRM connection transport is being utilized to speak to the machine, however if someone is running a custom ansible transport, win_reboot assumes that the transpo

[2016-10-19 19:02] fxfitz commented on #18108
I don't believe this was filed under the wrong github repository, as win_reboot is not a module and is a custom action within the ansible repository (and does not live in the ansible-modules-core or ansible-modules-extra).

Tagging @nitzmahone :-)

[2016-10-19 19:12] alikins commented on #18103
Looks like the ansible-galaxy api server threw an error when the list of platforms was requested, and that error caused 'ansible-galaxy init' to fail mid creation of the role template.

One proposed fix: https://github.com/ansible/ansible/pull/18109

(remove the network request that can fail from the 'init' code)

[2016-10-19 19:34] alikins commented on #18082
This does seem to be a bug.

 As a potential workaround, try setting 'ansible_winrm_server_cert_validation' on the original host/group  as well as the Windows host/group.

[2016-10-19 19:43] nitzmahone commented on #18108
bot_broken

[2016-10-19 19:49] nitzmahone commented on #18108
Yeah, my intent when I built that was to actually add the necessary properties to ConnectionBase, but it was late enough in the game for that release that it didn't happen. I can make the reset() dep conditional the way I did in async_wrapper, and I might be able to reliably get the host/port elsewhere (but it needs to be a delegation-friendly source- don't want to duplicate the delegator var rewr

[2016-10-19 19:49] alikins commented on #18075
Would it be possible to try to reproduce this with a 2.2 release candidate (https://github.com/ansible/ansible/releases/tag/v2.2.0.0-0.2.rc2 is current rc)? There have been some recent fixes to partial failure handling.

But I think 'ignore_error' only comes into play if a task was able to connect, run the module, and got back a 'failed' result. In this case, it looks like the task fails to connec

[2016-10-19 19:55] lberruti opened #18110 "Async error with check_mode"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

async
##### ANSIBLE VERSION

[code]

[code]

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

OSX, Debian 7, Debian 8
##### SUMMARY
##### STEPS TO REPRODUCE

[code]
##### ACTUAL RESULTS

[code]

[2016-10-19 20:12] #17308 closed, assigned to alikins

[2016-10-19 20:35] FlorinAndrei opened #18111 "The value of 'serial' in playbook cannot be set based on a variable defined per group"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

playbook
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Doing rolling updates with Ansible.

[code]

[code]

The problem is, `serial: 4` works well in production, but the value is too large for staging. In staging I'd like to use `serial: 1`.

I've tried to define a variable such as `api_deploy_seri

[2016-10-19 20:45] alikins commented on #17963
I can reproduce this with the devel/ branch and stable-2.2 branch.
(added reproducer to https://github.com/alikins/ansible-bug-repro/tree/master/localhost_hostvars_17963)

However, I suspect this is intentional behavior. Although I can't really point to a reason. Investigating...

[2016-10-19 21:33] nitzmahone commented on #17990
Check that your requests version actually meets the requirement (>=2.10.0)- you didn't specify, but I'd bet you're running on Ubuntu. There's a default-installed requests 2.2 there that pip will silently fail to upgrade (even though pywinrm has declared 2.10.0 as the minimum required)- HTTPS with any requests version older than 2.10 can be subject to this issue (it's a well-known intermittent fail

[2016-10-19 21:50] bdowling commented on #17950
CliBase.handle_prompt already had the logic to support multiple-prompts with specific responses, so the capability just needs to be added to pass the list(s) through from netcli?

Why are the extra steps needed to mark every prompt is seen?  That might not always be the case, e.g. the first time you do the scp and it doesn't exist?

I wonder if you could use wait_for in this case to make sure a sp

[2016-10-19 22:01] bdowling commented on #17514
+1 for this feature, but I might suggest it feels like this all needs to be done at a higher level.

Right now network devices feel like a second class citizen with the handling of provider: etc.  Should there be another abstraction layer for connections and allow you define different possible methods to connect to devices (perhaps even an ordered list).  e.g. some orgs may have terminal servers t

[2016-10-19 22:17] MrOwen commented on #14468
Also confirming my playbook using the apt module is working using system-wide Ansible (2.1.2) but not virtualenv Ansible (also 2.1.2, python27).

[code]

[code]

I can also confirm after running `help('modules')` in the virtualenv Python interpreter that the system wide Python contains apt, apt_inst, apt_pkg, and aptsources libraries but the virtualenv does not.

System is Ubuntu 14.04 x86_64, vir

[2016-10-20 01:26] ghost commented on #17990
Thanks for looking into this.

I do not think that was the issue, though.

I have run hundreds, if not thousands of jobs on Tower with Ansible 2.1.2.0 without ever seeing this error, and then every single job failed against all Windows targets when I updated Ansible to 2.2.0.0, until I also updated the version of pywinrm to 0.2.1.  I did some amount of testing involving upgrading and then rolling

[2016-10-20 02:49] bcoca commented on #17963
So I believe the issue here is that you use 127.0.0.1 which is NOT in inventory so Ansible must fall back to the implicit localhost, but then you use 'localhost' which DOES exist in inventory.

[2016-10-20 02:51] bcoca commented on #18111
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Serial is set for the full play, as such it cannot vary by groups, the play runs directly against a list of hosts independent of which groups they belong to. I

[2016-10-20 02:51] #18111 closed, assigned to nobody

[2016-10-20 02:53] wise0103 commented on #17950
@bdowling in netcli, I just added the logic to compile the prompt when it is as a list.
In my scenario, there are 2 kinds of commands need multiple prompts.
1. just like scp, there is different prompt based on whether the file exists already and so on. So only one of prompts would be matched and then send the response.
2. also like scp, if a password is needed every time, there would be password p

[2016-10-20 03:40] bcoca commented on #18075
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As @alikins  states above, the `ignore_errors` feature is designed to capture task errors, connection errors are not affected by it as the task never had a cha

[2016-10-20 03:40] #18075 closed, assigned to nobody

[2016-10-20 03:44] viper233 commented on #16878
This is an difficult issue to face when it comes to using multiple inventories. Most people seem to all fall into the case where there are certain group_vars, and even host_vars that all environments need to be aware of.

We need to better define how groups_vars are to be used with multiple environments and document best practices for how they should be used. We all want the playbooks and roles to

[2016-10-20 03:52] bcoca commented on #18082
The issue is known, on delegation we copy a set of variables, which does not include 'connection plugin custom ones', the workaround is just setting these vars in the 'all' group or for the servers you delegate for .

We have a permanent fix in the works, but it will take some time as it reverses how we currently select and pass variables to our connection plugins.

[2016-10-20 04:03] GoodHaHa commented on #18058
Thinks very much. I tested it again, but I get (from low to high):
- inventory group_vars/all
- inventory file vars
- inventory group_vars/rest

### structure

[code]

### invertory:

[code]

### inventory group_vars/all :

[code]

### inventory group_vars/ansible_test

[code]

### If I use group_vars/ansible_test, I can get:

[code]

### And then If I do not use group_vars/ansible_test, I can get

[2016-10-20 05:56] dave-martin commented on #13401
I'm getting the same error with ansible 2.1.2.0 trying to connect to a fresh Ubuntu 16.04 server installation.

My ansible.cfg file:

[code]

Here's the output from ansible -vvvv -m setup 192.168.5.160:

[code]

I can SSH to the remote system as root using the public key.

Adding the --ssh-extra-args made no difference.

Any hints on what to try in order to fix the problem?

Thanks!

[2016-10-20 06:27] GoodHaHa commented on #16953
@kustodian Thinks very much.

[2016-10-20 06:29] shoan commented on #13401
Remember that `scp_if_ssh = True` has to be under the `[ssh_connection]` section in ansible.cfg. I spent some time breaking my head about this.

[2016-10-20 07:47] Spurlos commented on #15524
Same bug arouse for 16.10 release.

[code]

[2016-10-20 08:03] mattwillsher commented on #17905
It seems that ansible isn't loading ssh_config from the current working dir. Giving the full path to the -F option (e.g. -F /home/myhome/ansible/ssh.config) works. It used to load the file from the cwd in 2.1.1.0

[2016-10-20 09:41] kustodian commented on #16878
`group_vars/host_vars` being picked up from the current working directory was is a bug which was introduced in 2.1 by mistake. It was never supposed to be there. `group_vars/host_vars` should only be read the directory of the inventory file and the directory of the playbook. The reason for this is security, since if you would to run ansible-playbook from a directory which has some malicious `group

[2016-10-20 10:11] lassizci commented on #17528
Using `hostvars` in templates seems extremely expensive. E.g with something like vpn network role where it's necessary to use every host's hostvars on every host, it will take half an hour with my inventory that's approximately 150 hosts and there are 100-190 variables for each host. Takes a little less if I run it with variables stripped to 20 per host, but the difference isn't too significant. A

[2016-10-20 11:03] kartishr commented on #16974
thanq  .you saved my time@ajain17

[2016-10-20 11:29] dagwieers commented on #17913
I am sorry, I introduced this warning when we had a genuine problem that was silently ignored. (See #14304)
Although I don't understand how your expression can trigger that exceptionand it results in another safe_eval() call.

I've undone that change now.

[2016-10-20 11:35] haad commented on #16878
Sorry this doesn't make a lot of sense at all. To actually work ansible needs more than _group_var/host_vars_ so potential attacker would have to create those, too. And if he is able to create them then he could easily create entries in per inventory _group_vars/host_vars_. So to me any potential attack is very unlike to happen.

I understand that any feature/behavior like this should be communica

[2016-10-20 12:48] jctanner commented on #18071
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-10-20 12:48] #18071 closed, assigned to nobody

[2016-10-20 12:51] jctanner commented on #18076
@jladdjr can we close this?

needs_info

[2016-10-20 14:09] lordfolken commented on #16747
I'm also affected by this issue:

layout:
roles/wpa_supplicant/
├── files
│   └── wpa_supplicant.conf
├── handlers
│   └── main.yml
└── tasks
    └── main.yml

## cat roles/wpa_supplicant/tasks/main.yml
- name: wpasupplicant
  apt: pkg={{ item }} state=latest
  with_items:
  - wireless-tools
  - wpa-supplicant
- name: iwl-firmware
  apt: pkg=firmware-iwlwifi state=latest
  notify: reload module
-

[2016-10-20 14:42] furiml commented on #14413
This solution kinda works with my install. However, the `local_action` waits the whole timeout everytime : my host can restart in ~30 seconds, but if I set the `wait_for` timeout to 3600, Ansible will wait one hour before proceeding with the playbook... As some reboots may be longer than others (updates), I really need to have a high timeout, but can't afford wasting 15 minutes for my hosts to com

[2016-10-20 14:46] jladdjr commented on #18076
@shanemcd has looked into how the Ansible DEB is being built and saw why our jenkins slave was trying to use the python support package.

It looks like a `dpkg-query` ([here](https://github.com/ansible/ansible/blob/4549604cc73321c079ad0eec53dd3f898c63be4b/packaging/debian/rules#L5)) was looking for python-support on the system. Shane confirmed that the query reported that the package was present e

[2016-10-20 14:46] #18076 closed, assigned to nobody

[2016-10-20 15:09] Tahvok opened #18124 "include_role role does not work with `when:` if condition is a string"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

centos 6
##### SUMMARY

You cannot use a registered variable in 'when' statement of the include_role task.
##### STEPS TO REPRODUCE

Create a role, than second role that should be included.
In the first role create a task that will register a variable.
Then try

[2016-10-20 15:15] naphta commented on #18082
Workaround mentioned above works just fine and perfectly OK from my point of view. Cheers both.

[2016-10-20 15:39] tknerr commented on #14248
Weird. I totally suspected this would work out of the box. One of the few times ansible actually violates the principle of the least surprise a bit...

Definitely +1

For `vars/` the same, but seems like #2958 was deciding against this

[2016-10-20 16:20] karlmdavis commented on #18075
@bcoca, some thoughts:
1. As a user of... 9 months, I hadn't realized that Ansible was supposed to handle errors due to "unreachable hosts" differently from "errors within tasks on reachable hosts." It'd be helpful if those error classes, how they're handled by default, and how to adjust that handling when needed was explained on http://docs.ansible.com/ansible/playbooks_error_handling.html. As th

[2016-10-20 17:42] nitzmahone commented on #18082
Since the workaround is good and it's a known issue that we're already planning to fix, I'm going to close this. Thanks all!

[2016-10-20 17:42] #18082 closed, assigned to nitzmahone

[2016-10-20 18:09] dave-martin commented on #13401
Thanks.  I do have scp_if_ssh in the [ssh_connection] section (see above).  Putting it there allowed the ssh connection process to proceed further, but there is still no data transfer.

[2016-10-20 18:13] raji789 commented on #18099
I am sorry i don't have a simple play book but, you can have playbook with different tasks and have includes for different playbooks.

With version 2.2 i have not tried but, i will give a try and update this ticket.

Yes, we use delegate_to

No, Inventory file created just before execution and supplied to ansible during initialization .

[2016-10-20 18:14] FlorinAndrei commented on #18111
@bcoca That was disappointing.

There's no misunderstanding here. The actual behavior you're describing is what I say is wrong, and limits the flexibility of this software. I am not speaking from a theoretical ivory tower here, but from a practical perspective - _in practice_ you want your serial value to change based on where the playbook is being run. In some environments you want higher values

[2016-10-20 18:15] bcoca commented on #18075
@karlmdavis the `meta` option is pretty recent, I just documented it in the module docs, I'll make note of adding it to the error handling page.

[2016-10-20 18:38] #18110 closed, assigned to bcoca

[2016-10-20 18:44] robinro commented on #13223
Is there a case where the workaround suggested by jimi-c above does not work?
We use it in a few places with rc and stdout/stderr checks. It's also more flexible than a new argument would be (e.g. `failed_when: result.rc not in [0,6,127]`).

[2016-10-20 19:07] lassizci commented on #18079
Wouldn't it be convenient if the configs were merged instead of the current behavior to use only the first one found? Repos could have their own config (that would even allow placing sub-playbooks in to a subdirectory) without overriding user settings such as ssh or forks. There's something wrong if you need to call ansible-playbook with an environment variable every time. Also if everyone using t

[2016-10-20 19:19] jctanner commented on #18099
@raji789 If you can't reproduce this with a simple playbook, you need to provide us with an example python snippet to demonstrate the issue.

needs_info

[2016-10-20 19:26] jctanner commented on #18095
Duplicate of https://github.com/ansible/ansible/issues/17992#issuecomment-253837999

[2016-10-20 19:26] #18095 closed, assigned to nobody

[2016-10-20 19:42] jctanner commented on #17998
@okv to clarify, you can reliably generate an error with the python snippet in https://github.com/ansible/ansible/issues/17998#issuecomment-253771766 ?

needs_info

[2016-10-20 19:50] jctanner commented on #18036
@jvoorhis I can not reproduce this issue based on your description.

Please provide the following:
1. The roles path
2. All ansible-playbook args used
3. Directory ansible-playbook is run from
4. Full ansible-playbook -vvvv output

needs_info

[2016-10-20 20:15] bcoca commented on #18111
The misunderstanding is then that you want a feature added but opened a bug report.

[2016-10-20 21:33] kustodian commented on #16878
@haad I'm not a core Ansible developer, but I've been using Ansible for a long time and whether you like it or not, this was a bug, this functionality was never documented anywhere and it's not coming back. Also if you need to define variables in CWD for your Ansible playbooks to work, then you are probably not doing something correctly, so feel free to ask the community of your use case in the fo

[2016-10-20 21:37] kustodian commented on #17927
This should be fixed with #17918

[2016-10-20 22:39] FlorinAndrei opened #18131 "The value of 'serial' in playbook cannot be set based on a variable defined per group"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

playbook
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Doing rolling updates with Ansible.

[code]

[code]

The problem is, `serial: 4` works well in production, but the value is too large for staging. In staging I'd like to use `serial: 1`.

I've tried to define a variable such as `api_deploy_se

[2016-10-20 22:41] FlorinAndrei commented on #18111
I see. Makes sense. I've opened a 'feature idea' issue instead.

https://github.com/ansible/ansible/issues/18131

[2016-10-20 23:27] juliedavila commented on #16878
I'll add, I've probably seen more production implementations of Ansible in terms of both quantity and variety than probably most people in the whole industry given my tenure at Ansible. That being said, anyone using Ansible properly shouldn't/wouldn't be using arbitrary group/host vars directories in such a way to leverage the CWD-vars-pickup bug. This is not a pattern I have ever recommended whil

[2016-10-20 23:36] cmebert commented on #16878
so, how would the best practice structure (specifically for group_vars) change when using dynamic inventory in tower?  This is where i'm struggling.  I have one group_vars folder at the top level (as defined by the best practices docs) and upon upgrading to 2.1.1 they are no longer recognized.  I don't define individual inventories inside the general directory, as tower handles that for me.

to ad

[2016-10-21 01:40] shoan commented on #13401
Are you able to connect using the ssh command from the ansible output?

[2016-10-21 01:47] woohgit commented on #14593
Same here.

I'd love to have a consistent result set and not depending on the instances were created or not. instances vs. tagged_instances.

Please reopen and provide a good solution.

[2016-10-21 02:08] samdoran commented on #16878
@cmebert The key thing is not where `group_vars` sits but where it is _in relation to your playbooks_. A top level `group_vars` folder will only work if all your playbooks sit next to it. These are _play_ group vars. These will work consistently between Ansible Tower and Ansible on the command line. Since Ansible Tower manages its own inventory (even dynamic) it pays no attention to _inventory_ gr

[2016-10-21 02:28] cmebert commented on #16878
that's exactly how it's explained in the best practices structure example, and exactly what we have followed.  The ability of tower to access a top level group_vars folder next to top level playbooks breaks with 2.1.1

[2016-10-21 02:49] #17913 closed, assigned to nobody

[2016-10-21 02:55] devinnate commented on #13278
Hi all, I hope this helps some people:

We encountered this problem, i.e. "Timeout waiting for privilege escalation prompt". We spent time debugging it, and this is what we found. Hopefully, folks smarter and more involved with ansible can use this as a bug report.
1. target host is resolvable by a /etc/hosts entry on ansible system
2. no network problems or delays
3. both nodes are rhel7
4. ssh t

[2016-10-21 03:19] dave-martin commented on #13401
I believe my problem was that I needed to have the public key for the account I was running the playbook from installed in the root account on the remote system.  I thought for sure I had checked that, but...

It's working OK now.  Sorry for the false alarm.

[2016-10-21 03:58] faitno opened #18132 "jinja2.ext.with_ not override default variables in {% include %}"
##### ISSUE TYPE
- Bug Report

I add in ansible.cfg [extension with jinja2](http://jinja.pocoo.org/docs/dev/extensions/#with-extension)

[code]

and define in my template:

[code]

in my `defaults/main.yml` set:

[code]

But statement `{% with domain = 'domain2.com'%}` not rearrange variable in `{% include %}` file.
How described [in this](http://stackoverflow.com/questions/9404990/how-to-pass-sel

[2016-10-21 04:53] julian1 opened #18133 "local_action: ansible_host variable gets changed to value 'localhost'"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

local_action
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

[code]
##### SUMMARY

ansible_host variable value gets changed to value 'localhost' when module is executing.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Should poll and wait for the remote host (ansible_host) to answer on ssh.
##### ACTUAL RESULTS

[2016-10-21 07:10] okv commented on #17998
@jctanner yes, that's right

I also found same error when trying to move nonexistent file even on a single volume:

[code]

[2016-10-21 07:21] schast commented on #4870
+1

[2016-10-21 08:55] LeeYenhsun commented on #6854
I got the same issue on ansible 2.1.2.0

[2016-10-21 10:00] candlerb commented on #18079
Yes that would do it - as long as ansible looked for ansible.cfg in the playbook_dir as well as the current locations.

Since you can pass multiple playbooks to a single invocation of ansible-playbook, this would mean that the ansible.cfg settings would have to be overridden at the start of one playbook and reset at the end ready for the next playbook. e.g.

[code]

(this also applies to my smalle

[2016-10-21 14:15] bcoca commented on #16878
@cmebert, no it is not, in the best practices you have BOTH inventory and plays on the top level directory.

If you look at the 'alternate' layout it becomes clear that the group_vars are set adjacent to inventory.

I do see how the main example can be confusing, the documentation about how group/host_vars works is lacking and I'll be updating it soon to hopefully clear this up.

[2016-10-21 14:44] jarovo commented on #15690
https://bugzilla.redhat.com/show_bug.cgi?id=1387682

[2016-10-21 15:05] karlmdavis commented on #18075
:+1:

[2016-10-21 15:42] lhoss commented on #5463
I also just used @mhenniges solution  to fix our custom (templatized) yml-variable(to json string) marathon deployment, similar to the use case described in https://github.com/Topface/ansible-marathon_app/issues/1.
For convenience here's the properly formatted filter, plus the required class:

[code]

that I put into my ansible folder under `./filter_plugins/force_dict_to_int.py`

[2016-10-21 16:05] bcoca commented on #18124
bot_skip

[2016-10-21 16:06] bcoca commented on #18124
the issue is not with the registered var, changing to the following makes it work:

[code]

The bug is that include_role does not correctly convert the string into a 1 element list (conditionals are always a list)

[2016-10-21 16:11] jjshoe commented on #15515
Work around:

[code]

[2016-10-21 16:15] bcoca commented on #18133
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The ansible_host variable is always set to the host contacted, this is normally the same as the configured target host, but when using delegation this changes

[2016-10-21 16:15] #18133 closed, assigned to nobody

[2016-10-21 16:27] aucampia opened #18140 "Handlers from roles included with include_role module is not found if the playbook including the role also has handlers"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

include_role module
##### ANSIBLE VERSION

[code]

Installed with:

[code]
##### CONFIGURATION

No config file.
##### OS / ENVIRONMENT

Sample to reproduce runs on gentoo with target also being gentoo.
##### SUMMARY

If I include a role with the `include_role` module from a play with handlers then its handlers from the role are not available.
##

[2016-10-21 19:02] jonathannaguin commented on #13801
I am running into this issue too, adding an empty group in the inventory didn't solve the issue in my case. I am using ansible 2.1.2.0.

Is this a confirmed bug?

[2016-10-21 19:19] idcmp commented on #15321
Same.
[code]
Using **-c paramiko** seems to work better, it looks like **-c smart is broken**.

[2016-10-21 19:35] samdoran commented on #16878
@cmebert I just made a simple project to hopefully clarify.

[code]

When running `toplevel-playbook.yml`:

[code]

When running `nested-playbook.yml`:

[code]

In all cases, Tower ignores inventory `group_vars`.

I find this table immensely helpful for clarifying the relationship between variables in a repository and how they are consumed or ignored by Ansible Tower.

[![Ansible Tower Variables](

[2016-10-21 20:47] bcoca commented on #16878
This all works as expected, tower does not use the that inventory file, so those group vars are never looked at.

[2016-10-21 20:51] bcoca commented on #18140
bot_skip

[2016-10-21 20:57] cmebert commented on #16878
@samdoran  That first example is exactly how our directory structure is laid out, and prior to 2.1.1 tower would recognize and use group_vars .yml files located inside of the top level group_vars folder without issue.  This breaks upon upgrade to 2.1.1 without any other changes.  (tower 3.0.2).

If a restructure is needed, i'm happy to do it, there just doesn't appear to be any documentation (ansi

[2016-10-21 21:32] 399a36c3b7 opened #18142 "Ansible 2.1.0.0 set_fact with multiline expressions adds a trailing newline"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

filter_plugins/core
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

In ansible 2.0 setting facts with multiline expressions seems to add a trailing newline
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-10-21 22:06] bcoca commented on #16878
The requirements did not change, a bug in Ansible was fixed that incorrectly allowed your setup to work.
Tower is just the thing executing Ansible in this case.

[2016-10-21 22:14] cmebert commented on #16878
@bcoca If the requirements didn't change, but a bug was fixed, and this bug fix broke the best practices example from the documentation, can we please just get an updated set of docs.  I'm a paying tower customer that can not update the version of ansible i'm using due to this "bug fix".

[2016-10-21 22:15] bcoca commented on #16878
please read above it DID NOT break the best practices example

[2016-10-22 01:06] bcoca commented on #17998
That should be `Errno 2`, when the source file does not exist, there is something seriously wrong with that system.

[2016-10-22 04:17] sabre1041 commented on #16857
I ran into a similar issue, but to solve the issue, I had to give the full path of the directory. Relative paths failed

[2016-10-22 09:06] chusiang commented on #14002
I fixed it with upgrade pip and some python package with pip, thank you  for @jhawkesworth .

[code]

[2016-10-22 18:05] suryajak opened #18148 "Ansible install failing on OS X Sierra"
Ansible install failing on OS X Sierra
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

Install
##### ANSIBLE VERSION

N/A
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

OS X Sierra
##### SUMMARY

I am following the steps here to install ansible on OS X
http://docs.ansible.com/ansible/intro_installation.html#latest-releases-via-pip

It fails when I execute this step "sudo CFLAGS=-Qunused-argum

[2016-10-22 18:26] suryajak commented on #18148
Using the latest version (pip install git+git://github.com/ansible/ansible.git@devel) solved the problem

[2016-10-22 18:26] #18148 closed, assigned to nobody

[2016-10-22 20:15] wmoreno3 commented on #5923
Two issues solved for me, tks for comments I resumed.
server postgres[]: [2-1] FATAL: the database system is starting up
and
LOG:  ending log output to stderr
HINT:  Future log output will go to log destination "syslog".

I added `postgresql_flags="-l 2>/dev/null -s -m smart"` into /etc/rc.conf on FreeBSD 11.0 and PostgreSQL 9.6 and solved the issues.
`root@server:~ # service postgresql restart`
`

[2016-10-22 20:40] martinbarlow commented on #6854
I had this issue when i put the users primary group, in the groups parameter. When i moved to group parameter, issue went away.

[2016-10-22 23:09] mscherer opened #18151 "Memory facts are floats on python 3"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

setup
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

##### SUMMARY

memory facts are no longer integer on python 3
##### STEPS TO REPRODUCE

[code]

[code]

On python 3 (3.4 and 3.5, and on differents system), it seems that the memory is treated as float and not as interger.
##### EXPECTED RESULTS

the same in both case

[2016-10-22 23:20] mscherer commented on #18151
bot_skip

[2016-10-22 23:32] mscherer commented on #18151
So, the issue is just that by default, on python3, float are used:

[code]

Not on python 2:

[code]

[2016-10-23 00:04] #17573 closed, assigned to nobody

[2016-10-23 02:24] xzvfinet commented on #17495
I realized that **devel** branch is represented as **2.3.0**(through pip show ansible)
This issue is fixed in that branch too.

[2016-10-23 03:11] audiolion commented on #16048
Getting same issue 2.1.2.0, I just went back to 1.9 until issue is resolved

[2016-10-23 13:33] bregman-arie commented on #17349
Had the same issue with 2.1. Using 2.2 fixed the issue for me.

[2016-10-23 15:45] GoodHaHa opened #18154 "inventory/playbook group_vars/<group> has high precedence than inventory file vars ，inventory file vars has high precedence than inventory/playbook group_vars/all"
##### ISSUE TYPE

- Documentation Report
##### COMPONENT NAME

N/A
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

inventory/playbook group_vars/<group> has high precedence than inventory file vars ，inventory file vars has high precedence than inventory/playbook group_vars/all
##### STEPS TO REPRODUCE

Is document wrong? The results showed that the actual

[2016-10-23 16:12] hackermd commented on #12053
Same for me with

[code]

Always tries to ssh connect despite `local_action`.

The only measure that prevents this behaviour is setting `connection: local` on the play.

[2016-10-24 03:46] shaneboulden commented on #17040
I've also tried querying the group directly:

[code]

Both return an empty set.

[2016-10-24 04:04] idcmp commented on #17040
Yup. It was a mistake on our part to leverage that API in the first place. We've learned our lesson and now recommend a static version of Ansible across the organization to avoid compatibility issues between any two given versions.

[2016-10-24 07:42] mscherer opened #18160 "Atomic_move issue on python3 with /tmp on tmpfs"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

modules_utils/basic.py

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Local: RHEL 7
Remote: Freebsd 11, with python 3

/tmp is mounted with a tmpfs
##### SUMMARY

Using blockinfile, or copy on the aformentioned setup result into this traceback:

[code]

I can be reproduce with this playbook

[code]

Without the /tmp on tmpfs, it work fine

[2016-10-24 09:01] lfbear commented on #14143
thanks @kai11  I got it by your way

[2016-10-24 09:37] anton-kotik opened #18161 "Failure using method (v2_playbook_on_stats) in callback plugin"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

callback plugin
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

File /etc/ansible/hosts:

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

I get the same warning "Failure using method (v2_playbook_on_stats) in callback plugin" after running any task or role on localhost, not only ping.
##### STEPS TO REPRODUCE

Create and run playboo

[2016-10-24 10:29] mvaude opened #18162 "python shebang in scripts are not working on all platforms."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- setup
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT
- NixOS
##### SUMMARY

When I use some specific playbooks, I got an error during the `setup` task because of the python shebang in the script generated by `ansible`. The problem occurs only when I am using a non local inventory but with the `connection: local`

[2016-10-24 10:38] #18162 closed, assigned to nobody

[2016-10-24 10:52] frenzymadness commented on #18151
This difference is caused by different Python division operators in Python 2 and 3.

For better explanation, see: http://portingguide.readthedocs.io/en/latest/numbers.html#division

[2016-10-24 13:04] wolph opened #18164 "Ansible reads all host_vars even when restricted by --limit"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- Reading of host_vars
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

In many cases this is probably a non-issue, but in my case I have a local development machine which has all variables available in plain-text but the remote machines have ansible-vault encrypted files.

The problem I'm having

[2016-10-24 13:22] bcoca commented on #18164
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Inventory gets read BEFORE the play is initiated, vault files also need to be decrypted at this time.
It is not possible for Ansible to know at this stage that

[2016-10-24 13:22] #18164 closed, assigned to nobody

[2016-10-24 13:26] wolph commented on #18164
It's debatable whether that's a desirable feature I think, but I understand the reasoning. Thanks for the quick response

[2016-10-24 13:35] bcoca commented on #18161
I cannot reproduce this with a fresh install, do you have a custom 'default' callback?

[2016-10-24 14:08] tebaly commented on #14358
+1

[2016-10-24 14:59] #17855 closed, assigned to resmo

[2016-10-24 15:24] jctanner commented on #18154
@GoodHaHa I wrote a test script to follow your description ...

[code]

This is the result ....

[code]

Am I missing some detail in your description that makes my results differ from yours?

needs_info

[2016-10-24 15:49] jbergstroem commented on #17587
Ping.

[2016-10-24 16:37] tfendt opened #18166 "UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh.", "unreachable": true}"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes to default ansible.cfg
##### OS / ENVIRONMENT

Ubuntu

Directory Structure:

[code]
##### SUMMARY

Ansible can't connect to host after upgrading from 2.1.0.0 to 2.1.2.0.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Successful connection and ping result.
##### ACTUAL RESULTS

[code]

This error h

[2016-10-24 16:47] alikins commented on #18142
reproduced behavior with devel/  (repro case added to https://github.com/alikins/ansible-bug-repro/tree/master/newline_18142)

Though, I'm not entirely sure if that behavior is unintentional, but it seems odd.

[code]

[2016-10-24 16:49] #17954 closed, assigned to nobody

[2016-10-24 16:52] alikins commented on #18142
more testing...

[code]

[2016-10-24 17:59] robinro commented on #17587
@jbergstroem To discuss this I'd recommend going to #ansible-devel on IRC and ask there. This is the quickest way to reach the core developers.

Another option is to just ignore it for the moment, open a PR with the changes and then discuss it there.
Personally, I don't think this is a "major abi break", since get_distribution is severly broken, not widely documented and barely used.

[2016-10-24 18:23] phips opened #18167 "vmware_inventory.py needs to fail if pyVmomi isn't installed"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

vmware_inventory.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

If pyVmomi isn't install the inventory script returns a python traceback, rather than exit with a helpful error message that pyVmomi is explicitly required.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Something nice t

[2016-10-24 18:45] mybiometrics commented on #16354
Hello. Currently using puppet but I am new to ansible 2.1.1.0 and I am having a problem with SSH into a remote machine. The user from the control machine and target host are the same. This is probable the simplest testcase.

CONFIGURATION: Created a group "dev" in the inventory file named hosts. The regular command line ssh user@server works as expected.

OS / ENVIRONMENT: Linux

SUMMARY: Whatever

[2016-10-24 18:47] anguspaterson commented on #13116
This saved my life a few weeks back. Thanks so much @tgrzemski

[2016-10-24 18:53] sjentzsch commented on #13742
Awesome, +1 from my side, our company also uses Ansible and git-lfs, would be very nice to have module support on this!

[2016-10-24 18:54] abadger commented on #17908
I'm not able to reproduce this:

[code]

IS there anything else that you're doing differently?

[2016-10-24 19:11] geraldcor commented on #18166
I am similarly affected. Downgrading fixes the issue. On macOS 10.11.6 python 2.7.12.

[2016-10-24 19:13] abadger commented on #17919
Yeah, allow_world_readable_tmpfiles is probably the answer here.  We only support POSIX acls.  If you actually have a system which needs "r-x" I can modify the code to do that but since ZFS is so widespread, it may not be worth it otherwise... (Every time we touch this, there's some odd platform that doesn't understand the new implementation... So I hate to change it for Solaris's POSIX acls if no

[2016-10-24 19:13] ghafran commented on #16354
Had the same issue. Turned out that the reference to ansible_ssh_private_key_file was invalid.

[2016-10-24 20:35] resmo commented on #17914
Probably worth considering having an `[include]` section, similar like in git https://git-scm.com/docs/git-config#_includes

[code]

[2016-10-24 21:17] abadger commented on #17876
I'm unable to reproduce this.

[code]

The code in question creates the directory and then verifies that the directory exists and is writable at the same time as the ControlPath is added: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/ssh.py#L230

Looking closer at what you're doing, I notice that the controlpath error is coming about when you try to run ssh manually

[2016-10-24 21:18] abadger commented on #17876
needs_info

[2016-10-24 22:41] mojo-iconrad commented on #18075
With a fresh pull of the devel branch of ansible, the "meta" module's "clear_host_errors" is not restoring hosts back into play.
Example playbook:

[code]

[2016-10-24 23:34] nockoutd opened #18173 "Setting"
Hello - Ansible newbie here. I seem to be having a hard time understanding how to set target machine environmental variables, even after trying the several example solutions that I've found around the web. I am running ansible v2.1.2.0

Here are a few techniques that I've tried:

*As a separate play

[code]

*As part of the application kick-up command ( also attempted with `host` `vars` ):

[code]

[2016-10-24 23:49] bcoca commented on #18173
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-10-24 23:49] #18173 closed, assigned to nobody

[2016-10-24 23:55] #17867 closed, assigned to abadger, bcoca

[2016-10-25 00:55] bcoca commented on #18090
I'm not sure youre expectation is correct as per #10811

[2016-10-25 01:18] #10865 closed, assigned to nobody

[2016-10-25 01:31] tickcode commented on #15321
In case it helps anyone, I resolved this issue on Ubuntu 16.04 by replacing this line in my hosts file...

    web1 ansible_ssh_host=my_remote_user@my_ip

with

    web1 ansible_ssh_host=my_ip

and then making sure I had added

    remote_user=my_remote_user

to my ansible.cfg

For me it was simply because I had added the "my_remote_user@" in front of my ip address.  This had worked before I upgra

[2016-10-25 01:50] abadger commented on #18151
Fixed via https://github.com/ansible/ansible/pull/18083

[2016-10-25 01:50] #18151 closed, assigned to nobody

[2016-10-25 01:51] GoodHaHa commented on #18154
@jctanner, Think you very much.

Sorry I said not detailed enough. Here is not  `group_vars/all` file，is `group_vars/<group>` file which in my example is `group_vars/ansible_test` file.

The group_vars/ansible_test file vars has the higher precedence than inventory file vars，but group_vars/all file vars not.

My expectation is that get the same result as the version 1.9x, which the inventory file

[2016-10-25 01:58] abadger commented on #18160
Ahhh... I think python-3.4 is the problem.  IIRC we finally decided to make python3.5 our default because of this bug in tempfile.mkstemp

[2016-10-25 03:29] kuenishi commented on #18166
For me (macOS 10.11.6, Python 2.7.12, OpenSSH_7.2p2, LibreSSL 2.4.1), adding `-c ssh --ask-pass -u <remote-user-name>` explicitly, with `sshpass` installed solved the issue. IMO this is related to the behavior of smart connector, described in [the official document](http://docs.ansible.com/ansible/intro_configuration.html#transport) like this:

But this behavior is quite different from choosing ex

[2016-10-25 04:12] abadger commented on #17908
needs_info

[2016-10-25 04:27] abhivijay89 opened #18177 "Parallelize running sub-playbooks within a main playbook"
##### ISSUE TYPE
- Feature Idea
  Add support to parallelize running sub-playbooks within a main playbook.
##### SUMMARY

Feature to run sub-playbooks within a main playbook parallely. Currently, I don't see a way to achieve this. 'async' & 'with_items' doesn't seem to be supported with "include playbooks".

E.g.
< ## Main playbook >
< - include: playbook1.yml >
< - include: playbook2.yml >
< - in

[2016-10-25 05:10] macropin commented on #14641
I think this issue relates to facts collection. If you have not collected facts for all the hosts then this issue may come up.

Try running `ansible all -m setup` to collect facts for all hosts.

[2016-10-25 09:06] Tahvok commented on #18124
Sorry, should have tested with a simple 'when: true' first.
At least I have a workaround for now. Thanks!

[2016-10-25 09:06] sw360cab commented on #14593
+1

[2016-10-25 09:20] duck-rh opened #18178 "handler+include triggered multiple times"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

handlers
##### ANSIBLE VERSION

[code]

This is RC2.
##### CONFIGURATION

only the roles path is modified.
##### OS / ENVIRONMENT

Running on Debian unstable and managing CentOS 7.
##### SUMMARY

To chain multiple actions in a handler I include a file, and this leads to the handler being fired multiple times.
##### STEPS TO REPRODUCE

I used an i

[2016-10-25 09:43] AceSlash commented on #7118
What about a simple option --ignore-vault? This would solve this issue.

[2016-10-25 09:58] resmo commented on #18166
This could probably be fixed with 49ce0c8baccbec45156b8a1ecb5c1d496180ed43 in 2.1.3
dublicate_of #17869

[2016-10-25 10:49] gundalow opened #18179 "validate-modules: require if __name__ == '__main__'"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

validate-modules
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

To allow the use of a Python debugger with Ansiballz the call to main() must be written as

[code]

`test/sanity/validate-modules/validate-module: _find_main_call` is most likely where this check should go

Once fixed all modules will need u

[2016-10-25 10:53] gundalow opened #18180 "validate-modules: Network modules don't require ansible.module_utils.basic"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

validate-modules
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

New Network modules, such as https://github.com/ansible/ansible-modules-core/pull/4065 don't require `ansible.module_utils.basic`

Instead they get access to this module via a OS specific Network module, such as:

[code]

To unblock the deve

[2016-10-25 10:54] gundalow commented on #18180
Temporary work around added as part of https://github.com/sivel/ansible-testing/pull/31

However this treats it as a warning in all cases

[2016-10-25 10:59] gundalow opened #18181 "validate-modules: Shell out using run_command"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

validate-modules
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Look for subprocess or os.call, etc... and error that `module.run_command` should be used

Once fixed all modules will need updating
Also this need adding to the list of checks in `test/sanity/validate-modules/README.rst`
##### STEPS TO REPR

[2016-10-25 11:02] gundalow opened #18182 "validate-modules: Error on * imports for new modules"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

validate-modules
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

New modules should import what they need, no longer importing `*` from module_utils.

We may want to make a judgement call about fixing existing modules

Also this need adding to the list of checks in `test/sanity/validate-modules/README.rst

[2016-10-25 11:04] gundalow opened #18183 "validate-modules: Analysis of argument_spec"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

validate-modules
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Right now we cannot effectively analyze the `argument_spec` as we need to run the code to do so.

See if we can somehow mock `AnsibleModule` to allow us to run the module and inspect `argument_spec`

This can also help us better detect when

[2016-10-25 11:04] gundalow commented on #18183
This has been partially addressed in https://github.com/sivel/ansible-testing/commit/e148e451076928ab9f943b56317258be41c3c7f8

We now have the ability to retrieve this data. It is behind a flag right now.

[2016-10-25 11:31] kottapar opened #18184 "vault encrypted variables show up in verbose output or when playbook fails"
- Bug Report
##### COMPONENT NAME

ansible-vault
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None changed
##### OS / ENVIRONMENT

RHEL 7.2
##### SUMMARY

I've used ansible-vault to encrypt a variable file in which a password is stored. The password variable is called in a playbook. However when the playbook is run in verbose or when it fails to run the password is shown in the debug output.

[2016-10-25 12:06] gundalow opened #18185 "validate-modules: Validate RETURN YAML formatting"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

validate-modules
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Currently we are not validating the `RETURN` block.

Possible items to validate include:
- Valid YAML
- `description` - is set
- `returned` - is set
- `type` - is set and is a valid type

Once fixed all modules will need updating
Also this n

[2016-10-25 12:08] gundalow opened #18186 "validate-modules: Module naming conflcts"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

validate-modules
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Module name should not conflict with other task arguments (become for example)

We need to generate such a list, perhaps we can record this in Ansible code where?

Once fixed all modules will need updating
Also this need adding to the list

[2016-10-25 12:11] gundalow opened #18187 "validate-modules: Add codes like pep8"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

validate-modules
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

It could be useful to assign pep8 like codes to errors/warnings/etc.

This could also give us the ability to filter out certain codes as well.

Thinking something like:

**E1 - Locations**
1. Interpreter line is not #!/usr/bin/python
2. main

[2016-10-25 12:45] jhawkesworth commented on #18177
@abhivijay89 - see the discussion on https://github.com/ansible/proposals/issues/31 and specifically http://www.slideshare.net/bcoca/more-tips-n-tricks for some ways to run playbooks in parallel.

[2016-10-25 13:15] gundalow commented on #18184
Thanks for the report

http://docs.ansible.com/faq.html#how-do-i-keep-secret-data-in-my-playbook

I don't believe Ansible keeps track of what came from the vault. To protect the data you can use `no_log: true`

[code]

I'll raise an issue to update http://docs.ansible.com/ansible/playbooks_vault.html where it should also be documented

[2016-10-25 13:15] #18184 closed, assigned to nobody

[2016-10-25 13:37] gundalow commented on #18051
@mattclay I agree that we shouldn't have python2 installed on the python3 container to avoid us accidentally falling back to py2

Is their anything else we need to do here, tracked else where, or can this be closed?

[2016-10-25 13:39] gundalow commented on #18166
duplicate_of #17869

[2016-10-25 13:48] benapetr opened #18188 "Ansible hosts are randomly unreachable"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

SSH connectivity
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

RedHat 7.2
##### SUMMARY

We have about 2000 hosts managed by ansible and everytime I run any playbook or command on all of them, I always have about 3% of them as "UNREACHABLE", when I restart the task, some other random servers are UNREACHABLE, t

[2016-10-25 13:50] gundalow opened #18189 "playbooks_vault.html to reference no_log"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

ansible-vault
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

As mentioned in https://github.com/ansible/ansible/issues/18184 I believe it would be useful for
http://docs.ansible.com/ansible/playbooks_vault.html
to link to http://docs.ansible.com/ansible/faq.html#how-do-i-keep-secret-data-in-my-pl

[2016-10-25 14:03] gundalow commented on #18167
[code]

The only place that is checked is

[code]

Which was added by @jctanner in

https://github.com/ansible/ansible/commit/05aed6e52ee35569548075d78341b197e23d140a

Should `vmware_inventory.py` be functional without `pyVmomi`?

[2016-10-25 14:04] gundalow commented on #18160
@abadger Do we need to:
- Document this
- Detect if we are running on < py3.5

[2016-10-25 14:07] gundalow commented on #18132
Can you please provide the output of `ansible --version` thanks

[2016-10-25 14:08] beevee commented on #18090
@bcoca in #10811 you propose that roles_path should be:

...but in fact, it seems, this path can be relative only to the config, not the play. See https://github.com/ansible/ansible/blob/devel/lib/ansible/constants.py#L53

We have a usecase for this missing behavior in our organization. We have an organization-wide git repository of common roles - for example, a role to install elasticsearch node.

[2016-10-25 14:15] bcoca commented on #18167
@gundalow no, but it should give 'useful' errors to user instead of tracebacks.

[2016-10-25 14:21] mwoodson commented on #15190
What's the status of this one?

I'd really like this patch to go in https://github.com/ansible/ansible/commit/943c9327aac5b57c8ee25f8e86090ec6b6875e01

[2016-10-25 14:28] mscherer commented on #18051
We could be running hg within a venv for python 3, so we can run it without breaking other tests ?
We could also make a separate host with python2 and python3 and run just hg there (and also detect possible issue if there is more than just python3)

[2016-10-25 15:30] abadger commented on #18160
It's documented here: https://github.com/ansible/ansible/blob/devel/docsite/rst/dev_guide/developing_modules_python3.rst  but unfortunately it seems that it is not live yet.  pinged dharmabumstead on slack to see if we can build the docs site.

Detection is an open question.  We don't detect incompatible python2 versions.  bcoca and I talked about it and it would be dead simple to hardcode a check

[2016-10-25 15:35] abadger commented on #18160
This is the upstream bug for tempfile with bytes that was fixed in python-3.5: http://bugs.python.org/issue24230

[2016-10-25 15:36] nitzmahone commented on #17495
This change has been backported to stable-2.1 for 2.1.3RC3. Will backport to stable-2.2 if there's another 2.2.0 release candidate, otherwise, it should be in for 2.2.1.

[2016-10-25 15:47] resmo opened #18191 "serial with % groups task per host"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

serial
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

n/a
##### SUMMARY

When using serial with `%`, there is a suspicious grouping per host for every task, while I don't see such a grouping when using serial with a number:
##### STEPS TO REPRODUCE

See gist https://gist.github.com/resmo/c650dc1846c14cdccbc41d509c

[2016-10-25 16:18] bcoca commented on #18177
closing this as dupe  of the proposal

[2016-10-25 16:18] #18177 closed, assigned to nobody

[2016-10-25 16:25] markusthoemmes commented on #17495
nice @nitzmahone, exactly what most of us are looking for :+1:

[2016-10-25 16:40] abadger commented on #16724
It would be intuitive for me that modules use /usr/bin/python unless specified otherwise via ansible_python_interpreter even if local connection is used since that matches up with the default if ansible is operating over any other connection.  However, the current design of Ansible has one tweak to this.

If ansible has to create the localhost entry for itself, then it creates one where ansible_py

[2016-10-25 16:40] ghost opened #18192 "Not using `{{` or `}}` in template file skips Jinja2 even when markers are overriden"
Although this is an issue exhibited in a module, I suspect the code that causes this exists in this repository
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Jinja2 templating
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

**N/A** but Arch Linux

[code]
##### SUMMARY

Not using `{{` or `}}` at any point in a Jinja2 template causes the file not to be run thr

[2016-10-25 16:45] dan-passaro opened #18193 "Rename and relocate "Registered Variables" TOC entry to highlight that they capture module results"
##### ISSUE TYPE

Documentation Report
##### COMPONENT NAME

The `register:` mechanic in Playbook tasks.
##### SUMMARY

As a new user, I was confused as to how I could get information from one task and use it in a later task. The answer is to use registered variables, but to someone who does not know Ansible, nothing about the term "Registered Variables" indicates that they capture the result of e

[2016-10-25 16:55] abadger commented on #17208
Tested and dag's fix does indeed fix this:

[code]

Closing fixed in 2.2.0

[2016-10-25 16:55] #17208 closed, assigned to jimi-c

[2016-10-25 17:12] ryansb commented on #18188
Can you add some output with `-vvvv` to show the SSH commands being run to get out to the remote hosts? My first instinct would be to raise the timeout in your ansible config, because it may not be possible to handle that many connections with 10 workers on that timeout.

[2016-10-25 17:12] ryansb commented on #18188
needs_info

[2016-10-25 17:12] abadger commented on #18051
Yeah -- if we don't enable this test then we'll never know about regressions running the module via python3.  That's probably not a good thing.

[2016-10-25 17:14] ryansb commented on #14641
Can you share the facts you have in `facts.d` that are getting loaded, and the output when running your test with `-vvvv` enabled?

[2016-10-25 17:14] ryansb commented on #14641
needs_info

[2016-10-25 17:22] cjw296 commented on #16724
It's a bit sad that it feels like every issue I submit seems to get general oral agreement in person at conferences or on irc, and then when I go through the (quite arduous process) of submitting a proper issue, it invariably gets closed with some lame "yeah, it's confusing, but we want it to work like this, 'cos you know"

[2016-10-25 18:16] sergeij commented on #15517
Will this patch also be merged into the next Ansible v2.1.3 release?

[2016-10-25 18:17] abadger commented on #18051
We'll never be able to test the hg module (or other modules which use
programs which run under python 2 and not python 3) works when the ansible
module is running under python3 unless we install both python 2 and python
3 in the container.

[2016-10-25 18:24] abadger commented on #16724
I'm sorry, I thought this was a bug report.  What's the proposal?

[2016-10-25 18:26] abadger commented on #16724
Note:  I may still be against it since I mostly like how the current ansible works but it sounds like you talked to another core committer that thought the proposal would be good.  Which means it will probably get discussion amongst the core committers at one of our weekly irc meetings and then we'll reach a consensus or take a vote on whether to make a change or not.

[2016-10-25 18:48] mattclay commented on #18051
@gundalow We can leave this issue open. Updating our docker containers so we can run python 2 and python 3 at the same time is on my list of things to do.

[2016-10-25 20:16] resmo commented on #18191
I identified 159aa26b36a6455ebc38d527c294c60899892c04 as source

[2016-10-25 21:35] resmo commented on #18191
It seems that only one fork is used if serial is e.g. 50% and that is why the tasks look grouped.

My analysis, in https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/task_queue_manager.py#L234 max_serial is 1 because the calculation is (50/100) \* 3 = 1.5 = 1

`num_hosts` here https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/task_queue_manager.py#L225 is 3 (while

[2016-10-25 23:08] mscherer commented on #18051
Another solution is to wait until hg is ported on python 3. I discussed with one upstream last week who said "that's started", so we just need to have it in a state good enough for basic test, maybe taking the latest devel would be "good enough". On the other hand, they do some unholy stuff with the module loader transpiling python2 to python3 for now, so maybe it is not "ready for ci" for now.

I

[2016-10-25 23:28] mscherer commented on #18160
So, what is the status of 3.5 in non EOL distribution ?

For freebsd, python 3.5 is here (albeit not on my arm board), and python 2 is still here. RHEL/Centos is still python 2, and 3.5 will likely be ok for next release. Fedora is 3.5 on 24 and 25, so soon on all supported release.

Debian has 3.5 in testing, and python 2 is still here. Centos/RHEL are on python 2 for now. Arch is 3.5, Gentos is

[2016-10-26 00:33] splitice commented on #17495
👍

[2016-10-26 00:44] nitzmahone commented on #17495
... aaand there's going to be a 2.2.0RC4, so this one's been cherry-picked to go along for the ride.

[2016-10-26 01:27] abadger commented on #18041
Documentation updated by https://github.com/ansible/ansible/commit/3faf9cce40fa24e4a26e2f8ce02d0c7778996117 .  closing.  Thanks @dharmabumstead !

[2016-10-26 01:27] #18041 closed, assigned to nobody

[2016-10-26 05:08] kublermdk opened #18195 "debug gives improper error when adding non supported options"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

with_items and multi-line args
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Base configuration, nothing edited.
Am running the task in a role.
##### OS / ENVIRONMENT

Running on Ubuntu 14.04.4 LTS, Trusty Tahr connecting to a server running Ubuntu 16.04
##### SUMMARY

When using with_items in a playbook and the item is being used on a multi

[2016-10-26 05:10] jhkrischel commented on #13401
Just thought I'd leave a note here - I ran into a very similar symptom, but it was due to pbrun being enabled on the target servers.

I fixed it by setting ansible_become_method=pbrun

[2016-10-26 05:10] kublermdk commented on #18195
Note that this isn't just a debug issue, that's just the easiest way to test it. I first noticed this error when I was doing a template call.

[2016-10-26 05:16] faitno commented on #18132
My `ansible --version`:

[code]

[2016-10-26 05:21] kublermdk commented on #18195
I just confirmed this is also an issue with Ansible 2.1.1.0 on Ubuntu 16.04

[2016-10-26 08:39] geek0005 opened #18196 "Limited / Missing documentation for some Ansible jinja2 filters"
##### ISSUE TYPE

- Documentation Report
##### COMPONENT NAME

playbooks_filters.rst
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Documentation for Ansible custom jinja2 filters doesn't contain some filters
On https://github.com/ansible/ansible/blob/devel/docsite/rst/playbooks_filters.rst / http://docs.ansible.com/ansible/playbooks_filters.html the chan

[2016-10-26 08:39] photoninger opened #18197 "ansible_distribution_major_version missing on Solaris"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

setup module (facts.py)
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

running on MacOS 10.12.1
managing "Solaris 10 10/09 s10s_u8wos_08a SPARC"
##### SUMMARY

We are using
`group_by: key={{ ansible_os_family }}-{{ ansible_distribution_major_version }}`
in our playbooks to include group_vars based on distro and major_version. Playbooks are

[2016-10-26 09:08] rmedaer opened #18198 "Automatic setup task doesn't have name"
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

play_iterator
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When Ansible plays a playbook, it automatically execute setup task through the `play_iterator`. However it doesn't set task name ! When collecting logs, name is missing for each _setup_ task.
##### STEPS TO REPRODUCE

Run any playbook:

[2016-10-26 09:16] Sodki commented on #18066
@nitzmahone Sorry to bug you like this, but you seem to be dealing with Windows issues and this one is missing the `windows` label. Could you be so kind and add it, please?

[2016-10-26 09:42] rmedaer commented on #18198
Well, but the changes made are in `lib/ansible/executor/play_iterator.py` (#18199). It might be better to change here the description and set component **play_iterator** instead of **setup** ?!

[2016-10-26 12:16] ceving opened #18200 "Make facts gathering extensible."
- issue type: enhancement

The sources of facts are hard coded in the function `get_all_facts`  in the file `ansible/lib/ansible/module_utils/facts.py`. It is not possible to extend the facts gathered from a remote system. On Solaris for example the installed zones are not gathered. I would like to translate the output of `zoneadm list -iv` into Json to feed it to Ansible, but it is not possible,

[2016-10-26 12:51] tonk commented on #18200
You can add your own facts in `/etc/ansible/facts.d`. If you place a script there called `pools.fact` and make sure it's executable it will be run when the facts are gathered. Just make sure the output is in `json` format.

In the facts list these are availabe under the tree `ansible_local`, like

[code]

My file `/etc/ansible/facts.d/yoho.fact` contains:

[code]

See: http://docs.ansible.com/ansi

[2016-10-26 13:22] aschwanb opened #18201 "Use custom known_hosts file with ansible-pull"
# ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-pull
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Not sure if this is a problem or just me doing it wrong, but I can not add a custom path for the known_hosts file for ansible-pull.
##### STEPS TO REPRODUCE

By default, ansible-pull uses the known_hosts file located at `~/.ssh/known_hosts` but I should be able to a

[2016-10-26 13:23] ceving commented on #18200
It works only for localhost but not for a remote host. I have created a script, which generates Json:

[code]

It works, if I run the setup for localhost:

[code]

But it does not work, if I run the setup for a remote host:

[code]

[2016-10-26 13:27] zaynetro commented on #15321
I had the same issue and pinging the host first somehow resolved the issue.

[code]

UPD: I have to run ping command almost every time before executing the playbook. As after a couple of minutes of inactivity playbook fails again.

[2016-10-26 13:27] tonk commented on #18200
[code]

With the script executable. Does your `pool.fact` output `json`?

[2016-10-26 13:31] ceving commented on #18200
Of course otherwise `jq` would not be able to parse it. And it works if I run against localhost. This is the script:

[code]

[2016-10-26 13:34] tonk commented on #18200
If I place the script in `/etc/ansible/facts.d` I get:

[code]

Could you give that a try?

[2016-10-26 13:42] ceving commented on #18200
It makes no difference. It works for localhost but not for remote systems.

[2016-10-26 13:44] tonk commented on #18200
Hmm, that's weird. What version of Ansible are you using?

[code]

[2016-10-26 13:52] ceving commented on #18200
We have 2.1.1.0:

[code]

[2016-10-26 13:55] tonk commented on #18200
That doesn't seem to make to much difference. Hmm, maybe need to dive into the code.
I'll be back :-)

[2016-10-26 14:06] abadger commented on #16724
needs_info

[2016-10-26 14:18] jean-christophe-manciot opened #18202 "How to loop over hashes having an undefined number of sub-elements?"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

all
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/git-Ansible/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONMENT
-

[2016-10-26 14:35] ffledgling commented on #5834
Looks like this was reintroduced with one of the newer ansible releases as seen here: https://github.com/ansible/ansible-modules-core/issues/5385

[2016-10-26 14:44] jlaska opened #18203 "[rax.py] TypeError: get_config() got an unexpected keyword argument 'islist'"
### Summary

ansible 2.3 has modified the parameters for `ansible.constants.get_config()`: https://github.com/ansible/ansible/commit/9f6bbf8c2f02cdc70df149095a6623ee0c2c7ba7 so `contrib/inventory/rax.py` is no longer compatible:

[code]
### Environment
- Ansible 2.3 (`devel`)
### Steps To Reproduce:

Run an inventory update against rackspace using ansible 2.3.

[2016-10-26 14:49] jhawkesworth commented on #18066
I can add windows label for you.
You might be able to work around this issue by having multiple plays in your playbook.

[code]

[2016-10-26 14:51] JulienChampseix commented on #13948
Any news on this fix ? for having the remote user information inside the callback. @bcoca
In addition, the msg is send twice to slack apparently when running playbook under MacOs X.
Files present in the callback_plugin folder : slack.py & slack.pyc (if i remove slack.pyc it come back)

[2016-10-26 14:58] amenonsen commented on #18202
Use the `json_query` filter. Here's a random example found via `git grep json_query`:

[code]

[2016-10-26 14:58] #18202 closed, assigned to nobody

[2016-10-26 15:08] bcoca commented on #13948
This is not really a bug, we changed the API and this is not available as it once was, the remote_user information IS available, but not at playbook/play level (it would only be correct in certain cases), it is available at task level (always correct) when explicitly set.

The ansible_env.SUDO_USER is not a reliable way to get the information (LOGNAME might be better) as it depends both on facts b

[2016-10-26 15:12] sivel commented on #18196
The specified "filters" are actually documented as jinja2 tests at https://github.com/ansible/ansible/blob/devel/docsite/rst/playbooks_tests.rst / http://docs.ansible.com/ansible/playbooks_tests.html

If you have further questions please stop by IRC or the mailing list:
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2016-10-26 15:12] #18196 closed, assigned to nobody

[2016-10-26 15:14] nitzmahone commented on #18066
This is a known issue with the delegation connection rewriter and psuedo-connection vars (anything that's not one of the "well-known" connection vars like `ansible_connection`, `ansible_user`, eg, anything that starts with `ansible_winrm_`), where the delegating rewriter doesn't know to copy/remove those vars from the other host. We've got a plan to fix it, but it's somewhat invasive, so we punted

[2016-10-26 15:14] #18066 closed, assigned to nobody

[2016-10-26 15:21] geek0005 commented on #18196
Sorry for the false issue report.  Thanks for the details/links

[2016-10-26 15:34] xiaotuanyu120 commented on #9065
@hyojinbae

can you explain it in detail?

i test it like this, not same as yours, but it works!

[code]

[2016-10-26 16:17] OrBaruk opened #18206 "Nested task include ignores conditional check"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Task Include
##### ANSIBLE VERSION

Affected versions:

[code]

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When including a playbook that contains a taks includes using the nested task includes do no behave as expected regarding the conditional `when`.

The included tasks ignore the conditional checks and always execute, unless they are th

[2016-10-26 16:24] Zloy opened #18207 "Building deb from sources requires a2x utility"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

???
##### ANSIBLE VERSION

Revision 0a1f3918819151b6c12596c0675609d2f50d02ce
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

Couldn't build a deb package
##### STEPS TO REPRODUCE

Get clean Ubuntu, then clone the repo

[code]
##### EXPECTED RESULTS

all needed dependencies I expect to be mentioned on Install

[2016-10-26 16:25] Zloy commented on #18207
Also!!! **devscripts** which contains **debuild**

[2016-10-26 16:27] Zloy commented on #18207
Also!!! **cdbs** and **debhelper**

[2016-10-26 16:29] Zloy commented on #18207
Also!!! The deb package appeared guess where?

`./deb-build/unstable/ansible_2.3.0-100.git201610261521.0a1f391.devel~unstable_all.deb`

[2016-10-26 16:45] AceSlash commented on #13244
+1, being unable to play a playbook because an unrelated vault exists is a big issue.
Maybe just implement an option like --ignore-vault could be sufficient?

[2016-10-26 16:48] prydie opened #18209 "Ubuntu 16.10 Yakkety Yak deb packages in ppa:ansible/ansible"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

N/A
##### ANSIBLE VERSION

N/A
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Ubuntu 16.10 Yakkety Yak
##### SUMMARY

Ubuntu 16.10 Yakkety Yak has been out for a little while now. Please consider adding a yakkety Release of the official Ansible deb packages for Ubuntu to the Ansible PPA: https://launchpad.net/~ansible/+archive/ubuntu/ansible

[2016-10-26 17:07] highbass commented on #16956
just upgraded last night and it broke my structure for me... seems like much like others I must have mis-understood what best practice was trying to depict. Moved group_vars into my inventory folder and it seems to resolve the issue.

[2016-10-26 17:10] ceving commented on #18200
Can be closed. I totally miss understood how local facts work.

[2016-10-26 17:10] #18200 closed, assigned to nobody

[2016-10-26 18:53] bcoca commented on #18198
bot_skip

[2016-10-26 18:56] AceSlash commented on #13244
Until someone takes the time to add this feature, here is a very simple patch that makes all vault decrypt failure into warn:

[code]

This will handle all vault files that are not decrypted as blank files.

[2016-10-26 19:17] bcoca commented on #18195
So `with_items` is NOT an option of debug, its a task level directive, the first task is correct, the bottom 2 are wrong and that is why you are getting this error. The error itself should be fixed as its hitting undefined vs invalid option.

[2016-10-26 19:18] bcoca commented on #18195
this works:

[code]

[2016-10-26 19:21] #18191 closed, assigned to resmo

[2016-10-26 19:27] ansafonov commented on #12086
+1 forks

[2016-10-26 19:31] #11571 closed, assigned to nobody

[2016-10-26 19:42] AndydeCleyre commented on #11348
I'm still experiencing this bug, and I don't even see any fancy characters. Here's an easy way to reproduce with docker:

[code]

This yields:

[code]

[2016-10-26 19:46] AndydeCleyre commented on #11348
Prepending the ansible command with `LANG=C` does not change the results.

[2016-10-26 19:57] roolo commented on #15321
@cue232s It says to Ansible what password to use for ssh connection.

http://docs.ansible.com/ansible/intro_inventory.html#list-of-behavioral-inventory-parameters (looks like the parameter is now called _ansible_ssh_pass_)

[2016-10-26 20:02] AndydeCleyre commented on #11348
I see the comments in here about not reading comments on closed tickets, so I've created a new one, as requested, in ansible-modules-core: [5394](https://github.com/ansible/ansible-modules-core/issues/5394)

[2016-10-26 20:12] resmo commented on #12086
I had a use case for a new config for a conditional break `break_when`

[2016-10-26 21:30] Hubbitus commented on #9112
You may do some trick there like:

[code]

[2016-10-26 21:46] #18203 closed, assigned to abadger

[2016-10-27 02:43] kublermdk commented on #18195
Ahh thanks for that. I simply had one too many tab levels. My bad!

[2016-10-27 02:50] bdowling commented on #17904
Is possibly related to #13278

[2016-10-27 03:23] 467754239 opened #18215 "ansible 1.9 api Execute the command authority"
ansible 1.9 api

remote_user = 'ec2-user',
sudo = True,
sudo_user='root',

/usr/bin/python ansible_runner.py --module_name shell --module_args " sudo /bin/find /var/log/tomcat/ -mtime +4 -type f -name "_._" -exec rm -rf {} \; " --region us --pattern 10.100.100.101
######

The remote log file is not deleted,but I already opened sudo = True Still won't do
please why

[2016-10-27 03:29] BondAnthony commented on #12686
This would be a great feature to have or at least a workaround. Not being able to run sudo su - limits my usage of Ansible in my current environment.

[2016-10-27 03:40] basictheprogram opened #18216 "Evaluating when: conditionals and with_item:"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

when: conditional
with_items:
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Stock devel configuration
##### OS / ENVIRONMENT

Running  macOS Sierra
Managing Ubuntu Xenial
##### SUMMARY

The when: conditionals are not evaluated before with_items: variable references are resolved
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

When

[2016-10-27 03:52] basictheprogram commented on #18216
Might be my misunderstanding as documented here?

https://github.com/ansible/ansible/issues/13791

[2016-10-27 04:06] basictheprogram commented on #18216
My misunderstanding. Below tasks "fixes" my problems.

[code]

[2016-10-27 04:06] #18216 closed, assigned to nobody

[2016-10-27 04:38] bcoca commented on #18215
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible-devel on irc.freenode.net
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-devel
- mailing list: h

[2016-10-27 04:38] #18215 closed, assigned to nobody

[2016-10-27 06:56] laurentribot opened #18217 "include_role : troubleshooting passing variables"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]

(branch stable-2.2)
##### CONFIGURATION

local roles and libraries location
##### OS / ENVIRONMENT

Master: Ubuntu 16.04.2
Managed: Rhel 6.6
##### SUMMARY

role vars are not visible in vars attribute of include_role
##### STEPS TO REPRODUCE

[code]

role_test_a/tasks/main.yml :

[code]

role_test_a/vars

[2016-10-27 09:21] yuri1969 commented on #11905
Exactly @yosefy, this is a problem since there are parsers which expect `true` instead of `True`.

[2016-10-27 09:33] yosefy commented on #11905
thanks @yuri1969
so what is the future of this issue?
why not to let the user decide?
thanks

[2016-10-27 09:47] mightydok commented on #17755
@okand what yaml package version u have on mac and linux?

[2016-10-27 09:48] mightydok commented on #17755
need_info

[2016-10-27 10:04] duck-rh opened #18218 "conditional include + include_vars + loop => kaboom"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include
##### ANSIBLE VERSION

[code]

This is 2.1.3.0~rc1-1.
##### CONFIGURATION

only the role path was changed.
##### OS / ENVIRONMENT

Debian unstable both
##### SUMMARY

undefined variables in loop were deprecated and now cause an error, but dynamic assignment is not taken into account in case of conditional include
##### STEPS TO REPRODUCE

[2016-10-27 11:06] yuri1969 commented on #11905
@yosefy I got a workaround :) I wasn't aware that the YAML specification allows an _explicit data type casting_. [The YAML spec](http://yaml.org/spec/1.2/spec.html) allows eg. `!!str` indicator which simply forces the value to be a string. Thus `true` doesn't get transformed to `True`, etc.

Just use the `!!str` indicator everywhere you need to preserve a parameter in its original string form. Rea

[2016-10-27 11:36] OrBaruk commented on #18218
I think this is a similar issue i found with using `include` and `when`
https://github.com/ansible/ansible/issues/18206

[2016-10-27 13:03] vaivars commented on #11905
The best workaround for this issue that i have heard (suggested by my colleague) - Just use more explanatory statements. Like 'heck yeah!" and "aww hell no!".

On a bit more serious note - awesome to see that there is an actual solution.. right when i started searching for the issue :D.

[2016-10-27 13:48] sameetn commented on #14987
Any update on this issue? It looks closed but does not work in ansible 2.1

[2016-10-27 14:40] duck-rh commented on #18218
similar but maybe not the same. would be nice to check the two test cases when a solution is drafted,

[2016-10-27 14:43] dj80hd commented on #10472
@cknapp i found a work around using 'shutdown -t 5 -r' instead of 'reboot'

[2016-10-27 14:45] #18160 closed, assigned to abadger

[2016-10-27 15:08] tabibazar commented on #14667
It is the line endings in ec2.py and ec2.ini. After changing them to LF. It all worked. Also make sure that /usr/bin/python is version 2.4 or higher.

[2016-10-27 15:13] erickeller commented on #15460
We also run into this problem, but it is even worse, since ansible-playbook return without any errors.
I would expect that the $? is different from 0 in this case

[2016-10-27 15:16] bcoca commented on #18217
bot_skip

[2016-10-27 15:46] abadger commented on #17078
@srvg Did:  https://github.com/ansible/ansible/commit/5a57313dd72e574d38272364df3ef01d6a3646ef fix this?  (Since it fixed #17747 )

[2016-10-27 16:04] okand commented on #17755
According to `pip list` I have version 3.12 of PyYAML on both systems.

[2016-10-27 16:35] davejennings commented on #14413
After a bit of trial and error with various solutions posted for various versions, the following is working for me on 2.1.2 with an Ubuntu 16.04 guest VM and OS X host using Vagrant (1.8.6) and VirtualBox (5.1.8).

[code]

@Furiml: Not sure if this applies to what you're trying to do, but this second task will poll every 10 seconds (default) after a 10 second delay to see if port 22 on the guest m

[2016-10-27 18:34] joelthompson opened #18222 "include_vars will only include *.yml, *.yaml, and *.json files but isn't documented as a breaking change"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_vars callback plugin
##### ANSIBLE VERSION

I'm using 2.2 RC3

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY
#17207 introduced a requirement that include_vars will only include files with .yaml, .yml, and .json extensions. This breaks some of our existing playbooks that have YAML-formatted vars files without a

[2016-10-27 18:36] #18222 closed, assigned to nobody

[2016-10-27 18:41] joelthompson opened #18223 "include_vars will only include *.yml, *.yaml, and *.json files but isn't documented as a breaking change"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Action plugins, specifically include_vars action plugin
##### ANSIBLE VERSION

I'm using 2.2 RC3

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

#17207 introduced a requirement that include_vars will only include files with .yaml, .yml, and .json extensions. This breaks some of our existing playbooks that have YAML-fo

[2016-10-27 18:47] joelthompson commented on #18222
bot_broken

I've opened a new one under #18223 to try to confuse the bot (successfully, it appears), as the issue is with the action plugin, not the module.

[2016-10-27 20:10] abadger commented on #14427
If someone would like to test: https://github.com/ansible/ansible-modules-extras/pull/3309 it implements dnf autoinstall of its python bindings (python2-dnf and python3-dnf).

[2016-10-27 21:56] davestern commented on #15321
I resolved a similar issue on Mac OS X with ansible 2.1.2.0 that may help. Not sure where else to post it. I could ssh to the instance, but running my playbook resulted in:

[code]

No other error output. But it worked with `-c paramiko` appended.

I downgraded to ansible 1.9.4 (`pip install ansible==1.9.4`) and now when I run it I get the error:

[code]

So I upgraded back to 2.1.2.0 and I added

[2016-10-27 22:22] julian1 commented on #18133
@bcoca  Thanks for the explanation - that's quite clear.

I would suggest that the documentation at http://docs.ansible.com/ansible/wait_for_module.html which is what I based my code on is misleading.

The code by refering to ssh host and inventory hostname, implies that provisioning will wait for the remote host's ssh service to become available - but that's not the case.

Alternatively, if the e

[2016-10-27 22:33] 399a36c3b7 commented on #18142
So this also has a bad interaction with the situation when you pass the result of a multiline expression into other code snippets. Namely, this change now behaves differently with the |bool filter, since it does not tolerate newly introduced trailing newlines.

[2016-10-27 22:52] 399a36c3b7 opened #18227 "ansible_python_interpreter is not set properly for connection: local (affects virtualenv)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Mac OS X, virtualenv
##### SUMMARY

`hostvars['localhost']['ansible_python_interpreter']` contain the right virtualenv path
however, when `- hosts:` target some server group with `connection: local`, ansible-playbook is using `/usr/bin/python` instead of the vi

[2016-10-27 22:53] abadger commented on #14427
Change has been merged to devel.  Since it's a new feature, it will be in Ansible-2.3.0 (**not** 2.2.0 which will be out shortly.)  There shouldn't be any issues working with older 2.x versions of Ansible in case someone wants to backport it independently.

[2016-10-27 22:53] #14427 closed, assigned to nobody

[2016-10-27 22:59] mscherer commented on #18201
I do not think that would work, because ssh-common-args is used by the connexion plugin, not by the git module. However, I guess we would look at doing something on the git side.

[2016-10-28 03:36] ghost commented on #17495
+1

[2016-10-28 03:41] RRAlex commented on #17349
The control_path argument cannot differentiate connections with the same ip-port-user in 2 different lans.

If you add_host with an ansible_ssh_extra_args using a custom ProxyCommand and both host have 10.0.0.1, the connection will get reused and you will only see 1 of N hosts.

Is there a way to have a control_path option per host added so I can add something "random" to differentiate the sockets

[2016-10-28 06:15] basictheprogram commented on #16261
Things move so fast I cannot duplicate this issue so I'm going to assume a git pull fixed the problem somewhere along the line. Sorry I could give you more info then that.

[2016-10-28 06:15] #16261 closed, assigned to nobody

[2016-10-28 06:30] rouge8 commented on #17905
Works using http://releases.ansible.com/ansible/ansible-2.2.0.0-0.4.rc4.tar.gz and http://releases.ansible.com/ansible/ansible-2.1.3.0-0.3.rc3.tar.gz

[2016-10-28 07:05] aschwanb commented on #18201
The ssh-common-args show up under the connection options in `ansible-pull -h`. Maybe the man page entry should be changed?

It would be fine to just pass that option to the git module. Is there a way to do that with ansible-pull?

[2016-10-28 07:27] jhawkesworth commented on #16261
Thanks for the follow up @basictheprogram

[2016-10-28 07:39] mscherer commented on #18201
So we have 2 issues:
- the command-line options doc is likely incorrect. I checked the code, the option is not here
- we need to add options.

Another solution would be to modify /etc/ssh/config before running ansible-pull, what is the workflow you try to achieve ?

[2016-10-28 07:45] Shaps commented on #18227
Hi @alxnov, I don't think this is actually a bug. The variable is correctly set ( and used ) for `localhost`. `ansible_python_interpreter` has to be assigned to each host where you want it to be different, it's not dependent on the connection type.

In fact, your test playbook is not correct, since you are always printing the `anisble_python_interpreter` of `localhost`. The correct debug statement

[2016-10-28 08:47] aschwanb commented on #18201
Thanks for the fast reply.

I would like to run ansible-pull on my client machines (not servers). Because I don't want users messing with the configuration, I'm trying to have it self-contained in a separate directory.

It's working great so far. The only thing missing is a separate `known_hosts` file, but because I want it self-contained, modifying `/etc/ssh/config` is likely not an option.

[2016-10-28 09:22] kasabov commented on #12086
+1 forks

[2016-10-28 09:40] sxpert opened #18231 "ansible install via setup.py fails with 'can't copy 'lib/ansible/galaxy/data/default'' depending on setuptools version"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

installing via "python setup.py install"
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu 14.04
##### SUMMARY

installing via "python setup.py install" fails with 'can't copy 'lib/ansible/galaxy/data/default': doesn't exist or not a regular file'

unable to install
##### STEPS TO REPRODUCE

just attempt to instal