[2018-02-14 15:01] gundalow commented on #35914
Should go in debug guide I think, that content may get refactored in the future

[2018-02-14 15:06] coaxial commented on #34560
Yes, I think that would help clarify that part.

[2018-02-14 15:12] cmonty14 opened #36180 "[Q] Is there a downside with SSH connecting to 1000+ servers"
Hello!

I have a question that derives from the comparison Ansible vs. Salt.

As Ansible relies on SSH connection some people say that this has a downside for a scenario like
- mass deployment of 1000 servers

Can you confirm that there's a severe performance impact when Ansible master must establish SSH connection to 1000+ servers at the same time (for mass deployment)?

THX

[2018-02-14 15:16] sivel commented on #36180
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-02-14 15:16] #36180 closed, assigned to nobody

[2018-02-14 15:21] henti commented on #35360
I found API information using `az provider list --output  json`

Then running `./azure_rm.py` gave me
[code]
finding 2017-03-30 in azure_rm.py for `Microsoft.Compute` I checked against above output and updated to 2016-03-30.

Running `./azure_rm.py` again gave me
[code]
This time `Microsoft.Network` was `2015-06-15` Updated and working.

[2018-02-14 15:28] Qalthos commented on #35662
Alright, there seem to be a few things going on here, and I'd like your help confirming how many of them are actually the case.

One issue has to do with how we try to handle prompts in ios_config. There is a bug there, which I will fix in a few minutes, which is why @gundalow thought there might be some issue with prompts.

The other issue seems to be the use of `replace: line` for multilevel con

[2018-02-14 16:13] gundalow commented on #36153
`ansible all -i ios02.example.net, -c network_cli -u myuser  -m ios_facts -k -e "ansible_network_os=ios"` is the form, breaking that down
`-i ios02.example.net,` use a single machine (point this to an inventory file otherwise)

`-c network_cli` connection plugin should be `network_cli`
`-u myuser -k` connect as `myuser` prompt for ssh password

In your command: `ansible -m ios_command -a "host=xxx

[2018-02-14 16:22] 74cmonty commented on #36180
No issue but a question only.

[2018-02-14 16:23] nitzmahone commented on #35360
Would strongly suggest that you get on a supported version of Ansible; 2.2 has been EOL for awhile now. Ansible 2.4+ have the proper package requirements baked in, so you can just do `pip install ansible[azure]` and we'll make sure the right versions of the bits we need are present.

Going to close this, as package versioning is as solved as it can be in recent versions of Ansible...

[2018-02-14 16:23] #35360 closed, assigned to nobody

[2018-02-14 16:30] mikewiebe opened #36186 "nxos_system module errors out using transport cli"
The `nxos_config` module errors out when attempting to configure the switch hostname errors out for transport `cli`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS

##### SUMMARY
This issue can easily be recreated on any NXOS image version using the `targets/nxos_system/tests/common/set_host

[2018-02-14 16:31] mikewiebe commented on #36186
@trishnaguha Looks like a new issue popped up in latest `devel`.  It does not appear to be image version specific so you should be able to recreate it on NXOSv.

[2018-02-14 16:34] mmercer-apixio commented on #36152
Added a bit more information to the gist,  shows inventory creation, et cetera.

[2018-02-14 16:42] pontusanderssonXD opened #36187 "Ansible not able to expand Windows vars from %PATH%"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_path

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running Ansible from macOS High Sierra version 10.13.3

Controling a Windows Server 2012 R2 machine

##### SUMMARY

When adding a Windows enviroment variable containg another Windows enviroment variable to PATH, Ansible seems to not be able to interpret the a

[2018-02-14 16:45] IPvSean opened #36189 "404 errors on docs appearing, no links to where modules moved, no helpful links"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ironware_command

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If you do a google search for brocade ironware command modules you will get a link to a page with a 404 error-> https://docs.ansible.com/ansible/devel/module_docs/ironware_command_module.html

(search link: https://www.google

[2018-02-14 16:45] LindsayHill commented on #36150
Thanks @ganeshrn, will run some tests and post results later today. I too wondered about regex matching there, but wasn't having much luck debugging it.

[2018-02-14 16:48] mikewiebe commented on #35797
@trishnaguha This wound up being related to the testbed issue.  Closing

[2018-02-14 16:48] #35797 closed, assigned to trishnaguha

[2018-02-14 17:23] bcoca commented on #31679
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The playbook vars are NOT supposed to be in `hostvars`.  There has been no 'official' way to use dynamic 'play vars, as the `vars` dict

[2018-02-14 17:23] #31679 closed, assigned to nobody

[2018-02-14 17:58] petewilcock opened #36192 "ec2_asg_facts throws errors with AutoScalingReadOnly Policy"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_asg_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_NOCOWS(/etc/ansible/ansible.cfg) = True
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
When attaching the AWS Managed Policy 'AutoScalingReadOnlyAccess', ec2_asg_facts throws the error that the result dict is em

[2018-02-14 17:58] Qalthos commented on #35902
The issue here seems to be that `ansible-connection` is getting called using `#!/usr/bin/env python` rather than respecting `ansible_python_interpreter`. Fixing this is more complicated than regular modules as we don't have the opportunity to rewrite the shebang in this case.

[2018-02-14 18:10] kiorky commented on #35065
We agreed that there is really a bug, as the third form in https://github.com/kiorky/ansible_test_cases/tree/35065b should already work to escalate a role from the caller

[2018-02-14 18:12] kiorky opened #36194 "Escalating roles with include_role, bug with block"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
- ubuntu LTS

##### SUMMARY
- 2nd reproducable test case here: https://github.com/kiorky/ansible_test_cases/tree/35065b ->
   - **The third form (with block) should already work**

Related to #33922 #32565 #35065

[2018-02-14 18:23] kiorky commented on #36194
related irc transcript
[code]

[2018-02-14 18:44] mmercer-apixio commented on #36152
I was able to go back to 2.4.3 and *reproduce* the error....  Which leaves me completely boggled.  I had been running 2.5.0 devel from git in order to get elb_target, and this has worked for months.  I copied elb_target from the amazon cloud modules into library, and ran it against 2.4.3 and it fails at the same filter expression.  It almost seems like there was something in the early stage of 2.5

[2018-02-14 18:54] mmercer-apixio commented on #36152
2.4.2 reproduces as well.  It is *very* peculiar that only that *single* task shows 2 hosts though....  everything else works 'as expected'

[2018-02-14 19:03] mmercer-apixio commented on #36152
2.4.1 reproduces as well.  I think it was a 'fluke' that it worked for months on 2.5.0 (pre alpha)...

[2018-02-14 19:09] sam-ww opened #36196 "Running docker_container with detach=false fails even with zero exit status"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
OS X 10.13.3

##### SUMMARY
Running docker_container with detach=false fails even with zero exit status. It suddenly stopped working after upgrading ansible to 2.4.2.0 and using python3.

##### Debug output

[code]

[2018-02-14 19:18] jamiejackson opened #36197 "Docs: Bad sysctl comment?"
https://github.com/ansible/ansible/blob/2610b521bc1cc3578061be12bb20d33ae6f867b7/lib/ansible/modules/system/sysctl.py#L91

[code]

Referring to the second task: It says "do not reload the sysctl file", but according to the docs `reload` defaults to `yes`.  Maybe "don't no reload the sysct file" was supposed to go in the first task's comment?

[2018-02-14 19:24] BenCoffeed commented on #28050
@flavioleandro This issue is about the `hashi_vault` lookup plugin which reads values from a server running Hashicorp's secret management service Vault.

Your issue is related to the `file` lookup plugin. It is looking on the "host" machine, the machine running Ansible for the file ` /app/install/base-cluster/hostname.txt`. My guess is that the file does not exist on the host machine, nor would it

[2018-02-14 19:37] sivel commented on #36130
So far in some limited investigation, a lookup that does the necessary work seems easiest right now.

Theoretical example:

[code]

The above builds the following template, and then executes it:

[code]

[2018-02-14 19:37] ajayreddy28390 opened #36199 "Ansible Cisco IOS - Telnet"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
transport = paramiko
hostfile = ./hosts
host_key_checking = false
timeout = 5
log_path = ./ansible.log

##### OS / ENVIRONMENT

Linux  3.10.0-693.11.6.el7.x86_64 #1 SMP Thu Jan 4 01:06:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

#####

[2018-02-14 19:45] abadger commented on #35666
@ephesused Let me knock out the last design problems with #36143 and get it merged.  We're planning to cut beta2 tomorrow and if I get this merged today, you'll be able to test the fix from the beta2 tarball.

[2018-02-14 20:09] ag0r opened #36202 "LD_LIBRARY_PATH can't be set using the environment keyword"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

environment keyword
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS X High Sierra

##### SUMMARY

Using the environment keyword does not allow setting the LD_LIBRARY_PATH environment variable.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

All variables set using environment keyword get set (including

[2018-02-14 20:14] #36014 closed, assigned to nobody

[2018-02-14 20:15] #35858 closed, assigned to nobody

[2018-02-14 20:16] ajayreddy28390 opened #36204 "Ansible Junos_command : Module failure Error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_command
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
transport = paramiko
hostfile = ./hosts
host_key_checking = false
timeout = 5
##### OS / ENVIRONMENT

Linux 3.10.0-693.11.6.el7.x86_64 #1 SMP Thu Jan 4 01:06:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RES

[2018-02-14 20:17] #35784 closed, assigned to nobody

[2018-02-14 20:19] jigarjian-brian opened #36206 "azure_rm_virtualmachine fails with DeserializationError"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Azure Components:

azure==2.0.0
azure-batch==3.0.0
azure-cli-core==2.0.24
azure-cli-nspkg==3.0.1
azure-common==1.1.8
azure-datalake-store==0.0.17
azure-graphrbac==0.30.0
azure-keyvault==0.3.7
azure-mgmt==1.0.0
azure-mgmt-authorization==0.30.0
azure-mgmt-batch==4.1.0
azur

[2018-02-14 20:24] jborean93 commented on #35784
The fix was cherry-picked to stable-2.5 https://github.com/ansible/ansible/commit/7dd4625dde17266e94562adfb814232b5bcae619 for the 2.5.0 release. I also manually backported it to stable-2.4 https://github.com/ansible/ansible/commit/f37cba14acadb95c905341d0268f7370fafb9dd8 for the 2.4.4 release.

[2018-02-14 20:45] #36202 closed, assigned to nobody

[2018-02-14 20:52] #30877 closed, assigned to bcoca, s-hertel

[2018-02-14 20:52] #24719 closed, assigned to nobody

[2018-02-14 20:53] #35965 closed, assigned to nobody

[2018-02-14 20:54] #36038 closed, assigned to nobody

[2018-02-14 21:04] bcoca commented on #36130
i've been looking at 'saving macros' into a template file that gets auto included when templating

[2018-02-14 21:07] gundalow commented on #35902
Maybe we need to document this as a limitation?
Can we detect and set a meaningful error message?

[2018-02-14 21:11] dharmabumstead commented on #36189
Sorry for the inconvenience! Modules are now in "/modules/" rather than "/module_docs/". Redirects for this and for the new documentation refactor will be live soon. https://docs.ansible.com/ansible/devel/index.html

[2018-02-14 21:16] mmercer-apixio commented on #36152
I have gone back to january 4th in our ansible repo to see what could possibly have changed, because the circumstance for this is so peculiar...  Nothing that explains this behavior stands out.  I will ultimately attempt to go back to an older version and keep replaying to see if I can definitively figure out the cause.

[2018-02-14 21:38] mattclay commented on #18183
I believe this has been fully implemented now.

@gundalow Is there anything left to do on this?

[2018-02-14 22:04] bcoca commented on #34239
dupe of #33177

[2018-02-14 22:04] #34239 closed, assigned to bcoca

[2018-02-14 22:10] mmercer-apixio commented on #36152
My manager managed to get an idea -- he converted the plays to set a fact first, then use the fact as the with_items loop:

[code]

Now.... why in the world would the set_facts loops work, but the with items explicit calls not work?

[2018-02-14 23:03] bcoca commented on #36177
group_vars files do not define groups, but variables for groups that match those names, groups MUST be defined in inventory. Using add_host/add_group in a play will add those to inventory temporarily, but ansible-inventory does not know about plays.

[2018-02-14 23:38] Akasurde commented on #36197
!component=lib/ansible/modules/system/sysctl.py

[2018-02-15 00:26] nitzmahone commented on #36187
I'm not able to do this interactively, either (only tested on Server 2016)- via the System Properties->Environment Variables UI, only a single level of var embedding appears to be supported (verified by `path` in CMD and `echo $env:PATH` in a new PS session after modifying vars via UI).

Since this appears to be a Windows limitation around REG_EXPAND_SZ, you might have better luck doing some or al

[2018-02-15 00:26] #36187 closed, assigned to nobody

[2018-02-15 00:31] pdellaert commented on #35766
@gundalow fix provided

[2018-02-15 00:34] LindsayHill commented on #36150
Right, so I think that this is indeed a regex issue. Snippet of the debug log here: https://gist.github.com/LindsayHill/c82627c1826fe83c5af0cab4817475ee

I think that key bit is here:
[code]

(SLX is the device hostname here). I think I'll need to match that terminal control char there in my `terminal_stdout_re` regex.

[2018-02-15 00:38] Apkawa commented on #28768
Also affects 2.4.3.0
`
fatal: [vagrant-1]: FAILED! => {"changed": false, "module_stderr": "Shared connection to 10.0.0.2 closed.\r\n", "module_stdout": "Traceback (most recent call last):\r\n  File \"/tmp/ansible_Sv9T4y/ansible_module_docker_service.py\", line 1067, in <module>\r\n    main()\r\n  File \"/tmp/ansible_Sv9T4y/ansible_module_docker_service.py\", line 1062, in main\r\n    result = Cont

[2018-02-15 01:11] bcoca commented on #36167
can you test with development/2.5? i cannot reproduce in those versions nor with 2.4.3

also -vvv output would be helpful in debugging this.

[2018-02-15 01:13] LindsayHill commented on #36150
OK, with this regex things look better:
[code]

I see log lines like this:
[code]

Thanks for the debug help @ganeshrn - I think I'm now good to go

[2018-02-15 01:13] #36150 closed, assigned to nobody

[2018-02-15 01:13] bcoca commented on #36170
@MonsieurCellophane http://docs.ansible.com/ansible/devel/plugins/callback/skippy.html

[2018-02-15 01:25] bcoca commented on #36157
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The role import always happens, the tag is not applied to the role import, but to the tasks included inside the role.

In the future, t

[2018-02-15 01:25] #36157 closed, assigned to nobody

[2018-02-15 01:26] #32130 closed, assigned to nobody

[2018-02-15 01:33] tvigers opened #36216 "redhat_subscription shouldn't affect existing entitlments when attaching additional pool ids"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

redhat_susbcription
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

RHEL7
##### SUMMARY

Currently the redhat_subscription module makes an assumption that you are listing all of the pool id's for the system.

This doesn't really work when you have your system susbcribed using a "Red Hat Enterprise Linux for Vi

[2018-02-15 01:34] #35666 closed, assigned to bcoca

[2018-02-15 01:50] bcoca commented on #35772
does your 'admin' user have Administrator privileges?

[2018-02-15 02:32] elmiliu commented on #35902
network_cli does not help, still getting the same error. From the comments above I understand that the issue is acknowledged and will either get fixed or marked as a limitation.

[2018-02-15 03:00] bcoca commented on #21562
The #31677 PR introduced a more configurable 'remote temp', the global setting still works but is now overridable via 'connection variable' `ansible_remote_tmp`.

The default will stay using `~` as it works for most cases, for the exceptions (mostly setups violating POSIX by ignoring `~`) we can now change the setting only for those groups/hosts that require it.

This is not a return to the 2.2 st

[2018-02-15 03:00] #21562 closed, assigned to nobody

[2018-02-15 03:02] bbb31 commented on #21562
@bcoca which version?

[2018-02-15 03:05] brainstorm commented on #21562
As far as I can see it's "Merged for 2.5", so no version/release yet. Anyhow, thanks ansible devs! 🎉

[2018-02-15 03:12] bcoca commented on #27331
the permissions are normally determined by the system, either the current umask or the settings for the `adduser` program. I suggest using the `file` module if you want specific permissions.

[2018-02-15 04:08] bcoca commented on #35892
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-02-15 04:08] #35892 closed, assigned to nobody

[2018-02-15 04:10] joelzamboni commented on #36129
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
https://github.com/ansible/ansible/blob/218f008dabe9f4e77899c1fd333a20f161519d8c/lib/ansible/plugins/filter/core.py#L302

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Installed passlib

##### OS / ENVIRONMENT
Linux (Ubuntu) & MacOS

##### SUMMARY
I need to create a bcrypt hash and I am using the filter. The `passlib` function calls it bcry

[2018-02-15 04:42] ganeshrn commented on #36204
@ajayreddy28390
Please try running with python version 2.7 activated on the control node, network modules are not yet fully py3 complaint.

[2018-02-15 06:15] #35766 closed, assigned to nobody

[2018-02-15 06:17] trishnaguha commented on #36186
@mikewiebe interesting. setting hostname with nxos_config works fine for both transport for us.
Can you share the response `show version | json` and `show inventory | json` of the device that caused this?
I think that the error might have been triggered by https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/cliconf/nxos.py#L32

[2018-02-15 06:18] jannsuom opened #36223 "wait_for does not catch exception thrown by socket.recv"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
wait_for

##### ANSIBLE VERSION
ansible 2.3.0.0

##### CONFIGURATION
Vanilla

##### OS / ENVIRONMENT
CentOS Linux release 7.3

##### SUMMARY
When using wait_for if socket dies during the socket.recv it will throw socket.error exception failing the module.
This is an occasional problem. The workaround is to use register, until, and retries.

####

[2018-02-15 06:32] richlv opened #36224 "zabbix module documentation missing"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
zabbix

##### ANSIBLE VERSION
latest

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
several zabbix module docs return 404

##### STEPS TO REPRODUCE
go to http://docs.ansible.com/ansible/devel/module_docs/list_of_monitoring_modules.html , click on all of the zabbix module links

##### EXPECTED RESULTS
they all work

[2018-02-15 06:54] DFazeli opened #36226 "skip some task with prompt in ansible"
please explain me. How can I access to answer one prompt on another server? `my hosts`:
[code]
I have one role and my `tasks/main.yml` is:

[code]
when I execute this role, only first server skip `MySQL.yml` and to another server execute `MySQL.yml`.

I want if the user enters `no` for answer prompt,‍‍`MySQL.yml` does not execute for any server. but when I enter no It will be installed again!!

[c

[2018-02-15 07:35] gundalow commented on #18183
In `stable-2.5` and later we ensure that names & aliases in argspec & DOCUMENTION match.

We are not checking:
* defaults
* choices
* type: bool #may not care about this

I'm sure the above would spot more issues. Though name & aliases catches documentation being missing which is the big win.

@mattclay @sivel what do you think about checking more?

[2018-02-15 07:43] ghost opened #36227 "nxos_config errors when piped to json"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_FORCE_COLOR(/mnt/hgfs/Share/HCS/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/mnt/hgfs/Share/HCS/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=30s
DEFAULT_GATHERING(/mnt/hgfs/Share/HCS/ansible.cfg) = explicit
DEFAULT_HOST_LIST(/mnt/hgfs/Share/HCS/ansible.cfg) = ['/mnt/hg

[2018-02-15 08:04] vdweij commented on #36157
From that perspective it makes sense.

[2018-02-15 08:33] MonsieurCellophane commented on #36161
This also happens on V 2.4 (only difference being the deprecation warnings)

[2018-02-15 08:48] CayoM opened #36229 "Ansible cant manage multiple encrypted passwords in vars-file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-change
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']
DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/modules']
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles']
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg)

[2018-02-15 09:51] vkakhnych commented on #36167
In prod it using on RHEL6, so I can easily reproduse on Centos6. Unfortunately I can't use ansible 2.5 there because PyNaCl-1.2.1.tar.gz require there cffi>=1.4.1. I use EPEL repo version 2.4.2.0.

hosts:
[code]
get.yml:
[code]
Let's go:
$ls -al /tmp/tmp*
[code]
$ ansible-playbook -vvv -i hosts get.yml
ansible-playbook 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search pat

[2018-02-15 11:14] dagwieers opened #36230 "aci_domain_to_encap_pool: Issues with VXLAN and VSAN"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci_domain_to_encap_pool

##### ANSIBLE VERSION
v2.5

##### SUMMARY
We identified a problem with the **aci_domain_to_encap_pool** module which seems to only work with VLAN encapsulation, not VSAN or VXLAN.

A modified version with integration tests (#36217) which ought to fix the fact that it only worked with VLAN seems to show issues with *vmm:

[2018-02-15 11:14] dagwieers commented on #36230
cc @rsmeyers @nilloBE

[2018-02-15 11:27] rsmeyers commented on #36230
I would prefer we don't have this module as earlier communicated and use dedicated modules.., that will also make testing and scope of issues easier

[2018-02-15 11:38] SnehitR commented on #26739
@cyrilsebastian - I was trying the same and got some issue .
Could you like to help me please.

[2018-02-15 11:56] jstoja commented on #33027
After migrating from stable-23 to stable-24, I get that issue. It appears only with ansible-console though.

[2018-02-15 12:02] AlanCoding commented on #36177
- use the inventory example that has `group_vars/` folder which sets variables for the `ghost` group, but does not define the group in the inventory
 - add a host to the `ghost` group (by your wording, I'll say this is a new group)
 - check the hostvars of the new host

The host that was added contains the group variables, of the group which was not in the inventory, because as you say, the group_

[2018-02-15 12:36] trishnaguha commented on #29522
As discussed @mikewiebe is going to work on this issue. Thanks.

[2018-02-15 12:48] gundalow commented on #36150
Excellent, glad you got it working. If there is anything else feel free to join in `#ansible-network` or `#ansible-devel` at anypoint

[2018-02-15 12:49] maxkrylov commented on #20579
+1 for packages modules (yum, apt) progress bar, very nice to have it)

[2018-02-15 13:14] stingus commented on #35653
Closed, the module wasn't installed on target.

[2018-02-15 13:14] #35653 closed, assigned to nobody

[2018-02-15 13:29] gundalow commented on #36224
Hi,
We are in the process of rolling out a new documentation structure and the redirects are not live yet.

The correct link is http://docs.ansible.com/ansible/devel/modules/list_of_monitoring_modules.html which works

[2018-02-15 13:29] #36224 closed, assigned to nobody

[2018-02-15 13:33] gundalow commented on #18179
This has been live for sometime, closing

[2018-02-15 13:33] #18179 closed, assigned to nobody

[2018-02-15 13:34] Rahul-CSI opened #36234 "Need gce_img_facts module to get Google images information."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
!component

##### ANSIBLE VERSION

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Currently we do not have a way to retrieve the info of images.
We wish to know existing/available images with their properties.
Hence there is a need to have gce_img_facts module.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

We wish to h

[2018-02-15 13:39] kwanlowe commented on #34992
@zikalino Thank you for looking at this.

Maybe related, I noticed that the location default for azure_rm_networkinterface defaults to that of the resource group rather than the subnet. The RG is not location specific though, so it's possible to have an EastUS2 subnet in an EastUS RG. As 'location' is an optional field this will generate a resource not found error. Possible to make this pull the s

[2018-02-15 13:41] nkakouros opened #36235 "include_vars hungs if included file is bad formatted"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
include_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Arch linux latest

##### SUMMARY
If the included file has a bad format, then include_vars may hung.

##### STEPS TO REPRODUCE

playbook.yml:
[code]
vars.yml
[code]

##### EXPECTED RESULTS

Ansible should exit with error.

##### ACTUAL RESULTS

Ansib

[2018-02-15 13:42] gundalow commented on #18180
If enabled this currently throws the following errors
[code]

Which I assume a because basic is imported via something else in `module_utils`.

Given we've blocked wildcard imports not sure if this check gives us anything.

[2018-02-15 13:44] CayoM commented on #36229
update:

if i instead of inserting single vault-encrypted just encrypt the whole file vars/mgmt_vault.yml it works.
So it seems its not possible to mix multiple unencrypted and encrypted variables in the same vars_file.

is this meant to be like this?

[2018-02-15 14:02] trishnaguha commented on #36227
@epicdean Thanks for the bug report. Please give the PR a try and let us know if it fixes the issue https://github.com/ansible/ansible/pull/36236

[2018-02-15 14:03] trishnaguha commented on #36186
@mikewiebe A workaround for this https://github.com/ansible/ansible/pull/36236. Please give it a try and let us know.

[2018-02-15 14:14] alxmartinez commented on #30833
I'm on ansible 2.4.2.0
Setting
   "state: draining"
give me the error
   "value of state must be one of: enabled,disabled,drain, got: draining"

So i try
  "state: drain"
and I get
  'bool' object is not callable'

Should't this be fixed as per above?

[2018-02-15 14:34] gundalow commented on #18186
Don't believe we've seen this issue since Ansible 0.3, so don't think it's worth spending any time on this, so closing it

[2018-02-15 14:34] #18186 closed, assigned to nobody

[2018-02-15 14:59] bcoca commented on #20579
basically a subset of this https://github.com/ansible/proposals/issues/92, first it requires Ansible to have an 'updates from modules framework' and then each module/action needs to use it.

Closing in favor of the proposal.

[2018-02-15 14:59] #20579 closed, assigned to nobody

[2018-02-15 15:03] ahotzler opened #36237 "module timezone doesnt work with SLES11SP4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

timezone module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

Ubuntu 17.10

##### SUMMARY

timezone module produces an error when used on SLES 11 (SP4)
It seems that the module searches for "ZONE" in /etc/sysconfig/clock, but in SLES11 the parameter is named "TIMEZONE" (found in line 356 in timezone.py), ther

[2018-02-15 15:09] #33259 closed, assigned to nobody

[2018-02-15 15:11] #36121 closed, assigned to Qalthos

[2018-02-15 15:23] mattclay commented on #18180
I agree, it looks like we don't need to enable this.

[2018-02-15 15:25] bcoca commented on #36177
adding a host to a group, creates that group, at that point the group 'Is defined'

[2018-02-15 15:28] dagwieers opened #36240 "References from module docs to docsite guide"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs

##### ANSIBLE VERSION
v2.6

##### SUMMARY
I am looking for a simple way to reference the ACI guide from each individual ACI module (inside e.g. a note).l

I also would like to reference the ACI module index from the ACI guide, but there's currently no anchor added for internal references for each module-section.

[2018-02-15 15:30] RazZziel commented on #10093
This issue is still very present in Ansible 2.3.0.0

When I try to change the encoding of an existing database, I get a "ok", not a "changed" and not even a "warning"

I managed to change the encoding manually, **without** dropping the database, just by running `ALTER DATABASE database_name CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;`

[2018-02-15 15:34] dagwieers opened #36241 "Add "Edit on Github" to module documentation too"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
module docs

##### ANSIBLE VERSION
v2.6

##### SUMMARY
I think it would be equally neat to have an "Edit on Github" link in the module documentation, bringing you to the Github code tree module file. So people can simply make the required changes and turn it into a PR.

[2018-02-15 15:44] #23949 closed, assigned to rcarrillocruz

[2018-02-15 15:45] sivel commented on #18183
@gundalow I'd love to add some more tests.

Your recommendations sound easy enough to implement.

[2018-02-15 15:51] bcoca commented on #36226
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-02-15 15:51] #36226 closed, assigned to nobody

[2018-02-15 15:51] ryansb commented on #27916
Followed up with https://github.com/ansible/ansible/pull/36058

[2018-02-15 15:59] bcoca commented on #36161
expected as the tags in this case apply to the 'included tasks' not to the include itself, in 2.5 we have made that behaviour only apply to `import_X`

[2018-02-15 16:02] bcoca commented on #36161
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2018-02-15 16:02] #36161 closed, assigned to nobody

[2018-02-15 16:02] childnode opened #36243 "docker_container - doesn't work for changed configuration if configuration has been partially purged"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

[code]

but as I see the code in doubt is the same for ansible 2.4 and 2.5

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
using the docker_container playbook, it ignores changes in ENV if only a ENV has been deleted from the list.
It re-creates the container, if an env has b

[2018-02-15 16:07] Qalthos commented on #35902
That was my first thought, but AFAIU, `Popen()` with `shell=False` only searches $PATH for the first parameter, so we'd have to locate and provide the full path to `ansible-connection`. There doesn't seem to be a built-in way to search $PATH, but I might be missing something

[2018-02-15 16:09] alikins commented on #33027
There apprears to be a redundant call to setup_vault_secrets() in ansible-console, one of which doesn't turn off auto_prompt. Fix appears to be just removing the redundant/incorrect setup_vault_secrets() call.

[2018-02-15 16:20] vkakhnych commented on #36167
Just checked on the development version on Ubuntu 16.04. It works fine here:

[code]

[2018-02-15 16:30] webknjaz commented on #28553
How about taking version from git tag?

[2018-02-15 16:33] drmrd commented on #30833
@alxmartinez My PR #30947 is still open, so the bug is present in 2.4.2.

[2018-02-15 16:37] vkakhnych commented on #36167
Just checked these branches:
[code]

Looks like issue has been fixed between `v2.4.3.0-1` and `v2.5.0a1` branches.
So waiting for v2.5 in official repoes.

[2018-02-15 16:48] mattiasb commented on #20379
@gonoph Thank you! While it's a hack it allowed me to continue with my playbook.

[2018-02-15 16:51] jeid85341 opened #36248 "why doesnt my .profile doesn't load in the same -name"
- name: load the profile and check the status
     command: "{{ item }}"
     with_items:
         - sh ~/.profile
         - sh mycommand.sh parameter
     register: details

why doesnt my alias which was defined in .profile doesnt get called/resolved in the second script,
I was thinking this should all run in a single shell. please help

[2018-02-15 16:56] sivel commented on #36248
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-02-15 16:56] #36248 closed, assigned to nobody

[2018-02-15 17:25] angapov commented on #28797
Hi, I added a very simple and straightforward fix to this issue. Now it is possible to specify 'id' in parameters for os_port module.

[2018-02-15 17:47] #18036 closed, assigned to nobody

[2018-02-15 17:59] jamesmarshall24 commented on #27299
bot_status

[2018-02-15 18:02] jctanner commented on #27299
bot_status

[2018-02-15 18:10] angapov commented on #32741
I think I already fixed that in above PR. Please take a look.

Example playbook:
[code]
Output: well, it gives a very long list of images in my Openstack.

[2018-02-15 18:41] jctanner commented on #27299
!component =lib/ansible/plugins/filter/json_query.py

bot_status

[2018-02-15 19:06] nitzmahone opened #36255 "WinRM kerberos automatic ticket creation fails on Python3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
winrm.py

##### ANSIBLE VERSION
2.4.3

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
Windows target

##### SUMMARY
Using kerberos automatic ticket creation fails under Python3 due to a bytes/text concatenation issue.

##### STEPS TO REPRODUCE
Connect to a Windows host from Ansible via Kerberos, specifying username/password under Python3.

####

[2018-02-15 19:10] samdoran commented on #36057
It behaves properly in `devel`:

[code]

I'll work on backporting a fix to `stable-2.4`.

[2018-02-15 19:21] #31693 closed, assigned to nobody

[2018-02-15 19:36] jborean93 commented on #36255
I believe this was fixed in 2.5 but the Pr the fixed it added a new feature so wasn’t backported. The commit for it is https://github.com/ansible/ansible/commit/92e52ef5154fc78758cbc3bbb3edac95d81f46e0#diff-4027b6fb84a6b8cdcd2ae5a0d348998d

[2018-02-15 19:51] martydelaney3 commented on #34927
Sorry for the delay on this.
I was able to fix the issue I was having by updating my libcloud release.

The issue was fixed in libcloud version 2.0.0:
[GOOGLE] Fix GCENodeDriver.ex_get_volume() when zone param is of class GCEZone or NodeLocation [GITHUB-1047] (Francisco Ros)
[GOOGLE] Fix call to GCENodeDriver._ex_populate_volume_dict [GITHUB-1046] (Francisco Ros)

You will need to update to at lea

[2018-02-15 20:31] martinbydefault commented on #22189
Leaving a reference here for anyone looking for the resolution of this issue: http://docs.ansible.com/ansible/devel/modules/ovirt_vms_module.html (The link is to the devel docs since 2.5 is still in beta).
`cloud_init_persist` option added in version 2.5

[2018-02-15 20:33] bcoca commented on #36167
closing as per above

[2018-02-15 20:33] #36167 closed, assigned to nobody

[2018-02-15 20:40] #33027 closed, assigned to alikins

[2018-02-15 20:46] IPvSean opened #36262 "vyos_l3_interface aggregate can't handle more than 1 IP address per interface"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vyos_l3_interface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
If there is multiple IP addresses configured for an interface like this->
[code]

**WHY?** It is really common to have multiple IP addresses on the same port, especially in the case of the loopback interface (127.0.0.1 and a

[2018-02-15 20:49] samdoran commented on #36145
Fixed by PR #35762.

Thank you for your contribution!

[2018-02-15 20:49] #36145 closed, assigned to nobody

[2018-02-15 21:01] IPvSean commented on #36262
I actually tested the code... its a bit worse than I thought, look at this output->

The following python portion->
[code]
outputs this->
[code]

[2018-02-15 21:10] bcoca commented on #35902
you do know the path to the 'current cli executable' which we can assume is the same path to ansible-connection, we do this elsewhere with pull/playbook iirc,

[2018-02-15 21:12] IPvSean commented on #36262
@rcarrillocruz would it be acceptable to "cheat" and use the setup module to specifically grab information about the interfaces?  That way we would get information like this->

[code]

without having to screen scrape?  We can't do it on ios, but not sure why we can't here.

[2018-02-15 21:34] samdoran commented on #36171
This is common in programming languages, but Ansible playbooks are not a programming language. I understand your use case, however, the way that Ansible handles variables does not allow for self referencing. Enabling this behavior would take a lot of refactoring of how Ansible handles variables and at what point they are available during play execution.

Please feel free to stop by IRC in #ansible

[2018-02-15 21:34] #36171 closed, assigned to nobody

[2018-02-15 21:44] samdoran commented on #36194
cc @bcoca @sivel

[2018-02-15 22:01] bcoca commented on #20886
This was fixed by adding a call to _remote_expand_user in  before calling mkdtemp in #20486, it temporarily regressed when the function was updated, but that was also fixed. As such i'm going to close this issue, feel free to reopen or ping us if you find it not to be the case.

[2018-02-15 22:01] #20886 closed, assigned to nobody

[2018-02-15 22:07] woqer commented on #28191
Did this ever got fixed?

[2018-02-15 22:14] #35826 closed, assigned to nobody

[2018-02-15 22:14] bcoca commented on #25831
per host configurable 'system temporary dirs' were added in #31677, so now you should be able to configure a 'writeable directory' for ansible to use.

[2018-02-15 22:14] #25831 closed, assigned to nobody

[2018-02-15 22:16] bcoca commented on #22203
fixed via #31677 which made system temp dirs configurable

[2018-02-15 22:16] #22203 closed, assigned to bcoca

[2018-02-15 22:18] bcoca commented on #18391
fixed via #31677, which adds fine grained configuration for remote temps and admin users

[2018-02-15 22:18] chrisweaver commented on #29965
FYI I am using the following workaround for Tags:

[code]

[2018-02-15 22:19] bcoca commented on #11937
fixed via #31677

[2018-02-15 22:19] #11937 closed, assigned to nobody

[2018-02-15 22:19] damobrisbane commented on #8520
Yeh, grappling with the same moronic issue and lack of action - as articulated two years ago - for broken command line output. Raise issue, do what in what new system??

[2018-02-15 22:19] #35772 closed, assigned to bcoca

[2018-02-15 22:19] chrisweaver commented on #29965
... however I am seeing the same issue with Listeners.  The above workaround adapted for listeners *does not work*:

[code]

So I can't use this module.

[2018-02-15 22:20] bcoca commented on #28318
fixed via #31677, take note that async tasks still use an independant 'async status dir' which is also now configurable.

[2018-02-15 22:20] #28318 closed, assigned to bcoca

[2018-02-15 22:21] bcoca commented on #29019
fixed via #31677

[2018-02-15 22:21] #29019 closed, assigned to bcoca

[2018-02-15 22:28] ddowsett opened #36269 "SSH Error: data could not be set to host, host unreachable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_command

##### ANSIBLE VERSION
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.6/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.6.6 (r26

[2018-02-15 22:32] sivel commented on #8520
The proper way to achieve the goal of getting JSON from ansible on the CLI is to use the `json` stdout callback plugin.  The default output is not designed to be machine parsable.

#### via ansible (adhoc):

[code]

#### via ansible-playbook:

[code]

It may also be useful to set `ANSIBLE_COMMAND_WARNINGS=0` and `ANSIBLE_RETRY_FILES_ENABLED=0`

These configurations can also be set in an `ansible.c

[2018-02-15 22:41] cheng93 opened #36270 "azure_rm_virtualmachine deserialization error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

- azure_rm_virtualmachine
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Arch Linux

##### SUMMARY

Deserialization error against the python sdk when attempting to create a virtual machine.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

VM gets created
##### ACTUAL RESULTS

[code]

#### Extra info

[2018-02-15 22:45] sivel commented on #28191
This is a result of some complicated interactions between jinja2 (used for templating) and ansible.  jinja2 was designed to only return strings, and not python data types.  As a result we take some liberties in trying to convert strings that look like python data structures to actual python data structures.

As a result, using `when: "{{ my_var | default(True) }}"` causes an unexpected result.  I

[2018-02-15 22:45] #28191 closed, assigned to samdoran

[2018-02-15 23:10] kbreit commented on #35881
@anchat1990 The documentation currently says:

"Whether to install (present or install, latest)..." which to me indicates it is an alias. Do you have a suggestion on how it should be phrased instead?

[2018-02-15 23:24] geerlingguy commented on #29740
Subscribing. Would like to see this happen too :)

[2018-02-15 23:25] oupala commented on #18935
You're right @lewer, this is strange.

On the first execution, I get an `ok` where I should get a `changed` one (because the database **does not exist**, hence the file `{{ app_install_path }}/database.sqlite3` **does not exist** either).

[code]

While on the second execution, I get an `ok` where I should get a `skipped` one (because the database **does exist**, hence the file `{{ app_install_pat

[2018-02-15 23:27] martydelaney3 opened #36272 "gce_tag module fails intermittently with "IndexError: list index out of range""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - gce_tag module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/work/ansible/git/ansible/ansible.cfg) = True
CACHE_PLUGIN(/work/ansible/git/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/work/ansible/git/ansible/ansible.cfg) = /work/ansible/cache
CACHE_PLUGIN_TIMEOUT(/work/ansible/git/ansible/ansible.cfg) =

[2018-02-15 23:42] anchat1990 commented on #35881
@kbreit thank you for the reply, and apologies,
I have already submitted a PR here:
https://github.com/ansible/ansible/pull/35882

[2018-02-16 00:06] lachlancooper commented on #29260
Regarding the issue with `rabbitmqctl change_password` reporting, could we at least implement this as described and always assume a change? We could then send a feature request upstream and add support to ansible when or if it is addressed.

Managing rabbitmq user credentials in ansible is currently impossible without `force=yes`, which is far from ideal. Having the option to merely set the passwo

[2018-02-16 00:12] clvx opened #36274 "include_role overrides variables from previous role"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### container.yml

[code]
##### COMPONENT NAME
lib/ansible/modules/utilties/logic/include_role.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

[code]
##### SUMMARY

include_role doesn't reads variables from role `dummy1` instead of `dummy2`. In this case `role_location` is defined in `dummy1` but not in `dummy2`.

##### STEPS TO R

[2018-02-16 00:21] MartinNowak opened #36275 "python ansiballz replacement for faster core modules"
Performance issues have been reported a couple of times, but the fundamental design issue responsible for slow playbooks apparently hasn't been addressed nor even been mentioned.
In fact the switch to AnsiballZ made the problem even worse.
Ansible is clearly the simplest IT automation solution due to it's agent-less mode, but the slow execution makes it tough to stick with Ansible.

Here is a reas

[2018-02-16 00:27] sivel commented on #36275
Any solution to switch modules away from python is going to be a non starter.

[2018-02-16 00:33] MartinNowak commented on #36275
For what reason? Lack of non-Python developers?

That was just one possible approach, caching unpacked python modules on the target would at least remove the zip/b64/b64d/unzip overhead, but still leave interpreter startup and loading.

[2018-02-16 00:47] oupala commented on #18935
I also tried the same call which returns a `400 Bad Request` response but ansible still returns the task status as `ok`.

It seems that the task status is **always** `ok`.

[2018-02-16 00:48] oupala commented on #18935
@sivel I tried the solution you gave me on [comment 265579374](#issuecomment-265579374), but I get an error!

[code]

[2018-02-16 00:50] naseemaljaradi opened #36277 "Ansible win_updates Timed out waiting for scheduled task to start"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
windows_updates

##### ANSIBLE VERSION
2.4.3.0

##### SUMMARY
**Error:**
[code]
**win_update.yml:**
get windows update from online
[code]
**ansible_log.txt:**
[code]

[2018-02-16 01:03] bcoca commented on #36275
you can use non python modules right now, Ansible works with interpreted and compiled language that can produce a module that accepts and returns the expected JSON.

[2018-02-16 01:10] naseemaljaradi commented on #36277
Ansible version: 2.4.3.0
Issue Type :  Bug Report
component name: win_updates

[2018-02-16 01:26] tf42src opened #36278 "Ansible uses global python executable instead of venv."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/modules/cloud/amazon/s3_bucket.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Ansible uses global python executable instead of venv. Boto is installed in the venv but not globally.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Creating the S3 bucket.

##### ACTUAL RES

[2018-02-16 02:11] damobrisbane commented on #8520
Thanks for the great explanation, I jumped the gun a bit with my frustration...

[2018-02-16 03:01] #35738 closed, assigned to nobody

[2018-02-16 03:32] lachlancooper commented on #29260
I have created a PR that adds this feature.

Further to my last comment, we can actually test whether the provided password needs changing using `rabbitmqctl authenticate_user`. There's no need to send a feature request upstream.

[2018-02-16 04:04] #36146 closed, assigned to nobody

[2018-02-16 04:26] unreality opened #36284 "netconf module does not respect ansible_ssh_common_args"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
netconf
junos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When attempting to use jump hosts with a netconf host (i've only tested with JunOS, but im assuming all modules that rely on the netconf module), the netconf module does not examine ansible_ssh_common_args, a

[2018-02-16 04:40] Akasurde commented on #33867
resolved_by_pr #36271

[2018-02-16 05:11] #32869 closed, assigned to nobody

[2018-02-16 05:37] dscout87 opened #36286 "os_auth periodically return incorrect token"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_auth

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When I get auth token from keystone (fernet), it length basically 226 characters and looks like
[code]
but some times, I get incorrect tokens with 232 characters and it include eight asterisks "********", somtimes double time (length 238

[2018-02-16 06:18] #31346 closed, assigned to ganeshrn

[2018-02-16 07:26] fadishaar84 opened #36290 "failed to Deploy the dataset and NBIS software using ansible-playbook ../{software,dataset}.yml"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-02-16 07:41] Akasurde commented on #35946
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-02-16 07:41] #35946 closed, assigned to nobody

[2018-02-16 08:03] quulah commented on #25142
Would it be possible to add any options to the gem install command? Pass in an array of options.

I have a use case which requires using `--local` for example, but there's a lot of other options as well.

There's already the build_flags parameter for the gem module but that doesn't quite cut it.

[2018-02-16 08:14] Akasurde commented on #36030
@umrikar Could you please check above patch and let me know if it works for you ?

needs_info

[2018-02-16 08:21] MonsieurCellophane commented on #36161
@bcoca If the behavior is indeed correct than it should _always_ be present, not only when 'with_items' is present. Comment it out in the example given, and the include task is no longer selected.

For what it's worth, I think this behavior defies the minimal surprise principle and I am therefore removing 'include'  anywhere tags are used - inconvenient though it is, because (unless it has been ch

[2018-02-16 08:39] alxmartinez commented on #30833
Hi @drmrd - thanks.  Would you have any idea when it would be expected to have this bug fix go into later versions? Is it unusual that a bug fix doesn't propagate forward?

[2018-02-16 08:52] #35881 closed, assigned to nobody

[2018-02-16 08:53] Akasurde commented on #35881
@anchat1990 Thanks for your contribution.

[2018-02-16 08:53] chrisgahlert commented on #23675
It took me quite a bit of searching to understand what has changed here:
The final hint came from #22729:

It seems like, when skipping a task, the output is registered nevertheless - but being empty. That means:

**Old way:**
`when: myoutput is defined and myoutput.stdout != ''`

**New way:**
`when: "'stdout' in myoutput and myoutput.stdout != ''"`

Hope this helps someone else in desperate need

[2018-02-16 09:03] MartinNowak commented on #36275
I know and it's mentioned above.

It's already possible to override built-in modules with custom binaries. What's really missing is binary caching and using a single binary for multiple modules (could maybe be done via symlink on target).
Most people run x64 linux servers anyhow, so support for other platforms could be defered and initial development could be done entirely as an optional module pl

[2018-02-16 09:31] danil-smirnov opened #36293 "Add support for Timeout (--timeout-in-minutes) parameter in Cloudformation module"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

Cloudformation module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

I believe this is a bug, that Ansible Cloudformation module does not support important Timeout parameter (--timeout-in-minutes key in aws-cli 'create-stack' call).

(Documentation:
https://docs.aws.amazon.c

[2018-02-16 09:38] mhow2 opened #36294 "apt: autoremove / upgrade does nothing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
"ansible-config dump --only-changed" provide no output

##### OS / ENVIRONMENT
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.3 LTS"

ansible 2.4.3.0-1ppa~xenial

##### SUMMARY
autoremove and upgrade doesn't apply anything (only simulates)

[2018-02-16 09:38] mkrizek commented on #36229
cc @alikins

[2018-02-16 09:43] mkrizek commented on #36290
@fadishaar84 can you post the task that is failing here? The output you included in the description says `E: There are problems and -y was used without --force-yes` which might be the cause of the failure.

needs_info

[2018-02-16 09:48] ogenstad commented on #34175
I ran into this while testing, would almost consider this to be a but within ACI.

[2018-02-16 10:07] dagwieers commented on #34175
Yeah, it would be better if the APIC would be more liberal to what it accepts, however the documentation explicitly mentions this, so I doubt the vendor will be fixing this.

[2018-02-16 10:09] mhow2 commented on #36294
Arg ! There was a --check on the ansible-playbook command line ! Sorry.

[2018-02-16 10:09] #36294 closed, assigned to nobody

[2018-02-16 10:15] #34560 closed, assigned to nobody

[2018-02-16 10:24] heartsucker commented on #18559
Adding a note here. This feature would be very useful for CI scenarios where we want to be forced to deal with deprecations immediately instead of letting them build up in our codebase.

[2018-02-16 10:41] childnode commented on #36243
gist with reproducing code added

[2018-02-16 10:49] #33867 closed, assigned to nobody

[2018-02-16 10:55] dagwieers commented on #34175
@ogenstad I wanted to document this issue better and tried to reproduce this, but no longer can with the examples I come up with. Would you happen to have a reproducer for this ?

[2018-02-16 11:02] dagwieers commented on #34175
I improved the documentation for the case where `children` was provided, but no (empty) `attributes` was set. I also fixed an issue with the **aci_rest** error handling that was recently introduced.

[2018-02-16 11:36] ogenstad commented on #34175
Ok, I hear you perhaps just a strange design choice.

I would say just fail with a more meaningful error message.

[2018-02-16 11:52] ogenstad commented on #34175
@dagwieers, got an email with a request for an example playbook. Can't find it here now..

Anyway with this playbook:
[code]

The VRF data variable looks like this:
[code]

Removing the attribute key makes it fail.

[2018-02-16 11:59] netsandbox opened #36297 "PR #19712 merge in 2.3-stable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/system/service

##### ANSIBLE VERSION

[code]

##### SUMMARY
PR #19712 was tagged `affects_2.3` but was never merged in branch `stable-2.3`, only in `stable-2.4`.
Any chances to get this in 2.3?

[2018-02-16 11:59] ssbarnea opened #36298 "Allow shell args removes to support lists"
##### ISSUE TYPE

- Feature Request
~~- Bug  Report~~
##### COMPONENT NAME
shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
##### OS / ENVIRONMENT
NA

##### SUMMARY
It seems that shell module fails to correctly evaluate the removes parameter when this one is either a list or a glob pattern, it always evaluates it a single string.

This behaviour introduces bugs and the workarounds are ugl

[2018-02-16 11:59] valerio-gr commented on #35493
@mkrizek,
if that's not considered a bug. Can I change this to a Feature Request?
Maybe have a debug or loop control option to set (e.g. quiet: yes) to avoid the printout on screen of the item.
Basically what is printed on screen, should just be the content of the msg variable and not the items through which the loop is done (that can be include in msg if required btw).

[2018-02-16 12:06] jpaulovic opened #36299 "Using with_first_found loop with copy_module and remote_src doesn't look for files on remote host."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy_module + with_first_found

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[DEPRECATION WARNING]: ACCELERATE_TIMEOUT option, Removing accelerate as a connection method, settings not needed either. . This feature will be removed in version 2.5. Deprecation warnings can be disabled by
setting deprecation_warnings=False in ansible.cfg.
[DEPR

[2018-02-16 12:13] dagwieers commented on #34175
Well, we don't want to add logic to **aci_rest** to catch specific errors, and return our own version of the error message. The **aci_rest** module is a low-level module, and should reflect the communication from the APIC.

There are very good reasons for this:
- Any change on the APIC side would not be reflected in **aci_rest** if e.g. the error message would subtly change
- Providing support wou

[2018-02-16 12:32] childnode commented on #36243
hey, this has already been fixed in stable tree for 2.3 with https://github.com/ansible/ansible/commit/bf94109adeb2971f448afaebdeffd93244c8cbe4 and for other branched in https://github.com/ansible/ansible/commit/cb3026f76949a0f03f133c56a772d1dc7a897837

https://github.com/ansible/ansible/blame/stable-2.3/lib/ansible/modules/cloud/docker/docker_container.py#L1290

in 2.4 it has been reverted "fixed

[2018-02-16 12:36] selmison opened #36300 "Improving Inventory Foreman"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- contrib/inventory/foreman.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
 - Debian 8

##### SUMMARY
Why does the `_get_host_data_by_id` method in `contrib/inventory/foreman.py` use `api/hosts/:id` request instead of using `hosts/:id/enc request`?

If `_get_host_data_by_id` used the `hosts/:id/enc` request

[2018-02-16 12:38] dagwieers commented on #35041
If you are affected by this bug, there is a clever work-around (as hinted by @marinus81) you can implement in your playbook starting. Add the following to your aci_rest task:
[code]
This will only report a change when the APIC returns information.

[2018-02-16 12:47] ogenstad commented on #35041
@rsmeyers, has there been any update on this from Cisco? To me it seems like a simple bug to be fixed within ACI.

[2018-02-16 12:52] tux-84 opened #36301 "os_server_group module fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_server_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running playbook on: Linux 3.16.0-77-generic #99~14.04.1-Ubuntu
Module running on: Linux 4.4.0-112-generic #135-Ubuntu
##### SUMMARY

When running a playbook for creating a server-group using anti-affinity policy in an openstack enviroment, the module

[2018-02-16 13:22] d-vb commented on #36163
I can reproduce this.

[2018-02-16 13:25] agaffney commented on #36298
The `removes` param in the command/shell modules are evaluated with python's `glob` module, which uses `fnmatch`, which only supports basic (`*`, `?`, and `[]`) globbing patterns.

https://docs.python.org/2/library/glob.html
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/commands/command.py#L210

[2018-02-16 13:36] agaffney commented on #36298
It sounds like `shell` is working as expected. The docs only say that it supports globbing (which does work, just in a more limited way than a real shell) and say nothing about lists being supported. If this issue is a feature request for support for specifying lists, you should probably edit it to remove references to the globbing.

[2018-02-16 13:43] peerster commented on #29248
I'm also seeing this error:

[code]

This is the task that generates the error:
[code]

Debug info
[code]

[2018-02-16 13:58] rsmeyers commented on #35041
we are working with engineering on this and evaluating possible fixes in the code

[2018-02-16 14:04] Nitesh-vaidyanath opened #36304 "ERROR! ansible-vault requires a newer version of pycrypto than the one installed on your platform"
##### ANSIBLE VERSION
ansible-vault --version
ansible-vault 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/parsing/vault/__init__.py

##### OS / ENVIRONMENT
ubuntu 16.04

##### SUMMARY
pycrypto an

[2018-02-16 14:30] jzielke-nli commented on #36301
Refering to https://github.com/ansible/ansible-modules-extras/issues/2893:

I can execute the nova create-server-group command just fine manually so it's not a problem within the nova client nor in the configuration of openstack itself. This has to rely in an incompatiblity between shade and the module.

Shade on ubuntu 16.04 has the module:
[code]

While pip servers a much newer version. However

[2018-02-16 14:43] sivel commented on #36275
We have had an internal discussion, and have decided that at this current time we are going to close this issue.

We do have plans to evaluate some other methods, and plan to have discussions.  As these discussions start to kick off, and we are prepared to begin engaging the wider community to solidify plans, we will reach out to you at that point.

If you have further questions please stop by IRC

[2018-02-16 14:43] #36275 closed, assigned to nobody

[2018-02-16 14:45] vdweij commented on #36157
Another reminder. Variables in roles are processed and made available further down the processing chain. The --skip-tags does indeed only skip tasks.

[2018-02-16 14:51] niko commented on #31377
Same issue here. It only occurs when I configure `log_options` like this:

[code]

Removed the log_options, container doesn't get restarted on each run.

[code]
[code]
[code]

[2018-02-16 14:55] miniwark opened #36305 "xml module: add an option to manage the xml declaration"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- xml module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
- From: Ubuntu 16.04
- Manage: Debian 9.2

##### SUMMARY
By default the xml module add the XML declaration line at the top of the managed file if this line is missing. This is probably a default behavior inherited from the `lxml` Python module.
The de

[2018-02-16 14:57] sivel commented on #36278
This is expected when using an explicit localhost listed in your inventory.  Instead of using an explicit localhost, you should use the implicitly provided localhost, as detailed at http://docs.ansible.com/ansible/devel/inventory/implicit_localhost.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.g

[2018-02-16 14:57] #36278 closed, assigned to nobody

[2018-02-16 15:08] ssbarnea opened #36306 "[WARNING]: Could not match supplied host pattern, ignoring: empty-group"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A
##### SUMMARY
It seems that ansible will always throw an warning if a host group is empty and there is no way to avoid getting this warning if the group is empty.

This goes even more verbose when list of groups is specified.

##### STEPS TO REPRODUCE

[code]

[2018-02-16 15:08] alikins commented on #36229
@CayoM What does the command line invocation look like?  Are you providing multiple vault passwords?

Are the vaulted values for 'vault_mysql_root_password' and 'vault_gogs_db_password' encrypted with the same vault password or different vault passwords?

Yup, should be able to. It should work for the case where all of the vaulted variables (the '!vault' content of 'vault_mysql_root_password' for

[2018-02-16 15:09] bcoca commented on #35493
testing your playbook with PR above:
[code]

[2018-02-16 15:11] ssbarnea commented on #32594
Currently there is no way to avoid getting this warning even for simple cases, so I ended up raising this as an individual bug at https://github.com/ansible/ansible/issues/36306

[2018-02-16 15:13] ssbarnea commented on #35255
Also raise at https://github.com/ansible/ansible/issues/36306

[2018-02-16 15:17] CayoM commented on #36229
@alikins i used the same vault-password-file to encrypt them manually. I copied the encrypted passwords then to the vars_file.

 ansible-vault encrypt_string --vault-id /etc/ansible/vault-files/mgmt.txt 'test123' --name 'mysql_root_password'
ansible-vault encrypt_string --vault-id /etc/ansible/vault-files/mgmt.txt 'blabla123' --name 'gogs_db_password'

another thing i notice:
 the variable
vault_p

[2018-02-16 15:22] sivel commented on #36299
`with_first_found` is a [lookup](http://docs.ansible.com/ansible/latest/playbooks_lookups.html), and as documented on the lookups documentation:

To get your expected outcome, you will need to use a `find` task, register the results, and then use those results to influence your `copy` task.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.n

[2018-02-16 15:22] #36299 closed, assigned to nobody

[2018-02-16 15:22] nerlion opened #36308 "force_handlers does not work when max_fail_percentage or any_errors_fatal is set"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

force_handlers
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles', u'/home/ans/ansgit/build/roles']
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.3
##### SUMMARY

##### STEPS

[2018-02-16 15:23] bcoca commented on #36306
Duplicate of #35255

[2018-02-16 15:23] #36306 closed, assigned to nobody

[2018-02-16 15:24] alikins commented on #36229
`vault_password_file` is only a configuration option (set in 'ansible.cfg') or command line option, it can't be set in a playbook.

[2018-02-16 15:25] bcoca commented on #36297
There are no plans for another 2.3 release, so it mostly defeats the purpose of merging it into the branch.

[2018-02-16 15:35] bcoca commented on #36161
that is the reason we are looking at deprecating `include` in favor of the 'less suprising' include_X and import_X tasks.

Blocks do allow for `with_items`, but they work like imports (both are 'compile time objects'), the tasks contained inherit the loop and it does not affect the block itself.

[2018-02-16 15:39] Qalthos commented on #35662
This should now be fixed in `devel`. Can you confirm?

needs_info

[2018-02-16 15:39] ogajduse commented on #29732
For testing, you can use Spacewalk server as it is upstream of Red Hat Satellite 5.

[2018-02-16 15:43] CayoM commented on #36229
i did some more testing here and found out the problem was related to the vault_password_file variable beeing set in the vars_file, which doesnt work. I got this missinformation from here: https://devops.stackexchange.com/questions/703/what-is-ansibles-config-equivalent-of-vault-password-file

after trying again with a dedicated vars_file/encrypted_vault.yml (which contains manually encrypted entr

[2018-02-16 15:44] #36229 closed, assigned to nobody

[2018-02-16 15:44] #35662 closed, assigned to Qalthos, rcarrillocruz

[2018-02-16 15:49] alikins commented on #36229
I added a repro of this scenario at https://github.com/ansible/ansible/compare/devel...alikins:vault_multi_36229

The branch above includes an example of using multiple vault passwords for different vars inside a vars file
(in https://github.com/alikins/ansible/tree/vault_multi_36229/test/integration/targets/vault/repro/multi_36229)

[2018-02-16 15:52] #36077 closed, assigned to mkrizek

[2018-02-16 16:00] cloos commented on #36297
@bcoca thats sad, because we have to stay on 2.3 because this is the last version thats support RHEL5 and we can't get rid of these RHEL5 hosts in a short time frame.

[2018-02-16 16:21] ephesused commented on #35666
In 2.5.0b2, this is resolved.  Thanks!

[code]

[2018-02-16 16:52] Akasurde commented on #20106
Closing this issue due to user inactivity. If issue persists, please feel free to re-open.

[2018-02-16 16:52] #20106 closed, assigned to jctanner

[2018-02-16 17:11] mmolinac commented on #27722
This remains an issue in 2.4.3

I should add some details that @guhcampos haven't cited.

Until Kibana 4.6.0 this was valid:

    kibana plugin --install sentinl/5.6.5 --url https://github.com/sirensolutions/sentinl/releases/download/tag-5.6.2/sentinl-v5.6.5.zip

Now it should be something like this:

- If you specify a URL:

[code]

- If you specify a plugin name (it doesn't exist in the repo, it

[2018-02-16 17:11] martydelaney3 opened #36312 "gce - new module for managing metadata in Google Compute Engine"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

gce module
gce_metadata module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/work/ansible/git/ansible/ansible.cfg) = True
CACHE_PLUGIN(/work/ansible/git/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/work/ansible/git/ansible/ansible.cfg) = /work/ansible/cache
CACHE_PLUGIN_TIMEOUT(/work/ansible/git/ansible

[2018-02-16 17:11] jackivanov opened #36313 "lightsail module fails if no parameter key_pair_name provided"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lightsail

##### ANSIBLE VERSION
[code]

##### SUMMARY
`key_pair_name` parameter marked as non required, but the module fails if no parameter provided.
It appears impossible to provision an instance without touching cli or console to create a keypair.
Another way to provision is to pass the key in the user_data, but anyway you need to specify t

[2018-02-16 17:24] martydelaney3 commented on #36312
I'm not a very experienced coder and this is almost entirely created from modifying the gce_tag module, but I think it could look similar to this.

`#!/usr/bin/python
# -*- coding: utf-8 -*-

# Copyright: (c) 2017, Ansible Project
# GNU General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/gpl-3.0.txt)

from __future__ import absolute_import, division, print_function
__metaclas

[2018-02-16 17:25] Akasurde commented on #36010
resolved_by_pr #36314

[2018-02-16 17:45] martydelaney3 commented on #36312
When attempting to call my above attempt it returns an error: "Unsupported metadata format."
I think that this is a good rough outline of what the module could be, but it needs to pull in the formatting and correct handling for metadata instead of just using the copy pasted tag information with names changed. I'm not sure how to do that but I think it likely has something to do with this section i

[2018-02-16 18:08] saichint opened #36317 "nxos_bgp_neighbor issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_bgp_neighbor

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I5(2)

##### SUMMARY

There are few issues with nxos_bgp_neighbor module.

1. timer parameters are not idempotent when set to default.
2. pwd and pwd_type are required together but the current code does not enforce

[2018-02-16 18:18] eterrazas commented on #36216
I'm having the same issue. The module should append any new entitlements not overwrite.

[2018-02-16 18:43] george-wilson-iproov commented on #33120
Sorry to piggypack on this given it's been long been patched - but is there any way this can be backported to the 2.4 series given the functionapp modules are both unusable without the patch?

[2018-02-16 18:59] jwitko opened #36321 "AWS Cloud EFS module creates additional instances even if ID is specified"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
efs

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When creating EFS instances the EFS module seems to be going exclusively on the `creation_token` fact, comparing it to the `name` parameter in the EFS module.  If I have an EFS instance that exists already and I specify a non-identical name b

[2018-02-16 19:12] thalesac opened #36324 "Feature Request: ec2_vpc_route_table creating a nat_gateway_id: nat-gw field in routes similar to gateway_id: igw"
##### ISSUE TYPE

 - Feature Idea
##### COMPONENT NAME

ec2_vpc_route_table

##### SUMMARY

Currently we have a convenient way for setting up a route to `0.0.0.0/0` and pointing to the default VPC internet gateway like:
[code]
You can find the relevant code that search for the igw at
https://github.com/ansible/ansible/blob/fd33dc6cd124d4c3e2fa8d0bed02b8379cf7e8b8/lib/ansible/modules/cloud/amazon/e

[2018-02-16 19:26] alexander-bauer opened #36326 "Use Keytab and Kerberos ticket for IPA module actions"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
IPA modules (`ipa_*`)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
FreeIPA allows its users to authenticate using a keytab in order to retrieve a Kerberos ticket, and then to use that ticket to perform other interactions with IPA, or login elsewhere. Currently, all of the `ipa_*` modules require a username and passw

[2018-02-16 19:35] wyzeman commented on #24082
This isnt idempotent either, but if you want to do it with ansible flavor style :

    copy:
       content: '4       4       1       3'
       dest: /proc/sys/kernel/printk
       unsafe_writes: yes

[2018-02-16 19:39] drmrd commented on #30833
@alxmartinez I'd guess it'll ship with 2.5, but I'm not sure.

@ravibhure, do you know if #30947 will make it into 2.5?

[2018-02-16 20:17] madisonb commented on #21065
Came across this issue trying to debug a very similar thing.

In our case, we were trying to insert a templated string that was a valid python dictionary into a configuration file, like so:

vars
[code]

templated python config file has within it:
[code]

Which resulted in a python dictionary being put into the template file, instead of our nice clean formatted string. Almost as if ansible convert

[2018-02-16 20:42] clintmod commented on #8520
@sivel when I run this in ansible 2.4.3.0 `ANSIBLE_LOAD_CALLBACK_PLUGINS=true ANSIBLE_STDOUT_CALLBACK=json ansible localhost -m ping` literally nothing get's output to the console.

[2018-02-16 20:46] joaocc opened #36330 "azure_rm_publicipaddress: 'PublicIPAddress' object is not iterable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_publicipaddress

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
macOS Sierra 10.12.6 running locally via ```ansible-playbook -c local -v ./pb.yml```

##### SUMMARY
When trying to create public_ip we get the following error:
[code]

##### STEPS TO REPRODUCE
[code]
[code]

##### EXPECTED RESULTS
We would e

[2018-02-16 20:47] woqer commented on #28191
Thank you, I guess using JSON syntax is the way to go. Still weird how jinja2, that only return strings, has the actual expected behaviour with booleans 🤷‍♂️

[2018-02-16 21:01] Qalthos commented on #35902
That sounds real promising, but I'm not having any success in finding such a thing. Could you point me in the right direction?

[2018-02-16 21:03] drew-kun commented on #36089
Ok, the problem was in the maximum number of ssh sessions allowed on the managed host.

First of all `become_user:` statement must be changed to `become: yes` (The `authorized_key` module needs the root access - it just can't execute os.chown(sshdir, uid, gid) without root access )

Another thing, seems like in order to do `authorized_key` task for each user, ansible opens additional ssh sessions.

[2018-02-16 21:03] #36089 closed, assigned to nobody

[2018-02-16 21:09] ephesused commented on #35666
I may have spoken too soon - it looks like there may still be an issue with the script module where the setfacl is called solely on the script itself, not on the housing directory.  Do you want that as a separate ticket, or should I re-open this one with the details?

[2018-02-16 21:11] sivel commented on #8520
Apologies, I forgot to include that this will be new functionality in v2.5.  2.5.0.b2 has been released.  For the release roadmap see: http://docs.ansible.com/ansible/devel/roadmap/ROADMAP_2_5.html

[2018-02-16 21:14] abadger commented on #35666
Separate issue please since it is probably a slightly different root
cause.  Feel free to reference this one though so that I know which one it
is.

[2018-02-16 22:03] cherdt opened #36333 "feature idea: include proxy option for pip module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

pip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The pip command includes an option to specify a proxy (see [pip - options](https://pip.pypa.io/en/stable/reference/pip/#general-options)). It would be useful to have this option in Ansible's pip module as well for hosts that require a pr

[2018-02-16 22:06] vasartori opened #36334 "aws_ec2 inventory plugin: support group by tag value"
##### SUMMARY

This version add a new functionallity to group hosts by value from tags (without 'tag_'). Is the same behaviour of openstack inventory (group by metadata vaue.

##### ISSUE TYPE

 - Feature Pull Request

##### COMPONENT NAME

- aws_ec2 inventory

##### ANSIBLE VERSION

[code]
##### STEPS TO REPRODUCE

Create a instance on aws, and use tags.

##### Additional Informations

Describe o

[2018-02-16 22:06] bwb83 opened #36335 "Ansible 2.5 ssh-common-args ignored."
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
ProxyCommand
##### ANSIBLE VERSION
[code]
##### CONFIGURATION
Ansible  2.5.0b2
DEFAULT_HOST_LIST(/home/ansible-user/ANSIBLE-PLAYBOOK/ansible.cfg) = [u'/home/ansible-user/ANSIBLE-PLAYBOOK/Hosts']
DEFAULT_TIMEOUT(/home/ansible-user/ANSIBLE-PLAYBOOK/ansible.cfg) = 5
DEFAULT_TRANSPORT(/home/ansible-user/ANSIBLE-PLAYBOOK/ansible.cfg) = paramiko
HOST_K

[2018-02-16 22:15] sivel commented on #36333
`pip` will utilize proxies if you set `HTTP_PROXY` and `HTTPS_PROXY` env vars.  Note the casing here.  `pip`, which uses `requests`, does not support `http_proxy` and `https_proxy` env vars which other applications do, it requires the env var names to be capitalized.

As such, you can execute the pip module like:

[code]

And it will work as expected.

If you have further questions please stop by

[2018-02-16 22:15] #36333 closed, assigned to nobody

[2018-02-16 22:30] sivel commented on #36335
I believe this is failing because you have supplied `ansible_connection=local`.

I believe this has recently been talked about in greater detail at https://www.ansible.com/blog/coming-soon-networking-features-in-ansible-2.5

Which indicates instead of using `ansible_connection=local`, you should now utilize `ansible_connection=netconf`

needs_info

[2018-02-16 22:45] chrisweaver commented on #29965
Persistence pays off... I got a working workaround.

First I am removing all tags, as mentioned above.  The ec2_elb_lb module then adds mine back on.

Unfortunately removing all listeners doesn't work, I get a similar error:
"Load Balancer named howdydoody already exists and it is configured with different parameters."

So I added tasks to remove the listeners then put "my" listeners back on.  Tha

[2018-02-16 22:55] bwbecraft commented on #36335
Thanks, but playbook runs without errors when the requirement to run through jumphost is removed and Ansible machine is permitted to run directly to host.

Originally noticed issue while using Ansible 2.4.3 and found ssh_arg ignored bugs.

[2018-02-16 23:03] sivel commented on #36335
Typically speaking `ansible_ssh_common_args` applies to the connection type of `ssh` or `paramiko`.  However historically there are some strange things that network modules had to do to work properly.  As you can see by your use of the module, you are passing in all connection type vars to the module explicitly.

Since the modules you are using are not part of Ansible, but are provided externally,

[2018-02-16 23:03] #36335 closed, assigned to nobody

[2018-02-17 00:04] ahssaleh commented on #28380
The --attachable is not noticed -- it's not even in the help

$ docker network create --driver=overlay --attachable test-net
unknown flag: --attachable
See 'docker network create --help'.
$ docker network create --help

Usage:  docker network create [OPTIONS] NETWORK

Create a network

Options:
      --aux-address value    Auxiliary IPv4 or IPv6 addresses used by Network driver (default map[])
  -

[2018-02-17 02:32] Akasurde commented on #36326
@alexander-bauer Thanks for reporting this issue. This is a good idea to implement.

[2018-02-17 03:14] Akasurde commented on #24506
@cavamagie Could you please open a new issue and report your details there? It will be easy for us to track and maintain issue that way. Also specify VMware environment details with Ansible version with `-vvvv` logs.

[2018-02-17 06:45] kkehres opened #36341 "fetch module throws 500 error for winrm connection and does not fetch file 2.4.3.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

fetch

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible_port: 5986
ansible_connection: winrm
ansible_winrm_server_cert_validation: ignore

##### OS / ENVIRONMENT

Ansible
[devops@cilcpcxd3251 ansible]$ cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.3 (Maipo)
Target
Windows Server 2012 R2
Version 6.3 (Build 9600)

[2018-02-17 07:18] mattclay commented on #32816
Python 3.7 syntax errors due to use of `async` and `await` have been fixed.

[2018-02-17 07:18] #32816 closed, assigned to nobody

[2018-02-17 10:02] MartinNowak commented on #36275
The mailing list has some interesting information on the topic.
https://groups.google.com/forum/#!searchin/ansible-project/performance
[Validating performance expectations: 10x overhead on ssh](https://groups.google.com/d/msg/ansible-project/3P-zbAo6XnU/vb8fFi1_CAAJ)
Someone is testing another approach, running an agent for the duration of a playbook run.
[Seeking testers for a (radically) perform

[2018-02-17 10:29] mowgli commented on #31449
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Hi,

sorry for the late reply.

Am Mi den 25. Okt 2017 um 13:51 schrieb Brian Coca:

I have now debians ansible 2.4.3.0 without the bug so I think the
problem is solved.

Regards
   Klaus
- --
Klaus Ethgen                                       http://www.ethgen.ch/
pub  4096R/4E20AF1C 2011-05-16            Klaus Ethgen <Klaus@Ethgen.ch>
Fingerprint:

[2018-02-17 13:17] ghost opened #36343 "`import_role` does not respect `name` and does not log importing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`import_role`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

`N/A`

##### SUMMARY
There is no log execution for `import_role` module.

##### STEPS TO REPRODUCE
Having the following playbook:

[code]

##### EXPECTED RESULTS
I would expect the following log:
[code]

##### ACTUAL RESULTS

[code]

[2018-02-17 15:14] rwaweber commented on #30059
Agreed, I think that makes a lot of sense. I'd be happy to incorporate that.

[2018-02-17 15:39] felixfontein opened #36344 "Letsencrypt: allow deactivation of authzs after successful certificate issuing"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
letsencrypt

##### SUMMARY
Currently, the `letsencrypt` module does not deactivate the `authz` objects it opened on the ACME server. As long as these stay active, a new certificate for these domains (which have valid `authz` objects) can be obtained with only the knowledge of the account key, but without new validations (DNS, file based, ...).

W

[2018-02-17 15:44] felixfontein opened #36345 "ACME: allow to revoke certificates"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
acme_certificate

##### SUMMARY
The ACME protocol allows to revoke certificates (https://tools.ietf.org/html/draft-ietf-acme-acme-09#section-7.6), but the `letsencrypt` module currently doesn't support this. It would be handy if this could also be automated with ansible.

I think this should go into a new module, though. I'm still opening this as

[2018-02-17 15:45] felixfontein opened #36346 "ACME: allow account management"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
acme_certificate

##### SUMMARY
The `letsencrypt` module automatically creates an account and associates an email address with it, but doesn't allow any advanced account management features, such as updating contact data (https://tools.ietf.org/html/draft-ietf-acme-acme-09#section-7.3.2), changing the account key (https://tools.ietf.org/html/draf

[2018-02-17 17:09] rwaweber opened #36348 "Linode: remove linode-python dependency -- general restructuring and maintainability"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

linode

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

n/a

##### SUMMARY

I think that the linode-python library is limiting in terms of what we could potentially do with linode modules. By wrapping the `fetch_url` method like how it is done in the [digitalocean](https://github.com/ansible/ansible/blob/devel

[2018-02-17 17:54] agustinruatta commented on #35612
## Quick Fix on ArchLinux ##
I had the same issue on ArchLinux. I've made a downgrade of `python-docker` package with [downgrade](https://aur.archlinux.org/packages/downgrade/) software to 2.7.0-1 and all works fine now:

[code]

As @skylerbunny mentioned, Docker SDK 3.0 update has broken that `build` function removing `stream` param (More info: https://docker-py.readthedocs.io/en/stable/change-lo

[2018-02-17 18:23] cdflint commented on #15321
If you ssh-agent has multiple keys use the ansible_ssh_private_key_file variable in your hosts entry to specify your private key instead of ssh-agent passing the wrong key and being rejected.

[2018-02-17 19:21] samuelharmer opened #36350 "Provide virtualization_role and virtualization_type for FreeBSD jails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/facts/virtual

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
FreeBSD 11.1-STABLE (FreeNAS 11)

##### SUMMARY
Facter doesn't populate `ansible_virtualization_role` or `ansible_virtualization_type` when trying to control a FreeBSD Jail. It doesn't even try to be fair. I've written a brief example of how I think one

[2018-02-17 19:45] varesa opened #36351 "vyos_config IndexError in sanitize_config"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vyos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

[code]

##### SUMMARY

I have simplified a case out of a larger playbook/setup. I have a playbook that creates users. This playbook fails with a traceback from a generated temporary file when:
- I have two users listed in the playbook var
- One

[2018-02-17 19:47] steaksauce- commented on #31822
This might be a limitation of `dnspython`, but I'm not sure.

[2018-02-17 21:21] oupala opened #36353 "uri module should skip task when precondition are not met"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing specific

##### OS / ENVIRONMENT

from debian (stretch) to raspbian (jessie), but should not be platform-specific

##### SUMMARY

I'm trying to call an url, and I want to call the url only if a file does not exists (because calling the url creates the file, and the call should on

[2018-02-18 04:10] shurkaxaa commented on #34296
Seems I found the reason (ansible 2.4.3, lib cloud 2.2.1)
'disk_size' parameter simply not used when you do not specify 'persistent_boot_disk=true'.
In that case it is not used by ansible (create_instances) itself
and not used by libcloud create_node too as it does not accept such parameter at all.

[2018-02-18 04:45] mperry2 opened #36358 "ansible/contrib/inventory/gce.py references non-existent file"
##### ISSUE TYPE

 - Documentation Report

##### ANSIBLE VERSION
2.6

##### COMPONENT NAME
contrib/inventory/gce.py

##### SUMMARY

ansible/contrib/inventory/gce.py and gce.ini refer the user to ansible/test/gce_tests.py for futher documentation, but ansible/test/gce_tests.py does not exist.

[2018-02-18 07:15] orthanc commented on #36065
Linked PR addresses the possible causes of instability I've been able to find, there are three I've run into:

1. Sometimes the API call to get notifications doesn't return information for the registered identity resulting in the error reported in the issue description.
1. The shippable build running python 2 and python 3 tests concurrently can exceed the max allowed calls to the SES APIs, resulti

[2018-02-18 11:20] sravan1265 commented on #34794
Hi,

This issue has been fixed.

On Feb 14, 2018 11:42 PM, "ansibot" <notifications@github.com> wrote:

[2018-02-18 11:55] kevin-hao opened #36361 "How can I start two or more services using systemd when I execute ansible-playbook"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-02-18 12:18] tYYGH commented on #33753
Nextcloud 13 is out! This allowed me to go forward and test the correction (`encrypted: true`). It works. Thanks!

[2018-02-18 12:18] #33753 closed, assigned to nobody

[2018-02-18 12:25] tYYGH commented on #33062
For the record, I used this script to make a layered graph of dependencies:
[code]
Based of this graph, I rewrote my `site.yml` file by writing all roles to run, from the bottom layer to the top layer. Then I renamed all my `meta` directories to `meta.disabled`.

Consequence: Ansible ran like a charm; I always knew at what step it was currently (which formerly was not a given…), and the whole book

[2018-02-18 12:34] nerzhul commented on #33753
@tYYGH yeah nextcloud 10 was not PG10 aware, it doesn't support it (you need a patch for it, we got it in FreeBSD ports tree)

[2018-02-18 13:15] webknjaz commented on #36361
Hello Kevin,

Please note that GitHub Issues are used for working on ansible itself and if you need to report some bug or request a feature you're expected to fill in whole issue template, so that the bot can recognise what it's about and tag appropriate people.

The best way of asking question about using ansible is to do this on [ansible-project mailing list](http://groups.google.com/group/ansib

[2018-02-18 13:15] #36361 closed, assigned to nobody

[2018-02-18 13:49] felixfontein opened #36363 "ACME: use cryptography module instead of invoking the openssl binary"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
acme_certificate

##### ANSIBLE VERSION
[code]

##### SUMMARY
Currently, the `letsencrypt` module (similarly to other ACME clients such as [acme-tiny](https://github.com/diafygi/acme-tiny/)) relies on the `openssl` binary to do many things, such as:

* extracting `valid not after` dates from certificates;
* parsing account keys;
* signing request

[2018-02-18 14:25] mr-fIErcE commented on #34226
@jhawkesworth Thank you for your effort! I did a little digging of my own, basing on your work, and this is what I found:
 * win_copy.py does not seem to be used in win_template action - changes to this file don't make any difference in ansible-playbook behavior (I used the playbook from the original bug report). Even adding ``raise AnsibleError`` to the first lines of ``ActionModule.run`` does no

[2018-02-18 16:59] felixfontein commented on #36346
ACME v2 allows to query existence of accounts (https://tools.ietf.org/html/draft-ietf-acme-acme-09#section-7.3, `onlyReturnExisting`).

There seems to be no functionality in ACME v1 to do this, though I think the implementation in https://github.com/letsencrypt/boulder/blob/master/wfe/wfe.go#L627-L644 can be abused by either sending a request with bad JSON payload, or with an invalid agreement lin

[2018-02-18 17:10] felixfontein commented on #36363
I've added some tests for some of the above tasks here, for future reference: https://gist.github.com/felixfontein/1eb6356819c156ea23e86acfe9911b72

[2018-02-18 17:13] MedicMomcilo commented on #33647
@Akasurde I have tested this PR and it works as intended.
Thank you for the job well done!

[2018-02-18 19:51] lwm commented on #35612
Thanks for https://github.com/ansible/ansible/issues/35612#issuecomment-362302226 @geerlingguy!

I added the following to my `requirements.txt`  (following https://github.com/gantsign/ansible-role-intellij/commit/ab07d236d024b37776e2a05dff32e3da20d3a3cf):

[code]

[2018-02-18 21:46] samiam opened #36367 "ansible cache not invalidated when switching between non/privileged plays"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Macbook Pro

##### SUMMARY
The issue revolves around the cache file not being invalidated when different parameters are used to fetch the facts.

##### STEPS TO REPRODUCE
[code]

In this example, the `root_fact` will not be printed and an error is raised.  Why

[2018-02-18 22:48] selivan opened #36369 "Add mindepth, maxdepth parameters to find module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
find

##### ANSIBLE VERSION

[code]
##### SUMMARY
It would be nice if find module had parameters `mindepth` and `maxdepth`, behaving like the ones in `find` command from findutils.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Get all `/var/log` level 1 sub-directories, not including the directory itself.

[2018-02-19 00:05] EliMutchnik commented on #33178
Seems to work now. Thanks guys!

[2018-02-19 00:20] #33178 closed, assigned to nobody

[2018-02-19 00:41] ptux commented on #14131
@aklemp cloud you share your complete code?

[2018-02-19 01:02] lwm commented on #18305
I'll just leave this here.

[2018-02-19 01:40] scottwilliambeasley opened #36370 "softlayer.py calls wrong method making --host arg unusable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
softlayer.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When run with the `--host` argument and supplying a host, softlayer.py calls the wrong method, `get_virtual_servers()` instead of `get_all_servers()` leading to an unpopulated `client` object. This causes the script to crash.

##### S

[2018-02-19 03:58] Akasurde commented on #36370
resolved_by_pr #36371

[2018-02-19 04:06] Akasurde commented on #36344
resolved_by_pr #36362

[2018-02-19 04:41] #36186 closed, assigned to trishnaguha

[2018-02-19 04:41] #36227 closed, assigned to trishnaguha

[2018-02-19 06:34] fadishaar84 commented on #36290
Thanks for replying, I'm trying to deploy the NIST fingerprint dataset and tools (NBIS) to a cluster. Here is the task that threw the error: TASK [install dependencies (Debian)]
![image](https://user-images.githubusercontent.com/25133070/36364908-0c8456b2-1558-11e8-9d35-acb9b76fd44e.png)

[2018-02-19 07:01] jorgemanrubia commented on #6989
For the record, I had to change `python-psycopg2` instead of `python3-psycopg2` to fix this error

[2018-02-19 07:29] mkrizek commented on #36290
You need to provide the actual yaml source of the task though. Also, have you checked that error message I pointed out? Can you install the packages manually on those machines or does the same error appear as well?

needs_info

[2018-02-19 08:14] weldpua2008 commented on #32265
Is this problem already has any solution?
For critical places I am using another folder to rebuild full app configuration structure and with one flip-flop have a test.
Maybe we can have async module for templating that do not have race conditions but saves our time?

[2018-02-19 08:30] #36010 closed, assigned to nobody

[2018-02-19 08:30] atruskie commented on #35048
I just want to signal boost this because it was a frustrating few hours of my life to waste.

I had three files:

**main.yml**
[code]

**childA**: just a generic bunch of tasks that worked

**childB**:  more generic tasks that worked, but also a new `import_tasks` statement:
[code]

This was all working before I added a new import to _childB_. After including the new import, the role would fail wi

[2018-02-19 08:44] mldmld68 opened #36376 "s3_sync is very slow (runs out of memory, raises MemoryError)"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
s3_sync

##### ANSIBLE VERSION
2.4

##### CONFIGURATION
default settings
##### OS / ENVIRONMENT
N/A

##### SUMMARY
Trying to sync Centos 7 + EPEL 7 repo, this module is 23 times slower than a aws s3 sync command and requires more memory to run. Otherwise ansible crash

Module description says it's for a reduced set of files but it's not a good expl

[2018-02-19 09:16] niko commented on #31377
Just noticed that my issue is actually a combination of this and #18983.

[2018-02-19 09:53] rcarrillocruz commented on #24879
Could you please try to reproduce on devel branch and let us know if this is still an issue?
Also, the bug is filed against CentOS as platform, but would be helpful to know the IOS platform you are seeing this issue.

Thanks

[2018-02-19 10:07] rcarrillocruz commented on #35869
@IPvSean not sure I follow. Do you mean that if you don't set 'fail_on_missing_module: yes' at task level we should display there's no underlying module without turning up verbosity?
Or do you mean when we do set it?
If we set that task var to yes, the play fails and the error message is shown:

[code]

[2018-02-19 10:22] #35554 closed, assigned to nobody

[2018-02-19 10:22] #35567 closed, assigned to ganeshrn

[2018-02-19 10:29] #36344 closed, assigned to nobody

[2018-02-19 10:35] peter-murray opened #36378 "Documentation Error for ec2_vpc_nacl rules"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ec2_vpc_nacl

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The example documentation is the wrong way round for ec2_vpc_nacl with respect to the icmp code and type.

##### STEPS TO REPRODUCE
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_vpc_nacl.py#L87

[2018-02-19 10:54] fadishaar84 commented on #36290
Thanks, I solved it by recreating my virtual cluster.

[2018-02-19 10:54] #36290 closed, assigned to nobody

[2018-02-19 10:57] arsh9295 commented on #36039
I am working on installation of a package through script in windows as well as Linux systems. i am calling install.yml from main.yml file. In install.yml i have wrote all instructions to install. In my hosts file i have both windows and linux machines.

Please find attached install.yml and main.yml

[main.txt](https://github.com/ansible/ansible/files/1736404/main.txt)
[install.txt](https://github.

[2018-02-19 11:02] arsh9295 opened #36379 "AIX as Client connection."
##### ISSUE TYPE

 - Feature Idea
 - Documentation Report

##### SUMMARY
How to use AIX machine as client through Ansible

[2018-02-19 11:35] kbreit commented on #36378
I will fix this later today

[2018-02-19 11:53] nicolaibaralmueller commented on #30863
Same issue here. source_address_prefix is not updated in azure.
Also, no change is returned when object is updated with other parameters like port.

[2018-02-19 11:59] trishnaguha commented on #36262
@IPvSean Please try the fix https://github.com/ansible/ansible/pull/36377 out.

[2018-02-19 12:23] asg1612 commented on #32927
I'm using python 2.7.14. I have the same bug.

[2018-02-19 12:31] pratikkava1189 opened #36382 "RHEL reboot & Playbook Pause"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Reboot & Pause

##### ANSIBLE VERSION
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version = 2.7.5 (defa

[2018-02-19 12:55] ediskandarov-cur opened #36384 "Ansible picks wrong group vars if host with same IP is present in different environments"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
inventory/vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY
Ansible picks wrong group vars if host with same IP is present in different environments

##### STEPS TO REPRODUCE

1. create two group vars for staging and production environments and populate with some variables
2. in

[2018-02-19 13:06] dagwieers opened #36385 "aci_firmware_source: Does not report change"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci_firmware_source

##### ANSIBLE VERSION
v2.5

##### SUMMARY
The **aci_firmware_source** module does not correctly report a change as one would expect. However the same **aci_rest** payload does correctly report a change since it relies on the return output `status: created`.

The following fails:
[code]

While this works:
[code]

[2018-02-19 13:19] valerius257 commented on #35342
Sorry for late response.
In 2.5 module works and certificate changes as expected.

[2018-02-19 13:53] tbar74235 commented on #29492
+1

[2018-02-19 13:54] ghost opened #36388 "Undocumented ipaddr features"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

`ipaddr`

##### ANSIBLE VERSION

`ansible 2.6.0 (devel 32dc936c20) last updated 2018/02/19 14:35:09 (GMT +200)`

##### SUMMARY

Looking at the following document, automatically generated from [playbooks_filters_ipaddr.rst](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/user_guide/playbooks_filters_ipaddr.rst), there a

[2018-02-19 14:50] sivel commented on #36353
This is working as expected.  All modules that accept a `creates` argument, return `ok` rather than `skipped`.

This is for the same reason that creating a file, doesn't say `skipped` on the 2nd execution.  That is due to the fact that the desired state has been validated to exist.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * m

[2018-02-19 14:50] #36353 closed, assigned to nobody

[2018-02-19 14:58] sivel commented on #36384
Depending on how the inventory file/plugin/script structures itself, this is always going to be a problem.

In the case of the ec2 dynamic inventory script, it defaults to using the IP address of the host as the `inventory_hostname`.  The `inventory_hostname` variable is effectively a unique key, and if you assign 2 hosts with that same value, only 1 will exist.

To avoid this for the specific cas

[2018-02-19 14:58] #36384 closed, assigned to nobody

[2018-02-19 14:59] bcoca commented on #36384
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As the docs show, http://docs.ansible.com/ansible/latest/intro_inventory.html#group-variables, variables are not restricted to the grou

[2018-02-19 15:10] #35914 closed, assigned to rcarrillocruz, ganeshrn, trishnaguha

[2018-02-19 15:12] alikins commented on #36379
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2018-02-19 15:12] #36379 closed, assigned to nobody

[2018-02-19 15:27] Akasurde commented on #26420
@stephan2012 @jamescassell @anarup Could you please check [`vmware_guest_disk`](https://github.com/ansible/ansible/pull/36165) and let us know if it works ?

needs_info

[2018-02-19 15:30] bcoca commented on #36367
Currently all caching works this way, its not limited to a specific cache plugin.

[2018-02-19 15:31] belooussov commented on #31655
Experiencing the same issue with tower 3.2.2, and ansible 2.4.3. P.S. missing working examples in the modules' documentation.

[2018-02-19 15:44] IPvSean commented on #35869
@rcarrillocruz

yes... and even go further.  I will like the default behavior should be failure.  The task is reporting that it ran successfully, when nothing actually happened.  I feel like this is a really bad idea.  The only way I actually uncovered this was I had a test that was supposed to fail and it passed, then I dug deeper.

[2018-02-19 15:46] Arano-kai opened #36394 "user module with local: true not creating local %username%, if %username% exists in IPA"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`user` module

##### ANSIBLE VERSION

[code]
Also affects 2.5+
##### CONFIGURATION
Not modified

##### OS / ENVIRONMENT

Master: Debian GNU/Linux 9.3 (stretch)
Slave: CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

If host has centralized authentication (FreeIPA in my case) and `%username%` exists there, `user` module with `local: true` o

[2018-02-19 15:48] oh4 commented on #19203
Are there any updates to this issue?

[2018-02-19 15:52] dogfish182 opened #36395 "Allow env vars in a roles requirements.yml"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no changes

##### OS / ENVIRONMENT

Mac OSX 10.13.3 (High Sierra)

##### SUMMARY

we want to use artifactory to store our roles as a tar.gz file and we do not allow anonymous access. formatting requirements.yml in the following way

[code]
will fail as the environment variab

[2018-02-19 15:52] gdpak commented on #36351
@varesa I agree there is a bug which will be fixed by https://github.com/ansible/ansible/pull/36375
but one question is there any use-case to try play command "set system login user esa authentication encrypted-password '!" ideally you should set the password in plaintext and Vyos would convert it to encrypted password.

So after this fix you will see result like below for your playbook. Command w

[2018-02-19 15:54] alikins commented on #36308
pinging @jimi-c

[2018-02-19 16:08] giovannisciortino commented on #36300
Hi @selmison ,
I tried to check the difference between call api "api/hosts/:id" and "hosts/:id/enc" on a labt Satellite 6.2.13 server calling api to collect info about a single client.

In my case the former api call collects more data compared to the latter.

Example:
´´´
[root@gs-sat61 ~]# curl 'https://admin:XXX@gs-sat61.localdomain/api/hosts/255'|python -m json.tool| wc -l
  % Total    % Recei

[2018-02-19 16:09] rwagnergit opened #36396 "delegate_to: localhost ignoring connection:ssh"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
delegate_to: localhost

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing changed in ansible.cfg

##### OS / ENVIRONMENT
Linux (RHEL 6 and Ubuntu 16.04), but don't believe this is OS-specific

##### SUMMARY
When using delegate_to: localhost, the implicit local connection is used, even if the connection: ssh keyword is included in the ta

[2018-02-19 16:13] rwagnergit commented on #36396
Note that I can think of workarounds, like including the following in inventory:
[code]
or adding a play like the following:
[code]

But the purpose of this bug report isn't to come up with workarounds, it's to illustrate behavior that is contrary to documentation (i.e., a bug).

[2018-02-19 16:14] ageis opened #36397 "Provide bash-completion script for ansible commands"
##### ISSUE TYPE
- Feature idea

##### COMPONENT NAME
[bash-completion script](https://github.com/scop/bash-completion)

##### ANSIBLE VERSION
Not a feature in current devel branch.

##### OS / ENVIRONMENT
I use Debian with a Bash shell and source the completion scripts in `/usr/share/bash-completion/completions`. I searched open issues and there were none that addressed exactly this. I could be m

[2018-02-19 16:17] ephesused opened #36398 "In 2.5, the script module fails with privilege escalation, due to permission issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Privilege escalation and the script module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

CentOS 7.4

##### SUMMARY
Prior to 2.5, script tasks run with privilege escalation applied setfacl to both the housing direc

[2018-02-19 16:18] ephesused commented on #35666
I have opened #36398 for the script module permission failures.  Thanks.

[2018-02-19 16:26] alikins commented on #36304
@Nitesh-vaidyanath Could you try running this test script in that virtualenv and pasting the results?

(also avail at gist: https://gist.github.com/alikins/bb505a260e2eff1ad16b7649672fb964)

[code]

[2018-02-19 16:26] bcoca commented on #36396
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

It is not really contrary to docs, it is clear in docs that 'connection variables' override keywords (http://docs.ansible.com/ansible/l

[2018-02-19 16:26] #36396 closed, assigned to nobody

[2018-02-19 16:30] alikins commented on #36274
pinging @bcoca

[2018-02-19 16:32] giovannisciortino commented on #29185
Hi @mib4fun ,
have you already take a look on my  PR https://github.com/ansible/ansible/pull/33743 that has been already merged?
With this PR a new boolean option scan_new_hosts(the default value is True) has been added in foreman.ini, it allows to adding new hosts without regenerate all the cache.
I think that this PR fits your needs, is it correct? In the case of an affirmative responde this iss

[2018-02-19 16:36] alikins commented on #36330
@joaocc Was this working in versions prior to 2.4.3.0 ?

[2018-02-19 16:47] rwagnergit commented on #36396
Thanks much, Brian.  After reviewing the link to variables, this makes sense.  Appreciate the quick reply!

[2018-02-19 17:02] clvx commented on #36274
@alikins I've only tested it with ansible 2.4.2. I haven't verifeid with older ansible versions.

[2018-02-19 17:05] jacksonp2008 opened #36400 "Ansible XML Module failing on lxml python library even though it is installed."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - xml

##### SUMMARY

Remote system is failing with XML module due to:
[code]

Even though it is installed:

[code]

##### ENVIRONMENT

[code]

* Ansible version:  2.5.0
* Operating System:OSX

##### STEPS TO REPRODUCE

host: docker1 (from above)

Task:
[code]

##### EXPECTED RESULTS

should have parsed the XML and returned the value of the v

[2018-02-19 17:19] nathanchere commented on #20238
Same issue here. This IS a bug.

[code]

and I still get:

`fatal: [localhost]: FAILED! => {"changed": false, "msg": "boto3 required for this module"}`

[2018-02-19 17:24] nathanchere commented on #20238
Looks like it's related to a frequently reported issue with hardcoding to assume the Python path and half-baked Python 3 support...

[2018-02-19 17:38] MonsieurCellophane opened #36402 "Boolean variables set in vars_prompt behaving unexpectedly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vars_prompt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_NOCOWS(env: ANSIBLE_NOCOWS) = True
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=240s
CACHE_PLUGIN(/etc/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/etc/ansible/ansible.c

[2018-02-19 17:43] bcoca commented on #36402
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Currently you cannot rely on type as you expect it at the point of definition, you should always force type on consumption (in this cas

[2018-02-19 17:43] #36402 closed, assigned to nobody

[2018-02-19 18:06] alikins commented on #36400
@jacksonp2008 Is there more than one python installed in the docker image?  Is it using virtualenv?

It is possible the ansible module is being executed with a different python than the one with lxml installed?

[2018-02-19 18:15] manelclos commented on #29870
Hit this in 2.3.2.0, upgraded to 2.4.30, still happening, always shows changed and keeps adding mounts :(

[code]

[2018-02-19 18:25] manelclos commented on #29870
removed all bind mounts and now it works as expected!!

[2018-02-19 18:35] jacksonp2008 commented on #36400
Its not virtual, ie running in a docker image, only on a machine named
docker1 that happens to have docker installed.

It is possible the ansible module is being executed with a different python
than the one with lxml installed?

*docker1*:*~*$ python --version

Python 2.7.12

I suppose it's possible, how can I tell?

Regards,

-Steve

(415) 320-1102 <https://www.google.com/voice/#phones>

On Mon,

[2018-02-19 18:37] piersharding commented on #35484
Just to be clear for anyone who hits this 'pip install python-novaclient' worked for me.

[2018-02-19 19:16] mkrizek commented on #27299
To summarize this so far, the issue here is that `jmespath`, which is used in the `json_query` filter plugin, does not handle `AnsibleUnicode` [1] and `AnsibleUnsafeText` [2] and fails with [3]:
[code]
Possible suggested **hacks** to "solve" this so far are:

1. @sivel's hint (https://github.com/ansible/ansible/issues/20379#issuecomment-284046669), in `json_query.py`:
[code]
2. Getting rid of `Ans

[2018-02-19 19:52] steaksauce- commented on #30162
Is this still an issue? I see that it affects an older version of ansible, but there have been a lot of changes since then.

[2018-02-19 19:57] dandunckelman commented on #35491
@umrikar see https://github.com/ansible/ansible/issues/36010

[2018-02-19 19:57] joaocc commented on #36330
I don't know. This was new code that I started working on just now.

[2018-02-19 20:04] acozine opened #36406 "Document network envvars, esp. ANSIBLE_NET_PASSWORD and ANSIBLE_NET_AUTHORIZE"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Network Documentation

##### ANSIBLE VERSION
2.5

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When building the docs, `network_debug_troubleshooting.rst` triggers two warnings:

[code]

The references are correctly formulated on the troubleshooting page, but no entries exist in `rst/reference_appendices/config.rs

[2018-02-19 20:16] oupala commented on #36353
If this is normal, this causes another problem.

[code]

If the task is skipped, it has no `status` and hence the `changed_when` condition cannot be evaluated:

[code]

Does anyone see a way to fix this bug?

And please tell me if I need to open a new issue.

[2018-02-19 20:44] ivan046 opened #36408 "https://github.com/ansible/ansible/issues/31620 closed but not solved!"
The problem described in the issue https://github.com/ansible/ansible/issues/31620 still persists. Please reopen the issue!

[2018-02-19 20:48] bcoca commented on #36406
these are not part of configuration, these are specific vars that the modules invoke, hence they won't appear in the general configuration list but in the modules themselves.

[2018-02-19 20:50] sivel commented on #36353
`changed_when: callResp.status|default(0) == 200`

[2018-02-19 21:01] oupala commented on #36353
This does not mark the task as `changed` but as `ok`:

[code]

[2018-02-19 21:08] #36398 closed, assigned to abadger

[2018-02-19 21:08] pmarques commented on #33776
I was also expecting this, not just an "issue" on 2.4 but also in previous versions, at least 2.2.1.0

[2018-02-19 21:11] jctanner commented on #32503
possibly related https://github.com/ansible/ansible/pull/36372

[2018-02-19 21:14] sivel commented on #36353
That change marks the status with a default of `0`.  So if it did nothing, no request was made, so it is set as `status=0`.

It will only report `changed` in the case that the request was actually made, and the status was set as `200`.

In your example, the file is being created via the file module immediately before, so it never has to make the request, and thus would never report as changed.

[2018-02-19 21:17] espressobeanies opened #36410 "Unable to modify first blockinfile module output"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Blockinfile module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not changed from initial Ubuntu package install

##### OS / ENVIRONMENT
Ubuntu 16.04.3 (Xenial)

##### SUMMARY
After running the below Ansible playbook, the lineinfile commands to replace text generated by the blockinfile commands will only work with the second blockinfile com

[2018-02-19 21:26] jctanner commented on #32503
According to my testing, this is fixed ...

version | rc
------ | ------
v2.3.2.0-1 |  4
v2.3.3.0-0.1.rc1 |  4
v2.3.3.0-0.2.rc2 |  4
v2.3.3.0-0.3.rc3 |  4
v2.3.3.0-1 |  4
v2.4.0.0-0.1.rc1 |  4
v2.4.0.0-0.2.rc2 |  4
v2.4.0.0-0.3.rc3 |  4
v2.4.0.0-0.4.rc4 |  4
v2.4.0.0-0.5.rc5 |  4
v2.4.0.0-1 |  4
v2.4.1.0-0.3.rc1 |  2
v2.4.1.0-0.4.rc2 |  2
v2.4.1.0-1 |  2
v2.4.2.0-0.5.rc1 |  2
v2.4.2.0-1 |  2
v2.4.

[2018-02-19 21:31] jctanner commented on #32503
I don't see any integration tests that cover this usage pattern, so leaving this open till those are done.

[2018-02-19 21:32] oupala commented on #36353
You're completely right, thank you @sivel.

Here is a complete test case for archiving purposes:

[code]

And here are the executions logs:

[code]

As you can see, the first api call is `changed` while the second one is `ok`.

[2018-02-19 21:33] bwbecraft commented on #36284
Is this at all similar to what I was running into regarding my post?:
Ansible 2.5 ssh-common-args ignored. (#36335)

[2018-02-19 21:44] mxlan opened #36412 "ec2_group check-mode fails when tags are set: 'NoneType' object has no attribute 'get'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2_group module

##### ANSIBLE VERSION

Note: Installed latest version from python-pip
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
[code]
##### SUMMARY
Unable to run successful --check against ec2_group when "tags" attribute is specified.
ec2_group does function when --check is not set.

##### STEPS TO REPRODUCE

Run the following

[2018-02-19 21:45] mxlan commented on #36412
I have not attempted to verify against the latest devel branch. Maybe I'll do that after I get home from work.

[2018-02-19 21:46] pjanuario commented on #29661
@flaper87 i gave another try to it, but unfortunately some other dependency is failing and i couldnt uninstall from the master branch. :/

`Command "/usr/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-1nw79sb7/pygit2/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record /tmp/pip-dlagnj1d-record/i

[2018-02-19 23:37] bcoca commented on #33776
Ansible itself has never dealt with the stderr output unless the script failed, tower used a direct execution of the script to get that.

This is not really a bug, but a feature request, it requires changing the Ansible core engine to report this info on successful inventory.

[2018-02-20 00:38] varesa commented on #36351
@gdpak Thanks for the quick fix!

As for the password setting, as I'm testing / beginning to use ansible for configuring my firewalls I just copied verbatim pieces of a current config on one of the FWs. Since `show | commands` only shows the password hash, that's what I used.

I'll look into storing secrets in a safe way with ansible and switch to setting the plain-text password.

[2018-02-20 01:31] chrisweaver commented on #21890
I'm still seeing this bug in 2.4.2.  Is this issue still open?  I lost the thread there, with all the cross references...

I would love to port our playbooks to use `include_roles` but this bug makes it impossible.

[2018-02-20 01:45] vemuriv opened #36416 "unable to split based on special charecters"
verified
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

jinja2
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

SLES12
##### SUMMARY

unable to split based on '\\'

##### STEPS TO REPRODUCE

unable to split based on '\'

[code]

##### EXPECTED RESULTS

efgh

  ##### ACTUAL RESULTS

TASK [set_fact] *************

[2018-02-20 02:28] Akasurde commented on #36394
Adding FreeIPA related people, @fxfitz @Nosmoht @flo-renaud

[2018-02-20 03:03] tima commented on #21890
@chrisweaver: I looks like this will only be fixes in v2.5: https://github.com/ansible/ansible/issues/32503#issuecomment-366806353

[2018-02-20 03:59] JohnVonNeumann opened #36419 "cloudformation ansible-vault cf module cannot use templates that have been vaulted (unsupported structure)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cloudformation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Null return.

##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

 I have run my cloudformation templates through ansible-vault, as I do with any information that goes into git and could provide information disclosure about my stack. After having issues with my latest task, I

[2018-02-20 04:13] tedder commented on #36376
How many files and what's the total size on disk for them?

23 times slower is much faster than using `aws_s3` and `with_glob` :)

This module calculates hashes of the files. `needs_contributor` if anyone is interested.

[2018-02-20 04:16] tedder commented on #36293
`needs_contributor`. It's gonna take some work to figure out where this is supported- e.g., I think create supports it, but not update.

[2018-02-20 04:18] tedder commented on #36376
Oh! Make sure to fuss with `strategy`. I bet date_size will be faster for you. `needs_info`.

[2018-02-20 04:25] ilseokoh commented on #35536
I also modified my ARM template converting from string to int.

[2018-02-20 04:38] #36317 closed, assigned to nobody

[2018-02-20 06:11] javierwilson commented on #29236
I confirm this is happening to me with ansible 2.4.1.0, known_hosts works as long as I don't use a custom ansible_port

[2018-02-20 06:30] Akasurde commented on #36408
@ivan046 Thanks for reporting this issue. I re-opened #31620 and you can continue discussion over there. I will mark this as duplicate of 31620.

[2018-02-20 06:30] #36408 closed, assigned to nobody

[2018-02-20 06:30] Akasurde commented on #31620
Re-open as per #36408

[2018-02-20 08:02] ossark opened #36421 "nxos_snmp_host v3 typo"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_snmp_host

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/Users/johndoe/.ansible.cfg) = [u'/Users/johndoe/repos/ansible/inventory']
DEFAULT_LOG_PATH(/Users/johndoe/.ansible.cfg) = /Users/johndoe/.ansible.log
DEFAULT_MANAGED_STR(/Users/johndoe/.ansible.cfg) = Ansible managed: modified on %Y-%m-%d by {uid} on {host}
DEFAU

[2018-02-20 09:03] ozlevka-ericom commented on #35902
Occur  for me with apt:
[code]
[code]
I have in inventory file:
ansible_python_interpreter=/usr/bin/python3

ansible --version
ansible 2.4.3.0
  config file = /home/ozlevka/tmp/terraform/ansible.cfg
  configured module search path = ['/home/ozlevka/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /home/ozlevka/.virtualenv/ansible/lib/python3.6/sit

[2018-02-20 09:36] Tclemento commented on #36027
Sorry for my late response.
I am in version 2.5. I do not plan to go into 2.4.3 sorry.

Have you tested and it is OK in version 2.4.3?

[2018-02-20 10:27] abhishek063 commented on #33058
I am also getting the same error while trying to unarchive a zip package.

[2018-02-20 10:29] andreibaban opened #36424 "synchronize module with local_action tries to ssh incorrectly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module: synchronize

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/home/user4/ansible_deploy/ansible.cfg) = debug
RETRY_FILES_ENABLED(/home/user4/ansible_deploy/ansible.cfg) = False

##### OS / ENVIRONMENT
Linux version 2.6.32-573.8.1.el6.x86_64 (mockbuild@c6b8.bsys.dev.centos.org) (gcc version 4.4.7 20120313 (Red Ha

[2018-02-20 11:35] Dmitriusan commented on #28708
Any updates on this? Ubuntu 17.10 already uses netplan, and the upcoming 18.04 LTS release will also do. So the netplan support seems to become an obvious need for managing ubuntu servers

[2018-02-20 11:40] gundalow opened #36426 "RuntimeWarning: Parent module 'ansible.module_utils.network.vyos' not found while handling absolute import import json"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vyos_
##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

##### SUMMARY
Seen in DCI job output.

May also occur on other platforms.

[code]

##### STEPS TO REPRODUCE
In DCI job run, go to "Job State" tab, then click on Running

https://www.distributed-ci.io/jobs/c0d5c0ee-b292-4760-9c2e-af2b9d6c66b8/jobStates

[2018-02-20 11:45] rleigh-codelibre opened #36427 "user_module corrupts shadow password on MacOS X"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
user_module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OS running ansible: Ubuntu 18.04 (bionic)
OS being managed: MacOS X 10.13 (high sierra), as well as various Linux, BSD and other systems (which work just fine).

##### SUMMARY
Updating the password with the `user` module results in a broken account whic

[2018-02-20 11:55] rvgate commented on #35718
Thank you @bcoca and @alikins for the explanation on here and IRC, I understand it is a very difficult to identify the user's intent on the inventory format/plugin. This will be resolved if in the future it is decided to enforce file extensions for inventory formats.

[2018-02-20 12:06] rleigh-codelibre commented on #36427
Also tested with

[code]

with the same results.

[2018-02-20 12:13] snehalbiche opened #36428 "Skip the all next task for a host from group of host, based on return value of command"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Conditional execution of task or skipping the host based on certain output of command

##### ANSIBLE VERSION
ansible 2.4.2.0

##### CONFIGURATION
ansible-config dump --only-changed
ANSIBLE_SSH_ARGS(/localdisk/home/biche/svdevops/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
DISPLAY_SKIPPED_HOSTS(/loc

[2018-02-20 12:58] gundalow commented on #35902
@ozlevka-ericom Thanks for your bug report, though your comment isn't related to this particular issue. This is about network modules only which go via a different code path. Please raise a fresh issue for your case. Thanks in advance.

[2018-02-20 13:34] chopraaa commented on #36428
Why not fail the playbook if it isn't necessary to continue with the tasks?

[2018-02-20 13:40] trishnaguha commented on #36421
@ossark Thanks for the bug report. This didn't fail because of trap. trap/traps both are supported, likewise inform/informs.
[code]

You are actually missing the required options. I would rather ask you to upgrade the ansible version.
`when not configuring options like vrf_filter, vrf, udp, and src_intf,the following params are required: type, version, community`

The playbook failed with the foll

[2018-02-20 13:43] karniemi commented on #32493
ansible_password does not seem to be documented, though.

[2018-02-20 13:46] #35493 closed, assigned to nobody

[2018-02-20 13:51] AlanCoding opened #36431 "Dense group structures cause explosion in runtime"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Inventory loader, groups in specific

https://github.com/ansible/ansible/blob/278ff19beaa417e0a6f898fa6ba3a4fcace8affb/lib/ansible/inventory/group.py#L182

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac

##### SUMMARY
Group structures with a large amount of shared parentage can cause the time to run a playbo

[2018-02-20 13:52] vemuriv commented on #36416
Is this waiting on some input from me ?   Please let me know
Thanks

[2018-02-20 13:59] Jean-Daniel opened #36433 "Can't edit vault file when multiple vault-id available"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY

ansible-vault edit with multiple vault-id failed with the error `ERROR! The vault-ids www,th2 are available to encrypt. Specify the vault-id to encrypt with --encrypt-vault-id`

When trying to fix the issue by using `--encrypt-vault-id`

[2018-02-20 14:02] victorock opened #36434 "nxos_bgp_neighbor not idempotent"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

nxos_bgp_neighbor

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
nxos.7.0.3.I7.1

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-02-20 14:03] victorock opened #36435 "nxos_bgp_neighbor_af not idempotent"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

nxos_bgp_neighbor_af

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
nxos.7.0.3.I7.1

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-02-20 14:10] AlanCoding commented on #36177
This is more of a feature request than a bug report, because to fix the original reported AWX issue we would need some breadcrumbs from ansible to know what vars managers remain that might have yet-unseen content that can affect later tasks.

But so far, the people who reported that original bug don't seem very interested in the empty group behavior. I will close this and wait for future complaint

[2018-02-20 14:10] #36177 closed, assigned to nobody

[2018-02-20 14:14] dagwieers commented on #34173
Less than 2 days to finish as much as possible from v2.4 modules.

[2018-02-20 14:18] dagwieers commented on #35493
Would be nice to see this in v2.5 though ;-)

[2018-02-20 14:18] bcoca commented on #36431
FYI #32609 has nothing to do with groups nor inventory sizes anymore, it affects plugin loading and should not change performance for inventories of different sizes as this always happens only one time, before any inventory processing starts.

It used to be the case (pre 2.4) that we did do vars plugin loading per host/group name, but that is now deferred to be 'on demand' in vars manager and not

[2018-02-20 14:23] bcoca commented on #35493
merged 10mins ago

[2018-02-20 14:25] bcoca commented on #36177
fyi, this 'feature' is very expensive as instead of 'reading files corresponding to known list of hosts/groups' this would requires 'read all files' and then create hosts/groups to match the file names found ... not sure this is something we would want in core ... but easy enough to create an inventory plugin that does this.

[2018-02-20 14:27] bcoca commented on #36428
Put all tasks in block, use a 'fail' with a particular return in the result, in the 'rescue' of the block just return OK if that specific failure is captured.

[2018-02-20 14:30] dagwieers commented on #35340
No feedback, so I assume things are working fine. We will see when Ansible v2.5 is released...

Closing this.

[2018-02-20 14:30] #35340 closed, assigned to nobody

[2018-02-20 14:30] dagwieers commented on #34587
No feedback, so I assume things are working fine. We will see when Ansible v2.5 is released...

Closing this.

[2018-02-20 14:30] #34587 closed, assigned to nobody

[2018-02-20 14:33] Akasurde commented on #36027
Yes. This works in 2.4.3

[2018-02-20 14:46] mgarren opened #36438 "Add v2 api support for pagerduty module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
pagerduty

##### ANSIBLE VERSION
any

##### CONFIGURATION
any

##### OS / ENVIRONMENT
any

##### SUMMARY
Pagerduty has announced end of support for their V1 API on October 19th of this year.  Would like to request support for v2 well ahead of that date to not have a panic at the last minute.  The v1 api is currently hard coded in the module. S

[2018-02-20 14:53] bcoca commented on #36034
so the current code fails only if the plugins fail to parse an existing file, but not when the file does not exist.

[2018-02-20 14:57] bcoca commented on #36034
please confirm the above PR fixes the issue for you.

[2018-02-20 15:01] andreaske76 opened #36440 "Add ipv6_address support for ec2.py"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ec2.py

##### SUMMARY

Add ipv6 support for ec2.py

This helps to deploy stuff via ipv6 in AWS.

ec2.ini:
`vpc_destination_variable = ipv6_address`

[2018-02-20 15:04] bcoca commented on #35718
tired that, people really didn't like it

[2018-02-20 15:11] trishnaguha commented on #36434
@victorock `update_source` in nxos_bgp_neighbor expects an interface.
Works fine after I set an interface to update_source in your playbook.

[2018-02-20 15:15] bcoca commented on #31620
FYI, issue was closed by reporter, no reason given.

The message indicates that none of the 'secrets provided' were able to be used to decrypt the vaults, we would need a reproducer to see if this is a bug or not.

[2018-02-20 15:15] rmfitzpatrick opened #36441 "CHANGELOG.md obsolescence breaks rpm builds"
The doc system improvements have yet to be reflected in rpm builds: https://github.com/ansible/ansible/blob/devel/packaging/rpm/ansible.spec#L134

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
packaging/rpm/ansible.spec

##### ANSIBLE VERSION
[code]

##### SUMMARY
Moving from CHANGELOG.md to the per-version .rst docs/changelogs should be sourced in ansible.spec

[2018-02-20 15:24] #36262 closed, assigned to trishnaguha

[2018-02-20 15:28] Akasurde commented on #31620
@bcoca Yes. @ivan046 Could you please provide playbook and `-vvvv` output for reproducing this issue ?

[2018-02-20 16:03] alexejpissarev commented on #36034
Dear Brian,
it seems to work now, at least if the value of unparsed_is_failed is set in the ansible configuration file:
1. Steps to reproduce using ansible config:
- install ansible from the fork https://github.com/bcoca/ansible, commit 07fff93
- create a test playbook as described above (here: /tmp/test.yml)
- create an ansible config file (here: /tmp/ansible.cfg):
`[inventory]
unparsed_is_failed

[2018-02-20 16:10] kiorky commented on #21890
I personnaly use this on my 2.4 fork: https://github.com/corpusops/ansible/tree/stable-2.4

[2018-02-20 16:10] kiorky commented on #21890
(And im the one that tries to push the fix for 2.5)

[2018-02-20 16:12] pmargara opened #36444 "cloud:azure: error while using azure_rm_networkinterface for creating a vnic without public IP"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- azure_rm_networkinterface.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
The output of "ansible-config dump --only-changed" is void.

##### OS / ENVIRONMENT
"N/A"

##### SUMMARY
- When I run a test playbook with the provided example for "Create a network interface with private IP address only (no Public IP)" I got the following error "a

[2018-02-20 16:12] kiorky commented on #21890
See: https://github.com/ansible/ansible/pull/35167

[2018-02-20 16:12] abadger commented on #18391
This is not fixed until the code in this section of the old PR is updated to use the new config values from #31677 and merged: https://github.com/ansible/ansible/pull/20065/files#diff-69a29e19a76e98587550dab380483594

[2018-02-20 16:12] ivan046 commented on #31620
@Akasurde of course! here:

playbook file:
[code]
role file:
[code]
in group_vars directory there is a file for 6 servers:
[code]
Setup (gather_facts) and other tasks in the role ('docker_container' & 'file' modules) show now errors, so I left only the task with the issue. In the output (attached file) there can be seen that task fails for the servers from the group having variable with vaulted va

[2018-02-20 16:25] Mixer9 opened #36446 "blockinifile document update"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

blockinifile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/v683653/development/ops/redhat/ansible/ansible.cfg) = [u'/home/v683653/development/ops/redhat/ansible/inventory/hosts.inv']

##### OS / ENVIRONMENT

##### SUMMARY

blockinfile shows "content" parameter in example, however the options table doesn

[2018-02-20 16:27] kaistian commented on #36034
The correct variable is ANSIBLE_INVENTORY_UNPARSED_FAILED

[2018-02-20 16:57] abadger commented on #18391
Alternative to doing something similar to #31677 would be to modify fixup_perms2() to be two-phase.  call ```fixup_perms2([list, of, fiiles], commit=False)``` and the files are queued for permission changing later.  Call ```fixup_perms2([list, of, files], commit=True)``` and the current list of files along with any previously submitted files will have their permissions changed.  This way the fixup

[2018-02-20 16:59] #36034 closed, assigned to nobody

[2018-02-20 17:42] aklemp commented on #14131
@ptux: please refer to my comment above: https://github.com/ansible/ansible/issues/14131#issuecomment-363393084

[2018-02-20 17:43] krissi commented on #33457
After digging a bit deeper I decided to use `check_mode: yes` for this. This offers a nice way to get the needed result without hacks (and without panic reactions on renewal day ;-) )
I also thought about pushing the all methods of `AssertOnlyCertificate` except `generate` into a superclass and creating another subclass with `AssertOnlyCertificate`'s `check` method as `generate`. I think we don't

[2018-02-20 18:15] ktbyers opened #36451 "eos_vlan fails due to backslash escape of newlines"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_vlan

##### ANSIBLE VERSION

[code]

I also saw the same issue on Ansible 2.4.2

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
eos_vlan fails with an IndexError exception:

[code]

##### STEPS TO REPRODUCE
[code]

See playbook above

##### EXPECTED RESULTS
VLANs to be configured.

##### ACTUAL RESULTS

[code]

[2018-02-20 18:18] ktbyers commented on #36451
Looking at the output I see the newlines have been backslash escaped:

[code]

[code]

[2018-02-20 18:20] ktbyers commented on #36451
As a hack-fix, I could do this and it would work:

[code]

[2018-02-20 18:25] ktbyers commented on #36451
This was fixed in this PR: https://github.com/ansible/ansible/pull/35568

...closing.

[2018-02-20 18:25] #36451 closed, assigned to nobody

[2018-02-20 18:48] ralffunk commented on #18987
Even though this is closed, I would like to add my experience in case it helps others.

In my case ansibles "apt: update_cache: yes" was failing because the command "sudo apt update" was raising some warnings about a cdrom source that it could not find or wasn't in the expected format. Apparently the ansible "apt" module caught these warnings as errors and proceded to fail the task.

My solution w

[2018-02-20 18:52] ralffunk commented on #30754
I would like to add my experience in case it helps others.

In my case ansibles "apt: update_cache: yes" was failing because the command "sudo apt update" was raising some warnings about a cdrom source that it could not find or wasn't in the expected format. Apparently the ansible "apt" module caught these warnings as errors and proceded to fail the task.

My solution was to remove (or comment) th

[2018-02-20 18:59] MarkusTeufelberger commented on #33457
What exactly are you meaning with "agree on the current check behavior as expected"? Currently it does not fail the module in check mode if a check fails. This is intended (for the non-"assertonly" providers) because it can't know if they would succeed or fail to get a new certificate. A better behavior would be to fail in check mode too if the assertonly provider is used, because it is nearly imp

[2018-02-20 19:24] blrm commented on #31655
Also seeing this issue with Tower 3.2.1 and tower-cli 3.2.1.

[2018-02-20 20:00] t-readyroc commented on #31587
@sivel You were correct. There was an older version of the file in another location. Thanks for the help.

[2018-02-20 20:00] #31587 closed, assigned to nobody

[2018-02-20 20:14] ryansb commented on #36419
Unfortunately that isn't how Vault is intended to work - the intention is to have you encrypt your *vars* files that are then decrypted at runtime. In general, *templates* should not be secret in CloudFormation, but rather their parameters. For example, you could use [vaulted vars](http://docs.ansible.com/ansible/latest/playbooks_vault.html) and then pass them as template parameters (via `template

[2018-02-20 20:14] #36419 closed, assigned to nobody

[2018-02-20 20:47] ryansb commented on #36412
If it's possible to reproduce on `devel` please update here.

needs_info

[2018-02-20 20:49] ryansb commented on #36438
needs_contributor

[2018-02-20 21:41] victorock opened #36461 "nxos_vrf error when using vni option"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_vrf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
nxos 7.0(3)I7(1)

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

traceback error

[code]

[2018-02-20 21:43] Routhinator opened #36463 "Need ansible to report MB values in actual MB and not MiB"
##### ISSUE TYPE

 - Bug Report/Documentation Report

##### COMPONENT NAME

ansible
##### ANSIBLE VERSION

[code]
##### SUMMARY

Anisible misleadingly marks it's variables as being in MB, however they are in fact in MiB which is affecting a lot of calculations we do for calculating Postgresql buffer and memory parameters. How do I correct the units? I cannot find anything in the docs, so if there

[2018-02-20 21:46] sivel commented on #17095
Going to close this out.  There isn't anything for ansible to do here.  This is expected based on the behavior of pyyaml.

[2018-02-20 21:46] #17095 closed, assigned to nobody

[2018-02-20 21:55] jborean93 commented on #36277
There is not too much we can do here, for Ansible 2.5 we moved away from using scheduled tasks so this would no longer be an issue in that release https://github.com/ansible/ansible/pull/33118.

Unfortunately for older versions we cannot backport these changes as it relies on some changes to the underlying Ansible engine. To solve this issue you will need to look into the event logs/scheduled task

[2018-02-20 21:55] #36277 closed, assigned to nobody

[2018-02-20 22:07] jborean93 commented on #36255
Fix for stable-2.4 is here https://github.com/ansible/ansible/pull/36465

[2018-02-20 22:34] rwaweber opened #36466 "Seport: support list input for ports"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

seport

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

It would be nice if the `ports` option allowed for a list of strings instead of just a string.

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/seport.py#L234

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS
[code

[2018-02-20 22:42] jborean93 commented on #35238
@mvorisek not sure if it should be, how would you install this through the normal chocolatey command line (with 1 or 2 double quotes). If it is with 2 then it sounds like the php package is an outlier and we don't want to change anything but if it is 1 then yes maybe we need to look into it further.

I am wary of adding in a function to automatically duplicate double quotes as it could lead to all

[2018-02-20 22:43] jborean93 commented on #36255
Closing as this is now fixed in both devel and stable-2.4 with https://github.com/ansible/ansible/pull/36465. This fix will be available in the 2.4.4 and 2.5 release.

[2018-02-20 22:43] #36255 closed, assigned to nitzmahone

[2018-02-20 22:44] mxlan commented on #36412
Will do, haven't had time yet so far. I'll try to get it in the next few days.

[2018-02-20 23:11] behudson commented on #19966
I'm looking for a similar solution and can't find one for Ansible v2.3. I need something that allows me to perform a "set_fact" action using user input when a file does not exist and an environmental factor cannot be determined (b/c the file is missing). Similar to setting the "env == 'prod'" based on user input when the file does not exist (build was performed manually outside of standard build p

[2018-02-20 23:20] behudson commented on #19966
Clarification point:
- This method should allow per host input as a short list of hosts may need to be "cleaned up" when a manual build was performed for a subset of hosts due to possible issues with build resources or following non-standard implementation practices

[2018-02-20 23:27] neekz0r commented on #31822
@steaksauce-

Doesn't look like [according to the docs](http://www.dnspython.org/docs/1.15.0/):

`udp(q, where, timeout=None, port=53, af=None, source=None, source_port=0, ignore_unexpected=False, one_rr_per_rrset=False)`

[2018-02-20 23:27] julienvey commented on #36321
Ansible's behaviour is actually quite consistent with [AWS documentation](https://docs.aws.amazon.com/efs/latest/ug/API_CreateFileSystem.html)

String of up to 64 ASCII characters. Amazon EFS uses this to ensure **idempotent** creation.

So it seems logical ansible also makes use of this parameter to update an EFS (Not really sure what is the point from the AWS side to have both `creation_token` a

[2018-02-20 23:32] saichint opened #36471 "nxos_bgp_neighbor_af issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_bgp_neighbor_af

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I5(2)
##### SUMMARY

##### STEPS TO REPRODUCE

There are few issues with nxos_bgp_neighbor_af module.

1. allowas_in and allowas_in_max should be mutually exclusive. Both achieve similar functionality but the sec

[2018-02-20 23:46] JohnVonNeumann commented on #36419
Ahh ok, that sounds like a reasonable excuse for why it doesn't work then! haha. I do use it in the right places, but I think I've probably gone overboard with how much I use ansible-vault, our policy at my workplace (mainly me making the decision on Ansible use) has just been to vault everything that's not boilerplate. Probably too paranoid.

All good anyway, thanks for the reality check, sorry f

[2018-02-21 00:39] samdoran commented on #36156
@jsteel44 That took me a lot longer than anticipated. Please test #36474 as soon as you can since we have releases going out soon. Thanks!

[2018-02-21 00:47] faoiseamh opened #36475 "Handlers defined in roles are not loaded if the yaml file extension is used rather than yml"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
`/lib/ansible/plugins/strategy/__init__.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no config changes

##### OS / ENVIRONMENT
Amazon Linux (essentially CentOS 7)

##### SUMMARY
If a role has handlers defined in `ROLE/handlers/main.yaml` they are not loaded, however if the file extension is changed to `yml` the handlers are loaded. If bot

[2018-02-21 00:49] steaksauce- commented on #31822
I stand corrected! (as per usual) ;)

[2018-02-21 01:10] samdoran commented on #36057
Fixed in ##36258 and backported to `stable-2.4` for inclusion in Ansible 2.4.43

[2018-02-21 01:10] #36057 closed, assigned to samdoran

[2018-02-21 01:35] jborean93 commented on #36341
The reason why it continued the task and reported it as ok is because the fetch module has a parameter `fail_on_missing` which controls whether the plugin will report a failure or not. In older versions this is defaulted to `no` but according to the docs it was changed to `yes` since 2.4. Upon further investigation this never happened and so the default is `no` still. I've got a PR to fix up this

[2018-02-21 01:47] #35846 closed, assigned to nobody

[2018-02-21 01:53] steaksauce- commented on #31822
Forgive me if I am wrong (again -- I am trying to learn Python coming from the operations side of things):

it seems like this might require a re-qrite of the actual query portion of the plugin to use `dns.query.udp`
Hacking together some code (it's okay to laugh when I say this took me an hour of learning how to interpet the dnspython docs), I was able to get a query together for ALL types:
[code

[2018-02-21 02:08] scottwilliambeasley commented on #36370
bot_status

[2018-02-21 02:45] roadmapper commented on #36397
Looks like there was an effort (https://github.com/ansible/ansible/pull/24985) to switch to argparse and use argcomplete for bash completion, but looks like @sivel decided to close the PR after the branch became stale. Maybe it needs a second look?

[2018-02-21 03:00] sivel commented on #36397
The argparse branch was dropped for a few reasons. Top of the list was argparse wasn't added to the stdlib until py2.7, and we currently support py2.6.

I have plans on going back to it in a few releases.

[2018-02-21 03:08] roadmapper commented on #36397
Ah sorry, missed that crucial detail. Thanks for the clarification!

[2018-02-21 03:41] jborean93 commented on #35342
Thanks for the confirmation @valerius257, closing the issue.

[2018-02-21 03:41] #35342 closed, assigned to nobody

[2018-02-21 03:43] jborean93 commented on #36060
Looks like there is a check on the path in the module here https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_iis_virtualdirectory.ps1#L81. Usually when running things over WinRM you won't have access to any network resources. You can use CredSSP, Kerberos with credential delegation, or become to bypass this limitation if you wish.

It's probably a question as to whether

[2018-02-21 04:24] fcntl commented on #20492
Why so many spastics suggesting "pip install blah"? Docker is a built in Ansible module and should "just work". Flipping tards.

[2018-02-21 04:36] selivan opened #36480 "Named block directives do not work in handlers"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible host: Ubuntu GNU/Linux 16.04 Xenial
Managed host: Ubuntu GNU/Linux 16.04 Xenial

##### SUMMARY
Named block statements (http://docs.ansible.com/ansible/latest/playbooks_blocks.html) do not work in handlers. Ansible does not see that handler at all.

###

[2018-02-21 04:45] trishnaguha commented on #36435
@victorock https://github.com/ansible/ansible/pull/36472 fixes the issue. Please let us know if you are still getting the issue.

[2018-02-21 04:50] #36471 closed, assigned to nobody

[2018-02-21 05:34] jborean93 commented on #35805
Just tested it out on server 2016 and can confirm it works with `NT AUTHORITY\Everyone`, going to close the issue as the NT AUTHORITY part is required for these objects.

[2018-02-21 05:34] #35805 closed, assigned to nobody

[2018-02-21 05:43] trishnaguha commented on #36434
As discussed on slack, this isn't module bug. `update_source` expects `interface`. But it should fail with `Invalid interface` when the config is loaded. The PR https://github.com/ansible/ansible/pull/36482 fixes that.

[2018-02-21 05:57] DockerAsura commented on #33058
I had same problem,
found the error occurring, by ENV variable  in main.yml after changing those value's. it got fixed..

Here the my code

Before:- (Error code)
- name: TS install
  hosts: ts_nodes
  remote_user: root
  become: yes
  roles:
    - ts
  tags:
    - ts
  environment:
    TS_HOME: "{{base_install_path}}"
    PATH: {{ ts_home }}/bin
  vars_files:
    - group_vars/.vp.yml

After change

[2018-02-21 06:01] smithjlrhit opened #36483 "firewalld: Provisioning with docker container exits with DBUS_ERROR"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
firewalld

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
##### OS / ENVIRONMENT
RHEL 7 Host with RHEL 7 docker image

##### SUMMARY
When provisioning firewall rules with a docker container, the module fails with an exception, firewall.errors.F

[2018-02-21 06:09] Akasurde commented on #36370
@scottwilliambeasley bot_status will only work on `Pull Request`

[2018-02-21 06:34] Akasurde commented on #36483
resolved_by_pr #36486

[2018-02-21 06:37] nguyenkims commented on #30878
@alikins do you know why this issue is closed? Is there a solution/workaround to avoid this error? It makes some sublime/vscode ansible-vault extension unusable actually.

[2018-02-21 07:06] #36434 closed, assigned to trishnaguha

[2018-02-21 07:58] rstayalive opened #36490 "iptables module tcp_flags bug"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`iptables.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY

i have iptables rule:
`iptables -A OUTPUT -p tcp --tcp-flags ALL ACK,RST,SYN,FIN -j DROP`

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

`/usr/sbin/iptables -t filter -A OUTPUT -p tcp --tcp-flags ALL ACK,RST,SYN,F

[2018-02-21 08:04] jannsuom commented on #36223
I can propose a change if that is ok...

[2018-02-21 08:04] rstayalive commented on #36490
module https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/iptables.py

[2018-02-21 08:05] jborean93 commented on #35931
@willthames if you have some time, it would be great if you could test out this PR which should hopefully give you a better error message than before.

https://github.com/ansible/ansible/pull/36491

[2018-02-21 09:20] Miyurz commented on #32532
this happened to me because i had python2.7 and python3 installed on my machin. ansible was using python3 and thus the error.
so I had to explicitly specify it like below in my makefile target
`/bin/python2.7 /bin/ansible-playbook configure-box.yml `

[2018-02-21 09:25] krissi commented on #33457
The opposite of this I meaned with "agree on the current check behavior as expected" ;)

The workarounds are not about the red colors but about making failure a standard non-exceptional status. Lets take your code example, first assert on the existing certificate and when the assertion (or anything else) fails, renew the certificate:

[code]

This works when everything works as expected. But if an

[2018-02-21 09:39] MarkusTeufelberger commented on #33457
You'd need to add another task afterwards:

[code]

[2018-02-21 09:57] trishnaguha commented on #36461
@victorock Please test the PR https://github.com/ansible/ansible/pull/36494 and let us know.

[2018-02-21 10:04] krissi commented on #33457
That does not solve the problem. After renewing the certificate (which not necessarily needs `pyopenssl` to stick to my example) the certificate will be renewed and valid. Of course step 3 fails aswell, but the damage is already done at that point.
If we take the example with `chmod -r test.cert.pem` which is maybe set daily in some faulty cronjob, step 3 might be successful if the renewal process

[2018-02-21 10:13] julienvey commented on #36192
The source of your problem is this call, located [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_asg_facts.py#L375)
[code]
It describes the target groups associated with the autoscaling groups. This is how ansible outputs the `target_group_names` attribute.

So there's actually no update action being done in this module.

**Regarding AWS managed policies:*

[2018-02-21 10:15] pratikkava1189 commented on #36382
@Akasurde @tbielawa  Is it bug?

[2018-02-21 10:25] zoobab opened #36495 "Ansible gitlab module should fail if importing the repo of url_import is failing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

gitlab_project

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.2 (Maipo)

##### SUMMARY

I have this task which creates a GIT repo:
[code]

Then ansible succeeds in the step, but when I go to the gitlab web interface at the URL of the created git repo, it throws an error li

[2018-02-21 10:28] MarkusTeufelberger commented on #33457
Hm, ok I understand the problem now and I agree with you - risking to issue a certificate if something else is broken in your module is not the best way forward.

I would still fail the module, but something like `checks_failed: true` in the output of any provider might be a reasonable field to have, so one knows why the module failed.

[2018-02-21 10:35] petewilcock commented on #36192
@julienvey Thanks for this, we realised this requirement yesterday and seems to arise since TargetGroups was added in the ElasticLoadBalancerv2 set latterly.

My only request therefore would be to have a documentation update to reflect the requirements of the module :)

[2018-02-21 10:35] victorock opened #36496 "nxos_pim not idempotent and does not implement state (present/absent)"
feature idea - state: present/absent
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_pim

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

NXOS: version 7.0(3)I7(1)

##### SUMMARY

module is not idempotent and does not implements any states (present/absent).

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

not idempotent.

[cod

[2018-02-21 10:46] mkrizek commented on #36480
duplicate_of 14270

[2018-02-21 10:48] #36480 closed, assigned to nobody

[2018-02-21 10:50] julienvey commented on #36192
There's actually an issue opened on this topic #22552
It's a common problem across all aws modules

[2018-02-21 10:57] miniwark opened #36498 "subversion module: fail on https checkout"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible_module_subversion

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
- From: Ubuntu 16.04
- Manage: Debian 9.2
- Subversion version on manage: 1.9.5 (r1770682)

##### SUMMARY
The subversion module fail with error "'NoneType' object has no attribute 'group'"

##### STEPS TO REPRODUCE
With this task:
[code]
(

[2018-02-21 10:59] victorock opened #36499 "nxos_vxlan_vtep_vni fails when multicast_group and/or suppress_arp are specified"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_vxlan_vtep_vni

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

NXOS: version 7.0(3)I7(1)

##### SUMMARY

nxos_vxlan_vtep_vni fails when multicast_group and/or suppress_arp are specified

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-02-21 11:12] krissi commented on #33457
So something like the following is needed after the assertion? I think this is unintuitive and not very ansible-esqe.

[code]

Maybe it would better to add a parameter like `on_assertion_failed: fail|change|ok` or `fail_mode: True|False` or `assertion_mode: hard|soft` or something like it. When deprecating `None` for this parameter there is an migration path for current users as well.

[2018-02-21 11:18] mykaul opened #36500 "'description' field for ovirt_disk is not documented"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ovirt_disk

##### ANSIBLE VERSION
[code]

##### SUMMARY
While the description field seems to be implemented (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/ovirt/ovirt_disk.py#L442) it's not documented.

[2018-02-21 11:22] jayfk opened #36501 "CVE-2014-4966 and CVE-2014-4967"
##### ISSUE TYPE

 - Documentation Report

##### SUMMARY

The [1.6.7 release](https://github.com/ansible/ansible/blob/devel/CHANGELOG.md#167-and-the-cradle-will-rock---jul-21-2014) mentions CVE-2014-4967 and CVE-2014-4966.

Both of them are still in the `**RESERVED**` state:
- https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-4966
- https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-496

[2018-02-21 11:28] krissi commented on #33457
Ok, that solves the issuing to often problem but introduces a not issuing when needed problem. In this scenario the error (e.g. "The python pyOpenSSL library is required") is hidden again and the user will not fix it. So the certificate is never renewed.

[2018-02-21 11:30] joernheissler opened #36502 "Dynamic inventory fails, yet ansible continues to process"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dynamic inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing changed with regard to inventory

##### OS / ENVIRONMENT
Controller on Ubuntu 17.10

##### SUMMARY
Dynamic inventory script fails (exit code 1). Ansible then tries to parse it as yaml which succeeds. But only by accident, the **contents** of the script isn't meant to be

[2018-02-21 11:31] MarkusTeufelberger commented on #33457
The error will surface in the `Make sure the certificate is correct now` task and the play will never successfully complete.

[2018-02-21 11:49] trishnaguha commented on #36496
@victorock `state` is not a valid option for this module.

[2018-02-21 11:50] krissi commented on #33457
Ok, thats true. As this makes the second run obligatory, this should be mentioned in a big red warning banner in the docs, not just in the examples.
For me, I can absolutely work with this solution :+1:

[2018-02-21 11:51] #28498 closed, assigned to nobody

[2018-02-21 12:02] julienvey commented on #36412
@ryansb @mxlan I have experienced the same problem on devel

Here is a fix #36503
@mxlan Can you give it a try ?

[2018-02-21 12:14] julienvey commented on #36500
@mykaul field is documented [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/ovirt/ovirt_disk.py#L43). but since it has been implemented since 2.5, you don't see it appear on the official documentation yet

[2018-02-21 12:15] trishnaguha commented on #36496
@victorock If you run `show running-config | include ip.pim` on your device you will find `ip pim ssm range 232.0.0.0/8`. `232.0.0.0/8` is the reserved value i.e, default.

So if you set `ssm_range` to `default`, the device sets the default value to it i.e, 232.0.0.0/8. Instead of setting the default multicast address, please use the option `default`.
[code]
This is idempotent.

If you are not try

[2018-02-21 12:26] devopsian opened #36504 "bigip_pool monitor_types required when only one monitor"
##### COMPONENT NAME
lib/ansible/modules/network/f5/bigip_pool.py

##### ISSUE TYPE
- Bug Report

https://github.com/ansible/ansible/blob/a3e02a2417bb3a599e61ee5e3bbdbfcaf7f23a66/lib/ansible/modules/network/f5/bigip_pool.py#L322

The documentation says that monitor_types is optional - required when there are >1 monitors specified.  The code says that monitor_types should always be specified if >0

[2018-02-21 12:47] keltik85 commented on #12686
Ok for everyone who is interested and maybe has the same use case (ansible + vagrant). I solved it with the following magic:

[code]

Its working perfectly.

[2018-02-21 12:49] mykaul commented on #36500
Thanks, closing.

[2018-02-21 12:49] #36500 closed, assigned to nobody

[2018-02-21 13:02] alexejpissarev commented on #36034
Oh, my mistake - the wrong env variable (thanks to Kai): I should have set ANSIBLE_INVENTORY_UNPARSED_FAILED

Just tested - it worked as expected with env variable too:

`export ANSIBLE_INVENTORY_UNPARSED_FAILED=true`

`ansible-config dump --only-changed
INVENTORY_UNPARSED_IS_FAILED(env: ANSIBLE_INVENTORY_UNPARSED_FAILED) = True`

`ansible-playbook -vvvv -i nonexistinginv test.yml
ansible-playbook

[2018-02-21 13:12] ryansb opened #36506 "efs_facts needs a way to gather a subset of facts due to API limits"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

efs_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A - only affects AWS module

##### SUMMARY

The AWS EFS API is heavily rate limited, leading to frequent throttle/retry cycles. Previously, these caused the efs_facts module to error out (per #36040). Now the module does take a long time to execute

[2018-02-21 13:13] ryansb commented on #36040
Closing this out (as the error is resolved) but opened a feature request to track the need for a way to request fewer pieces of info so the module can run faster #36506

[2018-02-21 13:32] dagwieers commented on #36230
Given the deadline for changes to v2.5 is today, I will remove this module from the v2.5 codebase.

[2018-02-21 13:34] #12353 closed, assigned to nobody

[2018-02-21 13:46] valerius257 opened #36508 "win_iis_webbinding does not change http to https binding"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_iis_webbinding

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

ansible: CentOS 7
control: Windows Server 2012 R2

##### SUMMARY

win_iis_webbinding adds the second binding for site with the same port instead of

[2018-02-21 13:54] jwitko commented on #36321
Thanks @julienvey , I see what you're saying and after reading the documentation a bit more for both ansible module and the AWS api it is clear that the CreationToken is the source of trurth here.

I'll close this ticket out since this is not a bug.

[2018-02-21 13:54] #36321 closed, assigned to nobody

[2018-02-21 14:03] cnasten opened #36509 "nso_config fails on leaf-list and union with NSO 4.5"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nso_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
macOS High Sierra Version 10.13.3. Cisco NSO version 4.5.3

##### SUMMARY
nso_config fails to manage leaf-lists and values on union types.

##### STEPS TO REPRODUCE
YANG

[code]

YAML

[code]

##### EXPECTED RESULTS
Values to be set properly in NSO.

##### ACTU

[2018-02-21 14:03] #36461 closed, assigned to trishnaguha

[2018-02-21 14:12] #32729 closed, assigned to samdoran

[2018-02-21 14:23] jimi-c commented on #36501
I'm not sure why mitre doesn't show the information behind those. We un-embargoed them a long time ago. Perhaps the original reporter never contacted mitre to do so? Both CVE's were described in the CHANGELOG for that release:
[code]

[2018-02-21 14:29] julienvey commented on #36506
Looking more closely at the code I now understand why it can sometimes take a lot of time.

The code looks like this

[code]

What happen is:
* List all EFS in the region and collect all information (including mount targets and security groups)
* Then only, do the filtering if `tags` or `targets` is set

In my case, I wanted the facts about only 3 EFS (filtered by tag), but we have more than 100 i

[2018-02-21 14:33] #36065 closed, assigned to s-hertel

[2018-02-21 14:42] msilmser opened #36517 "Cyberark plugin fails with 'list' object has no attribute 'split'""
##### Summary

Cyberark plugin fails with 'list' object has no attribute 'split'"

##### COMPONENT NAME
cyperarkpassword.py lookup plugin

##### Environment

* Ansible version:  2.4.0

##### Steps To Reproduce:
1. Create a new playbook calling the cyberarkpassword.py lookup plugin
-- Sample playbook:
[code]
2. Run playbook that calls the plugin

##### Expected Results:

Playbook runs successfully

[2018-02-21 14:45] nkakouros opened #36518 "import_role with delegate_to does not run handlers on the delegated to host"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
import_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I am running import_role against a just-above created instance on google cloud. The role runs fine on the distant host, but the role handlers (just a win_reboot task), runs against my localhost.

##### STEPS TO REPRODUCE
This is the tasks that

[2018-02-21 14:52] kkehres commented on #36341
Thank you for the information on the incorrect documentation.  That's helps explain things a bit better as to why it reported ok.  Here's some answers and I need to get back to you on further testing.

- How did you update Ansible from 2.2 to 2.4, was it through pip or yum?
I didn't update Ansible actually.  I have a playbook which procures a new VM then has a bunch of tasks to install/configure e

[2018-02-21 14:55] mldmld68 commented on #36376
@tedder : According https://docs.ansible.com/ansible/latest/s3_sync_module.html, the default for file_change_strategy is date_size.
The size is the size of a Centos 7 repository with os/extras/updates for x86_64 and EPEL 7.
The size is 65 GB.

[2018-02-21 14:55] nkakouros opened #36519 "wait_for_connection with delegate_to does not use delegated-to host's connection parameters"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
wait_for_connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

Arch Linux latest

##### SUMMARY
When running a `wait_for_connection` from a linux host task with delegation to a windows host, the connection that is being tried is an ssh one.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
WinRM should be used to conn

[2018-02-21 15:06] ckoutsouridis commented on #25656
with ansible version: `2.4.2.0` i am getting a different error:

[code]

I believe that the KIND_URL in `_kubernetes.py` is wrong...it states: `"horizontalpodautoscaler": "/apis/extensions/v1beta1/namespaces/{namespace}/horizontalpodautoscalers"`

while i think it should be:
`"horizontalpodautoscaler": "/apis/autoscaling/v1/namespaces/{namespace}/horizontalpodautoscalers"`

The Kubernetes version

[2018-02-21 15:12] bcoca commented on #36517
For Ansible Tower support or questions, please utilize https://access.redhat.com/products/ansible-tower-red-hat

For the Open source version (AWX) https://github.com/ansible/awx

This issue tracker is for the open source Ansible CLI tools project.

[2018-02-21 15:15] jctanner commented on #36517
This is not a tower issue. The cyberark maintainers need to correct an issue in the lookup plugin.

[2018-02-21 15:21] msilmser commented on #36517
Tagging Cyberark contacts:

@cyberark-bizdev

[2018-02-21 15:21] bcoca commented on #36517
ah, took the title literally since reporter said it worked in cli but not in tower

[2018-02-21 15:27] dagwieers commented on #36519
Well, **wait_for_connection** is an action plugin, so it cannot be delegated. It always runs from the Ansible master node.

[2018-02-21 15:41] dagwieers commented on #36463
If your question is related to the default memory facts, then you are right. In my opinion we should return the number of bytes, rather than values in kB, MB or GB. Leave those calculations up to the user (Jinja2 already includes a filter for getting human-readable output).

[2018-02-21 15:56] c2h5oh commented on #31268
I can reproduce the problem with Ansible 2.4.3.0

`-e 'ansible_user=myuser'` correctly takes precedence over `ansible_user` set in the playbook when connecting to remote host, but it doesn't if I have `{{ansible_user}}` in a template.

[2018-02-21 16:00] Benny-Git commented on #35426
Hi @dagwieers

I understand what you mean: The top-directory is not listed in the archive. However it is "contained" in the archive _implicitly_, if not _explicitly_.

In my scenario with unpacking [logstash](https://www.elastic.co/de/downloads/logstash) this gets even more complicated, as the root dir (`logstash-6.2.1`) is not explicitly included, while the (empty) `logstash-6.2.1/data` directory

[2018-02-21 16:03] tterranigma commented on #36519
[**@dagwieers**](https://github.com/dagwieers) commented on [Feb 21, 2018, 4:27 PM GMT+1](https://github.com/ansible/ansible/issues/36519#issuecomment-367362879 "2018-02-21T15:27:02Z - Replied by Github Reply Comments"):

I think this should be mentioned somewhere. I created #36524 to add an example on the module's docs.

BTW, is it out of scope to ask the addition of a parameter in the `wait_for_

[2018-02-21 16:07] tterranigma commented on #36519
BTW, there is also no warning that `delegate_to` is not supported by the module.

[2018-02-21 16:18] cyberark-bizdev commented on #36517
I just tested your sample playbook in 2.4.0 and it worked fine for me.

Could you please share the output of:
ansible --version

Mine shows as:
ansible 2.4.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable l

[2018-02-21 16:19] cyberark-bizdev commented on #36517
I am particularly interested in the version of python you are using

[2018-02-21 16:21] sivel commented on #36517
The issue only arises when supplying `-vvvv` on the CLI.  The is due to the following line:

https://github.com/ansible/ansible/blob/24d4787b2d3bf531c048fe3cdce0534180193475/lib/ansible/plugins/lookup/cyberarkpassword.py#L170

[2018-02-21 16:39] cyberark-bizdev commented on #36517
I see the issue now... updating the line to pass a string to display.vvvv

[2018-02-21 16:41] sivel commented on #36130
We discussed this yesterday in the core IRC meeting, and have decided against adding this feature.

The same outcome can be achieved several ways, including:

1. Create a custom filter plugin that achieves the desired output
1. Create a jinja2 template file containing a macro and reference it like:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible o

[2018-02-21 16:41] #36130 closed, assigned to nobody

[2018-02-21 16:48] ko-christ commented on #34320
This option doesn't seem to be supported in `docker.py` at the moment
https://docker-py.readthedocs.io/en/stable/containers.html
https://github.com/docker/docker-py/issues/1920

[2018-02-21 16:59] sivel commented on #30441
We have made some recent improvements to `include_tasks` in 2.4 and forward.

Could you test the `stable-2.4`, `stable-2.5` or `devel` branches and confirm whether this is resolved for you?

needs_info

[2018-02-21 17:00] sivel commented on #30351
We have made some recent improvements to `include_tasks` in 2.4.3 and forward.

Could you test the `stable-2.4`, `stable-2.5` or `devel` branches and confirm whether this is resolved for you?

needs_info

[2018-02-21 17:01] sivel commented on #32537
We have made some recent improvements to `include_tasks` in 2.4.3 and forward that may impact this.

Could you test the `stable-2.4`, `stable-2.5` or `devel` branches and confirm whether this is resolved for you?

needs_info

[2018-02-21 17:29] pescobar commented on #35426
I also find more realistic that ansible could handle the different possible situations instead of expecting that everyone out there "fixes their archives". That's not realistic.

[2018-02-21 17:33] jlacroix82 commented on #17086
I completely agree that this would be a useful change. If the playbook is targeted toward localhost and you're using ansible-pull, the inventory file warnings are a useless eyesore.

I would go as far as to say that the ansible-pull binary should never warn if there is no inventory file at all, since I can't imagine a use-case where an inventory file would be useful with ansible-pull.

[2018-02-21 17:36] agolomoodysaada commented on #33045
Shouldn't this be idempotent? The module should check existing containers on the network before trying to re-add them.

[2018-02-21 17:51] k7faq commented on #29865
A temporary workaround: Create a Cache node in each Availability Zone and then update your php.ini with the new endpoint. Another tip: register a Route 53 to each endpoint upon creation in your playbook.

[2018-02-21 18:13] persanBR commented on #5952
+1

[2018-02-21 18:19] sivel commented on #23609
The merged fix from https://github.com/ansible/ansible/pull/36470 should further address recursion limits with `include_role`.

[2018-02-21 18:36] #36230 closed, assigned to nobody

[2018-02-21 19:07] ageis commented on #36397
There's a plugin for VSCode I noticed. https://github.com/timonwong/vscode-ansible-autocomplete

[2018-02-21 19:12] kumar1493 opened #36533 "while running playbook"
TASK [Install Docker] **********************************************************
fatal: [10.130.2.203]: FAILED! => {"changed": false, "failed": true, "module_stderr": "", "module_stdout": "Traceback (most recent call last):\r\n  File \"/tmp/ansible_BkDDN4/ansible_module_yum.py\", line 25, in <module>\r\n    import yum\r\nImportError: No module named yum\r\n", "msg": "MODULE FAILURE"}

[2018-02-21 19:13] kumar1493 commented on #36533
can any one sugguest me please

[2018-02-21 19:25] arigesher commented on #18188
I think this can be solved with `retries` parameter in **ansible.cfg**.

https://docs.ansible.com/ansible/latest/intro_configuration.html#retries

Add this to your `ansible.cfg`:

[code]

[2018-02-21 19:34] ozlevka-work opened #36536 "ansible_python_interpreter ignored in Ansible 2.4 for apt module when use async parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
apt module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux ubuntu-server 4.4.0-87-generic #110-Ubuntu SMP Tue Jul 18 12:55:35 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
##### SUMMARY

The apt module ignore the ansible_python_interpreter variable when use async parameter
##### STEPS TO REPRODUCE

configure ansible

[2018-02-21 19:41] ozlevka-ericom commented on #35902
Done #36536

[2018-02-21 19:48] #36412 closed, assigned to nobody

[2018-02-21 19:51] alexander-bauer commented on #35255
I'm also hit by this. I'm using a `group_by` play to split hosts between a `foreman_managed` and `foreman_unmanaged` group. When I limit my play to *just* hosts that aren't managed by Foreman, I see this error.

[code]

For a host that winds up in `foreman_unmanaged`, I see the following output.

[code]

[2018-02-21 19:56] ddrake17 opened #36539 "apt module add checksum verification to complement deb option for internet download"
ISSUE TYPE
feature idea

COMPONENT NAME
apt module

ANSIBLE VERSION
2.4.1

OS / ENVIRONMENT
N/A

SUMMARY
It would be nice to be able to do checksum verification when using the deb option with a URL (similar to how the get_url module works)

STEPS TO REPRODUCE
It could be used this way:

apt: name: foo deb: https://bar.foo.co/xyz.deb checksum:sha512:CHECKSUM_HERE

EXPECTED RESULTS
DEB file download

[2018-02-21 20:07] hbruch commented on #33045
Yes, it does already. See #33048 which fixes this check for docker api version >=1.28.
As long as this is not merged officially, you may place the patched docker_network.py in the library folder.

[2018-02-21 20:22] joaocc opened #36543 "helm: how to specify a context when installing a chart?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
helm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The "helm" module doesn't seem to support specifying a kubectl context, neither explicitly (via ```context:``` nor via the ```K8S_AUTH_CONTEXT``` environment variable.
This makes it difficult to use in environments where more than 1 cluster is be

[2018-02-21 20:26] mtnbikenc opened #36544 "Type conversion of variables in inventory is inconsistent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Inventory variables are treated differently depending on where they are defined.  If a variable is provided on the host line in an ini-style inventory, Ansible will perform automatic type conversion.  The same does not apply for

[2018-02-21 20:28] mtnbikenc commented on #36544
/cc @maxamillion

[2018-02-21 20:30] oldlance commented on #30759
#### Update on 2018-02-21

The above apache/libcloud PR submitted by @bchazalet has been accepted and included in `apache-libcloud-2.3.0`.  I can confirm that with this version of `apache-libcloud` and `ansible 2.4.2.0` it is now possible to use Shared VPCs with the `gce` module.

[code]
Thanks very much indeed, @bchazalet, for making this possible.

[2018-02-21 20:36] dagwieers commented on #35185
No feedback. I am closing this. If this is still an issue, feel free to reopen.

[2018-02-21 20:36] #35185 closed, assigned to nobody

[2018-02-21 20:37] bcoca commented on #36544
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is functioning as per the YAML spec, I don't see that as inconsistent, you define it as a string, if you wanted a dictionary, remo

[2018-02-21 20:46] sivel commented on #36544
This does appear to be a valid bug. There is a functionality difference between `_parse_host_definition` and `_parse_variable_definition` in the `ini` plugin, that prevents variable definitions from being ast parsable.

[2018-02-21 20:48] persanBR commented on #5952
maybe a way is to create includes and load it on the main.yml and there vinculate with a var like

main.yml
- include: add-users.yml
- include: remove-users.yml
  when: remove is defined

Thus when you wanted use the remove file (whose could be all taged with tags: remove) you could just set the variable remove when calling the playbook.

[2018-02-21 20:49] samdoran commented on #32503
This is working in `devel` but only with `include_role`, not `import_role`.

[2018-02-21 20:50] sivel commented on #36544
It looks like the difference is that `shlex_split` removes the wrapping `"` around the right side of the variable definition:

wrapped with `shlex.split`:
[code]

Not wrapped:

[code]

So we likely need to duplicate the use of `shlex.split` into `_parse_variable_definition`.

[2018-02-21 20:53] bcoca commented on #36544
sorry, missed that it 'worked on one side' ... that was probably implemented in the original ini.py parser and just copied into the current plugin.

[2018-02-21 20:54] sivel commented on #36544
Maybe a change like:

[code]

[2018-02-21 20:58] bcoca commented on #36544
at this point im thinking it needs to be a config toggle

[2018-02-21 21:14] andrunah commented on #26190
So. I ended up going thru ansible code to understand how it works with encrypted variables and wrote some tiny script that I can use in my automation jobs. I hope it would be useful for anyone who is waiting for this issue to be fixed.
https://github.com/andrunah/ansible-vault-variable-updater

[2018-02-21 21:14] hugeps commented on #17273
We're encountering similar issue on some of the clients.
Consistently on same client, but not possible to determine the root cause.
How do I enable more verbose debug from the client side ?

[2018-02-21 21:51] riton commented on #23609
Thanks for the update @sivel .

I've updated my public [poc](https://github.com/riton/ansible_POC_include_role_max_recursion_depth_issue_23609) accordingly.

The `include_role` is now fully functionnal and pretty damn fast. Thanks to every one that worked on this !
On the other hand, the `import_role` stll seems hard to use.

[2018-02-21 21:52] michaelgugino commented on #36544
The following is not valid json:
[code]

If the string above is parsed into a dictionary in the ini-style format in the hosts line, we should do it in the group line as well.  It's not usable as json in the current form.  Given that, I think the risk of properly parsing it as a dictionary is low to existing users.

I'm in favor of parsing.

[2018-02-21 21:54] sivel commented on #36544
@michaelgugino as a work around, if you unquote the value, it works as expected:

[code]

[2018-02-21 22:03] #36156 closed, assigned to samdoran

[2018-02-21 22:08] bcoca commented on #36544
its not JSOn, its python, iirc its literal_eval based.

[2018-02-21 22:25] gdolata opened #36548 "efs_facts fails with KeyError: 'Nextmarker'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
efs_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
N/A

##### SUMMARY
Module efs_facts fails with KeyError: 'Nextmarker'.

##### STEPS TO REPRODUCE
ansible -c local localhost -i localhost, -m efs_facts -vvv

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

##### ROOT CAUSE
The problem is located in

[2018-02-21 22:33] sivel commented on #36536
Could you provide the output invoking ansible-playbook with `-vvvv`?

needs_info

[2018-02-21 22:50] julienvey commented on #36118
I can't reproduce the problem on devel using the following playbook (it works on both create and update)
[code]

[2018-02-21 23:04] joaocc commented on #36330
Seems to be solved in
[code]

[2018-02-21 23:04] gregswift commented on #35745
@bcoca

So, generally I get how maybe the new loop stuff provides an alternate path. However, i just went to implement new something using this, and again i'm reading through the examples.  These examples just don't make sense in a scenario where non-matching files throw an error.

[code]

Just reading the names (which i get are overly descriptive for the sake of documentation) my gut just screams

[2018-02-21 23:30] twhiston opened #36554 "openshift_scale/k8s_scale failing due to missing models"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openshift_scale
k8s_scale

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
OSX

##### SUMMARY
Running a simple example for openshift_scale or k8s_scale fails with
Error: V1Deployment was not found in client.models.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Task succeeds

##### ACTUAL RESULTS
Error: V1DeploymentConfig was not

[2018-02-22 00:13] dagwieers commented on #35426
What you expect is one thing, how it is implemented is completely different. You see **unarchive** is a wrapper around **unzip** and **gtar**. So the module does not really create anything, it hands it off to another tool. Only for the sake of testing the state it knows about the content of an archive.

So what you want requires a proper module that does the extraction itself and has complete cont

[2018-02-22 00:28] #35957 closed, assigned to nobody

[2018-02-22 00:28] willthames commented on #36548
@gdolata I notice you've raised this against ansible 2.3.1 - this bug has been fixed, although is not yet in a released version (2.5 is expected very shortly)

You can use the devel version of [efs_facts.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/efs_facts.py) without needing to upgrade ansible: https://willthames.github.io/2017/12/12/using-updated-modules-w

[2018-02-22 00:28] #36548 closed, assigned to nobody

[2018-02-22 00:28] guzzijason opened #36557 "Recursive directory copy results in directory being nested inside a duplicate of itself"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
copy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### SUMMARY
A copy task using `with_items` to copy both files and directories (recursively) to a given dest is causing the directory to be nested "within itself" somehow.

##### STEPS TO REPRODUCE

[code]

##### EXPEC

[2018-02-22 01:33] #35931 closed, assigned to nobody

[2018-02-22 01:51] guzzijason commented on #36557
Note, it turns out that removing `{{ item }}` from the target dest allows it to work correctly, like so:
[code]
It still seems to me that `dest: "/tmp/{{ item }}" _should_ work - and it does work for the file - but **not** for the directory, which just seems inconsistent.

[2018-02-22 02:03] #36536 closed, assigned to sivel

[2018-02-22 02:04] zikalino commented on #35536
I was thinking about this issue during Chinese New Year holidays, and I think I figured out the only proper solution (before there's any generic fix).
I think it should work as follows:
- azure_rm_deployment should fetch template JSON file from specified URI
- all the parameters should be checked against fetched template and if necessary converted to appropriate type.

@ilseokoh @MarkRoddick do yo

[2018-02-22 02:18] liqingkai2017 commented on #36153
@gundalow  as your example,I modified my adhoc command:
ansible netengine -c network_cli -u xxxx -m ios_command -e "ansible_network_os=ios" -a "commands='display device'"
and my inventory as below:
[all:vars]
ansible_connection=network_cli

[netengine]
10.248.133.156 ansible_ssh_port=2222 ansible_user=xxxx ansible_ssh_pass=xxxx
but  it got the same mistake:
ansible 2.5.0b1
  config file = /etc/ans

[2018-02-22 02:35] kuperlen commented on #1934
I just tried this, and it worked for me:

If foo is the name of the group, use the host, or one of the hosts where the variable was registered. You want to use something like

        "{{ hostvars['server IP']['ls_out']['stdout_lines'] }}"

[2018-02-22 02:46] zikalino commented on #36444
i will look into this issue by the end of the week

[2018-02-22 02:48] zikalino commented on #36330
bug_resolved

[2018-02-22 02:50] zikalino commented on #36093
@zwindler thank you for reporting, i will check this issue by the end of this week

[2018-02-22 02:52] zikalino commented on #36163
@x-gnn thanks for reporting, i will look into this issue by the end of this week.

[2018-02-22 02:52] #36330 closed, assigned to nobody

[2018-02-22 02:59] zikalino commented on #35656
@maxamillion sorry, it took a but longer than expected. i am planning more general approach on idempotency, so i will probably start with **azure_rm_networkinterface**.
I think current approach of "manual" checking for idempotency (parameter by parameter) is very error prone and futile, in general it works differently in every module and there's always something missing, so i am going to propose f

[2018-02-22 04:47] ksk641 commented on #23491
Hi i'm new to ansible, can anyone help to write a yml code to apply stickybit on multiple servers , multiple directories.

[2018-02-22 05:35] neekz0r commented on #31822
The dnspython docs are... errr.. painful IMHO. So no laughing, just a shared wince of pain in having to read them too.

While I haven't delved overly much other than a quick looksy at the code to verify I wasn't using the plugin wrong, [here](https://github.com/ansible/ansible/blob/891f4f3b2d1b2fcab1b64e0ea942d186f98b7406/lib/ansible/plugins/lookup/dig.py#L216-L231) is the troublesome section. IMH

[2018-02-22 07:01] Zorrom commented on #35943
@Akasurde Hi Akash, I checked with the CloudForms people and they said that its not an issue with ansible version and it should continue working the same way as its supposed to work.

However I found something from the same ansible code, as the first execution throw the error message as "msg": "The number of network adapter settings in the customization specification: 0 does not match the number o

[2018-02-22 07:02] Akasurde commented on #35831
resolved_by_pr #36562

[2018-02-22 07:02] Akasurde commented on #35831
@Tclemento Could you please try above patch and let me know if it works for you ?

needs_info

[2018-02-22 07:09] Akasurde commented on #35943
@Zorrom Actually you are using 2.3.2 which is very old. A "lot" of changes went into 2.4 and 2.5 releases. So it is very hard to tell what is causing this issue.

Please let me know if you need any help on this (ping me akasurde on irc.freenode.net #ansible-vmware channel)

[2018-02-22 07:26] Sunil788 opened #36563 "nios_zone: Unable to update comment for an existing Zone"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nios_zone

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ubuntu 16.04.3 LTS

##### SUMMARY

Unable to update comment for an existing Zone

##### STEPS TO REPRODUCE

- Run a playbook to create Zone with Comment

[code]
Zone created with comment Successfully

- Now run again playbook to update the Comment for the created Zone
[code]

[2018-02-22 07:27] Zorrom commented on #35943
@Akasurde Ok I got it. Thanks for the clarification. By the way the irc you mentioned is that website https://freenode.net .

[2018-02-22 07:33] Yajan commented on #18305
I am facing the same issue while executing a bash script from ansible, Any solutions for this problem

[2018-02-22 07:35] Sunil788 opened #36564 "Unable to update Zone Extensible Attribute"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nios_zone

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ubuntu 16.04.3 LTS

##### SUMMARY

Unable to update Extensible Attribute for an existing Zone
##### STEPS TO REPRODUCE

- Run a playbook to create Zone with Extensible Attribute

[code]
Zone is created with EA Successfully
- Now run again playbook to update the EA from Site:

[2018-02-22 07:42] zakabluk commented on #35089
Tnx, You helped me very mach!

[2018-02-22 07:42] #35089 closed, assigned to nobody

[2018-02-22 07:44] Sunil788 opened #36565 "Failed to create IPv6 network in NIOS"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nios_network

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ubuntu 16.04.3 LTS

##### SUMMARY

Failed to create IPv6 network in NIOS

##### STEPS TO REPRODUCE

- Run the below playbook to create IPv6 network in NIOS

[code]

##### EXPECTED RESULTS

IPv6 network should be created on the NIOS Successfully
##### ACTUAL RESULTS

[code

[2018-02-22 07:59] Sunil788 opened #36567 "infoblox-client requirement is not clearly mentioned when playbook is run with nios module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nios

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ubuntu 16.04.3 LTS

##### SUMMARY

- infoblox-client requirement is not clearly mentioned for nios playbook run

##### STEPS TO REPRODUCE

- Do not install infoblox-client python package
- Create a playbook using any nios module, say nios_zone and execute it.

[code]

##### EXPEC

[2018-02-22 08:11] abirami-n opened #36568 "Issue in handling error codes thrown on dellos6 devices"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/lib/anisble/plugins/terminal/dellos6.py

##### ANSIBLE VERSION
[code]

[2018-02-22 08:17] scottalan commented on #31194
I was having the same issue and this is what worked for me:

Original "fetch":
[code]
Using "synchronize":

[code]

[2018-02-22 08:27] ptux commented on #14131
@aklemp I see, you succeeded  with module `synchronize `,not `cp`.
Thanks.

[2018-02-22 09:15] ossark commented on #36421
You are correct. It works now. Sorry for the confusion.

[2018-02-22 09:21] Tclemento commented on #35831
Hello,

It's works :+1:

Thanks you

[2018-02-22 09:50] jsteel44 commented on #36156
Looks good thanks!

[2018-02-22 10:16] Sunil788 opened #36574 "No option to update an existing NIOS Network View name"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nios_network_view

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ubuntu 16.04.3 LTS

##### SUMMARY

- Updating an existing NIOS network view name will create a new Network View instead of updating the existing ones.

##### STEPS TO REPRODUCE

- Run a playbook to create Network view

[code]
There is no reference for network view "a

[2018-02-22 10:28] GitMind commented on #29807
Hi guys. I have the same problem:
_# ansible --version
   ansible 2.4.3.0_

error:
_fatal: [hq-edge-01]: FAILED! => {"changed": false, "command": "no username test", "msg": "timeout trying to send command: no username test", "rc": 1}_

what I try to do:
_- name: Remove test user from device
    ios_config:
      lines:
        - no username test
      provider: "{{ cli }}"
    when: "'test' in ios

[2018-02-22 10:30] halcode commented on #35895
seems to happen with python2.7 interpreter

[2018-02-22 10:50] trishnaguha commented on #36421
Thanks for the information. Closing the issue.

[2018-02-22 10:50] #36421 closed, assigned to trishnaguha

[2018-02-22 10:54] halcode commented on #31908
See #35895, this may be due to a resource issue (max file limit, memory...)

[2018-02-22 10:56] trishnaguha commented on #29807
This is because of the ios prompt when deleting user: `This operation will remove all username related configurations with same name`. This is handled in ios_user module. Please use ios_user module instead for 2.4 or 2.5.
We are planning to handle prompt in config mode in 2.6.

[2018-02-22 11:12] GitMind commented on #29807
Thank you a lot!

[2018-02-22 12:05] philippe-granet opened #36575 "'hostvars' is undefined"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook --syntax-check

##### ANSIBLE VERSION
ansible 2.4.3.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/rteague/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible

[2018-02-22 12:11] ghost opened #36576 "ERROR! Unexpected Exception, this is probably a bug: 'AnsibleSequence' object has no attribute 'strip'"
##### ISSUE TYPE

- Bug

##### COMPONENT NAME
ansible module "import_playbook"

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No settings changed, confirmed with "ansible-config dump --only-changed" outputting nothing.

##### OS / ENVIRONMENT
[code]
##### SUMMARY
Exception when running playbook: "ERROR! Unexpected Exception, this is probably a bug: 'AnsibleSequence' object has no attribute 'st