[2018-02-06 20:38] snevs commented on #17436
same thing:
This is how a wget cookie file looks like:

[2018-02-06 20:43] sivel commented on #17436
@snevs please see https://github.com/ansible/ansible/pull/33792

[2018-02-06 20:50] kclausen-tm commented on #34816
I have the same issue, although in my case it fails _every_ time. Not just intermittently.

[2018-02-06 20:58] dzhus commented on #16789
FWIW my issue https://github.com/ansible/ansible/issues/16789#issuecomment-250709434 doesn't reproduce with Ansible 2.4.2.0 on macOS 10.12.6 with opensc: stable 0.17. from Homebrew. I don't use ssh/gpg-agent and Yubikey works flawlessly with my playbooks.

[2018-02-06 21:02] azaghal commented on #35687
notabug

Issue reporter used wrong version of `psutil` package (the distro-provided one is unfortunately too old).

[2018-02-06 21:11] #35687 closed, assigned to nobody

[2018-02-06 21:14] maxamillion commented on #35717
From the error message `rsync: failed to set times on "/tmp/.": Not owner (1)`, it looks like a permissions issue on the remote system for `{{ dest_loc }}`

[2018-02-06 21:14] maxamillion commented on #35717
needs_info

[2018-02-06 21:17] marcindulak commented on #35344
You mean the first multiplication line is not supported by jinja2? http://jinja.pocoo.org/docs/dev/templates/#math

Is the error and the solution reproducible?

"A worker was found in a dead state" tends to appear from time to time, maybe the case is worth debugging further?

[2018-02-06 21:18] Ghilli3 commented on #35725
Hi All, I've fixed this issue.  The problem was that in the test/runner/requirements.txt and changed the case for pyfmg to pyFMG so that the docker containers were loading the proper package.

[2018-02-06 21:23] sudochop commented on #14641
Bad bot.

[2018-02-06 21:24] bcoca commented on #35745
It functions as intended and designed, this 'feature' was only thing you could not do already in loops.
[code]

I actually recommend using loop instead in almost any case, even when you need the 'foreign file alert', its better to just have a `find` task that fails when they are present.

[2018-02-06 21:37] kclausen-tm opened #35811 "ec2_group module fails in creating access to 0.0.0.0/0 port 443 and port 80"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ ansible-config dump --only-changed
$

##### OS / ENVIRONMENT

n/a
##### SUMMARY

I have a group_vars file that defines my VPC and when I try to create a new VPC it fails to create my edge security group with the correct permissions.

It's supposed to create a group that gives pub

[2018-02-06 22:08] andrewsaraceni commented on #35805
Hey @trondhindenes, it's been a bit since I worked on this, but if I recall correctly, nested local groups are not allowed in Windows:

https://gallery.technet.microsoft.com/scriptcenter/Nested-User-Groups-Groups-5a2ff93d

[2018-02-06 22:21] cben commented on #19232
bot_status
bot_broken
(This is an issue, not a PR.  What basis does ansibot have to add people, and add/remove labels, seemingly at random?)

[2018-02-06 22:28] mikewiebe commented on #35801
@trishnaguha Hold off on debugging or trying to recreate this.  It might be a testbed problem that I am investigating.

[2018-02-06 22:28] mikewiebe commented on #35795
@trishnaguha Hold off on debugging or trying to recreate this.  It might be a testbed problem that I am investigating.

[2018-02-06 22:34] dagwieers commented on #35344
The problem is that we were actually multiplying the string '1kB' a million times. So you're generating a very long string of possibly 3 to 96 million characters, simply because the brackets were missing...

[2018-02-06 22:46] dagwieers commented on #35789
You are fixing the wrong thing. The problem you are having is not related to **wait_for_connection**, the problem is rebooting. And the fix is to have a proper **reboot** module that understand when a system is properly reboot (which includes checking whether it actually was rebooted). See https://github.com/ansible/ansible/issues/16186 I do like your suggestions, we were thinking of looking at th

[2018-02-06 22:57] bcoca commented on #21945
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-02-06 22:57] #21945 closed, assigned to nobody

[2018-02-06 22:58] maxamillion commented on #35778
needs_info

[2018-02-06 23:05] kedmison commented on #35789
I agree that a reboot module would be preferred, most definitely.  If one is forthcoming soon, this sort of workaround is not needed.

[2018-02-06 23:05] #35789 closed, assigned to nobody

[2018-02-06 23:06] Lujeni commented on #29895
need_info

[2018-02-06 23:06] willthames commented on #29872
@dgm you can just copy the module from the pull request into your library (http://willthames.github.io/2017/12/12/using-updated-modules-with-stable-ansible.html)

You can also just run from source - if you've cloned ansible/ansible, you can then do git fetch origin pull/35761/head:pr-35761 to create a local branch called pr-35761, checkout that branch and then run.

I would expect `aws configure s

[2018-02-06 23:29] pief commented on #17763
This would indeed be an excellent thing to implement.

I'm only afraid that it could be surprising to people if after updating suddenly a bunch of files get rewritten because we now respect the original hash definition order.

[2018-02-06 23:32] willthames commented on #35811
Does this happen with `proto: tcp` too?

It's a bug either way, but the workaround is likely to be to specify the protocol correctly.

[2018-02-06 23:38] dagwieers commented on #17763
Well, that could already be the case as there's no guarantee currently that key ordering is deterministic AFAIK. Running it on a different python could cause the same thing.

Even when using the rekey_on_member jinja filter to turn a list of dicts into a dict, it suddenly looses the original order, so that would be another reason to already support it for specific constructs.

But it depends wheth

[2018-02-06 23:39] dgm commented on #29872
It's not ideal, as it requires a couple extra playbook calls to set up the awscli ... but it is certainly an interesting workaround.   This is probably the end result:

[code]

[2018-02-06 23:50] bcoca commented on #35344
multiplying numbers is much more efficient than multiplying strings.

[2018-02-07 00:14] dgm commented on #29872
Ok, awesome.   I can confirm that a simple `use_v4_signature: true`  works for me with that change.  I don't have any immediate use cases for the other changes.

[2018-02-07 00:41] agustincastanio commented on #27565
+1

[2018-02-07 01:35] abadger commented on #35613
I've merged #35748.  If you rerun with the latest devel you should be able to see why tempdir creation is failing now.

[2018-02-07 03:05] #35736 closed, assigned to nobody

[2018-02-07 03:06] willthames commented on #32575
`device_type` should be removed from the devel version of the Ansible docs - once 2.5 is released, it should no longer appear in the stable docs.

[2018-02-07 03:16] banjocat commented on #34153
I downgraded pymongo to 3.5.1 and "fixed" this problem for me.

[2018-02-07 04:34] fubarhouse commented on #14131
I agree with @aklemp.

Syncronise has kept me out of trouble once or twice, however when dealing with a variety of connections (ssh vs local vs vagrant), things become undesirably unreliable with testing and roll-outs.

I usually end up going back to `cp`.

With that said, recursive copy is a nice to have here - should that exclude it from being able to be officially supported longer-term? If the

[2018-02-07 04:58] Akasurde commented on #35783
@Mixer9 As @maxamillion suggested, you need to have separate section in vars or type everything under disks section. Here, I would like to add more - This can not be a feature as user may not always have same type of disks, size of disks, same datastore of disks or any other specific parameter which may come in future.

So I will close this issue as this may not be feasible.

[2018-02-07 04:58] #35783 closed, assigned to nobody

[2018-02-07 05:07] Akasurde commented on #35721
@merloon Reducing disk's size is not allowed as this may give inadvertent results.

Closing this issue as original issue is resolved by #35727. Please feel free to re-open if problem persists.

[2018-02-07 05:07] #35721 closed, assigned to Akasurde

[2018-02-07 05:07] Akasurde commented on #33760
Closing this issue as original issue is resolved by #35727. Please feel free to re-open if problem persists.

[2018-02-07 05:07] #33760 closed, assigned to Akasurde

[2018-02-07 05:28] Akasurde commented on #35646
It turns out be issue related to NIC in template.

For posterity,

Template from which VM is cloned does not have network card / network. So adding new network card / network while cloning operation raises following errors -

[code]

Original issue reported is resolved in Version 2.5.

[2018-02-07 05:31] Akasurde commented on #34746
@dkirrane `vcenter_folder` is merged. This module can be used to create and delete various folders like 'VM and template, Host and Cluster, Datastore, Network' etc.,

Please retry using this module and let me know if it works for you.

needs_info

[2018-02-07 05:45] shajay12 commented on #32032
Please close this issue.
Now its resolved. I have Updated Ansible to 2.4.2.0 and Python to 2.7.13

please close it.

On Wed, Feb 7, 2018 at 12:20 AM, ansibot <notifications@github.com> wrote:

[2018-02-07 06:24] trishnaguha commented on #35795
@mikewiebe looks like environment issue. Can you reproduce it every time?
Unable to reproduce. Works fine for both transports for us.
[code]

[2018-02-07 06:29] ymartin59 commented on #35768
@bcoca I agree (is there something wrong in kernel device mapper ?) and as an immediate work-around, I had to invoke `blockdev --getsize64` to retrieve block device size.
So this "bug" may become an "improvement" request:
What about adding a switch `get_blockdev` to `stat` module (like `get_attributes`), so that Ansible invokes `blockdev` (or directly parse `/sys/` content for efficiency) to eithe

[2018-02-07 06:31] trishnaguha commented on #35801
@mikewiebe looks like environment issue. Can you reproduce it every time?
Unable to reproduce. Works fine for both transports for us.
[code]

[2018-02-07 07:11] mohtashims commented on #35717
@maxamillion the issue is not what you are suspecting.

The permission error is because of the bug.

The synchronize module is constructing the rsync command as below:
`rsync --delay-updates -F --compress --archive --rsh=ssh -S none /web/Transfer_Files/data/ wlsuser@mybank.intra.com:/tmp`

The "-S none" is the problem. If i remove "-S none" the playbook works. I dont get permission issue anymore.

[2018-02-07 07:43] merloon commented on #35721
@Akasurde I don't whant to reduce disk but add disks on the vm based on variables.

- with this:
[code]
and I whant to use this array

[code]

Is it clear ? if not please let me know ?

BR

Merloon

[2018-02-07 08:05] Koleon commented on #35646
@Akasurde Thank you very much for cooperation and prompt solving. 👍

[2018-02-07 08:05] #35646 closed, assigned to nobody

[2018-02-07 08:06] jhawkesworth commented on #35784
@jgeorgeson , @jborean93 has been working on fixing/improving win_uri - please can you test https://github.com/ansible/ansible/pull/35487 as I suspect this will fix your problem.

If you need a quick workaround you could try win_get_url which I think will not fail if the creates file already exists.

[2018-02-07 08:23] hryamzik commented on #34329
Updated initial issue.

[2018-02-07 08:43] rahulkp220 commented on #14413
This worked for me on **Ansible 2.4.2.0** and **Ubuntu 16.04 LTS** on **Azure**

[code]

[2018-02-07 08:44] evrardjp commented on #19232
?

[2018-02-07 09:02] liubog2008 opened #35825 "Run all precheck task before real tasks in role"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

role

##### ANSIBLE VERSION

[code]
##### SUMMARY

I hope to run all precheck tasks before real tasks in role while import many roles.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[code]

[2018-02-07 09:05] windowsansiblernew opened #35826 "Source bucket cannot be found - S3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`s3.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Trying to download files from S3 , but it is not working
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Files should be downloaded

##### ACTUAL RESULTS

[code]

[2018-02-07 09:23] kennethkmp opened #35827 "do-until on vmware_guest_snapshot does not read resgistered var"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

until
##### ANSIBLE VERSION

[code]
(Also tested on 2.4.3 and 2.5)
##### CONFIGURATION

DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 200
DEFAULT_GATHER_TIMEOUT(/etc/ansible/ansible.cfg) = 60
DEFAULT_HASH_BEHAVIOUR(/etc/ansible/ansible.cfg) = merge
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/opt/ansible_infra/inventory']
DEFAULT_MANAGED_STR(/

[2018-02-07 09:23] Akasurde commented on #35721
@merloon I see you are using template for cloning, disk0 should match template disk 0 otherwise you will see this error.

[2018-02-07 09:33] baszoetekouw opened #35828 "Please be more descriptive about undefined variables"
##### ISSUE TYPE

 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
errors

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
AnsibleUndefinedVariables could be more descriptive.  For example, when outputting:
[code]
it would be helpful to tell me _which_ dict object lacks this attribute, and in which template this error occurred.

[2018-02-07 09:40] merloon commented on #35721
@Akasurde yes it was the case but I don't know whit the module want to change disk0 and not create new disks ...

- this step is ok
[code]

- but I don't understand why the module wnat to change the first disk ...

[code]

[2018-02-07 09:40] nikaro commented on #16049
Would be a nice feature to have. I have a playbook with something like this :

[code]

[2018-02-07 09:45] Akasurde commented on #35721
Ansible maintenance idempotency with respect to object in this case VM. If you want to add more disks then you can add additional configuration under disks (keeping existing template disk intact).

[2018-02-07 09:48] merloon commented on #35721
@Akasurde Thanks
But I don't find the way to do that...

[2018-02-07 09:54] Spredzy commented on #33932
notabug (see previous comment)

[2018-02-07 09:54] Spredzy commented on #33933
notabug

[2018-02-07 09:54] Spredzy commented on #33932
closeme

[2018-02-07 09:54] akcrisp commented on #35767
@maxamillion the ansible 2.4.3 isn't currently on fedora epel or in rhel 7 extras. Can you explain what the promotion process is ? is it considered to be production ready when they are added to the https://releases.ansible.com ? if they are why aren't they made available on epel / extras immediately is my question i guess.

Andy

[2018-02-07 09:54] Spredzy commented on #33933
closeme

[2018-02-07 09:55] #33933 closed, assigned to nobody

[2018-02-07 09:55] #33932 closed, assigned to nobody

[2018-02-07 09:58] #34886 closed, assigned to mkrizek

[2018-02-07 09:58] #31166 closed, assigned to nobody

[2018-02-07 09:58] #31981 closed, assigned to nobody

[2018-02-07 09:58] #32037 closed, assigned to nobody

[2018-02-07 09:58] #34698 closed, assigned to nobody

[2018-02-07 09:58] #35413 closed, assigned to nobody

[2018-02-07 10:00] tremble opened #35829 "include is deprecated but import_* and include_* still flagged as preview"
##### ISSUE TYPE
 Documentation Report

##### COMPONENT NAME
- include
- import_*
- include_*

##### ANSIBLE VERSION
[code]

##### SUMMARY
When running playbooks with an "include" statement, Ansible spits out a deprecation warning.

Currently import_* and include_* are still flagged as "preview" in the documentation, implying that people should avoid using them.  This is a very inconsistent messag

[2018-02-07 10:02] ssbarnea commented on #19720
Our of curiosity, is there a way to make ansible exist with a special (custom) error code in case something happened?

I want to use a special exist code for the case when some unittests failed and exist code is the best way to communicate with CI processes.

[2018-02-07 10:06] jmarcos-cano commented on #22127
For me (Centos 7) I needed to change /etc/ssh/sshd_config

from this:
`Subsystem    sftp    /usr/libexec/openssh/sftp-server`

to this:
`Subsystem sftp internal-sftp`

restart sshd (systemctl restart sshd)

hope it helps

[2018-02-07 10:09] Spredzy commented on #35550
@jean-christophe-manciot done

[2018-02-07 10:10] tremble commented on #35829
bot_status

[2018-02-07 10:16] tremble commented on #35829
!component +lib/ansible/modules/utilities/logic/import_playbook.py
!component +lib/ansible/modules/utilities/logic/import_role.py
!component +lib/ansible/modules/utilities/logic/import_tasks.py
!component +lib/ansible/modules/utilities/logic/include_role.py
!component +lib/ansible/modules/utilities/logic/include_tasks.py

[2018-02-07 10:38] Tclemento opened #35831 "vmware_guest : hardware version?"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
ansible 2.4.2.0
python version = 2.7.5

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY
 I can create and destroy new VMware VM's with vmware_guest, however on ESXi 5.5 (standalone) a new VM is always "VM Version: vmx-10"

These VM's are not manageble

[2018-02-07 10:54] wica128 commented on #31269
Same issue in Ansible 2.4.2.0.
Manual patched the file ansible/modules/cloud/amazon/ec2_lc.py to get it, to working.

[2018-02-07 10:56] Akasurde commented on #35831
@Tclemento Thanks for reporting this issue. Make sense to me. I will add this to my todo list.

[2018-02-07 11:08] Alexhha commented on #34296
@Rahul-CSI
I think it would be helpful if you add output of **"Create instance"** task with -vvvv option. It works fine with ansible 2.4.3.0 + apache-libcloud 2.2.1

[2018-02-07 11:54] colin-nolan opened #35833 "consul* modules use configuration in the environment opposed to configuration arguments given"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
consul_kv

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The `python-consul` library gives precedence to environment variables over arguments. This can lead to the values binded to the `host`, `port`, `token`, `validate_certs` and `scheme` parameters of this module being unexpectedly overrid

[2018-02-07 12:09] colin-nolan commented on #35833
This problem actually affects all the `consul*` modules (it just happens that it's affecting us in the `consul_kv` one).

The solution really should be in the `python-consul` module but I don't have too much hope on a fix being applied there any time soon...

[2018-02-07 12:19] trishnaguha commented on #35799
@mikewiebe Can you share the output of `show interface {nxos_int1} | json`  nxos_int1 - > the interface that test has used or any of the interfaces which has mode layer2?

[2018-02-07 12:24] winem opened #35834 "ansible-vault edit asks to change the vault password (devel)"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
Ansible-Vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default settings, nothing has changed

##### OS / ENVIRONMENT
N/A

##### SUMMARY
ansible-vault edit asks you to change the password every time since commit ffe0ddea96bbe8ac27af816e58667c212e74688e if you do not have a vault_password_file in your config.

##### STEPS TO REPRODUCE

1. g

[2018-02-07 13:03] trishnaguha commented on #35799
@mikewiebe please try https://github.com/ansible/ansible/pull/35835

[2018-02-07 13:11] guillemsola commented on #12170
I would like to limit only an artifacts download task (due to some constrains) but to execute the rest of tasks in parallel.

I have come with a proposal after reading comments which still is not working as desired for the download case. Notice that 2 is the maximum number of concurrent tasks executions desired.

[code]

While this will match the `when` on each iteration only if for certain hosts

[2018-02-07 13:40] flepied commented on #35725
@Ghilli3 @gundalow Tests are still not skipped if pyFMG is not installed.

[2018-02-07 13:47] ThenukaD commented on #4870
I have the same issue and all other POC work is done except for this live log feature.
+1 for implementing this as a feature in Ansible

[2018-02-07 14:21] bcoca commented on #35718
The issue seems to be a 'bad yaml inventory' it needs to be a dictionary, not a list.

You get the weird '---' host because the yaml plugin fails and hands the file over to the 'next possible plugin' which happens to be ini ... which is very lax in what it accepts and includes the first entry '---' as a host.

[2018-02-07 14:29] mkrizek commented on #30630
@flo-renaud can you provide your real use case? The `debug` module is executed on the controller so that's why the value of `ansible_host` is that of the controller.

[2018-02-07 14:31] mkrizek commented on #30630
needs_info

[2018-02-07 14:33] umrikar commented on #35491
@Akasurde do you have any updates

[2018-02-07 14:35] maxamillion commented on #35767
@akcrisp I don't know the RHEL 7 Extras promotion process, that's part of Red Hat's Platform RCM processes and I'm simply not familiar enough with it to be of use. However, for Fedora EPEL it's currently in `testing` phase and it will be promoted when enough testing (karma) is added into the update listing https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2018-d10ccd21f8

As far as https://relea

[2018-02-07 14:55] muhahacz commented on #32004
I dont know how to use this. Can anyone help?
[code]

[code]

[2018-02-07 15:05] jean-christophe-manciot commented on #35550
@Spredzy
Thanks but https://tools.ietf.org/html/rfc5280#section-4.2.1.6 does not define the keywords that may be implemented in the module: It only states:
[code]
We could guess that URI has been implemented as URI:, but what about the others?
I was expecting a clear list of keywords, just as they may be implemented in the module, something like:
- DNS:
- URI:
- ...

The module written by Yanis Gu

[2018-02-07 15:21] bcoca commented on #35833
this probably also affects the lookup plugin https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/consul_kv.py

[2018-02-07 15:43] Akasurde commented on #32004
@muhahacz Could you please elaborate more on the error message by providing `-vvvv` and playbook used? Also, it would be great if you could open a new issue instead of commenting on closed one (it makes tracking for future reference and posterity)

[2018-02-07 15:49] colin-nolan commented on #35833
@bcoca yes that or always unset the environment variables (and possibly restore afterwards), e.g.:
https://github.com/wtsi-hgi/ansible/commit/41e8bfd61ac314555f692fe0158d1710900589cc

Given how many times this comes up, adding the same (pretty nasty) work-around all over the show would be painful. The solution would be to create a shared (`module_utils`?) wrapper of some sort.

Really, this should

[2018-02-07 16:53] colin-nolan commented on #26518
This was fixed in https://github.com/ansible/ansible/commit/1ee08c0f069eb5d3817ba7199adef4f3804056b8#diff-687e267bf4f6315bc5929a8c32299c16L156.

[2018-02-07 16:54] scf37 opened #35845 "Weird error reporting on exceptions in inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
templating

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When exception occurs at host_vars/hostname.yml ansible outputs following:
Unexpected templating type error occurred on <completely unrelated yml>: cannot concatenate 'str' and 'NoneType' objects

##### STEPS TO REPRODUCE
1. set up inventory wit

[2018-02-07 16:59] bcoca commented on #35845
this probably affects any way to define the var, inventory or not.

[2018-02-07 17:03] kclausen-tm commented on #35811
No - When I specified `proto: tcp` it worked.

Good call for a workaround!

[2018-02-07 17:14] bcoca commented on #35833
even if your PR is accepted we might want to institute the workaround for the 'existing installed versions'

[2018-02-07 17:14] opoplawski opened #35846 "RFE: Support systemctl --force option"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
service / systemd

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Scientific Linux 7

##### SUMMARY
When switching display managers from say kdm to gdm, the service enable command will fail:
[code]
This is because systemctl will not overwrite the /etc/systemd/system/display-manager.service symlink by default.

[2018-02-07 17:16] odnanref commented on #5743
I used the notify: field and created a handler that imports the database . The handler only get's called if the database does not exist.

[2018-02-07 17:31] mikewiebe commented on #35801
@trishnaguha  Yes, this turned out to be a problem with my testbed.

[2018-02-07 17:31] #35801 closed, assigned to trishnaguha

[2018-02-07 17:32] mikewiebe commented on #35795
@trishnaguha  Yes, this turned out to be a problem with my testbed.

[2018-02-07 17:32] #35795 closed, assigned to trishnaguha

[2018-02-07 17:35] #35829 closed, assigned to nobody

[2018-02-07 17:39] mikewiebe commented on #35799
@trishnaguha I am going to close this.  Turns out this is also an issue with this particular testbed.  I pointed the test at another n9k running the same image version in my lab and I don't see the problem.

[code]

[2018-02-07 17:39] #35799 closed, assigned to trishnaguha

[2018-02-07 17:55] narankhetani opened #35849 "Parse XML with nested objects"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
parse_xml

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Mac OSX

##### SUMMARY
How does one parse nested xml nodes to an object?

##### STEPS TO REPRODUCE

## Playbook:
[code]
## Parser Spec file
[code]
## XML File
[code]

##### EXPECTED RESULTS
Trying to get the inner object logical-interface as a list of objects

[2018-02-07 18:07] Ghilli3 commented on #35725
Hi @flepied - How are you running the unit tests?  Are you using something different than the below command?

` ansible-test units --tox --python 2.7 fmgr_provisioning`

[2018-02-07 18:12] fthommen opened #35850 "Error in documentation of "mount" module "state" parameter"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
mount

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7.4, x86_64 fully updated

##### SUMMARY
The documentation of the `state` parameter of the `mount` module on http://docs.ansible.com/ansible/latest/mount_module.html is not completely correct.  It says

If `mounted`, the device will be active

[2018-02-07 18:21] kosmoit commented on #32130
@L-B @jborean93  Kindly could someone provide an update in regards to this? on rhel, we just received a update to ansible version 2.4.2.0 and started receiving the deprecated warning.   Any advise on what exactly to replace, what with would be GREATLY appreciated.  Thanks in advance!

[DEPRECATION WARNING]: DEFAULT_SUDO_EXE option, In favor of become which is a generic framework . This feature wil

[2018-02-07 18:23] flepied commented on #35725
@Ghilli3 during Fedora package build, we run unit tests with:

make tests
make tests-py3

because we cannot install with pip (using tox) during rpm build and some packages like pyFMG are not available in Fedora.

[2018-02-07 18:25] Ghilli3 commented on #35725
@flepied - Thank you for the quick reply.  Working on this issue now.  Will update soon.

[2018-02-07 18:33] fthommen opened #35852 "Suggestion for new/better states for the "mount" module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
mount

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7.4, x86_64, fully updated

##### SUMMARY
The `mount` module offers four states `present`, `absent`, `mounted` and `unmounted` which in a slightly asymmetrical way influence current mounting, mount table or both.  However there is a way to to add an

[2018-02-07 18:34] Ghilli3 commented on #35725
@flepied - I just pushed a commit to this PR that should address the import error and skip the tests if that package does not exist.  I have tested this with the older 'make test' command and the fmgr_provisioning tests were skipped.

Thank you for your help!  Please let me know if this works for you.

[2018-02-07 18:36] mikedlr opened #35856 "plugins list in new documentation is incomplete - failure in formatting?"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

plugins documentation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

main documentation on ansible website.

##### OS / ENVIRONMENT

N.A.
##### SUMMARY

There should be a complete list of plugins in the [Lookup Plugins page](https://docs.ansible.com/ansible/devel/plugins/lookup.html) including at least links to [e

[2018-02-07 18:38] Ghilli3 commented on #35725
@flepied - FYI - I have two modules that I'm working on, the other module, fmgr_script will also have this same issue.  I am working on fixing that unit test also so it won't have the same issue.

[2018-02-07 18:43] msilmser opened #35857 "Deprecation warning received with Jira Module when passing args:"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Jira Module

##### ANSIBLE VERSION
2.2.1

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Client is receiving the following deprecation warning when using passing `args:` to the Jira module:
[code]
##### STEPS TO REPRODUCE

1. Create a playbook calling the JIRA module similar to:
[code]
2. Run the playbook

##### EXPECTED RESULTS
Playbook runs success

[2018-02-07 18:50] Mixer9 commented on #35293
@angystardust this is great, I cannot use it until it comes out in the
production release but I will definitely look for it. CC @maximillion

Mixer9

On Sat, Feb 3, 2018 at 2:56 PM, angystardust <notifications@github.com>
wrote:

--
Chris Hood
chris.hood@gmail.com
RHCE (RedHat Certified Engineer)
RHCVA (RedHat Certified Virtualization Administrator)
RHCDS (RedHat Certified Data Center Specialist)

[2018-02-07 18:54] ghost opened #35858 "win_domain_controller fails with required parameter error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_domain_controller

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_FORKS(/vagrant/cloudops-ansible/ansible.cfg) = 10

##### OS / ENVIRONMENT

Windows Server 2016 target

##### SUMMARY

The win_domain_controller module uses the Install-ADDSDomainController Powershell cmdlet. If the -ReadOnlyReplica switch is used with this cmdlet,

[2018-02-07 19:05] xshadow opened #35859 "[subversion] - Marks task as changed, if update parameter is set to "no" - and no update is applied"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
subversion module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian Stretch

##### SUMMARY
If subversion update parameter is set to "no", repository won't be update but task will be marked as changed.

##### STEPS TO REPRODUCE
  * `mkdir -p /opt/freewvs && cd /opt/freewvs`
  * Checkout svn repo on an old re

[2018-02-07 19:09] jborean93 commented on #35858
Thanks @Skruphy for bringing this to our attention, it should be a simple fix and I will hopefully have a PR ready soon.

[2018-02-07 19:10] jctanner commented on #35857
The error is coming from https://github.com/ansible/ansible/blob/stable-2.4/lib/ansible/executor/task_executor.py#L489-L497

[code]

The way to trigger it is to using something like this for the arg_variable from the example:

[code]

[2018-02-07 19:13] jborean93 commented on #32130
@kosmoit have a look at the [become](http://docs.ansible.com/ansible/latest/become.html) page. For the configuration side, the options start with http://docs.ansible.com/ansible/devel/config.html#default-become.

In the end, all the `*sudo*` options are deprecated in favour of the `*become*` options with `become_method: sudo`. While the messages may seen too terse we will gladly accept PR's to try

[2018-02-07 19:14] jctanner commented on #35857
The error is coming from https://github.com/ansible/ansible/blob/stable-2.4/lib/ansible/executor/task_executor.py#L489-L497

[code]

The way to trigger it is to using something like this for the arg_variable value from the example:

[code]

[2018-02-07 19:20] #35062 closed, assigned to nobody

[2018-02-07 19:22] #35857 closed, assigned to nobody

[2018-02-07 19:27] henti commented on #35360
Hey guys, any update on this ?

[2018-02-07 19:27] geerlingguy commented on #17136
I ran into this today as well, and am using @UnitedMarsupials' workaround (https://github.com/ansible/ansible/issues/17136#issuecomment-324112974 - works nice, feels pretty maintainable); though it would be awesome to use with_fileglob with * for dirs!

[2018-02-07 19:58] mmercer-apixio commented on #35757
Based on everything I have seen, I don't think there is actually anything ansible can do or should do.  I have continued to provide more information on the packer bug, as it seems to stem directly from how packer invokes ansible to begin with.

[2018-02-07 20:00] jgeorgeson commented on #35784
Thanks. I assume testing #35487 means setting up to run Ansible from source as described [here](http://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html#environment-setup)? It definitely appears to be making changes to the relevant lines in the module.

I also found an issue with win_uri on machines running PowerShell 3.0 (running 32 bit Windows server 2k3) so I'll check ou

[2018-02-07 20:17] jborean93 commented on #35784
@jgeorgeson that would be correct as it has just been merged. If it was still a PR you can just copy the `win_uri.ps1` file and place it in a folder called `library` that is adjacent to your playbook or tasks in a role. It would then be loaded before the standard win_uri module in those cases.

[2018-02-07 20:32] zhukau commented on #35277
@Tux12Fun, I experienced the same issue and resolved it by installing [requests-ntlm](https://github.com/requests/requests-ntlm) python module on managed host.

[code]

[2018-02-07 20:50] jgeorgeson commented on #35784
The get_win_url module is working on the 32 bit powershell 3 machines. I'll try setting up a dev environment to test with #35487.

[2018-02-07 20:51] logston commented on #33132
Can someone give an example of this best practice (showing all file names, contents, etc) in the docs? Hitting the same issue.

[2018-02-07 20:58] logston commented on #33132
Wait, got it.

`/inventory`

[code]

`/ansible.cfg`

[code]

`/playbook.yml`

[code]

Test command:

`ansible-playbook --list-hosts playbook.yml`

[2018-02-07 21:16] #35724 closed, assigned to abadger, bcoca

[2018-02-07 21:25] jgeorgeson commented on #35784
Well HEAD of devel branch wasn't too useful.

[code]

Will try running from the merge commit instead of HEAD.

[2018-02-07 21:27] jgeorgeson commented on #35784
Nope, same error about jinja2 module.

[2018-02-07 21:28] jborean93 commented on #35784
You can run `pip install git+https://github.com/ansible/ansible.git@devel` and it will install Ansible based on the latest devel commit instead of checking out with git.

[2018-02-07 21:33] #32463 closed, assigned to nobody

[2018-02-07 21:35] guhcampos commented on #32463
Closing since the use case is supported by a different workflow without the need for behavioral change.

[2018-02-07 21:56] trondhindenes commented on #35805
"Everyone" isn't technically a group. Its completely allowed to add "Everyone" to another local group in the gui. I think the root cause here is the way Windows 2016 (which I tested on) presents "local principals" with a "\" prefix, which breaks the parser. Microsoft's official "Groups" DSC resource has the same problem, also rooted in how it parses the "split" between suffix and prefix.

[2018-02-07 22:00] trondhindenes commented on #34464
fin_feature accepts a comma-separated string of features to add:
`name: "featurea, featureb, featurec`

This is by far the most efficient way to add multiple features at the same time, and is (at least was the last time I looked at the documentation) also documented.

@jborean93 I haven't looked at the module for a while, but I can't remember anything particularly strange about the code? Anything

[2018-02-07 22:07] saichint opened #35866 "nxos_vpc issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_vpc
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I5(2)

##### SUMMARY
There are multiple issues with nxos_vpc module

1. Setting parameters to default is not supported
2. Most of the parameters are not idempotent
3. auto_recovery and peer_gw are optional parameters but they

[2018-02-07 22:08] jborean93 commented on #34464
I was looking at it previously and it seemed to be doing some weird Invoke-Expression with powershell commands as a string. I think it could use some tidying to get some better error handling and make dealing with lists easier.

[2018-02-07 22:17] IPvSean opened #35869 "net_ping on vyos does not work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
net_ping

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)

##### SUMMARY
there is no vyos_ping, but the net_ping will return with success, you have to use `-vvvv` to actually see that its not doing anything

##### STEPS TO REPRODUCE
just use net_ping on vyos platform

[code]

##### E

[2018-02-07 22:21] bcoca commented on #35293
or much simpler
[code]

[2018-02-07 22:21] IPvSean opened #35870 "vyos_ping"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vyos_ping

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
there is no vyos_ping (or linux equivalent)

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-02-07 22:22] IPvSean commented on #35870
already have bug filed, net_ping should fail until this exists-> https://github.com/ansible/ansible/issues/35869

[2018-02-07 22:24] Mixer9 commented on #35293
@bcoca that looks great, just to be sure the "in service" is the part that
isn't in until 2.5 with service_facts, correct?

Mixer9

On Wed, Feb 7, 2018 at 4:21 PM, Brian Coca <notifications@github.com> wrote:

--
Chris Hood
chris.hood@gmail.com
RHCE (RedHat Certified Engineer)
RHCVA (RedHat Certified Virtualization Administrator)
RHCDS (RedHat Certified Data Center Specialist)
C|EH (Certified Ethi

[2018-02-07 22:26] bcoca commented on #35293
no, that should already work, service_facts is NEW in 2.5, `failed_when` and `in` have been there for a loong time.

[2018-02-07 22:27] s-hertel commented on #35336
I am reopening this because I was mistaken in all comments except my first, which was correct: https://github.com/ansible/ansible/issues/35336#issuecomment-360472270

Here is another issue that this was brought up in for more context: https://github.com/ansible/ansible/issues/35857#issuecomment-363878302

[2018-02-07 22:29] bcoca commented on #35768
use `setup`/gather_facts instead, stat is not supposed to magically figure out block devices.

So I'm going to close this as 'not a bug' as it is a quirk on how the device files are created, not a problem in the stat module.

[2018-02-07 22:29] #35768 closed, assigned to nobody

[2018-02-07 22:30] maxamillion commented on #35757
@mmercer-apixio yeah, it might not be directly something we can do on our end but we'd like to collaborate with the Packer crew on it if there's something that we could contribute towards resolving this. Will follow up in the Packer issue ticket. Thanks for reporting it.

[2018-02-07 22:30] #35757 closed, assigned to nobody

[2018-02-07 22:40] Mixer9 commented on #35293
ahh ok, I understand in has been there I was thinking it was the "service"
part of in service, anyway having both conversations is confusing when the
word service is used in both..  :-) Thanks for your help.

Mixer9

On Wed, Feb 7, 2018 at 4:26 PM, Brian Coca <notifications@github.com> wrote:

--
Chris Hood
chris.hood@gmail.com
RHCE (RedHat Certified Engineer)
RHCVA (RedHat Certified Virtualizatio

[2018-02-07 22:44] bcoca commented on #27565
some meta actions are not 'host specific' so it will ignore keywords like `when` ... i have issue about adding warnings when this happens.

[2018-02-07 22:48] jgeorgeson commented on #35784
So installing the devel branch via pip in CentOS 7 seems to require the `python36` package, which apparently doesn't have it's own `-pip` and `-virtualenv` but works with the python34 package versions

[code]

Still fails :(

[code]
taking the `creates` out of the task or deleting the file first still works.

[2018-02-07 22:50] jborean93 commented on #35784
No worries, thanks for the confirmation and the details. I should have a fix for it sometime before 2.5 is our.

[2018-02-07 23:21] gobengo commented on #18432
@YPCrumble thanks for clarifying.

At first glance I thought it would also keep track of all the built up state in the run up to that point, so you could fix an issue, then just retry from the same point instead of starting all over. That would be AMAZING and save people like me hours per week.

[2018-02-07 23:23] bcoca commented on #35489
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-02-07 23:23] #35489 closed, assigned to nobody

[2018-02-07 23:27] andrewsaraceni commented on #35805
Right, I forgot about the special, reserved nature of that identity.  I think the module currently can handle that if you add like you would a service/built-in user, since that's how it's effectively treated in ADSI.  Can you confirm if something like the following works?

[code]

[2018-02-07 23:50] grantcurell opened #35873 "AnsibleUndefinedVariable: 'dict object' has no attribute 'ansible_default_ipv4'""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible built in variables

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[root@controlserver playbooks]# ansible-config dump --only-changed
DEFAULT_BECOME(/root/rock/playbooks/ansible.cfg) = True
DEFAULT_BECOME_METHOD(/root/rock/playbooks/ansible.cfg) = sudo
DEFAULT_HOST_LIST(/root/rock/playbooks/ansible.cfg) = [u'/root/rock/playbooks/inven

[2018-02-08 00:28] bcoca commented on #17588
When you use a loop and register vars, you get 'varname.results.<normal
return>'
 where 'results' is a list with a number of entries that matches the
number of items in the loop.

'hm' does not have a 'stat' it has a 'results', so you need
hm.results[<index for item i want>].stat.exists

[2018-02-08 00:36] srkiNZ84 opened #35876 "win_updates not honouring "state: searched" option"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_updates (https://docs.ansible.com/ansible/latest/win_updates_module.html)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

From: OS X
Managing: Windows Server 2012

##### SUMMARY
When running the module with the "state: searched" option the module applies the updates. The documentation specifies that this op

[2018-02-08 02:05] #35334 closed, assigned to nobody

[2018-02-08 02:05] yuwzho commented on #29607
@liyaka  This module can accept [virtual_network_name or virtual_network](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/azure/azure_rm_networkinterface.py#L56) as name or ID. Since the id including the virtual network resource group information, the nic can be created with VN in another resource group. That means if you want to create a NIC with virtualnetwork in another

[2018-02-08 02:51] trishnaguha commented on #35797
@mikewiebe Is this relevant to the testbed as well?

[2018-02-08 04:47] anchat1990 opened #35881 "Ansible docs don't explain what "present" , "installed" etc mean"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
yum module

webdocs - http://docs.ansible.com/ansible/latest/yum_module.html

##### SUMMARY
The meaning and functionality of "present"  "installed" and other states are either not mentioned in the docs, or is hard to locate. Answers to questions in stackoverflow reveal the same https://stackoverflow.com/questions/40410270/what-is-the-

[2018-02-08 05:22] dcarrith commented on #22169
This seems to happen when roles are defined in playbooks using the "newer syntax".  But, not when roles are defined in playbooks using the "classic syntax".  @alikins - Yes, when using the newer syntax, they do get run more than twice if more than two roles use the same dependency.  This is the case even when the arguments to the roles are the same.

I'm running ansible v2.4.3.0.

[2018-02-08 05:24] dcarrith commented on #22169
`- hosts: all
  tasks:
  - include_role:
      name: yum
    tags:
    - initial
    - update
    - yum
  - include_role:
      name: openssl
    tags:
    - initial
    - common
  - include_role:
      name: pcre
    tags:
    - initial
    - common
  - include_role:
      name: libssh
    tags:
    - initial
    - common
  - include_role:
      name: openssh
    tags:
    - initial
    - common

[2018-02-08 05:26] dcarrith commented on #22169
[code]

[2018-02-08 05:29] dcarrith commented on #22169
However, using this classic syntax, the deduplication of dependencies works as documented:
[code]

[2018-02-08 05:35] dcarrith commented on #22169
For example, openssl is a dependency for 4 of the roles:
[code]
So, in the above example playbook that uses the newer syntax, openssl is installed 5 times.

[2018-02-08 05:48] wookietreiber commented on #22169
@dcarrith Your difference between "classic" and "new" syntax is not what I (we) care about, though. What I (we) *do* care about is adding roles as dependencies of other roles and having *them* not run more than once, granted their configuration stays the same.

I (we) do *not* want to define all the roles in the top-level playbooks, be it "classic" or "new" syntax, because I (we) would have to *ca

[2018-02-08 06:54] SethosII commented on #34760
This also affects 2.5.

[code]

[2018-02-08 07:02] arkaraung1993 opened #35890 "Meta doesn't pickup With_item in "When" conditional"
Hey guys, I want to terminate All remaining task in playbook with success. I found meta can use. But Meta doesn't pickup "item" in when conditional. Please follow playbook and kindly assist.
[code]

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

meta tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

###

[2018-02-08 07:20] sillent commented on #35873
Code of playbook where, how you do think, the error is reproduced, paste here, please.

[2018-02-08 08:28] liyaka commented on #29607
@yuwzho It doesn't work -

My task:
[code]

while CSRVnet network is in different resource group.
Here is the error I get:
[code]

[2018-02-08 08:33] liyaka commented on #29607
@yuwzho
Same for az cli:
[code]
The error:
[code]

[2018-02-08 08:45] yuwzho commented on #29607
@liyaka For the az-cli error, you can raise an issue at [Azure/azure-cli](https://github.com/Azure/azure-cli) repo. According to my previous comment, you should use id instead of name in `--subnet` and `--vnet-name`. Or the cli will find the resources under resource group specified in `-g` parameter

[2018-02-08 08:45] rahulrudingwa1 opened #35892 "ERROR! Unexpected Exception, this is probably a bug: 'module' object has no attribute 'HTTPSHandler'"
Unable to run ansible/ansible-playbook due to the above error.
I have installed ansible via the source code. It successfully installed but I am not able to run any ansible command/ansible-playbook and it throws the above error.
But when I repeat the same steps and install using the yum repository, it gets successfully installed and also the ansible-playbooks and commands are running fine.

Since i

[2018-02-08 08:56] rahulrudingwa1 commented on #35892
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
- Just trying to run simple ansible command (ansible -m ping all)

##### ANSIBLE VERSION
- 2.5.0

[2018-02-08 09:21] ymartin59 commented on #35768
I wonder why md5 and checksum options are more `stat` module business than relevant blocks/size values thanks to `blockdev` support.
I think you refer to `ansible_mounts` facts. But what about if block device is not mounted yet ? Do it makes sense to request a `blockdev` module ?

[2018-02-08 09:32] #34913 closed, assigned to nobody

[2018-02-08 09:37] shajay12 commented on #31991
Hi Abhijeet, Please check my code. its creating Centos machine, but not
change the Hostname of the created machine.

I have pasted the code here  view it on GitHub
<https://github.com/ansible/ansible/issues/31991#issuecomment-354237782>

On Tue, Feb 6, 2018 at 3:11 PM, Ajay Sharma <sh.ajay12@gmail.com> wrote:

[2018-02-08 09:41] adriaanm commented on #20867
Just ran into `exact_count` only considering running instances. Would be great if it could at least consider both stopped / running instances, and start / create + start as needed. I stop instances when not used to save 💰.

[2018-02-08 09:54] gaudenz commented on #30630
@mkrizek This is not dependent on the usage of the debug module. It can also be reproduced using the following playbook (run with -v to see the command output)
[code]

[2018-02-08 10:11] colin-nolan opened #35893 "consul_kv: putting string into Consul is not idempotent in Python 3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

consul_kv

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Key values are considered by the `consul_kv` module as strings. In Python 2 we `put` these (byte) `str` to `python-consul` and we `get` the same type of strings back. However, with Python 3, we `put` (utf-8) `str` in (which if you fo

[2018-02-08 10:19] rdepke commented on #35613
I run our playbook with your change and the output is now:

[code]

[2018-02-08 10:38] jimsmith commented on #17555
@xenithorb  if I read you msg correctly ec2.py now works with boto and boto3 ? as it's not working for me and my setup is standard nothing but does it work with Python 3.6.3 ?

[code]

[code]

[code]

[code]

[2018-02-08 10:55] micafer opened #35895 "ERROR! A worker was found in a dead state Segmentation fault (core dumped)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
Tested in two environments:
CentOS 7:
[code]
And Ubuntu 16.04:
[code]

##### CONFIGURATION
On CentOS 7 env:
ansible-config dump --only-changed
[code]
On Ubuntu 16.04 env:
ansible-config dump --only-changed
[code]

##### OS / ENVIRONMENT
Tested on plan CentOS 7 and Ubuntu 16.04.

##### SUMMARY
In case of using a task l

[2018-02-08 11:02] micafer commented on #35895
More info:
It also fails with ansible 2.3.3 installed with pip in an Ubuntu 16.04 O.S.:

[code]

[2018-02-08 11:04] ti-mo commented on #35356
Hi @giovannisciortino, thanks for trying it out. Sorry for this, the playbook I posted was just an interpretation of my production role and I didn't test it. Fortunately, I've been able to narrow it down, it only seems to happen with *static includes*:

- move all tasks from the playbook to a separate file adjacent to the playbook (eg. `my_tasks.yml`)
- insert a task like `import_tasks: my_tasks.y

[2018-02-08 11:17] grantcurell commented on #35873
@sillent - Line 13: https://github.com/tfplenum/rock/blob/devel/playbooks/roles/gluster/templates/topology.json.j2

the error occurs in the "Install Templates" task of the role at: https://github.com/tfplenum/rock/blob/devel/playbooks/roles/gluster/tasks/main.yml

I tried subbing in the word host with ansible_hostname in the template and the same error occurs.

[2018-02-08 11:22] xcambar commented on #29240
Closing for lack of response.

close_me

[2018-02-08 11:26] xcambar commented on #29208
Cool. Can you share a (small) playbook to help reproduce the issue?

If you're willful enough to submit a PR, be my guest ;)

[2018-02-08 11:27] xcambar commented on #29210
As previously, can you share a (small) playbook to help reproduce the issue?

Again, if you're willful enough to submit a PR, be my guest ;)

[2018-02-08 11:28] jharbott commented on #35392
I am seeing the same issue. After looking at the code a bit, I assume that this is a bug in shade, will try to reproduce without ansible.

[2018-02-08 11:29] #29240 closed, assigned to nobody

[2018-02-08 11:30] liberforce commented on #16725
This issue should be reopen, but somehow I can't find any button in the UI for that. The bug was valid and closed for bug migration, but bugs were migrated back here again.

[2018-02-08 11:36] tYYGH commented on #33753
Hey @kneufeld, thanks for checking! Unfortunately, I am now stuck because I cannot run my book until some software is released (namely Nextcloud 13), because of a dependency chain that is making the whole thing a mess right now.
You relieve me of this task, and I’m glad for this! And it’s good to know that this issue is solved :-)

[2018-02-08 11:43] k3ypad commented on #32448
Still broken for us in `2.4.3.0` is this just something we're doing or is a core module broken?

[2018-02-08 11:50] liyaka commented on #29607
@yuwzho doesn't work:
[code]

[2018-02-08 12:03] #35080 closed, assigned to nobody

[2018-02-08 12:05] Tux12Fun commented on #16837
ansible with a playbook with only one host:

Out of memory at a Ubuntu System with 2GB RAM (Ubuntu 16.04 LTS)

    ansible-playbook 2.4.3.0
      config file = /etc/ansible/ansible.cfg
      configured module search path = [u'/home/sap_basis/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
      ansible python module location = /usr/lib/python2.7/dist-packages/ansible
      execut

[2018-02-08 12:05] dcarrith commented on #22169
@wookietreiber - are you saying that my example is not a valid example of how to reproduce the bug?  Whether or not the playbook is written well, there is still obviously a difference in how it's being run when using new syntax or classic.  The reason I (we) care is because I'd (we'd) like to use conditional statements in the playbook.  But, according to the documentation:
"You can conditionally e

[2018-02-08 12:19] Tux12Fun opened #35896 "ERROR! Unexpected Exception, this is probably a bug: [Errno 12] Cannot allocate memory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY

Out of memory on a Host with 2GB RAM and 1 Managed System

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Normal walk throuh playbook. Not wasting Memory

##### ACTUAL RESULTS

[code]

[code]

[code]

[2018-02-08 12:28] mkrizek commented on #35356
@ti-mo can you post the output of ansible-playbook running the playbook from your description so behavior you're seeing is clear? Thanks!

needs_info

[2018-02-08 12:39] mkrizek commented on #35356
@ti-mo I tried your reproducer with dynamic include and I am seeing the issue too, so it doesn't seem to be limited only to static.

[2018-02-08 12:41] jharbott commented on #35392
Confirmed using shade directly. https://storyboard.openstack.org/#!/story/2001527

[2018-02-08 13:06] xenithorb commented on #17555
boto and boto3 are separate packages, its not meant to imply "python 3 boto," but I suspect a lot of people mistake that.

[2018-02-08 13:07] james-portman commented on #33259
Also affected by this, extremely slow to access hostvars, also trying to use it for building DNS zones as above

[2018-02-08 13:15] ajit2678 commented on #19237
[WARNING]: FATAL ERROR DURING FILE TRANSFER: Traceback (most recent call last):   File "/usr/lib/python2.7/site-
packages/ansible/plugins/connection/winrm.py", line 276, in _winrm_exec     self._winrm_send_input(self.protocol, self.shell_id, command_id, data,
eof=is_last)   File "/usr/lib/python2.7/site-packages/ansible/plugins/connection/winrm.py", line 256, in _winrm_send_input
protocol.send_mes

[2018-02-08 13:16] ajit2678 opened #35899 "Ansible connection with Window hosts machine error"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-02-08 13:18] ajit2678 commented on #35899
[WARNING]: FATAL ERROR DURING FILE TRANSFER: Traceback (most recent call last):   File "/usr/lib/python2.7/site-
packages/ansible/plugins/connection/winrm.py", line 276, in _winrm_exec     self._winrm_send_input(self.protocol, self.shell_id, command_id, data,
eof=is_last)   File "/usr/lib/python2.7/site-packages/ansible/plugins/connection/winrm.py", line 256, in _winrm_send_input
protocol.send_mes

[2018-02-08 13:20] #35866 closed, assigned to nobody

[2018-02-08 13:29] agaffney commented on #33259
A quick test with `2.4.2` shows no meaningful difference between direct var access and `hostvars` var access.

[code]

[2018-02-08 13:34] flaviodsr commented on #12086
+1 forks

[2018-02-08 13:37] Tux12Fun commented on #33528
Latest version throws

ERROR! Unexpected Exception, this is probably a bug: [Errno 12] Cannot allocate memory

see new bug Ticket.

[2018-02-08 13:37] #33528 closed, assigned to nobody

[2018-02-08 13:39] agaffney commented on #33259
Another test similar to the use case of generating DNS zone files looks even better.

Playbook:

[code]

500 hosts:

[code]

5000 hosts:

[code]

[2018-02-08 13:39] Harosgr opened #35900 "In the apt module the upgrade parameter cannot be used together with the autoremove in the same task"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

apt module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.4

##### SUMMARY

APT autoremove parameter cannot be used with upgrade in the same task. If upgrade and autoremove are used in two separate tasks they both work fine. Maybe this is not a bug but a lack of documentation (?) that these two parameters c

[2018-02-08 13:45] agaffney commented on #33259
Can anyone still reproduce this with `2.4.2` or `2.4.3`?

[2018-02-08 13:51] james-portman commented on #33259
I am having it with 2.4.2 yes, I think that it could be due to a number of lookups being re-run/re evaluated every time the hostvars are accessed.

The inventory is around 150 hosts, approx 50 groups and seems to take 8 seconds for very simple tasks which interact with parts of hostdata[host].

I have written the equivalent code in python to manually load in the raw hostvars files and drag out the

[2018-02-08 13:53] liyaka commented on #29607
@yuwzho another thing - resource group that specified in -g parameter is the resource group where I want to create a network interface, but the virtual network is in another resource group and it is not supported..

[2018-02-08 14:04] agaffney commented on #33259
Can you provide a complete test case, including inventory, playbook, and relevant `host/group_vars` files?

[2018-02-08 14:06] IPvSean commented on #35869
from chat->

seems like this would cause problems... I ran a few tests, a few should fail on purpose... "this shouldn't be passing".  There is no indication anything is wrong unless you turn up verbosity.  We do this on purpose?

[2018-02-08 14:09] agaffney commented on #33259
I have verified that the `lookup()` for a var that my playbook is *not* accessing is being run when accessing a static var via `hostvars`. The slowness is likely because ansible is evaluating *all* vars for a host in order to return a complete dict with `hostvars[some_host]`.

[2018-02-08 14:10] dathelen opened #35902 "ansible_python_interpreter ignored in Ansible 2.4 for eos* that use network_cli module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
This host running Ansible has both python2.6 and 2.7

##### SUMMARY
The eos modules that use the network_cli plugin seem to ignore the ansible_python_interpreter variable

##### STEPS TO REPRODUCE
Launch the  playbook below  on a host where python2.7 isnt the

[2018-02-08 14:11] trishnaguha commented on #29522
DELETED

[2018-02-08 14:15] xavbx33 commented on #26003
Hi @nitzmahone ,
It seems there is a mistake on the merge, surely a misspelling:

instead of #325**3**5 as pointed in a previous post.

[2018-02-08 14:25] ntwrkguru commented on #32869
shipit

[2018-02-08 14:44] IkeLutra opened #35905 "Allow role dependencies to not be executed"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-galaxy and ansible roles

##### ANSIBLE VERSION
[code]

##### SUMMARY
In a role's `meta/main.yml` you can specify a role's dependencies. With the introduction of `include_role` and `import_role` there are cases where you want ansible-galaxy to install the role for you but you don't want the role to run before your role to run.

##### S

[2018-02-08 14:53] Glandos opened #35906 "postgresql_db dump requires psycopg2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

postgresql_db

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

openSuse Tumbleweed

##### SUMMARY

When using `state=dump` with postgresql_db module, it fails with the following error:
[code]
However, looking at the source, nothing indicates that psycopg2 is required, since only `psql` is invoked for dumping

[2018-02-08 14:55] james-portman commented on #33259
Just continuing, this is repeatedly done inside the same playbook for the same host too

Playbook:
[code]
Inventory:
[code]

Takes 4+ seconds

[2018-02-08 15:08] alexray92 commented on #35899
I have the same problem when using kerberos.  I had been using ntlm, which works fine, but is less secure.  I tried updating pywinrm to the latest version and am on ansible 2.4.

[2018-02-08 15:09] alexray92 commented on #35899
I don't see any errors on the windows machine either, maybe the timeout error we both get indicates the timeout period must be increased?

[2018-02-08 15:42] alexray92 commented on #35899
I enabled additional winrm logging and got these:

An error was encountered while processing an operation.
Error Code: 2150858793
Error String:<f:WSManFault xmlns:f="http://schemas.microsoft.com/wbem/wsman/1/wsmanfault" Code="2150858793" Machine="localhost"><f:Message>The WS-Management service cannot complete the operation within the time specified in OperationTimeout.  </f:Message></f:WSManFault>

[2018-02-08 15:51] alexray92 commented on #35899
ajit2678:

Were you just doing like "ansible windows -m ping"?

I figured it out - the 'ping' module seems to rely on python, which isn't on the Windows server, which manifests as a timeout error.  Try using "win_ping" instead, it worked for me!

[2018-02-08 15:53] boxrick commented on #33259
@bcoca

I have uploaded a full example of this:

See https://github.com/boxrick/ansible_slow_example

There is no funny lookups going on simply a dict entry becoming another dict entry. If we use the normal method multiple times it takes around 6 seconds each time. If we make that data static it takes just 0.3 seconds. An order of magnitude different.

`Thursday 08 February 2018  15:45:17 +0000 (0

[2018-02-08 15:56] OscarLopezEns commented on #18075
Need this functionality to not fail playbook if a host was unreachable

[2018-02-08 16:03] klausitto commented on #32126
Guys, pls change error message. You really need to install other modules.

[2018-02-08 16:19] MarkRoddick commented on #35536
seeing the same

[2018-02-08 16:41] Akasurde commented on #35906
resolved_by_pr #35907

[2018-02-08 17:05] ntavares commented on #20096
+1

[2018-02-08 17:20] IPvSean opened #35914 "vyos_command module throwing socket_path does not exist or cannot be found"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vyos_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)

##### SUMMARY
vyos_command module is throwing an error `socket_path does not exist or cannot be found` only when the command being run will return a failure.

##### STEPS TO REPRODUCE
[code]
The 192.168.11.2 and 19

[2018-02-08 17:21] agaffney commented on #33259
I created a PR (#35913) that addresses this, but it's probably not "correct".

[2018-02-08 17:25] #33650 closed, assigned to bcoca

[2018-02-08 17:26] ryansb commented on #17555
Yup - boto is the original package for the Python SDK, and boto3 is a rewrite (using botocore under the hood) of the same SDK. They have different APIs, so instead of publishing the breaking changes to the boto package, they published a coinstallable "boto3".

[2018-02-08 17:31] JoshuaSeidel commented on #35777
@maxamillion i updated it.

[2018-02-08 17:34] samdoran commented on #35825
There are several ways you could do this. One way would be to put all your pre-check tasks into a `pre-check.yml` file in each role. Then use `tasks` rather than `roles` to run just those tasks for each role before running each role entirely.

[code]

For further help, please stop by `#ansible` on irc.freenode.net

[2018-02-08 17:34] #35825 closed, assigned to nobody

[2018-02-08 17:35] freephile commented on #16837
One approach that helped me was to create a SWAP file on the control host.  Most machine images these days don't include _any_ swap.  I know that swap is supposed to be bad for SSD drives, but still, if you're on a 2GB RAM host, and can't add memory, you should at least have a 2GB swap volume.

[2018-02-08 17:40] Tux12Fun commented on #35277
Thank you for the Hint, but I think ansible should support this native. In the meanwhile I'll test the requests-ntlm

[2018-02-08 17:51] Qalthos commented on #33291
@jmcgill298 Can you tell me if #35912 fixes this issue (and, while you're looking, make sure it fixes #33290 for you)?

If not, I'd like to see the `-vvv` results from running your playbook and the output of `show ip static route` where the admin distance is not shown, at which point I should be able to fix the rest of it.

needs_info

[2018-02-08 17:56] zacharyclaysmith opened #35916 "The term "role" in Ansible is needlessly confusing and could be easily clarified."
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
- Role Documentation

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
"roles" is a very common Dev Ops term, and the non-specific definition given within the documentation compounds this problem for newbies.

##### STEPS TO REPRODUCE
The current documentation contains this definition of

[2018-02-08 18:37] tyler-8 commented on #23949
This issue was fixed by https://github.com/ansible/ansible/pull/27246

[2018-02-08 19:12] alikins commented on #35834
I can reproduce this and think I have a fix under way.

[2018-02-08 19:31] resmo commented on #24110
resolved_by_pr #34574

[2018-02-08 19:47] sillent commented on #35873
I can't reproduce this bug in my own environment

[code]

[2018-02-08 20:28] jmcgill298 commented on #33291
@Qalthos this does not fix the issue, as I mentioned in #33290 `show ip static route` is not a valid command, it should be `show ip route static`. My first suggestion would be to raise an exception in all code where `exec_command` returns error data.

My second suggestion would be to use `show run | i ip route` instead of looking at operational data, because the operational data is looking at FIB,

[2018-02-08 20:58] #35550 closed, assigned to nobody

[2018-02-08 21:24] samdoran commented on #35849
I believe the [xml module](http://docs.ansible.com/ansible/latest/xml_module.html) may have the feature you're after. You can ask for further help on #ansible at freenode.irc.net.

[2018-02-08 21:24] #35849 closed, assigned to nobody

[2018-02-08 21:43] Qalthos commented on #33291
Ah, I had entirely misunderstood the meaning of your comments before, I hadn't realized that `show ip static route` was invalid on your device, rather than simply giving bad results. What version of IOS are you running? Knowing that would be helpful for making sure the version differences are handled appropriately.

I'll have a further look at your suggestions and hopefully have something that wil

[2018-02-08 22:04] willthames commented on #35777
@JoshuaSeidel - the volumes shouldn't be part of the containers definition, it's just part of the task definition. Basically your current volumes are being ignored, so the mountPoints don't work.

https://docs.aws.amazon.com/AmazonECS/latest/developerguide/create-task-definition.html

[2018-02-08 22:04] #35777 closed, assigned to nobody

[2018-02-08 22:10] Likivik commented on #21766
KDE neon 5.12 (user edition)
Ansible version: **2.0.0.2**
Experienced same error.
### Temporarily fixable by:
Change in `/etc/lsb-release` from `DISTRIB_ID=neon` to `DISTRIB_ID=Ubuntu `
### Issue is resolved in Ansible 2.5.0

[2018-02-08 22:28] mvrk69 commented on #24729
Hi,

Yes, i can confirm that now works, the VM is visible and on the correct folder.

[2018-02-08 23:12] kalgynirae commented on #20621
I believe this was fixed by #24046.

[2018-02-08 23:32] #35796 closed, assigned to nobody

[2018-02-08 23:55] saichint opened #35929 "nxos_evpn_vni issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_evpn_vni
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I5(2)

##### SUMMARY

There are multiple issues with nxos_vpc module

1. Setting parameters to default is not working
2. Some of the parameters are not idempotent
3. There are documentation errors
4. There are unnecessar

[2018-02-08 23:57] thatrevguy commented on #29397
I'm getting this error using Terraform 0.11.3. Can replicate by deleting the bucket in console then running terraform (this run succeeds). Run terraform again and it complains about the bucket resource already existing even though the same exact plan was applied... Would expect this to not throw an error if a resource is already available and configured the same.

[2018-02-09 00:14] abadger commented on #35613
@rdepke Interesting.  I see you're running from 2.5.0.  Are you able to update to the latest git checkout (or, if you're running the alpha1 tarball, you can wait a little while and we should have a beta1 tarball up on https://releases.ansible.com/ansible/ soon)  We fixed a few problems with when temp directories are deleted this week.  The last fix for that was yesterday night.

[2018-02-09 00:17] #31477 closed, assigned to nobody

[2018-02-09 00:18] bcoca commented on #25667
its not failing on validation, its failing on changing permissions, this looks like a permissions issue and not a validation one.

[2018-02-09 01:04] willthames opened #35931 "Error messages from win_feature are not helpful"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_feature

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Windows Server 2016

##### SUMMARY
When installing Windows Features and receiving an underlying error, the returned error message does not contain the relevant information to diagnose and fix the error

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESU

[2018-02-09 03:18] ThatDevopsGuy commented on #29597
To get the party started, the jumping off point could be `change_instance_state()`'s invocation of `gce.ex_destroy_multiple_nodes()`, specifically lines [630-632](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/google/gce.py#L630-L632).

However, that's just in the call -- need to pass in reference from a user-supplied variable, or perhaps kick this back up to Apache, as [1

[2018-02-09 04:40] Akasurde commented on #24729
Closing this issue as per [comment](https://github.com/ansible/ansible/issues/24729#issuecomment-364270370). If issue persists, please feel free to re-open.

[2018-02-09 04:40] #24729 closed, assigned to nobody

[2018-02-09 04:40] Akasurde commented on #24729
@mvrk69 Thanks for reporting back.

[2018-02-09 05:15] smrutikanta commented on #11012
I want to write my xml format var into a file
How can I do it?

[2018-02-09 05:33] bcoca commented on #34949
group priority is NOT meant to be inherited, its specific to the group it is defined in.

[2018-02-09 05:34] bcoca commented on #34949
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2018-02-09 05:34] #34949 closed, assigned to maxamillion

[2018-02-09 05:40] bcoca commented on #33832
closing as per above

[2018-02-09 05:40] #33832 closed, assigned to nobody

[2018-02-09 05:48] bcoca commented on #29705
the `package` module just passes the parameters through to 'detected' packaging module for that system, it does not know, nor should it, about package names nor version specifiers.

[2018-02-09 05:54] heiwahasu commented on #15686
Hi Guys,
I'm still facing this error on mac.. please find the detailed error below:
ansible 2.4.2.0
  config file = None
  configured module search path = [u'/Users/rrashmi/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7.14 (defau

[2018-02-09 06:02] #34804 closed, assigned to nobody

[2018-02-09 06:12] bcoca commented on #33267
include can include plays OR tasks, include_tasks can only do tasks, as such include CAN appear inside a play or beside it, include_tasks can ONLY appear inside a play.

[2018-02-09 06:15] #33267 closed, assigned to nobody

[2018-02-09 06:54] nitzmahone commented on #32897
We've fixed the build job that creates the stable release tarballs to generate and upload sha256sum output alongside the tar.gz itself (we're using the same build job now for the 2.5+ pre-releases as well).

[2018-02-09 06:54] #32897 closed, assigned to nobody

[2018-02-09 06:59] ajit2678 commented on #35899
ok i will try to ping with "win_ping"

[2018-02-09 07:02] jmcgill298 commented on #33291
I will not be able to test for a few days, but I would think what you have would technically work today, but it would not be accurate and will not work if any features are added. I would say the module needs to support VRFs and interfaces; also tags, track, and name are used with some regularity. The `split` solution will definitely not work if any one of these features gets added. Also, the split

[2018-02-09 07:14] ajit2678 commented on #35899
thanks alexray92  its works for me

[2018-02-09 07:29] ajit2678 commented on #35899
But when i am trying to connect with using CREDSSP i am getting this error

192.168.9.145 | UNREACHABLE! => {
    "changed": false,
    "msg": "credssp: 'module' object has no attribute 'TLSv1_2_METHOD'",
    "unreachable": true
}

[2018-02-09 07:32] #35929 closed, assigned to nobody

[2018-02-09 07:48] denibenji89 commented on #35539
The template link should be using the 'raw' json file in Github.
Try this - template_link: 'https://raw.githubusercontent.com/bhismnarayan/ARM/master/ARM1.json'

[2018-02-09 07:52] ajit2678 commented on #35899
Hey if i have to ping both the clients windows & Linux , So what Ping command i should use ??

[2018-02-09 08:15] hryamzik opened #35938 "ansible bootstrap/kickstart/export/offline/installer mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ansible

##### ANSIBLE VERSION

[code]

##### SUMMARY

Ansible became a very convenient tool for different systems setup. However it still requires `ansible` to run playbooks and that's sometimes a series limitation.

One of the examples is AWS ASG – you can install ansible on a local nix host and run playbook locally but that's too complica

[2018-02-09 08:19] rdepke commented on #35613
@abadger I rerun the playbook to make sure I had the right ansible version, the stacktrace is the same.

##### ANSIBLE VERSION

[code]

[code]

[2018-02-09 08:34] hryamzik commented on #35938
!component

[2018-02-09 08:49] dharmabumstead commented on #35856
Thanks @mikedlr! Fix coming shortly as part of a larger doc refactoring effort.

[2018-02-09 09:29] bhismnarayan commented on #35539
yes,that helped

[2018-02-09 09:29] #35539 closed, assigned to nobody

[2018-02-09 09:50] jhawkesworth commented on #35613
Also are we sure that C.DEFAULT_LOCAL_TMP exists at this point?
the link below (second reply) suggests it must or you will get exactly that OSError: [Errno 2] No such file or directory:
  https://stackoverflow.com/questions/8856053/using-tempfile-to-create-a-sub-directory-for-all-of-my-tempfiles

[2018-02-09 10:42] TomasTomecek opened #35941 "stuck on 'setup' module: no way to figure out what's going on"
I read some posts how to figure this out, none of them worked.

[code]

tail of the `-vvvvv` output:
[code]

I decided it's time to strace:
[code]
and this just keeps on and on

This is how the process hierarchy looks:
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora Rawhide (28)

##### SUMMA

[2018-02-09 10:43] fennekki opened #35942 "Become password containing invalid Jinja2 syntax causes template error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
become

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(None)

##### OS / ENVIRONMENT

Ubuntu 14.04.5 LTS (both hosts)

##### SUMMARY

When using `--ask-become-pass` with either `ansible` or `ansible-playbook`, and the password contains invalid Jinja2 syntax, the execution of the first task with `become: yes` fails with a jinja2 related err

[2018-02-09 10:50] rdepke commented on #35613
FYI: I can produce the same error using WSL on my Windows 10 1709 devbox. We want to try if the error occurs on a hardware installed (no VM) Linux next monday.

[2018-02-09 10:54] webknjaz commented on #30996
//side note: recent best practice in python communities is to use [towncrier](https://pypi.python.org/pypi/towncrier). consider using it.

The flow is simple:
1. you define a folder for separate changes related to PRs and enforce PR authors include description of changes they did into that folder.
2. after that at some point you hit "generate me a changelog, please" command, which adds all of thos

[2018-02-09 10:55] Zorrom opened #35943 "Vsphere_guest VM build fails when adding network adapter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vsphere_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4 (Maipo)
vSphere client 6.5.0

##### SUMMARY

I am trying to build a vm using vpshere_guest. The machine is getting cloned successfully but when it tries to turn on it throws the following error from the vCenter

[2018-02-09 11:00] pennycoders opened #35944 "Allow mysql_variables module to set SESSION variables"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
mysql_variables

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Right now, there is no way to only set mysql variables per session

##### EXPECTED RESULTS
A way to set the mysql variables for the current session only would be desirable

[2018-02-09 11:32] lrivallain opened #35946 "vmware_guest - Unable to clone VM when adding additionnal vnics"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT

* OS: Ubuntu 16.04
* pyvmomi  6.5.0.2017.5.post1
* Python 3.5.2
* vSphere Version 6.5u1
* vmware_guest.py and vmware.py are latest from devel

##### SUMMARY
When attempting to clone a virtual machine using the vmware_guest module, the playbook fails wit

[2018-02-09 11:42] marinus81 opened #35947 "aci_ap fails with parameters containing quotes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
aci_ap but I guess similar for other aci_* modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

aci_ap module will fail for parameters contianing quotes (double or single)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Now that I think about it I'm not sure if this is even

[2018-02-09 11:45] thomwiggers commented on #24110
As noted on #34574, it only *partially* resolves this issue. I think `resolved_by_pr` is a bit premature.

[2018-02-09 12:01] ghost opened #35950 "Helm state is not documented as implemented"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

`helm`

##### ANSIBLE VERSION

`ansible 2.6.0devel (devel 2fece2f148) last updated 2018/02/09 12:21:02 (GMT +200)`

##### SUMMARY

The `state` of the `helm` module is incorrectly presented to default to `installed` in the documentation. The implemented value for this however is `present`.

[2018-02-09 12:19] dagwieers commented on #35947
@marinus81 Thanks for reporting this.

The error for me was pretty clear that it is the APIC's own validation that does not like quotes in the description. So to verify that this is the case, I looked in the MIM and this confirms my suspicion:
https://pubhub-prod.s3.amazonaws.com/media/apic-mim-ref/docs/MO-fvAp.html#descr

I would be expecting the ACI Web GUI to have a similar issue, and indeed, t

[2018-02-09 12:28] Hanmanth-Reddy opened #35952 "Getting HTTP Error 504: Gateway Timeout"
I am try to install Jenkins plugins using "jenkins_plugin" module and my installed Jenkins is behind the proxy so I setup http_proxy variable value under environment section. But when I am executing the playbook I am getting Error 504. Could you please help me on this issue ASAP. Below is my code for your reference.

[code]

OutPut
************
[code]
..............................................

[2018-02-09 12:54] pranaynanda commented on #14131
Also with `synchronize` , both the source and destination cannot be remote.

[2018-02-09 13:09] aklemp commented on #14131
@pranaynanda: I tested this with the ```delegate_to: "{{ inventory_hostname }}"``` option and it was copying from the remote to the remote recursively.

[2018-02-09 13:25] Akasurde commented on #35946
@lrivallain Thanks for reporting this issue. Could you please re-try using https://github.com/ansible/ansible/pull/35837 and let me know if it works for you ?

needs_info

[2018-02-09 13:27] Akasurde commented on #35943
@Zorrom Thanks for reporting this issue. From 2.5 version onwards, `vsphere_guest` is deprecated and is replaced by `vmware_guest`. Could you please re-try using `vmware_guest` module ?

[2018-02-09 13:27] Akasurde commented on #35943
needs_info

[2018-02-09 13:48] Zorrom commented on #35943
Hi Akashurde,
    I earlier tried with vmware_guest module and ran through multiple errors and decided to try vpshere_guest. Since you mentioned with vmware_guest I used the following code and now facing the error as mentioned in -vvv

My Code
------------------------------------------------
---
- hosts: localhost

  tasks:
  - name: Create vm from template
    vmware_guest:
     hostname: *.*.*.*

[2018-02-09 13:52] gundalow commented on #30768
resolved_by_pr 34200

[2018-02-09 13:57] jmcgill298 commented on #35947
I am in agreement with that last section @dagwieers we should not unnecessarily manipulate user input, nor should we overwrite error messages that are already clearly indicating the error.

Perhaps we could put a general note about special characters in the general ACI docs. Maybe the BU would be able to provide us the details of what is allowed?

[2018-02-09 14:02] alexray92 commented on #35899
I would advise to use Kerberos instead of CREDSSP unless you are really needing the double-hop functionality, because it's considered less secure.

That said, the error might be caused by your Python library for CredSSP not supporting TLS 1.2.  After making sure all your system packages are updated, maybe try updating the Python libraries (I think like "pip install pywinrm pywinrm[credssp] request

[2018-02-09 14:04] lrivallain commented on #35946
@Akasurde it works ! I didn't noticed the PR but it fix my issue (and probably a lot of other ones).

[2018-02-09 14:05] biz812 commented on #32978
I appear to been seeing this issue too.

I am issuing a POST request that I expect to take around 15minutes to return a 200, I have set the timeout to 1200 in light of this.
The ansible task is only reported as executing once.
However in the logs of the endpoint receiving the request I see a second identical call hitting the endpoint almost exactly 5 minutes after the original request was made, I

[2018-02-09 14:13] Akasurde commented on #35946
@lrivallain Thanks for testing the patch and reporting back. It really helps us to push changes fast.

Could you please do "shipit" on PR so that we can be more close to merging this PR ?

[2018-02-09 14:16] Akasurde commented on #35943
@Zorrom Could you please try with latest 2.5alpha1 release ? As lot of changes went into devel after  2.3.2.0, which might solve the problem.

needs_info

[2018-02-09 14:18] Zorrom commented on #35943
@Akasurde I am currently using the Embedded Ansible inside CloudForms so how do I upgrade my ansible version.

[2018-02-09 14:21] dagwieers commented on #35947
So in this case for `descr` it is: https://pubhub-prod.s3.amazonaws.com/media/apic-mim-ref/docs/MO-fvAp.html#descr

I would make a section about common error messages, and then give examples of strings with specific conventions like for `descr`. The nice thing is that we have a unique error number as well, so people will find it with ease if they search for the error.

[2018-02-09 14:29] Akasurde commented on #35943
@Zorrom I am not sure about - how to upgrade Embedded Ansible inside Cloudforms. Could you please get in touch with some CloudForm expert ? Also, ping on `#ansible` and `#ansible-devel` on `irc.freenode.net` someone might know about this.

[2018-02-09 14:40] jmcgill298 commented on #35947
who said regex couldn't be used for documentation 😆

[2018-02-09 14:42] JoshuaSeidel commented on #35777
@willthames

i fixed that, but now its giving this error

[code]

[2018-02-09 14:44] dagwieers opened #35957 "Inconsistencies in ACI module parameters"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci modules

##### ANSIBLE VERSION
v2.5

##### SUMMARY
So here is a list of inconsistent module parameter names we have to straighten out.

- **leaf_profile** vs **leaf_interface_profile**
  - **leaf_profile**: aci_switch_leaf_selector, aci_interface_selector_to_switch_policy_leaf_profile
  - **leaf_interface_profile**: aci_interface_policy_leaf

[2018-02-09 14:51] smapjb opened #35958 "Error moving from state stopped to started."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_hosts:
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(master) dev:rhvm $ ansible-config dump --only-changed
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
RHEL 7.4
Red Hat Virtualization Manager Version: 4.

[2018-02-09 15:08] JoshuaSeidel commented on #35777
@willthames the documentation is wrong it should be

[code]

[2018-02-09 15:09] #30768 closed, assigned to nobody

[2018-02-09 15:09] jimsmith commented on #17555
I would expect as a user of ec2.py for dynamic EC2 inventory for this to work with python3, does it ?

[2018-02-09 15:31] tomstoreysn opened #35962 ""cant concat bytes to str" under Py3.6"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
/lib/ansible/module_utils/connection.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_VAULT_PASSWORD_FILE(/etc/ansible/ansible.cfg) = /etc/ansible/.vault_password
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

env ANSIBLE_HOME="/Users/tomstorey/work/ansible"

##### OS / ENVIRONMENT
OS X 10.13.3

##### SUMMARY
When attempting

[2018-02-09 15:45] LambiekNL commented on #15642
In the file ansible/playbook/play_context.py the line

`becomecmd = '%s %s "%s"' % (exe, flags, success_cmd)`

should be changed into

`becomecmd = '%s %s %s' % (exe, flags, command)`

The command feeded to pfexec should not be encapsulated within quotes. and syntax should follow as used by sudo, hence the success_cmd need to be changed to command.

[2018-02-09 15:46] Qalthos commented on #33291
I'm not trying to ignore you, though perhaps I haven't done the best job of conveying why I'm doing some of the things I'm doing here, so I'll try to explain where we are in trying to fix this issue.

  1. #35912 is not (yet) a general solution. My goal in the latest update there was to try to make sure that I understand your problem and have a working solution for your device, not necessarily to

[2018-02-09 15:52] gundalow commented on #35962
@tomstoreysn Could you please supply a basic example that triggers this, thanks.

Note that this is using `network/procurve/procurve_vlan.py`

[2018-02-09 15:56] alikins opened #35965 "ansible-config tracebacks if there is no config file. 'stat: path should be string, bytes, os.PathLike or integer, not NoneType'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lib/ansible/cli/config.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No config file or env config.

[code]

##### OS / ENVIRONMENT

controller OS:
Fedora 27 x86_64
python3.6

controller shell env:
[code]

(Those are env vars for my build/devel/test helpers)

##### SUMMARY

After a pip install of the 2.5.0b1 release, 'ansible-config vi

[2018-02-09 15:57] bcoca commented on #15642
that wont work as the lack of 'success_cmd' will make ansible think become fails

[2018-02-09 15:58] Matz13 opened #35966 "ansible stops when ansible-galaxy do not find roles in roles/requirements.yml"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible / ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible-config dump --only-changed
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible-galaxy generate a fatal error when `roles/requirements.yml` is empty

##### STEPS TO

[2018-02-09 16:47] tomstoreysn commented on #35962
I believe I located the issue in the cliconf plugin Ive written, too much copy paste from different files and I ended up mixing some things the wrong way.

[2018-02-09 16:47] #35962 closed, assigned to nobody

[2018-02-09 16:59] maxamillion commented on #35739
@TheFriendlyCoder this is a side effect of how variable scoping works within the block, variables defined inside the block are meant to be in scope only for tasks inside the block, just as variables defined and passed to included/imported roles are only in scope for the context of those include/imports.

[2018-02-09 17:06] s-hertel commented on #35916
cc @dharmabumstead

[2018-02-09 17:12] ryansb commented on #17555
boto3 and python3 are unrelated - you should be able to safely use boto3 on python 2 or python 3. If that does not work, please open a separate issue and we can move discussion there.

[2018-02-09 17:16] mazzystr commented on #28508
Fr{a,e,i,o,u}kken!  Been struggling with Ansible, boto, aws credentials on a fresh vm all day today...

Time was out of sync!  Grrr!

[2018-02-09 17:20] Daniel-Sanchez-Fabregas opened #35971 "windows pslint test false positive without BOM"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 ansible/test/sanity/pslint/pslint.ps1

##### ANSIBLE VERSION

N/A

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

##### SUMMARY

CI bug. When submiting a powershell module it seems to fail always.

##### STEPS TO REPRODUCE
See https://github.com/ansible/ansible/pull/35954#issuecomment-364484166

##### EXPECTED RESULTS
When submitted a PR wi

[2018-02-09 17:50] maxamillion commented on #35717
@mohtashims sorry for the lag time on this, you're correct in that I misunderstood the problem. I appreciate the extra information. I've submitted a patch, let me know if that resolves the issue on your end. Thank you!

[2018-02-09 18:33] trondhindenes commented on #34464
on win_feature? You sure? It looks pretty standard to me:
`$name = $name -split ',' | % { $_.Trim() }` breaks apart if the list of feature is supplied as a single string.

Then build a params HashTable and go to town. It's all very standard PowerShell?
[code]

[2018-02-09 18:35] mattclay commented on #35971
@Daniel-Sanchez-Fabregas Do you have a file that demonstrates the issue? The PR you linked to no longer fails CI.

[2018-02-09 18:56] ivanbaldo opened #35979 "Cannot add an unhealthy instance to an elb_target_group"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
elb_target_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
AWS from Ubuntu 16.04 LTS.

##### SUMMARY
Cannot add an unhealthy instance to an elb_target_group.

##### STEPS TO REPRODUCE
In a playbook I:
- create an AWS instance.
- create a Target Group with that instance added.
- the module fails because t

[2018-02-09 19:39] amsinha2 opened #35980 "new aci_facts module requested"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

aci_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Can we please get a module to grab the aci facts including tenants, vrfs and epgs?  This will allow us to cycle through existing object and be able to apply configurations to the,
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

An o

[2018-02-09 19:56] michaelryanmcneill opened #35982 "Installing package groups using "state: latest" with yum module is not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

yum_module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Source: Mac OS 10.13.2 and Ansible Tower (RHEL 7.4)
Dest: RHEL 7.4 and RHEL 6.9

##### SUMMARY

When using the yum module to install and update a package group (using `state: latest`), the task always returns as changed, even if nothing changed on th

[2018-02-09 20:41] LambiekNL commented on #15642
In the current version I modified `ansible/playbook/play_context.py` with the proposed change and my playbook, which requires pfexec works as expected.

I also tested it against OpenIndiana (latest) and the change also works with OI.

Please elaborate a bit more on why the lack of 'success_cmd' will make ansible think become fails and why the sudo become method in play_context.py also use the 'com

[2018-02-09 20:43] bits commented on #27078
Ansible 2.4+ has [built-in support](http://docs.ansible.com/ansible/devel/plugins/callback/debug.html) for human-readable results:

Temporarily by setting ANSIBLE_STDOUT_CALLBACK=debug in the environment
[code]
or permanently by setting stdout_callback=debug in the [default] section of ansible.cfg
[code]

[2018-02-09 21:06] ephesused commented on #35666
The same behavior exists in 2.5.0b1.

[2018-02-09 21:45] abadger commented on #35666
@bcoca Looks like you need to call setfacl on a higher directory to make unified temp work.

[2018-02-09 21:46] abadger commented on #35666
I mean, call fixup_perms2() on a higher directory so that it calls setfacl on the higher dir.

[2018-02-09 21:59] wolfthefallen opened #35986 "Digital Ocean Tagging Error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
digital_ocean_tag

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
no changes

##### OS / ENVIRONMENT
n/a trying to tag a digital ocean droplet

##### SUMMARY
When trying to tag a digtial ocean droplet I get the following error message
[code]

##### STEPS TO REPRODUCE

Create a new droplet and try to tag it using the `digital_ocean_tag` modu

[2018-02-09 21:59] saichint opened #35987 "nxos_interface_ospf issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_interface_ospf

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I5(2)

##### SUMMARY

There are few issues with nxos_interface_ospf module.
1. The area parameter can be an ipv4 address or the integer equivalent of the ipv4 address. So the range of values is 0-4294967295. Howev

[2018-02-09 22:33] Daniel-Sanchez-Fabregas commented on #35971
I have not such a file now.

My workaround was to delete the comment with the unicode character.

Add an unicode character to any *.ps1 file of the modules (Example # ÁÉÍÓÚáéíóú 🙈🙉 🙊) and it will throw the error again.

[2018-02-09 22:35] ssbarnea opened #35990 "find module is unable to process lists received as paths parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
find module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Despite the fact that documentation of file module states that paths parameter is a list of paths, the reality is that it fails to process lists received via variables, something that other modules process without problems.

##### STEPS TO

[2018-02-09 22:48] ssbarnea commented on #35990
I found an workaround for this but is clearly not as nice, especially when the list is longer:
[code]

[2018-02-09 22:53] tterranigma commented on #26916
`hostvars['localhost']` is enough I think. If need be, there are the `combine` and `union` filters that can provide a single object to iterate through.

[2018-02-09 22:53] #26916 closed, assigned to nobody

[2018-02-10 00:09] jswart commented on #34296
I have the same issue with:

[code]

[code]

[2018-02-10 00:19] jswart commented on #29556
I was also very confused to the current behavior. I was expecting that after I created several gce instances, that they would come up with the ansible service account I had created. Instead they came up with the default google-compute service account.

I find this to be bad because I go to provision my roles against the dynamic inventory of gce.py, but they're not contained in the list of hosts if

[2018-02-10 02:04] Akasurde commented on #31557
Closing this issue as per [comment](https://github.com/ansible/ansible/issues/31557#issuecomment-359032061). Please feel free to re-open if issue persists.

[2018-02-10 02:04] #31557 closed, assigned to nobody

[2018-02-10 02:09] Akasurde commented on #29753
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-02-10 02:09] #29753 closed, assigned to nobody

[2018-02-10 02:13] olenm opened #35992 "default() filter fails on nested-mappings"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`default()` filter

##### ANSIBLE VERSION
[code]
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
nested-maping does not work with `|default()` filter

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[code]

[2018-02-10 02:21] Akasurde commented on #35986
@wolfthefallen Thanks for reporting this issue. This is already been addressed by #33486. Could you please your Ansible version to either 2.4.4 or 2.5Alpha1 and let us know if it works for you ?

needs_info

[2018-02-10 03:07] vikramkhatri commented on #26968
I have this exact issue which does not fail on machine 1 but fails on 2 and 3. When all 3 machines are connected to the internet, then it does not fail on all 3 machines.

The machine 1 has CentOS 7.4 server with GUI and machine 2 and 3 has minimum CentOS 7.4 install.

The command to check is : `yum list glusterfs-fuse`

The glusterfs-fuse is installed on all 3 machines. The expected output should

[2018-02-10 03:40] 2rs2ts opened #35993 "ec2_asg terminates an instance before creating a replacement"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Debian Jessie

##### SUMMARY

When I use `ec2_asg` to replace a single instance in an existing ASG, the old instance is terminated before a new one is created. This would be fine except that `ec2_asg` has classically worked by increasing the capacity of the

[2018-02-10 06:39] johnjelinek opened #35995 "paramiko is not installed (but it really is)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ping

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A linux

##### SUMMARY
`msg: paramiko is not installed`

##### STEPS TO REPRODUCE

build ansible from scratch with pseudocode like this:
[code]

##### EXPECTED RESULTS
Expected "pong"

##### ACTUAL RESULTS
[code]

[code]

[2018-02-10 09:22] liubog2008 commented on #33180
I think it's an important feature because ***remote is not reliable***. A global task timeout is useful to interrupt task which hangs because of unknown reason (e.g. /bin/echo in a node is changed to an infinite loop script).

[2018-02-10 09:40] nugai commented on #32130
@jborean93: This explanation was helpful.
The trouble with the original text seems to be that there is no obvious distinction between "become" as a verb or as a label for a variable key word or switch. The confusion could be avoided by changing the language in the warning from "in favor of become which is a generic framework" to something like "in favor of the generic Ansible BECOME framework." Th

[2018-02-10 11:45] grantcurell commented on #35873
When I get back to it, I'll take another shot at it!

[2018-02-10 11:56] onny opened #36000 "Systemd-nspawn connection plugin [ansible-connection-machinectl plugin]"
##### ISSUE TYPE

 - Feature Idea

##### ANSIBLE VERSION
2.5

##### COMPONENT NAME
connection/machinectl

##### SUMMARY

I saw that there was already an attempt to implement a connection driver to systemd-nspawn but it got reverted for unknown reasons. Meanwhile I was using this plugin which has some limitations but is working quite well: https://github.com/BaxterStockman/ansible-connection-machin

[2018-02-10 12:50] wolfthefallen commented on #35986
@Akasurde Thank you for following up, On Monday I'll give it a try.. I know I am running the latest version available through pypi. So I'll grab and test 2.5A and there is no release for 2.4.4

[2018-02-10 13:00] azaghal commented on #35990
Actually, module works as intended and documented. From docs:

[code]

E.g. the `paths` parameter needs to be a list on its own (not a list of lists). What you have passed in the example is a list where first element is a list on its own, and second element is a string.

[2018-02-10 13:13] azaghal commented on #35992
I don't think it's a bug per-se, although one could claim it would be nice if the filter worked a bit more nicely. The `default` filter is applied against the last lookup, e.g. the `.var`, so it expects that any variables prior to it are defined.

A way to implement what you wanted here would be to nest multiple `default` filters, e.g. (this is actually taken from someone's post on the mailing lis

[2018-02-10 13:41] jalbai commented on #30829
adding  + '\n' did not worked for me

[2018-02-10 14:04] fxfitz commented on #28835
I'm working on this now.

[2018-02-10 16:02] slmingol commented on #27982
Confirming that setting cert_url: 'dummy' worked as a workaround.

[2018-02-10 16:48] tagwint commented on #9519
Did you make sure your test.fact set executable permission set?
I had "error loading fact - please check content" too before I did.

[2018-02-10 18:51] johnjelinek commented on #35995
k, so, it turns out that I fixed it by making tweaking where libffi is accessible. Weird.

[2018-02-10 18:51] #35995 closed, assigned to nobody

[2018-02-10 20:16] 4c74356b41 commented on #27426
ok, so this is definitely fixed

[2018-02-10 20:17] #27426 closed, assigned to nobody

[2018-02-10 20:33] vielmetti opened #36005 "[tracking] Track "packet" module changes for 2.6"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- packet_sshkey
- packet_device

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Running on [Packet.net](http://docs.ansible.com/ansible/latest/guide_packet.html)

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Several changes are in PRs pending for updates to the Packet.net
cloud provider. They didn't get into 2.5, so this issue is a tracking

[2018-02-10 22:56] lberruti commented on #30413
I think related to #29962

[2018-02-10 23:02] nkakouros opened #36006 "Cannot set task vars from dictionary variable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
???

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Arch linux latest, tasks run against localhost

##### SUMMARY
It is not possible to define task vars from a dict variable

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The second task should be executed successfully and the dict's contents should

[2018-02-11 01:56] zikalino commented on #35536
i will look into this today

[2018-02-11 03:15] mspanc commented on #30239
I encounter the same issue. 2.4.2.0 on mac os x (installed via brew)

[2018-02-11 03:21] zikalino commented on #34992
@kwanlowe sorry it took a little bit longer to finally check this issue...
The inconsistency is not in Ansible itself, but below REST API level, and Ansible is just passing location as it is to the REST APIs.
All the ansible modules accept lowercase location like "eastus2".

So there are 3 possible solutions:

(1) automatically make location lowercase + remove spaces in all modules
(2) automatical

[2018-02-11 03:31] zikalino commented on #35656
i will check this issue today (or tomorrow)

[2018-02-11 04:39] Akasurde commented on #36006
@tterranigma Thanks for reporting this issue. I am not sure about requirement of vars in task here, but we can do like this -

[code]

needs_info

[2018-02-11 04:39] Akasurde commented on #36006
!component=lib/ansible/playbook/task.py

[2018-02-11 05:31] shajay12 opened #36008 "awx web log file ERRO pool awx-config-watcher event buffer overflowed, discarding event"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-02-11 07:01] Akasurde commented on #35827
@akamez Thanks for reporting. Could you please re-try with following

[code]

needs_info

[2018-02-11 07:03] Akasurde commented on #36008
@shajay12 Thanks for reporting this issue. Could you please provide more details by providing playbooks, variables used, Python version, OS used and `-vvvv` output log? Without this information debugging is impossible.

needs_info

[2018-02-11 07:16] shajay12 commented on #36008
Hi Abhijeet and other Members, I just cloned this GitHub repo https://github.com/ansible/awx.git
I did not make any changes in the installer.yaml file as written in this tutorial https://github.com/ansible/awx/blob/devel/INSTALL.md#docker-or-docker-compose

Ansible and python version

[2018-02-11 07:24] shajay12 commented on #36008
i went to clone directory, cd awx/installer. and ran this ansible-playbook -i inventory install.yml
and the web interface still gives message. "working"
Please let me know the solution. Thanks to Abhijeet, Ansibot, and other members.

[2018-02-11 07:58] leigh-j commented on #30867
@danowar2k  The .git dirs are dropped in role install due to that being the behaviour of git archive. See https://github.com/ansible/ansible/pull/34642/files for a pending fix for that.

I am working on fixing the issue for handling collisions of the same role with different versions
https://github.com/leigh-j/ansible/blob/4612895b5eaed68709c348d9371200b0ab4981b5/lib/ansible/cli/galaxy.py#L414 wil

[2018-02-11 07:58] umrikar opened #36009 "Unable to delete vswitch using vmware_vswitch"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_vswitch

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2018-02-11 08:26] umrikar opened #36010 "vmware module does not accept IP address as parameter"
when trying to configure ESXI host, i am forced to give hostname for esxi. parameter esxi_hostname is not accepting ESXI host Ip address.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2018-02-11 12:20] Akasurde commented on #36009
@umrikar Thanks for reporting this issue. I am absolutely sure that you are not using latest Ansible 2.5 version. As API `UpdateNetworkConfig` is not used in latest version which caused this error. Please check this [commit](https://github.com/ansible/ansible/pull/35531/files#diff-063d9086a35f4556fb3171939e16f536L186) for more information.

needs_info

[2018-02-11 12:21] Akasurde commented on #36009
!component=lib/ansible/modules/cloud/vmware/vmware_vswitch.py

[2018-02-11 12:23] Akasurde commented on #36010
@umrikar Thanks for reporting this issue.

[2018-02-11 13:58] mback2k commented on #28382
I encountered the same issue with an attachable Swarm network that is especially designed to be used by non-Swarm containers, too. See this issue: https://github.com/moby/moby/issues/36197

Any chance to adapt the Ansible module to stop explicitly checking for the existence of the network before running the container?

[2018-02-11 14:07] tterranigma commented on #36006
@Akasurde The playbook I posted was just an example to trigger the error. A use case I had was this:

[code]

The password_files.yml contains lookup variables like:
[code]
and the generate_passwords.yml file builds on these variables like so:
[code]
The last task does some other thing with the dict and this is the reason I want to include the vars into a dict in the first place.

But, since that f

[2018-02-11 14:42] umrikar commented on #36009
@Akasurde i am using ansible 2.5.0a1

[2018-02-11 14:54] felixfontein commented on #32626
An idea for `openssl_privatekey`: how would it be to require `cryptography>=2.0` only for ECC keys, and optionally use it for RSA keys? So if you have `crpytography>=2.0` installed, it will be used for everything, and if you only have `pyOpenSSL`, you can only create RSA keys. And if somewhen in the future we can assume that `cryptography>=2.0` is always there, we can simply remove the `pyOpenSSL`

[2018-02-11 15:11] ferventcoder commented on #24569
Just as an FYI, I'm writing some user documentation on how to support offline installation across different configuration managers and I'm noting that it's not possible and pointing back to this issue as a placeholder until this is implemented.

[2018-02-11 15:58] lemanhhung0943437948 opened #36011 "Title"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-02-11 16:33] ferventcoder commented on #24569
FYI, here is a view of those docs:

![image](https://user-images.githubusercontent.com/63502/36075607-ec69a90a-0f16-11e8-9131-671d9a51f534.png)

[2018-02-11 16:40] #35625 closed, assigned to Qalthos

[2018-02-11 17:52] src386 commented on #24855
Same on Debian Stretch.

[2018-02-11 19:44] faoiseamh commented on #35629
I'm still getting this same crash after upgrading to 2.5.0b1 which includes 5cce024:
[code]

[2018-02-11 20:04] kevensen commented on #35629
@faoiseamh can you provide details about your sceniario?

1. Your playbook
2. The target host o/s
3. The original Pam module file

[2018-02-11 20:29] faoiseamh commented on #35629
@kevensen Sure, sorry. I'm just getting into Ansible so I'm not too familiar. Playbook is essentially just using this role: https://github.com/anthcourtney/ansible-role-cis-amazon-linux and I'm running this on the latest amazon linux which is essentially centos. I'm running this with some automation so it will take me a bit to extract the original pam file, but it is whatever is freshly installed

[2018-02-11 20:31] faoiseamh commented on #35629
@kevensen The task that leads to this error is https://github.com/anthcourtney/ansible-role-cis-amazon-linux/blob/master/tasks/level-1/5.3.3.yml

[2018-02-11 20:40] ipatalas commented on #35710
Yes and it works but I consider it a workaround rather than a proper solution.

[2018-02-11 21:44] isaacegglestone commented on #12086
+1 forks

[2018-02-11 22:56] kevensen commented on #35629
@faoiseamh Thanks for the extra info.  I’ll take a look at this In the next day or two.

[2018-02-11 22:57] faoiseamh commented on #35629
@kevensen Awesome, thanks. I'm working around it for now. Happy to help test at a minimum and provide any other context that would help.

[2018-02-11 23:36] jborean93 opened #36014 "win_updates: not working with single string as category"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_updates

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Windows

##### SUMMARY
The win_updates module can accept either a list of categories or a string separated list. The latter is failing after moving to the action plugin and it needs to be fixed up.

##### STEPS TO REPRODUCE
Example playbook
[code]

#####

[2018-02-11 23:37] jborean93 commented on #35876
@srkiNZ84 are you able to reproduce this on a newer version of Anisble (2.4 or the 2.5 betas). When trying this out locally I get the following output with searched.

[code]

Note I just came across this issue in the 2.5 betas but you can easily workaround this for testing until it is fixed https://github.com/ansible/ansible/issues/36014

[2018-02-11 23:50] #36011 closed

[2018-02-12 00:27] jborean93 commented on #35613
Interesting, I'm trying to reproduce this locally on my WSL machine and cannot do so. Here are the versions and setup to see if there are any differences.

lsb_release -a
[code]

winver.exe
[code]

ansible-version
[code]

python --version
[code]

While the Python versions are slightly different in your setup, the .12 to .13 release shouldn't really affect it too much. Looking into it, the error in

[2018-02-12 00:45] #35873 closed, assigned to nobody

[2018-02-12 00:46] grantcurell commented on #35873
Not sure what was causing it and it has gone away - I haven't changed anything regarding to my knowledge so I went ahead and closed.

[2018-02-12 01:20] jborean93 commented on #35784
@jgeorgeson I've opened up PR for this issue here https://github.com/ansible/ansible/pull/36016. It would be great if you could test that out.

[2018-02-12 01:37] jborean93 commented on #35858
@Skruphy are you able to test out this PR https://github.com/ansible/ansible/pull/36017 and see if it works for you?

[2018-02-12 01:43] jborean93 commented on #35899
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-02-12 01:43] #35899 closed, assigned to nobody

[2018-02-12 03:50] colinlabs commented on #35941
+1 same issue, REPRODUCE
[code]
version:
[code]

[2018-02-12 03:56] ajit2678 commented on #35899
OK Thanks Maan

[2018-02-12 04:02] Akasurde commented on #36009
Could you please try latest 2.5.0b1 or latest devel branch ?

needs_info

[2018-02-12 04:47] jmcgill298 commented on #33291
Response to 2:
[code]

Response to 3:
[code]

Response to 4:
[code]

[2018-02-12 05:59] holta commented on #31673
Just FYI those who are [running out of memory as a result of Ansible 2.4.3](https://github.com/iiab/iiab/issues/669#issuecomment-364795075) on Raspberry Pi ("OSError: [Errno 12] Cannot allocate memory") should [revert to Ansible 2.4.2](https://github.com/iiab/iiab/pull/671) as Internet-in-a-Box has done successfully.

[2018-02-12 07:03] #30250 closed, assigned to ganeshrn

[2018-02-12 07:05] vigneshavm commented on #1934
this issue occur for me - can anyone help me

[2018-02-12 08:02] zikalino commented on #35536
Seems like this more generic issue -- not just this module.

Please refer to this discussion here, as people are experiencing this problem in many other places.
https://github.com/ansible/ansible/issues/15249

The problem is that jinjia template will be always expanded to string. So if you do:
      WorldNum:
        value: "{{ worldnum }}"
value will always be string.
I have also tried:
      Wor

[2018-02-12 09:13] Daniel-Sanchez-Fabregas commented on #35971
Have seen https://github.com/ansible/ansible/blob/devel/test/sanity/pslint/ignore.txt and it solves `PSUseBOMForUnicodeEncodedFile` better than #35974 and for specific modules.

[2018-02-12 09:13] #35971 closed, assigned to nobody

[2018-02-12 09:18] veksh opened #36024 "include_vars is not correctly expanding included expressions"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`include_vars`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
macOS, linux

##### SUMMARY
When some of vars in include file are not defined and are used in expressions, results from inclusion are incorrect and inconsistent: sometimes expressions are not expanded and are included verbatim, sometimes exceptions are rais

[2018-02-12 09:31] davojan commented on #22946
I've just tried ``docker_service`` again. This issue seems to be fixed and can be closed. Variables from ``environment`` (at least task-level) are perfectly available in docker-compose. Thanks!

[2018-02-12 10:04] mkrizek commented on #35356
It doesn't even need to be import/include but nested block in general:
[code]

[2018-02-12 10:06] Tclemento opened #36027 ""No folder matched the path" with deploy of a VM from the template"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version = 2.7.5 (def

[2018-02-12 10:07] mwperina opened #36028 "Ansible is caching a module, so it cannot be overridden from updated module contained in an ansible role's library"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
RHEL 7.4

##### SUMMARY
Ansible is caching a module, so it cannot be overridden from updated module contained in an ansible role's library

- Let's have a module MODULE1 which is included within Ansible 2.4
- Let's have a role ROLE1 which will include an updated version o

[2018-02-12 10:07] mwperina commented on #36028
@machacekondra

[2018-02-12 10:13] Akasurde commented on #36027
@Tclemento Thanks for reporting this issue. Could you please try 2.4.3 or latest 2.5b1 version ?

needs_info

[2018-02-12 10:15] wookietreiber commented on #22169
@dcarrith I'm an Ansible user who loves to use role dependencies and who is annoyed that these are executed more than once. Admittedly, my previous comment was a bit narcissistic and provocative, and I apologize for that. I guess, the problems we are reporting here in this issue are all (more or less) different symptoms of the same problem. I don't know, if it is worth reporting them as separate i

[2018-02-12 10:35] Tclemento commented on #36027
Version 2.4.3
I have the same error:
fatal: [localhost -> localhost]: FAILED! => {"changed": false, "failed": true, "msg": "No folder matched the path: /INSTALL_LINUX/vm/test"}

Version 2.5b1 :
OK. It's works :)

Sorry for the inconvenience but I reported the bug for version 2.4.3 ;-)

[2018-02-12 10:48] axlroden commented on #33414
check http://community.arubanetworks.com/t5/Network-Management/SSH-connection-problem-with-an-HP-switch-in-ArubaOS/td-p/294004

For a description of why this might fail.

And why is noone using the new REST API available in Aruba switches?

[2018-02-12 10:50] umrikar opened #36030 "Refactor vmware_vswitch is required"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[code]

[2018-02-12 10:53] hammersoft opened #36031 "xml module, "state: present" does not work properly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

xml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default config

##### OS / ENVIRONMENT

Centos 6.8, python-lxml-2.3.0

##### SUMMARY

"state: present" command does not work poperly

##### STEPS TO REPRODUCE

I am using this xml
[code]
and next ansible task

[code]

##### EXPECTED RESULTS

According to documentation
[code]
expecting to

[2018-02-12 10:58] igorBakalo commented on #29501
ansible asg module works but doesn't even trigger any scaling activity in order to replace instances with old lc

ansible 2.4.1.0
control machine: CentOS Linux release 7.4.1708 (Core)
ec2_asg:
    name: ASG
    target_group_arns:
      - "{{ target_group_arn }}"
    vpc_zone_identifier:
      - "{{ vpc_subnet_id }}"
      - "{{ vpc_subnet_id2 }}"
    default_cooldown: 120
    desired_capacity: 1

[2018-02-12 11:00] macnibblet commented on #30239
I have same issue as mspanc

[2018-02-12 11:15] hammersoft commented on #36031
same as #29078, need to specify xml namespace in xpath.
This works fine.
[code]

[2018-02-12 11:16] Akasurde commented on #36030
@umrikar Thanks for reporting this issue. Could you please provide output of `-vvvv` ?

needs_info

[2018-02-12 11:36] dagwieers commented on #36031
@hammersoft Please reopen this issue, so we can improve the module to not throw that traceback message.
Unless the xml module in v2.5 already properly handles this. (Not sure)

[2018-02-12 11:49] alexejpissarev opened #36034 "ansible-playbook doesn't report error by missing of the inventory file"
This issue was reported with the ticket #15035 and should be implemented in the ansible version 2.4+ but seems still to exist (reproduced with the version 2.4.3.0 and 2.6.0 from devel).

 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
INVENTORY_UNPARSED_IS_FAILED(/tmp/ansible.cfg) = True

##### OS / ENVIRONMENT
Distributor ID: Ubuntu
Descript

[2018-02-12 11:51] #22946 closed, assigned to nobody

[2018-02-12 12:06] alexejpissarev commented on #36034
##### COMPONENT NAME
 ansible-playbook

[2018-02-12 12:16] Tclemento commented on #36027
Don't work:
"No folder matched the path: /Datacenter/vm/test"

Or I didn't understand your question.

[2018-02-12 12:26] rmonchat opened #36036 "Notify Handler with import_role Task"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

import_role
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

python version = 2.7.14 (default, Jan 17 2018, 14:28:32) [GCC 7.2.1 20170915 (Red Hat 7.2.1-2)]

##### SUMMARY

Using import_role inside handler task fails while other tasks work fine.
##### STEPS TO REPRODUCE

test.yml
[code]
roles/tester/tasks/main.yml
[c

[2018-02-12 12:39] mkrizek commented on #35356
Unit test for this issue https://gist.github.com/mkrizek/0db8d155da750385e77d7236d4e5a038

[2018-02-12 12:52] znz opened #36037 "Typo in default of connection/lxc.py and connection/lxd.py"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

https://github.com/ansible/ansible/blob/6a223d55760dd21b5063ca2c8296f3ef57dd75e7/lib/ansible/plugins/connection/lxc.py#L19 and
https://github.com/ansible/ansible/blob/6a223d55760dd21b5063ca2c8296f3ef57dd75e7/lib/ansible/plugins/connection/lxd.py#L19 are `default: The set user as per docker's configuration`.
It is not `remote_user`, bu

[2018-02-12 13:00] NZSmartie commented on #35030
Can I please get some sort of confirmation from anyone who works on core development so that I may start to plan out a PR to resolve this bug?

[2018-02-12 13:28] BartVB opened #36038 "Linux Vserver not detected properly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/facts/virtual/linux.py

##### ANSIBLE VERSION
ansible 2.4.3.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/

[2018-02-12 14:11] arsh9295 opened #36039 "when condition skipped every time after work with windows module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
All Modules for linux with when condition

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOs
##### SUMMARY

ansible_os_family is RedHat but every time when condition escaping it.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-02-12 14:26] lrivallain commented on #36027
@Tclemento : I think that @Akasurde suggest you to try the following value for the folder setting:
`folder: <your_datacenter_name>/vm/<folder>`

In your case I think it would be:
`folder: SYSINSTALL/vm/INSTALL_LINUX/test`
(if your DC is named _SYSINSTALL_ and your first folder level is _INSTALL_LINUX_)

[2018-02-12 14:32] rlueckl commented on #22571
@willthames @bcoca Apparently it's not even in 2.5. I just tried 2.5.0b1 and the problem still persists. You wrote, that the issue has been fixed in devel - *when* can we expect a release which contains the fix?

[2018-02-12 14:37] Tclemento commented on #36027
Yes, you're right about the names.
DC= sysinstall
folder level = INSTALL_LINUX

I have the same error:
No folder matched the path: /SYSINSTALL/vm/INSTALL_LINUX/test"

[2018-02-12 15:11] Akasurde commented on #36027
@Tclemento Could you please use this [branch](https://github.com/ansible/ansible/compare/stable-2.4...Akasurde:243) and provide the output ? This will provide better debugging values for your environment.

[2018-02-12 15:16] julienvey opened #36040 "using efs_facts module on a (relatively) large number of efs results in ThrottlingException"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

efs_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

N/A

##### SUMMARY

We use `efs_facts` in combination with the `tags` parameter. With latest version (since 2.5), using it on a few efs (10 in our case), with 3 mount targets for each efs, results in a "Rate Exceeded" exception from AWS.

##### S

[2018-02-12 15:17] Skruphy commented on #35858
This change successfully created an additional DC and a RODC. Thanks.

[2018-02-12 15:18] sivel commented on #35992
As mentioned above this is expected.  You will need to provide the `default` filter at every level that may be undefined.

When using jinja2 directly, this same issue occurs:

[code]

You may also be able to use the `combine` filter on this data earlier to merge the provided value, over top of a sane default.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansibl

[2018-02-12 15:18] #35992 closed, assigned to nobody

[2018-02-12 15:31] sivel commented on #36028
I am not sure I am following how this comes about.

You mention the following in the bugzilla:

As long as the role exists before ansible is executed, then the module from the role will get higher priority.

Can you explain more about how this situation arrises?

My test case:

36028.yml
[code]

roles/boom/library/ping.py
[code]

When executing, my custom `ping.py` is used, and the playbook fails.

[2018-02-12 15:34] sivel commented on #36034
The warnings provided in your ansible playbook execution indicate that the provided inventory source was invalid.  As indicated in the issue you reference (https://github.com/ansible/ansible/issues/15035#issuecomment-303597105), what you are seeing is the expected outcome.

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * ma

[2018-02-12 15:42] sivel commented on #36039
I cannot reproduce this with a minimal reproducer:

[code]

Executing that completes successfully.  Where do these tasks live? Are they coming from a role, or imported task file?

This would indicate that you may have another `when` condition applied higher, that is being merged down onto that task, that could be affecting the outcome.

needs_info

[2018-02-12 15:42] hryamzik commented on #35938
Hey gundalow can I ask you to comment on this, please?

[2018-02-12 15:42] hryamzik commented on #35938
Hey @gundalow can I ask you to comment on this, please?

[2018-02-12 16:03] sivel commented on #35896
Can you test the stable-2.4 branch or 2.5.0b1?  This issue may have been resolved already, but with the information provided I cannot be sure.

needs_info

[2018-02-12 16:07] sivel commented on #35938
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.

However, we're absolutely always up for discussion.  Since this is a really busy project, we don't always se

[2018-02-12 16:07] #35938 closed, assigned to nobody

[2018-02-12 16:10] sivel commented on #35990
As indicated by @azaghal you are indeed passing a list of lists to a parameter that only accepts a list of strings.

There is no implicit flattening done here.

I don't think we should change the behavior, but since this does cause a traceback, I think we should catch the exception or do some pre-processing and error that the provided value is incorrect.

[2018-02-12 16:12] LeDOC666 opened #36044 "win_copy on playbook"
Hi, I use latest version of ansible with winrm module.

I want to make a copy from CentOS6 to Windows 2008R2.

When I use **playbook**:

[code]
I got right result, but no file on Windows Machine
[code]

And when I use ad-hoc command:

`ansible windows -m win_copy -a "src=/root/ansible/playbook/files/NSClient.zip dest=C:\\Temp\\" --ask-vault-pass`

The file is copied, and state change is OK

[code]

[2018-02-12 16:15] TomasTomecek opened #36045 "`add_host` tracebacks for dynamically generated input"
Edit: happening also for valid input, hence changing the issue a bit
Edit2: well, it fails for me for any input; is it completely borked?
Edit3: I don't follow, works now, but still fails on the dynamic invocation; am reverting to my first report

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
add_host

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 2

[2018-02-12 16:17] ssbarnea commented on #35990
@sivel I think that flattening would be preferred because without we are forcing Ansible users to write some kind of very ugly mix of preparatory tasks for joining two lists.

As you know this makes playbooks bulkier and not easier to maintain. Are there any drawbacks from doing the flattening? I seen it working just find on other modules like packages/yum/pip/....

[2018-02-12 16:19] Jmainguy opened #36046 "mysql needs maintainer"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
mysql_user,
mysql_db,
mysql_replication

##### ANSIBLE VERSION

2.6.0

##### SUMMARY
I have done a terrible job as maintainer, and for the good of the project it is best I hand over the reigns to someone with more time, skill, and enthusiasm. If you would like to volunteer, please comment in here.

[2018-02-12 16:19] sivel commented on #36006
It seems as though `vars` is not processed for including vars before use.  What we get is the string `'{{ dict }}'`.  This is partially because we load those vars during pre processing, but template out the task during post processing.

[2018-02-12 16:23] Jmainguy commented on #36046
sorry for spam and odd formatting, copy and pasting from everyone who has ever contributed to these models.

@Akasurde
@Ernest0x
@UnderGreen
@abadger
@aioue
@alustenberg
@bcoca
@bpennypacker
@clok
@d3prof3t
@dhml
@dramaley
@ercpe
@fdupoux
@grypyrg
@gtcarlos
@gundalow
@hyperized
@jctanner
@jgeusebroek
@jimi-c
@jjshoe
@joshrendek
@juliakreger
@koichirok
@louim
@marktheunissen
@mattclay
@mscherer
@re

[2018-02-12 16:24] sebastianlach opened #36047 "Kubernetes: module doesn't update deployment definition"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

kubernetes

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT

Arch Linux
Python 2/3

##### SUMMARY

I would expect the module to behave like `kubectl` command however it doesn't seem so.

##### STEPS TO REPRODUCE

Let's take under consideration following playb

[2018-02-12 16:25] LeDOC666 commented on #36044
Oups, forgot the check arg :dagger:

[2018-02-12 16:25] #36044 closed, assigned to nobody

[2018-02-12 16:39] baltazar1 commented on #35348
I've tested with the current devel branch.
Now the results seem ok.
Problem solved!?

[2018-02-12 16:47] ganeshrn commented on #33042
Fixed on devel.

[2018-02-12 16:47] #33042 closed, assigned to ganeshrn

[2018-02-12 16:48] ganeshrn commented on #32619
@termlen0 Thank you for confirmation. Closing this issue now.

[2018-02-12 16:48] #32619 closed, assigned to ganeshrn

[2018-02-12 16:53] ganeshrn commented on #30778
@mattlan This fix won't be backported to 2.3.
The fix is available in 2.4.1

[2018-02-12 16:53] #30778 closed, assigned to ganeshrn

[2018-02-12 16:58] ganeshrn commented on #29760
@stianvi This can be now achieved using `parse_xml` filter added in 2.5.
For more details on how to parse XML response to a json output please refer http://docs.ansible.com/ansible/devel/playbooks_filters.html#network-xml-filters

[2018-02-12 16:58] #29760 closed, assigned to ganeshrn

[2018-02-12 17:12] alikins commented on #35952
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2018-02-12 17:12] #35952 closed, assigned to nobody

[2018-02-12 17:20] ganeshrn commented on #33678
@alvarezluciano Can you please retest on `stable-2.5` branch.
Also please share the playbook you are running and the output of `show version` junos command.

need_info

[2018-02-12 17:26] cesarfn4 opened #36050 "Memory allocation error while using include_task"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include and include_tasks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No change

##### SUMMARY
If I run a playbook importing many tasks with "include_tasks" (ansible-loop_include_tasks.tar.gz), it hangs with the error:
[code]
However, if I run the same playbook with "include" (ansible-loop_include.tar.gz) instead of "include_tasks", it fi

[2018-02-12 17:27] bcoca commented on #36006
this might just not be supported, vars is processed 'first' as we require the vars to be available to be able to template the task itself.

[2018-02-12 17:28] sivel commented on #36050
This is a duplicate of the already resolved https://github.com/ansible/ansible/issues/35796

[2018-02-12 17:28] #36050 closed, assigned to nobody

[2018-02-12 17:28] ssbarnea commented on #33447
I think this is a perfect valid bug, I see the warning even when I do not use mandatory. Just put a group that is empty and you will get a warning, at least with ansible 2.4.3

[code]

[2018-02-12 17:31] ganeshrn commented on #34857
@grabmana Can you please retest on `stable-2.5` branch and retest.  Multiple fixes are merged in  [iosxr terminal plugin](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/terminal/iosxr.py) since 2.3.0

If it is still failing please share the complete output logs from playbook run.

needs_info

[2018-02-12 17:43] sivel commented on #35796
The fix has been backported to stable-2.4 for an upcoming 2.4.4 release, it is also in stable-2.5 for the 2.5.0.b1 release and is in devel.

[2018-02-12 17:46] cesarfn4 opened #36053 "Maximum recursion depth exceeded while using include_task"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include and include_tasks

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
No change

##### SUMMARY
If I run a playbook importing many tasks with "include_tasks" (ansible-loop_include_tasks.tar.gz), it hangs with the error:
[code]
However, if I run the same playbook with "include" (ansible-loop_include.tar.gz) instead of "include_tasks", it fin

[2018-02-12 17:46] jctanner commented on #36045
This is because the module does not accept templated kwargs like ...

[code]

[2018-02-12 17:52] bcoca commented on #35990
I would not add autoflatten magic to `list` types, that is how `with_items` mess people up.  There is a `flatten` filter already.

[2018-02-12 18:02] bcoca commented on #35030
I'm not sure it is needed, both `block/rescue` and `meta` can be used to clear such an error.

[2018-02-12 18:06] sivel commented on #36053
Ref: https://github.com/ansible/ansible/issues/23609

[2018-02-12 18:15] sivel commented on #31673
@holta we recently addressed another issue with memory allocation in https://github.com/ansible/ansible/issues/35796

That change will be included in an upcoming 2.4.4 release and is in stable-2.4, 2.5.0.b1 and devel currently.

[2018-02-12 18:17] gundalow commented on #33950
Fixed by https://github.com/ansible/ansible/pull/36048 (and cherry-picked into `stable-2.5`)

http://docs.ansible.com/ansible/devel/module_docs/list_of_network_modules.html should be correct from tomorrow

[2018-02-12 18:19] gundalow commented on #36000
bot_status

Not sure why we've been pinged on this

[2018-02-12 18:20] gundalow commented on #35348
@baltazar1 That's great, thanks for confirming.

Ansible 2.5.0 should be released in March

[2018-02-12 18:20] #35348 closed, assigned to Qalthos

[2018-02-12 18:22] #33950 closed, assigned to gundalow

[2018-02-12 18:23] jctanner commented on #36045
Should also mention that this will allow you to send in arbitrary kwargs, although we are also deprecating the feature and will throw a warning ...

[code]

[2018-02-12 18:24] gundalow commented on #35902
Does this work on `devel` or the `stable-2.5` branches?

[2018-02-12 18:31] alikins commented on #36045
Can reproduce with https://github.com/ansible/ansible/pull/36054

[code]

[2018-02-12 18:31] olenm commented on #35992
thanks @azaghal, I like this method; I do not think its as 'self-documenting' as the more inexperienced would find that more confusing. (I wrote a simple bash wapper script to generate these as needed).
Also a setting a default-nested blank variable block might also be the trick; I was aiming for less code in our yml's

@sivel: would a PR to fix this in ansible in the filters be automatically reje

[2018-02-12 18:32] sivel commented on #35992
@olenm a PR in upstream jinja2 would be appropriate.

[2018-02-12 18:38] abadger commented on #35666
@bcoca I'm wrong.  Since DEFAULT_REMOTE_TMP(/home/centos/ansible.cfg) = /tmp/.ansible/tmp is being set, then we don't want to call fixup_perms on the higher level directories.  Seems like this is a case where we need to fallback on the system temp but 2.5 is using the remote_temp setting instead.

[2018-02-12 19:24] wenottingham opened #36057 "'prompt' of pause module does not display if seconds/minutes passed"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
pause

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

According to the docs, the pause module supports three arguments:

[code]

The assumption would be that 'prompt' is always honored. It is not.
(This could be a bug in the module docs)

##### STEPS TO REPRODUC

[2018-02-12 19:46] jgeorgeson commented on #35784
Since it's not merged I tried your previous tip of putting the win_uri.ps1 from the PR in a 'library' folder which is sibling to my playbook file and otherwise using the system default Ansible 2.4 install. With that the task fails with `FAILED! => {"msg": "Could not find imported module support code for 'Ansible.ModuleUtils.FileUtil'."}`

Loading up the @devel virtualenv and pip3 install upgraded

[2018-02-12 19:46] toneill818 opened #36060 "win_iis_virtualdirectory does not work with network path"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_iis_virtualdirectory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
MacOS 10.12.6

##### SUMMARY
When using a network directories it errors saying "specified folder must already exist: physical_path". Using Powershell I checked the provided path with the Test-Path command and it returns true.

##### STEPS TO REPR

[2018-02-12 19:52] grantcurell opened #36061 "How do you declare host variables in YAML inventory"
##### ISSUE TYPE
 - Bug Report
- Question really?

##### COMPONENT NAME
inventory.yml

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS 7.4

##### SUMMARY
I'm trying to declare host-specific variables in a YAML inventory file. See the sensors group at the bottom - variable is bro_interface:

[code]

I have a bro role with a default value of eth0, which seems to be winning out. I know I'

[2018-02-12 20:02] sivel commented on #36053
Truncated recursion traceback:

[code]

[2018-02-12 20:24] #36045 closed, assigned to nobody

[2018-02-12 20:28] bcoca commented on #35666
That code should work the same, quick look the fallback when remote_user is non-admin still there, but we did change to include configurable list (more than 'root'). Queued for testing.

[2018-02-12 20:33] grantcurell commented on #36061
Host vars do not seem to behave as expected for the ini file either. I tried this:

[code]

and bro_interface still did not override the role default. I get the feeling I'm probably missing something hahaha

[2018-02-12 20:44] bcoca commented on #36000
the one removed was really not a connection plugin, it just created new nspawn instance on every 'connection' attempt.

we declined going the machinectl route as that uses ssh also and using ansible directly was just faster and had less issues.

[2018-02-12 20:44] mattclay opened #36062 "Unstable integration test ec2_group"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

ec2_group integration test

##### ANSIBLE VERSION

2.5

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test ec2_group:

https://app.shippable.com/github/ansible/ansible/runs/54397/66/tests

##### STEPS TO REPRODUCE

Run test on Shippable.

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RESULTS

[2018-02-12 20:44] grantcurell commented on #36061
It was an idiot error. Ignore me and continue on with your day.

[2018-02-12 20:44] #36061 closed, assigned to nobody

[2018-02-12 20:48] mattclay opened #36063 "Unstable integration test ec2_vpc_net"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

ec2_vpc_net integration test

##### ANSIBLE VERSION

2.5

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test ec2_vpc_net:

https://app.shippable.com/github/ansible/ansible/runs/54395/67/tests

##### STEPS TO REPRODUCE

Run test on Shippable.

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RESU

[2018-02-12 20:52] ageis commented on #20747
+1 I need this too! I'm willing to help work on it. Reading through the iptables module code now. @sebastiendarocha

[2018-02-12 20:54] ageis commented on #20747
@matthyx

[2018-02-12 20:57] mattclay opened #36065 "Unstable integration test aws_ses_identity"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

aws_ses_identity integration test

##### ANSIBLE VERSION

2.5

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test aws_ses_identity:

https://app.shippable.com/github/ansible/ansible/runs/54391/66/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

#####

[2018-02-12 21:01] mattclay opened #36066 "Unstable integration test ec2_vpc_route_table"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

ec2_vpc_route_table integration test

##### ANSIBLE VERSION

2.5

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test ec2_vpc_route_table:

https://app.shippable.com/github/ansible/ansible/runs/54391/67/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

[2018-02-12 21:07] jborean93 commented on #35784
@jgeorgeson since this is a relatively simple fix I can easily backport it to 2.4 but it needs to be put in devel first. It will require some minor tweaking to get in 2.4 but nothing dramatic.

[2018-02-12 21:10] mattclay opened #36068 "Unstable integration test ec2_ami"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

ec2_ami integration test

##### ANSIBLE VERSION

2.5

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test ec2_ami:

https://app.shippable.com/github/ansible/ansible/runs/54373/67/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RESULTS

Te

[2018-02-12 21:15] TomasTomecek commented on #36045
you guys are way too fast, I don't expect such service; I'm so humbled

[2018-02-12 21:25] mattclay opened #36069 "Unstable integration test azure_rm_postgresqldatabase"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_postgresqldatabase integration test

##### ANSIBLE VERSION

2.5

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test azure_rm_postgresqldatabase:

https://app.shippable.com/github/ansible/ansible/runs/54385/62/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULT

[2018-02-12 21:25] mattclay opened #36070 "Unstable integration test azure_rm_postgresqlserver"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_postgresqlserver integration test

##### ANSIBLE VERSION

2.5

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test azure_rm_postgresqlserver:

https://app.shippable.com/github/ansible/ansible/runs/54385/62/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

T

[2018-02-12 21:27] mattclay commented on #36069
@zikalino Can you take a look at this?

[2018-02-12 21:28] mattclay commented on #36070
@zikalino Can you take a look at this?

[2018-02-12 21:29] mattclay commented on #36069
These tests have been temporarily disabled in https://github.com/ansible/ansible/commit/a9a7d15698ced118eabff5c606239b87196b3d5f due to the high frequency of failures.

[2018-02-12 21:29] mattclay commented on #36070
These tests have been temporarily disabled in https://github.com/ansible/ansible/commit/a9a7d15698ced118eabff5c606239b87196b3d5f due to the high frequency of failures.

[2018-02-12 21:33] mattclay opened #36072 "Unstable integration test azure_rm_loadbalancer"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_loadbalancer integration test

##### ANSIBLE VERSION

2.5

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test azure_rm_loadbalancer:

https://app.shippable.com/github/ansible/ansible/runs/54379/64/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pas

[2018-02-12 21:34] mattclay commented on #36072
@trstringer Can you take a look at this?

[2018-02-12 21:34] mattclay commented on #36072
These tests have been temporarily disabled in https://github.com/ansible/ansible/commit/a9a7d15698ced118eabff5c606239b87196b3d5f due to the high frequency of failures.

[2018-02-12 21:38] Mixer9 commented on #31627
@maxamillion Hey @tarka or @Slezhuk I am also having this issue, when I attempt to use the custom field added for the Insight plugin to Jira, it is not a plain text field, it is a lookup type field. here is an excerpt from Jira for the field in question:
`"customfield_11502":["VALTXNC01 (GSOC-1368)"]`
this is output of an existing issue.
Here is the output of https://myserver.com:8443/rest/api/2/f

[2018-02-12 22:00] mattclay commented on #36062
Here's an additional test failure:

https://app.shippable.com/github/ansible/ansible/runs/54379/67/tests

[code]

[code]

[2018-02-12 22:02] mattclay opened #36076 "Unstable integration test azure_rm_sqldatabase"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_sqldatabase integration test

##### ANSIBLE VERSION

2.5

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test azure_rm_sqldatabase:

https://app.shippable.com/github/ansible/ansible/runs/54378/62/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

[2018-02-12 22:02] mattclay commented on #36076
@zikalino Can you take a look at this?

[2018-02-12 22:03] mattclay commented on #36076
These tests have been temporarily disabled in https://github.com/ansible/ansible/commit/a9a7d15698ced118eabff5c606239b87196b3d5f due to the high frequency of failures.

[2018-02-12 22:07] mattclay commented on #36063
Here's another test failure:

https://app.shippable.com/github/ansible/ansible/runs/54359/66/tests

[code]

[code]

[2018-02-12 22:09] mattclay commented on #36072
Here's another test failure:

https://app.shippable.com/github/ansible/ansible/runs/54344/63/tests

[code]

[2018-02-12 22:11] jamesmarshall24 opened #36077 "RHEL 6 Mount Facts Display "N/A" for UUID"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/Users/user/.ansible.cfg) = False

##### OS / ENVIRONMENT

N/A

##### SUMMARY
Facts returned for ansible_mounts against RHEL 6 hosts result in "N/A" rather than printing the UUID

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Same UUID as displayed from
[co

[2018-02-12 22:12] mattclay opened #36078 "Unstable integration test ec2_vpc_egress_igw"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

ec2_vpc_egress_igw integration test

##### ANSIBLE VERSION

2.5

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test ec2_vpc_egress_igw:

https://app.shippable.com/github/ansible/ansible/runs/54343/66/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

##

[2018-02-12 22:25] dagwieers commented on #34587
One more request to get more feedback. If no feedback I am going to close this issue.

needs_info

[2018-02-12 22:27] dagwieers commented on #35340
We need feedback regarding this fix. We have one more week until this is written in stone...

needs_info

[2018-02-12 22:38] bbb31 commented on #18124
I'm locked in 2.2 because of #21562, I can confirm that @bcoca solution seems to work.

[2018-02-12 22:58] mattclay commented on #36069
/cc @nitzmahone

[2018-02-12 22:58] mattclay commented on #36070
/cc @nitzmahone

[2018-02-12 22:59] mattclay commented on #36076
/cc @nitzmahone

[2018-02-12 23:01] JoelFeiner commented on #27124
This line is still in the plugin as of 2.4.2. It really doesn't seem necessary and I'm not sure why it can't just be removed.

plugins/action/assert.py (line 70)
[code]

[2018-02-12 23:03] mattclay opened #36080 "Unstable integration test azure_rm_containerinstance"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_containerinstance integration test

##### ANSIBLE VERSION

2.5

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test azure_rm_containerinstance:

https://app.shippable.com/github/ansible/ansible/runs/54332/51/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

[2018-02-12 23:03] mattclay commented on #36080
@zikalino Can you take a look at this?

[2018-02-12 23:04] isaacegglestone commented on #35235
Getting the same/similar issue/error for Ansible 2.4.3.
===================
ansible --version
ansible 2.4.3.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/egglesti/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python versi

[2018-02-12 23:09] mattclay commented on #36080
/cc @nitzmahone

[2018-02-12 23:11] mattclay opened #36082 "Unstable integration test azure_rm_subnet"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_subnet  integration test

##### ANSIBLE VERSION

2.5

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test azure_rm_subnet:

https://app.shippable.com/github/ansible/ansible/runs/54226/51/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

##### A

[2018-02-12 23:19] mattclay opened #36083 "Unstable integration test ec2_vpc_subnet"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

ec2_vpc_subnet integration test

##### ANSIBLE VERSION

2.5

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test ec2_vpc_subnet:

https://app.shippable.com/github/ansible/ansible/runs/54187/55/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

##### ACTU

[2018-02-12 23:42] jgeorgeson commented on #35784
Thanks, that'd be great.

[2018-02-12 23:47] mattclay opened #36085 "Unstable integration test azure_rm_sqlserver_facts"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_sqlserver_facts integration test

##### ANSIBLE VERSION

2.5

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test azure_rm_sqlserver_facts:

https://app.shippable.com/github/ansible/ansible/runs/54373/62/console

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

T

[2018-02-12 23:47] mattclay commented on #36085
@zikalino Can you take a look at this?

[2018-02-12 23:47] mattclay commented on #36085
These tests have been temporarily disabled in https://github.com/ansible/ansible/commit/a9a7d15698ced118eabff5c606239b87196b3d5f due to the high frequency of failures.

[2018-02-12 23:48] mattclay commented on #36085
/cc @nitzmahone

[2018-02-12 23:59] mattclay opened #36087 "Unstable integration test azure_rm_mysqldatabase"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_mysqldatabase integration test

##### ANSIBLE VERSION

2.5

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test azure_rm_mysqldatabase:

https://app.shippable.com/github/ansible/ansible/runs/54076/51/console

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests

[2018-02-12 23:59] mattclay commented on #36087
@zikalino Can you take a look at this?

[2018-02-13 00:04] mattclay commented on #36087
/cc @nitzmahone

[2018-02-13 01:25] drew1kun opened #36089 "Paramiko Failed to open session: (2, 'Connect failed')"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Module: **authorized_key** in conjunction with **become_user** and **with_items**

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OS, running ansible from: **MacOS 10.13.2 (17C88) (High Sierra)**
Managed OS: **MacOS 10.13.3 (High Sierra)**

##### SUMMARY

Trying to add the ssh public key to a list of users o

[2018-02-13 01:34] zikalino commented on #36080
@mattclay i will investigate these issues. they don't seem to be related to Ansible in any way though...

[2018-02-13 01:58] dagwieers commented on #35050
I am not able to reproduce this on version 3.0(2k) (running on sandboxapicdc.cisco.com).

Either the identified problem is more complex, or this is already fixed in a newer release.

[2018-02-13 02:07] zikalino commented on #31237
@BipinXavier i would like to look into this issue, but can't proceed without more details on the template you were using.

[2018-02-13 02:13] #35947 closed, assigned to nobody

[2018-02-13 02:15] dagwieers commented on #35947
So in a few hours (days?) you can find the explanation of some error messages (including this one) in the ACI guide at:  http://docs.ansible.com/ansible/devel/guide_aci.html#apic-error-messages

Let us know what we can improve from the ACI documentation...

[2018-02-13 03:02] mattclay commented on #36078
Here's another occurrence: https://app.shippable.com/github/ansible/ansible/runs/54507/66/tests

[2018-02-13 03:02] mattclay commented on #36063
Here's another occurrence: https://app.shippable.com/github/ansible/ansible/runs/54507/66/tests

[2018-02-13 03:03] mattclay commented on #36066
Here's another occurrence: https://app.shippable.com/github/ansible/ansible/runs/54507/66/tests

[2018-02-13 03:04] mattclay commented on #36068
Here's another occurrence: https://app.shippable.com/github/ansible/ansible/runs/54525/66/tests

[2018-02-13 03:08] mattclay commented on #36066
Here's another occurrence: https://app.shippable.com/github/ansible/ansible/runs/54508/56/tests

[2018-02-13 03:09] mattclay commented on #36066
And another one: https://app.shippable.com/github/ansible/ansible/runs/54508/55/tests

[2018-02-13 03:28] shepdelacreme commented on #36078
This looks like an issue with running the `ec2_vpc_net` module to create the VPC to run the tests in.

Per the second test run it fails on multiple modules: `ec2_vpc_net` and `ec2_vpc_route_table` not just `ec2_vpc_egress_igw`

Not sure if its an issue with the `ec2_vpc_net` module itself or if AWS API is just being slow. The fix is probably to add the AWS retry code to `ec2_vpc_net` so it doesn't

[2018-02-13 03:57] #35987 closed, assigned to nobody

[2018-02-13 04:32] hwseal121 commented on #31576
I just faced same error at my test machine.
But kokarn's last solution solve my problem.
I tried to enable ICMPv4 protocol. and add just protocol args on playbook.
thanks to support. kokarn

[2018-02-13 05:16] Zorrom commented on #35943
@Akasurde Yeah ill check with the CloudForms expert. Thanks for your help.

[2018-02-13 06:42] Akasurde commented on #36030
resolved_by_pr #36091

[2018-02-13 06:42] Akasurde commented on #36009
resolved_by_pr #36091

[2018-02-13 08:14] alexejpissarev commented on #36034
Dear Matt,
did I misunderstand the documentation of the config setting unparsed_is_failed [here](http://docs.ansible.com/ansible/2.4/config.html#common-options)?
...
Description: | If ‘true’ unparsed inventory sources become fatal errors, they are warnings otherwise.
...
I was not able to make ansible produce any fatal errors, only warnings, regardless what the value of this variable is set in the

[2018-02-13 08:36] zwindler opened #36093 "security_group_name parameter is ignored by azure_rm_networkinterface"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_networkinterface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible running on WSL (Ubuntu) on Windows 10

##### SUMMARY
Given network security group is ignored when specified, even if it exists. A new default security group is created at the same time the network interface is created

##### STEPS

[2018-02-13 08:58] MarkRoddick commented on #35536
Looks like you could just do the string to int conversion in the ARM template.

{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "stringToConvert": {
            "type": "string",
            "defaultValue": "4"
        }
    },
    "varibles": {
        "integerConvertedfromString": **"

[2018-02-13 09:05] zikalino commented on #35536
@MarkRoddick but this would require changes in existing ARM template. If existing ARM template expects number as a parameter, there's no way to pass it right now.

[2018-02-13 09:10] MarkRoddick commented on #35536
yeah agreed, but least its a workaround if you are using custom ARM templates

[2018-02-13 09:10] emergy opened #36095 "(Title renamed to remove explicit language)"
https://github.com/ansible/ansible/blob/66743f33faa71d092557f2c89788868ca32061aa/lib/ansible/module_utils/facts/network/generic_bsd.py#L80

[2018-02-13 09:14] machacekondra commented on #36028
@sivel  That's right, because roles `ping.py` is used and if it wouldn't fail it would be used also by the `tasks`.

So if `module` loaded from library of the role is used first it's used withing whole playbook.
If module is loaded from Ansible library path, it's used again within whole playbook, even if there is a role, which has updated that module.

[2018-02-13 10:08] akamez commented on #35827
Hi @Akasurde,

Here are the results:

[code]

[2018-02-13 10:25] Tux12Fun opened #36097 "[HELP-NEEDED] Cast Integer to String - No Documentation found"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

How can I cast a int to a string in ansbile Playbook.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Access to CE_DISK_FIXED_SIZE

##### ACTUAL RESULTS

[code]
item.1.num is a integeger :-(

[2018-02-13 10:58] msieurtoph opened #36099 "No_log = True hides "changed" status"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
/

##### OS / ENVIRONMENT
Red Hat 4.4.7-3

##### SUMMARY
When using no_log option, the "changed" result is turn to "ok" status when displaying result ...

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect that both simple tasks display a "changed" status, but i

[2018-02-13 11:04] dagwieers opened #36100 "ACI: Adding an ACI connection plugin for communication"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ACI

##### ANSIBLE VERSION
v2.6

##### SUMMARY
The general idea is that the ACI modules would feel more native and better integrated with how Ansible works. This means that the information/credentials to connect to the APIC is stored in the inventory (using `ansible_host`, `ansible_port`, `ansible_user` and `ansible_password`) and the playbook

[2018-02-13 11:07] msieurtoph commented on #36099
For the record, the issue does not concern ansible 1.9 :

[code]

[2018-02-13 11:12] dagwieers commented on #33887
I documented our plan in #36100, so I prefer to close this issue.
Feel free to ask any more questions or provide feedback in this issue, or #36100.

[2018-02-13 11:12] #33887 closed, assigned to dagwieers

[2018-02-13 11:13] Akasurde commented on #35827
@akamez I am not able to reproduce this on my setup, I tried on both 2.4 and 2.5 version.

[code]

Could you please try using latest Ansible version ?

needs_info

[2018-02-13 11:19] iavael commented on #36095
Don’t be so agitated. It’s just a lookup for route in local routing table, no network queries are actually performed.

[2018-02-13 11:53] Tux12Fun commented on #36097
Found Solution

 "DISK: {{item.0.disk.dev}}{{item.1.num}}   RESIZE TO: {{CE_DISK_FIXED_SIZE[item.0.disk.dev + ( item.1.num | string )  ]  }}"

[2018-02-13 11:53] #36097 closed, assigned to nobody

[2018-02-13 12:05] akamez commented on #35827
Hi @Akasurde,

I was sure I tried with 2.5 but I tried again and it works now

TASK [Delete  all AdHoc snapshots] *************************************************************************************
FAILED - RETRYING: Delete  all AdHoc snapshots (4 retries left).
FAILED - RETRYING: Delete  all AdHoc snapshots (3 retries left).
ok: [loncinftstl001 -> localhost]

TASK [debug] **********************

[2018-02-13 12:09] hammersoft commented on #36031
reopen by @dagwieers request

[2018-02-13 12:28] hammersoft commented on #36031
@dagwieers,  it`s not a bug in my case i think.
May be just add this use-case (about namespaces) to documentation as special note?

[2018-02-13 12:34] #35950 closed, assigned to nobody

[2018-02-13 12:46] ivladdalvi commented on #36095
Possibly, using a more generic "route -n get 0.0.0.0/0" would be a better way of finding a default route. Using a well-known address is not necessarily a good practice.

[2018-02-13 12:48] lx183 opened #36104 "Python API: Host Key Checking not configurable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Python API

##### ANSIBLE VERSION
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ansible/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7

[2018-02-13 13:01] alankis commented on #17086
Is there any update regarding this issue?

[2018-02-13 13:03] duke66 commented on #36095
ipv6 default route lookup is also broken "v6=[route_path, '-n', 'get', '-inet6', '2404:6800:400a:800::1012'])"

[2018-02-13 13:03] #36095 closed, assigned to nobody

[2018-02-13 13:06] cavamagie commented on #24506
any news?

[2018-02-13 13:09] polkovnikov-ph commented on #36095
@Akasurde Wow, was it fixed that fast?

[2018-02-13 13:10] Akasurde commented on #24506
@cavamagie We are waiting for original reporter to comment back.

[2018-02-13 13:11] Akasurde commented on #36095
@polkovnikov-ph $title seems offensive so I closed it.

[2018-02-13 13:11] webknjaz commented on #36095
@emergy Ansible community heavily relies on [Code of Conduct](https://docs.ansible.com/ansible/latest/community.html#community-code-of-conduct) being followed, which lets us address issues more effectively and be respectful to each other. Posting issues with offensive content is definitely not going to encourage productive discussion, but normally results in confrontation.
For best outcome please

[2018-02-13 13:24] Akasurde commented on #36095
@polkovnikov-ph I agree that this issue. But there is a certain way to describe an issue in Open Source Community. Using sexual abusive language is not the way to express your opinion.

[2018-02-13 13:26] Akasurde commented on #36095
@polkovnikov-ph Please refer [Code of Conduct](https://docs.ansible.com/ansible/latest/community.html#community-code-of-conduct) for more details.

[2018-02-13 13:34] webknjaz commented on #36095
@polkovnikov-ph please feel free to create a new issue with well-stated problem. Your assumption about that it's self-descriptiveness is only _partially_ correct when you refer to several ppl you mentioned. Still, there are lots of other people who won't understand it. I myself try avoiding to assume that other people see and understand things exactly the same way as me, because every individual h

[2018-02-13 13:41] snoby opened #36108 "ec2_vpc_peer -> Must have duplicate tags in accept peer connection or task bombs and crashes."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

modules/cloud/amazon/ec2_vpc_peer.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Running on Ubuntu 16.04 on an ec2 instance.

##### SUMMARY
I've used the ec2_vpc_peer module to create a peering connection with tags.  Just like in the example in the docs.  When I run the next command to locally accept the

[2018-02-13 14:11] lx183 opened #36110 "Cleanup for tmp directory not executed"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Python API

##### ANSIBLE VERSION

ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ansible/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python ve

[2018-02-13 14:16] alankis commented on #18917
Any chance that it could be merged in a stable release soon?

[2018-02-13 14:17] mysqlboy commented on #36046
Thanks for the vote of confidence. Add 4 more hours to each day and we'll talk. 🍡

[2018-02-13 14:53] sivel commented on #36028
I'm looking for exactly what scenario is causing the "sometimes" behavior.

needs_info

[2018-02-13 14:53] mattclay commented on #36080
@zikalino At a minimum there is a bug in the module (or one of its dependencies), as modules should not traceback. Either the error should be handled internally within the module or it should be reported as an error without a traceback.

If the test is expected to fail intermittently due to errors reported by the module, then the test may not be suitable for running in CI.

[2018-02-13 15:02] sivel commented on #36104
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2018-02-13 15:02] #36104 closed, assigned to nobody

[2018-02-13 15:15] machacekondra commented on #36028
`sometimes` is a bad word. It should be always in specific scenario.

- Scenario 1: Module from Ansible library is used before role's library module, so only module from Ansible library is always used.

- Scenario 2: Module from role's library is used before module from Ansible library, so only module from role's library is always used.

1) If you have following playbook:

[code]

Then always `pin

[2018-02-13 15:19] sivel commented on #36028
Thank you.  I wanted to ensure we all had a working reproducer and understood the problem.

[2018-02-13 15:19] ilangrs opened #36115 "elb_application_lb: "There is an issue in the code of the module. You must specify either both, resource or client to the conn_type parameter in the boto3_conn function call""
##### SUMMARY
When I am running "elb_application_lb" module I am getting the following error message:

"There is an issue in the code of the module. You must specify either both, resource or client to the conn_type parameter in the boto3_conn function call"

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`elb_application_lb.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing has c

[2018-02-13 15:30] osLEccse commented on #17716
Any updates on this issue? I'm facing the same problem..

[2018-02-13 15:31] osLEccse commented on #36110
#17716

[2018-02-13 15:32] s19n commented on #26791
The problem is still present in Ansible 2.4.1.0 .

[2018-02-13 15:33] bharaththiruveedula commented on #35284
Can i work on this issue?

[2018-02-13 15:33] windowsansiblernew commented on #35826
fixed it myself by using it like below

[code]

[2018-02-13 15:36] sivel commented on #36053
This issue has been resolved by https://github.com/ansible/ansible/pull/36075

The change has been backported to stable-2.5 (inclusion in 2.5.0.b2) and stable-2.4 (inclusion in 2.4.4)

[2018-02-13 15:36] #36053 closed, assigned to nobody

[2018-02-13 15:37] trishnaguha commented on #35914
@IPvSean So I just tried the similar thing you are trying to do and looks like it worked for me.
Playbook:
[code]

Result:
[code]

Are you trying to do the similar task ^?

[2018-02-13 15:49] sekharvajjula opened #36116 "Ansible module ipmi_boot misses option bootdev:floppy"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ipmi_boot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Ansible ipmi_boot module is missing choice "floppy" in "bootdev" parameter. This is needed for some IT hardware, where there is an option to attach Virtual Floppy Disk remotely and boot with it.

"ipmitool chassis bootdev" supports "

[2018-02-13 15:50] sekharvajjula commented on #36116
Please assign it to me, if you think this is a valid bug report.

[2018-02-13 15:53] IPvSean commented on #35914
What version of vyos are you using?  I have a feeling I might be on something old...

[2018-02-13 15:58] mklouda opened #36118 "sqs_queue doesn't return queue ARN in the result"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
sqs_queue

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ProductName:	Mac OS X
ProductVersion:	10.12.6

##### SUMMARY

sqs_queue module  doesn't return queue ARN of the newly created queue in the result although the documentation says it should see http://docs.ansible.com/ansible/latest/sqs_queue_module.html

#####

[2018-02-13 15:59] #24721 closed, assigned to Qalthos

[2018-02-13 16:05] IPvSean commented on #35914
... actually I am on latest stable...

[code]

[2018-02-13 16:07] ghost opened #36121 "python3 asa_command cannot use a string pattern"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

asa_command
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_FORCE_COLOR(/mnt/hgfs/Share/HCS/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/mnt/hgfs/Share/HCS/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=30s
DEFAULT_GATHERING(/mnt/hgfs/Share/HCS/ansible.cfg) = explicit
DEFAULT_HOST_LIST(/mnt/hgfs/Share/HCS/ansible.cfg) = ['/mnt/hgf

[2018-02-13 16:15] trishnaguha commented on #35914
@IPvSean `1.1.7`
[code]

[2018-02-13 16:16] trishnaguha commented on #35914
@IPvSean not sure if this is because of version. Are you getting this every time?

[2018-02-13 16:18] imriss opened #36125 "Error with pip-docker (3.0.1): "Error connecting: load_config() got an unexpected keyword argument 'config_dict'" (Moved from AWX to Ansible)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/docker_common.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

The output of `ansible-config dump --only-changed` was `VOID`

##### OS / ENVIRONMENT

Both `Arch Linux` and `Ubuntu` tried

##### SUMMARY

`AWX` fails to execute its demo example. It was working fine before updating `pip-docker` from `3.0.0` to `3.0.

[2018-02-13 16:26] sivel commented on #36125
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker:

   * https://github.com/ansible/awx

If you can stop by the tracker or forum for one of those projects, we'd appreciate it.

Should you still wish to discuss

[2018-02-13 16:37] jsteel44 commented on #28721
This breaks my config where I use both regexp AND insertafter; the regexp doesn't seem to match any more, so on every subsequent run it inserts duplicate lines:

[code]

[code]

[2018-02-13 16:38] sivel commented on #36099
This has been resolved in the following 2 commits:

https://github.com/ansible/ansible/commit/5067a1340a514b5359961c53f6c2943d20e8b363
https://github.com/ansible/ansible/commit/2ded3e1fb166a2684994390b30b3aaa900d26222

Output from the upcoming 2.4.4 release:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: htt

[2018-02-13 16:38] #36099 closed, assigned to nobody

[2018-02-13 16:45] pravin123456 commented on #15948
Is there any fix for above issue?

[2018-02-13 16:47] Anbcorp commented on #34863
Hi,

Just tested the proposed fix against v2.4.3.0 and as far as I can tell, the bug seems fixed.

We tested users with empty permissions and normal ones without any issue.

[2018-02-13 16:59] IPvSean commented on #35914
I get it every single time... its really odd, only if the task will fail.

This task:
[code]

if the 192.168.X.X is something it can actually ping it works... otherwise it does this->
[code]

[2018-02-13 17:00] sivel commented on #36110
This may have been resolved for the upcoming 2.5 release in a refactor involving temporary files.

Can you test with either 2.5.0.b1, the stable-2.5 branch or the devel branch?

needs_info

[2018-02-13 17:06] tterranigma commented on #23779
I just tested the example playbook with a fresh git clone from the devel branch and it is working ok. Should this be closed?

[2018-02-13 17:12] joelzamboni opened #36129 "Warning on BCRYPT"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
https://github.com/ansible/ansible/blob/218f008dabe9f4e77899c1fd333a20f161519d8c/lib/ansible/plugins/filter/core.py#L302

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Installed passlib

##### OS / ENVIRONMENT
Linux (Ubuntu) & MacOS

##### SUMMARY
I need to create a bcrypt hash and I am using the filter. The `passlib` function calls it bcry

[2018-02-13 17:13] IPvSean commented on #35914
I changed my vyos to 1.1.7 and it still fails

[2018-02-13 17:18] nkakouros opened #36130 "Add ability to define filter macros"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
filters

##### SUMMARY
Ansible filters in chains are really powerful. But when having a long chain of filters, it "pollutes" your playbooks with long or multi-line expressions. Moreover, it is counter-productive to modify a repeating filter chain if need be. It would also add context to what you filter chain does by naming it.

Example of a lo

[2018-02-13 17:58] JoelFeiner commented on #32454
I am on Ansible 2.4.3 and this exact problem is still happening for me.

[2018-02-13 19:23] danielgriggs commented on #23779
Fine with me 👍

[2018-02-13 19:23] #23779 closed, assigned to nobody

[2018-02-13 20:13] bcoca commented on #35666
So my tests show it using a system dir (correctly), looked at verbose output above and that seems to still be correct:

[code]

[2018-02-13 20:18] varunchopra opened #36135 "gce - differentiate between network tags and labels; add support for labels."
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
gce

##### ANSIBLE VERSION
[code]
Testing on 2.6 as well.

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
So, I've recently started playing around with the `gce` module and this has come up as a sort of an inconvenience.

`gce` currently has support to define `tags` as an attribute but it's unclear from the documentation as

[2018-02-13 20:20] yaniveliash opened #36136 "lineinfile ignore some of my lines insertions"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT
Centos 7.4

##### SUMMARY
I'm using lineinfile to populate a new empty configuration file for logstash pipeline
however ansible ignore last 2 lines that contain

[2018-02-13 20:20] TomasTomecek commented on #35941
I just figured out that the issue for me is a VPN network interface -- once on VPN, the setup is stuck, as soon as I close VPN, setup passes just fine.

[2018-02-13 20:39] kbreit commented on #34560
@coaxial Do you have an example task which has the XML in it? I'm open to helping to revise this, but I'm curious to see if you have something which would make it easier to revise.

Regarding `autostart` does it only work on its own or can it co-exist with other parameters? I looked at the source quickly and didn't see any obvious exclusions but curious about your experience.

I'm still figuring o

[2018-02-13 21:00] flowerysong commented on #36136
'lineinfile' ensures that a specific line is present in a file. You've already added the lines `'  }'`  and `'}'` to the file, so those specific lines will not be added again. In general it's preferred to use the 'copy' or 'template' modules and manage the entire file; if this isn't possible, the 'blockinfile' module is capable of managing blocks within the file.

[2018-02-13 21:09] sivel commented on #35065
We have restored behavior for 2.4, 2.5 will not inherit.  Docs are in place for this.

I'm proceeding with closing this issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-02-13 21:09] #35065 closed, assigned to jimi-c

[2018-02-13 21:29] C-Kenny commented on #31869
Came here from Google after running:

`ansible windows -vvv -i hosts -m win_ping`

[__NSPlaceholderDate initialize] may have been in progress in another thread when fork() was called.
objc[64884]: +[__NSPlaceholderDate initialize] may have been in progress in another thread when fork() was called. We cannot safely call it or ignore it in the fork() child process. Crashing instead. Set a breakpoint

[2018-02-13 21:54] finaroux commented on #10791
Same here, we should probably open a new ticket as this issue is now closed and will not be reviewed

[2018-02-13 22:22] alikins commented on #21595
!component -lib/ansible/plugins

[2018-02-13 23:12] michaelnugent opened #36145 "docker_service builds 100% of the time"
SUMMARY
This is an issue to go with PR 35762.  I didn't see anything happening there and wasn't sure if you guys preferred issues to go with your PRs.  https://github.com/ansible/ansible/pull/35762 fixes the issue.

This changes the behaviour to match the docs and intentions of the previous developer. The cmd_build() function was added to give more control over the builds. It should be off in the

[2018-02-13 23:15] saichint opened #36146 "nxos_bgp_af issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_bgp_af
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I5(2)

##### SUMMARY
There are few issues with nxos_bgp_af module.

1. Most of the parameters like dampening_state, inject_map, redistribute, networks etc. are not idempotent.
2. Setting parameters to 'default' does not wo

[2018-02-13 23:28] abadger commented on #35666
We're not sure why bcoca wasn't able to reproduce but I was and https://github.com/ansible/ansible/pull/36143 should fix this issue.  If you're able to test that, please let us know if that works.  I'm going to do a little more testing and then merge it to devel and the stable-2.5 branch

[2018-02-14 01:24] pythonxy opened #36148 "async tasks"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
juniper_junos_rpc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/root/ntc-ansible
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
CentOS Linux release 7.2.151

##### SUMMARY
There is a chance that the first task 'juniper_junos_rpc'  could fail to connect to the

[2018-02-14 01:49] robario commented on #4494
@mpdehaan
In LSB5, `reload` action is optional.

I suspect this is just an issue with the Ansible and not init script.
Ansible should run `service foo force-reload` when `service: name=foo state=reloaded`.

[2018-02-14 02:06] kiorky commented on #35065
It is still a BIG UX bug (one of those than can make users like me stop using ansible)...

[2018-02-14 02:07] kiorky commented on #35065
cc @abadger

[2018-02-14 02:32] arkaraung1993 commented on #35890
Hi Guys,
Please kindly support.  Thanks

[2018-02-14 02:33] ephesused commented on #35666
@abadger I'm happy to test it, but I'm not familiar with how to go from [that commit](https://github.com/ansible/ansible/pull/36143/commits/6a14110473a06833a4432746a3b73f55ba174143) to a usable Ansible image.  Where should I look for that documentation?  Thanks.

[2018-02-14 04:09] JohnVonNeumann commented on #35834
Just ran into this again, I reported something similar a while ago at #30491

[2018-02-14 05:29] LindsayHill opened #36150 "network_cli times out at self._ssh_shell.recv(256) with SLX Devices"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

network_cli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

Test network device: Extreme Networks [SLX 9140](https://www.extremenetworks.com/product/slx-9140-switch/)

[code]

##### SUMMARY

`network_cli` hangs at `self._ssh_shell.recv(256) when connecting to SLX devices.

##### STEPS TO REPRODUCE

[2018-02-14 05:31] LindsayHill commented on #36150
/cc @dpasupathi and @humblearner, a couple of colleagues who have seen something similar.

[2018-02-14 06:01] mmercer-apixio opened #36152 "Issue with Loop element list in 2.5.0a1/b1/stable-2.5/devel(2.6.0)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible, ansible inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Host: CentOS 7
Node: CentOS 7
Impact -- None

##### SUMMARY
Ansible behavior during 2.5.0 changed from an early state to the current devel state, causing an issue with inventory processing

##### STEPS TO REPRODUCE
https://gist.github.co

[2018-02-14 06:16] liqingkai2017 opened #36153 "use ios_command module with adhoc fail, with no response"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
. ios_command

##### ANSIBLE VERSION
ansible 2.5.0b1
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/site-packages/ansible-2.5.0b1-py2.7.egg/ansible
  executable location = /usr/local/bi

[2018-02-14 06:28] ganeshrn commented on #36150
@LindsayHill
It might be getting timed out while trying to match the received response to regex in `terminal_stdout_re`. I have added a few debug logs in network_cli.py here https://github.com/ganeshrn/ansible/commit/b74bd50ddec4716e61c9acc4284f939606365591 to confirm this.
Please add these debug logs in your environment and retest.

Note: Above logs will be redirected to a log file. To enable log

[2018-02-14 08:33] AvnerCohen commented on #17136
I couldn't get any suggestion to run correctly.
I find it very confusing that the documentation would say:
[code]

And if i run:
[code]
It works fine, but file_glob would not behave the same.

Plain old glob would be really great to have.

[2018-02-14 08:34] lewer commented on #18935
Why is the task executed when the file database.sqlite3 exists ? Shouldn't it be skipped because of the `creates` directive ? I'm facing the same problem.

[2018-02-14 08:47] yashrajchhabra commented on #22204
+1 would love this functionality

[2018-02-14 08:53] jsteel44 opened #36156 "lineinfile "regexp" ignored when using "insertafter""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Recent change #28721 breaks my config where I use both regexp AND insertafter; the regexp doesn't seem to match any more, so on every subsequent run it inserts duplicate lines.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

On

[2018-02-14 08:59] orthanc commented on #36065
Slightly odd, it looks like what is happening is that the boto call for notification settings isn't returning the information for the identity that's just been created so it's falling into an error case I wasn't expecting.

I'm guessing that this is becaue there's a delay on the AWS side between creation of the identity and the initial notification settings being avaliable through this API.

I'll

[2018-02-14 09:06] vkakhnych commented on #5339
The same on 2.4.2.0

[2018-02-14 09:20] vdweij opened #36157 "Presence of role is checked even though it is skipped via a tag"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
roles

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
We share a playbook between different departments and in some cases do not want to execute a particular role. This can be accomplished by specifying a tag and adding this --skip-tags to the cli. Because we don't have any interest in the

[2018-02-14 09:26] vkakhnych commented on #5339
Ubuntu ansible 2.4.2.0, see in /usr/lib/python2.7/dist-packages/ansible/plugins/action/__init__.py:

[code]

Of course my default `/tmp` doesn't contain that dashes.

[2018-02-14 10:01] vkakhnych commented on #5339
But looks like work on 2.4.3.0

[2018-02-14 10:02] trishnaguha commented on #35914
@IPvSean looks like I figured it out. This actually is timeout issue.
ping takes long time when the host is unreachable, which is why the socket is getting deleted because of timeout when you are pinging the IPs which are unreachable.

Add `persistent_connection` block in [ansible.cfg](https://github.com/IPvSean/ansible-networking-vagrant-demo/blob/master/training-course/ansible.cfg)
[code]

Pleas

[2018-02-14 10:11] cavamagie commented on #35354
and fot ansible ansible 2.4.3.0 and awx io still have the same problem

[2018-02-14 10:13] Akasurde commented on #35354
@cavamagie This change is not backported to 2.4.3

[2018-02-14 10:51] gundalow commented on #28721
Looks like this may have caused a regression, please see https://github.com/ansible/ansible/issues/28721

[2018-02-14 10:53] gundalow commented on #36156
Looks like https://github.com/ansible/ansible/pull/33393 went into `stable-2.4`, `stable-2.5` and `devel`, so the fix will need to go there as well.

Would be good to an integration test for this

[2018-02-14 11:17] vkakhnych commented on #5339
I found the root of my issue. If destination file already the same `/tmp` folder doesn't cleaning.

[2018-02-14 11:29] MonsieurCellophane opened #36161 "Include task followed by 'with_items' clause is executed regardless of tag selection"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME
include
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A

##### SUMMARY

A playbook/role contains a tagged task which includes a tasklist with a 'with_items' clause. **This task is always executed (though the included list is not) even when --tags selection(s) should skip it.**

_If the 'with_items' clause i

[2018-02-14 11:58] gundalow commented on #36136
@geostant Given the above feedback (thanks @flowerysong) I wonder if this is NOTABUG, more a miss understanding.
Closing, please re-open if that isn't the case

[2018-02-14 11:58] #36136 closed, assigned to nobody

[2018-02-14 12:00] gundalow commented on #36130
Hi @tterranigma Interesting idea I've added this to the core agendsa https://github.com/ansible/community/issues/296

Ansible support YAML anchors, not sure if they could do something similar

[2018-02-14 12:03] gundalow commented on #36129
@joelzamboni Can you please give an simple example showing how to cause this issue, thanks

[2018-02-14 12:08] gundalow commented on #36116
@sekharvajjula Looking at the code this may just be case of updating
[code]

Could you please test that locally and if it works create a Pull Request?

Thanks in advance

[2018-02-14 12:09] x-gnn opened #36163 "Unable to create azure_rm_networkinterface without public ip"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_networkinterface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It is not possible to setup azure network interfaces without public ip.

##### STEPS TO REPRODUCE
Running this playbook:

[code]

##### EXPECTED RESULTS
A network interface `dummy-nic` with only a private ip address.

#

[2018-02-14 12:29] gundalow commented on #35356
Unit test moved to https://github.com/ansible/ansible/pull/36056

[2018-02-14 12:31] gundalow commented on #20747
Hi, there is a proposed fix in https://github.com/ansible/ansible/pull/36073 If people could test and add comments on that PR that would be great. Thanks in advance

[2018-02-14 12:37] vkakhnych opened #36167 "Ansible doesn't clean temp directory with module `get_url` in some cases"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_REMOTE_USER(/home/test/.ansible.cfg) = test
HOST_KEY_CHECKING(/home/test/.ansible.cfg) = False
RETRY_FILES_ENABLED(/home/test/.ansible.cfg) = False

##### OS / ENVIRONMENT
Ubuntu 16.04.3 LTS

##### SUMMARY
Ansible doesn't clean temp directory with module `get_url` in case destin

[2018-02-14 12:48] ferfemar opened #36169 "fortios_config fails to backup config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

fortios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed in config.
$ ansible-config dump --only-changed
$

##### OS / ENVIRONMENT

Control node: Debian GNU/Linux 9 (stretch)
Target: Fortigate; Version: FortiWiFi-61E v5.6.3,build1547,171204 (GA)

##### SUMMARY
fortios_config fails to backup config. It works with Ansi

[2018-02-14 12:51] osLEccse commented on #36110
I'm facing the same issue with the devel branch..

[2018-02-14 12:59] dagwieers commented on #35140
And now I am getting:
[code]

[2018-02-14 13:31] ssbarnea opened #36170 "Ansible should expose current verbosity level to a variable accessible from playbook"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Currently is impossible to check current verbosity level from inside the playbook and users may want to use this in order to modify behaviour, like enabling some tasks based on its value.

If ansible would allow us to access verbosity level we

[2018-02-14 13:39] amarao opened #36171 "Allow to use the same variable name in left and right part of variable definintion"
##### ISSUE TYPE
 - Feature request

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Ubuntu 18.04

##### DESCRIPTION
Allow to define variable to itself.

There is no way to use `somevar: {{somevar}}` in `vars` section.

Any attempt to do so fails with `recursive loop detected in template string: {{somevar}}"`.

##### RATIONALE

To pass

[2018-02-14 14:13] gamuniz opened #36172 "Recieve `unable to set terminal parameters` running aireos_command module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
aireos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY
While trying to run the aireos_command module it throws an error:

[code]
##### STEPS TO REPRODUCE

Run simple playbook:

[code]

##### EXPECTED RESULTS

Playbook returns value of show sysinfo

##### ACTUAL RESULTS

[code]

[2018-02-14 14:14] flavioleandro commented on #31687
Please, could you help me.

I have these commands in ansible:

#change setStartEnv.sh to Webcenter sites finds your group.
- name: insert Line in setStartEnv to node cluster get group of Rules
  command: "{{item}}"
  with_items:
   - sed -i "s/satellite_server1/{{ lookup('file', '{{install_dir}}/base-cluster/hostname.txt') }}/g" /app/oracle/domains/SIT_SAT/bin/setStartupEnv.sh

And it displays the

[2018-02-14 14:15] flavioleandro commented on #28050
Please, could you help me.

I have these commands in ansible:

#change setStartEnv.sh to Webcenter sites finds your group.
- name: insert Line in setStartEnv to node cluster get group of Rules
  command: "{{item}}"
  with_items:
   - sed -i "s/satellite_server1/{{ lookup('file', '{{install_dir}}/base-cluster/hostname.txt') }}/g" /app/oracle/domains/SIT_SAT/bin/setStartupEnv.sh

And it displays the

[2018-02-14 14:18] gundalow commented on #35914
@rcarrillocruz Could you create an issue for Ansible 2.6 covering:
* timeout vs socket issue race condition
* Making timeout messages visible in `ansible-playbook` output
Thanks

[2018-02-14 14:19] gundalow commented on #35902
Also if you change to `connection: network_cli` is it any different?

[2018-02-14 14:27] gundalow commented on #35766
@pdellaert Do you know what the correct PR is?

[2018-02-14 14:31] gundalow commented on #35662
Is this a multi prompt command?
`ios_config` doesn't support `prompt:` and `answer:` though `ios_command` does.
Currently `ios_command` will reject config command.
We may want to add `prompt:` & `answer:` into `ios_config`

Would be interesting to know where the `none` is coming from.

We will investigate some more

[2018-02-14 14:37] jwoogee commented on #26608
I have this same error with ios_config and I have set the timeout to 120 with no improvement.  I don't think this is a timeout issue.

[2018-02-14 14:45] IPvSean commented on #35914
@trishnaguha this fixed the problem!  Thank you for chasing this down!!

I agree with @gundalow , we should change the error so people can adjust their timeout.

@gundalow do you think (if you have not already) we should open a FAQ, and put things like this, and then link to the bug?

@rcarrillocruz i am good with closing this bug as soon as the new one @gundalow suggested is open

[2018-02-14 14:47] Qalthos commented on #36121
#36176 should be the solution to this problem, can you verify if it works on Python 3 with this change?

[2018-02-14 14:48] coaxial commented on #34560
@kbreit Yes, cf. https://github.com/coaxial/ansible-playbooks/blob/master/create-vm/playbook.yml#L73

[2018-02-14 14:52] sivel commented on #36130
I've done a bit of investigation here, and not yet sure how this could be implemented.

I think the best way would be to generate an actual jinja macro (which doesn't have the same syntax as a filter).  Unfortunately, jinja does not provide a way to inject macros globally.  Since we don't really carry state from previous templating actions defining a macro early doesn't do anything.

I'm not sure

[2018-02-14 14:55] AlanCoding opened #36177 "Empty groups from vars plugins inconsistently shown"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
host_group_vars Vars Plugins

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
(no output)

##### OS / ENVIRONMENT
N/A

##### SUMMARY
A group which is only defined by the `group_vars/` folder next to the inventory file will not show up
 - it will not show up in the playbook var `groups`
 - it will not show up in the output of `ansible-in

[2018-02-14 15:00] MonsieurCellophane commented on #36170
Unless a way is also provided to mute skipped tasks (which AFAIK is still missing), this would not  make  much good - at verbosity==0 you would not see "yeah", but you'd still see the "skipped" notice.

[2018-02-14 15:01] kbreit commented on #34560
Reverse order. Your playbook does autostart on its own, so that's something.

Regarding line 73 in your playbook, the example at the bottom shows the use of `lookup()` so that's accurate, but the description is poor. I think the comments for `xml` can be updated to "XML document used for the define command. Must be raw XML content using `lookup()`. XML cannot be reference to a file."

Do you feel