[2017-09-22 14:26] sebastiendarocha commented on #25153
Didn't reproduce on 2.5.0.0

fixed by 4c72e982623fd883c7a5767fa08d5cd8c0b5f22d

test: modules/system/test_iptables : test_policy_table_no_change

@mscherer could you close this ?

[2017-09-22 14:29] ashemedai commented on #30751
FWIW, we have used and use host_vars/group_vars on a daily basis with 2.3.1.0 and 2.3.2.0 and experience no such problems. Just tested it with 2.4.0.0 and also no problems.

In our case our inventory files live under inventory/ and subsequently have inventory/host_vars/ and inventory/group_vars/ with various entries that correspond to the names of systems and groups.

[2017-09-22 14:32] sebastiendarocha commented on #21182
Didn't reproduce

fixed by 3691c784d25c173f0967f536c52ee0c15922948d

test: system/module/test_iptebles.py: test_flush_table_without_chain

@mscherer could you close this

[2017-09-22 14:32] #29379 closed, assigned to nobody

[2017-09-22 14:32] #25153 closed, assigned to nobody

[2017-09-22 14:35] toke commented on #30753
Looking into https://github.com/ansible/ansible/blob/stable-2.4/lib/ansible/module_utils/facts/system/service_mgr.py I see several checks for comparison I'll did these by hand:
[code]

[2017-09-22 14:38] #21182 closed, assigned to nobody

[2017-09-22 14:42] alikins commented on #30575
Is there an 'vault_password_file' or 'vault_identity_list' setup in configuration?

Running 'ansible-vault' with a high verbosity level will show some details about which vault-ids are being used.

[2017-09-22 14:44] abadger commented on #30755
Interesting.  I had only seen this bug in Python-3.5.  I don't see the patch in my distribution's Python-2.7.13 package but perhaps they have a different patch that affects it.

https://bugs.python.org/issue29519#msg299550 <=== This implies that the bug will be fixed in Python-2.7.14 as well.

[2017-09-22 14:45] pmusolino-rms commented on #29607
I am also impacted by this.  In my case, trying to attach a public IP to an existing interface in one resource group, but the vnet/subnets are in a different resource group.
from the CLI, I can do:
`
az network nic ip-config update -g $RG --nic-name $NICNAME -n $NICIPCONFIG --public-ip-address $PUBLICIP
`
whereas the below fails
[code]
trying the resource group associated with the networks gives a

[2017-09-22 14:47] duck-rh commented on #19086
I guess having both the current state and the available versions in in the repos could be useful.

Also this affects the 'package' component as there is no reason to not implement it here is all underlying package managers' action implement it.

[2017-09-22 14:50] bcoca commented on #30755
I run 2.7.13 and have never seen this output, only when running 3.5.3

[2017-09-22 14:51] alikins commented on #30575
I can reproduce this:

[code]

vault edit without any changes

[code]

vault edit, making and saving changes:

[code]

vault edit again:

[code]

[2017-09-22 14:52] thoto commented on #27905
Hi,

I wrote a `virt_domain` module at https://github.com/thoto/ansible_virt_domain (inside the /library/ directory) recently, which is by far not perfect and far from being ready to be shipped but works in my opinion a bit better than the original `virt` module. It tries to perform every operation idempotent and will not alter a domains state if not necessary.

The most interesting feature in my

[2017-09-22 14:57] alikins commented on #30575
@colinjc Thanks for the great bug report btw! Looking into a fix now.

[2017-09-22 15:05] oldlance opened #30759 "GCE module does not seem to support Shared VPC access from service projects"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gce

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
###### /etc/ansible/ansible.cfg (comments & blank lines removed)
[code]
###### Environment variables
[code]
Also ran `gcloud config set project $GCE_PROJECT`

##### OS / ENVIRONMENT
Running Ansible on a `Centos 7.3.1611 x86_64` box trying to provision some GCE images on GCP.  Using `libcloud

[2017-09-22 15:07] mscherer commented on #30603
So the problem is to know if this need to be fixed on WSL side (then a bug on https://github.com/Microsoft/BashOnWindows should be opened), or we need a more robust parsing.

Looking at iproute code, there is only 1 case to get a non-ip address, and that's "Deleted". I am not sure I can trigger a condition to have that output.

[2017-09-22 15:10] rhpvorderman commented on #30751
Thanks @ashemedai.
I set out to make a playbook that checks the issue.

Then I discovered the problem. In ansible 2.3.0  ALL files from group_vars and host_vars are loaded. From 2.3.1 onwards only the .yaml and .yml files are loaded. So having the right extension is required.

Can somebody from the ansible core team confirm this? Is there maybe a way to ignore the extension?

[2017-09-22 15:11] alikins commented on #30575
Looks like the vault_id is getting dropped on the encrypt after edit with change. (vault_id isnt passed to encrypt correctly there so got a fix for that).

The traceback is from an assumption in edit that if we can decrypt, then we have a matching vault-id in the secrets. Because of above bug, on the second edit, the vault id from the edited file is unset (or 'default') but the only vault-id in se

[2017-09-22 15:11] ashemedai opened #30760 "Ansible SSH problems delegate_to and closing control socket"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ssh

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

% ansible-config dump --only-changed
CACHE_PLUGIN(ansible.cfg) = memory
COMMAND_WARNINGS(ansible.cfg) = True
DEFAULT_BECOME_ASK_PASS(ansible.cfg) = True
DEFAULT_BECOME_METHOD(ansible.cfg) = sudo
DEFAULT_GATHERING(ansible.cfg) = smart
DEFAULT_MANAGED_STR(ansible.cfg) = This file is managed by

[2017-09-22 15:13] mscherer commented on #30228
Fixed by 441205feed7b4c9

[2017-09-22 15:13] #30228 closed, assigned to nobody

[2017-09-22 15:17] ashemedai commented on #30755
That's indeed interesting. I can try it against a pristine installation of Debian 9 on a VirtualBox if that helps?

[2017-09-22 15:19] ChristopherCorcoran commented on #30597
Any chance you can get this fix uploaded to the ubuntu xenial repo? Or at least restore 2.3 in the meantime? Looks like the broken version is still out there:

https://launchpad.net/~ansible/+archive/ubuntu/ansible

[2017-09-22 15:19] sophie-h commented on #27905
Hi @thoto,

you can find my implementation at

- https://github.com/sophie-h/ansible/blob/libvirt-modules/lib/ansible/modules/cloud/misc/libvirt_dom.py
- https://github.com/sophie-h/ansible/blob/libvirt-modules/lib/ansible/module_utils/libvirt_common.py

My implementation is solving similar problems, but partially a bit different: I am using the events API of libvirt and start listening for events

[2017-09-22 15:19] ashemedai commented on #30751
@rhpvorderman Shouldn't be. Our files don't use any extensions when it comes to group_vars/host_vars.
http://docs.ansible.com/ansible/latest/intro_inventory.html#splitting-out-host-and-group-specific-data also mentions explicitly: # can optionally end in '.yml', '.yaml', or '.json'

[2017-09-22 15:21] nightvisi0n opened #30761 "docker_container: Add support for `--init` option"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### SUMMARY

I hereby propose to support the docker `--init` option from `docker run`. It was added in docker v1.13 and does the following:
[code]
Should be easy to implement.

[2017-09-22 15:33] rhpvorderman commented on #30751
Without extension is also okay. .yml .yaml and .json work as well.
All other extensions are ignored.
I could not find this in the changelog. So all of the settings I had in .settings files would not be read.

[2017-09-22 15:34] bcoca commented on #30751
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Not ALL files should be loaded, this was a bug that we 'fixed', only the specific extensions or 'no extensions' are read, but this is a

[2017-09-22 15:36] calfonso commented on #30564
This seems to be resolved now.

[2017-09-22 15:45] sebastiendarocha commented on #18988
When you use "reject_with:", it implies the jump REJECT.

@madonius Can I use your example as an example in the documentation ?

[2017-09-22 15:49] calfonso commented on #30367
Hi!

Thanks very much for your submission to Ansible. It sincerely means a lot to us.

We're going to close this ticket. However, we're open to being corrected, should you wish to discuss. You can stop by one of our two mailing lists to talk about this and we might be persuaded otherwise.

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
https://groups

[2017-09-22 15:49] #30367 closed, assigned to ganeshrn

[2017-09-22 15:49] s-hertel commented on #30760
Are you specifying the remote user somewhere? needs_info

[2017-09-22 15:52] dagwieers commented on #30564
Yes, I contacted the listed email to ask them to add a redirect. However I think we should update the modules with the new link though.

[2017-09-22 15:52] sanjeevrg473 opened #30765 "Ansible 2.3.1 WinRM issue(WinRM service stopping during playbook execution)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

WINRM issue with Windows Server 2012 R2

WINRM service is stopping during playbook execution

##### ANSIBLE VERSION

ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.13 (default, Jan 11 2017, 10:56:06) [GCC]

##### CONFIGURATION

##### OS / ENVIRONMENT

####

[2017-09-22 15:53] madonius commented on #18988
Sure, feel free.

On 22 September 2017 17:45:53 CEST, "Sébastien DA ROCHA" <notifications@github.com> wrote:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2017-09-22 16:00] lmazuel commented on #30289
@nitzmahone Correct, automatic resource provider registration is handled by msrestazure >= 0.4.9
https://github.com/Azure/msrestazure-for-python#2017-06-19-version-049

[2017-09-22 16:05] thoto commented on #27905
That looks great!

Your state machine looks way better than what I have written. I tried to solve this finding a path between states but that is way to complex when dealing with just four states.

I could try to merge the XML code I wrote into your modules since I doubt that creating a domain without XML definition is possible. I would try pulling information out of the XML and change parameters o

[2017-09-22 16:05] aelmehra opened #30766 "win_hotfix DismInitialize failed Error"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

win_hotfix
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

While trying to deploy a hot patch to a Windows Server 2008 R2 machine I get the following error message:

"msg": "failed to get DISM package metadata from path C:\\Users\\Administrator\\AppData\\Local\\Temp\\b583c0a9-fc85-4528-9492-56aa87c9e97

[2017-09-22 16:08] trishnaguha commented on #30709
@jean-christophe-manciot Can you try this out for nxapi transport? The output format should be specified for nxapi.
[code]
needs_info

[2017-09-22 16:15] s-hertel commented on #30647
I updated your initial comment to have the template as requested by ansibot.

[2017-09-22 16:17] calfonso commented on #30564
@dagwieers fair idea. Reopening.

[2017-09-22 16:20] s-hertel commented on #30647
It looks like the `name` option expects one plugin. http://docs.ansible.com/ansible/latest/jenkins_plugin_module.html

You're passing in a list so name is "['git', 'blueocean']"

You could try:
[code]

[2017-09-22 16:22] jean-christophe-manciot commented on #30709
Running your play (with an existing filename):
[code]
It seems that the module does not change its working environment and tries to send the command to the usual switch CLI instead of the new bash environment.
Switch CLI prompt: <hostname>#
Switch bash prompt: bash-4.2#

The second environment (bash) is attained through the first command passed to the first environment "run bash sudo su".

[2017-09-22 16:25] bobbywatson3 opened #30768 "interfaces_file: need more than 1 value to unpack"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

interfaces_file
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Host: OS X Python 2.7.12
Target: Cumulus Linux 3.1.1
##### SUMMARY

Using the interfaces_file task causes an error: ValueError: need more than 1 value to unpack
##### STEPS TO REPRODUCE

Install ansible 2.4.0, run the example task shown in interfaces_fi

[2017-09-22 16:26] rahushen opened #30769 "nxos_vtp_version : error while getting vtp password for N1 images."
When no vtp password is configured, the module errors out trying to get the vtp password.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_vtp_version
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

On N1 images, when performing 'show vtp password | json' while password is not configured generates a weird message 'output conversion failed due to co

[2017-09-22 16:26] bobbywatson3 commented on #30768
@hryamzik

[2017-09-22 16:54] jtyr commented on #30647
As per the [documentation](http://docs.ansible.com/ansible/latest/jenkins_plugin_module.html), dependencies are not automatically installed if `version:` is specified.

@ansibot please close it as it's `notabug`.

[2017-09-22 17:02] #30647 closed, assigned to nobody

[2017-09-22 17:15] champtar commented on #30641
seems to be already fixed in 2.4 by https://github.com/ansible/ansible/commit/f364d7af8e6134d686e54d65972dc0461e1e3a4a and https://github.com/ansible/ansible/commit/7f6c7c63342bd6d1c23cd9123b30986324ff6dce

[2017-09-22 17:15] #30641 closed, assigned to nobody

[2017-09-22 17:26] nitzmahone commented on #30289
@lmazuel Awesome- that pretty much alleviates the need for the base class to set up the resource clients (we didn't want every module to need to worry about provider registration), so sounds like we can refactor that to get rid of the shared resource clients altogether.

[2017-09-22 17:32] Shrews opened #30771 "Exception in _remove_values_conditions()"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/module_utils/basic.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

standard

##### OS / ENVIRONMENT

Fedora 26

##### SUMMARY

Exception thrown during module.exit_json() when one of the supplied arguments is of os.environ type.

##### STEPS TO REPRODUCE

test_module.py

[code]

Playbook a.yaml:

[code]

##### EXPECTED RESULTS

Wi

[2017-09-22 17:40] abadger commented on #30771
Temporary workaround is to change module code to use ```os.environ.copy()```.  Since htis worked in 2.3.x I'll take a look at what change broke this and if there's a way to fix it for 2.4.1

[2017-09-22 18:08] lathama commented on #24541
I feel this should be closed now.

[2017-09-22 18:15] glasgow commented on #18910
I'm afraid I have to disagree with @dagwieers and @bcoca insofar as the existing workarounds are cumbersome and/or don't meet the requirement as stated in the summary above.

Also, since the whole point of this feature is to empty out a file or directory _while preserving its metadata_, it seems to me that there is really no question about what to do if the object does not exist.  Since there's no

[2017-09-22 18:20] vinigfer commented on #24541
Did not had the chance/time to test this again. I'll close it. Thanks!!

[2017-09-22 18:20] #24541 closed, assigned to nobody

[2017-09-22 18:21] alikins commented on #30575
#30772 should fix this if you want to try it out.

[2017-09-22 18:22] #30623 closed, assigned to alikins

[2017-09-22 18:28] alikins commented on #30600
@shakeme @ykuksenko pr #30723 has a proposed fix for this if y'all want to test it out.

[2017-09-22 18:31] bridavis commented on #3134
I'm seeing this error as well. Is there a fix, and if so, which Ansible version?

[2017-09-22 18:32] alikins commented on #30688
Was the processor_vcpu working in earlier versions (and if so, which versions). Or is this new?

[2017-09-22 18:33] #30688 closed, assigned to nobody

[2017-09-22 18:35] hhsnow opened #30773 "Accessing host variables slow on >= v2.3.1.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
templating, host vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux, controlling linux

##### SUMMARY
Iterating over host vars in versions >= v2.3.1.0 takes a significantly longer time then 2.3.0.0 and earlier.

##### STEPS TO REPRODUCE

[code]
Abbreviated template.j2 (has more vars,etc in reality), with 100+

[2017-09-22 18:35] KarnGusain commented on #11997
issue still persists with the ansible 2.2.1.0? is there no permanent fix yet.

[2017-09-22 18:36] hhsnow commented on #30773
I did try with the patch in https://github.com/ansible/ansible/pull/30587, did not change execution time.

[2017-09-22 18:46] bcoca commented on #30773
that patch is unrelated, it only affects slowdown seen in reading inventory from 2.3.2 to to 2.4, not related to templating nor hostvars during execution.

[2017-09-22 18:47] dimasdanz opened #30774 "Git archive is not working if update is set to no"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running from: Ubuntu 16.04 (Xenial)
Managing: Ubuntu 16.04 (Xenial)

##### SUMMARY

git archive doesn't do anything if update is set to no

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

`build.zip` exists on `/tmp`
##### ACTUAL RESULTS

`build.z

[2017-09-22 19:03] bryanlarsen opened #30775 "cannot terminate ControlPersist connection"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ssh

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04 -> Ubuntu 16.04

##### SUMMARY
I used to use `ansible $target -m setup --ssh-common-args="-O exit" ` to terminate a ControlPersist connection.   This stops working in ansible 2.4

I'm doing this so I can switch ssh agents in a deployment scrip

[2017-09-22 19:31] mtnbikenc commented on #30691
Just ran into this as well.

[2017-09-22 19:36] duck-rh opened #30776 "include_role 'name' parameter overrides role variable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT
The controller is running Debian unstable, the tested targets run Debian Stretch (also tested locally on the controller).

##### SUMMARY
Inside the role I'm using either a variable set in the play or a

[2017-09-22 19:39] bndabbs commented on #30121
@nrwahl2 I just tested your fixed and I can verify that it does work as expected. Thank you for the quick turnaround on this!

[2017-09-22 19:39] #30121 closed, assigned to nobody

[2017-09-22 20:35] mattlan opened #30778 "junos_config commit/rollback not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
forks = 25
host_key_checking = False
remote_tmp = /tmp/${USER}/.ansible/tmp
inventory = ./environments/production
retry_files_enabled = False
filter_plugins = .
callback_whitelist = slack

##### OS / ENVIRONMENT

Control host: Apple macOS 10.12.6 (Sierra)
Remote devic

[2017-09-22 20:37] Qalthos commented on #30632
It looks like NXAPI is the one objecting to the pipe character, does this work with the `cli` provider?

Additionally, if you are set on using NXAPI, I would see if the NXAPI sandbox will let you run the command this way... I would guess not, but I don't know how this bash shell interacts with NXAPI (if at all), and none of our test environments support bash.

If you do get it working in the sandb

[2017-09-22 20:43] shakeme commented on #30600
@alikins It's working but some of the variable from above are vanished. I don't need them, just for information. Thank you.

$ ansible -m setup localhost | grep -E "_os|_distrib"
        "ansible_distribution": "Archlinux",
        "ansible_distribution_major_version": "NA",
        "ansible_distribution_release": "NA",
        "ansible_distribution_version": "NA",
        "ansible_os_family": "Ar

[2017-09-22 20:49] cameronurnes opened #30780 "git clone fails using HEAD as version after commit 99ef1f3a"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
git module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Tested in both OSX 10.12.6 and Ubuntu 16.04

##### SUMMARY
Deploy using HEAD as the version in the git module fails, appears to be trying to check it out as a branch instead.  Relevant change is in this commit:
 https://github.com/ansible/ansible/commit/

[2017-09-22 21:08] nitzmahone commented on #19825
Yeah, there are several reasons to do this, not the least of which is that we'll soon likely be supporting "non port" connections for Windows (eg docker, awsrun). My primary complaint with that approach is the extra delay around long connection timeouts, but we've since lowered the defaults, and if someone really wanted to, they could override the connection timeout just for the reboot task. We co

[2017-09-22 21:45] abadger commented on #30755
Sure.  Always helpful to have more information.  The upstream bug does say
they are applying the patch to the next version of python-2.7.x so it seems
like the errors could potentially be there too... we've jsut never seen it
for some reason or another.

[2017-09-22 22:02] bcoca commented on #19086
I would just use this https://github.com/ansible/awx/blob/devel/awx/plugins/library/scan_packages.py

[2017-09-22 22:26] jhawkesworth commented on #30766
Do you have SP1 installed on your S2008r2 host? - I notice that that particular KB is for SP1
https://support.microsoft.com/en-nz/help/4038777/windows-7-update-kb4038777

Is the hotfix file ok?  Is it possible to unpack it manually using wusa.exe?

[2017-09-22 22:27] ykuksenko commented on #30600
Not sure if you want me to confirm or not. I got the same results as @shakeme
ansible -m setup generic | grep -E "_os|_distrib":
[code]
ansible --version
[code]

[2017-09-22 23:05] #30624 closed, assigned to bcoca

[2017-09-22 23:10] coolcps commented on #28479
Figured out this was happening due to a modification I made to the network_cli.py in order to get some other stuff working.  I need to figure out how to have that module differentiate an action to take based on the ssh port the device is using, so as to not have it interfere with devices using the default port.

[2017-09-22 23:18] nitzmahone commented on #30617
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-09-22 23:18] #30617 closed, assigned to nobody

[2017-09-22 23:31] bcoca commented on #30534
closed via #30587

[2017-09-22 23:31] #30534 closed, assigned to nobody

[2017-09-22 23:49] jaxzin opened #30784 "win_chocolatey, support source username and password"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_chocolatey

##### SUMMARY
Chocolatey supports sources that require authentication. The module `win_chocolatey` currently doesn't have a way to pass `--user` and `--password` [options](https://github.com/chocolatey/choco/wiki/CommandsInstall#options-and-switches) to `choco install`.

[2017-09-23 00:44] SudoBasher commented on #30636
uggg. just ran into this on all my ubuntu nodes after they auto updated themselves to ansible 2.4, and it appears to be occuring with python 2.7.

[code]

[2017-09-23 00:46] SudoBasher commented on #30663
@abadger , i could be misinterpreting my environment config, but i think this also might be occuring with python 2.7 and ansible 2.4 during ansible-pull execution. see my comment here: https://github.com/ansible/ansible/issues/30636

let me know what you think.

[2017-09-23 01:48] abadger commented on #30663
@SudoBasher  Different.  That one could not find the yaml inventory file.  This one finds the inventory file but then discards it because it was unable to match the filename extension.

[2017-09-23 02:17] ghost commented on #19718
Hello Tim,

Just to confirm there are no other lingering issues I end up configuring a
new LT using Debian 4.9 running Python 2.7.13. I installed Ansible and
bigsuds. Also, I am able to run ansible -m ping command with no errors, but
the problem persist while trying to utilize bigip_facts module

ansible ping working as configured, see below

root@ghar-chrome-linux:~/Documents/ansible/playbooks# a

[2017-09-23 02:26] caphrim007 commented on #19718
@tashafan do you have any authorization configured on your bigip that is **not** basic auth? Like radius or ldap auth?

[2017-09-23 02:44] bcoca commented on #30636
@SudoBasher your is just a warning, seems similar but unrelated as the original issue is the error:

`ERROR! Could not find a playbook to run`

[2017-09-23 02:53] bcoca commented on #30636
@roumano I can reproduce the issue, it is probably related to the inventory changes

[2017-09-23 03:02] gomex opened #30786 "os_stack don't show the correct description error msg"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - os_stack

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Linux RJDVP000683 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u3 (2017-08-06) x86_64 GNU/Linux

##### SUMMARY
When I use a parameters constraints and I use a bad value, the answer should be the **description** of constrains, but I got:

fatal: [localhost]: FAILED

[2017-09-23 03:51] strangeman commented on #30603
@mscherer thank you, I created an issue in WSL repository, let's look what they say.

[2017-09-23 05:02] nik786 commented on #30647
@s-hertel

where following variable item need to be defined

name: "{{ item }}"

[2017-09-23 05:07] nik786 commented on #30647
Im testing it with ansible molecule .

 "msg": "Unsupported parameters for (jenkins_plugin) module: with_items. Supported parameters include: attributes,backup,content,delimiter,directory_mode,follow,force,force_basic_auth,group,http_agent,jenkins_home,mode,name,owner,params,regexp,remote_src,selevel,serole,setype,seuser,src,state,timeout,unsafe_writes,updates_expiration,updates_url,url,url_passwo

[2017-09-23 06:59] pyrotimux opened #30790 "win_chocolatey throwing package chocolatey is not installed error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Fedora 25

##### SUMMARY
Keep getting error Package 'chocolatey' is not installed, you cannot upgrade. The targeted machines have choco installed and playbook worked with ansible 2.2.x version.

##### STEPS TO REPRODUCE
Run the playbook below.

playbook:

[code]

##### EXPECTED

[2017-09-23 07:54] ashemedai commented on #30760
@s-hertel Same user remotely as I use locally using SSH keys to log in and sudo for any jobs.

[2017-09-23 11:25] allo- opened #30797 "file module fails for state=directory when the path is a link to a directory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
debian stretch

##### SUMMARY
After the upgrade from debian jessie to debian stretch, ansible fails for the line

    file: state=directory path=/var/www/folder

when /var/www/folder is a symlink to a folder

##### STEPS TO REPRODUCE

- create /var/www/folder-dir
- create a symlink /var/

[2017-09-23 11:29] cocampbe commented on #29715
I supplied the code to fix this, but ansibot complained. If you search my history, you can see the code change.

[2017-09-23 12:19] tharanga-abeyseela opened #30798 "with_sequence gives a random order"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

  -  with_sequence
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

3.10.0-514.6.2.el7.x86_64
##### SUMMARY

This is my playbook.

---
- hosts: all
  tasks:
  - name: sequence check
    debug:
      msg: "sequence is {{ item }}"
    with_sequence: start=1 end=5

I'm expecting the order 1,2,3,4,5  in order , but this

[2017-09-23 13:57] towolf commented on #30519
https://www.reddit.com/r/ansible/comments/71nusw/24_much_slower_than_23/

[2017-09-23 15:34] jhawkesworth commented on #30765
Does the playbook fail consistently at the same point?
If so, is it possible your installer in interrupting the network connection.
If this is a random failure which is not reproducable on demand you might find that increasing timeouts will help.

From this page: http://docs.ansible.com/ansible/latest/intro_windows.html

`ansible_winrm_operation_timeout_sec:` Increase the default timeout for WinRM

[2017-09-23 17:46] ghost opened #30800 "ec2_instance_facts dont show "tags""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_instance_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_CALLBACK_WHITELIST(/etc/ansible/ansible.cfg) = ['profile_tasks']
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
Manjaro 17

##### SUMMARY
ec2_remote_facts deliver the instan

[2017-09-23 19:09] robinro commented on #30780
@cameronurnes I can't reproduce this.
Please provide a minimal working example that can be run by anyone (public repos, ...).
This works for me:
`ansible -c local -e 'commit_hash=HEAD' -m git -a 'repo=git@github.com:github/debug-repo dest=/tmp/foo version={{commit_hash}}' localhost`

Does this happen when you hardcode `HEAD` instead of using the variable? Are you sure the variable is set correctly

[2017-09-23 19:23] reenlam opened #30802 "Cannot enter into privileged mode using Eos Network modules in 'eapi' transport mode if 'enable secret' is set on remote Arista switches"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- eos_config
- eos_command

##### ANSIBLE VERSION

[code]
Tested also on ansible 2.5.0 and 2.3.2

##### CONFIGURATION

VOID (didn't change anything)

##### OS / ENVIRONMENT

Ansible host:
Ubuntu 17.04

Controlled Arista Switches:
Arista vEOS 4.18.1F (Aboot-veos-8.0.0-3255441)
Arista vEOS 4.15.9M (Aboot-veos-8.0.0-3255441)

Switches are virtual

[2017-09-23 19:25] jtyr commented on #30647
@nik786 Make sure you have the correct indentation. The `with_item` must be on the task level, not on the plugin level:

[code]

[2017-09-23 19:31] robinro opened #30803 "Git module broken for systems using zsh"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION
devel
introduced by #29069 in  f8005d2

##### CONFIGURATION

##### OS / ENVIRONMENT
debian with zsh on target

##### SUMMARY
Any action of git using ssh fails.

##### STEPS TO REPRODUCE
`ansible -c local -m git -a 'repo=git@github.com:github/debug-repo dest=/tmp/foo' localhost -vvvv`

##### EXPECTED RESULTS
Successful

[2017-09-23 19:33] robinro commented on #30803
I'd recommend to revert f8005d2, since it doesn't fix the original bug reported in #27699 for many systems. `GIT_SSH_COMMAND` is only available on newer git versions.

[2017-09-23 19:40] robinro commented on #30803
Instead of writing the wrapper, one can also construct the full ssh command and pass that into `GIT_SSH_COMMAND`. There is no need for a shell if `ssh` is called directly.

[2017-09-23 20:58] #13931 closed, assigned to nobody

[2017-09-23 22:01] cameronurnes commented on #30780
We are certain the variable is set correctly, and it worked for a year before the change to the git module in that commit.

I was able to consistently trigger it with the new version of the module, and then have it work consistently if I took the latest version and reverted just that one line's changes.

On Monday, I will do some more testing to see under which exact circumstances it triggers the

[2017-09-23 23:45] sanjeevrg473 commented on #30765
@jhawkesworth Yes its failing at the last step. First task inside the playbook is to copy ZIP file to wndows server, unzip it and then run the core installer and later Clean up TEMP;
During the installation I see folders being created.. But it fails at installation step..

I did increase values mentioned by you before.. But even after changing the values its not making any impact..

ansible_winrm_

[2017-09-24 01:18] fengchen8 opened #30806 "Ansible 2.4.0 complains "NameError: global name 'botocore' is not defined" in cloudwatchevent_rule module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
AWS cloudwatchevent_rule

##### ANSIBLE VERSION
2.4.0.0

After installing 2.4, creating CloudWatch Rules had this error message.
[code]
Tried Ansible 2.5.0, same result.

Looking cloudwatchevent_rule.py,

118 try:
119     import boto3.exception
120     import botocore.exceptions
121 except ImportError:
122     # module_utils.ec2.HAS_BOTO3 will d

[2017-09-24 01:35] andremarianiello commented on #18142
I believe this behavior is correct (but unexpected) because of YAML's many different multiline string variations. Specifically, '>' preserves the newline at the end, but '>-' does not preserve it, thus using '>-' instead fixed this issue for me. You can read more about this 'block comping indicator' at http://yaml-multiline.info/.

[2017-09-24 04:36] nrwahl2 commented on #30798
I can't reproduce. Any configuration changes or plugin file changes on your machine?

Your `msg` parameter should be indented but I don't see how that would be related to the issue you're facing.

[code]

[2017-09-24 06:10] tharanga-abeyseela commented on #30798
following is my config

[root@localhost ansible-2]# ansible-playbook -i web01, loop.yaml

PLAY [all] ****************************************************************************************************************************

TASK [Gathering Facts] ****************************************************************************************************************
ok: [web01]

TASK [checking loop] ***

[2017-09-24 06:23] tharanga-abeyseela commented on #30798
[root@localhost ansible-2]# ansible-playbook --version
	ansible-playbook 2.3.2.0
	  config file = /etc/ansible/ansible.cfg
	  configured module search path = Default w/o overrides
	  python version = 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC 4.8.5 20150623 (Red Hat 4.8.5-11)]
	[root@localhost ansible-2]# cat loop.yaml
	---
	- hosts: all
	  connection: local
	  tasks:
	  - name: checking loop
		d

[2017-09-24 12:18] Akasurde commented on #21152
Can someone please close this as PR is merged ?

[2017-09-24 12:23] Akasurde commented on #25863
@diboanches Could you please check with #26285 and let us know if it works for you ?

[2017-09-24 12:25] Akasurde commented on #25863
resolved_by_pr #26285

[2017-09-24 12:33] sparunakian commented on #30623
Thank you for the fix, it works fine now on devel! Are your requests in https://github.com/ansible/ansible/issues/30623#issuecomment-330904957 still required? I did not have time to do that before, but I can do it now.

[2017-09-24 13:59] garbled1 commented on #11948
So, I really need this functionality somehow, and I have a few thoughts on how to do it.

1) We give an argument to end_play, that sets the ansible exit code?

2) We have a special section in a playbook, similar to how blocks work, which is always run.  Like a final act.  Perhaps we could even pass the failure/changed/ok/fatal counts of the nodes in the play to it as a dict.  So a play explodes du

[2017-09-24 14:14] karlmdavis opened #30814 "The ldap_attr module fails to set indexed attribute (olcAccess)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
The new `ldap_attr` module.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
The management system is Ubuntu 14.04, the host being managed is Ubuntu 16.04. Both running Python 2.7.

##### SUMMARY
I've been using the `ldap_attr` module for over a year now, and have always had trouble getting it to work with multiv

[2017-09-24 14:34] ghost commented on #30600
Same issue here. The space added between "Arch" and "Linux" breaks lots of modules.
[code]

The content of **/etc/os-release**:
[code]
The Ansible version (installed from the Arch Linux repositories):
[code]

[2017-09-24 15:01] agnellodsouza commented on #26336
Am having the same problem , below is my piece of code .

root@ansible-control-mach1:/opt/ansible/playbooks# ansible --version
ansible 2.4.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bi

[2017-09-24 15:23] garbled1 commented on #30566
I have a fix for this.  will test and submit this week.

[2017-09-24 16:02] admirabilis commented on #17273
From what I could gather, sometimes a SSH process is left behind with an open socket on *~/.ansible.cfg/cp/*, after running `ansible-playbook`. When you run ansible-playbook again, it hangs on the "Gathering Facts" stage.

The solution is to kill the process, by either killing its PID or removing the socket. Since I have a shell script that runs *ansible-galaxy* and *ansible-playbook*, my solution

[2017-09-24 16:32] jhawkesworth commented on #30765
@ganjihalsanjeev - if the installer interrupts the network connection, then I think the most likely thing that might work is to use a scheduled task to run the installer.
Depending on your playbook you might need to schedule the task, then pause for a while before continuing your playbook.  You might want to use the wait_for_connection module to check that there is a winrm connection available bef

[2017-09-24 17:58] gintautassulskus opened #30816 "Loop iterator iterates both sequentially and in parallel."
##### ISSUE TYPE

 - Bug Report
OR
 - Feature Idea AND Documentation Report

Depends.

##### COMPONENT NAME

Loop _with_indexed_items_.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A
##### SUMMARY

Loop with_indexed_items performs both sequential and parallel runs when loop's data sets across nodes are not identical but partially overlap, e.g.: dataset for node

[2017-09-24 18:48] jean-christophe-manciot commented on #30632
@Qalthos
With ssh transport, I get:
1) **ansible 2.4.0.0**
[code]
although manual ssh into the target is fine:
[code]
2) **ansible unstable 2.5.0** (devel 8d56064ce4) last updated 2017/09/24 20:34:05 (GMT +200)
[code]
**Your workaround has worked, bravo** :-)

Regarding the sandbox, I tested it with simple commands which work.
But the first ```run bash sudo su``` makes the browser loops indefinite

[2017-09-24 18:54] dj4ngo commented on #30754
Hi,

I can't reproduce it using Ubuntu 16.04 and Ubuntu 14.04.
I tested with theses ansible versions :
ansible 2.5.0 (devel 8d56064ce4) last updated 2017/09/24 20:36:40 (GMT +200)
ansible 2.2.1.0 (latest ansible version packaged by Ubuntu 17.04)

For me your issue is not in ansible code but seems to be in your environment. Did you try to do it manually on managed host ?

[2017-09-24 19:00] jctanner opened #30818 "vmware_guest: vim.vm.device.VirtualDeviceSpec.FileOperation' object is not callable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
[code]

[2017-09-24 20:44] jtyr commented on #30814
Thanks for opening this issue. I will look into it as soon as I have some time.

[2017-09-24 20:56] sophie-h commented on #27905
Thanks! Merging the XML comparison mechanism sounds great!

I have some arguments pro- and contra for some of the domain parameters
as module arguments. I will try to write them up in the next days. Maybe
it makes sense to keep the issue description up to date for such things.

It would be also important to check how our design decisions would fit
for the other virt modules. I haven't done anythin

[2017-09-24 21:38] gamename opened #30820 "ec2_lc Does not delete a launch configuration"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_lc

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY
A simple ec2_lc_find followed by a simple ec2_lc to delete a launch configuration does not work.  The Auto-scaling group (ASG) was already deleted, so there wasn't anything blocking the deletion.  In addition, the task executed with an "OK" return even though no

[2017-09-24 22:00] africanzoe opened #30821 "[unarchive module] Unable to find file in expected paths error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

The "[unarchive](http://docs.ansible.com/ansible/latest/unarchive_module.html)" module.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

The default Ansible configuration.

##### OS / ENVIRONMENT

Centos & Redhat 7.2/7.3/7.4

##### SUMMARY

When using the unarchive module, the playbook fails with the following error:
[code]

##### STEPS TO

[2017-09-24 23:19] willthames commented on #30800
duplicate_of #30645

[2017-09-24 23:19] #30800 closed, assigned to nobody

[2017-09-24 23:57] #17695 closed, assigned to nobody

[2017-09-25 00:46] jjahns commented on #30636
@roumano I reproduced this as well. Tested in a virtualenv as well as using packages, so its not tied to Python version.

I installed Ansible 2.3.2.0 in the virtualenv and the same ansible-pull command works. For now until update, I'm locking on 2.3.2.0 (which is what I pulled down from pip).

By the way, tested both Py3 and Py2.7.12

[2017-09-25 00:49] ralphie02 commented on #16259
@tjbaker I tried your workaround but it doesnt seem to work on debian with google auth
In my `.ssh/config` I added this:
[code]
and then on my ansible config, I added this
[code]
I logged into my remote host and kept the session open and then tried to run my ansible playbook to provision the remote host but I still get this error:
[code]
Anyone know what I'm missing here?

EDIT:

Got it working by

[2017-09-25 01:39] willthames commented on #30362
The new return skeleton generator is very handy for fixing docs

Run ec2 module using `hacking/test-module`, `ansible` or `ansible-playbook` (the latter needs `-vv`)

Run `hacking/return_skeleton_generator.py` and paste the results from the above task

[2017-09-25 01:39] willthames commented on #30362
needs_contributor

[2017-09-25 02:07] willthames commented on #30820
`lc_name` is an array above. I suspect the code ends up checking that no LC called `['tennis-test4-minion-lc-20170919154309']` exists, when it should be checking that no LC called `tennis-test4-minion-lc-20170919154309` exists.

This is probably a bug in our parameter handling, but not a bug in the `ec2_lc` module itself.

[2017-09-25 04:13] willthames commented on #30642
needs_info

[2017-09-25 04:31] willthames commented on #30325
needs_info

I don't really understand specifically what you're trying to do. This gets you a list of *all* server certificates - they have to be indexed somehow, it doesn't (at first glance) seem to be that important whether it's indexed by key (here the certificate name) or by a number (as per an array).

[2017-09-25 04:34] willthames commented on #30240
Pretty sure this will be won't fix - we want to simplify the `ec2` module, not make it bigger.

To tag the volumes, obtain the volumes to tag from the `ec2` module results, and then use `ec2_vol` to tag those volumes.

cc @ryansb

[2017-09-25 05:20] sihanwang41 opened #30824 "read_vault_password_file is still used in 2.4"
https://github.com/ansible/ansible/blob/c27248db6026d929dcb564170413403c97465534/lib/ansible/cli/inventory.py#L125

i can't find read_vault_password_file function in the 2.4 code, but i find it is still being used, any hints?

Thanks

Sihan

[2017-09-25 07:02] rhpvorderman commented on #30751
Thank you @bcoca for this information! This solves my problem completely. I will have a look at the user list if problems like this arise in the future.
Thanks very much!

[2017-09-25 07:02] #30751 closed, assigned to nobody

[2017-09-25 07:13] JohnVonNeumann commented on #30325
@willthames I'm trying to get information about the certificates I have. I understand that they need to be indexed somehow. I have to disagree with you in regards to it not being important how it's indexed. I think that other fact checking modules return in a predictable fashion, always indexed by number, I don't understand why this should be any different. There should be consistency across all t

[2017-09-25 07:53] dagwieers commented on #30765
@ganjihalsanjeev If you feel adventurous but want to help fixing this for good, please test out my patch at: https://github.com/diyan/pywinrm/pull/174

And provide feedback.

[2017-09-25 08:37] jaegerbane commented on #15297
I've no idea if anyone figured this out but when I hit this issue, it turned out that `sudoers` hasn't been updated to give my ansible user passwordless sudo access to the relevant commands. Once I updated it worked fine.

[2017-09-25 08:43] pujan14 opened #30827 "apache2_module fails for php5"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apache2_module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

Most probably this part of code is the issue.
ansible 2.3.2
[code]
ansible 2.4.0
[code]

[2017-09-25 08:53] jhawkesworth commented on #30790
That's odd.  What version of chocolatey is installed?
I wonder if its an older version than the module expects.
A possible workaround might be to uninstall the current version (as the module will automatically install chocolatey if it is not present when the module is used.

needs_info

[2017-09-25 09:06] mentholi commented on #21094
I have this same problem. Is there any other workaround than just listing all hundred ports? :/

[2017-09-25 09:25] vladimirtiukhtin opened #30829 "lookup from file function cuts new line at the end of file"
##### ISSUE TYPE
 Bug Report
##### COMPONENT NAME
lookups http://docs.ansible.com/ansible/latest/playbooks_lookups.html
##### ANSIBLE VERSION

[code]
##### STEPS TO REPRODUCE
create file with any content and take sure there is a new line character at the end of the file, then create an statement like this:
[code]
##### EXPECTED RESULTS
lookup function takes file as it is with all characters, space

[2017-09-25 09:43] jhawkesworth commented on #30784
If this can't be done via the 'params' module parameter, its a nice idea.

needs_contributor

[2017-09-25 09:47] rdeknijf opened #30831 "iptables config failing in 2.4"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
iptables

##### ANSIBLE VERSION
###### 2.4:
ansible 2.4.0.0 (detached HEAD d14467b029) last updated 2017/09/25 10:28:51 (GMT +200)
  config file = /home/rdeknijf/projects/kieskeurig/openvpn/ansible.cfg
  configured module search path = [u'/home/rdeknijf/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module locati

[2017-09-25 10:28] stewartwebb opened #30833 "HaProxy drain mode 'bool' object is not callable error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
HaProxy Module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
`ansible-config dump --only-changed` returned nothing. I have changed no config.

##### OS / ENVIRONMENT
Running from OSX 10.10.5
Trying to control HaProxy 1.5.8 on Debian 8

##### SUMMARY
I am able to enable and disable HaProxy backends correctly but when I try to use the "drain

[2017-09-25 11:19] willthames commented on #30357
An alternative solution would be to use the ipsubnet filter (which needs the netaddr python library, installable through `pip install netaddr`:

[code]

http://docs.ansible.com/ansible/latest/playbooks_filters_ipaddr.html#ip-address-conversion

[2017-09-25 11:19] #30357 closed, assigned to nobody

[2017-09-25 11:35] themr0c opened #30835 "redis module: new feature, support sentinel mode"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

redis

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

non relevant

##### OS / ENVIRONMENT

non relevant

##### SUMMARY

It would be a nice feature to support the configuration of redis sentinel with the redis module.

It would be particularly convenient for nodes which are supposed to run only a redis-sentinel, but no redis service.

Do y

[2017-09-25 11:42] tace commented on #29870
Hit his in RedHat and ansible 2.3.2.0

[2017-09-25 11:56] themr0c commented on #30835
Description updated, is it acceptable like this @ansibot ?

[2017-09-25 12:22] ghost opened #30836 "ios_command: Broken stdout_lines behavior between Ansible 2.3 and 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Ansible Core/Cisco ios_command module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes to ansible.cfg

##### OS / ENVIRONMENT

Ubuntu 17.04

##### SUMMARY

It appears that the second task in my playbook is not parsing the stdout_lines data structure correctly from the first task. I'm attempting to "grep" the results from the f

[2017-09-25 12:29] jlandersen opened #30837 "win_dotnet_ngen error "An error occurred while creating the pipeline""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Windows module "win_dotnet_ngen"

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(empty)

##### OS / ENVIRONMENT
MacOS Sierra

##### SUMMARY
When running our playbook for a windows server, we use the module win_dotnet_ngen.
After upgrading to ansible 2.4.0.0 we get the error listed below.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESU

[2017-09-25 12:39] jtyr commented on #29870
@tace Thanks for reporting this. To better understand what's going on, I would like to ask you to provide me with some more information:

1) Unmount all bind mounts and then store the content of `/proc/self/mountinfo` into a file.
2) Run Ansible to mount the bind mount and then store the content of `/proc/self/mountinfo` into an another file.
3) Run Ansible again and then store the content of `/pr

[2017-09-25 13:21] bcoca commented on #30816
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

There are 2 main loops in Ansible, the `hosts:` loop (runs in parallel by default) and the `with_` loop which is sequential. When runni

[2017-09-25 13:21] #30816 closed, assigned to nobody

[2017-09-25 13:24] #30818 closed, assigned to nobody

[2017-09-25 13:26] bcoca commented on #30798
duplicate of #21008, it is not the loop order, it is the 'result display order' that is sometimes affected when the machine is loaded, fixed by #28111

[2017-09-25 13:26] #30798 closed, assigned to nobody

[2017-09-25 13:41] andrewhowdencom commented on #20638
So, I released a role with this configured correctly: https://github.com/sitewards/ansible-role-lets-encrypt

The goal is to be drag an drop across a number of servers. It might work for you!

[2017-09-25 13:58] dagwieers commented on #30603
This is the location where "none" is added:

https://github.com/shemminger/iproute2/blob/master/ip/iproute.c#L329-L334

So it seems related to the environment, I wonder if the WSL abstraction layer is doing something different with their networking stack compared to real Linux kernels.

[2017-09-25 14:11] edgardmota opened #30843 "Assert module always returning "All assertions passed""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
assert module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
- Running from CentOS Linux release 7.2.1511 (Core)  to manage Microsoft Windows 7 Professional Service Pack 1;
- Running from CentOS Linux release 7.2.1511 (Core)  to manage CentOS Linux release 7.2.1511 (Core).

##### SUMMARY
Any assertion is ***always

[2017-09-25 14:13] promaty commented on #26227
@jimi-c, please add a way to handle unreachable errors, this would help immensely (either through meta method or something else).

[2017-09-25 14:25] rahushen opened #30846 "nxos_vpc* : failures seen on N1 images"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_vpc
- nxos_vpc_interface

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

`show running-config section vpc` is an invalid command on N1 images. The correct command is `show running-config vpc` which works on all tested platforms.

 ##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL

[2017-09-25 14:29] mikewiebe commented on #30632
@Qalthos You are correct that nxapi is rejecting the pipe character.  Later versions of nxapi now support a `type: bash` in the request message to make sure commands like this execute in the proper context.

Here is an example using the nxapi sandbox.

**Request:**
[code]

**Response:**
[code]

We would need to update `module_utils/nxos.py` to support this type but it would be limited to nxos imag

[2017-09-25 14:32] pdev77 opened #30848 "ansible mount module doesn't check if fstab and present mount options differ"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mount module

##### ANSIBLE VERSION
[code]
&
[code]
##### CONFIGURATION
[privilege_escalation]
become=True
#become_method=sudo
become_user=root
#become_ask_pass=False

[ssh_connection]
scp_if_ssh = True

##### OS / ENVIRONMENT
RHEL6/7

##### SUMMARY
mount module does not check presently mounted options (ie /etc/fstab is correct but someone has r

[2017-09-25 14:32] alikins commented on #30824
read_vault_password_file has been removed in 2.4.

The code in inventory.py only uses read_vault_password_file if run on version <2.4 (by checking for the CLI._play_prereqs attr). For 2.4, CLI.setup_vault_secrets() is used. (The if/else that starts around line 112)

[2017-09-25 14:32] #30824 closed, assigned to nobody

[2017-09-25 14:41] childnode opened #30852 "docker_container - If container can't be stopped, another handling is needed for state `absent`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloud/docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing special, just deactivated moo

##### OS / ENVIRONMENT
CentOS

##### SUMMARY
docker_container with state absent fails if container can't be stopped

https://github.com/ansible/ansible/blob/43e0a0369b388e146625e1821d9d6cfb40e482dc/lib/ansible/modules/cloud/docker/doc

[2017-09-25 14:44] alikins commented on #30829
The file lookup plugin does a .rstrip() on the file contents it reads from the file read from the file, which will remove a trailing newlines. The docs don't mention it, but that has been the behavior since at least 2.0.0.

For your case, you may need to re-append the trailing new line.

[2017-09-25 14:49] bcoca commented on #30744
sorry about the mess, i wrote the docs based on the roadmap .. not on the implementation, PR above should correct it.

[2017-09-25 14:52] tmarble opened #30855 "yaml inventory plugin ignores files w/o extension"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ubuntu Xenial

##### SUMMARY
The fix for #30663 merged into **devel** as 72bdf7a does not seem to resolve the issue for me.

##### STEPS TO REPRODUCE

Update ansible to **devel** via pip3:

[code]

inventory.yml

[code]
`# ANSIBLE_DEBUG=1 ansible local -i in

[2017-09-25 14:56] alikins commented on #30775
Could you provide example output with the '-vvvvv' verbose output from the case that fails?

Are ssh retries enabled? (is ssh_connection.retries changed in ansible.cfg?)

I'm curious if commit 9f0be5a5569495a705b4cca94b48a6a8c7437896 changed this behavior.

[2017-09-25 15:00] edgardmota opened #30860 "win_msg module: Error when size of 'msg' parameter > 255"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_msg module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
- Running from CentOS Linux release 7.2.1511 (Core)  to manage Microsoft Windows 7 Professional Service Pack 1;

##### SUMMARY
An error is returned when parameter ```msg``` has more than 255 characters.

##### STEPS TO REPRODUCE
On the ad-hoc mode, you

[2017-09-25 15:02] bcoca commented on #24794
marking as dupe of #/27520, which was created later, but does diagnose the base issue.

[2017-09-25 15:02] #24794 closed, assigned to bcoca

[2017-09-25 15:03] bcoca commented on #30775
probably related to #27520

[2017-09-25 15:10] ashemedai commented on #30755
OK, got some data points. This system I am using was tracking sid for a while and recently I set it to buster. The Python 2.7 package I still have installed is 2.7.13-4 from sid. According to http://metadata.ftp-master.debian.org/changelogs/main/p/python2.7/python2.7_2.7.14-2_changelog the 2.7.13-4 synced with Python 2.7's repository.

Did some more digging and in Python 2.7.14, which got released

[2017-09-25 15:10] #30755 closed, assigned to nobody

[2017-09-25 15:18] tonnelj opened #30863 "Try to update azure_rm_securitygroup : source_address_prefix"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`azure_rm_securitygroup`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.3

Steps of the Ansible installation
[code]

##### SUMMARY

Hello,

When I try to update network security group rules for Azure, in fact the option **source_address_prefix**, the value updated in the YML is not updated in Azure. Howeve

[2017-09-25 15:20] jhawkesworth commented on #30860
Good catch.  Just reproduced on S2012R2.
First impression is that this is a limitation in the msg.exe
If so it should be straightforward to catch this in the module code.
I will put in a PR to catch this error condition , unless anyone else would like to.

Jon

[2017-09-25 15:31] SudoBasher commented on #30636
plunked around with this more, and yes, the preceding `git clone` operation gets things started, then ansible-pull will start working correctly. after the `git clone` is done, i can change the branch sha to whatever i want, and it will download the correct github repo rev.

however, if there is no actual repo already existing on the local node where you point your `ansible-pull` target to download

[2017-09-25 15:41] dagwieers commented on #30860
@jhawkesworth Could we add a test to check if all platforms actually have this limitation ? So test a string longer than 256, then check if it fails and fail if it doesn't :-) So that in case this limitation is gone in Windows 2016, we know to lift the limitation in the module.

[2017-09-25 15:44] jjahns commented on #30636
@SudoBasher That information is good to know. Thanks for posting it. I'm not sure how feasible this will be for our deployment, but helpful that we have a workaround to the problem now.

[2017-09-25 15:47] SudoBasher commented on #30636
@jjahns i'd be willing to guide you through how to manage it. our infrastructure is spanning multiple continents and we only use ansible-pull. if you need to shoot me a PM, feel free.

[2017-09-25 15:50] jjahns commented on #30636
@SudoBasher Thanks. It sounds straightforward, so not too concerned.

[2017-09-25 15:55] UnitedMarsupials-zz opened #30864 "Explain, which condition is False, when skipping a task"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Executor

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`# ansible-config dump --only-changed | wc`
       1       0       1

##### OS / ENVIRONMENT

N/A

##### SUMMARY
When a task is skipped because of the `when`-condition(s), it would be extremely helpful, if Ansible cited the condition. Especially, when there are more than one...

#

[2017-09-25 16:24] UnitedMarsupials-zz commented on #30864
Ok, looking into the code, I see, that the current "Conditional result was False" message is generated in `task_executor.py` when the task's `evaluate_conditional` method returns `False`. The executor does not know, which condition was not satisfied...

The `evaluate_conditional` method (in `conditional.py`) needs to be modified to return the text of (or the order-number) of the failed condition a

[2017-09-25 16:25] #24213 closed, assigned to nobody

[2017-09-25 16:27] NBardelot opened #30866 "[shell module] Cannot source file containing standard input redirection"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
shell

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
RHEL7/CentOS7

##### SUMMARY
I think there is a side-effect when using the standard input redirect `<` in conjonction with the `source` directive.

##### STEPS TO REPRODUCE

Task :

[code]

And some files:

[code]

[code]

[code]

##### EXPECTED RESULTS

Both tasks should work without an

[2017-09-25 16:32] NBardelot commented on #30866
Please not that while this is a strange bug, for a strange use of the `source` directive, anyone having the same issue can use the following workaround (it worked for me at least):

[code]

Edit:

We changed our workaround to generate a temporary Shell file and source that file, then `rm` it.

[2017-09-25 16:44] bcoca commented on #30855
can you please specify the error you are seeing?

[2017-09-25 16:50] sivel commented on #30866
Can you please provide the actual output from that playbook, using -vvv

needs_info

I am guessing that the problem is invoking `/bin/sh` as the shell, and getting an error similar to:

[code]

Which indicates that the `executable` being used does not support your syntax.

[2017-09-25 16:54] alikins commented on #30864
https://github.com/ansible/ansible/pull/24254 was a proposed implementation of this.

[2017-09-25 17:00] vladimirtiukhtin commented on #30829
Thanks for your explanation @alikins. Any ideas how to add news line in lookup from file?

[2017-09-25 17:13] alikins commented on #30843
I can't reproduce this.

with stable-2.3:

[code]

And with a simpler assert conditional:

[code]

with version 2.3.2.0
[code]

[2017-09-25 17:24] alikins commented on #30803
pinging @bcoca (via https://github.com/ansible/ansible/commit/f8005d27379c4d67bc86cf6af83ba1b1823bb10f)

[2017-09-25 17:25] hadrien-toma opened #30867 "Subdependencies don't update, event when their parent dependencies in `requirements.yml` update"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- requirements.yml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Defaults

##### OS / ENVIRONMENT
* Ubuntu 16.04 64 bits

##### SUMMARY
When a dependency in the requirements.yml has changed, a re-run of `ansible-galaxy install -p ./plays/roles -r requirements.yml` will trigger its update. However, its dependencies are not updated and are l

[2017-09-25 17:26] tmarble commented on #30855
@boca hmmm it turns out that `inventory.yml` is OK, but using my `/etc/ansible/hosts` file which has an `ansible_user` key fails.  When run with ANSIBLE_DEBUG=1 the only detail given is `/etc/ansible/hosts did not meet yaml requirements`:

[code]

[2017-09-25 17:30] sebastiendarocha commented on #30831
Hello,

Policy is not what you want: it applies to the whole chain.

Source '-s' applies to your rule, so it only applies in append/delete/insert.

I think you want to use the 'jump : ACCEPT' instead of policy.

In 2.3, it ignored the policy parameter and used the default action "append' (I don't  know why)

[2017-09-25 17:36] alikins commented on #30848
@pdev77 Could you test this ansible 2.4.0?  There are a handful of fixes in 2.4 for the mount module that could potentially be related (though I don't see anything that specifically mentions this issue)

[2017-09-25 17:38] tmarble commented on #30855
@boca OK this bug seems to be specific to Python3 and the YAML format for Inventory WHEN the **ansible_user** key is set. Switching to *.ini format seems to be a workaround:

[code]

[2017-09-25 17:38] alikins commented on #30803
@bcoca has a pr at https://github.com/ansible/ansible/pull/30850

[2017-09-25 17:46] alikins commented on #30867
pinging @bcoca

[2017-09-25 17:51] alikins commented on #30833
pinging @drmrd

[2017-09-25 18:01] kromanow94 commented on #30698
Sorry for delay.
The logs are here:
https://gist.github.com/krzysztofromanowski94/8fa06a2335147e37fcae6a009fe17e30
I did also find this to be kind of relative to https://github.com/ansible/ansible/issues/22319

[2017-09-25 18:06] calfonso commented on #30797
@allo- We just released 2.4. Our support model covers the current release and current-1. So, 2.2 isn't supported. Will you please test on the latest release and let us know if you still see an issue. If you do, please provide more information, such as the output with -vvv. Please post the exact errors output by the task, thank you!

[2017-09-25 18:20] itdependsnetworks commented on #29012
I believe the way this is expected is:
[code]

[2017-09-25 18:27] itdependsnetworks commented on #30479
@bcoca

Jinja:
[code]
vars:
`fail: test`

[code]

This fix seems to be in this closed PR: https://github.com/ansible/ansible/pull/21672

Do not see a reason to not implement 21672. I think you would be able to close a dozen issues or so if you added this in.

[2017-09-25 18:30] winstonsimon opened #30870 "Does Ansible Support AWS NLB?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
feature
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
AWS

##### SUMMARY
How do we configure AWS new NLB? Do you have any documentation for this?

##### STEPS TO REPRODUCE
Refer: http://docs.aws.amazon.com/elasticloadbalancing/latest/network/introduction.html

##### EXPECTED RESULTS
Ansible should provide a feature to create AWS NLB

#

[2017-09-25 18:33] pfremm opened #30871 "Breaking changes in minor revisions of ansible"
As an example I see include in 2.8 is scheduled to be deprecated.
http://docs.ansible.com/ansible/latest/include_module.html

Why are breaking changes being done in minor revisions of ansible?  Normally minor revisions should not result in breaking changes as an industry standard.  This is very troublesome behavior.

Does ansible have a versioning strategy published?

[2017-09-25 18:34] goiaba opened #30872 "xml module: Omit variable not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
xml module

##### ANSIBLE VERSION
2.4.0.0

##### CONFIGURATION
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/inventories']
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log
DEFAULT_NO_LOG(/etc/ansible/ansible.cfg) = False
DEFAULT_NO_TARGET_SYSLOG(/etc/ansible/ansible.cfg) = False
DEFAULT_ROLES_PATH(/etc/ansible/an

[2017-09-25 18:34] sivel commented on #30871
Ansible does not follow strict symver.  X.Y are not considered minor versions.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-09-25 18:34] #30871 closed, assigned to nobody

[2017-09-25 18:36] calfonso commented on #30628
cc @dharmabumstead should this be picked into the 2.3 docs?

[2017-09-25 18:41] alikins commented on #30600
@shakeme

[code]

As far as I know, this is expected for Arch. If there is a good way to get useful info there, a pr to add it would be great.

[2017-09-25 18:41] abadger commented on #30637
It looks like either #30750  or #30702 will fix this issue.  @s-hertel @mlouielu could one of you review the other and we'll decide which to merge?

[2017-09-25 18:48] calfonso commented on #30570
@srosenf Please try this with 2.4 and let us know if it's still an issue. Thanks!

[2017-09-25 18:52] s-hertel commented on #30870
Ansible doesn't have a module yet for this feature. There is a request for it here: #30701. I'm going to close this ticket since the other was opened first so we can track the progress in one location.

duplicate_of: #30701

[2017-09-25 18:54] #30506 closed, assigned to nobody

[2017-09-25 18:55] #30870 closed, assigned to nobody

[2017-09-25 18:55] calfonso commented on #30500
cc @Jmainguy would you like to be listed as the maintainer for this?

[2017-09-25 18:58] kevensen commented on #30628
@calfonso I don't think so, though I could be wrong.  The OC module was introduced in 2.4 and not available in 2.3.

[2017-09-25 19:00] #30600 closed, assigned to nobody

[2017-09-25 19:05] bcoca commented on #30479
@itdependsnetworks  totally unrelated issue, PR was closed cause author found issue with it's correctness.

[2017-09-25 19:07] alikins commented on #30600
Fixed in stable-2.4 in 2149d1092bb6bbff9874258d975c21a7e89939e0

[2017-09-25 19:08] bcoca commented on #30855
@tmarble, I'm still waiting or an actual error or an example of what is not working, all you have shown me is either a warning (which seem correct) or a normal debug statement.

[2017-09-25 19:09] mkrish004c opened #30873 "ovirt_vms to support custom VM UUID"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
ovirt_vms

##### ANSIBLE VERSION
Ansible 2.3
Ovirtsdk4.0.0

##### OS / ENVIRONMENT
RHEL 7.3

##### SUMMARY
RHEV 4.0 is allowed to create a VM with Custom UUID via administrator GUI.
[RHEV4.0_vm_guide](https://access.redhat.com/documentation/en-us/red_hat_virtualization/4.0/html/virtual_machine_management_guide/appe-Reference_Settings_in_Admin

[2017-09-25 19:10] bcoca commented on #30843
@alikins, understandable as it is a gathered facts, that adhoc command would only work with persistent caching enabled.

@edgardmota  which is why there is a section for 'configuration' above, which should have shown you are using a persistent cache plugin.

[2017-09-25 19:19] edgardmota commented on #30843
Performing some further tests, It seems to me that the issue is related to the space between the equal sign of the parameter ```that``` and the condition. Trying the simpler sugestion of @alikins with and without that space gave me different outputs:

***Without the space:***
[code]

***With the space:***
[code]
Could anyone reproduce such behaviour?

[2017-09-25 19:22] bcoca commented on #30843
the space is probably registering the whole thing as a string vs an expression .. strings evaluate as True.

[2017-09-25 19:26] abadger opened #30874 "jenkins_plugin "params" argument is insecure"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/web_infrastructure/jenkins_plugin.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

It was noticed that using the jenkins_plugin with username and password would log the password on the remote host.  After some digging I discovered that in addition to the normal url_userna

[2017-09-25 19:38] tmarble commented on #30855
@bcoca I have tried to characterize what is not working as `/etc/ansible/hosts` in YAML format fails with "No hosts matched, nothing to do".

The warning "Failed to parse /etc/ansible/hosts with ini plugin" may be correct and even expected when parsing an inventory in YAML format, *however* the detailed debug string
[code]
provides a hint of a FAILURE of `ansible/plugins/inventory/yaml.py` to prop

[2017-09-25 19:44] mkrish004c commented on #30515
@machacekondra , is it possible to attach disk at the time of creating a VM with template via GUI ? the 'instance image' field at the GUI is disabled in RHEV 4.0

if i attach secondary disk when the creation is in progress, it says
[code]

[2017-09-25 19:50] sivel commented on #30855
So, what you are saying, is that `/etc/ansible/hosts` is a YAML inventory, and it isn't picked up as being a YAML inventory.

Whereas if you specify `inventory.yml` which has the same contents as `/etc/ansible/hosts`, everything works fine.

[2017-09-25 19:51] tmarble commented on #30855
@sivel that is correct. If this is indeed the bug it should be easy to reproduce.

[2017-09-25 19:56] drmrd commented on #30833
@alikins Thanks for the heads up. I'll look into it.

[2017-09-25 19:59] nrwahl2 commented on #30864
Why was it dropped?

[2017-09-25 20:02] kakurpiel commented on #23263
This is still an issue in 2.4 using the new save_when option:
    "msg": "timeout trying to send command: copy running-config startup-config",

Using the now-deprecated save option in 2.3.2.0 did work as there was the extra '\r' after 'copy running-config startup-config'

[2017-09-25 20:05] znerol opened #30876 "Return value of `container_command` ignored"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/lxc/lxc_container.py

##### ANSIBLE VERSION
N/A

##### SUMMARY
A command executed using the `container_command` parameter of `lxc_container` module always succeeds, even if the command returns a non-zero status code.

https://github.com/ansible/ansible/blob/25e17b40353995f211b9e2c704adf36d326792e2/lib/ansible/modules/cloud

[2017-09-25 20:06] edgardmota commented on #30843
Got it, @bcoca. However, that's still odd and unexpected. Look what happens when this space is placed between the ```msg``` parameter and its value:

[code]

Why ansible perfoms so differently in such similar situations? As reported earlier, even hosts which are down are passing all assertions and that doesn't seem right.

[2017-09-25 20:08] winstonsimon commented on #30701
When can we expect this new module?

[2017-09-25 20:09] AlanCoding opened #30877 "New ansible-inventory option to return variables at group level"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`ansible-inventory` CLI, found at https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/inventory.py

##### ANSIBLE VERSION
2.4 or 2.5

##### CONFIGURATION
Any, functionality of output should be consistent with any valid Ansible configurations.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`ansible-inventory` will return all variables at

[2017-09-25 20:12] alan-czajkowski commented on #24319
definitely need this 👍 ran into this issue running Ansible scripts for Elasticsearch: elastic/ansible-elasticsearch#321

[2017-09-25 20:29] hjudt opened #30878 "Cannot use ansible-vault encrypt together with vault_identity_list in ~/.ansible.cfg"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-vault encrypt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_SSH_PIPELINING(/home/user/.ansible.cfg) = True
DEFAULT_VAULT_IDENTITY_LIST(/home/user/.ansible.cfg) = ['prod@/home/user/ansible/vault/prod', 'test@/home/user/ansible/vault/test', 'dev@/home/user/ansible/vault/dev', 'staging@/home/user/ansible/vault/staging']

#####

[2017-09-25 20:36] coltsixshooter commented on #30327
Ran into the same problem with 2.4 and found that the Cluster option is not returning the correct hosts in the cluster. It returned a host that did not have that datastore. Changed to use esxi_hostname and it worked. I need to put in a bug report on just this issue.

[2017-09-25 20:55] UnitedMarsupials-zz commented on #30864
@alikins, it seemed in your patch (#24254) the conditions would keep on evaluating (so as to report the result) even after one of them results in `False`. That would not be right -- and could break things in some cases. Consider:
[code]
When the first condition is false, trying to evaluate the second will be an _error_... Also, some evaluations may have side-effects...

[2017-09-25 20:59] coltsixshooter opened #30879 "vmware_guest - Cluster option stopped working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

ansible 2.4.0.0
  config file = /Users/xxxx/.ansible.cfg
  configured module search path = [u'/Users/xxxx/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /Library/Python/2.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python ver

[2017-09-25 21:15] IPvSean opened #30880 "nxos_banner failing on Ansible 2.5 (dev branch)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_banner

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
nxos_banner does not seem to work on 2.5.  There is an issue where it does `show banner exec\r\r\n` where it should probably be `show banner motd` (command does not exist on NXOSv.

##### STEPS TO REPRODUCE
[code]

Playbook is here

[2017-09-25 21:18] alikins commented on #30753
hmm, I was pretty sure this was related to ordering of collected facts (what #30777 addresses)
but now I wonder if service_mgr is just using the wrong fact names (without the 'ansible_' prefix)
(See https://github.com/ansible/ansible/compare/devel...alikins:test_svc_mgr for a potential change
to fix)

[2017-09-25 21:28] mikewiebe commented on #30880
@seanx820 You are correct that the `exec` option is not supported on the version of software that you are running, but it is supported on Nexus 7k image variants.  The module supports both platforms with and without the `exec` option.  Can you try changing your playbook to the following and see if that works better?

[code]

Choices documented here:  https://github.com/ansible/ansible/blob/devel/l

[2017-09-25 21:34] nilsfr opened #30882 "Tasks in an 'include_tasks' are not run when specifying tags (unlike the deprecated include)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible/lib/ansible/playbook/block.py

##### ANSIBLE VERSION
[code]
##### SUMMARY
The difference between 'include' and 'include_tags' is in this line:
https://github.com/ansible/ansible/blob/25e17b40353995f211b9e2c704adf36d326792e2/lib/ansible/playbook/block.py#L353

Is this intentional?

In the project I am working on we are relying on the use

[2017-09-25 21:44] IPvSean commented on #30880
ugh the `banner: motd` was it how did i miss that.  Is it possible to do change the error or add something so it is like:

[code]

I should have caught this.. but I imagine others will make this silly mistake as well.

[2017-09-25 21:48] wvidana commented on #30691
Yes, upgraded hoping this would be fixed on 2.4, no luck.

[2017-09-25 21:48] nilsfr commented on #30882
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible/lib/ansible/playbook/block.py

##### ANSIBLE VERSION
[code]

[2017-09-25 21:52] cameronurnes commented on #30780
Ok, I have narrowed down the circumstances in which this bug can be triggered.

First, deploy (to a clean directory) an older commit than the current HEAD, (or add a new commit to a previously deployed repo before doing step two):

`ansible -c local -e 'commit_hash=0ecdd40c50d4bcdfd4d2a09448a6d01089dc182a' -m git -a 'repo=git@github.com:github/debug-repo dest=/tmp/foo version={{commit_hash}}' loca

[2017-09-25 22:13] cameronurnes commented on #30780
Also verified that the above steps work fine in 2.3, but not 2.4

[2017-09-25 22:45] sm4rk0 commented on #30872
This is not a bug.
`default(omit)` would work as you expected only if the complete argument's value is replaced by "omit token". In your case, only the value of the key-value pair is omitted (ie. replaced by the omit token). So, you'd need something like this:

    add_children: '{{ a_variable | default(omit) }}'

This means that a_variable should be a list.

In your case I would try with this:
[c

[2017-09-25 22:56] basictheprogram opened #30893 "Random output of "sudo -H -S -n""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Core?

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Management host: macOS
Managed host: Windows 7

##### SUMMARY

Looks like debug code made it into devel and the become logic displays,
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Not to display sudo -H -S -n

##### ACTUAL RESULTS

[code]

[2017-09-25 22:58] strangeman commented on #30603
WSL developers confirmed then that's the bug.

On пн, 25 сент. 2017 г., 23:59 Dag Wieers <notifications@github.com> wrote:

--
Маркелов Антон

[2017-09-25 23:14] k-ogawa-1988 commented on #30500
@calfonso @Jmainguy  Yes.

[2017-09-25 23:36] ralphie02 commented on #14248
I was having the same issue as everyone else here and thought this might be a solution, as it works for me.
[code]
In my situation, I needed multiple sets of attributes for multiple nginx configurations that is served in a single server, `host_1`. Instead of putting ALL of my attributes in a dictionary inside default/main.yml, I thought of inserting them into a single server directory spread out i

[2017-09-25 23:37] gintautassulskus commented on #30816
Thanks, @bcoca for the explanation.

In regards to `import_`, it cannot be used with loops.

I am not sure though that what I see in my given example is consistent with your explanation.
Yes, both hosts are run in parallel, but Ansible tends to synchronise a run on each step/task unless it is used with `serial/run_once`.

In this particular example, the run type (parallel or sequential) is determi

[2017-09-25 23:42] mscherer commented on #30603
It should indeed return a netlink message with unicast type instead of none.

Now, technically, our parsing is also incorrect since it would fail if the default route is unreachable (since the line would have "unreachable" as the first word), but I am still not sure this can done, I will try to do a test later this week on what happen.

[2017-09-25 23:46] ju2wheels commented on #14248
@ralphie02 no, thats not anywhere near a solution to what this thread is about. That is just normal host based variables which is different from the requirement of setting defaults for a multi platform role.

[2017-09-26 00:09] bcoca commented on #30816
import + loops behaves like static includes, the loop is inherited by the tasks included.

when dynamic, the include does depend on the data, both hosts 'run' in parallel, but one host does 'noop' tasks per task of the other hosts' tasks, unless the tasks are the same for all hosts.

[2017-09-26 00:32] cameronurnes opened #30899 "EC2 ASG deploy fails "until" loop if current ASG size is 1 instance"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_asg module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OSX 12, Ubuntu 16.04

##### SUMMARY
After this change: https://github.com/ansible/ansible/commit/eb4cc31ae579bd87f7b7f0e309180518f315ad20#diff-da91568af8631cf0905f8dd43410a4d3

The task is no longer able to update an ASG whose current size is one machine.

[2017-09-26 01:36] abadger commented on #30874
Changed the documentation and also raised an error if params has url_password.  I think that will take care of the security aspect of the bug.  We can remove the param field in devel to finish off this ticket.

[2017-09-26 01:50] willthames opened #30901 "add_host no longer preserves inventory_dir"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
add_host

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
With 2.4 and beyond, ansible no longer preserves `inventory_dir` for `add_host`.

Although my problem with this is specific to `inventory_dir`, and can be worked around with adding `inventory_dir: "{{ inventory_dir }}"` to the `add_host`, i

[2017-09-26 02:23] shahaan commented on #22249
I can confirm that this Bug persists with version 2.3.2.0
`fatal: [rcgpudc1rh31-16-1g.erc.monash.edu.au]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "ageingtime": "300",
            "arp_interval": null,
            "arp_ip_target": null,
            "autoconnect": null,
            "conn_name": "bond0",
            "dns4": null,

[2017-09-26 02:27] shahaan commented on #22249
I can confirm that this Bug persists with
ansible 2.3.2.0

[code]

[2017-09-26 02:28] shahaan commented on #22249
I can confirm this Bug with: ansible 2.3.2.0

[code]

[2017-09-26 02:49] bcoca commented on #30901
not related to add_host, inventory_dir used to be a global, now it is a hostvar, as it needs to vary 'per inventory source' . I have PR to porting guide to make a  note of this.

[2017-09-26 03:14] bcoca commented on #30843
The issue is mostly the x3 conversions you go through in Adhoc, bash, k=v parser and Jinja2, this can create weird results with conditionals, but conditionals were never really meant to work with adhoc. Since you cannot use `when` clauses with adhoc,   no one has seen this before, probably  because fail/assert also make little sense with adhoc.

[2017-09-26 03:17] willthames commented on #30901
But can't add_host inherit it from global settings? The problem is, all of the rest of the hosts have inventory_dir *except* for those added through add_host.

[2017-09-26 03:42] bcoca commented on #30901
that is the point, it is not global anymore, if you have 2 or 4 inventory sources, which dir should i use?

`- i /path1/to/hosts.yml -i /path2/from/hosts.ini`

currently i'm leaning to set it to the playbook path

[2017-09-26 03:50] willthames opened #30903 "Speedup inventory breaks include_role over with_items"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
include_role combined with with_items no longer works after the inventory speedup #30587

##### STEPS TO REPRODUCE

playbook:
[code]

inventory file:
[code]

To see the working version (it's not needed for the failure)
[code]

##### EXP

[2017-09-26 03:56] booch commented on #29329
I'd suggest a `state: query` option to perform a query without making any changes. If possible, we could default the `state` to `present` if no `value` is provided.

[2017-09-26 04:06] willthames commented on #30901
For `add_host`, inventory_dir could be the inventory_dir of the calling task, which is how I'm working around it.

To be honest, I might just be using inventory_dir in a weird way - for me it's simply "give me a fairly fixed anchor point within my repo" - as playbooks might be at more than one level, and roles at a different level again - so saying where other files are in the repo requires some k

[2017-09-26 04:43] wpietruszewski commented on #30901
This problem also affects version 2.4. A workaround is to pass inventor_dir as a argument to add_host
[code]

[2017-09-26 05:19] willthames commented on #30325
Are you saying the certificate *name* is a secret? Most things can be passed as variables.

I still don't understand what you're trying to do and what is difficult as a result of the current structure. Do you have a use case that you could provide as an example showing how the results would be more useful indexed by number rather than by name?

I think that indexing by name can be more useful than

[2017-09-26 05:44] jdoss commented on #26673
I like this idea. While the the yum_repository module can add the repo without much trouble, finding the repo URL on copr is difficult to figure out at first glance. It would be user friendly to just be able to call the dnf module to enable copr since it is a dnf plugin.

Otherwise you end up like me who is just going to call the command module to install the copr repos I need. Which then produces

[2017-09-26 05:52] ptux commented on #14131
doing this!

[2017-09-26 06:31] pjnagel commented on #30693
@mscherer

~$ cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=10.04
DISTRIB_CODENAME=lucid
DISTRIB_DESCRIPTION="Ubuntu 10.04.4 LTS"

[2017-09-26 07:38] Hakulaku commented on #29012
@itdependsnetworks That indeed works.

However, throwing an error due to the parent missing seems rather radical to me. The check, if "thisisatest" is undefined, is true. You cannot deny that.

Creating a huge when statement to catch all parents seems unworkable to me and not user friendly. Because there can be huge trees.

[2017-09-26 07:39] vmindru commented on #21619
@mkrizek man i think this one has to be closed.

1) i really don't have time to care of this in near couple of weeks
2) that yum module needs a lot of attention and fixes as there are "workarounds" other "workarounds"
my last attempt to pull a bigger fix was not welcomed with a good reason, the team prefers small incremental changes rather than one big one.
3) Chalanges to keep it compatible with

[2017-09-26 07:52] arbabnazar commented on #30882
@nilsfr can you please try `import_tasks` instead of `include_tasks`, I think that's the limitation of the `include_tasks` and it's mentioned somewhere in the docs.

[2017-09-26 07:59] nilsfr commented on #30882
I use it in a loop, so I cannot use import_tasks. I also tried to tag the loop with 'always', but then all the tasks inside was run regardless of their tags.

Example:
[code]

[2017-09-26 08:04] Deepakkothandan commented on #30701
@s-hertell @wimnat  As the NLB is api compatible with ALB, I was able to add support for NLB with minimal modifications to the existing application lb module. Please review the above PR and let me know if any changes are still required,

[2017-09-26 08:26] arbabnazar commented on #30882
@nilsfr you didn't mentioned about the loop in your issue report. You can read about the `include_tasks` and tags [here](https://docs.ansible.com/ansible/devel/playbooks_reuse.html#tradeoffs-and-pitfalls-between-includes-and-imports)

[2017-09-26 08:40] nilsfr commented on #30882
The way I read the documentation it says that tags added to an import_tasks will be added to all tasks that are imported, but tags added to an include_tasks will only apply to the task itself. I cannot read from this that the whole include_tasks should be skipped if itself to not have the required tag. It should look into the imported file and dynamically check each task for the tag, that is if it

[2017-09-26 10:04] vad commented on #30636
same here, we're locking ansible to 2.3.2 :cry:

[2017-09-26 10:54] gintautassulskus commented on #30816
I have a couple of comments/questions regarding iterations **over host-specific** data:

1.  Is there a reason to use 'noop' when data differs across the hosts?
'noop' eliminates the advantage of parallel processing and adds dual behaviour (some task parallel, some - not). I have a case where this behaviour breaks the 'run'.

2. The iterator does not iterate over the data in a consistent manner. P

[2017-09-26 10:59] daBONDi opened #30911 "WinRM Connectionplugin falls back to defaults when an ignored templating error exists in hostvars"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module/plugin/connection/winrm.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Host: Ubuntu 16.04.2
Target: Server 2016

##### SUMMARY
When a host_var file exists with content of

[code]

**winrm.py has an empty hostvars object, so all connection settings are missing on processing**

##### STEPS TO REPRODUCE

[2017-09-26 11:04] pdev77 commented on #30848
Confirmed on
[code]
and ansible-2.3.2.0-1.el6.noarch

[2017-09-26 11:34] vaibhavsood opened #30915 "ppc64le dockerhub images"
Hi, I'm looking to enable docker containers for packages like ansible for multiple architectures on dockerhub, starting off with a focus on ppc64le. Wanted to check on the work that will be involved to do that

I have locally been able to successfully test ppc64le changes to the dockerfiles in this repo - changes for enabling additional arch would be minimum.

Would like to know how a multi-arch i

[2017-09-26 12:09] s-hertel commented on #29501
@Tomino2112 Hi, what version of Ansible are you using?

[2017-09-26 12:19] amarao opened #30919 "Include_role cause with_items to use other hosts variables"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
forks=16 (the rest is unchanged)

##### OS / ENVIRONMENT
Ubuntu 17.10

##### SUMMARY
When role is included inside role with with_items loop it uses variables from one host as variables for other host. (See example below).

##### STEPS TO REPRODUCE
cat inventory:
[code]

cat host_var

[2017-09-26 12:32] amarao commented on #30919
Update: this bug affects ansible 2.3, but 2.4.0.0 works as expected.

[2017-09-26 12:44] #30509 closed, assigned to nobody

[2017-09-26 12:47] tshefi commented on #30634
Hit the same issue

# Upload Cirros to Glance
    - name: Upload Cirros image to Glance
      vars:
        ansible_python_interpreter: "/home/stack/.pansible/bin/python"
      os_image:
        name: cirros
        container_format: bare
        disk_format: qcow2
        state: present
        filename: /home/stack/cirros.img
        #is_public  -> how to enable is public?

fatal: [localhost]: F

[2017-09-26 12:51] oridgar opened #30923 "os_image does not include "tag" parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_image

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default configuration

##### OS / ENVIRONMENT

N/A

##### SUMMARY

when running os_image module, there isn't an option to add a tag to an image.
when running the command through openstack CLI the option is available.
I did not find any other way to tag an image through ansible excep

[2017-09-26 13:09] AlanCoding opened #30924 "ansible-inventory returns unexpected host variable `ansible_inventory_sources`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`ansible-inventory` CLI, found at https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/inventory.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
(no output)

##### OS / ENVIRONMENT
OS you are running Ansible from: Mac
OS you are managing: None

##### SUMMARY
Output of `ansible-inventory` has an extra unexpected hostvar (`a

[2017-09-26 13:21] aelmehra commented on #30766
@jhawkesworth I do have SP1 installed on the server. Also when I run the update locally using wusa.exe it installs just fine with no errors.

[2017-09-26 13:40] apple4ever commented on #26521
@ronator They changed the autoclean vs autoremove issue in 2.4: http://docs.ansible.com/ansible/latest/apt_module.html

This issue has been bugging me too. I'm going to see if I can fix it.

[2017-09-26 13:43] kedarkekan commented on #30880
@seanx820  Currently error is printed as-is from the response while failing the task. The run_commands method does not send back the error message to module.

To create a module specific error messages (unlike "Invalid command" in this case), error responses has to be fed back to module; and module creates a descriptive failure message for task.

@privateip at present run_commands does not send ba

[2017-09-26 13:44] prabhakarsultane opened #30925 "I want to call two json group variable at time on two different hosts"
Hi,

I have define variable in below json format and i have two hosts as one is database and another one is webserver so want to execute two json group on two different host through ansible, json group will be dyanmic. so can anybody help if it is possible.

Json:
[code]

Ansible:

[code]

[2017-09-26 13:49] vikwin commented on #30893
This is caused by these two lines in /lib/ansible/playbook/play_context.py at line number ~536:
[code]

These seem to be forgotten debug lines, they should be safe to remove.

[2017-09-26 13:53] itdependsnetworks commented on #29012
I deny nothing :)
I do not work for ansible, just trying to help.
However, my expectation is ansible will not change this.

[2017-09-26 14:07] hadrien-toma commented on #21285
This also happens with Ansible `2.5.0`. Moreover, this error does not seem to increase the failure counter.

[2017-09-26 14:09] gilcot commented on #30609
I have the same issue here

- Ansible 2.4.0.0
- Debian wheezy
- Python 2.7.3

My inventories files also ends with `.cfg` but in my `/etc/ansible/ansible.cfg` I have the following (and it used to work): `inventory_ignore_extensions = ~,.bak,.ini,.md,.orig,.pyc,.pyo,.retry,.rst,.wiki,template`
My inventory files are grouped in a directory with file named template. This later is read now but shouldn'

[2017-09-26 14:11] machacekondra commented on #30515
@mkrish004c It's possible only with `Blank` template. Not with any template containing disks, but still this should work in Ansible..

In GUI you need to simply wait until all VMs disks are in `OK` state.

[2017-09-26 14:11] Nosmoht opened #30929 "Fact ansible_mounts does not exist if facter facts are excluded"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_GATHER_SUBSET(/home/tkrahn/workspace/ansible/ansible.cfg) = !facter

##### OS / ENVIRONMENT

##### SUMMARY

If facter facts are not gathered fact _ansible_mounts_ does not exist.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Fact _ansible_mounts_ is provided

#####

[2017-09-26 14:14] alikins commented on #30603
since https://github.com/ansible/ansible/issues/30603#issuecomment-331889398 makes it look like a 'valid' output for 'ip', adding support for it it in get_default_interfaces() seems reasonable.

Maybe use 'ip -d -4 route get 8.8.8.8' for both, so the linux-on-linux case includes the route / rtm_type as well?

[code]

[2017-09-26 14:14] apple4ever commented on #26521
Actually, I can't reproduce this in 2.4. Kernels are properly removed now. Can anybody else confirm?

I'm guessing it was fixed when the split for the autoclean vs autoremove was implemented.

[2017-09-26 14:15] #30893 closed, assigned to bcoca

[2017-09-26 14:18] garbled1 commented on #27312
Can we document this behaviour?

[2017-09-26 14:24] charlottevarley opened #30931 "Unable to load localhost into the hostvars dictionary to create a virtual machine in azure using ansible 2.4.0.0"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION

ansible 2.4.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']

##### SUMMARY

We have been using an ansible playbook to create virtual machines in Azure which we have had working in ansible version

[2017-09-26 14:44] bryanlarsen commented on #30775
The "failure" is a case of unexpected success (aka I expect line 2 of my repro to fail but it succeeds on 2.4), so I'm not sure -vvvvv will help, but I'll append it anyways.

ssh_connection.retries is unchanged.   I used the cool new `ansible-config dump --only-changed` so I presume it would show up there if I inadvertantly changed it.

I was unaware of reset_connection; I'll keep an eye on #27520

[2017-09-26 14:44] pmkuny opened #30933 "yum module will not confirm already installed group packages."
https://github.com/ansible/ansible/labels/module

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### SUMMARY

Ansible fails with an error message when trying to install a package group, citing that it doesn't exist. However, on the target machine, checking the group with the package manager sh

[2017-09-26 14:50] bcoca commented on #30933
cc @berenddeschouwer @verm666 @mkrizek

[2017-09-26 14:58] pmkuny commented on #30933
Note that I manually removed the `virt-install` package on the target host and re-ran the playbook with no errors. Below is the output. While the run is reporting a changed state and not throwing errors, it's not installing the `Virtualization Host` group package either, just `virt-install`

I can manually SSH to the target host and run `yum groupinstall "Virtualization Host"` and it will install

[2017-09-26 15:12] rdeknijf commented on #30831
@sebastiendarocha Thanks you so much!
The task was taken from [kyl191/ansible-role-openvpn](https://github.com/kyl191/ansible-role-openvpn), I've submitted a PR there to correct this.

[2017-09-26 15:12] #30831 closed, assigned to nobody

[2017-09-26 15:17] mkrizek commented on #30933
@pmkuny Thanks for the bugreport, I am working on a fix. As a temporary workaround, would using the group "Virtualization" do the job?

[2017-09-26 15:22] pmkuny commented on #30933
Running with `"@Virtualization` gives the same output from Ansible, but in this case I can confirm on the target host that the "Virtualization" group doesn't actually exist:
[code]

[2017-09-26 15:25] mkrizek commented on #30933
@pmkuny oh, just noticed that "Virtualization" is only available in the EPEL repo.

[2017-09-26 15:32] pmkuny commented on #30933
@mkrizek Thanks. After installing epel-release, output is successful, is this a packaging problem on my end instead of the yum module? `@Virtualization Host` was working on 2.3 on this same machine, and I'm not modifying any other packages.
[code]

[2017-09-26 15:34] mkrizek commented on #30933
@pmkuny No, this seems like a bug in the yum module. Hopefully the "epel workaround" will suffice for you until this is fixed :)

[2017-09-26 15:35] bcoca commented on #30903
... wrong deserialization, should be host names ..

[2017-09-26 15:35] pmkuny commented on #30933
@mkrizek No worries, just a testing system. :) Let me know if I can provide anything else to help

[2017-09-26 15:39] DavidWittman commented on #30636
In my case, ansible-pull was failing because I'm referencing an inventory file which exists _after_ the git clone operation, and this caused it to run without passing any inventory at all. This particular code path does not behave as the comment above it indicates:

https://github.com/ansible/ansible/blob/8f97aef1a365cbbbb822d6d09f96af17a076b295/lib/ansible/cli/pull.py#L156-L166

[2017-09-26 15:54] clarkst commented on #30639
I'd really like to see this module added too.

shdobxr are you working on adding it ?

[2017-09-26 15:56] bcoca commented on #30855
the yaml plugin requires a yaml extension

[2017-09-26 16:03] dan-osms commented on #30639
To be completely honest I haven't taken a swipe at building modules for ansible. I am no Dev guy by trade, but I get by.

I am a security arch guy, assisting my company in building out secure infra they can use. My work around is basically the following. (Disclaimer, I will not be held liable for someone running this and getting a bill. Suing me etc. you have been warned ) Sorry had to put this ou

[2017-09-26 16:11] richard-scott commented on #19825
The only fix I have is to use the [vagrant-reload](https://github.com/aidanns/vagrant-reload), [vagrant-triggers](https://github.com/emyl/vagrant-triggers), and [vagrant-host-shell](https://github.com/phinze/vagrant-host-shell) plugins.

[code]

I then add the following to my Vagrantfile when I need a reboot:

[code]

I ended up splitting up my playbooks by tagging tasks. You can tag a task with "

[2017-09-26 16:27] bcoca commented on #30636
pull itself is not the one failing, it is `ansible` (called by pull) when being asked to do the git checkout:
i.e, my hostname 'erebos'
```EXEC: /home/bcoca/work/ansible/bin/ansible  -c local  -vvvvv -m git -a "name=https://github.com/bcoca/configme.git dest=/var/tmp/test depth=1" all -l "localhost,erebos,erebos.briancoca.com,127.0.0.1"   ```

which 'should work'TM .. as localhost IS available and

[2017-09-26 16:27] smalleni commented on #30719
+1, seeing this even with Ansible 2.3 on RHEL 7.3
 This prevents any configuration in the ini files where JSON value is expected. The standard JSON spec expects double quotes, so we need to preserve them failing which OpenStack specific config files are affected when trying to automate procedures such as https://docs.openstack.org/nova/pike/admin/pci-passthrough.html

[2017-09-26 16:28] #30575 closed, assigned to alikins

[2017-09-26 16:30] yogo1212 opened #30937 "shell"
- Bug Report

shell output

[code]

no config

arch linux

##### SUMMARY
Either registering or using the return value of a shell command (e.g. `cat /etc/os-release | gzip -c`) changes the content.

##### STEPS TO REPRODUCE
In /tmp, `manual.tgz` is created by running `tar -c /etc/os-release /etc/gemrc | gzip -c` in a shell.
The playbook below does the same with `ansible.tgz`
A subsequent `tar -tvvf

[2017-09-26 16:32] sivel commented on #30937
Typically speaking, modules cannot deal with binary data supplied to an argument, due to how ansible JSON encodes that data later to be inserted into a python file.

You should instead write things out to a file, and then copy with a `src` parameter.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.goog

[2017-09-26 16:32] #30937 closed, assigned to nobody

[2017-09-26 16:33] alikins commented on #30575
Cherry-picked to stable-2.4 in 042079aa8776254aa6c8c52da1aa9da23b57a736 (chery-pick of a14d0f3586617f678b2843a25b521243a99cd589 from https://github.com/ansible/ansible/issues/30772)

[2017-09-26 16:41] yogo1212 commented on #30937
That seems like an excuse not to fix to me :-/

JSON is perfectly capable of storing all kinds of data as a string.

Although I agree that, for this example, a file is better suited, there is no reason why ansible should accept this kind of data without throwing an error and silently alter it .

[2017-09-26 16:47] #30806 closed, assigned to nobody

[2017-09-26 16:50] bcoca commented on #30636
So PR above fixes my test cases, please confirm

[2017-09-26 17:09] codyja opened #30940 "Azure module for Managed Images"
It would be greate if a module for Azure could be writting to interact with Managed Images. Currently, Azure supports two methonds for interacting with images. 1. Images from the Marketplace that someone else builds and maintains. 2. Managed Images that I'm responsible for building and maintaining, and appling custom packages.

Could a module be written to interact with Managed Images? The CLI arg

[2017-09-26 17:13] IPvSean opened #30941 "nxos_snmp_user documented auth should be authentication"
##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
nxos_snmp_user_module
http://docs.ansible.com/ansible/latest/nxos_snmp_user_module.html
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[root@localhost ~]# ansible-config dump --only-changed
DEFAULT_GATHERING(/root/ansible.cfg) = explicit
DEFAULT_HOST_LIST(/root/ansible.cfg) = [u'/root/hosts']
HOST_KEY_CHECKING(/root/ansible.cfg) = Fa

[2017-09-26 17:20] s-hertel commented on #30678
Support for ec2_parameters was adding for 2.4 in 38a5033b487c094bc114c81fe34e23b5aa44b847.

[2017-09-26 17:20] #30678 closed, assigned to nobody

[2017-09-26 18:11] tace commented on #29870
@jtyr Here's the files content https://pastebin.com/kMKAisBY

[2017-09-26 18:19] vlcinsky opened #30943 "ansible-galaxy list -p roles lists local roles plus shows help string"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default configuration, --only-changed has empty output.

##### OS / ENVIRONMENT
Ubuntu 16.04 64 bit

##### SUMMARY
The command ```ansible-galaxy list -p roles``` outputs list of roles in the roles directory PLUS help string PLUS complains about missing directory:

[code]

[2017-09-26 18:27] benapetr commented on #30411
Hi, it's connecting max to 10 hosts at same time, this is config:

[code]

I managed to find a "block of hosts" that contain the one which is probably causing this hang, so I am now removing more and more hosts from that temporary file with hope to identify the one that causes this.

My rough guess is that it maybe hangs on DNS query? It's possible that one of these hosts doesn't exist and misconf

[2017-09-26 18:37] travis-bear commented on #21513
2.4.0 Ansible release still seems to have slow copy -- is this specific bug still a thing?

[2017-09-26 18:39] #30598 closed, assigned to nobody

[2017-09-26 18:44] mator commented on #14563
solaris 11.3 sparc , ansible 2.2.1 installed from OpenCSW, can't reproduce

[code]

[2017-09-26 18:51] gtirloni opened #30944 ""dict object has no attribute" with default() filter"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
default() filter

##### ANSIBLE VERSION
2.4.0.0

##### OS / ENVIRONMENT
Fedora 26

##### SUMMARY
default() fails with "dict object has no attribute" error if variable does not exist.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
`mydict.nonexistent.a` is set to 'undefined'

##### ACTUAL RESULTS
[code]

[2017-09-26 18:56] sivel commented on #30944
The default filter only works 1 level deep.  You will need to apply it at each level that may be undefined.

One example:
[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-09-26 18:56] #30944 closed, assigned to nobody

[2017-09-26 18:59] gtirloni commented on #30944
It looks a bit like a hack and the error message is not very useful. If default() could capture AnsibleUndefinedVariable error, that would be super useful.

Thanks for the workaround, I'll be using that moving forward.

[2017-09-26 19:07] gtirloni commented on #30944
Actually, this is pretty terrible. Now I'm trying to use a nonexistent entry in Jinja2 and it only gets uglier.

[2017-09-26 20:00] biroeng opened #30946 "ansible 2.4 doesnot variables defined in a files using var_files"
ansible 2.4 doesnot variables defined  in a files using var_files

When I run the site.yml , I receieved an error AnsibleUndefinedVariable: which is defined on folder

ansible 2.4.0.0
  config file = None
  configured module search path = [u'/Users/albertayoub/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /Library/Python/2.7/site-packages/ansi

[2017-09-26 20:05] biroeng commented on #30946
Issue type: Product
ansible version:2.4
Component name : var_files

[2017-09-26 20:32] drmrd commented on #30833
@alikins I looked into the issue today, and it looks like it's caused by a name collision between a variable and function in the module created for handling the new `drain` state and parameter. I've submitted PR #30947 to hopefully address this, but have not been able to test this against an HAProxy-managed cluster. I probably won't have time to set up/test against an HAProxy cluster (mock or othe

[2017-09-26 20:52] sanjeevrg473 opened #30950 ""winrm send_input failed" "WinRMTransportError: (u'http', u'Bad HTTP response returned from server. Code 500';""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
1. WINRM
2. winrm send_input failed

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
SLES 11 - Controller
Win 2012 R2 - Remote Windows Server where playbook is being executed on

##### SUMMARY
I have around 28 tasks inside a play. It is related to pre-server configuration. Making registry entry changes, adding roles and features, copying zi

[2017-09-26 20:58] shankerrhce opened #30951 "lvg- device not found"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lvg
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

"/sbin/vgcreate vgma{{dbname}}lf1  /dev/sdd3"
The above shell command create a volume group with sdd3 disk but when i use the lvg module to create a volume create after creation of disk /dev/sdd3 partition.

I have tested same with shell module with

[2017-09-26 21:10] dagwieers commented on #30950
My guess is that the features you're installing is causing the WinRM service to be temporarily unavailable (at some later time). So it's probably better to make it perform a reboot as suggested by the **win_feature** module.

Could you perform a **win_reboot** after installing new features ?
Simply add after the **win_feature** task this:
[code]

PS We are looking at better ways to handle HTTP 500

[2017-09-26 21:18] bcoca commented on #30924
@AlanCoding confirm that PR fixes the issue for you

[2017-09-26 21:27] #30744 closed, assigned to nobody

[2017-09-26 21:33] derfUrban opened #30953 "Inventory class object not available in 2.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 /ansible/inventory

##### ANSIBLE VERSION

ansible-playbook 2.4.0.0
  config file = ansible.cfg
  configured module search path = ['/library']
  ansible python module location = python3.5/site-packages/ansible
  executable location = ansible-playbook
  python version = 3.5.3 (default, Apr 23 2017, 18:09:27) [GCC 4.2.1 Compatible Apple LLVM 8.0.

[2017-09-26 21:44] sivel commented on #30953
resolved_by #30640

[2017-09-26 21:44] #30953 closed, assigned to nobody

[2017-09-26 21:52] jborean93 commented on #30950
You are pretty much removing everything from `PATH` with

[code]

This will break a lot of things (including WinRM) as Windows no longer knows where the powershell executable (and pretty much anything else) is so it cannot run. Use the [win_path](http://docs.ansible.com/ansible/latest/win_path_module.html) instead to append entries to the path instead of changing the whole thing.

[2017-09-26 22:00] cigamit commented on #29640
https://github.com/ansible/community/wiki/VMware:-progress-tracker#deprecating-vsphere_guest
I believe once we gain full parity between vsphere_guest and vmware_guest is achieved, then this module will be deprecated.  We already have a separate module for create/list/deleting snapshots also.

[2017-09-26 22:30] kerugu commented on #30327
Hi,
We have a similar issue, and we raised ticket to RedHat, but we were suggested to put our comments in here.
Summary: We have a problem during VM Termination, Tower throws Error "FAiled To Find a Matching DataStore".
Details:
Initially we had the issue during VM creation in VCenter, then we have modified the vmware_guest.py(modified file attached as a zip), and then we were good and provisionin

[2017-09-26 22:35] mkosobucki commented on #29129
from my testing 1.11.0 works as well

[2017-09-26 22:58] jtyr commented on #30874
@abadger I see the security risk when password is exposed in logs but I don't like to remove this usability feature completely. Wouldn't be possible to define which fields should be obfuscated from the logs on the `AnsibleModule` level? Something like this:

[code]

[2017-09-26 23:06] abadger commented on #21513
This but has been fixed in 2.4.0  do please open a new bug with reproducer
and timings.

[2017-09-26 23:08] abadger commented on #30874
The core team discussed that argument and decided that they didn't think
that was a good idea.  You can put it on the public irc meeting agenda,
though.

[2017-09-26 23:19] jtyr commented on #30874
I have added it on the agenda for Thursday ;o)

[2017-09-26 23:26] jtyr commented on #30874
Just thinking about it again and we should not do `nolog` on the whole `params`. We want to obfuscate only the particular key of the `params` which feels like something not really standard thing to do on the `AnsibleModule` level.

By "_We can remove the param field in devel to finish off this ticket_" you meant to remove the whole `param` option from the module? Restricting the `params` not to ho

[2017-09-27 01:02] rafaelhenrique commented on #10472
this dont work for me:

`sleep 5 && shutdown -r now "Reboot triggered by Ansible script"`

i use:

`shutdown -r -t 5 "Reboot triggered by Ansible script"`

5 equals 5 minutes.

[2017-09-27 01:03] sanjeevrg473 commented on #30950
@dagwieers  Thanks a lot for guiding me. I just moved the roles/features task to the end and I have set restart to True so that after all tasks are executed server will restart.

@jborean93 Thank you very much for pointing me in the right direction. I will go ahead and use win_path.

I will try running the playbook again.

[2017-09-27 01:07] sanjeevrg473 commented on #30765
@jhawkesworth Thanks for guiding me. The core installer is stopping WINRM service. That is why the service is going down. We will update our installer package.

@dagwieers Thank you! This issue is totally related to the installer that I am using. The installer is the culprit.

[2017-09-27 01:08] #30765 closed, assigned to nobody

[2017-09-27 01:11] dagwieers commented on #30765
@sanjeevrg473 Is it stopping the WinRM service, or restarting it ? Both would have the exact same effects on Ansible at this time. But the fix at https://github.com/diyan/pywinrm/pull/174 will recover by trying 5 times with 5 seconds delay in order to let Ansible continue to work when the WinRM service is restarted.

[2017-09-27 02:27] abadger commented on #30874
Yes, that is what the core team decided they wanted.

[2017-09-27 03:03] denefoster commented on #30760
I'm seeing very similar behaviour, not using delegate_to, but become_user. This is breaking the ssh pipelining, and thus requiring world readable tmpfiles in 2.4.

SSH debug output indicates the same problem, read_header failed and falls back to a non-pipelined connection

2.3 works perfectly.

[2017-09-27 03:16] sanjeevrg473 commented on #30950
@dagwieers and @jborean93 Thank you so much! Playbook execution was successful...No issues reported..

[2017-09-27 04:32] andrewsaraceni commented on #25469
Overall, as @jhawkesworth noted, the current assortment of IIS modules handles a wide range of IIS-related items and tasks (sites, bindings, app pools, apps and virtual directories), and thus covers much of what could be done in appcmd.  The only missing piece I've noticed, which perhaps the original submitter alluded to, is a module for handling manipulation of the `applicationHost.config` file f

[2017-09-27 06:33] #23014 closed, assigned to alikins

[2017-09-27 07:05] #28789 closed, assigned to nobody

[2017-09-27 07:28] tersmitten commented on #30500
What's in the. my.cnf?

[2017-09-27 07:57] yeukhon commented on #29617
I will review this by Friday @ansibot.

[2017-09-27 08:09] yeukhon commented on #30073
@ansibot  will finish this by/before Friday.

[2017-09-27 08:09] richardj-bsquare opened #30962 "Support IP addresses as well as instance IDs in elb_target_group"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
elb_target_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
All

##### SUMMARY
Add support for IP addresses for elb_target_group

I believe this requires the target group to be created (CreateTargetGroup) using a TargetType parameter of 'ip' instead of 'instance' (the default). This, in turn, would require a

[2017-09-27 08:10] n0trax commented on #30827
@pujan14 Thanks for this bug report.

You're right, the PHP-regex causes the problem. I'll create bugfix-PR for this.
Can you please tell me which distribution you're using?

[2017-09-27 08:12] ghost commented on #30642
Sorry for delay. The ec2.py works generally. including eu-west-2, it finds other tags in eu-west-2. From previously created ec2 instances.  Here's the ec2.ini file, it's pretty much standard: https://pastebin.com/JEcfMP51

[2017-09-27 08:19] ghost commented on #30642
If I limit the region in ec2.ini to eu-west-2 (london) I get this:
./ec2.py --list
region name: eu-west-2 likely not supported, or AWS is down.  connection to region failed.

If I change it to eu-west-1 I get the normal results

[2017-09-27 08:23] rpasche commented on #22713
I think my PR #30826 would fix this.

[2017-09-27 08:47] Vladimir-csp opened #30963 "lineinfile: allow insertafter and insertbefore to be used simultaneously as range"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lineinfile
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

`insertbefore` and `insertafter` are mutually exclusive, so it is impossible to limit match to a specific section of a file.
##### STEPS TO REPRODUCE

Try to make a range for line insertion by specifying both `insertbefore` and `insertafte

[2017-09-27 08:54] stewartwebb commented on #30833
@drmrd: I have tested on my HaProxy setup. It works correctly. Thanks very much.

[2017-09-27 09:22] Akasurde commented on #25863
Can someone close this issue as PR is merged ?

[2017-09-27 10:20] hadrien-toma commented on #21285
A not really wonderful workaround (but which enabled me to use this really enjoying feature) for those who use a graphical environment as their Ansible controller.
* Before, you need to install a terminals's manager that allows you to open a new shell window and to automatically run a script/command inside it ([`terminator`](https://github.com/software-jessies-org/jessies/wiki/Terminator) for inst

[2017-09-27 11:02] tykling opened #30967 "Error in examples for the new import_tasks.py"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
import_tasks.py

##### ANSIBLE VERSION
all versions with import_tasks.py and website

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
This line has a stray " and still refers to ```include:```

https://github.com/ansible/ansible/blob/b3cee37dc116f7f05ed31de309198f89de85621b/lib/ansible/modules/utilities/logic/import_

[2017-09-27 11:15] j-cavoizy opened #30969 "Issue when opening Vault with python"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Nothing Changed

##### OS / ENVIRONMENT

Ubuntu 14.04.5 LTS (trusty)

##### SUMMARY

Since we upgraded to ansible-vault (1.0.4) the code below doesn't work anymore

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect vault vars to be loaded in 'data' dict

##### ACTUAL RESULTS

[

[2017-09-27 11:22] benapetr commented on #30411
After very long of debugging and testing servers one by one, I figured out which one was causing this. Its DNS is OK, it responds and I can ssh there, but there is some problem:

[code]

Here it hangs forever. I replaced domain of this company with "domain.tld", the actual domain name is different.

[2017-09-27 11:31] Akasurde commented on #30327
@kerugu Could you please provide your playbook used for termination of VM?

[2017-09-27 11:41] jcestef commented on #30701
Does **elb_target_group** support tcp protocol? No so far.

[2017-09-27 12:05] marcindulak commented on #30855
The same problem is present also in ansible 2.4.0.0:

[code]
[code]

Taking an example from https://github.com/ansible/ansible/blob/devel/examples/hosts.yaml

[code]

[code]

but

[code]

The yml format is recognized automatically by ansible 2.3.2.0.

[code]

[code]

[2017-09-27 12:15] j-cavoizy commented on #30550
@enrh :  I have the same issue I've filed a separate issue there:
https://github.com/ansible/ansible/issues/30969

[2017-09-27 12:26] goiaba commented on #30872
@sm4rk0 Thanks for the explanation. Given your answer, I'm sorry about opening this issue. I guess we can close it.

[2017-09-27 12:26] #30872 closed, assigned to nobody

[2017-09-27 12:47] dagwieers opened #30972 "Ideas for bootstrapping Windows systems using Ansible"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
windows

##### ANSIBLE VERSION
v2.5

##### SUMMARY
A reference to the original discussion: https://github.com/ansible/ansible/pull/30958#pullrequestreview-65494503

Bootstrapping Windows systems to be used with Ansible usually requires:
1. Running a script on each Windows system beforehand (upgrade WMF and/or enable WinRM service)
2. Run a scr

[2017-09-27 12:55] mlouielu commented on #30637
@s-hertel close his PR, but I will intend to use my method, to rename function `status` to `get_status`. #30750 rename the `status = run_command()` to `status_`, I think it will not be good for readability.

[2017-09-27 13:02] s-hertel commented on #30637
@mlouielu Yours is a smaller diff. Makes more sense to rename the function than the variable.

[2017-09-27 13:08] jsumners commented on #30933
This is definitely a bug. To easily replicate it use a task like:

[code]

When the package is not already installed then that task will work correctly. On subsequent runs it gives the "does not update installed package" error.

The only workaround I have for it right now is:

[code]

[2017-09-27 13:14] sm4rk0 commented on #30872
@goiaba It's OK. Hopefully, it could help someone with similar problem.

[2017-09-27 13:21] sm4rk0 commented on #30872
@ansibot
notabug
-label affects_2.4

[2017-09-27 13:23] calfonso commented on #27094
@slavkv would you please test this with the latest released version 2.4.0 and let us know if you still see the issue?

needs_info

[2017-09-27 13:44] calfonso commented on #25319
@fwissue please test this and confirm it's fixed, thanks!

needs_info

[2017-09-27 13:45] benapetr commented on #30411
This is still bug in Ansible at least in a sense that Ansible should produce some verbose ERROR message that will let user know which host is causing the hang-up so that the host can be removed from inventory file with no need for complex investigation of what went wrong.

[2017-09-27 13:47] privateip commented on #24466
/cc @ogenstad any thoughts here?

[2017-09-27 13:49] calfonso commented on #23723
@davidburge1 could you please test with the latest release and confirm this is now fixed. Thanks!

[2017-09-27 13:50] sanjeevrg473 commented on #30765
@dagwieers So you want me to use include the transport.py in the playbooks location? Do I have to make any changes in ansible.cfg?

[2017-09-27 13:51] biroeng commented on #30946
I am running ansible 2.4 MAC version

[2017-09-27 13:53] calfonso commented on #19183
@ismc let us know once you test this and we'll take the next steps.

needs_info

[2017-09-27 14:00] bcoca commented on #30855
created fix in PR above, I had made this restriction on purpose and was still debating if this was a bug ... but since this 'worked' before with the 'hardcoded yaml inventory reader'  I decided to restore the previous behaviour.

[2017-09-27 14:02] #30967 closed, assigned to nobody

[2017-09-27 14:06] dagwieers commented on #30765
So edit your pywinrm's transport.py by hand and perform the patch that is in the PR if you would like to test this. Replacing transport.py is not recommended, because it depends on the pywinrm version you have in use.

No changes in ansible.cfg are necessary. (Reading that python code should be pretty obvious in to what it does)

[2017-09-27 14:23] namondo opened #30976 "unarchive module fails when zip issues warning(s)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OEL 7.1

##### SUMMARY

##### STEPS TO REPRODUCE

You can easily induce a warning by GNU zip:  unarchive a zip file contains relative path with parent directory reference (../)

[code]
The zip file created: zip -r zip_test.zip ../something

##### EXPE

[2017-09-27 14:30] tmarble commented on #30855
@bcoca thanks! I think this is the right thing to do since the current default pathname for the inventory is `/etc/ansible/hosts` (without extension, per http://docs.ansible.com/ansible/devel/intro_inventory.html)

[2017-09-27 14:32] dagwieers commented on #30976
~There is something very apparent from your output:  `"msg": "failed to unpack /export/home/ansible/.ansible/tmp/ansible-tmp-1506521801.74-161793488541190/source to /opt/unarchive_tes         t/",` Is it possible there's a weird character in your playbook ?~

This rather seems to be a terminal/copy&paste issue.

Instead the output shows:
[code]

So the output has been cut off, and it would be nice

[2017-09-27 14:35] africanzoe commented on #30976
It sounds like a copy-paste side-effect.

[2017-09-27 14:41] dagwieers commented on #30976
I wonder if the warnings (regarding the ../ prefix) have an influence on the return code, and as such appears to have failed.

[2017-09-27 14:49] namondo commented on #30976
Updated the output from log.

[2017-09-27 14:52] IaroslavR opened #30977 "Python3 YAML inventory parsing error"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

inventory
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/home/elruso/projects/ansible/ansible.cfg) = ['/home/elruso/projects/ansible/hosts.ini']
HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY

YAML inventory parsing error
##### STEPS TO REPRODUCE

ansible loca

[2017-09-27 14:54] namondo commented on #30976
Yes, zip exists with RC=1 if there was warning(s)

[2017-09-27 15:07] dagwieers commented on #30976
Alright, that should be an easy fix and backport.

Thinking about this, we don't know if the warning is problematic or not.
And we cannot pretend these warnings can be ignored IMO.
The current interface does not allow to expose warnings to the user, so a proper fix is not easy :-/

[2017-09-27 15:19] IPvSean opened #30979 "nxos_config should support config replace"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
nxos_config
http://docs.ansible.com/ansible/latest/nxos_config_module.html

This module only has line and block, but we should have the ability to replace the entire config with a flat-file.

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The Nexus 9000 series has the config replace option:
[code]

[2017-09-27 15:25] sivel commented on #30969
The python API is not a public API and will sometimes change from release to release.  As the ansible bin scripts are not affected, this is a result of your API use being inconsistent with the new code.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-09-27 15:25] #30969 closed, assigned to nobody

[2017-09-27 15:26] Deepakkothandan commented on #30701
@jcestef The target groups  does support TCP

[2017-09-27 15:28] ChriFo opened #30980 "Unable to create docker network"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_network

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

ansible.cfg
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
The use of docker_network failed because a docker lib version is determined wrong.
I tried provisioning a debian 9 with the following modules installed:

[code]

My short analysis shows a docker version check

[2017-09-27 15:33] halberom opened #30981 "eos_config: CLI command x of y failed: invalid command"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Mac OSX

##### SUMMARY
When performing a complete config replace using eos_config, and a src file, we are seeing a generic "invalid command" error at a high number in the list of the commands

##### STEPS TO REPRODUCE
Use eos 4.17.5M
If access to a physical swi

[2017-09-27 15:33] pujan14 commented on #30827
@n0trax thanks for PR. My control machine is Debian 9 and ansible host is Ubuntu 14.04

[2017-09-27 15:34] halberom commented on #30981
Discussed this with @privateip in the `#ansible-network` channel

[2017-09-27 15:41] parmstro opened #30982 "azure_rm_storageblob: ImportError: No module named packaging.version"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_storageblob

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.4
Tower 3.1.2
Azure 2.0.0

##### SUMMARY

Using simple play from tower, but running on remote host. Regardless of local configuration or remote configuration, ansible tower job fails with indicated error.

##### STEPS TO REPRODUCE

Install

[2017-09-27 15:42] bbomgardner opened #30983 "Typo in vmware_guest.py size_mb disk attribute"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_FORCE_COLOR(/vagrant/ansible.cfg) = True
ANSIBLE_SSH_CONTROL_PATH(/vagrant/ansible.cfg) = %(directory)s/%%h-%%r
ANSIBLE_SSH_PIPELINING(/vagrant/ansible.cfg) = True
DEFAULT_HOST_LIST(/vagrant/ansible.cfg) = [u'/vagrant/environments/development']
DEFAULT_ROLES_PATH(/vagran

[2017-09-27 15:43] jean-christophe-manciot commented on #30632
However, the SSH transport for this use case is **not stable**: after a few (3) successful calls, the same command which passed during the first calls is rejected: ```run bash sudo su``` with:
[code]
This shows that the target remains in the ```bash``` mode after the last command has completed (yum list installed | grep mtx), but strangely not during the first play runs with both commands.

[2017-09-27 15:51] gyurco commented on #30634
Also it breaks os_image in 2.4.
When id=None (the default), os_image fails with:

[code]

[2017-09-27 15:53] bcoca commented on #30977
Can you run with ANSIBLE_DEBUG=1 and post the output?

[2017-09-27 15:53] halberom commented on #30981
connection details are
[code]

[2017-09-27 15:56] dagwieers commented on #30976
Could you check PR #30984 ?

[2017-09-27 15:56] Akasurde commented on #30983
@bbomgardner Nice catch !!! Would you like to raise a PR for this ?

[2017-09-27 16:14] halberom commented on #30981
Note that this may still be an config ordering issue.  If it matches the switch order, then it fails. However I've just discovered that if I relocate the `interface Vxlan1` section to further down the config, after  the `ip multicast-routing` command then it works.

This breaks the diff, and I have no idea why it might be happening. The order requirements of the switch config are rather mind-boggl

[2017-09-27 16:29] IPvSean opened #30986 "nxos_config intended should be intended_config"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
nxos_config module
http://docs.ansible.com/ansible/latest/nxos_config_module.html

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The example shown in the documentation is wrong, it won't actually work (intended versus intended_config).  The intended_config is even shown in the parameters

[2017-09-27 16:45] IaroslavR commented on #30977
[code]

[2017-09-27 17:12] jmvbxx commented on #29308
##### COMPONENT NAME
`npm`

I'm having the same issue now but I didn't have it previously when I wrote the role.
Task:
[code]
Returns:
[code]

[2017-09-27 18:06] DerekTBrown opened #30989 "ansible cli ansible.cfg path override"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
Ansible CLI

##### SUMMARY
It seems like there is a usecase where individuals would like to override the default `ansible.cfg` file on a per-playbook basis.  Could there be an additional commandline option for doing this?

[2017-09-27 18:09] mikewiebe commented on #23924
Fixed in `2.4`

[2017-09-27 18:09] #23924 closed, assigned to trishnaguha

[2017-09-27 18:09] mikewiebe commented on #23926
Fixed in `2.4`

[2017-09-27 18:09] #23926 closed, assigned to trishnaguha

[2017-09-27 18:12] dejayc commented on #26586
Just remember that Ansible wasn't made for reusability.  If you expect to be able to include things from a bunch of different sources, in a composable fashion, you might end up with disappointment.

[2017-09-27 18:12] #30989 closed, assigned to nobody

[2017-09-27 18:27] #30983 closed, assigned to nobody

[2017-09-27 18:28] #30855 closed, assigned to nobody

[2017-09-27 18:31] ryansb commented on #22537
Fixed in https://github.com/ansible/ansible/commit/00fc8179ace489e755269b5e6e5778f6d1548bb5

[2017-09-27 18:31] #22537 closed, assigned to nobody

[2017-09-27 18:35] one-t opened #30991 "yum module- no change when using weburl produces error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT
Ansible Host - RHEL 7
Target Host - RHEL 7

##### SUMMARY
When using a url with the yum module, if it will not change anything, the module reports an error

##### STEPS TO REPRODUCE
- write a play using

[2017-09-27 18:46] pmkuny commented on #30991
Related: https://github.com/ansible/ansible/issues/30933

[2017-09-27 18:54] bevanbennett commented on #29008
I just hit this and it's broken 90% of our automation.
We have a separate "plays" folder under ANSIBLE_HOME and invoke them with "ansible-playbook -i ENV plays/playbook_name.yml" but now they cannot access any of the group_vars or host_vars.

This is still working fine under 2.3.0, but my systems keep trying to update to the new version now.
Note that this does NOT involve imported playbooks, just

[2017-09-27 19:00] IPvSean opened #30992 "nxos_config: intended_config diff option seems backwards"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_config
http://docs.ansible.com/ansible/latest/nxos_config_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
I have two configs.  There is one local (nxos_base.cfg) and one already running on the N9K (Cisco Nexus box).  The only difference is that the nxos_base.cfg (local fil

[2017-09-27 19:06] sebastianneubauer opened #30993 "Cannot pipe the vault password via stdin ansible-playbook when ran without a tty"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/vagrant/ansible.cfg) = [u'/vagrant/common_roles', u'/vagrant/{{ roles_path }}']

##### OS / ENVIRONMENT
Debian jessie

##### SUMMARY
Since version 2.4.0.0 one cannot pipe the vault password via stdin into ansible-playbook anymore

##### STEPS TO REPRODUCE
Thi

[2017-09-27 19:30] aoyawale commented on #30991
1+ getting the same error.

[2017-09-27 19:31] MadelineRitchie commented on #30609
#30651 indicates that this will be fixed in 2.4.1

[2017-09-27 19:33] jmeekins opened #30995 "vsphere_guest unable to deploy template"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vsphere_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

CACHE_PLUGIN(/home/jmeekinsint/ansible/conf/ansible.cfg) = memory
DEFAULT_GATHERING(/home/jmeekinsint/ansible/conf/ansible.cfg) = smart
DEFAULT_GATHER_TIMEOUT(/home/jmeekinsint/ansible/conf/ansible.cfg) = 5
DEFAULT_HOST_LIST(/home/jmeekinsint/ansible/conf/ansible.cfg) = /ansibl

[2017-09-27 19:37] bcoca opened #30996 "split the changelog"
Split changelog into file per release, it is getting unwieldy, also it would be nice to create ToC and sunset the RELEASES.txt as it is mostly duplicate information.

##### ISSUE TYPE

 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

changelog

##### ANSIBLE VERSION

[code]

[2017-09-27 19:40] danielkza commented on #26905
Still present on 2.4.

task:

[code]

Which was previously used to create a single partition encompassing a whole GPT-labeld disk. Running it twice produces:

[code]

[2017-09-27 19:40] gilcot commented on #30609
Oh thanks @JasonRitchie

Till there I'll go with the previous version

[2017-09-27 19:41] tfendt commented on #25361
Can we get a status update on this? Network load balancers are now release and they also use target groups. To do rolling deploys of our code we need an option to remove instances from the group and add them back after updating without affecting the other instances in the same target group.

[2017-09-27 19:50] bcoca commented on #30977
this seems to be the root fo the issue
``` 16305 1506530525.82958: /home/elruso/projects/ansible3/hosts.yml did not meet yaml requirements```
the yaml plugin doesn't even try to parse it.

did you rename the file? the original message was about ``` /home/elruso/projects/ansible/hosts.yaml ```

I cannot reproduce, for me it loads fine with either `.yml` and `.yaml` ...

[2017-09-27 19:50] rahushen opened #30997 "nxos_snmp_host: several properties not idempotent for n1 images"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_snmp_host

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

`show snmp host | json` output varies for this image.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected play to be idempotent

##### ACTUAL RESULTS

[code]

[2017-09-27 19:55] ryansb commented on #30687
Hi, looking at this, I think the best way to handle this isn't to change the interface back (the cloudformation_facts module is still in preview status). It would either duplicate stacks (storing by both ID and name) or make it more difficult to use the more human-friendly stack names.

Here are examples to enable this use case:

[code]

In both the above cases, you can hit the same result that yo

[2017-09-27 19:55] #30687 closed, assigned to nobody

[2017-09-27 19:56] rahushen opened #30999 "nxos_snmp_traps: module fails with `bridge is not a currently enabled feature.` message on N1 images."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_snmp_traps

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

Output of `show snmp trap | json` varies for this image.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Module to create snmp trap properly.

##### ACTUAL RESULTS

[code]

[2017-09-27 20:01] hryamzik commented on #30768
Thanks @bobbywatson3, I'll take a look late next week once I'll get back from vacation. Looks wired as tests were green on dev branch.

Can I also ask you to run with `-vvvv` to get more details?

P.S.: please also share your `/etc/network/interfaces`, I'll check it with tests first.

[2017-09-27 20:10] #30924 closed, assigned to nobody

[2017-09-27 20:15] alikins opened #31001 "Allow the vault_id to be passed to vault password scripts"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

lib/ansible/cli/vault.py
lib/ansible/parsing/vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

This will add a new type of vault password script that takes advantage of and enhances the multiple vault password support.

The current vault password scripts (as invoked by --vault-password-file poi

[2017-09-27 20:22] alikins opened #31002 "Allow vault password files to be vault encrypted"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

lib/ansible/parsing/vault
lib/ansible/parsing/dataloader

##### ANSIBLE VERSION

[code]

##### SUMMARY

wip and proof of concept pr at  https://github.com/ansible/ansible/pull/27668

Since we now can have more than one vault password, we could use one of the vault secrets to decrypt a vault password file that provides another vault secret.

[2017-09-27 20:26] perolausson commented on #19719
It's odd to me that this was closed. It's not documented on the main dig documentation page what is needed, all it says is:

  Requirements (on host that executes module):
   dig (CLI utility)

Whereas, elsewhere the documentation (link above by georgepsarakis) says:

Warning
This lookup depends on the dnspython library.

It's not exactly the same thing you know.

[2017-09-27 20:44] jborean93 opened #31003 "win_dsc: DSC improvements"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
win_dsc

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Windows

##### SUMMARY
This is not an issue but a way to documenting some of the improvements we can add to the DSC module. When going through the docs rewrite a few things came up which I thought would be good to do

[2017-09-27 20:50] alikins opened #31004 "[stretch] Support nested vault encryption (vault encrypted vault content)"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

lib/ansible/parsing/vault
lib/ansible/parsing/dataloader

##### ANSIBLE VERSION

[code]
##### SUMMARY

This is based on some of the discussion and ideas related to https://github.com/ansible/ansible/issues/13243 . If there is interest in this feature, it is a good candidate for 2.5 since most of the changes required would also be required fo

[2017-09-27 20:59] jborean93 commented on #30950
@sanjeevrg473

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

Thank y

[2017-09-27 20:59] #30950 closed, assigned to nobody

[2017-09-27 21:08] alikins opened #31005 "Continue to make fact collectors and gather_subset specs finer grained."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

lib/ansible/module_utils/facts

##### SUMMARY

Starting in version 2.4, the 'gather_subset' spec can refer to finer grained subsets of facts. Prior to 2.4, the only categories were 'all', 'hardware', 'network', 'facter', 'ohai'. In 2.4, the spec can reference fact collector names directly ('env', 'pkg_mgr', etc) and in some cases, the names

[2017-09-27 21:28] alikins opened #31006 "Support a way for fact collectors to depend on other collectors"
- Feature Idea

##### COMPONENT NAME

lib/ansible/module_utils/facts/

##### SUMMARY
Allow fact collectors to indicate if they need information from another fact collector to be gathered first.

Some fact collectors require information to be gathered by other fact collections before they run, so
we need to be able to order the collector runs. To do this, the fact collectors need a way to indicate

[2017-09-27 21:42] alikins opened #31007 "Eliminate unneeded depenencies between fact collectors"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

lib/ansible/module_utils/facts

##### SUMMARY

This is related to https://github.com/ansible/ansible/issues/31006 and https://github.com/ansible/ansible/issues/31006

Some fact collectors require facts gathered from other collectors before they run. But in some cases, the ordering requirements are not necessary and can be resolved using exist

[2017-09-27 21:42] brontog opened #31008 "Ansible 2.3 SSH authorization remote host"
Hi, please me.
How to do not enter the password ssh in the console when using -k -K ?
Example:
SUDO Password:
SU Password:

[2017-09-27 21:53] rafaasmiranda commented on #30879
Same behavior on RHEL 7.3.

[2017-09-27 22:04] wvidana opened #31009 "Ansible 2.4 [bug] ec2_lc module - Unknown parameter in input: "InstanceProfileName""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_lc module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

Trying to create an AWS launch config with the `ec2_lc` module fails when setting the `instance_profile_name` param. Exception from botocore for param checking. The module is passing to boto3 the parameter `InstanceProfileName`

[2017-09-27 22:40] Darrel12 opened #31012 "Executing include tasks that should be skipped when using the --tags CLI flag"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include, or tags, or maybe it's a problem with the core functionality

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL6

##### SUMMARY

When I try to run this playbook with the `--tags` flag, it still executes 'include' tasks that do not have the specified tags. As it should, it skips tasks in the play be

[2017-09-27 23:50] #30636 closed, assigned to bcoca

[2017-09-28 00:13] bcoca commented on #19719
@perolausson closed?

in any case it should be soon, new docs have been written now available in `ansible-doc` and soon on the website, these should be correct https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/dig.py

[2017-09-28 00:16] #19719 closed, assigned to nobody

[2017-09-28 00:42] bcoca opened #31014 "Add python DOC strings to all plugins that support them"
A bunch of plugins now support documentation/configuration, we need to extend to the rest:

jinja2 filters, jinja2 tests, terminal?, cli_conf?, netconf?)
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

docs
##### ANSIBLE VERSION

[code]

[2017-09-28 00:44] bcoca opened #31015 "Rewrite most plugins/types to use new config infrastructure"
First, currently it only supports connection and cache, need to extend to rest of plugin types

Then each plugin needs to be updated to use the new unified configuration

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

plugins
##### ANSIBLE VERSION

[code]

[2017-09-28 00:44] perolausson commented on #19719
Sorry I misread the status above. But the file you refer to doesn't have the correct instructions. :(

So I really don't understand why you now closed it.

[2017-09-28 00:47] bcoca opened #31016 "Add suport for yaml configuration"
Add YAML formatted configuration file as alternative to current ini

this will allow for hierarchical config entries i.e
[code]
and easily merge-able configs as well as adding a playbook contextual `meta/` and expanding on the existing one in roles

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

config
##### ANSIBLE VERSION

[code]

[2017-09-28 00:49] bcoca opened #31017 "Add datetime type to argspec"
This should allow any string date and/or time representation to be accepted for an option and autmatically get it converted to a datetime object for use inside a module

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

module_utils/basic

##### ANSIBLE VERSION

[code]

[2017-09-28 00:51] bcoca opened #31018 "Add duration arspec"
Add a new argspec type to handle time durations, so users can specify 'time strings' i.e `1d` or `2h` and have it convert into either seconds or an object that can return the 'time periods requested'
i.e `duration.seconds`  or `duration.days` ... etc.

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

module_utils/basic

##### ANSIBLE VERSION

[code]

[2017-09-28 01:01] perolausson opened #31019 "Dig module bails out over dig warnings on malformed responses"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lib/ansible/plugins/lookup/dig.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Description:    Ubuntu 17.04

##### SUMMARY

Due to the changes in BIND, I believe there is a problem with how the dig module handles malformed responses. This is going to become more and more of a problem for users due to routers etc

[2017-09-28 01:04] bcoca commented on #19719
as i explained above, how to install a library is beyond the scope of the instructions as 'correct' depends too much on the context for each user.

So we just point out we depend on the library and even give you a link to it, then each user can decide which methods are available to them and which one of those is 'correct' for them.

[2017-09-28 01:05] bcoca commented on #31019
cc @jpmens

[2017-09-28 01:06] hostragon-hosting commented on #25068
Has anyone found a solution to this?

[2017-09-28 01:10] bcoca opened #31021 "Consolidate --list CLI options"
Consolidate list options into single  --list <hosts|tasks|tags> (deprecate others)

If possible also move 'list rendering' into callbacks vs being hardcoded in ansible CLI

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

cli
##### ANSIBLE VERSION

[code]

[2017-09-28 01:14] hostragon-hosting commented on #25068
Just add this:

`ansible_ssh_common_args='-o StrictHostKeyChecking=no'`

to /etc/ansible/hosts "**[servers_group:vars]**"

[2017-09-28 01:16] perolausson commented on #19719
The instructions now say dig (CLI), right?

That is the ultimate core dependency but it isn't the dependency the lookup
dig module has.

I already had dig installed and it had nothing to do with it and everyone
above is pointing out the same.

I've added a comment to your commit explaining what the real dependency is.

You could say (python module) if (pip) is too specific for you. But I find
that

[2017-09-28 01:21] bcoca commented on #29729
This is caused by `add_host`  being a tasks that 'bypasses the host loop' this means it will only execute one time per 'batch', more or less the same way `run_once=true` works. This is not as much a bug as a designed behaviour, though we admit it is not intuitive.

[2017-09-28 01:21] #29729 closed, assigned to nobody

[2017-09-28 01:30] bcoca opened #31022 "normalize temp dir/file usage (remote_tmp, etc)"
All subsystems should use same temp dirs (ansiballz, shell+action,  modules, async)
Temp dirs should be more configurable (right now they are global, should be host specific)

In doing this we should address/fix the following issues:
~~#20886~~
#27699 ansiballz not using remote_tmp
~~#17908~~ (not main issue, but having per host configurable remote_tmp would mitigate)
#30064 git module creates scr

[2017-09-28 01:33] bcoca commented on #19719
refresh, i was in process of updating when i saw this, i had several fixes for the docs in that plugin today

also 'pip' solves it for you, but not for everyone, many dont/cannot have pip installed or available.

[2017-09-28 01:38] wimnat commented on #25361
https://github.com/ansible/ansible/pull/26483

[2017-09-28 01:45] bcoca commented on #30479
@itdependsnetworks , the failure above unrelated to undefined variables, you are trying to use a method `.get` on a string, but it is only available on dictionaries.

You cannot get an `undefined` error because in this case for 2 reasons, 1 you are causing an error before 'other_value' gets checked, 2nd ... the `.get` method is designed to avoid undefined ... it will return `None` if the value doe

[2017-09-28 01:45] #30479 closed, assigned to nobody

[2017-09-28 01:58] bcoca commented on #30270
done #30379

[2017-09-28 01:58] #30270 closed, assigned to nobody

[2017-09-28 02:05] parmstro opened #31023 "azure_rm_storageblob does not honor blob type for vhd files - page blob"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_storageblob

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.4

##### SUMMARY

The blob type created when using upload symantics of the module is block. The module should create a page blob if the file extension ends in .vhd indicating that the blob is a disk image.

##### STEPS TO REPRODUCE

[code]

[2017-09-28 02:34] itdependsnetworks commented on #30479
@bcoca I was looking for feature parity with flask, as shown here:

![image](https://user-images.githubusercontent.com/9260483/30946800-0962cba8-a3d4-11e7-8152-120f9bccbc0a.png)

[2017-09-28 02:36] itdependsnetworks commented on #30479
IMHO it should at least give you the standard python, 'str object has no attribute get', which is seems that ansible is masking.

[2017-09-28 03:34] #30571 closed, assigned to nobody

[2017-09-28 04:11] k-ogawa-1988 commented on #30500
@tersmitten Here is my files.

/etc/my.cnf
[code]

/etc/my.cnf.d/client.cnf
[code]

/etc/my.cnf.d/mysql-clients.cnf
[code]

[2017-09-28 05:33] ganeshrn opened #31026 "Add parse xml filter which returns a json object [XML_FILTER]"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

filter/network.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

*  Add parse_xml filter to parse a xml response and convert to json object.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-09-28 05:47] ganeshrn opened #31027 "[NETCONF] Refactor junos modules to use Netconf plugin"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

junos_*
module_utils/junos

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Refactor junos modules to use [Netconf plugin](https://github.com/ansible/ansible/tree/devel/lib/ansible/plugins/netconf)
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-09-28 05:52] ganeshrn opened #31028 "[CLI_CONF] Refactor junos_netconf and junos_command module to use cliconf plugin"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

junos_netconf
junos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Refactor junos_netconf and junos_command modules to use [cliconf plugin](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/cliconf/junos.py) when underlying transport in `network_cli`
##### STEPS TO REPRODUC

[2017-09-28 06:08] machacekondra commented on #29229
That module has been depracated by `ovirt_vms`, so I think this can be closed.

[2017-09-28 06:36] jpmens commented on #31019
@perolausson `.lan` is not a delegated gTLD but is something in your environment. Give me an example for a real-world domain which illustrates the behaviour, and I'll have a look. Otherwise I will have to assume that the server you are querying does something murky (as _dig_ is telling you it is).

[2017-09-28 06:37] jpmens commented on #31019
@perolausson please also say OS, version, brand of name server you are using, and its version.

[2017-09-28 06:43] tersmitten commented on #30500
Thanks, but I meant this one /home/kenichi/.my.cnf

[2017-09-28 06:52] k-ogawa-1988 commented on #30500
@tersmitten Sorry.
There is no /home/kenichi/.my.cnf file.

[2017-09-28 07:32] tersmitten commented on #30500
But what about `config_file`?

[code]

[2017-09-28 07:34] #30941 closed, assigned to ganeshrn

[2017-09-28 07:35] lolgesten commented on #29008
@bevanbennett my local workaround for now was just to put a symbolic link to the `group_vars` in the nested directory. Does that work for you?

[2017-09-28 07:35] jborean93 opened #31030 "win async: The shell cannot be started REGDB_E_READREGDB"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
async

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Windows

##### SUMMARY
When using async over a host with a higher latency the async task fails with the error

[code]

It seems like the HKCU profile is being unloaded on an async task in a specific scenario which in the end stops the task from actually star

[2017-09-28 07:39] IaroslavR commented on #30977
I delete environment before you ask for additional info and recreate it for run with ANSIBLE_DEBUG=1
Not works with `.yml`, `.yaml`, and without any extension. I open this issue after this problem is confirmed by another user in my [stackoverflow](https://stackoverflow.com/a/46447429/4249707) question.

[2017-09-28 07:45] namondo commented on #30976
I've just checked the fix but it doesn't work - produces the same output.

[2017-09-28 07:46] namondo commented on #30976
`bash
2017-09-28 09:43:22,185 p=119772 u=root |  fatal: [localhost]: FAILED! => {"changed": false, "dest": "/opt/unarchive_test/", "extract_results": {"cmd": ["/usr/bin/unzip", "-o", "/root/.ansible/tmp/ansible-tmp-1506584601.44-94119324866971/source", "-d", "/opt/unarchive_test/"], "err": "", "out": "Archive:  /root/.ansible/tmp/ansible-tmp-1506584601.44-94119324866971/source\nwarning:  skipped \

[2017-09-28 07:48] namondo commented on #30976
Otherwise it does unzip the arhive but exits with failure.

[2017-09-28 07:52] bevanbennett commented on #29008
It is exactly what we enabled as a temporary workaround, but is not sustainable.
We also had to link the host_vars, and we had to do it in every directory with playbooks... it's really really ugly.

[2017-09-28 07:57] jhawkesworth commented on #30972
Packer seems to be able to do something like this, but I haven't investigated how.

[2017-09-28 08:09] k-ogawa-1988 commented on #30500
I'm not set `config_file` explicitly at any ansible configurations/tasks.

[2017-09-28 08:14] roumano commented on #30636
Confirmed, the issue is fixed for me via installing this version :
[code]

[2017-09-28 08:16] jardleex commented on #30557
I can confirm that this issus also effects version **2.3.2.0**

[code]

Just tested Ansible **2.4**. There the error no longer exists.
#25800 fixed the issue some time ago.

Unfortunately we can't update to Ansible 2.4 as we're waiting to have #30534 available in a stable 2.4.x version.
Replacing/updating just the single module fixed the isse in the meantime for us.

[2017-09-28 08:22] tonytan4ever opened #31032 "Simple localhost ini inventory file won't load when running playbook"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

InventoryManager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OSX 10.12.6

##### SUMMARY

 A simple ini inventory won't load when running a play book.

[code]

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2017-09-28 08:24] jhawkesworth commented on #31030
Nice find.  Feels like a windows issue, or perhaps an assumption about how windows is going to be used.

[2017-09-28 08:26] clarkst commented on #30639
OK I'll take a look at building a module for firehose.

It'll have the minimum functionality initially (meeting my needs of course Stream -> Firehose -> S3 )

[2017-09-28 08:41] Vladimir-csp opened #31034 "service: Please add option to use rc.conf.d on FreeBSD"
##### ISSUE TYPE

 - Feature Idea
##### COMPONENT NAME

service
##### ANSIBLE VERSION

N/A
##### OS / ENVIRONMENT

FreeBSD client
##### SUMMARY

Please add an option to service module to use rc.conf.d/service_name  instead of rc.conf file on FreeBSD to control service enabled/disabled state.
For example this service statement:
[code]
would ensure that /etc/rc.conf.d/snmpd exists and has a line in

[2017-09-28 08:45] Jeyanthinath commented on #31017
@bcoca  Shall I give it a try ?

[2017-09-28 09:03] paprickar commented on #11905
I love ansible but from my point of view its a bug. Please consider to fix that.

[2017-09-28 09:04] manderson-it commented on #30638
The version is not part of the package name. See apt-cache show nginx. They are two separate meta data "Package:" and "Version:". Can't you achieve your desired result with "state: latest"?

[2017-09-28 09:10] ChriFo commented on #30980
My ansible repo was not up to date. I had still the old core submodule so that there were two _docker.py for example.

[2017-09-28 09:10] #30980 closed, assigned to nobody

[2017-09-28 09:14] dagwieers commented on #30976
I am done maintaining the unarchive module. https://github.com/ansible/ansible-modules-core/issues/3241
Feel free to make a PR for this issue if you fixed the problem.

[2017-09-28 09:15] mattclay commented on #30903
@willthames Thanks for the repro, it helped me isolate the issue faster than running it through CI.

The timeout issue we're seeing in CI is intermittent, and only on Python 3, but this repro triggers it and yields the same error. It occurs while deserializing a Group which has multiple Host references.

During deserialization of Group, it tries to add all the Host objects to a set. However, not a

[2017-09-28 09:22] josteinaj commented on #29599
I just noticed this bug as well.

1. Installed gems using gem module (on our Jenkins server)
2. Realized that gems were installed only for `root` user and not the `jenkins` user
3. Added `user_install=no` to fix it, but the gems were just reported as "ok" since they were already installed
4. Logged into the server as root user and uninstalled the packages manually
5. Ran ansible task again, and th

[2017-09-28 09:27] perolausson opened #31036 "stdout_lines doesn't work with quote filter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Quote filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Standard

##### OS / ENVIRONMENT

Ubuntu 17.04

##### SUMMARY
Using quote filter to process stdout_lines fails with:

##### STEPS TO REPRODUCE

Quote filter works with stdout but does not work with stdout_lines

[code]

##### EXPECTED RESULTS
Two dates are printed.

##### ACTUAL

[2017-09-28 09:31] kepeket commented on #30638
Hi,

I'm expecting to pin-point a specific version, that's the goal of my playbook.

I've debug print the whole process, and I can assure you that you can't move to a specific version of an installed package anymore.

[2017-09-28 10:04] perolausson commented on #31019
No, of course it isn't a delegated gTLD. It is a hardware cable modem which is serving local DNS responses to devices registered on the local network only. Unfortunately I can't change the firmware, so I am at the mercy of whatever I can persuade my ISP to do about it or the supplier of the hardware, technicolor TG589vn v3 10.5.2.F.BN.

I can't supply you with a worldly problem because I don't kno

[2017-09-28 10:22] jpmens commented on #31019
If you comment out the whole line

[code]

does the query work? That would be a quick workaround: simply not set edns. I'd be prepared to do that.

[2017-09-28 10:29] ghost commented on #30642
@willthames  thanks for the tips, led me in the right direction.

[2017-09-28 10:32] perolausson commented on #31019
I believe the default behaviour in dnspython is not to use EDNS. But in dig it is now default. I am guessing this is in flux at the moment, as EDNS support is becoming the defacto standard. The RFC is old enough.

Example code that works:

...
import dns.resolver

try:
    resolver = dns.resolver.Resolver()
    resolver.use_edns(-1, True, 4096)
    answers = resolver.query('zeus2.lan', 'A')
    pr

[2017-09-28 10:34] kedarkekan commented on #26447
Integration tests seems to be running fine with csr1000v.

[code]

provider and transport arg removed from integration tests is the only recent change

[2017-09-28 10:43] ashemedai commented on #30760
@denefoster We also use become with these tasks, but not become_user at least. I need to do some more digging. But I have some other 2.4 problems to investigate as well.

[2017-09-28 11:00] namondo commented on #30976
From unzip man:

` -:     [all  but Acorn, VM/CMS, MVS, Tandem] allows to extract archive members into locations outside of the cur‐
              rent `` extraction root folder''. For security reasons, unzip normally removes ``parent dir'' path  compo‐
              nents  (``../'')  from  the  names of extracted file.  This safety feature (new for version 5.50) prevents
              unzip from

[2017-09-28 11:23] rsanzante opened #31040 "Using "--i server,"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME
Variable management

##### ANSIBLE VERSION

[code]
This has been tested also with current devel branch.

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 17.04

##### SUMMARY

The [documentation states](http://docs.ansible.com/ansible/latest/intro_inventory.html#splitting-out-host-and-group-specific-data) about group_vars and host_vars loading:

[2017-09-28 11:24] rsanzante opened #31041 "Using "--i server," inventory option only loads vars from playbook directory, not current dir"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME
Variable management

##### ANSIBLE VERSION

[code]
This has been tested also with current devel branch.

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 17.04

##### SUMMARY

The [documentation states](http://docs.ansible.com/ansible/latest/intro_inventory.html#splitting-out-host-and-group-specific-data) about group_vars and host_vars loading:

[2017-09-28 11:42] StephanZaat commented on #30760
I'm also running into an issue here. It seems related. Pipelining seems to be broken for me in 2.4.
This results in errors from Ansible about the unpriviledged user when using modules that use become_user:

example:
[code]

Result when running playbook using that task:

`fatal: [<host>]: FAILED! => {"failed": true, "msg": "Failed to set permissions on the temporary files Ansible needs to create wh

[2017-09-28 11:46] Windesson commented on #25507
I had the same problem.. self.facts['memtotal_mb'] = int(data['memory_usage_total']) / 1024
So, it  seems this was a command ' | json' permission issue.
switch-a# show system resources | json
Permission denied. /isan/bin/nxpython: can't open file '/isan/bin/pipejson': [Errno 13] Permission denied

It would be nice to update the module to catch when the user does not have permission to use the pipe

[2017-09-28 12:02] ImTheDeveloper commented on #26384
I've hit the same issue. I use nvm to install node and I checked over all of my $PATHS and all seemed well. No idea what the root cause is, it seems to be to do with the user its attempting to run as. However my short term fix was to use shell..

[code]

[2017-09-28 12:13] jmvbxx commented on #26384
For what it's worth, I only have this problem with mom installed via node
v4. I just moved to node v6 installed via ppa on Ubuntu and the problem
doesn't occur.

On Sep 28, 2017 07:04, "Chris" <notifications@github.com> wrote:

[2017-09-28 12:26] ssbarnea opened #31042 "os_server fails to fail if image name does not exists"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It seems that when image does not exist on the cloud the provisioning will happen with another imaged, probably a default one but that's clearly not what the user asked for if he defined the image parameter.

##### STEPS TO REPRODUCE

[code]

[2017-09-28 12:27] rsanzante commented on #31040
This issue is a bad submit from https://github.com/ansible/ansible/issues/31041. Please delete it.

[2017-09-28 12:27] #31040 closed, assigned to nobody

[2017-09-28 12:28] rsanzante commented on #31041
[ansible_issue_31041.zip](https://github.com/ansible/ansible/files/1340816/ansible_issue_31041.zip)

Zip with files to reproduce the issue.

[2017-09-28 12:39] ioliinykova opened #31043 "problem with conditionals and matching a variable in dictionary"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`when` conditional

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Standard configuration

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

Problem with `when` conditionals when trying to match a variable that makes part of a dictionary.

Worked perfectly until Ansible version update.
Since in new version there are the following warnings:

[2017-09-28 12:54] davidfokkema commented on #10472
@rafaelhenrique sleep 5 means five *seconds*, not minutes, so it will finish much quicker than you might expect. Shutdown -t 5 *does* mean five minutes, so there is a difference. If that is not your problem, please be a bit more specific than: “this doesn’t work.”

[2017-09-28 13:14] EyePulp commented on #26384
I've used this issue as an excuse to start migrating our projects to using yarn.  It makes builds and provisioning (or re-running) a lot faster on the module/package side of things.  I'm sure it has it's own warts too, but I haven't run into them yet.

[2017-09-28 13:42] abhijitbonik commented on #19584
try-

ansible webserver -m ping --ask-pass -i path_to_local_hosts_file

[2017-09-28 13:45] jkogut commented on #5512
:+1:

[2017-09-28 13:55] sanjeevrg473 commented on #30950
@jborean93 All issues resolved.. Thanks for your time

[2017-09-28 14:10] bcoca commented on #31017
less work for me? yes, definitely

[2017-09-28 14:15] apolyr commented on #28757
show route | display json:
----------

{
    "route-information" : [
    {
        "attributes" : {"xmlns" : "http://xml.juniper.net/junos/17.1R1/junos-routing"},
        "route-table" : [
        {
            "comment" : "keepalive",
            "table-name" : [
            {
                "data" : "inet.0"
            }
            ],
            "destination-count" : [
            {

[2017-09-28 14:17] guilim commented on #30556
For info, same thing if `decrypt: yes` is used (not specific to `decrypt: no`)

If specified, the `decrypt` param seems to be passed to the `file` module by `copy` when the destination file already exists... but `file` does not support `decrypt`

[2017-09-28 14:19] apolyr commented on #28757
This is a lab router so you will find many "weird" routes. However we have seen this problem in much simpler production environments and different junos versions. You should be able to reproduce easily (even in a VMX). If you have trouble with that let me know.

[2017-09-28 14:19] bcoca commented on #30479
you mean like this  ```'ansible.parsing.yaml.objects.AnsibleUnicode object' has no attribute 'get'"``` ?

[2017-09-28 14:24] itdependsnetworks commented on #30479
So you are saying since it is Unicode it's not a string, that was lost on me. Anyway to have flask like output?

[2017-09-28 14:30] ryansb commented on #30319
Both fixes have been merged. Please reopen (or open a new issue) if these don't fix it for your use case.

[2017-09-28 14:30] #30319 closed, assigned to nobody

[2017-09-28 14:40] espressobeanies commented on #28772
Hi,

I'm running into the same problem, but I'm invoking my password field a bit differently:

**ISSUE TYPE**
Bug

**COMPONENT NAME**
(None)

**ANSIBLE VERSION**
ansible 2.1.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
Python version = 2.7.12

**OS Environment**
VM with Ubuntu Xenial

**Summary**
When invoking the following task in the user m

[2017-09-28 14:43] bcoca commented on #31043
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-09-28 14:43] #31043 closed, assigned to nobody

[2017-09-28 14:59] passw0rd123 opened #31049 "Missing facts on Solaris 11.3 (x86) with Ansible 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
setup / gather_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- macOS Sierra 10.12.6

##### SUMMARY
Since Ansible 2.4.0.0 the setup module drops many facts on Solaris 11.3 (x86) systems which were available in Ansible 2.3. CentOS 7.4 seems not to be affected by this issue.

In a quick diff the followi

[2017-09-28 14:59] alikins commented on #30753
fix was also cherry-picked to stable-2.4 in 4025b4762908d00f0ba2fee7a4bd8e75941f854b
(from 95abc1d82e4c40832c802253107ad3f9aeebc68d from https://github.com/ansible/ansible/pull/30777)

[2017-09-28 15:05] alikins commented on #31049
@passw0rd123 Could you post the output from the ansible -m setup for 2.3 and 2.4?

[2017-09-28 15:10] sivel commented on #31036
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In particular, we believe you have said:

   * The quote filter does not work on stdout_lines

However, however what is happening is th

[2017-09-28 15:10] #31036 closed, assigned to nobody

[2017-09-28 15:14] Qalthos commented on #19833
This seems to work properly in 2.4.0, and as you no longer have access to the device in question to verify, I think we can consider this issue fixed.

If it does reoccur, feel free to reopen or open a new issue.

[2017-09-28 15:14] #19833 closed, assigned to Qalthos

[2017-09-28 15:14] alikins commented on #31049
@passw0rd123 also, the output of:
[code]

[2017-09-28 15:25] 2ndK opened #31050 "win_ini_file module for windows"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ini_file
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

running on Ubuntu 16.04. Managing OS Windows 7

##### SUMMARY

trying to modify ini-file on Windows Fails always
##### STEPS TO REPRODUCE

 - name: modify test-ini on windows
   ini_file:
     dest: 'C:\ansible\foo.ini'
     section: test
     option: test

[2017-09-28 15:30] dan-osms commented on #30639
That would be a good start! I wish I could build it myself.

[2017-09-28 15:42] bargemb opened #31051 "expect module fails for windows target systems"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
expect module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible host: Red Hat Enterprise Linux Server release 7.2 (Maipo)
Managed host: Windows Server 2008 R2

##### SUMMARY
expect module for interactive execution fails if target host is windows

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Mod

[2017-09-28 15:44] sivel commented on #31051
The expect module is written in python, and thus will only work on linux like OSes.  To get this functionality on windows, a new `win_expect` module would be needed.

I'm moving this from a bug report to a feature idea.

[2017-09-28 15:44] sivel commented on #31051
needs_contributor

[2017-09-28 15:58] alikins commented on #30993
I can reproduce that...

[code]

... doesn't work in 2.4, but I can't reproduce the rest.

For me, on 2.4.0.0, I get:

[code]

But it also fails on 2.3, 2.2, and 2.1

2.3
[code]

2.2
[code]

2.1

[code]

[2017-09-28 16:00] mikedlr commented on #29831
@zentavr

The new rds_instance / rds_snapshot modules under development implement snapshots and restore from snapshots via the rds_snapshot module.  see PR https://github.com/ansible/ansible/pull/30746.

Is that enough for you?  What more would you need to be able to do your point in time restores?  Can you try it and see if it's useful please.

[2017-09-28 16:01] alikins commented on #30993
@sebastianneubauer paste the 'ansible --version' and an example output of ansible 2.3 working?

[code]

[2017-09-28 16:02] amsinha2 opened #31053 "aws_s3_bucket_facts returning xml parsing issue"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

aws_s3_bucket_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/opt/internal/networks/ansible_dev/ansible.cfg) = [u'/opt/internal/networks/ansible_dev/inventory/Dev']
DEFAULT_PRIVATE_KEY_FILE(/opt/internal/networks/ansible_dev/ansible.cfg) = /home/netdev/.ssh/id_rsa
DEFAULT_ROLES_PATH(/opt/internal/networks/ansible_de

[2017-09-28 16:13] bcoca commented on #31032
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2017-09-28 16:13] #31032 closed, assigned to nobody

[2017-09-28 16:19] mikedlr commented on #30094
@flyte / @willthames

Looking at this, the current situation matches the way that AWS works.  The call which deletes the RDS doesn't return any information about the snapshot created.  This means that the only way to implement this would be to first do the instance delete and then check that the snapshot exists.

You can do the same thing now at the playbook level with the new split up RDS modules

[2017-09-28 16:20] alikins commented on #30993
I can reproduce the 'ERROR! Attempting to decrypt but no vault secrets found' error with 2.4, if the playbook I am using is vault encrypted.

In this case, 'ping_noop.yml' has been vault-encrypted with the password 'password'

[code]

But it also doesn't work on 2.3:

[code]

Or 2.2:

[code]

Or 2.1:

[code]

[2017-09-28 16:26] ghost commented on #30642
The resolution was to update boto.

[2017-09-28 16:26] #30642 closed, assigned to nobody

[2017-09-28 16:26] alikins commented on #30929
I can reproduce this with stable-2.4

[code]

works in stable-2.3:

[code]

[2017-09-28 16:35] mikedlr commented on #28981
@xlr-8 there's a PR here: https://github.com/ansible/ansible/pull/30746 if you have a look at that you may see that it's easy to implement; just add a function to stop the DB instance, copying the one that does replica promotion, for example.  I'll probably do that some time though not immediately due to other priorities.

@willthames is there any reason to have a `started` / `restarted` state?  I

[2017-09-28 16:43] dan-osms opened #31055 "Ansible 2.4 ec2_vpc_net doesn't read profile within play loads default boto creds"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_vpc_net
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_PIPELINING(/Users/username/Documents/kraken/git/ansible-aws-vpc/ansible.cfg) = True
COLOR_DEBUG(/Users/username/Documents/kraken/git/ansible-aws-vpc/ansible.cfg) = dark gray
DEFAULT_HOST_LIST(/Users/username/Documents/kraken/git/ansible-aws-vpc/ansible.cfg) = [u'/Users

[2017-09-28 16:46] alikins commented on #30878
Currently encrypt only works for one vault-id, so multiple entries in vault_identity_list (or multiple --vault-id/--ask-vault-pass/--vault-password-file cli args) will cause that error.

I have a few ideas on how to fix:

1) add some config item like 'vault_encrypt_id' to specify which vault-id to use for encryption by default

2) add a --encrypt-vault-id cli arg to specify which vault-id to use f

[2017-09-28 16:47] alikins commented on #30878
There is some related discussion in the comments for https://github.com/ansible/ansible/issues/30491

[2017-09-28 17:07] alikins commented on #30550
fwiw, 'ansible-vault view example.txt'  can be used in lieu of 'ansible-vault decrypt example.txt --output= -' for the time being.

[2017-09-28 17:14] aioue commented on #30901
is their an `inventory_dirs` (or similarly named) list?

[2017-09-28 17:26] rahushen opened #31056 "nxos_portchannel : module not idempotent for N1 images"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_portchannel

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

Output of `show port-channel summary | json` returns `group` as int as compared to a string on other platforms. This causes idempotence issues on N1 images. The fix is to check for both string and int equality.

##### ST

[2017-09-28 17:28] dan-osms commented on #31055
Same thing is happening with     iam_role module. I fear this is more wide spread then to the module itself. I had to revert back to 2.3.2.0 to get things back on track. I force reinstalled boto and boto3. Still same issue.

[2017-09-28 17:38] alikins commented on #30550
I thought I had an intg test case for this, but it was slightly different:

[code]

But the test doesnt actually check the stdout, so it was passing... fixing both.

[2017-09-28 17:40] bcoca commented on #30901
inventory_dir still exists, but each host has it's own, `ansible_inventory_sources ` (in 2.5) contains 'all current sources' so  the 'dir' can be extracted from the one you want.

Im still debating on what the default for `add_host` should be, but mostly favoring "current playbook's dir"

[2017-09-28 17:44] mattwwarren commented on #30652
Ping. There are a number of useful features introduced in 2.4 that we would like to use. If I can get past this, it would be very helpful.

[2017-09-28 17:59] aioue opened #31058 "ansible_inventory_sources not populating"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

source: os x 10.12.6

##### SUMMARY

`ansible_inventory_sources` variable is not populating with the inventory list passed on the command line

##### STEPS TO REPRODUCE

Play:
[code]

Invocation:
[code]

##### EXPECTED RESULTS

1 list containing `inv

[2017-09-28 18:10] sivel commented on #31058
It appears that `ansible_inventory_sources` was only recently added to devel for the 2.5 release and is not part of 2.4:

https://github.com/ansible/ansible/pull/30379

The changelog for 2.5 references this change as well.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible

[2017-09-28 18:10] #31058 closed, assigned to nobody

[2017-09-28 18:14] calfonso commented on #18140
@aucampia would you mind testing this with the latest release of 2.4 and tell us if you're still seeing the issue. We believe this might be fixed. Thanks!

needs_info

[2017-09-28 18:16] aioue commented on #31058
@sivel the variable ideally needs backporting to 2.4 as `inventory_dir` no longer exists globally in this release, and since `ansible_inventory_sources` is also not present in this release, we've lost available information.

[2017-09-28 18:21] sivel commented on #31058
That is incorrect:

[code]

Based on that output, ansible 2.4 does include `inventory_dir`

[2017-09-28 18:23] jimi-c commented on #22157
Hi @skanagal, sorry for the late follow-up but the issue here is that, when using a loop + async, the async_job_id is contained within the `results: []` list in the registered value. So, to access it in your second task, you need to loop over those results instead of the inventory hostvars.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appro

[2017-09-28 18:23] #22157 closed, assigned to nobody

[2017-09-28 18:24] aioue commented on #31058
@sivel exact same as above report, but with `inventory_var` as the debug var:

Play:
[code]

Output:
[code]

[2017-09-28 18:27] calfonso commented on #18923
Hi!

Thanks very much for your submission to Ansible. It sincerely means a lot to us.

We're not sure this is a bug. You've explained what your expectations are on the list ordering but we aren't quite sure we want to implement an inherent sorting or any other sorting options. If you feel like you want to demonstrate an implementation the convince us otherwise, we'd be happy to review a PR. Thanks

[2017-09-28 18:27] #18923 closed, assigned to nobody

[2017-09-28 18:28] aioue commented on #31058
Confirmed `all[0]` host pattern works. `localhost` does not.

Would you like a separate bug raised or is this expected?

[2017-09-28 18:29] alikins commented on #18197
Is this still a problem in 2.3 or 2.4?

[2017-09-28 18:32] alikins commented on #18197
If you are running from an ansible source check out, could you try running

[code]

On the solaris box and posting the results.

[2017-09-28 18:35] kerugu commented on #30327
Please find attached termination playbook

[termination_playbook.txt](https://github.com/ansible/ansible/files/1341929/termination_playbook.txt)

[2017-09-28 18:38] calfonso commented on #26048
@johnbateman we don't support UTF-8 with byte order marks as UTF-8 doesn't require BOMs. Our suggestion is to encode without BOMs.

[2017-09-28 18:38] #26048 closed, assigned to nobody

[2017-09-28 18:38] sivel commented on #31058
Yes open a new issue. The bug is that if `localhost` is not in your inventory file, it will not contain the `inventory_dir` variable.

If `localhost` is in you inventory, then `inventory_dir` will be set.

That is a change from 2.3 to 2.4.

[2017-09-28 18:54] mtnbikenc commented on #30691
I ran a git bisect on the stable-2.4 branch to track down where the error cropped up.  The bad commit is 1bf8c9997499361dc5fe05206969a4ff52a56ecf.

Here is the git bisect log:
[code]

I dug into the problem further and found that it has something to do with setting the default for that attribute, `default=False` breaks it.  It works again after applying the following patch.  Note that the `_any_er

[2017-09-28 19:05] abadger commented on #26006
needs_info

Did you solve this?  The problem is probably that older versions of python do not have an SSLContext which allows us to validate the ssl certificates provided by a server.  However, the code is supposed to be written to fallback gracefully (or at worst, give a helpful error message).

I was unable to reproduce the error on an ubuntu-14.04 box here:

[code]

[2017-09-28 19:06] abadger commented on #26006
Sorry -- ubuntu 14.04.  14.04 is an LTS so that's what we've been testing against.

[2017-09-28 19:09] sivel commented on #26006
This is not specifically a comment to address the exception, but to select the proper python path in travis to support SSL you should take a look at https://github.com/ansible/ansible/issues/23642#issuecomment-297778256

That may be part of the cause of issues as well.  Defaulting to `/usr/bin/python` on travis doesn't work well.  Selecting the appropriate python version that travis installs in th

[2017-09-28 19:15] guhcampos commented on #20711
Might be unrelated, but the `rpm_key` module fails consistently for me when running inside an ansible-container conductor. I don't have the exact error right now because I ended up replacing the calls to `rpm_key` by calls to `command` with `rpm --import` which works just fine, and might be a workaround for this bug.

This is how my ansible-container roles all look like today:

[code]

[2017-09-28 19:38] dan-osms commented on #31055
https://github.com/ansible/ansible/issues/28821

This was a problem with 2.4 before pre RC1. The fix was pip3 install boto3. However this "workaround" isn't working any longer.

[code]
This ^^ was the original fix in issue #28821

[2017-09-28 19:47] trondhindenes commented on #31003
Nice, thanks for keeping improving on dsc! I'm swamped at work so unfortunately not able to do much with Ansible atm. Just wanted to comment on the nested definitions bit: As far as I can see the big hurdle is how we deserialize yaml/json into valid types such as "MSFT_xWebBindingInformation". The codebase already has some fairly ugly parsers to handle the most standard stuff, but we should define

[2017-09-28 19:50] trondhindenes commented on #25420
There are Powershell-based micro web frameworks available, we shouldn't have to write this from scratch ourselves. But yeah - does it have to be Powershell? Why not reuse testserver.py?

[2017-09-28 19:59] jmeekins commented on #30995
not a bug

[2017-09-28 19:59] #30995 closed, assigned to nobody

[2017-09-28 20:02] jborean93 commented on #31003
Thanks for the comments @trondhindenes much appreciated. I am planning on looking at the module for 2.5 and to see what can be done but it is early days for me. One way I was thinking was to define it like

[code]

I would have to test it out and actually see what the requirements are but any other ideas would be good to have.

[2017-09-28 20:09] wenottingham opened #31063 "gce doesn't work with libcloud 2.0 (or fails badly) - AttributeError: 'GCEFailedNode' object has no attribute 'extra'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gce

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

nothing special

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY
[code]
yields:

[code]

##### STEPS TO REPRODUCE

See above

##### EXPECTED RESULTS

No traceback - either success, or an actual error message if I screwed something up.

[2017-09-28 20:12] nkakouros commented on #12003
According to the [CHANGELOG](https://github.com/ansible/ansible/blob/devel/CHANGELOG.md) for 2.5 this is implemented.

[2017-09-28 20:30] drmrd commented on #30833
@stewartwebb: Sure thing! Glad it's working for you. 😄

[2017-09-28 20:35] gamuniz opened #31064 "Please update docs to reflect best practices on Print in custom modules."
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

Documents here do not match our best practices documentation:

http://docs.ansible.com/ansible/latest/dev_guide/developing_modules.html#common-pitfalls

This link makes it clear that you shouldn't use PRINT:

http://docs.ansible.com/ansible/latest/dev_guide/developing_modules_best_practices.html#common-pitfalls

##### ANSIBLE VERSION

[2017-09-28 20:51] Zapeth opened #31068 "Ansible uses the same ssh tunnel for all hosts in group"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
winrm

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

**managing OS:** CentOS 7
**target OS's:** Windows 8 (in a subnet managed by Linux servers)

##### SUMMARY

In our network we have Windows 8 clients that are in subnets managed by Linux servers and I want to use Ansible to manage those clients, however I was unable to find a clear/"off

[2017-09-28 21:10] #23909 closed, assigned to rcarrillocruz

[2017-09-28 21:13] petRUShka opened #31070 "ctags tags file in module path broke ansible"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
PluginLoader

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_MODULE_PATH(/home/user/spark/ansible.cfg) = [u'/home/user/spark/library/ansible-aur']

##### OS / ENVIRONMENT
Arch linux

##### SUMMARY
`tags` file generated by ctags somewhere in module path brake ansible `tags`.

##### STEPS TO REPRODUCE
- add some module path to your `ans

[2017-09-28 21:19] sivel commented on #31070
Effectively what you have done is create a file that shadows the name of a directive, in a path where modules are searched for.  Ansible modules don't require file extensions, so it picks up the `tags` file thinking it is a module that ansible can execute.

Note here, that ansible doesn't necessarily inspect what this file is, because ansible supports binary modules, etc...

As such, it now thinks

[2017-09-28 21:20] clcollins commented on #25897
@mmckinst - Did you ever end up working on this?  I think it would be beneficial, and could probably write a patch, but I'm unsure where to make the differentiation.  Is Atomic different enough to be considered it's own ansible_distribution?  Major version?  release?  version?

Looking at the source briefly, it does't look like there's currently consideration for something like variant.  I think m

[2017-09-28 21:28] tchernomax opened #31071 "include_role: role handler not found"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

handler from a role called via "include_role" module, from another role called via the "roles" array of a play, aren't found if the play contain one or more handlers.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[

[2017-09-28 21:29] coltsixshooter commented on #30879
Looking at the source code for vmware_guest I think the problem is that if cluster is selected it never sets the hostname only if esxi_hostname is set.

[2017-09-28 21:52] petRUShka commented on #31070
For me it was bug because I've spend a lot of time to debug it :)

But I agree with you in general case.

[2017-09-28 22:02] mattclay commented on #30903
@willthames Can you test the fix in https://github.com/ansible/ansible/pull/31033 to see if it resolves your issue?

[2017-09-28 22:26] alikins commented on #30911
Is this related to https://github.com/ansible/ansible/issues/23586 and https://github.com/ansible/ansible/pull/23839 ?

[2017-09-28 22:33] LuckySB commented on #31071
very old bug. that is feature
workaround:
[code]

write all handlers to roles/handlers/handlers/main.yml

write to roles/role(2,3)/handlers/main.yml
[code]

[2017-09-28 22:37] coltsixshooter commented on #30879
This seems to be specific to a template creation.

[2017-09-28 22:44] jborean93 commented on #30911
Hey @daBONDi, thanks to @bcoca he was able to get a fix for this https://github.com/ansible/ansible/pull/31072. It fixes both this issue and an issue where task vars wouldn't affect the winrm connection plugin.

Once the tests pass I will merge and backport it to 2.3 and 2.4 for future releases on that version.

One thing to note though, you are doing a recursive lookup on the `deleted_item_retent

[2017-09-28 22:45] mmckinst commented on #25897
@clcollins I haven't had a chance to do this. I looked at the code and was also thinking about putting this in python since that's where ansible gets a lot of the OS information.

From the operational perspective, atomic host is kind of a like a different OS. For example, you're not going to be able to do a `yum install package` on it like you'd do for other Red Hat based distros.

I'd be interest

[2017-09-28 22:49] LuckySB opened #31073 "include_vars from yml file import variable with filter only in string format"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_vars

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Variables defined with filters are imported only in string format

##### STEPS TO REPRODUCE
clone test role https://github.com/LuckySB/ansible_bug_load_vars_from_yaml
run test.sh

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[2017-09-28 22:53] rcarrillocruz commented on #30634
resolved_by_pr 29147

[2017-09-28 22:53] rcarrillocruz commented on #30634
I'll backport https://github.com/ansible/ansible/pull/29147 to 2.4

[2017-09-28 22:53] #30634 closed, assigned to nobody

[2017-09-28 22:59] coltsixshooter commented on #30879
In the function deploy_vm i changed the following and it seems to be working now

old -

if self.params['esxi_hostname']:
  relospec.host = self.select_host()

new -

if self.params['esxi_hostname'] or self.params['cluster']:
  relospec.host = self.select_host()

[2017-09-28 23:15] LuckySB opened #31074 "when stdout_callback=actionable task names with variables write to log without values"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
callback_plugins        = plugins
stdout_callback         = actionable

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Centos 7.4

##### SUMMARY
When i use stdout_callback=actionable task name with variables in screen output and log displayed with variable name, not variable value

##### STEPS TO REPRODUCE
clone

[2017-09-28 23:23] jimmymccrory commented on #30634
https://github.com/ansible/ansible/pull/29147 is a fix for when no id is provided.
When an id is provided, the module still fails.

[2017-09-28 23:45] jamiejamison opened #31075 "aws_s3 module GET operation fails to get unversioned objects"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

aws_s3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.5 LTS
Release:	14.04
Codename:	trusty

##### SUMMARY

Attempting to download unversioned objects from an S3 bucket using the aws_s3 module in ansible 2.4 fails.

##### STEPS TO REPRODUCE

[code]

##### EX

[2017-09-28 23:51] jborean93 commented on #30837
@jlandersen are you able to test out https://github.com/ansible/ansible/pull/31076 and see if that fixes your issue. If it works I'll merge and backport it to stable-2.4 for the 2.4.1 release.

[2017-09-29 00:09] jborean93 commented on #30860
The limitation is still there in 2016, the limit is just 259 characters now. I'm going to set a PR to limit it to 255 regardless to keep it uniform and simply the logic in the module itself.

[2017-09-29 00:19] abadger commented on #30652
@mattwwarren I'm unable to reproduce.  Is this behaviour specific to Amazon Linux?

[code]

needs_info

[2017-09-29 00:21] jborean93 commented on #30860
https://github.com/ansible/ansible/pull/31078 been created to add this check.

[2017-09-29 00:28] willthames commented on #30901
@bcoca, my preference is to just make the workaround the default - so that add_host gets the `inventory_dir` of the host running `add_host`.

Please do not make it the current playbook dir, that would be worse than the existing situation (at least it breaks obviously right now)

[2017-09-29 00:37] jctanner commented on #29043
@mainjoehere can you retest with the latest devel code? I have made a couple of changes over the past week that should have at least improved this situation.

needs_info

[2017-09-29 00:40] jborean93 commented on #30766
@aelmehra, the module is failing at the line `Get-WindowsPackage -Online -PackagePath $cab_file`, win_hotfix uses the DISM powershell cmdlets and not the dism.exe exectuable. These are not natively available before Server 2012 and can be installed with the windows-adk which you may have already done.

Are you able to try and run

[code]

If this return the error `DismInitialize failed. Error code

[2017-09-29 01:08] abadger commented on #30652
@mattwwarren Ah... What's your inventory entry for this host?  -u on the command line has very little precedent so if the ansible_user for the host is set practically anywhere else, it will get overridden.  The only thing that confuses me about that idea is that the behaviour with 2.3.2 is the same as 2.4.0 in that regard.

[2017-09-29 01:12] #30911 closed, assigned to nobody