[2019-04-23 18:33] bcoca commented on #55476
temporary fix to at least let people know that they cannot really use globs with module:
[code]

[2019-04-23 19:08] Tahvok opened #55669 "Randomly receiving 'NoneType' object has no attribute 'name' after inventory refresh"
##### SUMMARY
I have a long playbook with multiple plays, where I multiple times refresh my inventory against google cloud right before running the next play.
I randomly receive an error at exactly the same point on my playbook.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

inventory

##### ANSIBLE VERSION

[code]

##### EXPECTED RESULTS

The playbook would continue fine.

##### ACTUAL RES

[2019-04-23 19:15] jpmontez commented on #29756
I'm seeing this as well when trying to modify an RDS instance's name. The output says the API command was issued, but the RDS console and CloudTrail logs say otherwise.

[2019-04-23 19:38] samdoran commented on #55132
This is not related to `include_role`.

Here is a simpler reproducer:

[code]

[code]

[2019-04-23 19:45] samdoran commented on #55132
The main problem here is that `run_once: my_flag` has a "bare variable". In order for the variable to be templated, it needs to be wrapped in `{{}}`. Changing it to this `run_once: "{{ my_flag }}"` will give you the desired output.

It seems we should warn on bare vars in this field, though. From looking through the code, we pass the literal string to be templated, which it is but simple returns t

[2019-04-23 20:57] codyjohn commented on #50905
Perhaps related to:

https://github.com/ansible/ansible/issues/54519

Which was fixed by:

https://github.com/ansible/ansible/pull/54958

[2019-04-23 21:23] #45266 closed, assigned to nobody

[2019-04-23 21:24] subramanian-umasa commented on #55256
Im facing the same issue while installing Google Chrome. Error is below.

u"version": u"", u"name": u"googlechrome", u"ignore_checksums": True}) => {"changed": false, "choco_error_cmd": "choco.exe install -dv -y googlechrome -timeout 2700", "choco_error_log": null, "failed": true, "item": {"ignore_checksums": true, "name": "googlechrome", "version": ""}, "msg": "Error installing googlechrome", "rc

[2019-04-23 22:27] UnitedMarsupials commented on #14674
Here is my improvement on @gg7's idea:

- Do not create the temporary files unnecessarily
- Get rid of the temporary files created
- Use the original difflib implementation by default -- unless `ANSIBLE_DIFF_ARGS` is found in the environment
- Pass the `$ANSIBLE_DIFF_ARGS` to `diff(1)` -- allow arbitrary options, not just `-w`
- Respect `C.DIFF_CONTEXT` when invoking `diff` (unless overwritten in

[2019-04-24 00:43] willthames commented on #51242
@byronmccollum I have no idea what you mean by that.

I don't work on the openshift side at all, all of my contributions are purely based on the kubernetes side and I find that this module being based on the openshift python library makes almost zero difference, and it definitely has no impact here.

The only difference here is that we don't assume a default namespace as being desirable, whereas k

[2019-04-24 00:45] willthames commented on #29756
I'm just going to say that no further work is likely on the rds module, and that the rds_instance module has effectively replaced it, and is certainly where further effort would be concentrated.

If this is still a problem with the rds_instance module, we can look at addressing that.

[2019-04-24 01:59] yuwzho commented on #55656
I am working on this

[2019-04-24 02:25] kimonoki commented on #39369
yes, still occurs in 2.6.2

[2019-04-24 03:51] yuwzho commented on #55645
Hi @nicolaibaralmueller We do encourage to move the vm dependency management staff to the corresponding modules. In a few days ago, we added an option to support `attach_caching` option for the managed disk to attach to VM. You can check the PR #54710 , or reference the 2.8  documentation as well: https://docs.ansible.com/ansible/2.8/modules/azure_rm_manageddisk_module.html#parameters

For the `No

[2019-04-24 03:59] minusdavid commented on #25414
This creates an infinite loop if the unattended-upgrades service is running in the background (like in Ubuntu 18.04).

It looks like apt-daily and apt-daily-upgrade both separately run unattended-upgrades at boot, so there is also a race condition between the two services where your pgrep will return a positive integer.

[2019-04-24 03:59] Akasurde commented on #55658
!component =lib/ansible/plugins/lookup/hashi_vault.py

[2019-04-24 04:10] minusdavid commented on #25414
This is perfect. Waiting for apt-daily.service and apt-daily-upgrade.service was exactly what I wanted to do.

Checking for unattended-upgrades itself is problematic since both services call it separately. Checking for the lock file is problematic for a similar reason. Trying to do provision time changes to unattended upgrade configuration is mostly too late. Just checking for the dpkg lockfile do

[2019-04-24 04:43] #54155 closed, assigned to nobody

[2019-04-24 04:52] techagile opened #55682 "ProxMox creation of lxc VM 1220 failed with exception"
##### SUMMARY

Not able to create container on ProxMox

##### ISSUE TYPE
- Bug Report
"creation of lxc VM 1220 failed with exception: 501 Not Implemented

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

18~18.04.1-Ubuntu

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

container created

##### ACTUAL RESULTS

[code]

[2019-04-24 05:21] jborean93 commented on #55294
So this issue is because the returned json is an array and not a dictionary that it expects, you can run the following to replicate this issue

[code]

I'll have a look at fixing this as `FromJson()` shouldn't be limited to just a dictionary.

[2019-04-24 05:25] sugitk opened #55683 "firewalld module changed the rule but it didn't return `changed` status"
##### SUMMARY

firewalld module changed the rule but it didn't return `changed` status.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

firewalld

##### ANSIBLE VERSION

[code]

It also still persists on 2.7.10.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target OS version: RHEL 7.2

##### STEPS TO REPRODUCE

At first, prepare the firewall rule at RHEL 7.2.

[code]

Execute this pl

[2019-04-24 06:15] #55656 closed, assigned to nobody

[2019-04-24 06:17] jborean93 commented on #55294
@Xyon it would be great if you could test out https://github.com/ansible/ansible/pull/55691. I've tested and can confirm it fixes my example but would be great if you could try it out on your environment.

[2019-04-24 06:22] mkrizek commented on #55286
+1, cannot reproduce the issue either.

[2019-04-24 06:31] jborean93 commented on #55286
You should run `ansible-config dump --only-changed` to get all config values that are set. Make sure `ANSIBLE_KEEP_REMOTE_FILES` is not set and that you have tried the latest version to verify it's not a bug that has been fixed.

[2019-04-24 06:47] Srija2495 opened #55696 "Unable to copy files from local to remote server"
Hi Team,

This topic is in reference to the content mentioned in the below link:
https://groups.google.com/forum/#!topic/ansible-project/DlqdnWXIoBA

Here I'm going to attach the files(playbook, filecopy and inventory).

Please help us solve this issue.

Here is some information related to the versions we are using:
ANSIBLE VERSION:

ansible 2.7.9

config file = None

ansible python module locatio

[2019-04-24 06:48] nicolaibaralmueller commented on #55645
Hi @yuwzho

Ansible 2.8 is in development and we don't use dev branches in our production environment. Standard SSD support was released September 2018 so ansible support is way overdue.

[2019-04-24 07:01] jborean93 commented on #55696
This is still a user question and should be directed to the mailing list or IRC. GitHub issues are for bug reports which this is not, you won't be able to get any help here. You can continue along with your existing mailing list post or try a new one if it's a separate issue. You can do what you want to do but you are not putting things together. The last comment on your mailing list should hopefu

[2019-04-24 07:01] #55696 closed, assigned to nobody

[2019-04-24 08:14] mkrizek commented on #55644
Duplicate of https://github.com/ansible/ansible/issues/33516

[2019-04-24 08:14] #55644 closed, assigned to nobody

[2019-04-24 09:03] hannseman commented on #55581
@zoredache a fix for this have now been merged and will be available in 2.7.11 and the soon to be released 2.8 (which contains a lot of improvements for the `docker_swarm_service` module). Thanks for the detailed bug report.

[2019-04-24 09:25] julian-klode commented on #55590
So,

1. `apt-key add` is not guaranteed to work - dependencies (gnupg) for it have been demoted from Recommends to Suggests.
2. Dropping non-ASCII armored files into trusted.gpg.d as .gpg files works everywhere trusted.gpg.d exists
3. Dropping ASCII-armored files in trusted.gpg.d as .asc works on recent releases of Debian/Ubuntu, having been introduced in APT 1.4
4. apt-key has been deprecated in

[2019-04-24 09:42] pgassmann commented on #33516
Is there a definition of the desired behaviour of delegate_to: with a host not in inventory? Should this be deprecated with a warning that the host is not found in the inventory?

[2019-04-24 09:55] Asgoret commented on #55554
@willthames For clear position. You want to run `docker` inside `docker`?

[2019-04-24 10:03] julian-klode commented on #55590
FWIW, this also entails "proper" behavior of the keyring option: You should not add to keyring files in trusted.gpg.d, they are to be considered read-only (and well, replaceable).

[2019-04-24 10:24] vMarkusK opened #55703 "VMware: Support VMware SPBM Disk and VM Placement"
##### SUMMARY

The VMware vmware_guest Module should support SPBM Disk and VM Placement. An override should also be possible per disk.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

vmware_guest

##### ADDITIONAL INFORMATION

[code]

[2019-04-24 10:29] mkrizek commented on #55553
I am wondering if `update_cache: no` is what's causing this? Also, what happens if you run `yum install $rabbitmq_version`?

needs_info

[2019-04-24 10:42] #55306 closed, assigned to mkrizek

[2019-04-24 10:51] dnmvisser opened #55704 "volume_size must be an integer in ec2_instance volumes"
##### SUMMARY
Use the `ec2_instance` module to create an instance, supply a `volumes` list that contains a volume with a `volume_size` key. The value _has_ to be an integer. Fine.
But because jinja exclusively outputs strings, basic task logic such as providing a default value does not work - you'd have to supply the value directly, as an integer.
The workaround of setting `ANSIBLE_JINJA2_NATIVE=t

[2019-04-24 11:00] #55308 closed, assigned to mkrizek

[2019-04-24 11:14] fabianvf commented on #55554
@Asgoret, no it just runs the openshift apiserver, it won't actually spin up any containers. What version of the openshift Python client do you have installed in the container, and is it the same as your host? (`pip show openshift`)

@willthames we had a similar issue that was caused by a Python bug when calling __del__ on an object that references an open socket, though I think that was fixed in

[2019-04-24 11:24] mnecas commented on #55341
@tmichett you can use `group_name: group`. I'll add example to docs.

[2019-04-24 11:28] mohammedidriss opened #55706 "Admin User Permission"
##### SUMMARY
Admin user doesn't have permission to create a workflow template

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Workflow template -> workflow visualizer

##### ANSIBLE VERSION
3.4.3
[code]

##### OS / ENVIRONMENT

Redhat 7.6

##### STEPS TO REPRODUCE

[code]

[2019-04-24 11:40] #55307 closed, assigned to mkrizek

[2019-04-24 11:44] ggedde commented on #19125
I would also like this as I would like to pass --no-single-branch

[2019-04-24 11:50] ggedde opened #55707 "Add --no-single-branch to Git Module"
##### SUMMARY

I would like to use the Git Module, but also pass --no-single-branch
I want this as I also want to use depth=1, but still get the first depth from all branches.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

git module

##### ADDITIONAL INFORMATION

I have some pretty big projects that have many branches, but I only need to show the latest code from each branch.  Unfortunat

[2019-04-24 12:10] trishnaguha commented on #55381
@fcam-naveen this fix was just backported yesterday and yet to be released.

[2019-04-24 12:21] #55341 closed, assigned to nobody

[2019-04-24 12:39] tmichett commented on #55341
@mnecas

If you look at my example above ... (also copied here below)

- name: Add permission for LDAP group
  ovirt_permission:
    state: present
    user_group_name: UserGroup1
    authz_name: example.com-authz
    object_type: cluster
    object_name: mycluster
    role: ClusterAdmin

I attempted to add the group by name using "group_name". I assumed it would work just like it did for the user

[2019-04-24 12:53] yuwzho commented on #55645
@nicolaibaralmueller According to Ansible's release guideline, all new feature/options should be added in the next regular release, and only bugfix should be backport to the released version.

So after last release Ansible v2.7 (in [2018-09-06](https://docs.ansible.com/ansible/devel/roadmap/ROADMAP_2_7.html#release-schedule)), we add all  new feature supports to ansible v2.8, which will be release

[2019-04-24 12:55] fghaas commented on #54898
@danowar2k Are you still seeing this issue? I am, and I'm curious if there are any options to work around this problem.

[2019-04-24 12:57] andrewpwade opened #55709 "win_partition: "The size of the extent is less than the minimum 1MB""
##### SUMMARY

When attempting to resize an already-max-sized partition on Win 2019 the module fails with "The size of the extent is less than the minimum 1MB"

I only got this the first time it ran after a fresh install.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_partition

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows 2019 Standard (Ve

[2019-04-24 13:01] machacekondra commented on #55341
Yes, you need to first add group to RHV using `ovirt_group` module, before assigning it any permissions. Then you example should work just ok and you shouldn 't see error "Group don't exist"

[2019-04-24 13:05] tmichett commented on #55341
@machacekondra

Thanks, I'll try that. I assumed it would just pull the group like it did with the user directly from IdM.

[2019-04-24 13:07] #55709 closed, assigned to nobody

[2019-04-24 13:08] gundalow commented on #54898
@danowar2k I know a lot of people use `import q` when debugging Ansible

[2019-04-24 13:09] danowar2k commented on #54898
I am still having this issue, but I don't think it is necessarily Ansible related. The "hanging" also happens when I want to exit the ssh VM process by typing `exit`.

In other words, the hanging issue could also be produced by my host OS, my terminal (minTTY), or whatever else...

[2019-04-24 13:11] AlanCoding opened #55710 "Ansible --version no longer prints version on new line"
##### SUMMARY
The syntax of the `ansible --version` changed unexpectedly, and is now more complex to parse, and breaks version parsing tools.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/cli/adhoc.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(only defaults)

##### OS / ENVIRONMENT
Local machine, N/A

##### STEPS TO REPRODUCE
`ansible --version`

##### EXPECTED RESULTS

[2019-04-24 13:14] digifuchsi opened #55711 "VMware: vmware_license should allow to add vSAN license"
##### SUMMARY
Currently you cannot set the vSAN license for a cluster. Therefore enabling vSAN via Ansible will make the cluster unusable after temporary license expires.
It would be nice to use vmware_license for assigning vSAN license to a cluster like it can be done with ESXi hosts or have a parameter for vmware_cluster to assign a vSAN license to the cluster.

##### ISSUE TYPE
- Feature Idea

[2019-04-24 13:15] fghaas commented on #54898
@danowar2k So I've seen the same issue on Ubuntu bionic and Ubuntu xenial, and I've connected to it with both `ssh` from gnome-terminal, and with Guacamole. That's a rather diverse set of different SSH setups, and I'm seeing the issue _sometimes_ (though not reproducibly) under all those circumstances. The only thing that they all have in common is that they run Ansible 2.7, and I've never seen it

[2019-04-24 13:16] P-Hessler commented on #55132
Adding the '{{}}' fixed the problem. Adding a warning will help. Thank you.

[2019-04-24 13:21] digifuchsi commented on #55128
@justjais thanks. Will implement it in my environment next week.

[2019-04-24 13:30] gitjon2015 commented on #55703
I've been looking for the same exact functionality.   Following this thread.

[2019-04-24 13:46] #55342 closed, assigned to nobody

[2019-04-24 13:47] thedoubl3j commented on #55656
@yuwzho thanks so much!

[2019-04-24 13:59] dankalytovskyy commented on #31926
all you need to do is add remote_src: yes on the bottom.

[2019-04-24 14:15] llsousa commented on #35396
Duplicate of #30112.

[2019-04-24 14:59] mkrizek commented on #55710
Introduced in db6cc603528c5d1c15acf89e092f99f5d24ca848.

cc @sivel

[2019-04-24 15:05] Shaps commented on #54174
resolved_by_pr 55712

[2019-04-24 15:11] Shaps commented on #55704
resolved_by_pr 55716

[2019-04-24 15:17] rolandjohann commented on #31867
In Addition the script automatically generates `inventory_hostname` values based on machine name and hashed machine ID. With this we aren't able to target the hosts for deployments. Implementing configurable `inventory_hostname` should be implementable easily

[2019-04-24 15:22] abadger commented on #55710
marking tower_blocker but sivel and sdoran have diagnosed that this is part of the switch from optparse to argparse.  So it does not affect stable-2.8.  It is devel/2.9+ only.  (Will not affect the release of 2.8.0)

[2019-04-24 15:51] danowar2k commented on #54898
Although, it may be coming up less often...

[2019-04-24 15:54] Akasurde commented on #19311
Closing this issue since `vsphere_guest` is removed in favour of `vmware_guest`. It is recommended to use `vmware_guest` and other vmware related modules. Thanks.

[2019-04-24 15:54] #19311 closed, assigned to nobody

[2019-04-24 15:54] Akasurde commented on #19326
Closing this issue since `vsphere_guest` is removed in favour of `vmware_guest`. It is recommended to use `vmware_guest` and other vmware related modules. Thanks.

[2019-04-24 15:54] #19326 closed, assigned to nobody

[2019-04-24 15:54] Akasurde commented on #19495
Closing this issue since `vsphere_guest` is removed in favour of `vmware_guest`. It is recommended to use `vmware_guest` and other vmware related modules. Thanks.

[2019-04-24 15:54] #19495 closed, assigned to nobody

[2019-04-24 15:54] Akasurde commented on #29489
Closing this issue since `vsphere_guest` is removed in favour of `vmware_guest`. It is recommended to use `vmware_guest` and other vmware related modules. Thanks.

[2019-04-24 15:54] #29489 closed, assigned to nobody

[2019-04-24 15:55] Akasurde commented on #29552
Closing this issue since `vsphere_guest` is removed in favour of `vmware_guest`. It is recommended to use `vmware_guest` and other vmware related modules. Thanks.

[2019-04-24 15:55] #29552 closed, assigned to nobody

[2019-04-24 15:55] Akasurde commented on #29569
Closing this issue since `vsphere_guest` is removed in favour of `vmware_guest`. It is recommended to use `vmware_guest` and other vmware related modules. Thanks.

[2019-04-24 15:55] #29569 closed, assigned to nobody

[2019-04-24 15:55] Akasurde commented on #29674
Closing this issue since `vsphere_guest` is removed in favour of `vmware_guest`. It is recommended to use `vmware_guest` and other vmware related modules. Thanks.

[2019-04-24 15:55] #29674 closed, assigned to nobody

[2019-04-24 15:55] Akasurde commented on #29802
Closing this issue since `vsphere_guest` is removed in favour of `vmware_guest`. It is recommended to use `vmware_guest` and other vmware related modules. Thanks.

[2019-04-24 15:55] #29802 closed, assigned to nobody

[2019-04-24 15:55] Akasurde commented on #29803
Closing this issue since `vsphere_guest` is removed in favour of `vmware_guest`. It is recommended to use `vmware_guest` and other vmware related modules. Thanks.

[2019-04-24 15:55] #29803 closed, assigned to nobody

[2019-04-24 15:55] Akasurde commented on #29879
Closing this issue since `vsphere_guest` is removed in favour of `vmware_guest`. It is recommended to use `vmware_guest` and other vmware related modules. Thanks.

[2019-04-24 15:55] #29879 closed, assigned to nobody

[2019-04-24 15:55] Akasurde commented on #30161
Closing this issue since `vsphere_guest` is removed in favour of `vmware_guest`. It is recommended to use `vmware_guest` and other vmware related modules. Thanks.

[2019-04-24 15:55] #30161 closed, assigned to nobody

[2019-04-24 15:56] Akasurde commented on #30183
Closing this issue since `vsphere_guest` is removed in favour of `vmware_guest`. It is recommended to use `vmware_guest` and other vmware related modules. Thanks.

[2019-04-24 15:56] #30183 closed, assigned to nobody

[2019-04-24 15:56] Akasurde commented on #32043
Closing this issue since `vsphere_guest` is removed in favour of `vmware_guest`. It is recommended to use `vmware_guest` and other vmware related modules. Thanks.

[2019-04-24 15:56] #32043 closed, assigned to nobody

[2019-04-24 15:57] Akasurde commented on #35943
Closing this issue since `vsphere_guest` is removed in favour of `vmware_guest`. It is recommended to use `vmware_guest` and other vmware related modules. Thanks.

[2019-04-24 15:57] #35943 closed, assigned to nobody

[2019-04-24 16:36] cmfcruz commented on #53404
When you go through an Amazon Aurora RDS creation using the AWS console (GUI), a DB Instance Identifier is asked when choosing "Provisioned" as capacity type.  Otherwise, when "Serverless" is chosen as capacity type, a DB Cluster Identifier is asked instead.

I think the module should be adjusted to reflect this.

[2019-04-24 16:49] eikef opened #55718 "nclu: changed attribute is always True unless commit is specified"
##### SUMMARY

"changed"-attribute with nclu will never be False if any command possibly affecting pending buffer is issued (due to before/after comparison finding timestamp differences, or commands being appended) without also issuing a commit.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nclu

##### ANSIBLE VERSION
ansible 2.7.8

##### OS / ENVIRONMENT
CumulusLinux 3.7.3+

##### STEPS TO

[2019-04-24 16:50] #55382 closed, assigned to nobody

[2019-04-24 17:31] jacobweber opened #55720 "With stdout_callback = full_skip, after a handler is run in one play, in the next play it's repeatedly displayed as a task after each subsequent task"
##### SUMMARY
With `stdout_callback = full_skip`, after a handler is run in one play, in the next play it's repeatedly displayed as a task after each subsequent task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
stdout_callback = full_skip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Hub: CentOS Linux release 7.5.1804 (Core)
Targets: localhost

#####

[2019-04-24 17:37] rulai-jianfang commented on #34422
Yeah, agree with @aharden. This should have a "tags" parameter, also need add "tags" parameter to ec2_nat_gateway, thanks

[2019-04-24 17:45] codyhackw opened #55722 "nios_network: Option 242 can not have a use_option flag"
##### SUMMARY

While using the nios_network module, defining option 242 on a network causes the following error:

"msg": "Option Avaya_VOIP can not have a use_option flag",
    "operation": "create_object",
    "type": "AdmConProtoError"

Appears to be the same issue as #43657 (nios_network: Option vendor-encapsulated-options can not have a use_option flag), which covered option 43.

##### ISSUE T

[2019-04-24 17:54] belak commented on #42054
Note that the volumes option also creates directories (even nested ones), while the mounts option will error. I actually prefer the mounts behavior, as the other way can cause issues with folders on nfs mounts (if the nfs mount fails to mount, volumes will create the nested directory structure which makes it harder to re-mount the nfs volume).

[2019-04-24 18:11] opoplawski commented on #28952
@jopicornell that looks like a different issue to me.

It also reports changed with requirements and virtualenv set:
[code]

[2019-04-24 18:30] abadger commented on #55418
nitzmahone and I have agreement that this should be a new architectural decision:

* Action plugins must not trust information returned from modules as the managed machine may be compromised.
  * Action plugins must not template results from the managed machine
  * Action plugins must be careful when using results from the managed machine to touch resources on the controller (for instance, writing

[2019-04-24 19:08] pgauret opened #55729 "python3.7 : RuntimeError: cannot release un-acquired lock"
##### SUMMARY
Running ansible 2.7 with python 3.7 repeatedly produces the following error for each task:
[code]
Note: playbook execution continues successfully despite the error messages

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Alpine Linux Edge
Recently upgraded from python 3.6 to 3.7 which is

[2019-04-24 19:14] #54050 closed, assigned to justjais

[2019-04-24 19:51] fghaas commented on #54898
@danowar2k I had somehow missed that, thanks for the clarification.

[2019-04-24 19:54] clcaldwell opened #55734 "Expand win_pester for test filtering support"
##### SUMMARY

win_pester module functionality should be expanded to support test filtering

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

win_pester

##### ADDITIONAL INFORMATION

Currently, win_pester only provides support for specifying a tests directory ( path: ) and a minimum version. [Pester](https://github.com/pester/Pester) itself provides a range of supported parameters for granu

[2019-04-24 20:10] lucendio commented on #15243
is there any update on this or maybe a roadmap for implementing the feature?

[2019-04-24 20:14] #53596 closed, assigned to nobody

[2019-04-24 20:19] clcaldwell opened #55736 "win_pester path behavior should be changed to match Pester default"
##### SUMMARY

win_pester path behavior should be changed from grabbing every file that matches "*.ps1" and then explicitly passing them to Invoke-Pester, to allowing Invoke-Pester to recurse the folder and run only against files matching "*.Tests.ps1".

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

win_pester

##### ADDITIONAL INFORMATION

win_pester currently grabs every "*.ps1" file, a

[2019-04-24 20:31] clcaldwell commented on #55734
I'll begin working on expanding this module and get a PR submitted.

[2019-04-24 20:33] clcaldwell commented on #55736
I can submit a PR to change this behavior, assuming that we get some sort of concurrence that the current behavior should be changed.

[2019-04-24 20:35] codyjohn commented on #50905
Found this when running with `ANSIBLE_DEBUG` which might help:

[code]

[2019-04-24 20:57] p-thurner commented on #25414
I just found the tool `aptdcon` - from `man aptdcon`: "aptdcon allows to perform package management tasks, e.g. installing or removing software, using aptdaemon."

I just checked on my Ubuntu Laptop:
- I can run `aptdcon --install atop` and `aptdcon install tmux` in two shells at the same time and it queues nicely
- I can run another pkg manager like `apt-get remove atop` and then in a second shel

[2019-04-24 21:08] trondhindenes commented on #47528
Looks like it. Thanks - closing.

[2019-04-24 21:08] #47528 closed, assigned to nobody

[2019-04-24 21:17] deogracia opened #55738 "Docker_login doesn't use Credentials store"
##### SUMMARY
docker login encourages you using Credential store.
I use "D-Bus Secret Service".
docker_login module returns OK. But it writes credentials in `~/.docker/config.json` instead of using `docker-credential-secretservice`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_login

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
* PC DELL LATITUDE

[2019-04-24 21:28] deogracia commented on #55738
It's still the same with ansible 2.7.10

[2019-04-24 21:30] samdoran commented on #55625
Verified that the Python on ESXi 6.0.0 Update 3 is indeed missing `multiprocessing`.

[code]

[2019-04-24 21:36] p-thurner commented on #25414
So after searching a bit I found that packagekit: https://www.freedesktop.org/software/PackageKit/

brings a tool called `pkcon` that also features a queue:
[code]
I just tried and it also waits for:
- `apt install tmux`
- `dpkg --install foo.deb`

Here is its output in that case:
[code]

This looks like a good solution for Debian 9 and Ubuntu 18.04.

[2019-04-24 21:55] Dmitry1987 commented on #36519
![image](https://user-images.githubusercontent.com/9369080/56696221-12ef8b80-66a0-11e9-9417-0246499a4b82.png)

is it a mistake in the [documentation of ec2 module](https://docs.ansible.com/ansible/latest/modules/ec2_module.html) to use wait_for_connection with delegate_to?
I tried to see how to specify the target for the wait_for_connection plugin, and found the wait_for which seems a better way t

[2019-04-24 22:04] egroeper opened #55740 "FactCache: legacy update: first_order_merge not defined"
##### SUMMARY
Legacy calls of FactCache.update() should be handled by FactCache.first_order_merge(), but the latter one is not defined.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
FactCache

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Not really relevant, Ubuntu 18.04

##### STEPS TO REPRODUCE

See #55739. I extended the tests to show the issue.

####

[2019-04-24 22:14] jdh239 opened #55741 "apt module bug with trimming list elements"
##### SUMMARY
When using the apt module to install packages, the list cannot be comma delimited as it is with yum.

Filing bug per Brian Coca's recommendation

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04 and 18.04.  Both VMs running in VirtualBox.  Single nic, single disk, 1 cpu, 2048 GB r

[2019-04-25 04:19] nxtreaming opened #55746 "How to lock a windows user's screen?"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

system:
Windows Server 2012

I know win_user module can disable an user account, but How to lock a user's window screen or disable a user account?

Thanks.

[2019-04-25 05:26] felixfontein commented on #55738
And will probably also be the same with 2.8, unless someone wants to work on `docker_login` to implement support for credential stores. Is anyone interested in working on this?

[2019-04-25 05:58] egroeper commented on #55740
!component lib/ansible/vars/fact_cache.py

[2019-04-25 06:00] egroeper commented on #55740
!component =lib/ansible/vars/fact_cache.py

[2019-04-25 06:38] fcam-naveen commented on #55381
Sure Thanks Trishna

On Wed, Apr 24, 2019 at 5:12 AM Trishna Guha <notifications@github.com>
wrote:

[2019-04-25 06:56] mkrizek commented on #55741
packages: "dbus, krb5-user, sssd, oddjob, samba-common, samba, chrony, libpam-sss, libnss-sss, libnss-ldap"

If you remove spaces it should work as expected, so:
[code]

We had the same 'issue' in the `yum` module and 'fixed' it by emitting a warning saying that spaces are not allowed.

[2019-04-25 07:39] mkrizek commented on #55741
@jdh239 see above workaround and/or PR that should fix this issue, thanks.

[2019-04-25 07:55] Loki22 opened #55753 "gcp_compute plugin inventory hostname as GCP hostname"
##### SUMMARY

Add the ability to specify the GCP hostname as the inventory hostname instead of only the machine name, public IP, or private IP.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

gcp_compute inventory plugin
##### ADDITIONAL INFORMATION

First reason this would be useful is for convenient matching in playbooks and ad-hoc. Additionally however, with multiple projects in GCP it

[2019-04-25 08:20] wouteroostervld commented on #27179
The client trying unix-socket if you specify 'localhost' instead of '::1' or '127.0.0.1' as host is a peculiarity of MySQL not an issue with ansible itself. But maybe because this isn't a well known fact a hint in documentation (eg. an example) would be nice to have.

[2019-04-25 08:22] rohitthakur2590 commented on #55447
@rephlekt
So as error message is showing  :
msg": "command timeout triggered, timeout value is 10 secs.
Which means command timeout needed to be incremented.

Increment the command timeout .
1. try giving persistent  command timeout  in config file like you have given persistent connect timeout. For more description you can concern :
[https://docs.ansible.com/ansible/devel/network/user_guide/netwo

[2019-04-25 08:39] ganeshrn commented on #44864
@crosson Please refer this comment https://github.com/ansible/ansible/issues/44864#issuecomment-474819776

The json output rendered from junos device is not correct, `device-name` is a duplicate key in the josn output.
Please raise this issue with Juniper.

[2019-04-25 08:39] #44864 closed, assigned to ganeshrn

[2019-04-25 08:41] amuraleedhar commented on #55445
Can u try by adding the following

- name: 'add vlan'
  hosts: 'switches'
  gather_facts: false
  tasks:
    - name: 'add vlan'
      enos_config:
        admin: true
        lines:
          - 'no logging console'
          - 'vlan {{ vlan_id }}'
          - 'name {{ vlan_name }}'

Let me know how this work around is .

[2019-04-25 08:41] Fred-sun commented on #53299
@yuwzho Who should be assigned to fix this problem? Thanks!

[2019-04-25 08:43] Fred-sun commented on #54607
@b3rgman Are you still here? Could you can give a try according  by the above comments? Thanks!

[2019-04-25 08:45] Fred-sun commented on #54607
@yuwzho I can confirm this is not a bug, just parameter error! Could you can closed this? Thanks !

[2019-04-25 09:27] AravindBalajiS commented on #38982
Hi, @Akasurde I was trying to add a newly created virtual machine to an existing DRS rule, As vmware_vm_vm_drs_rule doesn't support editing an existing DRS rule. I  wrote a python function for editing the existing DRS rule.

def edit_rule_spec(self):
        """
        Function to edit DRS rule
        """
        changed = False
        if self.affinity_rule:
            rule = vim.cluster.Affin

[2019-04-25 09:56] esncs16 opened #55755 "Would Ansible Tower be supported with Internet Explorer soon?"
Hi
I have recently installed Ansible Tower on my virtual box VM.  I cannot launch Ansible Tower Interface on Internet Explorer.   It is giving me certificate Invalid error.
- I clicked on view certificate, it showed: The CA Root certificate is not trusted.  To enable trust, install this certificate in the Trusted Root Certification Authorities Store.
- Then I clicked on install certificate -> loca

[2019-04-25 10:14] esncs16 commented on #55755
##### COMPONENT NAME

ansible-tower-setup-bundle-3.4.3-1.el7

ansible 2.7.9
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/vagrant/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Feb 20 2018, 0

[2019-04-25 10:48] jficz opened #55758 "zfs module manipulates datasets even if no change is needed"
##### SUMMARY

Apparently the module manipulates a dataset when mountpoint option is set even though the dataset already has the mountpoint option set to desired value.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zfs
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target os Centos 7.6 with proper modules installed.

##### STEPS TO REPRODUCE

On the targ

[2019-04-25 10:56] mkrizek commented on #55755
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker, and let us explain our reasons for thinking this:

   * Please consult https://docs.ansible.com/ansible-tower/latest/html/administration/license-support.html#s

[2019-04-25 10:56] #55755 closed, assigned to nobody

[2019-04-25 11:35] Asgoret commented on #55554
@fabianvf
Hi! In docker `pip show openshift` show this:
[code]

[2019-04-25 11:47] kbreit commented on #37694
Closing because PanOS is deprecated.

[2019-04-25 11:47] #37694 closed, assigned to nobody

[2019-04-25 12:05] nicolaibaralmueller opened #55759 "azure_rm_virtualnetworkpeering bug when using remote resource id"
##### SUMMARY

azure_rm_virtualnetworkpeering does not create peering when using remote virtual network resource id

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_virtualnetworkpeering

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-04-25 12:46] atodorov opened #55760 "missing required arguments: alicloud_region even if specified in playbook"
##### SUMMARY
Failure when executing a playbook taken from official documentation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ali_instance_facts

##### ANSIBLE VERSION
[code]

Note: installed yesterday from the stable-2.8 branch on GitHub

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux, RHEL 7, virtualenv with Python 2.7

##### STEPS TO REPRODUCE

my-playbook.yml, taken from (s

[2019-04-25 13:08] mkrizek commented on #55720
Note that the `full_skip` callback plugin is deprecated, see https://docs.ansible.com/ansible/latest/plugins/callback/full_skip.html#deprecated for an alternative that should work properly.

[2019-04-25 13:15] JBaptisme commented on #48876
Hello,
I'm facing same issue on EX3300.
I've tried `enhanced_layer: true` for` junos_l2_interface.`
Unfortunately, issue is the same: For example
[code]

Do you have workaround for ex3300 / release 12.* ?

[2019-04-25 13:24] stangri-la opened #55763 "ios_config: second command only executes every other time playbook is run"
##### SUMMARY

A task that contains two ios_config lines only executes the second command every other time I run the playbook.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cisco WS-C3850-48P IOS-XE v16.6.5

##### STEPS TO REPRODUCE

ansible-playbook -i inventory/hosts-hs playbooks/upgrade_firmw

[2019-04-25 13:27] ahuffman commented on #27299
+1 on this issue. `ansible_facts.packages | to_json | from_json | json_query(jq)` with var `jq: "*[contains(name, 'searchstring') == `true`].name"` is a valid work-around on this bug.

[2019-04-25 13:29] #55741 closed, assigned to nobody

[2019-04-25 14:11] 29x10 commented on #11742
Any update on this?

[2019-04-25 14:18] jean-christophe-manciot opened #55766 "Several modules don't consider root as default "become_user""
##### SUMMARY
The official documentation about [privilege escalation](https://docs.ansible.com/ansible/latest/user_guide/become.html#directives) states that "**the default value of become_user is root**" when ```become: yes``` is declared.
Some modules don't follow that default rule and fail due to "Permission denied" despite```become: yes``` being set, including but probably not limited to:
- apt

[2019-04-25 14:31] mkrizek commented on #55766
I cannot reproduce the issue. Please run your task/playbook with `-vvv` and provide the output to see what user is being used.

needs_info

[2019-04-25 14:58] BarbzYHOOL commented on #50720
@sobedrinker42 can you show me the command plz? I don't understand "leverage --skip-tags" and I haven't touched ansible for the past weeks but that seems really good

Also wondering how you stumbled on that closed issue :P

[2019-04-25 15:06] gamuniz opened #55768 "Add feature to preserve atime/mtime to copy module"
##### SUMMARY

Please allow for an option to allow preservation of mtime/atime with copy module(using both remote_src and normally).
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

copy.py

##### ADDITIONAL INFORMATION

[code]

[2019-04-25 15:07] rightaway commented on #54944
I think the parameter would make it unmistakeable to someone reading the file that you explicitly want a newline added.

[2019-04-25 15:21] joseon-penggwin commented on #14341
Still present in ansible 2.7.10

[2019-04-25 15:21] agaffney commented on #54944
Generally, a new (very specific) feature like this won't be added when there are already other simple ways to accomplish it.

[2019-04-25 15:24] sivel commented on #55515
@jimi-c @mkrizek I believe you 2 are more familiar with the hoststate code.  Do either of you have any insight that might help explain this?

[2019-04-25 15:30] sebfere commented on #33580
Not sure if it could help, but I spent a few hours debugging the same kind of issue CERTIFICATE_VERIFY_FAILED whereas valid CA certificates are defined in the system (Alpine Docker image).

A curl on my website works fine:
`
curl -I https://my-internal-website.com
HTTP/1.1 200 OK
...
`

But once, I use the uri module (which uses the same urls.py primitives as get_url), it crashes...
`
ansible -m u

[2019-04-25 15:39] UnitedMarsupials commented on #14674
I'd like to add, that using an external diff-utility is not merely "a hack". Both [Subversion](http://svnbook.red-bean.com/en/1.7/svn.advanced.externaldifftools.html) and git support this, for example.

The "proper" way of doing this would be to wait for Python's difflib to grow the necessary features _and_ for the improved version to make its way into all Ansible-supported Python-versions -- that

[2019-04-25 15:46] abadger commented on #55418
All code changes have been backported (and merged).  Only the documentation PR remains.  I'm going ahead with 2.8.0rc1 as documentation can be updated independently of the 2.8 release schedule.

[2019-04-25 15:47] crosson commented on #44864
I don't know why that didn't stick out to me. I wonder how long that problem has been around. Good eye @ganeshrn . Thanks for the help.

[2019-04-25 16:19] cdubboiler commented on #53910
I have found that including the lines:
`aaa new-model
aaa authentication login default local
aaa authorization exec default local none `

on the cisco ios device seem to make this work.

[2019-04-25 16:34] s-hertel opened #55775 "broken unsupported AWS integration tests"
##### SUMMARY
There are currently 25 unsupported (meaning they don't run in CI due to duration or permissions) AWS tests. 16 of these are in various states of broken.

Enabling more of these to run in CI and making modifications to the bot so contributors/mergers are notified that they must run the tests locally might help. General test infrastructure changes should also be tested on unsupported t

[2019-04-25 16:50] bcoca commented on #55418
I would expand that to 'any external sources', since action plugins can also, for example, query an API that is not on the target remote, and use that information and even add to results.

[2019-04-25 17:00] mattclay commented on #55775
@s-hertel Thanks for putting this together.

I partially disagree with one part though:

I don't think running the unsupported tests (in general, not just for AWS) is very practical. We currently have over 200 unsupported integration tests. In addition to that, there are integration tests which should be marked unsupported, but are instead relying on the auto-skip behavior of cloud plugins in CI,

[2019-04-25 17:00] bcoca commented on #14674
@UnitedMarsupials that is assuming the diff always happens on the controller, which is not guaranteed and/or the module uses the facilities we provide for the diff, also not guaranteed.

[2019-04-25 17:18] s-hertel commented on #55775
`when possible` was the key part of that. For AWS, I'm still happy to run the unsupported tests in my own account. If 25 turns into 100, yes, that's less practical for me to have running in the background. I think a more general validator would be helpful for unsupported tests when we/I don't have the resources. For example, a bunch of these tests are failing in the runme.sh due to recent changes.

[2019-04-25 17:20] abadger commented on #55418
I think that's a separate piece of information as the security of that data source is different than the security of the remote machine.  We probably should have a generic piece of documentation on templating security consideration and link from the current documentation to that.

[2019-04-25 17:26] jwinderWCB commented on #36300
I am trying to implement this change as I would like to use the ENC parameters, but I'm running into an issue with the enc dictionary being accessible in an Ansible playbook.

If I run:
`$ ./foreman.py --host jwinder-test1.localnet.net`
I get:

So the inventory is containing the enc dictionary. However if I used the following playbook, the entire enc hierarchy is missing.
[code]
Here is my ansible

[2019-04-25 18:01] bcoca commented on #55766
@jean-christophe-manciot note that modules no way to affect become.

The become settings are handled by the Ansible controller, which executes the modules AFTER dealing with become configuration as the modules are executed INSIDE the become context.

[2019-04-25 18:33] spasarok commented on #54493
@AlanCoding @ghjm @jladdjr @kdelee @matburt @rooftopcellist @ryanpetrello @wwitzel3

Are there any plans in the works for this?

[2019-04-25 18:35] clcaldwell commented on #55283
I tested this a bit. Both hostname.exe and [System.Net.Dns]::GetHostName() get the non-NETBIOS hostname, and they both use the original casing. $Env:computername uses the NETBIOS name.

An interesting note on the casing - Windows appears to maintain the casing you have applied when displaying it back to you, but is case insensitive for other operations. This fails, for example (as does attempting

[2019-04-25 18:52] hemna opened #55778 "ansible custom test_plugin inconsistently executed."
I have am writing a custom test plugin for my playbooks that returns a True/False value to test something I need verified and would like it to work in the when clause of a play.

##### SUMMARY
calling my_test() custom ansible test_plugin doesn't work by itself, but has to be included as part of a filter or in test.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
test_plugin

##### ANSIBLE VER

[2019-04-25 18:54] sivel commented on #55778
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-25 18:54] #55778 closed, assigned to nobody

[2019-04-25 19:04] hemna commented on #55778
This isn't a user question, but clearly a bug.   I can't call the test_plugin directly without putting an invalid filter in front of it such as

when: False is my_check('test')
or
when: False | my_check('test')

and yet

when: my_check('test')   doesn't work at all.

I don't think you read the code and the bug report.

[2019-04-25 19:12] bcoca commented on #55682
!component =lib/ansible/modules/cloud/misc/proxmox.py

[2019-04-25 19:15] bcoca commented on #55706
For Ansible Tower support or questions, please utilize https://access.redhat.com/products/ansible-tower-red-hat

For the OSS version (AWX) https://github.com/ansible/awx

This issue tracker is for the open source Ansible CLI tools project.

[2019-04-25 19:15] #55706 closed, assigned to nobody

[2019-04-25 19:22] bcoca commented on #55746
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-25 19:22] #55746 closed, assigned to nobody

[2019-04-25 19:40] jborean93 commented on #55746
https://groups.google.com/forum/#!searchin/ansible-project/lock$20workstation%7Csort:date/ansible-project/edPBdjcsoK8/MBJDWXdmCgAJ is related to your question as well.

[2019-04-25 20:10] geerlingguy commented on #43206
(Just noting that this is still the same behavior with the `k8s` module. And yeah, it's a little surprising here too, but I get why it happens and how it's a Kubernetes issue :)

[2019-04-25 20:33] rashminair90 commented on #26797
@qnick, Is this working for you. I am also implementing similar thing for my project where I am writing a playbook to execute the templates on remote server. So for that, I install my ansible rpm on remote server, then create a symlink to templates as templates are not in my ansible repo but installed as rpm on target servers. For example --> if /opt/ansible is my ansible dir then /opt/ansible/tem

[2019-04-25 20:41] captainlinky opened #55780 "awx 4.0 projects fail to update"
##### SUMMARY

When attempting to setup a project in our new AWX (version 4.0.0) it fails to synchronize the project within seconds but somehow manages to pull down all the files. The project is in use from our other tower instance and the setups are exactly identical.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Projects (git scm syncing)

##### ANSIBLE VERSION

[code]

Tower version is

[2019-04-25 20:45] sivel commented on #55780
This repository is for the Ansible open source project.  For AWX issues, please utilize: https://github.com/ansible/awx

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-25 20:45] #55780 closed, assigned to nobody

[2019-04-25 21:21] ksubileau commented on #55129
The service operating state control (start/stop) is not implemented in the same way in these two modules. `win_nssm` call the nssm utility to start or stop the service, while the `win_service` module relies on native powershell cmdlets (`Start-Service`, ...). That's probably why it works better with `win_service`, which is more stable.

As far as I know, I don't think there is a timeout for status

[2019-04-25 21:36] techagile commented on #55682
@bcoca  proxmox.py is available,
[code]

[2019-04-25 21:53] housebolt opened #55782 "gcdns_record support for CAA type, Certificate Authority Authorization"
##### SUMMARY

Google Cloud DNS supports the new CAA record. It's becoming more relevant to DNS deployments and is now mandated by the CA/Browser Forum in order for Certificate Authorities to issue certificates.

When I went to add it to our DNS config I learned that CAA is not currently supported by gcdns_record.

[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

gcdns_record

#####

[2019-04-25 22:35] rambleraptor commented on #55782
Hello! We're encouraging users to try the new `gcp_dns_resource_record_set` module. It has a much stronger feature set than the current `gcdns_record` module. It currently supports CAA record types.

close_me

[2019-04-25 22:35] #55782 closed, assigned to nobody

[2019-04-25 22:38] housebolt commented on #55782
Gotcha, I was not aware there was an alternative module, we've used gcnds_record for all of our stuff. Thanks!

[2019-04-26 00:39] Walid-Shouman commented on #32812
How is it possible to achieve the same result with the new syntax while redefining the same variable each time?

Example: the following will result in ```found a duplicate dict key (tasks). Using last defined value only.```
[code]

[2019-04-26 00:43] kjw1 opened #55786 "Cloudwatch module does not catch exceptions when describing alarms"
##### SUMMARY
The cloudwatch module describes existing alarms, but does not catch any exceptions hat may happen as a result. The module throws the exception, and the task is not retried.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_metric_alarm

##### ANSIBLE VERSION
I checked the devel branch, and it is still an issue
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
An AWS a

[2019-04-26 01:11] yungezz commented on #55759
looking at it

[2019-04-26 01:14] yungezz commented on #55759
hi @nicolaibaralmueller could you pls change `remote_virtual_network` to string instead of list in your playbook, as below. let me know if any other error met.
[code]

[2019-04-26 01:21] smoyer64 opened #55787 "gcp_sql_instance does not support SQL Server"
##### SUMMARY

GCP now support SQL Server as one of the database instance options

##### ISSUE TYPE
- Add SQL Server as one of the options for the database_version parameter

##### COMPONENT NAME

gcp_sql_instance

##### ADDITIONAL INFORMATION

This would be used by those who are migrating an SQL Server instance to GCP

[2019-04-26 01:49] bcoca commented on #32812
[code]

[2019-04-26 02:05] bcoca commented on #15243
you can already kind of do this:

main.yml
[code]

[2019-04-26 02:13] willthames commented on #43206
This might be fixed with `apply` in 2.9. Otherwise I suggest immutable configmaps which don't get the old data included

http://willthames.github.io/2019/01/28/immutable-kubernetes-configuration-with-ansible.html

[2019-04-26 02:15] willthames commented on #43206
The kube-resource role has immutable configmap capability built in:

https://github.com/willthames/ansible-role-kube-resource

It can also tidy up orphaned ConfigMaps/Secrets through setting the owner(s) to the replicaset(s) using it

[2019-04-26 02:22] #55305 closed, assigned to bcoca

[2019-04-26 04:06] esncs16 commented on #55755
Hi Mkrizek,

Noted the comment and thank you for the information.

Thanks
ES

[2019-04-26 05:24] devdil commented on #43000
@Tommorow9 do we have any updates on this issue?

[2019-04-26 06:37] Akasurde commented on #55760
@atodorov Thanks for reporting this issue. You may want to specify region like following -

[code]

or export environment variable `ALICLOUD_REGION` or `ALICLOUD_REGION_ID` with required values.

I agree that there is a discrepancy in documentation EXAMPLES section and actual implementation of module.

Thanks.

[2019-04-26 07:28] ghost opened #55792 "Cloudformation fails when using .aws/credentials profile and secret is invalidated"
##### SUMMARY
I'm running a little tool which is refreshing my AWS key_id, access_key and session token every 15 minutes. Further more my cloud formation stacks some times take longer than that to create. I'll than get an error message from ansible cloudformation module that the token has expired.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cloudformation

##### ANSIBLE VERSION
[code]

##

[2019-04-26 07:32] ghost opened #55793 "CloudFormation module optional flag to prevent waiting"
##### SUMMARY
I would like to have an option to prevent the cloudformation module to trigger describe stack. Like a fire and forget method to create stacks not verifying if it was successful nor not.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
CloudFormation

##### ADDITIONAL INFORMATION

Currently long running stacks can fail i.e. if the token is invalidated. As a user for me it would

[2019-04-26 07:35] ghost opened #55794 "Support stack parameters in a aws cli like way."
##### SUMMARY
Support stack parameters in a aws cli like way.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
CloudFormation

##### ADDITIONAL INFORMATION
To migrate from aws cli to ansible it would be pretty nice to be able to use parameter json files as they're used with aws cli. Details can be found here: https://aws.amazon.com/blogs/devops/passing-parameters-to-cloudformation-stacks-wit

[2019-04-26 08:00] nicolaibaralmueller commented on #55759
Hi @yungezz

That did not resolve the issue.

`
TASK [azure-dce-true-aio : Create vnet peering customer -> domain] ****************************************************************************************************************************************
task path: /home/nbm/ansible-dce/Roles/azure-dce-true-aio/tasks/vnet_peering_new.yml:5
Using module file /usr/local/lib/python2.7/dist-packages/ansi

[2019-04-26 08:21] Fred-sun commented on #55759
@nicolaibaralmueller The log shows that the resource group for your remote network does not exist. "Resource group 'aad' could not be found." Could you can check your remote resource group and vnet? Thanks!

[2019-04-26 08:26] nicolaibaralmueller commented on #55759
@Fred-sun I already did. The resource ID (and resource group) exists. I cross referenced with azure property value and ansible debug on the resource id variable.

[2019-04-26 08:49] wgroenewald commented on #19114
Anyone manage to find a better way to do this yet?

[2019-04-26 09:09] JBaptisme opened #55802 "junos_l2_interface & junos_linkagg idempotence issue"
Hello team,
##### SUMMARY
Configuration done via junos_linkagg is removed by junos_l2_interface module
(LACP mode: active)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
use of junos_linkagg and junos_l2_interface module in same playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Centos 7 - Python 3.6 - Juniper EX3300 switchs release 12.3

##### STEPS T

[2019-04-26 09:27] jean-christophe-manciot commented on #55766
@mkrizek @bcoca
I have not specified that the role is called with:
[code]

[2019-04-26 09:33] atodorov commented on #55760
@Akasurde thanks for the pointer. I've updated the documentation to match reality.

[2019-04-26 09:44] stangri-la commented on #55763
This has been resolved after using `match: none` under the lines section of the ios_config block.

[2019-04-26 09:44] #55763 closed, assigned to nobody

[2019-04-26 09:55] darknight74 commented on #35110
+ 1

[2019-04-26 10:23] machacekondra opened #55807 "Report a reason of failed scheduled VM instead of timeout"
##### SUMMARY

We shouldn't wait until timeout occur, but instead we should read error message, why VM failed to schedule and report it user and stop to wait.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

kubevirt_vm

##### ADDITIONAL INFORMATION

[code]

[2019-04-26 10:57] mmazur commented on #55807
This is not doable with the current implementation of the openshift lib. To do that, you'd need to be watching for changes to your desired object and for Events related to it. Unfortunately not possible. (This would also be useful in `kubevirt_pvc` to detect late binding of pvcs or whatever that was called.)

[2019-04-26 11:27] let-thomas opened #55810 "Combine filter does not produce dict(but text) if undefined variable is used"
##### SUMMARY
When undefined variable is used inside combine filter and result output is not dict but plain text.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
combine() filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
more test including AWX

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Two options here:
1) "example.some": "thing"
2) FAIL

[2019-04-26 11:27] smoyer64 commented on #55787
I created this feature request using the feature request template and there's no where on that template to indication what version of Ansible is affected.  I'm using 2.7.10 but as of today, the on-line Ansible module documentation does not include this feature.

[2019-04-26 11:35] RaghavendraP opened #55811 "gcp_compute_instance_template fails to create a template"
##### SUMMARY
gcp_compute_instance_template is looking for a **zone** parameter while there is no zone module parameter. Because of this, the template creation is failing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute_instance_template.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 16.04 running in Windows 10 WSL

[2019-04-26 11:39] RaghavendraP commented on #55811
Hi,

For this to reproduce, you need to pass a value for disk_type property. If the property is missing, then template creation is working fine. So, with this template with pd-standard (default disk_type) can be created but if we want to create template with pd-ssd then it will not work.

[2019-04-26 11:40] RaghavendraP commented on #55811
Hi,

For this to reproduce, you need to pass a value for disk_type property. If the property is missing, then template creation is working fine. So, with this template with pd-standard (default disk_type) can be created but if we want to create template with pd-ssd then it will not work.

[2019-04-26 12:18] DavidVentura commented on #29693
any updates on this? I have the exact same issue

[2019-04-26 12:25] ivandeex commented on #27293
@dsteinkopf @DmitryRomanenko @alex-left
`get_url` (and also `unarchive`) internally uses python's urllib library, which can pick settings from your `~/.netrc` if it exists. please check if you have any leftovers there.
in my case, removing a line `machine github.com login ivandeex password xxx` from my .netrc dismissed the `400 Bad Request` issue.

[2019-04-26 12:49] sinu opened #55814 "checkpoint authentication"
@rcarrillocruz can you help to understand how to authenticate before consuming these checkpoint modules?

[2019-04-26 12:58] pmjdebruijn commented on #31543
We are experiencing this issue with ansible-2.6.16 as well.

The meta: end_play workaround, has some rough edges as well. It seems the rescue block is executed before the always block, so if rescue contains an end_play, always isn't executed anymore.

Was it a conscious decision to run rescue before always? In my mind it would probably make sense run always before rescue regardless of the above pr

[2019-04-26 13:15] larsks commented on #53385
I just ran into this, trying to do the same thing (using containers for testing out playbooks that will ultimately run against real servers). If the plugin doesn't support privilege escalation, can we modify it to produce a more obvious error message?

[2019-04-26 13:35] DmitryRomanenko commented on #27293
@ivandeex yes, I have this line, but it's necessary for https git authentication.

And the credentials inside it are correct.

[2019-04-26 14:00] rhydian76 commented on #45834
I had been trying to resolve the same issue myself, but I have found a solution:

Note that these are my experiences with using Ansible to clone a Windows 2016 Server guest.

As has been mentioned in this post, the issue is to do with VMware customisation and not Ansible itself. I found that the VMware image customisation was failing, and thanks to the post from @Tomorrow9 above, it gave me some u

[2019-04-26 14:04] bcoca commented on #55766
@jean-christophe-manciot  ... if you are specifying 'some_user', and that is not 'root' then the errors you get above are totally expected.

[2019-04-26 14:37] mmazur opened #55817 "k8s: inconsistent behavior between kubernetes and openshift clusters"
##### SUMMARY
Same task gets different results dependent on which cluster it's run against.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module/k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

fedora 29/30
[code]

##### STEPS TO REPRODUCE
I'm running two clusters. One is k8s 1.13.3. The other is minishift 1.33 (oc v3.11.0+8de5c34; kubernetes v1.11).

[2019-04-26 14:38] jimi-c commented on #54991
This appears to be caused by the fact that there's an implicit `run_once` for meta tasks like flushing handlers.

[2019-04-26 14:42] ivandeex commented on #27293
Nevertheless this might ring a bell. Unfortunately I have no time to investigate now.

[2019-04-26 14:45] kwbr commented on #41660
Thanks for taking over this bug. I totally forgot about it and never did my duties to add the information needed.

[2019-04-26 15:05] Renji-FR commented on #52009
Do you have any updates about this issue because I have it too. Thank you.

[2019-04-26 15:18] samdoran commented on #23269
This is a result of how Anisble works: it executes multiple commands per task, and the system is logging these events as it should.

[2019-04-26 15:18] #23269 closed, assigned to nobody

[2019-04-26 15:21] devdil commented on #43000
@akasurde any updates ?

[2019-04-26 15:21] sivel commented on #23161
Include failures, are not normal task failures.  We should look into fixing.

Some related work:

https://github.com/ansible/ansible/pull/51128
https://github.com/ansible/ansible/pull/53688
https://github.com/ansible/ansible/pull/55779

[2019-04-26 15:27] samdoran commented on #23485
Closing per above explanation in documentation.

[2019-04-26 15:27] #23485 closed, assigned to nobody

[2019-04-26 15:28] sivel commented on #23458
We have just discussed this and decided that this is acceptable, and at this point we are going to keep the current behavior due to the length of time this behavior has existed.

[2019-04-26 15:28] #23458 closed, assigned to sivel

[2019-04-26 15:30] samdoran commented on #23601
This is working as designed. Playbook imports (and old stlye `include` of playbooks) are static. They will fail in the playbook file does not exist.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-26 15:30] #23601 closed, assigned to nobody

[2019-04-26 15:31] #55515 closed, assigned to jimi-c, sivel

[2019-04-26 15:33] samdoran commented on #23650
This should be resolved in newer versions of Ansible. If you are still experiencing this problem, please open a new issue.

[2019-04-26 15:33] #23650 closed, assigned to nobody

[2019-04-26 15:34] #23840 closed, assigned to nitzmahone

[2019-04-26 15:37] samdoran commented on #23912
This should be fixed in newer versions of Ansible. If you are still experiencing this problem, please open a new issue.

[2019-04-26 15:37] #23912 closed, assigned to nobody

[2019-04-26 15:40] samdoran commented on #24113
@mgedmin Are you still experiencing this issue with newer versions of Ansible?

needs_info

[2019-04-26 15:41] #24137 closed, assigned to nobody

[2019-04-26 15:47] sivel commented on #24417
I have confirmed that using `!unsafe` works as expected:

[code]

Produces:
[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-26 15:47] #24417 closed, assigned to sivel

[2019-04-26 15:50] samdoran commented on #24538
This is working as intended. Variables used in role dependencies depend on how the role was included/imported. Role dependencies behave like static imports, so they cannot use group or host vars.

[2019-04-26 15:50] #24538 closed, assigned to nobody

[2019-04-26 15:52] samdoran commented on #24551
Closing per above discussion.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-26 15:52] #24551 closed, assigned to nobody

[2019-04-26 15:56] samdoran commented on #24674
This should be fixed in newer versions of Ansible. If you are still experiencing this problem, please open a new issue.

[2019-04-26 15:56] #24674 closed, assigned to nobody

[2019-04-26 16:01] samdoran commented on #24788
This is working as designed. Playbooks are now always statically imported, meaning the conditional is applied to every task in the play — the inclusion of the playbook is not evaluated and skipped.

[2019-04-26 16:01] #24788 closed, assigned to nobody

[2019-04-26 16:21] jladdjr commented on #54493
@spasarok - taking a look at this now

[2019-04-26 16:38] andrew80k commented on #55560
Anyone have any suggestions on what I can try at least?

[2019-04-26 16:58] #55760 closed, assigned to nobody

[2019-04-26 17:12] amaczuga commented on #24417
Thanks! Works as intended on 2,6+

[2019-04-26 17:47] jkeating732 opened #55823 "Support for AWS Transit Gateway VPC Attachment"
##### SUMMARY

Though support for creating the transit gateway now exists (version 2.9) we are unable to attach it to a VPC. Attaching the transit gateway is a critical task which requires the transit gateway id, vpc id, and subnets it should be attached to.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

aws_vpc_transit_gateway_attachment (new)

##### ADDITIONAL INFORMATION

https://docs.

[2019-04-26 17:48] rrey opened #55824 "gcp_sql_instance_facts: can not use output from "items""
##### SUMMARY

The `gcp_sql_instance_facts` module output uses the `items` keyword which is reserved in python dict.
When ones wants to parse the module output to navigate in the `items`, the return value is a python object representation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_sql_instance_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-04-26 17:50] rrey commented on #55824
Problem is located in the `main()` function where the `items` keyword is used in the `exit_json` parameters.

[2019-04-26 17:50] fabianvf commented on #55817
Hmm, can you run that in verbose mode? We should be outputting a diff when we report a change.

[2019-04-26 17:51] fabianvf commented on #55817
Also, if you run against a kubernetes 1.10/1.11 cluster does it still report ok?

[2019-04-26 18:06] AlexisLessard commented on #30064
@kzap , having it too in ansible 2.7.9, but setting the tmpdir variable temporarly fixes the issue. Temporary workaround I guess...

[code]

[2019-04-26 18:08] jkeating732 opened #55827 "Update ec2_vpc_route_table to support Transit Gateway ID"
##### SUMMARY

Update the ec2_vpc_route_table "routes" parameter to support transit gateway id. Currently only support gateways, instances, network interfaces, and peering connections. Adding this additional support will make creating routes much easier within a VPC route table.

[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ec2_vpc_route_table (update)

##### ADDITIONAL INFORMATI

[2019-04-26 18:12] ryanmerolle opened #55828 "dellos6 modules not handling pagination"
##### SUMMARY
Unless you set the terminal length to 0 before the run of the task, any command that paginates will timeout the task.  Dell's team dealing with Ansible Network modules confirmed they were able to reproduce.  @abirami-n @skg-net

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/network/dellos6/dellos6_command.py
lib/ansible/modules/network/dellos6/dellos6_config

[2019-04-26 18:15] anghelflorin opened #55829 "Append array variables defined in multiple group_vars"
##### SUMMARY

It would be useful to have a way to append arrays defined in multiple inventory groups. For example, I have an inventory file with hosts that belong to multiple groups and there's an associate group_vars file for each group.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vars

##### ADDITIONAL INFORMATION

Let's say I have 2 regions in my inventory, US and EU but I also hav

[2019-04-26 19:19] ryanmerolle commented on #55828
!component -lib/ansible/modules/network/dellos10/dellos10_config.py
!component -lib/ansible/modules/network/dellos10/dellos10_facts.py
!component -lib/ansible/modules/network/dellos9/dellos9_command.py
!component -lib/ansible/modules/network/dellos9/dellos9_config.py
!component -lib/ansible/modules/network/dellos9/dellos9_facts.py

[2019-04-26 19:34] ryanmerolle opened #55833 "dellos6_facts not collecting ansible_net_model fact"
##### SUMMARY
dellos6_facts captures "ansible_net_model": null

This could be an issue with other dellos facts, but I only have dellos6 devices to test.
@skg-net @abirami-n

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/network/dellos6/dellos6_facts.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
With ansible 2.8.0rc1 installed via pip

[2019-04-26 19:37] ryanmerolle commented on #55828
+label affects_2.7

[2019-04-26 19:37] ryanmerolle commented on #55833
+label affects_2.7

[2019-04-26 20:12] dongryphon commented on #17324
We ran into this as well. While we could de-keyify the data, it is a real surprise that the `{{foo}}` syntax does not work in keys in `yml` files. +1 for please make this work. Our case is also a self-inflicted injury but a lot of work to refactor and (arguably) less clear in the yml

[2019-04-26 20:37] sivel commented on #55829
Duplicate of https://github.com/ansible/ansible/issues/42194

[2019-04-26 20:37] #55829 closed, assigned to nobody

[2019-04-26 21:12] madhermit opened #55834 "--skip-tags skips role but still includes vars"
##### SUMMARY
In a playbook, when giving a `role` the `tags` and the `vars` attributes and then running the playbook with the `--skip-tags` option, the role is not run, but the `vars` are still used.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
roles

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux dev 4.15.0-47-generic #50-Ubuntu SMP Wed Mar 13 10

[2019-04-26 22:00] ralphie02 commented on #53448
Is it safe to assume that this bug will never get fixed?

[2019-04-26 22:12] localdotcom opened #55836 "azure_rm_webapp.py: getting error while trying to create Web App"
##### SUMMARY

In my environment I use dockerized Anzible with Azure module. When I'm trying to create new Web App I'm getting error "app_service_plan_name is not a known attribute of class <class 'azure.mgmt.web.models.app_service_plan_py3.AppServicePlan'>".
As far as I know **app_service_plan_name** removed from azure-mgmt-web 0.41.0, but **plan** still mandatory in **azure_rm_webapp**.
##### IS

[2019-04-26 22:46] zikalino commented on #55836
@localdotcom It's not really about AppServicePlan. This was only warning.

The real cause is at the end of the log: "Operation returned an invalid status code 'Conflict'"

And my guess is that it's probably problem of the application name:

name: webapp-testing

Application name should be unique, as it will be uses as a part of URL. Could you try the same playbook with more random name?

Anyway, t

[2019-04-26 23:19] localdotcom commented on #55836
@zikalino Thanks a lot! I changed name to unique and it works. Unfortunately, when I tried to create WebApp manually I just didn't notice that app name should be unique. My fault.

[2019-04-26 23:19] #55836 closed, assigned to nobody

[2019-04-26 23:25] abadger opened #55838 "network filter plugin's type5_pw() function uses passlib unnecessarily"
##### SUMMARY
While trying to find and fix tests which need to skip if a dependency is not installed, i found that the type5_pw() function uses passlib to hash a password with md5.

This is unnecessary.  You should be able to use ```crypt.crypt()``` to do this as it's in the stdlib and therefore available in many more places than passlib.  If, for some reason, you do want to use passlib if it's av

[2019-04-26 23:29] abadger opened #55839 "utils.encrypt.do_encrypt() redundant with utils.encrypt.passlib_or_crypt()"
##### SUMMARY
Looking at the encrypt.py code, do_encrypt() is simply a less featurful version of passlib_or_crypt() and is wholly implemented by passlib_or_crypt():

[code]
I believe that do_encrypt() was the original function and passlib_or_crypt() was added later.  We should decide which function name we'd like to support, make it the more featureful name, and then deprecate the other function.

[2019-04-27 00:54] bcoca commented on #55834
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The tags ONLY apply to tasks, the rest of the resources a role can add to a play are unaffected. The `roles:` clause ALWAYS imports a r

[2019-04-27 00:54] #55834 closed, assigned to nobody

[2019-04-27 05:02] #50633 closed, assigned to justjais

[2019-04-27 06:29] ssbarnea commented on #15529
Since ansible has `import_role` and `include_role` this is no longer an issue. The use of "roles:" has being deprecated and will be removed from Ansible.

[2019-04-27 06:29] #15529 closed, assigned to nobody

[2019-04-27 06:39] mgedmin commented on #24113
Our infrastructure changed and we no longer use this sort of setup, so I cannot say.

[2019-04-27 10:06] jean-christophe-manciot commented on #55766
@bcoca I think you misunderstood my previous comment:  I have
**in the playbook**
[code]
**in the role ```mysql```**:
[code]
Shouldn't the above task be executed with the user root as the default "become_user" when unspecified after ``` become: yes```?

[2019-04-27 10:26] mkrizek commented on #55814
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-27 10:26] #55814 closed, assigned to nobody

[2019-04-27 10:34] anghelflorin commented on #55829
The one you referenced is also closed and I don't see any reason for that. I'm new to github, maybe I'm reading it wrong.

[2019-04-27 10:55] weshouman opened #55842 "import_tasks do not allow passing different variables in the same playbook"
##### SUMMARY
Based on the docs we were allowed to call other playbooks with different variables with the following syntax.
[code]
Now using the new syntax will **Only get the wordpress.yml to be executed with wp_user=alice, but not with wp_user=timmy too** due to the way variables are handled in Ansible
[code]

Docs link [https://docs.ansible.com/ansible/2.4/playbooks_reuse_includes.html#includin

[2019-04-27 11:21] apitanga opened #55843 "gcp_compute_disk can't use RHEL source_image"
##### SUMMARY
Unable to create GCP disk using a RHEL image as source

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_disk
##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A disk gets created based off rhel image (projects/rhel-cloud/global/licenses/rhel-7-server)

##### ACTUAL RESULTS

[code]

[2019-04-27 11:23] apitanga commented on #55843
When doing this manually (GCP web UI) there's a term and conditions dialog one must accept to use rhel image.  Is there something similar for gcp_compute_disk?

[2019-04-27 11:31] Walid-Shouman commented on #55842
Closing the issue.
As it's invalid and the playbook was mistakenly redefining the

Actual behavior is as expected

[2019-04-27 11:31] #55842 closed, assigned to nobody

[2019-04-27 11:38] emre141 commented on #55553
When i install rabbitmq_version from command line inside any failed instance works fine.Also I mentioned this issue occured only when EC2 instance initialization.

[root@ip-172-16-125-226 bin]# yum install --disablerepo="*" --enablerepo=rabbit rabbitmq-server-3.7.10-1.el7.noarch
Loaded plugins: extras_suggestions, langpacks, priorities, update-motd, versionlock
Resolving Dependencies
--> Running t

[2019-04-27 11:47] emre141 commented on #55553
When i change my repository defination and test redeploy my ec2 instance and chech cloud-init-output log again regardless yum module task has been sucesss of failed i have seen with  the below repo configuration yum module task has been success

- name:  RabbitMQ (Centos 7 repo)
  yum_repository:
    name: rabbit
    baseurl: https://packagecloud.io/rabbitmq/rabbitmq-server/el/7/$basearch
    stat

[2019-04-27 12:21] jean-christophe-manciot commented on #55766
It is also worth noting the following setting in /etc/ansible/ansible.cfg:
[code]

[2019-04-27 12:34] apitanga commented on #55843
NM user error. close_me

[2019-04-27 12:49] jsalatiel opened #55844 "win_updates module do not see new updates"
##### SUMMARY
win_updates does not detect all pending updates

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_updates module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

Target OS: Microsoft Windows Server 2012 R2 Standard
Management OS: CentOS7

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Windows shows this:

![image](https://user-images.githubusercontent.com/552238

[2019-04-27 13:29] jean-christophe-manciot opened #55845 "Unable to connect to MySQL with correct credentials"
##### SUMMARY
Right after mysql installation, I try to set mysql root password (which is unset at that point).
The module mysql_user cannot connect to the server as root to perform that task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
Mysql default configuration (/etc/mysql/my.cnf is empty

[2019-04-27 13:43] jean-christophe-manciot commented on #55845
There is also a strange ```            "user": "root"``` parameter which appears in the log above, although [mysql_user](https://docs.ansible.com/ansible/latest/modules/mysql_user_module.html#mysql-user-module) module has no such parameter.

[2019-04-27 13:56] apitanga opened #55846 "gcp_compute_network"
##### SUMMARY

gcp_compute_network fails when network already exists
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_network
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora release 29 (Twenty Nine)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Task returns "OK" since network already exists.  Task doesn't fail.  return values

[2019-04-27 14:09] jean-christophe-manciot commented on #55845
If I manually change the root password with:
[code]
and then try to use the ```mysql_user``` module with the newly created root password in ```login_password```, I still cannot connect to mysql server with the same error as before: "Access denied for user 'root'@'localhost'\")"

[2019-04-27 15:04] apitanga opened #55849 "GCP attach shared VPC to project"
##### SUMMARY

Create module or add feature to existing module that enables one to attach a project to a shared VPC

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`lib/ansible/modules/cloud/google/`
##### ADDITIONAL INFORMATION

Org X would like to use Ansible to automate creation and management of GCP projects.  a common related task is to attach a project to an existing Shared VPC.

[co

[2019-04-27 17:02] MrKich opened #55850 "package_facts apt._cache is undefined"
##### SUMMARY

I tried to use ansible "package_facts" module under ubuntu 18.04 and it does not work, just emits warning:
` [WARNING]: Requested package manager apt was not usable by this module: 'APT' object has no attribute '_cache'`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/packaging/os/package_facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2019-04-27 17:08] MrKich commented on #55850
!component=lib/ansible/modules/packaging/os/package_facts.py

[2019-04-27 17:23] nxtreaming commented on #55746
Thanks, I finally use win_psexec  to lock the windows screen successfully.

[2019-04-28 01:43] yungezz commented on #55759
@nicolaibaralmueller are the resource group `aad` was in same subscription of current ansible setting?

[2019-04-28 05:02] taragurung commented on #50306
I added the task to add **user to docker group** and added one task with `meta: reset_connection` for restarting purpose.
I am getting this warning message and it does not restart the host

[WARNING]: Reset is not implemented for this connection

[2019-04-28 05:29] yungezz commented on #55759
issue fixed in devel branch, backporting to stable-2.8 branch.

[2019-04-28 05:36] falcon78921 commented on #41425
I saw this issue on the Docs Working Group project board and I just want to help :) The ``cli`` directory within ``ansible/docs/docsite/rst`` no longer exists. This directory hasn't existed since the ``2.5`` branch:
https://github.com/ansible/ansible/tree/stable-2.5/docs/docsite/rst

 However, when you navigate to the directory, you can see the built pages.

![image](https://user-images.githubuser

[2019-04-28 05:41] Fred-sun commented on #54914
@yuwzho As your mentioned, this issue duplicate with #52337, Could you can closed  this and pay more attention on another? Thanks!

[2019-04-28 05:41] Fred-sun commented on #52337
@yuwzho As you mentioned, Does there are already PR or contributor try to fixes this? Thanks a lot!

[2019-04-28 06:03] jamesongithub commented on #15529
i guess it doesn't cover roles included as dependencies

[2019-04-28 06:27] yuwzho commented on #52337
duplicate_of #54914

[2019-04-28 06:39] #52337 closed, assigned to nobody

[2019-04-28 07:08] yungezz commented on #52082
- name: Create instance of Key Vault
      azure_rm_keyvault:
        resource_group: "{{ resource_group }}"
        vault_name: "{{ keyvault_name }}"
        vault_tenant: "{{ azure_tenant }}"
        enabled_for_deployment: yes
        sku:
          name: standard
          family: A
        access_policies:
          - object_id: "{{ object_id }}"
            secrets:
              - get

[2019-04-28 07:25] Fred-sun commented on #52082
@yungezz Yes, I create vault key method same with you, But when I create secret meet this error? Thanks a lot!

[2019-04-28 08:42] yuwzho commented on #41003
close_me

As the DevTest Labs documentation said: If a user  is added as "DevTest Labs User" to a VM, he can only  start/stop/delete the VM, add/remove data disks to the VM only created by him. So After created by a contributor role, the vm cannot be stopped by a DevTest Labs User.

Reference: https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-add-devtest-user#actions-that-can-be-perf

[2019-04-28 08:55] yuwzho commented on #43416
close_me

This is by design, because the storage account is not a necessary one for the VM. The VM can use OS disk as storage profile as well, these tasks show how to create a VM using os disk:

https://github.com/ansible/ansible/blob/fd2ea344445e6f70361d01abfc25236fd337a1ca/test/integration/targets/azure_rm_image/tasks/main.yml#L1-L56

If you wanna create a VM using storage account, you can use `

[2019-04-28 09:02] #43416 closed, assigned to zikalino

[2019-04-28 10:01] rdonkin commented on #42302
I have the same issue with deleting a DaemonSet with Ansible 2.7.10 - the pods are not deleted, so I'm using similar code to @fahanson - thanks for that.

It would be good if the `k8s` module docs state that delete cascade is not implemented, since this is the default for kubectl.

[2019-04-28 10:22] getway commented on #49602
I have same problem too

[2019-04-28 12:26] willthames commented on #42302
Given that there's a test case that works on kubernetes proper, I'm open to investigating the difference further.

Certainly deleting deployments works fine, so I'm not sure what daemonsets do differently.

@rdonkin Could you provide a simple test case that works with kubectl but doesn't work with ansible, for standard kubernetes resources only (i.e. no special openshift resources) and I'll take a

[2019-04-28 13:54] rdonkin commented on #42302
@willthames I'm using Kubernetes 1.11 on EKS so you are correct that it's not OpenShift.  Kubectl is 1.12.7.

The code for deleting a DaemonSet including workaround is below - if you remove the 2nd and 4th tasks that should show the issue.

[code]

K8s manifest - [gist](https://gist.github.com/rdonkin/b60593c5a5f0cd54db36447290fe9ced)

This should be enough to show the problem. Kubectl does do del

[2019-04-28 15:02] ntimo opened #55860 "When container gets restarted it looses volumes and networks"
##### SUMMARY
When restarting a Docker container using the docker_container module the container loses all its volumes and networks this should not happen. When the container is stopped via the docker cli and then started the volumes will still be there.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVI

[2019-04-28 15:18] kesor commented on #25982
Using Ansible v2.7.10

With a task that looks like this -

[code]

The exception looks like this -

[code]

[2019-04-28 15:32] bmalynovytch commented on #55845
@jean-christophe-manciot I guess your problem is due to the fact that Ubuntu switched the default auth of the initial root account to unix socket.
This means that you can only log in using unix socket, not 3306 port, even on localhost.

This bug should be fixed in the devel branch.
Could you give it a try ?

[2019-04-28 16:55] Shaps commented on #53610
@Elias481, thanks for submitting this, I don't think this should be included in the module itself, the module ( and ansible in general ) is to ensure you have the resource/s in the desired state; That said, if this is a feature you need, you can already achieve it by using `ec2_instance_facts/failed_when`:
[code]

[2019-04-28 18:23] #25991 closed, assigned to nobody

[2019-04-28 23:37] techagile commented on #55682
#bug

[2019-04-28 23:58] luisAngelPerezCastillo opened #55864 "my reporte"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-04-28 23:58] luisAngelPerezCastillo commented on #55864
(💯

[2019-04-28 23:58] luisAngelPerezCastillo opened #55865 "my documentqcio"
##### SUMMARY

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2019-04-28 23:59] #55865 closed

[2019-04-28 23:59] luisAngelPerezCastillo commented on #55865
(👍

[2019-04-29 00:00] luisAngelPerezCastillo opened #55866 "requerimientos"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2019-04-29 00:00] luisAngelPerezCastillo opened #55867 "my reporte de seguridad"
For all security related bugs, email security@ansible.com instead of using this issue tracker and you will receive a prompt response.

For more information, see https://docs.ansible.com/ansible/latest/community/reporting_bugs_and_features.html

[2019-04-29 01:34] igoratencompass commented on #51646
Any updates on this issue?

[2019-04-29 01:35] yungezz commented on #55350
@MyronFanQiu  could you pls take care of this feature? Thanks.

[2019-04-29 01:48] xmadsen opened #55869 "redfish_command - Systems - PowerGracefulShutdown returns "changed" a system was already shut down."
##### SUMMARY

Running PowerGracefulShutdown against an already-shut-down system returns "changed: true, msg; Action was successful." It should not return changed, since the state of the system would not change from sending that command. The message should indicate that the action was unneeded or something similar.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

redfish_command

##### ANSIBL

[2019-04-29 03:46] MyronFanQiu commented on #55350
@yungezz @melezhik No problem. I will track this issue and try to support this feature.

[2019-04-29 05:16] willthames commented on #42302
Thanks @rdonkin - I'll try and have a look at this some time this week

[2019-04-29 05:38] yuwzho commented on #49659
Hi, from the v2.8, we added an option [`attach_caching`](https://docs.ansible.com/ansible/2.8/modules/azure_rm_manageddisk_module.html#parameters) to control the cache

[2019-04-29 06:00] mkrizek commented on #55864
If there is a bug you are seeing please create a new issue with a description and a reproducer, thank you.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-29 06:00] #55864 closed

[2019-04-29 06:02] mkrizek commented on #55866
Please create a new issue with a proper information about a bug/feature.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-29 06:02] #55866 closed

[2019-04-29 06:02] #55867 closed

[2019-04-29 06:07] #55318 closed, assigned to mkrizek

[2019-04-29 07:07] lparkes commented on #53448
This bug is probably already fixed in the devel branch which got branched for 2.8, so I would expect this to work in 2.8. I wasn't able to reproduce the particular symptoms you got, but I have IPv6 enabled on all my networks and that was clearly making the Ansible code act differently. @Akasurde was probably testing with the devel branch with his successful test.

[2019-04-29 07:28] jean-christophe-manciot commented on #55845
Are you sure? That would mean the socket must be different for each different mysql version when multiple versions are running in parallel, although that is not the case here: only 5.7.
The issue is still there with:
[code]
I get:
[code]

[2019-04-29 07:42] andmos opened #55873 "win_chocolatey: package exitcode fails task"
##### SUMMARY
Hypothesis: When chocolatey package throws its own exit code (different from 0 or 1) the `win_chocolatey` task fails, even if installation is complete. Might be solved by supporting `--ignore-package-exit-codes`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`win_chocolatey`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Running from MACOS

[2019-04-29 08:22] vahle commented on #52275
Any chance someone could give an indication of exactly how to work around this?

Trying to install/run algo and this error has been dogging me for a couple of hours

[2019-04-29 08:33] matthgyver opened #55875 "win_acl on CIFS share"
##### SUMMARY

Ansible return an error when using win_acl module on a UNC path

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_acl
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Worked in Ansible 2.4.2.0 / have the error below in 2.7.X

##### ACTUAL RESULTS

[code]

[2019-04-29 09:12] mmazur commented on #55817
I just checked against ~vanilla 1.11 and I'm getting the same thing as with openshift's k8s 1.11, so this isn't openshift–specific.

As to the diff, it shows changes in metadata.resourceVersion and nothing else:

[code]

[2019-04-29 09:17] Hellnino18 commented on #40023
Great feature ! I would like to use the same instead of using shell or command! Guys do you think of an ETA for this feature ?

Thanks.

[2019-04-29 09:18] mmazur commented on #55817
Dang it, it's a bug fixed in k8s 1.12: https://github.com/kubernetes/kubernetes/pull/67562

Can/should we do something about it?

[2019-04-29 09:18] bmalynovytch commented on #55845
In your Ansible snippet, `login_host` should definitely be empty / unset.
When you set it, you tell MySQL client to connect using TCP, which is forbidden until you set the password and change the auth method.

[2019-04-29 09:23] mmazur commented on #55817
We can. Dunno if we should. I'd vote yes:
1. Check if changed==true
2. If yes, check what's in the diff
3. If the only thing changed is metadata.resourceVersion, set changed=no (and delete the diff dict?)

@fabianvf @willthames ?

[2019-04-29 09:58] willthames commented on #55817
I'd patch this at the playbook end tbh.

[code]

or something along those lines - I just don't think fixing the k8s module to work around a minor, fixed, kubernetes bug is worth it

But I'm not totally against such a change either.

[2019-04-29 10:11] mmazur commented on #55817
Yeah, now that I've identified the issue I'll likely add backwards compatibility to my own playbooks at least for now. And if this were only about k8s, I'd probably also ignore the old version. But I'm afraid openshift 3 might be with us for a good while.

[2019-04-29 10:13] felixfontein commented on #55860
As opposed to docker CLI, the `docker_container` module uses `start()` and `stop()` to restart the container. The docker CLI uses the `restart()` command ([reference](https://docker-py.readthedocs.io/en/stable/api.html#docker.api.container.ContainerApiMixin.restart)). It could be related to this.

I don't have time to investigate this now, I might look at it later this week. If anyone else wants t

[2019-04-29 10:16] jean-christophe-manciot commented on #55845
At that point, [the password has been changed](https://github.com/ansible/ansible/issues/55845#issuecomment-487289078) before the call.

Anyhow, removing ```login_host``` in my role does not change anything: it is automatically set by ansible!

[2019-04-29 10:19] willthames commented on #55817
I don't follow openshift I'm afraid - I thought they were keeping up with upstream so that openshift 3.12 would fix this?

[2019-04-29 10:24] mmazur commented on #55817
Yeah, new openshift should have new k8s. And if that's around the corner, then this bug won't need addressing. I'll look into it.

[2019-04-29 10:33] jean-christophe-manciot commented on #55845
The plugin we need to use in Ubuntu/Debian is ```mysql_native_password```.

[2019-04-29 11:26] srimandarbha opened #55876 "Unable to create security group rule using os_security_group_rule module"
##### SUMMARY
Unable to create security group rule with error " Invalid CIDR NXDOMAIN/32 given as IP prefix." when trying to add a ip address as remote_ip

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
We are trying to add security group rule using the os_security_group_rule and dns plugin. When we are trying to add the rule for a ip address say devdb.fqdn internally resolv to 10.0.2.21 with

[2019-04-29 11:48] bmalynovytch commented on #55845
🤔

[2019-04-29 12:06] jean-christophe-manciot commented on #55845
Is there a way to log the code run by the ```mysql_user``` module & related calls, something equivalent to ```set -x``` for bash?

[2019-04-29 12:53] ephesused commented on #55612
So that we can prepare appropriately, what are the chances that this one will be resolved for the initial 2.8 release?

[2019-04-29 13:34] jctanner commented on #24181
duplicate of https://github.com/ansible/ansible/issues/17911

[2019-04-29 13:34] #24181 closed, assigned to nobody

[2019-04-29 13:44] bmalynovytch commented on #55845
Have you given a try with https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-debug

[2019-04-29 13:49] earthquakesan opened #55877 "docker_container module: etc_hosts parameter does not interpolate variable in "host" position"
##### SUMMARY
Given this playbook:
[code]

in docker container /etc/hosts {{ etc_hosts_host }} variable is not interpolated:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS 10.14.4 with python2.7 and ansible installed via pip.
[code]

##### STEPS TO REPRODUCE

[code]

To run:
[code]

[2019-04-29 14:42] abadger commented on #55612
We're discussing this right now.  We've agreed that the change is good but that we're going to go through a deprecation cycle for it.  So in 2.8.x it will emit a warning instead of erroring in this case.

I'm figuring out if we'll put this into an rc2 release or if we'll wait until 2.8.1.

[2019-04-29 14:58] sivel commented on #55876
!component =lib/ansible/modules/cloud/openstack/os_security_group_rule.py

[2019-04-29 15:16] RobVerduijn opened #55879 "please add ipa 'domain resolution order' option to the ipa_config module"
##### SUMMARY

please add the option to set the ipa 'domain resolution order' to ipa_config
##### ISSUE TYPE
- Feature Idea
The current ipa_config module does not have an option to set the domain resolution order in the ipa global config.

Please add this option to the ipa_config module

##### COMPONENT NAME

ipa_config
##### ADDITIONAL INFORMATION

This patch should do the trick

[code]

[2019-04-29 15:17] sivel commented on #55729
I've done a small amount of research, and this might be caused by a 3rd party dependency.

When researching the error I cam across https://github.com/unbit/uwsgi/issues/1978#issuecomment-471768261

It indicates C extensions not implementing the correct calls is misbehaving.

I notice from the output the string `THIS IS A LOCAL LXC DIR`, which indicates you are using the `lxc` connection plugin, wh

[2019-04-29 15:26] tamirhad opened #55880 "adding switchport for ios facts"
##### SUMMARY
adding switchport type under ios_facts

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ios_facts under networking modules

##### ADDITIONAL INFORMATION
adding switchport type(access/trunk) about each interface under ios_facts module,
in order to play speciefic tasks for each type.

[2019-04-29 15:53] maiqueb opened #55881 "os_network: Add support for setting the MTU when creating a network"
##### SUMMARY
The networking API v2 specification, which is implemented by openstack neutron, features an optional MTU parameter - when creating networks (POST & PUT requests). The link for the specification is at [0].

MTU is a crucial parameter, since an incorrectly set value can seriously degrade network performance or even cause a complete failure to transmit network traffic.

[0] - https://de

[2019-04-29 15:53] jpmontez commented on #29756
I'm seeing it as an issue with the `rds_instance` module, too. Just checked that the API command is never issued via Ansible. This is when the instance is in `storage-operation` status, which is still supposed to be modifiable. I can issue a rename manually via the Console and it succeeds even though it's not in an `available` state explicitly.

[2019-04-29 15:59] Taoquitok opened #55882 "Extend file module absent state diff to show files removed"
##### SUMMARY
Currently when using `file: "path=someFolderPath state=absent"`, if a folder is defined for removing, the diff result only shows the state change, not the files removed. I believe a small tweak to `initial_diff` would make sense in the case of using `state=absent` to make it more clear what's to be removed

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
[Modules/Files/File.py]

[2019-04-29 16:09] manuBocquet opened #55883 "Can not set variables on handler with delegate to if first hostname failed"
##### SUMMARY

Variables can not be set when when all following conditions are met :

- Variable is defined in handlers
- Task is delegate to localhost
- First host in inventory has failed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

handlers

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.6 (Maipo)

##### STEP

[2019-04-29 17:05] kadaan opened #55884 "ec2_asg fails when switching between ec2 and elb health_check_type"
##### SUMMARY
When the ec2_asg module tries to switch an ASG from EC2 to ELB health check type it fails because it expects the instances to be part of the ELB and healthy before it can complete the deploy.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Create an AWS ASG wit

[2019-04-29 18:01] sc68cal opened #55886 "eos_l2_interface cannot configure a port in trunk mode, without native_vlan or trunk_allowed_vlans set"
##### SUMMARY

I have a number of switches that were configured by hand, that I am trying to convert into being configured via Ansible. They have ports that are configured as follows:

[code]

Creating a playbook to and using the eos_l2_inteface module does not yield a port configuration that matches this desired configuration:

[code]

Resulting config:

[code]

[code]

##### ISSUE TYPE
- Bug Rep

[2019-04-29 18:51] ichekaldin commented on #41861
@markuman and @jeevers any luck on this?

[2019-04-29 19:34] UnitedMarsupials commented on #14674
Unless a module implements its own diffing, that's the case, though, is it not?

And, if it does, there is no way to do this in general anyway -- each such module would have to add the feature on its own, would they not?

[2019-04-29 19:43] huguesdk opened #55891 "Assigning an integer variable to another variable results in unexpected behavior"
##### SUMMARY
When an integer variable is assigned to another variable using a string template, that variable still behaves internally as an integer, but is displayed as a string, resulting in unexpected behavior.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
(not relevant)

##### STEPS TO REPRODUCE
`test.yaml

[2019-04-29 19:49] felixfontein commented on #55877
This is not a `docker_container` problem, but you're doing something Ansible doesn't support. Ansible is doing the interpolation and passing the module options on to the module, and the module does not do any interpolation (it can't, since the variables stay on the controller node).

See also #17324. I'm closing this issue as "not a bug" because it is not a bug of `docker_container`.

notabug

[2019-04-29 19:58] sivel commented on #55891
This behavior is due to a historical integration between ansible and jinja2.  jinja2 versions before 2.10 only had the ability to return strings when performing templating.

As of Ansible 2.7 and Jinja2 2.10, you can now enable jinja2 native types to solve this issue:

https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-jinja2-native

If you have further questions plea

[2019-04-29 19:58] #55891 closed, assigned to nobody

[2019-04-29 20:02] #55877 closed, assigned to nobody

[2019-04-29 20:03] felixfontein commented on #55860
Hmm, I can't reproduce this with docker-engine 18.09.5-ce under Linux. Maybe it is macOS-specific. I'll create a PR which uses `restart()` instead of `stop()`/`start()`; @ntimo I would be glad if you could test that one to see whether it works for you. I'll ping you once it's there.

[2019-04-29 20:17] ntimo commented on #55860
@felixfontein Sure I will test it out. I will need to the use devel version of Ansible to test it correct? Hmm, that is strange. I am running Ansible from a macOS device but the target machine runs `Ubuntu 18.04.2`. And the Docker version is `Docker version 18.09.5, build e8ff056`

[2019-04-29 20:21] earthquakesan commented on #55877
@felixfontein thanks for the explanation! I indeed thought, that it was module related.

[2019-04-29 20:24] huguesdk commented on #55891
Thanks for your quick answer!

While I understand that integer variables become strings, why is `test_var_3` still an integer internally (but displayed as a string)? Don’t you think that this default behavior is confusing and should change (simply be and behave like a string)? I’m pretty sure many people had bad surprises because of this.

I just tried with the `jinja2_native` option, and while it

[2019-04-29 20:36] pgauret commented on #55729
Indeed I am using the `lxc` connection plugin through `py3-lxc`. The issue does **not** happen when connecting to localhost.

On a somewhat related note, I was already having issues with Ansible when using `lxc`.
https://github.com/ansible/ansible/issues/54659

I'll log an issue with https://github.com/lxc/python3-lxc , guess there's not much more to do on the Ansible side.

[2019-04-29 20:38] #55710 closed, assigned to samdoran

[2019-04-29 20:55] wltjr commented on #55365
@s-hamann Thank you for the report and playbook, I can confirm your results.

Though, it is some what bigger of an issue than just the ```--noreplace``` option. For example, in test 1, you can remove both state and noreplace options and it makes no difference. In fact, I have yet to get it to reinstall an existing package. Still experimenting with different options and settings. There definitely s

[2019-04-29 20:56] felixfontein commented on #55860
@ntimo hmm, good question. You could also manually patch `docker_container.py` in your Ansible installation as I did in #55894. Or you can install Ansible 2.8 RC 1 and replace `docker_container.py`.

That your target machine is running Ubuntu with docker 18.09.5 is also very interesting, this means that this is not a macOS problem since only the OS on which the module is executed (resp. on which t

[2019-04-30 00:05] abadger commented on #55612
Merged to the stable-2.8 branch here: https://github.com/ansible/ansible/pull/55896  I'll look at putting out an 2.8.0-rc2 this week which contains that fix.

[2019-04-30 00:05] #55612 closed, assigned to nobody

[2019-04-30 00:35] steve-r-west opened #55897 "uri module does not set status with invalid SSL certificate"
##### SUMMARY
If the destination has some non HTTP level error the status code field isn't set automatically, which makes some retry logic annoying.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

If the result isn't a 200 it loops forever (or if th

[2019-04-30 00:54] mdavis-xyz opened #55898 "Document return values for file module (esp. path/dest/name)"
# SUMMARY

When using the [file module](https://docs.ansible.com/ansible/latest/modules/file_module.html#file-module), the `path` argument should be returned in the registered variable as `ret.path`.

# ISSUE TYPE

- Documentation Report

# COMPONENT NAME

file module

# ADDITIONAL INFORMATION

## Steps to reproduce

[code]

## Expected behavior

The last task in this play should succeed. The `pat

[2019-04-30 01:04] ac1dgoddess opened #55899 "ec2_instance - unable to create instance from launch_template"
##### SUMMARY
I'm unable to launch an instance from an AWS Launch Template using the ec2_instance module as per the docs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible AWS ec2_instance module with launch_template subtask

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.2 LTS on an AWS ec2 instance

Python addition versions:
[code]

####

[2019-04-30 01:08] ac1dgoddess commented on #55899
This comment seems to show that this user is experiencing the same behavior: https://github.com/ansible/ansible/issues/38201#issuecomment-402408608

[2019-04-30 01:12] mdavis-xyz opened #55900 "How to compile Ansible?"
# SUMMARY

I want to write code and submit a pull request.
I have no idea how to actually compile and run my code to see if it works.

The github README and the [Contributing to Ansible](https://docs.ansible.com/ansible/latest/community/how_can_I_help.html#review-and-submit-pull-requests) doc pages do not explain how.

## What I tried

I looked in `README.rst`, but there are no instructions there.

[2019-04-30 01:28] mlda065 commented on #55898
$ ansible --version
ansible 2.5.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/opentelco/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.15rc1 (default, Nov 12 2018, 14:31:15) [GCC 7.3.0]

[2019-04-30 01:30] mlda065 commented on #55898
bot_status

[2019-04-30 01:30] mlda065 commented on #55900
!component README.rst

[2019-04-30 01:31] mlda065 commented on #55898
##### ANSIBLE VERSION

[code]

[2019-04-30 01:32] mlda065 commented on #55900
!component =README.rst

[2019-04-30 01:33] mlda065 commented on #55898
I'm willing to write the patch for this myself, as soon as the documentation is updated with build instructions (issue #55900 ).

[2019-04-30 01:33] mlda065 commented on #55898
I am not sure how to make the bot remove the `needs_info` tag (now that I've added version info).

[2019-04-30 02:55] #41003 closed, assigned to zikalino

[2019-04-30 03:24] yuwzho commented on #51062
Hi @jvalderrama , I am looking into the VM related issues these days. The `create_option` in this field is about how to create data disk attached to the VM. As [Azure API doc](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/createorupdate#datadisk) says, the possible value here is `from_image`, `attach`, `empty`. However for the `from_image` is "used when you are using an image t

[2019-04-30 04:49] mkrizek commented on #55900
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-30 04:49] #55900 closed, assigned to nobody

[2019-04-30 05:40] s-hamann commented on #55365
I added default values to the tests for clarity, so, yes, you can remove both options from the first test case.

What do you mean by

Using `emerge`? That's as simple as `emerge $pkgname`
Using Ansible? Well, yes, that does not seem to be possible at the moment.

I think the issue mostly comes from the module's logic that checks if the requested packages are already present. It seems flawed, since

[2019-04-30 05:51] mlda065 commented on #55900
Ok, I'll try IRC.

I do think that this is a mistake. The complete absence of build instructions in any documentation, combined with a non-intuitive build process is a serious documentation bug.

[2019-04-30 05:59] mkrizek commented on #55900
It's there: https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#running-from-source

[2019-04-30 07:00] Akasurde commented on #55879
@RobVerduijn Thanks for reporting this feature. Would you be interested in raising a PR with your findings ? Thanks.

[2019-04-30 07:22] machacekondra commented on #55641
You are passing incorrect name of network interface, but I will change the name from `network_name` to `interface_name` so it's more clear.

[2019-04-30 07:34] ntimo commented on #55860
@felixfontein I replaced the docker_container.py in my local ansibel installation. But now I am always getting a   `msg: Could not find imported module support code for docker_container.  Looked for either docker_version.py or common.py` when trying to run Ansible.

[2019-04-30 07:41] RobVerduijn commented on #55879
Hi,
Sure no problem, but I don't know where to start.

this page is not helping:
https://docs.ansible.com/ansible/latest/community/development_process.html

It asumes you got the privilege to commit to ansible branches.
I don't have that.

Is there a page where they describe how to do this if you are not a recognised ansible developer ?

Rob

[2019-04-30 07:49] furstenheim-geoblink commented on #17098
Taking into account that until is not supported for include tasks. Would it make sense to mark it as invalid the cli with `--syntax-check`?

[2019-04-30 09:11] Akasurde commented on #55879
@RobVerduijn You don't need privileges to commit to Ansible branch. First fork Ansible project in your account and then create a feature branch and the commit to that branch. After your changes are tested, you can create pull request with this feature.

Let me know if you need any help for this.

Thanks.

[2019-04-30 09:39] furstenheim-geoblink commented on #17098
Just a small comment on the code. In order to make it work I had to do {{ range(0, 6, 1) | list }}

[2019-04-30 09:40] frsauvage opened #55908 "rabbitmq_publish : content_type application/json fails"
##### SUMMARY
Cannot use JSON content with rabbitmq_publish module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module rabbitmq_publish

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
In a playbook just put content_type: "application/json"
[code]
##### EXPECTED RESULTS
I expect a well-formed  json message in rabbitmq

##### ACTU

[2019-04-30 09:48] P-Hessler commented on #55875
I stumbled on this this problem as well. The reason seems to be the fix for #54427 contained in commit https://github.com/ansible/ansible/commit/10f006036c1482bd4b170719652ee52075a4a41e#diff-1ae140c74714034336209ea40c6e2551. Line 94 ($path_qualifier = Split-Path -Path $path -Qualifier) tries to obtain a qualifier which fails for UNC paths.

As a work around I prepended "file:" to the path.

[2019-04-30 09:48] artjomaverin opened #55909 "File module with state=link inconsistently changes ownership of `src`"
##### SUMMARY
Running single task with module `file` over same file multiple times changes ownership of file
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Centos 7 VM running based on VirtualBox wrapped with Vagrant

##### STEPS TO REPRODUCE

Setup inventory with one host and two iterations of sy

[2019-04-30 09:53] hamishforbes opened #55911 "aws_ec2 Inventory plugin: support jinja2 filters in hostname"
##### SUMMARY
Support setting the inventory hostname with jinja2 filters when using the aws_ec2 inventory plugin.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible.inventory.plugins.aws_ec2

##### ADDITIONAL INFORMATION
I would like to be able to construct complex hostname aliases in the inventory.

All of our EC2 instance have a Name tag, for standalone instances this is unique, e.g.

[2019-04-30 10:03] hamishforbes commented on #55911
!component =lib/ansible/plugins/inventory/aws_ec2.py

[2019-04-30 10:05] nilsmeyer opened #55912 "ec2 module: Allow "auto" setting for ebs_optimized"
##### SUMMARY
Currently, the ec2 module defaults the "ebs_optimized" parameter to "false", which works with all instance types. There could be an option "auto" that will set ebs_optimized to "true" for instance types that support this.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
* ec2 module
* ec2_instance module

##### ADDITIONAL INFORMATION
A setting of "auto" for the ebs_optimized pa

[2019-04-30 10:08] artjomaverin commented on #55909
And to avoid standing up twice: I think, that `src` and `dest` should be replaced, it makes much more sense to me to have `dest` as file, where symbolic link is pointing to. But that is just a side wish ofc.

[2019-04-30 10:17] mkrizek commented on #23161
This appears to be related to how we mark hosts failed, I've opened the above PR with (maybe PoC) fix.

[2019-04-30 10:30] #53805 closed, assigned to nobody

[2019-04-30 10:33] renweibo opened #55914 "docker_image don't work as expect"
##### SUMMARY
Cannot use docker_image in playbook but can use docker_image module directly in command line. See details under section **STEPS TO REPRODUCE**
I already check the issue related docker_image and try the work around in these issues. But it stills not work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_image

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

#####

[2019-04-30 10:38] renweibo commented on #55914
execute `ansible localhost -m docker_image -a "name=redis"`

[code]

[2019-04-30 11:06] Akasurde commented on #55711
@digifuchsi Could you please check if PR #55916 works for you ? Thanks.

[2019-04-30 11:07] Akasurde commented on #55711
resolved_by_pr #55916

[2019-04-30 11:12] rajsshah86 opened #55917 "mysql_user module doesnot work for mariadb version 10.4 and above"
##### SUMMARY
When trying to change password for root user ( after default installation) mysql_user module doesn't work for mariadb version 10.4 and above. MAriadb 10.4 and above , doesn't have 127.0.0.1 and ::1 host in the default table which means only localhost is allowed to connect after installation.
Even if you pass "login_host" as localhost  in mysql_user module , it some how internally get

[2019-04-30 11:20] larsks opened #55918 "Cannot pass stdin="something" to "command" module in ad-hoc command"
##### SUMMARY

Given that this works:

    ansible localhost -m command -a 'chdir=/tmp some_command`

I expected that this would work:

    ansible localhost -m command -a 'chdir=/tmp stdin="This is a test" some_command`

But it doesn't: ansible interprets the `stdin=...` as part of the command, which obviously fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

command

##### ANSIBLE VER

[2019-04-30 11:41] frsauvage opened #55919 "rabbitmq_publish : Unsuccessful publishing to queue response BUT message well published ?"
##### SUMMARY
"Unsuccessful publish" response in rabbitmq_publish modul  BUTmessage is well published (!)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/notification/rabbitmq_publish.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

rabbitmq is inside a docker container with last version of awx

##### STEPS TO REPRODUCE

I copy:paste

[2019-04-30 12:11] ticapix commented on #37522
Hi,

Stepping on the same issue of inconsistent unit usage in parted.

Using `parted (GNU parted) 3.1`, the tool is not case sensitive.

[code]

[code]

Since the entire module is lowering unit, a fix would be to relax check_size_format check and allow case-insensitive units

[2019-04-30 12:23] digifuchsi commented on #55711
@Akasurde works great, thanks

[2019-04-30 12:30] Akasurde commented on #55711
Re-opened as PR is not merged, yet.

[2019-04-30 12:33] ephesused commented on #55612
That's great - thanks!

[2019-04-30 12:36] markgoddard commented on #41240
Can we reopen this, given that Pierre found it to still be broken? Was 2.7.2 the correct version to test?

[2019-04-30 12:42] mmazur commented on #55817
Yeah, I think we can ignore this for the time being and just wait openshift out. Closing. Can be reopened if need be.

[2019-04-30 12:42] #55817 closed, assigned to nobody

[2019-04-30 12:46] #54231 closed, assigned to nobody

[2019-04-30 12:48] #51123 closed, assigned to nobody

[2019-04-30 12:53] #54234 closed, assigned to nobody

[2019-04-30 13:07] nizar-ati opened #55924 "vmware_guest disk type didn't work"
ansible version: 2.7.10

Cloning Vm from another, and when we specifie the disk type ( or we put any think in type value) the disks are created with thin option.

-- the code :
    disks_VM:
  - type: eagerZeroedThick
    size_gb: 25
    datastore: "{{ datastore_VM }}"

And the result 👎  disk type= thin ( on vcenter interface disk= dynamic provision)

[2019-04-30 13:19] jean-christophe-manciot commented on #55845
on **Debian buster** to get a different perspective with:
[code]

1) **gdb**
I was more thinking about a solution involving ```gdb``` to list the **whole python stack trace**, such as:
[code]
leads to:
[code]
despite:
python2.7-dbg: 2.7.16-2
python2.7-dev: 2.7.16-2

I'm probably not using it correctly.

2) **ANSIBLE_DEBUG=True**
Using ```ANSIBLE_DEBUG=True``` leads to:
[code]
Does this trace help

[2019-04-30 13:28] spongebob331 commented on #45407
Any idea when this is coming?  I could use the multiple cdrom feature, as well.

[2019-04-30 13:43] s-hertel commented on #55912
My 2 cents, I think this should just be a feature for ec2_instance. I don't think we should be adding new features to the old ec2 module. Instead, we should work on bringing ec2_instance up to par. Especially since ec2 has many limitations that will never be able to be fixed since the boto library is no longer actively maintained (and ec2_instance has tests, whereas ec2 does not).

[2019-04-30 13:49] RobVerduijn commented on #55879
Hi,
I forked the project and branched it.
https://github.com/RobVerduijn/ansible/tree/add_ipadomainresolutionorder
The commit containing the patch:
0ebf77f00d3dcca2da8c049c112f144554a0f6df

How do I get it tested ?
Is there a bot somewhere that I need to trigger ?

Creating a pull request is not a problem, I guess against the devel branch.
Rob

[2019-04-30 13:51] lp177 commented on #33947
Fix proposal: https://github.com/ansible/ansible/pull/55925

[2019-04-30 14:50] fhemberger opened #55932 "os_server ignores `auth.project_name` when OS_* environment variables exists"
##### SUMMARY
Unlike other OpenStack modules, it's not possible to directly specify a project name where new server instances should be created. Setting `auth.project_name` is ignored when `OS_PROJECT_ID` and `OS_PROJECT_NAME` environment variables are set.

Use case: I'm logging into OpenStack as part of the "admin" project to create a new project and additional configuration. Afterwards, I want

[2019-04-30 14:53] thecodingrobot opened #55933 "mongodb_replicaset: add configsvr flag"
##### SUMMARY
Add the ability to set the `configsvr` flag. This will allow for automated deployment of Config server replica set. The default value should be False.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mongodb_replicaset

##### ADDITIONAL INFORMATION
Example:
[code]

[2019-04-30 15:00] acozine opened #55935 "Expand list of internal variables"
##### SUMMARY
Per @bcoca, the list of internal arguments on https://docs.ansible.com/ansible/devel/dev_guide/developing_program_flow_modules.html is incomplete. Document the rest of these args:

_ansible_module_name, _ansible_string_conversion_action, _ansible_keep_remote_files, _ansible_socket, _ansible_shell_executable, _ansible_tmpdir, _ansible_remote_tmp

##### ISSUE TYPE
- Documentation Repor

[2019-04-30 15:10] #55810 closed, assigned to nobody

[2019-04-30 15:11] nilsmeyer commented on #55912
I was unaware of the issues with ec2. I have checked the code for ec2_instance, instead of defaulting to "no"/"false" it just doesn't pass the parameter. It seems the (undocumented) default for EC2 is False, so this feature makes sense there as well.

[2019-04-30 15:14] MortallyRoasted opened #55938 "Module: [yum/package] 'state:absent' does not remove packages v2.7.10"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Modules: [yum, package]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora Server 29 (Base Install) (Running in VirtualBox)

##### STEPS TO REPRODUCE

[code]

[code]

[code]

This also does not work if I explicitly list the packages to remove with the `with_items` key.

[code]

##### EXPECT

[2019-04-30 15:16] #23395 closed, assigned to bcoca

[2019-04-30 15:19] s-hertel commented on #55792
An immediate solution would be to allow your session token to exist longer than 15 minutes. Alternatively, a `wait: false` option would help you out here. I'm closing this as a duplicate of https://github.com/ansible/ansible/issues/55793 which would also be fixed with by a `wait` option.

[2019-04-30 15:19] #55792 closed, assigned to nobody

[2019-04-30 15:21] s-hertel commented on #55793
A fire and forget method could be achieved using a `wait` boolean flag.

[2019-04-30 15:23] samdoran commented on #55849
!component =lib/ansible/modules/cloud/google

[2019-04-30 15:27] newswangerd opened #55939 "Ansible can't find roles in collections that use .yaml extensions"
##### SUMMARY

Roles in collections that use `.yaml` extensions in `tasks/` don't get discovered by ansible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Collection loader

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

- Create a collection with a role that has `tasks/main.yaml`
- Attempt to load the role from a playbook

[co

[2019-04-30 15:35] nitzmahone commented on #55875
Yeah, sounds like a regression we should be able to correct pretty easily- thanks for the report...

[2019-04-30 15:47] samdoran commented on #55897
Until this is fixed, using the `default` filter as a workaround. `until: result.status | default(0) == 200`

[2019-04-30 15:50] nitzmahone commented on #55897
We discussed this during triage and decided that even though this is technically valid, since we haven't gotten to HTTP yet, the RETURN docs also say that `status` is returned always... So we should always be including the `status` key, but it might be null if we didn't get a code back (rather than inventing a bogus status code).

[2019-04-30 15:54] justjais commented on #55324
I have commented the support line for `cliconf` as it shall be continued to be supported in Ansible version `2.9`. Fixed in PR #55751. So, closing the respective issue raised.

[2019-04-30 15:54] #55324 closed, assigned to nobody

[2019-04-30 15:55] justjais commented on #55323
I have commented the support line for `cliconf` as it shall be continued to be supported in Ansible version `2.9`. Fixed in PR #55751. So, closing the respective issue raised.

[2019-04-30 15:55] #55323 closed, assigned to nobody

[2019-04-30 15:55] justjais commented on #55322
I have commented the support line for `cliconf` as it shall be continued to be supported in Ansible version `2.9`. Fixed in PR #55751. So, closing the respective issue raised.

[2019-04-30 15:55] #55322 closed, assigned to nobody

[2019-04-30 15:55] justjais commented on #55321
I have commented the support line for `cliconf` as it shall be continued to be supported in Ansible version `2.9`. Fixed in PR #55751. So, closing the respective issue raised.

[2019-04-30 15:55] #55321 closed, assigned to nobody

[2019-04-30 15:55] justjais commented on #55325
I have commented the support line for `cliconf` as it shall be continued to be supported in Ansible version `2.9`. Fixed in PR #55751. So, closing the respective issue raised.

[2019-04-30 15:55] #55325 closed, assigned to nobody

[2019-04-30 15:56] samdoran commented on #55919
!component =lib/ansible/modules/notification/rabbitmq_publish.py

[2019-04-30 15:59] samdoran commented on #55924
For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-30 15:59] #55924 closed, assigned to nobody

[2019-04-30 16:04] samdoran commented on #55938
If you run the command `dnf uninstall 'freeipa-*'` does it remove the packages? There were some issues with `dnf` on Fedora 29 and that may be the real issue.

needs_info

[2019-04-30 16:04] hubbcaps commented on #47097
Any hope of this getting fixed anytime soon? Still an issue as of now, using ansible as a provisioner in packer against a Xenial image in AWS.

[2019-04-30 16:10] s-hertel commented on #55898
The documentation refers to the arguments for invocation. The returned values are not documented (they are not always the same as the invocation, they should be). It would be better to document the returned structure since the value of path (via the returned value `dest`) is already accessible and you would not need to write a path more than once.

[2019-04-30 16:25] profhase opened #55942 "Roles default vars get overridden"
##### SUMMARY
Let's assume we have a role with a default defined `mydefault: 'initial default`
If there is somewhere an `import_role` which overrides that default, the default is being overridden for all roles

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
import_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
irrelevant

##### STEPS TO REPRODUCE

[code]

###

[2019-04-30 16:25] MortallyRoasted commented on #55938
@samdoran

# Does Not Work

[code]

# Works

[code]

The workaround is simple, so this is not a huge deal. However, it does defeat the purpose of using the generic `package` module in the first place.

[2019-04-30 16:32] chicolatino commented on #44403
This bug is also happening in ansible 2.7.10 under the same circumstances (linux + centrify).

[2019-04-30 16:36] billdodd commented on #55869
I will do a PR for this as soon as PR #54201 is merged. (There is a code change in that PR that I will want to leverage.)

[2019-04-30 17:37] natefoo commented on #52275
It depends what you want, but set `virtualenv_command` to either
- an absolute path (with arguments) to run virtualenv (e.g. `/usr/bin/python3 -m venv`), or
- the name of a virtualenv script on `$PATH` (e.g. `pyvenv`).

[2019-04-30 18:05] davidedelvento commented on #50543
This happens in `ansible 2.7.10` and goes away with `follow=False` as the error message states. However, the documentation about `follow` is very thin and does not explain what follow does in all circumstances, particularly when there is nothing to follow, like in the use case of this bug report: when the link needs to be created as a broken one.

[2019-04-30 18:38] acdha opened #55955 "ec2 module needs to account for instance states"
##### SUMMARY

Currently the ec2 module will count instances which are shutting down towards the `exact_count` total

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
n/a

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

The exact count number of servers would be running, starting new servers if neces

[2019-04-30 18:54] wojtek0806 opened #55956 "'module' object has no attribute 'ANSIBLE_CONNECTION_PATH'"
##### SUMMARY

This issue is related to: https://github.com/F5Networks/f5-ansible/issues/1302

Running bigip_command module with CLI transport and SSH key authentication, raises the exception. the components listed are the ones involved in this issue. For now it seems like the problem lies with constants.py

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

plugins/action/bigip.py
constants.py

[2019-04-30 19:05] bcoca commented on #55956
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `ANSIBLE_CONNECTION_PATH` setting was added in 2.8, this seems an issue with using the 'persistent' connection plugin from 2.8 (whi

[2019-04-30 19:05] #55956 closed, assigned to nobody

[2019-04-30 19:19] wltjr commented on #55365
@s-hamann yes, re-emerge existing package via ansible portage module. It seems it has always been broken by design.

Yes, you are correct. The [usage of equery](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/portage.py#L234) to check if a package is installed or not is where the problem is coming from. It relies on equery return value if a package is installed or no

[2019-04-30 19:22] #55113 closed, assigned to nobody

[2019-04-30 19:32] rhysmeister commented on #55933
It's possible to discover the server was started with the configsvr flag with getCmdLineOpts

https://docs.mongodb.com/manual/reference/command/getCmdLineOpts/

Something like

`return True if "configsvr" in str(mongo_conn["admin"].command("getCmdLineOpts")["parsed"]) else False`

[2019-04-30 20:09] felixfontein commented on #55914
My guess would be that a different Python interpreter is used by both approaches. This would explain why different installed modules are found.

[2019-04-30 20:12] felixfontein commented on #55914
Can you print the value of `ansible_python_interpreter` using both ways? I.e. via `ansible localhost -m debug -a "var=ansible_python_interpreter"`, and via a playbook with that inventory?

[2019-04-30 20:13] scottambroseio opened #55962 "Clarify win_dns_client support for IPv6"
##### SUMMARY

Hey all o/

I recently started using ansible for configuring my windows desktop (Win10 Professional). One of the tasks I wanted to automate was changing the dns servers it uses. Upon looking at win_dns_client, I noticed it claims to only support ipv4 addresses via the ipv4_addresses property.

In order to set both the ipv4 and ipv6 addresses on my network adapter, I investigated doi

[2019-04-30 20:13] bcoca commented on #55897
s/status/all keys marked as 'always'/ ... null value might still apply

[2019-04-30 20:14] felixfontein commented on #55860
@ntimo You need 2.8 beta or newer for this to work out of the box. If you have an older version, you also need to copy `module_utils/docker/common.py` into your Ansible installation (that was called `module_utils/docker_common.py` in 2.7 and earlier).

[2019-04-30 20:41] ntimo commented on #55860
@felixfontein Okay I installed Ansible 2.8 with `pip install git+https://github.com/ansible/ansible.git@stable-2.8`  But the restarted container still loses all its volumes :( And ends up in a broken state unable to start because of these missing volumes. Also the output of the task is a but confusing:

[code]

[2019-04-30 20:50] acdha opened #55964 "filesystem: support for returning UUIDs"
##### SUMMARY

While resolving a problem where Ansible was rendering new EC2 instances unbootable I noticed that the AWS optimized Linux kernel builds changed the device enumeration order for NVMe devices in a recent version which meant that `nvme0n1` and `nvme1n1` switched randomly. The root filesystem still loaded because it used filesystem labels but systemd goes into emergency mode when anythi

[2019-04-30 21:10] smnsjas commented on #37007
This is no longer true with vCenter 6.7 update 2:
https://blogs.vmware.com/vsphere/2019/04/vcenter-server-6-7-update-2-whats-new.html

[2019-04-30 21:29] bcoca commented on #55900
https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#running-from-source

[2019-04-30 21:33] rhysmeister commented on #55933
It seems that MongoDB, at least from V4.0, will perform this check itself. I've added a test to the integration tests for the mongodb modules...

[code]

Output is as follows...

Are you using an older version?

[2019-04-30 21:38] brysonshepherd commented on #37007
I don't see in that article where it says that this will be supported.
Where are you looking?

On Tue, Apr 30, 2019, 4:12 PM Jason Simons <notifications@github.com> wrote:

[2019-04-30 22:13] bcoca commented on #14674
@UnitedMarsupials several modules already implement their own diff, specially those that are not 'file based', and yes, each module would then have to implement the feature for it to be 'universal'.

I'm not saying its not a nice feature to have, just trying to convey the actual scope and the limitations due to Ansible's pluggable architecture.

[2019-04-30 22:18] bcoca commented on #55766
@jean-christophe-manciot no, since the task inherits values from the playbook objects that contain it (role/block/play). This allows you to set a value for multiple tasks w/o having to repeat it on EACH task.

Setting `become` will only override `become` and not the other related settings, you are either assuming that one toggle will automatically reset the other 'related keywords' to their defaul

[2019-04-30 22:18] #55766 closed, assigned to nobody

[2019-04-30 22:35] nvtkaszpir commented on #54306
I believe the reporter forgot to wrap yum config in triple backticks, thus markdown renders the value as 'none' in italics.
Also in my case the issue was caused by vagrant-proxyconf plugin (2.0.1) under vagrant 2.2.2. Re-creating vms from scratch, no time to debug further.

[2019-04-30 23:14] nccurry opened #55966 "gcp_dns_resource_record_set: ValueError: Google DNS Managed Zone <zone> not found"
##### SUMMARY

The ```gcp_dns_resource_record_set``` returns ```ValueError: Google DNS Managed Zone <zone> not found```

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_dns_resource_record_set

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 29

##### STEPS TO REPRODUCE

Use gcp_dns_managed_zone as documented at https://docs.ansible.com/ansible/l

[2019-04-30 23:22] smnsjas commented on #37007
The feature was added in vCenter 6.7 Update 1, but it was somewhat incomplete.  Update 2 seems to fix this.  Here’s the section of the article that talks about how this was added in update 1:

Content Library
The addition of storing Virtual Machine Template (VMTX) files in Content Library was introduced in vSphere 6.7 Update 1. This enables deploying a virtual machine from native VM templates alon

[2019-04-30 23:51] wltjr commented on #55365
See if that fixes the issue. The one case it does not address is test 4, because the package is not installed it gets installed. The no replace has no effect on a package not installed. I think otherwise it has the desired effect. The one test to reinstall an existing package now works. At least that is not possible. It also does not reinstall by default since I switched noreplace default to true/

[2019-05-01 00:44] mabushey opened #55968 "launchpad ppa is serving incorrect version of ansible"
[code]

[code]

[2019-05-01 00:51] mabushey commented on #55968
Also tried `sudo add-apt-repository ppa:ansible/ansible-2.7` - same 2.5.5 version masquerading as 2.7.10

[2019-05-01 01:08] #55294 closed, assigned to nobody

[2019-05-01 01:56] jborean93 commented on #55875
@matthgyver thanks for reporting this issue, I've created a PR that should fix the problem and have added some tests to make sure it doesn't regress in the future https://github.com/ansible/ansible/pull/55970. It would be great if you could test it out and make sure it works for you.

@P-Hessler thanks for tracking down the cause of the issue, it has made things a lot easier to fix. For your recom

[2019-05-01 02:08] nalanj commented on #54855
I've got my interpreter explicitly set to python3 and have ensured that I'm running under python3:

[code]

but, I'm getting the same error about python2-dnf not being available:

[code]

[2019-05-01 02:13] jborean93 commented on #54855
@nalanj  please run with `-vvv` and it will show you what Python was used to execute the Python module. The output you shared is the Python version used for the Ansible Controller which can be different from the one used to execute modules.

[2019-05-01 04:48] stevenbaker commented on #42661
Hmm.  Installed Ansible 2.8.0rc1 (which was supposed to fix this) and it's still happening for me.   🤔

As was reported by @harsha-y above, the timeout only happens when running `ec2_group` and one of the rules has a group_name that is from a peered VPC.

In that case, a long wait, and then:
[code]

To @harsha-y, @ofirshtrull, @forty, @jwitko, @stevenscg, @simonkey007 and all the others that repor

[2019-05-01 05:07] Akasurde commented on #37007
@pgbidkar Since you are looking into tagging and REST API, would like to implement this feature ? Let me know. Thanks.

[2019-05-01 05:16] mdavis-xyz opened #55971 "file state=hard fails with relative path, docs say it should pass"
##### SUMMARY

The docs say that the file module accepts a relative path for `src`. But if you try that with `state=hard` it fails.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

file module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
`ansible-config dump --only-changed`: empty

##### OS / ENVIRONMENT

Ubuntu 18

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

File `hard.

[2019-05-01 05:25] Im0 commented on #55908
Hi @frsauvage

Thank you for your report.

Specifying `content_type` only sets the `content_type` flag on the message published to the queue.  It doesn't alter, or format, the actual content of the message you're sending to the queue.

At the moment, formatting the content to be posted is left up to the user.  Perhaps to meet your requirement for now, you could use a filter on the published conten

[2019-05-01 05:59] frsauvage commented on #55919
component => done

[2019-05-01 06:08] frsauvage commented on #55908
Hi @lm0,
I did not even think about this "to_json" solution. I will test it asap.

I can only agree with you : I won't be alone to ask for json format… even others…

Your rabbitmq_publish is so useful for me. I know you do your best !

Thanks for all,
Francine

[2019-05-01 06:11] killua-eu opened #55978 "Disco missing in Ubuntu PPA"
##### SUMMARY

http://ppa.launchpad.net/ansible/ansible/ubuntu/dists/ doesn't have the 19.04 (disco dingo).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ppa

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

ubuntu 19.04

[2019-05-01 06:53] matthgyver commented on #55875
@P-Hessler, @jborean93 : Thank you, I'll test workaround and patch next week.

[2019-05-01 07:12] s-hamann commented on #55365
Whiz, thank you. Seems to work fine for me.
With regards to test case 4: It now works as I would have expected: `busybox` (already present) is left alone and `eject` (not present) gets installed. Why do you think this test case is not addressed?

[2019-05-01 07:21] #55875 closed, assigned to nobody

[2019-05-01 07:29] felixfontein commented on #55860
You still need to put the patched `docker_container.py` into there. That should display `restart: true` in the diff.

[2019-05-01 07:36] #50492 closed, assigned to ganeshrn

[2019-05-01 09:40] ntimo commented on #55860
I did put it into `/usr/local/lib/python2.7/site-packages/ansible/modules/cloud/docker/` on my mac. But still I am getting:

Using `wget https://raw.githubusercontent.com/ansible/ansible/ef7558316a3795752d3d06f2f069b8a5bb3dd752/lib/ansible/modules/cloud/docker/docker_container.py`

[code]

[2019-05-01 09:56] RobVerduijn opened #55984 "ipa_hbacrule cannot change between categories and specific host/users/service/sourcehosts"
##### SUMMARY
Example for usercategorie and users or usergroups.
If you want to change a hbacrule from usercategory=all to user or usergroup it fails.

This is because the usercategory and the user or usergroup are mutually exclusive.
If you want to set a user or usergroup you first need to set the usercategory to None.
Or if you wish to set the usercategory the user and the usergroups must be "No

[2019-05-01 10:09] hillsy commented on #16140
+1. Our use case: we have role1 that always requires EPEL to be enabled. Enabling the EPEL repo is one of many tasks in role2 that's used to build a "base" config. The tasks are all tagged.

We don't always want role1 to pull in everything from role2, but we do always want that one thing. Of course we could split out a new "epel_install" role, or indeed duplicate the yum_repository config which sh

[2019-05-01 10:40] Im0 commented on #55908
Hi @frsauvage ,  I hope the suggestion helps.  Let me know how you get on.

[2019-05-01 10:41] Im0 commented on #42221
:( I commented in https://github.com/ansible/ansible/pull/52936

[2019-05-01 10:46] renweibo commented on #55914
[code]

[2019-05-01 10:47] Im0 commented on #55919
Thanks again @frsauvage for your note.  Did this work at all for you?  Eg. You publish to a queue and the task returns OK ?

Or, are you seeing it fail in ansible but the message is published on the queue?  (All examples?)

Did you try most basic:

`
- name: Publish a message to a queue with headers
  rabbitmq_publish:
    url: "amqp://guest:guest@<your ip>:5672/%2F"
    queue: 'test'
    body: "H

[2019-05-01 10:49] renweibo commented on #55914
[code]

Yes, it seems that in ansible-playbook not setup ansible_python_interpreter. Why this happen? Do you have any idea to fix it? Thanks!

[2019-05-01 10:53] renweibo commented on #55914
Some additional information for your reference.

I run all this under macOS 10.14 and use brew to install python 3.7, use "sudo pip3 install ansible". And also try all these in a virtualenv, almost same result.

[2019-05-01 12:50] nathanwebsterdotme opened #55988 "AnsibleAWSModule - override region parameter when creating a new client"
##### SUMMARY
It should be possible to override the ```region``` parameter when creating a new client using AnsibleAWSModule.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
AnsibleAWSModule

##### ADDITIONAL INFORMATION
Certain global resources are only surfaced through a single region, for example AWS Shield is only available to control through US-East-1.  When writing a module that inter

[2019-05-01 15:04] davyvandelaar commented on #55551
Hi, I have a similiar issue when trying to use the datastore option with disk.size_gb in the develop version of Ansible. At first it seems to be going okay and it is deploying the vm's. However when the vm's reach 100% in the VMware pane it throws an error:
`
    "msg": "Failed to create a virtual machine : Cannot complete the operation because the file or folder /vmfs/volumes/e9f64481-5xxxxxxx/**

[2019-05-01 15:12] gswallow commented on #18299
I was going to file an issue but this ticket will suffice.  The docuemntation in https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/reference_appendices/special_variables.rst incorrectly states that playbook_dir is the directory containing the playbook that was passed to the ansible-playbook command.  Instead, it drifts.

[2019-05-01 15:23] corbinstuard opened #55991 "Pip not idempotent when ran against multiple hosts w/ one ip"
##### SUMMARY

Pio module is not idempotent when ran against multiple hosts in group with same ip address

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Pip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux 3.10.0-693.21.1.el7.x86_64
CentOS 7.5

##### STEPS TO REPRODUCE

[code]

inventory:
[code]

##### EXPECTED RESULTS

One host should pass as Ok an

[2019-05-01 15:26] corbinstuard commented on #55991
I had a discussion with someone on IRC and was told this is the way Pip works due to no inherent transaction locking. The issue still needs to be addressed as behavior is inconsistent with all other modules. The following all behave as expected when ran against two hosts with the same IP:

[code]

[2019-05-01 15:46] ac1dgoddess commented on #55899
I was able to get this working by specifying my security groups at the network-interface level (instead of the instance-level) in my launch template.

[2019-05-01 15:46] #55899 closed, assigned to nobody

[2019-05-01 15:47] jean-christophe-manciot commented on #55845
If I create the user manually with:
[code]
the user is successfully created and ```ntopng``` can successfully communicate with mysql service with ```/var/run/mysqld/mysqld.sock```.

This issue is definitely a ```mysql_user``` issue. Maybe it continues to try to communicate with mysql port instead of its socket.

[2019-05-01 16:24] #48611 closed, assigned to nobody

[2019-05-01 17:01] wltjr commented on #55365
@s-hamann I think for test 4, both busybox and eject were installed. Maybe it was just eject, ansible only outputs changed. I see noreplace is set to yes for test f4, so busybox is not being reinstalled. I guess that is working as expected. Then it seems we clear all tests cases now with this change.

Just have to determine if any existing function changes or breaks. I need to verify upgrade still

[2019-05-01 17:19] felixfontein commented on #55914
Looks like `ansible_python_interpreter` works with raw ansible, but for ansible-playbook you need to use `ansible_python.executable`. Can you output that (or `ansible_python`) in your playbook?

[2019-05-01 17:26] renweibo commented on #55914
[code]

[2019-05-01 17:27] renweibo commented on #55914
It seems that ansible-playbook find system preinstalled python which is version 2.7.10. while ansible use the expected python which is version 3.7.

[2019-05-01 17:35] samdoran opened #55994 "Write unit tests for validation methods"
##### SUMMARY
The argument spec validation methods were moved out of `basic.py` in Ansible 2.8 to make them available for user outside of `AnsibleModule`. I got several of the unit tests written but not all of them. I'm mainly documenting this here so we can work on them during PyCon 2019 sprints.

- [x] `check_mutually_exclusive()`
- [ ] `check_required_one_of()`
- [x] `check_required_together()`

[2019-05-01 17:38] felixfontein commented on #55914
Yes, and that should be the reason why you get the different behaviors with `docker_image` :) So if you tell Ansibe (in ansible-playbook) to use `/usr/local/opt/python/bin/python3.7` as well, everything should work fine. (You could add `ansible_python_interpreter=/usr/local/opt/python/bin/python3.7` to the `localhost` line in `inventory`; that should fix it.)

[2019-05-01 17:44] felixfontein commented on #55860
That's strange. I get
[code]
My test playbook:
[code]
(You get `init` in the diff probably because you don't have latest `docker` library installed, but that should have no effect on restarting.)

[2019-05-01 17:57] renweibo commented on #55914
Thanks for quick reply and work around. I use this to fix the problem.

If ansible-playbook can work like ansible, it should be great for user.

[2019-05-01 18:18] bcoca commented on #16140
i would argue that redesigning your role is more effective, if you have the need to make many 'filtered calls' it is normally a sign of the roles being too big.

[2019-05-01 18:20] D3DeFi commented on #55439
Hi @selivan . I do believe that this bug is even deeper than zabbix-api python module and not in zabbix_template itself. I've tried both python2 and python3 with the same result:

[code]
As you can see, API call returned wrong escaped non-ASCII characters (double backslash instead of one). If we pass it through json.loads() it removes one of the backslashes, but that is still not enough:

[code]

[2019-05-01 18:26] ntimo commented on #55860
@felixfontein Hmm, that is very strange indeed. Do you have a idea what I could do to get it working? :/

[2019-05-01 18:30] s-hertel commented on #54601
I'm not sure if this is a bug. Not getting 192.168.1.10 from hostvars.dns.ip_addr for hosts other than dns seems expected to me.

ip_addr is a group var, defined as `192.168.{{ hostvars[subnet].id }}.{{ machine_id }}`. The last var, machine_id, is always going to be the var of the current host because it isn't specified otherwise. Why not set it as `192.168.{{ hostvars[subnet].id }}.{{ hostvars['d

[2019-05-01 18:38] selivan commented on #55439
Hi @D3DeFi,

Thanks for digging into the problem.

If someone struggling with the same bug finds this issue, here is a quick and ugly workaround:

[code]

[2019-05-01 19:02] kbreit opened #55996 "New module - meraki_nac"
##### SUMMARY
Meraki added support for showing network access policies. The `meraki_network` module should support this.

https://developer.cisco.com/meraki/api/#/rest/api-endpoints/networks/get-network-access-policies

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki_network

[2019-05-01 19:06] kbreit opened #55997 "New module - meraki_mx_site_to_site_vpn"
##### SUMMARY
Meraki had support for configuring and querying site-to-site VPN information. A new module should be created to support this.

https://developer.cisco.com/meraki/api/#/rest/api-endpoints/networks/get-network-site-to-site-vpn

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2019-05-01 19:08] kbreit opened #55998 "meraki_network - Add support for querying network traffic"
##### SUMMARY
Meraki added support for querying network traffic information for a network. If there's demand, this capability should be added.

https://developer.cisco.com/meraki/api/#/rest/api-endpoints/networks/get-network-traffic

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki_network

[2019-05-01 19:14] ntimo commented on #55860
I have created a little test setup:
https://github.com/ntimo/ansible-container-losses-volumes

Once cloned go into the mailcow-dockerized folder and run docker-compose up -d this will start Mailcow once its started you should be able to view the webinterface on port 80 then when you run the playbook test.yml the nginx container is going to be broken.

[2019-05-01 19:26] abensch opened #55999 "VMware: vmware_guest_disk inputs should match vmware_guest_disk_facts output"
##### SUMMARY
The _vmware_guest_disk_ documentation states

However, as it currently stands, the "update" element of that quote seemingly requires significant data manipulation to achieve, as the partner module _vmware_guest_disk_facts_  - which outputs information critical for automating the update process - formats data in a completely different format than the inputs expected for _vmware_guest_

[2019-05-01 19:39] edperry commented on #42090
Any progress on this ticket? I just ran in to it, and this problem makes the module undependable for me.

[2019-05-01 19:50] cwiech opened #56000 "sros_config failes removing exit commands with match:line"
##### SUMMARY

When using sros_config with the default "match:line" the configuration fails on the second interface, then running it again, it would fail on the third interface and so on. I finally realized, what is happening is that when adding configuration to an existing interface where some configuration already exists many of the "exit" commands are already in place. When sros_config is worki

[2019-05-01 21:08] #55850 closed, assigned to nobody

[2019-05-01 21:29] maxamillion commented on #49039
sorry for the lag time on that, thanks again for the issue report, happy automating!

[2019-05-01 23:15] yn1v commented on #54855
I just run into the same issue. I have a post-install configuartion made in ansible. I am running on the local host.
I have run ansible with option -vvv
You can see the output here -> https://pastebin.com/GGuwPxvY
The real issue is that ansible running in Fedora 30 tries to install the package python2-dnf which has been deprecated in fedora 30, as there is no such package the playbook fails to run

[2019-05-01 23:44] jborean93 commented on #54855
@yn1v your output indicates that the dnf module is being run with `/usr/bin/python` which is typically a symlink to `/usr/bin/python2`. This is why it is trying to install the `python2-dnf` package and as you said doesn't exist anymore. You need to set the `ansible_python_interpreter: /usr/bin/python3` var for it to use Python 3 on the dnf task.

[2019-05-01 23:52] #55418 closed, assigned to nobody

[2019-05-02 02:54] bcoca commented on #23161
i would tackle from opposite direction, the problem here is that we 'unroll' the loop and treat each iteration as a diff include, while they really should just be iterations of the same task and not even get to flag the host until the loop ends

[2019-05-02 04:18] zoredache opened #56009 "Improve docker_swarm_service networks argument functionality"
##### SUMMARY
Update the docker_swarm_service argument of the network module to have feature parity with the docker_container module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- docker_swarm_service

##### ADDITIONAL INFORMATION

The docker_container module supports providing a dictionary with various network options, the docker_swarm_service module only permits passing a list of net

[2019-05-02 06:24] felixfontein commented on #55914
Great to hear! For problems about Python interpreter detection, you should create an issue specific about that, resp. use the support channels (IRC or ansible-project mailing list) to find out why ansible and ansible-playbook behave differently. I'm closing this as "not a bug" since it is not a problem caused by `docker_image`.

notabug

[2019-05-02 06:26] #55914 closed, assigned to nobody

[2019-05-02 06:39] nicolaibaralmueller commented on #55759
@yungezz

I will test again when official 2.8 will be released mid may.

[2019-05-02 07:00] hannseman commented on #56009
Thanks for the report! I’ve also thought about this but last time I looked it did appear like the Docker API for services only accepts a list of network ids/names.

It could be that the feature to pass options is just not documented. We could have to look at the cli client to see how they do it there.

See:
https://docs.docker.com/engine/api/v1.39/#operation/ServiceCreate
https://docker-py.readthe

[2019-05-02 07:44] LeDOC666 commented on #54343
@Akasurde Hi, I'm asking if problem don't come from **delegate_to: localhost** with multiple values from inventory.
I have test an other one by keeping inventory: veeam (with 4 host), and use idem with tag_save variable, and problem is the same.

[code]

for memory, tag_save is a variable specified for each host on my inventory veeam

[2019-05-02 07:52] geertn444 opened #56011 "file module does not support general options (when, run_once)"
##### SUMMARY
when i use the file module on a network_cli host, it does not seem to work with any usual attributes like "run_once" and "when"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
file module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Linux xxxxxxxxxxxxxx 3.10.0-862.14.4.el7.x86_64 #1 SMP Wed Sep 26 15:12:11 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

#

[2019-05-02 07:58] felixfontein commented on #55860
Where did you put `docker_container.py`?

[2019-05-02 08:27] felixfontein commented on #56009
It looks like the API documentation is wrong. docker-py internally converts the list of strings to a list of dicts: https://github.com/docker/docker-py/blob/master/docker/utils/utils.py#L193-L204

It allows to pass a list of dicts as well (these aren't converted). The structure used inside docker itself also has a dict structure: https://github.com/moby/moby/blob/master/api/types/swarm/network.go#

[2019-05-02 08:44] andmos commented on #55873
After some digging, the error revealed itself as `FailOnStandardError='True'`, not lack of `--ignore-package-exit-codes` ([link to issue](https://github.com/chocolatey-community/chocolatey-coreteampackages/issues/1271)).
I'm leaving this issue open for tracking an eventual implementation of `--ignore-package-exit-codes` in the module, if that is OK.

[2019-05-02 08:45] stroebitzer commented on #53753
I am having that issue too with ansible 2.7.10 and the following playbook

[code]

[2019-05-02 09:42] ntimo commented on #55860
I put it into /usr/local/lib/python2.7/site-packages/ansible/modules/cloud/docker/docker_container.py

[2019-05-02 10:15] jborean93 commented on #55873
Thanks for looking into this, sounds like a good thing to add.

For your `FailOnStandardError` feature, you can use the `win_chocolately_feature` module to control that option.

[2019-05-02 10:20] jean-christophe-manciot commented on #55845
If I create the user manually with:
[code]
the user is successfully created and ```ntopng``` can successfully communicate with mysql service with ```/var/run/mysqld/mysqld.sock```.

This issue is definitely a ```mysql_user``` issue. Maybe the module continues to try to communicate with mysql port instead of its socket.

[2019-05-02 11:32] ncoghlan commented on #48632
@maxamillion If you do this the same way the apt module already does it (i.e. via the `build-dep` state), then the generic `package` overlay will also support it automatically.

If the `dnf` and `yum` modules go off and do their own thing instead, then users will be forced to continue writing separate `when: ansible_pkg_mgr == 'apt'` (etc) clauses rather than having Ansible abstract away the OS di

[2019-05-02 11:35] ncoghlan commented on #33371
Note that the absence of this feature also keeps the generic `package` layer from supporting build dependency installation, making it markedly less useful for setting up build servers.

[2019-05-02 11:42] dennisconrad commented on #55988
Workaround:

[code]

[2019-05-02 11:46] ncoghlan commented on #33371
Interim workaround for anyone else looking for the cross-platform functionality:

[code]

[2019-05-02 12:48] #54230 closed, assigned to nobody

[2019-05-02 12:50] #51814 closed, assigned to nobody

[2019-05-02 12:52] willthames commented on #42302
I've added some tests for this (see #55987 - still more work to be done there)

It looks like deletion *does* happen, but only background deletion. If you wait a few seconds the pods will likely be gone.

At least that's my current experience against 1.10

We could change to foreground deletion but that's so hazardous that [kubectl doesn't even have that](https://github.com/kubernetes/kubernetes/i

[2019-05-02 13:08] #54205 closed, assigned to nobody

[2019-05-02 13:11] nicolaibaralmueller commented on #55645
standard ssd will be available in ansible v2.8

[2019-05-02 13:11] #55645 closed, assigned to nobody

[2019-05-02 13:38] #16732 closed, assigned to nobody

[2019-05-02 13:48] pffs commented on #54991
I removed the `or run_once` out of https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/strategy/linear.py#L266, which solves my issue, although I'm not sure what other effects this might have, or if this is the correct fix.

I got bit by this again last night, so I've patched my own local version based on that.

[2019-05-02 13:49] amarao opened #56017 "Violation of lazy evaluation of 'or' in 'when' clause"
##### SUMMARY
When there is a conditional in `when` clause with 'or' in it, ansible evaluate all statement. (See example below).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible itself.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 19.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
"hello world" in output.

##### ACTUAL RESULTS

[

[2019-05-02 14:13] bcoca commented on #56011
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Modules don't handle task keywords, core does, the problem here has nothing to do with the module but improper multiline k=v format, th

[2019-05-02 14:13] #56011 closed, assigned to nobody

[2019-05-02 14:18] rnsc commented on #50168
Hello,

I'm also encountering this issue.
So, the exception is raised by this piece of code:
https://github.com/ansible/ansible/blob/e2f85b3f6cfd56846e65cad51c5fe47c551e72dd/lib/ansible/plugins/callback/junit.py#L351-L358

If I understand the issue correctly, it only happens in the rare case of "local tasks" to a role being included in a another task file while referencing an include_role to anoth

[2019-05-02 14:24] chrisvanheuveln commented on #53887
@trishnaguha Hi Trishna, any update on this issue? Thanks

[2019-05-02 14:28] steffenrumpf commented on #55793
Sounds good :)

[2019-05-02 15:00] #54233 closed, assigned to nobody

[2019-05-02 15:01] davyvandelaar opened #56021 "VMware: vmware_guest_disk using uuid from variable fails with error: KeyError: 'use_instance_uuid'"
##### SUMMARY
In the develop version of Ansible, vmware_guest_disk module I am trying to use the `uuid` option to allocate disks and diskspace to vm's. I am using `instance_uuid` as variable from the vmware_guest module. Also I have using the `hw_product_uuid` variable. It keeps throwing this error: `KeyError: 'use_instance_uuid'` , although i have no option to set `use_instance_uuid`
In the modul

[2019-05-02 15:03] eikef opened #56022 "netconf_config: Always stacktraces on using backup: yes (i.e. example cannot ever work)"
##### SUMMARY

The `backup` parameter for netconf_config cannot ever work if set to `yes`. This is due to the code in the netconf_config module throwing a stacktrace whenever it is set. The module_utils/netconf/netconf.py provides a get_config method, but it requires an additional parameter of "filter", which is not set in netconf_config when trying to obtain the current configuration for backup p

[2019-05-02 15:11] daledude opened #56023 "dnsmadeeasy cant list or delete domain entries"
##### SUMMARY
Using the documentation examples for dnsmadeeasy to retrieve list of records or delete records ends with error:
parameters are required together: record_value, record_ttl, record_type

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dnsmadeeasy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESU

[2019-05-02 15:13] kbreit opened #56024 "meraki_config_template - Remove unnecessary network lookups"
##### SUMMARY
The `meraki_config_template` module does a lookup to download all networks, even if `net_id` is specified. This should instead make the call only when necessary.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki_config_template

##### ANSIBLE VERSION
[code]

[2019-05-02 16:09] stormfleet opened #56027 "Debug documentation"
##### SUMMARY
Hi everyone, first post to Github, woohoo!

Having an issue with writing some Ansible playbooks for deploying to Linode and Vultr. I've got a nice one fully working for Digital ocean, with the following site.yml file:

`    - name: create the droplet used to build releases
      digital_ocean:
        state: present
        command:
        name:
        api_token:
        size_id:

[2019-05-02 16:09] #55711 closed, assigned to Akasurde

[2019-05-02 16:11] mkrizek commented on #56027
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-05-02 16:11] #56027 closed, assigned to nobody

[2019-05-02 16:25] s-hamann commented on #55365
Just to be clear on this: `busybox` did not get reinstalled; portage correctly skipped it. This can not be seen in Ansible's output, but I checked `emerge.log`.

[2019-05-02 17:54] ashemedai commented on #30760
I can no longer test this scenario. While I am still using Ansible, it is in a completely different set up.

[2019-05-02 17:54] #30760 closed, assigned to nobody

[2019-05-02 17:54] fabianvf commented on #55430
Thanks for this report, we should definitely

a) not fail when we can't use the cache file
b) allow concurrent usage of the python client (probably just with a lock file or something?)

I'll look into good ways to do this and try to incorporate it into the next version of the client.

[2019-05-02 18:59] wltjr commented on #55365
@s-hamann yes, I forgot the playbook had ```noreplace: yes``` for test 4. I guess we are good on all test cases now. I just need to confirm the change did not break package updating or ```state: latest```. That should address any concern raised in the PR with changing noreplace default from false to true in the module.

[2019-05-02 19:11] nitzmahone commented on #55955
Not sure if this is really a bug or more a feature request...

[2019-05-02 19:15] chusiang commented on #45614
Thanks @hswong3i, I have fixed this problem on chusiang.php7 role.

I install some requires package before I use `add-apt-repository` module.

[code]

[2019-05-02 19:17] nitzmahone commented on #55978
just need to add disco to the build list (and possibly go back and rebuild old ones if we want)

[2019-05-02 19:20] nitzmahone commented on #55988
!component =lib/ansible/module_utils/aws/core.py

[2019-05-02 19:23] nitzmahone commented on #55991
List Information
================

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep the issue tracker for bugs, pull requests, RFEs an

[2019-05-02 19:23] #55991 closed, assigned to nobody

[2019-05-02 19:23] acdha commented on #55955
I assumed it was a bug because it means `exact_count` doesn't work as documented when your infrastructure  changes, which is usually exactly when you are using Ansible to initiate or recover from a change in the number of instances.

`ec2_instance` doesn't support counts — #49944 is still open.

[2019-05-02 19:41] bcoca commented on #55942
related #55263?

[2019-05-02 19:53] nitzmahone commented on #55968
I'm guessing you've got corrupt apt metadata or something going on (though I did discover we accidentally pushed 2.8.0rc2 to ppa:ansible/ansible this morning while looking at this, so thanks for that! ;) ) - running this on a clean image gives me what I'd expect:
[code]

[2019-05-02 19:53] #55968 closed, assigned to nitzmahone

[2019-05-02 20:06] BaskiGIT opened #56030 "Failed to parse dev.azure_rm.yml with auto plugin: No key or key resulted empty, invalid entry"
##### SUMMARY
With ansible dynamic inventory for azure I am trying to get the VMs with a simple dynamic inventory script. This used to work fine. However when the number of VMs are increased over 20 we are no more able to use dynamic inventory.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure dynamic inventory plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS /

[2019-05-02 20:11] netoarmando commented on #29728
I started to experience this issue after moving to Fedora 30 and using Python 3 as interpreter.
However, using `template` module with NFS:
[code]

I've put together a Vagrantfile, a playbook and the box I'm facing the problem: https://github.com/netoarmando/test-ansible-selinux

[2019-05-02 20:26] rephlekt commented on #55447
Thanks for the suggestions @rohitthakur2590, I will attempt these fixes next week.

[2019-05-02 20:31] mhalano opened #56032 "Difference between Scaleway modules and other cloud modules"
##### SUMMARY
scaleway_user_data is a module to send userdata to a Scaleway instance. Other clouds use an option to pass the userdata when starts the instance.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
scaleway_user_data

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[co

[2019-05-02 20:35] mhalano commented on #42382
I still think would be better to pass user_data to compute module. All other cloud modules with support for user data do that way. The idea is keep the standard.

[2019-05-02 21:41] chinorv opened #56034 "Unexpected variable value"
##### SUMMARY

I am getting unexpected value when my variable equals a number between 01X to 07X. When the number is 08X or above the problems goes away.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Variables
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO REPRODUCE

Run the following command:
[code]

Playbook

[code]

#####

[2019-05-02 22:47] kinwolfqc commented on #43251
I'm waiting for 2.8 where this fix #43082 is implemented.  I'm hoping it will do the trick.

[2019-05-02 23:17] hwali opened #56037 "AnsibleConnectionFailure: Authentication timeout."
##### SUMMARY
While i am running playbook using dynamic inventory getting "AnsibleConnectionFailure: Authentication timeout" but while i am running adhoc command it showing result

##### ISSUE TYPE
The full traceback is:
Traceback (most recent call last):
  File "/etc/ansible/venv27/bin/ansible-connection", line 70, in start
    self.connection._connect()
  File "/etc/ansible/venv27/lib/python2.7/

[2019-05-02 23:43] hwali commented on #56037
Can this case linked to ansible-network

[2019-05-03 00:23] aaronk1 commented on #23320
Is this not the same as what's enabled by setting ansible_winrm_read_timeout_sec var?

[2019-05-03 01:05] UnitedMarsupials commented on #14674
@bcoca, well, I don't think, this ticket should apply to modules implementing their own diffing in the first place. For those, which do not, however, the idea to use `diff(1)` (or a compatible equivalent) is valid, and not a "hack".

Please, consider merging (something similar to) my patch. Thanks!

[2019-05-03 03:11] Akasurde commented on #55560
@andrew80k I will try to reproduce this in my environment and let you know. Thanks.

[2019-05-03 05:06] felixfontein commented on #55860
Have you another verison of `docker_container.py` lying around somewhere where ansible can find it?

[2019-05-03 05:07] felixfontein commented on #55860
Running ansible-playbook with `-vvv` or some more `v`s might show the path where the module is loaded from.

[2019-05-03 05:48] flowerysong opened #56042 "Badly named registered variables can shadow boolean constants in some contexts"
##### SUMMARY

Ansible allows you to register variables named 'True' and 'False' (and maybe other problematic names?); once you've done this structures containing booleans behave somewhat unpredictably.

I ran across this a while back while helping someone on IRC who had accidentally created a situation where it occurred; that accidental triggering is no longer possible after be776daefed047f0bd45d

[2019-05-03 06:47] flowerysong commented on #56034
This is not a bug, it is the expected result (YAML parses all numbers with a leading 0 as octal). To make YAML parse it as a string value instead of an octal integer, quote the value.

[code]

[2019-05-03 06:51] mkrizek commented on #56034
Closing as per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-05-03 06:51] #56034 closed, assigned to nobody

[2019-05-03 06:54] mdavis-xyz opened #56044 "shell command has unexpected $PATH"
##### SUMMARY

I am trying to use `shell` to run the `modinfo` binary.
I can run the command I want manually by ssh-ing into the machine.
But when I do it with Ansible, `shell` says "command not found", because the `$PATH` is different between SSH and Ansible `shell`.

I expect that the Ansible `shell` module, when told to use bash, will have the exact same environment variables as when I just ssh

[2019-05-03 09:39] yelneedi commented on #41776
perform pip ugrade and yum upgrade botocore boto3

[2019-05-03 09:46] #38982 closed, assigned to Akasurde

[2019-05-03 10:46] Bleacks opened #56046 "Include_role loop installs role and dependencies multiple times"
##### SUMMARY

I try to include roles dynamically in my project. The problem is that ansible doesn't seem to remember which role it has already installed, and hence installs every dependency, for every role, regardless of their presence in another dep or include_role.

I already saw these issues, which seemed similar at first glance but didn't help me :
[24326](https://github.com/ansible/ansible/i

[2019-05-03 11:13] tterranigma commented on #37727
Personally, I don't have a use case for this anymore, from my side this could be closed.

[2019-05-03 11:21] alexbarcelo commented on #43286
Following @mgrecar comment, I have seen that scripts in `~/.ansible/tmp/ansible-tmp-*` have in the first line:

    #!python3

Which I asseume is due to `ansible_python_interpreter=python3`.

Under bash, the shebang without path is invalid (I was very confused because zsh is my default and it seems to work).

So, in my scenario, this issue happens because:

 - Task is using a non-absolute path for

[2019-05-03 11:23] nalanj commented on #54855
@jborean93 Here's my initial output with -vvv:

[code]

Definitely looks like it's running 3.7.3

[2019-05-03 11:29] #43286 closed, assigned to nobody

[2019-05-03 11:38] mkrizek commented on #55971
I have verified this. There is a comment related to this from @abadger in https://github.com/ansible/ansible/blob/affaedf/lib/ansible/modules/files/file.py#L760.

[2019-05-03 11:54] mkrizek commented on #54855
@nalanj No, that is Python which is used on your **controller** which might be different from what is running on the managed node as @jborean93 already pointed out. See both of his comments above.

If you look at the whole `-vvv` output you'll likely see something like
[code]
(copied from @yn1v's output).

If so, see https://github.com/ansible/ansible/issues/54855#issuecomment-488499713.

[2019-05-03 11:59] Bleacks commented on #56044
Is ansible using the same user to execute shell command that you used to ssh in the machine?

[2019-05-03 12:04] molekuul opened #56047 "file mode acts different when adding jinja default value"
##### SUMMARY
In this playbook I explain the problem in short:
When we use the file or copy module with where the file-mode is in a variable.
In the below example, there is a difference when the value is run trough the jinja filter "default" or not. When using the default filter, the value of the file mode gets converted to decimal.
however when the value in the parameter is quoted, it stays the s

[2019-05-03 12:36] jctanner commented on #55879
@RobVerduijn please create the pr from your new branch by following https://help.github.com/en/articles/creating-a-pull-request

Once the pr is created, the automated tests will run against it and report the results.

[2019-05-03 13:50] vicmunoz commented on #51441
+1

[2019-05-03 13:53] bmalynovytch commented on #55845
You're right, it must be the case.

[2019-05-03 13:56] bmalynovytch commented on #55917
@rajsshah86 Thank you for the feedback.
Have you tried the devel branch ?
Many bugs were fixed recently and not backported in 2.7.
If devel doesn't work, then it must be a duplicate of https://github.com/ansible/ansible/issues/55845

[2019-05-03 14:12] abadger commented on #55971
My comment in the code might make this apparent but you have a huge +1 from
me to change the behavior of that code.  Might need a porting guide entry
if there are some non error cases that change with the change

On Fri, May 3, 2019, 7:38 AM Martin Krizek <notifications@github.com> wrote:

[2019-05-03 14:21] vicmunoz opened #56049 "na_ontap_volume - doesn't accept percent_snapshot_space = 0"
##### SUMMARY
When I create a volume with percent_snapshot_space = 0 it sets the default '5'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
na_ontap_volume
##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
ONTAP 9.4P2

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Volume with percent-snapshot-space = 0

##### ACTUAL RESULTS
It sets the default percent-snapshot-space 5%

[code]

[2019-05-03 14:36] rajsshah86 commented on #55917
@bmalynovytch : I have not tried dlevel branch .
My issue looks to be different that #55845 . IF you see he is getting error

which clearly means taht something wrong in his mysql conf file .

For me

This is a genuine error which is correct in its world.  mysql_user module is trying to connect via 127.0.0.1 as hostname which is bound to cause error since 127.0.0.1 is not defined in the default my

[2019-05-03 14:44] bmalynovytch commented on #55917
You're hitting this issue: https://github.com/ansible/ansible/issues/55845#issuecomment-487289078

[2019-05-03 14:50] rajsshah86 commented on #55917
To further support my claim
I can install lower version of mariadb with the same playbook successfully  . The lower version has 127.0.0.1 host in its table .
If I remove that IP From table and then run the script it fails with the same message .

So this is indeed the issue where in mysql_user plugin should not resolve localhost in to IP 127.0.0.1 during its execution .
I hope you are getting what

[2019-05-03 14:54] sylvesterv commented on #54386
@tdixonspin  getting exact same issue, do you know if has this been resolved or of any workarounds?
- name: create a bucket
  gcp_storage_bucket:
      name: "{{ bucket_name }}"
      project: "{{ gcp_project }}"
      auth_kind: "{{ gcp_cred_kind }}"
      service_account_file: "{{ service_account_file }}"
      state: present
  register: bucketreg

- name: create a bucket access control
  gcp_st

[2019-05-03 15:05] xmadsen opened #56050 "Failure in User Account modifications in redfish_command"
##### SUMMARY

The Redfish spec section [6.1.5](http://redfish.dmtf.org/schemas/DSP0266_1.6.1.html#etags ) discuss Etags operations. The Redfish service may require the If-Match or If-None-Match headers to be supplied in PUT/PATCH requests for resources that support returning the Etag header on the resource.

The Lenovo ThinkSystem servers' implementation requires those headers on all modification

[2019-05-03 15:21] mhunsber opened #56051 "win_chocolatey package_params as dictionary"
##### SUMMARY

right now, the `package_params` option for the win_chocolatey module is used as a string, so you have to know the chocolatey parameters format of "/Key:Value /Key2:Value2"

It would be nice to be able to pass in a dictionary of parameters instead, and have the module worry about how to format the parameter strings. It would also read nicer in the task file.
##### ISSUE TYPE
- Featur

[2019-05-03 15:23] carchi8py commented on #51441
This should be fixed in Ansible 2.8 with change #51441

[2019-05-03 15:30] #55860 closed, assigned to nobody

[2019-05-03 15:34] carchi8py commented on #56049
I've created Netapp-1473 story for this issue.

[2019-05-03 15:41] jpmontez commented on #55968
For anyone who's apt package manager is still fetching the incorrect version, the following command should refresh your cache and prevent you from trying to download `v2.8.0rc2`: `apt-get update`

You can verify that this works by seeing Ansible isn't in the output of this command: `apt-get dist-upgrade --dry-run`

[2019-05-03 15:58] bmalynovytch commented on #55917
I get it, though you should test with `2.8` or `devel` so that we know if the issue still exists in latest version, or if we need to backport a fix in 2.7.

[2019-05-03 16:04] dmsimard opened #56056 "package_facts skips and doesn't return the right exception when necessary bindings can't be imported"
##### SUMMARY
When set to ``auto``, the module will return an error ``Unsupported package manager: auto`` if the bindings (such as ``python-rpm`` or ``python-dnf``) aren't available for import.

When setting ``rpm``, the module will return the correct error: ``Unable to use the rpm python bindings, please ensure they are installed under the python the module runs under``.

In the first case, which

[2019-05-03 16:26] s-hertel commented on #49607
Closing as per https://github.com/ansible/ansible/issues/49607#issuecomment-445899463. Please open a new issue if you're having trouble on a later version.

[2019-05-03 16:26] #49607 closed, assigned to nobody

[2019-05-03 16:34] ajtaylor6 opened #56057 "nxos_facts fails with "IndexError: list index out of range" error"
##### SUMMARY
Running the nxos_facts task against a Nexus 7009 running 6.2(16) fails with the error of "IndexError: list index out of range"

This does work against a Nexus 7004 running 6.2(12) so does not appear to be specifically OS version dependent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-05-03 16:42] momusau commented on #49716
Hi,

I know this has been closed, but with the merge feature does this mean that we can use the LIST method in the uri module now? I have tried and I'm still hit with the error that LIST is not one of the method's we can use.

[2019-05-03 16:42] cscheib opened #56058 "helm: support HTTP repository authentication"
##### SUMMARY

I cannot use the helm module to deploy charts from a private repo.  The helm CLI has command line flags for `username` and `password`

related documentation: https://helm.sh/docs/helm/#helm-repo-add

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

helm

##### ADDITIONAL INFORMATION

This would be used where someone has a private helm repository in Artifactory or similar.

[co

[2019-05-03 16:43] cscheib commented on #56058
related issue I created on the upstream pyhelm module: https://github.com/flaper87/pyhelm/issues/63

[2019-05-03 17:07] kengo19 commented on #55704
I ran into this problem the other day and took me a while to find a workaround. Just sharing in case others would need a workaround prior to getting the version with the fix.

Here's essentially how I would edit the ebs dict under volumes.

    volumes:
      - device_name: xvda
        ebs: >
         {
          "volume_size": "{{ image_size | default(aws_default_image_size) | int }}"

[2019-05-03 17:20] markdorison opened #56059 "mysql_db: allow multiple (but not all) databases to be dumped"
##### SUMMARY
The `mysql_db` module allows the user to specify a single database or `all` when using the `dump` or `import` states. It would be useful to be able to specify multiple databases in situations where you want to dump or import more than one database, _but not all_, similar to the [mysqldump command's `--databases` flag](https://dev.mysql.com/doc/refman/8.0/en/mysqldump.html#option_mysq

[2019-05-03 17:32] dagwieers commented on #49716
It should work for Ansible v2.8, I wanted to backport this but it did not happen.
Do you want this in Ansible v2.7 ?

[2019-05-03 17:48] ntimo commented on #55860
@felixfontein Okay, I just uninstalled ansible with pip uninstall ansible and then installed the devel branch `pip install git+https://github.com/ansible/ansible.git@devel`. And when I run ansible with -vvv it says `Using module file /usr/local/lib/python2.7/site-packages/ansible/modules/cloud/docker/docker_container.py`  .

I did even compared the docker_container.py located at /usr/local/lib/pyt

[2019-05-03 19:02] SylvainMartel opened #56065 "win_psmodule 2.8 always report a change was done even if nothing was done"
##### SUMMARY
I'm trying out the latest win_psmodule to test the "required_version" property.  But even if the required version is installed, the module report a change on the target.  Nothing is installed, since it is already there, it is just the reporting that is in problem.

I added the line  `$result.changed = $false` at line 206 but I haven't found yet where it get changed to True.  It shoul

[2019-05-03 19:03] dmsimard commented on #56056
The behavior in 2.8 is different and is more in line with what should happen:
[code]

[2019-05-03 19:44] mercury00 commented on #29451
In our environment we need to install specific kernels.
This breaks our ansible job because it errors out when trying to do so.

ignore_errors is not an option for us because we want the package installed - ignore_errors will ignore errors, and we don't want to ignore errors, we want packages installed.

Adding a allow_downgrade paramenter that adds the --allow-downgrades flag to apt would fix thi

[2019-05-03 19:48] mercury00 commented on #29451
Please note: with the KERNEL the option to remove the newer package is NOT an option. On install, a newer kernel version that the one we might want is likely to be installed, and if we need to test different versions, we're likely to have a system running a kernel version newer than the package we want installed. In either case, we cannot remove the currenly running kernel, and we cannot install t

[2019-05-03 21:28] cjvernay opened #56071 "vmware_vm_facts: AttributeError: 'NoneType' object has no attribute 'field'"
##### SUMMARY
Attempting to get vm facts when connecting to ESXi server. vmware_vm_fact throws module error: AttributeError: 'NoneType' object has no attribute 'field'

Seems related to fix for #45773 (vmware_vm_facts: custom attributes support)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_vm_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
N

[2019-05-03 21:34] lfventura opened #56072 "ERROR! 'delegate_to' is not a valid attribute for a TaskInclude on ansible 2.8"
##### SUMMARY
Using delegate_to with include_tasks in a play returns
 ERROR! 'delegate_to' is not a valid attribute for a TaskInclude
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_task with delegate_to

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
MacOS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Normal run as in ansible 2.7

#####

[2019-05-03 22:26] hwali commented on #56037
cc @aermongk
Please have a look this case FYS needed

[2019-05-03 22:40] cwthomas-llu commented on #41738
Same here. After a reboot, the changes go away

[2019-05-03 22:55] goneri commented on #54343
Hi @LeDOC666,

Each backtrace starts with more than 180 new requests. So it's more than 1120 requests for the whole test. Do you have anything between you and the server (proxy, loadbalancer, firewall) that can block the connections?

needs_info

[2019-05-04 09:38] igoratencompass commented on #51646
Full trace back if that helps:

[code]

[2019-05-04 11:11] xpenno255 opened #56077 "nios module enhancement to add check if exists function"
##### SUMMARY
Add ability to specify check_if_exists option in relevant nios modules. Current behaviour is that it defaults to True with no ability to override.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
nios_mx_record
nios_a_record
nios_cname_record

##### ADDITIONAL INFORMATION

You may wish to specify multiple MX records (same for a and cname etc...) for a single Domain as below

Do

[2019-05-04 12:23] intrand commented on #38605
Still getting this *exact* same issue on Ubuntu with ansible 2.7.10 & pyvmomi 6.5.0.2017.5-0ubuntu1.

I'm using the vmware_guest module to connect to vCenter 6.7 Update 2 to configure our VMs to use a port group on a distributed switch.

Whenever I include "networks" in the vmware_guest configuration, the task says "changed" every play, even when the VMs didn't really change -- no VM reconfigurati

[2019-05-04 12:59] resmo opened #56080 "cloudstack: cs_network_acl: support cidr lists"
##### SUMMARY

Similar as cs_firewall in #33020 implement `cidrs` as list (alias `cidr`) and also return a cidrs as list. Tests needs to be updated to cover this feature.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
cs_network_acl_rule

##### ADDITIONAL INFORMATION

[code]

[2019-05-04 13:09] resmo opened #56081 "cloudstack: new style inventory plugin"
##### SUMMARY
create a new style inventory plugin and deprecate the one in contrib https://github.com/ansible/ansible/blob/devel/contrib/inventory/cloudstack.py

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
cloudstack

##### ADDITIONAL INFORMATION

[code]

[2019-05-04 14:03] resmo commented on #56080
resolved_by_pr #56083

[2019-05-04 14:11] JamieMagee opened #56084 "Ansible module to manage packages using scoop"
##### SUMMARY
Similar to how there is a `win_chocolatey` module (and related `win_chocolatey_*` modules) to manage Chocolatey packages, I would like a `win_scoop` module to manage [Scoop](https://scoop.sh/) packages.

Scoop is an alternative package manager for Windows. Check out the [GitHub repo](https://github.com/lukesampson/scoop) for more info

##### ISSUE TYPE
- Feature Idea

##### COMPONENT

[2019-05-04 14:17] JamieMagee commented on #56084
@jborean93 I think you might be the correct person to ask about this?

[2019-05-04 15:19] nalanj commented on #54855
Aha, got it. I set that var in my ansible.cfg, but it looks like it needs to be set on the host entry instead. Things are working for me now!

[2019-05-04 15:57] momusau commented on #49716
Yeah, that would be ideal to be honest.

[2019-05-04 18:22] rhysmeister commented on #55933
I've tested this against version 3.2, 3.4, 3.6 and 4.0. All seems good. I guess configsvr is just syntax sugar. Unless the OP has anything to add I'd suggest this can be closed.

[2019-05-04 18:26] aaronk1 commented on #45834
Have seen this also.  Have you guys tried the following?  Seems to be more successful for me:

- Remove NIC from Template that you're cloning
- Remove NIC from Windows (ensure that any hidden devices are removed also so if you remove the NIC from the VM before removing from Windows you'll have to show hidden devices to remove from Windows)
- Run vmware_guest task to add the NIC
- Use E1000E (vmxne

[2019-05-04 19:31] vijayscsa opened #56086 "VMware: Adding lists of esxi hosts to the cluster"
Folks, Unfortunately unable to add the list of esxi hosts (for example 3 hosts at a time) and all the 3 ESXi hostnames values I derive from a .json and try adding to the cluster.   Will I be able to add all 3 hostnames at a time using this playbook?  Thanks for help.

[2019-05-05 00:47] intrand commented on #44787
Any best guess on which release this might end up in? I don't see it assigned to any project or milestone. Just curious how worth while it is for me to duplicate work vs waiting for... 2.9?

Thanks!

Great work with this :) It will make my job easier!

[2019-05-05 01:51] jeking3 commented on #47360
Is name_match a remnant?
Is FindByIp used?  If so, it should be changed to the one that returns an array and assert the array is not > 1 length.

[2019-05-05 10:08] Elias481 commented on #53610
Yes for sure it's possible to check the in yet another additional ansible block.
Its just that I think the use-case is quite common. For setup of new servers an instance is created, according to specs.
During lifetime it's most often not the case that adjuments to the instance would be done with involving ansible and also it's difficult to ensure that the changes are always populated to ansible co

[2019-05-05 10:34] resmo commented on #54351
resolved_by_pr #56101

[2019-05-05 14:33] #25941 closed, assigned to nobody

[2019-05-05 16:09] Akasurde commented on #56086
@vijayscsa Thanks for reporting this issue. But could you please elaborate your issue more since current description is not helping to debug the problem ? You can do this by filling template https://github.com/ansible/ansible/issues/new?template=bug_report.md also provide playbooks and console log `-vvvv` etc.

[2019-05-05 19:52] OJFord commented on #50529
Is there even a working workaround for this issue?

I'm not (knowingly, I've never heard of it) using AWX Tower, I'm just running ansible on a Mac against a Linux remote. Initially I was running brew ansible in a pyenv virtual environment with openshift installed, but following above comments I've tried installing both ansible and openshift to system python environment, and that ansible still give

[2019-05-05 20:01] mnaser commented on #55876
This is not an `os_security_group_rule` bug.

You're using `dig` which seems to have returned `NXDOMAIN` which is why it's complaining about that as you're passing `NXDOMAIN/32` as a CIDR.. which is invalid :)

[2019-05-05 20:01] mnaser commented on #55876
notabug

[2019-05-05 20:04] #55876 closed, assigned to nobody

[2019-05-05 20:29] veksh commented on #48876
@JBaptisme

For now I'm configuring ex3300 and ex4200 using only `junos_config` module, see playbooks [here](https://github.com/veksh/conf_juniper). Rest of junos modules are too slow and too buggy for production use.

[2019-05-05 23:12] mlda065 commented on #56044
Yes

[2019-05-06 01:39] igoratencompass opened #56104 "Region eu-north-1 does not seem to be available for aws module boto.ec2"
##### SUMMARY

I can't access `eu-north-1` region in ansible and boto 2.49.0.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

boto.ec2 module

##### ANSIBLE VERSION

[code]
Same issue with 2.4.4

##### OS / ENVIRONMENT

[code]
[code]
[code]

##### STEPS TO REPRODUCE
Try creating instance in `eu-north-1` region.

##### EXPECTED RESULTS

Expect it to work.

##### ACTUAL RESULTS

[code]

[2019-05-06 01:56] igoratencompass commented on #56104
An issue with same boto version 2.49.0 has been reported here https://github.com/ansible/ansible/issues/21566

[2019-05-06 02:32] samdoran commented on #53346
Closing as this is documented (see above link).

[2019-05-06 02:32] #53346 closed, assigned to nobody

[2019-05-06 02:51] samdoran commented on #26322
`bcrypt` was added but not `sha1` which is why this issue remains open.

[2019-05-06 02:59] Fred-sun commented on #51751
@JohnnyRacket Are you still here? Could you help share your test result? Thanks a lot!

[2019-05-06 03:59] bluikko commented on #48134
There has been some back-and-forth between the design of "ephemeral mounts".

Has consensus been reached? Is someone working on this?

To summarize it looks like:
- @smurfix, @dagwieers, @ushuz would support modifying the existing `mount` module
- @webknjaz would prefer to split the fstab/mount functionalities to separate modules
- @sivel comments based on IRC discussion - 6 months ago - to leave