[2014-03-25 11:33] rakuco commented on #6677
Actually, if I add any task before the first `command` one, then all `echo` calls show me "bar".

[2014-03-25 12:52] srgvg opened #6678 "recent commit breaks serialized plays"
##### Issue Type:

Bug report
##### Ansible Version:

According to git bisect, the error was introduced in
1.6 on 605156c9047a07e02cfaa3c36c3a063ff17af540
##### Environment:

Ubuntu but N/A
##### Summary:

When doing serialized plays, ansible reports "FATAL: no hosts matched or all hosts have already failed -- aborting" after the first batch.
##### Steps To Reproduce:

hosts file:

[code]

playboo

[2014-03-25 13:16] jctanner commented on #6678
I will try to get this fixed today.

[2014-03-25 14:17] jimi-c commented on #6543
@jokerswild663 @dmitrig01 re-reading this, are you expecting the new ELB to be created if it does not exist? If so, the ec2_elb module does not handle creation, only registration of ELBs. In order to create a new ELB you need to use the `ec2_elb_lb` module.

[2014-03-25 14:31] jimi-c commented on #6190
Ok, I think we're going to go ahead and close this then. If @cenhinen is continuing to have issues he can create a new issue going forward, or ask on the mailing list/IRC. Thanks!

[2014-03-25 14:31] #6190 closed, assigned to nobody

[2014-03-25 14:36] siboulet commented on #6588
I've been using this in production for the last week. Let me know if there is anything I can do to have patch #6589 accepted upstream.

[2014-03-25 14:57] zytek commented on #6579
@madrobby @jctanner There is still issue with newline in password file.

@jctanner
Please revert changes in ansible and ansible-playbook
https://github.com/ansible/ansible/commit/409044155d2b6df49f63cc24d347e8cd715fe6a5

You have to strip input from file.

[2014-03-25 14:59] madrobby commented on #6579
I've tried with and without a newline in the file, same result. Unfortunately I'm sick in bed, but I'll try to repro once I feel better.

[2014-03-25 15:08] jctanner commented on #6678
Bug reproduced.

[2014-03-25 15:12] twidi opened #6680 "Allow use of "django-admin.py" in the django module"
When there is a virtualenv with django installed, it's easier to use the `django-admin.py` command than the `manage.py.

Mainly because `manage.py` is inside the project that may have been installed via `pip` and then in the python packages.

And in this case, using `django-admin.py`, which is globally available in the virtualenv, does the work, assuming the `settings` parameters is defined

[2014-03-25 15:13] jsmartin commented on #6650
I can not reproduce this issue with this playbook (yours was a bit hard to read, next time, indent 4 spaces and it will make it much cleaner):

[code]

This did produce a different error.  The stack is not able to update.  According to the AWS CloudFormation console:

"Update to resource type AWS::SNS::Topic is not supported."

[2014-03-25 15:15] zytek commented on #6579
https://github.com/ansible/ansible/pull/6681

[2014-03-25 15:16] jscheid commented on #6431
Is there a timeline for a 1.6.1 release with a fix for this?

[2014-03-25 15:22] jimi-c commented on #6650
This appears to have been fixed in b9ab31eb, and I can not replicate it using the current devel branch (though I do see it with v1.5.x). Since this does appear to be resolved, I'm going to go ahead and close this issue. This will be included in at least 1.6, but if you have any further questions or problems with this let us know. Thanks!

[2014-03-25 15:22] #6650 closed, assigned to nobody

[2014-03-25 15:22] dmitrig01 commented on #6543
No, the ELB already exists. See https://github.com/ansible/ansible/issues/6543#issuecomment-38207136: it fails on looking to see if the EC2 is in the ELB, which of course, it isn't

[2014-03-25 15:46] mpdehaan commented on #6661
"Try to use the changemaster mode for mysql_replication and specify a master_connect_timeout as either an integer or string."

Can you please paste an example of the above from your playbook execution?

Thanks!

[2014-03-25 16:19] firecat53 commented on #6669
Another run gave a slightly different error:

[code]

[2014-03-25 16:35] greenbrian opened #6682 "Copy module fails after recent commits on devel branch"
##### Issue type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel a8064a78f3) last updated 2014/03/25 11:17:49 (GMT -500)
##### Environment:

RHEL 5.8
##### Summary:

Simple file copy fails with Python error in recent devel branch, succeeds in 1.5.2 release.

Playbook

[code]

Ansible version

[code]

Failure:

[code]

If on 1.5.2, it succeeds just fine.

[code]

This is on RHEL 5.8 using P

[2014-03-25 16:43] #5113 closed, assigned to nobody

[2014-03-25 16:56] davidfischer-ch opened #6683 "synchronize module : unsupported parameter ansible_ssh_user"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

Ubuntu 13.10
##### Summary:

The module does not handle hosts file like this:

[code]
##### Steps To Reproduce:
- Install Ansible from the devel branch of the repository.
- Update hosts file with content in summary.
- Create a playbook using the synchronize module.
- Run it.
##### Expected Results:

It does synch

[2014-03-25 16:57] #5114 closed, assigned to nobody

[2014-03-25 16:59] davidfischer-ch opened #6684 "unable to set an alias in the hosts file (unicode problem in line?)"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

Ubuntu 13.10 amd64
##### Summary:

Ansible is unable to handle aliases that are not "real" hostnames:

[code]
##### Steps To Reproduce:
- Install Ansible from GitHub devel branch.
- Update hosts file with content in summary.
- Create a dummy playbook.
- Run it.
##### Expected Results:

Expected to not fail.
#####

[2014-03-25 16:59] jimi-c commented on #5114
It does appear again that this message was tweaked as part of 8752ae69, however I added a bit more to it to suggest how to resolve the issue.

[2014-03-25 17:00] davidfischer-ch opened #6685 "faster and more pythonic : replace dict() by {}"
##### Issue Type:

Enhancement
##### Ansible Version:

ansible 1.6
##### Environment:

Ubuntu 13.10 amd64
##### Summary:

Using the pythonic {} instead of dict() to construct Python dictionaries is faster and more elegant.
http://doughellmann.com/2012/11/12/the-performance-impact-of-using-dict-instead-of-in-cpython-2-7-2.html
##### Steps To Reproduce:

[code]
##### Expected Results:

It works, but

[2014-03-25 17:28] mpdehaan commented on #6685
If you have performance benchmarks where this is generating a real world problem, I'd be interested in seeing them, but we are using dict() because of readability.

I think most of the time we spend will be in network time (like yum updates) so this is probably not going to be a major concern.

[2014-03-25 17:30] #6685 closed, assigned to nobody

[2014-03-25 17:31] mpdehaan commented on #6684
Can you please paste your Ansible hosts file and your dummy playbook?

This should be splitting out variables on the same line without problems here, but for some reason it's not.

Seeing the whole hosts file would be helpful.

[2014-03-25 17:32] mpdehaan commented on #6657
Yep this is basically the "don't dedup stdin when it's not a thing, thing".   Thanks for the report.

[2014-03-25 17:33] #6670 closed, assigned to nobody

[2014-03-25 17:33] #6678 closed, assigned to jctanner

[2014-03-25 17:34] davidfischer-ch commented on #6684
[code]

Playbook:

[code]

[2014-03-25 17:34] jctanner commented on #6670
@drybjed this should be fixed. Please let me know otherwise.

[2014-03-25 17:34] jctanner commented on #6678
@sergevanginderachter this should be fixed, please let me know otherwise.

[2014-03-25 17:37] mpdehaan commented on #6683
So this sounds like your host file is being parsed strangely.

As I believe I commented previously, can you please paste your complete host file?   It should be possible to declare variables in it, so I'm curious what is happening here.

(This also sounds like another ticket you had opened about hostnames containing a hyphen, but I can't seem to find that one right now)

Thanks!

[2014-03-25 17:39] mpdehaan commented on #6683
Duplicate of #6684 from what is showing in the "failed" line this is getting read as a hostname.  Investigating.

[2014-03-25 17:39] #6683 closed, assigned to nobody

[2014-03-25 17:40] davidfischer-ch commented on #6684
This is the complete file :-)

[2014-03-25 17:41] davidfischer-ch commented on #6683
Thanks you really much Michael !

[2014-03-25 17:42] mpdehaan commented on #6684
Hmm, this is very odd... I'm not able to reproduce this using the latest devel branch.

We are doing a split on whitespace, is there a chance someone very sneaky stuck a unicode invisible character in there instead?

[2014-03-25 17:49] davidfischer-ch commented on #6684
Unicode is not the evil, ideally unicode should be used everywhere and some unit-tests should include special characters. A lot of trouble with some Python projects only because of this. Thanks.

[code]

[2014-03-25 17:51] davidfischer-ch opened #6687 "Maybe a recursive import : ImportError cannot import name template"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

Ubuntu 13.10 amd64
##### Summary:

Unable to import some modules of Ansible.
I fixed this in the closed pull request (https://github.com/ansible/ansible/pull/6654).
##### Steps To Reproduce:
- Install Ansible from GitHub devel branch.
- Execute this tinny python code: from ansible.callbacks import AggregateStats

[2014-03-25 17:59] jimi-c commented on #6682
@greenbrian could you try the following patch? I believe it will correct your issue but want to make sure before committing it:

<pre>
diff --git a/lib/ansible/module_utils/basic.py b/lib/ansible/module_utils/basic.py
index 2dcb9cd..4bdb3fc 100644
--- a/lib/ansible/module_utils/basic.py
+++ b/lib/ansible/module_utils/basic.py
@@ -966,11 +966,12 @@ class AnsibleModule(object):
         it uses os.r

[2014-03-25 18:05] jctanner commented on #6684
@davidfischer-ch what is the "od -c" output for the inventory file?

[2014-03-25 18:07] davidfischer-ch commented on #6684
[code]

[2014-03-25 18:08] davidfischer-ch commented on #6684
Please add my case to your unit-tests :-)

[2014-03-25 18:11] greenbrian commented on #6682
Seems to work, thanks.

[2014-03-25 18:19] mpdehaan commented on #6684
"Unicode is not the evil, "

Never said it was, the default split splits on whitespace, so the question was about the possibility of what the split might not be splitting on.

[2014-03-25 18:23] davidfischer-ch commented on #6684
Excuse me.

[2014-03-25 19:03] #6682 closed, assigned to jimi-c

[2014-03-25 19:03] jimi-c commented on #6682
Great, that's been merged into devel now. Thanks!

[2014-03-25 19:06] mpdehaan commented on #6684
Hmmm -- Unclear how to create that file using keyboard.

If you can email me your host file to michael@ansible.com we can take a look and at least understand what it's doing or not doing.

[2014-03-25 19:18] #5117 closed, assigned to nobody

[2014-03-25 19:21] mpdehaan commented on #6687
Shouldn't affect main ansible CLI or API operation, but I agree this should not be a problem.

On the other hand, I'm not really keen on the "from **future**" imports.

[2014-03-25 19:23] jimi-c commented on #5117
The above patch should resolve this issue when run with async. Please let us know if you continue to have any problems with this. Thanks!

[2014-03-25 19:29] astorije commented on #6056
Might this be related to #6655, by chance?

[2014-03-25 19:32] #5643 closed, assigned to nobody

[2014-03-25 20:07] #6655 closed, assigned to nobody

[2014-03-25 20:07] jctanner commented on #6655
@astorije this should be fixed in devel now. Please let me know otherwise.

[2014-03-25 20:10] astorije commented on #6655
@jctanner Thanks a lot for the quick answer! I am using distribution packages (Ubuntu), do you know when it will be available there?

[2014-03-25 20:14] davidfischer-ch commented on #6687
This relative import statement also ensure that the modules are imported from the neighbour directories and not from any potential other installation of Ansible (registered in the path).

[2014-03-25 21:26] mpdehaan commented on #5166
Oh yeah, I mispoke here, the list is going to get joined into a list and at this point this wouldn't be possible to detect at this level because the module code isn't aware of the argument string at this point.

I understand this is somewhat addressing a design limitation, though it's somewhat not worth it to fix.

The solution here wouldb e to just name the actual packages.

[2014-03-25 21:26] #5166 closed, assigned to nobody

[2014-03-25 21:37] jokerswild663 opened #6691 "ec2_module does not create spot requests"
##### Issue Type:

Bug
##### Ansible Version:

ansible 1.5.3
boto version 2.5.2
##### Environment:

ubuntu
fedora
##### Summary:

When trying to use the ec2 module, spot requests can't be created.  An error message is given saying that spot_price and spot_wait_timeout are not defined.
##### Steps To Reproduce:
1. have an ami ready within aws
2. run the following play

[code]
##### Expected Results

[2014-03-25 21:44] jctanner commented on #6691
@jokerswild663 I don't see any spot related parameters in your example task, is that a typo?

[2014-03-25 21:46] jctanner commented on #6431
@jscheid 1.6 has not yet released and 1.5.4 will likely be the next incremental bugfix release.

[2014-03-25 22:32] mpdehaan commented on #6691
Could this be a downlevel version of boto?

[2014-03-25 22:36] mpdehaan opened #6692 "Document new params to accelerate mode"
##### Issue Type:

Bug Report
##### Ansible Version:

1.6
##### Environment:

N/A
##### Summary:

The accelerate multi_key parameter needs to be noted in examples/ansible.cfg, which is the file shipped in default packages and noted in docsite/rst/intro_configuration.rst.

At the same time, audit intro_configuration.rst for any missing parameters.
##### Steps To Reproduce:

Look for documentation o

[2014-03-25 22:44] jokerswild663 commented on #6691
Just fixed above.  Sorry about that.  Anyways, the boto version that I have is 2.5.2.  I got this by running

pip search boto:
boto                      - Amazon Web Services Library
  INSTALLED: 2.5.2
  LATEST:    2.27.0

[2014-03-25 22:53] josephtate opened #6693 "apt-key module does not update expired keys"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]

Git id is 14499e8bf3ed10f7818ec67e1f865d68e4a2a60b
##### Environment:

Running from Ubuntu 14/04 (alpha) managing Ubuntu 12/04. Both are x86_64.
##### Summary:

If an old key is present (previously uploaded, etc.), the apt-key module doesn't download new a new copy of it. If the old key is expired, a subsequent apt command will fail wit

[2014-03-25 23:02] josephtate commented on #6693
Template applied

[2014-03-26 00:32] #6692 closed, assigned to jimi-c

[2014-03-26 00:33] mpdehaan commented on #6693
The key module is designed to be (cough) idempotent (cough) in that it shouldn't hit the URL every single time to make sure the key is downloaded.

Though I can probably see something like a force=yes being addable, so I'll mark this as a feature idea as I can see that being useful/important.

(reasoning -- Imagine 500 hits on that URL once for each server for a 500 server infra, etc... it's kind

[2014-03-26 00:36] jscheid commented on #6431
@jctanner that's confusing, a tarball for 1.6 is available for download at http://releases.ansible.com/ansible/ and it's the current version on MacPorts.

[code]

EDIT: it looks like you've pulled the tarball now, for what it's worth I _think_ this will break MacPorts. See https://trac.macports.org/changeset/118046

[2014-03-26 00:37] josephtate commented on #6693
It is expired keys that I'm most concerned about. Checking the local
keyring to see if the configured key is expired does not require a network
request. If it is expired then go out and refetch the key. If no updated
key is available, error out.

[2014-03-26 00:47] jlaska commented on #6431
@jscheid Apologies for the mistake. It appears that an interim development build was mistakenly uploaded to releases.ansible.com.  The development build has been removed.  The latest stable ansible release continues to be 1.5.3.

[2014-03-26 00:51] jscheid commented on #6431
@jlaska no problem, but perhaps you want to let the MacPorts guys know. The ticket in question looks to be https://trac.macports.org/ticket/42941 (see 2nd comment)

[2014-03-26 01:46] #5395 closed, assigned to nobody

[2014-03-26 01:49] jimi-c commented on #5395
The above patch should resolve the issue for you. Please let us know if you continue having problems with this. Thanks!

[2014-03-26 02:06] jimi-c commented on #5452
It appears that this has already been addressed in the devel branch, so I'm going to go ahead and close this. Please let us know if you continue seeing this problem. Thanks!

[2014-03-26 02:06] #5452 closed, assigned to nobody

[2014-03-26 04:37] jimi-c commented on #5456
This appears to have been fixed already. When the sample playbook given above is run, the result is:

<pre>
TASK: [echo on add] ***********************************************************
fatal: [127.0.0.1] => an unexpected type error occured. Error was unsupported operand type(s) for +: 'dict' and 'dict'
</pre>

When the following syntax is used:

<pre>
  - name: echo on add
    command: echo "he

[2014-03-26 04:37] #5456 closed, assigned to nobody

[2014-03-26 06:21] hitechshiva commented on #5456
perfect, thanks :)

[2014-03-26 07:39] dghubble opened #6694 "Homebrew module fails silently after fresh Homebrew installs"
Reproduce (done on a fresh OSX Mavericks install + Command line tools)
- Run the homebrew installer script.
- ruby -e "$(curl -fsSL https://raw.github.com/Homebrew/homebrew/go/install)"
- Completes. Run `brew doctor`. Everything looks good.
  Note that the installer does not (and should not) create `/usr/local/Cellar`, this is created when the first brew package is installed. So right now no Cella

[2014-03-26 07:44] dghubble commented on #6694
@danieljaouen

[2014-03-26 07:46] dghubble commented on #6694
@andrew-d

[2014-03-26 07:48] Govinda-Fichtner commented on #5876
I just had the same problem...

I am creating a virtual maschine, then wait for its SSH Port to become available and finally I want to run setup to gather necessary facts for later tasks...
Setup fails because the hostname is not resolvable at this moment in time...
It also does not make sense to add the FQDN and the current ip of the VM to the local /etc/hosts of the maschine where the ansible pl

[2014-03-26 10:02] Govinda-Fichtner commented on #5876
OK. I found a way to work around this:

[code]

[2014-03-26 11:07] srgvg commented on #6678
Works like a charm, thx!

[2014-03-26 13:11] jhohertz commented on #1476
Also wouldn't mind something along these lines. My context is I'm building a series of recipes that declare dependencies, but we build iteratively and snapshot. (IE: a raw image builds into a base, which has another role layered on, etc.). So I could tag my snapshot with what roles have been run already in the snapshot, and have my recipes look for said tags when the role runs, and skip it if it's

[2014-03-26 13:52] DXist commented on #6647
This patch did things as expected -  user/group of newly created file is root/wheel. Thank you!

[2014-03-26 13:58] danieljaouen commented on #6694
I'll have some time to take a look at this tonight.

[2014-03-26 14:00] jctanner commented on #5876
@Govinda-Fichtner If I understand your description, I think you could also use add_host and a second play in the playbook to provision the VM. Check our ec2 example: http://docs.ansible.com/guide_aws.html#example-4

[2014-03-26 14:11] danieljaouen commented on #6694
Wait, are you using the latest stable release or the `devel` branch?  If you're using stable, could you try testing it out again using devel?

You just need to:
1. Clone down Ansible,
2. Run `source <ansible_repo>/hacking/env-setup` or `source <ansible_repo>hacking/env-setup.fish`
3. Try running the playbook again.

[2014-03-26 14:42] phgrau opened #6700 "authorized_key modules fails on existing key which has some extra quoting"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 (devel 90bc9d4a4b) last updated 2014/02/03 10:21:04 (GMT +200)
##### Environment:

Ubuntu 13.10
##### Summary:

While trying to add a new key to ~root/.ssh/authorized_keys the module
stops with a backtrace

[code]

This is due to an offending key in the authorized_keys file:

[code]

Some how shlex can't split the offending line in

[2014-03-26 15:19] jgornick commented on #6661
Specify master_connect_retry as integer:

[code]

Result:

[code]

---

Specify master_connect_retry as string:

[code]

Result:

[code]

[2014-03-26 15:27] jimi-c commented on #5557
This appears to have been resolved at least as far back as 1.5.0:

<pre>
# ansible-playbook -vvvv -i localhost, issue-5557/playbook1.yml
ERROR: vars from '/root/testing/issue-5557/roles/sample/vars/main.yml' are not a dict
</pre>

If you continue to have issues with this, please let us know. Thanks!

[2014-03-26 15:27] #5557 closed, assigned to nobody

[2014-03-26 15:29] #5059 closed, assigned to nobody

[2014-03-26 15:29] jctanner commented on #5059
@oxyc this should be fixed by 2a976ac3137e3fb0a8cdbc68769b92e70bd460dc

[2014-03-26 15:47] xshadow opened #6704 "jabber module failes - but message is sent"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Debian 7
##### Summary:

When you try to send a jabber message to an existing user on the given host. The message is sent but the module fails.
##### Steps To Reproduce:

roles/notify/main.yml

[code]
##### Expected Results:

Success and send the next message
##### Actual Results:

[code]

[2014-03-26 16:08] sivel opened #6705 "tags being applied to repeated roles"
##### Issue Type:

Bug Report
##### Ansible Version:

`ansible 1.6 (devel 2a976ac313) last updated 2014/03/26 10:47:10 (GMT -500)`

Git bisect indicates the issue was introduced in d327e3d11a3c7092327630541d01b04e8450b335
##### Environment:

Control: Mac OS, virtualenv, python 2.7.5

Target: N/A
##### Summary:

We have reusable roles called `app-webapp` and `app-proxy`.  These roles are parameteri

[2014-03-26 16:16] hkariti commented on #4902
Seems like this is happening again. The following was added to register():

[code]

Which fails, because _get_instance_health returns None when the instance hasn't been registered before, which prevents the loop from breaking.

[2014-03-26 16:19] jctanner commented on #6705
@sivel If you comment out line 146 in lib/ansible/playbook/play.py, does the tagging behavior return to what you expected?

[code]

[2014-03-26 16:20] sivel commented on #6705
Yes, commenting out that line, resolves the issue for me.

[2014-03-26 16:23] jimi-c commented on #5582
This is a consequence of running multiple async tasks on the same host. For each task, a job id (jid) is used to track the async task, which is polled via async_status. The async_wrapper writes the result of the task to a file name based on this jid, which async_status picks up. Since the jid is not unique across hosts, each task writes to the same file, and the last one done wins.

This issue doe

[2014-03-26 17:04] #5618 closed, assigned to jctanner

[2014-03-26 17:08] jctanner commented on #6705
@sivel try this patch:

[code]

[2014-03-26 17:12] mpdehaan commented on #5582
This seems to be the issue of explaining the problem as "doesn't work" because of the way it's implemented, which I don't think is quite sufficient.

In this case the jid is definitely used for multiple tasks so we can poll on status of multiple hosts.  But wouldn't it be possible to keep the status directory in something like jid_hostname instead?

There really shouldn't be anything different abo

[2014-03-26 17:13] sivel commented on #6705
This raises an exception for me:

[code]

I'm guessing because we don't supply a `name` key in our role declaration.  This was only tested with `--list-tasks`

[2014-03-26 17:22] jctanner commented on #6705
New patch:

[code]

[2014-03-26 17:27] sivel commented on #6705
I've confirmed that the updated patch is working as expected.  I've tested with an actual deployment as well as with `--list-tasks`.

[2014-03-26 17:29] #6705 closed, assigned to jctanner

[2014-03-26 17:54] dghubble commented on #6694
I was using the latest released pip package, version 1.5.3. I see some changes were made to the module in the last month or so. I can try out the devel branch version tonight.

[2014-03-26 18:35] bcoca commented on #5876
I experienced similar issue, but it is not a hang, just looooong timeout
while it tries to resolve the 'unresolvable' name. Eventually setup comes
back, if you have the patience to not Ctrl+C (at least in my case)

[2014-03-26 18:49] #5582 closed, assigned to nobody

[2014-03-26 18:49] jimi-c commented on #5582
This issue should be resolved by the commit above. Please let us know if you continue to see any problems regarding this issue, or if you have any further questions. Thanks!

[2014-03-26 18:50] bcoca commented on #6704
weird, the exception should be caught, as per actual code:

[code]

are you sure you are not using an old version of the library?

[2014-03-26 20:27] asabil opened #6710 "wait_for hangs on UNIX pipes"
When trying to `wait_for` a pipe, it might block forever. This is because the process blocks until the other end of the pipe gets opened. A solution to this would be to use `stat` before trying to open the file.

[2014-03-26 23:14] mpdehaan commented on #6710
Sounds reasonable, something you might like to send a pull request for, perhaps?

[2014-03-27 01:02] djatlantic opened #6714 "Look like include_vars does not work with tags"
Hi,

I have a simple users role where the user_password parameter is in files such as vars/michael.yml.

And in tasks/main.yml, I would be looking to load the file with include_vars such as:
- include_vars: {{ user_name }}.yml

Within the main.yml, I also have other tasks that are tagged with "users" and in my ansible-playbook run, I tried to run with --tags users.  This does not work as there is

[2014-03-27 08:15] ahelal opened #6716 "authorized_key key_option not matching"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5 and ansible 1.6 (devel 605156c904) l
##### Environment:

Running from Mac OSX
Managing Ubuntu-12.04
##### Summary:

I am trying to add permitopen="ip:port" to authorized_keys file using the authorized_keys module.
##### Steps To Reproduce:

You would need to define

[code]
##### Expected Results:

It should not fail and deploy to the author

[2014-03-27 08:31] #6576 closed, assigned to nobody

[2014-03-27 09:44] davidfischer-ch commented on #6684
Hello,

Good news : I am not able to reproduce the bug with the file (I just restarted my computer this morning, ... Maybe it is time for me to cleanup it a little bit). So I wanted to go ahead and bypass the creation of a file and put the content in a variable.

I put the line (without the \n) in a variable:

[code]

And used this variable:

[code]

But it fails:

[code]

Am I wrong with my hosts

[2014-03-27 11:12] xshadow commented on #6704
I use the python-xmpp package from the debian repository.

(0.4.1-cvs20080505.2)

[2014-03-27 12:02] bcoca commented on #6704
i meant the jabber module itself

[2014-03-27 12:27] dominus-directus commented on #5059
solved my issue too

[2014-03-27 12:30] xshadow commented on #6704
Can I have an old version when I use ansible 1.5.3, installed via pip install ansible --upgrade

[2014-03-27 12:45] dominus-directus commented on #6354
seems 2a976ac solved the issue

[2014-03-27 12:45] #6354 closed, assigned to nobody

[2014-03-27 13:05] bcoca commented on #6704
I don't know, I always run from checkout. What is clear is that the current code should trap that error but that does not happen in your case.

[2014-03-27 14:32] jimi-c commented on #6605
Since this has been fixed in more recent versions, I'm going to go ahead and close this. If you continue to experience problems regarding this issue, please let us know. Thanks!

[2014-03-27 14:32] #6605 closed, assigned to jimi-c

[2014-03-27 15:01] mpdehaan commented on #6714
So it seems that you need to maybe tag  your include_vars statement and didn't.

Can you verify?

[2014-03-27 15:05] alexanderjardim-zz commented on #4675
Where should I put this gather_facts clause in a role?

[2014-03-27 15:11] omgjlk commented on #4109
I believe I worded this a bit wrong. It's not really a tag to host relationship, it's more that --list-hosts will list out hosts for every play, and now that I think more about it, tags apply to tasks too, so it's hard for --list-hosts to filter on tag.  --list-tasks is more appropriate to use, AND --list-tasks already filters on tag, so I would consider this a misfiled non-issue.

[2014-03-27 15:18] jctanner commented on #4109
It looks like we could possibly have the --list-hosts code narrow down the enumerated plays based on the input tags ...

[code]

[2014-03-27 15:20] omgjlk commented on #4109
We might use that, but because it doesn't have introspection into the in-play tasks it wouldn't be as useful data. Mostly we were looking for a way to validate that our tag option was being properly read, and at the time we only knew about --list-hosts. That was the hammer. With --list-tasks it's much clearer information and more in-line with what we were looking for.

[2014-03-27 15:47] #4109 closed, assigned to nobody

[2014-03-27 15:49] jctanner commented on #4109
The above patch moves the tag filtering code out of just the --list-tags section so that it runs for list-hosts and list-tasks. The result is the following:

[code]

[2014-03-27 16:09] mattsch opened #6723 "Unarchive module tickling md5sum bug"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
ansible 1.6 (devel 95a283ccaa) last updated 2014/03/27 13:26:07 (GMT -400)
##### Environment:

From OS X 10.9.2, to Ubuntu Precise
##### Summary:

Unarchive module fails if sudo password provided for NOPASSWD account
##### Steps To Reproduce:

Mark user account as NOPASSWD in sudoers file
Create play to be run as root that uses th

[2014-03-27 16:10] wbond commented on #5463
I can confirm what @vyrak is seeing, in that with 1.4 the workarounds do not do anything. The result is always a string.

What about adding a param to `set_task` called `type` that would cast the result either `int` or `bool`?

[2014-03-27 16:32] hkariti commented on #5512
That can still happen with the tasks inside the role, so not really a new problem.

[2014-03-27 16:57] gplasky opened #6724 "Ansible variable precedence of -e should be highest"
From the mailing list:

I am referring to the documentation
here: http://docs.ansible.com/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

When I use vars_files and "-e" (command line) variables together, I get
results that appear to fly in the face of the aforementioned documentation.
Exhibit A:

[code]

Note that according to the docs, -e variables should "always win"

[2014-03-27 17:13] Synforge commented on #6648
I've submitted a pull request now that fixes this issue:
https://github.com/ansible/ansible/pull/6725

[2014-03-27 17:13] jsmartin opened #6726 "add su support to local connection plugin"
##### Issue Type:

Bugreport
##### Ansible Version:

ansible 1.6 (devel 2156e87e62) last updated 2014/03/20 09:29:28 (GMT -400)
##### Environment:

OSX, CentOS6
##### Summary:

If your host uses the "local" ansible_connection method and are using the "su" method to escalate privileges, modules will error stating that they do not support su.
##### Steps To Reproduce:

[code]
##### Expected Results:

[2014-03-27 17:20] tpbrown opened #6727 "Omitting protocol in firewalld produces a stack trace"
##### Issue Type: Bug Report
##### Ansible Version: ansible 1.6 (devel 2a976ac313) last updated 2014/03/26 09:31:42 (GMT -700)
##### Environment: OSX 10.8.5, managing Fedora 19
##### Summary:

Omitting the protocol in the port attribute of firewalld module fails (as it should), but doesn't indicate why.
##### Steps To Reproduce:

Drop the protocol of the firewalld port attribute.

[code]
##### Exp

[2014-03-27 18:08] jjshoe opened #6728 "Synchronize doesn't "default" to files/"
Given a role:

web_server /
  tasks /
    main.yml
  files /
    httpd.conf

And a task:
- name: sync | httpd confnig
  synchronize: src=httpd.conf dest=/etc/apache2/conf.d/widget.conf

You'll get an error because it assumes httpd.conf is based in the same directory you call ansible playbook from. The copy module however will happily check files/ for you.
##### Issue Type:

What kind of ticket is

[2014-03-27 18:22] mpdehaan commented on #6728
duplicate of #5307

[2014-03-27 18:22] #6728 closed, assigned to nobody

[2014-03-27 18:23] jjshoe commented on #5307
@mpdehaan - If you have thoughts on what to look at to make this work, add them here, I might tackle it. Might depends on complexity.

[2014-03-27 18:25] mpdehaan commented on #6726
I think we should at least change this to say "this connection" as it's not really the module here.

[2014-03-27 19:12] jlaska opened #6731 "Modules that accept hostkeys do not create $HOME/.ssh"
##### Issue Type:

Bug Report / Feature Idea
##### Ansible Version:

ansible-1.5.3 (and ansible devel)
##### Environment:

RHEL-6.4, RHEL-6.5, Centos-6.4, Ubuntu-12.04, Ubuntu-14.04.
##### Summary:

When performing a git clone, using ssh credentials, the clone will fail if performed by a new user who does not have a $HOME/.ssh directory.  Should modules that accept hostkeys (e.g. `git`) also be re

[2014-03-27 21:41] klymr opened #6736 "aws elb in a vpc"
It seems that we can create a elb in ec2 classic, but there is no option to create a elb in a vpc or a subnet.  I'd like to request this as a new feature.

[2014-03-27 21:48] siboulet opened #6737 "Subversion module doesn't properly handle file names with accentuated / non-ascii characters"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

CentOS 5.8
##### Summary:

The subversion module doesn't properly handle file names with accentuated / non-ascii characters.

This bug appears to have been introduced by the use of LANG=C in #5626.

Maybe we should be using LANG=en_US.UTF-8 (or any UTF-8 encoding) instead.

I can confirm using LANG=en_US.UTF-8 he

[2014-03-27 21:52] 12f-techops opened #6738 "gce.py breaks when changing secrets.py"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel cda90e3ff6) last updated 2014/03/27 11:34:15 (GMT -700)
##### Environment:

Fedora 20, managing gce
##### Summary:

$ansible_source/plugins/inventory/gce.py does not handle changing of credentials/project
##### Steps To Reproduce:

Setup gce parameters:
set $GCE_INI_PATH in .bashrc to point to your gce.ini

Setup gce.ini as f

[2014-03-27 22:21] mpdehaan commented on #6736
Sounds great, is this something you might like to work on?

See also - https://github.com/ansible/ansible/search?q=vpc&ref=cmdform&type=Issues

[2014-03-27 22:22] mpdehaan commented on #6737
Yay, conflicting fixes :)

[2014-03-27 22:23] mpdehaan commented on #6738
Not sure what libcloud is up to here, is this something you might like to help explore/work on?

You might have a pyo or something lurking around.

[2014-03-27 22:26] siboulet commented on #6737
How about getting rid of the need for specifying the locale and using the system default instead? The initial problem in #5626 was the regexp that matches the "svn info" output to parse the Revision. I was thinking of using "svn info --xml" which output the information in computer readable locale-independent format.

[2014-03-27 22:41] mpdehaan commented on #6737
Using that sounds reasonable.  Does it have a JSON option?

[2014-03-27 22:46] 12f-techops commented on #6738
Will investigate this with #libcloud on freenode and report back, as it is an upstream issue potentially, will leave this here as ansible is affected, but not the root cause.

[2014-03-27 23:03] djatlantic commented on #6714
Hi Michael,

That is the case.  I would like to be able to use tags feature with include_vars.

Thanks for the great works.

[2014-03-28 00:23] siboulet commented on #6737
Please review and let me know what you think.

[2014-03-28 01:47] siboulet commented on #6737
Oh, hold on here.

Ansible is overriding the default locale to be "C" (at lib/ansible/module_utils/basic.py:191). It appears there is an "hidden" module_lang config parameters to place in ansible.cfg.

So, the above patch is needed + setting module_lang=en_US.UTF-8 in ansible.cfg.

[2014-03-28 03:16] mattsch commented on #6723
Test playbook:

[code]

[2014-03-28 05:02] dghubble commented on #6694
I tried the latest development version and the issue reported was not present. Awesome. I imagine that this issue persisted from 1.1 to around 1.5.3? I'll temporarily use the development version until the next release.

Was this purposefully fixed with recent changes? If not, it might be worth noting the underlying cause so there is not a regression. Currently though, this issue issue seems to be

[2014-03-28 09:05] josef-spak commented on #6214
I can reproduce this exactly, with the latest dev version as well.

ansible-playbook 1.6 (devel 3b285d736c)

[2014-03-28 14:08] jazmit opened #6741 "Ansible rapid development with inotify"
I think there are easy things we could do to speed up the edit / run / test loop when writing ansible config files and make working with ansible even more awesome!

I got bored of switching terminals to re-run ansible after every edit, and set up a inotifywait loop to re-run the playbook when any files change, but I think we can do much better.

I propose:
- giving ansible-playbook a `--watch` fla

[2014-03-28 14:17] danieljaouen commented on #6694
The bug was not purposefully fixed, but the module went through a fairly significant refactor to both add functionality and fix bugs elsewhere in the code.

Prior to the refactor, a package's install status was checked via `brew list <package_name>`, which for some reason returns a different status depending on whether or not `/usr/local/Cellar` exists.

Currently (that is, in the `devel` branch),

[2014-03-28 14:29] mpdehaan commented on #6741
This is not something we're going to do, live editing of playbooks is definitely not a thing many people would be comfortable with, and it's extra code to maintain.

You should definitely look into using ControlPersist for persistent connections.

Re-running things that haven't changed is useful to ensure state remains as desired, in particular when things can change out of band or services termin

[2014-03-28 14:29] #6741 closed, assigned to nobody

[2014-03-28 14:33] danieljaouen commented on #6694
Actually, it looks like this bug was only present from January 3rd onward (see: https://github.com/ansible/ansible/commit/279098bd034701acfb7ff5d6f03061b90780e10f#diff-e365214a2f51226ed6bf3be725464737 )

From what I can tell, the old method is able to handle package aliases (e.g., `libjpeg` vs. `jpeg`) whereas the new method can not.  One way we could potentially get around that is to parse the ou

[2014-03-28 14:51] danieljaouen commented on #6694
Alternatively, if you want to take a stab at this yourself, the relevant code is here: https://github.com/ansible/ansible/blob/devel/library/packaging/homebrew#L356

You would have to replace the call to `brew list -m1` with a call to `brew info <package>` then parse the output for lines like: `.*file.*\*`

[2014-03-28 15:08] danieljaouen commented on #6694
Actually, it seems like the output from `brew info <package>` only returns such lines (i.e., lines that end in `*`) for linked packages.  We would therefore have to parse the output for lines like "Built from source", "Poured from bottle", etc.

[2014-03-28 15:15] danieljaouen commented on #6694
This code is relevant here: https://github.com/Homebrew/homebrew/blob/master/Library/Homebrew/tab.rb#L136

[2014-03-28 15:43] trantor commented on #4821
Using the shell module with a command returning output from remote files containing both utf-8 and latin1 text, the stdout of the command is blank, although the module returns OK as expected.
Git bisect leads to the fix for this issue.

[2014-03-28 15:52] trantor opened #6742 "Blank output from the shell module under peculiar circumstances (probably not limited to that module)"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

Control: Ubuntu 12.04 Target/s: Ubuntu/Debian
UTF-8 locale on both control and target
##### Summary:

I've noticed how certain commands run through the shell module returned an OK exit status with, however, no standard output, when the same command run by hand on the target machine produces output as expected.

G

[2014-03-28 16:15] ramondelafuente commented on #6466
:+1:

Also, I think it would be nice if ansbile-galaxy install didn't download the zipfile before finding out that the folder already exists.

If you add a role to your dependency list you can update -i (ignore errors), but all roles are downloaded.

[2014-03-28 17:08] ruudk opened #6744 "[Docker] AttributeError: 'bool' object has no attribute 'strip'"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.3
##### Environment:

Running from Mac OS X 10.9.2 and executing on Ubuntu 12.4.4 LTS
##### Summary:

Trying to run an docker container fails and throws an error: `AttributeError: 'bool' object has no attribute 'strip'`
##### Steps To Reproduce:

[code]
##### Expected Results:

Docker container should run
##### Actual Results:

[code]

[2014-03-28 17:29] mpdehaan opened #6745 "1234"
testing...

1234

[2014-03-28 17:29] mpdehaan commented on #6745
What happened to my reopen button?

[2014-03-28 17:29] mpdehaan commented on #6745
There you are.

[2014-03-28 17:29] #6745 closed, assigned to nobody

[2014-03-28 17:30] mpdehaan commented on #6745
test test test

[2014-03-28 17:46] joshuaconner commented on #6744
That's pretty weird. Can you post the output from running `docker ps` on that machine?

[2014-03-28 20:11] srgvg commented on #6745
Did you write a unit test for this?

[2014-03-28 22:46] mpdehaan commented on #6742
Can you link us to the file in questiona nd an example command?

Also, can you tell us what OSes are involved?  The previous involved Windows in the bug report, so this is why I'm asking.

Thanks!

[2014-03-28 22:46] mpdehaan commented on #6742
nm on the OS question, see above.

[2014-03-28 23:08] nathancahill commented on #3775
For one-level JSON, a table like the Options table is probably the best way to do this. See here: https://github.com/nathancahill/ansible/commit/21a488898d6a631e0c0208899f4dedab19ca1e1a and an example module here: https://github.com/nathancahill/ansible/commit/f02b860de718a8f095e09b883efe66483bc92556. A good number of modules can use this format. For more than one level, nested table rows?

[2014-03-28 23:26] danieljaouen commented on #6694
I've actually gone ahead and submitted a patch for this: https://github.com/ansible/ansible/pull/6749

[2014-03-28 23:52] danieljaouen opened #6750 ""git" module error: "Failed to init/update submodules""
##### Issue Type:

Bug Report
##### Ansible Version:

± ansible --version
ansible 1.6 (devel 4dc598049e) last updated 2014/03/28 19:14:05 (GMT -400)
##### Environment:

OS X
##### Summary:

Ansible's `git` module fails to keep a git repository up-to-date if it has submodules.
##### Steps To Reproduce:

Try to clone down a repository with submodules.  For example, `git://github.com/Valloric/YouComp

[2014-03-29 00:19] pzhine opened #6751 "Add timeout option to get_url"
##### Issue Type:

“Feature Idea”
##### Ansible Version:

1.5.3
##### Environment:

Ubuntu 12.04
##### Summary:

We should be able to specify a timeout for get_url for downloading larger files (or for hitting longer running endpoints).

Right now, it looks like it's fixed at 10 seconds, the default for the timeout param of fetch_url.
##### Steps To Reproduce:
- name: warmup cache
  get_url: url=ht

[2014-03-29 00:24] manicminer commented on #5166
I agree it would be easiest to just name the packages, but in this case I didn't want to, so came up with this horrid but working approach:

[code]

(where `modules` is an array of package suffixes)

[2014-03-29 00:27] patrickheeney commented on #5166
@tombamford Interesting approach. I will have to give that a shot. I have some frontend people making the lists so having them remember `php-` or `libapache2-mod-` is always forgotten. This might be a good approach until this feature is hopefully reconsidered in the future.

[2014-03-29 00:37] mpdehaan commented on #6750
Hmm, in queue for testing.

If you'd like to attempt a fix that also attempts to get the fix of the above behavior down, that's also welcome.

[2014-03-29 00:38] mpdehaan commented on #6751
Sounds reasonable.  Something you would like to work on, perhaps?

[2014-03-29 00:41] pzhine commented on #6751
Yeah, I'll work on a pull request.

[2014-03-29 05:26] Malvineous commented on #5307
I just came across this issue too.  As someone new to Ansible it was a bit counter-intuitive given the documentation about roles touts the benefits of using relative paths and that you should use synchronize to copy files recursively, but then when you do that it doesn't actually work!

[2014-03-29 06:37] dghubble commented on #6694
awesome

[2014-03-29 15:00] dopry commented on #4883
I experienced a similar error in a handler. Using ansible 1.4.5

service: name={{nodejs_env}}_{{nodejs_name}} state=started

would generate an error the first time I ran a playbook for a project.

NOTIFIED: [nodejs | restart nodejs] *************************
failed: [127.0.0.1] => {"failed": true, "item": ""}
msg: service not found: {{nodejs_env}}_{{{nodejs_name}}

running the playbook again would

[2014-03-29 17:15] wu-lee commented on #4359
I agree with the OP, not only is using files as described here conceptually simpler, it is far more convenient for authors. Locating the right edit buffer when every file is called "main.yml" is frustrating.

Whereas the reasons stated here why the convention could not be altered now do not sound very strong.

Even if "most people do not use nor require every folder/main.yml to be present", then t

[2014-03-29 18:39] danieljaouen commented on #6750
From what I can tell, the command works when run via a local connection but not when run via an SSH connection.

I'll continue to investigate.

[2014-03-29 18:49] mpdehaan commented on #3775
This is pretty much how I'd see it happening.  The lion's share of the work will be in annotating all of the existing modules (or most of them).

[2014-03-29 19:06] mpdehaan commented on #3887
So ignorning the issue of display, there's _still_ the question of how information would need to be posted back.

At the most basic level this would require a few things:
- a server to accept information out of band
- a configuration option to indicate to the modules this server was enabled
- instrumentation of that server to do something with the data
- etc

This orginal ticket is about the shell

[2014-03-29 19:06] #3887 closed, assigned to nobody

[2014-03-29 19:17] mpdehaan commented on #6474
There's a fix applied on devel that enables the OS X keychain (due to some crazy aspects of needing to feed at least one dummy cert to the library to get this far).

So this should be pretty good to go on 1.5.3 and even better on 1.6, as a result, I think we can close this one.

[2014-03-29 19:17] #6474 closed, assigned to nobody

[2014-03-29 19:21] mpdehaan commented on #3775
Was referring to flat returns -- it's probably just best if we show example JSON actually and do something like RETURN_VALUE_EXAMPLES = docstring

[2014-03-29 19:42] mpdehaan commented on #6714
Sounds like you have this:

[code]

And need this:

[code]

The reason being is that the task loading logic is generic, so if you apply the tags, they should take.

(include_vars will not be ignoring tags, so specifying --tags is skipping your statement above, I think -- if so, this is not a bug, but it's working like we would expect)

[2014-03-29 19:43] jonhattan opened #6756 "Allow for conditional role defaults"
##### Issue Type:

“Feature Idea”
##### Ansible Version:

ansible-playbook 1.6 (devel 9870784d80) last updated 2014/03/27 21:08:48 (GMT +000)
##### Environment:

N/A
##### Summary:

Roles only allow for default variables defined in `defaults/main.yml`.

It would be nice to provide a way to include defaults conditionally.
##### Steps To Reproduce:

N/A
##### Expected Results:

N/A
##### Actual Resu

[2014-03-29 20:04] candlerb commented on #3887
I don't see any need for a side channel or a separate service to receive the progress information; I was envisioning using the same channel.

At the moment, ansible just sits there waiting for the far side to complete, and return a blob of JSON. I thought that instead the far side could send a stream of results - zero or more intermediate results, followed by a final result. This could just be a s

[2014-03-29 20:08] teamon commented on #3887
JSON stream is used quite common - for example https://github.com/brianmario/yajl-ruby has support for it ootb and the example use case is consuming twitter stream API.

[2014-03-29 21:02] nathancahill commented on #3775
Cool. I wrote a little python script that generates yaml from the module.exit_json, so I'll run it for all the flat returns and post back here with an update. Agreed that example JSON is the best for complex returns.

[2014-03-29 21:16] clconway opened #6757 "gce_net silently fails when fwname already exists on another network"
##### Issue Type:

Bug report
##### Ansible Version:

ansible 1.6 (devel 8c7828d469) last updated 2014/03/25 10:21:15 (GMT -700)
##### Environment:

Ubuntu 12.04.1
##### Summary:

gce_net tasks "succeed" even when the underlying firewall creation request fails.
##### Steps To Reproduce:

$ ansible localhost -i inventory -m gce_net -a "name=network-a ipv4_range=10.0.0.0/8"
$ ansible localhost -i in

[2014-03-30 01:21] jimi-c commented on #4359
@wu-lee you do not have to have those folders there if they are not being used. The structure the OP posted is only there if you're using every feature of a role including variables, defaults, handlers, etc. If your role is only tasks, you only have to have the `tasks/main.yml` file and nothing else.

[2014-03-30 04:37] jhogendorn opened #6760 "git module fails when credentials required - broken ForwardAgent? (ed: using Vagrant)"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

OSX Mavericks host, Ubuntu 12.04 target running in Vagrant
##### Summary:

This task:

[code]

when aimed at this vagrant test machine, 12.04 ubuntu LTS:

[code]

with this ansible.cfg:

[code]

does not forward credentials, failing with this message:

[code]

I have also tried utilising all the options detailed in th

[2014-03-30 04:48] #6543 closed, assigned to jimi-c

[2014-03-30 04:49] jimi-c commented on #6543
I've remove that wait loop around the initial state check, and my testing shows this to be working as expected now. Please let us know if you continue to have problems regarding this issue, or if you have any further questions. Thanks!

[2014-03-30 06:02] coreylane opened #6761 "mysql modules do not get 'login_host' from ~/.my.cnf?"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5.3
##### Environment:

Running Ansible on Mac OSX Mavericks managing CentOS 6
##### Summary:

Hello,

It would be cool if the mysql_db and mysql_user modules read the `host` line from ~/.my.cnf similarly to how it currently reads `user` and `password`. This would prevent having to use the 'login_host' parameter when interacting wit

[2014-03-30 11:28] jkeskikangas commented on #5622
@jctanner Does it also merge tags from multiple level of includes?

I'd like to give my role a top-level tag which is inherited to all tasks below and additionally tag individual tasks

[code]

As an end result, I'd like to be able to run playbook either with `base` or `ssh` tag, e.g.,

[code]

[2014-03-30 13:03] ruudk commented on #6744
[code]

[2014-03-30 15:07] kgxsz opened #6763 "ec2_vpc module arguments should be marked required?"
##### Issue Type:

Bug, Docs/behaviour inconsistency
##### Ansible Version:

ansible 1.6 (devel cf434df6a4) last updated 2014/03/26 22:30:10 (GMT +100)
##### Environment:

OSX 10.9.2
##### Summary:

For ec2_vpc module, docs suggest that subnets and route_tables arguments are not required - this is contrary to behaviour
##### Steps To Reproduce:

From localhost with connection local:

[code]
#####

[2014-03-30 15:55] mpdehaan commented on #6756
This is not something we're likely to implement.  You can add conditionals with include_vars, however, but cannot do so for defaults.

[2014-03-30 15:55] #6756 closed, assigned to nobody

[2014-03-30 15:58] mpdehaan commented on #6757
So this seems like a misconception to me.

In the above, you issue a statement to open port 22, and in the command below, it says tcp 22 is allowed.

Ansible is not designed to just only create resources, but is there to get resources to a desired state.

In the example above, you asked for port 22 to be opened up, and then it was opened up.

Perhaps I'm misunderstanding, but I don't view this as

[2014-03-30 16:00] mpdehaan commented on #6760
This very well may be a question about your vagrant configuration -- and the vagrant provisioner is maintained as part of vagrant.

If you can reproduce this without vagrant and doing forwarding, please let us know.

In the meantime, since this is in the "support" category let's move this over to a mailing list.

[2014-03-30 16:00] #6760 closed, assigned to nobody

[2014-03-30 16:01] mpdehaan commented on #6761
Sounds reasonable I guess, feel free to send along a pull request.  As this is not something we're actively going to work on, I'm going to close this ticket but feature additions would be welcomed.

[2014-03-30 16:01] #6761 closed, assigned to nobody

[2014-03-30 16:05] mpdehaan commented on #6763
Will take a look at this, thanks!

[2014-03-30 16:57] jonhattan commented on #6756
In case it helps to change your mind, I have a use case here:
https://github.com/sbitmedia/ansible-fail2ban/tree/master/defaults

I'd like to provide defaults set upstream by the SO.

[2014-03-30 17:08] lemonlatte opened #6764 "virt - get_xml failed when the remote user is not root."
##### Issue Type:

Bug
##### Ansible Version:

1.5.3
##### Environment:

OSX 10.9
Remote OS: Ubuntu 12.04
##### Summary:

`get_xml` function of `virt` module is not working.

I think the problem is that the default uri of user other than root is `qemu:///session`.
[libvirt.openReadOnly(None)](https://github.com/ansible/ansible/blob/devel/library/cloud/virt#L364)

Is it proper to use `self.__get_co

[2014-03-30 17:21] Jmainguy commented on #6214
The reason it is failing is because it uses the database name to connect with initially, so if it doesn't exist, it cant work.

That being said the code could be changed to connect to to db=mysql in the event of state=import and database does not exist. If this seems like a good idea I can take a stab at adding it in.

[2014-03-30 17:26] Jmainguy opened #6765 "Bug report: mysql_db does not fail when using import and bz2 or gz"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6

Bug was introduced https://github.com/ansible/ansible/pull/4307
##### Environment:

N/A applies to all
##### Summary:

When using state=import, and the target= ends with .bz2 or .gz, it will succeed even when the bunzip2 or gunzip command fails. If the target does not exist, it succeeds. If the target exists but is not actually a z

[2014-03-30 17:41] Jmainguy commented on #6765
See bug fix above. It does not change dump it all, only import. I can alter the code to use the same kind of logic for dump if that is deemed beneficial.

[2014-03-30 18:41] wu-lee commented on #4359
Understood.  However I find I usually _do_ need at least vars, tasks, and templates, frequently meta, handlers and files too.  A role with only one or two of these is a rarity.

[2014-03-30 19:37] mpdehaan commented on #6764
Given the URI is a parameter have you tried qemu:///session ?

[2014-03-30 19:42] mpdehaan commented on #6765
Thanks for this, given there is the other pull request ticket talking about this one, I'm going to close this ticket to keep the database organized.

I commented a bit about a slight tweak to the above code in your pull request but otherwise this looks pretty good to me.

Thank you!

[2014-03-30 19:42] #6765 closed, assigned to nobody

[2014-03-30 20:19] clconway commented on #6757
The failure is that the firewall rule is applied to the wrong network! I suppose the real fault is with the GCE API, which puts firewall rules into a project namespace so that network-a and network-b can't both have a rule named "my-fw". But there's also a flaw in the gce_net abstraction, which treats fwname as an incidental attribute of the network such that "network-b exists with no firewall rul

[2014-03-30 21:08] joshuaconner commented on #6744
I'm not able to replicate this on a test machine (you can see my playbook and output here: https://gist.github.com/joshuaconner/1b1fe742087d77fcaadb).

Could you post the output from `docker ps -a` also?

[2014-03-30 23:27] jdauphant commented on #6389
Hi @mpdehaan,

I think this issue is different from #6385 .
It maybe link to the fact that @jimi-c have change the way of retreiving file by url in some module to introduce cert validation.
https://github.com/ansible/ansible/commit/9730157525c8cd539c2f657f40c34b73bb189e44#diff-20

The bug is still present in 1.5.3 .

[2014-03-30 23:38] jdauphant commented on #6389
This line exactly : https://github.com/ansible/ansible/commit/9730157525c8cd539c2f657f40c34b73bb189e44#diff-1c0cf6cc5a1cf1bb47db3812f9a734b7L136

[2014-03-31 00:59] lemonlatte commented on #6764
Yes. I have tried both

`ansible -m virt -a "command=get_xml name=docker_tes uri=qemu:///session" -i hosts vm2`

and

`ansible -m virt -a "command=get_xml name=docker_tes uri=qemu:///system" -i hosts vm2`

It still not work. `uri` parameter does not pass to get_xml function.

[2014-03-31 01:22] #6731 closed, assigned to nobody

[2014-03-31 01:24] jimi-c commented on #6389
@jdauphant it appears to be fixed in devel though, which is why we've closed it.

[2014-03-31 07:28] ruudk commented on #6744
I cleared all my docker images and docker containers and tried again and it worked. So I guess it was a docker thingy.

Thanks for checking this out @joshuaconner!

[2014-03-31 07:28] #6744 closed, assigned to nobody

[2014-03-31 09:09] harrisongu opened #6771 "ec2 inventory script should replace "-" in tagged groups with "_" (edited)"
Hi Guys,

I ran into a issue that I'd like to get the first of host name from "groups", but seems ansible don't support "-"(strike) in variable calls,  e.g.

[code]

I ran this task will get the below of errors:
fatal: [xxxxx] => One or more undefined variables: 'test' is undefined

if I change the group name to mytest in inventory file and using the below of ansible action is OK,

[code]

Any tho

[2014-03-31 10:49] alozovskoy opened #6772 "Non-english unicode characters in shell environment does not work"
##### Issue Type: Bug Report
##### Ansible Version: ansible 1.6
##### Environment: Debian 7.1
##### Summary:

Hello!

I try use a non-english unicode characters f.e. in shell environment  and modules of ansible does not work. I even can't get shell environment if it contains variable with non-english characters.

Also i can't use unicode characters in debug module - non-english characters print as

[2014-03-31 11:00] chikamichi opened #6773 "Allow ansible-galaxy to "git init" roles"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.6 (devel f82ac9f8e9) last updated 2014/03/22 17:11:12 (GMT +200)
##### Environment:

Linux **\* 3.5.0-47-generic #71-Ubuntu SMP Wed Feb 19 00:00:07 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux
##### Summary:

I don't know where to provide feedback about `ansible-galaxy`, an issue might be inappropriate: feel free to move/remove.

When in

[2014-03-31 12:53] sheldonh commented on #2254
I get this from the git module, even with an absolute path.

[2014-03-31 13:20] trantor commented on #6742
Save the contents of this gist
https://gist.githubusercontent.com/trantor/9891925/raw/a6206b53c65b0bbf817b2ec44ca32a9f1fe37daf/testfile
as /tmp/testfile on a target machine

Then run «grep TEST /tmp/testfile» as argument to the shell command.
It should output the first line of the line, instead it outputs nothing.

[2014-03-31 13:25] alozovskoy commented on #6742
It outputs nothing because Ansible didn't work with non-english characters in unicode. I also discovered this bug in https://github.com/ansible/ansible/issues/6772

[2014-03-31 13:35] mpdehaan commented on #6773
I'd consider pull requests for something like this.

[2014-03-31 13:35] #6773 closed, assigned to nobody

[2014-03-31 13:39] mpdehaan commented on #6771
"-" is not valid in variable names, this is true -- it's not valid in Python either.

Can I ask if you are using a dynamic inventory script such as ec2.py?  If so, perhaps this should be handled by replacing "-" with "_" in the group names.

[2014-03-31 13:41] mpdehaan commented on #6772
The correct way in Ansible to set environment variables is like this:
- shell: foo
   environment:
       asdf: bar
       jkl: baz

Or even:
- shell: foo
   environment: dictionary_variable

Any "export" statements won't stick between tasks.

If you experience problems with this syntax, let me know, and we can work on it.

[2014-03-31 13:41] #6772 closed, assigned to nobody

[2014-03-31 13:47] trantor commented on #6742
By non-english I assume you mean characters outside the ASCII range? My problem is with non-unicode characters in the standard output of commands executed remotely.

[2014-03-31 13:48] alozovskoy commented on #6772
I wont set environment variables, i want to get a variable with non-english characters. Also, how i can print non-english characters in debug module out?

[2014-03-31 14:30] danieljaouen commented on #6750
Additionally, it seems like the repos are updated correctly before Ansible errors out, as a second run returns no errors (or changes).

[2014-03-31 14:32] harrisongu commented on #6771
Yeah, we're using ec2.py. We already have 200+ EC2 instances name as that, and some instances in prod. This cannot be achieved for us. )-:

[2014-03-31 14:37] harrisongu commented on #6771
Btw, we're using some prefix for instance and group names, e.g.
instance name:  mongodb-dev-01
the corresponding groups name: mongodb-dev

[2014-03-31 14:49] sivel commented on #6771
Try using the following instead:

[code]

[2014-03-31 15:08] lc3t35 opened #6776 "ERROR: Failure: ImportError (No module named passlib.hash)"
##### Issue Type:

“Documentation Report”
##### Ansible Version:

ansible 1.6 (devel 51727e81ac) last updated 2014/03/31 16:47:56 (GMT +200)
##### Environment:

OS X 10.8.5
Python 2.7.2
##### Summary:

Please summarize your request in this space.  You will earn bonus points for being succinct, but please add enough detail so we can understand the request.
##### Steps To Reproduce:

When i run "mak

[2014-03-31 15:53] chikamichi commented on #6773
Good to know. Thank you for your feedback!

[2014-03-31 16:19] harrisongu commented on #6771
Yeah, it works. Thanks mpdehaan and sivel.

[2014-03-31 16:26] #5307 closed, assigned to nobody

[2014-03-31 16:28] jctanner commented on #5307
@BrianAI this should be fixed in devel by 2492c2714a8dfe5dc8de083580a5dcafd61ddb47

The relative basedir will be the inventory filepath or roles/foo/files in the case of role tasks. This is the same pattern we put in the assemble action plugin as well.

[2014-03-31 17:15] joshuaconner commented on #6744
You're welcome - feel free to update here (post your `docker ps -a` output) if you run into it again.

[2014-03-31 18:10] jimi-c commented on #6648
The above PR has been merged in, so closing this. Thanks!

[2014-03-31 18:10] #6648 closed, assigned to nobody

[2014-03-31 18:20] joshuaconner opened #6778 "[rax] it'd be nice if the module returned info about servers that are already running, in addition to info about the servers it starts"
##### Issue Type:

Bug report
##### Ansible Version:

ansible 1.6 (devel efba8b4771) last updated 2014/03/31 10:51:21 (GMT -700)
##### Environment:

Running from OSX 10.9
##### Summary:

Basically if you run the `rax` module with the `exact_count` option set to `yes`, the module will only return info about servers it has started. It would be nice if, in addition to that, it returned info about all

[2014-03-31 18:22] joshuaconner commented on #6778
(cc @sivel, who I think has done most of the work on this module and was super helpful in helping me to get it working with our OpenStack install, though this particular issue isn't OpenStack-specific)

[2014-03-31 18:26] sivel commented on #6778
This will refactoring to work. Currently, existing servers don't get passed into the 'create' function, only a list of names of servers to create and the details required to create them.

Due to this only newly created instances are available.

I'll look into making these changes.  However, you might want to look into using the rax.py inventory script if you are not already using it.  The inventor

[2014-03-31 18:33] bmcsheehy commented on #6778
Speaking of the rax.py inventory script. It would be nice if the inventory script returned host data for systems in Gen1, NextGen / Perf Tier. As of now it appears to exclude anything in Gen1.

[2014-03-31 18:34] joshuaconner commented on #6778
@bmcsheehy Open an issue about it? :)

[2014-03-31 18:36] bmcsheehy commented on #6778
Will do :)

[2014-03-31 18:38] #6657 closed, assigned to nobody

[2014-03-31 18:39] jimi-c commented on #6657
The above patch should resolve the issue, and will be included in the next release. If you continue having problems regarding this issue or if you have any other questions regarding this, please let us know. Thanks!

[2014-03-31 18:43] bmcsheehy opened #6779 "[rax] rax.py inventory script not returning any Gen1 data"
##### Issue Type:

Feature Idea
##### Ansible Version:

1.5
##### Environment:

N/A
##### Summary:

It appears the rax.py inventory module excludes data for any systems that are hosted within the Gen1 cloud at Rackspace. For users who have systems deployed across different cloud tiers at rax (Gen1, NextGen, Perf), it precludes them from treating the rax.py inventory script response as the authorit

[2014-03-31 18:48] sivel commented on #6779
This is not something we will be working on.  First Gen, ultimately has an EOL in the not too distant future.  No currently maintained SDKs are designed to manage First Gen resources.

Additionally, all rax modules in ansible are designed to operate against OpenStack clouds, specifically in most cases the Rackspace Public Cloud Next Gen and performance tiers.

All scripts in the plugins directory

[2014-03-31 18:54] bmcsheehy commented on #6779
Thanks for that info. We'll fork / mod the inventory script to suit our needs. Thanks.

[2014-03-31 18:54] #6779 closed, assigned to nobody

[2014-03-31 19:10] mpdehaan commented on #6776
Yep, agree we should tweak the docs about this.

[2014-03-31 20:31] #6677 closed, assigned to nobody

[2014-03-31 20:32] jimi-c commented on #6677
The above patch fixes the issue you're seeing, and will be included in the next release. If you continue having any problems related to this issue, or if you have any further questions, please let us know. Thanks!

[2014-03-31 20:49] #6398 closed, assigned to nobody

[2014-03-31 21:15] evanccnyc opened #6780 "ec2: unsupported parameter for module: source_dest_check"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.3
##### Environment:

N/A.
##### Summary:

No matter what I do with the "source_dest_check" parameter in ec2, it fails outputting:

##### Steps To Reproduce:

Use code attached below, run it and get results

[code]
##### Expected Results:

source_dest_check is turned off on the ec2 instance
##### Actual Results:

Error message with the foll

[2014-03-31 22:23] jdauphant commented on #6389
@jimi-c You have right, it's corrected in the devel. Thanks.

[2014-03-31 23:58] mpdehaan commented on #6778
It would be better if you can submit a pull request.

Hint, hint.

[2014-03-31 23:59] mpdehaan commented on #6780
This was added in 1.5, any chance you are pointed at an older module library directory?

[2014-04-01 00:01] joshuaconner commented on #6778
As @sivel noted, it's a pretty significant refactor of the module to get it to show existing servers, and I didn't want to step on any toes. I'm happy to work on it if nobody's opposed!

[2014-04-01 00:12] evanccnyc commented on #6780
I have been upgrading via pip. How would I check that?

[2014-04-01 00:45] sivel commented on #6778
I did work on this a little earlier today, I just didn't have time to post back.  Work thus far can be found at https://github.com/sivel/ansible/compare/rax-untouched

I'm a little on the fence about how things are handled when servers are deleted.  When you are adding more, it seems OK to include them in the `instances` key, but when deleting, it seems strange.

With the above branch, when you de

[2014-04-01 00:51] maltfield opened #6781 "max_fail_percentage=99 still aborts after 50% failure"
Rolling Update is aborting after one of two hosts fails to update (50% failure rate) even though I set max_fail_percentage to abort after 99% failure rate.

[code]

Result seen above:
1. execute on first host and receive failure with exit code = 1
2. calculate 1 out of 2 host updates failed = 50% failure
3. Exit

Expected result:
1. execute on the first host and receive failure with exit code = 1

[2014-04-01 01:02] sivel commented on #6781
I do believe based on the documentation that max_fail_percentage applies to the percentage of failures within a serial specification.

So with serial: 1 and max_fail_percentage: 99, a single host failure exceeds 99%.

[2014-04-01 01:02] colstrom opened #6782 "Inconsistent Results (shell module vs shell command on server)"
Directly on the server.
# /usr/bin/gem install redmon

Results in the following gems installed, starting from none installed.

activesupport (3.2.17)
daemons (1.1.9)
eventmachine (1.0.3)
haml (4.1.0.beta.1)
hiredis (0.4.5)
i18n (0.6.9)
mixlib-cli (1.4.0)
multi_json (1.9.2)
rack (1.5.2)
rack-protection (1.5.2)
redis (3.0.7)
redmon (0.0.9)
sinatra (1.4.4)
thin (1.5.1)
tilt (1.4.1)

via Ansible, the

[2014-04-01 01:14] brandonhilkert opened #6783 "Can't add machine to EC2 LB"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.3
##### Environment:

Ubuntu 13.10
##### Summary:

New EC2 machines cannot be added to EC2 load balancers without producing an error.
##### Steps To Reproduce:

Attempt to add a new EC2 server to an existing LB.
##### Expected Results:

The server is added to the Load balancer.
##### Actual Results:

[code]

[2014-04-01 02:13] joshuaconner commented on #6778
That is awesome!

One way to maybe get around the weirdness on delete would be to add some more keys to the `results` dict: for `running` and `stopped` instances or something? You seem to have a solid handle on it though.

[2014-04-01 02:49] maxamillion opened #6784 "Update to 1.5.3 on Fedora 20 broke Fedora20->RHEL6 connection"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Running Ansible from Fedora 20, managing RHEL6
##### Summary:

When using a Fedora 20 control machine to configure a RHEL6 host with ansible version 1.5.3, a playbook that previously worked no longer works claiming it is unable to connect to the remote host.

Playbook in question is hosted here: https://github.

[2014-04-01 04:23] jimi-c commented on #6724
This appears to be a duplicate of #6677, and was fixed by 612a1a64f07e8724c08f8b438d5297b58fd8821d. If you continue having problems regarding this issue, or if you have any further questions, please let us know. Thanks!

[2014-04-01 04:23] #6724 closed, assigned to nobody

[2014-04-01 07:57] sp3c73r2038 opened #6789 "git module hangs in vagrant shared folder"
##### Issue Type:

"Bug Report"
##### Ansible Version:

ansible 1.6 (devel 57acf104c6) last updated 2014/04/01 10:46:13 (GMT +800)

devel branch, fetched directly from this repo.
##### Environment:
- host: (Gentoo) Linux
- vagrant guest: ubuntu precise 12.04 x86
- vagrant version: 1.4.3
##### Summary:

git module hangs when dest target is set to vagrant shared folder like `/vagrant/something`
####

[2014-04-01 08:22] yuanl opened #6790 "unarchive fail on certain server."
##### Issue Type:

“Bug Report”
##### Ansible Version:

ansible 1.6 (master 1b3f77fafd) last updated 2014/03/30 19:39:04 (GMT +800)
##### Environment:

host: ubuntu 12.04 python: 2.7.3
guests: ubuntu 12.04.4 python: 2.7.3
##### Summary:

This is a same task on different remote servers. fail happen on v1.4.5 successors. one server success and one fail.
##### Steps To Reproduce:

part of tasks/main.

[2014-04-01 11:36] jcassee opened #6792 "SSL certificate verification error with datadog_event service"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Ubuntu 12.04
##### Summary:

The `datadog_event` module fails with a certificate validation error.
##### Steps To Reproduce:

Run the following playbook:

[code]
##### Expected Results:

An event is created in Datadog,
##### Actual Results:

[code]
##### Notes:

Maybe related to #6474 and #6412.

The server at

[2014-04-01 13:18] mistaka0s opened #6797 "mysql_db dumps and imports fails when using a complex password."
Pull Request #6796 fixes a bug which causes the mysql_db module to fail with a '1045: Access Denied' error when using a complex password - anything that pipes.quote will quote

[2014-04-01 13:19] #6797 closed, assigned to nobody

[2014-04-01 13:38] follower opened #6799 "publicly_accessible flag is not available when creating an RDS database"
##### Issue Type:

Feature Idea / Bug Report / Documentation Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

N/A
##### Summary:

`publicly_accessible` flag should be available when creating an RDS database.
##### Steps To Reproduce:

[code]
##### Expected Results:

Database would be created with no public access.
##### Actual Results:

Flag not supported so database has public acc

[2014-04-01 14:31] boscoMW commented on #4890
I'm still getting this error.
ansible-playbook 1.5.3
boto==2.27.0
what is the solution for this?

[2014-04-01 14:33] mpdehaan commented on #6789
You may want to consider accept_hostkey=yes as it's probably waiting on a hostkey.   Can you let us know if that helps solve the problem?

If you can reproduce this outside of vagrant with accept_hostkey=yes, that would be useful info.

[2014-04-01 14:35] mpdehaan commented on #6783
Please see this comment over here about the development branch - this seems to be a duplicate.

https://github.com/ansible/ansible/issues/6543

If you can reproduce this on the development branch, please reopen this ticket.

Thanks!

[2014-04-01 14:38] mpdehaan commented on #6782
Ansible doesn't load your local environment by design so if you have some particular ruby configuration you may want to look into the "environment" keyword.

Otherwise, the shell command is otherwise fine and there's no black magic intercepting your Ruby command.

I would take a look at what you have configured in ~/.bashrc and ~/.bash_profile, etc, but Ansible is designed to not trust the user's

[2014-04-01 14:38] #6782 closed, assigned to nobody

[2014-04-01 14:40] sivel commented on #6778
I think the approach I am going to take is that `instances` will only contain servers that are:
1. successfully created during the run
2. servers matching the group
3. servers that were not just deleted

So when servers are deleted, they will not show up in `instances`, they will only be available via `success`, `timeout` or `error` in such a case.

There is also a slight behavior change with crea

[2014-04-01 14:41] mpdehaan commented on #6781
This is correct, set serial to 2 and it would apply - this is entirely related to whether to configure to the next batch in a rolling update if a batch has a certain percentage of failure.

[2014-04-01 14:41] #6781 closed, assigned to nobody

[2014-04-01 14:48] mpdehaan commented on #6790
Hmm, Is there possibly something else running that might be removing that directory?

It may also be something off with the directory detection.   We can investigate but it would be helpful to know how these are different.

[2014-04-01 15:27] sean-abbott opened #6800 "variable conflict with 'role_name' value"
##### Issue Type:

Bug Report
##### Ansible Version:

1.4.5
1.5.3
##### Environment:

ubuntu 10.04, python 2.6.
Ansible installed via rquillo ppa
Ansible installed via git clone+hacking/setup.env
##### Summary:

double variable usage in play.py, with one clobbering the other
##### Steps To Reproduce:

Relevant roles here:
https://github.com/qkslvrwolf/ansible_roles
stack trace and error descriptio

[2014-04-01 15:29] evanccnyc commented on #6780
I reinstalled ansible from scratch, still seeing the same thing.

[2014-04-01 15:49] mpdehaan commented on #6800
Can you please share a minimal example?

It sounds like you defined a variable named 'role_name', in which case this is reserved, and you shouldn't do this.

I would agree it might be nice that there is a warning about reserved variables, and there's a ticket open about this one.

Let us know.

[2014-04-01 15:51] mpdehaan commented on #6792
We can look, though workaround would be to add validate_certs=no for now.

It may be that certs are more up-to-date in newer Ubuntus and you need to do the update-ca-certs command.

[2014-04-01 15:52] mpdehaan commented on #6784
Hmm, if this were generically true I think we'd get a lot more reports -- this may be an error message down an error path.

Have you tried this on the development branch?

Thanks!

[2014-04-01 15:54] sean-abbott commented on #6800
In play.py (in versions 1.5.3 and 1.4.5):

In version 1.4.5:
430:  for x in tasks:
537:                  for x in data:

In version 1.5.3:
503:  for x in tasks:
590:                  for x in data:

The second x clobbers the first, as it is inside the loop.

This results in a TypeError, because the inner line attempts to reference x as a dictionary, but x has been assigned a a string key from data

[2014-04-01 16:11] jlaska opened #6801 "variable not passed through roles (devel branch)"
##### Issue Type:

Bug Report
##### Ansible Version:

latest devel (including 612a1a64f07e8724c08f8b438d5297b58fd8821d)
##### Environment:

RHEL/CentOS/Ubuntu
##### Summary:

Apologies, I can't figure out a decent title for this issue.  A scenario I use where a variable is passed through a role, and then through a dependent role is no longer working as of 612a1a64f07e8724c08f8b438d5297b58fd8821d.

[2014-04-01 17:25] FiloSottile commented on #1476
+1 on this being reopened @mpdehaan

I think it should skip all the remaining play, but not exit the playbook.

[2014-04-01 18:27] colstrom commented on #6782
That's what concerns me. Environment shouldn't affect this, but I don't see what _is_ affecting it. There shouldn't be any environment differences in this scenario.

[2014-04-01 18:40] colstrom commented on #6782
For context, this is using Ruby 2.1.0 on Ubuntu 12.04, not using any rvm or rbenv wrappers or other wackiness.

Using the ruby 2.1.0 backport from https://launchpad.net/~brightbox/+archive/ruby-ng.

[2014-04-01 18:52] sean-abbott commented on #6800
Ok, I took a stab at making a fairly simple example.  You can create an inventory any test machine, and point this playbook at it.

https://github.com/qkslvrwolf/ansible_roles

You'll need ansible_error_test, level_1_role, level_2_role, and l2_includes_role.

Just change the role in the error.yml playbook depending on what you want to try.  The level_1_role works, the level_2_role gives you on err

[2014-04-01 19:12] maxamillion commented on #6784
@mpdehaan - I did try with the development branch, I even explicitly said in the issue report that it works with the development branch and included output showing the version and it working.

[2014-04-01 19:21] jctanner commented on #6789
@aleiphoenix if the accept_hostkey parameter does not work, it would also be helpful to see where in the module code it is hanging. This mailing list post will walk you through that process:

https://groups.google.com/forum/#!msg/ansible-project/JdZWzLeZMmk/93W-42MP9U0J

[2014-04-01 19:28] jasonmader opened #6806 "sysctl module"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel 811553930a) last updated 2014/03/31 13:09:21 (GMT -400)
##### Environment:

SLES 11 SP 3
##### Summary:

Module sysctl makes incorrect changes to sysctl parameters. I've tested it with a single entry depicted below.
##### Steps To Reproduce:

[code]

[code]
##### Expected Results:

[code]
##### Actual Results:

[code]

[code]

[2014-04-01 20:54] simonjgreen opened #6809 "rsync error going from Ubuntu < 14.04 to 14.04"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

Ubuntu 12.04 and Ubuntu 14.04
##### Summary:

Synchronize module does not work going TO Ubuntu 14.04 from anything older than Ubuntu 14.04
##### Steps To Reproduce:

templates/dotfiles contains around 350 files. This does not reproduce when copying, say, 1 file.

simon@ubuntu:~/BuildTools/ansible$ ansible all -m

[2014-04-01 20:58] jimi-c commented on #6784
As discussed on IRC, since this is fixed in devel we're going to go ahead and close this. I'm having a bit of difficulty in pinning down the exact commit that fixed this, but regardless it will be included in the next major release. Thanks!

[2014-04-01 20:58] #6784 closed, assigned to nobody

[2014-04-01 23:49] colstrom commented on #6782
Update: This issue is resolved, and the ticket invalid. As suspected, the error was in my understanding of how ansible was working.

There were some leftover files in /root/.gem from a previous run with user_install not set (and therefore defaulting to yes). I had assumed that to populate ~/.gem for the user ansible was logging in as. I had assumed sudo: True would behave similarly to how it did w

[2014-04-02 01:25] hlieberman opened #6812 "Copy module does not work with directory_mode"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel e2d86e4f43) last updated 2014/04/01 17:56:40 (GMT -400)

Also occurs in
ansible 1.5.3 (master 0c565e56ce) last updated 2014/04/01 21:17:05 (GMT -400)
##### Environment:

N/A
##### Summary:

It seems that the directory_mode functionality does not work in either the latest stable revision (1.5.4) or the tip of the devel branch.

[2014-04-02 02:44] sp3c73r2038 commented on #6789
All right, ansible is just ok.

The issue is after the repo is cloned, I've changed remote url to ssh protocol.

Thanks @jctanner , I run ansible-playbook with `ANSIBLE_KEEP_REMOTE_FILES=1` and get the git module file. trace leads to

[code]

It hangs because there's no ssh key in guest system.

[2014-04-02 02:48] yuanl commented on #6790
found something interesting today. I run this task via ad-Hoc mode. and added more server to the group esnode.

[code]

It turns out that only one server will return successful.

[code]

[2014-04-02 03:04] yuanl commented on #6790
if i unarchived to a 777 /tmp/ directory on the server and run without sudo. it has no problem at all.

[2014-04-02 03:12] jkeskikangas commented on #4854
@jokeyrhyme As a workaround, you can just execute `sudo -iu` as a command:

[code]

@mpdehaan how do you see, could we add `sudo_options: -i`, or `sudo_login: True`? I might be interested in implementing the feature, if seen feasible.

[code]

[2014-04-02 03:15] #6455 closed, assigned to nobody

[2014-04-02 03:37] jctanner commented on #6789
@aleiphoenix are you checkout out the repo and changing the url within your playbook? accept_hostkey would solve the "Are you sure you want to ..." error.

[2014-04-02 03:47] sp3c73r2038 commented on #6789
@jctanner No, I changed the remote url by hand, not in playbook. I almost forget that. :(

In my case , `known_hosts` is just fine :) `accept_hostkey=yes` works as expected.

But as far as I've got no ssh key on guest system, fetching source code won't work (with the ssh url). So It's not ansible but my fault.

Thanks for the debugging tip.

I guess this issue is resolved and should be closed. Tha

[2014-04-02 08:43] jonhattan commented on #6756
For the record, finally I managed to implement a pattern to provide default values per OS.
https://github.com/sbitmedia/ansible-fail2ban/commit/70a6b594a3d8e6789119751f675cfd593b6f2a3e

[2014-04-02 08:52] mshenhera opened #6813 "apt_key module page inconstancy."
##### Issue Type:

“Documentation Report”
##### Ansible Version:

1.5.4
##### Environment:

Ubuntu 12.04
##### Summary:

apt_key module page (http://docs.ansible.com/apt_key_module.html) refers to keyserver parameter. However it is not implemented in current stable branch (1.5.x). It would be great to notice on the page that such parameter was added in 1.6.
##### Steps To Reproduce:

Write apt_key

[2014-04-02 09:43] mgcrea commented on #6447
@jctanner still not working for me:

[code]

[code]

I'm using macports SSH on latest mavericks (not sure if it can have an impact

[code]

---

Edit: just found out that `v1.5.4` does not appear to have the fix. However it was release 12h ago?

[2014-04-02 12:29] mpdehaan commented on #6809
See http://rsync.samba.org/issues.html and search for io.c

Ultimately I'm not sure this is our ticket since the system is calling out to rsync.

[2014-04-02 12:35] #6783 closed, assigned to nobody

[2014-04-02 12:39] #6789 closed, assigned to nobody

[2014-04-02 12:50] mpdehaan commented on #6813
BTW, docs for Ansible are contained in the docsite directory of the source if you ever want to submit a pull request.  The source for the docs however is in the "library" directory, so hop into "library/packaging/apt_key" and you can add a "version_added" attribute.

If you don't want to do this though we can take care of it, just pointing it out in case you were interested in making other contrib

[2014-04-02 13:06] markotitel opened #6816 "mysql_user module, problem with "priv" option"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

Ubuntu 13.04
##### Summary:

mysql_user "priv" option does not work as expected when provided with subelements.
##### Steps To Reproduce:

Create a list:

[code]

Simple task to grant privileges to db.

[code]
##### Expected Results:

Expected results should show all databases  when logged in as mysql user that those

[2014-04-02 13:23] mpdehaan commented on #6816
Hmm, there is nothing in this module that deals with subelements code at all, subelements just forms up the task line to execute.   If you show output, you should see it looping over each user and the databases within each.

What's really the question here is why the database option didn't do what you expected.  If you broke this out into seperate tasks, not using "with_subelements" I think you'd

[2014-04-02 13:33] markotitel commented on #6816
Ahh I have posted then accidentally deleted comment.

Here is output with -v, and yes it loops over each element:

[code]

I have issued same task with RAW command instead and  get this:

[code]

Interesting thing that task is not CHANGED with raw command but still in mysql I see desired databases.

[2014-04-02 14:14] pachi opened #6817 "UnicodeEncodeError Exception when task name has accented chars"
##### Issue Type: Bug Report
##### Ansible Version: 1.5.4
##### Environment: Ubuntu 13.10
##### Summary:

When I use accented chars in task names in a playbook I get an UnicodeEncodeError Exception and ansible stops processing the playbook.
If I remove accented chars the playbook works fine.
##### Steps To Reproduce:

Create a playbook with something like:

[code]
##### Expected Results:

Playbook

[2014-04-02 14:17] mattsch commented on #6723
Noticed this is marked as "needs_info", could you clarify what's needed?

[2014-04-02 14:52] mpdehaan commented on #6111
Underlying problems with the "with_items" parsing are addressed in 1.5.4 and the recent devel branch changes.

[2014-04-02 15:11] mpetrive opened #6818 "connection plugin paramiko_ssh should have a scp_if_ssh flag like -c ssh does (edited)"
##### Issue Type: Feature Idea/Bug Report
##### Ansible Version: 1.5.3
##### Environment:

Ansible OS: RHEL 6
Ansible Managed OS: VMWare vCenter Appliance
##### Summary:

When connecting to a host that supports advance SSH features and the paramiko_ssh plugin is chosen (ansible.cfg: transport=smart), the paramiko_ssh plugin assumes that SFTP is available and open on the managed host.  If SFTP is a

[2014-04-02 15:24] drybjed opened #6819 "debconf module: /bin/sh: 1: Syntax error: "(" unexpected"
##### Issue Type:

Bug Report
##### Ansible Version:

Ansible 1.6 (devel)
##### Environment:

Debian
##### Summary:

Debconf module fails when `value=` contains parameter with brackets(edit: parenthesis).
##### Steps To Reproduce:

[code]
##### Expected Results:

Debconf database is correctly configured and then updated with new value. Example result:

[code]
##### Actual Results:

[code]

[2014-04-02 15:26] discordianfish opened #6820 "--ask-vault-pass set but still got: A vault password must be specified to decrypt data"
##### Issue Type:

Bug report
##### Ansible Version:

ansible 1.6 (devel fe88fcb6d2) last updated 2014/04/02 17:33:35 (GMT +200)
##### Environment:

Host running ubuntu saucy, managed systems running ubuntu precise.
##### Summary:

I have 3 files in group_vars/: all, prod and test. They are all encrypted by ansible-vault and using the same password. Everything else is plain text/not encrypted.

I'

[2014-04-02 15:28] josef-spak opened #6821 "lineinfile backrefs broken or incompatible in 1.6"
##### Issue Type:

Bug Report
##### Ansible Version:
- 'ansible 1.6 (devel fe88fcb6d2) last updated 2014/04/02 15:10:06 (GMT +200)'
- compared against current stable: 'ansible 1.5.4'
##### Environment:

Ubuntu 12.04 (both)
##### Summary:

There seems to be no way to use backreferences in the lineinfile module that works in both current stable and devel versions (see above).

Number of backslashes

[2014-04-02 15:33] josef-spak commented on #6821
Additional notes:
- I'm sure it is almost always a better idea to use the template module instead - but this is still broken
- If I try using 'line=\2' incorrectly in 1.6 instead of \1, The CTRL+A in output becomes CTRL+B

[2014-04-02 15:34] mpdehaan commented on #6818
Yeah it's not going to check most likely (would be slower than just trying what you want), but it would be possible to add an option like scp_if_ssh for paramiko, like it already exists for the native SSH connection type ("-c ssh")

[2014-04-02 15:34] josef-spak commented on #5949
I believe #6821 could be related (and a bit clearer)

[2014-04-02 15:35] mpdehaan commented on #6819
Probably should do a pipes.quote somewhere...

[2014-04-02 15:37] mpdehaan commented on #6820
Can you share as much as you can about a minimal setup to reproduce this problem, perhaps in a github gist?

Thanks!

[2014-04-02 15:52] bcoca commented on #6819
yep, I'll add it and send PR tonight

[2014-04-02 16:07] josef-spak commented on #6821
The change seems to originate from 2bfaacd17063ed52ceca53f55861acb7ff655c66 according to git-bisect.  #5679 #6448

[code]

[2014-04-02 17:40] jctanner opened #6822 "decrypting empty files will fail"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

Ubuntu 12.04
##### Summary:

Decrypting an empty file will result in a failure
##### Steps To Reproduce:

[code]

[2014-04-02 17:56] jctanner commented on #6820
@discordianfish I am not able to reproduce this based on your description. I do notice that your task is prefixed by a role name, so could you please show the output from "tree ." in your playbook directory?

[2014-04-02 17:58] carnesen commented on #2097
I'm looking for an extract module too. Could you please say a few more words about how the git module can be used for extract / archive?

[2014-04-02 18:36] gundalow commented on #6819
I hit a similar issue with a value with ';' in it, should we be using something closer to this:

[code]

[2014-04-02 18:54] febeling commented on #2097
@chrisarnesen Something like this works quite well for me and is idempotent:

[code]

[2014-04-02 19:55] discordianfish commented on #6820
@jctanner Here is the tree output with the role in question. And a small correction: I have also two host_vars/ files that are encrypted and part of the 'prod' group.

@mpdehaan I'll try to come up with a minimal example if I find time tomorrow.

[code]

[2014-04-02 20:00] gundalow commented on #6819
Fixed by https://github.com/ansible/ansible/pull/6826
I'll put together some non-destructive integration tests for this module

[2014-04-02 20:03] #6700 closed, assigned to nobody

[2014-04-02 20:03] jimi-c commented on #6700
The above patch should resolve this issue, and will be included in the next major release. If you continue seeing problems related to this issue, or if you have any further questions, please let us know. Thanks!

[2014-04-02 20:09] jimi-c commented on #6694
Since the above patch was merged in, we're going to go ahead and close this. If you continue having problems related to this issue, or if you have any further questions, please let us know. Thanks!

[2014-04-02 20:09] #6694 closed, assigned to nobody

[2014-04-02 20:14] #6819 closed, assigned to nobody

[2014-04-02 20:16] drybjed commented on #6819
Works great, thanks!

[2014-04-02 20:22] jimi-c commented on #6806
Looks like 0e8c7b1c broke this.

[2014-04-02 20:26] #6806 closed, assigned to nobody

[2014-04-02 20:27] jimi-c commented on #6806
The above patch should fix the issue for you, and will be included in the next major release. If you continue seeing problems related to this issue, or if you have any further questions, please let us know. Thanks!

[2014-04-02 20:52] #6822 closed, assigned to nobody

[2014-04-02 21:15] #6800 closed, assigned to jimi-c

[2014-04-02 21:18] mpdehaan commented on #6813
Fixed, thanks!

[2014-04-02 21:18] #6813 closed, assigned to nobody

[2014-04-02 21:18] mpdehaan commented on #6813
(Will appear in the next docs push)

[2014-04-02 21:19] jimi-c commented on #6800
The above patch should fix this issue, and will be included in the next major release. If you continue to have any problems regarding this issue, please let us know.

Regarding the "for item in items" issue, it does appear that the loop will only ever execute once, so could probably be removed. If you'd like to open a separate issue for that, please feel free to do so.

Thanks!

[2014-04-02 21:25] jimi-c commented on #6817
I am unable to reproduce this, and have tested all the way back to version 1.3.0.

You note the environment as Ubuntu 13.10, but is that the OS of the system running ansible, or that of the system being managed? What is the python version of the system on which you're running anisble?

[2014-04-02 21:29] mpdehaan commented on #6776
Added to testing/README.md.

Thanks!

[2014-04-02 21:29] #6776 closed, assigned to nobody

[2014-04-02 21:41] wu-lee opened #6827 "lookup('file') plug in appears not to work as advertised?"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible-playbook 1.6 (devel 0981e405d6) last updated 2014/04/02 22:28:58 (GMT +100)
##### Environment:

Ubuntu 12.04
##### Summary:

The lookup('file') plugin seems not to get evaluated.  No errors, just the raw expression appears in results.
##### Steps To Reproduce:

I've test case here: https://github.com/wu-lee/test-playbooks/tree/lookup-bu

[2014-04-02 21:56] wu-lee commented on #6827
Ah, found the stupid mistake.  Missing parentheses.  Test case updated, output is now what I expected.

Can stricter warnings be enabled?

[2014-04-02 21:57] #6827 closed, assigned to nobody

[2014-04-03 00:04] dmourati opened #6832 "facts can't be used in vars_files paths"
##### Issue Type:

What kind of ticket is this?  Bug Report
##### Ansible Version:

Please supply the verbatim output from running “ansible --version”.

ansible 1.5.4
##### Environment:

Ubuntu 12.04 directed at localhost
##### Summary:

Facts don't work.
##### Steps To Reproduce:

[code]
##### Actual Results:

[code]
##### Expected Results:

[code]

[2014-04-03 00:15] mpdehaan commented on #6832
Hi,

So, we have run integration tests and such that show facts working in 1.5.4, so I'd suspect a greater degree of pain if facts didn't load at all.  I have in fact confirmed that fact gathering allows me to write a template with a fact variable without problem.

Can you show me the output of "ansible hostname -m setup" on your machine so we can see what facts are present, and also show me the p

[2014-04-03 00:18] mpdehaan commented on #6832
Checking now that facts can be used in vars_files paths...

[2014-04-03 00:20] mpdehaan commented on #6832
This appears to be the issue, i've edited the issue description -- facts seemingly can't be used in vars_files paths.

[2014-04-03 00:20] dmourati commented on #6832
https://gist.github.com/dmourati/b350122f114a80c329dc

[2014-04-03 00:21] mpdehaan commented on #6832
Thanks!

Yep, it's that facts aren't available to template the vars_files paths, so it's not an issue that the distribution was missing.

We're on this.

[2014-04-03 00:22] dmourati commented on #6832
Playbook is above. Thanks for the replies and for getting to the bottom of this. This is an excerpt from: https://github.com/Answers4AWS/netflixoss-ansible

[2014-04-03 00:24] mpdehaan commented on #6832
A workaround for this would be to do the following (testing now):

[code]

Most cases of vars_files can be eliminated by this command now, though it has some differences in regard to scope.

[2014-04-03 00:25] mpdehaan commented on #6832
I've confirmed the above workaround works.

[2014-04-03 00:41] dmourati commented on #6832
Not sure I grok the workaround, I have playbooks that contain roles, and roles that contain tasks via includes. I have no explicit tasks: section anywhere atm.

[2014-04-03 00:43] mpdehaan commented on #6832
Point.

Roles go before free-form tasks, so ... you'd have to do that task in the first role (like a common role) or something like:
- hosts: webservers
  tasks:
  - include_vars: ...
- hosts: webservers
  roles:
  - ...
  - ...

[2014-04-03 00:49] #6801 closed, assigned to jctanner

[2014-04-03 00:49] #6832 closed, assigned to nobody

[2014-04-03 00:50] jimi-c commented on #6832
The above patch should correct the issue, and will be included in the next release. If you continue seeing any problems related to this, or if you have any further questions, please let us know. Thanks!

[2014-04-03 01:07] ggillies opened #6834 "Issue with host group union in inventory when using inventory directories"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

Fedora 20 all updates
##### Summary:

When using an inventory directory that contains multiple files (or a script to generate a dynamic inventory) the ability to select hosts by the union of two host groups works inconsistently
##### Steps To Reproduce:

I have an inventory directory with four files

file1
file

[2014-04-03 02:42] jimi-c commented on #6812
Closing this issue, as the above pull request was merged in. If you continue having problems regarding this issue, or if you have any further questions, please let us know. Thanks!

[2014-04-03 02:42] #6812 closed, assigned to nobody

[2014-04-03 07:45] pachi commented on #6817
The OS running ansible and the system being managed (a VM created using Vagrant) is in both cases Ubuntu 13.10.
The Python version is 2.7.5+ (default on Ubuntu 13.10).

[2014-04-03 09:52] discordianfish commented on #6820
Okay here is a minimal example: http://5pi.de/ansible-issue-6820-playbook.tar.gz
The only encrypted file is group_vars/all and the password is `foobar23` (but the only content is the 'ansible_ssh_user: ops'.
If you remove one of the hosts from `ansible_hosts` it works again _shrug_. Here is a tree output if it helps:

[code]

[2014-04-03 10:02] eproxus commented on #6550
Downgraded to 1.5.0 but now I get `fatal: [server] => AES256 cipher could not be found` when using Vault files. This means our playbooks are now incompatible with 1.5.0 because of the vault error, and with 1.5.1+ because of the pipe errors. Any solutions for this?

[2014-04-03 10:44] ramondelafuente commented on #6550
@eproxus If you don't mind hacking the source untill the fix is released, this is the actual change: https://github.com/ansible/ansible/commit/49807877fa4e69f6047efa4f7885a3d454a9d6eb

In the file _lib/ansible/runner/lookup_plugins/pipe.py_ on line _35_

p = subprocess.Popen(term, cwd=self.basedir, **shell=False**, stdin=subprocess.PIPE, stdout=subprocess.PIPE)

Change to:

p = subprocess.Popen(te

[2014-04-03 11:02] jorgenschaefer opened #6840 "synchronize action should maybe force the connection for hosts named localhost (edited title)"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel 317c2f4bc0) last updated 2014/04/03 12:41:29 (GMT +200)
##### Environment:

openSUSE 12.2 (x86_64)
##### Summary:

Using the synchronize action while deploying to a VM listening on localhost confuses ansible as it tries to unnecessarily delegate to localhost, and also forgets to clear the port.
##### Steps To Reproduce:

I'm

[2014-04-03 11:22] mpdehaan commented on #6834
So just to be clear --list-host doesn't take an option, Ansible normally is written as

ansible <hostname> -m module -a args [--flags]

Though this shouldn't change the question.

The problem above is that you are keeping things in different inventories -- file1, file2, file3, file4.

To select the different inventory file instead of "-i inventory", you need to do "-i file4" to select the america

[2014-04-03 11:37] jimi-c commented on #6817
I've tried both remote and local with 13.10, and still can't reproduce this using the string you posted above. My test playbook:

<pre>
---
- hosts: all
  gather_facts: yes
  tasks:
  - name: Creación de usuario sisgen
    shell: echo "I am on $(hostname -s)"
</pre>

produces:

<pre>
# ansible --version
ansible 1.5.4 (release1.5.4 f1f63829ef) last updated 2014/04/03 07:29:20 (GMT -400)
# ansible-p

[2014-04-03 11:37] mpdehaan commented on #6840
Thanks this is an interesting case.

In this case localhost isn't implicitly managed by a local connection and you have told it that the way to reach localhost is 2222.

Sounds like you might be using Vagrant, BTW, which often can be confusing with synchronize due to the way Vagrant works.   Shelling out to local_action: rsync ... can often be easier.   Usually with Vagrant inventory I would expec

[2014-04-03 11:48] jorgenschaefer commented on #6840
Just to clarify: I did not mean to suggest commenting out this piece of code, it was just an attempt to show what makes the problem go away to make it easier to identify. Sorry for being unclear.

I am not using vagrant, but a qemu setup using some self-written scripts.

Using a different alias and setting `ansible_ssh_host` does work, though. Thank you!

The second suggested solution using `ansib

[2014-04-03 11:50] pachi commented on #6817
I've tried to reproduce it, and I made a bad assumption about the simplest case to trigger the problem. I happens that the bug only shows when the string has template variables, such as in:

[code]

In other cases I can use accented chars without problem.

Now I've noticed that the traceback fails after working with the ansible/utils/template.py module, so maybe that's where the problem is.

[code

[2014-04-03 12:55] mpdehaan commented on #6840
Most people using VMs would be connecting to them on their bridged or NAT'd address versus localhost and a port, so I don't think this is appropriate for a docs thing.

We'll take a look regardless.

[2014-04-03 13:29] jctanner commented on #6840
@jorgenschaefer "set_remote_user" has also been added as a parameter to the synchronize module. This should give you the ability to prevent the user@ prefix on the remote url.

[2014-04-03 13:42] jorgenschaefer commented on #6840
@jctanner, this is not related to the remote URL at all (I think that one's actually completely correct).

The synchronize action in my scenario figures it needs to execute rsync using delegation, so instead of simply running `rsync …`, it tries to ssh to localhost so it can run the rsync there. The ssh there fails, so rsync is not even run.

[2014-04-03 14:32] jimi-c commented on #6817
Ahh yes, that helps, I'll look into that.

[2014-04-03 14:38] jimi-c commented on #6817
It appears that @jctanner fixed this issue a few weeks ago with ad70e9bcd633e9c088d912d81ef97d56c696e62a, so I'm going to go ahead and close this. This fix will be included in the next major release. If you have any further questions regarding this, please let us know. Thanks!

[2014-04-03 14:38] #6817 closed, assigned to jimi-c

[2014-04-03 14:44] pachi commented on #6817
Very nice, thanks a lot for your help!

[2014-04-03 15:02] alozovskoy opened #6842 "Issue with printing unicode characters"
##### Issue Type: Bug Report
##### Ansible Version: ansible 1.6
##### Environment: Debian 7.1
##### Summary:

Ansible doesn't print non-english characters
##### Steps To Reproduce:

[code]
##### Expected Results:

No one characters is print on stdout.
##### Actual Results:

I want to seen results of echo commands. Print this symbols in my host worked well.

[code]

[2014-04-03 15:32] sethwoodworth opened #6843 "Template docs should be more clear about importing file options"
[template docs](https://github.com/ansible/ansible/blob/devel/library/files/template)

The documentation for template mentions you can use the options from file. It does so as the middle of five options.  I think this is unclear.  Here are a few suggestions for making this more clear.  I'm happy to implement any of them, but I want some guidance for which would be acceptable:
1. Move the notice ab

[2014-04-03 16:02] #6088 closed, assigned to jctanner

[2014-04-03 16:03] jctanner commented on #6088
@guiniol this should be resolved in devel, thanks!

[2014-04-03 16:52] mpdehaan commented on #6843
Thanks!  We agree!

So we have a pending pull request from the great @sivel that will allow module docs to reuse snippets -- it's on my list to get merged in soon.  When we do that, each module will contain the full list of arguments that it takes -- which will resolve things via option 2.

I'm going to close this given #6154

[2014-04-03 16:52] #6843 closed, assigned to nobody

[2014-04-03 17:17] dirtyharrycallahan opened #6844 "Recent cron documentation commit contradicts implementation"
##### Issue Type:

Bug Report
##### Ansible Version:

development
##### Environment:

N/A
##### Summary:

commit 79c245f31f49a181067fc74eb1195ed76a3bf3f0 a cron documentation change appears to be incorrect.  It does not look like name is required by the module.
##### Steps To Reproduce:

code review
##### Expected Results:

documentation matches implementation
##### Actual Results:

documentation

[2014-04-03 17:22] sethwoodworth commented on #6843
Super awesome!  I will continue to add docs as I run into issues :D

[2014-04-03 17:36] brian-brazil opened #6845 "Error when using a module that doesn't support check mode, a register and changed_when/failed_when dependent on the register"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible --version: ansible 1.6

This is a recent build from head.
##### Environment:

Ubuntu 12.04.
##### Summary:

When you run in check mode, modules that don't support check mode won't fill their register. However changed_when (and failed_when) still evaluate their conditions. So if you have a changed_when that references the register of it'

[2014-04-03 17:53] #6454 closed, assigned to jctanner

[2014-04-03 17:54] jctanner commented on #6454
[code]

[2014-04-03 18:31] jctanner commented on #6750
Reproduced the error with a local connection.

[2014-04-03 18:35] jctanner commented on #6750
Confirmed that removing '--remote' from line 391 in the module resolves the error.

If I expose the stderr, it looks like --remote is not a proper flag for submodules:

[code]

[2014-04-03 19:22] #6750 closed, assigned to jctanner

[2014-04-03 19:22] jctanner commented on #6750
@danieljaouen This should be fixed for you. If not, then you should get a more informative error message at least.

[2014-04-03 19:32] danieljaouen commented on #6750
A brief test shows that this is working as expected now.

Thanks!

[2014-04-03 20:02] mpdehaan commented on #6845
I'd be ok with check mode having special code for changed_when here, a general when, not so much.

Thanks for the heads up.

[2014-04-03 20:07] guiniol commented on #6088
Thanks, I'll try it out as soon as I can.
My only issue now is: how do I reliably discover who I am running as?

[2014-04-03 20:30] #6842 closed, assigned to nobody

[2014-04-03 20:31] jimi-c commented on #6842
The above commit should resolve the issue for you, and will be included in the next major release. If you continue seeing any problems related to this issue, or if you have any further questions, please let us know. Thanks!

[2014-04-03 21:14] srgvg commented on #6834
@mpdehaan I don't understand your logic saying
"The problem above is that you are keeping things in different inventories -- file1, file2, file3, file4."

This is a use case for `ansible.inventory.InventoryDir()`, so I see no reason why @ggillies should target a specific inventory file within that directory.

I tested @ggillies inventory myself, and got the same result for `australia:&devel`: "No

[2014-04-03 21:34] jimi-c commented on #6353
The above commit was merged, so this issue should be resolved. If you continue seeing any problems related to this issue, or if you have any further questions, let us know. Thanks!

[2014-04-03 21:34] #6353 closed, assigned to nobody

[2014-04-03 21:37] ggillies commented on #6834
@mpdehaan thanks for taking a look. I understand --list-hosts takes no argument, but you still need to specify the host pattern to use ansible on, which is what the last argument is

[code]

As for your question, I'm a little confused, if I point it to specific files in the inventory directory, it works or doesn't work how I would expect, I understand that. My confusion is that I thought that if I

[2014-04-03 21:58] mpdehaan commented on #6834
Ah, inventory dirs.  This changes things.  Fair enough.

[2014-04-03 22:03] mpdehaan commented on #6844
You're right, someone didn't notice the last example in EXAMPLES.

Fixed it, and will appear in next docs push correct.

Thanks!

[2014-04-03 22:03] #6844 closed, assigned to nobody

[2014-04-04 00:59] chernesk opened #6851 "ansible-playbook: /usr/bin/python: can't open file No such file or directory (needs info)"
##### Issue Type:

Bug Report
##### Ansible Version:

Ansible v1.5.4., but on my host machine, I tested with 1.3, 1.4 and 1.5
##### Environment:

Running from Mac OS Mavericks, but have also tried it on Ubuntu 12.04LTS

Managing: Ubuntu 12.04LTS
##### Summary:

I am manging about six hosts with the same playbook. I'm using the "best practices"layout. Four of the six hosts are just fine and everyth

[2014-04-04 06:39] alozovskoy commented on #6842
Thanks a lot, it works very well (i used dev branch)!!

[code]

[2014-04-04 08:28] vbyndych commented on #6582
I have same issue on ubuntu 12.04 but with ansible 1.5.4

[2014-04-04 09:12] oppianmatt commented on #5317
can we possible have a ansible_managed_last_change or something similar that only puts the tag in if the contents has changed? I want to see who changed the file last on the server and I don't want to restart services if the file hasn't actually changed. It should be idempotent, but with that header in the file it isn't, but that header is useful for seeing who ran it last and when.

[2014-04-04 09:13] johanmeiring commented on #6820
I picked up the same problem this morning.  It almost exactly matches @discordianfish's issue.  The pattern that I've identified is that using hostvars in a template does not work properly when at least one group_vars file is encrypted.

Here is my template loop:

[code]

One of my files in group_vars/ is encrypted.  If I unencrypt the file, everything works perfectly.

[2014-04-04 09:39] sebastienalbert opened #6853 "[Ansible : 1.5.3] - notify list of handlers as variables"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3 (release1.5.3 157b783521) last updated 2014/03/27 15:54:18 (GMT +200)
##### Environment:

CentOS 6
##### Summary:

When I initialize a variable of type list "tmcAdmin_Update_Notify" ansible the action that triggers the notification causes an error:

ERROR: change handler (['handler_1', 'handler_2']) is not defined

What is the syn

[2014-04-04 10:00] oppianmatt opened #6854 "user groups option always triggers changed"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

Managing Ubuntu 12.04
##### Summary:

For the user module, if the groups option is specified, it always triggers "changed" even if the group list doesn't change.
##### Steps To Reproduce:

[code]
##### Expected Results:

[code]
##### Actual Results:

[code]

[2014-04-04 10:10] michel-slm opened #6855 "[1.5.3] deprecation warning when using group_var in when: clause"
I define the following group_var for hosts detected to belong to the RedHat OS family:

[code]

When attempting to use this to install the correct version of epel-release, thus:

[code]

I get a deprecation warning

[code]

Is this a bug, or is there a better way of doing the test? I tried using `el5 is defined and {{ el5 }}` but still gets that deprecation warning

[2014-04-04 10:17] srgvg commented on #6855
The problem lies in
`el5: "'$ansible_distribution_version'.startswith('5.')"`

the $var notation is deprecated, you have to use {{ }}
that would make it something like:
`el5: "{{ ansible_distribution_version.startswith('5.') }}"`

[2014-04-04 10:31] michel-slm commented on #6855
Meant to close the bug report after discovering the fix myself - apologies. It is indeed due to the definition of `el5` in `group_var`

[2014-04-04 10:31] #6855 closed, assigned to nobody

[2014-04-04 11:05] rasputnik opened #6857 "get_url 'url' parameter should be marked required"
##### Issue Type:

Bug Report
##### Ansible Version:

:$ ansible --version

[code]
##### Environment:

:$ vagrant ssh mslave1 -c 'cat /etc/redhat-release; python --version'

[code]
##### Summary:

I fat finger get_url to have a src= field rather than a url= field.
Rather than a usage error, i got a python stack trace (see below).
##### Steps To Reproduce:

:$ cat bug.hosts

[code]

:$ cat bug.yml

[2014-04-04 11:22] discordianfish commented on #6820
@mpdehaan / @jctanner Could we raise the severity? This makes ansible-vault completely useless.

[2014-04-04 12:04] sivel commented on #6853
Duplicate of #6755

[2014-04-04 12:29] sivel commented on #6857
I see 2 things here:
1. `src` is not the correct attribute to use for specifying the URL.  The correct attribute is `url`.
2. For some reason `AnsibleModule` isn't reporting that `src` is an invalid attribute.

[2014-04-04 12:52] rasputnik commented on #6857
Thanks, have updated title to reflect pilot error.

[2014-04-04 12:57] sebastienalbert commented on #6853
It's great

[2014-04-04 12:57] #6853 closed, assigned to nobody

[2014-04-04 13:37] xshadow commented on #6704
On ansible 1.5.4 it's still the same issue

[2014-04-04 13:42] jctanner commented on #6820
Reproduced via the tarball files. Debugging now.

[2014-04-04 14:07] hansbaer opened #6860 "mysql connection error message"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.4.4 (but it's also in the latest version)
##### Environment:

Ubuntu 13.10
##### Summary:

When a mysql connection database fails due to a non-standard socket file path, the error message does not hint that this could be the cause.
##### Steps To Reproduce:

Happens on any MySQL server host where the socket file is not in /var/lib/m

[2014-04-04 14:34] bcoca commented on #6704
I believe you are somehow using a old version of the library, left behind from some previous install

[2014-04-04 14:47] mpdehaan commented on #6851
This sounds like a permissions problem on your remote host or they don't have a configured homedir rather than a bug to me.  This is going to take some debugging on your end, but you should fiddle with remote temp paths and look around.

I assume you had the same problem with previous versions?

[2014-04-04 14:51] mpdehaan commented on #6857
@sivel, src is accepted because it supports the common arguments of the file module, of which this is one.

This seems ridiculously easy to fix just by adding "url" to the argument_spec as a required argument.

[2014-04-04 14:55] xshadow commented on #6704
bcoca, thank you that was indeed the trick.

I did a sudo pip uninstall ansible && sudo pip install ansible

and now it works. Thanks for your help

[2014-04-04 14:55] #6704 closed, assigned to nobody

[2014-04-04 14:57] mpdehaan commented on #6860
Thanks for this ticket.

Just to be clear, when you say "latest version", did you mean 1.5.4?

Also, if you would like to submit a pull request, amending the message seems like it would be easy.  Just wanted to point that out if you felt like it.

Thanks!

[2014-04-04 15:03] chernesk commented on #6851
I'll do that. I've looked at permissions, but I'll mess around with the remote temp paths.

Yes, I went back and installed 1.3, up through devel and it's the same problem. Just didn't know where to start because the .ansible directory is there and accessible and writeable by the user, but was getting this on two hosts only.

The unconfigured homedir sounds like a good place to start.

Thank you! A

[2014-04-04 16:28] sivel commented on #6857
Just as a heads up, and I think making `url` required is a good idea, that a change may need to happen in both, `ec2_facts` and `nexmo` which use url_argument_spec and don't require a 'url' attribute to function.

[2014-04-04 17:06] #6820 closed, assigned to nobody

[2014-04-04 17:07] jctanner commented on #6820
@discordianfish and @johanmeiring this should be fixed in devel now. Please let me know otherwise.

[2014-04-04 17:43] sivel commented on #5401
I've just opened a pull request for this issue at #6862

[2014-04-04 19:56] discordianfish commented on #6820
Now I'm getting: `{'msg': "One or more undefined variables: 'dict object' has no attribute 'ansible_ssh_host'", 'failed': True}` although not sure if related. Will check tomorrow.

[2014-04-04 20:06] jctanner commented on #6820
@discordianfish the only change i made to the files in your tarball were to the inventory file:

[code]

And the result is ...

[code]

[2014-04-04 20:23] twidi commented on #6820
I had this problem a few days ago, trying to get vars from a host for which facts were not yet read.

To resolve this, i added a pretask to gather facts for all hosts

[2014-04-04 20:36] #6857 closed, assigned to nobody

[2014-04-04 22:18] hansbaer commented on #6860
Yes, I just looked up the most recent state here in the repository to check if the message has changed since the version I used.

I have just submitted a pull request. Changing one line in each of the mysql modules will do the trick.

Thanks for your reply!

[2014-04-05 09:25] hajmos commented on #3564
for ubuntu :
sudo apt-get install sshpass

[2014-04-05 09:49] muffl0n commented on #6854
Does "group" contain the "usergroup"? E.g. group "testuser" for user "testuser". I experienced the same some days ago. It seems like the module does not check for the existence of the groups the right way.

[2014-04-05 22:24] alimony opened #6868 "Add option to wipe authorized_keys before adding to it"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.6 (devel 264b58f3ef) last updated 2014/04/05 23:36:30 (GMT +200)
##### Environment:

N/A
##### Summary:

It would be nice with an option in the `authorized_key` module to exclude everything from the `authorized_keys` file except what has been specified as `state=present` in the task. The use case is that you give access to a bunch o

[2014-04-06 01:18] sayap commented on #4619
I believe this was already fixed in a8f95435. Prior to a8f95435, line 199 is `img = ec2.get_image(image_id)`. In 214b0b0, it has already been moved to line 204, so the error that dpeterka encountered didn't come from 214b0b0.

In my opinion, d6b912c makes the code a bit more confusing by using the same `wait_timeout` to deal with EC2's eventual consistency model. We should always have some loop to

[2014-04-06 15:08] mpdehaan commented on #6868
Ansible doesn't keep track of what resources are in the file or are not, because of the way it works.

Thus, if you want to do this I highly recommend just keeping the authorized keys file in the repo and using the "copy" commmand to place it.

Stop by the user's list if you would like to discuss more.

Thanks!

[2014-04-06 15:08] #6868 closed, assigned to nobody

[2014-04-06 18:02] jkeskikangas opened #6874 "Harmonizing default search path for copy command"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5.3
##### Environment:

Running from OS X, managing Ubuntu precise64
##### Summary:

I recently wrote a role [ansible-rbenv](https://github.com/leonidas/ansible-rbenv). The role provides default `.gemrc` and copies it to the target host. I'd like enable users to override it by providing their version in `playbook/files/.gemrc`
#####

[2014-04-06 19:14] andreasf opened #6875 "ini_file module changes all option names to lower case"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3, same in HEAD
##### Environment:

N/A
##### Summary:

ConfigParser by default changes all option names to lower case. This can make the ini file invalid for case-sensitive applications, e.g. XDG .desktop files.

While ConfigParser seems to be a bad choice for ini_file in general (see other issues) and probably should be swapped ou

[2014-04-06 19:38] carnesen commented on #2097
Easy enough. Works like a charm, thanks!

[2014-04-07 00:25] noriordan commented on #5942
I had the same issue so I raised

https://github.com/ansible/ansible/pull/6877

Hopefully that will solve this issue.

[2014-04-07 10:17] trantor commented on #6742
News?

[2014-04-07 10:55] alozovskoy commented on #6742
Check this: https://github.com/ansible/ansible/issues/6842. I think that this issue must resolved you problem.

[2014-04-07 11:31] stinos commented on #5908
I am using

[code]

and have the same problem - not sure if there's a syntax error though, cosing bracket is in place?

_edit_ ok the syntax error is probably that one cannot use nested variables

[2014-04-07 11:47] trantor commented on #6742
Thanks @alozovskoy and @jimi-c .
To @mpdehaan : I can confirm that the fix for #6842 also fixes issue #6742.

[2014-04-07 11:47] #6742 closed, assigned to nobody

[2014-04-07 12:16] discordianfish commented on #6820
@jctanner Never mind, this was unrelated (a "host" in my ansible_hosts had really no ansible_ssh_host), so all good!

[2014-04-07 12:27] leseb opened #6879 "Bug Report: playbook variable with VLAN-ed interfaces"
##### Issue Type:

Bug Report
##### Ansible Version:

Ansible version: ansible 1.6 (devel 51727e81ac) last updated 2014/03/31 16:52:09 (GMT +200)
##### Environment:

nvironement:
Distributor ID: Debian
Description:    Debian GNU/Linux 7.4 (wheezy)
Release:    7.4
Codename:   wheezy
Kernel: 3.10-0.bpo.2-amd64
##### Summary:

While trying to apply a variable into a playbook it didn't work. The varia

[2014-04-07 13:21] jimi-c commented on #5401
This has been resolved by the above merge, and will be included in the next major release. If you continue experiencing any problems related to this issue, or if you have any further questions please let us know. Thanks!

[2014-04-07 13:21] #5401 closed, assigned to nobody

[2014-04-07 14:15] FiloSottile opened #6881 "lineinfile should detect missing EOF newline"
##### Issue Type:

Bug Report
##### Ansible Version:

`ansible 1.5.3`
##### Environment:

Linux
##### Summary:

When lineinfile adds a line at the end of a file, it should detect if the last character of the file is not a `\n`, and add it in case.
##### Steps To Reproduce:

[code]
##### Expected Results:

[code]
##### Actual Results:

[code]

[2014-04-07 14:34] 0x46616c6b opened #6882 "yml inheritance in variable files"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

N/A
##### Summary:

I have a huge role for all my webservers and their hosted sites. The variables for each vhosts are stored as a associative array. For the default values I created a list of key-value pairs. These default options are used in every single vhost config and only the settings I need to overwrite

[2014-04-07 14:51] #6845 closed, assigned to nobody

[2014-04-07 14:56] #6821 closed, assigned to jimi-c

[2014-04-07 14:57] jimi-c commented on #6821
I've gone ahead and reverted the above commit, due to the fact that when using the decode() call things like `\1` are interpretted as an octal escape sequence, so we can't really use that function effectively there. Thanks!

[2014-04-07 15:01] ifraixedes opened #6884 "docker module doesn't support volume access rights"
##### Issue Type:

"Feature Idea” and “Documentation Report”
##### Ansible Version:

ansible 1.6 (devel 8d3e22ccc4) last updated 2014/04/01 17:31:20 (GMT +100)
##### Environment:

Linux Ubuntu server 13.10 x64
##### Summary:

I've realised that docker module doesn't support the access rights specification.

Although without specify them works properly mapping them as rw, it is quite confusing how

[2014-04-07 15:03] jimi-c commented on #5679
I've re-opened this due to the revert above, which was breaking other things (specifically backrefs).

[2014-04-07 15:41] jctanner commented on #6780
@evanccopengeo please download this gist file, execute it and paste the output into a comment:

https://gist.github.com/jctanner/10022471

[2014-04-07 15:48] evanccnyc commented on #6780
Here is the output from the command:

[code]

[2014-04-07 16:17] jirutka commented on #5679
@jimi-c Could you please open a new issue and describe the problem, with examples if possible? I can’t understand what’s wrong from your comment, but it seems that it’s not about the problem described in this issue.

[2014-04-07 16:42] jctanner commented on #6780
@evanccopengeo it looks like you have the right file for 1.5.3. The problem seems to be that the "source_dest_check" parameter was merged in on March 11th by 5d4980459ff02f604b0931a235209e744e08992f which was after the 1.5.0 release. All 1.5.x releases afterwards have been critical bugfixes and security updates, so this particular parameter has never existed in 1.5.x. I will update the docstrings

[2014-04-07 16:44] #6780 closed, assigned to nobody

[2014-04-07 16:50] timurb opened #6885 "Can't install package with wildcard version via apt"
##### Issue Type:

Bug Report
##### Ansible Version:

admin@monitoring:~/ansible$ ansible --version
ansible 1.5 (devel 27fb0576ad) last updated 2014/02/02 23:09:41 (GMT +400)

(It looks like it is not yet fixed in HEAD also: https://github.com/ansible/ansible/blob/devel/library/packaging/apt#L233-L235)
##### Environment:

N/A
##### Summary:

When using `apt` module when you specify wildcard in ver

[2014-04-07 17:08] jimi-c commented on #5679
The issue is that when using decode(), things like `\1` are interpreted as octal escape sequences, causing things like the ^A in the output from #6821. We will use this issue to track the original problem, which was '\n' not being interpreted as newlines.

[2014-04-07 17:27] jirutka commented on #5679
I understand it now. So you’ve “solved” the issue #6821, without providing any test (!), by reverting the bugfix #6448 (along with a test)? Are you serious? Do you know what is testing about, especially regression testing?

[2014-04-07 17:38] mpdehaan commented on #6884
Something you'd like to work on, perhaps?

[2014-04-07 17:41] mpdehaan commented on #6882
So this is just coming from the YAML parser, so doing things in YAML format that require data in other files is not going to be a thing.

In other words, each individual file must still be valid YAML.

[2014-04-07 17:41] #6882 closed, assigned to nobody

[2014-04-07 17:42] mpdehaan commented on #6881
This ticket seems to be rather that it didn't add the line, not that it had left off a \n.

Can you confirm the intent of this bug report?  Thanks!

[2014-04-07 17:44] mpdehaan commented on #6879
Because of the dot here you will have to access the interface name through the "hostvars" datastructure, such as

{{ hostvars[inventory_hostname]["ansible_bond1.2108"].ipv4.address }}

This is because the "." is part of a variable name when it should not be.  So I'm making this ticket about replacing "." with "_" in the interface names.

[2014-04-07 17:44] 0x46616c6b commented on #6882
Of course it comes from the parser, but the problem is, that the reference ti `vhosts_defaults` is in another file (all.yml) and their must be merged before i can extends from it. For this I wish it is possible to do so (reference from another file upper in hierarchy).

[2014-04-07 17:49] jimi-c commented on #5679
I reverted your commit because it broke things in a very bad way (inserting control characters instead of a backref in a file is a very serious side-effect), and completely broke lineinfile function from 1.5.x->1.6. Obviously we want to fix the original issue, and when we do so we will have tests for both situations to ensure _neither_ use-case is broken.

[2014-04-07 17:52] mpdehaan commented on #6874
So it sounds like you'd like a directory like "default_files" that might be searched after "files" or something.

This is something we are unlikely to implement.

Rather, a better way to do this would be to ship a "x.cfg.example" and indicate the user should copy this over before using the role.

[2014-04-07 17:52] #6874 closed, assigned to nobody

[2014-04-07 18:18] jimi-c commented on #5679
I believe this patch will fix the issue, though it does work up to only 3 escapes (since python look-behinds must be a fixed-length): https://gist.github.com/jimi-c/79998638bfc48cc95338 (edited, github did not like that regex).

[2014-04-07 18:28] FiloSottile commented on #6881
Please focus on the `ClientAliveInterval 15` line, the rest is for context.

As you can see it's there in both Expected and Actual, but in Expected it's concatenated to the last line.

[2014-04-07 18:57] chernesk commented on #6851
Thanks for taking the time to discuss this with me, Michael.

Turns out my issue was AppArmor related for some of the policies we have. After changing users and having no luck, I changed the user to something totally different and unique and then searched across all of our logs and saw the denial.

Again, appreciate your time.

[2014-04-07 18:57] #6851 closed, assigned to nobody

[2014-04-07 19:21] kiranos opened #6886 "[Debconf module] ability to use "debconf-set-selections file/with/preseeds""
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5.4
##### Environment:

Debian 7
##### Summary:

I'm investigating to use ansible and look through some of the core modules to find out what I have to write for myself.

I've sumbled on the debconf module. In the examples at http://docs.ansible.com/debconf_module.html I dont see to apply a preseed file

What I have today is a bash s

[2014-04-07 19:32] bcoca commented on #6886
you can probably use with_file: with the current debconf module, but it
currently does not have the feature built in (though I do plan to add it).

[2014-04-07 19:35] mpdehaan commented on #6886
FYI:

The apt module already passes non-interactivity parameters so you don't have to do this manually by setting anything up with debconf.  As such, if you are doing this to install packages, it's not required.

For running the rest of the debconf commands, it would take either multiple tasks or you could use the 'shell' command to just run the command you have above.

Pull requests to allow it t

[2014-04-07 19:35] #6886 closed, assigned to nobody

[2014-04-07 19:36] mpdehaan commented on #6886
FYI, in the future, the users list, ansible-project@googlegroups.com, is a great place to ask questions!

[2014-04-07 19:45] kiranos commented on #6886
@bcoca thanks, I'll use the command module until debconf has file support, when it does I'd love to test it out, phpmyadmin has a huge list of options so it really makes it easier if a preseed file could parse them all in one go.

@mpdehaan great I'll keep the mailinglist in mind.

[2014-04-07 19:48] jkeskikangas commented on #6874
Yap, I was looking for something like `default_files`. Thanks for the quick resolution. I'd prefer roles to be usable by default (and overridable without editing the role itself), but I understand the decision. Just for the reference, Chef implements file/template precedence like this [1]:
1. files/fqnd/foo.config
2. (Ansible could add group precendence here)
3. files/platform-version/foo.config
4

[2014-04-07 20:19] leseb commented on #6879
Thanks for the quick response Michael. Your solution works like a charm.
Thanks for the fix too.

[2014-04-07 21:12] mpdehaan commented on #6879
We can leave this one open I think -- it should be possible to replace the
"." with "_" in the code for the future.

(edit: we've done this before for other similar bits, like "-" in a fact)

[2014-04-07 21:30] leseb commented on #6879
Ok sure :)

[2014-04-07 21:36] ifraixedes commented on #6884
I may try to make the change, but I am not able in the following days. Whenever I find a gap of time I will try.

[2014-04-08 00:00] infernix commented on #5317
'''
-# Ansible managed: /home/infernix/ansible-playbooks/cluster/roles/ferm/templates/ferm.conf modified on 2014-04-08 01:21:00 by infernix on believe
+# Ansible managed: /home/infernix/ansible-playbooks/cluster/roles/ferm/templates/ferm.conf modified on 2014-04-08 01:05:50 by infernix on xps
'''

A diff like this that is triggering service restarts because of handlers is bad.

I understand that t

[2014-04-08 00:08] ralovely opened #6887 "Inconsistency in Template module return value"
Hi.

I experience a bug (or at least a very annoying inconsistency) with the template module.
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.2
##### Environment:

MacOSX 10.9.2
##### Summary:

The Template module returns a 'dest' key when changed, but a 'path' key when not changed.
##### Steps To Reproduce:
1. Create a basic template task.
2. Run the task
3. Run it a second time
##### E

[2014-04-08 01:53] axelson commented on #4853
@jimi-c can you point to the documentation for using variables in the handler name? I'm completely unable to find it anywhere.

[2014-04-08 08:17] kiranos opened #6888 "Debian 7 mkpasswd instructions are not correct for generating the crypted password"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

Debian 7
##### Summary:

FAQ: How do I generate crypted passwords for the user module?

[code]

This doesnt work in Debian7 the generated crypt password doesnt allow login.

Instead remove the need for set the user's password to be crypted and instead use chpasswd. It Will remove some confusion how to encrypt t

[2014-04-08 12:43] hdra commented on #963
Sorry for bringing up an old thread, but may I know whats the status of this?

I am currently having a problem with the mysql_user module with ansible v.1.5.3.

Basically I am trying to change the mysql root password like whats discussed in this SO thread: http://stackoverflow.com/questions/16444306/ansible-idempotent-mysql-installation-playbook

But it seems like ansible keeps trying to create a

[2014-04-08 13:00] softzilla commented on #6884
Pull request: #6890

[2014-04-08 13:21] stinos opened #6891 "Gathering facts fails if a cifs mount is present on the remote machine"
##### Issue Type:

“Bug Report”
##### Ansible Version:

ansible 1.6
##### Environment:

Debian 7
##### Summary:

The setup script hangs on gathering mount facts when a cifs drive is mounted
##### Steps To Reproduce:

mount a windows share with these options in fstab:

[code]
##### Expected Results:

ansible should probably skip unreadable mounts
##### Actual Results:

the _get_mount_facts_ functio

[2014-04-08 14:48] mpdehaan commented on #6887
This is because it's using the file module being called under the covers in some cases, we can't remove any existing returns for backwards compatibility reasons, really -- at least, we need to carefully consider the implications of doing so.

That being said, this is probably reasonably minor as the user does know where they are installing the file.

[2014-04-08 14:50] mpdehaan commented on #6888
There may be other ways to fix the problem.  Nevertheless, thank you for the bug report and we'll investigate.

[2014-04-08 14:53] techtonik opened #6893 "Allow non-octalish mode for file"
In Ansible 1.5.3 command like `file: path=/etc/init.d/autorun mode=+x` fails with `msg: mode needs to be something octalish`.

Documentation at http://docs.ansible.com/file_module.html#options says `mode the file or directory should be, such as 0644 as would be fed to chmod` and chmod accepts args such as  `+x`.

[2014-04-08 14:53] mpdehaan commented on #6891
Hmm, I would have expected more reports of this -- we'll investigate.

Thanks!

[2014-04-08 14:56] mpdehaan commented on #6893
There have been pull requests for this before though the underlying code was needlessly complicated and we didn't accept it.

The "such as" refers of course to "octal values as would be fed to chmod".

Anyway, I'm open to some cleaner code additions than previous if you'd like to submit a pull request, though it's unlikely something we're going to actively chase.

[2014-04-08 14:56] #6893 closed, assigned to nobody

[2014-04-08 14:57] ralovely commented on #6887
I register the output of template and use it in other tasks.
Makes it all dry.

One solution would be to have the template module return both path and dest.
Compatible and offers at least a degree of consistency when needed.

Thanks.
Raphael.

[2014-04-08 15:46] time-palominodb commented on #963
Top answer looks good.

##

_Tim Ellis:_ 510-761-6610

On Tue, Apr 8, 2014 at 5:43 AM, Hendra notifications@github.com wrote:

[2014-04-08 16:00] jctanner opened #6894 "AssertionError in module docstrings"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

NA
##### Summary:

The code in https://github.com/ansible/ansible/commit/1fa19e29 is causing parsing errors for template, file, copy and cron modules with ansible-doc -l

[code]
##### Steps To Reproduce:
- ansible-doc -l

[2014-04-08 16:44] kiranos opened #6896 "[CRON module] add support for random minutes/hours."
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5.4
##### Environment:

Debian 7
##### Summary:

Today I use bash to automate simple tasks and would like to go over to ansible

I use this below to get a random minute for my cronjob (so not all mysqldumps begins at the same exact time on my vps servers which share hardware, it would create a pretty big load)

[code]

II would love

[2014-04-08 16:44] jimi-c commented on #5679
@jirutka I have created a pull request containing the above commit, if you'd like to test it before I merge it in. This includes your original test as well, plus one other test for backrefs that were broken before.

[2014-04-08 16:57] jctanner commented on #6894
[code]

[2014-04-08 17:03] kiranos opened #6897 "[USER module] cant create a home folder if path doesnt end with /"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

Debian 7
##### Summary:

the user module cant create a home folder if path doesnt end with /

[code]

and tried locally with useradd:

[code]
##### Steps To Reproduce:

Check that parent folder is missing and run:

ansible test -m user -a "name=johnd home=/home/test1/test2/test"
##### Expected Results:

work li

[2014-04-08 17:20] #6894 closed, assigned to nobody

[2014-04-08 17:29] nathanhruby opened #6898 "1.5.4 changes when extra_vars are bound, breaks conditional roles"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

Ubuntu 12.04
##### Summary:

Overriding vars via -e switch now happens much later in 1.5.4.  This causes pre-defined vars in group_var files to be present during fact gathering, which impacts conditional roles based on those vars, notably if the roles require lookup files that are not on the host (nor should th

[2014-04-08 17:36] jonhattan commented on #5317
So ansible_managed is almost useless...

[2014-04-08 17:45] nathanhruby commented on #6898
sigh, I'm running on a tight deadline so this bug may be misleading....

This bug does happen, but after attempting to simple change our default to fix the conditional roles, the lookup errors in the vars files for the should-not-be-include roles were still being hit.  commenting out the roles in the play made things work.  Perhaps ansible is just trying to parse the vars files found in the roles

[2014-04-08 18:16] brandonhilkert commented on #6783
I haven't check on master, but assume it is it, when can we expect this to be released?

Hopefully it'll be in a future patch...

[2014-04-08 18:31] omgjlk opened #6901 "issue with delegate_to + add_host"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible-playbook 1.6 (devel dfa8aef408) last updated 2014/04/07 17:26:26 (GMT -700)
and
ansible-playbook 1.5.4 (release1.5.4 1184470d39) last updated 2014/04/08 11:29:59 (GMT -700)
##### Environment:

N/A
##### Summary:

Hard to word this right, but I have a playbook setup with a task include file. The included tasks can optionally be delegated

[2014-04-08 18:51] jimi-c commented on #6888
@kiranos what is the `ENCRYPT_METHOD` value set to in your `/etc/login.defs` file?

[2014-04-08 18:59] kiranos commented on #6888
@jimi-c

[code]

[2014-04-08 19:15] jimi-c commented on #6888
@kiranos I believe the issue then would be the fact that you're setting the shell to `/bin/false`. I tested the mkpasswd method on my test debian7 box and did not have any issues.

[2014-04-08 19:20] kiranos commented on #6888
Hi @jimi-c false is just for test, here is a new case:

Its seems like its the import that goes wrong:

created with ansible:

[code]

created with useradd && passwd user

[code]

these two have the same lenght as the root password hash, so the imports from ansible very alot in lenght while the ordinary way of setting passwords has a fixed lenght. (and work)

update test1's password: passwd test1

[2014-04-08 19:21] jimi-c commented on #6888
Failing that, the issue may be due to the fact that you're running the ansible command above with double quotes, but your shell may be interpreting the `$'s` in the password string as variables, so you should wrap the module arguments (-a) in single quotes.

[2014-04-08 19:21] hexsel opened #6903 "ec2_group doesn't accept port ranges"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel 519f1c781c) last updated 2014/04/04 18:07:27 (GMT -700)
##### Environment:

N/A
##### Summary:

When creating groups using [ec2_groups](http://docs.ansible.com/ec2_group_module.html), the rules require "from_port" and "to_port".  These don't allow port ranges to be defined (only exact numeric matches).
##### Steps To Reproduc

[2014-04-08 19:30] jctanner commented on #4883
Based on my understanding of the issue, it seems to not be a problem as of 1.6 ..

[code]

Tried other forms and all passed:

[code]

EDIT:

If I swap out the second var with inventory_hostname, the vars file is not loaded...

[code]

However, there is no FATAL error for a missing filename.

[2014-04-08 19:31] kiranos commented on #6888
@jimi-c thanks! last worked:

[code]

So now I can use this option! but still it would be good if we could remove the need to hash the password, and push the password as is. as described above with "echo test:123456789 | chpasswd " or is there a limitation to this?

Again thanks for quick replies

[2014-04-08 19:33] jimi-c commented on #6888
Generally people do not like the idea of having to enter their passwords in plain text, which is why the module was designed to work with the encrypted value. Glad it was an easy fix!

[2014-04-08 19:33] #6888 closed, assigned to jimi-c

[2014-04-08 19:34] kiranos commented on #6888
ok great thanks!

[2014-04-08 19:49] dospromptman opened #6904 "get_url module does not validate certificates for protocol TLSv1"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

Ubuntu 12.04 LTS

(Linux precise64 3.2.0-23-generic #36-Ubuntu SMP Tue Apr 10 20:39:51 UTC 2012 x86_64 x86_64 x86_64 GNU/Linux)
##### Summary:

When using the get_url module to connect to a host that does not support SSL version ssl.PROTOCOL_SSLv23 but _does_ support ssl.PROTOCOL_TLSv1, then the validation of the

[2014-04-08 20:04] dospromptman commented on #6904
I updated using the template.  Thanks, @ansibot. You're awesome!

[2014-04-08 20:05] KyleJamesWalker commented on #2597
Note: I had the same error when the default python did not support the yum import and fixed by adding the following to my hosts file:

[code]

Source: http://docs.ansible.com/faq.html#how-do-i-handle-python-pathing-not-having-a-python-2-x-in-usr-bin-python-on-a-remote-machine

[2014-04-08 20:21] lorin opened #6905 "Support starting stopped EC2 instances by tag"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5.3
##### Environment:

N/A
##### Summary:

Allow user to start all stopped EC2 instances associated with a particular tag.
##### Steps To Reproduce:

Extend the ec2 module to enable, say, starting all stopped instances tagged with key=Name, Value=ExtraPower

[code]
##### Expected Results:

Any stopped instance with the associated t

[2014-04-08 20:25] #6687 closed, assigned to nobody

[2014-04-08 20:49] jimi-c commented on #6763
@kgxsz could you try the following patch and see if it resolves your issue?

<pre>
diff --git a/library/cloud/ec2_vpc b/library/cloud/ec2_vpc
index 44d207b..1b0d674 100644
--- a/library/cloud/ec2_vpc
+++ b/library/cloud/ec2_vpc
@@ -328,7 +328,7 @@ def create_vpc(module, vpc_conn):

     # Process all subnet properties
-    if not isinstance(subnets, list):
+    if subnets and not isinstance(subnet

[2014-04-08 21:31] jjshoe opened #6908 "Module apt_repository doesn't let you set owner/group/permissions"
##### Issue Type:

Security Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

OSX -> Ubuntu, versions don't matter
##### Summary:

When using apt_repository module you can't specify an owner, a group, or permissions. You also can't specify a file name. The file name is dynamically created off of the contents of the file so you can't easily adjust these values after the fact.

If you

[2014-04-08 22:03] jctanner commented on #4883
@tflink @carsongee @dopry

How are the vars that need to be templated to create the filename being set in each of your cases?
- extra vars on the cli ?
- vars defined in playbook ?
- vars defined in another vars file ?

Are you mixing a standard var with a special var like "inventory_hostname" ?

[2014-04-08 22:46] rothgar opened #6909 "until module is ignored if when module is used in same task"
I'm trying to retry a task when it fails but I only want the task to run if it needs to. I tried with ansible 1.5.2 and 1.6 and both times the following task does not enter the until loop.

[code]

If the test passes or fails the task output is "ok"

[2014-04-08 22:47] hdra commented on #963
Um, no, I realized that. I was asking idempotency of the mysql_user module, since it seems like ansible keeps trying to create a user for root@{{ ansible_hostname }} even though the user already exists.

[2014-04-08 22:56] time-palominodb commented on #963
I suspect the module is still broken. What should happen is it should
"select count(*) from mysq.user where user=root and
host='{{ansible_hostname}}" and if result is >0, then do nothing.

##

_Tim Ellis:_ 510-761-6610

On Tue, Apr 8, 2014 at 3:48 PM, Hendra notifications@github.com wrote:

[2014-04-08 23:17] hdra commented on #963
I see. Is there any chance to get this issue re-opened? I'll see if I can confirm the issue, and if it is, I'll try to work on a fix.

Strange thing is, it works just fine with the localhost, 127.0.0.1 and ::1 host.

[2014-04-08 23:35] time-palominodb commented on #963
I certainly don't object to this issue being reopened, but IIRC the project
maintainers closed it in the first place, and I didn't really care that
much.

These days I do all my DB admin outside Ansible due to momentum probably
started with issues like this.

##

_Tim Ellis:_ 510-761-6610

On Tue, Apr 8, 2014 at 4:17 PM, Hendra notifications@github.com wrote:

[2014-04-09 00:11] astorije opened #6910 "`Please install python-apt package.` when installing a package with `sudo` privilege"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:
- Ubuntu 13.10 on the control machine
- Debian wheezy 7.4 on the remote machine (with no `python-apt` installed)
- Default terminal, default package manager, ssh agent, ... on both machines
##### Summary:

When running a playbook as a non-privileged user, installing a package with `sudo: yes` does not install `python-a

[2014-04-09 00:34] carsongee commented on #4883
I'm using a var from group_vars/all and a passed in var.  Looks something like:

[code]

Where it gets called with

[code]

and secure_dir is in group_vars/all

[2014-04-09 00:46] dopry commented on #4883
In my case the variable is set in group_vars/all

[2014-04-09 07:25] rrix opened #6911 "FirewallD Module Fails with backtrace when firewalld cannot be contacted"
##### Issue Type: Bug Report
##### Ansible Version:

`
{0}% ansible --version                                                             rrix@kusanagi
ansible 1.5
`
##### Environment:

Fedora 20 bastion managing Fedora 20 clients
##### Summary:

At some point I disabled firewalld on one of my hosts to debug an issue. Later down the path, I went and added a firewalld command to my playbook, and a

[2014-04-09 10:13] flyinva opened #6912 "add_host only executed for the first host"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

debian 7.4
##### Summary:

Task `add_host` is only executed on first host from inventory.
##### Steps To Reproduce:

With the playbook `addhost.yml` :

[code]

and inventory file `addhost_inventory`

[code]

Launch `ansible-playbook -i addhost_inventory addhost.yml`
##### Expected Results:

`vm1` and `vm2` shou

[2014-04-09 11:17] gundalow commented on #6886
@kiranos Note the following if you are going to be setting passwords https://github.com/ansible/ansible/pull/6808

[2014-04-09 12:08] mpdehaan commented on #6909
Looks like you have a weird indent error in your YAML above.

We can obviously test to see why that didn't produce an appropriate error for you, but please let us know if the above is correct.

[2014-04-09 12:13] ramondelafuente commented on #5007
For reference, this is exactly what @rtroost2012 experienced here at the office.
His brand new MBP panic'd twice, both times with:

[code]

Both times running ansible-playbook with _-k_, probably also after breaking off the previous run with _ctrl-c_.

(we cannot reproduce it though, and the two crashes where more than two weeks apart with extensive Ansible work being done in the meantime)

[2014-04-09 12:15] mpdehaan commented on #6910
Problem was addressed in this commit:

https://github.com/ansible/ansible/commit/0981488df74b27beaa222e7cd1b1912a920db568

So the next release will have this self-installing again.

[2014-04-09 12:15] #6910 closed, assigned to nobody

[2014-04-09 12:17] mpdehaan commented on #6898
I am having a hard time following the description above, can you provide a minimal playbook that explains the problem you are having?

Also, can you test on the development branch?  Various handling on extra vars has already been tweaked there, so this may be a moot point, but I want to be sure.

Thank you!

[2014-04-09 12:19] mpdehaan commented on #6896
The proposal that has been made in the past is something like {{ foo | random_int }} which I think would be great as a filter to add to core.py.

Is this something you would like to work on?  Previously there was an implementation attempt but it was way too complicated in terms of syntax, and I'd definitely accept a core.py filter looking something like the above.

[2014-04-09 12:23] mpdehaan commented on #6912
The add_host module is something called "bypass host loop" and is intended for use in plays of the form:

[code]

This is because of the way the non-shared memory architecture must work.

If you'd like to set variables in a group, you can use "set_fact"

Another amazing module is group by, so

[code]

This will achieve your purpose above.

In general, "add_host" is for niche provisioning cases onl

[2014-04-09 13:04] akkie opened #6916 "with_nested should also handle lists of hashes"
##### Issue Type:

“Feature Idea”
##### Ansible Version:

ansible 1.5.4
##### Environment:

Ubuntu 14.04
##### Summary:

Currently `with_nested` does only handle lists with scalar values. But it should also handle lists of hashes.
##### Steps To Reproduce:

Consider the following use case:

[code]
##### Expected Results:

The module should create multiple devices for every instance.
##### Actual R

[2014-04-09 13:21] flyinva commented on #6912
Thank's a lot, set_fact seems the right way.

You're explanation about "bypass host loop" modules could appear in the docs to avoid misunderstanding.

[2014-04-09 13:40] astorije commented on #6910
You guys are too efficient :)
Thanks!

[2014-04-09 13:47] rothgar commented on #6909
Indent errors are a result of copy/paste into github. They don't exist in the original playbook.

[2014-04-09 14:08] jjshoe commented on #6908
So what I think should happen to this module:

1) Make use of the common file attributes stuff so owner, group, and mode can be specified.
2) No dest should need to be specified, but the logic in naming the file should change:

2.1) Check for anisble_[md5 of the repo option].list
2.2) Check for the fubar's current implementation of the file name
2.2.1) Make changes if requested
2.2.3) Rename the f

[2014-04-09 14:21] dsoprea opened #6919 "Installation Tutorial Gaps"
##### Issue Type:

“Bug Report”
##### Ansible Version:

1.6
##### Environment:

Ubuntu 13.10, OS X Mavericks 10.9.2
##### Summary:

It seems like the installation tutorial (http://docs.ansible.com/intro_installation.html) misses a few things:
1. There doesn't appear to be a _env-setup_ script if you install via PyPI.
2. I assumed the following statement meant that /etc/ansible/hosts should exist a

[2014-04-09 15:36] kiranos commented on #6896
sorry I'm not a python coder, so cant help with official implementations. but would love to test proposed solution for this above issue.

[2014-04-09 16:14] nathanhruby commented on #6898
Hi,

Sorry for the confusion.  Sure I can get to this this afternoon to evening.

-n

[2014-04-09 17:03] darKoram opened #6922 "quantum_router_interface fails to get subnet by name"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel 70c52625ac) last updated 2014/03/27 14:12:57 (GMT -500)
##### Environment:

MacOS maverics as ansible_controller.
Targeting ubuntu 12.04 openstack controller.
##### Summary:

quantum_router_interface module fails to get subnet by name
##### Steps To Reproduce:

[code]

However, the name is correct and exists.

root@node-8:~#

[2014-04-09 17:59] bcoca commented on #6896
filter added in #6917 should give you that

[2014-04-09 18:31] kiranos opened #6925 "[Package modules] Add a state=facts with status of package if its installed or not."
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5.4
##### Environment:

Debian 7
##### Summary:

Hi I'm using Debian and miss to be able to nicely add conditions which incorporates the state of a package, ie only run a command if a package is not installed. (in my caste debconf commands should only be run if the package is not installed)

Got the idea from: https://github.com/ans

[2014-04-09 20:56] CorbanR opened #6927 "Unarchive bug Ansible 1.5.4 No such file or directory"
##### Issue Type:

“Bug Report”
##### Ansible Version:

ansible 1.5.4 (release1.5.4 f1f63829ef) last updated 2014/04/07 17:09:11 (GMT -600)
##### Environment:

Running Ansible from Mac OSX Mavericks Managing Ubuntu 12.04 LTS
##### Summary:

Works in Ansible 1.5.0, Does NOT work in Ansible 1.5.4
run as sudo
Example: Task

[code]
##### Steps To Reproduce:

Run with sudo permissions the following tas

[2014-04-09 21:31] rothgar opened #6928 "get_url fails when a password is provided in URL"
I have tried on ansible 1.6 (devel 5a075e3b93) and 1.5.4 to run the following playbook task (some details changed/removed)

[code]

The following tasks returns

failed: [tomcat.example.com] => (item={'version': '01', 'app': 'app1'}) => {"dest": "/opt/tomcat/wars/app1.war", "failed": true, "item": {"app": "app1", "version": "01"}, "response": "HTTP Error 401: basic auth failed", "state": "absent",

[2014-04-10 06:43] shirou opened #6929 "template and copy module not supported 'state' param"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

Ubuntu 13.10
##### Summary:

template and copy module produce "msg: unsupported parameter for module: state" if use 'state' param. 'state' param is in the file module and from the document, copy and template module can use file param.
##### Steps To Reproduce:

[code]

both failed.
##### Expected Results:

same

[2014-04-10 08:18] daemonl commented on #6927
+1, I am able to reproduce on Debian, Ansible 1.5.4

[2014-04-10 08:18] psvo opened #6930 "lldp module is not able to represent values for all keys"
##### Issue Type:

Bug Report.
##### Ansible Version:

ansible 1.6 (devel 5ce6c86595) last updated 2014/04/09 10:28:19 (GMT +200)
##### Environment:

Debian Wheezy (but most probably general problem).
##### Summary:

Ansible lldp module is not reporting values of keys, when nested under key with value.
##### Steps To Reproduce:

Example is stripped donw just to show the problem.

Input:

[code]
##

[2014-04-10 09:02] pkit opened #6932 "when changing repo address git module fails"
##### Issue Type:

Bug report
##### Ansible Version:

ansible 1.6 (master c2886e0295) last updated 2014/04/10 11:59:10 (GMT +300)
##### Environment:

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=12.04
DISTRIB_CODENAME=precise
DISTRIB_DESCRIPTION="Ubuntu 12.04.4 LTS"
##### Summary:

when changing repo URL address git module fails to fetch the needed version
##### Steps To Reproduce:

[code]

If I change "foo_

[2014-04-10 11:19] kyprizel opened #6934 "with_fileglob requres full path"
and skips if variable or relative path used.

ansible 1.5.4

[2014-04-10 11:25] psvo opened #6935 "lldp module is not able to parse values with embeded newlines"
##### Issue Type:

Bug Report.
##### Ansible Version:

ansible 1.6 (devel 5ce6c86) last updated 2014/04/09 10:28:19 (GMT +200)
##### Environment:

Debian Wheezy (but most probably general problem).
##### Summary:

Multiline values is not parsed correctly and module fails with ValueError exception.

Problematic value - key contains CRLF newlines:

[code]

At least these switches are affected (has m

[2014-04-10 11:35] psvo commented on #6935
I would provide patch for this but because of issue #6930 API changes is needed for this module so it will be better to fix both issues at once.

[2014-04-10 11:52] sgargan opened #6936 "Substitution issue with extra variables in 1.5.4"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible --version
ansible 1.5.4 (1.5.4 f1f63829ef) last updated 2014/04/09 14:45:27 (GMT +100)
##### Environment:

Managing Ubuntu cluster in aws from Mac OSX
##### Summary:

I'm seeing an issue with variable substitution between versions 1.5.3 and 1.5.4.

I have an include file that I use to create vm instances, create_instance.yml and a playb

[2014-04-10 15:20] goozbach commented on #276
As another datapoint, I'm seeing this on a CentOS 6.3 box never installed anything via pip.

I'm upgrading to 6.5 now to see if it persists.

[2014-04-10 15:23] jctanner commented on #276
@goozbach if so, can you open a new bug please?

[2014-04-10 15:23] goozbach commented on #276
@jctanner butofcourse

[2014-04-10 15:36] kiranos opened #6939 "[user module] allow to create users with duplicate (non-unique) UID"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5.4
##### Environment:

Debian 7
##### Summary:

Ability to use useradd's -o flag "allow to create users with duplicate (non-unique) UID"
##### Steps To Reproduce:

not possible
##### Expected Results:

This is useful if you want to create an ftp account with same permissions as another user but chroot  (with for example proftp's ch

[2014-04-10 16:34] kiranos commented on #6939
non_unique: Optionally when used with the -u option, this option allows to change the user ID to a non-unique value. (added in Ansible 1.1)

[2014-04-10 16:34] #6939 closed, assigned to nobody

[2014-04-10 17:10] goozbach opened #6941 "Pycrypto error PowmInsecureWarning: Not using mpz_powm_sec. You should rebuild using libgmp >= 5 to avoid timing attack vulnerability."
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

Ansible-host: CentOS 6.5
Ansible-client: CentOS 6.5
##### Summary:

This is most likely a bug in pycrypto  but it seems to be related to or the same as #276 or #6190
##### Steps To Reproduce:
1. fresh install of centos 6.5
2. rpm -ivh http://url/to/epel-release
3. yum -y install ansible --enablerepo='epel*'
4. create

[2014-04-10 17:15] goozbach commented on #6941
@ansibot done!

[2014-04-10 17:55] #4883 closed, assigned to nobody

[2014-04-10 18:01] glickbot opened #6942 "add_group breaks out of playbook loop"
If you're using add_host in a task in a playbook on a group of hosts, it will only execute on one host. You'll see "Gathering Facts" for all the hosts, but only one task will execute ( no "skipped" or errors for the others ).

ansible-playbook 1.6 (devel f88c7cd806)

https://gist.github.com/glickbot/0b5122c722948f8c6bb4

[2014-04-10 18:11] sivel commented on #6942
This is the expected behavior, you might want to look at https://github.com/ansible/ansible/issues/6912#issuecomment-39957335

[2014-04-10 18:17] #6942 closed, assigned to nobody

[2014-04-10 18:32] jctanner commented on #6941
Reproduced

[code]

[2014-04-10 18:40] jctanner commented on #6941
I think this is because the new pycrypto26 package in epel is built against the gmp-devel 4.3.x package provided in base:

gmp-devel.x86_64 4.3.1-7.el6_2.2 base

I don't think we can do anything about this from ansible since it's epel who builds the pycrypto package.

[2014-04-10 19:20] jctanner commented on #6919
@dsoprea

1) env-setup is only for running ansible from a git checkout:

http://docs.ansible.com/intro_installation.html#running-from-source

2) The hosts file is your inventory and it must be created. We can not auto-generate this during install as it would be specific to your environment:

http://docs.ansible.com/intro_inventory.html#hosts-and-groups

3) You do not have ansible's lib path in you

[2014-04-10 19:20] #6919 closed, assigned to nobody

[2014-04-10 20:07] #6929 closed, assigned to nobody

[2014-04-10 20:07] jctanner commented on #6929
@shirou  state should be removed the next time we build docs. Thanks!

[2014-04-10 20:09] jctanner commented on #6930
@andyhky is this something you can take a look at?

[2014-04-10 20:12] goozbach commented on #6941
well :poop:! I can't seem to locate an updated version of the gmp-\* packages so a workaround may not be that simple.

[2014-04-10 21:08] goozbach commented on #6941
new package in EPEL (python-crypto2.6-2.6.1-1.el6.x86_64) was built Wed 12 Mar 2014 12:45:15 PM EDT

This (or another recent change) may have enabled/modified fastmath or added the warning. Doesn't look like any way to squelch the message outside of modifying the number.py file mentioned above.

[2014-04-10 21:14] goozbach commented on #6941
I'll close the ticket for now until I can figure out a clean workaround.

[2014-04-10 21:14] #6941 closed, assigned to nobody

[2014-04-10 22:26] alexdunae commented on #4359
+1 on this, if only to make Cmd+T searching in text editors easier.

[2014-04-10 23:15] gplasky commented on #6936
It looks like based on your description this is related to https://github.com/ansible/ansible/issues/6677. A fix has been checked in but doesn't look to have been merged with master yet. It seems we'll have to wait for Ansible 1.6 for this.

[2014-04-11 00:46] jctanner commented on #6901
A workaround:

[code]

Another:

[code]

[2014-04-11 01:01] nicknovitski commented on #6132
Pycurl is required on the node. It sounds like you might have installed it on the control machine instead?

This is what worked for me when I had the identical issue:

[code]

[2014-04-11 01:36] rrix commented on #6784
Hi there, I'm not sure what 'next release' is (major or minor) but in 1.5.4 I am having this issue, as well with Fedora 20=>CentOS6.5

[2014-04-11 02:32] jctanner commented on #6901
@j2sol can you try out this patch?

[code]

[2014-04-11 03:37] jimi-c commented on #6912
I'm going to go ahead and close this as it seems your issue has been resolved. If you'd like to open another issue regarding the documentation feel free. If you have any other questions related to this issue let us know, thanks!

[2014-04-11 03:37] #6912 closed, assigned to nobody

[2014-04-11 03:48] jimi-c commented on #6784
@rrix if we end up doing another minor release (1.5.5) it will be included in that, otherwise it will be included in 1.6.

[2014-04-11 07:20] cmock opened #6946 "setup does not define "ansible_virtualization_role" on Debian/kFreeBSD"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

Ansible host: Debian GNU/Linux 7.4

Managed OS: Debian GNU/kFreeBSD 7.4 with kernel 9.0-2-amd64 running on a physical machine
##### Summary:

The facts "ansible_virtualization_*" are not defined on this platform.
##### Steps To Reproduce:

[code]
##### Expected Results:

[code]
##### Actual Results:

See above.

[2014-04-11 10:29] ruudk opened #6947 "[ansible.cfg] Add vault_password_file option"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5.4
##### Environment:

Ubuntu 14.04
##### Summary:

I'm using vaults and have the password stored inside a vault-password-file. I don't like to add the `--vault-password-file=~/.ansible_vault_password.txt` to it every time I run commands (like `ansible` and `ansible-vault`). Would be great if it would read this setting out of `ansi

[2014-04-11 11:18] rightaway opened #6948 "'Permission denied' error when copying with sudo"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.4
##### Environment:

Ubuntu 13.10
##### Summary:

When I copy a file using sudo, I get a permission denied error. This is a local setup, where I'm setting up my local machine. So the `src` and `dest` files below are both on the same system. I've seen some similar issues reported, and they were asked to see if they own their `~/.ansible` di

[2014-04-11 13:02] jabclab commented on #6881
I've come across this bug too, e.g. default `/etc/ssh/sshd_config` on vanilla Centos 6.5. I want to disable root login via SSH so have this in a playbook:

[code]

The issue is that the config file has no trailing `\n` at `EOF` so we see this:

#### before

[code]

#### after

[code]

[2014-04-11 14:45] jctanner opened #6951 "synchronize munges complex args"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

N/A
##### Summary:

Synchronize's action plugin munges complex args into a string before calling the module. This breaks the ability to pass in a list of options for rysnc_opts in a nice yaml format.

From a quick debug, it appears that the rendered MODULE_ARGS take the form of;

[code]

Splitting that line results in

[2014-04-11 15:23] jctanner commented on #5627
Resolved by https://github.com/ansible/ansible/pull/6702

[2014-04-11 15:23] #5627 closed, assigned to nobody

[2014-04-11 15:31] jctanner commented on #5577
@orkaa you might want to try setting the synchronize task to a local connection, but i think you might be better off using shell: rsync in this case.

As mpdehaan said, synchronize is not currently designed to work with anything besides local/paramiko/ssh connection types.

[2014-04-11 15:31] #5577 closed, assigned to nobody

[2014-04-11 15:39] jctanner commented on #6396
@landtuna the implication of combining local action, command and rsync is that you are attempting to delegate the task to 127.0.0.1 as yourself. That is just how local action is designed. That is also one of the reasons the synchronize module does automatic local delegation, so that it can handle the complexities of what the remote host and username should be.

Please take a look at the synchroniz

[2014-04-11 15:39] #6396 closed, assigned to nobody

[2014-04-11 15:42] neshura opened #6953 "group_by handles jinja filters non-gracefully"
##### Issue Type:

Bug report
##### Ansible Version:

ansible 1.5.3
##### Environment:

control: OSX
management: RHEL5/6
##### Summary:

If you supply a jinja filter in a group_by key, the unexpected result is a dynamic group created with the name as a string literal up to and including the pipe (|) symbol. It would be nice if it either failed in a way that made it clear that filters are not allow

[2014-04-11 16:02] jgornick opened #6955 "Expose roles_path configuration option as variable"
##### Issue Type:

Feature Idea
##### Ansible Version:

1.5.4
##### Environment:

OS X 10.9.2
##### Summary:

Since you can configure the roles path with multiple paths and some roles provide "parameterized includes", it would be nice if the `roles_path` list was available as a variable.

An example might look like:

[code]

[2014-04-11 16:04] jgornick commented on #6955
I've now learned that include + with_\* is deprecated.

There is still an issue though with roles providing parameterized includes and having to find those includes.

[2014-04-11 16:15] jctanner commented on #6840
@jorgenschaefer I think I need to see the ansible-playbook -vvvv output for the task.

Also, did you write the inventory by hand or is it the one vagrant generated?

[2014-04-11 16:19] jgornick commented on #6955
To expand on the "There is still an issue though with roles providing parameterized includes and having to find those includes.", when multiple role paths are provided and you want to load a role parameterized include, you have to explicitly provide the path to the task file.

Just thinking out loud, it might be nice to have something like:

[code]

The `role_include` statement will search through

[2014-04-11 16:53] jorgenschaefer commented on #6840
I created a minimal reproduction setup. Doesn't even need a VM, just an sshd on localhost that listens on two ports. For this case, I allowed root logins to my local host and opened both ports 22 and 2222. (You just need an ssh with two ports on localhost and run ansible as a different user than the configure `ansible_ssh_user`.)

[code]

After this, the following output happens:

[code]

As you c

[2014-04-11 17:00] Mulkave opened #6957 "ImportError: No module named pkg_resources"
##### Issue Type:

“Bug Report”
##### Ansible Version:

ansible 1.5.3
##### Environment:

On a Vagrant box _(Vagrant 1.5.1)_ on **Mac OS X 19.9.2** running **CentOS release 6.5 (Final)** installed with `yum install ansible`
##### Summary:

When running `ansible-playbook -i development development.yml` returns this error:

[code]
##### Steps To Reproduce:

Run `ansible-playbook -i development devel

[2014-04-11 19:10] ktosiek opened #6960 "apt's name argument is not documented"
##### Issue Type:

Documentation Report
##### Ansible Version:

ansible 1.6 (devel b0556ab1fb) last updated 2014/04/12 08:36:16 (GMT +200)
##### Environment:

N/A
##### Summary:

Apt module has no documented "name" argument. Yum module and the recommendations for module development suggest it should.
##### Steps To Reproduce:
##### Expected Results:
##### Actual Results:

[2014-04-11 19:15] pas256 opened #6962 "UnicodeDecodeError: 'utf8' codec when starting fail2ban on Amazon Linux"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.3 but has been there since at least 1.3... just never got around to filing a report
##### Environment:

Playbook is running on Mac OSX - target machine is Amazon Linux
##### Summary:

When I run the following playbook snipped against Amazon Linux, I get one of those -
UnicodeDecodeError: 'utf8' codec tracebacks.
##### Steps To Reproduce:

[

[2014-04-11 19:19] jctanner commented on #6840
@jorgenschaefer thanks, I think that clears it up for me and I have reproduced. Let me see if i can manipulate the action plugin to handle this situation without breaking other usecases.

[2014-04-11 19:19] pas256 commented on #6962
Happy now ansibot? :)

[2014-04-11 19:21] jctanner commented on #6962
@pas256 region and ami-ID ?

[2014-04-11 19:38] jonhattan commented on #6955
@jgornick I think you're asking for two things here:
1. A way to obtain a role's path, in order to reference a task. Something like rolename::taskname.yml that expands to /path/to/role/tasks/taskname.yml
2. A way to allow looping on parameterized includes. include + with_\* is forbidden, but it would be great to have a way to iterate over the same include file with different parameters.

To put an

[2014-04-11 19:44] pas256 commented on #6962
It really doesn't matter... but in my specific case: us-west-2
and amzn-ami-pv-2014.03.0.x86_64-ebs (ami-b8f69f88)

[2014-04-11 19:46] pas256 commented on #6962
It happened on the previous generation of Amazon Linux as well.

[2014-04-11 19:59] jctanner commented on #6840
@jorgenschaefer this patch seems to be working for me without breaking existing tests ...

[code]

I will have to change the assertion that delegate was set in the synchronize unit tests, but that should be fine.

Please try this patch on your machine and let me know if I've fixed the right issue.

[2014-04-11 20:05] jorgenschaefer commented on #6840
This indeed fixes the problem for me. Thank you!

And sorry for not providing a good test case with output right away … I should know better! :-D

[2014-04-11 21:16] devoncrouse opened #6963 "Handler notification for failed plays"
Not sure exactly how this should work, ideally, but I've run into the case a few times where a long play will run, notify a number of handlers, and then fail for whatever reason (e.g. user error configuring a task). At this point, all of the handler notifications are lost. Not that they should still fire after failures... But perhaps the .retry file could be made to store this state?

[2014-04-11 21:56] mjschultz opened #6964 "Bug: elasticache failure with stacktrace"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

Ubuntu 12.04
##### Summary:

I have a playbook that starts by asserting that a (named) elasticache instance exists for my AWS account but it fails when it reaches a line that tries to process the security groups (VPC security groups I believe--mine is not in a VPC).
##### Steps To Reproduce:

Here is the task in

[2014-04-11 21:57] mjschultz commented on #6964
I assume a simple `if self.data['SecurityGroups']:` prior to that would protect against this. Hopefully I can test that out and submit a PR, but there may be a better way.

[2014-04-11 22:18] gerhard commented on #6947
Not sure if this is the best place to post this, but I've put together a quick bash wrapper script around `ansible-vault` that leverages OS X's built-in keychain to store the vault password:

[code]

I have a single ansible_vault password, but it would be trivial to add a password per-file for the more paranoid.

[2014-04-11 22:38] rafaelzimmermann commented on #6098
Did you discovery what was causing the exception?

[2014-04-12 00:10] brandonhilkert commented on #6783
@mpdehaan @jctanner Can someone speak when this (https://github.com/ansible/ansible/issues/6543) might be released?

It's been since November that I was able to add any server to a load balancer. After I put work in to help sorting it out pre-1.5, I was bummed to find it broken again in 1.5. Sort of cramps devops on EC2 with that ability.

[2014-04-12 07:05] sgpinkus commented on #6896
@bcoca Idempotence is an issue here? If you use the random filter, your going to get a new random number every time you run the play.

I think the capability has to be bulit into the cron module. Something like `minute=random` or `random_minute=yes` and so forth for hours,day,...

[2014-04-12 12:33] ruudk commented on #6947
That's awesome :)

[2014-04-12 12:36] selivan opened #6968 "Add this interesting example to setup module documentation"
http://docs.ansible.com/setup_module.html

Direct call to setup module can be used to reload facts after adding custom fact:

[code]

This is very useful  technique, because without it variables from created local fact can't be used in first run.

[2014-04-12 13:45] jimi-c commented on #6936
Correct, this appears to have been patched in devel, and will be included when 1.6 is released. If you have any further questions regarding this, please let us know. Thanks!

[2014-04-12 13:45] #6936 closed, assigned to nobody

[2014-04-12 14:01] bcoca commented on #6896
@sam yes, that is why i use random numbers to assign them to a host var,
not in the cron template itself.

The random filter has other uses, I use it to choose a random node in a
cluster on which to execute per cluster tasks and avoid always using the
first/last one.

[2014-04-12 15:14] andreasf commented on #4147
This seems to be broken. 72eaa0570e29a87908f8e185b574b812826eafe0 fixes the service lookup in `get_service_tools()`, but not the original issue of setting a name that doesn't resolve. It still cuts off the part after the @ and stores that as the systemd unit name, only the variable name is changed from self.name to self.__systemd_unit. Try this:

[code]

Output:

[code]

It fails, because `get_ser

[2014-04-13 19:23] jimi-c commented on #4147
@andreasf could you please open a new issue for this? Thanks!

[2014-04-13 23:28] andreasf opened #6972 "system: module fails with templated systemd units"
Quoting from previous issue #4147:

[code]

The issue still seems to be unresolved. 72eaa0570e29a87908f8e185b574b812826eafe0 fixes the service lookup in `get_service_tools()`, but not the original issue of setting a name that doesn't resolve. It still cuts off the part after the @ and stores that as the systemd unit name, only the variable name is changed from self.name to self.__systemd_unit. Try

[2014-04-13 23:50] andreasf commented on #6972
Oops. Syncing my fork with upstream I noticed this was already fixed a month ago by 44ebd3f4f3569a029355460407c2cb70c8d21fec.

[2014-04-13 23:50] #6972 closed, assigned to nobody

[2014-04-14 00:06] ariddell commented on #1409
I'd like to see support for Python 3. It would be easier to use ansible with Arch Linux.

[2014-04-14 09:04] akuznecov opened #6979 "1.5.4 :: Precedence issue for variables in arrays and group_vars/all"
Hello,
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.4
##### Environment

:: host :: ArchLinux / Debian 7
:: managed :: N/A or any
##### Summary:

Just got issue with variables built on value of other variable defined in global vars (group_vars/all) and then overrided in playbook
Overriden variable value is OK, but array items are not OK - they are still using old-global value
##### St

[2014-04-14 09:24] sgpinkus commented on #6896
@bcoca OK. In fact a decent way to handle this is to derive an integer from the cron job's name and  get the appropriate modulus. There seems to be lack of inbuilt filters to do this though.  Adding an `ord` built in filter would be helpful.

[2014-04-14 11:03] resmo opened #6980 "feature request: option vault-password-file in ansible.cfg"
Instead of given the argument `--vault-password-file <file>` by cli. I would like to have an option in ansible.cfg to set it in defaults:

[code]

[2014-04-14 11:17] gildegoma commented on #6980
It seems to be a duplicate of #6947 ;)

[2014-04-14 11:26] #6980 closed, assigned to nobody

[2014-04-14 11:50] vmanyushin commented on #6957
`yum install python-setuptools` should solve your problem

[2014-04-14 11:52] Mulkave commented on #6957
Solved. Thanks!

[2014-04-14 11:52] #6957 closed, assigned to nobody

[2014-04-14 13:49] jctanner opened #6982 "ansibot verification"
ansibot verification

[2014-04-14 13:49] #6982 closed, assigned to nobody

[2014-04-14 15:00] resmo commented on #6947
+1

[2014-04-14 15:06] mpdehaan commented on #6979
vars_files values should beat inventory, can you clarify where the "old global value" is set and where the variable you are overriding is set?

Thanks!

[2014-04-14 15:11] akuznecov commented on #6979
1. 'Old global value' is set on `group_vars/all` file
2. New value set on playbook level

vars_files is not set at all

[2014-04-14 15:14] #6875 closed, assigned to nobody

[2014-04-14 15:19] mpdehaan commented on #6964
Closing per the above, thank you!

[2014-04-14 15:19] #6964 closed, assigned to nobody

[2014-04-14 15:20] jctanner commented on #6901
@j2sol any updates?

[2014-04-14 15:21] mpdehaan commented on #6963
Thanks for this idea submission - a global handler hook for something like this is interesting and has been requested before, I believe we have an open feature request ticket for this and are looking to add something like this in the future, though some other things need to be tackled before this can be added.

Without this feature, you can still accomplish notifcation using a callback plugin, lik

[2014-04-14 15:21] #6963 closed, assigned to nobody

[2014-04-14 15:21] jctanner commented on #6927
@CorbanR and @daemonl can you please run the task with ansible-playbook -vvvv and post the verbose output for the failed task?

[2014-04-14 15:23] mpdehaan commented on #6960
This is the same as the "pkg" argument, as it is an alias.  I agree we should just show "name" as that's what we more commonly use.

[2014-04-14 15:32] mpdehaan commented on #6953
Hi, I'm having trouble understanding this report.

The group by module groups modules based on a string value, which can of course be templated.

Can you explain what about it you think is incorrect?  I understand your playbook is going on to use this data later but I'm unclear where you think the error lies.

If it creates a group name that you don't use, there's not much we can do, though I'm pe

[2014-04-14 15:36] mpdehaan commented on #6947
(I do disagree with this needing to be a config option since different projects may have multiple vault password files)

Rather, this can be easily solved with bash aliases.

I do like the above script idea a lot, how about contributing a PR to add it to examples

[2014-04-14 15:36] #6947 closed, assigned to nobody

[2014-04-14 15:41] mpdehaan commented on #6932
This is a known issue about what happens when changing the repo to a different location, so I'm closing this as a duplicate.

[2014-04-14 15:41] #6932 closed, assigned to nobody

[2014-04-14 15:44] mpdehaan commented on #6925
This is a duplicate of a previous idea about having more package listing modules, this is probably something that will be done in the future.

[2014-04-14 15:44] #6925 closed, assigned to nobody

[2014-04-14 15:46] jimi-c commented on #6955
@jonhattan the include+with_items support has been deprecated and removed. However, it could work as follows:

<pre>
tasks:
  - { include: wordpress.yml, users=['timmy', 'alice', 'bob'] }
</pre>

And then do the `with_items: users` in the included playbook.

[2014-04-14 15:50] mpdehaan commented on #6916
PSA:  There are $foo variables here which are removed in 1.6, use the following instead:

[code]

You might have deprecation warnings off as you might have had warnings about these.

I would have thought this should be handled, so I'll classify this a bug and we can test to reproduce.

[2014-04-14 16:00] mpdehaan commented on #6908
Hi @jjshoe, we obviously take security reports seriously -- in the future, should you wish to report a security issue, you should disclose directly to security@ansible.com

I agree that I don't like the name generation that is going on here and like your "2)" series suggestions for upgrades that won't break existing users.

As for the permissions, we'll investigate whether we can apply a better de

[2014-04-14 16:03] kiranos commented on #6925
@mpdehaan do you have a link to this idea or is it outside of github?

[2014-04-14 16:14] jjshoe commented on #6908
The only thing that sucks by not specifying a name is you can't manage a file with multiple repo's specified, like you typically find: https://gist.github.com/jjshoe/6f994597f3684dbca991

I believe name should be optional, but should be the key if specified to enable you to specify with_items easily and handle removing all existing repos, and replacing with entirely new ones.

[2014-04-14 16:22] lfrancke opened #6986 "lineinfile should follow symlinks"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

CentOS 6.5
##### Summary:

When using the `lineinfile` mode to edit a symlink it "materializes that file destroying the symlink.
##### Steps To Reproduce:

[code]
##### Expected Results:

Change of the existing file at `/etc/rc.d/rc.local` which is symlinked to `/etc/rc.local` or a warning.
##### Actual Results

[2014-04-14 16:46] neshura commented on #6953
Of course! I'm sorry if it did not make sense, I'm sure I could have
written it more clearly. The short version is that I was expecting
equivalency between

[code]

truncate(1, True, '') }}
        - group_by: key={{ ansible_distribution }}-{{ os_major_version }}

and

[code]

ansible_distribution_version | truncate(1, True, '') }}

The former divides my hosts into groups "RedHat-6" and "RedHat-5"

[2014-04-14 17:02] evanccnyc opened #6987 "Deploying EC2 Instance in VPC with Private IP set, get public ip and subnet throws an error"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Mac OS X
##### Summary:

When I use ansible to setup an ec2 instance that is also in a vpc while specifying a private local ip, getting a public ip and giving it the correct subnet, I get the following output:
msg: InvalidParameterCombination: Network interfaces and an instance-level private IP address may not

[2014-04-14 17:29] jimi-c commented on #6948
I believe I see the issue now. The copy module operates by copying the file locally to a remote host only - it does not copy a remote file to another location on the same host. So most likely you'd need to run the ansible-playbook command via sudo too as the current user cannot access the src path you've specified.

That being said, the above traceback should be handled more gracefully, so we'll g

[2014-04-14 17:41] #6948 closed, assigned to jimi-c

[2014-04-14 17:42] jimi-c commented on #6948
The above patch should correct the issue for you. If you continue seeing any problems related to this issue, or if you have any further questions, please let us know. Thanks!

[2014-04-14 17:50] mspanc opened #6988 "Unable to use postgresql commands along with sudo"
##### Issue Type:

Bug Report
##### Ansible Version:

1.4.4
##### Environment:

Ubuntu 14.04 LTS Beta (GNOME)
##### Summary:

postgresql_user command is effectively useless as it always ends up with "psycopg2.ProgrammingError: conflicting or redundant options" error.
##### Steps To Reproduce:

Try to run such task:

[code]
##### Expected Results:

PosgreSQL user is created.
##### Actual Results:

[2014-04-14 17:55] jctanner commented on #6909
@rothgar please show us the verbose ansible-playbook -vvvv output. I am unable to reproduce with this simplified test:

[code]

[code]

[2014-04-14 18:09] jctanner commented on #6916
1.6 does produce errors in the ec2 module when region is in the form of an old style var:

[code]

[2014-04-14 18:16] jctanner commented on #6979
@akuznecov are you able to test against devel? I recently refactored and wrote unit tests for vars_files to assert proper behavior.

https://github.com/ansible/ansible/tree/devel/hacking#env-setup

[2014-04-14 18:21] jimi-c commented on #6927
@CorbanR @daemonl I was not able to reproduce this in devel or 1.5.4. Could you please also include a full sample playbook that reproduces the problem? Here is what I was testing with:

<pre>
- hosts: ubuntu1204
  gather_facts: no
  sudo: yes
  remote_user: testing
  tasks:
  - name: unarchive sites
    unarchive: src={{ item }}.tar.gz dest=/tmp/sites/
    with_items:
    - site1
    - site2
    -

[2014-04-14 18:26] akuznecov commented on #6979
@jctanner just installed devel and got same results as for 1.5.4  :(
http://pastebin.com/FtgwnRD4

[2014-04-14 18:29] ruudk commented on #6596
I really want to do this to. I want to store an encrypted template on Github and have it auto decrypted on copying to the server.

[2014-04-14 18:45] jctanner commented on #6979
@akuznecov sorry, just noticed that your description has nothing to do with the "vars_files" keyword.

[2014-04-14 19:08] timrobertson100 commented on #6986
+1

[2014-04-14 19:33] jimi-c commented on #6908
Closing this, as the above commit should fix this issue. If you continue seeing any problems related to this, or if you have any further questions related to this issue, please let us know. Thanks!

[2014-04-14 19:51] mpdehaan commented on #6783
Sorry about this.

I should say though, If it has been since November, the first report we've had about this from anyone was the report a month ago - the above - and this ticket is only 2 weeks old.   We would have benefited from an earlier report.

As a heads up, you can also easily use newer modules with the system by dropping them into a "./library" directory alongside the playbook.

Given this

[2014-04-14 19:55] jjshoe commented on #6908
Uh, so, this PR would have fixed it: https://github.com/jjshoe/ansible/commit/b81c73cfced216e598f2148d2bcad776b3e68b38

Things to note about @jctanner 's PR and mine: NEITHER addresses existing repo's on disk. This means everyone who uses a repo with a u/p will get a change, when they shouldn't, the next time they run their playbook. It also means a repo is left around whose name contains the cred

[2014-04-14 19:56] yuriks commented on #6499
The issue remains in 1.5.4:

[code]

Are there any plans to include this fix in 1.5? It renders the `git` module completely unusable for me.

[2014-04-14 20:00] brandonhilkert commented on #6783
Not true, Here's the beginning: https://github.com/ansible/ansible/issues/5076

[2014-04-14 20:04] mpdehaan commented on #6908
I agree this shouldn't be closed yet as it should also take care of the permissions aspect.

[2014-04-14 20:32] pierot opened #6989 "Python psycopg2 module is required"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.4
##### Environment:

Locally: Mac OSX 10.9.2
Host: Arch Linux
##### Summary:

Ansible task keeps telling me the psycopg2 module isn't installed, although everything seems to be ok to me.
##### Steps To Reproduce:

If I try to run:

[code]
##### Expected Results:

The task should complete without errors.
##### Things I tried / Extra

[2014-04-14 21:37] #6951 closed, assigned to nobody

[2014-04-14 21:48] daemonl commented on #6927
Hi jimi, thanks for looking in to it, run file and result below:

test.yml

[code]

And running:

[code]

[2014-04-14 21:55] omgjlk commented on #6901
That patch appears to be working in our environment.

[2014-04-15 01:14] rgrinberg opened #6993 "AttributeError: Values instance has no attribute 'ask_vault_pass'"
This is the error I get when I run ansible 1.5.4 from vagrant:

[code]

I know vagrant might be causing but ansible shouldn't really raise in this case.

[2014-04-15 01:45] MiLk commented on #6993
Could you provide the ouput of:
- `ansible --version`
- `vagrant --version`

Do you have any local modification (merged PR) ?

It seems to be related to ansible.

[2014-04-15 01:47] rgrinberg commented on #6993
vagrant --version: `Vagrant 1.5.2`

For ansible I've tested against devel and 1.5.4. Both installed from homebrew.

No local modifications on either project.

[2014-04-15 02:19] MiLk commented on #6993
I'm not able to reproduce this issue.
Tested ansible version: `1.3.4`, `1.4.5`, `devel`.
Tested vagrant version: `1.3.5`, `master`.

Does `env | grep PYTHONPATH` contains the ansible lib directory ?

[2014-04-15 02:28] rgrinberg commented on #6993
Strange. Homebrew sets the python path like so:

[code]

Thanks for helping me with this.

[2014-04-15 02:38] MiLk commented on #6993
Could you try to install ansible without Homebrew, to be sure it's not related to the install method.

Run the following:

[code]

Then, Vagrant should run this version of ansible.

Note: `source ./hacking/env-setup` update your environments variable to run ansible, be sure to run `vagrant` in the same terminal tab.

[2014-04-15 02:41] rgrinberg commented on #6993
And it works!

Do you think there's a problem with the brew formula or my setup?

[2014-04-15 02:45] MiLk commented on #6993
I think it's brew.

I suggest you add `source <ansible_path>/hacking/env-setup >/dev/null` to your `.bash_profile` or `.zshrc`.

[2014-04-15 02:46] rgrinberg commented on #6993
Thank you very much!

[2014-04-15 02:46] #6993 closed, assigned to nobody

[2014-04-15 07:00] resmo commented on #6947
ok, I see, makes sense.

[2014-04-15 09:48] cdwertmann commented on #5007
Ansible crashed my Macbook running OSX 10.9.2 four times today, every time reporting the "negative open count" message from above.

[2014-04-15 15:14] bloodearnest opened #6998 "Allow suppression of logging of with_items/with_dict debug output"
##### Issue Type:

Feature Idea
##### Ansible Version:

1.5.3
##### Environment:

Ubuntu 12.04
##### Summary:

Add ability to suppress logging of with_items/with_dict iterations
##### Steps To Reproduce:

Have an action that uses with_items and allow for suppression of loop param output when using no_log: True to protect sensitive info.

[code]
##### Expected Results:

Have the item output suppres

[2014-04-15 15:42] jimi-c commented on #6927
I believe the issue here is that the file has the extension .tgz, however it appears to be a ZIP file, as evinced by the fact that the command string executing is `["unzip", "-l", "/home/daemonl/.ansible/tmp/...`. Using the above playbook, I cannot reproduce it when the file is actually a GZIP'd tar file, however when I do the same with ZIP file I get the same error. This appears to be because the

[2014-04-15 15:57] #6901 closed, assigned to jctanner

[2014-04-15 15:58] jimi-c commented on #6901
@j2sol thanks for confirming, the above commit was merged in. If you continue to see any problems related to this issue, or if you have any further questions please let us know. Thanks!

[2014-04-15 16:21] #6891 closed, assigned to jimi-c

[2014-04-15 16:22] jimi-c commented on #6891
I have merged in the above pull request, which should correct this issue for you. If you continue to see problems related to this issue, or if you have any further questions, please let us know. Thanks!

[2014-04-15 16:48] CorbanR commented on #6927
I'm confused why would it work and untar the directories in ansible 1.5 and not 1.5.4 if the file is not a tar and in fact a zip file? I can confirm at least the files i'm uploading are in fact tar's and NO zip files.

If you look at the successful output from 1.5.0 vs 1.5.4 you will see that in 1.5.4 it is incorrectly seeing the tar as a zip (at least it seems that way to me).
- 1.5.0 Success
  `

[2014-04-15 17:15] jjshoe opened #6999 "issue with handlers with variables in the names"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

N/A
##### Summary:

Parent task unable to call handlers of child
##### Steps To Reproduce:

[code]

roles/upstart/tasks/main.yml:

[code]

roles/upstart/templates/upstart.conf.j2:

[code]

roles/graphite-web/handlers/main.yml:

[code]

roles/graphite-web/meta/main.yml:

[code]
##### Expected Results:

Play shou

[2014-04-15 18:34] jimi-c commented on #6904
I'm going to go with your second method, using wrap_socket(). It seems easier than trying to iterate over a few protocol options and we won't have to extend it in the future.

[2014-04-15 18:45] #6904 closed, assigned to nobody

[2014-04-15 18:46] mpdehaan commented on #6999
This is a result of the handler name having a variable in it most likely.  We can investigate.

[2014-04-15 18:57] jimi-c commented on #6927
You can see in the output of 1.5.0 that it's using the tar command. Is the file truly a zip file or a tar/gz? If it is not a tar/gz, then it would seem there's a bug in the file type detection, otherwise the bug was in the old versions and has since been fixed.

[2014-04-15 19:00] jimi-c commented on #6904
The above patch should resolve the issue for you. If you continue seeing any problems related to this, or if you had any further questions regarding this issue, please let us know. Thanks!

[2014-04-15 20:04] #6911 closed, assigned to nobody

[2014-04-15 20:05] jimi-c commented on #6911
The above commit should resolve this issue for you, and will be included in the next major release. If you continue seeing any problems related to this issue, or if you have any further questions, please let us know. Thanks!

[2014-04-15 20:38] jimi-c commented on #6909
I also cannot reproduce this. Here's my test playbook:

<pre>
- hosts: localhost
  connection: local
  gather_facts: no
  tasks:
  - name: foo
    shell: "if [ $(( ( RANDOM % 10 ) + 1 )) -gt 9 ]; then /bin/true; else /bin/false; fi;"
    register: result
    until: not result|failed
    retries: 5
    delay: 1
    ignore_errors: yes
    when: foo|int > 1
</pre>

When run with `ansible-playbook 690

[2014-04-15 20:39] mpdehaan commented on #6898
Any update on this one?  Thanks!

[2014-04-15 21:07] ludovicc commented on #6941
Here's an ugly workaround:

[code]

It simply comments out the failing code in number.py

[2014-04-15 21:07] CorbanR commented on #6927
The file I am using is a tar file NOT a zip file. To me that means that Ansible 1.5.4 is seeing my Tar as a Zip, trying to unzip vs untar which is why it's failing, to me this would mean the bug is in 1.5.4. I admit that I could be missing something obvious here. If you would like I can send you an example tar, that way you can verify if I'm crazy or not ;)