[2021-04-09 20:28] user318 commented on #40220
So what? Should we throw away any users with non-posix filesystems then? I suggest that ansible has some mode for "copy" when it can be usable for non-posix systems too. Isn't it a reasonable feature?

[2021-04-09 21:02] bcoca commented on #40220
It is reasonable to a point, for example,  have win_copy for windows, for other systems a specific module might be needed per OS, due to the proprietary nature of most of these it is unlikely that the core team will develop them or accept them in core, as collections would be a more appropriate home for them.

[2021-04-09 21:09] thrix commented on #36223
yeah this is a pain :(

[2021-04-09 21:17] user318 commented on #40220
Separate module is not a good option, because it will be needed to have a separate module for template too and may be some others, if they depend on copy. Actually it there is not much to do in the copy module itself, but it is something done in supporting functions, that are not flexible enough for such cases. Even if it were a separate module, it would be good, I suppose, to use the same codebas

[2021-04-09 21:25] bcoca commented on #40220
we HAVE a win_copy module for these reasons, its not just chmod, you would have to disable stating, setfacl, chown, chgrp, selinux context ... and that is just off top of my head.

[2021-04-09 21:30] ollofx opened #74215 "Please never consider deprecating hash_behaviour=merge"
### Summary

Dear Ansible Community,
hash_behavior=merge is one the best features of ansible, it allows inheritance of properties from a parent objet (hash)
without any syntax overhead or jinja filters, it is actually impossible to combine the same hash to override his own parameters.

a simple example using multiple inventory override
[code]
[code]
 will simply generate

[code]
without hash featu

[2021-04-09 21:35] user318 commented on #40220
I have doubt it works for me, because the documentation says:
- For non-Windows targets, use the copy module instead
- win_copy runs over WinRM

I have Linux and ssh, do not even know what that WinRM is. :) But I'll try it.

PS. I had problems with the module failing only because of chmod/chown/chgrp - they causes exception. Even if it tries to do something other - it still works without failing.

[2021-04-09 21:48] ollofx commented on #74215
!component

[2021-04-09 21:54] bcoca commented on #74215
https://github.com/ansible/ansible/pull/73328 so you want us to deprecate it again?

[2021-04-09 22:42] bcoca commented on #40220
i'm NOT telling you to use win_copy, i was using it as an example that for non posix systems we would need a dedicated module.

[2021-04-09 22:46] s-hertel commented on #74211
This is a feature request, and changing how it works would be invasive and a break playbooks relying on the current behavior. By design, it matters which groups hosts are a part of, not what `hosts:` (or `--limit`) is. Use aliases for hosts to ensure they are only in the group you want, or consider using the `vars_files` keyword or an `include_vars` task to load variables as needed.

[2021-04-10 01:26] TheFinalJoke commented on #73005
I can Try Leaning in here as a first Fix :)

[2021-04-10 03:38] #74146 closed, assigned to nobody

[2021-04-10 04:54] kindlehl commented on #74195
I'm not an authority on how this should be done, maybe its doable in the note. However, this is an example of how another collection is handling such a dependency: https://docs.ansible.com/ansible/latest/collections/community/crypto/x509_certificate_module.html#ansible-collections-community-crypto-x509-certificate-module

[2021-04-10 05:36] kindlehl commented on #74210
@odd22 this is happening because of an update to the uri module. The module tries to be smart and censor your BasicAuth password in the output.

in lib/ansible/modules/uri.py:630 no_log is set on the url password.

[2021-04-10 06:14] kindlehl commented on #74210
Caused by #70762

[2021-04-10 06:35] felixfontein commented on #74215
@bcoca was that undeprecate PR ever backported to stable-2.10 and/or stable-2.9? Or is it only present in stable-2.11 / devel?

[2021-04-10 07:36] #73284 closed, assigned to relrod

[2021-04-10 07:57] relrod commented on #74215
It's only in devel. I just opened a 2.10 backport. https://github.com/ansible/ansible/pull/74219

[2021-04-10 08:38] kindlehl commented on #74187
if it helps, I had no problems with this on Fedora 33.

[2021-04-10 08:43] zapalotta commented on #74187
In this special case, the issues are coming from php7.2. Manually disabling the php7.2 stream fixes the issues (dnf does not need to resolve php7.2's dependencies to nginx-1.14), though that obviously does not help creating a working role. Probably fedora 33 does not ship php-7.2 anymore (or/and nginx-1.14)?
Do you think I should open an issue at RedHat?

[2021-04-10 11:23] Davidffry commented on #74211
Ok thanks for the comments 😃 I ll close the issue

[2021-04-10 11:24] #74211 closed, assigned to nobody

[2021-04-10 12:55] ollofx commented on #74215
Sorry, really sorry the subject is incorrect,   that was exactly the opposite that I meant, it was late yesterday, and I decided to move to ansible 3, then I found out about the deprecation of merge, was pretty astonished and I digged on all the topics related to it, the whole night, and I couldn't understand how poeple are not using such a powerful concept, ok I'm a developer, and I was even thin

[2021-04-10 13:14] frankenstein91 opened #74220 "Allow use of random cows in Config"
### Summary

I find the use of Cowsay very funny and enjoy the random selection of ASCII type. unfortunately I can't set it as default in the defaultconfig for my project, because it looks like it only works as environment variable.

Therefore, my suggestion would be to allow random cow in the config, like nocow.

### Issue Type

Feature Idea

### Component Name

cowsay

### Additional Information

[2021-04-10 17:00] frankenstein91 commented on #74220
somehow it works today... sorry for the request

[2021-04-10 17:00] #74220 closed, assigned to nobody

[2021-04-10 18:47] user318 commented on #40220
OK, misunderstood it. :)
Anyway, the above error I receive is "Operation not permitted", i.e. permission error. But the module fails on it when I do not want to touch mode/owner. It may even happen on posix-compatible filesystems too. Also there are already several cases in atomic_move to support "non posix-compatible" filesystems. And there are also some checks for situations when access is not a

[2021-04-10 20:07] KFoxder commented on #55669
@Tahvok Yeah I am experiencing this as well.

[2021-04-11 09:25] knorring opened #74225 "Allow restricting config values with list members to list of choices"
### Summary

I am trying to add a list of choices to a `list` type option in the `DOCUMENTATION` section of a plugin. This raises an `AnsibleOptionsError('Invalid value...')` error. Adding restrictions to `list` type options could reduce plugin configuration errors.

### Issue Type

Feature Idea

### Component Name

core config/manager

### Additional Information

The reason for this feature reque

[2021-04-11 16:47] tadeboro commented on #73675
Not sure actually. While the immediate issue has been solved, the instructions themselves are still outdated and should be converted to use inventory plugin that is part of the `infoblox.nios` collection. So I will let others decide if this problem is actually fixed or not.

[2021-04-11 17:58] christophehenry opened #74228 "AttributeError: module 'distro' has no attribute 'id' when using the group and user modules"
### Summary

When I try to create a group using the `group` module I get the `AttributeError: module 'distro' has no attribute 'id'` apearing on line 31 of `ansible/module_utils/common/sys_info.py`.

It doesn't reproduce on a Vagrant VM. So it may be something weird going ont with my own server.

### Issue Type

Bug Report

### Component Name

group

### Ansible Version

[code]

### Configuration

[2021-04-11 22:30] relrod commented on #74228
It would seem you have some `distro` python module installed that isn't the actual `distro` package.

Could you give the output of `pip list` (or `pip3 list`) on the target node? And maybe `rpm -qa | egrep 'python|distro'`

Basically, trying to find out what might be providing a `distro` that imports just fine, but isn't the same `distro` that we expect. In any case, we can probably handle this ca

[2021-04-12 00:39] UnitedMarsupials opened #74230 "mysql_db should register more fields"
### Summary

When performing a dump and load of a database -- a fairly common use-case -- it would provide for better code, if the loading (`import`) task could directly refer to the target of the earlier dumping task as its own source.
[code]
In plain English the second (loading) task reads: "Load the just-created dump from whatever file-path it was, that was created by the earlier task".

Unfort

[2021-04-12 00:40] #74230 closed, assigned to nobody

[2021-04-12 01:13] UnitedMarsupials opened #74231 "mysql_db dump task needlessly re-dumps databases"
### Summary

MySQL provides a mechanism for querying, when the particular database was last modified. Unfortunately, `mysql_db` module does not seem to bother with it, and will happily rerun the dump over and over even when the DB being dumped hasn't changed since the target-file's modification time.

In short, the `mysql_db` dump-tasks never have the status "Ok" -- only "Changed" (or "Failed", of

[2021-04-12 01:14] #74231 closed, assigned to nobody

[2021-04-12 04:35] Akasurde commented on #74228
resolved_by_pr #74229

[2021-04-12 07:49] christophehenry commented on #74228
@relrod That was the problem, indeed. On Fedora, there is a `python3-distro` package on which depends `python3-dnf-plugins-core`. Your patch fixes it. Thanks.

[2021-04-12 07:49] #74228 closed, assigned to nobody

[2021-04-12 07:49] DanNixon opened #74235 "Cannot use modules distributed with roles from a role as part of a collection"
### Summary

I have some roles that depend on a third party role ([kewlfft.aur](https://github.com/kewlfft/ansible-aur)) that provides a module.
So far I have been doing this by adding `kewlfft.aur` to the dependencies of each of my roles that required it.
I have been organising these roles into collections and expect this to still work when my role is in a collection.

### Issue Type

Bug Report

[2021-04-12 09:10] okoeroo commented on #25099
Hit by this.

Hacked up bypass (with thanks to George Shuklin):

- name: Get existing iptables rules
  become: true
  command: iptables -n -L
  changed_when: false
  register: iptables_rules
- name: Create custom iptables chain
  become: true
  command: iptables -N '{{ custom_chain }}'
  when: "'Chain {{ custom_chain }}' not in iptables_rules.stdout"

[2021-04-12 10:31] amarao opened #74237 "wait_for_connection ignores short timeouts"
### Summary

wait_for_connection ignores small values for timeout.

It shows that `wat_for_connection` waited for 34 seconds intead of 3.

### Issue Type

Bug Report

### Component Name

wait_for_connection

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.10

### Steps to Reproduce

Provided that 10.99.99.99 is not reachable (if it is, use other IP):

`time

[2021-04-12 10:45] varma-amit opened #74238 "Issue in Cloning of VM on esxi with community.vmware.vmware_guest_cross_vc_clone"
### Summary

When running playbook for cloning a VM with community.vmware.vmware_guest_cross_vc_clone the task is failing with following error message:

_An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: Required field "instanceUuid" not provided (not @optional)
fatal: FAILED! => {"changed": false, "module_stderr": "Traceback (most recent c

[2021-04-12 11:13] mkrizek commented on #74238
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.vmware.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!f

[2021-04-12 11:13] #74238 closed, assigned to nobody

[2021-04-12 11:57] savitojs opened #74239 "ansible collection shows multiple duplicate version"
### Summary

ansible collection shows multiple duplicate version with redhat.openshift collections installed.

[code]

### Issue Type

Feature Idea

### Component Name

ansible-collections

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8.2

### Steps to Reproduce

[code]

### Expected Results

`ansible-galaxy collection install` should check the existing versio

[2021-04-12 11:57] savitojs commented on #74239
cc @Akasurde

[2021-04-12 13:27] odd22 commented on #74210
@kindlehl Thanks for the explanation and the pointer.

So, in order to solve my problem, do I need to change the default 'admin' password or simply use the Encoded Basic Auth header instead of providing clear login/password ?

[2021-04-12 13:58] sivel commented on #74239
The "ansible" package bundles a number of collections, and as they are managed by the "ansible" package, they are not modified using the `ansible-galaxy` CLI tool.

`ansible-galaxy collection list` will list them, but not modify them.

Additionally, listing collections, lists all installed collections on all search paths, not only the one that ansible will use.

This behavior is expected.

[2021-04-12 14:02] bcoca commented on #74225
I'm not sure I understand the request, it seems to indicate that you want what has already been implemented in the PR you point to.

[2021-04-12 14:02] kindlehl commented on #74210
@odd22 either would work

[2021-04-12 14:42] sivel commented on #74235
Roles from collections are not meant to depend on stand alone roles, and to properly facilitate their ability to use plugins from a standalone role, you will need to utilize the `ansible.legaxy` synthetic collection in your tasks, such as:

[code]

[2021-04-12 15:13] odd22 commented on #74210
I tested the Basic Auth ie.
[code]
and it works fine. I would try to set `no_log: False` to disable the sanitize function, but, it not works. In fact, looking to the uri.py code, the no_log is force to True for the password

Don't know if this need to be documented or at least add a warning in the uri documentation regarding the password variable.

In any case, I think you could close this issue.

[2021-04-12 15:47] Shrews commented on #71026
Cannot reproduce. Closing per above.

[2021-04-12 15:47] #71026 closed, assigned to nobody

[2021-04-12 20:23] bcoca commented on #16776
updated config plugin for 2.12 to always return what you expect, even within loop:
[code]

[2021-04-12 20:30] paultaiton commented on #74195
@kindlehl
I have already done a PR on the azcollection repo to put further elaboration on the pip requirements in the common doc fragment, so it should be in there once a new version is released and docs updated. I'm not sure if that will be sufficient though, since the bolded banner doesn't indicate that different collections have different requirements. The simple instructions for installing col

[2021-04-12 20:39] #73202 closed, assigned to nobody

[2021-04-12 20:47] donsizemore opened #74244 "include RockyLinux and AlmaLinux as part of RedHat ansible_os_family"
### Summary

This is my first request in the Ansible repo, so if I'm asking in the wrong place, please swat me away.

It would be nice to include AlmaLinux and RockyLinux as part of the RedHat `ansible_os_family` to minimize task conditions/workarounds.

Thank you!

### Issue Type

Feature Idea

### Component Name

ansible_os_family

### Additional Information

`ansible_os_family == "RedHat"`

mig

[2021-04-13 07:44] DanNixon commented on #74235
Thanks. That works as expected.

I did have a decent look though the documentation beforehand as I was not sure if this was supposed to be possible or not, during which I didn't find any mention of `ansible.legacy`. Is this not mentioned or have I just missed it?

[2021-04-13 11:47] VictorCovalski commented on #48752
Hi @bcoca. Could you take a look at my PR regarding this issue? [https://github.com/ansible/ansible/pull/74251](https://github.com/ansible/ansible/pull/74251).

Cheers

[2021-04-13 13:42] sivel commented on #74235
Documentation of `ansible.legacy` was missing until recently, although it's only been merged to the devel branch afaik:

https://github.com/ansible/ansible/pull/73942

[2021-04-13 14:06] bcoca commented on #74027
sadly that setting never really worked, should just remove it and make noop until we simplify inheritance to make it workable.

[2021-04-13 15:08] #74142 closed, assigned to nobody

[2021-04-13 15:08] #74140 closed, assigned to nobody

[2021-04-13 15:08] #74145 closed, assigned to s-hertel

[2021-04-13 15:12] #74134 closed, assigned to relrod

[2021-04-13 15:14] samdoran commented on #74209
Can you provide the version of the installed packaged and the version trying to be installed?

needs_info

[2021-04-13 15:15] samdoran commented on #74210
Closing per above.

[2021-04-13 15:15] #74210 closed, assigned to nobody

[2021-04-13 15:20] samdoran commented on #74215
Fixed in https://github.com/ansible/ansible/pull/73328

[2021-04-13 15:20] #74215 closed, assigned to nobody

[2021-04-13 15:29] samdoran commented on #74235
Closing per above.

[2021-04-13 15:29] #74235 closed, assigned to nobody

[2021-04-13 15:34] samdoran commented on #74237
The problem is `connect_timeout` is passed in by not used.

[2021-04-13 15:40] sivel commented on #74239
We would potentially accept a feature request to add a CLI flag that would restrict list to only the collections that would be used, and not all installed.  The default would need to remain the same as it is now.

[2021-04-13 15:44] zigarn opened #74255 "difference filter unexpectedly performs case-insensitive comparison"
### Summary

When using `difference` filter with element that have just case-difference in the value of the filter, only one is kept.

### Issue Type

Feature Request

### Component Name

filters

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 7

### Steps to Reproduce

[code]

[code]

### Expected Results

**All** the elements of `list1` that don’t exist in `li

[2021-04-13 15:45] samdoran commented on #74244
AlmaLinux was added in https://github.com/ansible/ansible/pull/73541. I'm not sure about RockyLinux. Is the OS family reported incorrectly for the version of Ansible you are using?

needs_info

[2021-04-13 15:50] zigarn commented on #74255
This is because `difference` filter is using `unique`
https://github.com/ansible/ansible/blob/fa0bccf6a1f09c0118b1609aadd10f85927f5edb/lib/ansible/plugins/filter/mathstuff.py#L103
without specifying `case_sensitive` which is `False` by default
https://github.com/ansible/ansible/blob/fa0bccf6a1f09c0118b1609aadd10f85927f5edb/lib/ansible/plugins/filter/mathstuff.py#L55

[2021-04-13 15:53] samdoran commented on #74255
Changing this to a feature request. This would need to be added to several other tests as well to make the behavior consistent.

[2021-04-13 16:52] #39216 closed, assigned to nobody

[2021-04-13 16:52] #40711 closed, assigned to nobody

[2021-04-13 16:52] #41355 closed, assigned to bcoca

[2021-04-13 16:52] #47517 closed, assigned to bcoca

[2021-04-13 16:52] #55918 closed, assigned to nobody

[2021-04-13 16:58] donsizemore commented on #74244
@samdoran oh, poop, I did a search of closed issues for "AlmaLinux," I promise. This is the EPEL-provided ansible-2.9.18-2.el8 which hit EPEL mirrors on March 13th and reports `"ansible_os_family is AlmaLinux"`

Maybe I just need to wait for the next EPEL bump.

[2021-04-13 17:08] sivel commented on #74244
That fix was included in v2.9.19

[2021-04-13 17:11] donsizemore commented on #74244
@sivel Wonderful, thank you.

@samdoran keep this issue open for Rocky? (I didn't find it in a search either) or I can close it as you like.

[2021-04-13 17:28] sivel commented on #74244
Rocky hasn't actually been released, but as far as I can tell it will be named `Rocky Linux`:

https://git.rockylinux.org/staging/rpms/rocky-release/-/blob/r8/SPECS/rocky-release.spec#L9

We might want to wait until a release is available to test any changes against.

[2021-04-13 18:48] samdoran commented on #74244
@donsizemore Thanks for the update. I'm going to close this for now since AlmaLinux support already exists in Ansible and Rocky Linux is not yet released.

Once Rocky Linux is released, a new issue/PR can be opened. We will need to generate test fixtures and I would rather have those from the released version rather than pre-released versions.

[2021-04-13 18:48] #74244 closed, assigned to nobody

[2021-04-13 19:13] JiffsMaverick commented on #74237
I have this problem too.

@amarao As temporary solution, you can control this time with option `-o ConnectTimeout=3s` for `ssh_args`.

@samdoran I found another one issue with same problem #68841

[2021-04-13 19:17] sivel commented on #68841
Closing as a duplicate of https://github.com/ansible/ansible/issues/74237

[2021-04-13 19:17] #68841 closed, assigned to nobody

[2021-04-13 19:45] WsevoL0D opened #74264 "ansible-vault create without file name returns unexpected error instead of too few arguments"
### Summary

If you run just that command

``ansible-vault create``

or same command with additional parameters, but without vault file name

``ansible-vault create --vault-id prodpass@prompt``

you will be prompted for password and confirmation then presented with this error:

`ERROR! Unexpected Exception, this is probably a bug: tuple index out of range`

### Issue Type

Bug Report

### Componen

[2021-04-13 19:52] #63630 closed, assigned to nobody

[2021-04-13 22:56] kpoppel opened #74269 "ansible.built_in.set_fact uses non-current variable values in include_role vars_from loop"
Ansible version: 2.10.7.

Using the example quoted below, and adding just these lines to the role

[code]

it appears that ansible when adding just these lines use the very _first_ variable set while looping.
The effect is also present if the variables are loaded in each role run-through by a "include_vars" task, where variables are expectedly loaded in turn, and as soon as 'set_fact' is in the ya

[2021-04-14 04:53] deepakjoshishri commented on #59879
Figured it out, for anyone else stumbling upon this in later time. https://docs.ansible.com/ansible/latest/network/dev_guide/developing_resource_modules_network.html#id3
would help

[2021-04-14 07:46] kpoppel opened #74273 "ansible.built_in.set_fact uses non-current variable values in include_role vars_from loop"
### Summary

Ansible version: 2.10.7.

Using the example quoted below, and adding just these lines to the role

It appears that ansible overwrites current variables with 'first loaded' variables when attempting to augment a variable with set_fact.
The effect is also present if the variables are loaded in each role run-through by a "include_vars" task, where variables are expectedly loaded in turn,

[2021-04-14 07:47] kpoppel commented on #74269
I made a better description here: https://github.com/ansible/ansible/issues/74273

[2021-04-14 07:47] #74269 closed, assigned to nobody

[2021-04-14 09:33] jnm27 opened #74274 "No python interpreters found with auto_silent on ESXi host"
### Summary

Same issue reported here: https://github.com/ansible/ansible/issues/67266

Which was closed because it was "just a warning", but it is a bug because the warning occurs even when auto_silent is used. Just need to add an "if is_silent" check to this warning.

Ansible version: 2.9.11

### Issue Type

Bug Report

### Component Name

interpreter_discovery

### Ansible Version

[code]

###

[2021-04-14 12:01] richlv opened #74275 "No description for "COLLECTIONS_SCAN_SYS_PATH""
### Summary

In https://docs.ansible.com/ansible/latest/reference_appendices/config.html#collections-scan-sys-path, there is no description for "COLLECTIONS_SCAN_SYS_PATH" - would be great to explain in detail what it does.

### Issue Type

Documentation Report

### Component Name

reference_appendices/config

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Not releva

[2021-04-14 12:26] jessyjes opened #74276 "Can't use an integer value in body when using uri plugin with body_format: form-multipart"
### Summary

When i try to use the URI plugin with body_format: form-multipart, it's not possible to put an integer value in body
[code]
### Issue Type

Bug Report

### Component Name

uri.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04.2 LTS

### Steps to Reproduce

### Expected Results

I expected to have no error since it works with string value

#

[2021-04-14 12:54] abadger commented on #64638
\CC @relrod @dericcrago

The reporter is correct that the license information should be updated.

[2021-04-14 13:43] sivel commented on #74276
[code]

That will prevent the traceback, since tracebacks are bad, however, it will still lead to a human readable error:

[code]

As such, you will still have to properly make the integer value into a string in your task.

[2021-04-14 14:35] samdoran commented on #48752
I believe this issue is incorrect. The module is using `hostnamectl` on OL7. See https://github.com/ansible/ansible/pull/74251#issuecomment-819564399 for details.

@Sneedes Did you verify that the `hostname` module is _not_ running `hostnamectl` or Oracle Linux 7?

needs_info

[2021-04-14 15:30] jessyjes commented on #74276
Thanks :)

[2021-04-14 16:04] Shrews commented on #73857
This is not a bug. The snippet option was never intended to work along with the option for json output. The intention of the `--snippet` or `-s` option is to produce output that is suitable for pasting into a playbook. JSON is obviously not suited for that.

Given the above, we're going to close this ticket.  However, we're open to being corrected, should you wish to discuss.  You can stop by one

[2021-04-14 16:04] #73857 closed, assigned to nobody

[2021-04-14 16:36] samdoran commented on #48752
A lot has changed regarding distribution identification since 2.7. We switched to `distro` in Ansible 2.8. There was a fix for Oracle Linux in https://github.com/ansible/ansible/pull/52199.

Closing since this is currently working correctly.

[2021-04-14 16:36] #48752 closed, assigned to nobody

[2021-04-14 16:44] sivel commented on #74237
Potential solution:

[code]

This also disables `retries` in the `ssh` connection.

[2021-04-14 17:59] rsperl opened #74279 "filter module calls import crypt which fails on FIPS systems"
### Summary

When I use a core filter like `to_yaml`, then `plugins/filter/core.py` calls `import crypt`, which tries to load MD5 methods. In a FIPS-enabled system, this leads to an "operation not permitted" error.

### Issue Type

Bug Report

### Component Name

ansible

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 7 host running image centos:7 on containerd

[2021-04-14 18:10] bcoca commented on #47603
`any` is not a literal there, means 'any valid entry'

[2021-04-14 18:38] flowerysong commented on #74273
set_fact has a higher precedence than role vars, so this is expected behaviour. See https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#understanding-variable-precedence

[2021-04-14 19:25] sangeethdba commented on #74052
my question is ...

there is no way to ssh to gcp vm if IAP is enabled.
we some how managed to create ssh wrapper which will inturn execute gcloud ssh --tunnel command .but this process is messy and slow

[2021-04-14 20:26] kpoppel commented on #74273
Thank-you for your reply @flowerysong .  Indeed I came across this priority list:
[code]

As I read this list (and this is where I most like are wrong) a role which uses include_vars, then as another task calls set_fact would easily overwrite the include_vars settings - but with what?

Furthermore - I read this right, the include_role loop should take precedence over set_facts in that included rol

[2021-04-14 20:43] reyjrar opened #74281 "Parameterized Roles and Variable Weirdness"
### Summary

When including a role twice with different parameters, things get weird.  Variables passed to roles accessed via `include_roles` are always the same as the last instance of that role in the `roles` list. However, task names with that variable show the variable is correct during execution.

I'm not really excited about this bug. It is making me question reality. Please send help.

###

[2021-04-14 20:57] sivel commented on #74281
Duplicate of https://github.com/ansible/ansible/issues/73921

[2021-04-14 21:04] flowerysong commented on #74273
Role params are not the same as role vars, which are what you're using (and are listed at 15.) If it was a role param, you wouldn't be able to modify it with set_fact, because the param would always win.

Ansible's variable resolution is very complicated and it's not always clear what the terms used mean, but "include_role params" refers to vars from the include_role invocation:

[code]

Output:
[

[2021-04-14 21:19] reyjrar commented on #74281
What I don't understand about any of this, is the variables are set correctly for *EVERY* task in the parameterized role **EXCEPT** for `include_roles` calls.

This is maddening.  How is this by design? I'm really struggling to understand the design decision that meant that the value in these two tasks could be different:

## playbook
[code]

## Role
[code]

In what world are we as users of the to

[2021-04-14 21:22] sivel commented on #74281
Direct tasks of a role prefer the roles vars.  However, tasks from the `include_role` (`bar`) are not direct tasks of `foo`, and therefore they do not share the same variable precedence of direct tasks of `foo`.  Roles do not carry a parent/child relationship, and are always the child of the play.

So if the task is not a direct task of the role, it uses the merged vars of all roles as scoped on t

[2021-04-14 21:27] reyjrar commented on #74281
The var has the correct value in the task name in both cases. So at the scope of the task the var is right, and then because the role was added via `roles:` vs `include_roles`, the `vars:` block has an entirely different variable lookup operation than the task name?

This is makes no sense. The play output literally says "Another thing uses bob", but the `thing2_var` is initialized to alice.

This

[2021-04-14 21:30] sivel commented on #74281
You can indeed argue that it's not expected. I accept that.  However, expectations don't always intersect with reality.

We are looking into way to make role vars work more like many would expect.  But in any case, this issue is a duplicate of various issues we already have open.

[2021-04-14 21:42] flowerysong commented on #74281
If it makes things clearer, variable evaluation is lazy. You're relying on `var2` inheritance because the value of `thing_var2` is `{{ var2 }}`, not the value of `var2` at the time of definition.

[2021-04-14 21:48] sartigas opened #74282 "setfacl: not found while trying to use ansible.builtin.su in Solaris 11.4 SRU 30"
### Summary

I tried to use module **ansible.builtin.su** in a playbook to execute some commands with non-privileged account but failed to do so because playbook execution fails with **setfacl: not found** error. Digging in Oracle Solaris documentation, I found setfacl command has been removed from version 11.4.

Here:

https://docs.oracle.com/cd/E88353_01/html/E37839/setfacl-1.html

setfacl(1)
Na

[2021-04-14 21:52] reyjrar commented on #74281
If this is the desired behavior, then either remove:

1. Parameterized roles entirely, if I need to parameterize a role, I can use `include_role`
2. Have inclusion of two instances of the same parameterized roles throw a fatal exception

This "reality" has wasted at least two users time to isolate, understand, and then report.  I was "walk away from the computer" upset over this bug when I encount

[2021-04-14 22:11] nkakouros opened #74283 "Loading playbooks from collections fails if playbook is in subfolder"
### Summary

Trying to load a playbook from a collection that lies in a path like `ansible_collections/my/collection/playbooks/type/play.yml` fails. This is not the case with collection roles.

### Issue Type

Bug Report

### Component Name

collection playbooks

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Arch Linux both as controller and target.

### Steps to Re

[2021-04-14 23:09] kpoppel commented on #74273
Thank-you so much for the enlightening answer.  I fully concur that the variable precedence rules are very complicated when there are so many sources.  I have learned much from your answer, so back to figuring out how to make the usability 'good enough' on this project.
 I consider the question answered and will close the issue now.

[2021-04-14 23:09] #74273 closed, assigned to nobody

[2021-04-15 02:20] bcoca commented on #46660
fixed via #73708

[2021-04-15 02:20] #46660 closed, assigned to nobody

[2021-04-15 04:32] Akasurde commented on #74275
@richlv Thanks for reporting this. The description is missing for `COLLECTIONS_SCAN_SYS_PATH`.

[2021-04-15 04:47] Akasurde opened #74286 "Galaxy list should show git version when collection is installed from git"
### Summary

When the user installs the collection from git, the galaxy command shows the version from `galaxy.yml` instead of the current checkout version.

### Issue Type

Feature Request

### Component Name

ansible-galaxy

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

macOS

### Steps to Reproduce

[code]

### Expected Results

I expect to see output like

[code

[2021-04-15 07:11] deepakjoshishri opened #74287 "ansible-test network-integration <target> does not copy host_vars/group_vars to temp directory created when the command is executed"
### Summary

When the ansible-test network-integration <target> command is executed, a temporary directory with the dependent roles are copied to a temporary folder inside which tests are executed.

I have host_vars and group_vars folders present in my collection/tests/integration/ folder where even my inventory.networking file resides.

I need to have host_vars and group_vars as I have a large nu

[2021-04-15 08:15] deepakjoshishri commented on #74287
Renaming temporarily copied inventory file name to something which does not have `.` in it will help, presently it gets copied as inventory.networking which stops other parsers from successfully parsing it as they fail verify_file() method.

This would only solve the parsing problem and not of host_vars and group_vars, even if ansible has a good capability of separating variables, I'm not able to

[2021-04-15 10:44] bsmeding commented on #58632
Same result with 2.10.7,
option is available in uri module, but still not accepted.
only with environmet overrule the task set proxy correct

[2021-04-15 11:16] mkrizek commented on #73987
This is due to how `include_role` tasks are processed in the task execution engine and how handlers are prioritised. Effectively what happens is:
1. Tasks and handlers from the test role from the *first* iteration are included (*not* executed).
2. Tasks and handlers from the test role from the *second* iteration are included (*not* executed).
3. Now tasks included in the *first* iteration are exec

[2021-04-15 12:59] bcoca commented on #74275
author confused it with 'name' which is supposed to be 'pretty display name', but basically that is the description

[2021-04-15 13:38] Akasurde commented on #74275
I am working on it.

[2021-04-15 13:56] s-hertel commented on #74286
This is working as intended. A git repo is not a collection itself. Installing from one is intended as a shortcut during development and mimics the build-install process: it clones the repo, checks out the right commitish, locates the collection directory, builds the collection from the galaxy.yml, and then removes the temporary git clone. If we replaced the `version` field with the commitish it w

[2021-04-15 15:32] NilashishC opened #74292 "[devel] proxy_command not read from ssh_*"
### Summary

The changes introduced in https://github.com/ansible/ansible/commit/935528e22e5283ee3f63a8772830d3d01f55ed8c resulted in `proxy_command` not being read from ssh_* settings for ansible.netcommon.network_cli. When set directly with the `proxy_command` ini entry or through the environment variable it works.

### Issue Type

Bug Report

### Component Name

paramiko_ssh.py

### Ansible Ver

[2021-04-15 15:51] luborjurena opened #74293 "Broken lxd connector after ansible update from 2.9 to 2.10"
### Summary

After updating from ansible 2.9.20 to ansible 2.10.8 the lxd connector is not working anymore.

### Issue Type

Bug Report

### Component Name

lxd

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Debian 10.9, Ubuntu 20.04, ...

### Steps to Reproduce

playbook.yml
[code]
inventory:
[code]
[code]

### Expected Results

After ansible downgrade from 2.10 to

[2021-04-15 15:59] sivel commented on #74293
!component =lib/ansible/plugins/connection/lxd.py

[2021-04-15 16:03] #74293 closed, assigned to nobody

[2021-04-15 16:36] samdoran commented on #74171
More specifically, we explicitly hold the "task started" banner when running `free` or `host-pinned` strategies to ensure the task banner goes with the task result.

https://github.com/ansible/ansible/blob/a13f181fd1f01f62b65ed90aee7a26c038e36f75/lib/ansible/plugins/callback/default.py#L205-L208

If we didn't do this, task banners would all be printed, then later the results would come is as they

[2021-04-15 16:52] samdoran commented on #74286
I agree with @s-hertel: this is currently working as intended. `MANIFEST.json` is meant to be the source of truth for the collection version as collections are primarily artifact-based, not repo-based.

I somewhat see the value in adding another command line flag to display the current HEAD if a collection is a repo. This seems like a developer-centric feature and should not be in the default outp

[2021-04-15 17:37] luborjurena commented on #74293
[code]
This playbook have loaded moved content.

[2021-04-15 19:07] #74225 closed, assigned to bcoca

[2021-04-15 19:08] bcoca commented on #74264
fixed in 2.10 and above

[2021-04-15 19:12] samdoran commented on #74264
This was fixed by 3f47610d94c74de8127abe626bff56064d6eea89 (2.10 and later, as @bcoca pointed out). Ansible 2.9 is very shortly going to move to security-fix only, so this change will not be backported to 2.9. Please update to Ansible 2.10 or later.

[2021-04-15 19:12] #74264 closed, assigned to samdoran

[2021-04-15 19:15] jborean93 commented on #74274
If there is no Python interpeter found does that mean the actual task is failing later on. Can you share the full task and output with `-vvv` when you run it.

Can you also verify the the code against 2.10 or a later version as the problem might be fixed already.

[2021-04-15 19:22] jnm27 commented on #74274
It is not failing because interpreter_discovery.py defaults to /usr/bin/python which happens to be the correct interpreter for esxi

[2021-04-15 19:22] jborean93 commented on #74279
The `crypt` import in `core.py` https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/filter/core.py#L23 isn't used anymore and could just be removed. There are some other places where we also import `crypt` that need to be adjusted as well but this should be an easy fix.

[2021-04-15 19:48] #74036 closed, assigned to nobody

[2021-04-15 19:52] goshansp opened #74300 "wait_for_connection should not fail when ignore_unreachable=true"
### Summary

`wait_for_connection` will cause an entire play to fail, if a host is unreachable, despite `ignore_unreachable=true`.  According  [ignore_unreachable documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html#id4) unreachable hosts should not cause the task to fail.

### Issue Type

Bug Report

### Component Name

wait_for_connection

### Ansible V

[2021-04-15 19:54] goshansp commented on #74300
Should line 111 be removed from https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/wait_for_connection.py ?

[2021-04-15 19:56] jborean93 commented on #74292
The PR https://github.com/ansible/ansible/pull/53037 needs to be updated and merged in to the functionality back. Unfortunately that changed touched the play context without updating the paramiko config setup which needs to be modified.

[2021-04-15 20:00] jborean93 commented on #74300
The `wait_for_connection` handles unreachable hosts and I think you need `ignore_errors: true` instead here because it's seen as a failed task and not an unreachable host where the errors are being handled. I'm not sure we can change the behaviour so it also respects `ignore_unreachable` but that would require some further investigation.

Are you able to see if `ignore_errors` helps in this case?

[2021-04-15 20:04] jborean93 commented on #74274
Are you able to try 2.10 or a newer versoin as this code has changed a lot since 2.9 so maybe it's been fixed already and just not backported.

[2021-04-15 20:07] jnm27 commented on #74274
2.10 is not available for RHEL yet

[2021-04-15 20:08] jborean93 commented on #74274
2.9 won't get any more bug fixes as well as it's in a security only fixes. You can always just test it out from a git clone or pip install to verify if the bug is still present or not.

[2021-04-15 20:25] jnm27 commented on #74274
I will update whenever RHEL updates its supported version, but just want to document the issue so that it gets fixed in a later version...

[2021-04-15 20:26] jborean93 commented on #74274
It might have already gotten fixed which is why I'm asking if you can try out a newer version as a test. No use keeping an issue open if it's already fixed.

[2021-04-15 20:30] jnm27 commented on #74274
Don't need to test, latest version in github shows that the check is not made:
https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/interpreter_discovery.py#L85

[2021-04-15 20:30] goshansp commented on #74300
wow @jborean93 that was impressive responsiveness, much appreciated. my usecase does not allow `ignore_errors` as we would like to detect killing the canaries at the end of the play. apparently `wait_for_connection` cannot simply return `unreachable` instead of `failed`.

[2021-04-15 20:41] bcoca commented on #74279
while we don't use it directly it is still imported via ansible.utils.encrypt, which does handle `passlib` to avoid FIPS errors, but there is no `crypt` handling there.

[2021-04-15 20:44] jborean93 commented on #74300
Yea I don't think it will be possible without breaking the existing use cases of people that have `ignore_errors: true` on the task.

[2021-04-15 20:52] #73996 closed, assigned to nobody

[2021-04-15 20:58] ghost opened #74303 "ansible_failed_task is undefined in the rescue section if an error is thrown from a loop task"
### Summary

Referencing:
- #57399
- #49942

This fix #73881 does not fix those above.

### Issue Type

Bug Report

### Component Name

block

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 16.04.5 LTS (Xenial Xerus)

### Steps to Reproduce

[code]

### Expected Results

ansible_failed_task is defined

### Actual Results

[code]

### Code of Conduct

I agree t

[2021-04-15 21:00] sivel commented on #74303
This was literally fixed minutes ago in https://github.com/ansible/ansible/pull/74290

[2021-04-15 21:07] beinbliss commented on #74303
Indeed. Just applied the patch and tested in few real world cases. Everything is working now. Thanks. Closing.

[2021-04-15 21:07] #74303 closed, assigned to nobody

[2021-04-15 21:56] jborean93 commented on #74276
The PR https://github.com/ansible/ansible/pull/74302 includes the fix sivel mentions with a tiny modification. As mentioned it still fails when you use an `int` but it's not a traceback and gives you a hint as to what the problem is.

[2021-04-15 23:52] drawks commented on #74281
This behavior is very surprising and the documentation AND explanation in this issue thread do not clearly explain why it is the way it is. I'm :+1: on raising a warning at least when a role/play is constructed which tickles this behavior.

[2021-04-16 04:54] Akasurde commented on #74274
@jnm27 @jborean93 I can see this -

[code]

[2021-04-16 06:02] jborean93 commented on #74274
It's interesting that it failed to find `/usr/bin/python` yet when it defaulted to that it was fine.

[2021-04-16 06:36] jnm27 commented on #74274
Right, that's the main bug but the previous ticket was closed because it still worked, so didn't want to report that again.

[2021-04-16 07:57] ptux commented on #64016
@sivel

You could assign this to me.
I'm going to fix it.

[2021-04-16 09:04] goshansp commented on #74300
for example `gather_facts` and `ping` adhere to `ignore_unreachable` by not causing failed=1 and i grow in confidence that `wait_for_connection` behave the same.

[2021-04-16 10:47] masaki-furuta opened #74313 "The playbooks_templating page does not have a pointer to a Jinja2 document."
### Summary

There is no pointer for Jinja2 Docs at https://docs.ansible.com/ansible/latest/user_guide/playbooks_templating.html,
Would you please add pointer to Jinja2 Docs (https://jinja.palletsprojects.com/en/2.11.x/) at 'see also' section ?

### Issue Type

Documentation Report

### Component Name

user_guide/playbooks_templating

### Ansible Version

[code]

### Configuration

[code]

### OS

[2021-04-16 13:51] sivel commented on #74281
Because that is how it was written.

I did previously mention:

However, this is not simple, and may require breaking backwards compatibility of other "features".

In any case, as I stated in my very first comment, this is a duplicate of #73921.

Closing to track this in other previously open issues.

[2021-04-16 13:51] #74281 closed, assigned to nobody

[2021-04-16 15:00] richard-mauri opened #74316 "ansible-playbook --check to run the win_service taskcauses errors if the service does not exist"
### Summary

When ansible-playbook --check is executed against a playbook that creates a windows service and the service does not exist, causes internal errors and failures. I found a link to the ansible source code mentioned in the error. I see there is no defensive handling when the service does not exist. I believe this is a bug.
When I subsequently The same command without --check, then it cre

[2021-04-16 15:08] #69397 closed, assigned to maxamillion

[2021-04-16 15:09] #74276 closed, assigned to jborean93

[2021-04-16 15:10] #69846 closed, assigned to nobody

[2021-04-16 15:10] sivel commented on #74316
!component =lib/ansible/modules/windows/win_service.ps1

[2021-04-16 15:17] #74316 closed, assigned to nobody

[2021-04-16 15:24] s-hertel commented on #38058
May be fixed by #42396

[2021-04-16 15:32] s-hertel commented on #37885
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like. The 'sh' command is com

[2021-04-16 15:32] #37885 closed, assigned to nobody

[2021-04-16 15:37] s-hertel commented on #37673
There's a PR for this: #70660. Closing this so we can track it in one place.

[2021-04-16 15:37] #37673 closed, assigned to nobody

[2021-04-16 15:48] s-hertel commented on #37566
We believe this has been fixed in later versions of systemd already. Feel free to open a new issue if this is still a problem.

[2021-04-16 15:48] #37566 closed, assigned to nobody

[2021-04-16 15:50] s-hertel commented on #37495
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2021-04-16 15:50] #37495 closed, assigned to nobody

[2021-04-16 15:59] #37332 closed, assigned to nobody

[2021-04-16 16:02] s-hertel commented on #37102
This looks like a duplicate of #51799. Here is how to fix it: https://github.com/ansible/ansible/issues/51799#issuecomment-461215142

[2021-04-16 16:02] #37102 closed, assigned to nobody

[2021-04-16 17:39] samccann commented on #73201
completed.

[2021-04-16 17:39] #73201 closed, assigned to nobody

[2021-04-16 17:40] samccann commented on #73195
completed.

[2021-04-16 17:40] #73195 closed, assigned to nobody

[2021-04-16 17:40] samccann commented on #72032
Completed.

[2021-04-16 18:31] pantelis-karamolegkos opened #74320 "Installation of docker-compose pip module fails with ansible, succeeds manually"
### Summary

Installation of pip module of `docker-compose` (seems necessary for the `docker-compose` ansible module) fails.

When ssh-ing into the host and running the task manually it succeeds.

[code]

### Issue Type

Bug Report

### Component Name

pip, docker-compose

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Controller: Debian 9
Target Host: Ubuntu 20.04

[2021-04-16 18:38] pantelis-karamolegkos commented on #74320
Just for the record, I am pretty sure I had some initial runs that were successful and for some reason it started failing from a specific point in time (not sure what triggered this behavior)

[2021-04-16 18:52] pantelis-karamolegkos commented on #74320
I also noticed that in the manual VM execution, `/usr/local/lib/python3.8` is used as a search path for `dist-packages` while on the `ansible` execution this turns out to be `/usr/local/lib/python3.5`

On my ansible run I set `-e 'ansible_python_interpreter=/usr/bin/python3'`

[2021-04-16 19:00] pantelis-karamolegkos commented on #74320
Ok this is weird...a few lines above I had this code:

[code]

When I commented the line

[code]

The task with the pip installation of `docker-compose` runs with success again (on the target host).

How is it possible that this line made the entire playbook switch to local connection?

[2021-04-16 19:03] sivel commented on #74320
`vars:` applied to a role are scoped at the play level, and affect all tasks on the play.  You should instead, start a new play that targets `localhost` instead of using `connection: local` as part of a play that targets remote hosts.

[2021-04-16 19:17] pantelis-karamolegkos commented on #74320
Thank you, closing this.

[2021-04-16 19:17] #74320 closed, assigned to nobody

[2021-04-16 20:12] #73562 closed, assigned to nobody

[2021-04-16 21:16] goshansp commented on #74300
@jborean93 do you think the PR is complete and will not break existing use cases this way? please let me now if you can refer someone to merge it or if you see room for improvement. thanks for you valuable contributions.

[2021-04-17 08:05] techtonik commented on #38417
Looking how Ansible people are comfortable with these small untidy nits, make me want to leave Ansible ASAP. =)

[2021-04-17 10:26] cambid opened #74326 "docker not detected in centos, alpine, debian"
### Summary

The facts for ansible_virtualization_type and ansible_virtualization_role are wrong if run in a dockercontainer of centos (tested with 8), alpine or debian (tested with buster). Only in an ubuntu-container (tested with focal or hirsute) are the values correct.
The problem can be reproduced with the latest stable version and the devel branch.

### Issue Type

Bug Report

### Component

[2021-04-17 12:49] cezmunsta commented on #71999
Affects downloading PyCharm from JetBrains and verifying the checksum

[2021-04-17 15:44] #73872 closed, assigned to nobody

[2021-04-17 16:16] freedge commented on #73654
Some observation  - I'm measuring here the clone system call taking 50ms (likely due to the 1.5GB RSS ansible process). The time for the clone seems to increase linearly with the RSS.

To measure that we can artificially augment the RSS of the ansible process in a dummy playbook by creating a fact with something like this at the beginning

[code]

where zeroes is a huge file we create before hand.

[2021-04-18 15:17] abdennour opened #74327 "Let's Package Ansible Roles and Collections into OCI image format 🚀"
### Summary

## Feature Request

### Use Case
Any new technology comes with its build and package system.
**App Code Artifacts** are able to be unified into one package format which is container image (OCI image).
However, **infra code artifacts** still have different formats:
 - Ansible --> git repo or tgz file
 - Terraform -> git repo or ...
 - ... so on

### Proposed Solution

I propose to unif

[2021-04-18 22:56] fernandoacorreia commented on #73887
Until #73896 is merged, I was able to work around this with:

[code]

[2021-04-19 04:01] stazio opened #74329 "Disable NO MORE HOSTS LEFT when there are more hosts left"
### Summary

I have a playbook called `sync_folders` which synchronizes several folders to many machines. I do not want to synchronize every server to every machine, and some machines are different than others, so I use the `hosts` tab so each server gets the files it needs. The problem is however, that many of my servers are unreachable throughout the day, and sometimes, a single play might fail

[2021-04-19 13:39] bcoca commented on #73654
The fork happens because we template at the 'loop level' and  the skip is per loop item, so we won't even know if the task has a loop or if it is skipped until much later in the process.

We have been looking at 'pre-computing' this in the main thread but requires quite a re-architecture and will not be easy to accomplish while still maintaining the features and flexibility that the current model

[2021-04-19 13:42] bcoca commented on #74327
how would you use multiple collections in the same play if each one is in it's own image/container?

[2021-04-19 14:59] #72032 closed, assigned to nobody

[2021-04-19 16:00] KacperKlys opened #74333 "make fails when running on two machines"
### Summary

When I run a playbook for more than one target, it finishes successfully only on one of the targets. The rest always fails even if they are exactly the same VMs. When the role is launched for only one target it also finishes without any errors.

### Issue Type

Bug Report

### Component Name

make

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Tested on

[2021-04-19 16:06] #74333 closed, assigned to nobody

[2021-04-19 16:33] #73841 closed, assigned to nobody

[2021-04-19 17:00] sivel commented on #74327
This is basically already in progress via Execution Environments.  See:

* https://ansible-builder.readthedocs.io/en/latest/

All certified collections are effectively being required to have the files prepared to create an EE, and will likely have containers available in some registries.

[2021-04-19 17:03] #73926 closed, assigned to sivel, samdoran

[2021-04-19 17:12] thaumos commented on #74327
Hi @abdennour!

Thank you for your suggestion!  Like @sivel mentioned, we are working on something similar to your suggestion.  These things are going to be called execution environments.

I strongly suggest taking a look at the presentations found at AnsibleFest that reference builder and the execution environments.  Also stay tuned to our blog for more information on these components in the near

[2021-04-19 17:13] #74327 closed, assigned to nobody

[2021-04-19 17:56] samccann commented on #68918
This content is now scheduled to appear on access.redhat.com and is tracked elsewhere so closing this issue.

[2021-04-19 17:56] #68918 closed, assigned to lmalivert

[2021-04-19 20:35] sivel opened #74336 "Improve performance of `ansible.template.is_template` with quick check short circuit"
### Summary

`ansible.template.is_template` tries to loop until it determines if the value is indeed a template.  Which means we could loop extremely large strings, that don't even remotely look like templates, before we bail.

However, we could benefit from moving `Templar.is_possibly_template` to the global scope, and testing whether the value after `jinja_env.preprocess` is even possibly a temp

[2021-04-20 01:28] #74282 closed, assigned to relrod

[2021-04-20 12:17] man4red opened #74341 "win_template doesn't work"
### Summary

It seems that the recent changes broke win_template
https://github.com/ansible/ansible/commit/22330dd322634548e0f4d88aa9c5c017b7c04851

Looks like src/dest are messed up

### Issue Type

Bug Report

### Component Name

win_template

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Debian GNU/Linux 10 (buster)

### Steps to Reproduce

[code]

### Expected R

[2021-04-20 12:19] #74341 closed, assigned to nobody

[2021-04-20 12:49] tfmark opened #74343 "azure.azcollection.azure_rm_securitygroup doesn't show idempotent behaviour"
### Summary

This might be related to https://github.com/ansible/ansible/issues/26411 which was fixed a few years ago.

I am using `azure.azcollection.azure_rm_securitygroup` and passing in **lists** for both `destination_port_range` and `source_address_prefix` parameters.

Running the playbook twice should give me `ok` but is giving me `changed`.

### Issue Type

Bug Report

### Component Name

a

[2021-04-20 12:52] #74343 closed, assigned to nobody

[2021-04-20 15:18] samdoran commented on #74329
This is not a feature we want to add. For new config options, we are trying to move to things that save command line settings and avoid settings that have a large affect on play execution (such as a global `ignore_unreachable` setting).

Setting `ignore_unreachable` on each play (though I know that is a lot) would be one solution. Alternatively, you would write a custom strategy that never puts a

[2021-04-20 15:18] #74329 closed, assigned to nobody

[2021-04-20 15:23] c0xc opened #74345 "Create missing mountpoint without permissions?"
### Summary

In some environments, it's common practice to create mountpoints without read/write permissions to prevent admins and services from using them as local directories, filling up the local disk. With Ansible's mount module, a missing mountpoint is created with the default umask instead, so it may be mistaken for a mounted share if the mount failed. Is it possible to have missing mountpoi

[2021-04-20 15:26] #74345 closed, assigned to nobody

[2021-04-20 15:29] samccann commented on #74194
This PR also suggests we need to be >= 3.2 - https://github.com/ansible/ansible/pull/74268/files#diff-55afa0e374c236bc768e486db6ce391902ba4db29f456b34f7c39fafd9913d3bR47

[2021-04-20 15:29] acozine commented on #74194
Also related to https://github.com/ansible/ansible/pull/74268/files#diff-55afa0e374c236bc768e486db6ce391902ba4db29f456b34f7c39fafd9913d3bR47.

We may want to make Sphinx >= 3.2 our goal.

[2021-04-20 15:47] #74279 closed, assigned to bcoca

[2021-04-20 15:56] Akasurde commented on #74313
@masaki-furuta Could you please check if PR #74348 works for you and let me know? Thanks

needs_info

[2021-04-20 16:01] #40359 closed, assigned to nobody

[2021-04-20 16:44] rhysmeister opened #74350 "ansible-test broken in dev"
### Summary

My unit tests in the following repo broke recently...

https://github.com/ansible-collections/community.mongodb/blob/master/.github/workflows/ansible-test.yml

The "Generate Coverage Report" started failing with the following output..

[code]

It's actually the previous task that was failing...

[code]

and thus the tests/output directory was not created. After going down a bit of rab

[2021-04-20 16:52] sivel commented on #74350
This comment describes the change:

https://github.com/ansible-collections/overview/issues/45#issuecomment-756551123

However, we probably need to ensure we don't stacktrace.

With units you will only be able to use python3.8+ for controller code.

[2021-04-20 16:57] rhysmeister commented on #74350
https://github.com/ansible-collections/overview/issues/45#issuecomment-822858320

Thanks, I was just reading the original link and wondering why it didn't make sense. I see the new one looks relevant. Closing here.

[2021-04-20 16:57] #74350 closed, assigned to nobody

[2021-04-20 17:14] #74313 closed, assigned to Akasurde

[2021-04-20 18:33] jeee opened #74352 "Authentication or permission failure when gathering facts on group and ansible_user: root before normal user"
### Summary

When the host that needs "ansible_user: root" is not on the last entry it fails. (So if you swap host2 and host3 it works)

host.yml
[code]

playbook
[code]

### Issue Type

Bug Report

### Component Name

-

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04

### Steps to Reproduce

see summary

### Expected Results

no difference with differen

[2021-04-20 19:40] #73983 closed, assigned to samdoran

[2021-04-20 20:45] Garreat commented on #20077
It's ugly, but using a symlink works

[2021-04-20 20:54] mattclay commented on #74350
@rhysmeister Thanks for the bug report. I've opened a PR to fix the traceback you reported: https://github.com/ansible/ansible/pull/74357

[2021-04-20 21:48] jnm27 opened #74358 "module_defaults does not respect variable precedence"
### Summary

I have module_defaults which can change dynamically based on variables. However, it only recognizes changes that are made via set_fact, not via vars: declarations at the task or block level.

### Issue Type

Bug Report

### Component Name

module_defaults

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8.2

### Steps to Reproduce

[code]

### Expect

[2021-04-20 21:55] jnm27 commented on #74358
It works as expected when set_fact is never called (respects vars: scope)
[code]

[code]

[2021-04-21 04:55] flowerysong commented on #74358
This is not a bug, this is the expected behaviour. set_fact has a higher precedence than the vars you are setting. See https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

[2021-04-21 05:56] jnm27 commented on #74358
Ugh got it. That's counterintuitive but I understand. Workaround will be to define an overridable variable that I don't plan to set_fact on that will change the behavior of the defaults, in addition to the fact-settable variable.

[2021-04-21 05:56] #74358 closed, assigned to nobody

[2021-04-21 07:22] ephracis commented on #20077
We are using this in 2.9:

[code]

This will execute the tasks in `roles/openstack/tasks/facts/os_environment.yml`.

[2021-04-21 08:28] okapia opened #74363 "firewalld task is not idempotent for adding ports"
### Summary

I'm using the `firewalld:` task with the `port:` option. The first time this is run on a host, it works fine. However on any later or subsequent runs, I get an error: `ERROR: Exception caught: org.fedoraproject.FirewallD1.Exception: ALREADY_ENABLED: 'xxxxx:tcp' already in 'public' Permanent and Non-Permanent(immediate) operation`

This violates idempotency which is really the whole po

[2021-04-21 08:35] #74363 closed, assigned to nobody

[2021-04-21 12:04] markom84 opened #74365 "lineinfile not idempotent when single line is split to multiple lines in yaml"
### Summary

Lineinfile module is not idempotent when line to be added is split into multiple lines in yaml file.
[code]
is behaving differently than:
[code]

When multiline option **>** is used, line is added to text every time playbook runs.

### Issue Type

Bug Report

### Component Name

lineinfile

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

ansible controlle

[2021-04-21 14:02] azrdev commented on #55028
apparently there is (in >= 2.9 at least) the config option [HOST_PATTERN_MISMATCH](https://docs.ansible.com/ansible/2.9/reference_appendices/config.html#host-pattern-mismatch) defaulting to `warning`, which can be set to `error` and `ignore`. I think this does what's requested here (`ignore`) and in #14693 (`error`)

[2021-04-21 14:15] HammerZ3it opened #74367 "vmware_guest Module - VM Advanced Options fail with Ansible 3.2"
### Summary

Adding VMware VM with Advanced Options fails with Ansible 2.10.8 The same Playbook was fine with Ansible 2.9.*

### Issue Type

Bug Report

### Component Name

vmware_guest

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

vSphere Client version 6.7.0.46000

### Steps to Reproduce

[code]

### Expected Results

Creates a New VMware vSphere VM with addition

[2021-04-21 14:21] #74367 closed, assigned to nobody

[2021-04-21 15:48] markom84 commented on #74365
Yes, that seems to be it. Thanks.

[2021-04-21 15:48] #74365 closed, assigned to nobody

[2021-04-21 17:14] diego-treitos opened #74369 "`ansible_failed_task` references loop variables that are not available in `rescue`"
### Summary

It is my understanding that the bug #57399 references a problem when using a loop with `include_role`, however in that very same thread, a different bug is reported and it was not fixed in the PR https://github.com/ansible/ansible/pull/73881 and therefore still fails in `ansible==3.3.0` and `ansible-base==2.10.8`.

### Issue Type

Bug Report

### Component Name

ansible

### Ansible V

[2021-04-21 17:23] diego-treitos commented on #74369
NOTE: As a very dirty workaround, you can make this work if you declare the `item` variable in the `rescue` section with all the keys used in all the tasks inside the block.

For the provided example, the workaround would be:

[code]

If you have other tasks inside `block` that use a loop with the `item` variable, you have to include all of the `item` keys in case any of them fail. For example:

[

[2021-04-21 17:34] samccann commented on #73635
Tasks completed

[2021-04-21 17:34] #73635 closed, assigned to nobody

[2021-04-21 17:54] bcoca commented on #74071
for some reason delegated vars are not being passed, but in any case we should not need em.

[code]

[2021-04-21 18:02] OmarOdaini commented on #22473
1+

[2021-04-21 18:42] sivel commented on #74369
This has already been resolved in https://github.com/ansible/ansible/pull/74290

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-04-21 18:42] #74369 closed, assigned to nobody

[2021-04-21 20:05] andreasnuesslein commented on #28997
+1

[2021-04-21 21:27] #74283 closed, assigned to bcoca

[2021-04-22 08:15] trsqr opened #74379 "High memory consumption when adding items to a list"
### Summary

When I try to add a larger number of items (1800) into a list in a loop the memory consumption of Ansible goes through the roof. The processing gradually becomes very slow and the memory usage of ansible-playbook is around 5 gigabytes at worst point. This seems to be completely out of proportion considering that the whole 1800 lines of text is approximately 43 kilobytes.

Logging the

[2021-04-22 08:17] trsqr commented on #74379
Attaching the memory usage stats and the used lines.txt:
[memusage.txt](https://github.com/ansible/ansible/files/6356671/memusage.txt)
[lines.txt](https://github.com/ansible/ansible/files/6356672/lines.txt)

[2021-04-22 12:55] phemmer opened #74380 "Slow performance of VariableManager.get_vars()"
### Summary

While attempting to diagnose performance issues of slow ansible runs, I discovered that a vast majority of the time is being spent in [`VariableManager.get_vars()`](https://github.com/ansible/ansible/blob/v2.10.8/lib/ansible/vars/manager.py#L146).

![image](https://user-images.githubusercontent.com/1826947/115716445-301acb80-a347-11eb-92ee-0188d25bf3fe.png)

ncalls | tottime | percall

[2021-04-22 13:25] bcoca commented on #74379
This is not an efficient way to construct the list, consider you keep a copy of each iteration of adding an item to the list for the `.results`, per host.

I recommend using vars: + jinja2 filters to construct such things in an efficient manner:
[code]

[2021-04-22 13:31] hylaride opened #74381 "Ansible showing wrong version?"
### Summary

When I do a fresh install of ansible 3.3, an `ansible --version` shows the ansible-base version of `2.10.8`.  Is this correct?

[code]

### Issue Type

Bug Report

### Component Name

pip

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu, but this is also happening on my macOS installation

### Steps to Reproduce

`pip install ansible==3.3.0` and th

[2021-04-22 13:34] jean-christophe-manciot opened #74382 "The when conditional over a block containing an include_role is applied to all role tasks despite no 'apply'"
### Summary

- when including a dynamic role with a when condition, the latter is not applied to any task inside the role when it is called, as expected
- when including a dynamic role inside a block with a when condition, the latter is applied to all tasks inside the role when it is called. This is a major issue because as soon as the condition is rendered false by one of the role tasks, the role

[2021-04-22 13:39] Fred-sun opened #74383 "Cannot find module 'msrest' and 'msretazure' when execute sanity test"
### Summary

When I try to execute sanity test with ansible-2.11 or ansible-2.12.0.dev0, encounter the following issue --- "traceback: ModuleNotFoundError: No module named 'msrest'",
command: "ansible-test sanity --color -v --junit"

### Issue Type

Bug Report

### Component Name

plugins/inventory/azure_rm.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu-20

[2021-04-22 13:42] hylaride commented on #74381
-label affects_2.10
+label affects_3.3

[2021-04-22 13:47] mkrizek commented on #74381
Duplicate of https://github.com/ansible/ansible/issues/72962.

[2021-04-22 13:47] #74381 closed, assigned to nobody

[2021-04-22 13:53] Fred-sun commented on #74383
The problem occurs with Ansible 2.11 and later, and Ansible2.9 and 2.10 are OK!

[2021-04-22 13:53] Fred-sun commented on #74383
urgent

[2021-04-22 13:54] mkrizek commented on #74380
Possible duplicate of https://github.com/ansible/ansible/issues/73654#issuecomment-784858199

[2021-04-22 13:55] gundalow commented on #74383
1. Did this previously work
2. Please link to a repo where this is failing

[2021-04-22 13:56] gundalow commented on #74383
You've always needed to install dependencies, see the `requires.txt` files under `tests/`

[2021-04-22 13:57] sivel commented on #74383
This is expected behavior.  In 2.11 we extended the `import` sanity test to all plugin types.  The error you are getting indicates that you have not properly guarded your imports to ensure that a user will not get an exception if the dependencies are missing.

The `import` sanity test purposefully runs in an clean virtual environment, to ensure that any installed dependencies do not impact the res

[2021-04-22 14:00] Fred-sun commented on #74383
@gundalow Yes, I used to work! On ansible2.11@dev0！repo ----https://github.com/ansible-collections/azure.git

[2021-04-22 14:02] gundalow commented on #74383
Please subscribe to https://github.com/ansible-collections/overview/issues/45 and The Bullhorn (top right) https://mailchi.mp/redhat/the-bullhorn-21 so you are aware of changes that are comming

[2021-04-22 14:04] sivel commented on #74383
This change was made in https://github.com/ansible/ansible/pull/72497 and subsequently announced at https://github.com/ansible-collections/overview/issues/45#issuecomment-778498813

[2021-04-22 14:19] Fred-sun commented on #74383
Even if we can ignore it using try/except/ ImporError, the module will inherit the imported contents,  It will get "Name Error"!

[2021-04-22 14:20] sivel commented on #74383
See item #2 on https://docs.ansible.com/ansible-core/devel/dev_guide/testing/sanity/import.html for more information.

Just as you must do in modules, you will have to place a `try/except` around your non stdlib imports, to ensure they do not fail with an `ImportError` when the dependencies are not available.

As such, you will have to conditionally define classes that directly depend on non stdli

[2021-04-22 14:39] mkrizek commented on #74382
This works as expected. `include_role` inside a block includes tasks from within the role into the block (in addition it includes handlers from the role). And all tasks within a block inherit `when` conditional as documented in https://docs.ansible.com/ansible/latest/user_guide/playbooks_blocks.html#grouping-tasks-with-blocks.

[2021-04-22 14:51] jean-christophe-manciot commented on #74382
Could you point to the official documentation stating that  a role dynamically included inside a block is treated like a static imported role?

In other words, you're saying that ```include_role``` and ```import_role``` inside a block are treated the same way, which is counter intuitive and defeats the initial use case for including dynamic roles.

They should not be treated the same way.

[2021-04-22 14:58] bcoca commented on #74382
inheritance from blocks are treated the same way, include and import are not when assigning keywords directly to them, but they still follow general inheritance rules for the play objects they are contained in.

[2021-04-22 15:24] Fred-sun commented on #74383
@sivel @gundalow Thanks for your help! I will close it!

[2021-04-22 15:24] #74383 closed, assigned to nobody

[2021-04-22 15:29] jean-christophe-manciot commented on #74382
I'm sorry, what?

The question is:
**Do blocks transform dynamic roles into static roles**?

This would not make any sense to me.

[2021-04-22 15:33] sivel commented on #74382
Tasks inherit keywords from static parents, skipping dynamic parents during the inheritance lookup.  `include_role` is dynamic, so tasks within the `include_role` do not inherit direct keywords from the `include_role` task.

As such, a task from an `include_role`, where the `include_role` is wrapped in a `block`, inherit the keywords from the `block`.

Consider this example:

[code]

You would wan

[2021-04-22 15:41] sivel commented on #74379
Also consider that due to how python deals with memory, that all variables within a fork are not shared memory but copies.  And even when python releases memory back to the OS, that memory may not be immediately reclaimed while memory is being rapidly allocated/deallocated, or the system is otherwise busy with other CPU intensive tasks.

[2021-04-22 15:50] bcoca commented on #74382
the role being dynamic does not in any way remove 'inheritance' from it, the difference for dynamic vs static mostly applies to the task itself, static get calculated on compile, while dynamic at runtime, the rest of 'inheritance' rules still apply.

[2021-04-22 16:03] Maheshdamu opened #74385 "ssh failure from Linux to Aix"
### Summary

not able to connect from linux to AIX

### Issue Type

Documentation Report

### Component Name

connect to AIX host

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

linux: Linux hostname 3.10.0-1160.24.1.el7.x86_64 #1 SMP Thu Mar 25 21:21:56 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

AIX: 7.2

### Additional Information

trying to perform a task  from linx

[2021-04-22 16:07] #74385 closed, assigned to nobody

[2021-04-22 16:16] #73597 closed, assigned to nobody

[2021-04-22 16:18] jean-christophe-manciot commented on #74382
Your reasoning is complex because conditionals are inherently treated differently between static and dynamic roles, as explained in the [conditionals doc](https://docs.ansible.com/ansible/latest/user_guide/playbooks_conditionals.html#conditionals-with-roles), 3rd point.

It seems that due to the static nature of blocks, included roles  lose their conditionals feature.

It would be very helpful to

[2021-04-22 19:08] #74275 closed, assigned to nobody

[2021-04-22 19:12] #74352 closed, assigned to nobody

[2021-04-22 19:13] acozine commented on #74352
@jeee I can't tell from this issue what you are trying to achieve with the playbook you posted. You'll get more help from the mailing lists if you include details about why you are running the playbook, and what your goals are.

[2021-04-22 19:19] jeee commented on #74352
It just gets the facts from other nodes. And somehow ansible gives different output (fails) depending on the order of the hosts. That seems like a bug to me.

[2021-04-22 19:27] bcoca commented on #74379
closing as per above

[2021-04-22 19:27] #74379 closed, assigned to nobody

[2021-04-22 19:27] bcoca commented on #74380
closing as dupe

[2021-04-22 19:27] #74380 closed, assigned to nobody

[2021-04-22 19:32] bcoca commented on #74382
@jean-christophe-manciot again, this is not specific to block or include_roles, this is general inheritance in plays, can you suggest a clearer way to make this point in our docs?

reclassified as this is not a bug, but our docs might benefit of a clarification to avoid confusion on this complex topic.

[2021-04-22 21:08] evenreven commented on #46963
When it comes to `set-enabled` this won't work. CentOS 8 has several disabled repo files in this directory by default (that set-enabled enables), so checking for existence of the file itself won't do any good. Unless there's a module that uses an API to check for repos that are actually enabled, only lineinfile will work (unless I'm missing something).

[2021-04-23 06:24] Fred-sun opened #74394 "Get 'hostvars' is null with inventory plugin after ansible2.11 version"
### Summary

When I try to execute playbook to get 'hostvars' info by inventory plugin 'azure.azcollection.azure_rm'. I got hostvars={} with ansible-(2.11, 2.12.0.dev0), But it success in ansible-(2.9, 2.10).  If unused fully qualified name, It will get hostvars info with ansible-(2.11, 2.12.0.dev0). But it not match with ansible plugin document(If the plugin is in a collection, use the fully qual

[2021-04-23 07:37] sjpb commented on #46963
Yes you're right - the "add repo" and "enable repo" cases are different.

[2021-04-23 07:52] evenreven commented on #46963
I adapted your lineinfile task to a playbook of mine, btw. Thanks, @sjpb !

[2021-04-23 09:29] radekbenkel opened #74397 "`uri` module uses `.netrc` to overwrite `Authorization` header even if specified"
### Summary

When `.netrc` for specific host is present, it overrides defined headers (like `Bearer`) which cause errors when calling endpoints that do not support `Basic` auth.

There is workaround to temporarily change `.netrc` content or filename to `.bak` and restore it after running task, but it seems cumbersome.

I see two possible solutions (although I'm just starting with Ansible, so pleas

[2021-04-23 11:38] goshansp commented on #74300
switching from ```wait_for_connection``` to ```ping``` seems to fix my issue. further i think ```wait_for_connection``` is not behaving according documentation nor intuitive and it should be deprecated. from my understanding ```wait_for_connection``` can be completely replaced using ```ping/until/retries```.

[2021-04-23 11:38] #74300 closed, assigned to nobody

[2021-04-23 12:42] goneri opened #74398 "ansible-test sanity ignore files should accept wildcard"
### Summary

Hi!,

The maintenance of the ignore files of `ansible-test sanity` is time consuming. The fact we need to add multiple lines for each modules is annoying and can certainly be improved.

For instance vmware.vmware_rest does not support Python < 3.6. It would be great if we can just globally disable some tests like compile-2.6 of import-2.7. Instead we need to add 4 lines for each modul

[2021-04-23 12:53] phemmer commented on #73654
In my case on this, the `wrap_var()` is accounting for about 35% of the CPU time. The `wrap_var()` call should be returning early if the var is already wrapped as `AnsibleUnsafe`. I would think it shouldn't be too difficult to just ensure the fact cache loader is always using `AnsibleUnsafe` vars on load.

I switched to using pickle for fact caching, and it helped this issue somewhat, as some of t

[2021-04-23 13:48] sivel commented on #73654
For 2.12 we are going to be working on a new proxy object, that we plan to replace the unsafe functionality with, and part of the goal is that we just wrap the container and not every key/value, or element within.  I'm not sure that replacing unsafe will happen in 2.12, since we have to build the generic proxy functionality first, but potentially by 2.13.

[2021-04-23 14:50] Fred-sun commented on #74394
Any update for this?

[2021-04-23 15:01] #73887 closed, assigned to nobody

[2021-04-23 15:03] bcoca commented on #22531
closing as per above, this is a default and it is simple to override.

[2021-04-23 15:03] #22531 closed, assigned to nobody

[2021-04-23 15:07] bcoca commented on #36963
This is not a bug but a non implemented feature, the module is not handling all possible URI formats. If someone wants to contribute the handling of that format, we are open to review it, but we are not currently looking to implement it.

As such I'm closing this ticket.

[2021-04-23 15:07] #36963 closed, assigned to nobody

[2021-04-23 15:07] egmar commented on #73654
Perhaps another thing to do, is to use Python 3.8 [SharedMemoryManager](https://docs.python.org/3/library/multiprocessing.shared_memory.html) and afaik, Ansible 2.12 will require Python 3.8 anyway. Since Ansible forks generally target specific host, one place it could help is supplying only a sub-set of facts or vars in general, which should result in forks using less memory.

[2021-04-23 15:10] bcoca commented on #36925
I'm going to close this as there does not seem to be much demand for this feature nor much 'offer' in the way of anyone implementing it. Since the core team is not planning on doing it either it makes little sense to keep this around.

However we are open to a submission that implements this feature.

[2021-04-23 15:10] #36925 closed, assigned to nobody

[2021-04-23 15:11] bcoca commented on #36539
I'm going to close this as there does not seem to be much demand for this feature nor much 'offer' in the way of anyone implementing it. Since the core team is not planning on doing it either it makes little sense to keep this around.

However we are open to a submission that implements this feature.

[2021-04-23 15:11] #36539 closed, assigned to nobody

[2021-04-23 15:13] bcoca commented on #36369
depth was added in 2.6 (max depth)

[2021-04-23 15:15] bcoca commented on #35681
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this feature request because there seems to be little or no demand for this feature and the current workflow seems to be good enough for most users.

However, we're absolutely always up for discussion.
Since this is a really busy projec

[2021-04-23 15:15] #35681 closed, assigned to nobody

[2021-04-23 15:18] selivan commented on #36369
@bcoca That is good. Having `mindepth`  would be also nice, like in `find` command.

[2021-04-23 15:19] bcoca commented on #35537
closing as per above

[2021-04-23 15:19] #35537 closed, assigned to nobody

[2021-04-23 15:20] s-hertel commented on #36925
It doesn't appear that `archive` using github repositories is supported via the git cli either. This could be implemented by getting the tar file from github directly, for example `https://github.com/User/repo/archive/devel.tar.gz`, but it's probably preferable to do that with a `command` task instead of adding it to the module.

[2021-04-23 15:21] samdoran commented on #35606
The `state: list` functionality is using `repoquery` which does not allow for excluding items. The module would need to filter the output of `repoquery.`.

[2021-04-23 15:24] bcoca commented on #35231
Because of inconsistent availability of 'restart' in most services we do stop + start as a rule, for your specific need we recommend using shell/command instead as the service module will never be 'smart enough' to know the 0.1% of cases need an actual 'restart' instead of being covered by 'stop + start', as such I don't see us updating the modules and will close this ticket.

However if anyone ca

[2021-04-23 15:24] #35231 closed, assigned to nobody

[2021-04-23 15:28] bcoca commented on #35085
this seems to be an issue with systemd being installed in the middle and tripping our detection, as a workaround `use=` can force the service manager when using the `service` action or you can try using `sysvinit` or `systemd` actions directly.

[2021-04-23 15:29] bcoca commented on #34988
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2021-04-23 15:29] #34988 closed, assigned to nobody

[2021-04-23 15:30] bcoca commented on #34974
closing as per above

[2021-04-23 15:30] #34974 closed, assigned to nobody

[2021-04-23 15:30] bcoca commented on #34594
I'm going to close this as there does not seem to be much demand for this feature nor much 'offer' in the way of anyone implementing it. Since the core team is not planning on doing it either it makes little sense to keep this around.

However we are open to a submission that implements this feature.

[2021-04-23 15:30] #34594 closed, assigned to nobody

[2021-04-23 15:36] bcoca commented on #34554
This is not a change in formatting but an error while trying to JSONizise the output, which requires it to be utf8, without a full dump I cannot assure if it is an encoding issue or a object serialization one, in any case it has to do with the data and not with the code (which compensates for the error by using `__repr__` internal python representation instead of the 'nice' JSON display.

Without

[2021-04-23 15:36] #34554 closed, assigned to nobody

[2021-04-23 15:42] bcoca commented on #34335
I do not consider this a bug but a race condition, if your left and right hand are doing opposite actions, you expect to get this kind of error. Using retry/until are a good way to deal with this at the task level and should be the playbook author's call and not built into the module as such event should really require a decision from a human closer to the context in which it is run.

So I'm closi

[2021-04-23 15:42] #34335 closed, assigned to nobody

[2021-04-23 15:55] bcoca commented on #33865
As to avoid data corruption we try to update files via atomic operations, in the case of template the file is generated at the controller and copied to the remote (to remote_tmp, to where normally the module code itself is copied) from there we attempt a 'rename' and if that succeeds we go no further, this is why the ACL is failing.

If you set the remote_tmp to a different partition the rename wi

[2021-04-23 16:28] mattclay opened #74402 "Replace test coverage from incidental tests"
### Summary

The following incidental tests exist. Check them off as they are removed. If you are working on a PR to replace some or all of the coverage from one of these tests, please edit this issue and add a link to your PR under the appropriate items.

 - [x] incidental_cloud_init_data_facts - https://github.com/ansible/ansible/pull/75885
 - [x] incidental_cs_common - https://github.com/ansibl

[2021-04-23 17:20] bcoca commented on #74352
the order is incidental, the facts succeed depending on the user used for the host, if the last host has permissions you get facts, otherwise you overwrite the facts with the copy of the host that failed

[2021-04-23 17:39] samdoran commented on #36498
The command being run is essentially `svn info [repo]`, the output of which is affected by `LC_*` variables. I can duplicate this failure by setting `LC_ALL=es_ES.UTF-8`. The output the becomes:

[code]

The regexp that is parsing this output is `'^Revision:.*$'` which will not match anything. This results in a `None` object, which has no `group()` attribute.

That regular expression is used in se

[2021-04-23 17:44] #73799 closed, assigned to nobody

[2021-04-23 17:44] #74255 closed, assigned to relrod

[2021-04-23 17:47] bcoca commented on #36498
always need to force 'C' locale when scraping ....

[2021-04-23 17:48] samdoran commented on #36498
Yup. I was _just_ looking at doing that. 😁

[2021-04-23 17:54] samdoran commented on #36498
The solution is we need to explicitly set the locale in the module. I'll put together a PR.

[2021-04-23 18:36] samdoran commented on #36498
Turns out we already set this, just not completely. `LC_ALL` needs to be set as well.

https://github.com/ansible/ansible/blob/7fd989d00835f04c404d50f9bf2626e34695927c/lib/ansible/modules/subversion.py#L298

[2021-04-23 18:44] selivan opened #74404 "ansible-inventory --list --toml fails with: Unexpected Exception, this is probably a bug: '7.2'"
### Summary

When I try to run

`ansible-inventory --list --toml -vvv`

It fails with this exception:

[code]

`ansible-inventory --list` without `--toml` works fine. Inventory file has ini format.

### Issue Type

Bug Report

### Component Name

ansible-inventory

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 18.04
Python 3.6.9

### Steps to Reproduce

[code

[2021-04-23 19:14] samdoran commented on #36498
Wow, there's a lot of history here.

https://github.com/ansible/ansible-modules-core/pull/3257 - added `dict(LANG='C', LC_ALL='C', LC_MESSAGES='C', LC_CTYPE='C')` which broke paths with non-ASCII characters.

https://github.com/ansible/ansible-modules-core/pull/4358 - reverted the above change, which is how the code is today.

Setting `LC_ALL='C'` like I was thinking breaks paths with non-ASCII ch

[2021-04-23 19:33] sivel commented on #74404
You are going to need to provide an example inventory that reproduces this behavior.

[2021-04-23 19:38] selivan commented on #74404
@sivel I can not post here our production inventory for obvious reasons :) That's gonna take some time to get exact part of inventory producing this error, but I will do that.

[2021-04-23 19:56] sivel commented on #74404
I'm guessing it looks something like this:

[code]

In which case there isn't really a way to allow this to work, without changing the behavior.  We'd have to ensure that all keys are strings, which could affect your playbook.

Instead we might be able to error if any key is something other than a string, and inform the user that it must be converted to a string to use the TOML format.

[2021-04-23 20:08] sivel commented on #74404
<details>
<summary>Possible fix...</summary>
<p>

[code]

</p>
</details>

[2021-04-23 20:08] selivan commented on #74404
@sivel You are right! I have this in group vars:

[code]

I failed to notice that YAML looks at that as a float number not a string, but everything works fine, probably because ansible implicitly converts that to a string when necessary.

That would be great. Now the error message is a little bit confusing :)

[2021-04-24 03:54] mattclay commented on #74398
@goneri I recommend taking a look at https://github.com/ansible/ansible/pull/74408. It adds a feature to declare the Python requirements for testing a collection. In the case of the `vmware.vmware_rest` collection, it would simply need the following added to `tests/config.yml`:

[code]

[2021-04-25 12:07] impsik opened #74412 "vmware_guest_snapshot and datacenter value"
### Summary

I use vmware_guest_snapshot to make snapshots before ansible does dist-upgrade.
With ansible 2.10 i found out that in vmware_guest_snapshot i had "datacenter" value completely wrong.
But it worked and works just with ansible 2.9.18 (Installed via yum install)
I'm using at the moment 2.9.18 and i defined "datacenter": "random" ( we don't have datacenter named "random") and still vmware

[2021-04-25 12:27] #74412 closed, assigned to nobody

[2021-04-26 01:55] Fred-sun commented on #74394
Any feedback for this ?

[2021-04-26 05:49] relrod commented on #36963
To extend on this a bit further - this isn't an Ansible module issue at all, it is what @andreaso said above.

For ssh, the options are:
* `ssh://foo@example.com/some/repo.git` (without a `:` after the hostname)
* foo@example.com:some/repo.git` (with a `:` after the hostname)

This is incorrect, the `git` module handles that format just fine, along with `ssh://` prefixed repos, provided you use th

[2021-04-26 07:46] AsM0DeUz commented on #73982
Not really as here just using --security (without --bugfix) fails with dependencies errors

[2021-04-26 11:43] Akasurde commented on #43272
@horseinthesky Can you please retry with the latest Ansible versions, as I am not able to reproduce this?

needs_info

[2021-04-26 12:06] #73985 closed, assigned to eqrx

[2021-04-26 14:23] dangoncalves opened #74417 "reboot fails after a long time with Ubuntu when verbosity set to connection debug"
### Summary

When I perform a reboot with Ubuntu 18.04 or 20.04 remote host and with verbosity set to connection debug (-vvvv) reboot fails after a long time (several hours, much more than reboot_timeout). If I set it to debug (-vvv) it works like expected.

Tested with a Centos 7 remote host and it is not concerned by this bug.

This bug can be reproduced with devel branch but was discovered on 2

[2021-04-26 15:42] bcoca commented on #16305
The problem is the proposal only solves a narrow case, that of backups to be kept in dir on remote that is always accessed by the same account/permissions. There are many common scenarios.

backup should be kept on:
 - remote's shared dir that handles multiple users/permissions
 - controller in per host subdirs, under same account/permissions
 - controller in per 'group/org/etc' + hosts subdirs un

[2021-04-26 16:21] s-hertel commented on #74394
It looks like the plugin [only accepts the short name](https://github.com/ansible-collections/azure/blob/dev/plugins/doc_fragments/azure_rm.py#L16-L19). Choices should be `['azure_rm', 'azure.azcollection.azure_rm']`.

Fully qualified names are required for net-new inventory plugins. `azure_rm` still works because it's in the Ansible plugin redirection mapping for backward compatibility https://gi

[2021-04-26 17:28] briantist opened #74420 "ansible-test - running multiple sets of tests simultaneously that use the pypi image fails all after the first, port in use"
##### SUMMARY

When launching multiple sets of test with docker simultaneously, for example
[code]
and
[code]
Any launched after the first have started, but before it finished, can't start because `ansible-test` tries to launch a separate container sharing port 3141, which is already in use by the first one.

The second one will try to launch the container twice. The output is like so:

[code]

--

[2021-04-26 17:56] samccann opened #74422 "[Docs] Update documents and docsite for ansible-core 2.11 release"
### Summary

Documentation release checklist for ansible-core 2.11 release.

### Issue Type

Documentation Report

### Component Name

docs/docsite/sphinx_conf/core_conf.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL

### Additional Information

Supports new release on core docsite.

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-04-26 18:03] samccann commented on #74422
Tasks include:

- [ ] remove the release/maintenance page and porting guide pages from the new release when the branch is created and replace with stub page pointing up to the devel versions of these release-independent pages.
- [ ] Review changelogs in stable-2.11 for ansible-core
- [ ] Review ansible-core porting guide and ensure it links to core 2.11 changelogs
- [ ] include ansible-core in Rel

[2021-04-26 18:18] maximmasiutin opened #74423 "Invalid error message on GnuPG key import error in the apt_key module"
### Summary

When importing a key by the `apt_key` module, in case of error, the error message was incorrect, because the logic to distinguish between the file name and the explicit data was inversed.

The error message was:

`
Unable to extract key from '-'
`

While it should have been:

`
Unable to extract key from 'inline data'
`

The relevant code is in the following line from: `/lib/ansible/m

[2021-04-26 18:26] maximmasiutin opened #74424 "The ansible.builtin.apt_key module corrupts binary keys before importing them so import always fails"
### Summary

When importing a key by the `apt_key `module, it gets corrupted and not imported in the case of a binary key (not a textual “armored” key). Ansible tries to convert string data, but some data is lost on conversion, which results in a GnuPG error. This is a bug because binary data should not be converted using the `to_native` function.

### Issue Type

Bug Report

### Component Name

a

[2021-04-26 18:32] pantelis-karamolegkos opened #74425 "Mounting of /var/run/docker.sock on Ubuntu fails"
### Summary

Trying to mount docker sock fails

### Issue Type

Bug Report

### Component Name

community.docker.docker_container

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

control node
[code]

target host

[code]
### Steps to Reproduce

[code]

### Expected Results

Docker socket mount should have succeeded

### Actual Results

[code]

`docker` service debug lo

[2021-04-26 18:36] #74425 closed, assigned to nobody

[2021-04-26 18:45] maximmasiutin opened #74427 "The `yum` package manager is not supported `package_facts`"
### Summary

The 'ansible_facts.packages' module supports the 'rpm' library but not the 'yum' package manager as a binary call.

Supporting yum may be beneficial because it can return more information than just the 'rpm' library. The example of such information is whether a particular package is not installed but is available to install, or get the list of all available packages to install.

### I

[2021-04-26 18:54] maximmasiutin opened #74428 "ansible.builtin.package_facts add the list of all packages available to install"
### Summary

It is possible to get the list of all installed packages by `ansible.builtin.package_facts`, but not the list of all available to install packages.

If a package is not available to install, installing the package via the `ansible.builtin.package` gives an error. Ensuring that the packages is not installed also gives an error. It would have been beneficial to first test whether the pa

[2021-04-26 20:27] dale-c-anderson commented on #16305
After having dealt with moving backups around a few different (some very messy) ways, here's what I've settled on for now. It's very similar to @ubermug 's example [above](#issuecomment-475220643), except it adds a notify/handler for better readability, and also so I can reuse it if needed. While still far from ideal, this serves my purposes well enough.

[code]
As much as I'd love to see an optio

[2021-04-26 21:41] #74420 closed, assigned to nobody

[2021-04-27 02:29] Fred-sun commented on #74394
But it fail when use Full qualified name! It's not match to mapping for backward compatibility! Thank you very much!

[2021-04-27 06:12] VladoPortos commented on #16305
In the end I solved it like this.
Each role in playbook have the same task called backup.yml in their task folder.

backup.yml
[code]

In roles vars folder -> main.yml there is a bkp_folder variable ( just in case the role is run on its own for testing )
[code]

And in the main.yml that runs each roles there is:

[code]
This makes it so that this variable is used every time the backup is called an

[2021-04-27 06:47] ppuschmann commented on #49408
Yes, this issue is still open.

[2021-04-27 07:44] maximmasiutin opened #74437 "Redundant details about packages are always returned by the 'ansible.builtin.package_facts' without an option to exclude the details and leave package names only"
### Summary

Redundant details about packages are always returned by the 'ansible.builtin.package_facts'.

However, these details like package version are not always needed. However, they make the returned list bulky.

There is no option to exclude the details and leave package names only.

### Issue Type

Feature Idea

### Component Name

ansible.builtin.package_facts

### Additional Information

[2021-04-27 10:03] Akasurde commented on #71924
Closing this issue as PR #72125 merged.

[2021-04-27 10:03] #71924 closed, assigned to nobody

[2021-04-27 10:26] lerminou opened #74439 "[SSH] SSH as non root with become fails with Timeout (12s) waiting for privilege escalation prompt:"
### Summary

When connecting as non-root user, the playbook fails.

Due to some SSH configurations ans restrictions on the server, I need to use the following parameters:
[code]

With -vvvv I see the SSH command , and it works well from my terminal

` SSH: EXEC sshpass -d11 ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o Port=10551 -o 'IdentityFile="/home/mys

[2021-04-27 10:33] #74394 closed, assigned to nobody

[2021-04-27 10:48] rabin-io commented on #16305
@bcoca

I fill you making it sound more complicated then It should be, the backup function **assume** that the default path should be the same place as the original, and we just want to expose an option to overwrite this path to any destination we like, peoples can come with any crazy path schema they like, but without this small knob to set the path, any work around will have to be like the 2 exa

[2021-04-27 14:46] bcoca commented on #16305
@rabin-io it sounds very simple, but that is only for your use case. We need to consider more than that, but just following the modification you want, you encounter issues very soon.

For example, you have 2 applications that have the same name for the config file `main.cfg` but different paths in `/etc/` .. now using a 'directory' won't work for that context. Two common solutions come to mind (th

[2021-04-27 15:19] horseinthesky commented on #43272
Well, 3 years have passed. I try not to use Ansible anymore.

[2021-04-27 15:19] #43272 closed, assigned to nobody

[2021-04-27 15:29] mkrizek commented on #74439
See:
* https://docs.ansible.com/ansible/latest/collections/community/general/sudosu_become.html
* https://docs.ansible.com/ansible/latest/user_guide/become.html

[2021-04-27 15:29] mkrizek commented on #74439
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2021-04-27 15:29] #74439 closed, assigned to nobody

[2021-04-27 16:33] rabin-io commented on #16305
You are 100% right and I completely agree with you on the subject. But as they say, do not let the perfect be the enemy of good (or something like that).

I do not think ANSIBLE should take on the responsibility of how to manage the backups, even today there is no management of multiple copies, and they just keep accumulating in the folder. (What's more, in most cases people are happy with the cur

[2021-04-27 16:42] bcoca commented on #16305
Note that plugins (including lookups) execute on the controller, but the proposal is about directories in the remote, so this already requires an extra task to determine the path.

Aside from path, ownership and permissions would need to be dealt with .. and selinux at the very least (probably ACLs too), again, its not as simple as adding ONE knob.

As I stated above, this is my opinion, if you wa

[2021-04-27 19:29] samdoran commented on #74417
I am unable to reproduce this with Ansible 2.10.4 or `devel`.

Trying to guess from the partial output provided, it seems like `sshpass` is being used and `ANSIBLE_DEBUG` is enabled, not just increased verbosity (`-vvvv`).

[code]
</br>

Test playbook:
[code]

[code]

Can you provide the full output of successful and unsuccessful runs? No need to let in run for hours, just past the time when the s

[2021-04-27 19:39] mattclay commented on #74398
https://github.com/ansible/ansible/pull/74408 and https://github.com/ansible/ansible/pull/74429 have addressed the issues with excessive ignores mentioned here. With a `python_requires: '>= 3.6'` configuration the `vmware.vmware_rest` collection no longer requires an ignore file for 2.12.

Similar config will work for other Python 3.x only collections as well.

[2021-04-27 19:54] samdoran commented on #74081
I verified this. Will push a PR shortly.

@henriqueccapozzi That is the correct fix.

[2021-04-27 20:14] darthwalsh commented on #67759
As a workaround until this is implemented, to uninstall i.e. one copy `community.general` should it work to run one of:

    rm -rf ~/.ansible/collections/ansible_collections/community/general
    rm -rf ./venv/lib/python3.9/site-packages/ansible_collections/community/general

Or will this corrupt something?

[2021-04-27 20:40] vladaurosh opened #74458 "with_fileglob skips filename in current directory"
### Summary

When using with_fileglob with list of patterns it looks like that, if filename is in current directory, it is ignored unless it is first in the list.
For example, here something.sh is ignored:
[code]
 Also, it is ignored in this example:
[code]
 This works as expected:
[code]

Below is full example of playbook that just prints the filenames that matches the patterns in the list.

###

[2021-04-27 20:59] sivel commented on #74458
This bug was fixed in https://github.com/ansible/ansible/pull/72879

However, it looks like the backport for 2.9.z was closed, and never merged.  2.9.z is now in security fix only, and will not receive the fix.

[2021-04-27 21:05] henriqueccapozzi commented on #74081
@samdoran thanks for the feedback

[2021-04-27 21:56] vladaurosh commented on #74458
Thanks @sivel
I just installed ansible 2.10.8 but issue is still present.

$ ansible --version
ansible 2.10.8
  config file = None
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.6/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 3.6.8 (default

[2021-04-27 22:23] ckastner commented on #16305
@bcoca, I understand your arguments against a particular solution, but I think we are looking at this from two somewhat different perspectives. The alternatives you list in your [comment](https://github.com/ansible/ansible/issues/16305#issuecomment-826941444) above seem to suggest that you're thinking as "ansible providing (advanced) backup management", and indeed, that would be a hard problem, an

[2021-04-28 04:30] Shrews commented on #74458
The change in #72879 does fix this, but it was not backported to either 2.9 or 2.10 as both backport PRs were closed. And for the life of me, I do not recall why I closed those backports. Perhaps someone suggested to me that it was a breaking behavior change? I wouldn't have just closed them arbitrarily. I confirmed this is definitely fixed in 2.11 though.

[2021-04-28 04:37] voidplayer commented on #16305
+1

Im okay with 20 chars max names

```Backup``` is maybe a loaded term. Call it ```Old_config_file```

[2021-04-28 08:02] chief-wrench commented on #16305
+1 for KISS.

I, too, would be happy with a solution that covers 90% initially. Just an optional `backup_path: ""` would be fine for starters. Depending on the path starting with "/" or not, Ansible could interpret the backup_path as absolute or relative in respect to the original file path.

We could even even require the path to exist prior to executing.

[2021-04-28 08:07] maximmasiutin opened #74477 "The 'ansible.builtin.apt_key' module does not always check for 'gpg' return codes"
### Summary

Not all GnuPG return codes are analyzed (rc != 0) by the 'ansible.builtin.apt_key' module.

Relevant file:
lib/ansible/modules/apt_key.py

### Issue Type

Bug Report

### Component Name

ansible.builtin.apt_key

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Any OS

### Steps to Reproduce

Fixed by: https://github.com/ansible/ansible/pull/74478

### Expe

[2021-04-28 10:45] Akasurde commented on #67067
@julie-blake-verizon Can you please check if PR #74479 works for you and let me know? Thanks

needs_info

[2021-04-28 12:00] sandrobonazzola commented on #61443
This is happening again with CentOS Stream 8 and oVirt Node 4.4.6.
Any reason for not handling this issue in 2 years? Seems pretty bad that the module is not able to parse correctly a config file.

[2021-04-28 12:02] sandrobonazzola commented on #61443
+label ovirt

[2021-04-28 12:22] sandrobonazzola commented on #61443
Looks like this is a regression introduced in 2.8 when fixing https://github.com/ansible/ansible/issues/50141#issuecomment-449452781 by randomly picking the longest sequence of numbers in the file instead of parsing only the VERSION value.
The file which is doing the magic seems to be ./lib/ansible/module_utils/distro/_distro.py
That does:
[code]
so 4.4.6 is taken from pretty name (PRETTY_NAME="oV

[2021-04-28 12:53] #67067 closed, assigned to nobody

[2021-04-28 13:09] goneri commented on #74398
Thanks, will this be backported?

[2021-04-28 14:41] #74424 closed, assigned to nobody

[2021-04-28 14:46] Shrews commented on #74458
I reopened the 2.10 backport.

[2021-04-28 14:48] bcoca commented on #16305
@ckastner The permissions and other issues i referenced in my last post are about 'creating the backup directory(ies)', the backup files are easy as we just preserve existing.

Every time we have done this (create user home, copy/unarchive destinations, and so on) we have always been pressured to a) add the directory structure automatically and b) enable permissions/ownership management

[2021-04-28 15:10] giner opened #74480 "module service fails in docker container"
### Summary

ansible 2.10.x falsely detects `systemd` as a service manager if it is installed but not used (PR #66071). This prevents module `service` from working in a docker container and similar environments.

### Issue Type

Bug Report

### Component Name

service

### Ansible Version

[code]
[code]

### OS / Environment

Ubuntu 20.04

### Steps to Reproduce

[code]

### Expected Results

The

[2021-04-28 15:22] keirazhang opened #74481 "Failed to get Debian minor version"
### Summary

When I run setup module to get Debian 10.7 distribution information, it reported ansible_distribution_version=10. The real version is in /etc/debian_version, which is 10.7.
[code]

### Issue Type

Bug Report

### Component Name

setup

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Debian 10.7

### Steps to Reproduce

[code]

### Expected Results

I expe

[2021-04-28 16:27] bcoca commented on #16305
this is a solution i came up for my own needs:

in module_utils/backup.py
[code]

then override normal/copy/assemble/etc with this line before the  `self._remove_tmp_path`

also remember to import
```local_backup(self, task_vars, result)```

[2021-04-28 17:02] mattclay commented on #74398
@goneri Since both of those changes are new features in ansible-test, they will not be getting backports.

[2021-04-28 17:24] #74071 closed, assigned to nobody

[2021-04-28 17:48] sivel commented on #74481
<details>
<summary>version testcase...</summary>
<p>

[code]

</p>
</details>

[2021-04-28 20:11] ckastner commented on #16305
I tried this and it worked nicely, thanks for sharing!

[2021-04-28 20:22] bcoca commented on #16305
https://github.com/bcoca/local_backup as role for easy consumption, unfinished but usable

[2021-04-28 21:14] sivel commented on #74480
Pseudo code flow:

1. `/proc/1/comm` -> `proc_1 = bash`
2. `bash` endswith `sh` -> `proc_1 = None`
3. `ansible_system == "Linux"` -> `is_systemd_managed == False`
4. `is_systemd_managed_offline == True` -> `systemd`

The call to `is_systemd_managed_offline` happens before we fall back to `/etc/init.d` indicating `sysvinit`

[2021-04-29 00:52] mjbnz commented on #16305
This feels a little bit like a user problem - if they break their backups, they can keep both pieces so to speak.

When it comes to usage of the proposed `backup_dir` option, I would envisage that it would be set per task such that each task that configures a different software pacakge will have their own `backup_dir` specified. This would mean that backups wouldn't clash as you suggest. (Personal

[2021-04-29 04:35] Akasurde commented on #74458
@vladaurosh Can you please check if #72904 works for you? Thanks.

needs_info

[2021-04-29 05:45] Akasurde commented on #74404
resolved_by_pr #74486

[2021-04-29 06:56] coolprat999 opened #74487 "venv installing system wide pip packages into venv virtual environment in ansible"
### Summary

I am running ansible to install some pip packages into virtual environment using `venv` but its installing exact same version and no. packages from system wide python and not what is the mentioned in `requirement.txt`.

I am able to achieve success when i am doing it manually. i.e system wide pip packages and virtual environment pip packages are different.

I am getting below error in

[2021-04-29 08:41] j-mracek commented on #73527
I am really sorry but I don't know the answers for missing information.

[2021-04-29 09:37] srml opened #74488 "service module on Solaris: NameError: name 'LooseVersion' is not defined"
### Summary

The following playbook fails on Solaris 11.4:
[code]

In service.py it says:
[code]
But then it is used anyway.

I corrected this problem with the following change:
[code]

Verified with Solaris 11.4 SRU 15, Solaris 11.4 SRU 31 and Solaris 10 1/13.

### Issue Type

Bug Report

### Component Name

service

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RH

[2021-04-29 09:53] coolprat999 commented on #74487
above one works when we create `venv` inside `/root` but gives permission denied error when creating inside `/home/user/`. Even after using `become: true` for `virtualenv creation` task and  `installing of pip packages` task.

[2021-04-29 10:32] ronjakoi opened #74489 "Make custom password retrieval script option separate from --vault-id"
### Summary

Currently the `--vault-id` option checks if the argument following contains the `@` character, then if the file given after is marked executable. If it is executable, it runs the file and uses the stdout printout as the vault password. If it is not executable, it reads the file and uses the contents as the vault password.

This is too fragile and can lead to incorrectly encrypted secr

[2021-04-29 14:57] dead10ck opened #74494 "aws_ec2 inventory plugin ignores region settings in AWS profile"
### Summary

I discovered from a comment in #64343 that, by default, the inventory plugin seems to be ignoring the regions set in your local AWS profile (in `~/.aws/credentials`, `AWS_DEFAULT_REGION`, etc.) and just queries all regions. This makes the plugin take a very long time to finish querying for your inventory. Querying all regions is probably the best default when there is no other config

[2021-04-29 15:48] acozine commented on #74422
We don't need redirects for the ansible-core 2.11 release. But we will need them for Ansible 4 when it comes out. See https://github.com/ansible/docsite/pull/30.

[2021-04-29 16:20] estenrye commented on #41147
I would like to see the match funtionality extended to include support for the `recent` match module in iptables.

### from the iptables man page ###

[code]

[2021-04-29 17:25] mkrizek commented on #74494
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/amazon.aws.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/a

[2021-04-29 17:25] #74494 closed, assigned to nobody

[2021-04-29 18:08] acozine opened #74500 "Suppress ancient `version_added` entries in ansible.builtin modules"
### Summary

We are currently publishing all the `version_added` metadata, including entries like the `generate_ssh_key` param for the ansible.builtin.user module, which was added in Ansible 0.9: https://docs.ansible.com/ansible/latest/collections/ansible/builtin/user_module.html#ansible-collections-ansible-builtin-user-module

Back before collections, we managed this in the old plugin_formatter (

[2021-04-29 18:19] srml commented on #74488
Already solved by https://github.com/ansible/ansible/pull/73860

[2021-04-29 19:08] Shrews commented on #74458
FWIW, I did verify the submitter's test case works in 2.11.

[2021-04-29 19:11] #74081 closed, assigned to samdoran

[2021-04-29 19:22] samdoran commented on #74480
In this case, specifying the `use:` parameter for the `service` module is the best solution.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-04-29 19:22] #74480 closed, assigned to nobody

[2021-04-29 19:23] d5han opened #74503 "dnf & yum behave unexpectedly when updating to a specific version"
### Summary

When installing packages with a specific version using `yum` or `dnf`, they are not updated to the specific version if an earlier version is installed.

Workaround:

[code]

`allow_downgrade` is needed to also *upgrade* the package if the version is specified

### Issue Type

Bug Report

### Component Name

dnf, yum

### Ansible Version

[code]

### Configuration

[code]

### OS / Env

[2021-04-29 19:32] #74487 closed, assigned to nobody

[2021-04-29 19:35] markfaine opened #74504 "ansible.builtin.yum: No match for argument: %s"
### Summary

When attempting to install local packages using ansible.builtin.yum on RHEL 8 target I get an error message "No Match for argument"  It seems to occur inconsistently.  I  have seen it work before but I can't say that it is due to anything that I changed and it fails more often than it succeeds.  It may possibly be related to the yum cache but I can't say for sure.

I have tried multip

[2021-04-29 19:38] samdoran commented on #74488
This looks like the system is missing `distutils`. A short term solution would be to install `distutils`.

Looking our code, there are some attempts to guard against the missing `LooseVersion` on Solaris, but we then later still use it in the code. That should be improved.

[2021-04-29 19:46] samdoran commented on #74489
I understand how this behavior can be surprising, but using the contents of the file is a legitimate use case. Adding additional options to support this would also mean doing the same for all options that support this, which is a lot of options.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.g

[2021-04-29 19:46] #74489 closed, assigned to nobody

[2021-04-29 20:01] samdoran commented on #74504
This is actually a bug in `dnf`. This is an improperly formatted text format string inside the `dnf` code.

[code]

Please open a bug report in https://github.com/rpm-software-management/dnf.

[2021-04-29 20:01] #74504 closed, assigned to nobody

[2021-04-29 22:19] giner commented on #74480
This makes using `service` inconvenient as we have keep overriding `use` in all roles where it is used to keep molecule tests working.

[2021-04-30 09:48] PeterNerlich opened #74507 "service: daemon-reload not documented"
### Summary

`daemon-reload` in `service` is not documented but apparently works and has an impact, at least on Ubuntu (tested: 20.04), where it operates on `systemd` internally.

### Issue Type

Documentation Report

### Component Name

lib/ansible/modules/service.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Controller:
[code]

Target:
[code]

### Additional I

[2021-04-30 09:54] PeterNerlich commented on #74507
The option is also used in the integration test, that uses `omit` for all other systems: https://github.com/ansible/ansible/blob/a077bca5d5866603cdc4a2a13aef8f416860aacb/test/integration/targets/setup_cron/tasks/main.yml#L72-L78

[2021-04-30 10:27] vladaurosh commented on #74458
@Akasurde
Since I am on 2.9 installed via rpm (I am lazy to install 2.10 using pip), I manually edited fileglob.py with changes from #72904 and now it works fine.

[2021-04-30 10:29] coolprat999 commented on #74487
done. raised issue at  https://groups.google.com/forum/#!forum/ansible-project. Thanks

[2021-04-30 11:01] giner commented on #74480
@jamescassell @bcoca I've gone through the [IRC](https://meetbot.fedoraproject.org/ansible-meeting/2020-01-21/ansible_core_irc_public_meeting.2020-01-21-19.00.log.html#l-117) [logs](https://meetbot.fedoraproject.org/ansible-meeting/2020-02-04/ansible_core_irc_public_meeting.2020-02-04-19.06.log.html#l-62) and didn't quite catch why systemd_offline detection was added but you may want to look at th

[2021-04-30 11:02] Akasurde commented on #74481
`/etc/debian_version` is not a trivial file to check the distribution version. Ansible only checks https://github.com/ansible/ansible/blob/a30c55f68ac3d0a16077e984554c306295fa84cf/lib/ansible/module_utils/facts/system/distribution.py#L70

https://github.com/ansible/ansible/blob/a30c55f68ac3d0a16077e984554c306295fa84cf/lib/ansible/module_utils/facts/system/distribution.py#L71

[2021-04-30 11:07] Akasurde commented on #74458
@vladaurosh @Shrews Thanks for the confirmation.

[2021-04-30 12:22] Akasurde commented on #74274
resolved_by_pr #74509

[2021-04-30 12:24] Akasurde commented on #74274
FYI, on ESXi host, `command` is not available which is used in Python interpreter discovery.

https://github.com/ansible/ansible/blob/a30c55f68ac3d0a16077e984554c306295fa84cf/lib/ansible/executor/interpreter_discovery.py#L64

[2021-04-30 12:26] Akasurde commented on #74488
resolved_by_pr #74508

[2021-04-30 14:09] sivel commented on #74507
When calling `service`, the action plugin of that same name will be used, and will dispatch the request to the appropriate module as defined by `ansible_facts.service_mgr`.  In your case, that will call the `systemd` module under the hood.

As such `daemon_reload` is documented on the `systemd` module, and not `service`:

https://docs.ansible.com/ansible/latest/collections/ansible/builtin/systemd_

[2021-04-30 14:22] thegcat commented on #74507
So far this is what we thought happened, though it is unclear to us where this swap happens. Furthermore, why would the service module come with code for systemd and whatever else service manager stuff if it's all using the specific modules in the end?

[2021-04-30 14:28] bcoca commented on #74480
As we state in  #66071, we know 'some cases' will always be broken, as auto-detection CANNOT deal with all possible environments, specially when 1/2 of them are actively 'lying'  to convince other tools that they are using X system when they are not. Yes, using 'use' is inconvenient, but we have no way of making all cases work otherwise.

The best we can do is choose to 'break' for the least amoun

[2021-04-30 14:33] sivel commented on #74507
The `service` module came first, but it is too complex to handle logic for all service managers in a single module.  So we began building service modules for individual service managers, to better support their features.  At that point, we created a `service` action plugin that is responsible for delegating to the individual service modules, such as `systemd`.

The service action plugin can be fou

[2021-04-30 14:33] bcoca commented on #74507
History:
 At first only the 'service module' existed and had backed in auto-detection and all parameters for all managers.

 Soon it became obvious that this was not maintainable nor manageable.

 'Service' action plugin was introduced and the 'service plugins' (systemd, sysvinit, etc) were added, just not all possible service managers at first, why 'service module' was kept as a fallback.

[2021-04-30 14:42] PeterNerlich commented on #74507
Does that imply that you would recommend using the specific modules when writing new playbooks? I could imagine deprecating it for being not needed and making things more complicated and opaque than they need to be.

[2021-04-30 14:42] IPvSean opened #74510 "ansible-galaxy collection init produces non-compliant yaml"
### Summary

Just do something like this->

```ansible-galaxy collection init blah.blah```

it will produce a galaxy.yml file under `blah/blah/galaxy.yml` but this galaxy.yml is missing the ```---``` that makes it valid YAML.  This will throw an error on our own repos for CI

[code]

The scaffolding also does things like this->
[code]

which throws errors like this->
[code]

both of these should b

[2021-04-30 14:45] bcoca commented on #74480
^ as ticket above metnions, 'container build time' is a very common case.

[2021-04-30 15:05] giner commented on #74480
I see. Relying on service manager detection during build time may give inconsistent results then (at least on Debian-based distributions) as some packages bring systemd dependencies. For example the official ubuntu docker image doesn't have systemd by default however installing `openssh-server` package has `default-logind` in `Recommends` which brings systemd packages when installed.

[2021-04-30 15:14] s-hertel commented on #33287
We discussed this in backlog today and we'd prefer not to add hardcoded retries to the apt_repository module. We recommend using an `apt_key` task beforehand as you've done, but you can also use the task keywords `retries` and `until` on the `apt_repository` task.

Feel free to reach out on the mailing list or IRC if you have questions.

   * IRC: #ansible on irc.freenode.net
   * mailing list: ht

[2021-04-30 15:14] #33287 closed, assigned to nobody

[2021-04-30 15:16] #32888 closed, assigned to nobody

[2021-04-30 15:20] s-hertel commented on #32822
Closing per above

[2021-04-30 15:20] #32822 closed, assigned to nobody

[2021-04-30 15:22] s-hertel commented on #32181
Fixed by #74199

[2021-04-30 15:22] #32181 closed, assigned to nobody

[2021-04-30 15:27] s-hertel commented on #31676
This should be fixed on more recent versions. Please reopen if you continue to see the issue.

[2021-04-30 15:27] #31676 closed, assigned to nobody

[2021-04-30 15:31] s-hertel commented on #31034
We're no longer adding new features to the service module. This should be added as rc conf module to the ansible.posix or community.general collections. Please reach out on IRC or the mailing list if you have questions.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-04-30 15:31] #31034 closed, assigned to nobody

[2021-04-30 15:33] s-hertel commented on #30619
In 2.7 you can do this with the `reboot` module. The python interpreter issue has been fixed by #72636.

[2021-04-30 15:33] #30619 closed, assigned to nobody

[2021-04-30 15:34] pyrou commented on #51601
Just for the the record, `become: false` execute git action (or any action) as the connected `remote_user`.
This might do the job for most use cases.

in playbook:
[code]

in role task:
[code]

of course destination must exists first and be writable by `app` in this example

[2021-04-30 15:45] s-hertel commented on #25637
Fixed by #74199

[2021-04-30 15:45] #25637 closed, assigned to nobody

[2021-04-30 15:47] s-hertel commented on #25400
Fixed by #27169. If this is still an issue, please open a new issue.

[2021-04-30 15:47] #25400 closed, assigned to nobody

[2021-04-30 15:48] s-hertel commented on #25314
We think this should give a warning instead of an error.

[2021-04-30 15:53] #22152 closed, assigned to nobody

[2021-04-30 15:56] s-hertel commented on #21537
You should be able to update an existing file by omitting `state: link`. This may still fail in most cases.

[2021-04-30 15:56] #21537 closed, assigned to nobody

[2021-04-30 15:58] #20623 closed, assigned to nobody

[2021-04-30 16:01] #15338 closed, assigned to nobody

[2021-04-30 16:06] #74423 closed, assigned to nobody

[2021-04-30 16:23] jhg03a commented on #25637
For those finding this issue, the solution is now to look for a msg field value of `Timeout exceeded` instead of a dedicated boolean field.

[2021-04-30 17:46] flowerysong commented on #74510
None of those warnings is a result of invalid YAML. The document start marker [is optional](https://yaml.org/spec/1.1/#id898031), as is extra indentation for list items (the canonical representation of this YAML does not contain the spaces your linter is looking for.)

[2021-04-30 17:56] nickliuibm opened #74518 "delegate_to does not work for winrm connection on 2.10.5"
### Summary

When we try to delegate a task to run on a Windows machine via winrm,  it failed with the connection problem.  This is happening after we moved to Ansible  2.10.5. We don't see this on 2.9.9 which we upgraded ansible from.  I did some test to compare between 2.10.5 and 2.9.9. It looks like on 2.10.5, the delegation cannot resolve inventory_hostname properly for winrm connection.   Her

[2021-04-30 17:58] #74510 closed, assigned to nobody

[2021-04-30 19:43] samccann commented on #73199
completed.

[2021-04-30 19:43] #73199 closed, assigned to nobody

[2021-04-30 19:45] #72466 closed, assigned to lmalivert

[2021-04-30 20:39] dutrajulio opened #74524 "Ignoring ~/.ssh/config configuration file"
### Summary

After upgrade from "ansible-base(2.10.8)" to "ansible-core(2.11.0)" Ansible is ignoring "~/.ssh/config" configuration file.

### Issue Type

Bug Report

### Component Name

ansible-core

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Arch Linux

### Steps to Reproduce

Creates an example entry in "~/.ssh/config"
[code]
Run the following ad-hoc command
[c

[2021-04-30 20:53] #74477 closed, assigned to nobody

[2021-04-30 20:59] bcoca commented on #74518
note that you are setting 'ssh' vars for a winrm connection, that should not work in any case.

[2021-04-30 21:48] bcoca commented on #74524
@sivel is probably correct as config states the default is 22 so it will use that and override ssh config, the fix is making the default 'none' and state that 'ssh uses 22 by default' .. which is what we relied on, that will allow .ssh/config to override again.

workaround set port to None in config

[2021-04-30 21:52] bcoca commented on #74524
[code]

[2021-04-30 21:54] bcoca commented on #74524
^ that is ansible configuration vs ssh configuration, ansible overrides ssh, if set in ansible (22) it overrides Port 2222
my patch 'fixes' so default is None, so Ansible WONT override

[2021-04-30 22:03] bcoca commented on #74518
because 2.10 enforces 'default = 22', which is what my patch above removes

[2021-04-30 22:06] aminvakil commented on #74524
Gotcha. Fixed by removing `default: 22` in `port` section from `plugins/connection/ssh.py`.
Thanks @sivel @bcoca!

[2021-04-30 22:12] nickliuibm commented on #74518
just tested a.yml without `ansible_ssh_port` and `ansible_ssh_host` with ansible 2.9.9, it got the similar problem as I hit on 2.10.5,  this time it is trying to connect to the host name string `MyWindowns` rather than `inventory_hostname`
[code]

[2021-04-30 22:13] nickliuibm commented on #74518
So regarding to https://github.com/ansible/ansible/issues/74518#issuecomment-830424597, is this something Ansible needs to fix or the customer code needs to change?

[2021-04-30 22:18] tadeboro opened #74525 "Ansible < 2.11 fails on roles that contain argument specification"
### Summary

If the role contains an argument specification, Ansible < 2.11 fails to use it and reports "ERROR! 'argument_specs' is not a valid attribute for a RoleMetadata".

### Issue Type

Bug Report

### Component Name

include_role

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 33

### Steps to Reproduce

[code]

### Expected Results

Ansible should igno

[2021-05-01 00:38] nitzmahone commented on #72716
Off the top of my head, I don't think there's a great solution to this until we can move interpreter discovery call to a better place. When it's enabled for a host, we need it to run before the first Python module payload build occurs for that host (not before). The next best thing might be to propagate the connection error from discovery all the way back up to the action's `_execute_module` calle

[2021-05-01 10:33] rkm commented on #74244
Rocky linux has just released an initial RC: https://rockylinux.org/

[2021-05-01 10:34] hbjydev commented on #74244
Hi all, now that Rocky Linux has an RC1 🎊 , we'd like to work with Ansible on getting it set up properly! Currently the only issues we've particularly seen has been with the distribution family, it's reporting as "Rocky", not "RedHat". If we could get this fixed so the majority of playbooks aren't broken for RL users, that'd be fantastic! :D

[2021-05-01 11:45] rkm commented on #74244
PR open for this https://github.com/ansible/ansible/pull/74530

[2021-05-01 19:38] lumarel commented on #74244
I tried to adjust my deployment pipeline to Rocky Linux 8 and ran into this topic as well.
The part I noticed that is missing is the [hostname-strategy-correction](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/hostname.py) :)

@rkm Would you add this to your PR or should we open a seperate one?

[2021-05-01 20:08] rkm commented on #74244
@lumarel Good catch - I've added that to the PR.

[2021-05-01 20:10] lumarel commented on #74244
@rkm Thank you very much!

[2021-05-02 00:10] henriqueccapozzi commented on #72712
I would like to thank @samdoran for the support on the comment I made on #74081

@SimonHeimberg, do you think that solves what you needed/wanted?

That's an example of the output using 2 playbooks from different directories

![2021-05-01_21-08](https://user-images.githubusercontent.com/38324844/116797979-9fb85580-aac1-11eb-8368-39d804cdc909.png)

[2021-05-02 19:36] jorhett commented on #56046
In my case the requirements in meta are being sourced from a monolithic repo, so there's no relevance to galaxy's requirements.  I removed them from meta, and put `include_role` in everything which previously had them in dependencies, and yet each dependent role was re-run multiple times.

This is what I mean when I say "you clearly have a vision, but nobody else knows how to use it"

[2021-05-03 11:03] pisto opened #74534 "debugger: task.args cannot be updated, as stated in the docs"
### Summary

The [documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_debugger.html#update-args-command) for the debugger states that it is possible to dynamically update the `task.args` when breaking into the debugger, and then the task can be rerun. This appears broken in the latest version of Ansible and at least since 2.9.

### Issue Type

Bug Report

### Component Name

[2021-05-03 11:50] Shrews commented on #74525
related: PR #73120

[2021-05-03 13:15] bcoca commented on #74518
You should be using either generics (ansible_host, ansible_port) or the specifics (ansible_winrm_host, ansible_winrm_port)  to the connection plugin you are using. That this worked at all with  _ssh_, I would consider a bug.

See the documentation https://docs.ansible.com/ansible/2.9/plugins/connection/winrm.html#parameter-port

[2021-05-03 13:19] jvanderaa opened #74535 "Remove `collection` key from Play Level"
### Summary

The key of `collection` at the play level is misleading and causes confusion and errors.

[code]

This should be removed as an option all together to prevent errors and confusion. There are questions constantly being answered where a playbook is not working and just removing the key and using the FQCN work just fine. The fact that it does not continue into roles and other components a

[2021-05-03 13:27] Akasurde commented on #74534
!component =lib/ansible/plugins/strategy/debug.py

[2021-05-03 14:40] tngoit opened #74536 "Copy module does not copy all files recursively in remote_src mode"
### Summary

When the _src_ and _dst_ has some inner folders in common, the inner folder has some nested folders in common and some are different, the copy command does not copy the content of the nested inner folder. The problem only happens in _remote_src_ mode

### Issue Type

Bug Report

### Component Name

ansible.builtin.copy

### Ansible Version

[code]

### Configuration

[code]

### OS /

[2021-05-03 14:41] sivel commented on #74534
The problem here is your use of `u`/`update_task`.  That command is the equivalent of:

[code]

Which means it will re-create the task from the original task definition, and then template it. So you are in effect modifying the task, reverting the change, and then executing the task.

You want to remove your use of `u`/`update_task` and it will work as you expect.

The example for `update_task` is

[2021-05-03 16:33] Sylvain303 opened #74537 "set_fact documentation should provide an example with dynamic variable assignment"
### Summary

**Some context:**

To avoid code duplication I sometime regroup common loopable task in a `task.yml`

One way to achieve a return value from a `task.yaml` can be to embed a the value assignment inside the task

[code]

But this feature is not documented.

https://docs.ansible.com/ansible/latest/collections/ansible/builtin/set_fact_module.html

A full working example, is pasted in the

[2021-05-03 16:58] beneb12 commented on #50594
Ran into a use case for this and having an additional optional param for `allow_no_value` would've been helpful.

Instead, I made a filter to do exactly that

[2021-05-03 23:01] nazunalika commented on #74244
PR #74530 and #74545 are open and ready to go. Once they give it their blessing, we could then open PR's to backport to previous releases (for example 2.9 is still in EPEL and Fedora). Thank you everyone!

[2021-05-03 23:16] DOTTRAM opened #74552 "Ansible 'dict object' has no attribute 'stdout'""
### Summary

Hi Guys! I have problem with ansible

Then i execute my playbook. I get error ` ""VARIABLE IS NOT DEFINED!: 'dict object' has no attribute 'stdout'"".`

[code]
[code]
I read all documentation about dictionary, but i not understanded. My dictionary is not work.
 How is it correct  to make dictionary ? And how is it to set up dictionary on Ubuntu 20.04?
I did everythig by documentation

[2021-05-03 23:49] bcoca commented on #74552
`telnet_output` is the dictionary that has the results of the `telnet` command, you are trying to access the `stdout` key of this dictionary, but it does not exist, as it only returns `output` as documented here https://docs.ansible.com/ansible/2.9/modules/telnet_module.html#return-values

[2021-05-04 01:18] DOTTRAM commented on #74552
Thank you but this coommand not working.

[2021-05-04 01:19] DOTTRAM commented on #74552
ansible@ansible:~$ !component +lib/ansible/foo/bar
-bash: !component: event not found
ansible@ansible:~$ !component
-bash: !component: event not found

[2021-05-04 01:26] DOTTRAM commented on #74552
Then how to make the text display
correct column-wise?

[2021-05-04 05:56] ebal commented on #74524
Hello,

I can confirm that the proposed edit of  `ansible/plugins/connection/ssh.py` is working as a **workaround**.

As per my understanding this is an introduced _bug that needs to be fixed_ in the next release.

That said, is there another way to edit my `ansible.cfg` to force ansible to either explicit use my `~/.ssh/config` or bypass this option ?

thanks in advance

[2021-05-04 06:10] Akasurde commented on #74552
Hi @DOTTRAM!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

Please try @bcoca suggestion as per https://github.com/ansible/ansible/issues/74552#issuecomment-831604348

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://g

[2021-05-04 06:10] #74552 closed, assigned to nobody

[2021-05-04 06:11] rearn opened #74556 "If the hostname command is not installed, `hostname` is failed."
### Summary

If the hostname command is not installed, `hostname` is failed. (e.g. archlinux )

I think the problem is that it is hard-coded in the following section.
https://github.com/ansible/ansible/blob/v2.11.0/lib/ansible/modules/hostname.py#L187

### Issue Type

Bug Report

### Component Name

`hostname.py`

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Archli

[2021-05-04 06:17] mkrizek commented on #74556
It is explicitly mentioned in the documentation that `hostname` is needed to execute this module:
https://docs.ansible.com/ansible/latest/collections/ansible/builtin/hostname_module.html#requirements. The error message from the output you provided says it as well.

[2021-05-04 06:49] rearn commented on #74556
You're right.
However, in the case of systemd, `hostname_cmd` is rewritten with the `hostnamectl` command. [1]
So I think it is maked to run without `hostname` command.

[1] https://github.com/ansible/ansible/blob/v2.11.0/lib/ansible/modules/hostname.py#L406

[2021-05-04 07:01] mkrizek commented on #74556
Have you tried specifying the Systemd strategy as documented in https://docs.ansible.com/ansible/latest/collections/ansible/builtin/hostname_module.html#parameter-use?
[code]

[2021-05-04 07:18] Saurabh-Thakre opened #74557 "yum module returning incorrect results when using wildcards with a package for RHEL 7"
### Summary

When trying to list a package with wildcard using the yum module for RHEL 7 managed node, yum is returning incorrect results. Even if the package is installed on the RHEL7 managed node, yum returns only `"yumstate": "available"` and not   `"yumstate": "installed"`.

The same scenario works as expected on RHEL 8 nodes with a wildcard.

### Issue Type

Bug Report

### Component Name

yu

[2021-05-04 07:21] rearn commented on #74556
The same is true if you run it with `use: systemd`.

[code]

[code]

[2021-05-04 09:40] gundalow opened #74558 "ansible-test: Error if non-standard dirs exist under plugins/"
### Summary

Protect against typos in directory names, or people trying to do non-standard things.

The list of allowable directories is defined in https://github.com/ansible/ansible/blob/728e43bc59cbfa602ecd83b38cc083c0728706bb/test/lib/ansible_test/_internal/provider/layout/__init__.py#L176-L200

##### How to implement

Create:
* `./lib/ansible_test/_data/sanity/code-smell/collection-directories

[2021-05-04 09:43] mkrizek commented on #62738
!bot_broken

[2021-05-04 10:03] Akasurde commented on #71343
resolved_by_pr #74559

[2021-05-04 10:03] mkrizek commented on #39272
@drew-kun I was not able to reproduce this issue. Is it still something you are seeing with recent versions of Ansible?

needs_info

[2021-05-04 15:04] bcoca commented on #74524
you are already using your `~/.ssh.config` the problem is that `ssh -o` options override that, the plugin will always add `-o Port ` unless the option is `None` .. which it cannot be since it has a default, so the only fix is this patch.

[2021-05-04 15:09] #74524 closed, assigned to nobody

[2021-05-04 15:11] bcoca commented on #74524
backport to 2.11 https://github.com/ansible/ansible/pull/74562

[2021-05-04 15:18] samdoran commented on #74518
Closing per above. To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-05-04 15:18] #74518 closed, assigned to nobody

[2021-05-04 15:20] samdoran commented on #74525
This is definitely an issue. We are discussing how best to address this.

[2021-05-04 15:28] samdoran commented on #74534
The documentation describes this correctly:

Updating task variables are different than updating task args. You would just need to omit the `update_task` step to accomplish your goal.

[2021-05-04 15:28] #74534 closed, assigned to nobody

[2021-05-04 15:32] samdoran commented on #74535
This is problematic, for the reasons you describe. However, we are  unable to remove this since many people are using it and relying on it.

This is as opt-in feature, so not using this keyword is the recommended course of action.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum

[2021-05-04 15:32] #74535 closed, assigned to nobody

[2021-05-04 15:37] samdoran commented on #74537
This functionality was actually surprising to many of us on the Core team. This seems like something we would rather deprecate rather than highlight in the documentation.

Since this has been around for a long time, we probably cannot remove it easily. But we have plans to document this behavior because we do not want to encourage use of this feature.

To discuss this further, please reach out on

[2021-05-04 15:37] #74537 closed, assigned to nobody

[2021-05-04 15:54] samdoran commented on #74558
This is a feature explicitly allowed by Ansible Core. Adding a test to restrict the use of a feature seems incorrect.

Maybe a better solution is to add a test plugin for use in collections outside of Ansible Core for enforcing this.

This would be good to discuss in the Core IRC meeting later today.

[2021-05-04 15:58] bcoca commented on #74558
Also, if we are doing a 'extraneous dir check' i would extend this to verifying the collection schema and 'warn'  about those directories, just not error.

[2021-05-04 16:01] #74274 closed, assigned to Akasurde

[2021-05-04 17:24] felixfontein commented on #74558
Having tests that need to be explicitly enabled with the ansible-test config file might also be an option. #69291 would be one such test (that one also depends on the workflow used in a collection, so it really needs the config file).

[2021-05-04 18:42] rkm opened #74565 "backport Rocky PRs to stable-2.9"
### Summary

Thank you for accepting support for Rocky in #74530 and #74545, and also backporting these to stable-2.10 and 11.

I understand that stable-2.9 is only accepting security fixes, however I see that similar patches for Alma Linux were recently backported to 2.9 (#73544). Ansible is only available in EPEL currently at version 2.9. Given that this will be the primary means for Rocky users

[2021-05-04 18:47] bcoca commented on #74565
They were backported before the release of 2.11, which is what triggered the change of status for 2.9, you were just a bit too late.

[2021-05-04 19:28] samdoran commented on #74525
We discussed this in the Core IRC meeting today and decided on the following:

Role argument specs will move to `meta/argument_specs.yml` in the next release of Ansible 2.11.

The `argument_specs` key in `meta/main.yml` will continue to work but the `argument_specs.yml` file will be preferred over `meta/main.yml`.

[2021-05-04 21:52] webknjaz opened #74569 "Implement compatibility with `resolvelib` v0.7.0+"
### Summary

A new release of `resolvelib` has been published about 3 weeks ago. It contains breaking changes to the provider interface.
We need to make the necessary changes to be able to increase the upper boundary of the runtime dependency version.

Refs:
* https://github.com/sarugaku/resolvelib/blob/master/CHANGELOG.rst#070-2021-04-13
* https://github.com/sarugaku/resolvelib/issues/74

### Iss

[2021-05-04 21:53] webknjaz commented on #74569
@s-hertel @jborean93 FYI

[2021-05-05 08:42] #74404 closed, assigned to Akasurde

[2021-05-05 10:40] nuth opened #74571 "Support for choosing bcrypt version/ident with password_hash filter"
### Summary

While setting up sonarqube and automating setting the admin password directly in the database, I noticed that their bcrypt implementation is outdated and only supports the 2a version, while the password_hash bcrypt filter using passlib defaults to the latest version (2b).

I'd like to set the ident parameter of passlib bcrypt function from the password_hash filter (like with rounds).

[2021-05-05 11:04] jeee opened #74572 "Merging of variables"
### Summary

I have all my configuration in dictionaries which makes it much more flexible and readable.
Have no idea how I can do this without writing it per entry ( then configuration really becomes messy).

### Issue Type

Feature Idea

### Component Name

inventory

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-05-05 11:30] Akasurde commented on #74572
Hi @jeee !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us

[2021-05-05 11:30] #74572 closed, assigned to nobody

[2021-05-05 11:47] Akasurde commented on #74571
!component =lib/ansible/utils/encrypt.py

[2021-05-05 12:10] lucas-benedito opened #74573 "Role usage snippet error on section 'Passing different parameters'"
### Summary

On the section [Passing different parameters](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#passing-different-parameters) the syntax mentioned for the usage of roles parameters does not work/respect the variable precedence as expected.

The examples for this documentation should be the following:
[code]

While the syntax referenced on the docs only work

[2021-05-05 12:21] Amaelh commented on #63134
Hello,

I observe the same problem with Kali 2021.1 created with Vagrant. My provisionning is done by Ansible. During this process, an apt post-installation step of package "grub-pc" is launching a whiptail command about a problem. This whiptail should never be launched when using ansible.

[code]

[2021-05-05 14:36] pspacek opened #74575 "ad-hoc ansible does not document format of MODULE_ARGS"
### Summary

Page https://docs.ansible.com/ansible/latest/cli/ansible.html and also `ansible --help` says this:
[code]
It does not say anything about format <MODULE_ARGS> and thus is not useful to a causal user.

I've learned how to use this parametr only from https://gist.github.com/YumaInaura/06e080e3f807338c122837bdb2d34571

### Issue Type

Documentation Report

### Component Name

https://docs

[2021-05-05 15:02] bcoca commented on #74575
The docs are stored 'in the code', they are generated from the options passed to the argument parser.

[2021-05-05 15:34] samccann opened #74576 "[Docs] - Update Documentation for Ansible 4 Release"
### Summary

Ansible 4 releases in under 2 weeks. This is the issue to track the documentation release steps required  for this event. See comment for the checklist of items.

### Issue Type

Documentation Report

### Component Name

docs/docsite/sphinx_conf/ansible_conf.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8

### Additional Information

Provides A

[2021-05-05 16:06] samccann commented on #74576
Update the documentation and publish the 4 version of Ansible documentation. Tasks include:

Pre-release tasks:
- [ ] Update the Release Status grid on the Release and Maintenance page in devel to link in changelogs and mark Ansible 3 as EOL, and add Ansible 5 as in development.
- [ ] Verify that the Ansible 4 porting guide has a link to the Ansible 4 changelog file in gitub.
- [ ] Add a skeleton

[2021-05-05 16:12] #73731 closed, assigned to Akasurde

[2021-05-05 16:52] alexhaydock opened #74578 "ansible_pkg_mgr fact always returns atomic_container if rpm-ostree is present (breaks package module on some systems)"
### Summary

For some modules, notably the `package` module, Ansible relies on the `ansible_pkg_mgr" fact to decide which package manager it should be using.

On systems where `rpm-ostree` is present at `/usr/bin/rpm-ostree`, Ansible makes the assumption that the system's dominant package manager is `rpm-ostree` and returns `atomic_container` as the entry for the `ansible_pkg_mgr` fact.

This isn'

[2021-05-05 16:53] rkm commented on #74565
Thanks, no problem. We'll attempt to get patches submitted downstream.

[2021-05-05 16:53] #74565 closed, assigned to nobody

[2021-05-05 16:57] samdoran commented on #74565
What @bcoca said. Ansible Core 2.11 was released on 2021-04-26, putting Ansible 2.9 into 'security fix' only status. There are packages is EPEL for both [`ansible-core`](https://koji.fedoraproject.org/koji/packageinfo?packageID=33489) and [`ansible-base`](https://koji.fedoraproject.org/koji/packageinfo?packageID=32739), though those are only for Fedora. Contacting the package maintainer to ask abo

[2021-05-05 17:00] tkhkokd commented on #33580
Hope this helps someone. In my case,
Ansible version: 2.10
Debian distribution, after certificate was added by

[code]

Then, specify the `SSL_CERT_FILE` variable to the certificate bundle.

[code]

[2021-05-05 17:20] rmsc commented on #51601
I just want to add that without this change, the git module **isn't idempotent**.

Even if the module doesn't report a change (repo already cloned and up-to-date), running it with `become: yes` does change the ownership of some of the cloned files. This in turn creates spurious `changed` notifications when the ownership gets corrected.

[2021-05-05 17:24] s-hertel opened #74580 "Support empty string defaults for configuration settings"
### Summary

As of https://github.com/ansible/ansible/pull/74523, using empty string defaults for config options in `lib/ansible/config/base.yml` causes the error: `WARNING: Inline literal start-string without end-string.`

The two configuration settings defaulting to empty strings were replaced with ~ (YAML equivalent to Python's None) for the time being and in this case it made no functional dif

[2021-05-05 19:03] goneri opened #74581 "ansible-test: provide a way to ignore the "unnecessary entires" in the ignore files"
### Summary

The ansible-test errors like this are annoying because they force the developer to maintain several different ignore files.
[code]

It would be great if we can just ignore them with a parameter or a configuration key.

### Issue Type

Feature Idea

### Component Name

ansible-test

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Con

[2021-05-05 21:00] felixfontein opened #74583 "Module/plugin lifecycle needs to be adjusted to reality (and properly defined in the current reality)"
### Summary

As multiple reviewers mentioned in #74413, the four stages of an Ansible module / plugin mentioned in docs/docsite/rst/dev_guide/module_lifecycle.rst are no longer correct, since `ANSIBLE_METADATA` no longer exists. (#73707 is a possible replacement.)

To be able to replace that section, it first needs to be decided what the lifecycle should be (#73707 is used, the lifecycle is simpli

[2021-05-06 05:52] Rinshad opened #74591 "Azure application gateway pfx certificate installation with Ansible"
### Summary

Hello,

I am trying to provision an Azure application gateway using Ansible. But am getting the below error when I try to include a PFX certificate.

fatal: [localhost]: FAILED! => {"msg": "An unhandled exception occurred while running the lookup plugin 'file'. Error was a <type 'exceptions.UnicodeDecodeError'>, original message: 'utf8' codec can't decode byte 0x82 in position 1: inva

[2021-05-06 05:54] DOTTRAM commented on #74552
Now it displays the result but not as it should. And there were some incomprehensible symbols for example "u001b7"
How to get rid of them? And how do you display the result in rows and columns?

nsible@ansible:~$ ansible-playbook -i  inventory_telnet.yml --vault-id test@prompt  telnetverify.yml
Vault password (test):

PLAY [show version] ************************************************************

[2021-05-06 05:58] DOTTRAM commented on #74552
Thank you. Its working. But i have new problem. The information is stated above

[2021-05-06 06:11] DOTTRAM opened #74592 "Ansible Information output"
### Summary

Hello everyone.
My result is displayed in the wrong way. And some incomprehensible characters such as "u001b7"
How to get rid of them? And how to display the result in rows and columns?
The Stdout.lines line doesn't work.

nsible@ansible:~$ ansible-playbook -i inventory_telnet.yml --vault-id test@prompt telnetverify.yml
Vault password (test):

PLAY [show version] *********************

[2021-05-06 06:51] wojiushixiaobai opened #74593 "Python API remote_tmp cannot be defined"
### Summary

[code]
`remote_tmp` definition is invalid

I modify this file and it will work normally `python3.8/site-packages/ansible/plugins/doc_fragments/shell_common.py`
[code]

Can you give me some advice?

### Issue Type

Bug Report

### Component Name

pip

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

CentOS 8

### Steps to Reproduce

[code]

### Expected Res

[2021-05-06 07:17] mkrizek commented on #74592
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2021-05-06 07:17] #74592 closed, assigned to nobody

[2021-05-06 07:19] mkrizek commented on #74593
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2021-05-06 07:19] #74593 closed, assigned to nobody

[2021-05-06 07:24] mkrizek commented on #74591
Duplicate of https://github.com/ansible/ansible/issues/41146

[2021-05-06 07:24] #74591 closed, assigned to nobody

[2021-05-06 08:10] jmerkel-quentic opened #74594 "default filter preferres variable with an undefined reference"
### Summary

the default-filter preferres a variable with an undefined reference over a defined variable.

### Issue Type

Bug Report

### Component Name

Filters

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

ubuntu 18.04 lts

### Steps to Reproduce

[code]

### Expected Results

I expected that variable **test_version** gets the value from **extra_var_version** be

[2021-05-06 09:40] mkrizek commented on #74594
This is due to the expression not being evaluated lazily. In other words, all variables are evaluated before returning the result which means that there is an undefined error when trying to access the variable specified in the `default` filter.

This is basically a duplicate of https://github.com/ansible/ansible/issues/58835. Also see my PR https://github.com/ansible/ansible/pull/56116 that allows

[2021-05-06 09:55] jmerkel-quentic commented on #74594
Thanks for your quick reply. Though, the main thing here is that the default-filter takes a wrong precedence, returning the default-value when the filtered variable is NOT undefined. This is something different than described in #58835.

[2021-05-06 10:13] mkrizek commented on #74594
No, it does not return anything, the expression fails with undefined error because, as I mentioned, the whole expression is evaluated, even the argument (`default_var_version`) for the default filter and at that point it fails because it contains undefined variable.

[2021-05-06 10:33] Akasurde commented on #74571
@nuth Thanks for reporting this feature. Password hashing formats (like `sha256_crypt` and `sha512_crypt`) apart from `bcrypt` do not provide `ident` configuration.

[2021-05-06 10:40] nuth commented on #74571
I realize this, same as many hashing algorithms doesn't support `rounds`, which is supported. I suppose you could make the ident part of the hash name, so that you end up with `bcrypt` (whatever default passlib has), `bcrypt_2a`, `bcrypt_2b` etc.

[2021-05-06 10:49] jmerkel-quentic commented on #74594
well, it doesn't fail (the debug-task at the end is just for showing whats going on), it just doesn't work as expected.
So you mean that, if the variable in default(variable) is undefined, the whole expression becomes undefined, even if
{{ extra_var_version | default(variable) }}"
extra_var_version has a valid value? That feels very wrong

[2021-05-06 11:28] mkrizek commented on #74594
It may not fail when used in `debug: var=` case due to specific nature of the debug task. But you may get a failure when used in a different scenario, like:

[code]

[code]

The whole expression fails with an undefined error because the expression is not evaluated in a lazy fashion, which is why I linked https://github.com/ansible/ansible/issues/58835 because it's effectively the same issue, consi

[2021-05-06 13:04] bcoca commented on #74580
The `default:` should not be valid, but `default: null` and `default: ~` and the absence of `default` should all result in `default: None` as the 'actual default'.

[2021-05-06 13:06] jmerkel-quentic commented on #74594
okay, now I understand it. Thanks for explaining!

[2021-05-06 13:17] bcoca commented on #74552
What you are getting is 'raw output' as a single string, the \u stuff is
'unicode conversion' that is happening, to get it properly formatted into
columns you are going to have to do some data manipulation yourself, via
Jinja2 filters.

[2021-05-06 13:21] bcoca commented on #74594
closing as dupe of  #58835

[2021-05-06 13:21] #74594 closed, assigned to nobody

[2021-05-06 13:33] bcoca commented on #74594
FYI, running with -v would make very clear what is going on .. we might want to modify debug to always how the 'actual undefined variable' error.

[2021-05-06 13:40] jmerkel-quentic commented on #74594
once you know how it is working it becomes clearer. But before I was just dumbly watching my screen ;)

TASK [debug] *********************************************************************************************
ok: [host] =>
  test_version: 'VARIABLE IS NOT DEFINED!: {{ extra_var_version | default(default_var_version) }}: {{ undefined_variable }}: ''undefined_variable'' is undefined'

[2021-05-06 13:53] Akasurde commented on #74571
@nuth Could you please check if #74595 works for you and let me know? Thanks.

[2021-05-06 14:19] Amaelh commented on #63134
While the initial problem is generated during a "apt upgrade", Ansible seems to catch it and return an error. My problem is due to my "rescue" section where I manually launched "apt clean && apt autoclean && apt install -f && apt upgrade" without setting DEBIAN_FRONTEND.

So my problem is not an Ansible bug, but a personal coding problem :)

Ansible block :
[code]

You can safely ignore my message

[2021-05-06 14:28] nuth commented on #74571
Perfect! Thanks for the quick fix :)

[2021-05-06 17:05] Maheshdamu opened #74598 "sudo to oracle user in AIX. (setfacl) not avaialble"
### Summary

Hi

i have   play book to apply a patch using Ansible from linux to Linux server. but when i try to appy a patch on AIX server. getting an issue related to setfacl.  becauase, i do ssh as oraoem  and sudo to oracle users.

below are error message.

[code]

### Issue Type

Bug Report

### Component Name

`lib/ansible/plugins/action/__init__.py`

### Ansible Version

[code]

### Configu

[2021-05-06 17:07] bcoca commented on #74598
`setfacl` is tried first, but tit falls back to `chown`, which is the final error you get ` 'chown: /tmp/ansible-tmp-1620159177.47-435-216066205032169/: Not owner\nchown:`

[2021-05-06 17:11] bcoca commented on #74598
!compontent= lib/ansbile/plugins/shell/sh.py

[2021-05-06 17:16] Maheshdamu commented on #74598
Hi, i already having following  configurations in /etc/ansisble/ansible.cfg file.  but still getting the same error message.

# for more secure ways to fix this than enabling this option.
allow_world_readable_tmpfiles = True

[2021-05-06 17:21] bcoca commented on #74598
` become_exe: "sudo su  - "` <= this is also not something we support

[2021-05-06 17:29] Maheshdamu commented on #74598
Actually not having issue with sudo. the only issue with setfacl not avaialble on AIX and not able to change owner and /temp file directory and it is failing.

[2021-05-06 17:37] mattclay opened #74599 "Vendor `distutils.version` in `module_utils`"
##### SUMMARY

`distutils` is deprecated in Python 3.10 and will be removed in 3.12. Vendor the contents of `distutils.version` to a module_util, move all internal usages to it, and document the change for collections development.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

ansible

[2021-05-06 18:38] bcoca commented on #74598
These related issues, you are using `sudo su ` to become an unprivileged user, to share the files this requires special ownership, we firs ttry `setfacl` when that fails `chwon` but that is failing also, the fallbcak is to use a world readable tmp dir, but that has security issues and that is why it is not enabled by default.

[2021-05-06 19:09] #73264 closed, assigned to nobody

[2021-05-06 19:19] benjdudas opened #74601 "Case sensitive ini lookup option"
### Summary

When doing a lookup on a java properties file, case sensitivity is being ignored. Since java properties can be used case sensitive this RFE is to have the option to allow a case sensitive lookup on a properties file.

test.properties
[code]
ini_prop_test.yml
[code]
Ansible 2.7.9 Result:
[code]

Ansible 2.9.18 Result:
[code]

### Issue Type

Feature Idea

### Component Name

ini.py

##

[2021-05-06 19:23] #74581 closed, assigned to nobody

[2021-05-06 19:28] bcoca commented on #74583
closed via #74413

[2021-05-06 19:36] felixfontein commented on #74583
@bcoca can you please reopen this issue? This issue tracks the changes that #74413 did **not** make and that still need to be made.

[2021-05-06 19:43] relrod commented on #74598
!component= lib/ansible/plugins/action/__init__.py

[2021-05-06 19:50] samdoran commented on #74583
It looked like the changes in #74413 addressed this issue. Sorry for the confusion.

[2021-05-06 19:56] bcoca commented on #74601
This is more likely due to the Python version change and `ConfigParser` (the library that actually reads the ini) changing behavior after Python 3.2

[2021-05-06 19:59] Maheshdamu commented on #74598
Hi Braian, I enabled the orld readable tmp dir with below  parameter in config file. but still it is failling. is there any command to add in config file to avoid this error?

allow_world_readable_tmpfiles = True

[2021-05-06 20:09] bcoca commented on #74601
FYI, after looking at the documentation for ConfigParser, it was always 'case insensitive' the only difference is that since 3.2 they will give you an error.  We can turn the error off, but that won't make the parsing case sensitive, it will just ignore the duplication when using that file.

[2021-05-06 20:14] #25314 closed, assigned to bcoca

[2021-05-06 20:19] Maheshdamu commented on #74598
Hi Brain, here is the full output.

[oracle@OUD psu-apply]$ ansible-playbook patch.yml  -k -e "ansible_ssh_user=oraoem" -vvv
ansible-playbook 2.9.19
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/oracle/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable locat

[2021-05-06 20:45] Maheshdamu commented on #74598
Thank You very much for your help. here is my Config file too.

# config file for ansible -- https://ansible.com/
# ===============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.

[2021-05-06 20:49] samdoran commented on #74601
This is definitely a Python 2/3 difference. Here is a simple demonstration.
[code]

[code]

From the [docs](https://docs.python.org/3.9/library/configparser.html):

[2021-05-06 20:55] samdoran commented on #74601
The good news is that it seems somewhat trivial to make this case sensitive: we just have to set `ConfigParser.optionxform`. Further investigation is needed to understand the ramifications of that change. I image it will be backwards incompatible as there are probably a lot of people using Python 2 unknowingly relying on this behavior.

[code]

[code]

[2021-05-06 21:23] gabrielviegas opened #74606 "Unable to connect windows host"
### Summary

Unable to connect windows host using winrm

### Issue Type

Bug Report

### Component Name

host windows

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.2 LTS
Release:        20.04
Codename:       focal

### Steps to Reproduce

ansible windows -m win_ping

# cat /etc/ansibl

[2021-05-06 21:37] samdoran commented on #74601
I made this change and the existing integration tests pass. I'll work on a PR tomorrow with additional tests.

[2021-05-06 21:42] jborean93 commented on #74606
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2021-05-06 21:42] #74606 closed, assigned to nobody

[2021-05-06 22:05] #37355 closed, assigned to nobody

[2021-05-06 22:16] bcoca commented on #74601
@sdoran making it case sensitive is still not backwards compatible, the `strict` only toggled error reporting, it didn't change case sensitivity. This would be a new feature and I would require a toggle for it.

[2021-05-07 02:27] henriqueccapozzi commented on #74575
@pspacek
What if the output of `ansible --help` was like this?

![2021-05-06_23-24_1](https://user-images.githubusercontent.com/38324844/117389234-6cf7ce00-aec2-11eb-8659-ed9c95c7af9f.png)

[2021-05-07 06:02] Akasurde commented on #74598
[code]

[2021-05-07 07:26] dayiguizhen opened #74614 "python script use streamHandler will send log to stderr pipe"
### Summary

I use ansible-playbook `command` exec python script and register result as `logger_info`.
Then I want get python result  from logger_info.stdout but it is in logger_info.stderr.

### Issue Type

Bug Report

### Component Name

ansible-playbook

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04

### Steps to Reproduce

playbook.yml
[code]

test.

[2021-05-07 07:49] a666 commented on #61420
In other terms this module is not idempotent. A warning in the documentation would be nice, or a flag to

[2021-05-07 08:08] mkrizek commented on #74614
Yes, your script prints the logging information to `stderr` (which is default, see `logging.StreamHandler` documentation) so `"stderr": "test", "stderr_lines": ["test"], "stdout": "", "stdout_lines": []` is expected.

In any case this is not an issue with Ansible.

[2021-05-07 08:08] #74614 closed, assigned to nobody

[2021-05-07 08:40] pankajrlal opened #74615 "loop_var gets the whole list instead of item in list with python 3.8"
### Summary

I am using loop, loop_control and loop_var. To loop I am passing a variable that is a list of items. the loop_var is assigned the name of an item in the list when working with python 3.6, but gets the whole list assigned when working with python 3.8

### Issue Type

Bug Report

### Component Name

ansible-playbook

### Ansible Version

[code]

### Configuration

[code]

### OS / Envir

[2021-05-07 09:50] a666 commented on #61420
In other terms this module is not idempotent... In a configuration management system...

2 possible quick fixes:

[code]

[2021-05-07 10:04] mkrizek commented on #74615
I cannot reproduce the issue you are seeing. You are using unsupported version of Ansible, please upgrade to a [supported version](https://docs.ansible.com/ansible/devel/reference_appendices/release_and_maintenance.html#ansible-core-release-cycle) (2.9+).

needs_info

[2021-05-07 13:30] Maheshdamu commented on #74598
Hi, this is a warning message. not failed message.  it is actually failing with permission issue on /tmp/ans* while changing owner and permission.

Regards,
Mahendran

[2021-05-07 14:09] samdoran commented on #74601
Yeah, definitely seems like a new opt-in feature.

Supplying duplicate keys still results in the same error. My example had different keys because they were a different case. I don't think we should set `strict=False`. At a minimum we should catch and handle the exception. Maybe we should enable this explicitly so the behavior is consistent between Python 2 and 3? Explicit is better than implicit.

[2021-05-07 14:10] bcoca commented on #74598
In your last post we can clearly see that the error is different, mostly seems caused by the system interjecting a message into the middle of it.

`become_flags = su` <= don't do this, either use sudo or su, both in combination are not going to work well with either sudo or su become plugins (there is a sudosu one in community.general collection).

Seeing this is not a bug, but user configuration

[2021-05-07 14:10] #74598 closed, assigned to nobody

[2021-05-07 14:22] #74488 closed, assigned to Akasurde

[2021-05-07 14:24] Maheshdamu opened #74617 "Timout error - because sudo su - u oracle. how to remove -u in the sudo"
### Summary

Hi,

I am not able to remove -u while doing a sudo and it is getting failed with timeout error.

The sudo should be like ( sudo su - oracle) but i am getting sudo using ansible as ( sudo su - u oracle). i dont' want - in the sudo.

can you help me on it ( sudo su  -     -u oracle )

<dmsdbp2> SSH: EXEC sshpass -d8 ssh -C -o ControlMaster=auto -o ControlPersist=60s -o 'User="oraoem"' -

[2021-05-07 14:29] #71999 closed, assigned to nobody

[2021-05-07 14:34] mkrizek commented on #74617
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2021-05-07 14:34] #74617 closed, assigned to nobody

[2021-05-07 14:38] mkrizek commented on #74615
I am going to go ahead and close this per above. If the issue persists with a recent version of Ansible, please open a new issue.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-05-07 14:38] #74615 closed, assigned to nobody

[2021-05-07 15:10] samdoran commented on #11844
This feature is now implemented and works as expected.

[2021-05-07 15:10] #11844 closed, assigned to nobody

[2021-05-07 15:13] #12034 closed, assigned to nobody

[2021-05-07 15:13] bcoca commented on #12034
[code]

[2021-05-07 15:15] bcoca commented on #47147
closing as dupe #12320

[2021-05-07 15:15] #47147 closed, assigned to nobody

[2021-05-07 15:19] samdoran commented on #12320
Ultimately this is a problem with the remote host. We added a new option recently (#69284) that can set a timeout that can mitigate the problem with a problem host.

[2021-05-07 15:19] #12320 closed, assigned to nobody

[2021-05-07 15:21] samdoran commented on #12157
This is solved by putting the plugins in a collection.

[2021-05-07 15:21] #12157 closed, assigned to nobody

[2021-05-07 15:22] samdoran commented on #12565
Currently `--start-at-task` is working as intended. A custom strategy, as show above, is the recommend way to get other custom behavior.

[2021-05-07 15:22] #12565 closed, assigned to nobody

[2021-05-07 15:24] samdoran commented on #13496
This is solved by collections, which support semantic versioning as a valid attribute.

[2021-05-07 15:24] #13496 closed, assigned to nobody

[2021-05-07 15:26] #14385 closed, assigned to nobody

[2021-05-07 15:27] samdoran commented on #15243
This is possible with [`include_role`](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/include_role_module.html) using the `pubilc: no` parameter.

[2021-05-07 15:27] #15243 closed, assigned to nobody

[2021-05-07 15:31] samdoran commented on #15143
This is a niche requirement and a workaround was described above. We don't have any plans to improve this behavior, so I'm going to close it.

[2021-05-07 15:31] #15143 closed, assigned to nobody

[2021-05-07 15:36] samdoran commented on #15089
This is resolved is newer versions of Ansible.

[2021-05-07 15:36] #15089 closed, assigned to nobody

[2021-05-07 15:41] samdoran commented on #15484
Discussing (again) today, this is working as expected: handlers should only run on on hosts where changes were made, not all hosts in the play.

The workaround [suggested above](https://github.com/ansible/ansible/issues/15484#issuecomment-295390584) is the recommended way to achieve the desired result.

[2021-05-07 15:41] #15484 closed, assigned to jimi-c

[2021-05-07 15:42] samdoran commented on #15767
We have no plans to implement this feature at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2021-05-07 15:42] #15767 closed, assigned to nobody

[2021-05-07 15:44] #15695 closed, assigned to nobody

[2021-05-07 15:51] samdoran commented on #16894
Using the `paramiko` connection plugin will handle this properly. Or use `ssh-agent` to have the key loaded in memory and make sure the remote host is properly configured.

[2021-05-07 15:51] #16894 closed, assigned to jctanner

[2021-05-07 15:54] samdoran commented on #16871
We have stopped posting packages to `relases.ansible.com`. PyPI does not currently support package signing (though [there is some work being done on this](https://www.python.org/dev/peps/pep-0458/)).

Downstream packages for each distro are signed by the package maintainers (EPEL, RHEL, PPA, etc.).

[2021-05-07 15:55] samdoran commented on #17057
This is best resolved on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-05-07 15:55] #17057 closed, assigned to nobody

[2021-05-07 15:57] samdoran commented on #17041
`ansible_check_mode` and `ansible_verbosity` are available in recent Ansible versions. You can see all available [magic variables here](https://docs.ansible.com/ansible/latest/reference_appendices/special_variables.html#magic-variables).

[2021-05-07 15:57] #17041 closed, assigned to nobody

[2021-05-07 16:01] bcoca commented on #17393
[code]

[2021-05-07 16:08] vladaurosh opened #74620 "with_fileglob and fileglob lookup skip filename in parent directory (relative path)"
### Summary

When using with_fileglob or just fileglob lookup with list of patterns it looks like that, if filename is in parent directory, it is ignored.
For example, here something.sh is ignored:
[code]
This also doesn't work:
[code]
But if file is in another directory that is in parent dir it works fine:
[code]

I know that when using relative paths they are searched in some order (rolename/tas

[2021-05-07 16:14] sivel commented on #74573
This is ultimately going to be a duplicate of:

* https://github.com/ansible/ansible/issues/74281
* https://github.com/ansible/ansible/issues/73921

I'm going to assume that your actual playbook is not as simple as the one from the documentation, and you are probably doing an `include_role` or `import_role` within the top level roles.  If you only put a task in the `foo` role that looks like the f

[2021-05-07 16:14] #74573 closed, assigned to nobody

[2021-05-07 16:22] techBeck03 opened #74621 "Errors with json_query"
### Summary

I'm trying to use `json_query` to filter a json structure but keep getting the same error no matter how i try to change my code

### Issue Type

Bug Report

### Component Name

json_query

### Ansible Version

[code]
[code]

### OS / Environment

MacOS BigSur 11.2.3

### Steps to Reproduce

[code]

### Expected Results

i should get an output containing `[“vm-002”]`

### Actual Result

[2021-05-07 16:25] #74621 closed, assigned to nobody

[2021-05-07 16:30] techBeck03 commented on #74621
thanks for the bot fail

[2021-05-07 16:30] Shrews commented on #74621
Bot misidentified the module. `json_query` actually lives in [community.general](https://github.com/ansible-collections/community.general) now.

[2021-05-07 21:44] jsonp80 opened #74624 "custom specs with ip address : Failed to create a virtual machine : A specified parameter was not correct: nicsettings:adapter:ip"
### Summary

Trying to create vm from template but getting error seem like due to custom spec with ip address but not sure. I found this issue : https://github.com/ansible/ansible/pull/61329 seem the same but no instruction on how to fix and it closed.

### Issue Type

Bug Report

### Component Name

vmware_guest

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8

[2021-05-07 21:48] #74624 closed, assigned to nobody

[2021-05-07 23:34] mattclay opened #74626 "Drop `PyCrypto` support."
##### SUMMARY

`PyCrypto` is unmaintained, with the last commit to its repository in 2014. It no longer works as of Python 3.10 due to changes in arg parsing: https://docs.python.org/3.10/c-api/arg.html#arg-parsing

What little code remains in Ansible to support `PyCrypto` should be removed.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

ansible

[2021-05-08 12:43] Akasurde commented on #33694
I am not able to reproduce this.

[code]

needs_info

[2021-05-08 13:48] Akasurde commented on #39029
resolved_by_pr #74632

[2021-05-08 14:58] Akasurde commented on #49990
resolved_by_pr https://github.com/ansible/ansible/pull/53875

[2021-05-08 14:58] #49990 closed, assigned to nobody

[2021-05-08 20:21] martinberger-ch opened #74635 "tower_job_template returns KeyError: 'id'"
### Summary

I have created a simple job template to create other new job templates in RH Tower 3.8. When I run the  job template in tower 3.8 I get this error:

{
    "module_stdout": "Traceback (most recent call last):\r\n  File \"/root/.ansible/tmp/ansible-tmp-1620504521.6567032-32-183687671118113/AnsiballZ_tower_job_template.py\", line 102, in <module>\r\n    _ansiballz_main()\r\n  File \"/roo

[2021-05-09 05:18] Akasurde commented on #22561
resolved_by_pr #74636

[2021-05-09 05:29] Akasurde commented on #27349
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/2471.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible o

[2021-05-09 05:29] #27349 closed, assigned to nobody

[2021-05-09 05:47] Akasurde commented on #26322
@samdoran `sha1_crypt` is supported by `passlib`

[code]

but not by `crypt`.

[code]

So I think we can close this.

needs_info

[2021-05-09 07:42] Akasurde commented on #33587
resolved_by_pr #74637

[2021-05-09 07:44] Akasurde commented on #33317
@alinabuzachis @abikouo Would you be interested in resolving this? Thanks.

[2021-05-09 07:45] Akasurde commented on #32553
resolved_by_pr #73303

[2021-05-09 09:09] #74635 closed, assigned to nobody

[2021-05-09 11:32] felixfontein commented on #70871
This has been implemented and will be available in ansible-core 2.12. The example config file shows what can be configured right now: https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/config/config.yml

[2021-05-09 11:32] #70871 closed, assigned to nobody

[2021-05-09 13:02] drew-kun commented on #39272
It's been a while.. I guess the issue has been gone...

[2021-05-09 15:22] Akasurde commented on #70740
resolved_by_pr #74640

[2021-05-10 02:39] misogihagi opened #74641 "can't run playbook on AWS Lambda"
### Summary

When I try ansible-playbook on AWS Lambda, it can't be executed normally.

here is response from lambda.

[code]

and here is my Dockerfile

[code]

and  lambda_function.py

[code]

### Issue Type

Bug Report

### Component Name

CLI

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

AWS Lambda

### Steps to Reproduce

You can reproduce easily to deploy thi

[2021-05-10 04:35] Akasurde commented on #74641
@misogihagi Thanks for reporting this issue.

This is a problem because AWS Lambda does not have a tmpfs mounted. There is no mount command installed so you can not mount one, nor does your Lambda function have write permission to create /dev/shm.

[code]

[2021-05-10 07:38] pspacek commented on #74575
That's much better. Thank you!

[2021-05-10 08:23] eoli3n opened #74642 "xbps module fails to report install error"
### Summary

When i install multiple package with xbps module, if one fails to install, the reported package in the error is the wrong package, the last of the list.

[code]
If ``package2`` doesn't exist, the package reported in the error is ``package3``.
It makes task debugging harder than it should.

A workaround is to use a loop over the package list as

[code]

Then is ``package2`` doesn't exi

[2021-05-10 08:27] #74642 closed, assigned to nobody

[2021-05-10 08:45] mkrizek commented on #39272
Closing per above.

[2021-05-10 08:45] #39272 closed, assigned to nobody

[2021-05-10 13:36] s-hertel commented on #74620
If a directory precedes the filename (`../something.sh`, `../dir1/something.sh`), the possible search paths are examined for the directory (`../`, `../dir1`) and stop at the first found. Then the located path is searched for the file. `..` exists for the first search path. You could work around this by being specific in your path e.g. `myrolename/../../something.sh`.

[2021-05-10 15:02] vladaurosh commented on #74620
Hello @s-hertel

If this is the case, ../ is located and searched for the file, why file something.sh is not found in ../ ? And other file ../dir1/something.sh is found.
As for workaround, the issue is that file paths are read from one .yml file which is used by several roles.

[2021-05-10 15:48] bcoca commented on #74620
it finds the dir in the paths early, but not the file since it is not in that path.

[2021-05-10 15:52] vladaurosh commented on #74620
Sorry, which example you are referring to? ../something.sh?

[2021-05-10 16:07] twiggy opened #74645 "Globally configurable timeouts in module_utils/urls.py"
### Summary

urls.py hardcoded 10 as the timeout for URL requests. This is used by a large number of modules including apt_key.

If a server is being sluggish this 10 may not be enough, but 15 might plenty.

Being able to override this behavior per task would be arduous and might only fix one issue at a time.

If open_url in module_utils/urls.py looked for an environmental variable or setting this

[2021-05-10 17:26] #74191 closed, assigned to s-hertel

[2021-05-10 17:28] #74575 closed, assigned to nobody

[2021-05-10 17:37] bcoca commented on #74645
10 is the 'default' each caller can set their own (and some do)

[2021-05-10 19:46] #33694 closed, assigned to nobody

[2021-05-10 22:29] mattclay opened #74650 "Follow-up on indirect `distutils` dependencies"
##### SUMMARY

`ansible-core` has run-time and test-time requirements which depend on `distutils`.

To prepare for supporting Python 3.12, we need to be aware of these requirements and make sure that they are moving towards removal of their `distutils` dependencies.

There are two sets of requirements to be concerned with:

1. Requirements for unit and integration tests, which should only result i

[2021-05-10 23:48] jborean93 commented on #74650
[pywinrm 0.4.2](https://pypi.org/project/pywinrm/) has been release on PyPI which removes the dependency on `distutils`.

[2021-05-11 11:56] jrowens opened #74655 "option to preserve timestamps in modules fetch & copy (if not default)"
### Summary

As a general rule, I like preserving file-modified timestamps when possible. `scp` allows this, and I almost always use -p for this reason. But after using `ansible fetch` to get a config file off all my servers, hoping then to sort with `ls -Flthr` and see which has the newest copy that I should use as a basis for making them all consistent, I realised that ansible doesn't do this, a

[2021-05-11 14:29] #74525 closed, assigned to nobody

[2021-05-11 15:11] #74620 closed, assigned to nobody

[2021-05-11 15:11] agunnerson-ibm opened #74657 "All 'hardware/*.py' fact gathering silently fails when get_mount_info() throws an exception"
### Summary

When `hardware/linux.py` is gathering facts, if `get_mount_info()` (inside `get_mount_facts()`) fails and `res.successful()` returns false, then it tries to call `res.get()` on the result:

https://github.com/ansible/ansible/blob/d1c49f2e1c991b56060267b38751dad4ba703bdb/lib/ansible/module_utils/facts/hardware/linux.py#L576-L577

However, `multiprocessing.pool.AsyncResult.get()` is def

[2021-05-11 15:12] #66945 closed, assigned to s-hertel

[2021-05-11 15:21] mkrizek commented on #74641
Closing per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-05-11 15:21] #74641 closed, assigned to nobody

[2021-05-11 15:26] mkrizek commented on #74645
This should be configurable in your playbook. Open a new issue if you come across a module that does not expose timeout.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-05-11 15:26] #74645 closed, assigned to nobody

[2021-05-11 15:29] #74655 closed, assigned to nobody

[2021-05-11 15:29] mkrizek commented on #55768
This could be extended to the fetch module as well.

[2021-05-11 15:37] Andrey4ik85 commented on #66983
Are there any updates about the issue?

[2021-05-11 15:39] #70740 closed, assigned to nobody

[2021-05-11 16:13] mattclay opened #74658 "Update import test for Python 3.10"
##### SUMMARY

Implement `find_spec` and `exec_module` in the `RestrictedModuleLoader` for Python 3.10 and later. This depends on updating the collection loader first.

See also: https://github.com/ansible/ansible/issues/72952

Depends on: https://github.com/ansible/ansible/issues/74660

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

test/lib/ansible_test/_data/sanity/import/importer.py

[2021-05-11 16:14] mattclay opened #74659 "Update vendored `six` for Python 3.10"
##### SUMMARY

There are several options for resolving this:

* Vendoring a second copy of `six` that implements `find_spec` and `exec_module`, and using it for newer Pythons.
* Vendoring the latest version of `six` and updating it as needed to work back through Python 2.6.

See also: https://github.com/ansible/ansible/issues/72952

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

lib/ansible

[2021-05-11 16:15] mattclay opened #74660 "Update collection loader for Python 3.10"
##### SUMMARY

Implement `find_spec` and `exec_module`.

See also: https://github.com/ansible/ansible/issues/72952

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

lib/ansible/utils/collection_loader/_collection_finder.py

[2021-05-11 16:17] #72952 closed, assigned to nobody

[2021-05-11 16:20] jrowens commented on #74655
Ah shoot, I did try to search for relevant existing issues, but searched on 'timestamp', which term didn't come up in that issue (until now). Sorry for the noise.

[2021-05-11 16:23] mattclay commented on #74659
`find_spec` has been implemented in `six`: https://github.com/benjaminp/six/pull/352

[2021-05-11 17:33] #74599 closed, assigned to sivel

[2021-05-11 18:58] briansmith0 opened #74661 "RHEL for Edge package module support / new ansible_pkg_mgr"
### Summary

When running a playbook on a RHEL for Edge system (which uses rpm-ostree) and using the "package" module to validate a package is installed, it fails:
[code]
Ansible is detecting the ansible_pkg_mgr as "dnf":
[code]
There is another issue, https://github.com/ansible/ansible/issues/73084 which makes the assumption that RHEL for Edge should have ansible_pkg_mgr set to "atomic_container"

[2021-05-11 19:01] brian999999 commented on #74661
@maxamillion has been involved in this discussion.

[2021-05-11 19:05] #71343 closed, assigned to Akasurde

[2021-05-11 20:56] akarneliuk opened #74663 "AWX version of Ansible (2.11) breaks netbox.netbox inventory plugin"
### Summary

It looks like the Ansible version in the default AWX-EE has some problems with the netbox.netbox collection (probably, something else).

### Issue Type

Bug Report

### Component Name

ansible-inventory

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

## default AWX-EE for 19.1.0

bash-4.4$ cat /etc/os-release
NAME="CentOS Linux"
VERSION="8"
ID="centos"
I

[2021-05-11 23:24] nitzmahone opened #74667 "Jinja2 3.1 will break environmentfilter-wrapped filters/tests"
### Summary

Jinja2 3.0 renames the `environmentfilter` decorator to `pass_environment` (as well as the contextfilter equivalent), and has deprecated the old names (currently slated for removal in Jinja2 3.1) - see [Jinja2 3.0 release notes](https://jinja.palletsprojects.com/en/master/changes/#version-3-0-0) for more details. We need to conditionally import internal references to this on our own J

[2021-05-11 23:34] nitzmahone opened #74668 "Jinja2 deprecates overriding Context.resolve"
### Summary

If we're on Jinja2 >= 3.0, override `resolve_or_missing` instead. See https://github.com/pallets/jinja/issues/1380 for more details.

### Issue Type

Bug Report

### Component Name

Jinja2 plugins

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

(Jinja2 >= 3.0)

### Steps to Reproduce

N/A

### Expected Results

N/A

### Actual Results

[code]

### Code o

[2021-05-12 02:59] #74667 closed, assigned to nitzmahone

[2021-05-12 07:24] vlstill commented on #68199
Overall, I find it very tedious that subuids and subgids have to be specified by start + count, which makes them hard to use if the set of users is not fixed in time. It would be nice if ansible would provide a higher-level interface in which it would be possible to specify just user and number of sub{u,g}id-s for this uses – ansible would then check if this is already assigned and if needed find

[2021-05-12 12:53] mnecas opened #74676 "module_utils.basic: no_log on option parameters filters every output which matches the input"
### Summary

Hi,
when you create a module with the option type dict and it has suboptions and if there is some suboption with `no_log=True` it filters everything that matches the string inputted, even if it is not related to it the parameter.

In other words, let's say we input 123456 to the no_log option and we get some generated ID as output which also contains the 123456. It will filter the out

[2021-05-12 12:56] mnecas commented on #74676
Hi @nitzmahone @sivel
could you please check that out?

[2021-05-12 13:59] lonix1 opened #74677 "Add mode to cron module"
### Summary

The `cron` module creates cron job files with mode `0644`.

I have cron jobs invoked by `run-parts` (exactly how ubuntu does it for "daily", "weekly", etc.) But `run-parts` only runs executable cron jobs.

Please consider adding an optional `mode` option, so I can set `0744` for the cron job file? If unset it should default to `0644` for backwards compatibility.

### Issue Type

Featu

[2021-05-12 14:00] yurnov opened #74678 "ansible_user doesn't exist in versions 2.9.16 - 2.9.21"
### Summary

Ansible doesn't have variable ansible_user in version from 2.9.16 to 2.9.21

### Issue Type

Bug Report

### Component Name

core

### Ansible Version

[code]

### OS / Environment

Tested on RHEL7.6, Alpine 3.5.11 and Ubuntu 20.04.1 (VM and WSL2) with Python 2.7.15 and 2.7.18

### Steps to Reproduce

Execute playbook
[code]

### Expected Results

The expected result (and result achie

[2021-05-12 14:25] bcoca commented on #74676
dupe of #73659

[2021-05-12 14:25] #74676 closed, assigned to nobody

[2021-05-12 14:33] yurnov commented on #74678
Just tested the same with other version of Ansible, had expected result on version 2.9.15 and older and have same issue with 2.9.16 and higher.

Looking into [changelog](https://github.com/ansible/ansible/blob/stable-2.9/changelogs/CHANGELOG-v2.9.rst) I didn't see any breaking changes introduced in 2.9.16

[2021-05-12 15:18] yurnov commented on #74678
updated name of issue and issue description to reflect my finding that it introduced in 2.9.16

[2021-05-12 15:21] sivel commented on #74678
Duplicate of https://github.com/ansible/ansible/issues/73228

[2021-05-12 15:43] AppyDev commented on #72868
Is this issue already resolved?

[2021-05-12 15:59] sivel commented on #74668
Since we override both `resolve_or_missing` and `resolve`, we aren't impacted by this warning.  The warning is only generated if you override `resolve` and not `resolve_or_missing`:

https://github.com/pallets/jinja/blob/be15556dbaebc4ab45d3f5f5d34874279831103c/src/jinja2/runtime.py#L179-L183

Because we override `resolve_or_missing` it will instruct newer jinja2 versions that we are not using "le

[2021-05-12 15:59] #74668 closed, assigned to nitzmahone

[2021-05-12 16:10] NilashishC commented on #36284
FYI: This is being tracked ansible.netcommon - https://github.com/ansible-collections/ansible.netcommon/pull/268 now.

[2021-05-12 16:11] NilashishC commented on #73879
FYI: This is being tracked ansible.netcommon - ansible-collections/ansible.netcommon#268.

[2021-05-12 17:21] flowerysong commented on #74677
The `cron` module manages crontabs, which are a schedule of things to run and not something that is directly executable. You cannot run the files created by this module with run-parts even if you change their mode.

To create an executable script, you should use `copy` or `template`.

[2021-05-12 17:55] Shrews commented on #29363
I am unable to reproduce this with ansible-core version `2.9.21` or higher using the provided example (only modified the file path):

[code]

Playbook above produces the following output on first run:

[code]

The `known_hosts` content is:

[code]

Second run:

[code]

The `known_hosts` content does not change and the 2nd run does NOT report `changed`.  Running the `ssh-keyscan` on the command lin