[2017-08-11 03:01] lingfish opened #28051 "win_route not adding route using the right interface address"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_route

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A.

##### OS / ENVIRONMENT
Description:    Debian GNU/Linux 8.2 (jessie)

Remote: Windows 2012 R2

##### SUMMARY
When trying to add a route to a server with dual interfaces, the route looks good except for using the wrong "interface".

Note: route being added is going onto the interf

[2017-08-11 03:43] bcoca commented on #9034
FYI, we dont normally 'see' closed tickets, but someone in irc asked me to weigh in on this.

@brandonheller actually the default callback already does this 'defered print' for the 'free' strategy, its a very old reporting trick, just need to keep track if you printed the header already , if not, print and set the flag that says you did.

[2017-08-11 03:52] bcoca commented on #28038
Not really, other hostvars should exist, but making the YAML file invalid is probably preventing any of the other vars in same file from being defined.

Since you don't supply a reproducing playbook (just the output), i cannot conform nor deny that this affects anything else.

The current bug would be that you get no warning on invalid YAML file (but i do get one in my tests). In either case I nee

[2017-08-11 03:56] bcoca commented on #28024
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

facts, host and group vars .. basically any 'host associated vars' are not available for `vars_files`, only play scoped vars or extra v

[2017-08-11 03:56] #28024 closed, assigned to nobody

[2017-08-11 03:57] bcoca commented on #28043
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-08-11 03:57] #28043 closed, assigned to nobody

[2017-08-11 03:58] bcoca commented on #28049
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-08-11 03:58] #28049 closed, assigned to nobody

[2017-08-11 04:14] akostadinov commented on #11536
@thefourtheye , I'm not sure how many "lines suggested" you see here. Use the post with 50+ likes. But besides proper option you need to use a configuration file that [ansible knows about](http://docs.ansible.com/ansible/latest/intro_configuration.html). In your case `~/.ansible.cfg`. Try to pay attention to details, dot in front of user config file is a common unix convention.

[2017-08-11 04:20] thefourtheye commented on #11536
@akostadinov I am sorry, that was a typo. This is how it looks like

[code]

[2017-08-11 05:51] zarnovican commented on #27956
@abadger I have re-tested it from your branch and it looks good :+1:
[code]
I have also retested it on one real ansible play:
[code]

[2017-08-11 05:58] #23198 closed, assigned to nobody

[2017-08-11 06:22] ganeshrn commented on #27793
@coolcps
From the logs you shared
[code]
It seems you are not using authorize in your playbook.

Can you please add `authorize: yes` and retry on Ansible version 2.4.

[2017-08-11 06:29] jpmens commented on #28032
needs_contributor

[2017-08-11 06:36] andmos commented on #20006
For what it's worth, the message went away after some days in our case. Seems rather inconsistent. I guess we should send some flowers to the pywinrm guys to make them release the changes 😄

[2017-08-11 06:39] VAdamec opened #28052 "LVOL snapshot creation ask for confirmation in some corner case"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
LVOL

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Not aplicable

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.4

##### SUMMARY
I have ansible playbook which do mysql backup using LVM snapshot, occasionally I get into state where LVM request confirmation

##### STEPS TO REPRODUCE
Repeat snapshot creating end removing

[

[2017-08-11 06:39] aznx2oa opened #28053 "Ansible: LXC container is not running error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ping
##### ANSIBLE VERSION

"
ansible 2.4.0 (devel 88ccaf106b) last updated 2017/08/10 21:51:10 (GMT -700)
  config file = None
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /etc/ansible/lib/ansible
  executable location = /etc/ansible/bin/ansible

[2017-08-11 06:58] maethor commented on #27938
**Seriously?** Are you kidding?

It's not a user question, it's a bug report. Did you even read it @nitzmahone ?

Please reopen it.

[2017-08-11 07:54] ITD27M01 commented on #28026
@kevensen
Hi, thank you for reply. I'll try to check with library/pamd.py

[2017-08-11 07:56] ITD27M01 commented on #28026
@kevensen

I try to use https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/pamd.py

By task:
[code]

And get the following file:

[code]

[2017-08-11 08:07] cheng93 commented on #28035
My bad, would also explain why I couldn't find an existing issue.

[2017-08-11 08:07] #28035 closed, assigned to nobody

[2017-08-11 08:29] ITD27M01 commented on #28026
@kevensen

My appologies, the Ansible Tower uses only playbook level library path. It seems everything is OK for pam.d from devel branch:
[code]

[2017-08-11 08:37] jayenashar commented on #11536
I just want to chime in with my `.ansible.cfg`:

[code]

for me, `directory` was something ridiculously long, the latter part was just the straw that broke the camel's back.  Also I have this in my `.ssh/config` so I can reuse the same connection:

[code]

[2017-08-11 08:43] ssbarnea commented on #11536
Sorry but hardcoded tmp is not only not portable but also a serious security risk. For good reasons MacOS does not allow users to write to /tmp and provides isolated (private) tmp folders for each user.

Tmp would work only if you use OS provided tmp path, something like %(tmp)s ... after patching ansible.

[2017-08-11 08:44] akostadinov commented on #11536
Guys, please read existing comments, it's ridiculous everybody to come ask the same thing and somebody to add same solution. Use proper config file and see https://github.com/ansible/ansible/issues/11536#issuecomment-153030743.

Somebody, please close the thread to avoid further spam.

[2017-08-11 08:54] gchek commented on #19203
## **SOLVED !!**

moved to virtualenv using python 2.7.13_1
installed ansible
[code]
**# But that was not enough !!**

I had ```ansible.cfg``` file like
[code]
with ```inventory```
[code]
as suggested in http://docs.ansible.com/ansible/latest/intro_getting_started.html
**--This was part of the problem**
I had to comment the ```hostfile   = inventory``` line
and then it **worked OK** meaning I have

[2017-08-11 09:31] jean-christophe-manciot commented on #26224
This thread is NOT a "user question" & I confirm the bug report with:
[code]
I can manually SSH into the target:
[code]

But I cannot run a simple playbook with the same hostname defined in /etc/hosts:
[code]

[2017-08-11 09:33] thefatoneinthecorner opened #28058 "ansible-vault fails when vault-password-file is specified as a device file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux 7.2, but any Linux that reports files under /proc/self/fd as symbolic links

##### SUMMARY

The vault-password-file given to ansible-vault cannot be a 'special' Linux device file, such as a pipe or a socket, otherwise it fails.

[2017-08-11 09:36] jayenashar commented on #11536
@ssbarnea harcoded anything is not portable...  that's why it's not the default in ansible...  not sure i agree about the security issue or macOS issue since /tmp is sticky and openssh uses a sensible mode (0600) for these files.

regarding the solution using `%C` that requires a recent openssh...

[2017-08-11 09:43] guits commented on #23389
@jimi-c ?

[2017-08-11 09:45] jean-christophe-manciot commented on #23922
@gundalow #24466 deals with the same issue indeed, but this thread was open ~ 3 weeks before, so #24466 is a duplicate of the current one.

[2017-08-11 09:48] ssbarnea commented on #11536
I don't really care about ancient ssh versions, especially on the ansible controller. In order to evolve we need to let few things behind and in this case is not really a big deal because those affected could change config in order to be able to continue to use it.

I think is essential for the Ansible user experience (UX), to provide defaults that will suit *most* users, minimizing the need for c

[2017-08-11 10:13] jean-christophe-manciot commented on #23922
I confirm that this issue is still unsolved with:
[code]
Running a simple playbook with "show startup-config":
[code]

[2017-08-11 10:25] abhinav-chittora commented on #27860
Hi @jmcginn13,

I tried /vm/DevOps as well but still getting the same error that the folder is not available.

[2017-08-11 10:35] dpujadas opened #28059 "Multi-play playbook inconsistent behavior"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Multi-play playbook stops when all hosts in a play fail, even if the following plays affect other hosts.

##### STEPS TO REPRODUCE
Inventory
[code]
Playbook
[code]
Command 1
[code]
Command 2
[code]

##### EXPECTED RESULTS
Play 2 is execute

[2017-08-11 10:42] mattnac commented on #25653
+1 on this

[2017-08-11 11:05] walterdolce commented on #28023
Update: after explicitly installing `boto3` with Pip, the above worked.

That makes me think that:
- there's a bug somewhere [here](https://github.com/ansible/ansible/blob/v2.3.2.0-1/lib/ansible/module_utils/ec2.py#L35-L47) or [here](https://github.com/ansible/ansible/blob/v2.3.2.0-1/lib/ansible/module_utils/ec2.py#L109-L118) (and with the code that consumes those bits) or within the underlying de

[2017-08-11 11:13] Akasurde commented on #27860
@abhinav-chittora Can you please open a new issue for vmware_guest with details about your Playbook and infrastructure details ?

[2017-08-11 11:14] jstephenson commented on #21090
For me, this only happens when destination's already in place. So on first-run it happily accepts the symbolic notation, but then on subsequent blows up. Certainly very bug-like!

[2017-08-11 11:37] marafa opened #28061 "yum and dnf modules do not log to /var/log/{dnf.rpm.log,yum.log}"
##### ISSUE TYPE

 - ~B ug Report~
- Feature Idea

##### COMPONENT NAME

- yum
- dnf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

defaults only

##### OS / ENVIRONMENT

`Fedora release 25 (Twenty Five)` but i see it on other releases as well like rhel 7.3

##### SUMMARY

when using the yum or dnf modules to update or install packages they do not log to the system defined logs in /var/log/d

[2017-08-11 12:22] mkrizek commented on #28061
The `dnf` ansible module uses dnf's API, not CLI so the logging is not the same as when using dnf on the command line. You can use `dnf history` to see which packages got altered by your playbook though.

[2017-08-11 12:46] jctanner commented on #11536
I fixed this problem in a generic way for all versions of ssh 6 months ago. If anyone is seeing the problem with Ansible 2.3+, it is because you have set a custom control path in ansible.cfg instead of leaving it blank.

https://github.com/ansible/ansible/commit/ac78347f2bc4a489c7e254c6c1d950fb45f240ad

https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg#L360-L367

[code]

Since thi

[2017-08-11 12:51] privateip commented on #27815
@ganeshrn @Kokozzi #28025  should fix this issue

[2017-08-11 12:51] Vladimir-csp commented on #5512
'tags:' list in meta would be really nice.

[2017-08-11 12:53] Vladimir-csp commented on #14132
This also causes duplications in dependencies. If role 'X' with tag 'foo' depends on role 'A' and role 'Y' with tag 'bar' depends on role 'A', then role 'A' will be duplicated because it runs with different tags every time. This partially negates the benefits of dependencies.

Also: #5512

[2017-08-11 13:03] harrocan commented on #16956
2.3 - still not working, group_vars are not even considered

[2017-08-11 13:09] #26037 closed, assigned to nobody

[2017-08-11 13:13] kustodian commented on #16956
All supported versions of Ansible work with inventories and its group_vars/host_vars as it is described in the documentation. There is no point in replying in this issue any more because you won't get an answer. If you think that it's not working as it is documented please create a new bug request, or if you want to discuss this further or ask for help please do so on the [official forums](https:/

[2017-08-11 13:32] Vladimir-csp opened #28063 "include_role is duplicated via dependencies"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

FreeBSD server, CentOS client
##### SUMMARY

Tasks from role included via include_role are duplicated if used inside dependencies.
##### STEPS TO REPRODUCE

role 'technical'
role 'base' inlcudes 'technical' via include_role
role 'service1' depends on 'bas

[2017-08-11 13:34] #23757 closed, assigned to nobody

[2017-08-11 13:35] mschuchard commented on #28010
I forgot to mention we also changed the lookups to `item.<value>`, but you probably figured that out already.

[2017-08-11 13:35] ryansb commented on #21200
This should be closed via #21529 , please reopen if this problem persists.

[2017-08-11 13:35] #21200 closed, assigned to nobody

[2017-08-11 13:36] ryansb commented on #23757
#21529 is now merged and will be released with Ansible 2.4 in September. Please reopen or open a new issue if this fails to fix the error.

[2017-08-11 13:48] bcoca commented on #28059
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The behaviour is not inconsistent, a play fully failing during a run is considered a fatal error for the whole run.

In the future, thi

[2017-08-11 13:48] #28059 closed, assigned to nobody

[2017-08-11 13:49] bcoca commented on #28061
changed the state of the issue as this is a request to add functionality, not really a bug in the modules

[2017-08-11 13:54] m00dawg commented on #16956
I'm not sure why Ansible is being so stubborn and unhelpful with this. I think it's very much a bug not a feature. It required significant rework at my day job (where we are, of note, a paying customer) to the point we thought about switching to something else.

I find it both disappointing and aggravating the rhetoric here is with the tone of "move along peon." There are valid questions and conce

[2017-08-11 14:05] kustodian commented on #16956
@m00dawg I'm part of the community the same as you are and this is an issue which was resolved, so there is no reason to continue discussing the decision how the issue was resolved in here. If you don't agree with how it was resolved, you should raise a new one, or discuss it as I mentioned above, that's all I'm trying to tell you. Replying in this issue won't make a difference.

[2017-08-11 14:12] #27714 closed, assigned to Qalthos

[2017-08-11 14:14] bcoca commented on #16956
got pinged in irc for this one, just to reiterate, closed issues don't get seen by commiters so comments here  are mostly a waste.

IF you have reproducible bug, open a new ticket, we suggest using IRC or ML first to clarify if it is a bug or not.

The original posting for this ticket was not reproducible, which is why it is closed. Many other posts complained about 'not working' either w/o showin

[2017-08-11 14:17] #27501 closed, assigned to Qalthos

[2017-08-11 14:17] #27521 closed, assigned to Qalthos

[2017-08-11 14:17] #27604 closed, assigned to Qalthos

[2017-08-11 14:17] #27711 closed, assigned to Qalthos

[2017-08-11 14:23] bcoca commented on #27941
That does not make sense, play keywords would override any configuration setting

[2017-08-11 14:25] bcoca commented on #27520
@jlec can you confirm PR above fixes the issue for you?

[2017-08-11 14:37] bcoca commented on #22303
@geerlingguy if running under debug all 'shell outs' are logged on the target

From docs  systemd should executing the service when its sysv enabled. does this pose a problem i'm not aware of?
Debian Jessie has a broken systemd implementation, which is why this code handles it this way, I'm not against changing it but would like to do in a way that it is workable for all.

[2017-08-11 14:46] Qalthos commented on #26024
Does the issue persist in latest devel?

[2017-08-11 15:03] Winael opened #28069 "Precedence issue when targeting many inventories in Anible 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

inventories
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no specific configuration
##### OS / ENVIRONMENT

 Ubuntu 16.04.3
##### SUMMARY

When many inventories are targeted, with group_vars/host_vars associated, the variables are overloaded by the last targeted inventory vars

##### STEPS TO REPRODUCE

This is an exemple of inventories

[2017-08-11 15:05] bcoca commented on #28069
This is how 'inventory source precedence' works.

But the confusion is mostly that you expect each inventory and groups to be calculated in parallel. This is not the case, you are always appending to the 'one inventory' just from multiple sources. So the group_vars/all file applies to ALL hosts, not just the hosts in that inventory source.

[2017-08-11 15:07] bcoca commented on #28069
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2017-08-11 15:07] #28069 closed, assigned to nobody

[2017-08-11 15:22] geerlingguy commented on #22303
In this case it was on Ubuntu 16.04; I haven't had time to dig into the code yet, but if I hit this again, I will likely do so, just to try to find a way to get it fixed long-term. I haven't had any issues on Debian 9 or CentOS 7, so YMMV.

[2017-08-11 15:28] privateip commented on #22863
Closing this issue due to inactivity.  @Retenodus if you have time to test and are still having the problem, please reopen this issue

[2017-08-11 15:28] #22863 closed, assigned to nobody

[2017-08-11 15:29] privateip commented on #22409
closing issue per comments from @skg-net that this issue is resolved.

[2017-08-11 15:29] #22409 closed, assigned to nobody

[2017-08-11 15:57] alikins opened #28071 "devel build busted setup.py error on 'extras_require'"
when running:

[code]

build fails with:

`error in ansible setup command: 'extras_require' must be a dictionary whose values are strings or lists of strings containing valid project/version requirement specifiers.`

Guessing introduced in e4cd89936331be64d0385e36898cf735767fc89b

##### ISSUE TYPE

 - Bug Report

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUM

[2017-08-11 16:01] alikins commented on #28071
For my tests, extra_requires/extra_requirements ends up being:

[code]

[2017-08-11 16:06] bcarpio commented on #12841
Can we get a second look at this or should we open a second bug report for it? There is no reason to throw an exception when the requirements.yml file is empty. This forces me to build ansible roles which are inconsistent from a templating perspective. I have to comment out the requirements_path for roles which do not have requirements.

[2017-08-11 16:06] dtolj commented on #25086
after adding debug it shows the list of servers: /etc/ansible/vmware_inventory.py --debug > out

[2017-08-11 16:07] s-hertel commented on #28071
cc @mattclay

[2017-08-11 16:14] #27347 closed, assigned to privateip

[2017-08-11 16:16] #27908 closed, assigned to nobody

[2017-08-11 16:21] coolcps commented on #27793
ganshrn - I have never used authorize in the past, as all of the devices being managed are by default at the privileged prompt.   The issue was related to the the persistent connection not being cleared in some situations (like a hard crash), but with the above instructions I am able to clear the persistent connections after such situations.

[2017-08-11 16:41] Goobaroo opened #28075 "Allow ansible-vault encrypt_string to update group_vars file."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vault

##### ANSIBLE VERSION
2.3

##### SUMMARY
Extend the --output flag to work with the encrypt_string action to update/add the variable defined with -n.

So running: **ansible-vault encrypt_string -n PASSWORD MySecret --output=group_vars/servers**

Would update group_vars/servers file, adding PASSWORD: if it didn't exist, or updating if it

[2017-08-11 17:03] mattclay commented on #28071
Fixed with https://github.com/ansible/ansible/commit/ef953cb415e3a6f244adce5a2f9dafeedc019458

https://github.com/ansible/ansible/pull/28076 will catch this during PR testing in the future.

[2017-08-11 17:03] #28071 closed, assigned to nobody

[2017-08-11 17:11] alikins commented on #25991
See https://github.com/ansible/ansible/issues/2268

[2017-08-11 17:15] arusso commented on #19305
This also looks pretty closely related to #21285.

I'm running into this bug and would love to see either this or #21285 fixed and released in the next version.

[2017-08-11 17:36] pszabop commented on #28024
perhaps you should fix the documentation?  Not exactly obvious...

[2017-08-11 17:37] romanolucas opened #28078 "retries are not working properly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
retries

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT
Ubuntu / Amazon Linux / CentOS

##### SUMMARY
"retries" are not retrying the task when is failing

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The "retries: 3" needs to retry the task 3 times, but ansible is not doing  that.

##### ACTUAL RESULTS

[code]

[2017-08-11 18:11] saichint opened #28079 "(P1) nxos_snapshot compare does not work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_snapshot

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus7000 C7010 running 8.1(1)

##### SUMMARY
When we try to compare 2 snapshots, it is supposed save the difference in a file but nothing happens. The issue seems to be that, there is a method write_on_file() defined but never getting calle

[2017-08-11 18:13] rahushen opened #28080 "(P2) nxos_bgp_af idempotence fails when multiple networks are defined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_bgp_af

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

nxos_bgp_af module crops the list of networks to the first one when checking for existing networks. This causes idempotence issues.

##### STEPS TO REPRODUCE

[code]

[2017-08-11 18:27] ogenstad commented on #25319
This should be solved now in the devel branch since:
`ansible 2.4.0 (devel 21dbde0abe) last updated 2017/08/11`

[2017-08-11 18:28] ogenstad commented on #24466
Should be solved in the devel branch as of:
`ansible 2.4.0 (devel 21dbde0abe) last updated 2017/08/11``

[2017-08-11 18:28] ghost commented on #28038
Please don't try to make the YAML invalid. Try to make just the inline vault string itself invalid.

[2017-08-11 18:31] ogenstad commented on #23723
Works in devel branch, as of:
`ansible 2.4.0 (devel 21dbde0abe) last updated 2017/08/11´

[2017-08-11 18:33] ogenstad commented on #19183
Should be resolved in latest devel branch, as of:
`ansible 2.4.0 (devel 21dbde0abe) last updated 2017/08/11`

[2017-08-11 18:38] ogenstad commented on #23922
Please test with the latest version in devel, should be fine since
`ansible 2.4.0 (devel 21dbde0abe) last updated 2017/08/11`

[2017-08-11 18:42] ogenstad commented on #27094
@slavkv, can you please try with the latest version from devel:

`ansible 2.4.0 (devel 21dbde0abe) last updated 2017/08/11`

[2017-08-11 18:43] bcoca commented on #28038
im not making it invalid, i suspect that is what is currently happening, so the other vars are not getting declared. I'm planning on issuing an error when this happens.

[2017-08-11 18:45] ghost commented on #28038
Hi Brian, how can I help you? Should I create some files which reproduce this behaviour?

[2017-08-11 19:00] bcoca commented on #28038
yes, that is what i asked for above, since i dont seem to be able to, tried to reconstruct same with info given but I either get everything working or an error on badly formatted yaml file.

[2017-08-11 19:31] ghost commented on #28038
Alright, I created a repo.

https://github.com/yves-vogl/ansible-inline-vault-issue

Here are the steps to reproduce:

Run

```$ ansible-playbook -i inventory --vault-password-file=vault-secret tasks.yml ```

Output will be:

[code]

The happens because of the content in `host_vars/broken.example.com/vars`:

[code]

Here you can see that I obviously messed around with the encrypted string.

When y

[2017-08-11 19:36] #22254 closed, assigned to nobody

[2017-08-11 19:49] ghost opened #28084 "Possible quote filter issue"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME
Template Module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I'd like to use the `map("quote")` filter to surround elements of a list with quotes.
It seems that this does not work as expected as some strings are quoted - some are not.

##### STEPS TO REPRODUCE

I've setup a repo to demonstrat

[2017-08-11 19:55] gundalow commented on #27094
@slavkv Are you specifying the username via `cli` variable or an environment variable?

[2017-08-11 20:10] newswangerd opened #28086 "network user modules have conflicting arguments with network authentication args"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- junos_user
- vyos_user
- ios_user
- iosxr_user
- nxos_user
- eos_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The core supported network modules can accept args such as `password`, `username`, `ssh_keyfile` etc. to connect to network devices. These arguments can clash with certain modules w

[2017-08-11 20:10] rahushen commented on #26024
Yes, the above issue still exists for I2 and I3 release.

[2017-08-11 20:36] einarc opened #28087 "Have the ec2_asg module stop overshooting instances."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_asg Module
##### ANSIBLE VERSION

[code]
ansible 2.2.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7 and AWS
##### SUMMARY

Prevent the ec2_asg module from overshooting when either creating or updating an autoscaling group.
##### STEPS T

[2017-08-11 20:42] alikins commented on #25068
@timwhitlock @philipobrien If you have it, could you provide the ansible output with -vvvv verbosity when hitting this issue?

This is using the 'ssh' connection plugin? (ie, not paramiko...)

[2017-08-11 20:51] brandonheller commented on #9034
Thanks @bcoca, I'll see if I can get that to work.  Regarding adding to a closed bug, I already saw a bunch of comments here after closure and figured that the context of the whole issue was relevant.  In the future should I create a new issue and link here?

[2017-08-11 20:55] bearrito commented on #18894
Affecting me in 2.2 and with Ansible-Container

[2017-08-11 21:25] zgould commented on #23922
Just pulled it today & now receiving new issue:

[code]

[2017-08-11 21:50] ogenstad commented on #23922
@zgould, I haven't seen that before.. Doing a quick search it looks like it's related to #27793. Could you see if the suggestions about clearing the connection described in that issue can help you?

[2017-08-11 22:03] Imran-ibm commented on #27299
any update ... , workaround that could be applied ?

[2017-08-11 22:12] karrots commented on #26432
I agree that it seems to be more wide spread than `ios_command` its also affecting `ios_config`.

[2017-08-11 22:20] trondhindenes commented on #27203
That works perfectly. Thanks!

[2017-08-11 22:20] #27203 closed, assigned to nobody

[2017-08-11 22:20] zgould commented on #23922
@ogenstad

Connection clearing resolved the (ValueError: I/O) issue & I can confirm that the latest version resolved the (Enable Timeout) issue.

Thanks.

[2017-08-11 22:32] schlueter commented on #25856
@mokevnin that behaviour should be fixed as of https://github.com/ansible/ansible/pull/27922

[2017-08-11 23:03] einarc commented on #28087
Here's an example of how the module fails when it takes longer than the healthcheck period (1200 seconds mind in this example):

`{
    "_ansible_parsed": true,
    "_ansible_no_log": false,
    "changed": false,
    "failed": true,
    "invocation": {
        "module_name": "ec2_asg",
        "module_args": {
            "default_cooldown": 1200,
            "health_check_period": 1200,

[2017-08-12 00:21] Cerebus opened #28096 "pamd eats trailing comma in module_arguments"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pamd

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default configuration

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If module_arguments has a trailing comma, the resulting line in the module stack has an empty string.

##### STEPS TO REPRODUCE
pam_access.so requires the argument "listsep=," in order to parse Active Directory groups properly

[2017-08-12 00:50] #27956 closed, assigned to nobody

[2017-08-12 00:51] abadger commented on #27956
Thanks for testing!

[2017-08-12 02:01] #21090 closed, assigned to nobody

[2017-08-12 04:22] lingfish commented on #28051
Seems to me that we should be grabbing the Interface index based on what the user requests is the gateway to route to.

I'm thinking the fix is as simple as this? (I'm not a PS guy):

[code]

[2017-08-12 05:42] kmadnani commented on #11551
+1

[2017-08-12 07:17] #28032 closed, assigned to nobody

[2017-08-12 08:35] #28016 closed, assigned to nobody

[2017-08-12 08:41] jlec commented on #27520
@bcoca no yet another error
[code]

[2017-08-12 11:43] kevensen commented on #28026
@ITD27M01 No apologies necessary.  Are you content with the resolution?

[2017-08-12 12:03] ghost commented on #23843
@dagwieers In my opinion first of all in your [Windows Support article](http://docs.ansible.com/ansible/latest/intro_windows.html) you should move "Windows System Prep" section to the top. That's the essential thing for ansible to work with windows. And to this section you should add specific requirements for the windows side to support ansible connections:

- (only if you plan to use basic auth)

[2017-08-12 14:07] virtuald opened #28108 "WinRM: fatal errors when executing a long-running command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
windows/winrm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

* I'm using various custom filters/actions/modules, but none of them are related to the underlying connection

##### OS / ENVIRONMENT

* Control node: Ubuntu 16.04
* Hosts: Windows Server 2012 R2

##### SUMMARY

I've been able to consistently get fatal errors when installing .NE

[2017-08-12 16:37] Cerebus commented on #28096
@kevensen I tested your fixes and they didn't work for me.  See my comment on the pull req.

[2017-08-12 21:31] dagwieers commented on #23296
So it appears this issue is fixed. Should we improve the documentation to make this more clear ? If so, please open a new pull-request with the proposed fixes. I am closing this issue.

[2017-08-12 21:31] #23296 closed, assigned to nobody

[2017-08-12 21:57] cognifloyd commented on #13262
My use case: a problematic task that fails due to network or some other known issue. With a block, I can use rescue to reset whatever network connection is problematic, but then there is no way to use retry (a do until loop) to retry the block after fixing the known issue in the rescue block.

[2017-08-12 23:01] dagwieers commented on #23843
@0-d Can you make the required changes as a PR to the documentation ? You don't need any prior knowledge of Git, as you can edit the documentation directly in Github to make a pull-request. This way we have context to your changes, and can discuss each individually as a team.

In itself I agree with what you are saying, but I'd like others to chime in and make suggestions to improve it even furthe

[2017-08-12 23:27] dagwieers commented on #28084
So, first of all in YAML you don't need to quote strings, you only have to quote special strings (e.g. when it consists of something that YAML would misinterpret, like `: ` in a dict-value or `,` in a list-value). So in your example playbooks, no string in there actually requires quoting (not even the ones with an asterisk). We usually recommend to only quote when it is required, this helps to und

[2017-08-12 23:30] dagwieers commented on #28084
If you think we should update the existing documentation so this is more clear for future users, feel free to propose the required changes as a PR to the documentation. You don't even need to use Git, you can directly edit documentation files inside the Github web-interface in order to create a PR with your recommended changes).

[2017-08-13 00:58] vijaykatam commented on #12373
Although the convention _role_varname_ is followed in an ansible project, it does not solve the problem of name-spacing of external roles which get integrated into an existing ansible project. How do you force an external role to namespace the variables or for that matter if there is a role name conflict?

[2017-08-13 01:23] bsdxbsdx commented on #25743
I discovered this issue today because I noticed Ansible starting a service that was essentially disabled by default in rc.conf by not being listed. It happens to be a service (xenguest) that starts automatically at boot if a kernel feature is detected and no longer needs to be specifically enabled in rc.conf. I have Ansible install the xe-guest-utilities packages in case the VM gets moved to a Xen

[2017-08-13 04:20] kostyanius commented on #16354
ssh-keygen -t rsa
ssh-copy-id user@serverip
ansible-playbook /playbooks/someplaybook.yml

[2017-08-13 06:00] belambert commented on #23578
+1

[2017-08-13 06:34] kdar commented on #24862
Same issue with Ubuntu 16.04 in docker. User home directories are root:root

[2017-08-13 07:48] heathtechnical opened #28116 "Limit strings with @filename syntax do not handle awkward filenames"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Limit strings using @filename syntax do not handle awkward filenames, even when properly escaped.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Filenames with awkward, but escaped, characters should be handled correctly and n

[2017-08-13 10:28] andriilahuta opened #28117 "'zip' template filter is missing under python3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
zip template filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Ubuntu

##### SUMMARY
Ansible can't load zip filter under python3. The problem seems to be at this line:
https://github.com/ansible/ansible/blob/21bd7bcbb09d21f2c9a33cd2d6ff906de3cd0926/lib/ansible/plugins/filter/mathstuff.py#L164
zip is a bui

[2017-08-13 12:46] gerph opened #28119 "xml module: Changing an attribute value is non-obvious ('attribute' is not documented)"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
lib/ansible/modules/files/xml.py

##### ANSIBLE VERSION

[code]

I'm using the module on an earlier version of ansible than the latest, as I've just noticed that it's been pulled in to the main core. This particular issue should not be relevant to the version.

##### OS / ENVIRONMENT
N/A, although I'm testing with ubuntu/trusty.

#####

[2017-08-13 14:40] brokenjacobs commented on #27952
Having a similar issue. I can set children using xpath but once the child spec gets complicated I can't get idempotent results. And since there is no diff support I've been adding statements trying to find the differences between what the server writes out and what Ansible writes out. I get that ordering is preserved for a reason but this module has no built in help for trying to find out what is

[2017-08-13 14:42] brokenjacobs commented on #27952
Sorry can't edit previous comment from mobile. The module will let you create a child that goes into an element with a default namespace set. xml a=...' and it will add the namespace to your new child elements when the set occurs. But unless you specify the xmlns in the child xml at set time, it will always report that the child 'changed' even though it really hasn't in the output xml.

[2017-08-13 14:43] brokenjacobs commented on #27952
Xmlns=... I should stop tying github comments on my mobile.

[2017-08-13 15:22] #25584 closed, assigned to nobody

[2017-08-13 15:57] DSpeichert commented on #24110
Still a bug in Ansible 2.3.2.0

[2017-08-13 16:18] rsimonfr commented on #27187
I have seen @ryansb has closed the issue but I dont think #27902 solves my initial request ?
or do you mean @lukas-bednar  it is not possible by engine and it also need your template-rename feature request ?

[2017-08-13 17:34] newswangerd commented on #27489
I'll take a look at this.

[2017-08-13 18:18] anonymous09 opened #28126 "[parted] Can't create BIOS boot partition on GPT disk"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

parted

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Module "parted" doesn't handle fs-type option:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/parted.py#L559

##### STEPS TO REPRODUCE

Try create BIOS boot partition on GPT disk

[code]

##### EXPECTED RESULTS

Ans

[2017-08-13 19:40] ITD27M01 commented on #28026
@kevensen yes, workaround and waiting for 2.4

[2017-08-13 20:21] dejayc commented on #14341
This may be an incredibly dumb suggestion, but might it be possible to solve some of these issues by invoking `ansible-playbook` within each playbook that depends upon other playbooks not located within the same project/directory tree/hierarchy?

I'm given to making suggestions like this because Ansible has horrible, horrible support for code modularity and reusability.  I've never seen something

[2017-08-13 20:34] dmuth commented on #14358
+1

[2017-08-13 20:59] rodrigoaguilera opened #28130 "Add an option to map the --delete-excluded rsync option to the syncronize module."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
syncronize module module

##### ANSIBLE VERSION
[code]

##### SUMMARY
Add an option to map the --delete-excluded rsync option to the syncronize module.

It can be very handy to be able to configure it as a setting from the module.

[2017-08-13 22:37] jborean93 opened #28134 "win_reboot hangs when reboot is too quick"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_reboot

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
any

##### SUMMARY
If you run win_reboot and the host comes back within a very short period of time, the win_reboot action plugin will hang while waiting for the port to go offline before checking it is online. This has happened a few times with a brand

[2017-08-13 23:27] kevensen commented on #28026
resolved_by_pr #25817
close_me

[2017-08-13 23:29] #28026 closed, assigned to nobody

[2017-08-13 23:45] dagwieers commented on #28134
Isn't this a duplicate of #19825 ?

[2017-08-14 00:00] jborean93 commented on #28134
Looks to me it probably is related, will close this one down. Thanks @dagwieers.

[2017-08-14 00:00] #28134 closed, assigned to nobody

[2017-08-14 01:00] lealoncity commented on #27423
Hi emonty,

Any update?

[2017-08-14 03:12] geerlingguy commented on #21769
See related upstream issue: https://github.com/awslabs/serverless-application-model/issues/90

Which seems to indicate the same thing as @philsch mentioned:

Maybe there could be some way for Ansible to check if there's a `Transform:` top level key in the template, and if so, switch to using changesets instead of create-stack?

I had to deploy a CF stack with a Transform in it today, so had to rel

[2017-08-14 05:39] sunilnaths opened #28147 "changed": false, "failed": true, "msg": "unable to open shell. Please see: https://docs.ansible.com/ansible/network_debug_troubleshooting.html#unable-to-open-shell"}"
Having issues wit NX)S i tired to host_key_checking = False

Still same issues getting

 FAILED! => {"changed": false, "failed": true, "msg": "unable to open shell.

any advice?

Verify first that your issue/request is not already reported on GitHub.
Also test if the latest release, and master branch are affected too.
-->

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##

[2017-08-14 06:21] joshmorel opened #28148 "letsencrypt v2.4 http-01 certificate validation false positive error - No 'Not after' date found"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
letsencrypt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
logging on - doesn't make a difference

##### OS / ENVIRONMENT
Both are:
Ubuntu 16.04.3 LTS x64

##### SUMMARY

I get this error in version 2.4.0 when trying to create a letsencrypt certificate which I confirmed does not occur in 2.3.2.

`FAILED! => {"changed": false, "failed": true,

[2017-08-14 07:04] #27489 closed, assigned to nobody

[2017-08-14 07:33] lukas-bednar commented on #27187
@rsimonfr yes, your initial issue is not solved because it is not supported by oVirt engine to rename template during import operation.
Simply say the `template` keyword in `import` call is ignored, and template gets imported with same name as it exists in export-domain.

[code]
The possible way to go is adding that rename-feature.

[2017-08-14 07:46] slavkv commented on #27094
@gundalow with 'cli'.

[2017-08-14 08:26] jglf commented on #20663
I had a better look in the last few days and submitted #28149 .
You can apply the diff to 2.3 if needed. The main point is to use vmware_guest (which is based on the official and maintained pyvmomi) when possible rather than vsphere_guest (based on the unmaintained pysphere).

[2017-08-14 09:16] walterdolce commented on #25819
The module is failing when trying to build an AWS AMI with Hashicorp Packer based off the one with id `ami-402f1a33` but with a different message:
[code]

The task code is simply:
[code]

I am also using @geerlingguy 's NTP role with its default values and the operating system under which this fails is a Debian OS.

Note that this does NOT fail when building a VM locally with test-kitchen.

[2017-08-14 09:28] emestee commented on #23727
Observing the same in

ansible 2.3.1.0
  config file = /home/emestee/src/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12+ (default, Sep 17 2016, 12:08:02) [GCC 6.2.0 20160914]

[2017-08-14 09:47] walterdolce commented on #25819
Update, on the EC2 instance where this fails, I get the following:
[code]

I also saw #19280, could they be related (Debian is used there as well as in my instance)?

[2017-08-14 10:16] gangefors commented on #14468
My issue is that I have a playbook that have both a task that installs an apt package and a task using docker ansible modules.

If I run it in a venv with `-e ansible_python_interpreter=$(which python3)` the playbook fails with `Could not import python modules: apt, apt_pkg. Please install python3-apt package.`.
But if I change to the system installed python version then all the docker module task

[2017-08-14 10:39] #27399 closed, assigned to trishnaguha

[2017-08-14 10:51] frenzymadness commented on #18456
@gundalow I am really sorry. I completely forget about this issue. I am gonna take a look on this ASAP and I'll send a link to script to discuss.

[2017-08-14 10:57] JoyceBabu opened #28151 "SELinux state modification is always returning 'changed'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
selinux

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
I am running the playbook locally on a new server. I haven't made any change to the ansible configuration.

##### OS / ENVIRONMENT
[code]
##### SUMMARY
The following task is always returning as changed, even though the selinux configuration is already in the required condition. Hence, I

[2017-08-14 11:00] walterdolce commented on #25819
Another update. Looks like the AWS instance was missing the `dbus` package whereby the VM used in test-kitchen has it (*sigh*). Installing it (with Ansible) on the builder EC2 instance solved my problem.

[2017-08-14 11:33] jurajama commented on #24874
@privateip : I'm afraid that this fix is not yet fully working.

I installed devel-branch Ansible on virtualenv, the version is this:
`ansible 2.4.0 (devel 60ce6438e3) last updated 2017/08/14 13:48:25`

Then I tried to apply this configuration to SROS:

[code]
The result is that part "ntp-server authenticate" is now ok, so the fix works for that part.

However the next command "zone EET" after tha

[2017-08-14 11:48] trishnaguha commented on #27077
This is fixed in devel.

[2017-08-14 11:48] #27077 closed, assigned to trishnaguha

[2017-08-14 11:51] #27485 closed, assigned to nobody

[2017-08-14 12:35] #23437 closed, assigned to nobody

[2017-08-14 12:40] kartsims commented on #9966
Same solution as @elnur for Debian container on Docker

[2017-08-14 13:06] rvalente opened #28159 "Enable/disable/list repos using redhat_subscription module"
_From @ghost on March 22, 2016 11:7_

##### Issue Type:
- Feature Idea
##### Plugin Name:

redhat_subscription

##### COMPONENT NAME
lib/ansible/modules/packaging/os/redhat_subscription.py

##### Ansible Version:

N/A
##### Ansible Configuration:

N/A
##### Environment:

N/A
##### Summary:

redhat_subscription module does not contains options to enable/disable/list repos.
When connecting a server

[2017-08-14 13:06] rvalente commented on #28159
_From @jfenal on June 8, 2016 23:27_

As for needs:
- get list of repos currently enabled on the machine
- enable if not yet enabled a repos or a list of repos (in one command, as subscription-manager is slooooow)
- same for disabling a list of repos, with special '*' to disable all repos (and build on a clean state)

[2017-08-14 13:06] rvalente commented on #28159
_From @samdoran on June 13, 2016 19:55_

I would like this functionality as well. I'm wondering about the best way to go about implementing it.

Would it make sense to add this to the existing `redhat_subscription` module given the `state:` parameter would then be ambiguous, i.e., is the _repo_ enabled ( `repos --enable` vs `repos --disable`) or is the _subscription_ enabled (`register` vs. `unreg

[2017-08-14 13:06] rvalente commented on #28159
_From @minusdavid on July 22, 2016 1:2_

Since the modules "rhn_channel" and "rhn_register" already exist, I think it would be reasonable and consistent to create a new module called "redhat_repository" to go alongside "redhat_subscription".

By the way, I'd also like this functionality. I wonder how people are managing their repos using subscription-manager in Ansible at the moment. Using the com

[2017-08-14 13:06] rvalente commented on #28159
_From @minusdavid on July 22, 2016 7:11_

As a short-term measure, I'm writing a custom "site_facts" module which will parse redhat.repo, and then I can use that with some conditionals to do "command: subscription-manager repos...".

It's not really that different from the concept behind http://docs.ansible.com/ansible/include_vars_module.html I imagine... except instead of YAML/JSON it's the INI

[2017-08-14 13:06] rvalente commented on #28159
_From @jfenal on July 22, 2016 14:56_

I've started writing such a module, but was interrupted before I could finish a first version I could test.
Have a look at : https://github.com/jfenal/ansible-modules-jfenal
The logic is mostly there, BUT not tested at all, no JSON output, no error handling. It clearly lacks some more code to be functional, but close.

Please note my disclaimer : my first ans

[2017-08-14 13:06] rvalente commented on #28159
_From @samdoran on July 22, 2016 19:41_

I have a [role](https://galaxy.ansible.com/samdoran/redhat-subscription/) that's using `command` to manage subscriptions and repos.

[2017-08-14 13:06] rvalente commented on #28159
_From @minusdavid on July 23, 2016 14:55_

Kudos for your work, guys!

@samdoran I take it that's not idempotent, so you use tags to just run it once during initial setup?

@jfenal Looks ambitious! I opted for a local custom module, which you can see at this [Gist](https://gist.github.com/minusdavid/2774a8d6df5ded46b1b63e05f214da01)

[2017-08-14 13:06] rvalente commented on #28159
_From @minusdavid on July 23, 2016 14:57_

Btw, it works well enough. I like the idea of a core redhat_repository module best, but this will certainly do the job for now.

[2017-08-14 13:06] rvalente commented on #28159
_From @minusdavid on July 23, 2016 15:3_

Just realized that you both appear to work at Red Hat.

I'm super curious about if/how RH is developing Ansible to help manage RHEL...

I've only been using RHEL for a couple of weeks, but I've used Ansible for a couple years. So far so good using it to setup RHEL servers. The only real sticking point so far has been this issue. Well, and this [one](https:

[2017-08-14 13:06] rvalente commented on #28159
_From @detiber on September 8, 2016 17:10_

@barnabycourt not sure if you've seen this bug

[2017-08-14 13:06] rvalente commented on #28159
_From @ansibot on October 6, 2016 14:57_

@barnabycourt, @alikins, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-08-14 13:06] rvalente commented on #28159
_From @jfenal on November 28, 2016 22:43_

https://github.com/ansible/ansible-modules-extras/pull/3559

[2017-08-14 13:06] rvalente commented on #28159
_From @ansibot on December 7, 2016 18:6_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-08-14 13:06] rvalente commented on #28159
_From @jfenal on December 27, 2016 17:8_

For followers of this thread, please have a look at https://github.com/jfenal/ansible-modules-jfenal, all feedbacks are welcome before I submit it to ansible core.

[2017-08-14 13:06] rvalente commented on #28159
_From @detiber on January 3, 2017 19:46_

@barnabycourt might be of interest to you.

[2017-08-14 13:39] radkodinev opened #28160 "ec2_metric_alarm module missing option treat_missing_data"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ec2_metric_alarm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Amazon CloudWatch has added a setting to define how an alarm handles a missing data point ([announcement](https://aws.amazon.com/about-aws/whats-new/2017/03/cloudwatch-alarms-releases-two-new-alarm-configuration-settings/), [descr

[2017-08-14 14:08] ghost opened #28161 "netapp_e_storagepool module - pool creation fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
netapp_e_storagepool storage module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When Running playbooks that make use of netapp_e_storagepool the task fails if the pool has to be created

##### STEPS TO REPRODUCE
<!---
- reproduced on e2800 series but never tried on 5600
- issue present also with late

[2017-08-14 14:10] #19213 closed, assigned to nobody

[2017-08-14 14:16] #27170 closed, assigned to nobody

[2017-08-14 14:27] newswangerd commented on #28086
action: change args to configured_password

[2017-08-14 14:42] mabes opened #28165 "File module fails on broken symbolic links when follow=yes and recurse=yes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No configuration

##### OS / ENVIRONMENT
Tested on Debian Stretch and Centos 7

##### SUMMARY
Ansible's file module crashes when encountering an invalid symlink when the *recurse* and *follow* options are both enabled

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Invali

[2017-08-14 14:43] Qalthos commented on #27066
Can you show me what `show ip access-list | json` replies with in each case?

[2017-08-14 14:56] ghost opened #28166 "netapp_e_volume storage module on e2800 reports volume created but nothing is being created"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
storage module netapp_e_volume

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
if i run the playbook calling the module netapp_e_volume to create new volumes, the volumes are not created albeit reported as "msg": "Standard volume [volume_ansible01] has been created."

##### STEPS TO REPRODUCE
- the probl

[2017-08-14 14:58] alikins commented on #28078
(this is a reformat of the error message for easier reading)
[code]

[2017-08-14 14:59] #21008 closed, assigned to nobody

[2017-08-14 15:03] rgarrigue opened #28167 "Foreman module going for katello API"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

Foreman module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

Ubuntu 16.10 Unity

##### SUMMARY

I use ansible to install puppet agent, sign cert on master, and last step would be to switch them to enable "managed" and assign a default puppet class, using foreman module. But this m

[2017-08-14 15:07] alikins commented on #28087
@einarc Could you test this with ansible-2.3 or the current ansible devel branch from git? There have been a lot of changes to the ec2_asg.py since ansible-2.2.

If possible, paste a copy of the 'ansible-playbook' output with the '-vvvv' verbosity level enabled for a run that shows this error.

[2017-08-14 15:07] flawaetz opened #28168 "ResourceNotFoundError when assigning disk to GC instance"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/google/gce.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Running on Ubuntu 16.0.4.2 LTS inside Google Cloud

##### SUMMARY
@supertom @bcoca
ansible instance creation fails due to error indicating it can not find the assigned boot disk.  This same playbook runs fine with ansible 2.3.2.  I

[2017-08-14 15:08] #23711 closed, assigned to nobody

[2017-08-14 15:15] alikins commented on #28116
ping @bcoca looks like this ends up in inventory.manager.InventoryManager.subset().
(assuming the shell is handling the escapes and ansible args parser gets '@this:test.list')

[2017-08-14 15:17] alikins commented on #28116
@heathtechnical Could you provide an example of the contents of 'this:file.lst'?

Does the limit work if simpler filenames are used? ie (file name 'this_file.lst' and cli '-l @this_file.lst') ?

[2017-08-14 15:20] #27989 closed, assigned to nobody

[2017-08-14 15:28] alikins commented on #28147
This looks like a question about use of ansible, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-08-14 15:28] #28147 closed, assigned to nobody

[2017-08-14 15:31] frenzymadness commented on #18456
@gundalow I updated my script based on the original lib2to3 module to fits your needs in CI. Output JSON contains path, code and simple message.

Line and column nums are not provided but code contains unified diff with changes made by python-modernize where line nums are included.

Unfortunately, I cannot provide a better message with applied fixer name because I have to apply all fixers at once.

[2017-08-14 15:35] alikins commented on #28148
ping @jimi-c you mentioned a similar issue in the past. Is this related?

[2017-08-14 15:35] newswangerd commented on #27115
This is also failing because the ios_user is querying the device state while it is in config mode:

[code]

This playbook throws:

[code]

[2017-08-14 15:44] alikins commented on #28151
@JoyceBabu Any chance you could test this out on ansible devel (future 2.4.0) as well?  There have been a fair amount of changes in the selinux.py module for 2.4 (including how 'changed' works), so curious 2.4 fixes this.

Could you add a task for checking the active selinux status before the 'selinux:' task? A shell: command for 'sestatus' should be sufficient. Curious if the running selinux conf

[2017-08-14 15:49] alikins commented on #28159
ping @alikins, @barnabycourt, @kahowell

[2017-08-14 15:51] alikins commented on #28161
@labazza could you provide example output of a playbook that fails when ran with ansible-playbooks '-vvvv' verbosity level? And an example playbook?

[2017-08-14 15:52] alikins commented on #28165
ping @abadger

[2017-08-14 15:54] muellerk22 opened #28171 "synchronize module miss handles retaliative path "../""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg is unedited config from ansible install

##### OS / ENVIRONMENT
x 3.10.0-514.21.1.el7.x86_64 #1 SMP Thu May 25 17:04:51 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
Using a relative path to sync a directory that is present in the ansible directory will sy

[2017-08-14 15:57] alikins commented on #28168
ping @supertom Could https://github.com/ansible/ansible/commit/1c38cba7ca408630b37670d054beaa87cf84c4fc be involved here?

[2017-08-14 16:02] lmprice commented on #28161
@labazza I can take a look at this, but I'll need a bit more context. We're successfully using this module both in cases where it already exists, and where it needs to be defined. In addition to what @alikins requested, if you can also provide the output from the e-series facts module, that would be helpful.

[2017-08-14 16:06] alikins commented on #28165
@mabes was this working in earlier versions of ansible? (curious if this is a regression)

[2017-08-14 16:31] nitzmahone commented on #28108
I'm going to close this one- you're using WinRM to upgrade core WinRM/Powershell components. While I've *occasionally* had success doing this, in most cases, the installer basically rips the rug out from underneath WinRM by terminating services or otherwise making new .NET/Powershell calls nonfunctional until a reboot has occurred... I don't believe this is a scenario that Microsoft supports or te

[2017-08-14 16:31] #28108 closed, assigned to nitzmahone

[2017-08-14 16:40] #25378 closed, assigned to nobody

[2017-08-14 16:42] avico commented on #16776
Not sure if it's related to this bug, but I observed similar behaviour with Ansible 2.2.0.0 and such expression:
[code]

'ansible_host' is undefined

[2017-08-14 16:44] andreaso commented on #28117
Yepp, looks like you are right about the cause.

I have created the https://github.com/ansible/ansible/pull/28158 pull request.

[2017-08-14 16:55] Qalthos commented on #27129
For the time being, `terminal dont-ask` can work around the issue

[2017-08-14 17:09] Qalthos commented on #27138
Hmm, I can't reproduce here, can you show me what `show version | json` looks like on that device?

[2017-08-14 17:41] 3onyc commented on #27277
This probably ties into #23816 and the need for some kind of locking

[2017-08-14 17:41] kert-io opened #28179 "Include Role does not allow dynamic name specification."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- include_role

##### ANSIBLE VERSION
ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/share/ansible', u'/etc/ansible/library']
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]

##### OS / ENVIRONMENT
mac
##### SUMMARY
Include_role does not parse variable in the nam

[2017-08-14 17:48] bcoca commented on #28179
dupe of #22571

[2017-08-14 17:48] #28179 closed, assigned to nobody

[2017-08-14 17:49] bcoca commented on #22571
dupe of #22881

[2017-08-14 18:13] trinitronx commented on #20109
Reproduced on these Ansible versions:

[code]

And:

[code]

### Playbook:
[code]

### Error:

[code]

### Stacktrace:

[code]

[2017-08-14 18:24] kert-io commented on #22571
Still having same issue and static: false has no impact.  Is ansible 2.4 the only way to make variable expansion work in the include_role name?

[2017-08-14 18:27] heathtechnical commented on #28116
Apologies, the examples I gave above were incorrect, the actual error I get is:

[code]

Where inventory contains:

[code]

And a sensibly named file correctly gives:

[code]

In both cases, file contents is:

[code]

[2017-08-14 18:36] gantte commented on #27780
I support this feature update idea.
There is current no way to "yum clean all", other than via command: module.
Using command: yum clean all, provides a warning:
 [WARNING]: Consider using yum module rather than running yum
If I could actually USE the yum module and pass "clean all", I would.

[2017-08-14 18:48] mabes commented on #28165
@alikins good question, I assumed it never worked, but after bisection
the test starts failing at d0556885ff8cad8d0899757a0132a360a44d272c

This commit makes the follow+recurse combo work correctly for valid
symbolic links, which it didn't before. But it introduces the crash on
invalid symlinks, which in my humble opinion are legitimate or at least
are to be expected on a filesystem.

Should I fil

[2017-08-14 19:11] c0psrul3 opened #28183 "Py3 error, modify pass failed with """'str' does not support the buffer interface""""
https://github.com/ansible/ansible/blob/09cabaf702bab81d2d4abd9b0f81913b5b033921/lib/ansible/modules/system/user.py#L1459

example failed output:
"""
fatal: [calgtnt04]: FAILED! => {"changed": false, "failed": true, "msg": "failed to update users password: 'str' does not support the buffer interface"}
"""

This host is SunOS  10u11
working on testing change to open file with 'wb+'.

[2017-08-14 19:18] #28080 closed, assigned to nobody

[2017-08-14 19:18] jhawkesworth commented on #24057
@fernandopcg - is upgrading to S2008R2 an option for you?  If so you can install later versions of Windows Management Framework and Powershell which (in my opinion) are worth upgrading.

[2017-08-14 19:21] jhawkesworth commented on #14386
@taraslayshchuk - please can you try the workaround described above?
There has been no comment on this issue for 4 months now so if it is no longer a problem, please can this be closed?

[2017-08-14 19:45] fnkr commented on #22571
@bcoca Did you just close this issue as duplicate of itself?

[2017-08-14 19:59] abadger commented on #28165
We've merged allmodules into the ansible/ansible repo so this is the proper place for a ticket.

Here's the ticket that lead to d055688:
* https://github.com/ansible/ansible-modules-core/issues/778

There were two commits stemming from that; one in file and one in basic.py.

For 2.4 I rewrote a large amount of the copy module to handle this and other, similar problems.  It seems like we'll have to

[2017-08-14 20:29] saichint commented on #27392
reslolved by pr #27977

[2017-08-14 20:29] saichint commented on #27708
resolved by pr #27977

[2017-08-14 20:35] jborean93 commented on #24057
@fernandopcg, that hotfix is available for Server 2008, 2008 R2, 2012, 7 and 8. You can download the hotfixes from these links, will save you getting Microsoft to email them to you.

* [Server 2008 32bit](http://hotfixv4.microsoft.com/Windows%20Vista/sp3/Fix467401/6000/free/464091_intl_i386_zip.exe)
* [Server 2008 64bit](http://hotfixv4.microsoft.com/Windows%20Vista/sp3/Fix467401/6000/free/464090_

[2017-08-14 20:49] bcoca commented on #22571
@fnkr bad paste, fixed now, the underlying issue is that 'task vars: and item' are never available when the name is used, they should be when the task is dyanmic (static: no or Ansible >=2.4).

[2017-08-14 21:11] kert-io commented on #22571
@bcoca Upgraded to 2.4.  Problem still persists.  Why would this behavior ever be inconsistent?  If it works on include, it should work on include_role wherever it appears.

[2017-08-14 21:23] bcoca commented on #22571
- since we have acknowledged it is a bug, we plan on fixing it
- since the bug issue is still open, it means we have not fixed it (yet)

`include` (deprecated in 2.4)  is totally different from `include_role`, which is being split into `import_role` and `include_role` in 2.4 to help disambiguate issues.

`include` is being split into `import_play`, `import_tasks` and `include_tasks` for similar re

[2017-08-14 21:36] bitliner commented on #12086
Any update on fork? When is it supposed to be ready?
My use case is instantiating about 20 containers on a server with *with_sequence*. Now it takes too many ages :(
I would be glad to help, but I would need some tips on where to put hands

[2017-08-14 21:44] bcoca commented on #12086
@bitliner no one has created a PR for it, if that is what you are asking, its actually very hard to do correctly.

as for your issue, just declare X hosts in inventory and loop over `hosts:` instead of `with_` to create them in paralell.

inventory:
[code]

[code]
i.e container is a 'made up' module.

[2017-08-14 21:50] karrots commented on #26120
Looks like it's related to #26432

[2017-08-14 22:19] #25256 closed, assigned to nobody

[2017-08-14 22:33] wvidana opened #28191 ""when:" conditionals not behaving as they suppose - different behaviour with/without {{}} when variable is set with "-e""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`when` conditionals
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing special
##### OS / ENVIRONMENT

MacOS
##### SUMMARY

Different behaviour on `when:` if declaring with/without `{{}}`. if a variable is overriden on the command line with `-e`
##### STEPS TO REPRODUCE

Run this playbook changing `my_var` on the command line with `an

[2017-08-14 22:36] virtuald commented on #28108
@nitzmahone the reason I cited the .NET installer is because it's a publicly available artifact that makes it pretty easy to show this issue.

Though, I admit, the error I run into when installing a very large internal MSI package is similar, but not totally the same (using either win_package or win_command and the relevant arguments):

[code]

I feel in the prior versions that I ran into the 500

[2017-08-14 22:37] robertpeteuil commented on #23577
[code]

I see this error at the beginning of every playbook execution that targets an Ubuntu16.04 host with docker installed; they've never been part of a docker swarm.

Are there any workarounds to silence this warning?

[2017-08-14 22:55] jmvbxx commented on #28011
Any update on this?

[2017-08-14 23:07] mrjoshuap commented on #26037
@erjohnso - confirmed, adding `persistent_boot_disk: True` worked as you described.

Thanks!

[2017-08-14 23:12] dagwieers opened #28193 "xml module: does not play well with blockinfile"
_From @ksylvan on March 23, 2017 0:38_

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
xml

##### ANSIBLE VERSION
unknown

##### SUMMARY
Starting with this file in ~/foo.txt:

[code]

Running this line:
[code]

I end up with this file (looks like some newlines, related to the XML comment, are stripped out):

[code]

Expected output would be:

[code]

_Copied from original issue: cmprescott/a

[2017-08-14 23:12] dagwieers commented on #28193
I am wondering, could this be related to DOS vs Unix type newlines ?

[2017-08-14 23:12] dagwieers commented on #28193
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and if needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-14 23:16] dagwieers opened #28194 "xml module: "ensure: present" command does not work poperly"
_From @hammersoft on May 18, 2017 9:5_

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
xml

##### ANSIBLE VERSION
unknown

##### SUMMARY
Hi!
I am using this xml

[code]

and next ansible task:
[code]
According to documentation

expecting to add node <role rolename="manager-script"/> into xml file.
Task reporting all ok, but no new nodes added.

With **ensure: absent** works fine: only specif

[2017-08-14 23:16] dagwieers commented on #28194
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and if needed, test your issue with the new upstream module and open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-14 23:36] dagwieers opened #28195 "xml module: add comment, or comment a block"
_From @simonpie on November 30, 2015 16:27_

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
xml

##### ANSIBLE VERSION
unknown

##### SUMMARY
It would be very useful to be able to add a child comment to xml or to be able to comment a full element as xml :
For example adding
[code]
or commenting an existing child :
[code]
becomes
[code]

_Copied from original issue: cmprescott/ansible-xml#4

[2017-08-14 23:36] dagwieers commented on #28195
The xml module is upstream now (and ships with Ansible v2.4).

**Please close this issue**, and retest against the new upstream xml module. If needed, open a new issue at: https://github.com/ansible/ansible/issues

[2017-08-14 23:55] bonuscheese opened #28198 "Python 2.6 format method error for s3_sync module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

s3_sync

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
more
ansible.cfg:
[defaults]
host_key_checking=False
hash_behaviour=merge
roles_path=/apps/mule-platform/roles:/apps/mule-ansible-tree/roles

env vars:
ANSIBLE_HOME=/apps/ansible
ANSIBLE_HOSTS=/apps/mule-platform/mule-goserver/hosts.ini

##### OS / ENVIRONMENT
CentOS release 6.9 (Fina

[2017-08-15 02:08] Chanmoro commented on #27835
Thanks @jborean93 !

It has work fine, by adding ```poll: 0```.
Also thank you for additional tips. I'll use ```wait_for_connection``` instead.

[2017-08-15 02:08] #27835 closed, assigned to nobody

[2017-08-15 06:03] #28117 closed, assigned to nobody

[2017-08-15 06:58] daikaixian opened #28209 "synchronize rscnc port conflict with degelate_to host"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

synchronize could't work well when the task was delegate_to  another host and the dest_port is not 22.

##### STEPS TO REPRODUCE

[code]

And sshd on p1 using port 2209, while sshd on p2 using 22. So it is configured in my inventory-file.

[2017-08-15 07:16] kees-closed commented on #27631
Stuff below doesn't work, but it should work as root with the --global switch.

[code]

Some more information about this [here](https://dev.gnupg.org/source/gnupg/browse/master/doc/examples/systemd-user/). These commands simply work as root and should also work with Ansible.
* `systemctl --user --global enable gpg-agent.socket`
* `systemctl --user --global enable gpg-agent-ssh.socket`

[2017-08-15 07:18] hitoshi-isa opened #28210 "ios_command&nxos_command:unable to open shell"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - module:ios_command
 - module:nxos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

host_key_checking = False
timeout = 30
log_path = /var/log/ansible.log
host_key_auto_add = True

other is default.

##### OS / ENVIRONMENT

CentOS Linux release 7.3.1611 (Core)

##### SUMMARY

When ios_command and nxos_command module is executed,

[2017-08-15 07:24] osamu-shirota opened #28211 "vsphere_guest : VM is created on an unexpected host"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vsphere_guest.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

•RHEL 7.2
•VMware vSphere Enterprise Plus 6.0
•ESXi6.2
•useing VMware cluster with DRS.

##### SUMMARY

When deploying a new VM from a template using the vsphere_guest module, the new VM created on the another esxi host that i did not specify as playb

[2017-08-15 07:53] ghost commented on #28161
hello @lmprice and @alikins, i will post the output here, what i noticed is that the create_pool(), the HTTP response is 200 but it returns empty[] so self.pool_detail stays empty.
SANtricity® System Manager
Version 11.30.2
#############PLAYBOOK###################
- name: NetApp Test All Modules
  hosts: e2800.netapp.com
  gather_facts: no
  connection: local
  vars:
    auth: no
    lun_mapping:

[2017-08-15 07:55] ghost commented on #28166
hello @alikins and @lmprice, sure thing, so first the example playbook:
############################

name: NetApp Test All Modules
hosts: e2800.netapp.com
gather_facts: no
connection: local
vars:
auth: no
lun_mapping: no
snapshot: no
gather_facts: yes
make_volume: yes
check_storage_pool: yes
check_storage_system: no
flash_cache: False
configure_hostgroup: yes
configure_async_mirror: False
configu

[2017-08-15 08:50] liyaka opened #28213 "Ansible 2.3.1.0 and 2.3.2.0 ignores variables from group_vars/all on Ubuntu"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core
##### ANSIBLE VERSION
ansible 2.3.1.0

##### CONFIGURATION
Nothing specific

##### OS / ENVIRONMENT
`Ubuntu 16.04`

##### SUMMARY
in group_vars/all I have a few variables defined, like:

`simulation_public_ssh_key: "{{ansible_user_dir}}/.ssh/id_rsa.xxxxx.pub"`

I added debug in the playbook:
[code]

and i get:

[code]

The same playbook/con

[2017-08-15 09:01] mkrizek commented on #22265
@sosiouxme Does the `pool_ids` option added in 2.4 [1] solves your issue?

[1] http://docs.ansible.com/ansible/latest/redhat_subscription_module.html

needs_info

[2017-08-15 09:25] #26702 closed, assigned to nobody

[2017-08-15 10:17] c0psrul3 commented on #28183
Issue type is Bug  and appears to be similar to #19715
Affecting User module in  Ansible v2.3.1 , v2.3.2 , devel

[2017-08-15 11:22] snakelab commented on #13262
+1

[2017-08-15 11:41] sm4rk0 commented on #13262
**Please stop adding "+1", "me, too" and similar comments.**
There are a lot of us following this issue who receive an email for each comment.

[2017-08-15 11:48] paramite commented on #13262
How else do you want to show ansible developers that this feature is actually useful and would be good to implement it? You can always create a mail filter, can't you?

[2017-08-15 11:53] alvaroaleman commented on #13262
@paramite: Pay a developer to implement it, if you really want it or do it yourself. Otherwise be happy just using a +1 smily.

[2017-08-15 11:56] Nomane commented on #21553
Still not fixed in ansible v2.2.1.0

[2017-08-15 12:07] x-yuri opened #28216 "ansible complains about unbalanced quotes, when they are indeed balanced"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[ansible/lib/ansible/parsing/splitter.py][1]

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
Arch Linux

##### SUMMARY
Consider this snippet: `command: echo '{{ 'a' | regex_replace('"', '\"') }}'`. `ansible` ignores `jinja` tokens while keeping track of currently open quote. That is, it basically treats the second param (`'{{ 'a' | regex_re

[2017-08-15 13:07] ad-m commented on #13262
@paramite, mail filter will prevent notification when a change is made or evaluated by the developer. Ansible programmers see the number of reactions in the first comment. Stick the first comment ([add reaction](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments)), instead of commenting if you think it's a good idea. That's exactly what they were introduced for.

![d55

[2017-08-15 13:08] lealoncity commented on #27423
Hi emonty,

Any update?

[2017-08-15 13:13] jameslabocki commented on #22905
Same issue for me as well

[2017-08-15 13:21] berlic commented on #23577
I patched my `plugins/action/__init__.py` at [line 809](https://github.com/ansible/ansible/blob/stable-2.3/lib/ansible/plugins/action/__init__.py#L809) to be:

[code]

[2017-08-15 13:21] ssbarnea commented on #13702
@bcoca As of today you can assign this bug to me, as part of OpenStack we are fighting this for years and I will find a way to implement it.

We had multiple CI outages because Ansible console logs were too verbose for the Jenkins to handle and tuning them lower is not a solution because it prevents users from debugging them. Running a job again with new verbosity parameters is not an option when

[2017-08-15 13:22] paramite commented on #13262
@ad-m: It won't prevent notification if you will create the filter correctly, but I get your point :).

[2017-08-15 13:28] gdmwei opened #28219 "Invalid Repository String on KDE Neon Systems"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - apt_repository

Since KDE Neon modifies /etc/lsb-release, this causes the apt_repository module to fail when trying to add an PPA with "invalid repository string".

So i think its an pretty simple fix to just accept "Neon" in /etc/lsb-release as DISTRIB_ID for the PPA check

[2017-08-15 13:34] resmo commented on #25802
@apestov would you be able to test again with the new modifications?

[2017-08-15 13:38] bcoca commented on #13702
@ssbarnea this should already have been closed, as I posted above, this has already been implemented, you just need to use the callback plugin pointed at in the PR

[2017-08-15 13:38] #13702 closed, assigned to nobody

[2017-08-15 13:44] bcoca commented on #28216
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-08-15 13:44] #28216 closed, assigned to nobody

[2017-08-15 13:49] bcoca commented on #28213
Where is group_vars in relation to the inventory file and/or the playbook file? those are the only 2 locations in which Ansible searches for group/host_vars directories.

[2017-08-15 13:57] jbscare commented on #23577
https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_4.rst says that the Core Engine Freeze and Module Freeze is today. Any chance anyone can get a PR in and approved in time to catch that?

[2017-08-15 14:02] odra commented on #28171
working  on it :)

[2017-08-15 14:06] robertpeteuil commented on #23577
Thank you, berlic!

This is a perfect, easy and low-risk fix. I'll create a playbook to patch the implementations I've setup for my customers.

jbscare,

Thanks for pointing out the freeze today. While this is only a warning, it occurs on such a wide variety of hosts, that I'm amazed it wasn't caught before rolling to stable.

Thanks!

[2017-08-15 14:15] Akasurde commented on #28211
@osamu-shirota vsphere_guest is going to be deprecated, Could you please use vmware_guest instead ?

[2017-08-15 14:21] mkrizek commented on #25802
@apestov @resmo I tested and it works for me. The PR merged. Thanks!

[2017-08-15 14:21] #25802 closed, assigned to nobody

[2017-08-15 14:30] smiller171 commented on #13262
I would like to point out to the Ansible core developers that this issue has more people requesting it than any other issue in this repo, so perhaps its priority should be raised. Currently it has 276 votes (in the form of a thumbs up reaction on the top comment). The next most popular issue has only 53.

@bcoca tagging you for visibility.

[2017-08-15 14:34] bcoca commented on #13262
@smiller171  this still stands:
https://github.com/ansible/ansible/issues/13262#issuecomment-252287706

[2017-08-15 14:36] waltersm1 opened #28221 "elb_application_lb does not convert port values to int when loaded via with_items"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elb_application_lb
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a - no changes

##### OS / ENVIRONMENT
n/a

##### SUMMARY
When executing elb_application_lb via a with_items and a dictionary, elb_application_lb does not convert port values to integers.  Other ansible modules (e.g. ecs_service) do this conversion.

##### STEPS TO REPRODUCE

[2017-08-15 14:42] smiller171 commented on #13262
@bcoca I understand, and that makes complete sense if the fix is to come from the community, but RedHat still has developers on staff for Ansible, and in that context there is power to prioritize things beyond what individual developers want to do if desired. Also if the owners want to prioritize this without taking it on internally, a bounty could be put on the issue which might increase the like

[2017-08-15 14:53] bcoca commented on #13262
@smiller171 and we already know that it is a popular issue, it is just very hard to implement as it requires a core engine rewrite and there are numerous workarounds depending on the exact need.

Popularity does not change the difficulty nor impact, this would require many resources and basically halting most other features/fixes while we rewrite the compilation and execution engines.

We opted fo

[2017-08-15 15:06] ghost commented on #23843
@dagwieers will try to find some time on this week. Forked ansible and created a task in my outlook for that :rofl:

[2017-08-15 15:09] hmajid2301 opened #28222 "Play continues after a failed task when `any_errors_fatal` is set on other host"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
NA

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No Changes

##### OS / ENVIRONMENT

Linux- Centos 7

##### SUMMARY

Play continues after a failed task when any_errors_fatal is set. (almost same issue as https://github.com/ansible/ansible/issues/13744)

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

expected playbook to

[2017-08-15 15:09] smiller171 commented on #13262
Thanks for that update @bcoca. I don't presume to know what's going on behind the scenes or what's currently being prioritized. You guys have done an excellent job creating, IMO, the best configuration management tool on the market. I trust you all to make good decisions on the direction of the project going forward just as you have so far. My comments were only intended to ensure that there is aw

[2017-08-15 15:11] #23468 closed, assigned to nobody

[2017-08-15 15:14] marvingreenberg opened #28223 "import_playbook is invalid yaml as documented, does not work"
##### ISSUE TYPE
 - ~B ug Report~
- Docs Report

##### COMPONENT NAME
import_playbook

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
Bog standard.  Set inventory path.
##### OS / ENVIRONMENT
RHEL6

##### SUMMARY
The documentation at (http://docs.ansible.com/ansible/latest/playbooks_reuse_includes.html) for **import_playbook** shows what seems to be invalid YAML.
[code]
Sure enough, trying a sim

[2017-08-15 15:29] hmajid2301 commented on #28222
Fixed in ansible 2.4.0

[2017-08-15 15:29] #28222 closed, assigned to nobody

[2017-08-15 15:30] hmajid2301 commented on #13744
Upgrading to ansible 2.4.0 (`sudo pip install git+git://github.com/ansible/ansible.git@devel`) solved this issue for me.

[2017-08-15 15:34] jhawkesworth commented on #26825
since the modules have been merged I'm going to close this feature request.
Thanks @andrewsaraceni

[2017-08-15 15:34] #26825 closed, assigned to nobody

[2017-08-15 15:34] philipobrien commented on #25068
@alikins I don't think I'm using a plugin, just standard ssh access, but I could be wrong.

My Vagrant file is basically just

[code]

and my ansible hosts as defined in `/etc/ansible/hosts`

[code]

Then I just `vagrant up` and the result of `ansible multi -a "hostname" -vvvv` is shown below

[code]

typing 'yes' just gets me a new prompt of
[code]
which never responds

<img width="568" alt="scre

[2017-08-15 15:38] jhawkesworth commented on #16460
@MattJM12  please check you have followed all instructions here: https://docs.ansible.com/ansible/latest/intro_windows.html

If you are still having problems, please raise a new issue and complete all items on the issue template - closed issues are not usually monitored by ansible core team and there is not enough information to help you above.

[2017-08-15 15:50] tvannahl commented on #26146
It appears that I do have the same problem. Downgrading to 2.0.6 did at least solve the problem for me.

[2017-08-15 15:56] JoyceBabu commented on #28151
`sestatus` is showing

    SELinux status:                 disabled

even though `SELINUX` is set to `permissive` in `/etc/selinux/config`. Sorry for the incorrect bug report.

[2017-08-15 15:56] #28151 closed, assigned to nobody

[2017-08-15 16:08] #27289 closed, assigned to Qalthos

[2017-08-15 16:08] parnamis commented on #18894
Tried adding CorbanR/streisand@39ad603 above solution no help still fails using ansible 2.3.0.0

[2017-08-15 16:18] saichint commented on #27522
resolved by #28188

[2017-08-15 16:18] #27522 closed, assigned to nobody

[2017-08-15 16:18] saichint commented on #27129
resolved by #28188

[2017-08-15 16:18] #27129 closed, assigned to nobody

[2017-08-15 16:19] #27392 closed, assigned to Qalthos

[2017-08-15 16:20] #27708 closed, assigned to Qalthos

[2017-08-15 16:35] ITD27M01 opened #28225 "pamd broke /etc/pam.d/su file after task"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pamd

##### ANSIBLE VERSION

[code]
But I use latest version from https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/pamd.py
##### CONFIGURATION

default
##### OS / ENVIRONMENT

Red Hat Enterprise Linux 7.3
##### SUMMARY

pamd broke /etc/pam.d/su file after task
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Go

[2017-08-15 16:41] #27363 closed, assigned to samdoran

[2017-08-15 17:07] #27635 closed, assigned to nobody

[2017-08-15 17:15] saichint commented on #27926
resolved by #28226

[2017-08-15 17:15] #27926 closed, assigned to nobody

[2017-08-15 17:44] bdmyxgh opened #28230 "'ansible.vars.unsafe_proxy.AnsibleUnsafeText object' has no attribute 'ansible_job_id'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
ansible 2.3.2.0
  config file = /Users/mic/.ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.13 (default, Apr  4 2017, 08:47:57) [GCC 4.2.1 Compatible Apple LLVM 8.1.0 (clang-802.0.38)]

##### CONFIGURATION

[defaults]
host_key_checking = False
forks = 50

#

[2017-08-15 17:45] robertpeteuil commented on #24082
It sounds like the root cause may already be identified.

I'll post my debug data in case it helps.  Note: This error occurs even when "unsafe_writes: yes" is specified (as you can see in the debug module args).

[code]

Debug Data

[code]

My workaround requires using "shell" which re-writes the desired value on every run, and thus is not idempotent.

[code]

[2017-08-15 17:45] tmshn commented on #25819
@todaygood @geerlingguy @walterdolce
Hello guys, thanks for the reports and investigations.
Could you try this :point_right: #28229 out and tell me results? :pray:

Expected:
- @todaygood ... The error that says "timedatectl command is unavailable" will happen
- @geerlingguy ... Will work as expected using `tzdata-update` command (of course without pre-creation of `/etc/sysconfig/clock`)
- @walter

[2017-08-15 17:54] holtgrewe opened #28231 "Problem with delegate_to + with_items + random"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Ansible itself (?)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

- no configuration changes

##### OS / ENVIRONMENT

- Linux, Ubuntu 16.04, but I think the problem is platform-independent

##### SUMMARY

- Combining `delegate_to` with `with_items` and `random` because the connection is not made on an IP basis but rather by name and the n

[2017-08-15 17:59] #22905 closed, assigned to nitzmahone

[2017-08-15 18:14] jimi-c commented on #27494
Closing This Ticket
===================

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project -

[2017-08-15 18:14] #27494 closed, assigned to jimi-c

[2017-08-15 18:15] marvingreenberg opened #28232 "Tasks and/or plays should support a "become_pass" attribute"
##### ISSUE TYPE

 - New Feature

##### COMPONENT NAME
Privilege escalation/changing effective user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
from:rhel6
to: mixed (w7,w10,centos6, centos7)
Mention the OS you are running Ansible from, and the OS you are
managing

##### SUMMARY
The capability to 'become' a different user is important when setting up modular reusa

[2017-08-15 18:21] mikewiebe opened #28233 "nxos nxapi default port setting should be 443 when use_ssl is set"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos nxapi port setting

##### NXOS VERSION
All versions

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
MacOS

##### SUMMARY
When the `use_ssl` provider is set for the `nxapi` transport it should use port `443` by default.  Currently it still attempts to use port `80` unless the `port` provider setting is explicitly configured.

The fo

[2017-08-15 18:35] bdmyxgh commented on #28230
I have updated the description.
Thanks!

[2017-08-15 18:51] lmprice commented on #28166
@labazza, you can resolve this issue on your side by pointing to the API using HTTPS. The Embedded Web Services API does not support HTTP, it is supposed to redirect to HTTPS. This mechanism appears to be discarding the HTTP method in the redirect, which results in an HTTP GET being issued (successfully), to the requested API. I'm going to have to figure out if this is a client or a server issue.

[2017-08-15 18:52] lmprice commented on #28161
See my comment on #28166

[2017-08-15 19:07] acrewdson commented on #24644
`ansible_mounts` also leaves out stuff like VirtualBox shared folder mounts for the same reason as described above. Definitely seems like a bug.

[2017-08-15 19:09] plup opened #28243 "Migrate from comma seperated role spec format"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### SUMMARY
I'm wondering what is the good syntaxe to avoid the

##### STEPS TO REPRODUCE
This is how I got the warning :
[code]

##### EXPECTED RESULTS
I tried to find different syntaxe in tickets like this one https://github.com/ansible/ansible/pull/14612 but I can't figure out a way to

[2017-08-15 19:20] wvidana commented on #28191
I even get the warning output about the braces, but without them the code doesn't work.
[code]

[2017-08-15 19:21] ITD27M01 commented on #28225
May be "include" and "substack" control does not taken into account at this line:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/pamd.py#L272

because it can have any filename.

http://www.linux-pam.org/Linux-PAM-html/sag-configuration-file.html

[2017-08-15 19:52] kevensen commented on #28225
@ITD27M01 I had not considered that case.  I'll take a look and submit a fix within the next day.

[2017-08-15 20:23] plup commented on #28243
The syntaxe it self is straight forward :
[code]
I just figured out that I had another problem when I tried this the first time.

[2017-08-15 20:23] #28243 closed, assigned to nobody

[2017-08-15 20:45] #12092 closed, assigned to nobody

[2017-08-15 20:59] bitliner commented on #12086
@bcoca your solution is not clear to me. To be sure, is this what you mean?

*hosts* file
[code]

*main.yml* file

[code]

based on a *container* module that I should implement, correct? In this case, I would have all containers with the same name, and that is not acceptable, correct?

Furthermore, what are the challenges to do implement loop in parallel correctly?

My use case needs to speed up t

[2017-08-15 21:27] #14380 closed, assigned to nobody

[2017-08-15 21:35] abadger commented on #14380
Thanks everyone for participating.  The feature has been merged to devel (for 2.4.0).  note that there's a small discussion still ongoing about whether to name the parameter data instead of stdin... that should come to a conclusion in the next few days one way or the other.

[2017-08-15 21:55] nitzmahone commented on #28230
Need to template the with_items line: ` with_items: "{{ azure.results }}"`.

[2017-08-15 21:55] #28230 closed, assigned to nobody

[2017-08-15 22:00] skylerbunny opened #28247 "systemd and service modules don't check is-enabled stdout values, causing false positives"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
systemd
service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None of significance

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Both
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/service.py#L536 and
https://github.com/ansible/ansible/blob/stable-2.3/lib/ansible/modules/system/systemd.py#L383
have the same basic log

[2017-08-15 22:01] tedder commented on #28198
Yep, looks like a good fix. Put it in a PR?

[2017-08-15 23:46] jmcginn13 opened #28250 "vmware_guest state poweredon with template fails with error if VM already exists with same name"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing but my vmware password

##### OS / ENVIRONMENT
Centos 7 and VSphere 5.5

##### SUMMARY
Running the same playbook that creates a VM and powers it on multiple times results in an error after the first time indicating a VM with that name already exists.

##### STEPS TO REPRODUC

[2017-08-15 23:50] jmcginn13 commented on #28250
I tested on
[code]

and the module works as expected

[2017-08-15 23:56] bcoca commented on #12086
@bitliner you did not follow my instructions, i had unique names in inventory (using range to work just like a sequence). As names are unique in inventory, you just declared the same name N times, but still have one host, which does not cause your 2nd issue on dupe names of containers as you only loop over 1 host.

In any case, if you want to follow up with your issue, use ML or IRC as it would be

[2017-08-16 00:04] jmcginn13 commented on #28250
Comparing the old 2.3 version to the 2.4 version I'm pretty sure I see the issue:

In 2.3 the search was done inline but notice how the search path is created:
[code]

It concatenates datacenter and folder name

The new 2.4 version uses the module_utils/vmware.py and notice how it searches:
[code]

Totally ignores the datacenter when searching

The method invocation from vmware_guest.py doesn't pa

[2017-08-16 00:08] jmcginn13 commented on #28250
I was able to fix the module in 2.4 by doing the following in vmware_guest.py

[code]

May not be the right idea, as the common module may need fixing instead, but it verifies this is the root of the issue

[2017-08-16 00:49] jladdjr commented on #17720
@alikins - Ran into this issue today when trying to do a subversion project update in Tower. Was able to reproduce the issue with the following playbook:

[code]

Playbook output:
[code]

Using:
[code]

and

[code]

.. on a RHEL-7.2 instance.

It looks like this ticket is marked with `needs_info`. Is there anything else you need to help diagnose the issue?

[2017-08-16 01:35] #25598 closed, assigned to nobody

[2017-08-16 01:55] #22218 closed, assigned to nitzmahone

[2017-08-16 02:03] brokenjacobs commented on #28194
In my testing, pretty_print is actually the broken bit here. ensure: present is working for me with an almost identical example, but not if I enable pretty_print.

In fact ensure: present with xpath including attributes is about the only thing working with ensure: present idempotently...

[2017-08-16 05:09] andreimc commented on #21562
also seeing this in 2.3.2 `HOME=/root` fixed it for me, hopefully we can get a proper fix in future releases

[2017-08-16 07:08] helins commented on #28223
I have the exact same issue, I've tried fiddling with the syntax like you did and always got an error, even with version 2.0. It isn't specific to 2.3.

[2017-08-16 07:17] esamattis commented on #23216
I can confirm this. It seems that 2.2.1.0 is the last working version meaning 2.2.2.0 introduced this.

[2017-08-16 07:51] mkrizek commented on #25664
@tazmarine Can you please try with the latest `devel`? There has been some work done with the proxy options in the module recently. Thanks!

needs_info

[2017-08-16 07:53] kaneg opened #28262 "Fetch module failed to get particular size of file from Windows by WinRM"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 ansible/lib/ansible/plugins/connection/winrm.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When fetching file from Windows,  it failed on some files.
##### STEPS TO REPRODUCE

[code]
If the src file's size is exact multiple times of 500KB(524288), the task will fail.

##### EXPECTED RESU

[2017-08-16 07:55] senthil-t opened #28264 "Custom module hangs on exit_json for the long running background process."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

AnsibleModule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

if the ansible module starts any processes, AnsibleModule.exit_json never exits until all the processes are stopped. please see below playbook and the custom module. exit_json returns the result, if the stop the process manually on the bac

[2017-08-16 08:14] ghost commented on #28166
hey @lmprice, it now works pointing to https. thanks for the quick help!

[2017-08-16 08:50] karniemi opened #28266 "vmware_vm_shell: requires vm_username and vm_password despite the docs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_vm_shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7.3
##### SUMMARY

The doc of vmware_vm_shell-module claim that vm_username and vm_password are *not* required. Still if they are not given, execution fails with message: "Required field "username" not provided (not @optional)" and "Required field "

[2017-08-16 08:58] resmo commented on #28223
IMHO There is a missing "available in version 2.4" for this feature, see the changelog of 2.4 https://github.com/ansible/ansible/blob/devel/CHANGELOG.md#24-dancing-days---active-development

[2017-08-16 09:14] trishnaguha commented on #28210
@hitoshi-isa can you please try setting `command_timeout` to 30 in the config file?

[2017-08-16 09:31] trishnaguha commented on #27515
@newswangerd works for me: can you please verify it with the following the playbook?
[code]

[code]

[2017-08-16 09:34] lepiepl commented on #26095
Hi @Akasurde, @angystardust,

The patch is not working for me.  The vmdk filename has to be defined and temporary key has to be assigned when you create virtual disk.
Here is a more complete patch on the stable-2.3. I tested it on vsphere 6.5.
https://github.com/lepiepl/ansible/commit/2f0c81661e66917844a16b84172344c44952aedc

[2017-08-16 09:45] #27115 closed, assigned to rcarrillocruz

[2017-08-16 09:46] rkandilarov opened #28268 "Problem connection to Arista node when using ansible 2.3.2 and paramiko 1.16.0-1 (the official Ubuntu 16.04.3 deb)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

modules eos_*, paramiko

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration

##### OS / ENVIRONMENT

- Answible running from Ubuntu
[code]

[code]

[code]

- trying to control Arista (Virtual) switch

[code]

##### SUMMARY

This is not really ansible bug, but rather the official ubuntu paramiko package for 16.04.3  has s

[2017-08-16 09:47] hitoshi-isa commented on #28210
@trishnaguha how do i set the command_timeout? i add a parameter(command_timeout = 30) in the ansible.cfg, but the result did not change.

[2017-08-16 11:03] ghost opened #28272 "netapp_e_host - host ports need to be available on the controller for host creation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/storage/netapp/netapp_e_host

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
centos 7

##### SUMMARY
@lmprice is already aware of this issue, basically unless you have iscsi/wwpn initiator already presents and unassigned on the eseries it is not possible to add new hosts with own ports definitions. This beh

[2017-08-16 11:41] jake2184 commented on #28191
I cannot replicate this on Centos7 - the behaviour is as expected.

[2017-08-16 13:32] mordechai opened #28275 "ovirt_templates not overriding existing templates when exclusive is True"
- Bug Report

##### COMPONENT NAME
ovirt_template module
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a
##### OS / ENVIRONMENT
Fedora 25 and RHEL 7

##### SUMMARY
Assuming the ovirt enviroment already contains an existing template called "mytemplate".
Attempt to import "mytemplate" template with exclusive set to true.
[code]
Expecting that "mytemplate" will be overwritten when exclusive is

[2017-08-16 13:59] berendt opened #28277 "proxmox_kvm: update of net, virtio, ide, sata, scsi should be possible"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

* ```modules/cloud/misc/proxmox_kvm.py```

https://github.com/ansible/ansible/blob/37524b798d8a2406723ec1d799dbe9d056f37aaa/lib/ansible/modules/cloud/misc/proxmox_kvm.py#L810-L821

##### ANSIBLE VERSION

* ```master```

##### SUMMARY

At the moment it is not possible to update the following parameters: net, virtio, ide, sata, scsi.

The author

[2017-08-16 14:09] lhoss opened #28278 "consul_kv: add diff output in add_value method (state=present) when the value changed"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lib/ansible/modules/clustering/consul_kv.py

##### ANSIBLE VERSION
ansible 2.3.0.0
ansible 2.4.0.0

##### SUMMARY
Currently the `consul_kv` module does not provide any extra diff output (when running ansible with the so useful `--diff` option).
Diff output (we could make it optional, by an extra optional parameter like 'diffView') should be ea

[2017-08-16 14:11] #27595 closed, assigned to privateip

[2017-08-16 14:33] wvidana commented on #28191
@jake2184 Sorry, my example was wrong, gonna edit it now. The problem is when overriding the value on the command line with `-e`

[2017-08-16 14:44] bcoca commented on #28223
site is supposed to reflect 'latest stable' .. for some reason the 2.4 feature snuck in .. also it should be clearly labeled as a 2.4 feature and show the 'previous' way to do it.

[2017-08-16 14:50] jake2184 commented on #28191
Can now reproduce

[2017-08-16 15:29] salman1485 commented on #26577
Not sure what has happened but this is still not working. Now, actually, basic commands are also failing for ios_command module.

Here are the playbook details:

NOTE - I'm testing with test "show command" just to show that same playbook works with stable ansible version. I can run the "sh ip bgp neighbors" commands as well. That will continue to break with old error for stable ansible but give ne

[2017-08-16 15:38] #28233 closed, assigned to nobody

[2017-08-16 15:45] #25114 closed, assigned to nobody

[2017-08-16 15:58] saichint commented on #27595
@Qalthos this issue is NOT fixed. Only the safi parameter is removed but the idempotent issue is still there as it was before. I am opening a new issue as I don't know how to reopen this issue

[2017-08-16 16:00] saichint opened #28285 "(P2) nxos_vrf_af not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vrf_af

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I4(6)

##### SUMMARY
- nxos_vrf_af is not idempotent. It keeps changing the configuration repeatedly

##### STEPS TO REPRODUCE
Playbook:

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-08-16 16:05] gnosek commented on #25402
FWIW, I reinvented the same patch as @aurelienmaury when I hit the issue on Ubuntu 16.04 and it fixes the error for me. 14.04 worked fine recently but I didn't test it after running into the issue on 16.04.

[2017-08-16 16:23] jimi-c commented on #9431
@damomurf sorry for the late reply, is this still something you've been seeing, and if so with which version of Ansible? If so, please open a new issue for this to track, as this one has been closed for quite a while.

[2017-08-16 16:26] jimi-c commented on #11385
@adrb sorry for the late follow-up, but if this is still an issue please open a new issue.

Thanks!

[2017-08-16 16:39] maxmengtor opened #28286 "Please make the loop control easy and simple"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-08-16 16:39] marvingreenberg commented on #28223
Actually, there is still an issue.  Even as documented, it is invalid yaml.  If ansible is somehow working around the invalidity  -- non unique hash keys, see 1.3 about unique keys, (http://www.yaml.org/spec/1.2/spec.html) -- it shouldn't (IMO).

Instead it should use some approach that is still valid yaml, like:
[code]
Essentially, import_playbook becomes a "play" whose only attribute is import_p

[2017-08-16 17:01] marvingreenberg commented on #28223
OK, so I looked at the devel branch, and the implementation is correct, but the documentation is wrong.  The implementation is as described above,
[code]
not as documented like this
[code]

There is one minor code related issue: in the event that a statement other than a play or an include/import_playbook is present, the exception thrown from (https://github.com/ansible/ansible/blob/devel/lib/ansi

[2017-08-16 17:01] maxmengtor commented on #28286
[code]
and set the default as item if no "as item_name" provided

[2017-08-16 17:24] skamithi opened #28290 "Documentation on how to enable ANSIBLE_PARAMIKO_HOST_KEY_AUTO_ADD in ansible.cfg is incomplete"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

Network Troubleshooting Guide

##### ANSIBLE VERSION

devel branch of the document

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

The [network debugging guide](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/network_debug_troubleshooting.rst#error-connecting-to-host-hostname-returned-an-error-or-ba

[2017-08-16 17:28] mjschultz commented on #21553
It's not going to be fixed in v2.2.1.0 since that has been released. The fix looks like it is available in v2.3.0+, you'll need to upgrade to that to get the fix.

[2017-08-16 17:59] jimi-c commented on #19673
@badr-badri I believe this was fixed in 2.3.2, but if not please open a new issue.

Thanks!

[2017-08-16 18:00] bcoca commented on #28286
That is not the only feature in `loop_control` it only covers `loop_var` ,  it leaves out current `label` and `pause` and makes adding more options even harder.

[2017-08-16 18:04] newswangerd commented on #26608
This can be avoided using the various connection timeout variables in ansible.cfg and environment vars.

[2017-08-16 18:04] #26608 closed, assigned to nobody

[2017-08-16 18:32] #19572 closed, assigned to emonty, rcarrillocruz

[2017-08-16 18:34] giovannisciortino commented on #28159
I submitted a PR for a new module redhat_subscription based on the needs described in this comment and on my sysadmin experience on subscription-manager. I'm glad to receive suggestions and review to improve it.

[2017-08-16 18:53] krzysztof-magosa commented on #28286
-1
Current YAML syntax is fine - allows to use built-in editors' mechanisms to highlight, indent and validate code. Implementing such construct would be inconsistent with the rest of things.

[2017-08-16 18:54] alikins commented on #27885
https://github.com/ansible/ansible/pull/28185 was related fix as well

[2017-08-16 18:54] rogerscuall opened #28293 "nxos_evpn_vni fails with exception but configuration is applied"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_evpn_vni

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ansible.cfg
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The module is executing with errors but is actually doing what it has to do.

##### STEPS TO REPRODUCE
Use the module nxos_evpn_vni with any configuration.

[code]

##### EXPECTED RESULTS
Just a tasks that was execute

[2017-08-16 19:04] rogerscuall commented on #28293
By the way something very similar is happening with `nxos_vxlan_vtep_vni`.

[2017-08-16 19:05] ThoreKr commented on #16354
I'm facing a similar issue, running ``ansible 2.3.1.0`` on Gentoo (the remote host is gentoo hardened). The already mentioned
[code]
does work and I can login without issues.
Ansible also did work with that host but stopped at some point. The auth.log also states no issues. I suspected grsec maybe to cause issues but that would have been logged to dmesg.

Any ideas how to solve this issue?
[code]

[2017-08-16 19:19] samrreynolds4 opened #28296 "Access is Denied when removing a user from administrators group in windows"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME
win_user
winrm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No change

##### OS / ENVIRONMENT
Ansible machine: Archlinux
Node: Windows 8 Embedded

##### SUMMARY
I have an admin account on a windows computer and I try to create a new user and remove admin privileges from the original admin account by removing that account from the administr

[2017-08-16 19:32] jimi-c commented on #15915
We do not typically re-open issues, as the root cause is probably not the same. If you're still seeing this, please open a new issue and we'll track it there.

Thanks!

[2017-08-16 19:32] jimi-c commented on #15915
And my apologies for not seeing this sooner.

[2017-08-16 19:34] jimi-c commented on #5739
@mowgli please open a new issue for this, as we don't typically reopen issues on the basis that the root cause is (most likely) different.

Thanks!

[2017-08-16 19:35] jimi-c commented on #14100
@alangibson thanks for the follow-up. If anyone else still sees this as an issue in devel/2.4, please open a new issue for this, as we don't typically reopen issues on the basis that the root cause is (most likely) different.

Thanks (and sorry for the late follow-up)!

[2017-08-16 19:38] jimi-c commented on #10054
@IOOOTAlan if you have a reproducible example, please feel free to open an issue.

Thanks (and sorry for the late follow-up)!

[2017-08-16 19:48] jimi-c commented on #16597
@starplanet if you're still seeing an issue with this (especially on the devel branch), please open a new issue as the root cause may be unrelated to this issue.

Thanks!

[2017-08-16 20:14] taruch commented on #28293
I am experiencing the same thing - this is reproducible - though I only get the errors when I try to use route_distinguisher.

[2017-08-16 20:15] tumbl3w33d commented on #21005
2.2 only receives security fixes now and in 2.4 it seems to be already fixed. Probably even in 2.3. So I will close this here.

[2017-08-16 20:15] tumbl3w33d commented on #21005
close_me

[2017-08-16 20:17] #21005 closed, assigned to nobody

[2017-08-16 20:22] saichint opened #28299 "(P1) nxos_udld_interface fails for certain interfaces for mode = enable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_udld_interface

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)

##### SUMMARY
- when the mode = enable, nxos_udld_interface tries to determine whether the interface is copper or fiber because the underlying commands are different for each type. However, the type cannot

[2017-08-16 20:38] rogerscuall commented on #28293
Well that is another problem, according to the documentation `route_distinguisher` is required.

[2017-08-16 21:11] jborean93 commented on #25216
Issue has been fixed with https://github.com/ansible/ansible/pull/28172.

[2017-08-16 21:11] #25216 closed, assigned to nitzmahone

[2017-08-16 21:37] tumbl3w33d commented on #24724
resolved_by_pr 24518

[2017-08-16 21:38] tumbl3w33d commented on #24724
There are 2 outdated PRs solving this issue. Let's see which submitter updates first, so we can get this solved.

[2017-08-16 22:29] rkandilarov commented on #28213
I cannot confirm this issue with Ubuntu 16.04.03 and  ansible 2.3.2.0. All vars in *group_vars/all* are accessible.

[2017-08-16 23:36] gregsymons commented on #19855
This could also be useful within a role, so that you could fully encapsulate things like rolling hosts in and out of load balancers within the role.

[2017-08-17 00:14] sivel commented on #25715
The following will cause it to fail for me:

[code]

This results in:

[code]

Due to the file already existing in devel now, I used a different name, to trigger the new file checks.

[2017-08-17 00:14] yaplej commented on #25298
@pablodav I just started to experience the 0x80244022 error after installing SQL 2016 on the boxes. Before that they were working fine.
@nitzmahone I was watching that task queue and it said "Running".

[2017-08-17 00:25] bobbywatson3 opened #28307 "Context incorrectly detected on Arista modular switches (7500)"

[2017-08-17 00:25] #28307 closed, assigned to nobody

[2017-08-17 00:47] bobbywatson3 opened #28309 "Context incorrectly detected on Arista modular switches (7500)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

EOS network modules
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Host OS: Alpine 3.5 docker container
Guest OS: Arista EOS-4.18.3.1F

##### SUMMARY

Most Arista switches have prompt format `hostname#` which then changes to `hostname(config)#` when in config mode. The modular/chassis switches (7504 in this case) us

[2017-08-17 00:49] jborean93 commented on #28231
Are you able to provide more details by running it with `-vvvv` for more verbose logs so we can try and see what is happening.

[2017-08-17 00:50] jborean93 commented on #28231
needs_info

[2017-08-17 01:14] jborean93 commented on #28264
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

* When Ansible executes a module on the server, the connection stays open until all processes are finished
* You can use [async](http://docs.ansible.com/ansible/lat

[2017-08-17 01:14] #28264 closed, assigned to nobody

[2017-08-17 01:23] jborean93 commented on #28268
Thanks @rkandilarov for the information, I'm not sure where the best location would be for it but it may be useful to put a quick note about it in the docs for paramiko on the Ansible site. I am going to close the issue as you have said it really isn't a bug but just for people to see, while it is closed the issue is still viewable by others.

[2017-08-17 01:23] #28268 closed, assigned to nobody

[2017-08-17 01:47] jborean93 commented on #28296
@samrreynolds4 are you able to try the latest devel as the winrm become implementation was just updated.

[2017-08-17 01:55] jborean93 commented on #28309
cc @privateip @trishnaguha

[2017-08-17 02:34] bobbywatson3 commented on #28309
I'm putting together a PR. I hope to have it ready tomorrow. Should be pretty straightforward.

[2017-08-17 03:27] jborean93 commented on #28286
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

* there are more options with `loop_control` than just `loop_var`
* doing this wo

[2017-08-17 03:27] #28286 closed, assigned to nobody

[2017-08-17 03:35] JOEtheROUTERman opened #28310 "New to Ansible.. getting Failed to connect to the host via ssh:"
##### ISSUE TYPE

 - help

##### COMPONENT NAME
<ios_command module

##### ANSIBLE VERSION
<root@ubuntu:/etc/ansible# ansible --version
ansible 2.3.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]>
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I h

[2017-08-17 04:05] ojaoferreira commented on #16452
I have the same problem. When I use FQDN it already works with IP gives error: kerberos Reset connection per point. Is there a solution to the problem?

[2017-08-17 04:25] abadger commented on #15549
this looks like a duplicate of https://github.com/ansible/ansible/issues/13876  Closing this one.

Note that we've added sleep 0; to how ansible invokes commands over ssh to mitigate this bug (since it's a race inside of the kernel, it's impossible for us to fully fix it but the sleep 0 helps reduce the chances you'll encounter it.)

[2017-08-17 04:25] #15549 closed, assigned to nobody

[2017-08-17 04:27] abadger commented on #22738
https://github.com/ansible/ansible/pull/22771 has been merged to devel (for the 2.4.0 release). Closing this ticket.

[2017-08-17 04:27] #22738 closed, assigned to nobody

[2017-08-17 04:33] sayantandas commented on #27939
I see the same issue with disk size as well. I cannot change the disk size of a provisioned VM.  Disk changes only possible when creating VM from template.
Is this the expected behaviour?

[2017-08-17 04:34] abadger commented on #28183
Closing this since there's a Pull Request that we can discuss on.

[2017-08-17 04:34] #28183 closed, assigned to nobody

[2017-08-17 04:44] sayantandas opened #28312 "how to add multiple entries for "runonce" parameter in vmware_guest"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

vmware_Guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

As per the documentation of vmware_guest,  runonce can be a list of commands
- runonce (list): List of commands to run at first user logon.

However, if I give a list of commands, the playbook throws an error . The err

[2017-08-17 04:48] sushilkumarsah opened #28313 "lineinfile module of ansible with delegate_to localhost doesn't write all data to localhost, it writes only 1 or 2 entries on localhost"
- Bug Report

##### COMPONENT NAME, Ansible modules
lineinfile
delegate_to

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
no change in ansible.cfg, using the default ansible.cfg

##### OS / ENVIRONMENT

OS: RHEL 7.x
Tried on RHEL 7.2 VM with ansible 2.1.0.0
Tried on RHEL 7.3 docker container with ansible 2.3.1.0

##### SUMMARY
I have 3 remote VMs and 1 ansible node.

I am getting the hostname

[2017-08-17 04:59] gopannagari opened #28314 "fatal: [web1] => SSH encountered an unknown error during the connection. We recommend you re-run the command using -vvvv, which will enable SSH debugging output to help diagnose the issue"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-08-17 05:01] gopannagari commented on #28314
i got this error message when i was trying to run one of the playbooks using ansible-playbook commands. please help me

[2017-08-17 05:11] Akasurde commented on #28314
@gopannagari Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2017-08-17 05:18] Akasurde commented on #28266
@ritzk it appears that you are the author and maintainer of this module. Could you please answer the query here ?

[2017-08-17 05:25] adrb opened #28315 "Ansible does not set owner and group for files before validating them."
Hello,

Issue related to #11385

##### ISSUE TYPE

 - Bug Report

##### OS / ENVIRONMENT
CentOS7

##### SUMMARY
Ansible does not set owner and group for files before validating them.

You can read details here [here](https://github.com/ansible/ansible/issues/11385#issuecomment-301906295)

[2017-08-17 05:25] adrb commented on #11385
Ok, created new one  #28315

[2017-08-17 06:25] virtusademo commented on #15523
Hi All ,
When ever i am trying bring the open shift cluster , i got following error. I run the below command.
sudo ansible-playbook /usr/share/ansible/openshift-ansible/playbooks/byo/config.yml

fatal: [g_all_hosts | default([])]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: ssh: Could not resolve hostname g_all_hosts | default([]): Name or service not known\r\

[2017-08-17 06:26] virtusademo commented on #15523
[rhnuser3@master ~]$ ansible --version
ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, May  3 2017, 07:55:04) [GCC 4.8.5 20150623 (Red Hat 4.8.5-14)]

[rhnuser3@master ~]$ cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.1 (Maipo)
[rhnuser3@master ~]$

[2017-08-17 06:27] virtusademo commented on #15321
Hi All ,
When ever i am trying bring the open shift cluster , i got following error. I run the below command.

    sudo ansible-playbook /usr/share/ansible/openshift-ansible/playbooks/byo/config.yml

[code]
[code]
We have verified following steps.

Master communicating to the node
[code]

Node Communicating to the master
[code]
We have changed necessary changed necessary configuration file from ma

[2017-08-17 08:22] mkrizek commented on #16863
@richfletcher In that case it looks like a bug in yum? Can you try with the latest `devel` anyway as there is some logic prior to running `yum install`?

@volkerp There is a new option `allow_downgrade` in latest `devel`, can you test with that if it solves your issue?

needs_info

[2017-08-17 08:40] IOOOTAlan opened #28318 "remote_tmp not honored for async tasks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
async

##### ANSIBLE VERSION
Originally tested on v2.3.0:
[code]
but found it is present also in
[code]

##### CONFIGURATION
Using these settings (via ANSIBLE_CONFIG file override):
[code]

##### OS / ENVIRONMENT
Running Ansible from Slackware Linux 14.2.

Managed host OS is Ubuntu 16.04 on ARM architecture.

##### SUMMARY
As mentioned in #10054

[2017-08-17 08:40] IOOOTAlan commented on #10054
@jimi-c Done, I've created issue #28318.
Thanks!

[2017-08-17 09:14] pjnagel opened #28319 "git module diff mode is excessively verbose"
##### ISSUE TYPE
 - Feature idea

##### COMPONENT NAME
git module

##### ANSIBLE VERSION
[code]

##### SUMMARY
When running git module under ansible diff mode, the output contains a complete diff of the changes that are made to the files under source control. Depending on the number of commits, this could be huge, which is an issue for network bandwidth too.

On the other hand, not running ansible

[2017-08-17 09:32] dagwieers commented on #28313
Concurrent write access to the same file is always going to be problematic, as they all read from the same file and then modify it. The solution here is to ensure no 2 tasks are running at the same time using `serial: 1`.

notabug

[2017-08-17 09:35] dagwieers commented on #28223
Propose the changes in a PR. You can edit the required files through the Github interface, so no prior knowledge about Git required.

[2017-08-17 09:53] holtgrewe commented on #28231
Of course, please find the output below

[code]

[2017-08-17 10:07] jk563 commented on #24864
Need any assistance?

[2017-08-17 10:12] jtyr commented on #24864
Not really. I just need to find time to do it ;o) I have unblocked couple of other things so I can focus on this one now.

[2017-08-17 11:07] mkrizek commented on #19587
The feature was added in 2.3.

[2017-08-17 11:07] #19587 closed, assigned to nobody

[2017-08-17 11:13] Yannig opened #28322 "docker inventory plugin is broken with last version of docker API"
##### Bug Report

##### COMPONENT NAME

docker inventory plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Ubuntu 17.04

##### SUMMARY

With last docker-py 2.0, Docker inventory plugin is broken.

##### STEPS TO REPRODUCE

Install last version of docker-py (pip install docker-py --upgrade) then launch docker.py in contrib/inventory

##### EXPECTED RESULTS

[cod

[2017-08-17 11:17] privateip commented on #28310
@JOEtheROUTERman there are a couple of issues here.

First, the ping module is *not* icmp ping but Ansible module ping and will never work with network devices that are CLI driven

Second, all network modules require the connection to be set to local.  In order to run your command it would look like this:

```ansible -m ios_command -a "commands='show version'" -c local -u <username> -k ```

Note t

[2017-08-17 11:19] mkrizek commented on #27492
https://github.com/ansible/ansible/pull/24244 is merged. Closing.

[2017-08-17 11:19] #27492 closed, assigned to nobody

[2017-08-17 12:03] SpamapS opened #28325 "ssh_pub_keys.py loses ECDSA hash type"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME
lib/ansible/module_utils/facts/system/ssh_pub_keys.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
LSB Version:	core-9.20160110ubuntu0.2-amd64:core-9.20160110ubuntu0.2-noarch:security-9.20160110ubuntu0.2-amd64:security-9.20160110ubuntu0.2-noarch
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3

[2017-08-17 12:05] sandeepms commented on #12053
delegate_to: localhost, delegate_to: 127.0.0.1, and local_action all produce the same results for me -- it tries to make a WinRM connection to the localhost

ansible 2.3.1.0

[2017-08-17 12:43] karniemi commented on #27390
Which exact released version includes this fix?

[2017-08-17 12:47] Akasurde commented on #27390
@karniemi Both 2.4 and 2.3 contains this fix.

[2017-08-17 12:48] karniemi commented on #27390
Hmmm...I'm running version: ansible-2.3.1.0-3.el7. It does *not* contain the fix.

[2017-08-17 12:54] Akasurde commented on #27390
@karniemi  I am not sure if ansible-2.3.1.0-3.el7 contains fix or not, but you can check out [this commit](https://github.com/ansible/ansible/commit/504558eab314ebe8527b65056609a2a5ef9c1c54) if you want.

[2017-08-17 12:58] dzieciou opened #28329 "Ansible does not recognize jenkins_configure_proxy role"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

jenkins

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOs 10.11.6

##### SUMMARY

Ansible does not recognize `jenkins_configure_proxy` role documented at http://ansible-jenkins-roles.readthedocs.io/en/latest/, but it recognize other roles documented there like `jenkins_plugin`.

##### STEPS TO REPRODUCE

Just r

[2017-08-17 13:04] karniemi commented on #27390
Ok thanks, so it's probably not in any released version yet. It's a bit sad that the "issues" in ansible project have no release version specified, before they are closed. But thanks anyway!

[2017-08-17 13:11] sdodson opened #28330 "AttributeError: 'module' object has no attribute 'ANSIBLE_SSH_CONTROL_PATH_DIR'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ssh connection plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
host_key_checking = False
callback_whitelist = profile_tasks
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
all others are default values, ANSIBLE_SSH_CONTROL_PATH_DIR is NOT set

##### OS / ENVIRONMENT
RHEL 7.3 on both control and target hosts

##### SUMMARY
Durin

[2017-08-17 13:12] sdodson commented on #28330
CC: @jupierce @mwoodson

[2017-08-17 13:17] JOEtheROUTERman commented on #28310
I understand that the ping is not icmp, and its nice to know that that module doesn't work with network devices now, so Thanks for that clarification.

When i run the command and specify the -c local it still doesn't work. I get:

ansible 192.168.1.100 -m ios_command -a "commands='show version'" -c local -u joemomma -k
"msg": "invalid connection specified, expected connection=local, got ssh

I als

[2017-08-17 13:36] #27181 closed, assigned to Qalthos

[2017-08-17 13:36] #28086 closed, assigned to privateip, Qalthos, ganeshrn

[2017-08-17 13:40] #28313 closed, assigned to nobody

[2017-08-17 14:03] irekpelech commented on #11905
For me works using single quotation
b: 'YES'

[2017-08-17 14:09] monsoft commented on #11905
I had this same issue and I resolved it by adding single quote during variable declaration:

b: 'YES'

[2017-08-17 14:13] jimi-c commented on #10194
@ssayyad786 I believe you should still use no_log on this, to ensure nothing from the output is printed to the screen.

[2017-08-17 14:18] jimi-c commented on #12841
Requirements files are not required, nor are they read automatically. It makes sense to print a message here to the user that nothing was found in the file.

[2017-08-17 14:27] jimi-c commented on #22881
Just tested this on devel and I see the correct output:
[code]
Based on the above, we'll go ahead and close this. If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strat

[2017-08-17 14:28] jimi-c commented on #22881
Replied on wrong issue, my bad (and re-opening).

[2017-08-17 14:28] jimi-c commented on #22913
Just tested this on devel and I see the correct output:
[code]
Based on the above, we'll go ahead and close this. If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strat

[2017-08-17 14:31] Crapshit opened #28335 "Exception at execution of \"DownloadFile\" with 2 arguments: \"The request was interrupted: A protected SSL / TLS channel could not be created"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/modules/windows/win_get_url.ps1

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Source system Ubuntu Mate 16.04 LTS
Target system Windows Server 2016 Datacenter

##### SUMMARY
Ausnahme beim Aufrufen von \"DownloadFile\" mit 2 Argument(en):  \"Die Anfrage wurde abgebrochen: Es konnt
e kein geschützter SSL/TLS-K

[2017-08-17 14:46] jimi-c commented on #12053
@sandeepms could you open a new issue for this with a reproducer? This issue is quite a bit older and is probably not the same root cause.

Thanks!

[2017-08-17 14:47] jimi-c commented on #10054
Thanks!

[2017-08-17 14:48] jimi-c commented on #15523
@virtusademo that may be a question better directed at the openstack-ansible team, which is not directly affiliated with us here in the Ansible project.

[2017-08-17 14:48] jimi-c commented on #11385
Thanks!

[2017-08-17 14:51] jucor commented on #22691
Dear @lwade , @tgerla
This would be really, really useful to have. At the moment, that's a blocker which forces me to use boto2 :/ Do you know who is the maintainer of this plugin, please?
Cheers!

[2017-08-17 14:54] RohitK89 commented on #25116
This is absolutely still an issue. We're trying to use Ansible Tower to talk to our hosts, and the Tower host fails to connect to any of our hosts with ansible==2.3.2.0, but succeeds with ansible==2.2.0.0. I've found a few other issues about the same thing that have all been closed for the same reason, i.e. that it's a user discussion and not a bug. Permit me to disagree.

[2017-08-17 14:59] sboisson opened #28337 "Regression for yum task with with_items in Ansible"
##### ISSUE TYPE
It seems that iterating yum with list doesn't work anymore in Ansible 2.3

##### COMPONENT NAME
yum

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
Runnning Ansible from Mac OS X, with target running CentOS 6 or 7

##### SUMMARY
When a yum task is defined with a with_items, the task doesn't work anymore.
It used to work in Ansible 1.9

##### S

[2017-08-17 14:59] bcoca commented on #12053
@sandeepms I would recommend you go to IRC or ML first and/or ensure you have not set `ansible_transport=winrm` for localhost directly or via something like extra vars.

[2017-08-17 15:01] maethor commented on #25116
@RohitK89 sadly I don't think anyone will come by here again. I'm pretty angry about it. If you want to open another issue with exactly the same content, and reference this one and https://github.com/ansible/ansible/issues/27938 …

[2017-08-17 15:12] jean-christophe-manciot commented on #23922
@ogenstad
On latest ansible devel:
[code]
1) **ASAv 9.6(2)**: the issue is solved
[code]

2) **ASAv 9.7(1)**: everyting is fine
[code]

[2017-08-17 15:12] #23922 closed, assigned to gundalow

[2017-08-17 15:27] gintautassulskus opened #28340 "Task level parameters are not validated"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

_Include_ task.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

_Include_ task does not validate task-level parameters. E.g. if parameter _run_once_ is misspelt, the task will be executed without a failure.
For instance, a _ping_ task throws a validation error in such a case.

##### STEPS T

[2017-08-17 15:33] markuszoeller commented on #24356
+1 Would love to have it

[2017-08-17 15:46] erjohnso commented on #28168
I think this is a timing issue. I was able to reproduce the error, but if I introduce a delay, then the instance gets created the the specified disk.  See if this works for you,

[code]

[2017-08-17 16:00] #20520 closed, assigned to nobody

[2017-08-17 16:01] #19890 closed, assigned to nobody

[2017-08-17 16:28] samrreynolds4 commented on #28296
I installed ansible using pip install git+https://github.com/ansible/ansible.git@devel, would that install the latest devel?

[2017-08-17 16:40] #18937 closed, assigned to nobody

[2017-08-17 16:52] bcoca commented on #25116
FYI, posts on closed tickets do not get read. I was pinged by someone about this specifically so I'm going to explain why this is closed.

The ORIGINAL poster had issues with sftp, which normally means it is disabled on the target machine, there are configuration settings to bypass this either via sshd or ansible, this is NOT a bug but a configuration issue.

The others posting here with the same

[2017-08-17 16:59] seafoodbuffet opened #28349 "firewalld module should support creation of port forwards"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
firewalld module

##### ANSIBLE VERSION

[code]

##### SUMMARY
The firewalld module doesn't seem to allow creation of port forwards (--add-forward-port). This would be a useful capability to add to the module.

[2017-08-17 17:04] Qalthos commented on #27330
Could you provide a sample `show nxapi` for the affected versions? I'm unable to reproduce this locally.

[2017-08-17 17:22] bobbywatson3 commented on #28309
PR submitted. I tested this against a 7504 and vEOS to ensure backwards compatibility with non-chassis based Arista switches.

[2017-08-17 17:22] dnmvisser opened #28350 "Network modules that use HTTPS don't work on IPv6-only hosts"
I'm operating a number of Ubuntu 16.04 systems that **only** have a (public) IPv6 address.
In order to reach legacy IPv4 HTTP content they use a dual stack HTTP proxy.
This works fine when HTTP URLs are accessed:

[code]

But when I try HTTPS it fails:

[code]

It seems to be caused by the `SSLValidationHandler()` class in `lib/ansible/module_utils/urls.py`, If I edit and change this section aroun

[2017-08-17 17:22] memo42 opened #28351 "hacking/aws_config/setup-iam.yml not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

hacking/aws_config/setup-iam.yml
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 17.04
##### SUMMARY

Trying to write integration tests following the tutorial at http://willthames.github.io/2017/07/17/so-you-want-to-test-aws-modules-for-ansible.html causes this error.
##### STEPS TO REPRODUCE

[code]

##### E

[2017-08-17 17:23] sandeepms commented on #12053
@bcoca I have a role that has tasks for both localhost and the windows remote machine. I do pass ansible_transport=winrm while running the playbook as extra-vars. The task for localhost should overwrite it and not use WinRM when we specify delegate_to or local_action, right?

@jimi-c Will open a new issue. Thanks.

[2017-08-17 17:38] andreaso commented on #28350
Has been fixed on the devel branch, for Ansible 2.4: https://github.com/ansible/ansible/commit/4e013978173564c00a6b88a4f9eed97f361b2af6

[2017-08-17 17:50] fgbulsoni opened #28354 "HPE OneView support"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
HPE OneView is an infrastructure automation engine built with software intelligence. It streamlines provisioning and lifecycle management across compute, storage and fabric and enables IT staff to control resources programmatically through a unified API.

It is heavily focused on the DevOps workflow and has [many integrations](https://www.hpe.com/us/

[2017-08-17 18:04] mattclay commented on #25905
This is being fixed by https://github.com/ansible/ansible/pull/28355

[2017-08-17 18:12] mattclay commented on #27656
Resolved with #28248.

[2017-08-17 18:12] #27656 closed, assigned to mattclay

[2017-08-17 18:15] danielhneville opened #28356 "Ternary doesn't set variable if condition is true"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
default vars, ternary

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I set up a ternary to generate an array of ip addresses. It works just fine if the condition is false, but the variable that I'm setting is not defined if the condition is true.

##### STEPS TO REPRODUCE
Folder Structure:
[code]

`inv

[2017-08-17 18:16] Darrel12 opened #28357 "Failed Kerberos HTTPS connection – SSLError when running: ansible <windows_host> -m win_ping"
I've looked at many similar issues to no avail...

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_ping, setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no changes, using default config taken from: https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg

hosts:
[code]

##### OS / ENVIRONMENT

RHEL6:
```uname -a``` = Linux <my_machine> 2.6.32-642.11.1.el6.

[2017-08-17 18:23] asovern-mitre commented on #27556
I'm running Python 2.7.12 and have the same "winrm send_input" issue when using ansible 2.3.x . I tried rolling back to ansible version 2.2.3 and the issue went away & I was able to hit my host with winrm again. It seems like a code change with the way ansible interfaces with pywinrm changed from 2.2 to 2.3.
AleksNovak, have you tried testing with an older version of Ansible to see if the connecti

[2017-08-17 18:28] jmcgill298 opened #28358 "Docs: enable-network-logging"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

http://docs.ansible.com/ansible/latest/network_debug_troubleshooting.html#enable-network-logging
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Followed as per doc (the goal is to change ansible cfg)
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

Using environment variables did not change log file path
##### STEPS TO REPROD

[2017-08-17 18:38] matthewrees commented on #27958
@zgould I am having the same issue, how did you resolve it?

[2017-08-17 18:46] privateip opened #28361 "network_cli port should be an int"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
network_cli.py

##### ANSIBLE VERSION
[code]

##### SUMMARY
Ansible network_cli will fail with unable to open shell if port is passed as a str value

[2017-08-17 18:48] sivel commented on #28356
The problem here is that your inventory does not support your concatenation.

From your inventory:

[code]

Then in your ternary you do, the following if `type == "type1"`:

[code]

`oct.1` does not exist, and causes a failure in defining the `ips` variable.

[2017-08-17 18:53] zgould commented on #27958
@matthewrees

Funny enough -- It's because you have to use the "Junos_Config" module to send configuration lines.

Junos_Command is used to run "show" command on the device.

[2017-08-17 18:54] robinro commented on #28319
@pjnagel Thanks for this feature request and the detailed list of suggested fixes!

I fully agree with the basic idea that the diff is too verbose for some usecases. In some other cases having the full diff in the logs is very nice.

Some comments on your suggestions (I'll call them 1-4)
1) Nope. I'm against removing the output or even changing the default.
2) This would be the easiest in my view.

[2017-08-17 19:00] danielhneville commented on #28356
@sivel good catch. I've updated the playbook, got the same result, and so I've edited the bug report to reflect that

[2017-08-17 19:04] sivel commented on #28356
I've updated the playbook to use `oct.0` and it seems to work fine for me:

[code]

[2017-08-17 19:04] mikewiebe commented on #26301
@Qalthos Finally had a chance to revisit these issues.  Now that this is merged into devel I took it for another test drive and it's much better.  I am getting ready to open a PR with updates to the test to validate `as-override for EBGP peers` and I also no longer see any issues with `default-originate` and `send-community`.  I am seeing an issue with another propery entirely, but I will include

[2017-08-17 19:04] #26301 closed, assigned to Qalthos

[2017-08-17 19:05] mattclay commented on #25905
Fixed by #28355

[2017-08-17 19:05] #25905 closed, assigned to nobody

[2017-08-17 19:05] bcoca commented on #28356
this expression looks completely wrong to me:
`(hostvars[groups[host].0].type == 'type1')`

`hostvars[host]['type'] == 'type1' ` should work just fine.

[2017-08-17 19:06] tumbl3w33d commented on #24724
Currently waiting for revision of #24518 and closed the other PR.

[2017-08-17 19:07] bcoca commented on #28356
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

Since simple tests with `ternary`

[2017-08-17 19:07] #28356 closed, assigned to nobody

[2017-08-17 19:13] #28221 closed, assigned to nobody

[2017-08-17 19:17] #26021 closed, assigned to nobody

[2017-08-17 19:38] #23090 closed, assigned to nobody

[2017-08-17 19:44] EdoBarroso commented on #17500
I'm facing this same issue.

I need to use the uri module to create some component through an API, but only if that component doesn't exist. Then, I need to use the component ID, be it a new component or the existing one, on other task.

How can I do this in a clean way? I don't want to start using different vars cause that would imply to generate two different tasks for each scenario (existing co

[2017-08-17 19:49] matthewrees commented on #27958
@zgould Strange, I'm using junos_config and am getting the same error since upgrading to 2.3.2.0

[2017-08-17 19:50] #23813 closed, assigned to emonty

[2017-08-17 20:00] ryansb commented on #28168
Should the `gce_pd` module be able to wait for the creation process to complete? In other modules we have put a `wait` flag that will check that the resource can be found in the get/describe API of the cloud service.

[2017-08-17 20:17] jborean93 commented on #28357
Hi @Darrel12, there are a few things that are incorrect with your inventory file, the following is what it should be

[code]

The things I have changed are

* The `ansible_ssh_*` variable names have been deprecated in favour of the ones above
* Added the server certificate validation ignore flag, this is not a boolean value but an actual string
* Added winrm as the connection option

You can also

[2017-08-17 20:17] #28357 closed, assigned to nobody

[2017-08-17 20:24] leontp587 opened #28366 "Using nmcli to change a network ifcfg file always results in "changed" status even if ifcfg file is not changed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No edits to ansible.cfg and ANSIBLE_* variables from defaults

##### OS / ENVIRONMENT
RedHat Enterprise Linux 7.2

##### SUMMARY
When using the nmcli module to edit a network ifcfg file (/etc/sysconfig/network-scripts/ifcfg-* files), the play status is always shown as changed, even if the

[2017-08-17 20:26] jborean93 commented on #28296
That should yes, the latest become changes were only added a day or 2 ago so not sure if the installed version is from before or after that. This is the commit that added that https://github.com/ansible/ansible/commit/9b383403cee3e484987d9ec5dbd72a3fed7fb972.

[2017-08-17 20:30] srabizadeh opened #28367 "Reusing same dictionary element in the group_vars files - recursive loop detected"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

dictionaries defined in group_vars/all

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Suse11 Sp3
##### SUMMARY

When user reuses a variable within the same dictionary Ansible fails with recursive loop error.
##### STEPS TO REPRODUCE

Define a dictionary within /group_vars/all with one element of dictionary using t

[2017-08-17 20:36] dagwieers commented on #28319
I am responsible for the diff support, and figured it's better to have diff support (even if it was verbose) than not having it, as people can decide if they want it or not. At the same time I asked for having a per-task way to enable/disable it.

- Add diff mode support to git module https://github.com/ansible/ansible-modules-core/pull/3364
- Proposal: Controlling when diff output should be produ

[2017-08-17 20:46] bcoca commented on #28367
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This works as expected, self referential variable definitions are not supported.

In the future, this might be a topic more well suited

[2017-08-17 20:46] #28367 closed, assigned to nobody

[2017-08-17 21:16] #20379 closed, assigned to alikins, jimi-c

[2017-08-17 21:18] srabizadeh opened #28370 "Using the same variable name as /group_vars/all in roles - recursive loop"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

roles
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Suse11 Sp3
##### SUMMARY

If user uses the same variable name in the sub-roles recursive loop error will happen:
##### STEPS TO REPRODUCE

Define a variable in group_vars/all:
[code]
define a playbook that calls and pass the variable to a role as a different vari

[2017-08-17 21:27] RohitK89 commented on #27938
@maethor I found a fix. You have to set `pipelining = True` in your ansible.cfg file under the `[ssh_connection]` group.

Looks like 2.3 broke falling back to scp if sftp isn't available on the host. It works fine in 2.2, but 2.3 has a bug. The above workaround will work for now.

(To help the next soul who runs into the same issue as me)
If you're using Tower and can't get it read a config file,

[2017-08-17 21:40] srabizadeh commented on #28367
The user should group related types of element within the same dictionary object for organization and I believe that this is one of the reason that we have this format in JSON and Python. If later on we have a
situation that one of the elements is going to use another element of the same object, then that could force the user to introduce a major change in the group/var files.

[2017-08-17 23:18] #28314 closed, assigned to nobody

[2017-08-17 23:21] nitzmahone commented on #28322
cc @jctanner @chouseknecht

[2017-08-17 23:23] nitzmahone commented on #28329
This looks like something you need to take up with the folks that built the Jenkins roles, not the Ansible core project...

[2017-08-17 23:23] #28329 closed, assigned to nobody

[2017-08-17 23:32] nitzmahone commented on #28335
So is the ultimate issue that the server (that you're trying to download from) only supports TLS1.2?

[2017-08-17 23:48] nitzmahone commented on #28337
This behavior (arg squashing) is still supported in 2.3, and I'm not able to reproduce the issue- it works as expected for me. I'm guessing you've got a partially-borked Ansible installation (easy to do on macOS, depending on how you installed).

[2017-08-18 00:06] nitzmahone commented on #28370
This is why the docs recommend namespacing variable names in roles- it's by design, and is a necessary  consequence of a flat variable namespace. Nothing much we can do here without completely redesigning the way variables work in Ansible...

[2017-08-18 00:06] #28370 closed, assigned to nobody

[2017-08-18 01:16] #10834 closed, assigned to nobody

[2017-08-18 01:16] #26897 closed, assigned to nobody

[2017-08-18 01:40] DevOpsJon commented on #26793
@smellman Your solution worked for me. Thanks.

[2017-08-18 02:13] sushilkumarsah commented on #28313
Thank you for clarifying my mistake and giving the correct solution.

[2017-08-18 03:14] dagwieers commented on #28313
You're welcome !

[2017-08-18 03:24] osamu-shirota commented on #28211
Yes. I will try vmware_guest

[2017-08-18 03:24] #28211 closed, assigned to nobody

[2017-08-18 05:38] caitsithx commented on #17349
same issue as @jscheible
I have 5 remote VMs which are just created before ansible-playbook, and connections fails randomly.

tried: add ssh retries, not work.

[2017-08-18 06:06] Crapshit commented on #28335
Hi nitzmahone,

I did not find anything on the vendors page or via google:
https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls

I'm not a crypto expert, but I think minio is supporting only TLS1.2?

BR

[2017-08-18 06:15] stephan2012 opened #28380 "docker_network should allow passing the 'attachable' flag"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
docker_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing special

##### OS / ENVIRONMENT

RHEL 7.4, Docker version 17.06.0-ce, Swarm Mode

##### SUMMARY
`docker network create` allows passing the `--attachable` option that allows connecting unmanaged containers to (overlay) networks. Unfortunately the `docker_network` module

[2017-08-18 06:47] stephan2012 opened #28382 "Cannot connect unmanaged Docker container to network on Swarm worker"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing special

##### OS / ENVIRONMENT
RHEL 7.4, Docker version 17.06.0-ce, Docker Swarm mode enabled

##### SUMMARY
Module _docker_container_ cannot connect to a Docker network on a Swarm _worker_ because it seems to be unavailable. In fact the network is available and correc

[2017-08-18 07:11] kassiansun commented on #28382
From `docker-py`'s document, `client.networks` returns the result of `docker network ls`. So if `docker` daemon don't know this, `docker-py` will not know this.

I didn't use swarm before, but I think you can deploy container on master node and it will be scheduled to worker node. So why not deploy it on master node?

`docker_container` has nothing to do with swarm by now.

[2017-08-18 07:30] stephan2012 commented on #28382
To my knowledge it is not possible to create an (unmanaged) container (`docker run …`) on the Swarm master which is then running on the worker. Naturally this works when creating services ( `docker service create …`).

However, for various reasons we need Docker Swarm just for using cross-node overlay networks and want to run unmanaged containers.

Would it be an option to skip the network lookup

[2017-08-18 07:44] kassiansun commented on #28382
`docker-py` need network id to disconnect a container from a network: [rel](http://docker-py.readthedocs.io/en/1.10.0/api/#disconnect_container_from_network)

You might have to create it on the worker node, use ansible to run `docker network create` on every node?

[2017-08-18 07:51] jhawkesworth commented on #28335
@Crapshit Please try latest devel.  A change was recently merged
https://github.com/ansible/ansible/commit/4cec83471c47af37a7467afc41120354214cc5dc
which tries to set TLS 1.1. or 1.2 if available (.net 4.x defaults to TLS 1.0, if I recall), so I believe this should be fixed for your particular environment.

needs_info

[2017-08-18 07:55] tolbrino commented on #18721
I've run into the same issue with the same debug output. The only way out was switching to using sudo instead of doas.

[2017-08-18 08:01] stephan2012 commented on #28382
You cannot `docker network create` on a worker node with scope _swarm_… Has to be done on a master.

[2017-08-18 08:04] kassiansun commented on #28382
Hahaha....maybe you need to choose another tool to manage your overlay network, like ovs.... Swarm is easy to use, so it might be hard to customize.

[2017-08-18 08:23] ssbarnea opened #28384 "implement plugin auto-discovery"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible should be able to discover and load plugins that are installed as Python packages, avoiding the maintenance burden of patching `ansible.cfg` and adding paths to each of these plugin default installations.

##### EXPECTED RESULTS

We alre

[2017-08-18 08:44] xmj commented on #25489
You can use `delegate_to` in combination with `lxd_container`.

[2017-08-18 08:45] tar7 opened #28385 "win_updates does not update windows server"
ISSUE TYPE
Bug Report

COMPONENT NAME
Module: win_update

ANSIBLE VERSION

``ansible 2.3.1.0``

OS / ENVIRONMENT
Ansible is running on linux server: Ubuntu 16.04.2 LTS
Connected to windows server 2012 r2 datacenter

SUMMARY
Ansible fails to update windows server using the windows module: win_updates. In ansible it shows ok but when i check my server, Most recent check for updates was not when i tr

[2017-08-18 09:18] jborean93 commented on #28385
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

* An `ok` response means that no change occurred on the server so no updates were installed

This means that the win_updates module did not find any updates to inst

[2017-08-18 09:18] #28385 closed, assigned to nobody

[2017-08-18 09:30] pjnagel commented on #28319
@robinro

I agree with your assessment of my proposals.

Option 2 would be of the highest value to me, since it would solve my problem while still giving me useful feedback from git module in diff mode.

If option 2 is implement, I personally won't have any immediate need for option 3, but I agree with you and @dagwieers that it would be a generally useful option.

Option 5 is technically feasible

[2017-08-18 09:58] dagwieers commented on #28319
@pjnagel
- There is a need to enable/disable diff output on a per task basis. (Security is one very good reason) https://github.com/ansible/ansible/issues/14860
- We should avoid having large diff's being returned by the module, so I would simply truncate the output if the size (or # lines) goes over a treshold. I believe we do this already somewhere, might be the template module IIRC. And maybe m

[2017-08-18 10:05] dagwieers commented on #28319
@pjnagel Wrt. having a terse/full output mode from within Ansible, this could be done by sending this information to the module, add some helper methods to AnsibleModule for handling diff output and letting the module take care of this.

I think there is a dire need for this, now people mess with the result dictionary themselves, but just like we now have **module.warn()** we should probably have

[2017-08-18 10:08] dsofeir commented on #27729
Hi Guys,

I am experiencing the same error on OpenSuse Leap when trying to manage a CentOS server:

u'generic_receive_offload': u'on', u'tx_checksum_ipv6': u'off [fixed]', u'tx_scatter_gather_fraglist': u'on', u'rx_all': u'off [fixed]', u'highdma': u'off [fixed]', u'rx_fcs': u'off
[fixed]', u'tx_lockless': u'off [fixed]', u'tx_tcp_ecn_segmentation': u'off [requested on]', u'tx_gso_robust': u'off [

[2017-08-18 10:25] rkandilarov commented on #28210
@hitoshi-isa what is your IOS version? And just for any case check with  *ANSIBLE_PARAMIKO_HOST_KEY_AUTO_ADD=True* before running the task/playbook.

[2017-08-18 10:25] msl-kabo opened #28386 "Unable to set up A record round robin with dnsmadeeasy"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dnsmadeeasy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Standard

##### OS / ENVIRONMENT
Running Ansible on Debian Stretch

##### SUMMARY
I'd like to set up a round robin configuration, as done in [this tutorial](http://help.dnsmadeeasy.com/managed-dns/records/round-robin/), using ansible and the dnsmadeeasy module.

##### STEPS TO REPROD

[2017-08-18 10:29] rkandilarov commented on #27727
@ipirva How did you solve the problem?

[2017-08-18 11:04] stephan2012 commented on #28382
So probably create a way to delegate master-only actions (like checking for available networks) to the Swarm master?

Introducing another tool does not help because it might raise other issues. Shouldn't Ansible support all core Docker features like Swarm mode out of the box?

[2017-08-18 11:50] aaksarin commented on #9966
Installing apt packages python-urllib3, python-openssl, python-pyasn1, python-pip and pip package ndg-httpsclient solved issue for me. Thanks to Yuri Kanivetsky from this thread https://groups.google.com/forum/#!msg/ansible-project/p4dQ0c25bpM/qSsI4JQqBAAJ.

[2017-08-18 11:54] rkandilarov opened #28388 "eos_user module does not give error when nopassword is not given and does not create new user"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- eos_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration

##### OS / ENVIRONMENT

[code]

##### SUMMARY

When running task for creating user with eos_user without providing explicitly *nopassword* the user is not created and there is no error. If trying to add nonexisting user with ssh key eos_user will fail...
I c

[2017-08-18 11:57] Pantharian opened #28389 "win_reboot does not wait for OS updates to finish installing/confguring after reboot"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_reboot

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
Any Windows OS (v10 or later)

##### SUMMARY
Having rebooted the machine following OS updates (patches/security fixes etc) using win_reboot, Ansible resumes processing the playbook even though the OS updates have not completed.

This is OK for some operations: e.g. disk access, read

[2017-08-18 12:12] chakravarthy392 commented on #26085
Same 4 test cases are failing on linux while testing  **Ansible-2.3.2.0**

[code]

[code]

[2017-08-18 12:22] dagwieers commented on #28389
@Pantharian Good call, I guess we have to find a way to ask Windows when the system is really ready to be used again. Or we could add a special condition to check for in **win_wait_for**. https://github.com/ansible/ansible/pull/26556

The main question is whether this should be standard behavior from **win_reboot**, or is this something specific we expect the user to take into account (so explaine

[2017-08-18 12:24] rajnkamr opened #28390 "Assignment of uri response to a variable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I assign the response of login in register based on some condition and later need to use same login response in subsequent section.
Again i will login and get the response  and use in subsequent section.
Is there any way to do it. Currently I am getting

[2017-08-18 12:25] leekendrick commented on #24466
Updated to the latest devel branch, but I am still have the same overall issue.
Within the log I see:
paramiko.transport Authentication (password) successful!
p=46192 u=root |  ssh connection done, setting terminal

followed by this:
 u=root |  failed to create control socket for host.

and ideas?

[2017-08-18 12:35] elaurijssens opened #28391 "azure_rm_virtualmachine - NameError: global name 'VirtualMachineSizeTypes' is not defined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
[root@localhost ~]# cat /etc/redhat-release
CentOS Linux release 7.3.1611 (Core)

##### SUMMARY
azure_rm_virtualmachine throws an error, __NameError: global name 'VirtualMachineSizeTypes' is not defined__, although the requirements in the

[2017-08-18 12:43] #28223 closed, assigned to nobody

[2017-08-18 12:44] elaurijssens opened #28392 "azure_rm_virtualmachine does not clean up after itself when it fails on an error in Azure"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
[root@localhost ~]# cat /etc/redhat-release
CentOS Linux release 7.3.1611 (Core)

##### SUMMARY
azure_rm_virtualmachine throws an error, __NameError: global name 'VirtualMachineSizeTypes' is not defined__, although the requirements in the

[2017-08-18 12:45] abukharov commented on #22576
From what I learned Ansible calls useradd and usermod in random order, so if your user has any other extra attributes e.g. comment or home, it is likely to fail.

[2017-08-18 12:45] bcarpio commented on #12841
So if we look at how this feature works in other configuration management systems (puppet ... chef ... salt) the dependency files can be empty. For instance in puppet the .fixtures file can be empty ...

[2017-08-18 12:51] elaurijssens commented on #28391
Related to #21825 (and thus #25504)?

[2017-08-18 12:56] elaurijssens commented on #25504
There's more to the documentation: both subnet_name and virtual_network_name claim to have the alias virtual_network.

[2017-08-18 13:16] rajnkamr commented on #28390
closing the issue, it worked by assigning it with "{{ }}"

- set_fact: login_resp="{{ json_resp }}"
  when: connection_ip == '0.0.0.0'

[2017-08-18 13:16] #28390 closed, assigned to nobody

[2017-08-18 13:25] alexfoxgill opened #28393 "The module iam_managed_policy was not found in configured module paths"
##### ISSUE TYPE
 - Bug Report/Documentation Report

##### COMPONENT NAME
iam_managed_policy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg:
[code]

##### OS / ENVIRONMENT
Mac OS X Yosemite 10.10.5

##### SUMMARY
Trying to use the iam_managed_policy module fails with the message:

Additionally, the [documentation page](https://docs.ansible.com/ansible/latest/iam_managed_policy_modu

[2017-08-18 13:32] jimi-c commented on #8508
@rkumar357 sorry for the late reply, but if you're still seeing this and you have a reproducer please open a new issue.

Thanks!

[2017-08-18 13:47] #27406 closed, assigned to Qalthos

[2017-08-18 14:04] garbled1 opened #28394 "vmware_guest: No way to specify the root resource pool of a cluster"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cloud/vmware/vmware_guest.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No major changes.

##### OS / ENVIRONMENT
Vsphere 6.0

##### SUMMARY
In our environment, we generally want all VM's to sit at the root resource pool of the cluster.  However, in some clusters, we do have a single resource pool, that we do not want to put the gener

[2017-08-18 14:12] elaurijssens commented on #28391
Installing azure 2.0.0 RTM does not fix the issue.

[2017-08-18 14:43] s-hertel commented on #28393
Hi @alexfoxgill. The module does exist and I can run it successfully. Have you tried `git pull --rebase`? And `source hacking/env-setup`? Are you experiencing the same problem with other modules?

[2017-08-18 14:49] SauloAislan commented on #15405
I have the same erro with os_swift : Get swift rings!

`fatal: [aio1_swift_proxy_container-ede35fad]: FAILED! => {"changed": false, "cmd": ["rsync", "-e", "ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no", "-avz", "swift@172.29.236.100:/etc/swift/ring_build_files/", "/etc/swift/"], "delta": "0:00:00.092586", "end": "2017-08-16 12:28:49.614469", "failed": true, "rc": 255, "start": "

[2017-08-18 15:06] #28309 closed, assigned to nobody

[2017-08-18 15:09] calfonso commented on #28210
@hitoshi-isa also would you mind adding your ansible.cfg to this report so we can see the config sections you have set?
needs_info

[2017-08-18 15:10] calfonso commented on #27275
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for

[2017-08-18 15:10] #27275 closed, assigned to nobody

[2017-08-18 15:11] dagwieers opened #28402 "Improve Windows module exception output"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
Windows modules

##### ANSIBLE VERSION
v2.4

##### SUMMARY
So if a Windows module raises an exception, the output is hard to read because it is encapsulated inside of a weird message most users wouldn't know or care about:

[code]
It may look easier in your browser as you can horizontally scroll, but in a Unix terminal it's one large blob fro

[2017-08-18 15:12] calfonso commented on #27161
@nskalis Follow this guide https://docs.ansible.com/ansible/network_debug_troubleshooting.html#unable-to-open-shell

If you continue to see the issue, go ahead and re-open the issue. Closing for now.

[2017-08-18 15:12] #27161 closed, assigned to nobody

[2017-08-18 15:18] bcoca commented on #28384
This won't work for modules as they are not required to be python

[2017-08-18 15:26] ssbarnea commented on #28384
@bcoca They don't really have to be python, only to be wrapped as a python module. Python role here is primarily for packaging and ease of distribution, also giving isolation support via virtuaenvs.

I am still open to other ideas as long they solve the same problem: the ability to install and to auto-detect/load extensions at runtime.

[2017-08-18 15:27] calfonso commented on #26236
As screenos isn't supported, I'm closing this issue.

[2017-08-18 15:27] #26236 closed, assigned to nobody

[2017-08-18 15:29] bcoca commented on #28384
python is not great at packaging other languages and their dependencies

[2017-08-18 15:39] calfonso commented on #27815
@Kokozzi please re-test and let us know if it's still an issue.

needs_info

[2017-08-18 15:40] sboisson commented on #28337
I tried uninstalling all 'stacked' versions of ansible with `pip uninstall` then reinstalling ansible and it solved my issue :-)

[2017-08-18 15:43] calfonso commented on #26154
@jmighion would you mind re-testing this in the devel branch? We believe it's fixed.

[2017-08-18 15:44] newswangerd commented on #27515
Rerunning the tests shows that this has been fixed

[2017-08-18 15:44] #27515 closed, assigned to nobody

[2017-08-18 15:44] nitzmahone commented on #28335
Also note that you'll actually need .NET 4.5 installed or a 4.0 hotfix (in some cases) for this TLS fix to work.

[2017-08-18 15:50] privateip commented on #19183
@ismc this is believed to be fixed, could you please re-test?

[2017-08-18 15:52] pcahyna opened #28405 "Failure of the lookups integration test"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

integration test for lookups

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.4
##### SUMMARY

The "lookups" integration test (test/integration/targets/lookups/tasks/main.yml) can fail when the first environment variable has a value of "false" (or anything else which is interpreted as boolean). The set_fact m

[2017-08-18 15:55] bcoca commented on #28337
closing as per above

[2017-08-18 15:55] #28337 closed, assigned to nobody

[2017-08-18 16:01] privateip commented on #26628
@coolcps using network modules through a terminal server is not supported due to the fact that the transport stream is highly unpredictable.  I'm going to flag this as wont_fix and close the issue.

[2017-08-18 16:01] #26628 closed, assigned to nobody

[2017-08-18 16:03] Qalthos commented on #28293
Both `nxos_evpn_vni`, `nxos_vxlan_vtep_vni`, and a lot of other modules besides should already have this issue resolved in 2.4. Please let us know if this issue persists in `devel`

[2017-08-18 16:17] #21900 closed, assigned to rcarrillocruz

[2017-08-18 16:18] samrreynolds4 commented on #28296
I just updated Ansible and I can confirm the changes from the commit show up in my version, but I'm still getting an access is denied.

[2017-08-18 16:21] jhawkesworth commented on #28402
I think things would be improved if the \r\n could be interpretted as new-lines.  However skippy seems to be wanting to output something that mostly looks like json.
I use a tweaked version of the minimal callback plugin which improves things (its tweaked because minimal doesn't display task names, without which I am completely lost!).  I would contribute but I am not sure it works fully.

[2017-08-18 16:25] knechtionscoding opened #28406 "CIFS Module Failing on Second Run"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Using the Mount Module to mount a CIFS share works the first time, if CIFS Share is still mounted when run again the module errors out with a fatal error about a shared connection.
##### STEPS TO REPRODUCE

1. Setup CIFS Share
2. Configure Credentials an

[2017-08-18 16:30] dmsimard commented on #28384
Yeah I'm not sure Ansible would be able to do something like this easily.

While I'm not sure if doing something like this is a good idea (looks like it could open up a pandora's box of security vulnerabilities), the closest thing that would come to mind is to have a common location in which callbacks and plugins could install themselves to, add that to the default seek path and then load them.

F

[2017-08-18 16:57] akamac opened #28408 "vars_prompt fires even if no hosts matched for a play"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
playbook, vars_prompt

##### ANSIBLE VERSION
ansible 2.3.1.0
  config file = /home/amiasoedov/ansible/playbooks/linux/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 3.5.2 (default, Nov 17 2016, 17:05:23) [GCC 5.4.0 20160609]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY

##### STEPS TO RE

[2017-08-18 17:21] #28023 closed, assigned to nobody

[2017-08-18 17:35] eprigorodov commented on #11544
We have been also affected by this issue. It was then partially fixed starting from [v2.0.0](https://github.com/ansible/ansible/commit/00bc74404a8d2894f303f4612353417e4e94a156).

`ansible.parsing.vault.VaultEditor` always writes results of its operation into a new temporary file, then deletes original file and renames temporary file into original name. New file inevitably belongs to a current user

[2017-08-18 17:46] trstringer commented on #25504
@elaurijssens can you explain? I can see that `virtual_network_name` should have an alias for `virtual_network`, but what are you referring to with `subnet_name`?

[2017-08-18 18:11] mikewiebe opened #28412 "nxos_bgp_neighbor_af advertise-map properties are not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_bgp_neighbor_af

##### NXOS VERSION
7.0(3)I5(3)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
macOS

##### SUMMARY
The blank properties are not idempotent.

The following playbook can be used to demonstrate the problem

##### STEPS TO REPRODUCE
[code]

[code]

[2017-08-18 18:23] blieberman commented on #28330
+1

[2017-08-18 18:47] ghost commented on #13652
I can confirm this issue.

[code]

[code]

[code]

[code]

This does not happen on all servers. Manually removing the file works as a workaround.

[2017-08-18 18:54] resmo commented on #27813
I think, the `handlers listen` clause would be a use case for this. I created an example project https://github.com/resmo/tmp-ansible-handlers-listen-lb.  NOTE: The key point is that the mysql role has no dependency to the lb role handlers.

This is output is below

[code]

[2017-08-18 18:55] #24125 closed, assigned to nobody

[2017-08-18 19:00] coolcps opened #28415 "ios_facts fails over high latency link"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
2911 Cisco router with LTE card

##### SUMMARY
I have devices that are accessed through LTE where the gateway can be extremely far, in this case 500ms.  I'm sure this is a very fringe thing, but only ios_facts seems to have issue with the latency (command and c

[2017-08-18 19:16] #24546 closed, assigned to nobody

[2017-08-18 19:17] mikewiebe commented on #27403
@trishnaguha I tested this in the latest `devel` today but still see the problem.
[code]

[code]

[2017-08-18 19:21] mikewiebe commented on #27402
@trishnaguha I tested this with the latest `devel` and I still see this problem.

[code]

[2017-08-18 19:23] #24475 closed, assigned to nobody

[2017-08-18 19:31] #24453 closed, assigned to nobody

[2017-08-18 19:45] jhawkesworth commented on #28335
Good point @nitzmahone , will need later .net although in this case target is S2016 so I think should have it 'in the box'.

[2017-08-18 20:00] jimi-c commented on #27813
Handlers execute in the order they're defined, ordering them should not really be a problem.

[2017-08-18 20:13] #27591 closed, assigned to Qalthos

[2017-08-18 20:51] bcoca commented on #28384
We are already on that path, we just need to figure out something that is 'cross distro/OS friendly' for the directory structure. For certain plugins (callbacks, inventory)  we already have a white listing mechanic, others (modules, lookup, filters, tests, action, etc) only get used on demand so it is mostly ok to load them ... the issue is obscuring/overloading since plugins are found by name.

[2017-08-18 21:09] dagwieers commented on #28402
@jhawkesworth I really think we should fix this at the core, so not the representation level.

The `"Exception calling \"Run\" with \"1\" argument(s): \"Exception calling \"Invoke\" with \r\n\"0\" argument(s): \"The running command stopped because the preference variable \r\n\"ErrorActionPreference\" or common parameter is set to Stop:"` is part of our implementation (our wrapping of things) and l

[2017-08-18 21:11] bcoca commented on #22140
please test if PR above resolves your issue

[2017-08-18 21:16] bcoca commented on #12053
@sandeepms NOT right ... that sets it also for localhost overriding the built in. extravars have HIGHEST precedence.

[2017-08-18 22:12] elaurijssens commented on #25504
Look in the comments column for both parameters. The alias virtual_network is listed twice. http://docs.ansible.com/ansible/latest/azure_rm_virtualmachine_module.html

[2017-08-18 22:23] basictheprogram opened #28421 "win_copy recursively copy when src is a directory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Management host: macOS 10.12.5
Managed host: Windows 7

##### SUMMARY

win_copy documented behavior not consistent

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

Recursively copy the relative files/facts directory to C:/ProgramData/ansible/

[2017-08-18 22:57] jborean93 commented on #28296
Potentially the issue is around administrative rights and become. I'm not sure how the 2.3 implementation worked (believe it is the same around default token rights) but with the current one all tasks start with a limited user token unless

* UAC is disabled on the server, this can only be done through the registry
* The Ansible user uses to connect to the host has the right SeTcbPriviledge

If yo

[2017-08-18 23:08] dagwieers commented on #25504
@elaurijssens Good catch ! This is clearly a typo, and easily fixed with a PR. You can edit the module through the Github web-interface, make the change and create the PR (without even having to use the git commands for this). So if you feel up to it, make that change. The argument_spec should show you what is implemented as alias (but from a glance to the docs, it seems obvious too).

You can sta

[2017-08-19 00:30] dagwieers commented on #25532
Ok, so since I stumbled upon this when building a new environment, and this fix (ugly as it is) does help for me, here is the poor man's workaround to survive "Connection Refused"

[code]
So the problem here is that requests makes it very hard to intercept the Connection Refused exception, its abstraction is flawed in that respect IMO. So I am not making that distinction here, which is not good (b

[2017-08-19 00:36] jborean93 commented on #28421
@basictheprogram, we are about to pull the trigger on https://github.com/ansible/ansible/pull/27678 which should fix this issue for you. Are you able to test it out and put your results on that page?

[2017-08-19 01:00] dagwieers commented on #28421
@basictheprogram Perfect timing :-)

[2017-08-19 01:56] bcdonadio opened #28427 "YAML filter is generating invalid list output"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

jinja2 yaml filter

##### ANSIBLE VERSION

The bug is reproducible both from the current devel branch just as the 2.3.1.0 release.
[code]

##### CONFIGURATION

All configs are default.

##### OS / ENVIRONMENT

Both Fedora 26 and RHEL7.4.

##### SUMMARY

The YAML parser is generating invalid YAML lists with wrong indentation.

##### STEPS TO RE

[2017-08-19 02:28] basictheprogram commented on #28421
I can test. Actively working on the project that uses this module.

[2017-08-19 06:49] sandeepms commented on #12053
Got it, removed the extra-var. Thanks

[2017-08-19 07:04] basictheprogram opened #28431 "Documentation and example for win_user, state: query"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

win_user

##### ANSIBLE VERSION

[code]

##### SUMMARY

Document returned result from a state: query play

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No sure what to expect. It's not documented :-)

##### ACTUAL RESULTS

[code]

[2017-08-19 09:08] matonb opened #28433 "postgresql_user & become_user fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
postgresql_user

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS 7.3 - CentOS 7.3

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
PostgreSQL user foreman created

##### ACTUAL RESULTS
Doesn't become postgres user and fails to connect to database

[code]

PostgreSQL server log:
[code]

[2017-08-19 10:45] dagwieers opened #28434 "The term 'New-ADUser' is not recognized."
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_domain_group

##### ANSIBLE VERSION
v2.4

##### SUMMARY
This might well not be a bug, but just an ignorant user problem :-)

When using **win_domain_group** I received this message:
[code]

Although Ansible (i.e. **win_feature**) confirmed to me that **RSAT-AD-PowerShell** was already installed (presumably as part of **AD-domain-services**).

[2017-08-19 10:48] BusterNeece commented on #12282
+1, this issue should most certainly be reopened. When I read the error message, it suggests that _the very act of including tasks_ at the base of a YML file is deprecated, which is impossible as this basically the entire foundation of how Ansible works.

Instead, based on a look at the code, it appears it's trying to tell me that one particular attribute, _somewhere_ amidst all of my Ansible file

[2017-08-19 11:33] dagwieers commented on #28389
So a possible workaround would be to use the `post_reboot_delay` option of **win_reboot**. Unfortunately, that patch has not been accepted yet. https://github.com/ansible/ansible/pull/22178

Maybe I should single those features out so that the new functionality can be merged. (And now I did: https://github.com/ansible/ansible/pull/28448)

@nitzmahone Do you agree ? Can https://github.com/ansible/a

[2017-08-19 11:44] dagwieers commented on #28434
So I can confirm Powershell does not know about New-ADUser, so likely an issue with **win_feature** or wrong expectations.

[2017-08-19 11:47] dagwieers commented on #28434
So it seems Ansible confirmed that **RSAT-AD-Powershell** was installed on the AD but we are adding AD users/groups on other systems. So yes, another PEBKAC ;-)

[2017-08-19 11:47] #28434 closed, assigned to nitzmahone, jborean93

[2017-08-19 12:56] strongoose opened #28436 "python3: passwordstore lookup fails on multiline files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
passwordstore lookup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using python 3, the passwordstore lookup throws an exception when trying to read pass files with multiple lines.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

[2017-08-19 15:15] garbled1 commented on #28394
The following patch is untested (I cannot test it in my production setup currently, sorry) but more or less shows what I feel to be a correct solution for this issue:

garbled1/ansible@16dca695ab50c03ee23c757f9e1883e32a7f2b54

[2017-08-19 15:35] subsy opened #28438 "Tasks in included playbook at final level of inclusion are not executed on CentOS minions"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
task

##### ANSIBLE VERSION
ansible 2.3.0.0
ansible 2.3.1.0
ansible 2.3.2.0
ansible 2.4.0.0 (devel branch)

[code]

##### CONFIGURATION
ansible.cfg
[code]

##### OS / ENVIRONMENT
Control Servers: Ubuntu 16.0.4.3 LTS
Minions: Centos 7.3 (affected by bug), and Windows Server 2016 (unaffected by bug)

##### SUMMARY
Tasks in included playbook at fin

[2017-08-19 15:51] strongoose commented on #28436
This has already been fixed on devel branch, my mistake.

[2017-08-19 15:51] #28436 closed, assigned to nobody

[2017-08-19 16:45] Akasurde commented on #28266
@karniemi Could you please use the #28441 patch and let me know if it works for you ?

[2017-08-19 16:56] subsy commented on #13962
I think Im seeing something similar/related as referenced above in #28438

[2017-08-19 18:27] andreaso commented on #18897
Looks like this bug was taken care of by @sivel in the following commit: https://github.com/ansible/ansible/commit/4ac135c1b5ed6a7b9e3151b33c1f38a85f527465

[2017-08-19 21:27] ghost commented on #24139
Any word on something being done on this? Does someone need to open an issue with proxmoxer? I would be happy to do that or something like it if I knew what to submit.

[2017-08-19 23:13] tumbl3w33d commented on #22337
resolved_by_pr 22339

[2017-08-19 23:13] #22337 closed, assigned to nobody

[2017-08-20 01:04] nrwahl2 opened #28444 "xml module: print_match parameter fails due to "TypeError: 'bool' object is not callable""
##### ISSUE TYPE
 Bug Report

##### COMPONENT NAME
xml

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
remote_tmp = /tmp/.ansible-${USER}/tmp

##### OS / ENVIRONMENT
Control server:
OS release: RHEL 7.3
Kernel version: 3.10.0-514.2.2.el7.x86_64

Running against localhost
Module: xml

##### SUMMARY
The xml module fails with error "TypeError: 'bool' object is not callable" when print_match parame

[2017-08-20 01:31] magnus919 commented on #28195
@ansibot  I'm getting auto subscribed to issues I have no vested interest in (was an interested party during its inception years ago, but not today) & thus getting spammed. Please make it stop.

[2017-08-20 01:35] dagwieers commented on #28195
@magnus919 The reason for this is that you are listed as an author in the module. I can fix this by telling ansibot to stop notifying you. I guess it is my fault for not asking you wrt. this behavior. #28447

@tbielawa You are notified as well, do you want to be removed as well ?

[2017-08-20 01:36] nrwahl2 commented on #28444
Created PR #28445

[2017-08-20 01:56] nrwahl2 commented on #28433
What happens when you specify a login_user and login_password for accessing the database? I see that you're specifying the credentials of the user you want to create. There are separate parameters for the user you want to log in as.

From `ansible-doc postgresql_user`:
[code]

Does your postgres user have a password set?

[2017-08-20 02:07] dagwieers commented on #28421
So the new **win_copy** has been merged now, feedback still welcome.

[2017-08-20 02:19] nrwahl2 commented on #28433
Could you run it like this and then run an `ls -l` on `/tmp/testfile.txt` to verify that the task is failing to become the postgres user? In your "ACTUAL RESULTS" you've said it doesn't become the postgres user.

[code]

[2017-08-20 02:40] subsy commented on #28438
After a lot of debugging, I have discovered that thus was as a result of including the same fulldeploy playbook (with different vars passed on each include) in 2 different tasks each with different when clauses. On the CentOS stack, after the first 'when:' was evaluated to be false, the conditional falseness was passed through to the tasks in the in the second conditional include of fulldeploy.yml

[2017-08-20 03:11] cognifloyd commented on #22737
I've been experiencing the same issue on 2.3 (2.3.0, 2.3.1, and now 2.3.2). For delegated hosts, a vault encrypted variable file in the inventories group_vars or host_vars does not get decrypted when using delegate_to. The only workaround I've found is to use inline vault encryption instead of a separate vault encrypted file.

I have an inventory of the structure:
[code]
If I'm running a task on h

[2017-08-20 03:26] dmsimard opened #28451 "Implicit "setup" task from "gather_facts: yes" is missing attributes compared to explicit task"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not relevant

##### OS / ENVIRONMENT
Not relevant

##### SUMMARY
The implicit setup task that is issued from gather_facts differs from an explicit setup task.

The explicit setup task has a data source which makes [task.get_path()](https://github.com/ansible/ansible/blob/178cf6e82e9b446a49

[2017-08-20 03:28] #28444 closed, assigned to nobody

[2017-08-20 03:58] geerlingguy commented on #14150
This probably relates in some way to https://github.com/ansible/ansible/issues/17914

[2017-08-20 03:58] geerlingguy commented on #17914
Oh my gosh, can't believe it's taken me this long to finally realize why some of my playbooks felt like molasses compared to most other playbooks... I globally set `pipelining = True` in `/etc/ansible/ansible.cfg`, but for some playbooks, where I want specific roles to be installed locally to that playbook, I add an override `ansible.cfg` to the playbook directory with the custom `roles_path`.

..

[2017-08-20 07:41] andreaso commented on #22647
There is now a default http user agent again: https://github.com/ansible/ansible/commit/063f5d0ca8a326172f0981d28021e5c9fb7f42b4

It appear to satisfy Cloudflare.

[2017-08-20 07:55] andreaso commented on #26005
If nothing else this is a documentation bug, as the current module makes no attempt at handling key removal based on anything else than an explicitly provided key id. I have created a pull request, to have the documentation describe the current reality: https://github.com/ansible/ansible/pull/28453

Whatever the module _should_ get this extra functionality or not, that is a decision I'm leaving to

[2017-08-20 08:18] sathishts opened #28454 "SSH failed - AIX"
SSH login failed only for AIX servers but getting successful for Linux servers

[2017-08-20 10:38] timmjd opened #28455 "Incorrect condition behavior for tasks making use of failed_when statement"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Conditional & Error Handling

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Making use of the [failed_when](http://docs.ansible.com/ansible/latest/playbooks_error_handling.html#handlers-and-failure) does only affect the state of the current task. Verifying the result within a [condition](http:

[2017-08-20 12:53] ritzk commented on #28266
@ansibot #28441

[2017-08-20 16:06] Akasurde commented on #28266
#28441

[2017-08-20 17:28] Akasurde commented on #28126
resolved_by_pr #28457

[2017-08-20 17:30] Akasurde commented on #28126
@anonymous09 Could you please try above mentioned patch and let me know if it works for you ?

[2017-08-20 18:04] ghost commented on #24139
Submitted a pull request with the fix by @RazZziel. Hope I didn't step on any toes by doing that.

[Pull request](https://github.com/swayf/proxmoxer/pull/34)

[2017-08-20 18:10] nrwahl2 commented on #28455
Fixed in #26445 for version 2.4.

As you've probably noticed, the tests are checking different criteria in version 2.3. `results | failed` is checking the return code, while `results.failed` is checking the `failed` key directly.

The relevant file is `ansible/lib/ansible/plugins/test/core.py`.

Version 2.3:
[code]

Version 2.4, devel:
[code]

This is the behavior when running from 2.4 devel:
[cod

[2017-08-20 18:14] nrwahl2 commented on #28455
It should be noted that there was significant internal debate in the PR that I referenced, so the future of this behavior is unknown.

[2017-08-20 18:40] jctanner commented on #12486
1.9.x is no longer supported. Please upgrade to 2.3 or above.

[2017-08-20 18:40] #12486 closed, assigned to nobody

[2017-08-20 18:48] jhawkesworth commented on #28402
@dagwieers - you make a good point.  I have kind of stopped seeing that part of the message now - I'm too familiar with how things are at the moment.

[2017-08-20 19:20] basictheprogram commented on #28421
Works on my test (virtual) computer.

Let me try it on my test lab (aka multiple computers).

[2017-08-20 20:32] franz-josef-kaiser commented on #13820
Or just: Install *Ansible via Homebrew*, which will install/ pour the correct and needed Python version anyway.

[2017-08-20 20:52] nrwahl2 commented on #28427
For what it's worth, this behavior is coming directly from Python's `yaml` module. I'm not sure how feasible it's going to be to get the type of customization you're wanting at the Ansible layer.

From c:/plugins/filter/core.py:
[code]

Interpreter session using simple call of `yaml.dump` for illustration:
[code]

[2017-08-20 22:26] bcdonadio commented on #28427
But is this a customization? I mean, is the actual output valid YAML while having more than one space after the dash?

According to http://www.yamllint.com/, it seems to be valid. According to https://codebeautify.org/yaml-validator, it is not.

I just tried to yaml.load() the actual output and it worked. I'm unsure if should I report it upstream.

[2017-08-20 22:32] bcdonadio commented on #28427
Even stranger is if we use this input:
[code]

Which generates this strange output:
[code]
According to http://www.yamllint.com/, this output is also valid. It really seems to be?

[2017-08-20 22:37] jhawkesworth commented on #28431
Looks like you get a message saying the user wasn't found!

By the way, you can create documentation pull requests directly on the github page for the module documentation here:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_user.py

[2017-08-20 22:39] jhawkesworth commented on #28431
For info, here's what I get when a user is/isn't found:
[code]

[2017-08-20 22:42] nrwahl2 commented on #28427
If the YAML is not valid and it's not just a problem with CodeBeautify's parser, then that needs to be addressed by PyYAML, part of the YAML project: https://github.com/yaml/pyyaml. It's definitely not a format I've seen before, and I'm wondering if it will be treated as valid everywhere that DOESN'T use PyYAML to parse it (like Ansible does).

I noticed the same strange behavior when I was testin

[2017-08-20 22:47] nrwahl2 commented on #28427
As for the rules it's using...
Simple list items are consistently getting their dash directly under the first character of the parent, with a two-space total indent. Hash list items get their dash in the same place with a four-space indent. And then list list items get... the second thing below.
[code]

[2017-08-21 00:43] kassiansun commented on #28382
There seems no such plan yet. Community might take this as an irrelevant feature of docker management, as swarm is not a part of docker until v1.12.

[2017-08-21 04:30] Alexander198961 commented on #20958
so what is decision  can someone review pull request  ?

[2017-08-21 05:58] matonb commented on #28433
I just ran this test:

[code]

Actual output:

[code]

[2017-08-21 06:33] balonik commented on #26008
this is broken in 2.3.0 as well.

***2.3.0***

**ANSIBLE VERSION**
[code]
**OS / ENVIRONMENT**
RedHat 7

**STEPS TO REPRODUCE**
Example hosts inventory
[code]
Example playbook
[code]
**EXPECTED RESULTS**
[code]
**ACTUAL RESULTS**
[code]

[2017-08-21 06:41] nrwahl2 commented on #28433
Huh. Try it with `ansible-playbook -vvvv`? Curious where it's failing.

[2017-08-21 06:57] balonik opened #28461 "delegate_fact doesn't work if the connection is tunneled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ansible is run on Fedora 25
Inventory servers are RedHat 7

##### SUMMARY
Using delegate_fact doesn't work when I have the connection to servers tunneled through SSH tunnel.

##### STEPS TO REPRODUCE
Example hosts inventory
[code]

Example playbook
[code]

###

[2017-08-21 07:03] balonik commented on #28461
Output of "debug: var=hostvars[groups['quorumserver'][0]]"
[code]

[2017-08-21 07:05] elaurijssens commented on #25504
Challenge taken, PR created :)

[2017-08-21 07:16] matonb commented on #28433
[code]

[2017-08-21 07:48] nrwahl2 commented on #28433
Yep... to highlight the relevant line from the above snippet:
[code]
**sudo -H -S  -p "[sudo via ansible, key=imgajdoprytcwdrqvrhxwqcaznxqipgu] password: " -u root /bin/sh -c '"'"'"'"'"'"'"'"'echo BECOME-SUCCESS-imgajdoprytcwdrqvrhxwqcaznxqipg**

I'm going to continue to follow this in the hopes that someone more experienced with Ansible privilege escalation can enlighten me. The docs don't cover

[2017-08-21 07:59] matonb commented on #28433
@nrwahl2 Thanks for your help so far

[2017-08-21 08:17] abhinav-chittora opened #28463 "Issue with vmware_guest module (folder is not required but giving error)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

When running the vmwre_guest module and we don't specify the folder name (which is not a required parameter), and we have a top level folder before any data center, it fails with error:
```fatal: [localhost]: FAILED! => {"chang

[2017-08-21 10:08] robinro commented on #27991
There is an open PR that adds the `--single-branch` argument to git:
https://github.com/ansible/ansible/pull/28465
This will make the requested behavior explicit.

Fetching all references is cheap and to not fetch all objects one needs `--single-branch` or `--depth`. I don't think that removing a line from the `git branch` output is worth a change here.

[2017-08-21 11:24] jsirney commented on #26890
I am having a similar issue. I clear the SSD drive and partition it on my KVM host using Ansible Parted. I attach the partition to a guest on the host. On the guest, it sees the attach disk but it has no partitions. So I have to partition it from the guest OS.  Parted runs no errors but no partition.

TASK [Create a new primary vdb partition] *******************************************************

[2017-08-21 11:31] Rudd-O commented on #28278
Seconded!

[2017-08-21 11:35] Akasurde commented on #24511
resolved_by_pr #28466

[2017-08-21 11:41] yangliang003 opened #28467 "ansible call pywinauto return different result vs call pywinauto locally"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_command,win_shell,raw
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no changes
##### OS / ENVIRONMENT

redhat enterprise linux 6.7
##### SUMMARY

When I call python code locally it runs well,but failed when call it throw raw,win_shell or win_command
##### STEPS TO REPRODUCE

ansible ip -m win_command -a 'python rapwd4.py chdir=c:\***

[2017-08-21 12:56] yajo opened #28470 "Increase duplicated key overriding warning verbosity"
##### ISSUE TYPE

 - ~B ug Report~
- Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When running a playbook that has a yaml anchor in a task and it is used in a subsequent task that overrides some of the original keys, with no verbosity specified, the user gets ugly warnings.

##### STEPS TO REPRODUCE

Among some

[2017-08-21 13:28] tmarlok88 opened #28471 "vmware_guest without MAC address gather facts error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
"N/A"

##### SUMMARY
If the guest vm has no MAC address assigned to it (prior the first boot, th e MAC is empty), the guest module is unable to start the vm. The problem lies in the module_utils/vmware.py in the gather_vm_facts function (line 247). The error is:
[code]
I made the

[2017-08-21 13:30] erikbgithub commented on #22397
Instead of saying what not to do it should say WHAT TO DO! We are not magicians. Thanks.

[2017-08-21 13:33] Akasurde commented on #28463
@abhinav-chittora vmware_guest provides idempotency, that means code will try to find virtual machine before it tries to create a new one. Here, in your case it is not able to find virtual machine so failing with following message

[code]
which is due to the fact that vmware_guest sets value of `folder` to `/vm` if not provided by user.