[2018-01-20 19:18] dagwieers opened #35135 "ACI: integration test failure"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci_bd_subnet
aci_contract_subject
aci_filter_entry

##### ANSIBLE VERSION
v2.5

##### SUMMARY
The following tests failed:

**aci_bd_subnet**
[code]

Same happens for:
- aci_filter_entry
- aci_contract_subject

[2018-01-20 19:31] ryancurrah commented on #17763
For jinja newbs like me here is an example using a jinja filter to sort dictionaries.

[code]

[2018-01-20 19:45] dagwieers commented on #17763
@ryancurrah Beware to OrderedDict is not the same as a sorted dictionary. OrderedDict means that the keys in your dictionary preserve the order as it was created, which is not the default behaviour in Python or YAML.

[2018-01-20 20:00] alikins commented on #31002
Resolved by fc180a378ad6582c4c4a0d1b972113fd3afb4ae9

[2018-01-20 20:00] #31002 closed, assigned to alikins

[2018-01-20 20:05] #31501 closed, assigned to nobody

[2018-01-20 20:07] #32286 closed, assigned to alikins

[2018-01-20 21:28] ryancurrah commented on #17763
@dagwieers ah yeah doh, makes sense. In my use case that’s not a big deal. I just need to make sure when a new key/val is added or removed that the whole dictionary doesn’t re-sort, causing lines to change in the file that didn’t actually need to. Dictsort or OrderedDict accomplish that which is good. Although I’d prefer OrderedDict.

[2018-01-20 21:32] nudgegoonies commented on #28907
I have the same problem with ansible 2.4 on debian 9. Every package should be set to manually installed. This works for packages that are installed via ansible that weren't installed on the system yet. But if packages were installed before the ansible run as automatically-installed (as a dependency of a different packatge), it must be set to manually installed.

This behavior is dangerous if autoc

[2018-01-20 21:32] #35135 closed, assigned to nobody

[2018-01-20 21:40] dagwieers opened #35140 "aci_config_rollback: integration test fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci_config_rollback

##### ANSIBLE VERSION
v2.5

##### SUMMARY
The following error happens when running the integration tests on the public Sandbox ACI infrastructure.
[code]

[2018-01-20 22:10] millsks opened #35142 "Feature request - privilege escalation thru BoKS"
Issue Type: Feature Idea

Is there anything in the works for privilege escalation using BoKS?  This would be beneficial to us using ansible to implement our DevOps strategy without the need for agents being installed on all servers.

[2018-01-20 22:38] cdelgehier commented on #33602
It works great for me !
[code]

[2018-01-21 01:08] Sephtex commented on #23944
adduser is available on alpine, that binary should be used instead of useradd.
For the latter shadow needs to be installed.

Suggestion would be is to check which binary is available and use the one which is available.

[2018-01-21 01:23] jaredledvina commented on #26148
Adding to this that the default `ubuntu:16.04` docker image currently does not ship with `iproute2` by default which also causes this variable to disappear as described.

[2018-01-21 02:30] smitna opened #35148 "always not executed when block nesting is combined with run_once"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`block`, `always`, `run_once`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`always` not executed when `block` nesting is combined with `run_once`

##### STEPS TO REPRODUCE
`always` section of sample playbook below does not execute.  This is also true
when `run_once` is indented once in either dire

[2018-01-21 04:31] yuji-k64613 commented on #35070
Not only "dns_servers" but also "ports", "volumes" are the same result.
Is this in the specifications?

[2018-01-21 06:33] steaksauce- commented on #34956
Created PR #35149 -- this fixes it while testing on Server 2012R2 Standard.

[2018-01-21 09:25] hvindin commented on #35029
I probably should be more attentive to notifications, I just wasted about 2 hours of my life coming up with the exact same analysis by toggling settings around.

I had a cursory look at the code which references sftp_batch_mode and can't actually see anything immediately obvious that could allow this failure to happen.

The strange thing about your comment

Is that the resulting file on the server

[2018-01-21 13:07] xcambar commented on #29412
close_me

@pari- is correct, I confirm this has been fixed.

[2018-01-21 13:12] #29412 closed, assigned to nobody

[2018-01-21 15:12] oopled commented on #32843
Hi, dont want to pester, but any update on this?

thx

[2018-01-21 15:12] oopled commented on #32843
oops, wrong button! ;P

[2018-01-21 16:06] roadrunner commented on #13175
it's really weird; to remove ~/.netrc file helped fixing it.
[code]

before removing `.netrc`
[code]

after removing it

[code]

if you have a .netrc file with default login, you may encounter the same issue..

[2018-01-21 17:42] huegelc commented on #34924
I can confirm this behaviour. Running two hosts with the latest Version: 2.21-0ubuntu2~16.04.1 works,

[2018-01-21 19:21] Varkal commented on #34153
Same problem here.
Someone have a workaround ?

I think to use shell command to run my user creation...

[2018-01-21 19:22] resmo commented on #34153
yes, I'll make a PR

[2018-01-21 19:34] resmo commented on #34153
resolved_by_pr #35155

[2018-01-21 19:43] dwt commented on #5512
Can this please be reopened, it would also be really useful for us!

[2018-01-21 20:08] huegelc commented on #34924
A hacky workaround `mount -o bind /var/snap/lxd/common/lxd/ lxd`

[2018-01-21 20:17] xcambar commented on #18907
@bencromwell This issue has been open more than a year ago. It should have been answered, sorry it has never been the case.

Is it still relevant to you? Can you test the behaviour against the ansible 2.4.x series, please? If you can reproduce against these, I'll be more than willing to investigate further on.

[2018-01-21 20:25] xcambar commented on #18795
@jsumners This issue has been open more than a year ago. It should have been answered, sorry it has never been the case.

Is it still relevant to you? Can you test the behaviour against the ansible 2.4.x series, please? If you can reproduce against these, I'll be more than willing to investigate further on.

[2018-01-21 21:36] jsumners commented on #18795
@xcambar I don't see anything on https://docs.ansible.com/ansible/latest/npm_module.html that would indicate this has been solved.

The issue is about needing to supply arbitrary switches to the `npm` binary. This module covers the most common ones superbly, but it is not useful in odd circumstances.

[2018-01-22 00:56] rcarrillocruz commented on #31297
https://github.com/ansible/ansible/pull/35162

[2018-01-22 02:49] #17934 closed, assigned to nobody

[2018-01-22 05:52] felixfontein opened #35172 "letsencrypt module with http-01 challenges issues two certificates (of which one is provided to the user)"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
letsencrypt

##### ANSIBLE VERSION
2.4, current devel

##### SUMMARY
If `http-01` authentication is used for the `letsencrypt` module, I always find *two* certificates issued per request in the Certificate Transparency logs (https://crt.sh for example), instead of one (as expected).

Example: I used current `devel` (also happened with the module co

[2018-01-22 06:00] #35102 closed, assigned to nobody

[2018-01-22 06:21] darklord1990 commented on #31741
Thanks @azenakhi

It worked on SUSE Linux Enterprise Server 12

[2018-01-22 07:03] IoTPlay commented on #34851
Yes, after I realised, that the TARGET host should not get installed with **docker-py**, even if ansible asks for it. Maybe you guys should change that error message?

See issue over at docker. https://github.com/docker/docker-py/issues/1353#issuecomment-359191782

[2018-01-22 07:03] IoTPlay commented on #34851
Thank you Martin. I removed my uid/pwd. Reall NOOB thing to do ! Which I am
!

On 20 January 2018 at 16:58, Martin Jablečník <notifications@github.com>
wrote:

[2018-01-22 07:05] IoTPlay commented on #34851
Thank you Martin. I removed my uid/pwd. Reall NOOB thing to do ! Which I am !

[2018-01-22 07:46] torfsen commented on #30827
@robinro: Thanks for the info! It would be awesome if the target release is mentioned whenever a ticket is closed :wink:

I'm manually calling `a2enmod` in the meantime as a workaround.

[2018-01-22 07:47] xcambar commented on #18795
I've been reminded of this PR: https://github.com/ansible/ansible/pull/30318

What do you think? Can you test it?

[2018-01-22 08:07] kyliel commented on #25492
Thank you for contribution. It seems the PR #26104 is still open. @zikalino , could you please take a look for this issue as well as the PR #26104? Thank you.

[2018-01-22 08:15] kyliel commented on #25346
needs_triage @yuwzho

[2018-01-22 08:18] kyliel commented on #30199
Sounds like a feature request.

[2018-01-22 08:19] kyliel commented on #32143
Could we close this one since it duplicates with https://github.com/ansible/ansible/issues/25492? @yuwzho

[2018-01-22 08:21] kyliel commented on #24084
Seems like a feature to Azure.

[2018-01-22 08:24] kyliel commented on #29046
https://github.com/ansible/ansible/pull/29050 @yuwzho @zikalino

[2018-01-22 08:25] kyliel commented on #23705
The team is working on a long-term solution related to Python SDK version.

[2018-01-22 08:26] kyliel commented on #22197
Still an issue? If not, could we close it?

[2018-01-22 08:28] kyliel commented on #21825
PR is resolved. @yuwzho , could you please close it? Thanks.

[2018-01-22 08:29] kyliel commented on #30931
@charlottevarley This issue is waiting for your response. Please respond or the issue will be closed.

[2018-01-22 08:32] kyliel commented on #31791
@yuwzho ,please add corresponding PR here.

[2018-01-22 08:35] kyliel commented on #30142
@yuwzho , could you please close this one since it is merged?

[2018-01-22 08:36] Applemann commented on #34851
@IoTPlay Yes this is very important guard your private login and passwords.. because when you create commit and push it into some public repository.. It will be there forever..: https://github.com/IoTPlay/docker-iotplay-standards/commit/3ff4c3a887534163d794da3f13d38ca85fdba74d

;-)

[2018-01-22 08:37] kyliel commented on #30218
Not valid. You could specify VM name. Could we close this one? @yuwzho

[2018-01-22 08:40] kyliel commented on #30056
No _wait_for_completion any longer. Now

wait | no | no | yesno | wait for the instance to be in state 'running' before returning
-- | -- | -- | -- | --
wait_timeout | no | 600 |   | how long before wait gives up, in seconds
wait_timeout_redirects | no | 300 |   | how long before wait gives up for redirects, in seconds

Still have any issue?

[2018-01-22 08:40] kyliel commented on #30056
need_information

[2018-01-22 08:42] kyliel commented on #17925
@nitzmahone Is this related to new inventory plugin mechanism? Let us discuss in this week meeting.

[2018-01-22 08:43] kyliel commented on #33448
Why the label of Azure is attached here? @nitzmahone

[2018-01-22 08:48] kyliel commented on #34032
@zikalino , could you please PR #34788 ? Thanks.

[2018-01-22 08:55] IoTPlay commented on #34851
I changed pwd this morning, is there a way to get rid of that? (Not ansible
related, I know...)

On Mon, 22 Jan 2018 at 10:36, Martin Jablečník <notifications@github.com>
wrote:

[2018-01-22 08:56] kyliel commented on #25352
I think you can get the information like

RETURN = '''

powerstate:

    description: Indicates if the state is running, stopped, deallocated

    returned: always

    type: string

    example: running

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py

[2018-01-22 09:04] zikalino commented on #29046
@kyliel @yuwzho i was just trying to check why tests are not failing.... and seems like azure_rm_loadbalancer_facts doesn't have any tests. i will take care of that.

[2018-01-22 09:04] kyliel commented on #28392
Not sure whether this is best experience.
For example, I created a VM and its dependencies. Finally, it fails because of some error. Once that error is fixed, I could quickly run my playbook again. This time it needs not re-create ones which created last time but moves forward. It saves me a lot of time.

@elaurijssens, do you mind join our next week Azure working group meeting? Thursday UTC 0:00.

[2018-01-22 09:05] Applemann commented on #34851
@IoTPlay if you changed the password on all accounts where did you using it should be OK :)

[2018-01-22 09:08] kyliel commented on #29580
I think this is already there.

deployment_mode | no | incremental | completeincremental | In incremental mode, resources are deployed without deleting existing resources that are not included in the template. In complete mode resources are deployed and existing resources in the resource group not included in the template are deleted.
-- | -- | -- | -- | --

If no objection, could we close this on

[2018-01-22 09:09] kinware commented on #34987
Thanks! I'll try and give the patch above a spin here in the next couple of days (need access to a specific test environment with high latency, which is currently in use). Will report back here when test has been done.

[2018-01-22 09:11] kyliel commented on #29585
I think it is in 2.4.

data_disks(added in 2.4) | no |   |   | Describes list of data disks.
-- | -- | -- | -- | --
Dictionary object data_disks           parameter     required     default     choices     comments                managed_disk_type(added in 2.4)     no          Standard_LRSPremium_LRS              Managed data disk type                     disk_size_gb(added in 2.4)     no

[2018-01-22 09:12] kyliel commented on #29586
I think this is fixed. See above PR.  Could we close this one? @yuwzho

[2018-01-22 09:14] kyliel commented on #31867
feature request. @zikalino , could you please take care of this feature? Thanks.

[2018-01-22 09:20] kyliel commented on #31237
@BipinXavier How can reproduce it? I did not see such an error.
@zikalino , could you please take a look? Why a module error throws out? If you cannot get a clue without steps to reproduce, please add need_info label.

[2018-01-22 09:22] kyliel commented on #33661
@zikalino , you met such an error before. Right?
@liamraemclauchlan-ibboost please check whether you install Ansible twice (under your user name and root)?

[2018-01-22 09:28] kyliel commented on #31023
Seems a feature request. @zikalino , could you please take a look?

[2018-01-22 09:34] kyliel commented on #34068
It seems the tag is not set correctly. Could you please try to tag one node through az resource tag and run inventory list again?
Below is an example:
az resource tag --tags hello=tag --id /subscriptions/<your subscription id>/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/myVM

ansible -i azure_rm.py hello -m ping

If your node can be identified, then need to see wheth

[2018-01-22 09:35] kyliel commented on #30393
@zikalino , could you please take a look this one?

[2018-01-22 09:36] kyliel commented on #30392
@zikalino , could you please take a look? Thanks.

[2018-01-22 09:40] kyliel commented on #30982
@parmstro Do you still have this issue? Thanks.

[2018-01-22 09:41] elaurijssens commented on #28392
I should be asleep by UTC 0:00, as I have to get up at UTC 5:00 to go to work (I'm on UTC+1).

We should keep in mind that Ansible is about idempotency, and although playbooks have the look and feel of scripts, modules certainly aren't. If I specify in a playbook that a certain Azure machine should be there, it should be created. If for some reason it can't be created, the state of the Azure subsc

[2018-01-22 09:42] kyliel commented on #34047
I am not sure I understand this request. @nitzmahone , let us discuss it in this week or next week IRC meeting.

[2018-01-22 09:45] kyliel commented on #31105
@nitzmahone could we discuss this one in this week/next week IRC meeting? Thanks.

[2018-01-22 09:46] liamraemclauchlan-ibboost commented on #33661
@4c74356b41 - tried that. No luck.

[2018-01-22 09:46] liamraemclauchlan-ibboost commented on #33661
@kyliel - this was a fresh machine image

[2018-01-22 09:48] kyliel commented on #28392
Thank you for comment. Let us see what dev experience is better. Add to the agenda to give you a response by end of next week.
The team here locate at UTC+8.

[2018-01-22 09:50] kyliel commented on #17727
packaging is requested.

[2018-01-22 09:51] matthiasbalke opened #35174 "Output SSH username for requested SSH password"
Ansible should output the SSH username it is requesting an SSH passwort for.

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows 10 (1607)
Ubuntu Bash for Windows
[code]

##### SUMMARY

Ansible should output the SSH username it is requesting an SSH passwort for.

When using Ansible in different projec

[2018-01-22 09:53] kyliel commented on #33943
There are some fixes for managed disk. https://github.com/ansible/ansible/pull/30450. Not sure it helps or not.

[2018-01-22 10:22] rajaramkd commented on #34389
any update here ?

[2018-01-22 10:52] ravibhure commented on #34811
@newsletter2go Thanks for reporting the issue. I update the PR (#35176)

@sivel looking to merge it soon.

[2018-01-22 10:58] Maslor commented on #19305
I'm still experiencing this bug on ansible 2.4.2.0

[2018-01-22 11:09] flaper87 commented on #29661
I've removed the dependency on `grpc` now. https://github.com/flaper87/pyhelm/issues/7

@pjanuario do you want to give `pyhelm` master a try? That'd be helpful before the release.

[2018-01-22 11:14] pjanuario commented on #29661
@flaper87 yes, I can do it right now, but I am bit noob with python, pip and eggs.. 🙃 Any instructions on how I can use the master directly would be helpful.... anyway i will try to find it now.

[2018-01-22 11:23] pjanuario commented on #29661
@flaper87 I might be doing something wrong but I tried the following and didnt work:

[code]

[2018-01-22 11:27] maziadi commented on #15713
The same bug with version 2.4.2.0
`RUNNING HANDLER [{{ service_id }} - Restart Nginx] ********************************************************************************************************************************
changed: [localhost]

PLAY RECAP ********************************************************************************************************************************************************

[2018-01-22 12:01] shajay12 commented on #22290
Hi Sivel, I am getting this error on AWX Tower UI. Please tell me the solution.
ERROR
Failed to read /api. GET status: 500 A server error has occurred.

[2018-01-22 12:02] oddergaard opened #35178 "Python 3.6 Truncate with Jinja2 not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I'm trying to use truncate in a Jinja2 template. Not working

[code]

Results in

[code]

##### STEPS TO REPRODUCE
Use the above code in any template on Python 3.6.

##### EXPECTED RESULTS
The playbook should run normally.

##### ACTUAL RESULTS
Sl

[2018-01-22 12:33] #34037 closed, assigned to nobody

[2018-01-22 12:39] #34119 closed, assigned to nobody

[2018-01-22 13:03] krzysztof-magosa commented on #33259
Also affected by this issue.
I'm generating DNS zones using inventory and it takes almost 15 minutes at the moment.
Tried to move logic from template to jinja filter plugin, but it does not help at all.
`hostvars[x]` is a culprit.

You can reproduce it with something like (I have ansible_host defined statically for all hosts):
[code]

It takes forever to complete.

[2018-01-22 13:18] jsumners commented on #18795
Unfortunately, no. I don't have the time to pull in PRs and put together an environment to test. But I don't see any reason that wouldn't solve the problem.

[2018-01-22 13:20] marinus81 commented on #35041
@rsmeyers  I opened a Cisco TAC case for this #683814655

@dagwieers Thanks, indeed this works - i did "repeat" `<infraInfra>` due to my initial tests with Postman where I created multiple `<cdpIfPol>` instances in the same Request (as I also did in the Postman examples above). If multiple `<cdpIfPol>` instances are created in one call, the APIC REST API requires `<infraInfra>`. Just for the sake

[2018-01-22 13:27] flaper87 commented on #29661
What distro are you using? You may need to install `libffi-dev` or `libffi-devel` depending on your distro. The real error is here: `c/_cffi_backend.c:15:17: fatal error: ffi.h: No such file or directory`

Check what package contains `ffi.h` and install that one. You may also need other devel packages.

Thanks for helping out :)

[2018-01-22 13:45] Rahul-CSI opened #35181 "Need gce_facts module to get Google instance information."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
!component

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[centos@localhost csi-ansible]$ ansible-config dump --only-changed
[centos@localhost csi-ansible]$

##### OS / ENVIRONMENT

##### SUMMARY
Currently we do not have a way to retrieve the info for a node.
If I wish to do some processing based on existing node info, like disks attached

[2018-01-22 14:13] machacekondra opened #35183 "Tasks aren't loaded when 'include_tasks' task is tagged"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When user uses tags and he tag a `include_tasks` task, this task isn't executed, but any other task, is executed.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[code]

This is regression f

[2018-01-22 14:14] machacekondra commented on #35183
@maorlipchuk

[2018-01-22 14:16] SaranrajMG commented on #35012
@Akasurde : Do you have any update on this? or if you required any details , please let me know.

[2018-01-22 14:25] privateip commented on #33635
@KamilBabayev i believe this issue has been fixed.  Would you be able to retest and verify it is working in the lastest source tree?

needs_info

[2018-01-22 14:30] calfonso commented on #32061
@kedarX can you please verify this is fixed. If it is, please update this issue and close it. Thanks!

[2018-01-22 14:34] nilloBE opened #35185 "aci_contract_subject_to_filter must support common tenant"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
aci_contract_subject_to_filter

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[root@ansible-server vars]# ansible-config dump --only-change
[root@ansible-server vars]#

##### OS / ENVIRONMENT
Ansible server running on CentOS 7.3, ACI running 3.1(1i).

##### SUMMARY
The aci_contract_subject_to_filter currently assigns a filter to a subject

[2018-01-22 14:34] nilloBE commented on #35185
CC: @dagwieers

[2018-01-22 14:38] calfonso commented on #31162
@os4mike if you want to test this out using the devel branch latest, you may see this issue is fixed. Let us know, if you can. Thanks!

[2018-01-22 14:45] calfonso commented on #28293
@rogerscuall are you able to retest this using Ansible 2.5? If it's still an issue, please let us know!

[2018-01-22 14:47] calfonso commented on #27815
@Kokozzi are you able to re-test this using the devel branch?

[2018-01-22 14:56] calfonso commented on #19586
Closing this issue due to inactivity. If the issue continues to occur, please re-open this issue. Thanks!

[2018-01-22 15:08] sivel commented on #35029
The copied file does indeed end up taking up all of the disk space, and does need to be transferred.

However, the ansible module (the python code) does not need to be transferred as a temporary file due to pipelining.

We never push files directly to their final location, always to a temp dir first, largely for the purpose of atomic writes, and a number of other edge cases.

[2018-01-22 15:10] gundalow commented on #31575
Nick will retest this and report back

[2018-01-22 15:19] dagwieers commented on #35185
@nilloBE You don't have to put me in cc everytime, @ansibot is there to do that ;-)

[2018-01-22 15:22] jmcgill298 commented on #35185
@nilloBE in my testing, the contract selection process chooses local tenant contract, and defaults to common tenant if contract does not exist in local tenant.

[2018-01-22 15:25] maxamillion commented on #35025
This is unfortunately not specifically a python thing but a YAML -> Jinja2 -> Python thing and there are *some* tricks to make it work but I've never tried them. See https://github.com/ansible/ansible/issues/4638#issuecomment-318423403 for an example of a way to template raw bytestrings. Generally I would not recommend shoving formatted source code into a YAML string, I think the lookup plugin is

[2018-01-22 15:26] sivel commented on #35174
Unfortunately I cannot see a reasonable way for this to work reliably.  In fact, I think it could make things more confusing if we were to do this.

Think of the example where you have supplied `-u` on the command line, but specified a different `ansible_user` in `group_vars/all`.  Or supplied various `ansible_user` values.  We would be indicating the value from `-u` but never using that during co

[2018-01-22 15:26] #35174 closed, assigned to nobody

[2018-01-22 15:29] sivel commented on #35178
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker, and let us explain our reasons for thinking this:

   * The `truncate` filter is provided by upstream jinja2, and is not maintained by ansible.

If you can sto

[2018-01-22 15:29] #35178 closed, assigned to nobody

[2018-01-22 15:31] ba47-development opened #35188 "ImportError: No module named"
Hello,

probably a very simple issue, but I don't find a helpful solution. So, hopefully you can point me in the right direction. Thanks in advance.

I've written a Python module **test_main.py** that imports another self written Python module **my_module.py**, like this:
[code]

I'm starting the playbook:

test-main.yml looks like this:
[code]

However, after start I the the error message, that t

[2018-01-22 15:32] sivel commented on #35188
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2018-01-22 15:32] #35188 closed, assigned to nobody

[2018-01-22 15:38] sivel commented on #35183
The problem is related to whether attributes should be merged down onto the tasks within an include.

For 2.4.3 we plan to restore this functionality, but have no plans of restoring it for 2.5:

See https://github.com/ansible/ansible/issues/35065 for more info.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://

[2018-01-22 15:38] #35183 closed, assigned to nobody

[2018-01-22 15:39] Akasurde commented on #33284
@cdelgehier Could you please paste your playbook ?

[2018-01-22 15:41] Voolkanus commented on #34927
@martydelaney3 Thanks for the answer! However, the weird part is that I don't have any packages under site-packages, only dist ones, and in there there is nothing even similar to what you have wrote :(
Is there a version for this drivers? Maybe I'm using an outdated one.
Also the only part I have found that has disks and ResourceNotFoundError exception together, actually just passes(line 4781).
`

[2018-01-22 15:42] xcambar commented on #18795
Okay then I'll put this on hold while the discussion is ongoing at #30318

Depending on the outcome, I'll point you to the right direction. Keep an eye on the PR!

[2018-01-22 15:43] xcambar commented on #29414
close_me

[2018-01-22 15:45] sivel commented on #35119
This can be accomplished by using `"{{ lookup('file', '/path/to/file') }}"` which mimics the same functionality that other modules recommend.

I'll however leave this open as a feature idea as there may be some reason why lookup won't suffice, where the file you are trying to use has non ascii characters that could cause trouble.

[2018-01-22 15:45] Akasurde commented on #32439
@Petro026 Could you please check with above patch ?

[2018-01-22 15:46] #32439 closed, assigned to Akasurde

[2018-01-22 15:50] #29414 closed, assigned to nobody

[2018-01-22 15:52] EpiqSty opened #35190 "proxied option from in cloudflare_dns module not working in the ansible 2.3.0.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudflare_dns

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
proxied option from in cloudflare_dns module not working in the ansible 2.3.0.0:

##### STEPS TO REPRODUCE

$ ansible -i ./hosts subdomain.domain.com.yaml

[code]
And one more thing - that should be existing DNS record.
e.g. for new DNS records desired pro

[2018-01-22 15:52] Akasurde commented on #32032
@ajithkt Could you please retry using latest vmware_guest version ?

[2018-01-22 15:53] Akasurde commented on #32032
@shajay12 [Documentation](http://docs.ansible.com/ansible/latest/vmware_guest_module.html#examples) provides examples of vmware_guest with VM template.

[2018-01-22 16:31] rdxmb commented on #14578
Just have the same problem with ansible 2.4.2.0
crosspost: https://groups.google.com/forum/#!topic/ansible-project/3QAyaWWg3Q8

[2018-01-22 16:37] Akasurde commented on #19593
@troxil Could you please retry using `vmware_guest` module ? The mentioned features are available.

needs_info

[2018-01-22 16:46] zatarra opened #35192 "Porting code to stop using bare variables leads to "Unexpected Exception: coercing to Unicode: need string or buffer, AnsibleUndefinedVariable found""
I've search the issues list but couldn't find an exact one. This seems so easy to hit that I'm either not using Ansible as it should or it was probably already discussed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
It's an include task.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CENTOS7

##### SUMMARY
I've been given some outdated playbooks that I'm trying

[2018-01-22 17:14] nilloBE commented on #35185
@jmcgill298 yes, but the point here is not about the contract, but about the filter. If contract exists in tenant, we select that contract. but then how do we specify a filter from common tenant?
- contract in tenant 'pepsi'
- filter in tenant 'common'

This allows sharing a filter for multiple contracts regardless of tenants. At the moment I do not see how to configure that with this module.

[2018-01-22 17:33] andreaso commented on #35190
I can confirm seeing this behavior using Ansible 2.5 (devel) as well.

Except that I can only reproduce it under _some_ circumstances, which I have yet to reliable determine.

[2018-01-22 17:42] #28159 closed, assigned to nobody

[2018-01-22 18:42] shajay12 commented on #32032
Yes, Abhijeet, i will try with latest vmware_guest and inform you.

Thanks & Regards,
Ajay Sharma,

On Jan 22, 2018 9:24 PM, "Abhijeet Kasurde" <notifications@github.com>
wrote:

@shajay12 <https://github.com/shajay12> Documentation
<http://docs.ansible.com/ansible/latest/vmware_guest_module.html#examples>
provides examples of vmware_guest with VM template.

—
You are receiving this because you we

[2018-01-22 19:19] dagwieers commented on #35041
@marinus81 The assumption being that there are no other objects returned, for other reasons. For example, if there's an error, you get a totalCount > 0 with one or more error messages returned. That's one way additional items are being returned, and maybe there are other (future) changes to this that fulfill the referenced documentation.

So to repeat, our implementation relies on 2 documented beh

[2018-01-22 19:40] IPvSean opened #35195 "meta module not working with refresh_inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
meta

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
nothing changed

##### OS / ENVIRONMENT
[code]
##### SUMMARY
The [meta module](http://docs.ansible.com/ansible/latest/meta_module.html) does not seem to refresh the inventory within a role/play using the `refresh_inventory`.  I am unable to use hosts from add_host until I am onto the

[2018-01-22 19:41] sgtpanic commented on #35119
@sivel Thank you for the info. I'll try that pattern and I expect that it should work for me.

[2018-01-22 19:58] rsmeyers commented on #35041
@marinus81 I'm working with the current case-owner on this. We will keep you closely updated.

[2018-01-22 19:58] IPvSean commented on #35195
tagging hero @bcoca

[2018-01-22 20:16] sivel commented on #35192
Based on the fact that it works in newer versions, would seem to indicate that it was indeed a bug, that has since been fixed in newer versions.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-01-22 20:16] #35192 closed, assigned to nobody

[2018-01-22 20:25] dhartford opened #35198 "maven_artifact enable 'proxymode' or similar feature"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
maven_artifact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Current state is the maven_artifact will execute the download from a maven repository (artifactory/nexus/ivy/etc) from the target server instead of from the ansible control server (or ansible tower server).

Desired feature request is a mod

[2018-01-22 20:33] sivel commented on #35195
There seems to be a few things happening here.  The `refresh_inventory` is purposefully emptying the cache which removes the dynamically added hosts, and refreshing inventory from the inventory source.

It also appears as though your `with_items` syntax is a little off.

`with_items` now requires jinja2 delimiters for variables, such as:

[code]

I think what you need is to remove the `refresh_inv

[2018-01-22 20:42] tumbl3w33d commented on #35198
I also use the module like that by wrapping it within a role which does what you described.

1. download locally
2. upload to remote
3. delete temporary local artifact

The motivation usually is that your target remote server has no direct access to your artifact repository.

I agree that it would be nice to have such sugar shortcut, however, it's far from urgent and I'd prefer a generic approach

[2018-01-22 20:43] abadger commented on #35089
This is not at all the same problem as #31125 as that one is about pipelining not turning on and this one is about needing a temporary file when running with pipelining enabled.

Could you show me the playbook that you are executing and the output of running ansible-playbook with -vvvv?

[2018-01-22 20:52] NZSmartie commented on #35030
I'll be happy to provide a PR to resolve this, provided that feedback is given on the proposals above.

[2018-01-22 21:25] cdelgehier commented on #33284
https://github.com/ansible/ansible/issues/33760#issue-280931491 you find it here

[2018-01-22 21:48] #30962 closed, assigned to nobody

[2018-01-22 21:56] th3morg commented on #5675
How about using "ls | grep '.jar'" instead?

[2018-01-22 22:12] #30878 closed, assigned to alikins

[2018-01-22 22:34] #25476 closed, assigned to jborean93

[2018-01-22 22:34] LukeDRussell opened #35204 "ios_config to add optional parameter `state:` [ present | absent ]"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

NA

##### SUMMARY

It would be great if ios_config could be used to ensure a config line is *not* present, in an idempotent fashion. Presently we just send a list of `no ...` configs or commands to IOS, but this always returns a modified flag. I typic

[2018-01-22 22:46] #26776 closed, assigned to nobody

[2018-01-23 00:27] #34956 closed, assigned to nobody

[2018-01-23 00:32] Mixer9 commented on #35025
Yeah I think your right, thanks for all your help.

On Jan 22, 2018 9:26 AM, "Adam Miller" <notifications@github.com> wrote:

[2018-01-23 00:55] cameronurnes commented on #30780
I would expect the module to work with the minimum required git version Ansible allows, not the minimum version your specific change requires.   Either the minimum version of git needs to be updated, or the change is a regression which was merged too soon, and needs to wait.

A new fix should not break older functionality unintentionally.  I know the root cause is the lack of exit-code option on o

[2018-01-23 02:33] justinsousa commented on #9442
Using vagrant VMs, loading my GitHub key into the ssh agent on the Mac with forward agent set in the vagrant file and transport set to smart, I couldn't seem to get this to work. The problem was definitely ansible though as the forwarding was working via vagrant (if I ssh'd to the vagrant vm and ran the test ssh -T git@github.com, I was authenticated).

The settings that enabled auth with GitHub a

[2018-01-23 03:32] coltsixshooter commented on #33156
Not sure, but will test and try to fix if broken.

On Fri, Jan 19, 2018 at 10:26 PM, NoOne <notifications@github.com> wrote:

[2018-01-23 03:34] #35058 closed, assigned to trishnaguha

[2018-01-23 05:17] 1NoOne1 commented on #33156
Yeah it’s not working if I have a data store clusters. And as I said it’s not working across different clusters

[2018-01-23 05:18] 1NoOne1 commented on #33156
If you could able to look into it and fix the issue that would be great full.

[2018-01-23 05:23] yuwzho commented on #32143
duplicate_of 25492

[2018-01-23 05:30] yuwzho commented on #21825
resolved_by_pr 28391

[2018-01-23 05:31] yuwzho commented on #30142
resolved_by_pr 32711

[2018-01-23 05:31] yuwzho commented on #30218
resolved_by_pr 328

[2018-01-23 05:31] yuwzho commented on #29586
resolved_by_pr 33330

[2018-01-23 06:27] yuwzho commented on #17925
bug_resolved

[2018-01-23 06:32] #17925 closed, assigned to nobody

[2018-01-23 06:32] shajay12 commented on #32032
Hi Akasurde and Abhijeet,

I am getting this error on running the yml file for creating vm from template. At the end there is the yml file attached.

[root@OSIANSIBLEIND instance]# ansible-playbook -vvvv vm.yml --check
ansible-playbook 2.4.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansi

[2018-01-23 06:51] Akasurde commented on #32032
@shajay12 I guess you are trying to run role yaml as playbook.

Correct yaml file for a standalone role for deploying VM using template is something like this

[code]

[2018-01-23 06:59] shajay12 commented on #32032
Abhijeet, sorry but again i am getting this error

[root@OSIANSIBLEIND instance]# ansible-playbook -vvvv vm.yaml --check
ansible-playbook 2.4.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules',
u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.6/site-packages/ansible
  executable location = /usr

[2018-01-23 07:00] shajay12 commented on #32032
Sorry Akasurde, by mistake i wrote abhijeet.

[2018-01-23 07:03] RealFlachmann commented on #35188
It is unsupported to call to write own code? That's not following the documentation.

[2018-01-23 07:10] Akasurde commented on #32032
@shajay12 This issue is fixed in 2.5 version, you are using 2.4.1. If you want to use Ansible 2.4.1 version then upgrade to Python 2.7.9 version (current is Python 2.6.6)

Also, can you ping me on #ansible-vmware channel so that we can talk there, my IRC nick in @akasurde ?

[2018-01-23 07:37] snakelab commented on #24136
+1

[2018-01-23 07:40] shajay12 commented on #32032
Ok I am upgrading the Python and Ansible both.

On Tue, Jan 23, 2018 at 12:41 PM, Abhijeet Kasurde <notifications@github.com

[2018-01-23 07:53] shajay12 commented on #32032
Hi Akasurde <https://github.com/Akasurde>Please send me the link, where i
can ping you.

On Tue, Jan 23, 2018 at 1:10 PM, Ajay Sharma <sh.ajay12@gmail.com> wrote:

[2018-01-23 08:06] Akasurde commented on #32032
Please join #ansible-vmware channel on `https://webchat.freenode.net/`

[2018-01-23 08:19] yuwzho commented on #34913
I m working on this issue!

[2018-01-23 09:06] ghost opened #35217 "ansible-galaxy install ignores -p switch when roles_path is configured"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

[code]

##### CONFIGURATION

[code]

* **NOTE**: `roles_path` is configured to: `../:../../:../roles:roles/`

##### OS / ENVIRONMENT

N/A

##### SUMMARY

ansible-galaxy install ignores command line switch `-p` (`--roles-path`) if `roles_path` is configured via ansible.cfg. ansible-galaxy install k

[2018-01-23 09:48] shajay12 commented on #32032
Yes i am connecting to it now.

On Tue, Jan 23, 2018 at 1:36 PM, Abhijeet Kasurde <notifications@github.com>
wrote:

[2018-01-23 10:06] Akasurde commented on #22788
resolved_by_pr #35215

[2018-01-23 10:12] benweizhu commented on #20492
[code]
**Still have the issue**

"msg": "Failed to import docker-py - No module named docker. Try `pip install docker-py`"

[code]
http://docs.ansible.com/ansible/latest/guide_docker.html

As get started with docker mentioned need to
pip install 'docker-py>=1.7.0'

The docker_service module also requires docker-compose
pip install 'docker-compose>=1.7.0' as I need

[2018-01-23 10:18] EpiqSty commented on #35190
Ok, thanks in advance!

[2018-01-23 10:41] zakabluk commented on #35089
Hi! Thank you for your answer.

No problems. In attach my playbook with roles.

This`s print from a /tmp/ directory.

[andrei_zakabluk@epam.com@ecsc00a012d4 tmp]$ ll
total 44
drwx------ 2 andrei_zakabluk@epam.com users       4096 Jan 23 13:09 ansible-tmp-1516427474.23-114974269333006
drwx------ 2 andrei_zakabluk@epam.com users       4096 Jan 23 13:31 ansible-tmp-1516428948.76-248002887908691
-rw--

[2018-01-23 11:14] diegoitaliait opened #35219 "Exec format error in "/etc/ansible/facts.d/network_interface_mapping.fact" > shebang bash wrong"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
**setup**

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
os:  Red Hat Enterprise Linux Server release 7.3 (Maipo)
uname -a: Linux RD-CONINT-AS02 3.10.0-514.6.1.el7.x86_64 #1 SMP Sat Dec 10 11:15:38 EST 2016 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
After install ansible, when a task *setup* is called a fatal error arise

##### STEPS

[2018-01-23 11:53] gundalow commented on #35084
@vinzenz I agree with your statement. As part of the 2.5 docs work we will be linking back from the individual modules to some overview pages. I'll leave this issue open so we ensure this particular case is covered by that work, as well as to get your feedback on the changes.

[2018-01-23 12:16] duck-rh commented on #34269
Thanks @pilou- I used this workaround for another situation where it was possible to change the logic.

Also in this new situation, which is almost identical, `role1` is called as play's `roles:` and consequences are the same.

[2018-01-23 12:18] kokarn commented on #31576
I might also be affected by this.
A completely clean machine, just trying to open up SMB.
[code]
Results in `Value does not fall within the expected range.`
I've tried both with the bare minimum ( name, action & direction ) and with as many options as possible. All fail with the same message.

Notable is that other rules work, such as
[code]

Ansible 2.4.2.0 running from OSX.
Target is Windows ser

[2018-01-23 12:20] ymartin59 commented on #29201
I would like to implement such a check like `ansible_lvm['vgs']['vg1']['free_g']` but testing LV current size. Is there any documentation about this `ansible_lvm` variable structure/content ?

[2018-01-23 12:28] ymartin59 commented on #29194
Module [lvol](http://docs.ansible.com/ansible/latest/lvol_module.html) supports `opts` but is restricted to `lvcreate` according to documentation. I would expect these options to also be passed to `lvextend`, for instance for `opts: --resizefs`

[2018-01-23 12:31] duck-rh commented on #34269
So I made a mistake and changed s/include_role/import_role/, which did not change anything. s/include_tasks/import_tasks/ as suggested by @pilou- works but I've got too many to replace in various related roles to use this workaround in the end.

@bcoca could you have a look please?

[2018-01-23 13:21] s-hertel commented on #35034
Fixed in d0a257efadaad30b064feea0aa9cc8c577ea360c.

[2018-01-23 13:21] #35034 closed, assigned to nobody

[2018-01-23 13:56] GBT opened #35223 "Issue when creating Azure blob container within Azure China Cloud"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Cloud Azure (azure_rm_storageblob)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing changed

##### OS / ENVIRONMENT
N/A
##### SUMMARY
We are using the module azure_rm_storageblob to create a container within a blob storage.
The module use ".blob.core.windows.net" for domain name  instead of ".blob.core.chinacloudapi.cn" when
**cloud_en

[2018-01-23 14:06] cazorla19 opened #35224 "cloudwatchevent_rule: module breaks when trying to put Jinja2 variables to "input" parameter"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

bug found in module `cloudwatchevent_rule`, but it seems to be the problem in core.

component `lib/ansible/modules/cloud/amazon/cloudwatchevent_rule.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing in output of `ansible-config dump --only-changed`

##### OS / ENVIRONMENT

N/A (not platform-specific)

##### SUMMARY

`cloudwatcheve

[2018-01-23 14:14] maxamillion commented on #35025
Anytime, happy to help!

[2018-01-23 14:14] #35025 closed, assigned to maxamillion

[2018-01-23 14:14] #34929 closed, assigned to nobody

[2018-01-23 14:17] redbaron commented on #5675
@th3morg  , thanks for you advice, I think @philipnorton42  can finally close last remaining issue from Jan 2014 sprint

[2018-01-23 14:23] cazorla19 commented on #35224
!component=lib/ansible/modules/cloud/amazon/cloudwatchevent_rule.py

[2018-01-23 14:23] #25466 closed, assigned to jborean93

[2018-01-23 14:35] Akasurde commented on #34929
@cvanniekerk Thanks for the contribution.

[2018-01-23 14:37] cvanniekerk commented on #34929
@Akasurde A pleasure and thanks for your quick responses and feedback!

[2018-01-23 14:41] lelight opened #35227 "Unable to use variable inside the json body of ansible script."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT
!component =/lib/ansible/modules/net_tools/basics/uri.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running from: Ubuntu 16.04
The managed Machine: Centos 6.9

##### PROBLEM
My goal is to create a search filter in kibana using curl request. I tried to include the hostname variable inside the json body as show

[2018-01-23 14:50] ramonamis opened #35228 "elb_target_group module does not support "traffic-port" as value for health_check_port (aws cli does)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
elb_target_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When creating a target group for the new load balancers, I can not specify traffic-port as a value for the healthcheck port.

##### STEPS TO REPRODUCE

[code]

Ansible error:
[code]
This works on the aws cli
[code]

##### EXP

[2018-01-23 15:02] Akasurde commented on #22788
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-01-23 15:02] #22788 closed, assigned to nobody

[2018-01-23 15:02] akamalov commented on #34068
Thanks for your prompt reply @kyliel . Yes, it does look like the problem with tagging. For some reason, tags are not being properly translated when deployed. When manually applied, tags azure_rm.py is working properly. Thank you very much indeed for your help.

[2018-01-23 15:02] #34068 closed, assigned to nobody

[2018-01-23 15:11] L-B opened #35231 "service module does not restart multipathd"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

From: CentOS 7.4
Target: RHEL6.9

##### SUMMARY

There is a handler to restart multipathd when its configuration is modified.
According to the output, the handler is run successfully, however, the process start time shows it was not actually restarted.
Running

[2018-01-23 15:21] trishnaguha commented on #31162
resolved_by_pr https://github.com/ansible/ansible/pull/35232

[2018-01-23 15:27] IPvSean opened #35233 "document tx_rate and rx_rate operator for network modules"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
eos_interface
ios_interface
junos_interface
vyos_interface
nxos_interface
iosxr_interface

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
We have documented on the ios_interface page that you can do ge() and le() for tx_rate and rx_rate here: https://docs.ansible.com/ansible/2.4/ios_interf

[2018-01-23 15:32] maxamillion commented on #35219
It looks as though the error is coming from an extra facts script found at `/etc/ansible/facts.d/network_interface_mapping.fact` which is not part of Ansible itself.

Can you provide more information about that script and attempt to run it locally, providing the output?

[2018-01-23 15:40] alikins commented on #31007
The requirement in #30725 (pkg_mgr fact collector required the platform and distribution facts) has been removed by add an OpenBSDPkgMgrCollector that is chosen at runtime. Since the new collector is for openbsd only, it doesn't need the platform/distribution facts anymore.

[2018-01-23 15:45] rogerscuall commented on #28293
Hi @calfonso, how can I install version 2.5, I did a search on it and I did not find how.

[2018-01-23 15:56] calfonso commented on #28293
@rogerscuall My apologies for the confusion, I shouldn't have said Ansible 2.5, I should have said the devel branch of the Ansible project.

needs_info

[2018-01-23 16:06] gundalow commented on #35233
We have http://docs.ansible.com/ansible/devel/network_working_with_command_output.html though currently that isn't

1) network_working_with_command_output.html will be linked from the new `intro_network` page (which is being worked on for 2.5)
2) Sure can link from modules, from which?

Similar is done in http://docs.ansible.com/ansible/latest/ec2_module.html (look at the comments column)

We coul

[2018-01-23 16:35] liyaka opened #35235 "azure_rm_virtualmachine fails to add tags to existing vm"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]
Azure modules:
[code]
##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Running ansible playbook that suppose to add tag to existing vm and get this error:
[code]

##### STEPS TO REPRODUCE
My ansible code:
[code]
The VM exists in the correct resource group, other

[2018-01-23 16:52] #33398 closed, assigned to nobody

[2018-01-23 16:54] alikins opened #35237 "Move module_utils to top level name (lib/ansible/module_utils -> lib/ansible_module_utils and )"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### SUMMARY

At some point in the future...

Move module_utils to it's own top level dir.

ansible.module_utils.basic -> ansible_module_utils.basic

###### why?

module_utils is the runtime for modules and to some degree, the module SDK.

* code in module_utils/* can't and shouldn't use code from the ansible

[2018-01-23 16:58] sivel commented on #35237
We have previously decided that this is acceptable.  To change this would require some other 3rd directory that both modules and core could use, and I'm not sure that is worth it.

[2018-01-23 17:06] IPvSean commented on #35195
changed the playbook to->

[code]

the results now are what I expect... except the localhost doesn't show... but I think that is just a result of how localhost works...

so unfortunately this doesn't fix my issue... in my REAL playbook (not this simplified one) I add_host based on ec2 module output, then I do a wait_for_connection module... but it just fails with

[code]

let me see if I can simpl

[2018-01-23 17:16] spidernik84 commented on #34896
This would be brilliant!
@nilloBE have you found a workaround? I suppose either the source for the module needs to be changed or the aci_rest module has to be used instead.

[2018-01-23 17:25] geoffreywiseman commented on #29795
Adding to what's been said already, this is frustrating because:
- You need to dig out the mysql password from the log file
- The password is expired, and you have to change it
- `mysql_user` doesn't seem to allow changing expired passwords

This can all be worked around, but it's pretty painful, and could be made much easier with module support for this particular problem.

[2018-01-23 17:36] mvorisek opened #35238 "win_chocolatey - args. quotes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
2.4.2.0

##### SUMMARY
A single double quotes are ignored:
[code]

A working workaround is:
[code]

This seems like a bug as single double quotes are ignored (checked against chocolatey log), but they should be probably double somewhere in the module.

[2018-01-23 17:36] abadger commented on #25242
We've talked about this today with the understanding that force: True is necessary in order to avoid hanging in the module.  For 2.5 we'll document that the apt module is using force: True which installs packages from unverified sources.  We'll take a closer look at whether a fix is possible but cannot offer a guess as to the results of that without doing more research.

[2018-01-23 17:38] alikins commented on #30489
Assuming bundling nir0s/distro is an option, I think that would be my preference over implementing platform.dist() analogs ourselves.

Plus, once we depend on nir0s/distro we may be able to further simplify some of our existing platform/distribution collection tools (ie, module_utils/facts/system/distribution.py etc)

[2018-01-23 17:40] sivel commented on #35195
In that output, it looks like it is attempting to use a group name `control_nodes` as a hostname:

[code]

Without seeing more of the "REAL" playbook, I'm not sure.  I'd probably have something like:

[code]

As for `refresh_inventory`, I'm guessing you are referencing the fact that it clears the cache which includes hosts added via `add_host` or `group_by`.  In which case, additional docs would l

[2018-01-23 17:47] robinro commented on #30780
@cameronurnes I believe it should be possible to correctly handle your usecase as well as the the one originally fixed in #15537 with the old git version. Therefore I'm against rolling back the fix (which is in devel since quite some time now).
In general I don't think it's an option to "wait" for new git versions, since some users want all bleeding edge features, while others rely on long-term su

[2018-01-23 17:54] mvorisek commented on #35238
Try typical command line usage is this (source https://chocolatey.org/packages/php ):
--params '"/ThreadSafe ""/InstallDir:C:\PHP"""'

So this module should double all double quotes and wrap the result in double quotes.

[2018-01-23 17:56] robinro commented on #30034
@iprok This issue has not seen any activity since 2015. Implementing this might be fairly straight forward, by just passing `--seperate-git-dir` to all git commands. Would you be interesting in implementing this and opening a PR? I could review it and help along.

[2018-01-23 17:57] #32690 closed, assigned to nobody

[2018-01-23 18:03] s-hertel commented on #21566
@wangycc Sorry, notifications for closed issues often slip through the cracks. Using ec2_url as a workaround won't work on 2.4 for ec2_vpc_net because as you noticed, it checks for region and doesn't take the ec2_url parameter. I ported that module to boto3 for 2.5 and removed the check for region and ec2_url is now working correctly for me. If you need this fix now, you can override 2.4's ec2_vpc

[2018-01-23 18:34] mvorisek commented on #35238
Chocolatey design, closing...

[2018-01-23 19:16] #28909 closed, assigned to nobody

[2018-01-23 19:29] rmb938 opened #35243 "Github Release Asset"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
github_release

##### ANSIBLE VERSION
[code]

##### SUMMARY

It would be very useful if the github_release release module can upload release assets. Currently this needs to be done outside of ansible or using the shell module.

[2018-01-23 19:58] indispeq commented on #31239
I have the same issue in 2.4.2.0 @dj-wasabi did you find a solution?

[2018-01-23 20:19] slickvoodoo commented on #18305
Having similar issue with yum module on 2.5.0. Any workaround?

[2018-01-23 20:31] #32684 closed, assigned to nobody

[2018-01-23 20:59] maxamillion commented on #35224
I'm pretty sure this is the same issue explained here by @sivel about Ansible having to guess at the data type provided by jinja2. https://github.com/ansible/ansible/issues/34595#issuecomment-356091161

As noted in that comment, Ansible developers have submitted a fix upstream to jinja2 and we should see the problem resolved in a future jinja2 release.

[2018-01-23 21:14] kmasaryk commented on #29874
👍

From the [AWS ASG documentation](https://docs.aws.amazon.com/autoscaling/ec2/userguide/AutoScalingGroup.html):

[2018-01-23 21:19] abadger commented on #33047
Talked about this in slack.   ganeshrn did more testing and will add a comment to display cross-referencing this code so we know to change both in tandem when it's refactored later.  +1 from me to merge.

[2018-01-23 21:29] saichint opened #35246 "nxos_pim_rp_address issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_pim_rp_address
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I5(2)
##### SUMMARY

There are multiple issues with nxos_pim_rp_address
1. Currently we can add a new pim rp_address with group_list. However, the platform allows adding pim rp_address without group_list, IN ADDITI

[2018-01-23 21:35] maxamillion commented on #35231
@L-B can you provide more context around what playbook is triggering the handler? Also can you include the output of the resulting ansible run with some more verbosity? `-vvvvv`?

Thank you.

[2018-01-23 21:40] ghjm commented on #30877
In addition to Alan's concern about memory efficiency, the big issue here for Tower / AWX is that in the UI and API prior to running a playbook, we actually do need to distinguish between host vars and group vars. If you have a group var defined, it makes no sense for Tower to display it as a host var on each of your 10,000 hosts, and have an empty "group vars" section in the UI that never gets po

[2018-01-23 22:01] xcambar commented on #33555
Hey there.
Can you retry your playbook by replacing `dest: ~/project` with the explicit `dest: /home/test/project`, please?

I've already noticed before some issues with path expansions, I'd prefer to get rid of this possibility.

Second attempt: run your playbook against the latest `devel` branch of ansible. #26582 has been merged, so if you've been hit by the same behavior, it will be fixed in `

[2018-01-23 22:10] cmsj commented on #26351
FWIW I am running into this bug when using OpenZFS on Linux, but I'm new to zfs. Perhaps they recently removed -o ?

[2018-01-23 22:11] hvindin commented on #35029
Makes sense to me.

As a temporary workaround I've set the following:

[code]

on all the tasks that are copying big files (there are only a few in my use case, and it's just to work around weird firewalling things preventing access to the original host, so not such a big change) and I've needed to update the remote tmp directory to a directory we are setting up before we start these tasks as /tmp

[2018-01-23 22:15] thinkmassive commented on #35065
@kiorky if you need attributes to be inherited then you can use static includes (`import_*`)

[2018-01-23 22:16] cmrd-senya commented on #30034
@robinro, I work together with @iprok and we decided to work on a solution for this issue. I'll have a look at it first and I'll ask you questions if I have any. Thanks!

[2018-01-23 22:21] grassyknolling commented on #34196
To expand on the workarounds from @ocervell, if you want to execute only a subset of tasks from a role then you would need to use a different tag on the role...

**roles/common/tasks/main.yml**
[code]
**play.yml**
[code]
**command**
[code]
...otherwise you will always include or skip all included tasks.

[2018-01-23 22:31] ericwb commented on #34733
Is the author interested in creating a pull request?  I think that might be a good way to get this feature moving along.  I also see value in it.

[2018-01-23 22:39] bengerman13 opened #35253 "Ansible galaxy ignores -p/--roles-path if role installed in default location"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
If a role has been installed in the default role path, it cannot be installed in another path using -p or --roles-path

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
jdauphant.nginx should be installed in `~/test` and

[2018-01-23 22:53] velotraveler opened #35254 "inventory string variables can get converted to lists"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
no settings changes from default

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 6.6 (Santiago)

##### SUMMARY
Host-specific variables in inventory that are specified as quoted strings can get turned into lists

##### STEPS TO REPRODUCE
$ cat inventory
[testers]
test1

[2018-01-23 22:57] dekimsey opened #35255 "Empty groups trip "could not match supplied host pattern" warning"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

The new 2.4 [warning](https://github.com/ansible/ansible/blob/devel/lib/ansible/inventory/manager.py#L545) on misspelled groups is quite noisy. There is no distinction made between an empty group and a misspelled one. Having ansible generate

[2018-01-23 22:58] velotraveler commented on #35254
Workaround:

[code]

[2018-01-23 23:03] hemna opened #35256 "Fail when doesn't seem to work properly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
fail

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

##### SUMMARY
fail: when doesn't work.  Fail shouldn't fail when the condition of the when clause isn't met.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-01-23 23:11] bkrubnzi commented on #33642
I used `ec2-instance-facts` as suggested:
`
  - ec2_instance_facts:
      filters:
        "tag:Name": "{{ role1_instance_name }}"
        "tag:Space": "{{ Space }}"
        "instance-state-name": "running"
    register: found

  - name: Create the coordinate host group
    add_host: hostname={{ item.private_ip_address }} groupname=role1_nodes
    with_items: "{{ found.instances }}"
    when: foun

[2018-01-24 01:40] kiorky commented on #35065
@thinkmassive if i'm using include, it's for a reason, import wont work in our case.

[2018-01-24 01:42] kiorky commented on #35065
Im not speaking about *when, or tags where it is totally understable that it only applies on the task itself and do not the merge down, but only for ``become`` which is really special in term of UX (https://github.com/ansible/ansible/issues/35065#issuecomment-359189886).

[2018-01-24 01:52] sgtpanic commented on #35119
I was able to use `lookup` for nearly everything but I do have JKSs that I would like to add as secrets and they are binary files. I tried to add them earlier today but was unsuccessful. I'm willing to contribute an update if it is something that the project would like to add. @sivel do you have any advice? Thanks again.

[2018-01-24 03:53] abadger commented on #35065
@kiorky, could you test that the current head of stable-2.4 is working?  jimi will have to be the one to evaluate whether this is going to remain the behaviour in 2.5+ but hopefully the just merged, #35247 will change the behaviour back for 2.4.3.

[2018-01-24 04:57] #31684 closed, assigned to nobody

[2018-01-24 05:09] #31162 closed, assigned to trishnaguha

[2018-01-24 05:47] ganeshrn opened #35261 "Sending non-ascii characters using display.debug() fails with LC_ALL=C"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`lib/ansible/utils/display.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
[code]
##### SUMMARY

##### STEPS TO REPRODUCE

1) Add a debug log which has non ascii characters eg:
[code]
2) Activate python3 environment
[code]
3) Run debug task
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

Wo

[2018-01-24 06:18] #35246 closed, assigned to nobody

[2018-01-24 07:39] xcambar commented on #22349
clos_me

[2018-01-24 07:39] xcambar commented on #22349
close_me

[2018-01-24 07:44] #22349 closed, assigned to nobody

[2018-01-24 08:32] dagwieers commented on #34896
@nilloBE @spidernik84 It would speed up the implementation if XML or JSON fragments are added so we know exactly what we need to do for this to work. Not all of us are ACI experts (I know I am not ;-)).

[2018-01-24 08:41] cnasten opened #35264 "nso_config fails to set nested list in one transaction with NSO 4.5.2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nso_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian GNU/Linux Buster controlling NSO 4.5.2

##### SUMMARY
Creating configuration for nested lists will fail when checking for existence on the child list due to changed behavior of the exists call in NSO.

##### STEPS TO REPRODUCE
Use the provided YAM

[2018-01-24 08:44] dagwieers commented on #34896
Please test this new functionality from #35265

[2018-01-24 08:48] Rahul-CSI opened #35266 "gce_snapshot module fails to create snapshot."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gce_snapshot

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[centos@localhost ~]$ ansible-config dump --only-changed
[centos@localhost ~]$

##### OS / ENVIRONMENT
[centos@localhost ~]$ cat /etc/redhat-release
CentOS Linux release 7.4.1708 (Core)
[centos@localhost ~]$ uname -a
Linux localhost.localdomain 3.10.0-693.2.2.el7.x86_64 #1 SMP Tue S

[2018-01-24 09:06] dagwieers commented on #35256
You have `when:` wrongly indented, it is not a parameter to the module, but instead a directive to your task.
So you have to do:
[code]

The devil is in the details.

[2018-01-24 09:06] #35256 closed, assigned to nobody

[2018-01-24 09:14] tiraboschi opened #35268 "ovirt: ovirt_vms: unable to set a custom priority creating a VM"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_vms

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing special

##### OS / ENVIRONMENT
Centos 7.4, oVirt engine 4.2

##### SUMMARY
In the oVirt engine API model, in the vm struct ( http://ovirt.github.io/ovirt-engine-api-model/4.2/#types/vm ) high_availability is of type HighAvailability struct which contains enabled (boolean) and

[2018-01-24 09:19] cityofships commented on #29410
+1

[2018-01-24 09:38] quinot opened #35270 "Wrong exception raised on templating error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_MODULE_PATH(env: ANSIBLE_LIBRARY) = [u'/home/quinot/projects/ansible/lib/ansible/modules']

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When an exception is raised while processing a template, the code to annotate it with indications of the context where the exception occurred m

[2018-01-24 09:51] danieltrautmann commented on #32636
Same here using Ansible 2.4.2.0.

**Task Definition**

[code]

**Output with -vvv**

[code]

**Ansible Config**

[code]

This also happens on another host with a similar task definition (only the path is different).

Ansible is running over SSH on some local virtual machines.

[2018-01-24 10:01] L-B commented on #35231
Sure: I've put the relevant bits in a small role that shows the issue, it upgrades /etc/multipath.conf, which triggers 3 handlers to restart multipath, sshd (as a test) and run dracut.
After running it, multipath.conf is updated, sshd is restarted, initramfs is updated, but multipathd is still the same old process.
Attaching it and its verbose run output.
[role_multipath.tar.gz](https://github.com

[2018-01-24 10:05] barrybingo opened #35272 "Goodbye Ursula"
"You remember the ansible, the machine I showed you in the ship, which can speak instantly to other worlds, with no loss of years — it was that that they were after, I expect."

[2018-01-24 10:06] progz commented on #34536
Since the date for Community Module Freeze is 7 February 2018, is this feature idea will be in ansible 2.5 ?

[2018-01-24 10:10] nilloBE commented on #34896
@spidernik84 if you can test the new functionality added it would be the best. In absence of it, if you are using the module from 2.4, you have to use aci_rest. :-)

[2018-01-24 10:34] danieltrautmann commented on #32636
Maybe I found the cause for this issue.

In another task (runs later), I'm writing a file into this directory with different permissions:

[code]

I also wondered why this task always reports that it changed. When running with `-vvv` the diff tells me that the permissions have changed:

[code]

So I assume that the task for creating the directory will also set the permissions of the file inside to

[2018-01-24 10:48] FirassKoubaa commented on #27960
same problem for ; therfore , i don't want to remove the container , and also i m not used to recreate it , i want just stop it ,

[2018-01-24 11:19] rdxmb opened #35274 "template module failes with "Failed to get information on remote file ""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module: template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION ansible.cfg
[code]

##### OS / ENVIRONMENT
local: Ubuntu 17.10 / Alpine 3.6 (problems exists with both environments)
remote: Ubuntu 16.04 TLS

##### SUMMARY
On one host the task with the template module fails with
`"msg": "Failed to get information on remote file`

##### STEPS T

[2018-01-24 11:21] #35264 closed, assigned to nobody

[2018-01-24 11:21] #34985 closed, assigned to nobody

[2018-01-24 11:25] rdxmb commented on #14578
Just created a new issue as required with  https://github.com/ansible/ansible/issues/14578#issuecomment-346205752

https://github.com/ansible/ansible/issues/14578https://github.com/ansible/ansible/issues/35274
--

[2018-01-24 11:28] spidernik84 commented on #34896
Tested, works wonderfully! Thank you SO much, quickest fix evah :D

[2018-01-24 11:36] gundalow commented on #35272
I know the entire Ansible family is sad about Ms. Le Guin's passing. Thank you for our namesake and for fueling all of our imaginations.

[2018-01-24 11:36] #35272 closed, assigned to nobody

[2018-01-24 11:50] rdxmb commented on #35274
if you need any further information, please let me know

[2018-01-24 13:02] JonTheNiceGuy commented on #34687
Anything I can do to help progress this?

[2018-01-24 13:10] Tux12Fun opened #35277 "get_url should support NTLM"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

PERSISTENT_COMMAND_TIMEOUT(/etc/ansible/ansible.cfg) = 300
RETRY_FILES_ENABLED(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS
Linux ********* 4.4.0-101-generic #124-Ubuntu SMP Fri Nov 10 18:29:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

I

[2018-01-24 13:13] amarao commented on #22025
It drives me crazy. Docs says that `set_fact` wins over role vars. Still, I see that it's opposite.
Or there is a bug in a code, or there is a bug in docs.

Quote:
In 2.x, we have made the order of precedence more specific (with the last listed variables winning prioritization):
...
role (and include_role) params
include params
include_vars
set_facts / registered vars
extra vars (always win preced

[2018-01-24 13:22] karniemi commented on #33699
FYI, sudo has some quirks:
* in some scenarios, it has(/used to have?) a dependency to DNS: for resolving hostname
* in some scnarios, it has a dependency to AD/ldap - even if the account was a local account

...those dependencies might seem worth the WTF-yell for many people, because they would not expect such network requiring dependencies for sudo. Such dependencies are prone to cause sporadic

[2018-01-24 13:34] progz commented on #34641
Seems to work now. I can create a VPC in eu-central-1 but can't get any facts.

[code]

[2018-01-24 13:50] ar7z1 opened #35279 "influxdb_user module fails with "KeyError: 'database_name'""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

influxdb_user

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

influxdb_user module fails with "KeyError: 'database_name'" after #34021.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-01-24 14:03] jffz opened #35281 "rhn_register success registering host but task fail"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

rhn_register

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_NOCOWS(/etc/ansible/ansible.cfg) = True
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
CACHE_PLUGIN(/etc/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/etc/ansible/ansible.cfg) = /etc/ansible/facts
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 5
DEFAULT_GATHERI

[2018-01-24 14:09] felixfontein commented on #35172
Ok, the merge of #34541 fixed this.
close_me

[2018-01-24 14:12] #35172 closed, assigned to nobody

[2018-01-24 14:12] calfonso commented on #31413
Since the core Ansible engineering team won't be fixing NetBSD issues, we'll keep this open and look for a maintainer.

[2018-01-24 14:17] ryansb commented on #30877
Thanks for clarifying - I'm going to look at porting parts of Alan's start on this to the version of ansible-inventory that's on devel.

[2018-01-24 14:24] #34719 closed, assigned to Qalthos

[2018-01-24 14:24] maxamillion commented on #35231
@L-B perfect, thank you!

[2018-01-24 14:27] ghost opened #35284 "os_nova_flavor module missing ability to update existing flavors"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

os_nova_flavor

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The os_nova_flavor module currently misses the ability to update existing flavors [[1]](https://groups.google.com/forum/#!topic/ansible-project/3lcvd61SvoM).

Horizon implements in by simply deleting the old flavor and creating a n

[2018-01-24 14:44] pilou- commented on #35281
Related: #33660

[2018-01-24 14:46] dagwieers commented on #34675
I am not in favor of this, we already have a **win_feature** module, and we don't need additional functionality to the **win_domain** module. One can create a role to have a more advanced AD setup routine.

[2018-01-24 14:50] djasa opened #35286 "ovirt_networks: management network modification fails, API complains about unsetting management property"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ovirt_networks module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

ovirt_networks: management network modification fails, API complains about unsetting management property

##### STEPS TO REPRODUCE

Playbook that sets up network:
[code]
is fed with this configuration file:
[code]
In o

[2018-01-24 14:56] dagwieers commented on #34675
bot_broken ansibot has now evaluated the components 3 times in 15 days for no apparent reason.

[2018-01-24 15:07] machacekondra commented on #33448
resolved_by_pr 33450

[2018-01-24 15:09] #33448 closed, assigned to nobody

[2018-01-24 15:17] machacekondra commented on #34154
@mkrish004c All the templates disks are `preallocated`? Or just some of them?

[2018-01-24 15:24] mkrish004c commented on #34154
@machacekondra, All the templates are pre-allocated, not sure about the error message
```"msg": "Fault reason is \"Operation Failed\". Fault detail is \"[Cannot add VM. Thin provisioned template disks can not be defined as Raw.]\". HTTP response code is 400."```

but i can clone a template disk with the disk property by enabling clone flag in ovirt_vms as below.

[code]

[2018-01-24 15:24] fxfitz commented on #19470
I am +1000 on this, since I feel like I run into this all the time. :-P

[2018-01-24 15:44] maxamillion commented on #35253
duplicate_of 35217

[2018-01-24 15:44] #34931 closed, assigned to nobody

[2018-01-24 15:47] maxamillion commented on #35231
@L-B can you provide an example of what should exist for the following in `./roles/test_multipath/vars/main.yml`?

[code]

[2018-01-24 15:50] #35253 closed, assigned to maxamillion

[2018-01-24 15:53] ctirs commented on #12086
+1 forks

[2018-01-24 15:53] #24109 closed, assigned to nobody

[2018-01-24 16:11] Mixer9 opened #35291 "User module throws errors when user doesn't exist, is it idempotent?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

user
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30
RETRY_FILES_SAVE_PATH(/etc/ansible/ansible.cfg) = /tmp/ansibleretry

##### OS / ENVIRONMENT

used on rhel6 and rhel7 servers

##### SUMMARY

When I run the user module to remove a user, if that user doesn't exist on the system the

[2018-01-24 16:11] Mixer9 commented on #35291
CC @maxamillion Heres the bug report you requested.

[2018-01-24 16:24] alikins commented on #30489
Another option may be to bundle/vendor/include a copy of the current platform.py from the 2.7/3.6 releases. It is a relatively small amount of code for the distro stuff, so that may be easiest short term.

The license in that particular file looks BSD-ish:

[code]

[2018-01-24 16:32] L-B commented on #35231
Ah, sorry, I didn't simplify enough, that points to group variables outside the role.
Just remove those lines, create `files/etc/multipath.conf` in the role, and modify the `src:` in multipath.yml to:
`src: "./{{ item.fichier }}"`

[2018-01-24 16:34] Mixer9 opened #35293 "service module fails when service not on host, idempotent?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

service
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30
RETRY_FILES_SAVE_PATH(/etc/ansible/ansible.cfg) = /tmp/ansibleretry

##### OS / ENVIRONMENT

RHEL6 and RHEL7 hosts

##### SUMMARY

I would expect if the service wasn't on the machine for the service module to return OK and not

[2018-01-24 16:38] Mixer9 commented on #35293
CC @maxamillion I went ahead and opened this one because I still think it should work with idempotency, and so you and the community could discuss this and decide a good way to fix it.

[2018-01-24 16:41] nikaro commented on #19820
Hello here, i just pushed this #35294. I rename `fstab` argument to `fstab_file` to make it more clear. And i add a new `mount` option to `state` argument, that mount only (do not touch fstab file).

I'm open to suggestions.

[2018-01-24 16:51] Mixer9 opened #35295 "vmware_guest documentation updates"
##### ISSUE TYPE

  - Documentation Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30
RETRY_FILES_SAVE_PATH(/etc/ansible/ansible.cfg) = /tmp/ansibleretry

##### OS / ENVIRONMENT

NA
##### SUMMARY

errors or omissions in documentation.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

1.

[2018-01-24 17:02] cameronurnes commented on #30780
Fair enough, I will take a look at that

[2018-01-24 17:05] rdxmb commented on #35274
ok, the **real** step to reproduce this is:

- on your remote system, run
[code]
run your ansible-playbook.

So the solution for that is (on your remote machine):
`rm /usr/loca/bin/file`

Issue closed ...

-

[2018-01-24 17:05] #35274 closed, assigned to nobody

[2018-01-24 17:33] s-hertel commented on #35228
Support for this was added for 2.5 in 710d1f074e099fa02a9deb7a1bbaff87e255b100.

[2018-01-24 17:33] #35228 closed, assigned to nobody

[2018-01-24 17:38] #35279 closed, assigned to nobody

[2018-01-24 17:49] Akasurde commented on #35295
@Mixer9 Thanks for reporting this issue. I will check above and get back to you.

[2018-01-24 17:55] BennyHarv3 commented on #8603
+!

[2018-01-24 18:19] s-hertel commented on #34641
Thanks for verifying the fix @progz. I have opened #35302 to fix ec2_vpc_net_facts as well.

@mavink78 I'm not sure why you're still experiencing this issue, but it seems your upgrade is not working as expected.

[2018-01-24 18:19] #34641 closed, assigned to nobody

[2018-01-24 18:24] YunLiaw commented on #31269
Encountered this issue also in Ansible 2.4.2.0. Any plan to fix this in the release version?

[2018-01-24 18:25] sivel commented on #35227
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-01-24 18:25] #35227 closed, assigned to nobody

[2018-01-24 18:38] dagwieers opened #35304 "aci: Decide on default RETURN values and parameter to influence"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
aci modules

##### ANSIBLE VERSION
v2.5

##### SUMMARY
Currently our dedicated ACI modules return quite some internal information that probably does not need to be exposed. Depending on how the module is being used, different information is shared:

[code]

So the above table shows grave differences and inconsistencies:
- The keys `imdata` and

[2018-01-24 18:58] dagwieers commented on #35304
I'd like to get feedback about this from other parties as well.
@nilloBE @marinus81 @JamesNesta @dmitrijsf @devarshishah3 @theothercpaggen

[2018-01-24 19:02] dagwieers commented on #35304
Looking for a parameter name to influence the output, I found these:
- **uri** module: *return_content*
- **aws_s3_cors** module: *expose_headers*
But that's basically it,I looked for 'output', 'return', 'result' and 'expose' in parameter names.

[2018-01-24 19:04] wenottingham opened #35305 "[1] guide_rax has been under construction for a very very long time"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

guide_rax

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
not relevant

##### SUMMARY

At the top of guide_rax:

[code]

git log implies it has had a single substantive (not syntax/typo) update since 2014-01.

If the doc is still accurate, the header should probably go... if it's not, should the doc entirely

[2018-01-24 19:20] liyaka commented on #35235
Works fine using azure cli as workaround..
`- name: Add stopped_on tag (workaround)
  shell: "az vm update --resource-group {{ az_resource_group }} --name {{ az_vmname }} --set tags.stopped_on={{ ansible_date_time.date }}"`

[2018-01-24 19:27] skg-net commented on #29529
@gundalow can you please close this issue.

[2018-01-24 19:27] skg-net commented on #29505
@gundalow can you please close this issue.

[2018-01-24 19:34] mattclay opened #35308 "azure_rm_mysqldatabase integration test fails"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_mysqldatabase

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

The `azure_rm_mysqldatabase` integration test fails and has been [disabled](https://github.com/ansible/ansible/commit/ebe925405c9b450488e42f46e3c009868a22dc76) in CI.

CI failure: https://app.shippable.com/github/ansi

[2018-01-24 19:35] mattclay commented on #35308
/cc @zikalino

[2018-01-24 19:46] dekimsey commented on #35255
For what it's worth, I think the misspell detection is good. We've had that happen to us. But we definitely have groups that are empty in one inventory and not another (for instance our blue/green stacks are not fully fleshed out in pre-production environments).

I don't have any good suggestions to addressing this. Maybe a play level `empty_pattern_okay` flag? I dunno.

[2018-01-24 20:06] ssullivan commented on #35119
@sivel Will lookup modify the data it reads in? I've seen some weird behavior that I'm tracking down where JSON loaded through this method appears to be modified when viewing it inside the running service container.

Here are some of the changes that I've observed so far:

- newlines are removed
- true is changed to True
- false is changed to False
- null is changed to None

[2018-01-24 20:12] sivel commented on #35119
The modification of JSON data is likely very closely related to the info provided in https://github.com/ansible/ansible/issues/34595#issuecomment-356091161

Trying to pipe json through jinja2 in ansible currently, will end up converting the JSON to a python dictionary.

[2018-01-24 20:14] mhalano opened #35311 "'logrotate' module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
logrotate

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
A logrotate module would be very useful to manage the file /etc/logrotate.conf and the files under the/etc/logrotate.d directory. Logrotate files are written in a simple and well formed DSL and this seems a very useful feature. I thinking about this because the

[2018-01-24 20:43] maxamillion commented on #35231
I'm unable to reproduce this issue on CentOS 7.4

[code]

I'll test on a CentOS 6.9 machine.

[2018-01-24 20:48] jerrac commented on #14150
I just ran into a case were I needed ```allow_world_readable_tmpfiles = True``` since none of the options from https://docs.ansible.com/ansible/latest/become.html#becoming-an-unprivileged-user worked for me. Being able to set that on the command line would let me only set it when running the specific role that requires it. As @duck-rh said, a ```--extra-settings="allow_world_readable_tmpfiles=true

[2018-01-24 20:51] hobbsh opened #35313 "ansible-playbook fails silenty if ssh key permissions are too open"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
OSX 10.11.6

##### SUMMARY
SSH in ansible-playbook silently fails to connect when permissions on the key are too open. There should be something printed when extra verbosity is specified.

##### STEPS TO REPRODUCE
[code]
The above prints nothing re

[2018-01-24 20:55] alikins commented on #30489
https://github.com/ansible/ansible/pull/35312  is one proposal of a way to do this.

#35312 is basically 'cut & paste pythons platform.py into the tree'

Other ways to resolve this would include the previously mentioned 'distros' module or implementing it ourselves.

[2018-01-24 21:10] maxamillion commented on #35293
I think this is not a bug, but ansible functioning as expected. However, that's just my opinion and I am open to the consensus of the community telling me I'm incorrect.

My thought is that if we passively claimed success on a service state change for a service that does not exist then we would effectively silently fail for service names that are typo'd or similar. In this scenario I'd probably cr

[2018-01-24 21:12] mattclay commented on #35308
I've also [disabled](https://github.com/ansible/ansible/commit/bbedb9aac458915989a5f0e930dc3cbb4decdbda) the `azure_rm_mysqlserver` test as it was failing with the same error:

https://app.shippable.com/github/ansible/ansible/runs/52118/53/tests

[2018-01-24 21:18] #33047 closed, assigned to ganeshrn

[2018-01-24 21:55] dagwieers commented on #35293
Correct, if the user wishes to perform an action that cannot be performed, the task should fail. We cannot assume that the user expects something to not fail. If the service does not exist, it must fail. (Unless we are removing the service, that is.)

[Idempotency](https://en.wikipedia.org/wiki/Idempotence) means that performing the action more than once, the result is the same. Which is the case

[2018-01-24 22:02] janhoy commented on #32750
I see that the custom `SSLValidationHandler` was written in March of 2014. In December 2014 Python 2.7.9 was released, which now by default validates SSL certs, see https://www.python.org/downloads/release/python-279/

So a fix if we don't need to support older python versions could be to skip the whole custom handler and let the default functionality kick in?

[2018-01-24 22:02] maxamillion commented on #35231
Also unable to reproduce on CentOS 6.9

Are there any custom modules in use?

[2018-01-24 22:09] sivel commented on #32750
@janhoy we still support python 2.6

[2018-01-24 22:12] Davidian1024 opened #35317 "Some SSH options cannot be set on a per host basis"
I believe issue #14470 is ongoing.  Even though it was closed.
https://github.com/ansible/ansible/issues/14470

The issue is that some SSH options cannot be overridden on a per host basis.  ConnectTimeout for example.  I have a host that is behind two proxy or bastion hosts.  It takes a long time to connect to that host.  When I attempt to set a longer timeout through ansible_ssh_common_args and/o

[2018-01-24 22:18] janhoy commented on #32750
Ok. Actually I experiences this bug on a RHEL7 system running Python 2.7.5. Tried to read the `urls.py` code to figure out whether upgrading to 2.7.9 on the server will resolve this in my case - do you know?

[2018-01-24 22:29] mattclay commented on #35308
I've also [disabled](https://github.com/ansible/ansible/commit/e9e85625aa08fe38dbfbbd52e2c98efc709c25f5) the failing `azure_rm_postgresqlserver` and `azure_rm_postgresqldatabase` tests:

https://app.shippable.com/github/ansible/ansible/runs/52126/53/tests

[2018-01-24 23:07] sivel commented on #35291
Does your `/etc/nsswitch.conf` include anything for sss or ldap?  It could be that userdel is trying to delete a user from a remote directory.

I'm guessing this is a duplicate of https://github.com/ansible/ansible/issues/30200

[2018-01-24 23:14] Mixer9 commented on #35293
Ok, so if you use the yum module to try and remove a service (package)
that doesn't exist it should say OK, but if you try and stop a service that
doesn't exist it should FAIL?  That sounds to me like one module (yum) acts
one way when it can't do something and another module (service) should act
differently, since the service module is trying to make the state: stopped,
if it doesn't exist then i

[2018-01-24 23:19] dagwieers commented on #35293
@Mixer9 No, they act the same. You *remove* a package that is already *removed*, and you *stop* a service that is already *stopped*. Those tasks are idempotent, as they should be. But stopping a non-existing service (mind you, we cannot assume that the user expects the service to exist) should not be idempotent.

Would you expect that a copy of a non-existing file fails, or silently continues ? Th

[2018-01-24 23:20] Mixer9 commented on #35291
well your partially correct. The system does use sss for authentication,
its not trying to do remove the user remotely, it is trying to remove it
locally which doesn't exist because it IS using sss, however there is a
local home directory that I was trying to remove with that task, but
because the user isn't local (in /etc/passwd) it fails the userdel command
and doesn't remove the home directory.

[2018-01-24 23:28] pete-webpagetech opened #35323 "template validation fails with isc-dhcp-server"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template
copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
ansible host = macOS Sierra 10.12.6   or same results from other hosts
ansible target = ubuntu server 16.04.3

##### SUMMARY
While using the template or copy modules validation fails on valid config files.

using ANSIBLE_KEEP_REMOTE_FILES=1 and then testing

[2018-01-24 23:32] Mixer9 commented on #35293
Ok, I get your example and agree, however, why can I remove a package that
isn't installed but cannot stop a service that isn't installed? Sorry if I
am being thick.

On Wed, Jan 24, 2018 at 5:20 PM, Dag Wieers <notifications@github.com>
wrote:

--
Chris Hood
chris.hood@gmail.com
RHCE (RedHat Certified Engineer)
RHCVA (RedHat Certified Virtualization Administrator)
RHCDS (RedHat Certified Data Cen

[2018-01-24 23:37] dagwieers commented on #35293
Well, first of all, you are not "removing" a package, you are declaring it should be absent. If it is not installed it is already absent, so your wish was already granted.

If you stop a service that is not installed, you cannot be sure whether the user expects something to be stopped that is not there. We can't say "ah, he wants it to be stopped, but the service is missing, let's assume that is e

[2018-01-24 23:48] zikalino commented on #35308
@mattclay i will fix this asap, seems like some additional check was added in MySQL and PostgreSQL service.

[2018-01-25 00:05] jamescassell opened #35324 "RFE: state: reinstalled for yum module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/user/.ansible.cfg) = True
DEFAULT_FORKS(/home/user/.ansible.cfg) = 250
DEFAULT_GATHER_SUBSET(/home/user/.ansible.cfg) = virtual
DEFAULT_HOST_LIST(/home/user/.ansible.cfg) = [u'/home/user/ansible/inventory']
DEFAULT_ROLES_PATH(/home/user/.ansible.cfg) = [u'/home

[2018-01-25 00:07] #29580 closed, assigned to nobody

[2018-01-25 00:10] Mixer9 commented on #35293
Ok, so I agree with you and it's a harder problem than it first appear to
be. So If I have a bunch of hosts that may or may not have the service
running but the package is installed, how do I get past the failure of the
first task, to stop the service, so the second task of remove the package
can be run?

On Wed, Jan 24, 2018 at 5:38 PM, Dag Wieers <notifications@github.com>
wrote:

--
Chris Hood

[2018-01-25 00:11] dagwieers commented on #35293
See: https://github.com/ansible/ansible/issues/35293#issuecomment-360286742

[2018-01-25 00:13] kyliel commented on #29585
bug triage: keep it open
I assume he's talking about an arg that would allow for a storage account to be specified to receive VM metrics and/or boot diagnostics.

You quoted data disks

[2018-01-25 00:18] geoffreywiseman commented on #28349
And if it is supported already, better documentation -- since I also am inclined to believe the firewalld module doesn't support this.

[2018-01-25 00:26] kyliel commented on #28392
bug triage: make sense to clean up errors. PR needs to be reviewed further to see how to clean up auto-created. @zikalino , please help follow up.

[2018-01-25 00:59] #29593 closed, assigned to nobody

[2018-01-25 01:32] itewk commented on #32472
AAAAAAK. @curt-matthews just banged our heads against a wall for two hours on this one thinking we were just getting our conditional syntax wrong.

[2018-01-25 01:35] szponek commented on #24275
Yeah, a requirements file would be nice. I had the same issue and after installing what @dkarakas1  installed I got the following error:
[code]
I had to additionally install the containerservice module:
[code]

[2018-01-25 01:44] szponek commented on #24275
Looks like running:
[code]
installs all required modules and is actually the proper way of getting it all to work according to the newest docs.

[2018-01-25 02:14] dagwieers opened #35325 "win_disk_facts: facts are not being ansible_ namespaced"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_disk_facts

##### ANSIBLE VERSION
v2.5

##### SUMMARY
So we established that facts need to be namespaced using a `ansible_` prefix. If not they may be conflicting/overriding user variables. Since this module is exposing its information as `disks` that's a problem, it ought to be `ansible_disks`.

[2018-01-25 02:51] dagwieers opened #35329 "win_disk_facts: Should expose raw values"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_disk_facts

##### ANSIBLE VERSION
v2.5

##### SUMMARY
Currently there's no way to get the disk size in a format you can manipulate. For instance, the disk ought to be a 240GB disk. However the value is returned as:
[code]
But since it is a string, we cannot convert to a float and recalculate in GB. Which we could be doing like this:
[code]

[2018-01-25 02:53] #27878 closed, assigned to nobody

[2018-01-25 02:57] jborean93 commented on #35325
That's my fault, should have picked up this in the review

[2018-01-25 03:01] jborean93 commented on #35329
We talked about this in the review, the thinking was to add a new parameter where you could specify the units of these values if you wished to override the default.

[2018-01-25 03:03] dagwieers commented on #35329
Hmm, I think it's best to return the raw values and leave the conversion up to the user.
He can then decide for himself in what unit he wants the values to be.

[2018-01-25 03:08] jborean93 commented on #35329
I probably am more on the side that the default value should be raw bytes but @marqelme and others internally thought to keep them as human readable values instead and this would be undoing his work there. I think we should implement the unit selector into this PR (or we not touch the size in this one) so that everybody is happy.

[2018-01-25 03:18] dagwieers commented on #35329
I am sorry I missed that discussion, however I think it is a big mistake not to do the right thing now IMO.
If we don't do it now, we will be bound by leaving it as-is forever.

If we haven't learned anything from the default Unix facts output for date/time information, we haven't learned anything at all.
[code]
Size must be an integer value, and not a string, and it must contain the most detailed

[2018-01-25 03:21] jborean93 commented on #35329
I personally do think we should change it and represent it as raw bytes (it's what I advocated originally) but I am just wary of doing it without a wider discussion and agreement.

PS. donderdag is my favourite weekday

[2018-01-25 04:25] jborean93 commented on #35254
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * All ini inventory variables are processed by the [literal_eval](https://docs.python.org/2/library/ast.html#ast.literal_eval) function which is outside of Ansib

[2018-01-25 04:25] #35254 closed, assigned to nobody

[2018-01-25 04:42] trishnaguha commented on #30992
Related https://github.com/ansible/ansible/issues/33190

[2018-01-25 05:05] trishnaguha commented on #33993
@brainclots Can you please test this on latest devel branch?
There recently has been a PR https://github.com/ansible/ansible/pull/34723 merged which might makes this return a meaningful error message.

To test against devel branch:
[code]

[2018-01-25 05:50] trishnaguha commented on #33190
resolved_by_pr https://github.com/ansible/ansible/pull/35332

[2018-01-25 05:50] trishnaguha commented on #30992
resolved_by_pr https://github.com/ansible/ansible/pull/35332

[2018-01-25 06:21] zoharm commented on #27520
Same for me on 2.4.2.0
[code]

[2018-01-25 06:50] Geronimmo opened #35334 "ecs_service_facts failed with python3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Python 3.5.2
- boto 2.48.0
- boto3 1.5.19
- botocore 1.8.33

- module: ecs_service_facts

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

ubuntu 16.04

##### SUMMARY

Module can`t get detail info. if use "ansible_python_interpreter: '/usr/bin/python3' ", module ecs_service_facts failed. But with python 2.7.12 no problem.

##### STEPS

[2018-01-25 06:52] opsxjacky opened #35335 "timeout"
错误信息：fatal: [globalmonitor1]: FAILED! => {"failed": true, "msg": "Timeout (12s) waiting for privilege escalation prompt: "}

ansible 2.1.0.0

Red Hat Enterprise Linux Server release 7.2 (Maipo)

[2018-01-25 07:18] qijianbo010 commented on #35335
issue type: bug
ansible version: ansible 2.1.0.0
component name: ansible-playbook

[2018-01-25 07:41] shajay12 commented on #24193
Hi Akasurde and Drpuur,
Please let me know how to make changes in files in the newly created vm from vmware_guest.
Just once, please give me the sample code. I want to change the hostname of newly created vm.

Ajay

[2018-01-25 08:08] Eduard3000 opened #35336 "Q: ec2 module: pass item with all key:vals to RunInstances"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ec2
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
"[]"

##### OS / ENVIRONMENT
Linux ccdae8094455 4.14.14-041414-generic #201801201219 SMP Sat Jan 20 12:20:41 UTC 2018 x86_64 Linux
NAME="Alpine Linux"
ID=alpine
VERSION_ID=3.7.0
PRETTY_NAME="Alpine Linux v3.7"
HOME_URL="http://alpinelinux.org"
BUG_REPORT_URL="http://bugs.alpinelinux.org"
ru

[2018-01-25 08:13] yaweiw commented on #30393
@zikalino

[2018-01-25 08:13] yaweiw commented on #30392
@zikalino

[2018-01-25 08:13] yaweiw commented on #25492
@zikalino

[2018-01-25 08:15] yaweiw commented on #34032
@zikalino

[2018-01-25 08:15] yaweiw commented on #31867
@zikalino

[2018-01-25 08:15] yaweiw commented on #31237
@zikalino

[2018-01-25 08:16] yaweiw commented on #33661
@zikalino

[2018-01-25 08:16] yaweiw commented on #34992
@zikalino cheers mate

[2018-01-25 08:16] yaweiw commented on #31023
@zikalino

[2018-01-25 08:17] yaweiw commented on #31967
@zikalino thanks.

[2018-01-25 08:22] marqelme commented on #35329
@jborean93 @dagwieers
As I can see you have already changed it here?
https://github.com/ansible/ansible/pull/35326

Should I change or do anything now or is the task on your side?

[2018-01-25 09:45] L-B commented on #35231
No custom module, there is only a regexp_escape.py plugin.
Is there a way to know what exact command was run by the service module?

[2018-01-25 09:47] nilloBE opened #35340 "ACI module to add static paths to EPG"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
aci_epg_to_domain

##### ANSIBLE VERSION
2.4

##### CONFIGURATION

##### OS / ENVIRONMENT
Ansible 2.4 and ACI 3.1(1) or earlier releases.

##### SUMMARY
Currently aci_epg_to_domain allows the user to specify a VMM domain, and then APIC will take care of configuring the EPG and the right VLAN or VXLAN encapsulation on the right ACI switch ports

[2018-01-25 10:23] L-B commented on #35231
I think I get it. I'm willing to bet that the service module does not do a `restart`, but instead a `stop` then a `start`, and that it ignores at least the return code from the `stop`.
And also that unlike mine, your test system is not booted off the multipath'd device, which is an important difference here :)

[code]

If I'm right, there's a couple of issues there:
 - the status returned is `chan

[2018-01-25 10:36] kgaughan commented on #23585
The documentation has disappeared again from the devel branch version of the site.

[2018-01-25 10:48] xcambar commented on #29390
Hi,
Can the issue be reproduced with a recent ansible (2.4 or `devel`)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-25 10:49] xcambar commented on #29407
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-25 10:50] xcambar commented on #29315
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-25 10:51] xcambar commented on #29199
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-25 10:52] xcambar commented on #29208
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-25 10:52] xcambar commented on #29210
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-25 10:53] xcambar commented on #29211
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-25 10:59] xcambar commented on #29248
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-25 11:10] stefanheykes commented on #31407
This is definitely a bug. hostsvars is not always present - not at the top level it seems.

While running this play works perfectly, syntax check fails
Play to prove this bug:
`- hosts: some_server[0]
  gather_facts: no
  tasks:
    - set_fact: serial_var=1

# The debug tasks works perfectly - also in syntax-check mode. Obviously host_vars is present inside the task as it should be
- hosts: localh

[2018-01-25 11:17] valerius257 opened #35342 "win_iis_webbinding does not change certificate"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_iis_webbinding

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ansible: CentOS 7
control: Windows Server 2012 R2

##### SUMMARY

win_iis_webbinding task does not change certificate for already configured IIS bindings.

##### STEPS TO REPRODUCE

Import two certificates to certificate storage and find the

[2018-01-25 11:18] dagwieers commented on #35329
@marqelme I made a PR for the namespace issue, and then for further testing locally I started adding the other changes as well. Mostly because that was the most convenient thing to do (I have no clue how to test a module with changes from 2 separate branches, I must confess :-/)

I don't mind separating the namespace/doc fixes from the size string/int changes.

Only after creating these later comm

[2018-01-25 11:19] mitpwd commented on #35274
Hi rdxmd,

You just commented how to reproduce the issue. What is the fix?

[2018-01-25 11:22] rdxmb commented on #35274
:)

[2018-01-25 11:30] marqelme commented on #35329
Ok sure, no worries.
But I am also not aware how to test this now.
Regarding the units, I am fine with the RAW format, there are pros and cons with both of the approaches.
But if the user should be able to use the output in order to convert it in any possible unit the RAW format is better way.

[2018-01-25 11:36] mitpwd commented on #35274
It did not fix the issue with me.

We had an issue on a MacOS client, but not on CentOS 7.
Both used Python 2.7, one 2.7.10, one 2.7.5.

We can still reproduce the issue on the MacOS.

[2018-01-25 11:38] mitpwd commented on #35274
Searching through the search engine, it appears the error (Failed to get information on remote file) message is too 'generic', it does not tell me in 'Linux' known errors what is not possible.

We walked through the playbook manually and all worked fine.

[2018-01-25 11:45] defsprite commented on #29343
This seems to be fixed in at least as of `openssh-7.6p1`

Before update:
[code]

[2018-01-25 11:46] JoelSanchez commented on #25100
Hi, what's the state of this?

[2018-01-25 11:57] LinusU commented on #25100
Not implemented, PRs welcome 👍

[2018-01-25 12:01] dagwieers commented on #35329
You can pull my branch (e.g. add a new remote, fetch and then checkout the branch), or simply copy&paste the raw file in Github and put it in your library directory.

[2018-01-25 12:07] JoelSanchez commented on #25100
It seems this PR was started:
https://github.com/ansible/ansible/pull/25118
@jsrolon Could you update your PR, please?

[2018-01-25 12:07] dagwieers opened #35344 "ERROR! A worker was found in a dead state"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
v2.5

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### SUMMARY
The following playbook suddenly (after a few smaller changes)

[code]

result in this error:
[code]

This is the output when running using `ANSIBLE_DEBUG=1`
[code]

[2018-01-25 12:18] xcambar commented on #29195
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-25 12:25] dagwieers commented on #35344
So it appears that the proccesses are being killed by the OOM killer, which is weird because the system has 5GB of physical memory free. I can tell it is being eaten up very quickly.

Now the below task does work:
[code]

So going from 9 task vars to 4 task vars fixes this weird behavior.

[2018-01-25 12:32] marqelme commented on #35329
Ok and the I will create a new PR?

[2018-01-25 12:36] #29505 closed, assigned to nobody

[2018-01-25 12:36] #29529 closed, assigned to nobody

[2018-01-25 13:09] #31297 closed, assigned to Qalthos, rcarrillocruz, ganeshrn

[2018-01-25 13:19] #30992 closed, assigned to trishnaguha

[2018-01-25 13:19] #33190 closed, assigned to privateip, trishnaguha

[2018-01-25 13:24] curt-matthews commented on #32472
We have also run across this in 2.3.

Ansible Version
[code]

[2018-01-25 13:33] dagwieers commented on #35329
@marqelme Why another PR ?

[2018-01-25 13:36] marqelme commented on #35329
Then I didn't get what you mean.
My branch which was merged is already deleted.

[2018-01-25 13:39] dagwieers commented on #35329
You asked how to test this, so I gave you feedback on how you could test the module in this branch/PR.
There is no need to make your own branch and create a new PR.

[2018-01-25 13:42] marqelme commented on #35329
Then we talked past each other, sorry!

[2018-01-25 13:49] thorus90 commented on #32702
I tested with release v2.4.3.0-0.6.rc3. But my symptoms are a bit different, the machine gets not doubled I get the error:
"msg": "The name 'test01' already exists."
I even tried with specifying the uuid as identifier.

[2018-01-25 13:52] s-hertel commented on #35336
Here are the docs for loops: http://docs.ansible.com/ansible/latest/playbooks_loops.html#looping-over-hashes

You probably just need to remove the `-` in front of the dictionary. Ansible can do this:
[code]
__but__ using variables for task parameters is unsafe and this feature will be removed in version 2.6.

A better way to do it would be:
[code]
where you hardcode the input parameters.

[2018-01-25 13:59] funkyfuture opened #35347 "Allow the definition of a fallback value when loading of include_vars fails."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
`include_vars`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
`N/A`

##### SUMMARY
it seems unnecessary complicated to define a fallback value when variable could not be loaded from a file (e.g. it doesn't exist) with an `include_vars` directive.

##### STEPS TO REPRODUCE

instead of this example:

[code]

[2018-01-25 14:09] baltazar1 opened #35348 "ios_command long output strange behavior"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

ios_command
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_ARGS(/mnt/hgfs/ansible/pro-m/ansible.cfg) = -F ./ssh_config
ANSIBLE_SSH_CONTROL_PATH(/mnt/hgfs/ansible/pro-m/ansible.cfg) = ~/.ssh/ansible-%
ANSIBLE_SSH_PIPELINING(/mnt/hgfs/ansible/pro-m/ansible.cfg) = False
DEFAULT_FORKS(/mnt/hgfs/ansible/pro-m/ansible.cfg) = 10
DEFAU

[2018-01-25 14:14] Eduard3000 commented on #35336
Hi Sloane,

 thanks for the - hint, it does indeed work now, but why is this very smart feature removed.

I see config as code, without this way you double the work, maybe with some security, but you can still mess with config anyway.

Where can I comment on 2.6? This smart feature should not go, just wastes time and and "keyboards" ;-).

Regards,
Eduard

[2018-01-25 14:17] nwsparks commented on #35342
Hello,

We rewrote the module for 2.5 and the bug should be corrected there. Can you test on the devel branch and let us know if that resolves this? You can also copy the module from devel and put it into a library folder at the top level of where you're running your Ansible plays from.

[2018-01-25 14:24] ganeshrn opened #35349 "connection=network_cli does not handle same multiple prompt correctly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

network_cli
terminal/ios.py
terminal/eos.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

1) Set enable password in remote device
2) Add incorrect `ansible_become_pass` in group_vars
3) Run below playbook

[code]

##### EXPECTED RESULTS

Should fail with bad password error

[2018-01-25 14:26] lhoss commented on #13138
In the meantime https://github.com/ansible/ansible/pull/34294
Also there's a good alternative module: https://github.com/teralytics/ansible-marathon-module
( disclaimer: released by my employer)

[2018-01-25 14:33] merloon commented on #32000
Hi,
I have the same issue.
Have you got any idea ?

Regards,

[2018-01-25 14:34] wknapik opened #35351 "Script text passed to the shell module should be implicitly cast to string"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
shell

##### ANSIBLE VERSION
[code]
2.5.0.34964.01091cddf6-1

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
Arch Linux

##### SUMMARY
The script text passed to the shell module is not cast to string, which can result in typing errors.

Works:
[code]

Works:
[code]
Works:
[code]
Fails with `ERR

[2018-01-25 14:34] IPvSean opened #35352 "meta module does not work for add_host module"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
meta

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The module page http://docs.ansible.com/ansible/latest/meta_module.html is often mistaken for being able to refresh inventory.  The original problem I had on another bug (https://github.com/ansible/ansible/issues/35195) was that I would

[2018-01-25 14:34] IPvSean commented on #35195
talking to @sivel offline there is a mis-understanding of what meta does with `refresh_inventory` so I have opened a documentation bug https://github.com/ansible/ansible/issues/35352

[2018-01-25 14:34] #35195 closed, assigned to nobody

[2018-01-25 14:35] matejak commented on #31968
Just for sake of completeness, the `false` value gets transformed to `False`.

[2018-01-25 14:36] matejak commented on #31968
The possible workaround is to pad the value with whitespace like this:
`   value: " true"`

[2018-01-25 14:42] max-allan-surevine opened #35353 "ec2 module reports instance IDs in different sequence when launching instances"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running from OSX.
You'll need to have setup keys/tokens to access AWS for the EC2 module to work.

##### SUMMARY
When creating instances with the EC2 module the tagged_instances result is in a different sequence than if you run the same command later. This brea

[2018-01-25 14:45] cldeluna commented on #35340
FWIW it should be a new module.  First I think it would be confusing to have it be part of the domain associations.  Static path binding or static port as it is now known and domain associations are basically at the same level (if you think of the GUI) but more importantly there is a fair amount of logic behind these.

For the deployments I've been involved with this is the money module, the big t

[2018-01-25 14:46] xcambar commented on #25998
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-25 14:47] xcambar commented on #29308
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-25 14:48] jmcgill298 commented on #35340
It seems to me that there is a `connection_type` parameter with user friendly names, and a dictionary that maps these names to the value expected in the URL.

[2018-01-25 14:52] dagwieers commented on #35340
This module is listed in our planning at: https://github.com/ansible/community/wiki/Network:-ACI#needed
The name for this module was decided to become: **aci_static_binding_to_epg** so that's what the mod

[2018-01-25 14:52] jmcgill298 commented on #35340
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/aci/aci_encap_pool.py

[code]

[2018-01-25 14:54] ghost opened #35354 "Incompatible device backing specified for device"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`vmware_guest`

##### ANSIBLE VERSION

`ansible 2.5.0 (devel e75055923b) last updated 2018/01/25 15:13:14 (GMT +200)`

##### SUMMARY

With the creation of a new VM, we are experiencing the following error message:

`Failed to create a virtual machine : Incompatible device backing specified for device 'x'.`

In the above message, x can be repla

[2018-01-25 14:56] dagwieers commented on #35340
If anyone wants to build this module based on one of the existing example modules, you will have to be quick, otherwise @brunocalogero will pick it up next week.

Your path to everlasting fame has a limited window of opportunity ;-)

[2018-01-25 14:59] jmcgill298 commented on #35340
Documentation is temporarily available here, and welcome review
https://github.com/ansible/community/wiki/Adding-Additional-ACI-Modules

[2018-01-25 15:00] eduardobaitello commented on #33464
I'm facing a similar problem, using Ansible v2.4.2.0 (in the control and host machine).

Copying a simple [php-site](https://github.com/phalcon/php-site) sample application takes more than 1 minute. The same copy using `scp -r` takes only 2 seconds.
The entire directory has only 1.8MB. Here is a [gist file](https://gist.github.com/eduardobaitello/5adee904ec9cf004b1384ee0f15e56fa) comparing both pr

[2018-01-25 15:01] dagwieers commented on #35340
BTW We have a Slack channel and 2-weekly meetings to collaborate on these ACI modules, next meeting is in 2 hours. Feedback on https://github.com/ansible/ansible/issues/35304 is also welcome before the meeting :-)

[2018-01-25 15:02] dagwieers commented on #35340
Damn, look at how professional we are ! :1st_place_medal:

[2018-01-25 15:06] dagwieers commented on #35344
Problem was related to the following Jinja snippet: `memory: '{{ ansible_memtotal_mb*1024*1024|filesizeformat }}'`

This should have been: `memory: '{{ (ansible_memtotal_mb*1024*1024)|filesizeformat }}'`

[2018-01-25 15:06] #35344 closed, assigned to nobody

[2018-01-25 15:15] ti-mo opened #35356 "In include/import/nested blocks, `rescue` tasks are mislabeled when a `block` does not fail on all hosts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`block`/`rescue`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch, but doubt this matters.

##### SUMMARY

**When running against multiple hosts**, and if a task inside a `block` **does not fail on all hosts**, the tasks executed in a `rescue` block for that host carry the wrong name.

##### STEPS TO RE

[2018-01-25 15:16] mlococo commented on #29199
@xcambar I don't have a test case for this handy anymore, but I did some scrolling through the history of npm.py and I doubt this is fixed in the general case.

1. I believe this change fixed this issue in cases where the state=latest: https://github.com/ansible/ansible-modules-extras/commit/7d8dd6e21051cb548c731fc85f76deb980dc66a8#diff-6b9e5546ff117496c9905e1bab64cd63
2. For other states, I suspe

[2018-01-25 15:17] maxamillion commented on #35293
I'll mark this as closed, but please feel free to re-open it if needed.

[2018-01-25 15:17] #35293 closed, assigned to nobody

[2018-01-25 15:28] jdswiew opened #35358 "Openstack module Glance : endpoint url truncated when using public endpoint"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

openstack module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

Ubuntu 16.04.3 LTS

cinderclient          3.4.0
heatclient           1.13.0
keystoneclient    3.14.0
novaclient            9.1.1
openstack          0.9.19
openstackclient  3.13.0
swiftclient

[2018-01-25 15:42] Akasurde commented on #35354
@cvanniekerk What is the type of `my-network` ? Is it a DistributedVirtualGroup or Normal network ?

needs_info

[2018-01-25 15:42] sivel commented on #35323
The goal of the validation test is to validate the config file *before* moving it into place, as it is supposed to prevent adding an invalid config to a location where the application would use.

If the application cannot use a configuration file in another location, the `validate` option will not work, and you will need to investigate other ways to validate it.

If you have further questions plea

[2018-01-25 15:42] #35323 closed, assigned to nobody

[2018-01-25 15:44] Akasurde commented on #32000
@merloon Could you please elaborate more on error and playbook ? It will be easy to debug.

[2018-01-25 15:48] hentismith opened #35360 "azure_rm.py : NotImplementedError: APIVersion 2017-03-30 is not available"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/contrib/inventory/azure_rm.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_NOCOWS=1

##### OS / ENVIRONMENT
ansible.cfg
[code]
environment
ANSIBLE_NOCOWS=1

##### SUMMARY
running azure_rm.pu --list fails with `NotImplementedError: APIVersion 2017-03-30 is not available`

##### STEPS TO REPRODUCE
Setup azure_rm.py as per htt

[2018-01-25 16:21] sivel commented on #35351
Unfortunately, this isn't going to be possible, as the `true` is going to be parsed during YAML parsing, and turned into a boolean.  So even if we cast to a string, the case is likely to change: `true` -> `True`.

You will need to ensure that you quote YAML booleans if you don't want them converted to booleans.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansi

[2018-01-25 16:21] #35351 closed, assigned to nobody

[2018-01-25 16:26] GroovyCarrot commented on #14150
I've just hit an issue where I wanted to use `--vault-password-file` as an override. I would think that the expected behaviour is that anything passed explicitly on the command line should take precedence over configuration, otherwise you surely wouldn't have bothered passing it?

[2018-01-25 16:27] sivel commented on #35335
Closing as a duplicate of:

https://github.com/ansible/ansible/issues/33699
https://github.com/ansible/ansible/issues/25961
https://github.com/ansible/ansible/issues/24035

I'd also recommend upgrading to a newer version to verify functionality.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.co

[2018-01-25 16:27] #35335 closed, assigned to nobody

[2018-01-25 16:41] sivel commented on #14150
@GroovyCarrot there is an issue open for your specific problem: https://github.com/ansible/ansible/issues/33831

[2018-01-25 16:56] tima commented on #35293
Does this mean this issue can be closed @Mixer9?

[2018-01-25 16:59] sivel commented on #34687
needs_contributor

[2018-01-25 17:06] Akasurde commented on #35354
@cvanniekerk Could you please try this [patch](https://github.com/Akasurde/ansible/commit/4ed2c01d5ec82ec40831059bd64e34a4067664c4) and let me know if works for you ?

[2018-01-25 17:13] eikef commented on #34288
Sorry, I did not see this report before; the issue tracker did not know it was about zabbix_host, unfortunately.

This is both a bug and not a bug; it's a bug because the ansible_host module could have caught the error (or even corrected with defaults), and not a bug because Zabbix requires the fields dns and ip to be set on a host interface definition (compare https://www.zabbix.com/documentation

[2018-01-25 17:14] eikef commented on #34288
!component=lib/ansible/modules/monitoring/zabbix_host.py

[2018-01-25 17:15] xcambar commented on #29199
Thanks for giving a look at this.
I'm leaving this open in hope you can try to reproduce the scenario.

How did you work around it?

[2018-01-25 17:16] eikef commented on #34288
!component=lib/ansible/modules/monitoring/zabbix/zabbix_host.py

[2018-01-25 17:17] xcambar commented on #29255
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-25 17:27] kvaps commented on #28313
Same problem,
When I have a lot of hosts (100 for example), and this task:

      - name: Write nodes to config
        lineinfile:
          path: "/tmp/config.conf"
          regexp: 'host {{ inventory_hostname }}'
          line: "host {{ inventory_hostname }} something_else"
        delegate_to: myconfigserver
        notify:
        - Restart my server

Some hosts reports that changed, but li

[2018-01-25 17:36] dagwieers commented on #35304
We already agreed on:
- Removing the stuff that is tagged as Remove
- Hide the DEBUG items
- Introduce a new "resulting" dictionary with the post-change existing config

[2018-01-25 18:02] sivel commented on #35029
I've put together a PR with a potential solution to the issue https://github.com/ansible/ansible/pull/35367

[2018-01-25 18:53] alexander-bauer opened #35368 "Take ipa_* authentication default values from environment"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
IPA modules (`ipa_*`)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A
(but related to Ansible AWX)

##### SUMMARY
A number of modules ([ec2, for example](http://docs.ansible.com/ansible/latest/ec2_module.html)) use environment variables to fill the defaults for their authentication parameters. This makes it very easy to inject creden

[2018-01-25 19:00] realged13 opened #35369 "nios_zone error: Unknown argument/field: 'restart_if_needed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
nios_zone

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/e116173@foo.com/venv/infoblox_2.5_v2/ansible.cfg) = [u'/home/e116173@inmar.com/venv/infoblox_2.5_v2/hosts']
DEFAULT_MODULE_PATH(/home/e116173@foo.com/venv/infoblox_2.5_v2/ansible.cfg) = [u'/home/e116173@inmar.com/venv/infoblox_2.5_v2/library']

##### OS / ENV

[2018-01-25 19:27] brainclots commented on #33993
Here is what I see on the command line when running the playbook with
'-vvvv':

The full traceback is:
Traceback (most recent call last):
  File "/Users/bklotz/ansible/bin/ansible-connection", line 70, in start
    self.connection._connect()
  File
"/Users/bklotz/ansible/lib/ansible/plugins/connection/network_cli.py", line
323, in _connect
    self._terminal.on_become(passwd=auth_pass)
  File "/Us

[2018-01-25 19:34] gundalow commented on #35369
Googling makes me think it may need to be `INFOBLOX_SSLVERIFY`, therefore `SSLVERIFY` in

https://github.com/ansible/ansible/blob/3f556f2e3725d8f1daa6e70682644cf6c0557ca6/lib/ansible/module_utils/net_tools/nios/api.py#L43-L53

[2018-01-25 19:34] nilloBE commented on #32004
Is there a fix for this? I have been testing with 2.5 and I can't set the custom attributes with neither vmware_guest nor vsphere_guest. I do not get an error, but it does not work.

my tests:
  - vmware_guest:
       validate_certs: False
       hostname: "{{ vcenter_hostname }}"
       username: "{{ vcenter_user }}"
       password: "{{ vcenter_pass }}"
       datacenter: "{{ datacenter }}"

[2018-01-25 19:44] privateip commented on #35369
The connection should be `local` not `ssh`.  The module uses the infoblox_client api to communicate with NIOS over REST.  the ssl_verify

[2018-01-25 19:46] realged13 commented on #35369
When I do `connection:local` it says it can't find the infoblox client, yet I have it installed and doing `pip freeze` returns the module.

[2018-01-25 19:46] privateip commented on #35369
are you running ansible in a virtualenv?

[2018-01-25 19:46] realged13 commented on #35369
Yes I am.

[2018-01-25 19:49] privateip commented on #35369
Add the following to your inventory (hosts) file:

[code]

When running in a virtualenv we need to make sure that Ansible is running under the right environment to find installed packages.

[2018-01-25 19:53] gundalow commented on #35369
I'll update the examples in all the modules so that its clearer

[2018-01-25 19:53] realged13 commented on #35369
Getting the following now: ```*
fatal: [10.80.2.249]: FAILED! => {"action": "create_object", "attempts": 1, "changed": false, "code": "Client.Ibap.Proto", "failed": true, "msg": "Unknown argument/field: 'restart_if_needed'", "type": "AdmConProtoError"}
[code]

[2018-01-25 19:54] #33669 closed, assigned to nobody

[2018-01-25 20:00] trinitronx opened #35372 "pause module no longer allows abort"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pause

##### ANSIBLE VERSION
`ansible --version`:

[code]

##### CONFIGURATION

Results of `ansible-config dump --only-changed`:

[code]

##### OS / ENVIRONMENT

ansible running from CentOS 7 docker container (Reproduction steps & [test case repo][ansible-pause-bug-reproduction] provided!)

##### SUMMARY

As documented in the [`pause` module d

[2018-01-25 20:06] akloeber commented on #29407
Hi, I reproduced this issue with latest ansible 2.4.2.0. I pushed my code into a repo at https://bitbucket.org/akloeber/ansible-issue-29407 that you can use to bootstrap a Vagrant machine and observe this behavior.

Just create and provision the VM via `vagrant up`. Afterwards the npm cache is located at `/root/.npm` but owned by `vagrant`:
[code]

[2018-01-25 20:23] treyperrone commented on #26095
ansible 2.4.1
pyvmomi 6.5.0.2017.5-1

Attempting to solve issue of having it auto-place/use DRS to find datastore, else it always ends up on the same datastore as the template like https://github.com/ansible/ansible/issues/27062

Trying the devel commit #35230 i get

[code]

[2018-01-25 20:27] zahodi commented on #29333
In case anyone is still looking for some mikrotik modules. I have a mostly working implementation here: https://github.com/zahodi/ansible-mikrotik
It still needs some improvements but works nonetheless.

[2018-01-25 20:33] privateip commented on #35369
that seems to be a bug ... i renamed the issue for searching and tracking purposes

[2018-01-25 21:04] Qalthos commented on #26224
Hey, sorry this has been going on so long. As you may or may not be aware, we've been rewriting a lot of the connection infrastructure for network modules to make things a lot easier, and I _think_ this bug got squashed in the meantime.

I know you've tested a bunch of different versions so far, so I'd like you to try again on `devel` and let me know if it works, and if it doesn't, what the output

[2018-01-25 21:08] murarisumit commented on #24862
facing this on ubuntu 16.04 VM any way to fix this ??

[2018-01-25 21:12] NZSmartie commented on #35030
Hello?

[2018-01-25 21:33] rsevilla87 opened #35373 "hpilo_facts and hpilo_boot modules broken with new python-hpilo Python module"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
hpilo_boot and hpilo_facts modules

##### ANSIBLE VERSION
2.4.2.0

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = %(directory)s/ansible-ssh-%%C
DEFAULT_CALLBACK_WHITELIST(/etc/ansible/ansible.cfg) = ['profile_tasks']

##### OS / ENVIRONMENT
From Fedora release 27 (Twenty

[2018-01-25 21:40] mlococo commented on #29199
@xcambar As noted in previous comments, state=latest has become a viable workaround in cases where that behavior is desired since I originally filed.

Honestly, it's been so long (almost 2.5 years) I don't remember exactly how I moved passed this problem. I'm automating the setup of a development environment which has build-scripts as well. I suspect that the build scripts also manage npm dependen

[2018-01-25 21:46] dglinder commented on #32914
The issue I have with adding localhost to the inventory is that I don't want to take the chance that an errant "hosts: all" in a playbook will impact the server I'm running Ansible from.  I'd propse that the mulitple inventory sources enhancement needs to take localhost into account.

[2018-01-25 22:07] danielmotaleite commented on #11024
almost 3 years later, we can not still remove a user from a group using ansible, but we can add then

as workaround, please use something like this:

[code]

[2018-01-25 22:10] zeeMonkeez opened #35374 "unarchive fails with zip file, on macOS"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive

##### ANSIBLE VERSION
[code]

note: test case below does not produce error in 2.4.3 rc6 or in devel, but file does not get extracted either.

##### CONFIGURATION
no changes

##### OS / ENVIRONMENT
macOS 10.13.2, both host and target

[code]

##### SUMMARY
zip file does not get extracted, fails with "Unexpected error when accessing e

[2018-01-25 22:16] maikelpenz commented on #20579
+ 1

[2018-01-25 22:17] maikelpenz commented on #20579
"+" 1

[2018-01-25 22:47] dagwieers commented on #28313
So the question I have is what server needs to be restarted here ? Because I assume the notification handlers are for each target node, while you are modifying a single file on `myconfigserver`.

Not sure if this is what you expect.

[2018-01-25 23:07] kiorky commented on #35065
@abadger @jimi-c:
- The fix is working as intended for 2.4, thx !
- It still fails on 2.5, it's OK for now as it is intended, but IMO an UX bug.
Thx for the update, and really i'm awaiting of your input for that 'become' escalation topic.

[2018-01-25 23:42] xcambar commented on #29407
AFAICT, this is, unfortunately, an npm bug.

Thanks for the repo, it's been very helpful to reproduce the bug. So, what's happening?

What ansible does is run (more or less) `$ sudo -H -S -n -u root /bin/sh -c 'npm i -g leftpad'` (I replaced pm2 with leftpad, but the point remains).

Execute the following in your target machine to reproduce the situation without ansible:
* `$ sudo rm -fr /root/.np

[2018-01-25 23:44] xcambar commented on #29234
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-25 23:50] xcambar commented on #29199
I assume most of the use cases go with `state=latest` anyway...
I'll close this issue as there hasn't been any activity nor strong community voice to fix it and there's no reproducible case.

close_me

[2018-01-25 23:51] xcambar commented on #29192
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-25 23:56] jacksonp2008 commented on #32004
This works for me, haven't had a chance to try the fix mentioned above:

[code]

[2018-01-26 00:00] #29199 closed, assigned to nobody

[2018-01-26 00:07] mmercer-apixio commented on #10829
Having this single feature would be a huge improvement to ansible in general, as it would also allow for handlers that do things like 'state tracking' if you wanted to track your deploys or provisions in a database.  You have a single handler that updates state inserts into a mysql database, you rerun that handler with values from the task that executed, giving you a much more thorough view into w

[2018-01-26 00:11] mhensler opened #35377 "win_package fails when sites block HEAD requests"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
win_package

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible is running on CentOS 6.9
Managing Windows Server 2012

##### SUMMARY
win_package fails to install packages from HTTP/HTTPS sites that block HEAD request.

##### STEPS TO REPRODUCE
In an Ansible task file:
[code]

However, you can test HEAD vs GET r

[2018-01-26 00:33] dagwieers commented on #35140
Unfortunately, I am not able to reproduce this problem.

But while fixing the remainder of the integration tests, suddenly I got this error:
[code]

[2018-01-26 00:55] xcambar commented on #29246
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-26 00:56] xcambar commented on #29271
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-26 00:57] xcambar commented on #29275
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-26 00:57] xcambar commented on #29335
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-26 00:58] dagwieers opened #35382 "module_utils/basic.py: Adds "state: absent" to result when "path" is returned"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils/basic.py

##### ANSIBLE VERSION
v2.5 and earlier

##### SUMMARY
So we discovered that our ACI modules inadvertently return `state: absent` for no apparent reason, because we were not doing it in the modules. It appears that there's some overly smart logic in *module_utils/basic.py* that adds `state: absent` when `exit_json` or `fail

[2018-01-26 01:55] visay commented on #29192
@xcambar i can't reproduce it anymore with 2.4

[2018-01-26 02:31] abadger commented on #35089
@zakabluk Looking through the log that you sent me, you're ssh'ing as an unprivileged user and becoming a different unprivileged user.  You have pipelining=False and you're getting an error that we're unable to set the permissions on the temporary files.  Looking through results.txt I see that your host doesn't have posix acls enabled (From the error, I believe that the setfacl command is present

[2018-01-26 03:32] Mixer9 commented on #35293
Yes I believe it can be closed, thanks to all for the conversation.

Chris
Mixer9

On Jan 25, 2018 10:56 AM, "Timothy Appnel" <notifications@github.com> wrote:

[2018-01-26 04:49] Akasurde commented on #26095
@treyperrone Could you please update to 2.5 version and re-try as lot of changes went after 2.4.1 ?

[2018-01-26 05:46] jhawkesworth commented on #35377
Using HEAD to get last modified time is fairly standard behaviour (I know win_get_url does this too, in order to see if the file actually needs downloading.
If there's an alternative way to get file information without actually downloading the whole file then I guess we could see about implementing that, but most webservers allow this (IIS and nginx, to name two I know allow HEAD requests like thi

[2018-01-26 07:15] xcambar commented on #29192
Great! Thanks for feedback!

close_me

[2018-01-26 07:23] #29192 closed, assigned to nobody

[2018-01-26 07:43] thorus90 commented on #32702
Sure, sry for not providing it to start with:

Playbook:
`- name: VMware Deployment
  vmware_guest:
    hostname: srvvcenter01.master.dns
    datacenter: "itnovum"
    validate_certs: "False"
    username: 'XXX'
    password: "XXX"
    resource_pool: "EIM"
    folder: "intern/Dev-Testing/ECM"
    wait_for_ip_address: yes
    template: "ubuntu-16.04-template"
    name: "test01"
    state: "poweredo

[2018-01-26 08:08] #32577 closed, assigned to nobody

[2018-01-26 08:18] merloon commented on #32000
Hi @Akasurde ,

Sorry for the delay.

my task:
[code]
My variables:
[code]

Ansible version:

[code]
On
[code]
You can find logs attach
[logs.txt](https://github.com/ansible/ansible/files/1667033/logs.txt)

Thanks by advance.

BR

Merloon

[2018-01-26 08:39] nilloBE commented on #32004
Thanks @jacksonp2008 and @Akasurde for looking into this. I believe I may have miss interpreted what customvalues does. "app" in my example is a Custom Attribute defined in vCenter annotations. There are two options there, Notes, and custom attributes. I am trying to set the latter.

But from your questions, and teh example from @jacksonp2008 I believe customvalues and vm_extra_config cannot confi

[2018-01-26 08:51] dagwieers commented on #35377
At the very least the **win_package** module should return a proper error.
The current output looks very weird, I wonder what's going on there...

@mhensler If you feel adventurous, you could copy the **win_package.ps1** module into your project's *library/* directory and modify it to make it work properly without HEAD. Then contribute your modifications through a new Pull Request. That's usually

[2018-01-26 09:05] cvanniekerk commented on #35354
@Akasurde I believe we are using a distributed virtual port group.

According to me this is the correct fix for the problem. I tested it and it resolves this issue on our environment. Could you please merge this patch back into the main repository?

[2018-01-26 09:14] thorus90 commented on #32702
ok I was able to resolve my issue:

The path(folder) to the vm is different over the API than the one I can see via vsphereclient. I was able to figure this out by adding assertions to ansible/module_utils/vmware.py at line 195 starting with assert False, si.FindByInventoryPath(<Name of my datacenter>).childEntity , and working my way down the path to my vm with loops. Dunno if I was lucky by star

[2018-01-26 09:25] rcaron commented on #35308
We ran into this issue, too. My suggestion to try for now (pending a more concrete resolution) is to make an explicit declaration of 51200 in the JSON for storageMB in properties. Even though it’s marked as not required, there may be some issue with that.

[https://docs.microsoft.com/en-us/azure/templates/microsoft.dbformysql/servers](https://docs.microsoft.com/en-us/azure/templates/microsoft.dbfo

[2018-01-26 09:35] danowar2k commented on #30867
This also happens in Ansible 2.4.2.0. I have two roles A and B that act as wrappers to another role C (A and B have a dependency to C). I updated C and updated my roles in my playbook using requirements.yml. C didn't update ("already installed").

I had to delete the directory of C and again install the requirements to acquire the current version of C. None of my roles yet use versions. I tried wi

[2018-01-26 09:46] #35325 closed, assigned to nobody

[2018-01-26 09:46] #35329 closed, assigned to nobody

[2018-01-26 09:57] muhahacz commented on #33380
Same problem.

[2018-01-26 10:01] Stehsegler commented on #22579
+1 Also really would like to see this fixed.

[2018-01-26 10:49] deiga commented on #29246
@xcambar It is still unclear whether one can run `absent` without arguments with this module and if it will do what `npm prune` does

[2018-01-26 10:55] akloeber commented on #29407
Yes, now I agree that this is bug in npm. I thought maybe omitting the `-H` is the solution but I was not sure about that as I had no idea how changing `$HOME` does influence handling of file permissions.

Your example with `mkdir` demonstrates how `-H` should work - if we asume that `mkdir`does it right  which is very likely :-)

[2018-01-26 11:05] xcambar commented on #29407
That's an interesting situation to follow up with the folks over at npm.

I'm closing this one here.

close_me

[2018-01-26 11:07] soupdiver opened #35387 "region is required when using gce_lb but docs say it's not"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
module `gce_lb`

##### ANSIBLE VERSION
`ansible 2.4.2.0`

##### SUMMARY
The docs say `region` is *not* required. When not providing a region the operation fails with:
`{"changed": false, "msg": "Missing required region name"}`

##### STEPS TO REPRODUCE
use `gce_lb` to creat a load balancer and don't provide a region.

[2018-01-26 11:11] #29407 closed, assigned to nobody

[2018-01-26 11:34] EdwardIII commented on #30411
@benapetr / @jmighion how did you guys solve the underlying problem? Trying to figure out a workaround when issues like this arise

[2018-01-26 11:37] ghost opened #35388 "Add a module to create a VM and Template folder on VMware"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

`vmware`

##### ANSIBLE VERSION

`ansible 2.5.0 (devel 466e1b289b) last updated 2018/01/26 10:22:19 (GMT +200)`

##### SUMMARY

There is currently a module called `vmware_resource_pool` to create a new VMware resource pool. A VM can subsequently be assigned to the newly created resource pool by using the `resource_pool` option of the `vmware

[2018-01-26 11:56] benapetr commented on #30411
There are multiple reasons why this can happen. I never said I found a solution. You can in theory run the playbook by hand in a loop on each host separately to figure out which one is causing problems, and then you need to investigate this host.

Good example of problem that can cause this is disconnected NFS mount, which would hang even "df" command.

[2018-01-26 12:16] Akasurde commented on #35354
@cvanniekerk Thanks a lot for testing this.

[2018-01-26 12:24] Akasurde commented on #35354
resolved_by_pr #35389

[2018-01-26 12:33] marinus81 commented on #35304
So far I have not come across any case where I would have needed any of these details. The only exception would be in case of an error, as currently the short error message is badly formatted (i.e. hard to read) - it becomes much clearer looking at the full response. But this is IMO mostly a formatting not a content issue.

The suggested approach sounds reasonable to me.  I'm not 100% sure I can f

[2018-01-26 12:35] gundalow commented on #35369
Docs to make it clearer that `nios_*` should be run locally https://github.com/ansible/ansible/pull/35390

[2018-01-26 13:27] Akasurde commented on #35368
resolved_by_pr #35391

[2018-01-26 13:27] Akasurde commented on #35368
@alexander-bauer Could you please check the above patch and let me know if it works for you ?

[2018-01-26 13:36] lae commented on #25667
This still affects Ansible 2.4.2.

[2018-01-26 13:39] pritho opened #35392 "os_server module does not create Floating IP when wait is set to no"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.4

##### SUMMARY

os_server module does not create Floating IP (based upon param auto_ip) when wait is set to no
##### STEPS TO REPRODUCE

use module os_server with param wait: no and auto_ip: yes
--> instance is being created, but no floating IP is

[2018-01-26 13:50] treyperrone commented on #26095
@Akasurde  2.5 == devel branch currently?

if so that vmware_guest == #35230  currently which throws the above error (using library folder alongside to test).

When i use the 2.4.1 default module it runs successful, it just does not distribute the cloned template among other backing datastores in the datastore cluster.

[2018-01-26 13:57] Akasurde commented on #26095
2.5 is devel right now.

I didn't understand what do you mean by -

Datastore cluster support for template is not yet present.

[2018-01-26 14:03] treyperrone commented on #26095
The title of PR #35230  is " VMware: Add support for datastore cluster" which made me think this would solve issue of working with datastore cluster...

Mainly my problem is; when cloning template all machines stay on the same datastore at the template. It does not distribute them automagically as it would from vcenter interface. If i make 6 VMs from template almost all get put on same DS as templ

[2018-01-26 14:16] Akasurde commented on #26095
ah !

Do all datastores in your vcenter are part of datastore cluster ?

[2018-01-26 14:21] marcindulak opened #35395 "can't use variables in vars_from of include_role: backport to 2.4.3.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

CentOS7 ansible-2.4.2.0-1.el7.noarch
[code]

and https://github.com/ansible/ansible/releases/tag/v2.4.3.0-0.6.rc3
[code]

##### CONFIGURATION

default

##### OS / ENVIRONMENT

CentOS7

##### SUMMARY

Can't use variables to point to files using vars_from

##### STEPS TO REPRODUCE

[code]

[code]

[code]

[co

[2018-01-26 14:24] ChrisMKinsella opened #35396 "authorized_keys module fails when attempting to remove key for non existing user"
ISSUE TYPE
bug report

COMPONENT NAME
authorized_key module

ANSIBLE VERSION
2.4.2

CONFIGURATION
No changes from defaults

OS / ENVIRONMENT
manager: Ubuntu 14.04.5 LTS
managed host: CentOS Linux release 7.4.1708 (Core)

SUMMARY
:**

I have a set of tasks that removes local users and removes their authorized_keys file using the authorized_key module.
If I run a play that first deletes the user whe

[2018-01-26 14:45] ernestasen commented on #31627
I have this issue on custom fields that are User Picker or any other non plain text field.

[2018-01-26 14:50] jmighion commented on #30411
Sorry, don't remember finding a solution. I think ours was hanging on a device we were trying to connect to, but honestly cant say. We're not hitting the problem anymore though.

[2018-01-26 14:55] ChrisMKinsella commented on #35396
Hi I have found a temporary workaround.

If I add a when clause to the task to skip the authorized_keys task when the item is absent it does not attempt to update the non existing key - (as when I run  the user task I'm setting remove:yes so if I am deleting the home folder the /home/joebloggs folder is deleted so the authorised_keys file is implicitly deleted)

- name: Users | Create ALMDG Users

[2018-01-26 15:07] kvaps commented on #28313
@dagwieers,
Yes, I need to restart daemon on `myconfigserver` after all changes in the config.

[code]

There is also another option how it can be solved. Playbook can be splitted into two sections.
The first one will gather needed variables from hosts, and generate lines which should be added into config on `myconfigserver`.
The second one will dedicated to `myconfigserver` host only and will use

[2018-01-26 15:08] alexander-bauer commented on #35368
@Akasurde That patch looks like it addresses my issue perfectly, thank you!

[2018-01-26 15:10] s-hertel commented on #35336
@Eduard3000 I was mistaken, actually. It looks like the warning is only intended for
[code]
as opposed to passing keyword arguments. :) I'll look at fixing the warning for this.

[2018-01-26 15:14] dagwieers commented on #28313
You can also do this differently, if the file can be templated.

Then you simply template your file based on inventory information in a single task, which can have a handler. Your target node would be your myconfigserver, and it would have a single handler.

[2018-01-26 15:18] Eduard3000 commented on #35336
@s-hertel nice we found and you will fix a warning bug, but wait, why does 2.6 revert this feature
and how can we get it back? I see a play just as the shell, the how could be done better in config/json.

[2018-01-26 15:25] marcindulak opened #35398 "delegate_to not propagated to include_role"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

delegate_to
include_role

##### ANSIBLE VERSION

Ansible devel https://github.com/ansible/ansible/commit/f849dc9cad93f512554823fe3f26f171b45dfcf9
[code]

##### CONFIGURATION

default

##### OS / ENVIRONMENT

CentOS7

##### SUMMARY

This issue is maybe related to https://github.com/ansible/ansible/issues/18315

CentOS7 ansible-2.4.2.0-1.el7.noa

[2018-01-26 15:38] s-hertel commented on #35336
Ah, sorry that wasn't clear. The deprecation warning for this syntax is a bug, so I will look at removing that for this syntax
[code]
and it will not be reverted in 2.6 and will continue to work as you're using it now.

This is the syntax that is being deprecated:
[code]

[2018-01-26 15:39] marcindulak commented on #35398
Actually I think this behavior is expected. The issue with the example I provided is with

[code]

If I use instead the `delegate_to`: ansible_hostname of the ansible host both ansible 2.4.2.0 and devel are able to `ls /tmp/failed_role` on the ansible host.

[2018-01-26 15:42] s-hertel commented on #35336
@Eduard3000 Also, since conversations github tickets aren't always great for conversations, feel free to use IRC (my handle is shertel) or the mailing list. Helpful links here: http://docs.ansible.com/ansible/latest/community.html#ansible-staff

[2018-01-26 15:46] Eduard3000 commented on #35336
nice, thanks for clarifying, but does this mean I cant do in 2.6 the following any more:

    - name: test internal Secgroup loop
      ec2_group:
        name: "{{ item.name }}"
        vpc_id: "{{ item.vpc_id }}"
        region: "{{ item.region }}"
        purge_rules: "{{ item.purge_rules }}"
        description: "{{ item.description }}"
        rules: "{{ item.rules }}"
      with_items: "{{ d

[2018-01-26 15:48] marcindulak commented on #35398
Well, or maybe I leave it open and let you decide

[2018-01-26 15:50] sivel commented on #35398
This is the expected behavior in 2.5.  In 2.5 attributes applied to a dynamic include are only applied to the include itself, and not to the tasks within.

See https://github.com/ansible/ansible/pull/35199

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-01-26 15:50] #35398 closed, assigned to nobody

[2018-01-26 15:54] s-hertel commented on #35336
@Eduard3000 No, that will continue to work as expected in 2.6. :)

[2018-01-26 15:55] #33707 closed, assigned to Qalthos

[2018-01-26 15:56] kvaps commented on #28313
Yes, I do the same, but it would be nice if the `lineinfile` and `blockinfile` modules would work with `delegate_to` and `local_action` without problems.
And not every will guess that this problem in the simultaneous access to file.
You know, this is intuitively usage case.

[2018-01-26 16:22] #22147 closed, assigned to nobody

[2018-01-26 16:48] #35029 closed, assigned to nobody

[2018-01-26 16:51] #35353 closed, assigned to nobody

[2018-01-26 17:07] #35270 closed, assigned to nobody

[2018-01-26 17:36] #27214 closed, assigned to nobody

[2018-01-26 18:21] saichint opened #35404 "nxos_pim_interface issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_pim_interface
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I5(2)

##### SUMMARY

There are few issues with nxos_pim_interface modules.
1. The parameter 'sparse-mode' default value is false but the current code assumes that it is enabled.
2. The current code use 'show ip pim

[2018-01-26 18:48] sivel commented on #32716
This is working as expected.  CWD relative `group_vars` and `host_vars` are not supposed to work.

This is documented in the 2.4 porting guide (http://docs.ansible.com/ansible/devel/porting_guide_2.4.html):

The only valid locations for `host_vars` and `group_vars` are adjacent to the playbook _file_ and adjacent to the inventory _file_.

If you have further questions please stop by IRC or the mai

[2018-01-26 18:48] #32716 closed, assigned to nobody

[2018-01-26 19:26] sivel commented on #35374
I have tried to reproduce this, in about every way I can imagine, and have not been able to.

In every version of ansible I try, with all of the python versions available to me, this works as expected, without failure.  I've tried in v2.3.3, v2.4.2, devel, with python 2.7.14 (pyenv), 3.6.3 (pyenv) and 2.7.10 (system)

The one thing that I note is you are running this from a miniconda env, which I

[2018-01-26 20:19] trinitronx commented on #35372
@ansibot
!component +lib/ansible/plugins/action/pause.py

[2018-01-26 20:25] trinitronx commented on #35372
Just found where the actual module file is, and upon further inspection it appears that the `Ctrl+c` handling code is in `if`/`else` blocks:

- [Prompt only shows when `seconds` is set](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/pause.py#L126-L143)
- [KeyboardInterrupt only thrown when `seconds` is set and `key_pressed == b'\x03'`](https://github.com/ansible/ansible/b

[2018-01-26 20:25] dagwieers commented on #28313
It's not a problem with the modules or Ansible, it's a lack of understanding. There's no possible way to solve this, as there are genuine use-cases that rely on how Ansible works and how modules work.

The only thing we can do is improve the documentation and hope people read them. We can't prevent them from shooting themselves in the foot in a gazillion ways.

You can destroy a thousand systems i

[2018-01-26 20:49] zeeMonkeez commented on #35374
Indeed. Removed miniconda from PATH, installed ansible from homebrew. Same error. Output from `ansible --version`:

[code]

[2018-01-26 21:06] clementtrebuchet opened #35409 "infoblox dynamic inventory truncates extensible attributes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora release 27 (Twenty Seven)
##### SUMMARY

As a network engineer, I need to be able to have the complete list of extensible attributes in my inventory and not a truncated list

The inventory produced by the infoblox inventory script is incomplete. Indeed, we should

[2018-01-26 21:08] #26092 closed, assigned to nobody

[2018-01-26 21:08] kvaps commented on #28313
@dagwieers, I'm just think this something like https://github.com/ansible/ansible/issues/12170 could solve this issue fully.
Anyway thanks for responsiveness :)

[2018-01-26 21:22] ryansb commented on #30877
Looking at the implementation options for this, it's going to require some deep changes to how values are discovered (and track their source) for hosts. It would be along the lines of https://github.com/ansible/ansible/compare/devel...alikins:var_man_changed_inv_plugins , which definitely can't be done after the 2.5 core freeze, so this fix will have to wait until the next feature cycle.

[2018-01-26 21:23] clementtrebuchet commented on #35409
see the #35410

[2018-01-26 21:23] #35354 closed, assigned to nobody

[2018-01-26 21:26] dagwieers commented on #35304
@marinus81 A new parameter e.g. return_output=(default|info|debug) where debug includes info and info includes default. And if you would set ANSIBLE_DEBUG=1 when running ansible it would show everything as well.

I don't see what you mean with the short error message and the full response. There's only one error message we get back from the APIC and AFAIK we are returning that as-is to the user. S

[2018-01-26 21:46] dagwieers commented on #28313
@kvaps Sure #12170 is useful on its own, however you cannot enable that by default because it could break existing use-cases. It's not up to Ansible to decide what the user expects. Every system that intends to be smart based on assumptions is a recipe to failure.

And talking about writing proper playbooks, I think `lineinfile` and `blockinfile` are band-aid and best to be avoided (when possible)

[2018-01-26 22:32] sivel commented on #35395
The commit that fixed this behavior in devel is 52a8644a151897433e4941924e5e15c1cafc6dc8

[2018-01-26 22:38] hryamzik opened #35413 "win_uri: The request was aborted: Could not create SSL/TLS secure channel."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS 10.13 => Microsoft Windows Server 2012 R2 Standard, `"ansible_powershell_version": 4`

##### SUMMARY

Module fails.

##### STEPS TO REPRODUCE

[code]
TASK [win_consul : get download page] *********************************************************

[2018-01-26 22:45] kvaps commented on #28313
@dagwieers, yes I'm agree with you.
Hopefully someone who will have similar problem will stumble upon this issue in future.
Thank you for discussion.

[2018-01-26 22:53] marcindulak commented on #35395
When this will available in an ansible release?

[2018-01-26 22:59] sivel commented on #35395
The commit mentioned above is in devel, for the 2.5 release.  For the 2.5 roadmap, see http://docs.ansible.com/ansible/devel/roadmap/ROADMAP_2_5.html for up to date release timeframes.

[2018-01-27 00:04] rambleraptor opened #35414 "Ansible-Test Sanity fails at pylint with exit code 0"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test sanity

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ansible 2.5.0 (devel 6f90df3ec2) last updated 2018/01/26 23:48:37 (GMT +000)
  config file = /home/alexstephen/.ansible.cfg
  configured module search path = [u'/home/alexstephen/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module locatio

[2018-01-27 00:05] mhensler commented on #35377
I'm not an expert at PowerShell. So, all code should be thoroughly reviewed/vetted.

I believe this can be fixed by changing https://github.com/mhensler/ansible/blob/devel/lib/ansible/modules/windows/win_package.ps1#L185 from:
[code]
to:
[code]

I ran some Wireshark tests. I don't see the file contents being shipped with the new code.  I believe the following code would be required to actually dow

[2018-01-27 02:04] a13x212 commented on #29597
Any progress on this issue? I'm currently facing the same problem.

fatal: [localhost]: FAILED! => {"changed": false, "msg": "Unexpected response: (<LibcloudError in None 'Job did not complete in 180 seconds'>). Detail: Traceback (most recent call last):\n  File \"/var/folders/hp/blj1mvgn0dx1w0806_ss3xqh2sff46/T/ansible_4B3cMf/ansible_module_gce_net.py\", line 541, in main\n    gce.ex_destroy_netw

[2018-01-27 02:57] Akasurde commented on #20925
Closing this issue as PR https://github.com/ansible/ansible/pull/34261 is merged. If issue persists, please feel free to re-open.

[2018-01-27 02:57] #20925 closed, assigned to nobody

[2018-01-27 03:00] Akasurde commented on #29303
Closing this issue as PR https://github.com/ansible/ansible/pull/35343 is merged. If issue persists, please feel free to re-open.

[2018-01-27 03:00] #29303 closed, assigned to nobody

[2018-01-27 03:06] Akasurde commented on #35373
resolved_by_pr #35362

[2018-01-27 05:21] junejie commented on #30518
same issue in centos 7

[2018-01-27 09:05] jmcgill298 commented on #35140
not sure how to kick off the test, but I did manual test and had successful task executions both when there was a diff between the two checkpoints and when the two checkpoints were identical

[2018-01-27 09:46] j00bar opened #35417 "Galaxy Client fails on version comparison in Python 3.6 at install"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION

[code]

Python 2.7:
[code]

Python 3.6
[code]

[2018-01-27 10:06] #34288 closed, assigned to nobody

[2018-01-27 11:11] ksmets opened #35418 "service module doesn't take into account use option nor ansible_service_mgr override"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
service module, docker connection

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Ubuntu 16.04.3 LTS

##### SUMMARY
As part of a CI/CD pipeline, I'm testing my ansible roles using docker containers via `ansible_connection=docker`. However, I can't trick the service module  to (re)start, rel

[2018-01-27 12:47] #33981 closed, assigned to nobody

[2018-01-27 12:55] sampablokuper commented on #9158
@mpdehaan for some people (myself included), the absence of PDF *is indeed a bug*. I'll unpack that for you.

Many projects that use ReadTheDocs have a PDF variant. Also, it is reasonable for users to want and expect such a variant, for all the reasons given at #4265. When such a user looks for the PDF documentation, and cannot find it, the instinctive conclusion is _not_ to say to oneself, "Ah, t

[2018-01-27 13:01] sampablokuper commented on #4265
@mpdehaan clearly, for [numerous](https://github.com/ansible/ansible/issues/4265) people (myself included), the absence of PDF *is indeed a bug*. I'll unpack that for you.

Many projects that use ReadTheDocs have a PDF variant. Also, it is reasonable for users to want and expect such a variant, for all the reasons given at #4265. When such a user looks for the PDF documentation, and cannot find it

[2018-01-27 13:08] sampablokuper commented on #9945
This is still a problem. The main thread for this issue is #4265.

[2018-01-27 13:09] sampablokuper commented on #9945
This is still a problem. The main thread for this issue is #4265.

[2018-01-27 13:09] sampablokuper commented on #9159
This is still a problem. The main thread for this issue is #4265.

[2018-01-27 13:17] sampablokuper commented on #5529
@aw agreed.

Linking this to the related issue #4265.

[2018-01-27 14:03] sampablokuper commented on #13050
@calfonso it doesn't seem reasonable for `make install` to be "not supported", given that Ansible's Makefile is [actively maintained](https://github.com/ansible/ansible/commits/devel/Makefile).

Please re-open this issue accordingly. Thanks :)

[2018-01-27 14:12] dgeo commented on #13644
This discussion follows here: https://groups.google.com/forum/#!msg/ansible-project/Qrq76VLIqKg/81rW5-8kBAAJ (at least)

[2018-01-27 14:24] felipelrz commented on #17083
Try `"{{ UIGUID.stdout | trim }}"`

Source: https://stackoverflow.com/questions/32016123/how-to-remove-the-line-breaker-character-n-from-the-result-of-lookup-module

[2018-01-27 15:33] sampablokuper commented on #7790
@mpdehaan wrote:

I don't read this issue report as requesting that when Ansible is installed in a virtualenv, it should put anything into system directories. Rather, I think it is asking that the man pages be installed in the virtualenv, much as the executables are. I don't think you would get any pushback from anyone about that.

At the moment, such an approach would, I think, be blocked by http

[2018-01-27 15:51] Akasurde commented on #35417
@j00bar Thanks for reporting this issue. This is already fixed in latest (2.5 devel version). You can pull changes from PR https://github.com/ansible/ansible/pull/34427. Let us know if it works for you.

[2018-01-27 15:52] Akasurde commented on #35417
@sivel Do you think we should backport this fix to 2.4 branch ?

[2018-01-27 16:03] arun8796 opened #35420 ""AnsibleError: template error while templating string: no filter named 'http2'"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
trying to create nginx role and ended up with this error

"AnsibleError: template error while templating string: no filter named 'http2'

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULT

[2018-01-27 16:54] sampablokuper commented on #14267
@bcoca , this is still not an entirely solved issue. Its sub-issues (at least, *some* of them?) are being tracked here: #4265, #13050, #7790.

[2018-01-27 17:47] OPSJono commented on #7742
I was looking for a way to force the user to enter the sudo password at the time of running a playbook.
Adding @groggemans suggestion to my playbook does the job perfectly. Thanks!

[2018-01-27 18:11] jmcgill298 commented on #35185
@nilloBE I tested and it does behave as I mentioned. I am pretty sure that is general behavior for relationship objects in the APIC; first look in the local tenant, and look in the `common` tenant if it is not found.

Also, I am pretty sure that these objects to do not even provide a way to specify the Tenant, and I remember looking at this because the consequence of creating an identically named

[2018-01-27 19:43] daBONDi opened #35422 "Windows User cannot checkout devel from github because of ":" as a filename"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Gitrepo itself
/test/units/modules/network/dellos10/fixtures/show_processes_node-id_1__grep_Mem:   <-- there is a : in filename

##### ANSIBLE VERSION
devel

##### CONFIGURATION
Nothing want to fetch devel

##### OS / ENVIRONMENT
Windows 10

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
Clone devel on Windows Systems

##### EXPECTED RESULTS
Ans

[2018-01-27 20:40] daBONDi commented on #34987
N1 you found the same bug i'm having all day long with my windows hosts :-)
THANKS @kinware @jborean93

[2018-01-27 21:23] dizzy0ny commented on #34196
it seems to be that 'include' suffers from the same problem.  if you try to include a task from file and filter by tags, it will still run all the tasks, ignoring the task.

[2018-01-27 22:30] jhawkesworth commented on #35422
I am not able to test it, but I made a pull request to rename the file #35423

@skg-net @gundalow - please can you check and see if its ok to remove the : from the filename - if so please merge #35423

[2018-01-27 22:35] jborean93 commented on #7790
This is no longer necessary, you can run `ansible-doc module_name` to open up the man page equivalent for that module.

[2018-01-27 22:58] jhawkesworth commented on #34226
I haven't succeeded in making this work in 'diff' mode without 'check' mode.

I have put what I have done so far in this branch of my fork here
https://github.com/jhawkesworth/ansible/tree/win-template-diff-experiment

This needs someone with more patience, insight or both than I have right now to fix, so I'm going to park this for now.

[2018-01-28 02:26] jefflill opened #35424 "[ansible-vault decrypt --output=-]: writes extra "Decryption successful" line to the output."
##### ISSUE TYPE
 - Feature Request

##### COMPONENT NAME
**ansible-vault**

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ansible-config dump --only-changed` returned nothing

##### OS / ENVIRONMENT
**Ubuntu 16.04**

##### SUMMARY
Decrypting a file to **stdout** include an extra line of text at the end:

&nbsp;&nbsp;&nbsp;&nbsp;`Decryption successful`

##### STEPS TO REPRODUCE
[code]
##### E

[2018-01-28 02:26] Akasurde commented on #35420
@sakthiom2014 Thanks for reporting this issue. Could you please provide playbook that producing this error and `-vvvv` output ?

needs_info

[2018-01-28 02:50] jefflill commented on #35424
I wouldn't be surprised if this was related to the fix for #31764.

[2018-01-28 02:52] deployable commented on #29234
Yes it can be reproduced.

It appears to be worse now, `dependencies` aren't installed if `node_modules` or sub dirs are missing.  Possibly due to the use of `package-lock.json` now? The existence of `package-lock.json` appears to control if anything installs or not.

Expected behaviour is `npm install`

Attempt to install missing `devDependencies`
[code]

Attempt to install missing `dependencies`

[2018-01-28 02:53] deployable commented on #29234
With `package.json`
[code]

[2018-01-28 04:19] sampablokuper commented on #7790
True, that's better than nothing. But it is non-standard and non-obvious.

That documentation should be accessible using the `man` command; it not should not require an Ansible-specific [anti-pattern](https://en.wikipedia.org/wiki/Anti-pattern) of a command.

As such, this bug report has been closed improperly, because the reported issue has not in fact been fixed. Please can you re-open it?

[2018-01-28 04:30] jerrac opened #35425 "Copy module should check a files directory in the current path"
##### ISSUE TYPE

 - Feature Idea

(Maybe a bug??)

##### COMPONENT NAME

copy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/home/user/project/ansible.cfg) = True
DEFAULT_HASH_BEHAVIOUR(/home/user/project/ansible.cfg) = merge
DEFAULT_HOST_LIST(/home/user/project/ansible.cfg) = ['/home/user/project/inventory.ini']
DEFAULT_ROLES_PATH(/home/user/project/ansible.cfg) = ['/home/us

[2018-01-28 07:21] Akasurde commented on #33969
@lshake Any news?

[2018-01-28 08:30] afh commented on #18721
I'm seeing the issue as well with Ansible version 2.4.2.0.

Any updates or hints what could be the cause of this?

[2018-01-28 08:53] Akasurde commented on #35012
@SaranrajMG Could you please try with latest Ansible version ? Datastore cluster support is not available in 2.4 version. Also, does your datastore cluster enabled with Storage DRS ?

[2018-01-28 09:08] Akasurde commented on #35012
@talhajilal Your issue is different than @SaranrajMG issue. Could you please a new issue for you situation?

[2018-01-28 09:13] afh commented on #18721
The merged PR #13451 fixes the issue, yet it seems the changes only made it to the [stable-2.0](https://github.com/ansible/ansible/tree/stable-2.0) branch, but not into other branches relevant for the current releases.

@bcoca as the author and merger of PR #13451, would mind having another look?
I'd also be interested in an explanation of what the issue is here :)

@jforman, @tolbrino, FWIW I was

[2018-01-28 09:21] Akasurde commented on #34746
@dkirrane Could you please re-try using latest Ansible version, as it will return more debugging messages - https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest.py#L1512 ?

[2018-01-28 09:55] Akasurde commented on #33284
@mowntan I am not sure how you created DV Portgroup in different DVS. I tried to create same environment but failed to create same name DV PG on two differenet DVS. Let me know if I am missing anything.

[2018-01-28 09:59] chopraaa commented on #35425
Seems to work as intended and as desirable.

I don't see the point in not respecting paths relative to the playbook.

[2018-01-28 10:06] jctanner commented on #11340
needs_contributor

[2018-01-28 11:32] akloeber commented on #29407
There is already an open issue for that: https://github.com/npm/npm/issues/17702

[2018-01-28 12:00] pescobar opened #35426 "unarchive module doesn't apply owner/group to top folder"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unarchive module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ansible-config dump --only-changed` reports no changes

##### OS / ENVIRONMENT
Centos7 python 2.7.5

##### SUMMARY

The owner/group is properly applied for all the files inside the tarball but not for the top folder

[code]

but notice that the top folder `.` is still owned by

[2018-01-28 14:42] #30328 closed, assigned to nobody

[2018-01-28 16:12] SaranrajMG commented on #35012
Thanks for your reply.

Yes. In all my datastore DRS enable.

Which version to be used?

On 28-Jan-2018 2:24 PM, "Abhijeet Kasurde" <notifications@github.com> wrote:

[2018-01-28 16:24] ostcar opened #35428 "nsupdate module, tsgi key by file or local"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
nsupdate_module

##### ANSIBLE VERSION

[code]

##### SUMMARY

Currently, the only way to specify the tsgi key is by giving the key_name and key_secret. But bind9 has the nice feature, that a local key is generated when bind9 starts, so it is not possible to have the secret in the playbook.

Therefore it would be nice, if the key could be sele

[2018-01-28 17:14] talhajilal commented on #35012
Sorry for interruption and adding my issue at wrong place.

I also fine the solution Ip was going to iffy-ether file that I handle with first-boot script

[2018-01-28 18:27] dagwieers commented on #35426
This is an issue with the archive you are referring to. The top-folder is not part of the archive, while the other files are. Since the ownership and permissions are part of the archive as well, what would the ownership/permissions be of the folder that is **not** part of the archive ?

It is very simple, we cannot assume or invent the ownership/permissions of a folder that is missing from the arc

[2018-01-28 18:51] ssbarnea opened #35429 "Ansible should have a netrc lookup module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lookups
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
##### OS / ENVIRONMENT
N/A
##### SUMMARY
Often there is a need to used credentials (user/password) for specific services and usage of `.netrc` files for storing these credentials a a very common way because they are supported by a huge number of libraries (including libcurl or python re

[2018-01-28 19:30] pescobar commented on #35426
hi @dagwieers

I am not sure if I am missing something but I haven't created the top folder. The top folder is automatically created when I extract the tarball so I assume it is part of the archive.

You can see here that the top folder `apache-tomcat-8.5.27` is listed when inspecting the contents of the tarball:

[code]

[2018-01-28 19:51] jborean93 commented on #35422
Fix added with https://github.com/ansible/ansible/pull/35430, waiting on network people's approval. One thing I want to add to the tests is a checkout on Windows to try and avoid this from happening in the future. Unfortunately this won't be an easy thing to do.

[2018-01-28 20:22] #35422 closed, assigned to nobody

[2018-01-28 20:24] dagwieers commented on #35426
The top-directory is not listed. The conf/ sub-directory _is_ included. So Ansible cannot  just make up ownership/permission. This must be fixed in the archive.

[2018-01-28 20:27] chipgwyn opened #35431 "nxos_snmp_user removes encryption if user and encryption already configured"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_snmp_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If an snmp user is already configured with encryption and the module option 'encrypt' is set to True, then encryption will be removed from the user. Subsequent run will add it back.  Next run will remove it again.

This seems to happ

[2018-01-28 20:50] hc42 commented on #35374
I had also problems with the unarchive module extracting a zip file. In my case ansible installed via homebrew on osx 10.13.3 and the target machine was FreeBSD 11.1 Release. Possibly an incompatibility with BSD unzip?

[2018-01-28 20:56] zeeMonkeez commented on #35374
@hc42 Were you able to fix it? The weird thing is that on it works on my other test system, which also has homebrew installed.

[2018-01-29 00:27] bobsaintcool opened #35435 "Modules failed version comparaison with Python 3.6"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
hostname

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
  * Running: Linux Arch / Linux
  * Managing: Linux Arch / Linux

##### SUMMARY
With python 3.6 on the managed node raise some error while using hostname module.

##### STEPS TO REPRODUCE
[code]

With python2 set with `ansible_python_interpreter: /usr/bin/

[2018-01-29 01:04] JawnZ commented on #16894
@abugher-at-nvidia did you ever find a solution to this?

I'm experiencing this right now. Ansible is running this command:
`SSH: EXEC sshpass -d12 ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o Port=22 -o ConnectTimeout=10 -o ControlPath=/home/user/.ansible/cp/b4bd7c2a58 192.168.1.45 '/bin/sh -c '"'"'echo ~ && sleep 0'"'"''`

and it gets stuck waiting for the passphrase for my key. Ev

[2018-01-29 01:52] jborean93 commented on #35413
When doing a TLS check on `https://www.consul.io/downloads.html` it is showing that only TLS 1.2 is available https://www.ssllabs.com/ssltest/analyze.html?d=www.consul.io&s=2a04%3a4e42%3a200%3a0%3a0%3a0%3a0%3a439&latest. Annoying on older version of .NET Windows will only run over TLS 1.0 even if the newer protocols are available.

I'm in the middle of trying to fix a few different bugs for this m

[2018-01-29 04:06] #32109 closed, assigned to nobody

[2018-01-29 04:09] Akasurde commented on #35012
@SaranrajMG Try latest devel version (i.e. 2.5) and let me know if it works for you.

[2018-01-29 04:19] atrauzzi opened #35437 "/bin/sh: 1: powershell: not found""
- Bug Report

##### COMPONENT NAME
winrm

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Windows Subsystem for Linux
(Ubuntu)
[code]

##### SUMMARY
Unable to use winrm to perform tasks against my Windows host.

###### inventory.yml
[code]

###### development-workstation.yml
[code]

##### EXPECTED RESULTS
Chocolatey to be installed and used to add packages to the system, Hyper-V to be enabled

[2018-01-29 04:51] jborean93 commented on #35437
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-01-29 04:51] #35437 closed, assigned to nobody

[2018-01-29 06:00] kmadnani commented on #13226
this issue affects me too.

[2018-01-29 07:32] ganeshrn commented on #33993
@brainclots In the current implementation, the logic of fetching the current cli prompt is not correct. For fetching the current device prompt terminal plugin executes `\r` on the remote host which is not required as the current matched prompt is stored in `_matched_prompt` variable of network_cli's `Connection` object.

I have raised a PR to fix this issue.
https://github.com/ansible/ansible/pull

[2018-01-29 08:10] ganeshrn commented on #33993
@brainclots If you are still facing issue after applying patch in PR #35439
Can you add more debug logs as given here  https://gist.github.com/ganeshrn/eb722f185d14f42128e4a62498c44640 in `network_cli.py` file in your running environment and check the log file if the values of `become_pass` and `prompt` is as expected?

[2018-01-29 08:11] hryamzik opened #35442 "win_nssm: service doesn't start"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_nssm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS 10.13 => Microsoft Windows Server 2012 R2 Standard, `"ansible_powershell_version": 4`

##### SUMMARY

Service got registered but doesn't start

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

consul service started

##### ACTUAL RESUL

[2018-01-29 08:11] Akasurde commented on #35435
@bobsaintcool Thanks for reporting this issue.

[2018-01-29 08:46] hc42 commented on #35374
Hi @zeeMonkeez,
my fix was to use the unzip via the raw module. Not elegant but worked for me. I would prefer the unarchive module. By the way here is a vagrant setup to reproduce.

[Vagrantfile](https://github.com/ansible/ansible/files/1672812/Vagrantfile.txt)
[test.yml](https://github.com/ansible/ansible/files/1672813/test.yml.txt)

[2018-01-29 09:00] trishnaguha opened #35443 "ios_user failing with Invalid input detected at"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

modules/network/ios/ios_user
##### ANSIBLE VERSION

[code]
##### SUMMARY

Setting `newline` to `False` causes the issue https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/ios/ios_user.py#L188

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Run successfully
##### ACTUAL RESULTS

[code]

If `newline` is changed

[2018-01-29 09:21] ganeshrn commented on #35443
@trishnaguha This is a known issue and PR https://github.com/ansible/ansible/pull/35361 is raised to fix this.

[2018-01-29 10:12] agaillar opened #35445 "[Ansible 2.4.2.0] Plugin lookup not found"
##### ISSUE TYPE
 - Bug Report
 - Question

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
\# set plugin path directories here, separate with colons
action_plugins     = ./plugins/action
cache_plugins      = ./plugins/cache
callback_plugins   = ./plugins/callback
connection_plugins = ./plugins/connection
lookup_plugins     = ./plugins/lookup:/usr/users/xxxxxx/apps/ansible/

[2018-01-29 10:38] wknapik opened #35446 "Add ansible_shell_interpreter, or some other way to globally set the executable used by the shell module"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
shell

##### ANSIBLE VERSION
[code]
2.5.0.34964.01091cddf6-1

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A

##### SUMMARY
There should be a way to set the preferred shell executable globally, instead of having to do it in every single shell module invocation.

I have a bunch of roles he

[2018-01-29 11:03] #23539 closed, assigned to rcarrillocruz

[2018-01-29 11:22] xcambar commented on #29389
Closing for lack of response.

close_me

[2018-01-29 11:23] xcambar commented on #29240
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

[2018-01-29 11:27] lupupitkanen commented on #29389
@xcambar I'm able to test this during the next 2-3 days, please hold on.

[2018-01-29 11:28] #29389 closed, assigned to nobody

[2018-01-29 11:30] ssbarnea opened #35448 "xml: cannot update using xml block"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
xml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
At this moment it is impossible to use xml module to replace and entire block of XML inside a file.

The `value` attribute is always escaped by the `xml` module which means that you will endup with some text instead of real xml.

##### STEPS TO REP

[2018-01-29 11:31] xcambar commented on #29389
Ping back if you have any problem. We'll consider reopening then.

[2018-01-29 11:35] torkkarim opened #35449 "panos raw module issue"

[2018-01-29 11:35] xcambar commented on #29390
Duplicate of #29407, identified as a bug in npm

close_me

[2018-01-29 11:36] xcambar commented on #20546
Duplicate of #29407, identified as a bug in npm

close_me

[2018-01-29 11:37] torkkarim commented on #35449
raw module is working fine with Juniper Junos but not with PAN PANOS

[2018-01-29 11:42] #29390 closed, assigned to nobody

[2018-01-29 11:42] #20546 closed, assigned to nobody

[2018-01-29 12:24] marinus81 commented on #35304
@dagwieers I cannot think of any negative effects this might have on my current (or any potential future) usage of the ACI Ansible modules. So my feedback would be thumbs up.

Error messages - I was refering to the difference how the ACI modules display an error depending on the verbosity level (`-vvv`). Upon closer look I also see now that as you said the info about the error is the same, just wi

[2018-01-29 12:25] xcambar commented on #34282
Hey @mike-pt, I'll be happy to discuss this in a broader feature request for Mac.

As you mentioned, the homebrew package also has a larger set of rules/constraints for PATH management, so it makes sense to open up the discussion to the global ansible project.

I'll close this issue again as it is neither a bug nor npm specific, but I'll be happy to follow up on a dedicated issue.

close_me

[2018-01-29 12:29] #34282 closed, assigned to nobody

[2018-01-29 12:45] kyliel commented on #32027
@zikalino , could you please attach the PR for ACR here and close this one? Thank you.

[2018-01-29 12:55] DockerAsura opened #35455 "unarchive module not working "ansible_module_unarchive.py", line 151, in <module>""
Hi there,

trying to un-archive from ansible controller machine to remote...

But, it's throwing error's...
Error  :-

FAILED! => {"changed": false, "msg": "Failed to find handler for \"/root/.ansible/tmp/ansible-tmp-1517223206.85-97800010944286/source\". Make sure the required command to extract the file is installed. Commands \"gtar\" and \"tar\" not found. Command \"unzip\" not found."}

Code:-

[2018-01-29 12:59] torkkarim commented on #35449
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
raw
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Managing OS:  Ubuntu 14.04 LTS
Managed OS:  PANOS VM series version 8.0.5
##### SUMMARY
when running an ad hoc command similar to the following on PANOS no answer is produced:
ansible all -i /etc/ansible/hosts -m raw -a "show system software status" -vvv -u admin -k

##### STEPS TO REPRODU

[2018-01-29 12:59] xcambar commented on #26384
Hi,
Can the issue be reproduced with a recent ansible (2.4 or devel)?

As the new maintainer of the npm module, I am flooded by year-old issues. So as a triage strategy, any silent issue will be closed after 10 days unless you confirm your issue still exists in recent versions.

@jmvbxx you seem to indicate you only had the issue with Node 4. Considering [Node 4 will no longer be maintained as of

[2018-01-29 13:06] sysnet4admin commented on #16010
I would like to add same behavior so that install the role from ansible-galaxy.
It doesn't happen 1 month ago...So I will try this symptom from other system.

[vagrant@ansible-server .ansible]$ ansible --version
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/vagrant/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible pyth

[2018-01-29 13:09] xcambar commented on #29246
Starting with npm 5, the contents of the `node_modules` folder should always match the contents of your `package.json`, so you shouldn't need to run `npm prune` anything (`npm install` will remove the extraneous packages found in `node_modules` and not declared in/useful for `package.json`).

If you're using npm 5 (or more recent), can you elaborate a bit more on your situation and why you would w

[2018-01-29 13:14] DockerAsura commented on #35455
##### COMPONENT NAME
[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu 16.04

##### SUMMARY
Try using the unarchive module with file.

[code]

##### ACTUAL RESULTS

[code]

[2018-01-29 13:50] itdependsnetworks opened #35457 "_config fails to push config with int only in a line"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iosxr_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu

##### SUMMARY

If there is only an interger that is meant to be pushed, the configuration does not get pushed. This is fixed in devel, but IMHO should be addressed in 2.4 as well, as there is a larage arch change with

##### STEPS TO REPRODUCE

[c

[2018-01-29 13:59] resmo opened #35459 "[2.5] tagged include_tasks with --tags not executed"
tagged tasks with include_tasks are not executed with matching `--tags <name>`. This looks like to be a regression to 2.4

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

See https://github.com/resmo/ansible-tmp-tagged-indlude-tasks

##### EXPECTED RESULTS

in

[2018-01-29 14:32] hryamzik opened #35460 "win_wait_for does not detect open port"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_wait_for

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS 10.13 => Microsoft Windows Server 2012 R2 Standard, `"ansible_powershell_version": 4`

##### SUMMARY

Module doesn't detect opened port.

##### STEPS TO REPRODUCE

1. Run any http server, I used consul.
2. Check state with ansible

[code]

##### EX

[2018-01-29 14:54] kyliel commented on #33661
Thanks for info. What is your host env? For example, ubuntu 16.04? I am using Ubuntu and does not see this issue. Let us see whether we could reproduce with your host env.

[2018-01-29 14:56] torkkarim commented on #35449
Same issue on version 2.4.2.0

[2018-01-29 14:56] EyePulp commented on #26384
Howdy @xcambar, congrats(?) on taking over the npm module =)

Just successfully ran an ansible playbook
- `node v8.9.4`
- `npm v5.6.0`
- `Ansible v2.4.2.0`

I'm not saying it's no longer an issue, but something has improved.

[2018-01-29 14:59] liamraemclauchlan-ibboost commented on #33661
@kyliel - my distro and OS is up above in the first post.

[2018-01-29 14:59] liamraemclauchlan-ibboost commented on #33661
Sorry, misclicked 👎

[2018-01-29 15:00] kyliel commented on #35360
We are working with Matt and Lauren on a long-term solution for API versioning. @yuwzho please help see what happened here. Thanks.

[2018-01-29 15:02] kyliel commented on #35235
Thank you for reporting it. @yuwzho, we need someone help take a look.

[2018-01-29 15:05] kyliel commented on #35223
Thank you for reporting the bug. @yuwzho and @zim, could we have a quick fix for Azure China? Thanks.

[2018-01-29 15:09] sivel commented on #11340
Resolved by https://github.com/ansible/ansible/pull/35299

[2018-01-29 15:09] #11340 closed, assigned to nobody

[2018-01-29 15:15] sivel commented on #35435
@bobsaintcool we decided in the core irc meeting, that we would not perform a blanket fix for all modules that _may_ be impacted.  Instead, we decided to fix each module on a case by case basis.

Likely aiming for better solutions that using `distutils.version` without adding any extra dependencies.

It seems to me that in this particular module, we could sanitize the data we are getting back from

[2018-01-29 15:17] MarSik commented on #34281
We have similar need. We have a main playbook that prepares the system, but we allow the user to provide some extra steps by creating a playbook files in a well known directories. We do not know what files will be present there in advance. For this we would really like to have include_playbook that supports with_fileglob (or with_items).

[2018-01-29 15:21] MarSik commented on #34281
Just to explain why include_tasks is not enough. The system is clustered and the tasks talk to localhost, other physical hosts and virtual machines. We could in theory use delegate_to if it supported host groups.

[2018-01-29 15:26] atrauzzi commented on #35437
Thanks @jborean93, I appreciate it! I'll give those a shot and follow up on other forums if it doesn't work out.

[2018-01-29 15:36] codidex opened #35463 "docker_container: Always recreates container when mac_address is used"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
* Source Host : Debian 8
* Target Host : Debian 8
* Target docker:
[code]
* Target docker-py:
[code]

##### SUMMARY
When mac_address is specified, ansible always recreates the container on the target host.

##### STEPS TO REPRODUCE

Run this task twic

[2018-01-29 15:44] sivel commented on #35414
cc @mattclay

[2018-01-29 16:04] sivel commented on #35463
The cause here, appears to be due to the format of the mac address that you are providing.  Per the docker [documentation](https://docs.docker.com/engine/reference/run/#network-settings) the format should be:

[code]

Whereas you are supplying `-` instead of `:`.  It appears as though the API understands, and can convert this, however later when the comparison is made, the docker API sends back a

[2018-01-29 16:09] sivel commented on #35459
After looking at your reproducer, this is expected in 2.5.

tags applied to a dynamic `include_*` only apply to the dynamic include itself, and are not inherited by  the tasks within.

See https://github.com/ansible/ansible/pull/35199 for more information.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://group

[2018-01-29 16:09] #35459 closed, assigned to nobody

[2018-01-29 16:09] #26669 closed, assigned to Akasurde

[2018-01-29 16:11] sivel commented on #35455
Where is your `tar` binary located?

needs_info

[2018-01-29 16:11] s-hertel commented on #21871
Fixed in d877c146ab750c0f1505b4180e4170163d854fb5.

[2018-01-29 16:11] #21871 closed, assigned to nobody

[2018-01-29 16:17] sivel commented on #35418
I believe there is a misunderstanding in what the `use` parameter is intended for. The `use` parameter is utilized in the `service` action plugin, to pick the correct ansible "service" module to execute.

The `service` module is a generic fallback, and the `use` parameter would influence whether the `service` module should be utilized, or the `systemd` module should be utilized.  Currently there a

[2018-01-29 16:17] #35418 closed, assigned to nobody

[2018-01-29 16:21] sivel commented on #35445
This change is documented in the porting guide at http://docs.ansible.com/ansible/devel/porting_guide_2.4.html#configuration

All paths are relative to the ansible.cfg file, which would indicate that ansible is looking for your plugin at:

[code]

Per that porting guide, there is a new macro called `{{CWD}}` which may resolve your issue.

If you have further questions please stop by IRC or the mai

[2018-01-29 16:21] #35445 closed, assigned to nobody

[2018-01-29 16:21] alikins commented on #35142
@millsks This BoKS (https://foxt.com/boks-server-control/) ?

I'm not aware of any work being done on that. Or at least I don't see any pull requests or other feature requests related to it.