[2018-04-03 17:27] sekharvajjula commented on #38214
Hi,
Yes the issue is reproducable in later version as well. Please check the below logs.

[shekar@Fedora23 tasks]$ ansible --version
ansible 2.4.3.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/shekar/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable locat

[2018-04-03 17:36] DmitryRomanenko commented on #38037
@mtthb IMHO without `import_tasks` it's a feature, not a bug: http://docs.ansible.com/ansible/2.5/porting_guides/porting_guide_2.5.html#dynamic-includes-and-attribute-inheritance

But with it it's a bug because these internal tasks (inside `include_tasks`) lose their static context of `import_tasks`.

[2018-04-03 18:08] cloos commented on #38213
-label affects_2.6
+label affects_2.5

[2018-04-03 18:45] einarc commented on #25929
Here's the original ticket,  @msven  Found it is related to the replace_all_instances flag.
https://github.com/ansible/ansible/issues/28087

[2018-04-03 18:48] mpeter13 opened #38233 "sts_assume_role - Region us-east-1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

sts_assume_role
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Ansible 2.4
boto 2.48

##### OS / ENVIRONMENT

##### SUMMARY

I can use boto outside of Ansible and assume the role fine.

##### STEPS TO REPRODUCE

Execute Playbook

[code]

##### EXPECTED RESULTS

AWS Role is assumed

##### ACTUAL RESULTS

Error:
Region ['us-east-1'] does no

[2018-04-03 18:51] transamfire85 commented on #37912
I am in the exact same situation as @cjauvin where my requirements.txt is in a particular location that I `chdir` into

[2018-04-03 18:53] flowerysong commented on #38227
You can do this in a single task with existing functionality by looping:

[code]

(Ansible <2.5 would need `with_list` instead of `loop`, but should otherwise work identically.)

[code]

[2018-04-03 18:59] AjG1tHub opened #38234 "State changed to "absent" when attempting to create directory"
##### ISSUE TYPE

 - Bug Report

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Using: OSX
Creating box: Ubuntu14.04
##### SUMMARY

I'm attempting to create an ansible box using docker, and preinstall a .tgz java file. When trying to create the directory, I get the following error
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Directory should be

[2018-04-03 19:19] jhawkesworth commented on #38232
Looks like a python3-specific error.
@poiriermike if this is causing you immediate problems, as a workaround you might be able to get this working using python 2.x to run ansible with.

[2018-04-03 19:20] htbase opened #38236 "Container UNREACHABLE!"
Hello there

We are trying to use Ansible to control LXD, the activities to create, start, stop and delete containers work well but when we try to install any software inside the container, it fails with the following message:

fatal: [host1]: UNREACHABLE! => {"changed": false, "msg": "container not found: mycontainer", "unreachable": true}

We are trying to use the sample template provided by Ans

[2018-04-03 19:20] pilou- commented on #38100
From 2018-04-03 meeting:

[2018-04-03 19:27] babbottscott commented on #34536
Also affects 2.5.  Guessing this is a boto2 shortcoming.

[2018-04-03 19:34] wbreeze commented on #38190
Cool!

[2018-04-03 19:38] jborean93 commented on #38232
I'm not sure it is a Python 3 error, I think what is happening is that the win_updates task is failing and not updating the `changed` return value in the json. We should be able to handle this and return the message that actually happened.

[2018-04-03 19:40] rmsys commented on #35580
Hey guys, thanks attention.

But, how to confirm this "Be sure you are executing the filesystem and mount module on the ec2 instance itself, not on localhost." ?

[2018-04-03 20:02] maxamillion commented on #38222
This bug report contains no information so I'm closing it. Please feel free to open a new one with information about the bug so that we may resolve the issue. Thank you.

[2018-04-03 20:02] #38222 closed, assigned to nobody

[2018-04-03 20:02] IvanovOleg commented on #38193
I think this issue is probably Azure specific

inventory:
[code]
playbook:
[code]

It does the action, but returns:
`changed: [test-tmp-agent-0 -> None]`

I also use the modified azure_rm.py dynamic inventory that builds the groups tree and allows to access them that way.

[2018-04-03 20:11] nwsparks commented on #37795
Thanks. Based on the output it looks like you're defining a host header for the default 80 binding. Can you please specify the host header when removing the binding, like below and let me know if this resolves it? The module now matches on all 3 fields, whereas previously it did not.

[code]

[2018-04-03 20:18] s-hertel commented on #36083
Reenabled test in 873a9ddf8dc37086aa8998c248310a23ae518c9d.

[2018-04-03 20:26] maxamillion commented on #38234
!component +=./lib/ansible/plugins/action/copy.py
!component +=./lib/ansible/modules/files/copy.py

[2018-04-03 20:31] maxamillion commented on #38234
I'm unable to reproduce here with the information provided, I'm guessing I'm not setting something I should or I am setting something I shouldn't but either way I think there's a variance in our test scenarios. Can you please share a full playbook as the command you're running that causes the issue?

[2018-04-03 20:31] maxamillion commented on #38234
needs_info

[2018-04-03 20:32] szhem commented on #38227
@flowerysong, that's great! thanks a lot! Then I'm closing this issue.

[2018-04-03 20:32] #38227 closed, assigned to nobody

[2018-04-03 20:45] IvanovOleg commented on #38193
Ok, I've investigated the issue. The problem is in the azure_rm.py script. It sets
`host_vars['ansible_host'] = public_ip_address.ip_address` only if public ip exists. I've added the `host_vars['ansible_host'] = ip_config.private_ip_address` outside of the condition and got:
  `changed: [test-tmp-agent-0 -> 10.10.0.7]`

[2018-04-03 21:10] maxamillion commented on #38214
cc @bcoca @jimi-c @agaffney

[2018-04-03 21:12] s-hertel commented on #38123
Glad that fixed it for you @guybluebat. I'm going to reopen so I don't forget about it because I think it's worth fixing since backward compatibility was broken in 2.4.

[2018-04-03 21:29] bcoca commented on #38214
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As I mention above, `label` controls the item display in the header, not in the contents. Normally the item is not displayed, when the

[2018-04-03 21:29] #38214 closed, assigned to nobody

[2018-04-03 21:33] einarc commented on #28744
@carawarner  There is, use aws cli and forget about this. Just do shell: aws s3 cp src dest.

You'll need:
1.-Access to the AWS s3 api with either role or passing credentials to the awx user via environment variables:
If you have Tower it's easy, the Keys are set at run time when you run a job. If you are running ansible from console then I'd suggest you use vault.
Here's an example for Tower, add

[2018-04-03 21:35] chenww opened #38241 "os_volume fails with "shade is required for this module""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_volume

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I upgrade ansible version from 2.4.3 to 2.5.0 and os_volume failed; revert back to 2.4.3, everything is fine.
Strange thing is os_server module works in 2.5.0, but not os_volume module.

no venv is configured; ansible and shade both

[2018-04-03 22:14] bcoca commented on #38236
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-04-03 22:14] #38236 closed, assigned to nobody

[2018-04-03 22:24] poiriermike commented on #38232
I've first noticed this issue in Python 2.7. I bumped the version of an AWX task container 1.0.4.14 to 1.0.5.19 (incrementing Ansible to 2.5).

I filed the issue with the stdout from my local machine which was using 3.5

[2018-04-03 22:33] maxamillion commented on #38199
Upon further investigation, this appears to be a bug in `jinja2/lexer.py`. Need to look into this further.

[2018-04-03 22:39] willthames commented on #38233
I can't reproduce this problem.

Can you share the full run of a playbook with just this task with `-vvv` (feel free to redact any sensitive info)

It might also be worth checking for unexpected environment variables, and also testing whether Ansible 2.5, which has sts_assume_role rewritten for boto3, works any better.

[2018-04-03 22:51] #34225 closed, assigned to nobody

[2018-04-03 22:53] sivel commented on #38199
Using the following reproducer, produces a successful result:

[code]

output:
[code]

Note that I had to use `\\` when defining `expected`, as well as using `\\\\` inside of the templating

[2018-04-03 23:41] dagwieers commented on #38212
Yup, I saw the same thing last week, and it wasn't like this 10 days ago when v2.5 was released.

[2018-04-04 00:26] #36959 closed, assigned to nobody

[2018-04-04 01:18] conlon commented on #15179
@jimi-c  This is really heavy-handed and restrictive considering role defaults have the lowest precedence and role params are NINETEEN out of 24 levels of precedence higher.

I'd like to use two roles' defaults in conjunction with group_vars, but I'm SOL because of this.

[2018-04-04 01:28] #37621 closed, assigned to nobody

[2018-04-04 02:03] willthames commented on #28744
Workaround - you should be able to use the latest aws_s3 module with 2.3.2

https://willthames.github.io/2017/12/12/using-updated-modules-with-stable-ansible.html

[2018-04-04 02:11] conlon commented on #15179
for a second I thought the new `include_role` module might be a solution to this situation, but it's had a breaking bug for over a year and counting 😐 https://github.com/ansible/ansible/issues/21890

[2018-04-04 02:12] willthames commented on #28744
Closing this issue as 2.3.2 is now only in critical bug fix mode and the issue does not occur in latest 2.4 releases onwards.

https://docs.ansible.com/ansible/2.5/reference_appendices/release_and_maintenance.html

[2018-04-04 02:12] #28744 closed, assigned to s-hertel

[2018-04-04 02:13] akhilputhiry commented on #20492
@ryansb Thank you for the help. But unfortunately it didn't fix the issue.

[2018-04-04 03:33] ravindranathakila commented on #20492
nix

[code]

[2018-04-04 04:24] #37990 closed, assigned to ganeshrn

[2018-04-04 04:39] savishy commented on #38198
@yuwzho  Could I request this issue be reopened?

* I ran the playbook again, making note of the parameter name: `source_address_prefixes` instead of `source_address_prefix`.
* It seems this parameter was silently ignored. In the invocation I see it has passed in `"source_address_prefix": "*"`
* This causes the NSG to be created with no `source_address_prefix` i.e. it is open to the world. (This i

[2018-04-04 05:19] salman1485 opened #38253 "snmp_facts cannot import pysnmp"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

snmp_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

-bash-4.2$ ansible-config dump --only-changed
DEFAULT_LOG_PATH(/var/lib/awx/projects/networktmp/ansible.cfg) = /var/lib/awx/projects/Logs/networktmp/networktmp.log

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4

##### SUMMARY

Requirement:
I want to use snmp_f

[2018-04-04 05:30] sayantandas opened #38254 "get_url downloads corrupt files when run behind proxy"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04 LTS"

##### SUMMARY

using get_url behind proxy downloads corrupt files. Below is the playbook used to download and run jenkins. when

[2018-04-04 05:33] cahlchang commented on #32113
I think that this issue behaves according to Jenkins' specifications.

These special characters are prohibited characters in XML.
Therefore, Jenkins which defines job in XML may be performing escape processing.

If you use special characters such as HTML, handling using the template module may work.

e.g.

[code]

[code]

[code]

Also, I think that putting the option to escape XML is also a soluti

[2018-04-04 05:36] corbinstuard opened #38255 "vmware_portgroup always fails with 'NoneType' object has no attribute 'policy'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_portgroup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = False
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=2000s
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = /tmp/%%h-%%p-%%r
ANSIBLE_SSH_CONTROL_PATH_DIR(/etc/ansible/ansible.cfg) = /tmp

[2018-04-04 05:37] sayantandas commented on #38254
when I downloaded with with checksum enabled in get_url , it failed the check

[code]

[2018-04-04 06:13] willthames commented on #37834
Can you test the fix in #38243 ?

[2018-04-04 06:22] guptajiten opened #38257 "Playbook hangs while connecting to Windows Host(in Gathering Facts) but works fine pinged using win_ping"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

/etc/ansible/modules/windows/setup.ps1

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
COMMAND_WARNINGS(/etc/ansible/ansible.cfg) = True
DEFAULT_ACTION_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/plugins/action']
DEFAULT_CACHE_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/plugins/cache']
DEFAULT_CALLBACK_PLUGIN_PATH(/e

[2018-04-04 06:27] ReinerNippes commented on #37834
The fix is fine. Fixed the wrong/missing error message.
Now it says:

Since my snapshot copies take more than one hour I need the ability to increase "max attempts".
We re-encrypt the snapshots with a new key in aws. And this takes appr. 1h per 200GB.

In ec2_ami.py there is a wait_timeout. I Think it's this part of code:

`if wait:
  waiter = connection.get_waiter('image_available')
  delay = wai

[2018-04-04 06:33] yuwzho commented on #38198
@savishy Sure, I get your question, please reopen it and I will add it to my backlog

[2018-04-04 07:16] mkrizek commented on #37850
@Akasurde should we close this since https://github.com/ansible/ansible/pull/34925 is merged?

[2018-04-04 07:28] ZuZuD commented on #37834
@ReinerNippes #38243 is a new PR to set max_attempts for the module ec2_snapshot_copy. It adds the "wait_timeout" parameter. Could you try it out?

[2018-04-04 08:18] savishy commented on #38198
@yuwzho I don't see a Reopen option. Just an option to comment. Perhaps you can reopen from your side.

[2018-04-04 08:20] KarnGusain opened #38261 "ansible lineinfile module not working as expected"
I have created a Playbook to replace the Entry in a file using a lineinfile module, while i tried running it run and replace in entry on the one host while not on the another host, i don't understand why? as it doesn't report any error even on the debug mode. Do i need to have some another regex pattern.

[code]
Hostvar Inventory File:
[code]
Destination File contents:

[code]
Ansible Version: ans

[2018-04-04 08:26] Akasurde commented on #37850
Yes. We can.
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-04-04 08:26] #37850 closed, assigned to nobody

[2018-04-04 08:46] yuwzho commented on #38198
I also don't have the reopen button...

[2018-04-04 08:52] yuwzho commented on #38078
-label bug
+label feature

[2018-04-04 09:16] Vladimir-csp opened #38262 "Better handling of tags inside dynamic includes"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

core
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

With ansible 2.5 tags on dynamic includes no longer inherited by tasks inside dynamic includes.
I think there is a better non-disruptive solution:
1. Keep `tags:` inheritable, so it would not be a behavioral exception limited to dynamic in

[2018-04-04 09:24] strk commented on #35595
Hi there, I won't have time any soon to test this so don't
wait for me. Happy hacking !

[2018-04-04 09:25] NomAnor commented on #30246
I was affected by this, see #16935.

[2018-04-04 09:28] thorus90 opened #38263 "vmware_guest vim.fault.NoPermission only 2.5.0a1 and above"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HASH_BEHAVIOUR(/home/jrottmann/Dokumente/ansible/ansible-root/ansible.cfg) = merge
DEFAULT_REMOTE_USER(/home/jrottmann/Dokumente/ansible/ansible-root/ansible.cfg) = root
DEFAULT_SCP_IF_SSH(/home/jrottmann/Dokumente/ansible/ansible-root/ansible.cfg) = True
##### OS / ENVI

[2018-04-04 09:32] yuwzho commented on #23705
close_me

Since this bug is resolved

[2018-04-04 09:38] grez86 opened #38264 "fortios modules - support for custom SSH port needed"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

fortios_address
fortios_ipv4_policy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Need to be able to specify a custom port to connect to a Fortigate device.
In our environment all Fortigates configured with custom SSH port and because of that I cannot use Ansible to automate them.

##### STEP

[2018-04-04 09:45] moenka commented on #16600
Working with ansible==2.5.0 the problem still persists. I can only see the includes but not the tasks that would be run within the included plays/roles. Please make `--list-tasks` recursive. I also like to know which role/playbook is included.
[code]

[2018-04-04 09:47] squeeb opened #38265 "dellos6_config fails with `"err": "socket_path does not exist or cannot be found"`"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

dellos6_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]

##### SUMMARY

using the existing `connection: local` or the new `connection: network_cli`, tasks involving the `dellos9_config` module appear to yield the following errors:

[code]
##### STEPS TO REPRODUCE

The task involved is:

[code]

[2018-04-04 09:49] juanvalino commented on #38208
@sivel, where is new q/query documented?

[2018-04-04 09:53] Akasurde commented on #38263
@thorus90 Thanks for reporting this issue. What are the permissions of username used ?

[2018-04-04 10:43] pkhural commented on #38141
also experiencing the same issue

[code]

[code]

[2018-04-04 10:49] Akasurde commented on #38263
@thorus90 I would like to know exact privileges assigned to user that is running vmware_guest module. Could you please run this [script](https://github.com/Akasurde/pyvmomi_examples/blob/master/get_user_privileges.py) with appropriate role name?

needs_info

[2018-04-04 10:56] Skarzee commented on #27078
The introduction of YAML as stated by @geerlingguy is indeed excellent, this has allowed me to remove my callback plugins entirely. Write in YAML, read in YAML.

[2018-04-04 11:19] Alexhha opened #38267 "Unarchive takes too much time"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Unarchive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
All defaults

##### OS / ENVIRONMENT
Ubuntu: 16.04

##### SUMMARY
Unarchive takes too much time, 10x more than plain unzip command

##### STEPS TO REPRODUCE
1. Create archive with 200k+ files
2. Run the following command ```ansible-playbook -i hosts.ini unzip.yml```

[code]

##### EXPE

[2018-04-04 11:56] kalaisubbiah commented on #38024
mysql> show global variables like '%timeout'
    -> ;
+-----------------------------+----------+
| Variable_name               | Value    |
+-----------------------------+----------+
| connect_timeout             | 10       |
| delayed_insert_timeout      | 300      |
| have_statement_timeout      | YES      |
| innodb_flush_log_at_timeout | 1        |
| innodb_lock_wait_timeout    | 50       |
|

[2018-04-04 12:11] sm4rk0 opened #38270 "set_options on a callback gets called even when not whitelisted"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

RETRY_FILES_ENABLED(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

N/A

##### SUMMARY
There's this warning with each run of `ansible-playbook`:

[code]

[2018-04-04 12:15] mpeter13 commented on #38233
Thanks Will,  did you test with the latest Tower version 3.2.3 ?  Seems like the AWS keys in the task are not getting passed to ec2.py – task output below.  Would it help if we created boto config file that had the AWS keys ?

ASK [ec2_rhel : assume aws sts role] ******************************************
task path: /var/lib/awx/projects/ansible-cloud/roles/ec2_rhel/tasks/main.yml:6
Using module f

[2018-04-04 12:15] kalaisubbiah commented on #38024
@jborean93 can you elaborate bit more. I'm new to ansible.

[2018-04-04 12:22] NomAnor opened #38271 "set_fact and with_items broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
set_fact

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Appending to a list in set_fact using with_items is broken.

##### STEPS TO REPRODUCE
Run this playbook.

[code]
##### EXPECTED RESULTS
An Array `['one', ..., 'four']`

##### ACTUAL RESULTS
An Array `['one', 'four']`

See also #23624. This breaks one of my roles.
G

[2018-04-04 12:27] AjG1tHub commented on #38234
I'm attempting a test via molecule, the error read out is what appears when I run the molecule --debug create. These steps are in the prepare.yml file.
[code]

[2018-04-04 12:27] jhawkesworth commented on #38257
@jlohiya - please paste your /etc/ansible/playbooks/servicestartstop.yml  playbook here.
Also please advise - 1/ target windows operating system version
                                 2/ powershell version on target windows operating system.

needs_info

[2018-04-04 12:38] Akasurde commented on #37056
@yasa1987 Could you please use the following [script](https://github.com/Akasurde/pyvmomi_examples/blob/master/get_user_privileges.py) and provide me the privileges used by user's role ?

needs_info

[2018-04-04 12:52] thorus90 commented on #38263
[code]

[2018-04-04 13:03] Akasurde commented on #38263
@thorus90 Thanks for the information. I will re-create same permission and try to reproduce this issue.

[2018-04-04 13:06] philfry opened #38274 "ansible 2.5: lineinfile broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS 7.4 x86_64 and Fedora 27 x86_64

##### SUMMARY
lineinfile throws an error when operating either on an empty file or a file only containing the requested line.

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2018-04-04 13:08] philfry commented on #38274
sorry, duplicate with #38219

[2018-04-04 13:08] #38274 closed, assigned to nobody

[2018-04-04 13:15] thorus90 commented on #38263
@Akasurde Thanks for your quick response, let me know if you need additional informations!

[2018-04-04 13:26] maxamillion commented on #38199
Thanks @sivel, I completely missed that. 👍

[2018-04-04 13:36] calfonso commented on #38179
cc: @IPvSean

[2018-04-04 13:40] privateip commented on #38154
Use `item.strip()` to clean up the white space

[2018-04-04 13:43] #38167 closed, assigned to nobody

[2018-04-04 13:43] yodatak commented on #12686
On ansible 2.5 i got a error with your workaround , in a environment like : Sorry user ******* is not allowed to execute /bin/su - nginx -c /bin/sh -c 'echo **************' as root on  changing to ansible_become_exe: 'sudo -p "Password: " su -' or ansible_become_exe="sudo su -"

[2018-04-04 13:45] sivel commented on #38208
@juanvalino it appears as though the docs updates for q/query have gone missing.  I'll open an issue to get those docs added.

[2018-04-04 13:47] sivel opened #38275 "Add documentation for q/query"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
query

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
N/A
##### SUMMARY
Missing documentation for q/query

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-04 13:48] #37406 closed, assigned to nobody

[2018-04-04 13:57] kvvoronina commented on #19584
Looks like python was missing on our Ubuntu 16.04 servers. I installed it on all remote hosts and it fixed the issue:
sudo apt-get install python-minimal -y

[2018-04-04 14:04] mponton commented on #38199
@sivel I'm sorry. I don't follow. This is not the bug so what does this prove?

This is the issue:
[code]

Apologies if I don't understand your point.

/cc @maxamillion

[2018-04-04 14:09] Qalthos commented on #38178
persistent & task_executor issues handled by #38276

[2018-04-04 14:25] hogarthj commented on #25823
Note that this means the "default" behaviour on Fedora no longer works as that has the newer psycopg2 which can't use the UNENCRYPTED option

[2018-04-04 14:37] ghost opened #38278 "Please re-open #21562: failed to transfer file to ~/.ansible/tmp/ansible-tmp-xxx/setup.py: [Errno 2] No such file or directory"
Apologies for creating a new bug report, but I've submitted new information in #21562 that shows the bug is not fixed over a week ago. Please re-open it. This is a major bug that prevents upgrading 2.2 unless you do prefix with `env...` It's a major inconvenience thats causing major problems.

Information is below; if you require a new bug report then please use this one.

----

Unfortunately, thi

[2018-04-04 14:44] alex-left commented on #38223
After more tests I was detect the problem, not related with ansible but the mount path. My fault. The error message confused me and make me follow the wrong clue. Indeed, the mounted state of the module is idempotent.
Sorry sorry sorry. Closing the issue.

[2018-04-04 14:44] #38223 closed, assigned to nobody

[2018-04-04 14:47] maxamillion commented on #38234
It's very interesting that the issue is no longer presenting itself. If you're able to find a way to consistently reproduce please let me know and I'd be happy to look into it, but at this time I'm unable to reproduce on my end and since the issue seems to have cleared up on your end I'm not sure I'm able to properly diagnose the issue.

I'm going to close this for now, but please feel free to re-

[2018-04-04 14:47] #38234 closed, assigned to nobody

[2018-04-04 14:49] julienvey commented on #38233
@mpeter13 Looks like the value of your var `aws_region` is an array, instead of a simple string

Replacing it with`us-east-1` instead of `['us-east-1']` should fix it, can you give it a try ?

[2018-04-04 14:55] bcoca commented on #38270
the warning is fine, the problem is we are calling `set_options` when the callback is not whitelisted

[2018-04-04 14:57] cavamagie commented on #36835
any news?

[2018-04-04 15:13] sm4rk0 commented on #38270
I saw two warnings (about Grafana URL and callback doesn't support setting 'options'), but didn't know they are related. I'll update the description to include them both.

[2018-04-04 15:17] bcoca commented on #38270
@sm4rk0 the warning is in the `set_options` method ...

[2018-04-04 15:35] kustodian commented on #25823
@hogarthj check out PR https://github.com/ansible/ansible/pull/36931, it should solve this issue.

[2018-04-04 15:39] saichint opened #38282 "nxos_acl issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_acl
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)

##### SUMMARY

##### STEPS TO REPRODUCE

There are some MAJOR issues with nxos_acl module

This module treats some parameters as core options and the rest as optional options.
1. If core params have changed for an exis

[2018-04-04 15:39] jacco32 commented on #38129
ack,thx  it didn't even occur to me the attribute inheritance change also affected privilege inheritance, as to me inheritance of privileges is something so fundamental that expecting/should always be adhered to.

may I suggest at least the porting guide adds big note/example on the become impact? right now there is no feedback (deprecated/warning/something) when running ansible 2.5 with include_

[2018-04-04 15:49] mpeter13 commented on #38233
Julien –
That was it indeed, the Tower survey form for region was a multi choice list,   should have been single choice list – the error message “region not available” just never led that way.  Might be nice to have some kind of value type validation – ie: array, string, int….  to provide a better error message,  I know we can’t check everything though 😊

Thanks for your help !

-Mike

From: Julie

[2018-04-04 16:23] newswangerd opened #38284 ""become: no" doesn't work on eos modules with "connection=local""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

eos_terminal

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Run the following playbook using connection=local or eapi.

[code]

##### EXPECTED RESULTS

`show running-config` should require enable and return a priviledge escalation error.

##### ACTUAL RESULTS

The command r

[2018-04-04 16:32] nbalacha commented on #38174
Why would this require an ansible playbook? It is a simple one line command which is specific to the volume/bricks in question and not something that lends itself to automation.

[2018-04-04 16:38] #38109 closed, assigned to acozine

[2018-04-04 17:01] timlnx opened #38288 "ansible-doc-2.5 package is unexpectedly huge after installation"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
Website documentation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

The new `ansible-doc` package is only 35M to download, however after it is extracted and installed the footprint blows up to several GiBs.

##### STEPS TO REPRODUCE

1. `dnf install ansible-doc

[2018-04-04 17:12] jwitko commented on #37496
@willthames Sorry about the duplicate gist.  The actual error I put into the summary section of the bug report.

Here it is:
[code]

The only way I was able to resolve the issue was to completely remove the ELB and ASGs and recreate.

[2018-04-04 17:20] spmsaj opened #38289 "expect module in ansible not working with multiple responses"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Expect/command/responses
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux
##### SUMMARY

##### STEPS TO REPRODUCE

expect
command
responses
   resp1: resp value
   resp2: resp value

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-04 17:31] jhriv opened #38290 "vmware_guest_find has required, deprecated parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest_find

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Distributor ID:	Debian
Description:	Debian GNU/Linux 9.4 (stretch)
Release:	9.4
Codename:	stretch

##### SUMMARY

`vmware_gest_find` with datacenter: parameter:

be removed in version 2.9. Deprecation warnings can be disabled by setting deprecation_w

[2018-04-04 17:39] poflynn opened #38291 "KeyError: 'getpwuid(): uid not found: 1000"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
lib/ansible/playbook/play_context.py
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Amazon Linux 2
[code]
##### SUMMARY
Using vagrant to create a VM in VirtualBox and then provision it with Ansible. Reduced the test case to simply installing Git via yum. Fails every time first time but if you immediately call Ansible a

[2018-04-04 17:45] acozine commented on #38284
See http://docs.ansible.com/ansible/latest/network/user_guide/platform_eos.html for details on the two connections support for EOS.

[2018-04-04 17:55] amanvirmundra opened #38292 "Basic authentication using Uri module returns a 401 error even with force_basic_auth turned on"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Basic authentication using Uri module returns a 401 error even with force_basic_auth turned on.

##### STEPS TO REPRODUCE

[code]
This works with Postman.

##### EXPECTED RESULTS

You should get a Response status code 200 and the body should con

[2018-04-04 17:57] poflynn commented on #38291
!component ansible/playbook/play_context.py

[2018-04-04 18:20] #38292 closed, assigned to nobody

[2018-04-04 18:21] yvmori1 opened #38294 "jinja2 combine fails when become: true"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

jinja2 combine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible 2.4.0.0
  config file = /home/txt21674/.ansible.cfg
  configured module search path = [u'/home/txt21674/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location =

[2018-04-04 18:25] michelleperz opened #38295 "always_run functionality is not removed in 2.5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
always_run

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOG_PATH
HOST_KEY_CHECKING

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When running a playbook that utilizes always_run in a task, the deprecation warnings indicate that this parameter is deprecated and will be removed in 2.4, yet my playbook does not fail in 2.5 and the pa

[2018-04-04 18:26] crestenstclair opened #38296 "k8s_raw does not support Ingress"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
k8s_raw

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu

##### SUMMARY
k8s_raw does not support all of the Kubernetes resources, including very common ones such as `Ingress`.

##### STEPS TO REPRODUCE
Attempt to install an ingress resource with k8s_raw

[code]

##### EXPECTED RESULTS
An ingress resource i

[2018-04-04 18:28] honkycat commented on #38296
The error is coming from the openshift library, it does not support Kubernetes Ingress resources.

I worry that the current openshift client implementation will not work, since Openshift and Kubernetes are two different projects.

I have an issue open with the openshift client here to clarify this point: https://github.com/openshift/openshift-restclient-python/issues/162

[2018-04-04 18:30] sivel commented on #38294
Please provide the output of the following additional tasks:

[code]

I'm willing to bet that when running with sudo, ansible is able to gather additional facts that match your regex, but have unexpected information in them.

needs_info

[2018-04-04 18:33] acozine commented on #37637
@gundalow is the substitution only done for dictionary-word passwords and/or usernames?

[2018-04-04 18:37] fabianvf commented on #38296
The openshift client actually falls back to the kubernetes client when a resource is not found. This error is a result of the group+version+kind not being found inside the kubernetes resources, because during code generation the group is stripped off.

The helpers are looking for `ExtensionsV1beta1Ingress` but the actual model that is generated is `V1beta1Ingress` instead (located here: https://gi

[2018-04-04 18:43] aderbique commented on #26336
Issue is still not resolved

[2018-04-04 18:43] honkycat commented on #38296
Hey! That worked! Thanks a bunch @fabaff !!

[2018-04-04 18:48] cmmabee opened #38298 "Version typo in playbooks_loops.html"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
http://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#loop-control

The ```index_var``` section of loop control states that it is new in version 2.7. This feature works in 2.5 and I am guessing this is a typo.

##### S

[2018-04-04 18:49] fabianvf commented on #38296
@honkycat no problem, sorry I missed that issue when you posted it into the restclient.

[2018-04-04 19:06] edward-of-clt commented on #32964
I am able to repro on MacOS Sierra.

### Ansible Version

[code]

### Playbook Output

[code]

### Failing Task

[code]

[2018-04-04 19:16] sivel commented on #26336
As of ansible 2.5, `delegate_to` is expected to have no effect on `include_role`.

This was the intention in 2.4, but the code did not match the intention.

In 2.5, applying an attribute to `include_role` only affects the `include_role` itself, not the tasks or handlers within the role.  As such, `delegate_to` on an `include_role` makes no sense and is effectively ignored.

[2018-04-04 19:17] ivanbaldo opened #38299 "elb_target_group Unknown parameter in input: "TargetType""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

elb_target_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=7200s
COMMAND_WARNINGS(/etc/ansible/ansible.cfg) = True
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 50
DEFAULT_SQUASH_ACTIONS(/etc/ansibl

[2018-04-04 19:26] ivanbaldo commented on #38299
Seems to be caused by https://github.com/ansible/ansible/issues/30962 .
Maybe that parameter isn't supported by the Boto included in Ubuntu 16.04 and a check for the Boto version could be added so that if it is too old and the user specified the ip target_type then show an error telling that it isn't supported by that version of Boto.

[2018-04-04 19:46] richardstubbs commented on #37581
@zikalino Any news on this?

[2018-04-04 19:55] gl0bus commented on #37652
As far as I can see, the facts with the `facter_` prefix are delivered by facter (as long as installed),
so the related issue should probably be opened in https://github.com/puppetlabs/facter

[2018-04-04 20:04] corbinstuard opened #38300 "VMware: vmware_resource_pool: cluster_name should not be required"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_host
vmware_resource_pool

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = False
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=2000s
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = /tmp/%%h-%%p-%%r
ANSIBLE_SSH_CONTROL_PATH_DIR(/etc/ansible/ansi

[2018-04-04 20:08] DP-M commented on #5512
+1 The number of people who use workarounds, and tag every single task say that this is a necessary feature. Thanks!

[2018-04-04 20:14] richardstubbs commented on #37581
╭─stubbsrem@tnf27 ~/code/ide
╰─$ pip -V
pip 9.0.3 from /usr/local/lib/python3.5/dist-packages (python 3.5)
╭─stubbsrem@tnf27 ~/code/ide
╰─$ pip list
adal (0.5.0)
anglerfish (2.5.0)
ansible (2.6.0)
ansible-cmdb (1.25)
ansible-container (0.9.2)
ansible-lint (3.4.15)
applicationinsights (0.11.2)
apturl (0.5.2)
argcomplete (1.9.4)
asn1crypto (0.23.0)
awscli (1.11.13)
azure (3.0.0)
azure-batch (4.0.0)

[2018-04-04 20:23] EricThiel opened #38301 "ios_system idempotency issues with several domain commands"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_system

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/nas/ansible/lab/ansible.cfg) = [u'/nas/ansible/lab/hosts']
DEFAULT_ROLES_PATH(/nas/ansible/lab/ansible.cfg) = [u'/nas/ansible/lab']
HOST_KEY_CHECKING(/nas/ansible/lab/ansible.cfg) = False
PERSISTENT_COMMAND_TIMEOUT(/nas/ansible/lab/ansible.cfg) = 50
PERSISTENT_C

[2018-04-04 20:44] sivel commented on #38289
Please provide a reproducer task, as well as the output when executing ansible-playbook with a minimum of `-v`

needs_info

[2018-04-04 21:25] oupala opened #38304 "set default forward (routed) policy with ufw module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ufw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

none

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Cannot configure *routed* rules with ufw module.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected the task to be **ok**.

##### ACTUAL RESULTS

I got an error saying that there was an invalid syntax error.

[code]

The

[2018-04-04 21:40] bcoca commented on #38262
We are looking at a feature that would set keywords for the included tasks to inherit, not just for tags:

[code]

[code]

[2018-04-04 21:51] mjpalacios opened #38306 "Loop over lookup('dict', variable) fails when variable denotes a dictionary with only one (key, value) pair"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

dict plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_FORKS(/home/nolo/.ansible.cfg) = 50
DEFAULT_GATHERING(/home/nolo/.ansible.cfg) = smart
DEFAULT_LOG_PATH(/home/nolo/.ansible.cfg) = /var/log/ansible.log
DEFAULT_MANAGED_STR(/home/nolo/.ansible.cfg) = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
D

[2018-04-04 21:52] gustavomcarmo commented on #38081
@zikalino @yuwzho feature submitted on pull request #38279

[2018-04-04 21:53] sivel commented on #38306
The `loop` keyword always requires a list, and it is known that in single item lists that `lookup` will not return a list.

Due to this, in order to work with loop, you have 2 options to satisfy the requirements:

1. Utilize the new `q`/`query` instead of `lookup`, which was created to provide a more consistent result/interface for easier use with `loop`:

[code]
2. Add `wantlist=True` to your loo

[2018-04-04 21:53] #38306 closed, assigned to nobody

[2018-04-04 22:15] joebowbeer commented on #28160
Is this being worked on? It has been over a year since treat-missing-data was released, and ansible still does not support it.

[2018-04-04 22:15] dharmabumstead commented on #38288
Having the TOC embedded in each page is an unfortunate design flaw and/or feature of Sphinx. The TOC was small enough prior to 2.5 where this wasn't a problem, but after implementing the collapsible TOC the footprint enlarged quite a bit, and then mushroomed again with the ~1700 modules that we now document. Looking at ways to eliminate the modules from the TOC (and just include the top-level 'mod

[2018-04-04 22:15] kumar1493 commented on #19584
SSH will connect with terminals but not with vsts and ansible, can any one help me

Trying to setup SSH connection to ********@10.130.2.142:22
2018-04-04T21:56:46.6533908Z
2018-04-04T21:56:46.6549162Z PLAY [all] *********************************************************************
2018-04-04T21:56:46.6555625Z
2018-04-04T21:56:46.6603308Z
2018-04-04T21:56:46.6616154Z TASK [Create directories] *****

[2018-04-04 22:28] willthames commented on #38233
@mpeter13 you're right, there probably should be better validation - the `_check_type_str` in AnsibleModule converts the parameter to a string if it's not one already, and there's probably a lot of code out there now depending upon that behaviour. Would be good to deprecate that behaviour though.

[2018-04-04 22:31] mattclay commented on #36083
It looks like these tests are still unstable:

https://app.shippable.com/github/ansible/ansible/runs/60100/67/tests

[2018-04-04 22:35] willthames commented on #28160
Various attempts have been made. I'd like to see one get across the line but it needs to come with tests, and someone actually needs to make that happen (either directly or through persuading Ansible that it's worth doing)

[2018-04-04 22:37] ddrake17 commented on #11551
+1

[2018-04-04 22:41] winstonsimon opened #38308 "Ansible ASG Terminates Instance 1 by 1 and it's super slow"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
![screen shot 2018-04-04 at 11 22 45 am](https://user-images.githubusercontent.com/3705316/38338273-bc2fc852-381d-11e8-9b63-427bf1a1e3e2.png)

![screen shot 2018-04-04 at 3 28 59 pm](https://user-images.githubusercontent.com/3705316/38338111-f4c3d574-381c-11e8-91ec-3b3d67e6e71e.png)

#

[2018-04-04 23:08] passcod commented on #38087
For reference, this is on [Bugzilla as 1446442](https://bugzilla.mozilla.org/show_bug.cgi?id=1446442), and if it still looks broken you may need to switch this preference to **true**:

[code]

[2018-04-04 23:15] willthames commented on #38233
@mpeter13 have raised #38309 to improve validation - thanks for the suggestion.

[2018-04-04 23:15] #38233 closed, assigned to nobody

[2018-04-04 23:54] harekrishna0 commented on #38154
Nice. It works like a charm. Thanks @privateip .

Here's what I did:

when: "(item.strip() not in syslog_server)"

[2018-04-04 23:54] #38154 closed, assigned to justjais

[2018-04-05 00:10] hogarthj commented on #25823
@kustodian I'll take a look ... wouldn't it make more sense to automatically encrypt it properly if a plaintext password is presented and encrypted is set to yes?

For now I worked around it in my task using `password: "{{ 'md5' + (( oc_dbpass + oc_dbuser) | hash('md5')) }}"` but it does feel like the sort of thing that should just be done transparently.

[2018-04-05 00:17] meenaven opened #38310 "i am not able to ping a server through ansible though i can connect it through ssh"
##### ISSUE TYPE

 - Bug Report
 i am not able to ping a server through ansible though i can connect it through ssh
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### SUMMARY

[code]

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-05 00:26] einarc commented on #28744
@willthames  That statement is innacurate, I just had to change another call into aws_cli and I'm using exactly ansible 2.3.2

TBH the nightmare with upgrading ansible is that either the way things get done are deprecated (which is actually our responsibility) or worse, new bugs get introduced...I've been in 2.3.2 for over a year now. This is triggered when files reach a certain limit.

[2018-04-05 00:34] boltronics commented on #28820
The warning can be avoided if `APT_KEY_DONT_WARN_ON_DANGEROUS_USAGE` is set. https://anonscm.debian.org/git/apt/apt.git/tree/cmdline/apt-key.in#n721

It should be trivial to set this in `environ_update` for each of the relevant calls to `module.run_command` for the apt-key command in [apt_key.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apt_key.py).

[2018-04-05 00:39] willthames commented on #28744
Sorry, which statement is inaccurate? Are you saying this issue still happens in 2.4.4 or devel?

You're right about problems being introduced. Let me tell you what I've personally done about. I've created [policies](https://github.com/ansible/community/blob/master/group-aws/integration.md#policy) that:
* all feature requests for stableinterface modules must contain test cases
* all feature reques

[2018-04-05 02:18] travisgroth opened #38312 "k8s_raw ingress rules not handled idempotently"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

k8s_raw
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

CACHE_PLUGIN(/Users/tgroth/.ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/Users/tgroth/.ansible.cfg) = /tmp/fact_cache
CACHE_PLUGIN_TIMEOUT(/Users/tgroth/.ansible.cfg) = 600
DEFAULT_HOST_LIST(env: ANSIBLE_INVENTORY) = [u'/Users/tgroth/.ansible/hosts']
DEFAULT_TRANSPORT(/Users/tgrot

[2018-04-05 02:28] willthames commented on #38299
Created #38313 for this. If you're able to test if this improves the experience for you, that would be helpful.

[2018-04-05 02:43] sferich888 opened #38314 "Issues using variables in loops"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- task

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
loops don't seem to be able to use variables

##### STEPS TO REPRODUCE
[code]

- inventory
[code]
- task.yml
[code]
- inc_task.yml
[code]

##### EXPECTED RESULTS

I would expect to see 2 debug messages printed.

[code]

##### ACTUAL RESULTS

[code]

[2018-04-05 02:51] sferich888 commented on #38314
!needs_info

[2018-04-05 03:06] agaffney commented on #38314
The `loop` keyword is new in 2.5, but you're using 2.4.x. There was previously a "hidden" `loop` task attribute unrelated to the new feature in 2.5, which is what you're hitting. The unhelpful error message is unfortunate, but `loop` isn't *supposed* to work in 2.4.

[2018-04-05 03:21] bruceliu01 opened #38315 "bug about tags function of ansible python api"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

tags of ansible python api

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

centos python2.7

##### SUMMARY

It can not work right when I use tags feature of ansible python api. Ansible command can work right.
##### STEPS TO REPRODUCE

python playbook.py
the following is fragment of playbook.py
[code]

[code]

#####

[2018-04-05 04:35] securenetwrk commented on #38082
I can reproduce the issue on a Cat 3850
Cisco IOS Software, IOS-XE Software, Catalyst L3 Switch Software (CAT3K_CAA-UNIVERSALK9-M), Version 03.03.05SE RELEASE SOFTWARE (fc1)

The command "show memory statistics" doesn't exist on older IOS-XE versions it seems.

The above play (and the command show memory statisitcs) works as expected on ASR1k, 4331, and 4451 with 16.7.1 and 3650, and 3850 with 16.

[2018-04-05 04:39] bruceliu01 commented on #38315
ansbile run all the plays that Playbook.get_plays() return. But this method return all the play in the play book:
\ansible\playbook\__init__.py
def get_plays(self):
        return self._entries[:]

[2018-04-05 05:13] willthames commented on #37535
@corbinstuard can you check if #38316 would meet your needs as an alternative?

[2018-04-05 05:59] abadger commented on #37840
I'm afraid I can't reproduce this either:
[code]

Is there some other information about your system that might have bearing on this?  Non-utf8 locale for instance?

needs_info

[2018-04-05 07:10] made-with-care commented on #38212
+1 same for Safari (604.1) and Chrome (65.0.3325.152) on iOS (11.2.6)

[2018-04-05 07:22] IvanovOleg opened #38317 "Ansible 2.5: azure_rm_publicip_facts doesn't work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7, pip install ansible[azure]
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Get public ip facts
##### ACTUAL RESULTS

[code]

[code]

[2018-04-05 07:28] #38317 closed, assigned to nobody

[2018-04-05 07:38] jlohiya commented on #38257
@jhawkesworth Thanks alot to respond.
Here are details asked:
servicestartstop.yml
---
- name: Start Stop Service
  hosts: all
  vars:
   actiontype: "{{actiontype}}"
   servicename: "{{servicename}}"
  tasks:
  - name: check service is installed
    win_service:
     name: "{{vars.servicename}}"
     register: result
  - name: enable manual service ...
    win_service:
     name: "{{vars.servicen

[2018-04-05 08:18] mglantz commented on #29516
I have also noticed this. Tried to fetch tar.gz archive, which ended up in a corrupted state. Can be repeated 100%.

[2018-04-05 08:37] mglantz commented on #29516
Cannot replicate issue, have successfully downloaded the file in this ticket, using Ansible 2.5.0.

[2018-04-05 08:51] ChristopherGAndrews opened #38318 "The mysql_db module needs to use the --one-database flag for imports"
- Bug Report

##### COMPONENT NAME

mysql_db

##### ANSIBLE VERSION

This issue was discovered with 2.4.

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Most likely not relevant, but full disclosure:

Ansible source:

Window 10 with Cygwin

The Linux target, a REHL AMI on AWS:

[code]

Using the MySQL variant MariaDB

[code]

##### SUMMARY

Our MySQL backups dump all the databases on

[2018-04-05 09:04] kustodian commented on #25823
@hogarthj it actually does work like that. If the `password` is in plain text and `encrypted` is set to `yes`, the password will be encrypted. My PR above just changed the default for encrypted to be `yes` (and fixed some bugs with clearing the user password).

[2018-04-05 09:13] kimegede commented on #29192
I can reproduce this too.

[code]

* 1st. time it's installed (eg. v.2.0.0 is installed)
* 2nd. time nothing changed (which is good)
* If I manually installing an older version `npm install -g @foo/bar@v1.0.0`
* Running Ansible again, it says changed - but it haven't installed the latest version.
I would have expected it to update it, I have tried to add `version: latest` as well - same outcome.

[2018-04-05 09:21] Rohit-Uppal opened #38319 "Ansible Tower - [WARNING]: Could not match supplied host pattern"
Hello All,

I just installed Ansible Tower and executed the Demo Project and got below mentioned WARNINGS

ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/var/lib/awx/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  p

[2018-04-05 09:41] jawad846 commented on #15019
I had faced some error by doing this
fatal: [localhost]: FAILED! => {"changed": false, "msg": "boto required for this module"}
but boto is installed already
so I used this command (because am using the mac)
sudo /usr/bin/python -m pip install boto
and I added one more line in env/hosts
ansible_pyhton_interpreter=/usr/bin/python
so its work

anyone can suggest what is the reason for getting these e

[2018-04-05 09:45] karniemi opened #38320 "vmware_vm_shell does not wait command completion nor check success"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_vm_shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Not relevant
##### SUMMARY

vmware_vm_shell does not wait for the shell command to complete, and does in no way check if the command was successful or  not.

vmware_vm_shell only triggers the command and immediately returns, so the ansible playbook

[2018-04-05 09:46] maugli13 commented on #38082
Hello @Qalthos here is my switch version and model

[code]

[2018-04-05 09:49] #37945 closed, assigned to nobody

[2018-04-05 09:58] necr0n opened #38321 "onyx_config module failed while using python = 3.5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
onyx_config.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_GATHERING(/home/user/git/docs/ansible/ansible.cfg) = explicit
DEFAULT_HOST_LIST(/home/user/git/docs/ansible/ansible.cfg) = [u'/home/user/git/docs/ansible/hosts']
DEFAULT_TIMEOUT(/home/user/git/docs/ansible/ansible.cfg) = 30
HOST_KEY_CHECKING(/home/user/git/docs/ansible/

[2018-04-05 10:00] DartNecrON commented on #38321
@samerd

[2018-04-05 10:06] AnandTella commented on #37842
@alikins @Akasurde  Sorry for the delay, yes it's working
It would be great if wildcards functionality is added though.

Thanks for the help

[2018-04-05 10:11] Akasurde commented on #38320
@karniemi Thanks for reporting this issue.

[2018-04-05 10:23] msnelling opened #38323 "Namespaced PersistentVolumes not handled"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

k8s_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 x64
Kubernetes 1.10.0

##### SUMMARY

I am unable to create a `PersistentVolume` that is part of a namespace. When the metadata.namepace node is populated in the definition the error `Failed to retrieve requested object: Error: method read_namespa

[2018-04-05 10:28] gundalow commented on #37990
devel: https://github.com/ansible/ansible/pull/38023
2.5.1: https://github.com/ansible/ansible/pull/38256

[2018-04-05 10:33] Akasurde commented on #38320
@karniemi There was a PR https://github.com/ansible/ansible/pull/30346 which was closed by author. Can you please check if this works for you ? if yes, we can resurrect PR.

[2018-04-05 10:34] devyanikota commented on #38174
Hi @nbalacha it is not a single event. I understand your perspective, but if you see the larger picture when we do operations like upgrade/downgrade cluster, there are a series of events that are to be followed. We won't be calling out a single operation. That is the plan we have wrt gluster-ansible consuming these modules.
Example:
- Setting up bricks
- Adding new bricks
- Removing a brick

I hop

[2018-04-05 10:44] gundalow commented on #37032
@IPvSean Believe this is fixed, if not please reopen

[2018-04-05 10:44] #37032 closed, assigned to privateip

[2018-04-05 10:53] karniemi commented on #38320
@Akasurde At least it seems to be about fixing this exact issue. Though, I don't  understand why any module should implement their own "wait_for_shell_exit"-parameters, because ansible already has  generic mechanism for that: http://docs.ansible.com/ansible/latest/user_guide/playbooks_async.html. Unfortunately, our current infra relies on rpm versions of ansible, so I'm currently not (easily) able

[2018-04-05 11:00] Akasurde commented on #38320
@karniemi No problem. I never tried that code, but if you feel it will work then I will create  a new PR and fix it. Thanks.

[2018-04-05 11:05] gundalow commented on #37208
Fixed in devel & cherry-picked into `stable-2.5` in https://github.com/ansible/ansible/pull/37918

[2018-04-05 11:09] itdependsnetworks commented on #38048
I was not, understood if you close

[2018-04-05 11:17] karniemi commented on #38320
@Akasurde Sounds nice! As a longer term plan: was it ever considered that there would rather be a connection plugin for vmware than these vmware-specific shell/file/etc modules? I mean, vmware_vm_shell is great, but if the connection to vm guests would be handled as a vmware connection plugin -that would allow using any of the generic ansible modules(shell,lineinfile,service,yum,etc,etc) for the s

[2018-04-05 11:40] vestival opened #38331 "manageiq_provider fails while adding an OCP provider"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

manageiq_provider

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/remote_management/manageiq/manageiq_provider.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed
##### OS / ENVIRONMENT

N/A
##### SUMMARY

While adding a provider with the type Openshift it fails with the message
[code]

When you comment (

[2018-04-05 11:54] jhawkesworth commented on #38257
@jlohiya I am not sure why this is failing.  If it is just setup module (which runs when you gather facts, you could avoid this temporarily by setting gather_facts: False like this

[code]

Also I have had problems when using ip addresses instead of host names in inventory, please try using hostname instead of ip address in your inventory for windows hosts.

If win_ping works but setup (gather fac

[2018-04-05 12:01] fabianvf commented on #38323
I think this is the expected behavior, as far as I know persistent volumes are not namespaced. A persistent volume claim will allow you to bind to an existing PV inside a namespace.

[2018-04-05 12:02] mkrizek commented on #22673
This has been implemented:
[code]

[2018-04-05 12:02] #22673 closed, assigned to nobody

[2018-04-05 12:03] cben commented on #38331
Thanks for detailed report!  I've seen this too recently.  It happens for
creation because creation function doesnt drop nulls from whole payload.  I
have a wip fix & refactoring somewhere, will finish early next week.

On Thu, Apr 5, 2018, 14:46 ansibot <notifications@github.com> wrote:

[2018-04-05 12:08] cben commented on #38331
If you need an immediate workaround, commenting out api_version line 764 will let you create open shift provider (but break one of the other provider types)

[2018-04-05 12:08] EddyP23 commented on #33661
@zikalino I am running `azure_rm_securitygroup` and getting the same error (`"Do you have azure>=2.0.0 installed? Try `pip install ansible[azure]`- No module named containerservice"}`)

I might have use `sudo` to install `ansible[azure]` with `pip`. Any idea how to clean this mess up?

[2018-04-05 12:24] kimegede commented on #29192
EDIT: The above seems to be because of an old version of npm (`4.6.1`) where `npm update` doesn't update (at least not what is needed).
The feature works from `5.2.0`+

[2018-04-05 12:25] gundalow commented on #38284
`become` required `network_cli`, there isn't an equivalent for `connection: local`

[2018-04-05 12:29] #36936 closed, assigned to nobody

[2018-04-05 12:31] bje commented on #38299
@willthames your fix in #38313 works for me; tested against https://github.com/willthames/ansible.git@issue-38299 and I can now create a `elb_target_group` with `target_type` of `ip` successfully.  Thank you!  Is it possible to get this into the Ansible `2.5.1` release?

cc/ @ivanbaldo fyi

[2018-04-05 12:35] rolette commented on #15019
@jawad846 Read back through the posts on this issue. It's a bug. ansible incorrectly hardcodes the path to python instead of getting it from the environment.

[2018-04-05 12:37] theophileds opened #38334 "Define inventory cache_name with gce.ini"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
gce.py
gce.ini

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When using GCE inventory, it is not possible to define inventory cache filename to be tenant specific.

[2018-04-05 12:39] amarao opened #38335 "when clause for block does not execute all tasks if conditional changed within block"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
block

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
irrelevant

##### OS / ENVIRONMENT
Ubuntu 18.04

##### SUMMARY
If variable in `when` clause was changed within block, block can be executed only partially.

##### STEPS TO REPRODUCE

[code]

`ansible-playbook -i localhost, play.yaml`

##### EXPECTED RESULTS
debug task is expected it be exe

[2018-04-05 12:48] rleigh-codelibre commented on #36427
Retested with the ansible 2.5.0 release today; the bug is present in this release as well.

[2018-04-05 12:48] gundalow commented on #37637
Any string that's is passed in via a `no_log` module option will be redacted, such as https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/network/eos/eos.py#L46

[2018-04-05 13:13] Jeff00029 opened #38338 "bigip_pool_member.py can't find bigsuds"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_pool_member

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS Linux release 7.2.1511 (Core)
F5 BIG-IP 2200 v 12.1.2 build 1.0.271

##### SUMMARY
I try to run playbook with ansible module bigip_pool_member.py to add node in existing pool.
I did other playbooks to add node, pool or virtual server they work

[2018-04-05 13:14] Jeff00029 commented on #38338
Thanks in advance for help

[2018-04-05 13:27] rleigh-codelibre opened #38339 "Add MacOS X dscl support to getent module"
##### ISSUE TYPE
~~Bug  Report~~
- Feature Idea

##### COMPONENT NAME
getent

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04 / amd64.

##### SUMMARY
The `getent` module does not work on MacOS X.  It relies upon the `getent` command, rather than using the OS-specific tool.  On MacOS X, this would likely be the `dscl` command.

##### STEPS TO REPRODUCE

[2018-04-05 13:31] nbalacha commented on #38174
Actually no, I am still not clear on the requirement for a remove-brick ansible playbook.

[2018-04-05 13:35] jyaworski commented on #38291
I'm also seeing this on AL2 with Ansible 2.4.2.0.

[2018-04-05 13:48] yvmori1 commented on #38294
@sivel ,
your assumption was correct, when running as root there are more facts one of which is facter_lvm_vgs, which was causing my issue.

TASK [debug] ********************************************************************************
task path: /cnunix/integ/txt11688/phoenix/CN_streams/group_membership.yml:34
ok: [localhost] => {
    "msg": [
        "base_vgs",
        "apps_vgs",
        "facte

[2018-04-05 13:48] #38294 closed, assigned to nobody

[2018-04-05 13:48] yaacov commented on #38331
Some background info:

We have a function "delete_nulls" [1] that should have prevented this.
In line 725 [2] we try to remove "api_version" but for some reason it remains :-(
The "delete_nulls" function does not work properly in this case.

[1] https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/remote_management/manageiq/manageiq_provider.py#L574
[2] https://github.com/ansible/ansi

[2018-04-05 13:51] hanej opened #38340 "F5 GTM Wide IP: Unable to add iRules"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

bigip_gtm_wide_ip

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The `bigip_irule` module allows you to create iRules on either the GTM or the LTM but the `bigip_gtm_wide_ip` module does not accept iRules so it's impossible to add an iRule to a wide IP on the GTM.

[2018-04-05 13:51] sivel commented on #29516
I'm going to go ahead and close this issue.  If you are still experiencing problems, please open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-05 13:51] #29516 closed, assigned to nobody

[2018-04-05 13:53] bcoca commented on #37941
I don't seem to be able to reproduce this, I get success in the results file:

```{"delta": "0:00:05.000983", "end": "2018-04-05 09:44:50.108377", "rc": 0, "changed": true, "start": "2018-04-05 09:44:45.107394", "stderr": "", "invocation": {"module_args": {"_raw_params": "/bin/sleep 5", "stdin": null, "removes": null, "executable": null, "warn": true, "chdir": null, "_uses_shell": false, "creates"

[2018-04-05 13:54] tbielawa commented on #38288
Thanks for the quick fix!

[2018-04-05 13:54] sivel commented on #36427
On Mac, the password must be a plain text password, it cannot be an encrypted hash.

Per the documentation:

needs_info

[2018-04-05 14:09] jyaworski commented on #38291
I can also confirm this is an issue with the latest 2.6.0 nightly.

[2018-04-05 14:10] bcoca commented on #38315
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2018-04-05 14:10] #38315 closed, assigned to nobody

[2018-04-05 14:15] MBoretto commented on #35274
Any news concerning the fix?

[2018-04-05 14:27] ivanbaldo commented on #38299
Wow, looks too risky for 2.5.1... if it is not accepted for 2.5.1, is there any plan to implement a simpler version?

[2018-04-05 14:32] #38323 closed, assigned to nobody

[2018-04-05 14:33] #38296 closed, assigned to nobody

[2018-04-05 14:33] sivel commented on #36427
It is a limitation of the `dscl` command line utility.  It only accepts plain text passwords, and handles the encryption itself.

Manipulation of the databases outside of `dscl` is not recommended.  We use the recommended approach for manipulating users on Mac.

[2018-04-05 14:34] mjpalacios commented on #38306
Your diagnostic and solutions are totally on point. Sorry about posting this as an issue/bug. Wish I had RTFM with more care. Thanks a lot for your help.

[2018-04-05 14:53] rleigh-codelibre commented on #36427
OK.  Is this a change to the module?  I could have sworn it previously worked with 2.1/2.2, but I could be wrong.

As a suggestion, would it be worth having separate e.g. `password` and `password-hash` (or `password` and `password-plaintext`) properties for this module so that there's no ambiguity over what the input data is?  This would allow the module to error out on Darwin if provided a hash,

[2018-04-05 14:53] rleigh-codelibre commented on #36427
Just to confirm, using a plaintext password appears to be working correctly, thanks.

[2018-04-05 14:58] Firefishy opened #38342 "Official Ubuntu Precise PPA repos "ansible-2.4" & "ansible-2.5" are missing dependency"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Official Ubuntu PPA repos:
* https://launchpad.net/~ansible/+archive/ubuntu/ansible-2.4
* https://launchpad.net/~ansible/+archive/ubuntu/ansible-2.5

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ubuntu Precise 12.04

##### SUMMARY
The required package for Ubuntu Precise (12.04) `python-crypto=2.6.1-1chl1~precise

[2018-04-05 14:59] vestival commented on #38331
Thanks @cben I had to also comment line 715

[2018-04-05 14:59] Firefishy commented on #38342
The solution is to copy python-crypto=2.6.1-1chl1~precise1 from https://launchpad.net/~ansible/+archive/ubuntu/ansible?field.series_filter=precise to https://launchpad.net/~ansible/+archive/ubuntu/ansible-2.4?field.series_filter=precise and https://launchpad.net/~ansible/+archive/ubuntu/ansible-2.5?field.series_filter=precise

Notes on how to copy here: https://help.launchpad.net/Packaging/PPA/Cop

[2018-04-05 15:02] bcoca commented on #36427
it is clearly stated in the docs for the option:

`Note on Darwin system, this value has to be cleartext. Beware of security issues.`

but i'll update it to clarify for those that don't know OS X is a Darwin system.

[2018-04-05 15:07] ats0stv commented on #24296
I'm also facing a very similar issue.
[code]

My Ansible configuration is
[code]

[2018-04-05 15:07] Tux12Fun commented on #16837
Why does ansible need so much RAM? Imagine what you can store in 4GB RAM! The view YML Files and the FATCS are not very big. It's only a bit of plain text. I think the code should be optimized. I would agree that the control host should work with 4GB RAM for more then 500 managed hosts. Especially when you setup only one Host per run.

I can see much more memory consume since 2.4.0

[2018-04-05 15:17] Firefishy commented on #38342
`python-crypto=2.6.1-1chl1~precise1` has now been copied across to the 2.4 and 2.5 respective repos.

[2018-04-05 15:22] #38342 closed, assigned to nobody

[2018-04-05 15:32] duffenterprises commented on #35619
Did this end up getting pushed to preview? I took a look and didn't see anything.

[2018-04-05 15:44] #10849 closed, assigned to nobody

[2018-04-05 16:14] #38284 closed, assigned to newswangerd

[2018-04-05 16:14] gundalow commented on #38284
Not  bug

[2018-04-05 16:17] fuzzygroup commented on #19584
When I hit this I was using Ansible on OSX to connect to an aws box with a pem certificate.  I did NOT have a ~/.ssh/config file.  Once I created one and added no more than this:

Host *
    IdentityFile ~/.ssh/id_rsa
    AddKeysToAgent yes

Then I was magically able to execute playbooks.

[2018-04-05 16:18] fuzzygroup commented on #22745
When I hit this I was using Ansible on OSX to connect to an aws box with a pem certificate. I did NOT have a ~/.ssh/config file. Once I created one and added no more than this:

Host *
IdentityFile ~/.ssh/id_rsa
AddKeysToAgent yes

Then I was magically able to execute playbooks.

[2018-04-05 16:18] pemontto commented on #23349
Still horrifically slow for me, considering dropping ansible all together for this task. We can't wait this long for interdependent config files to be created.

[2018-04-05 16:39] magfuentes commented on #22745
Thank you !!!

From: "J. Scott Johnson" <notifications@github.com>
Reply-To: ansible/ansible <reply@reply.github.com>
Date: Thursday, April 5, 2018 at 12:18
To: ansible/ansible <ansible@noreply.github.com>
Cc: Magda Fuentes <efuentes@juniper.net>, Mention <mention@noreply.github.com>
Subject: Re: [ansible/ansible] Failed to connect to the host via ssh into ansible host (#22745)

When I hit this I

[2018-04-05 16:41] bcoca commented on #38310
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-04-05 16:41] #38310 closed, assigned to nobody

[2018-04-05 16:42] bcoca commented on #38314
closing as per above

[2018-04-05 16:42] #38314 closed, assigned to nobody

[2018-04-05 16:50] ats0stv commented on #17588
I'm also facing a very similar issue.
[code]

My Ansible configuration is
[code]

[2018-04-05 16:50] samdoran commented on #38261
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

Thank you once again a

[2018-04-05 16:50] #38261 closed, assigned to nobody

[2018-04-05 16:54] Gunni commented on #13259
this bug still active? the PR was pulled and i could not see an alternative, right now all disables of non-existant throw errors which i have to ignore

[2018-04-05 17:03] sivel commented on #13259
We have recently made the decision that we plan on leaving the behavior as is (failing when the service does not exist)

As discussed in https://github.com/ansible/ansible/issues/35293 the correct option here is to use either `ignore_errors: true` or a `failed_when` statement to prevent an error.

Logs of that meeting:
https://meetbot.fedoraproject.org/ansible-meeting/2018-01-25/ansible_core.2018-

[2018-04-05 17:03] #13259 closed, assigned to bcoca

[2018-04-05 17:18] samdoran commented on #38291
Is it possible that the VM is not fully provisioned and the user account does not yet exist? Can you try adding a brief pause, either in the Vagrantfile or the playbook to see if giving the instance more time to boot fixes the problem?

[2018-04-05 17:37] poflynn commented on #38291
The vagrant/uid 1000 user is baked into the base image, it is not provisioned, so it exists on boot. For example if I do a 'vagrant up --no-provision' the user is already there. Lastly it is the user that vagrant uses to ssh in and run the shell and Ansible scripts as so it has to exist in advance. Thanks.

[code]

[2018-04-05 17:44] gundalow commented on #38105
@bundyboy Proposed fixed in https://github.com/ansible/ansible/pull/38276/files

[2018-04-05 17:44] #35649 closed, assigned to acozine

[2018-04-05 17:44] #38217 closed, assigned to acozine

[2018-04-05 17:53] alikins commented on #38291
@poflynn  Was this working prior to ansible 2.5.0? If so, what version?

[2018-04-05 17:55] samdoran commented on #38291
Thanks for the additional info. Looking through the logs more closely, it's quite odd that both fact gathering and `pre_tasks` work fine, but the task in your role fails. I'm inclined to believe something is changing on the system and this is a timing issue. Can you try adding a `pause` task to `pre_tasks`? Maybe this will give the system time to "settle down".

[2018-04-05 18:06] Gunni commented on #13259
So, you are saying that check mode should always say changed and non-check should always error for this.

That just feels very unpolished..

[2018-04-05 18:09] #22025 closed, assigned to jimi-c

[2018-04-05 18:13] #36427 closed, assigned to nobody

[2018-04-05 18:41] #37836 closed, assigned to nobody

[2018-04-05 18:59] mponton opened #38353 "Feature: log_path variable for win_package and keep log output on success"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

win_package

##### ANSIBLE VERSION

N/A

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

This is a actually two feature ideas in one:
1) Allow user to specify a `log_path` variable for `win_package` when installing an MSI to save the installation log in a specific location (could also be used to save any EXE output)
2) K

[2018-04-05 19:00] poflynn commented on #38291
Ok, making some progress, I think you're on the right track with regard to the 'race condition' idea...
If I put the pause after the yum update all the pause task fails as below

[code]

[code]

And if I completely comment out the yum update all everything finishes successfully and it moves on to install git just fine. So it does seem like it needs time to 'settle' after the yum update has complet

[2018-04-05 19:04] mponton commented on #38353
Just for context: Some admins at work like to keep installation logs around as artifacts just-in-case. I understand this can be done by other means (e.g. `win_shell`, `win_command`, etc...) but it seems to be this could be added to `win_package` and benefit others. It's sad to have to replicate `win_package` functionality using multiple tasks (or building your own role) when this could be done eas

[2018-04-05 19:05] acozine commented on #36496
Fixed by #36505.

[2018-04-05 19:23] jamessemai opened #38357 "Maximum recursion depth exceeded while using include_role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running ansible from CentOS 7.4, against itself (localhost):

[code]

##### SUMMARY
A limited number of ``include_role`` statements (in combination with some other includes) cause following exception:

[code]

##### STEPS TO REPRODUCE

``test.yml``

[2018-04-05 19:33] ogenstad commented on #38253
Which version of pysnmp do you have installed? What happens if you type this in the Python shell?

[code]

I don't have any problems running the playbook as per below.

[code]

hosts:
[code]

snmp_fact.yml
[code]
Ansible run
[code]

[2018-04-05 19:41] sivel commented on #38357
I can confirm this happens on py2, but does not affect py3.

We have done a lot to improve recursion limits, we'll need to dig into this further.

[2018-04-05 19:44] Gunni commented on #13259
I solved my case this way, this feels dumb but i'm limited by what you give me... And it's not portable to systems without systemd.

p.s. before you ask, i'm not running the machines naked, i already enabled nftables when this runs.

	- name: Check if services exist
	  command: "systemctl status {{item}}"
	  check_mode: false
	  changed_when: false
	  failed_when: killable_services.rc not in [0, 3

[2018-04-05 19:51] alikins commented on #38291
@jyaworski

Which part of this? What setup?  Amazon Linux via vagrant and ansible_local provision?
A playbook that does a yum update in a role?

[2018-04-05 19:52] acozine commented on #36871
The final 3 are:
IOS XR, per Cisco's [website](https://www.cisco.com/c/en/us/products/ios-nx-os-software/ios-xr-software/index.html).
Open vSwitch, per their [project site](https://www.openvswitch.org/)
VyOS, per the [project site](https://vyos.io/)

[2018-04-05 19:57] bcoca commented on #13259
much simpler:
[code]

[2018-04-05 19:58] jborean93 commented on #38257
I would try out @jhawkesworth suggestion and disable the fact gathering. It would be nice to see if it it is just the setup.ps1 or any modules in the playbook that are causing the freeze.

[2018-04-05 20:06] #36170 closed, assigned to nobody

[2018-04-05 20:07] bcoca commented on #38335
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Task keywords defined block are 'inherited' by the tasks, they are not applied to the block itself.

In the future, this might be a top

[2018-04-05 20:07] #38335 closed, assigned to nobody

[2018-04-05 20:13] jborean93 commented on #37882
After discussing it in the IRC meeting it was decided to not add the parsed values. Ultimately the benefits are quite minimal and in this case wouldn't have really helped. Local debugging if definitely the way to go in these cases.

See https://github.com/ansible/community/issues/294#issuecomment-376009166

[2018-04-05 20:13] #37882 closed, assigned to nobody

[2018-04-05 20:27] jamesmarshall24 opened #38358 "VMware_guest module requires Folder path for deploying VM"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### SUMMARY

vmware_guest.py checks the folder path when deploying a new vm:
[vmware_guest.py ln:1741](https://github.com/ansible/ansible/blob/b4debfad9a19da2d28aa58b93897445531c8f886/lib/ansible/modules/cloud/vmware/vmware_guest.py#L1741)

This is not mentioned under within the [vmware_guest_modu

[2018-04-05 20:56] samdoran commented on #38291
I would inspect the packages updated by `yum`. My guess is it's updating a file that Ansible/Python is using.

[2018-04-05 21:08] acozine commented on #30361
This looks like it might be useful if we want collapsible sections: https://stackoverflow.com/questions/2454577/sphinx-restructuredtext-show-hide-code-snippets

[2018-04-05 21:11] trondhindenes commented on #37882
yup, I'm totally fine with that. the `omit` filter solves all of this nicely. Thanks for taking the time to look at it!

[2018-04-05 21:11] acozine commented on #30361
Note to self: looks like that page gets generated from https://github.com/ansible/ansible/blob/devel/docs/templates/list_of_CATEGORY_modules.rst.j2

[2018-04-05 21:13] jamessemai commented on #38357
Thank you for the very quick triage!

I should also point out that the example is a simplification of real code where the problem occurs with only 5 role includes. It is probably possible to hit the problem with even less includes, if the surrounding code is made sufficiently complex/large.

Any tips to work around this? Should we consider moving to py3? Should we avoid the use of ``include_role``

[2018-04-05 21:30] bcoca commented on #38291
pam/nscd/glibc or similar being updated?, i would also use `wait_for` instead of `pause` as it is 'per host' vs global to the playbook.

[2018-04-05 21:36] #37013 closed, assigned to nobody

[2018-04-05 21:47] salman1485 commented on #38319
[WARNING]: Could not match supplied host pattern, ignoring: 10.61.251.58

above line indicates that you are targeting that host but it is not in tower inventory. If you had published your playbook then it would be easier to triage.

You should first run your playbook using command line and once it is stable then run it using tower with hosts from your command line inventory file added in tower inv

[2018-04-05 21:55] jborean93 commented on #38232
@poiriermike I've got a "fix" that should help us narrow down what is happening. Are you able to try it out https://github.com/ansible/ansible/pull/38363 and see what it returns with.

[2018-04-05 21:59] #33127 closed, assigned to nobody

[2018-04-05 22:04] salman1485 commented on #38253
pysnmp version is 4.4.4

[code]

I had already tried the import of cmdgen and it worked. Somehow python itself has no issues with pysnmp and cmdgen import but the module is not able to perform the same.

[code]

[code]

Can you please add debug in your playbook to echo value of ansible_python_interpreter without defining it? Although, I have a feeling that issue is something else totally.

Thanks

[2018-04-05 22:04] jborean93 opened #38364 "win_updates: Async doesn't work on 2008 and 2008 R2, doesn't work on 2008"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_updates

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Server 2008 not using Basic or CredSSP breaks the module altogether (become doesn't work)
Server 2008 and 2008 R2 won't work with async at all

##### SUMMARY
In Ansible 2.5 we changed the win_updates module to always run on become. This has the unfortunate

[2018-04-05 22:08] salman1485 commented on #38253
output of pip freeze

[code]

[2018-04-05 22:27] bcoca commented on #38207
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The variable precedence clearly states `pay vars` > `host facts`, so this works as intended and documented.

In the future, this might

[2018-04-05 22:27] #38207 closed, assigned to nobody

[2018-04-05 22:27] core-process commented on #37911
My temporary workaround:

[code]

[2018-04-05 22:29] bcoca commented on #37569
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The variable precedence clearly states `set_facts` > `host facts`, so this works as intended and documented. You can create an alternat

[2018-04-05 22:29] #37569 closed, assigned to nobody

[2018-04-05 22:29] core-process commented on #37850
My temporary workaround (Ubuntu Artful, Ansible PPA):

[code]

[2018-04-05 22:35] bcoca commented on #38146
@AquaL1te , curious since this feature was added in 2.4 .. hard  for it to 'regress' in any previous version

[2018-04-05 22:38] #31797 closed, assigned to nobody

[2018-04-05 22:38] #36431 closed, assigned to bcoca

[2018-04-05 22:40] #31929 closed, assigned to bcoca

[2018-04-05 22:45] bcoca commented on #37604
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

By design, lookups change 'relative search paths' depending on task context. Normally these search paths are related to where a task is

[2018-04-05 22:45] #37604 closed, assigned to nobody

[2018-04-05 22:55] tkrishtop opened #38367 "docker_service"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-05 22:55] #38367 closed, assigned to nobody

[2018-04-05 23:52] ZuZuD commented on #37834
I had a feedback from @ReinerNippes and the above fixed its issue so far. Also I was able to replicate it and I've confirmed:
1) The initial cause of the 600s timeout on large encrypted snapshot copy.
2) The accuracy of the wait_timeout parameter ( adjusted after further tests in #38243 ).

[2018-04-05 23:57] #38271 closed, assigned to nobody

[2018-04-05 23:57] willthames commented on #38075
Fixed by #38302

[2018-04-05 23:57] #38075 closed, assigned to bcoca

[2018-04-06 00:00] willthames commented on #38299
@ivanbaldo I split it into two commits so we could just cherry-pick the target type change.

[2018-04-06 00:00] willthames commented on #38299
Also, don't feel you have to wait for proper releases for module fixes:

https://willthames.github.io/2017/12/12/using-updated-modules-with-stable-ansible.html

[2018-04-06 00:40] willthames commented on #37834
Great, closing this now.

[2018-04-06 00:40] #37834 closed, assigned to nobody

[2018-04-06 01:12] Akasurde commented on #38358
@jamesmarshall24 Thanks for reporting this issue. We are working on improving the documentation related to vmware_guest. Please feel free to add more suggestions related to documentation here.

[2018-04-06 03:37] RohitUppal commented on #38319
I am able to run the playlist from the command line using ansible-playbook command.

I have identified the issue. The issue was when we execute any job from Ansible Tower, all the jobs are executed in path /tmp which is by default path as defined in Tower GUI Settings.

In the /tmp path I was getting permission denied (RHEL 7.4), when I changed the path from Tower GUI to some other path than /tmp,

[2018-04-06 04:12] Vladimir-csp commented on #38262
`inherit:` looks good, but it is also too disruptive compared to 2.4 behavior. Maybe, use `not_inherit:` instead?

[2018-04-06 04:45] trishnaguha commented on #37305
resolved_by_pr https://github.com/ansible/ansible/pull/38347

[2018-04-06 04:57] #38282 closed, assigned to trishnaguha

[2018-04-06 06:00] jlohiya commented on #38257
@jhawkesworth Thanks :-)
It worked with keeping  "gather_facts: False" but could not identify reasons?
Would it be safer if I gather facts first then execute?

I have configured winrm as per above links what provided. It doesn't look like if I have missed in winrm configuration. logically if I haven't configured windows host for listening win_ping wouldn't have successfully run.

[2018-04-06 06:03] #37838 closed, assigned to nobody

[2018-04-06 06:04] dharmabumstead commented on #38288
Closing as fixed.

[2018-04-06 06:04] #38288 closed, assigned to nobody

[2018-04-06 06:28] ms4720 commented on #37332
If no one minds I am going to get started on this in devel branch

[2018-04-06 07:10] jhawkesworth commented on #38257
@jlohiya since you can run other modules, your winrm setup is probably ok.
There is something about your system which I suspect is causing setup.ps1 to hang (either stop or crash).
Since setup.ps1 works fine against my S2012R2 hosts, and the hosts in the ansible CI system, I suspect there is something different about your S2012R2 host, or the way it is configured, which setup.ps1 does not expect.

[2018-04-06 07:12] dharmabumstead commented on #38212
Also: https://github.com/ansible/ansible/pull/38376

[2018-04-06 07:47] jamessemai commented on #38357
With python3, I manage to get to a depth of 16 with the above test code.

Interestingly, if I replace the ``import_tasks`` in ``roles/role1/tasks/main.yml`` by ``include_tasks``, I get to a depth of 40. Doing this with python3 allows going beyond 90 (did not test up to the limit).

Replacing ``import_tasks`` by ``include_tasks`` also fixes the issue in our real code for now.

[2018-04-06 07:54] dharmabumstead commented on #38212
![image1](https://user-images.githubusercontent.com/1683045/38409143-19384d2c-3935-11e8-9b17-0417dba24641.png)

[2018-04-06 07:56] AntPhil commented on #37749
@Akasurde thanks for reactivity !

[2018-04-06 08:01] ghost opened #38380 "loop over dict fails when only one element detected"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
loop

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Using new loop definition with dicts fails when only one element is detected.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

##### Workaround
Use old syntax ("with_dict").

[2018-04-06 08:01] mback2k commented on #26336
@sivel So what is the indented way to modularize ansible playbooks and have for a example a task file in a role which is able to configure a virtual host or firewall on a delegated host. We are making heavy use of something like this:

[code]

The included roles trigger handlers that reload the apache2 and nginx daemons to apply the configuration.

Do you have any suggestion on how to handle somet

[2018-04-06 08:30] youam commented on #38212
ack, it's fixed for me too, thank you!

[2018-04-06 08:51] Spredzy commented on #37867
@robertdebock here you go. I've also added a non-regression test. Hopefully the commit message is clear enough to explained what was causing the issue.

[2018-04-06 08:58] Gaby033 commented on #37198
@cigamit : I checked the syslog, messages and daemon.log, I didn't notice anything special. In /tmp there is nothing.

@tgoetheyn : As I said in my first post, the template that I clone already has `perl : 5.14.2`.

[2018-04-06 09:03] Akasurde commented on #37198
@Gaby033 Are you able to reproduce the issue when you clone using vCenter UI ? ping me on #ansible-vmware on irc.freenode.net

[2018-04-06 10:26] ykyr opened #38391 "Allow filtering of instances by labels in GCE dynamic inventory"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

gce.py
gce.ini

##### ANSIBLE VERSION

[code]

##### SUMMARY

There is no possibility to filter GCP instances by labels.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Group GCP instances by label key value pair - env_dev. That can be used after to execute playbook for specific group of instances.
##### ACTUAL RESULTS

[code]

[2018-04-06 11:01] mkrizek commented on #38298
Fixed in https://github.com/ansible/ansible/pull/37982

[2018-04-06 11:01] #38298 closed, assigned to nobody

[2018-04-06 11:06] mkrizek commented on #38380
Please see: https://github.com/ansible/ansible/issues/38306#issuecomment-378757353

[2018-04-06 11:06] #38380 closed, assigned to nobody

[2018-04-06 11:12] rlueckl opened #38392 "bigip_pool_member "provider" dictionary doesn't work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module: bigip_pool_member (possibly other bigip_* modules)

##### ANSIBLE VERSION
[code]

Other versions:
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux Mint 18 Sarah

##### SUMMARY
Using the `provider` dict for bigip_pool_member (new in 2.5.0) doesn't work with bigsuds 1.0.4 or 1.0.6 (latest). Using "old-style" config works.

[2018-04-06 11:41] imshyam opened #38394 "Using old data from cache even after updating file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

set_fact, vars, lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

Old cache data is being used in the next task, even when value is updated.

##### STEPS TO REPRODUCE

my_playbook.yml:
[code]

vars/main.yml:
[code]

##### EXPECTED RESULTS

[code]

[code]

The value in the vars/

[2018-04-06 11:42] Akasurde commented on #38263
@thorus90 Can you run this [script](https://github.com/Akasurde/pyvmomi_examples/blob/master/get_vm_runtime_host.py) and let me know if you are able to get the output ?

[2018-04-06 11:48] thorus90 commented on #38263
@Akasurde Yes, I get this ouput 'vim.HostSystem:host-75483', python2 as well as python3. Strange that it seams to work here but not in ansible.

[2018-04-06 11:50] rlueckl commented on #38392
It seems to me that `module.params` in **lib/ansible/modules/network/f5/bigip_pool_member.py** wasn't updated to reflect the changes in configuration. Basically `module_args` is correct, but `module.params` doesn't use it.

Starting with line 438 you have:
`server = module.params['server']`
which would be correct for the "old-style" config, but it should read:
`server = module.params['provider']['

[2018-04-06 11:53] Akasurde commented on #38263
@thorus90 Can you again try, I have updated the script to grab name of host system ?

[2018-04-06 12:07] thorus90 commented on #38263
yes, now I get the same error:
[code]

[2018-04-06 12:10] Akasurde commented on #38263
I guess this was introduced via #31632. Can you ping on #ansible-vmware hosted at irc.freenode.net ?

[2018-04-06 12:43] thorus90 opened #38398 "vmware_guest "msg": "VLAN 'XX' does not exist.""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HASH_BEHAVIOUR(/home/jrottmann/Dokumente/ansible/ansible-root/ansible.cfg) = merge
DEFAULT_REMOTE_USER(/home/jrottmann/Dokumente/ansible/ansible-root/ansible.cfg) = root
DEFAULT_SCP_IF_SSH(/home/jrottmann/Dokumente/ansible/ansible-root/ansible.cfg) = True
##### OS / ENVI

[2018-04-06 13:01] ReSearchITEng commented on #9065
This issue (#9065) was closed back in 2015. Same #6538. Same #6666. And many more.
Here is 2018, 4 years after many issues were open, and apparently it's more hot than it was at the beginning, and everyone lost hours due to a counter-intuitive design.
This sounds like an alarm on the design. IMHO this needs to be reviewed and fixed.

If everyone will continue use hacks and make ansible code ugly d

[2018-04-06 13:15] SISheogorath opened #38400 "Add PPA build for Ubuntu 18.04 (bionic)"
##### ISSUE TYPE

 - Bug Report

##### OS / ENVIRONMENT

Ubuntu 18.04

##### SUMMARY

By trying to add the Ansible PPA for installation it results in a failed state as Ansible doesn't provide a build for Bionic.

##### STEPS TO REPRODUCE

Simply run:
[code]

##### EXPECTED RESULTS

Ansible PPA is sucessfully added and the updates runs successfully.

##### ACTUAL RESULTS

Update fails. As there is

[2018-04-06 13:40] hanej commented on #9065
I think group_vars themselves should be able to be prioritized.  Hiera for Puppet got it right.  You can specify how lookups are done based on facts or groups.  Let the end user be able to customize how group_vars should be processed and provide a mechanism to easily see the order in which Ansible is applying those variables.

[2018-04-06 13:47] yannuil commented on #37590
On [this line](https://github.com/ansible/ansible/blob/712d30f46ca3126e1f4f1a83993614c029877aaa/lib/ansible/modules/system/service.py#L507), Ansible `service` module will pick `service` command as the backend under Linux environment as the last option for the autodetection. From the documentation, my understanding is that we can set `use` option to override `auto` and pick an init system, but [her

[2018-04-06 13:49] jakyns opened #38402 "can't install python packages via pip after upgrading Ansible 2.5"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

- pip

##### ANSIBLE VERSION

- 2.5

#### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS High Sierra

##### SUMMARY

I ran it on Mac OS High Sierra with Ansible 2.5 and I got this error when trying to install python packages via `pip` module

[code]

so I tried to downgrade to `ansible@2.0` in our laptop, it works fine.

##### STEPS TO R

[2018-04-06 13:54] trigger305 commented on #38357
If I divide the tasks in role1 into 2 files such as role2 and role3, each having half the include_tasks from role1 and then include or import them instead of role1 it works - this is not ideal but is the workaround I am using.

[2018-04-06 14:07] martinwilkerson-scisys commented on #29870
I am not seeing this issue in 2.5.0, has it been fixed or is my test case wrong? I have the following task:

[code]

Running a second (and beyond) time, the task reports unchanged and there is only one entry in the output of `mount`.

[2018-04-06 14:16] stpride opened #38404 "vmware_guest: add ability to use existing custom specifications"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
ansible 2.6.0

##### CONFIGURATION
Defaults

##### OS / ENVIRONMENT
Ubuntu, RHEL, Other

##### SUMMARY
The vmware_guest module allows users to customize settings that could be included in a custom specification, which is great.  However, for security reasons it may be useful for many of the attributes be "hidde

[2018-04-06 14:17] jyaworski commented on #38291
@alikins I'm using Packer to build an AMI on AWS. It runs a playbook that runs a yum update in a role.

Interestingly, I ran 'yum upgrade' prior to the ansible run and that seems to have fixed the problem.

[2018-04-06 14:34] caphrim007 commented on #36871
@gundalow is this issue relevant to me? or did the bot just see "network" and include me due to that?

[2018-04-06 14:44] caphrim007 commented on #38338
@Jeff00029 do you have bigsuds installed?

`pip freeze | grep bigsuds`

[2018-04-06 14:48] caphrim007 commented on #38340
@hanej this has been added during the 2.6 release cycle here

https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_gtm_wide_ip.py#L90

It will be upstreamed as part of F5's 2.6 work. You can try it there if you feel so inclined. Instructions on how to use the side-band work can be found here

http://clouddocs.f5.com/products/orchestration/ansible/devel/usage/installing-modules

[2018-04-06 14:48] #38340 closed, assigned to nobody

[2018-04-06 14:52] bank32 commented on #38402
updated, please help me figure it out 🙇

[2018-04-06 14:53] caphrim007 commented on #38392
@rlueckl yes, provider in 2.5.0 was broken. Though, I believe it is fixed in the side-band repo where F5 does their work here

https://github.com/F5Networks/f5-ansible

We upstream that work for major releases of Ansible. Note that the module you see in that repo is not a drop-in replacement. To use it, you need to tell Ansible about it as well as the module_utils and action plugins (the bug you s

[2018-04-06 14:56] dharmabumstead commented on #38212
Fix is live for devel and will be backported to 2.5 in a few hours.

[2018-04-06 15:15] mattclay opened #38407 "Unstable integration test any_errors_fatal"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

any_errors_fatal integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test any_errors_fatal:

https://app.shippable.com/github/ansible/ansible/runs/60374/48/console

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

#

[2018-04-06 15:16] mattclay commented on #38407
Disabled test in https://github.com/ansible/ansible/commit/56189cc312ab1907ac91c7eac30620c4f9f21546

[2018-04-06 15:28] samdoran commented on #38291
@jyaworski Glad you solved the issue. Closing since this is not a problem with Ansible.

[2018-04-06 15:28] #38291 closed, assigned to nobody

[2018-04-06 15:45] bcoca commented on #31543
@jeffsheltren  if the `rescue` works, the error is 'erased' so it is valid for `any_errors_fatal` to be superseded.

But we do have a problem, `always` should still execute and 'fail aftewards' but it seems we don't 'conserve' the fatal error and if tasks in `always`  succeed, the error is also erased, this behaviour is not intentional.

[2018-04-06 16:20] teddyphreak commented on #26336
Thank you for the clarification @sivel.
Can you provide a link that confirms that documentation for delegate_to and include_role in version 2.4 were marked as preview and not guaranteed to have a stable interface? otherwise the intention of the code is irrelevant to the issue and this is indeed a regression as reported initially

[2018-04-06 16:31] saichint opened #38409 "nxos_hsrp issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_hsrp
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

##### SUMMARY

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)

##### STEPS TO REPRODUCE
There are few issues with nxos_hsrp module
1. The default hsrp version is 1, the current code assumes it is 2 which is incorrect
2. There is no way to put virtual ip, priority a

[2018-04-06 16:37] atpage opened #38411 "Typo in docs/docsite/rst/user_guide/playbooks_intro.rst"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
documentation

##### ANSIBLE VERSION
2.5

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The first two examples under "Playbook Language Example" are virtually identical.  I believe the second one is missing an `enabled: yes` and the first one is supposed to be reformatted to one line per module.

##### EXPECTED RESULTS
The second example is supposed

[2018-04-06 16:41] sivel commented on #26336
metadata for `include_role` in 2.4:

https://github.com/ansible/ansible/blob/v2.4.4.0-1/lib/ansible/modules/utilities/logic/include_role.py#L10-L14

Also, we don't guarantee from major release to major release that there will be no backwards incompatibilities.  2.4 and 2.5 being major releases.

The porting guides are updated for each release for situations such as these:

http://docs.ansible.com/

[2018-04-06 16:41] #26336 closed, assigned to nobody

[2018-04-06 16:48] #38407 closed, assigned to alikins

[2018-04-06 16:50] 1-61803 commented on #32328
@bcoca, could you tag it as a feature request? Role vars separation would be a useful addition.

[2018-04-06 17:29] gundalow commented on #37899
I'd maybe change this to
`MODULES=command` and ensure that `command_module.html` is produced

[2018-04-06 17:30] poiriermike commented on #38232
@jborean93 What's the best path for me to test the fixes?

[2018-04-06 17:58] skylerbunny commented on #38262
For the new feature proposal, if include_[tasks|role] executed with -t on the command line, and `tags:` returns zero tasks, wouldn't it be sufficient/appropriate to return a warning?

[Warning]: Dynamic include used with `tags:` found zero tasks. Are any included tasks tagged?

This might actually be a good idea even if the new tag inheritance feature is never merged in, if it's possible to warn o

[2018-04-06 18:01] skylerbunny commented on #38262
This might even want to be considered a hard-stop error, if there aren't any realistic circumstances in which a user would (tag an include block) and also (tag nothing inside that include). Put another way, is this essentially a usage error at that point?

[2018-04-06 18:06] klauern commented on #27763
I think this is in Ansible 2.4: http://docs.ansible.com/ansible/latest/modules/java_cert_module.html

![image](https://user-images.githubusercontent.com/4735/38436848-586b6950-399b-11e8-816a-8795369f9553.png)

[2018-04-06 18:29] jlegrone commented on #37148
@honkycat for what it's worth, helm named templates solve that problem.

Reference: https://github.com/kubernetes/helm/blob/master/docs/chart_template_guide/named_templates.md#declaring-and-using-templates-with-define-and-template

[2018-04-06 18:33] #37419 closed, assigned to nobody

[2018-04-06 18:42] russellcardullo opened #38415 "YAML extra-vars on the command line are not being parsed as YAML"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
extra-vars

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS 10.12.6

##### SUMMARY
Passing in extra-vars as YAML on the command line is not interpreted as YAML.

##### STEPS TO REPRODUCE

Using the playbook `arcade.yml`:
[code]
Run the command passing in extra-vars on the command line as per the [documentation](

[2018-04-06 18:42] robertdebock commented on #37867
Hi @Spredzy, that patch work like a charm!

Before:
[code]

After, with your patch applied:
[code]

Thanks for the work, well appreciated!

[2018-04-06 18:42] #37867 closed, assigned to nobody

[2018-04-06 18:51] UnitedMarsupials-zz opened #38417 "A multiline marker may cause blockinfile to add the block anew"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
blockinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ALLOW_WORLD_READABLE_TMPFILES(/mi/A/ansible.cfg) = True
DEFAULT_FORKS(/mi/A/ansible.cfg) = 53
DEFAULT_TIMEOUT(/mi/A/ansible.cfg) = 23

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When the `marker` verb contains multiple lines, `blockinfile` will keep on inserting the block over and ov

[2018-04-06 19:01] s-hertel commented on #38411
cc @dharmabumstead

[2018-04-06 19:12] mickuehl commented on #38291
Hmm, I can observe the same error/behaviour when running a playbook inside a docker container where the user is not the default or root ...

[2018-04-06 19:31] naseemkullah commented on #27763
Thanks Nick

[2018-04-06 19:31] #27763 closed, assigned to nobody

[2018-04-06 19:41] orderedchaosdev opened #38419 "Issue with jinja template filter abs in ansible 2.5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

abs filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

In ansible 2.4 a template worked fine and in 2.5 it throws an error.
##### STEPS TO REPRODUCE

Run the playbook below

[code]

##### EXPECTED RESULTS

I get a number back
[code]
##### ACTUAL RESULTS

It throws an Attribute Error as well a

[2018-04-06 19:41] sivel commented on #38419
Already resolved by https://github.com/ansible/ansible/pull/37881 that will be included in an upcoming 2.5.1 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-06 19:41] #38419 closed, assigned to nobody

[2018-04-06 19:55] yaplej opened #38420 "ios_config fails when creating macro "timeout trying to send command:""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)
Cisco IOS XE Software, Version 16.06.03

##### SUMMARY
ios_config timeout when sending "macro name MYMACRO" comman

[2018-04-06 20:14] yaplej commented on #38420
Just a guess but a macro is a multi-line command but does not allow you to choose the delimiter like "banner".  So perhaps ansible its assuming the command should return a prompt or something instead of treating it as a multi-line command?

The output of "macro name MYMACRO" is:
'''
Enter macro commands one per line. End with the character '@'.
'''

[2018-04-06 20:23] gregseb opened #38421 "jira: add ability to create subtasks or document how this is already accomplished"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

jira

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_ARGS(/Users/gsebastian/.ansible.cfg) = -o ForwardAgent=yes
DEFAULT_HOST_LIST(/Users/gsebastian/.ansible.cfg) = [u'/Users/gsebastian/.ansible/hosts']
DEFAULT_ROLES_PATH(/Users/gsebastian/.ansible.cfg) = [u'/Users/gsebastian/.ansible/roles']
DEFAULT_STDOUT_CALLBACK(/Users/gs

[2018-04-06 20:28] #38105 closed, assigned to Qalthos

[2018-04-06 21:03] ibarrere opened #38425 "ios_facts fails on 'Invalid input detected'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/home/ibarrere/git/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/ibarrere/git/ansible/ansible.cfg) = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
CACHE_PLUGIN(/home/ibarrere/git/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/home/iba

[2018-04-06 21:03] maurelius commented on #38082
I can reproduce on Cat 3850 as well.

 `Cisco IOS Software, IOS-XE Software, Catalyst L3 Switch Software (CAT3K_CAA-UNIVERSALK9-M), Version 03.06.06E RELEASE SOFTWARE (fc1)
`

[2018-04-06 21:04] kdimiche opened #38426 "module `consul_acl` fails while trying to parse existing consul rules"
Bug Report
module consul_acl
ansible 2.6.0 (devel 3c996d0f74)
  python version = 3.6.1 (v3.6.1:69c0db5050, Mar 21 2017, 01:21:04) [GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]

While trying to run an Ansible playbook to set an ACL rule on a nearly fresh Consul cluster, it errors with this stack trace:

[code]

The code at  https://github.com/ansible/ansible/blob/b9bc64c7f911d654950f9dcf6766065cf3199

[2018-04-06 21:15] dougthor42 opened #38427 "Hang during WinRM EXEC `protocol.get_command_output` - What should I check on the target PC?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

winrm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes to default config.

##### OS / ENVIRONMENT

Ansible: Ubuntu 16.04.4 LTS xenial
Target: Windows 7 SP1, PowerShell 5.1 Build 14409 Rev 1005

##### SUMMARY

Ansbile hangs during the WINRM EXEC step. *__What should I check on the target computer to prevent Ansbile from hanging?_

[2018-04-06 22:42] eimis05 opened #38429 "Ansible 2.5 Param 'username' is deprecated in asa_config"
Ansible 2.5 shows message: Param 'username' is deprecated. See the module docs for more information. This feature will be removed in version 2.9

But if I look on Ansible module docs for 2.5 still shows to use username and password, http://docs.ansible.com/ansible/latest/modules/asa_config_module.html?highlight=asa

What is actual replacement of username and password?

[2018-04-06 22:45] jborean93 commented on #38427
Are you able to add `gather_facts: no` to your playbook (after the hosts entry) to disable fact gathering. I'm wondering if you are coming across the same issue as https://github.com/ansible/ansible/issues/38257. Also you can have a look at the processes on the remote host, if there is a PowerShell.exe and Winrshost.exe then the process is still running.

[2018-04-06 23:17] dougthor42 commented on #38427
**Remote host:** powershell.exe and winrshost.exe are both running.

**Adding `gather_facts: no`:** this does appear to solve the issue, thanks!

I'd like to do more investigation and really read through #38257 to verify that it's the same thing, but won't be able to until Monday. I also need to research and fully understand the implications of `gather_facts: no`.

[2018-04-06 23:23] ChrisLMerrill opened #38430 "Script command can't find the script after sending to target"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

script

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_HOSTS=/home/chris/ansible/hosts

##### OS / ENVIRONMENT

Ansible running on lubuntu 16.04 in VirtualBox VM on Windows 10. It is a fresh install of lubuntu specifically created for running Ansible. Ansible config file not touched since install. Python 2.7.12.

Target system is

[2018-04-06 23:30] ghost opened #38431 "API warning in azure_rm_postgresqlserver"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_postgresqlserver

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default settings

##### OS / ENVIRONMENT
Linux/Arch

##### SUMMARY
Warning when creating new datatbase:

[code]

##### STEPS TO REPRODUCE
Create new database according to module documentation.

##### EXPECTED RESULTS
No warning

##### ACTUAL RESULTS
Received warning due

[2018-04-06 23:35] jborean93 commented on #38427
Thanks for the confirmation, it runs setup.ps1 which gathers facts about the remote host such as the hostname, environment variables, network con, etc. The setup.ps1 script changed in 2.5 and it sounds like it is taking a long time to complete (process is still running but Ansible waits until it is done). It would be great if you could try and do the following when you have time;

* Use Ansible 2.

[2018-04-06 23:41] gregseb commented on #38421
I see now that this possible via the fields argument.

[code]

I believe is how it would work.  I haven't had time to test it yet.

[2018-04-07 00:03] yannuil commented on #37590
For people misunderstood the `use` option like I did, the option is to pick which Ansible module to handle the `service` action. The default module is specified in `ansible_facts["ansible_service_mgr"]`. [Here](https://github.com/ansible/ansible/commit/d2fec9d25911e89aebcfd830a2927e0bcb3b5ce3) is the relevant change.

[2018-04-07 04:52] abadger commented on #38198
bot_skip

[2018-04-07 05:47] junglie85 opened #38433 "terraform module fails missing required argument project_path"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

terraform module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS managing Ubuntu 18.04

##### SUMMARY

When providing `project_path` module fails with `missing required arguments: project_path`

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

module to run successfully

##### ACTUAL RESULTS

[code]

[2018-04-07 09:02] Akasurde commented on #38404
@stpride Thanks for reporting this issue. Are you referring to [vault](http://docs.ansible.com/ansible/devel/user_guide/playbooks_vault.html#using-vault-in-playbooks) like functionality ?

needs_info

[2018-04-07 09:15] Akasurde commented on #37056
The RCA of this issue is - VMware custom user used for running Ansible playbook, does not have read permission on the given host system. Fact gathering was failing due to this lack of privilege. Adding try-except in `gather_vm_facts` fixes this issue. Host system name is an additional fact and we don't depend on this value in any operation (deployment or power statement management).

[2018-04-07 09:29] Akasurde commented on #38433
@AshleyByeUK Thanks for reporting this issue. Are you sure that you are using correct playbook as I can see no `project_path` in `"module_args"` in actual output provided, while it is available in playbook provided?

needs_info

[2018-04-07 09:42] fff7d1bc opened #38435 "inventory script does not really handle exec errors."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
plugins/inventory/script.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Gentoo

##### SUMMARY
It appears that dynamic inventory feature does not really handle execution errors. If the inventory script return non zero exit status ansible will just continue. One can set `unparsed_is_failed` to `True` and hope that t

[2018-04-07 09:55] AshleyByeUK commented on #38433
@Akasurde thanks. As far as I am aware, yes. Here is the full playbook, `tear-down.yml`:
[code]

And I am running it like so:
`ansible-playbook -i inventory/cluster.yml tear-down.yml`

[2018-04-07 09:59] AshleyByeUK commented on #38433
Although I did just edit the above example to tab in the `project_path` and `state`. And I had to do the same when I first raised the bug.

I'm just about to head out, but let me check this later. I suspect it might just be a yaml formatting error on my part.

[2018-04-07 10:13] ericzolf opened #38436 "cyberarkpassword lookup has broken documentation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cyberarkpassword

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`ansible-config dump --only-changed` returns nothing.

##### OS / ENVIRONMENT

F27

##### SUMMARY

ansible-doc (or ansible-doc-3) isn't able to show the documentation for the lookup plugin cyberarkpassword

##### STEPS TO REPRODUCE

Call:

[code]

##### EXPECTED RESULTS

Doc

[2018-04-07 10:34] bruceliu01 commented on #38315
I have tried the IRC and mail list you gived me. However I can not visit these sites in China.
Do I have other choice?
I would describe the bug ,that I proposed on github, to you.
I have two plays in playbook, one with tag A, and another with tag B. I run the play with ansible python api, and I use the tag function in the options, that is a param for the class PlaybookExecutor.
If I run one play o

[2018-04-07 12:55] montj2 commented on #38402
This issue appears to have the same root cause as being discussed and tracked in #37912

[2018-04-07 15:49] Taha1231234 commented on #19584
i am getting the below error while trying to copy a file from control machine to a node.

COMMAND: sudo ansible dbservers -m copy -a "src=/etc/ansible/Taha dest=/etc/Taha"
Error:
52.186.71.70 | UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: Permission denied (publickey,gssapi-keyex,gssapi-with-mic,password,keyboard-interactive).\r\n",
    "unreachable":

[2018-04-07 16:06] RalfJung opened #38439 "Module documentation index links to plugin documentation"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
Documentation

##### ANSIBLE VERSION
latest

##### SUMMARY
The modules list at https://docs.ansible.com/ansible/latest/modules/list_of_files_modules.html links to the wrong page for the "template" module.

##### EXPECTED RESULTS
It should link to https://docs.ansible.com/ansible/latest/modules/template_module.html

##### ACTUAL RESULT

[2018-04-07 17:51] Akasurde commented on #38204
resolved_by_pr #38441

[2018-04-07 17:59] Akasurde commented on #38398
As a workaround, can you just use name in network parameter ? Let me know if it works for you.

[2018-04-07 20:44] AshleyByeUK commented on #38433
I've just corrected the syntax error in the yaml document and I think it runs fine. I'm having some trouble applying the terraform project so it now throws an error when I try and destroy it. Makes me think the fault was my syntax so happy to close this issue.

[2018-04-07 21:12] BondAnthony commented on #35986
closing issue since the tagging bug was resolved in 2.5 and 2.4.4. Please let us know if you have any questions

close_me

[2018-04-07 21:16] #35986 closed, assigned to nobody

[2018-04-07 22:58] eugenetaranov commented on #29240
me too, version 2.4.2.0
@xcambar could you please reopen the ticket?

[2018-04-08 02:06] meenaven commented on #5725
excellent, it worked for me

[2018-04-08 04:17] Akasurde commented on #38433
Closing this issue. If issue persists, please feel free to re-open.

[2018-04-08 04:17] #38433 closed, assigned to nobody

[2018-04-08 12:10] Akasurde commented on #11862
Closing this issue as etcd3 module is added in version 2.5 via #35053. If issue persists, please feel free to re-open.

[2018-04-08 12:10] #11862 closed, assigned to nobody

[2018-04-08 12:16] Akasurde commented on #12445
@kai11 Could you please check if latest version of docs includes your suggestion ?

needs_info

[2018-04-08 12:27] Akasurde commented on #13165
@ronsonmaria Could you please check if this is still issue for you ?

needs_info

[2018-04-08 12:59] query2018 opened #38447 "Connection timeout while connecting to Windows 12"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
WINRM

##### ANSIBLE VERSION
ansible 2.2.1.0

##### OS / ENVIRONMENT
Ansible host: Linux
Remote host : Windows 12

##### SUMMARY
I am trying to connect to win 12 from an ansible tower.
While doing so my job is failing giving below error:

[code]

For reference PFB the details:
Inventory connection details mentioned:

[code]
Please find attache

[2018-04-08 13:24] query2018 commented on #38447
@ansibot  thanks for your inputs!!

current winrm.py being used:

# (c) 2014, Chris Church <chris@ninemoreminutes.com>
#
# This file is part of Ansible.
#
# Ansible is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#

[2018-04-08 14:00] Nothing4You commented on #32022
This seems to be resolved now, thanks.

[2018-04-08 14:44] cben commented on #38331
#38448

[2018-04-08 16:30] teresaejunior commented on #18901
Indeed this is in a project for local provisioning! I hadn't paid attention to this back in the day!

[2018-04-08 16:33] vestival commented on #38331
That fixes the problem

[code]

[2018-04-08 16:36] #38331 closed, assigned to nobody

[2018-04-08 17:23] Ankur012 opened #38450 "Handler not executing"
##### ISSUE TYPE

 - Bug Report
 ##### COMPONENT NAME

Handler

##### ANSIBLE VERSION

ansible 2.5.0
  config file = /home/ubuntu/ankur_data/upload/0904/upaas-ansible-master/upaas/ansible.cfg
  configured module search path = [u'/home/ubuntu/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable loc

[2018-04-08 17:45] AshleyByeUK commented on #38143
Tried this with a VM with no NIC's configured in the template (a suggestion in another issue, can't remember the number nor find it now, sorry) and the network interfaces are still not being connected after cloning from a template.

[code]

And here are the `vm_facts`:

[code]

Any ideas what's going on?

[2018-04-08 17:46] Akasurde commented on #12095
Closing this issue as it is not reproducible on latest, 2.5 documentation page. If issue persists, please feel free to re-open.

[2018-04-08 17:46] #12095 closed, assigned to nobody

[2018-04-08 17:51] Akasurde commented on #12038
@yunano Can you please check if this is still issue for you as I am not able to reproduce ?

needs_info

[2018-04-08 17:58] Akasurde commented on #15352
@slash3g Can you please check again and let us know if it is not working for you ?

needs_info

[2018-04-08 18:13] Akasurde commented on #15565
@aurelien-git Could you please check if this is still issue for you ? Also, could you please try @dejitaiza solution ?

needs_info

[2018-04-08 18:54] lkjangir commented on #19584
try with passing inventory file and ssh key with a username. I don't have any user defined in inventory for nodes, so I pass with command and it always works for me. so the command will be like this -

sudo ansible dbservers -m -i inventory/inventory-file --user=ubuntu --private-key="private-key.pem" copy -a "src=/etc/ansible/Taha dest=/etc/Taha"

[2018-04-08 19:04] aurelien-git commented on #15565
It is the years anniversary ... so 2 years after ... I would say that the trouble happen on the git version ... so does the fact that changing the origin is relevant as could be considered as a correction? (I will respond for you) NO ... but now I can try to git pull ... which would me more relevant.
Because the important point is that the git version should works, no?

[2018-04-08 19:05] Akasurde commented on #16868
Fixed by #17696

[2018-04-08 19:05] #16868 closed, assigned to nobody

[2018-04-08 19:20] #15565 closed, assigned to nobody

[2018-04-08 19:31] Akasurde commented on #16910
@robinro @gundalow Can we close this ?

[2018-04-08 19:52] Akasurde commented on #18209
Closing this issue as package is available [here](https://launchpad.net/~ansible/+archive/ubuntu/ansible/+packages).

[2018-04-08 19:52] #18209 closed, assigned to nobody

[2018-04-08 20:32] tlawrence commented on #37811
in addition, I think the vCloud API schema has changed too because even installing the older library causes issues with the vca_fw task when it attempts to deserialise the XML from vcd.

[2018-04-08 20:47] cigamit commented on #37198
Sysprep is just the generic term, VMWare actually calls it LinuxPrep but its basically the same thing.
You might also look at this to ensure your vcenter version and patch level can customize that version of Debian.
http://partnerweb.vmware.com/programs/guestOS/guest-os-customization-matrix.pdf
Debian isn't on the list, but I assume it would be equivalent to the Ubuntu variant.

Also, seems like t

[2018-04-08 23:02] drew1kun opened #38454 "template module does not respect Jinja2 conditional check"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

jinja2 templating (template module)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### SUMMARY

template module does not respect Jinja2  conditional check
##### STEPS TO REPRODUCE

Vars:
[code]

Tasks:

[code]
wpa_supplicant.conf.j2:
[code]

Also tried to use `{% if 'stdout_lines' in AP %}` or `{% if AP.stdout_lines %}` instead

[2018-04-09 00:52] szponek opened #38455 "azure_rm_storageaccount module doesn't support new recommended 'kind' of storage in Azure"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_storageaccount

##### ANSIBLE VERSION
I'm using ansible 2.4.3.0, but I checked the devel branch and StorageV2 kind is not available there either.
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
azure_rm_storageaccount module doesn't support new 'kind' of storage account provided by Azure.

The old one was rena

[2018-04-09 01:46] igoratencompass opened #38456 "Setting remote_user ignored in ssh connections, it is always made as ansible user for some reason"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Setting remote_user ignored in ssh connections, they are always made as `ansible` user for some reason. This is on AWS with `ec2.py` dynamic inventory.
My settings:
[code]
but the command I see executing in verbose mode is:
[code]
as you

[2018-04-09 02:57] Akasurde commented on #19067
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-04-09 02:57] #19067 closed, assigned to nobody

[2018-04-09 03:09] Akasurde commented on #20776
@seankelly Could you please check if above patch works for you ?

needs_info

[2018-04-09 03:59] savishy commented on #38198
@yuwzho I got the issue reopened (thanks @abadger ) - could you take a look at this now please?

[2018-04-09 04:23] #15579 closed, assigned to nobody

[2018-04-09 05:01] Akasurde commented on #25679
@klicki Could you please check [YAML Syntax](http://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html) documentation and let us know if it make sense to you ?

needs_info

[2018-04-09 05:33] Akasurde commented on #26420
@stephan2012 Did you get a chance to look into this ?

[2018-04-09 05:35] Akasurde commented on #26787
@ReSearchITEng Could you please required information as requested ?

needs_info

[2018-04-09 05:39] Akasurde commented on #26778
@dungdm93

Could you please paste output of following command ?

[code]

needs_info

[2018-04-09 05:56] rlueckl commented on #38392
Thanks for the information! I'll try it out.

Otherwise I think I'll wait for 2.6, no rush to upgrade from 2.4
I just wanted to see what new stuff there is in 2.5

[2018-04-09 06:42] serenabi commented on #29020
Hi @woshihaoren @bcoca We met the same issue on ansible API call, and it is proved that this bug does not impact CLI, I see we have the play_context.py update for this issue, I think we need fix it and do a plan when this fix can go to which version?

[2018-04-09 07:38] ncraike opened #38461 "File module page is not listed under module documentation"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

The file module.

##### ANSIBLE VERSION

This is an issue with the latest Ansible documentation on the website, not the installed tools.

##### SUMMARY

The [file module](http://docs.ansible.com/ansible/latest/modules/file_module.html) is not listed on the [Files modules](http://docs.ansible.com/ansible/latest/modules/list_of_files_m

[2018-04-09 07:40] Jeff00029 commented on #38338
Hi Caphrim007

Yes it seems installed :

[root@152101lmof ~]# pip freeze | grep bigsuds
bigsuds==1.0.6

[2018-04-09 07:53] Akasurde commented on #29248
@peerster This error is due to the last two lines from `npm list`. Module expects return of `npm list` command as JSON but when there is error, we get erroneous output and JSON load fails.

Can you paste output of `npm list --json --long --loglevel=silent`?

[2018-04-09 08:00] kladiv commented on #37535
Hi, still present in ansible 2.5.0

[2018-04-09 08:01] yasa1987 commented on #37056
Here are the priviIeges set on my Ansible VMware user that is only supposed to manage snapshots
[code]

[2018-04-09 08:04] Akasurde commented on #37198
Yes. Debian is not supported for customization, I am getting following error on my setup

[code]

[2018-04-09 08:05] Akasurde commented on #37056
@yasa1987 Could you please check my patch and let me know if it works for you ?

[2018-04-09 08:28] Gaby033 commented on #37198
@cigamit : thank you for those useful informations ! I checked my vcenter version and it's the `build number : 4180647`. So according to this : https://kb.vmware.com/s/article/2143838 the exact version is : `vCenter Server 5.5 Update 3e`.

Also, I don't have the log file you told me about. I only have this one : `/var/log/vmware-vmsvc.log`. But didn't saw anything relevant.

@Akasurde : so if I un

[2018-04-09 09:05] Akasurde commented on #37198
@Gaby033 I am getting error message as I am on 2.5 with vCenter 6.5 whereas you are on 2.4 with vCenter 5.5.

Can you update to 2.5 version, if possible?

[2018-04-09 09:10] #26298 closed, assigned to nobody

[2018-04-09 09:13] Tsuna77 opened #38463 "ansible-vault edit failed with a new password"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-vault edit

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/appli/workspaces/ansible_vra/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/appli/workspaces/ansible_vra/ansible/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=60s -o ControlPersist=10 -o ControlPath=/tmp/ssh_mux_%h_%p_%r
DEFAULT_BECOME_FLAGS(/app

[2018-04-09 09:19] Baryczka opened #38464 "win_iis_webapppool changing state of multiple pools"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME

win_iis_webapppool

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible:  Ubuntu 14.04<br>
Managed system: Windows Server 2012 R2

##### SUMMARY
I'm trying to use *win_iis_webapppool* module to stop some pools during deploy process.
Apparently it works but throwing an error. Documentation doesn't mention if it's p

[2018-04-09 10:06] mprahlkamps opened #38466 "vmware_guest network ip not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running ansible on Debian GNU/Linux 9.4 (stretch)
And managing Debian GNU/Linux 9.4 (stretch) machines.

##### SUMMARY

networks ip command is not accepted.

##### STEPS TO REPRODUCE

Just run this playbook. If you get an error that the network do

[2018-04-09 10:17] Akasurde commented on #38466
@mprahlkamps Thanks for reporting this issue.

[2018-04-09 10:40] pupseba commented on #30950
Using the wrong module lead me to this thread. In my case solution was easy and simple which was using "win_ping" instead of "ping". For those who like me end up in this thread after googling the error message, make sure you are using "win_ping" when testing ansible against windows hosts.

# ansible -m **win_ping** windows

[2018-04-09 10:41] Akasurde commented on #38398
@thorus90 Can you check Distributed Virtual Portgroup `VLAN_69_XXX-Server` is associated with hostsystem on which you are trying to deploy VM ?

I am only able to reproduce this error if host system is not associated with dvpg specified in networks.

needs_info

[2018-04-09 10:58] thorus90 commented on #38398
I'm on a business trip this week, will test this as soon as I can.

[2018-04-09 11:10] dagwieers commented on #30950
@amansyed931 Your question does not belong in this thread. but yes we have a few options listed in #30792

[2018-04-09 11:15] pdemagny commented on #38182
hi, @bobsaintcool you got the third argument working in any way using the new "loop + lookup" format ?
I tried both your loop: lines and a lot of other things, but i can't get the new form of "loop + subelements lookup" to work at all when using this third argument ... and this argument is mandatory for me.
I just gave up modifying my code to support new 2.5 loop form ... until it gets fixed or we

[2018-04-09 11:52] peerster commented on #29248
@Akasurde Since it seriously long (157076 lines) I included a file with the output
[npm_list.txt](https://github.com/ansible/ansible/files/1889715/npm_list.txt)

[2018-04-09 11:55] apollo13 commented on #38219
Full playbook to reproduce:
[code]
Error:
[code]

[2018-04-09 11:55] peerster commented on #29248
@Akasurde Our environment has changed since then. Probably installed a bit more stuff etc.

So I don't know if the output is relevant anymore:
[code]

If you still want the output, please let me know

[2018-04-09 12:02] sksairaj9934 commented on #30744
mn k,, lj

[2018-04-09 12:05] apollo13 opened #38472 "Lineinfile inserts at wrong location on Ansible 2.5.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Lineinfile module inserts data into random places

##### STEPS TO REPRODUCE
Create a testfile named `test_file`:
[code]
Run this playbook:
[code]

##### EXPECTED RESULTS
Ansible shouldn't do anything since the data is already there

#

[2018-04-09 12:13] Akhiles7 opened #38474 "win_copy don't work against Windows Server 2008"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
control host: RedHat 7.4
managed node (with bug): Windows Server 2008 (6.1.7601.65536 PowerShell v. 5.1.14409.1005)
managed node (without bug): any Windows Server 2012 R2+

##### SUMMARY
Module win_copy hangs for some time (around 2 minutes) till Windows

[2018-04-09 12:39] Gaby033 commented on #37198
@Akasurde : I updated my AWX environment and so ansible is now version 2.5.
When I play my playbook I get this message : `"msg": "Folder is required parameter while deploying new virtual machine"`. I will try to find out which path I should put, and update you after that.

[2018-04-09 12:41] sliddjur opened #38478 "vyos_config and vyos_user should allow setting encrypted password."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vyos_user
vyos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Can not use encrypted password in neither vyos_config or vyos_user.
Since I only know and only want to know the encrypted password of the users, I want to be able to use the encrypted password in these two modules.

[2018-04-09 12:52] maishsk opened #38482 "Changed behavior with ec2_ami - version 2.5.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_ami

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
MacOS High Sierra

##### SUMMARY
`name` parameter that is now mandatory on all ec2_ami module actions - this was not the case before

##### STEPS TO REPRODUCE
ansible-playbook playbook.yml

[code]

##### EXPECTED RESULTS

In version 2.4.2.0 the result was successf

[2018-04-09 12:53] gundalow commented on #38478
Note to self @sliddjur  = `OlofL` on IRC :)

[2018-04-09 12:59] trishnaguha commented on #37227
@rogerscuall We have tried to reproduce the issue multiple times and unable to reproduce it, we believe that this might be your environment issue. Closing the issue.

[2018-04-09 12:59] #37227 closed, assigned to trishnaguha

[2018-04-09 13:09] Akasurde commented on #29248
@peerster I am looking error for last two lines like following which was your last output.

[code]

Do you see such error report while using `--loglevel=silent`

[2018-04-09 13:13] rogerscuall commented on #37227
Ok, I have this same problem in multiple environment, different installations of ansible is really not hard to replicate.

[2018-04-09 13:14] #38201 closed, assigned to nobody

[2018-04-09 13:18] gtema commented on #26879
still in 2.5
playbook include_role (tasks_from); task uses include_tasks (same dir) => Unable to retrieve file contents

[2018-04-09 13:19] ossark opened #38484 "ec2_vpc_vgw BGP AS numbers"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ec2_vpc_vgw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Make the module support setting non AWS standard BGP AS numbers.

[2018-04-09 13:26] Tsuna77 opened #38485 "Display invertion in full_skip callback"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

full_skip callback plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/appli/workspaces/ansible_vra/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/appli/workspaces/ansible_vra/ansible/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=60s -o ControlPersist=10 -o ControlPath=/tmp/ssh_mux_%h_%p_%r
DEFAULT_BECOME_FLA

[2018-04-09 13:27] bobsaintcool commented on #38182
Hi!

@pdemagny sorry i'm not sure to follow you. Are you asking about the new syntax "loop+lookup" in the example that should works on the example I gave ?
[code]

If yes, it indeed does not works
[code]

This is because lookup is not required to return every time an list. In the other hand loop expect to be given a list. I've opened an another issue (#38183 ) thinking of bug but in fact its seems

[2018-04-09 13:32] maishsk commented on #38482
Looks like the required: false was removed? https://github.com/ansible/ansible/pull/28506/files#diff-dbbe5ac2528c8137437e22f5bf1cbca2L38

[2018-04-09 13:52] yanivohayon8 opened #38486 "manipulating backed slash as string"
##### COMPONENT NAME
win_acl

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
red hat enterprise linux server release 7.2

##### SUMMARY

hey all !
I'm trying to modify cifs share acl permissions (ntfs emulation).
authentication is functioning with kerberous (and well :) ).
the problem I encountered is to access this share.
 mainly becouse of the "backslash tricks".

practicly this is what I

[2018-04-09 13:56] sliddjur commented on #38478
Would also be nice if vyos_user could enable to set the ssh-key options. SSH key and type.

[2018-04-09 14:03] Tsuna77 opened #38487 "bug with ansible-config dump when terminal to small ans ctrl-C"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

ansible-config dump
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/appli/workspaces/ansible_vra/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/appli/workspaces/ansible_vra/ansible/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=60s -o ControlPersist=10 -o ControlPath=/tmp/ssh_mux_%h_%p_%r
DEFAULT_BECOME_FLAGS(/appl

[2018-04-09 14:06] MoLt1eS commented on #16254
same thing happening in 2.5

[2018-04-09 14:15] sivel commented on #38439
cc @dharmabumstead

[2018-04-09 14:26] bcoca commented on #38487
in this case ansible is not doing direct terminal manipulation, it leaves it to the `PAGER` as defined (using `less` as a default).

In any case I'll look into it but it might not be something we can control directly.

[2018-04-09 14:34] bcoca commented on #38485
cc @rakshazi, @tedder

[2018-04-09 14:46] caphrim007 commented on #38338
@Jeff00029 are you using Ansible in a virtualenv? Do you have more than one version of python installed?

[2018-04-09 14:48] caseycesari commented on #33417
Updating to ansible 2.5.0 (from brew) fixed this issue for me.

[2018-04-09 14:50] bcoca commented on #38435
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The behaviour you not is no due to the inventory scripts feature (provided by the `script` plugin). but inventory in general. Ansible s

[2018-04-09 14:50] #38435 closed, assigned to nobody

[2018-04-09 14:55] tedder commented on #38485
I don't completely follow. Can you mock-up an example of the expected output/expected results?

(noting my only involvement here was a spelling fix, but I can try to help)

[2018-04-09 15:13] poflynn commented on #38291
Thanks to everyone for prompt and very helpful replies. Here are all the pkgs that would be updated, I guess one of these Ansible is using and it gets updated underneath Ansible while it's running. Posting here for others who might come here via Google etc.

Paul

[code]

[2018-04-09 15:24] Jeff00029 commented on #38338
@caphrim007 yes i run Ansible in a virtualenv, i have two version of python installed (this vm is use by all menber of network team).
Just in case i use f5-sdk to add node, vs, pool via ansible and it work well :

[root@152101lmof F5_playbooks]# pip freeze | grep f5-sdk
f5-sdk==3.0.14

Thanks for your help

[2018-04-09 15:30] caphrim007 commented on #38338
@Jeff00029 are bigsuds and the f5-sdk installed in the virtualenv? or on the system's python?

[2018-04-09 15:35] Jeff00029 commented on #38338
@caphrim007 I don't know, i use  "pip install bigsuds" command to install bigsuds and f5-sdk.

I follow this documentation : http://clouddocs.f5.com/products/orchestration/ansible/devel/usage/getting_started.html

[2018-04-09 15:44] bcoca commented on #38319
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-awx on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd

[2018-04-09 15:44] #38319 closed, assigned to nobody

[2018-04-09 15:47] caphrim007 commented on #38338
@Jeff00029 i think you're misunderstanding my question about a virtualenv. I'm referring to a Python virtualenv https://virtualenv.pypa.io/en/stable/ not a virtual machine that you run Ansible in.

It sounds like you are not using a virtualenv. What is the other version of python that is installed?

[2018-04-09 16:28] mprahlkamps commented on #38466
I don't know if I should edit my post but I'll just add it here:

I encounter the same issue when using customization from the vmware_guest module:

[code]

[2018-04-09 16:30] nitzmahone commented on #38400
@SISheogorath I've kicked off a 2.5 build that should add bionic- we'll also update our build machine to include bionic in future builds by default. Once they're up, can you verify and close this ticket if it looks good to you?

[2018-04-09 16:40] klicki commented on #25679
Excellent work!

Suggestions for tiny improvements:

  * I'm missing an explanation why this is illegal.

    The following is invalid YAML:

    foo: "an escaped \' single quote"

    The other examples are easy to understand.

  * A major obstacle for newbies are tab characters in your YAML. I was
    using an editor which replaces several spaces by tabs, which doesn't
    work so well in YAML.

[2018-04-09 16:43] bcoca commented on #38278
The bug was closed not due the default settings not producing it, but by adding the ability for the user to specify the default more granularity, as such the closing was correct.

[2018-04-09 16:43] #38278 closed, assigned to nobody

[2018-04-09 16:46] va1entin commented on #27065
Would love to see this implemented with one of the already existing PRs soon. People have to use "command" or "shell" module until then to create internal docker networks.

[2018-04-09 17:00] bcoca commented on #38430
I cannot reproduce this, also the bootstrap part is irrelevant as `script` does not require it.
needs_info

[2018-04-09 17:16] kinghrothgar commented on #30076
Any update on this or anything that is needed?

[2018-04-09 17:25] dferns11 opened #38491 "with_items variables allow delay as server is not able to process as quick"
I'm seeing an issue when running an ansible playbook to an ACI APIC controller to create multiple EPG's

tasks:
    -
      aci_epg:
        ap: tn1-ap-1
        bd: tn1-BD-1
        description: test
        epg: "{{ item }}"
        hostname: "{{ inventory_hostname }}"
        password: "{{ aci_password }}"
        state: present
        tenant: tn-1
        username: "{{ aci_username }}"

[2018-04-09 17:26] dferns11 commented on #38491
I'm running ansible 2.5.0

[2018-04-09 17:30] bcoca commented on #38456
do you have `ansible_user` or `ansible_ssh_user` set in any place? do you set remote_user in play?

needs_info

[2018-04-09 17:41] mattclay commented on #36063
Another failure: https://app.shippable.com/github/ansible/ansible/runs/60530/66/tests

[2018-04-09 17:49] mattclay opened #38494 "Unstable integration test win_exec_wrapper"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

win_exec_wrapper integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test win_exec_wrapper:

https://app.shippable.com/github/ansible/ansible/runs/60530/14/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

###

[2018-04-09 17:52] mattclay commented on #38494
Failures seen on:

- 2008 - https://app.shippable.com/github/ansible/ansible/runs/60530/13/tests
- 2008 R2 - https://app.shippable.com/github/ansible/ansible/runs/60530/14/tests

[2018-04-09 17:54] gaozhidf commented on #15721
the problem happens when the client is ubuntu16.04,  and install python 2.7 to fix the problem in the client.

[2018-04-09 17:54] Taha1231234 commented on #19584
Thanks Lokesh for the help ...

As i am new to ansible, i just want to know where do i can save pem file on control server ? do i need to make changes in inventory-file ?

[2018-04-09 18:02] mattclay commented on #38494
The failure appears to be a recent development. These runs did not have the failures:

- April 4th - https://app.shippable.com/github/ansible/ansible/runs/60021/summary/console
- April 5th - https://app.shippable.com/github/ansible/ansible/runs/60154/summary/console

But these runs did fail:

- April 6th - https://app.shippable.com/github/ansible/ansible/runs/60337/13/tests
- April 7th - https://a

[2018-04-09 18:11] krzysztof-magosa commented on #29814
The same problem happens on nfs v3.

[2018-04-09 18:14] krzysztof-magosa commented on #38491
You can add artificial delay like that:

[code]

[2018-04-09 18:28] dougthor42 commented on #38427
Correction: I just takes a *long* time to run... Also returns all of the domain accounts across the entire forest. Since one of our domains is overseas, the latency to them is quite high.

[2018-04-09 18:30] bcoca commented on #38486
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-04-09 18:30] #38486 closed, assigned to nobody

[2018-04-09 18:32] bcoca commented on #38491
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-04-09 18:32] #38491 closed, assigned to nobody

[2018-04-09 18:36] realged13 commented on #38179
@brampling yes, the host existed and made sure it did.

[2018-04-09 18:36] sivel commented on #16910
Closing as requested.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-09 18:36] #16910 closed, assigned to nobody

[2018-04-09 18:39] yuwzho commented on #38198
@savishy I already add this to my backlog, but I don't think I have bandwidth this three weeks. I can know the problem is the following two line:

https://github.com/ansible/ansible/blob/6300e71903ef02212f792b09c9b6720a55bfdf24/lib/ansible/modules/cloud/azure/azure_rm_securitygroup.py#L372-L373

It should also check whether the `source_address_prefixes` is none. Besides these lines, there also nee

[2018-04-09 18:40] pdemagny commented on #38182
Ok, so let me get this straight.
Its hard to follow new & recommended practice regarding a major change on a major feature (loops) because of a documentation issue misleading ppl into getting it wrong, telling us to use loop altough its not working with subelement's third argument because of loop expecting a list. But it can and has to be worked around with an undocumented feature ?

That's a toug

[2018-04-09 18:55] AshleyByeUK commented on #38143
Looking into this further, I'm wondering if it's a related issue to [33284](https://github.com/ansible/ansible/issues/33284)?

My networks are distributed port groups on a distributed switch - 1 datacenter, 1 cluster, 5 hosts.

[2018-04-09 18:55] saichint opened #38495 "nxos_igmp issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_igmp
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)

##### SUMMARY

##### STEPS TO REPRODUCE

There are some issues with nxos_igmp module.
1. If the 'restart' parameter is set to True, the module is throwing bad command errors.
2. Currently all the parameters can be set

[2018-04-09 19:00] gaozhidf commented on #35274
ansbile 2.5, server and client are Ubuntu 16.04

fixed problem when I install python2.7 on the client - Ubuntu

[2018-04-09 19:08] robinro commented on #37177
@pkaramol I can't reproduce your issue.
When, in a fresh ubuntu xenial container with ansible 2.4.3 on python 3.5, I run:
`ansible localhost -i localhost, -e ansible_python_interpreter=/usr/bin/python3 -c local -m pip -a "name=docker-py state=present"`
This returns "CHANGED" on the first run and "SUCCESS" on later runs. Can you provide a minimal working example of the issue? Maybe in a container?

[2018-04-09 19:09] robinro commented on #37177
Also your gist only shows one run of the playbook. Please give -vvvv output of both the initial and the second run.

[2018-04-09 19:12] salman1485 commented on #38253
just checking if I can get some help on this please?

[2018-04-09 19:19] drew-kun commented on #38454
OMG! You are right! That proves that my brain doesn't work at night. Btw, both `{% if 'stdout_lines' in AP %}` and `{% if AP.stdout_lines is defined %}` work, while `{% if AP.stdout_lines %}` returns that error... [Here](https://stackoverflow.com/questions/27740153/check-if-key-exists-in-a-python-dict-in-jinja2-templates) people claim that in jinja2 outside of ansible this approach works too. Not

[2018-04-09 19:24] atpage opened #38497 "Typo in docs/docsite/rst/user_guide/playbooks_variables.rst"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
documentation

##### ANSIBLE VERSION
2.5

##### OS / ENVIRONMENT
N/A

##### SUMMARY
In the "Information discovered from systems: Facts" section, there is a missing (and dated) example: "This will return a large amount of variable data, which may look like this, as taken from Ansible 1.4 running on a Ubuntu 12.04 system".

##### EXPECTED RESULTS

[2018-04-09 19:27] jborean93 commented on #38232
@poiriermike I've just merged in the changes so checking out Ansible from the latest devel will help to show what win_updates is actually failing on. Just run

[code]

This won't fix your issue but will show us what actually went wrong and we can go from there.

[2018-04-09 19:38] atpage commented on #38497
!component =docs/docsite/rst/user_guide/playbooks_variables.rst

[2018-04-09 19:44] jborean93 commented on #38474
Are you able to confirm a few things for us

* Is it Windows Server 2008 or Server 2008 R2
* The actual PowerShell version on it, Server 2008 can only go up to v 3.0
* If it is PowerShell v3, make sure KB2842230 is installed. It fixes an out of memory issue that occurs in WinRM (https://support.microsoft.com/en-us/help/2842230/out-of-memory-error-on-a-computer-that-has-a-customized-maxmemorypersh)

[2018-04-09 19:45] jborean93 commented on #38464
The module is only designed to support 1 App pool at a time, it may be a byproduct that it accepts wildcards internally but as you can see it is failing to return the details back to Ansible as there are multiple pools. You can 2 choices

* Use with_items to loop through the names you want to control in the task
* Use win_shell to use the wildcards safely.

[2018-04-09 19:46] jborean93 commented on #38447
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-04-09 19:46] #38447 closed, assigned to nobody

[2018-04-09 19:50] jborean93 commented on #38494
@mattclay are we still installing KB2842230, I was told recently the URL for the hotfix was changed recently so that may be silently failing and we don't realise it.

[2018-04-09 20:07] sivel commented on #38439
resolved_by #38492

[2018-04-09 20:27] yuwzho commented on #36622
resolved_by_pr #36766

[2018-04-09 20:34] #36622 closed, assigned to nobody

[2018-04-09 20:36] ChrisLMerrill commented on #38430
Can you give me some details on the environment that you tried to reproduce it on? Was it Alpine on EC2? Or one of the Alpine builds from their site? (https://alpinelinux.org/downloads/)

I was unsure if the script command required python, so I included the bootstrap for completeness.

[2018-04-09 20:51] bcoca commented on #38430
alpine vm, i don't have aws account

[2018-04-09 21:01] ChrisLMerrill commented on #38430
Which version did you install? The extended?

[2018-04-09 21:06] mattclay commented on #38494
@jborean93 I verified KB2842230 is still being installed. We download patches from our own S3 bucket so we shouldn't be affected by download changes.

[2018-04-09 21:08] bcoca commented on #38430
standard and virtual, i don't even have python installed, so anything other than `raw` and `script` fail, but both of those work:

[code]

test.sh:
[code]

[2018-04-09 21:12] jborean93 commented on #38494
That is true, thanks for verifying, I'll have a look sometime this week as this is a pretty important test.

[2018-04-09 21:52] ChrisLMerrill commented on #38430
Wow. So I started with what you had and it worked. Gradually got mine working. The cause: line terminators.  <sigh>  I can't believe that we're still fighting the battle in 2018. A "not found" error because of line terminators?  Ugh.

Would it be appropriate for me to raise an enhancement request for the shell module to do a dos2unix on the script before executing it? Given how shell returns a com

[2018-04-09 22:09] juju4 opened #38502 "win_user_right: add support for SID Nobody / *S-1-0-0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_user_right

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Windows/Appveyor

##### SUMMARY
win_user_right does not seem to support Nobody SID either as name, either as SID from
https://support.microsoft.com/en-us/help/243330/well-known-security-identifiers-in-windows-operating-systems
working if submitted t

[2018-04-09 23:35] jborean93 commented on #38427
@dougthor42 thanks for looking into it, I think you figured out the problem but solving it may be more complicated than it first seems. I'm personally trying to avoid using WMI as they can be quite slow (I know the irony) and have 2 few options going forward.

* Use WMI and query `Win32_UserAccount` like your example. Unfortunately `LIMIT` does seem to be a valid WQL syntax and `LocalAccount` only

[2018-04-10 00:38] jborean93 commented on #38494
Fix for this is here https://github.com/ansible/ansible/pull/38504

[2018-04-10 00:38] kenorb opened #38505 "Failed to mount API filesystems, freezing."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Docker.

##### ANSIBLE VERSION

I don't know, because the image crashes.

##### CONFIGURATION

Default.

##### OS / ENVIRONMENT

macOS High Sierra
Image: ansible/ansible:ubuntu1604py3
`Docker version 18.03.0-ce, build 0520e24`

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect to run a shell.

##### ACTUAL RESULT

[2018-04-10 00:48] #38494 closed, assigned to nitzmahone, jborean93

[2018-04-10 00:49] kenorb commented on #38505
##### COMPONENT NAME

Default configuration of `ansible/ansible:ubuntu1604py3` image.

##### ANSIBLE VERSION

No version installed, just a docker image.

[2018-04-10 01:28] CarlosEspejo commented on #37220
Instead of reopening https://github.com/ansible/ansible/issues/31557 I will share my findings here.
Looking at the digital_ocean.py from devel branch it was crashing for me here.
<img width="668" alt="digital_ocean_py_ ___projects_accern_playbooks" src="https://user-images.githubusercontent.com/911741/38530965-9f46261a-3c3b-11e8-9d49-a75aaa8d08e1.png">
I started printing the tags to see which drop

[2018-04-10 02:12] mrlesmithjr commented on #37457
Definitely, need this. I would be glad to do some testing as needed for this. Will this also potentially include the ability for defining logical node profiles, logical interface policies, sub-interfaces, and etc.? I am trying to put this all together using aci_rest and it can definitely get quite crazy it looks like so far.

[2018-04-10 03:15] kaochiuan opened #38510 "aws_kms_facts return JSON object failure"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

aws_kms_facts
aws_kms_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu 16 LTS
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The retrieval kms key is aws default existed, so it should be returned correctly.

##### ACTUAL RESULTS

[code]

The root cause may be the returned polici

[2018-04-10 03:38] Akasurde commented on #25967
Closing this issue as there is no reproducer. Please feel free to re-open if issue persists.

[2018-04-10 03:38] #25967 closed, assigned to nobody

[2018-04-10 03:39] Akasurde commented on #25970
@jepurdy any news ?

[2018-04-10 03:54] #38409 closed, assigned to trishnaguha

[2018-04-10 04:05] #38495 closed, assigned to nobody

[2018-04-10 04:14] willthames commented on #38482
@maishsk - that change is irrelevant - `required: False` is the default anyway.

The more important difference is https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_ami.py#L680

The underlying reason is that `name` is a required parameter when creating an image (https://boto3.readthedocs.io/en/latest/reference/services/ec2.html#EC2.Client.create_image) - that may ha

[2018-04-10 04:15] Akasurde commented on #32044
@jffz Could you please re-try with latest Ansible and let us know if it works for you ?

needs_info

[2018-04-10 04:25] willthames commented on #38482
You say it works in 2.4.2 though - how did it work? Or did the AMI not get a name at all with 2.4.2?

[2018-04-10 04:58] MarcinOrlowski opened #38511 "Using Ansible to mange ancient distros"
I am in need of using ancient version of Debian, version 4 in particular. I wanted to use Ansible with it yet I faced the SSH incompability issue as while gathering facts ansible invokces ssh with `-n` option which is simply not available on that version. Is there any way to still use Ansible with such old version of SSH?

[2018-04-10 05:10] mattclay commented on #37957
Recent failures from stable-2.5: https://app.shippable.com/github/ansible/ansible/runs/60677/11/tests

So far this seems to affect tests on 2012 and 2012 R2.

[2018-04-10 05:11] mattclay commented on #37957
Here is a failure on 2016: https://app.shippable.com/github/ansible/ansible/runs/59298/22/tests

[2018-04-10 05:33] willthames commented on #38510
Try using ` kms_default_es_key['keys'] | length == 0`

This has nothing to do with the aws_kms_facts module - it's that `keys` here is referencing the `keys()` method of the dict, as can be seen at the end of the error message you provide: `object of type 'builtin_function_or_method`

[2018-04-10 05:37] willthames commented on #38510
I'll reopen this on the basis that we might want to do something about this - whether it's improve docs, create a new return parameter and deprecate `keys`, or something else.

[2018-04-10 06:54] muffl0n commented on #36156
Sorry to resurrect this old issue but I'm still experiencing this behaviour when using "insertafter":
[code]
The lines get inserted over and over again. If I remove "insertafter" everything works fine.

The fix should be in 2.5.0b2, right?
[code]

[2018-04-10 06:55] muffl0n commented on #38472
This looks related to #36156 which **should** be fixed in 2.5.0b2.

[2018-04-10 07:09] maishsk commented on #38482
With 2.4.2 I was not required to add a name parameter when changing permissions - I assume it because of the change - you mentioned above.

I checked the following which works both on 2.4.2.0 and on 2.5.0

[code]

As soon as the name field is empty - on both versions the code that I used in 2.4.2.0 works also with 2.5.0.

Is it possible to put a default as empty in the code - unless specifically s

[2018-04-10 07:11] maishsk commented on #38482
Just submitted https://github.com/ansible/ansible/pull/38514 to fix this...

[2018-04-10 07:34] Akhiles7 commented on #38474
Its Windows 2008 R2 (6.1.7601.65536)
PowerShell is 5.1.14409.1005
Our file is 20Mb, we tried file of 1Mb size - its working. File of 5Mb already not working.File size on destination host is always 3,9Mb. So I suppose files more than 3,8Mb will fail.

We actually tried to change chunk size parameter in winrm.py (line 424) default was 250000 which caused us also issues, we changed to 1000000 - but t

[2018-04-10 07:37] imjoseangel commented on #33380
Same happening on Windows VM Creation. Tested the following:

[code]

[2018-04-10 07:37] mkrizek commented on #21279
Fixed in https://github.com/ansible/ansible/pull/30372

[2018-04-10 07:37] #21279 closed, assigned to jimi-c, bcoca

[2018-04-10 07:44] jborean93 commented on #38474
Thanks @Akhiles7 for the extra information, more things you can try to help us progress further

* Not sure if you have but updating Ansible to 2.5.0 and pywinrm to 0.3.0 may give us more exception info than just the send_input failed
* Try using http instead of https, there is a known issue with SSL wedging but we haven't been able to find the exact configuration that causes it. If you use http `

[2018-04-10 07:45] Jeff00029 commented on #38338
@caphrim007 ok sorry i begin and i'm not confortable with these environnement :).

My other version of python is 2.7.11 it use by splunk i think.

thank you for your help

[2018-04-10 07:52] Akasurde commented on #33380
@imjoseangel What is the version of Windows you are using for template ? Also, what is vCenter / ESXi version and update installed ?

[2018-04-10 08:23] azyablov opened #38516 "sros_command failed when match and wait_for are used"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/modules/network/sros/sros_command.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/azyablov/.ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/azyablov/.ansible.cfg) = -o ServerAliveInterval=3
ANSIBLE_SSH_RETRIES(/home/azyablov/.ansible.cfg) = 3
DEFAULT_HOST_LIST(env: ANSIBLE_INVENTORY) = [u'/home/azyablov/i

[2018-04-10 08:52] Akasurde commented on #38466
resolved_by_pr #38518

[2018-04-10 08:52] Akasurde commented on #38466
@mprahlkamps Can you please check this PR works for you ? also, what is the error, you get when you specify hostname in customization ?

[2018-04-10 09:25] imjoseangel commented on #33380
VMware ESXi, 6.5.0, 5310538
Windows Server 2012 R2
VCenter 6.5.0 7515524

The support Matrix is fine 🥇

[2018-04-10 10:02] jborean93 commented on #38474
Linux isn't ignoring the ack, Ansible is just covering the exception the http stack is throwing which I believe 2.5 now displays but not too worry it probably wouldn't have told us much.

When you say 500 error, do you mean the same behaviour as https, you need to upgrade to pywinrm to 0.3.0 to get message encryption or disable the encryption check on your server with `Set-Item -Path WSMan:\localh

[2018-04-10 10:18] markgoddard commented on #36725
I believe I'm seeing this issue. I was using the `file` module with `state=touch` in a loop over 2 items, and seeing ansible hang on about 2 of 3 attempts.

I'm using Ubuntu 16.04, and can reproduce the issue on docker 18.03.0-ce, but not docker 1.13.1.

[2018-04-10 10:39] peerster commented on #29248
@Akasurde Using `--loglevel=silent` doesn't show the `npm ERR!` messages, and the output seem to be valid JSON

[2018-04-10 10:40] Akasurde commented on #29248
@peerster Cool. Thanks for info.

[2018-04-10 12:08] mkrizek commented on #30189
@deadbeef404 There is already `allow_unauthenticated` option in the `apt` module.
@skftn There is already `dpkg_options` option in the `apt` module.

Closing as per above.

[2018-04-10 12:08] #30189 closed, assigned to nobody

[2018-04-10 12:28] s-hertel commented on #37383
Reenabled and fixed in bab947d8547c25dda2f09bbcb408df12f4449021

[2018-04-10 12:36] muffl0n commented on #36156
Btw, same behaviour in devel:
```ansible 2.6.0 (devel 361437b042) last updated 2018/04/10 08:30:33 (GMT +200)```

[2018-04-10 12:36] ghost opened #38525 "Loop crash when skipping tasks with undefined dict"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
loop

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Loop crash when skipping tasks with undefined dict.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS

[code]

##### Workaround

Old with_dict work as expected:

[code]

[2018-04-10 12:40] Gianlu opened #38526 "Pinning win_chocolatey packages"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_chocolatey
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOAD_CALLBACK_PLUGINS(/etc/ansible/ansible.cfg) = False
DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible/modules']

##### OS / ENVIRONMENT

##### SUMMARY
I think that will be useful add the capability to pin chocolatey packages.

##### STEPS TO RE

[2018-04-10 12:45] query2018 commented on #16478
@nitzmahone I have been facing similar issue and tried using the resolution you gave but still the issue is prevelant. Can you suggest any further

[2018-04-10 12:47] Akasurde commented on #38404
@stpride Got it. If I understand you correctly, you want to create custom specification before hand with all hardcoded values. And while deploying using vmware_guest just specify that custom specification name and your done.

[2018-04-10 13:34] codekipple commented on #38461
I ended up here because I first thought the way the file module works had changed. I thought maybe the scope of the module had been stripped down and the other parts of it had been taken out and renamed. Glad to know it still works as before, I thought maybe I would have to re-write a lot of stuff to get compatible with version 2.5.

[2018-04-10 13:37] #36799 closed, assigned to nobody

[2018-04-10 13:39] gadamiak opened #38529 "is_dir always fails on path with a tilde (~)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Path tests `is_dir` and `exists`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY

When testing a path containing the tilde, e.g. `~/tmp`, for existence or being a directory by using `is_dir` or `exists` tests, the result always fails.

#####

[2018-04-10 13:48] niehsgst opened #38531 "contrib/inventory/spacewalk.py: script ignores ungrouped machines"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

contrib/inventory/spacewalk.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

CentOS 7.4
##### SUMMARY

contrib/inventory/spacewalk.py does not output ungrouped machines, despite pulling them from spacewalk-report

[2018-04-10 13:48] Akasurde commented on #38404
resolved_by_pr #38530

[2018-04-10 13:55] trondhindenes opened #38532 "[Errno 12] Cannot allocate memory"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04 control node, target nodes are primarily Windows nodes using basic auth over https. Also tested control nodes based on Ubuntu 16.04 with similar results

##### SUMMARY
`ERROR! Unexpected Exception, this is probably a bug: [Errno 12] Cannot allocate memory`. This happens even if I run against a single

[2018-04-10 13:57] #38430 closed, assigned to nobody

[2018-04-10 13:57] maxamillion commented on #38529
!component =lib/ansible/plugins/test/files.py

[2018-04-10 13:57] Akhiles7 commented on #38474
@jborean93
Ok thanks, we will try to update pywinrm, configure Windows as you suggested and update ansible on our envs and give another shot. Will update this thread after that.

[2018-04-10 14:02] maxamillion commented on #38529
As per @bcoca, we probably need expandvars/expanduser to wrap all of the files tests.

[2018-04-10 14:07] MichalTaratuta commented on #38392
@caphrim007 any chance to push a fix with a **minor** release?

Additionlly I don't belive that the `validate_certs` is working correctly for this module. i.e the module works without `validate_certs: false` which is needed in my setup, all other F5 modules breake down without it.

[2018-04-10 14:12] sivel commented on #38525
This is the expected behavior.  In a block, the `when` statement is applied down onto the individual tasks, and does not cause the block itself to not be utilized.

Additionally, a `when` statement applies to each iteration of a `with_` loop, and does not apply before it's evaluation.

You will need to ensure that your `with_` statement can always be processed.

The following change should resolve

[2018-04-10 14:12] #38525 closed, assigned to nobody

[2018-04-10 14:25] maxamillion commented on #38511
A couple of things to note, first is that Ansible no longer supports versions of Python lower than 2.6 which I suspect will be one challenge that needs to be overcome with such an old release of a distribution. Secondly, you can set `ssh_args` in your ansible config for the [ssh connection plugin](https://docs.ansible.com/ansible/devel/plugins/connection/ssh.html) as well as `ANSIBLE_SSH_ARGS` [en

[2018-04-10 14:25] #38511 closed, assigned to nobody

[2018-04-10 14:26] bcoca commented on #38270
it will close once i merge the fix for the underlying problem, not just the specific plugin fix (which was already merged)

[2018-04-10 14:37] NetForce1 opened #38535 "Allow side-by-side installs in win_chocolatey"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

To ease migration I want to be able to install multiple versions of a package. Chocolatey provides a flag to install version side-by-side. This flag should be available from ansible too.

##### STEPS TO REPRODUCE

[code]

##### EXPE

[2018-04-10 15:08] jctanner commented on #29639
!component =lib/ansible/modules/files/copy.py
!component +lib/ansible/modules/files/template.py
!component +lib/ansible/modules/files/lineinfile.py
!component +lib/ansible/modules/files/ini_file.py
!component +lib/ansible/modules/files/replace.py

[2018-04-10 15:08] jctanner commented on #29639
bot_status

[2018-04-10 15:19] piffey opened #38536 "hashi_vault lookup does not support AppRole as claimed"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hashi_vault lookup

##### ANSIBLE VERSION
ansible 2.5.0
ansible 2.6.0 (devel 450cfa8776) last updated 2018/04/10 07:54:25 (GMT -700)

##### CONFIGURATION
ANSIBLE_NOCOWS(env: ANSIBLE_NOCOWS) = False

##### OS / ENVIRONMENT
Running from and on both ArchLinux and CentOS7

##### SUMMARY
The hashi_vault lookup plugin claims to not support AppRole auth

[2018-04-10 15:43] ChrisLMerrill commented on #38430
What about checking for the offending characters and noting it in the debugging output? That could save people a lot of time.

[2018-04-10 16:27] sivel commented on #38357
cc @sivel @bcoca @jimi-c @samdoran

[2018-04-10 16:30] yunano commented on #12038
@Akasurde  I have also confirmed that I cannot reproduce this issue with 2.5.0 or devel on CentOS 6.
Thanks.

[2018-04-10 16:30] sivel commented on #38357
Just a note that this could very well be related to the reparenting work done in `ansible.playbook.block.Block.copy->_dupe_task_list`

Issues were resolved in there before, to make sure we re-parented properly. But the testing done there was just with all the same include type.  Unsure how mixing different include types may affect things there.

[2018-04-10 16:34] trondhindenes commented on #38532
![screenshot from 2018-04-10 18-33-16](https://user-images.githubusercontent.com/1747120/38570270-bd0806ca-3ced-11e8-86e0-d58ecd58a97a.png)
Here's a pmap print seconds before Ansible crashes, at this point it's consuming around 4GB (!) of memory against a single host.

[2018-04-10 16:36] sm4rk0 commented on #38270
Ah, yes - the `fixes` keyword in PR.

[2018-04-10 16:49] sivel commented on #38532
Can you please provide more info about what type of task it normally crashes on.  Are you using a lot of `include_tasks` and/or `include_role`?

Without actionable info or a reproducer, it will be hard to diagnose this.

needs_info

[2018-04-10 17:04] trondhindenes commented on #38532
I'll try and do some triaging on my end aswell. We are using a lot of includes, yes.
Also, testing the same on Ubuntu 16.04 nodes the memory usage is far less. Never seen anything like this.

[2018-04-10 17:07] sivel commented on #38532
Can you also give the full output of `ansible --version` from that system you are running your playbook from?

Thanks!

[2018-04-10 17:09] Akasurde commented on #12038
@yunano Thanks for info. I will close this issue. Please feel free to re-open if issue persists.

[2018-04-10 17:09] #12038 closed, assigned to nobody

[2018-04-10 17:10] #37432 closed, assigned to nobody

[2018-04-10 17:38] Leggggg opened #38547 "nxos_l2_interface fails to remove vlan from both physical and logical trunk interfaces"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_l2_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[all:vars]
ansible_connection=network_cli
ansible_network_os=nxos

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY

I have a simple playbook to add a set of L2 VLAN to a NXOS router. After creating the VLAN, I call nxos_l2_interfac

[2018-04-10 17:47] jwoxidizeduser commented on #25638
What was the fix for this?

[2018-04-10 18:10] Leggggg opened #38548 "nxos_command, unexpected behavior when passing show commands. Declarative Intent."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[all:vars]
ansible_connection=network_cli
ansible_network_os=nxos

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY

Prior to ansible 2.5.0, I had written a pre-check validation to ensure L2 VLAN's did not exist prior to pushing configur

[2018-04-10 18:39] igozali commented on #38463
Probably duplicate of #35834

[2018-04-10 18:44] mattclay commented on #38505
@kenorb The Docker Hub images for `ansible/ansible` are currently used for development and testing of Ansible and are not intended for use by end users. In the future our test containers will be moving to another location to avoid confusion, but for the time being the images are working as intended.

[2018-04-10 18:44] #38505 closed, assigned to nobody

[2018-04-10 18:59] jmcshane commented on #29008
This is a really critical feature for including playbooks for external software packages. Could we get some documentation about the workaround or acknowledgement that is supported?

[2018-04-10 19:05] dferns11 opened #38549 "Bug with aci_access_port_to_interface_policy_leaf_profile when attaching VPC interface leaf policy group"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci_access_port_to_interface_policy_leaf_profile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### SUMMARY
When create an interface selector on the interface leaf profile and associating this leaf selector to an interface leaf policy group for a VPC PG, the policy binding is incorrect as seen from the API inspector.
[code]
In the

[2018-04-10 19:16] david-shepard opened #38551 "ansible-playbook --timeout overrides ANSIBLE_SSH_ARGS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ANSIBLE_SSH_ARGS='-o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s -o ConnectTimeout=300'`

##### OS / ENVIRONMENT
Linux

##### SUMMARY
Regardless of what you set `ConnectTimeout` to in `ANSIBLE_SSH_ARGS` it seems to get overridden with the the default timeout fr

[2018-04-10 19:17] EcHoOfInSaNiTy opened #38552 "[vmware_guest] - Carry over portkey fact from vsphere_guest when joining vm nic to portgroup"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -o StrictHostKeyChecking=no -o Serv
ANSIBLE_SSH_RETRIES(/etc/ansible/ansible.cfg) = 2
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
PERSISTENT_CONNECT_RETRY_TIMEOUT(/etc/ansible/ansible.cfg) = 45
PERSISTENT_CONNECT_TIMEOUT(/etc/a

[2018-04-10 19:30] ryansb commented on #30187
Closing this, unable to reproduce on 2.4 or 2.5.

[2018-04-10 19:31] #29692 closed, assigned to nobody

[2018-04-10 19:39] sivel commented on #29008
This is the expected behavior starting with Ansible 2.4 and is documented in the 2.4 porting guide:

http://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.4.html#initial-playbook-relative-group-vars-and-host-vars

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2018-04-10 19:39] #29008 closed, assigned to nobody

[2018-04-10 20:11] rgm3 opened #38556 "python26: passwordstore lookup fail for non-existent passwords"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
passwordstore lookup plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
EL 6

##### SUMMARY
The password store lookup for non-existent keys throws a TypeError on EL 6 systems using current epel package version ansible-2.4.2.0-1.el6.noarch.  This also happens in Ansible 2.5.0 (tested using virtualenv).

The p

[2018-04-10 20:14] jborean93 commented on #38474
@Akhiles7 a few more things that will help me to try and replicate the issue on my end;

* Are you able to run this on the Ansible host and let me know the version returned `python -c "import ssl; print(ssl.OPENSSL_VERSION)"`
* Run on Windows to detect if TLS 1.2 is installed and enabled `Get-ItemProperty -Path "HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.2\Se

[2018-04-10 20:19] javierjimsa commented on #26420
@Akasurde when do you think this module will be available in 2.6 devel?

Thanks in advance.

[2018-04-10 20:25] monchitos82 commented on #38415
Since this case is falling in a condition where "{" and "[" chars are valid for JSON same as for YAML, I wonder if using "---" would make sense as an indicator of YAML syntax; then a case like:

`          elif (
                extra_vars_opt and
                any((extra_vars_opt[0] in u'[{', extra_vars_opt[:3] == u'---')) #optional remove '\n'
            ):
               # removing the hyphe

[2018-04-10 20:38] sangtraceur opened #38557 "Unable to install service via win_nssm."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_nssm module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

generally no config changes

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS control machine, Windows 7 SP1 target machine
##### SUMMARY

During service installation via win_nssm it is impossible to set console output encoding to Unicode, that causes general error and execution break

[2018-04-10 20:41] seansabour commented on #21890
Any update to this issue? I am still seeing this in 2.5.0 as-well.

[2018-04-10 20:41] ryansb commented on #29788
New boto connection method on `ec2` fixes this in 2.4 and newer.

[2018-04-10 20:41] #29788 closed, assigned to nobody

[2018-04-10 20:45] ryansb commented on #29495
This is implemented as part of the new `ec2_instance` module.

[2018-04-10 20:45] #29495 closed, assigned to nobody

[2018-04-10 20:47] #23496 closed, assigned to nobody

[2018-04-10 20:48] #29863 closed, assigned to nobody

[2018-04-10 20:49] bddenhartog commented on #11118
I only use Ansible for provisioning my local workstation. I understand that this is not the original default use case, but I think it's a fairly common practice now, at least for certain Linux distributions.

I'd really like to see `localhost` become an available host without any warning. As I understand it, it looks like all that really needs to happen is that Ansible should ship with `/etc/ansib

[2018-04-10 20:50] isaacegglestone commented on #8297
I think you have missed the point, the problem here is that lookup isn't honouring the become=yes value.  If this is by design then it should be documented.
Additionally in the example in the documentation:
https://docs.ansible.com/ansible/devel/modules/authorized_key_module.html

The example pulls the file from the place the author defined it as:
    key: "{{ lookup('file', '/home/charlie/.ssh/id

[2018-04-10 20:52] ryansb commented on #29691
Unable to reproduce on Ansible 2.4.1

[2018-04-10 20:52] #29691 closed, assigned to nobody

[2018-04-10 20:57] ryansb commented on #29907
Fixed in d4e5e385ca39c52f3d07b78aa2a14fc9914b9dd1

[2018-04-10 20:57] #29907 closed, assigned to nobody

[2018-04-10 20:57] #29763 closed, assigned to nobody

[2018-04-10 21:09] dagwieers opened #38559 "nxos_interface: Invalid command at '^' marker"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_interface

##### ANSIBLE VERSION
v2.5+

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7.4

##### SUMMARY
When running the below task with devel branch, the task fails. This did not happen with Ansible v2.4.

[code]

The error we get is:

[code]

Tested using connection parameters, provider and nxos/nxapi. All show the same behav

[2018-04-10 21:14] #14248 closed, assigned to nobody

[2018-04-10 21:14] abadger commented on #29589
Is this still a problem?  From looking at it, the original report is not a problem with the copy module per-se but something about the way the connection plugin is copying the file.  I'm not able to reproduce it locally using current ansible, a small file, and sftp as the transport method.

needs_info

[2018-04-10 21:15] #38270 closed, assigned to bcoca

[2018-04-10 21:16] #33776 closed, assigned to nobody

[2018-04-10 21:21] yungezz opened #38561 "azure_rm_functionapp supports deployment option"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_functionapp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

exisiting azure_rm_functionapp module doesn't support deployment options, like deployment-source-url , deployment-container-image-name etc. there's no way to user to deploy function app using this module.

##### STEPS TO REPRODUCE

[2018-04-10 21:23] #37146 closed, assigned to nobody

[2018-04-10 21:24] #37579 closed, assigned to nobody

[2018-04-10 21:28] trondhindenes commented on #38532
[code]

[2018-04-10 21:28] s-hertel commented on #36440
@andreaske76 If you use the aws_ec2 inventory plugin you can use ipv6 as the hostname. An example config file could look like:
[code]
(inventory config file must end in `.aws_ec2.yml` or `.aws_ec2.yaml`)

To test it you can run `ansible-inventory -i path/to/your/inventory.aws_ec2.yml --graph`

[2018-04-10 21:36] barlik opened #38562 "Ternary filter vs conditional expressions"
I've been recently wondering about the ternary filter in Ansible. I've seen it used in a couple of places and it's also mentioned in the documentation. As you probably know, it's not a standard Jinja filter, but one created in Ansible code.

I would like to understand why was `ternary` filter created and why is it preferred (Ansible docs doesn't even mention the alternative syntax) over the more p

[2018-04-10 21:41] sivel commented on #38562
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-04-10 21:41] #38562 closed, assigned to nobody

[2018-04-10 22:08] ericx opened #38563 "ios_config backup command does not save at root when used in a role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config backup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
$ ansible-config dump --only-changed
ANSIBLE_COW_SELECTION(/usr/local/bin/scripts/ansible.network/ansible.cfg) = random
ANSIBLE_NOCOWS(/usr/local/bin/scripts/ansible.network/ansible.cfg) = True
DEFAULT_HOST_LIST(/usr/local/bin/scripts/ansible.network/ansible.cfg) = [u'/usr/loca

[2018-04-10 22:43] #37894 closed, assigned to nobody

[2018-04-10 22:53] jrko opened #38564 "elb_target_group fails with "KeyError: 'Port'" on target group creation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

elb_target_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Debian 9.3
`Linux stretch 4.9.0-4-amd64 #1 SMP Debian 4.9.65-3 (2017-12-03) x86_64 GNU/Linux`

##### SUMMARY

elb_target_group module fails to create/update target group.

##### STEPS TO REPRODUCE

Create ELB target group and specify the `port`

[2018-04-10 22:55] saichint opened #38565 "nxos_igmp_snooping issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_igmp_snooping

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### SUMMARY

##### STEPS TO REPRODUCE

There are some issues with nxos_igmp_snooping module.
* group_timeout parameter accepts 'default' value to put it into default state according to the documentation but if pass 'default' the code errors out.
* platform dependency che

[2018-04-10 23:10] rambleraptor opened #38567 "Ansible Doc Linter does not allow suboptions more than one level deep"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
validate_modules

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I expected validate_modules to work without issue.
##### ACTUAL RESULTS
validate_modules complained that ...['property']['suboptions'] had extra keys.

[2018-04-10 23:35] kenorb opened #38568 "Go module to install packages"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

Go module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Default.

##### OS / ENVIRONMENT

Docker OS: Ubuntu
Host OS: macOS

##### SUMMARY

I'd like to see `go` module to handle package installation, similar to `apt` or `pip`.
[code]

which would be equivalent to `go get github.com/ericchiang/pup` command.

##### STEPS TO REPRODUCE

`pro

[2018-04-10 23:56] sivel commented on #38567
Are you using `validate-modules` from the 2.5. release?

`validate-modules` from the 2.5 release does not support this, but it is however supported in the devel branch.

All new modules should be developed against the devel branch of ansible as new modules are only accepted in major releases.

From v2.5:

[code]

Using 2.6 (devel) this does not happen.

Test data:

[code]

needs_info

[2018-04-11 00:08] kandikandi opened #38569 "aws_s3 calling "putObjectAcl" instead of "putObject""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws_s3

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/path)
DEFAULT_VAULT_PASSWORD_FILE(/a_path)

##### OS / ENVIRONMENT
OS:
ProductName:	Mac OS X
ProductVersion:	10.13.3
BuildVersion:	17D102

S3 Bucket:
Netapp Storage Grid Webscale v 10.3.0

##### SUMMARY
When I try to put an object in a bucket, I get  an error saying tha

[2018-04-11 00:57] epu commented on #27520
Since this affects 2.4 and 2.5, can we get a this tagged with labels acknowledging it?

[2018-04-11 00:59] epu commented on #23621
If this is still open, what version of this ticket is the one to track for 2.4 and 2.5?

[2018-04-11 01:16] abadger commented on #22116
If I understand correctly, the question here is why Ansible is copying the file to the remote host when setting of mode, owner, or group fails.  The answer is that Ansible can't know whether those will fail until it has a file on the remote machine on which to operate.  Ansible can't know what users and groups exist on the remote machine from the controller so it copies the file to the remote mach

[2018-04-11 01:23] #34010 closed, assigned to nobody

[2018-04-11 01:28] willthames commented on #38569
A workaround for this is to set `permission` to `''`. The default ACL is `private`, and I'm not sure we'd want to change that.

[2018-04-11 01:36] willthames commented on #38564
Can you confirm by running this code against 2.4.3 now? - nothing in the code appears to have changed in this area.

It looks like your `foo_targets` should both contain a `Port` key, and that's why you're getting this error.

[2018-04-11 02:15] #37162 closed, assigned to nobody

[2018-04-11 02:29] Fred-sun commented on #30393
‘’‘
---
- name: For Azure azure rm networkinterface location debug
  hosts: localhost
  connection: local
  vars:
    resource_group: klltest-rg08
    location: eastus2
    virtual_network: virtualnetwork
    private_subnet: subnet
    public_ip: public_ip
    security_group: security_ssh
    machine_name: vm-klltest01
    public_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC6RUJHaZHn5mzhHGdsymPW7p5

[2018-04-11 02:33] Fred-sun commented on #30393
'''
---
- name: For Azure azure rm networkinterface location debug
  hosts: localhost
  connection: local
  vars:
    resource_group: klltest-rg08
    location: eastus2
    virtual_network: virtualnetwork
    private_subnet: subnet
    public_ip: public_ip
    security_group: security_ssh
    machine_name: vm-klltest01
    public_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC6RUJHaZHn5mzhHGdsymPW7p5

[2018-04-11 02:33] jrko opened #38570 "ec2_vpc_route_table fails with "AttributeError: 'dict' object has no attribute 'tags'" on route table creation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_vpc_route_table

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Debian 9.1
`Linux dojo 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u5 (2017-09-19) x86_64 GNU/Linux`

##### SUMMARY

The `ec2_vpc_route_table` module crashes on route table creation. The AWS Console shows that the route table is created success

[2018-04-11 02:36] yaweiw commented on #30393
@Fred-sun try this ``` e.g.
[code]

[2018-04-11 02:40] Fred-sun commented on #30393
'''
---
# Resource_group and image has create before excute
- name: For Azure learn
  hosts: localhost
  connection: local
  vars:
    resource_group: myRG03
    location: westeurope
    storageaccount: sssaaa04
    virtualnetwork: virtualnetwork04
    subnet: subnet04
    public_ip: public_ip04
    security_ssh: security_ssh04
    test_nic: test_nic04
    vm_name: myVM03
  tasks:
  - name: create

[2018-04-11 02:47] Fred-sun commented on #30393
[code]

[2018-04-11 02:50] Fred-sun commented on #30393
'''
---
# A list of tasty fruits
fruits:
    - Apple
    - Orange
    - Strawberry
    - Mango

[2018-04-11 02:50] Fred-sun commented on #30393
e.g.
---
# A list of tasty fruits
fruits:
    - Apple
    - Orange
    - Strawberry
    - Mango

[2018-04-11 02:50] Fred-sun commented on #30393
[code]

[2018-04-11 02:57] Fred-sun commented on #30393
I write a playbook meet error same as bug report, Yaml file as below
[code]

[2018-04-11 03:00] dagwieers commented on #38486
@yanivohayon8 Look at http://docs.ansible.com/ansible/devel/user_guide/windows_usage.html#path-formatting-for-windows for help.

[2018-04-11 03:02] Akasurde commented on #26420
@javierjimsa I am waiting for review comments on that PR. I hoping that once those are fixed, it will be available in 2.6

[2018-04-11 03:08] willthames commented on #38569
It doesn't always need to call PutObjectACL - if you set permissions to empty, it won't call it.

[2018-04-11 03:10] kandikandi commented on #38569
Ok - That worked, thank you.

[2018-04-11 03:24] mary09242003 opened #38571 "The fact variable {{ ansible_nodename}} has an extra dot at the end on the windows which without domain name"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Windows

The infomation from GetIPGlobalProperties() as below:
[code]
##### SUMMARY

When I try to use the fact {{ ansible_nodename}} of the Windows machine which without DomainName, I found that {{ ansible_nodename}} is incorrect. It has an extra dot at the en

[2018-04-11 03:37] wangjiyao opened #38572 "subprocess run ansible shell error"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
ansible==2.5.0

##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

[code]

##### EXPECTED RESULTS
##### ERROR INFO
[code]
##### LINUX ERROR MESSAGE
[code]

[2018-04-11 03:38] liuzm7188 commented on #22116
yes
----- 原始邮件 -----
发件人：Toshio Kuratomi <notifications@github.com>
收件人：ansible/ansible <ansible@noreply.github.com>
抄送人：liuzm7188 <liuzm7188@sina.com>,  Author <author@noreply.github.com>
主题：Re: [ansible/ansible] File is copied even when changing mode, group or owner fails (#22116)
日期：2018年04月11日 09点16分

If I understand correctly, the question here is why Ansible is copying the file to the remote

[2018-04-11 03:57] jctanner opened #38573 "nested blocks impact task ordering"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
include_role
import_role
blocks

##### ANSIBLE VERSION

[code]

##### SUMMARY
A nested include|import role with a nested block can alter the order in which tasks execute.

Reproducer can be found in https://github.com/jctanner/ansible-reproducers/tree/master/38573

When run, the play fails on an assert task that should not yet be running as the

[2018-04-11 04:13] samiranb123 commented on #33873
Ubuntu works fine changing the string values(HTTPS and 443 in netapp.py).
In CentOS with changing environment variable for httpsverify, HTTPS and 443 works as well.
My understanding is, in HTTPS certificate verification is not mandatory(google says). Is it OK to submit? Please clarify.

[2018-04-11 04:17] samiranb123 commented on #33873
Also removing hard coded values to default to HTTPS.

[2018-04-11 04:23] #22116 closed, assigned to nobody

[2018-04-11 04:49] stephan2012 commented on #26420
@Akasurde: Sorry, no chance to look at it so far.

[2018-04-11 05:01] willthames commented on #38569
Do you want to try the improved #38754 with your original parameters and see if you get the correct warning?

[2018-04-11 05:22] nzeder opened #38575 "bigip_device_trust Missing required params: ['password']"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_device_trust

##### ANSIBLE VERSION
ansible 2.6.0
  config file = None
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Nov  6 20

[2018-04-11 06:05] bisshwajitsamanta opened #38576 "finding a phrase through ansible script"
i am having a problem in finding solution. I have a piece of file which contains data in below format (json type with quotes)::-
[code]

Now my task is to find out the hostname of the system belong to hostclass 'ess' , which in this case the answer in host002. I have to write an ansible script to find out the result. Can anyone help me in finding out, or any idea to approach for the problem.

Issu

[2018-04-11 06:07] gundalow commented on #38568
@kenorb would  you be interested in creating such a module?

needs_maintainer

[2018-04-11 06:13] gundalow commented on #38563
Either this is a code or documentation issue (working as designed) .
Same fix will need to be applied to the other `_config` modules.

[2018-04-11 07:10] AgilDat commented on #38525
For sure, your code works perfect. The problem is with the new `loop` definition, `with_dict` work as expected but `loop` is failing.

[code]