[2016-09-07 16:01] kustodian commented on #15963
The exact same thing happens if a module fails inside a block in a dependency role which has `always`.

Here is the traceback I have on 2.1.2.0 RC2, but it also fails like this on devel:

[code]

[2016-09-07 16:15] bcoca commented on #14360
fixed via merged above

[2016-09-07 16:15] #14360 closed, assigned to nobody

[2016-09-07 16:18] #14502 closed, assigned to nobody

[2016-09-07 16:24] jctanner commented on #17101
@StephaneBunel has this been resolved by #16538?

needs_info

[2016-09-07 16:45] #17082 closed, assigned to nobody

[2016-09-07 16:52] jctanner commented on #17049
@ijaveed please run the task I mentioned previously on the machine where the error is occuring. I assume "1.1.1.1" was an obscured IP address which was not 127.0.0.1 and you also need to use "become" to replicate the failure.

The intent with my previous comment was not to assert boto was installed on your localhost, but to assert boto was installed in the python path for the become user on the re

[2016-09-07 16:55] #17049 closed, assigned to nobody

[2016-09-07 17:04] icopp opened #17446 "Prompt for input as a task"
##### ISSUE TYPE
- Feature Idea
##### SUMMARY

Adding a simple way to expect input for a role would make small, composable roles for simple tasks much easier. Of course, this has to be weighed against the expectation that many sessions will be run non-interactively.

It seems like there's a fairly straightforward way to do this: add a task that can prompt for a var, with a required default to use

[2016-09-07 17:13] jeremyeder commented on #16887
Table this for now.  Thx.

[2016-09-07 17:13] #16887 closed, assigned to nobody

[2016-09-07 17:15] alvaroaleman commented on #16857
I think the needs_info tag doesn't fit here anymore as I provided a testcase in [comment#3](https://github.com/ansible/ansible/issues/16857#issuecomment-236205253) @jctanner ?

[2016-09-07 17:26] dazwin commented on #15432
@bcoca - is there any additional information you need to keep this issue alive? Will you accept a PR?

[2016-09-07 17:46] antigremlin commented on #15690
@snyamars, are you using become=true in your Ansible script? Can you run a simple yum command (like yum search python) from the server console and confirm it is working for you?

[2016-09-07 17:48] jctanner commented on #17437
@lioramilbaum in the second play ("Jenkins"), set gather_facts: False and use a simple shell command for the first task ....

[code]

I want to see the ssh connection info for that play, which we didn't see from the facts call. Are you running from devel? If that's the case, run ansible-playbook like so ...

[code]

[2016-09-07 17:50] #16030 closed, assigned to nobody

[2016-09-07 17:51] bencromwell commented on #16030
Because it's so sporadic it's tricky to get the relevant debug output. Running a command a second time usually connects so it's not like you can run it for each of the debug options and get the output that's needed. Plus you're waiting for something to not happen, which is always problematic.

[2016-09-07 17:54] lmilbaum commented on #17437
This is the content of the second playbook:

[code]

[2016-09-07 17:55] jctanner commented on #17437
With ANSIBLE_DEBUG=1, we should see further detail of the failed ssh command like this ...

[code]

[2016-09-07 17:59] #15682 closed, assigned to nobody

[2016-09-07 18:02] lmilbaum commented on #17437
[code]

[2016-09-07 18:06] mattwillsher commented on #14506
This bug still exists - we've given further information but with not response.

[2016-09-07 18:07] lmilbaum commented on #17437
[code]

[2016-09-07 18:09] shannara commented on #17137
@alikins : on Debian Jessie :

[code]

All vars is empty.

[2016-09-07 18:09] #13979 closed, assigned to nobody

[2016-09-07 18:17] bcoca commented on #16941
ansible uses the 'ip' command to gather that info, if not installed it won't be gathered

[2016-09-07 18:22] jctanner commented on #17437
What is the output of this command on your mac?

[code]

[2016-09-07 18:24] lmilbaum commented on #17437
crw-rw-rw-  1 root  wheel    2,   0 Sep  7 17:42 /dev/tty

[2016-09-07 18:27] jctanner commented on #17437
How are you invoking ansible-playbook? Are you in mac terminal / iterm or are you wrapping it with some other command/script/program?

[2016-09-07 18:28] lmilbaum commented on #17437
wrapped by python script:

import os,sys

HOME='/Users/liora/git/DevOps'
hosts = HOME + '/ec2.py'
cmd = '/usr/local/bin/ansible-playbook -i ' + hosts + ' main.yml'
os.system(cmd)

sys.exit(os.EX_OK)

[2016-09-07 18:40] jctanner commented on #17437
Have you tried running ansible directly instead of using the wrapper script?

[2016-09-07 18:41] lmilbaum commented on #17437
I think that I found the problem. Added to my .ssh/config file the next lines:

Host *
    StrictHostKeyChecking no

[2016-09-07 18:43] lmilbaum commented on #17437
Now, I have a different error:

TASK [setup] *******************************************************************
fatal: [54.204.222.146]: FAILED! => {"changed": false, "failed": true, "module_stderr": "", "module_stdout": "\r\n/bin/sh: 1: /usr/bin/python: not found\r\n", "msg": "MODULE FAILURE"}

The ami is Ubuntu 16.04. Python3 is the default python installation. Any idea how I can resolve it?

[2016-09-07 18:46] jctanner commented on #17437
Please refer to the FAQ: http://docs.ansible.com/ansible/faq.html#how-do-i-handle-python-pathing-not-having-a-python-2-x-in-usr-bin-python-on-a-remote-machine

If you need further assistance, please use the ansible project mailing list or irc channels on irc.freenode.net

[2016-09-07 18:46] #17437 closed, assigned to nobody

[2016-09-07 18:51] bcoca commented on #11553
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

The no_target_syslog configuration in ansible.cfg controls this.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible

[2016-09-07 18:51] #11553 closed, assigned to nobody

[2016-09-07 18:53] lottspot commented on #16444
Sorry I moved away from using glusterfs on this project and haven't had a chance to setup a retest of this issue; feel free to close

[2016-09-07 18:59] #11407 closed, assigned to nobody

[2016-09-07 19:12] #12273 closed, assigned to nobody

[2016-09-07 19:18] #11026 closed, assigned to nobody

[2016-09-07 19:22] gundalow commented on #15403
@privateip and I reviewed this and we will consider this for 2.3

[2016-09-07 19:23] zentavr commented on #16925
I'm on vacation right now, I can reply to you on the next week.

##

Thanks,
 Andrey   Miroshnichenko                        mailto:zentavr@gmail.com

7 вер. 2016 р. о 20:06 ansibot notifications@github.com написав(ла):

[2016-09-07 19:25] gundalow commented on #16017
@privateip and I reviewed this today. We will need to review and retest this as part of testing and releasing Ansible 2.2.0

[2016-09-07 19:25] gundalow commented on #15611
Reviewed this today, I've made a note on my backlog ticket about improving documentation.

Closing

[2016-09-07 19:25] #15611 closed, assigned to nobody

[2016-09-07 19:30] gundalow commented on #17111
@privateip and I reviewed this today, we believe it's fixed. Added the `2.2.0` milestone to ensure we test this specific case before release

[2016-09-07 19:31] gundalow commented on #16433
@privateip and I reviewed today. This is a large feature request and _may_ be looked at for `2.3`, though that's unsure

[2016-09-07 19:33] sivel commented on #17137
The following seems to resolve this problem for me:

[code]

Instead of trying to capture the output of `less --version` in the shell, let `subprocess` capture it.  This likely wasn't done before, as `subprocess.call` recommends not using `PIPE`, however we can follow the recommendation and use `Popen` instead of `call`.

[2016-09-07 19:34] bcoca commented on #17446
you can use pause module with a prompt and register the input.

[2016-09-07 19:35] bcoca commented on #15617
closing this via merged #16274

[2016-09-07 19:35] #15617 closed, assigned to alikins

[2016-09-07 19:36] agaffney commented on #17111
@gundalow, do you know what PR/commit(s) this was fixed in?

[2016-09-07 19:41] selivan commented on #17137
@sivel yes, guys had found it: PR https://github.com/ansible/ansible/pull/15720 is merged.

[2016-09-07 19:47] icopp commented on #17446
@bcoca: Where is documentation on that? I've seen examples of it, but the [pause module documentation](http://docs.ansible.com/ansible/pause_module.html) doesn't even mention `register` or handling of input.

Another possible thought here, to better handle this kind of stuff in a standardized way: a new folder for `options`, that would effectively work the same as `defaults` except that each optio

[2016-09-07 19:58] #10651 closed, assigned to nobody

[2016-09-07 20:00] #10635 closed, assigned to nobody

[2016-09-07 20:05] #10592 closed, assigned to nobody

[2016-09-07 20:12] #10533 closed, assigned to nobody

[2016-09-07 20:17] jimi-c commented on #5356
Sorry to take so long to get back to this issue, however as of 2.0+, the error message for conditional errors of this nature is much more verbose and clear:

<pre>
TASK [debug] *******************************************************************
task path: /home/jamesc/testing/5356.yml:10
fatal: [localhost]: FAILED! => {"failed": true, "msg": "The conditional check 'find_result.results[int(item) -

[2016-09-07 20:17] #5356 closed, assigned to nobody

[2016-09-07 20:20] mattclay commented on #5139
Tested on OS X El Capitan (10.11.6) and OS X Mavericks (10.9) with devel and it's working.

I believe if this was still an issue it would also be detected by integration tests run on Shippable.

[2016-09-07 20:24] jimi-c commented on #4583
Can anyone confirm if this is still an issue?

[2016-09-07 20:24] jimi-c commented on #5139
# Closing This Ticket

Hi!

Based on the above, we're going to go ahead and close this.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!f

[2016-09-07 20:24] #5139 closed, assigned to nobody

[2016-09-07 20:39] bcoca commented on #5564
fixed via #17294, will be in 2.2

[2016-09-07 20:39] #5564 closed, assigned to nobody

[2016-09-07 20:45] #14983 closed, assigned to jimi-c

[2016-09-07 20:47] klauern commented on #5482
One of the things I did to get around this was to develop a `sudo_action` module that used Python's `subprocess` module to pass the sudo command + enter the password.  I doubt it's portable, but it works for my RHEL6 servers for the time being.

[2016-09-07 20:47] #10462 closed, assigned to nobody

[2016-09-07 20:50] jeanpaulmanjarres-payulatam commented on #5564
Excellent news!, thanks.

[2016-09-07 20:50] #10417 closed, assigned to nobody

[2016-09-07 20:52] #10352 closed, assigned to nobody

[2016-09-07 20:54] #10323 closed, assigned to nobody

[2016-09-07 20:57] #10310 closed, assigned to nobody

[2016-09-07 20:58] #10309 closed, assigned to nobody

[2016-09-07 20:59] #16875 closed, assigned to jctanner

[2016-09-07 21:04] msghaleb commented on #11660
@ansibot ok I will go back and review and open another issue if its still there. (sorry for the long delay)

[2016-09-07 21:04] #11660 closed, assigned to nobody

[2016-09-07 21:05] msghaleb commented on #17285
I've solved it by doing this:

[code]

Now, using Ansible Tower it does encrypt the password but from ansible it doesn't. A proper way would be using ktutil but I can't get it to work.

[2016-09-07 21:06] jctanner commented on #16638
needs_info

[2016-09-07 21:07] mscherer commented on #17393
It would break in a different way. If there is variable missing, ansible stop. If there is a variable with N/A and the script continue  it might have a unexpected impact (for example, use N/A as a path instead of /dev/mapper/foo, for example)

[2016-09-07 21:13] jctanner commented on #16638
needs_info

[2016-09-07 21:24] jctanner commented on #16431
!needs_info

[2016-09-07 21:29] #16354 closed, assigned to nobody

[2016-09-07 21:31] #16242 closed, assigned to nobody

[2016-09-07 21:35] #15947 closed, assigned to jctanner

[2016-09-07 21:36] #15946 closed, assigned to nobody

[2016-09-07 21:38] #15901 closed, assigned to nobody

[2016-09-07 21:39] #15620 closed, assigned to nobody

[2016-09-07 21:40] #15599 closed, assigned to nobody

[2016-09-07 21:41] #15544 closed, assigned to nobody

[2016-09-07 21:42] jctanner commented on #15493
!needs_info

[2016-09-07 21:44] jctanner commented on #15432
!needs_info

[2016-09-07 21:49] #15253 closed, assigned to nobody

[2016-09-07 21:51] #15126 closed, assigned to jctanner

[2016-09-07 21:52] #14887 closed, assigned to nobody

[2016-09-07 21:53] #14854 closed, assigned to nobody

[2016-09-07 21:55] #14850 closed, assigned to jimi-c

[2016-09-07 22:05] #14538 closed, assigned to nobody

[2016-09-07 22:05] mattclay commented on #17122
The real issue here is that this callback plugin shouldn't be using stdout. Although stdout callback plugins are responsible for most non-verbose, non-debug output to stdout, there are exceptions.

Fixing this correctly will require either mandating that all stdout output from a playbook run goes through callback plugins, or changing this plugin to write to a file instead. Both of those changes ar

[2016-09-07 22:06] jctanner commented on #14506
!needs_info

[2016-09-07 22:16] #14506 closed, assigned to nobody

[2016-09-07 22:17] jctanner commented on #14335
!needs_info

[2016-09-07 22:20] #14169 closed, assigned to nobody

[2016-09-07 22:22] #15922 closed, assigned to nobody

[2016-09-07 22:23] #14167 closed, assigned to nobody

[2016-09-07 22:24] #14163 closed, assigned to nobody

[2016-09-07 22:26] #13972 closed, assigned to nobody

[2016-09-07 22:30] #13706 closed, assigned to nitzmahone

[2016-09-07 22:37] #13627 closed, assigned to nobody

[2016-09-07 22:39] jctanner commented on #13479
!needs_info

[2016-09-07 22:41] jctanner commented on #12755
!needs_info

[2016-09-07 22:44] #12631 closed, assigned to nobody

[2016-09-07 22:47] #12151 closed, assigned to nobody

[2016-09-07 22:49] jctanner commented on #12043
!needs_info

[2016-09-07 22:51] jctanner commented on #12033
!needs_info

[2016-09-07 22:53] jctanner commented on #11959
!needs_info

[2016-09-07 22:56] jctanner commented on #11942
!needs_info

[2016-09-07 22:57] jctanner commented on #11927
!needs_info

[2016-09-07 23:03] #11927 closed, assigned to nobody

[2016-09-07 23:14] #11903 closed, assigned to nobody

[2016-09-07 23:23] #11833 closed, assigned to nobody

[2016-09-07 23:24] #11563 closed, assigned to nobody

[2016-09-07 23:27] jctanner commented on #11525
!needs_info

[2016-09-07 23:27] tlc commented on #17122
Are there any current callback plugins that write to a file?

I guess I'm mostly curious how you might pass a filename target.  Would it have to be an env var?

[2016-09-07 23:29] #11044 closed, assigned to nobody

[2016-09-07 23:40] jctanner commented on #10374
!needs_info

[2016-09-07 23:42] #9917 closed, assigned to nobody

[2016-09-07 23:47] jctanner commented on #17285
needs_info

[2016-09-07 23:49] jctanner commented on #15803
needs_info

[2016-09-08 00:01] jctanner commented on #17136
!needs_info

[2016-09-08 00:02] marafa commented on #17393
my point being that there was no failure. i spent hours. i literally means
HOURS trying to figure this out. my playbooks worked on the test machine
(of course it had lvm installed) and when it was put into production, it
broke without any explanation.

i'd rather it output something than nothing. it would save me time AND
would indicate where i should look.i was looking at the stanza after the
fac

[2016-09-08 01:42] willthames commented on #16638
@abadger that commit doesn't seem to be in 2.1.1.0-1 - can we get it into a released version of ansible please? get_url seems broken for me with the most recent ansible available through pip.

[2016-09-08 01:46] willthames commented on #16638
@jctanner what information does this need?

[2016-09-08 03:43] mattclay commented on #17122
@tlc Yes, the [junit](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/callback/junit.py) callback plugin writes to a file.

[2016-09-08 03:44] mattclay commented on #17122
The `junit` callback plugin has a default directory that it writes to, but you can change the default with the environment variable `JUNIT_OUTPUT_DIR`.

[2016-09-08 05:42] mattclay commented on #17343
@xsteadfastx I'm unable to reproduce this on 2.1.0.0, 2.1.1.0 or devel with the provided instructions. Can you provide your `ansible.cfg` file? Also, how did you install Ansible?

[2016-09-08 06:41] snyamars commented on #15690
@antigremlin, I running the ansible scripts with sudo. Have tried with become=true as well but the same error. I am able to run yum command from server console and it is working perfectly. Have also tried setting sslverify=0 in rhel.repo file but no success.
Ansible version is 2.2

[2016-09-08 07:18] xsteadfastx commented on #17343
@mattclay i dont have a ansible.cfg. i installed ansible through pipsi and the normal pypi way. i can reproduce it on two different boxes.
right now i tried it again... same setup.... with 2.1.0.0 it uses winrm.... upgrading to 2.1.1.0 and the same playbooks want to connect through ssh.

[2016-09-08 07:37] xsteadfastx commented on #17343
Here is the output:

[code]

[2016-09-08 07:41] mgedmin opened #17453 "delegating to null crashes with AttributeError: 'NoneType' object has no attribute 'split'"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

delegation
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

I'm pretty sure this is me doing something dumb like trying to delegate to None, but Ansible should give a clear error message and not crash.

Here's the traceback:

[code]

I think the task that is failing is

[code]

and I su

[2016-09-08 07:48] mgedmin commented on #17453
Actually, this fails as well!

[code]

[2016-09-08 08:09] nzjrs opened #17454 "ansible-pull does not always update git repository causing orphaned machines"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-pull
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubunutu 14.04
##### SUMMARY

ansible-pull does not update the git repository if no hosts match. This can lead to a situation of orphaned machines if at some point they are not listed in the inventory file. As ansible-pull is usually used on machines with which one has no direct co

[2016-09-08 08:11] bhavinkamani commented on #16941
@jctanner I have logged in as vagrant to a machine where ansible commands are issued to remote machine. remote_user is vagrant too.

@bcoca I am using alpine 3.4. `ip` command comes with alpine. However, the output of `ip` does not report flags. Its different from what is typically found with ubuntu. This is causing fact  `ansible_all_ipv4_addresses` to be reported as empty

[2016-09-08 08:21] mgedmin commented on #17453
(I see I once filed bug #12722 about a very similar issue.)

[2016-09-08 08:36] mgedmin opened #17455 "delegation shows -> None instead of hostname"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

delegation
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

none
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

When I'm delegating to a host defined in the inventory, Ansible shows `-> None` instead of `-> hostname`.
##### STEPS TO REPRODUCE

[code]

[code]

Run `ansible-playbook -i hosts test.yml`
##### EXPECTED RESULTS

[code]
##### ACT

[2016-09-08 08:36] rezastd commented on #17238
hi resmo, does my first playbook change the environment?
here is my first playbook (build.yml) [this](https://github.com/rezastd/Mbuild_and_deply/blob/master/playbooks/Mensa_Build.yml).
jhawkesworth, i run this playbook from my jenkins web, and how can i do that? thanks

[2016-09-08 08:45] mgedmin opened #17456 "Ansible fails to create retry files with [Errno 2] No such file or directory: ''"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

retry files
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

none
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

When a playbook fails, Ansible tries to create a retry file and then fails.
##### STEPS TO REPRODUCE

[code]

Run `ansible-playbook -i localhost, -c local test.yml`
##### EXPECTED RESULTS

Playbook fails, ansible doesn't complai

[2016-09-08 08:48] doertedev commented on #14163
Didnt occur with newer versions thanks.

[2016-09-08 10:23] Shaps commented on #17456
Fixed and explained the issue in #17457

[2016-09-08 10:46] antoineco commented on #17349
#### Update

The hosts that fail in the first place are always the ones for which a connection is established **before** the bastion host:

[code]

This bastion host uses SSH multiplexing as well, but **on Mac OS X** private machines do not seem to leverage the local socket even though it already exists:

[code]

If I'm lucky enough Ansible "hits" the bastion host first, and the playbook can final

[2016-09-08 11:16] fvant commented on #17096
I have the same issue from multiple machines (linux) running devel:  ansible simply reports that the hosts are unreachable.

When i copy&past the ssh command shown in a ansible-playbook -vvv , it works fine.
When i ssh from the command line, it works fine.

When i downgrade to 2.1.1.0  everything works fine again from the playbook !!!

[2016-09-08 11:18] fvant commented on #17349
I have the same behaviour from multiple machines (linux) running devel: ansible simply reports that the hosts are unreachable.

When i copy&past the ssh command shown in an ansible-playbook -vvv , it works fine.
When i ssh from the command line, it works fine.

When i downgrade to 2.1.1.0 everything works fine again from the playbook !!!

The behaviour is similar to #17096

[2016-09-08 11:33] antoineco commented on #17096
@ramsrib I think your SSH `ControlPath` is too long, it happens all the time with AWS hostnames. Try to set this option in your `ansible.cfg` file:

[code]

See [this comment](https://github.com/ansible/ansible/issues/11536#issuecomment-153030743)

[2016-09-08 11:54] fvant commented on #17096
I tried that but did not make a difference.

I would be surprised if it did because downgrading the Ansible version
makes the issue go away (and comes back when using devel).

On Thu, Sep 8, 2016 at 1:34 PM, Antoine Cotten notifications@github.com
wrote:

[2016-09-08 12:05] joaocc commented on #10374
@jctanner: Can you please clarify what additional info is needed? I have been away from this issue from a while (had to do some workaround) but I can try to help. Thx

[2016-09-08 12:05] Gui13 commented on #16929
Hi @jctanner, it only hangs on the certificates, not the previous transfers (some other configuration files).

Sorry for the delay!

[2016-09-08 12:37] jimi-c commented on #5836
Hi @pol / @pingele, going back through old issues, and looking at this it appears to be resolved. Reformatting your play to follow 2.0 conventions:

<pre>
---
- hosts: localhost
  gather_facts: no
  vars_files:
    - vars.yml
  tasks:
    - name: debug
      debug: var=working_list
    - name: this sublist works in with_items!
      debug: var=item
      with_items: "{{working_list}}"
    - name:

[2016-09-08 12:37] #5836 closed, assigned to nobody

[2016-09-08 13:14] tannerjcghtester1 commented on #16638
@willthames and @ttbigc ...

bq. Is this still happening with an up-to-date checkout? Could you post the git hash for it? (By running ansible --version and posting the output here).

[2016-09-08 13:49] bcoca commented on #16638
we have 2.1.2 in RC process right now, please check that.

[2016-09-08 14:35] ghost opened #17460 "Wildcard conversion to ipaddr filter plugin"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

ipaddr.py filter plugin
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When working with networking devices and especially access lists, there is often a need to convert a netmask to a wildcard mask. ipaddr filter plugin already has a wide range of useful functions and this would make an excellent add

[2016-09-08 14:54] robinro commented on #17454
A workaround for your issue:
Put the reference to your inventory as `hostfile = /XX/production/site.yml` in a file called `ansible.cfg` in your playbook directory. Then run `ansible-pull` without giving it the `--inventory-file` argument.

The general issue is, that ansible needs the `--inventory` and `--limit` arguments **twice**, once for pulling the repo updates and once to run your playbook. I

[2016-09-08 14:55] robinro commented on #17454
For reference the code to discuss is around https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/pull.py#L183

[2016-09-08 14:59] cpatry-poly opened #17461 "password lookup doesn't always respect chars setting"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

password lookup
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Pretty much default configuration
##### OS / ENVIRONMENT

Ansible server : Ubuntu 14.04.3 LTS
Managed Host : Debian 8.5
##### SUMMARY

Password don't respect specified characters and use punctuation when it shouldn't
##### STEPS TO REPRODUCE

It's a bit random. I have that issue f

[2016-09-08 15:02] ricardclau commented on #16878
Unbeliveable that this is treated as a bug fix when it is effectively breaking thousands of infrastructures. Totally agree with @emanuelis

[2016-09-08 15:16] jhawkesworth commented on #17238
@rezastd it depends on how you kick off ansible from your jenkins.  I use the 'send files over ssh' plugin (my jenkins runs on Windows), which lets you run a script before transferring files. I imagine you can just do the same thing if you are on linux by using whatever plugin allows you to call a script.

Looks like you are trying to get ansible to actually run your build instead of jenkins thoug

[2016-09-08 15:16] #17238 closed, assigned to nobody

[2016-09-08 15:16] alikins commented on #17393
Have an example of the playbook that fails and the output of an ansible-playbook run that failed because of the missing facts?

[2016-09-08 15:26] ttbigc commented on #16638
@abadger Sorry for delay in replying to this issue.
@bcoca I did the 2.1.2 install and seems I did not encounter issue:
Install/Test steps:
git clone --branch v2.1.2.0-0.2.rc2 https://github.com/ansible/ansible.git --recursive
cd ansible
source ./hacking/env-setup
make rpm

## rpm -ivh rpm-build/ansible-2.1.2.0-100.git201608311757.e83840c.HEAD.el7.noarch.rpm

# ansible-playbook test.yml -i tmp_inv

[2016-09-08 15:26] jimi-c commented on #15803
The branch above was merged into devel a few weeks back btw, so any updates as to whether this still is showing up (and if so, a reproducing playbook) would be appreciated.

[2016-09-08 15:29] jimi-c commented on #10374
@joaocc the above was a comment to have the bot remove the needs info label. Nothing additional is required at this time.

Thanks!

[2016-09-08 15:32] ttbigc commented on #16638
Removed comment, this other issue was due to ansible.cfg change on RPM install and I forgot to set custom settings for my environment.

[2016-09-08 15:36] rayalan commented on #15901
Something seems to have gone haywire here (the issue got closed simultaneously with the removal of the needs info tag (probably the needs info tag should have gotten removed earlier (e.g. the May 17th or Jun 21st response).

bot_broken. I believe this is a real issue with sufficient information, even if the feature is hard to provide.

[2016-09-08 15:39] tvernick commented on #16364
I'm getting this error in version 2.1.1.0 just running on one host.

`ok: [hostname] => (item=[u'perl-Digest-SHA', u'perl-parent', u'perl-DBD-Pg', u'perl-JSON-PP']) => {"changed": false, "failed": true, "invocation": {"module_args": {"conf_file": null, "disable_gpg_check": false, "disablerepo": null, "enablerepo": null, "exclude": null, "install_repoquery": true, "list": null, "name": ["perl-Diges

[2016-09-08 16:04] dagwieers commented on #16365
Is this related to #17456 and fixed by #17457 ?

[2016-09-08 16:37] pathcl commented on #15321
Why this? I was so happy doing ansible -m ping all now I need to do -u user -c paramiko

[2016-09-08 16:56] mattclay commented on #17343
I was finally able to reproduce this using both 2.1.1.0 and devel. The piece of information missing was that the group_vars directory needs to be in the same directory as the playbook, but not the same directory where inventory is located.

[2016-09-08 17:40] jimi-c commented on #9154
@aerhakr this is (unfortunately) perfectly valid when using the shorthand version of dictionaries in YAML. In the case above, you're simply creating a new key entry with a null value (`"tags=\"initial\"": null`).

As this is occurring at the YAML parsing layer and is valid in YAML,I'm not sure if there's much we can do about it.

[2016-09-08 17:50] kkirsche opened #17463 "ansible_become_pass in vault results in"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible-playbook
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

- Running ansible 2.1.1.0 with configured module search path = Default w/o overrides on OS X 10.11.6
- Managing multiple operating systems, believe N/A for issue.
##### SUMMARY

While attempting to run a playbook, ansible dies with an unexpected ex

[2016-09-08 18:06] mattclay commented on #17343
Commit 7287effb5ce241ce645d61e55e981edc73fa382a is responsible for this regression.

[2016-09-08 18:10] mattclay commented on #17343
The PR for that commit is #13957.

[2016-09-08 18:25] alikins commented on #17461
The playbook syntax looks okay to me. I added some unit test cases to add a similar line (with a colon in the filename, and a the same chars spec) and it seems to work okay.

Do the files '/etc/psql_credentials/namindpsql01:replication' already exist?
Does the content of the files change when ran. It shouldn't for that password lookup
line, as per the notes in http://docs.ansible.com/ansible/playb

[2016-09-08 18:32] mattclay commented on #17343
The change in behavior from PR #13957 is that group_vars is no longer found in the current working directory, only where inventory and the playbook reside: https://github.com/ansible/ansible/pull/13957#issuecomment-227885751

Searching the current working directory was introduced by mistake: https://github.com/ansible/ansible/pull/13957#issuecomment-227891150

[2016-09-08 18:33] mattclay commented on #17343
@xsteadfastx: Can you confirm that having your group_vars in the directory where inventory or your playbook resides resolves the issue for you?

[2016-09-08 18:37] rvdh commented on #15525
Also ran into this problem and it's definately because of the long hostname:

[code]

[2016-09-08 18:40] alikins commented on #17463
[code]

Was the error before or after entering the vault password?
Is the behavior different without 'ask_vault_pass' set?

Was this playbook/inventory working with earlier versions of ansible?

[2016-09-08 18:48] alikins commented on #17430
Was this inventory script working before?
Is the output valid JSON? (could say, './rest_api_inventory.py --list | python -m json.tool' work without error?)

[2016-09-08 18:52] mikepii commented on #12289
@cgrigor did you happen to re-submit the ticket on ansible-modules-core? I'm having the same issue and looking for more info

[2016-09-08 18:56] nikhilo opened #17466 "Asynchronous tasks are executed with incorrect working directory"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Async actions and Polling
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When I add `async` and `poll` options to a task, it is executed with a different working directory (`/`) than the directory the playbook resides in.
##### STEPS TO REPRODUCE

Example playbook:

[code]

##### EXPECTED RESULTS

T

[2016-09-08 19:00] sidcarter commented on #17430
@alikins it's a new script I created. Hadn't used it before.

And yes, the script spits out valid JSON

[code]

[2016-09-08 19:03] mattclay commented on #17343
Also, note that having group_vars in the same directory as your playbook only works when running that playbook. For ad-hoc commands with `ansible` you'll need to have group_vars where your inventory is.

[2016-09-08 19:03] jimi-c commented on #6309
# Update Required

Hi, our apologies on taking so long to follow-up on this issue.

This bug was reported on a version of Ansible that is very out of date, and we're not sure if it's valid anymore. As such, could you please let us know if this issue still applies to the devel branch, or the most recent version of Ansible (currently 2.1.x or the latest commit from the stable-2.1 branch)?

If we do

[2016-09-08 19:04] jimi-c commented on #6466
As this has been moved to a proposal, we'll go ahead and close this issue now.

Thanks!

[2016-09-08 19:04] #6466 closed, assigned to alikins

[2016-09-08 19:10] sivel commented on #17430
From what I can see, it is due to your inventory being malformed.  Although valid JSON, it does not conform to the ansible requirements for a dynamic inventory output.

I can't see everything you have there, but at minimum, `hosts` should just be a list of strings, not a list of dictionaries.

See http://docs.ansible.com/ansible/developing_inventory.html for more information on proper formatting.

[2016-09-08 19:15] bcoca commented on #4583
Can anyone confirm that my patch fixes this? #17464

[2016-09-08 19:17] jimi-c commented on #7199
Hi @mark-casey, sorry for the late follow-up. It appears that this has been resolved since the 2.0 release, we just never went back and confirmed it. Using anything from v2.0.0.2-1 on (which is merely the furthest I went back), I see the correct output using both inventories:

<pre>
$ ansible-playbook -vv -i inv.bad test.yml
Using /etc/ansible/ansible.cfg as config file
1 plays in test.yml
PLAY [C

[2016-09-08 19:17] #7199 closed, assigned to nobody

[2016-09-08 19:24] #7240 closed, assigned to nobody

[2016-09-08 19:24] jimi-c commented on #7240
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-09-08 19:31] jimi-c commented on #7633
Hi @jiv-e (and @tyll), there is a mention of the `./library` path in the developing modules doc, as well as a section entitled "Module Paths", which covers similar subject matter. As such, we'll go ahead and close this issue now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-proj

[2016-09-08 19:31] #7633 closed, assigned to nobody

[2016-09-08 19:31] isegal commented on #15408
@jinlee in your test, try changing the last hosts section
from:

[code]

to:

[code]

if the last role ends up running, it is the same issue.

[2016-09-08 19:33] jimi-c commented on #7665
The above PR was merged, so we're going to go ahead and close this. Sorry for the late follow-up, and thanks!

[2016-09-08 19:33] #7665 closed, assigned to nobody

[2016-09-08 19:42] bcoca commented on #7841
Just to clarify, command line options override config file (ansible.cfg) but not inventory data (ansible_user) nor playbook directives (remote_user).

[2016-09-08 19:44] jimi-c commented on #7841
Hi @pfalcon (and @cashell), sorry for the late follow-up on this. As @bcoca noted above, inventory values have always overridden connection values such as this. This has been a long-standing design choice in Ansible, so we will close this issue now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/

[2016-09-08 19:44] #7841 closed, assigned to nobody

[2016-09-08 19:50] jimi-c commented on #7957
Hi @fnando, sorry this is such a late reply on this. In your original example here, `with_file` actually returns the contents of the file in question, so doing the lookup is not necessary (you're passing the binary contents in as the file name to lookup).

Regardless, the `copy` module now has support for vaulted files, and should not have had a problem with binary files originally.

If you have a

[2016-09-08 19:50] #7957 closed, assigned to nobody

[2016-09-08 19:55] kkirsche commented on #17463
- The error occurred after entering the vault password. The vault can be accessed using `ansible-vault edit group_vars/role-name.yml` as expected.
- Anytime that Ansible attempts to load the group variables from the vault, it seems to fail.
- N/A — Was made with this version

[2016-09-08 19:56] sidcarter commented on #17430
@sivel thank you. that fixed it. I'm getting the right output now:

[code]

I have two followup questions:
1. Why does it take longer for the script to run via ansible? e.g.

`$ time ./rest_api_inventory.py --list > /dev/null
real    0m1.051s
user    0m0.125s
sys     0m0.055s`

With ansible:

[code]

2nd question: what's the format for host specific variables? I thought that would be a dict. But t

[2016-09-08 20:07] jimi-c commented on #8109
Hi @mkoshelev, sorry for the late follow-up on this.

This should no longer be the case as of 2.0, which should raise an error if the vars files list is templated at a late stage but the file name still has an unresolved variable in it. As such, I'll go ahead and close this now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- ht

[2016-09-08 20:07] #8109 closed, assigned to nobody

[2016-09-08 20:28] sidcarter commented on #17430
Got the answer re: second question - http://tech.aabouzaid.com/2015/10/opsview-as-dynamic-inventory-for-ansible-python.html

[2016-09-08 20:43] bcoca commented on #16941
if the `ip` output is different than other linux .... _sigh_

[2016-09-08 20:46] sidcarter commented on #17430
Adding the "_meta" dictionary to the output fixed the speed issue. This issue can be closed.

Thank you @alikins and @sivel

[2016-09-08 20:54] jimi-c commented on #8129
# Update Required

Hi, our apologies on taking so long to follow-up on this issue.

This bug was reported on a version of Ansible that is very out of date, and we're not sure if it's valid anymore. As such, could you please let us know if this issue still applies to the devel branch, or the most recent version of Ansible (currently 2.1.x or the latest commit from the stable-2.1 branch)?

If we do

[2016-09-08 21:00] jimi-c commented on #8239
Hi all, sorry for the late follow-up on this. It appears this issue has been resolved as far back as 2.0.0.2 (that's the furthest back I went). As such, we'll go ahead and close this now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks

[2016-09-08 21:00] #8239 closed, assigned to nobody

[2016-09-08 21:00] cmebert commented on #16956
This is also directly affects Tower's ability to pull a dynamic inventory and use local authentication keys.  We have used group_vars to allow different authentication parameters to be used simultaneously (different ssh keys for example) when running plays against EC2 instances.  This worked correctly in 2.1.0 (2.1.0.0-1ppa~trusty), and broke in 2.1.1 (2.1.1.0-1ppa~trusty).

If the required struct

[2016-09-08 21:11] c-mart opened #17469 "`ansible-galaxy --help` is not very helpful"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

ansible-galaxy
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Xubuntu 16.04
##### SUMMARY

Trying to use `ansible-galaxy` command-line tool to consume a repository from Ansible Galaxy in another repository. I think I need to install the role with `ansible-galaxy install` but I'm not sure. Consulting the c

[2016-09-08 21:13] #17430 closed, assigned to nobody

[2016-09-08 21:59] ttbigc commented on #16638
@willthames - If branch v2.1.2.0-0.2.rc2 resolves your issue suggest we close this issue.

[2016-09-09 00:04] willthames commented on #16638
2.1.2.0-0.2.rc2 resolves my issue but I'd rather close this after 2.1.2 went live.

[2016-09-09 00:39] #17237 closed, assigned to nobody

[2016-09-09 01:45] amenonsen commented on #17463
That "=" is not valid YAML.

Same. Also, you shouldn't put the assignments into a list (it may still
work, I'm not sure; but it's not expected).

Your file should look like this instead:

[code]

[2016-09-09 01:53] kkirsche commented on #17463
Seems it was as simple as a misunderstanding of YAML syntax. Thank you for your time and help.

[2016-09-09 01:53] #17463 closed, assigned to nobody

[2016-09-09 01:56] bcattle commented on #10472
I can confirm that this appears to have broken in upgrading to Ansible 2.1

[2016-09-09 03:47] haroldTlan commented on #17362
excuse me,

now, i use `play_hosts` to print all hosts

but, how can i print single hosts?

eg:
`$ cat ansible.cfg`

[code]

`$ cat temp.yml`

[code]

Please help me ,thank you
@jhawkesworth

[2016-09-09 06:47] abadger commented on #17461
@Tiduster I became aware of this through @alikins' pull request for adding unittests for this.  I'd seen a problem in the code which may be the same thing.  Started working on code to fix it here: https://github.com/ansible/ansible/pull/17475  I haven't tested the code yet, though, so there may be some  (even obvious) bugs in it but you're welcome to try it out if you'd like.  I'll talk to alikins

[2016-09-09 06:50] abadger commented on #17461
Actually, my fix is for non-ascii characters... looks like you're specifying all ascii and the output also contains ascii... it's just being drawn from a larger range than expected.  So it's likely that my code change won't fix this.

[2016-09-09 06:59] xsteadfastx commented on #17343
ok it works now. i copied the inventory hosts file in the playbook directory and it worked. but it doesnt make much sense to me. /etc/ansible/hosts is the default, right? but group_vars gets ignored if they are not in the same directory as the hosts file? i will store now all my inventory now only in the directory my playbooks are in. i sometimes only want to check with the ping module which serve

[2016-09-09 07:32] mattclay commented on #17343
@xsteadfastx If you keep `group_vars` in the same directory as your inventory file, it will work for both playbooks and ad-hoc commands. So if you're using the default inventory in `/etc/ansible/hosts` you can use `/etc/ansible/group_vars`.

[2016-09-09 08:16] bogdando commented on #17319
This issue seems related to host OS type and ssh client only.
A simple test which skips ansible:

on Ubuntu Xenial VM (libvirt + kvm) running on Ubuntu Trusty/Wily host this works:

[code]

(there self ip is IP of the node's interface).
But on Ubuntu Xenial VM (libvirt + kvm) running on Ubuntu _Xenial_ host (same kernel versions), this hangs then throws packet_write_wait and broken pipe.
This also

[2016-09-09 08:16] #17319 closed, assigned to nobody

[2016-09-09 08:59] nzjrs commented on #17454
Thanks for your answer.

I guess the workaround would not work for me because the same repostory is also used for push-mode configuration (via `ansible-playbook`), and thus the presence of an ansible.cfg with a `hosfile` key in the repository would break this ability?

[2016-09-09 09:02] jeromer opened #17476 "Service not started on FreeBSD"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

service
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

none
##### OS / ENVIRONMENT

- from: `Linux xxx 4.2.0-42-generic #49-Ubuntu SMP Tue Jun 28 21:26:26 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`
- to :  `FreeBSD yyyyy 10.3-RELEASE FreeBSD 10.3-RELEASE #0 r297264: Fri Mar 25 02:10:02 UTC 2016     root@releng1.nyi.freebsd.org:/usr/obj/usr/src/s

[2016-09-09 09:11] antoineco commented on #15525
Correct @rvdh, the problem is that Ansible 2.x doesn't show these OpenSSH debug messages, even with the maximum debug level enabled.

[2016-09-09 10:07] jeromer commented on #17476
Upgraded to ansible 2.1.1.0 and everything works fine.

[2016-09-09 10:07] #17476 closed, assigned to nobody

[2016-09-09 10:14] robinro commented on #17454
For push you could use the same hostfile (we do this with a dynamical inventory in our production setup), or overwrite it using the command line.

[2016-09-09 10:25] cpcundill commented on #8547
Worked for me @tedder , cheers

[2016-09-09 10:25] xsteadfastx commented on #17343
@mattclay ok... thats good to know :) should i close this now?

[2016-09-09 11:22] regexcracker opened #17477 "vars_prompt can't be defined in another playbook"
##### ISSUE TYPE
- Bug Report
- Feature Idea
##### COMPONENT NAME

vars_prompt
##### ANSIBLE VERSION

ansible 2.1.0.0
##### OS / ENVIRONMENT

NA
##### SUMMARY

While calling vars_prompt from the top playbook enter.yml, playbook not including the file in which vars_prompt are defined.
##### STEPS TO REPRODUCE

-- Create a playbook enter.yml
-- include another playbook prompt.yml (in which vars_prom

[2016-09-09 11:24] charlienewey commented on #17136
OK, so it seems there's some confusion here about what I'm trying to do. I am trying to match *only* directories using a fileglob. Numerous people have mentioned that "it's a *file*glob", but it stands that the default behaviour of file globs in most shells (sh, bash, zsh, etc) allows one to match *only* directories by using the following syntax:

[code]

Note the trailing slash. This glob will ma

[2016-09-09 11:29] dagwieers commented on #17136
@charlienewey The implementation of the **fileglob** lookup plugin *only* returns files, not directories. That's how it was implemented as the aim is to iterate over files. If the lookup plugin would return files and directories, it would not be obvious what would be a file or a directory. So this behaviour is on purpose. And that is why it is called **fileglob**, and not just **glob**.

If you ar

[2016-09-09 11:57] ypid opened #17479 "Use addresses and names reserved for documentation"
##### ISSUE TYPE
- Documentation Report
##### ANSIBLE VERSION

Ansible devel
##### SUMMARY

Use addresses and names reserved for documentation.
##### MAC (rfc7042)

https://tools.ietf.org/html/rfc7042#page-7

The following values have been assigned for use in documentation:
- 00:00:5E:00:53:00 through
  00:00:5E:00:53:FF for unicast
- 01:00:5E:90:10:00 through
  01:00:5E:90:10:FF for multicast.
##

[2016-09-09 12:02] charlienewey commented on #17136
@dagwieers Oops, sorry - I realised that I had accidentally commented on the wrong issue (I have opened [a similar issue myself](https://github.com/ansible/ansible/issues/17269) and confused the two) and deleted my previous comment before I saw yours.

Anyway, if the intended behaviour of the **fileglob** plugin is only to match **files**, this brings up another issue - there are two ways of using

[2016-09-09 12:46] Hooddominator commented on #15706
same issue, but when connecting manually a warning about differing ECDSA host key appears and acknowledge for continue is needet. I removed relevant lines in ~/.ssh/known_hosts and connect manually again to add ECDSA in list back. Now ssh-connections in ansible works for me.

[2016-09-09 12:59] dagwieers commented on #17269
@charlienewey The implementation of the **fileglob** lookup plugin _only_ returns files, not directories. That's how it was implemented as the aim is to iterate over files. If the lookup plugin would return a mix of files and directories, it would not be obvious what would be a file or a directory. So this behaviour is on purpose. And that is why it is called **fileglob**, and not just **glob**.

[2016-09-09 13:04] dagwieers commented on #17136
Ok, so there is a mismatch between the `fileglob` lookup plugin, and the `fileglob` filter plugin (jinja2).
I guess we have to fix the filter plugin (jinja2) to work exactly as we expect for the lookup plugin.

Thanks for reporting, fix under way !

[2016-09-09 13:20] charlienewey commented on #17136
Awesome :smile: I am happy to write a `glob` or `dirglob` filter plugin for J2 and/or a lookup plugin for Ansible, if that functionality would be useful.

[2016-09-09 13:31] bcoca commented on #17137
closing via merged #17449

[2016-09-09 13:31] #17137 closed, assigned to alikins

[2016-09-09 13:31] bcoca commented on #15685
closing via merged #17449

[2016-09-09 13:31] #15685 closed, assigned to nobody

[2016-09-09 13:33] dagwieers commented on #17136
Did you know there is an Ansible **find** module ? Could be useful to iterate over directories.

[2016-09-09 13:40] bcoca commented on #17477
can you give a specific example, I cannot reproduce the problem with the steps given.

[2016-09-09 13:43] bcoca commented on #17466
cc @emonty @Shrews , in case they can look at this sooner than we can

[2016-09-09 13:50] charlienewey commented on #17136
Yeah, I guess it's possible to do something like this, perhaps?

[code]

Alternatively, I have (very quickly) written a `glob` module (almost the same code as `fileglob`, but with normal shell glob behaviour) -  just trying to figure out if I should make any unit tests/doc changes before making a PR.

[2016-09-09 13:52] bcoca commented on #17455
so this was working last in 2.0

[2016-09-09 13:54] dagwieers commented on #17136
Correct, and you can add `connection: local` to perform it on the controller, instead of on the remote targets. Which basically gives you everything you may want :-)

[2016-09-09 13:58] juliedavila opened #17482 "Defining a var that uses a lookup that returns a traceback inside included vars results in a bad error message when trying to use hostvars but doesnt error otherwise"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_vars action plugin
lookups
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Pipelining is enabled
##### OS / ENVIRONMENT

tested on both
OSX
RHEL 7.2
##### SUMMARY

Defining a variable, that uses a lookup which returns a traceback, inside of included vars results 1) an error message only appearing if using hostvars in subsequent task an

[2016-09-09 13:59] #17455 closed, assigned to bcoca

[2016-09-09 14:03] charlienewey commented on #17136
Excellent, thanks for that - and good idea, I will use that for the time being :smile:. Also, on the off chance that anyone might find it useful, I've opened #17483.

[2016-09-09 14:03] cisarpavel opened #17484 "'with_items' items expanded before conditional evaluation"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

ansible 2.1.1.0
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default ansible install using pip
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY
##### STEPS TO REPRODUCE

When trying to iterate over list stored as attribute of loop_var, condition _defined_ is not evaluated before startnig loop.
It's quite close to issue https://github.com/a

[2016-09-09 14:08] bcoca commented on #17482
So this happens because templates are lazy evaluated (only when needed), the import or definition of an invalid template should not be an error but it should appear on use. That said this is not being reported correctly.

So this shows the "proper" error:

[code]

which is:

[code]

it is being obscured at some point during the iteration of hostvars

[2016-09-09 14:44] bcoca commented on #17484
Not a bug, as explained here:
http://docs.ansible.com/ansible/playbooks_conditionals.html#loops-and-conditionals

loops are always evaluated before conditionals to allow conditional execution of each loop item.

[2016-09-09 14:44] #17484 closed, assigned to nobody

[2016-09-09 14:50] privateip commented on #17111
@agaffney its fixed in the module ansible/ansible-modules-core#4692.  For 2.2, we are dropping support for the module trying to calculate the diff and relying exclusively on the device diff.  We now just read the returned diff to decide if a change is made or not.   Therefore, the module no longer needs to retrieve a copy of the active configuration.

[2016-09-09 14:59] emonty commented on #17466
I'll try to look at this later today

[2016-09-09 15:04] #17343 closed, assigned to nobody

[2016-09-09 15:10] bcoca commented on #17313
as a workaround you can set it with the `use=` option to the correct managment plugin

[2016-09-09 15:15] cpatry-poly commented on #17461
@alikins : Do the files '/etc/psql_credentials/namindpsql01:replication' already exist?

**No, it was created by the task.
I verified it my self using unix ctime and mtime.**

Does the content of the files change when ran. It shouldn't for that password lookup

**No, when the file is already there, the content never change.**

@abadger : thanks for letting me know.
Looking at the change you made,

[2016-09-09 15:24] jctanner commented on #15844
reassigning to @abadger

[2016-09-09 15:24] gundalow commented on #16151
If we don't support this:
1) Can we update the documentation to make this clearer
2) Can we detect and give the user feedback

[2016-09-09 15:35] bcoca commented on #15929
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Delegation changes the target of the copy, not the source.

In the future, this might be a topic more well suited for the user list, which you can also post he

[2016-09-09 15:35] #15929 closed, assigned to nobody

[2016-09-09 15:38] jctanner commented on #16121
Still failing in devel ...

[code]

[2016-09-09 15:50] abadger commented on #17330
Closing this in favor of the PR.

[2016-09-09 15:50] #17330 closed, assigned to abadger

[2016-09-09 15:55] jimi-c commented on #16872
Hi @micw, this is a variable scoping issue. The variable defined in the include parameters is not available outside of the include, which in this case is your handler task. If you need that variable available outside of the include, the workaround given by @zentavr is the way to do it.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriat

[2016-09-09 15:55] #16872 closed, assigned to jimi-c, bcoca

[2016-09-09 16:10] lozair31 commented on #17300
We encounter same problem with ansible version 2.1.1.0 on ubuntu.
Same results as described by pscadiz

[2016-09-09 16:11] flare-ws opened #17486 "include_vars ignores hash_behaviour setting"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

core
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

this key is commented

[code]
##### SUMMARY

According to ansible docs (http://docs.ansible.com/ansible/intro_configuration.html#hash-behaviour) default hash behaviour is "REPLACE". But dict "megavar" has been merged during play.

Actually, hash_behaviour in ansible.cfg means nothing, I've t

[2016-09-09 16:18] jctanner commented on #16121
https://github.com/ansible/ansible/pull/17487

[2016-09-09 16:27] flare-ws commented on #17486
Actually, hash_behaviour in ansible.cfg means nothing, I've tried to manually set this to "replace"

[2016-09-09 16:30] bcoca commented on #17486
so tested this several ways and it seem to only be an issue with include_vars, when using vars/vars_files and other methods the behavior is as configured.

[2016-09-09 16:33] westsouthnight opened #17488 "Getting hostvars from group['play_hosts']"
##### ISSUE TYPE
- Bug Report
- Feature Idea
##### COMPONENT NAME

Jinja2 Templates
PlayHost group hostvars
##### ANSIBLE VERSION

ansible 2.1.1.0
##### CONFIGURATION

default
##### OS / ENVIRONMENT

MacOS X
##### SUMMARY

Need to access to play_hosts group.

If i use:

[code]

and i want to do next (as example):

[code]

or

[code]

execution drops.

Summury:

1) We want to be able getting host v

[2016-09-09 16:38] nitzmahone commented on #16280
@bcoca believes quoting is not the final solution to this issue (due to other issues around sudo and backslashes), and since there's a decent workaround, we're going to close as won't fix.

[2016-09-09 16:38] #16280 closed, assigned to nobody

[2016-09-09 16:40] abadger commented on #16151
Making this a docs bug as this is a known limitation of the python stdlibrary's configparser implementation.  The important bit of documentation from what @alikins posted is:

which means that inline comments starting with `#` do not work.

[2016-09-09 16:41] youam commented on #17313
@bcoca, i know, see the third play in my example playbook :)

not gathering facts works too. as that disables the autodetection (second play)

[2016-09-09 17:09] bcoca commented on #17488
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

There is no `play_hosts` group, there is a `play_hosts` variable which contains a list of the 'current hosts in the play.

In the future, this might be a topic

[2016-09-09 17:09] #17488 closed, assigned to nobody

[2016-09-09 17:21] #17397 closed, assigned to nobody

[2016-09-09 17:30] bcoca commented on #16956
So this has drifted from the original issue, which I cannot reproduce when group/host_vars are adjacent to the inventory or playbook files, only when they are a level up, which was never a feature or supported.

As such I'm closing this issue, I do think we might benefit from a 'project/base/root dir' that we can pass to Ansible to use as another place to look for things, but that belongs in propo

[2016-09-09 17:30] #16956 closed, assigned to nobody

[2016-09-09 17:37] douglasdiasds commented on #8243
Hello guys,i have the same problem with syntax,the terminal says that error is in line 8 but no have nothing in line 8 and the indention apparently to me is right,where i wrong?
the file:

[code]

thanks!!!

[2016-09-09 17:38] cmebert commented on #16956
you're going to close this issue without any updated documentation or best practice info?  You may have "fixed" a bug, but you did break a lot of currently structured repositories that were created / based on the docs you guys provided.  We had to roll back to 2.1.0 to fix our environment, and i STILL do not see any updated documentation.

Following this guide: http://docs.ansible.com/ansible/play

[2016-09-09 18:12] bcoca commented on #17313
@youam can you confirm my patch fixes this?

[2016-09-09 18:18] basictheprogram opened #17490 "handlers not inheriting role parameters (become)"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

All my handlers that need to run as root are failing.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

Additional details in Ansible Development Google Group
https://groups.google.com/forum/#!topic/ansible-devel/utV9nR

[2016-09-09 18:28] bcoca commented on #14672
Try `include_role` (in 2.2) which allows you to use a 'role as a task', that should work fine with blocks.

[2016-09-09 18:51] bcoca commented on #17438
2.1.2 has a fix for the 'unconditional localhost' bug that was introduced in 2.1.1

[2016-09-09 18:51] #17438 closed, assigned to nobody

[2016-09-09 18:52] bcoca commented on #17435
closing as dupe of  #13278

[2016-09-09 18:52] #17435 closed, assigned to nobody

[2016-09-09 18:54] bcoca commented on #14426
folding into #13278

[2016-09-09 18:54] #14426 closed, assigned to nobody

[2016-09-09 18:56] bcoca commented on #17428
so that the fact triggers this issue seems to indicate that the include is not being treated as dynamic. Facts are not available during static includes

[2016-09-09 18:59] jimi-c commented on #17428
I agree with @bcoca, this seems to be a bug in the code which tries to detect a variable in the included file name, however it's not necessarily hitting where I would have expected so I'll have to do some debugging to pin it down.

[2016-09-09 19:00] jimi-c commented on #17428
For now, using `static: no` on the include will force it to be dynamic, and should get past the error.

[2016-09-09 19:04] bcoca commented on #17346
I'm not sure this is possible to implement, I've done "shamir's shared secret" but that is using multiple users to encrypt a secret and requiring only a subset to decrypt.

Theoretically you could have that subset be 1 user but I'm not sure how secure that is.

[2016-09-09 19:40] youam commented on #17313
@bcoca, yes I can confirm that ansible/devel at e8897a9b917be47431df68141c3977f3ab57942e still shows the bug and fails, while your branch bcoca/service_delegate (at ad78a3254bfa42d1d82b2f94f11b0bc9d859fa47, for the record), successfully restarts the service. Thank you!

[2016-09-09 20:01] jerrac commented on #14219
I just upgraded via pip to 2.1.1.0 today and started running into this issue. My load spiked high enough my my laptop fan went into overdrive.

I tried the playbook from https://github.com/ansible/ansible/issues/14219#issuecomment-221377343 but it did not cause my load to spike.

I was able to get my load averages up to 5+ 3+ 2+ using 4 vagrant vm's and this playbook:

[code]

I'm on Ubuntu 16.04.

[2016-09-09 20:15] agaffney commented on #17428
As noted above, using `static: no` does prevent the error, but the template ends up as a blank string, which still causes the `include` to fail.

[2016-09-09 20:19] Qalthos commented on #17392
@gundalow, can you reproduce this on devel? I'm seeing passwords masked correctly as of

[code]

[2016-09-09 20:29] dtest opened #17491 "Unhelpful error when python dependency is missing"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

All modules
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

pipelining=False
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When Python is missing from managed nodes, ansible tasks fail with

[code]

Related to one of the items pointed out in #17384
##### STEPS TO REPRODUCE

Run ansible command 'uptime' against a host without Python:

[code]
#####

[2016-09-09 20:30] emonty commented on #17344
Oh - sorry for the delay.

This should definitely work for non-admin users. Could you do me a couple of favors to help track it down (thanks for the gist):
- Can you paste a copy of your clouds.yaml with the password field redacted and also the output of `env | grep OS_` (I know you said they're the same, but I'd like to double-check for sanity
- Also - the versions of shade and os-client-config t

[2016-09-09 20:31] emonty commented on #17344
WOW. that sorry was super bold without me intending it to be. yay markdown

[2016-09-09 20:49] acthp opened #17492 "synchronize 'pull' mode incorrectly prepends PWD to src"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

plugins/action/synchronize.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

'pull' mode preprends PWD to the (remote) src path, e.g.

/home/blah/blah/rsync://some-host/path/on/remote
##### STEPS TO REPRODUCE

Try the example in the synchronize docs:

[code]

##### EXPECTED RESULTS

rsync from someh

[2016-09-09 20:51] jctanner commented on #16121
resolved_by_pr https://github.com/ansible/ansible/pull/17487

[2016-09-09 20:51] #16121 closed, assigned to jctanner

[2016-09-09 21:26] #17313 closed, assigned to bcoca

[2016-09-09 22:44] ko-christ commented on #10282
A dirty workaround using `$PPID` to parse `-e/--extra-vars` from process snapshot.

[code]

[code]

`inventory.py` returns inventory in JSON for cl_01 only.

[2016-09-09 23:20] kustodian commented on #17349
Could this be an issue with `ControlPersist` time out expiring when Ansible is just about to connect to a host. I reported that problem in #16731 and I submitted a fix in #16787.

[2016-09-10 00:46] rcoh opened #17495 "docker-py version is checked incorrectly"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

docker integration (but not the docker module) (https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/docker_common.py#L154)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

OS X, El Cap
##### SUMMARY

docker-py just bumped its version to `1.10`. This is the code that checks the version:

[code]

T

[2016-09-10 00:47] rcoh commented on #17495
See also https://github.com/docker/docker-py/issues/1200#issuecomment-246076049

[2016-09-10 01:50] srstsavage commented on #17495
Confirmed, Debian Jessie. Seems...urgent.

[2016-09-10 02:08] srstsavage commented on #17495
Note that docker-compose 1.8.0 requires docker-py >1.9,<2.0, so if you're specifically setting docker-py to a version lower than 1.9.0 and installing docker-compose 1.8.0 it will upgrade docker-py all the way to 1.10.1 which presently breaks the string version comparison. Set docker-py to 1.9.0 prevent this.

[2016-09-10 02:28] rcoh commented on #17495
Most people using the normal galaxy package for docker will be getting the
latest version by default -- could definitely break a lot of stuff

On Fri, Sep 9, 2016, 7:09 PM Shane StClair notifications@github.com wrote:

[2016-09-10 03:55] mark-casey commented on #7199
Thanks. No worries on the delay. It clearly wasn't super widespread so (without discounting those of us who lost a little time finding it back when) it makes sense. I'd take me 15 minutes to even remember what I was doing when I hit this so I wouldn't be able to test it more than with the test case here, but knowing the two features can work together should the need arise is great.

[2016-09-10 06:05] haroldTlan commented on #17362
Thanks for your kind, I decide to use `"{{ ansible_eth0.ipv4.address }}"`
thanks one more.

@jhawkesworth

[2016-09-10 06:06] nictuku commented on #17495
FWIW, I'm not setting docker-py to any specific version and this broke me anyway.

[2016-09-10 06:25] juanluisbaptiste commented on #17495
Yup, I can confirm it on Ubuntu 16.04.

[2016-09-10 07:50] #17495 closed, assigned to chouseknecht

[2016-09-10 09:47] h0nIg commented on #17180
@jimi-c look at the second example, there is no include that is used so this is not related to the problem you described. could you include this into 2.1.2?

[2016-09-10 10:18] tardyp opened #17497 "[FreeBSD] regression on 2.1.1.0 for become_user and ssh connection"
Looks like there is a regression on:
https://github.com/ansible/ansible/issues/700

with ansible 2.1.1.0 and FreeBSD
my playbook runs well for 2.1.0.0 but with following warning:

[WARNING]: Using world-readable permissions for temporary files Ansible needs
to create when becoming an unprivileged user which may be insecure. For
information on securing this, see https://docs.ansible.com/ansible/bec

[2016-09-10 10:20] antoineco commented on #17349
@kustodian this one is not a timeout issue, but rather a problem with the way ssh connections are persisted when a ssh bastion is used to access private hosts.

But I agree that the timeout could be hit as well if the bastion's socket expires during a play.

[2016-09-10 10:22] winggundamth commented on #16865
Any update on fixing this?

[2016-09-10 12:31] jimi-c commented on #17297
This was fixed in 9c311b6b1316e14fc140027c5015525279d284b3 (and tweaked in 4ba90a3817c1de5382e5f321662736e8c409487e).

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-devel - for strateg

[2016-09-10 12:31] #17297 closed, assigned to jimi-c, bcoca, docschick

[2016-09-10 17:35] fiunchinho opened #17500 "register is executed on skipped tasks"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Variable takes result from `register` on skipped tasks. It's like `register` is executed even on skipped tasks.
It works fine on version 2.1.0.0, but it doesn't on 2.1.1.0.
##### STEPS TO REPRODUCE

[code]

[code]

[code]
##### EXPECTED RESULTS

Variable doesn't get the result from register on sk

[2016-09-10 18:28] emonty commented on #17466
There is an os.chdir in async_wrapper that is part of the copy-pasta from http://code.activestate.com/recipes/66012/ - although it's a general good practice for daemons, in this case it's not useful given the purpose of the code.

[2016-09-11 03:45] amenonsen commented on #17346
It's possible (and straightforward) to implement. You just tell gpg to encrypt something with a set of public keys, then anyone who has any of the corresponding private keys can decrypt it. Works very well. (This is the reason I implemented vault+gpg integration, which is blocked by the fact that python-gnupg needs some patches first, which the maintainer has not yet replied to.)

[2016-09-11 03:51] amenonsen commented on #17479
@ypid That's a valid point. Would you care to submit a patch to fix it?

[2016-09-11 10:27] ypid commented on #17479
I am sure I missed many occasions but my PRs should be a start.

I would suggest that new contributions get checked for this before getting merged. Maybe add a test which searches for common addresses and names and show a warning when they are not reserved for documentation?

[2016-09-11 12:50] iautom8things commented on #10131
![Hi Everybody!](http://s2.quickmeme.com/img/f2/f2a0cc7f1c74bdfbdd7ea96f5bd2800226ca723e5a5f8dd77b4070cffc58b0fb.jpg)

This problem has been something that has bugged me since picking up Ansible.  I've monitored this thread, and was _really_ disappointed when it was closed the way it was. (by the way, I could not get any of the described work arounds working.  I'm pretty sure some of the snippets

[2016-09-11 17:17] gundalow commented on #17392
@Qalthos I'll retest, however it might only be in backtraces

Annoyingly I didn't include the repo case for that backtrace :(

[2016-09-11 17:31] aramirez-es commented on #17500
I'm facing this issue as well.

[2016-09-11 17:32] fiunchinho commented on #16740
@tarvip I've created https://github.com/ansible/ansible/issues/17500

[2016-09-11 23:38] jooadam opened #17505 "String converted to array"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### STEPS TO REPRODUCE

[code]

[code]

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2016-09-12 05:04] wise0103 opened #17514 "Support ProxyCommand in module_utils for Network like paramiko connection plugin"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

Support ProxyCommand in module_utils for Network (lib/ansible/module_utils/shell.py) like paramiko connection plugin
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

In paramiko connection plugin, I find implementation for supporting ProxyCommand.
In network modules, I find ProxyCommand is not suppo

[2016-09-12 06:47] DebianRoxx opened #17515 "Increase Ansible's performance"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

core
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Debian GNU/Linux 8.5 (jessie)
##### SUMMARY

Performance could be better.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Shell execution of same work take 3 seconds.
So, there is much room to improve performance.
In real production with a lot of param

[2016-09-12 09:17] robinro commented on #17515
Since this issue is about the performance of the mysql module, it should be opened in the ansible-modules-core repository.
https://github.com/ansible/ansible-modules-core/issues/new

See http://docs.ansible.com/ansible/community.html#i-d-like-to-report-a-bug on which repository to report bugs against.

Maybe one quick comment regarding the issue: Since the ansible module tries to be idempotent it

[2016-09-12 09:19] yssvic commented on #15706
+1 I have same problem with some setups

[2016-09-12 11:16] JulienChampseix commented on #16790
**OS / ENVIRONMENT**

OSX 10.11.6

**COMMAND RAN**

Output

[code]

**OTHERS INFOS**
Previous command tested without result : `sudo -H pip install --upgrade ansible --user python`

[2016-09-12 12:10] martbhell opened #17518 "make callback profile_tasks independent from system time to allow for time changes"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

callback plugin: profile_tasks
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

[code]
##### OS / ENVIRONMENT

CentOS7
##### SUMMARY

profile_tasks uses system time and can output negative time to run tasks if the clock is changed while running ansible.
##### STEPS TO REPRODUCE

The playbook: https://github.com/CSC-IT-Center-for-Scienc

[2016-09-12 12:28] bcoca commented on #17518
Yes, the profile_tasks depends on the time of the 'controller machine', I'm not sure this is a bug as much as a logical limitation.

We could look at processor ticks and try to calculate it's correspondence to real time but that is also subject to clock changes (though in a much more narrow window) or querying an NTP source, etc. As such I'm going to leave this open as a feature request in case an

[2016-09-12 12:38] bcoca commented on #17515
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-09-12 12:38] #17515 closed, assigned to nobody

[2016-09-12 13:41] shiplu commented on #4494
the command line tool `supervisorctl` supports a sub command `reload`. But ansible doesn't support it.
Then how can we reload supervisor config files?

[2016-09-12 13:48] tonk opened #17520 "Debugger strategy broken in develop"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`ansible-playbook`
##### ANSIBLE VERSION

[code]
##### SUMMARY

When running the playbook below the Ansible playbook debugger should be invoked.
In version 2.2.0 (the current develop branch) this seems broken. I do get a `retry` file.

[code]
##### STEPS TO REPRODUCE
- Running this playbook in Ansible version 2.1 results in debugger running
- Run

[2016-09-12 14:30] Qalthos commented on #17416
`response` isn't critical, but (I think) has no use anymore now that we can calculate diffs on the device.

`load_config()` is more of an issue, I expect a few methods in CliBase will need **kwargs at the end of their definitions to be overridden correctly.

[2016-09-12 14:30] gundalow commented on #17479
Excellent idea, thanks for the PRs

We are writing a list of things we've like to change regarding testing Ansible and part of this includes improving the documentation about developing modules. I've made a note on https://public.etherpad-mozilla.org/p/ansible-testing-working-group that we should use the documentation IP ranges.

[2016-09-12 14:33] prevostc commented on #9966
Same issue with ansible 2.1.1.0 on ubuntu 14.04 and python 2.7.6: `Failed to validate the SSL certificate for deb.nodesource.com:443. ...`

[2016-09-12 14:42] sivel commented on #17500
This is expected. Although the task was skipped, information as to the task being skipped is still registered to the variable that was specified.

This allows you to do things such as `when: registered_var|skipped` to perform a task based off of a previous task being skipped.

Instead of using the same variable in 2 tasks, it is recommended that you use 2 different variable names.

If you have fur

[2016-09-12 14:42] #17500 closed, assigned to nobody

[2016-09-12 14:46] bcoca commented on #17505
so this is a byproduct of supporting 'bare variables' in with_, we try to template everything and hence 'type it'. This 'feature' was deprecated and will be removed in 2.2 (via #17519). Until then the only workaround I can give you is adding an initial space to the string to avoid having [ or { as the first character.

[2016-09-12 14:52] prevostc commented on #9966
@boris-hocde (in my company) found a solution:

Before python 2.7.9:

[code]

After python 2.7.9

[code]

[2016-09-12 14:58] kiview commented on #17495
Does a temporary workaround exist?

[2016-09-12 15:02] rcoh commented on #17495
A downgrade of docker-py to 1.9.0 is probably the easiest

On Mon, Sep 12, 2016, 7:59 AM Kevin Wittek notifications@github.com wrote:

[2016-09-12 15:19] #17416 closed, assigned to Qalthos

[2016-09-12 15:22] PatBee opened #17523 "Will EPEL packages be kept up to date?"
- Feature Idea

For people working in a corporate environment Ansible moves fast, really fast.  That is good and bad.  Good we get new features quickly.  Bad that we can't get latest updates easily on older systems (Read RHEL or Centos 6.x, or Ubuntu 14.X).

Currently the latest version of ansible in https://dl.fedoraproject.org/pub/epel/6/x86_64/ is 2.1.1.
Same appears to be true for Ubuntu 14.x

[2016-09-12 15:28] #15844 closed, assigned to abadger

[2016-09-12 15:37] #16682 closed, assigned to nobody

[2016-09-12 15:56] kustodian commented on #15963
I would like to note, that this doesn't happen only if you have an include in the block element, it also fails if the whole block is in an included file, for example:

[code]

[code]

So if you use a lot of includes, this can happen to a lot of people.

[2016-09-12 16:37] RuBiCK commented on #17344
Thanks for your help emonty!

I'm not able to reproduce the issue again. I think it was related to some issue with clouds.yaml while I also had declared env variables.

Give me a couple of days to check further ;)

[2016-09-12 16:42] bcoca commented on #17346
I'll look into that, but I thought you ended up with N encrypted versions of the secret, 1 per public key used.

[2016-09-12 16:58] bcoca commented on #17479
closing via merged PRs above

[2016-09-12 16:58] #17479 closed, assigned to nobody

[2016-09-12 17:03] bcoca commented on #17523
We do provide ways to build rpm/deb/etc from our source, but sadly we don't control what distributions choose to package.

The reason pip has the latest available is because it is one method of installation we do have control over as we publish the package, the release tarball and our Ubuntu ppa are the other 2. Outside of that, there is very little we can do.

[2016-09-12 17:03] #17523 closed, assigned to nobody

[2016-09-12 17:36] #17415 closed, assigned to Qalthos

[2016-09-12 17:40] ypid commented on #17479
@bcoca As mentioned:

Can you maybe reopen?

[2016-09-12 17:46] geerlingguy commented on #16006
I've hit this recently too, on CentOS 7 on a `package` module install using `with_items`:

[code]

And in the console during a playbook run:

[code]

Same thing if I use the `yum` module. Note that the problem is that the package is incorrect (I was using the same playbook for Ubuntu and CentOS, but the CentOS package should've been `java-1.8.0-openjdk`. However, the failure wasn't noted and that

[2016-09-12 17:55] bcoca commented on #17479
I don't see much use of keeping the ticket at this poinT, unless it kept track of all the spots where this is needed.

I'm adding a note in developing modules rules to use these and accept any PRs that take us to completion. But this will be an ongoing process and in those cases I normally close the ticket once the problem is acknowledge and we start to address, otherwise it would be permanently o

[2016-09-12 18:02] ypid commented on #17479
OK. Thanks for explaining.

[2016-09-12 18:21] #17414 closed, assigned to Qalthos

[2016-09-12 18:25] PatBee commented on #17523
You could offer the core of a playbook that builds from source.  Gitlab offers their own repo with packages they publish for popular linux distributions, it is their preferred method of installation.  Though Docker might become their preferred method.

On Sep 12, 2016, at 1:04 PM, Brian Coca notifications@github.com wrote:

[2016-09-12 19:11] DebianRoxx commented on #17515
@robinro You're right, I forgot that module try to be idempotent.
I've tested with a show databases after each create database and shell execution is always under 4 seconds, so no much differences.

I have tested against core module (shell), it's the same. I'll open new ticket for this.
Thanks.

[2016-09-12 19:16] DebianRoxx opened #17528 "Increase Ansible's performance"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

core
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Debian GNU/Linux 8.5 (jessie)
##### SUMMARY

Performance could be better.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Shell execution of same work take less than 1 second.
So, there is much room to improve performance.
In real production with a lot

[2016-09-12 19:17] DebianRoxx commented on #17515
New ticket is here : https://github.com/ansible/ansible/issues/17528

[2016-09-12 19:28] sivel commented on #17528
Just as a reference, `raw` is more similar to your shell command, than running via `command`.  There is also a speed improvement by setting `gather_facts: false`.

[2016-09-12 19:42] Qalthos commented on #17413
Redefinition of m is sort of unavoidable in this case.

I moved func (the method) to _func in the hopes of clearing up the confusion... it probably isn't needed after __init__, but this is what single underscore methods are for, so...

Lines involving cmd seem to have already been dealt with. (fbda7d127faa48c11a59f1d406739224babed26b)

[2016-09-12 19:51] DebianRoxx commented on #17528
Ok, I have disabled gather_facts, there is no much improvement.

For shell, I have replaced command by this, it's more similar ?
`time for i in {1..200}; do sh -c "ls db$i"; done`

It took less than 1 second for shell execution.

I have the feeling that there is a thing in Ansible that slowdown product : in my real playbooks/roles, even tasks in skipped block are slow to be skipped so I make small

[2016-09-12 20:08] #17413 closed, assigned to Qalthos

[2016-09-12 20:21] Qalthos commented on #17411
`format` was changed in e5d931de6b5a1334c936e197a1912165de6a37e1

`save_config()` being abstract but not overridden is intentional, and accessing `_matched prompt` is not ideal, but does what it says.

The unused imports are a necessary thing for ziploader to decide the module is important enough to include.

[2016-09-12 20:28] brickyard commented on #17024
https://github.com/ansible/ansible/commit/6b286ee0c88f3252a27ff94f39d794566c3f7d6f#diff-76ffc0551f8cf3d6255500316568e60bR412

[code]

This line causes the change of behavior.

Any comment from @nitzmahone on whether this was intended?

[2016-09-12 21:23] jooadam commented on #17505
@bcoca Thanks. Unfortunately, I can’t add the initial space, but I was able to move it to its own task, where it behaves as expected.

[2016-09-12 21:24] ramsrib commented on #17096
From the console log, it seems like using the right identity file. Anyway, i'll try again and update here.

[2016-09-12 21:42] #17411 closed, assigned to privateip, Qalthos

[2016-09-12 21:54] Qalthos commented on #17412
Imports got cleaned up in 972dc3fc97602f8402a995dad006a71cb42402c1.

six.moves sort of doesn't exist... it gets built at runtime, and definitely exists at import time, but is a mess of setattrs and manually stuffing things in sys.modules, so pylint has no way of knowing it's there.

[2016-09-12 22:23] YPCrumble commented on #16884
@Merifri did you add this as an issue yet? Having the same problem, happy to add but don't want to create a duplicate.

[2016-09-12 22:37] payals opened #17532 "Control socket does not exist"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ssh connection plugin
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

running - linuc mint 17
managing - ubuntu
##### SUMMARY

ssh connects fine first two steps but fails for one of the hosts in the third step.

[code]

[2016-09-12 23:47] vietbui commented on #17495
@kiview
In case you use pip to install docker-py:
`pip install 'docker-py==1.9.0'`
Or if version 1.10.1 has already been installed:
`pip install 'docker-py==1.9.0' --force-reinstall`

[2016-09-13 03:58] merifri commented on #16884
@YPCrumble no, I found similar issue: https://github.com/ansible/ansible-modules-core/issues/3523

[2016-09-13 05:06] lowks opened #17534 "ansible-galaxy install does not work"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-galaxy
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

mac, Linux
##### SUMMARY

ansible-galaxy install -r requirements.yml fails.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It will install the roles in requirements.yml file.
##### ACTUAL RESULTS

[code]

[2016-09-13 06:43] abadger commented on #16151
Making this a docs bug as this is a known limitation of the python stdlibrary's configparser implementation.  The important bit of documentation from what @alikins posted is:

which means that inline comments starting with `#` do not work.

[2016-09-13 06:55] abadger commented on #16015
We've added code to be more graceful about this.  The problem is in pip.

We want to work on older systems that do not have a newer setuptools thus we cannot specify a newer setuptools minimum than we actually need.  We make optional use of cryptography if it's installed.  If cryptography is installed, it requires the newer setuptools. When pip installs ansible, it will end up upgrading or install

[2016-09-13 06:55] #16015 closed, assigned to abadger

[2016-09-13 07:31] RuBiCK commented on #17344
I confirm the issue was due to my mistake with project_name in clouds.yaml, sorry for that.

I have checked the following:
- If I use clouds.yaml OR env vars and I define wrong tenant/project name, I get an auth error at the beginning. This is the expected behaviour.
- if I use both clouds.yaml AND env vars:
  - defining wrong OS_TENANT_NAME and right clouds.yaml -> works fine
  - defining wrong p

[2016-09-13 07:55] bitmensch commented on #17534
I can see the same issue, and it looks like this has been introduced in the last 24 hours. Prior to this everything worked fine.

One of my nightly builds (which also runs `ansible-galaxy` from `ansible@devel`) failed around two hours ago, showing the same error message:
https://travis-ci.org/goodplay/goodplay/jobs/159504690#L520

Not sure about the root cause yet, but it might be related to commi

[2016-09-13 08:13] kkc commented on #16784
If you upgrade boto to 2.42.0, `module.connect_to_region(region, **connect_kargs)` doesn't return valid conn. I find out rds module can't find corresponding endpoint.

[2016-09-13 09:22] mavit commented on #4583
It's still an issue.

I can confirm that the patch allows `setup` to complete on a Solaris 10 SPARC host that has a hanging `prtdiag`.  I can also confirm that, for LDoms, `ansible_virtualization_role` and `ansible_virtualization_type` are collected as previously using the information returned by `virtinfo`.

[2016-09-13 09:29] electrofelix commented on #15436
Been running with this for a number of months now and the code provided definitely fixes the problem for ansible 1.9, much more stable with it applied. Found that pipelining worked well enough where as before it would change something in the timings that would cause our CI jobs to trip over this issue very frequently.

[2016-09-13 09:51] kiview commented on #17495
@vietbui Thanks, even worked by specifying a specific `docker-py` version in the angstwad.docker_ubuntu role.

[2016-09-13 10:48] eMCeee89 commented on #12877
Is there any update? I believe more of us are facing this issue, some maybe do not even know about it yet. We should be somehow able to isolate variables only for one role run.
Thank you.

[2016-09-13 11:05] evrardjp commented on #15929
We agreed on the delegation that changes the target of the copy.
It's not the point.

We could trick ansible 1.9.4 to delegate to the node itself to copy from the node to the node, which would be the same as doing a shell: cp .

However, when doing this ansible still checks that the file is present on the ansible host before copying it to remote node. It completely makes sense, but isn't what the

[2016-09-13 11:18] tardyp commented on #17497
I just bisected the problem, and see that it is added by 9d91d2c6b829bec8ff7781143346a2c2250747b4
when I revert this commit, my playbook works again.

It looks like as setfacl -R does not work on freebsd, ansible reverts back to world writable.

I still need to figure out why setfacl does not work as expected on my env

[updated description and title to reflect it is most probably freebsd only iss

[2016-09-13 11:58] alv000h opened #17541 "Feature Idea - kerberos WINRM authentication using keytabs"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

Ansible WINRM
Kerberos
##### ANSIBLE VERSION

Ansible version 2.2
##### CONFIGURATION

ansible_winrm_*
##### SUMMARY

It would be great to have support for kerberos keytabs in ansible via an environment variable or configuration directive (ansible_winrm_keytab).

At the moment, it is necessary to invoke kinit for kerberos autentication and is n

[2016-09-13 12:01] h0nIg commented on #17180
@jimi-c @alikins still failing on 2.1.2.0-0.2.rc2

[2016-09-13 12:12] tardyp commented on #17497
when I execute the find manually, I got this:

vagrant@:~ % find /tmp/toto -exec setfacl -m u:bbinfra:rX {} '+'
setfacl: /tmp/toto: acl_get_file() failed: Operation not supported
setfacl: /tmp/toto/git: acl_get_file() failed: Operation not supported
vagrant@:~ % echo $?
0
as per http://pubs.opengroup.org/onlinepubs/009695399/utilities/find.html
find return code is always 0. So we must use xargs in

[2016-09-13 12:33] tardyp commented on #17497
Note that this problem is not seen on devel branch

I can see that ansible will execute this command instead.

setfacl -m u:bbinfra:rx /tmp/ansible-tmp-1473769438.61-235869410681845/ /tmp/ansible-tmp-1473769438.61-235869410681845/git

I have a simple fix for v2.1.1.0-1 but I am not sure exactly how to contribute it as I see no branch pointing to tag v2.1.1.0-1

[code]

[2016-09-13 13:03] #4583 closed, assigned to bcoca, jctanner

[2016-09-13 13:20] bcoca commented on #12877
an example was given but I'm still not clear on what the problem actually is.

note that 'include_vars' are host specific and supposed to persist across plays in the same run.

[2016-09-13 13:30] qper opened #17542 "conditional skip of role execution"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

skip role execution if...
##### ANSIBLE VERSION

[code]
##### SUMMARY

In ansible role we can write something like this:
`- name: check something`
`fail: msg="Oops. FAIL. Because..."`
`when: x==y`
and we get fail, execution will be stopped

I would like something like this:
`- name: check something`
`skip_execution: msg="Nothing to do... Becaus

[2016-09-13 13:30] jctanner commented on #17491
@dtest have you tried using -vvvv on your ansible command?

needs_info

[2016-09-13 13:35] RichVel commented on #14578
I'm getting this on OS X with Ansible 2.1.1.0.  However can't get a simple test playbook that fails yet.

In my main playbook with several includes, I found that using  'become: no' line makes it work (similar to @davidmattice comment https://github.com/ansible/ansible/issues/14578#issuecomment-236695317).

The task is something like this:

[code]

[2016-09-13 13:53] bcoca commented on #17542
done in #17401

[2016-09-13 13:53] #17542 closed, assigned to nobody

[2016-09-13 14:22] jctanner commented on #8919
@zstack can you please re-test this in a more recent version of ansible?

needs_info

[2016-09-13 14:24] jctanner commented on #15511
@int32bit does bcoca's suggestion make sense?

needs_info

[2016-09-13 14:25] jctanner commented on #15571
@int32bit can you please re-test this with a more recent version of ansible. We are no longer supporting 1.x and have moved to the 2.x major version.

needs_info

[2016-09-13 14:28] eMCeee89 commented on #12877
If include_vars is supposed to persist during whole playbook run, then how to obtain such a behavior that variable persists only per role?

[2016-09-13 14:29] foofoo-2 commented on #15803
Sorry, I was not able to make further tests within the last weeks. I'm now going to test again with the devel branch and let you know if the problem still occurs.

Unfortunately, I'm not allowed to share the playbooks I'm using to test because they contain some sensitive data :-( and splitting into several smaller playbooks to track down the problem would require quite a lot of time. @zerodotfive:

[2016-09-13 14:37] bcoca commented on #12877
`vars:` at role invocation or passed in as role parameters.

[2016-09-13 14:54] jctanner commented on #8460
Hi, our apologies on taking so long to follow-up on this issue.

This bug was reported on a version of Ansible that is very out of date, and we're not sure if it's valid anymore. As such, could you please let us know if this issue still applies to the devel branch, or the most recent version of Ansible (currently 2.1.x or the latest commit from the stable-2.1 branch)?

If we do not see any follow-

[2016-09-13 15:21] jctanner commented on #10887
Hi!

Thanks very much for your submission to Ansible. It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational. Our reasons for this are:

Since we aren't always templating from files in a VCS, I'm not sure this a feature we would want to implement. The best option would

[2016-09-13 15:21] #10887 closed, assigned to nobody

[2016-09-13 15:39] oryband commented on #16804
Documentation is vary lacking regarding this topic.

[2016-09-13 15:42] jbergstroem opened #17544 "add_host hosts doesn't inherit host_vars from a vars plugin"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

add_host
##### ANSIBLE VERSION

ansible 2.1.0.0
##### CONFIGURATION

ansible.cfg

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When adding hosts with `add_host` anything set via vars_plugins through for instance `host.set_variable` doesn't seem to be added.
##### STEPS TO REPRODUCE

playbook.yml

[code]

vars_plugins/test.py

[code]
##### EX

[2016-09-13 15:54] #17544 closed, assigned to nobody

[2016-09-13 17:01] winggundamth commented on #16306
Ping @chouseknecht in case maybe you have an idea for this.

[2016-09-13 17:12] chouseknecht commented on #16306
It's on the list of things to do over at [ansible/ansible-container](https://github.com/ansible/ansible-container/issues/226)

[2016-09-13 17:30] laurelstreng commented on #16790
Also running into this issue on OSX 10.11.6

[code]

[2016-09-13 17:40] #17412 closed, assigned to Qalthos

[2016-09-13 17:49] qper commented on #17542
@bcoca, please give me link on documentation for this feature. I think it not same issue.

[2016-09-13 17:53] bcoca commented on #17542
its a new feature in 2.2 here is the source of the docs https://github.com/ansible/ansible-modules-core/blob/devel/utilities/logic/include_role.py

basically it lets you run a role 'as a task', including conditionals when it is static: no

[2016-09-13 18:04] Qalthos commented on #17410
format was dealt with in ca95b2ae4f96e0b296f1ad6152ec3ea0edab7afc

The overloading of `self.enable` is kind of troublesome, but it works, and would need a deeper look to truly fix.

As for the rest, I can't find any reference to any of it in the current version nor the git history. I'm sure I'm just missing something, but without a commit to check, I can't say for sure what happened to any of it.

[2016-09-13 18:33] Qalthos commented on #17392
For example, #17441 has the password masked properly.

I'm going to close this, if you find this comes up again and can provide a reproducible case, we can look into it again.

[2016-09-13 18:33] #17392 closed, assigned to Qalthos

[2016-09-13 19:01] antitoine commented on #14413
I found this answer that solve the problem for me : http://stackoverflow.com/a/39174307

[code]

[2016-09-13 19:55] xenithorb commented on #16804
Ok so I did some testing with this and it works as described in the documentation, but the `meta/main.yml` file is not exactly _required_, necessarily.

The error without a meta dir is as follows:

[code]

So, the technicality is that you don't _really_ need a `meta/main.yml` file, you just need a `meta/` directory. But, `git` does not track empty directories, so you at least need a `meta/` direct

[2016-09-13 20:17] #15597 closed, assigned to bcoca

[2016-09-13 21:08] alikins commented on #16533
Working on setting up unit tests for cpu facts collection, could you post the entire '/proc/cpuinfo' for this machine somewhere?  I have an assortment of POWER5-7 examples, but no POWER8.

[2016-09-13 21:17] adreznec commented on #16533
[code]

[2016-09-13 21:19] #16533 closed, assigned to alikins

[2016-09-13 22:38] stevesirois commented on #13809
Must agree too! Reading the docs doesn't say a word about this and, for exemple, managing multiple instance of apache configuration make this behaviour very confusing and counter intuitive. If your using a --limit clause, you expect that the variable define in THAT groups_vars get picked up., NOT the other groups just because it's the same host!?

[2016-09-13 23:16] xenithorb opened #17555 "ec2.py fails with - NameError: name 'botocore' is not defined - on devel"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

`ec2.py`
##### ANSIBLE VERSION

[code]

Hash:  https://github.com/ansible/ansible/commit/da4c3ebeac4477850b42b780c8dbf8a469ca9499
##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora 24
Python 2.7.12 clean virtualenv
##### SUMMARY

`ec2.py`  : https://raw.github.com/ansible/ansible/devel/contrib/inventory/ec2.py

Used to only require `boto`, but

[2016-09-13 23:38] xenithorb commented on #16952
This is also happening to me with one of my roles where I have a pretty basic `main.yml` and am subsequently including tasks from that. The `main.yml` is pretty generic and easy to read so I'm not going to generalize it:

[code]

The error occurs in `odbc_setup.yml` where there is a block with a `when: condition` and it just runs the block anyway, even if I set it to something that _must_ be false

[2016-09-13 23:41] xenithorb commented on #16952
@bcoca I don't think this is labeled correctly as a "feature_idea"

[2016-09-13 23:59] stevesirois commented on #9065
I'm really happy to see that I'm not alone in this nonsense! Groups vars should apply to HIS group of hosts period. How in the world the --limit directive should be explain than? The natural way of thinking is : ok I "limit" this playbook to host in THAT group so THAT group of vars gets pick up!!!! Not variable define in other groups for that same host, that doesn't make anysense!

I hope this get

[2016-09-14 00:05] srstsavage commented on #17500
@sivel I see this has come up multiple times on the issue board and mailing list.

https://github.com/ansible/ansible/issues/4297
https://github.com/ansible/ansible/issues/15195

https://groups.google.com/forum/#!searchin/ansible-project/register$20skipped|sort:relevance/ansible-project/NGXcbyQvz-Y/nUZUUJfg1M8J

etc

This seems to be an indication that the present functionality isn't ideal. Are th

[2016-09-14 03:56] chris-neely commented on #5185
I'm looking at the same use case as @djroze - So far our current work around is edit it when we work on a branch and then change it back before we commit.

https://github.com/ansible/ansible/issues/5185#issuecomment-220848325

[2016-09-14 04:23] davivcgarcia commented on #13222
I'm experiencing same behaviour when trying to install 'JBoss EAP 7' (that looks like an 'package group') on a RHEL 7.2. When running the task, looks like nothing is done by Ansible:

[code]

I'm using Ansible version 2.1.1.0 on Fedora 24 as controlling node. Tried different configs on my playbook, and this task is specified like below (but already tried using "@^JBoss EAP 7"):

[code]

[2016-09-14 06:00] martbhell commented on #17534
My last working test used this commit: f4af154beff2b281e464b616f504293d67187da5

[2016-09-14 06:06] foofoo-2 commented on #15803
Please find attached the new test results. It looks much better :-) I'm now going to install this devel release on our two other lab and integration platforms to confirm that the performance issues are now fixed.

![20160914_ansible-run-duration](https://cloud.githubusercontent.com/assets/1511872/18501614/1ea4932c-7a52-11e6-8857-8d61b92a62e8.png)

[2016-09-14 06:29] eMCeee89 commented on #12877
This is not what would solve our issue though. I see that an example is required so I am adding one. We need to have an option to include variables that are valid only in scope of role.

#########################################################

##### variable files country-specific

[code]

[code]

#########################################################

##### template

[code]

################

[2016-09-14 07:57] regexcracker commented on #17477
# enter.yml
- name: Starting  process
  hosts: '{{ host_group }}'
- include: prompt.yml

  roles:
      - { role: process_role, tags: ['proc']}

# prompt.yml

---

vars_prompt:
- name: "ProcessId"
  prompt: "Please pass ProcId"

[2016-09-14 09:19] lordjea commented on #16454
Hi, I got the same issue trying to upgrade ansible (from ansible 2.1.1)
pip install --upgrade ansible

At my case this works for me:
apt-get install python-dev

[2016-09-14 09:22] foofoo-2 commented on #15803
Latest devel version has been installed everywhere and I can confirm that the performance looks much better now. Thanks to all for having fixed the issue.

[2016-09-14 10:46] richard-gtv commented on #13898
+1 for a xenial package.

[2016-09-14 11:06] jhawkesworth commented on #17541
needs_contributor

There has been some talk about integrated kerberos ticket management and I agree it would be nice to be able to do this via any appropriate methods that kerberos supports.

If you don't mind using FILE for your keytabs until such time as ticket management can be integrated, I have a 'stop gap' callback plugin here which might be useful to you (I use daily and don't have ticket e

[2016-09-14 12:17] yosefy commented on #11905
there is another problem
"true" is converted to "True"

which is a problem as elasticsearch don't get "True"

thanks

[2016-09-14 12:47] cisarpavel opened #17559 "Ansible selects wrong group_vars in combination with --limit and host in multiple groups"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

group vars selection
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default pip install
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

If you have host defined in more groups, and you will run playbook with --limit arg for the one of them, ansible loads vars for all groups where the host is assigned and take varibles from the latest loade

[2016-09-14 12:53] JulienChampseix commented on #17497
@abadger do you think this fix exposed by @tardyp could be available soon ?

[2016-09-14 13:06] arnodel commented on #11017
Same here in ansible 2.1.1
I use emacs as my primary text editor and it makes backup files by appending a ~ to file names.  This means I need to something like `find . -name '*~' -exec rm {} \;` before running any ansible!

[2016-09-14 13:27] clonedagain opened #17560 "Cows don't like unicode tasks"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Cowsay integration
##### ANSIBLE VERSION

[code]

and

[code]
##### CONFIGURATION

All defaults except `ANSIBLE_NOCOWS`
##### OS / ENVIRONMENT

Up-to-date Ubuntu 16.04
##### SUMMARY

Display cows yields unicode-related warning messages when runnin tasks with names containing non-ascii characters (ie. non-English phrases).
##### STEPS TO REPRODUCE

[2016-09-14 13:30] clonedagain commented on #17560
No such warning was printed in v1.9

[2016-09-14 13:32] clonedagain commented on #17560
This bug is not a big problem in itself, but it may confuse to users upgrading from v1.9, leading them to believe their playbooks are not compatible.

[2016-09-14 13:40] chillum opened #17561 "`ansible_user` seems to be ignored when `copy` is used with `with_items`"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

`copy`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

`ansible_user` is not properly set when using the iterator with `copy`. I cannot override it from the command-line as well.
##### STEPS TO REPRODUCE

Inventory like:

[code]

This works OK:

[code]

But this not (on the same host and launc

[2016-09-14 13:57] #17561 closed, assigned to nobody

[2016-09-14 14:05] bcoca commented on #17559
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Ansible loads inventory independent from from play targets, `--limit` only affects play targets and is not designed to restrict inventory loading.

In the futu

[2016-09-14 14:05] #17559 closed, assigned to nobody

[2016-09-14 14:09] jladdjr commented on #17534
Have a duplicate issue open against ansible-galaxy (https://github.com/ansible/galaxy-issues/issues/191). git bisect identified [this commit](https://github.com/ansible/ansible/commit/bf2996194716c7d58b9b543603c2d917e3eac060) as introducing the issue.

[2016-09-14 14:23] jimi-c commented on #15803
@foofoo-2 awesome, we'll go ahead and close this now. Thanks for following up and testing this!

[2016-09-14 14:23] #15803 closed, assigned to nobody

[2016-09-14 14:29] bcoca commented on #13981
closing this as `unsafe_writes` was added as an option to most 'file modules' for 2.2. We are still working out some kinks, but that is tracked in another ticket.

[2016-09-14 14:29] #13981 closed, assigned to bcoca

[2016-09-14 14:30] bcoca commented on #14027
closing via #17355

[2016-09-14 14:30] #14027 closed, assigned to bcoca

[2016-09-14 14:33] jjaone commented on #6912
In my `ansible-playbook` I encountered this problem where `add_host` does not see the whole inventory.
I still don't understand how to achieve the same dynamic behavior where new hosts should be added to groups using `set_facts` and `group-by`..
Specifically, which facts should I set to achieve the same as with `add_host`, that in my case is used like this:

[code]

The `lxs_info.results` var has

[2016-09-14 14:36] bcoca commented on #16776
Connection variables that get set on task execution are not normally available for the loop (with_), as the loop really creates N tasks, 1 per loop item and then executes each task, this is when those variables become available.

Setting them at 'loop' time would cause problems with actual changes to those vars and/or delegation:

[code]

In this example you WANT the connection vars to reflect hos

[2016-09-14 14:38] bcoca commented on #16776
Leaving this open as to figure out if it is possible to have it both ways and/or update the documentation to clarify 'when' the variables become available as set by the 'connection resolution'.

[2016-09-14 14:53] bcoca commented on #16821
fixed via ff34f5548ddde266742bee2765f32af2828c5ee7

[2016-09-14 14:53] #16821 closed, assigned to bcoca

[2016-09-14 15:04] cpaulraj commented on #12686
I gave up on this issue and worked with our admins to have trusted host connection setup.

[2016-09-14 15:15] bcoca commented on #17466
fixed via https://github.com/ansible/ansible-modules-core/pull/4779

[2016-09-14 15:15] #17466 closed, assigned to jimi-c, abadger, bcoca

[2016-09-14 15:34] #17367 closed, assigned to bcoca

[2016-09-14 15:48] F30 commented on #3725
The documentation's location changed again through #16646, it is now located at https://docs.ansible.com/ansible/playbooks_tests.html#testing-strings.

[2016-09-14 16:08] basictheprogram opened #17563 "ansible-galaxy init test-role creates 'init' directory, ignores role name"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible-galaxy
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration
##### OS / ENVIRONMENT

OS X 10.11.6
##### SUMMARY

ansible-galaxy init rolename creates a directory called init, ignores rolename
##### STEPS TO REPRODUCE

ansible-galaxy  init test-role
- init was created successfully

[code]
##### EXPECTED RESULTS

A role

[2016-09-14 16:28] basictheprogram commented on #17563
Quick debug shows role_name getting set to init here:

[code]

Which I think is because init.py:set_action() is not working?

Don't really understand the logic of init.py:set_action()

[2016-09-14 16:31] chillum commented on #17561
oops, sorry. re-created issue as https://github.com/ansible/ansible-modules-core/issues/4844

[2016-09-14 16:32] bcoca commented on #17563
this is probably an effect of the recent changes to make it py3 compatible

[2016-09-14 16:39] basictheprogram commented on #17563
galaxy.py(123)parse() changes self.args.

Before the call self.args is ["ansible-galaxy", "test-role"] after the called to parse it's ['init', 'test-role']

[code]

[2016-09-14 16:52] basictheprogram commented on #17563
Super hackery that fixes my problem.

[code]

[2016-09-14 17:15] alv000h commented on #17541
@jhawkesworth thank you Jon!!!

I just read the code and that seems to be a nice WorkAround for kerberos ticket management with Ansible.

I will test it tomorrow and I will post feedback here.

Of course, I prefer native kerberos support with pyWinRM, but I think this WA will do the job...

PD:- I was wondering if it will be possible to set the variable ansible_winrm_keytab in group_vars and get i

[2016-09-14 17:34] alikins opened #17566 "jsonfile cache plugin tracebacks if fact_caching_connection isnt set"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

lib/ansible/plugins/cache/jsonfile.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Set 'fact_caching=jsonfile' without setting fact_caching_connection

[code]
##### OS / ENVIRONMENT

fedora23
##### SUMMARY

With config:

[code]

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No traceback, helpful error message.
##### ACTU

[2016-09-14 18:02] abadger commented on #17563
@basictheprogram  Cool, the fact that popping the first element  fixes this for you probably means that PR #17569 will fix it for you as well.

[2016-09-14 18:02] RichardHightower commented on #9687
I am getting this error with version 2.1.1.0 and there appears to be no offline mode.

#### No offline mode metioned for 2.1.1.0.

[code]

#### Proof that I am running 2.1.1.0

[code]

#### Proof offline mode doet exist.

[code]

#### Also I can reach the api URL

[code]

[2016-09-14 18:13] RichardHightower opened #17570 "Offline mode not working ansible-galaxy and not able to connect to ansible-galaxy"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

2.1.1.0

[code]
##### CONFIGURATION

None.  Recently uninstalled (`brew uninstall ansible`), and then reinstalled with pip to upgrade to 2.1.10. Running EC2 ansible integration.
##### OS / ENVIRONMENT

OSX running playbooks against Amazon Linux servers.
Was working with ansible 2.0 but failed after upgrade

[2016-09-14 18:14] RichardHightower commented on #9687
https://github.com/ansible/ansible/issues/17570

[2016-09-14 18:27] RichardHightower commented on #17570
Here is my workaround that got me past this issue.

#### Uninstall ansible

[code]

#### Install it as myself instead of sudo

[code]

#### chown the ansible install area

[code]

#### Now I can install the role just fine.

[code]

I hope this helps other Mac users and helps narrow down what is causing the issue. The error message seems to have nothing to do with the actual problem.

[2016-09-14 18:32] idcmp commented on #17040
This is still present in 2.2.0:

ansible 2.2.0 (devel 8438da2a34) last updated 2016/09/14 11:27:42 (GMT -700)
  lib/ansible/modules/core: (detached HEAD ae6992bf8c) last updated 2016/09/14 11:27:57 (GMT -700)
  lib/ansible/modules/extras: (detached HEAD afd0b23836) last updated 2016/09/14 11:28:13 (GMT -700)

Is there a workaround available?

[2016-09-14 18:33] RichardHightower commented on #9687
I filed another issue and came up with a workaround. So if you are having this problem on a Mac with version 2.1.1.0. There is an issue filed here https://github.com/ansible/ansible/issues/17570 with a workaround in the comments.

[2016-09-14 18:36] bcoca commented on #17040
get_group_vars is not supposed to return the group data, it updates variable manager with it, you can only get vars data per host.

[2016-09-14 18:36] #17040 closed, assigned to nobody

[2016-09-14 18:36] bcoca commented on #17040
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible-devel on irc.freenode.net
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-devel
- mailing list: h

[2016-09-14 18:49] #17534 closed, assigned to abadger

[2016-09-14 18:49] #17563 closed, assigned to abadger

[2016-09-14 18:50] abadger commented on #17534
Okay, fix merged to devel.

[2016-09-14 18:51] abadger commented on #17563
I've merged the fix in #17569 to devel.  Could you give it a test and close this issue if it's now fixed?

[2016-09-14 18:54] idcmp commented on #17040
@bcoca  This is a breaking change to the API; is there a recommended replacement?

A variable for a host may be assigned different values dependending on which groups the host is in. I was using this API to ask for the value of a variable within the scope of a specific group. Asking the host for the value will return the value assigned by the last group Ansible read.

[2016-09-14 19:00] asmartin commented on #9034
+1

[2016-09-14 19:11] bcoca commented on #17040
By design we don't need/want that info so we did not create a replacement API, Ansible consumes the 'flat' value after everything is computed.

As for breaking change, yes, it is, but the API is not guaranteed, only the command line interface.

[2016-09-14 19:32] AdamBark commented on #6309
I am running ansible 2.1.1.0 as available on debian testing (stretch) and I can't ping or run a command as explained in the "Getting Started" section when trying to contact a router running openwrt which uses dropbear as the sshd. Here's the motd:

[2016-09-14 19:41] AdamBark commented on #6309
Ah actually I found that the problem is attempting to use sftp. Setting scp_if_ssh = True gets further along but it fails because I don't have python installed on the router.

using the raw module works on this system. If there's anything else you'd like me to test I am willing otherwise I think you can close this issue. Would adding a feature that tries scp as a fallback if sftp fails be worth wr

[2016-09-14 20:45] hwoarang opened #17573 "Wrong ansible_os_family reported for openSUSE Tumbleweed and openSUSE Leap"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

fact
##### ANSIBLE VERSION

[code]

and

[code]
##### OS / ENVIRONMENT

openSUSE Tumbleweed and openSUSE Leap
##### SUMMARY

Wrong `ansible_os_family` reported for openSUSE Tumbleweed and openSUSE Leap

It should really be `openSUSE` I believe. However, for openSUSE Leap, the family reported is
`Suse` so there is a bit of a confusion here. I bel

[2016-09-14 21:58] weldpua2008 opened #17578 "Fail to install 2.1.1.0 on Debian 8 (Docker)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

standart
##### OS / ENVIRONMENT

[Official Debian 8 Docker Image](https://hub.docker.com/_/debian/)
##### SUMMARY

I am trying to install ansible 2.1.1.0 on Debian 8 (Oficial Docker image) and it is failing.
The build log:  https://travis-ci.org/weldpua2008/docker-ansible/jobs/160005850
#

[2016-09-14 22:06] arcolife commented on #16968
@jimi-c yes. There's another workaround that doesn't use this symbol `#` at all though:

[code]

This is stupid, but.. works with 1.9.

[2016-09-14 22:09] kevinburke opened #17579 "Prepending or appending to a list of variables seems really difficult"
##### ISSUE TYPE
- Documentation Report

Say I have a list of IP addresses and I want to prepend 'http://' to each one. I can use `with_items` if it fits with the task, e.g.

[code]

Unfortunately a lot of things don't fit this model. For example, etcd wants you to provide a list of URLs as a single environment variable or as a single command line argument. From [their docs](https://coreos.com/etc

[2016-09-14 22:20] kevinburke commented on #17579
I've amended the description.

[2016-09-14 22:37] kevinburke commented on #17579
This is my current, very hacky, workaround, where I create a string and then immediately split it again.

[code]

agaffney in IRC also suggests the following:

[code]

It seems like at least one strategy should be documented?

[2016-09-14 23:48] srkiNZ84 commented on #11660
We're hitting this too. Did a new issue get opened?

[2016-09-15 00:41] dgjustice commented on #16499
@ebmarquez I know this is an old, closed issue, but it shows up high on the Google search list.  I had a royal pain with this as well.  Here is my workaround: build a template with your banner using the regular template module.  You can then copy it to your remote host using scp (for example, nxos_file_copy).  Finally, you can run a command (nxos_command) to copy the text file to the running-confi

[2016-09-15 03:02] #17560 closed, assigned to abadger

[2016-09-15 03:24] abadger commented on #17560
Thanks for reporting, I've merged https://github.com/ansible/ansible/issues/17576 which should fix this.

[2016-09-15 04:08] anoopksreyas commented on #4494
If I'm not wrong, You can create an ansible task to run the restart command.

[2016-09-15 04:55] srkiNZ84 commented on #11660
Looks to be the same as: https://github.com/ansible/ansible-modules-core/issues/3411 in our case, but with IAM users instead of roles

[2016-09-15 07:03] jhawkesworth commented on #17541
@alv000h there's nothing special about fetching the group vars - you could add any group var you want and fetch it in the same way.  I guess if you used that to set the KRB5CCNAME environment variable then that might be enough to make kinit/klist use your keytab.

Totally agree its a horrible old bodge but, if you can accept its limitations, it works well enough.

[2016-09-15 07:51] Jorge-Rodriguez commented on #14166
Works on ansible 2.1.1.0, does _NOT_ work on ansible 2.2.0 (devel da4c3ebeac)

[2016-09-15 07:58] amenonsen opened #17581 "devel silently loses conditional includes"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

N/A
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Conditional includes that should run a.yml on one set of hosts and b.yml on another set of hosts are silently lost on all but one set of hosts.
##### STEPS TO REPRODUCE

You can reproduce the problem with a playbook like this:

[code]

and os/Deb

[2016-09-15 08:07] sunshine69 commented on #17040
So if I understand correctly I need to call get_group_vars() and then get_vars() in order to get that all variables associated with a host?

[2016-09-15 08:12] Jorge-Rodriguez opened #17582 "Setup does not gather delegated facts"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

gathering
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
host_key_checking=False
timeout=30
lookup_plugins=./library/lookup_plugins

[ssh_connection]
ssh_args=-o ForwardAgent=yes
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Running setup with delegate_to and delegate_facts: True to get facts about hosts not in the current play does n

[2016-09-15 08:20] oryband commented on #16804
@xenithorb from my experience this is not true: you _have_ to have a `meta/main.yml` at the root of the required repo, with _at least_ the following content inside:

[code]

[2016-09-15 08:21] oryband commented on #16804
@bcoca could you please provide some clarification regarding this issue?

[2016-09-15 08:25] fredrik-rambris opened #17583 "Sudo on change"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

become
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Sometimes you want to only switch to privileged user when a change is needed. For example yum can check if the package is present as a non-privileged user and only when a change is needed would  we need to escalate.

So a become_on_change: true

[2016-09-15 08:26] xenithorb commented on #16804
Well, the type of composite role folder that I'm using it on contains roles with other `meta/main.yml` files of their own. Do yours?

Imagine you made a bunch of roles and then decided that they should all be under a "common" umbrella, and then you joined them all together into a single repo with `git subtree add`, that's  basically what I did. And before they were all contained in one repository,

[2016-09-15 08:41] shiplu commented on #4494
@anoopksreyas  `restart` and `reload` are not same.  `reload` restarts the supervisor daemon while `restart` restarts the underlying process.

[2016-09-15 08:43] ktrimu commented on #14578
Hello,
I'm facing same issue with ansible 2.0.2.0, it's working perfectly without become:yes.

[ansibleuser@litqa-rhel65-t001 tgo-automation]$ ansible -m template -u remoteuser -kK -a "src=test123 dest=/tmp/" testnode.internal.net
/usr/lib64/python2.6/site-packages/cryptography/**init**.py:26: DeprecationWarning: Python 2.6 is no longer supported by the Python core team, please upgrade your Python

[2016-09-15 08:50] anoopksreyas commented on #4494
Then you need to stop first and start it again. Will that answer your query?

On 15-Sep-2016 2:11 pm, "Shiplu Mokaddim" notifications@github.com wrote:

[2016-09-15 08:50] Jorge-Rodriguez commented on #17582
Note that this was solved on ansible 2.1.0.0 with a change on `lib/ansible/playbook/play_context.py`

cc @bcoca

[2016-09-15 09:17] ghost commented on #17043
Hi all,
i tried much things to fix this, but there are not solutions. When I ran the playbook again, it is all ok... But not on the first time.

[2016-09-15 09:36] jamesdmorgan commented on #14414
@sbussetti Did you get this working with num_nodes: 2? AWS currently complains that "Cannot create a Redis cluster with a NumCacheNodes parameter greater than 1."

Im looking to have a secondary read node.

[2016-09-15 09:48] resmo commented on #17043
hmm could you try it without Control settings? Is the apt your first task in your playbook? Do you have long hostnames?

[2016-09-15 09:51] gundalow opened #17584 "module_utils/a10.py - Code review"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

module_utils/a10.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

https://github.com/ansible/ansible/commit/b6c30e7985308b3daa0c0b9785bf43a1fcb47f2b
Changed the function signature for axapi_call_v3 from `post` to `method`

However not all instances of calls got changed
E: 94,13: Unexpected keyword argumen

[2016-09-15 10:29] timzuiddam commented on #11660
@srkiNZ84: Probably, Boto's 'max_items' also applies to users and groups.

[2016-09-15 11:38] ghost commented on #17043
Hi,
I tried already with/without Multiplexing, the error is just a different. It's not the first task and the hostname is not too long. I am already applicable that the error appears with/without multiplexing on the task of installing nginx. The connection were always closed and ansible stops working But nginx was installed successfully..

[code]

[2016-09-15 12:05] alv000h commented on #17541
Hi @jhawkesworth

Initial checks with your callback script run smoothly!
I miss additional information in official ansible documentation and/or in your readme about callback_plugins path location.

Since active_directory_callback is not in the ansible official repo yet, I have decided to distribute with my windows playbooks putting in callback_plugins directory inside the playbook.

I publish here

[2016-09-15 12:07] Rucknar commented on #15903
Fix merged, closing.

[2016-09-15 12:07] #15903 closed, assigned to nobody

[2016-09-15 12:47] s-sokolko commented on #9034
+1

[2016-09-15 13:21] rbauduin commented on #17349
We have this exact same problem on a local infrastructure, with `ansible -m ping all`. All hosts appearing before the bastion host are reported as unreachable. We tested with versions devel and 2.1.1.0.

[2016-09-15 13:50] jagankondapalli commented on #4513
@gvenka008c - were you able to solve your problem? I have the same exact problem now. please suggest

[2016-09-15 14:10] bcoca commented on #16804
This is a hack around the checks in galaxy, it works for now but it not guaranteed, also it creates a substructure that you'll need to account for when referencing the roles.

[2016-09-15 14:14] bcoca commented on #17583
Since we currently need to execute the escalation wrapping the module, we have no way to know if change is needed before the escalation happens.

This would require modules to perform the escalation themselves.

[2016-09-15 14:18] bcoca commented on #17582
bot_broken

[2016-09-15 14:29] jbergstroem opened #17587 "get_distribution() should expose all distributions, not just Linux"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

module_utils
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

N/A
##### SUMMARY

While trying to add SmartOS support to `hostname`, we encountered that distribution will always be set to `None` meaning flavors of SunOS (SmartOS, Illumos, OmniOS, etc) won't be recognized and available through modules.
##### STEPS TO REPROD

[2016-09-15 14:52] Shaps commented on #16365
@dagwieers yes it is the same as #17456 and should be fixed in #17457

[2016-09-15 15:16] hnakamur commented on #17587
I agree `get_distribution()` should return not `None` but a distribution for platforms other than Linux.
https://github.com/ansible/ansible/blob/0bda419f66fa761408533228c36a9d2fbccc5e8f/lib/ansible/module_utils/basic.py#L234-L235

However for compatibility, it may be safe to add another method like `get_raw_distribution()` or something.
If we are going to change `get_distribution()` behavior, we s

[2016-09-15 15:17] ARogovsky opened #17588 "stat.exist not work in when statement"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

stat
when
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

Description:    Ubuntu 16.04 LTS
##### SUMMARY

Module state is not work in when statement
##### STEPS TO REPRODUCE

There is sample yml file is not work:

[code]
##### EXPECTED RESULTS

I expect File not found message.
##### ACTUAL RESULTS

Looks, like s

[2016-09-15 15:23] bcoca commented on #17588
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

The correct key is 'exists' not 'exist', so this should work:
`when: st.stat.exists`
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/f

[2016-09-15 15:23] #17588 closed, assigned to nobody

[2016-09-15 15:32] muratdx commented on #17361
Still seeing this issue in 2.1.2 RC3. It is also present in the devel git branch.

[2016-09-15 15:48] kustodian commented on #15963
Here is a repro which I have, it's a little different:

[code]

[code]

When I run this command against latest `stable-2.1` branch:

[code]

I get this output:

[code]

[2016-09-15 15:50] jbergstroem commented on #17587
`hostname` is the only module I could find it being used from:

[code]

..it also affects `load_platform_subclass()`, trying to populate distribution subclass:

[code]

Indirectly, also seems to be used from `core/utilities/logic/include_vars.py`:

[code]

I think we should rewrite the logic and run the test suite. At first glance, it looks like a safe change.

[2016-09-15 15:54] abadger commented on #17497
No, @tardyp's fix is not portable to different shells so we can't use it.  It also will break when something goes wrong in find unless the shell supports something like bash's pipefail option and it is turned on.

[2016-09-15 16:07] abadger commented on #17497
@tardyp You're looking at an old version of the spec.  The current version says that find with "+" as the terminator should return nonzero if any invocation of the exec'd command returns nonzero: http://pubs.opengroup.org/onlinepubs/9699919799/utilities/find.html

Since devel works, the stable-2.1 branch and the 2.1.2 release candidates should also work (currently: https://releases.ansible.com/ans

[2016-09-15 16:17] abadger commented on #17497
This is likely the last rc for 2.1.2 so if there's a problem with the cherry-picked fix we need to know ASAP.  If you find a problem and could ping one of us on IRC  that will make sure that we see it.  We're on irc.freenode.net in #ansible-devel.  I'm abadger1999 and mattclay is mattclay.  If I don't hear back I'll assume that the cherry-pick did fix this and will close in a few days.

[2016-09-15 16:38] xenithorb commented on #16804
The substructure is a fine consequence of using this method, for me it's the entire desired purpose. (a common repo with smaller less discrete-necessary role items)

That being said you've left me more confused about the future state of this functionality. When you say "it works for now but it [is] not guaranteed" do you mean:
1. Running roles from subdirectories?
2. `ansible-galaxy` allowing the

[2016-09-15 18:06] fvant commented on #17349
I found the fix for my situation:  ansible devel and 2.1.1 differ in the ssh commandline line...the  -tt option makes all the difference for me
Setting pty=False in ansible.cfg made it work consistently.

[2016-09-15 18:07] fvant commented on #17096
I found the fix for my situation:  ansible devel and 2.1.1 differ in the ssh commandline line...the  -tt option makes all the difference for me
Setting pty=False in ansible.cfg made it work consistently.

**Update**: this fix does **not** work.  Tried a fresh clone this morning and connection fail again.

Running with a yum installed ansible version  2.1.1 always works, just the devel branch not.

[2016-09-15 18:43] dbayle opened #17593 "Ansible python centos 7.2 encoding error utf-8"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- Ansible
##### ANSIBLE VERSION

ansible 2.1.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

Default configuration
ansible 2.1.1.0
ansible 2.1.1.0
##### OS / ENVIRONMENT

cat /etc/*release
CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

We have multiples playbook, since

[2016-09-15 18:48] tardyp commented on #17497
@abdager looks like the find I get in freebsd does not contain implementation of that part of the spec (same command works as expected on linux)

[code]

the man page in freebsd says:

[code]

anyway.. rc3 works for me thanks for that!

[2016-09-15 18:48] tardyp commented on #17497
I let you close the report.

[2016-09-15 19:08] jctanner commented on #17281
@bmillemathias does this patch help at all?

[code]

needs_info

[2016-09-15 19:12] bcoca commented on #16804
All 3,
1. works when you add directory name to role OR set role paths to the subdirs
2. galaxy thinks it is downloading a single role
3. the intention was for meta/main.yml to be needed, not just meta/

Since all these are 'accidental' they should be discussed as actual features for them to be guaranteed in future versions, because changes/fixes might break these but we are not testing nor even co

[2016-09-15 19:29] jhawkesworth commented on #17541
@alv000h have a look in your ansible.cfg.  You can specify a path to pick up callback (and other) plugins from
on my ubuntu box the default is
#callback_plugins   = /usr/share/ansible/plugins/callback
I just add a dir somewhere in my ansible configuration to make this available, something like this
callback_plugins = /usr/share/ansible/plugins/callback:/etc/ansible/site/plugins/callback
This works

[2016-09-15 19:44] leifmadsen opened #17594 "Parsing error results in ERROR! Unexpected Exception: 0"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

parsing/quoting.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Fedora 24
##### SUMMARY

When failing to provide a `tasks:` value about a named play, `ERROR! Unexpected Exception: 0` is returned.
##### STEPS TO REPRODUCE

Fail to provide a `tasks:` header above a named play.

[code]

_Note_ the missing `tasks:

[2016-09-15 19:52] sosiouxme commented on #16837
@jeremyeder I hit the same problem with just three hosts in my inventory. Of course the host ansible was running on is a tiny one, because I didn't think I'd need a lot of resources to run ansible. It still doesn't seem like I should.

How do I "lower my forks value"?

[2016-09-15 19:57] jeremyeder commented on #16837
What version of ansible are you using?  What size machine are you running ansible on?

The default forks value is 5.  You can override it with "-f N" added to your ansible-playbook invocation or in /etc/ansible/ansible.cfg.

[2016-09-15 20:40] alikins commented on #15706
https://github.com/ansible/ansible/pull/16649 is a wip pr related to this.
Basically attempting to capture any 'ssh' command stderr to pass it back for display
(and if it is something specific we recognize raise an approriate exception...)

[2016-09-15 20:41] #16008 closed, assigned to jctanner

[2016-09-15 20:49] sosiouxme commented on #16837
ansible 2.1.1.0 on a 512MB host.

On Thu, Sep 15, 2016 at 3:57 PM, Jeremy Eder notifications@github.com
wrote:

[2016-09-15 21:31] #17497 closed, assigned to abadger, mattclay

[2016-09-15 22:01] alikins commented on #15706
https://github.com/ansible/ansible/pull/17598  is a more minimal fix for this.
Could folks seeing problems try out that branch?

[2016-09-15 22:23] yoyayi opened #17600 "SSH connection issue with a Firewall"
##### ISSUE TYPE

- Not working as expected
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing changed from the default file... even though I tried some stuff, I reverted back to the original configuration.
##### OS / ENVIRONMENT

Ubuntu 16.04 <->Fortinet Fortigate VM Firewall
##### SUMMARY

I'm trying to push commands via SSH to my firewall with no success. This is my first try with Ansib

[2016-09-15 22:57] idcmp commented on #17040
I've just tested that, and it seems inventory.get_group_variables(group.name) returns an empty set.

(Ansible 2.2.0)

[2016-09-16 00:28] xiongchiamiov commented on #16764
Two notes for anyone else having this problem:

First, in many cases you can instead use a variable for the host pattern:

[code]

This even works with a default value specified in the `vars` block.

Secondly, I suggested above adding localhost to the hosts file, but noted issues with it using ssh for the connection.  This was due to me not reading the documentation closely enough, as there's a pa

[2016-09-16 00:33] nratineau opened #17605 "ec2.py - Add possibility to disable the global ec2 group/tag (for Ansible Tower)"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

Dynamic inventory script ec2.py
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ansible Tower
##### SUMMARY

It would be great to allow the global ec2 group to be disabled from the ini file. Specially useful for a system like Ansible Tower.
##### STEPS TO REPRODUCE

Create an inventory then create 2 groups each using the dynamic Amazon E

[2016-09-16 00:41] mentalisttraceur opened #17606 "First level of nested `include` inside looped `include` makes loop variable go out of scope in most cases"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

`include`, looping
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default (config file only has commented out and blank lines; no ANSIBLE_\* variables set)
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Inside an `include` with a loop (such as `with_items` or `with_lines`), the next level of nested `include` without a loop does not seem to have th

[2016-09-16 00:46] mentalisttraceur commented on #17606
##### STEPS TO REPRODUCE (Deeper nested case)

This variant shows that `include`s without a loop nested below the first nested `include` that exhibits the bug don't exhibit the bug themselves - they just properly inherit the state of the loop variable from the statement that included them.

Create these files, and run the `main.yml` with the `ansible-playbook` command:

[code]

[code]

[code]

[co

[2016-09-16 01:03] mentalisttraceur commented on #17606
##### STEPS TO REPRODUCE (Complex case: nesting and "scope" details)

This case demonstrates that further nested looped-includes also exhibit the bug. Also, this setup abuses using variables with the same name in order to demonstrate how the bug takes the loop's instance of the variable name out of the set of variables that a task sees, but still allows the task to see other variables defined with

[2016-09-16 01:17] mentalisttraceur commented on #17606
#### Workarounds

For those who are interested in workarounds, until this bug is fixed, there seem to be two options:

##### Indirect Include

Given an `a.yml` that does a looped include of `b.yml` which has additional `include` statements that break due to this bug, create an `indirect.yml` which just contains the line `- include: b.yml`, and include that `indirect.yml` in `a.yml`. Then all inclu

[2016-09-16 02:09] jbergstroem commented on #17587
@hnakamur let me whip up a patch! I'm not super acquainted to Ansible core but are eager to learn.

[2016-09-16 02:41] mentalisttraceur commented on #17606
Note: My initial bug report port contained a couple of errors because when copy-pasting my notes into the report I mixed up some notes for a slightly different reproduction setup than the one I was ultimately reporting. I have now edited it and it should be correct.

[2016-09-16 04:51] peterdalydickson commented on #16827
I discovered DO tags yesterday and they'll make things a lot easier for us.

Will this revised inventory script permit querying by tag?

[2016-09-16 06:38] fredrik-rambris commented on #17583
That is true. It would have to be implemented in each module that could support this. But when run with --check the become_on_change=true could be handled outside of the module as then you have signaled that I will not be making any changes and should not need to escalate. I could then run through automatic compliance/drift testing without giving out root access but when admin needs to change some

[2016-09-16 07:01] bmillemathias commented on #17281
Hi @jctanner
I confirm the patch makes the inventory script work.

Thanks !

[2016-09-16 08:30] cvuillemez opened #17608 "Ansible stable 2.1.2 is missing on Ubuntu PPA"
Everything is in the title :)
See https://launchpad.net/~ansible/+archive/ubuntu/ansible
The last package (v2.1.1) has been uploaded on 2016-07-28

[2016-09-16 09:01] cvuillemez commented on #17608
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible

##### ANSIBLE VERSION

ansible 2.1.1.0

##### OS / ENVIRONMENT

Ubuntu

##### SUMMARY

Everything is in the title :)
See https://launchpad.net/~ansible/+archive/ubuntu/ansible
The last package (v2.1.1) has been uploaded on 2016-07-28

[2016-09-16 10:48] muraliselva10 opened #17610 "Issue with the ansible - Unable to verify anisble working using Ping"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I am following the above mentioned document for setting up the Ansible.
http://docs.ansible.com/ansible/intro_getting_started.html

So that I am getting the issue with proper working of the ansible here.

First I have installed ansible in my host(controller

[2016-09-16 11:51] alv000h commented on #17541
@jhawkesworth

I thought about it, but I have multiple ansible servers (think in "workers")...
So, is more easy for me replicate the callback with the windows playbooks because it reside in a GIT repository.

Furthermore, I do not want lauch the callback every time I connect to Linux host.

[2016-09-16 12:18] dbayle commented on #17593
With the new update of today from python and python lib the issue is still present :
python 2.7.5-39.el7_2
python-libs 2.7.5-39.el7_2
Python 2.7.5 (default, Sep 15 2016, 22:37:39)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-4)] on linux2

[2016-09-16 12:37] zeten30 opened #17611 "Task with 'when: VARIABLE is defined' and 'with_items: VARIABLE' ends with error/warning"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Conditional when:
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no changes
##### OS / ENVIRONMENT

Managing RHEL7.2 from Fedora24
##### SUMMARY

Task that should run only if VARIABLE is defined (using group_vars in inventory) and is also using VARIABLE to iterate over items

[code]

Result is:
[DEPRECATION WARNING]: Skipping task due to unde

[2016-09-16 12:39] zeten30 commented on #17611
Of course there a workaround with creating helper variable `DO_VARIABLE_TASK: true/false` and use:

[code]

[2016-09-16 13:37] snoopdouglas commented on #16827
@peterdalydickson That's the idea of #15752, but I'd imagine the solutions to these two issues could very well coincide. I've made a [very simple tags inventory](https://github.com/snoopdouglas/ansible-inventory-doctl-tags) - it doesn't cover all of the functionality of the current digital_ocean.py though.

[2016-09-16 13:44] arnabsinha4u commented on #2303
I have used the copy module in ansible 2.1.1.0 and had a bit of a hard time in the beginning as to why it was not working simply with src and dest. Specifying the remote_src= to true for local copy and false for remote copy explicitly bullet proofs your task definition.

[2016-09-16 14:38] vmenezes commented on #13278
Ansible 2.0.0.2 on my Ubuntu 16 64 bits still getting this error. But on my case I can apply my playbook with no problems on my Vagrant image, just get this error when I try to run it against my EC2 instance.

`ansible -i my_inventory my_aws_server -m ping` works :ok_hand: :
`ansible-playbook -i my_inventory -l aws_server playbook.yml` fail :hankey:
`ansible-playbook -i .vagrant/provisioners/ansib

[2016-09-16 14:43] bcoca commented on #17611
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

As documented here
http://docs.ansible.com/ansible/playb

[2016-09-16 14:43] #17611 closed, assigned to nobody

[2016-09-16 14:43] robinro commented on #17587
Why does one need the `get_distribution` function and can not use the host facts?
In `lib/ansible/module_utils/facts.py` there is quite elaborate distribution name/version parsing already.

`get_distribution` should be removed, since it is only used in the `hostname` module (which you are fixing here) and the `url` module, where it is (unnecessarily) used for error output.

[2016-09-16 14:55] hnakamur commented on #17587
@robinro Ah I forgot now we can use the host facts in ansible modules. Thanks for a heads up!
So, it is better to rewrite [load_platform_subclass](https://github.com/ansible/ansible/blob/0bda419f66fa761408533228c36a9d2fbccc5e8f/lib/ansible/module_utils/basic.py#L272-L294) to use the host facts instead of `get_distribution`, right?

[2016-09-16 14:57] abadger commented on #17246
Yesterday, merged fixes for everything except for VaultEditor.... I haven't reviewed VaultEditor so I'm unsure if it needs similar changes or not.  Will try to get to that today.

[2016-09-16 15:10] robinro commented on #17587
@hnakamur I would definitely say so.
But one should test this carefully since I assume that `get_distribution` and the host facts don't always agree.

[2016-09-16 15:11] alikins commented on #15525
https://github.com/ansible/ansible/pull/17598 is a proposed fix for this.

[2016-09-16 15:19] #17456 closed, assigned to nobody

[2016-09-16 15:20] hnakamur commented on #17587
@robinro Thanks for your comment.
@jbergstroem If you agree and you are willing to contribute, could you create a new issue for rewriting load_platform_subclass to use the host facts instead of `get_distribution`?

[2016-09-16 15:25] robinro commented on #17518
For profile_tasks I would like to keep the current behavior. Matching timestamps to other logfiles/ctimes/... only works if the time in ansible's output changes simultaneously with the rest of the machine.

[2016-09-16 15:30] simfarm commented on #15721
I've run into the same issue.

[2016-09-16 15:31] gundalow opened #17612 "junos doesn't cleanly deal with a lack of junos-eznc"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

module_utils/junos.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Junos modules don't cleanly deal with a lack of `junos-eznc`.

In `junos.py` we set `HAS_PYEZ`, however we don't ever read it.

Also should http://docs.ansible.com/ansible/junos_netconf_module.html list `junos-eznc` as a requirement?
####

[2016-09-16 15:52] bcoca commented on #16764
please test against current devel and/or RC for 2.1.2. The  2.1 version has an issue with implicit localhost that has already been fixed but not released yet.

[2016-09-16 15:55] alikins commented on #17384
What does the openssh cli do when you attempt to sftp to a host that doesn't support ftp like dropbear?
(ie, what does returncode/stdout/stderr look like).

If I just disable sftp via openssh sshd_config, the only info I see on a failed sftp is:

[code]

[2016-09-16 16:01] robinro commented on #17528
@DebianRoxx To see what's going on, you can set `export ANSIBLE_DEBUG=1` in your environment. This generates very verbose output including timing of internal commands.

For your example I get for one iteration

[code]

That's 161 ms, which is close enough to your total timing. Of those 135 ms are spent waiting for the `command` module. The `raw` module get's the same job done in 3 ms, which is clo

[2016-09-16 16:01] remyleone commented on #17578
Same here.

[2016-09-16 16:10] alikins commented on #17029
Looks like the user of 'getpass.getuser()' there returns the LOGNAME.
https://docs.python.org/2/library/getpass.html#getpass.getuser  indicates that is intentional.

For the other pwd field info, logname isn't sufficient.
At first glance I think the code fix would be replace the getpass.getuser() with os.getuid()

Or replace pwd.getpwdname(getpass.getuser()) with pwd.getpwuid(os.getuid()).
I need

[2016-09-16 16:35] jhawkesworth commented on #17541
@alv000h -  If I recall the plugin just loops through the list of hosts looking for at in the username and if there are none of those it doesn't do anything else, so not much of time penalty if you are just hitting linux hosts.
However, whatever works for you.  I just thought it might be a simple option for you.

[2016-09-16 16:37] DebianRoxx commented on #17528
Thanks, I didn't know the ANSIBLE_DEBUG variable. This might be useful to understand why my production playbook and roles with a lot of tasks are slow (even the skipped one).
I have also shown that a playbook with a lot of parametrized roles can be really really slow to execute, more there are roles, more the timelapse beetween tasks increase.
I'll try to make a dedicated example next week to isol

[2016-09-16 16:44] jbergstroem commented on #17587
@hnakamur I don't know ansible that well so I can't argue for `get_distribution`s removal, but I'm happy to do so in order to get things working. One side effect of this would be potentially being a major abi break? perhaps just switch to host facts in `load_platform_subclass` and deprecate `get_distribution` to quickly get things moving forward?

[2016-09-16 16:54] #17505 closed, assigned to nobody

[2016-09-16 16:59] hnakamur commented on #17587
Maybe. I think we'd better to ask core committers for what is the best to get things working.

[2016-09-16 18:26] #13013 closed, assigned to jctanner

[2016-09-16 18:34] bcoca commented on #17583
most modules would already 'work this way'.  service, for example,  can be set to 'started', then if the service is up, everything is OK, if not, it fails.

I once setup QA to use same plays that setup the boxes to verify that they are correct, since they did not have root, any failure indicated that box was not setup correctly.

[2016-09-16 19:06] tamsky commented on #8684
My ansiblle: 1.9.6

I encountered at least a similar bug where the second play in a playbook could no notify the handlers that had already run in a previous play for the same role (`hosts:` differed).

At the playbook level I found two workarounds:
1. use different `tags:` on the roles with handlers -- this allows each run to have "different" handlers.
2. include a `handler: - include: my_role/han

[2016-09-16 19:08] #17566 closed, assigned to alikins

[2016-09-16 19:08] ja8zyjits commented on #15402
It would be really helpful if we could create more awareness about it, I stumbled at it after trying many things. If we could fix this it would save a lot of time debugging for many Users out there.
Thanks @kam1kaze

[2016-09-16 19:25] alikins commented on #17159
I can reproduce with ~2.2

[code]

[code]

[code]

[2016-09-16 19:33] bcoca commented on #17608
This is expected as 2.1.1 is the last released stable version, 2.1.2 is still in the release candidate stage.

[2016-09-16 19:33] #17608 closed, assigned to nobody

[2016-09-16 19:39] bcoca commented on #17486
dupe of #15517

[2016-09-16 19:39] #17486 closed, assigned to jimi-c, bcoca

[2016-09-16 19:41] bcoca commented on #15517
closing via merge #17486

[2016-09-16 19:41] #15517 closed, assigned to nobody

[2016-09-16 19:44] #16151 closed, assigned to abadger

[2016-09-16 20:06] aalaesar commented on #15517
Hi
Both tickets are now closed. Shouldn't this one be kept opened ?
Regards.

[2016-09-16 20:17] gbolo commented on #17159
would be nice to get this fixed for 2.2 release

[2016-09-16 21:09] #17281 closed, assigned to jctanner

[2016-09-16 21:55] eprigorodov commented on #4676
Files synced by sudo user in non-archive mode can have correct owner at least:

The primary group of remote sudo user seems to be not exposed into the playbook. Setting its default group can be safe enough:

Required dependency for these options is [rsync>=3.1.0](https://rsync.samba.org/ftp/rsync/src/rsync-3.1.0-NEWS).

[2016-09-16 22:04] mattclay commented on #17352
@Yannig The fix for this was included in 2.1.2 RC3 (https://groups.google.com/forum/#!topic/ansible-devel/Ihergewnr6E). Based on your earlier comment that the proposed fix is fine, I'm closing this issue as resolved.

[2016-09-16 22:04] #17352 closed, assigned to mattclay

[2016-09-16 22:13] jctanner commented on #15748
@Turing-Chu I'm not able to reproduce this in any version of ansible with the following task ...

[code]

Can you please indicatethe version of ansible you were using when this error occured and any other detail you think might be useful for tracking down the problem? It would also be helpful to know if the error still occurs in the latest devel (2.2).

needs_info

[2016-09-16 22:49] bcoca commented on #15517
@aalaesar does the merged patch not fix it for you?

[2016-09-16 23:28] abadger commented on #15748
We weren't able to reproduce this with python2.  Fixing UnicodeErrors is something that's ongoing and fairly active so if we don't know the precise version it's entirely possible that we fixed this bug but don't know about it.  I did find that this bug could resurface with the current code if python3 is used so I went ahead and applied https://github.com/ansible/ansible/commit/ce4c0fd644dab88c412d

[2016-09-17 03:16] xdfil commented on #7839
Agreed. chmod -R isn't the only way to set permissions recursively. So what does that have to do with the capabilities of the file module? What good is an automation language that is more difficult to use than a native shell script?

Real Unix admins use `find /path -type d -exec chmod 0775 {} \; && find /path -type f -exec chmod 0644 {} \;` we don't just set all files to executable with `chmod -R

[2016-09-17 04:19] peterdalydickson commented on #16827
[ansible-inventory-doctl-tags](https://github.com/snoopdouglas/ansible-inventory-doctl-tags) hits the nail firmly on the head! Thanks @snoopdouglas. I now finally have dynamic inventory.

[2016-09-17 04:36] aalaesar commented on #15517
@bcoca Sorry, I have missed the commit 10f840e so I misunderstood the closing.
Tested it and confirmed it's fixed.
Thank you and @nvigot  for the fix, you're awesome 👍

[2016-09-17 06:34] jean-christophe-manciot commented on #14248
Definitely a must have feature due to variable precedence constraints.
This also allows to define a defaults file per class of variables and keep a clean separation; for instance, in networking, this would allow me to define one defaults file for IPv4, one for IPv6, one for SNMP and so on...
At last, It seems necessary to be able to put these files into different folders under "defaults".

[2016-09-17 16:13] ghost opened #17624 "Using netaddr in Jinja with /32 prefixed address leaves netmask empty"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Jinja2 ipaddr() filter
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

I verified that netaddr is working correctly.

[code]

When trying larger prefix length that 32 it works correctly.

[code]

Also I noticed that _prefixlen_ is not supported as m

[2016-09-17 16:37] ghost commented on #10725
Hi @aptituz ,

thank you for pointing this out. But I think it's still an issue:

[code]

I'd have exspected that the magic comment is set correctly and the output should've been rendered without any identation.

[2016-09-17 19:10] marciomazza commented on #15350
From a UX perspective, it seems reasonable to give visual distinction between **explicitly ignored errors** and **ordinary ones**.

The color **red** used for **ignored errors** (the same as for ordinary ones) catches your eye during output inspection and suggests a call to action... But there is no action to be performed, since the error was anticipated and is usually expected.

The output just d

[2016-09-17 20:38] mscherer commented on #17624
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/filter/ipaddr.py#L166

The size of the network is verified, and if there is nothing in the network, then we return nothing. I am not sure to understand the reasoning here.

[2016-09-17 21:13] abadger commented on #17461
@Tiduster That was my first guess too but so far I've been unable to reproduce.  I ran the following playbook 100 times with a checkout of v2.1.0.0-1

[code]

for i in `seq 0 100` ; do ansible-playbook ../troubleshooting/17461.yml -vv ; done

The conditional never triggered to save the file so I know that there was never one of the punctuation characters from DEFAULT_PASSWORD_CHARS in there.

Are

[2016-09-17 21:13] abadger commented on #17461
needs_info

[2016-09-17 21:19] mscherer commented on #17600
What is the os of the fortigate firewall ?

Would it work with the 'raw' module ? (-m raw)

[2016-09-17 21:20] mscherer commented on #17593
Can you share one of the playbook ?

[2016-09-17 21:34] sebastiaanluca commented on #16200
I just updated my pip installation to 2.1.1.0 and have the same issue.

[code]

[2016-09-17 23:00] yoyayi commented on #17600
@mscherer Cheers! Working perfectly now :)

[2016-09-17 23:00] #17600 closed, assigned to nobody

[2016-09-18 06:11] kottapar commented on #14151
I'm also seeing a similar error.  It works if I specify the absolute path instead of specifying it via a variable. The version is 2.1.1.0.

`---`
 `- hosts: all`
`#strategy: debug`
`vars_files:`
    `- /etc/ansible/conf/var.yml`
  `tasks:`
    `- name: stop websphere instances`
      `script: {{ was_script }} {{ item }}`
      `with_items: "{{ was_inst }}"`

and the var.yml is

`---`
`was_script:`

[2016-09-18 06:44] kottapar commented on #14151
Following on from the above, I edited the var file as below and it worked.
`---`
`was_script: /tmp/stop_was.sh`

[2016-09-18 07:10] danrl commented on #16889
I fixed it locally (older version) and looked at af150ea closely. I am sure it will fix the issue. Just have to wait until the fix reaches end users via distributions.

[2016-09-18 07:11] danrl commented on #16889
Backported af150ea locally real quick. It does fix the issue. Closing it. Please re-open if you object.

[2016-09-18 07:11] #16889 closed, assigned to nobody

[2016-09-18 07:25] itai257 opened #17629 "problem with using ansible-playbook"
hey,
hope its the right place to ask,
im trying to install onp package of intel by this manual:
https://software.intel.com/en-us/articles/quick-set-up-onp
and when im getting to the part that needs to use the ansible-playbook im getting an error:
the command is: (part III in the manual):
`ansible-playbook –I inventory.ini multinode.yml`
i am getting this error:

[2016-09-18 14:59] mscherer commented on #17570
The --offline switch is only for init subcommand.

[2016-09-18 15:01] mscherer commented on #17532
I updated your comment, so people can read the things that were wrongly commented.

[2016-09-18 19:13] jctanner commented on #15748
@Turing-Chu We still need to know what version of ansible you were using to produce this error and if the latest devel code helps at all.

needs_info

[2016-09-19 01:24] jctanner commented on #17532
@payals sorry for closing this. The bot believed the issue to be about the setup module because of what you typed in the component section.

[2016-09-19 01:30] jctanner commented on #17532
@payals What is the output from this command ? ...

[code]

needs_info

[2016-09-19 02:25] #17612 closed, assigned to Qalthos

[2016-09-19 04:25] davidmnoriega commented on #14145
I think I'm seeing this too, ansible 2.1.1.0 here with this task

[code]

With this output

[code]

Running the task without `| grep...` does not give an error.

[2016-09-19 08:02] foxylion commented on #15706
It would be great when that gets merged quickly. In our case we occasionally get this error and without enabled debugging we aren't able to isolate the exact issue. Running always in debug mode is no option (giant log files).

[2016-09-19 08:33] gundalow commented on #17441
Still occurring in

[code]

[2016-09-19 09:17] h0nIg commented on #17180
bug was introduced by 73a3a5839b7698a6b2d6ea459b0f65234729627b (stable-2.1 branch) / 02e52c319c921222fb558d5634ebddef17e0c0c0 (devel branch) and was fixed on devel with 06d4f4ad0e8f62c6b02b01833b94a0e44be008d0. but this commit is missing on stable-2.1. please fix this on 2.1 :/

@jimi-c @alikins

[2016-09-19 09:20] dgsb commented on #7246
This issue can still be produced when the playbook is played mac os X hosts, python 3.5.2, postgresql 9.1 and remote target debian 7.
This works perfectly fine when the postgresql is 9.4 and the os target is debian 8

[2016-09-19 09:35] Shaps commented on #17610
I don't think this can be considered a bug. Likely the user you are running ansible as does not have permissions to read `/etc/ansible/hosts`.
The second error is very likely because the ssh key is not stored in a path that ssh reads, hence falls back to using user/pass auth.

[2016-09-19 09:57] Laxman-SM commented on #5734
HI,

when i executed ansible-playbook, i'm getting below mentioned error. every time i ran playbook, this will create new instance. that is strange.

PLAY [Configure Zookeeper instances] *****************************************\*

GATHERING FACTS **************************************************************\*
<ec2-54-226-184-40.compute-1.amazonaws.com> ESTABLISH CONNECTION FOR USER: ubuntu
<ec2-

[2016-09-19 10:07] coderinsg opened #17634 "ansible-doc -l failed with netapp_e_lun_mapping has a documentation error"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-doc
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

when performing ansible-doc -l, the process will fail with

##### STEPS TO REPRODUCE

1. Fresh install an Ubuntu 16.04.1 LTS
2. git clone from ansible repo
3. source hacking/env-setup
4. ansible-doc -l

[code]

##### EXPECTED RESULTS

a list

[2016-09-19 10:18] coderinsg commented on #17610
may I suggest the following debugging to test certain assumptions?
- without using sudo, can you read the contents of ansible.cfg using "cat /etc/ansible/ansible.cfg" ?
  If yes, then permission shouldn't be an issue.
  If not, then you need to either change permission in /etc/ansible/ or use local ansible.cfg file that is accessible by user.
- in the ansible.cfg file, instead of implicitly assumi

[2016-09-19 11:58] jjaone commented on #5564
Thanks @superawesome and @jsengla and @xyjrshank , your advice made it possible to me to display and show just a right amount of verbosity in shell-commands output, I did this:

[code]

[2016-09-19 12:43] Yannig commented on #17352
It's fine for me. Just have to add recursive=False in my previous call.
Thanks !

[2016-09-19 13:39] maozza opened #17636 "error "msg": "with_dict expects a dict""
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

not relevant
##### OS / ENVIRONMENT

CentOS release 6.8 (Final)
##### SUMMARY

playbook execution error after upgrading from ansible 1.9 to ansible 2.1 , with_dict throw error :

[code]
##### STEPS TO REPRODUCE

run the following playbook to reproduce

[code]

##### EXPECTED RESULTS

on ansible

[2016-09-19 13:54] jctanner commented on #17361
This is a documented change ...

http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

[code]

EDIT: I was too hasty in my assessment.

[2016-09-19 14:45] sivel commented on #17636
I believe the correct syntax you are looking for in ansible 2.x is:

[code]

[2016-09-19 14:48] jctanner commented on #17361
I think this may be an issue with the ini parser not associating children group vars to their parent ...

[code]

[2016-09-19 15:01] coderinsg commented on #17634
I think I found the issue.

There was a formatting error in the file netapp_e_lun_mapping.py, on the section of "short_description".

Instead of

[code]

I changed it to
`short_description: Create or Remove LUN Mappings`

and it works.

The diff of original against working as below

[code]

can someone try this out and verify if it really solves the problem (given that you faced the problem too).

[2016-09-19 15:06] ei-grad commented on #7218
Getting this on IPv6-only server.

[2016-09-19 15:08] mscherer commented on #17634
Yep, I can confirm the fix. You can submit a PR ( on the https://github.com/ansible/ansible-modules-extras/ repo ) if you want or the maintainaer (or any commiter) can take care of it. I will merge it if you submit a PR.

[2016-09-19 15:25] mscherer commented on #17634
This is already done by @alikins on https://github.com/ansible/ansible-modules-extras/pull/2966 , I will merge

[2016-09-19 15:42] #17584 closed, assigned to Qalthos

[2016-09-19 15:59] #17624 closed, assigned to mscherer

[2016-09-19 16:10] ei-grad commented on #7218
It is raised after "gaierror: (-2, 'Name or service not known')" in https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/urls.py#L689.

[2016-09-19 16:12] ei-grad commented on #7218
Which is because the socket `s` is created with AF_INET.

[2016-09-19 16:21] seeafish commented on #3774
I realise this is a pretty old thread and is closed, but a workaround is to use:
`{{ playbook_dir }}/roles/blah/files/key_file`.
At least it's not `../../../` etc and it's not a fully qualified path either.

Also, if you put your file inside the `files` directory in the role, you can just reference it by name.

[2016-09-19 16:22] sigl commented on #17593
Please see below:

https://www.dropbox.com/s/vykt0qw4ulodyow/nagios.zip?dl=0

[2016-09-19 16:28] hwasp opened #17639 "documentation issue in ansible/docsite/rst/intro_adhoc.rst (Introduction To Ad-Hoc Commands)"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

Introduction To Ad-Hoc Commands doc page (ansible/docsite/rst/intro_adhoc.rst )
##### ANSIBLE VERSION

ansible 2.1.1.0
##### CONFIGURATION

by default (no changes in ansible.cfg)
##### OS / ENVIRONMENT

CentOS 7.1
##### SUMMARY

Trying to run the command specified in the File Transfer section:

$ ansible atlanta -m copy -a "src=/etc/hos

[2016-09-19 16:39] bcoca opened #17641 "bare variables in environment directive"

[2016-09-19 16:39] #17641 closed, assigned to nobody

[2016-09-19 16:56] bcoca commented on #17639
First, this would be an issue with the `copy` module and as such should be opened in the modules-core repo.

Second, I tested the same thing and could not reproduce your results:

[code]

Also 'touch' is a state of the `file` module, it is not valid for `copy`

[2016-09-19 17:11] jimi-c commented on #17428
So it turns out this is occuring because of the `==` in the jinja2 expression above. The `parse_kv` method does not care about the fact that the above is inside a jinja2 variable, or that it's quoted, so the fix would need to be there. Another workaround right now would be to escape the equals: `\\=\\=`

[2016-09-19 17:15] bcoca commented on #14151
I still don't have a reproducer to this, also can you check against 2.1/2.2? @kottapar's example had to do with passing a list instead of a string.

[2016-09-19 17:25] bcoca commented on #17428
or just set a var with that expression and use the var in the include

[code]

[2016-09-19 17:42] alikins commented on #17634
Fixed by merge of https://github.com/ansible/ansible-modules-extras/pull/2966

[2016-09-19 17:42] #17634 closed, assigned to nobody

[2016-09-19 17:44] alikins commented on #17610
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

  This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2016-09-19 17:44] #17610 closed, assigned to nobody

[2016-09-19 18:05] hwasp commented on #17639
True, I was using file instead of copy, sorry my mistake.

[2016-09-19 18:05] #17639 closed, assigned to nobody

[2016-09-19 18:08] alikins commented on #17634
https://github.com/sivel/ansible-testing/pull/35 is a pr to add a test for this case to ansible-testing

[2016-09-19 18:19] bcoca commented on #17361
children where meant to inherit from parent, not the other way around

So hosts in group1 should get vars defined in parent, but hosts not in group1 and in parent should not get vars defined in group1.

The problem here seems to be that the group1 var is NOT overriding the parent var.

[2016-09-19 18:43] Sispheor commented on #14579
And so, @catmin ? The answer is?

[2016-09-19 19:30] #17581 closed, assigned to jimi-c

[2016-09-19 19:36] jimi-c commented on #17581
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-09-19 19:41] adb opened #17648 "VALID_KEYS check in playbook/*.py rejects keys used by core plugins"
##### ISSUE TYPE
- Bug Report
  ##### COMPONENT NAME
  playbook/plays.py
  playbook/tasks.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The "timeout" key on the "get_url" task and the "pipelining" key on playbooks, presumably along with others I haven't tried, are unusable because a security fix in 2014 added a whitelist of keys that did not i

[2016-09-19 20:17] bcoca commented on #17648
so the error is correct, pipelining is not nor has ever been allowed in a play.

As for the timeout error, the message indicates that you are passing it as part of the task and not as an option to get_url, which I cannot reproduce with the given example inside a valid play.

[code]

i get

[code]

[2016-09-19 20:23] jimi-c commented on #17648
As 1.9 is only receiving security fixes at this point, this bug report will be closed as it is not security related. If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-devel - for strategy,

[2016-09-19 20:23] #17648 closed, assigned to nobody

[2016-09-19 20:41] jimi-c commented on #10131
@mazubieta I understand your concerns, however the issue had not had any movement on it in almost a year (besides +1's). Moving it to a proposal is not rejecting the idea, it's asking for it to be moved to a format where the community can vote on it and (if it is accepted) to be placed on a schedule for implementation.

[2016-09-19 20:47] candlerb opened #17650 "Strange behaviour of when: conditionals with string values"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

task conditional handling (`when: ...`)
##### ANSIBLE VERSION

[code]

Same behaviour also observed with 2.1.0.0
##### CONFIGURATION

No special configuration
##### OS / ENVIRONMENT

N/A (tested with both OSX 10.11.6 and Ubuntu 16.04)
##### SUMMARY

I expected a conditional like `when: myvar` to be considered true if the variable is set to any no

[2016-09-19 20:47] Shaps commented on #16591
Hi @JimDennis I don't seem to be able to replicate this issue. Can you provide some more info on how this can be reproduced?
Also, when pasting the ansible version, is important to paste the full output from `ansible --version` as that will show the commit and will help debugging.
needs_info

[2016-09-19 21:43] agaffney commented on #17316
It looks like `gather_timeout` is only passed for the implicit fact gathering step in a playbook, not for any random invocation of the `setup` module. This explains why it doesn't work when doing `ansible ... -m setup`.

You can _probably_ do:

[code]

[2016-09-19 22:04] bcoca commented on #17316
as @agaffney mentioned, this is for the 'implicit' gathering, for the explicit one you should pass it in yourself.

[2016-09-19 22:04] #17316 closed, assigned to nobody

[2016-09-19 22:57] adb commented on #17648
That's my favorite way to be wrong: where everything works afterward. Thanks!

For the reference of people Googling for these issues like me:  what appears to work is

[code]

and

ANSIBLE_SSH_PIPELINING=True

in front of the ansible-playbook command we're running. (We don't want to make that a global setting without a lot more testing.)

[2016-09-19 23:40] stuaxo commented on #7474
@kha0s178

Any chance of a pull request that adds the -p?  Seems like quite an omission that this is broken !

[2016-09-20 07:20] mathieumd commented on #17316
Thank you @agaffney.

@bcoca: It doesn't make sense! For what reason would one want to explicitly configure a gathering timeout in `ansible.cfg` and still have to set it again as an argument for ad-hoc calls to `ansible`? It's a failure in terms of usability.

The command line argument should indeed have priority over configuration file, but still the configuration file should always be read. Or t

[2016-09-20 08:03] mgedmin opened #17657 "Dynamic include fails with KeyError: '_raw_params'"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include
##### ANSIBLE VERSION

[code]
##### SUMMARY

I'm trying to dynamically compute the include file, which fails with a KeyError.
##### STEPS TO REPRODUCE

[code]

[code]

[code]

Now run `ansible-playbook -c local -i localhost, test.yml -vvv`
##### EXPECTED RESULTS

I expect install.yml to be included and executed.
##### ACTUAL RESULTS

[cod

[2016-09-20 08:06] mgedmin commented on #17657
The reproducer example can be simplified by dropping the `when: ...` -- it still fails.

A workaround is to use

[code]

[2016-09-20 08:16] dagwieers commented on #16365
resolved_by_pr #17457

[2016-09-20 09:07] maozza commented on #17636
yes it does,
this syntax doesn't work on ansible 1.9 , but I'm fine with it.
thank you!

[2016-09-20 11:27] ghost commented on #17043
Hi,
this is a another random message. Somethis it works, sometimes it fails with:

´´´
failed: [premiumstore-lb-dev](item={u'package': u'python-mysqldb'}) => {"failed": true, "invocation": {"module_name": "apt"}, "item": {"package": "python-mysqldb"}, "module_stderr": "OpenSSH_7.2p2 Ubuntu-4ubuntu2.1, OpenSSL 1.0.2g-fips  1 Mar 2016\r\ndebug1: Reading configuration data ssh_config\r\ndebug1: ssh_c

[2016-09-20 13:51] bcoca commented on #17316
@mathieumd I see how it can be confusing, but the ansible.cfg file is read by both `ansible` and `ansible-playbook`.

The issue is that you are expecting a configuration setting for an 'implicit command that ansible-playbook constructs' to be applied to an 'explicit command you constructed'.

Inside a playbook, if you invoke `- setup:`, you would see the same behavior as in your adhoc usage.
The `

[2016-09-20 13:57] bcoca commented on #16365
Fixed by #17457

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions about wri

[2016-09-20 13:57] #16365 closed, assigned to jimi-c

[2016-09-20 14:03] bcoca commented on #17657
dupe of #17428

[2016-09-20 14:03] #17657 closed, assigned to nobody

[2016-09-20 14:26] leonj1 opened #17660 ".."
##### ISSUE TYPE

- Bug Report
- Feature Idea
- Documentation Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-09-20 14:31] #17660 closed, assigned to nobody

[2016-09-20 14:45] leonj1 commented on #17660
Concerning. I did not create this issue.

[2016-09-20 14:59] gundalow commented on #17442
qalthos said

[2016-09-20 15:01] liuyong2000 opened #17661 "Docs: role dependency doesn't work as expected"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible/lib/ansible/playbook/role/**init**.py
ansible/lib/ansible/executor/play_iterator.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No change
##### OS / ENVIRONMENT

N/A
##### SUMMARY

In official ansible document site,
http://docs.ansible.com/ansible/playbooks_roles.html
It said,
Roles dependencies are always executed before the role

[2016-09-20 15:05] jctanner commented on #17361
I've done some more testing and scripting to better understand the order of precedence between the ini file and group_vars files.

In terms of exact ordering, here's the list

[code]

In general with 2.x, variables found in the group_vars directory override variables in the ini. So if you define a parent group_var file, it will override anything in the ini ... as you have noted. However, if you al

[2016-09-20 15:05] #17361 closed, assigned to nobody

[2016-09-20 15:08] liuyong2000 opened #17662 "including a play will cause load error for the role behind it"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible/lib/playbook/**init**.py  ???
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No change
##### OS / ENVIRONMENT

N/A
##### SUMMARY

including a play which has a relative path in a playbook, will cause load error for role in late play
##### STEPS TO REPRODUCE

pls follow the playbook below

[code]

no specific requirement for the play i

[2016-09-20 15:20] #17442 closed, assigned to Qalthos

[2016-09-20 15:25] liuyong2000 opened #17664 "a wrong way to judge ending of a role execution"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible/lib/ansible/playbook  ??
ansible/lib/ansible/executor   ??
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no change.
##### OS / ENVIRONMENT

N/A
##### SUMMARY

In a play, if you write down one role two times as below,

[code]

You can see that role csfC runs two times when playbook running

[code]

If you add another different role b

[2016-09-20 15:43] damaca opened #17665 "Problem with type conversion"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Type conversion
##### ANSIBLE VERSION

Tried with the versions below:
ansible 2.1.0.0
  config file =
  configured module search path = Default w/o overrides
ansible 2.1.1.0
  config file =
  configured module search path = Default w/o overrides

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I found this when I tried to override a variable. T

[2016-09-20 16:32] #15963 closed, assigned to jimi-c

[2016-09-20 16:32] jimi-c commented on #15963
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release. This was also cherry-picked to the `stable-2.1` branch, and will be included in 2.1.2 (it will be present in RC4 on).

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of th

[2016-09-20 18:31] smiller171 commented on #13637
Edit: I was doing something stupid. AWS_Profile works exactly as expected

~~AWS_PROFILE also doesn't seem to work with the ec2 modules, only with inventory.~~

[2016-09-20 18:45] bcoca commented on #17650
So this is not new behavior so the recent templating changes did not cause this, removing P1 tags as this seems to be a 'jinaj2' behavior.

[2016-09-20 18:52] bwheatley commented on #17492
Can confirm the same issue for me. In Ansible {{1.9.4}}

[2016-09-20 19:04] bcoca commented on #17650
@candlerb, please confirm that the PR above fixes this for you

[2016-09-20 19:06] jimi-c commented on #17528
@DebianRoxx Ansible is doing a lot more than simply running that shell command locally. As such, you are comparing apples to oranges here. We are always interested in making Ansible faster, however it will never be as fast as simply running a shell command directly.

[2016-09-20 19:21] DebianRoxx commented on #17528
@jimi-c A lot more is a bit exaggerated, see the command module here, it's pretty simple : https://github.com/ansible/ansible-modules-core/blob/devel/commands/command.py
As I said before,  I'll try to make a dedicated example this week to isolate problem if I have time.

For now, I'm optimizing roles to bypass execution of lot of tasks : make multiples `include xxx.yml` + `when` in `role-xxx/tasks

[2016-09-20 19:23] jimi-c commented on #17528
@DebianRoxx it's really not. We parse inventory, we parse vars, we do a lot of work on top of simply running the command. On top of that, the command is run through Python, not directly, so there's overhead there which is unavoidable. Optimizing playbooks and roles is always advisable, but there is a floor to the performance you'll hit and it will be well above executing commands directly.

[2016-09-20 19:28] robinro commented on #17629
@itai257 I believe this issue is not with ansible, but with the onp instructions, so Intel or their forums might be better suited.
Anyhow: Please provide the full output of `ansible-playbook -vvv –i inventory.ini multinode.yml`

Also please edit your issue to use the issue template https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISSUE_TEMPLATE.md and fill in the details there, espe

[2016-09-20 19:30] bcoca commented on #17629
is inventory.ini set as executable?

[2016-09-20 19:33] candlerb commented on #17650
The fix works when using a bare expression:

[code]

It still fails if I use a jinja2 expansion in the 'when' condition:

[code]

This is perhaps not a sanctioned way of using `when` (but it _is_ now the required way of using `with_items`)

[2016-09-20 19:35] bcoca commented on #17650
you should never use  `{{ }}` in conditinals, its already implied and "they don't stack"

2 rules:
- mustaches (`{{}}`) don't stack, so  no `{{ {{ }} }}`
- always use mustaches except when `when:` (as they are implied and violates rule 1)

[2016-09-20 19:42] candlerb commented on #17650
OK, thanks. Perhaps the error message could be more helpful, but maybe that's not feasible.

[2016-09-20 19:42] #17650 closed, assigned to bcoca

[2016-09-20 19:44] DebianRoxx commented on #17528
Yes, i'm aware that there is necessarily some pre operations before running commands.
I make a dumb example which do nothing (`toto` variable is undefined) to illustrate my feeling :

[code]

file test_role/tasks/main.yml :

[code]

Playbook run took 0 days, 0 hours, 0 minutes, 28 seconds.

Perhaps this dumb test will help to show my feeling. In all cases, I'm pleased that you are interesting abou

[2016-09-20 20:00] ohmer1 opened #17672 "Per host files"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

N/A
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

For module that work with files (like copy), add a directory in the include path located in _host_files/{{ inventory_hostname}}_. The file is this directory should be included only when there is no other match elsewhere (like in the role).

It

[2016-09-20 20:03] bcoca commented on #17672
This can easily be done already

[code]

You can even use the first_found lookup to establish fallback behavior.

[2016-09-20 20:11] jimi-c commented on #15927
I'm seeing the same behavior on devel and stable-2.1 (using a synthetic inventory):

<pre>
$ ansible-playbook -vv test.yml -i inv --tags="copy-windows"
Using /etc/ansible/ansible.cfg as config file
PLAYBOOK: test.yml *************************************************************
2 plays in test.yml
PLAY [copy file to windows] ****************************************************
TASK [setup] *******

[2016-09-20 20:11] #15927 closed, assigned to jimi-c

[2016-09-20 20:34] jimi-c commented on #16006
@minusdavid perhaps we should add an option there to allow that case to be ignored rather than raise an error?

[2016-09-20 20:43] jimi-c commented on #16044
Confirming this is indeed fixed in devel, and additionally in `stable-2.1` as well (confirmed to work in v2.1.1.0-1):

<pre>
[jamesc@jimi 16044]$ ansible-playbook --version
ansible-playbook 2.1.2.0 (stable-2.1 c004ae578d) last updated 2016/09/20 11:31:23 (GMT -500)
  lib/ansible/modules/core: (detached HEAD 2b9300ec28) last updated 2016/09/20 15:08:33 (GMT -500)
  lib/ansible/modules/extras: (deta

[2016-09-20 20:43] #16044 closed, assigned to jimi-c

[2016-09-20 20:45] bcoca commented on #17346
@amenonsen thanks, looked into GPG multiple keys, what ends up happening is that they use a generated key to encrypt the data, then create encrypted copies of this key for each public key.

So this should 'already work' via the GPG 'vault script'.

[2016-09-20 21:10] jimi-c commented on #16846
So the issue here is not set_fact. The problem is with the recursive variable. This problem was hidden in earlier 2.0.x and 2.1.x versions due to the fact that you were not using hostvars. As of commit 6b286ee0c88f3252a27ff94f39d794566c3f7d6f, hostvars are referenced during the creation of the connection plugin, which causes the error to manifest in a more obvious way now. If instead you simply ha

[2016-09-20 21:10] #16846 closed, assigned to jimi-c

[2016-09-20 21:38] JulianVolodia commented on #17179
Sorry for long time. I will prepare gist with example open-source code with this problem.

Best regards.

[2016-09-20 22:05] jgrigonis opened #17678 "meta dependency variables aren't being set"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

dependency
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
host_key_checking = False
##### OS / ENVIRONMENT

Mac OS X
##### SUMMARY

I expect variables set in the `meta/main.yml` to take effect
##### STEPS TO REPRODUCE

ansible-playbook site.yml

[code]
##### EXPECTED RESULTS

I expected to see "3 and 22"
##### ACTUAL RESULTS

[code

[2016-09-20 22:26] alikins commented on #17159
More oddity. I'm starting to wonder if this is a bug in 'debug'...

debug seems to show the values as strings, but assert thinks they are none

[fedora-23:ansible (devel % u=)]$ cat repro/with_dict_none_17159/integers.yml

[code]

[code]

[fedora-23:ansible (devel % u=)]$ cat repro/with_dict_none_17159/test.yml

[code]

[code]

[2016-09-21 01:49] liuyong2000 commented on #17661
I gave a fix to this problem, and passed my testing. My point is,  if a role running with same input parameters, they are considered same role object,  but "when" and "tags" doesn't belong to these parameter/variables.  If a role(role+parameter/variable input) has been executed, this role with "when" or different "when" should not be executed again, because they represent same role.
below is my fi

[2016-09-21 04:01] muratdx commented on #17361
This seems a bit confusing and inconsistent. Variables defined in group_vars/all can still be easily overridden in the ini. Isn't "all" considered a parent group of everything?

[2016-09-21 05:27] chichusam commented on #14016
how to compare two folder files in ansible
i have always single file in first directory
Folder1 : ls
sam.txt
cat sam.txt
 ram,ganesh

Folder2: ls
file1.txt
file2.txt

cat file1.txt
ram,ganesh

cat file2.txt
ganesh,lathis

I need to compare the first directory files  with all the second directory files
and if difference found then we need to print file name in new direcoty with file name , Please h

[2016-09-21 05:28] chichusam opened #17681 "How to compare two folder files in ansible"
how to compare two folder files in ansible
i have always single file in first directory
Folder1 : ls
sam.txt
cat sam.txt
 ram,ganesh

Folder2: ls
file1.txt
file2.txt

cat file1.txt
ram,ganesh

cat file2.txt
ganesh,lathis

I need to compare the first directory files  with all the second directory files
and if difference found then we need to print file name in new direcoty with file name , Please h

[2016-09-21 05:43] liuyong2000 commented on #17662
I tried a fix and it passed my testing.
In finction Playbook:_load_playbook_data(self, file_name, variable_manager) which is in file ansible/playbook/__init__.py, when a playbook is included, this function creates a object of class PlaybookInclude, and pass it a parameter of loader, but after PlaybookInclude.load return, member _basedir in loader may be changed, this will impact the loading tasks/

[2016-09-21 05:58] Jorge-Rodriguez commented on #16437
A top level playbook of this kind would be really handy:

[code]

[2016-09-21 07:23] aruhier commented on #17593
Did you check that your current directory doesn't contain any accent or special character?

Edit: by current directory, I mean more exactly the entire path of your current directory

[2016-09-21 09:51] Shaps commented on #17342
Hi @arturaz,

I don't think this is a bug. In ini-like inventory files, lines starting with `[` are intended to be groups, that is why you are getting the error `Invalid section...`.

If you want to use this type of syntax, you should use YAML host files.

[2016-09-21 11:11] arturaz commented on #17342
YAML host files exist? Somehow I missed it. Is it in the docs?

On Sep 21, 2016 12:52, "Andrea Tartaglia" notifications@github.com wrote:

[2016-09-21 11:19] Shaps commented on #17342
I'm not sure if it's in the docs, and I believe it's a fairly new feature. You can find an example here: https://github.com/ansible/ansible/blob/devel/examples/hosts.yaml

[2016-09-21 11:21] arturaz commented on #17342
I guess then it's a documentation instead of implementation bug :)

On Sep 21, 2016 2:20 PM, "Andrea Tartaglia" notifications@github.com
wrote:

[2016-09-21 11:23] gundalow opened #17683 "webdocs don't honour markup tags in `deprecated:` section"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

na
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

When we give notice that we will be deprecating modules we add a line such as
`./cloud/openstack/_nova_keypair.py:deprecated: Deprecated in 2.0. Use os_keypair instead`

It would be good if we could do
`deprecated: Deprecated in 2.0. Use M(os_keyp

[2016-09-21 11:29] gundalow commented on #17683
@dharmabumstead This may be something you are already aware of, though I couldn't see a ticket or anything related

Not a priority for 2.2.

[2016-09-21 12:51] dbayle commented on #17593
Hello the entire path is:

/etc/ansible/playbooks

I don't think this is the issue, but might let us know. ;)

[2016-09-21 13:17] vkruoso commented on #13887
I have seen this problem as well. We run ansible a lot and we can see this error eventually. We always run ansible on VMs that are created using Vagrant, so there is little chance there is a network problem as communication uses local management bridge.

Can we make fact gathering more resilient, or add more debug information to it so we can have better information about the error situation? I wou

[2016-09-21 13:38] Vskilet opened #17684 "Issue when current path contains any special character"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Manager OS : Fedora 24
Managed OS : Debian 8.5
##### SUMMARY

When my current path contains special character like an accent, I can't launch my playbook and ansible said :

[code]

In french OS, we found often accents in directory.
##### STEPS TO REPRODUCE

Use a path which contain a accent like :

[code]

Then lau

[2016-09-21 13:53] exodusftw opened #17685 "Add Bandwidth Throttling to module_utils/urls.py"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

module_utils/urls.py
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Would like the ability to set bandwidth limiting/throttling on modules that use the various methods provided in urls.py, namely fetch_url. This would be handy for the maven_artifact, get_url, etc. modules.
##### STEPS TO REPRODUCE

[code]
##### EXPECTE

[2016-09-21 13:57] bnr-deploy commented on #16789
Can you detail how you set this up under 1.9?

[2016-09-21 14:35] amenonsen opened #17686 "Passing variables via nested include_role doesn't work"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

core
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

If you use `include_role` with `vars:` in a top-level playbook, it works (but is no different from using `roles:` in this respect). If, however, the `include_role` is from inside another role, the variables don't get passed through correctly.
##

[2016-09-21 14:37] edgecase1 commented on #14579
Hey @Sispheor - I solved it like this: https://gist.github.com/catmin/5eadeea01ed184943448b9ac88d8bdf0

[2016-09-21 14:43] Sispheor commented on #14579
@catmin Thanks a lot !

[2016-09-21 14:46] bcoca commented on #17681
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-09-21 14:46] #17681 closed, assigned to nobody

[2016-09-21 14:55] coppit commented on #17361
Full disclosure: I work with muratdx.

I find this nonintuitive. I think of the inventory as "data" to be consumed by the playbooks. I think of group_vars as "code" containing defaults. i.e. It seems more intuitive to me if precedence was group_vars -> ini -> --extra-vars

We ship our group_vars files along with our playbooks, roles, modules, etc. as the "tool", and our clients write inventories t

[2016-09-21 16:01] pawelprazak commented on #9383
I see similar issue with ansible 2.1.1.0

[2016-09-21 16:20] rjnienaber commented on #13962
For anyone else hitting this link, the reason why I was getting this problem is that I was specifying tags that caused included modules to be skipped over. So even though it shows as being 'included', it's actually being skipping over. Once I picked the right tag, the included tasks started working as expected.

[2016-09-21 16:25] odyssey4me opened #17687 "Ansible 2.1.0->2.1.1 regression: conditional include now evaluates each task instead of ignoring them"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

strategy
##### ANSIBLE VERSION

[code]

also confirmed with 2.1.2rc3

[code]
##### CONFIGURATION

None.
##### OS / ENVIRONMENT

Ubuntu 14.04 LTS, although I don't think it matters.
##### SUMMARY

In Ansible 2.1.0 when a task file was conditionally included the the condition was not met, all tasks in the file were not evaluated in any way. They w

[2016-09-21 16:42] dfarrell07 commented on #13563
This broke OpenDaylight automation, and I imagine many other Ansible downstreams. Feels like you're playing pretty fast and loose with backwards incompatible changes.

[2016-09-21 16:47] nmarley commented on #16878
This is ridiculous guys. You introduced a bug which broke so many people and are calling it a "fix". Incredible.

[2016-09-21 17:02] jimi-c commented on #17687
Hi @odyssey4me, this is due to the fact that we fixed the code for controlling when an include is `static` vs `dynamic`. In your case, the include is now being brought in statically at playbook compile time, so this behavior is in-line with how 1.9.x and before behaved. If you wish to force the include to be dynamic (with the limitations noted here: http://docs.ansible.com/ansible/playbooks_roles.

[2016-09-21 17:02] #17687 closed, assigned to nobody

[2016-09-21 17:14] odyssey4me commented on #17687
@jimi-c Great, thanks - I've confirmed that setting `static: no` on the include task makes it work as it did before.

[2016-09-21 17:21] jimi-c commented on #17687
@odyssey4me excellent, just be aware of the limitations of dynamic includes (tags, start-at-task, etc.) documented in that link above.

[2016-09-21 17:23] odyssey4me commented on #17687
@jimi-c Something isn't making sense to me. The default in https://github.com/ansible/ansible/blob/v2.1.2.0-0.3.rc3/lib/ansible/constants.py#L187 is 'False', which should be the same as setting `static: no` on all include tasks, right?

[2016-09-21 17:41] deeTEEcee opened #17690 "Keyword naming: "if" instead of "when""
Issue Type: Keyword Naming
Ansible Version: 2.2.1.0
Component Name: N/A

Summary:
Hopefully, I'm not incorrect since I'm still a relatively new ansible user. Was wondering why the conditional check for "when" is not instead, "if" because that sounds more like a loop to me.

[2016-09-21 18:17] #17024 closed, assigned to jimi-c, bcoca, nitzmahone

[2016-09-21 18:17] jimi-c commented on #17024
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will be included in the 2.2.0 and 2.1.2 releases.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user quest

[2016-09-21 19:58] bcoca commented on #16010
why not just set roles_path in ansible.cfg?

[2016-09-21 20:06] gundalow opened #17691 "nxos_facts fails on nxapi: ansible.module_utils.network.NetworkError: Pipe is not allowed for this messge type"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

`nxos_facts` fails on when using `transport: nxapi`, it works on `transport: cli`
##### STEPS TO REPRODUCE

[code]

with

[code]

Running against `transport: cli` works

[code]
##### EXPECTED RESULTS
##### ACTUAL RESULTS

[code]

with

[code]
##### EXPECTED RES

[2016-09-21 20:12] dustymabe opened #17692 "docker connection plugin - could we use docker-py ?"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
module

##### ANSIBLE VERSION
ansible version from Sep 21, 2016

_Originally opened in https://github.com/ansible/ansible-container/issues/240 but moving here so we can perhaps have a discussion with the authors of the plugin_

Just wanted to have a discussion here about the docker connection plugin in ansible.

If it were possible to run the e

[2016-09-21 20:12] dustymabe commented on #17692
@bcoca @objectified @abadger - PTAL

[2016-09-21 20:29] dfarrell07 commented on #16010
(I don't want to drive this discussion, so @SimonPe can/should still answer, but a few thoughts)
- The current behavior fails by default.
- Not stored in version control, so harder to share, requires manual changes from devs.
- #13563 was a major backwards-incompatible change that seems to be causing a lot of migration effort for little reward.

[2016-09-21 20:49] jarrpa opened #17695 "Task retries has no default"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/task.py#L86
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When trying to run a task as a Do-Until loop, ansible errors out if you don't specify a "retries" value. Per the documentation at http://docs.ansible.com/ansible/playbook

[2016-09-21 21:17] #17192 closed, assigned to jimi-c

[2016-09-21 21:17] jimi-c commented on #17192
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-09-21 21:20] jimi-c commented on #17180
That patch was extremely invasive, and will not be back-ported to stable-2.1. I have looked into other ways of fixing this without success, as it is closely tied to some of the other performance changes as well.

[2016-09-21 21:58] inferiorhumanorgans commented on #10149
So what's the status of this? Abandoned?

[2016-09-21 22:05] Oleh-Hrebchuk commented on #10020
gg

[2016-09-21 22:05] abadger commented on #16982
@ryanlovett, Is this still happening with stable-2.1 or devel?

needs_info

[2016-09-21 22:51] ryanlovett commented on #16982
This is still happening with ansible from the official ansible PPA. However, I created a container running the same OS and using ansible from the same PPA and wasn't able to reproduce from inside.

[code]

So, notabug. I'm still wondering what is causing the behavior however.