[2020-08-25 14:32] faxm0dem commented on #42409
![esquiva laterale](http://4.bp.blogspot.com/-gHDwqNCSBq4/T-dnxglZ7mI/AAAAAAAADvw/cZa1b4cV5kU/s1600/capoeira08.jpg)

[2020-08-25 15:00] geerlingguy opened #71443 "ansible-test coverage leads to 'Namespace' object has no attribute 'remote_endpoint'"
##### SUMMARY

We are running `ansible-test coverage` from the devel branch of Ansible on the `community.kubernetes` collection. It seems like sometime between yesterday morning and today, something in Ansible changed that is causing the error:

[code]

See: https://github.com/ansible-collections/community.kubernetes/runs/1025104583?check_suite_focus=true#step:6:17

##### ISSUE TYPE
- Bug Report

[2020-08-25 15:03] sivel commented on #71377
Duplicate of https://github.com/ansible/ansible/issues/56839

[2020-08-25 15:03] #71377 closed, assigned to nobody

[2020-08-25 15:05] sivel commented on #56839
@geerlingguy that is correct. Per my comment above, `preserve` only applies to `copy` and by extension `template`.  Someone incorrectly moved some docs into the shared fragment which was wrong, no one has submitted a fix for the docs issue as of yet.

[2020-08-25 15:06] williamhanseneric commented on #29711
I'm disappointed that I search for this and just find it is pushed off to the community, trying to use this module to programmatically build krb5.conf on Ansible Tower servers and looks like one can't with this issue.

[2020-08-25 15:08] sivel commented on #71443
Ref: https://github.com/ansible/ansible/pull/71088

[2020-08-25 15:09] bcoca commented on #71394
- `delegate_to` will normally use the vars from the 'inventory_hostname' with the exception of 'connection vars' which will use the vars of the delegated to host.
- `include_vars` are host specific, so they will be asinged to the host to which they were included for
- `vars:` is play scoped and should be available for all hosts no matter context, but if they depend in 'host specific vars' you shou

[2020-08-25 15:10] samdoran commented on #71383
cc @mattclay

[2020-08-25 15:13] #21522 closed, assigned to nobody

[2020-08-25 15:13] #21125 closed, assigned to nobody

[2020-08-25 15:13] #20251 closed, assigned to nobody

[2020-08-25 15:13] #19863 closed, assigned to nobody

[2020-08-25 15:13] #19750 closed, assigned to emonty

[2020-08-25 15:13] #18992 closed, assigned to emonty

[2020-08-25 15:16] samdoran commented on #71394
Closing per above. This seems to be a misunderstanding of how this feature works. To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-08-25 15:16] #71394 closed, assigned to nobody

[2020-08-25 15:17] samdoran commented on #71395
cc @abadger

[2020-08-25 15:23] samdoran commented on #71397
This should be disabled automatically if `stdout` is not a TTY. Is the CI system `tee`ing the output or somehow creating a TTY?

In ansible-base 2.10, this can disable this by setting `GALAXY_DISPLAY_PROGRESS=0`. https://docs.ansible.com/ansible/devel/reference_appendices/config.html#galaxy-display-progress

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible

[2020-08-25 15:23] #71397 closed, assigned to nobody

[2020-08-25 15:30] samdoran commented on #71402
We have no plans to implement this feature at this time. This could be done using a `template` task, or you can create an action plugin and module named `set_fact` to override the builtin `set_fact` with the desired behavior.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!fo

[2020-08-25 15:30] #71402 closed, assigned to nobody

[2020-08-25 15:38] samdoran commented on #71415
Can you provide an example playbook and the output of the playbook run with `-vvvv`.

needs_info

[2020-08-25 15:40] sivel commented on #71443
I think this is likely the correct ref: d099591964d6fedc174eb1d3fc1bbee8d2ba0f16

[2020-08-25 15:40] samdoran commented on #71417
Closing since this has already been fixed. This should be backported to `stable-2.9`.

[2020-08-25 15:40] #71417 closed, assigned to nobody

[2020-08-25 15:53] samdoran commented on #71443
cc @mattclay

[2020-08-25 16:00] samdoran commented on #71442
That being said, we still need to account for `--vault-id someid@/path/to/file/with@in/the/path`.

[2020-08-25 16:10] mattclay commented on #71443
I'm working on a fix now.

[2020-08-25 16:48] RRohi opened #71444 "iptables comment parameter incorrectly positioned in iptables"
##### SUMMARY
When using **comment** parameter with iptables module, it is not positioned as the right-most object in the actual iptables table.
The outcome looks very bad at the moment.

##### ISSUE TYPE
- Cosmetic Bug Report

##### COMPONENT NAME

**iptables** module, **comment** parameter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host where I use Ansib

[2020-08-25 16:58] aminvakil commented on #71444
Does re-ordering comment position like in this commit fix the issue?
https://github.com/aminvakil/ansible/commit/2a816de2cced19b614d3b50704f2ad66dc6be3df
To make sure it's always at the end.
Please tell me to open a PR if that's OK.

[2020-08-25 17:00] mekisiel opened #71445 "Template destination relative path behavior change between v.2.9.9 and v.2.9.10"
##### SUMMARY

For local file creation/output operations leveraging the template module, the dest parameter appears to ignore the current ansible project directory, which is running within a Python3 venv, and defaults to the ansible_user's home directory when specifying relative paths (i.e., "./files"). The workaround has been to use 2.9.9 or specify the relative path from the ansible_user's home

[2020-08-25 17:06] teja9415 commented on #71286
maybe there is some issue. because I tried with AIX 7.4.2 aswell it's working fine, I didn't see any issues.

Regards,
Teja/

[2020-08-25 17:07] teja9415 commented on #71286
is there any workaround to skip the post-reboot check.

Regards,
Teja.

[2020-08-25 17:18] RRohi commented on #71444
Yes, by reordering the position of those two lines, the output is now as it should be. Comment is positioned on the right now.

I don't know what's the purpose of opening a PR, but if it's necessary for the process, sure, you may open it.

[2020-08-25 17:49] Shrews commented on #71445
I believe this is the same issue as discussed in issue #70359. I believe if you use `connection: local` in your delegated task (or on your `localhost` entry in your hosts file), it will work as you expect. E.g.

[code]

[2020-08-25 18:07] #27423 closed, assigned to nobody

[2020-08-25 18:07] #20864 closed, assigned to rcarrillocruz

[2020-08-25 18:16] mekisiel commented on #71445
Thanks, that works. Am I understanding that the previous (2.9.9 and prior) behavior that we grew to rely on was due to a long-standing bug?

[2020-08-25 18:37] samccann commented on #69051
- this can be a note to say most have moved to community.general, with one in AWS, but users should use plugins instead.

[2020-08-25 18:41] samccann commented on #69334
Add to this page - https://docs.ansible.com/ansible/devel/user_guide/collections_using.html#using-collections-in-a-playbook
Then link to that with a sentence or two in the Ansible 2.10 porting guide.

[2020-08-25 19:00] acozine commented on #67621
Related to https://github.com/ansible/ansible/issues/67484.

[2020-08-25 19:01] acozine commented on #67621
Also related to #70267. Need to find the correct repo to enable the Edit on GitHub button.

[2020-08-25 19:11] samccann commented on #59226
Documentation updated at https://docs.ansible.com/ansible/devel/dev_guide/developing_collections.html#using-documentation-fragments-in-collections

[2020-08-25 19:11] #59226 closed, assigned to acozine

[2020-08-25 19:12] acozine commented on #59226
Closed by https://github.com/ansible/ansible/pull/67171

[2020-08-25 19:14] samccann commented on #70555
related to https://github.com/ansible/ansible/issues/59604

[2020-08-25 19:16] samccann commented on #70271
closing in favor of https://github.com/ansible/ansible/issues/70271

[2020-08-25 19:16] #70271 closed, assigned to nobody

[2020-08-25 19:16] samccann commented on #69733
As we standardize on terminology (see #70270) we will need to comb through the docs to update as needed to reflect what is ansible-base, what is Ansible (2.10 and later), what is Ansible (older, 2.9 etc).

[2020-08-25 19:18] samccann commented on #69859
related to #69051 and #71235

[2020-08-25 19:19] maestrx opened #71447 "Get list of sections in INI file"
##### SUMMARY

Id like to iterate through all section names in the INI file, but cannot find how to do it as the "key" is mandatory everywhere

##### ISSUE TYPE
- List sections names in INI file

##### COMPONENT NAME

ini lookup

##### ADDITIONAL INFORMATION

Just for understanding, lets imagine that the ini file contains a section for each IPTABLES rule equivalent to the rule ID and each section

[2020-08-25 19:20] Shrews commented on #71445
@mekisiel Yes, that is correct about the long-standing bug.

Closing per the above.

If you have any further questions, please let us know by reaching out to us on IRC, or stopping by one of the two mailing lists, as appropriate:

   * IRC: #ansible on irc.freenode.net
   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com

[2020-08-25 19:20] #71445 closed, assigned to nobody

[2020-08-25 19:24] acozine commented on #70157
Update https://docs.ansible.com/ansible/devel/dev_guide/developing_collections.html#creating-a-collection-skeleton to specify that collection names follow the same rules as namespaces.

[2020-08-25 19:24] samccann commented on #60282
Related to https://github.com/ansible/ansible/issues/70157

[2020-08-25 19:26] sivel commented on #71447
I think you are in need of the change proposed in https://github.com/ansible/ansible/pull/69048

[2020-08-25 19:31] maestrx commented on #71447
Unfortunately not exactly the case. It might help, thought the section name is what I'm looking for...

[2020-08-25 21:06] #69550 closed, assigned to nobody

[2020-08-25 21:06] abadger commented on #67621
Repository and issue information is now available via the galaxy API: https://galaxy.ansible.com/api/v2/collections/purestorage/flasharray/versions/1.4.0/ (The repository and issues field). All the points I raised earlier still apply but at least this is now an option for building docs.

[2020-08-25 21:06] #62781 closed, assigned to nobody

[2020-08-25 22:52] Rowland-Rat commented on #71394
I can see this is closed however I cannot see why.  What we have has worked well until 2.9.10, and has stopped working ever since then.  I'm not sure its just a case of "misunderstanding of how the feature works".

[2020-08-25 23:11] s-hertel commented on #71405
@ktbyers I haven't been able to reproduce this or see how it would be happening, but I went through the networking-specific changes between 2.9.9 and 2.9.10 since that was the first broken version, and the only commit that seems like it might be related is https://github.com/ansible/ansible/pull/69642.

It looks like you have a custom action plugin path - are you using anything in that path?

@Qal

[2020-08-26 01:30] jborean93 opened #71453 "Runas become SYSTEM - missing privileges"
### SUMMARY
When using the `runas` become plugin to become the `SYSTEM` account there is a chance the process won't contain all the privileges assigned to that token. Becoming the `SYSTEM` account is a unique case in the `runas` code, when this is set the new process is just made from a copy of the `SYSTEM` token that we already got for impersonation https://github.com/ansible/ansible/blob/72a7cb4

[2020-08-26 02:20] pavankumarda2136 opened #71454 "ansible prompt not working"
' I am new to ansible, I am having issue when executing my ansible playbook. My playbook just run a deploy-release script in destination. This deploy script ask to enter a version to deploy so I am using ansible prompt to input the release version that I need. But it is not working. However if I run the deployrelease script from my destination server directly it is working fine.

 I am using below

[2020-08-26 04:23] #71443 closed, assigned to nobody

[2020-08-26 04:24] Akasurde commented on #71454
Hi @pavankumarda2136!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

You may want to use https://docs.ansible.com/ansible/latest/modules/shell_module.html#parameter-stdin or https://docs.ansible.com/ansible/latest/modules/expect_module.html

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC cha

[2020-08-26 04:24] #71454 closed, assigned to nobody

[2020-08-26 05:07] #71306 closed, assigned to nobody

[2020-08-26 05:39] aminvakil commented on #71444
@RRohi
I'll wait for a maintainer to remove the `needs_triage` tag.

[2020-08-26 05:52] Akasurde commented on #23144
resolved_by_pr #71455

[2020-08-26 06:07] Akasurde commented on #29827
Documented via https://github.com/ansible/ansible/pull/70537

[2020-08-26 06:07] #29827 closed, assigned to gundalow

[2020-08-26 06:09] mkrizek commented on #57470
!component =lib/ansible/modules/files/acl.py

[2020-08-26 06:13] mkrizek commented on #37315
Thank you very much for your interest in Ansible. The rabbitmq plugins are no longer maintained in this repository and have been migrated to https://github.com/ansible-collections/community.rabbitmq.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.

[2020-08-26 06:13] #37315 closed, assigned to nobody

[2020-08-26 06:14] Akasurde commented on #31934
Hi @ghost, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-project<

[2020-08-26 06:14] #31934 closed, assigned to nobody

[2020-08-26 06:17] mkrizek commented on #51162
!component =lib/ansible/module_utils/net_tools/nios/api.py

[2020-08-26 06:20] mkrizek commented on #56576
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-08-26 06:20] #56576 closed, assigned to nobody

[2020-08-26 06:33] #57470 closed, assigned to nobody

[2020-08-26 06:33] #51162 closed, assigned to nobody

[2020-08-26 07:08] Akasurde commented on #36924
Closing as PR https://github.com/ansible/ansible/pull/39956/ is merged.

[2020-08-26 07:08] #36924 closed, assigned to nobody

[2020-08-26 07:41] next-jesusmanuelnavarro commented on #36519
I think there's a misunderstanding overthere.

I get that *wait_for_connection* is an action plugin and runs from the ansible controller.  It just makes sense once you think of it.

Then, the **intent** of the *delegate_to* is also clear from a user perspective: *"wait for **this** host to be up and running"* (usually within a loop).

Now, the misunderstanding is that the intent is not to *delegat

[2020-08-26 07:44] fauust commented on #56839
I may be wrong but I guess that the recent update of ansible-lint (4.3.0 and 4.3.1) and rule `[208] File permissions not mentioned` encourages people to use the `preserve` mode (for example in `lineinfile` module)...

[2020-08-26 08:03] next-jesusmanuelnavarro commented on #36519
...which means, please correct me if I'm wrong, that you won't be able to encapsulate this very much sensible pattern, *"create infrastructure in some opinionated way and wait for it to be up & running"*, within a role.  Not at least with the help of *wait_for_connection* despite this module being the perfect case for doing it in an *ansible-friendly* way.

[2020-08-26 08:23] Akasurde commented on #51307
resolved_by_pr #71458

[2020-08-26 08:28] xoxys commented on #71397
Not sure about this part, but as long as it could be disabled in 2.10 anyway that's fine for me.

[2020-08-26 08:36] Akasurde commented on #52983
Closing as PR https://github.com/ansible/ansible/pull/66895 is merged.

[2020-08-26 08:36] #52983 closed, assigned to acozine

[2020-08-26 08:53] Akasurde commented on #54131
resolved_by_pr https://github.com/ansible/ansible/pull/69266

[2020-08-26 08:53] #54131 closed, assigned to acozine

[2020-08-26 09:07] mkrizek commented on #48795
Thank you very much for your interest in Ansible. The aws plugins are no longer maintained in this repository and have been migrated to https://github.com/ansible-collections/community.aws.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/

[2020-08-26 09:07] #48795 closed, assigned to nobody

[2020-08-26 09:32] ssbarnea opened #71459 "ansible-doc does not report deprecated modules as json"
##### SUMMARY
While ansible-doc provides a set of JSON API-like queries for getting information about available Ansible modules and plugins, it missed to report any module renames / deprecations.

Example: We happen to know that `k8s_facts` was deprecated in favour of `k8s_info` but there is no way to retrieve this information in JSON, not is possible to list all deprecated modules.

##### ISSUE T

[2020-08-26 10:04] gryphius opened #71460 "ansible 2.9.12 cron tasks clears the rest of the file"
##### SUMMARY
executing a `cron` tasks with ansible 2.9.12 clears all other jobs/environment variables present in the specified `cron_file`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cron

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

 * Mac OSX 10.15.6
 * Python 3.8.5

##### STEPS TO REPRODUCE

 * write a simple playbook with two cron tasks that wri

[2020-08-26 10:05] ssbarnea opened #71461 "Ansible should not wrap lines when tty is absent"
##### SUMMARY
Ansible should not wrap lines when tty is absent

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/lib/ansible/utils/display.py

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]
The command above will wrap warning messages at 79 lines, something that would make close to impossible to process the stderr lines. Same happens if output is redirected to a normal

[2020-08-26 10:19] mkrizek commented on #71460
Duplicate of https://github.com/ansible/ansible/issues/71368

[2020-08-26 10:19] #71460 closed, assigned to nobody

[2020-08-26 10:45] abadger commented on #71395
@acozine @samccann would it be okay to update the sphinx version?  I don't know why it's pinned right now.

[2020-08-26 13:03] nervo opened #71464 "ansible-base 2.10 unavailable on ppa for trusty/xenial"
##### SUMMARY
As seen on https://launchpad.net/~ansible/+archive/ubuntu/ansible/+packages, ansible-base 2.10 is available on bionic and eoan, but unavailable on trusty and xenial

I've spotted that the 2.10 ppa (https://launchpad.net/~ansible/+archive/ubuntu/ansible-2.10) *DOES* include both bionic and eoan AND trusty and xenial

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ppa

##### ANSIB

[2020-08-26 14:16] dennis3d15 opened #71465 "service_facts fix for Ansible 2.8.14"
Hi,

We are still using Ansible 2.8.14 because upgrading will break stuff we are using.

For the install of Docker on Ubuntu 20.04 we use the service_facts check in the playbook, only the service_facts does not work for Ubuntu 20.04.

We found a fix on github https://github.com/ansible/ansible/pull/68211 but this is not for Ansible 2.8.14.

Is it possible to make this work for Ansible 2.8.14?

[2020-08-26 14:17] ila-001 opened #71466 "boto3/boto is already exist, However S3_sync modules are failing with "boto3 required for this module""
Kindly let us know which boto/boto3 should be running.

##### SUMMARY
We already have boto3 running on the Server. Everything was running fine. All of a sudden S3_sync is failing with "boto3 required for this module"
pip list |grep boto
boto                             2.45.0
boto3                            1.10.18
botocore                         1.13.18

were as the playbook is running fine for

[2020-08-26 14:17] sivel commented on #71464
Trusty and Xenial are both missing dependencies necessary for actually using Ansible.  Trusty is already in end of standard support, and Xenial will reach that in April 2021.

As of now, we have no plans of purposefully providing packages for trusty and xenial. I believe the fact that they are showing up in the ansible-2.10 ppa is accidental.

[2020-08-26 14:21] sivel commented on #71465
Ansible 2.8 is no longer receiving bug fixes.  See https://docs.ansible.com/ansible/devel/reference_appendices/release_and_maintenance.html#ansible-release-cycle

Ansible 2.8 will only receive security fixes going forward, until 2.11 is released.

You will need to upgrade, or maintain your own modified copy of the `service_facts` module.

If you have further questions please stop by IRC or the mai

[2020-08-26 14:21] #71465 closed, assigned to nobody

[2020-08-26 14:32] #71466 closed, assigned to nobody

[2020-08-26 14:40] #65549 closed, assigned to nobody

[2020-08-26 15:03] cesarjorgemartinez commented on #41313
Hi good afternoon,

The motivation for this issue not is find a workaround, is that in Ansible
include the flush with a when, because is a obvious behaviour. If I don't
find a workaround, then I will be breaded...

The fix is include in a flush task a when clause that works...

Regards,
Cesar Jorge

El dom., 16 ago. 2020 18:46, Eduardo <notifications@github.com> escribió:

[2020-08-26 15:11] #23144 closed, assigned to Akasurde

[2020-08-26 16:05] #71235 closed, assigned to acozine

[2020-08-26 16:11] samccann opened #71468 "[1/1] Have one source of truth for Release and Maintenance information"
##### SUMMARY

Today, each Ansible release has its own Release and Maintenance page. This leads to a scattering of old/confusing information in older releases that users stumble upon.

Instead, use the 'devel' release and maintenance page as the single source of truth and point all other pages to this one.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

https://docs.ansible.com/ans

[2020-08-26 16:47] sivel commented on #67423
!component =lib/ansible/modules/net_tools/nios/nios_fixed_address.py

[2020-08-26 17:02] #67423 closed, assigned to nobody

[2020-08-26 18:02] sivel commented on #17911
Resolved by https://github.com/ansible/ansible/pull/69618

[2020-08-26 18:02] #17911 closed, assigned to nobody

[2020-08-26 18:03] sivel commented on #18513
Is this still an issue in current version of Ansible?

needs_info

[2020-08-26 18:10] sivel commented on #31690
!component =lib/ansible/modules/cloud/openstack/os_server_facts.py

[2020-08-26 18:11] sivel commented on #34733
Thank you very much for your interest in Ansible. We are no longer accepting new modules or plugins in this repository.

You may wish to submit this feature request to https://github.com/ansible-collections/community.general

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansib

[2020-08-26 18:11] #34733 closed, assigned to nobody

[2020-08-26 18:23] Joebortscheller commented on #34733
Ok

Joseph Bortscheller

[2020-08-26 18:32] #31690 closed, assigned to nobody

[2020-08-26 19:10] julmac0 commented on #34764
I am still experiencing this on 2.9.9 Ansible.

[2020-08-26 19:14] sivel commented on #45233
!component =lib/ansible/module_utils/openstack.py

[2020-08-26 19:15] sivel commented on #47925
!component =lib/ansible/plugins/inventory/openstack.py

[2020-08-26 19:15] sivel commented on #54332
!component =lib/ansible/modules/cloud/openstack/os_project_info.py

[2020-08-26 19:32] #54332 closed, assigned to nobody

[2020-08-26 19:32] #47925 closed, assigned to nobody

[2020-08-26 19:32] #45233 closed, assigned to nobody

[2020-08-26 19:47] Shrews commented on #20496
Unable to reproduce. I find the example to reproduce unusual, too, given identical `src` and `dest` values. Given no response from the submitter, I'm going to close this. If you find this is still an issue, feel free to open a new issue with a working reproducer.

Should you disagree with this conclusion, you may also wish to join our mailing lists, which are very active:

   * https://groups.goog

[2020-08-26 19:47] #20496 closed, assigned to nobody

[2020-08-26 19:51] Shrews commented on #24197
Hi @rcarrillocruz!

I know you're out of the OpenStack world now, but if you'd still like to see this feature, the OpenStack modules are now moved out of Ansible and into a collection at: https://opendev.org/openstack/ansible-collections-openstack.git

Closing this request.

[2020-08-26 19:51] #24197 closed, assigned to rcarrillocruz

[2020-08-26 19:54] #36129 closed, assigned to nobody

[2020-08-26 19:54] #53750 closed, assigned to nobody

[2020-08-26 19:54] #71107 closed, assigned to nobody

[2020-08-26 20:04] sivel commented on #21298
This issue appears to be resolved in recent versions of Ansible:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-08-26 20:04] #21298 closed, assigned to bcoca

[2020-08-26 20:36] acozine opened #71479 "Update docs links to the module index to point to the collection index"
##### SUMMARY
We have links to the module index page in some obscure places, including a bunch of `See Also` sections at the bottom of pages.

Anywhere the docs include:

[code]

Update to:

[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs.ansible.com
collections

##### ANSIBLE VERSION
2.10

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

[2020-08-26 20:50] samccann commented on #71395
@abadger it's pinned because of a note that says rstcheck only works up to 1.7.9.  So we'd have to:

- [ ] bump it up to 2.2.2 (the version I think that has this fix)

- [ ] test locally, on a mac, and verify it doesn't throw any new errors (sphinx updates in the past have required some other fixes to go with it)

- [ ] test rstcheck to determine that note is no longer valid with modern version of

[2020-08-27 05:34] mkrizek commented on #68702
Closing as the functionality has been documented in the above PR.

[2020-08-27 05:34] #68702 closed, assigned to nobody

[2020-08-27 05:38] mkrizek commented on #54601
!component =lib/ansible/vars/manager.py

[2020-08-27 06:05] mkrizek commented on #58056
!component =lib/ansible/modules/network/ios/ios_command.py

[2020-08-27 06:05] mkrizek commented on #51186
!component =lib/ansible/modules/network/sros/sros_command.py

[2020-08-27 06:09] mkrizek commented on #61424
!component =lib/ansible/module_utils/network/nxos/nxos.py

[2020-08-27 06:10] mkrizek commented on #44831
!component =lib/ansible/modules/network/iosxr/iosxr_command.py

[2020-08-27 06:11] mkrizek commented on #44133
!component =lib/ansible/modules/network/ios/ios_ntp.py

[2020-08-27 06:12] mkrizek commented on #41404
!component =lib/ansible/modules/network/nxos/nxos_pim_rp_address.py

[2020-08-27 06:17] #58056 closed, assigned to justjais

[2020-08-27 06:17] #51186 closed, assigned to nobody

[2020-08-27 06:23] mkrizek commented on #15403
!component =lib/ansible/modules/network/ios/ios_config.py

[2020-08-27 06:29] psdileep opened #71481 "Getting Error in ansible"
##### SUMMARY
I am new to ansible and trying to set up 1 ansible controller and 2 target systems.

When I tried to setup ansible in my system, getting below error

##### ISSUE TYPE
- Bug Report

root@controller-node:~# ansible 1.7.2
 [WARNING] Ansible is in a world writable directory (/root), ignoring it as an ansible.cfg source.
ERROR: Invalid ini entry: playbook.yml - need more than 1 value to u

[2020-08-27 06:30] mkrizek commented on #71481
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-08-27 06:30] #71481 closed, assigned to nobody

[2020-08-27 06:33] #61424 closed, assigned to trishnaguha

[2020-08-27 06:33] #44831 closed, assigned to nobody

[2020-08-27 06:33] #44133 closed, assigned to nobody

[2020-08-27 06:33] #41404 closed, assigned to nobody

[2020-08-27 06:33] #15403 closed, assigned to nobody

[2020-08-27 06:45] psdileep commented on #71481
Thank you

On Thu, Aug 27, 2020 at 12:00 PM Martin Krizek <notifications@github.com>
wrote:

[2020-08-27 07:05] nervo commented on #71464
Thanks for your answer :)

Dropping support for trusty seems legit, but as you say, xenial is still alive :)
I'd like to point that - as no official debian repositories are maintained - ppa *could* also be used for debian, by mapping lts versions
jessie -> trusty
stretch -> xenial
buster -> bionic

Would you consider still supporting (at least) xenial and it's big brother  stretch ? 🙏

[2020-08-27 07:57] ebuildy commented on #63933
Did you set ``K8S_AUTH_SSL_CA_CERT`` env variable?

Look like this force cert validation, despite VERIFY setting.

[2020-08-27 07:57] mnecas opened #71483 "No warning when collection does not exist"
##### SUMMARY

When running the playbook with specifying collection which does not exist works without any error.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

collections
##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Run playbook with specifying collection which does not exist.

[code]

##### EXPECTED RESULTS

Show some error/fail.

##### ACTUAL RESULTS

[code]

[2020-08-27 08:15] relrod commented on #71464
@nervo they're still "supported" as in they'll continue to receive 2.9 updates as usual in the PPA. `ansible-base` (anything 2.10+) uses py3 in its deb packaging now, and Xenial lacks some py3 deps that we would need. If someone packages those and gets them in Xenial, we could revisit, but that's not something we're planning to take on at this time.

[2020-08-27 08:49] nervo commented on #71464
@relrod all right, i now have all the ins and outs :)

Thanks again for your great job !

[2020-08-27 08:49] #71464 closed, assigned to relrod

[2020-08-27 08:57] Sacrome commented on #56839
I have created a PR that removes the `mode: preserve` option from the included docs_fragment documentation "FILE_COMMON_ARGUMENTS":
https://github.com/ansible/ansible/pull/71486

[2020-08-27 10:13] urskog84 commented on #50719
I get the same type off error when i Upload/POST file to a API.

**Error**
`Status code was -1 and not [200]: Request failed: <urlopen error [Errno 32] Broken pipe>`

**Playbook task.**
[code]
**Error on run**
[code]

[2020-08-27 11:31] DaVince commented on #69373
I agree with that. If we could have a `no_log_parameters` option this would allow for error output to be shown without exposing possibly sensitive data in any of the module parameters.

Some other ideas?
Probably less feasible to implement could be a `no_log_passwords` option that scans for specific sensitive data in the output and only obscures that data.

Or something similar to `when`, but for

[2020-08-27 12:13] sboldt1978 opened #71487 "Failure when using cgroup_perf_recap (still)"
##### SUMMARY
Hi, I'm expiriencing exactly the same problem as described in Case #64936 (which is closed)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cgroup_perf_recap

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL 8.0 (tested on Ubuntu 18.04.4 as well)

##### STEPS TO REPRODUCE

When using the callback plugin I get a reasonable output for memory

[2020-08-27 12:16] rbott opened #71489 "cron: multiple jobs in the same cron_file overwrite each other since 2.9.12"
##### SUMMARY
If you put multiple cronjobs in a single file (using the [cron module](https://docs.ansible.com/ansible/latest/modules/cron_module.html)), each call to the module will overwrite the entire cronjob file. The result is that we only have one single (the last) cronjob in that file. This problem first appeared with 2.9.12, 2.9.11 is not affected. It might be related to #71134, but not sur

[2020-08-27 12:21] mkrizek commented on #71489
Duplicate of https://github.com/ansible/ansible/issues/71213

[2020-08-27 12:21] #71489 closed, assigned to nobody

[2020-08-27 12:26] mkrizek commented on #71487
!component =lib/ansible/plugins/callback/cgroup_perf_recap.py

[2020-08-27 12:41] #71487 closed, assigned to nobody

[2020-08-27 13:24] pranavgaikwad opened #71490 "Stat module not working"
##### SUMMARY

The Ansible `stat` module has stopped working for me. I recently upgraded to Fedora 32 and I believe that's what has caused it to fail. However, I am not 100% certain about that.

The module fails with following error:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

stat

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- Fedora 32 (Wo

[2020-08-27 13:43] OlivierRoger opened #71491 "Ansible - module postgresql_query : Input SQL file with multiple queries | output query_result only latest query"
##### SUMMARY
Module : postgresql_query
Input File.sql with many queries
Return Values  query_result : only show latest query result

I want full result of my SQL File.

##### ISSUE TYPE
- Help

##### COMPONENT NAME
Module : postgresql_query
Return Values  query_result

##### ANSIBLE VERSION
ansible 2.8.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/deployer/

[2020-08-27 13:44] OlivierRoger commented on #71491
Input : 03_TBF.sql = 01_TBF.sql + 02_TBF.sql
Result : 03_TBF.sql = 01_TBF.sql (latest query)

[2020-08-27 13:48] #71491 closed, assigned to nobody

[2020-08-27 13:49] sivel commented on #71490
Looking at your configuration, you have set the following configuration:

[code]

Based on your output, which contains the following line:

[code]

This indicates that `/home/pranav/Projects/pvc-migrate/2_pvc` is a symlink to `/usr/bin` or contains a symlink of `/home/pranav/Projects/pvc-migrate/2_pvc/stat` -> `/usr/bin/stat`.

As such, Ansible is using the actual `stat` binary as a module, instea

[2020-08-27 13:49] #71490 closed, assigned to nobody

[2020-08-27 14:18] pranavgaikwad commented on #71490
@sivel what a dumb mistake, my bad. I think, at some point, I appended the whole `$PATH` variable to `ANSIBLE_LIBRARY` to add a custom module I wrote. That messed up a lot of other stuff. Thank you for your prompt reply.

[2020-08-27 15:24] ktbyers commented on #71405
I tried testing without the action_plugin (as I am not using it for this playbook) and I observed the same failure (this was with Ansible 2.9.12)

[code]

Updated .ansible.cfg file:

[code]

[2020-08-27 15:37] #56839 closed, assigned to nobody

[2020-08-27 15:40] ktbyers commented on #71405
I undid the `network_cli.py` change in the above referenced PR (https://github.com/ansible/ansible/pull/69642) and rolling back that change fixed the issue:

[code]

[code]

[2020-08-27 17:44] sivel commented on #70023
Resolved by https://github.com/ansible/ansible/pull/71336

[2020-08-27 17:44] #70023 closed, assigned to nobody

[2020-08-27 17:46] Shrews commented on #29632
Having the module automatically create missing portions of the supplied path brings up all sorts of issues, not the least of which is specifying permissions/ownership/etc. The proper way to handle this is to add tasks that pre-create the destination, if needed, using the `file` module.

If you have any further questions, please let us know by reaching out to us on IRC, or stopping by one of the tw

[2020-08-27 17:46] #29632 closed, assigned to nobody

[2020-08-27 17:57] Shrews commented on #30115
Looks like this was added with #28465. Closing issue.

[2020-08-27 17:57] #30115 closed, assigned to nobody

[2020-08-27 18:21] Shrews commented on #33180
Per-task timeout was recently implemented in #69284. Closing this issue.

[2020-08-27 18:21] #33180 closed, assigned to nobody

[2020-08-27 18:42] Shrews commented on #35374
I'm also unable to reproduce this behavior with latest ansible and MacOS Catalina. Given that it's been almost 3 years with no reliable reproducer, and MacOS (as well as Ansible) has changed quite a bit since then, I'm going to go ahead and close this issue. However, if you find the issue still persists with the latest versions, please open a new issue (and perhaps reference this issue #) and I'd

[2020-08-27 18:42] #35374 closed, assigned to nobody

[2020-08-27 18:45] samccann commented on #59796
No I think the statement works as is.  The notes mention comes after the statement about the default shell for other OS's. We can leave this open for a few days to see if @jkirk has further thoughts on this.

[2020-08-27 19:19] samdoran commented on #71444
@aminvakil Feel free to submit a PR with a fix as well as tests.

[2020-08-27 19:34] samdoran commented on #71459
This is more a feature idea than a bug report, but we are not sure this is something we want to add to `ansible-doc`.

The deprecation information for this module is available in `https://github.com/ansible-collections/community.kubernetes/blob/main/meta/runtime.yml`. Module deprecation information should come from the collection.

The documentation for deprecated plugins/modules _should_ have the

[2020-08-27 19:42] #32174 closed, assigned to nobody

[2020-08-27 19:45] ssbarnea commented on #71459
I am more worried about core modules and how this information is exposed, or not. If we determine a standard way to expose the deprecations, we could make use of it, even if some of them may not yet expose it yet in a standard way.

[2020-08-27 19:55] samdoran commented on #71483
I am fairly certain this is working as intended (I would have to ask @nitzmahone). There are arguments for the current behavior as well as warning. We should discuss this in the next IRC meeting since this would be a change in behavior that some may be relying on.

[2020-08-27 20:41] RudneiBertolJr opened #71498 "Ansible is not getting the correct VMware cluster name when the cluster name has '/' on the name."
### SUMMARY

This issue was raised, during the test for the BZ https://bugzilla.redhat.com/show_bug.cgi?id=1872477, where the cluster name is being collected and encoded as URL.

i.e: Cluster name is 'Cluster DEV/QA'.
Instead of the VMware cluster being present as 'Cluster DEV/QA' it is present as 'Cluster DEV%2fQA'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_cluster_info

##### A

[2020-08-27 20:48] #71498 closed, assigned to nobody

[2020-08-27 20:52] nitzmahone commented on #71483
Yeah, it is "as-designed", though I've considered adding a warning if your `collections` search list contains a collection we can't load. I can't think of a terrible reason *not* to do it.

[2020-08-27 23:49] georgedorn opened #71502 "AWS Lambda role will sometimes return erroneous ARN (continues)"
This issue was first reported as #47264 and it continues.  This is likely an issue with AWS, but ansible could fix it internally.

##### SUMMARY
The ARN returned by `lambda` varies, sometimes having a version number appended, sometimes having `:$LATEST` appended.  This causes a problem if it is used verbatim, e.g. to connect an S3 notification to that lambda function.

##### ISSUE TYPE
- Bug Repor

[2020-08-28 00:02] #71502 closed, assigned to nobody

[2020-08-28 03:43] jdmarshall commented on #71415
I was experiencing this with k3s-ansible. I'll see if I can come up with a more compact example.

[2020-08-28 04:20] Joebortscheller commented on #71415
Dude someone help me with this pile of a human!

[2020-08-28 04:21] Joebortscheller commented on #71415
Location Sharing

Joseph Bortscheller

[2020-08-28 06:01] #16949 closed, assigned to nobody

[2020-08-28 07:30] Lin-Buo-Ren commented on #66414
@bcoca

I can ensure this problem can be reproduced on 2.9.12.

[2020-08-28 08:38] wookietreiber opened #71503 "`mode: preserve` can be misleading/misunderstood, deprecate it and offer `mode: preserve_src` and `mode: preserve_dest`"
##### SUMMARY

IMHO, `mode: preserve` is misleading and can be misunderstood. That is because the name by itself does not clearly specify which mode is to be preserved, the **source** or the **destination**. In my case, my intuition led me to believe that the mode on the destination is preserved. It would be more explicit/clear if it were named `mode: preserve_src`.

I know that the documentation

[2020-08-28 09:15] RichWJFalconer opened #71504 "URI module requires undocumented read access to /etc/ansible when using TLS"
##### SUMMARY

The `uri` module (via the underlying `urls` module_utils class) unexpectedly requires read access to `/etc/ansible` on the target host. This is not in the documentation of the `uri` module anywhere. The module **does** test for the existence of the directory but then blindly assumes it has read access. Global read access to this directory is normal but shouldn't be assumed, I can th

[2020-08-28 09:17] RichWJFalconer commented on #71504
Sections of code responsible:

- Where /etc/ansible is included in the CA search path
  - https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/urls.py#L850-L852
- Where existence of directories in the CA search path is checked but not read access:
  - https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/urls.py#L875-L877

[2020-08-28 09:36] gitbeyond opened #71505 "rabbitmq_user has a bug when use permissions arg"
##### SUMMARY

I defined a var like follow:
[code]
tasks:
[code]
the error like:
[code]
I got the permissions_to_clear  var:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

[2020-08-28 09:40] mkrizek commented on #71505
!component =lib/ansible/modules/messaging/rabbitmq/rabbitmq_user.py

[2020-08-28 09:45] #71505 closed, assigned to nobody

[2020-08-28 10:53] wookietreiber opened #71506 "[ansible-galaxy] uses incorrect mode when installing role"
##### SUMMARY
`ansible-galaxy` uses incorrect file mode.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

(no changes)

##### OS / ENVIRONMENT

- Arch Linux, installed in fresh virtualenv via `pip install ansible-base`

##### STEPS TO REPRODUCE

[code]

Note that I'm the author of `idiv-biodiversity.ntp` and the role/

[2020-08-28 10:55] mkrizek commented on #38450
I could not reproduce the issue with the following reproducer that should be a minimal version of what you have provided:
[code]

Can you try with the current version of ansible to see if it is still an issue? If so, can you please provide a minimal reproducer that we can copy&paste and run? Thanks!

needs_info

[2020-08-28 10:59] BryanEaay opened #71507 "[vmware_guest] Unable to add an existing disk (.vmdk) to another existing VM (shared disks)"
##### SUMMARY

Hi Community,

I'm writting down here today to explain the problem i encouter. I want to create a Playbook that creates a total of 7 disks in a first VM inside a cluster, then adding thoses 7 disks to the other VM that is inside the cluster.

I achieve the first step successfully. My problem is with the second part : "adding the existing disks to my existing VM".

I've spent the las

[2020-08-28 11:08] #71507 closed, assigned to nobody

[2020-08-28 11:24] SimonHeimberg commented on #23801
This should be done automatically for ../vars/main.yml. No need to write this.

But this can be used to load other vars files. like:
[code]

I found where ansible searches for the file by running the role when specal1.yml does not exist (in all places).

[2020-08-28 13:43] rahtr opened #71508 "Lookup plugin 'template' doesn't search when a relative path is defined inside the templates directory"
##### SUMMARY

The template plugin doesn't search for the file in templates directory

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

template module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS 10.15.6 (19G2021)

##### EXPECTED RESULTS

The temple

##### ACTUAL RESULTS

The template plugin the doesn't search for the file in roles directory

[co

[2020-08-28 13:46] sivel commented on #71504
Duplicate of https://github.com/ansible/ansible/pull/44150

[2020-08-28 13:46] #71504 closed, assigned to nobody

[2020-08-28 13:53] Shrews commented on #43523
The above analysis is correct. Because begin/end markers are found, the `insertafter` is not used. The latest docs for [blockinfile's `insertafter`](https://docs.ansible.com/ansible/devel/collections/ansible/builtin/blockinfile_module.html#parameter-insertafter) attempt to clarify how this works a bit better.

Closing per above.

If you have any further questions, please let us know by reaching ou

[2020-08-28 13:53] #43523 closed, assigned to nobody

[2020-08-28 14:41] rguhr opened #71509 "Lazy loading not working when using default() filter in combination with dig lookup"
##### SUMMARY

When using `default()` filter in combination with a lookup filter which use `dig()` - the dig lookup will be evaluated even if the `default()` path is not triggered. Lazy loading seems not working in this case.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

default filter
dig filter
lookup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[c

[2020-08-28 15:07] rjeffman commented on #68361
Is there a fix for this issue?

PR #69965 was closed in favor of a different approach, but there does not seem to be a PR for to fix this issue.

[2020-08-28 15:14] sivel commented on #36875
Duplicate of https://github.com/ansible/ansible/issues/68364

[2020-08-28 15:14] #36875 closed, assigned to nobody

[2020-08-28 15:14] bcoca commented on #31406
cc @acozine .. i believe i did document this but cannot find it, let me know if you need text to fill in if i didn't.

[2020-08-28 15:22] sivel commented on #27705
We just ran across this issue in our backlog meeting, and I'm basically echoing what @nitzmahone has said above. Within the current callback infrastructure, this isn't really feasible.  There are also some issues with trying to make callback execution async.  We could do synchronous threads, so we could easily cancel them.  But I don't still don't see this as something we are going to address any

[2020-08-28 15:25] bcoca commented on #46397
discussed this in backlog review, the thought it callbacks are only for display/handling event data and should not feedback into play execution. A strategy might be a better option for a plugin that handles playbook/play execution.
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

We discussed this in backlog review, the th

[2020-08-28 15:25] #46397 closed, assigned to nobody

[2020-08-28 15:32] bcoca commented on #27745
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, handlers execute once per multiple notifications, handing off arguments would require a major redesign of how handlers work and would have to execute more than once per stage notified.

However, we're absolutely always up for discussion.
Since this is a really

[2020-08-28 15:32] #27745 closed, assigned to nobody

[2020-08-28 15:32] dreaddesign opened #71510 "rds_instance module to allow copying snapshot from one region to another"
##### SUMMARY

Extend to allow module to copy an rds snapshot to another region.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

rds_instance
##### ADDITIONAL INFORMATION

During automated backups of databases, duplicate copies and move copies to different region for backup redundancy and to ensure availability of rds instance backups.

[code]

[2020-08-28 15:33] bcoca commented on #52837
cc @acozine in case we want to make some use cases and guide

[2020-08-28 15:36] bcoca commented on #23421
The problem is that you are passing thorugh YAML->Jinja->python->regex so the escaping is not surviving all the way to the end.

[2020-08-28 15:38] bcoca commented on #24327
needs_verified

[2020-08-28 15:40] #71510 closed, assigned to nobody

[2020-08-28 15:42] bcoca commented on #25286
!waiting_on_contributor

[2020-08-28 15:46] bcoca commented on #49610
The error is happening on the controller, not the target mongodb server. Probably due to a lot of data being sent back from the shell task.

[2020-08-28 15:47] sivel commented on #23421
I've done some research here, and because you didn't include the output that you expected, it's taken me several attempts to determine what your expectation is.

I believe the expectation is:

[code]

In which, case, this is actually due to the fact that in `dict0` you wrap your lines in double quotes (`"`) and in `pattern1` you use single quotes (`'`).

Because of the differences in quotes, you a

[2020-08-28 15:47] #23421 closed, assigned to sivel

[2020-08-28 15:47] bcoca commented on #49610
Since we cannot effectively deal with memory errors on the controller, we can only suggest using a redirect to a file and then `fetch` that information.

[2020-08-28 15:47] #49610 closed, assigned to nobody

[2020-08-28 15:49] bcoca commented on #33464
copy is slow because its a 'rsync in python w/o a differential protocol' .. so if you want speed, please use rsync itself (via synchronize  module). This is not meant for bulk/speed copying of data.

[2020-08-28 15:49] #33464 closed, assigned to nobody

[2020-08-28 15:51] bcoca commented on #32800
This is expected, `cmd` bypasses special parsing `shell` does, that is the reason it exists in the first place.

[2020-08-28 15:51] #32800 closed, assigned to nobody

[2020-08-28 15:53] bcoca commented on #32717
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

This can be achieved by using a header and footer file and just ensuring their order. The delimiter option can be used to handle the rest of the cases.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't always see comments on c

[2020-08-28 15:53] #32717 closed, assigned to nobody

[2020-08-28 15:53] samdoran commented on #33464
`copy` executes once for every file. It does not scale to many files, nor is it intended to do so. For copying many files quickly, either `archive`, `copy`, then `unarchive` the files, or use `synchronize` which leverages `rsync`.

[2020-08-28 15:55] bcoca commented on #31982
This used to be an issue in general with chattr handling and the 'extents' property, it should have been fixed already, but we should x2 check.

needs_verified

[2020-08-28 15:58] bcoca commented on #31150
I still need something more to reproduce the issue as the 'chown' failure seems a straight permissions issue

needs_info

[2020-08-28 15:59] bcoca commented on #30963
waiting_on_contributor

[2020-08-28 16:14] sivel commented on #71509
Duplicate of https://github.com/ansible/ansible/pull/56116

As a workaround, you can use the following:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-08-28 16:14] #71509 closed, assigned to nobody

[2020-08-28 16:26] sivel commented on #71508
The problem seems to be that you are not actually using roles.  You have create a directory called `roles` with the correct directory hierarchy, but you have placed a playbook in the tasks dir, and are calling that directly with `ansible-playbook`.  That makes it just a playbook, in a directory structure that matches the expectations of a role.

Instead you would need a playbook that calls the rol

[2020-08-28 16:26] #71508 closed, assigned to nobody

[2020-08-28 16:42] samdoran commented on #71459
Core modules will have the `deprecated` key in the `DOCUMENTATION`.

For core modules (or any module/plugin that uses the `deprecated` key, as it should), the output of `ansible-doc [module module ...] --json` is the best way to get the relevant data.

[2020-08-28 17:00] ssbarnea commented on #71459
That is really a good news as it. I will likely be a little bit slow to dump json for each module but at least it will provide a reliable interface with the linter.

[2020-08-28 17:19] sivel commented on #71506
We use the permissions of the files in the tarfile, and not anything to do with your umask.

Due to the default behavior of `git archive`, the tarballs created by github use a umask of `0002` which produces files with a permission of 0664.

Duplicate of https://github.com/ansible/ansible/issues/53623

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.

[2020-08-28 17:19] #71506 closed, assigned to nobody

[2020-08-28 18:28] sivel commented on #23958
I don't know if this will be of help, since I cannot duplicate the issue, but this is probably a good idea to ensure we clean up things:

[code]

[2020-08-28 18:37] MacFlurry commented on #31150
Hello,
I had since fixed this issue by forcing the `chown`.
I will close this matter.
Yours sincerely,
MacFlurry

[2020-08-28 18:37] #31150 closed, assigned to nobody

[2020-08-28 18:38] sivel commented on #22967
Closing this per above, this is working as expected.  You need to be explicit about paths, or you are in for a difficult time.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-08-28 18:38] #22967 closed, assigned to nobody

[2020-08-28 18:44] sivel commented on #22577
We do have code to do this now in https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/module_args.py but I cannot see us adding it into the main runtime.  It uses test like code, with monkey patching, etc...

Because the arguments can be built at runtime the only way to do this is similar to what you have.

I'd recommend just creating

[2020-08-28 18:44] #22577 closed, assigned to nobody

[2020-08-28 19:18] sivel commented on #30096
We are no longer extending the generic service module.  Feature requests should be submitted against the explicit module that matches your service manager.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-08-28 19:18] #30096 closed, assigned to nobody

[2020-08-28 19:19] sivel commented on #30069
Thank you very much for your interest in Ansible. We have no plans on implementing such a feature. Instead of just using `changed_when: false` you should register a result, and use that within `changed_when` for approximating when things change. Otherwise, if this is insufficient, you should create a more robust module for your specific use cases.

If you have further questions please stop by IRC

[2020-08-28 19:19] #30069 closed, assigned to nobody

[2020-08-28 21:22] acozine commented on #71468
Merged and published to all versions back to 2.4: https://docs.ansible.com/ansible/2.4/release_and_maintenance.html.

[2020-08-28 21:22] #71468 closed, assigned to nobody

[2020-08-28 21:27] mnecas commented on #71483
Yeah at least some warning would be great.
Specially now when we are migrating everything to the collections and if there is something wrong, like incorrect path to the collection or a config. Ansible uses the default modules from ansible 2.9.

[2020-08-28 21:35] acozine commented on #70925
Oops, I moved the issue but forgot to close it!

[2020-08-28 21:35] #70925 closed, assigned to samccann

[2020-08-28 22:19] chilicheech opened #71517 "Reboot module doesn't work with async"
##### SUMMARY
The `reboot` module does not work with `async`, `poll`, and `async_status`. Suppose I have 10 nodes to reboot, but I can only set `fork` to 2. The `reboot` module will reboot 2 nodes at a time. I tried using `async`, `poll`, and `async_status` to kick of the reboots on the 10 nodes, 2 at a time, and then poll for the results. `async` and `poll` seem to do nothing on the `reboot` modu

[2020-08-29 01:34] x-yuri commented on #68364
In other words, `hostvars[inventory_hostname]` gives you a `HostHostVars` instance that has no global variables like `hostvars`, only the [`inventory_hostname`'s variables][2].

See the [original issue][1]. And a [related issue][3].

[1]: https://github.com/ansible/ansible/issues/36875#event-3704396675
[2]: https://github.com/ansible/ansible/blob/v2.10.0/lib/ansible/vars/hostvars.py#L96
[3]: https

[2020-08-29 03:52] guessi opened #71519 "Only last cron task being written into target output file (introduced after 2.9.12)"
##### SUMMARY

Only last cron task being written into target output file (introduced after 2.9.12).

I've created a repo to describe how I hunt this bug,
- https://github.com/guessi/ansible-cron-bug-report

behavior comparison for ansible 2.9.11 / 2.9.12 could be found here:
- [2.9.11 output log](https://github.com/guessi/ansible-cron-bug-report/blob/master/run-with-ansible-2-9-11.log)
- [2.9.12 o

[2020-08-29 05:24] mkrizek commented on #71519
Duplicate of https://github.com/ansible/ansible/issues/71213

[2020-08-29 05:24] #71519 closed, assigned to nobody

[2020-08-29 07:40] wookietreiber commented on #53623
This issue can lead to unintended consequences when using `mode: preserve`, because the mode of the source file is preserved.

[2020-08-29 09:35] queglay opened #71520 "PATH in shell is not matching what it should for a user"
##### SUMMARY
If I ssh into a shell in CENTOS 7, then PATH is this:
[code]

However, in an Ansible role checking whoami and $PATH produces this for the same user:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible host running on ubuntu 16.  Target node is Centos 7.

##### STEPS TO REPRODUCE

[2020-08-29 10:20] guessi commented on #71519
@mkrizek thanks for the update. I can see there's a good sign to have #71244 been included in next release cycle 👍

[2020-08-29 14:14] jxu6619 opened #71521 "VMware: vmware_guest module does not set network for RHEL 8 images"
It looks somebody mentioned the same issue, but it sounds we can't find the solution.
Here is playbook. It sounds the issue is on "wait_for_ip_address: yes". The result is that there is not any IP configuration and IP's up.
    - name: "Provision new VM using VMWare Template"
      vmware_guest:
        hostname: "{{ vCenterHostname }}"
        username: "{{ vCenterUsername }}"
        password: "

[2020-08-29 22:08] colans commented on #60449
Migrated to https://storyboard.openstack.org/#!/story/2008086.

[2020-08-29 22:12] colans commented on #62760
MIgrated to https://storyboard.openstack.org/#!/story/2008087.

[2020-08-29 22:21] colans commented on #31360
Migrated to https://storyboard.openstack.org/#!/story/2008088.

[2020-08-29 22:25] CarlFK opened #71522 "Python psycopg2 module is required"
### SUMMARY

migrating this from  https://github.com/ansible/ansible/issues/6989
 "Python psycopg2 module is required"
pierot opened this issue on Apr 14, 2014 · 11 comments

The issue was maked close, but it does not seem to have been addressed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_db
https://docs.ansible.com/ansible/latest/modules/postgresql_db_module.html#requirements

[2020-08-29 22:26] #71522 closed, assigned to nobody

[2020-08-30 15:59] khirodpatra opened #71525 "deligate_to: localhost asking sudo password"
##### SUMMARY
deligate_to: localhost asking sudo password and then throw below error :

fatal: [10.200.6.23]: UNREACHABLE! => {"changed": false, "msg": "Failed to create temporary directory.In some cases, you may have been able to authenticate and did not have permissions on the target directory. Consider changing the remote tmp path in ansible.cfg to a path rooted in \"/tmp\", for more error info

[2020-08-30 16:43] khirod12 commented on #71525
I tried same "deligation_to: localhost " task on a centos machine , and it work . does it looks something special such as sshd configration , any environment variable ? nor sure why it is not working on Ubuntu machine

[2020-08-31 02:55] Jaycean opened #71526 "ansible of arm64 architecture"
- I have problems installing k8s using ansible of arm64 architecture. Do I need to compile or modify the relevant configuration？
[code]

[2020-08-31 03:09] #71526 closed, assigned to nobody

[2020-08-31 04:26] Akasurde commented on #71521
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware

Migrated this issue in the above repository - https://github.com/ansible-collections/vmware/issues/369.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* ma

[2020-08-31 04:26] #71521 closed, assigned to nobody

[2020-08-31 07:13] robertdebock opened #71528 "Service is in unknown state"
#### SUMMARY
Services in containers on Fedora 32 report `Service is in unknown state` when trying to set `state: started`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
systemd

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Controller node: Fedora 32, **just updated**.
Managed node: any, tried Fedora 32 and CentOS 8.

##### STEPS TO REPRODUCE
[code]

#####

[2020-08-31 08:01] hoerup opened #71529 "hcloud inventory docs doesnt mention private_ipv4 connection"
PR #67453 added support for `connect_with: private_ipv4` but this option is not mentioned in the documentation

[2020-08-31 08:09] hoerup commented on #71529
!component =lib/ansible/plugins/inventory/hcloud.py

[2020-08-31 08:10] #71529 closed, assigned to nobody

[2020-08-31 08:17] mkrizek commented on #71525
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-08-31 08:17] #71525 closed, assigned to nobody

[2020-08-31 08:57] nomadcz opened #71531 "tags don't expand variables correctly"
##### SUMMARY

Using variable in a "tags" section doesn't work as expected.

This maybe related https://github.com/ansible/ansible/issues/69903

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL7

##### STEPS TO REPRODUCE

This doesn't work:

[code]
When 'cm_roles' is
[code]
Following ends up with an error:

[2020-08-31 12:02] zeph-rpulse opened #71532 "vmware_guest: cannot relocate VM to a different datastore"
##### SUMMARY
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[code]

[code]
or

[code]
[code]

##### EXPECTED RESULTS
- Disk will be migrated to other datastore.

##### ACTUAL RESULTS
- Disk remains on the initial datastore, no attempts to relocate VM disk and files.

[code]

[2020-08-31 12:06] #71532 closed, assigned to nobody

[2020-08-31 12:50] gtema opened #71534 "pytest-xdist (2.1.0) conflicts with pytest < 6.0.0 capped in ansible-test constraints"
##### SUMMARY

Using of the `ansible-test units --requirements --python 3.8` locally on a random ansible collection fails with

[code]

Reason is pytest < 6.0.0 capped in the https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/_data/requirements/constraints.txt, but a new release of pytest-xdist (2.1.0) is not compatible with pytest < 6.0.0, while not being capped in constraints.

[2020-08-31 13:43] sivel commented on #71531
Duplicate of https://github.com/ansible/ansible/issues/69903

[2020-08-31 13:43] #71531 closed, assigned to nobody

[2020-08-31 13:58] willrowe commented on #44314
It would be really great if I could get any kind of feedback on this, whether it is a nofix or there is an alternate way to approach this. This is a huge sticking point right now as these containers cannot be automated in any way with Ansible.

[2020-08-31 14:10] vguillard opened #71536 "cron module is not idempotent with Ansible 2.9.12"
##### SUMMARY
When running this task a second time, ansible 2.9.12 marked this as a change, but there are any changes.
[code]

Ansible mark this "changed" but when I check on the target (md5sum /etc/cron.d/myjob ; ls -l /etc/cron.d/myjob), there are no changes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cron

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRON

[2020-08-31 14:13] sivel commented on #71536
Duplicate of https://github.com/ansible/ansible/issues/71213

[2020-08-31 14:13] #71536 closed, assigned to nobody

[2020-08-31 14:35] MacDada commented on #31150
@MacFlurry What do you mean by `forcing`?

[2020-08-31 14:40] sgargel opened #71538 "ec2_instance writes tags when in check mode"
##### SUMMARY

When using `ec2_instance` module in a playbook to configure tags those  are written even if you are in check mode.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_instance

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
* `inventory/host_vars/my-aws-machine.yml`

[code]
* `playbook.yml~

[code]

##### EXPECTED RESU

[2020-08-31 14:42] Shrews commented on #47917
Looks like this should have been closed with #31452 being merged.

If you have any further questions, please let us know by reaching out to us on IRC, or stopping by one of the two mailing lists, as appropriate:

   * IRC: #ansible on irc.freenode.net
   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ans

[2020-08-31 14:42] #47917 closed, assigned to nobody

[2020-08-31 14:47] Shrews commented on #47681
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-08-31 14:47] #47681 closed, assigned to nobody

[2020-08-31 14:49] #71538 closed, assigned to nobody

[2020-08-31 14:52] samdoran commented on #71459
Just an FYI, if you pass in a space delimited list of modules, it is much faster than looping over a list of modules and running `ansible-doc` once per module.

[2020-08-31 15:00] ssbarnea commented on #71459
That is really great as I cam first made a call to get all modules, and a second call with all modules space separated. I can even find a way to cache the result to avoid regenerating the big dict on each execution.

[2020-08-31 15:02] sivel commented on #33106
Thank you very much for your interest in Ansible. We are no longer accepting new modules or plugins in this repository.

You may wish to re-submit this feature request to https://github.com/ansible-collections/community.general

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/an

[2020-08-31 15:02] #33106 closed, assigned to nobody

[2020-08-31 15:09] sivel commented on #31012
This issue has been resolved in more recent versions of Ansible.  You should note that the use of `include` should now be switched to `include_tasks` for proper functionality.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-08-31 15:09] #31012 closed, assigned to nobody

[2020-08-31 15:24] #70273 closed, assigned to nobody

[2020-08-31 15:33] sivel commented on #17346
This should be handled using a vault password script. The script would use gpg to decrypt a file that contains the central vault password file, and return that value.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-08-31 15:33] #17346 closed, assigned to nobody

[2020-08-31 15:38] sivel commented on #19378
The goal of the file module is to ensure a state.  In Ansible 2.7 we added `modification_time` and `access_time` that accept a `preserve` argument, to ensure that these values are not changed.

The alternative to your situation is to use `copy` with an empty `content` and `force: no`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2020-08-31 15:38] #19378 closed, assigned to nobody

[2020-08-31 15:41] Shrews commented on #47192
I believe this is just a misunderstanding of how `blockinfile` works.

When you have multiple blockinfile operations on the same file, you must make sure that both begin and end markers are unique for each block. So if you were to modify your helper task to:

[code]

And start with a `result.txt` file that looks like...

[code]

...then you will see the results that you expect, independent of the

[2020-08-31 15:41] #47192 closed, assigned to nobody

[2020-08-31 15:45] sivel commented on #17763
This has been resolved in https://github.com/ansible/ansible/pull/58000

[2020-08-31 15:45] #17763 closed, assigned to nobody

[2020-08-31 15:47] sivel commented on #22404
Closing per above.

[2020-08-31 15:47] #22404 closed, assigned to nobody

[2020-08-31 15:49] sivel commented on #22267
Thank you very much for your interest in Ansible. We are no longer extending the functionality of the generic service module, and we are no longer accepting new modules or plugins in this repository.

You may wish to re-submit the feature request for a new xinetd service module to https://github.com/ansible-collections/community.general

If you have further questions please stop by IRC or the mail

[2020-08-31 15:49] #22267 closed, assigned to nobody

[2020-08-31 15:51] sivel commented on #21914
This issue has been resolved by https://github.com/ansible/ansible/pull/62602

[2020-08-31 15:51] #21914 closed, assigned to nobody

[2020-08-31 15:52] sivel commented on #21259
We have decided to completely deprecate and remove the command warnings in https://github.com/ansible/ansible/pull/70504

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-08-31 15:52] #21259 closed, assigned to nobody

[2020-08-31 15:56] sivel commented on #25384
Closing per above. We have no plans to allow this behavior.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-08-31 15:56] #25384 closed, assigned to nobody

[2020-08-31 15:58] sivel commented on #23676
This issue has been resolved by https://github.com/ansible/ansible/pull/69284

[2020-08-31 15:58] #23676 closed, assigned to nobody

[2020-08-31 15:59] sivel commented on #23143
We have no plans to migrate away from using a PPA, and this is a limitation of using a PPA.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-08-31 15:59] #23143 closed, assigned to nobody

[2020-08-31 16:01] Shrews commented on #51151
With the introduction of collections, we are not really accepting or developing new modules for ansible-base. This might be an appropriate request for the [community.general](https://github.com/ansible-collections/community.general) collection.

You can find more information about collections at https://docs.ansible.com/ansible/devel/dev_guide/developing_collections.html.

Thank you once again for

[2020-08-31 16:01] #51151 closed, assigned to nobody

[2020-08-31 16:03] sivel commented on #27229
Thank you very much for your interest in Ansible. We are no longer accepting new modules in this repository.

You may wish to re-submit this feature request to https://github.com/ansible-collections/community.general

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-proje

[2020-08-31 16:03] #27229 closed, assigned to nobody

[2020-08-31 16:14] Shrews commented on #29424
Hi.

The `blockinfile` module needs begin/end markers to identify the text to replace when it is run multiple times on a file. You may use `insertbefore` or `insertafter` to control where the _initial_ insert will be placed. But after an initial insert, the begin/end markers are necessary.

You may want to look into using the `lineinfile` or `template` modules instead.

If you have any further que

[2020-08-31 16:14] #29424 closed, assigned to nobody

[2020-08-31 17:41] sivel commented on #71447
You could make use of the `from_ini` filter in https://galaxy.ansible.com/sivel/toiletwater

[code]

Looking at the code of the `ini` lookup, it would require a larger re-working to support this, and I'm not sure how feasible that will be, or how soon anyone would look at it.

[2020-08-31 17:53] samdoran commented on #24327
I am unable to reproduce this issue. I ran the following playbook inside a `edxops/xenial-common:latest` container:

[code]

[code]

[2020-08-31 17:54] samdoran commented on #24327
I also tried in a CentOS 8 container that did not have `/etc/suders.d/edxadmin` already present and it worked as well.

[code]

[2020-08-31 17:55] samdoran commented on #24327
Since I'm not able to verify this, I'm going to close. If this is still an issue with newer versions of Ansible, please open a new issue.

[2020-08-31 17:55] #24327 closed, assigned to nobody

[2020-08-31 18:14] Shrews commented on #30821
Unable to reproduce this, but I do note that the example playbook is using `remove_src` and not the correct `remote_src`. With current ansible, I get an error about an invalid parameter. Not sure what version 2.3 did, but the module has undergone quite a bit of changes since the original report.

@africanzoe can you still recreate this issue with a corrected playbook?

needs_info

[2020-08-31 19:08] jpgrall opened #71544 "vmware_guest_disk fails to add multiple disks on vCenter 7"
##### SUMMARY

vmware_guest_disk fails to add multiple disks on vCenter 7.0.  Fails with "Cannot add multiple devices using the same device key in the event" and invalidProperty = "deviceChange[1].device.key" is seen in the vpxd.log of the vCenter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_disk

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONM

[2020-08-31 19:13] #71544 closed, assigned to nobody

[2020-08-31 20:23] africanzoe commented on #30821
It has been 3years now, I don't remember within which context I had this bug and I didn't reproduce it with the newer versions of Ansible.
I don't know if this bug is still relevant, I don't have time neither to invest to reproduce the issue.
Thanks for your effort in all cases.

[2020-08-31 20:25] ratripathi commented on #71508
thanks @sivel for your answer.

Here is what I did:

1. Created a role using --> ansible-galaxy init roles
2. Navigate to the newly create role--> cd roles
3. Create another role--> ansible-galaxy init role1
4. Adding the templates so that the folder would look like-->
[code]

ansible-playbook /Users/rahul/Documents/REPO/kr-dp-ao/roles/demo/tasks/playbook.yml --extra-vars "@deployment-parameters.j

[2020-08-31 20:34] sivel commented on #71508
Roles do not contain playbooks.  You are roughly creating a role hierarchy, but are misusing the feature, effectively making it not a role. Because of this, what you are attempting will not work.  You will need to research and understand the role feature, to get the behavior you want.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2020-08-31 20:54] ratripathi commented on #71508
Thanks @sivel . Indeed that was the issue. I moved the playbook and it worked as expected.
Thanks for the tip.

[2020-08-31 22:43] Shrews commented on #30821
Closing per above.

[2020-08-31 22:43] #30821 closed, assigned to nobody

[2020-09-01 00:00] automateyournetwork opened #71554 "Connection type ssh is not valid for this module"
##### SUMMARY
Hello - I am trying to run the ios_banner or ios_config modules from inside a Docker image container but when my play runs I get this error

Connection type ssh is not valid for this module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_Banner or ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

 Docker image container

##### S

[2020-09-01 00:17] #71554 closed, assigned to nobody

[2020-09-01 02:37] nyetwurk commented on #25414
Do not close this bug please.

[2020-09-01 02:38] nyetwurk commented on #25414
What info do we need here? Just failing doesn't work, we need a retry. A simple retry doesn't work because it isn't atomic and is full of race issues.

[2020-09-01 04:22] drym3r commented on #25414
/bot_status

[2020-09-01 04:22] drym3r commented on #25414
Not sure what @ansibot is expecting from me, but I agree the issue is not solved.

[2020-09-01 06:23] jklingbe commented on #71453
Hi team - any ETA for a fix for this problem?

[2020-09-01 09:37] dangel101 opened #71558 "list: updates in yum module doesn't list obsolete packages"
##### SUMMARY
when running the ansible module yum: list: updates there are no results listed, while there are obsolete packages to update

when running yum check-update from shell I get these results:
[root@localhost yum.repos.d]# yum check-update
Loaded plugins: enabled_repos_upload, imgbased-persist, package_upload, product-id, search-disabled-repos, subscription-manager,
              : vdsmupg

[2020-09-01 13:11] jpgrall commented on #71544
Moved ticket to https://github.com/ansible-collections/vmware/issues/373

[2020-09-01 13:25] ironfroggy opened #71560 "Galaxy Login using a Github API endpoint about to be deprecated"
##### SUMMARY
`ansible-galaxy login` uses the OAuth Authorizations API which is going to be deprecated on November 13, 2020. Any applications authenticating for users need to switch to their newer methods: https://docs.github.com/en/developers/apps/authorizing-oauth-apps#device-flow

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy login

##### ANSIBLE VERSION
This affects all v

[2020-09-01 13:34] remenic opened #71561 "cron module removes all entries"
##### SUMMARY
When using the **cron** module with the _cron_file_ directive, it replaces all entries except the only being added at that time.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cron module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Arch Linux

Linux ZBook-15 5.8.4-arch1-1 #1 SMP PREEMPT Wed, 26 Aug 2020 18:35:43 +0000 x86_64 GNU/Linux

##

[2020-09-01 13:47] sivel commented on #71561
Duplicate of #71213

[2020-09-01 13:47] #71561 closed, assigned to nobody

[2020-09-01 13:55] #71420 closed, assigned to nobody

[2020-09-01 14:34] wookietreiber opened #71562 "debug module with list of vars"
##### SUMMARY

The **debug** module accepts a list of vars.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

debug

##### ADDITIONAL INFORMATION

It would be both easier to comprehend and faster to type than multiple **debug** tasks.

[code]

Alternatively:

[code]

[2020-09-01 14:59] newswangerd commented on #71560
Adding the P1 label because this will break login on all versions of the `ansible-galaxy` cli.

[2020-09-01 15:06] bcoca commented on #15350
closing as per above

[2020-09-01 15:06] #15350 closed, assigned to nobody

[2020-09-01 15:10] bcoca commented on #17205
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this because you can already use operators to achieve the same thing (+ , - , / ...)

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't always see comments on closed tickets, but want to e

[2020-09-01 15:10] #17205 closed, assigned to nobody

[2020-09-01 15:19] bcoca commented on #19278
closing as per above

[2020-09-01 15:19] #19278 closed, assigned to nobody

[2020-09-01 15:25] samdoran commented on #18142
Closing per above. The solution is to use `>-`. See https://yaml-multiline.info for more information.

[2020-09-01 15:25] #18142 closed, assigned to nobody

[2020-09-01 15:28] samdoran commented on #18142
@fatmcgav Your error is unrelated to this issue. You need to add an additional `\` to the `match()` arguments.

[code]

[2020-09-01 15:33] bcoca commented on #65104
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this feature because there are already many ways to specify a OR'd list of conditionals.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't always see comments on closed tickets, but want

[2020-09-01 15:33] #65104 closed, assigned to nobody

[2020-09-01 15:34] bcoca commented on #65836
Task names need to be the same for all hosts, so they will not have host specific variables available.

[2020-09-01 15:34] #65836 closed, assigned to nobody

[2020-09-01 15:38] bcoca commented on #66916
this is a HostVarsVars issue (the object you get from hostvars['host'] which tries to simulate a dictionary), it is not properly 'stingifiying' as dictionaries normally do. The fix would be to force this behaviour, which is not done as it would require templating every value and the object itself exists to avoid that for performance reasons.

[2020-09-01 15:39] kladiv commented on #65836
@bcoca why not possible? It can be really useful for user messages

[2020-09-01 15:43] s-hertel commented on #17937
It looks like this was fixed in 6f2f7a79b34910a75e6eafde5a7872b3e7bcb770.

[2020-09-01 15:43] #17937 closed, assigned to nobody

[2020-09-01 15:44] bcoca commented on #68459
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this idea because we don't think we need to codify the tags in this way, comments or documentation would already handle the need and it wouldn't be in a backwards incompatible format (dicts vs lists)

However, we're absolutely always up

[2020-09-01 15:44] #68459 closed, assigned to nobody

[2020-09-01 15:49] bcoca commented on #69373
This is by design since the task definition can vary in almost infinite permutations and there is no clear way to signal what is 'safe to show'. For debugging you CAN turn no_log off at the task level but of course that comes at the expense of security.

[2020-09-01 15:49] #69373 closed, assigned to nobody

[2020-09-01 15:51] bcoca commented on #70218
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-09-01 15:51] #70218 closed, assigned to nobody

[2020-09-01 15:53] bcoca commented on #71399
For Ansible Tower support or questions, please utilize https://access.redhat.com/products/ansible-tower-red-hat

For the OSS version (AWX) https://github.com/ansible/awx

This issue tracker is for the open source Ansible CLI tools project.

[2020-09-01 15:53] #71399 closed, assigned to nobody

[2020-09-01 15:54] bcoca commented on #71447
closing as per above

[2020-09-01 15:54] #71447 closed, assigned to nobody

[2020-09-01 15:55] loop-evgeny commented on #69373
OK, I get that error messages generated by the tasks are not safe to show, since they might contains secret variables, but "The task includes an option with an undefined variable" seems like an error that happened in code outside the task module, before that was even entered. Isn't that kind of error safe to show?

[2020-09-01 16:00] #71224 closed, assigned to mattclay

[2020-09-01 16:35] aminvakil commented on #71520
`shell` and `command` module do not use "login shell", therefore they don't source `/etc/profile`.

More on login vs non-login shells: https://wiki.archlinux.org/index.php/Bash#Invocation

You can source `/etc/profile` before executing shell like this:
[code]

[2020-09-01 16:53] #70295 closed, assigned to acozine

[2020-09-01 17:05] mariolenz opened #71563 "[2.9] vmware_guest: Support HW version 15"
##### SUMMARY
We need to deploy VMs with HW version 15, but 2.9 doesn't support this. 2.10 does, but it's not stable yet.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_guest

##### ADDITIONAL INFORMATION
[code]

[2020-09-01 17:07] #71563 closed, assigned to nobody

[2020-09-01 18:33] sivel commented on #71520
Closing per above.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-09-01 18:33] #71520 closed, assigned to nobody

[2020-09-01 18:52] reselbobasg opened #71568 "Do you all have a a branching and release policy?"
I am doing an article on branching and release policies for the most popular open-source projects. To say Ansible is not popular is an extreme understatement.

Thus, I ask, do you have have a branching and release policy/pattern that I can read? Or is it a matter of convention and tribal knowledge? If so, what is the policy/pattern?

Thanks in advance,
Bob Reselman

[2020-09-01 18:55] sivel commented on #71568
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

If you can stop by there, we'd

[2020-09-01 18:55] #71568 closed, assigned to nobody

[2020-09-01 18:57] sivel commented on #21208
If you need to utilize `init.d` scripts, you can utilize the `sysvinit` module. The `service` module is the generic module, and has a `use` argument, that can specify the specific backend, in this case `sysvinit`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-09-01 18:57] #21208 closed, assigned to nobody

[2020-09-01 19:13] sivel commented on #19711
Closing per https://github.com/ansible/ansible/issues/19711#issuecomment-271157611

[2020-09-01 19:13] #19711 closed, assigned to alikins

[2020-09-01 19:14] sivel commented on #19422
To explicitly work with `init.d`, you will need to either directly invoke the `sysvinit` module, or specify `use=sysvinit` with the `service` module.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-09-01 19:14] #19422 closed, assigned to nobody

[2020-09-01 19:54] sivel commented on #19352
The problem here is in how you are passing the env var into ansible.

When you effectively do the following:

[code]

Ansible has to try to intelligently split based on both an `=` and ensuring things are encompassed by quotes, and there are subtle consequences to achieving that goal.

If you were to remove the single quotes around the value, the problem would go away.  Additionally, if you were t

[2020-09-01 19:54] #19352 closed, assigned to nobody

[2020-09-01 19:59] jborean93 commented on #71453
@jklingbe I've just opened a PR https://github.com/ansible/ansible/pull/71570 that should fix the problem. If you are encountering this issue it would be great if you could test it out and verify that it fixes the problem. Unfortunately I cannot actually replicate the problem personally but I believe I understand the root cause and the PR should fix it.

[2020-09-01 20:03] sivel commented on #17700
Related: https://github.com/ansible/ansible/issues/35029

There are details missing here, but the other issue was related to disabling sftp batch mode.  Disabling batch mode prevents us from capturing errors related to failed transfers.

If you have disabled batch mode, remove that configuration and you should get the expected outcome.

I'm going to close this out. If you are still having problems

[2020-09-01 20:03] #17700 closed, assigned to nobody

[2020-09-01 20:04] sivel commented on #17685
Thank you very much for your interest in Ansible. This is a feature we have no intentions of adding at this time.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-09-01 20:04] #17685 closed, assigned to nobody

[2020-09-01 20:04] sivel commented on #17434
Thank you very much for your interest in Ansible. We have no plans to accept this feature at this time.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-09-01 20:04] #17434 closed, assigned to nobody

[2020-09-01 20:06] sivel commented on #17324
We purposefully do not template dictionary keys.  We only template values.  This is a conscious decision, and we have no plans to change this behavior.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-09-01 20:06] #17324 closed, assigned to nobody

[2020-09-01 20:29] ssafron opened #71571 "Ansible virt module targets wrong KVM guest when ansible-playbook run in parallel"
##### SUMMARY

When ansible-playbook is run in parallel on the same KVM host, acting on different KVM guests, the "virt" Ansible module sometimes gets confused about which KVM guest it is referring to.

During "virt undefine" and "virt destroy" Ansible sometimes fails with `Domain not found: no domain with matching id <id>` where `<id>` is not the id of the guest I targeted.
During "virt undefine"

[2020-09-01 20:31] #71571 closed, assigned to nobody

[2020-09-01 20:59] atlantis-droid opened #71574 "Host is unreachable by SSH while running Ansible playbook"
Host is unreachable by SSH while running Ansible playbook.  Ran Ansible playbook on 15 hosts, 13 were provisioned successfully, 1 was unreachable even though they were configured the same.  Here is the actual error received.  Can anyone help?  Thx

fatal: [Host]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: FIPS mode initialized\r\nDisabling GSSAPIKeyExchange.

[2020-09-01 21:03] sivel commented on #71574
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-09-01 21:03] #71574 closed, assigned to nobody

[2020-09-01 21:15] atlantis-droid opened #71575 "Host SSH key not recognized when trying to SSH into remote repository using Ansible playbook"
Host SSH key not recognized when trying to SSH into remote repository using Ansible playbook.  Remote repository was verified to have the correct SSH key from host, but still wouldn't recognize host when trying to clone from the repository.  Ran Ansible on 15 hosts, 13 were successful, 1 failed to clone from remote repo even though they were configured the same.  Here is the actual error received.

[2020-09-01 21:19] sivel commented on #71575
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-09-01 21:19] #71575 closed, assigned to nobody

[2020-09-01 21:22] samdoran commented on #71286
There is no way to skip the test command. It would be better to figure out why it is failing. Does the system need more time? Does it need a different test command? Both of those are parameters that can be set.

Here is an example that waits for 90 seconds after rebooting then run the [`true`](https://www.ibm.com/support/knowledgecenter/ssw_aix_72/t_commands/true.html) command which looks like it

[2020-09-01 21:37] queglay commented on #71520
Sorry I missed the notification for this.  Thankyou for the information, That helps a lot!

[2020-09-01 21:50] mahedevops commented on #38702
Having the same issue here:  Any help is appreciated.
Using
ansible --version
ansible 2.5.2
  config file = /etc/ansible/ansible.cfg
    python version = 2.6.6

**site.yml**
- name: Live patch
  hosts: all
  become: yes

  tasks:
      - name: Update the packages using uptrack
       shell: 'uptrack-upgrade -y'
       args:
         executable: /usr/sbin
**ERROR:**
fatal: [10.0.0.1]: FAILED! => {"

[2020-09-01 22:10] jshimkus-rh commented on #71528
It does appear related to Fedora 32 as the target, though my experience doesn't preclude a controller-side issue as well.

I'm using macOS 10.15.6 with ansible 2.9.10 as the controller and am only seeing the issue with Fedora 32; Fedora 30 & 31 are fine.

[2020-09-01 22:27] nitzmahone commented on #71560
Backed the issue off to a P2- we don't need to create a release for this right now, but it should be dealt with as soon as reasonably possible.

Assuming the device flow works as it says, I think this won't be too big a deal to add support for. I've already got most of the code written, but the Device Flow code generation endpoint is giving me a 404 for both the real Galaxy app `client_id` as well

[2020-09-01 22:57] jszakmeister commented on #21208
@sivel It wasn't really about how to use `init.d` scripts.  The issue was about the service not starting.  I pointed out the same solution as you but it's kind of a workaround/hack.  The core problem here (and perhaps shouldn't be accommodated by Ansible) is that `initctl` is a dummy executable that always returns success in the docker instance. :-(

[2020-09-01 23:02] newswangerd commented on #71560
Glad you're taking care of this

[2020-09-01 23:58] jklingbe commented on #71453
Hi Jordan - that's great news, and yes, we would love to test it out!  How
do I get hold of the fix and how is it applied?

Regards,

John Klingberg
Master Certified Solution Architect
GTS Hybrid Services Technology
IBM Services

Mobile:
+61-412-688-050
e-mail:
jklingbe@au1.ibm.com

Out of Office alert: October 5 & 6

From:   Jordan Borean <notifications@github.com>
To:     ansible/ansible <ansibl

[2020-09-02 03:35] jborean93 commented on #71453
The simplest way would be to clone my repo and run Ansible from there like

[code]

You probably also have to run `ansible-galaxy collection install ansible.windows` to include the Windows collection so you can still run modules like `win_ping/win_command/win_whoami`.

You could also replace `lib/ansible/module_utils/csharp/Ansible.Become.cs` in your Ansible install location with the one in that P

[2020-09-02 06:47] stanleyw2014 opened #71586 "Failed to build ansible v2.9+"
##### SUMMARY
When run make sdist, there will be error
mkdir -p ./docs/man/man1/ ; \
PYTHONPATH=./lib hacking/build-ansible.py generate-man  --template-file=docs/templates/man.j2 --output-dir=docs/man/man1/ --output-format man lib/ansible/cli/*.py
usage: build-ansible.py [-h] {release-announcement} ...
build-ansible.py: error: argument command: invalid choice: 'generate-man' (choose from 'release-

[2020-09-02 07:47] fvant commented on #29321
This module 'cloud/amazon/ec2_vpc_route_table.py'  is not present in https://github.com/ansible-collections/amazon.aws/tree/main/plugins/modules
where did it go ?

[2020-09-02 08:39] mkrizek commented on #29321
@fvant https://github.com/ansible/ansible/issues/29321#issuecomment-674598375 points at https://galaxy.ansible.com/community/aws which points at https://github.com/ansible-collections/community.aws.

[2020-09-02 09:22] MrGitBlob commented on #70357
I've also just hit this.
Can't even use debug to dump a var, after installing python2-salt (v 3000-138.1) on el7.

As soon as python2-salt goes in, i'm getting this:
[WARNING]: Failure using method (v2_runner_on_ok) in callback plugin (<ansible.plugins.callback.yaml.CallbackModule object at 0x7faec54eeb50>): value must be a string

Remove python2-salt, and it works again.

[2020-09-02 10:33] zhangs-ibm opened #71589 "k8s module delete job do not cascading delete the pods which were created by job"
##### SUMMARY
Use K8s module delete job do not trigger cascading delete the pods which were created by job

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
use ansible-operator `quay.io/operator-framework/ansible-operator:v0.17.2`

##### STEPS TO REPRODUCE
1. create any job at k8s cluster
2. use following a

[2020-09-02 10:35] #71589 closed, assigned to nobody

[2020-09-02 10:42] zhangs-ibm commented on #71589
Here is the discussion at kubernetes API issues, might related with:
https://github.com/kubernetes/kubernetes/issues/20902#issuecomment-321216843

[2020-09-02 11:54] rocko-n opened #71591 "delegate_to doesn't work when using ansible_connection winrm"
##### SUMMARY
After updating from ansible 2.9.9 to ansible 2.9.10 delegate_to tasks stopped to work when using ansible_connection winrm

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
delegate_to

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Any Windows host (Windows Server 2019 for example)

##### STEPS TO REPRODUCE

Just run this playbook using ansible 2.9.10+ against any windows

[2020-09-02 12:27] NilashishC commented on #42874
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos.

BFD support was added to a bunch of the NX-OS modules as mentioned in the above comment. As such, I will be closing this feature request. In case we've missed certain modules, please re-submit this issue in the above r

[2020-09-02 12:27] #42874 closed, assigned to nobody

[2020-09-02 13:12] #40049 closed, assigned to nobody

[2020-09-02 13:15] nomadcz commented on #71277
Probably duplicate of https://github.com/ansible/ansible/issues/53779 ?

[2020-09-02 13:46] nikola197 opened #71593 "[MODULE] jenkins_plugin: install uncompatible plugin with current Jenkins version"
##### SUMMARY
When `state: latest` is set in jenkins_plugin module, it install the latest plugin version even if it is not compatible with the current Jenkins version.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Module: jenkins_plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host: Ubuntu 20.04
Remote: MacOS Catalina 10.15

##### STEPS TO REPROD

[2020-09-02 13:51] #71593 closed, assigned to nobody

[2020-09-02 13:57] sivel commented on #70357
In Ansible 2.10 this will no longer be a problem.  Salt does a bad thing in its code, by monkey patching `CLoader` overtop of `Loader`.  Because we have a `salt` connection plugin in Ansible <2.10, and we pre-load all connection plugins, it causes the `salt` connection to import salt, which taints pyyaml.  We had not used the `CLoader` in this code path, so our code would not have created the issu

[2020-09-02 14:24] JG127 opened #71594 "[azure rm] Container private ip addresses"
##### SUMMARY
At this time the module azure_rm_containerinstance provides support for public and no ip address. However, for containers connected to a virtual network there seem to be no support.

It should be possible to provide a 'private' network type. In which case it is mandatory to provide the name of a virtual network and the name of a subnet in that particular network.

##### ISSUE TYPE
-

[2020-09-02 14:25] DaVince commented on #69373
At this point I think we'll have more luck if a feature request ticket was made to include something like `no_log_parameters` and `no_log_stdout`...

[2020-09-02 14:27] #71594 closed, assigned to nobody

[2020-09-02 15:04] JG127 opened #71595 "[azure rm] Container volumes"
##### SUMMARY
Provide support for persistent volumes for Azure Container Instances

The lack of support for persistent storage means ACI lose all file system changes as soon as they are stopped.

The Azure portal web ui does not offer support for it either. But the command line api does.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
module azure_rm_containerinstance

##### ADDITIONAL INFO

[2020-09-02 15:09] #71595 closed, assigned to nobody

[2020-09-02 16:00] acozine opened #71596 "Automate translation process for the ansible-base docs"
##### SUMMARY
For the Japanese translations of the Ansible 2.9 documentation we had a manual process for the translation team. We can improve on that for the ansible-base 2.10 translations.

The ansible-base docs translation process is different from the Tower docs translation process for a number of reasons. We do not allow anyone to push branches to the main repo for ansible/ansible. Also, we do

[2020-09-02 16:30] gderemetz opened #71599 "Cloudformation how to remove all global tags"
Hello,

##### SUMMARY
How can I delete all global tags from my cloudformation stack ?
the tag MyTagName is always present on the aws console. I don't know how delete it.
Nothing is changed when I remove the tag parameter. I have to delete the stack  and replay it without the parameter
best regards

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cloudformation

##### ANSIBLE VERSION

[

[2020-09-02 16:32] #71599 closed, assigned to nobody

[2020-09-02 18:08] salderma commented on #66916
A colleague of mine, who is running Focal has encountered this issue as well.  We have a git repo w/ a Vagrantfile using Ansible as provisioner, and his machine fails to process every single hostvars magic variable use case.  I am running Bionic and have no issues.  The two of us have spent the day trying to figure out why things work for me and not for him when using `vagrant up --provision` or `

[2020-09-02 18:24] samccann opened #71601 "Create a 'getting started' guide for developers"
##### SUMMARY

This came up as a possible ansibleFest topic, so thought it would be worth having a specific getting started guide for developers so they can quickly learn how to:

- get ansible from source and set up your basic development environment
- Open a PR for a bugfix or new option to a module
- how to find the module source code in the collections world
- PR requirements like changelogs,

[2020-09-02 18:25] samccann commented on #71601
https://github.com/greg-hellings/ansible_collection_demo - has some info that might be helpful for starting a new collection.

[2020-09-02 18:37] robertdebock commented on #71528
I'm pretty sure it's a bug/feature related to Fedora 32, although I'm unsure how to fix it or even what is happening exactly.

To reproduce, create a Fedora 32 Ansible controller, update it and run ansible or molecule.

Thanks for following up @jshimkus-rh!

[2020-09-02 19:03] pabelanger opened #71602 "setuptools 50.0.0 breaks ansible-test sanity"
##### SUMMARY

We are seeing an issue with the latest version of setuptools breaking ansible-test sanity. This happens when you create your own virtualenv to run ansible-test from.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-test

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

centos-8

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2020-09-02 19:04] negillett opened #71603 "k8s_info doesn't show "Route" resources"
##### SUMMARY
When using k8s_info module to get select resources under a namespace, none of kind "Route" are returned.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Create route resources in OpenShift, use k8s_info to fetch them.

[code]

##### EXPECTED RESULTS

Gi

[2020-09-02 19:11] acozine opened #71604 "[1]Add collections contribution details"
##### SUMMARY
The https://docs.ansible.com/ansible/devel/community/contributing_maintained_collections.html page could use a paragraph that covers the general process of opening a PR or issue, what happens next, etc. Add this just above the existing `Requirements to merge your PR` section.

The process may vary from one collection to another, but it generally follows this outline:
Raise PR -> Loop

[2020-09-02 19:11] #71603 closed, assigned to nobody

[2020-09-02 19:12] sivel commented on #71602
It looks like this also requires `virtualenv<20` in order for `virtualenv` to install the most updates `setuptools`, such as `virtualenv==16.7.10`

[2020-09-02 19:20] iturovsky commented on #10829
My usecase:
* change Windows  computername
* reboot with reboot task following immidiately after this one with _when: first_task.changed_
* install AD DS binaries
* reboot with reboot task following immidiately after this one with _when: second_task.changed_
* create AD domain
* reboot with reboot task following immidiately after this one with _when: third_task.changed_
* etc

So several reboot ta

[2020-09-02 20:26] jshimkus-rh commented on #71528
I created a box for use with vagrant based on Fedora 32 this past Monday.  Deploying that encounters this issue when attempting to do a systemd restart of chronyd.

I have a different Fedora 32 VM that I set up a couple of weeks ago (August 13).  Provisioning that using the same playbook, etc. succeeds.  Today, I took a snapshot of it and started doing piecemeal 'dnf update' to try and isolate if

[2020-09-02 20:42] #17268 closed, assigned to nobody

[2020-09-02 21:08] RRohi commented on #71444
Found out that the order is also incorrect in **nat** table.

**comment** is still last in the list where it fixed the main table comment position.

[code]

[code]

[2020-09-03 04:43] Akasurde commented on #71586
@stanleyw2014 Thanks for reporting this issue. Could you please fill the required details? This helps us to understand the issue and debugging it. Thanks.

[2020-09-03 05:10] stanleyw2014 commented on #71586
steps to reproduce:
1 git checkout stable-2.9
2 make rpm
3 the build will be end in an error:
mkdir -p ./docs/man/man1/ ; \
PYTHONPATH=./lib hacking/build-ansible.py generate-man --template-file=docs/templates/man.j2 --output-dir=docs/man/man1/ --output-format man lib/ansible/cli/*.py
usage: build-ansible.py [-h] {release-announcement} ...
build-ansible.py: error: argument command: invalid choice:

[2020-09-03 05:11] stanleyw2014 commented on #71586
BTW, is there a workaround for this issue before it get fixed?

[2020-09-03 06:49] Akasurde commented on #71586
I think there is something wrong in the working directory. I am not able to reproduce this.

[code]

[2020-09-03 06:49] wolcen commented on #11024
### Regarding the merge request:

@danielporto it doesn't look like it - seems the merge request was closed as the target for community modules was shifted.

I think a new merge request will have to be made to send the module over to https://github.com/ansible-collections/community.general instead. @manumeter - are you up for that? (I'll volunteer if you are not - it'd give me something to do on c

[2020-09-03 07:01] #46169 closed, assigned to mkrizek

[2020-09-03 07:59] jantari commented on #48352
I also encountered this problem today with the repository for Ubiquiti Networks UniFi Controller.
Here is the task:
	- name: Update apt package repositories if older than 10 mins
	  become: true
	  apt:
		update_cache: yes
		cache_valid_time: 600
	  when: ansible_pkg_mgr == "apt"

and here the full error it produces (with yaml callback plugin):
	TASK [common : Update apt package repositories if ol

[2020-09-03 08:30] vbotka commented on #47917
It looks like this should not have been closed.

* https://gist.github.com/vbotka/0310137cfa0d853e4f53d50ef2e880f7

[2020-09-03 09:40] kevinvalk opened #71615 "postgresql_privs silently fails when using lowercase public role"
##### SUMMARY
When using postgresql_privs to change permissions on the PUBLIC role, the module will fail silently when using lowercase public. Typing the REVOKE/GRANT queries directly in PostgreSQL, the capitalization of the role name does NOT matter. Hence, I would expect the ansible modules ignore case the same. However, this is not the case as seen at https://github.com/ansible/ansible/blob/7c8

[2020-09-03 09:48] #71615 closed, assigned to nobody

[2020-09-03 10:02] cr00836 opened #71616 "tower_workflow_launch extra_vars"
##### SUMMARY
Using this module fail when using extra_vars
- name: Launch a workflow
  tower_workflow_launch:
    workflow_template: "WKF - Test"
    extra_vars: "@/tmp/test.yml"
  delegate_to: localhost
  run_once: true
  register: workflow_results

~

##### ISSUE TYPE
Trying to pass extra_vars cointained in file when using the module cause an error

The full traceback is:
Traceback (most recent

[2020-09-03 10:03] #71616 closed, assigned to nobody

[2020-09-03 10:05] pierrehenrymuller commented on #71528
Hello,
I have same issue with ansible 2.7 and 2.9 on Debian 10 targets since 2 weeks. On the Debian up to date the only change I have made is the kernel who have passed to 5.8 branch.
I have tested an other 5.8 kernel packaged by Xanmod with same effect https://xanmod.org/

Debian 10
systemd 241
kernel 5.8.5 xanmod or 5.8.5 local compiled
ansible 2.7.14 and 2.9.13

I don't know Fedora 32 but it se

[2020-09-03 10:59] robermp opened #71617 "Error with environment variables parameters should be required"
##### SUMMARY

To allow the inventory to use the environment variables like "env:VMWARE_USERNAME" this parameters should be required, so the code should be change.

This is necessary to don't store credentials in the code.
##### ISSUE TYPE
- Bug Report
[WARNING]:  * Failed to parse /home/jenkins/workspace/vmware-operations/vmware-
inventory/inventories/vmware/cbgi_dynamic_inventory/dynamic_invento

[2020-09-03 11:10] mkrizek commented on #71617
!component =lib/ansible/plugins/inventory/vmware_vm_inventory.py

[2020-09-03 11:14] #71617 closed, assigned to nobody

[2020-09-03 11:25] aminvakil commented on #71444
@RRohi Ansible doesn't care about order of the options for a module.

[2020-09-03 12:09] tkipkurgat commented on #18917
any idea on how to make "workarounds" above idempotent ?

[2020-09-03 13:11] #67307 closed, assigned to nobody

[2020-09-03 13:32] msilmser opened #71618 "Encrypt ansible-vault text while typing"
##### SUMMARY
Customer request: When typing the string to encrypt, it shows up as plain text. Since the string is being encrypted, it's safe to assume that it's sensitive (e.g. passwords) and should therefore be hidden. At the very least, maybe this could be a command line option. If it is hidden, I'd prefer to be forced to enter it twice to avoid mismatch. To mitigate this issue, I am currently u

[2020-09-03 13:37] msilmser opened #71619 "Have only one --name option for ansible-vault encrypt_string (--stdin-name vs --name)"
##### SUMMARY
Provide only a single option to provide naming for encrypt_string

Customer Request: I would think just having --name is sufficient, and if the string to encrypt isn't provided as a command line argument, then get it from stdin. If a user pipes in the string AND provides it on the command line, generate an error.

I'm not sure how many users would actually type the string on the comm

[2020-09-03 13:47] stefan-as opened #71620 "oVirt: 'NoneType' object has no attribute 'disk_attachments' when modifying existing VMs"
##### SUMMARY
When modifying an existing oVirt-VM `ovirt_vm` fails with error message `'NoneType' object has no attribute 'disk_attachments'`.

I assume the bug was introduced by https://github.com/ansible/ansible/commit/508ebf295b8155c0a04e9303090fab050fe6be37#diff-9415a363b6dea8b0c2cb21bd497654a4. Applying this patch, in function `__get_template_with_version` there is only a code path left for n

[2020-09-03 14:00] Shrews commented on #47917
@vbotka Your example uses ^ and $ for `before` and `after`. These appear to match the beginning and end of the entire file contents since it is read in as a single string, so those expressions are not matching. Running with `-vvv` should display a message about not matching. That is a different issue than what this this specific issue was about, which is behavior when those two options are used in

[2020-09-03 14:00] #71620 closed, assigned to nobody

[2020-09-03 14:09] stefan-as commented on #71620
For future reading: re-created as https://github.com/oVirt/ovirt-ansible-collection/issues/100

[2020-09-03 14:20] bcoca commented on #71459
for 'collection deprecations' you do get a:
[code]

[2020-09-03 14:26] webknjaz commented on #71602
Per yesterday slack discussion, adding
[code]
to https://github.com/ansible/ansible/blob/d398a4b/test/lib/ansible_test/_internal/sanity/pylint.py#L256 should fix this issue.

[2020-09-03 14:32] Shrews commented on #19287
Given that we have not seen similar issues since this was reported, and the versions mentioned here are quite old, it's likely safe to assume that the issue was fixed with #18673, so I'm going to go ahead and close this. If it is discovered that this is still and issue, feel free to open a new issue.

[2020-09-03 14:32] #19287 closed, assigned to nobody

[2020-09-03 14:37] Shrews commented on #20582
Given the comment at https://github.com/ansible/ansible/pull/24058#issuecomment-551896590, I'm going to go ahead and close this issue as something we don't intend to change.

If you have any further questions, please let us know by reaching out to us on IRC, or stopping by one of the two mailing lists, as appropriate:

   * IRC: #ansible on irc.freenode.net
   * https://groups.google.com/forum/#!f

[2020-09-03 14:37] #20582 closed, assigned to nobody

[2020-09-03 17:28] relrod commented on #71586
This usually indicates missing dependencies. Here are 3 things to check:

- Ensure all deps are installed, `pip install -r requirements.txt` in the root of the repo
- Note that there's another `requirements.txt` in `docs/docsite`. Ensure that you've done `pip install -r docs/docsite/requirements.txt`
- Ensure you've set PYTHONPATH properly for Ansible development: `source hacking/env-setup`

needs

[2020-09-03 17:57] samccann commented on #70783
2.10 docs will be published as 'latest' on GA day.

[2020-09-03 19:01] abadger commented on #71596
For external people who don't have access to the google doc: the process of extracting the translatable strings from rst to .pot files basically uses this: https://www.sphinx-doc.org/en/master/usage/advanced/intl.html#sphinx-internationalization-details

[2020-09-03 19:09] #23958 closed, assigned to nobody

[2020-09-03 19:16] smokes2345 opened #71623 "RedFish module utilities may not select the appropriate manager for some operations."
##### SUMMARY
When accessing the 'Managers' members, module_utils.redfish_utils.RedfishUtils._find_managers_resource selects the *last* manager returned by the API as the manager to use for executing commands.

##### ISSUE TYPE
The last manager may not be the appropriate manager for the desired command and may not support the desired command.  This also has security ramifications as a command (ex:

[2020-09-03 19:19] smokes2345 commented on #71623
The root of the issue comes down to lines 265 and 266 in module_utils/redfish_utils.py.  Whichever manager is provided *last* by the upstream API is the one used to execute commands in the 'Manager' category.  This is bad as the 'Manager' category can be pretty sensitive to the operation of the server and leaves a lot of room for things to go wrong.

[2020-09-03 19:21] smokes2345 commented on #71623
!component lib/ansible/module_utils/redfish_utils.py

[2020-09-03 19:28] #71623 closed, assigned to nobody

[2020-09-03 19:51] felixfontein commented on #71459
@bcoca true. It only shows the message defined in meta/runtime.yml. If people use the "default" text created during the migration, they end up with this. Would be nice if Ansible would always integrate the FQCN in the message.

[2020-09-03 20:36] imareporter opened #71624 "Galaxy Fetch Fails When Tilde (~) Is Part of Dependency Filename"
## Bug Report

##### SUMMARY

When a file in a role has a tilde (`~`) in the name, the `ansible-galaxy` pull fails.

##### COMPONENT NAME

lib/ansible/cli/galaxy.py

##### STEPS TO REPRODUCE

When filename does not contain a tilde (`~`):

[code]

When filename contains a tilde (`~`):

[code]

##### EXPECTED RESULTS

I would think roles should be able to accommodate tildes in the filenames.

See: h

[2020-09-03 21:04] s-hertel commented on #71591
Can you add a sample inventory and update the actual results to use extra verbosity to show the connection info actually used? I don't think this would be limited to winrm (there have been recent fixes to delegate_to in general), but the reproducer isn't specific enough to know what's happening.

needs_info

[2020-09-03 21:15] relrod commented on #71562
@wookietreiber

Thanks for filing this. After some discussion, we're going to pass on this feature.

There are a few ways to achieve this already:

[code]

or

[code]

or even

[code]

If you have further questions about this behavior, the [ansible-project](https://groups.google.com/forum/#!forum/ansible-project) mailing list is where members of the community will be able to assist you further.

[2020-09-03 21:15] #71562 closed, assigned to relrod

[2020-09-03 23:50] jklingbe commented on #71453
Hi Jordan.  The first 4 steps were ok, but both ansible-playbook and ansible-galaxy are not working due to some packaging issue.
   ansible-galaxy collection install ansible.windows  [error for this command - see attached]

What are we doing wrong?

[windows-ansible-test.docx](https://github.com/ansible/ansible/files/5171900/windows-ansible-test.docx)

[2020-09-03 23:55] l0b0 commented on #71528
Having the same issue with this configuration in an Ubuntu 18.04 LXD container on Arch Linux:

[code]

System:

[code]

Workaround: Manually ensure the service is running and enabled, and remove that step from the Ansible configuration.

[2020-09-04 00:13] jborean93 commented on #71453
I don't have Word or any word compatible software installed on my dev host, can you create a text file the error or just post it in the comment.

[2020-09-04 00:28] AlanCoding opened #71627 "add_host module no longer returns changed=true, errors with changed_when:"
##### SUMMARY
The behavior in Ansible 2.9 was that `add_host:` always came back as changed.

Maybe if the host already existed it should return ok, but I expect that when a host is actually created it is changed.

Sometime between 2.9 and 2.11 it started to always return ok. Trying to make it changed with `changed_when: true` produces a traceback.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NA

[2020-09-04 01:03] jklingbe commented on #71453
[windows-ansible-test.txt](https://github.com/ansible/ansible/files/5172083/windows-ansible-test.txt)

text version of Word doc

[2020-09-04 01:29] jborean93 commented on #71453
The error is around not having the required dependencies for Ansible. If this is a scratch host just install Ansible normally through `yum` before you clone the repo and run `source hacking/env-setup`. That should download the required dependencies that will allow you to run Ansible from the source.

[2020-09-04 02:04] agilleyrh opened #71629 "Have gather_facts only try to collect facts relevant to the system"
##### SUMMARY
When gather_facts gets used against a large number of hosts some of the things can take up a lot of time and severely slow down playbook runs and eat up a lot of resources. An example would be ohai facts on a system that doesn't use chef.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gather_facts

##### ADDITIONAL INFORMATION
have a way for gather_facts to not attempt to obt

[2020-09-04 02:16] AlanCoding commented on #71627
Discovered in playbook https://github.com/ansible/test-playbooks/blob/master/dynamic_inventory.yml

[2020-09-04 06:27] sgrzer opened #71630 "lxd_container parameter url with https url"
##### SUMMARY

lxd_container module
On snap lxd installed ansible machine. I am unable to set a LXD https server using the parameter url or snap_url.

If the parameter url is set to https://lxdserver:8443 the default value of snap_url overwite the parameter url.  The parameter snap_url is validated using os.path.exists() it work for the socket and not https URL.

My workaround :
[code]

https://gi

[2020-09-04 06:30] #71630 closed, assigned to nobody

[2020-09-04 07:12] Andersson007 commented on #71627
@bcoca https://github.com/ansible/ansible/pull/70966/files#diff-9faba8e6151654673ea88e8314c20a42R104-R105 this is maybe unrelated to this case but looks like the `result` variable is always `true`

[2020-09-04 07:15] Andersson007 commented on #71627
@bcoca can't it be related to https://github.com/ansible/ansible/pull/70966 ?

[2020-09-04 07:20] mattclay commented on #71534
@gtema The constraints used by `ansible-test` are not causing this behavior. They only apply to Python 2.6 and 2.7:

https://github.com/ansible/ansible/blob/48f12c14e9ff2b04c49cf6f90a65f4a9ecbb7fc7/test/lib/ansible_test/_data/requirements/constraints.txt#L18-L19

This issue occurs because `pytest==5.4.3` is already installed when running `ansible-test` with `--requirements`. When `pip` is executed

[2020-09-04 07:23] gtema commented on #71534
The problem is caused by the fact that entry
[code]
is present in the released package (download pypi package) in this particular file. I was also very confused not seeing it in the sourcecode, but clearly finding it in the released package

[2020-09-04 07:26] mattclay commented on #71534
@gtema Ah, yes, that constraint was temporarily added to address issues with pytest 6.0.0 -- but it has since been removed, as the issue was resolved another way.

[2020-09-04 07:26] mattclay commented on #71534
@gtema Have you tried Ansible 2.9.13?

[2020-09-04 07:28] gtema commented on #71534
will try it out. Just wanted to automate process with zuul jobs (using 2.10), and those fail

[2020-09-04 07:30] mattclay commented on #71534
`ansible-base==2.10.1rc2` should also have the updated constraints.

[2020-09-04 07:45] gtema commented on #71534
ok, will try it also out

[2020-09-04 07:54] Sacrome commented on #56839
@acozine This issue has been closed however I'd say the (documentation) fix should still be backported to v2.8 and v2.9,
looking at the tag `affects_2.8` on this issue.
I'd be happy to help with that, just let me know what I can do 🙂
I suppose many people use the documentation on docs.ansible.com and it doesn't reflect the fixed documentation yet.

[2020-09-04 08:09] ghost opened #71631 "openssh_keypair error if key already exists"
##### SUMMARY

openssh_keypair throws an error if ssh key pair already exists.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssh_keypair module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Windows 10 + cygwin

##### STEPS TO REPRODUCE
Run a playbook with openssh_keypair twice.

[code]

##### EXPECTED RESULTS
No error expected.

##### ACTUAL RESULTS

[2020-09-04 08:14] #71631 closed, assigned to nobody

[2020-09-04 09:36] Sacrome commented on #56839
I've just created backports for 2.8 and 2.9: https://github.com/ansible/ansible/pull/71633 https://github.com/ansible/ansible/pull/71632

[2020-09-04 11:20] mkrizek commented on #71627
It sounds like we need to have a `_validate_*` method for `changed_when` and `failed_when` as we do for `when`:
[code]

because we effectively revert the post validation for the next iteration:
https://github.com/ansible/ansible/blob/48f12c14e9ff2b04c49cf6f90a65f4a9ecbb7fc7/lib/ansible/executor/task_executor.py#L355-L357

which means that in the strategy the `original_task` contains the unvalidate

[2020-09-04 12:18] mhitza opened #71634 "Ansible 2.9.13 yum repository install "Failed to validate GPG signature for ...""
##### SUMMARY
External repository installation fails via yum in Ansible 2.9.13 (example with remi repo, but same issue encountered with epel).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Tested on both Fedora 32/Ubuntu 20.04 as the host where Ansible is installed.

##### STEPS TO REPRODUCE
1. `pip3 install --user ansible==2.

[2020-09-04 13:03] kpfleming commented on #56839
Thanks to everyone who worked on this issue; I recently added `mode: preserve` in a large set of roles as a result of the (now-backed-out) default mode changes, and had added it to some ini_file and lineinfile tasks.

[2020-09-04 13:17] jsalatiel opened #71635 "vmware_vm_vm_drs_rule should not require vms to toggle enable/disable of a rule"
##### SUMMARY

vmware_vm_vm_drs_rule should allow to enable/disable any existing rule just by name without requiring vms parameter.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_vm_vm_drs_rule

##### ADDITIONAL INFORMATION

To put some host in maintenance mode, I need to disable all the drs rules that force separation of some VMs. To automate the process I would need to be able to

[2020-09-04 13:23] #71635 closed, assigned to nobody

[2020-09-04 14:05] samdoran commented on #71503
The start of this confusion stems from a bad recommendation by the `ansible-lint` rule. It should not be suggesting `mode: preserve` since that only works in two modules. We are actually in favor of [removing this rule altogether](https://github.com/ansible/ansible-lint/pull/1030#issuecomment-686624250) since it causes so much confusion and should no longer be necessary.

I understand how the name

[2020-09-04 14:05] #71503 closed, assigned to nobody

[2020-09-04 14:45] haltunbay opened #71636 "hostname module cannot be used on platform Linux (pardus)"
##### SUMMARY
hostname module fails on linux pardus distributions.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Pardus Gnu/Linux 19.3

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
should set hostname on pardus as well

##### ACTUAL RESULTS

[code]

[2020-09-04 14:46] craph opened #71637 "Systemd & service module doesn't reload and start service"
##### SUMMARY

I'm using the `systemd` module to enable and start an oracledb.service that I have created via ansible template. But it return always `changed` status and when I do a smoke test just after ansible service_facts report that my service is stopped.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

systemd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIR

[2020-09-04 14:51] teomanS commented on #42047
I have the some issiue my ansible-playbook version is 2.9.9 and vSphere version 6.  If I use guest_id, iso file can be mount successfully. If I use template for vm creation, playbook is not getting any error but iso file can not be mount.

ansible-playbook version details;
ansible-playbook 2.9.9
  config file = None
  configured module search path = ['/home/jenkins/.ansible/plugins/modules', '/usr

[2020-09-04 14:59] sivel commented on #71634
This is likely the result of this change: https://github.com/ansible/ansible/pull/71537

You may either need to add `disable_gpg_check: True` to your task, or add a task to add the RPM key, prior to installing the `remi-release` package.

[2020-09-04 15:07] mhitza commented on #71634
Even if I import the key prior to the installation it fails. I've updated my reproduction steps to include the key import step with your task example.

[2020-09-04 15:44] relrod commented on #71634
@mhitza

The remi site says `RPM-GPG-KEY-remi` is for `Fedora <= 25 and EL <= 7`

[code]

This works for me:

[code]

[2020-09-04 15:53] craph commented on #71637
If I reboot the machine the service is running so it's not an issue the file oracledb.service

Same I relaunch the tasks to start oracledb.service twice it finally succeed but the first time when I create the VM it fails

[2020-09-04 15:53] samdoran commented on #17587
After looking at this, I'm in favor of making `get_distribution()` return a distribution for systems other than Linux. It's not named `get_linux_distribution()` and I don't see any obvious harm in making this more useful.

The reason this function only works on Linux was this function used to use `platform.linux_distribution()`. We switched to using `distro` in Anisble 2.8 since `platform.linux_di

[2020-09-04 16:17] mhitza commented on #71634
Thank you @relrod for the correct GPG key. I do not run these tasks myself directly but discovered the bug through my usage of geerlingguy's remi role. I'll bring up the correct GPG key issue to that that repository.

As far as this issue is concerned, seems that it should no longer be considered a bug but just missing documentation/improper reported error message. I'm sure this is gonna break a f

[2020-09-04 16:37] relrod commented on #71634
@mhitza Yeah, I'm expecting some fallout. I've opened #71640 to address documentation as a porting guide entry.

Glad you're good to go, I'll close this for now. Happy Ansibling!

[2020-09-04 16:37] #71634 closed, assigned to nobody

[2020-09-04 16:56] #25286 closed, assigned to nobody

[2020-09-04 16:56] craph commented on #71637
I have tried to split each part like enable service, reload the daemon and start the service. But the output is really strange. When the tasks start oracledb comes the ouput is always **Active = inactive** and status is **dead**

[code]

Here is my yaml file :
[code]

Why reload and started state does nothing .... ???

[2020-09-04 17:11] mpereira opened #71642 "Homebrew module incorrectly fails executing task when package was already installed"
##### SUMMARY
[code]

results in

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[Homebrew module](https://docs.ansible.com/ansible/latest/modules/homebrew_module.html)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Refer to _summary_.

##### EXPECTED RESULTS

I expect the task to complete successfully when a pack

[2020-09-04 17:14] #71642 closed, assigned to nobody

[2020-09-04 17:18] samdoran commented on #31982
I am unable to duplicate this in Ansible 2.4.0 or `devel` using the test playbook provided above. The file is changed and backed up as expected.

[code]

[code]

In the container:

[code]

If you are able to reproduce this issue on a newer version of Ansible, please open a new ticket.

[2020-09-04 17:18] #31982 closed, assigned to nobody

[2020-09-04 17:40] craph commented on #71637
The only way to have something working is to do :
[code]

[2020-09-04 18:06] craph commented on #71637
If I specify a name with **daemon-reload:yes** I have :
[code]

[code]

[2020-09-04 18:17] athompson-merlin opened #71643 "Python errors when connecting to Nexus 91380YC"
##### SUMMARY

When connecting to a Cisco Nexus 9180YC switch using the nxos_vlans module, ansible fails with `SyntaxError: invalid syntax`.  (Works fine on NX3ks, btw.)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_vlans
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
Software
  BIOS: version 07.66
 NXOS: version 9.3(3)
  BIOS compile time:

[2020-09-04 18:20] athompson-merlin commented on #71643
Possibly relevant:  https://quickview.cloudapps.cisco.com/quickview/bug/CSCvu27946

The only hits I'm getting on "SB: Permission denied" relate to running Python *on* the switch...  https://community.cisco.com/t5/data-center-switches/nexus-5548-python-quot-import-smtplib-quot/td-p/3826630 , which doesn't seem to be relevant here.

[2020-09-04 18:24] #71643 closed, assigned to nobody

[2020-09-04 18:32] athompson-merlin commented on #71643
!needs_collection_redirect

I'm not using the Galaxy modules, I'm using the nxos_vlans module shipped in core.  I have no intention of using anything from Galaxy at this time, thank you very much.

[2020-09-04 18:33] sivel commented on #71643
@athompson-merlin that module is now maintained in a completely different repository, and all bug reports and such have to be filed upstream in the correct location, regardless of whether you are actively using the collection or not.

[2020-09-04 18:58] pokepoke81 opened #71644 "vmware_tag_manager failing to validate certs"
##### SUMMARY

The validate_certs option for vmware_tag_manager throws a recursion error
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_tag_manager
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO REPRODUCE

validate_certs: yes with enterprise cert authority root certificate configured

[code]

##### EXPECTED RESULTS

Pla

[2020-09-04 19:06] #71644 closed, assigned to nobody

[2020-09-04 19:19] braindevices opened #71645 "systemd enabled behave different from `systemctl enable`"
##### SUMMARY

when a service foo.service is belongs to a target for example: multi-user.target. Then we change the foo.service to wanted by 2 targets: test.target and multi-user.target, without disable it first. `systemctl enable foo` create a folder `/etc/systemd/system/test.target.wants` and create symlink to `foo.service` in it. The ansible fail to do so, it think the foo is already enabled. W

[2020-09-04 19:35] #69051 closed, assigned to samccann

[2020-09-04 19:37] #70157 closed, assigned to samccann

[2020-09-04 19:58] wells opened #71646 "[vmware] vmware_vswitch module - Add security, teaming, traffic_shaping parameters"
##### SUMMARY
I propose to add the `security`, `teaming`, and `traffic_shaping` dictionary parameters that are accessible one level below in the `vmware_portgroup` module to the `vmware_vswitch` module.

##### ISSUE TYPE
- These settings can be configured on the vSwitches from the ESXi web interface. These settings are also configurable from the vSphere Web Services API from `AddVirtualSwitch` and

[2020-09-04 20:14] #71646 closed, assigned to nobody

[2020-09-04 23:52] seren commented on #68684
Just ran into this as well. Glad there's a workaround, but it would be nice if the debian option were removed or turned into a no-op so this doesn't crop up again.

[2020-09-05 14:38] samdoran commented on #71528
This may be related to a bug in `systemd` that was fixed in 245.7:

https://github.com/systemd/systemd/pull/16424
https://bugzilla.redhat.com/show_bug.cgi?id=1853736

[2020-09-05 14:52] samdoran commented on #71528
What's the output of `systemctl show cron` in the container? Using the container from https://github.com/robertdebock/ansible-role-cron.git, I am unable to duplicate this.

[code]

[code]

[2020-09-05 15:04] samdoran commented on #71528
This seems to be an issue with `systemd` and CAP_BPF in recent kernels. Updating `systemd` or downgrading the kernel seem to be ways to fix this. I'm not sure this is something we should account for in Ansible since the bug lies in `systemd` and has been addressed there.

[2020-09-05 15:07] lanefu commented on #71528
Yep. The cap_bpf flag trips up that [version of systemd... ](https://github.com/systemd/systemd-stable/commit/5325d280ab8468b981014c700d1d6cc1f01a3c02)

Workarounds:
* download kernel prior to 5.8
* upgrade systemd `apt -t=buster-backports upgrade systemd`  Note: resolvconf isn't comppatible and will have to be removed first
* disable the cap_bpf capability... not sure exactly how to do that.. [do

[2020-09-05 15:10] samdoran commented on #71528
The reason I'm not able to reproduce this is because I'm running Docker on macOS, which uses a different kernel. So I would say the reasons outlined above are the issue.
[code]

[2020-09-05 15:22] keks24 commented on #40243
This is still an issue for `ansible 2.9.12`:

#### ANSIBLE VERSION
[code]

#### STEPS TO REPRODUCE

`inventory.yml`
[code]

`ansible.cfg`
[code]

[code]

[code]

[2020-09-05 20:12] ckonstanski opened #71653 "portage module disappeared"
##### SUMMARY
The portage module has disappeared from recent versions of ansible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
portage

##### ANSIBLE VERSION

[code]
And also the latest from git as of right now. Sa 5. Sep 14:07:26 MDT 2020

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Linux sphinkstance 5.8.6-gentoo #1 SMP Fri Sep 4 09:20:27 MDT 2020 x86_64 Intel(R) Core(TM) i9-9880

[2020-09-05 20:16] #71653 closed, assigned to nobody

[2020-09-05 21:32] darkwizard242 opened #71654 "Running ansible-galaxy info author.rolename increments download count by 1"
##### SUMMARY
Running `ansible-galaxy info author.rolename` appears to increment the download count of a role by one each time that the command is performed.

While I am not sure if this is intentional or perhaps a bug.. but thought it would be better to report it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy info

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Any OS

[2020-09-06 03:01] mifiki opened #71655 "SSH to ec2 instance: control socket does not exist"
##### SUMMARY

Ansible is not able to establish SSH connection to newly provisioned EC2 instance

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Probably ec2?

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Confirmed on Ubuntu 18.04 LTS, 20.04 LTS, x86_64

##### STEPS TO REPRODUCE

Launch a playbook that provisions EC2 instance, and executes commands on i

[2020-09-06 03:03] #71655 closed, assigned to nobody

[2020-09-06 03:05] mifiki commented on #71655
Yeah, it's much easier to autoclose the issue instead of solving it. Hope this will enter google search results and will solve hours of headache to developers.

[2020-09-06 16:49] matihost opened #71657 "KeyError: 'getpwuid(): uid not found: 1000' during set_fact"
Similar to #68007 :

SImilar environemtn Jenkins with uid overridden to 1000

[code]
but while `set_fact` task invocation.

[2020-09-06 18:09] fragment86 opened #71658 "ansible/template: 'item undefined'-error while templating and having (unrelated) 'item.xyz' defined"
##### SUMMARY
ansible reports an **AnsibleUndefinedVariable: 'item' is undefined-error** when:
- template task doesn't contain *with_items*-block (not necessary, single file)
- j2-template sources additional (plain text) files using ```{% set template='...' %}``` and ```{% include template %}```
- additional variable referring to any *item.** is existing (variable is, however, not called within te

[2020-09-06 20:37] gsauthof opened #71659 "Support diff mode in dnf module"
##### SUMMARY

It would be great if the dnf module would support diff mode. Thus, when specifying `--diff` with `ansible-playbook`, one would get helpful feedback what the dnf module actually changed exactly. This would be especially helpful when specifying a list of packages - then the diff would make clear which subset of package was installed/upgraded/removed.

##### ISSUE TYPE
- Feature Idea

[2020-09-06 23:51] mdavis-xyz opened #71660 "file lookup doesn't respect errors='ignore'"
##### SUMMARY

Adding `errors='ignore'` to a lookup is supposed to prevent warning from being printed.
For the `file` lookup, when the file is missing a warning is still printed.

The relevant documentation is misleading or insufficient.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

file lookup

##### ANSIBLE VERSION

[code]

Also tested on the `devel` branch.

[code]

##### CONFIGURATION

[2020-09-07 02:35] Rocking80 commented on #55625
I encountered this issue also. Is there any workaround here? If not, I am going to install `multiprocessing` module manually to see if that works.

[2020-09-07 04:01] eeshugerman opened #71661 "when defining vars, interpret dotted variable names as dict key paths for elegant overrides"
##### SUMMARY
In contexts where variables are defined (eg in `vars/main.yml`), variable names (YAML keys) containing dots would be interpreted as dictionary key paths. This would facilitate overriding nested variables/dicts.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Core

##### ADDITIONAL INFORMATION

###### BACKGROUND
Here are two things I really like about Ansible:
- making use of Y

[2020-09-07 04:01] #71661 closed, assigned to nobody

[2020-09-07 06:31] Akasurde commented on #55625
There is no workaround. Also, ESXi 6.0 is EOL from 12 March 2020 - https://www.vmware.com/content/dam/digitalmarketing/vmware/en/pdf/support/product-lifecycle-matrix.pdf (Recorded at 7 Sept, 2020).

[2020-09-07 06:31] Akasurde commented on #55625
needs_info

[2020-09-07 06:58] mkrizek commented on #71658
Duplicate of https://github.com/ansible/ansible/issues/68699

Fixed in https://github.com/ansible/ansible/pull/68749

[2020-09-07 07:03] mkrizek commented on #71655
@mifiki The above comment https://github.com/ansible/ansible/issues/71655#issuecomment-687691942 from ansibot explains why this issue has been auto-closed, it needs to be moved to https://github.com/ansible-collections/amazon.aws/issues in order to be solved. The module you are filing an issue against is not in this repository anymore so it does not make sense to track it here.

If you have furthe

[2020-09-07 07:15] craph commented on #71637
This morning I tried to user `service` module instead of `systemd` and the result is the same.
Here is what I did :
[code]

And the result is the same :
[code]

[2020-09-07 08:56] Akasurde commented on #71636
@haltunbay Thanks for reporting this issue.

[2020-09-07 09:33] tadeboro commented on #70871
Being able to configure excludes in a configuration file would also be nice. Locally, we can use the `--exclude` switch to skip files and directories that should not be checked, but when we upload the collection archive to the Automation Hub, for example, we cannot specify those flags and all hell breaks loose. In our case, files that we would like to completely ignore are integration test fixture

[2020-09-07 09:48] Akasurde commented on #71636
@haltunbay As a workaround, you can use `use` parameter from `hostname` module like

[code]

[2020-09-07 11:07] msalmanmasood opened #71662 "ERROR! conflicting action statements: os_server, state"
##### SUMMARY

Trying to create an instance in openstack environment returns the subject

ERROR! conflicting action statements: os_server, state

The error appears to be in '/home/skhan/skWorks/ansible/create-instance.yml': line 5, column 7, but may
be elsewhere in the file depending on the exact syntax problem.

The offending line appears to be:

  tasks:
    - name: Creates a new instance and at

[2020-09-07 11:13] mkrizek commented on #71662
Your indentation is incorrect. You need to indent module params like so:
[code]

[2020-09-07 11:13] mkrizek commented on #71662
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-09-07 11:13] #71662 closed, assigned to nobody

[2020-09-07 11:30] msalmanmasood commented on #71662
Thank you very much mkrizek - it worked!

will be check on the IRC channel now.

[2020-09-07 11:51] mkrizek commented on #71658
Backport for the `2.9` release created in https://github.com/ansible/ansible/pull/71664.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-09-07 11:51] #71658 closed, assigned to nobody

[2020-09-07 12:16] nbruniaux commented on #58184
Hello, I have the same problem as @agowa338  but for a winrm connection, the reset_connection meta is in error with ansible 2.9.7

I just tested the solution offered by @sivel and it works perfectly.

Is it possible to include this fix in the next release?

Thank you

[2020-09-07 14:31] SiqingYu commented on #71427
Sorry.
But has `lib/ansible/modules/cloud/docker/docker_image.py` been removed?
I can't find it anywhere.

[2020-09-07 14:47] mkrizek commented on #71427
@SiqingYu  Please read the above comment from ansibot (https://github.com/ansible/ansible/issues/71427#issuecomment-679263170), it contains a link for the `community.general` collection in ansible galaxy that has a link for the new repo where the `docker_image` module lives now (the current location is at https://github.com/ansible-collections/community.general/blob/main/plugins/modules/cloud/dock

[2020-09-07 14:51] SiqingYu commented on #71427
@mkrizek Thanks. I just found it on https://github.com/ansible-collections/community.general :sweat_smile:

[2020-09-07 15:02] tsia opened #71665 "Double Quotes in Command arguments are replaced with single quotes"
##### SUMMARY

* I have some JSON data in a Variable (result of a previous command)
* looking at the output of `debug` the JSON content is valid
* i'm using this variable as a argument to another command
* the double quotes inside this variable are replaced with single quotes causing tools like `jq` to complain because that is not valid JSON

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

co

[2020-09-07 16:35] luckyinfil opened #71667 "recovering from decryption failed error"
I'm currently using vault encrypted variables within the hosts file and decrypting them at runtime using the --ask-vault-pass flag. When the password is entered successfully to decrypt the vault, everything works as expected.

However, when the password is entered incorrectly causing a "decryption failed" error, is there a way to pre-identify this and recover from it? ie: by asking for user input?

[2020-09-07 16:42] mkrizek commented on #71667
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-09-07 16:42] #71667 closed, assigned to nobody

[2020-09-07 17:39] Wivik opened #71668 "DNF module broken with Python 3.8 on CentOS 8"
##### SUMMARY

The dnf module looks like broken with Python 3.8 on CentOS 8 with the message :

After a downgrade to Python 3.6, the module is working as expected.

I've forced python3 in ansible.cfg : ansible_python_interpreter=/usr/bin/python3

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

dnf module with Python 3 and CentOS 8

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#

[2020-09-07 19:04] jgerry2002 commented on #14270
Having the ability to create block/rescue patterns would be infinitely helpful with cases where a simple restart of a service may fail due to another issue, or I need to put a pause in there for other reasons. Ideally a handler in the event that something changed.

I tried the solution presented by @bcoca and it does not quite work either.

As a workaround, I did not even use a handler, just regis

[2020-09-07 19:26] relrod commented on #71668
@Wivik Thanks for the report!

However, I think this isn't really an Ansible bug -- the `dnf` module depends on being able to import the `dnf` Python library, which (in my quick testing) isn't available under python 3.8:

[code]

only with the default platform-python:

[code]

I think for this to work, you'd need to file a Red Hat ticket, asking for a `python38-dnf` package, which we could then co

[2020-09-07 20:02] Wivik commented on #71668
Hello @relrod

I understand better why the module was complaining, thanks for your explanation !

I'll see on Red Hat side then. I hope this issue could help someone else in the same case :)

[2020-09-07 23:31] jklingbe commented on #71453
Thanks Jordan.  We were able to test the fix using the latest Ansible version, but it was not successful. Same privilege issue.  Do you need to see logs or other output?

[2020-09-07 23:41] jborean93 commented on #71453
Can you run the following playbook with `-vvv` and share the results (note the last task requires psexec to be on the system).

[code]

[2020-09-08 01:23] jamesdh opened #71669 "3rd party plugin locations in 2.10/devel"
##### SUMMARY
I'm literally just trying to figure out where the "3rd party" plugin/modules were relocated to so I can contribute an improvement. For example, in 2.9, the "onepassword" lookup plugin was located at https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/plugins/lookup/onepassword.py. But a mass delete/move was done a few months back, and I can't for the life of me figure out

[2020-09-08 01:30] #71669 closed, assigned to nobody

[2020-09-08 04:15] galenkivamshi commented on #64773
I copied docker-compose.yml file to the remote host using copy task but I still face the same issue.

playbook to run docker-compose.yml file.

---
- hosts: Centos
  become: true
  tasks:
  - name: Ansible copy directory to the remote server
    copy: src=/root/my_project/docker-compose.yml dest=/root/my_project/docker-compose.yml owner=root group=root mode="0644"
  - name: run the service defined

[2020-09-08 07:14] mkrizek commented on #71669
You can search Ansible galaxy like so https://galaxy.ansible.com/search?deprecated=false&keywords=onepassword_info&order_by=-relevance&page=1 which gives you the same result as ansibot in the comment above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-09-08 07:59] robertdebock commented on #71528
In response to @samdoran, here is the output:

[code]

[2020-09-08 08:28] jklingbe commented on #71453
Sorry for the delay - my SME is in India. Steps executed below.  Output attached.

1) Added the content to the playbook
2) downloaded the pstools and copied psexec.exe to C:\windows\system32.
3)executed the playbook [root@rhel77-template ansible]# ansible-playbook -i hosts /root/ansible/test.yml -vvv

[2020-09-08 08:28] jklingbe commented on #71453
[output-testyml.txt](https://github.com/ansible/ansible/files/5187056/output-testyml.txt)

[2020-09-08 10:39] mkrizek commented on #71627
This was introduced in https://github.com/ansible/ansible/pull/70919, the above PR is an attempt to fix the issue.

[2020-09-08 11:28] jborean93 commented on #71453
The playbook output still shows 2.9 as the version. It should be reading 2.11.devel if you are running from that git checkout.

[2020-09-08 15:08] bcoca commented on #71624
we don't have enough information to reproduce, can you supply a specific example?

needs_info

[2020-09-08 15:11] bcoca commented on #71629
This is already possible:

https://docs.ansible.com/ansible/latest/modules/setup_module.html#parameter-gather_subset

[2020-09-08 15:11] #71629 closed, assigned to nobody

[2020-09-08 15:15] bcoca commented on #71645
note: state=enabled is not the same as `systemctl enable` since it only executes that command if needed, detection might be giving a false positive on enabled, why i'm keeping this ticket open.

[2020-09-08 15:16] bcoca commented on #71654
Galaxy Repo Information
===================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a Ansible Galaxy, which lives in a separate repo.
We would appreciate if you can submit this there instead.

Submit issues or ideas to:
   * https://github.com/ansible/galaxy

Thanks!

[2020-09-08 15:16] #71654 closed, assigned to nobody

[2020-09-08 15:22] bcoca commented on #71657
play_context should not be calculating remote_user from current uid anymore, this is probably legacy code.

issue should only happen when current uid of the process is not a valid user on the system it is running in (probably chroot/container related)

[2020-09-08 15:27] bcoca commented on #71660
The warning is not from the lookup itself, it is from an underlying function it uses so the `errors` parameter cannot override that. In any case `errors` does not prevent warnings, it only controls the errors from the lookup itself.

As for `default`, the result from the lookup is not a boolean so you need to add `boolean=true` to force boolean evaluation.

[2020-09-08 15:27] #71660 closed, assigned to nobody

[2020-09-08 15:29] bcoca commented on #71665
You will need `   - "{{ docker_auth_data.stdout|string }}"` or to_json to prevent/force conversions back into JSON as they automatically get converted internally into Python data structures, which when serialized get single quotes, why  you are seeing that 'substitution' happen but it is not really about quotes but data formats.

[2020-09-08 15:29] #71665 closed, assigned to nobody

[2020-09-08 15:32] bcoca commented on #71668
closing as per above.

[2020-09-08 15:32] #71668 closed, assigned to nobody

[2020-09-08 15:44] darkwizard242 commented on #71654
Thanks @bcoca, will do.

[2020-09-08 16:21] ddiawara opened #71674 "impossible to install windows features or used psmodule"
##### SUMMARY

impossible to install windows features
##### ISSUE TYPE
- Bug Report
Unexpected failure during module execution.
##### COMPONENT NAME

win_dsc
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target OS : WINDOWS 2019

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-09-08 16:24] #71674 closed, assigned to nobody

[2020-09-08 17:09] aventrax opened #71675 "win_find failed to check some files, these files were ignored and will not be part of the result output"
##### SUMMARY

Using win_find, even with become=true to become NT AUTHORITY\SYSTEM, the module fails to find any result. I think because of the dimension of the folder, because with smaller directories it seems to work, sometimes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[code]

##### ANSIBLE VERSION

[code]

I just updated ansible. With 2.9.6 the issue was there.

##### OS / ENVIRONM

[2020-09-08 17:17] #71675 closed, assigned to nobody

[2020-09-08 17:21] tsia commented on #71665
Thanks for clarifying. So that means I should consider all stdout of `command` as "potentially an object" just to be on the safe side?

[2020-09-08 18:26] dbanttari commented on #71591
We have an identical issue, using win_dns_record.  Nothing seems to allow `ansible_connection` to be passed.

When we tried setting these parameters  in `vars`, like this:
[code]
...the lookup fails, claiming `windows_ansible_user` is undefined:
[code]

When we tried setting `ansible_connection` _et al_ in a `set_fact` task immediately beforehand, that gets ignored:
[code]

[2020-09-08 18:40] dbanttari commented on #71591
Of note: if there is a lookup for (eg) password, the lookup module fails, indicating that any variable used for the lookup (e.g. `keyvault_url`) is undefined.  So this is definitely a problem on the controller side, since we don't even get far enough to connect to the remote system before it fails.  Simplest possible testcase (windows_ansible_user and windows_ansible_password are definitely define

[2020-09-08 18:44] sivel commented on #71624
It's possible this is related to f8845af1951fb3745acddb0696fd988810719a0b

However, we still need a reproducer that we can use for testing the issue.

needs_info

[2020-09-08 21:44] poodge commented on #68843
I am running into this as well, what would be nice is if get_url supported the range option and then 206 would the accepted status code if that option had a value.

This is what I get from my playbook
    "msg": "Request failed",
    "response": "OK (37423130514 bytes)",
    "status_code": 206,

[2020-09-08 21:50] sivel commented on #68843
I still need a publicly accessible URL that forcefully requires use of Range.

I'm not sure how else to achieve this.  I'm not even sure that a server that forcefully requires use of Range is following RFCs.  As far as I know a client must specify it wants a range, to accommodate clients that do not understand or support ranges.

[2020-09-08 21:58] poodge commented on #68843
curl -v --range 0-100 https://releases.ubuntu.com/20.04.1/ubuntu-20.04.1-live-server-amd64.iso?_ga=2.165791543.882647091.1599602133-42412695.1599602133 -o ubuntu-20.04.1-live-server-amd64.iso

[2020-09-08 22:48] s-hertel commented on #71591
@dbanttari Thanks for sharing your reproducer, I was able to duplicate it with that. It looks like this started in 9e00214fb435e6b9ea223d966c2e4d9feecac35f. The delegated vars do contain the task vars, but not the variables used in the task vars. Replacing this line https://github.com/ansible/ansible/commit/9e00214fb435e6b9ea223d966c2e4d9feecac35f#diff-76ffc0551f8cf3d6255500316568e60bR609 with `de

[2020-09-08 23:16] mdavis-xyz commented on #71660
Ok, so can't we modify the lookup to pass an extra argument to the underlying function? (Or capture stderr somehow?)

The playbook I use to deploy my application prints out lots of these warnings needlessly. It makes newcomers to my project think they broke something when they didn't, and it makes it harder to notice actual warnings. So I really would like this warning to go away.

At the very lea

[2020-09-08 23:40] jxu6619 opened #71676 "vmware_vm_shell reports an issue "VMwareTools is not installed or is not running in the guest. VMware Tools are necessary to run this module.""
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-09-08 23:41] jxu6619 commented on #71676
The guest is VM with RHEL8.2

[2020-09-08 23:45] jxu6619 commented on #71676
And open-vm-tools-11.0.0-4.el8.x86_64 is installed.
vmtoolksd is also running. Why vmware_vm_shell repots this error? thanks
]# systemctl status vmtoolsd
● vmtoolsd.service - Service for virtual machines hosted on VMware
   Loaded: loaded (/usr/lib/systemd/system/vmtoolsd.service; enabled; vendor preset: enabled)
   Active: active (running) since Tue 2020-09-08 15:57:10 MDT; 1h 46min ago
     Docs

[2020-09-09 00:52] moody-visaops commented on #66586
What's the resolution on this? I'm having the same issue.

[2020-09-09 00:55] metabsd commented on #71534
I have the same problem with `ansible 2.9.13` there is a workaround please :)

[2020-09-09 01:04] mattclay commented on #71534
@metabsd How are you running `ansible-test`? The problematic constraint was removed in 2.9.13, so you should be able to install compatible package versions in your environment.

[2020-09-09 01:28] metabsd commented on #71534
@mattclay You right ... I'm using gitlab-runner and I had to delete cache. Everything seem to be ok now. Sorry for that!!!

[2020-09-09 05:50] Akasurde commented on #71676
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware

Migrated this issue in the above repository - https://github.com/ansible-collections/vmware/issues/385.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* ma

[2020-09-09 05:50] #71676 closed, assigned to nobody

[2020-09-09 06:13] jklingbe commented on #71453
[Debug_yml_log.txt](https://github.com/ansible/ansible/files/5192950/Debug_yml_log.txt)

Apologies Jordan - here is the correct debug output

[2020-09-09 06:18] stas-sbi opened #71678 "docker_compose doesn't work in python2.7 anymore"
##### SUMMARY
docker_compose doesn't work in python2.7

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_compose

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

no applicable

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Docker containers are deployed

##### ACTUAL RESULTS

[code]

The related issues:
- https://github.com/tobgu/pyrsistent

[2020-09-09 06:26] #71678 closed, assigned to nobody

[2020-09-09 07:12] stas-sbi commented on #71678
Moved to https://github.com/ansible-collections/community.general/issues/875

[2020-09-09 08:04] janosmiko opened #71681 "The mysql_user module creates user with escalated privileges if append_privs is set to yes"
##### SUMMARY
During use of the mysql_user module when we create a **new user** but the append_privs parameter is set to 'yes' ansible will create the user with escalated privileges (GRANT ALL on *.*).
This is a new issue and the expected results are generated with previous version of ansible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION
[code]

##### MYSQ

[2020-09-09 08:15] #71681 closed, assigned to nobody

[2020-09-09 11:27] johlandabee commented on #69086
I can confirm this behavior. Seems like the bug was introduced with `2.9.2`. It essentially stops working from there on. 2.8.* are working fine. 2.9.1 too.

[2020-09-09 11:42] johlandabee commented on #69086
I did not take a closer look, but maybe something slipped through here:
https://github.com/ansible/ansible/commit/cd37b2df60f0a0bdbbe8c92ff7354494cc6ea592

[2020-09-09 12:38] justjais commented on #71405
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

    IRC: #ansible on irc.freenode.net
    mailing list: https://groups.google.com/foru

[2020-09-09 12:38] #71405 closed, assigned to nobody

[2020-09-09 12:44] justjais commented on #63560
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

    IRC: #ansible on irc.freenode.net
    mailing list: https://groups.google.com/foru

[2020-09-09 12:44] #63560 closed, assigned to nobody

[2020-09-09 12:45] justjais commented on #62714
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

    IRC: #ansible on irc.freenode.net
    mailing list: https://groups.google.com/forum/#!for

[2020-09-09 12:45] #62714 closed, assigned to nobody

[2020-09-09 12:46] justjais commented on #62676
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

    IRC: #ansible on irc.freenode.net
    mailing list: https://groups.google.com/forum/#!foru

[2020-09-09 12:46] #62676 closed, assigned to pabelanger

[2020-09-09 12:50] #52023 closed, assigned to nobody

[2020-09-09 12:54] justjais commented on #48469
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

    IRC: #ansible on irc.freenode.net
    mailing list: https://groups.google.com/foru

[2020-09-09 12:54] #48469 closed, assigned to ganeshrn

[2020-09-09 12:56] justjais commented on #47536
Can you please use the latest version of Ansible and check if that works for you.

[2020-09-09 12:59] justjais commented on #43044
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

    IRC: #ansible on irc.freenode.net
    mailing list: https://groups.google.com/forum/#!foru

[2020-09-09 12:59] #43044 closed, assigned to nobody

[2020-09-09 13:00] #37241 closed, assigned to chouseknecht

[2020-09-09 13:00] #36940 closed, assigned to samccann

[2020-09-09 13:02] justjais commented on #36932
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/PaloAltoNetworks/pan-os-ansible.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

    IRC: #ansible on irc.freenode.net
    mailing list: https://groups.google.com/forum/#!fo

[2020-09-09 13:02] #36932 closed, assigned to nobody

[2020-09-09 13:05] justjais commented on #34345
We have resource modules planned with VRF and it should be available with future release of iosxr collection.

[2020-09-09 13:05] #34345 closed, assigned to nobody

[2020-09-09 13:40] sivel commented on #68843
This issue is about a server that responds to a request from a client, that _does not_ send a `Range` header, but still responds with a 206 with only partial content.

This issue isn't about explicitly asking for a Range.

However, in what case would you want to explicitly request a Range using `get_url`? And what behavior are you expecting?  Other than adding a `status_code` option to `get_url`,

[2020-09-09 13:58] imareporter commented on #71624
@bcoca @sivel  Here's the structure of a local Git clone which causes the problem:

[code]

Here's the `ansible-galaxy` output when a `~` is present in a dependency filename:

[code]

Here's the `ansible-galaxy` output when a `~` is not in a dependency filename:

[code]

[2020-09-09 14:41] poodge commented on #68843
Sorry I read the original issue wrong but to answer your question about range,
I use range to break up a big file downloads, this helps by decreasing download time as I use async to run them simultaneously. I can also just download failed ranges instead of downloading the complete object again.

[2020-09-09 14:47] thebsdbox commented on #71203
This issue still exists.. Can this ticket be re-opened until the fix is visible publicly?

[2020-09-09 16:12] bdronneau opened #71683 "GCE inventory plugin env var override"
##### SUMMARY

Hi,

I'm using plugin gcp_compute for retrieve my instance on Google. In my CD the location of service-account file is not the same as describe in inventory file (local vs CD). But env var [`GCP_SERVICE_ACCOUNT_FILE`](https://github.com/ansible/ansible/blob/stable-2.8/lib/ansible/plugins/inventory/gcp_compute.py#L66) does not override the value describe in [`service_account_file`](h

[2020-09-09 16:21] #71683 closed, assigned to nobody

[2020-09-09 16:31] sivel commented on #14829
!component =lib/ansible/plugins/filter/ipaddr.py

[2020-09-09 16:36] #14829 closed, assigned to nobody

[2020-09-09 16:43] #71479 closed, assigned to nobody

[2020-09-09 17:16] acozine commented on #67484
Closed by #71606.

[2020-09-09 17:16] #67484 closed, assigned to acozine

[2020-09-09 17:36] acozine commented on #69733
The module docstrings part was addressed by #https://github.com/ansible/ansible/pull/71070.

[2020-09-09 17:38] acozine commented on #69733
The other part was addressed by #71480.

[2020-09-09 17:38] samccann commented on #69733
This has been resolved by multiple PRs in the past.

[2020-09-09 17:38] #69733 closed, assigned to nobody

[2020-09-09 17:54] acozine opened #71685 "Docs: answer playbook questions about versioning"
##### SUMMARY
As a playbook author or maintainer, I need more information about how versions of Ansible (on PyPI), ansible-base, and collections work together.

Related to #69334.

- [ ] How do I know which version of ansible-base I have installed?
- [ ] How do I know if an upgrade to a Collection may including breaking changes?
- [ ] How do I install a newer Collection version and override the ve

[2020-09-09 17:55] samccann commented on #67939
@geerlingguy - a lot has changed since this ticket was opened.  Can you elaborate if there is more to do on this issue or if we can close it?

[2020-09-09 18:00] samccann commented on #71084
solution should be to not have a banner at all if it's note latest, older, or eol

[2020-09-09 18:03] indirakas opened #71686 "Update snow_record module's instance name not to include service-now.com"
##### SUMMARY
Snow_record module is prepending "service-now.com" to the `instance` parameter, which is outdated, because the service-now.com domain is the old domain. Or there should be a way to set a domain name.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
snow_record

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
[code]

###

[2020-09-09 18:04] SirUli commented on #44403
In ansible 2.9.9 the issue is resolved on Linux (RHEL 7) for me. Apparently the code now checks in /etc/group manually and then uses lgroupadd to create the groups.

[2020-09-09 18:04] geerlingguy commented on #67939
@samccann - It looks like the [reporting bugs](https://docs.ansible.com/ansible/devel/community/reporting_bugs_and_features.html#reporting-bugs) and other docs are in a much better place today. Anything I'd find would be tiny changes that I don't think would need any kind of meta issue now.

I think we can close this out :)

[2020-09-09 18:04] #67939 closed, assigned to nobody

[2020-09-09 18:05] acozine opened #71687 "[2/2] Change the porting guide section to be devel-only"
##### SUMMARY
Related to #71476

Since porting guides present challenges for backporting, we might want to make that section devel-only, the way we did wit the Release and Maintenance page.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs.ansible.com
porting guides

##### ANSIBLE VERSION
2.11

##### CONFIGURATION
N//A

##### OS / ENVIRONMENT
N//A

[2020-09-09 18:08] #44403 closed, assigned to nobody

[2020-09-09 18:12] #71686 closed, assigned to nobody

[2020-09-09 18:40] samccann opened #71689 "[1/6] Include deep dive documentation on using the cli_parser"
##### SUMMARY

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2020-09-09 18:52] poodge opened #71690 "get_url support for range header"
##### SUMMARY
get_url should support range header natively, also if multiple ranges are suppled they are all combined to the destination file

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
get_url
##### ADDITIONAL INFORMATION
There are a few issues in downloading large files
1. Currently, files cannot be broken into chunks and each chunk (range) downloaded simultaneously
2. Because there i

[2020-09-09 19:08] samccann commented on #67939
great, thanks!

[2020-09-09 19:17] jborean93 commented on #69086
If you have an issue please share more information about

* How you are configuring the variables for become
* What's the error you are getting back
* Any other info that might be relevant to the problem

The original issue is literally Windows reporting the username/password is incorrect and there's not much we can do about it. Maybe there's a bug with passing in the password correctly but withou

[2020-09-09 19:57] sivel commented on #71690
I'm not entirely sure how feasible this is. Each invocation of the module uses a different tmp dir.  So a single invocation as part of a loop would download to a temp file that would then be lost.  As such, simultaneous downloads, perhaps via async wouldn't really be feasible, because the independent tasks have no knowledge of each other, nor the ability to share a temporary directory.  I'd instea

[2020-09-09 20:46] alvinstarr opened #71691 "zabbix_map link label escaped quote character problem."
##### SUMMARY

it is not possible to have escaped quote chracters \" in a link label

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_map

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.3.1611 (Core)

##### STEPS TO REPRODUCE

It is possible to create a link with a label but if the label has embedded " characters that are esca

[2020-09-09 20:55] #71691 closed, assigned to nobody

[2020-09-10 02:16] jborean93 commented on #71453
Thanks, unfortunately it doesn't show any extra info that might tell us what's happening. I've got a few things that will try and uncover more information. Would you be able to run the following 3 scripts on PowerShell and share the output?

### Output the privileges for all the SYSTEM processes

This will loop through all the running processes on the host and generate a json containing the privil

[2020-09-10 03:47] relrod commented on #70854
I asked @jamesmarshall24 for the full dnf output to see what the original versions of the packages were, and installed a rhel 8.0 VM with a packageset that was identical to the one being upgraded.

I then ran the ansible playbook in the original post, with @sivel's patch, and it worked with no dep issue. I'm wondering if there was some kind of a caching issue or something at the client site, or if

[2020-09-10 06:00] craph opened #71693 "regex_replace slash & backslash error"
##### SUMMARY

I have an issue with `regex_replace` I'm unable to replace double slashes `//` into double backslashes `\\` from variable into a template

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

regex_replace

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL7.8

##### STEPS TO REPRODUCE

Here is my `defaults\main.yml`
[code]
Here is my template `

[2020-09-10 07:42] imjoseangel commented on #71659
Hi @gsauthof

When installing the packages the following result list is shown:

[code]

What is the exact behavior we should expect with diff? Thank you!

[2020-09-10 07:57] Riccardo1976 opened #71695 "delegate_to does not use ansible_ssh_common_args"
##### SUMMARY
Trying to write file to server1 with data from server2. Both of which are only accessible through a proxy.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
delegate_to
ansible_ssh_common_args

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

All systems running CentOS 7.8 except jumphost which runs Gentoo
management_node(foreman2) -> jumphost(al

[2020-09-10 08:17] johlandabee commented on #69086
Hi @jborean93,
I've the exact same issue as the original. The error is the same. The configuration is correct. As i mentioned, it works flawlessly on the same development environment (Ubuntu 18.04.4 LTS Docker container) and target systems (domain joined Windows Server 2019) up to 2.9.1.

Here the relevant variables:
[code]

This is the error I get if I use a version higher than 2.9.1:
[code]

Aga

[2020-09-10 08:21] jklingbe commented on #71453
[logs.zip](https://github.com/ansible/ansible/files/5200134/logs.zip)

Please find the attachment of the command execution logs:
1) Output the privileges for all the SYSTEM processes -> system_processes.json
2) Check the configured account rights -> command_execute-2.txt
3) Run PSExec manually - Ansible task didn't seem to give the output ->  command_execute-3

The pressure to resolve this more qu

[2020-09-10 08:31] dangel101 opened #71696 "list: updates in dnf module doesn't list obsolete packages"
##### SUMMARY

when running the ansible module dnf: list: updates there are no results listed, while there are obsolete packages to update

when running dnf check-update from shell I get these results:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

dnf module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

tested on RHVH4.4

##### STEPS TO REPROD

[2020-09-10 09:10] jborean93 commented on #71453
@jklingbe if you have a support ticket with Red Hat support open you should escalate through those channels. I can only do so much through the public interfaces.

[2020-09-10 09:15] jborean93 commented on #69086
Can you set `ansible_become_password` in your inventory without it using a templated var? Can you also run the following tasks (avoiding any templated vars).

[code]

[2020-09-10 10:57] jschaul opened #71698 "ec2_group module: RuntimeError: dictionary changed size during iteration"
##### SUMMARY

`ec2_group` module fails with `RuntimeError: dictionary changed size during iteration` at `line 938, in get_final_rules` (i.e. in https://github.com/ansible/ansible/blob/stable-2.7/lib/ansible/modules/cloud/amazon/ec2_group.py#L938-L940)

The problematic code can be found here also in ansible 2.9 stable:

https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/modules/cloud/a

[2020-09-10 10:59] #71698 closed, assigned to nobody

[2020-09-10 11:15] evgeni commented on #62738
bot_broken

there is nothing foreman related in this issue, and yet is has the `foreman` label

[2020-09-10 12:03] johlandabee commented on #69086
Both tasks work with 2.9.1. On 2.9.2 the second task using `ansible_become_password` fails. I did not use any templated vars.

[2020-09-10 15:33] hoax89 commented on #64852
How would you reload this configuration? If I execute this, it (obviously) changes the config file, but `dnf module list` (and dnf install, for that matter) acts as if nothing happens. Is there any way to reload the configuration or something?

[2020-09-10 15:44] acozine opened #71703 "[2] Write AnsibleFest State of the Docs talk"
##### SUMMARY

The State of the Docs talk will be broadcast as part of AnsibleFest on Wednesday, October 3, 2020.

Create slides, request input.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

[2020-09-10 17:34] alextremblay opened #71704 "[Errno 38] Function not implemented - Ansible 2.9.10 - RHEL 3 - Python 2.7"
##### SUMMARY

This issue is identical to #70238, except that instead of the managed node being an ESXi host running Python 3.5, the managed host is a RedHat Enterprise Linux 3 host running Python 2.7

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- setup
- shell (but only when `become` is used)

##### ANSIBLE VERSION

[code]
Also confirmed issue occurs with ansible 2.9.13

##### CONFIGURAT

[2020-09-10 17:49] alextremblay commented on #71704
As per #70238, this issue was fixed for both ansible 2.9 (#70801 ) and ansible 2.10 (#70800) by wrapping `selector = selectors.DefaultSelector()` in `lib/ansible/module_utils/basic.py` in a `try..catch` block

The reason those PRs didn't fix the problem as I'm experiencing it is that the try..catch block only catches `OSError`s, but in python 2, these errors appear as `IOError`s, not `OSError`s

[2020-09-10 17:53] alextremblay commented on #71704
!component = lib/ansible/module_utils/basic

[2020-09-10 18:58] kazigk opened #71706 "Module for querying firewalld rules"
##### SUMMARY
It would be nice if Ansible was able to query firewalld rules by the [firewalld module parameters](https://docs.ansible.com/ansible/latest/modules/firewalld_module.html#parameters).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
firewalld module

##### ADDITIONAL INFORMATION
It would be very useful for audits and access management.

At the time of writing this issue, we can o

[2020-09-10 19:03] #71706 closed, assigned to nobody

[2020-09-10 19:10] kazigk commented on #71706
I created [new issue](https://github.com/ansible-collections/ansible.posix/issues/95) in suggested repository

[2020-09-10 19:48] jborean93 commented on #69086
Thanks for narrowing down the problem a bit more, on your normal playbook can you run the following

[code]

The precedence for each var goes from lowest to highest. If `ansible_runas_pass` and `ansible_become_pass` is defined, then the former is what is used. There's a small chance that `ansible_become_pass` is also defined for your host but with a different value causing the failure. This would

[2020-09-10 20:00] sivel commented on #71695
Your hostnames, do not match your `host_vars`.

You have `inventory/host_vars/junko.okairi.int` but seem to have a host named `junko.` and not `junko.okairi.int`

The filenames within `host_vars` must match the hostnames from your inventory.

Additionally, you are delegating to `ansible@junko.` which is not proper syntax.  The value of `delegate_to` should exactly match that of an inventory hostna

[2020-09-10 20:04] #71695 closed, assigned to nobody

[2020-09-10 20:09] sivel commented on #71693
The problem here, ultimately stems from the meaning between different quotes in YAML, and escaping.

What you want is:

[code]

Notice the surrounding single quotes `'` instead of `"`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-09-10 20:09] #71693 closed, assigned to nobody

[2020-09-10 20:43] TheRealAlexV opened #71708 "ansible_local var not being populated when using setup module to gather custom facts on windows remote"
##### SUMMARY
The ansible_local var is not being populated when using the setup module to gather custom facts.

**Playbook:**
[code]
**Contents of "C:\custom_facts\foo.fact" on remote host:**
[code]

Playbook Output:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup, custom facts, windows

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian An

[2020-09-10 20:47] sivel commented on #71708
!component =lib/ansible/modules/windows/setup.ps1

[2020-09-10 20:57] #71708 closed, assigned to nobody

[2020-09-10 20:58] TheRealAlexV commented on #71708
Can someone explain why this isn't a bug instead of just closing it without explanation?

[2020-09-10 20:59] jborean93 commented on #71708
Because as the last message says the module has been moved to another collection and should be posted there.

[2020-09-10 21:00] TheRealAlexV opened #71709 "The ansible_local var is not being populated when using the setup module to gather custom facts."
Note: Old issue got auto-closed without so much as an explanation. Will submit this as a bug until I receive an explanation as to why this isn't a bug...

##### SUMMARY
The ansible_local var is not being populated when using the setup module to gather custom facts.

**Playbook:**
[code]
**Contents of "C:\custom_facts\foo.fact" on remote host:**
[code]

Playbook Output:
[code]

##### ISSUE TYPE
- B

[2020-09-10 21:01] sivel commented on #71709
!component =lib/ansible/modules/windows/setup.ps1

[2020-09-10 21:02] #71709 closed, assigned to nobody

[2020-09-10 21:10] NaughtyTommy91 opened #71710 "win_find impossibile to have results from volume path"
Hello All,
during this days i tryed with my teams to use the win_find module for search inside volumes on a Windows server (like C:\, D:\, E:\) different type of file

For example i want to find inside the C:\ Disk all file that finish with '.exe'

So, if i use this code:

`    - name: Find the installation path and files
        win_find:
          paths: 'E:\'
          patterns: ['*.sh','*.bin'

[2020-09-10 21:15] NaughtyTommy91 opened #71711 "win_find problem with Disk file search"
Hello All,
during this days i tryed with my teams to use the win_find module for search inside volumes on a Windows server (like C:\, D:\, E:\) different type of file.

##### SUMMARY

For example i want to find inside the C:\ Disk all file that finish with '.exe'

So, if i use this code:

- name: Find the installation path and files
   win_find:
     paths: 'E:\'
     patterns: ['*.sh','*.bin','*.

[2020-09-10 21:15] sivel commented on #71710
!component =lib/ansible/modules/windows/win_find.ps1

[2020-09-10 21:17] sivel commented on #71711
!component =lib/ansible/modules/windows/win_find.ps1

[2020-09-10 21:21] #71711 closed, assigned to nobody

[2020-09-10 21:21] #71710 closed, assigned to nobody

[2020-09-10 22:08] jborean93 commented on #71453
Ok just for future reference I've found a way to somewhat replicate the issue. I first create a dummy service that runs as the SYSTEM account with a limited set of privileges.

[code]

Using the process ID returned in the above script I then add the following here https://github.com/ansible/ansible/blob/7a0e5457005cd23064bd39e7f563351828b1fe67/lib/ansible/module_utils/csharp/Ansible.AccessToken.cs

[2020-09-10 23:58] JensTimmerman commented on #26797
Is this working now or not? I ran into an issue that the template can not be found on the controller, and ansible tells me to look at the 'remote_src' option, but this option doesn't seem to exist yet?

`{"changed": false, "msg": "Could not find or access '/home/im/settings.py.j2' on the Ansible Controller.\nIf you are using a module and expect the file to exist on the remote, see the remote_src o

[2020-09-11 01:46] Alex-CHUN-YU opened #71713 "failed to create tmp zip file: [Errno 2] No such file or directory: '.ansible/tmp/ansible-local-..."
##### SUMMARY

failed to create tmp zip file: [Errno 2] No such file or directory: '/home/alex/.ansible/tmp/ansible-local-3061dsp27fgh/tmpo_4j0sp4

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[

[2020-09-11 01:50] #71713 closed, assigned to nobody

[2020-09-11 01:59] jborean93 commented on #71453
So I've come up with another possible solution. It's not pretty but I can't think of anything else that doesn't involve creating a dummy service which would ultimately bloat the runtime and be even more complex than what the code already is. Can you try this PR https://github.com/ansible/ansible/pull/71714 and see if it solves your problem? TO try it out it's the same code as before

[code]

It's

[2020-09-11 02:45] Alex-CHUN-YU commented on #71713
ok ~ i find my problem! this is why can't find tmp folder
[code]

[2020-09-11 05:54] Riccardo1976 commented on #71695
I stripped most of the domain names but you can be assured that with fqdn it still doesnt work.

Please dont close issues on a whim of being right.

[code]
[code]

delegate_to does not use ansible_ssh_common_args , i've searched the internet from top to bottom before filing this bug and if it can work then please tell me/us how

Any help appreciated.

Riccardo

[2020-09-11 06:23] Riccardo1976 commented on #71695
Removed response, the working solution is to not define a user.

[code]
does work.

[code]
does not work.

[2020-09-11 06:54] blagoy89 opened #71716 "Failed to set a new url https://user:token_urlencoded@sub.domain.com/bitbucket/scm/project/project.git for origin: fatal: No such remote 'origin'\n"
##### SUMMARY
Ansible's git module can't update the repo even though update: option is set to yes

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
SUSE Linux Enterprise Server 12 (x86_64)
VERSION = 12
PATCHLEVEL = 3

##### STEPS TO REPRODUCE
Something else (not ansible) updates the repo between two runs of

[2020-09-11 07:19] blagoy89 commented on #71716
-label affects_2.4
+label affects_2.9

[2020-09-11 08:30] m-a-leclercq commented on #16776
Hi,
This issue still exists in 2.9, however the use of `var: "{{ hostvars[inventory_hostname]['ansible_host'] }}"` inside a `loop` if you have an inventory with the ansible_host property filled in.

I could not make it work with @RoUS 's example however.

[2020-09-11 12:30] AndyDevman opened #71720 "Ansible Module nmcli not working against [ CentOS Linux release 8.2.2004 (Core) ]"
##### SUMMARY

I am trying to use the Ansible nmcli module to automate configuration of a bridge style network on a Centos 8 KVM Host.
When running the task against the CentOS host Ansible seems to always fail with an error relating to the NetworkManager glib API, which doesn't appear to be available for CentOS 8

**_"msg": "Failed to import the required Python library (NetworkManager glib API) on

[2020-09-11 12:32] AndyDevman commented on #71720
PS - apologies if this is the wrong location for me to post this - happy to re post elsewhere.
Also thanks in advance for any suggestions / assistance

Cheers

[2020-09-11 12:33] pigriffin commented on #64990
I think I've encountered the same bug. It seems that if the first path that leads to the handler has a false 'when:' class, the 'when:' conditions are passed to the handler. If you launch the debugger on the handler with 'debugger: on_skipped', 'task.when' on the handler task shows the (false) 'when:' clause from the calling conditional, so the handler is skipped. There's a sample at https://githu

[2020-09-11 12:34] #71720 closed, assigned to nobody

[2020-09-11 13:37] aepel opened #71721 "Bug running htpasswd module after updating from 2.4 to 2.9 (bad -H parameter)"
##### SUMMARY

I was running the following script without problems in version 2.4 of ansible.
I have recently updated to 2.9 and from there it stops working.
[code]
##### ISSUE TYPE
- Bug Report
[code]
##### COMPONENT NAME

htpasswd
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target: Ubuntu 18.04
Source: Ubuntu 20.04

##### STEPS TO REPRODUCE

Analyzing the

[2020-09-11 13:44] #71721 closed, assigned to nobody

[2020-09-11 14:06] rocko-n commented on #71591
Sorry, was a long way from my laptop.

The inventory is simple, with just two hosts. All the variables are located in the play example (to reproduce we only need connection specific vars).

Will provide verbose output on Monday, but I guess you already found the issue.

[2020-09-11 14:12] lucasbasquerotto commented on #26797
@JensTimmerman Are you use the `template` module **and not some other module** (like `copy`)? The last time I saw, `template` didn't have a `remote_src` option and the ansible team didn't intend to make it have this option (https://github.com/ansible/ansible/issues/65778#issuecomment-566656262).

If you have that error using the `template` module, it might be that the **error message** is wrong (b

[2020-09-11 14:34] aepel commented on #71721
Hey i am still having the issue and you didn't provide me any further information.

[2020-09-11 14:42] JensTimmerman commented on #26797
Yes indeed, it seems to me that the error message is wrong.

[2020-09-11 15:12] Shrews commented on #30375
Closing per above.

[2020-09-11 15:12] #30375 closed, assigned to nobody

[2020-09-11 15:17] Shrews commented on #30264
Hi @PYLochou,

I was unable to reproduce this with the latest Ansible devel branch, with and without using `remote_src`. There have been a lot of changes to `copy` module with respect to `remote_src` since this bug report and it is possible any bug you may have been experiencing was corrected since then. Any chance you can verify this with the latest version of Ansible?

needs_info

[2020-09-11 15:24] s-hertel commented on #30797
I'm unable to reproduce this on Ansible 2.9 or 2.10. The task succeeds and changed is False. Ansible 2.4 is no longer supported https://docs.ansible.com/ansible/devel/reference_appendices/release_and_maintenance.html#ansible-release-cycle. Please a new issue if you're experiencing this on a recent version of Ansible.

[2020-09-11 15:24] #30797 closed, assigned to nobody

[2020-09-11 15:51] PYLochou commented on #30264
Oh I had forgotten this one, thank you for reminding me of it.
I just tested with Ansible 2.9.11 (brew seems to be late...) and it works fine now.
Have a nice day!

[2020-09-11 15:51] #30264 closed, assigned to nobody

[2020-09-11 16:06] s-hertel commented on #22371
As people have suggested above, it looks like a Python issue (https://bugs.python.org/issue15701). It should be resolved now, so if you're experiencing this with a recent version of Python, it is probably something different. Please open a new ticket in that case.

[2020-09-11 16:06] #22371 closed, assigned to nobody

[2020-09-11 16:43] juanbernhard opened #71723 "Module get_url mode wont work if not quoted"
##### SUMMARY
Module get_url wont set the execute permission if the mode setting isnt quoted.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tested on centos 8

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

File permission is 755

##### ACTUAL RESULTS

File permission is 644 (no execute)

[2020-09-11 16:56] sivel commented on #71723
Is this your actual task?  Or is your actual task doing something different?  I cannot reproduce this as provided above.  It works without issue.

[2020-09-11 17:13] mario-pranjic opened #71724 "grafana_datasource not idempotent"
##### SUMMARY
When calling grafana_datasource, task gets "changed" status on each run.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
grafana_datasource module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

(ansible) mario@asgard:~/repositories/yggdrasil.local$ cat /etc/os-release
PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION

[2020-09-11 17:18] #71724 closed, assigned to nobody

[2020-09-11 17:33] pellywog opened #71725 "{{ lookup('dig', 'google.com./SPF') }} returns empty string"
##### SUMMARY
The dig module does not produce any output for SPF records.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lookup: dig

##### VERSIONS
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
Task:
[code]
Output:
[code]
Expected SPF record:
[code]

##### EXPECTED RESULTS
There should be an SPF record in the output.

##### ACTUAL RESULTS
No SPF

[2020-09-11 17:33] juanbernhard commented on #71723
Yes, that task gave me a file with 644 permissions, then I changed the
mode form 0755 to '755' (quoted) and then I got the expected results...

El vie., 11 sept. 2020 a las 13:56, Matt Martz (<notifications@github.com>)
escribió:

[2020-09-11 17:34] sivel commented on #71723
Please provide us with the playbook output when using `-vvv` to show the errant behavior when using `mode: 0755`

[2020-09-11 17:39] sivel commented on #71725
!component =lib/ansible/plugins/lookup/dig.py

[2020-09-11 17:46] #71725 closed, assigned to nobody

[2020-09-11 19:19] pellywog commented on #71725
moved to https://github.com/ansible-collections/community.general/issues/879

[2020-09-11 19:42] samccann commented on #71382
Not sure who went in thanks! This is now fixed so closing the issue.

[2020-09-11 19:42] #71382 closed, assigned to nobody

[2020-09-11 20:39] relrod commented on #71716
Can you clarify what you mean by "Then a different program not ansible updates the repo."? What does "updates the repo" mean here?

It sounds like whatever that external thing is doing is deleting/renaming the `origin` remote. If you run that external thing and then manually cd into the repo and do something like `git pull origin master` does it work?

needs_info

[2020-09-11 21:12] acozine commented on #71203
Also related to #69143.

[2020-09-11 21:27] acozine commented on #71203
Ahh, I see. #71206b fixed the download linsk in lines 219 and 221, but not the other links in lines 211 and 213.

[2020-09-11 23:45] Alex2357 commented on #51663
Hi everyone! This is very annoying issue with Ubuntu. Playbooks which use apt simply very fragile. The problem with unnatended upgrades in ubuntu. See details here https://itsfoss.com/could-not-get-lock-error/
Initial my idea was to turn it off upgrades. But then I need to manage uppgrades when to do that. So I did not like the idea of turning it off. It seems to me that it is better to kill the c

[2020-09-12 00:36] tonycpsu commented on #51663
Here is what I ended up coming up with that seems to handle all of the edge cases. Some of this is borrowed from others in this issue, some from other attempts to solve this problem I found in my travels:

[code]

[2020-09-12 01:07] Alex2357 commented on #51663
@tonycpsu how do you solve upgrades then if you have disabled?

My problem is that I use ansible to configure ubuntu machines at home. All works fine except this annoying issue. I do not wanna turn it off.
I also have problems with Virtualbox VMs, I also run playbooks against them. What happens is that I start VM based on some old snapshot and then it starts updating. So you need to wait a lot of

[2020-09-12 12:01] Zocker1999NET opened #71733 "Allow combining tags with AND"
##### SUMMARY

Currently, you can only choose to select multiple tags like `--tags a,b` which will issue to run tasks tagged only with `a` or `b` and both `a` + `b`. But I was required to only run a task tagged with `a` + `b`. So it would be great to have a feature like `--tags a+b` / `--tags 'a&b'` / `--tags a:b`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

tags

##### ADDITIONAL INFO