[2014-02-12 15:13] datasmid opened #5977 "ansible in virtualenv collides with system python"
I used ansible from virtualenv for several weeks before hitting this bug. We install ansible in a virtualenv to avoid polluting system python, python extensions can cause dependency hell when different projects need different versions.

To install ansible like this, note the _httplib2_:
    virtualenv venv
    venv/bin/pip install --upgrade ansible
    venv/bin/pip install --upgrade paramiko PyYAM

[2014-02-12 15:17] #5977 closed, assigned to nobody

[2014-02-12 15:38] datasmid opened #5978 "local_action doesn't use python extensions installed in virtualenv with pip"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

CentOS release 6.4
##### Summary:

ansible local_action doesn't use python extensions installed in virtualenv with pip
##### Steps To Reproduce:
1. Pip install ansible in virtualenv, note the use of the python extension 'httplib2'
   virtualenv venv
   venv/bin/pip install --upgrade ansible
   venv/bin/pip inst

[2014-02-12 15:45] jimi-c commented on #5971
I cannot replicate this, given the following:

<pre>
# site.yml
- hosts: localhost
  connection: local
  roles:
    - base
    - feature
# roles/feature/meta/main.yml
---
allow_duplicates: false
dependencies:
  - base
# roles/feature/tasks/main.yml
---
- name: in feature
  debug: msg="here we are in feature"
# roles/base/meta/main.yml
---
allow_duplicates: false
# roles/base/tasks/main.yml
---
- n

[2014-02-12 15:48] jimi-c commented on #5971
Fixed a typo above (`s/allow_dependencies/allow_duplicates/g`), but since the default is to not allow dupes, the correct output was produced anyway.

[2014-02-12 15:58] sivel commented on #5978
You may be interested in #5335

Also, if you want to keep ansible from attempting to install files to /usr/share/ansible you need to precreate ~/.ansible.cfg with something like:

[code]

But you might also benefit from the running from source install instructions.

[2014-02-12 16:00] sivel commented on #5978
Also note that with local_action this should already be fixed in 1.5 (devel) assuming you don't explicitly declare localhost in your inventory.

localhost is now implicit with 1.5 and uses the python bin used to run ansible (sys.executable)

2 different way to solve the issue.

[2014-02-12 16:10] datasmid commented on #5978
It looks like Ansible is not relocatable for re-packaging.

[2014-02-12 17:19] risaacson commented on #5431
Confirmed.
We need to see where if it is worth fixing this or just to unarchive the file(s) again. The current behavior matches what happens with ZIP files.

[2014-02-12 17:40] mpdehaan commented on #5431
This command should be expected to work with sudo.

[2014-02-12 17:40] mpdehaan commented on #5431
--diff I'm less concerned about, this an action plugin, I wouldn't expect it need to report a diff at all, but the changed reporting should be (needs to be) correct.

[2014-02-12 17:44] mpdehaan commented on #3422
Hi so we've been going back through the queue and noticed this one.

Previously the string was pre-templated and evaluated, but now we pass this straight through the template engine and are unable to print this -- what you would get instead would just be like a "True" or "False".

[2014-02-12 17:44] #3422 closed, assigned to nobody

[2014-02-12 18:13] mpdehaan commented on #5401
@sivel et al, I'm trying to close out some old tickets, can you take a look at this one or decide whether it can be closed?

[2014-02-12 18:17] mpdehaan commented on #5373
I don't see that we are going to be able to have a solution to this one due to how we require clean output from SSHd.

If someone would like to attempt a fix, it would be considered.

[2014-02-12 18:17] #5373 closed, assigned to nobody

[2014-02-12 18:18] mpdehaan commented on #5359
I definitely agree with this.  Moving to priority queue.

Current code:

[code]

The environment variable should be "path0" above (and path2 should just be the os.path.expanduser)

[2014-02-12 18:20] sivel commented on #5401
@mpdehaan Let's leave it for now.  I may have a fix, but need to test it a bit more.  I'll update this ticket soonish.

[2014-02-12 18:23] mpdehaan commented on #5114
So obviously a bit of time passes here.  The fix seems to just be to catch this error and raise a nice errors.AnsibleError when we have a TypeError and the message of the error contains StrictUndefined - "one of more variables is undefined" or something similar, if we don't have more detail.

[2014-02-12 18:25] mpdehaan commented on #5116
The fix here should be when we get a parse error loading a "@" file to indicate that we have an exception.

[2014-02-12 18:26] mpdehaan commented on #5171
@jimi-c let's see if we can maybe get this one done for 1.5?

[2014-02-12 18:29] mpdehaan commented on #5261
So given this appears to be fixed in devel I'm going to close this ticket.  Let us know if you experience problems on the 1.5 branch.

Thanks!

[2014-02-12 18:29] #5261 closed, assigned to nobody

[2014-02-12 18:34] mpdehaan commented on #5147
I don't think we'll be able to do anything here, so I'm going to close this one.  We do need a clean SSH channel for operations.

[2014-02-12 18:34] #5147 closed, assigned to nobody

[2014-02-12 18:34] #5229 closed, assigned to nobody

[2014-02-12 18:54] #3688 closed, assigned to nobody

[2014-02-12 18:55] jimi-c commented on #3688
The above patch has been merged in, which should resolve this issue. If you run into any further problems regarding this, please let us know. Thanks!

[2014-02-12 21:28] HelloGrayson commented on #5393
+1 - would love to be able to configure developer environments with ansible as opposed to boxen (puppet)

[2014-02-13 01:39] HelloGrayson opened #5985 "Cloudformation module does not work with delegate_to."
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

N/a
##### Summary:

When using the cloudformation module in the context of a regular playbook being executed on remote hosts, it is desirable to `delegate_to` that cloudformation action to the local environment. Unfortunately, the action is being ran on the remote host instead.
##### Steps To Reproduce:

Add th

[2014-02-13 01:58] HelloGrayson commented on #5985
@ansibot better?

[2014-02-13 11:55] nxt-ext opened #5990 "Config `.ansible_async` location"
##### Issue Type:

“Feature Idea”
##### Ansible Version:

Latest
##### Environment:

“N/A”.
##### Summary:

There are a lot of limitations at [OpenShift Online](https://www.openshift.com/products/online). One of them - restricted `~` folder. To deploy there with ansible default tmp folders `~/.ansible` and `~/.ansible_async` should be changed. I can change `~/.ansible` @ `ansible.cfg`, but I can d

[2014-02-13 12:03] mahemoff opened #5991 "Linode module: Don't prepend Linode ID"
##### Issue Type:

Feature request
##### Ansible Version:

1.4.4
##### Environment:

Ubuntu 12.04
##### Summary:

The [doc](http://docs.ansible.com/linode_module.html) says "To keep sanity on the Linode Web Console, name is prepended with LinodeID"., but I have a logical naming scheme which is interrupted by the arbitrary Linode IDs.

I think this feature should at very least be optional.
##### St

[2014-02-13 12:20] mahemoff opened #5992 "Linode module: Add private IP"
##### Issue Type:

Feature request
##### Ansible Version:

1.4.4
##### Environment:

Ubuntu 12.04
##### Summary:

An option to add private IP would be great (it's possible in Linode's API - https://www.linode.com/api/linode/linode.ip.addprivate). This is rather cumbersome to do manually as it requires a reboot.
##### Steps To Reproduce:

ansible localhost -m linode -a "private_ip=true (other-args)

[2014-02-13 13:33] rhaido opened #5994 "Inconsistent expansion of the variables in the lookup 'with_items'"
##### Issue Type:

Bug Report
##### Ansible Version:
- Production:

[code]
- Fresh clone (13.02.2014)

[code]
##### Environment:

[code]
##### Summary:

Dear Ansible Dev Team,

While migrating code from old ${...} variable expansion to new Jinja2 style {{...}}, I've noticed some incompatibilities with the previous syntax, while I would expect {{...}} be a full equivalent of ${...}, i.e the followi

[2014-02-13 13:38] #5970 closed, assigned to nobody

[2014-02-13 14:29] mahemoff commented on #5991
The ID's prepended at https://github.com/ansible/ansible/blob/devel/library/cloud/linode#L252

[2014-02-13 15:59] pmakowski opened #5996 "sudo and authorized_key"
##### Issue Type:

“Bug Report”
##### Ansible Version:

ansible 1.4.4
##### Environment:

Ansible running MacOsx, target Ubuntu 12.04
##### Summary:

 problem using authorized_key with sudo
##### Steps To Reproduce:

I got problem using authorized_key with sudo
the task is :

[code]
##### Actual Results:

and I got :

[code]
##### Steps To Reproduce:

and with :

[code]
##### Actual Results:

and

[2014-02-13 16:27] joefiorini commented on #5007
I just had the kernel panic happen to me on Mavericks as well. I am indeed running with `-k`, it's happened to me twice in a row after killing a hung playbook run  (I had a task that spun up a foreground daemon accidentally) and then running the same playbook again. I will start running with `-vvvv` but unfortunately, once it crashes I don't know how to get the stdout back upon reboot. Is that eve

[2014-02-13 16:31] bcoca commented on #5007
you can enable the ansible log callback plugin (log_plays.py), this would
write it all to a file that would persist across reboots.

[2014-02-13 16:34] joefiorini commented on #5007
@bcoca I'm still fairly new to ansible, can you please show me the flag I'd need to pass to enable that?

[2014-02-13 16:45] bcoca commented on #5007
it is not a flag, just need to drop the file
in ansible/lib/callback_plugins/ or a callback_plugins directory at the
play/role level.

The file is in the ansible repo under plugins/callbacks/log_plays.py

[2014-02-13 19:55] #5933 closed, assigned to nobody

[2014-02-13 19:59] mpdehaan commented on #5990
I'd be open to the idea that this could be configurable at least on a global level.

Something you might like to add a pull request for?

[2014-02-13 20:00] mpdehaan commented on #5991
Can we start a discussion on this on ansible-project?

I'm open to the idea but wouldn't want to break anyone or remove soemthing some folks were liking.

Thanks!

[2014-02-13 20:01] mpdehaan commented on #5991
Also, this is is unlikely to be something we are going to personally work on. Should you wish to do this, the best thing to do would be to submit a pull request.

For discussion topics, we prefer the list as there are more people reading the list (several thousands) versus github history (a couple).

Thanks!

[2014-02-13 20:01] #5991 closed, assigned to nobody

[2014-02-13 20:02] mpdehaan commented on #5992
This sounds like it would be a nice idea, but it is not likely something the project admins are going to implement.

Is this something you would like to work on?

If not, perhaps it is something you should bring up on the mailing list to see if someone would like to implement.

Thanks!

[2014-02-13 20:03] mpdehaan commented on #5994
Looks like you have a weird list here:

[code]

[2014-02-13 20:04] mpdehaan commented on #5994
As this is a rather long example and I'm having a little bit of trouble processing it, could you possibly put these into a gist that can demonstrate the expected behavior?

[2014-02-13 20:12] mpdehaan commented on #5996
Can you reproduce this on Ansible 1.5 (devel branch)?

Thanks!

[2014-02-13 20:42] #3978 closed, assigned to nobody

[2014-02-13 21:09] mahemoff commented on #5992
Understand. As I'm time-constrained now, here's a simple Gist of how I got this and #5991 working - https://gist.github.com/mahemoff/8983846

I might mail the list or put a proper patch in later.

[2014-02-13 21:09] #5992 closed, assigned to nobody

[2014-02-13 21:22] rhaido commented on #5994
Hello Michael,

**About the list**: it's the list of JDK rpms, which I install on our production machines: jdk{{ jdk_pro}} current production version, for example jdk1.7.0_45, then default jdk 1.6 for compat reasons, jdk 1.7 for future compatibility issues, and {{ jdk_next }} - this is the list of the JDKs rpms intented for testing.

**About the Gist** - let me do it tomorrow midday. I'll put ther

[2014-02-13 21:56] nightshade427 commented on #5625
having same issue here

[2014-02-13 22:00] nirvinehh commented on #5434
This pull request hasn't been approved yet.  What's the status?

[2014-02-13 22:01] nightshade427 commented on #5625
the above patch fixed my issue, it installed package fine and also skipped if it was already installed.

[2014-02-14 00:48] jplehmann opened #6003 "Create gce instance with permissions / service account scopes"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.4.3
##### Environment:

N/A
##### Summary:

Want to use gce module to create an instance with any permissions to access any other Google cloud resources like storage.  Apparently I need to pass in the [service_account_scopes flag](https://developers.google.com/compute/docs/instances)  [as is seen done in the unit test](https://githu

[2014-02-14 01:39] huguesalary commented on #5053
Awesome, thanks for adding default support.

Will you not ever consider adding recursive?

[2014-02-14 02:22] bcoca commented on #5053
you are welcome to try add it yourself, I won't try unless I can find a way to simplify the implementation

[2014-02-14 02:24] huguesalary commented on #5053
Fair enough!

[2014-02-14 07:58] pmakowski commented on #5996
yes, same problem
Info :
ansible 1.5 (devel 22cfef33b4) last updated 2014/02/14 08:48:28 (GMT +200)

[code]

[2014-02-14 08:19] ex-nerd opened #6006 "Can't escape quotes in shell/command calls"
##### Issue Type:

Bug Report
##### Ansible Version:

1.4.5
##### Environment:

OSX but probably N/A
##### Summary:

Can't escape quotes inside of commands
##### Steps To Reproduce:

No variation of the following actions will "compile":

[code]

It seems that Ansible is just splitting on the `"` character rather than actually examining the string for proper escape sequences.
##### Expected Results

[2014-02-14 08:37] ex-nerd opened #6007 "inconsistent behavior for set_var with JSON data"
##### Issue Type:

Bug Report
##### Ansible Version:

1.4.5
##### Environment:

OSX but probably N/A
##### Summary:

`set_var` sometimes interprets JSON formatted data into an object, and other times it keeps it as a unicode string.
##### Steps To Reproduce:

The following test playbook demonstrates inconsistent behavior with set_var in "short" vs "extended" mode.

[code]
##### Expected Results:

[2014-02-14 08:48] darkone23 commented on #6006
This is actually the behavior of the YAML parser.

If you try to parse those strings using PyYAML you get errors.

[2014-02-14 08:50] ex-nerd commented on #6006
Interesting.  Guess I should file a bug with them.

[2014-02-14 09:18] ex-nerd commented on #6006
Digging into the PyYAML docs for info, the following seems to work -- using single quotes `'` and escaping with two single quotes `''`:

[code]

[2014-02-14 09:18] #6006 closed, assigned to nobody

[2014-02-14 09:30] ex-nerd opened #6008 "debug module does not respect ignore_errors"
##### Issue Type:

What kind of ticket is this?  You can say “Bug Report”, “Feature Idea”, “Feature Pull Request”, “New Module Pull Request”, “Bugfix Pull Request”, “Documentation Report”, or “Docs Pull Request”.
##### Ansible Version:

1.4.5
##### Environment:

OSX but likely N/A
##### Summary:

`debug` module does not respect `ignore_errors`
##### Steps To Reproduce:

Run the following playbook:

[2014-02-14 09:40] hyperfocus1338 opened #6009 "Traceback in ini_file module"
##### Issue Type:

Bug Report & Documentation Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

Mac OSX Mavericks 10.9.1 using vagrant 1.4.3
##### Summary:

I'm using the ini_file module: http://docs.ansible.com/ini_file_module.html

I just want to change cgi.fix_pathinfo=1 to cgi.fix_pathinfo=0 in php.ini which is under the [PHP] section. Play:
- name: configure php.ini
  ini_file:

[2014-02-14 11:26] rightaway opened #6010 "unarchive module should have 'creates' parameter"
Just like the shell/command modules have a create parameter that doesn't run if the path exists, so should this module. Otherwise it can't be used unless the archive is removed right after unpacking, which will lead to an error the next time this module is run because it expects the file.

[2014-02-14 12:53] pmakowski commented on #5996
sorry, seems that I had a bad line in my playbook (old syntax)

[code]

seems that all is ok

[2014-02-14 12:53] #5996 closed, assigned to nobody

[2014-02-14 13:05] bcoca commented on #6008
this is a templating error, ignore_errors is for execution errors. What you
want to use is default:
- debug: msg="{{ undefined_var|default('undefined!') }}"

On Fri, Feb 14, 2014 at 4:30 AM, Chris Petersen notifications@github.comwrote:

##

Brian Coca
Stultorum infinitus est numerus
0110000101110010011001010110111000100111011101000010000001111001011011110111010100100000011100110110110101100001011

[2014-02-14 14:14] rhaido commented on #5994
https://gist.github.com/rhaido/9001645

[2014-02-14 15:33] brianmhunt opened #6013 "Copy fails when there is a space in the source"
When I try to use the `copy` module it fails when the source has a space in it. Simple example:
### playbook.yaml

[code]
### vars.yaml:

[code]

The error is:

I have tried wrapping the `src` and `origin` in a variety of quotes and escapes but nothing availed me of the issue.

I worked around this by creating symlinks to the origin that do not have spaces in them.

Just a heads up.

Cheers.

[2014-02-14 15:44] jimi-c commented on #6008
Agreed, this is not an issue. If you have any further questions about this, let us know. Thanks!

[2014-02-14 15:44] #6008 closed, assigned to nobody

[2014-02-14 15:52] jimi-c commented on #6013
You just need to escape the space:

<pre>
- hosts: localhost
  connection: local
  gather_facts: false
  vars:
  - origin: "/tmp/test\ file"
  tasks:
  - copy: >
      src='{{origin}}'
      dest=/tmp/foo
</pre>

And the output:

<pre>
# ansible-playbook ~/testing/6013.yml
PLAY [localhost] **************************************************************
TASK: [copy src='/tmp/test file' dest=/tmp/foo

[2014-02-14 15:52] #6013 closed, assigned to nobody

[2014-02-14 15:54] #4087 closed, assigned to nobody

[2014-02-14 17:01] #5625 closed, assigned to nobody

[2014-02-14 17:01] brianmhunt commented on #6013
Thanks @jimi-c . Sorry I should have mentioned but adding an escape as you suggest breaks `lookup('file', origin)`.

[2014-02-14 17:08] mpdehaan commented on #6009
Can you please share the INI file you were using ?

[2014-02-14 17:49] jimi-c commented on #6013
I cannot reproduce that. Modifying my test playbook:

<pre>
- hosts: localhost
  connection: local
  gather_facts: false
  vars:
  - origin: "/tmp/test\ file"
  - foo: "{{ lookup('file', origin) }}"
  tasks:
  - debug: var="{{foo}}"
  - copy: >
      src='{{origin}}'
      dest=/tmp/foo
</pre>

Resulting output:

<pre>
# ansible-playbook ~/testing/6013.yml
PLAY [localhost] ************************

[2014-02-14 18:17] ex-nerd opened #6016 "please reference `default` filter as counterpart to `mandatory`"
##### Issue Type:

“Documentation Report”
##### Ansible Version:

1.4.5
##### Environment:

N/A
##### Summary:

Per #6008, it would be nice if there was a mention of Jinja's `default` filter alongside the `mandatory` filter described at
http://docs.ansible.com/playbooks_variables.html#forcing-variables-to-be-defined
##### Steps To Reproduce:

N/A
##### Expected Results:

N/A
##### Actual Results:

[2014-02-14 18:24] ex-nerd opened #6017 "Please document that `ignore_errors` does not ignore template errors."
##### Issue Type:

“Documentation Report”
##### Ansible Version:

N/A
##### Environment:

N/A
##### Summary:

Per #6008, "template errors" are not "execution errors".  The docs at http://docs.ansible.com/playbooks_error_handling.html#id4 should probably mention that there are different classes of errors and that the `ignore_errors` flag does not apply to template errors.
##### Steps To Reproduce:

[2014-02-14 19:31] brianmhunt commented on #6013
Thanks so much for looking into it.

The issue occurs for me on Ansible 1.4.4 with the following:

[code]

The solution strikes me as odd because `"x\ y"` in YAML becomes `"x y"` (i.e. the `\` is superfluous), as [seen here](http://yaml-online-parser.appspot.com/?yaml=origin_1%3A+%2Ftmp%2Ftest%5C+file%0Aorigin_2%3A+%22%2Ftmp%2Ftest%5C+file%22+%0Aorigin_3%3A+%22%2Ftmp%2Ftest+file%22&type=json).

Th

[2014-02-14 19:54] tonk commented on #5994
I would like to add another inconsistency:

In a playbook I have

[code]

This works when I use the variable as `${ansible_pkg_mgr}`, but because of consistency I would expect `{{ ansible_pkg_mgr }}`.

[2014-02-14 20:45] risaacson commented on #5359
This was fixed, tested and resolved.

[2014-02-14 20:45] #5359 closed, assigned to nobody

[2014-02-14 21:02] HelloGrayson commented on #5985
Nevermind. This appears to work as designed.

[2014-02-14 21:02] #5985 closed, assigned to nobody

[2014-02-14 21:31] andrewvc commented on #5305
+1 I think I'm seeing this as well.

Also, Hi @lancelakey , I'll see you at SCALE12x!

[2014-02-14 23:50] electroniceagle commented on #3774
+1  Otherwise, how do you pass a key file to a role?
Edit: ok ../../../keys/lorin.pub, but that looks ridiculous.

[2014-02-15 01:05] mpdehaan commented on #6016
default is actually not documented right now because while "mandatory" was a filter we added, "default" is a core Jinja2-ism.

However, it's probably worth referencing as it's one of the more useful ones.

[2014-02-15 01:34] joshuaconner opened #6022 "Probably a documentation item: Ansible coerces 'on' to True and 'off' to False"
##### Issue Type:

Bug Report/Documentation Report
##### Ansible Version:

ansible 1.5
##### Environment:

OSX 10.9
##### Summary:

Ansible seems to coerce the string `on` to `True` and the string `off` to false.
##### Steps To Reproduce:

Here's a super simple playbook demonstrating the behavior:

[code]
##### Expected Results:

I'd expect to the value `should_be_on` to be `on` and the value of `

[2014-02-15 01:39] joshuaconner commented on #6022
[ticket updated]

[2014-02-15 08:01] ex-nerd commented on #6016
Yeah, that was my main thought.  Sometimes it's easy to forget that a large portion of ansible documentation actually lives in Jinja's docs.

[2014-02-15 11:04] t-8ch opened #6023 "Bug Report: delegate_to should work with role dependencies"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 (devel 77c42c5c1e) last updated 2014/02/15 09:03:20 (GMT +000)
##### Environment:

N/A
##### Summary:

`delegate_to` does not work for dependencies of roles
##### Steps To Reproduce:

Create a role which depends on another role applied to a different host.

Example configuration ([also as tarball](https://t-8ch.de/ansible_issue_6023

[2014-02-15 19:02] mpdehaan commented on #6017
I'd agree here.   Doing that now and will be available in next docs push.

[2014-02-15 19:02] #6017 closed, assigned to nobody

[2014-02-15 19:04] mpdehaan commented on #6016
done, will be in next docs push

[2014-02-15 19:04] #6016 closed, assigned to nobody

[2014-02-15 19:06] mpdehaan commented on #5884
Will be in the next docs push, thanks!

[2014-02-15 19:06] #5884 closed, assigned to nobody

[2014-02-15 19:09] mpdehaan commented on #5813
We generally don't want to see sudo switched on globally, as there may be steps, especially steps executed on the local machine in conjunction with remotes, where this would be confusing.  This is the reason it's not a config file setting in the examples.cfg.

[2014-02-15 19:09] #5813 closed, assigned to nobody

[2014-02-15 19:13] mpdehaan commented on #5596
done, will be in next docs push.   thanks!

[2014-02-15 19:14] #5596 closed, assigned to nobody

[2014-02-15 19:21] mpdehaan commented on #5487
done, pending next docs push

[2014-02-15 19:21] #5487 closed, assigned to mpdehaan

[2014-02-15 19:36] mpdehaan commented on #5736
done, will appear in next docs push

[2014-02-15 19:36] #5736 closed, assigned to mpdehaan

[2014-02-15 23:23] bsdlp opened #6025 "Feature request: Linode add private ip address"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.4.5
##### Environment:

N/A
##### Summary:

The Linode cloud module is currently missing the ability to add private IP addresses to an instance. This is important for the NodeBalancer product, which requires Linodes to be added using the Linode's private IPv4 address.

https://www.linode.com/api/linode/linode.ip.addprivate
##### Ste

[2014-02-16 02:59] eigood commented on #5874
To rephrase, that include is not expecting to include a playbook.  It's expecting to include a list of tasks.

If your include is at the top-level, then it would work as you expect.

[2014-02-16 03:33] ToBeReplaced opened #6027 "ejabberd_user requires mod_admin_extra"
##### Issue Type:

Documentation Report
##### Ansible Version:

ansible 1.4.3
##### Environment:

Fedora 20
##### Summary:

The `ejabberd_user` module requires `mod_admin_extra` for the `ejabberdctl check_account user host` call.  This is not noted as a requirement, and it is not configured by default on Fedora.

I don't know whether or not that is a reasonable requirement for the module.  If so,

[2014-02-16 09:24] hyperfocus1338 commented on #6009
Sure Michael, here's the (unedited) php.ini: https://gist.github.com/hyperfocus1337/9031568

[2014-02-16 15:19] bobrik opened #6030 "IOError: [Errno 11] Resource temporarily unavailable on npm output"
##### Issue Type:

Bug report.
##### Ansible Version:

`ansible 1.4.5`
##### Environment:

Running ansible from OS X Mavericks, trying to manage ubuntu 12.04 and Gentoo.
##### Summary:

Task that runs `npm install` cannot complete successfully, firing `IOError: [Errno 11] Resource temporarily unavailable`.
##### Steps To Reproduce:

Here's minimal playbook:

[code]

It clones kibana and runs `npm

[2014-02-17 10:19] ftokarev commented on #5305
+1, I'm seeing the same message: "Instance has not passed the configured HealthyThreshold number of health checks consecutively."

[2014-02-17 11:24] boosh opened #6039 "EC2 module table refers to `key_name`, but all examples use `keypair`"
I don't know which it should be, but something's wrong: http://docs.ansible.com/ec2_module.html

[2014-02-17 13:20] vitaliel commented on #2197
Just a note for other users, for example if user home is on NFS and root user does not have perms to read 0600 files, ansible fails to execute sudo commands, fix:

[code]

[2014-02-17 13:20] mtr opened #6041 "Support automatically generating a graph of role dependencies"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5
##### Environment:

N/A
##### Summary:

I really enjoy your support for role dependencies and how it encourages reuse of role definitions.  However, as the number of roles in my full site deployment has increased (27+, where many sub-roles are shared between other roles) the complexity of maintaining the playbooks has increased to

[2014-02-17 15:37] leucos opened #6042 "mysql_db fails connecting to create a database while connection is possible"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

Arch -> Ubuntu 12.04
##### Summary:

mysql_db fails connecting to create a database while connection is possible
##### Steps To Reproduce:

See below.
##### Expected Results:

I expect mysql_db to create a database on the node if I have the rights to do it.
##### Actual Results:

Actual results are opposite of ex

[2014-02-17 15:57] risaacson commented on #6039
@boosh Can you put in some more detail so we can help you figure out what is wrong?

[2014-02-17 16:44] mpdehaan commented on #6039
@risaacson I can infer that from the subject.

keypair is an alias for key_name, as such, we should use "key_name" in all examples.

[2014-02-17 16:54] mpdehaan commented on #6022
This is not a bug but is actually part of the YAML spec.

Quote the string to avoid this.

"on"

http://www.yaml.org/refcard.html

[2014-02-17 16:54] #6022 closed, assigned to nobody

[2014-02-17 16:57] mpdehaan commented on #6041
This is unlikely to be something that will be a feature in the ansible CLI.   If you want to create a script or something to produce this, that would be interesting.

[2014-02-17 16:57] #6041 closed, assigned to nobody

[2014-02-17 18:47] #5533 closed, assigned to nobody

[2014-02-17 18:50] jimi-c commented on #5533
We decided to go another, more simple way with this fix. Thanks for reporting it, and let us know if you have any other questions regarding this issue!

[2014-02-17 19:30] LucianoCavalheiro commented on #5533
I've ended converting my script into an ansible module because of other aspects.

@jimi-c  My only concern with the solution you chose to implement is that it somewhat go against encapsulation, since it leaks an information that belongs to connection management into a module, while in theory all modules should be agnostic to connection plugins. I acknowledge that I'm often too purist about such as

[2014-02-17 19:55] jimi-c commented on #5533
Yeah those are somewhat special cases since they do not deal in JSON output directly and are also handled by action_plugins. This should not really ever come up again.

[2014-02-17 20:22] jerdfelt commented on #6007
This looks like a duplicate of issue #5463

[2014-02-18 00:30] neh opened #6047 "Recent ansible (dev) versions fail to connect in accelerated mode to nodes without a $HOME/.ansible"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
More specifically: f72f5a20
##### Environment:

Ubuntu 12.04
##### Summary:

When using accelerated mode with hosts that lack $HOME/.ansible, ansible fails to communicate with the managed node ("Failed to get a response from X.X.X.X"). Turning accelerated mode off allows ansible to manage the node normally. The nodes in question hav

[2014-02-18 01:08] flaub opened #6048 "Wrong variable resolution with multiple groups"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.5
##### Environment:

Ubuntu 12.04
##### Summary:

When a host is specified within multiple groups, variable resolution appears to be based off whichever group is first (lexically).  Here's an example:
##### Steps To Reproduce:

Directory structure:

[code]

Contents of `ansible/hosts`

[code]

Contents of `ansible/group_vars/group_

[2014-02-18 01:37] risaacson commented on #5114
@athoune Your error is now being caught on lib/ansible/runner/action_plugins/template.py:90 as @mpdehaan suggests.

'''
fatal: [test] => {'msg': "unsupported operand type(s) for -: 'StrictUndefined' and 'StrictUndefined'", 'failed': True}
fatal: [test] => {'msg': "unsupported operand type(s) for -: 'StrictUndefined' and 'StrictUndefined'", 'failed': True}
'''

[2014-02-18 02:22] mpdehaan commented on #6048
So both groups are at the same depth, so this behavior is undefined.

I disagree that this is a bug because the groups are on the same depth.

Since this is a bit of "question" mode, feel free to stop by the mailing list to discuss further.

[2014-02-18 02:22] #6048 closed, assigned to nobody

[2014-02-18 02:25] mpdehaan commented on #6047
cc @jimi-c can you take a look at this?

[2014-02-18 02:34] flaub commented on #6048
Thanks, I started a thread on the mailing list.

[2014-02-18 02:38] mpdehaan commented on #5114
I was actually proposing a better error message than the above.

[2014-02-18 02:39] mpdehaan commented on #6048
Excellent.

[2014-02-18 06:22] lukyanov commented on #5886
I've found the cause:

[jskit@nvar0.cnn ansible]$ "xmllint" --nonet --valid "/home/jskit/ansible/docs/man/man1/ansible-pull.1.xml"
I/O error : Attempt to load network entity http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd
/home/jskit/ansible/docs/man/man1/ansible-pull.1.xml:2: warning: failed to load external entity "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd"
D DocBook XML V4.5

[2014-02-18 06:34] lukyanov commented on #5886
Ok, it's not about ansible in fact. That's the way how asciidoc works. But I still can't build an rpm package.

[2014-02-18 06:42] lukyanov commented on #5886
Tried different version of asciidoc. Not reproducible anymore. Closing...

[2014-02-18 06:42] #5886 closed, assigned to nobody

[2014-02-18 10:13] 42wim opened #6050 "Please add a note about 'yum-utils' required on some systems to the yum module documentation"
##### Issue Type:

Documentation Report
##### Ansible Version:

1.5
##### Environment:

N/A
##### Summary:

Please add a note about 'yum-utils' required on some systems to the yum module documentation
See https://github.com/ansible/ansible/issues/2002
##### Steps To Reproduce:

N/A
##### Expected Results:

Note being added :-)
##### Actual Results:

N/A

[2014-02-18 15:23] Oneiroi commented on #963
@trevoro from the code digging I've been doing in #6049 (formerly #5633) this code has not changed and the CREATE syntax is still in use at this time; as it is an edge case as @time-palominodb pointed out, I assume that's the reason for a lack of patch submission.

[2014-02-18 16:34] #5819 closed, assigned to nobody

[2014-02-18 17:07] muffl0n commented on #5581
Is this still unfixed in upcoming releases? I'm experiencing the same behaviour with 1.4.5.

[2014-02-18 18:53] mpdehaan commented on #6050
So a link to an old ticket is a little confusing, is there something particular you found needed yum-utils that was not clear or specifically what problem you are seeing resolved with the installation of this package?

[2014-02-18 18:58] bilalaslam opened #6056 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xbf in position 131: ordinal not in range(128)"
When installing `fail2ban` using Ansible 1.5 `devel` branch (and as far down as Ansible 1.4.4), I see this stack trace. This used to work in Ansible 1.2.

**Client-side**

[code]

**Server-side**
This is happening because the play is causing extended ASCII characters to get written to stdout on the server.

[code]

[2014-02-18 19:31] 42wim commented on #6050
Sorry for the confusion, I created the ticket because jctanner commented in #2002 to create a new bug instead of replying there.

The issue is that I spend a lot of time looking why the yum module didn't work correctly on a RHEL5 system. It just didn't find a package in "myrepo" with e.g. "enablerepo=myrepo" specified.

After installing yum-utils everything worked fine.

Running yum manually witho

[2014-02-18 20:56] mpdehaan commented on #6056
cc @jimi-c

[2014-02-19 13:09] htgoebel opened #6060 "Wrong distribution_version for Mageia"
##### Issue Type: Bug Report
##### Ansible Version: 1.4.3
##### Environment: N/A
##### Summary: Wrong distribution_version for Mageia
##### Steps To Reproduce:

run `ansible -m setup mageia-host | grep Mageia'
##### Expected Results:

"ansible_distribution_version": "3",
##### Actual Results:

 "ansible_distribution_version": "release",

[2014-02-19 13:20] muffl0n opened #6061 "Modules "unarchive" and "copy" do not expand pathes correctly"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.5
##### Environment:

Gentoo Base System release 2.2
##### Summary:

This simple playbook:

[code]

produces an error when being executed:

[code]

Apparently unarchive does not expand the home directory "~test/" as file and copy do. Despite the fact that the directory is expanded in https://github.com/ansible/ansible/blob/devel/lib

[2014-02-19 13:22] mpdehaan commented on #6060
We'll decide what's severe and what isn't :)

Thanks for the bug report!

[2014-02-19 13:22] mpdehaan commented on #6060
Didn't mean to close this BTW.

[2014-02-19 14:01] t0mk opened #6063 "Yum module fails on CentOS 6.5: "failed to parse: SUDO-SUCCESS[...]""
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.5
##### Environment:

CentOS 6.5, yum 3.2.29, rpm 4.8.0
##### Summary:

Yum module, run with sudo, fails on CentOS 6.5: "failed to parse: SUDO-SUCCESS[...]"
##### Steps To Reproduce:

Get a CentOS 6.5 node and run:

[code]
##### Expected Results:

the module call should succeed as the yum call did succeed
##### Actual Results:

yum

[2014-02-19 14:42] #6056 closed, assigned to nobody

[2014-02-19 14:44] jimi-c commented on #6056
The above patch should resolve this issue. If you continue having problems with this, please let us know. Thanks!

[2014-02-19 14:47] dirtyharrycallahan opened #6064 "ansible service module does not detect changes to service scripts on SLES"
##### Issue Type:

Bug?
##### Ansible Version:

ansible 1.4
##### Environment:

SLES 11 SP2
##### Summary:

In a playbook deploy a service script to /etc/init.d/ using copy module then enable the service using the service module. If there are subsequent changes to the service script that change the dependencies (start order) it appears that the service module does not detect these and reinstall th

[2014-02-19 17:02] ludovicc commented on #5800
I've got the same issue, I'm using a paramiko connection to a ScientificLinux 6.4 server from Ubuntu 13.10

[2014-02-19 17:11] eaigner commented on #5241
@scottmotte Is this snippet idempotent?

[2014-02-19 17:17] jwilberding commented on #5241
@eaignerThe first two commands have the the when clause, and the 3rd uses a special command to only add the line when it doesn't exist. The last two commands will always run, but should harmless, so fairly indempotent.

[2014-02-19 17:19] eaigner commented on #5241
Oh... I didn't realize `ansible_swaptotal_mb` is a global ansible var

[2014-02-19 18:09] efine commented on #6027
As an aside, `mod_admin_extra` comes standard with the Debian build of ejabberd `2.1.x`. Because it's so useful, perhaps Fedora should consider adding it (it's a pretty straightforward patch - one extra file and an extra line in `ejabberd.app`).

[2014-02-19 18:19] efine commented on #5994
Isn't some of this to do with valid YAML syntax?

[code]

is invalid YAML because the opening brace at the start of the line makes YAML think it is going to see a dictionary. Try the above in http://yaml-online-parser.appspot.com/ and there will be a syntax error:

[code]

OTOH, this works fine:

[code]

and so does this:

[code]

[2014-02-19 19:14] jlaska opened #6067 "[ec2] exact_count=0 launches an instance with matching count_tag"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

RHEL-6.4, CentOS-6.4, Ubuntu-12.04
##### Summary:

When using the ec2 `count_tag` parameter, the `exact_count=0` value does not terminate existing instances.  Instead, it appears to create a new instance.
##### Steps To Reproduce:
1. Create the following playbook (note the `FIXME` values)

[code]
1. Run the follo

[2014-02-19 19:43] darKoram opened #6068 "pip with virtualenv - ValueError: ('Expected version spec in', 'upgrade,no-use-wheel', 'at', ',no-use-wheel')"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 (vault 8bfd83d042) last updated 2014/01/13 18:12:49 (GMT -500)
##### Environment:

MacOSx mountain lion for the ansible controller, targeting a centos6.5 vm on openstack.
##### Summary:

The following lines give
ValueError: ('Expected version spec in', 'upgrade,no-use-wheel', 'at', ',no-use-wheel')
- name: Upgrade setuptools
  pip:

[2014-02-19 20:19] mxey opened #6072 "Jail connection ignores sudo_user"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

I am running FreeBSD 10.0-RELEASE and managing 10.0-RELEASE jails.
##### Summary:

The connection type “jail" ignores the sudo_user setting, commands are always executed as root.

As the connection type uses jexec already, this can probably be fixed trivially by using jexec -U
##### Steps To Reproduce:

[code]

[2014-02-19 21:46] mpdehaan commented on #6072
Something you would like to help work on perhaps?

[2014-02-19 21:49] mpdehaan commented on #6067
Fixed per your commit, so closing, thanks!

[2014-02-19 21:49] #6067 closed, assigned to nobody

[2014-02-19 21:50] mpdehaan commented on #6064
Can you show a sample playbook that reproduces this problem?

[2014-02-19 21:54] dirtyharrycallahan commented on #6064
I will mock one up later today.

[2014-02-19 22:23] jctanner opened #6077 "copy module contents parameter does not allow for newline chars"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

Control host -- ubuntu 12.04
Managed host -- ubuntu 12.04
##### Summary:

When creating a file via the copy module and the content= parameter, newline characters are not evaluated and will show up as ascii in the resulting file.
##### Steps To Reproduce:

[code]
##### Expected Results:

[code]
##### Actual Results:

[

[2014-02-19 22:32] mpdehaan opened #6078 "subversion module returns some tuples that should be hashes"
The before and after data structures coming back from the subversion module:

[code]

This should be like

[code]

This would break anyone using the data but it's svn and I think it's ok in this case as the current data structure is not machine friendly.

[2014-02-19 22:32] mpdehaan opened #6079 "on a repeated run the subversion module still reports 'changed'"
See the new integration tests data.

An update with the module should report changed=False

[2014-02-19 22:37] jctanner opened #6080 "stat module returns mode 420 for a file that is 0644"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

ubuntu 12.04 on both hosts
##### Summary:

A file with 0644 permissions is reported as 420 by the stat module.
##### Steps To Reproduce:

[code]
##### Expected Results:

Assert task does not fail.
##### Actual Results:

Assert task fails.

[2014-02-20 00:04] neh commented on #6047
So it appears that $HOME/.ansible/tmp is not being created by ansible any more. When I configure a new node with my bootstrap role, it works, but then the next run fails. Logging in to the node and running mkdir -p $HOME/.ansible/tmp as the ansible user makes everything work again.

[2014-02-20 00:41] djatlantic opened #6082 "UnboundLocalError: local variable 'vault_pass' referenced before assignment"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.x
##### Environment:

N/A
##### Summary:

ansible-playbook and --list-hosts gives the following traceback ...

[code]
##### Steps To Reproduce:

[code]
##### Expected Results:

No traceback
##### Actual Results:

Traceback

[2014-02-20 01:16] tima opened #6083 "test_playbook_logging_non_ascii unit test is failing."
Earlier today my Jenkins monitoring started reporting a failed unit test.

[code]

Seems actual and expected have come out of sync. What should they be after the changes made?

[2014-02-20 01:58] jimi-c commented on #6083
I'm aware of this and looking into it.

[2014-02-20 02:24] jctanner commented on #6082
So this appears to have been only possible with --list-hosts. Fixing it now.

[2014-02-20 02:26] #6082 closed, assigned to nobody

[2014-02-20 05:50] dirtyharrycallahan commented on #6064
Although the service module does not do quite what I want it to do I would not necessarily call it a bug. It only came up at my site because we deploy quite a few init scripts for things like torque, apache, IBM Rational Team Concert Build Engines, ClamAV, and other services.

ansible 1.5 (7fe3db40)

playbook
- hosts: localhost
  gather_facts: no

  tasks:
      - name: copy service file
        c

[2014-02-20 07:13] thinrhino opened #6087 "ec2_vol: One or more undefined variables: 'item' is undefined"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

OS X 10.8.5
##### Summary:

My ansible script to launch a ec2 volume fails with the error:
`fatal: [localhost] => One or more undefined variables: 'item' is undefined`

[code]

I have not been able to figure out the issue. The current code example in the repo is the same!

[2014-02-20 07:32] tonk commented on #5994
@efine: I tried

[code]

with result

[code]

So I tried the second option, you supplied

[code]

and that works fine.

I'm not that into Yaml, but there seems to be a difference between your parsing engine and mine.

I use Python 2.6.6 on CentOS 6.5 (64 bit) and PyYAML 3.10-3

Thanks for the help. I'll read up on Yaml.

[2014-02-20 09:18] mxey commented on #6072
I am unsure if I should support sudo_user or remote_user with jexec, because it won't actually use the sudo command.

[2014-02-20 10:20] guiniol opened #6088 "sudo: inconsistency between ssh and local connections"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.5
##### Environment:

Debian stable, ansible is installed via pip
##### Summary:

When using ssh, ansible does not use sudo if the remote_user is the same sudo_user (see 99687749a336eca5eec4a3be6786bb4dc10abe71 and b6879ca2bd620a2d73db9f2598ad67c66aff3bbb ). However, this does not happen when using a local connection (ie. ansible st

[2014-02-20 10:39] dhorbach opened #6089 "action_plugins are not loaded relative to current playbook"
##### Issue Type:

“Bug Report”
##### Ansible Version:

1.4.5, 1.5 HEAD

$ ansible --version
ansible 1.5 (devel 7fe3db408d) last updated 2014/02/20 13:06:06 (GMT +400)
##### Environment:

Centos 6.4
##### Summary:

I'm trying to test the following statement from docs
"In addition, plugins can be shipped in a subdirectory relative to a top-level playbook, in folders named the same as indicated abov

[2014-02-20 11:30] hyperfocus1338 commented on #5007
It just happened after cancelling a command execution and then re-running Ansible through vagrant with vagrant provision. It didn't happen for a while before this. Hope this helps.

[2014-02-20 12:09] mahemoff commented on #4875
I just hit the same issue in a standalone (not Ansible) script. It worked fine, then occurred just after I renamed my script to `linode.py` (and even after I renamed it, the remnant `linode.pyc` still caused the problem). It's a naming conflict with the `linode` library that `chube` builds on.

The solution seems to be renaming ansible's linode module. Or something else involving namespaces, but I

[2014-02-20 12:53] bcoca commented on #6064
you can convert that into handlers and notify when copy detects change.

##

Brian Coca
Stultorum infinitus est numerus
0110000101110010011001010110111000100111011101000010000001111001011011110111010100100000011100110110110101100001011100100111010000100001
Pedo mellon a minno

[2014-02-20 13:20] chakrit opened #6091 "`git` module cannot clone empty repo."
##### Issue Type:

"Bug Report" or maybe a "Feature Idea"
##### Ansible Version:

ansible 1.4.4
##### Environment:

Latest OS X
`uname -a` gives `Darwin  13.0.0 Darwin Kernel Version 13.0.0: Thu Sep 19 22:22:27 PDT 2013; root:xnu-2422.1.72~6/RELEASE_X86_64 x86_64`
##### Summary:

Sometimes the source repository has nothing pushed to it yet and other times the source repository is also on a machine

[2014-02-20 13:26] chakrit commented on #6091
Updated as per @ansibot request.

[2014-02-20 13:29] t0mk commented on #6063
It seems that the json.loads(data) in `lib/ansible/utils/__init__.py_` fails.

It is because it's given

[code]

The first line somehow don't fit there. The json parser doesn't like it. I will investigate what emits the line.

[2014-02-20 13:42] mpdehaan commented on #6091
So this error message comes from git itself, so the git command line clone command won't work either.

Is there a particular flag to git you think we should be passing?

[2014-02-20 13:43] mpdehaan commented on #6083
The actual and expected logic is pretty terrible in the way the playbook tests run.

We're in the process of overhauling how we test playbooks entirely, so the best recourse here after confirming there isn't a problem (needs to be done) is to just remove the test and rewrite a new one.

[2014-02-20 13:45] mpdehaan commented on #6087
So you haven't defined "item" anywhere, so this isn't a bug.

Please stop by the mailing list and we can help you with usage questions.

[2014-02-20 13:45] #6087 closed, assigned to nobody

[2014-02-20 13:46] mpdehaan commented on #6088
Thanks, I agree that the local mode shouldn't sudo to the same user account either.

[2014-02-20 13:47] mpdehaan commented on #6089
So the problem above is that actual plugins need to be named with ".py" extensions, since they are modules, so this is not a bug.

Please stop by the user mailing list (ansible-project) if you have more questions.

Thanks!

[2014-02-20 13:47] #6089 closed, assigned to nobody

[2014-02-20 13:49] t0mk commented on #6063
It's my "debug print" from past. Closing. Please tag it as invalid. Sorry for this.

[2014-02-20 13:49] #6063 closed, assigned to nobody

[2014-02-20 14:17] efine commented on #5994
Surrounding the whole expression with quotes fixes that issue. That is equivalent to using the `>` block literal construct, but messier. The online parser uses the [YAML 1.2](http://www.yaml.org/spec/1.2/spec.html) spec, which seems to be the latest, so if there is a difference, I'm not sure where it arises.

[code]

[2014-02-20 14:27] efine commented on #5994
@rhaido If you use `with_flattened` instead of `with`, it should solve the problem.

[2014-02-20 14:44] chakrit commented on #3141
I second this.

Creating intermediate directories as root is just unintuitive. It prevents access to the subdirectory. This, of course, does not immediately fail but will instead show as weird permission errors when other programs try to access it.

I think the right behavior is to create them as the specified owner if it does not exist otherwise (if it already exists) just leave them alone and on

[2014-02-20 14:57] majksner commented on #5305
I'm having slight different issue, but it seems it's caused by boto. It looks like boto doesn't read ENV variables. If I don't pass AWS keys directly as:

[code]

I'm getting:

[code]

If I do pass aws keys directly in ec2_elb:

[code]

[2014-02-20 14:58] rassie opened #6092 "stat module crashes when a file is not readable because of MD5 sum checking"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.5
##### Environment:

SLE11SP3
##### Summary:

stat module crashes
##### Steps To Reproduce:

I'm trying to check whether my logging configuration is correct and log files are readable by the proper user. However, if a file is not readable, `stat` module will crash:

[code]
##### Expected Results: Does not crash
##### Actual Results

[2014-02-20 15:30] dhorbach commented on #6089
Unfortunately adding .py extension didn't help

[2014-02-20 15:33] rhaido commented on #5994
Hello,

Let me test the proposed solutions, and I'll return with the report ASAP (preferably, tomorrow).

Thanks one more time!

[2014-02-20 15:54] mpdehaan commented on #6092
Agree it should return failed=True, msg="file is not readable" instead.

Thanks for the report!

[2014-02-20 16:03] srgvg commented on #5818
This patch seems break on my side in two ways:
- first, same as @drybjed mentions, now a delegated hosts needs to be part of the inventory, whereas before it needn't be; fair enought this now actually makes more sense in a way.
- secondly, when I make sure the delegated hosts is part of my inventory, it breaks where ANSIBLE_SSH_HOST is templated here, and the template doesn't get resolved anymore.

[2014-02-20 16:06] stick opened #6094 "included task with a tag does not trigger notify task"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

N/A
##### Summary:

When you execute the playbook with the '--tags supercool' it runs all the tasks associated with the included playbook but does not notify the trigger task.
##### Steps To Reproduce:

Given this playbook snippet:

[code]
##### Expected Results:

I would expect nginx to reload based on the not

[2014-02-20 16:11] mpdehaan commented on #6094
I would agree that we should consider not requiring tags to run handlers and this is an easy change to make that should not hurt anyone.  I'll probably start a list thread to make sure this doesn't cause too much chaos :)

[2014-02-20 16:21] rassie commented on #6092
I don't think I agree -- there are a lot of situations where an unreadable file is correct behaviour. Also, a lot of information about a file can be checked "from the outside", i.e. without reading its contents. I think an MD5 sum should be skipped if a file can't be read or maybe moved to a different script altogether -- "stat" suggests it's the same as command line 'stat', which does not peek in

[2014-02-20 17:47] ap1kenobi opened #6098 "Creating new Security Group with ec2_group module sometimes results in an exception: "The security group 'sg-xxxxxxxx' does not exist""
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 (devel /eb26cca29f/) last updated 2014/02/20 00:07:28 (GMT -400)
##### Environment:

Ansible workstation: OSX 10.9.1
Target managed OS: N/A
##### Summary:

Provisioning a **new** Security Group in AWS with ec2_group module sometimes results in error: The security group 'sg-xxxxxxxx' does not exist
##### Steps To Reproduce:

This is

[2014-02-20 18:49] mpdehaan opened #6099 "Filters should be their own chapter in playbooks, as opposed to be in the vars chapter?"
##### Issue Type:

Docs Report
##### Ansible Version:

N/A
##### Environment:

N/A
##### Summary:

In the docs, various things are discussed in the variables chapter that I would like to be in the sidebar as seperate topics.   The foremost of these are filters.
##### Steps To Reproduce:

Read the variables chapter or go look for filters on the sidebar and not find it
##### Expected Results:

Filte

[2014-02-20 18:50] mpdehaan opened #6100 "All sections in docs should have named anchors"
##### Issue Type:

Documentation Report
##### Ansible Version:

N/A
##### Environment:

N/A
##### Summary:

Want to eliminate stuff like #id22 in hyperlinks in the docs such that they are permanent.
##### Steps To Reproduce:

Read the docs, observe bad hyperlinks
##### Expected Results:

hyperlinks like page.html#this_is_a_topic
##### Actual Results:

hyperlinks like page.html#id22

[2014-02-20 18:54] jimi-c commented on #6083
I've disabled this test for now, so tests should pass once again.

[2014-02-20 18:54] #6083 closed, assigned to nobody

[2014-02-20 19:50] guiniol commented on #6088
I think it should, and so should the ssh mode.
However the really important thing is that both modes behave the same.

[2014-02-20 21:38] ap1kenobi commented on #6098
I can take this one, btw.

[2014-02-20 22:11] ava-miket opened #6101 "user module fails when comment argument contains spaces"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.3
##### Environment:

client running Ubuntu 13.10, target server running Ubuntu 12.04
##### Summary:

JSON strings containing spaces passed to "user" module seem to be improperly converted to arrays
##### Steps To Reproduce:

Running this task:

[code]
##### Expected Results:

should create the user "onetwothree" in target server's

[2014-02-20 22:16] risaacson opened #6102 "shell: chdir=SOMETHING does not seem execute the script in the chdir"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 (devel 0719be852f) last updated 2014/02/20 16:56:40 (GMT -400)
##### Environment:

Centos 6
##### Summary:

I am working on putting together some of the new tests and I can execute a script via the full path it works. When I try to use a chdir it can't find the script.
##### Steps To Reproduce:

I expect that in files we have a scri

[2014-02-20 22:23] mpdehaan commented on #6102
chdir is proven to work

[code]

The problem here is your path doesn't have . in it or ./test.sh isn't in it

[2014-02-20 22:23] #6102 closed, assigned to nobody

[2014-02-20 22:24] mpdehaan commented on #6101
You need to quote this like so:

[code]

(If you have additional questions about how to use this, please stop by the mailing list!)

[2014-02-20 22:24] #6101 closed, assigned to nobody

[2014-02-21 08:04] ex-nerd commented on #6007
Could be.  Another test I've run into can be shown here:

[code]

Though behavior is the same if I use `set_fact: my_var={{ cli_var | default(False) | bool }}`

Pass in `-e cli_var=yes` (or another boolean variant) has the expected behavior of setting my_var to the string "True" (which still evaluates to True, unlike the string "False") rather than an actual boolean value.  You would think if "Tru

[2014-02-21 10:56] rhaido commented on #5994
Dear colleagues,

Usage of `with_flattened` statement doesn't fix the initially described issue, i.e. the result is the following:

`failed: [127.0.0.1] => (item=jdk1.7.0_45 jdk1.6.0_43 jdk1.7.0_45 ['jdk1.7.0_45']) => {"failed": true, "item": "jdk1.7.0_45 jdk1.6.0_43 jdk1.7.0_45 ['jdk1.7.0_45']"}`

Please note, that {{ jdk_next }} is expanded as ['jdk1.7.0_45'], i.e. as a string representation of

[2014-02-21 13:54] ramondelafuente opened #6107 "Allow default galaxy template variables [Feature request]"
When using ansible-galaxy there is template in the source with (for example) a variable  {{ author }}. But I can't see a possibility to add these variables to the init call.

Is that possible?

[2014-02-21 14:00] ramondelafuente commented on #6107
moving this to the mailing list

[2014-02-21 14:00] #6107 closed, assigned to nobody

[2014-02-21 14:32] awheeler opened #6108 "ansible-playbook with --check does not define register variables causing conditionals to error out"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.3
##### Environment:

CentOS 6
##### Summary:

When executing ansible-playbook with the --check argument, some variables are not defined that would be without the --check argument, resulting a in a confusing error message that is difficult to troubleshoot.  Even adding -vvv provides no extra detail on what went wrong.
##### Steps To

[2014-02-21 15:09] bcoca commented on #6108
you can add alwasy_run: true to the task that registers so --check won't
fail.

[2014-02-21 16:34] elasticdog opened #6109 "document with_first_found example + template"
##### Issue Type:

Bug Report
##### Ansible Version:
ansible 2.2
ansible 1.4.5

##### Environment:

N/A
##### Summary:

It took me a while to figure out that `with_first_found` was only looking under the _files/_ path by default, and not under _templates/_ even when used with the template module. Looking up templates works fine if you [manually specify that paths should include _../templates/_](ht

[2014-02-21 17:00] awheeler commented on #6108
Excellent point, but doesn't help when I don't know what the problem is, as the error output is quite unclear on that.  It took me 2 days to figure it out.  (I found a work-around first.)

[2014-02-21 17:17] mgcrea commented on #1534
@mpdehaan Is there a way to enable per task tracking of elapsed time?

Moving from:

[code]

to:

[code]

Having the absolute date would also be an option.

For long playbooks (like compiling stuff on low-power ARM boards), having some kind of per-task datetime info would be nice, since you usually don't wait for them (I'm firing it up in a screen session).

Would be nice to have a flag in `ansibl

[2014-02-21 18:45] techtonik opened #6110 "apt_repository state=present doesn't create source.list file"
##### Issue Type: Bug Report
##### Ansible Version: 1.4.5
##### Environment: Debian 6.0.7
##### Summary:

If there are no entries left in `source.list` after `state=absent` processing, `apt_repository` command removes the file, which makes is necessary for subsequent tasks (i.e. with `state=present`) to recreate it.
##### Steps To Reproduce:

[code]
##### Expected Results: New repository is set.
#

[2014-02-21 19:55] jerrac opened #6111 "If I use the value "import logs" in a dict, ansible throws "with_items expects a list" error"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible --version
ansible 1.4.5
##### Environment:

I'm running Ubuntu 12.04 on both testhost and my localhost.

I set `hash_behaviour=merge` in my ansible.cfg file.
##### Summary:

If I use the value "import logs" in a dict, ansible throws "with_items expects a list" error
##### Steps To Reproduce:

This is an odd issue. If I run this playbook

[2014-02-21 20:03] spatten opened #6112 "Route53 error when creating a TXT record"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

Running on OS X. Managing Ubuntu 12.04 LTS on AWS.
##### Summary:

I can't create a TXT record with the route53 module
##### Steps To Reproduce:

Run this playbook:

[code]

Things work fine if I try to create a CNAME or A or MX record with the same variables. For example, this works:

[code]

For TXT records I get th

[2014-02-21 20:17] spatten commented on #6112
Sorry, I figured out the problem. TXT records need to be surrounded by double-quotes. This works:

[code]

[2014-02-21 20:17] #6112 closed, assigned to nobody

[2014-02-21 20:39] srgvg commented on #5939
To clarify, the point of this issue is  that @drybjed 's inventory consists of the short names of his hosts, and he was able to delegate to the fqdn because delegates didn't need to be in the inventory.

d355d3c has the side effect to disallow disallow delegated hosts to not be in inventory

[2014-02-21 20:54] #5939 closed, assigned to nobody

[2014-02-21 21:07] jctanner commented on #4109
Re-categorizing to a feature_idea

@j2sol can you give an example of an inventory and a playbook where this would be useful?

[2014-02-21 21:45] gorazdg opened #6114 "Unable to use synchronize module with password - possible only in serial mode"
rsync modules - synchronize does new ssh connection and is not reusing current one. It is quite hard to use it without public key authentication (and that without password is also a thought one)

[2014-02-21 22:46] gorazdg commented on #6114
##### Issue Type:

"Feature Idea”

##### Ansible Version:

"ansible 1.4.5"

##### Environment:

Ubuntu 12.04

##### Summary:

Rsync module - synchronize does new ssh connection and is not reusing current one. It is quite hard to use it without public key authentication (and that without password is also a thought one)

##### Steps To Reproduce:

every synchronize: task

##### Expected Results:

To

[2014-02-21 22:46] #6114 closed, assigned to nobody

[2014-02-22 00:58] chrisblossom opened #6115 "ansible-playbook python errors with latest dev"
##### Issue Type: Bug report
##### Ansible Version: ansible 1.5 (devel 3fc87e011b) last updated 2014/02/21 16:54:34 (GMT -700)
##### Environment: Ubuntu 12.04
##### Summary: Python error
##### Steps To Reproduce: ansible-playbook -vvvv -i stage.yml site.yml
##### Expected Results: Playbook should run
##### Actual Results:

[code]

This error starts with commit 3fc87e011b44db815204d11337526de580f2a

[2014-02-22 01:30] mpdehaan commented on #6115
@jctanner - I'm guessing the encrypted content (or file) here is very tiny (maybe blank) and we need to upgrade vault content to just read a minimum number of bytes, i.e. file.read(HEADER_LENGTH) and have some try except logic.

Can you take care of this?

[2014-02-22 01:38] mpdehaan commented on #6115
@jctanner - I should be able to take a look at this tonight, disregard

[2014-02-22 01:40] chrisblossom commented on #6115
To cause the issue:
Inside a role I had a handlers directory with main.yml inside with just "---" as the contents. Deleting this directory and file fixed the issue.

[2014-02-22 02:08] mpdehaan commented on #6115
I couldn't reproduce this with a "---" file, but I could with an empty file.   Now the system catches StopIteration and assumes a non-encrypted file, which is valid, because a file without a newline can't have an encryption header and a data element.

Thanks for the report, should be good to go now in 9686695170bd1cec9866e39cdedc8c54f23e1d6b

[2014-02-22 02:08] #6115 closed, assigned to jctanner

[2014-02-22 11:24] drybjed commented on #5939
@jctanner @sergevanginderachter: everything works now as intended. Thanks for the fix. :-)

[2014-02-22 12:54] nicolai86 opened #6119 "Allow ModuleReplacer to include custom library code"
As outlined in the [google group](https://groups.google.com/forum/#!topic/ansible-project/nEMlCMDMD3A) I think ansible libraries authors could make good use of the ability to include local python files inside a custom library file. This is currently not possible and would require changes to the ModuleReplacer to allow for a customizable include path.

This PR is mostly a placeholder for discussion

[2014-02-22 15:26] mpdehaan commented on #6119
This is actually a "feature idea" not a pull request.

To keep our ticket database clean, it's fine to just submit the pull request when you have one.

We prefer to have discussion happen on the mailing list vs github, since there's a larger community there, and we don't end up forking the discussion between two places.

Thanks!!!

[2014-02-22 15:26] #6119 closed, assigned to nobody

[2014-02-22 15:47] mpdehaan commented on #6111
This has nothing to do with the "import logs" but rather that with_items does need a list.

Stop by the mailing list and folks can help with questions.

The fact that debug can't print nested data structures with msg is a thing based on it wanting a quoted string and such, do this instead:

debug: var=varName

[2014-02-22 15:47] #6111 closed, assigned to nobody

[2014-02-22 15:50] mpdehaan commented on #6109
So the looping example doesn't technically indicate where the lookup plugin is going to look, so it's not wrong.

However it should possibly indicate this gotcha somewhere, not as calling it out as wrong, but just mentioning that lookup plugins are going to look in "files/".

Lookup plugins are always going to look in the "files" dir, all of the time, because they are agnostic to the module being

[2014-02-22 15:51] mpdehaan commented on #6108
Yep, this is what always_run is for.

We're not going to be able to help with the error message, in your case, the variable _is_ undefined.

[2014-02-22 15:51] #6108 closed, assigned to nobody

[2014-02-22 15:54] awheeler commented on #6108
It does not say in the error message that the variable is undefined, it simply says error while evaluating conditional. if it did, that would be immensely helpful.

[2014-02-22 16:03] jerrac commented on #6111
That's why I use dictsort to turn it into a list.

Also, if it was just the list thing, then why does it work when I name it anything except "import logs"?

[2014-02-22 16:54] elasticdog commented on #6109
Even if the example isn't technically wrong, it would have people put templates under files/ instead of templates/ under the role, which is confusing. The error message could be a little more intuitive, as even with the current version it looks like it tried looking in the path `ansible-playbooks/roles/firewall/templates/None`, which is what I'd think most people would expect given the path behavi

[2014-02-23 06:33] jiv-e opened #6128 "Assemble module: add prefix and suffix"
Hi!
I'm assembling a php config file. I need to prefix '<?php'. I think prefix and suffix would have other use cases also. I think this would be a great feature!

[2014-02-23 10:23] Azulinho opened #6129 "don't uninstall wget while integration testing 'apt'"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

N/A
##### Summary:

In https://github.com/ansible/ansible/blob/devel/test/integration/roles/test_apt/tasks/apt.yml

the tests to test that 'apt is working' are uninstalling 'wget' before re-installing it, for the sake of 'just testing apt' consider using a package that may not be used anywhere in the system suc

[2014-02-23 12:20] Bilge opened #6131 "Unarchive should support unpacking remote archives"
If I wish to download an archive on the remote host using get_url then the unarchive module is unable to help me extract it since unarchive only extracts local archives. In its current implementation, the only way to achieve this is:
- get_url the file on the remote host
- fetch it back to the local host
- unarchive it back to the remote host

This is incredibly wasteful and nigh on ridiculous. Un

[2014-02-23 13:22] chakrit commented on #6091
Hmm. It _does_ work. Here's the output on my machine:

[code]

Only a warning is emitted. I think maybe it is giving `git` some extra flags (to specify commit) that doesn't work with empty repositories?

[2014-02-23 13:25] chakrit commented on #6091
Oops, forgot the --bare flag. Anyway here's a similar run on an ubuntu machine which is my target:

[code]

Everything works. Only warnings are emitted. And the return code is 0.

[2014-02-23 13:55] Bilge opened #6132 "apt_repository fails when adding a PPA"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

Ubuntu 12.04
##### Summary:

apt_repository always fails when adding a PPA complaining pycurl is not installed.
##### Steps To Reproduce:
1. apt-get install python-pycurl
2. run the following task:

[code]
##### Expected Results:

No missing pycurl error.
##### Actual Results:

##### Additional Notes:

Running

[2014-02-23 14:00] mpdehaan commented on #6132
So you need to install pycurl like it says to use this module.  This is not a bug, this is an instruction to you that it is required.

Feel free to stop by the mailing list to ask questions.

[2014-02-23 14:00] #6132 closed, assigned to nobody

[2014-02-23 14:02] Bilge commented on #6132
What the fuck? Did you even read a word of this report?

[2014-02-23 14:07] Bilge opened #6133 "apt_repository always fails when adding a PPA"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

Ubuntu 12.04
##### Summary:

apt_repository always fails when adding a PPA complaining pycurl is not installed.
##### Steps To Reproduce:
1. apt-get install python-pycurl
2. run the following task:

[code]
##### Expected Results:

No missing pycurl error.
##### Actual Results:

##### Additional Notes:

Running

[2014-02-23 14:10] mpdehaan commented on #6131
First request -- Please don't call contributors contributions ridiculous -- I'm very thankful for unarchive, and it's true it could do more.   However, because a personal itch hasn't been scratched doesn't mean there isn't a lot of value in a new module, and I'm thankful for it.

This feature idea is also slightly based on an assumption that the unarchive module must be handled in three step proce

[2014-02-23 14:13] mpdehaan commented on #6129
Fixed per the above, thanks!

[2014-02-23 14:13] #6129 closed, assigned to nobody

[2014-02-23 14:15] Bilge commented on #6131
get_url does not download to the local host, it downloads to the remote host, nor do I want to download to the local host so your steps would not be functionally equivalent even if it did work that way. Which it doesn't.

[2014-02-23 14:17] mpdehaan commented on #6133
That's not quite fair -- issue was misread, if anything.  Don't assume because someone misread something they were being anything but misreading something.

This is an open source project and we do ask that people treat each other with respect.  (See contributing.md)

[2014-02-23 14:19] mpdehaan commented on #6131
The get_url module will download to any host you run the play on, actually.  You can do that in a local play, or use "delegate_to/local_action".

The play is a better approach.

[2014-02-23 14:21] Bilge commented on #6131
I don't know what you're talking about but I thought I made it clear I don't want to download to the local host. The problem is that get_url works on the remote side and unarchive works on the local side. Therefore they cannot be used together directly.

[2014-02-23 14:27] mpdehaan commented on #6133
I can't reproduce this issue.

Here's the relevant code, from the 1.4.4 branch:

[code]

Here's my dpkg output on Ubuntu 12.04:

[code]

Command:

[code]

If you would try installing with pip as an experiment I would be curious if that has any affect on your system.

I think most likely you have run the import on a different system, this would be required on the managed system, not the local one.

[2014-02-23 14:29] mpdehaan commented on #6131
Not directly, but they can in fact be used in conjunction.

[code]

[2014-02-23 14:30] mpdehaan commented on #6131
If you don't need to download to the control machine, this is just two tasks in the same play

[code]

There would be no fetch in either case.

[2014-02-23 14:35] Bilge commented on #6131
**get_url** will always download to the **remote** machine because it only takes remote paths.
**unarchive** will always extract from a file on the **local** machine because it only operates on local paths.

To be clear, you can name remote and local anything you like. Master/slave, control/minion. Whatever you call it, these two modules cannot operate on the same file back to back.

Try testing y

[2014-02-23 14:43] Bilge commented on #6133
The error message needs to be clearer, then, since I thought it had to be installed on the control machine. I dislike having to install things on the target machine in order to get Ancible to run. It wasn't worth it, either, since it just spews GPG errors now.

[2014-02-23 14:43] #6133 closed, assigned to nobody

[2014-02-23 15:09] mpdehaan commented on #6131
There's no argument going on here that I can tell, the ticket is still open and I'm trying to show you how to work around the problem without "fetch" above.

It's evident I did make an error in my last post, switch "unarchive" to "shell: tar -xvf creates=some/path" and you'd have the same result.

As I'm not liking where this thread is going we will be retiring this discussion however, please feel

[2014-02-23 15:09] #6131 closed, assigned to nobody

[2014-02-23 15:13] Bilge commented on #6131
Wow.

[2014-02-23 15:41] mpdehaan commented on #6128
Just as an FYI, you can possibly workaround this right now by having a snippet named "aaaaa_header" and another named "zzzzz_footer".

If this is something you'd like to work on though, it would be quite welcome and probably easy to add.

(Without a pull request, I'll be forthwright and say that it's unlikely someone will be working on this in the near term, though someone else may also wish to im

[2014-02-23 16:38] Bilge opened #6135 "Script module is missing destination path option"
Some scripts are context sensitive and must be run from a particular location on the remote machine. The script module should include a destination path option where the script would be copied to prior to execution.

Also the [documentation](http://docs.ansible.com/script_module.html) for this module doesn't make any sense. It claims that it has one parameter, `free_form`, and that it is required;

[2014-02-23 16:39] Bilge commented on #6135
Also please delete this obnoxious bot.

[2014-02-23 16:53] mpdehaan commented on #6135
The script module will copy scripts to the ansible temp directory and will remove the script after it run (this is itself configurable in ansible.cfg)

If this is not desirable, you can use the copy + command module in this case.

[2014-02-23 16:53] #6135 closed, assigned to nobody

[2014-02-23 21:55] spasche commented on #5679
Is this supposed to work with the `line='#some comment\nMY_CONF=value'` syntax?

I tried with the devel branch of today, and I still get the same behavior you described initially.

If I use something like this:

[code]

and add a `print(repr(params['line']))` in library/files/lineinfile just before the re.sub, I see that the output is `'#some comment\\nMY_CONF=value'`, so the re.sub call doesn't c

[2014-02-23 23:13] jiv-e commented on #6128
Pull requests pending!

[2014-02-23 23:30] DSpeichert opened #6141 "mysql_user: password parameter is required"
##### Issue Type:

Documentation Report
##### Ansible Version:

ansible 1.5 (devel 00ed610a34) last updated 2014/02/24 02:48:28 (GMT +200)
##### Environment: N/A
##### Summary:

[Documentation](http://docs.ansible.com/mysql_user_module.html) claims that password parameter is not required, while Ansible requires it in **mysql_user** module.
##### Steps To Reproduce:

N/A
##### Expected Results:

re

[2014-02-24 01:11] mpdehaan opened #6142 "Mention pipelining in accelerate docs chapter"
##### Issue Type:

Docs Report
##### Ansible Version:

1.5
##### Environment:

N/A
##### Summary:

The pipelining feature is preferred over accelerate mode for a large class of users, explain this better in the accelerate mode chapter of the docs.
##### Steps To Reproduce:

N/A
##### Expected Results:

N/A
##### Actual Results:

N/A

[2014-02-24 05:12] techtonik commented on #5874
Yes. I think this one should be closed.

[2014-02-24 08:06] resmo commented on #6110
seems already been fixed in devel 763c0305c170e2bb091b17c9277a80013aaaed6e

[2014-02-24 08:11] techtonik commented on #6110
Cool. When in the plan is to release it to public?

[2014-02-24 08:13] resmo commented on #6110
I am not from ansible ltd, but afaik the release is in march. But it would be great if we get another minor release 1.4.x with this fix in it. You could eather use devel in the meantime or cherry-pick the change.

[2014-02-24 09:39] techtonik commented on #6110
Yes. I thought about the same. What is the community process of backporting fixes to stable branch on GitHub?

[2014-02-24 12:24] mahemoff commented on #2454
Is Ansible commander still happening? (No commits for a year if it's this https://github.com/mavimo/ansible-commander)

An option for timestamped logs would certainly be useful, as would a summary with total duration.

[2014-02-24 13:39] mpdehaan opened #6145 "ansible-vault needs a chapter"
##### Issue Type:

Docs Report
##### Ansible Version:

1.5
##### Environment:

N/A
##### Summary:

Ansible-Vault needs a chapter in the docs.
##### Steps To Reproduce:

N/A
##### Expected Results:

N/A
##### Actual Results:

N/A

[2014-02-24 13:55] jlaska commented on #5965
I'm experiencing this issue as well.  Thanks for the issue report.

[2014-02-24 16:42] lechat opened #6147 "Be able to escape comment character (#) in main inventory file"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 (devel e2a47162d0) last updated 2014/02/25 00:24:12 (GMT +800)
##### Environment:

Running: Ubuntu 13.0, CentOS 5.6
Managing: Ubintu 13.0, RHEL 5.6
##### Summary:

Unable to have `#` (hash) symbol in ssh password.
##### Steps To Reproduce:
1. Create user `test` and set its password to `123#456`.
2. Create inventory:

[code]
1. Execu

[2014-02-24 17:01] hyperfocus1338 opened #6148 "Want option to download public key with "adv --recv-keys" using the apt_key module"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible --version
ansible 1.4.5
##### Environment:

Generic feature request
##### Summary:

I want to install rsyslog with Ansible on my Ubuntu 13.10 machine using the following tutorial: http://www.rsyslog.com/ubuntu-repository/

You need to install the public key with:

"apt-key adv --recv-keys --keyserver keyserver.ubuntu.com AEF0CF8E"

Ty

[2014-02-24 17:23] risaacson commented on #5914
This was corrected with GH-6057.

[2014-02-24 17:23] #5914 closed, assigned to nobody

[2014-02-24 18:31] Ernest0x commented on #5581
If you ask whether it will be fixed in an upcoming release, then, yes, since it is a bug, it should be fixed in an upcoming release. Meanwhile, you could workaround this with three tasks like this:

[code]

And guess what, your remote task is still idempotent!

[2014-02-24 18:46] Bilge opened #6152 "ansible-playbook -K stalls on random tasks"
When running `ansible-playbook` version 1.4.4 on Ubuntu 12.04 LTS in sudo password mode (`-K`) it stalls randomly on any task.

I have a playbook with upward of 50 tasks and it has not managed to make it through the full book yet in over 20 attempts. The task it stalls on is completely random, once it even stalled on the very first task, and doesn't seem to matter whether that particular task actu

[2014-02-24 19:36] mpdehaan commented on #6152
We have a lot of users using Ubuntu 12.04 and this is one of major test platforms as well.   I'd be interested in seeing more detail about what you have configured, or what may be unique about your environment.

Are their sudo replacements in play, any other interesting software, etc?

[2014-02-24 19:38] Bilge commented on #6152
It's a completely naked install straight from the official Ubuntu Server 12.04 LTS ISO on the official Ubuntu website.

[2014-02-24 19:49] mpdehaan commented on #6152
Then we're unable to reproduce this.

You are going to need to do some debugging to figure out what's going on your end

[2014-02-24 20:18] mpdehaan commented on #6147
There's an easy workaround for this: as you can store this via host_vars/ or group_vars/ and you'll be fine.

[2014-02-24 20:18] mpdehaan commented on #6147
updating ticket caption slightly

[2014-02-24 20:36] #5581 closed, assigned to nobody

[2014-02-24 21:13] risaacson commented on #5165
I just tested this against (ansible 1.5 (devel 0a83f743c1) last updated 2014/02/24 14:32:43 (GMT -500)) and found no issues. I was testing against a recent Debian Wheezy(64-bit) instance creating a 70G LV.

I used the following playbook for testing which should have caught what you saw. Unfortunately up to three months has happened while this ticket has been open and many fixes have come through.

[2014-02-24 21:18] dalevizo opened #6155 "Synchronize ignores check mode"
##### Issue Type:

Bug report
##### Ansible Version:

1.4
##### Environment:

Centos 5
##### Summary:

Synchronize module seems to ignore check mode flag even though supports_check_mode = True is set.
##### Steps To Reproduce:

Run a playbook with a synchronize action with --check
    root@vader:ansible $ cat poppers-sync.yml
    ---
    - hosts: doverc1
      user: root
      tasks:
      - name:

[2014-02-24 21:30] risaacson commented on #5165
In my previous response I was answering a question that I don't think that you have.

The behavior that you are seeing is that when you run for a second time at the same size or larger there is a failure on an existing volume. This is because the second run is trying to resize the volume. You can use a larger(if there is disk space) or a smaller size but the same size will currently fail.

So keep

[2014-02-24 21:48] jimi-c commented on #5853
Merged the above, so closing this issue. Thanks!

[2014-02-24 21:48] #5853 closed, assigned to nobody

[2014-02-25 01:55] #5965 closed, assigned to nobody

[2014-02-25 02:12] FiloSottile commented on #5702
I spent a great amount of time on this one, and I think it should be explained better. The inventory suggested by the docs here http://docs.ansible.com/guide_aws.html will trigger this behavior.

At least the docs are to fix.

[2014-02-25 03:39] #4620 closed, assigned to nobody

[2014-02-25 03:44] jimi-c commented on #4620
The pattern matching is always on the group name, and I don't believe is ever used on the hostname, but otherwise I think the above is correct.

[2014-02-25 04:52] nilsbunger commented on #6080
The mode is correct. 644 is an octal representation, which is 420 in decimal.

If you change the assertion to
    - "{{ '%o' % stat_result.stat.mode }} == 644"

then your assertion passes.

[2014-02-25 05:23] jimi-c commented on #6080
I think it would actually probably be better to fix the mode to correctly show the octal display in the stat module as follows:

<pre>
diff --git a/library/files/stat b/library/files/stat
index 6e7dcd6..abece4a 100644
--- a/library/files/stat
+++ b/library/files/stat
@@ -88,7 +88,7 @@ def main():
     # back to ansible
     d = {
         'exists'   : True,
-        'mode'     : S_IMODE(mode),
+

[2014-02-25 09:44] inittab commented on #5165
Hi, the issue seems to be fixed in 1.4.5. I can run this task over and over without problems (either using g or G as units). I also tried successfully with 1.5 (6fe369fca0c92c11a2cc8f1883f7e13e1aed1e8d). Closing accordingly. Thanks!

[2014-02-25 09:44] #5165 closed, assigned to nobody

[2014-02-25 12:49] nikut opened #6161 "ansible_python_interpreter with local_action broken by recent commit"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

CentOS 5.9 with a Python 2.7.3 virtual environment for Ansible
##### Summary:

I believe the handling of ansible_python_interpreter when running a local_action was broken by this recent commit: https://github.com/ansible/ansible/commit/4af1d6098b35c7996d046c395650c497a313b733.
##### Steps To Reproduce:

Playbook:

[2014-02-25 13:57] ghost commented on #6161
Having that issue with 1.4.5 resulting in Python stacktrace.
Example/information posted at (persistent until closed): https://paste.xinu.at/rkCqV/

[2014-02-25 13:59] #6155 closed, assigned to nobody

[2014-02-25 14:07] ghost commented on #6161
Hotfix (at least in Archlinux): ln -sfn /usr/bin/python2 /usr/bin/python
Update default python interpreter to python version 2.

[2014-02-25 14:10] jctanner commented on #6155
@dalevizo thanks for the report. Should be fixed in devel now.

[2014-02-25 14:18] nikut commented on #6161
@spul, your case is not the same. Note that you were trying to run Ansible with Python 2.4 (running "python --version" would have told you 2.4.something), which is expected to fail since Ansible requires 2.6 or newer on the master host.

We are running it with Python 2.7.3 using a Python virtual environment ("python --version" says 2.7.3), which should work and normally does, except after https://

[2014-02-25 14:20] resmo commented on #6152
maybe hitting a ssh connection/rate limit?

[2014-02-25 14:25] ghost commented on #6161
I think it's the same, because I think that ansible fallbacks to the systems default python interpreter if {{ ansible_python_interpreter }} is not evaluated properly which in turn would be the exact same issue.

[2014-02-25 14:35] nikut commented on #6161
@spul Sorry, I misread your paste. I still don't think it's the same issue, though. Do you have localhost defined in your inventory and are you setting ansible_python_interpreter for it?

[2014-02-25 14:50] ghost commented on #6161
@nikut: You're right. Setting up "localhost" with ansible_python_interpreter fixes the behaviour. Anyway this is not a usable solution as different people running Ansible workstations on different nodes with different usernames would need to introduce conflicts in the inventory file.

[2014-02-25 16:18] #6161 closed, assigned to nobody

[2014-02-25 16:20] jctanner commented on #6161
@nikut please retest with 876035c. If your issue is still broken, we can reopen the ticket or start a new one.

[2014-02-25 16:33] bcoca commented on #4620
I use it against host names all the time, since I enforce a naming
convention by type/env/location, it is very useful.

[2014-02-25 16:36] jctanner commented on #5702
@FiloSottile this issue is closed, please open a documentation bug.

[2014-02-25 16:44] nilsbunger commented on #6080
Maybe you're right. But it would be backwards-incompatible to just change it, and there are advantages to the way it is now (easier to do a test like "is this file readable" with bit masking). Maybe a project lead can weigh in on what they want?

[2014-02-25 17:52] dalevizo commented on #6155
Yes I confirm it's working.
Thank you.
Στις 25 Φεβ 2014 4:11 ΜΜ, ο χρήστης "jctanner" notifications@github.com
έγραψε:

[2014-02-25 18:51] jimi-c commented on #5442
See my recent comment on the mailing list in regards to multipart handling with the s3 module. Unfortunately, there's no simple solution so for the time being the solution is as you've done above. If you have any questions about this, please let us know. Thanks!

[2014-02-25 18:51] #5442 closed, assigned to nobody

[2014-02-25 19:53] #5255 closed, assigned to nobody

[2014-02-25 19:55] jctanner commented on #5255
@jasonenfuego this problem was two fold ...
- disablerepo=\* must come before enablerepo or yum won't enable anything
- the parameters for the yum command were space separated and should have been joined like "enablerepo=foo"

[2014-02-25 21:19] maesenka opened #6169 "Add documentation for ANSIBLE_MODULE_LANG setting"
##### Issue Type:

Documentation Report
##### Ansible Version:

ansible 1.5 (devel 0cca4a3919) last updated 2014/02/25 21:59:52 (GMT +200)
##### Environment:

N/A
##### Summary:

No documentation can be found for ANSIBLE_MODULE_LANG. Neither is in mentioned in the ansible.cfg file.
##### Steps To Reproduce:
##### Expected Results:

module_lang setting present and documented in ansible.cfg.
##### A

[2014-02-25 21:30] bcoca commented on #6080
add another field returned 'octal_perms'?

[2014-02-25 22:43] tflink commented on #4883
I believe that I'm hitting the same issue or at least a similar one. The vars_files declaration that I'm using is:

[code]

When I run the playbook with this vars_files, I get (fake values of my.hostname and /path/to/playbook):

[code]

If I hard-code either variable so that only one is being used, the correct var_file is loaded. {{ private }} is defined in the ../../common/vars/global.yml file an

[2014-02-25 23:20] tcwilson opened #6170 "Escaping dollar sign"
I'm new to Ansible, so I'm not entirely sure this is desired behavior or not.  I couldn't find any documentation on it.  I'm using version 1.4.5.

I have a template that contains this bash line:

[code]

I notice that when Ansible pushes to the server, I'm getting:

[code]

It appears to be related to legacy variables.  It's very subtle, and there is no warning on this.  Doing '\\$' appears to wor

[2014-02-26 00:52] mpdehaan commented on #6170
Can you share the task line and template you are using?

Thanks!

[2014-02-26 01:02] tcwilson commented on #6170
Sure.  Here is my task line:

[code]

And here is my template:

[code]

[2014-02-26 01:24] Bilge opened #6173 "Multiple unarchive bugs in 1.4.4"
- Unarchive does not support tidle expansion in the destination path, unlike all other file modules e.g. `dest=~/foo` and `dest=~jsmith/foo` fail with:

- Unarchive does not support relative paths, e.g. `dest=foo` fails with:

- The [documented copy parameter](http://docs.ansible.com/unarchive_module.html) is not supported and fails with:

- Unarchive cannot extract remote archives on the target m

[2014-02-26 01:40] aboyett commented on #4643
This sounds like the functionality implemented in https://github.com/ansible/ansible/pull/5380

[2014-02-26 02:06] rkhaja opened #6174 "Enhancement: stat module - allow skipping of md5sum"
I'd like to be able to skip the md5 check sum when running the stat module on a file.

My scenario is that I have a dvd.iso file located on one of my ansible_managed machines.  When I run stat, it takes a long time for the module to return since the file is about 4GB.  In this case, I would like just to see that the file exists at the remote location and don't really care about the md5sum.  Would

[2014-02-26 06:01] stevenscg commented on #5452
I am having the same problem as @jcalonso with same key (and also the nginx signing key).

ansible 1.5 (devel 6ed48b5ad7)

[2014-02-26 06:49] rkhaja opened #6177 "lineinfile, does not behave properly when there are colons in the regexp (?)"
I have the following task:

[code]

Note the double " and single ' quotations.

This should enable booting into a graphical environment, if the system currently does not boot into a graphical environment (provided graphical desktop packages have already been installed).

The regex does not seem to work, and a new line is appended every time the task is executed. I am registering a variable: line_r

[2014-02-26 08:34] nikut commented on #6161
@jctanner That did the trick, it works now. Thanks!

[2014-02-26 09:15] vespian opened #6179 "usefullness of play_hosts variable in cluster membership templates"
##### Issue Type:

“Feature Idea”
##### Ansible Version:

ansible 1.5
##### Environment:

Fedora 20
##### Summary:

The problem is that we want to use _play_hosts_ variable and set operations on groups to form cluster memberships in main site.yml file. The problem is that if some of the play hosts fail and/or we limit the play using _-l_ switch - the play_hosts (and thus membership configuration)

[2014-02-26 09:54] dghubble opened #6180 "bin scripts are not extensible"
##### Issue Type:

Design Critique
##### Ansible Version:

1.4
##### Environment:

NA
##### Summary:

There is really no reasonable way to extend the bin scripts to create effective wrappers for them if desired. The bin scripts are not part of the exported ansible package either. With so many command line options, either a default extensible parser and builder should be provided in the package or

[2014-02-26 10:01] dghubble opened #6181 "remove vars directory from ansible-galaxy generated roles"
##### Issue Type:

Design Critique
##### Ansible Version:

1.4
##### Environment:

NA
##### Summary:

Concerning the role generated by ansible-galaxy:

I question the inclusion of the vars directory in the generated role. Populated vars directories in roles in the wild are a barrier to reuse. When I download someone else's role, the defaults should contain all variables needed for the role to oper

[2014-02-26 10:02] muffl0n opened #6182 "file module: check mode fails for non-existent links"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.5
##### Environment:

Gentoo Base System release 2.2
##### Summary:

Using check mode fails if the used playbook contains a task to create a link that doesn't exist yet.
##### Steps To Reproduce:

inventory file 'development':

[code]

playbook file 'development-link.yml

[code]

call to execute playbook in check mode

[code]
#####

[2014-02-26 10:36] dghubble commented on #6181
I use the term "user" to distinguish the role creator from the eventual user of the downloaded role.

[2014-02-26 12:59] mpdehaan commented on #6180
Not sure what you mean by wrapper scripts, though the main goal of this project is to build ansible and ansible-playbook, not a framework for creating arbitrary wrapper scripts on top of it.

Optparse also isn't going away anytime soon, and we can deal with that when we need to.

We are not (for compatibility reasons) going to be changing the CLI interface options at this time and common options d

[2014-02-26 12:59] #6180 closed, assigned to nobody

[2014-02-26 13:00] mpdehaan commented on #6173
Thanks for filing a ticket.

These bugs should really be filed separately so they can be solved by separate pull requests.

[2014-02-26 13:04] mpdehaan commented on #6177
"The regex does not seem to work, and a new line is appended every time the task is executed"

I am suspecting this ticket may come more down to a list/support question about helping with the regex rather than a bug report.   Have you tried asking on the mailing list about how to construct the right regex?

[2014-02-26 13:07] mpdehaan commented on #6179
Ok so this may be just a misconception.

play_hosts is the list of current hosts in the current play which is what we want

groups.foo is the hosts in group foo.

So you could just select the group list instead and be good to go.

I'd rather not add another variable for a slightly different semantic case for this when the above solution would work for most cases.

Thoughts?

[2014-02-26 13:08] mpdehaan commented on #6181
vars are useful places to define constants and vars are scoped to the role.

If you would like to discuss things like this you may post to the ansible-devel mailing list, but I'd rather not have a lot of posts for "Design Critique" cluttering up the issue tracker.

It's not a category in the bug template and we prefer to have discussions on the mailing list so we can get a greater number of people

[2014-02-26 13:08] #6181 closed, assigned to nobody

[2014-02-26 13:09] mpdehaan commented on #6182
I would agree check mode should not do anything here.

[2014-02-26 13:35] lubko opened #6185 "autodetect ANSIBLE_LIBRARY and PYTHONPATH if missing"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5 (devel 6fa898c511) last updated 2014/02/26 13:27:14 (GMT +200)
##### Environment:

Ubuntu / Debian
##### Summary:

I am running ansible directly from the pulled source, and it bothers me that i need to export these two variables to the system.
I would like to share the work with more people, and i want them to have the least setup

[2014-02-26 14:11] mpdehaan commented on #6185
I'm interested.   How might this work?

[2014-02-26 14:14] lubko opened #6186 "autodetect ANSIBLE_HOSTS relative to 'pwd' in git fashion"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5 (devel 6fa898c511) last updated 2014/02/26 13:27:14 (GMT +200)
##### Environment:

Ubuntu / Debian
##### Summary:

Im working with a lot of projects each having a set of dedicated servers. Managed by ansible, each have they configuration stored in a separate inventory folder/git-repository.
The default '/etc/ansible/hosts' does no

[2014-02-26 14:14] jctanner opened #6187 "write unit tests for vault"
##### Issue Type:

Feature Idea
##### Ansible Version:

[code]
##### Environment:

N/A
##### Summary:

Write TestVault.py

[2014-02-26 14:17] jctanner opened #6188 "Add --vault-password-file parameter"
##### Issue Type:

Feature Idea
##### Ansible Version:

[code]
##### Environment:

N/A
##### Summary:

Teach /usr/bin/ansible-vault and /usr/bin/ansible{playbook} to also take a --vault-password-file filename.

This would allow us to write integration tests also

[2014-02-26 14:25] vespian commented on #6179
Thanks for an answer.

for this particular case, due to the fact that the group is formed using set operations:

[code]

there is no groups.foo to use. Creating groups.foo would solve the issue but we wanted to avoid creating new groups just for that.

I am not sure about this either :)

[2014-02-26 14:37] bcoca commented on #6179
you have set operation filters in ansible that can reproduce the same
result.

{%for host in  marketA|union([serverb, serverc]) %}

[2014-02-26 15:03] maxromanovsky opened #6189 "Role vars and role defaults are not available in hostvars."
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.5
##### Environment:

Debian 7
##### Summary:

Role vars and role defaults are not available in `hostvars`.
##### Steps To Reproduce:

Consider host `a` in group `appservers`. If host `a` has role `foo` and this role has some variable in `roles/foo/defaults/main.yml` or `roles/foo/vars/main.yml` then this role is not available in `h

[2014-02-26 15:09] bcoca commented on #6189
just access them directly, they are not host specific so it makes little
sense to put them in hostvars.

[2014-02-26 15:12] garethrees opened #6190 "python-keyczar must be installed – is installed"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

[code]
##### Summary:

python-keyczar is installed. ansible thinks it's not installed.
##### Steps To Reproduce:

[code]
##### Expected Results:

python-keyczar is installed so not sure why it's not working
##### Actual Results:

See steps to reproduce

[2014-02-26 15:18] maxromanovsky commented on #6189
@bcoca Correct me if I'm wrong but role default vars (from `roles/foo/defaults/main.yml`) could be overridden on per-group or per-host basis.
If that's correct then I want to receive effective value of the variable for the specific host.

[2014-02-26 15:28] garethrees commented on #6190
Similar to #4791 I get:

[code]

[2014-02-26 15:31] mpdehaan commented on #6190
So it needs to be installed on both ends -- that's your problem.

I believe these messages about what ends it were missing on were shared in recent versions but need to double check.

[2014-02-26 15:32] garethrees commented on #6190
python-keyczar is installed on both ends

[2014-02-26 15:32] garethrees commented on #6190
[code]

[2014-02-26 15:34] mpdehaan commented on #6189
Yeah I understand this point.

In this case those variables should be available in hostvars when they get overridden, but they might not always be overridden.

Hostvars is also the way you get at a variable name programatically

The solution here would be to blend the inject hash every time when attempting to access hostvars.

Wouldn't need to keep it in memory but would just need to make the prox

[2014-02-26 15:34] garethrees commented on #6190
Just to confirm:

[code]

[2014-02-26 15:36] mpdehaan commented on #6186
I'm not in favor of this specific ticket because if you are in "/etc" it would assume "hosts" was an ansible inventory file, and that would not work well.

The filename in Ansible for an inventory is not of any fixed and unique name.

Sorry about that!

[2014-02-26 15:36] #6186 closed, assigned to nobody

[2014-02-26 15:40] mpdehaan commented on #6190
Ok, I'm kind of skeptical still :)

"fatal: [jenkins-php53u.example.net] => python-keyczar must be installed on the control machine to use accelerated modes"

This message does indicate it's missing on the control machine (the machine where /usr/bin/ansible-playbook is being run).

Were you perhaps using virtualenv or something so it's not finding the package in your PYTHON_PATH or using a differe

[2014-02-26 15:41] maxromanovsky commented on #6189
@mpdehaan Thanks for your response!
I'm sorry, but I didn't get it. I'm neither Python developer nor have any knowledge of Ansible internals.
Is there any solution from the Ansible plays side?

[2014-02-26 15:47] garethrees commented on #6190
No, python-keyczar and ansible have been installed by yum:

[code]

[2014-02-26 16:00] lubko commented on #6186
If you are in /etc/
and '/etc/ansible/hosts' exists or -i is defined or ANSIBLE_HOSTS is set
it would behave the same as before and use the specified file,
otherwise it will end up with failure just like now, only the error message would be different
"ERROR: Invalid ini entry: localhost - need more than 1 value to unpack"
instead of
"ERROR: Unable to find an inventory file, specify one with -i ?"

[2014-02-26 16:01] jctanner commented on #6188
Done.

[2014-02-26 16:01] #6188 closed, assigned to nobody

[2014-02-26 16:11] garethrees commented on #6190
[code]

[2014-02-26 16:27] lawik opened #6191 "pip module always recreates virtualenv"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.5
##### Environment:

N/A
##### Summary:

As far as I can tell the pip module always recreates the virtualenv when you use the virtualenv option. This has hilarious side-effects and causes issues making installation of pip packages in virtualenvs a lot less idempotent than ideal.

I'm looking at the code but not quite sure if there'

[2014-02-26 17:09] maxamillion opened #6192 "ansible 1.4.3 on RHEL6 'accelerate: true' causes failed SSH"
If I add `accelerate: true` to my playbook on RHEL6 with the default config in /etc/ansible/ansible.cfg I get the following:

[code]

This is the playbook:

[code]

A little information that may be useful:

[code]

[2014-02-26 17:10] #6187 closed, assigned to jctanner

[2014-02-26 17:23] amoe opened #6194 "Copy module does not apply owner and group to directories"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

Running Ansible from: Debian 7 (Wheezy)
Managing: CentOS 6.5
##### Summary:

When using the copy module with an source value that is a directory, and attempting to use the `owner` and `group` options of the file module, the options are applied correctly to any files within the copied directory, but they are not applie

[2014-02-26 18:17] jjl opened #6195 "File module docs are rather unclear as regards symlinks"
It sounds from reading that both options point to the destination of the link rather than the link itself. Obviously that isn't the case.

http://docs.ansible.com/file_module.html

`path`: `defines the file being managed, unless when used with state=link, and then sets the destination to create a symbolic link to using src. Aliases: dest, name`
`src`: `path of the file to link to (applies only to

[2014-02-26 18:29] youam commented on #5800
I think I've found the bug. When ansible is called with --ask-sudo-pass, it runs on the remote like this:

[code]

Now, when sudo is configured to run passwordless, but ansible runs with --ask-sudo-pass, it expects sudo to ask for a password and expects sudo to actually show that prompt. sudo doens't do that, the output isn't what ansible expects, hence the warning

[2014-02-26 18:39] dbtucker commented on #5700
Any other thoughts on a potential cause for this issue.   I'm seeing the problem on a new cloud provider's VM's (not Amazon or Google).   The image is CentOS 6.4 with yum version 3.2.29 ... but the symptom is exactly the same ("invalid output was: SUDO-SUCCESS-<long-random-string>"

What's weirder is that the problem only happens for packages from a non-CentOS repository.   I can log on to the sys

[2014-02-26 18:45] dbtucker commented on #5700
Answered my own question with a few more searches.   This seems to be the issue reported at https://github.com/ansible/ansible/issues/5533

[2014-02-26 18:50] muffl0n commented on #6061
Fixed by #6073

[2014-02-26 18:50] muffl0n commented on #6173
The path-expansion bug is fixed in #6073.

[2014-02-26 18:56] jimi-c commented on #6061
@muffl0n For future reference, if you put "Fixes #xxxx" on a line in your commit message, Github will auto-close referenced issues when the PR is merged in. It's very handy :)

[2014-02-26 19:20] jimi-c commented on #4619
Following up on this. There is a `wait_timeout` parameter that is available, have you tried increasing that value? The default is 300 seconds.

[2014-02-26 19:29] vespian commented on #6179
Thanks a lot!

This closes the issue.

[2014-02-26 19:29] #6179 closed, assigned to nobody

[2014-02-26 19:33] #4619 closed, assigned to jctanner

[2014-02-26 19:33] jimi-c commented on #4619
After looking into the code, I see the portion in the traceback is not using the wait_timeout logic, so I've created the above patch to correct that. It will also now return an error message instead of failing with that traceback. Please let me know if you still continue having issues with this. Thanks!

[2014-02-26 19:42] muffl0n commented on #6061
Sound's great! Thanks for the hint! :)

[2014-02-26 20:53] risaacson commented on #5116
@eaigner it looks like you are showing two possible issues.

The first is that you are trying to use a JSON file as an —extra-vars argument and are getting an index error due to parsing problems. Your question about YAML coming up during what you would expect to see as a JSON operation is valid. In the section of code that is processing this JSON is treated as a subset of YAML.

I believe that I w

[2014-02-26 20:53] #5116 closed, assigned to nobody

[2014-02-26 21:25] dghubble commented on #6181
Thanks for the fast response! And apologies for posting here. I've started a discussion on the email list: https://groups.google.com/forum/#!topic/ansible-devel/A0aX10w0eCw
I'll direct future design questions/suggestions/discussions to the mailing list.

[2014-02-26 22:26] risaacson commented on #5773
This is related to GH-5116 which was fixed with GH-6197.

The problem here is in the process_common_errors where if len(probline) is equal to column you are out of bounds as probline goes from 0 to len(probline) - 1 not 0 to len(probline).

Fix forthcoming.

[2014-02-26 22:34] #5773 closed, assigned to nobody

[2014-02-27 02:19] rkhaja commented on #6177
Hello Michael,

"Have you tried asking on the mailing list about how to construct the right regex?"
- No I have not done that.

I simplified my task, so that it does not use the character set: [1-3], so that we can eliminate that from the regexp construction.  To be more restrictive (not pattern matching anywhere on a line), I also added ^, to anchor pattern matching to the beginning of the line.

[2014-02-27 07:58] lawik commented on #6191
Nice bot :) And nice system. Really enjoying learning and using it.

[2014-02-27 08:35] lawik commented on #6191
I'm currently working around it by working directly with commands and the shell:

[code]

[2014-02-27 09:40] lawik commented on #6191
I'm not sure about your issue. Do you get the same error as me? Unless you do I'd recommend making a separate issue to keep the discussion focused in both our cases :)

The core python libraries are available without the global system site packages in any virtualenv. I've never wanted or needed that option.

[2014-02-27 12:37] muffl0n commented on #6061
I'm sorry that I have to reopen this issue but my tests still show some glitches.

My setup:
local: user "test" with homedir: /tmp/test
remote: user "test" with homedir: /tmp/testuser

The module "copy" works great with expanding the homedir, now:
test-copy.yml:

[code]

output:

[code]

But unfortunately unarchive and assemble show some misbehaviour when it comes to proper expanding of homedirs.

[2014-02-27 15:41] oppianmatt opened #6204 "example in filesystem module fails"
##### Issue Type:

“Bug Report”, “Documentation Report"
##### Ansible Version:

ansible 1.4.4
##### Environment:

from: Mac OS X Maverick
to: Ubuntu 12.04
##### Summary:

Example in 'filesystem' module is broken
##### Steps To Reproduce:

[code]
##### Expected Results:

create ext4 fs with block level checking
##### Actual Results:

[code]

---

Trying to use the filesystem module to create a ext4

[2014-02-27 15:50] jctanner opened #6205 "auto-install yum-utils"
##### Issue Type:

Feature Idea
##### Ansible Version:

[code]
##### Environment:

NA
##### Summary:

If yum-utils is not installed, have the yum module attempt to auto-install it.

[2014-02-27 15:55] jimi-c commented on #6047
@neh are you still seeing this with the most recent pull from devel? I've tried reproducing it on ubuntu 12.04/13.10 and CentOS 6.3 (with and without sudo), and haven't been able to see the same error.

[2014-02-27 16:28] risaacson opened #6206 "--extra-args "@FILE" errors on valid YAML file."
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 (devel ccb64e6358) last updated 2014/02/27 09:14:55 (GMT -500)
##### Environment:

OS X 10.9.2 -> CentOS 6.5
##### Summary:

Extra args is not correctly using a provided YAML file.
##### Steps To Reproduce:

Playbook Tasks:

[code]

vars.yaml(broken):

[code]

vars.json(WORKS)

[code]

Commands:

[code]
##### Expected Results:

A su

[2014-02-27 16:30] risaacson commented on #6206
Could be related to GH-5964 which was merged recently. Though it doesn't seem likely.

[2014-02-27 16:31] #6192 closed, assigned to jimi-c

[2014-02-27 16:40] jimi-c commented on #6061
@muffl0n have you tried this with the most recent version of devel? I made another change yesterday to the code where expanduser was only done in the module rather than the action plugin (the original way you had it). Since some other modules like unarchive call the module directly without going through the action plugin, it needed to be there.

[2014-02-27 16:48] risaacson commented on #6206
Problem between chair and keyboard.

[2014-02-27 16:48] #6206 closed, assigned to nobody

[2014-02-27 18:24] muffl0n commented on #6061
You are right! Somehow my local copy wasn't up to date. Seems I'm still having trouble understanding git. :(

However, assemble still has problems expanding the homedir correctly. I'm opening a new ticket for this.

[2014-02-27 18:24] #6061 closed, assigned to nobody

[2014-02-27 18:31] muffl0n opened #6209 "Module "assemble" does not expand pathes correctly"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 (devel c11e2100e0) last updated 2014/02/27 12:27:01 (GMT -400)
##### Environment:

Ubuntu 12.04.4 LTS
##### Summary:

local: user "test" with homedir: /tmp/test
remote: user "test" with homedir: /tmp/testuser

test-assemble.yml:

[code]

output:

[code]

assemble doesn't expand the source homedir at all, for dest it seems correct.

[2014-02-27 18:33] muffl0n commented on #6209
Followup for #6061

[2014-02-27 18:50] jimi-c commented on #6209
Can you give this patch a try?

<pre>
diff --git a/lib/ansible/runner/action_plugins/assemble.py b/lib/ansible/runner/action_plugins/assemble.py
index cc4c4bd..eb6faf5 100644
--- a/lib/ansible/runner/action_plugins/assemble.py
+++ b/lib/ansible/runner/action_plugins/assemble.py
@@ -67,6 +67,9 @@ class ActionModule(object):
             return self.runner._execute_module(conn, tmp, 'assemble', modu

[2014-02-27 18:55] neh commented on #6047
@jimi-c I'm still seeing the same behaviour. Anything else I can test or info you need? I'm testing on an Ubuntu 12.04 node controlled from Ubuntu 13.10.

[2014-02-27 18:56] jimi-c commented on #6047
@neh how are you installing ansible?

[2014-02-27 18:59] neh commented on #6047
@jimi-c With the usual 'run from source' method... clone from github and source hacking/env-setup.

[2014-02-27 19:07] muffl0n commented on #6209
Looks great! :+1:

[code]

[2014-02-27 19:08] #6209 closed, assigned to nobody

[2014-02-27 19:08] jimi-c commented on #6209
Great, merged! Thanks!

[2014-02-27 19:43] muffl0n opened #6210 "user: add user fails if "usergroup" already exists"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 (devel c11e2100e0) last updated 2014/02/27 12:27:01 (GMT -400)
##### Environment:

Ubuntu 12.04.4 LTS
##### Summary:

Adding a user fails if a group with the same name as the user being created already exists.
##### Steps To Reproduce:
- create group "test" on remote system
- run playbook adding user "test"

[code]
##### Expected Re

[2014-02-27 20:29] jimi-c commented on #6047
But on the target system, `/home/ansiblinator` exists and there are no permission issues writing to it?

[2014-02-27 21:09] katzj opened #6211 "Modules using urllib don't get an ansible specific user agent"
##### Issue Type:

Bug Report / Feature Idea
##### Ansible Version:

Any
##### Environment:

N/A
##### Summary:

A lot of modules (notable, apt_key but others do as well from a quick grep) just use urllib directly for making http calls.  This means they don't get an ansible specific user agent.  Some hosting companies block the default urllib user agent for anti-spam reasons which then makes the k

[2014-02-27 21:30] gangelop opened #6212 "managing archlinux hosts fails because of python2/3"
##### Issue Type:

Bug Report
##### Ansible Version:

`ansible 1.4.5`
##### Environment:

Running from: Archlinux or Ubuntu 12.04
Managing: Archlinux
##### Summary:

When managing Archlinux hosts, ansible tries to run things with `/usr/bin/python` which on archlinux is python version 3, instead of 2 which ansible presumes.
##### Steps To Reproduce:

`ansible archlinux_host -vvvv -m ping`
##### Act

[2014-02-27 21:37] gangelop commented on #6212
##### Possible Solution

A possible solution to this bug would be to make ansible look on the managed host for `$(which python2)` and try and use that. If it doesn't exist, then default to `python`.

I'm not familiar with ansible's code but I'll take a look at it :)

[2014-02-27 22:01] neh commented on #6047
It does. I can ssh in as that user and mkdir -p ~/.ansible/tmp with no problem, and everything is happy after that.

[2014-02-27 22:02] packetcollision opened #6214 "mysql_db import action fails with confusing error when database does not exist"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

N/A (but I'm on a mac, trying to send commands to a machine running Ubuntu 12.04)
##### Summary:

If you try to run "mysql_db: name=nonexistantdb state=import target=/foo.sql" and the database doesn't exist, the command fails with "unable to connect, check login_user and login_password are correct, or alternati

[2014-02-27 22:11] nathanhruby opened #6215 "template error in changed_when causes incorrect failure message (description edited)"
##### Issue Type:

“Bug Report”
##### Ansible Version:

1.4.5
##### Environment:

Ubuntu 12.05, Mac OSX 10.9.2
##### Summary:

Using local_action with a failing command generate misleading error output
##### Steps To Reproduce:

Example playbook

[code]
##### Expected Results:

ansible tells me the command failed like any other command.

This pattern should register a failed (not unreachable),  ou

[2014-02-27 22:32] gregbuehler opened #6216 "--list-task does not indicate roles when listing tasks"
##### Issue Type:

"Bug Report"
##### Ansible Version:

ansible-playbook 1.4.5
##### Environment:

N/A
##### Summary:

Normal ansible-playbook output indicates the role from which a task is used. This should also be indicated in --list-tasks output.
##### Steps To Reproduce:

[code]
##### Expected Results:

[code]
##### Actual Results:

[code]

[2014-02-27 22:35] jimi-c commented on #6047
Ok, can you gist a playbook that reproduces the issue?

[2014-02-27 23:14] mpdehaan commented on #6212
Hi Iathan,

This is not a bug actually and we already have a good way to handle it.

What you need to do is set the ansible_python_interpreter variable in inventory.

You can read about this here:

http://docs.ansible.com/faq.html#how-do-i-handle-python-pathing-not-having-a-python-2-x-in-usr-bin-python-on-a-remote-machine

and also:

http://docs.ansible.com/intro_inventory.html#id10

Hope this hel

[2014-02-27 23:14] #6212 closed, assigned to nobody

[2014-02-27 23:16] mpdehaan commented on #6215
I must give you excellent points for the 'badhorse' hostname!

This issue isn't actually because the command couldn't be found, but because the template error gets evaluated as a "core" thing and not something the system catches as a host level error.

I agree this is suboptimal and should be fixed like you say.

[2014-02-27 23:17] mpdehaan commented on #6210
Hmm, I thought this was already well handled.  In queue to repro, thanks!

[2014-02-27 23:18] mpdehaan commented on #6216
Since the running tasks do this, I think it would be nice if the list tasks do this as well.

Nice catch!

[2014-02-27 23:30] gangelop commented on #6212
I rarely feel so relieved to be so wrong! I can now do things, and stuff. tyvm

also,

This really needs to be in the [arch wiki](https://wiki.archlinux.org/index.php?title=Special%3ASearch&search=ansible). I _might_ look into that tomorrow.

[2014-02-27 23:31] mpdehaan commented on #6212
Yeah that would be great!   Thanks!

[2014-02-27 23:31] nathanhruby commented on #6215
Cool, thanks!

[2014-02-27 23:33] #6205 closed, assigned to jctanner

[2014-02-28 02:14] mpdehaan commented on #6080
I think I agree with jimi-c here in that we should fix the glitch.  Everybody thinks about these things in octal.

[2014-02-28 02:16] mpdehaan commented on #6194
This could be a little tricky as along the path all the paths may need different permissions.

In this case, it may be better to be explicit with a second set and add a note to the docs if recursing permissions will only apply to the files?

[2014-02-28 09:46] hukl commented on #6147
Just ran into the same issue. If you have an ini file format parser you should support escape sequences and not throw the weirdest exceptions.

http://en.wikipedia.org/wiki/INI_file#Escape_characters

varname="# commented out line"  in the inventory throws

[code]

[2014-02-28 10:53] zkanda opened #6219 "postgresql support for dumping the database"
##### Issue Type:

"Feature Idea”,
##### Ansible Version:

Future version of ansible
##### Environment:

N/A
##### Summary:

Supporting a simple database dump for postgresql

[2014-02-28 13:16] mpdehaan commented on #6147
Throughing the weirdest exception might be a bit of a challenge.  A weird exception would be like "AIEEE, I am being chased by a zombie squid in a hot air balloon and I haven't done my taxes yet and ..."

[2014-02-28 13:24] mpdehaan commented on #6219
This could be done with the shell module now as a basic workaround.

I'm not entirely sure it needs to be a module.

Thoughts?

[2014-02-28 13:26] hukl commented on #6147
Haha :)

[2014-02-28 15:17] lechat commented on #6170
Just tried this in `devel` 9103bd9 and `\` before `$` is not being swallowed.

Tried in `release1.4.5` branch and `\` is swallowed.

I guess that bug have been fixed already.

[2014-02-28 16:14] #6194 closed, assigned to nobody

[2014-02-28 17:00] coopernurse commented on #5305
I'm also getting the error @majksner noted:

[code]

This is with Ansible 1.4.5 and boto 2.26.0

[2014-02-28 17:04] coopernurse commented on #5305
Ah, I think I see what's causing my error.  `region` can't be reliably inferred from the environment.  Passing that explicitly solved my problem.  If you're using EC2 dynamic inventory, you can do something like this:

[code]

`ec2_region` will get scoped in automatically.

[2014-02-28 17:09] risaacson commented on #6080
Closed as a part of #6221.

[2014-02-28 17:09] #6080 closed, assigned to nobody

[2014-02-28 17:09] risaacson commented on #6174
Closed as a part of #6221.

[2014-02-28 17:09] #6174 closed, assigned to nobody

[2014-02-28 17:48] #6210 closed, assigned to nobody

[2014-02-28 17:48] jimi-c commented on #6210
The above patch should resolve the issue for you, let us know if you continue to see any problems along these lines. Thanks!

[2014-02-28 17:55] mpdehaan commented on #6145
This is live!

[2014-02-28 17:55] #6145 closed, assigned to mpdehaan

[2014-02-28 17:55] mpdehaan commented on #6142
done last night!

[2014-02-28 17:55] #6142 closed, assigned to mpdehaan

[2014-02-28 18:06] mpdehaan commented on #6204
A traceback in Ansible should be a bug, so regardless of whether we have a docs update issue here I definitely think we need to catch the above TB and present a better failure message.

[2014-02-28 18:09] oppianmatt commented on #6204
There wasn't a TB. That was output with -vvvv

It just outputs std{err,out} with the msg from mkfs

[2014-02-28 18:09] mpdehaan commented on #6173
note:  dest=foo probably shouldn't be supported (we don't do relative paths on destinations)

the other two things will be things

[2014-02-28 18:27] jctanner commented on #6173
- path expansion is functioning in cd3edeedda
- see @mpdehaan's comment above.
- the copy parameter does not cause an error in cd3edeedda
- copy=no works for me in this case on cd3edeedda

[2014-02-28 18:27] #6173 closed, assigned to nobody

[2014-02-28 18:46] jimi-c commented on #5800
So as far as I can tell, this is not an error, but instead is happening because the SSH connection to the host is failing. The `_remote_md5()` function doesn't check the return code from the execution of the SSH connection to run the md5sum commands, and just tries to parse the data that is returned (which is an empty string because of the error). Oddly, in the original output, the rc=0 (when I re

[2014-02-28 18:50] mpdehaan commented on #6050
What we're doing in 1.5 is to auto-install it when missing, preventing a large class of errors where it is needed and not available.

So basically this will get resolved in a different way.

Thanks!

[2014-02-28 18:50] #6050 closed, assigned to nobody

[2014-02-28 18:50] #5800 closed, assigned to nobody

[2014-02-28 18:51] jimi-c commented on #5800
This should now be resolved in the devel branch. Please let me know if you continue to have problems with this issue. Thanks!

[2014-02-28 18:53] mpdehaan commented on #6039
Fixed and will be in the next docs push, thanks!

[2014-02-28 18:53] #6039 closed, assigned to nobody

[2014-02-28 18:55] mpdehaan commented on #6195
Fixed and will be in next docs update, thanks!

[2014-02-28 18:55] #6195 closed, assigned to nobody

[2014-02-28 18:55] mpdehaan commented on #6169
Can you share an example of when you needed to change this setting?

Thanks!

[2014-02-28 18:56] mpdehaan commented on #6109
Yep, that's what I was trying to explain above.   It can be confusing.

[2014-02-28 18:57] mpdehaan commented on #6027
Can you share how you think the docs should be changed to reflect this?

Thanks!

[2014-02-28 18:58] mpdehaan commented on #6141
I think this is actually ok.   What happens is the code will yell if it needs a password and there is no credentials file, where as the documentation in the table is about whether the password field is required every single time.   As such, I think we are going to leave this as it is (since it's not required in all cases).

[2014-02-28 18:58] #6141 closed, assigned to nobody

[2014-02-28 19:00] mpdehaan commented on #5710
Fixed for this parameter and will be in the next docs push, thanks for the heads up.

Right now the module generator relies on the embedded YAML and it's a bit difficult for it to auto-scan all the argument_specs int he module, but fixed it in this case at least.

Thanks!

[2014-02-28 19:00] #5710 closed, assigned to nobody

[2014-02-28 19:46] jimi-c commented on #6094
@stick so the issue here is that you've put the `notify:` line on the include, which is not supported. What's happening under the hood is you're essentially defining a new variable called `notify` that's being passed into the include, similar to the way a parameterized role works. You'll have to put the notification on one of your tasks in your `subtask.yml` file for it to trigger correctly.

Addi

[2014-02-28 19:46] #6094 closed, assigned to nobody

[2014-02-28 20:18] coopernurse opened #6225 "ec2_tag fails to remove 'true' or 'false' strings"
When using `ec2_tag state=absent` on tags with values of 'true' or 'false', the value is not removed.  Example:

[code]

I debugged this a bit, and it appears to be due to how Ansible serializes and deserializes arguments.  When the ec2_tag script receives the map, the 'true' value is deserialized as a Python boolean, causing https://github.com/ansible/ansible/blob/devel/library/cloud/ec2_tag#L155

[2014-02-28 20:21] coopernurse commented on #6225
Apologies, it looks like this is probably a feature, quoting the value works properly:

[code]

Thanks

[2014-02-28 20:21] #6225 closed, assigned to nobody

[2014-02-28 22:16] zeroem opened #6226 "Optimize get_url using the sha256sum to check the dest file"
##### Issue Type: Feature Idea
##### Ansible Version:
##### Environment: N/A
##### Summary:

Currently, get_url module only uses the sha256sum to verify the content of the downloaded file.

Would there be an objection to further using the sha256sum (if present) to skip the download entire if:
- the destination file exists
- the sha256sum is present
- the sha256sum of the local file matches the sha

[2014-02-28 23:27] snilard opened #6227 "Unicode char no-break space u'\xa0' causes python error"
##### Issue Type:

Bug report
##### Ansible Version:

ansible 1.4.5
##### Environment:

Mac OS X 10.7.5 with python 2.7.1
##### Summary:

No-break space (u'\xa0' ) character in task body causes python error when variable inserting is performed.
##### Steps To Reproduce:

Place non-break space to task body with used variable and you will get python error.

[code]

Browser will not reproduce this ch

[2014-03-01 00:11] nirik opened #6228 "ansible 1.5 breaks gather_facts+accelerate"
##### Issue Type:·

Bug report
##### Ansible Version:·

ansible 1.5
##### Environment:

Both RHEL6 and Fedora rawhide.·
##### Summary:

Any plays with both:·
  gather_facts: true
  accelerate: true
Fail with:·
PLAY [foo] ********************************************************************·

GATHERING FACTS ***************************************************************·
fatal: [td] => Incorrect pe

[2014-03-01 00:17] nirik commented on #6228
whoops. I am an idiot. I didn't realize this was on the control host. ;(

Sorry for the noise.

[2014-03-01 00:17] #6228 closed, assigned to nobody

[2014-03-01 13:16] ghost opened #6232 "--list-tags"
may be nice for playbooks :-)

[2014-03-01 13:22] mpdehaan commented on #6232
Yep.

This has been requested a few times but the playbook code and /bin/ansible-playbook sources around tags need to be consolidated to enable some things.

As a workaround you can execute --tags doesNotExist and get a list

[2014-03-01 13:23] mpdehaan commented on #6232
There were some requirements listed in https://github.com/ansible/ansible/pull/3677 if anyone wants to try to do this earlier.  I would suggest they hold back until some things can be refactored first rather than trying to submit, as I have some preferences in this area.

[2014-03-01 13:24] mpdehaan commented on #6227
Can you see if this still occurs in 1.5, which just released yesterday?

Thanks!

[2014-03-01 14:09] ghost commented on #6232
ok, thnx :+1:

[2014-03-01 14:09] #6232 closed, assigned to nobody

[2014-03-01 14:12] ghost commented on #6232
Please note that the trick is working with `-tags` (not working with `--tags` :-)  I tried it now.

[2014-03-01 19:23] snilard commented on #6227
I updated my python to 2.7.6 and ansible to 1.5. No change. Same error message but with different python path.

[2014-03-02 01:01] voidzero opened #6236 "/library/system/setup: path problem ('NoneType' has no attribute 'split')"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

Funtoo
##### Summary:

Distribution not recognised by /library/system/setup, assumes Debian
##### Steps To Reproduce:

Install ansible on a funtoo system and run `ansible hostname -m setup`
##### Expected Results:

yada yada this is annoying, sorry hehe
##### Actual Results:

I'm getting the following error when

[2014-03-02 01:12] voidzero commented on #6236
I hope my edit made @ansibot happy.

[2014-03-02 01:18] voidzero commented on #6236
With regards to my edit of the original ticket - I got it to work by cheating - I disabled the check for /etc/os-release and added a check for /etc/gentoo-release. If we could make Funtoo and Gentoo distinct that would be even nicer.

[2014-03-02 02:22] bcoca commented on #6236
Checked on gentoo, no issues there as it does populate os-release.

[2014-03-02 22:10] esamattis commented on #4899
Only issue with synchronize ansible is not able to detect actual changes with it. Instead Ansible always reports synchronize tasks as changed.

[2014-03-02 23:03] psynix opened #6241 ""ansible-vault encrypt" will not accept multiple files at once"
##### Issue Type:

Bug Report
##### Ansible Version:

v1.5
##### Environment:

OS X (Mavericks)
##### Summary:

Contrary to the [documentation](http://docs.ansible.com/playbooks_vault.html#encrypting-unencrypted-files), ansible-vault won't accept multiple files:
##### Steps To Reproduce:

[code]
##### Expected Results:

Password prompt with no error message
##### Actual Results:

[code]

[2014-03-03 04:24] zkanda commented on #6219
As much as possible we like to do it the ansible way..
and considering that {other db} have it, why not do it with postgre too?

[2014-03-03 08:03] muffl0n commented on #6210
Works like a charm! Thanks for the fix!

[2014-03-03 09:59] solar opened #6244 "with_items and args:item yields 'args must be a dictionary' error"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5
##### Environment:

Centos 6.5
##### Summary:

After upgrading to 1.5, using `with_items` and `args: item` yields `args must be a dictionary, received item (eol)` error.
##### Steps To Reproduce:

[code]
##### Expected Results:

on ansible 1.4.5

[code]
##### Actual Results:

on ansible 1.5

[code]

[2014-03-03 10:56] hyperfocus1338 opened #6245 "Jinja templates won't place # character for commenting in and out"
##### Issue Type:

Bug Report
##### Ansible Version:

v1.5
##### Environment:

Host: Mac (OSX) Mavericks
Guest: Ubuntu 13.10

I'm using vagrant with the ansible provisioner
##### Summary:

I love the jinja templates functionality, I want to manage all my configuration files with it. It takes some upfront work to convert all the values in a configuration file to jinja variables but after that you c

[2014-03-03 11:05] hyperfocus1338 commented on #6245
Discovered a bug in Ansibot, I did fill in the issue type ;)

Edit: Oops forgot to add 4x #'s before the titles.

[2014-03-03 12:09] dominus-directus commented on #5059
still not fixed in git head.

[2014-03-03 12:11] aaron868 opened #6246 "Feature Request: RHEL iptables module"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5 (devel a8a9b6c545) last updated 2014/02/28 17:35:54 (GMT -400)
##### Environment:

Centos 6
##### Summary:

Please add an iptables module. I saw that a former request for this has been closed. I recommend you reconsider because you need this for Ansible Galaxy.
##### Steps To Reproduce:

Roles often require certain ports to be ope

[2014-03-03 14:34] #6236 closed, assigned to jctanner

[2014-03-03 14:35] jctanner commented on #6236
Should be fixed by #6237

[2014-03-03 14:40] jctanner commented on #6241
@psynix ansible-vault accepts multiple **positional** arguments, but not fileglobs.

[code]

If someone were to submit a pull request to accept fileglobs, I would definitely review and merge it in.

[2014-03-03 14:40] #6241 closed, assigned to nobody

[2014-03-03 14:58] jctanner commented on #6246
@aaron868 we have tried to establish a pattern of using "when:" statements in roles to define OS specific tasks. Take a look at this for an example ...

https://github.com/bennojoy/openldap_server/blob/master/tasks/install_ldap.yml

If a ticket for a generic firewall module was closed previously, please start a discussion on the ansible-devel mailing list instead of using the issue tracker to reop

[2014-03-03 14:58] #6246 closed, assigned to nobody

[2014-03-03 15:21] aaron868 commented on #6246
The ldap role you linked to doesn't address the firewall issue at all. Since the need for a firewall module is obvious I find this response unexpected.

[2014-03-03 16:11] xshadow opened #6253 "htpasswd modules: fails if the first line in it is blank"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

Debian Wheezy
##### Summary:

If you have an existent .htpasswd file in which the first line is blank (for what reasons ever), the htpasswd module fails.

Example:
 /var/www/foo/www/.htpasswd

[code]
##### Steps To Reproduce:

Run the htpasswd module on a .htpasswd file in which the first line is left blank and

[2014-03-03 16:18] maxamillion opened #6254 "ansible 1.5 => Incorrect permissions on ACCELERATE_KEYS_DIR (~/.fireball.keys)"
##### Issue Type:

“Bug Report”
##### Ansible Version:

1.5
##### Environment:

RHEL 6
##### Summary:

Setup EPEL on RHEL6, `yum -y install ansible` (1.4.3 is latest in stable repo at the time of this writing), run a playbook using accelerated mode, `yum update -y ansible --enaberepo=epel-testing` to update to ansible 1.5, rerun that same playbook, get the error in the above comment.
##### Steps T

[2014-03-03 17:12] jctanner commented on #6253
@xshadow is there a traceback if you pass -vvvv to ansible-playbook? Can you copy that to the ticket?

[2014-03-03 17:54] risaacson commented on #6244
I am not completely clear about the code behind this. I can agree that I tested that this had worked as you described. Though going forward it clearly doesn't.

So far I don't see a problem here with the code but that your example doesn't line up with what is described in the documentation.

I am able to get what you are trying to do with a little bit of playbook reformatting:

[code]

I am still

[2014-03-03 18:37] techtonik commented on #6110
I confirm this is fixed in 1.5.0.

[2014-03-03 18:37] #6110 closed, assigned to nobody

[2014-03-03 19:10] jctanner commented on #5923
@darklajid can we move this to a new feature request with a more accurate description? I think we have a root cause here, but my opinion is that it's a shortcoming of ansible, rather than a bug.

I would like to encourage anyone to contribute code to detect the subprocess call needs input.

[2014-03-03 19:28] maesenka commented on #6169
This came up when installing postgresql on a Ubuntu using the apt module. When done manually from a console, the initial database cluster is configured (correctly for my case) to use UTF-8 encoding. When installed using ansible it turned out to be ASCII. This difference is because of the LANG setting in the environment when executing apt.

[2014-03-03 20:30] darklajid commented on #5923
Hey. Thanks for getting back.

"Feature request vs bug": I .. don't know. But I don't think that I should argue the point. For me this is something that doesn't work and it should be fixed in ansible. If you prefer the 'well, it is just missing' view then it is a new feature I request. If you think that FreeBSD as supported target platform and service as a default/core module should 'just work' it

[2014-03-03 20:34] dmartitx opened #6257 "trying to pull devel branch gives a 1.4.5 distribution"
##### Issue Type:

Bug Report
##### Ansible Version:

1.4.5
##### Environment:

CentOs 6.4
##### Summary:

Trying to upgrade ansible with git clone
##### Steps To Reproduce:

mb-dmarti:ansible dmarti$ rm -rf ansible
mb-dmarti:ansible dmarti$ git clone git://github.com/ansible/ansible.git
##### Expected Results:

Expected to upgrade to a level 1.5 ansible
##### Actual Results:

mb-dmarti:ansible dm

[2014-03-03 20:38] bcoca commented on #5923
The problem normally stems from bad init script behavior (they really
should not need input), ansible tries to compensate for this but it is a
hard problem to solve. Hell, some are trying to throw away the whole system
(see systemd).

The bug/feature debate comes from 'should this be a init script bug or
should ansible compensate for them?'. IMHO both, which makes it a bug on
both sides, but I und

[2014-03-03 20:47] darklajid commented on #5923
@bcoca I understand that the classification is more about politics and structure.

I still don't understand the issue though. You yourself suggested the ssh litmus test. If that passes, what's wrong with the init script? Shouldn't ansible behave exactly the same, shouldn't its 'send python over ssh to run a command' mechanism be transparent and result in the same thing?

Can you clarify what 'need

[2014-03-03 20:54] jctanner commented on #6257
@dmartitx can you clarify a bit more on how you are trying to "upgrade" ansible?

Simply cloning the repo does not alter the files in locations installed via system packages unless you are using hacking/env-setup.

[2014-03-03 20:57] dmartitx commented on #6257
I remove my /opt/ansible/ansible directory then issue this git command:
git clone https://github.com/ansible/ansible.git

Thanks!

Dave Marti
Solutions Engineer

21CT, Inc.
6011 W. Courtyard Drive
Bldg. 5, Suite 300
Austin, Texas 78730

Main: 512.682.4700
Direct: 512.682.4777
Fax: 512.682-4706

Email: dmarti@21ct.com
URL: http://www.21ct.com

From: jctanner <notifications@github.com<mailto:notific

[2014-03-03 21:01] bcoca commented on #5923
The cause is not 100% clear, I'm mostly taking an educated guess that the
init script is not correctly detaching from the tty (this is the issue 99%
), normally easy to detect with my ssh test, but test mileage may vary.

I have used ansible to start/stop services on FreeBSD 8.x w/o any issues
(in my case Mysql not Postgresql) and I currently use it with Postgressql
on Ubuntu, but I have encounter

[2014-03-03 21:01] jctanner commented on #6257
@dmartitx what is the output from "which ansible" ?

[2014-03-03 21:02] dmartitx commented on #6257
mb-dmarti:lynx-ansible dmarti$ which ansible
/opt/ansible/ansible/bin/ansible
mb-dmarti:lynx-ansible dmarti$ ansible --version
ansible 1.4.5

Thanks!

Dave Marti
Solutions Engineer

21CT, Inc.
6011 W. Courtyard Drive
Bldg. 5, Suite 300
Austin, Texas 78730

Main: 512.682.4700
Direct: 512.682.4777
Fax: 512.682-4706

Email: dmarti@21ct.com
URL: http://www.21ct.com

From: jctanner <notifications@githu

[2014-03-03 21:02] omgjlk opened #6258 "traceback when using group index on a group without members for a hosts: line"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 (release1.5.0 6221a2740f) last updated 2014/03/03 12:58:37 (GMT -700)
##### Environment:

N/A
##### Summary:

Using a group index in a hosts: line on a group that does not have any members will create a traceback.
##### Steps To Reproduce:

[code]

Followed by a call such as:

[code]
##### Expected Results:

Should get a message say

[2014-03-03 21:04] jctanner commented on #5923
Ok, let's just keep this open then. Once we know for sure what the real issue is, we can determine what to call it.

[2014-03-03 21:18] darklajid commented on #5923
If I can _help_ tracking this down: Let me know. Things I could do off the top of my head:
- help install FreeBSD 10-Release
- give access to a playground VPS with FreeBSD 10-Release

Unfortunately I'm neither decent at Python (I'm a programmer, can certainly read that but .. it's not home, it's unfamiliar), nor Ansible (just a user) nor FreeBSD (I'm exploring it for a server right now _with_ Ansi

[2014-03-03 21:19] coopernurse commented on #5861
Has there been any more work on this?  I'm running into this same issue now where I'd like to only download the S3 asset if the checksum is different.

[2014-03-03 21:30] mpdehaan commented on #5124
Done!

[2014-03-03 21:30] #5124 closed, assigned to mpdehaan

[2014-03-03 22:05] #6258 closed, assigned to nobody

[2014-03-03 22:06] mpdehaan commented on #6254
This is kind of a feature (to make sure your key permissions are locked down), but I agree the error message is pretty terrible.  It should tell you how to correct the permissions so they are less open.

@jimi-c let me know if you agree and if we can just upgrade the error message?

[2014-03-03 22:12] mpdehaan commented on #6245
Can you share a bit more about what the template contains ?

Thanks!

[2014-03-03 22:16] mpdehaan commented on #6244
Looks like a minor bug in regards to "with_items" when used with complex args, yes.   I'd probably consider this a little bit low priority given I don't think we emphasize "args:" in most places at all, but it would be nice if continued to work.

Most folks will do something like this to use complex args:

[code]

Rather than having an explicit "args:"  ... I need to comb our docs for this, but ye

[2014-03-03 22:49] mpdehaan commented on #6257
Hi Dave,

We're pretty sure there's no problem here (everything on the devel branch says 1.5) and since this is Q&A territory, can you please move this over to Ansible-project mailing list?

This allows more people to help you, and also helps us keep our issue tracker better organized.

Likely you just have a crossed up install where you need to remove your prior installation, or source the hackin

[2014-03-03 22:49] #6257 closed, assigned to nobody

[2014-03-04 02:04] djatlantic opened #6263 "Ansible facts are not accurate in cases with multiple virtual ip addresses."
##### Issue Type:  Bug Report
##### Ansible Version: 1.5 (devel)

ansible 1.5 (devel bab91f9ed8) last updated 2014/02/14 11:50:02 (GMT -700)

However, I had seen this in earlier version like 1.4
##### Environment:

Centos 6
##### Summary:

ansible_eth0.ipv4.address is not the correct IP address assigned to such as those found in /etc/sysconfig/network-scripts/ifcfg-eth0.

This has happened to host

[2014-03-04 02:06] solar commented on #6244
I've beein using `with_items` and `args: item` like this.

[code]

I'm sure I can rewrite like this, so I don't think this issue has high priority too.

[code]

[2014-03-04 03:51] swills commented on #5923
The cause is 100% understood. Read my comment above. And this is a bug, not a feature request.

[2014-03-04 03:59] bcoca commented on #5923
@steve, sorry had not remembered your previous post, but that seems to
indicate the process outputs to stdin (many startup scripts do) but this
one never sends an EOF nor detaches.

[2014-03-04 10:16] piotrze commented on #3106
@bryanlarsen You can handle MAILTO with this entry:

[code]

[2014-03-04 11:51] ryandjf opened #6267 "./ec2.py --list failed when getting rds instance"
With latest version of ansible (1.6 (devel 92aacb198c)) and boto(2.26.1), ec2.py --list failed with following stacktrace:

raceback (most recent call last):
  File "/Users/twer/src/ansible/plugins/inventory/ec2.py", line 607, in <module>
    Ec2Inventory()
  File "/Users/twer/src/ansible/plugins/inventory/ec2.py", line 155, in **init**
    self.do_api_calls_update_cache()
  File "/Users/twer/src/a

[2014-03-04 12:03] hyperfocus1338 opened #6268 "Ansible jinja templates replacing "on" with "True" which results in broken configuration files"
##### Issue Type:

Bug Report / Undesirable behaviour
##### Ansible Version:

ansible 1.5
##### Environment:

Host: Mac (OSX) Mavericks
Guest: Ubuntu 13.10

I'm using vagrant with the ansible provisioner
##### Summary:

For easier management and commenting of several options in my Nginx configuration file I make every option a jinja variable so that I can manage the options inside a variables file

[2014-03-04 12:13] bengen opened #6269 "How to Disable logging on remote hosts"
ex:
Mar  4 20:00:19 app01 ansible-setup: Invoked with filter=\* fact_path=/etc/ansible/facts.d
Mar  4 20:00:22 app01 ansible-command: Invoked with executable=None shell=True args=/usr/bin/python /root/.serveragent/hostPortProcess.py  removes=None creates=None chdir=None

tail -f /var/log/user.log

How to Disable logging on remote hosts?

[2014-03-04 12:39] mpdehaan commented on #6267
Hmm, this is curious as we've fixed something about this before with the ec2 inventory module in a previous version.

Since the ec2.py inventory script does not come with the release, can you let us know how you installed the ec2 inventory script?

I suspect this is coming from a previous version of Ansible as otherwise I would suspect a great deal of more complaints about this particular problem,

[2014-03-04 12:40] mpdehaan commented on #6268
In YAML, on is going to get encoded to True if it's left bare.

You can fix this by quoting the value "on"

[code]

There's nothing to be done about this in Ansible, so you'll have to remember this trick.

See the YAML spec if you would like more info.  Thanks!

[2014-03-04 12:40] #6268 closed, assigned to nobody

[2014-03-04 12:42] mpdehaan commented on #6269
Hi bengen,

This bug tracker is for bug reports as well as pull requests and the like, and is not a support forum.

For that, stop by ansible-project@googlegroups.com or #ansible on irc.freenode.net

To answer your question, you can set "no_log: True" as a task parameter, as well as on the play itself.

[code]

no_log can also be set at the task level as well.

Thanks!

[2014-03-04 12:42] #6269 closed, assigned to nobody

[2014-03-04 12:47] hyperfocus1338 commented on #6268
That's fine Michael, thank you once again.

[2014-03-04 12:56] hyperfocus1338 commented on #6245
I have updated the description.

[2014-03-04 13:06] xshadow commented on #6253
Does not look like that:

failed: [www.org.] => (item={'host': 'smfrole.foo.li', 'user': 'smfrole', 'htpasswd_passwd2': '', 'boardname': 'neuesSMF', 'htpasswd_user2': '', 'language': 'german-utf8', 'htpasswd_passwd': 'foo123', 'htpasswd_del_user': '', 'htpasswd_user': 'foo123', 'need_install': False, 'mysql_passwd': 'foo123', 'smf_cookie': 23}) => {"failed": true, "item": {"boardname": "neuesSMF",

[2014-03-04 15:24] dhorbach opened #6272 "sysctl no longer works on ansible 1.5 (centos 6.4)"
##### Issue Type:

“Bug Report”
##### Ansible Version:

$ ansible --version
ansible 1.5
##### Environment:

Centos 6.4 x64
##### Summary:

sysctl module is broken after upgrade from 1.4.4 to 1.5
##### Steps To Reproduce:

[code]

[code]
##### Expected Results:

sysctl correctly updated
##### Actual Results:

[code]

[2014-03-04 15:25] risaacson opened #6273 "Port global ssh known host awareness commits to paramiko."
Please take a look at GH-6156 and port the similar changes to the paramiko connection plugin.

[2014-03-04 15:36] #6027 closed, assigned to nobody

[2014-03-04 15:41] aabdnn opened #6274 "Ansible 1.5 fact-gathering broken for systems with multiple addresses"
I've just updated Ansible from 1.4.3 to 1.5. When trying to run a playbook (with fact-gathering enabled), or when invoking the "setup" module against a server with multiple IPv4 addresses, ansible is failing thus:

$ ansible ns1.ams.authdns.ripe.net -m setup
ns1.ams.authdns.ripe.net | FAILED => failed to parse: Traceback (most recent call last):
  File "/tmp/ansible-tmp-1393947208.67-1729470901199

[2014-03-04 15:46] jctanner commented on #6272
@dhorbach I'm unable to reproduce on centos 6.5 x86_64 ...

[code]

Result:

[code]

Spot check:

[code]

Did I overlook something in your description?

[2014-03-04 16:13] dhorbach commented on #6272
initially found that on AWS VM
Now checking with vagrant box (6.4 centos too)

1 VM  where those settings already applied

TASK: [Update kernel params] **************************************************
ok: [oracledb] => (item={'name': 'fs.suid_dumpable', 'value': 1})
ok: [oracledb] => (item={'name': 'fs.aio-max-nr', 'value': 1048576})
ok: [oracledb] => (item={'name': 'fs.file-max', 'value': 68157

[2014-03-04 16:18] mpdehaan commented on #6274
This looks like a good candidate for a dot release, can you share output from your ip configuration?  (/sbin/ip, etc?)

[2014-03-04 16:19] mpdehaan commented on #6273
(Updated $topic to reference the subject of the PR, since "recent" would get confusing quickly -- ed)

[2014-03-04 16:37] aabdnn commented on #6274
Hi Michael. A point release would be good, because none of my playbooks are runnung now. Here's the output of "ifconfig -a":

dummy0    Link encap:Ethernet  HWaddr E2:8C:EC:E2:E6:59
          inet6 addr: 2001:67c:e0::123/48 Scope:Global
          inet6 addr: 2001:67c:e0::110/48 Scope:Global
          inet6 addr: 2001:67c:e0::101/48 Scope:Global
          inet6 addr: 2001:67c:e0::99/48 Scope:Global

[2014-03-04 16:40] risaacson commented on #5749
It looks like there isn't any outstanding issues with this ticket so I am going to close it out based on your final comment here. I don't see the duplication that you are pointing out in the recent branches.

If you are continuing to see problems feel free to ping me @ansible.com and we can sort it out.

[2014-03-04 16:44] do3cc opened #6276 "sudo connection to centos failed since :"Moving {ssh,paramiko}_alt connection types to be the defaults""
Hi,

the CentOS version  in question is:
CentOS release 6.5 (Final)
sudo is
1.8.6p3
ssh is
5.3p1

when running a playbook with -K to ask for the sudo password, we get an exception when trying to gather facts from a centos machine. Here is the debug output:

[code]

We are using the source checkout of ansible so with bisect we found out that the error appeared in this commit:
https://github.com/ans

[2014-03-04 16:48] mpdehaan commented on #6276
There is an ansible.cfg to control pipelining and pipelining is off by default, but definitely want to explore.

Can we see your ansible.cfg?

[2014-03-04 16:57] swills commented on #5923
@bcoca it does output to stdout, which ansible receives on stdin, yes. And it does not send EOF more close it's stdout, but it does detach, at least in the case of postgresql93. Hence why the init script for the OS works fine. This is why I contend this is a bug in ansible.

[2014-03-04 17:04] do3cc commented on #6276
My fault. I have checked the ansible.cfg on the wrong server. Now that I wanted to cat the cfg again, I did it on the right one and saw that tunneling was still enabled. Removing that configuration element, CentOS does not fail any more.
Sorry for the noise

[2014-03-04 17:04] #6276 closed, assigned to nobody

[2014-03-04 17:07] mpdehaan commented on #5749
This sounds like this comment was about a pull request that wasn't applied yet so I'm reopening this one for now, unless we can't reproduce this on head, etc.

[2014-03-04 17:08] mpdehaan commented on #5749
ok beat me to it, thanks!

[2014-03-04 17:53] techtonik commented on #5040
Can you specify `ip addr` and ansible 1.5.0 output for comparison? I am not sure that the output should be in the last case.

[2014-03-04 17:55] techtonik commented on #6274
Fixed on my system. Will submit PR now.

[2014-03-04 18:05] techtonik commented on #6274
Done. Waiting for the merge.

[2014-03-04 19:14] bcoca commented on #5923
@steve,  most of my init script output to stdout and I don't see this
issue, that is why my suspicion was on something improper on the init
script.

Since you seem to have discounted that I'm perplexed on why this works/not
works inconsistently. I would expect to always fail or always work.

[2014-03-04 19:24] mpdehaan commented on #6274
Fixed by the above, so closing, thanks!!!

[2014-03-04 19:24] #6274 closed, assigned to nobody

[2014-03-04 19:25] mpdehaan commented on #6274
cc @jctanner probably on cherry-pick list for next release on 1.5.X

[2014-03-04 19:30] darklajid commented on #5923
To be safe: For me this fails always. Workarounds exist, but the core issue is easily reproducable in my environment.

[2014-03-04 19:35] swills commented on #5923
The issue is the postgresql93 subprocess rather than the init script itself. This is why adding "-l /dev/null" to the pg_ctl flags helps.

[2014-03-04 20:26] stucki commented on #3324
I'd like you to reconsider this change.

For example, collecting data with "grep" is not a task and will never change. While using `changed_when: false` for it, it also makes sense to hide this task from any output.

[2014-03-04 20:37] techtonik commented on #6274
I am not aware of the release process, so just a thought that it's worth mentioning in CHANGELOG.md

[2014-03-04 20:39] techtonik commented on #5040
Also see #6274 - it may happen that the output changed again. In any case it is better to open a new issue.

[2014-03-04 20:42] techtonik commented on #5564
[code]

The output of this snippet is awful. Is it possible to shorten it?

[2014-03-05 00:40] mcantsin opened #6286 "proftpd service restart bug"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

Ansible on GNU/Linux Ubuntu 14.04 (trusy tahr)
Remote server on GNU/Linux Ubuntu 12.04 (precise pangolin)
##### Summary:

I get a bug with proftpd service restart. When the service is running, ansible shuts it down and starts it when its down. - So it's not a "restart" but a "state change".
##### Steps To Repro

[2014-03-05 00:57] #6177 closed, assigned to nobody

[2014-03-05 05:11] #5583 closed, assigned to nobody

[2014-03-05 06:17] techtonik commented on #6077
Pretty annoying.

[2014-03-05 06:25] techtonik commented on #6077
Is it possible to use Jinja2 magic to escape this behavior somehow?

[2014-03-05 06:40] techtonik commented on #6077
An ugly workaround is to include `{{'\n'}}` at the beginning of each line.

[2014-03-05 11:27] wferi commented on #5157
I agree that the current behavior is dangerous and not useful. Iterating over an undefined value should do nothing, not iterate once with the literal undefined expression. Or even report an error. Jinja [documents](http://jinja.pocoo.org/docs/templates/#variables) the former, FWIW.

[2014-03-05 11:56] ryandjf commented on #6267
I start to think this is connection issue. I tried several times today, sometimes it works.

[2014-03-05 11:56] #6267 closed, assigned to nobody

[2014-03-05 12:30] jonauman opened #6293 "Unwanted implicit type casting for variables in playbooks"
I have a variable in my playbooks like:
vars:
  release: 17.10

When I go to reference the variable in a task, it is automatically cast as a number (float type, I assume) and ends up dropping the trailing 0. This is obviously not what I wanted as release 17.1 is not the same as release 17.10

I've found no documentation regarding how to set the variable type. In this case, I think the numbers shou

[2014-03-05 12:37] jonauman commented on #6293
I see my ansible is about 6 months old. I will update and create a new report if the behavior is still present.

[2014-03-05 12:37] #6293 closed, assigned to nobody

[2014-03-05 13:05] mpdehaan commented on #6286
This is very likely to be a problem with the init script itself, and not the service module, though this _may_ be a 14.04 issue.

Most likely the "status" command from the service is missing or unreliable.

To fix this, use the "pattern" argument to the service module.

Can you check and see what the status of the script returns (and possibly doing some light debugging with ./hacking/test-module i

[2014-03-05 13:06] #6244 closed, assigned to nobody

[2014-03-05 13:38] aabdnn opened #6294 "Ansible 1.5 file lookup plugin strips double quotes"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5
##### Environment:

N/A
##### Summary:

One of either the file lookup plugin or the authorized_key module, is removing double quotes from the file being read.
##### Steps To Reproduce:

Create a play like this:

authorized_key: user=monitoring key="{{lookup('file', 'monitoring.pub')}}"

In the monitoring.pub file, insert the content:

from=

[2014-03-05 13:40] geerlingguy commented on #4524
Here's an example:

Let's say I have a role `php` that defines a dependency on the role `apache`. If I do this in my main playbook, I'll get the error described above:

[code]

I have to also give apache at least an empty tags list in order for Ansible to run the playbook without exceptions, so I could do:

[code]

(or, of course, I could add a tag to the apache role if I so desired). The point is

[2014-03-05 13:56] sivel commented on #4524
@geerlingguy This was recently fixed in #6248

[2014-03-05 14:23] geerlingguy commented on #4524
Oh, nice!

[2014-03-05 16:15] jctanner commented on #6272
@dhorbach so this only occurs if the key was never set before? I'll try to test for that scenario.

EDIT: reproduced the issue on a clean centos vm.

[2014-03-05 16:19] ivanvolti commented on #6047
I have exactly the same problem when using accelerated mode (ansible 1.5):

[code]

To make it work I have to ssh to my vagrant and use `mkdir -p ~/.ansible/tmp` command. After that I can use ansible-playbook as usual without any errors. Thanks to @neh for this tip.

[2014-03-05 16:21] marselester commented on #6047
I have the same problem.

[2014-03-05 17:59] jctanner commented on #6272
@dhorbach Unfortunately this error is inherent to how sysctl -p works, rather than how the module is writing the file.

This should be fixed by https://github.com/ansible/ansible/pull/5872 if you add "ignoreerrors=yes" to your task.

[2014-03-05 17:59] #6272 closed, assigned to nobody

[2014-03-05 18:35] neh commented on #6047
@jimi-c Apologies for the delay on this response. This is all it takes for me: https://gist.github.com/neh/9373548 . I just run that against a newly created and untouched Ubuntu 12.04 container as below, and I get the above error on the second play.

[code]

[2014-03-05 19:31] jlaska opened #6298 "synchronize and with_items doesn't play well with --sudo"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible-1.6 (latest from devel)
##### Environment:

Tested on RHEL-6 and CentOS-6.
##### Summary:

It appears the `synchronize` module does not properly set `rsync_path` when called with more than one element in `with_items`.
##### Steps To Reproduce:
1. Create the following playbook

[code]
1. Create an inventory file that provides a non-root

[2014-03-05 19:52] #6298 closed, assigned to jctanner

[2014-03-05 19:52] risaacson commented on #5749
Pertaining to the original description of this thread as of 1.5 this is fixed and tests correct.
https://gist.github.com/risaacson/db81aa24b61455bd32e4

After comment 11 you have a few commits that end up being a part of GH-5837. We have made some changes around I cherry picked the changes off into a branch that I am working on un-commenting test_dir_inventory. Your test should be merged as a part

[2014-03-05 19:52] #5749 closed, assigned to nobody

[2014-03-05 20:10] jctanner commented on #5059
@dominus-directus please open a new bug for that.

[2014-03-05 20:24] jctanner commented on #5059
@oxyc bug confirmed. It looks like ansible_hostname is not in the inject that is sent to the plugin, and it doesn't fill in the hostname correctly:

[code]

[2014-03-05 20:36] jimi-c commented on #4656
@pgehres if you'd like to test the above PR, it should do what you were wanting. I've tested with multiple roles that each include a common role, and can get that to execute only once even when using tags.

[2014-03-05 21:06] pgehres commented on #4656
Awesome! Thanks.  I will try and give is a test in the next few days

[2014-03-05 21:22] jctanner commented on #5059
The traceback occurs because the debug task has no name and defaults to something like ...

[code]

This string is sent through to self.callbacks.on_task_start in playbook/**init**.py and subsequently causes the failure in password.py. A workaround is to name the task:

[code]

[2014-03-05 22:51] jctanner commented on #5059
Preliminary patch:

[code]

[2014-03-05 23:50] #6077 closed, assigned to nobody

[2014-03-05 23:50] jctanner commented on #6077
@techtonik should be fixed for you with 4e8ed92

[2014-03-06 01:14] mpdehaan commented on #6294
So what is happening here is the lookup plugin is evaluated at Jinja2 level and then inserted directly into the YAML.

To preserve the double quotes, you will need to escape them, because the first quote around the "{{" will match up with the quote around the ="addr1, and close off the pair.

So in your file:

[code]

And the inline expansion won't break things.

I also imagine you might be able t

[2014-03-06 01:14] #6294 closed, assigned to nobody

[2014-03-06 01:47] jimi-c commented on #4656
I went ahead and merged it in, so just let me know if you run into any problems with your testing.

[2014-03-06 01:58] pgehres commented on #4656
That works for me. Thanks!

[2014-03-06 04:08] #6047 closed, assigned to jimi-c

[2014-03-06 04:09] jimi-c commented on #6047
@neh thanks, that led me to the problem. The above commit should resolve the issue for you if you pull the latest devel branch. We will also include this in 1.5.1. Thanks!

[2014-03-06 04:15] #6226 closed, assigned to nobody

[2014-03-06 05:38] DaveQB commented on #2769
I have this problem a lot on ansible 1.4.1

No of those solutions are working for me. I have had to work around it each time.

Right now I have this.

[code]

The state: ONLINE is what is tripping it up.

I have tried as number of quoting here but nothing gets me past this error.

[2014-03-06 08:34] techtonik commented on #6077
Cool. Will it be in 1.5.1?

[2014-03-06 09:28] nizsheanez opened #6307 "(debug module) Different behavior on same command"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5
##### Environment:

OS X
##### Summary:

my 2 playbooks in one gist page:
https://gist.github.com/anonymous/0c440b979000b2f57d04

if i trying to `echo "r.p("` then debug command print array as string `"[u'r.p(']"`
if i remove **any** symbol from this string then - array as array

[code]

in case 1 and in case 2 different formatting of outpu

[2014-03-06 11:40] aabdnn commented on #6294
Hi Michael,

I understand your comments. However, in 1.4.3, my setup was working. So are you saying that the file lookup plugin in 1.4.3 was buggy, and that you have fixed it in 1.5?

[2014-03-06 12:12] drybjed commented on #4524
Comfirming the issue on latest devel branch:

[code]

[2014-03-06 12:52] g-k-r commented on #5749
@risaacson thanks, information round up appreciated

[2014-03-06 12:59] jribenfors opened #6309 "Dropbear MOTD causing parse error"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel 40ee030790) last updated 2014/03/05 11:33:53 (GMT +100)
##### Environment:

Running ansible on Ubuntu 12.4
Host OS is: Linux mini2440 3.1.1-ptx-2011.11.0dtl #2 PREEMPT Wed Jun 12 14:56:20 UTC 2013 armv4tl GNU/Linux running on a mini2004

The host uses Dropbear sshd v0.53.1
##### Summary:

When dropbear doesn't display a MOTD

[2014-03-06 13:21] g-k-r commented on #5894
fix the typo in

[code]

and try again

[2014-03-06 13:28] drybjed opened #6310 "Tags in array cause traceback"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

Debian Wheezy
##### Summary:

Bug seems similar to https://github.com/ansible/ansible/issues/4524
##### Steps To Reproduce:
##### Expected Results:
##### Actual Results:

[code]

[2014-03-06 13:29] DXist commented on #5894
Ooops! Now it works. Two heads are better than one. Thank you!

[2014-03-06 13:29] #5894 closed, assigned to nobody

[2014-03-06 14:51] grossws opened #6312 "Notifications in parametrized roles"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

Host: Arch Linux,
Target: Centos 6.
But it isn't related to issue.
##### Summary:

I have similar case to issue #4853. If I use parameter set with role like

[code]

And `defaults/main.yml` like:

[code]

I can use `test_param` from role but not the variable (`some.param`) in role's defauls to parametrize handler

[2014-03-06 15:08] grossws commented on #6312
Ticket updated to fit into template, mentioned by your ansibot =)

[2014-03-06 15:15] jkramarz opened #6314 "Playbooks are runned over other group of hosts than listed by list-hosts"
##### Issue Type:

Bug report
##### Ansible Version:

starting from commit ae9843fccdac1bc5da95f2c9d274e927f4a43962
ansible 1.5 is affected
##### Environment:

at last Debian 6
##### Summary:

Please summarize your request in this space.  You will earn bonus points for being succinct, but please add enough detail so we can understand the request.
##### Steps To Reproduce:

run
1. ansible-playbook

[2014-03-06 15:20] pruneau628 opened #6315 "Bug report: debug module displaying truncated outptut"
##### Issue Type: Bug Report
##### Ansible Version: ansible 1.5 (devel a65d53462d) last updated 2014/02/21 12:24:29 (GMT -500)
##### Environment: from Debian 7.2 to Debian 7.2
##### Summary:

Here is the code:
(...)

[code]

(...)
Here is the output:
    TASK: [Cleaning up the (possible extra non-root hard drive)] ******************
    changed: [sl1-grp-1-wk0.sl1.mnubo.com]

[code]
##### Steps To

[2014-03-06 15:22] pruneau628 commented on #6315
Here is the script run in the playbook sample:

[code]

[2014-03-06 15:23] #6310 closed, assigned to nobody

[2014-03-06 16:25] siboulet opened #6316 "Subversion module discloses SVN password on failure"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

CentOS 5.8
##### Summary:

When a subversion module task fails, the SVN password is disclosed in the failure message. This may ultimately end up in log and/or failure email report.
##### Steps To Reproduce:

Create a simple Playbook containing a Subversion task:
- subversion: repo=http://{{deploy_svn_host}}/svn/{

[2014-03-06 16:48] mpdehaan commented on #6316
Thanks for the report, we are working on removing this detail now and this will be included in the next dot release.

[2014-03-06 16:53] mpdehaan commented on #6315
Hi,

The debug module isn't good about displaying multi-line data, but if you want to debug a variable, here's a great way to do it instead:

[code]

This will take care of the above problem.

Stop by the mailing list if you have any questions.

Thanks!

[2014-03-06 16:53] #6315 closed, assigned to nobody

[2014-03-06 16:55] mpdehaan commented on #6314
So reading into your above report:

[code]

What I see in your inventory file is not that you don't have any child groups of "physical", but you have two top level groups.

Can you confirm that is all of the inventory file?

Thanks!

[2014-03-06 16:58] mpdehaan commented on #6314
I can't reproduce the above behavior using a simple inventory file with two groups and two hosts.

Both --list-hosts and a regular run is correctly only selecting one host.

[2014-03-06 17:02] mpdehaan commented on #6312
Here's the key part:

[code]

Basically this going to be a thing.  The reason being is the default variables are at inventory scope, and handlers need to be at task scope and applied consistently to all objects in the system.

The workaround here would be to move the some.param you are using for notification into vars/ or passing it as a roles parameter.

It's not going to be possible to correct t

[2014-03-06 17:02] #6312 closed, assigned to nobody

[2014-03-06 17:04] mpdehaan commented on #6309
It's been a while since I remember a report about dropbear.

You may wish to try "-c paramiko" instead of "-c ssh" to see if this helps?

The parser logic should look for a "{" to start parsing though, so it seems like this can be patched to be made to work.

Is this something you might like to help work on since you have a system that can reproduce this?

If so, can provide some pointers.

Thanks

[2014-03-06 17:06] jkramarz commented on #6314
@mpdehaan, I believe that configuration included in issues is the most minimalist one required to reproduce the problem.

Yes, I don't have any child groups of "physical". It works well for "ansible", "ansible-playbook --list-hosts" but for "ansible-playbook" group phost1 (named after other host) behaves like child of "physical".

[2014-03-06 17:06] grossws commented on #6312
I think, info about this behavior should be added to documentation, FGJ =)

[2014-03-06 17:06] mpdehaan commented on #6307
Agree this is a bit curious.

Should appear as an array regardless, looks like the unicode detection got a bit "special" :)

[2014-03-06 17:37] pruneau628 commented on #6315
Could I volunteer to update the documentation ?

Thanks for the quick answer anyway.

[2014-03-06 17:45] jribenfors commented on #6309
I don't have a lot of python experience, but am willing to try.  Where do I start looking?

"-c paramiko" attempts to use sftp which we don't have installed on the embedded boards.  I'm using 'scp_if_ssh = True' in /etc/ansible/ansible.cfg

Paramiko error:

[code]

[2014-03-06 19:33] jimbocoder commented on #6274
Just want to note that I also had this issue on the 1.5 release, and the current `devel` branch does fix the issue.  Looking forward to this working in an official point-release!

[2014-03-06 19:36] #6316 closed, assigned to nobody

[2014-03-06 19:37] jimi-c commented on #6316
@siboulet the above patch should resolve the issue for you. Please let us know if you continue having any problems with this. Thanks!

[2014-03-06 19:41] bcoca commented on #6274
fyi, this does not break for me, using up to 40 ips, some servers managed
by keepalived, others just by OS, gather_facts ran fine on all.  (ubuntu
12.04, gentoo, centos 5.6, ubuntu 13.04)

[2014-03-06 20:02] jimi-c commented on #5305
I've gone ahead and merged the above patch into the development branch. Please let us know if you continue to see the issue described above. Thanks!

[2014-03-06 20:19] techtonik commented on #6274
@bcoca, try VPS configurations.

[2014-03-06 20:28] jimbocoder commented on #6274
The secondaries that cause breakage for me are managed by crm's IPaddr2 agent, for what it's worth.

[2014-03-06 21:56] ovcharenko opened #6321 "ansible-playbook lost --limit options"
##### Issue Type:

BugReport
##### Ansible Version:

ansible 0.6
##### Environment:

N/A
##### Summary:

I noticed what there is no --limit option anymore. Is it by design or by mistake? How to limit host execution list now?
##### Steps To Reproduce:

ansible-playbook hosts.yaml --limit=host1,host2
##### Expected Results:

It works.
##### Actual Results:

[code]

[2014-03-06 22:10] jimi-c commented on #6321
I'm assuming the 0.6 in your bug report above is a typo, however I am unable to reproduce this. On the devel branch running a playbook from another issue I had created:

<pre>
$ ansible-playbook 6047.yml -u test --limit=ubuntu1204
PLAY [all] ********************************************************************
GATHERING FACTS ***************************************************************
ok: [192.

[2014-03-06 22:16] ovcharenko commented on #6321
@jimi-c thanks for quick reply. Latest dev version works just fine.

[2014-03-06 22:16] #6321 closed, assigned to nobody

[2014-03-06 22:33] drybjed opened #6322 "Handlers defined in role dependencies don't work in subsequent plays"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

Ubuntu, Debian
##### Summary:

Handlers that are defined in a role that is a dependency of another role, which is called in a play, are not working in subsequent plays. It seems that role dependencies are also not correctly executed.
##### Steps To Reproduce:

Using `git bisect` I've determined that bug has been

[2014-03-06 22:36] jimi-c commented on #6322
Thanks, looking at this now.

[2014-03-06 23:51] jimi-c commented on #6322
So as of the above patch, this behavior is the intended result. In order for your handler to work, you just need to add a `meta/main.yml` file with `allow_duplicates: yes` set in it so that the second play can run it.

[2014-03-07 00:30] ava-miket commented on #5084
The proposed solution doesn't work if ansible_ssh_user is set in the inventory file (see https://github.com/ansible/ansible/issues/4688).  I need a way to connect to a target server using ansible_ssh_user but run a subset of tasks as a different user (specifically for GitHub checkout).  Being able to specify a different user at the role level, or even task level, would help a lot.

[2014-03-07 00:58] jimi-c commented on #6322
@drybjed now, it does look like the handler not being defined is an issue, since the role data is not shared across plays now, and the second play doesn't load it.

[2014-03-07 02:21] jimi-c commented on #4656
@pgehres I'm going to have to back this out, due to some unexpected side-effects regarding handlers (#6322). Also, as it stands subsequent plays don't account for the fact that later plays may have different inventory sets, so it may lead to some odd results for users. So I'll re-open this and we'll revisit it later if we can work out the nuances of different plays.

[2014-03-07 03:13] #6322 closed, assigned to jimi-c

[2014-03-07 03:14] jimi-c commented on #6322
@drybjed we've decided to partially rollback the commit that broke this, so your issue should be resolved. Let me know if you have any more problems with this. Thanks!

[2014-03-07 03:36] JasonSheedy commented on #5952
@mpdehaan "By specifying a tag to a role, you are saying "this should be tagged with this", not "only include some of this"."

This is a little ambiguous in the docs. Based on the docs I thought the behaviour was, "only run tasks tagged with web or foo" for role webservers. Is there a way to facilitate this behaviour?

roles:
- { role: webserver, port: 5000, tags: [ 'web', 'foo' ] }

[2014-03-07 06:58] DaveQB commented on #1341
Ver 1.4.1

@drewp  Brilliant solution. I have been going crazy with single and double quotes, nothing will parse. Interesting, I don't have any issues is using the same line on the command line in a -a " " Only in the playbook does it have this issue. Even an YAML parser said I was doing it right.

Thanks again.
PS Hash symbol (#) looks harder to use.

[2014-03-07 08:14] drybjed commented on #6322
@jimi-c Thanks, everything seems to work now. As for `allow_duplicates: yes`, I thought from [reading the documentation](http://docs.ansible.com/playbooks_roles.html#role-dependencies) that one role dependency was limited to current play. But if it's applied to entire playbook run, that's OK. I suppose adding this setting to roles that are designed to be run multiple times shouldn't hurt.

[2014-03-07 09:58] lenfree opened #6327 "docker module ports option error"
##### Issue Type:

Bug
##### Ansible version:

1.5
##### Environment:

*BSD
##### Summary:

can't use ports option to bind an interface with multiple ports if they both tcp or udp
e.g.
ports="10.0.2.15:80:80, 10.0.2.15:443:443" - this doesn't work
but ports="10.0.2.15:80:80, 10.0.2.15:443:443/udp" - this works
##### Steps To Reproduce:

 docker: image="name/nginx-reverse-proxy:1.0" name="nginx"

[2014-03-07 15:32] jimi-c commented on #6322
@drybjed it was, but that had been changed by the above feature, the idea being that sometimes common roles are re-applied when a second play is run. That has now been backed out, since it was pointed out that the patch I submitted did not account for the (likely) chance that the lists of hosts across plays would not be the same. You should not need to add `allow_duplicates` to your meta now, unle

[2014-03-07 15:48] #5782 closed, assigned to nobody

[2014-03-07 15:48] davecore82 commented on #5782
I just tested again and the issue is no longer in Ansible 1.5. I don't know when it was fixed but this is no longer an issue (not so sure it ever was anyway). Thank you,

[2014-03-07 17:43] joshuaconner commented on #6327
Hmm, I'm not able to reproduce this issue. (Here's a [gist](https://gist.github.com/joshuaconner/8bbea5b0a1cc02d5fcad) of the playbook, hosts file and Dockerfile I used, as well as the output I got from running `docker ps` on the host after the playbook had run.)

Maybe the problem is the space after the comma in the port declaration?

[2014-03-07 17:46] mcantsin commented on #6286
@mpdehaan thanks.

[2014-03-07 18:35] brad opened #6329 "Space in one variable breaks others"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

Arch Linux managing Centos 6
##### Summary:

When I accidentally use a space instead of an underscore, all the variables in the command are ignored and each character is treated literally.
##### Steps To Reproduce:

[code]
##### Expected Results:

I think there are two possible results that could improve things:

[2014-03-07 18:47] pgehres commented on #4656
Interesting, FWIW, the way I had imagined this (no idea is this is possible in the current architecture) was to simply keep a manifest of hosts and the roles that had already been run in this "play of plays."

[2014-03-07 19:30] neh opened #6330 "Tags on tasks in dependent roles are not included in playbook runs"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
Commit: 73c883c
##### Environment:

Ubuntu 13.10 controlling Ubuntu 12.04.
##### Summary:

Tags on tasks in roles depended on by applied roles are not included in playbook runs.
##### Steps To Reproduce:
1. Check out ansible commit 73c883c or later.
2. Apply a role to a host that depends on another role containing a tag.

My minimal

[2014-03-07 19:37] jsmartin opened #6331 ""hosts: myservers[-1]" no longer works to address last host in group"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

OSX
##### Summary:

I've done some bisecting, and after ca0ec80 , I'm no longer able to address the last server in group with myserver[-1] in a playbook.  It is simply skipped stating:
##### Steps To Reproduce:

inventory:

[code]

playbook:

[code]
##### Expected Results:

the debug message would be displayed  f

[2014-03-07 19:47] jimi-c commented on #4875
So the issue here is the fact that \* is being imported from chube. That is the source of the namespace collisions, so if we simply removed that and only imported the items we need from that library we wouldn't need to muck around with the sys.paty.

[2014-03-07 20:01] jimi-c commented on #4875
This is a preliminary patch to correct the issue:

<pre>
diff --git a/plugins/inventory/linode.py b/plugins/inventory/linode.py
index b4bcb1f..fb468f2 100755
--- a/plugins/inventory/linode.py
+++ b/plugins/inventory/linode.py
@@ -80,12 +80,8 @@ try:
 except ImportError:
     import simplejson as json

-# chube imports 'yaml', which is also the name of an inventory plugin,
-# so we remove the plugi

[2014-03-07 20:06] carsongee commented on #4883
I just wanted to add a plus one to this. I'm running with 1.5 and seeing the same behavior.

[2014-03-07 20:38] jimi-c commented on #6329
@brad, could you try the patch above and let me know if it resolves the issue for you? Thanks!

[2014-03-07 20:40] drybjed commented on #5084
@ava-miket You can use `sudo: True` and `sudo_user: otheruser` to specify different user to run a task or a role.

[2014-03-07 22:29] brad commented on #6329
@jimi-c Excellent, thank you! With the patch, I get this output:

[code]

Seems like much more sensible behavior. :beers:

[2014-03-07 22:36] #6331 closed, assigned to nobody

[2014-03-07 22:36] jimi-c commented on #6331
The above patch should fix the issue for you. Please let us know if you run into any further problems with this. Thanks!

[2014-03-07 22:38] jimi-c commented on #6329
Great, merged that in. Thanks!

[2014-03-08 00:23] #5354 closed, assigned to nobody

[2014-03-08 00:34] brad commented on #6329
Wow, that was easy. Thanks for being so easy to work with!

[2014-03-08 00:50] lenfree commented on #6327
oh there shouldn't be a space after the comma to prevent error. Thanks! :)

[2014-03-08 00:50] #6327 closed, assigned to nobody

[2014-03-08 05:33] charles-dyfis-net opened #6341 "systemd service backend can fail to detect services not running"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.5 + PR #6339
##### Environment:

Arch (Rolling Release / No Version Number).

systemd 208-11
##### Summary:

The `service` module should be able to correctly determine that systemd services reported as dead are not running.
##### Steps To Reproduce:

...on a system wherein the `eth0` Ethernet interface does not have an associated dh

[2014-03-08 13:40] mpdehaan commented on #6341
Thanks, there's another ticket dealing with @services (another mentions dhcpd specifically) and is probably related to that issue.

[2014-03-08 13:42] charles-dyfis-net commented on #6341
I filed a pull request with a fix for a similar issue, but they aren't in fact identical.

[2014-03-08 13:54] charles-dyfis-net commented on #6341
...this one actually looks like an old PR which was rejected for reasons related to a different portion of its functionality should fix it: https://github.com/ansible/ansible/pull/5038

[2014-03-08 14:00] charles-dyfis-net commented on #6341
...strike that; it's not is-enabled but is-active that's the appropriate replacement here, and that PR doesn't go so far as to use both.

[2014-03-08 16:02] mgan59 commented on #4875
I have a linode account still, if I have time this evening I'll give it a try.

[2014-03-08 19:35] alimony opened #6345 "Introduce ANSIBLE_PYTHON_INTERPRETER env variable."
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.6 (devel da2126eda5) last updated 2014/03/04 20:54:15 (GMT +200)
##### Environment:

N/A
##### Summary:

At the moment, there is no env variable equivalent of the `ansible_python_interpreter` setting.

If I use a python at some other path than `/usr/bin/python` I need to set this config variable.

But if I already have an `ansible.c

[2014-03-08 19:46] alimony commented on #6345
Another solution to the same problem would be to have `#!/usr/bin/env python` instead of `#!/usr/bin/python` everywhere. But it seems this have been requested many times, with the `ansible_python_interpreter` setting as most common answer. But this might not work in all cases, as stated in this issue.

[2014-03-08 19:56] HelloGrayson opened #6346 "ansible-pull should support key_file or accept_hostkey"
This makes it more difficult than needed to bootstrap instances... Is there no way to pass  arguments to the git module while using ansible-pull? I'm on Ansible 1.5.

[2014-03-08 20:07] bcoca commented on #6345
It is not just ansible_python_interpreter, this facility works for ruby
(ansible_ruby_interpreter), perl,  bash, etc.

Using env is not a universal solution either too many distros and OSs have
multiple pythons sometimes python == v2 sometimes v3, hell, sometimes even
the env binary is in a different location.

[2014-03-08 20:47] alimony commented on #6345
I'm not sure I follow. Is there a `ansible_ruby_interpreter` config variable? I can't find it references anywhere in code…?

In any case, `/usr/bin/env` is much more portable than `/usr/bin/python`, which is also why the latter is a python script best practice.

[2014-03-08 21:07] bcoca commented on #6345
The logic is 'ansible_*_interpreter', so ruby, perl, any script executable
works. There used to be a reference that this was the case when using
python as a example (mostly cause all core modules use it).

/usr/bin/python is not used for portability, it is used so you can control
substitution with the mechanism detailed above.

[2014-03-08 21:24] alimony commented on #6345
The change would then be to change all occurrences so that they can still be substituted, while providing additional portability when running ansible in e.g. a virtual environment. I understand that this may be a large change with many side effects, but would still be useful.

[2014-03-08 21:59] bcoca commented on #6345
I don't see why a change is needed, using the variable setting already
ensures portability to any environment.

[2014-03-08 22:44] bcoca opened #6348 "new syntax checker too agressive"
##### Issue Type:

I'm getting "ERROR: Syntax Error while loading YAML script," when a tasks/main.yml file in my role doesn't start with '---', this is optional in YAML and works in previous versions.
##### Ansible Version:

ansible 1.6 (devel 5f3ea7512f)
##### Environment:

Ubuntu 12, 13 and Gentoo
##### Summary:

Over eager syntax checking
##### Steps To Reproduce:

create a role with a tasks/ma

[2014-03-08 22:48] alimony commented on #6345
See my original comment. If you can't use the configuration file for this setting, because you want to share it in a project, there is no way to do it. Am I missing something?

[2014-03-08 23:17] bcoca commented on #6345
normally you set it as a group var or host variable, you can even set it on
the command line -e 'ansible_python_interpreter=/opt/bin/python2'

[2014-03-08 23:29] alimony commented on #6345
But how can I put it in a variable if I share the inventory with others? I may want to use `/usr/local/bin/python` as value, and some other collaborator wants `/opt/bin/python`, and so on.

[2014-03-08 23:31] bcoca commented on #6345
you can put variables in the inventory, since these are host/group specific
I doubt 2 people will want to use different values as only 1 of them should
work.

[2014-03-08 23:41] alimony commented on #6345
In my specific case, I need the `dopy` python module for the `digital_ocean` module to work. Since I've installed python through Homebrew, it lives in `/usr/local/bin/python` and running `pip install dopy` will install it in `/usr/local/lib/python2.7/site-packages`.

When I run Ansible, it will not have that last path available, since Ansible always uses `/usr/bin/python` unless `ansible_python_in

[2014-03-08 23:45] sivel commented on #6348
I have not been able to duplicate this issue.  There doesn't appear to be anything that would cause this from what I can tell.

[code]

#### role.yml

[code]

#### roles/test/tasks/main.yml

[code]

[code]

I tested this on Mac and Ubuntu 12.04.  On Ubuntu I tried with pyyaml from pypi and python-yaml.

[2014-03-08 23:46] bcoca commented on #6348
weird, reverting to 1.5 makes everything work, I'll bisect when I have more
time.

[2014-03-09 00:30] mpdehaan commented on #6345
What Brian said about this applying to all languages applies, and this is introduced to be able to manage systems where you are simultaneously talking to two systems with different interpreter paths.   Thus, setting it globally defeats that purpose.

If you do need to assign it globally, it can be assigned at the group_vars/all level.

[2014-03-09 00:30] #6345 closed, assigned to nobody

[2014-03-09 00:32] mpdehaan commented on #6346
So both of these options are new in 1.5, which is why they are not currently present.

Additions would be welcome!

[2014-03-09 00:33] mpdehaan commented on #6348
Can you please provide something (like a minimal test repo) that helps us reproduce this?

[2014-03-09 00:34] mpdehaan commented on #6348
There's also no new syntax checker.  If a file starts with "{" or "[" we do parse it as pure JSON now though, so to avoid lots of very _wrong_ syntax checks on an invalid JSON file.

[2014-03-09 00:55] #6330 closed, assigned to jimi-c

[2014-03-09 00:59] bcoca commented on #6348
did a quick bisect: 79799f681903141e815e4c44b035590124549f12
doesn't look like it makes much sense.

I'll try to create a simple case, I now have 3 roles throwing errors with
this and the fix is adding --- or using previous version of ansible.

I'm in middle of DC migrations so I might not get to simple case till
tomorrow.

[2014-03-09 01:00] jimi-c commented on #5709
@sebbrochet I believe I have partially fixed this in the current development branch, if you would like to verify it. The "partially" is due to the fact that the error message shown still does not list all of the tags found in the roles, which I will continue to work on.

[2014-03-09 07:34] pgehres opened #6353 "Assemble module should put a newline between each file"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5 / devel @ 04a6dc6d12
##### Environment:

Unrelated but
Host: OS 10.9.1,
Target: Centos 6.5
##### Summary:

The assemble module (as of 3b2d409) ensures that a newline is placed after any delimiter usage but the module does not put a newline between each of the files. Without putting a blank line in each file (which can easily get acc

[2014-03-09 09:57] dominus-directus opened #6354 "traceback w/ lookup plugin"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

Debian 7 (wheezy)
##### Summary:

{{item}} doesn't resolve when using file lookup plugin.
##### Steps To Reproduce:

[code]
##### Expected Results:

Results of this two commands should be identical.
##### Actual Results:

[code]

reproducible from v1.4 to git head, didn't tried on earlier versions though

[2014-03-09 12:37] ashleyconnor opened #6356 "Please install python-apt package."
##### Issue Type:

Bug Report
##### Ansible Version:

**Ansible version `devel` pulled today 09/03/2014**
##### Environment:

Host is OSX Mavericks, running Ubuntu 12.04 LTS Vagrant on 1.4.3 on latest VirtualBox v4.3.8, python 2.7.5 locally and 2.7.3 on VM.
##### Summary:

I'm attempting to run this simple [provisioning script](https://github.com/jlund/mazer-rackham/) but I'm encountering errors.

[2014-03-09 14:32] tsh56 opened #6357 "git module assumes default port for ssh when checking hsotkeys"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

OSX 10.9.2 -> Ubuntu 12.04
##### Summary:

I have a git server running on a non standard port. I have the appropriate entry in my known hosts file, but check_hostkey method returns False. It appears that the get fqdn method totally ignores the port number. For ssh the appropriate host entry when the port is inclu

[2014-03-09 14:38] tsh56 opened #6358 "git module should accept the ssh config"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

OSX 10.9.2 -> Ubuntu 12.04
##### Summary:

Prior to version 1.5 I had used my ssh config as a way to set StrictHostKeyChecking=no for a particular host I was performing git clones against. In 1.5 the git module added an accept_hostkey parameter. Now my ssh config is not checked prior to the git module checking of

[2014-03-09 15:27] alimony commented on #6345
For anyone reading this, I solved this based on the suggestion by @mpdehaan, using a host var:

[code]

[2014-03-09 16:12] mpdehaan commented on #6358
So the git module isn't going to parse your SSH config to determine if for a particular host it is going to need to check the host key or not.  That's not going to happen.

You could add the accept_hostkey option to add the key, for sure.

Alternatively, you could add the key.

Alternatively, we could add an option that says accept_hostkey=ignore or something like that.

But the module definitely

[2014-03-09 16:16] mpdehaan commented on #6356
So the apt modules are run on your remote host, if you are attempting to run them versus -c local or local_action you should not do this.

Looking at the above output, it does not seem like you are logging in, and this is a function of how you are using the vagrant provisioner.

Since the vagrant provisioner is not part of Ansible, this is not really an Ansible problem, and may just be a case of y

[2014-03-09 16:16] #6356 closed, assigned to nobody

[2014-03-09 16:17] mpdehaan commented on #6354
This is not exactly the right caption here, the lookup plugin can work with "items", but you do have a traceback above for some reason.

It does seem that item is in scope, however.   (edited subject to reflect)

Thanks!

[2014-03-09 16:25] ashleyconnor commented on #6356
I believe you are right.

I've had connection issues with Vagrant and rather than fix them it looks like I've simply got the ansible commands to run locally.

My apologies for this ticket. It's hard to know what's at fault with so many moving parts.

[2014-03-09 16:26] mpdehaan commented on #6353
I'm a bit confused by this one as if the delimiter always adds a newline, there should be a newline between assembled files.

Can you help explain further how to reproduce this by showing some file snippets, task lines, and output?

[2014-03-09 16:39] mpdehaan commented on #6348
"doesn't look like it makes much sense."

It makes a lot of sense.   if the file is JSON, running it through the YAML syntax checker code is a bad idea, so we sidestep that for JSON files.

You will see "loaded" correctly passed to yaml.safe_load in commits up the tree.

[2014-03-09 16:50] tsh56 commented on #6358
First you are correct that having a populated known hosts file is the correct solution, and I ended up doing that.

With that said some of the options anisble provides around ssh are the exact point of having an ssh config file. Implementing features that go against the ssh config feels counterproductive. I should be able to configure an ssh config to my liking and not worry about convincing ansib

[2014-03-09 17:04] mpdehaan commented on #6358
"With that said some of the options anisble provides around ssh are the exact point of having an ssh config file."

I don't disagree with this, though Ansible using SSH as transport to get to the remote host and then _using_ SSH on the remote node are kind of different things (unless you are forwarding your keys, which is generally not suggested).

I would not expect for the majority of our users

[2014-03-09 18:11] ashleyconnor commented on #6356
So I had 5 keys in my `ssh-agent` and despite the explicit option of using the vagrant ssh key it still insisted on looping through keys in my agent before reaching max_tries conveniently before getting to the right key.

To check you have this problem:
Run `ssh-add -l` - if this list is > 5 you need to remove keys or disable the agent.

To fix:
Run `ssh-add -d ~/.ssh/X` where `X` is the key you w

[2014-03-09 18:49] pgehres commented on #6353
Sure. I'll work on that. To clarify, the delimiter is an optional parameter. Simply adding a " " as the delimiter doesn't work as python evaluates that to False (if delimeter: ... ).

[2014-03-09 19:00] pgehres commented on #6353
Also, since you agree that assemble should put a newline between files, I'll submit a pull request as well.

[2014-03-09 19:24] pgehres commented on #6353
Test playbooks at https://github.com/pgehres/ansible-playbooks-test

The output I get is:

[code]

my expected output would be

[code]

[2014-03-09 19:52] bcoca commented on #6348
its failing on included tasks (.yml) not json or any other files, that is
why it doesn't make sense.

Still in the middle of a move, so I probably won't have time to really
debug this till Mon/Tue.

[2014-03-09 22:00] nejko opened #6360 "pip module does not allow to install packages from VCS in non-editable mode"
##### Issue Type:

bug report
##### Ansible Version:

1.6
##### Environment:

Debian 7.4
##### Summary:

If the package is to be installed using pip module, the "-e" option is automatically appended to pip by the module if the package is being installed using a VCS URL. Pip documentation does not require this for all types of VCS URLs: http://www.pip-installer.org/en/latest/reference/pip_install.h

[2014-03-10 01:20] bcoca commented on #6348
so i got a good test case:

[code]

where test.yml is

[code]

this errors out with latest devel, but works fine with 1.4

[code]

[2014-03-10 02:24] sivel commented on #6348
Ok, so I was figuring that is was the `data.lstrip()` somehow, but could not figure out how.  I don't think it was anticipated that the first line of the YAML file would be indented.

This indentation, causes what was the following:

[code]

To end up looking like:

[code]

This ends up being invalid YAML at that point.  Which is why placing `---` on the first line fixes things, since it's indenta

[2014-03-10 03:14] bcoca commented on #6348
ah, nice catch.

Most of my role or other task include files are copy/paste from an play, so
they inherited the indentation level of the original.

[2014-03-10 03:20] charles-dyfis-net commented on #6341
This issue appears to be completely unrelated to `@services`, but rather caused by `LinuxService.get_service_status()` assuming that systemctl returns LSB-compliant exit status codes -- which it very much does not -- or that it makes certain guarantees about strings contained in output -- which it also does not.

(There are similar issues with `service_enable()` and `service_control()` assuming th

[2014-03-10 07:58] alioguzhan opened #6363 "mux_client_request_session: send fds failed"
Hi, i am trying to run ansible from cyngwin in my windows 8. i set everthing up.  i can connect to both github and my production server over ssh `without` password. but with ansible it crashes. i tried everything. like i said i can connect to same server over ssh. but not ansible. here is what i get with `-vvvv` option:

[code]

i dont what is wrong. And i dont know that this is related to ansible

[2014-03-10 11:33] Anislav commented on #6087
I am experiencing a similar if not the same problem when using Ansible 1.5 on OS X 10.9.2.
I have a few variables in group_vars/all.yaml and I have one playbook that works like a charm. I created another one that is responsible for the provisioning of some EC2 instances. I would like to execute it locally and that is why it looks like:

[code]

When I run it I get the same error:

[code]

It works

[2014-03-10 12:01] cloudify opened #6365 "Cloudformation module fails to update already existing stack"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

Darwin 13.1.0 Darwin Kernel Version 13.1.0: Thu Jan 16 19:40:37 PST 2014; root:xnu-2422.90.20~2/RELEASE_X86_64 x86_64

Python 2.7.5

boto (2.27.0)
##### Summary:

When cloudformation stack state is 'present', Ansible creates the stack on the first run but fails on subsequent runs with the message `msg: Stack [STA

[2014-03-10 13:03] wferi opened #6367 "backslash swallowed by command module"
##### Issue Type:

Bug Report
##### Ansible Version

ansible 1.6 (devel 6690c23439) last updated 2014/03/03 14:56:30 (GMT +200)
##### Environment:

(from and to) Debian wheezy
##### Summary:

backslash does not reach verbatim the target command line
##### Steps To Reproduce:

I'd expect the following to print literal \n, as the single quotes protect the backslash from the local shell, and -- accor

[2014-03-10 14:21] mriedelumab opened #6369 "Return 'NA' for ansible_virtualization_* if no virtualization found"
##### Issue Type:

Bug Report / Feature Request
##### Ansible Version:

$ ansible --version
ansible 1.4.3
##### Environment:

CentOS 6.5, Python 2.6.6
##### Summary:

When Ansible runs "setup" to gather facts about a system, if the remote Linux system is not a virtualization host or virtualization guest, the "ansible_virtualization" facts do not get set at all, causing group_by and other condition