[2017-03-07 18:39] krzysztof-magosa commented on #22371
Could you show what's in block starting in /etc/ssh/ssh_config line 56?

[2017-03-07 18:39] linuxdynasty commented on #22374
I will take a look into this.

[2017-03-07 19:24] bcoca commented on #22163
not all modules need 'uniqueness', I would make this part of description of those that do.

[2017-03-07 19:36] abadger commented on #20398
Just a followup here: The code fixing this was added to the stable-2.2 branch via #21491 and should be in the next release of 2.2.x (currently making  release candidates).   We've re-evaluated how we want to do this in devel and decided that for 2.3 we'll pass bytes through verbatim as well (so no need to convert to a utf8 password).  For 2.4 onwards we may add a commandline argument to optionally

[2017-03-07 19:41] bcoca commented on #22302
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2017-03-07 19:41] #22302 closed, assigned to nobody

[2017-03-07 19:44] bcoca commented on #22303
isn't it a problem if both are enabled? it could cause double execution of the same daemon.

[2017-03-07 19:48] s-hertel commented on #22371
needs_info

[2017-03-07 19:51] #20307 closed, assigned to resmo

[2017-03-07 19:53] bcoca commented on #22360
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated. Only extra vars are available for templating on play includes.

In the future, this might be a topic more well suited for the user list,

[2017-03-07 19:53] #22360 closed, assigned to nobody

[2017-03-07 19:55] #19117 closed, assigned to nobody

[2017-03-07 20:18] sivel commented on #20543
This appears to have been introduced in a6fff939

Because `docker_container` is returning a fact called `ansible_docker_container` it is removed as being a restricted key:

[code]

[2017-03-07 20:27] tgagor commented on #20543
Fingers crossed :)

[2017-03-07 20:32] #20398 closed, assigned to nobody

[2017-03-07 20:33] sivel commented on #20543
We'll have to figure out what to do here.  In it's current form it is of course broken.

My preferred solution would be to remove setting `ansible_facts` and require playbook authors to `register` the results.

The other option is to change the key name.

This will have to be discussed a bit more among the core team.

[2017-03-07 20:34] mrkurt commented on #20543
Registering results would work for my case.

[2017-03-07 20:36] tgagor commented on #20543
I checked code diff you provided and it doesn't look like simple rename will do the trick.

[2017-03-07 20:37] jctanner commented on #20543
cc @chouseknecht

[2017-03-07 20:48] wisotzky commented on #22192
Limiting yourself to free servers sounds like quite a limitation to me. Having the flexibility to control lock/unlock makes quite some sense for me. For example in Nokia SROS today you can only lock either <running> or <candidate> while the other is implicitly locked. SDN Controllers like ODL today always try to lock both datastores - which causes errors in this specific scenario.
Same is basicall

[2017-03-07 20:50] dwcramer commented on #16767
@sivel Why deprecate `use_ssh_args`? Without it, I can't use synchronize with a bastion. Or is the suggestion to add `rsync_opts: [ "--rsh='ssh {{ ansible_ssh_common_args }}'" ]` the preferred way to handle that?

[2017-03-07 20:52] sivel commented on #16767
@dwcramer I was talking about deprecating that option, and making synchronize just use ssh args without asking.

[2017-03-07 20:52] wisotzky commented on #22192
Btw, could you give some insight about what XML templating technique you would see - and what other Ansible modules are going in the same direction?

Unclear if single XML is always a good answer, as in essence this means that you XML templates become much more complex. With short XML files and many commits you might cause performance issues... So alternative might be using frameworks like NAPALM

[2017-03-07 20:52] dwcramer commented on #16767
@sivel Oh, I like that idea then 👍

[2017-03-07 21:00] bcoca commented on #20543
closing as dupe of #22323 which was fixed via #22324

[2017-03-07 21:00] #20543 closed, assigned to nobody

[2017-03-07 21:04] gundalow commented on #22372
needs_info Please provide
1) a copy of the task you are running
2) the output when running `ansible-playbook -vvv ...`  showing the TASK

[2017-03-07 21:41] Dirrk opened #22382 "Allow ssh private keys to be used that are encrypted with vault"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Core library specific to ssh authentication

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I am proposing a new variable(ansible_ssh_private_key) be added as an alternative to (ansible_ssh_private_key_file).

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When defining hosts, I would like to be able to use an ssh private key that is stored

[2017-03-07 22:12] matthewdaizeitm commented on #22163
Agreed. For those modules that work through the concept of idempotence, it should be mandatory.

[2017-03-07 22:29] etcmorph commented on #22360
Hi - thanks for the fast response!

It seems like a curious edge case to me why only extra-vars would work.
I would have expected either both to work or neither, which is why I filed
as a bug.

The closest I found in the docs was this:

[‘play’ includes are very limited and most directives do not work](http://docs.ansible.com/ansible/playbooks_roles.html#task-versus-play-includes)

Is it reasonabl

[2017-03-07 22:36] gaudenz commented on #22303
No this is not possible as you can't run sysv init and systemd at the same time on the same host. And for systemd's sysv compatibility layer a service unit of the same name masks an init script. Systemd won't run the init script if both are enabled.

[2017-03-07 23:14] lpenz commented on #22192
The free servers I use for testing are in the context of continuous integration, where they are executed on travis. There might be legal issues with non-free servers; if there aren't, we can use them.

I agree with the locking. The candidate datastore, however, can be shared among sessions, as documented here: https://tools.ietf.org/html/rfc6241#section-8.3

Jinja2 is ansible's templating engine,

[2017-03-08 00:06] bfloyd89 opened #22388 "IAM module remove all groups does not work"
##### ISSUE TYPE
Feature Request

##### COMPONENT NAME
iam

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using IAM module want to be able to set groups input parameter to [] in order to remove all the groups associated with a user. Currently the code does "if groups" and thus does not change anything with an empty list.

##### STEPS TO REPRODUCE

[2017-03-08 01:46] shankarramshivram commented on #15921
There is pull request with this feature -- https://github.com/ansible/ansible/pull/10932

[2017-03-08 05:12] McBadass opened #22392 "win_domain_membership - Add ability to specify OU destination when joining a domain"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
win_domain_membership

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Add the ability to specify OU destination (OUPath in Add-Computer) when joining to a domain.

Example Config:
- name: Join domain
  win_domain_membership:
      dns_domain_name: "{{ global_domain_name }}"
      hostname: "{{ globa

[2017-03-08 05:24] #22392 closed, assigned to nobody

[2017-03-08 06:45] wisotzky commented on #22192
You are absolutely right. Usage of commercial NETCONF servers raises legal/license questions to be sorted out. But I think, you can leave it to the community to check against their use-cases and server specific behaviour - as I am doing for Nokia SROS.

In general there are quite some open NC servers available, you might integrate into your CI. Tail-f confd has a non-commercial version and from op

[2017-03-08 08:18] davidfischer-ch opened #22396 "Warn when a CLI option is passed multiple times"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible command line

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing do declare

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS

##### SUMMARY
ansible-playbook called with multiple occurrences of flags such as --skip-tags do not run as expected. In fact it only takes in count one of the occurrences and that's error prone.

##### STEPS TO REP

[2017-03-08 08:22] frenzymadness commented on #18456
@bcoca thanks, mentioned lines removed

@abadger Yes, this is the reason why the fixers are split one by one in the spreadsheet. For example `lib2to3.fixes.fix_ws_comma` fixes only readability by adding space after a comma in args list.

I added a new column where I generated a number of usages of a module in all `*.yml` files in the `test` folder. The number says how many occurrences of ` <module

[2017-03-08 08:30] munichman2008 commented on #22302
I am sorry, but I disagree. This is an issue with Ansible. Something has changed within Ansible code to cause this error. Ansible should be analyzed and someone should provide some reason or explanation for this and additionally fix it. In my opinion it is behaving as expected.

[2017-03-08 08:32] davidfischer-ch commented on #21899
In the workflow the origin is updated, and if you issue standard git commands such as git pull then it reports conflicts probably. The tag points to a reference and the reference is updated. So there are changes that must be reflected locally.

[2017-03-08 08:35] davidfischer-ch commented on #20340
I confirm the issue is now fixed on Ansible 2.2.1.0. Thanks!

[2017-03-08 08:35] #20340 closed, assigned to nobody

[2017-03-08 08:35] davidfischer-ch commented on #13093
Do you have any update on this please? Thanks for your time.

[2017-03-08 09:24] Harosgr commented on #22371
Hello @krzysztof-magosa . I guess this line refers to the ssh_config of the ansible host and not to the ssh_config of the host it's trying to connect to. So on the ansible host it's like this:

[code]

[2017-03-08 09:36] basictheprogram opened #22397 "[WARNING]: when statements should not include jinja2 templating delimiters such as {{ }} or {% %}."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Stock ansible.cfg

##### OS / ENVIRONMENT

Management host macOS 10.12.3

##### SUMMARY

Task I've been using for over 7 months started throwing a warning.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Task would run without a warning

##### ACTUAL RESULTS

[code]

[2017-03-08 10:17] rcarrillocruz commented on #22354
Issue is passing 'loopback 10'.

The param value must be a valid interface name, e.g. 'Loopback10' .

Try it out and let me know how goes, I get idempotency ok on my local testings.

[2017-03-08 10:38] ssbarnea opened #22399 "Ansible pip module fails to use version conditionals or environment markers"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pip
##### ANSIBLE VERSION
[code]

##### SUMMARY
it seems that unless you are using external requirements.txt files you cannot specify version conditions or environment markes when using ansible pip module. The workaround is to move the requirements outside the playbook and this means an additional file, file that also needs to be deployed to the

[2017-03-08 10:45] nesies opened #22401 "ec2_eni / a random eni is modified instead of creating a new one"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
ec2_eni
##### ANSIBLE VERSION
2.2.1.0
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY
i want to create an new ENI.

##### STEPS TO REPRODUCE
- ec2_eni:
    aws_access_key: "{{ sts_aws_access_key }}"
    aws_secret_key: "{{ sts_aws_secret_key }}"
    security_token: "{{ sts_security_token }}"
    region: "{{ aws_region }}"
    subnet_id:

[2017-03-08 10:49] diego-treitos commented on #20603
Same issue here in Ubuntu 16.10 and ansible `2.2.1.0`.

[2017-03-08 10:52] krzysztof-magosa commented on #16627
Also look into `default(omit)`, that way you can omit parameters.

[2017-03-08 11:04] Hubbitus opened #22402 "Stopping glusterfs volume does not work due to the interactive question"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gluster_volume

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Irrelevant

##### OS / ENVIRONMENT
Fedora 25 packages

##### SUMMARY
Call `gluster_volume` with `state: absent` leads to error: `Stopping volume will make its data inaccessible. Do you want to continue? (y/n)`

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Volume stopped

[2017-03-08 11:21] rosmo commented on #22402
@Hubbitus, I think you're only supposed to "stop volume" on a single node. Can you try adding `run_once: true` flag?

[2017-03-08 11:35] jhawkesworth commented on #22351
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-03-08 11:35] #22351 closed, assigned to nobody

[2017-03-08 11:45] marquetemb commented on #13744
Doesn't work at stable-2.2

[2017-03-08 12:20] sivel commented on #22397
This is expected.  The warning was recently added to the 2.3 release purposefully.

As the warning states, you should not use jinja2 delimiters in a when statement.  Instead it should read:

[code]

If you have further questions please feel free to use the mailing list.

[2017-03-08 12:20] #22397 closed, assigned to nobody

[2017-03-08 12:44] AsavarTzeth opened #22404 "Feature Request: Fact ansible_service_mgr_version"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
setup / facts
file: lib/ansible/module_utils/facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
inventory  = $HOME/.ansible/inventory
library = $HOME/.ansible/library
roles_path = $HOME/Ansible/roles

##### OS / ENVIRONMENT
* host: ArchLinux
* target: Raspbian, Ubuntu 16.04, CentOS 7, ArchLinux

##### SUMMARY
The version of systemd u

[2017-03-08 13:13] krzysztof-magosa commented on #13652
The same error happens when you want to template into file which has hard links.

[2017-03-08 13:47] rmetzler commented on #14066
I think it would be beneficial to add an osqueryi module, so it would be easy to run ad hoc queries on a group of hosts.

Though, I disagree with doing a loop over all osquery tables in the setup module by default.

Nevertheless I would like to showcase a simple trick of integrating osquery selects into Ansible setup facts. By using the `/etc/ansible/facts.d/` dir on the host machines, every host

[2017-03-08 14:03] gundalow commented on #22354
So
* Single word
* Upper case "Loopback10"

[2017-03-08 14:03] #22354 closed, assigned to rcarrillocruz

[2017-03-08 14:14] jctanner commented on #22402
needs_info

[2017-03-08 14:15] johnbieren opened #22407 "DNF module gives inconsistent output dict to register"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

DNF

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora 25 cloud
##### SUMMARY

The registered output for dnf is different when it passes than when it fails.
##### STEPS TO REPRODUCE

Use the debug module to print out a registered result from the dnf module and compare it across a failed dnf run and a passed dnf

[2017-03-08 14:19] skanagal commented on #22157
Looks like the logic that I have for "when" statement is what's causing the problem here. For example, if I have "when: inventory_hostname=="172.30.155.25" the task seems to work. But when I have a two statement logic that maps a variable in host_vars the task fails.

**TEST 1**
Output when I have "when: inventory_hostname=="172.30.155.25" is attached.
[logs.txt](https://github.com/ansible/ansible

[2017-03-08 14:26] hdimitriou opened #22408 "Handlers do not get executed if 'run_once: True' and execution fails (even with force_handlers: True)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Handlers

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Handlers do not get executed if 'run_once: True' and execution fails (even with force_handlers: True).

##### STEPS TO REPRODUCE

Execute the example playbook. Basically setup a task that notifies a handler followed by a task that fails. Han

[2017-03-08 14:39] strarsis commented on #22289
In ansible.cfg the following option is set:
[code]
This forces ansible to use a specific order of HostKeyAlgorithms.
Native ssh tool uses a different order by default, hence it will pick a different HostKeyAlgorithm.
Because both tools use different HostKeyAlgorithms, one tool will always complain about the changed host key that was inserted by the other tool.

[2017-03-08 14:40] markgoddard opened #22409 "dellos6_facts fails when collecting interface facts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module: dellos6_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Control host is running CentOS 7.3.
Output of 'show version' on the target Dell switch:

[code]

##### SUMMARY
When using the dellos6_facts module to gather facts about the switch's interfaces, the module fails and exits with a traceback.

#####

[2017-03-08 14:46] bcoca commented on #22157
I see you have an extra space in  ```item ['role']=='dev2'```, it should be ```item['role'] == 'dev2'```  or ```item.role == 'dev2'```

[2017-03-08 14:49] bcoca commented on #22396
iirc, only -e/--extra-vars is allowed to have multiple entries, the rest of the options will only take 'last one'.

[2017-03-08 14:52] userlerueda opened #22410 "netconf_config module is missing options"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

netconf_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

macOS 10.12.3

##### SUMMARY

netconf_config module has some options but it does not have all options required to make netconf work in specific scenarios, specifically it is missing the `look_for_keys` and `allow_agent`, this prevents connecting to

[2017-03-08 15:08] walterdolce opened #22411 "letsencrypt module does not create any cert when using DNS-based validation"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME

letsencrypt

##### ANSIBLE VERSION

Ansible version is `2.2.1.0`

##### SUMMARY

It looks like the Let's Encrypt Ansible module doesn't create any cert when running with the DNS-based validation.

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS

No errors are being thrown or anything, it provisions just fine

##### EXPECTED RESULTS

There s

[2017-03-08 15:14] wrouesnel commented on #21747
This looks like it's been fixed on the current master, so closing.

[2017-03-08 15:14] #21747 closed, assigned to nobody

[2017-03-08 15:19] jrandall commented on #20820
Despite this being a bugfix, it does not seem to have been included in the 2.2 release candidates. Is it scheduled for inclusion in the next one? This bug is still present in v2.2.2.0-0.2.rc2

[2017-03-08 15:26] bcoca commented on #13093
the PR above fixes the issues in my tests, please confirm

[2017-03-08 15:33] skanagal commented on #22157
Hey Brian,

I removed the space, yet it did not work. I am able to run other tasks but async_status with or without that space. I have attached logs.
[logs_withoutspace.txt](https://github.com/ansible/ansible/files/828081/logs_withoutspace.txt)
[logs_withspace.txt](https://github.com/ansible/ansible/files/828082/logs_withspace.txt)

[2017-03-08 15:34] markgoddard commented on #22409
Tried this with an N1548 switch as well and got a different error. Output with much verbosity:

[code]

Here ethsw-b16-u39 is an N1548 and ethsw-ra2 is the N3024 in the original report. Output of `show version` for the N1548:

[code]

[2017-03-08 15:37] markgoddard commented on #22409
The N1548 switch will accept a `show interfaces` command, but only if `enable` has been executed first.

[2017-03-08 15:40] rianwouters commented on #13428
I have the same problem trying to reboot my remote machine.

[2017-03-08 15:58] #13093 closed, assigned to nobody

[2017-03-08 16:01] #21467 closed, assigned to nobody

[2017-03-08 16:06] #16244 closed, assigned to nobody

[2017-03-08 16:26] user140547 opened #22417 "default(omit) support for role variables"
- Feature Idea

##### COMPONENT NAME
Omit Jinja Filter not working for roles

[code]

##### CONFIGURATION

no changes

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using a role I would like to conditionally overwrite a default role variable. E.g. when using
[code]
and its role default is:
[code]

this code fails if ```"{{specific_port}}"``` is undefined. I tried to use
[code]
This does something

[2017-03-08 16:26] Eronarn commented on #14248
+1

[2017-03-08 16:32] sivel commented on #22417
I think you are overcomplicating the situation slightly, and likely don't need to use `omit` at all.

Due to having `database_port` in your roles defaults, you don't need to supply it all to the role call.

`omit` is specifically designed to work for module arguments, and not just generic variables throughout a playbook.  There isn't a way to "undefine" a variable, so as long as you define `databa

[2017-03-08 16:44] user140547 commented on #22417
Well in a more complex playbook, I want to add many datasources (possibly spread over multiple files)

[code]

It should be possible to override that parameter if necessary, but the playbook should not fail if  `database_1_port` etc. is undefined.

I could do

[code]

But then, if I wanted to change the default port, I have to change it n-times instead of once at the role default.

[2017-03-08 16:48] s-hertel commented on #19119
What version of boto are you using? Does this problem persist if you remove `vpc_subnet_id: "{{ preprod_subnet_dmz_2 }}"` from your task?

needs_info

[2017-03-08 17:12] jtyr commented on #22362
Thanks for opening this feature request. Just for the reference, this feature has already been discussed [here](https://github.com/ansible/ansible-modules-extras/issues/2384).

[2017-03-08 17:19] sivel commented on #22417
If anything, I think perhaps the correct solution, would be to have vars in defaults apply, when a variable passed to the role is undefined.  Simply by just not putting `|default` on the var passed into the role.

[2017-03-08 17:31] jtyr commented on #22287
Please try to run the following task:

[code]

As per the module [documentation](https://docs.ansible.com/ansible/ldap_attr_module.html), the `{1}` is required. Without this, the module tries to add the value again and correctly fails as the value already exists.

[2017-03-08 18:11] alikins commented on #22289
Not sure I understand what the expected behavior for this case is.

The behavior in  https://github.com/ansible/ansible/issues/22289#issuecomment-285057819 seems reasonable given the tools have intentionally different configurations.

Why configure ansible to use a different HostKeyAlgorithm than the default openssh 'ssh'? (ie, why configure it specifically for ansible instead of changing the nati

[2017-03-08 19:49] flowerysong commented on #22411
You shouldn't set 'when: "letsencrypt_challenge|changed"' on the second call to the module. I'm pretty sure the first result can be OK (e.g. if the requested domain has already been validated for this LetsEncrypt account) even if the certificate still needs to be created.

[2017-03-08 19:53] GriffithLea commented on #19604
@nitzmahone, I am not completely convinced that the group names are sorted alphabetically. Consider the following inventory file:
[code]
If I run:
[code]
...shouldn't I get "baz" for all of these? Thinking perhaps you misspoke and it's actually the alphabetically _first_ defining group, I changed ANDYS_NODES to ZANDYS_NODES in the inventory file and ran:
[code]
Now I'm really confused. Why am I st

[2017-03-08 19:56] #20252 closed, assigned to nobody

[2017-03-08 20:09] azaghal commented on #16357
Ah, I think I finally understand the limitation when you put it that way. I still have questions about this, but I'll try to take it up on the IRC or mailing list. Thanks for spending some time to clarify the problem to me - especially before I started actually digging deeper into the code - I'm assuming that change to allow what I wanted would be too invasive and possibly impossible under current

[2017-03-08 20:48] SimplySeth commented on #13262
This would be a great feature for looping over mountpoints in order to:

1. Add Disk
2. Epand VG (foreach vg)
3. Expand LV (foreach lv)
4. Expand FS (foreach mountpoint)

+1

👍

[2017-03-08 20:49] bcoca commented on #13262
@SimplySeth you can currently do that by looping over `include` or `include_role`

[2017-03-08 20:51] SimplySeth commented on #13262
@bcoca I'm looping over includes for each `vg` which in turn loops over includes for each `lv`
Thanks.

[2017-03-08 20:54] bcoca commented on #13262
several ways, including with_nested, but that is better question for ML/IRC than this thread

[2017-03-08 21:03] lpenz commented on #22410
Thanks for identifying the issue, I'll take a look into it

[2017-03-08 22:11] ju2wheels opened #22426 "Iterated values cannot be used in when condition when using with_subelements"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
- with_subelements
- loop_control.loop_var
- when condition

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using `loop_control.loop_var`, `with_subelements`, and `when` conditions together on a module, I am not able to use iterated values in the `when` condition.

##### STEPS TO REPROD

[2017-03-08 22:12] dagwieers opened #22427 "win_domain_membership: Not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_domain_membership

##### ANSIBLE VERSION

v2.3

##### SUMMARY

The module does not seem to be idempotent (when used for workgroups).
It reports a change every time. Even after a reboot it reports a change and requires another reboot.

[2017-03-08 22:37] userlerueda commented on #22410
I'm thinking we should expose the `look_for_keys` and `allow_agent` args on ncclient to the netconf_config module, changing those two to false solves my problem. I can submit a PR if you are ok.

[2017-03-08 23:04] lpenz commented on #22410
The code looks good. Just get a more descriptive commit message and we are good to go.

[2017-03-08 23:09] userlerueda commented on #22410
Thanks @lpenz Do we need to update the module version number ?

[2017-03-08 23:27] CullyB commented on #21901
+1

[2017-03-08 23:30] lpenz commented on #22410
The module has no version itself.
I think you are looking at the "version" field in ANSIBLE_METADATA - that's the version of the metadata format.

[2017-03-09 00:01] spikerobinson opened #22430 "service: sleep - docs don't mention this is unsupported for systemd"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
out of the box

##### OS / ENVIRONMENT
N/a

##### SUMMARY
the **sleep** option to the **service** module is skipped when the module detects **systemd** service management. This should be added to the discussion of the sleep option in the module documentation please.

##### STE

[2017-03-09 00:10] xiaket opened #22431 "tag attribute in ec2_snapshot_facts module should be dict instead of list"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ansible-modules-extras/cloud/amazon/ec2_snapshot_facts.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A. Not configuration-specific

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The returned snapshots dict have a tag attribute, it was already [converted to dict in the code](https://github.com/ansible/ansible-modules-extras/blob/d

[2017-03-09 00:12] xiaket commented on #22431
PR here: https://github.com/ansible/ansible-modules-extras/pull/3706

[2017-03-09 00:40] xiaket commented on #22431
merged to ansible repo: https://github.com/ansible/ansible/pull/22432

[2017-03-09 01:11] beaugunderson commented on #13782
interestingly it's [already in the docs](http://docs.ansible.com/ansible/common_return_values.html#stderr-lines) but I don't see it on 2.2.1.0...

[2017-03-09 01:20] sidewinder12s commented on #20379
@alikins This comes from a custom module that hits the elasticbeanstalk API with boto3.

With this specific error, the data comes from this call: https://github.com/hsingh/ansible-elastic-beanstalk/blob/master/library/elasticbeanstalk_version.py#L145

I believe it is then returning the API return verbatim (no helper functions).

[2017-03-09 02:46] Haitianisgood commented on #22351
Hi,
 Sorry, I cant post on  https://groups.google.com/forum/#!forum/ansible-project.Because I am in China!
  Thanks!!!

At 2017-03-08 19:36:11, "jhawkesworth" <notifications@github.com> wrote:

List Information

Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing

[2017-03-09 05:42] anvesh99 commented on #22372
Hi ,
 Attached herein are the relevant files -

![playbook](https://cloud.githubusercontent.com/assets/19774923/23737424/033fa4f4-04b9-11e7-88d8-632651830eea.PNG)
![role-interface-task](https://cloud.githubusercontent.com/assets/19774923/23737423/033e2ed0-04b9-11e7-92fc-158d0d66ec98.PNG)
![role-routes-tasks](https://cloud.githubusercontent.com/assets/19774923/23737425/034064de-04b9-11e7-9a44-84459

[2017-03-09 05:55] JJediny opened #22435 "[Feature request] Allow Vault to be set as a filter/parameter in variable(s)"
- [x] Verify first that your issue/request is not already reported on GitHub

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Vault variables

##### Feature Request
As a user of ansible and a prospective user of ansible-container; I need/want to be able to easily re-use my existing roles. My team currently uses `{{ vault_variable }}` as directed in best practices throughout our roles. As a

[2017-03-09 06:35] svobozhin commented on #22141
This is not bug Ansible. These are powershell limitations. Powershell can not open a remote session and crank the command with another user

[2017-03-09 06:35] #22141 closed, assigned to nobody

[2017-03-09 08:16] skg-net commented on #22409
@markgoddard Thanks for reporting the issue, we will reproduce the issue and get back.

[2017-03-09 09:00] trongdong commented on #17349
I can confirm @tyl0r
I got this issue several time and the bastion host is a small vps hosted on Digital Ocean (512mb). Resized it to 1024mb resolved this issue.

[2017-03-09 09:48] Yannig opened #22436 "Ansible crash when file contain iso8859-15 with diff option: unknown error handler name 'surrogate_then_replace'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible copy/template with diff support (original issue here: https://github.com/ansible/ansible/issues/21803)

##### ANSIBLE VERSION
```ansible 2.2.2.0```

##### CONFIGURATION

Nothing special. I'm using the following playbook: https://github.com/Yannig/yannig-ansible-playbooks/tree/master/diff-iso8859-15

##### OS / ENVIRONMENT

Nothing specia

[2017-03-09 09:56] queria opened #22437 "Seems at least os_subnet may return old values when updating subnet"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_subnet, os_image?

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Based on code it seems os_subnet when **updating existing subnet will return** (e.g. to register: variable)
**original values instead of updated ones**. While the update will take effect in openstack cloud.

Correctly, when state=pr

[2017-03-09 10:08] kayrus commented on #14195
What if ansible script gets root access using `su`, not `sudo`? I still have to figure out which user is used to connect to server.

[2017-03-09 10:32] jamessemai opened #22438 "ansible-vault create/encrypt: no password confirmation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default configuration

##### OS / ENVIRONMENT
CentOS release 6.7 (Final)

##### SUMMARY
``ansible-vault encrypt/create`` actions do not ask for password confirmation.

As with these actions, new vault passwords are chosen, a password confirmation dialogue seems recommended. Otherwi

[2017-03-09 10:37] jhawkesworth commented on #22351
Sorry to hear that you are not able to use the groups site.

Can I suggest that you search on ansible galaxy for tomcat roles - I think lots of people have already solved how to run tomcat.
This link will take you to the various tomcat roles that people have already shared via galaxy

 https://galaxy.ansible.com/list#/roles?page=1&page_size=10&autocomplete=tomcat

Hope this helps.

Jon

[2017-03-09 10:49] kees-closed opened #22439 "[Feature request] Conditionals in with_items loop"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
conditional with_items

##### ANSIBLE VERSION
2.4.0

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
In playbooks it's possible to set conditionals for roles:
[code]

It would be awesome to also have this for with_items. My first use case for that would be to use the [package](https://docs.ansible.com/ansible/package_module.html) modul

[2017-03-09 11:02] jhawkesworth commented on #22439
I think people usually conditionally include a vars file which is specific to the distribution to do this.
I can't think of an example of this now but have a search on galaxy for roles which target different distributions.
Hope this helps,
Jon

[2017-03-09 11:18] kayrus commented on #14195
`ansible_env.PWD|basename` somehow works in all cases.

[2017-03-09 11:50] xrow opened #22440 "Usebility problem with RUNNING HANDLER"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Reconnect due HANDLER while RUNNING HANDLER

##### ANSIBLE VERSION
all

##### CONFIGURATION
n.a.

##### OS / ENVIRONMENT
any

##### SUMMARY
The problem is a minor usebility issue. When ever the HANDLER cause the connection to get killed/restarted. The rest of the hanlders will not get executed.

##### STEPS TO REPRODUCE
1.) run multiple roles

[2017-03-09 12:14] ar7z1 opened #22441 "Script module can't run powershell scripts when environment block exists"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

script

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Managing Windows OS.

##### SUMMARY

[Script module](http://docs.ansible.com/ansible/script_module.html) can't run powershell scripts when `environment` block exists.

##### STEPS TO REPRODUCE

I'm trying to pass environment variable to the script:

[code]

I o

[2017-03-09 12:17] halberom opened #22442 "eos eapi connection issue"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`lib/ansible/plugins/action/eos.py`

##### ANSIBLE VERSION
[code]
also affects 2.2.

##### CONFIGURATION

##### OS / ENVIRONMENT
Mac OS Yosemite
Vagrant
Virtualbox

##### SUMMARY
The action plugin fails to correctly handle EAPI SSL settings

##### STEPS TO REPRODUCE

- Create a Vagrantfile

[code]

- Create a topology.yml file

[code]

- Create

[2017-03-09 12:30] gundalow commented on #21901
@CullyB Can you please clarify your `+1` please, e.g. do you see the error in 2.2.2.0, does it work for you in 2.3?

[2017-03-09 12:45] gundalow commented on #22194
Fixed by https://github.com/ansible/ansible/pull/22413

[2017-03-09 12:45] #22194 closed, assigned to rcarrillocruz

[2017-03-09 13:44] halberom commented on #22442
Note that validate_certs is also undocumented, and doesn't appear to get overridden even with my above suggested change.  For example, if I change the `or True` to `or False` then has effect. i.e.

[code]

So I'm not sure how validate_certs is being passed or working.  My suggested change above for `use_ssl` does work from what I can tell.

[2017-03-09 13:55] halberom commented on #22442
cc @privateip

pinging you because you appear to be the main contributor for this code.

[2017-03-09 14:00] snowsky commented on #22222
fixed by #22232

[2017-03-09 14:34] flix444 opened #22444 "Module Mail should have a "when" statement"
Hello,

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

mail Module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

RHEL7

##### SUMMARY

mail should have a when statement, if something in stdout it should send a mail.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Send mail but the module fails, with:
unsupported parameter for module: when

##### ACTUAL RESULTS

[code

[2017-03-09 14:38] bcoca commented on #22444
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In any case, you seem to be confusing module options with directives, `when` is applied to the task definition, not the module options,

[2017-03-09 14:38] #22444 closed, assigned to nobody

[2017-03-09 14:43] gundalow commented on #22351
https://groups.google.com/forum/#!topic/Ansible-project/wf-UOtPOuKk has some links in (which I know you can't access)

The relevant bits seem to be
* https://github.com/ansible/ansible-examples/blob/master/tomcat-standalone/roles/tomcat/files/tomcat-initscript.sh

[2017-03-09 14:44] gundalow commented on #22351
If you continue to have issues I'd suggest `#ansible` on Freenode IRC

[2017-03-09 14:45] alikins commented on #22438
Are the env variables ANSIBLE_VAULT_PASSWORD_FILE or ANSIBLE_ASK_VAULT_PASS set?

is vault_password_file or ask_vault_pass set in an ansible config file?

If ran with 'ansible-vault -vvv encrypt test', the path to the currently used config file should be shown.

[2017-03-09 14:52] jeinwag commented on #21096
I'm having a similar issue: When pull is set to true, docker_container always reports changed, even if no newer was pulled.

[2017-03-09 15:12] sivel commented on #22438
I believe the report is that you are only prompted once, instead of prompt and confirm prompt.

Some actions use the double prompt, others a single.

[2017-03-09 15:17] imranh2 opened #22445 "check_hostkey() & not_in_host_file() in lib/ansible/module_utils/known_hosts.py don't handle non standard SSH ports"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/known_hosts.py

##### ANSIBLE VERSION

[code]

##### SUMMARY

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/known_hosts.py#L55 shows that only fqdn is passed on but a SSH known_hosts file will include the port if it's not 22.

```ssh-keygen -H -F <hostname>``` will let us check if a host is in t

[2017-03-09 15:31] jamessemai commented on #22438
No

Exactly. Only rekey uses double prompt, while create/encrypt do not. Would like to see them for create/encrypt as well, as this essentially is also setting new passwords.

[2017-03-09 16:03] kensley opened #22448 "Cowsay should be opt-in"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Its very unprofessional to see cowsay popup on various machines when pushing/running playbooks. Cowsay should be an opt-in feature not an opt-out feature.

I have seen/found the workarounds to disable this, but its ridiculous to put this back on the users to disable.

[2017-03-09 16:05] bcoca commented on #22448
dupe of #10530

[2017-03-09 16:05] #22448 closed, assigned to nobody

[2017-03-09 16:29] kernelphr34k commented on #21797
@jhawkesworth

Yes, I can try! What's the best way to go about testing the latest devel version? These are work machines, so I'm not adding my pub key to the machine to do a git clone. Other methods? This is an Ubuntu 16.04 server btw. Thanks!

[2017-03-09 16:34] jctanner commented on #11659
1.9 will have no more releases.

[2017-03-09 16:34] #11659 closed, assigned to nobody

[2017-03-09 16:34] abadger commented on #22305
@ignatenkobrain Ah... So it would definitely be wrong for dnf to install packages in check mode.  But it cannot operate without the proper python-dnf package installed beforehand.  I think the checkmode behaviour is less than ideal in this case but it's the best that can be done; users should install the relevant python-dnf package prior to using the dnf module in check-mode (this is the only stra

[2017-03-09 16:40] thozza commented on #22305
@abadger so what is the issue in my case? AFAIK I'm not running ansible in check mode. I have python2 installed on Fedora and applying the playbook locally on the localhost. I would expect the code to install python2-dnf in my case.

[2017-03-09 16:50] alikins commented on #22438
hmm, 32971e86396012af3eb88bbaa7f7b1c2cc27dee5 / 32971e86396012af3eb88bbaa7f7b1c2cc27dee5 did change this behavior between 2.2.0.0 and 2.2.1.0
That commit was to fix https://github.com/ansible/ansible/issues/18247 so the change on confirm wasnt intentional.

[2017-03-09 17:18] denisemauldin opened #22452 "Add support for virtualenv to mysql_user"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
MacOS Sierra to Centos 7

##### SUMMARY
I have installed MySQL-python in my virtualenv.  In order to get mysql_user to work I have to set ansible_python_interpreter to the virtualenv version of python and then back after the mysql_user calls.  Please a

[2017-03-09 17:37] s-hertel commented on #19116
I'm updating this PR to be a feature request because updating the scheme parameter requires replacing the elb resource.

[2017-03-09 18:01] sivel commented on #22452
The supported mechanism is to utilize `ansible_python_interpreter`.  This is compatible with all modules and does not require per module changes.

It is possible to set `ansible_python_interpreter` per task using per task `vars` such as:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.co

[2017-03-09 18:01] #22452 closed, assigned to nobody

[2017-03-09 18:05] mattclay commented on #18456
@frenzymadness How much work would it be to change your script to provide a list of files and the fixes they need? If we had that, we could look at integrating it into our CI process to catch issues in PRs. Is that something you'd be interested in doing?

[2017-03-09 18:13] silwol opened #22455 "Git reset fails when file with the name 'origin' is present in the repository"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian Stretch, with Ansible installed in a python venv.

##### SUMMARY
[code]
can be an ambiguous call when a file named "origin" is present in the repository.

Appending "--" to the command would make it robust.
See http://stackoverflow.com/questions/26349191/fata

[2017-03-09 18:24] rmetzler commented on #14066
Another workaround is using the `shell` modul and registering the output. Then you have to use `set_fact` like this. Please compare the debug messages to see the difference between the two variables:

[code]

I also looked into how to create modules, and I think it would be easy to write a `osqueryi_facts` module.

[2017-03-09 18:29] ebarrere commented on #20428
+1!  I would love this functionality.

[2017-03-09 19:26] snowsky commented on #22426
I reproduced the part of with_subelements but not for with_items with this yaml file:
[code]
What I got is:
[code]

[2017-03-09 19:32] #22438 closed, assigned to alikins

[2017-03-09 19:34] kporras07 commented on #21766
It looks like ppa are only available if you're using an ubuntu codename (ansible_distribution_release fact). I also found that apt_repository module added a new parameter named codename to fix this; but it says  it was introduced in 2.3 but I can't find 2.3 (I suppose it's still in development); so, I don't know what can I try to do.  Any idea?
http://docs.ansible.com/ansible/apt_repository_module

[2017-03-09 20:10] ignatenkobrain commented on #22320
@DJMuggs can you report issue against DNF?

[2017-03-09 20:26] davidfischer-ch commented on #13093
Hello, great, its working!

[2017-03-09 20:27] AnthonyLaiuppa commented on #16243
Hello,

Is there any resource you can point me to in getting CredSSP setup with Windows instead of certificates?

Or perhaps do you have a quick and dirty overview you can give me? I'm having trouble getting this configured due to a seeming scarcity of documentation.

[2017-03-09 20:28] Len357 commented on #22216
Ken,
What are the odds of getting the multiline banner working?

Len Tucker

On Sun, Mar 5, 2017 at 11:01 PM, Ken Celenza <notifications@github.com>
wrote:

[2017-03-09 20:31] davidfischer-ch commented on #22396
@bcoca Please make this kind of 'take last one' behavior not silent, otherwise users may overlook it.

[2017-03-09 20:36] ju2wheels commented on #22426
@snowsky in that case the test would be this, which works fine:

[code]

Output:

[code]

[2017-03-09 20:43] colin-hanson-zocdoc opened #22458 "Allow retry count and backoff to be customizable"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

cloudformation

##### SUMMARY
I have run into issues with throttling and would like to customize my retry params (number of retries and backoff) to help stabilize my application.  I am running into issues specifically with the cloudformation module and would love to be able to override the default values.

[AWSRetry](https://github.com/ansib

[2017-03-09 20:49] gundalow opened #22459 "eos_banner: idempotent issues with unicode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_banner

##### ANSIBLE VERSION

[code]

##### SUMMARY
Following on from https://github.com/ansible/ansible/pull/22413

Though if you use the test case here https://github.com/ansible/ansible/pull/22201/files#diff-5bad27fd7a7d5ed7f9b44cfbb4d256cdR10

It fails
##### STEPS TO REPRODUCE
https://github.com/ansible/ansible/pull/22201/files#diff-5ba

[2017-03-09 20:53] bcoca commented on #22396
It is changing in 2.3 and there is a toggle for it (specifically with tags) see https://github.com/ansible/ansible/blob/devel/CHANGELOG.md#deprecations

[2017-03-09 20:59] davidfischer-ch commented on #22396
Thanks for the link, but I commented the fact that if they are other parameters (requiring a value, e.g. --become-user) specified multiple time then the parser should makes it obvious to the caller. With a warning or error.

[2017-03-09 21:08] bcoca commented on #22396
ideally, we have not found a good way to do this with the existing options parsing library

[2017-03-09 21:12] ju2wheels commented on #22426
Just realized my test condition in the original example is wrong, the returned value is a list and not dict so checking for mapping instead of iterable is incorrect. This is the updated test for the example above, and it does work now but only if I remove the check for `debug_users.0.properties` since it seems the subelement key that you select gets stripped from `debug_users.0`. So I guess this i

[2017-03-09 21:18] bcoca commented on #20521
fixed via #22324

[2017-03-09 21:18] #20521 closed, assigned to bcoca

[2017-03-09 21:26] bcoca commented on #20304
fixed via #22418
you should be able to do this now:
[code]

[2017-03-09 21:26] #20304 closed, assigned to bcoca

[2017-03-09 21:47] bcoca commented on #21468
could this be because your inventory is defined as a relative path vs an absolute path?

[2017-03-09 21:48] geerlingguy commented on #19763
Noting that I've been hitting something similar(ish?) when using the `service` module with CentOS 7 (which swaps the params over to the `systemd` module. This isn't necessarily the same issue, but I wanted to mention it just because it's a weird case where I'm having trouble even finding where the problem lies.

The command works with the same Docker container when it's run with just the one role

[2017-03-09 21:49] bcoca commented on #18287
closing this as fixed via #19958

[2017-03-09 21:49] #18287 closed, assigned to nobody

[2017-03-09 22:34] jhawkesworth commented on #21797
I am fairly sure you can clone ansible without any authentication.

I usually just put it into a folder called ansible-dev and then run
source  hacking/env-setup; ansible --version

When I want to go back to installed ansible I just log out and in again.

Hope this helps,

Jon

[2017-03-09 23:14] jrandall opened #22464 "broken ceph support in s3_bucket module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
s3_bucket

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The s3_bucket module does not work at all with a ceph radosgw with `ceph=yes` and `state=present` (although it does work with `state=absent`).

This is because commit 02ee3529 inadvertently made it impossible to reach the `_create_or_update_bucket_ceph` method by

[2017-03-09 23:15] killua-eu opened #22465 "Regression in Iptables module - throws TypeError: can only join an iterable with devel (2.3), worked with 2.2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Iptables

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
TypeError: can only join an iterable appears on tasks that work just fine with 2.2.x releases.

##### STEPS TO REPRODUCE

[code]

problematic task

[code]

##### EXPECTED RESULTS
not seeing an error.

##### ACTUAL RESULTS
seeing an error

[code]

[2017-03-09 23:15] geerlingguy opened #22466 "Service module hangs with CentOS 7 running inside Docker"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing special.

##### OS / ENVIRONMENT

Docker 17.03.0-ce-mac2 (15654), stable
macOS 10.12.3

##### SUMMARY

When I have multiple `service` module calls inside a CentOS 7 Docker container, it seems that the second one hangs forever. At least in my limited use case (see related issue: https:

[2017-03-09 23:17] geerlingguy commented on #22466
I'm going to also upgrade to Ansible 2.1.1.0 and will try again.

[2017-03-09 23:31] geerlingguy commented on #22466
Same issue with 2.2.1.0 (installed via `yum`). Tried with 2.1.4, and got the same result again.

Notes:

  - If I Ctrl-C to exit the playbook and then run it again, it still hangs.
  - If I run `systemctl start postfix`, that hangs too.

[2017-03-09 23:33] geerlingguy commented on #22466
Interesting... when I jump into `journalctl`, I do see the following:

[code]

The last message is repeated every couple seconds.

[2017-03-09 23:34] geerlingguy commented on #22466
I think I've seen this play out before...

[code]

After that happens inside a _running_ Docker container, all hell breaks loose.

The solution may be as easy as me building a new version of the Docker container on Docker Hub. Going to try that now.

[2017-03-09 23:36] geerlingguy commented on #22466
...and apparently I've already burned a few hours on this before—https://github.com/systemd/systemd/issues/719 has a link from another one of my roles where I was hitting the exact same issue :P

[2017-03-09 23:43] geerlingguy commented on #22466
That seems to have been the fix! Builds are passing locally now. No reason I can see why they won't start passing in Travis as well.

[2017-03-09 23:43] #22466 closed, assigned to nobody

[2017-03-09 23:43] geerlingguy commented on #22466
P.S. Thank you, @ansibot, for being my 🦆 today.

[2017-03-09 23:45] alikins opened #22468 "ANSIBLE_VERBOSITY= ansible causes TypeError traceback"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/constants.py
lib/ansible/cli/

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

See below.

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS

Empty ANSIBLE_VERBOSITY= to show an error or just be ignored.

##### ACTUAL RESULTS

See above

[2017-03-09 23:49] alikins opened #22469 "ANSIBLE_REMOTE_PORT= ansible causes ValueError traceback"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/cli
lib/ansible/constants
lib/ansible/playbook/play_context.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

See below

##### SUMMARY

##### STEPS TO REPRODUCE

[code]
[code]

[code]

##### EXPECTED RESULTS
Empty ANSIBLE_REMOTE_PORT= to show an error or just be ignored.

##### ACTUAL RESULTS
tracebacks, see above

[2017-03-09 23:51] alikins opened #22470 "ANSIBLE_TIMEOUT= ansible causes OptionValueError traceback"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/cli
lib/ansible/constants.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

See below

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

graceful error or for ANSIBLE_TIMEOUT= to be ignored

##### ACTUAL RESULTS
See above

[2017-03-10 00:39] jctanner commented on #17998
@okv I know this has been sitting for a while, but I've been reinvestigating. Like others, I still have not figured out how to reproduce the error you see. However, there are a few bits of information we're missing...

* whoami (when you see the rename error)
* ls -al / | fgrep tmp
* ls -al /tmp
* lsattr /tmp
* getfacl /tmp
* ls -al /tmp/<unmovablefile>
* lsattr /tmp/<unmovablefile>
* getfact /tmp

[2017-03-10 00:40] dagwieers commented on #16243
It is part of the documentation.
- http://docs.ansible.com/ansible/intro_windows.html#authentication-options
- http://docs.ansible.com/ansible/intro_windows.html#credssp
So basically:
[code]

[2017-03-10 00:47] brandond opened #22471 "ec2_group: add tags"
_From @jbrockett on December 4, 2014 15:15_

##### Issue Type:

Feature Idea

##### Component name:

ec2_group

##### Ansible Version:

ansible 2.3
##### Environment:

N/A
##### Summary:

Please add the ability to create and modify tags associated with the security group.  At least being able to set the Name tag would be helpful.

[2017-03-10 00:47] brandond commented on #22471
_From @pguillebert on December 9, 2014 22:18_

You can do this in two steps : register a var when creating the security group with ec2_group and then use the module ec2_tag to tag the Name attribute on this resource.

[2017-03-10 00:47] brandond commented on #22471
_From @david-resnick on May 23, 2016 8:45_

That's assuming you're able to access the un-tagged security group. Often though tags are used with IAM policies, blocking the second step (tagging).

[2017-03-10 00:47] brandond commented on #22471
_From @ansibot on August 1, 2016 3:47_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2017-03-10 00:47] brandond commented on #22471
_From @ansibot on September 13, 2016 2:0_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-03-10 00:47] brandond commented on #22471
_From @ansibot on October 6, 2016 16:44_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-03-10 00:47] brandond commented on #22471
_From @ansibot on December 7, 2016 18:8_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-03-10 00:48] brandond commented on #22471
Open PR https://github.com/ansible/ansible-modules-core/pull/2803 needs to be rebased against this repo.

[2017-03-10 01:17] jamesongithub opened #22473 "Feature Idea: Ability to fail entire playbook if one of included plays fail."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

  - ansible_playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Non trivial playbooks can contain many plays. Sometimes downstream plays depend on previous plays being run first. It would be useful to be able to fail the entire playbook early if earlier plays in a playbook fail and not try to

[2017-03-10 01:38] snowsky commented on #22470
I reproduced in ubuntu 16.04 with 2d9bf888970708765703150313fd2e4b3f8905a0. I'll take another look.

[2017-03-10 02:25] snowsky commented on #22445
I don't get what you mean. Do you have playbook so that I can reproduce?

[2017-03-10 02:38] snowsky commented on #22458
+1

[2017-03-10 02:43] billryan commented on #19711
I think it's easy to set static hostname with `lineinfile` module.

[code]

[2017-03-10 04:16] snowsky commented on #22458
It is not easy to do so for the AWSRetry is a decorator.

[2017-03-10 05:53] okv commented on #17998
Currently I don't have enough time to do this. Sorry, maybe later.

[2017-03-10 05:54] kimamula commented on #18540
An included role still does not inherit variables defined in defaults of the parent.
Is this an expected behavior?

I am using Ansible 2.2.1.0.

[2017-03-10 06:11] anvesh99 commented on #22372
The verbose  output is as attached herein
[verbose-output.txt](https://github.com/ansible/ansible/files/833107/verbose-output.txt)
 -

[2017-03-10 07:18] gundalow commented on #22442
@halberom Thank you for the analysis and repo steps, looks like you are right.

Adding to the 2.3 milestone

[2017-03-10 08:05] gundalow commented on #22459
Seems like an invalid test case, I can't do this manually.

[2017-03-10 08:05] #22459 closed, assigned to privateip, rcarrillocruz

[2017-03-10 08:14] jeinwag commented on #21096
I believe 04e990281ea1e559c5a0ac6c9735f19774cf47d1 fixes this.

[2017-03-10 08:22] aerickson commented on #10834
https://github.com/ansible/ansible/issues/22028 has a fix and added tests.

[2017-03-10 08:50] damhau opened #22481 "Issue with ios_config save: yes on Cisco ISR4000 and SM-X-ES3-24-P-T"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
ansible 2.2.0.0

##### CONFIGURATION
default config on RHEL7

##### OS / ENVIRONMENT
RHEL7

##### SUMMARY
When using the ios_config with the save: yes the module send the command "copy running-config startup-config" to the network device.
On the ISR4000 router and the SM-X-ES3-24-P-T switch module

##### STEPS

[2017-03-10 09:09] gaddman commented on #21472
Tested with commit 7966beb6c9529fe86ea9390c27a46d49f3bd968b and it fixes this error.

[2017-03-10 09:11] gaddman commented on #22124
Also fixes #21472

[2017-03-10 09:23] rcarrillocruz commented on #22481
resolved_by_pr #21344

[2017-03-10 09:24] rcarrillocruz commented on #22481
https://github.com/ansible/ansible/pull/21344

[2017-03-10 09:24] #22481 closed, assigned to rcarrillocruz

[2017-03-10 09:37] rcarrillocruz commented on #22464
Can you please provide the playbook to reproduce the issue and the output?

needs_info

[2017-03-10 09:41] rcarrillocruz commented on #22445
Please provide a playbook to reproduce and the error output

needs_info

[2017-03-10 09:43] Arano-kai opened #22482 "Feature Idea: Ability to update complex facts"
##### ISSUE TYPE

 - Feature Idea

##### ANSIBLE VERSION

[code]

##### SUMMARY

Give to `set_fact` ability to update key in dictionary, not overwriting all dictionary.
Or make module with such ability (`update_fact`)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]
##### "WORKAROUND"
Use jinja2/python black magik
[code]

[2017-03-10 10:02] rcarrillocruz commented on #22482
Have you tried the combine filter?

http://docs.ansible.com/ansible/playbooks_filters.html#combining-hashes-dictionaries

[2017-03-10 10:11] rcarrillocruz commented on #22411
@walterdolce can you try the suggestion and let us know if the issue persists?

[2017-03-10 10:11] Miyurz commented on #22455
@silwol I tested this on the dev branch (version = 2.3.0 0.0.devel)  and this looks more of a git issue.
You can reproduce this with git  by :

1. Create a new file called origin in /var/games/minetest-server/.minetest/mods/technic
2. do a `git reset --hard origin`

We could pass remote as origin/master in git.py module in the source code to fix this and assume the end users would never have such

[2017-03-10 10:13] Miyurz commented on #22455
Adding screenshot to prove its git which actually spews the erroneous message.
<img width="590" alt="screen shot 2017-03-10 at 3 40 17 pm" src="https://cloud.githubusercontent.com/assets/2662752/23791205/24ed5110-05a8-11e7-81fe-a84f3033bb3a.png">

[2017-03-10 10:15] Arano-kai commented on #22482
Oh, didn't notice this filter... Thank You, that's solve the issue =)

[2017-03-10 10:15] #22482 closed, assigned to nobody

[2017-03-10 10:16] rcarrillocruz commented on #22411
Also, please use the PR template for providing info in future PR submissions.

[2017-03-10 10:19] rcarrillocruz commented on #22482
yw

[2017-03-10 10:21] halberom commented on #21901
I can confirm that this issue occurs in 2.2, but not in 2.3

[2017-03-10 10:34] jamessemai commented on #21267
For reference, similar older discussion is here: https://github.com/ansible/ansible-modules-core/issues/5099
(I was posting in that issue before realizing that repo is deprecated.)

In that thread it was mentioned that this could be worked around with async, but now I read here that even that is not robust. Good info, and I hope this will be fixed someday :)

[2017-03-10 10:35] paszczus commented on #22371
Same issue here. Ansible 2.2.1.0 running on Ubuntu

[2017-03-10 10:54] walterdolce commented on #22411
@flowerysong @rcarrillocruz tried again. No certificate created in `{{ letsencrypt_dir }}`.
Note I'm running this from a Vagrant box.

How do I reveal the values being output as `VALUE_SPECIFIED_IN_NO_LOG_PARAMETER` ?
Perhaps that would help me troubleshoot this.

[2017-03-10 10:58] littleprivate opened #22485 "win_scheduled_task"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
win_scheduled_task:

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
expected behaviour: creates a runnable Task that also runs once (exp. after Installation of Windows updates and a reboot ist required -> schedule reboot to 3am once), there is no way to add Optio

[2017-03-10 10:59] etehtsea commented on #14582
What the status of this issue?
`--list-tasks` still seem to be broken in ansible 2.2.1.0.

[2017-03-10 11:37] haad opened #22487 "per tasks vars not evaluated properly for lookups other than with_items"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lookups other than with_items

##### ANSIBLE VERSION

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect to see `host_name` defined to `{{ item.0 }}` in with_nested case. This happens to all lookups other than with_items which is really strange.

##### ACTUAL RESULTS

[code]

[2017-03-10 11:50] #22487 closed, assigned to nobody

[2017-03-10 12:37] galexrt commented on #22011
I'm going to close this now. As mentioned it would be good to mention that the delegated server then directly tries to connect to the target server.

[2017-03-10 12:37] #22011 closed, assigned to nobody

[2017-03-10 12:49] dj-wasabi opened #22489 "cs_instance doesn't respect the api_timeout property."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cs_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

As suggested in the documentation: `export CLOUDSTACK_TIMEOUT=120`

##### OS / ENVIRONMENT

Mac OS X 10.10 and 10.13

##### SUMMARY

When we specify the `api_timeout` to 90, it keeps using the default value of 10. Also when setting an environment variable `CLOUDSTACK_TIMEOUT` to

[2017-03-10 13:07] snowsky commented on #22417
You may want to use omit to avoid recursive variable calls, but I don't think omit applies for this case.

[2017-03-10 13:20] jctanner commented on #22473
@jamesongithub this sounds a lot like blocks + include  ...

[code]

Is that what you are going for or did I miss something?

needs_info

[2017-03-10 13:24] resmo commented on #22489
@dj-wasabi The current implementation does not allow to override the timeout by using the `api_timeout` without setting the `api_key`, `api_secret`, and `api_url`https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/cloudstack.py#L134. This is what is meant to work and I will improve. I don't see why `export CLOUDSTACK_TIMEOUT=120` should not work which is read by the library `cs`

[2017-03-10 13:35] sashgorokhov commented on #14413
On ansible 2.2 this does not reboot my computer. It simply says that job is started, and then waits for 22 port. But node does not reboot!

[2017-03-10 13:45] dj-wasabi commented on #22489
@resmo

Thank you for response. I did not knew that `api_timeout` only works when you have configured the other `api_*` options, sorry. I'll try the suggested option, I wasn't sure if that would solve it.
I checked the `CLOUDSTACK_TIMEOUT` several times, but when I manually edited https://github.com/exoscale/cs/blob/master/cs.py#L94 from 10 to 120, it worked.

Thanks!

[2017-03-10 14:15] vanburg commented on #22482
@rcarrillocruz please, take a look on related issue, is this expected behaviour?

[code]
This will not override (append pair to) db dist.
But this will create new, db-based, and push pair as expected:

[code]
What am I doing wrong? I spend few hours already fighting agains this trouble...
Thanks!

[2017-03-10 14:32] #22355 closed, assigned to rcarrillocruz

[2017-03-10 14:56] Lujeni commented on #20762
Hello @Harosgr , @s-hertel

On the current version (devel) the bug is fixed (more details below).

This [commit](https://github.com/ansible/ansible/commit/01f4d4a666342e7eb509fbd3a016078fb5180c3b) seems fixed your bug.

[code]

[2017-03-10 15:00] gundalow opened #22494 "eos_banner eapi: "CLI command 4 of 5 'Junk login banner single line' failed: invalid command""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_banner

##### ANSIBLE VERSION
[code]

##### SUMMARY
`eos_banner` fails when used with `eapi`

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-03-10 15:09] Lujeni commented on #20496
Hello @dammina,

I am unable to reproduce your bug.
Your task try to create a symlink with the same directory (src and dest). Normal ?

[2017-03-10 15:22] gundalow commented on #22494
eos_banner tests have been pushed into devel, so if you update your branch you can do

[code]

[2017-03-10 15:45] jctanner commented on #22440
@xrow is there any more output after "RUNNING HANDLER"? I don't see any failures/errors/etc.

Maybe try running with -vvvv ?

needs_info

[2017-03-10 15:55] silwol commented on #22455
The problem is, that git doesn't know wheter to read the origin as the revision or the filename. Simply calling `git reset --hard origin --` instead of `git reset --hard origin` would resolve the issue, because then it's clear for git that `origin` means the revision.

[2017-03-10 15:59] michael-dev2rights opened #22498 "cloud integration tests are broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

integration tests

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

github installed with boto/boto3 etc installed.

##### OS / ENVIRONMENT
Ubuntu 16.04LTS

##### SUMMARY

cloud integration tests currently fail for many reasons

##### STEPS TO REPRODUCE
1) pull ansible/ devel from github
2) install all dependencies including boto etc
3) set

[2017-03-10 16:04] jdufresne opened #22500 "log_path with relative path: [WARNING]: log file at ansible.log is not writeable and we cannot create it, aborting"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
logging

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running ansible as an unprivileged user. User _does_ have permission to create files in the current directory.

##### SUMMARY
I expect the `log_path` without a leading `/` to be a relative path. Meaning, log to the path `$PWD/ansible.log`. This does not ap

[2017-03-10 16:32] bcoca commented on #22500
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Paths in ansible.cfg are relative to the config file not the current working directory.

In the future, this might be a topic more well

[2017-03-10 16:42] jdufresne commented on #22500
The `ansible.cfg` is in the current working directory. It is located at `$PWD/ansible.cfg`. They are the same. With that understanding, I think this is still a bug.

[2017-03-10 16:50] bcoca commented on #22500
point taken, its not picking up the path as relative when only the file name is there.

[2017-03-10 16:51] wltjr commented on #21735
I forgot to add -f to strace so it was not tracking forked processes. Now that I added that, here is the differences. The 2.1.4.0 output is via grep empty.j2. The 2.2.1.0 output is raw, consecutive lines. It does not seem to look anywhere for the file other than the one path. 2.1.4.0, seems to search other paths.

Full output, consecutive lines
2.2.1.0
31147 lstat("/sites", {st_mode=S_IFDIR|0755,

[2017-03-10 16:52] jamesongithub commented on #22473
Sorry, i updated the description to make it more clear. If play 1 fails, play 2 requires resources from play 1, so we want the playbook to fail early.

[2017-03-10 16:54] calfonso commented on #19107
@ganeshnalawade based upon the last comment, can you rebase and retest, let us know if the issue is resolve?

[2017-03-10 16:56] wltjr commented on #21735
More from 2.1.4.0 output, search path before it finds file. There was more output between each of these lstat/stat lines. 2.1.4.0 is much noisier than 2.2.1.0 wrt to strace output. Even in looking at the path. The 2.2.1.0 output from previous comment, does not have additional output between lines.
...
30628 lstat("/sites/site1",  <unfinished ...>
30628 lstat("/sites/site1/ansible", {st_mode=S_IFDI

[2017-03-10 16:58] bcoca commented on #21735
looks like the problem is here:
[code]

[2017-03-10 16:59] Miyurz commented on #22455
@silwol Tested it with https://github.com/ansible/ansible/pull/22502 and it works fine! Lets see what the maintainers have to say.

[2017-03-10 17:01] fivethreeo commented on #22345
Pebkac

[2017-03-10 17:01] #22345 closed, assigned to bcoca

[2017-03-10 17:05] wltjr commented on #21735
You think? I think this shows the issue. The paths before this include roles/test, but all the sudden for templates, drops back down to ansible root folder. Then fails.
[code]
 2.1.4.0, has an odd search order. If you look, it tries a less path before more, except when it gets to templates. It tries a longer path. You can see it did not do that with tasks, it tried tasks/main.yml before tasks/task

[2017-03-10 17:09] wltjr commented on #21735
The main tasks file is main.yaml not main.yml. Yes I should switch to yml, but its pretty moot on *nix. But it does find that file. Otherwise would not even look for the templates, as the task is what refers to the templates. 2.2.1.0 definitely finds the main.yaml file, roles/test/tasks/main.yaml. It has issues with template paths after. Seems to fall back to ansible root folder and never tries ot

[2017-03-10 17:12] ghost opened #22504 "Issues cloning more than 2 GIT repositories per playbook"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
GIT

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.10

##### SUMMARY

It seems the GIT module cannot handle more than 3 repository clones per playbook

##### STEPS TO REPRODUCE

In the main YAML file include another three different YAML files that each contain the instructions on cloning a different repo

[2017-03-10 17:18] wltjr commented on #21735
2.1.4.0 is also dropping down to root before it tries the proper location.
[code]

IMHO that order like the rest should be
[code]

This is odd, and the ordering is, as before and after this it is in roles/test but jumps down to ansible root folder and adds on templates. 2.2.1.0 seems to start with root path, but does not add on templates. It still goes from roles/test directory back to ansible roo

[2017-03-10 17:18] sivel commented on #21735
The code in `ansible.parsing.dataloader.DataLoader.path_dwim_relative` *explicitly* looks for `main.yml`, not `main.yaml`.  As such, if it doesn't find a `main.yml` it does not set that it is in a role.

There is a comment which leads me to believe this should however be fixed:

I do actually see another issue in adjacent code for `path_dwim_relative` where we seem to have `isrole` and `is_role`,

[2017-03-10 17:21] #13985 closed, assigned to nobody

[2017-03-10 17:23] bcoca commented on #21735
@sivel, just added those and was looking on how to push that data down the stack vs having that flawed 'detection'

[2017-03-10 17:24] wltjr commented on #21735
Ok, so this issue is caused by roles/test/tasks/main.yaml instead of main.yml. I just confirmed that. Pretty strange. It does find the main.yaml file. In others the ```{{ role_path }}``` variable does work in both, so not sure why that variable would be populated if its not in a role.

Also interesting, regardless of main.yml vs main.yaml, if in the task I change templates/empty.j2 to just empty.j

[2017-03-10 17:26] wltjr commented on #21735
FYI
Is there an official extension for YAML files?
Please use ".yaml" when possible.
http://www.yaml.org/faq.html

Thus ansible should behave the same regardless if yaml or yml is used. yml is really more a Windows requirement, 3 char limit.

[2017-03-10 17:28] bcoca commented on #21735
nope, there is not even a requirement for extension 'tasks/main' should workTM, the detection in the code has always been flawed, it was just obscured by the big hammer of making 'all paths searchable' vs the actual 'inherited paths' part of the search.

[2017-03-10 17:34] wltjr commented on #21735
Cool no worries, at least its found, known, and a work around is very simple :) Thanks for the patience with all the noise.

[2017-03-10 17:56] emoshaya-cognito commented on #16909
@jagibson I'm facing the exact same issue, have you found a workaround?

[2017-03-10 18:09] bcoca commented on #21472
fixed via  7966beb

[2017-03-10 18:09] #21472 closed, assigned to nobody

[2017-03-10 18:13] rmfitzpatrick opened #22505 "Uncensored stdout information provided to callback plugin despite no_log"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
no_log, CallbackBase

##### ANSIBLE VERSION
devel, stable-2.2, and stable-2.1

##### OS / ENVIRONMENT
el7, osx

##### SUMMARY
A callback plugin's `runner_on` methods are provided with an `ansible.executor.task_result.TaskResult` whose `._result` attribute contains non-redacted stdout information when `no_log` is specified at the play or task lev

[2017-03-10 18:24] sivel commented on #22505
Callbacks should make use of `self._dump_results` to censor the output, as that function is used throughout existing plugins to achieve this goal.

[2017-03-10 18:43] xrow commented on #22440
Hi,

there was no further output. It just stoped. But you are right. I provide more details when I run it the next time.

[2017-03-10 18:44] rmfitzpatrick commented on #22505
Thanks for the assistance, @sivel.  I guess there are few security concerns considering authors of plugins likely have access to potentially leaked secrets, and the burden for censoring was on them to begin with (as users of `no_log`).

[2017-03-10 18:44] #22505 closed, assigned to nobody

[2017-03-10 18:54] jctanner commented on #17998
needs_info

[2017-03-10 19:10] jctanner commented on #22504
@echodrome are you able to reproduce this with 3 publically available git repos?

needs_info

[2017-03-10 19:19] JPvRiel commented on #13243
I can recommend looking at Chef Vault as an example. They too needed a better solution to manage thier shared-secret encrypted databags. Right now, ansible-vault looks like it's stuck at the same base 'encrypted databag' feature level of Chef, and while simple, lags in terms of security options. Originally, chef had the same "shared secret" issue where, if multiple people work on a project, sharin

[2017-03-10 19:22] slmingol opened #22508 "Dynamically run “ansible-galaxy install -r requirement.yml -p roles/” as a prerequisite before running a role"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

roles & tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Trying to pre-run a ansible-galaxy command to install needed roles from Git repository before using them later downstream within the same playbook .yml file.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect the r

[2017-03-10 19:43] shaharmor opened #22509 "Add boot sequence to Service module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Service Module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing

##### OS / ENVIRONMENT
N/A

##### SUMMARY
There is no option to configure the desired boot sequence when using the service module.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The passed `sequence` will be passed to `update-rc.d` command at the end like thi

[2017-03-10 19:46] echodrome commented on #22504
@jctanner sorry I was not able to reproduce, I guess there is something else throttling the connections to my local repo but I cannot see them in the logs.

Sorry about the bug report but thank you for your help

[2017-03-10 19:46] #22504 closed, assigned to nobody

[2017-03-10 20:01] abadger commented on #22261
Fixed via: #22428

[2017-03-10 20:01] #22261 closed, assigned to nobody

[2017-03-10 20:02] stepanv opened #22510 "docker_container 's entrypoint directive incompatibility between 2.2.0.0 and 2.1.3.0"
_From @stepanv on November 23, 2016 14:37_

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux and MacOS, probably unrelated

##### SUMMARY

`docker_container`'s `entrypoint` directive

- in 2.2.0.0, it doesn't work with *exec form* parameters correctly
- in 2.2.0.0, it works ok with *shell form*

[2017-03-10 20:02] stepanv commented on #22510
_From @ansibot on November 23, 2016 15:18_

@ansible ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-03-10 20:02] stepanv commented on #22510
_From @jctanner on November 23, 2016 19:50_

@stepanv

The behavior changed because of https://github.com/ansible/ansible-modules-core/commit/a75ee76aa3c359e1b87a136fab71c59f17fe8f9a

 Here's a workaround if you can't make your commands into strings prior to the task call ...

[code]

@chouseknecht what would the repercussions be if we set the param type back to list and then joined them later?

[2017-03-10 20:02] stepanv commented on #22510
_From @ansibot on December 7, 2016 20:38_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-03-10 20:02] stepanv commented on #22510
Just for the record, wouldn't the ` [ .. ] | join(" ")` forget to escape spaces in the array items such as
[code]
That's the very reason why `Dockerfile`'s `ENTRYPOINT` prefers the _exec_ form (over the _shell_ one) as specified at https://docs.docker.com/engine/reference/builder/#entrypoint

If you really stopped supporting the _exec_ (array) form, I honestly think that's quite short-sighted.

[2017-03-10 20:08] alikins commented on #22465
Looks like commit 96a19a452174667f47c55f4185cd1c6ec4fb6289 added a way for construct_rule() to return False, which I suspect is getting it and causing the TypeError.

[2017-03-10 20:17] alikins commented on #22465
(just a reformatting of the troublesome task in dict format for my reference)

[code]

[2017-03-10 21:21] Fale commented on #19711
Yes it is easy, but I think we should decide which is the correct behavior of the hostname module and change the code and/or the documentation to reflect the decision

[2017-03-10 21:44] shaunbrady commented on #22374
I got something similar with VPC peers.  Since AWS allows for this case, it's not so much a fault of the module, but it could be kind and do the clean up with a flag.  +1.

[2017-03-10 21:51] jctanner commented on #22508
@slmingol this particular error is by design. Roles and tasks are preloaded before any of them are executed. We have ongoing proposals that tackle this problem different angles, but none of them have yet to be accepted or written.

https://github.com/ansible/proposals/issues/7

[2017-03-10 21:51] #22508 closed, assigned to nobody

[2017-03-10 22:10] dmrzzz opened #22517 "Git: depth=1 version=branch misconfigures tracking branch in .git/config"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Amazon Linux AMI release 2016.09

##### SUMMARY

If you use git with depth=1 to check out a non-default branch, the fetch line in `.git/config` is still configured for the default branch rather than the specified branch.  As a result, **future invocations of ansible

[2017-03-10 23:14] bcoca commented on #6545
^ actually found way around it, at least to emit a warning, which should be enough for users to know there 'might' be a problem

[2017-03-10 23:22] bcoca commented on #11959
this seems to have been fixed a while back:

play.yml
[code]
test/localhost_params.yml
[code]

results:
[code]

[2017-03-10 23:22] #11959 closed, assigned to nobody

[2017-03-10 23:24] hfinucane commented on #16052
I've tracked this down, I think. It fails on CentOS/SELinux systems, with Ansible >= 2.1, without `acl` set as a mount option in /etc/fstab. Changing the mount option fixes the problem, as does setting `allow_world_readable_tmpfiles`.

[2017-03-10 23:36] kernelphr34k commented on #21797
My original install got fubar, and now I'm running into that issue. This may be beyond this ticket, and or your support. I will be able to troubleshoot more on Monday.
[code]

[2017-03-11 00:05] chouseknecht commented on #22510
I'll test it, and see. I don't remember why it changed from a list to a string. It seems we *should* be able to support both.

[2017-03-11 02:00] jersten commented on #21562
I can confirm what @pdecat said; `2.2.1` seems to have introduced this bug. Currently, I'm just installing ansible with `pip install ansible==2.2.0` to avoid this bug.

[2017-03-11 02:39] bcoca commented on #21735
@wltjr the PR above should fix your case, still need better solution for when role is not using main at all

[2017-03-11 03:04] mustache-man commented on #2459
mmmm.. no multiple ports?

[2017-03-11 03:25] rajasoun commented on #4852
Issue still Persists in ansible 2.2

[2017-03-11 04:42] bcoca commented on #12092
cc @willthames @srvg

[2017-03-11 04:45] bcoca commented on #12298
fixed via cc0bb54d2c7d74f8bb155ce602dfb0eecc6da752, but renamed: `meta:refresh_connection`

[2017-03-11 04:45] #12298 closed, assigned to nobody

[2017-03-11 04:46] bcoca commented on #12927
closing in favor of https://github.com/ansible/proposals/issues/7

[2017-03-11 04:46] #12927 closed, assigned to nobody

[2017-03-11 04:47] bcoca commented on #13241
fixed via  b510abce176e0f9a6ec1cb98e2e1426e13318c45

[2017-03-11 04:47] #13241 closed, assigned to nobody

[2017-03-11 04:49] bcoca commented on #13164
fixed via b510abce176e0f9a6ec1cb98e2e1426e13318c45

[2017-03-11 04:49] #13164 closed, assigned to nobody

[2017-03-11 04:50] bcoca commented on #13242
fixed via b510abce176e0f9a6ec1cb98e2e1426e13318c45

[2017-03-11 04:50] #13242 closed, assigned to nobody

[2017-03-11 04:57] bcoca commented on #11963
closing as to_json should fixes this as does the previous workaround

[2017-03-11 04:57] #11963 closed, assigned to nobody

[2017-03-11 05:00] bcoca commented on #12028
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is not inconsistent, extra vars (command line) are always available for templating, as can be vars used during role import. Vars i

[2017-03-11 05:00] #12028 closed, assigned to nobody

[2017-03-11 05:05] chouseknecht commented on #22510
@stepanv, please have a look at PR #22515

[2017-03-11 05:07] bcoca commented on #13375
closing as per above, this is not issue in 2.x

[2017-03-11 05:07] #13375 closed, assigned to nobody

[2017-03-11 05:18] bcoca commented on #13877
So looking at this again:

[code]
outputs:
[code]

The issue with msg= is that jinja2 then translates nulls/nones into empty strings, for `default` to work it needs to 'booleanize'. The following works:

[code]
outputs:
[code]
Since it is just a question of the filter interacting with the jinja2 interpolation, I'm going to close this with the above as the solution.

[2017-03-11 05:18] #13877 closed, assigned to nobody

[2017-03-11 05:20] bcoca commented on #13913
So since this is not reproducible, I'm going to close this ticket. If you can generate a reproducible case, please open a new one and reference this one.

[2017-03-11 05:20] #13913 closed, assigned to nobody

[2017-03-11 05:22] bcoca commented on #13915
I'm going to close this ticket as the vars used are not available to be used in this fashion.

@neolytics, im not sure i understand your issue, but it seems unrelated to scope, if you can open a ticket witha  simple reproducer we can take a look at it.

[2017-03-11 05:22] #13915 closed, assigned to nobody

[2017-03-11 05:23] bcoca commented on #14033
fixed via 74506297338b706bfd973b10814027db65fa12c2

[2017-03-11 05:23] #14033 closed, assigned to nobody

[2017-03-11 14:03] qist opened #22527 "centos7 ansible 2.3.0"
"changed": false,
    "msg": "Failed to connect to the host via ssh: OpenSSH_6.6.1, OpenSSL 1.0.1e-fips 11 Feb 2013\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 56: Applying options for *\r\ndebug1: auto-mux: Trying existing master\r\ndebug1: Stale control socket /root/.ansible/cp/636e5c7947, unlinking\r\ndebug2: ssh_connect: needpriv 0\r\ndebug1: C

[2017-03-11 15:45] #22442 closed, assigned to privateip

[2017-03-11 15:49] privateip commented on #19574
@daveg999 any update?

[2017-03-11 16:28] #22166 closed, assigned to privateip, Qalthos

[2017-03-11 18:32] patran opened #22530 "docker_network Failed but Overlay network created successfully on Docker swarm mode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_network

pip install git+git://github.com/docker/docker-py.git@2.1.0-release

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

docker_network, delegated to locahost, connected to remote docker using tcp:// to create an overlay network. The target docker host is a manager in a docker swarm m

[2017-03-11 18:35] ssbarnea commented on #13262
@bcoca I would really like to see this issue fixed because using include in order to achieve this basic functionality is a hack, a hack that is increasing the number of files needed for a playbook without good reasons (the code is not re-used if you create another file just to workaround this bug).

Based on the number of votes I would say that this is a read important feature to address.

[2017-03-11 19:14] smiller171 commented on #13262
@ssbarnea While I would love to see this functionality added, in the context of Ansible I don't think it's nearly as important as you are implying. Needing loops like this is rather an edge case in Ansible, and there are not many situations where you can build those loops while maintaining idempotency.

[2017-03-11 19:19] ghost opened #22531 "Trailing new lines aren't kept by default by template module"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
Jinja

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### SUMMARY
(referring to commit 1998eddf8d5213e476973a39a0ee57db020941ec)

When trying to wrap a conditional inside a template in an one liner, the line break will be skipped if there's no trailing character (e.g. like a whitespace to workaround this issue

[2017-03-11 19:26] michael-dev2rights opened #22532 "bug - esg_asg module can fail due to operation in progress / intermittent integration test faail"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_asg module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

running on ubuntu 16.04 LTS attempting to run the ansible integration tests.

##### SUMMARY

ec2_asg can fail, probably intermittently, when running the ansible integration tests.

##### STEPS TO REPRODUCE

run the integration tests repeatedly (note #22

[2017-03-11 20:15] ssbarnea opened #22533 "Ansible callback_plugins configuration is relative to cwd instead of config file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### SUMMARY
It seems that the `callback_plugins` path from `ansible.cfg` is relative the the current working directory at runtime.

This means that is impossible to keep playbooks in different folders or to call playbooks from other directories because the plugin loading will f

[2017-03-11 21:34] ServerNinja opened #22534 "ec2_vol: Not all volumes configure deleteOnTermination properly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vol

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running Ansible from OSX El Capitan

##### SUMMARY
I've noticed that when attaching ec2_vol to a number of hosts, some of them don't set the deleteOnTermination properly. For example:

When running the following play:
[code]

The 4th, 5th, and last host ` "

[2017-03-11 21:36] johnr-spindance commented on #22534
This may be relevant too:
[code]

[2017-03-11 21:40] johnr-spindance commented on #22534
Ok, quick update. I did some spot checking and it does appear that the ec2_vol is setting delete on termination as I expect. Its just misleading in the ansible output and should probably be fixed to avoid confusion.

<img width="1118" alt="screen shot 2017-03-11 at 4 39 11 pm" src="https://cloud.githubusercontent.com/assets/7714111/23827079/657221f8-0679-11e7-92b8-e8449f6afc63.png">

[2017-03-11 21:42] ganeshnalawade commented on #19107
@calfonso @privateip @Qalthos I tried with latest devel code, it throws below error.
[code]

Playbook:
[code]

Ansible version:
[code]

[2017-03-12 10:14] ganeshnalawade commented on #19107
The cause of issue is, junos shell prompt  `root@%` ends with `%`
I have raised a PR https://github.com/ansible/ansible/pull/22536 to fix this.
After this code change the issue is resolved.
[code]

[2017-03-12 10:16] michael-dev2rights opened #22537 "bug - ec2_asg fails when waiting for ELB instances to be healthy - integration test fail"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_asg module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

running on ubuntu 16.04 LTS attempting to run the ansible integration tests.

##### SUMMARY

##### STEPS TO REPRODUCE

run the integration tests (note #22499 and #22532)

[code]

##### EXPECTED RESULTS

integration test should pass; at this point in int

[2017-03-12 12:07] dvershinin opened #22539 "rpm_key is not idempotent when key is specified via external URL"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
rpm_key plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

Running rpm_key against URL always reports status as changed.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Unchanged (OK) status on second run.

##### ACTUAL RESULTS

[code]

[2017-03-12 14:36] jeroenjacobs79 opened #22542 "cannot power on VM with vmware_guest"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
ansible 2.2.1.0

##### SUMMARY
Receiving weird error when trying to power on exisisting vm
##### STEPS TO REPRODUCE
[code]

Results in:

[code]

[2017-03-12 14:45] jeroenjacobs1205 commented on #22542
Also, I need certain properties (like "isTemplate") of vmware_guest in later phases. So don't recommend "use vsphere_guest as a workaround" as a solution.

[2017-03-12 19:11] rkumar357 commented on #8508
ansible --version
ansible 2.2.1.0
  config file = /Users/rkumar357/.ansible.cfg
  configured module search path = Default w/o overrides

Its still creating under my home dir, not using playbook_dir value, any help in this ??

Thanks

[2017-03-12 19:49] rhunwicks opened #22547 "ecs_taskdefinition always creates new revisions unless protocol is specified"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`modules/cloud/amazon/ecs_taskdefinition.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04 + AWS

##### SUMMARY
Using `ecs_taskdefinition` without specifying a `revision` should not create a new `revision` if there is an existing ACTIVE revision with the same definition. However, if the required task spe

[2017-03-12 20:26] rhunwicks commented on #22547
In the meantime, the workaround is to make sure you specify a value `essential` for each container, and for `protocol` for each port mapping.

[2017-03-12 21:20] varazir commented on #22222
It's working for me but it always say changed even if there are no pkg removed

[2017-03-12 21:59] stepanv commented on #22510
Looks good to me! I would suggest to modify the test so that it passes at least one argument with spaces - just to be sure that it does what we expect.
Thanks a lot!

[2017-03-12 22:12] kallaics commented on #16809
Dear Alikins,

I have a same issue. I read the documents more times, but I didn't found any possibility how can I create endpoint with these Openstack modules that you listed above.

I am using the keystone_user option, but it is deprecated, so I would like to change it.

Could you please write an quick example how can we define the endpoints for the services?

Many thanks!

Best regards,
   kalla

[2017-03-12 23:41] simplesteph commented on #22547
@rhunwicks  thanks for the report. Do you feel like creating a PR for this?
I think ideally we should create a list of tests to test the matching function, and then build against that list of tests. This way we can guarantee longevity of that feature

[2017-03-13 02:36] qist commented on #22527
vim /etc/ansible/ansible.cfg
[ssh_connection]
ssh_args = -o ControlMaster=no

[2017-03-13 02:36] #22527 closed, assigned to nobody

[2017-03-13 02:38] larryyao commented on #17935
Changes can be made and used in a configuration file which will be processed in the following order:
* ANSIBLE_CONFIG (an environment variable)
* ansible.cfg (in the current directory)
* .ansible.cfg (in the home directory)
* /etc/ansible/ansible.cfg
OpenSSH Specific Settings
Under the [ssh_connection] header, the following settings are tunable for SSH connections.
ssh_args
If set, this will pass

[2017-03-13 03:17] ghost opened #22552 "Minimum permissions required for use of Amazon cloud modules, and improve ansible error output"
- Documentation Report

##### COMPONENT NAME
aws modules (various)

##### ANSIBLE VERSION
2.2.1.0

Documentation for AWS specific modules (ec2_vol etc), should outline which IAM permissions are required for the module to work.

##### EXPECTED RESULTS
There should be a note on the AWS specific module outlining the list of IAM permissions that module uses to do it's job. Otherwise the end user is le

[2017-03-13 03:51] grimmjow8 commented on #22498
I'll take a look at this.

[2017-03-13 06:08] alstarian opened #22553 "Unable to connect to my windows host - Ansible"
Hi All,

I just started working with Ansible this morning for the first time and I am trying to connect to my window host (Windows 2012 R2) to perform a simple win_ping to test if I can make a connection.
I have installed Ansible on a CentOS linux and created 2 files namely web.yml and inventory.yml.

inventory.yml
[web]
ip of my windows host

web.yml

ansible_user: root
ansible_password: Ansible2

[2017-03-13 06:12] ar7z1 opened #22554 "win_firewall_rule fails if profile is "any" and task run more than once"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

windows/win_firewall_rule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Managing Windows Server 2012 R2.

##### SUMMARY

`win_firewall_rule` fails when task profile is "any" and the task runs more than once.

##### STEPS TO REPRODUCE

Run this task more than once:

[code]

##### EXPECTED RESULTS

Task returns `ok

[2017-03-13 06:38] adamramadhan commented on #10499
this is actually a good idea

[2017-03-13 06:47] LinusU commented on #22465
Should be fixed by #22511

[2017-03-13 07:06] nerzhul commented on #22542
Hello, do you have a vcenter ? Is the folder an absolute folder and do you use module from devel branch not stable ?

[2017-03-13 07:41] alstarian commented on #22553
I now get a new message after playing around. which is

[root@neo ansible_test]# ansible windows -i host -m win_ping
 [WARNING]: ansible_winrm_cert_validation unsupported by pywinrm (is an up-to-date version of pywinrm installed?)

10.109.140.64 | UNREACHABLE! => {
    "changed": false,
    "msg": "ssl: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:579)",
    "unreachable": tr

[2017-03-13 07:56] jhawkesworth commented on #21128
Just going through my open issues.  I'm hoping this will be fixed by #21846

[2017-03-13 08:14] jsgoller1 opened #22556 "Better error output for the template module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`template` module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu Linux

##### SUMMARY
There is an undefined variable somewhere in one of my templates. As a result, Ansible produces the following error message as expected (I am running `ansible-playbook` with `-vvvv`):
[code]

The error message `AnsibleUndefinedVariable: Unable to

[2017-03-13 08:17] alstarian commented on #22553
Now I am at this stage
ERROR! Unexpected Exception: dictionary update sequence element #0 has length 1; 2 is required

[2017-03-13 08:42] michalmedvecky commented on #17324
Any chance of getting this fixed? Yes it can be worked around using & but I have no idea how to do this when using `with_items` (sending dict to task with items)

[2017-03-13 10:43] morphje opened #22559 "FR: direct access to groupvars"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lib/ansible/vars/__init__.py ?

##### SUMMARY
Currently I have access to hostvars[hostname] variables if I want access to variables that are specified to that specific host. However there are some workflows where you need access to the group variables where you know the group name.

Consider the following use case where you have one host that

[2017-03-13 10:49] alstarian commented on #22553
The above error is nothing, I still face the message saying "**Failed to connect to the host via ssh: ssh: connect to host 10.109.140.64 port 22: Connection timed out\r\n**". . I dont know why ansible is trying to talk to my windows host using ssh when i have specified **ansible_connection=winrm** in my confg file

[2017-03-13 12:06] sirkubax opened #22561 "[1] Clarify when not to use ansible_date_time"
##### ISSUE TYPE

 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### SUMMARY
The variable `ansible_date_time` keeps the value from the last run. In my case it can be up to 24h old (cache), In your case, it _usually 'by default' would be a few minutes old!_ (If you run the `gather_facts` on the beginning of your PB,

[2017-03-13 12:06] jeroenjacobs1205 commented on #22542
Yes, I have a vcenter host. I'm using the latest ansible version installed via pip, so I guess that's the stable version of the module, not development.

I added `template="" `, to bypass the error, but now Ansible complains that the vm already exists. This makes sense, as the vm already is there. I just want to turn it on via Ansible.

[2017-03-13 12:10] privateip commented on #22094
https://github.com/ansible/ansible/pull/22550

[2017-03-13 12:10] #22094 closed, assigned to privateip, Qalthos

[2017-03-13 12:12] privateip commented on #19107
Thanks @ganeshnalawade ... merged.   Please confirm and close issue if all is resolved

[2017-03-13 12:31] conradthukral commented on #21594
We've encountered this issue and found a workaround (which may also help debugging this):

We noticed that ansible creates a directory called "~" within the ansible user's home on the solaris machine. We removed this and replaced it with a symlink to the home directory itself (so we now have something like /home/ansible/~ which links to /home/ansible).
Copy works fine after that.

[2017-03-13 12:38] walterdolce opened #22562 "Become/Sudo does not work for dependency roles"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Not sure. Core?

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing to see here

##### OS / ENVIRONMENT
Debian Jessie (Vagrant's box behind `debian/jessie64`)

##### SUMMARY
Running a role dependency as `sudo` and/or `become` does not work. The role tasks run as the `vagrant` user.

##### STEPS TO REPRODUCE
[code]

The `Vagrantfile` assum

[2017-03-13 12:43] s-hertel commented on #22498
@grimmjow8 There is a WIP for this at #22499. If you're interested, would you test it out?

[2017-03-13 12:47] KroArtem commented on #22553
Hello, you should probably read http://docs.ansible.com/ansible/intro_windows.html#windows-system-prep

[2017-03-13 12:57] robinro commented on #22517
@dmrzzz Thanks for this detailed description.

Can you confirm that #21712 fixed this, i.e. by running your example with the ansible devel branch?
If so I'd recommend to close this issue (still searchable for people with similar issues in unpatched versions).

One could test the `.git/config` content in the integration tests, somewhere around https://github.com/ansible/ansible/blob/3afc993f3a5774f

[2017-03-13 13:03] nerzhul commented on #22542
we did many many rework on vmware_guest module on devel branch, which will become available on 2.3 next month.
Can you test with devel branch, as it's non pertinent to use 2.2 module atm ?

[2017-03-13 13:24] jhawkesworth commented on #22553
Likely you haven't put your web.yml in group_vars

If you inventory is in

/etc/ansible/hosts

then your web.yml group variables need to be in

/etc/ansible/group_vars/web.yml

[2017-03-13 13:26] ganeshnalawade commented on #19107
Thank you @privateip
Issue is resolved now.

[2017-03-13 13:26] #19107 closed, assigned to Qalthos

[2017-03-13 13:27] alikins commented on #22531
Not sure if this is considered a bug or intentional yet, but two potential work arounds from
http://stackoverflow.com/questions/22350175/how-do-i-get-an-ansible-template-to-honor-new-lines-after-a-conditional are:

1. Add '#jinja2: trim_blocks:False' to the first line of the template. ie

[code]

or include an extra newline in the template:

[code]

[2017-03-13 13:28] grimmjow8 commented on #22498
@s-hertel Can do! I'll test it out later today.

[2017-03-13 13:52] profhase opened #22565 "cs_staticnat fails on second execution"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cs_staticnat

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Trying to assign an ip with `cs_staticnat` to a network in VPC (I don't know if it plays a role), the
first time works out fine. On the second execution one gets:

##### STEPS TO REPRODUCE

Execute the following task multiple times

[c

[2017-03-13 13:58] andmos commented on #21509
@jctanner I guess this can be closed now if #21476 is tested?

[2017-03-13 13:58] alikins commented on #22539
Attempting to reproduce this with 2.2.1 and devel and so far I don't see this behavior.
I see 'changed: True' on the first insall, but 'changed: False' on subsequent calls.

[code]

And same behavior for devel

[code]

[2017-03-13 13:59] boscowitch commented on #15279
I have ansible version ansible 2.2.1.0 install from pip in debian wheezy

Had all installed from @jmalacho but i had to do a
sudo pip install Jinja2 --upgrade

to have the map filter.... maybe pip install should be adapted ...

[2017-03-13 13:59] #21509 closed, assigned to nobody

[2017-03-13 14:02] alikins commented on #22539
@dvershinin Could you post -vvv output for a case where first install works and returns changed but subsequent calls also return changed?

[2017-03-13 14:04] alikins commented on #22539
@hacosta ping

[2017-03-13 14:13] jmalacho commented on #15279
I will say, that because Centos6 is so old, I've found it better to get
newer Jinja2 rpms (2.7/2.8).  Using pip on Centos 6 has begun to get my
into trouble.

On Mon, Mar 13, 2017 at 9:59 AM, boscowitch <notifications@github.com>
wrote:

[2017-03-13 14:15] jhzab commented on #20176
I'm hitting the same problem I guess, also on Centos 7.3 with ansible running from CentOS 7.3 as well. I would be willing to debug this myself if someone could tell me how I could easily do so. (I do not know the magical JSON invocation to run sysctl.py locally.)

[2017-03-13 14:18] jctanner commented on #16217
@notfol the summary of this ticket implies that the usecase was "working" in 2.0, so you may be seeing something else. Please open a new issue describing the details of your situation.

[2017-03-13 14:18] alikins commented on #16217
(reformatted ansible output from initial report with newlines unescaped)

[code]

[2017-03-13 14:22] alikins commented on #16217
Shot in the dark: could https://github.com/ansible/ansible/issues/11913 be involved?

[2017-03-13 14:27] sirkubax commented on #22561
Interesting comment @ https://github.com/ansible/ansible/issues/16412#issuecomment-260911686
`We actually use the cached ansible_date_time to find out how old the cached facts are (as a means to know what we are working with) (...) https://github.com/ansible/ansible/issues/16412#issuecomment-260911686`
So hm... probably changing the behaviour is not the best idea.

I'd consider:
1. adding the docs

[2017-03-13 14:30] walterdolce commented on #22562
More info which hopefully will help troubleshoot this.

After the Vagrant VM is up and running and the Ansible run has been done (even if failed), if you ssh into the vm (`vagrant ssh`), note the following:
[code]

The `GOPATH` is set. This is expected.

When I do the following though:
[code]
The `GOPATH` is **not** set. This is causing the Ansible run to fail.

But if I do the following:
[code]
T

[2017-03-13 14:32] #22464 closed, assigned to s-hertel

[2017-03-13 14:32] alikins commented on #22553
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-03-13 14:32] #22553 closed, assigned to nobody

[2017-03-13 14:36] boscowitch commented on #15279
Well getting newer deb packages for debian wheezy is kinda hard ...

I tried to compile ansible first with make deb....

however i got only to the pbuilder part then it had some problems with an empty .....base.tgz file and would then i just tested pip and it worked even though it could not upgrade the other packets mentioned from @jmalacho it was able to do it only for the jinja2 packet and so fa

[2017-03-13 14:36] indreek opened #22568 "postgresql_user unable to add role with 1 dot"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

postgresql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu 16.04
##### SUMMARY

When adding role first.last i get error
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-03-13 14:39] wouterhund commented on #13524
How can I default to not passing a value? For example `postgresql_db: port="{{postgressdb_port|default(False)}}` will give me `unable to connect to database: invalid port number: \"False\"`

[2017-03-13 14:48] rcarrillocruz commented on #22216
Multiline handling on Cisco IOS devices is hard due to the ^C mogrifying, making the codebase hard to maintain.

Therefore, I will fix this by creating an 'ios_banner' module, that will handle both single and multi-line, just like the newly created eos_banner module:

https://docs.ansible.com/ansible/eos_banner_module.html

[2017-03-13 14:55] evgeni commented on #20176
Your playbook is wrong, there are spaces after the `=` for name and value → boom.

This works for me (also never write to /usr!):
[code]

[2017-03-13 14:57] scheung38 opened #22570 "Following this tutorial, but now no GATHERING FACTS output?"
Trying to follow this tutorial in Mac OSX:

https://github.com/glenjarvis/ansible_tutorial/blob/develop/src/playbook_examples/demo_playbook_iter_01.yml

$ ansible-playbook demo_playbook_iter_01.yml

---
- hosts: webservers
  tasks:
  - name: Make sure all OS patches are applied
    shell: yum update -y
    sudo: yes

##### ANSIBLE VERSION
[code]

PLAY [webservers] *********************************

[2017-03-13 14:57] jctanner commented on #16217
@l0r3zz I've run some tests across 2.0, 2.1, 2.2, and devel. I was unable to reproduce any errors similar to yours unless I ran a command through raw that did not exist ...

[code]

sshpass is similar to tcl/expect in that it simply waits for a specific phrase in the stdout before it sends a string to stdin. It does not change the properties of the underlying command. I checked the default ssh arg

[2017-03-13 15:06] lostick commented on #22570
This tutorial is outdated, and is not associated  in any way to with the official Ansible repo.

[2017-03-13 15:09] davidmweber commented on #8972
This is still an active bug
[code]
creates a new address each time it runs. FYI, the issue https://github.com/ansible/ansible-modules-core/pull/300 indicates that a fix was implemented and then overwritten by a subsequent patch. It ends with referring us back to ansible. It is now 2017 and there is still no fix.

[2017-03-13 15:10] alikins commented on #22562
@walterdolce

Neither really. For example, if ansible is using 'raw' to execut a shell script via sudo  with these become_options:

[code]

It would invoke:

[code]

[2017-03-13 15:18] jsotogaviard opened #22571 "tasks_from variable is not resolved in include_role"
**ISSUE TYPE**
Bug Report

**COMPONENT NAME**
include_role

**ANSIBLE VERSION**
ansible 2.2.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

**CONFIGURATION**

n/a

**OS / ENVIRONMENT**

Ubuntu

**SUMMARY**

The tasks_from variable is not resolved in the include_role module. However the name variable is resolved

**STEPS TO REPRODUCE**
[code]
**

[2017-03-13 15:30] bcoca commented on #22570
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-03-13 15:30] #22570 closed, assigned to nobody

[2017-03-13 15:34] scheung38 commented on #22570
I probably think that is the reason too. Usually it is the case but could someone suggest what I need to do in order to get GATHERING_FACTS to display?

[2017-03-13 15:48] bcoca commented on #22561
bikeshedding `ansible_now`

[2017-03-13 15:52] alikins commented on #22562
Attempting to reproduce this sans vagrant and running into some odd problems.

(my in progress reproducer is at https://github.com/alikins/ansible-bug-repro/tree/master/role_sudo_22562)

For example, the 'ansible-go' role that gets installed into roles_external/go seems to have the contents of files/ munged. Including 'go-bin.sh' which ends up named '-bin.sh':

Contents of a local git clone of htt

[2017-03-13 15:55] alikins commented on #22562
output from 'runme.sh' above:

Go gets installed to /usr/local/go, but the ' Add the Go bin directory to the PATH environment variable for all users' task fails, presumably because 'go-bin.sh' doesnt exist and '-bin.sh' is there for some reason.

[Which certainly looks like an ansible-galaxy bug at first glance...]

[code]

[2017-03-13 15:57] alikins commented on #22562
@walterdolce do you have the output from the vagrant up of this setup?

Also, I had to tweak some of the paths/names from "STEPS TO REPRODUCE" to get to https://github.com/alikins/ansible-bug-repro/tree/master/role_sudo_22562, so verify I didn't skip anything important.

[2017-03-13 16:02] bcoca commented on #22561
other options (i use this one) `vars:\n   now: "{{lookup('pipe', 'date')}}"`
or this jinja2 extention, you can load this via ansible.cfg
https://pypi.python.org/pypi/jinja2-time

[2017-03-13 16:02] imraulkays commented on #18948
any updates?

[2017-03-13 16:04] jctanner commented on #22436
@Yannig I can reproduce the traceback with your playbook and any 2.2.x version. However, it appears to have been fixed in devel, which is going out as 2.3 very soon.

[2017-03-13 16:04] #22436 closed, assigned to nobody

[2017-03-13 16:12] jctanner commented on #22435
@JJediny can you please elaborate on why ansible-container prevents you from using vault? It's not clear to me why you aren't able to consume vaulted variables through container, so an example of what you are trying to do and how it fails would help us understand.

needs_info

[2017-03-13 16:17] rbprado commented on #4355
@rubenschulz same problem here, also happening for other modules as apt, apt_key and apt_repository.
It looks to be intermittent.

[2017-03-13 16:26] richard-scott commented on #4355
I had to disable periodic updates to fix this.
[code]
Since adding that to my VM Image Ansible has been fine.

[2017-03-13 16:28] alikins opened #22572 "ansible-galaxy seems to munge role filenames if the role name is a substring in the filename (via requirements.yml)"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### SUMMARY

Looking at https://github.com/ansible/ansible/issues/22562 and trying to reproduce it
(ala https://github.com/alikins/ansible-bug-repro/tree/master/role_sudo_22562)
I noticed the weird behavior when ansible

[2017-03-13 16:32] jctanner commented on #22382
@Dirrk I'm not totally opposed to the idea. I think there will be a lot of caveats to getting it right, but those can probably get ironed out in the PR and in the devel pipeline.

If you want to work on a patch to enable this feature, please hop on #ansible-devel on irc.freenode.net and get the larger group of devs to review your PR(s).

[2017-03-13 16:34] alikins commented on #22562
@walterdolce I filed https://github.com/ansible/ansible/issues/22572 specifically for the odd ansible-galaxy behavior in case this bug is caused by something else.

[2017-03-13 16:47] nitzmahone opened #22575 "Async isn't async on Windows"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
powershell.py

##### ANSIBLE VERSION
2.3 devel

##### SUMMARY
Since switching to the new exec wrapper, Windows modules invoked via async fire-and-forget/fire-and-check-later (eg `poll: 0`) block until the task has completed/timed-out. The issue is that the new exec wrapper pattern requires handle inheritance (to send the exec manifest to the chi

[2017-03-13 16:47] rbprado commented on #4355
@richard-scott Still happening here for apt_repository, error is little different:
[code]
Maybe it has another source.

[2017-03-13 16:49] alikins commented on #22562
@walterdolce Most of that ansible-galaxy weirdness seems to originate from the repo being named 'ansible-repo', but the requirements.yml has the name as 'go'. 'name: ansible-go' seems to work correctly (including the names of files/go-bin.sh although I have no idea why that would change)

[2017-03-13 16:54] bcoca commented on #22559
your example benefits less from 'group accessible vars' than from making certain vars 'mergable'

[2017-03-13 17:07] #22465 closed, assigned to nobody

[2017-03-13 17:07] itdependsnetworks commented on #22216
@rcarrillocruz A solution is certainly better than no solution. That being said, it seems odd that there is no way to keep this in *_config?

The ios_config module correctly identifies a banner and parses it. The only thing is the run_commands does not seem to like running the commands.

[2017-03-13 17:08] alikins commented on #22572
Some of the oddity can be explained by problem in the requirements.yml

[code]

The 'name' value should be ansible-go.
That is why it ends up installed as 'go' not 'ansible-go'.

The question of why files/go-bin/sh gets munged is odder.

https://github.com/ansible/ansible/blob/devel/lib/ansible/galaxy/role.py#L319

If a file path has the top level dir name as a substring, that line replaces it wit

[2017-03-13 17:10] jctanner commented on #18197
@dagwieers only for bot broken.

[2017-03-13 17:12] dagwieers commented on #21797
I have had a similar issue just yet out of the blue (on a playbook that worked fine before and after).
[code]

The task appeared to have been successful on the second run, not reporting any change.

[2017-03-13 17:18] mpictor commented on #11199
I encountered the error in the title after making some changes to my module for testability. Perhaps this problem would be obvious to a python guru, but it wasn't to me.

To fix it, I removed a conditional import that I _thought_ had been working
[code]
and added this (order probably doesn't matter, but I put it before other imports):
[code]

[2017-03-13 17:23] gundalow commented on #22166
@stacywsmith A fix has been pushed into `devel`, Could you please retest, and add a comment

Thanks in advance.

[2017-03-13 17:24] gundalow commented on #19574
needs_info

[2017-03-13 17:29] jhawkesworth commented on #22272
Curious if there is a byte order mark in your custom .ps1 script?
Wondering if there an encoding difference - see the comments on https://github.com/ansible/ansible/issues/21915

[2017-03-13 17:32] jhawkesworth commented on #22485
I don't use scheduled tasks myself but would you be able to put the shutdown command you want to run inside a .ps1 or .bat file and then schedule running the .bat or .ps1 file instead?

needs_info

[2017-03-13 17:37] jhawkesworth commented on #22272
Also.... since this is S2008R2 - please can you check the
http://support.microsoft.com/kb/2842230 hotfix has been installed,
as mentioned in the blue box at the end of this section of the documentation: http://docs.ansible.com/ansible/intro_windows.html#windows-system-prep

needs_info

[2017-03-13 17:39] gsempe commented on #4355
I think I have identified the root reason of this intermittent error thanks to this issue:
https://github.com/geerlingguy/packer-ubuntu-1604/issues/3
This was automatic **unattended-upgrades** running
At least if fixes the problem for me

It's verifiable on a fresh Ubuntu machine doing:
[code]

To prevent it, create Ubuntu images w/ this modification

Add the file `/etc/systemd/system/apt-daily.ti

[2017-03-13 17:40] jhawkesworth commented on #22126
Your fix #22128 is awaiting core review.

[2017-03-13 17:47] micahlmartin commented on #9362
This is still broken in `2.2.1.0`:

[code]

And the in a template file:
[code]

Results in:
[code]

But I need it to be:
[code]

[2017-03-13 17:58] jwfuller opened #22576 "Adding user with user module fails on RHEL7"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
I think N/A but OSX 10.11.6

##### SUMMARY
Cannot create a user on RHEL 7. See also https://github.com/ansible/ansible-modules-core/issues/4238

##### STEPS TO REPRODUCE
When running the following on a RHEL7 target
[code]

##### EXPECTED RESULTS
User should h

[2017-03-13 18:00] wied03 opened #22577 "Parseable Module Parameter Schema"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
All modules

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

It would be nice if Ansible had a standard, parseable schema for what module parameters should look like (name, types, required/optional/etc.). The `DOCUMENTATION` and `EXAMPLES` constants in the module source kind of do this but they ar

[2017-03-13 18:00] #22431 closed, assigned to nobody

[2017-03-13 18:03] alikins commented on #22382
Why use ansible-vault for this instead of using ssh-agent?

Without significant changes to ansible-vault, any of the variations mentioned above are going to have decrypted copies of the ssh private keys floating around in the ansible process.

[2017-03-13 18:08] Qalthos commented on #20186
As I expected, once the dust settled on 2.3 modules for Junos, this issue disappeared. I am considering this issue to be solved for 2.3

[2017-03-13 18:08] #20186 closed, assigned to Qalthos

[2017-03-13 18:22] snowsky commented on #22576
why is it osr-ansible instead of ansible user to be created?

[2017-03-13 18:29] jwfuller commented on #22576
Sorry, changed the name in play snippet for simplicities sake, adjusting back

[2017-03-13 18:39] #22510 closed, assigned to nobody

[2017-03-13 18:41] snowsky commented on #22571
The message I got is:
[code]
I'll take a look now.

[2017-03-13 19:17] morphje commented on #22559
@bcoca make certain vars mergable? I am under the impression that it's a global setting? Can you define merging on a variable level? I prefer not to set merge globally to adhere to the general concept of ansible variables.

[2017-03-13 19:18] jwfuller commented on #22576
I ran 2 plays and got the desired result. Seems like the bug is in trying to set the group when creating a user.
[code]

[2017-03-13 19:21] #21892 closed, assigned to rcarrillocruz

[2017-03-13 19:26] sumanthreddybolledla commented on #10294
Hi,
I'm getting the below issue,  Can someone please help me?
**ansible version: 1.9.4
python: 2.6
pyopenssl: 0.10**

FAILED => Traceback (most recent call last):
  File "/usr/lib/python2.6/site-packages/ansible/runner/__init__.py", line 586, in _executor
    exec_rc = self._executor_internal(host, new_stdin)
  File "/usr/lib/python2.6/site-packages/ansible/runner/__init__.py", line 789, in _execu

[2017-03-13 19:27] bcoca commented on #22559
Yes, what i'm saying is that the new feature that would better solve the issue would be something like this:
[code]

[2017-03-13 19:32] dvershinin commented on #22539
Sorry, found the issue was with my rather complicated playbook (deleted key in one role and installed in another)

[2017-03-13 19:32] #22539 closed, assigned to nobody

[2017-03-13 19:32] morphje commented on #22559
@bcoca ahhhhh, i like the way you are thinking! That would make it an even better feature request
So i would get something like this?
group_vars\group_a
`varname: !mergable
  - name: foo
    setting: something`
group_vars\group_b
`varname: !mergable
  - name: bar
    setting: great`

The resulting variable would contain a list with both foo and bar.

+1 for that

[2017-03-13 19:33] berlic opened #22579 "notify keyword triggers on unchanged items inside a loop"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`notify` plus `with_`-loops

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Standard

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When use `notify` with dynamic handler name inside `with_`-loop, all handlers are triggered no matter what item is changed.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Only `file1 changed` handler shou

[2017-03-13 19:38] morphje commented on #22559
Although I've dabbled in the shallows of ansible, my knowledge of the ansible code is far from enough to even attempt to create such a pull request. If you could give me some pointers where to start I'd sure like to  take a crack at it.

[2017-03-13 19:42] bcoca commented on #22559
both variable manager and the ansible yaml constructor need to be involved.

[2017-03-13 19:54] walterdolce commented on #22562
@alikins thank you for taking the time to debug this.

I am not sure what's happening on your system, everything worked just fine for me (downloading the role via `ansible-galaxy`). Please see screenshot below.
<img width="214" alt="screen shot 2017-03-13 at 7 48 06 pm" src="https://cloud.githubusercontent.com/assets/6195629/23872444/37466a60-0826-11e7-94d9-6883f0554a5e.png">

Regarding the `ansib

[2017-03-13 20:04] bcoca commented on #22579
notify uses the task status, not per loop item status

[2017-03-13 20:08] snowsky commented on #22571
@bcoca where is the part of codes for variable expension in Ansible?

[2017-03-13 20:27] sumanthreddybolledla commented on #13508
Does Pywinrm 0.1.1 has the ability to ignore cert validation on python 2.6.6?

[2017-03-13 20:36] jctanner commented on #22408
Related:
https://github.com/ansible/ansible/commit/5be2a3a9e03afa9734fb41c1f47a9f639c440120
https://github.com/ansible/ansible/issues/18021
https://github.com/ansible/ansible/commit/c669a381d117ccd96d4d59ab9191a107d08dfdb4
https://github.com/ansible/ansible/issues/16937

[2017-03-13 20:41] jctanner commented on #22408
@hdimitriou This appears to be the expected behavior, according to https://github.com/ansible/ansible/commit/5be2a3a9e03afa9734fb41c1f47a9f639c440120

Once all of the hosts in the play have failed, the play returns early. Expecting a handler to fire in that situation is a little questionable because you are now in a "rescue" type situation which is what blocks were designed for.

http://docs.ansib

[2017-03-13 20:41] #22408 closed, assigned to nobody

[2017-03-13 21:41] #6545 closed, assigned to nobody

[2017-03-13 22:32] dmrzzz commented on #22517
Yes, both devel and stable-2.2 (with #21712 cherry-picked) behave correctly for me.  Closing this issue as suggested.

[2017-03-13 22:32] #22517 closed, assigned to nobody

[2017-03-13 22:44] oleyka commented on #22576
@jwfuller You do not need "osr-ansible" in the "groups" list in the second task — it is the user's primary group already.

[2017-03-13 23:35] benjamincburns commented on #9065
@bcoca What's unclear to me, and I think most of the rest of the commentators on this issue, is what value the Ansible team is looking to preserve by keeping group_var precedence/resolution the way that it is.

Can you give an example of a case which is satisfied well by the current solution but would cease to be so if, say, group_vars are only loaded for the groups selected for a given play, rath

[2017-03-13 23:57] jhawkesworth commented on #13508
If I recall cert validation wasn't required until python 2.7.9

[2017-03-14 00:00] sumanthreddybolledla commented on #13508
I'm getting the below issue, Can you please help me?
ansible version: 1.9.4
python: 2.6
pyopenssl: 0.10

FAILED => Traceback (most recent call last):
File "/usr/lib/python2.6/site-packages/ansible/runner/init.py", line 586, in _executor
exec_rc = self._executor_internal(host, new_stdin)
File "/usr/lib/python2.6/site-packages/ansible/runner/init.py", line 789, in _executor_internal
return self._exe

[2017-03-14 00:26] stacywsmith opened #22589 "Execution of junos galaxy modules hangs in junos action handler after #22423"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/plugins/action/junos.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
After #22423, the junos action handler attempts to import the module which is about to be executed in order to see if `USE_PERSISTENT_CONNECTION` is set:
https://github.com/ansible/ansible/blob/devel/lib/ansibl

[2017-03-14 00:33] hanej commented on #9065
I understand @bcoca's point as we use it that way too.  My biggest frustration with Ansible is it works mostly good for either configuration management or ad-hoc workflows.  It doesn't do a great job of either but it's getting better and it has plugin support which I think I will be using to make another issue I have with it better.  Most days I still miss Puppet solely for configuration managemen

[2017-03-14 00:58] mathew-bulletin commented on #22117
Thanks @bcoca and @jctanner for clarifying :)

[2017-03-14 01:08] mikedlr opened #22591 "priority of file names resolution in module selection is unpredictable and often wrong"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook / core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Ansible running from latest devel from github.

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS

##### SUMMARY

If I create a module named x.py and there is an autosave file x.py~ then _sometimes_ the autosave file will be chosen in preference to the actual module file.

###

[2017-03-14 01:08] mikedlr commented on #22591
@ryansb as requested.

[2017-03-14 01:11] nitzmahone commented on #13508
@sumanthreddybolledla - commenting on closed issues isn't the best way to get help. This looks like an installation issue- you'd probably have more luck on the [mailing list](https://groups.google.com/forum/#!forum/ansible-project).

[2017-03-14 02:23] benjamincburns commented on #9065
@bcoca I'm not sure how that example breaks by the design change I suggested in my previous comment?

Given the inventory you've listed, if I `ansible-playbook -i /my-inventory -v some_playbook.yml -l dc1:&app2` Any `some_playbook.yml` you'd write against that inventory would have to be fairly contrived in order to make it break when only `dc1.yml` and `app1.yml` were broken.

I agree that deploym

[2017-03-14 02:23] benjamincburns commented on #9065
Don't know if the edit worked to adjust the notification, by my last comment was meant to be directed to @hanej.

[2017-03-14 02:50] sedrubal opened #22592 "Ansible-playbook message is too vague for unknonw modules"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
`-`

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible-playbook error messages are often very imprecise. Especially when there is a spelling mistake in a module name or if the module isn't available in the current ansible version, the error output is completely unusable.

###

[2017-03-14 03:32] clvx opened #22593 "lookup doesn't work with wildcard in restrictive directories."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Lookup plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
lookup doesn't work with wildcard in restrictive directories.

##### STEPS TO REPRODUCE
Having a file inside a directory `/path/to/file` owned by root with permissions 0700. If user `demo` tries to make a lookup for a file `foo1.k

[2017-03-14 05:58] grimmjow8 commented on #22498
Gave your changes a test. After running it a couple times, the test keeps timing out waiting for healthy  instances with ELB.

Below is the output from the failed task:

[code]

[2017-03-14 06:38] akaradzha opened #22595 "Archive module doesn't support 'with_items'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module: archive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

archive module doesn't support 'with_items'
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

make two separate archives
##### ACTUAL RESULTS

Task Failed: "'with items' is not a valid attribute

[code]

[2017-03-14 06:40] berlic commented on #22579
Yes, I see this from code. But there are plenty of cases when users want to template a pack of systemd units with a loop and notify to restart only those services that were updated.

If this is intended behaviour, this should be stressed in the documentation. Because having templatable notify targets for each item and not having ability to trigger them separately is a bit misleading.

Example for

[2017-03-14 06:48] m-messiah opened #22596 "docker_image is unable to pull latest image for tag, if previous exist"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
+ docker_image

##### ANSIBLE VERSION
[code]
##### CONFIGURATION

None

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Pulling a docker image without force=yes always returns `unchanged` even if the image have newest version on DockerHub.
But if I use `force=yes` workaround - it always returns `changed`, even if I already have latest image version.
S

[2017-03-14 07:14] frenzymadness commented on #18456
@mattclay Sorry for the delay but I was on PyconSK and now I am facing troubles with bird flu (as a firefighter).

I can do it easily. Just send me output which you want that script to produce.  Another important part will be set up a list of the fixers to check with in CI.

List of all available fixers is here: http://python-modernize.readthedocs.io/en/latest/fixers.html

[2017-03-14 07:59] akaradzha opened #22597 "Copy module doesn't work when dest host is localhsot"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module: copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

copy module unable to locate src or dest when host is localhost (for test purpose)

**hosts** file:
localhost
[target]
localhost         ansible_connection=local

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

copy files from

[2017-03-14 08:30] RaymiiOrg commented on #20653
I had the same issue, with a git server via an SSH config. The port forward runs on port 9022, and not on 22.

    accept_hostkey: yes

didn't work, same error. The following did work:

    ssh_opts: "-o StrictHostKeyChecking=no  -o Port=9022 "

(Explicitly giving the port as ssh option)

[2017-03-14 10:04] westsouthnight commented on #17014
Im check devel branch from day to day.

[2017-03-14 11:04] Crest opened #22599 "Subversion module disables certificate validation."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

subversion

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The ansible subversion module disables X.509 certificate validation in subversion by unconditionally pasing the --trust-server-cert flag to svn. This allows MitM attacks on subversion.

##### EXPECTED RESULTS

Subversion uses the default trus

[2017-03-14 11:21] chrmcd opened #22600 "junos_facts unable to connect to socket"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module/network/junos/junos_netconf
plugins/action/junos
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible_python_interpreter=/usr/bin/env python2.7
##### OS / ENVIRONMENT

Arch
Debian Jessie
##### SUMMARY

Trying to run a playbook with junos_netconf to enable netconf.
Fails with "msg": "unable to connect to control socket".
From what

[2017-03-14 11:41] TJuberg commented on #22600
Just for completeness, the following is the output from ANSIBLE_LOG_PATH=./debug.log ansible-playbook junos_facts.yml -vvvv on a clean Debian Jessie VM setup specifically for testing this issue

[code]
debug.log:
[code]

The playbook
[code]

As the socket never gets created from the looks of it, no network traffic ever occurs as confirmed by using wireshark.

Sample Dockerfile to recreate Arch tes

[2017-03-14 11:43] Shaps commented on #18181
Hi, I'm working on this.

[2017-03-14 11:54] dagwieers commented on #21797
In my case this could have been related to intermittent network issues. We have had a series of infrequent randomly dropped connections in the lab.

[2017-03-14 12:01] ganeshnalawade commented on #22600
@TJuberg @Akvarium I was also seeing the same error message. After adding this patch https://github.com/ansible/ansible/pull/22536 it was resolved. Can you please try with this patch and check if the issue is resolved.

[2017-03-14 12:12] TJuberg commented on #22600
@ganeshnalawade That patch is already merged and included in the ansible devel version we are running, so unrelated unfortunately.

Please note that we never hit the junos device whatsoever. The local socket never gets created, and as such no outbound connection to the junos device can occur.

[2017-03-14 12:15] mogthesprog commented on #18305
I have a similar issue, not sure if it's related to the same underlying issue though. We're running ansible in the cloud via a bastion hosts, and are seeing  a similar timeout issue, we see the following debug output for a task:

[code]

This is a yum tasks to install rsyslog. If you need anymore information, or think i should raise another issue, then please let me know. Also happy to do more deb

[2017-03-14 12:45] s-hertel commented on #22498
@grimmjow8 Thanks for checking that out! michael-dev2rights opened an [issue](https://github.com/ansible/ansible/issues/22537) for that. If you have any insight to how to fix it feel welcome to make a pr or comment on the issue :)

[2017-03-14 12:46] s-hertel commented on #20653
@robinro

[2017-03-14 12:51] Fale opened #22602 "open_url does not properly manages 5xx errors"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
/lib/ansible/module_utils/urls.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
uname -a
[code]
cat /etc/os-release
[code]

##### SUMMARY
When the endpoint returns 5xx status, there is no way to retrieve the page body.

##### STEPS TO REPRODUCE
[code]

##### Normal situation:
curl:
[code]

Python script:
[code]

[2017-03-14 12:56] ganeshnalawade commented on #22600
@TJuberg In the first output that you shared, it show 1 play is ok and 1 failed.
[code]
Can you please share the complete output of `junos_netconf.yml` running with -vvvv option.

[2017-03-14 13:00] robinro commented on #20653
According to @eljenso this regression was introduced by @abadger in #18698. @jctanner reviewed it. Maybe @abadger or @jctanner can look into this?

[2017-03-14 13:07] Akvarium commented on #22600
That's my bad, the first task that completes is just gathering facts from the local host, here's the full playbook output:
[code]

[2017-03-14 13:10] morphje commented on #22559
Digging through the code i was thinking the following:
lib\ansible\parsing\yaml\constructor.yml
[code]

And somehow try to pry out that mergable property in the combine_vars function from lib/ansible/utils/vars.py
Can you something like this? my knowledge of pyyaml is rather limited, this is just basically a copy paste interpretation of the constructor code.

[2017-03-14 13:14] kivio commented on #20492
Any news on this?

[2017-03-14 13:16] le9i0nx commented on #19336
I came across this error too.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Different behavior depending on the target.

##### STEPS TO REPRODUCE

[code]

cat inventory/test_localhost/hosts
[code]

cat inventory/test_remote/hosts
[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

The problem is here. This command is differ

[2017-03-14 13:25] turb opened #22604 "delegate_facts is ignored when run_once is set"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core, setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu Yakkety Yack for Ansible
Debian stable for nodes

##### SUMMARY

We have to load facts from nodes that have been excluded by `--limit`.

The way to achieve this is  `setup:`, with `delegate_to` in conjunction with `delegate_facts` set to `True`. Everyt

[2017-03-14 13:28] akaradzha opened #22605 "Ansible doesn't handle host_vars for 'all' hosts via folder structure"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

Ansible folder handler
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Current Ansible supports loading host_vars via folder structure:
inventories/
  host_vars/
      host1/main.yml
      host2/main.yml
but doesn't handle var file for all hosts
      **all**/main.yml
'all' could be used only in ho

[2017-03-14 13:42] cawilliamson opened #22606 "Docker containers always redeployed when security_opts are specified"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04.2

##### SUMMARY
When security_opts are specified the docker container is always rebuilt with the config:

[code]

##### STEPS TO REPRODUCE
[code]

[2017-03-14 13:58] ganeshnalawade commented on #22600
@Akvarium Thank you for sharing the output.
In my environment, the playbook runs perfectly fine.

You can below things in your environment.
* Does shell prompt on junos device ends with `%` (similar to `root@%`), if yes please rebase the code from devel branch and check again.

* Is the Netconf service enabled on device before running `junos_facts.yml`, if not please enable it and retry.

[2017-03-14 14:00] dagwieers commented on #22605
But `all` is not a host, it is a group. So you should be putting these in `group_vars/all` instead.

notabug

[2017-03-14 14:11] dagwieers commented on #22597
There is a typo in your task. It says "scr" instead of "src".

notabug

[2017-03-14 14:17] dagwieers commented on #22592
The main problem is that Ansible does not know if unknown keys in the task dictionary are meant to be modules or directives. In the old days the module was part of the `action:` key, so it was obvious which entry in the task dictionary was the module. But to make playbooks "easier to write" the `action:` key was removed and replaced with the module name. Which means that suddenly modules and direc

[2017-03-14 14:23] maedox opened #22607 "contrib/inventory/linode.py is slowing down setup"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
contrib/inventory/linode.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.10

##### SUMMARY
After adding linode.py in my inventory/ there is a ~ 30 second wait for the initial fact gathering.

I noticed that my old linode-inventory script creates output like this:
[code]
With linode.py this is the ou

[2017-03-14 14:25] dagwieers commented on #22561
On a related note, while it was done like this for historical reasons, nowadays we would not be having 18 time-related ansible facts, but create a single ansible fact and 17 jinja2 filters for manipulating that single fact.

So I would propose to deprecate (over a longer time) those 17 time-related facts and implement the jinja2 filters today.

[2017-03-14 14:29] bcoca commented on #22604
dupe of #15365

[2017-03-14 14:29] #22604 closed, assigned to nobody

[2017-03-14 14:30] bcoca commented on #22605
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2017-03-14 14:30] #22605 closed, assigned to nobody

[2017-03-14 14:31] #22319 closed, assigned to privateip

[2017-03-14 14:35] dagwieers commented on #22485
I think the `argument:` parameter is meant to be used for adding options to the executable in `execute:`.

IMHO the options of this module are awkward and do not follow the parameter names used by other modules. Maybe we can change the default options and add the old ones as aliases. I would got for `executable:` and `arguments:`.

And for running something *once*, I would go for implementing `fre

[2017-03-14 14:38] bcoca commented on #22595
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

Your indentation is wrong, `with_`

[2017-03-14 14:38] #22595 closed, assigned to nobody

[2017-03-14 14:39] turb commented on #15365
@bcoca thanks, I did not find this one. Will the change be backported to 2.2?

[2017-03-14 14:46] sedrubal commented on #22592
Ah ok, now I get the message and I see the problem...

[2017-03-14 14:57] clvx commented on #22593
I'm closing this issue because the lookup is executed with the system user who is executing `ansible-playbook` command. It works when you do `sudo ansible-playbook ...`.

[2017-03-14 14:57] #22593 closed, assigned to nobody

[2017-03-14 15:00] jwfuller commented on #22576
Thanks @oleyka. I think I have this sorted. If I switch from `group` to `groups` in the first task, it runs successfully.

RHEL creates private groups by default, so I was being redundant in my config.

I am going to close this since I don't think it is a real bug.

[2017-03-14 15:00] #22576 closed, assigned to nobody

[2017-03-14 15:05] dagwieers commented on #22485
@littleprivate Please test #22611 (A theoretical implementation :-))

[2017-03-14 15:09] #22592 closed, assigned to nobody

[2017-03-14 15:11] ryansb commented on #22597
Appears so - fixing line 3 of your task should resolve the issue. Feel free to reopen if it does not (or open a new issue).

[2017-03-14 15:11] #22597 closed, assigned to nobody

[2017-03-14 15:13] alikins commented on #22562
@walterdolce The '-bin.sh' path oddity seems to be caused by a bug introduced since 2.2.1 in the devel branch, so that explains why I hit it but your 2.2.1.0 did not.

Would you consider the original issue (become/sudo and role deps) resolved enough for this bug to be closed?

[2017-03-14 15:14] stacywsmith commented on #22600
@Akvarium Can you please run the playbook with `-vvvv` (4 v's not 3) and make sure something like `log_path = ~/.ansible/log/ansible.log` is set in your `ansible.cfg`? Then please check the output of the log file.

The `unable to connect to control socket` message is currently output for any type of device connection failure. I saw this because host-key checking was failing for the device. In Ansi

[2017-03-14 15:22] Fale opened #22612 "Add daemon_reload as a systemd state"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
lib/ansible/modules/system/systemd.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
There is no "easy" way to trigger a systemd daemon reload without reloading or restarting a daemon.

##### STEPS TO REPRODUCE
[code]

or

[code]

##### EXPECTED RESULTS
`systemd daemon-reload` to be executed

[2017-03-14 15:24] privateip commented on #22600
Just to add one more comment about host key checking, we also added a feature that allows you to automatically add host keys.  You can configure it in ansible.cfg as follows:

[code]

The default value is False.  Also, be aware that is a global value in Ansible so it could be deemed a security risk.

[2017-03-14 15:33] Akvarium commented on #22600
@ganeshnalawade
Thank you for the suggestions!
- Does shell prompt on junos device ends with % (similar to root@%), if yes please rebase the code from devel branch and check again.
It did, and I built my docker image again (installs latest devel version from git), no change there.
- Is the Netconf service enabled on device before running junos_facts.yml, if not please enable it and retry.
It is en

[2017-03-14 15:35] Fale commented on #22612
No required name for daemon_reload

[2017-03-14 15:37] Constantin07 commented on #19751
I'm facing the same issue. +1

[2017-03-14 15:45] stacywsmith commented on #22166
@gundalow #22423 generally looks good to me, but it tickled a latent bug in the junos galaxy modules. I filed #22589 for that issue, and I have a suggested fix in #22590. I also have Juniper/ansible-junos-stdlib#215 to address the underlying issue in the junos galaxy modules.

[2017-03-14 15:52] privateip commented on #22600
@Akvarium is that your entire log file output?  It seems to be missing entries... most notably there should be entries with lines that start `<mx104>....`?

[2017-03-14 16:11] s-hertel commented on #20653
Does using command line `$ git clone <ssh://host:port/the/repo>` working for anyone experiencing this problem?
Trying to clone my bitbucket.org repo: `ssh://git@bitbucket.org:443/my/repo` fails - in the playbook with the `failed to get the hostkey` error and with command line
[code]
If I change the repo to `ssh://git@altssh.bitbucket.org:443/my/repo` though it succeeds.

I'm not really sure how to

[2017-03-14 16:16] akhayyat commented on #19131
Any plans for fixing this issue? This bug introduces a backwards incompatibility. A working configuration for Ansible 2.1 does not work with any >=2.2.0 version. At the same time, some third-party roles require >=2.2.0 versions!

I looked at the code, but could not easily see a straightforward way to fix this bug. Lists are parsed in a generic way that is not specific to this module.

Perhaps that

[2017-03-14 16:28] Akvarium commented on #22600
@privateip Yes, that is the entire output of the ansible.log file when I ran `ansible-playbook junos_netconf.yml -vvvv`

[2017-03-14 16:43] leerich commented on #22372
Customer has updated this ticket.

[2017-03-14 16:55] gundalow commented on #22372
!needs_info details provided, thanks, we need to look into this

[2017-03-14 17:11] scottsb commented on #22371
I'm not sure if it's related or not, but I'm getting the same error when I use a `meta: noop` as a task handler. (If you're wondering why: it's because this handler serves solely to trigger several other handlers.)

I'm using Ansible 2.2.1.0 on MacOS host, running through `vagrant provision` against a VirtualBox-powered VM running CentOS 6.7.

[2017-03-14 17:44] bcoca commented on #22612
that is already the case:
[code]

[2017-03-14 18:24] apotek opened #22617 "Add RDS support for dbengine Aurora"
_From @davidecerri on March 3, 2016 17:40_

##### Issue Type:
- Feature Idea

##### COMPONENT NAME
rds
[module: cloud/amazon/rds.py]

##### Ansible Version:

N/A
##### Summary:

Add support of aws aurora.
[https://aws.amazon.com/rds/aurora/](https://aws.amazon.com/rds/aurora/)

Aurora is already supported in the latest boto version:
[http://boto3.readthedocs.org/en/latest/reference/services/rds.ht

[2017-03-14 18:24] apotek commented on #22617
_From @aioue on April 5, 2016 23:32_

Possibly already fixed in https://github.com/ansible/ansible-modules-core/pull/2646

[2017-03-14 18:24] apotek commented on #22617
_From @berinle on April 13, 2016 18:40_

@aioue No that is not a fix for this feature request. #2646 is to allow for creating parameter groups for aurora engine type. The main rds module @ https://github.com/h1ppo/ansible-modules-core/blob/cc0ee4ad40acd418f39459e5c5051a5f6ea7686d/cloud/amazon/rds.py#L45 is still not allowing Aurora as an engine type.

On that note, there also needs to be a way to

[2017-03-14 18:24] apotek commented on #22617
_From @gretel on April 29, 2016 21:50_

that'd be great for `2.1`

[2017-03-14 18:24] apotek commented on #22617
_From @einarc on June 4, 2016 2:41_

+1, not in doc yet so I assume is not in 2.1, which I'm using.

[2017-03-14 18:24] apotek commented on #22617
_From @einarc on June 4, 2016 2:42_

@aioue Why is it not in the documentation?

[2017-03-14 18:24] apotek commented on #22617
_From @JoeyG1973 on June 8, 2016 15:26_

+1 on getting this implemented.

[2017-03-14 18:24] apotek commented on #22617
_From @kaikousa on July 22, 2016 9:16_

For some reason aurora is listed as a possible value for `db_engine`-option in the documentation but it doesn't allow using it. This happens with `ansible 2.1.0.0`.

[2017-03-14 18:24] apotek commented on #22617
_From @ansibot on July 31, 2016 17:39_

@bpennypacker, @willthames, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2017-03-14 18:24] apotek commented on #22617
_From @kaikousa on August 8, 2016 12:39_

I tried copy-pasting the module from devel-branch to my Ansible project's library-folder and running it but got the following error:

`fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Failed to create instance: Standalone DB Instances are not supported for the specified engine"}`

It seems that even with the Aurora support added to

[2017-03-14 18:24] apotek commented on #22617
_From @naslanidis on August 14, 2016 3:47_

@kaikousa

I get a similar issue with this module:

When I run it with multi_zone set to yes:
 "msg": "Failed to create instance: VPC Multi-AZ DB Instances are not available for engine: aurora"}

When I run it with multi_zone set to no:
"msg": "Failed to create instance: Standalone DB Instances are not supported for the specified engine"}

So something i

[2017-03-14 18:24] apotek commented on #22617
_From @naeemhaq on August 25, 2016 17:36_

+10

[2017-03-14 18:24] apotek commented on #22617
_From @ansibot on August 25, 2016 17:45_

@bpennypacker, @willthames, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-03-14 18:24] apotek commented on #22617
_From @naslanidis on August 25, 2016 22:27_

Just an FYI, if you're seeing this:

fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Failed to create instance: Standalone DB Instances are not supported for the specified engine"}

It's because you need to have an Aurora cluster created before you try and create the Aurora instance and you must pass the cluster name as one of

[2017-03-14 18:24] apotek commented on #22617
_From @naslanidis on August 29, 2016 1:3_

FYI I've added PR for a new module to manage RDS clusters for Aurora if anyone wants to use/test.

https://github.com/ansible/ansible-modules-extras/pull/2804

[2017-03-14 18:24] apotek commented on #22617
_From @ienliven on September 1, 2016 0:58_

rds_cluster works great, well done! how do I create the actual instance inside the cluster ? rds module does not seem to support it. I am getting "Failed to create instance: Standalone DB Instances are not supported for the specified engine"

[2017-03-14 18:24] apotek commented on #22617
_From @naslanidis on September 1, 2016 1:10_

@ienliven

At least when using the boto3 api, there's an argument called 'DBClusterIdentifier' where you pass the name of your cluster when creating the instance. That's what it's complaining about when it says standalone isn't supported, it needs to know which cluster to join.

https://boto3.readthedocs.io/en/latest/reference/services/rds.html#RDS.Cli

[2017-03-14 18:24] apotek commented on #22617
_From @naslanidis on September 1, 2016 1:41_

@ienliven

https://github.com/naslanidis/ansible-modules-extras/blob/updated_rds_boto3_module/cloud/amazon/rds_boto3.py

[2017-03-14 18:24] apotek commented on #22617
_From @ienliven on September 1, 2016 3:56_

@naslanidis You rock! Thanks

[2017-03-14 18:24] apotek commented on #22617
_From @ansibot on September 12, 2016 16:58_

@bpennypacker, @willthames, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-03-14 18:24] apotek commented on #22617
_From @ansibot on October 6, 2016 14:57_

@bpennypacker, @willthames, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-03-14 18:24] apotek commented on #22617
_From @willthames on October 21, 2016 7:40_

@naslanidis I am one of the (inactive) current maintainers of the rds module, and I'd be happy to get a PR in that implements boto3 while maintaining boto2.rds2 compatiblity, if possible.

[2017-03-14 18:24] apotek commented on #22617
_From @willthames on October 21, 2016 7:40_

needs_contributor

[2017-03-14 18:24] apotek commented on #22617
_From @willthames on October 21, 2016 7:45_

Relies on #5343

[2017-03-14 18:24] apotek commented on #22617
_From @naslanidis on October 21, 2016 8:37_

Hi @willthames

I needed an updated version of this module a little while ago so I've finished it for boto3.

https://github.com/ansible/ansible-modules-extras/pull/2845

I don't mind collaborating to merge it all into one module that supports boto 2 and 3. I purposely reused as much as possible and kept it in the same style in case of that exact possib

[2017-03-14 18:24] apotek commented on #22617
_From @willthames on October 21, 2016 9:31_

@naslanidis if it's feature compatible after a rewrite to boto3, and we can get agreement on #2845 (or just point to the list discussion), then I'd be happy for the boto3 version to replace the boto2 version in 2.3. Given your contribution it would likely make sense for you to be a maintainer for the module if you can spare the time (I just posted a req

[2017-03-14 18:24] apotek commented on #22617
_From @naslanidis on October 30, 2016 2:6_

Hi @willthames

I'd be willing to be a maintainer for the boto3 version of this module and can spare the time. I've not done much with earlier boto versions so it would be more difficult for me to maintain backwards compatibility but if that's not such a concern in Ansible 2.3 onwards then I'd be well suited to assisting.

[2017-03-14 18:24] apotek commented on #22617
_From @ansibot on December 7, 2016 18:28_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-03-14 18:26] kwidholm-tm commented on #22617
As instructed at bottom of https://github.com/ansible/ansible-modules-core/issues/3180, I have moved this to ansible/ansible

[2017-03-14 18:28] kjartansible commented on #22617
+1

[2017-03-14 18:31] kclausen-tm commented on #22617
+1

[2017-03-14 18:33] apotek commented on #22617
As instructed at bottom of ansible/ansible-modules-core#3180, I have moved this to ansible/ansible

[2017-03-14 19:15] itdependsnetworks opened #22619 "IOS_CONFIG offline"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

IOS_CONFIG
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu
python virtual env for 2.3
##### SUMMARY

Offline mode is not working in 2.3, updates from src is not working in 2.2.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No connection tried, shows updates intended to push.

##### ACTUAL RESULTS

[2017-03-14 19:22] dathelen commented on #21901
For what its worth we see this issue on almost any playbook run with eos_command or eos_config using 2.2.1.0 and 2.2.2.0 and using transport using eapi.  If you need more details from a recreate let me know I am happy to help.

[2017-03-14 19:32] itdependsnetworks commented on #22372
was having another issue with ios_config, thought might have been the same. I do not believe there is an issue here.

1. eigrp network statements have to be put in via wildcard mask (ios auto-convert's them), but ios_config is not meant to have that intelligence.
2. ip route's are invalid
3. ip address statements have extra spaces between them. e.g. `ip address<2 spaces>x.x.x.x x.x.x.x`

[2017-03-14 20:00] #22494 closed, assigned to rcarrillocruz

[2017-03-14 20:47] mxlan opened #22622 "S3 module documentation should cover minimal amount of S3 actions needed to function"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

s3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

RedHat / aws linux

##### SUMMARY

Attempting to download objects from s3 using ansible on aws instance.
Encountering 403 Forbidden along the way.

Finally trimmed down the required actions for get to:
                "s3:GetObject",

[2017-03-14 20:50] bcoca commented on #19131
so this is a consequence of pip being able to take a 'list of packages' now, you should be able to work around it by avoiding the k=v syntax:
[code]

[2017-03-14 20:53] fxfitz commented on #18108
It's coming! I swear! We keep wanting to fix as many bugs as possible, but more keep cropping up.

I'm starting to think that's a bad approach though. Just need to find time to make our tests like the ones already in the Ansible repo. :-/

[2017-03-14 21:04] dagwieers commented on #18108
@fxfitz You still have time, until the v2.4 feature freeze in 4 months or so :-) The patch didn't cut it, and there's an obscure issue with it that I do not understand (yet). It worked for my tests though.

[2017-03-14 21:13] s-hertel commented on #22622
Duplicate of #22552.

[2017-03-14 21:29] yves-vogl commented on #22531
@alikins Thanks! I think it's at least an improvement to avoid this to stick to the principle of least surprise.

[2017-03-14 21:34] krzysztof-magosa commented on #22579
You can register result of task and then notify just one handler which will base on registered variable.

[2017-03-14 23:37] #22575 closed, assigned to nitzmahone

[2017-03-14 23:47] RokLenarcic commented on #16918
@tima @winggundamth

I've noticed that the issue with the user arises because no user is specified when running rsync, so the current user of delegate_to host is used (doesn't matter if it's local connection or ssh).

[code]

So it connects to `myhost.mydomain.com` with the user that was used to SSH to delegate_to host with, or in case of `ansible_connection=local` with the local user.

[2017-03-15 00:36] snowsky commented on #22602
This is a urllib2 bug.

[2017-03-15 00:59] #22565 closed, assigned to resmo

[2017-03-15 02:08] willthames commented on #22617
I'm not really working on fixing issues with existing rds.

If you're able to test the new rds_instance module, that would be greatly appreciated

https://github.com/ansible/ansible/pull/19772

I can't recall at this point whether it has cluster support, but I'll endeavour to add it if not.

[2017-03-15 02:19] hany commented on #20711
I'm having the *exact* same issue with the same repo as well. I wonder if it's an issue with this repo/GPG key as opposed to Ansible.

[2017-03-15 03:18] aarongo opened #22631 "macOS 10.12"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

hostfile = /Users/lonny/Documents/Ansible_Book/playbooks/inventory
roles_path = /Users/lonny/Documents/Ansible_Book/playbooks/roles
##### OS / ENVIRONMENT

macOS 10.12
##### SUMMARY

##### STEPS TO REPRODUCE

failed: [172.31.10.100] (item=[u'Dependent']) => {"failed": true, "item": ["Dep

[2017-03-15 03:44] fly2F opened #22632 "plugins/filter/core.py line:204 if isinstance(end, (int, long)), in python3 no type long"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-03-15 03:48] #22632 closed, assigned to nobody

[2017-03-15 03:49] pyandi commented on #22632
source code have fix this bug

[2017-03-15 04:21] nareshku opened #22633 "slow ansible-playbook commands with dynamic inventory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
dynamic inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
inventory      = /etc/ansible/abc_inventory
forks          = 500
sudo_user      = ***
ask_sudo_pass  = False
ask_pass       = False
force_color    = 1
gathering = explicit
host_key_checking = False
notification_callback = somejsonfile
callback_whitelist = profile_

[2017-03-15 04:28] akaradzha commented on #22595
thank you for your reply! I'v checked twice indentation, and it was on task level.
Error msg "'with items' is not a valid attribute for a Task " clearly confirms that

[2017-03-15 04:47] JJediny commented on #22435
@jctanner ansible-container currently doesn't support vault decryption on build, but in general, the use case is that vault should be an optional parameter of any variable. it doesn't make sense that it should be hardcoded in a role.
- https://github.com/ansible/ansible-container/issues/381
- https://github.com/ansible/ansible-container/issues/345

[2017-03-15 04:52] JJediny commented on #22435
I see there was support/docs added for this, but regardless I think it still makes sense to be able to swap vaulted variables with plain text variables in config and not have to manage that within the {{ }} within roles/playbooks. Feel free to close as there is now a viable solution re:
- https://github.com/ansible/ansible-container/commit/a05998d41bc65176acd6ed47255d7fac6eb2fd38
- https://github.

[2017-03-15 05:48] PenguinzTech opened #22635 "Apache Enable Module... Module fails if already enabled"
Verify first that your issue/request is not already reported on GitHub.
Also test if the latest release, and master branch are affected too.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
http://docs.ansible.com/ansible/apache2_module_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Ansible apache module fails if evasive is already enab

[2017-03-15 07:05] robinro commented on #22635
@theshades Thanks for this bug report.

Which OS/version are you using?

I can reproduce the issue with ubuntu 16.04. The reason is that `apache2ctl -M` outputs `evasive20_module` instead of `evasive_module`, which breaks this module.

This problem is similar to
https://github.com/ansible/ansible-modules-core/issues/5779, https://github.com/ansible/ansible-modules-core/issues/4744, https://github.

[2017-03-15 09:36] n0trax commented on #22635
@theshades Thanks for this bug report.

I can reproduce this issue too...

@robinro I agree with you.

[2017-03-15 09:47] KORPSE opened #22638 "docker_image task with archive_path loads an full image to a memory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_image

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A
##### SUMMARY
Executing a task of archiving docker image to tar-file completely loads it into memory before writing to HDD. It could result with out-of-memory error if image is bigger than available amount of memory.
It looks like for some reasons request

[2017-03-15 09:56] manjitkumar commented on #20135
This behavior varies between ansible==2.1.0 and ansible==2.1.2

[2017-03-15 10:21] regexcracker opened #22639 "Ansible trying to connect remote host for local playbook"
##### ISSUE TYPE

 - Bug Report

##### ANSIBLE VERSION
ansible 2.1.0.0

##### CONFIGURATION
ansible.cfg

Added remote_tmp=/Home/Vagrant

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Included two sub playbooks in one playbook. One runs on local host and other on remote hosts. While running the main playbook, Local playbook trying to connect with local user on remote host. So getting host unreachable e

[2017-03-15 10:23] dagwieers commented on #22631
You will have to share a lot more of what you are doing if you expect anyone to be able to help you.

My first guess is that you are running the yum-module on a target node that does not have yum installed (or does not even use yum for package management).

[2017-03-15 10:33] dagwieers commented on #22612
I added an example to show end-users this is possible.

[2017-03-15 11:35] Fale commented on #22612
Thanks :).
It seems like it was not the case on Ansible 2.2

Cheers

[2017-03-15 12:03] dagwieers commented on #22554
We don't have any integration tests for win_firewal_rule. It's on my todo-list and I will make sure we do test this use-case as well.

[2017-03-15 12:31] TJuberg commented on #22600
I'll do some more testing when i get a chance tomorrow.

But I setup an Ubuntu 16.04 VM today just to test on yet another system, source install this time to ensure nothing else could be interfering.
[code]

Same junos_facts playbook as previously mentioned.
Same result and log output as my original comment.
Wireshark again shows no traffic even going out from the system when ansible runs.

So I n

[2017-03-15 12:39] TJuberg commented on #22600
Adding to the above.

On the fresh Ubuntu VM
[code]
While waiting for the 10 second timeout I wanted to quickly check if the socket was created from another shell on the same system
[code]
So something is preventing the socket from being created

[2017-03-15 12:39] itdependsnetworks commented on #19442
PR was put in, but was not accepted, so no reason to keep issue in.

[2017-03-15 12:39] #19442 closed, assigned to nobody

[2017-03-15 12:56] jctanner commented on #22371
@scottsb if that vagrant box is public, then maybe there's a chance for others to reproduce. If you could, please share the vagrant file and playbooks.

[2017-03-15 12:59] jctanner commented on #22371
@Harosgr we're missing some information. Please provide the following:

1) An example playbook
2) Details of the controller machine AND the remote node
3) entries for the remote node in the inventory and any relevant vars
4) ansible-playbook -vvvv output.

needs_info

[2017-03-15 13:05] jctanner commented on #22633
@nareshku please provide an example playbook/task

needs_info

[2017-03-15 13:26] ikkaro commented on #22240
In a big environment it's very difficutl to know the vm folder , for me this feature is really interesting.

[2017-03-15 13:28] jctanner commented on #22639
@regexcracker There's no indication in the output that a remote connection attempt was made. The error implies that the control host has a permission problem on the remote_tmp dir.

[code]

Please try to run this command on the controller machine as the vagrant user and show us the result ..

[code]

needs_info

[2017-03-15 13:31] bcoca commented on #22639
`hosts: localhost ansible_connection=local` <= this is not a thing, use

[code]

[2017-03-15 13:31] nerzhul commented on #22240
@ikkaro the removed feature which scan to find the folder take 2 minutes to find the folder on a 2k vm ~100 folders

[2017-03-15 13:38] ikkaro opened #22644 "vmware_guest_snapshot don't find vm if not folder is specified"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest_snapshot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

ArchLinux

##### SUMMARY

If you want to take a snapshot from a VM without specify the vm folder is not possible.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A snapshot should be created.

##### ACTUAL RESULTS

The VM is not

[2017-03-15 13:42] jean-christophe-manciot commented on #18974
Still there with ansible 2.3.0 installed today with ```pip install git+git://github.com/ansible/ansible.git@devel``` with the same symptom.

[2017-03-15 14:00] hanej commented on #9065
@benjamincburns You asked for an example of using group_vars that satisfies the current loading method but breaks if only using the immediate groups.  I provided that with the datacenter example.  If Ansible doesn't load variables for all groups, then you cannot set variables, for example, at a datacenter level.

I believe this should be a toggle in ansible.cfg or on the command line so you can sp

[2017-03-15 14:09] vsakarov commented on #14543
Here are some additional cases that might be relevant for this issue. If you forget to check if variable is defined and you have complex expression with such check, evaluation of the whole expression can be anything.

[code]

[2017-03-15 14:10] dagwieers commented on #16243
@nitzmahone Shall I close this one ? Or do we want to spend some effort on this despite the limitations ?

[2017-03-15 14:11] #22485 closed, assigned to nobody

[2017-03-15 14:17] jdkindy commented on #11905
This also seems to change "On" and "Off" to true and false.

[2017-03-15 14:19] hehe2 commented on #16243
Hi,

I finally achieved to get pem/pfx/key using a cloudbase-init script that I modified to comment the removal of the temp dir containing the key file.

Now, cert auth work using ansible *BUT* now, since the solution doesn't provide any support for proxying such https connections (WinRM uses HTTPS), I have to handle NAT port based to access my proxyfied hosts...

My Ansible inventories will be re

[2017-03-15 14:20] nitzmahone commented on #16243
You can leave it open if you like- I'll still include some info in the new
docs about it, though it'll be lower priority than other stuff...

On Wed, Mar 15, 2017 at 7:10 AM, Dag Wieers <notifications@github.com>
wrote:

[2017-03-15 14:21] scottsb commented on #22371
@jctanner: Our base Vagrant file is the generic `bento/centos-6.7`. Unfortunately, I can't share the full playbooks, as they are proprietary. However, I've subscribed to this issue, and if I see any further parallels between our situation and the original report here, I'll mention them.

[2017-03-15 14:24] dagwieers commented on #16243
@hehe2 socks-support is a complete new feature request, however you can socksify anything you like transparently (look at dante, dsocks or tsocks). So running this with ansible should work.

[2017-03-15 14:33] hehe2 commented on #16243
@dagwieers Well, I duno what would my hosts inventory look like using such tsocks/dsocks tool...

I mean, I can have IP overlapping on my remote network (behind the proxy) so I really think this would simplify the things a lot if that was already specified and handled "out of the box" in Ansible.

Sorry for the new feature request, it's not supposed to be put in here but since you can't have proxy

[2017-03-15 14:33] s-hertel commented on #22537
Looking into this more, I think it's just a problem with the task. When I changed the test to use subnets (using the `vpc_zone_identifier` option) the task doesn't time out. It's weird to me that AWS is allowing ASG to be created without subnets though since using their console that's not an option. I'll improve the documentation for this and work on fixing the test.

[2017-03-15 14:36] dagwieers commented on #16243
@hehe2 You don't modify the inventory for socks support, you would run ansible using a socks client (overloading glibc network calls). And you configure the socks client to socksify specific connections only. So that only those networks/targets that need to use SOCKS will use it.

[2017-03-15 14:37] dagwieers commented on #16243
But again, this has no relation to this issue. If you would have opened a new issue for this, the discussion would have taken place where it would be found by others more easily.

[2017-03-15 14:56] chroche opened #22647 "apt_key returns 403 Forbidden when downloading OpenVPN GPG key"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt_key

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
apt_key fails when trying to download GPG key from OpenVPN web site:
[code]

##### STEPS TO REPRODUCE
The following task triggers the error:
[code]

##### EXPECTED RESULTS
Key is downloaded and added to the APT GPG public keyring

##### ACTU

[2017-03-15 15:05] s-hertel commented on #22445
Seems to be related to #20653

[2017-03-15 15:05] dagwieers commented on #16243
@nitzmahone I think it's better to close it. The current documentation already covers better alternatives for most cases.

[2017-03-15 15:05] #16243 closed, assigned to nobody

[2017-03-15 15:21] Harosgr commented on #22371
@jctanner

1. I already gave an example in my original post. Here is the full playbook:
[code]
(and the python script)
[code]

2. Here are some details. Tell me if you need something else.
For the controller
[code]

For the remote node
[code]

3. In the inventory
[code]
4. Here is the full output (-vvvv)

[code]

[2017-03-15 15:34] robinro commented on #22635
I openes a PR #22649 to fix this and run it in the integration tests.

@theshades Please test whether this fix works for you.

@n0trax I startes a list of searches/replacements to better organize our workarounds. Please comment on that. I got rid of the use of the `re` module, which was actually not needed.

[2017-03-15 15:44] nareshku commented on #22633
@jctanner

# playbook to sync some files across all hosts

- hosts: "group1-{{ dc }},group2-{{ dc }}"
  tasks:
    - file: path=path state=directory owner=user group=group mode=0755 recurse=yes
      become_user: root
      become_method: sudo
      become: true
    - name: sync some files
      synchronize:
        dest: "path"
        src: "src_path"
        mode: push
        recursive: true

[2017-03-15 16:15] ar7z1 commented on #22554
PR for this issue: #22555

@dagwieers, can I help you with the tests for `win_firewal_rule` module?

[2017-03-15 16:22] guenhter commented on #22530
Got problems too:

[code]

Error:
[code]

[2017-03-15 16:25] jean-christophe-manciot commented on #18974
With ansible 2.2.1.0, the symptom is different:
[code]

[2017-03-15 16:56] denisemauldin commented on #22452
@sivel That would be nice, but it doesn't work.  Maybe I should file a bug report?

[code]

Results in

[code]

It doesn't expand the virtualenv parameter setting it with vars:
```'/bin/sh -c '"'"'{{ virtualenv_application_home }}/bin/python /home/vagrant/.ansible/tmp/ansible-tmp-1489596669.84-79073289338087/mysql_db.py && sleep 0'"'"''```

This works, but it seems like a kludgy work around to set

[2017-03-15 16:59] prakhead opened #22653 "ovirt_nics not setting network/profile other than ovirtmgmt"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ovirt_nics

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

ovirt_nics is not setting the requested "network" and "profile" if they differ from "ovirtmgmt" even though I can select the requested network from the webGUI.
##### STEPS TO REPRODUCE

Create a test VM in oVirt called "testVM" without a NIC
E

[2017-03-15 17:13] dagwieers commented on #22554
@ar7z1 That would be very much appreciated. Tests are quite easy to do, as you simply create a playbook that runs and tests everything and it should complete successfully. I recently made an example for win_scheduled_task that does both idempotency and check-mode tests (using a single set of tasks):
https://github.com/ansible/ansible/tree/devel/test/integration/targets/win_scheduled_task

[2017-03-15 17:13] dagwieers commented on #22554
shipit

[2017-03-15 17:14] #19344 closed, assigned to nobody

[2017-03-15 17:31] gundalow commented on #22631
I'm going to close this, please fill edit the issue and fill in the template so we know what the issue is.

[2017-03-15 17:31] #22631 closed, assigned to nobody

[2017-03-15 17:47] nitzmahone opened #22655 "Inconsistent environment handling for Windows tasks"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The new Windows exec wrapper gives us the chance to clean up and unify environment handling across Ansible. It's currently inconsistently applied (eg, doesn't work on `script`).

[2017-03-15 18:00] JeanFred commented on #15475
I had this issue in 2.2.0, and it appears fixed in 2.2.1

[2017-03-15 18:28] jcaudle commented on #17439
@mateodelnorte @brupelo I just found [a post on the Google Group](https://groups.google.com/forum/#!searchin/ansible-devel/windows$20control|sort:relevance/ansible-devel/45DygWennoc/oHpJYSo5EgAJ) about using the Windows Subsystem for Linux. Apparently, using WSL and installing ansible there will do it.

[2017-03-15 18:34] mateodelnorte commented on #17439
Unfortunately, don't have access to Windows 10 or the equivalent version of
Windows Server.

On Wed, Mar 15, 2017, 2:29 PM Joseph Caudle <notifications@github.com>
wrote:

[2017-03-15 18:39] jcaudle commented on #17439
I don't have Windows 10 installed now either, but I was planning on
upgrading soon. My guess is that with the availability of a Linux subsystem
anywhere in the Windows world, the probability of a native Windows solution
for a control machine is even less than it was before. 😕

On Wed, Mar 15, 2017 at 14:34 Matt Walters <notifications@github.com> wrote:

[2017-03-15 18:41] jralbert opened #22659 "syslog_json callback doesn't cast SYSLOG_PORT value from environment as integer"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

syslog_json callback plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Specifying SYSLOG_PORT environment variable to target a non-default port:
SYSLOG_PORT=1514

##### OS / ENVIRONMENT
Redhat 6 (but this should affect any UNIX platform)

##### SUMMARY
The syslog_json callback plugin allows configuration of its target port by specifyi

[2017-03-15 18:45] brupelo commented on #17439
So, summing up, there is no (and there won't be) any real solution for versions smaller than windows 10 , ie: Using now windows7 ultimate.

This software is amazing but the fact was built primarily for *nix systems is not cool. I can put my finger on the fact there are many devs like me using primarily windows as a dev platform but they're deploying on *nix systems. Anyway, at least there is some

[2017-03-15 19:29] johnboy2 opened #22660 "Windows/psremoting doc suggestions"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
win_shell
win_command
win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
On Ansible's side: ansible_winrm_transport
On the Windows' side: psremoting via SSL, and which windows logon authentication types are enabled

##### OS / ENVIRONMENT
Windows Server 2012 R2

##### SUMMARY
Some remote commands require "multi-hop" sup

[2017-03-15 20:35] KpaBap opened #22661 "ec2_eni_facts: "There is an issue in the code of the module. You must specify either both, resource or client to the conn_type parameter in the boto3_conn function call""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2_eni_facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Simply trying to look up an ENI with this module results in the error above.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected to get back the ENI facts.

##### ACTUAL RESULTS

An error is generated and the playbook f

[2017-03-15 20:40] branghold commented on #22131
@jylenhofgfi thank you very much, problem is fixed. Sorry for disturbing.

[2017-03-15 20:40] #22131 closed, assigned to nobody

[2017-03-15 20:49] 9us7av0 opened #22662 "os_port: unexpected keyword argument 'device_id'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
os_port

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-03-15 20:49] KpaBap commented on #22661
This same error appears in the latest development build:
ansible 2.4.0 (devel 517cdbe22a) last updated 2017/03/15 13:45:57 (GMT -700)

This is completely breaking my ansible workflow as basic functionality appears completely broken.

[2017-03-15 20:55] johnboy2 opened #22663 "Module proposal: win_wininet (configure IE proxy settings)"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
win_wininet (proposed name)

##### ANSIBLE VERSION

[code]

##### SUMMARY
It hard/non-obvious to configure the ansible_user's "Internet Options" proxy configuration on Windows. This proposal suggests adding a new module to do that.

The potential benefit is that various other downloaders could then be made to work *implicitly* using wininet.d

[2017-03-15 21:16] regexcracker commented on #22639
@jctanner
Below error is encountered because playbook having ansible hosts and connection as Local and it tries to create directory on localhost at path:/Home/vagrant (which is remote location as per ansible.cfg).

you may have been able to authenticate and did not have permissions on the remote directory
Failed command was: ( umask 77 && mkdir -p ..

@bcoca
Tested with below configuration but not

[2017-03-15 21:29] jralbert commented on #22659
Submitted pull request https://github.com/ansible/ansible/pull/22664 to fix this issue.

[2017-03-15 21:31] bcoca commented on #22639
@regexcracker, it will not fix the error message, but is a correct play, what you posted above is not. Your error comes from a permissions issue on the target.

[2017-03-15 22:06] #11934 closed, assigned to nobody

[2017-03-15 22:18] regexcracker commented on #22639
Issue resolved by updating remote_tmp to /tmp in ansible.cfg

Thanks @bcoca and @jctanner

[2017-03-15 22:19] #22639 closed, assigned to nobody

[2017-03-15 22:49] pboesch opened #22668 "Blockinfile using |2 for indentation issue with marker"
Hello,

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
blockinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Nothing special

##### OS / ENVIRONMENT
Ansible running from Debian/ArchLinux, managing a FreeBSD server, seems not to be specific of distribution.

##### SUMMARY
When I used blockinfile with content |2 * to indent configuration and personnal 'marker', whenever I started pla

[2017-03-15 22:53] ack opened #22670 "A colon breaks debug module?!?"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
debug

##### ANSIBLE VERSION
2.1.1.0 through 2.2.1.0

##### CONFIGURATION

##### OS / ENVIRONMENT
ubuntu

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

PLAYBOOK: wtf.yml **************************************************************
1 plays in wtf.yml

PLAY [localhost] **************************************************

[2017-03-15 22:54] endejoli opened #22671 "'AnsibleSequence' object has no attribute 'keys'"
##### COMPONENT NAME
playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
 I am getting below error while executing playbook. Any help will be appreciated.

ubuntu@i5:~/ansible$ ansible-playbook playbooks/hostname.yml

ERROR! Attempted to read "/home/ubuntu/ansible/playbooks/hostname.yml" as YAML: 'AnsibleSequence' object has no attribute

[2017-03-15 22:55] lxhunter commented on #17636
Please update (example)[http://docs.ansible.com/ansible/playbooks_loops.html#looping-over-hashes]

It shows the old way and throws an error as described

[2017-03-15 23:33] KpaBap commented on #22661
I ran "pip install --upgrade boto3" and this magically resolved itself.

[2017-03-15 23:33] #22661 closed, assigned to nobody

[2017-03-15 23:39] dmrzzz commented on #17086
+1, particularly for use with ansible-pull (where the whole point is to operate on localhost).

Of course I can manually create an `/etc/ansible/hosts` consisting solely of

    localhost ansible_connection=local

but that defeats the purpose of offering implicit localhost (and adds to the list of bootstrapping tasks that must be performed before launching ansible-pull)

[2017-03-15 23:44] yinonby opened #22672 "bash crash"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook
2.2.1.0
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
from: centos 7: 3.10.0-514.10.2.el7.x86_64
to: ubuntu 16.10 4.8.0-22-generic

##### SUMMARY
Executing a bash script crash on common bash commands within the script, randomly. When I execute this script manually it works fine. Isolated the issue, se

[2017-03-15 23:45] LaurentDumont opened #22673 "Add an apt upgrade='apt-upgrade' option that runs `apt-get upgrade`, not aptitude."
_From @dotsdl on July 16, 2015 18:37_

##### Issue Type:

“Feature Idea”

##### Component Name:
apt module

##### Ansible Version:

ansible 2.2.0
##### Ansible Configuration:

N/A
##### Environment:

Debian 8.6
##### Summary:

Add an apt upgrade='apt-upgrade' option that runs `apt-get upgrade`, not aptitude.
##### Steps To Reproduce:

I would like to be able to run a task like:

[code]

that is eq

[2017-03-15 23:45] LaurentDumont commented on #22673
_From @abadger on July 21, 2015 14:28_

#142 mentions a hold feature of both aptitude and apt-get.  I wonder if adding the hold functionality is the better route to implement this behaviour.  "apt-upgrade" seems much more like an implementation detail than a generic hold parameter.

[2017-03-15 23:45] LaurentDumont commented on #22673
_From @rpijlman on January 5, 2016 15:42_

I agree we need a way to run "apt-get upgrade" from the apt module. Main reason: the documentation Upgrades from Debian 7 [says explicitly](https://www.debian.org/releases/stable/i386/release-notes/ch-upgrading.en.html#updating-lists):

It recommends to upgrade from wheezy to jessy by:
1. apt-get update
2. apt-get upgrade
3. apt-get dist-upgrade

The upgr

[2017-03-15 23:45] LaurentDumont commented on #22673
_From @mrlesmithjr on January 11, 2016 20:58_

I agree completely here as well. I personally do not feel confident enough to initiate a play using the current supported modes of updating. Therefore as others resort to just running a command action to run apt-get upgrade -y...which as I have seen lately causes some hosts to fail and then require going to each one to run dpkg --configure -a or throw

[2017-03-15 23:45] LaurentDumont commented on #22673
_From @davidjpeacock on January 22, 2016 1:20_

Just another voice; I'd like to see a regular 'apt-get upgrade' equivalent implemented too.

[2017-03-15 23:45] LaurentDumont commented on #22673
_From @dotsdl on March 13, 2016 23:7_

What's the way forward with this? Is it easy enough to add an option like the one I proposed that doesn't break current behavior?

[2017-03-15 23:45] LaurentDumont commented on #22673
_From @wshelley on March 30, 2016 22:1_

I agree. I assumed this 'feature idea' would be the default behaviour

[2017-03-15 23:45] LaurentDumont commented on #22673
_From @mamoit on April 22, 2016 11:25_

:+1:

[2017-03-15 23:45] LaurentDumont commented on #22673
_From @cadmi on June 4, 2016 11:28_

yep, that would be great... now we have to do a workaround

[code]

[2017-03-15 23:45] LaurentDumont commented on #22673
_From @ansibot on August 1, 2016 3:12_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2017-03-15 23:45] LaurentDumont commented on #22673
_From @ansibot on September 12, 2016 21:23_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-03-15 23:45] LaurentDumont commented on #22673
_From @ansibot on October 6, 2016 15:56_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-03-15 23:45] LaurentDumont commented on #22673
_From @kstegemoller on October 19, 2016 17:32_

Is there any movement on this? I would prefer not to have to install aptitude but instead use the default installed apt-get. Thanks for the great tool.

[2017-03-15 23:45] LaurentDumont commented on #22673
_From @seb1281 on October 26, 2016 11:16_

I'd also appreciate this functionality and have another suggestion for an option -> security

We have several servers that are only updated once or twice a year, when our people find the time to do it. A apt-get upgrade always holds the risk of installing updated package that break software made by us. But security-updates are really needed. Right now I'm

[2017-03-15 23:45] LaurentDumont commented on #22673
_From @ansibot on December 7, 2016 17:59_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-03-15 23:46] LaurentDumont commented on #22673
I've moved this issue from the old issues repo. Not sure if the auto-mover did the job correctly. I couldn't find a similar issue in the new repo.

[2017-03-16 00:22] ghost opened #22674 "ConfigureRemotingForAnsible.ps1 fails to run on Windows 10 Powershell 5."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ConfigureRemotingForAnsible.ps1

##### ANSIBLE VERSION
N/A

I downloaded the script from link on the Ansible Windows Support web page (http://docs.ansible.com/ansible/intro_windows.html)

https://github.com/ansible/ansible/blob/devel/examples/scripts/ConfigureRemotingForAnsible.ps1

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
fresh install o

[2017-03-16 01:18] dagwieers commented on #22670
No, it is part of the YAML standard. http://docs.ansible.com/ansible/YAMLSyntax.html#gotchas

You may want to use the YAML syntax instead:
[code]
Or do:
[code]

notabug

[2017-03-16 01:20] ack commented on #22670
that's right. sorry for my confusion.

[2017-03-16 01:20] #22670 closed, assigned to nobody

[2017-03-16 01:22] mikefaille commented on #17636
Yes, moreover, if we use :

[code]

Ansible must suggest this form :

[code]

[2017-03-16 02:02] seljuck commented on #16456
+1

[2017-03-16 02:07] drewdogg opened #22676 "jinja2 replace filter does not replace carriage return character"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

raw and debug
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

##### STEPS TO REPRODUCE

I have a playbook where I need to strip out carriage returns from the raw module stdout output.  However, it is not working as expected.  For the sake of example, I replace

[2017-03-16 03:41] naarumanchi opened #22678 "after running my yml script, I am just getting "Play RECAP" and nothing more"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]
---
- hosts: IM
  become: true
  become_user: test
  tasks:

  - name: 1. copy the file
    copy:

      src: /home/test/IMInstall.yml
      dest: /home/test/

##### EXPECTED RESULT

[2017-03-16 05:02] ag-wood commented on #18417
I am seeing this same behaviour in ansible 2.2.1.0 - Is there a work-around for this?  Previously working plays are not failing due to the dependency clash.   This is very confusing behaviour.

[2017-03-16 05:38] jborean93 commented on #22660
Thanks for the input, the docs definitely needs to be improved and is on the cards for some of the Core team to look at. There is already some (albiet very minimal) docs on credential delegation (double hop) on the docs right now and the auth mechanisms that support this but I agree it can use with some TLC.

[2017-03-16 06:27] gaxuhongyu opened #22682 "Inventory group name too long playbook is not execute"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- playbook
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg file is default only uncomments the fellow line：
host_key_checking = False
##### OS / ENVIRONMENT

root@work30:~/yuntu-ansible|⇒  uname -a
Linux work30 3.10.0-514.6.1.el7.x86_64 #1 SMP Wed Jan 18 13:06:36 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

root@work30:~/yuntu-ansi

[2017-03-16 08:25] ikkaro commented on #22644
@jctanner the VM is inside DDCC, but is not found.
In this way the VM is found, and the snap is taken.
[code]
In this way the VM is not found:
[code]

[2017-03-16 09:00] TJuberg commented on #22600
@privateip @stacywsmith
In summary:
* Using Junipers own get_facts works fine on 2.2 and 2.3.
* Ansibles get_facts works fine on 2.2.
* Yes, netconf is configured for port 22 and working, using port 830 in the play gives the exact same behaviour as well.
* Problem seems to be related to the new persistent connections in 2.3 in regards to sockets
* Permissions should not be the source of the proble

[2017-03-16 09:15] dylanninin commented on #22647
+1, same error here

[2017-03-16 09:25] javadan opened #22683 "Bug: host vars not picking up for some reason"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Host Vars

##### ANSIBLE VERSION
ansible 2.2.1.0

##### OS / ENVIRONMENT
Centos 7

##### SUMMARY
In my playbook, I'm using
`hosts: dockers_all_not_2`

In the hosts file, I added
[code]
at the top of the file.

It used the correct {hosts} but the {vars} for this host group was not used, when I ran my playbook.  Instead a different vars section, m

[2017-03-16 09:27] dylanninin commented on #22647
Thanks @chroche
after adding `http_agent = module.params.get('http_agent', 'Ansible/2.4')`, this issue resolved

[2017-03-16 09:59] chroche commented on #22647
Note: another workaround, that doesn't requires meddling with the code, is to download the key from a GPG key server:
[code]

[2017-03-16 10:14] machacekondra commented on #22653
The real issue is here:

 https://gerrit.ovirt.org/#/c/74168/

But since, we don't do any new upstream releases  of the Python SDK for version 4.0, I've sent a PR, which workaround this issue:

 https://github.com/ansible/ansible/pull/22684/files

[2017-03-16 11:21] SviridovTL opened #22686 "azure_rm_securitygroup fails with templated int values"
**ISSUE TYPE:** Bug Report

 **COMPONENT NAME**: azure_rm_securitygroup

**ANSIBLE VERSION:** 2.2.1.0

**OS / ENVIRONMENT:** Ubuntu 16.04

**SUMMARY:**
When i try to create security group in Azure and specifying that the number of priority will be generated randomly, an error appears
[code]
But when i specifying the priority as an example 600, all is ok.

**STEPS TO REPRODUCE:**
[code]

**EXPECTED

[2017-03-16 11:38] dbarrosop commented on #15460
I think a more general approach would be interesting. Ideally, you should be able to do two things:

1. Capture signals with a `block..rescue..` block, as you would do with any other failure.
2. Setting a callback on the main playbook (this could be a role or another playbook). The role/playbook should have access to the error details so it can understand what needs to be done. This would allow yo

[2017-03-16 11:39] jctanner commented on #22683
@javadan Please indicate what the expected versus actual results are.

needs_info

[2017-03-16 11:41] jctanner commented on #22659
resolved_by_pr https://github.com/ansible/ansible/pull/22664