[2017-04-04 02:32] IanVS commented on #11639
It's been a long time since I opened this, and I don't use ansible at the moment, so feel free to do whatever you want with this issue.

[2017-04-04 02:34] changzhi1990 commented on #22901
Oh, sorry, the above solution resolves my question. Thank you all.

Could you tell me the difference between the
two options？

Thanks
发自我的 iPhone

[2017-04-04 02:40] jctanner commented on #12632
Many users have little problem running from source and typically understand the implications. We quite often ask bug submitters to try the devel version, so I don't see why we would need to hide the possibility in the install docs.

[2017-04-04 02:40] #12632 closed, assigned to nobody

[2017-04-04 04:55] Atoms commented on #11125
Don't know anymore if this is an issue, cause not using anymore this module. So closing this as also this is 2 years old issue.

[2017-04-04 04:55] #11125 closed, assigned to nobody

[2017-04-04 06:16] t2d commented on #11780
We handled our specific case with using the combine filter.

[2017-04-04 06:16] #11780 closed, assigned to nobody

[2017-04-04 06:17] cjw296 commented on #11175
@jimi-c - take @ansibot home, it's drunk again...

[2017-04-04 06:17] srkunze commented on #12610
@ansibot Fixed ;)

[2017-04-04 06:51] upbeta01 commented on #15321
@alikins - I tried testing it. I am getting an error upon running the command `ansible-playbook`. I try to isolate the release by using a `virtualenv`. Did I miss something?

[code]

Here is how it look like on the file structure.
[code]

[2017-04-04 07:02] #20801 closed, assigned to nobody

[2017-04-04 07:23] #13559 closed, assigned to nobody

[2017-04-04 07:28] Moep90 opened #23251 "QUESTION: Ansible Variables for playbooks"
Hey there,

sadly I couldn't find a list of ansible variables which I can use in my playbooks.
For example:
- ansible_os_family
- ansible_distribution_release

[2017-04-04 07:42] jhawkesworth commented on #23251
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-04-04 07:42] #23251 closed, assigned to nobody

[2017-04-04 07:55] graingert commented on #12121
Wow this PR is old

[2017-04-04 08:21] liquidat commented on #14643
##### COMPONENT NAME
windows setup modules

@ansibot: That was already set in the original report, please check your code.

[2017-04-04 08:36] MarkusTeufelberger commented on #23220
Sue, I mostly care about the functionality, not so much about how it is expressed.

[2017-04-04 08:43] Akasurde commented on #22943
@s-hertel I would like to work on this issue. Can you please guide me ?

[2017-04-04 08:48] #12124 closed, assigned to nobody

[2017-04-04 08:49] Hipska commented on #22943
The repo could also be a local bare repo, so pulling from the remote is not needed every time:
[code]

[2017-04-04 08:54] lucymhdavies commented on #12686
Updated in line with new template, for the benefit of anisbot.

I've moved company since raising this, so I no longer use Ansible, and no longer particularly care about this issue.

There are a few workarounds in here, one of which I've confirmed for myself.
https://github.com/ansible/ansible/issues/12686#issuecomment-190797861

But as I'm no longer using Ansible myself (and wouldn't have this iss

[2017-04-04 08:55] urusha commented on #10149
About workaround: in some cases `sort` doesn't work fine, so I use backup's modification time instead of name.  And `xargs -r` (GNU only) to skip empty lists. And `xargs -d '\n'`, `xargs -0` to allow spaces in names. And `tail -n+3` means keep 2 (3-1) last backups.
`shell: find /some/directory -maxdepth 1 -name "orig_filename.*@*~" -type f -print0 | xargs -0r ls -1t | tail -n+3 | xargs -rd '\n' rm

[2017-04-04 09:05] gundalow opened #23252 "ansible & ansible-connection logging 2.4"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-connection

##### SUMMARY

This ticket is to track the ideas for further improving logging, it builds on https://github.com/ansible/ansible/issues/22703 which was included in 2.3

* Provide more feedback directly (`unable to open shell` case)
* Would love to see full raw SSH connection with correct verbosity. Should be possible with so

[2017-04-04 09:07] jklaiho commented on #11921
Edited to fulfill @ansibot request.

[2017-04-04 09:14] gundalow opened #23253 "ansible-connection: Prompt to add ssh keys"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-connection

##### SUMMARY
We need to investigate a way to add ssh keys cleanly without blanket add/ignore.

This would update:

[code]

[2017-04-04 09:21] kustodian commented on #16731
I just ran the test playbook again, but because Ansible became a lot faster, I had to increase the pause to `58s`. But the same bug is still there. I tested it on SSH `5.3p1` and `7.4p1` and it happens on both.

@bcoca that is again a workaround and not a convenient one, because you have to put that `meta` tasks in a few places all the time.

@abadger I don't understand why is it a problem even if

[2017-04-04 09:24] gundalow commented on #22901
@changzhi1990 The following two blog posts explain the changes to networking in Ansible 2.3
https://www.ansible.com/blog/networking-features-in-ansible-2-3
https://www.ansible.com/blog/network-device-authentication-with-ansible-2-3

[2017-04-04 09:24] gundalow commented on #22901
Thank you for confirming this works, closing

[2017-04-04 09:24] #22901 closed, assigned to nobody

[2017-04-04 09:29] jurajama commented on #22826
I'm using this module to command Nokia Nuage VSC element, that is SDN-controller based on the same SROS platform as ex-Alcatel routers. The current version is TiMOS-DC-C-4.0.6-133.1 that is very new build released by Nokia this year.
Ansible version is 2.2.1.0

Here's a playbook where I'm using sros_config to provision configuration from file:
[code]

Configuration file test_system.cfg:
[code]

Wh

[2017-04-04 09:34] luvs commented on #22922
I have the same error when file name have substring like '$USER' which will be replaced by a current OS username. Usual unzip/tar works fine.
Example [bug-with-filename.tar.gz](https://github.com/ansible/ansible/files/892621/bug-with-filename.tar.gz)

[2017-04-04 09:57] rcarrillocruz commented on #23217
@halberom mind trying out the PR linked to this bug?

https://github.com/ansible/ansible/issues/23254

If it works for you, I'll merge.

[2017-04-04 10:00] guenhter opened #23255 "Allow lineinfile to just ensure that a line is present, but not replacing matching existing ones"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing special

##### OS / ENVIRONMENT
Debian 8.7
Linux head 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1 (2016-12-30) x86_64 GNU/Linux

##### SUMMARY
The `lineinfile` always replaces lines when the line matches. This is not always intended.
E.g. if a line in a file should be rolled out

[2017-04-04 10:04] dagwieers commented on #22922
@luvs That is not the same issue, and your issue should be fixed by #21795. Please test with a the v2.3 branch or the devel branch.

[2017-04-04 10:05] ncoghlan commented on #11118
I have a concrete example to point to now regarding the "developer use case" for Ansible: https://github.com/leapp-to/prototype

That's mostly about using Ansible with Vagrant to set up the machines under test, but there's also a pending patch to use it to set up the CI server itself appropriately: https://github.com/leapp-to/prototype/pull/15

The key difference between this and the "normal" Ansi

[2017-04-04 10:09] andybak commented on #12632
During the 1.9 to 2.0 transition it was especially poor advice. There may be other times where breaking changes are about to be introduced where it might be problematic too. I think the advice needs to be slightly toned down and during some periods - removed completely.

That's a very broad statement. Most developers are also very keen on semantic versioning and API stability.

[2017-04-04 10:13] ncoghlan commented on #11118
Also, given that the subsequent discussion drifted a fairly long way from the original point, please let me know if it would make more sense to file a new RFE specifically requesting a developer centric tutorial that introduces things in the order:

*    Learn local ad hoc task execution
*    Learn to write playbooks for repeatability
*    Learn to use roles to describe desired system states
*

[2017-04-04 10:26] jfblg commented on #23058
Hi @gundalow , all,

I've just managed to make it work. I thought it might be useful to inform you about that.

What did I do differently this time? The way I installed Ansible:
- I've cloned the ansible/ansible repository and then executed following commands in a new virtualenv with Python2.7.13 (version of Python stayed the same):
- ```git submodule init```
- ```git submodule update```
- ```pyth

[2017-04-04 10:49] tmshn commented on #16665
@rt711 Okay I can see the extra buggy table inside of the table on the "return values" section.

But about the table on the "options", I can't see any extra rows or columns.

Here's my screenshot (the table is colored blue because I'm using Chrome's dev tool).
![timezone_doc_options](https://cloud.githubusercontent.com/assets/3760893/24653161/a3c3705c-196f-11e7-8abd-51ffb784ad02.png)

[2017-04-04 11:46] ganeshrn commented on #22880
@frederic-loui Can you please try with `update: override` in your playbook.

[2017-04-04 12:11] aurelien-git commented on #15565
hmm this is from a one years trouble ... but .. I will try to get the informations you request.

[2017-04-04 12:32] frederic-loui commented on #22880
Hi,

you mean use "override" instead of "overwrite".
I'm interested in using "overwrite" as per the behaviour described in the
dcumentation.

But I'll test it and get back to you as soon as possible.

All the best,
Frederic

2017-04-04 13:46 GMT+02:00 Ganesh Nalawade <notifications@github.com>:

[2017-04-04 12:32] rolandjohann opened #23257 "zypper_repository crashes when playbook will be executed twice"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`zypper_repository`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

SLES 12 SP2

##### SUMMARY

Module fails if run twice because the repo already exists. Workaround will be to check if repo already exists, but that should be handled bey module. Further there is the chance that this error prevents updates of repos

[2017-04-04 12:48] mbert opened #23258 "Group vars defined under [group:vars] in inventory don't override vars from group_vars/*.yaml"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
./.

##### OS / ENVIRONMENT
Oracle Linux 6.8

##### SUMMARY
Group vars from group_vars/*.yaml override vars defined under [group:vars] in an inventory file.
See the below outputs.

Ansible versions prior to the one above (e.g. 2.2.1.0) handled this correctly.

##### STEPS TO REPRODUCE

I

[2017-04-04 13:02] ryansb commented on #23247
Can you please add an assignee if there's someone responsible for this?

[2017-04-04 13:02] ryansb commented on #23248
Can you please add an assignee if there's someone responsible for this?

[2017-04-04 13:05] robinro commented on #23257
@rmmjohann Thank you for this bug report.

The zypper_repository currently does not support idempotency in combination with `.repo` files.

Idempotency only works with name+URL:
[code]

Implementing idempotency with `.repo` files requires more effort, since one needs to download and parse the file to extract the name and URL to check for existence. Zypper itself does not store any information for

[2017-04-04 13:08] ryansb commented on #23255
I think this is intended behavior. We try to keep each individual module on the simpler side, and make sure there's facilities to compose simpler modules to get what you need done. If you need to not automatically replace something you can use the `find` module to check the contents and store the list, like:

[code]

That'll look in the versions file, and if there is a line you want to be there, t

[2017-04-04 13:08] #23255 closed, assigned to nobody

[2017-04-04 13:10] smoyer64 commented on #16130
@jctanner No worries - at least it didn't turn into the sort of problem Microsoft had with Tay!

[2017-04-04 13:27] gundalow commented on #23247
needs_contributor We are looking to the community to assist with this.

We already have a few `fortios` modules http://docs.ansible.com/ansible/list_of_network_modules.html#fortios

[2017-04-04 13:37] gundalow commented on #23248
needs_contributor We are looking to the community to assist with this.

[2017-04-04 13:38] conatus commented on #20109
Hi @gundalow

This remains the case in version 2.2.1.0.

[2017-04-04 13:40] gundalow commented on #23058
@jfblg Thank you for taking the time to explain the issue, I'm glad it's resolved for you. You explained the issue and very well.
It sounds like perhaps the original install wasn't correct, or perhaps there were some conflicts with a previous install?

[2017-04-04 13:47] gundalow commented on #23247
@jmcgill298 @bjolivot As two users of the existing `fortios_*` modules you may be interested in subscribing to this issues.

If you have an existing ideas of what else needs adding feel free to use this issue to track it.

[2017-04-04 13:51] jfblg commented on #23058
@gundalow I used a new/separate virtualenvironment, everytime I installed the Ansible from source.  Therefore, I would exclude conflicts. My understanding of installation process is also not so deep, so I could comprehend why it's working now.

[2017-04-04 13:53] #12128 closed, assigned to nobody

[2017-04-04 13:56] bjolivot commented on #23247
I have some modules in dev, for the moment address, address_group,  services, times, interfaces...etc

[2017-04-04 14:04] #23217 closed, assigned to rcarrillocruz

[2017-04-04 14:06] bcoca commented on #14641
I cannot reproduce locally, can anyone provide a simple reproducer in a current version of Ansible?

[2017-04-04 14:11] nusenu commented on #11185
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
ansible 2.2.2.0

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Allow users to specify required tags (with logical AND)

example:
--tags debian&install
should only run tasks which have the debian and install tags.

[2017-04-04 14:33] jctanner commented on #11753
@ghost 1.9 is no longer supported. If you can reproduce this with 2.2+, please open a new issue.

[2017-04-04 14:33] #11753 closed, assigned to nobody

[2017-04-04 15:30] dapf73 commented on #23079
Yeah, but that would beat the purpose. The idea is to define any number of DNS servers in a list.

I managed to make it work like this. Instead of defining the list this way:
[code]

I definne it this way and it works as expected:
[code]

It looks like the problem is about parsing YAML.

[2017-04-04 15:33] jctanner commented on #11005
Closing due to submitter timeout.

[2017-04-04 15:33] #11005 closed, assigned to nobody

[2017-04-04 15:40] ssmereka commented on #22596
+1

This should check for new image using `pull`, e.g. `docker image pull My_organization/image_name:my_tag`

[2017-04-04 15:49] MKPhil opened #23260 "Add "state" option to win_reboot to allow shutdown and other power states"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_reboot

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Add "state" option to win_reboot to allow shutdown and other power states

##### STEPS TO REPRODUCE
Shutdown.exe has other options to do more than just reboot a server which could be useful in some circumstances.

Suggestion to add a "state

[2017-04-04 16:02] towolf commented on #14641
@bcoca, please see this minimal repro repo: https://github.com/towolf/ansible_local_empty

[2017-04-04 16:11] iat00 commented on #21594
we have the same issue and do not want to use the above workaround. may be dangerous. I deleted those directories ~root/~ oder ~user/~ on all solaris boxes with a big care. Do not use rm -rf or similar commands, if you too want to clean-up later, instead rm -rf .ansible and then rmdir ...

[2017-04-04 16:26] alslater commented on #21594
On 04/04/17 17:12, Afsin Toparlak wrote:

You can use the following in ansible.cfg to reverse the ansible change
to workaround.

remote_tmp = $HOME/.ansible/tmp

--
Al Slater

[2017-04-04 16:46] jhawkesworth commented on #23260
workaround for shutting down

raw: 'Stop-Computer -Force'

[2017-04-04 17:03] joelwking opened #23263 "ios_command & ios_config: copy running-config startup-config timeout due to lack of "file prompt quiet""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_command and ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
inventory      = $HOME/ansible/playbooks/hosts
library        = /usr/share/ansible/:/home/administrator/ansible/playbooks
retry_files_enabled = False

##### OS / ENVIRONMENT
Ubuntu 14.4 as control node
[code]

##### SUMMARY
Encountering timeout trying to send comman

[2017-04-04 17:31] nitzmahone commented on #23249
This isn't an Ansible bug- the Powershell installer uses wusa, which is built on the Windows Update Client API. That can't be used directly under a WinRM session- it will always fail with "Access is Denied" (which corresponds to the wusa.exe exit code of 5, which you can see in the logfile). It will likely fail exactly the same way if you were to run Chocolatey under a Powershell remoting session.

[2017-04-04 17:31] #23249 closed, assigned to nitzmahone

[2017-04-04 17:41] precurse commented on #18719
That's not really an option for me..  I'm using the OpenStack inventory script and the only option of connecting to our hosts is via IPv6.  `ansible_ssh_host` is set to the IPv6 address, which is what we want since it doesn't rely on DNS. In our case we want the orchestration to rely on DNS as little as possible because we use it to setup DNS as well.

[2017-04-04 17:43] rmmjohann commented on #23257
@robinro Thanks for quick reply.

My first instinct was to use the module with the `name` attribute but the crashes with the error

as seen at https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/zypper_repository.py#L381
If I understand correctly this is also an issue of the absent parsing of the repo file for being able to name the repository correctly.

`runrefresh` wi

[2017-04-04 17:58] s-hertel commented on #22943
@Akasurde Cool, that would be very helpful. I haven't worked a whole lot with the git module but I'm happy to test it or try to help. When you make a pr for it feel welcome to ping me on it. I'd suggest first adding the `archive` option to the [documentation](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/source_control/git.py#L36) and to the [module parameters](https://github.c

[2017-04-04 18:12] #22635 closed, assigned to nobody

[2017-04-04 18:15] robinro commented on #23257
OK, so currently the only thing working for a `.repo` file using the module is adding it. Removing it, readding it, running refresh, ... all don't work.

I would not remove it. We should try to fully implement it.
The `.repo` file is a simple `.ini` file and we can download it, parse it and fill the name/url/gpg/refresh vars with it. It's probably not as bad as I first thought.
In general I don't

[2017-04-04 18:15] towolf commented on #14641
Ok, I just realized something weird.

When I comment out the `debug:` in the top level playbook, then the second `debug:` in role1 works.

And even worse, when I put two identical `debug:` tasks right after each other, the second one is empty.

[code]

[code]

[2017-04-04 18:25] ssbarnea commented on #13619
@bcoca I think that lots of users will appreciate if we clarify a little bit "omit" behaviour because current experience, kinds.... sucks.

I spend many hours trying to find a way to use **omit with role parameters** and so far I am still clueless.

[code]

Any hints??

[2017-04-04 18:25] towolf commented on #14641
Even this does not work:

[code]

[code]

[2017-04-04 18:28] AnthonyWC commented on #22397
You can use something like:

`- set_fact: content1="{{ var1.stdout }}" content2="{{ var2.stdout }}"` and compare that.

[2017-04-04 18:31] sivel commented on #23213
This has been resolved in https://github.com/ansible/ansible/pull/23233

[2017-04-04 18:31] #23213 closed, assigned to nobody

[2017-04-04 18:33] nitzmahone commented on #18719
This looks like a pywinrm bug, but I'm about to do a bunch of work in there
and kick out a new release, so I've created a tracking bug for this over
there: https://github.com/diyan/pywinrm/issues/164

On Tue, Apr 4, 2017 at 10:42 AM, Andrew Klaus <notifications@github.com>
wrote:

[2017-04-04 18:33] antonym commented on #23103
Tuning the config to set ```unconfigure lldp custom-tlv``` didn't seem to exclude those values from the output.

[2017-04-04 18:34] sivel commented on #13619
`omit` only works for top level module arguments currently.  Using `omit` outside of a top level module parameter, will set the value to the variable to a special internal value.

That special (omit) internal variable, tells ansible to not pass a top level module arg to the module.

[2017-04-04 18:35] andyhky commented on #23103
Can you paste output like you provided before w/ the custom-tlvs unconfigured?

[2017-04-04 18:46] gundalow commented on #17136
Alternative fix proposed in https://github.com/ansible/ansible/pull/23265

[2017-04-04 18:51] anryko commented on #19888
@bcoca @jbscare this issue can be closed now.

[2017-04-04 18:55] jctanner commented on #12071
I agree that https://github.com/ansible/ansible/issues/17992 is related, but this issue deserves more attention. There's literally no way to make this work right now for a user except by changing the module arg parser or having the module do post arg processing. The second case doesn't help all the other modules though.

[2017-04-04 19:00] #22907 closed, assigned to Qalthos

[2017-04-04 19:02] towolf commented on #14641
@bcoca, seems to be this: 97cb2016d86523ad6efbee2c2975ca287075a2a4

But now I'm puzzled because my problem was with 2.2.2.

[2017-04-04 19:04] abadger commented on #12071
This needs to be handled module side (because k=v parsing will always yield strings).  However, I thought it already was: https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L1668

[2017-04-04 19:05] abadger commented on #12071
From the error message it looks like it's the combination of type=int and choices in particular that's provoking this error.

[2017-04-04 19:07] s-hertel commented on #20110
I believe this bug has been fixed. module_utils.basic [exit_json()](https://github.com/ansible/ansible/blob/v2.0.0.2-1/lib/ansible/module_utils/basic.py#L1535) no longer calls [remove_values()](https://github.com/ansible/ansible/commit/7e6758873c41699cf1447e91f778452bf49969e9#diff-90085fdcec6ed8b273ba885eaee60328L1898). Please feel free to let me know or reopen this if you think I've made a mistak

[2017-04-04 19:07] #20110 closed, assigned to nobody

[2017-04-04 19:26] antonym commented on #23103
Yeah:
https://gist.github.com/antonym/fa75c91118a98c665c619431f4b48ed6

[2017-04-04 19:28] jctanner commented on #11856
The tempfile module offers this ability http://docs.ansible.com/ansible/tempfile_module.html

[2017-04-04 19:28] #11856 closed, assigned to nobody

[2017-04-04 19:33] s-hertel commented on #19638
Closing because boto3 is a requirement now for [ec2_ami_copy](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_ami_copy.py#L81-L82).

[2017-04-04 19:33] #19638 closed, assigned to nobody

[2017-04-04 19:38] #19974 closed, assigned to nobody

[2017-04-04 19:40] Rudd-O opened #23269 "Prevent log spamming"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`ssh` transport

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 25 x86_64 (Qubes OS VM).

##### STEPS TO REPRODUCE
Just run `ansible-playbook` with any playbook.  The playbooks have nothing special — just a `become: yes` before `- tasks:`

##### EXPECTED RESULTS
One set of login/logout journal records.

[2017-04-04 19:43] abadger commented on #12071
I cannot reproduce this in devel or with a checkout of 2.0.1.0:
[code]

and looking at the code in basic.py it seems like the module-side conversion from string to int happens before the check that the value is in choices.  So we'll need more information to be able to reproduce this on 2.x (preferably a current release or devel) otherwise it may be that the bug reported against 1.9.x has been fixe

[2017-04-04 19:51] loudsong commented on #14958
It does not seem like this was fixed.

##### ANSIBLE VERSION
[code]

Here's an inventory, where one host is defined as just an IP address, and the other is given the non-resolvable name `foo_host` with its IP specified by explicitly setting `ansible_host`:
[code]

Using the following playbook to demonstrate the problem:
[code]

The output of the variables seems right when `delegate_to` is not in u

[2017-04-04 19:53] sivel commented on #23269
Based on this, I feel like you probably aren't using the `ssh` transport, but are instead using `paramiko`.  If you were using the `ssh` transport, then `ControlMaster` should have been used, which would have prevented the repeated log ins in such a short time frame.

I might have more to go on, but you appear to have not filled out the issue template, including what OS you are using to run ansibl

[2017-04-04 20:00] Rudd-O commented on #23269
Yeah, even with explicit `transport = ssh` in `ansible.cfg`, it is still establishing one connection after the other:

[code]

Here are the requested template details:

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`ssh` transport

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 25 x86_64 (Qubes OS VM).

##### STEPS TO REPRODUCE
Just run `ansible-pla

[2017-04-04 20:12] Rudd-O opened #23272 "to_nice_yaml filter blows up with certain setup variables"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
Jinja2 filters.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing relevant.

##### OS / ENVIRONMENT
Fedora 25 x86_64.

##### SUMMARY
A variable cannot be rendered by the YAML filter in Ansible.

##### STEPS TO REPRODUCE
Create playbook with setup module.

Then in playbook use template module to

[2017-04-04 20:16] Rudd-O commented on #23269
Actually, `become: true` adds another layer of logging:

Without become, for a playbook with two plays:

[code]

With become:

[code]

That's just for two tasks.  And that is on a system where systemd doesn't insist on starting and stopping whole user sessions (because they are already active) upon login and logout.

[2017-04-04 20:21] rbbrasil commented on #23214
@hyperized try to replace `remote_src=true` with `copy=no`.

I'm facing this same problem when unarchiving a .zip from a web server.

[2017-04-04 20:50] HackerMD commented on #9442
I would like to report an edge case that might help other users ending up here. In my use case, I connect to target machines via a bastion host. Simply setting  `-o StrictHostKeyChecking=no` via Ansible doesn't have an effect as long as the default SSH settings in  `/etc/ssh/ssh_config` are:

[code]

Including `-o StrictHostKeyChecking=no` into the `ProxyCommand` solved the problem for me:

[code]

[2017-04-04 21:06] #18178 closed, assigned to jimi-c

[2017-04-04 21:06] Bastien- commented on #15019
I'm using Arch Linux and default seems to be python 3 while Ansible seems to be using python 2 by default.
So @rsanchez's solution works for me if I replace `python` with explicit `python2`.
Thanks.

[2017-04-04 21:17] AndrewChubatiuk commented on #14146
Doesn't work as expected in Ansible 2.2.2.0

[2017-04-04 21:40] jimi-c commented on #18178
Closing This Ticket
===================

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project -

[2017-04-04 22:17] dagwieers commented on #23260
Personally, I don't think this ought to be part of win_reboot.
Maybe win_shutdown instead ? Or consider it a very specific use-case.
It doesn't seem very useful to me.

[2017-04-04 22:43] jmighion commented on #23091
@rcarrillocruz That branch looks like it's working, which is odd because it's says it's on 2.4 and we haven't been able to get anything > 2.2 working in this env (see https://github.com/ansible/ansible/issues/23058#issuecomment-290472957).

I emailed you the logs.

[2017-04-05 01:57] Shuliyey commented on #23065
how do you install `ansible2.3` through `pip`, i can only install up to `ansible2.2` through `pip`

https://pypi.python.org/pypi/ansible

[2017-04-05 03:12] GoodHaHa opened #23281 "When use merge hash_behaviour, do not have a unified format of hash values?"
When use merge hash_behaviour, do not have a unified format of hash values in inventory file?

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

hash_behaviour

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

hash_behaviour = merge

##### OS / ENVIRONMENT

ubuntu16.04 and centos 7.2

##### SUMMARY

I set some hash values in inventory file and I want get a list of the hash values which c

[2017-04-05 03:27] b-long commented on #23016
@robkorv I think you may have mistakenly forgot an equal sign.  I believe this should be :

[code]
I'm no Python expert, but it may help others who stumble upon this issue and thanks for providing the tip in the first place! 😃

[2017-04-05 03:46] b-long commented on #14710
@nitzmahone I feel terrible asking this, given the amount of traffic on this thread, but I'm wondering if a change to `ansible_winrm_server_cert_validation` is still expected for Ansible 2.3.

As far as I can tell, it still must be set in the inventory file, if the desired behavior is :
[code]

[Just as you noted a while ago](https://github.com/ansible/ansible/issues/14710#issuecomment-190474564),

[2017-04-05 04:02] rschmidtz commented on #21562
same issue here running from EC2 user_data

**Ansible 2.2.1.0**
**Ubuntu xenial 16.04**

file or directory: '~/.ansible/tmp/ansible-tmp-xxx/setup.py

[2017-04-05 04:16] databill commented on #22131
@branghold , I happened the same issue. I have installed zabbix-api in the target.
What's your solution for this issue?

[2017-04-05 06:51] rt711 commented on #16665
@tmshn no problem, here is the screenshot. Browser: Firefox
![screenshot from 2017-04-05 07-50-02](https://cloud.githubusercontent.com/assets/1867519/24693256/9a2e360c-19d4-11e7-81e7-ef584a535d8b.png)

[2017-04-05 06:57] jhawkesworth commented on #14710
@b-long - I'd recommend asking on ansible-project google group or on #ansible irc channel rather than commenting on closed issues, as a lot less people review the issue tracker.

I'm pretty certain no change is planned for this during 2.3 - I've certainly not seen any open issues regarding this.  These 'connection' type variables need setting so that they apply to hosts.  So you can set in invento

[2017-04-05 07:57] jangrewe commented on #16878
I'm hitting the same issue as  @jruizjimenez with v2.2.1.0

[2017-04-05 08:03] gundalow commented on #23252
`ssh - G` that may be useful for `ansible-connection` https://github.com/ansible/ansible/pull/23241

[2017-04-05 08:15] andyzasl commented on #15302
I suppose it is core, or apt.

[2017-04-05 08:28] Shaps commented on #18185
Yep. I'll look into this

[2017-04-05 09:06] duck-rh commented on #17790
Thanks for your explanation, it's clearer now. I think the doc was improved on the "connection variables" aspect since last time I read it :-).

So in this case what I would need is a mean to override a subset of the settings without messing with the settings files. I could use ANSIBLE_CONFIG but as the documentation says « Settings in files are not merged. » and that's what I would need in this c

[2017-04-05 09:06] #17790 closed, assigned to nobody

[2017-04-05 09:10] duck-rh commented on #14150
What I would suggest is a mean to override a subset of the settings without messing with the settings files.OneI could use ANSIBLE_CONFIG but as the documentation says « Settings in files are not merged. » and that's what some would need in this case. So something like --extra-settings with an input similar to --extra-vars would be welcome.

[2017-04-05 09:12] jjaone commented on #13236
Ok, which locations are "special" then?

Meaning, from which folder under the ansible-playbook are the vault.yaml file contents and vars defined in them read automatically?

How should the vaults be named?

I thought that all *.yaml ending files are read in the playbook, roles and inventories when they are placed in defaullts or vars directories, but that does not seem to be the case (anymore)..?

[2017-04-05 09:22] vjcalvo opened #23285 "SVN module in check mode should check modified files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
subversion module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
N/A

##### SUMMARY
For our deployment purposes using Ansible and SVN we would need to test (check mode, dry-run) before run the deployment playbook. If there is some missing file in the destination it will pass the check-mode but not the definiti

[2017-04-05 09:48] mellowplace opened #23286 "vyos_config does not support bracketed config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vyos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

vyos_config module does not support bracket format despite it's documentation saying it does.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The bracketed template file is loaded into vyos

##### ACTUAL RESULTS

[code]

[2017-04-05 09:52] duck-rh commented on #22025
I reported this bug on the old repository (https://github.com/ansible/ansible-modules-core/issues/5686), and got the same reply.

Anyway I believe people expect set_fact to override include/role parameters, and in fact since the previously cited BR and what @dagwieers cited again, the list has been modified in the documentation:

        role defaults [1]
        inventory INI or script group vars

[2017-04-05 10:20] sugun999 opened #23287 "ssh to in-memory host not reachable"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

openstack os_server, add_host

##### ANSIBLE VERSION

ansible 2.2.1.0

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7.3, Openstack

##### SUMMARY

Created server with openstack os_server module and added that server to in memory inventory with add_host module.

Running below ansible-playbook throws error

fatal: [20.20.0.37]: UNREACHABLE!

[2017-04-05 10:27] sugun999 commented on #23287
Bug report

ansible --version
ansible 2.2.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

[2017-04-05 12:20] rcarrillocruz commented on #23058
@jmighion I'm unable to reproduce this, can you confirm this works if you  checkout devel branch ?

[2017-04-05 12:22] rcarrillocruz commented on #23091
@jmighion Can you please checkout stable-2.3 and confirm if this is working?
As you say, the instrumented branch I sent you (which is based on 2.4, which is very close to stable-2.3 since we cherry-pick network modules bugfixes there) looks fine, it prints variables with values, not None.

[2017-04-05 12:24] mpostument opened #23289 "iam_role remove policy not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
iam_role
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Ubuntu 14.04
Module not included in ansible 2.2. Was taken from develop branch

##### SUMMARY
When i am trying to run iam_role module with empty managed_policy i getting error

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
All managed policy removed from role

##### ACTUAL

[2017-04-05 12:27] #23239 closed, assigned to nobody

[2017-04-05 12:40] willthames commented on #23289
Does this have the same problem when you remove the `-` from below managed_policy (it may do, just want to be sure).

I recommend using `connection: local` with `host: localhost` - there is an awful lot of unnecessary ssh debug in that output!

There are definite bugs in the code though...

[code]

should be

[code]

as `ParamValidationError` objects don't have a `response` attribute, but we shoul

[2017-04-05 12:51] snowsky commented on #23272
Didn't try 2.2 but don't run into this issue for 2.3 and 2.4

[2017-04-05 13:01] Infectsoldier commented on #23289
When i removed `-`. But if i remove `managed_policy` at all, it is working as expected. But it is not working in my case, because i have a dict with roles list and some of them with managed policy and some without
[code]

[2017-04-05 13:03] ericzolf opened #23291 "synchronize module uses ansible_shell_executable of controlled node on controller"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
The control node should be n/a (happens both on Fedora and RHEL/CentOS 7)
The managed host must just be "different" (e.g. Android, but see below).

##### SUMMARY
If `ansible_shell_executable` is set for a managed host, the synchronize-module will tr

[2017-04-05 13:38] Infectsoldier commented on #23289
@willthames
I've replaced code but now i am getting error:
[code]

[2017-04-05 13:39] windowsansiblernew opened #23296 "mssql_db- throwing error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mssql_db - Creating Databases

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

linux
##### SUMMARY

when i try to create a DB using mssql_db module i am getting this error

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Database should have been created
##### ACTUAL RESULTS

Throwing error

[code]

[2017-04-05 13:54] jean-christophe-manciot opened #23298 "PATH environment variable is not used correctly to launch local scripts"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
script

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
inventory = ./hosts
forks = 1000
gathering = explicit
roles_path =/home/actionmystique/Ansible/Roles/roles
private_role_vars = yes
timeout = 10
fact_caching = redis
fact_caching_timeout = 86400

##### OS / ENVIRONMENT
Ubuntu 16.10 4.8

##### SUMMARY
An error pops up when a script is launch

[2017-04-05 13:55] dagwieers opened #23299 "Windows: Using `become: yes` on win_shell task returns error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

windows become

##### ANSIBLE VERSION

v2.4

##### CONFIGURATION

##### OS / ENVIRONMENT

master node: RHEL7
target nodes: Windows10

##### SUMMARY

When running the following task with `become: yes`:
[code]

I get the following output:
[code]

However this task does not fail when run directly as Administrator.

##### STEPS TO REPRODUCE

Run t

[2017-04-05 14:14] gundalow opened #23300 "nxos_facts: AttributeError: 'dict' object has no attribute 'startswith'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_fact

##### ANSIBLE VERSION
[code]

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Success

##### ACTUAL RESULTS
[code]

[2017-04-05 14:21] s-hertel commented on #22731
I would suggest upgrading to boto-2.46.1, which allows these regions `[RegionInfo:us-west-1, RegionInfo:us-east-1, RegionInfo:ap-northeast-1, RegionInfo:ap-southeast-2, RegionInfo:sa-east-1, RegionInfo:ap-northeast-2, RegionInfo:us-east-2, RegionInfo:ap-southeast-1, RegionInfo:ca-central-1, RegionInfo:cn-north-1, RegionInfo:us-west-2, RegionInfo:us-gov-west-1, RegionInfo:ap-south-1, RegionInfo:eu-

[2017-04-05 14:21] #22731 closed, assigned to nobody

[2017-04-05 14:33] philsch commented on #21769
The needed changes for the cloudformation module don't seem to be trivial, since boto3 does not ([and will not](https://github.com/boto/boto3/issues/897)) offer a deploy command. The way to go  would then be to use the `create_change_set()` and `execute_change_set()` methods.

However this would mean the *disable_rollback* flag becomes deprecated since changesets will always rollback ([doc](http:/

[2017-04-05 14:39] jhawkesworth commented on #23299
Are you connecting using NTLM or Kerberos?  If so its a known issue at the moment: https://github.com/ansible/ansible/issues/22218

[2017-04-05 14:42] andmos opened #23301 "Legacy commands that require non-UTF8 codepage fail via Ansible"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`win_shell`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Ubuntu 14.04 as controller,
Running against Windows Server 2012 R2

##### SUMMARY
Given the following Powershell script:

[code]

This works like a charm locally on the machine via Powershell and returns:

[code]

When calling the same script via Ans

[2017-04-05 14:58] kustodian opened #23303 "Automatic test for parsing inventories"
##### ISSUE TYPE
 - Missing test

##### COMPONENT NAME
Tests

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Could you please add a few automatic tests which will test parsing of different inventory files. For example an issue like this one https://github.com/ansible/ansible/issues/23016 could easily be captured if there was a test for it. It shoul

[2017-04-05 14:59] kustodian commented on #23303
@mattclay I was told that you are pretty diligent on test issues :)

[2017-04-05 15:25] dagwieers commented on #23301
I would suggest you use the script module instead. Which was intended for doing exactly this:
[code]

Another possibility is doing it inline (useful for shorter scripts):
[code]

[2017-04-05 15:28] dagwieers commented on #23299
No, this is using CredSSP.

[2017-04-05 15:47] #23300 closed, assigned to nobody

[2017-04-05 16:16] jamesongithub commented on #20109
@gundalow I see people reporting that it occurs on 2.2

[2017-04-05 16:31] rishibamba commented on #14516
Thanks sivel :)

[2017-04-05 16:34] gundalow opened #23308 "ios_banner: KeyError: 'text' on state: absent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_banner

##### ANSIBLE VERSION
[code]

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-04-05 16:35] ghost opened #23309 "how to set order of running handlers (when order matters)"
##### ISSUE TYPE

Bug Report

##### ANSIBLE VERSION

ansible 2.1.2.0

##### COMPONENT NAME

notify/handlers

##### OS / ENVIRONMENT

RHEL 7

##### SUMMARY

Hi,

I have a set of handlers which are shared by multiple playbooks, defined in a shared "/handlers/main.yaml" and can be used generically by any role or playbook via providing the appropriate parameters.

they work as expected when calling th

[2017-04-05 16:38] abadger commented on #12071
One further point of interest: I can confirm that the code does the wrong thing on 1.9.x but was changed in 2.0.0.  In 1.9 we have check_argument_values() being called before check_argument_types(): https://github.com/ansible/ansible/blob/stable-1.9/lib/ansible/module_utils/basic.py#L392
check_argument_values() is what processes choices: https://github.com/ansible/ansible/blob/stable-1.9/lib/ansib

[2017-04-05 16:38] #12071 closed, assigned to nobody

[2017-04-05 16:39] spikerobinson commented on #22539
I am having the same problem in Ansible 2.2.0 and it is not due to a complex playbook. Just a very simple call to rpm_key. Every time I call it, it stills shows "changed".
Code to reproduce:

[code]

[2017-04-05 16:43] evanstachowiak commented on #18217
I'm still experiencing this in 2.2.2.0. Has this been fixed yet?

[2017-04-05 16:53] Pietia10 opened #23311 "Documentation when host is not in /etc/ansible/hosts"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION
2.2.1.0

##### OS / ENVIRONMENT

##### SUMMARY
[code]
##### STEPS TO REPRODUCE
do not add host1 to /etc/ansible/hosts and run this command:
[code]
it won't tell you what is wrong and what is wrong is that host1 is not added to /etc/ansible/hosts/

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[cod

[2017-04-05 16:57] Qalthos commented on #23286
This got fixed early in 2.3, but never got back to 2.2, apparently. Fix has now been applied.

[2017-04-05 16:57] #23286 closed, assigned to Qalthos

[2017-04-05 17:12] windowsansiblernew commented on #23296
in ansible 2.2.1i am getting the below error

[2017-04-05 17:24] jmighion commented on #23058
Blew everything away and tried again successfully. I must have messed up my env in one of the testing iterations. PEBCAK.

Thanks!

[2017-04-05 17:24] #23058 closed, assigned to rcarrillocruz

[2017-04-05 17:28] jmighion commented on #23091
Blew everything away and tried again successfully. I must have messed up my env in one of the testing iterations. PEBCAK.

Thanks!

[2017-04-05 17:28] #23091 closed, assigned to rcarrillocruz

[2017-04-05 17:33] #23308 closed, assigned to privateip, rcarrillocruz

[2017-04-05 17:50] jmighion commented on #23154
Tested on latest stable 2.3 and the problem is fixed there. Retested against 2.2 to validate it still exists there and it does. Not sure which commit fixed the issue, but all good now. Thanks!

[2017-04-05 17:50] #23154 closed, assigned to rcarrillocruz

[2017-04-05 18:10] codyjohn opened #23316 "Unicode parsing issue with junos_config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
junos_config module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When using the junos_config module and setting the 'backup' parameter to 'yes', there appears to be an ascii-to-unicode issue (UnicodeEncodeError).

##### STEPS TO REPRODUCE

Create a playbook with a single task using the junos_config

[2017-04-05 18:15] jmcgill298 commented on #19183
@calfonso are you setting the following in your provider:
[code]

I am testing with a VM, and it defaults to priveledged mode (bizarre behavior, but that's what its doing). I had the same issue you are having, but when I added the authorize commands it started working in 2.2 (2.3 has other issues).

[2017-04-05 18:25] JohnPeacockMessageSystems commented on #14341
I just stumbled across this issue and I consider it to be a hugely breaking change.  Consider the following structure:
[code]
Because Ansible has very little in the way of flow control (conditional execution) outside of the very crude "when:" construct, we have an extensive collection of roles that use the same motif:

`main.yml` is merely a collection of "include:" stanzas with appropriate "when:

[2017-04-05 18:28] OrBaruk opened #23317 "Roles included from common dependency are executed only once."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Role dependence

##### ANSIBLE VERSION
Affected versions:
[code]

[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using two different roles that depends on the same role, the dependency is called only once even if you pass different variables to the dependency role

##### STEPS TO REPRODUCE
Execute `ansible-playbook main.yml` with the fol

[2017-04-05 18:39] nitzmahone commented on #23301
Does it work when run manually under a Powershell remoting session (eg, `Enter-PSSession -ComputerName localhost`? If it does, this is probably an Ansible issue, if not, it's likely an odd requirement of SQLPlus that bombs under WinRM. You might get it to work under Ansible 2.3 by using the `runas` become method- that can solve a number of issues with things that don't usually work under WinRM (bu

[2017-04-05 19:10] andmos commented on #23301
@dagwieers I tried
[code]
returns

[code]
I guess the modules not starting with `win_` might not work that well on Windows?

@nitzmahone I tried with `Invoke-Command`, that looks good:

[code]
As well as with `Enter-PSSession`:

[code]

So it looks good. So it looks like the issue us with Ansible in some way.. Related to #23019 in some way?

[2017-04-05 19:15] dagwieers commented on #23301
@andmos The `script` module requires that the the script is available from your *files/* directory on the master node. And it will transfer the script to the target node(s) for you. The modules named *win_* indicate these modules only work on Windows (usually powershell) but some modules (usually action plugins) work fine on Windows. The documentation has a full list of modules that work on Window

[2017-04-05 19:18] rmmjohann commented on #23257
I'll spend some time on this on the weekend to determine how we can actually implement this.
For this I'll have a look at the code for yum repos and how they solve that.
As soon as I have a clear understa ding of how to inplement those missing features I'll post back to align with you.

[2017-04-05 19:21] andmos commented on #23301
@dagwieers aaah of course, I knew that, just had my head in the wrong place 😆 I tried adding the script to the `files` folder and it gets executed, but with the same error:
[code]

[2017-04-05 19:22] dagwieers commented on #23301
@andmos That's good to know. So it will require a similar fix as win_shell at some point.

[2017-04-05 19:23] andmos commented on #23301
I find it strange that the execution adds `\` before the quotes and that it should have an effect on how the SQL gets read by SQLPlus..

[2017-04-05 19:24] abadger commented on #21513
Recording some information so I don't lose it again if I get distracted before finishing this:

I believe the slowness is because we end up walking subtrees of the directory many many times instead of only once.  I believe it was introduced with this commit: 29fda4be1eb73d3af4212997222b5e9ae0b03594  which fixed this bug: https://github.com/ansible/ansible/issues/13013

[2017-04-05 19:33] robinro commented on #23257
@rmmjohann
Thanks for looking into it. Let me know if I can be of any help.

My rough idea (feel free to not follow) would be
* new function to download the repo file to some temp location, parse it using configparser module (can we use that?) and return a dict in the style of the `repodata` var
* fill the `repodata` var in the main routine using that function and then continue with the existing c

[2017-04-05 19:35] dagwieers commented on #23301
The backslashes are there because the output is in JSON format, so quotes are escaped in the output. I don't think that it is related to the error.

[2017-04-05 19:38] dagwieers commented on #23301
I wonder if the various SQL statements should have trailing semi-colons. Can you try this for me ?

I have a strong feeling that the SQL statement may be losing its new-lines, which makes up for a very long and strange `set new...` statement, which the error is indicating.

[2017-04-05 19:45] andmos commented on #23301
Yes, I tried
[code]
with both `script` and `win_shell`. Still getting that error.

[2017-04-05 19:46] nitzmahone commented on #23301
@andmos: I don't think it's related to #23019 (especially given that it seems to fail the same way as a script sans args). It *could* be the UTF8 codepage stuff- SQLPlus is ancient enough that it might be choking on a BOM or something (I think I've got that at least partially fixed in 2.3).

If that's it, you might be able to make it work by prepending a `chcp 437` to the beginning of your script

[2017-04-05 19:55] dagwieers opened #23320 "Windows: WinRM is very sensitive to network issues (ReadTimeout)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

WinRM

##### ANSIBLE VERSION

v2.3

##### OS / ENVIRONMENT

Master node: RHEL7
Target nodes: Windows 10

##### SUMMARY

I noticed that when the network briefly gets interrupted (not sure what exactly happens, but RDP sessions freeze for a few seconds too), Ansible will not survive. The running tasks gets a ReadTimeout exception and the playboo

[2017-04-05 20:01] codyjohn opened #23321 "junos_config module fails if config already exists"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
junos_config module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_HOME=/home/users/cody.john/virtualenv/ansible-git/ansible
ANSIBLE_LOG_PATH=./debug.log

##### OS / ENVIRONMENT

CentOS 6.8

##### SUMMARY

When using the junos_config module on 2.3, the module fails if the configuration being modified already exists on the device.

[2017-04-05 20:02] Qalthos commented on #23316
I can't manage to reproduce this at all... I assume you have some unicode somewhere in your configuration, but nothing I've tried has resulted in a UnicodeEncodeError, though admittedly the non-ASCII text has not been faithfully transcribed.

If you have more details about your particular configuration that might help me reproduce it, or whatever else I might be missing here, that would be very he

[2017-04-05 20:05] lifanov commented on #12598
I can't reproduce this with 2.2.2.0.

[2017-04-05 20:05] #12598 closed, assigned to nobody

[2017-04-05 20:31] gundalow commented on #23321
@Qalthos @ganeshrn Please can you see if you can reproduce this locally, thanks

[2017-04-05 20:32] codyjohn commented on #23316
I will see if I can track down what it it is in my config that is causing the issue.   My first thought is that it might be my interface descriptions.   Can you try adding a description to any interface in the following format?

`set interfaces xe-0/0/0 unit 0 description "[foo=bar, type=UL, nbr=sw-001:xe-0/0/0] blah`

[2017-04-05 20:32] gundalow commented on #23321
@codyjohn Thanks for testing Ansible 2.3, and the bug report

[2017-04-05 20:44] gundalow commented on #23263
Hi @joelwking Thanks for the bug report,

Could you try adding `timeout: 120` (or another maybe a higher value) as part of the `save running config` task.

needs_info

[2017-04-05 20:55] gundalow commented on #23303
Hi @kustodian is this something you'd be able to help with?

[2017-04-05 21:01] gundalow commented on #23296
HI @windowsansiblernew, thanks for the bug report

1) Hi, could you please rerun with `ansible-playbook -vvv` and what you past the *full* error enclose it in
` ``` `
past error here
` ``` `

So it's formatted an readable, thanks

2) What version of MySQL are you running against?

needs_info

[2017-04-05 21:02] gundalow commented on #23296
@cc Jmainguy as someone that knows about MySQL

[2017-04-05 21:04] gundalow commented on #23287
@sugun999 The problem is you've deleted the template so the bot can't find the details

Can you please copy the template back from https://github.com/ansible/ansible/issues/new and update the description, thanks

[2017-04-05 21:33] codyjohn commented on #23316
I found it.   Looks like I have a few descriptions that contain an "em dash".  Try to reproduce by setting a description such as:

`set interfaces xe-0/0/0 unit 0 description "hyphen(-), em dash(–)`

[2017-04-05 21:45] jmalette opened #23324 "yum module with rpm file failing to install when state=latest"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

from: OSX 10.11.6
managing: RHEL 7

##### SUMMARY
I am attempting to install a local RPM package using state=latest.  This does not install the RPM if the RPM isn't already installed but will upgrade the RPM if there is a previous one installed.

##### STEPS TO RE

[2017-04-05 21:46] codyjohn commented on #23321
Sorry, disregard.  This was an issue with my test setup.  The module is working as expected.

[2017-04-05 21:46] #23321 closed, assigned to ganeshrn

[2017-04-05 21:55] ganto commented on #19801
I know it's just remotely related, but I just experienced a similar error when playing around with `ansible 2.3.0.0 (detached HEAD f15e1f25ae) last updated 2017/04/05 22:32:14 (GMT +200)` and `ovirt-engine-sdk-python-4.1.3`.

When trying to run the `ovirt_hosts_facts` module the task aborted with:
[code]

The reason was, that I forgot to specify the `ovirt-engine/api` context in the `url` paramete

[2017-04-05 22:13] bcoca commented on #23303
FYI we do have several tests that involve parsing inventories, they just happen to no hit that corner case (bad 'ungrouped' hosts).

[2017-04-05 22:20] bcoca commented on #23311
@Pietia10  when that happens i get the following:
```skipping: no hosts matched```
i assumed you have ```hosts: "{{h}}"```

[2017-04-05 22:25] gundalow commented on #23321
Thanks for confirming. Please do let us know if you are any other issues, we plan on releasing 2.3.0 next week

[2017-04-05 22:32] willthames commented on #23289
Just add `import traceback` to the rest of the imports and that should get
you a little closer to a decent error message

On 5 Apr 2017 11:38 p.m., "mpostument-amplify" <notifications@github.com>
wrote:

[2017-04-05 22:49] tumbl3w33d commented on #23317
See: http://docs.ansible.com/ansible/playbooks_roles.html

[2017-04-05 22:51] bcoca commented on #14958
So the confusion here is not about connection but display, for templating `ansible_host` will reflect `inventory_hostname`.

What was fixed above is using the correct `ansible_host` for the actual connection (to delegated host).
If you need the ansible_host of the delegated host use `ansible_delegated_vars['ansible_host']`

[2017-04-06 00:41] bcoca commented on #23309
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-04-06 00:41] #23309 closed, assigned to nobody

[2017-04-06 02:17] cloudnull commented on #15352
Hi @slash3g I've not run into this issue within the 2.1+ releases. Would you mind running again to see if this is still an issue within the 2.1+ stable releases?

[2017-04-06 02:59] patran opened #23327 "Role Dependency Max Depth and Variables"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Nested Role dependencies - meta/main.yml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux rgserver 4.4.0-71-generic #92-Ubuntu SMP Fri Mar 24 12:59:01 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
##### SUMMARY

Role A depends (using meta/main.yml) on Role B depends on Role C depends on Role D depends on Role E.

Ro

[2017-04-06 05:24] t794104 commented on #22902
I have the same problem; Yum module not updating a package already installed with state = latest.

After some debugging it found out that the 'check-update' command is running from the function 'latest' and that the output is modified with a Regex.

out variable before regex :
"Loaded plugins: langpacks, product-id, search-disabled-repos, subscription-\n              : manager\nThis system is not

[2017-04-06 05:26] joelwking commented on #23263
The failing routers do not have `file prompt quiet` configured. The successful router did have this command specified. By default, IOS will prompt for the destination filename before saving the configuration.
[code]
After verifying all routers have `file prompt quiet`, execute this playbook:
[code]
All device configuration are saved successfully:
[code]
The root problem would appear to be how the

[2017-04-06 05:57] windowsansiblernew commented on #23296
hello, its mssql issue not mysql issue

[2017-04-06 06:13] sugun999 commented on #23287
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

openstack os_server, add_host

##### ANSIBLE VERSION

ansible 2.2.1.0

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7.3, Openstack

##### SUMMARY

Created server with openstack os_server module and added that server to in memory inventory with add_host module.

Running below ansible-playbook throws error

fatal: [20.20.0.37]: UNREACHABLE!

[2017-04-06 06:27] erwilan commented on #21774
instead of setting ssh_args in ansible.cfg set ansible_ssh_common_args in the inventory.
there you can use variables.

[code]

[2017-04-06 06:45] gundalow commented on #23263
Thanks for the further investigation, that's great..

[2017-04-06 06:54] nitzmahone commented on #23299
Either the become user or password weren't set- I thought I had a check in there for it, but apparently I lost it somewhere along the way. Added checks and error messaging for that, as well as the specific failure for #22218.

[2017-04-06 06:56] jhawkesworth commented on #23320
As a workaround I suggest putting an ansible controller 'near' the machines you are managing.  Since we moved to having an ansible controller machine in each datacenter we have had very few comms issues.

[2017-04-06 06:57] xkrt commented on #9362
Still broken in 2.3.0rc3, why not reopen this issue?

[2017-04-06 07:26] gundalow commented on #23296
Ah thanks,  more coffee needed.

[2017-04-06 07:26] gundalow commented on #23296
@vedit I believe you've looked at mssql modules before, care to take a look at this?

[2017-04-06 07:36] lhoss commented on #4494
I've got the *exact* same problem with the `rsyslog` service, when trying state `reloaded` which yields to a failure (also because it doesn't support `reload` but `force-reload`) !
A real pity to have to fall back to use the shell/cmd module (with all related disadvantages)

A nice enough solution IMO would be to finally implement a `service`module feature to give custom state values, long time re

[2017-04-06 07:49] vedit commented on #23296
It looks like the script is executing in a powershell environment, not in a linux shell. Currently this module is only tested on linux environments (by me).

[2017-04-06 07:54] vedit commented on #23296
Can you confirm this @windowsansiblernew ?

[2017-04-06 08:00] andmos commented on #23301
@nitzmahone haha I guess you have some experience with SQLPlus and Oracle, `chcp 437` in the script did the trick! I am gonna try running it before executing the scripts and see if it works, I guess the shell session will pick up if i run `chcp 437 && .\testScript.ps1` or something like that.

[2017-04-06 08:34] #23299 closed, assigned to nitzmahone

[2017-04-06 08:54] Infectsoldier commented on #23289
@willthames
[code]

[2017-04-06 08:57] dagwieers commented on #23320
@jhawkesworth Not possible unfortunately, as we have no dedicated server, or anything other than Windows 10 at the location. (It is an elementary school after all :-)) I have not seen SSH behave in this manner, so making WinRM more robust for these kind of issues would be preferred.

Now we first need to find a way to reproduce the specific errors so we can test against it.

[2017-04-06 09:03] nitzmahone commented on #23320
I don't think there's a lot we can do- WinRM being built on top of http and
all. Blind retries tend to cause more problems than they solve. SSH is a
much lower-level protocol with robust error recovery built-in...

On Apr 6, 2017 1:58 AM, "Dag Wieers" <notifications@github.com> wrote:

[2017-04-06 09:09] nitzmahone commented on #23301
Nice, glad it's workable for now. We'll have to figure out some better solutions for these legacy things that barf on UTF8, because default UTF8 is the way of the future... I'm thinking maybe a codepage override as a task keyword or something, but that could cause all sorts of issues elsewhere...

[2017-04-06 09:18] m-o-n-k commented on #21980
Using ansible 2.2.2.0 with 'name'. This works.
path and dest didn't work.

[2017-04-06 09:24] windowsansiblernew commented on #23296
in dont get your question, i am running the playbook in a shell(As we all know) , one thing here is, i am running this playbook against a host, from which i am asking to create db in another host..so the db server should have the winrm port opened?

[2017-04-06 09:30] vedit commented on #23296
Nope. It appears it is trying to execute [this](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/database/mssql/mssql_db.py) python script on Powershell.

I think you can fix this by adding
`delegate_to: 127.0.0.1`
to your task as detailed [here](http://docs.ansible.com/ansible/playbooks_delegation.html#delegation)

[2017-04-06 09:37] windowsansiblernew commented on #23296
let me check..running now

[2017-04-06 09:42] Pietia10 commented on #23311
yeah I have - hosts: "{{ h }}" in script.

[2017-04-06 09:42] windowsansiblernew commented on #23296
OMG :-o its working.. but how?

[2017-04-06 10:09] ellac-sportsbet opened #23338 "Cannot pass through messageTTL as 0 when creating rabbitmq queues"
Hi,

I found that the rabbitmq queue module doesn't allow me to pass through message TTL as 0. reason being in line  227:   if module.params[k]:

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

rabbitmq_queue module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPEC

[2017-04-06 11:03] gundalow commented on #23263
For `delete` there is a `/noprompt` option, that doesn't appear to exist for `copy
So I wonder if we need to set `file prompt quiet` for this tasks (though not save that change)

[2017-04-06 11:19] miglen commented on #12151
I believe we need some sort of an option to control the remote path from within a playbook instead of configuration file only?

[2017-04-06 11:25] iamkuldeepsingh opened #23340 "ansible vmware_guest "msg": "No folder matched the path""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_module

##### ANSIBLE VERSION
2.4
##### CONFIGURATION

##### OS / ENVIRONMENT

Running from centos 7, with Ansible 2.4
Vsphere 6

##### SUMMARY
While running the command getting error "msg": "No folder matched the path"

##### STEPS TO REPRODUCE

Just run the vmware_guest module with specific folder name (
Destination folder, absolute pa

[2017-04-06 11:39] kustodian commented on #23303
@gundalow I wouldn't mind adding this test into other inventory tests, if you can point me to the right directory where I should add that.

[2017-04-06 11:58] gundalow commented on #23263
We are very close to releasing 2.3.0 (final RC is due this week), so it's a bit late to fix this, which is a bug that's existed since `2.2.0`, therefore I've marked this as Milestone 2.4.

Once we have a fix we can look at backporting the fix to `stable-2.3` and `stable-2.2`

[2017-04-06 11:59] andmos commented on #23301
Yeah, I think it should be possible to override this in some way. I guess I am not the only one who would run into this case. Would something like
[code]
work?

[2017-04-06 12:01] nerzhul commented on #23340
hi, what is your folder name ?

[2017-04-06 12:03] vedit commented on #23296
The python script is supposed to be run on a linux system, not on an MS system. Your playbook was connecting to a remote MS server and executing the code there.

[2017-04-06 12:20] gundalow commented on #23193
I believe @dgjustice issues have been resolved (as per discussion on networktocode)

And the issue that @ogenstad mentioned we believe were a local env issues. Though we will watch out for the `VersionConflict` issue.

No specific issue remains here so closing

[2017-04-06 12:20] #23193 closed, assigned to privateip, Qalthos, gundalow

[2017-04-06 12:39] Chris-YBS commented on #11045
I'd go with a "never" tag for symmetry!

[2017-04-06 12:41] windowsansiblernew commented on #23296
ok i got it, i thought since it is mssql_db (without noticing that it did not start with win) it has to run in windows...thanks again

[2017-04-06 12:49] boxrick opened #23344 "All OK when using git module and git isn't present."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

http://docs.ansible.com/ansible/git_module.html

##### ANSIBLE VERSION
Latest RC as of 06/04/16

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04 4.8 Kernel

##### SUMMARY

When using the GIT module without GIT present, it returns OK and carries on.

##### STEPS TO REPRODUCE

Use the GIT module and do not have GIT installed.

[

[2017-04-06 13:11] snowsky commented on #23344
reproduced the issue.

[2017-04-06 13:11] morph027 opened #23345 "Proxmox KVM: Unable to create VMs"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

proxmox_kvm

##### ANSIBLE VERSION

[code]

plus

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/misc/proxmox_kvm.py

and Proxmox:

[code]

##### SUMMARY

Can't create VM's against PVE cluster anymore...

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

VM gets created.

##### ACTUAL RESULTS

[code]

[2017-04-06 13:12] morph027 commented on #23345
@helldorado

Strange thing is it looks like it's working against a single node (no cluster). Will doublecheck this.

[2017-04-06 13:27] kuldeep-singh-duhan commented on #23340
Hello,

I tried all the combination.

It is /vm/vmfs, However not able to find the absolute path. Did you test it
with Vsphere 6 and what was the path was given.

On Thu, Apr 6, 2017 at 5:31 PM, Loïc Blot <notifications@github.com> wrote:

[2017-04-06 13:30] gundalow commented on #23303
@kustodian Unit tests live in ` test/units/contrib/inventory` & `test/units/inventory/`

They can be invoked by doing
`./test/runner/ansible-test units --python 2.7  test/units/contrib/inventory`

`see ./test/runner/ansible-test units --help` for more info

[2017-04-06 13:32] morph027 commented on #23345
Hm, no, got another cluster running ```pve-manager/4.4-13/7ea56165 (running kernel: 4.4.49-1-pve)``` and it works without issues...Any ideas how to debug stuff?

[2017-04-06 13:40] morph027 commented on #23345
[code]

[2017-04-06 13:45] snowsky commented on #23344
I know where the problem is, but don't know how to fix:

[code]
get_bin_path failed by fail_json and fail_json called sys.exit(1), but git module didn't catch the exit signal.

[2017-04-06 13:47] nb00471049 opened #23348 "Ansible: How to run the for command through playbook"
##### ISSUE TYPE

 - Bug Report
ansible 2.2.0.0
##### COMPONENT NAME

-
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
<Ifor command must run from the playbook
##### ACTUAL RESULTS

[code]

[code]

[2017-04-06 13:50] helldorado commented on #23345
Hi,

This error can be made on a cluster in a different situation:

- the call to the get_nextvmid function passed too quickly after a previous query and the cluster is not up to date on all the nodes. Corosync lock ?
- loosing quorum
- One member of the cluster no longer answers

Hope puting `time.sleep (15)` in get_nextvimd wil solve your problem. like:

[code]

[2017-04-06 13:50] vedranf opened #23349 "Accessing variables through hostvars in templates still extremely slow"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
templates

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A
##### SUMMARY
Accessing variables through hostvars in templates still extremely slow

##### STEPS TO REPRODUCE
I have a large number of servers and services on them and from early days of Ansible I extensively used hostvars to loop over them, even for nodes outside of the curren

[2017-04-06 13:52] sh-vi opened #23351 "Incorrect variables in dynamic includes in dependent role with allowed duplicates"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include module

##### ANSIBLE VERSION
- v2.3.0.0-0.3.rc3:
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Fedora release 25 (Twenty Five)

##### SUMMARY
Dynamic include breaks variables in dependent role. I think it is related with "allow_duplicates: yes" in dependent role. It looks like dynamic include uses the first "scope" of vari

[2017-04-06 13:54] colin-nolan opened #23352 "XFS filesystem is incorrectly resized due to issue with finding its current size"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

filesystem (module)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Running on and managing Ubuntu Xenial.

##### SUMMARY

The filesystem module is not idempotent when:
- `dev` ends with "data"
- fstype="xfs"
- resizefs=yes

The module will call `xfs_growfs` each time and report a change.

This issue is caused

[2017-04-06 13:58] ksoftirqd opened #23354 "os_server works extremely slow with large tenants"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_server

##### ANSIBLE VERSION
[code]
shade 1.19.0

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
os_server module works extremely slow when a tenant has many instances (~200)

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Time needed to create instances with ansible is comparable to other tools (e.g. python-open

[2017-04-06 14:06] morph027 commented on #23345
Thanks for your reply! :heart:

Unfortunately, putting sleep into does not help.

I do have 2 offline nodes but the cluster still got quorum:

[code]

It also has a free vm id as seen in the error. Weird.

[2017-04-06 14:17] cadavre commented on #23016
You have 22k+ stars, imagine how many people are using ansible. And a bug like this? :/

[2017-04-06 14:18] snowsky commented on #23344
When debugging the failed is true:
[code]

But the ansible command returns:
[code]

[2017-04-06 14:33] emonty commented on #23354
I can think of a few optimizations we can make - let me go poke at them right now.

[2017-04-06 14:33] snowsky commented on #23344
The issue here is "failed_when". If I use this playbook, it will pass:
[code]

[2017-04-06 14:33] snowsky commented on #23344
I don't think it is an Ansible issue.

[2017-04-06 14:37] snowsky commented on #23348
@nb00471049 could you please use ``` to quote the playbook?

[2017-04-06 14:41] sturk commented on #18148
I experience the same issue with suggested solution above.

**pip install git+http://github.com/ansible/ansible.git@devel**
Collecting git+http://github.com/ansible/ansible.git@devel
  Cloning http://github.com/ansible/ansible.git (to devel) to /private/var/folders/2v/vr2km4kn11l6cw40h700539c0000gp/T/pip-4ZhrMN-build
Requirement already satisfied: jinja2 in /Library/Frameworks/Python.framework/Ver

[2017-04-06 14:42] snowsky commented on #23327
It looks like a meta issue and _raw_params may not store the variables correctly.

[2017-04-06 14:55] snowsky commented on #23327
cannot reproduce. Could you please attach the playbooks?

need_info

[2017-04-06 15:02] kwohlfahrt commented on #22996
This does not seem fixed. Specifically, if the `label` is specified, the partition table is always recreated, even if it already exists.

Running the following task:

[code]

Causes the results below, alternating on each run. Note the second destroys the partition:

[code]

[code]

[2017-04-06 15:04] b-long commented on #22366
Can you provide more information?  For instance, a minimal playbook to reproduce.  I'm wondering how you connected to the Windows host in the first place (e.g. did you use some variant of an `ssh` server?)

[2017-04-06 15:04] bcoca commented on #23348
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-04-06 15:04] #23348 closed, assigned to nobody

[2017-04-06 15:06] cadavre commented on #23143
I'm totally +1 for this because it's 3rd time (I believe so) in past 6 months I need to roll back to previous version while using apt PPA repository. Take `gitlab-ce` as a good example and check their release history kept in PPA.

[2017-04-06 15:14] chrisruffalo opened #23357 "route53_zone fails if the private zone configured in the play already exists (copied from old extras repository, still a bug)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
route53_zone

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Fedora 25 -> RHEL 7.3

##### SUMMARY
route53_zone fails if the private zone configured in the play already exists. If the zone does not exist, then it creates the zone successfully.

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS
On the s

[2017-04-06 15:17] pkaramol opened #23358 "Conditional succeeds in 2.1.1.0 but fails in 2.2.2.0"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### COMPONENT NAME
`changed_when`

##### OS / ENVIRONMENT
Ubuntu 16.04.01

##### SUMMARY
A specific conditional that succeeded with version 2.1.1.0 is now failing with version 2.2.2.0.

##### STEPS TO REPRODUCE
1. Hit a specific rest endpoint to register a variable to be used for a check

[code]

2. Make a

[2017-04-06 15:19] ganeshrn opened #23360 "junso_config fails if 'src' contains set format"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-04-06 15:25] jcerjak commented on #17329
Already implemented a fix before I saw this issue (also adds unit tests for the env plugin): https://github.com/ansible/ansible/compare/devel...gingerpayments:support-raising-error-if-env-variable-missing

But PR from @bcoca is more useful, since you can also specify a default value.

[2017-04-06 15:28] machacekondra commented on #19801
This is something we should fix in Python SDK for oVirt. Can you please open an issue [here](https://bugzilla.redhat.com/enter_bug.cgi?product=ovirt-engine-sdk-python), requesting to do a URL check, whether it's in correct format? THanks!

[2017-04-06 15:30] bcoca commented on #23358
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-04-06 15:30] #23358 closed, assigned to nobody

[2017-04-06 15:33] bcoca commented on #23143
gitlab does not use PPA, it uses a deb repository, which seems only way to keep multiple versions.

[2017-04-06 15:40] abadger commented on #16731
@nitzmahone ^  What do you think of kustodian's explanation?

[2017-04-06 15:43] d3matt commented on #12086
+1 on forks

[2017-04-06 16:12] theballdredge commented on #19719
this issue impacts more than people using the lookup plugin directly.  i just encountered the behavior described above when using the zabbix modules, and found this thread when researching the issue.

i found it obvious that a module was missing, but it took a bit of effort to figure out which one.  while distros may package it differently, the underlying python package name is known, and i would

[2017-04-06 16:45] mkohn commented on #17097
Anyone find a work around?

[2017-04-06 16:47] ganeshrn commented on #23360
Closed with https://github.com/ansible/ansible/pull/23365

[2017-04-06 16:47] #23360 closed, assigned to Qalthos, ganeshrn

[2017-04-06 16:50] nb00471049 commented on #23348
I have used the shell instead of command, still the register variable output is coming as empty. Can anyone please suggest what changes exactly needs to be done

[2017-04-06 16:53] dav1x commented on #23340
@kuldeep-singh-duhan Do you have a datacenter created at the top level?

-> govc ls
/Boston/vm
/Boston/network
/Boston/host
/Boston/datastore

Here are the base data structure. "Boston" is the top level datacenter. The search by inventory path concatenates datacenter and the base folder of "vm".

[2017-04-06 17:01] #22880 closed, assigned to Qalthos, ganeshrn

[2017-04-06 17:26] viviliv opened #23370 "Playbook doesn't fail when referenced variable is not defined. Ansible should fail fast."
Ansible should fail fast if referenced variable is not defined.

It is difficult to debug when multiple variables are nested and don't know which one caused "VARIABLE IS NOT DEFINED!"

var_file_1
[code]

var_file_2
[code]

Playbook to replicate
[code]

Stdout
[code]

[2017-04-06 17:32] roweryan opened #23372 "Is there really no web hook to trigger an SCM run?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
RHEL7

##### SUMMARY
I make a change in git, it gets pushes to Gitlab, then comes the unfun part: I have to manually log-in to ansible tower and click a button to pull the changes! Tower should support a web hook to pull the change like Puppet Enterprise doe

[2017-04-06 17:40] jamesongithub commented on #20111
seems to be still an issue as in #21323

[2017-04-06 17:49] snowsky commented on #23348
@nb00471049 you missed ; in shell command:
[code]

[2017-04-06 18:06] nbering commented on #22942
Versioned docs would be nice.

[2017-04-06 18:11] #23352 closed, assigned to nobody

[2017-04-06 18:16] nitzmahone commented on #16731
(commented on review for #16787)

[2017-04-06 18:20] bcoca commented on #23258
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The precedence rules specify that `group_vars` are supposed to override 'group vars' defined in the inventory file.

In the future, thi

[2017-04-06 18:20] #23258 closed, assigned to nobody

[2017-04-06 18:35] ianjuma commented on #20641
experienced a similar issue on recent ansible, pexpect version

[code]

[2017-04-06 18:41] vinigfer opened #23375 "Ansible: get docker container output during container creation"
##### ISSUE TYPE
 - Bug Report/Feature Idea

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04.2

##### SUMMARY
When creating a docker container that produces an output (a secret key), no output is set when using the "register" option.

##### STEPS TO REPRODUCE
Run a simple docker container such as hello-world

[code]

##### EXPECTED RESULTS
H

[2017-04-06 18:51] mbert commented on #23258
In that case the bug is in ansible 2.1.1.0 as it deals with this the way I listed under 'expected' above?

[2017-04-06 18:58] Qalthos commented on #23082
Does the change in #23376 fix the problem?

[2017-04-06 19:04] OrBaruk commented on #23317
So It was a case of me not reading the docs carefully enough. =(

Thanks for the clarification.

[2017-04-06 19:04] #23317 closed, assigned to nobody

[2017-04-06 19:05] hyperized commented on #23214
@rbbrasil that is indeed working for 2.4. Perhaps the documentation needs updating?

[2017-04-06 19:06] jamesmarshall24 opened #23377 "Debug Module Fails on Output Containing Code"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Debug module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When debugging a variable containing output which is executable, the debug module fails without any specific message

##### STEPS TO REPRODUCE

NOTE - Unable to replicate in:
ansible 2.4.0 (devel 6633ae1afa)

1. Create a playb

[2017-04-06 19:37] phmio commented on #23180
Hello,
I have posted a same issue [#22925](https://github.com/ansible/ansible/issues/22925) , [nitzmahone ](https://github.com/nitzmahone) gave me a workaround and he closed the request.
But the way to initialize ansible_env by calling one play just before the real one, for me is not a real elegant solution...

[2017-04-06 20:05] nitzmahone commented on #23372
@roweryan: This repo's not for Tower, just the open source Ansible core command-line tools. If you're a Tower customer, you should file that feature request on Tower via support or your sales rep.

[2017-04-06 20:05] #23372 closed, assigned to nobody

[2017-04-06 20:07] snowsky commented on #23180
@s-hertel like to know more about the issue.

[2017-04-06 20:08] snowsky commented on #23377
reproduced and it seems a template issue.

[2017-04-06 21:01] ebarrere commented on #16612
Has any progress been made here?  I'm also running in to this issue — I would like a way to test whether SELinux is enabled to determine whether to install libselinux-python, but that fails unless libselinux-python is already installed.

Should I just install libselinux-python everywhere for now?

[2017-04-06 21:27] bcoca commented on #22940
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is expected behaviour, an Ansible run fails if a whole play fails.

In the future, this might be a topic more well suited for the

[2017-04-06 21:27] #22940 closed, assigned to nobody

[2017-04-06 21:31] s-hertel commented on #23180
@snowsky I'm probably not the best one to ask about it. I'm still musing about it.

[2017-04-06 21:47] welchwilmerck commented on #20603
Here's the problem:

For a role, when defining a handler with include: to perform multiple tasks (i.e., a handler block), the handler must be the first handler (of any sort) in roles/<your role>/handlers/main.yml. Otherwise, it isn't added to the "main handlers list".

See https://github.com/welchwilmerck/ansible-20603

[2017-04-06 21:58] aes512 commented on #20653
Workaround that we are using:

[code]

[2017-04-06 22:39] Phrozyn commented on #17095
can confirm this also affects 2.2.2.0

[2017-04-06 22:50] acrom18 commented on #11017
Confirmed with 2.2.2.0, This bug is pretty problematic. I think it is currently tracked as [https://github.com/ansible/ansible/issues/17382](url) and there is an open PR.

[2017-04-06 23:08] acrom18 commented on #17382
@george-buckerfield Shouldn't we also exclude files that start and end with '#' e.g. [emacs recovery files](https://www.gnu.org/software/emacs/manual/html_node/emacs/Recover.html).

[2017-04-06 23:25] eerorika opened #23379 "Included role is erroneously skipped, when the including role depends on another role whose unrelated dependency is skipped"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Included role is erroneously skipped, when the including role depends on another role whose unrelated dependency is skipped.

Since test_3 is included unconditionally, and the skipped dependency is unrelated, test_3 shouldn't be skipped

[2017-04-06 23:37] snowsky commented on #23377
This will solve the issue:
[code]

[2017-04-06 23:43] snowsky commented on #23375
This is by design. The output of docker_container is not the logs of the container.

[2017-04-06 23:48] snowsky commented on #23370
reproduced.

[2017-04-07 00:10] vinigfer commented on #23375
According to this thread I opened on stackoverflow, this is indeed an issue.
http://stackoverflow.com/q/43263045/1718174

However this issue is the same as
https://github.com/ansible/ansible/issues/22323
and was already solved at
https://github.com/ansible/ansible/pull/22324/files

Just have to wait until version 2.3 is released as stable.
Thanks @snowsky

[2017-04-07 00:10] #23375 closed, assigned to nobody

[2017-04-07 00:14] j2sol commented on #23016
This bug only impacts inventories that have ungrouped hosts. Simply putting your hosts into a group will work around the bug.

It's frustrating, sure, but it also shows a place where a new integration test could be added to Ansible. It also highlights an uncommon scenario, ungrouped hosts. Easy enough to work around at your site while waiting for a new release.

[2017-04-07 00:20] snowsky commented on #23375
I see now. Thanks. @vinigfer

[2017-04-07 01:40] sivel commented on #17095
I've done a little bit of research here, and the first thing that I notice, is that you seem to be passing just a plain string through `to_nice_yaml`, such as the string `0base`.  I'm not exactly sure why you would need to do that.

Based on that, and what I can tell of the yaml emitter, it looks to see if you are writing a plain string, and that plain string is the root document, and if so, it ap

[2017-04-07 02:21] liuzm7188 opened #23383 "It's unwork when restart openstack-nova-compute with shell or script"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report
ansible test -m script -a "/tmp/nova.sh"
cat /tmp/nova.sh
#!/bin/bash
service openstack-nova-compute restart

ansible test -m shell -a "service openstack-nova-compute restart"
##### COMPONENT NAME

script   shell
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

SUSE Linux Enterprise Server 12 SP1
###

[2017-04-07 02:40] kuldeep-singh-duhan commented on #23340
Hello David,

I tried within this already but did not working,

Is govc a command which I can run on VSphere cli and that can help me in
finding the real value

On Thu, 6 Apr 2017 at 10:23 PM Davis Phillips <notifications@github.com>
wrote:

@kuldeep-singh-duhan <https://github.com/kuldeep-singh-duhan> Do you have a
datacenter created at the top level?

-> govc ls
/Boston/vm
/Boston/network
/Bosto

[2017-04-07 02:48] bcoca commented on #23016
its a bit more of a corner case its for 'grouped' hosts that were also incorrectly ungrouped due to the specific file parser (ini in this case).

[2017-04-07 03:27] bobobox opened #23385 "rds.py reverts multi-AZ RDS back to single-AZ on any 'modify' action where 'multi_zone' is not specified"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
rds.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
Any 'modify' action using the rds.py module taken against a multi-AZ RDS, where the optional `multi_zone` parameter is not explicitly included in the task, results in the RDS being modified to a single-AZ RDS.

##### STEPS TO REPRODUCE
Exampl

[2017-04-07 06:13] mansunkuo commented on #18748
Thanks @callipeo's  example code.
There is another workaround that you can just replace `include_role` with `include`.
For example, you can replace

[code]

with

[code]

[2017-04-07 06:52] gundalow opened #23388 "Network provider masks too much - may break comparisons"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
In 2.3 we added `no_log` to more that just the password, instead we are masking out all of the `provider:` values.

I believe this masking also may apply to what is written to disk as well as
`register: result`
`wait_for`

This generally wouldn't b

[2017-04-07 07:12] lairdm commented on #23180
Hmm, yes, that isn't a very pleasant solution in #22925. This definitely feels like a regression bug, as it used to work in older versions. What more information do you want? It seems to be fairly reproducible. Thanks for looking in to this.

[2017-04-07 07:23] joaocc commented on #17095
Hi @sivel.
At this distance in time, I think the reason for using to_nice_yaml with a string had to do with wanting to ensure a properly formatted string (with escaping if needed), and also for flexibility in allowing the variables to contain other non-string values if needed.
While I understand your comment of "..." at end of document, shouldn't the ```explicit_end=False``` flag prevent it from b

[2017-04-07 08:48] ianjuma commented on #14380
wonder why stdin is not suppoprted in ansible. ```ansible-vault``` is used here for this reason, passwords could be in vars in a file? But it would be great to have this for password based auth

[2017-04-07 09:06] guits opened #23389 "Conditional in included files from ./handlers/main.yml work only for the first include"
Hi,

I'm having a strange behaviour with conditionnal on `block` statement.

I'm trying to trigger multiple handlers (using `listen` statement) from a task that notifies several listeners.
The handlers are in separate files that are included from `./roles/test/handlers/main.yml`
I'm using `block` statement with conditionnal for each group of handler, it seems only the first `block` has its `when`

[2017-04-07 09:16] xgugeng opened #23390 "service module fails to start elasticsearch"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

`service elasticsearch start` can succeed every times, But Ansible fails sometime ( succeeds sometime) and prints

[code]

But executing `service elasticsearch status` would find Elasticsearch is already running.

[code]

##### STEPS TO REPRODUCE

[code]

[2017-04-07 09:32] Pantharian commented on #22366
The minimal playbook to reproduce has been provided in 'Steps To Reproduce'. Not sure what else I can provide!

This is reproducible using a Ubuntu 16.04 and Window10/Windows 2012 R2 Server VMs in Virtual Box and also in our OpenStack environment.

[2017-04-07 10:26] kfeine opened #23392 "Include variables with with_first_found looks into tasks path"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`include_vars` / `with_first_found`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I use a standard configuration.

##### OS / ENVIRONMENT

Debian 8.7

##### SUMMARY

When using `include_vars` with a `with_first_found`, **Ansible will look for a matching variable file in tasks directory before matching the next option**.
If I understand

[2017-04-07 10:28] jmaschtaler opened #23393 "Host pattern foo[1:3] is sometimes not recognized"
- Bug Report

##### COMPONENT NAME
Pattern

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ubuntu 14.04.05

##### SUMMARY
Host pattern foo0[1:3] does not recognize all hosts under all circumstances.

##### STEPS TO REPRODUCE
**First way to reproduce:**
1. Create hosts foo0[1:3].domain.tld
2. Create inventory with entry:
[code]
3. Run `ansible -k -u root -i inventory

[2017-04-07 10:37] 0mmariano opened #23394 "Variable defined in main play is not passed to included playbook"
ISSUE TYPE: Bug report
COMPONENT NAME: playbook include

ANSIBLE VERSION:
ansible 2.2.1.0
config file = /etc/ansible/ansible.cfg
configured module search path = ['/usr/share/my_modules/', '/etc/ansible/roles/glassfish/library']

CONFIGURATION:
added "[galaxy] ignore_certs = yes" in ansible.cfg while trying to troubleshoot this error
set the http_proxy value (via export) since I am behind a proxy

[2017-04-07 10:38] mscherer opened #23395 "Wrong documentation due to changed default"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
galaxy

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

ansible-galaxy install help message say the following:

[code]

However, that's false, since it go by default to ~/.ansible/roles so running ansible-galaxy install as root do result into roles being written in a non system wide repository,

[2017-04-07 11:22] sivel commented on #17095
From what I could tell looking through the pyyaml code, explicit_end has no bearing on this situation.

I think at this point, this bug has less to do with ansible and more with the behavior of pyyaml.

[2017-04-07 11:56] nb00471049 commented on #23348
Thanks a lot! It worked fine...

[2017-04-07 12:32] jhawkesworth commented on #23301
How about just documenting that UTF-8 is default and if you need to change to support older tools, such as sqlplus, then set chcp in your script?

[2017-04-07 12:36] trondhindenes commented on #23301
Write-host is a bad idea, you likely don't have a "host" when running using ansible. Do a try/catch and stream the exception to disk?

[2017-04-07 12:53] atosatto commented on #19972
I checked with ansible 2.3.0.0-RC4 and this affects also 2.3.0.0. 😭

[2017-04-07 13:14] bjolivot commented on #23390
Could you please past more complete playbook?
I saw that problem a lot when mixing service start/restart in tasks and service restart via handler
They both try to act at the same time and one of them fail.

[2017-04-07 13:15] michael-dev2rights opened #23400 "Failure in ec2_vpc_subnet module creating sunet with pre-existing one - InvalidSubnet.Conflict"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_vpc_subnet

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

this is standard stable taken straight out of git today

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS + boto/boto3 from PIP

##### SUMMARY

In the case where I already have a smaller subnet existing inside the range of a subnet to be created ec_vpc_subnet fails to create the new s

[2017-04-07 13:21] michael-dev2rights commented on #23400
Simple work around: delete the existing subnet and try again.

N.B. deleting an overlapping subnet is a kind of big thing.  I guess it's okay if the subnet names match?

[2017-04-07 13:32] b-long commented on #22366
Sorry, I must have missed that.  It's an interesting problem.  Have you seen this page of [the documentation](https://docs.ansible.com/ansible/wait_for_module.html#examples)?  Just at the bottom of the `wait_for` examples, there is one that is doing something similar to yours.  I wonder if modifying your syntax slightly  would give the desired effect.

Try using :
[code]

[2017-04-07 13:40] discopatrick opened #23401 "Ansible synchronize module fails between vagrant box and remote host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize module

##### ANSIBLE VERSION
[code]
Also tested on 2.2.2.0 and the latest from the 'devel' branch.

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control machine: OSX 10.11.6 El Capitan
Target machines: Ubuntu 14.04.5 x64

##### SUMMARY
I've been using the synchronize module between two remote hosts by using the delegate_to par

[2017-04-07 13:46] andmos commented on #23301
@trondhindenes I had Write-Host here in the example only, in the actual case we don't use it :)

[2017-04-07 13:53] ssbarnea commented on #23016
@j2sol I really doubt that ungrouped hosts is such an uncommon scenario: for example I know lots of projects that do with a default "hosts" file that contains only localhost, allowing tests of that repository to run without further configuration.

[2017-04-07 14:22] sergey-rsa opened #23403 "win_copy with remote_src=true not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu 16.04
windows server 2016
##### SUMMARY

doc at http://docs.ansible.com/ansible/win_copy_module.html do not contain any info about original_basename. but must be set for win_copy. But also not work with it.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULT

[2017-04-07 14:29] alikins commented on #15321
@upbeta01 Cool, thanks for testing. Looks like the ansible python package is not on sys.path. (ie, ~/Private/work/infra/2.3/ansible-2.3.0.0/lib/ansible needs to be in sys.path). Not sure how the virtualenv was setup, but if it is basically the unpacked tar.gz try:

[code]

That will add ~/Private/work/infra/2.3/ansible-2.3.0.0/lib/ansible to PYTHONPATH and set ANSIBLE_HOME to ~/Private/work/infra/

[2017-04-07 15:14] snowsky commented on #23393
cannot reproduce for 2.2.1.0 and 2.4(devel 13b2f11139)

[2017-04-07 15:21] Pantharian commented on #22366
Same result :(

But I have found a better solution for waiting for WinRM to become available;
---
# See http://stevenmurawski.com/powershell/2015/06/need-to-test-if-winrm-is-listening/
- name: Wait for WinRM to being accepting commands
  hosts: all
  # Gathering facts will fail if the machine cannot be contacted.
  gather_facts: False
  tasks:
    - name: Wait for WinRM to become available
      s

[2017-04-07 15:33] bcoca commented on #17382
the directory parsing calls the same function recursively for each file, which is when that check then applies.

[2017-04-07 15:34] gravattj commented on #12905
I am encountering the same issue.  As near as I can tell, this is the correct place to open this ticket.  If so, can we reopen this?  If not, please point me to the correct location to submit an issue.

[2017-04-07 15:36] ColOfAbRiX commented on #22996
I've found the issue but I can't fix it today. I'll get back next week.

[2017-04-07 15:37] Phrozyn commented on #17095
I had this problem yesterday, and responded to this thread, but ended up removing my comment.
It's not an ansible issue to be clear.

For me it was a journey - through jinja2 and templates.
I got the ... on a new line, but that appeared to be due to using a list of items with only one item in it (I had started with more than 1 item but ansible wants to put [] around them, and I didn't need those.

[2017-04-07 15:44] jhawkesworth commented on #23403
I am closing this as 'no fault found' because...

'original_basename' is not documented because it is not required for win_copy usage.  It is used when templating and/or recursive copying.

You are attempting to use 'remote_src' but that is not available until ansible 2.3.

[2017-04-07 15:44] #23403 closed, assigned to nobody

[2017-04-07 15:56] bcoca commented on #23180
@lairdm the problem previouslly was that the implicit setup/gather_facts tasks did not observe environment at all. This problem started occurring when we fixed that issue.

The fix in PR above is not pretty, but should enable the feature to work in as many cases possible.

[2017-04-07 15:57] otsuka opened #23409 "Why s3_sync module call s3.list_buckets() method?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

s3_sync

##### ANSIBLE VERSION

[code]

##### SUMMARY

https://github.com/ansible/ansible/blob/stable-2.3/lib/ansible/modules/cloud/amazon/s3_sync.py#L469

s3_sync module seems to invoke s3.list_buckets() method in order to validate AWS credentials.
For that purpose another method like s3.list_objects() might be appropriate because
list_bucke

[2017-04-07 16:09] #16731 closed, assigned to nobody

[2017-04-07 16:19] #18528 closed, assigned to sivel

[2017-04-07 16:28] vinigfer commented on #23192
I had a chance to test this again today on a different server (linode). Turns out dest parameter is OK. I had this issue because I needed to use a VM with network interface in NAT mode, and redirect SSH to a different port. That is why I was using 127.0.0.1 as a server. Docs are OK for servers other than localhost. Maybe add an observation to the docs?

[2017-04-07 16:50] b-long commented on #22366
Sorry my suggestion didn't work, and glad you found a solution!

[2017-04-07 16:52] bcoca commented on #23016
@ssbarnea read my blurb above, its not just 'ungrouped' they also have to be grouped and incorrectly left in the 'ungrouped' group.

[2017-04-07 17:14] bcoca commented on #23394
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Play vars are not shared across plays, even when one of them is included, only hostvars are available across plays.

In the future, thi

[2017-04-07 17:14] #23394 closed, assigned to nobody

[2017-04-07 17:19] gundalow commented on #23388
https://gist.github.com/gundalow/405cb5251447e4cdf11855f1087193a7#file-nolog-yaml

[2017-04-07 17:25] bcoca commented on #23395
This might be a better description, as installation looks for the 'first writable' path and other operations look for first match in paths.

[code]

[2017-04-07 17:33] sivel commented on #14804
This has been resolved in https://github.com/ansible/ansible/pull/18141

[2017-04-07 17:33] #14804 closed, assigned to sivel

[2017-04-07 17:44] abadger commented on #23229
I'm unable to reproduce this with your configuration and a slightly modified dynamic inventory and playbook:
[code]

Can you try that out and then give us more information to reproduce?  (One thing I notice missing from the report is the output from ansible --version)

needs_info

[2017-04-07 18:08] jbilbro commented on #21285
I'm hitting this, too.  Any work around you guys have discovered?

[2017-04-07 18:34] bcoca commented on #14641
so back to needing info, anyone that can reproduce this on a current version?

[2017-04-07 19:13] knightsg opened #23419 "cloudformation_facts fails if stack doesn't exist"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
cloudformation_facts module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
* Added 'hash_behaviour = merge'

##### OS / ENVIRONMENT
Control machine: OSX 10.12.3
Managed machine: same (playbook execution=local)

##### SUMMARY
The cloudformation_facts module causes ansible-playbook to fail if the stack name given doesn't exist. In my use ca

[2017-04-07 19:27] erwilan commented on #23192
ansible and the synchronize module treat hosts named 'localhost', '127.0.0.1' or '::1' special.

to avoid this name the host differently and set ansible_host and ansible_port (in the inventory).

[code]

[2017-04-07 19:32] b-long commented on #13782
Hi all, hoping to re-energize this conversation a bit.  Initially, I wanted to use `stderr_lines`, but given the discussion I'm less certain if it's a good idea.

One thing that I will say, when one attempts to use it, the result is pretty confusing output.  For example, if I include `something.stderr_lines` with Ansible 2.2.2.0, the result is the following :

[code]
This was awkward, since my pla

[2017-04-07 19:43] spikerobinson opened #23421 "regex_replace behaviour is different if escaped search pattern argument is a literal string vs a variable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

regex_replace filter
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7 but this is not platform specific
##### SUMMARY

A different result is obtained when passing an escaped literal string as the search pattern (first argument) to regex_replace, vs when passing the exact same escaped literal string as the cont

[2017-04-07 19:45] bcoca commented on #13782
fixed in passing in #20423 and will be present in Ansible >=2.3

[2017-04-07 19:45] #13782 closed, assigned to nobody

[2017-04-07 19:47] ganto commented on #19801
Thanks for your reply. Just for reference, I opened https://bugzilla.redhat.com/show_bug.cgi?id=1440292

[2017-04-07 19:58] b-long commented on #13782
Ah, fantastic!  Cheers @bcoca , looking forward to it!

[2017-04-07 20:16] erwilan commented on #19336
ansible and the synchronize module treat hosts named 'localhost', '127.0.0.1' or '::1' special.

to avoid this name the host differently and set ansible_host and ansible_port (in the inventory).

[code]

[2017-04-07 20:32] lilwan opened #23423 "play._included_path does not have playbook file name"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

playbook/playbook_include

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg

[defaults]

callback_plugins = ./plugin
#callback_whitelist = profile_tasks

force_handlers = True
roles_path = ./roles

##### OS / ENVIRONMENT

Mac OS X El Capitan

##### SUMMARY

I am implementing the callback to send some status updates for each task

[2017-04-07 20:37] #23388 closed, assigned to nobody

[2017-04-07 20:41] mixja commented on #23419
You could use the Ansible blocks feature to handle the failure - http://docs.ansible.com/ansible/playbooks_blocks.html#error-handling

[code]

[2017-04-07 20:49] knightsg commented on #23419
Interesting, I will check that out. It's been a while since I've looked at the block feature and I hadn't read the error handling section.

This should be a satisfactory workaround for my issue but I still kind of feel like the best workflow would be that the module shouldn't fail, just return a message to indicate the stack wasn't found. It's not like a facts module (or, at least this one) makes

[2017-04-07 20:56] mixja commented on #23419
Sounds reasonable - the failed key signals failure to Ansible, so perhaps setting the return code to non-zero with empty output is the best approach based upon the best practices guide -
http://docs.ansible.com/ansible/dev_guide/developing_modules_best_practices.html

[2017-04-07 21:12] knightsg commented on #23419
Yes, and actually I just tried the block/rescue approach you outlined and while it does indeed work fine, it still spits out a big red error message which looks nasty and in certain situations possibly confusing.

[2017-04-07 21:18] mixja commented on #23419
You can suppress (**ALL**) errors from any task using `failed_when: false` but I agree it is not ideal

[2017-04-07 21:21] Anirban2404 commented on #19620
same here

[2017-04-07 21:35] #23171 closed, assigned to nobody

[2017-04-07 22:13] abadger commented on #21951
Fixed via: https://github.com/ansible/ansible/pull/22325

[2017-04-07 22:13] #21951 closed, assigned to nobody

[2017-04-07 22:18] abadger commented on #21777
Fixed in https://github.com/ansible/ansible/pull/18561.  Change was first released in 2.2.2

[2017-04-07 22:18] #21777 closed, assigned to nobody

[2017-04-07 22:23] knightsg commented on #23419
Yep, I gave that a go and it does help cover up the error output, but then
I had to add a bunch of conditions to the rest of the tasks in the block so
they wouldn't also fail which added a degree of complexity to the whole
thing.

On Fri, Apr 7, 2017 at 2:18 PM, Justin Menga <notifications@github.com>
wrote:

[2017-04-07 22:39] senorsmile commented on #11551
:+1: this would solve two issues for deploying things over latent links (e.g. satellite internet).

1. The need to manually babysit runs and retry on timeout ( it is not feasible to add retry to every single task)

2. If a handler was triggered because of a conf change, but the node timed out before the handler is run, the handler will never run (e.g. Causing the service to not pick up the new cha

[2017-04-07 22:44] knightsg commented on #23419
Good suggestion. I did that and it's helped me achieve what I was after.

Thanks!

[2017-04-07 23:14] jctanner commented on #23272
@Rudd-O What is the output from:
[code]

needs_info

[2017-04-07 23:19] jctanner commented on #23287
@sugun999 this is the trimmed down version of the ssh command ansible calls:

[code]

What arguments in that command would need to change in order to successfully ssh to the host?

needs_info

[2017-04-07 23:22] #20326 closed, assigned to nobody

[2017-04-07 23:43] shadycuz commented on #15321
I still have this issue, willing to test if you need.

Ubuntu 16.04 and ansible 2.0.0.2

[code]

[2017-04-07 23:55] daBONDi commented on #23215
is W:\ a Local Drive ? and what is the exception Message?

[2017-04-08 00:46] eerorika commented on #23379
For what it's worth, I wrote a unit test for this: [test_include_role_deps.py](https://github.com/eerorika/ansible/blob/418a07a4e8f5268c564d582856e89d803914cad0/test/units/playbook/role/test_include_role_deps.py)

[2017-04-08 01:39] jctanner commented on #23327
needs_info^

[2017-04-08 01:58] jctanner commented on #23344
cc @robinro

[2017-04-08 09:00] nitzmahone commented on #23370
This behavior is by design- variables are templated as late as possible to allow for the various overrides in the precedence hierarchy to work properly.

[2017-04-08 09:00] #23370 closed, assigned to nobody

[2017-04-08 11:55] pjmcquade opened #23431 "lvol module abends with 'snapshots not supported' message when using valid NN%ORIGIN size descriptor"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lvol.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ cat /home/a769/.ansible.cfg
[defaults]
remote_user=[REDACTED]
host_key_checking = False
forks=20
inventory=/home/[REDACTED]/ansible/inventory/hosts

##### OS / ENVIRONMENT

RHEL 7.2

##### SUMMARY
I want to implement an ansible task that performs this OS command:

lvcreate -l 30%OR

[2017-04-08 12:20] rss2403 commented on #23016
Indeed. This seems to work just fine:

[code]

This doesn't:

[code]

[2017-04-08 12:24] pjmcquade commented on #23431
As you can tell, this is my first question :)

[2017-04-08 12:45] hiephm commented on #9065
I just joined victim list today after 1 hour debugging and fortunate enough to found this post.
I think it's only documentation problem, no one will complain if it's clearly noted in here:
http://docs.ansible.com/ansible/intro_inventory.html#group-variables
the fact that variables are associated with hosts, and groups is just a convenience way to set variables to all hosts belong to it. Variables

[2017-04-08 19:56] abadger commented on #20685
#22858 merged to devel (for 2.4.0).  Closing out ticket.

[2017-04-08 19:56] #20685 closed, assigned to nobody

[2017-04-08 19:57] abadger commented on #19465
#22858 merged to devel for 2.4.0.  Closing ticket.

[2017-04-08 19:57] #19465 closed, assigned to nobody

[2017-04-08 20:05] howinator commented on #23400
I agree with Ansible failing here - it absolutely should not overwrite another subnet. However, I do agree that the error message should be more descriptive.

[2017-04-08 23:01] GMLudo commented on #15915
Hi,

Somebody could re-open this issue ?
The bug is still present.

Thank you.

[2017-04-09 01:52] aquarion opened #23435 "MXRRDATAPriorityRequired when adding an MX record with Route53"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

route53

##### ANSIBLE VERSION
[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Running from OS X and also tried on Debian

##### SUMMARY

When attempting to create an AWS Route53 MX record, I get an error about not having a priority field. This worked with Ansible 2.0, but not since I upgraded to 2.2

##### STEPS TO REPRODUCE

As fa

[2017-04-09 02:20] kaiomagalhaes commented on #15321
I am having the same issue

[2017-04-09 03:12] patran commented on #23327
I'll see if I can put together a case to reproduce sometime next week

[2017-04-09 05:09] insidepacket opened #23437 "F5 BigIP GTM Wide-IP creation failed"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
network/f5/bigip_gtm_wide_ip

##### ANSIBLE VERSION
Ansible version 2.2.1.0
[root@localhost f5]# ansible --version
ansible 2.2.1.0
  config file = /home/dzhang/f5/ansible.cfg
  configured module search path = Default w/o overrides

[code]

[2017-04-09 07:32] le9i0nx commented on #19336
But I indicated ansible that it needs to use ssh `ansible_connection=ssh`

1. And I expect that ssh will be used even for localhost
2. Or you need to write in documentation about this feature for localhost

I believe that the more predictable behavior in the first paragraph

[2017-04-09 10:05] gaddman opened #23439 "Add support to user module for overwriting the SSH key"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
user module

##### SUMMARY
Add support for overwriting the SSH key.

##### JUSTIFICATION
The user module is able to generate an SSH key for a new user, but is not able to overwrite an existing key. In some scenarios it is useful to regenerate SSH keys, such as when they have been compromised or a templated filesystem is used.
One current worka

[2017-04-09 10:17] jancespivo commented on #14426
Hi,
sorry for commenting to closed ticket.
We experienced the same problem with ansible 2.2.0 and 2.2.2 and we managed the problem appears only with Python 3.5. In Python 2.7 it all seems to be ok.

[2017-04-09 11:38] mike42 commented on #12986
Since 2.1, the [setup module](http://docs.ansible.com/ansible/setup_module.html) implements a way to achieve this.

[code]

Or equivalently in a playbook-

[code]

In my case, I had as server where running `facter` would briefly stop all TCP traffic. I assume this is some sort of dire mis-configuration, but I haven't debugged it yet.

Adding`gather_subset=!facter` to each play solves the immediate

[2017-04-09 11:59] aquarion commented on #23435
I've found a workaround, which is to use this instead:

[code]

But I'm not sure why it stopped collapsing the list properly, especially with that error message

[2017-04-09 12:40] doker78 commented on #10695
+1

[2017-04-09 15:50] gundalow commented on #23437
@insidepacket Thanks for the bug report

Bug report states this is broken in ` 2.2.1.0`, therefore not a blocker for 2.3.

[2017-04-09 17:19] caphrim007 commented on #23437
@gundalow the original author of wide-ip (not me) never implemented create functionality. so this is a missing feature. It should be, however, fixed in the f5-ansible repo that I was planning on being part of the 2.4 release.

[2017-04-09 17:31] iljabauer opened #23442 "If included file is a symlink, symlinked path should be added in lookup paths for files and templates"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
include

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

This issue is already reported in #9309 and is not fixed yet.
If a role has following code in the main.yml:

[code]

and test.yml is a symlink and has following content:

[code]

The file will not be found because the file will be searched in

[2017-04-09 20:18] LuckySB opened #23445 "make rpm fail when try copy man1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
make rpm ansible packet

##### ANSIBLE VERSION
Last version from main branch
[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
Centos 7

##### SUMMARY
make rpm fail with error:
cp: cannot stat 'docs/man/man1/*.1': No such file or directory
error: Bad exit status from /var/tmp/rpm-tmp.CaBVhB (%install)

##### STEPS TO REPRODUCE

git clone

[2017-04-09 20:49] gundalow commented on #23437
Thanks for the background. I've changed this to be a feature issues.

How would you prefer to track these? Should I close this as it's tracked in your repo?

[2017-04-09 21:34] caphrim007 commented on #23437
i think i'll keep it open until i sent the pr with the updated module. i'll reference this issue in it and we can close it when we merge the module

[2017-04-09 21:35] gundalow commented on #23437
Sounds good

[2017-04-09 22:58] insidepacket commented on #23437
HI team, Thank you very much for your update!
Hi caphrim007, could you pls suggest where I can find the doc around what function the module provides like resource creation/update/delete? (I have  beent o ansible.com and f5-ansible.readthedocs.io but no lucky)

[2017-04-09 23:01] Infiniverse opened #23446 "pkgng appears to fail when running from devel branch."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/packaging/os/pkgng.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default config - no changes

##### OS / ENVIRONMENT
Host:
```Darwin unnamed-84.karthauser.co.uk 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 23 18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64```
Managing:
```FreeBSD  11.0-RELEASE-p1 FreeBSD 11.0-RELEA

[2017-04-09 23:03] Infiniverse commented on #23446
I'm really confused as to what might be going on. I've tried bisecting back a few months, but I can't find a version that works - however the version that pip installed works fine.

[2017-04-09 23:18] caphrim007 commented on #23437
@insidepacket to the best of my knowledge, it only supports updating existing gtm wide-ips. If you have Ansible 2.3 (pre-release right now, soon to be production release) you can install the wide-ip module that you can find here.

https://github.com/F5Networks/f5-ansible/blob/devel/library/bigip_gtm_wide_ip.py

The above should provide the full array of create, update, delete.

In Ansible 2.4, or

[2017-04-09 23:36] adamcousins commented on #10006
Sorry to bring up an old issue. Please direct me to where this should go if here is not the correct place.

I'm struggling to get this working...pretty sure my boto versions are latest however when i pass in a profile name which is available in ~/.aws/credentials i get an invalid token error.

What i would really like is the profile inside ~/.aws/config to be used as i have an assumerole role prov

[2017-04-10 01:32] xiaosuiba commented on #16809
Dear Alikins,

I have the same issue with the latest version. I'm now pretty sure their's no way to set endpoints of an openstack project. I only found a [third-party ansible](https://github.com/openstack-ansible/openstack-ansible-modules) module to do that thing like this:
[code]

Could you please take a look at that project and add this feature to the next release version?

Thanks!
Best regards,

[2017-04-10 01:35] pablodav commented on #23016
If you are using molecule for testing you must move to `2.2.1` until `2.2.3` is released.

see https://github.com/metacloud/molecule/issues/783

The issue is because molecule creates an inventory with hosts in empty group, example:

[code]

[2017-04-10 02:01] snowsky commented on #10006
I cannot reproduce. I generated a profile with a different key in the same region.

[2017-04-10 02:12] adamcousins commented on #10006
@snowsky Are you using a set of access/secret keys under your second profile or are you using cross-account roles.

[2017-04-10 03:19] jamiesonbecker commented on #23439
Or could just use userify with its ansible playbook.. ;) (blatant plug! we love ansible at userify!)

[2017-04-10 06:02] sugun999 commented on #23287
Hi,

I am able to open ssh connection manually with this command.

ssh -o User=centos -o 'IdentityFile="/root/.ssh/id_rsa"'  20.20.0.37

But with ansible, it fails to open ssh connection with in-memory inventory (above roles).

[2017-04-10 07:41] guenhter commented on #23255
Thanks. I didn't know the find module.

[2017-04-10 09:40] #13838 closed, assigned to nobody

[2017-04-10 09:55] 0mmariano opened #23449 "glassfish_deploy module displays password and deploys an app that's already deployed"
ISSUE TYPE: Bug report
COMPONENT NAME: glassfish_deploy module
https://github.com/ansible/ansible-modules-extras/pull/1283#pullrequestreview-31796802

ANSIBLE VERSION:
ansible 2.2.1.0
config file = /etc/ansible/ansible.cfg
configured module search path = ['/usr/share/my_modules/', '/etc/ansible/roles/glassfish/library']

CONFIGURATION:
added "[galaxy] ignore_certs = yes" in ansible.cfg while tryin

[2017-04-10 10:02] insidepacket commented on #23437
@caphrim007 . i re-run my playbook using and now see different error :

[dzhang@localhost f5]$ ansible-playbook -vvv gtm-v0.2a.yml
/usr/lib/python2.7/site-packages/pkg_resources.py:1054: UserWarning: /home/dzhang/.python-eggs is writable by group/others and vulnerable to attack when used with get_resource_filename. Consider a more secure location (set with .set_extraction_path or the PYTHON_EGG_CA

[2017-04-10 10:09] dagwieers opened #23450 "win_copy: Slow transfer speed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_copy

##### ANSIBLE VERSION

v2.3

##### OS / ENVIRONMENT

Master node: RHEL7
Target node(s): Windows 10

##### SUMMARY

When testing **win_copy** speed on large files (4GB ISO files) on $CUSTOMER VMware vCenter infrastructure using WinRM/HTTPS, we noticed an avg at 22MB/sec. While transferring the same files using **win_get_url** over HTT

[2017-04-10 10:27] valentinbajrami opened #23451 "ERROR! no action detected in task. This often indicates a misspelled module name, or incorrect module path"
Running:  ansible --version
ansible 2.2.2.0
  config file = /root/projectx/centos7v/ansible.cfg
  configured module search path = Default w/o overrides

# tree .
├── roles
│   └── basic
│       ├── files
│       │   └── root_bashrc
│       ├── handlers
│       │   └── main.yml
│       └── tasks
│           └── main.yml

# ansible-playbook playbook.yml

ERROR! no action detected in task. This often

[2017-04-10 10:30] Infiniverse commented on #23446
Looks like it might be something to do with how SSH is being handled.

[2017-04-10 10:38] val0x00ff commented on #23451
Resolved.  Needed `command`  module to add.

[2017-04-10 11:29] dagwieers commented on #15476
For anyone involved in this ticket, there is now a workaround for this behaviour.
You can now use a meta-task to flush the handlers at any point in your playbook (or role).

[code]

[2017-04-10 11:36] #23451 closed, assigned to nobody

[2017-04-10 12:01] jhawkesworth commented on #23450
I expect there is large overhead caused by serialising and deserializing, and also the maximum soap envelope size meaning a large number of round trips are needed.

I'm not sure what we could do differently in win_copy.ps1 as the speed seems to be limited by the web services protocol and winrm protocol overhead.

One thing we could do is document that win_copy is not optimal for large file transfe

[2017-04-10 12:07] dagwieers commented on #22427
I found the real issue here. Apparently the workgroup I was using in the task (name of the organisation) coincided with the name one of the wireless devices was using as the SSID (and apparently also as its own hostname). I noticed it failed to be configured in Windows if I did it manually.

The error resembles the following screenshot:
![image](https://cloud.githubusercontent.com/assets/388198/24

[2017-04-10 12:16] dagwieers commented on #23450
@jhawkesworth Yes, for the testing I was doing force=no, and the stretched delay was not always occurring.
I will conduct some more tests when I have more time. The Process Explorer I/O WRITE/OTHER is something I would like to understand. If it's doing twice the amount of operations for a single block, and we could avoid it, it may be quick fix there ?

https://superuser.com/questions/993966/what-

[2017-04-10 12:34] s-hertel commented on #23409
Yeah, list bucket isn't really helping here, since permissions aren't all or nothing. I think it would be better to raise exceptions in filter_list() and upload_files() to give better clues about what permissions are actually missing.

[2017-04-10 12:40] lfrancke opened #23455 "win_firewall_rule module doesn't check return code"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_firewall_rule

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Running on MacOS, managing Windows Server 2016

##### SUMMARY
`win_firewall_rule.ps1` does not check the return code of running netsh and defaults to `success` when there is no exception even though the underlying netsh command fails.

##### STEPS TO REP

[2017-04-10 12:51] JohanNordlinder opened #23456 "wait_for never resolves due to silent fail if IPv6 is disabled in the OS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Utility module: wait_for

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Linux without IPv6 enabled so that the path `/proc/net/tcp6` returns `No such file or directory`

##### SUMMARY
When IPv6 is disabled the module never resolves to success no matter which settings are used.

I've found the root cause by looking

[2017-04-10 12:58] snowsky commented on #10006
@adamcousins I am using a set of access/secret keys under my second profile.

[2017-04-10 13:08] it-svit commented on #18961
[code]

[2017-04-10 13:37] alikins commented on #23449
The glassfish_deploy module is not included in ansible (neither in 2.2 or newer versions),
so we can't really fix it.

The best place to submit an issue would be to the author of the module.

If there is a generic issue in ansible triggered by that particular module, if you could provide an example playbook that triggers, please reopen this bug with that info.

[2017-04-10 13:37] #23449 closed, assigned to nobody

[2017-04-10 13:46] bearrito opened #23457 "include_role broken on 2.2.2.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
include_role fails and complains with little useful output

##### STEPS TO REPRODUCE
1. I cloned https://github.com/elastic/ansible-elasticsearch as a submodule into my roles directory as `elastic-elasticsearch`
2.  I then attempt to include the role

[2017-04-10 13:55] dagwieers commented on #15476
As a workaround, one may be able to use a meta-task like:

[code]

to control when notification handlers should be triggered, e.g. at the end of a role.
Which is likely what every role-maintainer using notification handlers should be using.

[2017-04-10 13:57] alikins opened #23458 "ssh connection retry is too verbose at -vvv (shows rc/stdout/stderr)"
##### SUMMARY

ssh connection retry is too verbose at -vvv (shows rc/stdout/stderr)

After the ssh retry decorator was added in https://github.com/ansible/ansible/commit/1fe67f9f436595003f7951dd88159731e6d82498

verbose levels of -vvv or higher now display the return code, stdout, and stderr from the shh invocation
as long as the wrapped ansible.plugins.connection.ssh.Connection._run() method does

[2017-04-10 14:05] sivel commented on #23458
It looks like I may have left in an inadvertent `display.vvv` from debugging.

[2017-04-10 14:28] mbert opened #23459 "Handling of group_vars precedence not handled constently"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
./.

##### OS / ENVIRONMENT
Oracle Linux 6.8

##### SUMMARY
Group vars from group_vars/*.yaml don't override vars defined under [group:vars] in an inventory file.
See the below outputs.

Ansible version  2.3.0 handles this correctly as pointed out by @bcoca in #23258.

##### STEPS TO REP

[2017-04-10 14:28] mbert commented on #23258
See #23459.

[2017-04-10 14:43] #18367 closed, assigned to gundalow

[2017-04-10 15:00] rbbrasil commented on #23214
I don't know. Actually the doc says that `copy` is deprecated in favor of `remote_src`, added in v2.2.

[2017-04-10 15:01] meersjo commented on #11789
Similar, but interestingly it worked fine with a vagrant host; but when I copy/pasted the role definition to an actual plabook it stopped working.

Given that they're a related set of settings (proxy variables) it's very convenient to have them together in a list.

[2017-04-10 15:07] anryko opened #23462 "False positive warning when variable is used in playbook hosts field."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Waring is displayed "Could not match supplied host pattern, ignoring: group-{{" when ansible variables are used in playbook hosts.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Playbook executed without warnings.

##### ACTUAL RES

[2017-04-10 15:14] abadger commented on #19128
Hello, I've had a chance to look into this and it looks like the problem is most likely in the packages you're trying to install.  We only get this particular error message back when /usr/bin/apt-get returns a nonzero exit code to indicate failure.  I notice that the last line in the stdout from apt is that it is processing triggers for ureadahead.  My guess is that the trigger script sometimes fa

[2017-04-10 15:29] alikins commented on #23445
I can duplicate the error and verify the change in https://github.com/LuckySB/ansible/issues/1 fixes it.

@LuckySB can you file that pr against github.com/ansible/ansible ?

[2017-04-10 15:35] alikins commented on #23446
(formatted traceback for easier reading)

[code]

[2017-04-10 15:38] alikins commented on #23446
(formatted stderr/ssh stderr for easier reading)

[code]

[2017-04-10 15:41] Infiniverse commented on #23446
I'm concerned about the 'broken pipe's, but looking at the successful logs it seems that that's a normal behaviour for the ssh connection rather than the cause of the issue.

[2017-04-10 15:57] alikins commented on #23446
The 'Broken pipe' from stderr looks like it could be related to https://github.com/ansible/ansible/issues/16731

I don't know if the errors are related or not.

I don't see anything that I'd expect to cause the 'itertools.imap' error though (nothing seems to reference itertools, all the types involved look to be plain lists, etc...)

[2017-04-10 16:01] eregimbald opened #23465 "Ansible is getting host IPs from where it shouldn't"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
Shell

##### ANSIBLE VERSION
ansible 2.2.1.0

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.1 LTS
Release:        16.04
Codename:       xenial

##### SUMMARY
I'm running a playbook on an empty host list and Ansible grabs the IP of a switch somewhere on our network

##### STEPS TO REPRODUCE
v

[2017-04-10 16:01] alikins commented on #23446
For 2.4, there should not be a modules/extras/ directory.   Is 'library' configured to point to /Users/joe/Documents/TrueSpeed/repositories/ansible/lib/ansible/modules/extras  somewhere?

Maybe the 2.4 checkout still has the old lib/ansible/modules/core/ and lib/ansible/modules/extras directories?

mv/rm them if they exist in a 2.4 checkout.

[2017-04-10 16:09] bcoca commented on #23462
dupe of #23057

[2017-04-10 16:09] #23462 closed, assigned to nobody

[2017-04-10 16:11] alikins commented on #23456
Looks like wait_for.py needs to be changed so the try/except handling for IOError gets handled in get_active_connections_count() so it will try all of the source_file/AF_INET* types before waiting.

[2017-04-10 16:46] bcoca commented on #23442
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

If you symlink a file the original path is not supposed to be in the expected search paths, Ansible will (and should) only consider the

[2017-04-10 16:46] #23442 closed, assigned to jimi-c, bcoca

[2017-04-10 17:25] jmvbxx opened #23468 ""Failed to find required executable gem" on eligible/installed gem"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gem module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No special configurations

##### OS / ENVIRONMENT
Ansible is being run from Ubuntu 16.04.

##### SUMMARY
I have a task to install the `backup` gem.
[code]
It generates the following error: `Failed to find required executable gem`. However, `gem list --local` shows that the gem is ther

[2017-04-10 17:26] joshbenner commented on #18154
@Xosofox: You identify that playbook vars override inventory vars. I agree that this is confusing/surprising, but is that what this issue is about?

[2017-04-10 17:41] LuckySB commented on #23445
https://github.com/ansible/ansible/pull/23469

[2017-04-10 17:41] bcoca commented on #18154
This matches the documented precedence, so I'm going to close as it is not an issue.
https://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

[2017-04-10 17:41] #18154 closed, assigned to nobody

[2017-04-10 18:03] Lowess commented on #22935
@s-hertel have you started implementing ansible modules related to this ticket ? Please let me know if I can help on that ! One of our new use case heavily relies on this new feature. Also could you tell me if you already have an ETA for that new feature ?

 Thanks!

[2017-04-10 18:15] regosse commented on #23377
It's not a template file. It's actually output from a command or shell module saved to a register variable and then sent to stdout via the debug module. We tried the !unsafe directive on the variable but it didn't work. Thanks for your help!

[2017-04-10 19:11] Infiniverse commented on #23446
I'm confused too - I'm going to try it using 'connection=local' shortly and see if it's a connection issue or something else.

[2017-04-10 19:42] Infiniverse commented on #23446
It does appear to have both:

[code]

[2017-04-10 19:47] Infiniverse commented on #23446
Removing ```core``` and ```extras``` fixes the problem. How did they end up in the devel/ branch if they've been removed already?

[2017-04-10 19:48] peterhorvath opened #23470 "to_nice_yaml filter not printing correctly"
##### ISSUE TYPE
 - Feature request

##### COMPONENT NAME
to_nice_yaml filter

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS 64bit

##### SUMMARY
I want to print a yaml config into a file keeping the formatting
template:
[code]
variable:
[code]

Output:
[code]
if i keep the docker-compose formatting recommendation and enclose ports in ""
[code]
output w

[2017-04-10 20:05] fefe commented on #23470
Something along the way interprets 222:22 as a time value and converts it to serial.
222 minutes and 22 seconds will give you 13342 seconds
222 * 60 + 22 = 13342
No idea about the reason, but this is what looks like to be happening.

[2017-04-10 20:05] peterhorvath commented on #23470
yeah tested and if :00-59 it always converts it to time

[2017-04-10 20:08] dagwieers opened #23471 "win_scheduled_task: Adding tasks in non-existing path fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_scheduled_task

##### ANSIBLE VERSION

v2.3

##### SUMMARY

Adding scheduled tasks in a different (non-existing) path is not possible. And the module does not allow to manage paths. A solution would be to have the module create the non-existing path, and remove it when the last entry was removed from it.

[2017-04-10 20:12] dagwieers opened #23472 "win_scheduled_task: Unable to modifying time of task"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_scheduled_task

##### ANSIBLE VERSION

v2.3

##### SUMMARY

Modifying the time of an existing tasks succeeds without change, but does not make a change either.

The time format also does not support any other format than 12-hour format Xam or Ypm (not e.g. 19:00).

[2017-04-10 20:13] sivel commented on #23470
Yes, what is happening is it is matching the regex for a timestamp value:

http://yaml.org/type/timestamp.html

FWIW, yamllint.com parses this the same way.

Quoting, or using `!!str 222:22` would be the ways to get it to not parse as a timestamp.

[2017-04-10 20:24] peterhorvath commented on #23470
output is still different compared to the other ports even if i add !!str
[code]

[2017-04-10 20:31] dagwieers commented on #23455
Component name is incorrect, so the right people are not involved in your ticket.

[2017-04-10 20:39] dagwieers commented on #23344
@boxrick @snowksy If you deliberately state: `failed_when: false` you are telling Ansible to not fail (even if the task would have failed). So you are overriding the failure of the task and this will cause the output: `"failed": false` rather than `"failed" = true`.

Simply remove the 'failed_when: false` from your task and it behaves the way you expected.

notabug

[2017-04-10 20:53] snowsky commented on #23344
Thanks @dagwieers for the details and I took some time to look into the codes but missed the failed_when part of codes. I'll revisit and get more ideas.

[2017-04-10 20:53] sivel commented on #23470
YAML understands in that case that it doesn't need to quote, for it to be parsed as a string, and thus doesn't add quotes.

[2017-04-10 20:55] groggemans commented on #17582
I'm having the issue with 2.2.2.0

[2017-04-10 20:59] snowsky commented on #23344
So basically failed_when: false means ignore_errors, isn't it?

[2017-04-10 21:01] sivel commented on #23344
`failed_when: false` changes the failure status, so that ansible doesn't see it as failed.  `ignore_errors: true` allows it to fail, display as red, but the failure is ignored and the playbook continues.

[2017-04-10 21:01] dagwieers commented on #23344
No.
- `ignore_errors: true` means **the task status stays failed, but we ignore the consequence of a failed task**.
- `failed_when: false` means **the task status is not failed, even if the task did fail**.

[2017-04-10 21:03] snowsky commented on #23468
Gem is kinda pain, I got this:
[code]

[2017-04-10 21:03] snowsky commented on #23468
What is your env output?

[2017-04-10 21:11] jmvbxx commented on #23468
The backup gem only works on ruby 2.2.6 which is why I had to install via
rbenv. It dies with 2.4.x.

I tried to overcome this by specifying the become_user in the task. Is this
not a valid workaround?

On Apr 10, 2017 16:04, "Hao" <notifications@github.com> wrote:

[2017-04-10 21:15] persapiens commented on #22596
+1
I agree with the statement:

`must be another flag, something like **pull=always** or same, to always pull latest image, but stay unchanged, if nothing to do.`

[2017-04-10 21:43] lfrancke commented on #23455
Thanks @dagwieers. I hope module name == component in this case? Either way I've updated the name from win_firewall to win_firewall_rule. Thanks for catching my mistake!

[2017-04-10 21:50] jmighion opened #23474 "Network *_command modules need terminal width set to avoid seeing paged input in the expected output"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`*_command` network command modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The terminal width on network devices isn't being set to avoid paging. If a command goes over the default amount the output from a `*_command` module will include the paged output of the command first, followed b

[2017-04-10 22:20] s-hertel commented on #22935
@Lowess PRs are always welcome. I haven't started implementing these modules but I don't expect implementation to take very long. ETA is tentatively 2.4. To try to keep with naming convention if (#19491 and #19492 are merged) the modules will be called elb_application_lb_facts and elb_target_group_facts.

[2017-04-10 23:00] apotek commented on #16944
This issue was moved to ansible/ansible-modules-core#5906

[2017-04-10 23:40] dteleguin opened #23475 "Support install root in URPMI module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
modules/packaging/os/urpmi.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Mageia Linux

##### SUMMARY
Ansible URPMI module doesn't support the install root option (while modules like yum and DNF do). This option could be very useful, for example, when building chroot environments in an automated way.

##### STEPS

[2017-04-11 00:39] snowsky commented on #23344
Thanks @sivel @dagwieers

[2017-04-11 00:42] snowsky commented on #23468
It could be valid, but considering gem is not friendly with root user, it may complain.

[2017-04-11 00:50] jmvbxx commented on #23468
Thanks for the feedback. I'll install a system wide ruby 2.2.6 to see if it
helps and avoid the entire rbenv mess.

On Apr 10, 2017 19:43, "Hao" <notifications@github.com> wrote:

[2017-04-11 02:31] #19128 closed, assigned to nobody

[2017-04-11 03:30] tingxin opened #23479 "install ansible error relative to cryptography"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Ansible installation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OS X 10.10.5

Ubuntu 14.04.4

python 2.7.6

##### SUMMAR
Hi Guys, i follow the documents http://docs.ansible.com/ansible/intro_installation.html to install ansible by Running From Source section

First  i install it on OS X, when i execute the comma

[2017-04-11 06:46] guenhter commented on #20492
Works great with ansible 2.3
I just had to ensure, that `docker-py` is no longer installed but `docker` is available (via pip).

Thanks a lot!

[2017-04-11 07:01] mohtashims opened #23481 "Syntax Error while loading YAML"
##### COMPONENT NAME

##### ANSIBLE VERSION

/tmp/ssl_manager/roles

[code]
Running ansible roles

[code]

Output Error:

more /tmp/ssl_manager/roles/ssl_manager/tasks/spull.yml

[code]
If i remove the below lines from spull.yml it works.

[code]

uncomment the tasks in /tmp/ssl_manager/roles/ssl_manager/tasks/spull.yml results in a new error.

Can you tell me how can i overcome the error?

[2017-04-11 07:26] mohtashims commented on #23481
Sure.. updated.

[2017-04-11 07:31] Akasurde commented on #23479
@tingxin Are you using [this](http://docs.ansible.com/ansible/intro_installation.html#latest-releases-on-mac-osx) and also paste logs so that we can debug more ?

[2017-04-11 08:01] sayap commented on #21909
Just want to add that tarball over https works (and much faster compared to doing git+https):
[code]

[2017-04-11 08:44] jmaschtaler commented on #23393
Hi,

thanks for response and checking.

However we can still reproduce it, also on
- Archlinux (2.2.2.0)
- Mac (2.2.1.0)

Maybe the pattern [0:2] is not supposed to be used in the commandline?

Best,
jörg

[2017-04-11 08:45] gaelL opened #23485 "Inconsistent behavior with provided variable from ansible-playbook cli"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`ansible`

`(when condition on a task)`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing particular

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Provide a boolean variable from `ansible-playbook` have an inconsistend behavior when we are using it in a `when` condition with a single or multiple conditions.

##### STEPS TO REPRODUC

[2017-04-11 08:50] bmalynovytch commented on #20360
I confirm I can reproduce a similar case:
[code]
produces:
[code]
OS_RedHat should be populated the entire list of hosts, as they are all running CentOS, which is confirmed by the first task's output.
And, "funnily", the playbook runs properly with the following selector:
[code]
So, the `groups` variable is wrong, but the real (inner) groups seem to be fine (I've tested changing the selector with

[2017-04-11 08:51] tingxin commented on #23479
@Akasurde Yes, i used the source code to install ansible follow http://docs.ansible.com/ansible/intro_installation.html#. i have update the the detail about this issue on first post.
Please help me on this issue, i can not wait for trying ansible:)

[2017-04-11 09:40] Akasurde commented on #23479
@tingxin You need to install PyYAML, Python devel and [Cryptography](https://cryptography.io/en/latest/installation/#building-cryptography-on-macos)

[2017-04-11 09:42] ColOfAbRiX commented on #22996
Please have a look at #22996, it fixes the issue reported by @kwohlfahrt

[2017-04-11 10:07] MasterofJOKers opened #23487 "mount with `opts: bind` fails to recognize mounted state"
I've looked at the code of the mount core module and the problematic part looks the same as in my version.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[`ansible.modules.core.system.mount`](https://github.com/ansible/ansible-modules-core/blob/devel/system/mount.py)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Linux. especially Debian jessie trying to manage a

[2017-04-11 10:17] tingxin commented on #23479
@Akasurde do you know how to check if the installation of Cryptography is correct? i have double checked i have install the Cryptography on my mac machine
<img width="451" alt="screen shot 2017-04-11 at 18 15 48" src="https://cloud.githubusercontent.com/assets/6802222/24904421/023ca14e-1ee3-11e7-9abb-90384500d0da.png">

another question is what is devel? please give more info, thanks

[2017-04-11 11:18] 0mmariano opened #23489 "Unable to use some environment variables"
ISSUE TYPE: Bug report
COMPONENT NAME: ansible_env

ANSIBLE VERSION:
ansible 2.2.1.0
config file = /etc/ansible/ansible.cfg
configured module search path = ['/usr/share/my_modules/', '/etc/ansible/roles/glassfish/library']

CONFIGURATION:
defined values under [default]

OS: Debian Jessie

SUMMARY: Ansible is unable to interpolate an environment variable when it is called from a hosts file or a gro

[2017-04-11 11:40] anisse commented on #17038
It would have been nice to cherry-pick the fix in a bugfix release. Right now 2.2.2.0 users are in the cold for this bug (see #20257 ), having to install from the devel branch.

[2017-04-11 11:47] fridim commented on #23389
I successfully reproduced the issue with this simplified playbook:
https://gist.github.com/fridim/afdbd71d021c48d14bdf899b1dd53c89

only first block is skipped.

tested with :
[code]

and  devel
[code]

FWIW, this playbook without includes works for both versions:
https://gist.github.com/fridim/bf3cb4ca16cfeb5f6ed0ff270355efa6

Also tested  with includes and without blocks, no problem.

[2017-04-11 12:42] jonathannaguin opened #23490 "[Feature request] Add support for Change Sets for Cloud Formation"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- CloudFormation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

AWS Cloud formation has "now" support for Change Sets in stacks: http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-changesets.html

It would be nice to have support for this from Ansible as

[2017-04-11 13:10] stromvirvel opened #23491 "different behavior when setting sticky bit when using ansible / ansible-playbook"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
If I set a directory to mode 1777 (rwxrwxrwt / with sticky bit), using file module, there is different behavior, depending on using a playbook or an ad-hoc command.

##### STEPS TO REPRODUCE (PLAYBOOK)
Give 777 permissions and set

[2017-04-11 14:10] aurimasl commented on #23392
I think it's not a bug, it may just be poorly documented feature. `with_first_found` does lookup in current directory, so it means you should specify different path as in ansible test https://github.com/ansible/ansible/blob/31d6b6ef67636537037f542e4d089e411843bd44/test/integration/targets/setup_postgresql_db/tasks/main.yml#L11-L18

[2017-04-11 14:22] jelep commented on #22660
as most of you, i am also just learning about CredSSP...

CredSSP can be set up securely, by setting it to which server it can delegate to. but this can lead to a really long list (not sure if  CredSSP settings can include a long list)...

[2017-04-11 14:22] apenney commented on #14641
I can, @bcoca:

[code]

[code]

[2017-04-11 15:09] jctanner commented on #18482
re-opening due to repomerge.

[2017-04-11 15:20] jbscare commented on #17097
I don't know a workaround other than using a shell/command task.

[2017-04-11 15:26] sivel commented on #23481
`vars_files` is not a module.  To include a vars file as a task, you will need to use the `include_vars` module.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-04-11 15:26] #23481 closed, assigned to nobody

[2017-04-11 15:44] cgwalters commented on #21185
I think we need to break up this issue into a few parts - detail more precisely what we're trying to achieve for each one.

See https://github.com/ansible/ansible/pull/23209#issuecomment-293303885 for a bit more on this.

One specific item I'd like to track is Ansible's existing `pkg` module supporting `rpm-ostree install`.

[2017-04-11 16:02] kmcnallymetapack opened #23493 "ec2_metric_alarm no option for treating missing data"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ec2_metric_alarm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

MacOS Sierra 10.12.3

##### SUMMARY

When creating a cloudwatch alarm using the aws cli you get the option to set --treat-missing-data to breaching | notBreaching | ignore | missing.
http://docs.aws.amazon.com/cli/latest/reference/cloudwatch/

[2017-04-11 16:07] kwohlfahrt commented on #22996
The issue I reported appears fixed. There is a different issue now, in that the sizes are not correctly checked:

[code]

Results in:
[code]

And then:
[code]

So far, this is expected. If I now edit the play to a different size (by changing `part_end`), it still reports OK and no change is made:

[code]
[code]

[2017-04-11 16:27] dav1x commented on #23340
@kuldeep-singh-duhan

Here is some documentation on installing govc:
http://www.virtuallyghetto.com/2014/09/govmomi-vsphere-sdk-for-go-govc-cli-kubernetes-on-vsphere-part-1.html

Once you download govc and install go you'll need to export the proper variables to connect:

export GOROOT=/usr/local/go
export PATH=$PATH:/usr/local/go/bin/
export GOVC_URL='10.19.x.x' # hostname of the vc
export GOVC_U

[2017-04-11 16:30] dav1x commented on #23079
hey @dapf73

Please take a look at the yaml syntax documentation in ansible: http://docs.ansible.com/ansible/YAMLSyntax.html

Specifically, here:
All members of a list are lines beginning at the same indentation level starting with a "- " (a dash and a space):
[code]

[2017-04-11 16:32] abadger commented on #17038
@anisse, if you'd like to reach out to me (abadger1999) on irc.freenode.net I'd be happy to look at fixes that should be cherry-picked.  I do see that 19569 wasn't cherry-picked to stable-2.2 so I've cherry-picked it now in case we have another 2.2.x release.

Note that #19930 is won't fix because it is an incompatibility with python-3.4 and should work fine with python-3.5.  We only support pytho

[2017-04-11 16:41] abadger commented on #13716
Fixed in https://github.com/ansible/ansible/issues/13739 which is present in the stable-2.2, stbale-2.3, and devel branches.

Closing as fixed.

[2017-04-11 16:41] #13716 closed, assigned to nobody

[2017-04-11 16:51] jschwend opened #23495 "Jinja groupby behaves differently on ansible 2.2.2.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
Jinja template using groupby used to return named variables .list and .grouper. With 2.2.2.0 these are no longer named and must be accessed by index.

##### STEPS TO REPRODUCE
jinja template that works on 2.2.0 but fails on 2.2.2.0
{%- for group in cluster_users.va

[2017-04-11 16:51] michael-dev2rights opened #23496 "Better error message than 'ansible.vars.unsafe_proxy.AnsibleUnsafeText object' has no attribute 'public_ip'"
Variables returned from ec2 module are marked as unsafe without explanation.

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ec.py / add_host.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Configured with AWS account credentials

##### OS / ENVIRONMENT

ubuntu 16.04 LTS

##### SUMMARY

When I run the playbook below ansible bombs out with 'ansible.vars.unsafe_proxy.AnsibleUnsafeT

[2017-04-11 16:56] michael-dev2rights commented on #23496
Related?
https://github.com/plombardi89/postgresql-el/issues/1
https://github.com/galaxyproject/usegalaxy-playbook/issues/23

[2017-04-11 16:58] s-hertel commented on #23385
Confirming this. [multi_zone defaults to False](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/rds.py#L1084) rather than None so this line https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/rds.py#L1040 does not work as expected when multi-az isn't specified.

[2017-04-11 17:00] sivel commented on #23495
The `groupby` filter was updated in https://github.com/ansible/ansible/pull/20362 to allow it to work with newer versions of jinja2 within direct templating in playbooks.

You now will only get back a plain tuple instead of a namedtuple from `groupby`.

You will need to reference the element, instead of the named element.

[2017-04-11 17:03] FearTheBadger opened #23497 "ansible-galaxy does not pull role dependencies from the src tag"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No major config changes.

##### OS / ENVIRONMENT
RHEL 7

##### SUMMARY
When using private git repositories in a role's dependencies; galaxy looks to the 'role:' tag a not the 'src:' for the dependency location.

##### STEPS TO REPRODUCE
When running `ansible-galaxy -r req.yml -p r

[2017-04-11 17:12] sivel commented on #23496
The problem is that since ansible v2.2, with_items requires explicit jinja2 wrapping:

[code]

@michael-dev2rights mentions that the error message is poor, and could use improvement.  I however am not really sure how well that could be done.

[2017-04-11 17:34] snowsky commented on #23491
Reproduced.

[2017-04-11 17:36] snowsky commented on #23491
ansible-playbook used "mode": "03361" for the directory.

[2017-04-11 17:57] snowsky commented on #23491
I may be a bug for set_mode_if_different.

[2017-04-11 18:00] dgjustice commented on #20260
My PR was rejected, and a lot of changes were made for 2.3.  I'll pull down the latest RC and test if the issue made it into the latest release.

[2017-04-11 18:22] hylaride opened #23499 "Using become_user and with_dict results in one being applied to the ansible login user"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

with_dict/become_user
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible Host: MacOS Sierra 10.12.4

Ansible Target: ubuntu 16.04 LTS

##### SUMMARY

We're setting up user accounts in a playbook and it applies one of the `with_dict` tasks to the ubuntu user (the default account name for AWS when an instance is

[2017-04-11 18:22] groggemans commented on #17582
@bcoca Should we open a new issue? Or can you re-open this one?

[2017-04-11 18:28] guenhter commented on #18917
@ansibot

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
user-module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing special

##### OS / ENVIRONMENT
Ubuntu 14.04 LTS

##### SUMMARY
An option to user module which forces a password change upon next login

##### STEPS TO REPRODUCE
Example:

[code]

##### EXPECTED RESULTS
Upon logging in the user "test" with the password set, it sh

[2017-04-11 18:47] abadger commented on #13104
PR https://github.com/ansible/ansible/pull/13739 was applied to stable-2.2, stable-2.3, and devel.  Running Ansible from one of those branches, I now see as output:

[code]

@drybjed, @apolyr is that sufficient to call this bug fixed or should network be None in this case?

@r3lik 2.1 is unlikely to get more non-security fixes at this point in its lifetime but you should be able to update to 2.2 t

[2017-04-11 18:47] abadger commented on #13104
needs_info

[2017-04-11 18:55] abadger commented on #12065
Fixed here: https://github.com/ansible/ansible/pull/17627 which is present in stable-2.2 and newer branches.

[2017-04-11 18:55] #12065 closed, assigned to nobody

[2017-04-11 19:00] holms commented on #15030
@ansibot fixed. this bug been registered a YEAR ago. and just now it gets attention? amazing.

[2017-04-11 19:06] chasrmartin commented on #15098
Dear Ansibot: I realize you're just a bot, but I raised this issue more than a year ago, I am no longer working for that client, and frankly I have not a clue what component implements the generation of unexpected key-value files, or the then-undocumented `WANT_JSON` flag.

But then you for writing.

[2017-04-11 19:06] mapreri commented on #18975
srly, guys....
(done, hopefully)

[2017-04-11 19:09] tedder commented on #23490
I like this. I'll try to test soon.

[2017-04-11 19:11] retr0h commented on #23016
I released a new version of molecule (1.23.1) to address this issue.

Also, appears this is not an issue, if using the yaml syntax of ansible inventory.

[code]

[2017-04-11 19:12] imstochastic opened #23501 "fetch module (with old python on remote) reports ok but does nothing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
fetch module

##### ANSIBLE VERSION
[code]
I'm running ansible from a git clone, on the ```stable-2.2``` branch.  ```git describe``` says ```v2.2.3.0-0.1.rc1-2-g7ff9fa5```

Have the same problem on:
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ANSIBLE_HOME points at my git clone
ansible.cfg changes several paths (roles_path,library,inven

[2017-04-11 19:13] artburkart commented on #15075
I think the use case I had for this was related to a version control service I was using that was throttling me pretty hard. I don't use the service anymore, and I can't remember why this proposal would've helped me work around the throttling issue. As such, I'm just going to close this issue.

[2017-04-11 19:13] #15075 closed, assigned to nobody

[2017-04-11 19:13] ryansb commented on #13637
The supported ways to do this are:

- AWS_PROFILE environment variable as mentioned
- Using a variable (say, `profile`) which would let you use `ansible-playbook --extra-vars profile=myworkaccount someplaybook.yml`

I don't think it's reasonable to expose this as a CLI flag since it only applies to a small subset of the available modules when there are variable or env var options for making that s

[2017-04-11 19:13] #13637 closed, assigned to nobody

[2017-04-11 19:14] biomassives commented on #13276
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (100/100 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-04-11 19:14] biomassives commented on #13160
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (101/100 (101%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-04-11 19:14] biomassives commented on #13101
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (102/100 (102%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-04-11 19:15] biomassives commented on #13637
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (104/100 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-04-11 19:17] jmighion opened #23502 "Commands provided by lines or template should be treated the same for network modules"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

This is similar to #19884 and #22725 but more specific to treating the template exactly the same as provided lines.
Since `lines:` and `src:` are mutually exclusive, I assumed they would be treated the same with regards to the other parameters available i

[2017-04-11 19:18] ryansb commented on #13276
There's now a way to oneline roles using the `include_role` module: `ansible myhost -m include_role -a name=myrole`

[2017-04-11 19:18] #13276 closed, assigned to nobody

[2017-04-11 19:24] sivel commented on #15098
I'm going to go ahead and close this.  The documentation has since been updated and `WANT_JSON` is covered in changes made in https://github.com/ansible/ansible/pull/17732 and https://github.com/ansible/ansible/pull/20673

[2017-04-11 19:24] #15098 closed, assigned to nobody

[2017-04-11 19:25] biomassives commented on #15098
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (107/100 (107%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-04-11 19:26] AlanCoding commented on #14681
I think this may be resolved, although I can't say that the modules I've looked at would have picked up every possible method.

[2017-04-11 19:36] jschwend commented on #23495
Thanks Sivel. Good to know that our "fix" is the correct course of action.
How could I best find things that are affected by new versions instead of opening an issue? I feel I could/should have been able to find this myself?

[2017-04-11 19:37] hylaride commented on #23499
To further add, when my colleague runs the build, everything works as expected.  when I run the build, (the username on my mac is the same as the one error'ing out) that user skips and gets added to `ubuntu` instead.

[2017-04-11 19:39] bugchecker commented on #12034
I vote to allow multiline.

Some languages (like python) cannot be reduced to single line form:
[code]
Multiline scripts can keep atomic (perform a single action):
[code]
Also difference between command and shell notations may be more clearly.

Python example:
[code]
Dockerfile example:
[code]
Ansible example (how could it be):
[code]

[2017-04-11 20:02] #22939 closed, assigned to nobody

[2017-04-11 20:05] rndmh3ro commented on #19004
Updated the template.

[2017-04-11 20:09] wyaeld commented on #13243
amusing watching @bcoca being told how to handle issues :-)

[2017-04-11 20:15] #23234 closed, assigned to nobody

[2017-04-11 20:20] sivel commented on #23491
The problem here is that you have supplied an integer/decimal mode.  Octal modes require prefixing the value with a 0.

I believe the confusion is coming from the way that python and yaml (pyyaml) work with each other in regards to octal values.

When you specify `mode: 2750` you are indicating that you are giving it a decimal value, and not octal.  When the value is a string, the logic in python

[2017-04-11 20:20] #23491 closed, assigned to nobody

[2017-04-11 20:30] derekmahar commented on #22572
I encountered this issue today in branches `stable-2.3` and `devel`:

[code]

[code]

Branch `stable-2.2` does not have this problem:

[code]

Here's an example of how `ansible-galaxy` mangles some of my task file names:

[code]

Here's what those file names should look like:

[code]

[2017-04-11 20:31] brandonstrohmeyer commented on #23082
@Qalthos #23376 (Adding default_output to asa.py) resolves this.

[2017-04-11 20:33] justingood commented on #18232
You're sneaky, @ansibot. The issue template has been changed since I reported this bug!

Nonetheless, the component is **callbacks**, and I've edited the original request to reflect this.

[2017-04-11 20:33] sramakr opened #23507 "ec2_group IPv6 rule fails with error CIDR is malformed"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
Module ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

I am trying to add security group rule in aws. I can successfully add ipv4 cidr , but , fails when it's ipv6.

I believe it's not yet supported , but wanted to confirm for sure.

failed: [127.0.0.1] (item={u'direction': u

[2017-04-11 20:40] mightydok commented on #13858
##### COMPONENT NAME
core

[2017-04-11 20:41] dagwieers commented on #23455
@lfrancke Can you check if PR #23162 fixes your problem ?

[2017-04-11 20:43] sivel commented on #13858
To provide some update here, this is being worked on, and the proposal behind it can be found at https://github.com/ansible/proposals/issues/60

[2017-04-11 20:43] snowsky commented on #23491
Actually it is not caused by octal/decimal number, it is caused by this code[here](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L1072-L1082).
I traced the codes for both ansible and ansible-playbook commands, and it is found the difference is that the mode is integer for ansible-playbook command but it is a string for ansible command.

Then go back to the code, y

[2017-04-11 20:43] jurgenhaas commented on #14331
@ansibot have you been in an infinite loop for the last 14 months since I've reported this issue? This is really disappointing. All the information you're asking for is already available and to be honest, I can't take the time to use a template after all that time of nobody caring about it.

This is certainly not encouraging, to say the least.

[2017-04-11 20:45] #23357 closed, assigned to nobody

[2017-04-11 20:45] sivel commented on #23491
The difference is caused by how the value is being passed.  As noted above in my explanation, you get a string value when using `key=value` format, when using YAML, it gets treated as an integer.  If you quoted the `1777`, such as `mode: "1777"` then it too would be treated as a string.

[2017-04-11 20:48] snowsky commented on #23491
Oh, it may be a feature request or documentation to make it clean.

[2017-04-11 20:50] moepot commented on #23491
Thank you guys, works with a quoted value in the playbook. @snowsky that would be nice.

[2017-04-11 20:58] diefans commented on #14582
This issue is more than a year old...instead of setting up bots which in turn bother your "betatesters", you should cleanup your codebase. No other project I know is constantly driving me crazy by its regressions and misbehavior.

[2017-04-11 20:59] azaghal commented on #13338
I think this issue should probably be closed, given that most cases are now probably covered by the `expect` module in Ansible 2.x (not released yet back in the day). Anyone else looking for legacy explanation should still be able to find a fine explanation and workaround using the `pexpect` Python module/script.

[2017-04-11 21:00] senorsmile commented on #13655
I updated the original request and retested from git several different versions of 2.0.x.

It appears that as of 2.0.1 this bug is no longer present.

I have tested it is NOT present on:
- v2.0.1.0-1
- v2.0.2.0-1
- v2.1.5.0-1
- v2.2.2.0-1
- v2.3.0.0-0.6.rc6

Since it seems to have been incidentally fixed in 2.0.1, marking this as closed.

[2017-04-11 21:00] #13655 closed, assigned to nobody

[2017-04-11 21:08] sivel commented on #13338
Closing as requested.

[2017-04-11 21:08] #13338 closed, assigned to nobody

[2017-04-11 21:10] bcoca commented on #13243
i bow to my bot overlord

[2017-04-11 21:25] abadger commented on #19514
Documentation highlighting this problem is here: https://github.com/ansible/ansible/pull/23478

[2017-04-11 21:26] #13727 closed, assigned to nobody

[2017-04-11 21:26] tompiscitell opened #23508 "service module does not start exited service"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

service module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Remote host is CentOS 7

##### SUMMARY

The service module does not check the SubState when determining if a service is running or not. The comment explains that this is to account for "run once" service:
[code]
This causes ansible to report a non "

[2017-04-11 21:27] dagwieers commented on #23455
@lfrancke For the Windows modules we took care that you can "unset" any parameter by defining it in YAML as null. This could be useful if you have a task using with_items, and some items need to set options, but others don't.

[2017-04-11 21:28] derekmahar commented on #22572
I suspect one of the following commits is the culprit:

[code]

If I checkout the immediate parent commit of `e575eae2ec8fc76ba1db6a24d6ad1e381123bff8`, the problem goes away.

[2017-04-11 21:31] abadger commented on #21773
@marlox-ouda I noticed this in your issue report:

Is this only happening with recursive template and copy?  If so, it may be solved by this PR: https://github.com/ansible/ansible/pull/23326

That Pr has been applied on the current devel branch and is pending for 2.3.1 (not for 2.3.0).
needs_info

[2017-04-11 23:02] #13780 closed, assigned to nobody

[2017-04-11 23:11] bau-sec commented on #22647
Another workaround: use url_get to retrieve the key (it adds a user-agent header, unlike apt_key)
[code]

Based on the behavior of get_url, it looks like it would be more consistent for apt_key to add a user-agent header rather than omitting it as currently implemented.

[2017-04-11 23:15] brandond commented on #20327
!needs_info !needs_template
Issue template updated.

[2017-04-12 00:02] stuartdonald-ibboost commented on #21825
I have the same issue. Running the above script reports the following (location uk_south):

[code]

If I add the vm_size parameter: vm_size: Standard_D1_v2 , then I can get past this issue, but then bump into #20444.

`

[2017-04-12 01:20] gundalow commented on #23502
@jmighion Thanks for this. We will have a think about it and get back to you

[2017-04-12 01:42] tstringer commented on #21825
I currently have a PR open to fix that issue. As for this current one, it's that your default VM size isn't in your region it appears.

[2017-04-12 03:25] prabhakar-pal commented on #6463
We too are looking for the same capability where multiple variables are defined from a same template file with some parameters being different

[2017-04-12 05:25] spul commented on #14393
Updated original posting with `component`.

[2017-04-12 06:40] drybjed commented on #13104
Since `/31` subnet can be used in point-to-point connections, filtering for network should most likely be valid. Changing this to `None` might break things, I would leave it in its current state.

[2017-04-12 07:10] omame commented on #14148
LOL. Whatever.

[2017-04-12 07:10] #14148 closed, assigned to nobody

[2017-04-12 07:26] 0mmariano opened #23510 "Playbook run does not go through roles_path"
ISSUE TYPE: Bug report
COMPONENT NAME: ansible, roles_path

ANSIBLE VERSION:
ansible 2.2.1.0
config file = /etc/ansible/ansible.cfg

CONFIGURATION:
defined values under [default]
roles_path = /usr/local/ansible/roles/community

OS: Debian Jessie

SUMMARY: The output of a playbook run shows it did not check the roles_path when looking for a role

STEPS TO REPRODUCE:

myPlaybook.yml contains --
  ro

[2017-04-12 07:49] soar commented on #14634
@ansibot I think this issue was fixed? Am I wrong?

[2017-04-12 08:10] EmilStenstrom commented on #12922
@ansibot Updated!

[2017-04-12 08:15] b3zn0gim commented on #7019
I think it actually SHOULD fail as it's more secure way imo. serial: 1 is all about this considering that ansible should be idempotent.

You're iterating over hosts with your playbook one by one and for some reason it can't be applied to one of your hosts, there is definitely something wrong with your playbook if it doesn't work on one of machines.

IMO, if you want it to work the way you describe

[2017-04-12 08:36] #13576 closed, assigned to nobody

[2017-04-12 08:49] evrardjp commented on #14510
Well it was more a feature request than an issue.
I think the idea is to have ansible-galaxy CLI more modulable.

I think having optional fallback URLs (as a list for example), retries, and git cloning (instead of squashing into static files) would be great.

What we are currently using is a playbook to do the same behavior, which I find less elegant.

[2017-04-12 09:40] martonsz commented on #20492
As @guenhter says. It works with Ansible 2.3 if you remove the old docker-py module

[code]

[2017-04-12 09:44] navaati commented on #19000
Hi. I don't work with ansible anymore and I don't remember any detail. You can close this if you think the problem does'nt exist anymore.

[2017-04-12 09:50] JonZeolla commented on #19000
I can take over the issue and test to see if it still exists.

[2017-04-12 09:58] MrBiT01 opened #23512 "Inventory file execution issue"
ISSUE TYPE: Bug report
COMPONENT NAME: ansible, roles_path

ANSIBLE VERSION:
ansible 2.2.2.0
config file = /etc/ansible/ansible.cfg

CONFIGURATION:
defined values under [default]
hosts_path = /etc/ansible/hosts

OS:  Darwin Kernel Version 16.4.0 (root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64)

ISSUE SUMMARY: Ansible executes commands only on last host from inventory file,  witch contains identical IP

[2017-04-12 10:26] nb00471049 opened #23514 "Ansible: Need to make hostvar variables dynamic in the below playbook, please suggest what exactly needs to be done."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2017-04-12 10:42] lfrancke commented on #23455
@dagwieers Thanks for working on this! I very much appreciate the help.

I'll try both the "null" workaround as well as your PR either today or tomorrow.

[2017-04-12 10:46] photoninger commented on #14542
update to v2.3.0-rc6 also solves this for me.

[2017-04-12 11:47] Akasurde commented on #23514
Thanks for reporting bug. Could you please edit title ?
Also, take a look at [Dynamic Inventory](http://docs.ansible.com/ansible/dev_guide/developing_inventory.html)

[2017-04-12 11:53] Jorge-Rodriguez commented on #17582
@bcoca I can confirm that this shows up again in 2.2.2.0

All the code changes from PR #17736 have been changed or rewritten since.

[2017-04-12 12:34] Popyllol opened #23516 "zypper module expands to <pkg>-<version definition> AND <pkg>"
- Bug Report

##### COMPONENT NAME
zypper_module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I have in a role a tasks/main.yml which contains:
[code]
and a library/setup_packages.yml which contains:
[code]

When I call this with a list wanted_packages like this:
wanted_packages:
  - rlwrap=0.37-2.1

This fails for me because there are two versions of

[2017-04-12 12:42] nusenu commented on #14829
##### COMPONENT NAME
IPv4/6 filter
(not sure if that is what you expect)

[2017-04-12 12:44] nusenu commented on #14467
##### ISSUE TYPE
 - Documentation Report

##### ANSIBLE VERSION
2.2.2

##### COMPONENT NAME
ansible documentation

[2017-04-12 13:14] itdependsnetworks opened #23517 "ipaddr gateway"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

filter plugin
ipaddr

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The ipaddr filter plugin seems to use `_gateway_query` in multiple areas. I can't seem to understand what it's intention is.

I can submit a PR and tests, just need to understand what the intention was here. Also would think that fi

[2017-04-12 14:04] awalker125 opened #23518 "azure_rm_securitygroup_facts: Random TLS/SSL CERTIFICATE_VERIFY_FAILED errors on calls to azure api via a proxy"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_securitygroup_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
All default

##### OS / ENVIRONMENT
Redhat Linux 3.10.0-514.2.2.el7.x86_64

##### SUMMARY
Random TLS/SSL CERTIFICATE_VERIFY_FAILED errors on calls to azure api via a proxy.

##### STEPS TO REPRODUCE

Various playbooks which call the azure api are suffering random/int

[2017-04-12 14:32] abadger commented on #13104
Cool.  Thanks @drybjed !  Closing this as fixed.

[2017-04-12 14:32] #13104 closed, assigned to nobody

[2017-04-12 14:34] alikins commented on #22572
@derekmahar  Thanks for the confirmation of the issue, the behavior is odd enough enough I wasnt sure if it would show up 'in the wild'

For the case:

[code]

Was the role installed via a requirements.yml ( 'ansible-galaxy -r requirements.yml') or directly (ie, 'ansible-galaxy install derermahar.application-database' ?

[2017-04-12 14:37] alikins commented on #22572
@derekmahar Not sure how 5f517fdfa95785332ca23e958488a77d090511dd or e575eae2ec8fc76ba1db6a24d6ad1e381123bff8 would be involved, since they seem unrelated.

Haven't tested or bisected yet, but 19d390135e134feeeaf0305cc534f21ea25a9883 would be my first suspect.

[2017-04-12 14:51] derekmahar commented on #22572
@alikins Yes, all of these roles are installed via requirements.yml and the source is a local Github repository.

I mentioned those two commits because they were quite recent and omitting them made the problem go away.

[2017-04-12 15:07] jake2184 opened #23521 "file module converts supplied 4 digit mode to octal"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- 'file' module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Run from and managing:
Linux CentOS EL7

##### SUMMARY
Noticed when changing a task using the 'file' module from legacy syntax to full YAML syntax, as per the Ansible best practices. The usersv_instance var is a list of strings.

It seems that the supp

[2017-04-12 15:08] wernermarcel opened #23522 "Support for more vmnic to the module vmware_vswitch"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
module: vmware_vswitch

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ANSIBLE: Oracle Enterprise Linux 7
SYSTEM: ESXI5.5

##### SUMMARY
Adding a possibility that more vmnic can be added to the creation of a vswitch.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Possibility to add more vmnic's to create

[2017-04-12 15:21] kostyrev commented on #20980
the same problem with `2.3.0.0`
playbook:
[code]
`ansible.cfg`
[code]
[code]
[code]
[code]

everything works with
`ansible-playbook 2.2.1.0`
[code]

[2017-04-12 15:41] naoko commented on #15321
The problem intermittently happens to me on any VMs (w/wo static External IP, just launched or running for a while). Restarting the instance seems to solve the problem every time (so far) but this is inconvenient and time consuming. Sometimes, time resolve the issue (wait for a min to 5 min or so... I cannot determine patterns). Any advice would be appreciated.

[2017-04-12 15:44] #23445 closed, assigned to nobody

[2017-04-12 16:09] SteveEdson commented on #14373
@ansibot updated.

[2017-04-12 16:13] woqer commented on #21562
Same issue here running EC2 user_data

Ansible 2.3.0
Ubuntu 14.04.5 LTS

Failure on locating a template on the template folder of a role: `"msg": "Source /root/.ansible/tmp/ansible-tmp-1492010526.34-162074643457251/source not found"`

[2017-04-12 16:19] #23206 closed, assigned to rcarrillocruz

[2017-04-12 16:22] s-hertel commented on #23507
Hi, thanks for opening an issue for this. ec2_group doesn't have a remote_ip_prefix option. Are you trying to use the [os_security_group_rule module](http://docs.ansible.com/ansible/os_security_group_rule_module.html)?

[2017-04-12 16:33] sramakr commented on #23507
Here is the task.
# file: roles/ec2_security_group/tasks/main.yml
- name: add amazon ec2 credentials
  include_vars: ec2_credentials.vault
  no_log: true

- name: Create security group
  ec2_group:
    name: "{{ secgroup.name }}"
    description: "{{ secgroup.description }}"
    vpc_id: "{{ servers.vpc_id }}"
    region: "{{ region_id }}"
    aws_secret_key: "{{ aws_secret_key }}"
    aws_access_k

[2017-04-12 16:45] md5 commented on #12754
@ansibot Updated

[2017-04-12 16:46] juliohm1978 commented on #23054
Just tested with today's 2.3 release, and it works like a charm. The issue is no longer reproducible.

Thank you!

[2017-04-12 16:46] md5 commented on #12754
@ansibot ready_for_review

[2017-04-12 16:56] gtirloni commented on #23521
#5409 #9196 #11385 #13115 #18952 #23491

[2017-04-12 16:59] mhristof opened #23530 "'ansible_user' is undefined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
vanilla vagrant box, ubuntu/xenial64

##### OS / ENVIRONMENT
Only tested ubuntu/xenial64

##### SUMMARY
`ansible_user` seems to be undefined.

##### STEPS TO REPRODUCE
Just fire up a vagrant box, install ansible via pip and check the ansible_user
[code]

##### EXPECTED RESULTS
[code]

#

[2017-04-12 17:02] dgjustice opened #23531 "Ansible 2.3 nxos_rollback ShellError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_rollback

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
retry_files_save_path = ~/retry-files
record_host_keys = False
host_key_checking = False
##### OS / ENVIRONMENT

Centos 7
##### SUMMARY

nsox_rollback throws an error

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Successful run

##### ACTUAL RESULTS

[co

[2017-04-12 17:06] Applemann commented on #20492
@martonsz  Hello I have Ansible 2.3 but

[code]

don't work for me.

pip list:

[code]

Error:
[code]

ansible --version:
[code]

[2017-04-12 17:10] sivel commented on #23521
I believe the confusion is coming from the way that python and yaml (pyyaml) work with each other in regards to octal values.

When you specify `mode: 2750` you are indicating that you are giving it a decimal value, and not octal.  When the value is a string, the logic in python interprets it as octal.  Such a representation would look like `mode: "2750"`.  The octal equivalent of `2750` (decimal)

[2017-04-12 17:10] #23521 closed, assigned to nobody

[2017-04-12 17:14] sivel commented on #23512
This is the expected behavior.

In an "ini" formatted inventory file, the first column for a host is considered the "inventory_hostname".

The inventory_hostname is a unique key, and since you have listed `188.166.42.186` 3 times, the last one wins.

Instead what you want to do is use `ansible_host` and create aliases, like:

[code]

If you have further questions please stop by IRC or the mailing

[2017-04-12 17:14] #23512 closed, assigned to nobody

[2017-04-12 17:25] courtlandj opened #23534 "easy_install: can't install pip when ansible >= 2.2.1.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
easy_install

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing special. (No ansible.cfg, no ANSIBLE_* env vars.)

##### OS / ENVIRONMENT
CentOS Linux release 7.2.1511 (Core)

##### SUMMARY
Can't use the `easy_install` module to install pip after 2.2.0.0.

##### STEPS TO REPRODUCE
1. Using CentOS 7.2, Ansible 2.2.1.0 or later, the target

[2017-04-12 17:30] s-hertel commented on #23507
Thanks! I will look at this bug. By the way, when sharing yaml if you use three ticks (`) above and below your tasks it will format blocks of things nicely for you! :) Like this:
[code]

[2017-04-12 17:37] evgkrsk commented on #13175
+label affects_2.2

[2017-04-12 17:46] gundalow commented on #23531
@dgjustice Thanks for the bug report.

This is something that needs fixing for 2.3.1

[2017-04-12 17:51] fiunchinho commented on #14372
I'm closing this one as per http://serverfault.com/a/646618/109641

[2017-04-12 17:51] #14372 closed, assigned to nobody

[2017-04-12 18:12] exowaucka opened #23537 "Ansible ignores errors in inventory file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

No idea.  Is there a list of components somewhere?

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

ansible.cfg:
[code]

##### OS / ENVIRONMENT
I am running Ansible on OS X El Capitan.

##### SUMMARY
I had an inventory file (inventory.txt) that looked like this:

[code]

See the problem?  I accidentally put brackets around `group1` in the l

[2017-04-12 18:19] sivel commented on #23537
The reason you did not get an error with the inventory file is that it is a perfectly legitimate inventory file.

In your example, do to the typo, you created a new group called `group1` with hosts of `group2` and `group3`

The fact that you did not include anything as part of `[all:children]` does not impact the ability to parse, you simply are telling it that there are no child groups of `[all]`

[2017-04-12 18:44] wltjr commented on #21735
This has been fixed in 2.3.0.0. Feel free to close or leave open for 2.2.

[2017-04-12 18:56] sonjz opened #23538 "Feature Request: ignore_when"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
Error Handling

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I found that `ignore_errors` is a nice to have, but fairly broad as it ignores all errors.
But often, I run a `command` that return an acceptable error.

Example, for arguments sake, lets take `mkdir /tmp/test`.
- `mkdir: cannot create d

[2017-04-12 19:13] evgeni commented on #21705
This is [CVE-2017-7466](https://bugzilla.redhat.com/show_bug.cgi?id=CVE-2017-7466)

Fixed in 2.2: https://github.com/ansible/ansible/commit/7ff9fa52cfcef2065f0db80d85dd94b9b754839c
Fixed in 2.3/devel: https://github.com/ansible/ansible/commit/0d418789a298561fded9bce977d34babc9097079

[2017-04-12 19:16] evgeni commented on #18360
This is probably [CVE-2017-7466](https://bugzilla.redhat.com/show_bug.cgi?id=CVE-2017-7466)

Fixed in 2.2: https://github.com/ansible/ansible/commit/7ff9fa52cfcef2065f0db80d85dd94b9b754839c
Fixed in 2.3/devel: https://github.com/ansible/ansible/commit/0d418789a298561fded9bce977d34babc9097079

[2017-04-12 19:17] simonszu commented on #23016
@retr0h The more you know - i didn't know it was possible to create the inventoriy in YAML, always did it in ini-style. So, double thumbs up.

[2017-04-12 19:19] evgeni commented on #18360
Or maybe CVE-2016-9587

[2017-04-12 19:27] bcoca commented on #23538
Why not ```failed_when: result|failed and 'File exists' not in result```?

[2017-04-12 19:32] dchidell opened #23539 "ios_config: multi-line command failure"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No alterations
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When attempting to use commands which require multiple lines of input the command fails.
##### STEPS TO REPRODUCE

Manually create a crypto trustpoint on the router:

crypto pki trustpoint TP_TEST

Then use ansible to remove t

[2017-04-12 19:36] einarc commented on #21051
Question: How do you esclatate privilages to avoid this error getting triggered on the first place?

[code]

[2017-04-12 19:58] sdodson opened #23541 "nohup ansible-playbook leaks file descriptors"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default ansible.cfg

##### OS / ENVIRONMENT
RHEL 7.3

##### SUMMARY
When running ansible-playbook with nohup file descriptors for /dev/null are leaking

##### STEPS TO REPRODUCE
Prepare an inventory with several hosts, we observed this with 10 hosts
nohup ansible-playbook playbooks/byo/con

[2017-04-12 19:58] sdodson commented on #23541
@jctanner FYI

[2017-04-12 19:59] Qalthos commented on #23531
Can you test the changes in #23540 and let me know if that fixes it?

[2017-04-12 19:59] sdodson commented on #23541
https://asciinema.org/a/50453 also demonstrates this

[2017-04-12 20:06] einarc commented on #21051
Found my answer, it's on the Vmware side:

https://github.com/vmware/pyvmomi/issues/513

[2017-04-12 20:14] abadger commented on #23465
Indeed, getting host list that way won't work.

I wasn't able to reproduce the behaviour of ansible with the playbook you gave but I had to remove the role since I don't have it.  (Tried with both a checkout of 2.2.1.0 and devel) My output is:
[code]

Are you able to reduce it down to a minimum amount that you can reproduce with?

needs_info

[2017-04-12 20:19] sonjz commented on #23538
Thanks!
Works for me:
[code]

[2017-04-12 20:19] #23538 closed, assigned to nobody

[2017-04-12 20:26] eregimbald commented on #23465
I found out what happens.

It seems that if you configure hosts with an empty variable, Ansible will default to the contents of its inventory. When I ran the book with -i myinventory.hosts, it would run the book on every host in that inventory file while if I ran it without -i it would run on that switch.

Somehow, that IP address ended up in /etc/ansible/hosts. I'm not sure what it's doing there

[2017-04-12 20:26] #23465 closed, assigned to nobody

[2017-04-12 20:30] abadger commented on #23479
Note, this is an installation question rather than a bug in the code.  A better place to ask these questions is on the mailing list or in the irc channel.  I'll paste the information about those below:

List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of t

[2017-04-12 20:30] #23479 closed, assigned to nobody

[2017-04-12 20:37] gavin-romig-koch commented on #16186
@dagwieers thanks for starting working on this.

I get that this is still WIP, but i wanted to suggest that
[code]

If this check isn't there, then the tests that check that 'the box is back up'  (transport_test and run_test_command or ping_module_test) might actually run before the machine has gone down completely.   In such a case, the tests all pass, the module returns, the playbook continues,

[2017-04-12 20:38] abadger commented on #23487
/cc @jtyr   Perhaps using os.path.normpath() will properly handle the double slash case?

[2017-04-12 20:50] mohtashims opened #23543 "Error running shell script locally using local_action module"
ISSUE TYPE

COMPONENT NAME

ANSIBLE VERSION

mybank.com is my target host.

I have ansible roles called "mgr"

I run the ansible roles using the below command.

`ansible-playbook -vvv site.yml -i /web/hostfiles/myhost.txt
`
I have pull.yml under tasks which has a shell script called renew.sh that needs to run locally and not on the target host.

Contents of pull.yml are as below.
[code]

Error dur

[2017-04-12 20:52] gundalow commented on #23474
@jmighion Thanks for this.

We will need to fix this in `devel` and back port to `stable-2.3` and `stable-2.2`

[2017-04-12 22:17] jtyr commented on #23487
@MasterofJOKers Thanks for the report. Please could you test the module currently available in the devel branch? I think the issue you reporting applies to the previous version.

[2017-04-12 22:34] #23180 closed, assigned to nobody

[2017-04-12 22:44] vkruoso commented on #14593
This is somewhat critical feature. Can this issue be reopened?

[2017-04-12 22:44] dagwieers commented on #16186
@gavin-romig-koch That comment is taken from win_reboot, and I agree with you. But the reason it's not there is that it is not simple to do (because very OS-specific).

[2017-04-12 22:52] jmighion commented on #19615
I've run into this now too with 6500's. Looks like this could easily be fixed by :

`^[Cc]isco (.+) \(revision`

The original search with capital C works for most the test devices I've seen. Adding the ability to find lower case c would help with the rest. Seems like the check for revision is consistent across all I've seen too.

[2017-04-12 22:53] tyleha commented on #5442
This issue has cropped up for me today as of upgrading to ansible 2.3.0.0. Yesterday, on ansible 2.2.1.0 I had no problem. What's changed between those releases? This is a 2 year old bug - can't imagine somehow it just got rolled into a release.

[2017-04-12 23:03] smacz42 opened #23545 "htdigest module feature request"
##### ISSUE TYPE

- Feature Request

##### COMPONENT NAME

htdigest

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Control: Arch Linux
Remote: CentOS 7

##### SUMMARY

When setting up an Apache (httpd) Digest authentication service, the client is unable to connect and is returned a 500 error. The logs state:

[code]
##### HOW THE FEATURE WOULD BE USED

[code]

Apache 2.4 config
[code]

##

[2017-04-12 23:08] jeffplesko opened #23546 "authorized_keys module stopped work as expected today"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Module: authorized_key

##### ANSIBLE VERSION
~$ ansible --version
ansible 2.3.0.0
  config file = /home/vagrant/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.6 (default, Oct 26 2016, 20:30:19) [GCC 4.8.4]

Environment: Linux Ubuntu 10.4 using Vagrant 1.9.3 with Virtual Box : Ubuntu/Trusty64 (updated

[2017-04-12 23:24] nitzmahone commented on #16186
One of my early prototypes of reboot/win_reboot actually used the setup module to gather the last boot time fact before and after the reboot. It's still not ideal, as it's somewhat heavyweight/wasteful, and we're not guaranteed that every platform will be able to provide that fact properly (eg, MacOS and FreeBSD IIRC), but at least it moves the maintenance burden away from this action. We could st

[2017-04-12 23:27] dagwieers commented on #16186
@nitzmahone True, but I always considered it optional to run setup. And this would make it mandatory :-/ But I can live with that.

[2017-04-12 23:34] smacz42 commented on #23545
Temporary work-around is to create a template and apply filters - but it only works for md5 for the time being.

tasks/main.yml
[code]
files/httpd.conf
[code]

htdigest.j2
[code]

defaults/main.yml
[code]

[2017-04-12 23:35] nitzmahone commented on #16186
There have been a couple of real-world issues with the current win_reboot impl that would be solved by that change. The biggest one is for things like Virtualbox/VMWare that use port forwarding. Apparently the virtual network impl continues to answer on the forwarded port, which breaks the "wait for the port to go down" behavior. Then of course, there's always the shutdown race, where it's possibl

[2017-04-12 23:36] nitzmahone commented on #16186
And just to be clear, I'm talking about running setup from within this action, not externally- I don't want to force someone to have run gather_facts ahead of time. But, like I said, it's wasteful if we've already done it and the fact is correct.

[2017-04-12 23:48] tyleha opened #23547 "Cannot download S3 file that was uploaded via multipart upload"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws s3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Using ansible.cfg

[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
As of Ansible version 2.3.0.0, when trying to download a tar .tgz file from s3, I am told: `Files uploaded with multipart of s3 are not supported with checksum, unable to compute checksum.` This does not happen

[2017-04-13 00:09] abadger commented on #22885
Just tested on a variety of boxes and so far the following has worked on all of them.  My controller is Fedora 25 but I'm not sure that that matters (can't think of anything off the top of my head... The env var I'm testing is not set on the controller).

[code]

kill all active ssh muxs so that you don't end up with a previous ssh connection (otherwise you'll end up with the previous login sessio

[2017-04-13 00:15] eureki opened #23548 "Windows: using become on win_shell task fails with Powershell error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
powershell.py (become runas)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Source: macOS Sierra version 10.12.3
Target: Windows Server 2012 R2

##### SUMMARY
When running Windows Become as an unprivileged user the task fails.

##### STEPS TO REPRODUCE
The Windows host is connected to with Ansible using the Local Admi

[2017-04-13 00:25] abadger commented on #22885
Since this ticket was reported against Ubuntu 14.04 I just tested with my Ubuntu14 vm as well:
[code]

zsh's documentation suggests that .zshenv is used whenever zsh is invoked ( http://zsh.sourceforge.net/Intro/intro_3.html ) so I'm not especially surprised by that.  bash's behaviour is a bit more confusing... When I read the documentation the first time I would have assumed .profile or perhaps n