[2020-04-05 10:58] felixfontein commented on #67949
FYI: the examples in the latest docs have been updated (https://docs.ansible.com/ansible/latest/modules/acme_certificate_module.html#examples).

[2020-04-05 11:28] felixfontein commented on #68594
So if I understand this correctly, this is essentially what Ansible itself has been doing in the past (where Ansible's `2.x.*` now corresponds to collection `X.*.*`), except that the `X.*.*` series can also have features backported (and not only bugfixes), as long as they don't break backwards compatibility?

[2020-04-05 11:50] felixfontein commented on #52407
Migrated to ansible-collections/community.crypto#18

[2020-04-05 11:50] #52407 closed, assigned to nobody

[2020-04-05 11:50] felixfontein commented on #52409
Migrated to ansible-collections/community.crypto#19

[2020-04-05 11:50] #52409 closed, assigned to nobody

[2020-04-05 11:50] felixfontein commented on #54655
Migrated to ansible-collections/community.crypto#20

[2020-04-05 11:50] #54655 closed, assigned to nobody

[2020-04-05 11:51] felixfontein commented on #59905
Migrated to ansible-collections/community.crypto#21

[2020-04-05 11:51] #59905 closed, assigned to nobody

[2020-04-05 13:48] m-a-r-k-e opened #68699 "Jinja2 template with set and and include results in undefined variable on CentOS 8 (Ansible with Python 3)"
##### SUMMARY

Executing the same playbook that uses a template with a `set` and `include` results in an `undefined variable` error on CentOS 8, but it works on CentOS 7.
It looks like that on CentOS 8 all variables in scope will be evaluated, so also the once that are not used, which is the reason for this error.

On both operating systems the latest available version standard repo is used. This

[2020-04-05 20:10] mkrizek commented on #68697
Duplicate of https://github.com/ansible/ansible/issues/68419

[2020-04-05 20:10] #68697 closed, assigned to nobody

[2020-04-05 20:56] felixfontein opened #68701 "Collection loader loads and executes module code, causing problems with old libraries in path"
##### SUMMARY
Context: I was trying to debug why tests using the openssl_privatekey module were reliably unstable on the Shippable OSX CI nodes. Example stack trace (https://app.shippable.com/github/ansible-collections/community.crypto/runs/69/1/tests):
[code]
The problem seems to be as follows:
1. When testing starts, cryptography 1.4 is installed, pyOpenSSL is not.
2. The integration test instal

[2020-04-05 21:33] tumluliu opened #68702 "to_json filter could not keep non-ascii characters"
##### SUMMARY
to_json/to_nice_json filters could not properly preserve non-ascii characters in variables

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
to_json/to_nice_json filters

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO REPRODUCE

`test-playbook.yml`:

[code]

`test_template.txt.j2`:

[code]

##### EXPECTED RESULTS
[c

[2020-04-06 04:03] asdaraujo opened #68703 "Inconsistency in the scope of variables defined at different places in a role"
##### SUMMARY
There seems to be an inconsistency in the scope of variables defined at different places in a role when using nested playbooks:
* `defaults/main.yml`
* `vars/main.yml`
* variables added with `include_vars:`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`import_playbook`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Darwin MacBookPro 18.0.0

[2020-04-06 05:41] felixfontein commented on #68701
Collection loader origin: https://github.com/nitzmahone/ansible/commit/5365467de13fda6915238f4b976c75d36296ce4b

[2020-04-06 05:52] mkrizek commented on #68702
https://github.com/ansible/ansible/blob/28f9fbdb5e281976e33f443193047068afb97a9b/lib/ansible/plugins/filter/core.py#L76-L78

This appears to be due to `ensure_ascii` arg for `json.dumps` [0] is `True` by default which we do not change in `to_json` filter. Changing that would fix the issue however I am not sure what would be the implications of such change.

In the meantime however you can probably

[2020-04-06 05:59] mkrizek commented on #68694
This behavior is expected and documented at https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#embedding-modules-and-plugins-in-roles:

See https://docs.ansible.com/ansible/latest/user_guide/collections_using.html and https://docs.ansible.com/ansible/latest/dev_guide/developing_collections.html for an alternative.

If you have further questions please stop by IRC or the

[2020-04-06 05:59] #68694 closed, assigned to nobody

[2020-04-06 06:40] Akasurde commented on #68684
@porn As a workaround, remove `use: debian`. RCA - Ubuntu provides both `hostname` and `hostnamectl` binaries, `hostname` module uses presence of either one of them. Here `hostnamectl` gets priority over `hostname` when `use: debian` is provided. Removing `use: debian` from playbook gives priority to `hostname` and changes the hostname on the given system. I am looking for a possible fix.

needs_i

[2020-04-06 07:06] tumluliu commented on #68702
Thank you so much @mkrizek !! The `ensure_ascii=False` works like a charm. For me, this can be closed. But it would be great to have this "hidden" param documented somewhere in Ansible

[2020-04-06 07:33] alexvinog opened #68704 "Using a variable in FQCN of the collection called inside the playbook does not find the roles"
##### SUMMARY

While trying to include roles from collections in a dynamic manner, I used a variable as name for the collection name (eg. my_namespace.{{ collection_var_name }}.role1 ). By doing so, the role is not found. Replacing the collection_var_name with the collection name correctly i can use the role without issues.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Collections

##### A

[2020-04-06 08:09] dpower1985 opened #68705 "SSH Connection to Windows fails after updating to Ansible 2.9.6 (From 2.7)"
##### SUMMARY
I'm running a build in packer that connects to the Windows machine to use Ansible to perform various configuration and installation tasks and making the following call within Packer,
[code]
This is running the following simple Playbook,
[code]

In Ansible 2.7 this works correctly and everything runs through and completes successfully, however if the exact same is run via Ansible 2.9.

[2020-04-06 08:19] lvrfrc87 commented on #50334
I have also built a pip package so it makes module installation easier for Ansible versions < 2.10: https://github.com/lvrfrc87/git-acp-ansible

[2020-04-06 09:32] mkrizek commented on #68699
I have tracked this down to an upstream commit in Jinja2 itself: https://github.com/pallets/jinja/commit/d67f0fd4cc2a4af08f51f4466150d49da7798729. From that commit it appears this is an expected change in behavior in Jinja2 that has been introduced in Jinja2 2.9.

[2020-04-06 09:46] apassi commented on #22382
You can also take the ssh-agent mangle totally out from ansible:
`ssh-agent bash -c "ansible-vault view files/vault_ssh_key | ssh-add - && ansible-playbook  ..."`

[2020-04-06 10:14] geordish opened #68706 "iosxr match strict with src broken"
##### SUMMARY

without the 'match' part of the config, the addresses under the interfaces never get applied. I assume it's because there is already the same config line (though different hierarchy) elsewhere in the config.

playing round with the 'match' and 'replace' options give me the error 'match is strict but all of the following are missing: lines' but the docs tell me that src and lines are

[2020-04-06 11:03] Andersson007 commented on #18955
close_me

[2020-04-06 11:05] Andersson007 commented on #18955
closed_via https://github.com/ansible-collections/community.general/issues/118

[2020-04-06 11:21] #18955 closed, assigned to nobody

[2020-04-06 11:25] ramonamis commented on #66641
this issue is also affecting our automation, and we can not unfortunately purge rules.

As a workaround until this gets fixed, we ignore the failure if the rule already exists..

[code]

[2020-04-06 11:28] Andersson007 commented on #41787
close_me

[2020-04-06 11:29] Andersson007 commented on #41787
closed via https://github.com/ansible-collections/community.general/issues/119

[2020-04-06 11:29] #41787 closed, assigned to nobody

[2020-04-06 11:31] Andersson007 commented on #49878
close_me

[2020-04-06 11:31] Andersson007 commented on #49878
closed via https://github.com/ansible-collections/community.general/issues/120

[2020-04-06 11:33] Andersson007 commented on #58644
close_me

[2020-04-06 11:34] Andersson007 commented on #58644
closed via https://github.com/ansible-collections/community.general/issues/121

[2020-04-06 11:35] Andersson007 commented on #67125
close_me

[2020-04-06 11:35] Andersson007 commented on #67125
closed_via https://github.com/ansible-collections/community.general/issues/122

[2020-04-06 11:47] #58644 closed, assigned to nobody

[2020-04-06 11:48] #49878 closed, assigned to nobody

[2020-04-06 12:37] #67125 closed, assigned to nobody

[2020-04-06 12:37] felixfontein commented on #33715
The module has been renamed in community.crypto. The old short name will still work in ACD, and the new name can be used inthe collection.

close_me

[2020-04-06 12:47] #33715 closed, assigned to nobody

[2020-04-06 13:08] javcasalc commented on #68510
Hi,

any idea here?

Thanks,
J.

[2020-04-06 13:28] jctanner commented on #34174
bot_skip

[2020-04-06 13:43] jctanner commented on #34175
bot_skip

[2020-04-06 13:52] geerlingguy commented on #68194
Just wanted to mention one thing—currently constraints seem to work for collections, but not roles, so it can be a little confusing to someone new to Ansible that they can use them for one type of content but not the other. I know there's a long history there with roles and the fact that no versioning standard has been applied historically, but wanted to point that out (since this issue mentions `

[2020-04-06 13:55] geerlingguy commented on #65920
I wanted to drop this GitHub Action here, just as an FYI: https://github.com/artis3n/ansible_galaxy_collection

And also what I'm doing for my personal collections for now (similar to what @bcoca does): https://github.com/geerlingguy/ansible-collection-k8s/blob/master/scripts/deploy.yml

[2020-04-06 13:58] ganeshrn commented on #68510
@javcasalc Based on the netconf logs below
[code]
It seems you are setting `ansible_network_os` to `iosxr`. The `install` RPC is not supported on `iosxe`. Try setting `ansible_network_os` value to `default`.

needs_info

[2020-04-06 14:40] sivel commented on #68703
The problem here, is that your roles are in different plays.  Roles are scoped at the play level.  However, use of `include_vars`, injects the included vars into the host.  As such, the only vars that will persist across plays, are those associated with an individual host.

Role vars and defaults, are not scoped to a host.

[2020-04-06 15:00] sivel commented on #68699
@mkrizek I initially thought the same thing.  However, it appears that jinja2 change is actually causing similar behavior as described in https://github.com/ansible/ansible/issues/58835

`var_that_does_not_exists` is being evaluated, whereas before it wasn't.

[2020-04-06 15:05] javcasalc commented on #68510
Hi

I don't have iosxr defined anywhere. It's the ansible module which is sending that type of data. No matter whether I define default, ios, auto....

Also, I did find a different behavior  when setting "ansible_ssh_port=22".

J.

[2020-04-06 15:25] tanguydelignieresaccenture opened #68710 "ansible_failed_task undefined in the rescue section if an error is thrown from a loop task"
##### SUMMARY

Maybe it's related to #57399, but the context was mentioned to be about `loop` in `include_role`, not only `loop`, it was detected on `ansible 2.9.0`, and as there is a fix related to `ansible_failed_task` in `ansible 2.9.2` (#64843) I'm opening this new one on >= `ansible 2.9.4`.

When using a `block/rescue` surrounding a `loop/with_items` task, and this task raises an error, `ansi

[2020-04-06 15:29] PierreBeucher opened #68711 "Route53 boto error "Profile not found" when using IAM Role with AWS config"
##### SUMMARY

When using `route53` module using Assumed Role based authentication, module will fail with an error like:

[code]

May be related to https://github.com/ansible/ansible/issues/41185, but this is a Bug not a Feature Request as this method of authentication with Boto is available and works fine with other modules.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

`route53` module

[2020-04-06 15:30] ganeshrn commented on #68510
What is is the error you see when the value is set to `default`. If the value is set to `default` there is no way it will execute `install` as that is specific to only iosxr and is defined in netconf iosxr plugin,

[2020-04-06 15:37] javcasalc commented on #68510
[code]

playbook:
[code]

and inventory file:
[code]

[2020-04-06 15:50] ganeshrn commented on #68510
Seems something wrong with settings in your environment, probably the value of ansible_network_os is getting overridden by variable precedence. Refer https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

Also run the ansible-playbook with verbose flag `ansible-playbook <parameter> -vvvv`. You should see log similar to based o

[2020-04-06 15:55] javcasalc commented on #68510
You're right:
[code]

But in my inventory file and in the playbook I did configure:
[code]
I did also try with ansible_network_os="default"

[2020-04-06 16:18] #68592 closed, assigned to relrod

[2020-04-06 17:34] lweighall commented on #65444
@peredjounayali , the hotfixes have been since merged and put into the devel branch of 2.10.

Go to ansible/ansible and clone the devel branch. Go to ansible/lib/ansible/plugins/http to get the fortimanager.py file directly. You will have to directly replace it in the downloaded ansible package on your system under the python folder.

In ubuntu 18 with python3 on my system, for example,, that path

[2020-04-06 17:56] yamjoepobuda opened #68717 "Error in repo when attempting to deploy certificates with fortios_vpn_certificate_local and fortios_vpn_certificate_ca."
##### SUMMARY
When using the fortios_vpn_certificate_local and fortios_vpn_certificate_ca modules, all attempts to configure the certificate result in "Error in repo".

When I run the commands manually using the data configured as variables, everything works as expected. The issue with both modules, based on my interpretation of the debug output, is that the API is not correctly formatting certifi

[2020-04-06 18:19] yamjoepobuda commented on #68717
I changed the formatting of the variable and I'm seeing slightly different results (same outcome).

Example, fortios_ca_certificates variable, I switched from standard declaration to literal.
[code]

Now seeing this:
[code]

Looks like we're getting hung up on spaces? This is eerily familiar to my other open issue with fortis_system_admin. It looks like variables with spaces in the string are bein

[2020-04-06 18:33] dustinblack commented on #68694
Sorry @mkrizek, but I disagree that this should be considered intended behavior and not a bug.

First, a module defined within a role is documented as being within in the scope of the role.

https://docs.ansible.com/ansible/latest/dev_guide/developing_locally.html

Second, regardless of the intended inheritance of the module by subsequent roles, it is generally reasonable to expect that a user cou

[2020-04-06 18:38] markuspachali commented on #63180
I'm facing the same issue. Are there any estimations when this will be fixed?
For the moment the workaround with ansible_python_interpreter in hostvars is okay for me, but well... defining the interpreter for all hosts is not fun...

[2020-04-06 18:52] jctanner opened #68721 "check ansibot migration logic"
##### SUMMARY
gitlab_user is broken

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gitlab_user

##### ANSIBLE VERSION

[code]

[2020-04-06 18:52] jctanner commented on #68721
bot_skip

[2020-04-06 18:52] bcoca commented on #67791
I would say we need to check 'after' since any check 'before' would be subject to race conditions

[2020-04-06 18:52] benocms opened #68722 "Plugin 'mount' doesn't support loop with 'with_items' correctly"
##### SUMMARY
When creating multiple mount points using a loop, the mount points are not entered in /etc/fstab.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- mount

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 8 - 4.18.0-80.11.2.el8_0.x86_64

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Added mount points in /etc/fstab.

##### ACTU

[2020-04-06 19:12] m-a-r-k-e commented on #68699
Thanks for the analyses. The addition from@sivel is important. In both situations the context contains all variables, but on CentOS 8 (with the newer Jinja2 version) in this situation all variables are evaluated, even the ones that are not used at all.

[2020-04-06 19:13] KowMangler commented on #42666
* Deploy ssh keys to esxi hosts (manually copied to /etc/ssh/keys-root/authorized_keys)
* remove `requests` python module requirement in the `vmware.py` module_utils (about 5 lines)
* In your playbook don't set connection local nor defer to localhost (it will be run from the ESXi host itself)
* ensuring the private key is used to connect to the ESXi host

I've used the above without issue on ESXi

[2020-04-06 19:29] asdaraujo commented on #68703
Thanks, @sivel . When the variables are injected in `include_vars` their evaluation is not forced and if they have references to defaults or role vars those references will exist in the hostvars.

If these host variables are never referenced later, this _should_ not be a problem. However, I've run into a situation where calling `lookup('template', ...)` seems to cause any unresolved references in

[2020-04-06 19:34] KowMangler commented on #42666
comment out 576-577:
[code]

comment out 903-905:
[code]

Yes, you lose some error detail but it's not much

[2020-04-06 19:38] mkrizek commented on #68694
I am sorry I missed that. This has been reported in https://github.com/ansible/ansible/issues/36028.

[2020-04-06 20:09] #63180 closed, assigned to sivel

[2020-04-06 20:09] #61002 closed, assigned to nitzmahone

[2020-04-06 20:25] #67972 closed, assigned to relrod

[2020-04-06 20:48] #51308 closed, assigned to Akasurde

[2020-04-06 20:58] dustinblack commented on #36028
It looks like the problem reported in 68694 could be the same issue, and we have a simple and clear reproducer there. This definitely feels like a necropost at this point, but the evidence is that this is a bug and that persists 2+ years later in the 2.9 version.

[2020-04-06 21:04] qadv opened #68727 "VMware_guest does not support hardware version 15"
##### SUMMARY
Logic in VMware_guest needs to be updated to include Esxi 6.7U2 Virtual Machine Hardware Version 15.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-04-06 21:13] csdozier commented on #31194
Still an issue in 2.9.  If you try to fetch with AWX on a few hundred mb file, container will just run out of memory.

[2020-04-06 22:46] carchi8py opened #68728 "Issue running ansible-test"
##### SUMMARY
We've been using the stable branch of ansible 2.9 for a while for testing without issue, today i switched to the latest version of dev and got the following error

`[root@scspa1821006005 ontap]# ansible-test sanity --docker=default`
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STE

[2020-04-06 22:53] asdaraujo commented on #68703
Here's an example of what I referred to in the previous post.
Replace the contents of the `extra.yml` file with the following:
[code]

If we run the playbook with this change it still completes successfully since nothing in the `test2` playbook references this variable.

Now, change the following:
[code]

With the change above, the `test2` playbook still does not reference any variable from playbo

[2020-04-06 23:28] kenwdelong opened #68729 "ec2_group fails with "Ran out of time" when using group_name"
##### SUMMARY
When using ec2_group, if I use group_name in the rules section, the task hangs until I get a "Ran out of time waiting for security group" error.  If instead I use a cidr_ip, it returns normally.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Amazon Linux 2

##### STEPS TO REPRODUCE

[2020-04-06 23:29] GhostLyrics commented on #68224
Possible duplicate of https://github.com/ansible/ansible/issues/67159

[2020-04-06 23:31] mattclay commented on #68728
What distribution and version are you testing with? What version of git?

[2020-04-06 23:33] anshulbehl commented on #68728
I am facing similar issue locally as well

[code]

Error I see is as below, it is not same but I think the issue is similar

[code]

[2020-04-06 23:40] tobiasehlert opened #68730 "docker_compose module throwing error"
##### SUMMARY

Error that module docker_compose produces:

[code]

But the weird thing is that pip3 has the things installed..
[code]
I only use pip3.

The OS of the server is a CentOS 7.

When running same commands on CentOS 8 server, this is no problem at all.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_compose

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### O

[2020-04-06 23:43] GhostLyrics commented on #67159
For the next macOS person to run into this:
[code]

- Feel free to use a different name
- The `install` command will take some time to build the package
- Uninstall the custom version and install regular Ansible after this issue is resolved.

[2020-04-07 00:45] mattclay commented on #68728
@anshulbehl That appears to be an unrelated issue. I'm not able to reproduce it yet, or the issue reported by @carchi8py either.

[2020-04-07 00:48] mattclay commented on #68728
!needs_info

[2020-04-07 01:00] sugitk commented on #68660
I will close this case because the customer doesn't permit to share the information

[2020-04-07 01:00] #68660 closed, assigned to nobody

[2020-04-07 01:02] sky-joker commented on #68483
I confirmed this bug fixed the latest version, so I will close this issue.

https://github.com/CiscoDevNet/ansible-aci

[2020-04-07 01:03] sky-joker commented on #68488
I confirmed this bug fixed the latest version, so I will close this issue.

https://github.com/CiscoDevNet/ansible-aci

[2020-04-07 01:03] #68488 closed, assigned to nobody

[2020-04-07 01:16] anshulbehl commented on #68728
@carchi8py Can you also provide details from your system as well, I am facing a separate issue from what you are faicng

[2020-04-07 01:25] mattclay commented on #68728
@carchi8py I was able to repro the issue using git version 1.7.1 in a `centos:6` docker container.

[2020-04-07 01:27] anshulbehl opened #68731 "Collection build cli should filter out .git file"
##### SUMMARY

Collection build cli should filter out .git file
Currently it ignores .git dir but not the file here.
https://github.com/ansible/ansible/blob/4916be24fd8be0c223bf5e5f641d676a8d56ad82/lib/ansible/galaxy/collection.py#L845-L853
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

#####

[2020-04-07 01:45] wsteinford opened #68732 "The type being used for parsing should be uint32, not int32"
#### ISSUE TYPE
Bug Report

#### ANSIBLE VERSION
ansible 2.9

#### CONFIGURATION
##### OS / ENVIRONMENT
Deploying to Windows host

#### SUMMARY
https://github.com/ansible/ansible/blob/18a2183a0be3896f28b9fc77f90563585916e98c/lib/ansible/modules/windows/win_package.ps1#L65

This should use uint32 because the function [Ansible.Process.ProcessUtil]::CreateProcess returns uint32.  CreateProcess calls,

[2020-04-07 01:56] mattclay commented on #68728
I've put together an integration test that reproduces this in our `centos7-test-container` and will work on a fix.

[2020-04-07 02:02] rldleblanc commented on #37591
I'm surprised that this has lingered so long. I'd submit a pull request, but the module's directory is empty in the `devel` branch. If someone wants to push this through, I'm happy to sign it off. I don't have time to figure out their crazy build process for this 'simple' fix.

[code]

[2020-04-07 04:42] Akasurde commented on #68732
Issue migrated to https://github.com/ansible-collections/ansible.windows/issues/46

[2020-04-07 04:42] #68732 closed, assigned to nobody

[2020-04-07 04:43] Akasurde commented on #68727
Issue migrated to https://github.com/ansible-collections/vmware/issues/98

[2020-04-07 04:43] #68727 closed, assigned to nobody

[2020-04-07 04:45] Aethylred commented on #56930
@bcoca in a previous comment:

You've stated repeatedly that the current behaviour can be preserved, but what are the exact ansible.cfg settings required to do this _now_ and squash the deprecation warning.

I've tried as @geerlingguy wrote in comment 56930:

Which causes my playbooks to fail when it can't find hosts or groups with hyphens (they're coming in from an inventory plugin we wrote BTW,

[2020-04-07 05:47] mkrizek commented on #68710
Thank you for detailed description of the problem. The key part here is:
```The error was: 'item' is undefined```

The `ansible_failed_task` references a variable that only exists in the loop scope and when we try to template it (as a part of templating `ansible_failed_task`) in the rescue section, it fails because the loop does not exist there anymore.

I am going to go ahead and close this as a

[2020-04-07 05:47] #68710 closed, assigned to nobody

[2020-04-07 06:09] NiveditaKumari14 commented on #68661
Hi Team, i am waiting for the response

[2020-04-07 06:24] ldvorak opened #68735 "ios_config can not change actual switch config"
#### SUMMARY
ios_config can not change actual switch config. I can see the login to the switch, but I dont see any configuration change. I have tried also ports description change, shut... still the same.

##### ISSUE TYPE
ios_config can not change actual switch config

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
ansible 2.9.6
  config file = /etc/ansible/ansible.cfg
  configured module

[2020-04-07 06:31] ldvorak commented on #68735
ios_config.py is on place. I downloaded the new one and compared with the current and they are exactly the same.

[2020-04-07 06:52] beenje commented on #56930
This was mentioned in several [comments](https://github.com/ansible/ansible/issues/56930#issuecomment-498410284) and is in the [documentation](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#transform-invalid-group-chars). You should use **never** or **ignore**.

[2020-04-07 07:11] rightaway opened #68736 "openssl_certificate without csr_path"
##### SUMMARY

An explicit `csr_path` shouldn't be required when generating an openssl certificate. A valid command to generate a certificate is `openssl req -x509 -newkey rsa:4096 -keyout key.pem -out cert.pem -days 365`, which doesn't require a csr file.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

openssl_certificate

[2020-04-07 08:37] dark-age opened #68738 "RouterOS connection timeout SSH"
##### SUMMARY
Using the RouterOS module on devices running RouterOS 6.46.4 mipsbe will receive connection error via SSH.

SSHing into the RouterOS device does work.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

routeros_command

##### ANSIBLE VERSION

`ansible 2.9.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/an

[2020-04-07 08:47] ogarcia commented on #68587
Reading #52354 I see that @samdoran says that use `XDG_CONFIG_PATH` variable can be a security problem because a user can configure it outside his/her home and can be writable by other users (or redirected by symlink). IMHO, is a vague excuse, it's like saying, I'm not going to give you a knife to cut the steak because you could rip your hand off with it. Let users make their own decisions!

[2020-04-07 08:47] yurtesen opened #68739 "Print information about `import_tasks` task..."
##### SUMMARY
I realized `include_tasks` is printing a text saying `included: /path/file.yml for a.b.c.d` however `import_tasks` is not printing anything at runtime. Showing that some tasks were imported can improve readability.

Eg. one can know from which `import_tasks` statement the tasks were loaded if there were multipme statements.

I understand that `import_tasks` are pre-processed but ther

[2020-04-07 10:10] sebastianw opened #68741 "junos_facts: gather_network_resources has wrong/misleading documentation"
##### SUMMARY

The `gather_network_resources`of `junos_facts` has its documentation copied from the `gather_subset` option. It is unclear what the difference between these two options is or what `gather_network_resources` does.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

junos_facts

##### ANSIBLE VERSION

[code]

[2020-04-07 10:14] xauthulei opened #68742 ""msg": "TemplateNotFound""
##### SUMMARY

I use the `operator-sdk` to run the ansible,  in my application, I want to include a template to based k8s template, liking this :
[code]
However, it reported a   "TemplateNotFound" error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2020-04-07 10:17] xauthulei commented on #68742
In my current env, I leave the two templates(the based k8s template and included one `jupyterhubDockerhubconfigjson.j2`) in same directory of my ansible roles dir.  Could I know what i wrong here. Many Thanks

[2020-04-07 10:41] mkrizek commented on #68742
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-04-07 10:41] #68742 closed, assigned to nobody

[2020-04-07 10:48] frik4unix opened #68744 "azure_rm_appgateway.py request_routing_rules rule_type choices wrong"
##### SUMMARY

The documentation for this module describes as choice for request_routing_rules.rule_type:

- basic
- path_based_routing

These choices are wrong - the correct ones are:

- Basic
- PathBasedRouting

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

lib/ansible/modules/cloud/azure/azure_rm_appgateway.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS

[2020-04-07 10:57] frik4unix opened #68745 "azure_rm_appgateway.py module doesn't work when using request_routing_rules rule_type PathBasedRouting"
##### SUMMARY

When using request_routing_rules and setting rule_type to PathBasedRouting the module outputs an error because Azure is missing parameter for PathBasedRouting.

Azure expects missing parameter which can not be handed over with the module.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/azure/azure_rm_appgateway.py
##### ANSIBLE VERSION

[code]

##### C

[2020-04-07 11:01] Yajo commented on #32265
Is there any reason for that?

Which race condition?

[2020-04-07 13:44] vladimirtiukhtin opened #68747 "rsplit() stopped working"
##### SUMMARY
rsplit() is supposed to do revers splitting in oppose to split(), but it currently copying split() behaviour

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
jinja rsplit()

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Tested on MacOS and inside Debian and CentOS containers

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2020-04-07 14:10] mkrizek commented on #68747
Has this ever worked differently? I think you are misunderstanding what `rsplit` does.

Please refer to the Python documentation at https://docs.python.org/3/library/stdtypes.html#str.rsplit:

Example:
[code]

Either way this is not really an Ansible question.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.g

[2020-04-07 14:10] #68747 closed, assigned to nobody

[2020-04-07 14:21] ghost opened #68748 "Container altered after docker_compose task ends"
##### SUMMARY

Hi !
I'm trying to start a traefik / gogs container with ansible and its "docker_compose" module.
Containers are created and started with correct options but traefik doesn't see the gogs container.
This issue isn't constant but very frequent (1/2 or 1/3).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_compose

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2020-04-07 14:25] mkrizek commented on #68699
FWIW I tried fixing this in the PR linked above.

[2020-04-07 14:30] pinkeen commented on #68701
Just a side-note:

Our automation has been affected. We use `openssl_privatekey` against CentOS 7 targets.
We started getting this error after bumping ansible to 2.9 (from 2.7):
[code]

We are installing global `pyOpenSSL` package with PIP prior to running the module what results in effectively installing `cryptography==2.9` and `pyOpenSSL==19.1.0`. This has worked fine before. _Using system-provi

[2020-04-07 14:44] carchi8py commented on #68728
Sorry for the delay i'm using
[root@scspa1821006001 ~]# git --version
git version 1.8.3.1
[root@scspa1821006001 ~]# cat /etc/os-release
NAME="Red Hat Enterprise Linux Server"
VERSION="7.6 (Maipo)"
ID="rhel"
ID_LIKE="fedora"
VARIANT="Server"
VARIANT_ID="server"
VERSION_ID="7.6"
PRETTY_NAME="Red Hat Enterprise Linux Server 7.6 (Maipo)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:redhat:enterprise_linux:7.6:G

[2020-04-07 15:16] Akasurde commented on #49918
Issue migrated to https://github.com/ansible-collections/kubernetes/issues/72

[2020-04-07 15:16] #49918 closed, assigned to nobody

[2020-04-07 15:21] sivel commented on #68731
I'm not clear on what a `.git` file is, as opposed to a `.git` directory, is this due to submodules?

[2020-04-07 15:26] sivel commented on #68685
For now this can be added to the sanity ignore file, but we should probably loosen this, or add flexibility for opt in to this behavior.  Since we are restricting this for our own collections, we probably need the opt in behavior. See https://github.com/ansible/ansible/pull/66920#discussion_r398817968

[2020-04-07 15:28] felixfontein commented on #68701
@pinkeen I don't think this is related to this issue. This issue is about collections, so if you don't explicitly use the community.crypto collection with Ansible 2.9, you are using the built-in crypto modules, which do not have this problem. Do you happen to have the full stacktrace?

[2020-04-07 15:32] sivel commented on #68661
We believe this functionality is working as expected. In fact we don't believe that silently changing `serial: 0` to be silently ignored is good behavior.

If we were to accept a pull request, I would recommend adding a warning when `serial: 0` saying we are reverting to the default value.  If `serial: 0%` is specified, we could go either way, either a warning or an error.  We are leaning towards

[2020-04-07 15:34] ernestocasas opened #68751 "lineinfile, not creating file when it doesn't exist, and not updating the file with new added / removed / updated line."
##### SUMMARY

First I want to say this was working fine on Ansible 2.8.

Since upgraded to 2.9, lineinfile module is no creating any file with create=yes, neither updating existing file, even the result show message "line added"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### EXPECT

[2020-04-07 15:36] sivel commented on #68659
The intent of this documentation, as indicated by `...` is to show that this is a smaller fragment of a larger inventory file, that would be correctly formatted to be parsable.

This snippet is not intended to be a stand alone inventory file.

If you wish to clarify this, feel free to submit a pull request.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible

[2020-04-07 15:36] #68659 closed, assigned to nobody

[2020-04-07 15:36] anshulbehl commented on #68731
yes, @mattclay and I saw it with submodules used here https://github.com/geerlingguy/ansible-collection-k8s/tree/master/roles

Filed: https://github.com/geerlingguy/ansible-collection-k8s/issues/7 on the project

[2020-04-07 15:38] sivel commented on #68645
Packages for new debian releases are only created during the release process, and as Focal has yet to be released, a package will not be made available until the next release that is made after Focal has been released.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-pro

[2020-04-07 15:38] #68645 closed, assigned to nobody

[2020-04-07 15:41] sivel commented on #68643
Closing per above.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-04-07 15:41] #68643 closed, assigned to nobody

[2020-04-07 15:47] sivel commented on #43199
Duplicate of https://github.com/ansible/ansible/issues/64121

[2020-04-07 15:47] #43199 closed, assigned to nobody

[2020-04-07 15:47] sivel commented on #68638
Duplicate of https://github.com/ansible/ansible/issues/64121

[2020-04-07 15:47] #68638 closed, assigned to nobody

[2020-04-07 15:47] Gobi-Ganesan opened #68752 "Problem with \u001b[31m color codes"
Ansible Version:
ansible 2.9.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/gobi/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /home/gobi/.local/lib/python2.7/site-packages/ansible
  executable location = /home/gobi/.local/bin/ansible
  python version = 2.7.17 (default, Nov  7 2019, 10:07:09) [GCC 7.4.0]

[2020-04-07 15:51] sivel commented on #68615
This issue needs verified, I believe this had already been resolved in the following code:

https://github.com/ansible/ansible/blob/a213b9160c7902122d20f05b2fa27a15cd541f4a/lib/ansible/playbook/included_file.py#L180-L185

[2020-04-07 16:33] sivel commented on #68703
The above description is probably a duplicate of https://github.com/ansible/ansible/issues/68699

[2020-04-07 16:38] bala08yuvaraj opened #68754 "failed to start ansible.service: unit not found"
while starting ansible got below error

Ansible version 2.4.2.0

failed to start ansible.service: unit not found

[2020-04-07 17:40] samccann opened #68755 "Create a tool to generate module.rst files from module docstrings in collections"
##### SUMMARY

Collection developers may need a way to get module documentation independent of docs.ansible.com or Galaxy, when it comes. The scenarios are:

A collection that is not in ACD (and thus not on docs.ansible.com) and Galaxy doesn't have a way to display module docs yet.

a private collection (internal to a company) - the collection developer would want a way to generate module docs on

[2020-04-07 17:55] aciguru commented on #68109
Issue moved to

https://github.com/CiscoDevNet/ansible-aci/issues/4

[2020-04-07 18:43] Tyler-2 commented on #68019
I believe this is fixed in https://github.com/ansible-collections/community.aws/pull/30

[2020-04-07 18:48] dkrijgsman1979 commented on #65824
Hi Jorge,

Sorry for the late reply, can you please clarify and tell me what’s not working when using the aci_access_port_to_interface_policy_leaf_profile?
When Interface profiles and policy groups exist I can create all access port selectors within the interface profile referencing a port block and tie them to a policy group.
Simplified example;

- name: Associate an access port block (single por

[2020-04-07 18:53] asdaraujo commented on #68703
Interesting timing with the other issue!
That should fix my main problem right now.

Nevertheless, having host facts with dangling references can still be problematic. It could be a good idea to resolve those within `include_vars`. Thoughts?

[2020-04-07 19:17] mwtzzz commented on #18305
In my case it was the following: hosts whose user .bashrc (the user ansible uses to log in) had a "sudo" to another user in it. This caused Ansible to hang indefinitely.

[2020-04-07 19:48] mchlrv opened #68757 "New network resource modules always return changed=true"
##### SUMMARY
Whenever I use the new Ansible 2.9 network resource modules they always seem to return `changed=true` even when the `before` and `after` are identical and nothing has changed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Tested with:
ios_interfaces
ios_vlans
eos_interfaces
eos_vlans

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Cisco Nexus9

[2020-04-07 19:55] ldvorak commented on #68735
I migrated the yml to the network_cli, created the host file, group_vars, host_vars folders, etc and it works now

[2020-04-07 19:55] #68735 closed, assigned to nobody

[2020-04-07 20:10] geerlingguy commented on #68731
I probably have a similar issue with https://github.com/geerlingguy/ansible-collection-php_roles as well, then—it is currently using submodules until I am able to convert Galaxy roles into collections.

Is this something that presumably would have to be done in the build locally? I don't believe `ansible-galaxy collection build` in Ansible 2.9.x yet accounts for `ignore_patterns` in the `galaxy.ym

[2020-04-07 20:30] sivel commented on #68752
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-04-07 20:30] #68752 closed, assigned to nobody

[2020-04-07 20:31] ognjen011 commented on #59725
Anyone have an idea when will this be available?

[2020-04-07 20:34] rosowiecki commented on #43369
I'm not losing hope for fixing it, see: https://github.com/ansible-collections/community.general/pull/129

[2020-04-07 20:35] #68491 closed, assigned to nobody

[2020-04-07 20:46] sivel commented on #68704
We've reviewed this and determined that we are not willing to supporting templating values in `collections:` at this time. The associated PR will add warnings to tell users that the field is not templatable, and that the literal values will be used.

[2020-04-07 20:58] sivel commented on #68754
Due to lack of actionable information in this issue, I am going to close it.  Please feel free to open a new issue, using the issue template including as much information as possible.

Additionally, as Ansible 2.4 is end of life, you should look at installing and testing a newer version that would still accept bug fixes, such as 2.8 or preferably 2.9.

If you have further questions please stop by

[2020-04-07 20:58] #68754 closed, assigned to nobody

[2020-04-07 21:07] FragmentedPacket commented on #59725
This has been implemented within the Ansible Collection (https://galaxy.ansible.com/netbox/netbox)

[2020-04-07 21:19] sivel commented on #68615
I'm not able to reproduce this.  If you can provide a full, minimal reproducer like I have here, we might be able to troubleshoot further.

Here is my reproducer:

[code]

68615.yml
[code]

roles/loopy/tasks/main.yml
[code]

roles/loopy/vars/one.yml
[code]

roles/loopy/vars/two.yml
[code]

Output:
[code]

needs_info

[2020-04-07 21:28] sivel commented on #68611
I cannot replicate this behavior.  I do not have access to run the same module as you, so I created a module that just responds with the same return values.

Something of an important note here, is that your output does not contain the `failed_when_result` at all.  And when `failed_when` is on a task, that should always be included in the result.

This seems to indicate that the task that is faili

[2020-04-07 21:30] xenlo commented on #67865
I finally wanted to take the time to look at your PR (for too long on my ToDo list), but read only today your last message. Sorry for this late feedback.

It's true that the `vmware_local_user_manager` module is a bit light in features compare to the `user` one. Nevertheless, I don't have right now use cases which has needs not covered by that module `vmware_local_user_manager`. So the your decisi

[2020-04-07 21:35] sivel commented on #68587
Thank you very much for your interest in Ansible. We have no plans at this time to accept or implement functionality to utilize `XDG_CONFIG_PATH`. In addition to security issues, it is also not portable across all operating systems, and would unnecessarily add complexity to an already complex code path.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on i

[2020-04-07 21:35] #68587 closed, assigned to nobody

[2020-04-07 21:39] snetch commented on #42581
Still running into the same problem on Ansible 2.8.5.

[2020-04-07 21:42] sivel commented on #68606
Thank you very much for your documentation report.  I have spoken to the Tower support team in regards to this, and we both agree that we should not include Tower caveats in the upstream module documentation.

I've been asked that you file an issue in the Tower product docs to get this clarification added there.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ans

[2020-04-07 21:42] #68606 closed, assigned to nobody

[2020-04-07 21:56] sivel commented on #68722
The `mount` module has been migrated to https://github.com/ansible-collections/ansible.posix

Please file new issues for this module in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-04-07 21:56] #68722 closed, assigned to nobody

[2020-04-07 22:37] TC-robV opened #68760 "AWS elb_target_group requires protocol, port when state is absent"
##### SUMMARY

when trying to delete a target group via elb_target_group it throws
target_type is instance but all of the following are missing: protocol, port.
double checked and eve in the docs it says those are only needed if state is present

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

elb_target_group
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

macos 10.15.4

##### STEPS T

[2020-04-08 00:03] jborean93 commented on #68705
Ansible never worked with SSH to a Windows host until 2.8 was released but I see you are calling Ansible from Packer. Packer has a proxy setup that sits in between Ansible and the remote host and translates all Ansible calls to the transport set up in Packer. This causes all sorts of issues and typically breaks some component of how Ansible runs modules.

To rule this out can you just run Ansible

[2020-04-08 01:17] bluikko commented on #56243
@tmiller02 in CentOS 7, for me this problem happens only with python 3. It works normally with python 2.

I cannot believe that this bug has not gotten higher attention. For almost 1 year the template module needs a workaround to create the file first?
Either python 3 is not used much or people have turned SELinux off are the only reasons I can think of.

[2020-04-08 04:00] Gobi-Ganesan opened #68762 "Debug prints \u001b[31m color codes"
##### SUMMARY
While running git status or any other commands, the deleted and marked files are shown in red or any other colours. When trying to store the results of the commands in a register and print the values using debug module \u001b[31m or any other ANSI code will append to the result. The debug will print the result in default green colour, maybe this is the reason for this issue.
How can

[2020-04-08 04:15] gobiitachi commented on #68762
!component

!component

!component

!component

!component

!component

!component

[2020-04-08 06:49] mooky31 commented on #68611
Hello,

I showed you the playbook, the failed_when is there.
I don't know why it isn't taken into account.

I might have found something interesting, I explained it in [the bug I have filed on the fmgr_generic side](https://github.com/fortinet/ansible-fortimanager-generic/issues/10#issuecomment-610154476):
The problem comes from the module_util `fortimanager.py`, function `return_response` :
[code

[2020-04-08 07:04] mkrizek commented on #68762
You can disable colors in git output via config. Example for just one command:
[code]

[2020-04-08 07:04] mkrizek commented on #68762
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-04-08 07:04] #68762 closed, assigned to nobody

[2020-04-08 07:20] ogarcia commented on #68587
@sivel complexity?
[code]
Sorry, but I don't see complexity in these thee lines

[2020-04-08 07:45] kenyon opened #68763 "v2.9.6 templating performance regression due to caching change in #67429"
##### SUMMARY
#67429 (included in Ansible v2.9.6) causes a massive performance penalty compared to Ansible v2.9.5. I have a project making heavy use of Ansible's `template` module. With v2.9.5 it takes about 15 seconds to render a file. With v2.9.6, it takes about 9 minutes. Reverting the change in #67429 (just changing `if cache and only_one:` back to `if cache:`) restores the v2.9.5 performance.

[2020-04-08 07:56] bhanukana opened #68764 "How to increase VM OS disk, from template, using ansible vmware guest module"
##### SUMMARY

I am looking for a option for increasing  vm template OS disk , during deploying
##### ISSUE TYPE
- There is no option for increasing vm OS disk

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-04-08 08:04] Andersson007 commented on #20196
Hi @Tronde and others
https://github.com/ranger/ranger/issues/325 I found a similar issue (supbrocess).
People said that the error appears when they use python2 and disappear with python3.
I also found https://stackoverflow.com/questions/295459/how-do-i-use-subprocess-popen-to-connect-multiple-processes-by-pipes where mentioned that ```broken pipe``` can happen because there are different signals

[2020-04-08 08:15] #68728 closed, assigned to mattclay

[2020-04-08 08:17] Andersson007 commented on #20196
(symlink on the target machine)

[2020-04-08 08:19] Andersson007 commented on #24728
close_me

[2020-04-08 08:19] Andersson007 commented on #24728
closed_via https://github.com/ansible/ansible/pull/65547

[2020-04-08 08:25] kenyon commented on #68764
You should go to IRC or another forum to ask questions like this. https://docs.ansible.com/ansible/latest/community/communication.html

[2020-04-08 08:31] #24728 closed, assigned to nobody

[2020-04-08 08:41] Andersson007 commented on #25960
The mentioned issues in MariaDB were fixed in October 2017
could anyone test it with the latest MariaDB and PyMySQL (also can be very important).
If the bug continues to happen, please provide information about versions of **OS, MariaDB, PyMySQL, python interpreter used by Ansible on a target machine**.
If there are no answers, we consider the bug has been fixed.
needs_info

[2020-04-08 08:56] dsavov opened #68766 "gcp_compute_instance doesn't attach persistent disk to already launched instance"
##### SUMMARY

gcp_compute_instance doesn't attach persistent disk to already created instance.
When instance is initially created with persistent disk it's being attached.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_instance
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04.4 LTS

##### STEPS TO REPRODUCE

Launch instance
Create

[2020-04-08 09:42] ognjen011 commented on #59725
Ok great, sorry to be a pain but are there any docs on how to use collections? How do i actually use them to lookup inventory inside Netbox and get hostvars interfaces, vlans. The example on the install page only shows creating a new device.

[2020-04-08 09:45] Andersson007 commented on #26581
close_me

[2020-04-08 09:45] Andersson007 commented on #26581
where copied to community.general repo https://github.com/ansible-collections/community.general/issues/133

[2020-04-08 10:00] #26581 closed, assigned to nobody

[2020-04-08 10:24] bala08yuvaraj opened #68768 "failed to start ansible.service: unit not found"
##### SUMMARY

I have installed ansible version 2.4.2.0, while trying to start the service got below error

failed to start ansible.service: unit not found

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Unable to start the ansible service

##### ANSIBLE VERSION

ansible version 2.4.2.0

[code]

##### OS / ENVIRONMENT

centos linux 7

##### STEPS TO REPRODUCE
Unable to start the ansible servi

[2020-04-08 10:34] parkrish opened #68769 "Action plugin in dellemc_networking.os10 collections not picked unless ANSIBLE_NETWORK_GROUP_MODULES is set"
##### SUMMARY
An action plugin with name os10.py is defined in collections dellemc_networking.os10(https://github.com/ansible-collections/dellemc_networking.os10)

When using a role defined in the collections in the playbook, the os10.py action plugin in the  collections is not getting used.Instead only normal action plugin in core module is getting used.

Only when the environment variable ANSIBL

[2020-04-08 10:39] mkrizek commented on #68768
There is no `ansible.service` provided. Can you elaborate a bit more on what are you trying to achieve or what `ansible.service` would be supposed to do?

needs_info

[2020-04-08 11:13] ssaavedra commented on #68587
@sivel why is this not portable across operating systems?

Freedesktop cross-desktop group (XDG) is not a formal standards body with standards that can only comply on a certain OS or community. You can add `XDG_`- related environment variables on any "non-compliant" system and make it compliant. In my opinion, your point about compliance is just absurd, since this is an open specification that any

[2020-04-08 11:30] bala08yuvaraj commented on #68768
I have installed ansible in the virtual machine, after installing trying to start teh ansible service. got above error. How to fix that

[2020-04-08 11:31] harshu1470 commented on #68768
ansible is not a service it is a tool for configuration management, application management  ,server management  so there is no ansible.service provided and i guess this problem occured because of you are trying to start ansible service like in redhat" systemctl start ansible" this command depends upon your linux_os and

[2020-04-08 11:32] harshu1470 commented on #68768
if you want to check ansible is installed or not then use this command " ansible --version"

[2020-04-08 11:33] harshu1470 commented on #68768
ansible is not a service it is a tool.

[2020-04-08 11:35] bala08yuvaraj commented on #68768
i know its a tool, need to install and start that tool right

[2020-04-08 11:35] Urth opened #68770 "CachePluginAdjudicator should call plugin.flush() when flushing cache"
##### SUMMARY
The current implementation of CachePluginAdjudicator is unable to flush the cache without loading everything in memory using `load_whole_cache`. Iterating over the plugins cache keys would avoid that step.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible.plugins.cache
CachePluginAdjudicator

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### STEPS TO REPRODUC

[2020-04-08 11:39] harshu1470 commented on #68768
it is not a server so just install it and then for checking it is working or not simple write a playbook and run this command anisble-playbook {{your playbook name}}
and playbook in yaml format

[2020-04-08 11:39] mkrizek commented on #68768
As comments above say Ansible is agent-less, there is no service to be started. Please refer to the documentation on how to use it: https://docs.ansible.com/ansible/latest/user_guide/intro_getting_started.html

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-04-08 11:39] #68768 closed, assigned to nobody

[2020-04-08 12:00] Akasurde commented on #68764
Hi @bhanukana !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allow

[2020-04-08 12:00] #68764 closed, assigned to nobody

[2020-04-08 12:17] Codecross opened #68771 "Ansible.ModuleUtils.WebRequest clears authorization header on redirects"
##### SUMMARY
`win_get_url` clears the authorization header on redirections

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_get_url

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Host: Mac OS 10.14.6
Target host: Windows 2012 R2

##### STEPS TO REPRODUCE
**Use case**: Using `win_get_url` on the target host to download a file from a repository. Basic auth

[2020-04-08 12:36] Urth commented on #68770
The `BaseCacheModule` defines a `flush` function which should be called instead of iterating over the keys.

[2020-04-08 13:02] mnecas commented on #68347
close_me

[2020-04-08 13:06] #68347 closed, assigned to nobody

[2020-04-08 13:12] mnecas commented on #49164
Closing this issue, if you will get the issue again please recreate it in ovirt collection.
https://github.com/ovirt/ovirt-ansible-collection

[2020-04-08 13:12] mnecas commented on #49164
close_me

[2020-04-08 13:15] #49164 closed, assigned to nobody

[2020-04-08 13:15] mnecas commented on #33852
Closing this issue if you think it is a necessary feature. Please recreate the issue on ovirt collection.
https://github.com/ovirt/ovirt-ansible-collection

[2020-04-08 13:15] mnecas commented on #33852
close_me

[2020-04-08 13:16] mnecas commented on #34154
Should be fixed in 4.3 if you will have the issue again please recreate it in ovirt collection.
https://github.com/ovirt/ovirt-ansible-collection

[2020-04-08 13:16] mnecas commented on #34154
close_me

[2020-04-08 13:16] pshirshov opened #68772 "osx_defaults integer type check is broken"
It's not possible to set negative value for using osx_defaults task.

[code]

It happens because of bad code in https://fossies.org/linux/ansible/lib/ansible/modules/system/osx_defaults.py:

[code]

[2020-04-08 13:21] mnecas commented on #53002
The inventory was migrated to https://github.com/ansible-collections/community.general.

Please take a look at ovirt inventory_plugin in ovirt collection https://github.com/ovirt/ovirt-ansible-collection.

[2020-04-08 13:21] mnecas commented on #53002
close_me

[2020-04-08 13:22] mnecas commented on #53379
Hi @FloThinksPi, do you still have this issue? Asking if I should close or migrate the issue, thanks!

[2020-04-08 13:23] mnecas commented on #54718
Hi @agoeblitsv, do you still have this issue? Asking if I should migrate or close the issue, thanks!

[2020-04-08 13:23] #53002 closed, assigned to nobody

[2020-04-08 13:24] #34154 closed, assigned to nobody

[2020-04-08 13:24] #33852 closed, assigned to nobody

[2020-04-08 13:29] mnecas commented on #64952
Hi, the pip installation is not officially supported.
If you will have the issue again please create an issue on ovirt collection https://github.com/ovirt/ovirt-ansible-collection.

[2020-04-08 13:29] mnecas commented on #64952
close_me

[2020-04-08 13:31] craph commented on #68248
Hello,

Do you have any news on this request ?

Thank you very much.

[2020-04-08 13:32] #64952 closed, assigned to nobody

[2020-04-08 13:58] FragmentedPacket commented on #59725
I added an issue to the Github for it to add documentation.

It should be the same as current plugin in Ansible core, but you change the plugin to `netbox.netbox.nb_inventory` once you have installed the collection.

[2020-04-08 13:59] sivel commented on #68772
Thank you very much for your interest in Ansible. This module was recently removed from this repository and migrated to https://github.com/ansible-collections/community.general where it is now maintained.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-04-08 13:59] #68772 closed, assigned to nobody

[2020-04-08 14:14] dpower1985 commented on #68705
Hm, yes if I set up the following in my inventory,

ansible_user=myuser
ansible_passowrd=mypassword
ansible_connection=ssh
ansible_shell_type=cmd

And then install OpenSSH on the server and add a Firewall rule, I can make a connection directly from Ansible.

If I run the same in Packer however, with the exact same credentials, then it fails with an Access Denied error. It shows me the correct user

[2020-04-08 14:34] FloThinksPi commented on #53379
Hey @mnecas i switched companies and do not use Ansible anymore.  I doubt this is fixed but one could find out with above example.

[2020-04-08 14:45] Joaobeca commented on #67314
I'm also very interested on this topic.

[2020-04-08 14:45] mnecas commented on #53379
Okay, thanks for the info.

[2020-04-08 14:46] sivel commented on #68769
cc @Qalthos

!component =lib/ansible/executor/task_executor.py

[2020-04-08 15:36] nmr opened #68775 "The user module cannot set password expiration"
##### SUMMARY
Hi,

I would like to change the 'Password expires:' value ( like chage -M -1 username )  when creating a user. Is it possible to add a new parameter for example password_expire_max and password_expire_min where this value could be set?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
user_module - https://docs.ansible.com/ansible/latest/modules/user_module.html

[2020-04-08 15:42] jean-christophe-manciot opened #68776 "netconf ansible_connection does not use ansible_private_key_file"
##### SUMMARY
When using the ```netconf``` connection type, ansible tries to connect with the user's private key(s) even when ```ansible_private_key_file``` is set to another specific file.
No such issue when using the ```network_cli``` connection type with ```ansible_ssh_private_key_file```.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netconf

##### ANSIBLE VERSION
[code]

##### CONFIGUR

[2020-04-08 15:46] javcasalc commented on #68510
Hi

is there any test I can do  to help debugging this issue??

J.

[2020-04-08 16:11] pabelanger commented on #65920
https://github.com/ansible-network/releases/blob/master/ansible_releases/cmd/generate_ansible_collection.py is an example of our release scripts. We store a galaxy.yml file in tree, but not include a version key.  We then use pbr, to generate a semver via git information (tag or sha1) just prior to us running ansible-galaxy build collection

[2020-04-08 16:19] brilong opened #68777 "win_lineinfile unable to read file in use by another process"
##### SUMMARY
Using win_lineinfile to search for a string in a logfile when that logfile is being actively written to by another process is not possible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect win_lineinfile wit

[2020-04-08 16:36] #68181 closed, assigned to sivel

[2020-04-08 17:02] #66728 closed, assigned to nobody

[2020-04-08 17:13] gustavomcarmo opened #68778 "gitlab_group module ignores group description on group creation"
##### SUMMARY
The gitlab_group module ignores the description parameter for creating the group in GitLab. However, the description parameter is considered for updating the group. The module has to be executed twice in order to have the group properly created.

[See the code.](https://github.com/ansible/ansible/blob/9e3ccd64b6a233390cd70c314193b6ba1aacfe21/lib/ansible/modules/source_control/gitlab_

[2020-04-08 17:33] Shrews commented on #68615
I am unable to reproduce this behavior with 2.9.6 and an expected role setup.

Is it possible you have your "vars_from" files outside of the "deploy" role directory? That variable is used to load vars files from within the role directory (and thus you wouldn't need to prefix with the leading 'vars/' path). In my test scenario, I can reproduce the error message you see if I move the role "vars" dir

[2020-04-08 17:49] sprive commented on #48786
I don't think this is an Ansible issue, but it is an issue which affects Ansible users.  The problem actually seems to be in some service and systemd scripts where those scripts return, before the service is fully running and ready to respond to further actions.

I can reliably reproduce this with Ansible 2.8.5, Vagrant (ubuntu/xenial64), and the following play:
[code]

*Steps:*
1. run `vagrant up

[2020-04-08 18:27] samcarpentier commented on #56512
Unfortunately, it would seem that the Python library for Consul isn't supporting the new ACL model either. I found this issue, opened since 2018...

https://github.com/cablehead/python-consul/issues/241

[2020-04-08 18:28] #67793 closed, assigned to bcoca

[2020-04-08 19:21] jborean93 commented on #68777
This isn't actually possible as `ReadAllLines()` will already open the file in read only mode if it's possible. The trouble is that the process that is writing to the log file hasn't set the `Read` FileShare value so no other process can even open the file for reading. Without this `FileShare` entry nothing is able to read from the file until that main process has closed it's handle. You can even

[2020-04-08 19:21] #68777 closed, assigned to nobody

[2020-04-08 19:24] brilong commented on #68777
That was sure a quick close of the issue :)  By the way, I was able to workaround this problem using the following PowerShell code:
[code]
PowerShell's Get-Content cmdlet is able to read the file even though it's being written to by the ccmsetup executable.

[2020-04-08 19:28] jborean93 commented on #68777
Don't see how that's possible unless you are finding a gap when the original file handle is no longer open with your retry operation. `Get-Content` will suffer from the same problem as `ReadAllLines()` if the original handle to the file does not allow other processes to read from it with the `[IO.FileShare]::Read` enum.

[2020-04-08 19:28] sivel commented on #68778
The `gitlab_group` module has recently been migrated to a new repository where it is now maintained:

https://github.com/ansible-collections/community.general

Please open any new issues for this module at the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/an

[2020-04-08 19:28] #68778 closed, assigned to nobody

[2020-04-08 19:55] jborean93 commented on #68705
Based on your error message that is to be expected. You can still continue to use `ansible_shell_type=powershell` but that requires you to set the default shell for OpenSSH on the Windows side to use PowerShell and not cmd (the default).

Honestly I'm not sure why and personally I don't really want to figure out why. Every release seems to be break the Packer set up due to how their connection mod

[2020-04-08 19:55] #68705 closed, assigned to jborean93

[2020-04-08 20:20] jborean93 commented on #68771
This would also be the same with `win_uri` and we can probably update the [url_windows.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/doc_fragments/url_windows.py) doc fragment so both are updated at the same time. Unfortunately it doesn't look like it is realistically possible to implement this in .NET to support redirection of the `Authorization` header without implementin

[2020-04-08 20:24] sivel commented on #68776
The `netconf` connection plugin has recently been migrated to https://github.com/ansible-collections/netcommon

Please open new issues for this plugin at the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-04-08 20:24] #68776 closed, assigned to nobody

[2020-04-08 20:52] rbobrowicz commented on #31999
@schrodervictor I made a PR of a cleaned up module I wrote to do this a while back, you can check the ansible-collections/community.aws repo.

[2020-04-08 21:00] mattclay opened #68783 "Update openSUSE containers to version 15.1"
##### SUMMARY

Update the openSUSE test containers to ones based on openSUSE 15.1.

openSUSE 15.1 was released on May 22, 2019.
openSUSE 15.0 reached end-of-life on December 3rd, 2019.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

test/lib/ansible_test/_data/completion/docker.txt

[2020-04-08 21:03] mattclay opened #68784 "Update openSUSE containers to version 15.2"
##### SUMMARY

Update the openSUSE test containers to ones based on openSUSE 15.2.

openSUSE 15.2 is expected to be released on May 7, 2020.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

test/lib/ansible_test/_data/completion/docker.txt

[2020-04-08 21:46] mattclay commented on #68783
Lets keep this open until all of the changes to the necessary ansible/ansible branches have been merged.

[2020-04-08 23:46] alephgamma opened #68790 "ec2_elb_lb - The error was: AttributeError: 'int' object has no attribute 'upper'"
##### SUMMARY

I attempted to use Ansible ec2_elb_lb module and got the following error message:

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: AttributeError: 'int' object has no attribute 'upper'
... more red followed...

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_elb_lb

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2020-04-09 00:51] markeriv opened #68792 "l3_interfaces of junos_facts gather_network_resources returns error"
##### SUMMARY

           - l3_interfaces submodule of  junos_facts: gather_network_resources: throws a AttributeError: 'NoneType' object has no attribute 'text' error.

These submodules of junos_facts work just fine in the same playbook:
      junos_facts:
        gather_network_resources:
          - interfaces
          - l2_interfaces
          - lag_interfaces

##### ISSUE TYPE
- Bug Report

[2020-04-09 01:10] aciguru commented on #66360
Issue moved to

https://github.com/CiscoDevNet/ansible-mso/issues/2

[2020-04-09 01:13] aciguru commented on #66359
Issue moved to

https://github.com/CiscoDevNet/ansible-mso/issues/3

[2020-04-09 01:16] aciguru commented on #65824
Issue moved to

https://github.com/CiscoDevNet/ansible-aci/issues/9

[2020-04-09 01:19] briantist commented on #31030
@jborean93 I've got another instance of `async_status` giving me a similar error.

This time happens to be using `win_iis_webapppool`:
[code]
[code]
Stacktrace:
[code]

It doesn't do this on every machine, but it seems (at least for the moment) to be repeatable on a pair of machines. This particular process actually does a sort of failover so each time it runs the "source" machine is shut down and

[2020-04-09 01:27] aciguru commented on #64737
Moved to

https://github.com/CiscoDevNet/ansible-mso/issues/5

[2020-04-09 02:27] edgewood opened #68795 "known_hosts changes permissions on file when removing a named host"
##### SUMMARY
After using known_hosts to remove a key from /etc/ssh/ssh_known_hosts, I was unable to ssh without being prompted about the authenticity of the destination host, when I knew it was listed.  Investigation showed that known_hosts changed the permissions of that file from 644 to 600.

It appears that the issue is due to the use of ssh-keygen to remove the entry.  I've opened a bug there

[2020-04-09 02:38] alxlcr commented on #65611
RE: "Windows.iso will not automatically boot from the DVD unless you press enter" - you need to use the no prompt file from here: efi/microsoft/boot/efisys_noprompt.bin
This is working on 2012 and 2016 images, but the no prompt boot file should be available on the Windows 10 ISO too.

[2020-04-09 02:55] maxamillion commented on #66854
@alxndr13 if I understand the context correctly I still don't believe that to be an example of a bug against the Ansible `yum` module, that task is explicitly calling `dnf` against what has been reported as a RHEL7 system which is not supported.

[2020-04-09 04:03] Ahmed-Hussein-Karam opened #68797 "Add an option to skip execution of rescue part"
##### SUMMARY

When running an Ansible playbook, it might be interesting to skip the execution of all rescue tasks (for all `block - rescue` statements) across the playbook .

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible-playbook

##### ADDITIONAL INFORMATION

To achieve this, we can add an additional option `--no-rescue` to the `ansible-playbook` command. The below example illus

[2020-04-09 05:24] smacz42 opened #68803 "docker_compose creates mariadb container without a root password"
##### SUMMARY

When using `docker_compose` module building `mariadb:10.4`, the database password is not set. However, executing docker-compose from the CLI creates a container that sets the database password.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`docker_compose`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Source OS: Ubuntu 16.04 LTS
Source

[2020-04-09 05:26] smacz42 commented on #68803
Bug report filed in MariaDB JIRA: https://jira.mariadb.org/browse/MDEV-22201

[2020-04-09 05:33] #59317 closed, assigned to relrod

[2020-04-09 06:20] felixfontein commented on #68783
@mattclay what exactly needs to be merged to the branches (and thus also to community.general)? Is it #68785 resp. ansible/ansible#68788 (and related backports)?

[2020-04-09 06:44] yurtesen commented on #68739
@ansibot ansible version 2.9.6
That is the version I use right now.

[2020-04-09 07:37] mattclay commented on #68783
Updates have been merged:

* devel - https://github.com/ansible/ansible/pull/68785
* stable-2.9 - https://github.com/ansible/ansible/pull/68788
* stable-2.8 - https://github.com/ansible/ansible/pull/68794
* stable-2.7 - https://github.com/ansible/ansible/pull/68801

[2020-04-09 07:40] mattclay commented on #68783
@felixfontein The fixes have been merged to the ansible/ansible branches. The `community.general` collection will most likely require the addition of the following task to `setup_mysql` in addition to using a fixed version of ansible-test:

https://github.com/relrod/ansible/blob/d2239d9ca2735644a6c4af3264958e199bd1d9e9/test/integration/targets/incidental_setup_mysql_db/tasks/main.yml#L66-L71

[2020-04-09 07:40] #68783 closed, assigned to relrod

[2020-04-09 07:41] jean-christophe-manciot commented on #68776
@sivel
I have reopened this issue [here](https://github.com/ansible-collections/ansible.netcommon/issues/15)
.
There are remaining open issues that need to be moved to the appropriate collection: is there a bot command or other process to move the entire threads instead of recreating each issue and losing the old comments?

[2020-04-09 07:41] Altiire commented on #68615
Hi,

Sorry for the delay.

I have to rework the repository to follow the recommendation, currently my playbook is like this:

[code]

I think the main problem is that my vars file are not in the role directory. I can provide more information but I don't think it will be important

[2020-04-09 08:30] gustavomcarmo commented on #68778
Done https://github.com/ansible-collections/community.general/issues/138

[2020-04-09 08:34] relrod commented on #68783
@felixfontein In addition to what @mattclay said, it also needs a fix to the zypper tests. I've sent a PR for these since I already had the patches handy.

[2020-04-09 08:42] Maarc-D commented on #68628
Hello,
If I understood well managed by collections now so I created : https://github.com/ansible-collections/azure/issues/91
Regards Marc.

[2020-04-09 09:13] hswong3i commented on #65920
I just make it simple once Travis CI build plan successful (https://github.com/alvistack/ansible-collection-kubernetes/blob/9a8e6a4ff17d055a00b13e7679cf47018e7642e7/.travis.yml#L56-L62):
[code]

[2020-04-09 10:13] ultral opened #68808 "VMware: vmware_content_deploy_template use resourcepool_id for cluster_id"
##### SUMMARY
I'm trying to create a VM from the template from the content library. but it fails with the error `id='com.vmware.vdcs.core-services-helper.invalid_cluster_id_format', default_message='The provided cluster ID resgroup-478:3919714f-4f54-4fbe-8086-e09eef3cef3a is invalid.'`

it's happening because there is the error in the `ansible/module_utils/vmware_rest_client.py`:
[code]
instead of

[2020-04-09 10:14] greenspartan opened #68809 "SSL issue running fortios_firewall_adress"
**ISSUE TYPE**

Hello,

Using Ansible via Tower, we are not able to create an object on Fortigate 240D firewall using  fortios_firewall_adress module.
Playbook ends each time with same error (see below).

**COMPONENT NAME**
Ansible: 2.9.6
Python 3.6
FortiosAPI: 1.0.1
Ansible module : fortios_firewall_adress
Fortigate firewall is 240D running on 6.0.6

##### ANSIBLE VERSION
[code]

##### OS / ENVIR

[2020-04-09 10:14] sstoner opened #68810 "why can't the private address convert to a 6to4 address?"
##### SUMMARY
https://github.com/ansible/ansible/blob/9e3ccd64b6a233390cd70c314193b6ba1aacfe21/lib/ansible/plugins/filter/ipaddr.py#L61-L73

Here, we can only convert public address to 6to4 address. But why do we this? The private address is eligible to get a 6to4 address. When we use 6to4 on the private Internet, we need it.

The `6to4` wikipedia describes the reserved IPv4 address as follow:

##

[2020-04-09 10:22] ultral commented on #68808
relates https://github.com/ansible/ansible/pull/65715

[2020-04-09 12:03] Andersson007 commented on #26581
hey, folks!
Who are interested in a new parameter for this, i've implemented it via https://github.com/ansible-collections/community.general/pull/142
Would be nice to get a couple of reviews

[2020-04-09 12:07] ganeshgk opened #68812 "Ansible blockinfile module for Windows"
##### SUMMARY
Really would like the blockinfile alternative for  windows, it would be really helpful
to update blocks of texts,

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Blockinfile alternative for WIndows, to help Insert/Update/Remove
block of text in files on Windows host.
##### ADDITIONAL INFORMATION
Need a module similar to blockinfile for Linux also for Windows.
WIndows now only

[2020-04-09 12:20] alandsidel opened #68813 "Make "world writable" security check for autoloading ansible.cfg less lazy"
##### SUMMARY
Being in a world writable directory does not itself constitute a security risk.  The permissions and ownership of the file itself as well as the current user matter.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

improved-security-check

##### ADDITIONAL INFORMATION

The documentation states "If Ansible were to load ansible.cfg from a world-writable current working directory

[2020-04-09 12:24] kbreit commented on #65738
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:27] kbreit commented on #63012
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:27] kbreit commented on #57233
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:27] #57233 closed, assigned to nobody

[2020-04-09 12:28] kbreit commented on #56628
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:28] #56628 closed, assigned to nobody

[2020-04-09 12:28] kbreit commented on #56623
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:28] #56623 closed, assigned to nobody

[2020-04-09 12:28] kbreit commented on #56622
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:28] #56622 closed, assigned to nobody

[2020-04-09 12:28] kbreit commented on #56621
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:28] #56621 closed, assigned to nobody

[2020-04-09 12:28] kbreit commented on #55998
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:28] #55998 closed, assigned to nobody

[2020-04-09 12:28] kbreit commented on #55996
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:28] #55996 closed, assigned to nobody

[2020-04-09 12:28] kbreit commented on #55642
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:28] kbreit commented on #55627
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:28] #55627 closed, assigned to nobody

[2020-04-09 12:28] kbreit commented on #54378
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:28] #54378 closed, assigned to nobody

[2020-04-09 12:28] kbreit commented on #54279
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:28] #54279 closed, assigned to nobody

[2020-04-09 12:29] kbreit commented on #54062
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:29] #54062 closed, assigned to nobody

[2020-04-09 12:29] kbreit commented on #53597
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:29] #53597 closed, assigned to nobody

[2020-04-09 12:29] kbreit commented on #51101
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:29] #51101 closed, assigned to nobody

[2020-04-09 12:29] kbreit commented on #51026
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:29] #51026 closed, assigned to nobody

[2020-04-09 12:29] kbreit commented on #48615
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:29] #48615 closed, assigned to nobody

[2020-04-09 12:29] kbreit commented on #42839
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:29] #42839 closed, assigned to nobody

[2020-04-09 12:29] kbreit commented on #42390
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:29] #42390 closed, assigned to nobody

[2020-04-09 12:29] kbreit commented on #41573
This has moved to the collections and will be fixed these, if it hasn't been already. Please use the collection available at https://galaxy.ansible.com/cisco/meraki and submit issues at https://github.com/CiscoDevNet/ansible-meraki. Thank you.

[2020-04-09 12:40] gefela opened #68814 "File not found error when running playbook"
I am trying to run this playbook and it is giving me this error ..

root@gefela ansible_junos]# ansible-playbook -i inventory junos_config.yml --check -vvvv
ansible-playbook 2.8.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3.6/site-packages/ansi

[2020-04-09 12:43] Akasurde commented on #68808
Issue migrated to https://github.com/ansible-collections/vmware/issues/106

[2020-04-09 12:43] #68808 closed, assigned to nobody

[2020-04-09 12:44] jbguerraz commented on #47023
Facing same issue here.

[2020-04-09 13:01] W73 commented on #68547
Have similar behavior on recreating DeploymentConfig
[code]
when
[code]

[2020-04-09 13:16] alandsidel commented on #49254
I'm with @jfoliveira

Ansible 2.9.6 on Ubuntu 18.04.4 LTS, and adding `host_key_checking = False` in the `[defaults]` section of ansible.cfg simply doesn't work, unlike those using an earlier version of ansible.  Setting the environment var via `ANSIBLE_HOST_KEY_CHECKING=False` before the command also does not work.  This system is fully updated and is using OpenSSH_7.6p1, sshpass 1.06.

[2020-04-09 13:20] jearls commented on #40565
Please address this to prevent other people from having to go through the frustration of having to ask google, then find a closed issue tracking ticket and read through to the end to discover that, yes indeed, you *can* listen to a list of topics.

[2020-04-09 13:21] Aglidic opened #68816 "vmware_dvswitch_lacp: not supported between instances of 'str' and 'int'"
SUMMARY

Module vmware_dvswitch_lacp failed

ISSUE TYPE

    Bug

COMPONENT NAME

vmware_dvswitch_lacp

ANSIBLE VERSION
2.9.5

Here is my role:
- name: Enable lacp
  vmware_dvswitch_lacp:
    hostname: '{{ vcenter_hostname }}'
    username: '{{ vcenter_username }}'
    password: '{{ vcenter_password }}'
    switch: '{{ item.0.name }}'
    support_mode: enhanced
    validate_certs: 'no'
    link_ag

[2020-04-09 14:22] rdzielicki commented on #68809
Component is FortiosAPI: 1.0.1

[2020-04-09 14:39] sivel commented on #68615
Ok, so you are trying to use `vars_from` to load vars that are outside the scope of the role, which is not a supported configuration.  You would need to move those `vars` inside of the role.

[2020-04-09 14:43] adduc commented on #67473
I am experiencing this error message in a Ubuntu 20.04 docker image (ships with Python 3.8).

[2020-04-09 14:45] sivel commented on #68810
Thank you very much for your interest in Ansible. As of March 23 this plugin has been migrated to https://github.com/ansible-collections/netcommon

Please re-file this issue at the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-04-09 14:45] #68810 closed, assigned to nobody

[2020-04-09 14:45] Altiire commented on #68615
That's what I thought by seeing your examples...

Can you update the documentation so it is more explicit ?

Thank you very much !

[2020-04-09 14:50] sivel commented on #68814
This issue appears to be with the `netconf` connection plugin or one of its dependencies.

The netconf plugin has been removed from this repository and migrated to https://github.com/ansible-collections/netcommon

Please refile this issue at the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https:

[2020-04-09 14:50] #68814 closed, assigned to nobody

[2020-04-09 14:52] sivel commented on #68615
I believe the documentation is already explicit for `vars_from`:

Ref: https://docs.ansible.com/ansible/latest/modules/include_role_module.html#parameter-vars_from

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-04-09 14:52] #68615 closed, assigned to nobody

[2020-04-09 14:58] sivel commented on #68775
Does the `expires` option of the `user` module not meet your needs?

[2020-04-09 15:03] Aracki commented on #45774
The @Jahsis solution works, but I prefer just exporting the token variable before running the script.
[code]
Less chance to accidentally push token to git.

[2020-04-09 15:46] #68771 closed, assigned to nobody

[2020-04-09 15:57] amleshkov opened #68817 "Package module pass list of packages to apt_rpm that is converted to string as is and not supported"
##### SUMMARY

apt_rpm does not support install packages provided as list, only as comma delimited string. So package module does not work with apt_rpm
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt_rpm.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Use simple playbook that install list of packages on Altlinux

[code]

###

[2020-04-09 15:58] Akasurde commented on #65220
resolved_by_pr https://github.com/containers/ansible-podman-collections/pull/19

[2020-04-09 16:05] sivel commented on #68817
Thank you very much for your interest in Ansible. This module is no longer maintained in this repository and has been moved to https://github.com/ansible-collections/community.general

Please re-file this issue at the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!

[2020-04-09 16:05] #68817 closed, assigned to nobody

[2020-04-09 16:13] anshulbehl opened #68819 "sanity test with docker exiting abruptly if tests dir is not present in collections"
##### SUMMARY

tar: /home/abehl/.ansible/collections/ansible_collections/opensvc/cluster/tests: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
ERROR: Command "tar oxzf /tmp/ansible-result-YfvJZN.tgz -C /home/abehl/.ansible/collections/ansible_collections/opensvc/cluster/tests" returned exit status 2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-t

[2020-04-09 16:14] anshulbehl commented on #68819
@mattclay @JohnLieske

[2020-04-09 16:32] dnmvisser opened #68820 "label not displayed for included files when looping over include_tasks"
##### SUMMARY
When looping over include_tasks, ansible correctly prints out labels for skipped files, but not for included files.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
unsure

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

```Darwin NUC8i5BEK.local 19.3.0 Darwin Kernel Version 19.3.0: Thu Jan  9 20:58:23 PST 2020; root:xnu-6153.81.5~1/RELEASE_X86

[2020-04-09 16:33] Andersson007 commented on #26581
if the changes are ok, please put shipit in the PR

[2020-04-09 16:41] sivel commented on #68820
Duplicate of https://github.com/ansible/ansible/issues/65904

[2020-04-09 16:41] #68820 closed, assigned to nobody

[2020-04-09 18:20] sivel commented on #68763
After reviewing the change, we believe this to be a correct change. However, since you are seeing a performance degradation, I'm going to assume that you have some variable assigned to a `lookup`, that is being repeatedly re-evaluated now.

Can you confirm whether this is the case, and how that variable is being used in these templates?

In order to more effectively help you, we ultimately need a

[2020-04-09 18:28] #65904 closed, assigned to nobody

[2020-04-09 18:45] nmr commented on #68775
The expire option changes the 'Account expires' parameter, not 'Password expires'. I'd like to disable maximum number of days between changes the password for system accounts or user with ssh keys. Currently is not possible with right way. Currently, this is not possible with one task while I create a user.

I think that operations on the shadow file should be the basic function of user_module. At

[2020-04-09 19:01] sivel commented on #68763
needs_info

[2020-04-09 19:10] sivel commented on #68464
Thank you very much for your interest in Ansible. As of March 23 this module is no longer maintained in this repository, and has been migrated to https://github.com/ansible-collections/ansible.posix

Please refile this and any new issues for this module in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * maili

[2020-04-09 19:10] #68464 closed, assigned to nobody

[2020-04-09 19:11] sivel commented on #68509
Thank you very much for your interest in Ansible. As of March 23 this module is no longer maintained in this repository, and has been migrated to https://github.com/ansible-collections/ansible.posix

Please refile this and any new issues for this module in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * maili

[2020-04-09 19:11] #68509 closed, assigned to nobody

[2020-04-09 19:46] sivel commented on #67718
The problem here, is ultimately what "duplicates" means in this context.  Duplicates means in this context, to allow a single instance of  a role to be executed multiple times. It does not allow the role to be loaded multiple times as copies.

When that single role gets loaded the first time, it has the context of the first invocation.  When it is loaded the second time, it's actually that initial

[2020-04-09 20:26] Aglidic opened #68824 "vmware_dvswitch_lacp, map vmnic to lag"
SUMMARY

Really would like to be able to map vmnic to lag memeber during creation of dvswitch.

ISSUE TYPE

    Feature Idea

COMPONENT NAME

vmware_dvswitch_lacp

ADDITIONAL INFORMATION

If we enable the enhanced vmotion and create a lag we have no possibility to map our vmnic to this lag so we need to do it manually. Would be helpful to add option in the module for that

[2020-04-09 20:33] Shrews commented on #68364
I've been able to confirm this issue. It seems when the extract filter is run for the map() call within the groups_vars file, the 'hostvars' value is 'AnsibleUndefined'. If I put the same variable value within the playbook, it works as expected since hostvars has a value.

test.yml

[code]

group_vars/test_group.yml

[code]

hosts.yml

[code]

ansible-playbook test.yml -i ./hosts.yaml

[code]

[2020-04-09 21:50] ahmedelgabri opened #68827 "yarn module throws an error when running with `--check` flag"
##### SUMMARY
yarn module throws `ValueError: need more than 0 values to unpack` when I run `ansible-playbook` with `--check` flag.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`yarn`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS 10.15.4

##### STEPS TO REPRODUCE

I was trying to run this example from the documentation https://docs.ansible.com/a

[2020-04-09 22:03] mattclay commented on #68819
I've confirmed this. The issue occurs with `--docker` when `ansible-test` attempts to download test results from the container and there isn't an existing `tests` directory. I'm working on a fix.

[2020-04-09 22:22] nitzmahone commented on #68701
I have a pretty good idea what's actually causing this, and of course it's in the gnarliest bit of code around the module_utils analysis/resolution, where touching anything breaks 5 other things.

The *intent* is that actual module/module_utils code will never be executed by the controller during the process of analyzing/assembling a module, but this is not enforced by the loader itself, as it's n

[2020-04-09 23:53] roxyland opened #68830 "aix_lvg returns OK even when the task has failed"
**SUMMARY**

aix_lvg(aix_lvg.py) returns OK even when the task has failed.
In this case the command has failed because the disk was previously part of another VG and AIX will not create the VG unless it is forced.

**ISSUE TYPE**

- Bug Report

**COMPONENT NAME**

aix_lvg

**ANSIBLE VERSION**
[code]

**OS/ ENVIRONMENT**

Target: AIX 7.2 LPAR

**STEPS TO REPRODUCE**

Use a disk(pp) that was previou

[2020-04-10 00:50] mattclay opened #68834 "Disabled integration test azure_rm_cosmosdbaccount"
##### SUMMARY

The `azure_rm_cosmosdbaccount` integration tests have been disabled in the supported stable branches because the tests are failing:

* stable-2.9: https://github.com/ansible/ansible/pull/68831
* stable-2.8: https://github.com/ansible/ansible/pull/68832

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_cosmosdbaccount integration test

##### ANSIBLE VERSION

stable-2.9
st

[2020-04-10 00:56] abdennour opened #68835 "public key generated by openssh_keypair module cannot be copied by authorized_key module"
##### SUMMARY
The input of authorized_key module (key param) is the output of the openssh_keypair module (key.pub).
authorized_key does not accept the key throwing the error "invalid key specified"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

**modules**
- openssh_keypair
- authorized_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS High Sierr

[2020-04-10 00:56] nhooey opened #68836 "The `sequence` documentation is missing clear examples"
##### SUMMARY
The [`with_sequence` documentation](https://docs.ansible.com/ansible/latest/plugins/lookup/sequence.html) does not have enough examples to clarify.

The "Edit on GitHub" link is also broken, so it's hard to fix.

1. How to use non-inline variables:
How do you write this:
[code]

Like this?:
[code]
(The second example doesn't actually work. What is the correct syntax without using one

[2020-04-10 01:12] #68819 closed, assigned to mattclay

[2020-04-10 01:12] mattclay commented on #68819
The fix has been merged.

[2020-04-10 03:15] relrod commented on #65858
@WilliamDEdwards I spent some time trying to reproduce this tonight and I can't reproduce this on 2.9 or devel, can you confirm and re-open if it's still something you're seeing?

needs_info

[2020-04-10 03:15] #65858 closed, assigned to nobody

[2020-04-10 06:03] Fred-sun commented on #68291
@VKAlwaysWin It has been PR https://github.com/ansible-collections/azure/pull/79 repair, you can use the following YAML complete validation. Thank you very much!
[code]

[2020-04-10 07:01] mvernimmen commented on #19814
A reboot worked around this problem for me with ansible 2.9.1 on CentOS Linux release 7.7.1908 (Core) with kernel 3.10.0-1062.4.3.el7.x86_64

[2020-04-10 07:14] kenyon commented on #68763
I'm only using `lookup` as in `somevar: '{{ lookup("vars", ...) }}'`, and only in two places out of thousands of lines, and the performance is degraded even when templating files that don't include those `lookup` calls, so those aren't the problem (not sure if that's what you meant by "some variable assigned to a `lookup`").

I'll try to come up with a minimal reproducer soon.

[2020-04-10 09:32] bmalynovytch commented on #20196
No need to use a symlink, just defining `ansible_python_interpreter` should suffice
See https://docs.ansible.com/ansible/latest/reference_appendices/interpreter_discovery.html

[2020-04-10 09:36] Andersson007 commented on #41748
close_me

[2020-04-10 09:36] Andersson007 commented on #41748
fixed by #67747

[2020-04-10 09:37] #41748 closed, assigned to nobody

[2020-04-10 09:48] Andersson007 commented on #47051
close_me

[2020-04-10 09:48] Andersson007 commented on #47051
moved to https://github.com/ansible-collections/community.general/issues/148

[2020-04-10 09:54] #47051 closed, assigned to nobody

[2020-04-10 09:57] Andersson007 commented on #65543
close_me

[2020-04-10 09:58] Andersson007 commented on #65543
moved to https://github.com/ansible-collections/community.general/issues/149

[2020-04-10 09:58] Andersson007 commented on #65543
so, we can continue to work on this there. I've pinged the pr's author too

[2020-04-10 10:02] #65543 closed, assigned to nobody

[2020-04-10 10:06] dpower1985 commented on #68705
Hm, still getting some strange behaviour when trying to invoke ansible directly in packer using a call like this,
[code]

When run via packer I get this error,
[code]

However if I attempt an ansible win_ping to the server it works perfectly fine.
[code]

The playbook I'm invoking via packer,
[code]

My `/etc/ansible/hosts` file when I run the win_ping,
[code]

The only difference is that when I'm

[2020-04-10 11:01] Andersson007 commented on #20196
@bmalynovytch cool, thanks for the tip!

[2020-04-10 11:17] diamondo25 opened #68841 "wait_for_connection connect_timeout is not used, when using 'ping' (default) method"
##### SUMMARY

The wait_for_connection does not use the connect_timeout field, because the underlying 'ping' method doesn't use it. Maybe it's an option to implement the connect_timeout inside the ping method, and start using that too.

https://github.com/ansible/ansible/blob/bf3cd041e7175dc3afe51ad5cd705ab6a443a988/lib/ansible/plugins/action/wait_for_connection.py#L79-L99

##### ISSUE TYPE
- Bug

[2020-04-10 11:32] Cartman34 opened #68842 "Template - Generate or Remove File"
##### SUMMARY
Template module is able to generate a new file from a template. But we can not revert this creation without coding another task.
We should be able to revert all task using this task.
An example to explain why, on DEV server or UAT server, I want this file to help me to debug my application but on my production server, this file is a security breach, if it was previously generated, I

[2020-04-10 11:48] Tronde commented on #20196
Hi, due to #67083 I'm not able to check with python3.

[2020-04-10 11:59] Andersson007 commented on #20196
@Tronde maybe to clone the vm and install python3 manually?

if it's impossible, can anybody else try to reproduce the bug using python3 forcibly as @bmalynovytch described above?

[2020-04-10 12:26] tristan-ovh opened #68843 "get_url does not handle "206 Partial Content" correctly"
##### SUMMARY
When using get_url to download a big file, the task succeeds, but the file actually downloaded is truncated. Only a part has been saved.
If I download the file using wget, I get the entire file but I see one or more messages: "HTTP request sent, awaiting response... 206 Partial Content" during the download. wget handles them fine and resumes the download.

##### ISSUE TYPE
- Bug Repo

[2020-04-10 12:33] sakar97 commented on #67416
So I created GitLab instance in my computer and when I put my local instance URL to api_url then the module works fine. But when I try to put public GitLab URL which is gitlab.com then it shows an error.

[2020-04-10 14:50] apatard opened #68844 "can't import_playbook a playbook from a collection"
##### SUMMARY

I wanted to understand how playbooks in collections are used, so I've created a collection with a playbook and tried to use it with ``import_playbook`` and failed. Please note that this is also a documentation issue I guess, since there's no documentation about the playbooks/ directory.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
import_playbook

##### ANSIBLE VERSION

[cod

[2020-04-10 15:24] #68121 closed, assigned to nobody

[2020-04-10 15:32] mtyb commented on #22737
I have the same problem on Ansible 2.9.6. If "ansible_user" or "ansible_password" are defined in Windows machines vault.yml file it always fails with error - variable is not defined.

[2020-04-10 17:17] #67417 closed, assigned to nobody

[2020-04-10 17:18] #55408 closed, assigned to nobody

[2020-04-10 19:41] oucil commented on #44128
Encountering the same unexpected behaviour, and I say unexpected because as others have noted, the language describing `until` is ambiguous at best, and if I run `dig` from the command line manually at the same time I'm waiting for the loop condition to be met, the local result is updated, while the loop condition is never met.  @ericzolf illustrated the inconsistency perfectly above... you get di

[2020-04-10 20:04] sivel commented on #68844
Playbooks in collections have no special handling. To use them would require users to use the full path to the playbook file or cd into the playbooks directory of the collection to execute them.

We may introduce some special functionality for them at a later date: https://github.com/ansible/ansible/pull/67435

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible o

[2020-04-10 20:04] #68844 closed, assigned to nobody

[2020-04-10 20:08] sivel commented on #68842
Thank you very much for your interest in Ansible. At this time we have no plans to add such a feature. As you have detailed, using 2 tasks, one to add the template on dev and another using file to ensure the file does not exist in production.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-04-10 20:08] #68842 closed, assigned to nobody

[2020-04-10 20:14] Tronde commented on #20196
@Andersson007 I won't install python3 manually. But I tried something else.

As we know from my [test scenario](https://github.com/ansible/ansible/issues/20196#issuecomment-600289539) the deployment on debian buster was successful. Debian 10 is shipped with python2 and python3. When @Andersson007 is right and the issue occurs only when using python2 I should be able to reproduce the issue after I'

[2020-04-10 22:36] spidermanir opened #68849 "Failed to connect to the host via ssh: Permission denied"
I have this error I use docker(centos) control node
and uses fedora for remote

[code]

[2020-04-10 23:04] erulabs opened #68851 "force_valid_group_names "ignore" has no effect on Ansible 2.9"
##### SUMMARY
Setting `force_valid_group_names = ignore` or `ANSIBLE_TRANSFORM_INVALID_GROUP_CHARS=ignore` should be enough to get Ansible to not mangle group names, but in Ansible 2.9 it appears to have no effect, rendering that version of Ansible unusable. Reverting to 2.7.11 "resolves" the issue.

I tried:
`export ANSIBLE_TRANSFORM_INVALID_GROUP_CHARS=ignore`
`export TRANSFORM_INVALID_GROUP_CHA

[2020-04-10 23:16] JieX19 commented on #68809
Hi @greenspartan,

I tested the module with the same playbook as yours, it works well and configure the address successfully. Be sure to provide https / ssl_verify params.

FOS Version: 6.0.6

Playbook I used:

<img width="257" alt="address" src="https://user-images.githubusercontent.com/59745792/79028552-417ea480-7b45-11ea-82d3-685a22f9b4a5.PNG">

Results after running the playbook:

<img width="

[2020-04-11 03:47] ganeshrn commented on #45602
@eleksis Please raise a feature request here https://github.com/ansible-collections/junipernetworks.junos/issues as all the content related to junos is moved into its own collection now

[2020-04-11 03:48] ganeshrn commented on #45602
Closing the issue as the original problem reported is fixed,

[2020-04-11 03:48] #45602 closed, assigned to ganeshrn

[2020-04-11 04:12] Zype76 commented on #68744
Hi there!

I'm a newbie when it comes to contributing, so please forgive me if I mess up.

It looks like the options in the documentation are in line with what's in the module's source.

Additionally, I'm unsure if the case for basic would matter since Ansible's ConfigParser converts option names to lower case.

Does the module link below match what you're currently using for your replication? If

[2020-04-11 07:39] felixfontein commented on #68803
You might want to check whether the `MYSQL_ROOT_PASSWORD` environment variable is set inside the container. Also, I hope the password you pasted here isn't something you use in production. If it is, **PLEASE CHANGE IT ASAP!**

[2020-04-11 07:45] felixfontein commented on #68642
This behavior is an unfortunate side-effect of the introduction of the `init` option to `docker_container` in Ansible 2.6. I've began a process of fixing this: Ansible 2.10 will have a new option `container_default_behavior` (https://docs.ansible.com/ansible/devel/modules/docker_container_module.html#parameter-container_default_behavior) which is currently set to `compatibility`, and will default

[2020-04-11 07:50] #68642 closed, assigned to nobody

[2020-04-11 07:51] felixfontein opened #68872 "Collection loader: importing from module_utils/foo/__init__.py does not work"
##### SUMMARY
During some refactoring I tried to rename `plugins/module_utils/crypto.py` to `plugins/module_utils/crypto/__init__.py` in community.crypto, assuming that this does not change behavior for any module using this module_utils. Unfortunately, that does not work: while `from ansible_collections.community.crypto.plugins.module_utils import crypto as crypto_utils` works fine, `from ansible

[2020-04-11 07:58] felixfontein commented on #68835
Please read the authorized_key documentation: https://docs.ansible.com/ansible/devel/modules/authorized_key_module.html#parameter-key

You pass a filename to `key`, while it expects the *content* of the key, or alternatively an URL. Use the `file` lookup plugin to read the key's content (see the examples: https://docs.ansible.com/ansible/devel/modules/authorized_key_module.html#examples).

notabug

[2020-04-11 08:06] #68835 closed, assigned to nobody

[2020-04-11 10:59] imjoseangel commented on #68851
Hi @erulabs , Thank you for reporting.

I'm doing some testing with the `force_valid_group_names` in 2.9 .

First of all, be aware that this parameter was added in [2.8](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#transform-invalid-group-chars) so it cannot be compared with version 2.7

I'm doing some tests with ansible 2.9.6

[code]
and I'm getting the following:

**D

[2020-04-11 11:00] relrod commented on #54743
Dupe of #54743

[2020-04-11 11:00] #54743 closed, assigned to nobody

[2020-04-11 11:28] imjoseangel commented on #68827
Hello @ahmedelgabri , Thanks for reporting

I think you have a mix of python versions working in your environment.

I have tested the example and getting a good output with the exact versions you are using. Could you please throw a -vvvv in your execution like:

[code]

I'm also using Cataline 10.15.4

[2020-04-11 12:00] ahmedelgabri commented on #68827
@imjoseangel here is the output after running it with `-vvvv`

[code]

[2020-04-11 12:10] imjoseangel commented on #68827
Could you share your playbook and `/Users/ahmed/.dotfiles/inventory` file?

Can you specify the following in your inventory?

[code]

Thanks!

[2020-04-11 12:29] ahmedelgabri commented on #68827
@imjoseangel here is what I'm working on (very WIP right now) https://github.com/ahmedelgabri/dotfiles/tree/ansible-yarn-issue what this [the role](https://github.com/ahmedelgabri/dotfiles/blob/fc18ad625a0123ccf2923a2f5d5abb17067ee498/roles/misc/tasks/main.yml) that errors out

I have also set [`ansible_python_interpreter`](https://github.com/ahmedelgabri/dotfiles/blob/fc18ad625a0123ccf2923a2f5d5a

[2020-04-11 12:49] Andersson007 commented on #20196
I can't reproduce with following

dump file 14MB bz2

Works:
[code]
Works:
[code]

Works:
[code]

but i know the solution. coming soon

[2020-04-11 13:12] imjoseangel commented on #68827
@ahmedelgabri Could you please test the misc role without the `--check` mode?

Thanks!

[2020-04-11 13:15] ahmedelgabri commented on #68827
@imjoseangel seems to be working fine, I wonder why does it fail with `--check` though? usually, I want to do a dry-run before I can actually apply a change

[2020-04-11 13:24] Andersson007 commented on #20196
https://github.com/ansible-collections/community.general/pull/151
could anybody please try to use that instead of their versions and confirm the bug disappeared ?

[2020-04-11 14:09] imjoseangel commented on #68827
I'm going to try to help finding where the issue is.

From my point of view, I think is good to change the Issue tittle for now.

Thank you!

[2020-04-11 14:29] frik4unix commented on #68744
Hi Zype,

yes, the documentation is in line with the module's source.
Of course the module's source is also wrong. I'm getting an error from
Azure when using "basic".
If i use "Basic" it's working fine. So boht (module and configuration)
are wrong.

Reinstall wouldn't help.

Am 11.04.20 um 06:12 schrieb Zype:

[2020-04-11 14:45] ericzolf commented on #44128
And a new parameter, e.g. `dynamic: true|false` could be introduced to the until construct, with a default value of false, in case backward compatibility is a concern.

[2020-04-11 14:59] jpmens commented on #44128
I doubt this is going to be addressed in Ansible < 2.10, and there it'll be a perfect candidate for a collection. Who is game to be the first to do one?

needs_contributor

[2020-04-11 15:00] alekgr commented on #68651
well I think the issue seems to be groups. It seems to be returning dict which when I try to access it through my lookup it fails

[2020-04-11 15:33] ericzolf commented on #44128
Why should this be a candidate for a collection? Isn't the `until` construct a core feature of Ansible?

[2020-04-11 17:24] imjoseangel commented on #68827
Found the bug. Dear @ahmedelgabri Do you mind opening a new issue under https://github.com/ansible-collections/community.general/issues as is the new place for this module to continue the work there and close this one?

Please let me know when opened to create a PR with the fix.

Thank you!

[2020-04-11 17:59] smacz42 commented on #68803
I'll take a look at it. And no, that password is not in production, it was spun up specifically for this example.

[2020-04-11 18:15] Raoul555 opened #68878 "ansible_user is not taken into account with buildah connection"
##### SUMMARY
My application need to be run from a user account, not  from root.
Despite instruction given to ansible tu use a user account with buildah connection, it still run commands as root.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
```connection```

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
```CentOS Linux release 8.1.1911 (Core) ```

```bui

[2020-04-11 18:46] smacz42 commented on #68803
I spun up a new server to run `create_db.yml` against, and got the same result. This time I checked for the environment variable, and it was there:

[code]

Is there some kind of race condition or restart of the container before it can fully initialize?

[2020-04-11 19:22] lsbwant commented on #53368
I get this same problem, I found the problem since version 2.7.1, have no this problem in version 2.7.0, I hope this issue will be fix, otherwise I can’t upgrade my ansible higher than 2.7.0

[2020-04-11 20:33] Zype76 commented on #68744
Hi again!

Hope you're having a good weekend.

I took another peek, and I noticed that the rule_type options are being processed by the _snake_to_camel function in the link below.

https://github.com/Azure/azure_preview_modules/blob/master/library/azure_rm_appgateway.py#L742

This should normally take the arguments "basic" or "path_based_routing" and filter them into the appropriate format for use

[2020-04-11 20:35] smacz42 commented on #68803
So I saw something weird in the logs...

[code]

It looks like `dockerd` is deleting the container before it gets a chance to finish the initialization. Because right after that, it looks like the container is started, and the entrypoint script is re-invoked:

[code]

Is that what the logs are telling me? If so, where is the `kill` command coming from?

[2020-04-11 21:14] smacz42 commented on #68803
I followed that rabbit hole and found that there is a default timeout of 10 seconds, after which Ansible kills off the container, and restarts it. I upped this to 120 seconds, and that gives the container enough time to finish the initialization, and set the password.

However, I have a related question. Ansible is always killing the container, no matter if I up the timeout to 20 seconds or 2000 s

[2020-04-12 00:12] lsbwant commented on #53368
My playbook is :
---
- name: Build AWS EC2 Instance for Colline
  hosts: 10.87.6.5
  gather_facts: False

  vars:
    installation_path: "/home/ec2-user"
    jdk_version: "jdk1.8u221"

  tasks:
    - name: Check if Colline Jboss is Started or Not
      shell: ps -ef | grep "java"
      register: java_check

    - name: Attempt to Start Colline Jboss if not already started
      shell: "nohup {{ins

[2020-04-12 05:26] gitpel commented on #67497
Sorry for the late response, my tests were on 1.3-rolling-202001xxxxxx, 202002xxxxxx

[2020-04-12 09:38] unbreakabl3 opened #68896 "win_format > allocation_unit_size is always 4096"
##### SUMMARY
win_format > allocation_unit_size is always 4096

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_format

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ansible server: Ubuntu Server 18.04
Guest OS: Windows Server 2016/2019

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Disk will be formatted to 64k

##### ACTUAL RESULTS

[code]

[2020-04-12 12:04] felixfontein commented on #68803
CC @sluther you're more familiar with this module...

[2020-04-12 12:07] felixfontein commented on #68248
If the module does not support that, this should be a Feature Request, not a Bug Report.

Also I'm not aware that anyone is currently adding features to the docker_compose module. In any case, this would not belong in that module anyway, but in a new module (maybe `docker_compose_info`?).

[2020-04-12 12:22] Raoul555 commented on #68878
!component

[2020-04-12 12:39] swapnil-shrishrimal opened #68897 "ec2.py URL is having 404 response."
##### SUMMARY

**The link given to refer ec2.py file for dynamic inventory is no more reachable and gives 404 error.**

https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/cobbler.py

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

ec2.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2020-04-12 12:48] lhercot commented on #64737
This can be closed see above PR in our collection repo.

[2020-04-12 13:48] t-umeno opened #68898 "azure_rm_virtualmachine should be able to use "ssh_password_enabled: false" without ssh_public_keys"
azure_rm_virtualmachine should be able to use  "ssh_password_enabled: false" without ssh_public_keys.
##### SUMMARY

I can't write playbook like this az command!
azure_rm_virtualmachine should be able to use  "ssh_password_enabled: false" without ssh_public_keys.
[code]
https://docs.microsoft.com/ja-jp/azure/developer/ansible/dynamic-inventory-configure#create-the-test-vms
##### ISSUE TYPE
- Featu

[2020-04-12 13:59] sluther commented on #68803
I’ll take a look at this as soon as I have a chance. This definitely sounds like a bug, and a rather nasty one at that!

[2020-04-12 15:09] #68374 closed, assigned to nobody

[2020-04-12 21:47] senorsmile opened #68900 "Vultr: implement load balancer module"
##### SUMMARY

Vultr introduced managed load balancers on January 13, 2020: https://www.vultr.com/news/Increase-Performance-With-Vultr-Load-Balancers/

Add a new vultr_lb module that enables creating and destroying load balancers.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

I would recommend either vultr_lb or vultr_loadbalancer

##### ADDITIONAL INFORMATION

This module will allow one

[2020-04-12 21:52] rabin-io opened #68901 "Using the template module on FIPS system throw "OpenSSL internal error""
##### SUMMARY
Trying to apply a template on a file will throw this error

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- module_utils/basic.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
It's Linux appliance based on Ubuntu 16.04,
installed openssl version on the device
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Apply the

[2020-04-12 23:29] xtmitchellx opened #68902 "Link to dynamic inventory script ec2.py is no longer accessible."
KB Article: https://docs.ansible.com/ansible/latest/user_guide/intro_dynamic_inventory.html#inventory-script-example-aws-ec2

States to go here to download ec2.py script but it is not there.
https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/ec2.py

[2020-04-13 06:57] bluikko commented on #56243
I do not think this SELinux problem is restricted to NFS.

Any file that I am creating with the template module does not get labeled according to SELinux file contexts -- they always get the same context from the temporary file location.

[2020-04-13 06:58] Andersson007 commented on #26581
merged, thanks all!

[2020-04-13 07:57] jstoja commented on #68902
@xtmitchellx You can find it here for now: https://github.com/ansible/ansible/blob/stable-2.9/contrib/inventory/ec2.py

[2020-04-13 08:02] Akasurde commented on #68849
Hi @spidermanir !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This all

[2020-04-13 08:02] #68849 closed, assigned to nobody

[2020-04-13 08:03] mymin1989 opened #68903 "ansible 2.7.x security issues for help"
We are using version 2.7.16 and recently discovered multiple security vulnerabilities CVE-2020-10684, CVE-2020-1733, CVE-2020-1739, CVE-2020-1736, CVE-2020-1735, CVE-2020-1738 , CVE-2020-1740, currently these vulnerabilities have been fixed in version 2.8.x, I would like to consult if 2.7.x has a recent repair plan.

[2020-04-13 08:09] jstoja commented on #68900
I cannot find the modules in the new collections repository: https://github.com/ansible-collections?q=vultr&type=&language=

Am I missing something?

[2020-04-13 08:57] Akasurde commented on #68836
1. with_sequence - Take `raw_params` and parses them internally, so I think it supports only in-line parameters

2. Can add example showing existing vars usage in example section

3. Fix for "Edit on GitHub" link not working for plugins and cli - https://github.com/ansible/ansible/pull/68904

[2020-04-13 08:58] Akasurde commented on #68902
Duplicate of https://github.com/ansible/ansible/issues/68897

[2020-04-13 08:58] #68902 closed, assigned to nobody

[2020-04-13 09:27] Akasurde commented on #68897
resolved_by_pr #68905

[2020-04-13 09:27] azarboon opened #68906 "Cloudformation nested stacks"
##### SUMMARY
[AWS Cloudformation Nested stacks](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-nested-stacks.html) provide an easy way to organize project into components and to reuse them. Nested stacks are currently not supported in Ansible.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
cloudformation
cloudformation_info

##### ADDITIONAL INFORMATION

Cloudform

[2020-04-13 10:52] karelyatin commented on #66525
Isn't https://review.opendev.org/#/c/703428/ needs to be backported to https://github.com/ansible/ansible/tree/stable-2.9, i hit the same issue with ansible-2.9.6.

[2020-04-13 12:30] Akasurde commented on #68816
Issue migrated to https://github.com/ansible-collections/vmware/issues/111

[2020-04-13 12:30] #68816 closed, assigned to nobody

[2020-04-13 12:30] Akasurde commented on #68824
Issue migrated to https://github.com/ansible-collections/vmware/issues/112

[2020-04-13 12:30] #68824 closed, assigned to nobody

[2020-04-13 13:31] #64628 closed, assigned to nobody

[2020-04-13 13:37] serin opened #68909 ""msg": "Local object for PUT does not exist"}"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

Hi,
I just started using ansible for sometime now. Not sure what I'm doing wrong.
I'm trying to upload a file to s3 bucket but it fails with below error
""msg": "Local object for PUT does not exist"

playbook looks like below:
- name: upload to abc
    aws_s3:
      bucket: abc
      object: /awscliv

[2020-04-13 13:53] Akasurde commented on #68909
Hi @serin!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us

[2020-04-13 13:53] #68909 closed, assigned to nobody

[2020-04-13 13:56] nbari commented on #25158
I notice that the same when adding options like `REQUIRESSL`, for example:

    - name: my user
      mysql_user:
        login_user: root
        login_unix_socket: /tmp/mysql.sock
        name: "{{ db.test.user }}"
        password: "{{ db.test.pass }}"
        host: "%"
        priv: "test.*:ALL,REQUIRESSL"
        state: present

But if I remove the option from the database:

    alter user 't

[2020-04-13 14:21] #67797 closed, assigned to s-hertel

[2020-04-13 14:33] sivel commented on #68903
You can see the list of pending backport PRs for the 2.7 release at https://github.com/ansible/ansible/pulls?q=is%3Apr+is%3Aopen+base%3Astable-2.7+label%3Abackport

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-04-13 14:33] #68903 closed, assigned to nobody

[2020-04-13 14:34] sivel commented on #68900
Thank you very much for your interest in ansible. As we are no longer accepting new plugins and modules in this repository I am going to proceed with closing this.

It appears, however, that a pull request has been submitted in the proper location for this feature: https://github.com/ansible-collections/community.general/pull/159

If you have further questions please stop by IRC or the mailing lis

[2020-04-13 14:34] #68900 closed, assigned to nobody

[2020-04-13 14:35] #68897 closed, assigned to Akasurde

[2020-04-13 15:15] geerlingguy opened #68915 "ansible-galaxy collection init doesn't respect configured collections_paths"
##### SUMMARY

When I am creating a new playbook, I want to create local collections (since I like to separate out my roles into collection(s)) for that playbook. I have a `collections_paths` configured in my playbook project's `ansible.cfg` file, but when I initialize a collection in my project with the following command:

    ansible-galaxy collection init local.stuff

The `collections_paths` se

[2020-04-13 15:18] geerlingguy commented on #68915
Note also that the [Developing collections](https://docs.ansible.com/ansible/latest/dev_guide/developing_collections.html#creating-collections) documentation, it seems, assumes you're creating collections solely for the purpose of uploading them to Galaxy or AH to share with other users—my use case is I often create roles for my playbooks, and those roles only really exist within a specific playbo

[2020-04-13 15:31] sivel commented on #66255
On the surface this is an easy fix, but I'm unsure what else may need to change as a result of this:

[code]

Does the underlying collection code handle `None`?

More testing, and a changelog would be required.

I'm not pursuing this further at this time.

[2020-04-13 15:36] sivel commented on #68915
You are correct, `-p` (and the config) is not used with `init`, instead it is purposefully set to a different value:

[code]

[2020-04-13 15:37] samccann opened #68918 "Create an example of using ansible for security automation"
##### SUMMARY

Start the Ansible Security Automation docs section, using this blog post to create a working example of what is available:
https://www.ansible.com/blog/getting-started-with-ansible-security-automation-investigation-enrichment

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRON

[2020-04-13 15:37] geerlingguy commented on #66255
The other question would be—do we eventually want to support custom collection skeletons? That would be a separate feature request, but I know enough people have found role skeletons to be a huge productivity booster, that I would imagine custom collection skeletons would be the same. (I didn't realize this didn't exist yet.)

[2020-04-13 15:40] geerlingguy commented on #68915
@sivel - Is there a way I can, in the `ansible.cfg` file, short-circuit it to the configured collections path? Or is it only possible to set this on the command line?

Also, if I create it like this:

    ansible-galaxy collection init local.stuff --init-path ./

It still creates it in `./local/stuff` and not in `./ansible_collections/local/stuff`, so my playbook doesn't see the new collection.

I

[2020-04-13 15:41] greg-hellings commented on #66255
Since we have a default collection skeleton, and we support custom role skeletons, I can't image we wouldn't want to support custom collection skeletons. I don't plan to make as many collections as I have roles - that's one of the things I like about collections. But I do plan to make at least one for each product we support and would love to have skeleton support.

[2020-04-13 15:46] jimr6007 opened #68919 "lineinfile, race condition, concurrency when delegate to localhost"
##### SUMMARY
same as #64899 and #30413

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908
Linux 3.10.0-1062.12.1.el7.x86_64 #1 SMP Tue Feb 4 23:02:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

##### STEPS TO REPRODUCE

make a playbook that:
1) delegates to local host and r

[2020-04-13 15:46] geerlingguy commented on #68915
-label has_pr

[2020-04-13 15:48] jimr6007 commented on #68919
maybe I am trying to do something that is an "anti-pattern" ?

trying to sort of "create a report" by creating a local file on the control machine, trying to run a shell command on a bunch of hosts and dump the result of each shell command on each host to this local file on the control machine.

is there a different/better way I should be thinking about how to do something like this?

[2020-04-13 15:50] sivel commented on #68915
There is no config backed value for `--init-path`.

We could potentially have `init` create the dir structure that a playbook could utilize, and I suppose `init` could print the path that was created, so a user would know where to go to edit it.

However changing this behavior now would be a backwards incompatible change. This could potentially cause even more confusion, if a user tried to init a

[2020-04-13 15:52] geerlingguy opened #68920 "Add support for GALAXY_COLLECTION_SKELETON"
##### SUMMARY

When I run `ansible-galaxy [type] init`, I would like to be able to use my own configured 'skeleton' to init that content.

For Ansible roles, when running `ansible-galaxy role init myrole`, I can configure a [`GALAXY_ROLE_SKELETON`](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#galaxy-role-skeleton) in my `ansible.cfg`, and the init command will use that

[2020-04-13 15:52] sivel commented on #66255
To further clarify, this is only an issue for users who have explicitly configured [GALAXY_ROLE_SKELETON](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#galaxy-role-skeleton)

[2020-04-13 15:53] sivel commented on #68827
Since this module is no longer maintained in this repository, and an issue has now been opened in the correct location, I am going to proceed with closing this issue.

[2020-04-13 15:53] #68827 closed, assigned to nobody

[2020-04-13 15:54] geerlingguy commented on #66255
@sivel - I also noticed in the docs it mentions:

(Emphasis mine) So if this is fixed that docs line also needs updating since the variable would no longer apply to collections.

So I guess the bug is that right now the variable name is misleading, and there's only one variable used for two different types of content, which makes the experience broken if you already it use roles and want to start

[2020-04-13 15:54] infrascripting commented on #68218
Is there any way forward on how this could be implemented, given the examples above? Does it fit into that same kind of pattern, or is there some difference here?

[2020-04-13 16:01] geerlingguy commented on #68920
It looks like on the CLI at least, there's support for specifying a custom collection skeleton path:

[code]

[2020-04-13 16:08] geerlingguy commented on #68915
@sivel - What is the issue for the hierarchy documentation? This is something that continues to confuse me (someone who's been now messing around with collections for months and has read and re-read the '[Using|Developing] Collections' documentation pages a dozen times) and seems to be a hiccup for every other person I've seen trying to use, manage, or create collections the first time. It adds a

[2020-04-13 16:20] sivel commented on #68915
It looks like the bot just closed it because the original reporter didn't use the template: https://github.com/ansible/ansible/issues/67029

[2020-04-13 16:27] geerlingguy commented on #67029
I agree that the `ansible_collections` path hierarchy is confusing (from the perspective of someone who's not actively developing ansible core python), and even with the documentation I want either:

  1. The ability to not have to have an extra empty/'magic' directory in my projects to store extra empty directories for namespaces (which I don't need since many collections are project-local and do

[2020-04-13 16:30] jctanner commented on #67029
!needs_info

[2020-04-13 16:31] jillr commented on #68906
Hi @azarboon.  The Amazon modules have been migrated to [collections](https://github.com/ansible-collections/overview/blob/master/README.rst). This feature request would be better opened in https://github.com/ansible-collections/amazon.aws as that is the new home for the `cloudformation` module.
Note there is also https://github.com/ansible-collections/community.aws, for the community-maintained A

[2020-04-13 16:36] azarboon commented on #68906
@jillr thanks for advice. I've just created this feature request in both those repos:

https://github.com/ansible-collections/community.aws/issues/33
https://github.com/ansible-collections/amazon.aws/issues/29

Please close this feature request in here; if it's in the wrong place.

[2020-04-13 16:40] sivel commented on #68878
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/containers/ansible-podman-collections

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-04-13 16:40] #68878 closed, assigned to nobody

[2020-04-13 16:53] #68704 closed, assigned to Shrews

[2020-04-13 17:24] jamesfreeman959 opened #68922 "Ansible role dependencies are not passing variables as expected"
##### SUMMARY
Ansible role dependencies are not passing variables as expected

##### ISSUE TYPE
- ~Bug Report~
- Documentation Report

##### COMPONENT NAME
Role dependencies

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.7.1908 64 bit running on libvirt

##### STEPS TO REPRODUCE

Create the car, wheel, tire and brake roles as described here: https://d

[2020-04-13 17:34] greenspartan commented on #68809
Hello,

Thanks @JieX19 !
I've tried what you advised and modified my playbook adding https and ssl_verify params.
Unfortunately same issue as you can see below :

'''
{
    "module_stdout": "",
    "module_stderr": "/opt/my-envs/Ansible2.9P3/lib/python3.6/site-packages/urllib3/connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host '10.109.109.1'. Adding cert

[2020-04-13 17:36] sivel commented on #68922
The problem here is a misunderstanding about how role variables are scoped as well as how roles are processed.  Role variables are scoped at the play level, and roles are all parsed and merged into the play at playbook parsing time.  As a result, the last defined variable from `vars` overwrites earlier values.

This can be disabled through the config with https://docs.ansible.com/ansible/latest/re

[2020-04-13 18:02] fgravato commented on #68133
I'm currently hitting the same issue has anyone figured out a workaround for this -

[2020-04-13 18:19] mattclay commented on #68872
@felixfontein Non-empty `__init__.py` files are something we actually test for in the sanity tests because they're not supported. Including one in a collection results in an error:

[code]

[2020-04-13 18:29] felixfontein commented on #68872
Ah, that's good to know! I never came that far since I didn't try running any tests except integration tests locally, and these already failed because of this.

I've now also found it in the docs: `Note that importing something from an ``__init__.py`` file requires using the file name:` (https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/dev_guide/developing_collections.rst). Sorry for

[2020-04-13 19:53] aciguru commented on #63270
Issue moved to

https://github.com/CiscoDevNet/ansible-aci/issues/10

[2020-04-13 19:59] sivel commented on #68843
Do you know of a publicly accessible URL that forcefully requires use of `Range`?  I can only test this on a URL where I submit `Range` as a header to start with, resulting in a 206.

In addition to that, even if I ask for all of the Ranges to fetch the file, the end status code is still 206, since all chunks are all partial, which then causes the `get_url` module to fail:

[code]

So in the end,

[2020-04-13 21:04] briantist commented on #63877
I have a change I made locally to the JUnit plugin that lets you define a list of tags to exclude from output.

I use it because I'm primarily using JUnit's output as a convenient way to get task-specific timing data in Jenkins, and some parts of my play don't really count for timing (like cleanup tasks at the end).

Anyway, it allows me to add regular ansible tags to the tasks I want to exclude,

[2020-04-13 21:16] #67791 closed, assigned to nobody

[2020-04-13 21:22] sivel commented on #68830
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-04-13 21:22] #68830 closed, assigned to nobody

[2020-04-13 21:23] sivel commented on #68812
Thank you very much for your interest in Ansible. We are not accepting new plugins or modules in this repository.  The windows modules have been migrated to https://github.com/ansible-collections/community.windows

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: ht

[2020-04-13 21:23] #68812 closed, assigned to nobody

[2020-04-13 21:25] sivel commented on #68809
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository, and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://gro

[2020-04-13 21:25] #68809 closed, assigned to nobody

[2020-04-13 21:26] sivel commented on #68792
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/junipernetworks.junos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com

[2020-04-13 21:26] #68792 closed, assigned to nobody

[2020-04-13 21:27] sivel commented on #68790
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/amazon.aws

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-04-13 21:27] #68790 closed, assigned to nobody

[2020-04-13 21:28] sivel commented on #68760
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#

[2020-04-13 21:28] #68760 closed, assigned to nobody

[2020-04-13 22:07] jstaf commented on #49254
So I found one potential cause of this. If you are using an SSH bastion host, Ansible's config options won't affect the host key checking for the bastion host. (Though you're successfully disabling host key checking for the host itself, the host key checks for the SSH bastion host are still happening.)

So if [you're using ProxyCommand in ansible_ssh_common_args](https://docs.ansible.com/ansible/l

[2020-04-13 22:41] ghost opened #68929 "when using --check unarchive does not see directory built in previous task"
##### SUMMARY
Works when not in --check mode.  But in --check mode I  get:
TASK [mule_machines : JDK - ensure remote directory state] *********************
changed: [MuleD02] => (item={'mode': '0755', 'name': '/home/mule/apps/jdk8u242b08'})

TASK [mule_machines : JDK - unarchive jdk archive file contents into apps subfolder] ***
fatal: [MuleD02]: FAILED! => {"changed": false, "msg": "dest '/home/m

[2020-04-13 23:35] jhg03a commented on #63877
It would partially work.  It satisfies the same use cases as using no_log.  The other main issue is the stock `gather_facts` as part of the playbook (where you can't attach a tag or no_log).

[2020-04-14 00:00] aciguru commented on #62137
Issue moved

https://github.com/CiscoDevNet/ansible-mso/issues/13

[2020-04-14 00:06] aciguru commented on #60922
Issue moved

https://github.com/CiscoDevNet/ansible-mso/issues/14

[2020-04-14 00:08] aciguru commented on #60732
Issue moved

https://github.com/CiscoDevNet/ansible-aci/issues/13

[2020-04-14 00:12] aciguru commented on #60276
Moved to

https://github.com/CiscoDevNet/ansible-aci/issues/14

[2020-04-14 00:59] tima commented on #68473
@geerlingguy: FWIW I refer to what I think you mean by "legacy standalone roles" as "organizational roles" in all the best practices talks I've given over the years. I defined these as roles that "live" solely within a single automation project repo and were created to better organize things because the automation has become sufficiently complex enough that a single playbook becomes too unwieldy.

[2020-04-14 01:09] aciguru commented on #58603
Issue moved to

https://github.com/CiscoDevNet/ansible-mso/issues/16

[2020-04-14 01:13] aciguru commented on #57417
Issue moved to

https://github.com/CiscoDevNet/ansible-aci/issues/new

[2020-04-14 01:13] aciguru commented on #57417
Issue moved to

https://github.com/CiscoDevNet/ansible-aci/issues/16

[2020-04-14 01:19] aciguru commented on #52664
Moved to

https://github.com/CiscoDevNet/ansible-aci/issues/18

[2020-04-14 01:24] aciguru commented on #51442
Moved to

https://github.com/CiscoDevNet/ansible-aci/issues/19

[2020-04-14 01:29] aciguru commented on #48489
Moved to

https://github.com/CiscoDevNet/ansible-aci/issues/20

[2020-04-14 01:32] aciguru commented on #45191
Moved to

https://github.com/CiscoDevNet/ansible-aci/issues/21

[2020-04-14 01:37] aciguru commented on #41752
Moved to

https://github.com/CiscoDevNet/ansible-aci/issues/22

[2020-04-14 01:42] aciguru commented on #40636
Moved to

https://github.com/CiscoDevNet/ansible-aci/issues/23

[2020-04-14 01:46] aciguru commented on #36385
Moved to

https://github.com/CiscoDevNet/ansible-aci/issues/24

[2020-04-14 01:49] aciguru commented on #36100
Moved to

https://github.com/CiscoDevNet/ansible-aci/issues/25

[2020-04-14 01:55] aciguru commented on #35544
Issue moved to

https://github.com/CiscoDevNet/ansible-aci/issues/26

[2020-04-14 01:57] aciguru commented on #35050
Moved to

https://github.com/CiscoDevNet/ansible-aci/issues/27

[2020-04-14 02:01] ivancrajic opened #68930 "Inventory files parsed incorrectly"
##### SUMMARY
Parsing of the inventory files produces differing results after Ansible version 2.7.??

Variables in inventory configuration blocks bleed into each other. This happens regardless of file format used (ini or yaml) and only seems to happen when a host is a member of two inventory "groups".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Inventory parsing

##### ANSIBLE VERSION

[c

[2020-04-14 02:03] aciguru commented on #35041
Moved to

https://github.com/CiscoDevNet/ansible-aci/issues/28

[2020-04-14 02:06] aciguru commented on #34885
Moved to

https://github.com/CiscoDevNet/ansible-aci/issues/29

[2020-04-14 02:09] aciguru commented on #34175
Moved to

https://github.com/CiscoDevNet/ansible-aci/issues/30

[2020-04-14 02:10] aciguru commented on #34174
Moved to

https://github.com/CiscoDevNet/ansible-aci/issues/31

[2020-04-14 05:09] #68906 closed, assigned to nobody

[2020-04-14 05:34] Akasurde commented on #68896
Hi @unbreakabl3,  The Windows modules have been migrated to [collections](https://github.com/ansible-collections/overview/blob/master/README.rst). This issue would be better opened in https://github.com/ansible-collections/community.windows as that is the new home for the `win_format` module.

[2020-04-14 05:39] #60732 closed, assigned to nobody

[2020-04-14 05:51] devan555 opened #68931 "How to add multiple vault-id's in variable"
##### SUMMARY
Hi I have a requirement of adding multiple username and passwords in same inventory file.

##### ISSUE TYPE
I tired adding it as mentioned below

        ansible_user: !vault |
          $ANSIBLE_VAULT;1.2;AES256;user01
          <encrypted value>
        ansible_user: !vault |
          $ANSIBLE_VAULT;1.2;AES256;user02
          <encrypted value>
        ansible_password: !vault |

[2020-04-14 06:13] vvxxvvxx opened #68932 "collections is not working if using it out of the roles in the playbook"
##### SUMMARY

I installed ansible 2.9.5 and using `ansible-galaxy collection install netapp.ontap` to install the netapp.ontap collection.
if I define the `collections` part in the playbook as below. The ansible will still search the module in the default module path `/var/lib/awx/venv/storage/lib/python3.7/site-packages/ansible/modules/storage/netapp`, but not the collections directory `~/.ansib

[2020-04-14 06:21] nomadcz commented on #68164
Works ok with disabled caching so far. I guess memcached was not availabe at the time and ansible did not hande it properly.

[2020-04-14 06:34] campee commented on #56930
So are we just not supposed to use the EC2 dynamic inventory script anymore since it groups everything by 'us-east-1', 'us-east-2', etc? Or is there a plan to update it? I just went to Ansible's documentation for the EC2 dynamic inventory script and the link to download it on Github doesn't work anymore, so that's interesting.

[2020-04-14 06:41] patsevanton opened #68933 "openstack_inventory.py 404: Not Found"
Open https://docs.ansible.com/ansible/latest/user_guide/intro_dynamic_inventory.html#explicit-use-of-openstack-inventory-script

[code]

[2020-04-14 06:42] liuyangc3 commented on #68922
another question the role dependencies behavior is like import_role or include_role?  @sivel

[2020-04-14 07:01] Akasurde commented on #68933
Hi @patsevanton, OpenStack modules and plugins are migrated to https://opendev.org/openstack/ansible-collections-openstack. Openstack inventory script is still not merged - https://review.opendev.org/#/c/719429/

I have a PR to update the Ansible documentation - https://github.com/ansible/ansible/pull/68905

Meanwhile, you can use  https://raw.githubusercontent.com/ansible/ansible/stable-2.9/contr

[2020-04-14 07:01] #68933 closed, assigned to nobody

[2020-04-14 07:08] mkrizek commented on #56930
See https://github.com/ansible/ansible/issues/68419

[2020-04-14 07:28] Akasurde commented on #68933
see also https://github.com/ansible/ansible/issues/68419

[2020-04-14 08:27] #68699 closed, assigned to nobody

[2020-04-14 09:37] cmason3 commented on #45214
Storing passwords on the file system is a bad idea. I was looking for this feature so I could store the password using a GitLab Secure Variable within my CI/CD pipeline. Looking into the script option, but using a variable like ANSIBLE_VAULT_PASSWORD would be much more efficient and allow it to be stored securely.

[2020-04-14 10:08] Frostarr opened #68935 "Show_tag returns empty array. Module: vware_vm_info"
##### SUMMARY

When trying to return all vm machines with their corresponding tags, the tags array is returned empty.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

The module used is: vmare_vm_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

UBUNTU 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

 {
                "attributes": {},

[2020-04-14 10:21] Akasurde commented on #68935
Issue migrated to https://github.com/ansible-collections/vmware/issues/115

[2020-04-14 10:21] #68935 closed, assigned to nobody

[2020-04-14 10:40] kitos9112 commented on #50334
Good stuff - I do see this moving forward in the new Ansible community repos! also, great you @lvrfrc87 are getting feedback for breaking down components which also makes sense :)

[2020-04-14 10:50] dagwieers commented on #60732
@felixfontein Most of the ACI issues have moved, can you close all those as well? I no longer have those rights.

[2020-04-14 10:57] tweippert commented on #68061
Additional if  you want to change it back to an access Ports, Trunk Fragments are left on the port and the Mode isn't correctly switched:

` switchport
 switchport access vlan 998
 switchport trunk encapsulation dot1q
 switchport mode trunk
`

[2020-04-14 11:01] xire28 commented on #28061
Fixed in version `dnf-4.2.17-6.el8` that has been released, would it be possible to upgrade the dependency ?

[2020-04-14 11:14] mvorisek commented on #68342
@sivel , can you please fix this shortly? Ansible is used a lot in CI enviroments where the latest tools need to be supported.

[2020-04-14 11:24] jctanner commented on #68508
!component =contrib/inventory/foreman.py

[2020-04-14 11:26] felixfontein commented on #60732
@dagwieers unfortunately I can't since I don't have the rights anymore either...

[2020-04-14 11:27] mkrizek commented on #28061
@xire28 does updating `dnf` to version `4.2.17-6` fixes this issue without changing the Ansible `dnf` module itself?

Can you elaborate on what do you mean by dependency?

[2020-04-14 11:45] jamesfreeman959 commented on #68922
Thanks so much for the quick reply - this is really useful to know and glad that the documentation can be updated as a result of this. One query however - I just tested with ANSIBLE_PRIVATE_ROLE_VARS set to true, and the output now returns:

[code]

Surely this is not as intended either? I'll test with params in a bit.

[2020-04-14 12:21] felixfontein commented on #60732
@dagwieers I think if these are PRs/issues for modules you were maintainer for, you can still use `close_me`.

[2020-04-14 13:15] s-hertel commented on #68198
To keep thoughts collected in one place, https://github.com/geerlingguy/ansible-content-testing/issues/4#issuecomment-613100246

[2020-04-14 13:28] next-jesusmanuelnavarro opened #68937 "aws_rds inventory plugin should accept 'iam_role_arn' param"
##### SUMMARY
Working with aws_ec2 inventory plugin, I reached a point when it made sense to "discover" RDS instances, then I came to know about this aws_rds plugin.

I get dynamic inventories by impersonating the appropriate role on the required account.  For this I use aws_ec2's plugin param *iam_role_arn*.

Then, I tried to do the same about *aws_rds*, only to find that's not possible.  The res

[2020-04-14 13:45] dagwieers commented on #68109
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:46] dagwieers commented on #66360
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:46] dagwieers commented on #66359
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:46] dagwieers commented on #65824
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:46] dagwieers commented on #64737
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:46] dagwieers commented on #63270
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:46] dagwieers commented on #62137
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:46] dagwieers commented on #60922
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:46] dagwieers commented on #60276
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:46] dagwieers commented on #58603
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:46] dagwieers commented on #57417
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:47] dagwieers commented on #52664
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:47] dagwieers commented on #51442
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:47] dagwieers commented on #48489
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:47] dagwieers commented on #45191
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:47] dagwieers commented on #41752
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:47] dagwieers commented on #40636
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:47] dagwieers commented on #36385
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:47] dagwieers commented on #36100
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:47] #35544 closed, assigned to nobody

[2020-04-14 13:48] #35050 closed, assigned to nobody

[2020-04-14 13:48] dagwieers commented on #35041
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:48] dagwieers commented on #34885
@gundalow Can you close this ticket? Thanks!

[2020-04-14 13:48] #34175 closed, assigned to dagwieers

[2020-04-14 13:49] #36385 closed, assigned to nobody

[2020-04-14 13:50] #36100 closed, assigned to dagwieers

[2020-04-14 13:50] #34174 closed, assigned to dagwieers

[2020-04-14 14:05] nicolas-marcq commented on #68538
Same here. Quota issue?

[2020-04-14 14:08] akesterton commented on #52319
This has also been reported as an issue in Ansible 2.8

[2020-04-14 14:34] #34885 closed, assigned to nobody

[2020-04-14 14:35] #40636 closed, assigned to nobody

[2020-04-14 14:35] #41752 closed, assigned to nobody

[2020-04-14 14:35] #45191 closed, assigned to nobody

[2020-04-14 14:36] #52664 closed, assigned to nobody

[2020-04-14 14:36] #58603 closed, assigned to nobody

[2020-04-14 14:36] #60276 closed, assigned to nobody

[2020-04-14 14:36] #62137 closed, assigned to nobody

[2020-04-14 14:36] #64737 closed, assigned to nobody

[2020-04-14 14:36] #66359 closed, assigned to nobody

[2020-04-14 14:36] #68109 closed, assigned to nobody

[2020-04-14 14:37] #35041 closed, assigned to nobody

[2020-04-14 14:37] #48489 closed, assigned to nobody

[2020-04-14 14:37] #51442 closed, assigned to nobody

[2020-04-14 14:37] #57417 closed, assigned to nobody

[2020-04-14 14:37] #60922 closed, assigned to nobody

[2020-04-14 14:37] #65824 closed, assigned to nobody

[2020-04-14 14:38] #63270 closed, assigned to nobody

[2020-04-14 14:38] #66360 closed, assigned to nobody

[2020-04-14 14:43] sivel commented on #68342
@mvorisek We have tentative plans to address this for the 2.10 release, which is planned for July 2020.  I'd recommend in the short term to just pip install ansible.

[2020-04-14 14:46] keitalbame opened #68939 "Multiple blocks, meta: end_play and undefined variables"
##### SUMMARY
Mutiple blocks and meta: end_play triggering undefined variable errors

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
block

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 LTS WSL

##### STEPS TO REPRODUCE

Gist [here](https://gist.github.com/keitalbame/25daaae13722e48cd0650196194d887f#file-01-test-yaml).

[code]

##### EXPECTED

[2020-04-14 14:47] sivel commented on #68922
@liuyangc3 the `roles:` header is equivalent to using `import_role`

[2020-04-14 15:02] sivel commented on #68932
The `collections:` keyword is purposefully not inherited by roles, this has recently been documented at https://github.com/ansible/ansible/pull/66667

See https://docs.ansible.com/ansible/devel/user_guide/collections_using.html#simplifying-module-names-with-the-collections-keyword

This is done to ensure the role author can dictate the behavior they desire.  However as indicated in the above docum

[2020-04-14 15:02] #68932 closed, assigned to nobody

[2020-04-14 15:21] jctanner commented on #68283
@tpo have you tried changing the name in the role's meta/main.yml file before publishing to see if that works?

https://galaxy.ansible.com/docs/contributing/importing.html#role-name-limitations

needs_info

[2020-04-14 15:28] bcoca commented on #68353
can you give us an exact reproducer? I cannot replicate the issue.

needs_info

[2020-04-14 15:32] sivel commented on #68930
The issue here is that `host1` is in both groups.  Although the YAML inventory format gives you the impression that inventory is hierarchical, it is not.  `host1` in both groups is the same host, and as such, the later `nameserver` overwrites the first.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.g

[2020-04-14 15:32] #68930 closed, assigned to nobody

[2020-04-14 15:45] sivel commented on #68383
We really need to sit down and create a full PRD for how collections should be handled.  We're not looking the whole picture, and we need to think through all of this properly.  I've assigned this to @thaumos as he is working on similar documentation.

cc @s-hertel

[2020-04-14 15:46] bcoca commented on #68400
Actually we should be masking the non json keys also.

[2020-04-14 15:59] kdelee opened #68940 "Azure inventory plugin docs say install azure > 2.0.0, but now pip does not allow install azure meta package"
##### SUMMARY

Docs for inventory plugin here: https://docs.ansible.com/ansible/latest/plugins/inventory/azure_rm.html say install `azure` package:

[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

azure inventory plugin

##### ANSIBLE VERSION

any ansible version 2.9 and prior since azure inventory plugin was introduced

##### OS / ENVIRONMENT

n/a

##### ADDITIONAL INFORMAT

[2020-04-14 16:06] tpo commented on #68283
Yes I did.

Have read through that now, without noticing anything immediately pertinent here.

!needs_info

[2020-04-14 16:06] dagwieers commented on #60732
@felixfontein I am no longer maintainer :-/

[2020-04-14 16:17] luca-af opened #68941 "Can't delete a vlan tag assigned to a network"
##### SUMMARY

If I create a VLAN Tag for a network I can't delete it, but I have to delete the network and recreate it without the tag.

If I use the web console I can easily remove a vlan tag on a network.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ovirt_network

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Create a network with a vlan tag and test with any values (or no v

[2020-04-14 16:17] felixfontein commented on #60732
Yes, all hail @gundalow! :)

[2020-04-14 16:19] sivel commented on #68941
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ovirt/ovirt-ansible-collection

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-04-14 16:19] #68941 closed, assigned to nobody

[2020-04-14 16:31] benjdudas opened #68942 "[RFE] Add `chdir` parm to the `at` module"
##### SUMMARY

This RFE is to have a `chdir` parameter, similar to what's currently available for the `shell` module, added to the `at` module.

When using `at` with the `ansible-pull` and the `--purge` option the job will fail since the execution directory is being removed.

As a workaround, the `at` job can be scheduled using the shell module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NA

[2020-04-14 16:35] Akasurde commented on #68920
see also - https://github.com/ansible/ansible/issues/66255

[2020-04-14 16:36] geerlingguy commented on #68283
It looks like it's been fixed? The original URL you posted is a 404 but I see https://galaxy.ansible.com/tpo/local_certificate_authority now.

[2020-04-14 17:02] sivel commented on #68942
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.posix

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#

[2020-04-14 17:02] #68942 closed, assigned to nobody

[2020-04-14 17:14] sivel commented on #68937
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/amazon.aws

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-04-14 17:14] #68937 closed, assigned to nobody

[2020-04-14 17:15] benjdudas commented on #68942
Moved: https://github.com/ansible-collections/ansible.posix/issues/13

[2020-04-14 17:16] sivel commented on #68931
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-04-14 17:16] #68931 closed, assigned to nobody

[2020-04-14 17:17] sivel commented on #68896
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.windows

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-04-14 17:17] #68896 closed, assigned to nobody

[2020-04-14 17:18] sivel commented on #68898
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2020-04-14 17:18] #68898 closed, assigned to nobody

[2020-04-14 17:23] next-jesusmanuelnavarro commented on #68937
Thanks a lot for *not* being you the one moving or copy-pasting this issue, given you already knew about where it should go.

[2020-04-14 17:24] sivel commented on #68766
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible_collections_google

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.googl

[2020-04-14 17:24] #68766 closed, assigned to nobody

[2020-04-14 17:32] next-jesusmanuelnavarro commented on #68937
For the benefit of people that may reach here, new one is at https://github.com/ansible-collections/amazon.aws/issues/30.

[2020-04-14 17:36] tpo commented on #68283
It has been fixed by deleting the original role from galaxy, renaming the github repo and re-uploading it by using the `--role-name` option.

(I have not tried all possible combinations of github repo name, `--role-name` and `meta/main.yml -> role_name`. One of the reasons for not doing that was that I'm not sure what work and ressource usage the delete/re-upload etc. cycles generate. Also if doin

[2020-04-14 17:40] sivel commented on #68757
Thank you very much for your interest in Ansible. These plugins are no longer maintained in this repository and have been migrated to:

https://github.com/ansible-collections/ios
https://github.com/ansible-collections/eos

Please re-submit this issue in one of the above repositories.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   *

[2020-04-14 17:40] #68757 closed, assigned to nobody

[2020-04-14 17:41] sivel commented on #68940
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2020-04-14 17:41] #68940 closed, assigned to nobody

[2020-04-14 17:42] sivel commented on #68748
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-04-14 17:42] #68748 closed, assigned to nobody

[2020-04-14 17:42] sivel commented on #68745
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2020-04-14 17:42] #68745 closed, assigned to nobody

[2020-04-14 17:59] jctanner commented on #68721
!needs_collection_redirect

[2020-04-14 18:17] jpdias92 commented on #68686
I'm having the same problem.

Using `lxml-4.5.0` and the following ansible version.

### Ansible Version
[code]

Trying to connect to a Maven repo hosted in Azure DevOps.

[2020-04-14 18:44] jctanner commented on #68721
needs_collection_redirect

[2020-04-14 18:46] jctanner commented on #68721
!needs_collection_redirect

[2020-04-14 18:47] netvoip opened #68949 "No SSH connection to Cisco routers on CentOS and Ansible 2.9"
##### SUMMARY
SSH connect to Cisco routers not working since update to 2.9. Same config works fine on Ubuntu but doesn't work on CentOS. This is not network issue because direct SSH connection can be established from host.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_command

##### ANSIBLE VERSION

[code]
Also tested on Python 3.6.8.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2020-04-14 19:03] toreanderson opened #68950 "ERROR! Unexpected Exception, this is probably a bug: '<' not supported between instances of 'AnsibleUnicode' and 'int'"
##### SUMMARY

`ansible-inventory` fails with an unexpected exception if it encounters a dict in host vars that contains both numbers and letters as keys.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Output like:

[code]

##### AC

[2020-04-14 19:06] toreanderson commented on #68950
Workaround:
[code]

[2020-04-14 19:06] mattclay commented on #68132
Examples of other files causing problems for collections:

`README.md` - https://app.shippable.com/github/ansible-collections/community.general/runs/297/1/console

Also, lookup and filter plugins (not limited to collections).

[2020-04-14 19:09] sivel commented on #68950
It is not and acceptable fix. We purposefully sort the keys so that the output is consistent.

[2020-04-14 19:12] felixfontein commented on #68132
I always thought that lookup and filter plugins were intentionally triggering a full CI run, since they could appear in all integration tests.

[2020-04-14 19:16] mattclay commented on #68132
@felixfontein Lookup and filter plugins should have their own tests. Yes, we have often relied on incidental testing for them, but that's something we're trying to avoid. Once the change detection is updated to handle more plugin types (including filter and lookup plugins), then it will be important to avoid relying on incidental tests. We've recently been adding more tests in ansible/ansible to f

[2020-04-14 19:18] sivel commented on #68950
FWIW, an integer variable should be disallowed. There is an in progress PR to prevent such a variable from being created (https://github.com/ansible/ansible/pull/58062).  Maybe the correct change is to get #58062 finished up, and then this specific issue couldn't happen.

[2020-04-14 19:23] felixfontein commented on #68132
It will definitely make developing such plugins much less avoiding, since you don't have to wait ages for CI to run through...

[2020-04-14 19:29] mkrizek commented on #68939
This is due to meta tasks not supporting tags. As a result of that the `end_play` task from the first block is always executed regardles of `--tags` and since the task registering `file_check` variable is not executed, the `end_play` task fails on that variable being undefined.

This issue is reported in https://github.com/ansible/ansible/issues/64558 and the tags support for meta tasks is being w

[2020-04-14 19:29] #68939 closed, assigned to nobody

[2020-04-14 19:32] toreanderson commented on #68950
This issue can be reproduced with https://github.com/mkrizek/ansible/tree/validate-variables, for what it is worth.

[2020-04-14 19:46] sivel commented on #68950
!component =lib/ansible/cli/inventory.py

[2020-04-14 19:47] sivel commented on #68741
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/junipernetworks.junos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com

[2020-04-14 19:47] #68741 closed, assigned to nobody

[2020-04-14 19:47] sivel commented on #68736
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com:ansible-collections/community.crypto

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/foru

[2020-04-14 19:47] #68736 closed, assigned to nobody

[2020-04-14 19:48] sivel commented on #68730
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-04-14 19:48] #68730 closed, assigned to nobody

[2020-04-14 19:49] sivel commented on #68729
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/amazon.aws

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-04-14 19:49] #68729 closed, assigned to nobody

[2020-04-14 19:49] sivel commented on #68711
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#

[2020-04-14 19:49] #68711 closed, assigned to nobody

[2020-04-14 19:50] sivel commented on #68706
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/iosxr

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2020-04-14 19:50] #68706 closed, assigned to nobody

[2020-04-14 19:52] sivel commented on #68686
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-04-14 19:52] #68686 closed, assigned to nobody

[2020-04-14 19:52] sivel commented on #68682
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-04-14 19:52] #68682 closed, assigned to nobody

[2020-04-14 19:53] sivel commented on #68668
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-04-14 19:53] #68668 closed, assigned to nobody

[2020-04-14 19:53] sivel commented on #68662
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-04-14 19:53] #68662 closed, assigned to nobody

[2020-04-14 19:54] sivel commented on #68635
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/junipernetworks.junos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com

[2020-04-14 19:54] #68635 closed, assigned to nobody

[2020-04-14 19:55] sivel commented on #68625
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#

[2020-04-14 19:55] #68625 closed, assigned to nobody

[2020-04-14 19:55] sivel commented on #68623
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#

[2020-04-14 19:55] #68623 closed, assigned to nobody

[2020-04-14 19:55] sivel commented on #68622
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ans

[2020-04-14 19:55] #68622 closed, assigned to nobody

[2020-04-14 19:57] sivel commented on #68616
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://opendev.org/openstack/ansible-collections-openstack.git

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.

[2020-04-14 19:57] #68616 closed, assigned to nobody

[2020-04-14 20:16] sivel commented on #68929
This is expected behavior.  There is no implicit state saved about theoretical actions that tasks will perform when in check mode. The `unarchive` module requires for the directory to exist, if you are running your playbook in check mode, and the directory does not exist, and it wasn't actually created, the `unarchive` module correctly fails.

You will have to add additional logic in your play to

[2020-04-14 20:16] #68929 closed, assigned to nobody

[2020-04-14 21:27] bcoca commented on #32265
Yes, templating happens in the action plugin (which executes inline on controller) while async is a property of module execution (on remote).

The race condition is caused by how the template action can execute several modules, including copy and file, to get the job done.

[2020-04-14 21:29] sivel commented on #68922
`ANSIBLE_PRIVATE_ROLE_VARS=true` restricts the vars to only the associated role, they are not accessible from role dependencies.

The other option is switching to use `include_role` in `tasks/main.yml` instead of `dependencies`:

[code]

[2020-04-14 21:37] sivel commented on #68604
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-04-14 21:37] #68604 closed, assigned to nobody

[2020-04-14 21:37] sivel commented on #68547
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/kubernetes

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-04-14 21:37] #68547 closed, assigned to nobody

[2020-04-14 21:38] sivel commented on #68544
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2020-04-14 21:38] #68544 closed, assigned to nobody

[2020-04-14 21:38] sivel commented on #68541
Closing per the above PR

[2020-04-14 21:38] #68541 closed, assigned to nobody

[2020-04-14 21:45] sivel commented on #68457
We don't automatically search through all installed collections. We only look through the collections that are listed in `collections:`.  Otherwise the collection loader performs an exact lookup when using FQCN.

There is no functionality that would be able to do this automatically.  However, there is talk about a future "project configuration file" (not `ansible.cfg) that would potentially allow

[2020-04-14 22:17] geerlingguy commented on #68457
That might actually be preferred—especially if I could define it in my project config and inherit it across `ansible` ad hoc commands and maybe playbooks as well.

Note that I currently use `ansible.cfg` as my _de facto_ 'project configuration file' and store one in most of my Ansible project repos, since there's no other way to set many values per-project that can't be configured via inventory, o

[2020-04-14 22:31] jborean93 commented on #68457
I feel like this isn't the best idea as things may work when you only have 1 module found with that name in multiple collections but as soon as you've added a collision your existing playbooks won't work any more.

What makes it complicated and confusing is that once you've added a collection with a collision the part that now breaks was something that was working before making it confusing for th

[2020-04-14 22:37] geerlingguy commented on #68457
For playbooks, that would be helpful and I think might be a better option (e.g. if the module is not found, print a list of collections available to the playbook locally that provide it?), but for CLI use, it is to type out the FQCN of modules.

[2020-04-14 22:47] jghal opened #68953 "Azure image and gallyerimageversion info modules don't support check mode"
##### SUMMARY

Developing a playbook to delete old images and shared image gallery versions and test it by running with `--check --diff`. The `_info` modules used to lookup candidates are reporting they do not support check mode.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_image_info
azure_rm_galleryimageversion_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##

[2020-04-15 00:50] erkolson opened #68954 "Broken link for ec2.py"
##### SUMMARY
The [inventory script example with aws-ec2](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/user_guide/intro_dynamic_inventory.rst#inventory-script-example-aws-ec2) has a link to the ec2.py script that returns a 404:
https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/ec2.py

In fact, the entire contrib directory is now gone from the devel branch

[2020-04-15 03:37] vitaclear commented on #46691
I have the same problem. I need to create files in the folder where I execute ansible (with paths './...') but instead files creates in the folder where is playbook.

[2020-04-15 04:15] imlight opened #68955 "node_resource_group doesn't work with azure_rm_aks in ansible 2.9.6"
##### SUMMARY
node_resource_group doesn't work with azure_rm_aks in ansible 2.9.6

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_aks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
cat /etc/oracle-release
Oracle Linux Server release 7.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Ansible module azure_rm_aks allows to pass node_resourc

[2020-04-15 05:28] mkrizek commented on #68954
Duplicate of https://github.com/ansible/ansible/issues/68419

[2020-04-15 05:28] #68954 closed, assigned to nobody

[2020-04-15 06:18] Vladimir-csp commented on #31979
This seems to be a worrying thing with apt related modules. Running apt module with just `update_cache: yes` to update package index does it in check mode.

[2020-04-15 07:35] mnecas commented on #67932
close_me

[2020-04-15 07:36] #67932 closed, assigned to nobody

[2020-04-15 07:39] michaelsstuff opened #68956 "get_url does not authenticate against ftp servers"
##### SUMMARY
get_url does not authenticate against ftp servers

##### ISSUE TYPE
- ~Bug Report~
- Feature Idea

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Python 3.6.5
OpenSSL 1.1.0i-fips  14 Aug 2018

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect get_url to use credentials to loginto the ftp url

##### AC

[2020-04-15 07:41] abadger commented on #68872
@mattclay i don't think we can do that.  Putting things in `__init__.py` files is a very central feature of python.  I've tried to keep things or if `__init__.py` in core because it prevents using namespace packages down the road, but it serves some very useful purposes, such as the backwards compatibility that felix was working on when he ran across this in the first place.

Since collections are

[2020-04-15 07:45] abadger commented on #68872
Nitzmahone also acknowledged this as a bug when i talked to him on Monday.  He had written an integration test for it but commented it out with a note to fix it later but forgot about it.

[2020-04-15 08:10] mattclay commented on #68872
@abadger I didn't mean to suggest we shouldn't allow it. I only meant to point out that it's currently something that is reported as an error in the `empty-init` sanity test. Aside from that and the collection loader issue, there may be other areas that don't support it well, at least in tests.

[2020-04-15 08:48] toreanderson commented on #68950
I've been looking for ways to work around this issue, and I have found that one way to prevent `ansible-inventory` from crashing is to quote the numeric keys in the host variables, like so:

[code]

Unfortunately, this approach breaks the Jinja2 `is number` test:

[code]

For comparison, this is the output when using the original host_vars file that causes `ansible-inventory` to crash:

[code]

I

[2020-04-15 09:19] ilixiaocui opened #68957 "ansible-2.5.9 install error"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-04-15 09:22] mkrizek commented on #68957
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-04-15 09:22] #68957 closed, assigned to nobody

[2020-04-15 09:57] cogonide commented on #42524
@jerrac I don't think it was risky to bump an old feature idea. Perhaps even a good thing!

And adding my two cents... I like this format the best out of the ones proposed by @eric-b-hymowitz.
[code]
It's clear and leaves no room for ambiguity. The only thing it's lacking is conciseness, and as jerrac said, it isn't a very user-friendly format.

I don't think using filters is overly complicated an

[2020-04-15 10:20] thatsk commented on #56464
can we get fix for selective callback plugin?

[2020-04-15 10:20] thatsk commented on #56464
i am also facing same issue for larger playbooks

[2020-04-15 10:56] jamesfreeman959 commented on #68922
Awesome - thanks @sivel - your answers have really helped me. Looking forward to seeing the updated documentation page - if you want me to review or help with anything please do let me know.

[2020-04-15 12:14] sakar97 commented on #68296
What is the error ?

[2020-04-15 12:45] Akasurde commented on #68515
resolved_by_pr #68958

[2020-04-15 12:55] gundalow commented on #66354
Does this issue need moving to the new collection?

[2020-04-15 13:18] NadOby commented on #46795
We also affected by this or very similar issue
The difference is our includes are not specifying context.
[code]

[2020-04-15 13:36] kasiagauza commented on #68419
@vazhnov afaik, the new URLs point to the version 2.10 (the "Big Migration" one). The script were slightly rewritten to handle **ansible_collections** module.

But the currect 'latest' version in Ansible Docs is 2.9 and the broken links cannot be simply subsituted with the scripts using ansible_collections. The execution will fail with the missing module error.

[2020-04-15 13:37] PaOne20 opened #68959 ""Win_Command" module not working to connect localhost to run Powershell script from ansible"
Hello,

I'm new to Ansible and PowerShell. Iam trying to execute basic PowerShell command command from ansible( installed with ubuntu 18.04 LTS and cygwin in windows 10) iam getting below error. Kindly help me out ..

Here are the environment details
ansible version 2.8.4
python version = 3.7.7 (default, Apr 10 2020, 07:59:19) [GCC 9.3.0]

1. Ansible playbook
   - hosts: localhost
      tasks:

[2020-04-15 13:42] zhaohao-1004 opened #68960 "selinux module set arg state=disabled"
操作步骤：
[code]
问题：
SELINUX= disabled  # 这里的空格导致重启后selinux设置并没有生效

[2020-04-15 14:02] mkrizek commented on #46795
I have tested with #68749 (which is merged in `devel`) and the issue no longer exist with that patch.

@NadOby @akuznecov @moorglade can you please test with latest devel to see whether your issue still persists? Thanks!

needs_info

[2020-04-15 14:30] luisr-escobar opened #68961 "Ansible Galaxy installing older version of role if none specified (for dynatrace.oneagent)"
##### SUMMARY

Older version of dynatrace.oneagent role is installed (v1.0.5) unless specified on ansible-galaxy install command.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

 - Ubuntu 18.04
 - CentOS 7
- MacOS 10.15.4

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

#####

[2020-04-15 14:41] sivel commented on #68950
This would be impossible.  If we don't allow integer variable names, you would have to define it as a string, and the `number` test provided by jinja2 verifies if the value is an integer type.

You could alternatively use `k.isdigit()`, however on a non string, that would fail, so you would need to do something like `(k|string).isdigit() or k is number)`, or use the regex tests: `k|match('[0-9]+')

[2020-04-15 14:43] parkrish commented on #68769
I'm observing one more issue with respect to loading Action plugin. With the following playbook, the backup is not happening as the action plugin is not getting load properly.

---
- hosts: os10_sw1
  connection: network_cli
  gather_facts: No
  vars:
    output_dir: "/root/switch_dump/"

  tasks:
  - name: dump switch config
    dellemc_networking.os10_config:
      backup: yes
      backup_optio

[2020-04-15 14:45] samccann opened #68962 "Include demo/example repo options in getting started page"
##### SUMMARY

Ansible provides a couple of good resources for learning/experimenting with Ansible. Add these to getting started:

 https://github.com/ansible/product-demos
https://katacoda.com/rhel-labs

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2020-04-15 14:48] sivel commented on #68961
The problem here is an inconsistency in naming the versions for the role.  In this case `v1.0.5` vs `1.0.7`.  Because the role author changed the naming convention to remove the `v`, python is unable to compare those 2 versions, and as such Ansible rejects the versions that cannot be compared.

The author would have to re-tag all versions to use the same naming conventions, and then submit an issu

[2020-04-15 14:48] #68961 closed, assigned to nobody

[2020-04-15 14:49] sivel commented on #68953
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2020-04-15 14:49] #68953 closed, assigned to nobody

[2020-04-15 14:49] sivel commented on #68955
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2020-04-15 14:49] #68955 closed, assigned to nobody

[2020-04-15 14:50] toreanderson commented on #68950
Ok, in that case the "fix" would actually be a breaking change. It would probably need to emit a deprecation notice for a few releases to avoid blowing up in people's faces without warning, I assume?

It wouldn't be possible to instead patch `AnsibleJSONEncoder` to cast `int` to `str` before pasing them to the sort function, or perhaps add a command line option to `ansible-inventory` that disables

[2020-04-15 14:52] sivel commented on #68956
This is expected. The documentation states that for `url_username` and `url_password` the following:

As you are using FTP, those options do not apply, since they are only for HTTP basic auth.

To handle auth for FTP servers, this would require a new feature.  As such, I am going to reclassify this as a feature request.

[2020-04-15 14:56] sivel commented on #68959
Ansible requires that the controller be running a Linux/Unix like operating system, and it does not support Powershell modules on Linux/Unix, so you cannot execute a windows/powershell module against localhost.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-04-15 14:56] #68959 closed, assigned to nobody

[2020-04-15 15:02] DouglasHeriot opened #68963 "ansible-test injected executables are not executable when installed via pip - coverage data is not recorded"
##### SUMMARY

When running integration tests with `ansible-test`, a path entry is added to replace executables (eg. `ansible-playbook`, `ansible-inventory`) with `python.py`. This script sets up the environment for recording coverage data, before calling the real executable.

I think this was last touched in #53510

The directory [test/lib/ansible_test/_data/injector](https://github.com/ansible/a