[2020-03-23 11:01] hungluong5791 opened #68400 "uri module set string with masked content into content and json output"
##### SUMMARY
uri module set string with masked content into content and json output

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The module should return the json/content value with the correct values

##### ACTUAL RESULTS

The module seems to a

[2020-03-23 11:21] tanguy-legressus opened #68401 "Unsupported parameters for (vmware_guest_boot_manager) module: boot_firmware, secure_boot_enabled"
##### SUMMARY
Trying to add some features for Windows deployment, with the module "vmware_guest_boot_manager". Following the docs https://docs.ansible.com/ansible/latest/modules/vmware_guest_boot_manager_module.html.
Want to boot windows on EFI and with boot secure enabled.

Even if parameters are listed in the documentation, they seem to not be found/working while playing them.

##### ISSUE TYPE

[2020-03-23 11:51] mnecas commented on #68397
Just tested your version of SDK and again went without a problem.
Try to add to the task which runs the vm `cloud_init_persist: True`.

Found similar error here https://github.com/ansible/ansible/issues/32670.

[2020-03-23 12:01] Akasurde commented on #68401
Issue migrated to https://github.com/ansible-collections/vmware/issues/62

[2020-03-23 12:01] #68401 closed, assigned to nobody

[2020-03-23 12:36] justjais commented on #67458
@ilayaraja-p Thanks for logging the issue and yes you're correct, currently Ansible didn't error out in case of warnings thrown by IOS router and coz of which every time with warning scenario if you'll try to fire the play it'll always come as changed=True.
We've worked on ACL resource module for IOS and the respective module is merged in Ansible IOS collections, so I'd suggest you please use the

[2020-03-23 12:38] justjais commented on #67455
PR merged in `devel`, hence closing the issue

[2020-03-23 12:38] #67455 closed, assigned to justjais

[2020-03-23 12:38] okamidash commented on #68397
[code]

You are a star. This looks like it works! Thank you.

[2020-03-23 12:43] IPvSean opened #68402 "add [galaxy] section to master ansible.cfg example"
##### SUMMARY
the example found here: https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg

you can see an example of the `[galaxy]` header here-> https://docs.ansible.com/ansible/latest/galaxy/user_guide.html#downloading-a-collection-from-automation-hub

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg

[2020-03-23 12:59] Udayendu commented on #68390
@Akasurde Then its documents has to be upgraded with all required example.
Currently its not clear enough how it need to be executed.

[2020-03-23 13:09] mnecas commented on #68397
No problem happy to help.

[2020-03-23 13:09] mnecas commented on #68397
close_me

[2020-03-23 13:14] #68397 closed, assigned to nobody

[2020-03-23 13:28] mixe3y commented on #32265
+1

[2020-03-23 14:21] sivel commented on #68399
All filter, test, and lookups must be access via their FQCN.  The `collections:` keyword does not impact their use.  As such, it would need to be:

[code]

We are working on functionality, to provide automatic routing for plugins that existed in 2.9, so that they work without the FQCN, but that feature has not yet been merged (https://github.com/ansible/ansible/pull/67684).

If you have further qu

[2020-03-23 14:21] #68399 closed, assigned to nobody

[2020-03-23 14:22] sivel commented on #68388
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-03-23 14:22] #68388 closed, assigned to nobody

[2020-03-23 14:38] VKAlwaysWin commented on #68291
@Fred-sun I don't think that I have rights to do that. Could you please move it ?

[2020-03-23 14:38] jan-zmeskal opened #68403 "ovirt_disk should use new code to upload image"
##### SUMMARY
When running very basic scenario of disk upload with `ovirt_disk`, the plabook fails with "[Errno 111] Connection refused". However, when I log into oVirt webadmin interface, I can see that the disk has been uploaded. However, the upload definitely isn't complete because I tried to upload CentOS QCOW2 image that has almost 1GiB and the uploaded disk image on storage domain had only a

[2020-03-23 14:50] fortinetps commented on #68399
Thank you very much @sivel. Would this feature #67684 also apply to the usage of the filter plugins in the Jinja2 template (by using lookup in the playbook)?

[2020-03-23 15:01] nirs commented on #68403
The missing proxy is a temporary issue while the port to python 3 completes, but even when the proxy exists it is only a fallback with reduced functionality and performance when the upload runs on a host which cannot access the hypervisor (using transfer_url).

[2020-03-23 15:15] kkostenko opened #68405 "nxos module fails to gather_facts when admin vdc has no interfaces"
##### SUMMARY

Nexus 7k an other nexus platforms have a concept of VDC. It is often happens that all switch interfaces belong to VDCs, so interfaces are in a default admin VDC. When it happens, gather_facts aborts/fails to process interface list since it is empty. Tested on ansible 2.9.6 and devel 2.10.0.dev0.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos

##### ANSIBLE VERSION

[code

[2020-03-23 15:20] Random9389 commented on #46310
What worked for me was to use only ONE way to specify the vault password

in ansible.cfg with vault_password_file OR in ansible_vault command line with --vault-password-file OR using the env var ANSIBLE_VAULT_PASSWORD_FILE

I got the error when using two or more methods of providing the passowrd

[2020-03-23 15:39] tubemeister commented on #68139
Looks good to me

[2020-03-23 17:19] AlanCoding commented on #56226
the collection list command was merged, as a spiritual successor to this.

Otherwise I'm still completely unaware of how to use the doc command to list content in a collection. Didn't think that was intended to be supported.

[2020-03-23 17:19] #56226 closed, assigned to nobody

[2020-03-23 19:40] cisco-abrandel opened #68413 "Support for non-standard known_hosts file in network_cli"
##### SUMMARY
Would be nice to be able to specify where to look for an additional known_hosts file for the network_cli connection module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

network_cli

##### ADDITIONAL INFORMATION

Lets say I am using Jenkins to automatically deploy changes to the network, and this is all handled via a
Jenkinsfile checked into source control, along with a kno

[2020-03-23 19:42] sivel commented on #68413
Thank you very much for your interest in Ansible.

The `network_cli` connection plugin is now being maintained in the `ansible.netcommon` collection. The GitHub repository for this new collection can be found at https://github.com/ansible-collections/netcommon

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://g

[2020-03-23 19:42] #68413 closed, assigned to nobody

[2020-03-23 19:47] #66721 closed, assigned to sivel

[2020-03-23 20:18] sethbeauchamp opened #68414 "Cisco NXOS 9.3.1 netconf_config module produces error "Request without namespace and filter is an unsupported operation""
##### SUMMARY
When running a playbook again a cisco nexus 9k running NXOS 9.3.1 using the netconf_config module, an error is returned stating "Request without namespace and filter is an unsupported operation"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netconf_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS 10.15.3

##### STEPS TO REPRODUCE

[2020-03-23 21:04] #64905 closed, assigned to nobody

[2020-03-23 21:15] felixfontein opened #68415 "`ansible-galaxy collection install` creates all files with mode 0600"
##### SUMMARY
When installing a collection, all files are created with mode 0600. This is caused by the way the collection .tar.gz file is extracted: https://github.com/ansible/ansible/blob/d3ec31f8d5683926aa6a05bb573d9929a6266fac/lib/ansible/galaxy/collection.py#L1076-L1090 The file created by `tempfile.NamedTemporaryFile()` seems to have mode `0600` and is simply moved to the final destination w

[2020-03-23 21:17] basictheprogram opened #68416 "ERROR! couldn't resolve module/action 'sysctl'"
#67460 ### SUMMARY
ERROR! couldn't resolve module/action 'sysctl'. This often indicates a misspelling, missing collection, or incorrect module path.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
sysctl.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
management host macOS 10.14.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Task would run su

[2020-03-23 21:30] sivel commented on #68416
The following post to ansible-project is probably a worthwhile read:

https://groups.google.com/d/msg/ansible-project/eXsoOKEd0Mk/XTgbnPWbCAAJ

As well as this one from today to ansible-devel:

https://groups.google.com/d/msg/ansible-devel/RQ2d7htGwo0/SM7xA4T4AwAJ

The TL;DR is that as of today, we have moved 95% of all modules and plugins from this repository and into their own smaller collection

[2020-03-23 21:30] #68416 closed, assigned to nobody

[2020-03-23 22:40] nitzmahone commented on #68383
I'm not totallly opposed to this... My primary concern was dealing with the dual files of galaxy.yml/files.json (which one take precedence when both exist?), and having to load and ignore all the file metadata at runtime from files.json... But if we're willing to rally around galaxy.yml for all runtime needs (which means we have to start preserving it in thepublished artifacts), it's less of an is

[2020-03-23 23:14] jborean93 commented on #68415
This should preserve the mode in the collection artifact on install as well as preserve the executable bit when building the artifact https://github.com/ansible/ansible/pull/68418.

[2020-03-24 00:16] jborean93 commented on #68383
My thought around this was to ignore `MANIFEST.json` and `FILES.json` except when publishing the collection, installing from an actual Galaxy endpoint, or using verify to verify the file hashes. These scenarios are separate from runtime behaviour around routing and default groups which are the 2 PRs that have proposed adding a `meta/<file>.yml` file for each of their configs. This was we keep `gal

[2020-03-24 01:10] Fred-sun commented on #68291
@VKAlwaysWin Ok， I will try. Thank you very much!

[2020-03-24 02:40] pentatronix opened #68419 "Docs no longer reflect older inventory scripts."
##### SUMMARY

All links to inventory scripts are broken.  Documentation refers to inventory plugins (working) and inventory scripts, however all links to scripts are dead.
The pages refer to https://github.com/ansible/ansible/tree/devel/contrib/inventory, which no longer exists.

Example Page: https://docs.ansible.com/ansible/latest/user_guide/intro_dynamic_inventory.html#example-aws-ec2-external

[2020-03-24 03:40] jborean93 commented on #68185
@jhawkesworth is right in that we cannot fix the problem but I've opened https://github.com/ansible/ansible/pull/68421 to add this error to the online docs in case someone else comes across it.

[2020-03-24 05:13] jborean93 commented on #31030
I was hoping I could replicate the win_service issue under an async task but I've tried all sorts of combination of running with async + become, fire and forget and still can't replicate this particular problem. @briantist is the service you are trying to get the info for a special type of service or is this a problem with any builtin ones? Anything special about become, connection user, auth meth

[2020-03-24 07:02] gitbeyond commented on #66865
I think so too.I had the same problem.

[2020-03-24 08:33] ColFouks opened #68423 "'NoneType' object has no attribute 'get'"
##### SUMMARY
The gcp dynamic inventory fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.7 (Maipo)

##### STEPS TO REPRODUCE
Enable gcp_compute plugin in the inventory section of ansible.cfg:

[inventory]
enable_plugins = gcp_compute
Make inventory.gc

[2020-03-24 09:03] rolling1000ton opened #68424 "vmware_guest not setting boot firmware"
##### SUMMARY

The vmware_guest module doesn't set the boot firmware to EFI when VM is created from template or when the boot firmware is set to EFI after the creation of the VM. If the VM is created without a template the boot firmware is set just fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRO

[2020-03-24 09:05] HRio commented on #66679
@samdoran any update? thanks

[2020-03-24 09:13] #68303 closed, assigned to nobody

[2020-03-24 09:20] rolling1000ton commented on #68424
!component =vmware_guest

[2020-03-24 09:53] oh-c commented on #66039
Looking at legacy/base.py i can see that parse_duplex looks for "Duplex"
[code]
But looking at an output for "show interfaces" i don't see "Duplex" anywhere - I do however see "full-duplex"

[code]

It's probably IOS related - this test switch is running 12 something.

If i change the regex to `match = re.search(r'(\w+)-duplex', data, re.M)` i get duplex.

[2020-03-24 11:15] perimiter opened #68425 ""error in 'jsonfile' cache plugin while trying to create cache dir" when trying to run a playbook"
##### SUMMARY

when i try to run a playbook i get the following error :
`ERROR! error in 'jsonfile' cache plugin while trying to create cache dir /tmp/facts_cache : [Errno 17] File exists: '/tmp/facts_cache'`
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

centos 7

##### STEPS TO REPRODUCE

i'm not sure but m

[2020-03-24 11:19] cabrizio commented on #46310
Hi, If you have specified in ansible.cfg the vault password file like
`vault_password_file = .vault_pass`
then it is just enough to run
`ansible-vault encrypt_string  'mysecret'`

do not need to use --vault-password-file or --vault-id

[2020-03-24 11:27] fkempers opened #68426 "Unable to deploy VM, ESX hosts in maintenance"
##### SUMMARY
VMs are being deployed on a datastore that is on a host in maintenance.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware-guest

##### ANSIBLE VERSION
$ ansible --version
ansible 2.8.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/username/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location

[2020-03-24 11:36] Akasurde commented on #68426
Issue migrated to https://github.com/ansible-collections/vmware/issues/63

[2020-03-24 11:36] #68426 closed, assigned to nobody

[2020-03-24 11:36] Akasurde commented on #68424
Issue migrated to https://github.com/ansible-collections/vmware/issues/64

[2020-03-24 11:36] #68424 closed, assigned to nobody

[2020-03-24 11:39] Akasurde commented on #68423
Issue migrated to https://github.com/ansible-collections/ansible_collections_google/issues/179

[2020-03-24 11:39] #68423 closed, assigned to nobody

[2020-03-24 11:45] heuels commented on #66655
@groggemans, hi! By any chance, do you have `ipv6` package disabled on devices that are failing?

[2020-03-24 12:03] dimasmir commented on #66655
Hello, guys. Sorry, I changed my job and this issue has lost relevance for me. I also do not have access to equipment and I can not check something.

[2020-03-24 12:25] ryanmerolle opened #68427 "push_to_url"
##### SUMMARY
Create a module similar to get_url, but instead of getting, it would push.  This would be useful for pushing to ftp targets.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
url.py
get_url.py

##### ADDITIONAL INFORMATION
This is useful for managing legacy devices like PDUs which often have config management mechanisms controlled by uploading a file via ftp.  There are a whole

[2020-03-24 12:38] sathiarajah opened #68428 "ucs_vnic_template not able to create vnic template under an existing org"
##### SUMMARY
We are facing an issue whereby we are not able to create a vnic template under a org, e.g org-root/org-ucsmdndb.

Based on the error description, I am not sure why "lan-conn-templ" is appended to vNIC-A and it is not found.
"msg": "setup error: [ErrorCode]: 102[ErrorDescription]: configured object (org-root/org-ucsmdndb/lan-conn-templ-vNIC-A) not found "

##### ISSUE TYPE
- Bug Repor

[2020-03-24 13:55] jpmens commented on #68427
!component get_url
notabug
needs_contributor

move to collections

[2020-03-24 14:00] #68427 closed, assigned to nobody

[2020-03-24 14:01] maxrainer opened #68430 "ios L3 IPv4 address loopback interface"
##### SUMMARY
IOS L3 Interfaces Module not working with loopback interfaces.
Not possible to set IPv4 Address on Loopback Interface.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_l3_interfaces

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

different Cisco IOS versions tested
p.e: Cisco IOS XE Software, Version 17.01.01

##### STEPS TO REPRODUCE

IPv

[2020-03-24 14:46] #56800 closed, assigned to nobody

[2020-03-24 14:55] squidboylan opened #68434 "Ansible-test sanity fails with permissions denied on importer.py"
##### SUMMARY
`ansible-test sanity` fails due to permissions denied on an `importer.py` file. When I run `chmod +x venv-ansible-base/lib/python3.6/site-packages/ansible_test/_data/sanity/import/importer.py` that fixes the issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

OS: Ubuntu 18.04
Pyth

[2020-03-24 14:57] fabiog1901 opened #68435 "azure_rm_storageblob : upload fails if file is too big"
##### SUMMARY

azure_rm_storageblob : upload fails if file is too big

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_storageblob

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The file should upload regardless of its size

##### ACTUAL RESULTS

ansible-playbook 2.9.6
  config file = /etc

[2020-03-24 15:05] mnecas commented on #67933
@tnisan could you please check this issue, looks like storage issue.

[2020-03-24 15:07] maartenJacobs opened #68436 "cloudfront_facts unsupported operands error"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/amazon/_cloudfront_facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible is running in a Docker container based on the `williamyeh/ansible:ubuntu18.04` image.

[code]

##### STEPS TO REPRODUCE

1. Create an AWS account.
1. Create an IAM key pair for programm

[2020-03-24 15:15] kobaltfox opened #68437 "vmware_vm_shell does not successfully run nmcli commands"
##### SUMMARY
In a playbook to clone a VM guest, the final task is to use vmware_vm_shell to run three commands to update the DNS, add search domain, take down the interface and then bring it back up to allow NetworkManager to update resolv.conf. The command work fine directing on the target VM guest. However, then the task runs, no failures are returned, but no changes are made to the guest.

###

[2020-03-24 15:22] lexxxel commented on #56243
I Do have the same issue with awx under centos 7

[2020-03-24 15:29] jpmens commented on #66853
@ansibot are you broken? :)

[code]

[2020-03-24 15:31] D3DeFi commented on #68351
thank you for letting us know @Pectojin ! As of right now, Ansible is transitioning to using collections for community modules that will get released with Ansible 2.10.

All work regarding Zabbix modules have been moved to [community.zabbix](https://github.com/ansible-collections/community.zabbix) repo. I am not sure whether open PRs/issues will be migrated by Ansible team automatically or they wi

[2020-03-24 16:00] mattclay commented on #68434
@squidboylan This is most likely caused by an issue in setuptools, see https://github.com/pypa/setuptools/issues/2041

What version of setuptools is installed?

[2020-03-24 16:13] squidboylan commented on #68434
[code]

[2020-03-24 16:28] mattclay commented on #68434
@squidboylan Can you try downgrading setuptools to 44.1.0 and then uninstalling and re-installing ansible? You may need to use `--no-cache-dir` when installing.

[2020-03-24 16:32] bcoca commented on #68383
So i would:
 -  Put 'collection level' meta in manifest.json/galaxy.yml (create function that reads them keeping manifest as higher precedence for installed vs 'working copy')
 - use `meta/` files for plugin specific data, routing.yml and action_groups.yml at least

Putting everything in one file does not scale well in the end and creates a very complex format. While having simple specific files f

[2020-03-24 16:59] squidboylan commented on #68434
The sanity tests work if i do that. I had to delete the virtualenv and recreate it because when i reinstalled ansible with the new setup tools i still didnt have `ansible-test` in my path, but with a fresh virtualenv and setuptools 44.1.0 before installing anything it works fine.

[2020-03-24 17:03] mattclay commented on #68434
@squidboylan Thanks for confirming.

I'm closing this issue now since the problem is in `setuptools` and is being fixed there.

[2020-03-24 17:03] #68434 closed, assigned to nobody

[2020-03-24 17:04] radiopartizan opened #68438 "Bug report"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-03-24 17:05] radiopartizan opened #68439 "Doc Report"
##### SUMMARY

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2020-03-24 17:05] radiopartizan opened #68440 "Feature request"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-24 17:26] #68438 closed, assigned to nobody

[2020-03-24 17:27] #68439 closed, assigned to nobody

[2020-03-24 17:27] #68440 closed, assigned to nobody

[2020-03-24 17:32] sivel commented on #68419
I would likely update the stable releases to point at their respective stable branches on github, but I question linking them in the current devel docs. They have been deprecated and unsupported for several releases now, we should be pointing people to inventory plugins.

[2020-03-24 18:12] austin2153 commented on #65409
any movement on this? I have the same problem targeting a vDS portgroup
"Failure validating OVF import spec: Host did not have any virtual network defined."

[2020-03-24 18:50] jborean93 commented on #31030
No worries appreciate the info and this falls in line with what I’ve seen before, where it only happens when you aren’t ready to debug it :)

[2020-03-24 20:07] #55997 closed, assigned to nobody

[2020-03-24 20:07] mamunozgonzalez commented on #59176
Can you try the latest version (available in collections)? This problem should be fixed already

(Thanks @frankshen01 for the info)

[2020-03-24 20:14] jctanner opened #68447 "[WIP] TEST ISSUE PLEASE IGNORE"
##### SUMMARY
Please verify the new ansibot code is working!!!

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
terraform
k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-03-24 20:17] jctanner commented on #68447
bot_skip

[2020-03-24 21:01] geerlingguy commented on #68383
@bcoca - Yes and no... I'm already getting confused about where certain metadata about my collection should go. Part of that is the fact that things are not all standardized yet, but part of it is that it seems like there are currently already a couple locations for metadata, and (as mentioned in the original comment on this issue) it looks like there eventually may be 3 or 4 (or more) files to st

[2020-03-24 21:45] MichaelRiss commented on #67588
I'm not sure what to do about the ansibot, it either does not detect any affected file or it detects many more. I leave it to calm down now for a while in case it's a bug in ansibot.

[2020-03-24 21:47] patrakov commented on #67588
It's expected because the affected file has been moved into a different repository.

[2020-03-24 21:53] k3s4 commented on #38786
me the same - any solution for that?

[2020-03-24 21:56] sathiarajah commented on #68428
!component =lib/ansible/modules/remote_management/ucs/ucs_vnic_template.py

[2020-03-24 22:08] #66803 closed, assigned to nobody

[2020-03-24 22:08] #68415 closed, assigned to nobody

[2020-03-24 22:32] #66534 closed, assigned to thaumos

[2020-03-24 22:39] groggemans commented on #66655
@heuels I can confirm that it's failing on devices that have ipv6 disabled, and working again when I enable the ipv6 package!

[2020-03-24 22:43] s-hertel commented on #12233
I'm unable to reproduce this using https://github.com/ansible/ansible/blob/stable-2.9/contrib/inventory/ec2.py. If your stopped instances aren't showing up (whether via `all_instances = True` or `instance_states = stopped` in ec2.ini), what is probably happening is that the stopped instances don't have the attribute you're using as the address of the host. By default this is the public DNS name or

[2020-03-24 22:43] #12233 closed, assigned to nobody

[2020-03-24 23:01] MichaelRiss commented on #67588
Oh, true! I didn't keep track of the recent changes, thanks for the heads up!
Also, it's not easy to figure out where this file/module has moved to. That will take me a while more, I guess.

[2020-03-24 23:42] MichaelRiss commented on #67588
I think I got it:
https://github.com/ansible-collection-migration/ansible.unix/blob/master/plugins/modules/mount.py
But this https://github.com/ansible-collections/overview/blob/master/README.rst indicates that a mayor reorganization is on the way and looking at the scope of it, it will most likely take some time until bug fixing makes sense again.

[2020-03-25 00:45] JieX19 commented on #67691
Hi @mrFish123, I would like to check with you if the problem still occurs? I ran the playbook in the same format as yours, it worked well and the hostname is changed to "myhostname" successfully.

Because I cannot reproduce the errors, feel free to reach out to me if you have any questions.

Thanks,
Jie

[2020-03-25 02:09] ryanmerolle commented on #68427
@jpmens why was this feature idea closed?

[2020-03-25 05:35] Akasurde commented on #68437
Issue migrated to https://github.com/ansible-collections/vmware/issues/71

[2020-03-25 05:35] #68437 closed, assigned to nobody

[2020-03-25 06:45] renepardon opened #68453 "Ansible 2.9.6 on localhost fails with: failed to find the executable specified sh. Please verify if the executable exists and re-try"
##### SUMMARY

After updating my Ansible and Python to latest versions on Mac OS Catalina, I receive this strange error when executing my playbook:

Changing the`ansible.cfg` file to contain **bash** instead of **sh** doesn't work either. Removing the *executable* setting at all works.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- pre_task
-- package

##### ANSIBLE VERSION

[code]

#####

[2020-03-25 06:49] vburamdo commented on #64250
Can someone please review this issue?

[2020-03-25 06:49] jpmens commented on #68427
I tagged it as above; ansibot closed it. I assume because of the combination of tags and/or becuase somebody agreed with me that this is something for the new Ansible Collections.

[2020-03-25 07:55] mkrizek commented on #68453
You need to specify full path in `executable`, not just `sh`. Furthermore, the default value [0] for `executable` already is `/bin/sh` so no need to set it.

[0] https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-executable

[2020-03-25 07:55] mkrizek commented on #68453
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-03-25 07:55] #68453 closed, assigned to nobody

[2020-03-25 08:10] renepardon commented on #68453
Thank you @mkrizek
As mentioned by removing the executable this one works but you also saw the follow up error?

fatal: [127.0.0.1]: FAILED! => {"changed": false, "msg": "Could not import the pyhelm python module. Please install `pyhelm` package."}
        to retry, use: --limit @/Users/renepardon/Projects/***/installer/setup.retry

Should i create a new ticket for this or is this also a user ques

[2020-03-25 08:28] mkrizek commented on #68427
As of March 9, 2020, we are no longer accepting new modules to this repository. New modules will need to be contributed to a repository for an Ansible collection responsible for this functionality.

In this case, https://github.com/ansible-collections/community.general is probably the best location.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.free

[2020-03-25 08:29] mkrizek commented on #68453
The `helm` module now lives in https://github.com/ansible-collections/community.general. Also see https://github.com/ansible/ansible/issues/37148.

[2020-03-25 08:36] yewwayne commented on #54162
Still an issue in 2.9.6. There's no way to pass a literal `$HOME` using command module.

[2020-03-25 08:47] daneaton-ByLight commented on #55823
Is creating an AWS Transit Gateway Attachment going to be supported? It is critical to automating the deployment of a Transit Gateway.

[2020-03-25 09:42] mjuenema commented on #53862
@ibarrere I had a similar problem and decided to write a filter that can identify lines in Cisco IOS style configurations by regular expression: https://github.com/mjuenema/ansible-filter-iosconf.
This can be used to generate a list of lines that are to be removed in an idempotent way.

[2020-03-25 10:05] fernandomullerjr opened #68454 "ansible task gets failed for some hosts devices errors='surrogate_then_replace' module ios_command"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)
[root@poadtcsrv06 ~]# uname -a
Linux poadtcsrv06.corp 3.10.0-1062.12.1.el7.x86_64 #1 SMP Tue Feb 4 23:02:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
[root@poadtcsrv06 ~]#

##### STEPS TO REPRODUCE

[

[2020-03-25 10:20] tweippert commented on #68147
The same error exists if you use the ios_facts module (ansible >2.9) and try to gather vlan ressources.

[2020-03-25 11:03] worldsayshi commented on #33831
Can confirm that `ANSIBLE_VAULT_PASSWORD_FILE=path_to_file ansible-playbook my_conf.yml` can be used as workaround.

[2020-03-25 12:37] Maunty opened #68455 "gcp_compute_disk fails with family images usage."
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_disk
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Created disk from latest debian-8 image

##### ACTUAL RESULTS

[code]

[2020-03-25 13:55] geerlingguy opened #68457 "Allow module shorthand (no FQCN) if there's only one collection providing the module"
##### SUMMARY

This might be an immediate no-go, but please hear me out.

There are numerous times when I want to do something like run a quick ad-hoc command, for example to assign a privilege to a database user, and I currently can do that in Ansible < 2.10 by running:

[code]

In the new world, assuming I have ansible installed at devel and the community.general collection installed:

[code]

T

[2020-03-25 14:22] perimiter commented on #68425
!component

[2020-03-25 14:23] bramthedev commented on #63899
I still have this issue, any progress @Fred-sun ?

[2020-03-25 14:44] sebcmp commented on #49408
Having the same issue on macOS/Darwin.

`is_unarchived()` is parsing the output of zipinfo and fails to convert the filename with `_text.to_text()`

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/unarchive.py#L394

Example zip file: https://download.sketchapp.com/sketch-64-93537.zip

zipinfo on macOS with the given zip outputs iso-8859-1
[code]

Work-around using command m

[2020-03-25 14:46] Fred-sun commented on #63899
@haiyuazhang Could you help me with this problem? Thank you very much!

[2020-03-25 15:12] FedericoOlivieri commented on #50334
@kitos9112 I have a working version on the above link. Please feel free to have a look. I also have integration tests for my local test env. I need to make them good for a PR, but in case anyone want to give a try, you can copy the below playbook and update url, floder_path,user and token.

There are at least 2 requirements for this module:

- git loca repo must be already initialized
- ssh finger

[2020-03-25 15:12] FedericoOlivieri commented on #50334
`---
- name: git_cp integration tests
  hosts: localhost
  gather_facts: false

  tasks:
    - file:
        path: '{{ item }}'
        state: touch
      loop:
        - test.txt
        - tax.txt

    - name: HTTPS +add +mode -push_option
      register: result
      git_cp:
        folder_path: /Users/federicoolivieri/git/git_test_module
        user: Federico87
        token: myapitoken

[2020-03-25 15:25] Ahmed-Hussein-Karam opened #68459 "Add tag description"
##### SUMMARY

Sometimes tag name needs more description to specify accurately when to use this tag. For example, tags like `urgent`, `severe`, `low_priority` don't have a concrete meaning that specifies accurately the task category. This can be a problem if the playbook is shared with several team members, and someone wants to add a task to the playbook. Now, he/she might be hesitated whether to

[2020-03-25 16:23] goneri commented on #63913
Hi,

Thank you for your issue report. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two projects. Could you please reopen the issue ther

[2020-03-25 16:23] #63913 closed, assigned to nobody

[2020-03-25 16:24] goneri commented on #65409
Hi,

Thank you for your issue. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two projects. Could you please reopen the issue there:

htt

[2020-03-25 16:45] jbguerraz opened #68463 "Role deduplication and dependencies"
##### SUMMARY
When a role is excluded due to deduplication, its dependencies are still executed when they're  set as `allow_duplicates`.

dependency graph: http://tiny.cc/qydwlz
playbook run gist: https://gist.github.com/jbguerraz/7165cce6b39ea05798486ba545139f3c

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
roles

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIR

[2020-03-25 17:00] funkyfuture opened #68464 "synchronize module can't used relative path for ansible_ssh_private_key_file"
##### SUMMARY

Unlike the general connections to execute tasks, the `synchronize` module fails with `use_ssh_args` and having a relative path set for the `ansible_ssh_private_key_file` variable.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

`synchronize`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- client: Ubuntu 19.10
- target: Ubuntu 18.04

####

[2020-03-25 17:01] jbguerraz commented on #68463
actually the `allow_duplicates: true` is used because the variable used as value of the dependency variable isn't substituted prior to comparison for deduplication logic ( cf https://github.com/jbguerraz/ansibledependencies/blob/master/roles/job-builder/meta/main.yaml#L2 ); which maybe worth a distinct issue ?

[2020-03-25 17:29] jbguerraz opened #68465 "Role deduplication and dependency variable"
##### SUMMARY

Actually, the same than https://github.com/ansible/ansible/issues/12634 raised by https://github.com/ansible/ansible/issues/68463#issuecomment-603962555

Pasting summary from #12634 for confort:

Ansible executes roles with dependencies in an unexpected way. Given the following:
A role called common which accepts a parameter.
A role called role1 which depends on common (the dependen

[2020-03-25 17:43] earlruby commented on #67620
@gardar Are you actively working on this? I'm also looking for a solution that uses Ansible. I found https://github.com/vmware/vhpc-toolkit which is a stand-alone tool that does this. It makes calls to pyvmomi to make these changes, the same as other Ansible modules.

[2020-03-25 17:45] jfcgaspar commented on #66520
Version 2.9.6 still has this issue.

[2020-03-25 17:47] jfcgaspar commented on #59512
Version 2.9.6 still has same issue

[2020-03-25 18:03] Pectojin commented on #68351
Sounds good. I've re-opened there. Closing here.

[2020-03-25 18:03] #68351 closed, assigned to nobody

[2020-03-25 18:09] #68185 closed, assigned to nobody

[2020-03-25 18:44] jfcgaspar commented on #59512
@ganeshrn

I've spent the last couple hours trying to pinpoint the exact version where this bug is introduced and it appears to have been introduced in version 2.5.3.
Prior to 2.5.3 iosxr_command execution on the remote host takes ~2-3 seconds. Tested on 2.5.1 and 2.5.2.

All versions after 2.5.2, including 2.5.3 up to the newest release 2.9.6, the execution of iosxr_command on the remote host tak

[2020-03-25 18:48] goneri commented on #67620
Hi,

Thank you for your issue report. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two projects. Could you please reopen the issue ther

[2020-03-25 19:53] wrprice commented on #68366
I am also encountering

when trying to use `auth_source: cli`

[2020-03-25 20:10] mitchellroe opened #68471 "Recursive "copy" module "mode=preserve" fails on symlinks"
##### SUMMARY

Given a directory containing files and symlinks, if one tries to copy the directory recursively using the `copy` module and sets `local_follow=no` and `mode=preserve`, the copy module fails with:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

`lsb_release -a`:
[code]

##### STEPS

[2020-03-25 20:23] movinalot commented on #68428
I was able to reproduce the error. The issue, I believe, is related to the Organization. If the Organization ucsmdndb is not present the VNIC creation will fail.

The ucs_vnic_template module requires that the destination UCS Manager Organization be present.

Running the playbook after creating the Organization ucsmdndb the VNIC was created successfully.

[2020-03-25 20:27] movinalot commented on #68428
A question that could follow is

Should the destination Organization of a pool, policy, template, etc. in UCS Manager be created automatically if it does not exist?

I believe that Ansible doctrine would suggest no since that would be impacting more than the VNIC object and its related objects.

Use the ucs_org module to create the Organization ucsmdndb prior to trying to create the VNIC template.

[2020-03-25 21:01] samccann opened #68473 "Document how to convert legacy roles to collections"
##### SUMMARY

Add the documentation in the next comment to the Ansible docs.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2020-03-25 21:01] samccann commented on #68473
# Migrating Roles to Roles in Collections

This document stands as a guide for Content Authors to migrate “legacy style” Ansible Roles, which we will refer to as Legacy Roles throughout this document, into an Ansible Role that’s a part the more featureful and flexible Ansible Collection format used to distribute Ansible Content now and into the future.

## Legacy Role Structure
The first thing we

[2020-03-25 21:33] geerlingguy commented on #68473
@samccann - This looks helpful (and it might also prod someone to build a tool to at least convert simple roles automatically), but I am still interested in figuring out how to convert roles on Ansible Galaxy to collections, using the same name—right now it seems there's no way to do that unless I delete the role first, which would affect all my role's existing users.

This might not be the right

[2020-03-25 21:34] geerlingguy commented on #68473
(Also, just wondering, by the fact that this documentation calls out roles as being "Legacy Roles", does that mean the idea of roles being able to be used separate from collections (e.g. standalone where your playbook has a roles directory alongside it) will also be deprecated at some point?

[2020-03-25 22:00] geerlingguy commented on #62847
Related (closed) UX issue when trying to use collection-based modules in roles: https://github.com/ansible/ansible/issues/68198

[2020-03-25 22:08] geerlingguy commented on #68198
I'm going to keep campaigning for this—using roles without this functionality is incredibly annoying, and yes I know there are workarounds; they all require a new level of verbosity and rework, when my playbooks do not require this.

Additionally, assuming you use Ansible Community Distribution (ACD), which will continue to ship and _supposedly_ work without specifying `collections` in the top lev

[2020-03-25 23:12] alok15ee opened #68475 "jenkins_plugin failing with "Connection timed out" error"
##### ISSUE TYPE
- Bug Report

##### SUMMARY
certain plugin installation fail with:
`failed: [custom-jenkins] (item={u'name': u'artifactory'}) => {"details": "Connection failure: timed out", "failed": true, "item": {"name": "artifactory"}, "msg": "Cannot install plugin."}`

##### COMPONENT NAME
jenkins_plugin module

##### ANSIBLE VERSION
[code]
Tested with 2.6 and 2.7
##### CONFIGURATION

[code]

[2020-03-26 01:00] grossws opened #68478 "lookup/query filter not found in jinja template"
##### SUMMARY
`lookup`/`query` fails to work in expression like `[1, 2, 3] | lookup('cartesian', ['a', 'b'])` (as in example [1]) with `template error while templating string: no filter named 'lookup'`.

[1]: https://docs.ansible.com/ansible/latest/plugins/lookup/cartesian.html

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lookup_plugins

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[c

[2020-03-26 01:31] #21967 closed, assigned to nobody

[2020-03-26 02:29] lonico commented on #56049
fixed by #58531 in 2.9

Can this issue be closed?

[2020-03-26 02:59] #40185 closed, assigned to nobody

[2020-03-26 04:46] sky-joker opened #68483 "Cisco ACI module support policy"
##### SUMMARY

Is there a document that lists the Platform Series or Software version supported by the ACI module?(Or a description of the support policy)
https://www.cisco.com/c/en/us/td/docs/switches/datacenter/aci/apic/sw/recommended-release/b_Recommended_Cisco_ACI_Releases.html

##### ISSUE TYPE

- Documentation Report

##### COMPONENT NAME

aci_tenant

##### ANSIBLE VERSION

[code]

##### ADD

[2020-03-26 06:42] fernandomullerjr commented on #68454
The full traceback is:
Traceback (most recent call last):
  File "/bin/ansible-connection", line 304, in main
    conn.update_play_context(pc_data)
  File "/usr/lib/python2.7/site-packages/ansible/module_utils/connection.py", line 185, in __rpc__
    raise ConnectionError(to_text(msg, errors='surrogate_then_replace'), code=code)
ConnectionError: Socket is closed
fatal: [CIOCTROLT01]: FAILED! => {

[2020-03-26 06:48] heuels commented on #66655
@groggemans, thanks! I will then go ahead and mark this issue as a duplicate of #64958.

---
duplicate_of 64958

[2020-03-26 08:19] markatdxb opened #68484 "vmware_guest_find slow"
##### SUMMARY

running vmware_guest_find takes extensive long time - in out environment with 4000+ VMs it takes around 7 minutes to get the results. Running for example PowerCLI query takes a second to get the result. Is there any way to improve the performance of this module for large environments?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest_find

##### ADDITIONAL INFORMA

[2020-03-26 08:28] Akasurde commented on #61690
Issue migrated to https://github.com/ansible-collections/vmware/issues/75

[2020-03-26 08:28] #61690 closed, assigned to nobody

[2020-03-26 08:43] onitake commented on #65734
!component -test/support/integration/plugins/lookup/hashi_vault.py

[2020-03-26 08:49] justjais commented on #68454
@fernandomullerjr I see you're using `connection: local`, can u plz try the same with `network_cli` connection (ref: https://docs.ansible.com/ansible/latest/plugins/connection/network_cli.html).

[2020-03-26 09:00] fernandomullerjr commented on #68454
Hi, when i use network_cli i got these errors:

`ansible-playbook 2.9.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible-playbook
  python version = 2.7.5 (default, Aug  7 2019, 00:51:29

[2020-03-26 09:28] sky-joker commented on #68484
Hi @markatdxb

Thank you for this reporting!
The Ansible VMware modules have moved into Collections.
Could you please re-create this issue the following repo.

https://github.com/ansible-collections/vmware

[2020-03-26 09:29] cocoa-maemae commented on #60577
I had a same issue on macos. After uninstall ansible and reinstall it globally by using pip, and then resolved the issue.

[2020-03-26 09:59] akhayyat opened #68486 "jinja2_native=True with jinja comments duplicates template contents!"
##### SUMMARY
With `jinja2_native` enabled, a Jinja2 comment (`{# comment #}`) causes duplication of template contents.

Disabling `jinja2_native` produces the expected output.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Jinja2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Debian testing amd64

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED

[2020-03-26 10:06] mkrizek commented on #68486
This has been fixed upstream, please update Jinja2 to version 2.11 which fixes the issue.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-26 10:06] #68486 closed, assigned to nobody

[2020-03-26 10:09] jan-zmeskal opened #68487 "ovirt_disk upload with wait set to false always fails"
##### SUMMARY
When you upload disk to RHV using `ovirt_disk` module, it always fails with error if you set `wait` parameter to `false`. However, the disk is actually successfully uploaded.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ovirt_disk

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL 7.8
rhvm-4.3.9.0-0.1.el7.noarch

##### STEPS TO REPRODUCE
F

[2020-03-26 10:30] sky-joker opened #68488 "Cisco ACI Collections aci_contract_subject module bug"
##### SUMMARY

I couldn't find the Cisco ACI Collections repo, so create an issue here.
This problem occurs because the `Deprecated option` has not been completely removed.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

aci_contract_subject

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

The following example playbook c

[2020-03-26 10:49] onitake commented on #65734
Migrated to community.general .

[2020-03-26 10:49] #65734 closed, assigned to nobody

[2020-03-26 10:57] Christop1964 opened #68489 "Ansible low response on kvm guests"
##### SUMMARY
Hello,
I'm new here, we using ansible since some month on a virtual KVM (Kernel based virtual machine).

Since we using the official Redhat qow2 image for Rhel 7.6 and Rhel  7.7  we see that ansible hangs intermittent when we run a playbook against a host with such qcow2 image.
We using the -vvvv option when we run the playbook to see more information at the log about the hang on the

[2020-03-26 11:12] mkrizek commented on #68478
The error you are getting is expected as lookups are not filters and cannot be used as such.

The example you are pointing at seems to be incorrect and should be fixed. The `cartesian` lookup plugin now lives in the community.general collection at https://github.com/ansible-collections/community.general so the example in the documentation needs to be fixed there.

The workaround you listed is the

[2020-03-26 11:12] #68478 closed, assigned to nobody

[2020-03-26 11:34] akhayyat commented on #68486
Shouldn't the documentation reflect that?

Currently, the documentation says:

https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-jinja2-native

[2020-03-26 11:44] funkyfuture commented on #68464
!component lib/ansible/modules/files/synchronize.py

[2020-03-26 11:57] Akasurde commented on #68484
Issue migrated to https://github.com/ansible-collections/vmware/issues/77

[2020-03-26 11:57] #68484 closed, assigned to nobody

[2020-03-26 11:58] grossws commented on #68478
@mkrizek, thanks for explanation. I'll create PR there.

Will ansible use this collection in default installation in future? Could you point me to some roadmap or whitepaper about it?

[2020-03-26 12:02] monsoft commented on #57182
Yes, it works when you run rsync daemon as "rsync://" indicate that you will use daemon. If you want to do rsync over ssh  in push mode it will not work.

[code]
Produce error:
`"rsync: failed to connect to 192.168.56.46 (192.168.56.46): Connection refused (111)\nrsync error: error in socket IO (code 10) at clientserver.c(125) [sender=3.1.2]\n",`

According to debug, this task produce code:
`/usr/

[2020-03-26 12:06] mkrizek commented on #68478
This should answer your questions:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/ansible-devel/oKqgCeYTs-M/cHrOgMw8CAAJ

[2020-03-26 12:15] itaylaufer opened #68490 "Password lookup doesn't fully enforce chars parameter"
##### SUMMARY

When using password lookup with default chars=ascii_letters,digits,punctuation the result won't force that each one of the categories will be in the generated password.

For example, some passwords won't have digits in them, others won't have special punctuation chars in them.

##### ISSUE TYPE
- Feature Idea
- ~Bug Report~

##### COMPONENT NAME

password lookup plugin

##### ANSIBL

[2020-03-26 12:27] mkrizek commented on #68486
That is still correct, native types were introduced in Jinja 2.10. I don't think it's maintainable to duplicate upstream changelog in our documentation.

[2020-03-26 13:07] willtome commented on #50334
I have written a role to handle this in the past. A module would be much better but I thought I’d link to the role here in case it helps with and logic or implementation of a module. https://github.com/willtome/ansible-git

[2020-03-26 13:24] gundalow commented on #68478
Docs updated in https://github.com/ansible-collections/community.general/pull/55 Thanks @grossws

[2020-03-26 13:28] FedericoOlivieri commented on #50334
I believe `git_acp` (add/commit/push) sound better than `git_cp`

[2020-03-26 13:49] imareporter opened #68491 "yum: download_only option does not work if package is already installed"
##### SUMMARY

Using yum's `download_only` option will not apply if the package is already installed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Even if the package is installed, `yum` should still download the package into the specif

[2020-03-26 13:54] maxrainer opened #68492 "module tower_job_template missing custom_virtualenv variable"
##### SUMMARY
Module tower_job_template is missing the variable custom_virtualenv
It does neither exist in documentation nor in the module itself.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tower_job_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible Tower 3.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

the variable custom

[2020-03-26 14:21] FedericoOlivieri commented on #50334
PR Raised: https://github.com/ansible/ansible/pull/68493
@kitos9112 @samdoran

[2020-03-26 15:52] samccann commented on #68473
Good questions. @abenokraitis - any words o wisdom here?

[2020-03-26 16:45] felixfontein opened #68495 "ansible-test: strange failures on CI when adding new module_utils directory"
##### SUMMARY
In ansible-collections/community.general#49 I am adding a new module_utils directory, a Python module in there, and at the same time use that new module_utils in some Ansible modules.

Example commit: 7341b4a1e48bf6e652dd5f70c5a5a5808d73de7e
CI run: https://app.shippable.com/github/ansible-collections/community.general/runs/172/summary/console

All CI nodes (at least the ones I rando

[2020-03-26 16:52] sivel commented on #68490
As it is written, this isn't a functionality of the password lookup.  As such, this is a request for a new feature.

`chars` only defines a character pool to use, it doesn't indicate that at least one character from each set will be present in each password

[2020-03-26 16:55] sivel commented on #68489
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-03-26 16:55] #68489 closed, assigned to nobody

[2020-03-26 18:21] yamjoepobuda opened #68497 "Error in repo when using fortios_system_admin to configure ssh_public_key"
##### SUMMARY
When attempting to add ssh keys (ssh_public_key1, ssh_public_key2, ssh_public_key3) to adminisistrators using the fortios_system_admin module, the task errors out with a non-descriptive message. Running the same play with "ssh_public_key1" line commented out, the task completes successfully.

I've attempted to define each of the three keys individually, as well as all 3 keys at the s

[2020-03-26 19:01] gardar commented on #67620
@earlruby I haven't had the time to look at this yet and I'm unsure when I will..  So feel free to give it a shot if you have the opportunity to do so.

Have you managed to trace the functionality in vhpc toolkit to see if it would be of any use?
I'm not sure if you saw the snippet I linked above, but I think it might be worth looking at.

Calling the vhpc toolkit from ansible could also be a work

[2020-03-26 19:21] s-hertel commented on #51687
bot_status

[2020-03-26 19:24] felixfontein opened #68499 "ansible-test does not work with collections installed by galaxy inside a git repository"
##### SUMMARY
For example in `ansible.netcommon` installed with `ansible-galaxy collection install ansible.netcommon`:
[code]

That collection has both unit and integration tests, and some plugins and modules.

For source collections checked out with git, ansible-test works.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION
[code]

[2020-03-26 19:46] #66655 closed, assigned to nobody

[2020-03-26 20:08] srjturner opened #68500 "Special handling of SELinux fails in Python 3"
##### SUMMARY
Ansible's [special handling of file systems for SELinux](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-selinux-special-fs) relies upon matching a target path to one of the system's mount points. This does not work when running with Python 3.

In module_utils/basic.py the function `is_special_selinux_path()` looks for the mount point that is the pare

[2020-03-26 21:13] geerlingguy commented on #61546
To those following this issue: The PR has been moved over to the kubernetes collection here: https://github.com/ansible-collections/kubernetes/pull/61

This issue should be closed.

[2020-03-26 21:48] bcoca commented on #54162
no need to update, while ticket is open the issue is supposed to persist, leaning to this not being a bug, since the substitution is intended in all the cases discussed.

I have not really seen a use case for the variables not to be expanded, just demonstrations on when they are.

[2020-03-26 21:58] rfc1459 commented on #54162
Yet the [documentation](https://docs.ansible.com/ansible/latest/modules/command_module.html#command-module) says otherwise:

It all boils down to whether the documentation is correct (then this is definitely a bug) or wrong (then it should be *very* clear that `$HOME` is a special case and will be expanded unconditionally).

By the way, here's the original use case: I need to send a command to a r

[2020-03-26 22:58] #68447 closed, assigned to nobody

[2020-03-26 23:05] goneri commented on #63876
Hi,

Thank you for your issue. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two projects. Could you please reopen the issue there:

htt

[2020-03-26 23:07] goneri commented on #66958
Hi,

Thank you for your issue. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two projects. Could you please reopen the issue there:

htt

[2020-03-26 23:07] #66958 closed, assigned to nobody

[2020-03-27 02:13] manikagita commented on #58671
@Thulium-Drake did you find a solution for this question? I also wanted to add a new port to an existing instance via ansbile. Couldn't get any pointers.

[2020-03-27 04:13] developermj commented on #68246
I too am having this same problem. Did a new issue get created?

[2020-03-27 04:29] jborean93 commented on #68246
See https://github.com/ansible-collections/ansible.windows/issues/32

[2020-03-27 07:10] #64958 closed, assigned to nobody

[2020-03-27 08:07] prashansahans commented on #68305
try to include force_basic_auth

[2020-03-27 08:27] JonTheNiceGuy commented on #68497
Hi @yamjoepobuda unfortunately, due to the way the FortiOS handles errors, it doesn't return them through the API. What you're probably better doing, particularly as you've got this in a test environment, is to do this, before you run the above playbook.

1. SSH to or access the HTTPS terminal on one of the FortiGates in question.
2. Execute this command `diagnose debug enable`
3. Execute this com

[2020-03-27 08:35] fernandomullerjr commented on #68454
i managed to use the network_cli module
but i stuck on this error:

`
ansible-playbook 2.9.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible-playbook
  python version = 2.7.5 (default,

[2020-03-27 09:26] Thulium-Drake commented on #58671
Not completely, in the environment I have, I make the _exact_ same API call (using my role, check my profile :-)), except I add more ports to the ports list.

It's not ideal, but depending on your environment, it might just work

[2020-03-27 09:31] JonTheNiceGuy opened #68506 "EC2 dynamic inventory fails when crossing MITMProxy"
##### SUMMARY
I'm using the EC2 Dynamic Inventory in AWX, and have configure AWX to use MITMProxy. When I try to receive a dynamic inventory, I get `TypeError: a bytes-like object is required, not 'str'`, but I don't get this issue when the proxy is disabled, nor do I get this issue when trying to access an Azure Dynamic Inventory using the same environment

##### ISSUE TYPE
- Bug Report

##### CO

[2020-03-27 09:55] JonTheNiceGuy commented on #68506
!component plugins/inventory/ec2.py

[2020-03-27 10:16] wojtek0806 commented on #64687
bug_resolved

[2020-03-27 10:22] Fred-sun commented on #68435
@fabiog1901 Thank you for taking the time to report this question. How big is the file you uploaded? I will try again, thank you!

[2020-03-27 11:19] rht-jbittner opened #68508 "Foreman inventory does not sync empty groups"
##### SUMMARY
Foreman dynamic inventory script does not sync empty host groups.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Foreman/Red Hat Satellite dynamic inventory

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Create empty host group in Foreman/Red Hat Satellite and sync inventory. Groups without hosts are not synced.

##### EXPECTED RESULTS

All groups synced. Syncing em

[2020-03-27 11:32] llsousa opened #68509 "Module authorized_key fails when the user doesn't exist on the system and the path isn't the default"
##### SUMMARY

Module authorized_key fails when the user doesn't exist on the system and the path isn't the default.

The problem, supposedly, was fixed on issues #11257 and #30112, but on the current version 2.9.6, still occurs. Could this be a regression?

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

Module authorized_key.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

###

[2020-03-27 12:24] javcasalc opened #68510 "NETCONF support for Cisco IOS-XE"
##### SUMMARY
ansible netconf_get and netconf_config modules seem to fail with Cisco IOS-XE routers.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- netconf_get
- netconf_config

##### ANSIBLE VERSION

[code]

##### CISCO NETCONF TEST
[code]

##### CISCO IOS VERSION
[code]

##### ANSIBLE CONFIGURATION
 This is the playbook file:
[code]

The role main.yml task file:
[code]

And this is the i

[2020-03-27 12:34] ganeshrn commented on #68510
Please share the device interaction logging to identify which RPC is failing. Refer the global setting here to enable the logging https://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#enabling-networking-device-interaction-logging

needs_info

[2020-03-27 12:36] robreardon opened #68511 "win_xml module: 'Unhandled exception' error at line 230. Set-StrictMode related."
##### SUMMARY
win_xml module throws an error when trying to add a new attribute to an element

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_xml module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

AWX Docker container 'awx_task', version 9.2.0 from Docker Hub.

I suspect that this error is due to the 'Set-StrictMode -Version 2' setting being enable

[2020-03-27 13:31] ganeshrn commented on #68510
Also since the modules are moved to netcommon repo the right place to raise this issue is https://github.com/ansible-collections/netcommon

[2020-03-27 14:05] javcasalc commented on #68510
This is the cisco router log with some debug enabled:
[code]

And please find attached the ansible debug file.

J.
[netconf_ansible.log](https://github.com/ansible/ansible/files/4393901/netconf_ansible.log)

[2020-03-27 15:09] ToadKillerDog1 opened #68513 "Wrong identification of user on remote machine."
##### SUMMARY
win_command use local group to perform tasks instead of user who is used in ansible inventory file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_command and win_shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Jenkins execute ansible-playbook. Jenkins slave server is RHEL7. Below task is executed on Windows 2016

##### STEPS TO RE

[2020-03-27 15:10] bcoca commented on #12735
We are going to close this since you get a return code of non 0 AND a clear `FATAL: all hosts have already failed -- aborting` message on output. If you want to customize to a specific format you want, you can create a callback plugin that will handle that for you, but we don't think it requires changing the default one.

[2020-03-27 15:10] #12735 closed, assigned to nobody

[2020-03-27 15:19] fabiog1901 commented on #68435
about 40MB. Currently I am using the shell module to call `az storage blob upload` method.

[2020-03-27 15:27] sivel commented on #27351
This appears to be fixed now:

[code]

I'm going to go ahead and close this. If you are still having problems, please open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-27 15:27] #27351 closed, assigned to nobody

[2020-03-27 15:27] l0renzor commented on #38264
on my PC the installation is made using Python virtual env and the module is installed under <virtualenv>/lib/python3.8/site-packages/fortiosapi

The file is pretty the same to
https://github.com/fortinet-solutions-cse/fortiosapi/blob/master/fortiosapi/fortiosapi.py

but I were unable to hardcode my custom port :(

[2020-03-27 15:27] sivel commented on #30425
I'm going to agree with the opinions that this should be closed.  You cannot access host facts, if facts have not been gathered.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-27 15:27] #30425 closed, assigned to nobody

[2020-03-27 15:33] bcoca commented on #43704
Are you using cloud init or packer?

needs_info

[2020-03-27 15:35] fjcloud commented on #64036
Hi, same issue with ansible 2.9 and azure-mgmt-dns 2.1.0, I tried version 3.0.0 of the module but it didn't work at all.

I was able to create a private dns zone with azure_rm_resource module too.

`
- name: Create private dns zone
  azure_rm_resource:
    resource_group: "{{ resource_group }}"
    provider: network
    resource_type: privateDnsZones
    resource_name: "{{ dns_zone }}"
    api_ver

[2020-03-27 15:41] bcoca commented on #44006
dupe of #3969

[2020-03-27 15:41] #44006 closed, assigned to nobody

[2020-03-27 15:43] markh0338 opened #68514 "ios_config module and secondary IP addresses not working as expected"
##### SUMMARY
When configuring multiple secondary IPs on an interface, only one secondary is showing up at a time.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_config module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

IOS

##### STEPS TO REPRODUCE

Here is sample vars
[code]

Here is sample jinja file:
[code]

Here is the playbook:
[code]

####

[2020-03-27 15:44] #31014 closed, assigned to nobody

[2020-03-27 15:47] bcoca commented on #58164
dupe of #34437

[2020-03-27 15:47] #58164 closed, assigned to nobody

[2020-03-27 15:49] Altiire opened #68515 "ERROR! Unexpected Exception, this is probably a bug: 'AnsibleSequence' object has no attribute 'rfind'"
#### SUMMARY
I'm trying to loop over a role with one variable being changed at each play but I get the following error message
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OS Debian 10
Hosted on GCP

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
run deploy role for each existing

[2020-03-27 15:50] bcoca commented on #34437
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The module is functioning as expected, you are asking it to populate the path `/dev/null` with the contents of the URL and that is what

[2020-03-27 15:50] #34437 closed, assigned to nobody

[2020-03-27 15:51] sivel commented on #68515
`vars_from` requires a string, not a list:

[code]

Should instead be:

[code]

However, we should traceback here, so we probably should add some guards

[2020-03-27 15:52] monsoft opened #68516 "synchronize module ignore use_ssh_args and verify_host when is used with "delegate_to" option"
##### SUMMARY
I'm trying to sync file from one remote server to another one (both CentOs 7.x) using rsync over ssh and "delegate_to" option. When this is new connection (remote hosts was never connected over ssh so server keys are not in knows_hosts file yet) connection is not automatically accepting or not verify remote server keys and waits on server's key verification dialog.
This happening eve

[2020-03-27 15:54] bcoca commented on #34375
The act of redownloading is not considered a change to the system as the destination file is stil the same. Consider that running any task normally requires a set files to be copied to the target system every time, just to evaluate if a change is needed or not, these are not considered to affect the 'changed' status either.

As such I'm going to close the ticket

However, we're absolutely always u

[2020-03-27 15:54] #34375 closed, assigned to nobody

[2020-03-27 15:54] Altiire commented on #68515
I confirm that
[code]
fix the issue.

Thank you,

[2020-03-27 15:56] bcoca commented on #44395
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Role de-duplication is PER play, not across plays, so this is expected behaviour.

In the future, this might be a topic more well suite

[2020-03-27 15:58] bcoca commented on #44395
reopening as docs issue as this is not clear in some sections.

[2020-03-27 16:28] s-hertel commented on #65565
@bcoca brought it to my attention that this was discussed before in https://github.com/ansible/ansible/issues/15432, and the verdict was to document the ability to set multiple paths to allow subdirectories to be searched. If we're going to reassess that decision it should be added to the meeting agenda - https://github.com/ansible/community/issues/528.

[2020-03-27 16:28] #65565 closed, assigned to s-hertel

[2020-03-27 18:04] jhawkesworth commented on #68511
@robreardon the path in your example - path: "/tmp/test.xml" is unusual for a windows path.
Please can you run with -vvv and supply the output here (I am not able to attempt to reproduce this right now).?

[2020-03-27 18:35] robreardon commented on #68511
I've updated the path in the example playbook above. I'll add the debug output but it'll take some time to retrieve and sanitise.

[2020-03-27 19:10] tjtaill commented on #67997
Any eta on this? Was trying to get it to work now unsure if it is me or because this isn't supported.

[2020-03-27 19:33] mattclay commented on #68495
I can reproduce this on the `community.general` collection using the following command:

[code]

I'm working on a fix.

[2020-03-27 20:19] sivel commented on #68516
I'm not sure that all of the points you have made are being associated correctly.

`use_ssh_args` only impacts the rsync command generated by the module. I can see from your output, that `ssh_args` does contain `-o StrictHostKeyChecking=no` in the invocation.  However, this option will not do anything for you, as you are using `rsync://` protocol, and not using SSH for the rsync command.

So in sh

[2020-03-27 20:54] sivel commented on #68506
Based on extracted traceback, it seems this issue is in `boto` itself, which is a deprecated library.

Additionally, `contrib/inventory/ec2.py` is a deprecated inventory script.

You should probably switch to use the `aws_ec2` inventory plugin: https://docs.ansible.com/ansible/latest/plugins/inventory/aws_ec2.html

I don't think there is anything that can be done here.

!component =contrib/invento

[2020-03-27 21:16] #66469 closed, assigned to nobody

[2020-03-27 21:17] JonTheNiceGuy commented on #68506
Soooooo.... Given I've run this in AWX, and it's what you get when you click on an "EC2" source... Does this mean that I need to raise an issue in https://github.com/Ansible/AWX saying "please stop using this plug-in"?

[2020-03-27 21:20] JorgeRaggs commented on #65824
Could you please share the ACI REST API workaround here? I was struggling with it for few days till I figure out it was a bug. Ansible v2.9.4. Using deprecated module aci_access_port_to_interface_policy_leaf_profile does not work for me

Thank you,

[2020-03-27 21:21] monsoft commented on #68516
"_However, this option will not do anything for you, as you are using rsync:// protocol, and not using SSH for the rsync command._"

You are incorrect as I stated here:
"I have modified synchronize.py to allow proper "rsync://" support (#57182)"

"_So in short, use_ssh_args only affects the rsync command the module runs, and not communication with manager. However, I can see that -o StrictHostKeyC

[2020-03-27 22:39] sivel commented on #68516
The command that was executed by synchronize is:

[code]

`ssh_args` are only used if `--rsh` is in the command, which it is not.  `--rsh` is only included when the `source` or `dest` does _not_ contain `rsync://`, but contains only a single `:`.

Because you have used `rsync://` as the dest, the module will not explicitly use `ssh` via `--rsh`, and will not explicitly pass `ssh_args`.

I'm not su

[2020-03-27 22:56] #68495 closed, assigned to mattclay

[2020-03-27 23:21] nitzmahone commented on #68383
Some of that was also sort of by design, eg: 99% of people won't know or care what `meta/action_groups.yml` is for, and even `meta/routing.yml` and `meta/exec_env.yml` will likely only be of interest to a very small set of people that build collections. The routing metadata for some collections *could* end up being large someday if lots of things move out/deprecate, ditto for things like file meta

[2020-03-27 23:26] brammeleman commented on #31712
Looks identical to #30413. Which is closed with pull request #52567 . However the pull request does not include the relevant test case with `delegate_to: localhost` and the problem still exists (ansible 2.9.6)

Test case:
[code]
Adding `serial: 1` to the playbook (middle part) removes the concurrency and the assertion succeeds.

[2020-03-27 23:49] kbreit commented on #48612
Marking as WONTFIX

[2020-03-27 23:49] #48612 closed, assigned to nobody

[2020-03-27 23:50] kbreit commented on #51027
Marking as WONTFIX

[2020-03-27 23:50] #51027 closed, assigned to nobody

[2020-03-28 00:37] briantist commented on #61680
I agree with all the things @geerlingguy mentioned.

I searched all over the other day trying to figure out how (if it's even possible) to run your own galaxy server and I'm sure someone's going to come along and post the link I missed but for the life of me I couldn't find any way to do it.

I expected to at least find something on the galaxy site that addressed what is sure to be a common questi

[2020-03-28 01:46] yamjoepobuda commented on #68497
Debug output from the firewall:

[code]

Debug output from the task:

[code]

[2020-03-28 02:09] #68007 closed, assigned to nobody

[2020-03-28 05:46] ehudkaldor opened #68523 "get_url does not change permissions if file exists"
##### SUMMARY
if you download a file using get_url and the file already exists, Ansible does not make sure the src permissions are in line with the tgt permissions.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_url:

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 7.7 virtual machine, using loopback to install on self.

##### STEPS TO REPRODUCE

[2020-03-28 05:53] DevangRadadiya opened #68524 "The conditional check 'item.stat.exists' failed"
**Getting an error like :**

"msg": "The conditional check 'item.stat.exists' failed. The error was: error while evaluating conditional (item.stat.exists): 'ansible.utils.unsafe_proxy.AnsibleUnsafeText object' has no attribute 'stat'\n\nThe error appears to be in '/Ansible/roles/test/tasks/test1.yml': line 16, column 3, but may\nbe elsewhere in the file depending on the exact syntax problem.\n\nTh

[2020-03-28 06:03] DevangRadadiya commented on #68524
issue type : item.stat.exists' failed
ansible version : ansible 2.8.5
component name : loop

[2020-03-28 06:59] JonTheNiceGuy commented on #68497
And what happens if you paste that line into the firewall command line
directly?

On Sat, 28 Mar 2020, 01:46 Joe, <notifications@github.com> wrote:

[2020-03-28 07:24] jpmens commented on #20470
Two different solutions have been proposed, so I don't think this needs work.

close_me

[2020-03-28 07:35] TigerP commented on #46310
It also happens when you have both `vault_password_file` and `vault_identity_list` defined in the ansible.cfg .

[2020-03-28 08:25] monsoft commented on #68516
I simply look to sync 1 file from manager(192.168.1.45) to other host(192.168.1.46) using rsync over ssh.
You said that it works when I don't use `rsync://` only `:` which is native `rsync`  src/dest configuration:
[code]
I may be wrong or I have some old module, but if this works, how you tell module that you want to use it in that way ?

I was testing it before I started playing with removing `r

[2020-03-28 09:17] DevangRadadiya opened #68526 "item.stat.exists not working in loop and register"
##### SUMMARY
item.stat.exists not Working

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- Loop

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

-- in alarm_details.result there is item.stat.exists details are there. but while checking condition item.stat.exist

[2020-03-28 09:19] #68524 closed, assigned to nobody

[2020-03-28 10:10] #56081 closed, assigned to nobody

[2020-03-28 10:38] dineshr93 opened #68527 "Integar casting of unicode strings [u4185686016], [u1021896] returns zero"
##### SUMMARY
number in the Unicode string format needs to be casted {{ x | int}} to get the integer as mentioned in
this  #4170
But further integer casting of the unicode string results as 0.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
set_fact.
unicode string Casting to integer set_fact {{ x | int }}

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04 in Virtual box of Wi

[2020-03-28 13:26] johnbui423 opened #68528 "Ansible.ModuleUtils.WebRequest: cannot ignore proxy"
##### SUMMARY

It seems not possible to run `win_get_url` without proxy.

Based on the documentation, my expectation was that setting the parameter `use_proxy` to 'no' should ignore the default IE proxy, and run without proxy if `proxy_url` is not set at the same time. However, this is not working, even with `use_proxy: no`, the IE proxy is still being used.

Looking into the actual source code at

[2020-03-28 14:18] farisachugthai opened #68529 "ansible-console catches `KeyboardInterrupt` silently"
---
name: ✨ Feature request
about: Suggest an idea for this project
---

##### SUMMARY

Leave an exit message when catching `KeyboardInterrupt` in ansible/lib/console

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`ansible/lib/ansible/cli/console.py`

##### ADDITIONAL INFORMATION

https://github.com/ansible/ansible/blob/0f5a63f1b99e586f86932907c49b1e8877128957/lib/ansible/cli/console.py#L

[2020-03-28 15:23] geerlingguy opened #68530 "ansible-test sanity failing with "No module named 'jinja2'""
##### SUMMARY

In the Kubernetes collection's CI tests, the sanity check, which uses `ansible-test sanity --docker -v --color --python 3.6`, started failing with the following error:

[code]

Nothing in the collection has changed in the past week, and no runs failed until this morning's CI run, so it seems something committed to ansible/ansible `devel` has caused this failure.

##### ISSUE TYPE

-

[2020-03-28 15:30] yamjoepobuda commented on #68497
[code]

If you look at the debug output above, you'll see that the full string is there... but for some reason it looks like it's truncating the "ssh-rsa"

[code]

[2020-03-28 16:14] yamjoepobuda commented on #68497
A suggestion, depending on the outcome of this issue...

Here's the syntax per the FortOS manual:
[code]

Might be nice to have something like this as a configuration option, where rsa is default.
[code]

Behind the scenes, key-type would translate `rsa` to `ssh-rsa` and `dsa` to `ssh-dsa` and prepend it to the command being sent. Either way, I believe the README/examples should be updated to matc

[2020-03-28 16:42] jhawkesworth commented on #68511
@robreardon Ok  I have reproduced this locally now.

Now that collections are a thing, we should really be discussing this on https://github.com/ansible-collections/community.windows  which is the only place a fix can now be made.

If you need a quick workaround, if you modify your source xml like this, it will update the attribute content (at least it does in my testing).  The problem is that it

[2020-03-28 18:21] #68530 closed, assigned to nobody

[2020-03-28 19:58] gsauthof opened #68532 "gather_facts does not combine results of multiple fact modules"
##### SUMMARY

When executing the gather_facts module with a list of fact gathering modules the results aren't combined. Instead, the result from one fact gathering module replaces all others.

This is caused by gather_facts calling `combine_vars()`

https://github.com/ansible/ansible/blob/0f5a63f1b99e586f86932907c49b1e8877128957/lib/ansible/plugins/action/gather_facts.py#L49-L55

which defaults t

[2020-03-28 20:29] jborean93 commented on #68511
As per @jhawkesworth comment this module has been moved to https://github.com/ansible-collections/community.windows. Please open the issue there.

[2020-03-28 20:29] #68511 closed, assigned to nobody

[2020-03-28 20:36] gsauthof commented on #68532
!component =lib/ansible/plugins/action/gather_facts.py

[2020-03-28 20:53] #55653 closed, assigned to Akasurde

[2020-03-28 21:02] subcan commented on #34281
+1
This is a frustrating "missing feature"
Since there is no plan to allow for conditional vars_prompt, the only other way to conditionally get user input at start of playbook would be with conditional "import_playbook" based on whether a tag was sent in on commandline.
`- import_playbook: playbook_choice_1.yml
  when: "'specific_tag' in ansible_run_tags"`

I understand that we want a playbook to

[2020-03-28 22:38] kbreit commented on #63726
This is fixed and should be closed.

[2020-03-28 22:38] #63726 closed, assigned to nobody

[2020-03-29 01:12] fgimian opened #68536 "The service_facts module does not work in Ubuntu 20.04"
##### SUMMARY
Running the `service_facts` module on Ubuntu 20.04 causes the following error:

[code]

The reason seems to be that `list-unit-files` output has changed recently...

**Ubuntu 19.10**

[code]

**Ubuntu 20.04**

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[service_facts.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/service_facts.py)

#####

[2020-03-29 04:37] dineshr93 commented on #68527
Sorry this is my mistage it seems unicode is retuned as list. and casting list to int produces 0.
I can access the integer value using shmmax**[0]**

[2020-03-29 04:37] #68527 closed, assigned to nobody

[2020-03-29 13:25] gsauthof commented on #26673
In reply to https://github.com/ansible/ansible/issues/26673#issuecomment-314669646:

`yum_repository` isn't really a good alternative because a playbook otherwise portable between different Fedora/Redhat distributions would have to template the baseurl like this

[code]

which is tedious and errorprone.

Compare this with being able to just use the short `{{ copre_username}}/{{ copr_repo }}` ident

[2020-03-29 13:44] odyssey4me commented on #67343
This has been completed.

[2020-03-29 13:44] #67343 closed, assigned to nobody

[2020-03-29 13:44] odyssey4me commented on #67344
This has been completed.

[2020-03-29 13:44] #67344 closed, assigned to nobody

[2020-03-29 14:35] juju4 opened #68538 "[Azure][windows] UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 632: ordinal not in range(128)"
### SUMMARY
When deploying inside azure with ansible, get unicode error for one windows vm. other linux and windows vm created normally.
It was working about a week ago.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]
also tried with 2.9.2 and 2.8.10 with same results

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Controller: Ubuntu

[2020-03-29 15:07] juju4 opened #68540 "Azure page still references azure_rm.py inventory"
##### SUMMARY
Official docs still refers azure_rm.py inventory while it seems now it should point to inventory plugins if fully ready/official (didn't see a notice but may have missed it).

https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/scenario_guides/guide_azure.rst
https://docs.ansible.com/ansible/latest/scenario_guides/guide_azure.html#dynamic-inventory-script
link to https://r

[2020-03-29 16:59] alekgr commented on #45774
@Jahsis I am still getting the same error after trying your solution

An unhandled exception occurred while running the lookup plugin 'hashi_vault'.

[2020-03-29 17:00] alekgr commented on #45774
anybody else having the same issue. I am using ansible 2.9

[2020-03-29 18:39] larsks opened #68541 "podman_image should only report changed: true if it actually builds a new image"
##### SUMMARY

podman_image reports `changed: true` even if the build process does not actually create a new image.  This means it's not possible to use `notify` to restart containerized services when a new image is available.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

podman_image

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 31

##### STEP

[2020-03-29 19:48] Pyropace commented on #62326
Is there any update to this ?

[2020-03-29 20:52] ilezcano opened #68543 "netscaler_nitro_request.py mandates resource name in all instances, breaking some functions"
##### SUMMARY
The netscaler nitro request module mandates passing "name" in the playbook, even if the API call doesn't require it. I've noticed this on the "update" and "get" functions at least. While mandating the resource name is appropriate for most calls, some operations don't use names. As a result, Ansible can't be used to issue those NITRO requests. For an example for a NITRO function that

[2020-03-29 21:15] MohammadAlavi1986 opened #68544 "azure_rm_virtualmachinescaleset --backend-pool-name --lb-nat-pool-name"
##### SUMMARY
There is no parameter in `azure_rm_virtualmachinescaleset` module to specify loadbalancer's backend pool name or NAT pool name. Azure CLI has these two options:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_virtualmachinescaleset

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2020-03-29 23:50] precurse commented on #40903
Fixed by #41664

[2020-03-29 23:50] #40903 closed, assigned to nobody

[2020-03-30 01:01] IPvSean commented on #52275
i am hitting this issue on RHEL8

[code]

I have

[code]

[2020-03-30 01:40] davedittrich commented on #34281
I (still) agree with @subcan that this feature should exist. This would be a great thing to get implemented while we're all on COVID-19 lockdown! ;)

As to options for managing multiple configurations, there is another option in between Ansible vault files and full-blown Hashicorp Vault deployment. I wrote a tool I named "python_secrets" and it works well with Ansible to manage multiple sets of va

[2020-03-30 02:57] Aethylred commented on #56930
As an example of the situation @andyfeller describes about this change:

We have a problem with this on our site.

We use Red Hat Identity Manager as an external inventory, we do not control it, it contains many host groups with dashes instead of underscores. This will not be changed (because of all the other things that exist using those names).

So, we need:
- To configure Ansible to maintain th

[2020-03-30 03:25] Fred-sun commented on #68435
Thanks for your info. I will try again.

[2020-03-30 03:43] Fred-sun commented on #68435
@fabiog1901 I tried it locally and both 170M and 1.0M were successful. According to your error log, the connection timeout caused the failed upload. Could you confirm whether the small file was uploaded successfully? Thank you very much!

[2020-03-30 05:51] Akasurde commented on #68541
resolved_by_pr https://github.com/containers/ansible-podman-collections/pull/14

[2020-03-30 09:07] gaba-xyz opened #68547 "k8s_module attempts to patch K8s Job"
##### SUMMARY
Module attempts to patch K8s Jobs (and possibly other k8s resources) which is not supported causing a fatal error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_module

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE
Create a K8s Job using the Ansible k8s module. Execute the task once, then run it again.

##### EXPECTED RESULTS
Playbook execution should be successfu

[2020-03-30 09:12] mabed-fr opened #68548 "Improve nxos_NTP to manage multiple NTP Peers"
**SUMMARY**
Should be able to add multiple peers ("server") to NXOS configuration and remove any peers that are not in the list.

**ISSUE TYPE**
- Feature Idea

**COMPONENT NAME**
nxos_ntp

**ADDITIONAL INFORMATION**
The module should work in the same way name-servers are managed in ios_system. You give the module a list of servers and only those servers remain in the IOS running-config of the dev

[2020-03-30 09:21] Ahmed-Hussein-Karam opened #68549 "Ability to prompt only vars that don't have default value"
##### SUMMARY

Because Ansible is used for automation, the less human interaction, the better it is. To achieve this, I suggest adding a feature to be able to prompt for only vars that don't have default value. In other words, the third case in the following `else` statement is: when user explicitly specifies that playbook should use default values and run normally.
https://github.com/ansible/ansi

[2020-03-30 09:56] felixfontein commented on #68132
There's also the problem that changes to `changelogs/` or `docs/` trigger a full CI run.

[2020-03-30 10:08] #68139 closed, assigned to nobody

[2020-03-30 10:51] amar-sanakal opened #68553 "EC2 dynamic inventory guidelines incorrect or broken"
##### SUMMARY

I am looking at https://docs.ansible.com/ansible/latest/user_guide/intro_dynamic_inventory.html for guidelines on how to use the dynamic inventory for AWS EC2 instances. The links to both the `ec2.py` and `ec2.ini` files are broken. Without them how do I use the dynamic inventory?

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

https://github.com/ansible/ansible/blob

[2020-03-30 12:37] danielmotaleite commented on #30425
Fine, you do not want to do the easy fix, to update the documentation, to help new users understand this issue, at least add a warning when a variable is empty AND if  --limit is used, pointing that i may be missing facts from other hosts outside the --limit range. If ansible warns about hostnames with minus, then a warning about this is also important.

Again, this is not a issue for experienced

[2020-03-30 13:03] Akasurde commented on #68553
You can use EC2 dynamic inventory plugin. See example [here](https://github.com/ansible/ansible/blob/e5995a2eed08c0a0bf4797ae8a38aefd160b0f0a/lib/ansible/plugins/inventory/aws_ec2.py#L83).

[2020-03-30 13:04] DylanHamel opened #68555 "Problem with `ignore_errors`"
##### SUMMARY
I'm trying to build a dynamic inventory based on a task result.
To be brief, I would like to create two groups based on the restult of a PING using shell module :
* dev_unreach
* dev_reach

[code]

To create these two groups I'm using `add_host` module and `when:` to filter if the task failed or not :

[code]

The problem is that the failed tasks will be executed only if there are no

[2020-03-30 13:32] JonnyHaystack opened #68557 "vyos_config: set parameter hardcoded when template is included"
##### SUMMARY

Similar to #66110, the command `set` is still prepended if you are including one template for another. I'm trying to split up my templates to keep things organised, but I can't because it breaks it by prepending set when it should be taking each line as a whole command.

Example:

setup.j2:
[code]

zones.j2:
[code]

Output when running playbook:
[code]

##### ISSUE TYPE
- Bug Report

[2020-03-30 13:37] Ashjoker24 opened #68558 "Installation Problem"
Hi all when I try to do the installation I face the issue in b
![sql](https://user-images.githubusercontent.com/43417210/77918608-c0f4b400-72b9-11ea-9f30-35ed70164df4.png)
elow mentioned image

[2020-03-30 13:46] JonnyHaystack commented on #68557
It seems that having the `lstrip_blocks` lines in the included templates was part of what was causing this, though I don't know why. Removing that line from the included templates fixes the issue, but I think having any commands in the root template before the `include` statements also prevented that error (although it did still try to interpret those #jinja lines as commands, so it was still inco

[2020-03-30 13:46] #68557 closed, assigned to nobody

[2020-03-30 13:54] Akasurde commented on #68526
Hi @DevangRadadiya !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This

[2020-03-30 13:54] #68526 closed, assigned to nobody

[2020-03-30 14:05] mkrizek commented on #68558
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-03-30 14:05] #68558 closed, assigned to nobody

[2020-03-30 14:19] goneri commented on #62424
Closing since the Azure modules are not part of ansible/ansible anymore.

[2020-03-30 14:19] #62424 closed, assigned to nobody

[2020-03-30 14:50] Slowdive-Aideron commented on #66414
Issue is still persisting .. here 's my SSH conn options :
ssh_args = -o ControlMaster=auto -o ControlPersist=30m                                                                                                                                                             control_path = ~/.ssh/ansible-%%r@%%h:%%p

[2020-03-30 15:00] flassagne commented on #61680
I will agree all things @geerlingguy mentioned too and I'm a bit surprised to discover different logic between roles and collections.

[2020-03-30 15:02] natefoo commented on #52275
@odyssey4me sorry I missed your reply. That proposal makes sense to me.

[2020-03-30 15:02] sivel commented on #68516
Looking at the code, the way that it is designed to work is as follows, represented by a play:

[code]

Notice that `hosts` explicitly targets `192.168.1.46`, and that there is no host mentioned in `dest`.

This will properly use ssh via `--rsh`, include your ssh args, properly target the remote host, and not append the remote homedir in front of the host.

[2020-03-30 15:07] fabiog1901 commented on #68435
Yes, small file work can be uploaded just fine. and I can upload the big file when I use the `az` CLI

[2020-03-30 15:08] odyssey4me commented on #62062
bug_resolved

[2020-03-30 15:12] odyssey4me commented on #64495
bug_resolved

[2020-03-30 15:13] odyssey4me commented on #64841
bug_resolved

[2020-03-30 15:17] #64841 closed, assigned to nobody

[2020-03-30 15:17] #64495 closed, assigned to nobody

[2020-03-30 15:17] #62062 closed, assigned to nobody

[2020-03-30 15:20] sivel commented on #68555
The problem is not with `ignore_errors`, but that `add_host` bypasses the host loop, and only executes against the first host as identified by inventory.  As such, the tasks are disjointed, and won't as expected.

You could use the `group_by` module instead, however this is not a bug, so I'll redirect you to our lists.

If you have further questions please stop by IRC or the mailing list:

   * IR

[2020-03-30 15:20] #68555 closed, assigned to nobody

[2020-03-30 15:21] sivel commented on #68540
Duplicate of https://github.com/ansible/ansible/issues/68419

[2020-03-30 15:21] #68540 closed, assigned to nobody

[2020-03-30 15:21] sivel commented on #68553
Duplicate of https://github.com/ansible/ansible/issues/68419

[2020-03-30 15:21] #68553 closed, assigned to nobody

[2020-03-30 15:30] johnpetersjr commented on #12233
I think this was more of an issue with Ansible Tower.  What would happen is once an EC2 is stopped, Ansible Tower won't include that EC2 instance in any future plays, because the inventory that includes that EC2 instances says it's stopped.

The workaround is to create an inventory one time in Tower, and then update it to include all machines, and then TURN OFF updates for that inventory.  This wi

[2020-03-30 15:35] sivel commented on #68506
I have no specific knowledge about AWX and its plans to convert to the `aws_ec2` plugin. I was under the impression that such work was in process or already completed.

Based on this quick search, it seems that there is some form of support for it: https://github.com/ansible/awx/search?q=aws_ec2&unscoped_q=aws_ec2

[2020-03-30 15:39] fabiog1901 commented on #68435
I just tried again, and today it works fine. must not be related to the module then, maybe another library that got updated today as part of the OS update. I think we can close this issue.

[2020-03-30 15:39] #68435 closed, assigned to nobody

[2020-03-30 15:45] Altiire opened #68563 "Failure when processing no_log parameters. Module invocation will be hidden. dictionary requested, could not parse JSON or key=value"
##### SUMMARY
I'm trying to run a curl request inside a container

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian 10 hosted on GCP

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
task should succeed

##### ACTUAL RESULTS
[code]

[2020-03-30 15:47] Akasurde commented on #68374
resolved_by_pr https://github.com/ansible-collections/community.general/pull/79

[2020-03-30 15:53] monsoft commented on #68516
Looks like you're right. I have to explicitly specify group of hosts against I will run synchronisation and those hosts will be automatically added as destination hosts in rsync:
[code]
And module will finally produce rsync command:
[code]

I personally think it should be little bit better described in module description.

Anyway. Many THANKS @sivel for your help and explanation. I wouldn't be abl

[2020-03-30 16:08] mariolenz commented on #67087
I don't think this will be fixed for 2.9, but there's a similar issue for the new [VMware collection](https://github.com/ansible-collections/vmware/issues/81).

[2020-03-30 16:09] sivel commented on #68516
I'm going to go ahead and close this issue.  The `synchronize` module has recently been relocated to https://github.com/ansible-collections/ansible.posix

If you have any issues or feature requests, please log them at the above repository or stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-30 16:09] #68516 closed, assigned to nobody

[2020-03-30 16:38] goneri commented on #67087
Hi,

Thank you for your issue report. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two projects. Could you please reopen the issue ther

[2020-03-30 16:42] #67087 closed, assigned to nobody

[2020-03-30 16:43] goneri commented on #67087
The module works indeed as expected. I close the issue.

[2020-03-30 16:45] sivel commented on #68563
That error indicates that your `networks` is improperly formatted.

At minimum, you would need:

[code]

See https://docs.ansible.com/ansible/latest/modules/docker_container_module.html#parameter-networks for more details

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-

[2020-03-30 16:45] #68563 closed, assigned to nobody

[2020-03-30 16:46] Altiire commented on #68563
Ho sorry for this, can you improve the error message ?

Regards,

[2020-03-30 16:50] goneri opened #68564 "ansible-galaxy: +x flags get lost in final collection tarballs"
##### SUMMARY

When `ansible-galaxy` generates a collection tarball, it ignores the `+x` flag of the files.

As a result `ansible-test` cannot run the `runme.sh` script and returns this error (see:  https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/_internal/util.py#L226)

[code]

To reproduce the problem:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-gala

[2020-03-30 16:54] sivel commented on #68564
I believed this was recently fixed in https://github.com/ansible/ansible/pull/68418

[2020-03-30 16:58] goneri commented on #68564
Oh, great! Thanks.

[2020-03-30 16:58] #68564 closed, assigned to nobody

[2020-03-30 16:58] abenokraitis commented on #68473
I think the goal was to say that "legacy roles" == roles that stand by themselves and not packaged as part of a collection. The idea of roles shouldn't be labeled as "legacy" but the packaging and delivery can be. @maxamillion @thaumos any other commentary here for @geerlingguy ?

[2020-03-30 17:02] geerlingguy commented on #68473
Maybe we then try to be clear on "legacy standalone roles" or "legacy Galaxy roles" (latter preferred by me), since there tends to be a large amount of confusion about the future of _roles_ as an entity in the Ansible universe (vs. roles as standalone distributable bits of content in Galaxy).

[2020-03-30 17:45] geerlingguy commented on #68198
One difficulty, I think, is that the term "role"/"roles" can mean a lot of different things depending on context, and some of the usages aren't accounted for in the current plans/migration paths:

  1. **Role in Ansible Galaxy** (which is an independent entity, installable via `ansible-galaxy`) — seems like it is slated for removal per https://github.com/ansible/galaxy_ng/issues/58#issuecomment-60

[2020-03-30 18:22] samccann commented on #68473
In the rewrite to .rst I've started calling them standalone roles (vs roles within a collection). Does that work?

[2020-03-30 18:37] pySilver commented on #45214
Solution proposed in PR refusal message is pretty good. Just grab example from @bcoca posted few messages above and you are good to go. Feel free to store this small executable in your repo.

[2020-03-30 19:12] jfoliveira commented on #49254
Can't manage to disable host key checking with Ansible 2.9.6.

Here is the output of `ansible-config dump --only-changed`:

**ANSIBLE_PIPELINING**(/path/to/my/ansible.cfg) = **True**
**ANSIBLE_SSH_ARGS**(/path/to/my/ansible.cfg) = -C -o ControlPersist=60s -o PreferredAuthentications=publickey -o ControlMaster=auto **-o StrictHostKeyChe
cking=no** **-o UserKnownHostsFile=/dev/null**
**HOST_KEY_CHEC

[2020-03-30 19:28] felixfontein commented on #52409
The migration tool isn't working yet, but you can still create a PR against [community.crypto](https://github.com/ansible-collections/community.crypto/) if you like. CI is working already :)

[2020-03-30 19:38] MichaelWaters001 opened #68569 "--start-at fails when name used but left blank"
##### SUMMARY
--start-at fails for all tasks following a task where name is blank

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
--start-at flag

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Create 2 named tasks but do not fill in a name for the first task. When the playbook is run with this flag it will fail --start-at="bug : t

[2020-03-30 20:00] weehal commented on #67949
exactly the same problem but when using dns-01 verification
checked in ansible 2.9.2 and 2.9.6 - doesn't work
works in 2.8.10

*ACTUAL RESULTS*
debug output:

[code]

*EXPECTED RESULTS*

[code]

[2020-03-30 20:02] jgspratt commented on #59704
Merely setting `overwrite: different` is insufficient whenever a multi-part upload is used (which seems to be the default for "larger" files).  I tried uploading a 48 MB file and got 6 parts.

In my opinion, this Ansible module should implement something idempotent that could handle files up to the 5 GB limit.

[2020-03-30 20:30] eshellman commented on #67949
@felixfontein if you have playbooks that work, could you post them?

[2020-03-30 20:38] felixfontein commented on #67949
Here are the main files of the role I'm using: https://github.com/felixfontein/acme-certificate/blob/master/tasks/main.yml https://github.com/felixfontein/acme-certificate/blob/master/tasks/http-create.yml

[2020-03-30 20:39] nepella opened #68571 "Disable cowsay by default."
##### SUMMARY
The cowsay integration feature is cute, and I concede that it was probably funny at one time. However, it's highly impractical for any serious use of Ansible, and it's inconvenient to disable completely. I respectfully propose that it be put out to pasture.

##### ISSUE TYPE
- Feature idea

##### COMPONENT NAME
cowsay

##### ADDITIONAL INFORMATION
With a line for the title, a line fo

[2020-03-30 20:50] eshellman commented on #67949
Is there any way you can un-break all the deployed playbooks that trip over this gotcha? It would be REALLY appreciated. Personally I don't have the ansible/acme expertise to fix my playbook without a few days of work.

[2020-03-30 20:52] sivel commented on #68571
Thank you for your interest in Ansible.

Cowsay, and the Ansible output achieved when cowsay is installed, is a key part of Ansible history and an integral part of the projects identity. As such we are not prepared to disable this behavior by default.

Instead, we recommend one of the following options:

1. Uninstall cowsay from the Ansible controller
1. Export `ANSIBLE_NOCOWS=1` globally on the A

[2020-03-30 20:52] #68571 closed, assigned to nobody

[2020-03-30 20:53] weehal commented on #67949
@felixfontein - I use *only* dns-1  challenge, my task looks like:

[code]

[2020-03-30 20:58] weehal commented on #67949
whats interesting - it *does work* with the staging directory

[2020-03-30 22:48] shihalv opened #68573 "ec2_ami_facts not returning tags"
##### SUMMARY
ec2_ami_facts is not returning any tags

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_ami_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-03-31 00:34] k4ch0 commented on #22267
Any update on this issue?

[2020-03-31 01:00] Fred-sun commented on #68435
Thanks for your try.

[2020-03-31 01:01] goniomdq commented on #29493
I'm experiencing the same issue, and the problem, as stated above by apus-one is that the module doesn't seem to be idempotent..
If the server is already registered, it tries to register again and fails with error message "already registered"
"stderr_lines": ["This system is already registered. Use --force to override"],

[2020-03-31 06:23] sergiu1103 commented on #17194
Has there been any more progress on this?

[2020-03-31 06:56] bbaassssiiee commented on #17194
No, closing.

[2020-03-31 06:56] #17194 closed, assigned to nobody

[2020-03-31 07:05] sergiu1103 commented on #17194
what does that mean? will there be a fix to this?

[2020-03-31 07:09] bbaassssiiee commented on #17194
I guess not

[2020-03-31 07:19] Akasurde commented on #68573
@shihalv Could you please feel the template provided in the issue? Providing detail information such as playbooks used, console log `-vvvv`, ansible version, boto version, os used, what have you tried to solve the issue helps to debug more. Describing issue in one line does not help.

[2020-03-31 07:20] Akasurde commented on #68569
!component =lib/ansible/executor/play_iterator.py

[2020-03-31 09:00] m-bucher commented on #63459
Obsolete due to move of the concerned file to https://github.com/theforeman/foreman-ansible-modules/blob/master/plugins/callback/foreman.py in 31d222a12f8c8639237043105676fc8f628fcfdb

[2020-03-31 09:00] #63459 closed, assigned to nobody

[2020-03-31 09:45] msgithub789 opened #68581 "Ansible gets hung when multiple hosts are used in inventory and yum command is used"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
Ansible gets hung when multiple hosts are used in inventory and yum command is used.
its not that I am performing yum upgrade . Simple command like yum updateinfo list also gets hung when multiple hosts are used in inventory.

Additionally there is no time out feacture so we dont get output

 name: Te

[2020-03-31 09:51] msgithub789 opened #68582 "Task time out feacture is needed"
##### SUMMARY

Ansible gets hung when multiple hosts are used in inventory and yum command is used.
its not that I am performing yum upgrade . Simple command like yum updateinfo list also gets hung when multiple hosts are used in inventory. So if it gets stuck for 1 host then it does not skip and proceed . Also output is not displayed .

##### ISSUE TYPE
- Feature Idea
Ansible gets hung when multi

[2020-03-31 10:09] felixfontein commented on #67949
@weehal it does work when there are no still valid authz objects around. If you switch to another server, it will work. If you wait long enough (I think around 37 days it is currently) before renewing, it will also work. It's just that when authz objects are around, f.ex. if you get two certs for the same domain, or renew "too early", that you will encounter this situation.

[2020-03-31 10:10] felixfontein commented on #67949
@weehal please also look at the diff here: https://github.com/ansible-collections/community.crypto/pull/11/files it should tell you how to update your role/playbook.

[2020-03-31 10:54] justjais commented on #68454
@fernandomullerjr  can u share the play with which you're facing the above error. Thanks

[2020-03-31 10:58] #63977 closed, assigned to nobody

[2020-03-31 11:16] weehal commented on #67949
as it shows in debug above:

[code]

so I see  no purpose to additionally check `'sample.com' in sample_com_challenge.challenge_data`

[2020-03-31 11:47] impsik opened #68583 "package_facts auto issue"
##### SUMMARY
package_facts not detecting apt under debian 10

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
package_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 10.3

##### STEPS TO REPRODUCE

ansible -m package_facts -a "manager=auto" localhost

OR

[code]

##### EXPECTED RESULTS

ansible should report that bash is installed when manager

[2020-03-31 11:52] MaartenMol opened #68584 "PSRP: The server did not response CredSSP being an available authentication method - actual: 'Negotiate, Kerberos'"
##### SUMMARY

I use PSRP cennection method to control all Windows Machines with Ansible. The SQL installer has a weird permissions error that requires to use CredSSP. So I wanted to try it but when giving the "ansible_psrp_auth: credssp" parameter I get errors.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

psrp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRO

[2020-03-31 11:59] jctanner commented on #41384
!component =collection:openstack.cloud

[2020-03-31 12:21] felixfontein commented on #67949
It depends on how your playbook/role looks like. If you have the same problem as @eshellman you need the additional condition. If you don't need it, this issue shouldn't affect you.

[2020-03-31 12:45] Akasurde commented on #68290
resolved_by_pr https://github.com/ansible-collections/amazon.aws/pull/21

[2020-03-31 13:35] automateyournetwork opened #68585 "Magic Varaible ansible_limit could not match pattern"
##### SUMMARY
I am trying to use

- hosts: ansible_limit

      when: ansible_limit is defined

However my playbook returns the following error:

[WARNING]: Could not match supplied host pattern, ignoring: ansible_limit

I am using

anisble-playbook playbook.yml --limit hostname

I am expecting ansible_limit to equal 'hostname' and be able to be used for my hosts

Am I using this magic variable in

[2020-03-31 13:36] Akasurde commented on #68583
@impsik I am not able to reproduce this -

[code]

[2020-03-31 13:43] impsik commented on #68583
When i run `ansible -m package_facts -a "manager=apt" localhost`
I get all the installed packages.

That should be empty when using `manager=auto`?
[code]

[2020-03-31 14:19] mallniya opened #68586 "Facts in when conditional for delegated task are not always from delegated host"
##### SUMMARY
It's impossible to force conditional task run based on a delegated host's facts (host2 in example), not on facts of "current host" (i.e. inventory_hostname, host1 in example).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Facts in when conditional.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

##### E

[2020-03-31 14:19] Akasurde commented on #68583
no, with `manager=auto` it should populate everything related to packages

[code]

[2020-03-31 14:21] lpar opened #68587 "Put .ansible directory in .config"
##### SUMMARY

Following on from #52354, if the XDG Base Directory Specification cannot be adopted, at least put the `.ansible` directory in `.config` so as not to pollute the home directory.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Main command line `ansible` utility.

##### ADDITIONAL INFORMATION

As an aside, in #52354 @samdoran commented:

For reference, what if Ansible refused

[2020-03-31 14:37] Akasurde commented on #68573
needs_info

[2020-03-31 14:54] jean-christophe-manciot opened #68588 "JMESPathError in json_query filter plugin: Unexpected token: :"
##### SUMMARY
The goal is to extract a value of a field within a list of dictionaries when a key containing a colon matches another value.
This fails when using ```json_query``` but succeeds with ```selectattr```.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
json_query

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

[2020-03-31 14:54] misra-anshuman opened #68589 "Ansible module 'setup' throws an exception error when used to gather custom facts for Windows targets."
##### SUMMARY
Since Ansible release v2.8.0, the 'setup' module which we use for gathering custom facts ( powershell scripts ) on Windows targets, is failing with exception error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup.ps1

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]
##### STEPS TO REPRODUCE
Calling the 'setup' module with 'fact_path

[2020-03-31 14:56] sivel commented on #68588
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-03-31 14:56] #68588 closed, assigned to nobody

[2020-03-31 15:00] jean-christophe-manciot commented on #68588
It is not a question: this thread clearly demonstrates an issue with the ```json_query``` module.
Have you tried to run the play?

[2020-03-31 15:10] bcoca commented on #49034
yes, this is true, not sure how a fact is a bug, could you elaborate on what you think it should do and why?

needs_info

[2020-03-31 15:25] bcoca commented on #53122
!waiting_on_contributor

[2020-03-31 15:27] yassinehamzaoui opened #68590 "ERROR! couldn't resolve module/action 'module_name'"
##### SUMMARY
when trying to load a custom module from a custom module path this error shows:
ERROR! couldn't resolve module/action 'hello_world'. This often indicates a misspelling, missing collection, or incorrect module path.
I checked the path and also the ansible.cfg file all seems good. but ansible didn't recognize the file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
it's a custom

[2020-03-31 15:29] adamyaziji commented on #50434
Any updates on this? Getting the same error

`- name: Install Ruby Compass
  gem:
    name: compass
    state: latest`

`ansible 2.9.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ec2-user/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/b

[2020-03-31 15:29] bcoca commented on #54661
closing as per above, this is not really an issue with the module but with ssh and ssh configuration.

[2020-03-31 15:29] #54661 closed, assigned to nobody

[2020-03-31 15:31] evgeni commented on #49034
It should not use the availability of a python library to detect which backend to query. Just because `import rpm` works, doesn't mean we're on an rpm based OS.

IIRC the `package` module has some more elaborate logic to detect which packaging tool to use, and the same logic should be applied for `package_fact`

[2020-03-31 15:31] #68590 closed, assigned to nobody

[2020-03-31 15:32] yassinehamzaoui commented on #68590
Problem detected in yaml playbook

[2020-03-31 15:33] bcoca commented on #59968
changing to enhancement request as package_facts was not written to work on all possible OSs

[2020-03-31 15:40] bcoca commented on #64353
this will only work in certain conditions, if the replace expression cannot be matched in the current stream so we might still need to read the whole file anyways. Leaving open as some implementations could still improve most cases and at worse, match current state.

[2020-03-31 15:42] bcoca commented on #64393
Y
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

The cron module already supports setting environment variables, so you should be able to use the `env` option to do this.

   * IRC: #ansible on ir

[2020-03-31 15:42] #64393 closed, assigned to nobody

[2020-03-31 15:45] bcoca commented on #65334
the module executes inside the environment given, if packer is setting it up in a way that it is sharing the parent host resources to present as the container .. but allowing the container to modify it ... then this is not an issue with the module but with packer.

needs_info

[2020-03-31 15:46] bcoca commented on #65466
related #63629

[2020-03-31 15:53] mkrizek commented on #65084
This should go through the official support that comes with Tower.

[2020-03-31 15:53] #65084 closed, assigned to nobody

[2020-03-31 15:54] SebastianThorn opened #68591 "ansible-pull asks for username and password multiple times then using "-C ""
##### SUMMARY
ansible-pull asks for username and password multiple times then using "-C <commit>"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-pull

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running RedHat 8
Installed with: pip3 install ansible --proxy=proxy:8080

##### STEPS TO REPRODUCE

The playbook sets up the host with docker and insta

[2020-03-31 15:59] MadDog2K commented on #61017
Hi @NilashishC  @ganeshrn

Is it possible to get some update on this ? Do you need more from me ?
It would be so nice to have this 'fixed', so we can get rid of our custom patched junos_config.py

Thanks!

[2020-03-31 16:00] tjaacks opened #68592 "pip module shows changed when using check mode with state=present and no version set on certain packages"
##### SUMMARY

The `pip` module reports a changed status when Ansible is running in `--check` mode with the package state set to `present` and package version not set.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

pip
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 LTS

##### STEPS TO REPRODUCE

Example: Install python package `black`:

[code

[2020-03-31 16:01] bcoca commented on #68305
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The src seems to be being picked up correctly and then transfered to a 'remote' destination which is what you are seeing in the module

[2020-03-31 16:01] #68305 closed, assigned to nobody

[2020-03-31 16:07] sivel commented on #68585
You cannot use `ansible_limit` within `hosts:`, the variables are not ready for use by that time.  Typically speaking only extra vars, are accessible in time for use there.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-31 16:07] #68585 closed, assigned to nobody

[2020-03-31 16:08] SebastianThorn commented on #68591
!component = ansible-pull

[2020-03-31 16:13] tjaacks commented on #68592
I think I found the reason for the issue. When check mode is activated, the `pip` module uses its `_ _is_present` function to determine if a package is already installed:

https://github.com/ansible/ansible/blob/9e3ccd64b6a233390cd70c314193b6ba1aacfe21/lib/ansible/modules/packaging/language/pip.py#L370-L382

It browses through all installed packages (these are queried correctly) and returns `True`

[2020-03-31 16:22] mnecas commented on #68347
Added and resolved in ovirt collection https://github.com/oVirt/ovirt-ansible-collection/pull/15

[2020-03-31 16:22] mnecas commented on #68347
colse_me

[2020-03-31 16:24] mnecas commented on #67932
Already added to collection https://github.com/oVirt/ovirt-ansible-collection/pull/10 and released in 1.0.1 collection.

[2020-03-31 16:31] SebastianThorn commented on #68591
!component =lib/ansible/ansible-pull

[2020-03-31 16:33] mnecas commented on #49164
Hi @UXabre,
do you still have an issue with installing of the host?
Asking if I should migrate or close the issue.

[2020-03-31 16:33] Akasurde commented on #68536
resolved_by_pr https://github.com/ansible/ansible/pull/68211

[2020-03-31 16:34] Akasurde commented on #68536
@fgimian Could you please check if PR https://github.com/ansible/ansible/pull/68211 works for you and let me know? Thanks,

needs_info

[2020-03-31 16:43] SebastianThorn commented on #68591
!component =lib/bin/ansible-pull

[2020-03-31 16:43] SebastianThorn commented on #68591
!component =bin/ansible-pull

[2020-03-31 16:43] sivel commented on #68581
Duplicate of https://github.com/ansible/ansible/issues/68582

[2020-03-31 16:43] #68581 closed, assigned to nobody

[2020-03-31 16:44] sivel commented on #68582
The `async` feature within Ansible is our recommendation for this.

https://docs.ansible.com/ansible/latest/user_guide/playbooks_async.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-31 16:44] #68582 closed, assigned to nobody

[2020-03-31 16:45] tjaacks commented on #68592
Hmm, I just found out that the error not appears on every package. The `zmq` package for example reports `ok` on `--check` if it is installed. Seems like `self._requirement.specifier.contains` in `is_statisfied_by` behaves differently for those two packages, returning `True` on `zmq` while returning `False` on `black`. Where is the difference?

[code]

[2020-03-31 16:53] tjaacks commented on #68592
In fact I was not able to reproduce the error with any other package than `black`, yet. I don't know why it behaves differently on that package, though. Does anyone else have a clue?

[2020-03-31 16:57] mnecas commented on #45104
Resolved in ovirt collection

[2020-03-31 16:57] mnecas commented on #45104
close_me

[2020-03-31 16:58] tjaacks commented on #68592
Might this be related to the fact that `black` has a beta version number?

[2020-03-31 17:02] sivel commented on #68592
@tjaacks I think that is the problem.  If you adjust the following line:

[code]

to:

[code]

It seems to fix the issue.  Note that the code path that leads to this is only in check mode also.  Otherwise, it relies on just executing `pip`.

[2020-03-31 17:06] tjaacks commented on #68592
Thanks @sivel for checking, that indeed fixes the issue.
Will you create or accept a pull request for this change, or is this intended behaviour for some reason?

[2020-03-31 17:31] sivel commented on #68592
Seeing as though check mode works different from normal execution, I'd say that it is not intended.

I'm not actively working on this any longer.  Feel free to submit a PR including tests if you are so inclined. Otherwise someone else can pick it up in the future.

[2020-03-31 17:58] abone28 commented on #59647
I've checked the issue in Ubuntu 18.04 environment. Ansible debconf module sets locales, but following call of dpkg-reconfigure call resets value using /etc/locale.gen contents. You can check this by calling debconf-show locales before and after dpkg-reconfigure call.

I suppose it is not Ansible bug

[2020-03-31 18:19] tjaacks commented on #68592
I would be happy if someone could pick this up. I am not familiar with the GitHub workflow and this easy fix would probably take me much more time than someone who has a running development environment.

[2020-03-31 19:10] abenokraitis commented on #68473
Great, I think we've agreed to proceed and place given what's there and the small changes above. Thank you!

[2020-03-31 19:15] abenokraitis opened #68594 "[?w] Add Collections Versioning/release planning section to Developer Guide"
Please add the following to the Developer Guide as a new section called Collections Versioning Guidance or similar.

Draft located at: https://docs.google.com/document/d/170Yd1wrlRE_8G6Af7i1Ig9xWGSFmt4wsF93DtDCKOvQ/edit#heading=h.od9i8fvbjk49 (Red Hat Internal)

Feel free to ask any questions, thanks!

[2020-03-31 19:43] sivel commented on #68523
Can you please test with a more recent version of Ansible?  Ansible 2.4 is end of life. The oldest supported version of Ansible that would receive bug fixes is Ansible 2.8.  However I would recommend testing against 2.9+.

needs_info

[2020-03-31 19:53] brettfire opened #68597 "win_acl module does not seem to be able to accept environment variables for path"
##### SUMMARY

Some modules such as win_lineinfile support using environment variables as part of the path, for example `%programdata%\ssh\administrators_authorized_keys`, however win_acl seems to lack this capability. I believe all windows modules should be able to use environment variables in the path.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

win_acl

##### ADDITIONAL INFORMATION

[2020-03-31 19:59] samccann commented on #68594
!component docs.ansible.com

[2020-03-31 20:21] mnecas commented on #67810
Follow up issue https://bugzilla.redhat.com/show_bug.cgi?id=1798818

[2020-03-31 21:23] luiscachog opened #68599 "YUM groupremove is not idempotent"
##### SUMMARY
I have this task, that runs OK the first time:

[code]

But the second time that my playbook runs it gives me the error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
I believe is: lib/ansible/modules/packaging/os/yum.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

TARGET: RHEL7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED R

[2020-03-31 23:14] #68597 closed, assigned to nobody

[2020-03-31 23:17] jborean93 commented on #68589
Hi @misra-anshuman thanks for the report, unfortunately we've migrated all the Windows out of ansible/ansible to 2 collections recently

* [ansible.windows](https://github.com/ansible-collections/ansible.windows) - Core modules where setup.ps1 lives
* [community.windows](https://github.com/ansible-collections/community.windows) - Community modules

This issue should be raised on the ansible.window

[2020-03-31 23:17] #68589 closed, assigned to nobody

[2020-03-31 23:18] jborean93 commented on #68584
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-03-31 23:18] #68584 closed, assigned to nobody

[2020-03-31 23:19] jborean93 commented on #68528
Thanks for the bug report, I'll try to implement the fix sometime today as what you have suggested makes sense here.

[2020-03-31 23:23] jborean93 commented on #68513
This isn't a problem with the command being run as a group, that isn't really possible in normal circumstances but rather the common [double hop problem with winrm](https://docs.ansible.com/ansible/latest/user_guide/windows_winrm.html#limitations). In this scenario the WinRM process does not have access to the user's credentials so any attempt to connect to another host it will appear as an anonym

[2020-03-31 23:23] #68513 closed, assigned to nobody

[2020-04-01 00:42] jborean93 commented on #68528
Here is a PR that should fix this problem for you https://github.com/ansible/ansible/pull/68603.

[2020-04-01 01:37] azherullahkhan opened #68604 "java_cert: module does not have option to export JKS to PKCS12"
##### SUMMARY
The java_cert ansible module does not have the feature to convert/export a Java Key Store (.jks) file to PKCS12 (.p12)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
java_cert

##### ADDITIONAL INFORMATION
Essentially to perform the following command
keytool -importkeystore -srckeystore <server_truststore>.jks -destkeystore <server>.p12 -deststoretype PKCS12

[2020-04-01 02:31] mdaniel opened #68605 "import_task swallows AnsibleParserError"
##### SUMMARY

A malformed list item in an included task file yields a cryptic message

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/cli/scripts/ansible_cli_stub.py

##### ANSIBLE VERSION

Confirmed as of c888035e
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

* bug.yml
[code]
* pb.yml
[code]

##### EXPECTED RESULTS

[code]
or something similar,

[2020-04-01 02:37] DouglasHeriot commented on #68499
I'm currently dealing with this issue as well. Not sure if it's related to #63032 - is `ansible_collections` inside a git repo higher up, with `ansible_collections` in `.gitignore`?

[2020-04-01 04:02] msgithub789 commented on #68581
This is not a duplicate . Even if we have a time out , Ansible stilll does not support multiple servers while using yum . This is stilll a bug and needs to be worked upon

[2020-04-01 05:53] felixfontein commented on #68499
I think @sivel mentioned on IRC that he cannot reproduce it. I still get this, though. And I don't have `ansible_collections` in `.gitignore`, so it's not related to that (maybe you also have that problem, but then that's a different problem :) ). Let me tinker with ansible-test a bit, maybe I can get an idea.

[2020-04-01 05:57] SWADESNA opened #68606 "Updating documentation for Ansible fetch module under notes to include Ansible Tower's bubblewrap functionality"
##### SUMMARY
While running playbooks that go out and fetch files and return them to a directory in Ansible Tower, the job completes as successful even when the job does not actually save the file.
This is due to the Job Isolation feature that Tower implements. In order to have the files successfully saved to the specified directory, you need to either disable the proot functionality or add the pa

[2020-04-01 06:17] felixfontein commented on #68499
Ok, I think I see what the problem is. I installed the collection in a place which is part of a git repository higher up. `ansible_collections` is not in `.gitignore`, but a directory a few levels higher up is. So yeah, this is exactly #63032. For me, `~/projecs` is a git repository, which somewhere in it contains `github-cloned` (which is in `.gitignnore`), and that eventually contains `ansible_c

[2020-04-01 06:45] sakthivelgopal commented on #33580
same issue with 2.9.2

[2020-04-01 08:16] Akasurde commented on #50281
`nosymbols` added in version 2.8 provides the same functionality.

[code]

produces

[code]

[2020-04-01 08:16] #50281 closed, assigned to Akasurde

[2020-04-01 08:31] choeffer opened #68609 "OpenStack inventory source plugin - environment variables are not mentioned but work as well"
##### SUMMARY

Environment variables work as well but it is not mentioned in the docs https://docs.ansible.com/ansible/latest/plugins/inventory/openstack.html that they can be used. Only clouds.yaml is mentioned there.

The "Edit on GitHub" link is broken as well.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/latest/plugins/inventory/openstack.html

[2020-04-01 09:04] thomaszooman commented on #67993
setting `stickiness_enabled: no` not working also.

[2020-04-01 09:14] Akasurde commented on #49918
@magick93 I am not able to reproduce this -

[code]

needs_info

[2020-04-01 09:21] fernandomullerjr commented on #68454
@justjais , here is the playbook:

bash-4.2# more playbook-separada-003-OLTs-teste.yaml
---
- hosts: ccr
  connection: network_cli

  tasks:
  - name: Pegar a versao do equipamento
    ios_command:
     commands:
        - display version
    register: show_versionoltma5800

  - name: Rodar comandos para equipamentos olt-1
    ios_command:
     commands:
        - scroll
    when:
        - "'MA5'

[2020-04-01 09:23] Akasurde commented on #63601
Duplicate of https://github.com/ansible/ansible/issues/32499

[2020-04-01 09:23] #63601 closed, assigned to nobody

[2020-04-01 09:37] dentarg commented on #63601
And the real problem seems to be #49207

[2020-04-01 10:25] misra-anshuman commented on #68589
Ported this issue to here as well : https://github.com/ansible-collections/ansible.windows/issues/42 .

[2020-04-01 10:41] Quanalogy opened #68610 "win_psmodule fail installing module in ansible versions later than 2.7.16"
##### SUMMARY

win_psmodule have started failing installing Pscx with:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_psmodule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Have been tested in fedora 31 for this bugreport, but additionally verified from windows 10 in subsystems running ansible 2.9.6

##### STEPS TO REPRODUCE

[code]

#####

[2020-04-01 10:59] wojtek0806 commented on #64687
close_me

[2020-04-01 11:10] mooky31 opened #68611 "Can't get failed_when to work"
##### SUMMARY
Failed_when seems to ignore the condition I gave it

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
failed_when

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian Buster

##### STEPS TO REPRODUCE
Playbook :
[code]

Result of the task:
[code]
##### EXPECTED RESULTS
Task should be considered OK

##### ACTUAL RESULTS
Task is considered failed

[2020-04-01 11:34] The-Judge opened #68612 "iptables module broken"
##### SUMMARY
Module triggers an unsupported syntax with iptables executable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
iptables

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS Ansible is executed in: MacOSX
Destination OS: SUSE Linux Enterprise Server 12 SP5

##### STEPS TO REPRODUCE

Play:
[code]

##### EXPECTED RESULTS
Not to receive an error.

[2020-04-01 11:39] #66592 closed, assigned to nobody

[2020-04-01 11:40] vazhnov commented on #68419
I can rephrase subject: _no more "contrib" directory in devel branch_.
In the latest stable, directory exist: https://github.com/ansible/ansible/tree/stable-2.9/contrib/inventory

[2020-04-01 12:02] #59376 closed, assigned to nobody

[2020-04-01 12:34] benjaminrein opened #68614 "vmware_guest: virt_based_security switch does not work as expected"
##### SUMMARY

virt_based_security: False does not work as expected, because it enabled Virtualization Based Security (VBS). Disabling VBS on a vm already present is not possible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.7, vCenter 6.7 U1

##### STEPS TO REPRODUCE

Create a new VM c

[2020-04-01 12:48] mikemci commented on #68606
I am the person who opened case 02614030 and requested this documentation update. Below should be part of the documentation update.

Web link https://access.redhat.com/solutions/3199362 is documentation for older Ansible Tower release and should not be documented. Current release of Ansible Tower is 3.6.3.
Web link https://docs.ansible.com/ansible-tower/latest/html/administration/proot_func_variab

[2020-04-01 13:15] Altiire opened #68615 "include_role: vars_from with loop: variables not loaded"
##### SUMMARY
I loop over a role with a base variable changed at every run.

A var file is supposed to be loaded every time based on the item of the loop.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian 10 hosted on GCP

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Variables under

[2020-04-01 13:38] amar-sanakal commented on #68553
Thanks @Akasurde

[2020-04-01 13:50] Qalthos commented on #44569
!component -lib/ansible/plugins/terminal/__init__.py

[2020-04-01 13:52] Qalthos commented on #62664
!component =lib/ansible/plugins/terminal/enos.py

[2020-04-01 13:54] rohitthakur2590 commented on #67261
@kbreit  We have moved to collections now, so could you raise the new issue in collections for ios_interfaces.

[2020-04-01 13:54] #67261 closed, assigned to nobody

[2020-04-01 14:16] racciari commented on #62010
It does not seem to have any "project scoping" at all in this module.
Already reported and fixed it in os_router and os_subnet.
See #37921

[2020-04-01 14:44] atodorov opened #68616 "os_image fails with "openstacksdk is required for this module" when openstacksdk is installed"
##### SUMMARY

The command below fails while it shouldn't

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

openstack

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A, necessary ENV variables for OpenStack configured though.

##### OS / ENVIRONMENT
RHEL 7.8 with virtualenv

##### STEPS TO REPRODUCE

1) yum install https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noar

[2020-04-01 14:48] atodorov commented on #68616
Found the culprit:

[code]

this causes an ImportError in `module_utils/openstack.py` during checking for necessary dependencies.

[2020-04-01 14:52] justjais commented on #68454
@fernandomullerjr can u check if in the device you're testing against you're able to run the cmd: `show ip interface` (ref: [cmds](https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/module_utils/network/ios/facts/legacy/base.py#L160)) and get the output, coz from the error it seems like respective cmd is not executed as expected.

[2020-04-01 15:28] bcoca commented on #67798
`edit` uses mkstemp, which creates a directory already only readable by the user, avoiding the permissions issue. But we have a problem because instead of keeping the filehandle and using that, we close it and open ourselves up to the race condition.

We should just pass the filehandle and ensure secure access by using that instead of the generated path string. Creating the file with stricter perm

[2020-04-01 15:49] abezella commented on #65334
in our situation we are contructing a chroot into which to install the os, which is later taken and spun up as a virtual machine.  to function, the chroot has (and needs) a number of mounts:
[code]
while i understand your point that the module "executes inside the environment given" pretty much any usable chroot (at least in my experience) is going to have most/all of these mounts[1][2].  as an ex

[2020-04-01 16:56] keitalbame commented on #35710
I'm also interested in this feature. My use case is to handle gerrit config files.

[2020-04-01 17:31] kdnpv commented on #35426
For me, the solution is to add become and become_user to the unarchive invocation:

  unarchive:
........
    owner: myuser      <-- This gets ignored
    group: mygroup
    remote_src: yes
  become_user: myuser
  become: yes

[2020-04-01 17:35] evlewt opened #68617 "apply tags does not work with include_tasks"
##### SUMMARY
Hi,

i can't get tags to work like expected when trying to apply tags to an includes task file.
I found a related closed issue #30882 and used the example code from https://github.com/ansible/ansible/issues/30882#issuecomment-479214591.
But unfortunately it does not work.

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Ser

[2020-04-01 17:45] sivel commented on #68617
On the command line, you have specified `--tags 'tag_for_include'` which will only match tasks tagged with `tag_for_include`, which the tasks inside of `whatever.yml` do not inherit.  As such, it will process the include, but not process the tasks within, as their tags don't match.

You would need to use the following to execute those inner tasks.

[code]

Note that `apply` does not filter tags, b

[2020-04-01 17:45] #68617 closed, assigned to nobody

[2020-04-01 18:12] antoineserrano commented on #67993
Adding both `stickiness_enable: no` and `stickiness_type: source_ip` did the trick for us, using Ansible 2.9.6.

[2020-04-01 18:15] evlewt commented on #68617
Using ```--tags` tag_for_include,tag_for_included_tasks``` would work. Sure.

But why is "apply tags" not evaluated?
I would have expected that if the tag ```tag_for_include``` matched and the file whatever.yml is included, than the tags applied by "apply tags" would passed to the included tasks. Obviously this is not the case as the "debug" with the tag ```tag_for_included_tasks``` is not execute

[2020-04-01 18:27] zxar123123 opened #68619 "add_host"
I want to create playbook that going on the entire inventory file and divide the servers to 2 groups: Windows and Linux (add-host going only on the first server on the inv)

I tried this code:

`
   - name: Linux Group
     add_host:
       name: "{{ item }}"
       group: LinuxGroup
     when:  hostvars[" {{ item }} "]['ansible_system']  == 'Linux'
     with_items: "{{ ansible_play_hosts_all }} "

[2020-04-01 18:35] bcoca commented on #67792
This is intended functionality, it is up to the playbook author to ensure that they use the `|quote` filter where appropriate.

[2020-04-01 18:39] bcoca commented on #67793
we can just remove those lines since we already do remote-expand previously, there is no need to use the return from slurp.

[2020-04-01 18:40] sivel commented on #68619
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-04-01 18:40] #68619 closed, assigned to nobody

[2020-04-01 18:45] webknjaz opened #68621 "`--collections-path` of `ansible-galaxy` CLI must not end with `ansible_collection`"
##### SUMMARY

`ansible-galaxy` CLI installs collections right into the folder that is specified in `--collections-path` effectively requiring it to end with `/ansible_collection`. But at the same time, it does validation and issues a warning that such location will not be picked up by Ansible, which is not true: `ANSIBLE_COLLECTIONS_PATHS` requires paths that are there to contain `ansible_collect

[2020-04-01 18:53] jmarenco02 opened #68622 "ios_config unable to handle prompt / responses"
ios_config is unable to handle prompt / responses.  This is a huge limitation.

[2020-04-01 19:04] jdnrg opened #68623 "cloud.amazon.ecs_taskdefinition does not handle Unknown volume"
##### SUMMARY
If you pass an unknown volumne into cloud.amazon.ecs_taskdefinition  it crashes.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cloud.amazon.ecs_taskdefinition

##### ANSIBLE VERSION

[code]

[2020-04-01 19:42] noonedeadpunk opened #68624 "Async with find weirdly fails when ansible_python_interpreter=python3"
##### SUMMARY
When find module is launched with async, it just fails when playbook/role is launched with `-e ansible_python_interpreter=python3`.
It works ok under the wollowing conditions though:
* When `ansible_python_interpreter=python2`
* When `ansible_python_interpreter=/usr/bin/python3`
* Without async usage but with `ansible_python_interpreter=python3`

##### ISSUE TYPE
- Bug Report

#####

[2020-04-01 19:45] jdnrg opened #68625 "set_instance_protection missing in ec2_asg"
#### SUMMARY
ec2_asg should support set_instance_protection

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
cloud.amazon.ec2_asg

##### ADDITIONAL INFORMATION
When creating an ecs cluster you need to create a capactity provider.

`The managed termination protection setting for the capacity provider is invalid. To enable managed termination protection for a capacity provider, the Auto Scalin

[2020-04-01 19:53] sivel commented on #68624
It's never recommended to use relative paths or just the command name for the `ansible_python_interpreter`.  It should always be an absolute path to the binary.  Part of this is due to certain features invoking commands through `Popen` with `shell=False`.  Additionally, we set what you provide as the shebang in scripts.  So if you just provide `python3`, then the shebang becomes `#!python3` which

[2020-04-01 19:53] #68624 closed, assigned to nobody

[2020-04-01 20:17] rromanchuk commented on #61176
This error only happens at the worst times lol. Almost always around  instance boot (think autoscaling/spot fleet etc) when it gets provisioned via ansible tower callback, this is an early task in the play, and it's about a 30% dice roll  on this error.

[2020-04-01 20:26] noonedeadpunk commented on #68624
Weird that it doesn't fail with `ansible_python_interpreter=python2` then. Ok, thanks for the answer and spending your time.

[2020-04-01 21:17] #68528 closed, assigned to nobody

[2020-04-01 22:25] halsafar commented on #30411
Hitting this now with an inventory of ~200 hosts.  This is the second time I've hit this.  Very painful experience.  Stalling the entire playbook because of one host is pretty bad.  We should be able to declare some max_time.  Every host in my environment takes <1s to gather facts.  A 30s timeout would fix this for me.

In this case I think one host is experiencing this:  SSH is responding but the

[2020-04-01 22:41] strarsis commented on #30411
@halsafar: Yes, I always thought ansible runs the playbook for each host independently and in parallel. The playbook application on one host shouldn't disturb the of another one.

[2020-04-01 22:52] MacFlurry commented on #39122
+label affects_2.9

[2020-04-01 23:03] sivel commented on #39122
As a heads up, this plugin is now maintained at https://github.com/ansible-collections/community.general and no longer lives in this repository

[2020-04-01 23:48] rkandilarov commented on #61965
Today I came to the same bug :(. And it seems that the current one is also a duplicate  of #37396 . I was using Ansible 2.9.6.

[2020-04-02 03:14] fernandomullerjr commented on #68454
this device does not support this command:

CCRCNTOLT01#show?
            ^
  % Unknown command, the error locates at '^'
CCRCNTOLT01#

But the problem occurs with many kinds of vendors.
Below i created a different playbook, more simple and i played with ansible in a clean install of Ubuntu 18.04 18.04.4 LTS.
The problem with the module ios_facts persist, like the another playbook.
Even the device

[2020-04-02 05:55] ganeshrn commented on #68414
The issue is because the `get_filter` option is not set. By default `netconf_config` module get the current running configuration on the device by executing a `<get-config>` netconf RPC to ensure the module run is idempotent. On some of the Cisco netconf implementations if a filter is not specified in `<get-config>` RPC it throws an error. The issue is fixed by PR https://github.com/ansible/ansibl

[2020-04-02 05:57] ganeshrn commented on #68414
@sethbeauchamp Please check if providing `get_filter` value with right option fixes the issue.
needs_info

[2020-04-02 07:13] Maarc-D opened #68628 "azure_rm_common.has_tags correct error when tag's key got ":" in it"
##### SUMMARY

On all cloud provider there is bestpractices, and we see a lot of documentations about cloud tags that advice to name tag's key with ":" syntaxe. for example :
key : "company:group:function"
value : "value"
If we use this best practice the has_tag function will split on ":" and raise `ValueError: too many values to unpack`

I propose to have another delimiter or better use JSON synt

[2020-04-02 07:53] Akasurde commented on #68614
Issue migrated to https://github.com/ansible-collections/vmware/issues/89

[2020-04-02 07:53] #68614 closed, assigned to nobody

[2020-04-02 09:35] Maarc-D commented on #68628
I propose replace bloc on file `module_utils/azure_rm_common.py` on line '''451''' :
[code]

by something like that (need import json)

[code]

[2020-04-02 09:47] alexanderadam opened #68629 "Support for Docker Swarm Jobs"
##### SUMMARY

I'm not sure whether Ansible already has support for it but I found nothing so far.
I would be nice if Ansible would have support for [Docker Swarm Jobs](https://github.com/moby/moby/pull/40307). The Docker API seems to support this [since version v1.41](https://github.com/moby/moby/blob/master/docs/api/version-history.md#v141-api-changes).

##### ISSUE TYPE

* Support for Docker Sw

[2020-04-02 10:06] michalg91 opened #68632 "Postgresql_*, can't modify role with dot in name."
##### SUMMARY
While creating role with dot in name (eg jan.kowalski) postgres module fails with PostgreSQL does not support role with more than 1 dots.
`(item={'name': 'jan.kowalski'}) => {"ansible_loop_var": "item", "changed": false, "item": {"name": "jan.kowalski"}, "msg": "PostgreSQL does not support role with more than 1 dots"}`
When trying to assing group with postgresql_membership module it

[2020-04-02 10:07] FedericoOlivieri commented on #50334
I am finding really difficult to get approved a PR from Ansible folks. So, for the moment I am building a custom ansible collection with git module for adding, commit and push. Available here:

https://github.com/FedericoOlivieri/lvrfrc87.ansible_collections/blob/master/plugins/modules/source_control/git_acp.py

[2020-04-02 10:32] Akasurde commented on #68632
Issue migrated to https://github.com/ansible-collections/community.general/issues/99

[2020-04-02 10:32] #68632 closed, assigned to nobody

[2020-04-02 10:41] drgrigorov commented on #66894
Hello, I have also hit this same behavior with ansible 2.8.3.
I have spent some time debugging it and found that yum module does not account for arch at all when it finds installed rpm package (while using direct rpm):

[code]
I have changed to "elif compare >= 0 and cur_arch == arch:" which resulted in actual success. I am not sure if this patch is safe or robust, just pointing my findings.

[2020-04-02 10:44] Akasurde commented on #68629
Issue migrated to https://github.com/ansible-collections/community.general/issues/101

[2020-04-02 10:44] #68629 closed, assigned to nobody

[2020-04-02 12:11] Andersson007 commented on #68044
close_me

[2020-04-02 12:14] #68044 closed, assigned to nobody

[2020-04-02 12:14] Andersson007 commented on #68044
closed via https://github.com/ansible-collections/community.general/pull/58

[2020-04-02 12:16] stamfest opened #68634 "enos_config task ignores --check"
##### SUMMARY
Using --check on ansible-playbook using enos_config task gets ignored

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
enos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
(no output from ansible-config dump --only-changed)

##### OS / ENVIRONMENT
CentOS 7

##### STEPS TO REPRODUCE

[code]

ansible-playbook --check DEMO.yml

##### EXPECTED RESULTS

Config befor

[2020-04-02 12:44] eleksis opened #68635 "junos_user: fails to manage the root user (again)"
##### SUMMARY
Fails to set root encrypted-password. I see there was almost identical issue and PR, but apparently it's not fixed. https://github.com/ansible/ansible/issues/51551 https://github.com/ansible/ansible/pull/53111
Bug is in junos_user.py, function def map_obj_to_ele(module, want).
I remember this was working at some point (v2.8), but now it is broken again.

##### ISSUE TYPE
- Bug Report

[2020-04-02 13:15] jimsmith commented on #48795
+1 this is a must now-a-days in the world of IaC - for example Terraform now has a module for aws org units - https://www.terraform.io/docs/providers/aws/r/organizations_organizational_unit.html

[2020-04-02 13:15] jbjorkang opened #68636 "Git module 'verify_commit' does not function on non-master branches"
##### SUMMARY
The Git module fails to function correctly when specifying 'version' and 'verify_commit'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/source_control/git.py
Git module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.4 LTS

##### STEPS TO REPRODUCE
This example uses the Git module documentation, but has selecte

[2020-04-02 13:37] evgeni opened #68637 "apt_repo should be moved to a collection"
##### SUMMARY

I've talked about this with @gundalow in https://github.com/theforeman/foreman-ansible-modules/pull/591#issuecomment-561712408 but it seems to be forgotten.

`apt_repo` is for managing ALT Linux repositories, unlike `apt_repository` which is for Debian repositories. As we aim to only support Debian and Red Hat family OSes in "base", `apt_repo` should be moved to a collection.

#####

[2020-04-02 13:45] jbguerraz opened #68638 "Import role deduplication"
##### SUMMARY
A role (in the following example, `library-1`) imported twice is executed twice while it's expected to run once.

dependency graph: http://tiny.cc/qydwlz
playbook run gist: https://gist.github.com/jbguerraz/1274cc2aed82ba5889adc5dfc9754ff1

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
roles

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Li

[2020-04-02 14:01] pallinger opened #68640 "Clearing extent flag not supported on <FILE>"
##### SUMMARY
When trying to copy files to a machine with extended attributes enabled, sometimes the backup files get the extended attribute, which the copy module tries to delete and produces a
"Clearing extent flag not supported" error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
copy module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
- Debian 10 on

[2020-04-02 14:17] pallinger commented on #68640
As for a workaround: if you add the extent attribute to the original file manually (`chattr +e <original filename>`), then the task will run. This can be quite tedious as each ansible run only reports one file at the error.

[2020-04-02 14:18] pallinger commented on #68640
I think the error is in the backup mechanism: it copies the current file to a backup, and then tries to copy all permissions and attributes from the original file. In this case, it _cannot_ succeed due to the fact that the new file is always created with the extents attribute, while the old file sometimes lacks that.

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/copy.py#

[2020-04-02 14:52] sivel commented on #68637
PRs to handle the migration are linked above ^

[2020-04-02 15:11] evgeni commented on #68637
Thanks!

[2020-04-02 15:16] bcoca commented on #67794
https://github.com/ansible/ansible-stage/pull/34

[2020-04-02 15:36] hawksight commented on #64614
I can see this has been fixed in https://github.com/ansible/ansible/pull/66322 but appreciate if anyone might be able to give insight into when that might go out, in 2.9.7 or later?

Currently have this issue in 2.9.6 Ansible.

[2020-04-02 15:37] chris-crunchr opened #68642 "docker_container always recreates containers created by docker_compose"
##### SUMMARY
We setup our services using the `docker_compose` task. In some cases, we verify whether a container is running using `docker_container` with `state: started`. During the upgrade from an older version of ansible to the latest version, we found that containers where recreated by the `docker_container` task.

After a long debugging session, we found that, if `init: false` is not explici

[2020-04-02 15:40] diogenxs commented on #63354
In version 2.9 was added the `use` param to [force a strategy to use](https://docs.ansible.com/ansible/latest/modules/hostname_module.html#parameter-use), just set it to `systemd` to use `hostnamectl` command

[code]

[2020-04-02 16:06] #68637 closed, assigned to nobody

[2020-04-02 16:17] sethbeauchamp commented on #68414
Yes this works. Thanks, I did not see this solution before posting this.

[2020-04-02 16:17] #68414 closed, assigned to ganeshrn

[2020-04-02 16:32] geerlingguy commented on #56930
FYI PR https://github.com/ansible/ansible/issues/56930 (please no pitchforks there) is slated for 2.10 (as of the current moment), meaning anyone who currently sees this warning would (once they upgrade to 2.10, again assuming that PR is merged) start having playbook failures instead (until they set `force_valid_group_names = false` in an `ansible.cfg`).

Just posting for visibility. I'm still fir

[2020-04-02 16:41] apple4ever commented on #56930
@geerlingguy Is that the right PR #? Looks like that points to this issue.

[2020-04-02 16:52] apple4ever commented on #56930
FYI this was discussed [at a Core Meeting here](https://meetbot.fedoraproject.org/ansible-meeting/2020-03-17/ansible_core_public_irc_meeting_https:github.comansiblecommunityissues528.2020-03-17-19.01.log.html), starting at `19:06:55`

[2020-04-02 16:59] geerlingguy commented on #56930
@apple4ever oops, updated the link, it's https://github.com/ansible/ansible/pull/66650

[2020-04-02 17:08] bcoca commented on #56930
So i've seen above many comments of things that were already answered/debunked/etc, so just going to link here my previous post .

https://github.com/ansible/ansible/issues/56930#issuecomment-516863432

[2020-04-02 17:19] abenokraitis commented on #68594
cc: @gundalow

[2020-04-02 17:28] MarkusTeufelberger commented on #56930
By the way, where would be a good place to link to in the Python documentation about how valid variable names look like? There's https://docs.python.org/3/reference/lexical_analysis.html#grammar-token-identifier, but that's not really user friendly or readable for people without Computer Science backgrounds.

The reason for asking is that I'm not sure if the actual initial complaint has actually b

[2020-04-02 17:47] weshouman opened #68643 "Multiline-string malformation in processesed task.args"
##### SUMMARY
Multiline-string malformation upon use of variables

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Any custom module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04
Expected to affect any environment

##### STEPS TO REPRODUCE

```tasks/main.yml```
[code]
```vars/main.yml```
[code]
```action_/main.yml```
[code]

Important Note: u

[2020-04-02 17:51] sivel commented on #68643
This behavior while unexpected by users, is expected due to historic behavior that cannot be changed.  It is explained in https://github.com/ansible/ansible/issues/34595#issuecomment-356091161

Ultimately `custom_args` will be transformed into a python literal, if it must be templated.

[2020-04-02 18:05] gundalow commented on #68637
@evgeni https://github.com/ansible-collections/community.general
Note that we are still hacking around on `community.general`, so this collection will not be published to Galaxy for a while.

[2020-04-02 18:47] EdwardPrentice opened #68645 "Focal (20.04 (LTS)) missing in Ubuntu ppa"
##### SUMMARY
http://ppa.launchpad.net/ansible/ansible/ubuntu/ doesn't contain a focal dist. focal fossa is officially released April 23rd so we should probably address this soon but apologies if this bug is premature.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ppa

##### ANSIBLE VERSION
all

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 20.04 (LTS) focal fossa - Official release da

[2020-04-02 19:23] heyakyra commented on #39686
Will this enable work on #21185?

There also seems to be more recent work on an `rpm-ostree` module:
https://gist.github.com/dustymabe/926c0d9bb998b1404b9bc55021977fb7

[2020-04-02 19:48] Shrews commented on #60422
This seems suspiciously like a buffer truncation issue from reading the ssh-keygen output. It would output one line for each match of the hostname found in known_hosts. Is it possible that your known_hosts has several entries for the same host?

needs_info

[2020-04-02 21:10] sivel commented on #68643
There is no way to ensure that ansible won't munge the value with the way you are building your module.  There are a few options:

1. Don't rely on the output format to match the input format. Detect if it is a string, or a `list`/`dict`. If it is a `list`/`dict`, use `json.dumps` to turn it back into a string. But again, the input format, and the output format may differ
1. Don't supply data that

[2020-04-02 21:13] sivel commented on #54390
I've had a few minutes to play with a solution, but haven't tested it extensively.

[code]

If anyone wants to take that patch, and get together a PR with a changelog fragment, and tests, please feel free to do so. I am not actively pursuing this further.

[2020-04-02 21:14] weshouman commented on #68643
Here are 2 workarounds in case someone hits the same issue

### Static Workaround
Use this one to transform the specific custom_arg into string instead of a python literal
[code]

### Generic Workaround
Use this one to change all dictionaries into strings
[code]

[2020-04-02 22:02] Bahu2016 opened #68648 "Inventory order no longer matters"
Inventory order no longer matters

##### SUMMARY

Inventory order no longer matters,
 the order of hosts defined within the inventory seems no longer to matter to the executor.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Inventory

##### ANSIBLE VERSION
ansible-playbook 2.9.4

##### CONFIGURATION
ansible-playbook 2.9.4
  config file = ~/.ansible.cfg
  configured module search path = [u'/u

[2020-04-02 22:16] rptaylor opened #68649 "broken link in documentation: openstack_inventory.py is gone"
##### SUMMARY

https://docs.ansible.com/ansible/latest/user_guide/intro_dynamic_inventory.html#inventory-script-example-openstack

There is a link to https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/openstack_inventory.py
and documentation showing wget of this URL.

The URL gives 404. Where did the openstack_inventory.py script go?

##### ISSUE TYPE
- Documentation Report

[2020-04-02 22:23] rptaylor commented on #68649
For that matter, there are several links and references to contrib/ which also appears to be entirely gone.

[2020-04-02 23:13] ehudkaldor commented on #68523
Indeed, 2.9 resolves it. closing,

[2020-04-02 23:13] #68523 closed, assigned to nobody

[2020-04-02 23:53] araghuraman123 opened #68650 "Jinja2 - Standard dict methods not working - 'ansible.vars.hostvars.HostVarsVars object' has no attribute 'pop'"
##### SUMMARY
When attempting to use standard dict methods against hostvars within Jinja2 templating expressions, error is thrown indicating no such attribute exists.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Jinja2 templating

##### ANSIBLE VERSION
ansible --version
ansible 2.9.3
python version = 3.8.1 (v3.8.1:1b293b6006, Dec 18 2019, 14:08:53) [Clang 6.0 (clang-600.0.57)]

pip show ji

[2020-04-03 01:03] sky-joker commented on #68483
Issue migrated to https://github.com/CiscoDevNet/ansible-aci/issues/3

[2020-04-03 01:03] #68483 closed, assigned to nobody

[2020-04-03 01:13] fcam-naveen commented on #68057
Any updates on this. Sorry for following up late. .

Can anyone share what is the solution? or should I provide more info?
I wanted to use raw commands, not junos modules. I just need to perform show commands on Cisco, Juniper, F5 devices.

[2020-04-03 03:10] #42191 closed, assigned to nobody

[2020-04-03 03:18] alekgr opened #68651 "An unhandeled exception hashi_vault lookup plugin needs key=value pairs"
##### SUMMARY
In ansible when I run the following play in my playbook for hashi_vault lookup it error out when using non root token. It work fine when using root token

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hashi_vault plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

###

[2020-04-03 03:48] LukasGibb opened #68652 "win_pagefile does nothing when override is false"
##### SUMMARY
win_pagefile does nothing when override is false ('no')

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_pagefile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Currently experiencing the issue with Windows 2016 hosts but pretty sure it will affect 2012 R2 also.

##### STEPS TO REPRODUCE

Apply the play below with the page file 'maximum_s

[2020-04-03 03:58] LukasGibb commented on #68652
I have already done some troubleshooting and resolved this issue, I'm just trying to figure out how to get it into a PR to get the fix back into the main repo.

The problem stems from Powershell returning the wrong value (or perhaps a lack of understanding of the purpose of the property) when this command is run:
[code]
This code always returns true for 'System' (confirmed on Win Server 2016 and 2

[2020-04-03 04:36] dexterc opened #68653 "vmware_tag_manager module fails -"
Yes

Not tested

##### SUMMARY

I have a Ansible Tower v 3.5.4 and vcentre v 6.7.  I have a playbook to create and tag a VM using module" vm_tag_manager" . Vsphere Automation SDK-python is installed on ansible machine. along with other python libraries. playbook fails w/ error described.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

vmware_tag_manager

##### ANSIBLE VERSION

[code]

#####

[2020-04-03 04:52] mkrizek commented on #68649
Duplicate of https://github.com/ansible/ansible/issues/68419

[2020-04-03 05:09] wimnat opened #68654 "The word 'lambda' can no longer be used with 'register'"
##### SUMMARY
When you try and register a variable name 'lambda', ansible complains since version 2.9

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
I have tested using multiple modules, always the same.

##### ANSIBLE VERSION
Tested against

[code]
and
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
Centos 7

##### STEPS TO REPRODUCE
Try and register any task output with the

[2020-04-03 05:13] michaelsmoody opened #68655 "Meta: end_host in Block being triggered despite tags/when statement"
##### SUMMARY

We have several tasks in our role that perform some checking, and if a specific set of conditions are met, ends the run for that host, via meta: end_host.

We place these tasks inside of a block section. We also have the block statement being part of tags, and the block section also has a when: statement that must match several conditions. While this has tended to work, I have two o

[2020-04-03 05:30] michaelsmoody opened #68656 "Ansible.Basic - do no output even log if DEFAULT_NO_TARGET_SYSLOG is set"
##### SUMMARY

For reasons unknown, messages appear in the Windows Event Log (Event Viewer) when module win_stat has been used. It is unclear if this is being caused by a particular module argument.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_stat

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS 10.14.6

##### STEPS TO REPRODUCE

Use of win_s

[2020-04-03 05:32] Akasurde commented on #68653
Issue migrated to https://github.com/ansible-collections/vmware/issues/92

[2020-04-03 05:32] #68653 closed, assigned to nobody

[2020-04-03 05:57] mkrizek commented on #68655
There is a pull request to allow using tags on meta tasks: https://github.com/ansible/ansible/pull/67508

As for the `when` I am going to go ahead and close this in favor of https://github.com/ansible/ansible/issues/41313.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-projec

[2020-04-03 05:57] #68655 closed, assigned to nobody

[2020-04-03 06:00] mkrizek commented on #68654
This is intended behavior, please see https://github.com/ansible/ansible/issues/56042.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-04-03 06:00] #68654 closed, assigned to nobody

[2020-04-03 06:07] michaelsmoody commented on #68655
@mkrizek before you close it, can you confirm that #41313 is appropriate, considering this isn't necessarily specific to the meta/when issue, but rather that this is inside of a block statement, and somehow the block is being partially triggered, even though it itself has a when statement?

Essentially, the meta and the pause/prompt are inside of a block section, which itself has a tag/when statem

[2020-04-03 06:10] michaelsmoody commented on #68655
Also, is there a better solution for ending a host that this meta: end_host, at the moment, given this logic I need? Open to suggestions, though this seemed to be the one that documentation suggested. Thank you for your patience, and to the entire team for such a wonderful piece of software. Ansible saves so much time.

[2020-04-03 06:19] mkrizek commented on #68655
Yes.

The following:
[code]

is effectively replaced internally with
[code]

So, in your example, `pause` is guarded by `when` as you expected but the `meta` is not since meta tasks does not support `when` which is what https://github.com/ansible/ansible/issues/41313 is about. So what you are describing basically boils down to that issue.

[2020-04-03 06:28] mkrizek commented on #68655
Sorry, I misread. `meta: end_host` does support `when`:
[code]

So only tags is the issue here which is handled in the PR I linked.

[2020-04-03 06:35] michaelsmoody commented on #68655
In the case that meta: end_host does support when, then there is an actual bug here. The when statement conditions are not being satisfied, and yet meta: end_host is still being triggered.

That's provable in that the pause/prompt isn't triggered, but the meta: end_host is, tags or no tags.

Thoughts?

[2020-04-03 06:38] mkrizek commented on #68655
My example says otherwise. Can you provide a simple reproducer that I can copy and run on my machine? Thank you!

[2020-04-03 06:42] mkrizek commented on #68655
[code]

[code]

[2020-04-03 06:43] joharohl commented on #68636
Looks like the clone method doesn't check out the version unless `depth` is supplied. https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/source_control/git.py#L461

Guessing that the clone should include the branch flag regardless if ´depth´ is supplied to make sure that the branch exists when doing `verify_commit`.

[2020-04-03 06:49] rchincholkar opened #68659 "Misleading example in `Implicit localhost` docs"
##### SUMMARY
The documentation of [Implicit localhost](https://docs.ansible.com/ansible/latest/inventory/implicit_localhost.html) shows there is a need to define host with specific connection variables as follows:

[code]
This does not work, Inventory sync shows below Warning:
[code]

**Proposed Fix:**
We need to modify the example as follows:

[code]

##### ISSUE TYPE
- Documentation Report

###

[2020-04-03 06:50] sugitk opened #68660 "[from customer] gather_facts fails in nxos module"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2020-04-03 06:53] sugitk commented on #68660
[show_interface.zip](https://github.com/ansible/ansible/files/4425469/show_interface.zip)

attached is an output from `show interface`

[2020-04-03 06:55] Akasurde commented on #68651
Hi! @alekgr You are using `with_items` in `hostvars check` task but `get secret` task uses registered `token` directly which is not correct. You need to iterate

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.f

[2020-04-03 06:55] #68651 closed, assigned to Akasurde

[2020-04-03 07:19] NiveditaKumari14 opened #68661 "Ansible parameter Serial value defined in percentage (for 0%) is not working correctly."
"Serial" defined in percentage (Only for 0%) is not working properly

##### SUMMARY
It is observed that "serial: 0" and "serial: 0%" showing different behaviour. As when serial is value is set to 0, hosts are executed with the default value (i.e. forks=5) but when serial value is set to 0% (serial=0%) it is executed with host=1 at a time. As per our expectation both should execute tasks with the d

[2020-04-03 07:25] jborean93 commented on #68656
This is because win_stat uses the new Ansible.Basic module wrapper with this particular action at https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/csharp/Ansible.Basic.cs#L231. You can disable this by setting `no_log: yes` on the task if you wish. Not all built in modules have been converted to use this newer format so that’s why you haven’t seen this behaviour with other mod

[2020-04-03 07:35] huguesgr opened #68662 "parted: ansible detects a change only in dry-run"
##### SUMMARY
Once the partition initially created, subsequent run give:
- "ok" without dry-run
- "changed" with dry-run (--check)
The only difference there is between the two runs is the following line:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
parted

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.4. Using SAN storage with multipath.

[2020-04-03 08:27] Andersson007 commented on #66422
close_me
closed via https://github.com/ansible-collections/community.general/issues/106

[2020-04-03 08:36] #66422 closed, assigned to nobody

[2020-04-03 08:46] thanos1983 opened #68665 "dnf – Manages packages with the dnf package manager install modules"
##### SUMMARY

[dnf – Manages packages with the dnf package manager](https://docs.ansible.com/ansible/latest/modules/dnf_module.html) is a great package but with RH8 / Centos 8 / Fedora 31 etc... the new package manager (recommended) is dnf.

The OS now install modules that yet we do not have available in dnf. Sample from the documentation [yum module install -y container-tools](https://access.red

[2020-04-03 09:11] enys commented on #68373
@remyleone Any chance you are still working on this ?

[2020-04-03 09:21] remyleone commented on #68373
@enys Not at the moment. I'm in the process of creating ansible collections to make Scaleway modules available again. Once we got this working we will tackle the backlog of ansible issues on it.

[2020-04-03 09:56] NiveditaKumari14 commented on #68661
I have analyzed the source code to solve this issue and identified the module where it can be fixed. I will create a pull request after getting conformation on above bug

[2020-04-03 09:59] mkrizek commented on #68665
The documentation for the `dnf` module you have linked contains examples on how to install modules in [examples](https://docs.ansible.com/ansible/latest/modules/dnf_module.html#examples). I have verified successful module installation using the following playbook:
[code]

Can you please clarify what use cases are missing in the current support of the module management in the `dnf` module? Thanks!

[2020-04-03 10:00] mkrizek commented on #68665
!component =lib/ansible/modules/packaging/os/dnf.py

[2020-04-03 10:05] d3vnick commented on #30411
Where it is not necessary do NOT gather facts otherwise get just what you need.

So in **playbooks** you have something like:
[code]
and you gather just what you _really_ need, with the added benefit of speed up all the process.

In **ad-hoc command** you have something like:
[code]

You can also set this the config file.

#### References
- [Setup module doc](https://docs.ansible.com/ansible/lates

[2020-04-03 10:27] thanos1983 commented on #68665
Hello @mkrizek ,

Thank you for replying to my query.

I tried multiple approaches with the module and all failed.

Sample:

[code]

I was under the impression that it was a feature that it was missing, maybe it is a bug.

What is your view on this?

Thank you for your time and effort in advance.

[2020-04-03 11:11] peredjounayali commented on #65444
Hello! I want to fix my ansible server with this method explained (for the hotfixes fortimanager) But I don't find the PR branch for that. Can you help me please?

[2020-04-03 11:57] mkrizek commented on #68665
From your output: `line 890, in _is_module_installed\r\nTypeError: 'in <string>' requires string as left operand, not NoneType` - this indeed seems like a bug. Your output also indicates that you are using Python 3.6. I will try and see if I can reproduce the issue.

[2020-04-03 12:07] mkrizek commented on #68665
So that is actually an issue that has been fixed already (https://github.com/ansible/ansible/issues/63683) and has been backported to Ansible `2.9` in https://github.com/ansible/ansible/pull/66309.

[2020-04-03 12:09] mkrizek commented on #68665
I am going to go ahead and close this issue as per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-04-03 12:09] #68665 closed, assigned to nobody

[2020-04-03 12:27] enys commented on #68373
thanks for the reply. Would you have an ETA for collections ?
Any recommendations on the usage of the dynamic inventory with scaleway ?

Thanks,

[2020-04-03 12:35] remyleone commented on #68373
At the moment no. I'm still working on it to see if I can restore at least the same features that were available in the ansible upstream.
About the usage of the dynamic inventory, I see only dev as a tag and not `os_ubuntu_bionic ` is that normal? Could you try to add this tag to your instance? and on the tags referenced here?

[2020-04-03 12:54] ShrutiChavali opened #68668 "Documentation of cobbler_system module does not tell about the interface names that can be used"
##### SUMMARY

The documentation of cobbler_system module does not include the interface names that can be used in the script. I am trying to use eth0, eth1, eth2 and etc. But only eth0 works. eth1 and etc, give a KeyError.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

cobbler_system

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.6
###

[2020-04-03 13:01] Tronde commented on #56930
@geerlingguy wrote in [comment 56930](https://github.com/ansible/ansible/issues/56930#issuecomment-607954035):

The [documentation](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#transform-invalid-group-chars) does not mention 'false' as a valid value for this key. I've set the value to 'ignore' which should do the trick. But is 'false' an invalid keyword or is it correct

[2020-04-03 13:11] tarzanek commented on #68538
similar here
but in a loop of 4 Linux RHEL 8 VMs on Standard_F32s_v2
I only get too and then ansible crashes with the error
"UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 640: ordinal not in range(128)"
(used to work previously with  Standard_F16s_v2 )

[2020-04-03 13:18] tarzanek commented on #68538
ok, I guess for me the prob was that I run out of quota ... <sigh> ... but the error could be better imho

[2020-04-03 13:27] enys commented on #68373
Yes that's exactly the point, in the inventory, tags are used as filters. ( only dev in my case)
However, i was expecting that all instance tags, not only the ones used as filters, would create groups.

[2020-04-03 13:32] thanos1983 commented on #68665
@mkrizek - I see that indicates that was merged with `2.9.2` but I am running `2.9.5` and the problem still persist:

[code]
Never the less a temporary work around can be:

[code]

Once you get the version the package can be installed:

[code]

The question that comes after. What is the module at some point goes above version `1.0` e.g. `2.3` do I need to update it manually?

I do not see if this

[2020-04-03 13:36] kopecmartin opened #68670 "to_nice_yaml filter prints an omitted variable"
Also reproducible in devel branch.

##### SUMMARY
to_nice_yaml filter is printing out an omitted variable, instead of not printing the omitted variable at all the filter prints out a string representation of omit object

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
to_nice_yaml filter

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Centos

##### STEPS TO RE

[2020-04-03 13:55] mkrizek commented on #68670
Duplicate of https://github.com/ansible/ansible/issues/44261

[2020-04-03 13:55] #68670 closed, assigned to nobody

[2020-04-03 14:19] #67798 closed, assigned to samdoran

[2020-04-03 14:38] mkrizek commented on #68665
I cannot reproduce the traceback with any version including and above `2.9.2`.

As for this, it might be another case to be considered in https://github.com/ansible/ansible/issues/56504. Would you mind commenting with your use case there? Thanks!

[2020-04-03 14:47] thanos1983 commented on #56504
I am also facing the same issue. The issue is indicated as fixed already ([#63683](https://github.com/ansible/ansible/issues/63683)) and has been backported to Ansible `2.9.2` in [#66309](https://github.com/ansible/ansible/pull/66309).

I am running `2.9.5` and the problem still persist:

[code]

Sample to reproduce:
[code]
Sample of Ansible version:

[code]
Never the less a temporary work around

[2020-04-03 14:48] thanos1983 commented on #68665
Done.

Thank you for your time and immediate reply.

[2020-04-03 15:01] sivel commented on #68650
The `HostVarsVars` object does not support deletion, which a `.pop` would perform.  This is working as expected.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-04-03 15:01] #68650 closed, assigned to nobody

[2020-04-03 15:04] sivel commented on #68648
Duplicate of https://github.com/ansible/ansible/issues/34861

[2020-04-03 15:04] #68648 closed, assigned to nobody

[2020-04-03 15:14] araghuraman123 commented on #68650
This was working fine in ansible 2.5.2. If we do need to effectively remove certain elements from within hostvars dict, what would the workaround be in ansible 2.9.3?

[2020-04-03 15:17] sivel commented on #68650
It is not possible.  See https://github.com/ansible/ansible/pull/60081

[2020-04-03 15:23] #31004 closed, assigned to nobody

[2020-04-03 15:30] relrod commented on #38426
`consul_acl` is now in `community.general` (https://github.com/ansible-collections/community.general) -- please re-file this there.

[2020-04-03 15:30] #38426 closed, assigned to nobody

[2020-04-03 15:35] relrod commented on #44917
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * You should prefer `module_utils` and/or fully qualified imports where possible. We are fine with relative imports not working

[2020-04-03 15:35] #44917 closed, assigned to nobody

[2020-04-03 15:41] alekgr commented on #68651
@Akasurde no this is not an iteration issue. There is only one value  in secret since there is only on secret server.

Here is my output from my debugging of my token print token play. Also as I said this issue is about hashi_vault plugin where it fails

#**## when I run the following play in my playbook for hashi_vault lookup it error out when using non root token. It work fine when using root to

[2020-04-03 15:47] samccann commented on #68594
_pulling out the relevant upstream sections of the gdoc so it's publicly available_

# Collection Versioning Strategy
Each collection will follow Semantic Versioning 2.0.0 (https://semver.org/), for example:
Given a version number MAJOR.MINOR.PATCH, increment the:
- MAJOR version when you make incompatible API changes (see Feature Release scenarios below for examples)

- MINOR version when you add

[2020-04-03 15:47] relrod commented on #25904
Closed by #66102.

[2020-04-03 15:47] #25904 closed, assigned to nobody

[2020-04-03 15:52] alekgr commented on #68651
also I forgot to tell you that I verified that on my secure server I am able to retrieve my credentials via root token and via my custom token. So It seems it's again a hashi_vault issue

[2020-04-03 15:53] relrod commented on #24136
Pending #60081.

[2020-04-03 15:56] relrod commented on #45556
Fixed by #57894.

[2020-04-03 15:56] #45556 closed, assigned to nobody

[2020-04-03 16:01] relrod commented on #45648
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * This would add too much complexity. It is easier for the user to import the ca bundle.

However, we're absolutely always up f

[2020-04-03 16:01] #45648 closed, assigned to nobody

[2020-04-03 16:34] FloMiau opened #68676 "Ansible creates locked user on Alpine"
##### SUMMARY
I'm creating an user via ansible. This works on Debian based system like Ubuntu 16, 18, Raspbian, Debian.

The same tasks don't work on Alpine Linux. The user is created but no login is possible. Die user is locked.

This issue is maybe related to #61911 and #66679.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/system/user.py

##### ANSIBLE VERSION

[code]

[2020-04-03 16:57] lunxra opened #68677 "win_group_membership escapes backslashes when domain users are added from variables"
##### SUMMARY
I'm trying to add multiple domain users to a local group via `win_group_membership`. The users are specified with a variable that is defined in a yml file. The play fails out because "DOMAIN\user" gets escaped to "DOMAIN\\\\user".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`win_group_membership`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ansible-config dump --only-

[2020-04-03 17:31] techwolf359 commented on #59147
Similar issue when using `gcp_compute_disk_info`:

When using `auth_kind: "machineaccount"`, you get an error back:

[code]

The solution above for `service_account_email: default` resolved the issue.

Suggested fixes:
1. Set `service_account_email` equal to `default` when `auth_kind: machineaccount`
2. Update documentation to reflect how to authenticate clearly with `machineaccount` (https://docs

[2020-04-03 17:38] techwolf359 commented on #63028
Related: https://github.com/ansible/ansible/issues/50839

[2020-04-03 18:13] noonedeadpunk opened #68680 "Systemd needs to be runned twice to mask enabled service"
##### SUMMARY

Mask and enabled operations are actually mutually exclusive ones. So if service is enabled, it can't be masked at the same time. This leads to neccesity to launch systemd module twice to disable and mask service (or vice versa).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
systemd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Doesn't mat

[2020-04-03 18:26] geordish opened #68682 "netconf_config on iosxr"
##### SUMMARY
I'm trying to create a simple playbook using iosxr and netconf, and I'm experiencing issues. Ansible errors out when trying to log into the netconf SSH session.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netconf_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Cisco IOS XR Software, Version 6.6.3

##### STEPS TO REPRODUCE

[code]

#

[2020-04-03 18:54] porn opened #68684 "Cannot set hostname on ansible 2.9.6 with use=debian"
##### SUMMARY
Cannot set hostname on 2.9.6

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[hostname](https://docs.ansible.com/ansible/latest/modules/hostname_module.html)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

try to set hostname on another ubuntu 18.04

[code]

##### EXPECTED RESULTS

The hostname should be set

[2020-04-03 19:07] anshulbehl opened #68685 "ansible-test doesn't recognize modules written in bash"
##### SUMMARY

ansible-test doesn't recognize modules written in bash
I am trying to work with migrating RHEL system roles to collection and there is a module named `timesync_provider.sh`
After migrating and running `ansible-test sanity` on the collection root I am seeing the below error

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-test

##### ANSIBLE VERSION

[code]

####

[2020-04-03 19:10] PStoner3 opened #68686 "Maven Artifact Module Fails After Installing Python3"
##### SUMMARY
maven_artifact fails using ansible 2.9.6 and python 3.6

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
maven-artifact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Using maven_artifact to download required jar file from azure artifact repository

[code]

##### EXPECTED RESULTS

Normally this would download the expected jar to later be plac

[2020-04-03 20:01] nurseandthenerd commented on #68146
I figured out this issue. the module requires 'devtype' for each member of a zone. Even though the switch does not require it for removal, the isZoneMemberPresent function matches specifically what 'show zone vsan X' gets back from the switch, so unless devtype is present in the play the function will always return false.

[2020-04-03 20:16] sivel commented on #68594
There appears to be some questions and concerns around the following statement:

Based on the decisions that I recorded, my explanation is more close to:

If you plan to release a new `X` (such as `2.0.0`), you must ensure that the previous `X` (`1.0.0`) series has given users at least 24 months of deprecation warnings for any breaking changes that will be introduced into the new `X` (`2.0.0`).  I

[2020-04-03 20:45] jborean93 commented on #68677
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * How you have specified the group is correct, by not quoting or by using single quotes for the value, `\` isn't an escape character so `INT\user` and `'INT\user

[2020-04-03 20:45] #68677 closed, assigned to nobody

[2020-04-03 22:40] fgimian commented on #68536
Thank you @Akasurde, I can confirm that the pull request resolves the issue.

**Ubuntu 19.10**

[code]

**Ubuntu 20.04**

[code]

[2020-04-04 05:11] noxoid commented on #67497
@rohitthakur2590 I replicated this issue on 1.3-rolling-202004031458 and it looks like @neatherweb is also seeing it on 1.3-rolling-202003042119. This appears to also break diff support  because it is comparing a config line with ANSI escapes with a config line that does not. I was able to hack together a fix for myself by re.sub'ing '\x1b[^m]*m'

[2020-04-04 05:49] Akasurde commented on #68651
@alekgr Could you please paste your playbook and `-vvvv` logs?

[2020-04-04 07:30] relrod commented on #67467
I looked into this briefly. This actually *is* related to the loop behavior.

* If I do `yum: name=some_non_existing_package`, the `yum` module does correctly fatal.
* If I do `yum: namesome_non_existing_package`, we trigger the "raw arguments" logic and I correctly get told that I'm not allowed to do that except in certain modules of which `yum` is not one.
* If I do `yum: name{{ item }}` in a lo

[2020-04-04 08:05] relrod commented on #67467
This reproduces with the `apt` module as well, for example:

[code]

It doesn't install anything since the module doesn't handle raw params coming in, but it definitely executes the module and runs through `main()`.

[2020-04-04 08:20] jmnguye commented on #30411
It does help, but some module relies on the FS layer of the system, and if you have some NFS hanging, it will stuck

[2020-04-04 11:46] johnbui423 commented on #68528
Thanks!

[2020-04-04 12:04] ryanmerolle commented on #67681
Do we need to put more focus on this with use cases, function, and etc?  If so, let me know how I should tackle this.  Thanks!

[2020-04-04 14:57] KaliszAd commented on #23816
Have you had any luck with the libgcrypt community?

[2020-04-04 17:52] sshedi commented on #67791
@samdoran Please review this change, this is my first PR, please pardon me if you find any mistakes.

[2020-04-04 18:53] jstewart612 opened #68693 "docker_login using TLS-enabled docker hosts is failing"
##### SUMMARY

docker_login using TLS-enabled docker hosts is failing

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_login

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

AWX 10.0.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It connects to the remote docker host and runs a docker login.

##### ACTUAL RESULTS

[code]

[2020-04-04 19:01] alekgr commented on #68651
@Akasurde, so actually I think the issue is regarding my hostvars check that is returning mytoken variable.

ok I changed my code a little to reflect interaction that you were talking about. Here is my code and variable output. I have changed my ip's and token for security. Also I noticed if I change my mytoken with  embeded variable with the same token it works without any errors.

``
TASK [user_

[2020-04-04 19:26] alekgr commented on #68651
by the way I am getting the following when using mytoken registered variable  which is returning incorrect token to the hashi_vault plugin
``
'An unhandled exception occurred while running the lookup plugin ''hashi_vault''. Error was a <class ''ansible.errors.AnsibleError''>, original message: Invalid Hashicorp Vault Token Specified for hashi_vault lookup
``

[2020-04-04 21:28] smalleni opened #68694 "Module from previous role is used within current role"
##### SUMMARY

When two roles used within a playbook have modules with the same name in `roles/<rolename>/library/`, the module from the previous role is used within the current role, instead of the module defined within the current role.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Ha

[2020-04-04 22:11] jeanfabrice opened #68696 "service module not restarting Elastic filebeat on Debian Wheezy"
##### SUMMARY

Using system ```service``` module to restart an installed and running filebeat service on Debian Wheezy stops the service.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/system/sysvinit.py
lib/ansible/module_utils/service.py

##### ANSIBLE VERSION
[code]

2.7, 2.8 and 2.9 are also affected

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Target OS : Debi

[2020-04-05 00:42] LogeshGovi opened #68697 "contrib directory missing in devel branch"
##### SUMMARY
contrib directory is totally missing in devel branch

In the following Ansible Docs:
[Ansible-doc-link](https://docs.ansible.com/ansible/latest/user_guide/intro_dynamic_inventory.html#inventory-script-example-aws-ec2)
The links to ec2.ini and ec2.py are given as:
[ec2.ini](https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/ec2.ini)
[ec2.py](https://raw.githubus

[2020-04-05 08:57] jeanfabrice commented on #68696
+label affects_2.7
+label affects_2.8
+label affects_2.9

[2020-04-05 09:50] jstewart612 commented on #68693
User error:  AWX job isolation prevented processes from accessing files.

[2020-04-05 09:50] #68693 closed, assigned to nobody

[2020-04-05 10:50] ibarrere commented on #56282
@NilashishC Weird... I can't reproduce with an ASAv either, but I can reproduce with a physical ASA, both running some form of 9.12 (different from the original version I tested with, 9.8(3)18). Here is the playbook I'm working with:

`- hosts: pfw,lfw
  connection: network_cli

  tasks:

    - name: get configured interfaces
      asa_command:
        commands:
          - show interface ip brief