[2017-11-25 23:10] sivel commented on #33283
You have instructed Ansible to copy the contents from the previous task to a directory called `.output` On the host `lab2-rtr2`

The error indicates that the directory does not exist on `lab2-rtr2`

You likely wanted to use `delegate_to: localhost`

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google

[2017-11-25 23:10] #33283 closed, assigned to nobody

[2017-11-26 01:25] dspruell commented on #33275
Confirmed that I botched the loop, testing with `item.1.items()` works as desired. Thanks!

Aside from the mistake on the loop - is there any way where the invalid value identified in the message (the value of the `tags` field) can be improved? Not clear why this value was in focus or where the referenced 'args' field came from.

    "msg": "the field 'args' has an invalid value ([u'openvpn_test']

[2017-11-26 01:59] sivel commented on #33275
`args` refers to any arguments passed to a module. I can't comment immediately on why the value of tags was referenced in the error.

[2017-11-26 03:55] it-praktyk commented on #33176
I'm bit confused now because in the code is the correct module name referenced. But when I display help using ansible-doc I see.
![ansible-doc import_role_001](https://user-images.githubusercontent.com/4910261/33236990-d6c3920c-d265-11e7-8540-2fbdf3639865.jpg)

[2017-11-26 04:40] mowntan opened #33284 "VMware: vmware_guest fails to create VM when the network is a Portgroup of a vSphere distributed virtual switch"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
MacOS 10.13.1
GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.31)

##### SUMMARY
Vmware creation fails when the network is a Portgroup of a  vSphere distributed virtual switch. Using a standard switch network is ok. The vsphere_guest module has the opt

[2017-11-26 04:41] mowntan commented on #32365
Looks like that fixed it, thanks!

[2017-11-26 04:46] it-praktyk commented on #33176
I've installed Ansible using an rpm package for Fedora Linux

[code]

[2017-11-26 05:27] it-praktyk commented on #33176
It's partially my fault - I didn't compare [the code on the release time](https://github.com/ansible/ansible/blob/e946c4b3b73be28871ab67965584e060d7da1c4b/lib/ansible/modules/utilities/logic/import_role.py).

I just push some small changes to the documentation of the import_role module.

[2017-11-26 05:27] Akasurde commented on #33284
@mowntan Thanks for reporting this issue.

[2017-11-26 13:52] saiya opened #33287 "apt_key retries GPG key download but apt_repository seems not retry"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

apt_repository

##### ANSIBLE VERSION

`2.4.1.0` (and I looked latest `devel` branch source code)

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 (Xenial)

##### SUMMARY

Hi, I encounterd GPG key download issue as same as https://github.com/ansible/ansible-modules-core/pull/3987 when using `apt_repository`.

As show in above Pull Req

[2017-11-26 17:27] cmock commented on #32767
@oboukili I don't think that's the issue (or "openssl req" is lying about my request) -- I've included no SAN in my request, just the name in the subject.

[2017-11-26 18:03] frado22 commented on #28463
Hi,

I've got the same problem, except that I have a folder in which I have already VM (ZABBIX3). So I began with ansible module vmware_guest_find in order the full folder path, and I give it to the vmware_guest module. Here is the result log:

[code]
As you see I got an error on the folder name for creation a VM from a template, but this folder was correctly discovered at the previous step.

My a

[2017-11-26 18:21] ajacocks commented on #32767
@oboukili Also, with my example, you can see that I included both SAN and
CN.

On Sun, Nov 26, 2017 at 12:28 PM christian mock <notifications@github.com>
wrote:

--
=============================================================
J. Alexander Jacocks     | Senior Solutions Architect
(e) alexander@redhat.com | Public Sector Business Development
(c) (240) 447-5974       | Tyson's Corner, VA
(g) CC28 81

[2017-11-26 19:10] parmstro commented on #30982
Hi @jborean93. Thanks for the reply. Sorry I for being so late to respond, I have been wrapped up in other projects. I have upgraded recently for other reasons and will revisit this.

[2017-11-26 20:35] teresaejunior commented on #30993
As @gildegoma noted, it is currently not possible to pipe a password for `--ask-become-pass` (and maybe `--ask-pass`) either. My idea was asking for a password immediately after running my provisioning script, instead of waiting for it to finish running `ansible-galaxy`. It happens to me that I run the script, leave it unattended, and when I go back it is still waiting for a password.

[2017-11-26 21:40] tchernomax commented on #24979
@westsouthnight for my part the issue is still present in the devel branch.
[code]

But I am not sure @mbialozor and I experienced exactly the same issue (If that's not the case I will create my own github issue).
@mbialozor can you check with your conf ?

[2017-11-26 22:46] vegbrasil commented on #33147
If needed, I can share a DO Spaces credential to help the bug fix process.

[2017-11-26 23:42] #33280 closed, assigned to nobody

[2017-11-26 23:43] jmcgill298 opened #33290 "IOS_STATIC_ROUTE: admin_distance overwrites existing configuration when not provided in the task"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_static_route
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

Module overwrites existing configuration for `admin_distance` when parameter is not provided in the task.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected the route on the end device to have `ip route 192

[2017-11-26 23:59] jmcgill298 opened #33291 "IOS_STATIC_ROUTE: module is not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_static_route
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04
IOS Version 12.2(44)SE2
##### SUMMARY

module is not idempotent
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected the second iteration to have `changed: false`
##### ACTUAL RESULTS

Configuration was resent to the device

[2017-11-27 00:58] mhuot opened #33292 "NetApp Ontap module has hard coded values for port, api_version, server_type and transport_type"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
module_utils/netapp.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)

##### SUMMARY
There was a "Todo : Replace hard-coded values with configurable parameters." this issue reflects the ToDo

##### STEPS TO REPRODUCE
You can not specify a port or transport type

##### EXPECTED RE

[2017-11-27 02:08] flaf opened #33296 "Is it possible to precise the loading order of files in `group_vars/`"
Is it possible to precise the loading order of files in `group_vars/`. The documentation is not totally accurate on this point.

##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

ansible-doc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian Stretch

##### SUMMARY
I would like to know the order when files in `group_vars/` are loaded. The docu

[2017-11-27 02:17] flaf commented on #33296
PS: of course, I admit that my examples are a bit weird and should not be followed in real cases.

[2017-11-27 02:35] Akasurde commented on #28463
@frado22 Could you please paste your playbook ?

[2017-11-27 04:06] trishnaguha commented on #33290
ios vms we have in lab has admin_distance default to 1. The problem with OS version can be resolved when cliconf is implemented https://github.com/ansible/ansible/issues/31277 @rcarrillocruz

[2017-11-27 06:16] aregala commented on #33235
Hi Sivel,

could you please let me know if this is not possible, i do not see your closed comments !!

Thanks Subbu

[2017-11-27 06:44] kedarkekan opened #33299 "Receive on ssh stream goes into tight loop with 100% CPU usage"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
network_cli
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
macOS

##### SUMMARY
Playbook runs with 100% CPU till command_timeout alarm is triggered

[code]
##### STEPS TO REPRODUCE
A sample task to configure iosxr_interface expose this issue, when the terminal is exited.
[code]

[code]

##### EXPECTED RESULTS
Complete

[2017-11-27 06:53] kedarkekan opened #33300 "AnsibleConnectionFailure: Authentication timeout on cli transport"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
network_cli

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
macOS

##### SUMMARY

Authentication failure with cli transport

[code]
##### STEPS TO REPRODUCE
Any network task with transport `cli`

##### EXPECTED RESULTS
Successful ssh connection

##### ACTUAL RESULTS
[code]

[code]

[2017-11-27 06:57] willthames commented on #33052
While I'm glad you've found a solution for your use case, this is still indicative of a wider problem (you can't share your inventory with other people as they'll likely have a completely different requirement for ansible_python_interpreter)

[2017-11-27 08:06] yuwzho commented on #28534
Thanks for reporting this, I m working on this issue 😄

[2017-11-27 08:43] frado22 commented on #28463
Here is my role (role name: vmware_clone_template):

[code]
My vars for host lxezfee1.eram.loc:
[code]

My playbook (role.yml):
[code]

And the command I launch:
[code]

Other (useful?) information, with govc I got this:
[code]

[2017-11-27 09:11] fredericlepied opened #33302 "Unit tests failed without ncclient installed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

test/units/plugins/connection/test_netconf.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora Rawhide x86_64

##### SUMMARY

Commit https://github.com/ansible/ansible/commit/3d63ecb6f3dc1d3687183746d431c1721233d125 broke unit test under Fedora Rawhide x86_64. See http://38.145.33.116/ansible-devel/3d/63/3d63

[2017-11-27 09:12] fredericlepied commented on #33302
CC @ganeshrn

[2017-11-27 09:25] SurferL commented on #25539
$Customer here is confused :-) using ansible version 2.4.1.0

I get `fatal: [10.1.10.146]: UNREACHABLE! => {"changed": false, "msg": "ssl: a float is required", "unreachable": true}`

When I use it in the command line with the following:
[code]
Am I not allowed to use it in this way?

[2017-11-27 10:30] coofercat commented on #30441
I don't have a lot of time right now to try and figure this out in any detail, but I just found that with ansible-2.4.1, when running with `-f 5` (to avoid killing the box), each `ansible-playbook` process would consume about 13% of available memory (according to `top`). That's pretty much all of the spare (13 x 5 = 65%). It seemed to be fine (about 2.2% memory usage) while skipping some of the pr

[2017-11-27 11:06] mkrizek commented on #33058
@ymagriso can you provide `-vvvv` output of the ansible command? Also, stupid question but are you able to untar that archive manually on the target machine? Thanks!

needs_info

[2017-11-27 11:31] gundalow commented on #30599
Hi, there is a proposed fix in https://github.com/ansible/ansible/pull/32576 does this fix the issue for you?

Please add review comments on the Pull Request

[2017-11-27 11:54] rpijlman commented on #31071
Clone of #18140 and #26718

[2017-11-27 12:02] rpijlman commented on #18140
@calfonso I'm still seeing this issue with v2.4.2.0-0.5.rc1. It's also been reported on 2.5 (#31071).

[2017-11-27 12:40] philipobrien commented on #19809
Running into this on 2.3.2. Any fix or best-practice workaround? Use command module to `git reset --hard HEAD`?

[2017-11-27 13:07] ymagriso commented on #33058
@mkrizek here is the output of the ansible command with "-vvv":

The full traceback is:
  File "/tmp/ansible_ULcvnJ/ansible_module_unarchive.py", line 141, in <module>
    from shlex import quote
fatal: [localhost]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "attributes": null,
            "backup": null,
            "content": n

[2017-11-27 13:40] rauldelperal opened #33305 "aws ec2 component returns "public_ip": null if aws c5 instance type"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION
ansible 2.4.1.0
ansible python module location = /home/myhome/.local/lib/python3.5/site-packages/ansible
executable location = /home/myhome/.local/bin/ansible
python version = 3.5.2 (default, Sep 14 2017, 22:51:06) [GCC 5.4.0 20160609]

##### CONFIGURATION
ACCELERATE_CONNECT_TIMEOUT(/home/buccaneer/Documents/ansible/an

[2017-11-27 13:40] yuwzho commented on #30931
@zhijunzhao Could you please take a look?

[2017-11-27 14:30] wknapik opened #33306 "Unexpected behavior in when: conditions"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]
2.5.0.34173.3d63ecb6f3-1

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Unexpected behavior in `when` conditions.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I expected the same behavior in each case - skip/skip/skip.

##### AC

[2017-11-27 14:33] t2d commented on #25400
I'm having the same problem in Ubuntu.
[code]
It used to work in older ansible versions.

[2017-11-27 14:34] wknapik commented on #33306
Maybe I'm misunderstanding something and it's supposed to work this way, but it *is* counterintuitive and difficult to debug.

[2017-11-27 14:57] marvingreenberg commented on #33197
I'm guessing that for other archive formats the behavior is different - the BEHAVIOR for native 'unzip' commands seems to be to unzip the whole thing - there isn't a "recurse" option.  So maybe a documentation change (with ignoring recurse for zipfiles?) is all that is needed.

[2017-11-27 15:06] marvingreenberg commented on #33199
Well, that's fine.  I think that there should be more consistency between the windows modules and the unix ones.  There is a tension between what ansible developers do writing modules, and what ansible users have to do to use the tool.  It seems like for most use cases, win_unzip will be preceded by transferring some archive.   But this is really a minor point.

[2017-11-27 15:06] #33199 closed, assigned to nobody

[2017-11-27 15:24] alikins commented on #33259
Is this improved with ansible 2.4?  Was the 2.3 behavior better?

Could you provide an example template and inventory?

[2017-11-27 15:30] alikins commented on #33274
Does the apt command work on the remote system when invoked directly? ie, running `apt-get install python-apt -y -q` from a shell on the remote host work?

[2017-11-27 15:30] acdbrnz commented on #33263
I think I found the issue, well partly.  My target hosts are connected to a spacewalk server and as such using the various rhn registering components that require pyOpenSSL rpm.  By default it installs pyOpenSSL which the latest is pyOpenSSL-0.13.1-3.el7.x86_64.  On those target hosts using ansible I have a pip ansible task that installs pyopenssl to latest 17.4 however it conflicts with the .13 v

[2017-11-27 15:31] jmcgill298 commented on #33290
I found another issue when I finally got to look at the code late last night. I see the data is being pulled from line 133: `    rc, out, err = exec_command(module, 'show ip static route')` which I assume was meant to be `show ip route static`, but which still fails idempotency when the next-hop is not reachable. The module can add the same route as many times as it wants, but until the next-hop i

[2017-11-27 15:36] alikins commented on #33274
That `apt-get install python-apt -y -q` is constructed by the module itself if it can't 'import apt' but that seems to fail.

[2017-11-27 15:42] jmcgill298 commented on #33291
@trishnaguha I want to direct your comment about the VMs defaulting admin_distance to `1` here (#33290). There is a difference between the Ansible module defaulting providing a default configuration and the end device providing a default configuration. If I have `192.168.10.0 255.255.255.0 192.168.1.1 5` configured on the device, and I send only `prefix,` `mask`, and `next_hop` params, I expect An

[2017-11-27 15:43] dcode opened #33307 "The FirewallD module should support adding a zone"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
firewalld

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No changed settings

##### OS / ENVIRONMENT

I'm trying to manage CentOS 7 / RHEL 7 systems with firewalld enabled.

##### SUMMARY
I use FirewallD to manage my system firewalls for various services. Some services should only be reachable by specific IP subnets. The current `firewall

[2017-11-27 15:46] iamsarathi commented on #33107
Thank you.

[2017-11-27 15:53] alikins commented on #33175
@typ431127 Could you rerun this with the '-vvv' option and paste the results?

[2017-11-27 15:55] alikins commented on #33175
@typ431127 The errors:

...look to be docker errors. Are you able to pull that image with the docker on the remote hosts (192.168.31.223 etc) if you use the docker cli directly?

[2017-11-27 15:56] Spredzy commented on #33263
Thanks @acdbrnz for pushing your investigation further, and for the kind words. Happy to know it makes your life easier.

Would you mind closing this issue as it ends up not being an openssl_csr bug ?

[2017-11-27 15:58] #33263 closed, assigned to nobody

[2017-11-27 15:59] jmcgill298 commented on #33290
There is a difference between the Ansible module providing a default configuration and the end device providing a default configuration. If I have 192.168.10.0 255.255.255.0 192.168.1.1 5 configured on the device, and I send only prefix, mask, and next_hop params, I expect Ansible to not make any changes since what I supplied in the task does exist on the device.

What is the reason the module is

[2017-11-27 16:02] #23216 closed, assigned to nobody

[2017-11-27 16:03] alikins commented on #33226
pinging @drybjed @gundalow

[2017-11-27 16:03] jctanner commented on #23216
@k0ste thanks for the verification.

[2017-11-27 16:21] drybjed commented on #33226
Not sure why I'm summoned, but from the provided example... If you say that when you specify `4|random` and you get vaules 0, 1, 2, 3, it looks to me like 4 distinct values... In the cron example, just specify `60|random` and you should have what you want.

[2017-11-27 16:35] brainclots commented on #33029
Error message appears different, but still unable to elevate privilege.

2017-11-27 08:24:02,885 p=23200 u=bklotz |  ansible-playbook 2.5.0
  config file = /Users/bklotz/.ansible.cfg
  configured module search path = [u'/Users/bklotz/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /Users/bklotz/miniconda2/lib/python2.7/site-packages/ansible
  ex

[2017-11-27 16:49] alikins commented on #33260
That is a pretty terrible error message. But not sure it can be improved much. The hidden traceback:

[code]

The change in https://github.com/ansible/ansible/pull/33272 to always convert to text seems reasonable for this case and should avoid that error as well.

[2017-11-27 16:52] alikins commented on #33262
Please create a pull request for the suggested fix.

[2017-11-27 16:53] alikins commented on #33269
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-11-27 16:53] #33269 closed, assigned to nobody

[2017-11-27 16:54] avonheimburg commented on #33045
I'm using `state: present force:yes` as a workaround so my scripts at least finish. This removes and recreates the entire network on every run. It works, but is quite slow.

[2017-11-27 17:01] dcfsc commented on #27299
`| to_json | from_json` workaround works for me with `starts_with` function. I had problems with a large dump of yum packages, using the query `"(results[?starts_with(name, 'docker')])"` and this fixed it.  Not liking the need for a hack like this though. Thx again @berlic

[2017-11-27 17:02] alikins commented on #33273
pinging @nitzmahone

[2017-11-27 17:03] alikins commented on #33273
Was this working previously?

[2017-11-27 17:12] alikins commented on #33270
ping @bcoca

[2017-11-27 17:12] nitzmahone commented on #33273
Off the top of my head, it's probably an issue with OpenSSL/urllib3 on Amazon Linux puking on the SNI handshake, especially if you're using an OS-packaged version of requests (since they're often ancient and have the normally-vendored bits that might have some hope of supporting SNI stripped out).

Curious how you installed requests/urllib3 and pywinrm, and if you're able to repro on something lik

[2017-11-27 17:13] alikins commented on #33270
Possibly related to:
https://github.com/ansible/ansible/issues/31406
https://github.com/ansible/ansible/issues/31405
and the discussions around https://github.com/ansible/ansible/issues/31405

[2017-11-27 17:14] alikins commented on #33296
Possibly related to:
https://github.com/ansible/ansible/issues/31406
https://github.com/ansible/ansible/issues/31405
and the discussions around https://github.com/ansible/ansible/issues/31405

[2017-11-27 17:14] alikins commented on #33296
pinging @bcoca

[2017-11-27 17:23] alikins commented on #33296
@flaf are you looking to know the ordering the files are loaded in, or the resulting var precedence? If the former only: why?

[2017-11-27 17:26] #33245 closed, assigned to trishnaguha

[2017-11-27 17:26] #33227 closed, assigned to trishnaguha

[2017-11-27 17:29] alikins commented on #33296
@flaf https://github.com/ansible/ansible/blob/devel/lib/ansible/inventory/helpers.py has some of the implementation.  the 'priority' can be specified with 'ansible_group_priority'.

So default looks to be sorted by depth, priority, then name with later items having higher precedence

[2017-11-27 17:37] nitzmahone commented on #33273
Also, you said you were able to connect via PS remoting, but did you force it to use 5985/SSL? If not, it's probably doing message encryption over 5985, as that's the default...

[2017-11-27 18:21] alikins commented on #33306
reproducer:

[code]

result:
[code]

[2017-11-27 18:27] nwsparks commented on #33273
@alikins  Thanks. I was able to reproduce it in 2.3 and 2.4.

@nitzmahone Thanks. I did try 5986 and was able to connect using psremoting while Ansible was failing on port 5986. I checked and it looks like pip installed urllib 1.22...I tested it with both python 2.7 and 3.5. I'll see if I can get a test done using Ubuntu today and update with more info after that.

I'm wondering if it's some issue

[2017-11-27 18:34] nitzmahone commented on #33273
It's been awhile since I played with SNI on Windows, but IIRC the http.sys SNI handshake option is global and disabled by default; if you've turned it on, everything that uses http.sys will include the SNI handshake stuff even if the listener in question (eg winrm) is only configured for a single cert.

Regardless, the connection handling is several layers below Ansible's code, so assuming it trul

[2017-11-27 18:37] nitzmahone commented on #30931
This is not directly an azure issue; it appears to be an issue with the `group_by` action. Can you please post a reproduction? We don't have enough information here to replicate the issue.

[2017-11-27 18:43] gilcot commented on #30609
@ZillaG
The issue is solved in the latest version (I'm using 2.4.1.0 right now) So, you may update Ansible for a better experience ;)

Note that not only *.cfg was a problem with 2.4.0.0 but also *.ini and *.bak and others.
This is now [documented by ansible.cfg intro page](http://docs.ansible.com/ansible/latest/intro_configuration.html#inventory-ignore-extensions)

[2017-11-27 19:05] jacksonp2008 opened #33312 "Request failed: <urlopen error [SSL: SSLV3_ALERT_HANDSHAKE_FAILURE] sslv3 alert handshake failure (_ssl.c:590)>""
##### ISSUE TYPE

 - Bug Report

Appears to be similar to 32053 which is closed:
https://github.com/ansible/ansible/pull/32053

##### COMPONENT NAME

URI

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
DEFAULT_REMOTE_PORT(/Users/spollock/ansible/fs-skytap-control/ansible.cfg) = 22
DEFAULT_REMOTE_USER(/Users/spollock/ansible/fs-skytap-control/ansible.cfg) = s

[2017-11-27 19:24] bhairav13 commented on #31804
Thanks @Akasurde, that works!

Should the change consider both cases:
1) That a template was given with no disk size (the issue being addressed here)
2) That a template was given with an increased disk size (that the new change would possibly not allow)  -- not sure if some other part of the code handles this

Thanks.

[2017-11-27 19:40] jctanner commented on #30931
bot_status

[2017-11-27 19:40] nwsparks commented on #33273
Darn =/

Unfortunately I was able to reproduce it on Ubuntu Xenial

1. Launch new instance from quick start ubuntu 16 ami
2. apt install python python-setuptools
3. easy_install pip
4. cloned ansible
5. cd to ansible pip install -r requirements.txt
6. pip install urllib3 xmltodict pywinrm
7. copy over inventory.winrm file to test/integration/
8. ran win_ping got same error

On the windows side:

1

[2017-11-27 19:44] andreaso commented on #31511
@ptman Getting the expected behavior now? Something appear to have been changed/fixed on the CloudFlare side.

[2017-11-27 19:49] calfonso commented on #32724
@roshanmohite thanks for the update! The core team doesn't have a plan to implement this feature for 2.5, but definitely willing to review any pull requests if you're interested in taking a shot at the implementation. Keep in mind the code freeze date is Jan 15th for 2.5.

[2017-11-27 20:05] nitzmahone commented on #33273
Just curious- what happens if you do the WinRM enable script *after* SNI is live? I know that's probably not a realistic process for you, but just wondering if the late SNI enable is what's screwing up the listener config (if so, we could probably add a -EnableSNI switch or something to the script)

[2017-11-27 20:05] nitzmahone commented on #33273
I'm still pretty sure this is a client stack issue of some sort, but would like to prune the low-hanging fruit first :D

[2017-11-27 20:30] nwsparks commented on #33273
Yah definitely. I'm happy to test stuff where I can to help out. I tried the reverse order you suggested with a newly launched instance (install iis, reboot, add sni binding, run winrm setup script). Same issue. I also reset winrm and tried enabling the https listener with a more simple script and got the same error.

[code]

[2017-11-27 20:41] peterjanes opened #33314 "Support --releasever (and other variables/substitutions?) in dnf module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
dnf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default configuration

##### OS / ENVIRONMENT
Fedora 27 (host); various Fedora (managing)

##### SUMMARY
I'd like to be able to provide the `--releasever` parameter to `dnf` (which overrides the value determined from files in the OS) rather than dropping to a raw command. Ideally I'd also

[2017-11-27 20:47] peterjanes commented on #33314
I'd think the extent of its usefulness to the Ansible community is similar to `--installroot` support (#30105).

[2017-11-27 21:10] jborean93 commented on #33273
I seem to be getting a different error (still an error though)

[code]

Can confirm, changing `ansible_winrm_scheme: http` and using port `5985` works fine with `ntlm` and `credssp` when SNI is active.

[2017-11-27 21:13] nitzmahone commented on #33273
Yeah, that's more what I would've expected- clearly an OpenSSL handshake issue (though OpenSSL SNI support has been around for quite awhile, so it's strange that we're getting that).

[2017-11-27 21:27] alan113696 opened #33317 "Processor information reported incorrectly by setup module on some AWS EC2 instance types"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

Running and managing CentOS:

CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

Using Ansible setup module to gather facts about the processor count, cores, a

[2017-11-27 21:39] cmock commented on #32767
@oboukili actually, you pointed us in the right direction, and it works for me now.

What I did was to add a subjectAlternateName section to the request (with "DNS:hostname"), so I supposed @ajacocks you should try to get rid of the `subject_alt_name_critical: true` when generating the CSR.

(I also switched from SHA1 to SHA256 for the CSR, but that alone wasn't the solution).

[2017-11-27 21:44] jborean93 commented on #33273
Using the native winrs and PSRP commands I'm still able to connect to the host with SNI enabled so it seems like something happening in the OpenSSL/client side.

[2017-11-27 21:54] nitzmahone commented on #33273
OK, I think I know where the issue is: if I connect with a hostname instead of a raw IP, it works properly. So more than likely, either requests or urllib3 is not properly filling the SNI structure in the handshake when we connected with an IP instead of a hostname.

[2017-11-27 22:06] gregdek commented on #14604
@Yannik sorry about this. Looks like we changed required fields in the template. I've tried to fix.

Meantime, @chouseknecht I wonder if ticket belongs in ansible/galaxy instead? Thoughts?

[2017-11-27 22:06] mattrucker commented on #25344
@jborean93 It appears that the pipeline issue has been resolved in [PowerShell/openssh-portable#235](https://github.com/PowerShell/openssh-portable/pull/235). Any comment on the commitment level of getting PowerShell over SSH working in Ansible? We find WinRM to be workable, but painful, especially having to maintain a PKI relationship to sign certificates.

Thanks for all your hard work!

[2017-11-27 22:08] pmarques opened #33320 "Inventory vars lost is precedency to group_vars/all"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- variable precedency

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OS X

##### SUMMARY

In Ansible v2.3 inventory variables had priority in group_vars/all variables but in Ansible 2.4 that changed.

##### STEPS TO REPRODUCE

group_vars/all.yml
[code]

[code]

ansible -i inventory all -m debug -a "var=myvar"

[2017-11-27 22:15] flaf commented on #33296
Thanks for you for your answer @alikins. Indeed, I'm looking to know the ordering the files `group_vars/*` are loaded in... to be able to predict the resulting var precedence because the documentation doesn't seem to explain this point. Am I wrong?

Furthermore, the link to [helpers.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/inventory/helpers.py) doesn't seem to math with the ex

[2017-11-27 22:21] jborean93 commented on #25344
@mattrucker there is a test branch https://github.com/ansible/ansible/pull/33074 that get's the very basics going but there would be a lot more work to be done to get it working with the existing `ssh` connection plugin. There are also other issues around become and async no longer working that we would need to fix up.

[2017-11-27 23:08] zoharm commented on #26297
Hi guys, any updates or workarounds for this please?
(or please refer to where to look?)

[2017-11-28 00:34] garyyang6 opened #33321 "ansible-playbook: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: Permission denied (publickey,gssapi-keyex,gssapi-with-mic,password).\r\n", "unreachable": true}"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)
##### SUMMARY

I login as root at docker01.works.com. As root, I am able to ssh to docker02.works.com without password. Also, as root, at docker02.works.com, I am able to ssh to docker01.works.com without password. But, I got Permis

[2017-11-28 01:00] xzcccc commented on #33274
@alikins When I run apt-get install python-apt on remote system， it warned me that：
    pi@raspberrypi:~ $ sudo apt-get install python-apt
         Reading package lists... Done
         Building dependency tree
         Reading state information... Done
         The following package was automatically installed and is no longer required:
                 python3-apt
         Use 'sudo apt autorem

[2017-11-28 01:07] dagwieers commented on #25539
@SurferL Try using `ansible_winrm_read_timeout_sec=150.0` ?

[2017-11-28 01:24] xb4876 opened #33323 "unable to load configuration from /root/.ansible/tmp/ansible-tmp-1511777799.47-133894082603415/synchronize.py"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

synchronize
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
centos 6.9  jdk1.8

##### SUMMARY
The Django project is started with the nginx uwsgi, and the ansible synchronize module cannot be used

##### EXPECTED RESULTS
[Start] Ansible Model: synchronize  ARGS:src=/root/a dest=/tmp/ compress=yes

192.168.1.16

[2017-11-28 01:44] mowntan commented on #33284
Looking at the vmware_guest code, I see references to dvs as a configuration, so my assumption is that it should be supported.
https://github.com/ansible/ansible/blob/88a14465b7816f384d915f7dfc0c2c5a2fe08aaa/lib/ansible/modules/cloud/vmware/vmware_guest.py#L785

[2017-11-28 01:57] #33279 closed, assigned to nobody

[2017-11-28 02:05] #33300 closed, assigned to kedarkekan

[2017-11-28 02:05] #33299 closed, assigned to kedarkekan

[2017-11-28 02:12] kedarkekan opened #33324 "[NETCONF] Refactor IOSXR modules to support netconf plugin"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
iosxr

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
macOS

##### SUMMARY
Refactor module codes to use netconf plugin:

- [x] iosxr_banner
- [x] iosxr_logging
- [x] iosxr_interface
- [x] iosxr_system
- [x] iosxr_user
- [ ] ~iosxr_facts~

Note: iosxr_config, iosxr_command and iosxr_netconf shall support `cli` only.

[2017-11-28 02:55] haneefarkin opened #33325 "uri module doesn’t handle multiple cookies with same name"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

    module : uri
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I'm getting
set_cookie": “X-JSESSIONID=e80e63ec-defa-44d7-bd6d-b42991d8e1d8; Path=/; Secure; HttpOnly, X-JSESSIONID=deleteMe; Path=/; Max-A

[2017-11-28 02:59] haneefarkin commented on #33325
If there are two cookies with the same name, the last one should replace the first one. URI modules set cookies keep both of them.

[2017-11-28 03:03] #31561 closed, assigned to nobody

[2017-11-28 03:08] blurblah commented on #32965
I think next version will be released on devel. Yes, some bugs would be there while branching out. I just wanted to represent this issue is not reproduced on devel and it might be solved. That's all.

[2017-11-28 03:47] jacksonp2008 commented on #32808
Will there be someone having another look at this?  We really need it to work if possible.

thanks!

[2017-11-28 03:51] sivel commented on #33325
Please fill out the template with actionable information

needs_info

[2017-11-28 05:15] Akasurde commented on #31923
resolved_by_pr #33327

[2017-11-28 05:29] kedarkekan opened #33328 "iosx_user integration test failures for public_key testcases"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
iosxr_user

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
macOS

##### SUMMARY
File paths to keys are wrong and ssh port missing from commands

##### STEPS TO REPRODUCE
Run iosx_user integration test suite

##### EXPECTED RESULTS
All Tests Pass

##### ACTUAL RESULTS
Failed Testcases

[2017-11-28 05:44] 2333 commented on #31868
@Akasurde Thanks for fix it, I 'll check it out soon.

[2017-11-28 05:44] 264nm commented on #23521
Just wanted to add a comment here re: behaviour I noticed rather than submitting a report that will be closed with 'just quote it'

Came across this situation using the template module, but when passing a var to be templated:

## Defined var
`rsyslog_file_create_mode: 0755`

## Template file
[code]

## Templated Output
[code]

[2017-11-28 06:54] roshanmohite commented on #32724
@calfonso I am from hardcore Networking background, I have never done coding since high school; this playbook is first piece of code I tried after almost 10 years. But i can give it a shot. I'll keep the deadline in mind.
Thanks.

[2017-11-28 07:31] vbohata commented on #30882
Same for me. I still have to use old include because include_tasks does not support tags.

[2017-11-28 07:57] jainnikhil30 opened #33331 "Option to change file permissions/attributes in sysctl module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

sysctl
##### ANSIBLE VERSION

[code]

##### SUMMARY

There should be an option in sysctl module to change/set the owner, group & mode of the file updated/created. Currently it uses default owner/umask

[2017-11-28 08:38] #33256 closed, assigned to nobody

[2017-11-28 08:43] ZhijunZhao commented on #29581
This issue is fixed by PR #28605
Please close it.

[2017-11-28 08:43] gundalow commented on #33226
resolved_by_pr 33308

[2017-11-28 08:44] #29581 closed, assigned to nobody

[2017-11-28 08:47] nanjj commented on #29828
my workaround for this issue:
[code]

[2017-11-28 08:53] Akasurde commented on #31976
resolved_by_pr #33333

[2017-11-28 08:53] Akasurde commented on #31976
@davx8342 Could you please verify this PR with your setup ?

[2017-11-28 08:54] ZhijunZhao commented on #17925
@nitzmahone  I think this issue can be closed, for it's duplicated one is closed.

[2017-11-28 09:26] #33226 closed, assigned to nobody

[2017-11-28 09:28] #33328 closed, assigned to kedarkekan

[2017-11-28 09:49] msieurtoph commented on #24891
+1

Any news ?

[2017-11-28 10:22] krzysztof-magosa commented on #24891
Didn't do any analysis of code, but after moving to Ansible 2.4.1 it looks much better in my case.

[2017-11-28 10:50] msieurtoph commented on #24891
Tested with ansible 2.4.1 and python 2.7.14
 ... and still get the same problem when using `include_role` and `with_items`

[2017-11-28 11:31] ptman commented on #31511
Indeed, it seems to work with no code changes. Thanks for looking into this!

[2017-11-28 11:43] janvht opened #33336 "using selinux results in invalid selinux config file"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
selinux module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RedHat EL 7.3

##### SUMMARY
selinux modules throws newlines away in /etc/selinux/config resulting in an invalid selinux config file.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[code]

[2017-11-28 12:24] Akasurde commented on #22808
resolved_by_pr #33338

[2017-11-28 12:25] Akasurde commented on #22808
@thunderpants73 Could you please check if this PR works for your setup ?

[2017-11-28 12:26] Akasurde commented on #22808
cc @pdellaert @angystardust @aperigault

[2017-11-28 12:50] tbouvet commented on #32594
@bcoca I have the same problem. When I want to  push the hosts with an extra var, I have the same warning:
[code]
[code]
I think this one is a bug.

[2017-11-28 13:46] SurferL commented on #25539
@dagwieers Thanks for the response! I'm afraid that didn't work (comes up with the same error)

[2017-11-28 14:09] sparunakian commented on #31344
I encounter the same issue when managing a CentOS 6 using Ansible 2.4.1.0 with the service module with "enabled=yes". I encounter this issue when running Ansible from CentOS 7.4.1708 and Fedora 27, but not ArchLinux.

CentOS 7.4.1708:
[code]
No configuration override

Fedora 27:
[code]
[code]

ArchLinux:
[code]

[code]

I can't find an explanation for this issue appearing on CentOS and Fedora, but

[2017-11-28 14:26] dagwieers commented on #25539
@SurferL This deserves a separate issue. Can you create a new issue ticket ?

[2017-11-28 14:31] lawrence-c opened #33339 "ansible_winrm_read_timeout_sec error:- ssl: a float is required"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
WinRM

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Mac OSX to Windows 7

##### SUMMARY
I get `fatal: [redacted-url]: UNREACHABLE! => {"changed": false, "msg": "ssl: a float is required", "unreachable": true}`

When using it in the command line with the following:
[code]

Have also tried using it with `ansible_winrm_read_timeout_sec=150.

[2017-11-28 14:37] gundalow commented on #32944
Once we have the deprecation messages this should be added to https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guide_2.5.rst

[2017-11-28 14:40] privateip commented on #32989
@jabelk can you confirm you were able to get this working?

needs_info

[2017-11-28 14:45] Sebi94nbg commented on #31518
Ok, this file was overwritten by an other task of the role while unarchiving a ZIP file.

However: It's still strange, that the verbose output says "force = yes", even when it's set to "force = no" in the task.

[2017-11-28 14:45] #31518 closed, assigned to nobody

[2017-11-28 14:46] samdoran commented on #19612
Closing since #30409 was merged to address this issue.

[2017-11-28 14:46] #19612 closed, assigned to emonty, rcarrillocruz

[2017-11-28 14:47] mkrizek commented on #33336
@janvht can you please try with `2.4.1`, it should be fixed there. Thanks!

needs_info

[2017-11-28 15:15] hassanhassoun opened #33340 "kubernetes.py module fails to create Job"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/clustering/kubernetes.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_HOST_KEY_CHECKING=false
GOOGLE_APPLICATION_CREDENTIALS=/path/to/credential_file

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Attempt to create any Kubernetes job fails until the KIND_URL endpoint is changed from:

"job": "/apis/extensions/v1beta1/namespaces

[2017-11-28 15:31] Akasurde commented on #28463
@frado22 I created similar setup in my environment

[code]

In order to create DC0_H0_VM004 , I am using following PB

[code]

You will notice that I am using `/F0` which is in vmFolder as Folder value.

Could you please try - `/ZABBIX3` as Folder value and this https://github.com/ansible/ansible/pull/33337 for debugging?

[2017-11-28 15:40] oboukili commented on #32767
There's something fishy with the module output, I'll take a look later tomorrow maybe.

[2017-11-28 15:41] turb commented on #31799
@tumbl3w33d do you think the PR can be merged?

[2017-11-28 15:49] lukasmuszong opened #33342 "Cisco Switch Unable to Open Shell"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
task: ios_command (but similarly failed for ios_ping, ios_config)

##### ANSIBLE VERSION
[code]
##### "pip freeze" output
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Local Linux Host OS : CentOS Linux release 7.4.1708
Target Switch : Cisco Catalyst 3850 running IOS XE 16.6.2

##### SUMMARY
Trying to compile a basic ansible playbook

[2017-11-28 15:49] tumbl3w33d commented on #31799
I'm a little hesitant about the `force` default. Even if that's the current default (I didn't verify that yet), I'd rather see this set to `False`, because it seems a little counter-intuitive to me and I can't remember any other API where `force` defaults to `True`. The module is in state `preview` so it would be fine to change something about defaults. The new default would be more conservative a

[2017-11-28 15:55] matglas commented on #11045
I believe the PR #30722 does not answer the full question asked here. A very likely use case is mentioned about edge cases that you do want to keep in your play.

Would it be possible to reopen this issue and look at the possibilities again? From the view of the playbook and not of the environment (eg ansible.cfg)?

[2017-11-28 16:01] turb commented on #31799
Well, I am really confortable with setting `force` default to `False` for myself (it would prevent me to setting it everywhere), but I don't know if many people rely on the contrary.

However the `template` module does set `force` to `True` by default, see [its documentation](https://docs.ansible.com/ansible/latest/template_module.html).

To be bold, if the module is in `preview` state and backwar

[2017-11-28 16:09] #25112 closed, assigned to nobody

[2017-11-28 16:14] jmcgill298 commented on #33342
`AttributeError: 'module' object has no attribute 'GSSException'`

I see bugs with paramiko and gssapi; can you use a clean virtual environment and only install ansible?

[2017-11-28 16:21] tumbl3w33d commented on #31799
I'd be fine with making that md5 check optional (but checking by default seems a sane default, doesn't it?) by having something like `verify_checksum` (or the like, in case some other module has that optional, we should try to stay consistent with the naming).

[2017-11-28 16:22] Akasurde commented on #32808
@jacksonp2008 Could you please elaborate the issue more, as I am not able to understand your situation ?

[2017-11-28 16:32] thunderpants73 commented on #22808
This appears to work.

Tested this in 2.3.1.0 and 2.5.0.

ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Oct 11 2015, 17:47:16) [GCC 4.8.3 20140911 (Red Hat 4.8.3-9)]

ansible 2.5.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr

[2017-11-28 16:34] turb commented on #31799
The md5 check may be performed to ways:

- check the file integrity on download
- compare the already existing file with the repository - what is currently done

I definitely agree on the first one. The PR and all my comments are about the second one.

A `verify_checksum` option could have four values:
- `never` (never verify it)
- `download` (verify it on download) <= should be the default IMHO
-

[2017-11-28 16:41] tumbl3w33d commented on #31799
That sounds like a plan. It reduces the voodoo under the hood and would be well documented. 👍

[2017-11-28 16:51] Akasurde commented on #20407
@petericebear Any update on PR ?

[2017-11-28 16:54] #20648 closed, assigned to nobody

[2017-11-28 17:10] lukasmuszong commented on #33342
I am not too familiar with virtual environments but did the following based on your suggestion @jmcgill298 :

-pip install virtualenv
-virtualenv ansibleTest
from ansibleTest I ran
-source bin/activate
-pip install ansible
-ansible-playbook /etc/ansible/templatesbackup.yaml

Now I get the following log file:
[code]

[2017-11-28 17:17] jmcgill298 commented on #33342
@lukasmuszong that is exactly what I was asking for you to do :)

It looks like it is working now, you just passed an invalid parameter in your task. Try removing `            "transport": "cli"` from this task.

[2017-11-28 17:23] #31549 closed, assigned to nobody

[2017-11-28 17:24] jeremycornett commented on #22169
This problem is compounded for me because I introduced variables to overwrite the defaults in the dependent role. The first time the role is run, it uses the default values, then the second time it's run, it uses the variable overrides. This causes a state "loop" each time I run my ansible playbook, flip flopping from incorrect to correct every run.

[2017-11-28 17:28] Akasurde commented on #22808
@thunderpants73 Thanks.

[2017-11-28 17:37] lukasmuszong commented on #33342
It works now! Thank you very much @jmcgill298 . I was starting to give up on this! :)

[2017-11-28 17:47] jmcgill298 commented on #33342
don't give up man. There are good support communities using Freenode IRC `#ansible-network` and the Network to Code Slack has an active `#ansible` channel with network engineers using Ansible.

Also, a tip with Ansible 2.4 is that you can define `ansible_host=x.x.x.x, ansible_user=user, ansible_ssh_pass=pass` in your inventory and not have to pass host, username, ans password args in the task.

[2017-11-28 17:54] #33342 closed, assigned to nobody

[2017-11-28 18:04] edesz commented on #33052
Yup, you're right about that. It makes complete sense to me from a portability point of view.

[2017-11-28 18:11] geneGH2 opened #33347 "Unreachable Windows client, using Kerberos"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
WinRM

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu Server 16.0.4.
ansible 2.4.1.0
python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]
Windows 10
##### SUMMARY

Hello,

New to Ansible. New to GitHub.

Trying to do win_ping over winrm and everything works when using a local account on the machine.
Trying

[2017-11-28 18:22] sivel commented on #33347
It appears as though `hostname_override` was added in requests-kerberos v0.9.0.

You will need to make sure you install a recent enough version, which may require installing `requests-kerberos` via pip, and not via apt-get.

The following should achieve that:

[code]

needs_info

[2017-11-28 18:30] lassizci commented on #33259
@alikins unless that's something very template specific, the slowness is quite easy to reproduce any template that accesses variables through `hostvars[host][var]`. The linked issues have test cases with different versions and it has been only downhill since 2.0. While the time taken in the test cases is relatively short, the real world cases go easily to hours.

[2017-11-28 18:35] Everspace commented on #28822
I've gotten this now too

OS Environment: WSL Ubuntu 14.04.5 LTS
Ansible version: 2.4.1.0
python version = 2.7.6 (default, Nov 23 2017, 15:49:48) [GCC 4.8.4]

[code]

What is confusing is that it WAS working not too long ago, but I can't identify the change that may have caused this.

I had made the switch to using a dynamic inventory as the only memorable thing I've changed recently.

[2017-11-28 18:40] geneGH2 commented on #33347
Sivel,

Thank you very much for the commands!  I ran the two commands and got the expected "ping": "pong" result for the host listed with the FQDN (same host's IP entry came back with 'Server not found in Kerberos database')

Gene

[2017-11-28 18:59] sivel commented on #33347
Great, sounds like this is working as expected.  I'm going to close out this issue.

[2017-11-28 18:59] #33347 closed, assigned to nobody

[2017-11-28 19:03] JulienPalard opened #33349 "Incomplete toctree in HTML documentation"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
sphinx-doc toctree

##### ANSIBLE VERSION
[code]

##### SUMMARY

I found myself multiple time not finding a page in the documentation, and each time, when finding it, I though "it was not on the toctree!". Speaking about ansible, I discovered I'm not alone.

So I tried to fix it.

[2017-11-28 19:22] #33237 closed, assigned to ganeshrn

[2017-11-28 19:44] rfrancis opened #33351 "spurious "changed" value using args_present in pamd module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pamd module

##### ANSIBLE VERSION
ansible 2.4.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/etc/ansible/library']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version = 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC 4.8.5 20150623 (Red

[2017-11-28 19:55] garyyang6 commented on #33321
I noticed "<docker02.works.com> ESTABLISH SSH CONNECTION FOR USER: none". I made changes in /etc/ansible/hosts and rerun the script. I still got Permission denied.

ansible-playbook  -vvv ~/openshift-ansible/playbooks/byo/config.yml

TASK [Gathering Facts] ************************************************************************
Using module file /usr/lib/python2.7/site-packages/ansible/modules/sys

[2017-11-28 19:59] dpedu opened #33352 "The `when` statement is broken in roles"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`when` statement of playbooks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04.5 64 bit

##### SUMMARY

Then `when` condition is skipped when used in a second-level include in a role.

##### STEPS TO REPRODUCE

I have a main.yml playbook in a role's task dir that looks like this, fairly identical to

[2017-11-28 20:05] sivel commented on #33352
On first glance, this may be "expected" in these cases.

1. When running `local_action` that delegates the task to localhost,  so the `when` statement is passing
2. `synchronize` does some things on the backend that cause the task to be delegated to localhost.

[2017-11-28 20:07] ChrisLanks opened #33353 "failed: [127.0.0.1] (item=[u'']) => {"changed": false, "failed": true, "item": [""], "msg": "No package matching '' found available, installed or updated", "rc": 126, "results": ["No package matching '' found available, installed or updated"]}"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
I think it is all when: statements.  But I am specifically using yum.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
centos7

##### SUMMARY
Seems that ansible gets confused when a list is blank. I cannot skip a task. I have tried a few things. If a list in a playbook is empty, it should not be defined. If it is defi

[2017-11-28 20:12] sivel commented on #33353
The problem here is that `when` statements are processed for every iteration of `with_items`.  You will need to ensure that your `shared_packages` variable processes successfully.

When you define `shared_packages` as:
[code]

Additionally you are creating a list of 1 element, with an empty string, which does not satisfy any of your when statements.

Instead you should likely define `shared_packag

[2017-11-28 20:12] #33353 closed, assigned to nobody

[2017-11-28 20:20] mscherer commented on #33307
So, i wrote a module that does exactly that:
https://github.com/gluster/gluster.org_ansible_configuration/blob/master/roles/firewalld_zone/library/firewalld_zone.py

I think it would maybe more maintainable to have separate modules rather than one big firewalld module.

[2017-11-28 20:35] rogerscuall commented on #32952
I'm having the same problem, just a few of the [Return Values](http://docs.ansible.com/ansible/latest/nxos_facts_module.html#return-values) provided in the documentation are actually present not the N5k and N7k. I know they are more but just to list a few `ansible_net_interfaces` and `ansible_net_version`. I have tested this on virtual and physical.

[2017-11-28 20:36] JulienPalard commented on #33349
!component docs

[2017-11-28 20:57] cans commented on #32622
@pilou-
Works for me with following playbook [issue32622.tar.gz](https://github.com/ansible/ansible/files/1511571/issue32622.tar.gz) and command:
[code]

Ansible version:
[code]

[2017-11-28 21:16] TheAtomicOption commented on #15321
I seem to be having this issue all of a sudden under `ansible 2.4.1.0`. Everything was working fine as I debugged a new role, and then this suddenly started happening.

These were the malformed tasks that failed just before it stopped connecting:
[code]

They threw this error:
[code]

I copied the error msg from running `ansible-playbook -vvvv myplaybook.yml`  afterwards and got:

[code]

Not sure

[2017-11-28 21:25] bcoca commented on #33352
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-28 21:25] #33352 closed, assigned to nobody

[2017-11-28 21:53] dpedu commented on #33352
@bcoca why is this closed? The behavior above is both extremely odd, and undocumented. Definitely a bug.

[2017-11-28 22:07] maxamillion commented on #33307
@mscherer I don't necessarily disagree, but to break the module out into specific actions would not be backwards compatible and it would mean a lot of duplication of boilerplate code. I'd also prefer not break users currently passing the actions to the "one firewalld module" as it is today.

[2017-11-28 22:15] one-t commented on #33156
This is currently impacting a customer engagement.

[2017-11-28 22:28] mike45379 commented on #33156
As a workaround, use the esxi_hostname: parameter.  You can use a group variable if you have multiple clusters to make it work until the clusters parameter gets fixed.

[2017-11-28 22:54] chamila-c opened #33358 "`with_items` flattening nested `environment`s to top level instead of using most nested"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core
(`with_items` and nested `environment`s)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control + Remote (local playbook):
Centos 7
[code]

##### SUMMARY
Use of `with_items` in a `command` task that runs within a nested set of `environment`s is flattening the nesting and reverting to the top level `environ

[2017-11-29 00:29] lfventura commented on #30882
This prevent us as well from moving to include_tasks in place of the deprecated include

[2017-11-29 01:34] edwinyumakiuchi commented on #31799
Hi @turb,

I'd like to add that Sonatype Nexus OSS 3.2.1-01 returns a 404 on the md5 URL with the following conditions:

- Repository is not configured as a proxy
- The md5 checksum is present
- Artifact is locally cached.

Can you let me know if the PR is affected by these observations?

[2017-11-29 01:54] kkolk commented on #27860
So folder seems to be a required item even though the documentation indicates it's not when searching by name.

So, lets say I'm searching for a server called 'webd01' in a Datacenter called 'Wayland' and in my inventory the inventory_hostname is webd01.wayland.com.   Assume that other variables are properly populated.   The complete folder path from govc is /Wayland/vm/Website/Development.

If I

[2017-11-29 02:02] jabelk commented on #32989
thanks @privateip !

I was looking in the documentation and did not see those options, or the ability to do the prompt per a single command.

Probably worth updating the examples to show an example with commands: command etc.

I adapted below:
[code]

but I still don't get it to work because the "are you sure you want to start" requires a wait_for as well, but I don't see that in the module:

[cod

[2017-11-29 02:25] Akasurde commented on #27860
@kkolk Yes. This intended behavior.

[2017-11-29 06:48] turb commented on #31799
Hello @edwinyumakiuchi,

I don't know how Nexus deals with this kind of situation, not having used it for years. By all means, yes, the current PR may fix a 404 error in this scenario by allowing to remove the md5 check.

You can use it directly, however it will likely never be merged, as we just agreed on another option that will allow to fix it as well.

I'll try to request a new PR, but I can't

[2017-11-29 06:56] lifeofguenter commented on #14172
same here, it seems impossible to escape single quotes within `''`

[2017-11-29 07:38] 0mmariano opened #33364 "Ansible ping asks for sudo password"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible cli
ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Results of "ansible-config dump --only-changed"
[code]
##### OS / ENVIRONMENT
Debian Jessie

##### SUMMARY
Using the ansible CLI or the ansible-playbook command prompts for SUDO password, even if there are no parameters/instructions to use/switch to a different user

[2017-11-29 08:41] janvht commented on #33336
Ansible 2.4.1 solved the issue. Thanks!

[2017-11-29 08:41] #33336 closed, assigned to nobody

[2017-11-29 08:58] frado22 commented on #28463
@Akasurde

I test your fix in my environment.

I duplicate the task in order that you see the result in one output:
* For the first task I set `folder: ZABBIX3`
* For the second task I unset `folder`
* For the third task I set `folder: /ZABBIX3`
* For the fourth task I set `folder: /ERAM/SPMT/vm/ZABBIX3`

Here is the result:

[code]

So your resolution is working for the full path, but not for the

[2017-11-29 10:02] atosatto commented on #33259
Indeed. The inventory and the template are not relevant here. What is super slow is the `hostvars[host][var]` access.

[2017-11-29 10:03] andrewvaughan commented on #17446
For anyone interested in this, for future reference, I have created an Ansible Galaxy role that provides this functionality as an action plugin.  Full details, including differences between implementations like prompting at var time and using pause are detailed:

https://galaxy.ansible.com/andrewvaughan/ansible-prompt/

[2017-11-29 10:35] patsak opened #33368 "elasticsearch_plugin doesn't install plugin with url or file in "name" argument"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elasticsearch_plugin module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux ubuntu 16.04

##### SUMMARY
Task result always return changed=False for elasticsearch_plugin task
##### STEPS TO REPRODUCE
- Use elasticsearch 2.4.2
- Remove plugin from elastic
- Run playbook with task like this:
[code]

##### EXP

[2017-11-29 11:17] keszybz opened #33371 "build-dep support in dnf module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
module/dnf

##### SUMMARY
It'd be great if the dnf module supported build-dep installation like the apt module does (see 'build-dep' in description of state on http://docs.ansible.com/ansible/latest/apt_module.html).

[2017-11-29 11:23] Akasurde commented on #27899
resolved_by_pr #33372

[2017-11-29 11:38] pkaramol opened #33373 "Upgrade / Downgrade ec2 type on the fly"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

[code]

##### SUMMARY
Enable on-the-fly instance type change (upgrade / downgrade).

Currently when running a script that creates `ec2` instance(s), there is no way to perform a type change (e.g. from `t2.micro` to `t2.small`).

##### STEPS TO REPRO

[2017-11-29 12:13] perguth commented on #15321
Yeah, I even expect that problem whenever I start using Ansible on a new Mac. That's sad.

[2017-11-29 12:31] ssbarnea commented on #29129
latest `shade==1.24.0` is still broken.

[2017-11-29 12:51] turb commented on #31799
@tumbl3w33d the new PR is ready for review

(there has been a few CI errors because I had trouble finding a documentation yaml syntax problem)

[2017-11-29 13:58] Akasurde commented on #28463
@frado22 Just I expected. I will fix "missing /" issue. Also, I will try to backport this change in 2.4.x branch.

[2017-11-29 14:01] Akasurde commented on #28463
@abhinav-chittora Could you please try adding folder as `/DCOS` considering `AM-Datacenter` is your datacenter" while creating VM inside - `/Datacenter/AM-Datacenter/vm/DCOS` ?

[2017-11-29 14:08] Nemie commented on #26581
Hi, any updates on this?
We are building our mysqld_exporter role for prometheus and we are stuck on trying to set MAX_USER_CONNECTIONS with mysql_user plugin. For now we have a workaround,  but would be nice to do everything in the same task instead of needing subset of tasks to complement the user privileges.

[2017-11-29 14:09] Shrews commented on #29129
Fix is committed in shade. Next release (probably 1.25.0) should have it.

[2017-11-29 14:13] gundalow commented on #33291
@Qalthos FYI

[2017-11-29 14:16] jhanssenfavaro opened #33378 "set_cookie not taking in place right content from cookie"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
uri
set_cookie

##### ANSIBLE VERSION
ansible --version
ansible 2.5.0
  config file = None
  configured module search path = [u'/home/XPTO/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
  executable location = /usr/local/bin/ansible
  python vers

[2017-11-29 14:17] gundalow commented on #33190
@halberom Thanks. Looks like the code is backwards. We will check the other platforms as well as fixing this.

[2017-11-29 14:17] gundalow commented on #33190
Fix will need cherry-picking to 2.4

[2017-11-29 14:44] apollo13 opened #33379 "Variables (sometimes) not properly expanded."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Not clear

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible AWX containers

##### SUMMARY

It seems as if the command module doesn't expand variables all the time. I cannot reproduce in a consistent way and it doesn't happen always

##### STEPS TO REPRODUCE

This is what I have so far:

[code]

variabl

[2017-11-29 14:46] apollo13 commented on #33379
!component +ansible/modules/commands/command.py

[2017-11-29 14:47] apollo13 commented on #33379
!component +lib/ansible/modules/commands/command.py

[2017-11-29 15:02] reggert commented on #27233
I'm running into this problem when trying to pull SNAPSHOT artifacts from a Maven repository hosted on Jenkins (Jenkins Maven Repository Server plugin). The `maven-metadata.xml` files contain `<snapshotVersion>` elements (containing `<value>` and `<updated>` sub-elements), but not `<snapshot>` elements (with `<timestamp>` sub-elements). I think the problem is that the `<snapshot>` elements only ge

[2017-11-29 15:07] apollo13 commented on #33379
Output of `-vvv`
[code]

[2017-11-29 15:11] marukka opened #33380 "vmware_guest fails to set IP"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 50
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
RETRY_FILES_SAVE_PATH(/etc/ansible/ansible.cfg) = /mnt/sofs.my.domain/Ansible/retry

##### OS / ENVIRONMENT
VMware Photon Linux
VMware vCenter 6.5 Build 6816762

##### SUMMARY
When creat

[2017-11-29 15:12] alikins opened #33381 "docs example of using notify in a block: to call a handler doesn't work"
##### ISSUE TYPE

 - Bug Report

 - Documentation Report

##### COMPONENT NAME

lib/ansible/playbook/block.py
lib/ansible/plugins/strategy/__init__.py
lib/ansible/executor/__init__.py
docs/docsite/rst/playbooks_blocks.rst

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default config

##### OS / ENVIRONMENT

fedora27 x86_64

##### SUMMARY

The example code at http://docs.ansible.com/ansible/l

[2017-11-29 15:18] alikins commented on #33381
Trying a few variants of that example doesn't seem to work either:

Also tried with an ignore_errors: on the 'command: /bin/false' but didn't seem to matter.

[code]

results:

[code]

[2017-11-29 15:19] alikins commented on #33381
pinging @jimi-c @dharmabumstead

[2017-11-29 15:19] apollo13 commented on #33379
The issue only arises when I use `-b --become-user admin` while executing the playbook

[2017-11-29 15:40] apollo13 commented on #33379
The issue was a $PATH issue. I was thrown off track because ansible thought that my command contained a password and therefore sanitized it :/

[2017-11-29 15:40] #33379 closed, assigned to nobody

[2017-11-29 15:56] dagwieers commented on #30690
Not sure why I was tagged for this issue. I am trying to lower the number of notifications because I get more than 100 mails a day from the Ansible project. More noise than signal lately :-/

bot_broken

[2017-11-29 16:03] bmaupin opened #33382 "Inconsistency across versions regarding variables available to `serial`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core (`serial`)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control machine: Ubuntu 14.04 64-bit
Managed node: RHEL 7 64-bit

##### SUMMARY
In Ansible <= 2.3 I used `inventory_file` with `serial` as a way of running playbooks in serial for production/QA environments. Starting with 2.4.0 it seems that `invent

[2017-11-29 16:04] Akasurde commented on #33380
@marukka Thanks for reporting this issue. Could you please provide `-vvvv` logs of this PB?

[2017-11-29 16:13] gerhard-tinned commented on #32832
**Nice to see that nobody cares.** I guess this will never be added as a fix - so thanks for nothing!

So for any other annoyed user of ansible, ... the diff of the changes that fixed it in the file /usr/lib/python2.6/site-packages/ansible/modules/cloud/misc/proxmox_kvm.py

[code]

[2017-11-29 16:14] ssbarnea commented on #29129
@Shrews Thanks. I observed that you are also working on adding a test for avoiding this kind of regression. I am wondering what is the approximate ETA for 1.25, as this information would be of great use, helping me to decide how to avoid encountering this bug.

[2017-11-29 16:19] pkaramol opened #33384 "Erratic behavior of ec2_asg module when running on top of existing asg"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

[code]

##### SUMMARY
When running an asg creation task, on top of an existing asg, momentarily, the values for min/max/desired increase by one

##### STEPS TO REPRODUCE
Create an asg with e.g.

[code]

Run the following task, __on top__ of the ex

[2017-11-29 16:19] jmcgill298 commented on #33291
I mentioned on the other issue, but should add that here actually.

The validation is being done from `show ip static route`, which I think is meant to be `show ip route static`; however that still will not work for idempotency, as configured static routes will not show up in FIB if the next-hop is not reachable. Continuing to add the configuration line will not make the next-hop reachable, so int

[2017-11-29 16:34] abhinav-chittora commented on #28463
@Abhijeet, sure. Let me test that and update  the results here.

--Regards,
Abhinav Chittora
Sent from my iPhone

[2017-11-29 16:36] bmaupin commented on #33382
Here's my current workaround:

[code]

It's actually even more flexible than my previous code, since I can run it with an inventory directory (`ansible-playbook -i inventory/`). The problem is that it doesn't work with Ansible 2.3 because `groups` isn't available to `serial`. To avoid a painful migration I came up with this ~~beauty~~ monster which works with both versions:

[code]

To sum up:
- I

[2017-11-29 16:58] mkayontour opened #33385 "Ansible kerberos connection HTTP 500"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
- Core / Windows

##### ANSIBLE VERSION
2.4

##### OS / ENVIRONMENT
Debian Jessie

##### SUMMARY
The documentation of a kerberos setup is lacking on information. As I tried to setup winrm I came across if you don't use https then you should set:
[code]
Otherwise you get a really meaningless error http 500.

[2017-11-29 17:33] mscherer commented on #33351
So @pilou- and I were debugging that over videoconf (we were wondering about streaming that), and while we didn't found the proper fix in time, our investigation did lead us on the problem being on the regexp: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/pamd.py#L297

As @pilou- spotted, it doesn't match '.' or '/', and that's 2 chars we can see in the args.

[2017-11-29 17:49] edwinyumakiuchi commented on #31799
Thanks @turb. I wanted to see if there's a way to verify the md5 checksum with this command but it seems like a Nexus issue than anything.

[2017-11-29 18:38] ssbarnea commented on #29129
I can confirm that currently released `shade==1.25` fixes the issue. Now the question is what kind of change we need to make in ansible in order to assure that it does use `shade>=1.25`. I was able to spot shade mentioned without version only in docstrings, clearly not something easy to test or maintain.

@bcoca Any hints about how to assure correct module dependencies are installed?

[2017-11-29 18:56] shakeme commented on #10829
+1

I also would like to see this feature.
vote for "notify_now"

[2017-11-29 19:09] abhinav-chittora commented on #28463
@Akasurde, I tried with /DCOS as folder but getting error that `no folder matched the path: /DCOS`

Here is the playbook execution results: -
[code]

Playbook looks like this: -
[code]

**Environment**: -
[code]

I tested with other ansible version and getting following error: -
**Ansible version**
[code]
[code]

Even with latest ansible code, the error is same:  -
[code]
[code]

And with complete

[2017-11-29 19:17] bicofino commented on #26670
@jodumont , try ```pip2 install -U pyOpenSSL```

Fixed for me.

[2017-11-29 19:34] robertdebock opened #33389 "Documentation typo in github_release"
##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
/lib/ansible/modules/source_control/github_release.py

##### ANSIBLE VERSION
Version currently in "devel" branch: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/source_control/github_release.py

##### CONFIGURATION
not applicable

##### OS / ENVIRONMENT
not applicable

##### SUMMARY
The examples contain:
[code]

(the

[2017-11-29 19:37] leifmadsen commented on #30944
So I ran into an issue with this approach as well. It works perfect fine as long as you don't ever need to have differently sized dictionaries.

Imagine you have something like this in your `group_vars/all.yml`:

[code]

You have 2 parameters, you can set: `system_ram_mb` and/or `system_cpus`. You don't always want to set them, because you have some nice defaults set, and only need to periodically

[2017-11-29 19:50] #33389 closed, assigned to nobody

[2017-11-29 20:09] lfventura opened #33391 "elb_application_lb does not add/remove listeners after its first creation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Application Load Balancer updated

##### ACTUAL RESULTS
Application Load Balancer remains as it was before the new run
[code]

[2017-11-29 20:21] naseemkullah opened #33392 "fortios_config backups not working with "B" models"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

fortios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

Hello I can seem to get backups of all "D" mode

[2017-11-29 21:35] #33391 closed, assigned to nobody

[2017-11-29 21:41] frado22 commented on #28463
Hi,

@akasurde, thanks for your concerns.

So I loop over this folder list:
[code]
Here is the result:

[code]

So only `/ERAM/SPMT/vm/ZABBIX3` and `ERAM/SPMT/vm/ZABBIX3` are working for me.

@abhinav-chittora, you don't try with the fix  #33337 which was only merged on the 28th of november on the ansible-devel branch. Your ansible version 2.5.0-devel is a little bit outdated  (`ansible 2.5.0 (dev

[2017-11-29 21:41] AlanCoding opened #33395 "Inventory script cloudforms.py uses outdated `power_state` enabled key"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
contrib/inventory/cloudforms.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
defaults

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Speculatively, the cloudforms script is not interpreting the `power_state` being off.

##### STEPS TO REPRODUCE
Just reading the source code here:

https://github.com/ansible/ansible/blob/6e36354740105f7849b234ae

[2017-11-29 22:15] alikins commented on #32486
Does '/home/ec2-user/.vault_pass' exist?

Does the arg used for '--vault-password-file' match the value for vault_password_file in ansible.cfg? If it is different, do both exist?

Does 2.4.1 resolve this?

Multiple vault password files can be specified with 2.4.0, so instead of using the --vault-password-file value **or** ansible_vault_password config, 2.4.0 will try to use both. If either doesn't

[2017-11-29 22:27] thedarkfalcon commented on #18910
I'm rather annoyed that it has been nearly 2 years since #902 was opened, and there appears to still be no real progress. I'm currently going with a rm -rf shell command to achieve what I want. I cannot delete the directory and recreate it - because this command is happening on a live server which requires the directory exists. I also cannot use sync due to permission issues, and synchronising see

[2017-11-29 22:38] dagwieers commented on #18910
@angystardust Trust me, I know everything about remapping uids/gids: https://github.com/dagwieers/renumid

[2017-11-29 23:46] rfrancis commented on #33351
You nailed it.  I added \./ (not meant to be someone cheering) to both that and line 289 for good measure, and now it reports correctly.  Awesome!

[2017-11-30 00:12] #33200 closed, assigned to nobody

[2017-11-30 00:13] kevensen commented on #33351
@rfrancis @mscherer If you have identified a fix, please feel free to open a PR.

[2017-11-30 00:15] rfrancis commented on #33351
I'm concerned that I don't know what else I might be affecting... @mscherer ?

[2017-11-30 00:43] flowerysong commented on #33381
This is a documentation bug; since the debug task doesn't return a 'changed' result the handler isn't notified and will never run. If you use a task that actually notifies the handler it should work as expected.

[code]

[code]

[2017-11-30 00:51] kevensen commented on #33351
@rfrancis Fortunately the unit tests for this module are quite extensive, which helps to mitigate unintended side-effects.  I can open a PR (likely tomorrow) if you’d prefer.

[2017-11-30 01:10] Nani-o opened #33398 "Bug using loop_control with delegate_to"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
loop_control

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When loop_control and delegate_to in the same task, it seems that host added with the add_host module aren't been processed.

##### STEPS TO REPRODUCE
You can use this simple playbook to reproduce the bug with 2.4.2.0, it works fine wit

[2017-11-30 02:03] rouge8 commented on #30929
I can also reproduce when excluding ohai facts.

[2017-11-30 02:22] rouge8 commented on #30929
This was broken by https://github.com/ansible/ansible/commit/27a015f0ad79a33af2d7ed4d39635ca8f7c02fd8. Previously, `gather_subset = !ohai,!facter` implied `gather_subset = all,!ohai,!facter` (which works on Ansible 2.4.x!), but that commit changed it to imply `gather_subset = min,!ohai,!facter`

[2017-11-30 02:22] qq390722 opened #33399 "Problem with non-ascii character"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

results

##### ANSIBLE VERSION

2.3.2.0

##### CONFIGURATION

default

##### OS / ENVIRONMENT

SUSE11SP4

##### SUMMARY

When I execute a GBK script encoding format, if the script contains Chinese, return there is a problem.

##### STEPS TO REPRODUCE

Encoding format UTF-8 script

[code]
Encoding format GBK script
[code]
Ansible explanation of

[2017-11-30 03:28] carlbuchmann commented on #32952
@trishnaguha  tested with ansible 2.5.0 and obtained a similar result. If we focus just Nexus 7700 running NX-OS 6.2(16) - "show interface | json" is not supported and doesn't return any data (CLI or API (tested through sandbox), however, show interface | xml is!

[2017-11-30 04:19] Gr1dd commented on #24322
Broke :(

[2017-11-30 05:10] os4mike opened #33402 "nxos_user ansible module issuing a "show user-account | json" on a Cisco Nexus 5K device"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
      - name: Create READONLY account
        nxos_user:
          provider: "{{ provider }}"
          name: readonly
          configured_password: "{{ ropass }}"
          role: network-operator
          state: present

##### ERROR

    TASK [Create READONLY account] **********************

[2017-11-30 05:31] siaomingjeng commented on #29607
I've modified this module, adding the support for net/subnet from a different resource group.
In addition, I also added the support for load balancer backend address pool.

It have been submit. Not sure when will be absorbed.

[2017-11-30 06:07] Akasurde commented on #29399
resolved_by_pr #33374

[2017-11-30 06:49] ganeshrn opened #33405 "eos_banner integration test failing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

eos_banner
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-11-30 07:35] ganeshrn opened #33406 "eos_static_route integration test failure"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

eos_static_route

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Run eos_static_route integration test.

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-11-30 07:50] jborean93 commented on #33321
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-30 07:50] #33321 closed, assigned to nobody

[2017-11-30 08:00] jborean93 commented on #33364
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-30 08:00] #33364 closed, assigned to nobody

[2017-11-30 08:07] sm4rk0 commented on #33399
!component -lib/ansible/modules/files/xml.py
!component -test/integration/targets/xml/results/test-add-children-elements-unicode.xml

[2017-11-30 08:22] rpijlman commented on #33306
I wonder what Ansible's specification says about these cases. Is the behaviour wel-defined or unspecified?

[2017-11-30 09:04] p53 opened #33408 "class InventoryManager has get_vars method which is not functional"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`lib/ansible/inventory/manager.py`

##### ANSIBLE VERSION
2.4.0.0 <

##### CONFIGURATION

##### OS / ENVIRONMENT
ubuntu 16.04

##### SUMMARY
class InventoryManager implements method get_vars, which calls InventoryData object method get_vars, which doesn't exists, if understand correctly this functionality was moved to VariableManager, so it shou

[2017-11-30 10:13] Vladimir-csp opened #33410 "Task children processes are killed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

FreeBSD 11 server and clients (can be reproduced with service, command and shell modules).
Linux hosts (can be reproduced with command and shell modules)
##### SUMMARY

Subprocesses of tasks are silently killed after task finishes. This has several consequences:
s

[2017-11-30 11:48] mlindhout commented on #30239
Affects me too:
ansible 2.4.1.0
  executable location = /usr/local/bin/ansible
  python version = 2.7.14 (default, Nov 16 2017, 11:27:27) [GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.37)]

[2017-11-30 11:57] KarolisL commented on #33177
I was able to reproduce this also when using `import_playbook`

[2017-11-30 12:08] walidshaari opened #33414 "aruba_command and aruba_config authenticates the connection but fails running the task"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

aruba_command
aruba_config

##### ANSIBLE VERSION

the ansible bundled with tower bundled setup 3.2.1-1.el7, however, running ansible from CLI
[code]

##### CONFIGURATION

DEFAULT_DEBUG(env: ANSIBLE_DEBUG) = True
DEFAULT_LOG_PATH(env: ANSIBLE_LOG_PATH) = /root/ansible.log
DEFAULT_ROLES_PATH(/tmp/NetDevOps/ansible.cfg) = [u'/etc/ansible/roles',

[2017-11-30 12:10] Akasurde commented on #28463
@frado22 Could you please try this [patch](https://github.com/Akasurde/ansible/commit/e367d4e9a59d32986fda21b049edc52281fbc504)?

For setup Datacenter as root folder (aka with no folder)
[code]

For nested folder (aka Datacenter under folder)
[code]

You can find the above script [here](https://github.com/Akasurde/pyvmomi_examples/blob/master/get_vm_path.py). Let me know your findings.

[2017-11-30 12:27] tersmitten commented on #30070
For us it's fixed

https://github.com/Oefenweb/ansible-swapfile/issues/1

[2017-11-30 13:02] dagwieers commented on #33414
!component aci

[2017-11-30 13:03] dagwieers commented on #33414
bot_broken

[2017-11-30 13:15] frado22 commented on #28463
@Akasurde

Result for datacenter SPMT :
iteration over : `for folder in ['/', 'SPMT', '/SPMT', '/SPMT/vm', '/vm', 'SPMT/vm']:`

output:
[code]
with root folder ERAM:
iteration over: `for folder in ['/', 'ERAM', '/ERAM', '/ERAM/vm', '/vm', 'ERAM/vm']:`

output:
[code]

[2017-11-30 13:17] gundalow commented on #33414
Not broken, the original component said "network modules aruba_command and aruba_config"
I'll update the ISSUE_TEMPLATE to say Only list the module name

[2017-11-30 13:20] giovannipizzi commented on #30239
The PR #28145 has been merged, but it's only in devel and it seems it's not scheduled for 2.4.2.0. Could this simple fix be included in the upcoming release? I need it, now I have to do a complicated workaround to prevent this problem... thanks!

[2017-11-30 13:20] kefiras opened #33415 "The module ios_vlan always assume the interface is in access mode"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ios_vlan

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

OS / ENVIRONMENT
OS: RH 7.4
Trying to manage Cisco 3750E with IOS 15.0(2)SE10a

##### SUMMARY
The module always assumes the port is in access mode. I believe it should be at least option to choose a trunk ('switchport mode trunk') and add/remove vlans to it.

##### STEPS TO RE

[2017-11-30 13:22] abhinav-chittora commented on #28463
@frado22 , yes, pulling latest changes, resolved the issue with complete path i.e. `/Datacenter/AM-Datacenter/vm/DCOS` but still using any other way for folder path, still doesn't work.

[2017-11-30 13:33] Akasurde commented on #28463
@abhinav-chittora I am afraid, there is no other way to uniquely find virtual machine (yet). I am glad that your issue is resolved with complete path.

Could you please paste your PB here with variables and close this issue ?

[2017-11-30 13:44] #20406 closed, assigned to nobody

[2017-11-30 13:49] Akasurde commented on #20406
@johnpauljj Thanks for reporting this issue. Please use Ansible 2.5devel with vmware_guest for this feature.

[2017-11-30 13:50] cosades commented on #30239
@giovannipizzi : I need also docker_volume to work... What workaround have you found ?

[2017-11-30 13:56] bjoernalbers opened #33417 "get_url: Failed to validate the SSL certificate"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

NONE (`ansible-config dump --only-changed` returns nothing)

##### OS / ENVIRONMENT

ProductName:    Mac OS X
ProductVersion: 10.12.6
BuildVersion:   16G1036

##### SUMMARY

`get_url` returns an error when trying to download a file: `[SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert proto

[2017-11-30 14:02] frado22 commented on #28463
Hi

@Akasurde

Maybe a solution (which works for me) is to change the documentation in order to say that for folder we have to set the folder path starting from the datacenter name.

I test this with your script (existing ZABBIX3 folder and without folder) :
`for folder in ['ZABBIX3', '/ZABBIX3', '', '/']:`
output:
[code]
As we have to provide the datacenter, the folder path is correctly found.

[2017-11-30 14:04] ilovezfs commented on #23779
@danielgriggs I don't know if it's expected behavior or not.

[2017-11-30 14:10] giovannipizzi commented on #30239
Here it is. It assumes you are using the pip `docker` package (v. 2.x) and that you DON'T have the (older) `docker-py` package (v. 1.x) - the best way is to have an ansible task to remove docker-py from pip, and to add docker.
Then, add the following three tasks (replacing `MYVOLUMENAME` with the correct variable name you want to use):
[code]

[2017-11-30 15:17] #33405 closed, assigned to ganeshrn

[2017-11-30 15:17] #33406 closed, assigned to ganeshrn

[2017-11-30 15:52] samdoran commented on #28721
Can you please test with #33393 to see if that fixes the issue? Thanks!

[2017-11-30 15:53] djasa opened #33421 "ovirt_cluster: mac_pool argument seems mandatory (throws unhandled exception when missing)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`lib/ansible/modules/cloud/ovirt/ovirt_cluster.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Fedora 27

##### SUMMARY

ovirt_cluster throws exception when run against existing cluster and mac_pool is not specified

##### STEPS TO REPRODUCE

run this playbook task against existing cluster:

[code]
When

[2017-11-30 15:55] Adri2000 commented on #22303
@bcoca that's not how I understand https://www.freedesktop.org/wiki/Software/systemd/FrequentlyAskedQuestions/ - one of the answers there explicitly says that a sysv script that is enabled does not mean the corresponding unit is enabled, or that the sysv init script will be executed.

[2017-11-30 15:58] djasa commented on #33421
Probable assignee will be @machacekondra

[2017-11-30 16:36] jmighion commented on #33414
Looks like the socket path isn't getting made / used. You should see something similar to
[code]

But instead your output show
[code]

I did not have a lot of versions to dev against, so it could be getting hung looking for the prompt since it's auth'd and then waits until the timeout happens. Can you please provide what the prompt looks like when you log into the device?

needs_info

[2017-11-30 16:41] jimi-c commented on #19305
Fixed by https://github.com/ansible/ansible/pull/33386, which has been merged.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and question

[2017-11-30 16:41] #19305 closed, assigned to nobody

[2017-11-30 16:44] jimi-c commented on #21285
Fixed by https://github.com/ansible/ansible/pull/33386, which has been merged.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and question

[2017-11-30 16:44] #21285 closed, assigned to jimi-c, bcoca

[2017-11-30 16:44] reggert opened #33423 "uri module does not properly handle 304 Not Modified response"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
uri

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY
As previously reported in #12917, which was closed prematurely due to lack of information in the ticket, the `uri` module fails if the server returns `304 Not Modified`. Correct behavior in this case would be to return successfully with cha

[2017-11-30 16:58] dirks commented on #28721
#33393 fixes the issue, thanks. :+1:

[2017-11-30 17:08] rfrancis commented on #33351
If you're happy, I'm happy.  I'll do it right now.  Thanks!

[2017-11-30 17:16] pilou- commented on #33351
If they run without any error, could you append this commit which adds two new unit tests (https://github.com/pilou-/ansible/commit/aa709a5d3760b57bf450ce670a9cc12acdcec3d0) on your branch and PR ?

[2017-11-30 17:27] gundalow commented on #33302
Can you do `pip install -r test/runner/requirements/units.txt` before running unit tests?

[2017-11-30 17:34] pilou- commented on #33302
It seems `test/units/plugins/connection/test_netconf.py` [try to mock the ncclient module](https://github.com/ansible/ansible/blob/devel/test/units/plugins/connection/test_netconf.py#L38) but this isn't done properly.

[2017-11-30 17:37] samdoran commented on #28721
Awesome! Thank you for confirming. I'll work on getting this merged. Should make the 2.4.3 release.

[2017-11-30 17:39] megwill4268 commented on #29799
+1

[2017-11-30 17:41] rfrancis commented on #33351
Will do. I'm being delayed by a comedy of errors involving my own ineptitude with github specifically, CentOS 7 providing a sadly out of date Python version that fails to build ansible, etc. :-P

[2017-11-30 17:56] samdoran commented on #33408
`!component=lib/ansible/inventory/manager.py`

[2017-11-30 18:00] samdoran commented on #33408
cc @bcoca

[2017-11-30 18:06] mscott83 opened #33428 "WinRM with enterprise certificates (not self-signed) fails validation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`winrm.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

All defaults
##### OS / ENVIRONMENT

Control node: Centos 7
Managed node: Windows 2012 R2 via WinRM with an enterprise HTTPS certificate
##### SUMMARY

Ansible will not verify the certificate on my Windows target. Every time I run my playbooks against a Windows host I MUST turn of

[2017-11-30 18:11] fredericlepied commented on #33302
@gundalow during package build we cannot install via pip so that's not a viable solution for us.

[2017-11-30 18:15] fvzwieten opened #33430 "Ansible Engine on RHEL should include needed libraries for all core modules"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

winrm

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.4
##### SUMMARY

Ansible from the Red Hat Ansible Engine repository has not installed the winrm library, which causes errors when using Ansible Engine for windows nodes. As Windows modules are part of the supported core modules, it should work out-of-the-box.

##### STEPS TO RE

[2017-11-30 18:25] samdoran commented on #33421
`!component=lib/ansible/modules/cloud/ovirt/ovirt_cluster.py`

[2017-11-30 18:45] rfrancis commented on #33351
Okay, this has truly been a journey of discovery, but I have built ansible from devel, tested my change, cherry picked @pilou-'s unit test, run all the unit tests successfully, pushed to github, and now I am going to make the pull request and go to lunch.  I'm REALLY sorry for all the commit noise. Github vexes me and I'm tired of fighting with it.

[2017-11-30 19:13] apple4ever opened #33433 "Warning displayed: Failure using method (v2_runner_retry) in callback plugin"
##### ISSUE TYPE
 Bug Report

##### COMPONENT NAME
`retries`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
`Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-93-generic x86_64)`

##### SUMMARY
The following warning messages shows when using the retries option

`[WARNING]: Failure using method (v2_runner_retry) in callback plugin (<ansible.plugins.callback.default.CallbackMod

[2017-11-30 19:32] rakesh-nd opened #33434 "Ansible RDS module doesn't support 'gp2' storage type in aws ? By default it creates magnetic"
Hi,

By default, ansible rds module creates rds instances with magnetic disk. It doesn't seem to support storage type as variable. why is this so ? Below is the ansible doc I am looking at:

http://docs.ansible.com/ansible/latest/rds_module.html

[2017-11-30 19:47] sivel commented on #33423
This is the expected behavior.  The module only defines a `200` response as a success. It is up to the user to define any additional acceptable status codes.

See the `status_code` documentation at http://docs.ansible.com/ansible/latest/uri_module.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.go

[2017-11-30 19:47] #33423 closed, assigned to nobody

[2017-11-30 20:32] #33351 closed, assigned to nobody

[2017-11-30 21:21] kevensen commented on #33351
@rfrancis Open-source software only gets better with community contributions so yours is appreciated.  Thanks @pilou- @rfrancis @mscherer.

[2017-11-30 21:30] chrisweeksnz commented on #30878
Agreed with aldanor and the problem remains using ansible 2.4.2.0.

When using ansible.cfg to specify `vault_password_file`, then encrypting a file fails with `"ERROR! Only one --vault-id can be used for encryption"`

[2017-11-30 21:37] LuckySB commented on #32554
try version 2.3.0

ansible 2.4.0+ has many memory-leaks and got overmuch memory when run

PS: i make and use devel version from commit e9c9473819
ansible-2.4.0-100.git201708150932.e9c9473819.devel.el7.centos

[2017-11-30 21:48] martynfielding commented on #29799
+1!!

[2017-11-30 22:30] MarkusTeufelberger commented on #20776
This is an issue on Debian Jessie too (https://packages.debian.org/jessie-backports/python-docker --> 1.7.2).

[2017-11-30 22:31] nogweii opened #33439 "Redis feature request: A ping command or some other way to verify the credentials work"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
redis module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04 running within LXSS in Windows 10

##### SUMMARY
It'd be nice to include support for verifying that the details passed to the redis module (hostname, password, and port) are correct. Currently, I'm calling out to the shell to run `redis-

[2017-11-30 22:56] danielgriggs commented on #23779
Okay, I just created a little test script to run the jinja2 template without Ansible being involved (2.10) and it works fine.

I then set up a new python virtual environment with ansible-2.4.2.0 and jinja2-2.10 and reran the ansible playbook I provided above over that and it rendered everything correctly.

Downgraded jinja2 to 2.8.2 and it worked fine,
upgraded to 2.9.0 and it worked fine,
upgrade

[2017-11-30 23:13] alikins commented on #32286
Finally have a reproducer for this, needed ubuntu1404 vm on remote not a 16 (or a docker image).

[code]

For non filtered case, the distro/version facts seem correct. So filter must be effecting the fact deps somehow even though filter should be getting applied afterwards. Digging...

[2017-11-30 23:13] bcoca commented on #33352
@dpedu I'm not sure if i can clarify over what @sivel already did.

The way it is working is exactly as it should, `local_action` is documented as an alias to `delegate_to: localhost` and in delegation docs it does tell you about how connection variables for the delegated host will be used, `ansible_host` is one of those vars.

[2017-11-30 23:28] alikins commented on #32286
Interesting. Even when using a fine grained gather_subset ('gather_subset=service_mgr') adding the filter still returns wrong answer. With the gather_subset and without the filter does the right thing though.

(To some degree using fine grained gather_subset is a better/faster approach than to 'filter=ansible_service_mgr. That does correctly collect all the fact deps and return correct ansible_ser

[2017-11-30 23:41] alikins commented on #32286
Ah! The code is filtering the facts before adding it to the 'collected_facts' that is passed along. So with 'filter=ansible_service_mgr' the distro/platform facts were never getting added to collected_facts so the service_mgr collector would do the wrong thing.

Looks like just changing the collected_facts to use the unfiltered facts fixes it.

[code]

[2017-12-01 00:00] SNikalaichyk commented on #33087
@SurferL, I have exactly the same problem, but with other Windows modules: `win_copy` and `win_package`:
[code]
The workaround is to add a 10 second pause before the step that may fail:
[code]

[2017-12-01 00:35] bertramn commented on #26023
@cmbrad maybe worth to compare notes, we use this [modified ansible 2.3 iam_role](https://gist.github.com/bertramn/18dedf65c85598896da96de5302ee7e3) to create IAM roles without instance profile

[2017-12-01 01:59] jborean93 commented on #33428
Hi @mscott83, I've just spent some time this morning looking at this issue and the situation isn't the best. Here is some background info around what is happening;

* pywinrm is using `requests` to send the HTTP requests and responses in a `requests.Session()`
* pywinrm then sets the `verify` attribute to `True` or `False` depending on the value set by `ansible_winrm_server_cert_validation`
* The

[2017-12-01 01:59] #33428 closed, assigned to nobody

[2017-12-01 02:32] sangrealest commented on #12170
+1 really good idea

[2017-12-01 02:59] jborean93 commented on #33087
Packer uses a custom Ansible connection plugin to work over WinRM with the `ansible-remote` provisioner. I don't fully understand the specifics as to what is happening but this process is not supported by Ansible and causes issues such as this. From my understanding it sits an SSH server and listens to commands being sent by Ansible and then running it manually on the server. Because the shell plu

[2017-12-01 02:59] #33087 closed, assigned to nobody

[2017-12-01 03:46] Akasurde commented on #18980
@Plork Could you please test the above patch and let me know if it works for you?

[2017-12-01 06:11] Sdhowell3 opened #33445 "ec2_lc does not work on 2.4.2.0 with adding volumes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OSX 10.13.1

##### SUMMARY

Not able to add volumes nor user data to launch configuration

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I am expecting a volume added to the launch configuration along with the user data

##### ACTUAL RESULTS

[code]
I edited out the information th

[2017-12-01 07:08] #29399 closed, assigned to nobody

[2017-12-01 07:33] Vladimir-csp commented on #33410
This also happens with linux server and client hosts.
Simple script to check:
[code]
Save on target host as /tmp/timedump, then:
[code]
Only two timestams are written to /tmp/testoutput.

[2017-12-01 07:36] walidshaari commented on #33414
the prompt for the user that is managing these Aruba devices  is a hash '#'

[2017-12-01 08:21] tbouvet opened #33447 "Host pattern warning when templating"
- Bug Report
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No custom config.

##### COMPONENT NAME
core

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
In a playbook, when the hosts are defined with a jinja2 variable some warnings like `Could not match supplied host pattern, ignoring ` appear:

##### STEPS TO REPRODUCE
Create a playbook with variables for hosts.
[code]
##### EXPECTED RESUL

[2017-12-01 08:29] mwperina opened #33448 "[RFE] Add discard_after_delete parameter to ovirt_storage_domain module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lib/ansible/modules/cloud/ovirt/ovirt_storage_domain.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Description of problem: Storage domain property 'discard_after_delete' can not be set using ovirt_storage_domains ansible module.

##### STEPS TO REPRODUCE
1. Try to create a SD with discard_after_de

[2017-12-01 08:38] mwperina commented on #33448
!component=lib/ansible/modules/cloud/ovirt/ovirt_storage_domain.py

[2017-12-01 08:59] MrMMorris opened #33449 "Task register is different when using with_dict"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Stat module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OSX 10.10.5

##### SUMMARY
The `register` dict is not the same without using `with_dict` on the task as it is with using it.

##### STEPS TO REPRODUCE
Dict:
[code]

Using `with_dict`:
[code]

Not using `with_dict`:
[code]

##### EXPECTED RESULTS
Using

[2017-12-01 09:57] snehalbiche opened #33451 "delegate_to and gather_facts does not work for localhost"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
delegate_to
gather_facts

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
`OS - Ubuntu 16.04 64 bit`

##### SUMMARY
Even after setting the delegate_to: localhost and gather_facts: yes playbook still holds previous hosts facts. Need to know how to gather fact of localhost while running command locally?

------------

[2017-12-01 10:58] #33176 closed, assigned to nobody

[2017-12-01 11:43] Akasurde commented on #32004
@jacksonp2008 Could you please check above patch and let me know if it works for you ?

[2017-12-01 11:45] charliejllewellyn opened #33455 "Azure Stack module fails with self-signed certificates"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_storageaccount

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS Linux release 7.3.1611 (Core)

##### SUMMARY
After adding a trusted root certificate to centos the Azure plugin still fails to verify the certificate.

##### STEPS TO REPRODUCE
**Create an environment variable with the Azure Stack metadata e

[2017-12-01 11:46] dagwieers opened #33456 "win_ini_file: A Windows module to manage INI files"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_ini_file

##### ANSIBLE VERSION
v2.5

##### SUMMARY
The INI file format is a format that originated on Windows systems, so having it on Windows is essential :-)
In fact, it would make managing some things on Windows easier (e.g. desktop.ini files etc.)

[2017-12-01 12:24] MrMMorris commented on #33449
nevermind! I need to use `chkfile.results.0.stat.exists`

[2017-12-01 12:24] #33449 closed, assigned to nobody

[2017-12-01 12:26] ssbarnea commented on #16052
I think that we should fix the error message and include a link to the documentation or at least to mention that to perform this operation your need to `allow-world-readable-tmpfiles=true`

https://docs.ansible.com/ansible/latest/intro_configuration.html#allow-world-readable-tmpfiles

This really needs to be fixed as the current error message doesn't clearly indicates why this is happening.

In fa

[2017-12-01 12:31] krissi opened #33457 "openssl_certificate should return assertion result"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

openssl_certificate

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

openssl_certificate in with assertonly provider does not return an explicit assertion result which can be used to e.g. renew the certificate

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
(added `assertion_fu

[2017-12-01 12:44] cars10 commented on #8603
+1

[2017-12-01 13:05] oussemos commented on #32690
PR done #33453

[2017-12-01 13:14] Akasurde commented on #32358
@andreyfedoseev Any news ?

[2017-12-01 13:29] charliejllewellyn commented on #33455
This could actually be caused by the azure-python-SDK, I have made a comment on this similar issue, https://github.com/Azure/azure-sdk-for-python/issues/1384. However we would still need Ansible to allow us to specify we do not want certs verified.

[2017-12-01 13:55] kevensen commented on #32618
@juanluisvaladas At your convenience, can you please test PR https://github.com/ansible/ansible/pull/33436?  This ought to satisfy this request.

[2017-12-01 14:07] Shrews commented on #32741
@dcotruta Seems like a sensible change to me. Thanks for volunteering! Please make sure that any changes are backward compatible. And it's helpful to show an example playbook and run here once you've made the changes. Thanks again!

[2017-12-01 14:15] foomatty commented on #33391
@ifventura is there a fix for this?

[2017-12-01 15:10] sebastiencaty commented on #26336
Having the same issue here with ansible 2.4.1. Handlers are run only on the play host and not the delegated host. Tried several workaround without success.

You cannot use handlers in this scenario. Instead, I did a register:var and added another task that run only when: var|changed.

[2017-12-01 15:16] chrnie commented on #32015
`ansible-playbook play.yml -t untagged,tag1`  is a quite good workaround, but this should be the default behaviour in my opinion.

[2017-12-01 15:27] jurgenhaas commented on #32015
Don't think this is a valid workaround. Because I have tons of untagged tasks that should not be executed, only the tagged ones. What used to be executed while it was untagged, was the `include` statement and that's now broken badly.

I don't understand why the response from the developers is so slow on this and the tags on this issue are worrysome as well. Don't see this being a support issue. It

[2017-12-01 15:30] Akasurde commented on #19553
@TheGuyDanish Could you please check this PR https://github.com/ansible/ansible/pull/33442 and let me know if it works for you ?

[2017-12-01 15:38] itewk commented on #31737
I am running into this on RHEL with Ansible 2.4.1

[2017-12-01 15:40] Akasurde commented on #22542
needs_info

[2017-12-01 15:47] ahmedsajid commented on #22617
+1

[2017-12-01 15:51] #22644 closed, assigned to nobody

[2017-12-01 15:56] alvaroaleman commented on #25508
I can confirm this. The error is btw in https://github.com/spotify/pyfg/blob/master/pyFG/forticonfig.py#L103 and not in the ansible module.

Sample output of the `compare_config` function which is used by the Ansibel module to determine the next steps:

[code]

[2017-12-01 15:56] herkyl opened #33459 "digital_ocean_tag has stopped working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
digital_ocean_tag

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Tried on OSX and Ubuntu

##### SUMMARY
When trying to tag a droplet I get this error:
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I expected it to tag my new droplet, it has been working for a while (a week ago as well).
The

[2017-12-01 16:15] samdoran commented on #33351
Cherry-picked for inclusion in Ansible 2.4.3

[2017-12-01 16:39] ahmedsajid opened #33460 "Add AWS CloudHSMv2 support"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
cloudhsmv2
[module: cloud/amazon/cloudhsmv2.py]
##### ANSIBLE VERSION
N/A

##### SUMMARY
It would be nice to have CloudHSMv2 support within Ansible.
Boto3 already has support for it.
http://boto3.readthedocs.io/en/latest/reference/services/cloudhsmv2.html

[2017-12-01 16:47] rfrancis commented on #33351
Awesome news.  And thanks to everyone!  One more reason I use ansible for all our production systems.

[2017-12-01 17:19] jctanner commented on #33448
bot_status

[2017-12-01 17:22] mwinfie commented on #29511
I just ran into the need/want for this as well.

[2017-12-01 17:22] #32944 closed, assigned to Qalthos

[2017-12-01 17:38] vladimirtiukhtin opened #33461 "yum module requires package name for cache update"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module yum

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Running from Arch Linux 201712
Managing Centos 1708

##### SUMMARY
yum module requires package name for cache update. You can not just use
[code]
for cache update

##### EXPECTED RESULTS
module successfully updates cache

##### ACTUAL RESULTS
[code]

[2017-12-01 18:27] markgoddard commented on #26092
I was able to work around this issue by specifying the environment variable `OS_IDENTITY_API_VERSION=3`:

- hosts: all
  vars_files:
    - vars/main.yml

  tasks:
    - name: create domain for jdomain
      os_keystone_domain:
        name: jdomain
        state: present
        region_name: RegionOne
        auth: "{{ keystone_admin_auth }}"
        endpoint_type: admin
      delegate_to: localho

[2017-12-01 18:49] abadger commented on #16052
@ssbarnea need more information on what you're seeing.

To get to the code that is reporting that error it seems like you have to connect as root but root is unable to chown the files in question. C.ALLOW_WORLD_READABLE_TMPFILES shouldn't change that (as the check when you are root and unable to chown comes before the check for WORLD_READABLE_TMPFILES) so I'm trying to puzzle out what is really go

[2017-12-01 18:49] abadger commented on #16052
@ssbarnea if you could get in touch with me on IRC, we can discuss this and I can try to reproduce and see what's going on, then I can summarize our findings back in this bug report.

[2017-12-01 18:50] thisaaronm commented on #32940
I think I'm having a similar issue (i only used -vv):

I even made sure to copy the upgrade task from the Ansible Docs:
[code]

[code]
Have the following error:
[code]

[2017-12-01 19:13] chrisjohnson00 commented on #20589
Yes, I found the issue in 2.4.1 myself.  I'm asking if there's a plan to address the issue still as the functionality has already planned to die.

[2017-12-01 19:45] mowntan commented on #33284
Another update: this looks to be caused by our DVS/Network naming convention. We (ciscoACI) actually use the same network_name/Portgroup across multiple Distributed switches. So our config looks like the following

# DVS -> PortGroup
DEV -> LINUX_BUILD
QA -> LINUX_BUILD
PROD -> LINUX_BUILD

When using the ansible vmware_guest module is that a way that I can indicate the DVS and portgroup in the na

[2017-12-01 20:13] jmighion commented on #33414
Thanks. I'll be unavailable to work on this for a week. I'll get back to it asap.

[2017-12-01 20:58] spiffcp commented on #19276
Googling has brought me to this issue more than one time when searching for empty host var errors. If your instances are in a private subnet then you will want to double check your ec2.ini file to make sure that the vpc_destination_variable is set to `private_ip_address` rather than `ip_address`

please see below warning provided in the ec2.ini documentation:

# WARNING: - instances that are in th

[2017-12-01 20:59] spiffcp commented on #26574
@babatundebusari I know this has been here for a while but it still is open and I'd like to take a crack at solving it for you

Googling has brought me to this issue more than one time when searching for empty host var errors. If your instances are in a private subnet then you will want to double check your ec2.ini file to make sure that the vpc_destination_variable is set to `private_ip_address`

[2017-12-01 21:17] lihu-zhong opened #33464 "copy module slower than expected when recursive on 2.4.0.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`copy.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/home/user/ansible-source-control/roles']
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

Fedora 26 -> Fedora 26

#

[2017-12-01 21:25] MarkusTeufelberger commented on #33457
The `"failed": true` part is not enough? That's what I wrote this provider for...

Why would you need a custom field in the output additionally to the module failing?

[2017-12-01 21:30] kustodian opened #33465 "fileglob lookup returns a string instead of a list"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
fileglob lookup

##### ANSIBLE VERSION
[code]

##### SUMMARY
The `fileglob` lookup plugin instead of a list, returns a string which is a list of paths joined with a comma.

##### STEPS TO REPRODUCE
Use play:
[code]

##### EXPECTED RESULTS
The play above should print a list of conf files in `/etc`.

##### ACTUAL RESULTS
But it actually prints thi

[2017-12-01 21:32] hiciu commented on #33459
I'm experiencing the same issue. Something must've changed between 2017-11-14 and 2017-11-30, probably on the digitalocean's side - it was working for me two weeks ago, now it doesn't and I'm pretty sure I haven't updated my playbook nor ansible since last time it was working.

[2017-12-01 21:35] bcoca commented on #33465
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-12-01 21:35] #33465 closed, assigned to nobody

[2017-12-01 21:38] jcrisologo commented on #22203
I am also trying to find a workaround to this problem due to a STIG requirement that `/tmp` be noexec (questionably useful but them's the breaks, yeah?).  I have tried on Ansible 2.3.2 and 2.1.2.  My error is slightly different from OP's, and I can't get Ansible to work even after removing `become`.
[code]
Is it the case that Ansible will always attempt to run executables out of the system tmpdir,

[2017-12-01 21:43] mowntan commented on #33284
Tested with ansible 2.4 and 2.5, both are affected.

[2017-12-01 21:57] maxamillion commented on #33307
There is a pull request to add this functionality to the `firewalld` module under review right now. https://github.com/ansible/ansible/pull/32845

[2017-12-01 22:20] candonov opened #33467 "Add server or dns_domain_name option to win_domain_group"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_domain_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04  -> Windows Server 2012 R2
##### SUMMARY

Need the ability to specify server/dns_domain_name for win_domain_group module

Trying to add win_domain_group from a Windows Server which has joined the domain.
Using Ansible manage user - Admini

[2017-12-01 22:59] bcoca commented on #32015
So #32769 should fix the issue with tags in dynamic tasks, in any case the original issue should be using `import_tasks` instead which works w/o having to add a tag to that task:

[code]

If you need the include to be dynamic, the PR above will allow you to add tags to the task w/o the included tasks inheriting them:
[code]

tasks.yml
[code]

[2017-12-01 22:59] #32015 closed, assigned to jimi-c, bcoca

[2017-12-01 23:05] BondAnthony commented on #33459
Thank you @hiciu and @herkyl for opening and providing details. I'm experiencing the same issue on my side when adding a tag to a droplet. I'll debug Ansible and see what is going on with the POST request to /v2/tags/$TAG_NAME/resources API endpoint.

[2017-12-01 23:55] bcoca commented on #33451
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

`gather_facts` is a play directive, it does not work on tasks.

In the future, this might be a topic more well suited for the user list

[2017-12-01 23:55] #33451 closed, assigned to nobody

[2017-12-02 00:00] bcoca commented on #33447
this seems to only happen when `|mandatory` is used, which should be redundant as that is the default

[2017-12-02 02:51] Akasurde commented on #30109
@rewilliamso Thanks for reporting this issue. I noticed that you have two `vm_shell` params in playbook and second (i.e. `/sbin/reboot`) is taking precedence over `/bin/sed` which is intended shell in your case (replacing line with some other line).

Removing extraneous `vm_shell: '/sbin/reboot'` may resolve the issue.

Could you please try and let me know if it works for you ?

Ping me if you nee

[2017-12-02 04:56] Akasurde commented on #29673
vsphere_guest and vmware_guest both modules support 'thin' disk type.
Closing this issue. If issue persists, please feel free to re-open.

[2017-12-02 04:56] #29673 closed, assigned to Akasurde

[2017-12-02 05:37] Akasurde commented on #28463
resolved_by_pr #33479

[2017-12-02 07:32] ericzolf opened #33484 "Callback plugins are called twice if custom plugin has the same name as standard one"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

callback plugins

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_CALLBACK_WHITELIST(/home/ericl/Documents/Technik/Ansible/ansible.cfg) = ['junit']

##### OS / ENVIRONMENT

Fedora 27 (but I don't think that it's relevant)

##### SUMMARY

While developing an extension of the junit callback plug-in and testing it under Python 2 and 3

[2017-12-02 08:27] kiorky commented on #21890
The fix is now there for a long time, may it be reviewed ?

[2017-12-02 09:45] nblock commented on #32622
@cans I just re-tested with your archive and could not reproduce the issue any longer. It seems to work without issues on 2.4.1 and 2.4.2.

Sorry for the fuzz, it must have been an issue on my side.

[2017-12-02 09:45] #32622 closed, assigned to nobody

[2017-12-02 10:05] jurgenhaas commented on #32015
Thanks @bcoca I can confirm that the case with `import_tasks` is now working as expected in version 2.4.2.0 - the original report was against 2.4.0.0 so it looks like that got fixed in the meantime.

What's not working as expected yet is the dynamic `include_task`. In your example the tag is inherited to all tasks in the included file which is not what you'd expect. Let's have a look at this examp

[2017-12-02 10:43] jurgenhaas commented on #32015
OK, looks like this is not yet part of 2.4.2.0. So I have patched my Ansible with #32769 and changed my playbook to this:

[code]

But that still executes all tasks in the included files. It doesn't seem to turn inheritance off.

[2017-12-02 12:04] #31098 closed, assigned to nobody

[2017-12-02 12:47] BondAnthony commented on #33459
We haven't changed the digital_ocean_tag module for a few months so I'm speculating the api was enhanced to validate the resource_id as a string instead of a number.

Bad request that receives a 400 back from DO.
`{"resources": [{"resource_type": "droplet", "resource_id": 73333005}]}`

Working request that receives a 204 back from DO.
`'{"resources": [{"resource_type": "droplet", "resource_id": "7

[2017-12-02 18:06] Akasurde commented on #31547
Closing this issue as PR #27546 is merged. If issue persists, please feel free to re-open.

[2017-12-02 18:06] #31547 closed, assigned to nobody

[2017-12-02 18:21] noseka1 commented on #30599
Hi, the ini_file module already allows managing ini files without sections. You have to leave the "section" parameter empty like this:

[code]
Setting the "section" parameter to "null" won't work as documented. However, I think that using "null" to denote that there are no sections in the ini file is not a good idea, anyway. What are we going to do with an ini file that would include a regular sec

[2017-12-02 18:24] Akasurde commented on #31086
Closing this issue as PR #31114 is merged. If issue persists, please feel free to re-open.

[2017-12-02 18:24] #31086 closed, assigned to nobody

[2017-12-02 18:34] Akasurde commented on #30951
@shankerrhce Thanks for reporting this issue. Could you please check -

[code]

and also, I notice there is space after "/dev/sdd3"

[code]

[2017-12-02 18:34] Akasurde commented on #30951
needs_info

[2017-12-02 18:43] Akasurde commented on #30951
I can reproduce the same output if I add space in variable

[code]

Output:

[code]

[2017-12-02 18:50] Akasurde commented on #30637
resolved_by_pr #30702

[2017-12-02 19:01] #30637 closed, assigned to nobody

[2017-12-02 19:04] Akasurde commented on #30222
Closing this issue as this feature is available now.

[code]

[2017-12-02 19:04] #30222 closed, assigned to nobody

[2017-12-02 19:52] Akasurde commented on #33459
Closing this issue as PR #33486 is merged. If issue persists, please feel free to re-open.

[2017-12-02 19:52] #33459 closed, assigned to nobody

[2017-12-02 20:52] jdani commented on #30599
Hi,

I'm trying and cannot get this working:

➜  ~ cat test.yml
- name: set test configuration
  hosts: local
  connection: local
  tasks:
    - name: Create sample file
      ini_file:
        path: /tmp/test.ini
        section:
        option: myoption
        value: no
        mode: 0644
        backup: yes
        state: present
➜  ~ cat /tmp/test.ini
cat: /tmp/test.ini: No existe el archivo

[2017-12-02 23:51] noseka1 commented on #30599
Hi,

Thanks for poiting this out. You're right, the ini_file is buggy. When the file doesn't exist or exists but is empty, ini_file module won't add the new option. Only when the file already contains some options, then it worked for me:
[code]
So, yeah, this is a bug. Ansible should be able to add the option to a non-existing or empty file as well.

[2017-12-03 05:50] daxlab commented on #33439
I can pick this up.

[2017-12-03 05:54] akatch commented on #32716
Confirmed this is gone in 2.4.2.0. Thanks!

[2017-12-03 06:35] chuckyz commented on #33434
@rakesh-nd

this is long in the making...  the rds module is being pretty heavily split up.

You can see this PR for a starting point of information.

https://github.com/ansible/ansible/pull/29032

[2017-12-03 06:57] chuckyz commented on #33417
@bjoernalbers can you make sure you have the latest version of openssl and python2 from brew?

`python --version; python -c "import ssl; print ssl.OPENSSL_VERSION"`

may also be helpful here

[2017-12-03 08:31] walidshaari commented on #33414
no problem, let me know if I can help, not sure how much I can, but if there is a  code that I should look into,  try different things with the module. let me know, I am new to the network, and network automation domain.

[2017-12-03 08:33] jdani commented on #30599
Great to get it clear!

Can I ask why configparser isn't used in this module? The only caveat I see
are comments existing in the file, that are ignored and would be removed.
But, if a comment parameter is added to the ini_file module, comments could
be defined in the playbook...

El 3 dic. 2017 0:51, "Ales Nosek" <notifications@github.com> escribió:

Hi,

Thanks for poiting this out. You're right,

[2017-12-03 09:45] omidraha commented on #30296
Is this fixed in `ansible 2.4.1.0` ?

[2017-12-03 12:10] liyaka opened #33505 "meta: reset_connection failed when remote_user defined with variable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
!component

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
When running playbook:
[code]
##### EXPECTED RESULTS
see ssh reconnect working...

##### ACTUAL RESULTS
Running with -vvv:
[code]

[2017-12-03 12:22] pythys commented on #19858
I confirm the same behavior, when I execute the below task the volumes are not removed.
[code]

[2017-12-03 12:58] publicarray opened #33506 "Multiply and divide with // = 0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Jinja2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY

The jinja `//` operator always returns 0 when a number was first multiplied:

[code]

From: http://jinja.pocoo.org/docs/2.10/templates/#math
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS

[code]

[2017-12-03 14:28] sgutermann commented on #18901
Tested with 2.4, still a problem.

Workaround in the meantime is obviously copying the deb to the machine and executing it there.

[2017-12-03 15:44] Akasurde commented on #29734
@Kenovo Thanks for reporting this issue. Could you please try using `verify=False` or `validate_certs=False` ?

needs_info

[2017-12-03 15:57] teresaejunior commented on #18901
No need to copy if you specify the full path:

    - apt:
        deb: '{{ role_path }}/files/package.deb'

[2017-12-03 16:05] Akasurde commented on #29672
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2017-12-03 16:05] #29672 closed, assigned to nobody

[2017-12-03 16:45] noseka1 commented on #30599
Configparser was used in this module until Ansible < 2.0. In 2.0 we replaced the implementation based on Configparser with our own. The reason was as you mentioned that Configparser would remove comments. See also my post from that time: http://alesnosek.com/blog/2015/08/03/improving-ansibles-ini-file-module/

I'm not sure if storing ini comments in the playbook is a good idea. When a new version

[2017-12-03 18:10] jdani commented on #30599
Great to know! In that case I'll try to fix it up sticking to the existing
code.

About comments, if the file is only modified with ansible, I think it's not
such a bad idea having comments in the playbook. The problem is that this
is not always the caseand, most important, you guys have already made a
decision about it. So that's all!

Many thanks! Really helpful!

------
   JDaniel Jimenez Pania

[2017-12-03 18:59] chouseknecht commented on #30296
@omidraha

It was fixed by commit [c227725d](https://github.com/ansible/ansible/commit/4c0889e8fcee6c8be9fef33887480747c227725d)

But doesn't look like it got included in `2.4.1`, nor `2.4.2`.

[2017-12-03 21:57] liyaka commented on #23621
Still have this issues with ansible 2.4.1 - in which version is it fixed?

[2017-12-04 00:44] cwegener commented on #28250
@Akasurde I was having the exact same issue like @jmcginn13. I can confirm that changing the value for the 'folder' parameter to the absolute path (`/DC/vm/folder/vmname`) fixed the problem for me.

[2017-12-04 01:19] kurtfoster opened #33513 "Which license is the right one"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
License

##### ANSIBLE VERSION

NA

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
I'd like to know which license is the appropriate license when I'm using Ansible, there are 3 in the license folder?

##### STEPS TO REPRODUCE
NA

##### EXPECTED RESULTS
NA

##### ACTUAL RESULTS
NA

[2017-12-04 02:08] jctanner commented on #10499
needs_contributor

[2017-12-04 02:44] duck-rh commented on #22025
@bcoca quack?

[2017-12-04 04:08] gordonmessmer opened #33516 "remote_user ignored for tasks delegated_to hosts which are not in the inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
delegate_to

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Bug appears independent of local configuration.

##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)

##### SUMMARY
delegate_to will accept a hostname which does not appear in the inventory.  When such a hostname is provided, the remote_user setting will not be used.

This ca

[2017-12-04 07:24] ganeshrn commented on #31574
@mnarusze PR https://github.com/ansible/ansible/pull/33518 should fix the issue. Can you please retest with the changes in PR and confirm if the issue is resolved.

needs_info

[2017-12-04 08:22] alvaroaleman commented on #25508
Fix proposed: spotify/pyfg#25

[2017-12-04 10:09] ericcitaire opened #33521 "get_url doesn't remove temp file when force=yes and changed=no"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default configuration

##### OS / ENVIRONMENT
Ansible run on Ubuntu 16.04, managing RedHat 6.6

##### SUMMARY

get_url doesn't remove temporary file when `force=yes` and destination file checksum is equal to downloaded file checksum.

##### STEPS TO REPRODUCE
Just run this playbook:

[code

[2017-12-04 10:21] mscherer commented on #24341
Since the GPL have been added, I am closing this bug.

[2017-12-04 10:21] #24341 closed, assigned to nobody

[2017-12-04 10:26] krissi commented on #33457
It does not have the `failed` attribute set to `true`, maybe because I override using `failed_when: false`. I need to do this because I only want to capture the module output and not abort the play

Here is the output of an fulfilled and an unfulfilled assertion:

[code]

[code]

[2017-12-04 10:54] publicarray commented on #33513
The code here on Github and Ansible itself is released under [GNU](https://github.com/ansible/ansible/blob/devel/COPYING) but Ansible Tower is propitiatory (build on-top of https://github.com/ansible/awx which has the [Apache licence](https://github.com/ansible/awx/blob/devel/LICENSE.md))

[2017-12-04 10:58] kiltum opened #33523 "Ansible permanently fails if pip systemd installed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

module_utils

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
nothing changed

##### OS / ENVIRONMENT

Run from OS X High Sierra, manage CentOS 7.x hosts

##### SUMMARY
If somebody install python "systemd" from pip - ansible stop working on host

##### STEPS TO REPRODUCE

[code]
or run "pip install systemd" from shell - -effect the same

###

[2017-12-04 11:00] publicarray commented on #33513
Just to add there are components of Ansible that have different licences which are used with the licences provided in the folder. Some may be in the file headers.

[2017-12-04 11:38] evgenyfedoruk opened #33524 "Radware vdirect_runnable module does not treat the delete action for workflow in a proper way"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module network/radware/vdirect_runnable

##### ANSIBLE VERSION
ansible 2.4

##### SUMMARY
When running the delete action on "workflow" type runnable, the returned 404 status code is considered as a failure. It should not. the delete action deletes the runnable and returned 404 code is a valid code in this case. this code is returned as a result

[2017-12-04 11:45] mnarusze commented on #31574
I'll check it this week, I already modified our implementation to make one big configuration call at a time instead of multiple smaller ones.

[2017-12-04 11:53] MarkusTeufelberger commented on #33457
Yes, you are overriding the "failed" attribute to always be False instead of setting `ignore_errors: true`, which seems like the more appropriate thing to do to me (this would continue the play with a failed task).

[2017-12-04 12:15] dagwieers commented on #33516
Can you try using:
[code]

You cannot override the remote user using **remote_user** when **ansible_user** is set elsewhere (eg. in inventory) because of variable precedence. Luckily task-variables do win over inventory variables, so the above works in that case.

[2017-12-04 12:48] tenhishadow commented on #29043
Hi All,
I have the same issue with this module.
As for vmware_guest it's working, but for deploying VM from template you need do in in 2 steps - deploy and reconfigure.

I have this in logs without specifying pool:
   "module_stderr": "Traceback (most recent call last):\n  File \"/tmp/ansible_miO42f/ansible_module_vmware_guest.py\", line 1503, in <module>\n    main()\n  File \"/tmp/ansible_miO42f/

[2017-12-04 13:32] Tux12Fun opened #33528 "maximum recursion depth exceeded in cmp"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

**Worked bevore the last update.**
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS
Linux debmirror 4.4.0-101-generic #124-Ubuntu SMP Fri Nov 10 18:29:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No error as in ansible-2.4.
##### ACTUAL RESULTS

ERROR!

[2017-12-04 13:38] evgenyfedoruk opened #33529 "Radware modules have wrong parameter name in documented example"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
module network/radware/vdirect_file
module network/radware/vdirect_runnable
module network/radware/vdirect_commit

##### ANSIBLE VERSION
ansible 2.4

##### SUMMARY
in EXAMPLES documentation, the parameter vdirect_primary_ip is wrong. it should be vdirect_ip.

[2017-12-04 13:40] krissi commented on #33457
I see.
In my scenario (checking if a certificate needs renew and renew it based on this result), it is not an error if a renew is needed. When using `ignore_errors`, the output is red which is distracting.

I grant that the current behaviour of erroring matches the name `assertonly`, which is not "verify" or alike. But I and probably many others will abuse this module to verify the current cert an

[2017-12-04 13:49] Akasurde commented on #30074
Similar to #29686

[2017-12-04 13:54] Akasurde commented on #30074
related to #29600

[2017-12-04 14:37] CelestP opened #33532 "ec2_lc multiple volumes defined only 1 created"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module ec2_lc

##### ANSIBLE VERSION
ansible 2.4.1.0
  config file = /home/pantophl/.ansible.cfg
  configured module search path = [u'/home/pantophl/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version =

[2017-12-04 14:40] CelestP commented on #33532
Note: this was working prior to 2.4.1 upgrade.  I will test and confirm

[2017-12-04 14:49] TomasTomecek opened #33533 "synchronize module: add support for buildah connection"
(I'm creating this issue so that I can coordinate on a proper solution. It's targeted for @chouseknecht @j00bar @gregdek; hence I won't be filing out all the fields)

I made more progress on the integration of buildah inside ansible-container. Unfortunately, it seems that not all ansible modules support different connection methods natively. This is the error I'm getting right now:

[code]

Could

[2017-12-04 14:51] dpavlov opened #33534 "Recreate docker volume in case if driver options were changed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_volume

[code]

##### CONFIGURATION

ANSIBLE_SSH_CONTROL_PATH(/vagrant/ansible/ansible.cfg) = %(directory)s/%%h-%%p-%%r
CACHE_PLUGIN(/vagrant/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/vagrant/ansible/ansible.cfg) = ./cache/
CACHE_PLUGIN_TIMEOUT(/vagrant/ansible/ansible.cfg) = 7200
DEFAULT_BECOME(/vagrant/ansible/ansible.c

[2017-12-04 15:05] TomasTomecek commented on #33533
@chouseknecht was so nice and shared with me via IRC that I need to extend https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/synchronize.py in order to make this work; so expect a PR!

[2017-12-04 15:06] edwardofclt opened #33536 "ec2_lc should update values if ones supplied in playbook differ from AWS"
The only alternative I currently see is to use the `state: absent` attribute to remove it and then recreate it.

Feature request: add `state: updated`

[2017-12-04 15:08] Ludo444 commented on #33528
Same issue here, also with new 2.4.2 version.

[2017-12-04 15:33] #33445 closed, assigned to nobody

[2017-12-04 16:10] vaishnav-piyush commented on #11979
+1

[2017-12-04 16:12] bcoca commented on #33513
Ansible core and modules are GPL, most of the code in lib/ansible/module_utils is BSD so as to allow 3rd party distribution of modules using the shared code w/o imposing a license.

[2017-12-04 16:12] #33513 closed, assigned to nobody

[2017-12-04 16:12] bcoca commented on #33513
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-12-04 16:31] tbouvet commented on #33447
@bcoca I confim. If I remove mandatory it's ok. Thanks !

[2017-12-04 16:46] wknapik opened #33545 "The helm module should return an appropriate error message for repo 403"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
helm

##### ANSIBLE VERSION
[code]
2.5.0.34173.3d63ecb6f3-1

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Trying to install a chart that is not readable (HTTP 403), produces an error message that doesn't explain the problem.

##### STEPS TO REPRODUCE
Try to install a char

[2017-12-04 17:05] ryansb commented on #33384
This is likely part of a rolling update process, are any of the properties on the autoscaling group changed after running the Ansible task for ec2_asg?

[2017-12-04 17:21] bjoernalbers commented on #33417
Looks like there is some problem with OpenSSL...

On the host where it fails:

[code]

On the host where it works:

[code]

[2017-12-04 17:31] bcoca commented on #33447
PR above should also fix this case

[2017-12-04 18:04] flowerysong commented on #33536
As noted in the module documentation, "Amazon ASG Autoscaling Launch Configurations are immutable once created, so modifying the configuration after it is changed will not modify the launch configuration on AWS. You must create a new config and assign it to the ASG instead."

[2017-12-04 18:11] agronholm commented on #33534
Have you read the documentation?
[code]

[2017-12-04 19:56] andreyfedoseev commented on #32358
@Akasurde

I tested this with my RDS instance and it worked fine. I also tried to switch the attributes to/from CREATEDB/NOCREATEDB and it also worked as expected.

[2017-12-04 20:10] geneGH2 opened #33552 "vSphere gather_facts Module Failure"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
pysphere

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Trying to do basic vmfacts pull from vCenter.
pysphere installed via 'pip install -U pysphere' command
Playbook:
[code]
Verified that "root" has access to vCenter via putty session.
Tried adding the following to the hosts file:

[code]

##### STE

[2017-12-04 20:32] ghost opened #33554 "ios_command: Broken stdout_lines behavior between Ansible 2.3 and 2.4 -- Reference incident #30836 seen again for CentOs 7 environment"
Greetings,

I wanted to see if anyone had insight into why Ansible v2.4.2.0 on CentOS 7 is exhibiting this odd parsing behavior again. I brought up a new Ansible environment using CentOS 7, and this script is broken in the same fashion as v2.4.0.0 was under Ubuntu; the script works fine in Ubuntu.

This is a continuation of Incident #30836 opened back in September.

[2017-12-04 20:40] johnslay opened #33555 "npm module is not installing dependencies locally from package.json"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
npm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_TIMEOUT(/etc/ansible/ansible.cfg) = 10

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
The task passes without installing node modules.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I expect to have a node_modules folder within the `project` directory where my `packag

[2017-12-04 20:46] nk9b commented on #33554
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible Core/Cisco ios_command module

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/inventory.ini']
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log
DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/ansible-snmp/library', u'/usr/local/lib/python2.7/dist-packages/napal

[2017-12-04 22:22] MarkusTeufelberger commented on #33457
I don't agree.

The certificate not following spec (e.g. because it needs to be renewed) is something that should trigger an action and since "assertonly" isn't capable of actually performing an action, the only thing left to do for the module is to fail. Hiding this behaviour away is not something that I want to encourage. If you still want to trigger further actions down the line, you need to al

[2017-12-04 22:41] geneGH2 commented on #33552
Update:

Made some changes to the hosts file and changed the vcenter appliance to one of my vmware hosts.  Then ran the following command to verify connectivity:

ansible vsphere -i hosts -m ping --ask-pass
SSH password:
host2.test | SUCCESS => {
    "changed": false,
    "failed": false,
    "ping": "pong"
}
host1.test | SUCCESS => {
    "changed": false,
    "failed": false,
    "ping": "pong"

[2017-12-04 22:43] LPiner commented on #15321
Just ran into this, only seems to occur on my mac though.

[2017-12-04 23:12] willthames commented on #33532
This is fixed for 2.5 in #32163 and was backported to 2.4 (so I'd expect it to be in 2.4.2)

[2017-12-04 23:12] #33532 closed, assigned to nobody

[2017-12-04 23:41] #32526 closed, assigned to nobody

[2017-12-04 23:41] #33120 closed, assigned to nobody

[2017-12-04 23:45] gordonmessmer commented on #33516
Inventory variables aren't an issue, because the delegated host wasn't in the inventory at all.

For the sake of argument, I tried to follow your suggestion but I can no longer reproduce the problem.  Removing the IPA server from my inventory doesn't currently cause connections to be made as the root user.

So the problem may be that when you delegate_to a host that's not in your inventory, the sy

[2017-12-05 00:48] willthames commented on #33305
Looks like this is a bug in boto3: https://github.com/boto/boto3/issues/1370

[2017-12-05 01:36] Akasurde commented on #33552
@geneGH2 Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

 I am not sure why you are using `uri` module. `vmware_vm_facts` requires [`pyvmomi`](https://github.com/vmware/pyvmomi/) not `pyvsphere`.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net

[2017-12-05 01:36] #33552 closed, assigned to nobody

[2017-12-05 01:57] qq390722 commented on #33399
Modify the source to solve the problem, thanks ansible teams

[2017-12-05 01:57] #33399 closed, assigned to nobody

[2017-12-05 01:57] willthames commented on #33305
I can't seem to get public_ip_address out of boto for c3, c4 or c5.

A rudimentary test script (with hardcoded subnets, security groups for my env) is

[code]

Which basically returns the Public IP address immediately after creation through describe_instances for boto3, but never seems to return for boto, long after the public IP address is available.

[2017-12-05 02:11] #32358 closed, assigned to Akasurde

[2017-12-05 02:42] gouyang opened #33563 "archive module does not support tar.gz well"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
archive module

##### ANSIBLE VERSION
# ansible --version
ansible 2.4.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  pytho

[2017-12-05 02:54] gouyang commented on #33563
it's the same if use the suffix 'tgz'.

[code]

[2017-12-05 07:37] jpjaatin commented on #19276
Playing with ec2.ini caused me the same issue. Refreshing the cache helped:
`./ec2.py --list --refresh-cache`

[2017-12-05 07:44] oopled commented on #32843
Hi, just wondering if/when there will be any action on this problem? If there is anything I can do to help, plz let me know, thx

[2017-12-05 07:45] tvendelin opened #33570 "ansible.cfg and .ansible.cfg ignored"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
```ansible-config dump --only-changed```
does not return anything

##### OS / ENVIRONMENT
```echo $ANSIBLE_CONFIG```
returns nothing

##### SUMMARY
According to
http://docs.ansible.com/ansible/latest/intro_configuration.html

The second and third option d

[2017-12-05 07:51] opscolin commented on #22131
@branghold @databill

What's your solution for this issue? I have installed zabbix-api on both target and ansible server.

## my error info like below:
root@pts/8 $ ansible-playbook add-zabbix-host-v2.yaml  --check

PLAY [all] ****************************************************************************************************************************

TASK [Gathering Facts] ************************

[2017-12-05 09:11] Akasurde commented on #33570
@tvendelin Thanks for reporting this issue. Could you paste content of `ansible.cfg` in current directory ?

[2017-12-05 09:22] mingrammer opened #33571 "Reuse the SSH connection for all tasks in a single playbook running"
##### ISSUE TYPE

 Feature Idea

##### COMPONENT NAME
SSH connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/Users/ming/go/src/github.com/sundaytoz/sql-notebook/ansible.cfg) = True
DEFAULT_HOST_LIST(/Users/ming/go/src/github.com/sundaytoz/sql-notebook/ansible.cfg) = ['/Users/ming/go/src/github.com/sundaytoz/sql-notebook/environments/local']

##### OS / ENVIRONMENT
m

[2017-12-05 09:30] Akasurde commented on #20407
@petericebear Any news ?

[2017-12-05 09:33] NBardelot commented on #31087
Same issue here with a fresh install from pip:

[code]

[code]

[2017-12-05 09:59] dpavlov commented on #33534
Sorry. looks like i missed it

[2017-12-05 09:59] #33534 closed, assigned to nobody

[2017-12-05 10:24] htvennik commented on #32983
Any updates on this? Even if just some work-around. Currently this is really killing my project...

[2017-12-05 10:29] cazorla19 commented on #32967
Sorry, I noticed the labels `needs_info` and `needs_template` in my issue. What kind of info do you need to investigate this case?

[2017-12-05 11:04] Ompragash opened #33577 "sefcontext doesn't change the context value"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

sefcontext

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Running Ansible on Fedora 25
Deploying to RHEL 7/Fedora 25

##### SUMMARY

When the playbook is executed it shows the particular task which uses `sefcontext` module is changed, but when the context value of the particular directory is unchanged(checked with `ls -Zd directory_pa

[2017-12-05 11:22] sysnet4admin commented on #33571
I think reuse is the security issue rather than receive benefit.
In my view, you could develop thru this code to use 'ssh-keygen' feature for your concept.

Here is generate to make known-hosts by ansible.
https://sysnet4admin.blogspot.kr/2017/09/ansible-knownhosts.html#.WiaAU0pl8uU

I hope it'll help to solve your interest.

Hoon Jo.

[2017-12-05 11:43] mingrammer commented on #33571
@sysnet4admin Hmm .. I thought back ... there might be security issues as you said. So, I think I should use the `ssh-agent` instead.

Thanks for giving a useful link :)

[2017-12-05 11:44] dagwieers commented on #33577
Nope, the sefcontext module only manages the file context mappings, it does not apply them. (just like with semanage). If you want to apply them, you have to do an additional step.

[2017-12-05 11:50] fredericlepied commented on #33302
fixed by https://github.com/ansible/ansible/commit/95044d69c7db8898d263922802cc2ca769fcbdfb

[2017-12-05 11:50] #33302 closed, assigned to ganeshrn

[2017-12-05 12:15] htvennik commented on #32983
Arrrrghhh.... found it... Unbelievable this kept me scratching my head for weeks! It had literally __nothing__ to do with caching.

I had a look at the code once again. And [these lines](https://github.com/ansible/ansible/blob/v2.4.1.0-1/lib/ansible/plugins/inventory/openstack.py#L203) got me thinking in the right direction (finally...):
[code]

The initial hosts I created have a public IP address

[2017-12-05 12:31] EliMutchnik commented on #33178
Hi Guys! Someone by any chance can assist on this issue?

[2017-12-05 12:38] bertbaron commented on #6077
I observe this to. I have a variable containing multiline json. When I use:
`content: "{{ my_variable }}"`
the result is a single line. But with:
`content: "{{ my_variable }}x"`
it is nicely formatted (but unfortunately invalid json).
I can live with this since the single line json is valid but it is annoying. Any fix or workaround would be appreciated.

[2017-12-05 12:39] Yspadadden opened #33578 "crash when using docker_container with a ulimit in check mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
!component -lib/ansible/modules/cloud/docker/docker_container.py
!component +lib/ansible/module_utils/basic.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/Users/emario/Documents/src/deployment/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/Users/emario/Documents/src/deployment/ansible/ansible.cfg) = -o ControlMaster=au

[2017-12-05 12:41] bertbaron commented on #6077
Ah, with
`content: "  {{ my_variable }}"`
it also formats multiple lines. The leading space is not nice but its better at least

[2017-12-05 12:58] eikef commented on #22131
@opscolin: are you certain that the pip you are using is for the python that ansible is using? (maybe the correct pip is hiding behind pip3 or some such)

[2017-12-05 13:01] sysnet4admin commented on #33571
@mingrammer  Yes it is one of solution that you said 👍

[2017-12-05 13:13] Yspadadden commented on #33578
!component -lib/ansible/modules/cloud/docker/docker_container.py
!component +lib/ansible/module_utils/basic.py

[2017-12-05 13:48] msbit opened #33580 "get_url: CERTIFICATE_VERIFY_FAILED with valid system certificates"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`get_url`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ansible-config dump --only-changed` empty

##### OS / ENVIRONMENT
From: macOS 10.12.6
To: ubuntu 16.04.3

##### SUMMARY
Recently I spun up two servers and ran the same playbook on both. On hitting a `get_url` task for a URL that would be redirected to HTTPS, one succeeded and one fail

[2017-12-05 14:03] petericebear commented on #20407
Sorry, was very busy. Yes this PR solved it for me. Thank you!

[2017-12-05 14:03] #20407 closed, assigned to nobody

[2017-12-05 14:05] Spitfire1900 opened #33581 "Name of task containing block is not printed to stdout"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Ansible Blocks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.4 (Maipo) (master and target)

##### SUMMARY
When a block is included in a named task the stdout when running the playbook does not include the name of the task containing the block.

##### STEPS TO REPRODUCE
[cod

[2017-12-05 14:06] ganeshrn commented on #31323
Target completion date: 8/12/2017

[2017-12-05 14:07] ganeshrn commented on #32743
Target date: 13/12/2017

[2017-12-05 14:15] Akasurde commented on #20407
@petericebear Thanks for reply.

[2017-12-05 14:35] ganeshrn commented on #31298
Target Dev complete date: 2017-12-22

[2017-12-05 14:35] ganeshrn commented on #31204
Target Dev complete date: 2017-12-27

[2017-12-05 14:37] rpijlman commented on #33581
You can (also) give a name to each individual task in the block. I haven't tested it, but IIRC that name is printed.

[2017-12-05 14:37] ganeshrn commented on #31301
Target Dev complete date: 2018-01-09

[2017-12-05 14:40] ganeshrn commented on #31302
Target Dev complete date: 2018-01-12 (stretch)

[2017-12-05 15:25] xmj commented on #32486
Not in my case

No: `vault-password-file` would be given to override what's in `ansible.cfg`. Both exist, but the console one is preferable (in my usecase).

No.

In my case, both exist. One is a shell script (hopefully) returning the passphrase, the other one is the passphrase in a .txt file. I would expect a commandline parameter to override the value in `ansible.cfg`.

[2017-12-05 16:14] flaper87 commented on #33545
@wknapik hey, thanks for the report. :cake:

Could you provide a task example to reproduce this failure? :smile:

[2017-12-05 16:14] tvendelin commented on #33570
Sorry, my fault. I had [general] instead of [defaults] as section name. Now that I've noticed and changed it, it works OK.

[2017-12-05 16:14] #33570 closed, assigned to nobody

[2017-12-05 16:28] mohag commented on #25664
I'm having a very similar issue...  (In the sense that additional parameters are passed which was not specified in the playbook, which causes the subscription-manager command to fail)

(With a normal ansible 2.4.1.0) (It seems to be related to the parsing of the config file, not just proxy settings....)

This works on the servers:
`/usr/sbin/subscription-manager register --force --activationkey My

[2017-12-05 16:45] jacksonp2008 commented on #32808
@Akasurde it just doesn't work on our systems with vCenter 6.5 as detailed above.  I have looked at permissions and everything else I can think of.  Any advice is welcome, I can even show it to you live if that would help.

[2017-12-05 16:51] wknapik commented on #33545
Hi @flaper87. This isn't really about a specific way you use the module. It's about the chart being unreadable. Just make any chart in any repo unreadable and try to install it. For an s3-based repo, I believe you could do `aws s3 cp chart repo --acl private` ?

[2017-12-05 17:02] mtnbikenc opened #33584 "Order of INI inventory sections causes undefined group vars"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
All Ansible config defaults

##### OS / ENVIRONMENT
N/A

##### SUMMARY

When defining a `[nodes:vars]` section before the `[nodes]` definition, previous group vars are dropped (undefined).  The Ansible docs don't specifically state this order as a requirement and the behavior has chan

[2017-12-05 17:40] trinitronx commented on #20109
@s-hertel:

Looks like it's fixed for me too!  This bug can be closed ^_^

Tested on:

- `ansible-playbook 2.3.0 (devel 1ce5fcf061)`
- `ansible-playbook 2.4.2.0`
- `ansible-playbook 2.2.3.0`
- `ansible-playbook 2.3.2.0`

[code]

[code]

[code]

[code]

[2017-12-05 17:43] 3manuek commented on #11035
The problem is how the module implements groups as a privilege, not as an object by itself. It will be  more intuitive to count with a `postgresql_group`, which can  internally inherit the `postgresql_user` implementation but using the corresponding defaults on the database.

Although, it must be mentioned that the current implementation actually relies more on the concept of `role` over `user` as

[2017-12-05 18:07] trinitronx commented on #20109
@s-hertel : I can replicate the other error by changing region between playbook runs.

When testing the case where we change region:

[code]

[2017-12-05 18:26] #33571 closed, assigned to nobody

[2017-12-05 18:32] ryansb commented on #33506
I'm not able to reproduce this

[code]

Also on 2.4.2

[code]

[2017-12-05 18:33] ryansb commented on #33536
Autoscaling groups are immutable (intentionally) so we can't make changes to launch configurations in the ec2_lc module. You must create a new one, then point your ASG to use it.

[2017-12-05 18:33] #33536 closed, assigned to nobody

[2017-12-05 18:33] IslandUsurper opened #33587 "[2]File and Pipe lookups have different CWD."
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
pipe

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
(Default)

##### OS / ENVIRONMENT
Linux (Debian and Ubuntu)

##### SUMMARY
The third note on http://docs.ansible.com/ansible/latest/playbooks_lookups.html claims lookups have a working directory of the play or role in which they are used. This is not true of the pipe lookup. It's

[2017-12-05 18:36] ryansb commented on #33523
This is (unfortunately) not something we can really fix on Ansible's side, that problem is a result of a package overriding the `systemd` python importable name.

[2017-12-05 18:45] ganeshrn opened #33589 "Persistent reset_connection meta fails with stacktrace"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Add below task in `prepare_junos_tests` integration test

[code]

##### EXPECTED RESULTS

Should run without errors

##### ACTUAL RESULTS

[code]

[2017-12-05 19:21] brainclots commented on #33029
Attaching current info and log after changes.

[all.yml.txt](https://github.com/ansible/ansible/files/1532593/all.yml.txt)
[ansible.log.txt](https://github.com/ansible/ansible/files/1532594/ansible.log.txt)
[testing.yml.txt](https://github.com/ansible/ansible/files/1532595/testing.yml.txt)

[2017-12-05 19:41] #20109 closed, assigned to nobody

[2017-12-05 20:47] publicarray commented on #33506
Strange I can reproduce consistently:

[2017-12-05 20:51] s-hertel commented on #20109
@trinitronx Ah, it looks like porting the s3 module to boto3 has fixed the region error under the hood. It's too big of a modification to backport, but that has been fixed in 2.4+.

[2017-12-05 20:57] bobobox commented on #33373
This seems to touch on the overall question of how the ec2 module should behave in general, for existing instances. Currently, the module only acts on an instance at the time when it creates the instance - from there on it leaves it alone. From a config management point of view, that's counter-intuitive (you expect a module to _maintain_ the configuration provided, idempotenty), but at the same ti

[2017-12-05 21:01] publicarray commented on #33506
Strange I can reproduce consistently:

[code]

[2017-12-05 21:36] publicarray commented on #33506
I installed python 2.7.12 and like you I cannot reproduce:

[code]

[2017-12-05 21:58] publicarray commented on #33506
I thing this is a bug in the homebrew version of ansible, `pip install ansible` works properly with 2.7.14

[2017-12-05 22:45] sprabhuanand commented on #14131
+1 to it. I need to execute the shell commands now to do it. But willbe nice

[2017-12-05 22:54] mdelagrange opened #33600 "Infinite recursion in "include_role" task"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[code]

##### CONFIGURATION

ANSIBLE_SSH_CONTROL_PATH(/Users/mdelagrange/.ansible.cfg) = %(directory)s/%%h-%%
DEFAULT_HOST_LIST(/Users/mdelagrange/.ansible.cfg) = [u'/Users/mdelagrange/src/o
DEFAULT_MODULE_PATH(/Users/mdelagrange/.ansible.cfg) = [u'/Users/mdelagrange/src
DEFAULT_VAULT_PASSWORD_FILE(/Users/mdelagrange/.ansible.cfg) = /Users/mde

[2017-12-05 23:13] jborean93 commented on #33456
Closing as there is already an issue for this https://github.com/ansible/ansible/issues/31050

[2017-12-05 23:13] #33456 closed, assigned to nobody

[2017-12-05 23:13] jborean93 commented on #31050
needs_contributor

[2017-12-05 23:14] jborean93 commented on #33467
So this is an issue for you when the user you are connecting with is a local user?

[2017-12-05 23:16] jborean93 commented on #33385
For Ansible 2.5 we have updated the docs for Windows to contain some more information. You can find the docs right now at http://docs.ansible.com/ansible/devel/windows.html and these will be the default when 2.5 is released.

For your particular issue you can see more information at http://docs.ansible.com/ansible/devel/windows_winrm.html#winrm-encryption but there is also an upcoming change to py

[2017-12-05 23:16] #33385 closed, assigned to nobody

[2017-12-05 23:24] jborean93 commented on #33178
Unfortunately this is a really hard one to figure out as the tests seem to work find in our testing suite. If you can find out more information such as if a plain vanilla web app pool works/what options seemt to cause the access is denied would help. I'm sure there was something that changed in the code to break this but unfortunately from looking at it I cannot really seem to see what it is. The

[2017-12-06 00:16] 1NoOne1 opened #33602 "SSLContext Error while creating a vmware_dvswitch."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- vmware_dvswitch

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

- Nothing customized. I am using the default CFG settings.

##### OS / ENVIRONMENT

- CentOS Linux release 7.0.1406 (Core)

##### SUMMARY

##### STEPS TO REPRODUCE

Trying to create a Virtual Distributed Switch in Vcenter using Module `vmware_dvswitch`. However, I am seeing

[2017-12-06 00:31] willthames commented on #32843
@oopled thanks for the reminder - I'm working on an ECS test suite for the ECS modules, and I can use that to test this particular issue - once I've identified cause, a fix shouldn't be far off.

[2017-12-06 00:35] drawks opened #33604 "getent module should support specifying which service to lookup with"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
getent

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
linux with glibc 2.2.5 or newer

##### SUMMARY
On linux (and maybe others?) `getent` supports optionally specifying the `service` to be used instead of resolving with `nsswitch.conf`. Similar to how the ansible `user` module has a `local` option this would allow for `getent` to spec

[2017-12-06 01:11] ham-360 opened #33605 "[feature] jenkins_plugin: return plugin version when performing plugin install or upgrade"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
jenkins_plugin

##### ANSIBLE VERSION
n/a

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
After using ansible to install a jenkins plugin, naturally you'd like to use ansible to configure that plugin.  All plugin config files require both the name of the plugin and the version, e.g. $JENKINS_HOME/credentials.xml :
[code]
If

[2017-12-06 02:23] kedarX commented on #31297
Target Date: 2017-12-26

[2017-12-06 02:24] kedarX commented on #31303
Target Date: 2017-12-29

[2017-12-06 02:43] kedarX commented on #33554
@nk9b Kindly comment/reopen original issue, if the issue is still around on devel or latest 2.4 cut.

[2017-12-06 02:46] #26023 closed, assigned to nobody

[2017-12-06 03:05] Akasurde commented on #33602
@1NoOne1 Thanks for reporting this issue. Your Python version (2.7.5) is old than what is required (2.7.9) for validate_certs. First run shows you exact error message -
[code]

Please update Python version and let me know if it works for you.

needs_info

[2017-12-06 04:21] 1NoOne1 commented on #33602
@Akasurde The error message does says that use use validate_certs=false, I used that option but it throws me an error message saying that SSLContext is not valid. I am not sure what's the intended behavior here.

[2017-12-06 06:20] mayurshetty opened #33614 "'AnsibleSequence' object has no attribute 'keys'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

inventory      = /home/student/httpd/

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.3 (Maipo)

##### SUMMARY

When I run a playbook using ansible-playbook I get the following error message.
[code]
I found that the error was not caused by the playbook, wa

[2017-12-06 06:24] Akasurde commented on #33602
@1NoOne1 It does actually. Intended behavior is to update Python version to 2.7.9

[2017-12-06 07:00] keerthana-sargunam commented on #27136
Hii,

I am running the playbook configure.yml to configure the ipaddress in the cisco router,but it shows "unable to open shell" error.
This is my playbook configure.yml
---
 - name: Cisco interface config
   connection: local
   hosts: 10.1.0.144
   gather_facts: true
   vars:
     cli:
       username: {admin}
       password: {admin}
       host: 10.1.0.144
   tasks:
     - name: configure IP a

[2017-12-06 07:14] mayurshetty commented on #33614
Just tried the above with ansible 2.4.1.0, and didn't see the error message like above. Instead there is a warning.

[student@testserver httpd]$ **ansible --version**
ansible 2.4.1.0
  config file = /home/student/httpd/ansible.cfg
  configured module search path = [u'/home/student/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.

[2017-12-06 07:45] Riccardo1976 opened #33617 "Ansible Facts report wrong PVS free size"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RedHat Enterprise Linux 7
##### SUMMARY

While gathering info about available 'disk' space on lvm's i noticed a lot of them reporting 51(gb) free while this couldnt be.
##### STEPS TO REPRODUCE
Reproducable always (from RH6 to latest RH7) all machines report the same basically.

ansi

[2017-12-06 07:45] yangguochi opened #33618 "AttributeError: 'DataLoader' object has no attribute 'set_vault_password'"
issue type : Bug Report
ansible version: 2.4.1
component name:ansible/parsing/dataloader.py

   Usage:

       dl = DataLoader()
       # optionally: dl.set_vault_password('foo')
       ds = dl.load('...')
       ds = dl.load_from_file('/path/to/file')
   '''

however set_vault_password is not in ansible/parsing/dataloader.py any more

[2017-12-06 07:47] onegreyonewhite opened #33619 "TypeError: unsupported operand type"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
2.4.2
[code]

##### CONFIGURATION
as in version

##### OS / ENVIRONMENT
CentOS 7.4, Ubuntu 16.04, Gentoo

##### SUMMARY
On any command
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

[2017-12-06 08:36] #24672 closed, assigned to Akasurde

[2017-12-06 09:07] Akasurde commented on #27899
@dagwieers Could you please take a look into #33372 and let me know if it works for you ?

[2017-12-06 09:11] Akasurde commented on #28463
@abhinav-chittora @frado22 I have opened new PR #33525 which is detects unique VM depending on UUID or NAME without the need of folder. Could you please try this and let me know if it works for you ?

[2017-12-06 09:22] sdesbure opened #33622 "Add support of healthcheck in docker_container module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
ansible 2.4.2.0
  config file = None
  configured module search path = [u'/Users/sylvain/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /Users/sylvain/Library/Python/2.7/lib/python/site-packages/ansible
  executable location = /Users/sylvain/Library/P

[2017-12-06 10:15] hitoshi-isa opened #33625 "[F5 VE]all f5 modules does not work except 12.x.x and 13.x.x"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[code]

##### CONFIGURATION

default
##### OS / ENVIRONMENT

CentOS release 6.9 (Final)
and python 2.7.11

##### SUMMARY

f5 network module is will work for f5 virtual edition verion 12.xx or 13.xx.
But for 11.xx does not.

##### STEPS TO REPRODUCE

Playbook is below.
[code]
i try to run this playbook for f5 11.xx ,but result is below.
[code]

[2017-12-06 10:19] hitoshi-isa commented on #33625
all other playbooks also work 12.xx and 13.xx and 11.xx will not work.

[2017-12-06 10:44] ashadmins commented on #20096
Is it possible to take over the fix from @StefanKaerst?

[2017-12-06 11:05] andrey-agenosov commented on #29451
Why not to add the **allow_downgrade** option to the _apt_ module?
With this new option it would be possible to pass it as a parameter when calling _pkg.check()_ inside the install_deb function.
The only downside is that the oldest versions of the _python-apt_ package don't support passing the _allow_downgrade_ parameter into the _check()_ method.

[2017-12-06 11:30] felps commented on #27349
Ran into this as well. Would be a great addition

[2017-12-06 11:34] publicarray commented on #33506
fixed in https://github.com/Homebrew/homebrew-core/commit/214bf1464a5984720010d250659e801e213c358e

[2017-12-06 11:34] #33506 closed, assigned to nobody

[2017-12-06 12:04] jurajbgh commented on #27136
Hello,
can you test ssh -l user ip ? do you have access? what version of ansible are you working with? instead of using , can you try with the direct user/pass?
vars:
cli:
username: {admin}
password: {admin}

[2017-12-06 12:45] oolongbrothers opened #33628 "ansible_distribution fact broken for SteamOS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no changes to Ansible configuration

##### OS / ENVIRONMENT
Control machine: Ubuntu 16.04.3
Managed machine: SteamOS 2.121

##### SUMMARY
The `ansible_distribution` fact for SteamOS is broken.

The value changed from `Steamos` (observe the lower case of the OS) to `SteamOS GNU/Linux` in An

[2017-12-06 12:59] pruneau628 commented on #32503
It also does not work with ansible-defined variables.

`
ansible 2.4.2.0
  config file = /Users/<redacted>/ansible.cfg
  configured module search path = [u'/usr/share/library']
  ansible python module location = /usr/local/lib/python2.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7.14 (default, Sep 25 2017, 09:54:19) [GCC 4.2.1 Compatible Apple LLVM 9.

[2017-12-06 14:07] #33589 closed, assigned to ganeshrn

[2017-12-06 14:11] Lewiatan commented on #29776
setting backrefs: yes fixes the issue

[2017-12-06 14:13] barabaka commented on #23547
+1

[2017-12-06 14:13] sivel commented on #33614
The warning messages in 2.4 are improved over previous versions as you have found.  I believe it provides the proper information to be actionable.

Specifically the last warning is what I believe you are ultimately after:

[code]

I'm going to go ahead and close this out.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing lis

[2017-12-06 14:13] #33614 closed, assigned to nobody

[2017-12-06 14:13] sivel commented on #33618
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-12-06 14:13] #33618 closed, assigned to nobody

[2017-12-06 14:15] mbialozor commented on #9998
Looks like this still persists on 2.4.1.0:

`(root@hydra ansible)# ansible-playbook hydra.test.aero.yml --tags nfs

PLAY [hydra.test.aero] *********************************************************************************************************************************************************************************************************

TASK [Gathering Facts] ***********************************

[2017-12-06 14:18] #33524 closed, assigned to nobody

[2017-12-06 14:21] gundalow commented on #33529
@evgenyfedoruk Will you be raising a PR to fix this?
needs_info

[2017-12-06 14:27] gundalow commented on #33392
@mamunozgonzalez FYI

[2017-12-06 14:36] gundalow commented on #31883
Would be good for @trishnaguha  and @kedarX to talk about what is required to implement and test this

[2017-12-06 14:42] jalbstmeijer opened #33632 "Ansible 2.4.1, 2.4.2: include_tasks does not handle a undefined conditional var correctly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module include_tasks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Centos 6

##### SUMMARY
When you add a when condition to include_tasks which includes a undefined variable, it processes it as True instead of trowing an undefined error.

##### STEPS TO REPRODUCE
Do not define or set VAR

[code]

##### EXPECTED

[2017-12-06 14:46] ganeshrn commented on #33415
@kefiras This functionality is planned to be added as part of `net_l2_interface` module
https://github.com/ansible/ansible/issues/31297

[2017-12-06 14:49] evgenyfedoruk commented on #33529
@gundalow Sure, I did not want to PR this one before the previous merges, they touch same file. Now, I will re-base and PR. Thanks for merging it!

[2017-12-06 14:50] dizeee commented on #33433
Got the same error with `command` module:
[code]

[2017-12-06 14:57] awkspace commented on #23609
@fidelperez One potential workaround is to use import_role in place of include_role (if you don't need anything the dynamic include_role offers).

[2017-12-06 15:03] sivel commented on #33433
It appears as though the issue occurs when `no_log: true` is placed on the task.  The task result is replaced with:

[code]

The `default` callback references both:

* `result._result['retries']`
* `result._result['attempts']`

Those will not exist. Since the `retries` and `attempts` are placed in the result, we'll have to figure out how to get access to these.

[2017-12-06 15:06] sivel commented on #33433
Reproducer:

[code]

[2017-12-06 15:08] PYLoch commented on #30264
Problem is still present with 2.4.2.

Full playbook:
- hosts: all
  tasks:
  - name: Copy automated update script to /tmp/scripts
    copy:
      src: /nfs/home/nagios/root-scripts/yum-securityupdate.cron
      dest: /tmp/scripts/
      remote_src: yes

It fails with following error message:
$ ansible-playbook -i hosts -k test.yaml -v
Using /etc/ansible/ansible.cfg as config file
SSH password:

PL

[2017-12-06 15:17] sivel commented on #33433
This was introduced by https://github.com/ansible/ansible/commit/01b6c7c9c6b / https://github.com/ansible/ansible/pull/27175

cc @bcoca

[2017-12-06 15:23] manpreetsnehra commented on #24630
Also since I can use a arn to create a cross region read replica, not being able to pass subnet/vpc_security_groups creates a inaccessible db, since it is not able to add either the subnets or vpc_security_groups

[2017-12-06 15:30] wirerydr commented on #31626
Despite having my credentials properly located in the [client] section of my **~root/.my.cnf**, I experienced a similar problem on a Fedora 27 box.  The problem did not manifest on a Fedora 26 box similarly configured.

As it turns out, either MariaDB, Ansible, or the libs that are used on Fedora 27 are intolerant of whitespace before/after the = in the user/password/host lines of **.my.cnf** on F

[2017-12-06 15:54] KamilBabayev opened #33635 "ansible version 2.4.2.0 junos_command returns lxml Start tag not found error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log
HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False

##### OS / ENVIRONMENT
Ubuntu 16.04.3 LTS

##### SUMMARY
When executing playbook it must show result , ok or something from juiper device that I run comm

[2017-12-06 16:09] sivel commented on #33064
@jocelynj I've created a pull request at https://github.com/ansible/ansible/pull/33636 to attempt to address this issue. I don't have proxmox readily available, so I don't have a great way to test.  Could you test that PR and let me know if if fixes your problem?

needs_info

[2017-12-06 16:37] liamraemclauchlan-ibboost opened #33638 "Do you have azure>=2.0.0 installed? No module named dns.version"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_storageblob

##### ANSIBLE VERSION
jenkins@73f7efc773cf:~$ ansible --version
ansible 2.5.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/jenkins/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
  execu

[2017-12-06 16:37] liamraemclauchlan-ibboost commented on #33638
jenkins@73f7efc773cf:~$ pip freeze
adal==0.4.7
ansible==2.4.2.0
applicationinsights==0.11.1
argcomplete==1.9.3
asn1crypto==0.23.0
azure==2.0.0
azure-batch==3.0.0
azure-cli-core==2.0.22
azure-cli-nspkg==3.0.1
azure-common==1.1.8
azure-datalake-store==0.0.17
azure-graphrbac==0.30.0
azure-keyvault==0.3.7
azure-mgmt==1.0.0
azure-mgmt-authorization==0.30.0
azure-mgmt-batch==4.1.0
azure-mgmt-cdn==0.30.3

[2017-12-06 16:55] johnslay commented on #33555
Just tested on 2.3.2.0 and it does not work either... maybe I am misunderstanding how to use this module? can anybody else relate? I just want it to install my npm packes from the package.json file... For now I have to do `command: npm install` but this executes everytime.

[2017-12-06 17:04] #33529 closed, assigned to nobody

[2017-12-06 17:07] #31345 closed, assigned to kedarkekan

[2017-12-06 17:27] caljess599 opened #33640 "Change task output to changed when results.changed is true"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]
##### CONFIGURATION

DEFAULT_GATHER_SUBSET  =  hardware
DEFAULT_REMOTE_USER = root

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
(This is more of a complaint than a feature idea, since I could swear Ansible used to work this way, and so the Rubicon has likely been crossed in this regard. But today I

[2017-12-06 17:35] baughj commented on #31087
👍 - is still occurring, same version.

[2017-12-06 17:37] jagibson commented on #13563
For my particular issue 2.4 solves the problem since it can support multiple inventory locations.

[2017-12-06 17:38] sivel commented on #33640
I cannot reproduce the behavior that you are describing.  If the file contents or attributes change, and `results.changed` is `true` it always shows as being changed.

Can you run your playbook with `-vvv` and provide the output here?

needs_info

[2017-12-06 17:44] mdelagrange commented on #33600
I'm pretty sure this bug was introduced by https://github.com/ansible/ansible/pull/27175.  In my test repo mdelagrange/ansible_include_role_bug, `make test_01b6c7c` fails but it's parent commit `make test_03abce2` succeeds.

[2017-12-06 17:49] bobobox opened #33642 "ec2: module ignores `count_tag` and creates new instances if subnets differ"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
All defaults

##### OS / ENVIRONMENT
Issue not platform specific

##### SUMMARY
The `count_tag` parameter on the ec2 module should maintain the `exact_count` number of ec2 instances which match the supplied tags, _wherever these ec2 instances are found within the account and region_. This wa

[2017-12-06 17:50] johnslay commented on #33555
This might be the issue #26582

[2017-12-06 18:00] caphrim007 commented on #33625
@hitoshi-isa the Ansible modules are designed to not work on 11.x. If they work at all, you got lucky because a REST API feature worked on an older version.

The error you're reporting though is not a Ansible module problem. Your mcpd service has not finished starting. This is evidenced by the error.

"Configuration Utility restarting..."

You need to wait for it to complete.

In any event, I'm no

[2017-12-06 18:00] #33625 closed, assigned to nobody

[2017-12-06 18:04] Kitus20 opened #33643 "ios_user "unable to retrieve current config" on IOS 12.2. problem with show running-config | section username"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ios_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Cisco IOS Software, Version 12.2(55)SE5, RELEASE SOFTWARE (fc1)
##### SUMMARY

The current ios_user module was tested only against IOS 15.6. When I was trying to use it with older releases  (12.2 in my example), I encountered the problem with `show runn

[2017-12-06 18:06] caljess599 commented on #33640
I'd be happy to hear that I'm doing something wrong and that this behavior is not expected. Here's some verbose output (a bit manipulated for company privacy) of the template step in action.

[ansible_verbose.txt](https://github.com/ansible/ansible/files/1536319/ansible_verbose.txt)

[2017-12-06 18:40] sivel commented on #33640
I'm not sure what is going on yet.  I can see from the module return data that `changed: true` is there, but the host output doesn't contain it:

[code]

From my test:

[code]

And somehow, debug can still see it?

Just making sure, you didn't accidentally delete that `changed: true` line when cleaning the data correct?

[2017-12-06 19:07] bcoca commented on #33581
Blocks are not tasks and name is not an 'inheritable' property, that said this could be optionally added, but can get very complex with nested blocks and roles

[2017-12-06 19:11] caljess599 commented on #33640
Doesn't look like a typo... sadly. It is pretty weird. `changed: true` is there in the verbose output printed before the task report (which maybe explains why results can grab it and show its status as changed?):

`<my-host> (0, '\r\n\r\n{"src": "/home/thisuser/.ansible/tmp/ansible-tmp-1512582856.2-5770613196913/source",` "**changed": true**, `"group": "webapp", "uid": 1001, "dest": "/home/webapp/

[2017-12-06 19:36] candreoliveira commented on #9369
+1

[2017-12-06 19:52] andrecp commented on #20432
Hi people,

Any news on this feature request?

If not Here comes my +1

[2017-12-06 19:58] warpwire commented on #12170
Also in support of this. We use roles and in order to use any of the workarounds, we would have to extract just the serialized tasks into the play or a task file included from it, thus breaking role encapsulation.

[2017-12-06 20:00] JoelFeiner commented on #12170
Also in support of this. We use roles and in order to use any of the workarounds, we would have to extract just the serialized tasks into the play or a task file included from it, thus breaking role encapsulation.

[2017-12-06 20:11] MedicMomcilo opened #33647 "nmcli: Add support for setting IP address to disabled/ignore for IPv4 and IPv6 retrospectively."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes.

##### OS / ENVIRONMENT
Fedora/Centos

##### SUMMARY
Add support for setting IP address to disabled/ignore for IPv4 and IPv6 retrospectively.

##### STEPS TO REPRODUCE
Use special keyword 'disabled' to set new ip4 or ip6 to none.

[code]

##### EXPECTED RESULTS
Connection get

[2017-12-06 20:14] nk9b commented on #33554
Given that the issue is resolved under Ubuntu, but broken in CentOS 7. should we keep this issue separate to minimize confusion?

[2017-12-06 20:16] MedicMomcilo opened #33648 "nmcli: Allow "generic" type for connections"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes.

##### OS / ENVIRONMENT
Fedora/Centos

##### SUMMARY
Allow setting type "generic" for connections configuration.

##### STEPS TO REPRODUCE
One would be able to set connection type to "generic"

[code]

##### EXPECTED RESULTS
Connection of "generic" type gets created.

##### A

[2017-12-06 20:16] #33260 closed, assigned to nobody

[2017-12-06 20:20] BDragonReborn commented on #24887
I am having the same issue with Ansible 2.5, works but datastores are all the same

tasks:
    - name: Deploy guest from template
      vmware_guest:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        state: "{{ vm_state }}"
        validate_certs: "{{ validate_certs }}"
        name: "{{ guest_name }}"
        template: "{{ template }}

[2017-12-06 20:58] bdowling opened #33650 "Empty vars_prompt causes exception 'NoneType' object is not iterable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vars_prompt

##### ANSIBLE VERSION

[code]

##### SUMMARY

Had a case where I commented out the variables in a vars_prompt section, but skipped the header and realized this caused an unfriendly NoneType exception...

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A User-friendly error message or warning "Encountered an empty vars_pr

[2017-12-06 21:30] sivel commented on #33640
@caljess599 Can you run `ansible-playbook` with `-vvvv` (4) and provide all lines that look like:

[code]

I'd like to know if there are multiple callbacks loaded and what they are.

needs_info

[2017-12-06 21:47] jborean93 commented on #33600
Thanks for this @mdelagrange, this is a duplicate of https://github.com/ansible/ansible/issues/23609 so I am going to close this ticket. The issue is being worked on now so hopefully there will be a fix sometime soon.

[2017-12-06 21:47] #33600 closed, assigned to nobody

[2017-12-06 21:53] brysontyrrell commented on #19524
We recently found that the use of the AWSRetry decorator in the `rds.py` module isn't working because the decorator is designed to only work with boto3 clients.

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/rds.py#L942

The `_botocore_exception_maybe` function only returns `botocore.exceptions.ClientError` if boto3 has been imported or a `NoneType`. The boto excep

[2017-12-06 21:54] jborean93 commented on #33587
!component -lib/ansible/modules/packaging/language/pip.py

[2017-12-06 22:00] sjmiller609 commented on #22382
I found this issue when I was attempting to run ansible playbooks in a CI system. We don't wish to expose any secrets in our repository source code. We have it set up so that the vault password file is mounted in the CI-worker containers. Without this feature (and without using ssh passwords), the best option I can think of is to store the vault-encrypted private key file in the repository, then h

[2017-12-06 22:01] jborean93 commented on #33619
@onegreyonewhite we are going to need some more info from you, can you let us know

* The python version you are using
* run `ansible-config dump --only-changed` in the playbook dir and give us that info
* run the command with `-vvvv` and give us the results of that

Is this error appearing when you run `ansible --version` or just when you run `ansible-playbook ...`

needs_info

[2017-12-06 22:04] geerlingguy commented on #29627
@mivanov93 - I can't reproduce in 2.3 or 2.4 (last tested in 2.4.2 today).

Note that maybe quoting is causing you issues—I noticed you're using the shorthand syntax.

If I quote the `'%'` and use yaml long form syntax to define the options, it seems to work fine:

[code]

[2017-12-06 22:05] jborean93 commented on #33638
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * There was a breaking change between rc6 and the final 2.0.0 release of the Azure Python SDK and for the 2.4 release we only support the latter
   * To fix this

[2017-12-06 22:05] #33638 closed, assigned to nobody

[2017-12-06 22:09] IslandUsurper commented on #33587
!component lib/ansible/plugins/lookup/pipe.py

[2017-12-06 22:16] sivel commented on #33619
Another observation, the email I got when this was created had python 3.4 in the paths, and I expect this error in python3.4.  Python3.4 is an unsupported python version for ansible.  We require python3.5 or newer.  However, the description has since been modified to use python2 paths.

I'm not sure how this could happen in python2.  I don't think such an error exists in python2.

[2017-12-06 22:17] mdelagrange commented on #23609
I think the issue with infinite recursion in the `include_role` is now worse in Ansible 2.4.2.0.  I put together a test case to demonstrate this: https://github.com/mdelagrange/ansible_include_role_bug.

[2017-12-06 22:20] jborean93 commented on #33619
Yea it was tagged as python3 but when i went through it with triage the paths were 2.7, so I'm curious what has actually happened

[2017-12-06 22:30] bdowling opened #33652 "ANSIBLE_DEBUG not compatible with network_cli connection"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

loader.py
display.py
plugin_docs.py
persistent.py

##### ANSIBLE VERSION

[code]

##### SUMMARY

With debugging turned on, ansible-connection fails, as various loaded modules print debug messages to stdout that collide with the expected json response.

Using this method to debug connection problems is documented here..
https://docs.ansible.com

[2017-12-06 23:27] bbaassssiiee commented on #29627
:relieved:

[2017-12-06 23:38] velzend commented on #33183
Hi, we encountered similar high memory usage issues with ansible 2.3 (did not test 2.4 yet). While profiling the memory consumption it seems that every included role increased the memory usage with approximately 13mb.
The playbook starts at around 47mb and increases slowly on normal tasks. And if the included role is used in conjunction with, with_items and the included role itself contains includ

[2017-12-07 01:16] syl20bnr commented on #18223
I was not able to include files without any extension in a group_vars direction. This is a bit ridiculous :-)

My work around for people ending on this issue:

[code]

[2017-12-07 01:22] onegreyonewhite commented on #33619
@sivel @jborean93 Sorry, it is my fall. I tried to test ansible in py2.7 and py3.4 and post from py3 tty. This bug appears in all python version on my env.

[2017-12-07 01:25] onegreyonewhite commented on #33619
This error appearing in any combination of start `ansible*`

[2017-12-07 01:42] hitoshi-isa commented on #33625
ok,i see.
Is the support status of f5 version listed somewhere?

[2017-12-07 01:56] Akasurde commented on #24887
@BDragonReborn Are you using the latest changes using this #33230 PR ?

[2017-12-07 02:50] caphrim007 commented on #33625
@hitoshi-isa this is an ongoing conversation at F5. Until that conversation ends, this is the list.

https://github.com/F5Networks/f5-ansible/blob/devel/.github/UPSTREAM_TEMPLATE.md

[2017-12-07 03:26] kedarX commented on #33652
@bdowling this is being fixed in #33049 . There is an existing issue #33047 tracking it, so closing this one.

[2017-12-07 03:26] #33652 closed, assigned to nobody

[2017-12-07 04:20] ibuler opened #33655 "Test case ResourceWarning"
##### Ansible Version
2.4 stable

##### ISSUE TYPE
Bug Report

#### Component name
May be plugin

#### Content

Hi：
     When I run a test case,  many  ResourceWarning message show, Even if I can set warning filter ignore that, but didn't our code can improve it ?

`/Users/guang/.virtualenvs/py3/lib/python3.6/site-packages/ansible/parsing/plugin_docs.py:41: ResourceWarning: unclosed file <_io.Buff

[2017-12-07 04:41] rewilliamso commented on #30109
Thanks for the response @Akasurde .  I did something similar to resolve the issue.

[2017-12-07 04:41] #30109 closed, assigned to Akasurde

[2017-12-07 05:09] keerthana-sargunam commented on #27136
@jurajbgh-Tried to acess by the command,
ssh username@ip
 ssh admin@10.1.0.100
Password:

CSR1000v#
CSR1000v#
CSR1000v#
CSR1000v#sh ip int br
Interface              IP-Address      OK? Method Status                Protocol
GigabitEthernet1       10.1.0.100      YES NVRAM  up                    up
GigabitEthernet2       192.168.255.66  YES NVRAM  up                    up
GigabitEthernet3       unas

[2017-12-07 05:55] #33577 closed, assigned to nobody

[2017-12-07 06:17] hitoshi-isa commented on #33625
@caphrim007 thanks a lot!!

[2017-12-07 06:29] Akasurde commented on #32004
@jacksonp2008 Any news?

[2017-12-07 06:30] Akasurde commented on #18980
@plork any news ?

[2017-12-07 06:30] Akasurde commented on #19553
@TheGuyDanish Any news ?

[2017-12-07 06:41] nlsantos commented on #30441
Commenting just to chime in that my company was hit by this, too.

Don't have much time to help in investigating the issue, since I'm in the middle of handling the fallout from whatever confluence of bugs caused the memory gobbling issue.

Similar symptoms as @LuckySB: slowdown of previously working playbooks, and gobbling of memory to the point that either the OOM killer steps in (if I'm lucky),

[2017-12-07 06:42] Raymond0331 opened #33657 "azure_rm_securitygroup.py has some problem when creating security group in china region"
##### ISSUE TYPE

 - Bug Report
ansible azrure module cannot create security group in china region.
when I use ansible try to create security group in azure of china region. It will report error to me.
Other function in azure module is successfully. Just azure_rm_securitygroup.py this module does not work.

##### COMPONENT NAME

azure/azure_rm_securitygroup.py

The exception seams raise between  l

[2017-12-07 07:21] yuwzho commented on #33657
Thanks for your reporting. @ZhijunZhao Could you please take a look?

[2017-12-07 07:25] ZhijunZhao commented on #33657
Thanks for reporting this issue. We've sent one PR #33624 to fix it.

[2017-12-07 07:42] chief-wrench commented on #16305
upvote, +1, like, whatever counts.

Please consider @rabin-io's last comment twice. It would make playbooks cleaner. We all know how to move the files manually or with some ansible task, but ansible really is about simplifying exactly things like this.

[2017-12-07 08:58] jalbstmeijer commented on #33632
tested 2.4.2, it has the same issue.

[2017-12-07 09:02] TheGuyDanish commented on #19553
@Akasurde Works wonders, thanks! Any possibility you could add the 'state' option so it could also be used to delete portgroups? Just a nice-to-have feature.

[2017-12-07 09:22] selyx opened #33659 "import_playbook ignores host_vars and group_vars defined in inventory file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
import_playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
$ ansible-config dump --only-changed
$

##### OS / ENVIRONMENT
Ubuntu xenial 16.04.3 LTS

##### SUMMARY
When using import_playbook inventory variables (host vars and group vars) are ignored. If specified as extra_vars (i.e. ansible-playbook -e) they are interpreted.

##### STEP

[2017-12-07 09:47] #32616 closed, assigned to nobody

[2017-12-07 09:52] liamraemclauchlan-ibboost opened #33661 "Do you have azure>=2.0.0 installed? No module named dns.version"
ISSUE TYPE

Bug Report
COMPONENT NAME

azure_rm_storageblob

ANSIBLE VERSION

jenkins@73f7efc773cf:~$ ansible --version
ansible 2.5.0
config file = /etc/ansible/ansible.cfg
configured module search path = [u'/home/jenkins/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
executable location = /usr/local

[2017-12-07 09:52] liamraemclauchlan-ibboost commented on #33661
jenkins@49b016115fbe:~$ pip freeze
adal==0.4.7
ansible==2.4.2.0
applicationinsights==0.11.1
argcomplete==1.9.3
azure-cli-core==2.0.22
azure-cli-nspkg==3.0.1
azure-common==1.1.8
azure-mgmt-batch==4.1.0
azure-mgmt-compute==2.1.0
azure-mgmt-containerservice==1.0.0
azure-mgmt-dns==1.2.0
azure-mgmt-keyvault==0.40.0
azure-mgmt-network==1.6.0
azure-mgmt-nspkg==2.0.0
azure-mgmt-resource==1.2.2
azure-mgmt-

[2017-12-07 10:15] garysmi commented on #31982
I've had the same issue using the backup flag with replace module, when operating on symlinks

I agree with Andrea about not having to create special cases for it since it worked in previously

[2017-12-07 10:29] likg opened #33663 "Python3 TypeError docs/bin/generate_man.py"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
* docs

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A, build/install stage
##### OS / ENVIRONMENT
[code]
##### SUMMARY
Fail to generate man pages on build stage with Python3. Error message:
[code]
Looks like [dicts-are-not-orderable-in-python-3](https://stackoverflow.com/a/22334235/1053003) is the main reason of bug. Similar issue #25230

[2017-12-07 10:32] MBlagui commented on #14358
We are still unable to add line breaks in in inventory. How to add encrypted variables in inventory using ansible-vault?
That's an issue.

[2017-12-07 11:17] #18980 closed, assigned to Akasurde

[2017-12-07 11:21] Akasurde opened #33666 "VMware: Allow user to delete portgroup using vmware_portgroup"
Currently, user is not able to delete portgroup using vmware_portgroup module.
vmware_portgroup should support functionality of deleting portgroup.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_portgroup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

RHEL 7 and ESXi 6.5

##### SUMMARY
As above.

##### STEPS TO REPRODUCE

default portgroup modu

[2017-12-07 11:22] Akasurde commented on #19553
@TheGuyDanish I filed new issue to track this feature #33666. Thanks for testing this functionality.

Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2017-12-07 11:22] #19553 closed, assigned to Akasurde

[2017-12-07 11:40] ric79 opened #33667 "AnsibleModule - specify dict keys"
Hello,
is there a way to declare as module argument a dict and verify its keys?
For example, given the `transport` dict param, I would like also to validate the keys `par1`, `par2`, `par3`

[code]
Ansible: 2.4.1

Thanks!
Riccardo