[2018-07-12 01:08] willthames commented on #36047
Closing this as the `k8s` module correctly implements the desired behaviour.

[2018-07-12 01:08] #36047 closed, assigned to nobody

[2018-07-12 01:10] #25656 closed, assigned to nobody

[2018-07-12 01:32] bcoca commented on #42607
a few things:
 - ansible-inventory never had a 'playbook dir', it just used cwd by mistake, i would expect this to be 'surprising' to most users.
 - if using `-i inventory` as a file, you already are in the same directory .. so unsure how that is not picked up.
 - open to how you would communicate this better than the release notes

[2018-07-12 01:34] jvanderaa commented on #42632
Looking for what is within `vars_prompt` with the private flag. Whether that is within `register` or `set_fact`, that can be helpful if doing triage. Exactly for the password prompt earlier, or for something to be set when grabbing secrets from password manager APIs.

[2018-07-12 01:43] bcoca commented on #42492
so your use case confuses me, if you want to 'always' run the include_role, but internal tasks ONLY when they match tags, just

[code]

The tags will not be inherited (it only applies to the include_role) and any tasks inside will be evaluated for their own tags.

[2018-07-12 01:46] jborean93 commented on #42632
@jvanderaa private doesn't really make sense in the context of set_fact or register as it is based on non-interactive input from a module or variable. What it sounds like you want is to use `no_log: yes` on the task which stops any output from being displayed/logged, e.g.

[code]

Results in this

[code]

[2018-07-12 02:37] jvanderaa commented on #42632
Got it, that is likely exactly what I was thinking of. Thanks for the feedback!

[2018-07-12 02:42] #42632 closed, assigned to nobody

[2018-07-12 03:22] caohai opened #42652 "azure_rm_storage_account fails on Azure Stack"
##### SUMMARY

azure_rm_storage_account fails when I use Ansible to create a storage account in Azure Stack. This error comes from Ansible using api_versions of Azure Python SDK that are not supported by Azure Stack
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_storage_account
azure_rm_common
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

1. I'm using

[2018-07-12 03:40] openstacker opened #42653 "Support to operate OpenStack Magnum resources in ansible"
SUMMARY
Support to operate OpenStack Magnum resources in ansible

ISSUE TYPE
Feature Idea
COMPONENT NAME

- [ ] os_coe_cluster_template
- [ ] os_coe_cluster
- [ ] os_coe_certificate

ANSIBLE VERSION
ansible 2.5.0
CONFIGURATION
N/A

OS / ENVIRONMENT
N/A

STEPS TO REPRODUCE
N/A

EXPECTED RESULTS
OpenStack Magnum related modules could be available in ansible.

ACTUAL RESULTS
There isn't any module re

[2018-07-12 03:55] willthames commented on #42607
It is not surprising to me that ansible-inventory behaves the same as ansible-playbook if it's in a directory with playbooks, with an ansible.cfg etc. It's surprising that suddenly it doesn't

Other ways to communicate this are to provide a warning when running ansible/ansible-inventory (group_vars found in current working directory - ignoring - see changelog)

I'll just move my group_vars under i

[2018-07-12 04:27] cognifloyd opened #42656 "fact caching breaks ansible_facts access when an env var has {%%}"
##### SUMMARY
On a host, I use zsh (oh-my-zsh if that makes a difference) with a fairly customized prompt. I have the env var:
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- jsonfile cache
- env var fact gatherer

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
From CentOS to CentOS (controller and managed host are the same machine in this test).
OS

[2018-07-12 04:28] Akasurde commented on #42644
@darthlupi Thanks for reporting this issue. I will try to reproduce this issue in my environment. Thanks.

[2018-07-12 04:29] Akasurde commented on #42638
@sonclay Thanks for reporting this issue. Could you please provide output of your folder structure so that it will be easy for me to debug scenario ? Thanks,

[2018-07-12 04:31] cognifloyd commented on #42656
[code]

[2018-07-12 05:11] jifox commented on #42590
@NilashishC: It seems to be right that this bug is related to vlans starting with '9'. I have the same problem for vlan 90,

[code]

[2018-07-12 06:32] caohai opened #42658 "azure_rm_virtualnetwork fails on Azure Stack"
##### SUMMARY

azure_rm_virtualnetwork fails when I use Ansible to create a virtual network in Azure Stack. This error comes from Ansible using newer version of Azure Network Management Api that is not supported by Azure Stack.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_virtualnetwork
azure_rm_common
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

1.

[2018-07-12 06:51] RogierSchuring commented on #37183
This is STILL an issue in Ansible 2.5.1. Any idea when this will be fixed?

[code]

[2018-07-12 06:58] stefjakobs commented on #42611
@Akasurde Thanks for providing the patch. It worked. I was able to create the vm.

[2018-07-12 07:11] karelyatin commented on #42621
This should be fixed in ansible 2.6.0:- https://github.com/ansible/ansible/commit/7db5ce2c86da3d1fc2f4c90294ff258267d8aae5

[2018-07-12 07:22] ITD27M01 commented on #42044
@bcoca Thank you.

I have created separated issue for openstack inventory:
https://github.com/ansible/ansible/issues/42042

The core issue there is that no check for empty string for "region" variable:

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/openstack.py#L261

Region is not a required parameter for authorization.

I would be grateful if you could promote this i

[2018-07-12 07:30] caohai opened #42660 "azure_rm_publicipaddress fails on Azure Stack"
##### SUMMARY

azure_rm_publicipaddress fails when I use Ansible to create a public ip address in Azure Stack.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_publicipaddress
azure_rm_common
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

1. I'm using Azure Stack Development Kit(1.1805.1.47)
2. I'm running Ansible  on a Ubuntu Server 16.04 LTS Virtual Mac

[2018-07-12 07:31] dseeley-sky opened #42661 "ec2_group "Ran out of time waiting for sg-xxx IpPermissions" if protocol set to numeric value"
##### SUMMARY
ec2_group takes a long time to complete, and emits warning "Ran out of time waiting for sg-xxx IpPermissions" if the 'protocol' field is set to numeric value.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_group module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
security group

[2018-07-12 07:36] ghost opened #42662 "keycloak_client module - Missing parameter and comment"
##### SUMMARY
In the keycloak_client module documentation, a parameter is present in the example "Create or update a Keycloak client (with all the bells and whistles)" but is not present or described in the table above.

This is the "**realm**" parameter

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Keycloak_client module

##### ANSIBLE VERSION

[code]

[2018-07-12 07:46] Fred-sun commented on #42640
I have try this command, It can get the RG(resource group) resource info ( resource contain: VM, network_interface, os_disk  ……), but if there is no resource in this RG, run this command will get an empty list, Could you make sure your test RG has some resource and try again, thanks a lot!

[2018-07-12 07:49] mrunge commented on #42588
Seems to be the same issue as https://github.com/ansible/ansible/issues/42189

[2018-07-12 07:51] mrunge commented on #42588
It also fails with openstacksdk-0.14

[2018-07-12 08:05] albers opened #42666 "vmware_deploy_ovf module: Allow URL as template source"
##### SUMMARY
The `vmware_deploy_ovf` module only supports local files as a template source.
When using the corresponding functionality from the vSphere client, there is an additional source: specify a URL from where the template should be downloaded:
![deploy_ovf_template](https://user-images.githubusercontent.com/2901725/42619245-c69300ce-85b7-11e8-9958-47eef6778ce3.png)

If a URL is specified,

[2018-07-12 09:02] caohai opened #42670 "azure_rm_securitygroup fails on Azure Stack"
##### SUMMARY

azure_rm_securitygroup fails when I use Ansible to create a security group in Azure Stack.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_securitygroup
azure_rm_common
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

1. I'm using Azure Stack Development Kit(1.1805.1.47)
2. I'm running Ansible on a Ubuntu Server 16.04 LTS Virtual Machine
###

[2018-07-12 09:04] RogierSchuring opened #42671 "uri status_code still failing task even if status code matches"
##### SUMMARY
uri status_code still failing task even if status code matches

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

uri module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

Run below playbook. use as inventory a server with https and auth enabled (force 401 return when no basic auth is provided by uri)

[code]

[2018-07-12 09:39] kwbr opened #42672 "ansible-console: Unreadable prompt on light background"
##### SUMMARY

ansible-console uses a light colored prompt which is not usable in terminals with light background.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-console

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/kai/Projects/gpsies/infrastructure/ansible.cfg) = True
CACHE_PLUGIN(/home/kai/Projects/gpsies/infrastructure/ansible.cfg) = jsonfile
CAC

[2018-07-12 09:59] NilashishC commented on #42590
@lsample54946 The fix for vlans starting with '9' not being identified correctly, has been added in 2.6 and 2.5. Please raise a separate issue for the second bug that you mentioned.

[2018-07-12 09:59] #42590 closed, assigned to NilashishC

[2018-07-12 10:02] walterdolce opened #42674 "Variable expansion does not work in the consul_kv lookup plugin/set_fact module, but it does for "item""
##### SUMMARY
As per title, the following task makes Ansible unhappy and doesn't work:
[code]
Resulting in the following:
[code]

While the same task passing the host and port directly in the plugin works just fine.

Why is `{{ item }}` being evaluated but `{{ consul_host }}` and `{{ consul_port }}` not?

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
consul_kv

##### ANSIBLE VERSION
[code]

[2018-07-12 10:59] hitsumabushi commented on #38478
Does someone know why vyos_config prevent setting encrypted passwords?
I want to submit PR to remove [CONFIG_FILTERS](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/vyos/vyos_config.py#L141), but I cannot find why this filter is needed. There is no reason for it in the commit message.
https://github.com/ansible/ansible/commit/df972feb2383699985a2359aeed786c9240844ec

[2018-07-12 11:10] MichaelSteffens opened #42677 "maven_artifact spinning with 100% CPU on checking md5 with python3"
##### SUMMARY

When using `ansible_python_interpreter: /usr/bin/python3` maven_artifact hangs on checking the MD5 checksum.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

maven_artifact

##### ANSIBLE VERSION
[code]
Also affected: 2.5.2

##### CONFIGURATION

ANSIBLE_HOST_KEY_CHECKING=False

##### OS / ENVIRONMENT

OS running Ansible from: Ubuntu Server 16.04
Target OS: Ubuntu Server 18.04

[2018-07-12 11:31] frangdlt commented on #42000
ping  @gundalow  @machacekondra ?

[2018-07-12 11:42] machacekondra commented on #42000
@frangdlt Looks OK, please create PR with your change.

[2018-07-12 11:43] machacekondra commented on #42000
Sorry it's here: https://github.com/ansible/ansible/pull/42196 I've missed it.

[2018-07-12 11:44] machacekondra commented on #42000
resolved_by_pr 42196

[2018-07-12 11:46] stephan2012 commented on #30599
Still an open issue in Ansible 2.6.1. I've just hit it.

[2018-07-12 11:50] liqingkai2017 commented on #42296
@ganeshrn @gundalow can you help me to solve the problem and give us some ideas what can we do to find the problem  and solve it

[2018-07-12 11:57] sonclay commented on #42638
Yes, simple:
vcenter
     datacenter1
          folder1
               subfolder1
               subfolder2
          folder2
     datacenter2
          folder1
               subfolder3
          folder2

In this scenario, if I attempt to create datacenter2:/folder1/subfolder4, the vcenter_folder ends up creating datacenter1:/folder1/subfolder4.

Let me know if you need further details.

[2018-07-12 12:01] jdani commented on #30599
I've pushed a PR that solves the problem a few months ago and still waiting
for someone to review it. Here it is:
https://github.com/ansible/ansible/pull/38971
------
   JDaniel Jimenez Paniagua

On Thu, 12 Jul 2018 at 13:47, Stephan <notifications@github.com> wrote:

[2018-07-12 12:18] yvan-peter opened #42681 "docker_container networks does not support variable"
##### SUMMARY
I get an error when trying to use a variable to set the network to which a container should be attached. It works fine with a plain name. Tested with ansible 2.5.5 and 2.6.1 on debian.

The error is :  _"argument networks is of type <type 'dict'> and we were unable to convert to list: <type 'dict'> cannot be converted to a list"_

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[2018-07-12 12:28] #23351 closed, assigned to nobody

[2018-07-12 12:32] sonclay commented on #42638
It does work correctly if datacenter1:/folder1 does NOT exist, so it seems as though it is looking for any folder with the name specified by "parent_folder" and creating the folder inside the first one it finds, regardless of what datacenter it's in.

[2018-07-12 12:37] agaffney commented on #42656
As noted in the IRC conversation above, this is probably happening because facts from the cache aren't wrapped in AnsibleUnsafeText, which causes values to be templated. There is code in the JSON encoder to preserve the "unsafe" status of these vars, but it doesn't seem to actually work due to the way the JSON encoder works.

A possible solution is to unconditionally use `ansible.utils.unsafe_prox

[2018-07-12 12:46] agaffney commented on #42656
@cognifloyd, please test the change in #42682

[2018-07-12 12:49] #42621 closed, assigned to nobody

[2018-07-12 12:51] ascerra opened #42683 "ovirt_vms_facts returns a list of dictionaries, this return value should have an easier way to pull out specific pieces to use later in a playbook"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ovirt_vms_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles']
DEPRECATION_WARNINGS(/etc/ansible/ansible.cfg) = False
HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False

##### OS / ENVIRONMENT

Fedora release 28
Red Hat Virtualization Manager Vers

[2018-07-12 12:53] ruzickap opened #42684 "Getting error when using undefined variable in loop + product filter instead of skipping (when:)"
##### SUMMARY
I wrote the following task, which should be skipped, but it ends with `"'non_existent_variable2' is undefined"` error.
Looks like ansible is trying to check the filter even if the task should be skipped (using when:).

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO R

[2018-07-12 13:47] maxamillion commented on #12186
Sorry for the lag time since my last response, I ended up on PTO for almost three weeks because of a family medical emergency. This is still on my TODO list.

[2018-07-12 13:51] JoshuaSeidel commented on #34378
@nitzmahone can this be re-opened. its still not working, fatal: [web]: UNREACHABLE! => {"changed": false, "msg": "ssl: HTTPSConnectionPool(host='127.0.0.1', port=55986): Max retries exceeded with url: /wsman (Caused by SSLError(SSLError(\"bad handshake: Error([('SSL routines', 'ssl3_get_server_certificate', 'certificate verify failed')],)\",),))", "unreachable": true}

even tho i have it set to i

[2018-07-12 13:55] kbreit opened #42686 "meraki_admin - Add examples for networks and tags"
##### SUMMARY
The `meraki_admin` module accepts `tags` and `networks` parameters but they aren't well documented. It should

* State they need to be passed as dicts
* Provide examples

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
meraki_admin

##### ANSIBLE VERSION
[code]

[2018-07-12 13:58] kbreit opened #42687 "meraki_admin - Change parameters to accept nested parameters"
##### SUMMARY
`tags` and `networks` parameters are currently setup as a list of dictionaries. This isn't very Ansible-like and should instead use nested parameters. I suggest this.

[code]

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
meraki_admin

##### ANSIBLE VERSION
[code]

[2018-07-12 13:59] #42044 closed, assigned to bcoca

[2018-07-12 14:09] cerealito commented on #19863
I've been experimenting this on 2.5 and 2.6 as well :(

[2018-07-12 14:14] Tras2 commented on #24569
I've managed to do this by doing this:-

(you need to pass in _choco_server_ variable)
[code]

[2018-07-12 14:15] Akasurde commented on #41334
Closing this issue as this issue is not related to Ansible.

[2018-07-12 14:15] #41334 closed, assigned to nobody

[2018-07-12 14:17] Akasurde commented on #42229
resolved_by_pr #42678

[2018-07-12 14:20] Akasurde commented on #42229
@jOOc I was able to reproduce this issue in my environment. `dns_suffix` is part of `customization` and was treated as `str`. There was a discrepancy in documentation. Above patch fixes both of these issues. Let me know if it works for you.
Thanks,
needs_info

[2018-07-12 14:32] gluk opened #42690 "os_server: "scheduler_hints" with "group" key breaks execution"
##### SUMMARY

 os_server:
      name:     "{{ name }}"
      image:    "{{ image }}"
      flavor:   "{{ flv }}"
      state:    "present"
      wait:     True
      key_name:                 "{{ key }}"
      availability_zone:        "{{ availability_zone }}"
      boot_from_volume:         "{{ boot_from_volume }}"
      config_drive:             "{{ config_drive }}"
      nics: "{{ nics }}"

[2018-07-12 14:32] abadger commented on #41630
I've taken a look at the 2.0.1 release.  I'm a little conflicted as upstream's 2.x series looks like it's no longer a backport of the python stdlib selectors module.

* If we backport we stay closer to the stdlib code which we are using this as a substitute for (which is good as we want to use the stdlib code when it's available so the bugs encountered in the bundled code should be more similar).

[2018-07-12 14:33] pkaramol opened #42691 "mysql_db module fails and asks for cnf file"
##### SUMMARY
`mysql_db` module keeps seeking for `.cnf` file, although `login_user` and `login_password` are supplied in task

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
msyql_db

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No config changes

##### OS / ENVIRONMENT

Ubuntu 16.04.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Produce a dump of the file

##### ACTUAL

[2018-07-12 14:34] jainishan opened #42692 "docker_container module always falsely report 'changed' when 'kernel_memory' attribute is set to "0" or 0"
##### SUMMARY
when using docker_container module, if we specify 'kernel_memory' attribute and try to set it to the default value of 0, Ansible will report the container as changed in all subsequent runs while nothing is actually changed for the container.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default ansible.cfg

#

[2018-07-12 14:44] #42691 closed, assigned to nobody

[2018-07-12 14:51] pkaramol opened #42693 "mysql_db module fails when selecting "all" as db name to dump"
##### SUMMARY
when trying to export all databases using `mysql_db` module it fails;

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`msyql_db.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No config changes

##### OS / ENVIRONMENT

Ubuntu 16.04.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Produce a dump that includes all databases in remote host;

##### ACTUAL RESUL

[2018-07-12 15:02] #40472 closed, assigned to ganeshrn

[2018-07-12 15:05] s-hertel commented on #42425
Fixed by #42679, backport opened #42685

Thanks @tedder for spotting this.

[2018-07-12 15:05] #42425 closed, assigned to s-hertel

[2018-07-12 15:07] ganeshrn commented on #39842
@sk1988 Are you still seeing this issue after adding `authorize: yes `
FYI Ansible support network_cli connection type from 2.5 onwards and privilege escalation can be done using ansible `become` keyword.
More details [here](https://docs.ansible.com/ansible/latest/network/user_guide/platform_ios.html)

needs_info

[2018-07-12 15:08] ganeshrn commented on #39724
resolved_by_pr  #39741

[2018-07-12 15:08] #39724 closed, assigned to ganeshrn

[2018-07-12 15:12] ganeshrn commented on #38048
I am not able to reproduce this issue, hence closing it. Please reopen if you are still seeing this issue and provide more details on playbook that fails and debug logs if possible.

[2018-07-12 15:12] #38048 closed, assigned to ganeshrn

[2018-07-12 15:12] cerealito commented on #19863
I've been experiencing this issue as well in recent versions (2.5.3 and 2.6.1). As the original poster said that he didn't have a -vvvv output, I thought it would be useful to post one here:
[code]
**hope this helps! thanks to all the devs for their amazing work.**

[2018-07-12 15:15] ganeshrn commented on #37366
Please share output of below command from junos device
[code]

needs_info

[2018-07-12 15:18] abadger commented on #37984
@coom: I think your issue is the extra "-" at the top of your sample playbook.  It should be
[code]

[2018-07-12 15:19] ganeshrn commented on #37262
@pffs Currently it is not possible and might require some major changes in the underlying handling netconf connection.

Please raise a feature request  for this so that it can be tackled in future releases.

[2018-07-12 15:20] cerealito commented on #19863
I've been experiencing this issue as well, on recent versions of ansible (2.5.3 and 2.6.1)
As the original poster did not have a -vvvv output, I thought posting mine would help.
here it goes:
[code]
notice how the` invocation.module_args.floating_ip_address` differs from the result in `floating_ip.floating_ip_address.`

I hope this is useful for debugging this. Thanks to the devs for their amazing

[2018-07-12 15:22] bcoca commented on #42042
cc @emonty @gtema

[2018-07-12 15:33] ganeshrn commented on #30698
Sorry for the delayed response, unfortunately I missed tracking this issue.
Based on the shared logs it seems you are forcing the connection to be closed `2017-09-25 15:07:04,847 p=45863 u=root |  closing shell due to sigalarm` that's probably the reason for socket not getting closed gracefully.

There are number changes in the underlying connection handling since 2.3 and I am not able to reproduc

[2018-07-12 15:35] celebloki commented on #37366
[output.txt](https://github.com/ansible/ansible/files/2189251/output.txt)

Here is the output.

[2018-07-12 15:40] HD650 commented on #41108
For ansible 2.7 or newer you can do:
[code]
For older version you can do:
[code]

[2018-07-12 15:50] ganeshrn commented on #42296
This is not a issue with existing `ios_command` module. You are using `ios_command` with  huawei router NE40E-X16 which is not supported and there might be multiple reasons for this failure.

 If you are trying develop Ansible modules for said device please reach out on #ansible-network channel on Freenode or send a mail to https://groups.google.com/forum/#!forum/ansible-devel for help.

[2018-07-12 15:50] #42296 closed, assigned to ganeshrn

[2018-07-12 15:58] mbhein opened #42696 "Module win_find fails tasks and stops play on non-existing directories"
##### SUMMARY

When using win_find to find stale files needing to be deleted, if it encounters files it cannot check nor directories that exists, the tasks fails and stops the play.

Note, we have been using a modified win_find.ps1 that has the following modified code to get around this problem:
[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_find
##### ANSIBLE VERSION

[code]

##

[2018-07-12 16:02] rbeede commented on #15766
I have a similar issue where ansible_python_interpreter = /usr/bin/python3 is ignored.

I installed Ansible 2.6 on an Ubuntu 16.04 system which only has Python3.5 and not Python2.   Ansible is suppose to support using Python3, but it tries to reference Python2 incorrectly at /usr/bin/python.

python3 -m pip install ansible

[code]

I would expect that /usr/bin/python3 would be used, but instead I

[2018-07-12 16:10] sieben commented on #42382
Here is a merge request to add a `scaleway_user_data` module. Because the user_data endpoint works with potentially binary data, I've preferred not adding this code in the compute module that works with only JSON.  https://github.com/ansible/ansible/pull/42697

[2018-07-12 16:14] bcoca commented on #42607
closing this as per above, open to PR with better warning/docs

[2018-07-12 16:14] #42607 closed, assigned to nobody

[2018-07-12 16:40] ganeshrn commented on #37991
@Noname2244 How are you setting the timeout value? You can set command_timeout and connect_timeout value in the configuration file under `persistent_connection` section.

https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#timeout-issues

@koladiya Can you please increase the command timeout value and check.

For sake of testing you can copy the configurat

[2018-07-12 16:52] balpoint opened #42699 "dynamic variable in with_items issue"
##### SUMMARY

Trying to pass a variable in the with_items statement to make the administration of the configuration a lot easier.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 with_items

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']

##### OS / ENVIRONMENT

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=18.04
DISTRIB_CODENA

[2018-07-12 16:57] balpoint commented on #42699
When making defining the variable app_name  ass following

app_name: jira

It works, but then only 1 VIP/Pool/Node object is being created and i don;t want to do this manually for each application that needs a load balancing config.

[2018-07-12 17:03] vasartori commented on #42125
Closing, we will send a PR with a lookup module for etcd3.

[2018-07-12 17:03] #42125 closed, assigned to nobody

[2018-07-12 17:10] mhalano commented on #42382
@sieben How could I initiate an instance using a user data if the module to do that is separated?
May be you could add the bnary value inside a filed in JSON document?

[2018-07-12 17:46] bcoca commented on #42672
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, this is user configur

[2018-07-12 17:46] #42672 closed, assigned to bcoca

[2018-07-12 17:51] bcoca commented on #42684
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This works as expected and documented here
https://docs.ansible.com/ansible/latest/user_guide/playbooks_conditionals.html#loops-and-con

[2018-07-12 17:51] #42684 closed, assigned to nobody

[2018-07-12 18:06] nitzmahone commented on #42423
fixed in devel and should be included in 2.6.2

[2018-07-12 18:10] samdoran commented on #42671
I do not believe this is a bug in the `uri` module. If I run a single task without `until`, it does not report failure:

[code]
[code]

I believe the issue is `until: result.faild is undefined`. This never matches since `result.failed` is always defined and is either `true` or `false`.

I am able to get it to work properly by changing the `until` test:

[code]

[code]

[2018-07-12 18:10] #42671 closed, assigned to nobody

[2018-07-12 18:13] drogerschariot commented on #42640
There are 18 VMs inside the resource. azure_rm.py does in fact connect to the resource, but returns an empty hostvars set.

[2018-07-12 18:45] abadger commented on #37984
@coom.  Right.  Now you have the error that this issue is about :-)

[2018-07-12 18:52] yong9900 commented on #42179
same problem:
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: KeyError: 'Filter'
fatal: [localhost]: FAILED! => {
    "changed": false,
    "rc": 1
}

MSG:

MODULE FAILURE

MODULE_STDERR:

Traceback (most recent call last):
  File "/tmp/ansible_znuUyo/ansible_module_s3_lifecycle.py", line 498, in <module>
    main()
  File "/tmp/ansible_znuUyo/ansib

[2018-07-12 18:55] campee commented on #24740
Worth mentioning that you also need to add this to ec2.py to get the above code working:
from boto import sts

[2018-07-12 19:07] #38038 closed, assigned to nobody

[2018-07-12 19:10] stephan2012 opened #42706 "Ansible module mount cannot remove specific swap devices/files from /etc/fstab"
##### SUMMARY

Ansible module `mount` cannot remove specific swap devices from `/etc/fstab`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

mount

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

CentOS 7.5

##### STEPS TO REPRODUCE

The following task removes _all_ swap devices because it just matches `path` (should be `none` for swap devices according to f

[2018-07-12 19:11] stephan2012 commented on #42706
Might be loosely related to #31437 and #30090.

[2018-07-12 19:36] gilkatz commented on #42179
You need to add prefix

On Thu, 5 Jul 2018 at 15:04 Dragan Rakita <notifications@github.com> wrote:

[2018-07-12 19:39] benjdudas opened #42707 "nxos_facts: intermittent failure in populate_memory: TypeError: string indices must be integers, not str"
##### SUMMARY

The following is seen when gathering facts on nxos devices:
[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

NXOS facts being populated

##### ACTUAL RESULTS

[code]

[2018-07-12 19:44] coom commented on #37984
@abadger: Allright, thank you :)

[2018-07-12 19:56] amb1s1 opened #42708 "Getting Error When Using Network_cli and not providing - provider"
##### SUMMARY
We get an error when trying to use nxos_install_os with network_cli and not providing provider.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_install_os

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
task path: /Users/gomezd/sum/roles/os_upgrade/tasks/nxos-5k.yml:40
DEFAULT_HOST_LIST(/Users/gomezd/sum/ansible.cfg) = [u'/Users/gomezd/sum/inventory']
DEFAULT_MODULE_PA

[2018-07-12 19:58] sieben commented on #42382
In your playbook just add a task with this module. You can find a playbook
that show how to do it in the mr.

Em qui, 12 de jul de 2018 19:11, Marcos Alano <notifications@github.com>
escreveu:

[2018-07-12 20:02] benjdudas commented on #42707
Target Host Info:

[code]

[2018-07-12 20:10] bcoca commented on #42674
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-07-12 20:10] #42674 closed, assigned to nobody

[2018-07-12 20:12] #41684 closed, assigned to maxamillion

[2018-07-12 20:38] samdoran commented on #42674
Inside the `{{ }}` you do not need to put `{{ }}` around variables. Unquoted strings inside Jinja expressions are assumed to be variables.

This will work properly: `tmp_feature_names_list: "{{ lookup('consul_kv', item, host=consul_host, port=consul_port) }}"`

The reason that `{{ item }}` is templated and not the parameters is due to the fact that `terms` in a lookup are templated independently i

[2018-07-12 20:38] samdoran commented on #42674
And @bcoca beat me to it. :)

[2018-07-12 20:55] samdoran commented on #42683
Jinja and Anisble provide [filters](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#id9) for extracting data. To get a list of IPs from the example facts, use the following Jinja expression:

[code]

needs_info

[2018-07-12 20:57] samdoran commented on #42693
!component +/lib/ansible/modules/database/mysql/mysql_db.py

[2018-07-12 21:20] felixfontein commented on #42692
The problem is that the [option is declared as `str`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/docker/docker_container.py#L2065) (so `0` is treated the same as `"0"`), while [the variable it is compared to](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/docker/docker_container.py#L1397) is a number. Also, I don't think any of the code takes c

[2018-07-12 21:28] samdoran commented on #42699
This is best handled using `include_tasks` and a loop.

[code]

[code]

For further help with the issue, please reach out on IRC or the mailing:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-07-12 21:28] #42699 closed, assigned to nobody

[2018-07-12 21:34] walterdolce commented on #42674
@bcoca this is not a question. It's a bug report.

@samdoran what you mentioned I tried already and it didn't work. "consul_host" without curly braces translates to the literal "consul_host", ending up in the same result.

[2018-07-12 21:47] rakh7 commented on #41717
I am using ansible-2.6.0-1.el7.noarch.rpm
But the pause module still breaks with the exception shown below

`
"exception": "Traceback (most recent call last):\n  File \"/usr/lib/python2.7/site-packages/ansible/executor/task_executor.py\", line 138, in run\n    res = self._execute()\n  File \"/usr/lib/python2.7/site-packages/ansible/executor/task_executor.py\", line 576, in _execute\n    result = s

[2018-07-12 22:35] cdelgehier commented on #42189
Can you paste me the result of `dpkg -l | grep openstacksdk` ?

[2018-07-12 23:57] allenluce commented on #22439
How does `include_role` provide this functionality?

[2018-07-13 00:37] mostafahussein commented on #40434
Hello,
AFAIK that the value of `ansible_shell_executable` is set to `/bin/sh` by default which may not be suitable for ubuntu in this case.
In case of CentOS for example `/bin/sh` is a symlink to `/bin/bash` unlike Ubuntu `/bin/sh` is a symlink to `/bin/dash`

The following command will work as expected in CentOS:
[code]
But if you tested it on Ubuntu it will raise the following error:
[code]
This

[2018-07-13 01:44] fruechel opened #42714 "Merging hashes results in wrongly exposed keys"
##### SUMMARY

I have enabled `hash_behaviour = merge` in my config. I am merging variables from `group_vars`/  into per-role vars in the playbook. If a variable exists in one role but not in another, it leaks across to that second role.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HASH_BEHAVIOUR(/Users/fruechel/REDACTED/a

[2018-07-13 02:08] Fred-sun commented on #42640
I have reran the command on ansible 2.5.5 and 2.6.1 ,Both can get the RG resource info, Could you can use this command :" az vm list --resource-group RG_name ", it will get the RG VM info, Thanks!

[2018-07-13 02:16] LucidOne opened #42715 "Facts should be gathered before playbook vars are set AKA why 'ansible_fqdn' is undefined"
##### SUMMARY
I'm pretty sure this is a bug because there are more use cases where vars depend on facts than the other way around. Maybe playbook vars need to be handled separately, I haven't read the code yet.

This works.
[code]
this does not
[code]
and throws the error
[code]

##### ISSUE TYPE
- ~~Bug  Report~~
- Feature Idea

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code

[2018-07-13 02:46] caohai opened #42716 "azure_rm_networkinterface fails on Azure Stack"
##### SUMMARY

azure_rm_networkinterface fails when I use Ansible to create a network interface in Azure Stack.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_networkinterface
azure_rm_common
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

1. I'm using Azure Stack Development Kit(1.1805.1.47)
2. I'm running Ansible on a Ubuntu Server 16.04 LTS Virtual Ma

[2018-07-13 02:53] orderedchaosdev opened #42717 "elasticache_parameter_group doesn't support group_family redis4.0"
##### SUMMARY

elasticache_parameter_group doesn't support the group_family redis4.0
I'm not actually sure why the group_family field is restricted at all since as far as I can tell other than passing it as the group_family it isn't used in the module.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

elasticache_parameter_group
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / E

[2018-07-13 03:02] LucidOne commented on #42715
Staring at the code, it looks like the fact gathering process requires that groupvars and such are evaluated in the roles need to be evaluated. It looks like fixing this would require that playbook vars are evaluated after facts are gathered in `vars/manager.py`. I think.

[2018-07-13 03:38] #41906 closed, assigned to nobody

[2018-07-13 03:40] duanzhanling commented on #42565
@felixfontein image: "{{ docker_image_name }}:{{ tag_name }}", it is work.
tks

[2018-07-13 03:45] LukeDRussell opened #42719 "junos_netconf should not configure a port unless explicitly defined"
##### SUMMARY
junos_netconf is used to enable netconf on juniper devices. The `netconf_port:` argument allows the user to specify a specific port to enable netconf on. The problem is that ansible will explicitly configure netconf on port 830 even when no port is configured (as per ansible documentation).

Junos however does not require an explicit port to be configured to enable netconf. If no por

[2018-07-13 04:01] LukeRussell commented on #42719
Also worth noting that `junos_config` does not permit `ansible_connection: network_cli` to configure netconf more generally.

[2018-07-13 04:03] #42554 closed, assigned to nobody

[2018-07-13 04:09] LukeRussell commented on #42719
Finally, `ansible_connection: local` achieves the desired result:

[code]

[2018-07-13 04:38] trishnaguha commented on #42707
@benjdudas Is `json` structured output supported on your device?
Can you please share the output of `show system resources | json`?

[2018-07-13 05:48] caohai opened #42723 "azure_rm_virtualmachine fails on Azure Stack"
##### SUMMARY

azure_rm_virtualmachine fails on Azure Stack when I use Ansible to create a virtual machine.
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME

azure_rm_virtualmachine
azure_rm_common
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

1. I'm using Azure Stack Development Kit(1.1805.1.47)
2. I'm running Ansible on a Ubuntu Server 16.04 LTS Virtual Machine
#

[2018-07-13 05:51] zakstar commented on #42707
@trishnaguha I just checked on the same device and doesnt look like it supports JSON structured output.

When I run:

[code]

I found other devices like Nexus 7000 supporting the JSON output and it works fine with ansible `nxos_facts` as well, but the Nexus 5000 does not provide the JSON output at CLI nor the `nxos_facts` works with it.

[2018-07-13 06:05] myrdd commented on #30630
This can be also reproduced using the commands `hostname` or `cat /etc/hostname` (run playbook with `-v`):

[code]

[2018-07-13 06:10] BASIC-TwoDot0 opened #42725 "PYTHON - Getting `signal only works in main thread` on exception catch performing PlaybookExecutor.run()"
##### SUMMARY

PYTHON - Getting `signal only works in main thread` on exception catch performing PlaybookExecutor.run()

This is being called over a flask API.  I know ansible uses subprocess through PyU

When I run this playbook directly, it works okay.

Leaving things out as this is running from python and not sure how much of this is even applicable.

Thanks!

##### ISSUE TYPE
 - Bug Report

##

[2018-07-13 06:20] thiller2018 opened #42726 ""hostname module cannot be used on platform Linux () with SLES15"
##### SUMMARY

hostname module doesn't recognize SLES15

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

hostname

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-07-13 06:40] thiller2018 opened #42727 "zypper_repository should import keys from iso"
##### SUMMARY

If the repository is an iso, the gpg key is not imported, rendering this repository unusable.
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

zypper_repository
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-07-13 06:42] thiller2018 opened #42728 "zypper with pattern failed"
##### SUMMARY

Installation of a pattern failed
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

zypper
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-07-13 06:48] BASIC-TwoDot0 commented on #42725
Issue was with 1.0 version of flask. version 0.12.4 fixes this.

[2018-07-13 06:48] #42725 closed, assigned to nobody

[2018-07-13 07:11] sliddjur commented on #38478
@hitsumabushi just FYI, I found a workaround on the filter. If you type `lines`
`- set system login user olof authentication 'encrypted-password' '$6$h5j...' `
use ' sign somewhere in that line, for example around encrypted-password, and the filter wont match. Working fine. :)

[2018-07-13 07:34] trishnaguha commented on #42707
@zakstar nxos_facts is not supposed to work if the device doesn't have JSON structured output support.

[2018-07-13 07:50] Akasurde commented on #42541
@Alex5252 Could you please try above PR and let me know if it works for you ?

[2018-07-13 07:51] Akasurde commented on #42541
resolved_by_pr #42730

[2018-07-13 07:53] duanzhanling commented on #42565
@felixfontein i have use image: "{{ docker_image_name }}:{{ tag_name }}"

this is error:

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: create_host_config() got an unexpected keyword argument 'init'
fatal: [192.168.30.24]: FAILED! => {"changed": false, "module_stderr": "Traceback (most recent call last):\n  File \"/tmp/ansible_gKWtFA/an

[2018-07-13 07:57] alxgu commented on #42728
Which OS has your target server?

[2018-07-13 08:04] ganeshrn commented on #42719
@LukeRussell junos_config works with `netconf` and `local` connection type only. Please refer junos platform guide for more details https://docs.ansible.com/ansible/latest/network/user_guide/platform_junos.html#connections-available

[2018-07-13 08:12] mrunge commented on #42189
this issue is not fixed with openstacksdk 0.14.0
[code]

[2018-07-13 08:22] thiller2018 commented on #42728
SLES15

From: Alex [mailto:notifications@github.com]
Sent: Freitag, 13. Juli 2018 09:58
To: ansible/ansible <ansible@noreply.github.com>
Cc: Hiller, Thomas <thomas.hiller@hpe.com>; Author <author@noreply.github.com>
Subject: Re: [ansible/ansible] zypper with pattern failed (#42728)

Which OS has your target server?

—
You are receiving this because you authored the thread.
Reply to this email dire

[2018-07-13 08:38] evalero opened #42731 "Exit code 0 on ansible-inventory --list with a syntax error"
##### SUMMARY

Exit code different to 0 when there is a syntax error on a inventory

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

When you have an inventory with a syntax error declaring new groups without colon like this (see to

[2018-07-13 08:51] ganeshrn commented on #42719
As per Netconf rfc the netconf port defaults to port 830 that's the reason for `junos_netconf` module to default port 830 even if not mentioned.

 As per junos doc [here](https://www.juniper.net/documentation/en_US/junos/topics/topic-map/netconf-ssh-connection.html) `` `set system services netconf ssh`  enables netconf on port 830.
To enable netconf on port 22 need to explicitly add
[code]

Also t

[2018-07-13 08:54] zakstar commented on #42707
@trishnaguha I think it would be good if nxos_facts works on all the nexus family and would be able to handle facts collection in both the cases:
case 1: devices with JSON support (nexus 7k etc), using existing code.
case 2: devices with no JSON support (nexus 5k etc) using parsers etc.

After all parsers can be included in the module to output in JSON structure.

I think nxos_facts is supposed to

[2018-07-13 09:08] cn-mayank commented on #16837
I faced the same problem while handling 1 host. It gave this issue when executing fetch module. Being a newbie, I mistook the error message that it was going out of memory on target host(and was debugging there) but actually it was going out of memory on my host that was executing ansible-playbook. Increasing RAM immediately solved it.

[2018-07-13 09:30] webstylesInt opened #42732 "Fortios returns "Error connecting device" while backup operation"
##### SUMMARY
Backup fails with error: "changed": false, "msg": "Error connecting device"

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
fortios_config

##### ANSIBLE VERSION
ansible 2.6.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ansible/library/fortios']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable locat

[2018-07-13 09:31] thatsk opened #42733 "Variables stored in group_vars can be used for hosts file."
##### SUMMARY
group_vars files variable can be able to access in hosts file

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
centos7

##### STEPS TO REPRODUCE

[code]
[code]
[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[code]

[2018-07-13 09:43] LukeRussell commented on #42719
Hi Ganesh.

No arguments that network_cli is not supported. It should be supported in my opinion, but that's a different issue.

To the netconf port issue however, I don't think I've done the best job of explaining this Issue.

Using your example, `set system services netconf ssh` will enable netconf on both 830 *and* 22. Regardless of RFC, this is standard Junos behaviour and it's actually desira

[2018-07-13 09:45] sieben commented on #42372
Is there special technics to have parameters requirements depending on the parameters of your module? I can see how to do that using ad-hoc functions to check whether or not we got all the required parameters and fail with a helpful message otherwise. I want to know if there is an idiomatic way of doing it. @pilou- @maxamillion

[2018-07-13 09:46] trishnaguha commented on #42708
@amb1s1 I am not sure what you meant by "not providing provider"

[2018-07-13 10:05] trishnaguha commented on #42708
@amb1s1 This is fixed in Ansible 2.6 https://github.com/ansible/ansible/commit/9f026309a69497630a37affbae5ccc46fe2cbd1b. Please upgrade your Ansible version. Or use provider timeout with connection local in 2.5.

[2018-07-13 10:12] #23174 closed, assigned to nobody

[2018-07-13 10:15] #42096 closed, assigned to nobody

[2018-07-13 10:16] Kenuat commented on #42096
Ok, thank you. Let's close it then.

[2018-07-13 10:28] felixfontein commented on #42565
That's another bug, which has already been fixed in #40839. The fix will hopefully be in Ansible 2.6.2 (see #42533).

As a work-around, you can remove the `docker-py` Python package on the nodes and install the `docker` Python package instead. (If you're using Python 2.6, that won't work; you have to stick with Ansible 2.5 until this is fixed...)

[2018-07-13 10:37] ganeshrn commented on #42719
AKAIK this behaviour on junos of enabling netconf port simultaneously on port 22 and 830 is for legacy reasons. `junosscript` the predecessor of Netconf worked with default port 22

[2018-07-13 11:00] gtema commented on #42189
I am not able to reproduce this on Fedora 28:
[code]

From a venv with ansible installed through pip it works also without problems

This looks to me to be a module shadowing issue, where ansible imports "another" `openstack` module from the python search path.

[2018-07-13 11:03] gtema commented on #42588
it is a normal process, that with upgrade of one component, requirements for others also increase. You can't expect, that ansible 2.(whatever) would always require `openstacksdk==0.9.17`. openstacksdk is not tied to the openstack release cycle.

On the other hand I am not able to reproduce your error, see https://github.com/ansible/ansible/issues/42189#issuecomment-404800883

[2018-07-13 11:13] dennisconrad opened #42734 "Unable to manage services on systems relying on update-rc.d"
##### SUMMARY

The new `sysvinit` module in ansible 2.6 has a typo, which renders the system unable to detect the `update-rc.d` executable:

[code]
Note the leading space in `' update-rc.d'`.  This breaks the ability to enable / disable services on systems relying on `update-rc.d` for it, and breaks idempotency for `state=enabled` on such systems with the service disabled, due to the implied `enab

[2018-07-13 11:19] dennisconrad commented on #42734
Added PR to fix isse.

[2018-07-13 11:22] MichaelSteffens commented on #42677
If you modify the iterator termination to
[code]
your script works fine with both python2 and python3.

I couldn't verify the same fix in maven_artifact.py, though. Tried the following:

- Created a copy of `maven_artifact.py` renamed to `python3_maven_artifact.py` in the library directory of my playbook.
- Applied the fix `iter(lambda: f.read(8192), '')` to `iter(lambda: f.read(8192), b'')` in fu

[2018-07-13 11:35] MoHD20 commented on #40434
Well, That maybe the case but why exactly does it work without the SaltStack connection plugin? I mean if you tried it with the default ssh plugin it will work just fine even with /bin/sh being symlink to dash?

[2018-07-13 11:39] gtema commented on #40056
Well, this is the design of Ansible - module is executed on the target host. This is same for each and every module, unless you target localhost explicitly. So in order for you to proceed just change your target.

It is not a bug from my POV

[2018-07-13 11:43] gtema commented on #39610
@ITD27M01, this was done in Ansible-2.6 and will not be backported to 2.4-2.5

[2018-07-13 11:47] gtema commented on #38241
@chenww, as drzraf already mentioned, have you installed shade on `weiwen-data0`? Openstack (as well as each other) module is executed on the target host.

[2018-07-13 12:12] gtema commented on #41543
@trollkarlen, is it causing problems for you? Here only an attribute of the imported module is checked, no methods are invoked. I do not see which problem you might see

[2018-07-13 12:17] mostafahussein commented on #40434
That's because the command used by ssh plugin is slightly different,

In SSH plugin:
[code]
In Salt plugin:
[code]
I am still not sure why this happen with salt plugin specifically. but I have check from salt itself and its not responsible for the command modifications as salt executes the command as it is. I will let you know once i have more details regarding this issue

[2018-07-13 13:01] mrunge commented on #42189
The shadowing hint solved this for me, in my case there was python2-openstack-nose-plugin installed; it seems https://github.com/openstack-dev/openstack-nose/releases is pretty much dead upstream, or very mature.

[2018-07-13 13:34] IPvSean opened #42740 "ec2_group is not idempotent for creating AWS security groups, also requires retries (run twice)"
##### SUMMARY
Two issues->

1. [WARNING]: Ran out of time waiting for sg-aa816de0 IpPermissions

getting warning and not sure why.  Was able to workaround this issue with a retries like this->

[code]

2. When re-running this task over and over it always says CHANGED, I think it has something to do with the line `      Students: "{{student_total}}"` being an integer and the tag updating everytime.

[2018-07-13 13:36] Involar commented on #39106
What I've found to be an easy solution which works is disabling the section related to open_shell in network_cli
(https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/network_cli.py#L305-L306)

And in ios.py just add the open_shell terminal length and width to your on_become function at line 74
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/terminal/ios.p

[2018-07-13 13:43] yong9900 commented on #42179
@gilkatz I did have a prefix defined, please also check the initial reporter's description, there is a prefix  as well. this line: "if rule['Filter']['Prefix'] == existing_rule['Filter']['Prefix']:" is in the latest commit, and I believe it broke the code. I was using ansible 2.4/2.5, was all good.

I didn't look into the source code too much, but I believe existing_rule might not have Filter, whi

[2018-07-13 14:23] shaded0 commented on #41906
Thanks!!!

[2018-07-13 14:45] #13478 closed, assigned to nobody

[2018-07-13 15:12] bcoca commented on #42734
closed via #42735

[2018-07-13 15:12] #42734 closed, assigned to nobody

[2018-07-13 15:12] anuragmali2018 opened #42749 ""Module (user) is missing interpreter line""
##### SUMMARY
I have been trying to run a Ansible playbook on a checkpoint management console but run into this error every time.

Ansible version = 2.6.1
python version = 2.7.12

![image](https://user-images.githubusercontent.com/40696240/42699062-4b974bea-8685-11e8-8897-78748e07ae6f.png)

[2018-07-13 15:16] bcoca commented on #42749
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-07-13 15:16] #42749 closed, assigned to nobody

[2018-07-13 15:23] bcoca commented on #22439
include_role allows for conditional execution, but if you really need an example, here it is:
``
 -  name: no need to include cause it is not dynamic
    import_role: name=common
 - name: "this is really better a  play with hosts: host1, using block to only write condition once"
   block:
      - include_role: name=desktop
      - include_role: name=samba
   when: ansible_hostname == "host1"
- nam

[2018-07-13 15:31] bcoca commented on #42733
that would be hard to do cause we would need to know which groups a host is part of before we define the host...

I think you really want this instead https://docs.ansible.com/ansible/latest/plugins/inventory/constructed.html

[2018-07-13 15:39] thatsk commented on #42733
Let's say we are defining a common.yaml file for variables. That variable
file has domain, environment  variables. And that can access to our host
file.

Lets consider one scenario. Where we have lot of environment with different
domain but same node type. And want to just change the domain and
environment...

On Fri, 13 Jul 2018, 21:02 Brian Coca, <notifications@github.com> wrote:

[2018-07-13 15:40] nabheet commented on #33947
The temp dir workaround mentioned in #30064 did not work for us. the git module also ignores the `remote_tmp` setting in ansible.cfg. We are forced to use the ansible `command` module to execute git commands.

[2018-07-13 16:03] bcoca commented on #42733
then these are not group vars already ... as those depend on the host, you can easily create an inventory plugin or script that does what you want, I don't think this needs to be added to the ini inventory plugin.

[2018-07-13 16:09] thatsk commented on #42733
Can you just show me one example?

On Fri, 13 Jul 2018, 21:34 Brian Coca, <notifications@github.com> wrote:

[2018-07-13 16:10] thatsk commented on #42733
For the current scenario. Which I described in feature

On Fri, 13 Jul 2018, 21:38 Kunalsing Thakur, <bits.kunalsing@gmail.com>
wrote:

[2018-07-13 16:15] #42656 closed, assigned to nobody

[2018-07-13 16:16] bcoca commented on #42733
the constructed plugin above is a good start, also look at the generator one https://docs.ansible.com/ansible/devel/plugins/inventory/generator.html

[2018-07-13 16:20] bcoca commented on #42715
not really a bug, you are looking to change behaviour, the problem is that 'fact gathering' IS a task itself, so if you want to use become/become_password .. you need it BEFORE you gather facts.

I'm unsure how to get around this chicken/egg issue.

[2018-07-13 16:28] gchaix opened #42754 "Ansible git module reports success on pull to location with insufficient disk space"
##### SUMMARY

When using the Ansible git module to do a clone/pull to a disk partition with insufficient capacity, the task incorrectly returns success.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

git
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No config changes from default CentOS 7 RPM install.

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### STEPS TO REPR

[2018-07-13 16:33] ganeshrn commented on #40267
@IPvSean I am not able to reproduce this issue on 2.6.0
[code]

First run
[code]

Second run
[code]

As discussed offline I am closing this issue, please reopen if you are still seeing it.

[2018-07-13 16:47] asantos82 commented on #40530
@s-hertel
I've tested this with Ansible 2.6.1 and now it works 👍

[2018-07-13 17:40] calvinmclean opened #42756 "apt module deb packages with ftp url fail"
##### SUMMARY

When attempting to install a deb from an ftp url, the result is "Failed to download", but shows the message is `OK` and the size of the downloaded file in bytes. This leads me to believe that the file downloaded successfully but the error check added in [this commit](https://github.com/ansible/ansible/commit/86a63cf) shows a false negative.

##### ISSUE TYPE
 - Bug Report

##### COM

[2018-07-13 18:12] maxylh opened #42760 "module_utils/network/aci/aci.py: not all ACI classes are compatible"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

module_utils/network/aci/aci.py

##### ANSIBLE VERSION

[code]

##### SUMMARY
The ACIModule class method `contruct_url()` can only build URLs for ACI classes with a distinguished name that starts with 'uni/'.  The method always prepends 'uni/'.

[2018-07-13 18:29] Alex5252 commented on #42541
When creating a virtual machine, the option "boot_firmware: efi" does not apply, there is always a "boot_firmware: bios", that is, does not change.

My playbook vmware_guest.yml:
[code]

Debug:
[code]

Also tested the change of the parameter "boot_firmware", for the existing virtual machine in the off state. The parameter is ignored when the playbook playing.

[2018-07-13 18:37] markusdd commented on #41178
I strongly want to support this idea, because I just ran across the exact same issue.
I'm currently writing a playbook which pre-configures our nodes for an openshift deployment, where to official instructions want you to disable EPEL from a certain point on.

EPEL is installed on CentOS 7 via epel-release, so I absolutely do not care what the URLs etc are.

I just want:

  - name: Deactivate EPEL

[2018-07-13 18:51] nitzmahone opened #42761 "Remove simplejson support for 2.7"
##### SUMMARY

Since python2.4 support has been dropped, simplejson support should no longer be needed, and in some cases actually causes problems/inconsistencies where simplejson is preferred over stdlib json. Remove all simplejson references and fallbacks from both core code and module_utils.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

basic.py

##### ANSIBLE VERSION

[code]

#####

[2018-07-13 18:56] maxamillion commented on #42372
@sieben github seems to only allow us to assign issues to member of the Ansible github org so I can't assign it to you but since ansibot knows you're the owner and has cc'd you on the issue then people know it's waiting on you (or another owner if there were more than one).

As far as optional parameters that have required parameters as a side effect, just make sure you document those cases well a

[2018-07-13 19:01] schlueter commented on #36982
As it exists now, it works fine with gpg keys, compatibility with IAM is all that needs figuring out.

[2018-07-13 19:09] #42324 closed, assigned to nobody

[2018-07-13 19:16] s-hertel commented on #42486
@bpiper Do you mind testing my fix #42762? After it's fixed on devel I'll open a backport PR to fix it in 2.6.

[2018-07-13 19:28] nitzmahone opened #42764 "Action wrappers for win_domain and win_domain_controller"
##### SUMMARY

Both the `win_domain` and `win_domain_controller` modules can require reboots, and can cause connectivity issues during or after being run (the most common cause is that the WinRM service is stopped and not restarted). An action wrapper is the only way to "hide" the underlying connection failures that can occur, as well as managing the necessary reboots transparently.

##### ISSUE T

[2018-07-13 19:49] allenluce commented on #22439
That package example totally works. I skipped reading it above because of the "please note that it's pseudo code" notation.

Thanks @bcoca !

[2018-07-13 19:57] HD650 commented on #42546
I have reproduced this bug. The segfaults happen at `sys.exit(exit_code)` https://github.com/ansible/ansible/blob/devel/bin/ansible#L163.
pip module runs well, that's why all the packages are successfully installed.
Need more investigation.

[2018-07-13 20:01] #42243 closed, assigned to nobody

[2018-07-13 20:04] #15352 closed, assigned to nobody

[2018-07-13 20:20] pschiffe commented on #42162
@felixfontein sorry for super late answer, but you are right, I didn't have any python docker bindings installed. In Fedora there are now `python2-docker` and `python3-docker` rpm packages, but CentOS has only `python34-docker` rpm package and an old `python-docker-py` rpm package for python 2 - https://bugzilla.redhat.com/show_bug.cgi?id=1598818

So for me the workaround would be to install pytho

[2018-07-13 20:29] dagwieers commented on #42760
Not sure what the bug here is. The module_utils library is supporting code for the modules, so it was designed to do what it is doing.

A bug is if the code is malfunctioning (wrt. intent). If you need additional functionality, that would be a feature request. But at the moment your issue is just describing how it was designed (fact), not what you need or why you need it.

needs_info

[2018-07-13 20:31] #42193 closed, assigned to nobody

[2018-07-13 20:43] nitzmahone opened #42768 "Hostname change support for win_domain/win_domain_controller"
##### SUMMARY

Both `win_domain` and `win_domain_controller` don't currently allow the hostname to be set as part of the process. Changing the hostname of a DC is difficult, and reboots are already necessary in the process, so seems like changing it all in one shot would be a Good Thing. We'd probably just have to warn if the machine is already in the right state with the wrong hostname though (at

[2018-07-13 20:47] nitzmahone opened #42769 "Azure inventory plugin"
##### SUMMARY

Since inventory plugins are a Real Thing now, need to build one for Azure. I've already done some prototyping using the batch API that should increase performance manyfold, especially for large subscriptions/RGs. Probably a good opportunity to generally start over from azure_rm.py, and plan to share auth/setup code with azure_rm_common.

##### ISSUE TYPE
 - Feature Idea

##### COMPO

[2018-07-13 20:52] kvsarath opened #42772 "Unable to do sudo su - user to server in ansible 2.6.1"
##### SUMMARY
I am unable to login as sudo su - user to a linux host. I have tried all diff options of ansible_become and ansible_user varaibles in the

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
privillege escalation

##### ANSIBLE VERSION

ansible --version
ansible 2.6.1
  config file = None
  configured module search path = ['/Users/sarath/.ansible/plugins/modules', '/usr/share/ansibl

[2018-07-13 20:58] gchaix commented on #42754
I've failed to reproduce this in a test environment.  I'm going to go ahead and cancel this report until I can reproduce reliably.  I suspect there's some sort of timing issue where there was sufficient disk space when the process started but it filled up at some point during the process that caused the git call to fail in an unexpected manner.

[2018-07-13 20:58] #42754 closed, assigned to nobody

[2018-07-13 21:10] maxyso commented on #42760
Ansible documentation says that module utility are also meant to be used to write custom modules.  Based on the code documentation, given the correct classes, it should produce a correct url, no?

But in that case, the I suppose this is partially a "feature request" then.

[2018-07-13 21:20] dagwieers commented on #42760
Well, this is quite a theoretical and one-sided discussion, because you give us no clue of what you are doing or how you would want us to do this. Again, this was designed to fulfill the need of the existing modules, we extended capabilities based on new needs. Since I have no insights of your needs I can't possibly know how to extend it. Just removing `uni/` without any more clues is not going to

[2018-07-13 21:50] dagwieers commented on #42764
@nitzmahone I was hoping the WinRM connection plugin could be told to survive this ? Maybe hinted that this is the case as part of the module's capabilities, rather than needing action plugins.

[2018-07-13 22:49] AshrafHassanein commented on #42683
And if I want to reference the status parameter it will be:
debug:
   vars: {{ ovirt_vms.status }} is my understanding correct?

[2018-07-14 01:48] LukeRussell commented on #42719
Regardless of the reason, I have half dozen senior network engineers (at JNCIE level) saying they want `set system services netconf ssh` and they specifically *do not* want `set system services netconf ssh port 830`. Now I can and have used junos_config to get the desired result. But that doesn't mean junos_netconf can't be improved.

The way I see it, Ansible should not be so opinionated about de

[2018-07-14 02:31] willthames commented on #42302
Interesting. This is a tricky one, I'm not sure how the cascading works in kubectl but clearly it does manage to do it.

There is very little logic in the k8s module itself, it mostly just passes everything off to the kubernetes API, and so it would involve special behaviour just for cascading deletion of deployments, unless there's some API flag that we could be setting but aren't.

[2018-07-14 03:19] fabianvf commented on #42302
There are generic delete options that can be passed with delete, though

[2018-07-14 04:07] trishnaguha commented on #42707
@zakstar Can you please explain about what do you mean by "using parsers" here?

[2018-07-14 05:38] frestr commented on #42243
Thanks, @fabianvf!

[2018-07-14 06:08] fabianvf commented on #42243
Thank you for the report!

[2018-07-14 07:37] #26778 closed, assigned to nobody

[2018-07-14 08:03] zakstar commented on #42707
@trishnaguha Sorry for not being clear in my previous comment. What I meant was when Nexus devices like 5k which do not support JSON are being targeted, lets use the "**show** _resource_" and pass on the raw output through respective _resource_ parsers where we are able to collect the required information in order to build the facts.

I am not sure if ios_facts does the same however, I am aware IO

[2018-07-14 09:49] umrikar opened #42779 "VMware: Provide Nic Teaming option while creating/updating vswitch"
##### SUMMARY

In current version of ansible when i create vswitch using vmware_vswitch module it creates switch with default teaming policy.while creating vswitch i cant specify teaming policy.But We should have option to set teaming policy if we want to set teaming policy other than default.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

vmware_vswitch

##### ANSIBLE VERSION

[code]

#

[2018-07-14 09:51] umrikar opened #42780 "VMware: Specify nic teaming policy while creating vswitch"
##### SUMMARY

In current version of ansible when i create vswitch using vmware_vswitch module it creates switch with default teaming policy. while creating vswitch i cant specify teaming policy.But We should have option to set teaming policy if we want to set teaming policy other than default

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIG

[2018-07-14 14:12] johnwesley commented on #41367
@loqutus The module failed on **FreeBSD 11.2 x64**.
Error:
[code]

The `bin` is:
[code]

[2018-07-14 14:41] LucidOne commented on #42715
I suppose if you need to be able to gather facts as the become_user things become complicated.

Maybe fact gathering should always be an explicit task instead of an implicit sort of task. Fact gathering could be a module called in `pre_tasks:`.

It seems dis-intuitive to me that a variable explicitly defined is evaluated before the task of gathering facts which don't even appear in the playbook, b

[2018-07-14 17:31] Rthur opened #42784 "tower_job_wait reports fatal error on successful job"
##### SUMMARY
tower_job_wait reports fatal error on successful job.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tower_job_wait

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.4 (Maipo)
Ansible Tower 2.5.4

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
success

##### ACTUAL RESULTS
[code]

[2018-07-14 17:35] Uwila commented on #42620
Possibly much more interesting information is the output of trying to start the service when it has not started yet. Just having a `service` task with `name: ssh` and `state: started` gets me:

[code]

Especially interesting I thought were the last `stderr` and `stdout`.

[2018-07-14 17:56] Rthur commented on #42784
Bug observed when the invoked job in tower_job_launch has Normal or WinRM Debug verbosity.

[2018-07-14 18:05] abenokraitis commented on #42707
What version IOS is on the Nexus 5k BTW?

A 5672UP with IOS version 7.3(0)N1(1) was treated and it does have structured output support.

[2018-07-14 18:08] Saloshp opened #42785 "'find' module doesn't return checksum when file_type=any"
##### SUMMARY

According to the documentation at https://docs.ansible.com/ansible/2.6/modules/find_module.html,
get_checksum -> Set this to true to retrieve a file's sha1 checksum.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

find module
/usr/lib/python3.6/site-packages/ansible/modules/files/find.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
#####

[2018-07-14 18:21] Uwila commented on #42620
The actual command that seems to be formed [here](https://github.com/ansible/ansible/blob/stable-2.6/lib/ansible/modules/system/sysvinit.py#L302) is (I just printed it) `/etc/init.d/ssh start ssh None`. This indeed returns the `stderr` and `stdout` that we see in the previous comment.

[2018-07-14 18:34] Uwila commented on #42620
I could start the service by replacing [this](https://github.com/ansible/ansible/blob/stable-2.6/lib/ansible/modules/system/sysvinit.py#L302) line with:

[code]

But like I said I'm not sure what this would break for others. And I still always get `changed` but not because of the `state: started`, but because of this:

[code]

Which is not even a flag I provided so it shouldn't even be doing this

[2018-07-14 18:55] abenokraitis commented on #42707
Ah got it, is it possible to update the IOS version and retest?

[2018-07-14 18:59] Uwila commented on #42620
It seems that whether or not the service is enabled is compared to the user-set parameter, whether it is actually set or not.

[2018-07-14 21:46] Saloshp commented on #42785
Update:
Just found out that using 'file_type=file' reolves this,
I would have expected the module to check if it's a regular file even after providing file_type=any,
I still think it's a bug, or the documentation is misleading, leaving issue open.

[2018-07-14 22:45] skylerbunny opened #42787 "docker_volume: TypeError: create_volume() got an unexpected keyword argument 'labels'"
##### SUMMARY
docker_volume produces the error `TypeError: create_volume() got an unexpected keyword argument 'labels'` when attempting to create a volume with the simple syntax:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_volume

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
docker-py==1.9.0: error occurs.
docker<3 (docker 2.x): Error does not occur and volumes are su

[2018-07-14 22:59] LukeRussell commented on #42719
This is a pretty valid point - you'd have to be into the weeds with JUNOS to know it was on both ports.

Based on that, how about an additional argument? This would not change existing behaviour, and allow a playbook designer to enable netconf on both ports without having to use junos_config. I do admit though that someone not intimately familiar with junos might look at this argument and scratch

[2018-07-14 23:08] agronholm commented on #42787
Did you have `docker-py` or `docker` installed?

[2018-07-15 07:58] felixfontein commented on #42162
@pschiffe You can of course also patch `ansible`. Simply commenting out `init` being passed into `host_config_params` in `modules/cloud/docker/docker_container.py` does the trick. Of course that won't work well if you're not the only one using that playbook ;)

[2018-07-15 08:50] learning-sharing opened #42791 "Ansible service not starting stating the below error when provided condition"
##### SUMMARY
Am trying to restart the NetworkManager service in redhat7 only when the service is running and not when it is stopped so i prepared ansible playbook to restart it only when the service is running but its not working as expected and gives the same error

##### ISSUE TYPE
 - Bug Report : Service restart issue

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]
##### CONFIGURATION

###

[2018-07-15 08:51] learning-sharing commented on #42791
OS version
Red Hat Enterprise Linux Server release 7.5 (Maipo)

[2018-07-15 09:16] gisundar opened #42792 "Issue with using beats template file -"
##### SUMMARY

Trying to install beats (filebeat, metric and packet) using ansible 2.1. Created the template files for each . Getting error as follows:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

2.1
##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-07-15 10:50] willthames commented on #40185
I strongly recommend using a template

[code]

and then you can do things like `replicas: {{ replica_count }}` in the template safely.

[2018-07-15 10:52] usharaniyerra opened #42793 "Not able to ping to windows host using 'win_ping', getting error - " TypeError: sequence item 6: expected str instance, bytes found" and "msg": "Unexpected failure during module execution.""
##### SUMMARY

I am not able to ping some windows host using win_ping module..getting below error  "TypeError: sequence item 6: expected str instance, bytes found" and  "msg": "Unexpected failure during module execution.". i am working on Ansible 2.2 , python 2.6 and pywinrm is 0.3.0

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

"win_ping"

##### ANSIBLE VERSION

[code]

##### CONFIGURATI

[2018-07-15 10:53] willthames commented on #41831
In the absence of a backport, suggest either upgrading to 2.6 or copying the new k8s modules and module_utils into a suitable location referenced by ansible.cfg (or just module_utils and library in the same directory as you run ansible-playbook)

http://willthames.github.io/2017/12/12/using-updated-modules-with-stable-ansible.html

Closing this as workarounds exist.

[2018-07-15 10:53] #41831 closed, assigned to nobody

[2018-07-15 12:25] #24152 closed, assigned to nobody

[2018-07-15 12:32] sivel commented on #42666
Im unsure of the benefit of adding this directly to this module.  In the end the process will be:

1. download the file to the control node
1. deploy the local file to the vmware server

I'd likely just use `get_url` first, and then call `vmware_deploy_ovf`.

The API doesn't directly support a URL.  The vmware UI just ides this and does the download in browser for you.

Thoughts @Akasurde?

[2018-07-15 12:57] sivel commented on #42793
I believe this issue was resolved in https://github.com/ansible/ansible/commit/1517db06c5d34d0ebca719537a06b2b90c4116b9 and subsequently included in the 2.4.0 release of Ansible.

Could you please upgrade to a newer version of ansible (2.4.0+) and verify?

needs_info

[2018-07-15 13:03] sivel commented on #42792
The problem is that you have placed a non inventory file within the `group_vars` while specifying an inventory of `-i ansible/inventory/group_vars`

As such, the `filebeat.yml.j2` file is being read by the `ini` inventory plugin, and is failing to parse it.

There are 2 problems here:

1. Don't store template files in the `group_vars` directory
2. The `group_vars` directory is not a path to an inv

[2018-07-15 13:03] #42792 closed, assigned to nobody

[2018-07-15 13:08] sivel commented on #42791
You have multiple errors with you playbook:

1. You are not accounting for the scenario where `systemctl status NetworkManager | grep -o "running"` will return a non-zero exit code, and is thus failing for one host at this point.  Instead use the `service_facts` module to assist you in getting the service state
1. The output from the `shell` module will place the output into `myvalue.stdout` inste

[2018-07-15 13:08] #42791 closed, assigned to nobody

[2018-07-15 13:12] sivel commented on #42772
Using `ansible_become_exe=sudo su -` is not supported means of privilege escalation and is not something we intend to support.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-07-15 13:12] #42772 closed, assigned to nobody

[2018-07-15 13:14] sivel commented on #42761
For reference, we also have a specific workaround in `to_nice_json` to use simplejson in the event of py2.6.

We have an integration test to ensure we don't regress, but in my testing, we have made other changes to hostvars that prevent the original scenario from happening.

Additionally, we have discussed removing py26 controller support.

+1

[2018-07-15 13:17] sivel commented on #42731
This is the expected outcome as this is the behavior of ansible and ansible-playbook.

There is a config specifically designed for changing this behavior documented at https://docs.ansible.com/ansible/latest/reference_appendices/config.html#inventory-unparsed-is-failed

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailin

[2018-07-15 13:17] #42731 closed, assigned to nobody

[2018-07-15 13:22] albers commented on #42666
I assumed that url support was an api feature. If that's not true, I agree that this feature should not be added, at least not as a composite action involving a local download.I'm still unsure about how the UI feature actually works for urls. If I specify a url in the UI, the corporate firewall logs tell me that the download is performed by the vCenter server, not my browser.So there seems to be a

[2018-07-15 13:26] #15458 closed, assigned to nobody

[2018-07-15 13:36] usharaniyerra commented on #42793
Thanks sivel..we will work on it ..and see whether it resolves my issue..

[2018-07-15 13:37] amb1s1 commented on #42708
It works on 2.6. Any reason why this bug cannot be fix on this version?

[2018-07-15 13:41] usharaniyerra commented on #42550
Thanks for the update.. My issue is resolved.. we have installed "ordereddict' and tried again. Its worked.

[2018-07-15 13:42] #42550 closed, assigned to nobody

[2018-07-15 13:47] robinro commented on #42728
@thiller2018 This sounds like #41912 / #41916 to me, .i.e the problem is python3 and not the pattern arg.
Can you check with the develop version of ansible or by running the develop version of the zypper module with ansible 2.6?
Please close this ticket if the develop branch works.

[2018-07-15 13:52] sivel commented on #42666
More research may be required here.  I'm not capable of researching for potentially the next 3-4 weeks.  The UI and ovftool are of course closed source, and the documentation isn't super clear.

govc (govmomi) might be a good source to check if it supports these functionalities.

[2018-07-15 14:14] learning-sharing commented on #42791
Yes you are correct on your first point i want that to fail so that serves the purpose.

on the second note yes i left stdout just now realized thanks for your inputs. Great mate it helps

[2018-07-15 14:14] cn-mayank commented on #42294
@jborean93 I am facing the same issue on following ansible version and task file. I would like to try it with your fix but can you please guide regarding how can I get ansible installed. (am newbie so any pointers appreciated)

**tasks.yml**
- name: OVS | Running bcdedit
  win_shell: bcdedit /set testsigning yes
  when: bcdedit_needed

- name: OVS | Restarting computer
  win_reboot:
  when: bcdedi

[2018-07-15 14:21] robinro commented on #42727
@thiller2018 Thanks for opening this issue.
I most likely won't fix this in the near future, but I'd be happy to review a PR.
needs_contributor

[2018-07-15 14:35] ikke-t commented on #42162
just to report back, it works on RHEL also by pip install docker. It should come through package though.

[2018-07-15 14:52] ffraenz commented on #42506
I can confirm this issue using `docker_service` in Ansible 2.4.0.0. I was able to fix my deployment by sending the `gulp build` output to `/dev/null` and thus removing output lines that start with `[`. Thank you @bow, for this detailed report and troubleshooting!

[2018-07-15 14:57] sivel commented on #42599
This behavior has existed since the 2.0 release, and was explicitly added to the `set_fact` plugin in https://github.com/ansible/ansible/commit/a6d6a89ad1d460f8d29589128549e2bac1e54db8

As such, we cannot change the default behavior.

Maybe we can make it conditional on `ANSIBLE_JINJA2_NATIVE` and not do this type casting when `ANSIBLE_JINJA2_NATIVE` is enabled.

[code]

[2018-07-15 14:59] sivel commented on #21890
This functionality has been added in https://github.com/ansible/ansible/pull/41330

[2018-07-15 14:59] #21890 closed, assigned to sivel, bcoca

[2018-07-15 15:12] sivel commented on #42596
This is due to not passing `auth_timeout` to `SSHClient.connect`.  The `timeout` argument for `SSHClient.connect` only handles the TCP connection.  In paramiko 2.2 `auth_timeout` was added (https://github.com/paramiko/paramiko/commit/0fd54bb9813c2a62dcea7351e05ce780127ccdbe), so older versions, such as those shipped with RHEL 6 and 7 do not support this option.

We would need to add logic to handl

[2018-07-15 15:42] sivel commented on #42561
I think the error is a correct error to have.  Based on the commit that added it, we need to continue extending this check to make sure variables from everywhere must meet the valid variable naming for python.

https://github.com/ansible/ansible/commit/5a5b9f211b611f74958bc3f72efaf7e7da6ae745

[2018-07-15 15:47] sivel commented on #42559
Duplicate of https://github.com/ansible/ansible/issues/28674

[2018-07-15 15:47] #42559 closed, assigned to nobody

[2018-07-15 16:00] cpu commented on #24152
@sivel Can you explain why this issue was closed? I believe it remains unaddressed.

[2018-07-15 16:04] sivel commented on #24152
Based on previous remarks, I believe this not to be an issue.  I had honestly forgotten about the issue until it just showed up in my inbox.  As such, I closed it.

[2018-07-15 16:32] sivel commented on #42568
This functionality exists, but is disabled by default.  The config for this can be found at https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-hash-behaviour

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-07-15 16:32] #42568 closed, assigned to nobody

[2018-07-15 16:32] zswanson opened #42794 "lineinfile backrefs expand incorrectly when followed by a numeric value in the line parameter"
##### SUMMARY
When using lineinfile with backrefs true, the following task example will print to the target file incorrectly if the variable value is an integer. This seems to be caused by the jinja variable being templated before the backref is expanded. This does not impact other modules that can use backrefs however, such as the replace module.

Assuming a file that had a single line, "host=som

[2018-07-15 16:42] cpu commented on #24152
I disagree that it is not an issue. The workaround is not the same as employed by Mercurial: it is too broad (affecting OSX installations that may not require it), and fails open (it includes both the system CA store contents and the fake root).

If you're not interested in discussing further I will drop the issue and assume its a WONTFIX but if you _are_ interested in continuing the discussion I'

[2018-07-15 16:48] sivel commented on #42794
This is an limitation of using that format of backrefs.  There are different forms of backrefs and grouping that can be used as described on the python re docs: https://docs.python.org/3/library/re.html

A working change to your playbook reads:

[code]

Or

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https

[2018-07-15 16:52] zswanson commented on #42794
Could an example of that format be added to the documentation for the
module? And/Or a warning about this? It basically destroys the target file
if the operator is unaware.

And as noted, this doesn't occur with the replac module where I have an
example almost identical to this which works as expected.

On Sun, Jul 15, 2018 at 12:49 Matt Martz <notifications@github.com> wrote:

[2018-07-15 16:53] sivel commented on #42794
Sure, I'll reopen as a docs report.

cc @samdoran

[2018-07-15 18:39] mercury00 commented on #42599
That may work to keep in in agreement with the YAML documentation.

Otherwise, why not respect the `!!str` declaration?

[2018-07-15 18:54] sivel commented on #42599
I do not immediately have the historical context of why this change was made, but my assumption is that it was changed to address the issue that jinja2 native types was introduced for, in that the interaction between jinja2 and ansible resulted in lossy typing.

We don't have full life cycle info of whether `!!str` was supplied for a variable, so there is no context for us to work off of.

[2018-07-15 18:59] mercury00 commented on #42599
Ah, got it.

[2018-07-15 20:23] zakstar commented on #42707
@abenokraitis I think upgrading the NX-OS and retesting would only help determining the scope of impact, which is pointless at this moment, because the new code changes from @trishnaguha already makes the check if JSON is supported or not. What we can do now is use this check to execute an alternate path for non-JSON supported devices, which in my opinion is the way forward towards resolution.

@t

[2018-07-15 22:02] bhdicaire commented on #24152
Hello @sivel , a hardcoded CA certificate is not a best practice — do you agree ?

You have done the right thing at the time.  @cpu and my myself will like to assess what can be done today.  I'll open a RADAR with Apple if no solution is available.

Are your confortable with this approach ?

[2018-07-15 22:11] jtyr commented on #42706
Thanks for opening this issue, @stephan2012. Please could you test the fix proposed in the PR #42837?

[2018-07-15 22:24] bpiper commented on #42486
@s-hertel I can confirm it's working fine on your branch.

[2018-07-16 00:06] kvsarath commented on #42772
Hi Sivel,

Thanks for the response. I have tried without ansible_become_exe=sudo su -  as well, the porblem is after logging into remote server using sudo user, when I run pwd..play is not returning the actual home path of that user.
Can you please let me know the settings to be used to login as sudo su - user in 2.6.1

[2018-07-16 01:17] jborean93 opened #42838 "win_async_wrapper tests unstable"
##### SUMMARY
The integration tests `win_async_wrapper` on the 2012 R2 and 2016 hosts are unstable and sometime fail.

See https://app.shippable.com/github/ansible/ansible/runs/74248/12/tests as an example of an unstable test.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_async_wrapper tests

##### ANSIBLE VERSION
[code]

[2018-07-16 01:52] kbreit opened #42839 "Meraki - HTTP redirects to HTTPS"
##### SUMMARY
Meraki HTTP requests seem to be redirecting to HTTP. This is reproduced in both Postman and the Meraki modules

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
meraki

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### EXPECTED RESULTS
All results should stay within HTTP.

##### ACTUAL RESULTS
Conversation ends with HTTPS as the protocol.

[2018-07-16 02:35] yungezz commented on #42104
@yuwzho  Could you pls help to look at the issue, seems bug, not sure  what's the original design thinking on purge_rules arguments.

[2018-07-16 02:51] yungezz commented on #41960
@wpou thanks for reporting the issue, agree with you that the should be related to size of data being sent.  from error code in issue description,  error is from ssl package
[code]

is it ok for you to split big rules into small batches?

[2018-07-16 03:00] Im0 opened #42841 "vmware_resource_pool ensure desired state (parameters) match the environment"
##### SUMMARY
`vmware_resource_pool` appears to check if a resource pool exists, to either create or delete it.  If you've created a resource tool, and, later want to change the resources `vmware_resource_pool ` currently returns 'OK' as the resource pool exists.

It would be useful if it attempted to ensure parameters align between the playbook task parameters and what's configured in the environ

[2018-07-16 03:09] yungezz commented on #41520
@LinuxLeafFan  could you pls try with  your tenant_id set?

[2018-07-16 03:12] yungezz commented on #40857
@zikalino  HI ZIm, could you pls help to look at this issue?

[2018-07-16 03:13] trishnaguha commented on #42708
@amb1s1 It is because nxapi still depends on connection local and provider values in 2.5, it doesn't use ability to use PERSISTENT timeout values. This commit will break nxapi in 2.5. Hence we cannot cherry-pick this fix to 2.5. But from 2.6 onwards, with httpapi connection plugin that is resolved.

[2018-07-16 03:18] yungezz commented on #40619
The feature will be added by PR #40327

[2018-07-16 03:19] yungezz commented on #40596
@yuwzho  could you pls help to look at given easy fix :)

[2018-07-16 03:23] yungezz commented on #39998
@yuwzho  could you pls  help to provide an sample of creating VM with nsg in another resource group after nic in another resource group  fixing? thanks.

[2018-07-16 03:31] yungezz commented on #36070
close since removed unstable tag

[2018-07-16 03:31] #36070 closed, assigned to nobody

[2018-07-16 03:32] yungezz commented on #36069
closed since 'untable' removed.

[2018-07-16 03:32] #36069 closed, assigned to zikalino

[2018-07-16 04:04] Akasurde commented on #42692
resolved_by_pr #42789

[2018-07-16 04:05] Akasurde commented on #42692
@jainishan Could you please check above PR and let us know if it works for you ? needs_info

[2018-07-16 04:06] Akasurde commented on #42620
resolved_by_pr #42786

[2018-07-16 04:33] YumaInaura commented on #8306
I think one resolution is change ssh config on control machine.
And fix inventory.

[code]

[code]

[2018-07-16 04:40] #40864 closed, assigned to nobody

[2018-07-16 04:53] justjais commented on #42014
@jlozadad yes, the name of the infoblox wapi client is `infoblox-client` instead of `infoblox_client`. But in current nios docs its mentioned as `infoblox_client`. I shall get it updated to `infoblox-client`.

[2018-07-16 04:57] justjais commented on #41200
@NilashishC I am not able to reproduce this issue, can you please verify if you are able to reproduce this particular issue.

[2018-07-16 05:19] yungezz commented on #37904
@zikalino  HI ZIm, the issue should be fixed already right?

[2018-07-16 05:50] Ankur012 opened #42842 "Ansible search string in stdout_lines and user later as variable"
##### SUMMARY
 I want to search a string(aws AMI id) in command (module) stdout_lines and use this string later in the different module.  is this possible to get value from stdout_lines?

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

[code]
#

[2018-07-16 06:27] #42842 closed, assigned to nobody

[2018-07-16 06:43] Fred-sun commented on #39998
Hi @yungezz , I have updated the yml as below, Does this meet you need, please review,Thanks a lot!
[code]

[2018-07-16 06:49] Fred-sun commented on #39998
On other side, it test successfully on ansible 2.6.0 and ansible 2.6.1, Thanks !

[2018-07-16 07:05] wpou commented on #41960
@yungezz we need idempotency on the NSGs.  Passing subsets of rules for a single NSG to the azure_rm_securitygroup module would trigger an expected behaviour to purge rules from other subsets relating to the same NSG.  This poses a security risk.

[2018-07-16 07:31] jhawkesworth commented on #42294
@cn-mayank - closed issues don't get a lot of attention, so generaly its best to ask 'how do i do'? type questions on the ansible-project google group or in the #ansible irc channel.
There are instructions here for running ansible from source, which gives you the ability to pick up the very latest version of ansible

https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.htm

[2018-07-16 07:35] stephan2012 commented on #42706
@jtyr: I'll try this week.

[2018-07-16 07:50] jifox opened #42843 "ios_config - backup is not complete"
##### SUMMARY
The backup file generated by the playbook contains only a part of the output of 'show running-config'.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/home/xxxxxx/ansible/develop/ansible.cfg) = ['/home/xxxxxx/ansible/develop/roles', '/home/xxxxxx/ansible/common/roles']
DEFAULT_VAULT_PASSWORD_FILE

[2018-07-16 07:53] pschiffe commented on #42162
@felixfontein right, thanks for the tip.

[2018-07-16 08:38] vide commented on #24425
@Sodki Thanks for the workaround, it works perfectly. BTW this bug is still present with Ansible 2.6.0

[2018-07-16 08:51] jainishan commented on #42692
@Akasurde

Thanks for the quick action. I tested the branch with the values "0", 0 and '' in kernel_memory attribute and they all work as intended.

BR,
Ishan

[2018-07-16 08:54] bouksy commented on #37259
+1
that would be very nice !
in the meantime, I can execute the following command:

az vm boot-diagnostics enable --storage STORAGE --ids $(az vm list -g RESOURCE_GROUP --query "[].id" -o tsv)

[2018-07-16 08:55] gtema commented on #42042
@ITD27M01 , please verify if this fixes your problem. In positive case I will create followup PRs for 2.6 and 2.7/devel

[2018-07-16 08:58] TomasTomecek commented on #42162
@ikke-t please contact Red Hat support if you wish to have a more recent version of docker-py in RHEL. The reason we have 1.10.6 is just that no one requested a newer version.

[2018-07-16 09:29] hekonsek commented on #41384
Hi. Any idea why ansibot CCed me in this issue? ;)

[2018-07-16 10:11] jifox commented on #42843
I also checked with a playbook 'show running-config' and it leads to the same result. The config is incomplete:

[code]

I've than added a wait_for: statement to the playbook and retried the backup:

[code]

With the above playbook, the whole configuration will be read from switch.

[code]

[2018-07-16 10:19] ITD27M01 commented on #42042
@gtema

Can you please check the following also:

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/openstack.py#L264
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/openstack.py#L289

[2018-07-16 10:30] gtema commented on #42042
I personally do not think it is a good idea, since that might break group parsing scripts/playbooks by people relying on that structure

[2018-07-16 10:41] ITD27M01 commented on #42042
In this way the groups like _nova, cloud__nova and cloud_ will be created:

https://github.com/ITD27M01/ansible-openstack-bug/blob/master/openstack-inventory.json#L239-242

[2018-07-16 10:48] Akasurde commented on #42841
@Im0 Thanks for reporting this issue. For `vmware_resource_pool` update is not implemented.

[2018-07-16 10:54] RuriRyan commented on #37660
Ran into the same problem today. any news?

[2018-07-16 11:00] christopherkeller commented on #39977
I've heard nothing on implementing the concatenated id to match the CLI format.

[2018-07-16 11:30] RogierSchuring commented on #42671
Thanks for your clear and elaborate answer @samdoran ! This also seems to work for me.

[2018-07-16 11:32] webknjaz commented on #42546
what was in the `exit_code` variable?

[2018-07-16 11:41] hnuzhoulin opened #42846 "timeout for interactive program when forget to using pipeline send a string"
##### SUMMARY
I need execute some interactive program in remote machine.and it accept input from pipeline.
but sometimes I forget to enter input in pipeline,then I using ctrl+C to kill it.but the remote ansible does not been killed,and it alwayse wait.and the memory usage keep increase .
and I try some timeout setting,it does not work.

##### ISSUE TYPE
 - Feature Idea or bug

##### COMPONENT NAME

[2018-07-16 11:55] ganeshrn commented on #42200
With the referenced fix you can set command_time per task basis.
[code]

[2018-07-16 11:59] ronjakoi commented on #42162
@TomasTomecek 1.10.6 is the latest upstream version: https://pypi.org/project/docker-py/#history

[2018-07-16 12:34] pschiffe commented on #42162
@ronjakoi for some reason, `docker-py` pip package has an old version of https://github.com/docker/docker-py . The latest version of that library is in `docker` pip package - https://pypi.org/project/docker/#history

[2018-07-16 12:40] dagwieers commented on #42026
cc @gep13 @ferventcoder

[2018-07-16 12:50] felixfontein commented on #42162
The `docker-py` package was renamed to `docker` for version 2.0 (see docker/docker-py#1310) to unify the naming across the Docker SDK for various languages. It is just too bad that both pypi pages don't mention this... (Also the Ansible docs haven't been much more helpful... that's improved by #42457 though.)

[2018-07-16 13:09] amb1s1 commented on #42708
@trishnaguha make sense

[2018-07-16 13:09] #42708 closed, assigned to trishnaguha

[2018-07-16 13:15] turb opened #42849 "hostsvars elements stopped supporting has_key in 2.6"
##### SUMMARY

`hostvars["myhost"].has_key("myprop")` used to work until 2.6.

Now it breaks with `AnsibleUndefinedVariable: 'ansible.vars.hostvars.HostVarsVars object' has no attribute 'has_key'`

Whereas `hostsvars["myhost"].myprop is defined` does work.

I suppose using this syntax is now bad, however since it used to be allowed, I think it should be deprecated first.

##### ISSUE TYPE
 - Bug R

[2018-07-16 13:24] trishnaguha commented on #42707
@zakstar @benjdudas This bug is work in progress. The fix will support non JSON outputs as well.

[2018-07-16 13:29] balvinder294 opened #42850 "Adding ansible_become_pass and ansible_become_user to /etc/ansible/hosts not working"
Hi there Ansible team, i have gone through various blogs and all your documentation. But i am not able to execute some command as sudo user over multiple hosts from a single playbook.
I have added all variable to /etc/ansible/hosts but that is not working.
I am able to run on single host by passing --ansible_become_pass as command line argument , but it works only for one host and not others. If i

[2018-07-16 13:30] cognifloyd commented on #42656
Oops. I never hit "Comment"... Yes this worked for me in 2.5.5. Of course it's already merged so my :+1: doesn't matter, but whatever.

[2018-07-16 13:44] tsacha opened #42851 "consul_kv does not return text string in Python 3"
##### SUMMARY

The lookup plugin consul_kv does not convert text strings in text with Python 3.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lookup/consul_kv

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ALLOW_WORLD_READABLE_TMPFILES(/home/sacha/Work/Ansible/ansible.cfg) = True
ANSIBLE_NOCOWS(/home/sacha/Work/Ansible/ansible.cfg) = True
COMMAND_WARNINGS(/home/sacha/Work/Ansible/an

[2018-07-16 13:57] tsacha commented on #42851
Using `to_text` function from `ansible.module_utils._text` on `r['Value']` and `results[1]['Value']` seems to fix the problem but I don't know if it is the safest way.

[2018-07-16 14:03] SietseVisser commented on #39974
@yungezz I created a pull request:  #3998
However, this pull request was not accepted because it requires a resource group while it should be able to work without.
I cannot solve that problem.

[2018-07-16 14:05] Neurozone opened #42852 "vmware_guest does not support encoding 8859-1 in playbooks"
##### SUMMARY

Ansible module vmware_guest doesn't seem to support character in 8859-1 format
We have some folders name "Intégration" on our vcenter and the full folder name is:

folder: "/Intégration/HR"
When i'm trying to create the vm i get the following error:
[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_L

[2018-07-16 14:16] #25421 closed, assigned to Akasurde

[2018-07-16 14:30] fxfitz commented on #37620
I think this would a feature request, maybe something like `append: true`.

I personally haven't experienced a need for this in this module particularly, since I already have the desired state of a hostgroup since they're all defined in the inventory. But I have wanted something similar with `ipa_user`, since I just wanted to ensure a user is in a user group.

With all that being said, while a fea

[2018-07-16 14:33] fxfitz commented on #33193
Are you thinking a format something like:

[code]

[2018-07-16 14:44] zakstar commented on #42707
@trishnaguha Sounds good! Thanks for the update.

[2018-07-16 14:51] agaffney commented on #42849
Prior to 2.5 (or maybe even 2.4), `hostvars['some.host']` returned an actual dict. This was changed to a dict-like object in #35913 to remove the need to pre-render all templated values in `hostvars`, but I would expect `has_key(...)` to still work.

[2018-07-16 14:55] agaffney commented on #42849
It looks like `has_key()` doesn't exist at all in Python 3, so it doesn't surprise me that `collections.Mapping` doesn't support it. It's now recommended that you use `'foo' in some_dict` rather than `some_dict.has_key('foo')`.

[2018-07-16 15:08] sridhar2787 opened #42855 "error:10.0.3.225 | FAILED | rc=0 >> MODULE FAILURE"
##### SUMMARY

I have created three containers in Ubuntu vm, one as a database and two for web servers. When I'm trying to use arguments, every time ended up with the following error "10.0.3.225 | FAILED | rc=0 >>
MODULE FAILURE"

examples:
[code]
Ansible version - 2.3
ubuntu virtual machine

Debug output:
[code]

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPO

[2018-07-16 15:15] turb commented on #42849
For my own usage, I already changed the syntax to make it work before opening this.

I suppose this one can be closed and be accessible as an archive for anyone having the same question.

[2018-07-16 15:18] #42849 closed, assigned to nobody

[2018-07-16 15:22] balvinder294 commented on #42850
I have configured my ansible hosts file at location /etc/ansible/hosts
[code]
Still it do not work, but if i pass like this it works , but same pass applied for every host
`ansible-playbook play.yml --ansible_become_pass="pass"`
but if i have mutliple hosts , this way only one pass acts on all hosts, so unable to do tasks with priviledge escalation.

The issue seems that ansible is not taking thes

[2018-07-16 15:23] SF-DK opened #42856 "win_update does not work after 2.6 update"
##### SUMMARY

win_updates module does not seem to work correctly after 2.6 upgrade. When I run the playbook against a system the Windows server actually updates successfully as I can log on the console and manually run windows update and it shows it is waiting for a reboot but the playbook fails with the following error:
fatal: [10.194.136.96]: FAILED! => changed=false
  module_stderr: |-
    The

[2018-07-16 15:44] samdoran commented on #41717
@rakh7 This fix will be in the next release of Ansible: 2.5.7 and 2.6.2.

[2018-07-16 15:53] gundalow commented on #42839
@kbreit Could it be
https://github.com/ansible/ansible/blob/7f0fe1898e73b16c3b07f9ca4f505193dd7f7089/lib/ansible/module_utils/network/meraki/meraki.py#L42

If you add `use_https: False` does that work?

[2018-07-16 15:56] carstenkoester opened #42858 "os_project (and possibly other openstack modules) fail with named cloud parameter"
##### SUMMARY
Trying to use os_project to manipulate OpenStack projects using a full cloud definition in the os_project "cloud:" parameter (ref. documentation, "If cloud is a dict, it contains a complete cloud configuration like would be in a section of clouds.yaml").

Seeing three issues, two of which seem to be caused by inconsistent default parameters (detail below), and a third error which loo

[2018-07-16 16:01] bmaupin commented on #42596
For what it's worth, even the latest Ubuntu (18.04) ships with paramiko 2.0:
https://packages.ubuntu.com/bionic/python-paramiko

Thanks!

[2018-07-16 16:08] samdoran commented on #42484
@vbotka That is fixed in #42711.

[2018-07-16 16:08] kbreit commented on #42839
No, and that's the problem. I need to look to see if Meraki is supporting HTTP for the entire transaction or if it's only for the opening redirect.

[2018-07-16 17:52] bcoca commented on #8306
This is what jimi-c was reffering to:
[code]

[2018-07-16 18:11] fractalic commented on #40130
Also interested in this

[2018-07-16 18:27] andygeorge commented on #19751
Seeing this in 2.6.1, as well. I had to slightly tweak @gaelL's snippet to check for a state of `"available"`, as the instance can go into other states, depending on the modify being performed:

[code]

[2018-07-16 18:29] snypeur opened #42864 "pamd: TypeError: 'bool' object is not callable"
##### SUMMARY
Trying to apply ansible role for https://github.com/MindPointGroup/RHEL7-STIG on a RHEL7 server.  Getting various errors all resulting with TypeError: 'bool' object is not callable

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

**These are the only changes listed below:**
DEFAULT_BECOME(/etc/ansible/ansible.cfg) = True
DEFAU

[2018-07-16 19:12] jifox commented on #42843
After further investigating this problem I was finally able to identify the cause of the problem.

The char '**>**' used in  interface description leads to above error.

Switch configuration with error:
[code]

Switch configuration without error:
[code]

The above playbook without the 'wait_for:'  parameter return all of the configuration until the line:
[code]

When using the 'wait_for:' argument

[2018-07-16 19:24] wenottingham opened #42866 "traceback when calling `ansible-galaxy search` with unicode"
##### SUMMARY

I cannot search for dragons.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Fedora 28

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

no traceback

##### ACTUAL RESULTS

see above

[2018-07-16 20:32] maxamillion commented on #42310
Unfortunately it looks like the `getZoneNames` method was implemented in version `0.4.2` of firewalld upstream and since there's no way to introspect the server-side python `Zone` object from the client side, there's not really an alternative implementation that would allow for this to not require a new version of firewalld.

[2018-07-16 20:41] maxamillion commented on #42310
Nevermind, I just figured it out using the old API. Submitting a PR.

[2018-07-16 21:04] cdelgehier commented on #42588
This answer seems to me easy, but ok
Maybe a precision of the version would not be too much ...
https://docs.ansible.com/ansible/devel/modules/os_user_module.html#requirements

[2018-07-16 21:09] jborean93 commented on #42856
This was fixed with https://github.com/ansible/ansible/pull/42647 and once https://github.com/ansible/ansible/pull/42650 is merged, will be in the next 2.6 release.

[2018-07-16 21:09] #42856 closed, assigned to nobody

[2018-07-16 21:16] Jean-Daniel opened #42870 "mysql_replication: missing 'reset master' mode"
##### SUMMARY
mysql_replication module supports many action, but one that is missing and may be useful is 'reset master' action. And as it already supports reset slave, it would make it more consistent.

See https://dev.mysql.com/doc/refman/8.0/en/reset-master.html for details.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
mysql_replication

##### ANSIBLE VERSION

[code]

##### CONFIGURA

[2018-07-16 21:28] daBONDi opened #42871 "support displaying custom_stats in the JSON callback plugin json"
##### SUMMARY
callbackplugin **json** return a empty custom_stats

##### ISSUE TYPE
 - ~Bug  Report~
- Feature Idea

##### COMPONENT NAME
set_stats

##### ANSIBLE VERSION
[code]

**Also try'd the latest devel**

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(env: ANSIBLE_STDOUT_CALLBACK) = json
SHOW_CUSTOM_STATS(env: ANSIBLE_SHOW_CUSTOM_STATS) = True

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[2018-07-16 21:42] daBONDi commented on #39633
Found something maybe worth investigating using this base .Net Class for it

https://github.com/dlwyatt/PolicyFileEditor

Or you could try to use the win_dsc module and use this dsc resource for it, i never tryed it out but maybe you can go forward on it with this

[2018-07-16 21:42] bcoca commented on #42715
The error happens because templating is missing a variable, even then it does not know 'where' that variable can come from. Facts are not guaranteed nor does templating keep a list of possible fact variables. Saying that 'x' is undefined is reasonable, then you can check if you are depending on a fact or variable you define elsewhere.

The real solution for you is
[code]

Since I don't see any act

[2018-07-16 21:42] #42715 closed, assigned to nobody

[2018-07-16 21:59] jmighion opened #42873 "Add ability to apply commit labels on iosxr_config module"
##### SUMMARY

Copy of https://github.com/ansible/proposals/issues/117
Currently, the IOSXR_CONFIG module allows for the addition of commit comments, but does not give the ability to add a commit label. Commit labels in many enterprise environments allow quick reference to various commits to allow for quicker rollbacks and less confusion when a rollback is needed.

When IOSXR_CONFIG makes a commit

[2018-07-16 22:49] gundalow commented on #42873
@mfisher30 FYI

[2018-07-16 22:51] fenris02 opened #42874 "Add NX-OS BFD support"
##### SUMMARY
BFD is a detection protocol designed to provide fast forwarding-path failure detection times for media types, encapsulations, topologies, and routing protocols. You can use BFD to detect forwarding path failures at a uniform rate, rather than the variable rates for different protocol hello mechanisms. BFD makes network profiling and planning easier and reconvergence time consistent a

[2018-07-16 23:15] LucidOne commented on #42715
Thanks for this answer, it works nicely.

Can you confirm that this means that variables set in the play may be evaluated multiple times during execution, both before and after facts become available?

[2018-07-17 00:03] bcoca commented on #42715
yes, just not those variables, ALL vars are 'lazy evaluation'. The only real exception is `set_fact` as those vars are really 'module options' and the values evaluated for all module options (this is latest moment they can be).

[2018-07-17 00:18] willthames commented on #42476
Also, if you want to use the actual local filesystem, you can just use `definition` with the `file` or `template` lookup plugins as per the examples.

Still a docs bug though.

[2018-07-17 00:41] LucidOne opened #42875 "Confusing behaviour with -K, --ask-become-pass"
##### SUMMARY
This seems like more of a bug than feature request to me but :man_shrugging:

`ansible-playbook -i 'localhost,' -K my_playbook`
Asks for a password, but doesn't actually use it if sudo has credential caching enabled

`ansible-playbook -i 'localhost,' -K my_playbook`
Prompts for a password, but doesn't use it if `ansible_become_pass` is set in the play

##### ISSUE TYPE
 - Bug Report

[2018-07-17 01:21] Fred-sun commented on #42640
Hi @drogerschariot Do you try this command, Does this can get you resource group VM info（ make sure your resource group is empty or not), Thanks !

[2018-07-17 01:33] #42620 closed, assigned to nobody

[2018-07-17 02:30] #42195 closed, assigned to Akasurde

[2018-07-17 03:05] Fred-sun commented on #23765
Hi @yuwzho ,I have rechecked this bug on ansible 2.5.1 and 2.6.1, it still have this issue ( the exist tags will be overridden by new tags), my yml as below, please help to recheck it, Thanks !
[code]

[2018-07-17 04:03] cigamit commented on #42349
To utilize 'linked_clone', you must also specify 'snapshot_src'.

[2018-07-17 04:07] Akasurde commented on #42864
@snypeur Thanks for reporting this issue. I am pretty sure this is already fixed in 2.6.1. You can check this https://github.com/ansible/ansible/pull/42025 and https://github.com/MindPointGroup/RHEL7-STIG/pull/106

Let me know if it is not the case. cc @jamescassell and @maxamillion Thanks.

[2018-07-17 04:15] Akasurde commented on #42855
Hi @sridhar2787 !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This all

[2018-07-17 04:15] #42855 closed, assigned to nobody

[2018-07-17 04:15] #42011 closed, assigned to Akasurde

[2018-07-17 04:32] skylerbunny commented on #42787
This occurred only with docker-py installed.

When docker-py was uninstalled and only docker (which is to say Docker>=2) was installed, the problem appeared to go away.

[2018-07-17 04:32] Aethylred commented on #42546
I have a terrible thought that Ansible runs pip with the `--ignore-installed` flag _by default_ so when adding it as an `extra_args` it either does the obvious bad thing it was told to:

[code]

or it deduplicates it when running the command, but fails to deduplicate when checking the output.

...and when I run (note the missing `extra_args`)

[code]

it works

[2018-07-17 04:35] Aethylred commented on #42546
So, this issue is that using `--ignore-installed` as an `extra_arg` causes pip to segfault.

[2018-07-17 04:36] Aethylred commented on #42546
so this is just idiot-proofing :)

[2018-07-17 06:05] MichaelSteffens commented on #42677
Created new pull request for devel branch: https://github.com/ansible/ansible/pull/42878

[2018-07-17 07:08] Fred-sun commented on #25352
Hi @lukasmrtvy , Now, The ansible have update to 2.6.1, you can use 'sudo pip install ansible[azure] --upgrade' to update your ansbile,  use register parameter can get the deploy VM info as below. But if you want to get the VM status, you can use 'python azure_rm.py --list --pretty --resource-groups resource-name' to get the VM status'. 'powerstate: running' means VM is running, 'powerstate:deallo

[2018-07-17 07:22] webknjaz commented on #42546
I've tried `$ pip install --ignore-installed --ignore-installed ansible` and it doesn't error out at all. The return code is `0`.
Also, we've already identified that it's something outside of pip, happening during the execution of `sys.exit(0)`. So during our call with @HD650 we've come to a conclusion that it _might be_ one of `atexit` callbacks. We're checking this hypothesis now, but it's a bit

[2018-07-17 07:35] goettl79 commented on #42388
For me the better solution to change the permission on an wsl mounted nsf filesystem would be to follow this procedure here: https://blogs.msdn.microsoft.com/commandline/2018/01/12/chmod-chown-wsl-improvements. The metadata generated there should be the default for all new windows 10 wsl installations i guess.

Basically do the following for your ntfs mount to enable "chmod":

sudo umount /mnt/c
s

[2018-07-17 07:48] mercer commented on #42357
Noticed this as well on one of our environments. Running an older playbook with an older existing vault.

[code]
[code]
Notice `pycrypto` is missing and `cryptography` is present.

After installing pycrypto error went away. It is strange, as error message suggested that either cryptography or pycrypto is good.

[2018-07-17 08:11] agrawalreetika opened #42880 "'ignore_errors' is missing with user module in ansible task."
##### SUMMARY
I want to ignore error like "user id is currently used by process" when I am using user module to create any user id on system.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
User module

##### ANSIBLE VERSION
$ ansible --version
ansible 2.5.5
  config file = /u/bin/hadoop_jobs/ansible_setup/ansible_ragraw1/ansible.cfg
  configured module search path = [u'/root/.ansible/plugin

[2018-07-17 09:04] dhavalv83 opened #42882 "failed to resolve remote temporary directory"
##### SUMMARY
My Control machine is Mac 10.13.1 and running Ansible 2.6.1, I have windows 7 VM in virtual box as a node.
SSH is already exchanged and I can do SSH <win ip> from Mac and it's fine.
also ping is fine from Both the machines.
When I use win_file module to create a file gives me error as mentioned below.

##### ISSUE TYPE
 "msg": "failed to resolve remote temporary directory from ansibl

[2018-07-17 10:02] Akasurde commented on #42880
Hi @agrawalreetika !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

You can read more about error handling here - https://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net

[2018-07-17 10:02] #42880 closed, assigned to nobody

[2018-07-17 10:12] Akasurde commented on #42349
@saargrin I updated documentation and also error message to notify user about it. Let me know if it works for you.

[2018-07-17 10:16] kowalskey commented on #42310
@maxamillion thanks a lot :+1:

[2018-07-17 10:32] jborean93 commented on #42882
You can’t use SSH with Windows hosts right now. The only supported option is through WinRM. We are looking to add basic SSH support in Ansible 2.7 but that is not in place yet.

[2018-07-17 10:32] #42882 closed, assigned to nobody

[2018-07-17 10:50] dhavalv83 commented on #42882
Thanks for the clarification.

[2018-07-17 10:52] Akasurde commented on #26030
resolved_by_pr #42879

[2018-07-17 11:28] oheinz opened #42887 "VMware: teaming and failover policies are forced but should not"
##### SUMMARY

With the introduction of teaming_policy in 2.6  it is not possible to inherit the teaming_policy of the underlying vSwitch - which is the VMware default behavior. So this is what probably most expect when not specifying teaming_policy. But instead teaming_policy does a force override with the default settings.  (Which is documented, but I'd consider it still unexpected)

Please impl

[2018-07-17 11:35] strarsis commented on #38795
@boca, @jborean93: What information can I further provide?

[2018-07-17 12:02] sebastianw commented on #40626
FYI the workaround is applied in Ansible 2.6.1 which fixes the issue for me. Couldn't find an easy way to see when it was applied to the stable branch.

[2018-07-17 13:10] zigarn opened #42891 "Ansible 2.4.X unavailable as RPM"
##### SUMMARY

Latest ansible 2.4.X (2.4.5.0-1) was released on [2018-06-22](https://github.com/ansible/ansible/releases/tag/v2.4.5.0-1) and is [still supported](https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html#release-status), but the RPM is not available in https://releases.ansible.com/ansible/rpm/release/ except for fedora-28-x86_64.

##### ISSUE TYPE
 -

[2018-07-17 13:18] reubensml commented on #13177
In my case i don't use Elasticache  set the following in ec2.ini file
'elasticache = False'

[2018-07-17 13:31] akshay196 commented on #26867
@robinro I would be happy to work on this. :)

[2018-07-17 13:52] bcoca commented on #26867
https://github.com/bcoca/ansible/tree/pull_fix <= i had approached this at one time

[2018-07-17 14:02] bcoca commented on #38795
i cannot reproduce your error, `become` itself doesn't cause a syntax issue, I suspect a bad 'whitespace' character, either a tab or some other. I also see you are on WSL, which is not a platform we support (or I can test on).

So if you can give us something WE can reproduce, we might get to the bottom of it.

[2018-07-17 14:06] andreaso commented on #38178
Created #42894 for the cloudflare_dns module.

[2018-07-17 14:18] gtranche opened #42895 "Ovirt network missing external_provider option"
##### SUMMARY

There is no option in module ovirt_network to define the external_provider ovn included with ovirt 4.2
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

ovirt_networks
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Redhat 7.5
##### STEPS TO REPRODUCE

[code]
may be
[code]

##### EXPECTED RESULTS

Add "external_provider: ovirt-provider-ovn"
And

[2018-07-17 14:22] aflatto opened #42896 "unarchive execution removes access to OS commands deletes OS on Ubuntu 16.04"
##### SUMMARY

Extracting a tarball with unarchive removes /disable access to OS commands

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The tarball to be extracted and the file node_exporter to be located in the /usr/local/bin directory wi

[2018-07-17 14:37] akshay196 commented on #26867
@bcoca Okay. Then I will take help of that. :)

[2018-07-17 14:43] tbouvet opened #42897 "Docker modules error with Ansible 2.6 and later with TLS config"
##### SUMMARY
If docker is in TLS mode, all ansible docker modules finished with an error :
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker modules

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Container is running.

##### ACTUAL RESULTS
[code]

The full traceback is:
[code]

[2018-07-17 14:58] saargrin commented on #42349
yes, the addition of snapshot_src seems to have resolved the issue , see my working config below

Thanks for your help guys, that was awesome

- name: create the VM
  vmware_guest:
    linked_clone: yes
    snapshot_src: "{{ vmsnapshot }}"
    esxi_hostname: "{{ esxi_hostname }}"
    hostname:  "{{ hostname }}"
    username:  "{{ vmusername }}"
    password: "{{ vmpassword }}"
    datacenter: "{{

[2018-07-17 15:00] bcoca commented on #42871
reclassified as this is not a bug, but a feature that was not implemented.

[2018-07-17 15:09] BlackthornYugen commented on #38730
@NickLavrov thanks! I did the same thing now. Updated my code to query records and remove them explicitly.

[2018-07-17 15:16] LucidOne opened #42898 "Multiple yaml documents in a single playbook file"
##### SUMMARY
Support concatenating several play books together to run in a single `ansible-playbook` session.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

n/a

##### STEPS TO REPRODUCE

multi.yml
[code]

##### EXPECTED RESULTS
Run the first document, then the second document within the context of

[2018-07-17 15:21] Akasurde commented on #25133
@majales #21421 is merged. Would you be interested in raising a PR for "transform" ? needs_info

[2018-07-17 15:22] dagwieers commented on #42896
Ok, so I think you're shooting yourself in the foot here using `--strip-components=1` because I get this:
[code]

So the very first entry is empty. I guess **unarchive** could handle this better, but a pure-python module should be the better approach. https://github.com/ansible/community/wiki/Module:-unarchive

[2018-07-17 15:25] agaffney commented on #42896
I cannot reproduce this with either `2.6.1` or `2.4.3` using the `ubuntu:xenial` Docker image and your vars/tasks.

[2018-07-17 15:25] nffdiogosilva commented on #30629
Hi there.
Is there any hack to solve this? Or has a solution been already found? If so, it was not merge yet, since I still have this problem. Thank you

[2018-07-17 15:33] mbuiro commented on #40425
Issue seems to stem from the fixed_instance_size requiring an ID vs using an identifier such as "L" or "XL". You can find current instance IDs by using the oneandone cli command `oneandone server fixedsizes`

Recommend updating documentation to avoid confusion.

[2018-07-17 15:33] #40425 closed, assigned to nobody

[2018-07-17 15:38] fmauch commented on #10829
+1

[2018-07-17 15:42] ckoester2 commented on #42858
Turns out incorrect `fail_json` call was already addressed in #40925/#41064.

Created PR #42899 to address the remaining two issues.

[2018-07-17 15:54] Akasurde commented on #42898
I would recommend you to write a role instead of single file with multiple roles. You can have multiple play in single yaml file like this -

[code]

Console

[code]

[2018-07-17 16:22] carstenkoester opened #42901 "os_user module fails in multidomain environment"
##### SUMMARY

In an OpenStack environment with multiple domains and when using keystone (identity) API v3, os_user module fails with HTTP 401 "The request you have made requires authentication"

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

os_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

On Ansible and control host side, no specific platform depen

[2018-07-17 16:36] ckoester2 commented on #42901
The error symptom (HTTP/401) is somewhat misleading.

See eg. https://bugs.launchpad.net/horizon/+bug/1415588 for a more detailed discussion around this issue.

Bottom line is, when using keystone v3 and multiple domains, all user operations (creating users, deleting users, listing users) must be scoped to the domain.

In current os_user module, *creating* the user is domain-scoped (if a domain is

[2018-07-17 16:57] andreaso commented on #40445
Yeah, now that I have had few weeks of vacation I'm much more up to looking at Ansible bugs :-)

After having done a bit of reading as well as a bit of testing I'm convinced that your suggestion `cur_record['data'] != new_record['data']` is the test we want.

@sevs44936 : Feel like submitting the PR yourself, or do you want me to do it?

[2018-07-17 16:58] ckoester2 commented on #42901
Included in PR #42899

[2018-07-17 17:20] Alex5252 commented on #42541
The previous comment about the testing was incorrect. I apologize.
Tested pr #42730. The expected functionality does work.

[2018-07-17 17:23] amaciel81 opened #42906 "ec2 module: tags are added AFTER provisioning instance"
##### SUMMARY

EC2 instances provisioned by ec2 module are created without tags. Once the instance is created and up, the tags are added. This prevents certain IAM policies to work.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ec2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux 3e65fc0e0163 4.9.87-linuxkit-aufs #1 SMP Wed Mar 14 15:12:16 UTC 2018 x86_64

[2018-07-17 17:33] housysadm opened #42907 "use of "section" instead of "include" in ios_user.py"
##### SUMMARY

Some of my IOS switches do not have "section" available. They do work when I change the code to use "include" instead of "section".
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_user
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_GATHER_TIMEOUT(/opt/e-local/ansible_projects/network/ansible.cfg) = 20
DEFAULT_HOST_LIST(/opt/e-local/ansible_projects/network/ans

[2018-07-17 17:57] gundalow commented on #42874
@mikewiebe Any thoughts on this?

[2018-07-17 18:03] GMartinez-Sisti commented on #34196
I'm having the same issue with 2.6.1. I'm trying to include a role that has a tag named "config", but the role either runs all the tasks within, when the tag provided is part of the include_role statement, or it doesn't run at all.

Can we get some more clarity on this issue please?

[2018-07-17 18:06] amaciel81 commented on #42906
By the way, *ec2_group* has exactly the same problem.

[2018-07-17 18:35] #42116 closed, assigned to nobody

[2018-07-17 20:05] ckoester2 commented on #42901
Similar change is also required in case of user deletion -- added as an additional commit in PR #42899.

[2018-07-17 20:17] sevs44936 commented on #40445
I hope that I've done this correctly: https://github.com/ansible/ansible/pull/42910

[2018-07-17 20:29] LucidOne commented on #42898
Roles obviously make sense for some tasks and manually merging everything into a single file and filtering out the document start/stop markers will work.

However, I think there are cases where it makes sense to be able to batch multiple plays together.
Especially for simpler cases of bootstrapping localhost where clarity may be more important than the abstractions of roles.

[2018-07-17 20:31] carstenkoester opened #42911 "os_user_role module fails in multidomain environment"
##### SUMMARY
In an OpenStack environment with multiple domains and when using keystone (identity) API v3, os_user_role module fails with HTTP 401 "The request you have made requires authentication"

This is essentially a spin-off off #42901 but for a different module.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

os_user_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

####

[2018-07-17 20:41] HD650 commented on #42546
I try to reproduce this in gdb and with a python built in debug mode, then found the error happened when python wants to garbage collect a dict during exit:
[code]
The content of this dict has three items which provides some clue:
[code]
So the cffi package must relavant to this issue. Then I did some tests, it seems the segfault will happen:
1. already have `cffi` installed.
2. install `cffi==1.1

[2018-07-17 20:42] andreaso commented on #40445
The change itself looks good!

@sevs44936 Regarding the PR it's possible that you might want to recreate it with its own branch. That is, instead of using `sevs44936:devel` you will want to use `sevs44936:some-specific-branch-name`, where that specific branch is created from the devel branch.

In addition to general tidyness it also matters since any push to the PR branch in question triggers an u

[2018-07-17 20:42] bcoca commented on #42898
you can already put multiple plays in the same playbook, you do not need 'yaml multi document loading ' for that.

[2018-07-17 20:46] maughanc opened #42912 "Pickle Data was Truncated"
##### SUMMARY

Upgraded ansible to version 2.6.1
ran the following:

[code]

And received the following error:  FAILED! => {"msg": "pickle data was truncated"}

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_command
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

DEFAULT_ASK_VAULT_PASS(/etc/ansible/ansible.cfg) = True
DEFAULT_FORKS(/etc/ansible/ansible.cfg) =

[2018-07-17 20:47] ckoester2 commented on #42911
Created PR #42913

[2018-07-17 21:04] sevs44936 commented on #40445
Ahh, I see the problem. This should be better?

[2018-07-17 21:53] #42229 closed, assigned to Akasurde

[2018-07-17 22:01] maughanc commented on #42912
Added the following to playbook:
gather_facts: no

Error changed to:

fatal: [Router]: FAILED! => {"msg": "insecure string pickle"}

[2018-07-17 22:02] nhudson opened #42917 "Ansible won't convert string to int"
##### SUMMARY
When looking up variable that is an int, ansible converts to string and wont convert back to int.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws_application_scaling_policy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

`include.yaml`
[code]

`test.yaml`
[code]

##### EXPECTED RESULTS

Create ASG policy f

[2018-07-17 22:03] #42677 closed, assigned to nobody

[2018-07-17 22:27] #22922 closed, assigned to abadger

[2018-07-17 22:58] #38921 closed, assigned to nobody

[2018-07-18 00:58] OxHobbs opened #42920 "Azure Dynamic Inventory Script fails with Azure Government"
##### SUMMARY
Bug when using the Azure Dynamic Inventory script.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS High Sierra 10.13.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

JSON output of Azure resources in the resource group named _ansible_

##### ACTUAL RESULTS

[code]

[2018-07-18 01:51] LucidOne commented on #42898
I'm trying to get it to work with multiple single file playbooks, but it looks like I missed something obvious. `Usage: ansible-playbook [options] playbook.yml [playbook2 ...]`
Jeez.

`ansible-playbook -i'localhost,' -K play-01.yml play-02.yml`
Solves my problem and only asks for the sudo password once.

Thanks for the help.

[2018-07-18 01:51] #42898 closed, assigned to nobody

[2018-07-18 03:09] Fred-sun commented on #42920
Hi @OxHobbs if you want get azure resource group info, you can use this command to try ('python azure_rm.py --resource-groups RG-name' , Does this meet your mind? Thanks

[2018-07-18 03:19] OxHobbs commented on #42920
Thanks @Fred-sun, I am trying to use the dynamic inventory when running the ansible commands.  However, even when I use the Python script directly with the _cloud environment_ AzureUSGovernment I get a similar error.  See below:

[code]

[2018-07-18 03:21] MrBones757 commented on #40380
Hello,
Just wondering when this will be included in a release of Ansible.
We require this functionality at the organisation i work at and have been using the version of the module provided in the PR as a "custom module". This is less than ideal in our configuration due to the way projects are structured among other things.

Just after a timeline / additional info.

Thanks for the awesome contribut

[2018-07-18 03:56] Fred-sun commented on #42920
I can run successfully and get the resource group's resource info as below, maybe cause by account or authorize , I will try again, Thanks!
[code]

[2018-07-18 04:11] Akasurde commented on #40445
resolved_by_pr #42914

[2018-07-18 04:13] #40445 closed, assigned to nobody

[2018-07-18 04:39] zigarn commented on #42891
@mattclay at the time I wrote this issue, 2.4.6 wasn't released yet and 2.4.5 (or any older 2.4.X) wasn't available (should have take a screenshot). So, for me it's solved now as I have 2.4.6.
Maybe I was looking at the wrong time during the release of 2.4.6 and old 2.4.X was pruned (except for fedora 28, which is still the case). But, from what I remember, old releases were never pruned before.

[2018-07-18 05:09] zikalino commented on #37804
already implemented in Ansible 2.6

[2018-07-18 05:09] #37804 closed, assigned to nobody

[2018-07-18 06:21] aflatto commented on #42896
is it possible for me to upload the entire playbook ( with dependencies )? so it might provide more help ?
Although I know that without these tasks the run is complete, and this only happens on the Ubuntu servers.

[2018-07-18 07:03] Fred-sun commented on #42920
Hi @OxHobbs ,Could you can create a resource group and VM, ran this command, Verify that the resource group resource information is available, Thanks!

[2018-07-18 07:33] rajatumrao commented on #22691
This will be Really great Plugin to help launch spot Fleet. Thanks In advance.

[2018-07-18 07:35] rajatumrao commented on #22691
@ansibot That will be The great Freature if we can implement it quickly. Thanks In Advance

[2018-07-18 08:00] kwbr commented on #42672
I would call this a defect because ansible-console is not usable without configuring it first. That is not very user friendly and should be changed. Also, it is not clear that the color used for the prompt is `ANSIBLE_COLOR_HIGHLIGHT`.

Please reconsider your decision to close this report.

[2018-07-18 08:03] gisundar opened #42926 "group_vars variables not getting picked up in playbook"
##### SUMMARY

[code]
hosts files->
[code]
group_vars folder has a file named DEV.yml
Which has variables defined as follows
[code]
In my playbook I am referencing it like this
[code]
It fails with error message saying
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL R

[2018-07-18 08:04] wookietreiber opened #42927 "allow to override dict keys in vars"
##### SUMMARY

I cannot override / change / overwrite (nested) dict values in vars files, e.g. in `host_vars` or `group_vars`. (I'm using *override* in the rest of the issue because it's the correct word to use in this context. I want to leave *change* and *overwrite* here so people searching for these words still find this issue.)

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

vars

###

[2018-07-18 08:34] gtema commented on #42588
@mrunge, of course you would not find openstacksdk in the ansible spec, since it is not the ansible dependency, but module dependency. This is how it works in ansible - each module might have it's own "dynamic" dependencies. Otherwise it would not be feasible to provide one Ansible that fits everybody.
Compare i.e. https://docs.ansible.com/ansible/latest/modules/gc_storage_module.html#gc-storage-m

[2018-07-18 08:39] GMartinez-Sisti commented on #34196
Thanks @willthames, I'm trying to call the `elastic.elasticsearch` role (https://github.com/elastic/ansible-elasticsearch) which has the tags:
- [always, config, install, java, plugins, scripts, templates, xpack]

Here is my setup:

**playbook.yml**
[code]
**custom_role/tasks/main.yml**
[code]

**custom_role/tasks/app_elasticsearch.yml**
[code]

I'm calling the playbook with:
- `ansible-playbook -

[2018-07-18 08:40] ganeshrn commented on #41104
@francisjes It looks like a timeout issue, can you please [enable debug logs](https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#enabling-networking-logging-and-how-to-read-the-logfile) and try the troubleshooting steps mentioned [here](https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#timeout-issues)

needs_inf

[2018-07-18 08:44] mrunge commented on #42588
@gtema when installing ansible via distro package, you'll get the modules as well. You don't need to specify the modules you want. Thus you should get the requirements for modules as well.
I can't see, how both linked requirements are contradicting each other.

[2018-07-18 08:49] gtema commented on #42588
no, this is not how it works. Sure, you get all the modules. But in order to use those modules you might need additional dependencies to be installed locally (or in some cases on remote targets). Distro package provides only things required for ansible itself to function, but not for each individual module. Try using AWS modules from ansible without installing boto3 library.

[2018-07-18 08:50] ganeshrn commented on #39167
@eimis05 While moving from connection: local to connection: network_cli there is change in the way privilege escalation is done. Please refer https://docs.ansible.com/ansible/latest/network/user_guide/platform_ios.html#connections-available for more details.
Also blog https://www.ansible.com/blog/porting-ansible-network-playbooks-with-new-connection-plugins is a good reference point

[2018-07-18 08:52] Fred-sun commented on #30392
Hi @matt, @nitzmahone  Do you agree with yuwzho minds? if you agree, this is not a bug, we can close it, Please confirm it, Thanks!

[2018-07-18 08:53] ganeshrn commented on #39167
@depereo Since the issue you can seeing is related to httapi connection plugin can you please raise it in a new Github issue so that it is not lost in Github comment. This original issue is related to network_cli connection plugin.

[2018-07-18 08:55] mrunge commented on #42588
I totally get how it works; you're distributing ansible with modules, but leave out requirements for the modules. When a user needs this or that module, then the user has to take care of providing requirements for these modules.
I have seen the warnings, reported by ansible, when a library is not installed.

I'm saying, it should be packaged differently, so that the step of a user in charge to dow

[2018-07-18 08:56] Akasurde commented on #42926
Hi @gisundar !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows

[2018-07-18 08:56] #42926 closed, assigned to nobody

[2018-07-18 09:01] gtema commented on #42588
Than it is a totally wrong place for the discussion. For me this is kinda
core Ansible discussion.

On Wed, 18 Jul 2018, 10:57 Matthias Runge, <notifications@github.com> wrote:

[2018-07-18 09:07] mrunge commented on #42588
Right, that's what I said like 30 mins ago.

Ideally, upstream and downstream should collaborate on those things.

[2018-07-18 09:15] willthames commented on #34196
In this instance, the `tags: elasticsearch` applies the `elasticsearch` tag to everything in the included tasks file.

The quickest fix is to remove `tags: always` from your custom_role/tasks/main.yml.

However, `include` is being replaced by `include_tasks`, and `include_tasks` seems to have the same rules as `include_role`, so to be future proof, use `include_tasks` with `tags: always`.

[2018-07-18 09:19] ganeshrn commented on #42719
Adding a new option `set_netconf_port` might be confusing to novice junos users.

How about adding the below in the module doc string to make things much more clear for both experienced and novice junos operators?
[code]

[2018-07-18 09:19] ganeshrn commented on #42719
Not quite clear when you say newer role style module. Are you referring to network role development [here](https://github.com/ansible-network)
BTW we have stopped active development of new net_ modules.

Happy to have help in form of PR's, feature request and Github issues.
FYI we have weekly irc meeting in `ansible-network` channel on freenode https://github.com/ansible/community/tree/master/grou

[2018-07-18 09:32] Lambdara opened #42929 "requirements.yml version malfunctions when number"
##### SUMMARY
When the version of a role in `roles/requirements.yml` is a number, `ansible-galaxy install -r roles/requirements.yml` gives an error, because it reads the version as a number rather than a string.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`ansible-galaxy`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[2018-07-18 09:36] yamada-k-ts opened #42930 "get_url module does not work ansible 2.6.1"
##### SUMMARY
get_url module does not work

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
get_url module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS High Sierra
10.13.5（17F77）

##### STEPS TO REPRODUCE
it doesn't work
[code]

##### EXPECTED RESULTS
get_url module should work correctly

##### ACTUAL RESULTS
[code]

[2018-07-18 09:39] k-yamada-4105156 commented on #42930
when ansible 2.6.0, 2.5x , it worked.

my environment below.
[code]
[code]
[code]

[2018-07-18 09:42] k-yamada-4105156 commented on #42930
and it works below.
without get_url module
[code]

[2018-07-18 09:43] Akasurde commented on #42539
@jacksonp2008 Any news?

[2018-07-18 09:45] Akasurde commented on #41890
@aksharbarot Any news ? need_info

[2018-07-18 09:52] #37177 closed, assigned to nobody

[2018-07-18 10:13] laurent-perrin opened #42932 "na_ontap_net_ifgrp: cannot use list for nodes"
##### SUMMARY
When using a list for defining nodes with module na_ontap_net_ifgrp, the playbook ends with error

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
na_ontap_net_ifgrp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OS: Ubuntu 18.04
Netapp: AFF200 with cdot 9.3

##### STEPS TO REPRODUCE
Run the playbook

task:
[code]
variable:
[code]

##### EXPECTED RES

[2018-07-18 10:16] Lambdara opened #42933 "Can't update version of a role using ansible-galaxy without removing it myself"
##### SUMMARY

Say you write a role and put it in version control. You need it at some point so you install it. Later on you fix something in it, you update the version in your `requirements.yml` and `ansible-galaxy install -r requirements.yml` again. That doesn't work, it gives the error `/path/to/role doesn't appear to contain a role.`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`ansi

[2018-07-18 10:21] LukeRussell commented on #42719
By "role-style" modules I was referring to things like `ios_vrf` or `ios_logging`. The functions that can be pieced together using the more generic `*_config` and `*_command` modules. My intent when creating this Issue was to get more power into `junos_netconf` to cover more use cases (including ours).

I'm getting the impression though that I'm not getting any other traction, so content to close

[2018-07-18 10:21] #42719 closed, assigned to ganeshrn

[2018-07-18 10:30] Zorrom opened #42935 "Need assistance with Post provisioning tasks in AWS EC2"
##### SUMMARY

Using Ansible playbook I am able to spin up a Windows instance in AWS Ec2 and I want to perform post tasks like adding that windows machine to a domain. I need assistance with the next set of codes, and attaching my current working code below as follows

My code is spinning up the windows vm successfully and I have an Administrator user there. So my post tasks is to run another play

[2018-07-18 10:34] justjais commented on #42420
PR to resolve the issue is raised and once merged will be queued for 2.7 release.

[2018-07-18 10:35] biohazd opened #42936 "EFS - add support for new Provisioned Throughput"
##### SUMMARY
EFS - add support for new Provisioned Throughput
https://aws.amazon.com/about-aws/whats-new/2018/07/amazon-efs-now-supports-provisioned-throughput/

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

efs module - EFS - add support for new Provisioned Throughput

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EX

[2018-07-18 10:42] ZuZuD commented on #42906
That seems to be related to an unfortunate boto incompatibility, the library doesn't allow the run_instances() method to associate tags [1], therefore that's done after instance creation through create_tags() [2].

However, tag association at instance creation is supported by the API call definition now [3] and boto3 [4]. But since ansible-aws uses boto, I am afraid that would stay a corner case.

[2018-07-18 10:48] justjais opened #42937 "Deleting existing host_record when same host_record name is used with different IP"
##### SUMMARY

 Using the nios_host_record module to declare a host record (state: present) with an already existing name but a different IP address causes a new record to be created (state: changed), and the previously existing record to be silently removed, rather than returning an error.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nios
##### ANSIBLE VERSION

[code]

##### CONFIGURATI

[2018-07-18 10:50] tripledes opened #42938 "ansible-doc cannot find documentation fragments when those live outside of ANSIBLE_HOME"
##### SUMMARY
When using documentation fragments outside of ANSIBLE_HOME, ansible-doc is not able to find the `fragment_class`. The same way `library` and `module_utils` can be (re)defined in ansible.cfg I couldn't find a way to specify my `utils` directory where my fragments are at the moment.

##### ISSUE TYPE
 - Feature Request

##### COMPONENT NAME

ansible-doc

##### ANSIBLE VERSION

[code]

[2018-07-18 10:52] justjais commented on #42937
This behavior is happening because as per the current design Ansible code is calling `PUT` call on this instead of `POST`, and `infoblox wapiclient` as existing record check in `POST` call but not in `PUT` call.

[2018-07-18 11:00] jOOc commented on #38398
With #39726 this worked, but after the revert #40131 this now breaks again

[2018-07-18 11:07] jOOc commented on #42229
@Akasurde yes now it works, thank you!

[2018-07-18 11:51] jOOc commented on #42229
This still doesn't work (only tested on RHEL7)
The issue seams to be that the dnsSuffixList is not escaped.

With my bad python skills I managed to get it to work by changing this
` globalip.dnsSuffixList = '" ".join(dns_suffix)`
To this:
` globalip.dnsSuffixList = '\"' + " ".join(dns_suffix) + '\"'`

[2018-07-18 12:08] Akasurde commented on #42229
@jOOc How are you specifying `dns_suffix` ?

[2018-07-18 12:14] resmo opened #42942 "Rename the vultr module prefixes from vr_ to vultr_"
##### SUMMARY

as pointed out by @dagwieers the prefix for vultr modules `vr_` is not recognizable and as vultr is a relatively short name, it would probably help in the future to free the vr_ "namespace" for others (with a much longer name". That is why we should rename all vultr modules prefixes to `vultr_`

Todos:
- [x] Check  BOTMETA
- [x] Modules
- [x] Docs in modules
- [x] Upgrade notes
- [x

[2018-07-18 12:17] dagwieers commented on #42942
@resmo Thanks for this !

[2018-07-18 12:23] joezersk opened #42943 "vmware_host_vmnic_facts fails when host has more than one vswitch"
##### SUMMARY
Using **vmware_host_vmnic_facts** module with vCenter 6.7 fails when the host has a mix of vSwitch and DVS at the same time.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_host_vmnic_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No special configurations
##### OS / ENVIRONMENT

Ansible Server:  Ubuntu 16.04.4 LTS
vCenter Server: 6.7
ESX Hosts:  6.0 and 6.5

[2018-07-18 12:31] jOOc commented on #42229
@Akasurde
In vars like this
[code]
And then in module by this:
[code]

[2018-07-18 12:48] aflatto commented on #42896
I managed to find the issue, for some reason the unacrhcive variable
mode: "u=rwx,g=rx,o=r"
changed the parent directory permissions and removed the execution access.

still an odd issue.

[2018-07-18 12:49] #37752 closed, assigned to nobody

[2018-07-18 13:03] chewdevs commented on #42932
After some deeper tests, it seems the issue is not related with the list but rather with the second node name cloud-nas-y02n-prd.

This node name is present in the cluster and the following ontap command is working:
`network port ifgrp create -node cloud-nas-y02n-prd -ifgrp a0a -distr-func ip -mode multimode_lacp`

[2018-07-18 13:19] schmots1 commented on #42932
If you try this without looping the nodes, and just using the second node does that work from the playbook?

[2018-07-18 13:36] usharaniyerra opened #42947 "windows batch file execution failing from Ansible"
##### SUMMARY

When i try to execute some windows .bat file from Ansible..it is executing all the commands inside .bat file individually..and throwing some error on Ansible..

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

"win_command"

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.7 (Santiago)

##### STEPS TO REPRODUC

[2018-07-18 13:47] tbouvet commented on #42897
Existing protocols in ssl module are:
[code]
Maybe we have to change defautl **ssl_version** value from **docker_common**.

[2018-07-18 13:52] Qalthos commented on #41581
resolved_by_pr 41659

[2018-07-18 13:52] Qalthos commented on #41191
resolved_by_pr 41659

[2018-07-18 13:52] OxHobbs commented on #42920
Hi @Fred-sun, so I have two profiles in my azure credentials file at ~/.azure/credentials that look like this:

[code]

default is my AzureUSGovernment subscription
commercial is my standard AzureCloud subscription

When I run the azure_rm.py inventory script like below you can see the results.

__Default Profile__
[code]

__Commercial Profile__
[code]

[2018-07-18 13:53] #41581 closed, assigned to Qalthos

[2018-07-18 13:53] #41191 closed, assigned to nobody

[2018-07-18 13:57] acozine opened #42949 "doc pages for renamed modules should direct users to new name"
##### SUMMARY
When we rename/move a module, we should continue to generate a docs page for that module. The docs page should redirect users to the new module:

"The `old_module_name` module has been renamed. Please use [`new_module_name`] instead."

Right now we [add the deprecated module to the list of aliases for the new module](https://github.com/ansible/ansible/blob/devel/docs/bin/plugin_forma

[2018-07-18 13:58] lemmy04 commented on #24962
can you please elaborate on "shell wasn't installed where ansible was looking"? What did you do to fix this?

[2018-07-18 14:00] ganeshrn commented on #42719
That's is one of the reason we are moving to roles which is more faster and scalable approach. I have share the link to Github repo is above comment. The work is under active development.

I completely understand the intent, but I don't get a compelling 'technical' reason to enable netconf on two ports simultaneously. As i understand the current behaviour of junos_netconf is not blocking any funct

[2018-07-18 14:02] cmuller commented on #42054
Without support for the `--mount` option, one can only have a single "volume-driver" for all the volumes used in the container. With this option, we could specify a different volume-driver for each volume, e.g., one nfs and one local. So I find this suggestion quite useful. :)

[2018-07-18 14:04] trishnaguha commented on #39860
resolved_by_pr https://github.com/ansible/ansible/pull/39874

[2018-07-18 14:10] #39860 closed, assigned to nobody

[2018-07-18 14:11] dagwieers commented on #42896
@aflatto It's because of the empty entry because you used `--strip-components=1` on your directory with binaries.

[2018-07-18 14:17] bcoca commented on #42949
There are 2 cases but we mostly use the second:
  - pure alias: this is just another name for the same module, these won't go away anytime soon.
  - deprecated alias: this is mostly a rename or when we create a new module to do the work of the old one, this will eventually go away.

The difference is that the 2nd case has a leading `_` (denotes deprecated) in the name of the symlink (indicates ali

[2018-07-18 14:22] kinwolfqc commented on #38320
Hi,  I'm having the same problem that the shell isn't waiting for one step to complete before doing the next.  I replaced vmware_vm_shell.py with the one from the pr but the behavior is still the same.  Here is how I use the shell to launche some powershell command to be able to configure winrm:

      vm_shell: 'c:\windows\system32\windowspowershell\v1.0\powershell.exe'
      vm_shell_args: '{{ i

[2018-07-18 14:31] jhawkesworth commented on #42947
Best way to stop/start/restart a windows service is to use the ```win_service``` module.
You haven't shared the contents of the .bat file so almost anything could be happening in here.

However the error message states:

```ERROR: Input redirection is not supported, exiting the process immediately```

So I guess the .bat file is doing something like

a_command < some_file

Also you are using win_c

[2018-07-18 14:31] #42947 closed, assigned to nobody

[2018-07-18 14:41] andyeff opened #42954 "wait_for does not redirect user to win_wait_for for windows targets"
##### SUMMARY

The documentation page for the wait_for module states "This module is also supported for Windows targets" however this may lead people to believe that this module will work on Windows, when instead the win_wait_for module should be used.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

wait_for
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/e

[2018-07-18 14:49] Lambdara opened #42956 "Service reports changed when nothing changed."
##### SUMMARY
Starting fail2ban with the service module always reports `changed`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`service` (Actual task)

`sysvinit` (Actually used, according to debug information)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Using Arch Linux to manage a `ubuntu:18.04` Docker container.

##### STEPS TO REPRODUCE

In a `

[2018-07-18 14:59] Lambdara opened #42957 "Service module reports changed when actually failed"
##### SUMMARY
Starting fail2ban with the service module and a missing required file reports `changed` even though it actually failed to start.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`service` (Actual task)

`sysvinit` (Actually used, according to debug information)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Using Arch Linux to manage a `ubu

[2018-07-18 15:19] justjais commented on #39386
Doc for lookup pluggins are currently available at: https://docs.ansible.com/ansible/2.6/plugins/lookup.html like other Ansible pluggins.

So, going ahead and closing the bug.

[2018-07-18 15:19] #39386 closed, assigned to nobody

[2018-07-18 15:29] robinro commented on #26867
@akshay196 Feel free to open a PR as "WIP" early, I'd be happy to help.

[2018-07-18 15:37] aperum opened #42958 "FreeBSD: add services not only in rc.conf"
##### SUMMARY
On FreeBSD the service.py code is capable of detecting several different config files (rc.conf, rc.conf.local, ...) which is used throughout the module but not when setting new variables.
For setting the new variables the system tool sysrc(8) is used which defaults to altering
the rc.conf file only. But there is a command line switch to specify the used config file.

##### ISSUE TYPE

[2018-07-18 15:40] benjdudas opened #42959 "Add ISSU support for Nexus 5k and 7k devices with `nxos_install_os`"
##### SUMMARY

Currently on the N9K's are listed as supported with the ISSU option in `nxos_install_os`, and was hoping it is possible to get this support added for the Nexus 5&7K devices as well.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

nxos_install_os
##### ANSIBLE VERSION

[code]

[2018-07-18 15:44] chewdevs commented on #42932
I tried without the loop and it's not working with the second node, even if this node exists in the cluster.

[2018-07-18 15:47] webknjaz commented on #42546
Looks related: https://bitbucket.org/cffi/cffi/issues/368/segmentation-fault-in-hp-ux

[2018-07-18 15:48] amit0701 commented on #42932
@chewdevs Can you add the ports e0c and e0d to ifgroup a0a  using command line. The above command only created the ifgroup. The module, creates and adds the ports to the ifgroup

[2018-07-18 15:54] espressobeanies commented on #36410
How long does it take for these to be resolved?

[2018-07-18 16:01] NorbertRonecker opened #42960 "Ansible-playbook run fails if ANSIBLE_VAULT_PASSWORD_FILE is set and empty."
##### SUMMARY

Hello There, if the Environment Variable ANSIBLE_VAULT_PASSWORD_FILE is empty but set, (to override specific ansible.cfg Settings, on the current working dir), which is not wanted by me personal. I get the following error:
[code]
Ansible acts like the Variable is set to ".", which in my case is unusefull, i want to type the password in by myself.
I use the following Command: `ANSIBL

[2018-07-18 16:05] chewdevs commented on #42932
I did the following command and it worked:

[code]

[2018-07-18 16:11] Akasurde commented on #38320
@kinwolfqc Could you please whole playbook ? Are you using `wait_for_process: True` as this parameter will wait for process ?

[2018-07-18 16:14] #41562 closed, assigned to nobody

[2018-07-18 16:20] Akasurde commented on #42614
@dhurtakolha I am able to reproduce this in my environment. `vmware_guest` does not support IPv6 yet.

[2018-07-18 16:22] bozho opened #42963 "s3_bucket creates buckets, but fails in eu-west-2/3"
##### SUMMARY
Creating buckets in eu-west-2, eu-west-3 creates a bucket, but returns an error. eu-west-1, eu-central-1, us-east-*, us-west-* work fine.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
s3_bucket

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None.

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

Running the task below with region set to "eu-west-1", "eu-central-1", o

[2018-07-18 16:31] HD650 commented on #42546
After some debugging and testing, @webknjaz and I have a reasonable assumption:
The segfault happens because the playbook tries to reinstall package who is also a dependency of Ansible. In our case, the package is `cffi`. Basically what happened is like:
1. When initialized, Ansible needs to encrypt data so it import `cryptography`, and `cryptography` relies on `cffi` in some places.
2. The playbo

[2018-07-18 16:33] mhalano commented on #24037
I think you mean "serial" per play or per task. I ran some tests and the option "forks" is a very low level option which use to avoid overload on controller node. I ran a play with "serial = 3" and "forks = 2" and the task ran on 3 hosts, just slowly because Ansible waited one fork to finish to start another fork.

[2018-07-18 16:37] HD650 commented on #42546
To reproduce this bug we can do without Ansible, like this:
[code]

[2018-07-18 16:44] gundalow opened #42964 "NIOS infoblox User Guide"
##### SUMMARY
I wonder if we are at the point where it would be useful to add a basic "Scenario Guide" for NIOS, statr basic and build up

Perhaps this could live in https://docs.ansible.com/ansible/latest/scenario_guides/guides.html like the ACI guide?

* Quick overview of what Infoblox is and when you'd need to
* Link to modules
* Link to `lookups`
* Some basic examples

Via docs_fragments every

[2018-07-18 16:57] egeexyz opened #42966 "Flatpak module throws when installing Kdenlive via Flathub"
##### SUMMARY
The new Flatpak module throws a `TypeError: a bytes-like object is required, not 'str'` when attempting to install Kdenlive from Flathub.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
flatpak

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default - nothing changed

##### OS / ENVIRONMENT
Running on Manjaro (Arch Linux)

##### STEPS TO REPRODUCE
Run a playbook that attempt

[2018-07-18 17:05] gundalow commented on #42959
What happens if you try the existing module on Nexus 5&7K?

[2018-07-18 17:13] #42486 closed, assigned to s-hertel

[2018-07-18 17:21] gundalow commented on #40013
@mikewiebe Not that we have `net_put` and `net_get` I wonder if they are better options?

Though those other modules don't support NX-API

[2018-07-18 17:21] saichint opened #42968 "nxos_facts warning message not clear"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_facts
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I7(3)
##### STEPS TO REPRODUCE

Currently when we run nxos_facts with ```feature lldp``` disabled, it throws a warning message:
[code]
This is very confusing because all the facts do get populated except for ll

[2018-07-18 17:33] #41108 closed, assigned to HD650

[2018-07-18 17:41] mikewiebe commented on #40013
@gundalow Possibly but we have also enhanced nxos_file_copy to initiate the copy from the nxos device instead of pushing files from the Ansible server to the device. (See https://github.com/ansible/ansible/pull/42424)

We believe that this will scale better when large images + 1000's of devices are involved and also it will support accessing a file server instead of using the Ansible server as the

[2018-07-18 17:56] #29533 closed, assigned to abadger

[2018-07-18 18:03] Kdecherf commented on #42417
Hello,

There's another related issue, as it can be fixed in the same PR I'm using this issue report: the `routing_key` is not encoded which prevents the module to find if a change is needed when using `#` in it.

As a side-effect, when you use `routing_key: #` the first get call will actually call the parent endpoint which always returns 200 OK as it returns an array of all bindings for the coupl

[2018-07-18 18:43] abadger opened #42972 "Drop Python 2.6 support controllerside"
##### SUMMARY

For Ansible 2.7, Python-2.6 support is being dropped.  Need to make sure docs and testing are ready for this change.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
* Controller-side code
* docs
* tests
* Send an emal to ansible-project and ansible-devel once PRs for docs and tests are merged

##### ANSIBLE VERSION

[code]
##### Additional Information
* Controller-side code: S

[2018-07-18 18:56] kinwolfqc commented on #38320
Ok, upon further testing:

    wait_for_process: True
is causing the "msg": "L’autorisation d’effectuer cette opération a été rejetée."  (Authorization to perform this operation was rejected)

If I remove it, that message is gone, but there is no waiting for the task to complete, obviously.

[2018-07-18 19:06] benjdudas commented on #42959
On the N5K's its a disruptive upgrade and will run the upgrade when the `show install all impact` check is listing the install as disruptive.

[2018-07-18 19:31] phannon716 opened #42974 "gcp_compute.py: allow for home path expansion with ~"
##### SUMMARY

In gcp_compute.py, "~" is not being expanded.  This requires hard paths to be defined in configurations. This is a problem when multiple users are used.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

gcp_compute.py

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

With a hardcoded path of:
[code]
Returns:
[code]

If it is changed to:
[c

[2018-07-18 19:46] andreaso commented on #39465
@Nothing4You: Feel like taking a look at https://github.com/ansible/ansible/pull/42973? It ought to fix the TTL change detection.

[2018-07-18 19:50] Nothing4You commented on #39465
@andreaso I'm on vacation for this week, I can test after that.

[2018-07-18 20:04] ikhan2010 commented on #42964
I like this idea.  I think it will be helpful to have an Infoblox scenario guide.

[2018-07-18 20:07] acozine commented on #42964
The information in https://www.ansible.com/blog/infoblox-integration-in-ansible-2.5 could provide a basis for this guide. I think this would make a good first project for @samccann.

[2018-07-18 20:09] aksharbarot commented on #41890
@Akasurde Thank you for providing workaround. it worked as expected in large inventory.

[2018-07-18 20:29] briantist opened #42977 "elb_network_lb doesn't work correctly with subnet_mappings, preventing EIP support from working"
##### SUMMARY
The `elb_network_lb` module documentation shows support for using either `subnets` which is a list of subnets, or `subnet_mappings` which is a list of dicts containing a `SubnetId` key, and optionally an `AllocationId` key to specify an EIP to use for that subnet.

Trying to use subnet mappings on a new NLB fails saying that subnets is a required parameter.

If the NLB exists and is

[2018-07-18 20:30] jborean93 opened #42978 "ConfigureRemotingForAnsible.ps1 LocalAccountTokenFilterPolicy"
##### SUMMARY
There are a few cases where `LocalAccountTokenFilterPolicy` needs to be set to 1 to enable WinRM to authenticate over NTLM. IIRC `winrm quickconfig` and `Enable-PSRemoting` should set this key by default but this seems to be not happening with some newer hosts. From what I can see, the registry key is not being set because

* We don't have an explicit check on the key
* We don't call

[2018-07-18 20:34] nerzhul commented on #39465
exact, TTL is not checked, and then not updated, i confirm.

[2018-07-18 20:46] edevenport commented on #40425
@aajdinov Can you update the documentation accordingly?

[2018-07-18 21:31] seifer44 opened #42980 "vmware_drs_rule_facts does not list VMs for vm-to-host type rules"
##### SUMMARY
`vmware_drs_rule_facts` module does is only showing the `rule_vms` section for vm-to-vm type rules. This section is omitted with the vm-to-host type rules.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_drs_rule_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-07-18 21:46] tonyskapunk opened #42981 "package module does not use apt implementation for local .deb files"
##### SUMMARY
Attempting to install a local `.deb` file through `package` results in a failure, but `apt` module implements a supported way to do this.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

package

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04
Ubuntu 16.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RE

[2018-07-18 21:48] comtaler commented on #42278
@wimnat yes. that's what i meant

[2018-07-18 21:58] gundalow commented on #39022
Will need updating to cover https://github.com/ansible/ansible/pull/42847

[2018-07-18 22:27] kylerisse opened #42982 "lambda_event module fails to create SQS based events"
##### SUMMARY

lambda_events module cannot properly create SQS based events due to incompatibility with starting_position source parameter.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lambda_event
##### ANSIBLE VERSION

2.5.4
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

create lambda sqs event mapping task to correctly cre

[2018-07-18 22:28] hinrikus opened #42983 "Permission denied for mkdir .ansible with a become user"
##### SUMMARY

In a task using command module Ansible wants to a create a .ansible folder in workdir when using become.
This may fail because the user has not enough permissions to create a directory in this folder.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

empty
##### OS / ENVIRONMENT

Arch Linux controller, remote Debian S

[2018-07-18 22:35] dagwieers commented on #24037
@mhalano No, I definitely mean **forks** as **serial** has a different behaviour where it processes targets in a batch before continuing with the next batch. This was explained above.

[2018-07-18 22:35] kylerisse commented on #42982
I tested bypassing ansible and writing a quick python script to test boto. This worked fine:
[code]

Also tested through Ansible by commenting out lines 324 & 325 from https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/lambda_event.py on my local install. This worked well and Ansible output the following:

[code]

I'm not sure if simply commenting that out is the right

[2018-07-18 23:21] dericcrago commented on #38398
hi @jOOc - I just created a PR for what I believe to be the fix. Are you able to test https://github.com/ansible/ansible/pull/42984 ?

[2018-07-18 23:37] eric-becker commented on #42642
Yup, that's perfect. Thanks!

[2018-07-18 23:38] #42642 closed, assigned to nobody

[2018-07-19 00:02] dagwieers commented on #42954
@andyeff Why don't you edit the documentation and propose a fix ? That's more useful than this issue.

[2018-07-19 00:03] dagwieers commented on #42954
Beware though that the **wait_for** module does work for Windows targets, but not *on* Windows targets. So it may be useful to make that distinction as well.

[2018-07-19 00:03] andyeff commented on #42954
Oh I didn’t know I could! Will look into it tomorrow.

On Thu, 19 Jul 2018 at 01:02, Dag Wieers <notifications@github.com> wrote:

[2018-07-19 00:04] MrBones757 commented on #29149
I've created a PR for this issue.
See: https://github.com/ansible/ansible/pull/42029

[2018-07-19 00:05] dagwieers commented on #42954
@andyeff Every module documentation has an "Edit on GitHub" button at the top, and a link at the bottom. This will allow you to edit the module (documentation) and creates a PR. Pretty simple.

Thanks for considering !

[2018-07-19 00:06] #38768 closed, assigned to rcarrillocruz

[2018-07-19 00:10] andyeff commented on #42954
Oh hmm not sure the distinction was clear. After all you’re normally not
dependent on the target os when checking a port, just whether it is
listening and if it returns certain data - I’ll have a full read in the
morning, maybe I misread the doc (although for example stat and copy
specifically point out their windows counterparts).

On Thu, 19 Jul 2018 at 01:03, Dag Wieers <notifications@github.co

[2018-07-19 00:10] andyeff commented on #42954
Thanks Dag, I will try to remember this going forwards!

On Thu, 19 Jul 2018 at 01:06, Dag Wieers <notifications@github.com> wrote:

[2018-07-19 01:29] Fred-sun commented on #42920
Yeah, If you use commercial profile to access ansible resource group, Does this output the group resource information.

[2018-07-19 01:32] OxHobbs commented on #42920
I posted an example of the output using the commercial profile.  It works properly.

[2018-07-19 01:34] sunshine69 opened #42986 "aws_ssm_parameter_store Key error 'Description'"
##### SUMMARY

Ansibel module aws_ssm_parameter_store stop working with error 'Key Error Description'

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ubuntu 18.04
ansible installed using pip install -U ansible

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Play passed

##### ACTUAL RESULTS

Play e

[2018-07-19 02:34] yuwzho opened #42987 "azure_rm_aks: support get_access_profile"
##### SUMMARY

Get the kubeconfig from AKS.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

azure_rm_aks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

[code]
Download kubeconfig from aks with this play.

##### ACTUAL RESULTS

[code]

[2018-07-19 02:39] zswanson opened #42988 "postgresql_ext has no (clear) parameter to specify a non-default unix_socket_dir"
##### SUMMARY

The postgresql_ext module doesn't have a clear way to set the login_unix_socket; it can be done in an odd way, but there's no documentation on this. Using the 'as documented' configuration of the module, it will fail if the postgresql installation was configured to use a unix_socket_directory that is not located at /tmp/.

##### ISSUE TYPE
 - Bug Report
 - Documentation

##### COMPO

[2018-07-19 02:41] riponbanik opened #42989 "Cannot import role into galaxy using different name than the repo name"
##### SUMMARY
Since Ansible Galaxy UI does not allow renaming the role, I was trying to import the role using the command below -
sudo ansible-galaxy import --role-name=password_policy riponbanik ansible-role-password-policy

It imported successfully but with the repo name -

Successfully submitted import request 263842
INFO Starting import: task_id=263842, repository=riponbanik/ansible-role-passw

[2018-07-19 03:17] jborean93 commented on #38535
Just to add my experience here

I played around with the side by side installed with win_chocolatey and found it really messes around with the package metadata, making it had to find out what was actually installed. This in turns causes issues around idempotency on multiple runs and even issues with trying to remove the package later on.

I was going to try and add this into the refactor of the mo

[2018-07-19 03:18] jborean93 commented on #38526
Does Chocolatey have a way of doing this, I'm not aware of this functionality.

[2018-07-19 03:22] #29562 closed, assigned to nobody

[2018-07-19 03:42] jborean93 commented on #42733
Can't you also do this

[code]

The inventory itself is populated without any variables while any variables are stored in group/host vars.

[2018-07-19 03:47] manojtr opened #42990 "environment parameter on include_tasks not setting the environment variable for tasks included"
##### SUMMARY
`environment` parameter on `include_tasks` not setting the environment variable for tasks included from a file

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
If I set the `ENV_FOO` on the CLI then it prints that from the /tmp/env.txt file.

Test

[2018-07-19 03:53] jborean93 commented on #42846
You should look at using async which set's a timeout on the task and kills the remote process once the timeout is reached. For example

[code]

Will result in the following error

[code]

[2018-07-19 03:53] jborean93 commented on #42846
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-07-19 03:53] #42846 closed, assigned to nobody

[2018-07-19 03:57] jOOc commented on #38398
@dericcrago that fix worked great for me. Thank you

[2018-07-19 04:02] jborean93 commented on #42930
This was fixed with https://github.com/ansible/ansible/pull/42396 and will be available in the 2.6.2 release.

[2018-07-19 04:02] #42930 closed, assigned to nobody

[2018-07-19 04:03] #42968 closed, assigned to nobody

[2018-07-19 04:05] Akasurde commented on #41890
@aksharbarot Thanks for info. I will mark this as resolved. Please feel free to re-open if problem persists.

[2018-07-19 04:05] #41890 closed, assigned to Akasurde

[2018-07-19 04:07] Akasurde commented on #42642
@eric-becker Thanks. Would you be interested in adding your comments in `vmware_guest_disk` so that we can expedite the merge process ?

[2018-07-19 04:14] Akasurde commented on #42990
!component -lib/ansible/module_utils/aws/core.py

[2018-07-19 04:15] Akasurde commented on #42990
cc @sivel

[2018-07-19 05:40] jmartensson opened #42991 "wait_for_connection - Failed to reset connection"
##### SUMMARY

Getting `Failed to reset connection:Control socket connect` when using wait_for_connection module

This is on latest nightly build `ansible-2.7.0-1.201807181949git.2c4ba7a9e9.el7.ans.noarch.rpm`

These warnings does not show up on latest stable `ansible-2.6.1-1.el7.ans.noarch.rpm`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

wait_for_connection

##### ANSIBLE VERSION

[cod

[2018-07-19 05:45] jborean93 commented on #42991
Out of curiosity does this occur when you do

[code]

Can you also let me know your OpenSSH version with `ssh -V`

[2018-07-19 05:51] jOOc commented on #42991
@jborean93 When adding the ping task before the warning in wait_for_connection disappeared

`OpenSSH_7.4p1, OpenSSL 1.0.2k-fips  26 Jan 2017`

[2018-07-19 05:54] ChillarAnand commented on #24962
I think ansible looks for shell in `/bin/sh` which doesn't exist on android by default. Start adb with root and symlink that path to any valid shell.

[2018-07-19 05:54] Akasurde commented on #42980
@seifer44 Thanks for reporting this issue. Could you please check #42992 and let me know if it works for you ?

My output with new change -

[code]

[2018-07-19 05:58] jborean93 commented on #42991
Thanks, will see if I can try and replicate it and come up with a solution. My guess is that a ControlPath is defined but doesn't exist when it comes to the reset part in wait_for_connection which we should handle. When running ping first then the ControlPath is set and was used so no warning.

[2018-07-19 06:33] thatsk commented on #42733
not working following is result
[code]

[2018-07-19 06:46] Fred-sun commented on #31023
Hi @parmstro Do you still have this question, if you want create a page blob, you can use "blob_type: page" parameter to set blob type, test yml and run result as below. Does this meet your minds?

[code]

[2018-07-19 07:00] AndreasDavour commented on #38392
This is still broken in 2.6

[2018-07-19 07:06] k-yamada-4105156 commented on #42930
thank you for your notice

[2018-07-19 07:15] Fred-sun commented on #31237
Hi @BipinXavier Do you still have this issue, if you have, please give more details info to analysis ,you can set the description of this issue with this template: https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISSUE_TEMPLATE.md.
In addition,if you don't have this issue, please let me know and we will close it, Thanks!

[2018-07-19 07:30] morenod commented on #24136
+1

[2018-07-19 07:46] ptux commented on #42983
@hinrikus

It's NOT reproducible.

[2018-07-19 07:49] Tomorrow9 opened #42995 "Request adding support for CD/DVD ROM attach to SATA controller"
##### SUMMARY
Found that the created new VM, CD/DVD drive attach to the IDE controller, and this can not be configured to SATA controller. Most of our VMs deployed manually using SATA controller, we want to schedule our test in this case.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### ST

[2018-07-19 07:59] liyaka opened #42998 "grafana_datasource - Failed to create prometheus datasource"
##### SUMMARY
Failed to create prometheus datasource

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
grafana_datasource

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Ubuntu 16.04

##### STEPS TO REPRODUCE
My call:
[code]
**Creating datasource with the same parameter from UI works fine.**

##### EXPECTED RESULTS
Datasource is created

##### ACTUAL RESULTS
I

[2018-07-19 08:03] Akasurde commented on #42943
@joezersk Thanks for reporting this issue. Could you please check above patch and let me know if it works for you ?

[2018-07-19 08:09] Tomorrow9 opened #43000 "Request for NVMe controller support"
##### SUMMARY
From ESXi 6.5, NVMe controller is supported. We want to create new VM with disk controller set to NVMe.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
ESXi 6.5 and later.

##### STEPS TO REPRODUCE
Add support "vim.vm.device.VirtualNVMEController()" virtual device for hardware version

[2018-07-19 08:12] josemanuel-garcia commented on #42104
This doesn't work for me. I hope this can be reviewed anytime soon, we can't afford to remove the full NSG and recreate it in our production environments.

[2018-07-19 08:21] Peneheals commented on #32534
Bump.

[2018-07-19 08:32] josemanuel-garcia commented on #42104
As I wrote in the issue definition, changing the names of all the rules in the NSG is the only workaround that seems to be working for us so we are setting a timestamp as a suffix for all the rule names in the playbook. Ugly but working fine so far.

[2018-07-19 08:35] #42954 closed, assigned to nobody

[2018-07-19 08:44] andrewhowdencom opened #43003 "mysql_user: Does not accept the `require x509` syntax"
##### SUMMARY

The problem is that the MySQL user creation function does not allow the enforcement of TLS mutual authentication via the `REQUIRE X509` statement.

This results in something like:

[code]

and it's not handled by the set here:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/database/mysql/mysql_user.py#L213-L221

The `X509` option has the same options as the `SSL`

[2018-07-19 08:47] forquare commented on #24884
OS/Environment:
ansible 2.6.1 (installed via pkg(8)) running on FreeBSD 11.2, managing Windows 10 Pro 64-bit running on VMware ESXi.

Windows Computer name: win-jenkins-test

PowerShell version: 5.1.17134.164 (where: major.minor.build.revision)

DotNet:
Both 3.5.20160716 and 4.7.2053.0 via chocolatey

Our connection configuration looks like this:
[code]

Running setup against the Windows machine i

[2018-07-19 08:58] pavelperkin commented on #36438
@ryansb , @dmsimard - this PR solves this issue https://github.com/ansible/ansible/pull/42618
It is waiting for a merge.

[2018-07-19 09:15] dagwieers commented on #19817
I am going to close this issue in favor of #39587.

[2018-07-19 09:15] #19817 closed, assigned to jhawkesworth

[2018-07-19 09:19] renatoram commented on #24884
@jborean93 I have an update and a probable cause (and solution, for me)

The problem is that "File and Printer Sharing Service" is turned off on all interfaces, *and* the Server service is down (or both).

**Steps to reproduce:**

1. On all network interfaces, remove the "File and Printer Sharing" feature
2. Restart the Server service (LanmanServer)
3. Reboot the machine

The win_user module will

[2018-07-19 09:23] abarbare opened #43005 "Scaleway inventory on achived machines"
##### SUMMARY
The Scaleway dynamic inventory doesn't work if it matches a box which has an archived state.

[code]
This can be explained by the fact an archived VM doesn't have a location defined through the Scaleway API

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

Create two Scalewa

[2018-07-19 09:37] denngie opened #43006 "ucs_vlans add support for vlan groups"
##### SUMMARY

Would like to see support for vlan group as a parameter in the ucs_vlans module. I think the python code in [this](https://github.com/CiscoUcs/ucsmsdk_samples/blob/master/ucsmsdk_samples/network/vlan.py) example could be useful
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

ucs_vlans
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Debian 9.5

[2018-07-19 09:37] seuf commented on #42998
HI. The error message is about a connection problem : `Connection failure: [Errno 104] Connection reset by peer`.
Are you sure your grafana server is started and listening on localhost (not only the public ip) ?
Do you have iptables configured ?

[2018-07-19 09:42] liyaka commented on #42998
Same error running grafana_dashboard:
[code]
The error for each dashboard:
[code]

[2018-07-19 09:54] jborean93 commented on #24884
Thanks @renatoram for looking at that and finding the issue. Sounds like we need to move away from a solution that relies on RPC/SMB as we can see it is not always available.

[2018-07-19 10:07] thonacker opened #43007 "os_recordset AttributeError: 'str' object has no attribute 'get'"
##### SUMMARY
Trying to add DNS records with the module os_recordset

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_recordset

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_SUDO_FLAGS(/Users/User/.ansible.cfg) = -H -S

##### OS / ENVIRONMENT
ProductName:	Mac OS X
ProductVersion:	10.13.5
BuildVersion:	17F77

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The record sh

[2018-07-19 10:15] DavidZisky opened #43008 "docker_image: load image without specifying the name"
##### SUMMARY

Currently docker_images module does not allow to load images from tar file without specifying the name of the image, which besides is an issue by itself (sometimes You don't know image name upfront) but most importantly does not allow to load multiple images from one tar file

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

docker_image module

##### ANSIBLE VERSION

[code]

[2018-07-19 10:16] thonacker commented on #43007
##### OS + version

also tested with ansible 2.6.1 and python 2.7 (macOS) = same problem
also tested with ansible 2.5.1 and python 3.6 (macOS) = same problem
also tested with ansible 2.6.1 and python 3.6 (ubuntu 16.04) = same problem
also tested with ansible 2.5.1 and python 2.7 (ubuntu 16.04) = same problem

##### API

API calls are working

[code]

but **not** within this order

[code]

[2018-07-19 10:31] joezersk opened #43009 "Feature Request: vmware_host_vmnic_facts show attached vSwitch"
##### SUMMARY
Feature Request:  Is it possible to have the **vmware_host_vmnic_facts** module return values that show any attached vSwitches / Distributed switches to these vmNICs?

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

vmware_host_vmnic_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I wo

[2018-07-19 10:35] hawksight opened #43010 "roles_path does not use multiple locations"
##### SUMMARY

The `roles_path` does not support multiple locations as suggested in the `ansible.cfg` comments:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible.cfg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I have only set the `roles_path` in ansible.cfg. During debugging I have also used the `ANSIBLE_ROLES_PATH` environment variable to see if it has the same effec

[2018-07-19 10:35] zacps opened #43011 "ini_file module does not support files containing some non-ascii characters"
##### SUMMARY

Using the ini_file module on a file which contains particular non-ascii characters throws a `UnicodeDecodeError`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`ini_module`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/root/ansible/ansible.cfg) = [u'/root/ansible/hosts.yml']
DEFAULT_MODULE_PATH(/root/ansible/ansible.cfg) = [u'/root/ansible/library/

[2018-07-19 10:40] #27960 closed, assigned to nobody

[2018-07-19 10:40] bitsnorbytes opened #43012 "Win_DSC PSCredential conversion error for Ansible > 2.4.6"
##### SUMMARY
I am installing SQL server via win_dsc and I am receiving the below error

`Convert property 'RSSvcAccount' value from type 'STRING' to type 'INSTANCE' failed`

This is the error you observe when you try to pass a PScredential as String. As per Ansible documentation,

However, the parameter 'RSSvcAccount' doesn't have a password counterpart since we assign service accounts such as 'N

[2018-07-19 10:41] forquare commented on #24884
@renatoram On the machine I am seeing this on, "File and Printer Sharing" is turned on and listening on 0.0.0.0:445.  Firewalls are turned off.  Rebooting the machine, nor restarting the Server service seems to fix it for me.

[2018-07-19 10:50] jborean93 commented on #43012
@ParidaPunyasloka can you fill out the fields in the template provided. Knowing the way the win_dsc task is written, the resource and the values used will help us replicate it ourselves and find a solution for you.

Also having the output with `-vvv` on the failed version helps a lot.

needs_info

[2018-07-19 11:00] liyaka commented on #42998
@seuf You're right, it was a connectivity issue, thanks!

[2018-07-19 11:00] #42998 closed, assigned to nobody

[2018-07-19 11:04] renatoram commented on #24884
@jborean93 I briefly looked into it and according to MS documentation there doesn't seem to be many alternatives. There's a ["LogonUser" API](https://support.microsoft.com/en-ca/help/180548/how-to-validate-user-credentials-on-microsoft-operating-systems) but I'm no coder (especially no Windows coder) so I'm not able to test it.

@forquare also check the status of the SMB services: there are severa

[2018-07-19 11:10] jborean93 commented on #24884
@renatoram yea I have a feeling our choices are going to be quite limited. We already have some examples of using LogonUser through P/Invoke so it is entirely possible. Will have to play around and see what we can come up with as `ValidateCredentials` seem to be quite brittle as evident by this thread.

[2018-07-19 11:12] Akasurde commented on #42614
@dhurtakolha Could you please test this branch https://github.com/ansible/ansible/compare/devel...Akasurde:i42614 and let me know if it works for you ?
You need to specify ipv6 with this patch as -

[code]

note that for VMware API, ip is required option for setting ipv6 parameter.

needs_info

[2018-07-19 11:16] Akasurde commented on #42995
@Tomorrow9 Thanks for reporting this issue. Could you please try this https://github.com/ansible/ansible/pull/39285 and let me know if it works for you ?

Without patch vmware_guest adds all devices to IDE controller and if multiple disks and CD rom is attached. With patch it will add it SCSI controller.

needs_info

[2018-07-19 11:16] #42943 closed, assigned to Akasurde

[2018-07-19 11:18] Akasurde commented on #43000
@Tomorrow9 Thanks for the feature request.

[2018-07-19 11:19] Akasurde commented on #43009
@joezersk Thanks for this feature request.

[2018-07-19 12:02] Akasurde commented on #43009
@joezersk Would you be interested in testing this branch - https://github.com/ansible/ansible/compare/devel...Akasurde:i43009 ? For me it is returning -

[code]

[2018-07-19 12:23] ITD27M01 opened #43015 "Python3 YAML inventory parsing error"
##### SUMMARY

yaml file does not parsed not loaded by ansible 2.6.1 as inventory source
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

inventory
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.5 (Maipo)
python36 from software collection
##### STEPS TO REPRODUCE

1. Create inventory/production.yaml file with conten

[2018-07-19 12:25] #41917 closed, assigned to Qalthos

[2018-07-19 12:27] #40724 closed, assigned to nobody

[2018-07-19 12:30] Flakebi opened #43016 "local_action and with_items mix up facts between hosts"
##### SUMMARY

When using a `local_action` in conjunction with `with_items`, ansible mixes up variables between hosts.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

local_action

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Each hostname should get its own inventory name printed out.
[cod

[2018-07-19 12:34] Qalthos commented on #37948
This has been cherry-picked into 2.5 and 2.6

[2018-07-19 12:34] #37948 closed, assigned to Qalthos

[2018-07-19 12:35] #41482 closed, assigned to Qalthos

[2018-07-19 12:43] zakstar commented on #19765
+1

[2018-07-19 13:21] tonyskapunk commented on #42981
!component =lib/ansible/plugins/action/package.py

[2018-07-19 13:32] ryansb commented on #42986
Please try out https://github.com/ansible/ansible/pull/43020 and see if that resolves your issue

[2018-07-19 13:33] renatoram commented on #24884
So, the script completes with no error (False just means the user is not there or the password is wrong, which is probably correct if you used the script as-is without putting in one of your own users), which is consistent with my testing. If you change the two variables at the top of the script with one of your valid users and passwords do you get True?

On my machines the script exited with the

[2018-07-19 13:46] parmstro commented on #31023
Yes!
Sorry just haven't tested it yet. Please close this issue.

Cheers,
Paul

On Thu, Jul 19, 2018 at 2:47 AM Fred-sun <notifications@github.com> wrote:

--
Paul Armstrong
Principal Solution Architect
Red Hat
647-285-0044
http://blog-parmstro.redhatsa.ca <https://blog-parmstro.redhatsa.ca>
*This is Open Source! - let's collaborate, we'll go farther and faster
working together!*

[2018-07-19 14:05] caphrim007 commented on #38392
@AndreasDavour, if something is not working, providing a reproduction of the problem, relevant to your environment, is helpful

[2018-07-19 14:07] #42484 closed, assigned to bcoca, samdoran

[2018-07-19 14:07] ryansb commented on #42935
The most commonly recommended option is to use a Powershell user-data script that will enable winRM and associated certs/passwords. You can try this script:

[code]

For further advice/info, try one of our community channels such as #ansible on Freenode, or the Ansible mailing list: https://docs.ansible.com/ansible/latest/community/

It also downloads: https://raw.githubusercontent.com/ansible/ans

[2018-07-19 14:07] #42935 closed, assigned to nobody

[2018-07-19 14:08] assafho opened #43021 "onyx_l2_interface module failure"
##### SUMMARY
onyx_l2_interface module failure when configuring interface as access port, on onyx version 3.6.6000 and above.
Looking on the switch logs, I noticed that ansible execute "show interface switchport | json-print " and then exit. I guess it has a problem with the output of this command.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
onyx_l2_interface.py

##### ANSIBLE VERSION
2.

[2018-07-19 14:14] forquare commented on #24884
@renatoram very odd.  I had already replaced your sample credentials with the account here, I've double checked and my credentials are indeed still there.  Running the script still returns False...

This is way above me, so aside from running stuff I'm afraid I don't really know what to do

[2018-07-19 14:23] Qalthos commented on #40187
In trying to replicate this, I have had the exact opposite experience... eapi detects the error, while cli responds with changed.

That said, I have improved the error handling on both sides, and all four configurations (network_cli, httpapi, and local with both transports) should respond with a useful error message as of the above PR. Once that is merged, I'll see how invasive it will be to backp

[2018-07-19 14:28] #28928 closed, assigned to rcarrillocruz

[2018-07-19 14:34] juame opened #43025 "firewalld module fails to remove forwarding"
##### SUMMARY

When I try to remove a port forwarding with `state: disabled` I've get an exception saying: `ERROR: Exception caught: org.fedoraproject.FirewallD1.Exception: %x format: a number is required, not NoneType Permanent and Non-Permanent(immediate) operation`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

firewalld

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / EN