[2017-10-05 19:42] hryamzik commented on #30768
needs_info

[2017-10-05 19:48] s-hertel commented on #12246
needs_contributor

[2017-10-05 19:49] lucastheisen opened #31376 "Add a way to list existing resources in OpenShift by Kind"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

oc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

From: CentOS 7
To: CentOS 7

##### SUMMARY

I am using ansible to manage my NFS persistent volumes.  Its easy enough to create/remove both NFS volumes and openshift PersistentVolumes using existing modules.  However, in order to clean up volumes that are no longe

[2017-10-05 19:53] ypid commented on #12710
Did you read the summary 😉 ? The difference is that `failed_when` is evaluated after the task is run. With `ok_when == True` on the other hand, the task would not be run in the first place. This can come in handy when we already know that the desired state is already applied. Can you reopen?

[2017-10-05 19:58] loomsen opened #31377 "docker_container module not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Containers get restarted/recreated on every run, even though nothing changed. No idempotency.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Expected to leave the running containers untouched when no parameters change.

####

[2017-10-05 19:58] jcortejoso opened #31378 "elb_target_group UnboundLocalError: local variable 'new_target_group' referenced before assignment"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cloud/amazon/elb_target_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed
##### OS / ENVIRONMENT

Running from docker container with:
[code]
##### SUMMARY

Trying to create an ELB Target group, if the target does not exist the execution fails to me.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The ELB tar

[2017-10-05 20:02] bcoca commented on #12710
`ok_when == True` would be the same as  `when: False` and `failed_when: False`

[2017-10-05 20:10] ypid commented on #12710
Right, except that the task would show up as `skipped` where we know for a fact that it is `ok`.

[2017-10-05 20:10] jeffmhastings commented on #28822
~~is there any workaround?~~ I got past this using `delegate_to: 127.0.0.1` instead of local_action

[2017-10-05 20:15] sivel commented on #12710
I don't understand the argument that `ok_when` should run before the task.  That would be inconsistent with how things like `failed_when`/`changed_when` run.  I am +1 on the decision to close this ticket.

[2017-10-05 20:18] cjimison opened #31380 "Will there be an include_handler added soon?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

include_handler

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

With Ansible 2.4 the - include command was deprecated and I found that the following commands were added:

include_playbook
include_tasks

However I cannot find an include_hander

What is the correct way to include handlers now?  Docume

[2017-10-05 20:21] sivel commented on #31380
Handlers are just tasks, use `import_tasks` for an equivalent to a static `include`

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-10-05 20:21] #31380 closed, assigned to nobody

[2017-10-05 20:32] lucastheisen commented on #31376
I have an initial implementation that works:
[code]
However, I am not sure you want to use `NamedResource` for something without a name...  Also not sure the branching is ideal.  But it does work, and allows for my use case.

[2017-10-05 21:13] bobbywatson3 commented on #30768
I’m away from my computer for the next few days. I’m guessing you weren’t able to duplicate this?

The interfaces file was super basic, just a loop back and eth0 configured for dhcp.

[2017-10-05 21:14] zahna commented on #22924
Why is this ticket closed? `any_errors_fatal: true` is still non-functional on Ansible 2.4.0.0. For anyone curious, the workaround I put in place is setting `max_fail_percentage: 0` in my playbooks.

[2017-10-05 21:31] eikef commented on #18844
close_me

[2017-10-05 21:35] #18844 closed, assigned to nobody

[2017-10-05 21:45] eikef commented on #29357
... which has been merged now, so this issue is resolved :-)

[2017-10-05 21:45] eikef commented on #29357
close_me

[2017-10-05 21:51] #29357 closed, assigned to nobody

[2017-10-05 21:51] #24735 closed, assigned to nobody

[2017-10-05 21:53] eikef commented on #24508
With #22614 this usecase is indeed now possible :-)

[2017-10-05 21:53] eikef commented on #24508
close_me

[2017-10-05 22:02] cognifloyd opened #31382 "Inventory plugins: skipping files without using exceptions in parse()"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
InventoryManager and Inventory Plugins

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_FORCE_COLOR(env: ANSIBLE_FORCE_COLOR) = True
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 5
DEFAULT_INVENTORY_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/home/ubuntu/.ansible/plugins/inventory', u'/usr/share/ansible/plugins/inventory', u'/opt/mynamespa

[2017-10-05 22:03] #24508 closed, assigned to nobody

[2017-10-05 22:07] dan-osms opened #31383 "ec2_group doesn't allow for target of prefix list."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nada

##### OS / ENVIRONMENT

Mac 10.13 (High Sierra)

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Feature request would like to apply prefix list to a target within an SG.
##### ACTUAL RESULTS

[code]

[2017-10-05 22:40] eikef commented on #24407
If visible_name in 2.3 was not explicitly set to something this would also lead to a loss of idempotency. This should be fixed with #31388. At least in my local testing I now have idempotency again.

Please reopen if you still have this problem, though I would think it is fixed now.

[2017-10-05 22:40] eikef commented on #24407
close_me

[2017-10-05 22:47] travis-bear commented on #21513
I haven't opened a bug because I wanted to be able to say more than "it's still slow."  But unfortunately I don't have more to offer than that right now.

[2017-10-05 22:48] #24407 closed, assigned to nobody

[2017-10-05 22:51] hryamzik commented on #30768
Yep, it just works for me. Or predictably fails if I have eth0 in config and try to edit eth1.

[2017-10-05 23:03] jamessewell commented on #22924
Interesting - it was fixed at one stage!

On Fri, 6 Oct 2017 at 8:14 am, zahna <notifications@github.com> wrote:

[2017-10-05 23:06] kustodian commented on #30136
Any updates about this issue? Was a PR created?

[2017-10-05 23:33] nomasprime opened #31390 "Can't find pexpect"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

expect

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_VAULT_PASSWORD_FILE(/Users/nomasprime/.ansible.cfg) = /Users/nomasprime/.ansible_password

##### OS / ENVIRONMENT

Mac OS 10.12.6

##### SUMMARY

Can't find pexpect

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-10-05 23:50] fseesink commented on #24411
I believe I'm experiencing the same issue.  I'm getting a very similar error as the OP and the system on which it's failing is also a Cisco IOS 15.2 system, though in my case it's a physical Cisco 3750X-24PS running IOS Version 15.2(4)E5.

But let me level set with your new issue template:

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
[code]

##### CONFIGU

[2017-10-05 23:51] #27385 closed, assigned to nobody

[2017-10-06 00:03] sivel commented on #31390
pexpect must be installed on the target machine, not the local Ansible controller.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-10-06 00:03] #31390 closed, assigned to nobody

[2017-10-06 00:11] nomasprime commented on #31390
@sivel local is the target.

[2017-10-06 00:23] pilou- commented on #31390
@nomasprime could add the tasks below at the beginning of your test playbook and paste the output in a comment ?
[code]

[2017-10-06 00:28] russmac commented on #28820
This warning message is reproducible on Stretch with:

[code]

It still greps successfully and returns 0 on match

[2017-10-06 00:40] wimnat commented on #22025
I can confirm this bug.  Needs fixing asap imo.

[2017-10-06 00:51] nitzmahone commented on #31336
Yeah, it's an oversight that source path validation is occurring on the module side- that should only happen with `remote_src` (when the path is obviously a Windows path).

[2017-10-06 00:53] fseesink opened #31391 "Receive fatal: [mgtnes51]: FAILED! => {"changed": false, "failed": true, "msg": "unable to retrieve current config", "stderr": "timeout trying to send command: show running-config", "stderr_lines": ["timeout trying to send command: show running-config"]} when running playbook with ios_config module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

DEFAULT_ASK_PASS(/Users/frank/ansible/ansible.cfg) = True
DEFAULT_FORKS(/Users/frank/ansible/ansible.cfg) = 30
DEFAULT_GATHERING(/Users/frank/ansible/ansible.cfg) = explicit
DEFAULT_HOST_LIST(/Users/frank/ansible/ansible.cfg) = [u'/Users/frank/ansible/inventory.txt']
DEFAULT_MODULE_N

[2017-10-06 01:03] sivel commented on #31390
I see that you are brew installing python, which likely means that pip2 is installing somewhere in `/usr/local/` and the correct python interpreter is `/usr/local/bin/python`.

Ansible uses a default python interpreter for module execution as `/usr/bin/python`, which would not have access to your `pexpect` install.

I don't see the inventory or the full playbook, so I'll assume that you have local

[2017-10-06 01:04] nitzmahone commented on #31342
Just out of curiosity- what does the following task output for you on the same host when run with `-v` (trying to narrow down the issue):
[code]

also, are you using a shell other than bash on the SLES host?

[2017-10-06 01:07] jborean93 commented on #31336
@kinware are you able to try out https://github.com/ansible/ansible/pull/31392, it works when I've manually tested it and once merged we can get it included in the upcoming 2.4.1 release.

[2017-10-06 01:40] nitzmahone commented on #22924
It's working properly in 2.4.1 + 2.5 (devel)...

[2017-10-06 01:44] nitzmahone commented on #31359
You should probably use your support contact for Tower to get this figured out- there's not enough information here to nail this down to a core issue- it's probably Tower configuration related...

[2017-10-06 01:44] #31359 closed, assigned to nobody

[2017-10-06 01:49] nitzmahone commented on #31375
cc @abadger - guessing we need to add calls to heuristic arg-masking in some actions as well...

[2017-10-06 01:53] fseesink commented on #31391
Of course, I post this, and now a few hours later while doing some more testing, I found a few more oddities.  First, it's not as cut and dried as being an issue with 3750X switches running IOS 15.2 code.  I ran it against other switches in our DC which are also 3750X switches running the same 15.2 code, and those worked!

But here's something that may be useful.  All of the switches on which the

[2017-10-06 02:16] fseesink commented on #31391
Ok, never mind.  I found the issue.  In retrospect I should've realized from the error message, but I'm still getting used to all this.  Apparently the ios_config module is timing out when trying to do the "show running-config" command as the error indicates.  I figured it simply wasn't working.  But no, the issue is exactly that.  If you log into that switch stack and do a "show run", it takes mu

[2017-10-06 02:16] #31391 closed, assigned to nobody

[2017-10-06 03:07] rahushen commented on #30439
@trishnaguha the issue is seen only on D1 images running on the N7K platform. I assume that you'll see the same behavior on titanium. The module works fine for N9K.

[2017-10-06 03:11] Akasurde commented on #26240
@DerSalvador I think this is fixed in [this PR](https://github.com/ansible/ansible/pull/27254). Could you please retry and let me know if it works for you?

[2017-10-06 03:18] Akasurde commented on #30327
@kerugu I am assuming that you are facing issue while VM poweroff operation (screenshot). There is a new module [vmware_guest_powerstate](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest_powerstate.py) which can manage powerstate of VMs. Could you please try this module and let me know if it works for you ? Also, let me know if my assumption is wrong.

[2017-10-06 03:38] kinware commented on #31336
@jborean93 Thanks for the quick fix! I applied the "query_args.pop('src', None)" fix to win_copy.py - and our deployments started working again. Awesome!

Leaving issue open until #31392 has been merged.

[2017-10-06 03:48] danieljaouen opened #31398 "sourcing hacking/env-setup.fish doesn't work properly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

```hacking/env-setup.fish```

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS X

##### SUMMARY

sourcing ```hacking/env-setup.fish``` doesn't work properly

##### STEPS TO REPRODUCE

[code]
yields:
[code]

##### EXPECTED RESULTS

Expect env-setup.fish to work correctly.

##### ACTUAL RESULTS

Reveals erro

[2017-10-06 03:57] bcoca commented on #31374
That would not follow the pattern of bad module arguments, it should end up in a failed task though like:

`fatal: [localhost]: FAILED! => {"msg": "'lola' is not a valid option in debug"}`

[2017-10-06 04:20] wimnat commented on #31378
That variable is only referenced if the call to `modify_target_group_attributes` fails.  It looks like your target group should of been created but the attribute modification fails.  Do you have suitable AWS permissions to allow that to happen?

[2017-10-06 05:19] broferek commented on #31341
Hi,

here is my Python version : Python 2.6.6

I'll let you know what I find out if I can test with 2.7

Thanks,

Ludo

[2017-10-06 05:21] bcoca commented on #31341
dict comprehensions are not available until 2.7, code needs to be updated

[2017-10-06 05:23] #31336 closed, assigned to nobody

[2017-10-06 05:26] jborean93 commented on #31336
Hey @kinware, I am going to close the issue as the changes have been merged into devel and the stable-2.4 branch, this is be available in the 2.4.1 release.

[2017-10-06 05:28] broferek commented on #31341
Thanks Brian,

This is bad as Python 2.6.6 is delivered with Centos 6.9 and it really prevents us from upgrading to 2.4.

Shall we open an issue on f5-sdk github with a reference to this one?

Thanks,

Ludo

[2017-10-06 06:06] duck-rh commented on #22025
@DanyC97 I did not have time to look deeper into it, sorry.

@bcoca sorry to bother you again, but this important bug has been sitting around for quite some time. Could you at least confirm the proper behavior even if you do not have time to write a patch?

[2017-10-06 06:10] kinware commented on #31336
Great! Again, thanks for stellar help!

[2017-10-06 08:34] mkayontour opened #31403 "Play Environment PATH not set properly"
In the latest version I want to set my PATH environment, and it wont be set as the documentation says it should work.

http://docs.ansible.com/ansible/latest/faq.html#how-can-i-set-the-path-or-any-other-environment-variable-for-a-task-or-entire-playbook

##### ISSUE TYPE
 - Bug Report | Documentation Report

##### COMPONENT NAME
module environment

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONME

[2017-10-06 08:52] mkayontour commented on #31403
Found that it is available at the ssh session and can be seen in the debug output!

[code]

[2017-10-06 08:53] #31403 closed, assigned to nobody

[2017-10-06 08:57] aperigault commented on #16025
Thanks for this clarification.
Finally i use hostvars['localhost']['myvar'] :-).
Problem solved.

[2017-10-06 08:57] colin-nolan commented on #30557
Duplicate of https://github.com/ansible/ansible/issues/19341, which has been fixed in 2.4.

As noted by @jardleex, a workaround for older versions would be to put a copy of the updated module in your library.

duplicate_of 19341

[2017-10-06 08:57] colin-nolan commented on #30557
duplicate_of 19341

[2017-10-06 09:02] #30557 closed, assigned to nobody

[2017-10-06 09:06] shithead opened #31404 "GCE_IMG Moduleparamter pem_file is ambiguous"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
modules/cloud/google/gce_img.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The parameter pem_file is ambiguous, it has to be paramter credentials_file like in all other Google Cloud modules.

https://github.com/ansible/ansible/blob/d8b1cb9a634d0e828a7be39d4019a6215410e643

[2017-10-06 09:27] ganeshrn commented on #30778
It seems rollback is broken in both 2.3 and 2.4.
I will raise a PR to fix it on devel branch and backport it to stable-2.4

[2017-10-06 09:38] halberom opened #31405 "constructed inventory not loaded when using dir as inventory source"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
constructed

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS

##### SUMMARY
A config file for the constructed inventory plugin is not loaded when using a dir as inventory source

##### STEPS TO REPRODUCE
Similar to https://gist.github.com/halberom/e7791aa22c7dd1ef3f1ece3c815b4af8, but using `inventory` dir

[2017-10-06 09:39] halberom commented on #31365
ok, created https://github.com/ansible/ansible/issues/31405 because it doesn't appear to be.

[2017-10-06 09:49] adampbrush commented on #14534
Ref: Destination /etc not writable errors, its worth just double checking the dest file permissions. You could try creating the destination file as an empty file and them chmod'ing it to appropriate levels. This worked for me.

[2017-10-06 09:50] halberom opened #31406 "documentation: what is the order of inventory/var plugins?"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
constructed

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS

##### SUMMARY
What is the order of plugins loaded with respect to inventory?, e.g. inventory then vars?  If I use the constructed plugin, can I access group_var variables, or only ones defined inside pre-loaded inventory files?

##### S

[2017-10-06 09:52] halberom commented on #31406
related to https://github.com/ansible/ansible/issues/31365 and https://github.com/ansible/ansible/issues/31405

I'm trying to use constructed to do pre-processing of programmatically created vars.

[2017-10-06 10:01] kpanilkumarmca opened #31407 "'hostvars' is undefined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Encountered below error:
[code]
I am using below command to define hosts value:
`- hosts: "{{ 'prod-app-servers' if hostvars['127.0.0.1'].result.stdout == 'prod' else 'dr-app-servers' }}"`

I have tried different possibilities but of no use:
`- hosts: "{{

[2017-10-06 10:33] clarkst commented on #30639
@shdobxr
Pull request is out there for the initial version
https://github.com/ansible/ansible/pull/31317

[2017-10-06 11:40] #30846 closed, assigned to nobody

[2017-10-06 11:53] philfry opened #31409 "unexpected include_task behaviour"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
n/a

##### SUMMARY
A conditional `include_tasks` is not running tasks, even though I think it should.

Back story: I have several roles that can be included either a standalone or a dependent role (like a webserver, a database role, ...) and I don't want ansi

[2017-10-06 11:55] trishnaguha commented on #30439
@rahushen After testing this on NXOS7K, looks like `ip igmp snooping report-suppression` and `ip igmp snooping link-local-group-suppression` affects no config. `show run all | include igmp.snooping` does not return those commands.
Can you please confirm if it is the same for you?

[2017-10-06 12:13] aroundthecode opened #31411 "meta refresh_inventory does not update dynamic inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
task meta: refresh inventory
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I'm using a dynamic inventory which insert additional servers only if available to ping
[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)

##### SUMMARY
I'm running a playbook suing above dynamic inventory and invoking meta/refresh_inventory to forec

[2017-10-06 12:23] moss2k13 opened #31412 "yum module doesn't detect package updates anymore"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

yum module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

After updating ansible to 2.4.0 I see that `yum` module is not updating packages anymore

##### STEPS TO REPRODUCE

Using local repos and below test playbook:

[code]

##### EXPECTED RESULTS

Using ansible 2.3.2 it works as expec

[2017-10-06 12:24] sveinou opened #31413 "Ansible hangs indefinitely on any junos_* networking modules on NetBSD"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_facts or any module that uses netconf and persistent connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_FORKS(/home/sveinov/testansible/ansible.cfg) = 20
DEFAULT_HOST_LIST(/home/sveinov/testansible/ansible.cfg) = [u'/home/sveinov/testansible/hosts']
DEFAULT_LOG_PATH(/home/sveinov/testansible/ansible.cfg) = /home/svei

[2017-10-06 12:29] mkrizek commented on #31412
@moss2k13 can you please try with `devel` and/or `2.4.1 beta2`? Your issue should be fixed there.

[2017-10-06 12:36] Nosmoht commented on #30929
Just realized that also __ansible_product_name__ is not defined if Factor facts are excluded

[2017-10-06 12:40] philayres commented on #16066
[EDIT] since I see this issue is closed I'll say no more here and transfer my discussion to the Google group...

I experience the same as @astrostl due to a username on the front. The username is necessary, since I have to segregate certain hosts this way that have the same hostname but use different ports (which Ansible sees otherwise as an identical host).

Running the following in the terminal

[2017-10-06 12:49] bcoca commented on #31341
@broferek yes, closing this as the issue is not with the module in the ansible repo but with the library imported.

If they decline to fix this in the library, we should update the requirements in the bigip modules to reflect they only work with py2.7 and above.

[2017-10-06 12:49] #31341 closed, assigned to nobody

[2017-10-06 12:52] #30997 closed, assigned to nobody

[2017-10-06 12:52] #30999 closed, assigned to nobody

[2017-10-06 12:52] aroundthecode commented on #31411
After some troubleshooting I found that the issue was not on the **meta/refresh** but on the timing of the **vmware_guest** module.

On ansible 2.2.* the module was returning an already-pingable instance, with 2.3.* it probably release the task at an early stage so that the subsequent ping cannot detect it yet.

Adding an handler on the  **vmware_guest** with a **wait_for** module for the server s

[2017-10-06 12:52] #31411 closed, assigned to nobody

[2017-10-06 12:54] bcoca commented on #31403
To clarify what is going on:
- when using `{{ansibile_env}}`  you are relying on a var that gets set by fact gathering.
-  this used to create an error as it was a 'chicken and egg issue' .. so now the fact gathering step ignores undefined errors related to `ansible_env`.
- This means it it won't use that path nor reflect the new path when setting `ansible_env`.
- After `ansible_env` is set by the

[2017-10-06 12:56] #24169 closed, assigned to nobody

[2017-10-06 12:56] #30620 closed, assigned to nobody

[2017-10-06 12:56] #30836 closed, assigned to privateip

[2017-10-06 12:59] bcoca commented on #22025
@duck-rh not sure it is a bug, this seems to be functioning by documented precedence rules, but I'll deffer to jimi-c as he has worked on this and I have not.

[2017-10-06 13:00] moss2k13 commented on #31412
Issue does not exist on:
[code]

[2017-10-06 13:10] bcoca commented on #31405
I cannot reproduce, putting both files in a directory and using `-i inv/` gets them both invoked.

I'll look at the docs expansion

[2017-10-06 13:13] bcoca commented on #31365
reproduced the issue, but put both files in `inv/` and that part does seem to work:

[code]

yields:
[code]

[2017-10-06 13:17] bcoca commented on #31365
ah, found the issue, the add_child is improperly indented
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/__init__.py#L148

[2017-10-06 13:19] ahharu commented on #14987
this is still a bug , not fixed :(

[2017-10-06 13:22] bcoca commented on #31406
Just FYI, group_vars/host_vars are not available during inventory plugin runs, they happen afterwards.

We do need to add that to our docs.

[2017-10-06 13:29] bcoca commented on #31365
after fix referenced above:
[code]

[2017-10-06 13:47] programmeroftheeve commented on #29541
This also affects_2.4

[2017-10-06 13:50] larsks commented on #12731
@calfonso I don't see how that commit relates to this issue, but it's fine to close this issue in any case; it obviously wasn't going anywhere.

[2017-10-06 14:11] narankhetani opened #31416 "bigip_facts against virtual_server fails on 'ascii' codec can't encode character"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/network/f5

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When trying to get the facts of the list of virtualservers I get this error
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I expect it to collect the virtual_servers

##### ACTUAL RESULTS

Could this be causing the failure the

[2017-10-06 14:14] halberom commented on #31405
I thought it might be my shell expansion or something, so I spun up a quick gitlab-ci solution to try
- https://gitlab.com/halberom/ansible_constructed/-/jobs/35340315  (running in centos6 - playbook)
- https://gitlab.com/halberom/ansible_constructed/-/jobs/35340326  (running in centos6 - adhoc)

both reproduce the issue, if only passed dir, the constructed plugin doesn't run.

[2017-10-06 14:24] philayres opened #31418 "SFTP fails with user@server hostnames when transferring templates"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

SFTP (for template transfer)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Standard installation , no config changes

##### OS / ENVIRONMENT

Ubuntu 16.04 local installing on Centos 6.5 guest

##### SUMMARY

I just ran across the related Github issue https://github.com/ansible/ansible/issues/16066 which is closed. The later comments in

[2017-10-06 14:36] halberom commented on #31405
I think I've figured it out.
with `enable_plugins = ini, constructed`

this works:
[code]
and ... this doesn't
[code]

[2017-10-06 14:38] halberom commented on #31405
So guessing it's getting a file list, and then iterates for ini, and doesn't reset to the start of the list for constructed.

[2017-10-06 14:44] philfry commented on #31409
fwiw: by replacing
[code]
with
[code]
I get the expected results.

[2017-10-06 14:52] nikshanpatel commented on #31407
I am also facing similar issue when dynamically updating the hosts field. It fails on the syntax check, however the playbook run fine as expected.

[2017-10-06 15:11] ggrossetie opened #31419 "pip install does not work on Windows 10 and Ansible 2.4.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible install (module `copy`, see below)

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Windows 10 Professional 64 bits

##### SUMMARY

In Ansible 2.4.0, the module `copy` use symbolic links in the tests suite: https://github.com/ansible/ansible/tree/devel/test/integration/targets/copy/files/subdir/subdir1

- `circles -> ../`
- `subdi

[2017-10-06 15:20] bcoca commented on #31405
no, dyanmic.config IS getting used by constructed .. but since there is no host data at that point, nothing happens, then hosts is processed, constructed skips, ini populates ... we are done with inventory sources.

It does not go back to previously parsed sources. It's 2 for loops (pseudo code):

[code]
the parse just has to be successful, not even yield any hosts/groups

[2017-10-06 15:20] vorakl commented on #13637
@StivOstenberg , "AWS_PROFILE=cmsstg" in the extra-vars doesn't work. The idea of this approach is to set the environment variable which can be done in a shell by several ways

AWS_PROFILE=cmsstg ansible-playbook filebeat.yml -i inventory

or

export AWS_PROFILE=cmsstg
ansible-playbook file1.yml -i inventory
ansible-playbook file2.yml -i inventory
ansible-playbook file3.yml -i inventory

[2017-10-06 15:26] kerugu commented on #30327
Hi,
Basically we need to terminate(remove the VM from VCenter), to do that first we do a poweredoff and then we do absent. So obviously if powerdoff we have to go the module, then it will fail in next step, hope you have seen the code i sent there are 2 tasks in it.
For now in VMWARE_GUEST module code itself to remove the VM, its given to use below code snippet, can we go ahead with it Or do you h

[2017-10-06 15:26] sivel commented on #31419
We do not support installing ansible directly on a windows machine.  You will need a linux like operating system to install ansible on.  This is covered in http://docs.ansible.com/ansible/latest/intro_installation.html#control-machine-requirements

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.

[2017-10-06 15:26] #31419 closed, assigned to nobody

[2017-10-06 15:26] halberom commented on #31405
That doesn't make sense - I thought that as the order was `ini, constructed`, it'd parse all ini files first, then do constructed.  But what you're saying is, it's reading each file alphabetically and processing them in order of enabled plugin.  That is not intuitive.

[2017-10-06 15:27] DaveWK commented on #18124
still broken in 2.4

[2017-10-06 15:28] bcoca commented on #31405
no, order is 'which plugin i try' the file order is independent of plugin order, since the plugins need to run to identify which files they CAN handle .. not sure how to do it otherwise.

[2017-10-06 15:28] DaveWK commented on #19472
broken in 2.4

[2017-10-06 15:31] sivel commented on #31409
To be honest here, I'm having a hard time determining what your concern/question/problem really is.

You've effectively not provided a playbook, and just listed a big chunk of outputs expected and actual, and vaguely indicated there is a difference between `import_tasks` and `include_tasks`

[2017-10-06 15:33] bcoca commented on #12731
@larsks any conflicting keys get removed, that is how the issue is fixed

A 'better' fix is in the works, namespacing facts, which would avoid the problem by having all facts under `ansible_facts.<fact>`, but this requires a transition and deprecation. On the bright side, it will not remove valid facts just because of a conflict.

[2017-10-06 15:37] halberom commented on #31405
ok, i guess this is a 'feature' then.  I was expecting something like
[code]
whereas it sounds like the loops are swapped
[code]
and i'm guessing that changing is not going to be likely/possible.

[2017-10-06 15:38] halberom commented on #31405
unless you could add a flag and some handling? `inventory_order: plugins (default: files)`
;)

[2017-10-06 15:42] bcoca commented on #31405
i would also need to mark 'sources' as parsed and remove them from the inner loop, did not seem logical.

also i expect `-i /path1/file -i /path3/file` to be parsed in that order, over plugin order.

[2017-10-06 15:42] s-hertel commented on #24340
I think this has been fixed in 63df0adc17fe8f9a8852881e6e5e99f2c9b5492a.

[2017-10-06 15:42] #24340 closed, assigned to s-hertel

[2017-10-06 15:47] ahharu commented on #14987
Any update?

[2017-10-06 16:03] halberom commented on #31405
Not sure why you'd need to mark as parsed, except for performance reasons.

Anyway, I can live with it.  Just need to change muscle memory and start prefixing all inventory files with a number.

thanks for your time!

[2017-10-06 16:03] #31405 closed, assigned to bcoca

[2017-10-06 16:04] EvanK commented on #31354
The `before`/`after` options were added in [cd39ff9](https://github.com/ansible/ansible/commit/cd39ff9996e5449aa5e777537edf0b17897fc94d) by @j-carl, and definitely should have been tested from the start.

The standalone options work as I would have expected them to work (and as the original contributed examples showed), but **the docs for them do contradict that**. And the combination of both does

[2017-10-06 16:07] Akasurde commented on #30327
@kerugu poweredoff does not remove virtual machine, only 'absent' state will remove the virtual machine.

If you could run following playbook and provide output. This will help me to find if it actually working in your environment. I am using your machine's UUID.

[code]

[2017-10-06 16:08] dan-osms commented on #31055
Ahh the issue was that I had both ~/.aws and ~/.boto plumbed. I removed ~/.boto and I am all set.

[2017-10-06 16:10] chouseknecht commented on #31338
As explained on #31340, I don't believe this is a bug.

[2017-10-06 16:10] #31338 closed, assigned to nobody

[2017-10-06 16:18] flare-ws commented on #14987
Can someone check if error is still present in 2.4?

[2017-10-06 16:25] kerugu commented on #30327
In place of hostname is it esxi_hostname or can i place just my hostname which i want to terminate

[2017-10-06 16:29] kerugu commented on #30327
Hi
Which version of Ansible has the vmware_guest_find. Currently we are using 2.3.0 Ansible, and looks like the module is not present with this version

[2017-10-06 16:34] dan-osms commented on #30639
Good deal will pull it and let you know. If satisfied next steps?

[2017-10-06 16:35] ahharu commented on #14987
@flare-ws yes it is, I stumbled across this today in 2.4.0 ( latest version available on pip )

This can be solved by passing every single variable on vars, using the "wrapped" workaround or including it inside the playbooks, in all "hosts" statements.

This adds a considerable bloat of variables in the code, and in case #3 ( including inside playbooks ) breaks the ability to override variables fr

[2017-10-06 16:38] philfry commented on #31409
@sivel please see "steps to reproduce". The playbook is in the stated git repository.

[2017-10-06 16:38] chouseknecht commented on #31377
@loomsen

Can you run the playbook with the `--diff` option, and for each task register the output and use `debug` to show the output, and then share the output. It would be helpful to know what's causing the module to think the config has changed between runs.

Thanks!

[2017-10-06 16:43] Akasurde commented on #30327
It is added in version 2.4. Could you please ping me (akasurde) on #ansible-vmware channel so that  I can help you ?

[2017-10-06 16:43] chouseknecht commented on #30852
@childnode

Try the `force_kill` option. That should do the trick. You can also use the `kill_signal` option to change the signal sent to the container.

[2017-10-06 16:43] #30852 closed, assigned to nobody

[2017-10-06 16:50] kerugu commented on #30327
Is there a way we can get into a call and you can guide me. Shall i send a zoom meeting link after an hour from now? I mean 1.30PM EST

[2017-10-06 16:50] chouseknecht commented on #30188
This is opened against the deprecated `docker` module. I think we can close this.

[2017-10-06 16:50] #30188 closed, assigned to nobody

[2017-10-06 17:12] chouseknecht commented on #29886
Looks like this was fixed by #30712

[2017-10-06 17:12] #29886 closed, assigned to nobody

[2017-10-06 17:13] childnode commented on #30852
yeah, that's a "trick" but a bad - and I doubt even not working - one, because this will totally override the use of stopping "graceful" by `SIGTERM` AND `SIGKILL` by defined or implicit timeout afterwards.

just throw in a `kill -s SIGTERM` instad of `stop` will not change anything, even it makes it less working because no SIGKILL is sent after a grace period. `absent` will fail exactly the same

[2017-10-06 17:14] fia5000 opened #31420 "delegate_to: localhost tries to SSH into localhost and Fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

delegate_to

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
The `delegate_to` option is broken in Ansible 2.4.1.0 if the task is being delegated to `localhost` (Ansible Master), Ansible tries to explicitly ssh to the localhost. When I downgraded from 2.4.1.0 to 2.3.3.0, delegate_to works correctly wit

[2017-10-06 17:19] chouseknecht commented on #29563
This was fixed by [#17496](https://github.com/ansible/ansible/pull/17496)

[2017-10-06 17:19] #29563 closed, assigned to nobody

[2017-10-06 17:20] #29598 closed, assigned to nobody

[2017-10-06 17:21] caphrim007 commented on #31416
@narankhetani did this recently start happening? or is this the first that you have ever tried it?

[2017-10-06 17:25] #31365 closed, assigned to bcoca

[2017-10-06 17:25] #31382 closed, assigned to bcoca

[2017-10-06 17:28] Akasurde commented on #30327
@kerugu I am not sure about this. Could you please ping me (akasurde) on irc channel #ansible-vmware ? I or someone else will be able to help you out.

[2017-10-06 17:53] Akasurde commented on #30327
@kerugu hostname in above example is hostname of ESXi server and NOT hostname of VM which you want to terminate.

Can you please run [this](https://github.com/jctanner/ansible-tools/blob/master/vmware/vmware_walk.py) simple script with your environment ? this will give us a better idea about VM.

[2017-10-06 17:57] loomsen commented on #31377
Hi @chouseknecht

Sure, here we go. diff shows as empty, although it changed:
[code]

Oh, and I had to downgrade to ansible 2.3 cause I ran into another bug with 2.4 while trying to test this.
So:

[code]

[2017-10-06 18:15] Raoul555 opened #31422 "Double loop on host when including a role with a with_items loop"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- play
- role
- loop
- with_items

##### ANSIBLE VERSION
ansible 2.2.2.0
  config file =
  configured module search path = Default w/o overrides

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Ansile OS: debian 9

##### SUMMARY
When using calling a role from a play with a with_items loop for a var, ansible is making a double loop on each hosts

[2017-10-06 18:16] sivel commented on #31409
Ok, that answers the no playbook question, I still can't determine what your concern/question/problem really is.

[2017-10-06 18:18] sivel commented on #31420
This indicates that you have `localhost` listed explicitly in your inventory without a definition of `ansible_connection=local`.

If you omit `localhost` from your inventory, and utilize the implicit localhost, you will automatically receive `ansible_connection=local` for localhost.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   *

[2017-10-06 18:20] fia5000 commented on #31420
@sivel I can confirm that localhost is **not ** listed in the inventory.

[code]

[2017-10-06 18:26] bcoca commented on #31420
the other option is that you have `ansible_connection=smart|ssh|paramiko` in 'all' vars, either inside inventory file or as a group_vars/

[2017-10-06 18:31] fia5000 commented on #31420
@bcoca
ansible_connection=ssh was indeed defined in the all:vars in inventory. Its interesting that never caused a problem with ansible 2.3.3

[2017-10-06 18:33] bcoca commented on #31420
@fia5000 because before 2.4 there was 'bug' (considering it now feature?) in which the implicit localhost did NOT get vars from 'all'.

[2017-10-06 18:34] bcoca commented on #31420
thinking of making this a 'toggle' and defaulting to the previous behaviour

[2017-10-06 19:20] virtuald opened #31423 "win_regedit failure when creating new values"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_regedit

##### ANSIBLE VERSION

[code]

Also affects Ansible 2.4.

##### CONFIGURATION

##### OS / ENVIRONMENT

* Ansible host: Ubuntu 16.04
* Remote host: Windows Server 2012

##### SUMMARY

Writing a JSON formatted string to a non-existent registry path will fail with an error. Oddly enough, the data is successfully written, so if you ru

[2017-10-06 19:25] ganeshrn commented on #30778
@mattlan Can you please confirm if this patch https://github.com/ansible/ansible/pull/31424 fixes the rollback issue.

[2017-10-06 19:31] bcoca commented on #31420
tested with PR above (default value is false), `lola` variable is set in `[vars:all]`.
localhost with all
[code]

localhost w/o all
[code]
bc

[2017-10-06 19:36] philfry commented on #31409
Thanks for your reply.
My concern/question/problem is that ansible acts weird.

The playbook contains a couple of roles that get included on a conditional state. In this case, only `role2` should run, because the array `server_roles` only contains `role2`.

The roles `role1` and `role2` have the `dependency-or-standalone` role as dependency. So running `role2` should run `dependency-or-standalone`

[2017-10-06 19:46] giovannisciortino commented on #31344
I tried unsuccessful to reproduce the issued describe by roumano using RHEL6/7 as managed hosts and ansible:

[code]

@soul9 I have reproduced the problem described in your [comment](https://github.com/ansible/ansible/issues/31344#issuecomment-334427146) using the ansible version describe about but it maybe unrelated to the issue opened bt roumano, I think that open a separated issue will be a bet

[2017-10-06 19:49] missnebun commented on #25660
@Akasurde Do you need anything from me ?

[2017-10-06 19:49] StivOstenberg commented on #13637
☺ Thanks for the advice.   It doesn’t hurt though, so I left it in…  Never know where it might apply (I am a rookie)

From: Oleksii Tsvietnov [mailto:notifications@github.com]
Sent: Friday, October 6, 2017 8:22 AM
To: ansible/ansible <ansible@noreply.github.com>
Cc: Stiv Ostenberg <megastiv@stiv.com>; Mention <mention@noreply.github.com>
Subject: Re: [ansible/ansible] Support AWS named profiles as

[2017-10-06 20:19] aoyawale commented on #30991
I have this playbook
[code]
Run this again and get the error.

[2017-10-06 20:27] jimi-c commented on #31178
@benashton2 can you work https://gist.github.com/Shaps/e54482807f5d6f936d793383da1168bf into your example? @Shaps was saying it appeared to be more related to using the loop than tags?

[2017-10-06 20:28] giovannisciortino commented on #31311
@NBardelot I have some problem to understand the real issue described here.
I understood that any_errors_fatal is a feature that solve your issue but you are writing that you don't want use it because it isn't bug-free.

Have you opened one or several issues related to your problems with any_errors_fatal? Which are they?
Do you think that a new feature working as any_errors_fatal but with differen

[2017-10-06 20:30] sivel commented on #30991
I cannot reproduce with the example @jlozadad provided

[code]

[2017-10-06 20:33] AloisMahdal commented on #12373
Please correct me if I'm wrong, but this makes external role unusable without excessive review.  It's enough to have one role and one playbook, or two (external) roles to not follow a sane convention and use variable like `hostname`, and trouble is inevitable.

(Also, from what I've seen, this also applies to other things like handler names.)

[2017-10-06 21:17] jcortejoso commented on #31378
Hi @wimnat, it seems you are right and we have restricted IAM permissions. With correct permissions it works as expected, although is more difficult to trace the missing permissions because the code exits due to variable undefined.

Thanks!

[2017-10-06 21:27] nomasprime commented on #31390
Thanks @pilou- and @sivel.

Adding `ansible_python_interpreter=/usr/local/bin/python2` (it's a homebrew thang) to inventory fixed this.

[2017-10-06 21:47] bretlinne commented on #13116
I needed to upgrade from 1.9.4 ansible and successfully used:
`pip install ansible --upgrade`

[2017-10-06 22:00] anl commented on #30724
This bug appears to still be present in 2.4, at least in s3_logging.  The only commits to s3_logging.py between v2.3.0.0-1 and v2.4.0.0-1 were

* f203ca7907bd3fc0e1882ab65960e6720907fe0f and
* 394e1e350c13395aa85539de6dcc9174900dbec2

which appear to be primarily metadata, and a change in imports.

[2017-10-06 23:23] wilvk commented on #29819
This is already supported in the latest version of ec2_lc

[2017-10-07 00:03] cognifloyd commented on #31406
3 thoughts:

1) A composite-vars, vars plugin might be interesting too: something that can construct vars after the rest of the vars have been loaded.

2) Maybe instead of ordering just inventory plugins, we could have an order for inventory and vars plugins. That way, we could load an inventory plugin that uses vars from the default vars plugin. I'm just wrote an inventory plugin that makes sure

[2017-10-07 00:07] smuthali opened #31431 "Ansible VaultLib.encrypt error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
VaultLib

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
##### SUMMARY
I've written an Action plugin that does the following:
1. Obfuscate secrets (custom code)
2. Persist the secrets to local disk and further secure them with Ansible Vault

[code]
**vault.encrypt** fails
**encrypted_content = vault.encry

[2017-10-07 00:35] tima commented on #26586
@dejayc Saying Ansible was not made for reusability or in a composable fashion in not a fair or accurate statement. Quite the opposite.

@kniyl What you are reporting is a tricky thing to resolve.

First I wouldn't recommend doing what you are attempting -- including an external task file from inside a role. You're breaking the containment and portability that roles are designed to provide. I real

[2017-10-07 00:50] bcoca commented on #31406
@cognifloyd

1) every `vars:` section or yaml vars file  is a composite vars plugin
[code]
2) inventory plugins and vars plugins are not related anymore, they BOTH use the inventory source paths, but not each other. The inventory plugin order matters for optimizaiton of loading, but not for source processing order, that is established by  1 order of sources passed in, 2 if one is dir, alpha sort o

[2017-10-07 00:59] sivel commented on #31431
The underlying API has changed for the use of multiple vault IDs to identify different vault passwords per file.

Your code will need to be updated to reflect these changes. As the python API is not public, there is no public documentation.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!fo

[2017-10-07 00:59] #31431 closed, assigned to nobody

[2017-10-07 01:31] jacksonp2008 opened #31432 "extra_vars being ignore after ansible upgrade to tower 3.2.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Tower

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
<!---
root@tower:~/ansible-tower-setup-3.2.0# lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.5 LTS
Release:	14.04
Codename:	trusty

##### SUMMARY
Upgraded Ansible tower.
Playbook works locally
Tower has an extra varia

[2017-10-07 01:33] jacksonp2008 commented on #31432
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]
##### SUMMARY
[code]
##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Expected tower to use the parameters passed, overiding anything statically define in the tower template and also anything defined in the playbook itself.  This was the prev

[2017-10-07 01:34] jacksonp2008 commented on #31432
Unfortunate formatting required here.

[2017-10-07 02:44] caphrim007 commented on #31416
@narankhetani what is the output of

`python -c 'import sys; print(sys.getdefaultencoding())'`

[2017-10-07 02:56] techraf commented on #31422
Likely a duplicate of #18748

[2017-10-07 03:07] dejayc commented on #26586
@tima My use of Ansible has revealed a huge number of limitations regarding the extent to which playbooks are reusable and composable.  I'd venture to claim those limitations impose far greater restrictions than other DevOps automation tools.

[2017-10-07 04:04] matts-mpg commented on #29880
i would recommend closing this. since it was originally posted this module has been superseded by vmware_guest. also, if you are looking for either function mentioned here (provision and chang IP OR expand the disk) i ended up using the newer module and doing that via playbook. https://github.com/MindPointGroup/ansible-vmware-provisioning

[2017-10-07 06:37] sampritavh opened #31434 "Cannot create a stack when changeset_name argument is added."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module/cloud/amazon/cloudformation
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu-16.04
##### SUMMARY

When trying to cretae a stack using cloudformation with changeset_name in place then stack creation fails
##### STEPS TO REPRODUCE

**Example Playbook**
[code]
**Example Var file**
[code]
**Example CloudFor

[2017-10-07 09:00] techtonik commented on #13075
If there is a clear layer of crypto API in Ansible, the backward compatibility could be provided by command line tools, which should be easier to update and patch if there is a problem with security.

[2017-10-07 12:50] kees-closed opened #31437 "Add swap mount option to mount module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
mount

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Fedora 26

##### SUMMARY
[code]

The above doesn't work with the 'mount' module. Please add support to add (multiple) swap mounts. Multiple should work, since you can name a mount swap twice. For example:
[code]
[code]
[code]

[2017-10-07 13:51] tace commented on #29870
is this fixed in 2.4?

[2017-10-07 13:56] sivel commented on #31432
For tower issues you will need to utilize your tower support contract.

https://access.redhat.com/products/ansible-tower-red-hat

[2017-10-07 13:56] #31432 closed, assigned to nobody

[2017-10-07 14:07] dagwieers commented on #31003
YAML has already one way to indicate type using !type syntax. That would be my preferred way, but requires support inside Ansible (rather than just working around it by using keywords or values for this).
https://github.com/dlang-community/D-YAML/wiki/Custom-YAML-data-types

[2017-10-07 14:30] abadger commented on #13075
Paramiko needs pycrypto so there's not really a reason for us to do that.
The usage of pycrypto directly as an API is all in the vault code if you
want to take a look.

On Oct 7, 2017 2:01 AM, "anatoly techtonik" <notifications@github.com>
wrote:

[2017-10-07 15:11] matt3o commented on #22204
Any updates on this would be highly appreciated.. I am very interested in this functionality because I otherwise won't be able to use Ansible in my case.

[2017-10-07 16:06] andreaso commented on #28820
Ok, here is my minimal test case using Vagrant in ansible_local mode, with Ansible 2.3.2.0.

[code]

[code]

Runs just fine.

[code]

Not convinced that the "apt-key output should not be parsed" is the cause of your problem.

[2017-10-07 17:05] mscherer commented on #25897
I would also like a way to detect ansible is running on atomic (or more precisely, on ostree), so I wouldn't try to install package on it when I deploy a role. Ideally, some integration between package module and atomic_container would be interesting as well.

[2017-10-07 17:44] ghost commented on #26227
@jimi-c and @promaty, I agree handling unreachable error programmatically would be a great enhancement.

[2017-10-07 18:16] agaffney commented on #31074
I am able to reproduce this in `2.4.0.0`, current `stable-2.3`, and current `devel`.

[2017-10-07 18:39] agaffney commented on #31074
This seems to be happening *outside* of the `actionable` callback plugin. When `task.get_name()` is called in `ansible.plugins.callback.default.v2_playbook_on_task_start()` via the `default` plugin, the templates are evaluated. That same call returns a non-templated string when it's called via the `actionable` plugin.

[2017-10-07 18:52] agaffney commented on #31074
And now we get to something interesting. It looks like the `name` attribute in the `Task` may or may not have the template evaluated at any given time. I added some debugging code in the `ansible.playbook.Task.get_name()` function to display the current object address and the value of `self.name`.

`default`:

[code]

`actionable`:

[code]

[2017-10-07 19:05] agaffney commented on #31074
@bcoca I seem to have reached a point in my debugging where two separate denizens of the deep, dark nether reaches of the Ansible code are conspiring against me: templating and play/block/task `FieldAttribute`. I can dig no further without a bit of guidance and a large machete.

[2017-10-07 19:24] signal64 commented on #23340
If it helps, with Ansible 2.4.0 and vmware_guest_facts I now have to specify the datacenter in the vmfolder path.  eg. /mydatacenter/vm

This wasn't working with vmware_guest as it still adding /vm in front of the folder path becoming:
/vm/mydatacenter/vm

vmware_guest_find still reports the vm under /vm

Seems to be a disconnect across all the vmware_guest related modules.

Checking out the fix n

[2017-10-07 20:35] Raoul555 commented on #31422
So, it's a bug. But it does not seem to have been fixes in 2.2

I've still have one question. My use case looks to me very simple:
- I've wrote a role to install a package
- I've defined in my group_vars the list of packages to be installed
- I've wrote a play in which I simply call my role (include_role) looping one my packages list (with_items)

How come I hit this bug on this simple case? Is th

[2017-10-07 20:44] sivel commented on #31422
Based on the above referenced duplicate, this issue has been resolved on the 2.4 release. Please upgrade to 2.4 and verify.

needs_info

[2017-10-07 22:11] tima commented on #26586
It depends on your perspective @dejayc. Ansible strives to make the mundane and repetitive tasks simple for everyone (not just coders) so they have time to work on more interesting things. It has a really strong track record doing that very well evidenced by it's thriving community and customer base. Not every tool is for everyone though.

[2017-10-07 22:49] EvanK commented on #31354
We _could_ do something clever like match a subsection between `after` and `before` (as I would logically expect them to work), and if that fails, match the other way around for backward compatibility:

[code]

The other alternative is to patch the module and docs to work as expected, **and break any existing usage of `before`/`after` in combination**.

[2017-10-07 23:19] ghost commented on #22930
I have the same issue with a nfs4 mount.
 It is exactly as deekayen described it. I tried also several things like setting a fact to use it as var in mount:
  opts: "{{ var }}"

same behavior.
This is really nasty.
Tested with ansible 2.3.2.0

[2017-10-07 23:53] jvkassi commented on #29185
@dLobatog any hints ?

[2017-10-08 05:13] retr0h commented on #31377
+1 for Molecule :)

[2017-10-08 05:44] andrewchen5678 commented on #15083
Same here. Need to switch to something else because ansible is very slow and the pipelining setting seem to be ignored.

[2017-10-08 07:27] techtonik commented on #13075
Yea, I forgot about that. If Ansible has a lot of corporate sponsors, I am sure it may go to Python 2.6 support for `cryptography`.

[2017-10-08 08:00] mowgli opened #31449 "ansible-pull broke fully after update from 2.3 to 2.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-pull

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian and Devuan Linux

##### SUMMARY
I have the following pull command:

[code]

This worked well up to version 2.3. With version 2.4 it doesn't work anymore.

There are two cases.

1.

When an checkout under /root/.ansible/pull/hostname already exis

[2017-10-08 12:24] ogmueller commented on #25807
The issue seems to exists even in ansible v2.4.0.0.

All "include_tasks" are ignored when using strategy free. As soon as I change the strategy or remove it, it works as expected again.

[2017-10-08 16:14] HughWarrington commented on #21562
@ansibot bot_broken

This is rather dull isn't it? I won't spam everyone with this comment again.

[2017-10-08 17:01] mowgli commented on #31449
I found some hints.

If I create a static `/root/hosts` file,  just having the hostname in it, I get the following:
[code]

Without any hosts file, I get the following:
[code]

Note that it always try to use yyy and yyy.domain. The later is never in inventory but is the fqdn of the host.

[2017-10-08 17:21] Kniyl commented on #26586
Hi @tima and sorry @dejayc for the late reply, I missed the initial notification.

I find the claim that ansible is not suited to reuse hard to believe. The very existence of include and its recent split between include_* / import_* should support the fact that it is possible to reuse parts of plays easily. But I do admit that each time I tried something out of the intended use case I hit a wall.

[2017-10-08 17:35] claudio-vellage commented on #21513
Can confirm. The copy module slows down my deployments a lot. I switched to simply pulling my files from git and using the copy module only if I can't avoid it and only for single files.

[2017-10-08 18:32] nightvisi0n commented on #29303
This also affects us on Fedora 26.
We would really appreciate to have vlan support in this ansible module.

[2017-10-08 18:34] nightvisi0n commented on #29303
@maltefiala I would propose to change the issue title to a more generic one like `nmcli: Implement VLAN functionality`

[2017-10-08 18:55] loomsen commented on #31377
OK, using molecule (correctly, thanks @retr0h :) ) I got it to actually show something in the diff.
This bug seems to affect at least versions 2.3 and 2.4.
While ansible 2.3 still shows `diff: {}` but a change, like shown above, this is the outcome for ansible 2.4:

[code]

[code]
Hope that helps.

[2017-10-08 20:49] arnonki opened #31454 "ec2_group introduced with 2.4.0.0 throws TypeError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_group
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing
##### OS / ENVIRONMENT

Centos 7.4
##### SUMMARY

##### STEPS TO REPRODUCE

When using ec2_group module

[code]

##### EXPECTED RESULTS

To succeed
##### ACTUAL RESULTS

The module throws an exception of:

[code]

[2017-10-08 21:14] dagwieers commented on #30972
So here is a simple way to bootstrap a system (with Internet connection) using an existing Windows host:
[code]

[2017-10-08 22:03] kradem commented on #30754
I tried it manually and it works well without any issues. My playbook can't get it through any `apt` command that includes `update_cache=yes`. After I restarted server it went through the first update_cache command, but then raised on the very next update_cache call.

I tried with ansible development version (2.5.0.0) too and it's all the same.

P.S. I'm not sure, but maybe it happened after I ins

[2017-10-08 22:26] jacksonp2008 commented on #31432
haha

[2017-10-08 23:06] riponbanik commented on #31281
@jborean93 sorry asked too many questions, just one- how do i enable check and diff in powershell module?

[2017-10-08 23:10] jborean93 commented on #31281
Hey @riponbanik, have a look at the page I sent you around developing Windows modules. The example in there shows you how to determine whether Ansible is running with check mode or diff mode. It also gives you info on how to debug Ansible modules on a Windows server which is quite useful for larger and more complex modules. For the DSC stuff, have a look at [win_dsc](http://docs.ansible.com/ansibl

[2017-10-09 00:44] riponbanik commented on #31281
@jborean93 Thanks I have go the other info from the page, was not sure how to make check mode enabled in Powershell, seems to be get auto enabled now.

[2017-10-09 01:22] jborean93 commented on #31281
Check mode is enabled by your code, Ansible can pass in info as to whether Ansible is running in check mode but you need to put in the logic to either not run a command that will change something or, if supported, use the `-WhatIf` parameter that is available on some powershell cmdlets.

[2017-10-09 03:54] felipe1982 opened #31462 "Allow enabling termination protection for CloudFormation stack"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- CloudFormation

##### ANSIBLE VERSION
- Latest Stable (2017-10-09)

##### ENVIRONMENT
- AWS

##### SUMMARY
I would like to be able to enable **Termination Protection** for a CloudFormation stack as specified in Official Documentation
 - http://docs.aws.amazon.com/cli/latest/reference/cloudformation/update-termination-protection.html
 - http:

[2017-10-09 05:13] jimi-c commented on #30773
My test:
[code]
and the same template.j2 as above. I'm using group_vars/all here to avoid any differences in timing related to gathering facts.

On my system:
2.2.0:
[code]

2.3.0:
[code]
2.3.1:
[code]
2.4.0:
[code]
So while I'm not seeing quite as bad a degradation as reported above, I am seeing that 2.4.0 takes about twice as long as 2.2.0/2.3.0, and the slowdown did start sometime around 2.3.1.

[2017-10-09 05:29] jimi-c commented on #30773
Bisect says this is the guilty commit:
[code]

[2017-10-09 05:54] willthames commented on #29771
Closing, not a bug.

[2017-10-09 05:54] #29771 closed, assigned to nobody

[2017-10-09 06:27] mixja commented on #29332
Ideally all Ansible modules should migrate to boto3.  With boto3 you can rely on profiles that automatically assume roles for you and prompt you for MFA, all independent of anything you need to implement in Ansible.

This seems to be one of the the most misunderstood concepts I have encountered across many projects that support AWS.

[2017-10-09 06:51] Darren-wh commented on #24407
hello how to solve the problem？zabbix_host result is always 'changed' without zabbix proxy？

[2017-10-09 08:24] prateekj201 opened #31464 "ansible add_host module ignoring the when condition. Has this been resolved in 2.4 or continues to be same."
`
Verified
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

add_host module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No settings changed in ansible.cfg
##### OS / ENVIRONMENT

All environments
##### SUMMARY

Ansible add_host module ignoring the when condition. The task continues to execute in the way as without the when condition.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2017-10-09 08:38] dj4ngo commented on #30754
Since we are two that can't reproduce the issue and @raj2033 don't answer, I propose to close this issue.
cc @abadger, @bcoca

[2017-10-09 08:48] narankhetani commented on #31416
Hi,

This has always been happening and I have tried with different versions of ansible with same issue.

[code]

[2017-10-09 08:49] jctanner commented on #30327
needs_info

[2017-10-09 08:58] eikef commented on #24407
@darren-wh: The problem should be fixed in the devel-branch of ansible and the bugfix should appear in the next release version of ansible. If you want to fix it locally for yourself right now, you can do one of three things: a.) download zabbix_host.py from the repository in its current version and overwrite your local version with it (it should still be compatible), b.) add it to the library-pat

[2017-10-09 09:09] #31412 closed, assigned to nobody

[2017-10-09 09:11] Lutty76 commented on #14946
This issue is still here in ansible 2.3.2.0 ...
When will be solve ?

The component is Ansible Core !

[2017-10-09 09:16] Akasurde commented on #30220
@cmock @binbashroot @rvalente Could you please check if it is working with above PR ?

needs_info

[2017-10-09 09:19] mkrizek commented on #30991
Can't reproduce the issue either, tested with `2.4.0` and latest `devel`, anything I missed?

[code]

[code]

[2017-10-09 09:27] mkrizek commented on #30933
@jsummers Can you provide the exact version of the rpm? Also can you try with the latest devel if you still see the issue? Thanks!

needs_info

[2017-10-09 09:33] Darren-wh commented on #24407
@eikef  I try to change the  zabbix_host.py code. And now the problem has been resolved.
[code]
Thank for your solutions.Have you tried this method？

[2017-10-09 09:37] Lutty76 opened #31465 "recursive loop detected in template string"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Core (templating variable)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
roles_path = roles
filter_plugins = filter_plugins
retry_files_enabled = False
hash_behaviour=merge
timeout = 90
sudo_flags ='-H -S -n -i'
[ssh_connection]
pipelining = True

##### OS / ENVIRONMENT
OS Running : Fedora 25
Os Managing : Ubuntu Server 14.04

##

[2017-10-09 10:21] Shaps commented on #31178
@jimi-c As far as I can tell the `with_together` is parsed before `get_instance_facts.yml` ( which creates the `ose_*` vars ) runs, which obviously results in an undefined variable error. I don't think this can be considered an issue, it's just the way include+loops works.
In this particular case I believe the fix was to move `get_instances_facts.yml` to a different role/pre_task.

[2017-10-09 10:35] kradem commented on #30754
Well, I managed to make it work *probably* after I deleted all the content from the `/tmp` folder.

Regards!

P.S. and then it breaks again after a few calls... .(

P.P.S. I'm O&O with [this little hack](https://github.com/ansible/ansible-modules-core/issues/2951#issuecomment-218327951).

[2017-10-09 10:38] jcberthon commented on #4688
The solution from @bcoca does not seem to work in Ansible 2.4.

I get:

[code]

This happens despite using `ignore_errors: true`. And as far as the documentation describes it, this is normal behaviour (see https://docs.ansible.com/ansible/latest/playbooks_error_handling.html). The ignore_errors is for failed return values, not host UNREACHABLE.

[code]

I'm really wondering how you guys are all de

[2017-10-09 10:54] eikef commented on #24407
While that is one way you can fix it, there has been a different patch, #29123) which also fixes the same issue but in a different manner. That one has been applied to the development version of ansible.

[2017-10-09 10:55] jcberthon commented on #4688
With the hint from @MaximF I got the following working:

[code]

[2017-10-09 11:00] angystardust commented on #24407
@eikef downloading the last version of the module and importing it on a 2.3 setup still doesn't fix idempotency :(
https://github.com/ansible/ansible/pull/24410#issuecomment-306829398

[2017-10-09 11:11] eikef commented on #24407
I'll take another look.

[2017-10-09 11:30] eikef commented on #24407
@angystardust: I just installed ansible from devel and ran your testcase in that comment (I changed the server_url, login_user, login_password, and added an interface). The second run had no changes. I will look at your most recent comment/testcase now :-)

[2017-10-09 11:30] Akasurde commented on #24672
@karthik120 There is an error in your playbook, you are using `vcenter_hostname` as `https://vcenter_hostname` which is not correct. You need to specify vCenter's hostname or IP address without any https suffix.

Like

[code]

I have made some changes in #31320 so as to catch exception instead of showing them to the user. Please apply the patch and let me know if this works for you.

needs_info

[2017-10-09 11:31] Akasurde commented on #24672
resolved_by_pr #31320

[2017-10-09 11:36] angystardust commented on #24407
Thanks for your support @eikef !
As a testcase, please refer to https://github.com/ansible/ansible/pull/24410#issuecomment-335129139

[2017-10-09 11:51] vbotka commented on #16276
ansible/ansible-modules-core#3952 is reported on OSX. OSX solution doesn't necessarily have to fit BSD, at least one can't be sure, I think. I propose to consider and open this one for BSD.

FYI, I reported about BSD today at
https://github.com/ansible/ansible-modules-core/issues/3952

[2017-10-09 12:08] ghost commented on #31342
I have run this:

[code]
and the output was this:

[code]

[2017-10-09 13:14] kpanilkumarmca commented on #31407
Hi,
I have tried below jinja format aswell, but of no use... Can somebody help here....

`{% if {{hostvars[127.0.0.1][result][stdout]}} == prod %}prod-app-servers{% else %}dr-app-servers{% endif %}`

My intention is to decide host during runtime based on a result.

Thanks

[2017-10-09 13:18] bcoca commented on #31407
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-09 13:18] #31407 closed, assigned to nobody

[2017-10-09 13:28] eikef commented on #29413
Since #22614 is merged, this issue should be fixed.

[2017-10-09 13:29] eikef commented on #29413
close_me

[2017-10-09 13:33] ppanczyk opened #31471 "APT module: installing deb fails with Python 2.6 and is always changed if arch=all"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

apt module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Ansible host - N/A
Targets:
Debian/Ubuntu (in terms of "all" architecture),
Debian 6 (in terms of failures, see below) with packages:
- python  2.6.6-3+squeeze7
- python-apt 0.7.100.1+squeeze1

##### SUMMARY

See PR #24846.
On some older systems (Debia

[2017-10-09 13:34] #29413 closed, assigned to nobody

[2017-10-09 13:36] bcoca commented on #31449
this looks like dupe of #30636, can you confirm #30938 fixes it for you?

[2017-10-09 13:39] philfry commented on #31409
To (hopefully) make it a little clearer, I rewrote my git repo, added a little explanation of what my intention is, and moved the playbook variants to different branches: https://github.com/philfry/myansibleissue01

The branch `master` contains the playbook as it should be correct for ansible 2.4, the branch `ansible-2.3` contains the old-style playbook with `include:` instead of `include_tasks:`.

[2017-10-09 13:40] #28724 closed, assigned to Qalthos

[2017-10-09 13:41] dagwieers commented on #28994
@fatred If you have some more feedback about this ticket, please do so. Otherwise I am going to close this ticket.

[2017-10-09 13:43] bcoca commented on #30773
@jimi-c that is probably due to how host/group_vars now  work. They used to get loaded at 'inventory compilation' which front loaded a lot of the effort w/o needing it most of the time, now it happens in vars manager on `get_vars`. This should make the first time they get queried slower, but it caches files so it should even out in performance as it did before with inventory preloading and end up

[2017-10-09 13:48] bcoca commented on #31465
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The error is correct, defining a part of a variable that depends on itself is not something Ansible supports.

In the future, this migh

[2017-10-09 13:48] #31465 closed, assigned to nobody

[2017-10-09 13:50] bcoca commented on #14946
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is not a bug, this is just the error Ansible issues when you are trying to define a part of a variable that depends on the variabl

[2017-10-09 13:50] #14946 closed, assigned to nobody

[2017-10-09 13:50] eikef commented on #29418
duplicate of #24015 (which contains a pending PR to fix it)

[2017-10-09 13:50] eikef commented on #29418
close_me

[2017-10-09 13:54] bcoca commented on #31464
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As documented here http://docs.ansible.com/ansible/latest/playbooks_conditionals.html#loops-and-conditionals, a `when` condition happen

[2017-10-09 13:54] #31464 closed, assigned to nobody

[2017-10-09 13:56] #29418 closed, assigned to nobody

[2017-10-09 13:56] frisbee23 commented on #16837
hi, just had out of memory with ansible 2.4 on a host with just 1 gb ram and ~12 hosts. i increase the ram to 2gb and now it works. i think the guy of this issue didnt' answer because as soon as you asked, he realized that 512 mb ram might be a bit low.

[2017-10-09 14:01] mowgli commented on #31449
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Hi,

Am Mo den  9. Okt 2017 um 14:38 schrieb Brian Coca:

Yes, looks the same.

However, I would add that it seems to be two issues in one.

- - First is the pul when the repository was not cloned before. That is
  #30636 about. But note, that ansible keeps the clone between the
  sessions under /root/.ansible/pull/hostname.domain after the first

[2017-10-09 14:03] Lutty76 opened #31473 "Allow to include var from another var branch"
##### ISSUE TYPE
 -  Feature Idea

##### COMPONENT NAME
Core (templating variable)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
roles_path = roles
filter_plugins = filter_plugins
retry_files_enabled = False
hash_behaviour=merge
timeout = 90
sudo_flags ='-H -S -n -i'
[ssh_connection]
pipelining = True

##### OS / ENVIRONMENT
OS Running : Fedora 25
Os Managing : Ubuntu Server 14.04

[2017-10-09 14:09] eikef commented on #19810
Unable to replicate this as well, and as such will close it. The SQL error stems from Zabbix itself.

[2017-10-09 14:09] eikef commented on #19810
close_me

[2017-10-09 14:14] mowgli commented on #31449
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Hi,

Am Mo den  9. Okt 2017 um 14:38 schrieb Brian Coca:

No, it does not resolv the case for me. It makes it even worse.

It solves the first case that it will not fail with the git pull. BUT

It then calls the playbook with localhost instead of the correct
hostname (as it seems). That will apply a playbook with wrong vars set
and no group. So this

[2017-10-09 14:16] Raoul555 commented on #31422
Will there be a fix for 2.2?

[2017-10-09 14:18] rdonkin commented on #18878
Updating the docs would be useful - it's easy to miss that `known_hosts` updates are typically done concurrently across all hosts, but target a single file on Ansible control machine.

As a workaround, you can put such updates in a playbook with `serial: 1` - that will clearly run more slowly (though the file updates are quite fast since local), but is guaranteed to work even if `flock` is not an

[2017-10-09 14:20] madarve opened #31474 "iam_managed_policy cannot sort policy dicts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
iam_managed_policy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Manjaro 17.0
Kernel: 4.13.3-2-MANJARO

##### SUMMARY
When running the playbook iam_managed_policy, using a custom policy with several "Statements", the function `sort_json_policy_dict`, fails every time there's a policy with more than one Statement, and

[2017-10-09 14:20] mowgli commented on #30636
@boca no, that warning is not "just a warning", it is part of the problem as described in #31449.

The Problem seems to be two problems in on. Your patch fixes the first problem and makes the problem even more dangerous. The second is that it is not selecting the correct host name. That will apply the playbook with dangerous defaults instead of the settings for this particular host.

The problem,

[2017-10-09 14:41] rcarrillocruz commented on #31171
Closing, all infra has been put under network-infra private repo.

[2017-10-09 14:41] #31171 closed, assigned to rcarrillocruz

[2017-10-09 14:46] rcarrillocruz commented on #31172
Closing, CI has been migrated to new cloud account.

[2017-10-09 14:46] #31172 closed, assigned to rcarrillocruz

[2017-10-09 14:56] Phill93 opened #31475 "ldap_attr fails with meaningless error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ldap_attr
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

empty

##### OS / ENVIRONMENT

macOS 10.12 to Debian 8 Vagrant VM

##### SUMMARY

##### STEPS TO REPRODUCE

The following task fails with the message "Cannot search for attribute olcRootDN" but the Attribute exists.

[code]

##### EXPECTED RESULTS

Update of the Attribute olcRootDN

[2017-10-09 15:01] bcoca commented on #31449
Can you run with -vvvv to see the exact commands passed?

I'm not sure what you are expecting in this case when the host is not in the inventory, it should be using localhost.

If you are worried about the 'implicit localhost including all vars' that has been reverted in separate patch, but was unrelated to pull. We added it on purpose, as it was a requested feature .. which we had to revert due t

[2017-10-09 15:07] philfry opened #31477 "incompatible change in copy resultset in 2.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
Between ansible 2.3.2 to 2.4.0 the `results` array of the `copy` module has changed in an incompatible way regarding `path` and `dest`.

##### STEPS TO REPRODUCE
1. `ansible-playbook copy.yml`

[code]

##### EXPECTED RESULTS
[code]

##### ACTUA

[2017-10-09 15:07] mxlan opened #31478 "cloudfront_facts add more parameter details in documentation"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
cloudfront_facts module documentation

##### ANSIBLE VERSION
documention at 2.4

##### SUMMARY
documentation missing defaults and choices for parameters

##### STEPS TO REPRODUCE
View documentation at
http://docs.ansible.com/ansible/latest/cloudfront_facts_module.html

##### EXPECTED RESULTS
Expect to see more defaults and choices

--

[2017-10-09 15:11] philfry commented on #31477
possible workaround:
[code]
but... really?

[2017-10-09 15:13] lmaneos commented on #30991
I am seeing this error when a later version of the package is already installed.  Example test case:

[code]

This was working on 2.3.2.0 and earlier, but on 2.4.0.0 the last yum task fails with:
[code]

[2017-10-09 15:20] mkrizek commented on #30991
@lmaneos I can reproduce your use case, thanks! Will look into it.

[2017-10-09 15:21] shibumi opened #31480 "command module behaves weird"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`command`-module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible is running on Arch Linux. Target Host is an ubuntu 16.04 machine.

##### SUMMARY
The command module behaves differently as invoking the command manually.
The line is the following:
[code]

With ansible I get the following output when I run

[2017-10-09 15:27] #31249 closed, assigned to nobody

[2017-10-09 15:37] caphrim007 commented on #31416
@narankhetani do you get a similar error when you try running that degrees thing from the CLI?

`python -c 'import sys; print("11.11° WWC")'`

[2017-10-09 15:41] narankhetani commented on #31416
[code]

[2017-10-09 15:48] abelgana commented on #29705
Hi,

I will try to work on the issue. I just cloned the repos. I think this is where the function is defined:

https://github.com/ansible/ansible/blob/13631ececa4454397821d3805f4079d8cc157f33/lib/ansible/modules/packaging/os/yum.py

[2017-10-09 15:54] jsumners commented on #30933
@mkrizek it's 1.7.9-1 at https://github.com/jsumners/haproxy-rhel7/releases

I'm not going to have time to test it today. I might be able to get to it tomorrow, but you'd likely be better off running the task against your VM.

[2017-10-09 16:04] machacekondra commented on #27317
close_me I can't reporoduce with latest oVirt+Ansible

[2017-10-09 16:39] #30700 closed, assigned to nobody

[2017-10-09 16:39] mowgli commented on #31449
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Am Mo den  9. Okt 2017 um 16:04 schrieb Brian Coca:

I can do that later on.

You misunderstood. The host _is_ in the inventory that is coming from
the clone/checkout. But the inventory is not used.

This was working up to version 2.3 and broken in version 2.4.

It is not about localhost implying all or not. The problem is that
localhost is not in t

[2017-10-09 16:43] mowgli commented on #31449
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Short correction, /etc/ansible/hosts exists and is a file with just
comments coming from the debian package.

But in ansible-pull, that file is completelly irrelevant and should not
be read.

Regards
   Klaus
- --
Klaus Ethgen                                       http://www.ethgen.ch/
pub  4096R/4E20AF1C 2011-05-16            Klaus Ethgen <Klaus@Et

[2017-10-09 16:53] alikins commented on #30993
@gildegoma It still uses getpass.getpass() eventually.

https://github.com/ansible/ansible/blob/devel/lib/ansible/parsing/vault/__init__.py#L280  PromptVaultSecret classes uses ansible.utils.display.Display.prompt(private=True) and display.Display.prompt() uses getpass.getpass()

[2017-10-09 16:58] lukas-bednar opened #31483 "[rpm_key] When no key is installed module fail to install any new key"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

rpm_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target system CentOS 7.3

##### SUMMARY

When running `rpm_key` to add new key on system which doesn't have any keys installed yet (I want to install first key), then module fails to add new key during execution following line:

https://github.com/ansi

[2017-10-09 17:21] bcoca commented on #31449
the problem is not on the pull, but on the playbook side then, the verbose output will show if we are seeing correctly or not the inventory pulled out from git. In my tests this works, but we need to see what is going on in your case.

[2017-10-09 17:25] buggsdummy commented on #30933
I see this issue too, not for the group install but just installing a bunch of software packages and then re-running it again it's showing as failed.

[2017-10-09 17:54] rdbisme opened #31485 "Macports not recognized as package manager on OSX"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
macports, package modules

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OSX 10.12.6

##### SUMMARY
When running a task using the `package` module, `macports` does not get recognized and the error ```Could not detect which package manager to use. Try gathering facts or setting the "use" option.``` is returned.

[2017-10-09 17:55] lassizci commented on #30773
Also probably worth mentioning, that increasing forks does poor job in scaling, when accessing hostvars. The same tests @jimi-c posted:

These are on 2.4.0:
[code]

[code]

[code]

[code]

[code]

[2017-10-09 18:03] #19810 closed, assigned to nobody

[2017-10-09 18:12] calfonso commented on #13018
Closing this based upon previous comment.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions about writing code

Because this pr

[2017-10-09 18:12] #13018 closed, assigned to nobody

[2017-10-09 18:13] calfonso commented on #13026
Since this is a duplicate, closing this issue.

[2017-10-09 18:13] #13026 closed, assigned to nobody

[2017-10-09 18:17] ryansb commented on #15215
Fixed by #15196

[2017-10-09 18:17] #15215 closed, assigned to nobody

[2017-10-09 18:20] sivel commented on #31485
I believe the cause to your problem is in that you are not specifying a password to use with `become`

Due to some unknown reason, it looks like ansible cannot find `ansible_pkg_mgr` and is attempting to re-run `setup`.

You have supplied `become: true`, and this applies to the additional `setup` task as well, and ansible fails due to needing a sudo password.

Try adding `--ask-become-pass` and re

[2017-10-09 18:21] calfonso commented on #13047
We are closing this issue due to lack of interest in implementing the change.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions

[2017-10-09 18:21] #13047 closed, assigned to nobody

[2017-10-09 18:23] calfonso commented on #13048
If you don't do the make build as the non-root user, you're going to end up with extra files owned by root. You can work around this by running make build as a non-root user.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * htt

[2017-10-09 18:23] #13048 closed, assigned to nobody

[2017-10-09 18:24] calfonso commented on #13050
Since this isn't a recommended or supported method, we are closing this issue.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and question

[2017-10-09 18:24] #13050 closed, assigned to nobody

[2017-10-09 18:25] samdoran commented on #29920
@blutgens Can you test with PR #31486 ?

[2017-10-09 18:30] sivel commented on #31485
This shouldn't be happening though, at least not manifesting itself in this specific way.  It looks as though https://github.com/ansible/ansible/pull/22849 broke using pre gathered facts, which forces the module to always fall back on a second `setup` run.

[2017-10-09 18:32] sivel commented on #31485
cc @bcoca

Not sure why https://github.com/ansible/ansible/pull/22849 was done, but seems to be breaking the templating in `package` for getting the `ansible_pkg_mgr`, it always falls back to re-running `setup`.

Additionally, when re-running `setup` fails here with `'module_stdout': 'sudo: a password is required\r\n',` we probably need to indicate that, as right now we swallow it, and get an ambi

[2017-10-09 18:33] tharun-allu opened #31488 "datadog_monitor does not parse query"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

datadog_monitor
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

x86_64 x86_64 x86_64 GNU/Linux
##### SUMMARY

When running the playbook with the following query it errors out with query invalid but upon using the upstream api and running the same works with no issues.
##### STEPS TO REPRODUCE

run the playbook every

[2017-10-09 18:34] calfonso commented on #13086
A couple years have passed by since this was opened and there hasn't been any contributions to implement a module for this. The core team isn't going to implement this, so closing the issue.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and

[2017-10-09 18:34] #13086 closed, assigned to nobody

[2017-10-09 18:36] mowgli commented on #31449
I did some outputs now up to the first playbook part. I did redact them to have the same hostname (As the first run is from a different host as you might get at the moment).

The first here is the run from version 2.3:
[code]

The second is vanilla 2.4:
[code]

And the last is from a 2.4 with your patch:
[code]

You can use vimdiff to compare them...

[2017-10-09 18:36] #27317 closed, assigned to nobody

[2017-10-09 18:41] jimi-c commented on #13215
Hi @lhoss, going back through old feature ideas and it appears that this idea has never gotten much focus. With the addition of `include_role` (and now `import_role` as well), the need for deps is really falling by the wayside due to the fact that you can include and execute roles in a much more flexible way. It may still be useful to add a `disable_deps` option for roles in general, however havin

[2017-10-09 18:41] #13215 closed, assigned to nobody

[2017-10-09 18:41] #31488 closed, assigned to nobody

[2017-10-09 18:42] calfonso commented on #13236
Single encrypted variables are the feature to implement this use case. We're closing this as that is the recommended solution.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-dev

[2017-10-09 18:42] #13236 closed, assigned to nobody

[2017-10-09 18:43] tharun-allu commented on #31488
My bad was checking with the wrong query
it should be
[code]
was updating one file and testing another.

[2017-10-09 18:43] mowgli commented on #31449
Note the two lines:
[code]

They show that it is not using the correct inventory as that would hold the definition for „host“ (non full qualified).

Note also that this warning for both is absolutelly misleading as there is just one version in inventory not both as that would trigger more problems. So if the host is found once, it should not warn about the other.

(I did one test the day before to

[2017-10-09 18:45] mowgli commented on #31449
Ah, yes, if you wounder about, in all 3 cases above, there was already a checkout under `/root/.ansible/pull/host.domain`. I did not do the case with a plain new box where that clone is not existing.

[2017-10-09 18:46] mkrizek commented on #31483
cc @schwatvogel

[2017-10-09 18:47] calfonso commented on #13262
The support for looping over includes is the recommended way to achieve this. Take a look at dynamic includes for more detail.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-dev

[2017-10-09 18:48] samdoran commented on #29400
The `cloud-aws` plugin doesn't look like it supports the version parameter anymore since the repo no longer exists.

[code]

The latest version of the `elasticsearch_plugin` properly installs using the version parameter.

[code]

[2017-10-09 18:48] #29400 closed, assigned to samdoran

[2017-10-09 18:51] calfonso commented on #13496
There is a proposal for role versioning https://github.com/ansible/proposals/issues/23 which should take this issue into consideration as the proposal gets implemented.

[2017-10-09 18:55] rdbisme commented on #31485
@sivel Correct. It was the password! (I recently switched laptop and in the other one I had sudo without password).

Sorry for the dumb problem...

[2017-10-09 18:56] sivel commented on #31485
Not a dumb problem really.  It uncovered 2 potential bugs, or at least 1 bug and 1 place where we can do better.

[2017-10-09 18:57] calfonso commented on #13596
You're able to put any variable you want in the header or footer. The role_name variable is already available to you, just not through ansible_managed. So instead of using ansible_managed, put whichever variables you'd like to use there.

[2017-10-09 18:57] #13596 closed, assigned to nobody

[2017-10-09 19:12] jwoogee opened #31489 "'ansible.utils.unsafe_proxy.AnsibleUnsafeText object' has no attribute 'configuration'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_CALLBACK_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/home/joe/ansible/playbooks/callback_plugins']
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/home/joe/ansible/hosts']
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /home/joe/ansible/ansible.log
DEFAULT_MODULE_PATH(/et

[2017-10-09 19:22] coolcps opened #31490 "ios_facts timeout value can't be changed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_DEBUG(/private/etc/ansible/ansible.cfg) = True
DEFAULT_HOST_LIST(/private/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']
DEFAULT_JINJA2_EXTENSIONS(/private/etc/ansible/ansible.cfg) = jinja2.ext.loopcontrols
DEFAULT_LOG_PATH(/private/etc/ansible/ansible.cfg) = /etc/ansibl

[2017-10-09 19:43] alikins commented on #30993
2.4.0 checks if sys.stdin.isatty() to decide if it should show the interactive prompt (eventually via getpass.getpass()). But for cases that aren't via tty (likely vagrant and jenkins cases), that means it never calls PromptVautlSecret() or getpass.getpass().

But... getpass.getpass() will fallback to reading from stdin if it is not a tty. Since 2.3 will always call getpass.getpass(), it will even

[2017-10-09 19:43] bcoca commented on #31449
can you rerun again? this time with ANSIBLE_DEBUG=1

[2017-10-09 19:57] mowgli commented on #31449
Which of the 3? And is it usefull to have all this output here?

[2017-10-09 20:06] infrascripting opened #31494 "default sudo flags don't take kindly to lvextend"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

shell module
command module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7 to RHEL7
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected that the lvextend command would be run as-is on the remote server. This happened once I changed `sudo_flags` to `-i`

[code]

##### ACTUAL RE

[2017-10-09 20:06] bcoca commented on #31449
You should only be running one command, `ansible-pull`.

All, no, but cannot see exactly what i need until you post it.
What you put above at least shows that `ansible -m git ...` is being called correctly, now i need more info.

[2017-10-09 20:17] alikins commented on #30993
proposed fix at https://github.com/ansible/ansible/pull/31493

[2017-10-09 20:30] mowgli commented on #31449
I wrote you by mail.

[2017-10-09 20:32] bcoca commented on #31449
@mowgli unless I had you whitelisted its probably in `/dev/null` by now

[2017-10-09 20:32] s-hertel commented on #30899
Hi @cameronurnes. I'm able to reproduce this error on both 2.3 and 2.4 with your reproducer. I'm wondering if your until statement should be: `until: (asg_result is defined) and (asg_result.viable_instances is defined) and (asg_result.viable_instances|int >= asg_min_size|int)`? That appears to fix the problem for me.

Can you please provide the output from 2.3 or add any details if there something

[2017-10-09 20:33] bcoca commented on #31449
to clarify, i mainly need the `EXEC ansible-playbook` line from the debug output after my PR is applied, but any of the lines pertaining to inventory sources might also be needed.

[2017-10-09 20:35] gildegoma commented on #30993
@alikins Sorry for my too simplistic and erroneous analysis (I hadn't taken yet enough time to dig into it, and shouldn't have conclude anything so quickly).
Anyway, thank you very much for the heads-up and the upcoming fix ❤️ ❤️ ❤️

[2017-10-09 20:37] mowgli commented on #31449
[code]

Then just whitelist me. :-D

Edit: I believe, the `-i localhost,` is the wrong part.
Next edit: Hmm.. and maybe without that it is loading the wrong file.

[2017-10-09 20:42] mowgli commented on #31449
As I give the inventory non fg on the pull-commandline, it should be full qualified in tthe playbook run.

If I do so, I get the following:
[code]

Still this warning that should not be there but only one, not both host names. And the playbok is running fine then.

[2017-10-09 20:45] bcoca commented on #31449
~hmm, that shows that it is not finding the inventory files even after the pull~ nvmd ... scrolling

This does seem to be the correct file, can you post the debugging on the processing of it?
`-i /root/.ansible/pull/ikki.ket/hosts`

[2017-10-09 21:02] mowgli commented on #31449
Ah, I found your bug.. (I think)

The problem is in the `os.chdir(self.options.dest)`. `self.options.dest` is the file name of the playbook (full path of site.yaml). And as you do not check the return code of that chdir, it is not chdir to the basename of that file.

[2017-10-09 21:09] mowgli commented on #31449
What exactly do you need? `-i /root/.ansible/pull/ikki.ket/hosts` to what command?

[2017-10-09 21:10] #31271 closed, assigned to nobody

[2017-10-09 21:11] bcoca commented on #31449
@mowgli weird, that code has not changed in a long time, would be a preexisting bug. In any case dest is supposed to be a directory (we should really check).

[2017-10-09 21:12] mowgli commented on #31449
Hmm. I think, my assumption is wrong.

The `self.options.dest` seems to be just the path without the site.yaml..

[2017-10-09 21:15] RohitK89 commented on #31454
Can confirm. Have the same issue where the same playbook that runs clean on 2.3.2.0 breaks on 2.4. Is there a timeline on a fix?

[2017-10-09 21:19] RohitK89 commented on #31454
In our case, we get a KeyError, so I guess not quite the same thing:
[code]

[2017-10-09 21:26] mowgli commented on #31449
Ah, clear...

I run the command without the `-i localhost,` from `/root` when I did it manually. But even than, I gave the inventory with the original pull command so it is not working that way. Only when adding `-i hosts` instead of `-i localhost,` /after/ chdir to `/root/.ansible/pull/ikki.ket` it is doing what it should.

That does not explain why `self._get_inv_cli` is not working correct.

Ed

[2017-10-09 21:33] mowgli commented on #31449
It should be `if self.options.inventory:`, right?

[2017-10-09 21:36] mowgli commented on #31449
No idea, I am no python programmer.

[2017-10-09 21:48] mowgli commented on #31449
The original from 2.3 was:
[code]

So no checks was made to find out if inventory exists or not.

[2017-10-09 21:55] mowgli commented on #31449
FOUND IT!!!!!

self.options.inventory is `[u'/root/hosts']` when specified as `--inventory=hosts`

So, the options parsing code seems to resolv the path to full qualified! With that, your logic fails badly.

So, to fix it, the original logic to use don't try over smart with fully qualify an option might fix the problem (in combination with your patch).

Edit:
The code that broke it all is in `…/cl

[2017-10-09 22:05] szollin opened #31501 "ansible_distribution section of setup module includes NAME=\ and chops off anything after space"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- setup module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_PIPELINING(/home/szollinx/git/otc_infrastructure_ansible-configs/ansible.cfg) = True
DEFAULT_FORKS(/home/szollinx/git/otc_infrastructure_ansible-configs/ansible.cfg) = 50
DEFAULT_HOST_LIST(/home/szollinx/git/otc_infrastructure_ansible-configs/ansible.cfg) = [u'/hom

[2017-10-09 22:17] tedder commented on #31462
`needs_contributor`.

[2017-10-09 22:29] alikins commented on #30993
Not sure that fix makes sense for all cases. It seems to confuse the cases without any thing on stdin, since it can block. And in the cases where we try to show an interactive prompt if needed even without --ask-vault-pass also seems odd (the non-tty cases seem to work but not sure if the tty case behavior is correct)

[2017-10-09 23:28] smiller171 commented on #13262
@calfonso looping over includes forces you to break out of the current logic and context-switch when writing or updating playbooks, which isn't always ideal. We are aware of the ability to loop overs includes, but would prefer to be able to loop over blocks if we choose. Closing your most popular (by far) feature request as wontfix is pretty disappointing.

[2017-10-09 23:35] abadger commented on #31485
Reopened as only one of the two issues uncovered by this was fixed.  We'll need a new test case, though, as the user-visible problem should now be gone.

[2017-10-09 23:36] #31485 closed, assigned to bcoca

[2017-10-09 23:42] de-Silentio opened #31502 "Support for UInt64 in win_dsc module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_dsc module (specifically the win_dsc.ps1 file)
Specifically:  https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_dsc.ps1#L228

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/ro

[2017-10-09 23:43] de-Silentio commented on #31502
To resolve the issue on my ansible installation, I added at Line 229 of the win_dsc.ps1 file:
[code]

[2017-10-10 00:03] jborean93 commented on #31502
Thanks for the info @jldombrowski, I've added this to the list to do automatic sniffing of the type and converting it to that type.

[2017-10-10 00:18] de-Silentio commented on #31502
Thank you, @jborean93.  You resolved the issue for me.  I didn't know you were a contributor.

[2017-10-10 01:01] nickrusso42518 opened #31503 "Controlling output for ansible iteration"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
with_* (with_items, with_together, with_nested ... any iterator )

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg modification:
forks = 20
gathering = explicit
host_key_checking = false
timeout = 60
vault_password_file = ~/.ansible/vault-pass.txt
retry_files_enabled = false

##### OS / ENVIRONMENT
AWS AMI Centos7 instance: Linux

[2017-10-10 01:01] tmekaumput opened #31504 "handlers are not executed on all hosts when strategy free applied"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

handlers

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Tasks in handlers block are not executed on all hosts when strategy **free** applied
The tasks in handlers block are executed OK on all hosts with linear strategy also including when serial batch process applied.

##### STEPS TO REPRODUCE

[2017-10-10 02:22] kedarkekan commented on #31490
@coolcps you are using `command_timeout` field?

The command timeout value defines the amount of time to wait for a command
or RPC call before timing out. The value for the command timeout must
be less than the value of the persistent connection idle timeout (connect_timeout)
`command_timeout = 10`

Configures the persistent connection timeout value in seconds.  This value is
If the connection doe

[2017-10-10 02:53] Darren-wh commented on #24735
cool.That works on me.

[2017-10-10 03:23] abadger commented on #30977
Closing this as it should already be fixed as notd above.

[2017-10-10 03:23] #30977 closed, assigned to nobody

[2017-10-10 03:26] coolcps commented on #31490
@kedarX What is the best way to set the command_timeout / connect_timeout?  Doesn't seem to have an effect when setting in ansible.cfg or extra-vars.  Just tried searching around, but can't find too much information on these two options.  Thanks for any info!

[2017-10-10 03:43] abadger commented on #30690
\cc @mgruener  bug in the letsencrypt module

[2017-10-10 03:56] #30901 closed, assigned to bcoca

[2017-10-10 03:56] #31087 closed, assigned to nobody

[2017-10-10 04:47] sudheerdevara commented on #12643
[root@server2 ~]# ssh-copy-id server3
root@server3's password:
Now try logging into the machine, with "ssh 'server3'", and check in:

  .ssh/authorized_keys

to make sure we haven't added extra keys that you weren't expecting.

[root@server2 ~]# ansible all -m ping -vvv
Using /etc/ansible/ansible.cfg as config file
META: ran handlers
Using module file /usr/lib/python2.6/site-packages/ansible/modul

[2017-10-10 04:48] sudheerdevara commented on #12643
[root@server2 ~]# ssh-copy-id server3
root@server3's password:
Now try logging into the machine, with "ssh 'server3'", and check in:

  .ssh/authorized_keys

to make sure we haven't added extra keys that you weren't expecting.

[root@server2 ~]# ansible all -m ping -vvv
Using /etc/ansible/ansible.cfg as config file
META: ran handlers
Using module file /usr/lib/python2.6/site-packages/ansible/modul

[2017-10-10 05:00] duck-rh commented on #22025
@bcoca I don't get it. I cited the documentation, which has not changed for set_fact precedence since the bug was opened, and my test case shows it does not follow the precedence list. From what I read only extra vars can win over set_fact. Am I understanding it all wrong?

[2017-10-10 05:09] calston commented on #13262
This is as ridiculous as removing all the loops from Python and telling people they have to use cyclic imports. Clearly this project is destined for failure

[2017-10-10 06:13] prateekj201 commented on #31464
Hi,
I guess we have some confusion here. The when condition is being not exactly used with a loop but is simply being used against a single value. The variable {{ asgs.instances[1].public_ip_address }} will have either an ip address if the environment is production else will be undefined. This particualr palybook is used for three different environment for a purpose and we maintain only one server

[2017-10-10 06:55] ptman opened #31511 "cloudflare_dns: SPF idempotence"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudflare_dns

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(no changes to defaults)

##### OS / ENVIRONMENT
Debian sid docker container

##### SUMMARY
cloudflare_dns is able to handle MX records with idempotence (ok if record already has desired value), but not SPF/TXT records.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
TASK

[2017-10-10 07:13] jhawkesworth commented on #31423
I see the STDERR error message below when I run reproducer playbook against windows 10 with 2.5 devel, but the playbook does not fail for me.

<TENSY> WINRM STDERR An error occurred while creating the pipeline.
    + CategoryInfo          : NotSpecified: (:) [], ParentContainsErrorRecordException
    + FullyQualifiedErrorId : RuntimeException

I am pretty certain none of the tests cover adding jso

[2017-10-10 07:33] HanXHX commented on #15336
Any news about this issue? It affects 2.3.* too...

[2017-10-10 07:48] machacekondra commented on #29408
close_me It was resolved by ansible/ansible-modules-extras#3557

[2017-10-10 07:51] Alwaysc0d3 commented on #8603
+1

[2017-10-10 07:53] #29408 closed, assigned to nobody

[2017-10-10 08:58] kedarkekan commented on #31490
use `command_timeout` in ansible.cfg

[2017-10-10 09:07] ganeshrn commented on #31490
@coolcps This one the changes made in persistent connection timers which is available from 2.4 and above.
You can find more details for this in [2.4 porting guide](http://docs.ansible.com/ansible/2.4/porting_guide_2.4.html) under Networking section

[2017-10-10 09:40] jellevandehaterd commented on #27973
For the linear strategy, meta tasks are just run once and for all hosts currently being iterated over. This causes an issue for (I think) not only end_play but also clear_facts and clear_host_errors.
This is due to `_evaluate_conditional(target_host)` being in the wrong place.
This is a [working version](https://gist.github.com/jellevandehaterd/28f58a2d88f835856d2b74b4a268a60e) based on the versio

[2017-10-10 09:40] rcarrillocruz commented on #31170
network-infra is installable with one play, closing.

[2017-10-10 09:40] #31170 closed, assigned to rcarrillocruz

[2017-10-10 09:41] Sebbo94BY opened #31518 "copy_module does not use set force option"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
http://docs.ansible.com/ansible/latest/copy_module.html

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible running from:
[code]

Ansible managed host:
[code]

##### SUMMARY
I have a task with multiple items, which will copy the items to the specified location. For each item, the option `force` is set to `ye

[2017-10-10 09:58] ghost opened #31519 "Feature : Check order display diff by step and not by time?"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
check

##### ANSIBLE VERSION
[code]

Hello team !

First thank you so much for this great tool Ansible, it gives me a job and I love working with it.

I had an idea for you : I've seen that the "check mode" added with the option --diff displayed the differences in the end of the deployment by the time it took (the longer the first) could it be

[2017-10-10 10:25] PAtkinsonHSBC opened #31520 "GCE.PY does not include gce_labels"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
GCE.PY

##### ANSIBLE VERSION
NA

##### CONFIGURATION
If using Ansible 2.4 or above, paste the results of "ansible-config dump --only-changed"
ANSIBLE_SSH_ARGS(/home/XXX/project01/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=900s -o GSSAPIAuthentication=no
DEFAULT_REMOTE_USER(/home/XXX/project01/ansible.cfg) = XXansible
HOST_KEY_CHECKI

[2017-10-10 10:33] KingNoosh commented on #31454
I'm also facing this exact same issue, would like to know when this is resolved.

[2017-10-10 10:46] dagwieers opened #31521 "win_smart_facts: New module to show disk SMART information"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_smart_facts

##### ANSIBLE VERSION
v2.5

##### SUMMARY
This functionality would be nice to have to get an overview of the wear and tear of hard disks. A similar module could be implemented for Linux systems, but on Windows it is likely easier to get from WMI ?

[2017-10-10 11:05] sengaya commented on #27780
I did not discover this issue (and the previous issues) until now. I implemented `yum clean` just 2 days ago, see https://github.com/ansible/ansible/pull/31450

[2017-10-10 11:31] #31483 closed, assigned to mkrizek

[2017-10-10 12:14] kevensen commented on #31376
@lucastheisen This is a great idea.  Interestingly I had created a [lookup plugin](https://github.com/kevensen/oc/blob/master/lookup_plugins/oc.py) to do just that.  Though I haven't submitted a PR for it yet because I didn't think it would be useful to anyone but me.  Perhaps I'll go ahead and do that.

Below is an example from my [oc-project-migrator](https://github.com/kevensen/oc-project-migra

[2017-10-10 12:25] benashton2 commented on #31178
@jimi-c @Shaps Correct, the issue was that the include from line 10-15 was being parsed before the tasks above where we define the facts used for the loop. The fix I used was as below: -

[code]
This issue can be marked as resolved, one query I would have is how this has changed? e.g. the include with_together snippet being touched before the tasks above, is this due to the new include/import chan

[2017-10-10 12:37] agaffney commented on #31074
It appears that this can be addressed with:

[code]

It's unclear if doing that in this plugin is the correct approach, though. @bcoca

[2017-10-10 12:58] kevensen commented on #31376
@lucastheisen Just FYI I created a pull request for this plugin, #31525.

[2017-10-10 13:14] smiller171 commented on #13262
@calston No, I really doubt that one of the most popular configuration management tools, backed by RedHat, and the only one I know of that's idempotent by design is going to fail any time soon, even if they aren't willing to look at this issue. I think they are making a mistake here, but it's still an incredible tool that's very much worth using.

[2017-10-10 13:23] loomsen commented on #31377
So, I was fiddling a little more with this, and now it seems like the idempotency is there if I run it against a virtual machine in our vmware stack, but not if I run it with molecule.

[2017-10-10 13:27] gildegoma commented on #30993
@alikins How does it compare to `--ask-become-pass` and `--ask-pass` behaviours? I think that having the same (backwards compatible) behaviour for these three "password prompts" is the best way to go.

[2017-10-10 13:49] calfonso commented on #13262
@smiller171 this shouldn't have been closed, it should have been marked as waiting on contributor.

[2017-10-10 13:54] trishnaguha commented on #31275
resolved_by_pr #https://github.com/ansible/ansible/pull/31524

[2017-10-10 14:04] s-hertel commented on #31454
@RohitK89 Are you using EC2-Classic? Do you mind testing my fix #31526 or opening a new issue ticket with reproducer?

[2017-10-10 14:06] Sabbasth opened #31527 "if callback_plugins is activated ; then the wrong json module is loaded"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running OS: MacOS

##### SUMMARY
if the `callback_plugins` option is activated the

##### STEPS TO REPRODUCE
[code]
and activate `callback_plugins        = plugins/callback`

##### ACTUAL RESULTS
[code]

[2017-10-10 14:07] KingNoosh commented on #31454
Just as a note, https://github.com/ansible/ansible/pull/31455 fixes my issue.

[2017-10-10 14:08] lassizci opened #31528 "Flattened lookup plugin gives inconsistent results with string lists."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

flattened lookup plugin

##### ANSIBLE VERSION

[code]
Affects at least 2.3 too

##### SUMMARY

flattened lookup acts different with strings-only lists and mixed types.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

All outputs should consistently be list type.
[code]
[code]
[code]
[code]

##### ACTUAL RESULTS
If list contains only

[2017-10-10 14:08] #31454 closed, assigned to nobody

[2017-10-10 14:14] mkrizek commented on #30991
@one-t @lmaneos @jlozadad @sivel can you please try if https://github.com/ansible/ansible/pull/31529 fixes the issue? Thanks!

[2017-10-10 14:14] mkrizek commented on #30933
@jsumners can you please try if https://github.com/ansible/ansible/pull/31529 fixes the issue? Thanks!

[2017-10-10 14:20] D3DeFi commented on #22924
Hi, this still seems to persist when used with blocks (even tried with freshly cloned devel):

[code]

[2017-10-10 14:30] lmaneos commented on #30991
#31529 fixes the issue for me, thanks!

[2017-10-10 14:43] sivel commented on #31527
I'm going to take a guess here.  In `/Users/bastien.semene/src/github/contentsquare/ansible-dev/plugins/callback` I assume you have a custom callback.

In this custom callback, you are likely missing some boilerplate code at the top of the file:

[code]

Without that code at the very top of your custom callback, it will change import behavior, which can cause the `json` callback to be loaded as op

[2017-10-10 14:46] trishnaguha commented on #30709
The module fails to switch to bash/guestshell environment for both transport.

[2017-10-10 14:50] barrettabel opened #31532 "provide an ENA support flag in ec2_ami"
ISSUE TYPE

Feature Idea

COMPONENT NAME

ec2_ami   - adding AWS ENA support.

ANSIBLE VERSION

v2.5

SUMMARY

There is an "elastic network adapter' that provides enhanced performance with certain AWS instance types. In order to enable this, an running instance needs to be modified with the enasupport attribute

http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/enhanced-networking-ena.html

[code

[2017-10-10 14:50] sivel commented on #31527
Also for additional info, this is the changed that caused this: https://github.com/ansible/ansible/commit/b93b9e68d71adb4f8688da4be2230af9317e9c62

The solution should be making sure that at minimum `from __future__ import absolute_import` is in your custom callback.

[2017-10-10 14:51] croensch commented on #31342
I can confirm
[code]
settings are in ```/etc/environment``` as well as ```/etc/sudoers.d/10proxy```: ```Defaults env_keep += HTTP_PROXY``` ...and so on. They work for commands with become.
After reading module_utils/urls.py has wrappers and stuff i tried to get the imports of requests/urllib3/pyopenssl running.. ```requests.packages.urllib3.contrib.pyopenssl``` is still not importable on vagrant d

[2017-10-10 14:57] bcoca commented on #31527
well, that commit changed the problem as it was initially loading as the 'global json' now it only happens with callbacks.

[2017-10-10 15:06] mvrgotiks opened #31534 "Failing to install single and/or multiple packages with yum and with_items"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
yum module + with_items

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NOTHING CHANGED
I get empty output.

##### OS / ENVIRONMENT
Ansible Host = Mac OS X Sierra
Managed server = CentOS 7.4

##### SUMMARY
Failing to install packages using yum and with_items structure
My inventory file:
[code]

##### STEPS TO REPRODUCE

command:
[code]

site

[2017-10-10 15:11] sivel commented on #31534
This looks like a difference in functionality between how `with_items` usually works, and using it with a plugin that supports "sqaush actions"

`with_items` will typically flatten a list of lists, but it doesn't appear on the surface that squash actions is doing that.

A work around for you would be to do the following:

[code]

instead of:

[code]

[2017-10-10 15:12] smiller171 commented on #13262
@calfonso ansibot came in behind you and removed that tag.

[2017-10-10 15:13] Sabbasth commented on #31527
@sivel This fixed my problem. Thank you for the support.
I let you close or not due to @bcoca comment

[2017-10-10 15:14] mattlan commented on #30778
Do you have a 2.3 patch I can test, or will the above work on 2.3?  Not currently using 2.4.

[2017-10-10 15:18] mvrgotiks commented on #31534
@sivel
I have just made suggested change:
[code]
and received same message back:
[code]

[2017-10-10 15:19] abadger commented on #13262
@calfonso yesterday we decided that this was not a feature that we wanted inside of Ansible.  So according to our discussion yesterday, closing this ticket is proper.  I think since there's some flip-flopping we desperately need to have a discussion today about the pros and cons of accepting this feature and once we have them there, lay all of the pros and cons out in this ticket, not just the "fi

[2017-10-10 15:44] coolcps commented on #31490
Edit: Nevermind, I see they go under [persistent_connection].  The link was broken in the porting guide, but good to go after searching for the network debug guide.  I didn't realize these were changes for 2.4, thanks for the help on this!

[2017-10-10 15:47] smiller171 commented on #13262
@abadger If you do choose to close this permanently I think that rationale should be explained in-depth attached to my original comment so that it's easy to access for anyone finding this issue later.

[2017-10-10 15:53] Tomino2112 opened #31536 "ec2_instance_facts.py not parsing tags correctly, returning empty dict"
##### ISSUE TYPE
 - Bug Report + Improvement

##### COMPONENT NAME
ec2_instance_facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Ubuntu 16

##### SUMMARY
Instances are being loaded correctly but no tags are being returned

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Instances will have `tags` dictionary as per documentation

##### ACTUAL RESULTS

[2017-10-10 15:55] #31490 closed, assigned to nobody

[2017-10-10 16:01] #29920 closed, assigned to samdoran

[2017-10-10 16:37] jhawkesworth commented on #31521
Nice idea.  Might want to tinker with the proposed name to avoid confusion with 'smart' fact gathering.

[2017-10-10 16:43] thaumos commented on #31520
Any new features should be in an inventory plugin.

@erjohnso, [here's a high level doc](http://docs.ansible.com/ansible/devel/plugins/inventory.html) with links to example docs.  Feel free to reach out to me to discuss!

[2017-10-10 16:45] s-hertel commented on #31536
Thanks for filing an issue @Tomino2112. This has bug been fixed for 2.4.1 in 750874ea5dcd1cd3533719d85f355f4654996e7d.

[2017-10-10 16:45] #31536 closed, assigned to nobody

[2017-10-10 16:48] staelche commented on #23575
The problem still exists in the latest 2.4 release (and is a pain in the ass to debug). I played around with it a little bit and recognized that the asterisks in the exclude patterns seem to be the problem.

Does not work:

    /usr/bin/rsync --delay-updates -F --compress --delete-after \
    --checksum --recursive --links \
    --rsh=/usr/bin/ssh -S none -o StrictHostKeyChecking=no \
     --exclu

[2017-10-10 17:12] #31232 closed, assigned to nobody

[2017-10-10 17:21] ganeshrn commented on #30778
@mattlan We have tested this PR and it is working as expected on devel. I will merge it and cherry pick to 2.4 branch (to make it in 2.4.1)
I will create a patch for 2.3 and check if it is possible to backport it in 2.3

[2017-10-10 17:22] Akasurde commented on #31225
resolved_by_pr #31541

[2017-10-10 17:55] nitzmahone opened #31543 "any_errors_fatal ignored if error occurs in block with always"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
play_iterator

##### ANSIBLE VERSION
2.4.1

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
`any_errors_fatal: true` behavior is ignored if the error occurs in a block with an `always` element specified.

##### STEPS TO REPRODUCE

(repro,yml)
[code]

##### EXPECTED RESULTS
Playbook execution stops after `always` block, "still e

[2017-10-10 17:59] nitzmahone commented on #22924
@D3DeFi this looks like a separate issue- I've filed https://github.com/ansible/ansible/issues/31543 for it

[2017-10-10 18:39] #30991 closed, assigned to mkrizek

[2017-10-10 18:42] RohitK89 opened #31545 "iam-group returns state 'changed' for large groups even when no change is applied"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
iam-group module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS X 10.12.6

##### SUMMARY
The iam-group module returns a state of 'changed' for two of our groups every time. These are large groups with 100+ users, and I think that's what's causing the issue. I've verified that the module is not actually ap

[2017-10-10 18:49] CFSworks commented on #26224
Hi!

I'm encountering this same issue myself; commenting out the appropriate error handling to get a traceback reveals where the "Bad address" error is really coming from:
https://github.com/ansible/ansible/blob/v2.4.0.0-1/lib/ansible/plugins/connection/paramiko_ssh.py#L126

Indeed, commenting out that `tcflush` call changes the reported error and setting `host_key_checking=false` in ansible.cfg b

[2017-10-10 20:27] lucastheisen commented on #31376
@kevensen , honestly, I am relatively new to Ansible...  Have never used lookups.  It looks like I it should accomplish what I need.  I will try it out as soon as I get a free moment.  Thank you!

[2017-10-10 20:43] VojtechMyslivec opened #31547 "Timezone module crash on Debian"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

timezone module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running Ansible on Debian Buster (testing) and managing Ubuntu Xenial (16.04 LTS) and Debian Stretch (9.2, stable).

##### SUMMARY

Timezone module is unable to change and set system timezone.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED R

[2017-10-10 20:44] VojtechMyslivec commented on #31547
This issue is probably related to #19280 #19745 and #27546

[2017-10-10 20:46] andreaso commented on #31511
Doesn't appear to be related to the record type in question, but rather the value specified. More specifically, this breakage is triggered by any value containing a `=`.

The problem starts when the `ensure_dns_record` method calls the `get_dns_records` method to determine if the to-be-created record already exists or not, and act accordingly.  The `get_dns_records` using the following API GET req

[2017-10-10 21:23] sandrinr commented on #23609
This is also reproducible with Ansible 2.4 `include_tasks`, so I guess the deprecated tag is not really appropriate. A simple playbook with 100x times `include_tasks: include.yml`, where `include.yml` contains only a `debug: msg="Msg!"` action triggers the issue on my machine (OSX, Ansible 2.4.0.0).

On our production plays this happens already after a few `include_tasks` actions (10 or so).

[2017-10-10 21:26] riton commented on #23609
I'm actually surprised that this issue has been flagged as `deprecated`

[2017-10-10 21:27] riton commented on #23609
Is the `include_role` deprecated ?

[2017-10-10 21:40] rewilliamso opened #31549 "vmware_inventory.py and vmware_inventory.ini"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

dynamic Inventory
ansible/contrib/inventory/vmware_inventory.py
ansible/contrib/inventory/vmware_inventory.ini
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I copied the vmware_inventory.py and vmware_inventory.ini to my ansible server.  I added my vsphere servername , username and passwor

[2017-10-10 22:12] jborean93 commented on #31003
@trondhindenes, do you have an example of someone using `win_dsc` that takes in a `CimInstance[]`. I'm trying to understand the code and it is a tiny bit confusing how it converts the string.

[2017-10-10 22:35] ElijahLynn commented on #30229
We have been getting many "RequestLimitExceeded" for AuthorizeSecurityGroupIngress and RevokeSecurityGroupIngress. AWS says:

source: http://docs.aws.amazon.com/AWSEC2/latest/APIReference/query-api-troubleshooting.html#api-request-rate

It seems like Ansible should be able to take care of these. Please discuss if the Ansible team would accept a PR for this functionality.

[2017-10-10 22:53] smiller171 commented on #30229
@ElijahLynn Since no one on the Ansible team seems to be looking at this issue, you may have better luck opening a new issue or reaching out via other channels to ask whether they would accept the PR. They likely would.

[2017-10-10 22:55] kevensen commented on #31376
@lucastheisen I found one of the best ways to learn Ansible and its underpinnings is to get involved in the community like you're doing.  Trying to tweak code like you've done is great.

Just FYI, lookups occur from the host on which you are executing Ansible.  This shouldn't impact much but is a nuance worth noting.

[2017-10-11 00:20] nitzmahone commented on #31521
My limited experience with trying to get SMART data from WMI was fairly maddening back in the day. It seems like the data availability and accuracy is wildly inconsistent across HDD/storage adapter manufacturers, both at the detail and even "big picture" levels (eg, "predicted failure, yes/no"). A bit of Googling shows that I wasn't alone in this...

[2017-10-11 01:19] mcaulifn opened #31553 "template fails with undefined value despite default"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_CALLBACK_WHITELIST(/mnt/c/Users/Nmcauliffe/repos/ansible-lab/ansible.cfg) = ['jsnapy']
DEFAULT_HASH_BEHAVIOUR(/mnt/c/Users/Nmcauliffe/repos/ansible-lab/ansible.cfg) = merge
DEFAULT_HOST_LIST(/mnt/c/Users/Nmcauliffe/repos/ansible-lab/ansible.cfg) = [u'/mnt/c/Users/Nmcauliffe/re

[2017-10-11 01:29] bcoca commented on #31553
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

it is not being ignored, it just only applies to the last var `as`, you need
`{{ (instance|default({})).as|default('0') }}` to cover bo

[2017-10-11 01:29] #31553 closed, assigned to nobody

[2017-10-11 01:45] willthames commented on #31545
Can you check if #31554 fixes your issue (I've done incredibly limited testing on it)

[2017-10-11 02:09] RohitK89 commented on #31545
@willthames Sorry if this is a n00b question, but how do I test? I cloned the ansible repo. Not sure how to pull down your commit, since it's not on a branch, I think.

[2017-10-11 02:14] RohitK89 commented on #31545
Never mind, I figured out what your remote is and pulled down the branch. Testing now. . .

[2017-10-11 02:18] RohitK89 commented on #31545
@willthames Verified that this fixes the issue!

[2017-10-11 03:29] travisdetert commented on #10068
What is this even trying to avoid?  What is the intent here?  (Honest question? )

[2017-10-11 04:19] bcoca commented on #31449
This path fix could solve this also #31533

[2017-10-11 04:20] willthames commented on #31545
Thanks @RohitK89, just need to get this change reviewed now.

FYI, for slightly easier PR interaction than adding a remote, I have a git alias `ghpr` defined as

[code]

and then do `git ghpr upstream 12345` which fetches PR 12345 from upstream remote (in my case ansible/ansible). I can then checkout branch pr-12345.

[2017-10-11 05:05] ptman commented on #31511
@andreaso Thanks for digging deeper

[2017-10-11 05:06] CarlosEspejo opened #31557 "digital_ocean.py --list broken since v2.3.0.0-1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

digital_ocean.py inventory script

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS High Sierra 10.13, controlling Ubuntu 16.04 machines

##### SUMMARY

##### STEPS TO REPRODUCE

Download the `digital_ocean.py` and `digital_ocean.ini` inventory scripts from the v2.3.0.0-1 tag or greater. You also need digitaloc

[2017-10-11 05:21] jborean93 commented on #31423
@jhawkesworth, the error you are seeing in the STDERR stream is actually because of https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/shell/powershell.py#L38. If you remove that line it will go away but it is unrelated to this issue. I'll raise a PR and talk it through with @nitzmahone as it isn't really necessary and causes some confusing like in this case.

I will say it is weird

[2017-10-11 05:59] dscout87 opened #31559 "os_flavor_facts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_flavor_facts

##### ANSIBLE VERSION

ansible 2.3.1.0

##### SUMMARY
When specific amount of ram and vcpus parameters used together and cpu not match any flavor, module ignore vcpu parameter and return a dict of flavors contained only matched ram.

It must work like ram. If no match - don't add flavors to facts.

##### STEPS TO REPRODUCE
just

[2017-10-11 06:01] trishnaguha commented on #30992
@IPvSean
`diff_against: intended` generates the diff of the running config against the indented config.
`diff_against: running` generates the diff of the change against the running config.
The module does what it is supposed to do. You might want to use `diff_against: running` to achieve what are expecting?

Please let us if this clears your doubt.

[2017-10-11 06:29] prateekj201 opened #31560 "ansible add_host module ignoring the when condition. Has this been resolved in 2.4 or continues to be same"
`

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed that would affect this
##### OS / ENVIRONMENT

The playbook running from Ubuntu 16.04.3 laptop to for CentOS Linux release 7.2.1511 host server
##### SUMMARY

Ansible add_host module ignoring the when condition. The task continues to execute in the way as without the when c

[2017-10-11 06:38] mowgli commented on #31449
Sorry, no, does not fix it. And I put a print out for inventory to pull.py that shows that the path is still /root/hosts.

[2017-10-11 07:09] EddyP23 opened #31561 "Bug | Error message being swallowed in azure_rm_common.py"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_common.py#L385

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS

##### SUMMARY

azure_rm_common is swallowing error message. What I see after executing azure module is
[code]
So it sounds that there is a problem with `ResourceGroup1`. But digging deeper, HTTP Resposne looks like:
[cod

[2017-10-11 07:11] maheshd2 commented on #20297
I agree with @nmulvihill, Similar issue in "service" module as well. It looks better if the service module provides an attribute to say "Ignore if the service/package is not installed"

[2017-10-11 07:23] jhawkesworth commented on #18934
My guess would be becuase you are picking up the Malicious Software Removal Tool Nov Tech Preview and the Malicious Software Removal Tool Nov update at the same time, one of them is failing with a permission denied.  Not sure what category gives you the Preview but maybe run in two separate batches?  Might be worth doing the rollups first before other updates anyway?

Comparisions with what happen

[2017-10-11 07:54] cesarjorgemartinez commented on #22531
I check the same failed behaviour using ansible 2.3.2.0.
Other workaround is to repeat the same line and writing {% ... %} in separate new lines, but the template becomes less readable and repeating text can lead to errors:
{% if openssh.gssapi_authentication %}
GSSAPIAuthentication yes
{% else %}
GSSAPIAuthentication no
{% endif %}

[2017-10-11 08:09] mvrgotiks commented on #31534
Folks, any suggestions?

[2017-10-11 08:19] LuckySB commented on #31074
may be the case in the order of the task
at default the output is generated in the order of execution

With the actionable plugin, the output is generated after the task execution, when the task variables have already been cleared

[2017-10-11 08:36] #31560 closed, assigned to nobody

[2017-10-11 09:01] NBardelot commented on #31311
Here's a way to reproduice the "any_errors_fatal" bug :

The wrapping playbook:
[code]

The test1.yml play:
[code]

The test2.yml play:
[code]

Here's the output where you can see even if the "first" host failed, the play does not fail:
[code]

The expected behaviour would be:
  * after the first "include", as the included play fails and has got the "any_errors_fatal" flag the wrapping playbook st

[2017-10-11 09:12] ddzialak opened #31567 "Option --ssh-common-args does not work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - module

##### ANSIBLE VERSION
[code]
DETAILS:
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
It's rather OS independent but:
[code]

##### SUMMARY

Option `--ssh-common-args` when running `ansible` or `ansible-playbook`  does not work:
`ansible $ ansible inventory_hosts --ssh-common-args="-F required_file_to_ssh_config"`
this shou

[2017-10-11 09:16] tinawenqiao commented on #14335
Hi, all, I have the same issue. But the following config returns "....Bad configuration option -t". How to set?
[ssh_connection]
ssh_args= -o -T

[2017-10-11 09:16] NBardelot commented on #31311
@giovannisciortino your idea of using "ansible_play_batch" is a bit like the one we had of using a file that serves as a flag. Yours is cleaner, but aside from the "when" statement the idea is the same.

But I think the whole problem comes from the way included plays behave. In your example you do not include plays, but tasks (`include: stop.yml` would not work for me because its a playbook by its

[2017-10-11 09:46] #27825 closed, assigned to nobody

[2017-10-11 09:49] Tomino2112 commented on #25941
I just had the same issue ansible v 2.4.0.0 Ubuntu 14

I don't have same issues with ubuntu 16

[2017-10-11 09:54] paulquack opened #31568 "Supporting loading hierarchical config in netcfg module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- module_utils/netcfg.py +label networking

##### SUMMARY

I'd like to find a way to support either hierarchical yaml structured `lines` parameter or loading of simple space indented config.

##### STEPS TO REPRODUCE

On a platform that I am developing a module for, I have the following configuration snippet that is commonly deployed. Curren

[2017-10-11 09:57] gintautassulskus opened #31569 "Facts are still gathered for plays that do not match a --tag=X"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

playbook, tags
##### ANSIBLE VERSION

[code]

##### SUMMARY

Fact_gathering is run for plays that do not match a tag.

##### STEPS TO REPRODUCE

[code]
To skip the play run either
`ansible-playbook -i node-1, play.yml --skip-tags="node-tag"`
or
`ansible-playbook -i node-1, play.yml --tags="mismatch"`

##### EXPECTED RESULTS

Works fine with `-

[2017-10-11 09:57] paulquack commented on #31568
+networking

[2017-10-11 10:03] paulquack commented on #31568
As compared to the following snippet... https://github.com/ansible/ansible/blob/88da95bb77cf20f56035e7ba5d0230c0a2785f2b/lib/ansible/module_utils/netcfg.py#L365-L408

[2017-10-11 11:25] mnarusze opened #31574 "Socket operations sometimes fail if they access the same switch at the same time"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

eos_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When using eos_config to access the same switch with many workers at the same time, socket operations tend to fail. Logs indicate that failures happen when workers try to use the same session.

##### STEPS TO REPRODUCE

Have a playbook ru

[2017-10-11 11:32] nickrusso42518 opened #31575 "ios_config incorrectly claims success when commands fail"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg modification:
forks = 20
gathering = explicit
host_key_checking = false
timeout = 60
vault_password_file = ~/.ansible/vault-pass.txt
retry_files_enabled = false

##### OS / ENVIRONMENT

AWS AMI CentOS7
[code]

##### SUMMARY

There is no stdout from "ios_config". When y

[2017-10-11 12:07] mcaulifn commented on #31553
@bcoca Thanks for the heads up! Is there some documentation that needs to be updated? I'd be happy to help with that.

[2017-10-11 12:31] andmos opened #31576 "win_firewall_rule works in 2.3.2.0, fails in 2.4.0.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`win_firewall_rule`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Running from OS X (installed from HomeBrew)
and Ubuntu 14.04 LTS
against Windows Server 2012R2 VM.

##### SUMMARY
When upgrading from Ansible 2.3.2.0 to 2.4.0.0, all `win_firewall_rule` tasks fail. They work nicely in 2.3.2.0.

##### STEPS TO RE

[2017-10-11 12:35] #21112 closed, assigned to jctanner

[2017-10-11 12:39] kmschl2 commented on #27955
This also affects 2.4.

[2017-10-11 12:41] ar7z1 commented on #31576
@andmos Thanks for the report! I'll try to reproduce the issue.

[2017-10-11 12:42] kmschl2 commented on #27955
PATCH for 2.4:
[code]

[2017-10-11 12:49] andmos commented on #31576
Great!
[code]

Also fails with
`FAILED! => {"changed": false, "failed": true, "msg": "The parameter is incorrect. (Exception from HRESULT: 0x80070057 (E_INVALIDARG))"}`

[2017-10-11 13:10] gundalow commented on #31575
Looks like a real issue, possibly a regex issue in the Terminal Plugin. We should aim to cherry pick the fix into `stable-2.4`

[2017-10-11 13:12] Andrei-Stepanov opened #31579 "RFE: Add debuginfo-install to dnf module"
### dnf/package module cannot install debuginfo packages

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
dnf

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Linux, Fedora 26

##### SUMMARY
There is no way to install package from debuginfo repo.

[code]

##### Additional info

It is good to have this feature for using ansible in CI.

[2017-10-11 13:14] NBardelot commented on #30866
@sivel you must be right, we use `#!/bin/sh` as `/bin/sh` is in reality `/bin/bash`. It might have to do with that. The fact that `ksh` is also installed on some of our hosts might also be the issue. Especially since some users on those hosts use `/bin/ksh` as their shell.

Anyway, as mentionned, we have a workaround that works so we didn't spend more time on the issue. I think this issue can be c

[2017-10-11 13:15] gundalow commented on #31574
Need someone to look at this to understand what the issue is.

Do you have a simple playbook and `ansible-playbook` command that can reliably reproduce this?

There is another issue in here which is logging of `Command executed` which will will fix in another PR.

[2017-10-11 13:30] t-readyroc opened #31582 "multiple failures pip upgading OS X Ansible 2.3.1 > 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Install/Upgrade
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS X Sierra 10.12.6
##### SUMMARY

Upgrade failed on several steps, resulting in stalled upgrade.
##### STEPS TO REPRODUCE

pip install ansible --upgrade

##### EXPECTED RESULTS

Upgrade Ansible
##### ACTUAL RESULTS

The first attempt resulted in the fo

[2017-10-11 13:31] gundalow commented on #31346
Perhaps creating a documentation_fragment with a `note:` explaining this that we import into every module.

[2017-10-11 13:31] gundalow commented on #31346
Should be cherry-picked into `stable-2.4`

[2017-10-11 13:33] gundalow commented on #31267
PR merged

[2017-10-11 13:33] #31267 closed, assigned to gundalow

[2017-10-11 13:38] ryansb commented on #30229
There are tools for handling rate limits inside AWS module utils, called `AWSRetry`. We do accept PRs to enhance our rate limit handling, If you can't file a PR yourself, open an issue with info about the module + where the rate limit is taking effect.

[2017-10-11 13:42] gundalow commented on #31162
This may be a good candidate for https://github.com/ansible/ansible/issues/31277

[2017-10-11 13:42] gundalow commented on #31277
Could be used to resolve https://github.com/ansible/ansible/issues/31162

[2017-10-11 13:43] mnarusze commented on #31574
Let's say we have connection A and connection B, both running "lacp port-priority 32768" but on different ports. Since they are operating on the same session, there might be a race between the two.

Example with context in brackets.

A) configure session 123 [_global_->_conf_]
A) int eth 1/1 [_conf_->_int eth 1/1_]
B) configure session 123 [_int eth 1/1_->_conf_]
A) lacp priority 32768 [incorrect

[2017-10-11 13:45] gundalow commented on #31161
@os4mike Thanks for this bug. This will be fixed by the connection work in 2.5

[2017-10-11 13:46] narankhetani commented on #31416
Hey Guys,

Any thoughts on this?

[2017-10-11 14:06] s-hertel commented on #30229
@ElijahLynn @sbussetti ~I've made a patch here: https://github.com/ansible/ansible/pull/31584. Do you mind testing it?~ If anyone is interested in testing: #31892

[2017-10-11 14:14] smiller171 commented on #30229
@ryansb This issue was originally opened in 2014, and I _think_ #17039 in 2016 provided the tooling needed to solve it (implemented the `AWSRetry` util), but it doesn't seem to be implemented in ec2_elb, which is what this issue was originally opened to target. Does that seem accurate?

[2017-10-11 14:15] mvrgotiks opened #31585 ""msg": "AnsibleUndefinedVariable: 'ansible.utils.unsafe_proxy.AnsibleUnsafeText object' has no attribute 'bridge_id'"}"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[root@multinic1 centos-kvm]# ansible-config dump --only-changed
[root@multinic1 centos-kvm]#

##### OS / ENVIRONMENT

Ansible Host:
[code]

Managed Server:
[code]

##### SUMMARY

Using j2 templates and task with with_items, I am trying to configure libvirt bridge interfaces on managed server.

[2017-10-11 14:16] mvrgotiks commented on #31534
I have tried the same today on the CentOS 7 and it worked without issues.

[2017-10-11 14:19] s-hertel commented on #30110
Closing because I'm unable to reproduce this on a recent version of Ansible, and aws_s3 has been ported to boto3 as of 2.4.

[2017-10-11 14:19] #30110 closed, assigned to nobody

[2017-10-11 14:22] s-hertel commented on #30028
Fixed by a077aeb693f152ff84bb0540131d97e718c8b77a. This option is available in 2.3 - you will need to specify `ignore_nonexistent_bucket: true` and it will ignore the fact that it can't verify the existence of the bucket.

[2017-10-11 14:22] #30028 closed, assigned to nobody

[2017-10-11 14:29] t-readyroc opened #31587 "mongodb_user ValueError: The value of ssl must be 'true' or 'false'\r\n", "msg": "MODULE FAILURE"
I posted a comment [here](https://github.com/ansible/ansible-modules-extras/issues/1869#issuecomment-330529802), but I just realized that that repo was closed, so maybe it slipped through the cracks. The issue is identical to the one reported at that link, reportedly fixed last year.
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mongodb_user plugin
##### ANSIBLE VERSION

[code]

##### CON

[2017-10-11 14:47] s-hertel commented on #30120
This feature was added in 00ba47e4ed49ab6b36d2336c2cef2b8aa8b9824c.

[2017-10-11 14:47] #30120 closed, assigned to nobody

[2017-10-11 14:51] broferek commented on #31341
@bcoca the issue has been closed on f5-sdk side.
I think the documentation has to be updated to reflect that the modules can no longer work with Python 2.6

Thanks,

Ludo

[2017-10-11 15:00] phil-dileo commented on #30802
@dathelen - have you seen this?

[2017-10-11 15:02] sivel commented on #30866
Closing as requested

[2017-10-11 15:02] #30866 closed, assigned to nobody

[2017-10-11 15:08] pkubica opened #31589 "ovirt_templates: wait parameter is ignored"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_templates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
rhel 7.4

##### SUMMARY

Importing template from export storage domain with parameter wait: yes
wait parameter is ignored

##### STEPS TO REPRODUCE

[code]

[2017-10-11 15:13] sivel commented on #31582
Your problem is the result of attempting to make modifications to files that exist in a protected part of the filesystem due to System Integrity Protection.  You may have to research how to disable SIP, remove the offending packages, re-enabled SIP, and then try to perform the install again.  Likely some packages were installed in those locations before an upgrade that enabled SIP, and now they ar

[2017-10-11 15:13] #31582 closed, assigned to nobody

[2017-10-11 15:26] t-readyroc commented on #31582
OK. Thanks for the response.

[2017-10-11 15:35] adrianlzt opened #31590 "oc module unconditionally adds https:// to host"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/urls.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
oc module returns an strage error:
[code]

The reason was to define the host with the scheme:
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

A more descriptive error could be useful to realize that s

[2017-10-11 16:07] sm4rk0 opened #31591 "Exception when using `with_items` and `delegate_to`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
loop

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I think PR #30464 caused this issue. @bcoca , please check.
Excuse my brevity, I had limited time to write this.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
ok: [localhost -> localhost] => (item=one) => {
    "item": "one",
    "

[2017-10-11 16:42] s-hertel commented on #30229
@smiller171 AWSRetry works for modules that use boto3/botocore. Unfortunately, ec2_elb has yet to be ported.

[2017-10-11 16:59] rcarrillocruz commented on #31174
IOS has been added to Nodepool/DCI

[2017-10-11 16:59] #31174 closed, assigned to rcarrillocruz

[2017-10-11 17:24] foben opened #31593 "Dynamically excluded tasks are still evaluated"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_tasks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 24, running local playbook

##### SUMMARY
The include_tasks feature does not behave as expected. Particularly the 'dynamic' aspect that is emphasized in the documentation does not work.
Executing the playbook.yml posted below:
[code]
It seems t

[2017-10-11 17:30] ebarrere opened #31594 "file: add backup option"
##### ISSUE TYPE

 - Feature request

##### COMPONENT NAME

File module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

File module using `backup=yes` does not back the file up prior to deletion.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

File is backed up.

##### ACTUAL RESULTS

File is NOT backed up, however the module appears to recogn

[2017-10-11 17:38] sivel commented on #31593
You seem to be mixing terms here. You reference `include_tasks` which is the dynamic version, however your playbook is using `import_tasks` which is the static version.

[2017-10-11 17:52] sivel commented on #31594
The docs for the `file` module don’t list `backup` as a valid option.  I imagine this is why you are seeing this behavior, due to it not being supported.

[2017-10-11 17:55] dathelen commented on #30802
@phil-dileo A customer actually hit this issue recently.   Does ansible use pyeapi for the eapi connection?

[2017-10-11 17:57] scottsb commented on #18067
It seems that as of 2.4 the location of `roles_path` is longer treated relative to the `ansible.cfg` file. It is now treated relative to the working directory, wherever that may be. It's not clear to me whether this is a bug or an intended change.

[2017-10-11 17:58] caphrim007 commented on #31416
@narankhetani can you try the same printing with the name of the virtual? I havent found which piece of the virtual is breaking this.

`python -c 'print("vip_c_1151llc33_https")'`

[2017-10-11 18:00] ebarrere commented on #31594
Yeah, I did notice that.  Probably should have filed this as a "Feature request" instead of bug.

In any case, it's confusing that the module accepts this parameter and doesn't complain, but nothing is done.  It would be very useful to have this functionality.

[2017-10-11 18:03] x-yuri opened #31595 "Ansible fails to find ansible_* vars in playbook imported from subdir when running with host list (-i host1,)"
This might have something to do with #29008, but I'm not sure about that.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
import_playbook, probably

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Arch Linux

##### SUMMARY
When running ansible without inventory (`-i host1,`) it doesn't seem to find `ansible_user`, `ansible_host` vars in an imported playbook

[2017-10-11 18:04] dejayc commented on #26586
@Kniyl I guess you could claim Ansible is reusable, but I guess that depends on your definition of reusable.

Almost every single feature that Ansible implements for reusability, it implements in exactly the opposite way I'd expect it.  For example, I'm not sure if this is still true, but when I last used an `include` statement with a `when` clause, instead of doing the intuitive thing (which is *

[2017-10-11 18:07] scottsb commented on #18067
Seems like a bug that was fixed yesterday in #31533.

[2017-10-11 18:13] foben commented on #31593
I'm sorry, I copied the playbook in the wrong version. I tried `import_tasks` to compare the two.
I am actually referring to the dynamic version, `include_tasks`. I have updated the example playbook accordingly.
As a side note: both `import_tasks` and `include_tasks` produce the exact output in this example,
which also highlights the issue.

[2017-10-11 18:17] candlerb opened #31596 "Clarify difference between conditional include_task and import_task"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

`docs/docsite/rst/playbooks_conditionals.rst`

##### ANSIBLE VERSION

n/a

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

n/a

##### SUMMARY

There is an unclear explanation [here](http://docs.ansible.com/ansible/latest/playbooks_conditionals.html#applying-when-to-roles-imports-and-includes):

When it says "both included tasks wou

[2017-10-11 18:19] sivel commented on #31593
Ok, it seems this was broken in e609618274db6a7e3c273abde457f53de8c9976c

Since e609618274db6a7e3c273abde457f53de8c9976c `include_tasks` and `import_tasks` both seem to work as `import_tasks` was designed to.

cc @jimi-c

[2017-10-11 18:24] sivel commented on #31593
An updated playbook that uses both:

[code]

[2017-10-11 18:29] sivel commented on #31593
I've also put together a gist to show this behavior:

https://gist.github.com/sivel/a49acdc41faa609274ed11141b6e99eb

[2017-10-11 18:29] abadger commented on #13262
We talked about this extensively these last few days and came to the conclusion that we are open to accepting this feature if someone in the community would care to implement it.  However, we're going to leave this ticket closed as this is a complex enough problem that we'd like it to go through the Proposal Process instead.  To make this into a proposal, the person who wants to implement it shoul

[2017-10-11 18:29] #13262 closed, assigned to nobody

[2017-10-11 18:32] abadger commented on #13262
@smiller171 I've added a summary of details to your inital post that links to my in-depth comment.  Good idea, adding it to the top post.

[2017-10-11 18:50] taodong opened #31599 "win_reboot failed due to 'Connection' object has no attribute '_winrm_host'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_reboot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS Sierra 10.12.6
##### SUMMARY

Ansible fails on win_reboot
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Windows reboot
##### ACTUAL RESULTS

[code]

[2017-10-11 18:57] foben commented on #31593
One further note: The commit has also been cherry-picked to the stable-2.4 branch, which is where I noticed it initially:

https://github.com/ansible/ansible/commit/ef96329ae2279b3480261b8b737a8d41da663e5e

[2017-10-11 19:05] martinbydefault commented on #22189
@machacekondra I'm still having this problem with Ansible 2.4 and Red Hat Virtualization Manager Version: 4.1.4.2-0.1.el7.
The output of `ansible --version` in MacOS were I'm running the playbook:
[code]
But I also tried it from running it from a RHEL 7.4 with ansible 2.3:
[code]
and I have the same problem.

The vms I'm creating are using a RHEL 7.3 template.
To check if the template was the prob

[2017-10-11 19:07] candlerb opened #31600 "group_by example error?"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
group_by module docs

##### ANSIBLE VERSION
n/a

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
[group_by_module](http://docs.ansible.com/ansible/latest/group_by_module.html) doc says:

[code]

Should the comment not say `Create groups like 'virt_kvm_host'` ?

[2017-10-11 19:17] caphrim007 commented on #31416
and @narankhetani are those pipe symbols or lowercase L letters in your virtual server name?

[2017-10-11 19:30] kevintpeng opened #31602 "Kubernetes Module throws errors on all 422 responses, affecting idempotency"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Kubernetes Module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Service creation is not idempotent with some valid specifications. In this example, the service is created fine the first time, but when the play is run a second time, the task throws an error.

I am creating a kubernetes service object, asking for `sta

[2017-10-11 19:35] nitzmahone commented on #31599
@taodong Is this reproducible for you on a currently-supported version of Ansible (eg 2.3/2.4)? 2.2 is past our usual maintenance window and unlikely to be updated with this fix.

[2017-10-11 19:40] ndeixonne commented on #30806
Is this issue solved ? I still have the same trouble/error with the latest version of ansible.
Cloudwatchevent rule module is still broken in my side.

[2017-10-11 19:48] virtuald commented on #31423
@jhawkesworth the first playbook run failed for me when I tried it five days ago

[2017-10-11 19:50] virtuald commented on #31423
FWIW, the target host has Server 2012 + WMI 5.1.

[2017-10-11 20:05] freephile commented on #16837
What if you have 2GB of memory, and can't raise it; with only 2 hosts in your playbook? And have forks set to 1?

[code]

[code]

[2017-10-11 20:15] taodong commented on #31599
@nitzmahone I haven't tried it under 2.3/2.4. Our script includes win_copy which doesn't work under  Ansible 2.3 before, so our baseline is currently 2.2. I'll try win_reboot under latest version and close this ticket if it works under it

[2017-10-11 20:30] ar7z1 commented on #31576
@andmos Hmm... All your examples work on my Windows Server 2012 R2 :-(

Can you help to debug the issue?

I've created a [commit](https://github.com/ar7z1/ansible/commit/29e6e73a996f56a3c4e1156436236c3f43d3811a) with better error messages. Can you run ansible from my branch?
You can use [this instruction](http://docs.ansible.com/ansible/latest/intro_installation.html#running-from-source) from offi

[2017-10-11 21:45] Per-Forma opened #31609 "asa_config commit and update options non-functional"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
asa_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running Ansible from Ubuntu 16.10
Running Ansible aganst ASA 9.8(1)

##### SUMMARY

When running `asa_config`, trying to use `update` or `commit` options produces error indicating that neither are supported parameters.

##### STEPS TO REPRODUCE

I've

[2017-10-11 22:06] Per-Forma opened #31611 "Provide state: absent option in asa_config and asa_acl"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
asa_config
asa_acl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

root@ansible:/home/bocesadmin/playbooks# ansible-config dump --only-changed
root@ansible:/home/bocesadmin/playbooks#

##### OS / ENVIRONMENT

Running Ansible from Ubuntu 16.10
Running Ansible aganst ASA 9.8(1)

##### SUMMARY

I would like to see a `state:` option in the `a

[2017-10-11 22:24] LittleChimera opened #31612 "filetree doesn't implement with_first_found logic correctly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

filetree

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Linux / Manjaro

##### SUMMARY

filetree doesn't implement with_first_found logic correctly.

##### STEPS TO REPRODUCE

Having role_a which has `include_role: role_b` task, included role doesn't search for paths correctly.
with_first_found searches following folders before it fin

[2017-10-11 22:32] LittleChimera commented on #31612
To me, it seems that it's only looking in paths
[code]
e.g. `{{ lookup('filetree', 'templates/') }}` returns a list of files within `role_b/templates` folder

[2017-10-11 23:01] jborean93 commented on #31480
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-11 23:01] #31480 closed, assigned to nobody

[2017-10-11 23:04] ktbyers opened #31615 "nxos_vlan issues warning about arguments even though arguments are not used"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_vlan

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

##### SUMMARY

nxos_vlan module gives warning about arguments even though arguments not in use:

[code]

##### STEPS TO REPRODUCE

[code]

The arguments are probably embedded as defaults in the module. My playbook is not referring to them at all.

Module should be fixed so that

[2017-10-11 23:04] #28971 closed, assigned to nobody

[2017-10-11 23:06] jborean93 commented on #31501
cc @alikins

[2017-10-11 23:14] jborean93 commented on #29387
The service no longer exists so this module will no longer work, the module was removed in https://github.com/ansible/ansible/pull/31506 and won't be available in future Ansible versions.

[2017-10-11 23:14] #29387 closed, assigned to nobody

[2017-10-11 23:22] taodong commented on #31599
Found a work around in https://github.com/ansible/ansible/issues/19825.

[2017-10-11 23:22] #31599 closed, assigned to nobody

[2017-10-11 23:27] jborean93 commented on #31504
Are you able to verify your Ansible version again as I've tested this with both the latest devel and 2.3.0.0 and cannot replicate your issue. In fact, the `pause` module cannot be used with the free strategy and it will throw an error when you attempt to do so.

I worked around this by using the below, when running it, the handler is fired for both hosts as expected.

[code]

needs_info

[2017-10-11 23:38] jborean93 commented on #31532
cc @Constantin07 @gunzy83 @scicoin-project @willthames

[2017-10-11 23:45] willthames commented on #31532
This will be fixed by #28506

[2017-10-12 00:30] jborean93 commented on #31518
Hi @Sebi94nbg

I'm unable to reproduce your issue with my setup, the file at dest never changes even though the contents are different. The playbook I am running with is

[code]

The source file is just a plain text file where I have put in some random text which is different from dest. Here is the output when running the playbook;

[code]

When looking at your reproducer I see you are setting `fo

[2017-10-12 00:30] #31593 closed, assigned to nobody

[2017-10-12 01:09] pshemk opened #31617 "copy module fails with "source not found" when HOME variable not set"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Ubuntu 16.04.03 LTS running on an EC2 instance

##### SUMMARY
When initialising a machine using cloud-init script:

`ansible-pull -C dev --accept-host-key  --clean -e "hostname=nat-gwa" -i $(hostname), -U git@github.com:xxxxxx/2d-automation-systems.git -c

[2017-10-12 02:10] abadger commented on #31169
Can you try rpm -V of the following:
[code]

[2017-10-12 02:15] Akasurde commented on #31557
@CarlosEspejo Thanks for reporting this issue. Could you please try this [PR](https://github.com/ansible/ansible/pull/29176) and let me know if it works for you ? This PR removes dependency of `dopy` library.

[2017-10-12 02:24] pshemk commented on #31617
What's interesting is that running ansible in 'regular' mode ends up failing the same way inside cloud-init (and works fine if ran manually).

If I clone the repo manually and just run it it still fails.

cloud init content:
[code]

Fails in exactly the same fashion:

[code]

[2017-10-12 02:31] Akasurde commented on #31549
@rewilliamso Thanks for reporting this issue. Could you please provide content of vmware_inventory.ini ? it should look like something similar.

[code]

Seeing at error, I suspect that `[vmware]` line is commented or missing.

[2017-10-12 03:02] paulcalabro opened #31620 "Decryption failed ('no vault secrets would found that could decrypt)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I have organized my configs into a role based directory structure. Some of those roles have default variable files that have encrypted text. Here's a simplified and tested task list from one that is failing:

[code]

##### STEPS TO REPROD

[2017-10-12 03:12] jordanst3wart commented on #15019
As a temp fix I did:
[code]
I have pip, botocore, and boto3 integrated to python3, not the Mac OS default `/usr/bin/python`. As a proper fix I might try to set the ansible_python_interpreter as an environment variable.

[2017-10-12 03:14] CarlosEspejo commented on #31557
Running `./digital_ocean.py --list` didn't crash and using Ansible 2.4 I was able to launch a new Digital Ocean instance but I couldn't run any plays after that because it wouldn't match any hosts. Here's the host file that I used for this test

[code]

[2017-10-12 03:35] paulcalabro commented on #31620
I see the following error message:

`Tried to use the vault secret (default) to decrypt (None) but it failed. Error: HMAC verification failed: Signature did not match digest.`

[2017-10-12 04:25] gregorydulin commented on #11705
I think this was fixed.  My office is using `delegate_to: "{{ remote_host }}"` and `delegate_to: "{{ item }}"` extensively in Ansible 2.3, often while logged in to the target in a separate terminal (for troubleshooting), and haven't run into this issue yet.

[2017-10-12 04:31] andreaso commented on #31511
Took another look, and this appear to be an issue only with the `=` character. Other special url characters, such as `?`, `&` and `;` match fine encoded. To hopefully get some clarification regarding what is what I posted a question in the Cloudflare community form.

https://community.cloudflare.com/t/problem-listing-dns-records-based-on-content-containing-encoded-equal/6755

[2017-10-12 04:33] xiangfeiz opened #31621 "external lookup plugin can not import build-in password plugin if both are used"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Lookup plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

I have an external lookup plugin (in /ansible/lookup_plugins/) folder which import the built-in password lookup plugin. It works fine if I only use my external lookup plugin in the playbook. But it failed with the following e

[2017-10-12 05:35] rafi commented on #30600
In the meantime, `"{{ ansible_distribution | lower | replace(' ', '') }}"`

[2017-10-12 06:01] tf42src opened #31623 "Bug Report: TypeError: unsupported operand type(s) for %: 'bytes' and 'bytes'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/inventory/manager.py

##### ANSIBLE VERSION
Should be latest, but I can't print it anymore as I am getting the error.

##### CONFIGURATION
See above.

##### OS / ENVIRONMENT
Ubuntu 14.04, Python3.4 virtualenv

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
[code]

[2017-10-12 06:04] tf42src commented on #31623
The following steps work though:

[code]

[2017-10-12 06:19] trishnaguha commented on #31615
resolved_by_pr #31624

[2017-10-12 06:30] #31615 closed, assigned to trishnaguha

[2017-10-12 06:36] EddyP23 commented on #26003
@tstringer, any news on when this could be implemented?

Many thanks!

[2017-10-12 06:37] andmos commented on #31576
All right I cloned down your branch in a Vagrant machine running Ubuntu 14.04 LTS:
[code]
Don't know if you get anything more from this:

[code]

[2017-10-12 07:04] andmos commented on #31576
I ran it against another machine, got some more info from that run:
[code]

[2017-10-12 07:22] jebabin commented on #27973
Thanks @jellevandehaterd I confirm your change correctly fix the issue

[2017-10-12 08:09] duck-rh commented on #26294
Quack,

I've got the same situation with 2.3.2 and a similar case: in my situation role2 include_role on role1 and need to use its variables in vars/main.yml. Setting private to False or forcing vars_from does not help.

I tested on 2.4.0 and same behavior.

[2017-10-12 08:52] jficz opened #31626 "mysql_* modules don't use credentials supplied in config_file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mysql_replication

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default

##### OS / ENVIRONMENT

Arch Linux (controller)
CentOS 6 (managed)

##### SUMMARY

mysq_replication module does not use credential supplied in ~/.my.cnf even if the path to config file is explicitly specified

I have observed this behavior on other mysql_* modules

[2017-10-12 08:56] osumampouw commented on #29308
Well to be fair, @shane-walker solution works. But I guess when I did npm install, I wasn't able to use private registry. I assume .npmrc is not read properly. So I'm still trying to find a workaround.

[2017-10-12 08:59] frippe75 commented on #27062
Having the same issue (as well as ALOT of others).

Currently on ansible 2.4.0.
My template  file resides on a datastore cluster accessible to both my nodes in the cluster.
Browsed my datastore from both nodes and downloaded the template file successfully via the browser.

[code]

[2017-10-12 09:07] jean-christophe-manciot commented on #26224
@CFSworks
Yes, setting ```host_key_checking = False``` in /etc/ansible/ansible.cfg masks this issue.
But host key checking is important, security-wise.
I tried with latest 2.4.1.0 & 2.5.0, and the issue is still there.
[code]

[2017-10-12 09:07] frippe75 commented on #27062
Also would have been nice to be able to use templates placed in the content library but does are not matched/found.

[2017-10-12 09:08] Nir-Tal opened #31627 "Jira module in create mode fail with "HTTP Error 400: Bad Request""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Jira

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Debian 8.9
Jira cloud

##### SUMMARY
When running the jira module with create I'm getting "HTTP Error 400: Bad Request"

##### STEPS TO REPRODUCE
create var file with:
[code]
Add the tasks and the var file to a new playbook and when running the playbook limit

[2017-10-12 09:14] frippe75 commented on #27062
Created a new version of the template using a non-datastore cluster datastore (a.k.a normal datastore connected to both hosts). They are connected looking in the ui.

Same issue.

Didn't have enough free space  to copy them to local datastore on both nodes using the same template name to see how that worked...

[2017-10-12 09:24] machacekondra commented on #22189
@martinbydefault Can you please share the playbook you are using?
The VM should be started as run_once only in case you pass any of the following parameters:
 - host
 - kernel_params
 - initrd_path
 - kernel_path
 - sysprep
 - cloud_init
 - cloud_init_nics

Yes, if the VM does not exist the VM is created and started. If VM does exist we don't touch it's state, so if it exist and it is stopped, we

[2017-10-12 09:53] LordAro commented on #27520
FWIW, #27734 doesn't work for me at all - unless I'm missing something, `self._play_context` doesn't exist and should be `play_context`, but that just results in further errors anyway:

[code]

[2017-10-12 10:18] Slezhuk commented on #31627
@Nir-Tal , please verify, that your project allow creation issues with all custom fields you listed:
custom_field_*
component

You can start by creating issue manually, than check all fields at url: https://mycompany.atlassian.net/rest/api/2/issue/{ISSUEKEY}?fields&expand

[2017-10-12 10:42] kohonen opened #31630 "replace module numeric value"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

replace module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/inventory/gce.py']
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/opt/ansible/roles']
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
PERSISTE

[2017-10-12 10:53] Nir-Tal commented on #31627
Hey @Slezhuk, Thanks for the fast reply.
The user that creates the issue got the permissions (created an issue via the web interface)
I checked that the API does show all the fields as you requested and all fields are present.
Any more ideas?

[2017-10-12 11:28] wimnat commented on #30701
NLB work started here https://github.com/wimnat/ansible/tree/feature/elb_network_lb.  Not ready yet as got to move quite a lot of common code.  Changes will also need to be made to alb module to make use of common code

[2017-10-12 11:39] soar opened #31631 "Role-defined filter doesn't work after upgrading to 2.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
custom filter plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### Where all works fine

Same system - Ubuntu 16.04 in virtual environment with:

[code]

##### SUMMARY
After upgrading ansible in system (via apt) - filter plugin defined in role isn't available. In old version all works fine.

[2017-10-12 12:13] luqasz commented on #28160
There is a duplicated issue #23493 and a PR #23407

[2017-10-12 12:24] ar7z1 commented on #31576
@andmos Thank you again for your help!
I've reproduced the bug and currently work on the fix.

The problem slightly related to #28555: old version of `win_firewall_rule` module always added `Svc=*` as a default value for `ServiceName`.

Thus the rule for OracleDatabase in your registry (`HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\SharedAccess\Parameters\FirewallPolicy\FirewallRules`) loo

[2017-10-12 12:32] dvershinin commented on #30636
+1. passing to inventory using ```--inventory=``` (```-i```) switch to a file  that is located inside playbook directory (in git) doesn't work.

```[WARNING]: No hosts matched, nothing to do```

Nothing runs :(

[2017-10-12 12:38] andmos commented on #31576
@ar7z1 great that you found it!
How will the workarounds work reversed? Our CI servers that run playbooks nightly are on `ansible 2.3.0.0`, The runs I do with `2.4.0.0` is to check for breaking changes before we upgrade, and is also the version I currently run locally. If i execute the workaround on the `2.4.0.0` install, will that break the CI server builds? Thanks in any case, great find!

[2017-10-12 12:43] JordanP commented on #25823
I confirm this is an issue.

[2017-10-12 12:49] #28275 closed, assigned to nobody

[2017-10-12 12:56] #30515 closed, assigned to nobody

[2017-10-12 12:56] seblatre commented on #31350
<details><summary>Hide my comment because alrealdy covered by #30991</summary><p>
I have a similar issue on my side but when installing the exact same package (no downgrade). Hope this is the same bug. Otherwise tell me and I will open a new one.

I'm testing a playbook targetting Centos 6.8 with the yum module.
The part of my playbook which is problematic
[code]

I tested successfully my playbook

[2017-10-12 13:02] hehe2 commented on #25941
Well, I used to be able to test my inventory using "ansible -m ping".

I've upgraded from 2.2.x.x (don't remember exactly, it might have been like 2.2.1.0 or something) which was working flawlessly for us to ansible 2.4.0.0

# ansible --version
ansible 2.4.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/share/ansible']
  ansible python module location = /usr/

[2017-10-12 13:05] mkrizek commented on #31350
@seblatre Your issue is already fixed in `devel` and in `2.4.1 rc1`. Also, the related github issue is https://github.com/ansible/ansible/issues/30991.

[2017-10-12 13:07] Slezhuk commented on #31627
I still think that there is some type mismatch with custom fields. Can you try to run your playbook with disabled fields: components, customfield_11700, customfield_11701, duedate?
Can you try to create issue manually, with all fields filled with same values as via ansible?

[2017-10-12 13:16] Tomino2112 commented on #25941
I have just had the same issue with ubuntu 16, mind you the underlying issue was actually error in one of the commands that ansible was executing.

Configuration was:
[code]

And the output was:

[code]

As you can see in `module_stdout` the issue was actually that folder didn't exist on the server

[2017-10-12 13:21] Nir-Tal commented on #31627
@Slezhuk all the fields are mandatory, it would fail for sure if I remove them. If you run it while changing the customfield_X numbers it works for you?

On the same version of Ansible...

[2017-10-12 13:23] nerzhul commented on #25823
confirmed

[2017-10-12 13:34] Slezhuk commented on #31627
I created new instance of jira in public cloud - it does not have custom fields you specified. Without them issue created properly. When i put unexistent field, jira fails with `400 bad request` response.

[2017-10-12 13:36] seblatre commented on #31350
@mkrizek, thanks for pointing me out the right one. Sorry for the disturbance in this thread.

[2017-10-12 14:13] fluffy-cakes opened #31635 "Using Azure tags within Ansible for playbooks"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
azure_rm.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_VAULT_PASSWORD_FILE(/home/paulmackinnon/.ansible/ansible.cfg) = /home/paulmackinnon/.ansible/

##### OS / ENVIRONMENT
ubuntu 16.04 LTS desktop

##### SUMMARY
This is quite a broad question, as I'm unable to find any specific documentation or examples of people usin

[2017-10-12 14:21] Nir-Tal commented on #31627
I'll triple check the fields.
the type is 'Text Field (multi-line)' and fields render is 'Wiki Style Renderer' can it be part of the problem?

[2017-10-12 14:26] narankhetani commented on #31416
Hello Caphrim,

I ran the above and no issues, pretty sure its the degrees character we seem to have an issue with, as you can see from the error its pointing to:
```'ascii' codec can't encode character u'\\xb0'```

[code]
in python v3 seems to be okay:
[code]

[2017-10-12 14:37] bcoca commented on #11705
closing as per above

[2017-10-12 14:37] #11705 closed, assigned to nobody

[2017-10-12 14:52] rewilliamso commented on #31549
[vmware]
server=vcenter.example.com
port=443
username=ansibleo
password=password123

[2017-10-12 14:54] rewilliamso commented on #31549
The vmware_inventory.ini is in the path /etc/ansible/vmware_inventory.ini .
The vmware_inventory.py is located /etc/ansible/dynamic/vmware_inventory.py .

Not sure if you needed that info but thought I would provide it.

[2017-10-12 15:26] prasadkatti opened #31639 "[cloudformation] 'state' is not a required option"
The `cloudformation` doc specifies that the `state` option is **required**. But that is not the case in the argument spec in code -

So either the doc needs to be fixed or we need to enforce the presence of the `state` option.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`cloudformation`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY
T

[2017-10-12 15:26] moralloki commented on #27062
I just ran into this also so I'm running some tests to see what works and what doesn't.

So far, I can only clone from template to the same datastore that the template resides on.

[2017-10-12 15:33] mkrizek commented on #31350
@seblatre No worries :)

[2017-10-12 15:33] userlerueda opened #31640 "os_router should allow to add a route"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

os_router

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ ansible-config dump --only-changed
$

##### OS / ENVIRONMENT

N/A

##### SUMMARY

os-router today does not allow the user to add a route, this is an important feature

##### STEPS TO REPRODUCE

N/A

[code]

##### EXPECTED RESULTS

N/A

##### ACTUAL RESULTS

N/A

[code]

[2017-10-12 15:50] tedder commented on #31639
Yeah, default + required is kinda silly. I'll remove required.

[2017-10-12 15:59] Akasurde commented on #31549
@rewilliamso Yes, the path will affect vmware_inventory.py. The script will look ini file in the current directory as the script. I will recommend to keep vmware_inventory.ini in same location as inventory script.

[2017-10-12 16:00] martinbydefault commented on #22189
This is task from my playbook:
[code]
Taking in account what you said, then the reason why is running as "run once" is because I'm using `cloud_init`, right?

**My normal workflow**
I create a new virtual machine and assign at creation time all the parameters from the task above under `cloud_init`: nic name, protocol, ip, netmask and gateway, dns server and search domain, hostname, etc.
If I do it

[2017-10-12 16:00] apenney opened #31644 "aws_s3 fails for objects in the root of the bucket"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws_s3

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT
From OSX, to Ubuntu 16.04

##### SUMMARY

Something has changed in aws_s3/s3 to stop it downloading with the syntax that previously worked.

##### STEPS TO REPRODUCE

## Failure
[code]
## Success
[code]
Notice the only change is to remove / at the start of obj

[2017-10-12 16:01] Nir-Tal commented on #31627
@Slezhuk I'm starting to be really sure it's a bug or unsupported option of the Jira module.
[code]
When running with curl:
[code]
It works
[code]
Running the same task in Ansible fail with "HTTP Error 400: Bad Request"

[2017-10-12 16:02] s-hertel commented on #28980
@Parthmonga Does the script work on devel if you provide the role_arn? It looks like you're providing the role name. https://github.com/ansible/ansible/blob/devel/contrib/inventory/ec2.ini#L196

needs_info

[2017-10-12 16:12] rahushen commented on #30439
@trishnaguha ... Yes, I have documented that in the 'ACTUAL RESULTS' section of the bug report. We need to use another command to gather igmp snooping info.

[2017-10-12 16:17] s-hertel commented on #30806
@ndeixonne What Ansible version? This has been fixed for 2.4.1 in 91341de22078d64a66a33fec89a5a2e665d5228b and on devel in ce2f5d26abdf60f20c81b03e6fbca7ea3828705c.

[2017-10-12 16:23] s-hertel commented on #31644
This has been fixed for 2.4.1 in 64f54fa6e2d4ffa0147fa276223afb812bdae506.

[2017-10-12 16:23] #31644 closed, assigned to nobody

[2017-10-12 16:25] rewilliamso commented on #31549
I will try that, one sec.

[2017-10-12 16:30] rewilliamso commented on #31549
Is there a readme on how to use this script specifically? If i wanted to select a host inside of a specific VCenter folder.

[2017-10-12 16:30] sivel commented on #31623
Python3.4 is not a supported version of python.  We require at least python3.5 or newer.

This is documented in http://docs.ansible.com/ansible/latest/intro_installation.html#control-machine-requirements

[2017-10-12 16:35] rewilliamso commented on #31549
I am ran the following command and it seems like its hanging:

[root@anssvr101 ansible]# ansible tpmtst147.tpms -i vmware_inventory.py -m ping -vvv
Using /etc/ansible/ansible.cfg as config file

[2017-10-12 16:44] chouseknecht opened #31645 "Including modules via a role is broken for localhost"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS 10.11.6
Ubuntu Trusty via Travis CI

##### SUMMARY and STEPS TO REPRODUCE

In the role [ansible/ansible-kubernetes-modules](https://github.com/ansible/ansible-kubernetes-modules), we provide custom modules via `library` and `module_utils`.

Below is the playbook we're running on T

[2017-10-12 16:47] Akasurde commented on #31549
There is no README as such, but you can go through vmware_inventory.ini file. This file is well commented.

I am not sure about the reason on hang state, but you can debug that using

```./vmware_inventory.py --list --debug```

[2017-10-12 16:50] rewilliamso commented on #31549
I guess its working but is gathering facts, would you agree?

[root@anssvr101 ansible]# ./vmware_inventory.py --list --debug
2017-10-12 11:48:22.149596 cache path is /root/.ansible/tmp/ansible-vmware.cache
2017-10-12 11:48:22.149669 server is vcloud.scriptpro.com
2017-10-12 11:48:22.149697 username is rewilliamso@scriptpro.com
2017-10-12 11:48:22.149718 cert validation is False
2017-10-12 11:48:22

[2017-10-12 17:00] zgould opened #31649 "Mail module not able to us us-ascii"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible "Mail" module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

DIFF_ALWAYS(/etc/ansible/ansible.cfg) = True
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30
RETRY_FILES_ENABLED(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04

[2017-10-12 17:03] ndeixonne commented on #30806
2.4.0.0 but when I'm checking the releases, I can see 2.4.1 is in RC/beta and not in official release.
I'm installing ansible through pip, so no way for now to have this version ?

Edit: Does someone know a date when 2.4.1 will be released officially ?

[2017-10-12 17:08] jctanner commented on #31591
@sm4rk0 can you confirm if https://github.com/ansible/ansible/pull/31588 addresses this issue?

needs_info

[2017-10-12 17:11] sivel commented on #31645
I've tried to create a more simple reproducer, and cannot trigger this behavior.

31645.yml:
[code]

roles/test/library/foo.py:
[code]

roles/test/tasks/main.yml:
[code]

hosts:
[code]

output:
[code]

[2017-10-12 17:12] EvanK commented on #31630
@kohonen  I suspect the problem here is your regular expression, which I'll explode and explain piece by piece:

[code]

It's probably matching (and subsequently replacing) more than _just the line with each parameter_. I'd suggest using something like:

[code]

So your task would end up being:

[code]

[2017-10-12 17:17] bcoca commented on #31645
I'm going to assume that both Ansible and pip were pointing to a specific python.

Using `connection: local` does not set `ansible_python_interpreter` (unlike `local_action` and `delegate_to: localhost`).  The implicit localhost does the equivalent of this `ansible_python_interpreter: "{{ansible_playbook_python}}"` and is probably the reason why only using the implicit one makes it work.

[2017-10-12 17:19] s-hertel commented on #30176
I cannot reproduce on EC2-VPC. If anyone looks at this and has EC2-Classic, can you please verify that this is still an issue on 2.4? needs_info

[2017-10-12 17:25] sivel commented on #31645
In my example, implicit and explicit localhost both work, without setting an `ansible_python_interpreter`.

Due to the dependencies to test with the provided reproducer where the error happens, I'm not able to validate that specific example.

I'd be interested in a more simple reproducer.

[2017-10-12 17:33] phumpal commented on #25823
:+1: confirmed issue

[2017-10-12 17:36] aabdnn opened #31651 "setup module fails to detect upstart"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_SSH_CONTROL_PATH(env: ANSIBLE_SSH_CONTROL_PATH) = /tmp/%%r@%%h
ANSIBLE_SSH_PIPELINING(env: ANSIBLE_SSH_PIPELINING) = True
DEFAULT_GATHERING(env: ANSIBLE_GATHERING) = smart
DEFAULT_HASH_BEHAVIOUR(env: ANSIBLE_HASH_BEHAVIOUR) = merge
DEFAULT_HOST_LIST(env: ANSIBLE_INVENTORY) = [u'/Us

[2017-10-12 18:03] s-hertel commented on #30187
Unable to reproduce on 2.4.

[2017-10-12 18:04] dagwieers commented on #31649
Why oh why do people remove the template we provide them.

[2017-10-12 18:24] kohonen commented on #31630
@EvanK thanks for the answer, i have obviously tried other regex options, but no luck. also just tried your suggestion, but it did not do anything at all, it left the txt file untouched.
why i still think it could be a bug of the replace module and not just a wrong regex - if you simply append any character before the the numeric value, it works ok (for example use "a3306" instead of "3306").

[2017-10-12 18:30] wenottingham opened #31655 "tower_* modules not updated for Tower 3.2/ tower_cli 3.2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tower_credential
tower_*

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Fedora 26

##### SUMMARY

With tower_cli 3.2.0 installed, assorted Tower modules fail:

[code]

##### STEPS TO REPRODUCE

see above

##### EXPECTED RESULTS

works

##### ACTUAL RESULTS

attempts to use /api/v1 parameters from 3.1 and earli

[2017-10-12 18:32] s-hertel commented on #30202
I think this has been fixed by 4bc4abfe1bda7c1a43c75dc0411a98403c625559.

[2017-10-12 18:32] #30202 closed, assigned to nobody

[2017-10-12 18:50] djadk84 opened #31656 "Parsing issue in inventory files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]

##### SUMMARY
When ansible is parsing the inventory file _ansible_sudo_pass_ which hold the password string stop working if the password start with a number and follow by # example _1#_, this make privilege escalation impossible .

[code]

##### STEPS TO RE

[2017-10-12 19:02] EvanK commented on #31630
Hmm. I will dig into this further, thanks!

[2017-10-12 19:07] annapurnam opened #31658 "redshift parameter group"
This is not to report an issue, but a quick question. Not sure a good place to ask.

Does ansible have a module to create Amazon Redshift cluster Parameter Group ?
I couldn't find in any of the ansible docs.

[2017-10-12 19:09] zgould commented on #31649
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible "Mail" module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

DIFF_ALWAYS(/etc/ansible/ansible.cfg) = True
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30
RETRY_FILES_ENABLED(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04

[2017-10-12 19:10] samdoran commented on #31591
@sm4rk0 This should be fixed in the latest `devel`. Please test and let us know if you're still seeing the issue.

[2017-10-12 19:31] #31639 closed, assigned to nobody

[2017-10-12 19:33] s-hertel commented on #30182
notabug

Verified that not providing region results in:
[code]

If you are dealing with this, check that your region and ec2_url isn't set in any environment variables or if using a profile that the region is defaulting to what you expect in boto/aws credentials.

[2017-10-12 19:33] #30182 closed, assigned to nobody

[2017-10-12 19:43] chouseknecht commented on #31645
OK. So @abadger pointed out that Travis runs Python from a virtualenv. Locally I'm using virtualenv as well. Setting `ansible_python_interpreter` in the inventory files makes everything work, even on Travis.

Closing. Clearly, I need to RTFM. Sorry for the trouble.

[2017-10-12 19:43] #31645 closed, assigned to nobody

[2017-10-12 19:44] #31434 closed, assigned to nobody

[2017-10-12 19:45] s-hertel commented on #30806
@ndeixonne
You can install with pip, such as: `pip install https://github.com/ansible/ansible/archive/v2.4.1.0-0.1.beta1.tar.gz`.
You can also copy this fix into your local library/ (which will override the 2.4 version of the module).

[2017-10-12 19:51] #24724 closed, assigned to nobody

[2017-10-12 19:54] CorbanR opened #31661 "Incorrect User and Host are being used in Ansible 2.4.0.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

[code]

##### CONFIGURATION
[code]

`ansible.cfg`
[code]

##### OS / ENVIRONMENT
Ansible Tower `2.3.1`

Ubuntu `14.04`

##### SUMMARY
Not entirely sure what is causing the problem. It could be that Ansible is ignoring extra ssh args that are specified in `ansible.cfg`. Might be a problem with `become`, or possibly

[2017-10-12 20:02] dylanbromby commented on #27960
This is still broken in 2.4.

[2017-10-12 20:09] ndeixonne commented on #30806
Thanks s-hertel, what I did was indeed to override this specific module. But as I was going to present a meetup on that, I was like afraid that it would work with no body as official latest version is 2.4.0 ^^

Do you know if by november, it will be uploaded into offical repo for pip (no beta/rc) ?

Thanks again, I appreciate

[2017-10-12 20:25] mtmiller commented on #25402
This issue affects me and is easily reproducible on Debian, Fedora, and Ubuntu with ansible 2.3, 2.4, and master. The ansible target system must have both

* urllib3 >= 1.17
* pyOpenSSL

installed. The target remote server must only support TLSv1.2 and not fall back to TLSv1.

I ran into this with

    $ ansible --version
    ansible 2.5.0 (devel 6d16739926) last updated 2017/10/12 12:59:50 (GMT -

[2017-10-12 20:54] wvidana commented on #20802
Yup, this just happened to me on Ansible 2.3. The run failed and aborted instead of retrying (I didn't set `until` neither, I expected it to retry until task succeded)
[code]

[2017-10-12 21:18] perzizzle opened #31666 "vmware_guest_facts returns no vms when searching by folder and name"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[DEPRECATION WARNING]: [defaults]hostfile option, The key is misleading as it can also be a list
of hosts, a directory or a list of paths . This feature will be removed in version 2.8.
Deprecation warnings can be disabled by setting deprecation_warnings=False in ansible.cfg.

[2017-10-12 22:13] daften commented on #24028
Hey @claco  Thanks for this, can you update the issue? :)

[2017-10-12 22:15] stephanfriedrich commented on #18442
hope this will help someone.
As described its ansible documentation *"When using ‘with_’ loops be aware that if you do not set a unique mark the block will be overwritten on each iteration.*

i got the same issue with using "blockinfile module" for different replacements at the end of the same file.
**i fixed it by using: individual marker attribute** on each of these tasks

e.g.
blockinfile_task_

[2017-10-12 22:57] rwaweber commented on #17194
I was thinking that something along the lines of [this](https://github.com/blog/1270-easier-builds-and-deployments-using-git-over-https-and-oauth) would be enough.

So something like `git clone https://<token>@github.com/owner/repo.git`. Would conventionally work.
However, a requirements file that looks like:
[code]
Where the `TOKEN_VARIABLE` is actually your expanded oauth token and not an enviro

[2017-10-12 23:28] dagwieers commented on #31649
@zgould I am afraid we won't be able to help you if you do not provide us with the playbook. I tested **us-ascii** myself and it works fine with my examples. So without a means to reproduce it, I am not going to spend effort on this, and if there's no feedback we will close it in a few days.

PS You need to edit your original comment with the template, otherwise it won't work.

[2017-10-12 23:32] mrstevek opened #31673 "Memory Allocated for Included Tasks is Never Recovered"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include (but probably any task as well)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

For this test playbook, added the following to ansible.cfg:
[code]

##### OS / ENVIRONMENT

Control host: Red Hat Enterprise Linux Server release 7.3 (Maipo)
Targets: NA

##### SUMMARY

On the control machine, Ansible process memory increases with the

[2017-10-12 23:39] jakeo opened #31674 "ansible 2.4 segfaults on macOS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
hostvars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS Sierra and High Sierra, system Python and Homebrewed Python

[code]

##### SUMMARY
Ansible segfaults when calling hostvars in a jinja2 expression.

##### STEPS TO REPRODUCE

##### Problem playbook
[code]

##### Working playbook
[code]

##### EXPECTE

[2017-10-13 00:18] sivel commented on #31674
It appears you are running into http://bugs.python.org/issue13829

From what I can find you will need to export the following environment variable:

`no_proxy='*'`

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-10-13 00:18] #31674 closed, assigned to nobody

[2017-10-13 00:22] jakeo commented on #31674
Very grateful @sivel - thank you.

[2017-10-13 00:38] erriapo opened #31676 "service module does not disable run level 6"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

service module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ansible  is executed on Ubuntu.
[code]
Target VM is Centos 6.9

##### SUMMARY

I have a service "foo" which has been turn on to run at run levels 2, 3, 4, 5, & 6.
I executed the service task to disable "foo" running but it is still turned on for

[2017-10-13 01:40] #22660 closed, assigned to nitzmahone

[2017-10-13 01:42] jborean93 commented on #25480
The docs above have been merged and will be online under the devel version on the next rebuild.

[2017-10-13 01:42] #25480 closed, assigned to nobody

[2017-10-13 02:17] Akasurde commented on #31666
@perzizzle Thanks for reporting this issue. I see, in PB you are specifying "Folder" as "Test" which is not correct. You need to specify relative or absolute folder path of VM. You can get details about VM folder path by `vmware_guest_find` module or `govc find /` command.

[2017-10-13 02:47] jborean93 commented on #31030
I've played around with this and so far I have been unable to create a scenario in which this always fails. I can still get the occasional error when running on an AWS host but without a way to reliably produce this error, I will find it hard to come up with a fix. So far what I've tried

* Add some sleeps in the `$exec_wrapper` of the `async_wrapper` to wait to execute the powershell script after

[2017-10-13 03:23] logan2211 opened #31679 "Playbook vars are not present in hostvars[inventory_hostname] dict"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
hostvars

##### ANSIBLE VERSION
Tested on 2.2.3, 2.3.2, and 2.4.0.

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Playbook vars cannot be accessed through the `hostvars` dict.

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS

[code]

[2017-10-13 03:24] dathelen opened #31680 "eos_user fails when setting privilege on new user"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

eos_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When creating a user with the eos_user module passing a value for the privilege attribute causes the play to fail if the user doesn't already exist

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The expectation here is that the user

[2017-10-13 05:08] #31056 closed, assigned to nobody

[2017-10-13 05:16] iredmail commented on #31268
I can reproduce this issue with ansible-2.4.1.0.

"ansible_user=xxx" in inventory file is ignored by ansible-playbook, but "ansible_ssh_user=xxx" works. Is this intendted?

[2017-10-13 05:31] EvanK commented on #31630
Turns out, the problem was not with the regex nor the module itself, but with the replacement string:

[code]

Python's regex lib doesn't know that you mean `the first captured group followed by "3306"`, so instead it seems to be interpreting it as `the char for octal value "133" followed by "06"`.

We just need to be more explicit with the captured group:

[code]

See also the improved replace mo

[2017-10-13 05:35] jhawkesworth commented on #27707
@MisterRogersHaus - I am also not able to get a cloned windows VM to connect to the network (although I am trying to use S2012R2 on vSphere 6).
Are you able to try ansible 2.4?

I am wondering if in your case in the networks section you are passing a vlan or a portgroup.  From what I read in this PR (starting at this comment: https://github.com/ansible/ansible/pull/24768#issuecomment-302686678 in