[2017-07-14 11:12] enricostano opened #26795 "Moving issues around...."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Has the issue https://github.com/ansible/ansible-modules-core/issues/3392 being ported here or solved? Can we close the original one? Thanks!

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-14 11:14] silvinux opened #26796 "ACL - module always recalculate the effective rights mask."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

../ansible/modules/core/files/acl.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

ACL - module always recalculate the effective rights mask, affecting defaults permissions.

##### STEPS TO REPRODUCE

The module ran the command:
"cmd": "/usr/bin/setfacl -m user:gnfux:rw --recursive /home/testuser

[2017-07-14 11:17] qnick opened #26797 "feature-request/Add 'remote_src' option to 'template' module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
Files/Template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
none
##### OS / ENVIRONMENT
N/A

##### SUMMARY
Lots of application, I install with ansible, are tar archives downloaded with 'maven_artifact' or 'unarchive' modules.
Some of these archives contains templates of configuration files in jinja2 format. I want to be able copy those

[2017-07-14 11:27] jctanner commented on #26795
@enricostano please use the issue mover to migrate the old issue here
http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo

[2017-07-14 11:27] #26795 closed, assigned to nobody

[2017-07-14 11:46] sayantandas commented on #24225
funnily this problem is only with Linux VMs. Windows VMs set the DNS Name properly with dots using this module
Also, my target is to have  the full fqdn of the VM  set in /etc/hostname. Currently it only sets  the vm name.

[2017-07-14 12:01] sayantandas commented on #26237
Here is the full output

[code]

[2017-07-14 13:06] #26750 closed, assigned to nobody

[2017-07-14 13:16] xabato opened #26804 "Ansible command does not work with power broker policy password enabled"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible privilege escalation using power broker

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Tried with both default configuration and by changing transport = paramiko in ansible.cfg file.
Issue persists with both.

##### OS / ENVIRONMENT

RHEL7.3

##### SUMMARY

Ansible command fails when password on power broker policy is enabled.

P

[2017-07-14 13:37] IOOOTAlan commented on #10054
Seems like I'm having the same issue on Ansible-2.3.0.
I also opened a discussion as suggested by @jimi-c [here](https://groups.google.com/d/msg/ansible-project/OFNrnuXdxgI/nlUhqzuOBwAJ).

[2017-07-14 14:00] #26522 closed, assigned to nobody

[2017-07-14 14:12] cigamit commented on #26237
Ok, that gets you a bit further.  Look in
/var/log/vmware-imc/
and you should see a log that may detail a bit more.  I haven't seen that particular error occur unless I am attempting to add multiple NICs (you may try removing the nic from your template completely).

[2017-07-14 14:15] JanWelker opened #26808 "ansible.cfg $HOME variable is not working on macOS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible default configuration on OSX

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
macOS 10.12

##### SUMMARY
The default settings for remote_tmp and local_tmp are $HOME/.ansible/tmp which do not seem to be resolved right. Ansble creates a /$HOME/.ansbile/tmp folder ($HOME is used as a string).

##### STEPS T

[2017-07-14 14:47] itdependsnetworks opened #26809 "STDOUT logging on network failures"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

network modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Prior to 2.3, when using network modules (ios, eos, nxos, etc...) that required ssh support, connection failures produced usable output to indicate the connection issue. With the use of persistence that feature has gone away and replac

[2017-07-14 15:24] bcoca opened #26811 "Unsafe file writing for redhat module_utils"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module_utils/redhat.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

lib/ansible/module_utils/redhat.py does direct writes to files, which can cause data corruption (as seen in #21962, which mitigates but does not fix the issue).

The code should be using the `atomic_move` method to ensure

[2017-07-14 16:19] gilmatic commented on #19120
Any info on this PR? This issue fails ansible runs often in our AWS account (not limited to EC2). We see it mostly with the CloudWatch API, but a backoff algorithm implementation would/should/could work across all of the limited APIs.

[2017-07-14 16:21] methane commented on #25960
Could you reproduce it without ansible?

[2017-07-14 16:31] #24994 closed, assigned to nobody

[2017-07-14 16:38] methane commented on #25960
Maybe, `_mysql.so` extension is built with system libmysqlclient.so, but dynamically linked
with libmysqlclient.so from MariaDB's repository?
It's not ABI compatible.  You need to install it from source.

[2017-07-14 16:39] iiegn opened #26816 "passwordstore lookup doesn't create or overwrite KVPs"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
passwordstore lookup

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04.2 LTS, gpg (GnuPG) 2.1.11, pass 1.7.1

##### SUMMARY
The `passwordstore` lookup  allows for retrieving key-value pairs
[code]
from a file that contains a line (after the first line) that looks like:
[code]

Unfortunately, this doesn't work together with `cr

[2017-07-14 16:51] JimtotheB commented on #26749
@filip-vt I followed you over here from Packer, I'm having this exact same issue, pretty much down to the local OS and remote OS versions.  I'm unsure why they decided to close this issue....

[2017-07-14 16:59] Akasurde commented on #24647
@silid @Shasties Can you please check this [patch](https://github.com/Akasurde/ansible/commit/3c24e1ef13d9ef1b4bdd101742ab5e859bb4ef36) and let me know if it works for your environment?

[2017-07-14 18:42] tedder commented on #2769
`{{':'}}` is deprecated for a 'when' clause in Ansible2. `':'` isn't sufficient. Not sure how to fix now. I changed my content upstream, but that isn't always possible.

[2017-07-14 18:43] iiegn opened #26824 "passwordstore lookup should honor '--check'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
passwordstore lookup

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04.2 LTS, gpg (GnuPG) 2.1.11, pass 1.7.1

##### SUMMARY
The `passwordstore` lookup allows for changes to happen during `--check` runs. This might be intended - but then it should be documented.

##### STEPS TO REPRODUCE
[code]
will actually change the password f

[2017-07-14 18:52] bcoca commented on #26797
Aside from many other things, that would require that the remote machines have Jinja2 installed

[2017-07-14 19:00] andrewsaraceni opened #26825 "New Module Idea: Support for Windows Event Log Management"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
New module

##### ANSIBLE VERSION

[code]

##### SUMMARY
Currently, no module exists for managing Windows event logs, e.g. creating/removing event logs themselves, sources, specifying additional settings (retention, size, overflow).  PowerShell contains a series of `*-EventLog` cmdlets that provide this functionality, and then some:

[code]

[2017-07-14 19:05] bcoca commented on #26792
by default the modules uses `/bin/sh` and the applicability of those switches varies a lot across OSs/distros/versions. I would create a setting that pairs with `executable`(which allows you to set a specific shell).

[2017-07-14 19:55] #26263 closed, assigned to nobody

[2017-07-14 20:59] rahushen opened #26827 "nxos_evpn_global: Handling platform differences and feature unavailability."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_evpn_global

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ansible Server : Ubuntu 14.04
- Device: Nexus9000 C9508  running 7.0(3)I6(1)

##### SUMMARY

The 'nv overlay evpn' command is not available on Nexus 3000 series of switches. The module currently doesn't handle this scenario. It fails with 'Invalid command' , but I thi

[2017-07-14 21:10] silvinux commented on #26796
Hello @astorije @bcoca , I think this might do the work, please take a look:

[code]

[2017-07-14 21:12] silvinux commented on #26796
[acl_Silvinux.txt](https://github.com/ansible/ansible/files/1149688/acl_Silvinux.txt)

[2017-07-14 21:14] mmckinst commented on #25897
I'd like to add this feature. It seems the way to detect whether its an atomic host is looking at the following variables in `/etc/os-release` per https://bugzilla.redhat.com/show_bug.cgi?id=1200122:

[code]

Also of possible interest in the same file are:

[code]

[2017-07-14 21:21] dharmabumstead opened #26828 "Incorrect formatting in win_dsc module documentation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_dsc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Incorrect formatting in the win_dsc module documentation.
See: http://docs.ansible.com/ansible/win_dsc_module.html

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-14 21:54] vijaynirm commented on #18075
Yes. This requirement is must. Ansible should be able to skip the unreachable and go forward.

[2017-07-14 23:09] senorsmile commented on #19855
+1

[2017-07-15 00:01] dagwieers commented on #26825
I think it would be useful. Be sure to include check-mode support and have integration tests.
And if you have any questions, ask the {Windows Working Group](https://github.com/ansible/community/tree/master/group-windows)

[2017-07-15 00:03] dagwieers commented on #26623
+label windows

[2017-07-15 00:19] silvinux commented on #26796
I modified the library and uploaded on [Silvinux Add setfacl option --no-mask ](https://github.com/silvinux/ansible/commit/30b2de7248635c5d93447586b253c8a0a279d212) (#26796). Please take a look.

[2017-07-15 06:26] andreaso commented on #26740
This is an issue about the https:// certificate validation being excitability IPv4.

Let me first demonstrate __http://__ vs. __https://__.

[code]

Followed by __unvalidated https://__ vs. __validated https://__.

[code]

The culprit being the `ansible.module_utils.urls` `SSLValidationHandler` class wanting to open an `AF_INET` (aka: IPv4) socket.

https://github.com/ansible/ansible/blob/41c14578

[2017-07-15 08:19] #26650 closed, assigned to nobody

[2017-07-15 12:02] robinro commented on #25849
Since the problem was related to the SSH config and not ansible, this is
close_me

[2017-07-15 13:20] ovv commented on #22241
Hello @paddatrapper

It looks like your repo is inconsistent. You have `vim/.vim/bundle/c.vim` defined in your `.gitmodules` but it's actually not a submodules. This is what triggers the changes every time.

[2017-07-15 13:32] ioggstream commented on #25815
@robinro @geekofalltrades can you please check if this PR is fixing the issue? https://github.com/ansible/ansible/commit/cc334a078b5d47151d9d472b5f1494110228ceec

[2017-07-15 13:55] ioggstream commented on #22967
@mackwage the following playbook reproduces the issue. What happens if you use an absolute path for the virtualenv like shown in the docs?

[code]

[2017-07-15 14:40] robinro commented on #20983
resolved_by_pr #19688

[2017-07-15 14:44] andrewsaraceni commented on #26825
Thanks @dagwieers, will do!

[2017-07-15 14:52] #20983 closed, assigned to nobody

[2017-07-15 15:03] avoidik commented on #14413
Unable to reboot properly, even with sanity checks.

Ansible 2.2.2.0

Example playbook for Ubuntu 16.04 LTS
[code]

Result
[code]

ansible.cfg
[code]

[2017-07-15 15:14] Akasurde commented on #26386
@gundalow We can close this issue as #26527 is merged.

[2017-07-15 15:35] cottrell opened #26857 "ansible with "pbrun /bin/su -" (no user given)"
I want to root via "pbrun /bin/su -" ... "pbrun /bin/su - -u root" is not allowed.

Had to modify the ansible play_context.py to do this.

Still have not yet got it to work. Am hoping this is a) a missing feature and b) someone might poitn me in the right direction for getting this to work with a prompted password so can do the full test and PR if it is a reasonable change.

[2017-07-15 15:48] babatundebusari commented on #9647
@cchurch

as i type current version of boto is 2.48 So where did 2.5.0 (do you mean **2.50.0**???) so where does one get 2.50.0 from?

[2017-07-15 15:51] babatundebusari commented on #26574
https://github.com/ansible/ansible/issues/9647

[2017-07-15 16:08] ioggstream opened #26858 "Set extra_vars via ansible.cfg and environment variables"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible cli

##### SUMMARY
I wish

 - to set default `extra_vars` via `ansible.cfg`.

instead

 - it's not possible (until now ;)

##### STEPS TO REPRODUCE
[code]

[code]

And I'll never have to type `-e@file.yml` anymore :D

[code]

[2017-07-15 16:10] ioggstream commented on #26858
@robinro Maybe we want to shorten variable names (eg. just `extra_vars` )

[2017-07-15 16:24] cottrell commented on #26857
Ansible version 2.3.1.0 ...  and again tried on master (devel) branch.

Debugging/digging through the code looks like the play_context become_method == 'pbrun' has prompt = "Password:" string that is use to detect when the prompt happens. This is pretty dodgy and definitely needs to be configurable if it isn't (I haven't found how to do that from cfg).

I also see that check_become_success relies

[2017-07-15 17:04] resmo commented on #25802
@apestov  Thanks for testing and providing the output, I tried to fix the false "changed" reporting in the meanwhile. would you be able to test the latest state of the fix?

[2017-07-15 19:58] waltersm1 opened #26864 "ec2_asg fails to update existing ASG with new Launchconfig"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a no changes to ansible.cfg

##### OS / ENVIRONMENT
N/A

##### SUMMARY
ec2_asg unable to update an existing ASG with a new Launchconfig.

NOTE:  this operation works correctly in 2.3.1

##### STEPS TO REPRODUCE

My Goal:  update my ASGs and their launch_config to have the latest values

[2017-07-15 20:25] MarcinOrlowski commented on #18987
@misham luckily you can work this around within Ansible, as only certain `apt` features require `aptitude` (namely upgrade) to work. So instead of

[code]

which would fail due to lack of `aptitude`, you change your playbook to satisfy Ansible needs first, then you do your remaining tasks:

[code]

and you are good as before.

[2017-07-15 21:55] Lujeni commented on #19028
resolved_by_pr #19688

[2017-07-16 00:03] PickRelated commented on #14959
@bcoca, looks like using {{ ansible_env.PATH }} erases everything else from PATH as of v2.3.1.0
[code]
Results in ```/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games```

Whereas
[code]
Results in ```/test```
Any advise, please?

[2017-07-16 04:29] nwillc commented on #22382
I'd like this too.  I'm using ansible as a provisioner inside terraform... so there are already too many layers, I'd rather not involve ssh-agent.  Be nice to have the entire IaC with keys all in git and keep it all together.  We already use vault for other secrets so it be nice to be consistent.  I'd actually rather it be transparent though, like copy, where if the file was vault encrypted it was

[2017-07-16 07:50] robinro commented on #15769
Since this is most likely fixed:
close_me

[2017-07-16 07:56] robinro commented on #19028
bot_broken
The bot did not respect the resolved_by_pr message.

[2017-07-16 07:57] #15769 closed, assigned to nobody

[2017-07-16 08:13] robinro opened #26867 "Have ansible-pull use python imports/functions instead of run_cmd"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
pull

##### ANSIBLE VERSION
devel

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
`run_cmd` is used in `lib/ansible/cli/pull.py` to call `ansible` and `ansible-playbook`. It would be less error prone and more performant to use python to import/call the corresponding modules instead of running shell commands.

##### STEPS TO REPRODU

[2017-07-16 08:13] robinro commented on #26867
I might work on this in the future but am also happy to assist other people and especially newcomers on tackling this.

[2017-07-16 08:32] poettler-ric opened #26868 "Can't install groups with the dnf module on Fedora 26"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dnf module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing changed

##### OS / ENVIRONMENT
[code]

##### SUMMARY
When I try to install a dnf group on Fedora 26 it fails with an error message. The same command actually works on Fedora 25. Might be the case because F25 uses python2-dnf version 1.1.10 and F26 Verson 2.5.1?

##### STEPS T

[2017-07-16 10:41] paddatrapper commented on #22241
@ovv, I have fixed the inconsistency and the task is still being reported as changed after running it several times

[2017-07-16 11:51] poettler-ric commented on #26868
I just wanted to point out that this behavior is also present in ansible 2.3.1.0, which is currently available in the Fedora repos.

[2017-07-16 14:35] dustymabe commented on #25651
bump

[2017-07-16 16:58] missnebun commented on #25660
Thank you @Nosmoht.

If I don't specify the users is working just fine.

Now I need to add **EXTERNAL** users from the Active Directory to that particular external group.

If I use the user option is NOT working. It will show change all the time when I run the playbook but the users never gets added the to external group.

Again the users are external and are coming from Active Directory:

#With t

[2017-07-16 17:28] lukemorton opened #26875 "AWS_URL not currently compatible with dynamodb_table"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

dynamodb_table

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

n/a

##### SUMMARY

AWS_URL not currently compatible with dynamodb_table

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should connect to local dynamodb instance instead of AWS endpoint.

##### ACTUAL RESULTS

[code]

This happens bec

[2017-07-16 18:04] abadger commented on #20137
#18922 has been merged for the ansible 2.4.0 release.  Closing this ticket.

[2017-07-16 18:04] #20137 closed, assigned to nobody

[2017-07-16 22:05] salman1485 commented on #26577
I'm getting same error for below command:

sh ip bgp neighbors xxx.xxx.xxx.x advertised-routes

Looks like the problem is that rc:1 is returned due to which ansible fails although full output should simply be returned.

Is this a bug that creeped in ios_command as I have extensively used ios_command in past without any problems.

I'm running this on IOS XE instead of usual IOS.

Here is command's

[2017-07-16 22:07] salman1485 commented on #26577
please do note that if I run same command on an IP for which output is just "Total number of prefixes 0" then ios_command does not fail.

It is only when output is huge as shown in last post, then ios_command sends failed with rc:1

[2017-07-16 22:25] salman1485 commented on #26577
Also, surprisingly, if I run the same pb over and over then sometimes I do get rc 0 due to which task is success but somehow it does not capture the complete output of command.

During last run I got this:
[code]

As you can see, it captured last 2 lines of the entire output. I ran the same command again and it broke again with rc 1

[2017-07-17 00:46] mattduguid commented on #23559
We are wondering if we have a bug similar or same to this. We are on Ansible version 2.3.1.0 using win_copy and the desired outcome is to copy the "source folder contents only, not the source folder" eg: c:\a\ to c:\b on a remote machine. The documentation states "if path ends with /, only inside contents of that directory are copied to destination" but with our examples we are seeing the folder c

[2017-07-17 00:59] mattduguid commented on #23559
Have used the win_robocopy module and that's achieved what we needed

- name: Copy files
  win_robocopy:
    src: "{{ temp }}folders\\a\\"
    dest: "c:\\folders\\b"
    recurse: True

[2017-07-17 01:17] dagwieers commented on #23559
@mattduguid Please look at: https://github.com/ansible/community/wiki/Windows:-documentation to understand how Windows paths are interpreted by YAML/Ansible. So trailing backslashes require special attention !

[2017-07-17 01:42] jborean93 commented on #23559
@mattduguid thanks for the input but one thing to note is that we don't usually monitor closed tickets. If you are following the guide as shown by @dagwieers and you are still encountering the issue it would be great if you can open a new issue with the examples you have here. You can still reference this ticket in your description.

[2017-07-17 02:07] #23507 closed, assigned to nobody

[2017-07-17 02:57] willthames commented on #26718
This might be fixed with #26335 - can you check?

[2017-07-17 03:05] willthames opened #26879 "Dynamically included files no longer finding included files properly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
N/A

##### SUMMARY
If you dynamically include a file, and that dynamically included file includes another file in the same directory, the file is not found.

While there is a deprecation warning for the use of include, I don't expect behaviour to change at this

[2017-07-17 03:06] willthames commented on #26879
cc @bcoca

[2017-07-17 03:09] dagwieers commented on #19213
resolved_by_pr #26468

[2017-07-17 03:09] dagwieers commented on #18883
resolved_by_pr #26468

[2017-07-17 03:09] dagwieers commented on #18880
resolved_by_pr #26468

[2017-07-17 03:12] dagwieers commented on #21873
bug_resolved

[2017-07-17 04:33] #25270 closed, assigned to nobody

[2017-07-17 07:23] andy-maier opened #26881 "Specifying that a module is non-core"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
plugin.rst.j2
validate-modules

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

The module documentation currently allows specifying these cases for the support of a module:

* core: module shipped by Ansible maintained by the core team.
* curated: module shipped by Ansible maintained b

[2017-07-17 07:50] andy-maier opened #26882 "validate-modules insists on GPL v3 license for modules"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`validate-modules`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The `validate-modules` checker insists on the GPL v3 license in the module being checked That makes it unusable for non-core modules.

##### STEPS TO REPRODUCE
The GPL license check should be performed only if the module is an A

[2017-07-17 08:01] wisotzky commented on #22192
@ganeshrn, the answer to the original request might be using persistent connections with Connection Plugins as introduced from Ansible 2.3. In consequence this would mean to provide elementary Ansible modules to lock, edit-config, commit and unlock using NETCONF.
Still I am confused about the usage of Connection Plugins (invocation, vendor independence) - so need to have more info about it, before

[2017-07-17 08:28] wisotzky opened #26883 "NETCONF fact module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lib/ansible/modules/network/netconf

##### ANSIBLE VERSION
2.4

##### SUMMARY
Principle of fact modules has been introduced with [Ansible 2.2](https://www.ansible.com/blog/ansible-network-updates). To evolve this idea it would be required to have a generic way to get facts from NETCONF enabled devices. Due to the limited support of standardize

[2017-07-17 08:31] wisotzky commented on #26883
cc
@abenokraitis
@lpenz
@userlerueda
@ganeshrn
@gundalow
@privateip

[2017-07-17 08:44] Kniyl commented on #26741
Issue updated to include -vvvv execution of the play on ansible 2.3.1.0 & fixed my /etc/hosts which made sudo print a (seemingly confusing) warning message.

[2017-07-17 08:57] mjablecnik opened #26884 "Define more same roles with various variables."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Define more same roles with various variables in playbook.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS

##### SUMMARY

##### STEPS TO REPRODUCE

I have Ansible with this roles in playbook:
[code]
BWT application have various languages, which I would like define in vars.

##### EXPECTED RESULT

[2017-07-17 09:06] 4001982248998 opened #26885 "win_stat: cannot access file because it is in use by another process"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_stat

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
running Ansible from Arch Linux, managing Windows Server 2016

##### SUMMARY
win_stat fails to determine file existence, because a process is using it.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
ansible should determine if the file exists (a

[2017-07-17 10:03] jhawkesworth commented on #25298
So, thanks @nitzmahone I got round to checking in the Task Scheduler on one of my affected VMs.... and it turned out that I wasn't running as Administrator for all vms, which was why the scheduled job was failing to start.

The reason I wasn't running as administrator is not really relevant to the issue above (I have yet to decide whether it is a genuine issue with ansible or merely due to some co

[2017-07-17 10:51] sayantandas commented on #24548
@cigamit : it works fine with the latest updates on the development branch.

[2017-07-17 10:53] jhawkesworth commented on #21873
Closing issue as OP has stated above issue no longer reproducible in latest devel.

[2017-07-17 10:53] #21873 closed, assigned to nitzmahone

[2017-07-17 11:30] huoarter opened #26890 "the parted module params number:2 does not work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
parted

##### ANSIBLE VERSION

ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Jun 24 2015, 00:41:19) [GCC 4.8.3 20140911 (Red Hat 4.8.3-9)]

playbook:
  - name: parted -s /dev/sdb mkpart primary ext4 1M 60%
    parted:
      device: /dev/sdb

[2017-07-17 12:11] privateip commented on #22192
@wisotzky yes the right answer here is to use the persistence connections to handle this; however, i have to question if providing separate modules to handle what are essentially low level API calls is the right approach here.   Netconf, imho, is an API not an implementation and Ansible modules should be built on top of APis not expose them where possible.

[2017-07-17 12:25] wisotzky commented on #22192
@privateip, there is no simple answer for that... Typically I prefer to keep configuration templates simple/clean for readability and re-usability. Also there are use-cases where you want to read state information and apply changes based on the output of the read-out. In all of these cases persistence potentially lock/unlock is the only answer.

The other important issue is about the performance o

[2017-07-17 12:34] andy-maier commented on #26881
PR #26896 has been created as a proposal on how this issue could be addressed.

[2017-07-17 12:55] privateip commented on #22192
@wisotzky completely in agreement on the issues around lock/unlock and edit/commit/discard.  My point is that we should be striving to build resource based modules not wrappers around xml documents.  The module should expose a set of configurable resources that are based on a set of arguments.  Those resources + arguments would then map to one (or more) netconf calls in the module code.   Instead

[2017-07-17 13:08] mmoole commented on #25961
I had this problem, too, but could get it worked-around by removing a part of the .bashrc file of the user Ansible is using.
I had set the prompt to be colorful and some specific colors - now that this is removed I get no timeout anymore.
 I am using CentOS which by default uses not so much colors, but I remember Ubuntu to use much more color, maybe that could be a hint...?

[2017-07-17 13:15] rbu opened #26897 "copy fails when file exists and has a hardlink"
_From @rbu on February 22, 2016 16:30_

##### Issue Type: Bug Report
##### Component Name:
copy module

##### Ansible Version:

[code]
##### Ansible Configuration:

[code]
##### Environment:

From: OSX/Fedora 23. To: CentOS 7.
##### Summary:

When copying to a file which has hardlinks, ansible fails.
##### Steps To Reproduce:
1. Create a file (with Ansible)
2. Make a hardlink to the file
3. Create

[2017-07-17 13:15] rbu commented on #26897
_From @dwt on February 22, 2016 17:38_

+1

[2017-07-17 13:15] rbu commented on #26897
_From @bcoca on February 22, 2016 19:29_

have you tried using `force=yes`?

[2017-07-17 13:15] rbu commented on #26897
Here's the result with force=yes:

[code]

I think the problem is that Ansible only wants to manage (hard) link state and not content, because the file is/has a hard link.

[2017-07-17 13:15] rbu commented on #26897
_From @gauthierm on March 7, 2016 14:36_

This looks like a dupe of https://github.com/ansible/ansible/issues/10834

[2017-07-17 13:15] rbu commented on #26897
_From @ansibot on July 31, 2016 14:45_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2017-07-17 13:15] rbu commented on #26897
_From @ansibot on September 9, 2016 18:25_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-07-17 13:15] rbu commented on #26897
_From @opoplawski on September 21, 2016 17:52_

Still present with 2.1.1.0

[2017-07-17 13:15] rbu commented on #26897
_From @ansibot on October 6, 2016 15:9_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-07-17 13:15] rbu commented on #26897
_From @garthk on October 12, 2016 0:40_

Verification: `stat /path/to/target` and look for the `Links:` number. If it's more than 1,

[code]

You can find the other directory entries pointing to the same inode with:

[code]

The easiest solution is probably `rm /path/to/target` and re-run the Ansible play that's trying to `copy` to it. If it keeps happening to you, try the [`lookup` workaround](ht

[2017-07-17 13:15] rbu commented on #26897
_From @ansibot on October 22, 2016 9:1_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-07-17 13:15] rbu commented on #26897
_From @ansibot on November 6, 2016 9:57_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-07-17 13:15] rbu commented on #26897
_From @ansibot on November 22, 2016 10:5_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-07-17 13:15] rbu commented on #26897
_From @ansibot on December 7, 2016 17:56_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-07-17 13:23] alikins commented on #26864
(traceback reformatted for easier reading)

[code]

[2017-07-17 13:29] Vladimir-csp commented on #21279
With large amount of hosts in play this behavior also eats a lot of memory.

[2017-07-17 13:30] privateip commented on #26883
@wisotzky i agree in principal with your comment but unfortunately it doesn't translate into reality.  We will have to support both platform independent and platform dependent fact collection since the data models are not in sync across implementations in all cases.

Since this wont make 2.4, lets iterate over this as a proposal for potential inclusion in 2.5

[2017-07-17 13:33] alikins commented on #26868
(traceback reformatted for easier reading)

[code]

[2017-07-17 13:40] klauern opened #26898 "HTTP NTLM Auth support in 'uri' module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`uri`

##### SUMMARY
In looking at the [`uri` module](http://docs.ansible.com/ansible/uri_module.html) it would be great if there were an option for NTLM authentication, such as there is on [`curl`](https://curl.haxx.se/docs/manpage.html#--ntlm).  I currently have to use a raw `command` module with Jinja2 templates to accomplish a callout, and

[2017-07-17 13:43] abenokraitis commented on #26883
I'd say one or the other be supported. Since the platform dependent modules aren't going anywhere, those are the first class citizen for now. I agree with Peter that this isn't making 2.4 but definitely worthwhile to keep an eye on as devices become NETCONF enabled.

[2017-07-17 13:43] alikins commented on #26868
ping @ignatenkobrain

[2017-07-17 13:45] privateip commented on #24303
resolved_by_pr #26565

[2017-07-17 13:45] #24303 closed, assigned to nobody

[2017-07-17 13:53] alikins commented on #26875
(error reformatted for slightly easier reading)

[code]

[2017-07-17 14:07] abadger commented on #26881
Going to close the issue... we're going to want a proposal ticket so we don't need to have three tickets for the same issue.

[2017-07-17 14:07] #26881 closed, assigned to abadger

[2017-07-17 14:08] zyio commented on #22905
Any progress on https://github.com/ansible/ansible/pull/22906 ? This is affecting us as well :/

[2017-07-17 14:11] alikins commented on #26882
ping @mattclay @gundalow @sivel

[2017-07-17 14:12] dmizelle commented on #26718
@hryamzik

Sorry, in retrospect after reading my comment, I seem to have completely missed the point you were trying to make. Have you tried #26335 ?

[2017-07-17 14:14] alikins commented on #26884
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-07-17 14:14] #26884 closed, assigned to nobody

[2017-07-17 14:14] cigamit commented on #26669
I think both options will work, allow a full path (but don't require it) for the template and add the aliases.

There are others ways to do it, like first search the provided DC / Cluster for the template and then if not found, expand that to every where (and just grab the first one).  This would probably a bad idea though, since it would still be kinda random as to which one you end up with if it

[2017-07-17 14:36] mplanchard commented on #25961
@mmoole that's really interesting. I will try to remember to test that next time we're doing a deploy!

[2017-07-17 14:55] charliemaiors opened #26900 "Install Docker on Windows Server 2016 using win_shell module"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
Win_shell

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Control Machine: Ubuntu 16.04 machine
Guest Machine: Windows Server 2016

##### SUMMARY
Could not install Docker for Windows using the same commands indicated on docker interactive installation on docker website(https://docs.docker.com/engine/installation/windows

[2017-07-17 14:56] benbro opened #26901 "ec2_url instead of endpoint_url in s3_sync options"
##### ISSUE TYPE

 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
s3_sync

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
s3_sync has ec2_url option.
It should be named endpoint_url or s3_url.
https://docs.ansible.com/ansible/s3_sync_module.html
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/s3_sync.py#

[2017-07-17 15:04] jmvbxx commented on #26384
I'm having the identical problem:

[code]

@EyePulp Are you referring to `/usr/share/npm/node_modules`?

[2017-07-17 15:05] gilday opened #26902 "cloudformation module's role_arn parameter ignored"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- cloudformation module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Disabled retry files - should be irrelevant.

[code]

##### OS / ENVIRONMENT
Control machine is macOS 10.12.5 using `connection: local`

##### SUMMARY
cloudformation module appears to ignore the `role_arn` module parameter.

##### STEPS TO REPRODUCE

Authenticate to AWS u

[2017-07-17 15:11] zarr12steven commented on #24466
Same issue here with **`asa_command`**

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- asa_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
**hosts**
[code]

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

How to fix this issue ?

[2017-07-17 15:15] #26300 closed, assigned to Qalthos

[2017-07-17 15:15] #25513 closed, assigned to Qalthos

[2017-07-17 15:18] aleskiontherun commented on #26239
Hey guys! Any updates on the issue? Seems like the module can't handle redirects. In my case the request is redirected to github which than redirects to one of it's storage servers.

[2017-07-17 15:19] alexjbush opened #26903 "ipa_sudorule: repsonse sudorule_add_allow_command: Invalid JSON-RPC request: params[1] (aka options) must be a dict"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ipa_sudorule
##### ANSIBLE VERSION
[code]

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
The module ipa_sudorule has a bug where it doesn't create the correct json payload to pass to the FreeIPA API.
Creating a new sudorule with a list of commands results in the following error:
`fatal: [ds0.cdh-poc-cluster.internal.cdhnetwor

[2017-07-17 15:22] s-hertel commented on #26864
@waltersm1 Hi, I'm trying to reproduce this to fix it. I'm guessing at a lot of the variables in your playbook since you only provided a few static ones. Do you see anything I'm doing differently?
[code]

[2017-07-17 15:34] robomancer-or opened #26905 "parted module doesn't check if it needs to modify the system state, and doesn't unmount partitions"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
parted

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
ask_sudo_pass = True
command_warnings = True
error_on_undefined_vars = True
inventory = hosts

##### OS / ENVIRONMENT
Everything running on Ubuntu LTS, the servers are running server edit

[2017-07-17 15:35] syl20bnr commented on #15505
I've got this bug in 2.4, also variables are not expanded in handler names. This prevent from creating useful "resource management" roles which fetch a resource and delete it at the end.

[2017-07-17 15:35] williamh commented on #20494
Can you please give us an update on this bug? Do you have any ideas regarding what is going on? Have you been able to reproduce this, or do you know when it could possibly be fixed?
Thanks for your time and consideration. :-)

[2017-07-17 15:38] cllovatto commented on #18894
The workaround mentioned by CorbanR did the job for me:
https://github.com/CorbanR/streisand/commit/39ad6034bfbac32efa3b69e324bd5fde1b771000

[2017-07-17 15:39] rasheey97-alt commented on #9655
this will help me a lot

[2017-07-17 16:01] EyePulp commented on #26384
@jmvbxx My tests were solely with removing the project-specific node_modules, not the system-wide ones.

[2017-07-17 16:20] pomverte commented on #17194
Should the oauth token be passed in the URL as parameter like this :
`https://gitlab.my.domain/user/my-project.git?access_token=OAUTH-TOKEN`

[2017-07-17 16:28] tedder commented on #26901
The last 4 issues are unaddressable in this issue. You can create other tickets for s3, s3_bucket etc. boto/boto3 is an ongoing conversion.

If you look at the s3 module you can see the complicated parsing that is required to handle all the different flavors of s3_urls. The ec2_url comes from the upstream code and documentation, it's common to most AWS modules.

I don't think ec2/s3_url should be

[2017-07-17 16:35] logan2211 commented on #25136
@jimi-c: I think this will need a pick to stable-2.2 also

[2017-07-17 17:14] saichint opened #26911 "nxos_evpn_vni fails for nxapi provider"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_evpn_vni

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus9000 C9396PX running 7.0(3)I2(2e)

##### SUMMARY
When we run nxos_evpn_vni playbook with provider as nxapi, it is failing.
##### STEPS TO REPRODUCE
Playbook:
[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS
[code]

[2017-07-17 17:18] alikins commented on #26905
This might be related to https://github.com/ansible/ansible/issues/22996  ?

@robomancer-or If possible, could you test this with the devel version of ansible? It has a couple of
idempotence related fixes for parted that were not in 2.3.1

[2017-07-17 19:00] robomancer-or commented on #26905
Do you happen to have a containerized devel version I could use for the test?  I'm not feeling particularly excited about mucking about installing and uninstalling competing versions of stuff I depend on.

[2017-07-17 19:23] nkakouros opened #26916 "Implicit localhost does not add localhost variables to hostvars"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
implicit localhost

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None custom

##### OS / ENVIRONMENT
Running on Arch linux. Remote is Ubuntu 16.04.2

##### SUMMARY
When using implicit localhost, any variable specific to the localhost is not available in the hostvars hash.

##### STEPS TO REPRODUCE
Example inventory file:

[code]

playbook.y

[2017-07-17 19:39] newswangerd opened #26917 "UnicodeEncodeError: 'ascii' codec can't encode character on all iosxr modules"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iosxr_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS Sierra

##### SUMMARY

##### STEPS TO REPRODUCE

run iosxr integration tests using `ansible-playbook -i inventory.network -vvvv -k -u root iosxr.yaml`

[code]

##### EXPECTED RESULTS

Tests should pass

##### ACTUAL RESULTS

[code]

[2017-07-17 19:45] newswangerd opened #26918 "TypeError: can only join an iterable on all ios modules"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS Sierra

##### SUMMARY

##### STEPS TO REPRODUCE

Run ios tests using `ansible-playbook -i inventory.network -vvvv -k -u cisco ios.yaml`

[code]

##### EXPECTED RESULTS

Tests should pass

##### ACTUAL RESULTS

[code]

[2017-07-17 19:46] dylanjbarth opened #26919 "mysql_db defaults overriding config_file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`mysql_db`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

n/a

##### SUMMARY

.my.cnf is being overridden by defaults set by the module. specifically if a host is specified in the .my.cnf and not in the task, it seems to be overridden with `localhost`

##### STEPS TO REPRODUCE

I'm trying to dump a database wit

[2017-07-17 19:51] s-hertel commented on #26864
needs_info

[2017-07-17 20:34] mmoole commented on #25961
aha, now I found an(other?) option I set in `.bashrc` that does the switch working/not working.
I thought after removing the colorful prompt everything would be great but eventually I got error
[code]
when using the role of ansiblebit/oracle-java, then downloading the rpm fails with this error message. I went through `.bashrc` commenting everything out and back in line by line. This option was mak

[2017-07-17 20:39] ElijahLynn commented on #25078
I know this is closed but just gonna say it took me a while how to figure out how to pass the attributes. I first tried "+i", then "----i--------e-", then finally found this thread and tried "i" and finally "ie". So, yeah, we definitely need an example.

[2017-07-17 20:43] abadger commented on #25078
A documentation pr would be welcomed.  Make sure you mark it documentation
pull retest so we get it into the correct reviewer's queue.

[2017-07-17 20:44] computersalat opened #26923 "apache2_module always reporting 'failed'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apache2_module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
normal

##### OS / ENVIRONMENT
SLES 12.2

##### SUMMARY
Trying to enable the 'rewrite' module. It does enable, but reporting failed.
It also reports failed when still enabled.

##### STEPS TO REPRODUCE
just try to enable simple 'rewrite' module

[code]

##### EXPECTED RESULTS
the

[2017-07-17 21:35] jhawkesworth commented on #26900
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-07-17 21:35] #26900 closed, assigned to nobody

[2017-07-17 22:02] andrewrothstein commented on #26868
I'm seeing the same problem with Ansible v2.3.1.0 on Fedora 26.

[2017-07-17 23:48] dene14 opened #26931 "ecs_task module doesn't support waiters"
Currently there is no way to check current state of the task launched by ecs_task module nor synchronous way to execute it.

It seems that this module can be  used only if you don't care what you're starting, when, where and if it failed or finished successfully.

Is there any plans to improve that situation?

[2017-07-18 00:55] jiangytcn commented on #19750
any update on this ?

/cc @qxing3

[2017-07-18 01:51] bcoca commented on #26916
Not sure this is a bug, if you try to access hostvars['localhost'] you will get it's variables, but being the implicit host it tries to be as inconspicuous  as possible.

When accessing hostvars, you list the keys from 'all' group, which the implicit localhost is not part of.

[2017-07-18 02:20] waltersm1 commented on #26864
Took some testing to figure this out, but try adding a with_items.

The playbook works on the first iteration, but then exceptions out on the second.

[code]

[2017-07-18 03:34] bcoca commented on #25849
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-07-18 03:34] #25849 closed, assigned to nobody

[2017-07-18 04:15] #26690 closed, assigned to nobody

[2017-07-18 06:57] liyaka commented on #25941
Have the same problem running ansible 2.2.0.0 from Mac, deploying on Ubuntu 16.04.
The strangest thing is that the same step worked fine a couple of days ago....

[2017-07-18 07:02] magic2k commented on #4531
@movie0125 so what? use backrefs=yes, so new lines will not be added with following runs

[2017-07-18 07:18] n0trax commented on #26923
@computersalat Thanks for your report.

Unfortunatly I'm not able to reproduce your issue on a fresh installed SLES12.2.
Which apache2 version are you using?

My test instance is running on `Server version: Apache/2.4.23 (Linux/SUSE)`

[2017-07-18 07:49] liyaka commented on #25941
Upgrading to ansible 2.3.1.0 solved the problem for me

[2017-07-18 07:55] #26740 closed, assigned to nobody

[2017-07-18 08:58] andybrown668 opened #26937 "remove_orphans with docker_service module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
Linux qa02 4.4.0-83-generic #106-Ubuntu SMP Mon Jun 26 17:54:43 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
remove_orphans option does not work and is not documented.

##### STEPS TO REPRODUCE
1. Deploy a service having two containers
2. Rem

[2017-07-18 09:04] sterfield commented on #26359
Hi,

I have the same issue. Connecting to my hosts (Ubuntu 16.04.02) is impossible using ansible 2.3.1.0 or 2.3.0.0. I have a `read header failed: Broken pipe` on every ssh socket.

Downgrading to 2.2.3.0 fix it.

Server is macOs Sierra 10.12.5, client are Ubuntu 16.04.

The command executed is a very simple `ansible -m ping`

[2017-07-18 09:07] cadavre commented on #26359
I fixed this with increasing ControlPersist to 30m.
[code]

[2017-07-18 09:20] aioue opened #26940 "rds_param_group does not support check mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

rds_param_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

rds_param_group module does not support check mode, making safe 'dry-run' testing impossible.

##### STEPS TO REPRODUCE

Run any destructive change task using the `rds_param_group` module, using the `--check` command line switch, or `c

[2017-07-18 09:28] sterfield commented on #26359
Nope, still not working with Ansible last version and you ssh_args command.

My configuration is a little bit more specific: I'm using a jumphost that is configured in my ssh configuration, using `ControlMaster=auto` and a specific value for storing all the socket files.

Also worth to note that I still have a bunch of `Broken pipe` using ansible 2.2.3.0, but it somehow manage to handle it better

[2017-07-18 09:28] Vladimir-csp opened #26941 "Cron job is duplicated if on the last line."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cron
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

FreeBSD on server, CentOS on client

##### SUMMARY

If cron job is on the last line of crontab, it gets duplicated on every play.
##### STEPS TO REPRODUCE

Apply cron job task while the target crontab is an empty (0 bytes) or nonexistent file.
Repeat play.

#####

[2017-07-18 09:31] ColOfAbRiX commented on #26890
Parted doesn't touch existing partitioning schemes. Is the disk clean when you run it?
Also, can you please send the output of the task using -vvv when running ansible?

[2017-07-18 09:48] a9tm opened #26942 "Failed when use template module to change Apache2 custom config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default

##### OS / ENVIRONMENT

CentOS 7 x86_64

##### SUMMARY

Task to template Apache2's config to remote host

[code]

##### STEPS TO REPRODUCE

Apache config that contains customized log format

[code]

##### EXPECTED RESULTS

Copy Apache config file to remote host

##### ACTUA

[2017-07-18 10:26] sayantandas commented on #26237
@cigamit All issues were solved by following the steps in this VMware KB
https://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externalId=2075048

Tested in RHEL 7.1 and Ubuntu 14.04.5

[2017-07-18 11:20] jctanner commented on #26030
https://github.com/ansible/ansible/pull/26308

[2017-07-18 11:23] jctanner commented on #18167
resolved_by_pr https://github.com/ansible/ansible/pull/26308

[2017-07-18 11:23] #18167 closed, assigned to nobody

[2017-07-18 11:46] dirkdavidis commented on #26868
i have opened an bug request at bugzilla.redhat.com for that as well on saturday

[2017-07-18 11:48] #24398 closed, assigned to nobody

[2017-07-18 12:47] Akasurde commented on #24835
resolved_by_pr #26040

[2017-07-18 12:47] Akasurde commented on #25713
resolved_by_pr #26040

[2017-07-18 13:23] pehruby opened #26952 "Wrong username is used when -e ansible_user=cisco is specified on ios_config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu@ubuntu-xenial:/vagrant/ansible-nxos$ uname -a
Linux ubuntu-xenial 4.4.0-78-generic #99-Ubuntu SMP Thu Apr 27 15:29:09 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

I executed ansible-playbook with "-u cisco" parameter. The cisco username was used only

[2017-07-18 13:39] aioue opened #26958 "iam module does not support check mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

iam

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

iam module does not support check mode, making safe 'dry-run' testing impossible.

##### STEPS TO REPRODUCE

Run any destructive change task using the `iam` module, using the `--check` command line switch, or `check_mode: yes` task modifier.

####

[2017-07-18 13:41] aioue opened #26959 "iam_role does not support check mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

iam_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

iam_role module does not support check mode, making safe 'dry-run' testing impossible.

##### STEPS TO REPRODUCE

Run any destructive change task using the `iam_role` module, using the `--check` command line switch, or `check_mode: yes` task

[2017-07-18 14:07] alpineriveredge opened #26965 "creates option has no effect on unarchive module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04.2 LTS

##### SUMMARY

creates option has no effect on unarchive module.

##### STEPS TO REPRODUCE

Prerequisite: there are ~/test.tar.gz and ~/test2 directory.

[code]

##### EXPECTED RESULTS

unarchive will be skipped.

##### ACTUAL RESULTS

un

[2017-07-18 14:13] s-hertel commented on #26864
@walbert947 I was able to reproduce and made a fix. Thanks for being so helpful.

[2017-07-18 14:19] trzejos opened #26968 "yum module fails when used with list parameter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Using default configuration

##### OS / ENVIRONMENT
Ansible is running on CentOS 7.3 and is trying to manage another CentOS 7.3 system.

##### SUMMARY

Using the yum module with the list parameter fails with a message like "Shared connection to xxxxx closed."

##### STEPS TO REPRODUCE

[code

[2017-07-18 14:46] Lujeni commented on #21945
Hello @xuchen81 ,

I am unable to reproduce your bug.
Can you gibe me your pip version pls?

Thanks

[2017-07-18 14:47] piotrkarbowski-ciklum opened #26971 "Unhandled 'An error occured waiting for the image to become available' in ansible_module_ec2_ami_copy.py"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`ansible_module_ec2_ami_copy.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux, AWS CodeBuild

##### SUMMARY

Today, while executing a task with `ec2_ami_copy:` ansible execution crashed with:

    An exception occurred during task execution. To see the full traceback, use -vvv. The error was: AttributeError:

[2017-07-18 14:54] Lujeni commented on #21061
Hello @stintel @alikins @bcoca ,

I am unable to reproduce the bug in the devel branch.
It' s working on my side now.

@stintel can you retest pls?

thanks

[2017-07-18 15:03] adamgotterer opened #26973 "Cache isn't cleaned when switching profiles with AWS dynamic inventory"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
AWS EC2 External Inventory Script

##### SUMMARY
Switching the `AWS_PROFILE` does not invalidate the cache. So its possible to load inventory from one AWS profile and then switch to another and have the same results.

##### STEPS TO REPRODUCE
AWS_PROFILE=staging ec2.py --list
AWS_PROFILE=staging ec2.py --list

##### EXPECTED RESU

[2017-07-18 15:09] adamchainz commented on #26971
Looks like it should just be `.message` instead of `.reason`:

[code]

[2017-07-18 15:10] adamchainz commented on #26971
Or in fact to avoid deprecation warning, `str(we)`:

[code]

[2017-07-18 15:27] xieguangtai opened #26977 "Can I send variables to the .j2 file?"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

task
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I wonder whether it is possible for me to send variables to the .j2 file so I can adjust it dynamically.
##### STEPS TO REPRODUCE

For example

playbook.yml
[code]
And the example.j2
[code]
And if I can use the "extend" function for list

[2017-07-18 15:33] bcoca commented on #26977
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-07-18 15:33] #26977 closed, assigned to nobody

[2017-07-18 15:40] halberom commented on #14616
This looks a lot like `serial: 30%`, http://docs.ansible.com/ansible/playbooks_delegation.html#rolling-update-batch-size

[2017-07-18 15:44] newswangerd commented on #26605
Running all the IOS tests at once also seems to cause this problem because the previous test can leave the device in configure mode.

[2017-07-18 16:04] shankerrhce opened #26989 "pam_limits can not create custom file (/etc/security/limits.d/cdb.conf)"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
Pam_limits
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

CUSTOM pam module file under  /etc/security/limits.d/
when destination path is mentioned and it is not available on destination. it gives error message.
there should be an option to create, if doesnt exisit on the destination

[code]

##### E

[2017-07-18 16:06] sasvirco opened #26990 "Group variable does not update if a host is a member of different groups"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Inventory group variables

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
host_key_checking = False

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
I have a host, that is a member of 2 different groups. Both groups have a variable with the same name, but different value. If I run a playbook for the first group, then change to the second g

[2017-07-18 16:19] Qalthos commented on #26301
Ah, 'default' is handled by the module, and I found out how I screwed up to make it not work for `max_prefix_*`. Let me know how #26370 works for you now.

[2017-07-18 16:20] pmusolino-rms opened #26992 "Junos_system throws errors despite successful config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
junos_system

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Juniper EX JUNOS 14.1X53-D42.3
##### SUMMARY
When running the command junos_system to change the hostname, the hostname does change, however it throws errors in the task and the log shows a bad file descriptor error

##### STEPS TO REPRODUCE
Change system h

[2017-07-18 16:30] NBardelot opened #26995 "yum module very slow with 'state=latest'"
##### ISSUE TYPE
 - Feature Idea

See also: https://github.com/ansible/ansible-modules-extras/issues/2615

##### COMPONENT NAME
*yum* module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.3 (Maipo)

##### SUMMARY
We've encountered a performance issue with the *yum* module when used with *state=latest*. We need to install sev

[2017-07-18 16:45] Qalthos commented on #26159
The issue seems to be that the address-family command does not always get added to the list of commands, so unless the AF needs to be set (as in the first run), the module will probably fail. #26996 should fix that problem, let me know if it works for you.

[2017-07-18 16:46] kuhlskev commented on #24221
I'm a bit late to the party, but I'm confused on the implementation.  There is no file load in the current devel branch.  I was looking into something like this in Feb, but I was stuck on how to get the  jinja replacement achieved for vars in the file.  I instead just created vars that were jinja xml payload templates.

[2017-07-18 16:56] computersalat commented on #26923
@n0trax
using same version.
Found the problem ... when the config is broken, e.g. because a defined cert is not yet there, then I get this behavior even when using `ignore_configcheck`.
but why is it failing when `ignore_configcheck` is used ?
why not using `a2enmod -q [module_name]` which is completely not affected by valid/invalid config

[2017-07-18 17:03] abadger commented on #21513
Work on https://github.com/ansible/ansible/pull/24393 is nearly complete (needs a review from a second core team member).  Evaluating how much the code touches, I don't think that I can justify backporting it to 2.3.x; there's just too much code being changed to do that.  So I'm afraid we will have to deal with slowness with recursive copy in 2.3.x.  But, assuming review doesn't find any insurmoun

[2017-07-18 17:47] naggie commented on #21513
Thanks @abadger! Personally I'm more than happy to wait for 2.4.0.

[2017-07-18 17:58] robinro commented on #26923
@computersalat
The `-q` argument does not exist on ubuntu.
At some point we might have to consider to split this module in `apache2_module_debian` and `apache2_module_opensuse` and support the corresponding features existing in each one separately.
That'll be quite some work and I'm not sure it's worth the effort.

The `ignore_configcheck` so far was designed for the mpm modules. It assumes the mo

[2017-07-18 18:18] computersalat commented on #26923
@robinro
didn't know that about `-q` ...

... but the `ignore_configcheck` would be a nice Feature for any module. Especially when you know that there will be `config errors` and you want to `ignore` them.

[2017-07-18 18:34] robinro commented on #26923
@computersalat agreed it would be nice to have a more general `ignore_configcheck`. Especially since this partially worked in the past when we did output parsing instead of module list comparison.

I'll leave this open for someone to tackle
needs_contributor

@computersalat Maybe you can put a minimal example of a broken apache config to make this reproducible?

[2017-07-18 19:35] computersalat commented on #26923
@robinro
for getting a broken apache config just define `SSLCertificateFile ...` with a not existing file ...
e.g.:
[code]

[2017-07-18 19:40] n0trax commented on #26923
@computersalat @robinro Agreed. The actual behavior with the ignore_configcheck flag is not working well, because apache2ctl is not listing the loaded modules in case of some errors. Therefore the implementation of the warnings list is not working properly and the error message of the apache2 binary is suppressed. This is not the desired behavior.

I see two ways to deal with this.
1. The real err

[2017-07-18 20:21] #26864 closed, assigned to nobody

[2017-07-18 20:32] #24494 closed, assigned to nitzmahone

[2017-07-18 20:44] ejade9 opened #27010 "nxos_snmp_location/contact modules always give changed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_snmp_location
- nxos_snmp_contact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

nxos_snmp_location and nxos_snmp_contact always give changed when there's any space in input
##### STEPS TO REPRODUCE

Run first playbook twice then run the second playbook twice.

[code]

##### EXPECTED RESU

[2017-07-18 21:09] trondhindenes opened #27014 "Unclear dev docs for testing"
##### ISSUE TYPE
 - Documentation Report

it's difficult to get information about running integration tests with Ansible. The "Dev guide" has a "Testing your module" section, and a "Testing Ansible" section towards the bottom. I'd never seen the "Testing Ansible" section until @nitzmahone pointed it out to me.

Suggestion: A well-working toc for the dev guide which allows devs to find info they're

[2017-07-18 22:17] dagwieers commented on #25281
@Illydth So wouldn't that be a Debian packaging issue rather than a problem with Ansible ? Not sure what we can or should do about it.

[2017-07-18 22:17] SpamapS opened #27016 "meta: reset_connection results in "IndexError: list index out of range""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

meta module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No configuration.

##### OS / ENVIRONMENT
Ubuntu 16.04 with ansible pip installed, running in python3.5. Contacting a VM running CentOS 6

##### SUMMARY
Using `meta: reset_connection` works and does reset the connection, but then later on this IndexError ocurrs.

##### STEPS TO RE

[2017-07-18 22:42] SpamapS commented on #27016
I just tried with devel, still present as of 913a8f864a86afdf0a976228267fadd3b4605b17

[code]

[code]

[2017-07-18 22:50] trstringer commented on #26411
@kireevco please see pull request #27017 for the fix to this issue. I was able to reproduce this bug. Take a look at the pull request for the cause and fix.

Please note, a workaround to this problem is to force Ansible to consume the param value as a string (instead of an int) by doing the following:

[code]

Let me know if that temporarily resolves your issue (and the pull request should permane

[2017-07-18 23:04] jborean93 commented on #23809
This definitely looks like the WMF bug that @jhawkesworth mentioned, @Wenzel are you able to install the hotfix and let us know how you go?

[2017-07-18 23:07] dagwieers commented on #23809
needs_info

[2017-07-18 23:07] SpamapS commented on #27016
BTW in poking around a bit, this is happening because subprocess doesn't properly handle the map object in python3, which may itself be a bug in subprocess. Either way, wrapping the map function in list() gets rid of the explosive unhandled exception.

[2017-07-18 23:59] andreaso commented on #26965
The problem is that the _creates_ test currently doesn't handle tilde expansions, which feels a bit unintuitive when you can expand your _src_ and your _dest_ that way. If you instead check against `/full/path/to/test2` that ought to do the trick.

The tilde expansion is being broken by the quoting being added here.

https://github.com/ansible/ansible/blob/26d358c64dbbe9bf2a8133660567420edaa6a03d/

[2017-07-19 00:24] andreaso commented on #26965
These being the earlier links in that test chain.

https://github.com/ansible/ansible/blob/26d358c64dbbe9bf2a8133660567420edaa6a03d/lib/ansible/plugins/action/unarchive.py#L65-L73
https://github.com/ansible/ansible/blob/26d358c64dbbe9bf2a8133660567420edaa6a03d/lib/ansible/plugins/action/__init__.py#L104-L109

[2017-07-19 00:55] kassiansun commented on #22999
@Smuggla ansible on target machines runs under `$HOME` dir, so `./` is good enough.

[2017-07-19 00:59] kassiansun commented on #23066
@guenhter As your example stated, someone should changed remote docker container directly or change local ansible config silently, both is not a very good choice within a devops team.

Docker is mainly for application deployment, if you want to use docker to manage infrastructures like databases, you should schedule the deployment like it runs on barementals, making changes to a database deploymen

[2017-07-19 01:01] kassiansun commented on #22993
@jcberthon Are you still encountering this problem? `ansible 2.3.0` added detection with `docker-py >= 2`, make sure you have the correct `python` installation with correct version of `docker-py` and `python-docker`.

[2017-07-19 01:03] kassiansun commented on #24394
@helli0n `docker_container` will not remove remote container, this is a dangerous operation. A container's name should be reserved for specific usage, not reused again by another one.

[2017-07-19 01:06] kassiansun commented on #25974
@chouseknecht This issue should be okay to closed.

[2017-07-19 01:07] kassiansun commented on #25291
@ykyuen Could you please try to upgrade you `docker-py` version on your target machine? I think this should be handle by `docker-py`, `docker_container` is just a proxy layer.

[2017-07-19 01:09] kassiansun commented on #25683
We should close issues like this if no one is responding.

[2017-07-19 01:17] kassiansun commented on #24394
@helli0n Hey it seems `auto_remove` is supported on `docker-py` >= 2, could you please try to upgrade `docker-py` on target machine or it's >=2 already?

[2017-07-19 01:18] jborean93 commented on #20553
This was fixed by https://github.com/ansible/ansible/pull/20555 for files and  https://github.com/ansible/ansible/pull/26629 for registry keys

[2017-07-19 01:18] #20553 closed, assigned to trondhindenes

[2017-07-19 01:19] tardich commented on #25040
@jpic : I wish I could, but unfortunately, I'm not there yet...  :-/

[2017-07-19 01:53] gunzy83 commented on #19666
The name (and also the platform) is a documented output but is not included in the outputs currently (so this is actually a bug). I have  submitted a PR fix #27021.

[2017-07-19 05:16] wisotzky commented on #24221
@kuhlskev, unclear what you are missing... There is a new Action Script (check #24377) which is using the existing net_config implementation to resolve the new "src" attribute. Actually it loads the file and is doing all jinja2 replacement as needed. Keeps the code of the netconf_config module really simple.

I've compiled example playbooks for Nokia SROS routers, which are available [here](https:

[2017-07-19 05:26] joshribakoff opened #27023 "Apache handler not restarting apache"
When I run the playbook, I do see: `RUNNING HANDLER [restart apache]` & I can confirm apache2 was restarted by observing the new pid in the output of `ps aux`

If I uncomment the handlers/nginx.yml include in my playbook.yml, ansible still says its running the apache handler but apache never gets restarted. Here is the verbose output: https://gist.github.com/joshribakoff/92185d520caa73b9741bc37e88

[2017-07-19 05:40] ogenstad commented on #24466
This should be with #26899.

[2017-07-19 05:42] zerkms opened #27024 "Nested includes cause "exponential" growth of consumed memory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core/include

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

As the depth of `inlcude`s grow - the memory consumption grows non-linearly (kind of exponentially) for every new level of nesting.

I've found something similar but not exactly https://github.com/ansible/ansible/issues/11981

The rati

[2017-07-19 05:42] ogenstad commented on #23922
This issue was already solved, the "timeout trying to send command: enable" was another bug. Both should be fine as #26899 was merged.

[2017-07-19 06:12] #25167 closed, assigned to bcoca

[2017-07-19 06:16] xswqaz opened #27027 "Unable to add new interface to router which already exists"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_router

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Unable to add interface to router which already exists

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Add interface for subnet added
It seems that ansible would remove interfaces didn't defined in yaml
But, I want to add ne

[2017-07-19 06:51] Spredzy commented on #23628
@isador999 seconding @alikins `openssl_csr` seems to work on 2.3 and hence I suspect something with the copy/paste going wrong. Here the example of running your playbook with 2.3 after backporting `openssl_csr'.

[code]

If you could try it and let us know. If it works if you could also please close the issue. Thanks in advance.

[2017-07-19 07:00] Spredzy commented on #23627
This has been fixed on Apr 17, https://github.com/ansible/ansible/commit/fdce6484ecb8822c9f5b92d16ed94c5a260d4f9d

[2017-07-19 07:48] rpinohtyp commented on #26952
could you try it with:
`ansible... -e "ansible_user=<user>"`

from:
http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

im not sure that you dont define the user somewhere else in the inventory or so.

[2017-07-19 07:52] #22832 closed, assigned to nobody

[2017-07-19 08:34] ganeshrn commented on #26433
@benagricola Can you please retest on devel branch. I have pushed a PR that should fix the issue. However, you need set `confirm_commit` parameter in your playbook.
[code]

[2017-07-19 08:52] Wenzel commented on #23809
Hi @dagwieers , @jborean93 ,

i installed the hotfix you mentionned and tried again, **it works**. :+1:

Also, i knew about the `win_get_url` module, but i wanted to investigate this one since it's a bug.

Thanks everyone for looking into it !

[2017-07-19 08:59] emestee commented on #18217
seems like it's happening in 2.3.1.0 too

[2017-07-19 09:20] bcbrockway opened #27033 "with_fileglob looks in "files" dir when using template module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_HOST_KEY_CHECKING=False

##### OS / ENVIRONMENT
RHEL 6.8 > RHEL 6.8

##### SUMMARY
When you use a relative path in the template module with "with_fileglob" it looks in the role's "files" directory rather than the "templates" directory.

##### STEPS TO REPRODUCE
File Structure:
[

[2017-07-19 09:20] fredericlepied opened #27034 "Commit 278fa552f80f8252a59ff52139d25b4cf088ec18 makes tests to fail when f5-sdk is not installed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible/modules/network/f5/bigip_monitor_tcp_half_open.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora 25

##### SUMMARY

When no f5-sdk is installed the unit tests failed to run.

##### STEPS TO REPRODUCE

make tests

or

nosetests test/units/modules/network/f5/test_bigip_monitor_tcp_half_open.py

[code]

[2017-07-19 09:28] Spredzy commented on #23998
@sbwoodside Hello and thank you for reporting the issue.

You can already do that with `openssl_privatekey` using the `file` module parameters. The linked PR will ensure it is clearly stated in the documentation.

This option was however missing from `openssl_publickey` and has been added. I'll check with the ansible-core team to see if this can be backported to 2.3.

[2017-07-19 09:31] starplanet commented on #16597
I have the same problem using ansible 2.3.1.0
[code]

when ansible completes yum task, it will output on more hosts left and never run the following task.

output:
[code]

[2017-07-19 09:59] balpert89 commented on #21285
@jimi-c @bcoca You two are both assigned to this task, according to lennyby93's comment there is a pull request targeting this issue: https://github.com/ansible/ansible/pull/23104

Can you please review this and merge it? I am blocked by this issue because I need "include_role" to iterate over a list.

Best regards

[2017-07-19 10:19] jborean93 commented on #23809
Thanks @Wenzel for the confirmation, closing the issue.

[2017-07-19 10:19] #23809 closed, assigned to nobody

[2017-07-19 11:01] #25428 closed, assigned to nobody

[2017-07-19 11:19] emestee commented on #21328
@athak Same with vars_from in 2.3.1.0

[2017-07-19 11:30] Akasurde commented on #22808
VMware does not allow adding more than 15 disks to particular VM for performance. You can go through [VMware Configuration Maximums](https://www.vmware.com/pdf/vsphere6/r60/vsphere-60-configuration-maximums.pdf) to checkout maximum limits of Virtual disks to given VM.

[2017-07-19 11:39] kees-closed opened #27037 "Variable expansion has changed when doing 'with_items' with the 'package' module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
package

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No special configs in the scope of this bug.

##### OS / ENVIRONMENT
Ansible is ran from Fedora 25/26, managing hosts on Fedora 25/26 and Debian.

##### SUMMARY
When I used Ansible 2.2 I used group_vars to have common software package lists which I then used with the module 'package' to

[2017-07-19 11:41] sensiblemedia commented on #4265
https://readthedocs.org/projects/ansible/downloads/ pdf download is incomplete, its only seven pages in length and what is available is lacking in content.

[2017-07-19 11:46] paulcalabro commented on #14426
I needed to remove the `-n` flag, which was causing an issue with `sudo`'ing with no password.
Once I did that, this error then started to occur.
Per @davidmoshal 's comment, I changed `become: yes` to `become: root` and my issue went away.

[2017-07-19 11:59] stephenconnolly1 commented on #9963
This is a highly annoying bug. I'm trying to use docker-machine to host an ansible container. Setting everything to LF at source and still getting issues. Surely you should be able to strip out all line ending chars before decrypting?

[2017-07-19 12:00] mdawar commented on #4265
@sensiblemedia actually you seem to be downloading the wrong PDF file, the first one **stable PDF** is 7 pages long and has nothing useful, download the **latest PDF** and check it out, it has 388 pages which is the full documentation.

[2017-07-19 12:04] sensiblemedia commented on #4265
@mdawar Thanks buddy, that did the trick (changed my thumbs down to up on your previous post)

[2017-07-19 12:22] flare-ws commented on #13603
any news?

[2017-07-19 12:47] #23998 closed, assigned to nobody

[2017-07-19 12:48] #23999 closed, assigned to nobody

[2017-07-19 12:58] tardich commented on #25040
This morning, when I woke up, I think I understood why the module isn't idempotent. As far as I know, there's no way for a docker client to figure out what's in a particular docker-registry. So not being able to figure out what's in there, the only remaining choice is to.....  push again and again.

What could probably be done is validating in some way if all the layers show as present at upload t

[2017-07-19 12:59] Spredzy commented on #23627
bug_resolved

[2017-07-19 13:07] #23627 closed, assigned to nobody

[2017-07-19 13:39] odedpriva commented on #26647
got the same issue.
I have external docker-compose file

[2017-07-19 13:41] Spredzy opened #27043 "Allow a user to specify the privatekey passphrase when dealing with openssl modules"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- openssl_privatekey
- openssl_publickey
- openssl_csr

##### ANSIBLE VERSION

- devel

##### CONFIGURATION

- N/A

##### OS / ENVIRONMENT

- N/A

##### SUMMARY

Current implementation of openssl modules in crypto namespace doesn't allow one to specify a passphrase for the private key. The idea would be to allow `openssl_privatekey`, `openss

[2017-07-19 13:44] SeriyBg opened #27045 "Installation guide via Apt (ubuntu) may lead to error"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Installation

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu

##### SUMMARY
In the installation guide, there are the following steps to install ansible on Ubuntu:
[code]
But running `sudo apt-get install software-properties-common` before `sudo apt-get update` may lead to error `Unable to locate packag

[2017-07-19 13:46] SeriyBg commented on #27045
I submitted pull request with commands sequence chnaged to:
[code]
Please, confirm if it is a bug and if such pull request is relevant

[2017-07-19 13:47] 191801737 opened #27046 "ansible raw modules"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

raw  module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

vim /etc/ansible/hosts
[code]
##### OS / ENVIRONMENT

CentOS Linux release 7.3.1611 (Core)

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

i have a switch H3C S5110-52P i want to use raw module to connect to it
when i Execute the command  ```ansible h3c -

[2017-07-19 13:48] profhase opened #27047 "cs_staticnat fails on second execution"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cs_staticnat

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Trying to assign an ip with `cs_staticnat` to a network in VPC (I don't know if it plays a role), the
first time works out fine. On the second execution one gets:

##### STEPS TO REPRODUCE

Execute the following task multiple times

[c

[2017-07-19 13:48] profhase commented on #27047
Same as https://github.com/ansible/ansible/issues/22565 , could not reopen

[2017-07-19 13:50] kuhlskev commented on #24221
@wisotzky,
Great, so there is yet another concept I need to learn in action plugins.  This is not likely the right place to ask, but how does it manipulate the src file?  I don't see a load anywhere.  I read [24323](https://github.com/ansible/ansible/pull/24323), but still amazed the somehow the src field is read, jinja rendered and returned as text.

But that must be the case for this to work in

[2017-07-19 14:27] s-hertel commented on #25938
needs_info

[2017-07-19 14:37] alpineriveredge commented on #26965
Hi andreaso.
I understand you mentioned.
I changed my playbook to full path, then unarchive task was skipped.
Thanks for showing true problem.

[2017-07-19 14:40] s-hertel commented on #21765
fixed in eb4cc31

[2017-07-19 14:40] #21765 closed, assigned to nobody

[2017-07-19 14:45] Nosmoht commented on #21152
@Hravn Could you please test with #21150 and comment on it?

[2017-07-19 14:46] Nosmoht commented on #26903
_shipit_

[2017-07-19 14:51] s-hertel commented on #25182
@willthames Are you still working on this? Since this is fixed on devel, may be worth considering to backport?

@ryansb

[2017-07-19 15:13] #26965 closed, assigned to nobody

[2017-07-19 15:16] trstringer commented on #22686
@ysolis just for troubleshooting purposes, can you run `ansible --version` pre/post repro of this issue?

[2017-07-19 15:19] trstringer commented on #25032
Just to give an update, we're working on getting #26052 merged in asap to solve this problem. Thank you for bringing this to our attention! 👍 😄

[2017-07-19 15:21] bcoca commented on #14426
`become: root` is incorrect, it does not set the user, but it ends up being a `True` value for `become` so it is really no change.

[2017-07-19 15:27] bcoca commented on #27037
What you are seeing is the 'magic of squashing', this is a feature that affects specific modules that allow for taking a list. Under certain conditions Ansible then 'optimizes' the loop by passing the full list to the module, since Ansible does not know ahead of time if modules support this we list them in a configurable setting http://docs.ansible.com/ansible/intro_configuration.html#squash-actio

[2017-07-19 15:27] #27037 closed, assigned to nobody

[2017-07-19 15:36] pmusolino-rms commented on #26992
This is due to default timeout of 10 seconds being too short.  I bumped it to 30 seconds and the task succeeded.

[2017-07-19 15:36] #26992 closed, assigned to nobody

[2017-07-19 15:41] bcoca commented on #27033
the file and fileglob lookup always look in `files/` for relative paths, this is by design, they are not 'task aware'.

`template` does use `templates/` for the `src` option, but this is something that the lookups are not aware of.

[2017-07-19 15:47] trstringer commented on #24328
The `image` parameter is used to specify an Azure Marketplace image, not a custom user image. I don't believe we currently support the creation of a VM with a custom user image. At the moment I think the only way to do this would be with an ARM template and the `azure_rm_deployment` module. We will add this to our list of development, as I feel this is necessary functionality.

Thank you for bring

[2017-07-19 15:56] aioue opened #27061 "sns_topic module fails when subscriptions is null"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

sns_topic

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When `subscriptions` is null. Module produces traceback

##### STEPS TO REPRODUCE

Running in check mode (`--check`):

[code]

##### EXPECTED RESULTS

OK, or CHANGED

##### ACTUAL RESULTS

MODULE_FAILURE

[code]

Related:
https://github.com/ans

[2017-07-19 15:59] jwendt-bnsf opened #27062 "Unable to Clone VMware VM Template"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
* pyvmomi 6.5.0.2017.5-1
  python version = 2.7.5 (default, Aug  2 2016, 04:20:16) [GCC 4.8.5 20150623 (Red Hat 4.8.5-4)]
* Ansible Tower 3.1.3
* vSphere Version 6.0.0 Build 5318200
* vmware_guest.py and vmware.py are latest from master.

##### SUMMARY
Whe

[2017-07-19 16:00] shankerrhce commented on #19820
i require this option to mount temporarily..  expecting in next release..

[2017-07-19 16:02] ayr-ton opened #27063 "openstack dynamic provider and hosts with both ipv4 and ipv6"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/contrib/inventory/openstack.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
"N/A"

##### SUMMARY
I have an OpenStack environment on DreamCompute with a bastion host that has both a public ipv4 and an ipv6. I want to connect to the ipv4 because my current ISP doesn't provide ipv6 but the openstack dynamic inventory from Ansible a

[2017-07-19 16:03] pdreker opened #27064 "virt_net silently ignores autostart parameter if command is specified"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
virt_net

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
roles_path = /Users/pd/Ansible/Roles
library = /Users/pd/Ansible/Modules

[privilege_escalation]
become = True
become_method = sudo

##### OS / ENVIRONMENT
Controller: MacOS (Darwin ghost.nbg.teamix.net 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:x

[2017-07-19 16:09] guenhter commented on #23066
@kassiansun
Yes you're right, and that's exactly what we are doing: We notify the whole Team and then make the change scheduled.
But sadly, the "silent" change happened one time because of a variable change which affected a DB config (just a minor tiny change which had no affect at all, but a change though). This change restarted our production DB what affected all other systems, and it took quite

[2017-07-19 16:23] rcarrillocruz commented on #26577
can you please provide a config to setup BGP on two routers (dummy networks and all, not needed your actual config), so I get advertised routes in the lab?

[2017-07-19 16:33] wolfman2g1 commented on #26809
+1

[2017-07-19 16:45] travisdetert commented on #14426
I can confirm that rolling back to ansible1.9 resolves all of my weird SSH connection issues.  I don't know what is wrong with ansible2.x but I will not be upgrading any time soon since this seems to continue to persist.  I've seen comments that this is not an ansible bug, and I firmly disagree.  The only variable I've changed is an ansible upgrade.  I manage over 70 servers with no issues with an

[2017-07-19 16:46] mikewiebe commented on #26301
I took #26370 for a test drive.  I can now specify `default` for `max_prefix_limit` but the module is no longer idempotent.  Here is the playbook I am using.
[code]

[code]

[2017-07-19 16:53] felixvf opened #27065 ""docker_network" does not honor the "internal" option"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
docker_network.py

##### ANSIBLE VERSION
[code]

##### SUMMARY
Docker allows to set certain [options](https://docs.docker.com/engine/reference/commandline/network_create/) (such as "--internal") when creating networks (using "docker network create"). These options are also supported by "docker-py", on which the docker support of ansible builds

[2017-07-19 16:55] rahushen opened #27066 "(P1)nxos_acl: module errors out if 0 or 1 access lists are configured"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_acl

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ansible Server : Ubuntu 14.04
- Device: Nexus 3548

##### SUMMARY

##### STEPS TO REPRODUCE

Problem is exposed by the 3548 which has no access lists configured by default (unlike other platforms).

[code]

##### EXPECTED RESULTS

The module not to error out

##### ACTUAL RES

[2017-07-19 17:03] kevin-p commented on #24610
@JLSNZ I had the same problem and made a patch in order to restore the behaviour of ansible-2.2 when config_format is set to xml.
The resulting dictionnary is stored in ansible_net_config_json instead of config_json.

I need to keep the xml to json because of older junos device and an other device in junos1 5.1X49-D75 which return me a json which fail when parsed by ansible filter from_json().

It

[2017-07-19 17:08] ayr-ton commented on #27063
Just found an option here:
https://docs.openstack.org/os-client-config/latest/user/configuration.html#ipv6

Thanks, @flowerysong for the help on IRC

[2017-07-19 17:08] #27063 closed, assigned to nobody

[2017-07-19 17:12] mbach04 commented on #26968
I'm unable to duplicate this error using Centos 7.3 on AWS (ami-46c1b650)
ansible --version:
[code]
play.yml
[code]

Result:
[code]

[2017-07-19 17:29] jmcleroy opened #27071 "nxos_bgp_neighbor_af with send_community fails if ran a second time"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_bgp_neighbor_af with the parameter send_community set fails if ran a second time instead of Idempotently showing as already complete.
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When running a change with nxos_bgp_neighbor_af with send_community fails if ran a second time. Expected outcom

[2017-07-19 17:36] nickrobinson opened #27072 "route53_zone_tag module request"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
route53_tag_zone

##### SUMMARY
At the moment there does not appear to be a clear cut way to add tags to Route53 hosted zones from ansible. I currently use tags in order to filter hosted zones that I want to run various tasks against. In order to get tagging in place at the moment I run a script after running ansible that goes back through my

[2017-07-19 17:39] jean-christophe-manciot commented on #18974
The issue is still there with:
[code]
on the Cisco target:
[code]

The following role:
[code]
leads to:
[code]
On the other hand, I am able to perform some nxos_config using NXAPI on the same NX-OSv 9k target.

[2017-07-19 17:48] andreaso commented on #26239
This is all about https://downloads.wkhtmltopdf.org/ being picky about User-Agents.

[code]

vs.

[code]

The redirects are not an issue. Both the _apt_ module and the _get_url_ module uses the same `fetch_url` helper function, and _get_url_ has no problem downloading the .deb file. The difference being that the _get_url_ module sets an explicit User-Agent, which is apparently more acceptable. Tha

[2017-07-19 17:56] rahushen commented on #26159
@Qalthos .. had the chance to try this out today and it doesn't fix the issue. Still see the issue on idempotence.

[2017-07-19 17:57] infrascripting commented on #24037
+1

I have an instance where I am hammering a RedHat Satellite server to enable various repos for the client machines. This is very resource-intensive on the Satellite server if they all connect at once. At any point if >15 servers are trying to enable 5-8 repos at a time, the chance that one or more will fail is close to 100%, due to the sheer amount of traffic to the Satellite server.

Best-case

[2017-07-19 18:30] jmcleroy opened #27077 "nxos_system fails to add name servers with or without vrf"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_system
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Rhel 7 and the os is NXOS nxos.7.0.3.I5.1.bin

##### SUMMARY

nxos_system when setting name servers with or without vrf fails to set the servers with an error of command failure for "no ip name-server use-vrf"

##### STEPS TO REPRODUCE

[code]

##### EXPECT

[2017-07-19 19:05] imstochastic opened #27078 "why is ansible's default output not more human readable... stilll?"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

default output plugin?  I'm not sure exactly what this is called.

##### ANSIBLE VERSION
all versions are affected.  that's part of the problem.

##### CONFIGURATION
I'm complaining about an inane default.  no configuration problems required

##### OS / ENVIRONMENT
all

##### SUMMARY
ansible error output is impossible to read.  Why oh why can t

[2017-07-19 19:07] trstringer commented on #23765
Apologies for the delay on this. I just reviewed the corresponding PR for this, let me know your thoughts to that comment.

Thank you for bringing this to our attention and working on a fix! 👍 😄

[2017-07-19 19:17] jhawkesworth commented on #27078
I had complains about this which went away as soon as I switched to using

stdout_callback=minimal

in my ansible.cfg

[2017-07-19 19:19] paulcalabro commented on #14022
Just to add another possible solution I just discovered: make sure you have the ability to run `/bin/sh` via sudo. I tested with the `-n` flag above and then suddenly saw issues regarding timeouts waiting for input. I did some further testing on the remote server and determined  that this was the source of my particular issue (observed via `-vvv`):

`sudo -H -S -u root /bin/sh -c <commands to run

[2017-07-19 19:20] luvpreetsingh opened #27079 "Question - Which shell ansible uses ?"
When ansible logs in to the remote systems, which shell does it uses ?

I am asking this because of this question here,

https://askubuntu.com/questions/937354/track-logins-made-via-non-interactive-shells?noredirect=1#comment1486323_937354

Please tell me how can I do what is asked in this question ?

Question 2 - If I have 10 tasks in a playbook, then logs in 10 times to remote host OR uses a sin

[2017-07-19 19:21] ghost commented on #19584
Try this, replace ec2-user with whatever username you set up.

    ansible all -u ec2-user -m ping -vvv

[2017-07-19 19:26] imstochastic commented on #27078
@jhawkesworth yes, that is one way to solve the problem: thanks for pointing that out.  One can also install custom callback plugins.  But neither solution is in place by default.  Which means that people have to know about the solution in question, which means that most people will never implement the solution.

What I'm asserting here is that the default output needs to be easily human readable.

[2017-07-19 19:29] salman1485 commented on #26577
Here is setup from our lab environment:
ip prefix-list MYSECURELAYER-DENY-ALL seq 5 deny 0.0.0.0/0 le 32
ip prefix-list MYSECURELAYER-OUT seq 5 permit 192.168.101.0/24
ip prefix-list MYNETWORK-ROUTES seq 5 permit 192.168.101.0/24
ip prefix-list ISP-SUPPRESS seq 5 deny 0.0.0.0/0 le 32

router bgp 65535
 bgp log-neighbor-changes
 network 192.168.101.0
 neighbor 192.168.255.2 remote-as 65534
 neighbo

[2017-07-19 19:54] Qalthos commented on #26159
Does it still fail with `Invalid command`, or does it pass but attempt to change the value again? In other words, has the output for the second run changed at all?

[2017-07-19 20:00] jrosengren commented on #26905
I just happened to hit this same problem today, using 2.3.1.0 on MacOS:

$ ansible --version
ansible 2.3.1.0
  config file =
  configured module search path = Default w/o overrides
  python version = 2.7.13 (default, Dec 22 2016, 09:52:19) [GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.42.1)]

[2017-07-19 20:02] #18411 closed, assigned to nobody

[2017-07-19 20:03] shankerrhce opened #27081 "unarchive module feature request: allow to extract specific files"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

unarchive module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
need a feature to extract single/multiple files from .zip file .  current unarchive module will unzip all the files to the destination folder

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-19 20:22] rahushen commented on #26159
Yes, the behavior has changed. It does try to apply the command again and is successful. Idempotence check is failing now. Command processing is fine.

[2017-07-19 20:38] trstringer commented on #19670
This is not an Ansible or Azure SDK for Python issue.

This error is stating that in order to do those operations your service principal would have to have permissions to register an action on storage I believe. In order to make Azure RM API calls, I believe, you have to have the correct registrations on API subsets. That's my understanding.

@lmazuel or @haroldwongms, do you have any additional t

[2017-07-19 20:48] trstringer commented on #25931
I think I'm a bit confused. If you were unable to repro the issue with `azure==2.0.0` then what is the need for the code change? Not saying it's unnecessary, just trying to wrap my head around this before I dive into the code.

Thanks again and apologies for the delay!

[2017-07-19 20:51] Qalthos commented on #26159
Yup, client-to-client is store false instead of store true, so idempotency was broken. #26996 should fix that now.

[2017-07-19 21:04] caoer commented on #24045
tried deleted ~/.libcloud_google_auth.{{project-id}} file. then it works. at the first time of running, the project role is not being setup correctly. I guess the permission is being cached so the following tries were failed, even I added roles to IAM account.

[2017-07-19 21:24] bcoca commented on #27079
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-07-19 21:24] #27079 closed, assigned to nobody

[2017-07-19 21:32] abadger commented on #26942
It appears that you're trying to use a string in the template which has meaning to the jinja2 template engine.  See the documentation on escaping in jinja2 to figure out how to format your string:
http://jinja.pocoo.org/docs/2.9/templates/#escaping

Since this is a user question instead of a bug, if you need further help, please direct it to the mailing list or irc channel.  I'll paste information

[2017-07-19 21:32] #26942 closed, assigned to nobody

[2017-07-19 21:35] abadger commented on #26952
needs_info

[2017-07-19 21:37] fwissue opened #27083 "unable to open shell"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

asa_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

when I use asa_command to run show nat (which I setup as privledge level 1), I got error "unable to open-shell")
##### STEPS TO REPRODUCE

task path: /work/ASA/fwshownat.yaml:13
<10.0.23.51> using connection plugin network_cli
<10.0.23.51> s

[2017-07-19 21:43] Qalthos commented on #26301
I'm not really sure why that should work with `max_prefix_limit` commented (it didn't for me), but this did expose six or so _other_ parameters which weren't idempotent, which should now be fixed in #26370. Let me know if it runs now.

[2017-07-19 21:51] #26917 closed, assigned to nobody

[2017-07-19 21:55] fridim commented on #15892
Tried to do simple echo while escaping and use a register, not working:
[code]

result:
[code]

expected:
[code]

[2017-07-19 22:06] #26918 closed, assigned to nobody

[2017-07-19 22:37] abadger commented on #26990
Groups are not first class citizens in ansible.  Only hosts are.  So you're really defining a host several times here and giving it several different possible values for the vertical variable.  The last one defined wins (in this case, alphabetical sorting is defining the qa entry last).

If you want hosts with different values for the variable depending on the context I would do it something like

[2017-07-19 22:37] #26990 closed, assigned to nobody

[2017-07-19 23:02] abadger commented on #26995
Note that yum is very slow and there is only so much we can speed it up.  Idempotence and check_mode handling also limits us in certain ways.

Some questions that could be helpful:  Is the speed the same on both first run and a second run immediately afterwards?

If you do yum clean all ; followed by yum install [list of packages]  and then yum install [list of packages a second time] how fast are

[2017-07-19 23:31] jbarlow83 commented on #25711
For anyone else chasing this issue across the internet, it has most *recently moved* to
https://github.com/ansible/ansible-container/issues/608

[2017-07-20 00:39] bcoca commented on #16581
@mattparkes

that is incorrect,  Ansible has always had at least parent/child hierarchy and now we also have `priorities`.
If  2.1 was skipping the errors, it would have been a bug.
In 2.2, ignoring `failed_when`, that seems like a bug also, but different than the reported in this ticket, please file a new one.

@jjshoe  includes are a different issue

since the original post is not really a bug,

[2017-07-20 00:39] #16581 closed, assigned to jimi-c, abadger

[2017-07-20 00:59] kassiansun commented on #23066
@guenhter You might want to take a look at [Check Mode](http://docs.ansible.com/ansible/latest/playbooks_checkmode.html), it will report changes instead of make them.

[2017-07-20 01:03] sigmavirus24 commented on #22993
@kassiansun I just ran into this using `docker` 2.0.1 (and `docker-py` 1.10.6) on python 3.5 and ansible 2.3.1.0

[2017-07-20 01:04] dagwieers commented on #27078
@imstochastic Different people have different needs, personally `stdout_callback=minimal` is more verbose than the default output. It's not taking care of my limited screen estate.

So what I do is I add more `-v`'s to the commandline if I need more information. Adding a single `-v` provides jSON output, double `-vv` gives more context, triple `-vvv` gives easier readable JSON output.

In most cas

[2017-07-20 01:07] abadger commented on #27033
As per bcoca's message, this is working as designed.  If you have further questions and how to get ansible to do the things you need, the mailing list or irc will have good information.  I'll post a link to those below:

List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direc

[2017-07-20 01:07] #27033 closed, assigned to nobody

[2017-07-20 01:13] kassiansun commented on #22993
@sigmavirus24 Well, from [docker-compose's requirements file](https://github.com/docker/compose/blob/master/requirements.txt), now it depends on `docker-py 2.4.2`, and this should work well with `docker_container`(on my pc it runs smoothly).
So I didn't get why this is happening, what are the versions of you guys' `docker-compse`, `docker-py`, `python-docker`? I'm working with all latest version,

[2017-07-20 01:21] #27043 closed, assigned to nobody

[2017-07-20 01:22] sigmavirus24 commented on #22993
So I don't even have `docker-compose` installed. Literally did `pip install ansible docker` in a virtualenv on macOS (and homebrew python3) and I'm getting the

[code]

exception with

[code]

[2017-07-20 01:25] kassiansun commented on #22993
@sigmavirus24 What's the version of `docker-py`?

[2017-07-20 01:27] kassiansun commented on #22993
Actually I don't think ansible can run with `pip(3) install`, ansible `2.3.0` is the offical version but it can't run with python3(at least not officially supported)

[2017-07-20 01:29] sigmavirus24 commented on #22993
Yeah, I run ansible on Python 3 enough that I don't think it's that.

I started off with `docker-py` `1.10.6` (as above) and when I encountered the same AttributeError I tried `docker` instead but got the same error. I even recreated the virtualenv from scratch and still get this error.

[2017-07-20 01:33] kassiansun commented on #22993
If you want to run ansible with python3, the git version is better(v2.4 is working on python3 support), and I'm running it on my python3 environment.
`docker-py` runs on your target machine, not local, I have not much experience with virtualenv, this should be setup before you run ansible on remote.
On you local machine, `pip install ansible` is all you need to do. Then install `docker-py` or any

[2017-07-20 01:52] #27045 closed, assigned to nobody

[2017-07-20 01:56] felipe1982 commented on #25013
Do we know in what version this fix was released?

[2017-07-20 01:57] jborean93 commented on #27046
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-07-20 01:57] #27046 closed, assigned to nobody

[2017-07-20 02:11] jborean93 commented on #27071
cc @GGabriele @jedelman8 @mikewiebe @privateip @rahushen @rcarrillocruz @trishnaguha

[2017-07-20 02:22] ysolis commented on #22686
ok, check @tstringer:
[code]

[2017-07-20 02:42] jborean93 commented on #27078
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * The current output level has been part of Ansible for a long time and changing the defaults for this would require substantial support from the community.
   * There are other ways of achiev

[2017-07-20 02:42] #27078 closed, assigned to nobody

[2017-07-20 05:03] rbu commented on #26897
##### COMPONENT NAME
copy

##### ANSIBLE VERSION
[code]

[2017-07-20 05:09] willthames commented on #26879
Fixed by #26729

[2017-07-20 05:41] slavkv opened #27094 "asa_command module replaces word "admin" with asterisks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
asa_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
asa_command replaces a word 'admin' with asterisks.

##### STEPS TO REPRODUCE
Run the following playbook. It can connect and grab data from the device.

[code]

##### EXPECTED RESULTS
Playbook returns a list of configured usernames. Example

[2017-07-20 05:58] pehruby commented on #26952
Hi,
I've tried it using ansible-playbook  example-ios_config.yml -e
"ansible_user=cisco ansible_ssh_pass=cisco" with the same result:

2017-07-20 05:47:06,525 p=24333 u=ubuntu |  ssh connection has completed
successfully
2017-07-20 05:47:06,525 p=24333 u=ubuntu |  connection established to
10.105.139.146 in 0:00:00.723610
...
2017-07-20 05:47:21,372 p=24445 u=ubuntu |  creating new control socket

[2017-07-20 06:58] ghost opened #27096 "vmware vm create succeed but result with "A specified parameter was not correct: spec.identity.hostName""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

creating Vmware VMs from tamplaet in a loop. the name of the VM must contain an IP address
example --> proj-name-10.0.0.234

##### STEPS TO REPRODUCE
 someVM-10.0.0.60  and can be powered on manually but ansible script fails with error and exi

[2017-07-20 07:47] FrederikSuijs opened #27097 "ios_command can't handle prompts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
host_key_checking = False

##### OS / ENVIRONMENT

Linux snuffy 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1+deb8u1 (2017-02-22) x86_64 GNU/Linux

##### SUMMARY

Hello, I'm working on a playbook to automate some IOS routers. I'm stuck at task where a ios_command expects retu

[2017-07-20 07:59] Demaunt opened #27098 "Cannot add ssh keys into image as buildargs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - docker_image

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

- https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg

##### OS / ENVIRONMENT

 - Ubuntu:16.04

##### SUMMARY

- Container built from image does not have ssh_keys, passed to image as build args in playbook

##### STEPS TO REPRODUCE

- Create Dockerfile

[2017-07-20 08:43] Nosmoht commented on #26702
I've already commented #26709 with _shipit_.

[2017-07-20 08:54] themanifold commented on #20119
If this is a deliberate feature, it should be acknowledged as such. There is no mention in the docs of this limitation.

[2017-07-20 09:02] varpa89 opened #27099 "s3_bucket for minio"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

s3_bucket
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

minio/minio:RELEASE.2017-05-05T01-14-51Z

##### OS / ENVIRONMENT

macOS Sierra
##### SUMMARY

I'm trying to use s3_bucket for Minio. I'm available to create a bucket only if set parameter ceph:true
But parameter policy always ignore
##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2017-07-20 09:20] rcarrillocruz commented on #26577
Hi there, can you please try the 27100 pull request and let me know if that fixes the issue?

[2017-07-20 09:31] tedder commented on #25013
If you look at the release tags, it is slated for 2.3.2.

[2017-07-20 11:16] jcberthon commented on #22993
Hi @kassiansun

I forgot to update my comment. I found the problem. When I read the document it was written to install docker-py for dependency on the host that executes the module. That sentence was not clear to me and I installed docker-py on the host that executes the playbook (where I execute `ansible-playbook ...`). Of course that did not work.

Now I understand that "executes the module" ref

[2017-07-20 11:41] cognifloyd commented on #27081
This was requested previously in ansible/ansible-modules-core#2037, but that request was "solved" with a blacklist filter (exclude certain files from extraction) instead of a whitelist filter (only extract these files) in ansible/ansible-modules-core#3307.

I would also like the ability to specify a single file that should be extracted instead of blacklisting everything that should not be extracte

[2017-07-20 11:44] felipe1982 commented on #25013
Thank you. Sorry to bother but where are the release tags?

[2017-07-20 11:48] koenw commented on #18257
Having per-var merging would definitely add value over `union` or `combine` in my opinion. Using `union` or `combine` would require you to know exactly what variables to merge, whereas with per-var merging you could dynamically 'append' to a list or hash without maintaining a separate 'list of lists'.

For example, let's say you have a list of nagios checks for a node. Each group or role could jus

[2017-07-20 12:14] ericcitaire opened #27102 "maven_artifact doesn't read the proper snapshotVersion of the artifact"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME
maven_artifact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Given multiple Maven artifacts with same `groupId` and `artifactId` but different `extension` and/or `classifier`, Ansible doesn't read `snapshotVersions` in `maven-metadata.xml`.

##### STEPS TO REPRODUCE

Create a dummy Maven repository with

[2017-07-20 12:16] #23682 closed, assigned to nobody

[2017-07-20 12:50] fredericlepied opened #27105 "setup.py sdist converts symlinks to files breaking webdoc generation and other features"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

webdocs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora 25

##### SUMMARY

##### STEPS TO REPRODUCE

python setup.py sdist

# and then from the extracted tarball:

make webdocs

[code]

##### EXPECTED RESULTS

doc built

##### ACTUAL RESULTS

[code]

[2017-07-20 12:54] bcoca commented on #27105
removed "from sdist tarball" as that does not matter for this error as it is present in the `/devel` branch no matter how you consume it.

[2017-07-20 12:59] s-hertel commented on #19888
fixed in bd05c65

[2017-07-20 12:59] #19888 closed, assigned to nobody

[2017-07-20 13:50] dagwieers commented on #27081
Yeah, so the whole problem here is that we are using `unzip` and `gtar` underneath and this is all too fragile and possibly problematic and we really really would like to go to a pure-python implementation.

I don't mind if people want to contribute this, and then support it. But I think all this effort would be better spent on writing a pure-python **uncompress** alternative module.

needs_contri

[2017-07-20 14:31] fredericlepied commented on #27105
it matters as the sdist process is creating a regular file and btw making
the doc build process fail as it checks that it's a symlink.

On Thu, Jul 20, 2017 at 2:54 PM, Brian Coca <notifications@github.com>
wrote:

[2017-07-20 14:31] newswangerd opened #27110 "AttributeError: 'NoneType' object has no attribute 'group' in ios_logging"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ios_logging

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS Sierra
Cisco IOS 15.6

##### SUMMARY

##### STEPS TO REPRODUCE

run tests with `ansible-playbook -i inventory.network ios.yaml -vvvv -e limit_to=ios_logging`

[code]

##### EXPECTED RESULTS

Tests should pass.

##### ACTUAL RESULTS

[code]

[2017-07-20 14:33] bcoca commented on #20119
@themanifold here i agree with @krzysztof-magosa, tags indicate that you want ONLY those specific tags run and that trumps dependencies, remember you CAN tag the dependencies also, would you want them also run even if you do `--skip-tags tagged_dependency` ?

This is a corner case that is not described, but could be inferred from the tag docs, in any case I've added this ticket for the core meetin

[2017-07-20 14:35] jrmoserbaltimore opened #27111 "Documentation does not describe vars_files well"
After about 15 minutes of Google searching and reading the documentation, I finally found a reference to the *content* of a variables file [in only one place](http://docs.ansible.com/ansible/latest/playbooks_variables.html#variable-file-separation).

[Higher up on the same page](http://docs.ansible.com/ansible/latest/playbooks_variables.html#variables-defined-from-included-files-and-roles), there'

[2017-07-20 14:39] bcoca commented on #27105
that is diff issue then, sdist should preserve symlinks, Ansible treats them in special ways so having it as a file is a problem.

[2017-07-20 14:39] themanifold commented on #20119
@bcoca Thanks for adding this to the core meeting. In my opinion, unless an inference is very explicit and not open to interpretation, it should be spelled out. The fact that this issue exists is some evidence to the fact that the inference is cloudy.

[2017-07-20 14:47] newswangerd opened #27114 "Invalid input iosxr_banner"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iosxr_banner

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Run tests with `ansible-playbook -i inventory.network -vvvv -u root iosxr.yaml -e limit_to=iosxr_banner -k`

[code]

##### EXPECTED RESULTS

Tests should pass

##### ACTUAL RESULTS

[code]

[2017-07-20 14:54] pari- commented on #22349
This is a duplicate of https://github.com/ansible/ansible/pull/22238 (which has been created 4 days earlier) .. ;-)

[2017-07-20 14:56] fredericlepied commented on #27105
Could be but that's not the case. That's why I opened it this way as it'll
fail at release time and that's not a good thing ;-)

On Thu, Jul 20, 2017 at 4:39 PM, Brian Coca <notifications@github.com>
wrote:

[2017-07-20 15:00] newswangerd commented on #26605
Closed because we are removing template network modules.

[2017-07-20 15:00] #26605 closed, assigned to rcarrillocruz

[2017-07-20 15:01] #21513 closed, assigned to jctanner

[2017-07-20 15:05] newswangerd opened #27115 "ios_user fails to remove user"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Tests should pass

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-20 15:05] abadger commented on #21513
#24393 merged.  Fix should be available in 2.4.0.  Anyone who is willing is encouraged to test out the devel branch to find new bugs I may have introduced before 2.4.0 is released :-)

[2017-07-20 15:06] #24949 closed, assigned to nobody

[2017-07-20 15:08] tedder commented on #25013
When viewing the file, it is in the branches dropdown.

<img width="735" alt="screen shot 2017-07-20 at 5 05 20 pm" src="https://user-images.githubusercontent.com/97914/28424450-f5ed6764-6d6d-11e7-8931-524d1dd03374.png">

[2017-07-20 15:09] #15436 closed, assigned to nobody

[2017-07-20 15:17] abadger commented on #27105
That's how distutils works and always has.  I believe i added some code to replace the files with symlinks but I believe that code activates at install time, rather than build time.  We could look at moving that code to run at a different/additional times but it seems strange to me that it would only be breaking now....

[2017-07-20 15:19] bcoca commented on #27105
it is rare that people do docs from sdist instead of git checkout, also it is rare that we rename modules

[2017-07-20 15:21] newswangerd opened #27116 "When running all ios tests at once, all modules after the first fail because the device is left in config mode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

ios_banner runs first and leaves the device in config mode. This breaks all subsequent tasks because other tasks try to run non config command such as `show`.

##### STEPS TO REPRODUCE

run all ios test `ansible-playbook -i inventory.network  ios.ya

[2017-07-20 15:27] abadger commented on #27105
Oh, and this isn't the bin scripts; it's the modules that are renamed...  we don't have any code that changes those.

[2017-07-20 15:27] thaumos commented on #20119
@xmj, could you open another issue or link us to an existing issue regarding your comment?

[2017-07-20 15:28] bcoca commented on #20119
@xmj that seems like an actual bug, the tags are not influencing the 'role uniqueness' so w/o `allow duplicates` the role might be considered 'run' depending on tag/role order.

Can you please open new ticket with the details/reproducer?

[2017-07-20 15:28] pierrefevrier commented on #8603
+1

[2017-07-20 15:30] bcoca commented on #20119
@msanabria , @themanifold we discussed in the core meeting and we decided to close this ticket as it is 'expected behaviour'. Added an action item to update/clarify docs (but if either of you wants to submit PR that does so, it will be welcomed).

[2017-07-20 15:30] #20119 closed, assigned to nobody

[2017-07-20 15:32] newswangerd opened #27118 "UnicodeError ios_command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

`ansible-playbook -i inventory.network  iosxr.yaml -vvvv -u root -k -e limit_to=iosxr_command`

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-20 15:32] newswangerd commented on #27118
I can fix this one

[2017-07-20 15:46] jimi-c commented on #20119
@xmj I'm not even sure if that is a bug. I've setup what I "think" you're describing:

role `a` (tagged with "a") has dependencies on roles `b` and `c` (tagged as such in `roles/a/meta/main.yml` dependencies:
[code]
And both `b` and `c` have a dependency on role `d`.

When run with `--tags=b`:
[code]
When run with `--tags=c`:
[code]
This behavior is consistent with what I'd expect, which is the fa

[2017-07-20 15:47] newswangerd opened #27120 "iosxr_config fails to indicate changed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
isoxr_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

`ansible-playbook -i inventory.network  iosxr.yaml -vvvv -u root -k -e limit_to=iosxr_config`

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-20 15:47] #26411 closed, assigned to nobody

[2017-07-20 15:55] newswangerd opened #27122 "AttributeError: 'NoneType' object has no attribute 'group' iosxr_logging"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
iosxr_logging

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

` ansible-playbook -i inventory.network  iosxr.yaml -vvvv -u root -k -e limit_to=iosxr_logging`

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-20 16:06] newswangerd opened #27123 "iosxr_user fails integration tests"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iosxr_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-20 16:08] sudomateo commented on #20119
@bcoca Thank you for the update. I agree that the docs should just probably be more clear.

[2017-07-20 16:10] JoelFeiner opened #27124 "Assert module should not always be verbose"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
assert module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing relevant.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using the assert module, full output is produced, which clutters the normal Ansible output and can potentially reveal sensitive information. Using `no_log` blocks all useful information, so that's not a preferred opt

[2017-07-20 16:37] newswangerd commented on #26620
Fixed by: #26999

[2017-07-20 16:37] #26620 closed, assigned to nobody

[2017-07-20 16:43] lmazuel commented on #19670
There was a fix in Ansible, when in some situation we over-register for nothing, and fail for nothing:
https://github.com/ansible/ansible/pull/18695

I don't know if Ansible 2.2.0.0 has this fix, I don't know how to link a PR to the release.

Also, in [msrestazure 0.4.9](https://github.com/Azure/msrestazure-for-python/releases/tag/v0.4.9), we roughly backport this feature from Ansible to Azure run

[2017-07-20 16:56] ghost commented on #16956
So what is that structure?! I think that's the crux of the complaint here, is that the docs say something that doesn't work in practice. Also, the behavior around this critical feature keeps changing from the perspective of the user. Can you at the very least document what we're supposed to do here? I've been using Ansible since 1.8, and now all my playbooks are broken yet again and I don't know w

[2017-07-20 17:01] rahushen commented on #26159
Verified the fix. ITs are passing now. Thanks.

[2017-07-20 17:18] andreaso commented on #25639
Here we have where the breaking expansion happens.

https://github.com/ansible/ansible/blob/bf63301b341ef68abb5c7c0f9d3ae7b475800f48/lib/ansible/module_utils/basic.py#L1177-L1178

...as well as the some context from the module itself.

https://github.com/ansible/ansible/blob/bf63301b341ef68abb5c7c0f9d3ae7b475800f48/lib/ansible/modules/files/file.py#L165-L185

Without having thought things through

[2017-07-20 17:22] salman1485 commented on #26577
Hey

Thanks for the quick update. How can I test this change in stable Ansible? I did try placing "lib/ansible/plugins/terminal/ios.py" file (with your update) in path <playbook-root>/library but apparently the ios.py bundled with stable ansible overrides ios.py plugin file in library directory.

I'm trying to check how I can setup devel ansible in same server where we have stable ansible rpm inst

[2017-07-20 17:32] #26525 closed, assigned to nobody

[2017-07-20 17:42] #26159 closed, assigned to Qalthos

[2017-07-20 17:55] Qalthos commented on #26562
@trishnaguha is working on something that I think would also help this issue in #27106

[2017-07-20 18:03] richharp opened #27128 "Typo - ismount should be is_mount"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-20 18:08] EvanK commented on #26941
Tested against a FreeBSD 10.3 vagrant machine, but could not reproduce the issue:
[code]

I even tried a crontab _with the terminating newline deliberately removed_. The job was not duplicated, and the cron module fixed the missing newline as expected:
[code]

[2017-07-20 18:17] saichint opened #27129 "(P1) nxos_vpc fails on n7k"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vpc

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus7000 C7010 running 8.0(1)

##### SUMMARY
When we run nxos_vpc playbook, on n7k, we get timeout for peer-gateway.
The reason is that on n7k, when we execute peer-gateway CLI, user input is needed from the console and this is holding it up unt

[2017-07-20 18:41] trstringer commented on #26755
We can use pull request #26887 to discuss.

[2017-07-20 18:44] abadger commented on #27105
Found an upstream (setuptools) bug report: https://github.com/pypa/setuptools/issues/415#issuecomment-316788191  I've left a comment and told the maintainer about it so they can think about it.  We'll still need a workaround for the foreseeable future, though.

[2017-07-20 18:52] todd-dsm commented on #23597
This just happened to me today; ansible is up-to-date BTW.

When do we expect this to hit the streets?

[2017-07-20 18:57] s-hertel commented on #27061
Subscriptions is supposed to be a list. https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/sns_topic.py#L58-L64
[code]
is not a list.
You could do:
[code]
or
[code]
or not specify subscriptions in your playbook (because it defaults to an empty list like it's supposed to).

notabug

[2017-07-20 18:58] mikewiebe opened #27133 "Admin up all ethernet interfaces fails using nxos_interface module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_interface

##### NXOS VERSION
7.3(0)D1(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
According to the module documentation, I should be able to `admin up` all ethernet interfaces using the following playbook

[code]

Reference: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/networ

[2017-07-20 18:59] saichint opened #27134 "nxos_vrf fails for nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vrf

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus9000 C9396PX running 7.0(3)I7(1)

##### SUMMARY
When we run nxos_vrf playbook, we get errors.

##### STEPS TO REPRODUCE
Playbook:

[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[2017-07-20 19:00] aioue commented on #27061
Ok. The error message doesn't make that clear at all. If I was new to Ansible, I'm not sure I would even know subscriptions was the fault.

[2017-07-20 19:01] #27061 closed, assigned to nobody

[2017-07-20 19:03] trstringer commented on #26003
Thank you for the issue and starting this discussion! I agree, we should definitely have availability set support in the `azure_rm_virtualmachine` module. We will put this on our backlog to address.

Thank you again!

cc @haroldwongms

[2017-07-20 19:11] trstringer commented on #22686
Ok cool thanks. Is there a way you can share this playbook via a gist, or if small enough copy/paste it here? I'd like to repro this and investigate.

Thank you! 👍 😄

[2017-07-20 19:14] trstringer commented on #19670
@lmazuel, thank you for that info!

That's exactly what I was thinking and looking to confirm. Thanks!

@pdhandap can you please try this on Ansible 2.3? And also make sure you're using `msrestazure==0.4.9`?

[2017-07-20 19:19] Akasurde commented on #26095
@angystardust Could you please try [this](https://github.com/Akasurde/ansible/commit/ced8c596b4b576eaaecfbb42f731fbad7c283f78) patch and let me know if it works for you?
cc @jctanner

[2017-07-20 19:33] #26577 closed, assigned to rcarrillocruz

[2017-07-20 19:34] #26239 closed, assigned to nobody

[2017-07-20 19:41] #14961 closed, assigned to nobody

[2017-07-20 19:43] newswangerd opened #27136 ""unable to open shell" error when host not in .ssh/known_hosts in network modules"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- lib/ansible/modules/network
- ansible-connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS Sierra

##### SUMMARY

Attempting to run network tasks on network devices that aren't in .ssh/known_hosts causes an "unable to open shell" error.

##### STEPS TO REPRODUCE

- SSH into a device (in order to ensur

[2017-07-20 19:57] andreaso commented on #25639
Nope, no need to do any initial expand of the path parameter, as it's already being expanded, based on its type.

https://github.com/ansible/ansible/blob/bf63301b341ef68abb5c7c0f9d3ae7b475800f48/lib/ansible/modules/files/file.py#L193
https://github.com/ansible/ansible/blob/bf63301b341ef68abb5c7c0f9d3ae7b475800f48/lib/ansible/module_utils/basic.py#L1797-L1799

[2017-07-20 20:07] rahushen opened #27138 "(P1)nxos_facts: ansible_net_version and ansible_net_image not in ansible_facts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_facts

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ansible Server : Ubuntu 14.04
- Device: Nexus 3548

##### SUMMARY

As per documentation in the module, ansible_net_version and ansible_net_image should always be returned. This is not the case.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expect to see `ansibl

[2017-07-20 20:17] dericcrago commented on #14641
I believe I'm running into this issue (or something very similar) as well. Here's an arbitrary example I came up with to show how it's changed over the last couple of versions. Is this helpful @bcoca?

[code]

[code]

[code]

[code]

[2017-07-20 20:22] rahushen opened #27139 "(P1)nxos_facts: module fails for n3k platforms"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_facts

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ansible Server : Ubuntu 14.04
- Device: Nexus 3548

##### SUMMARY

Traceback seen on Nexus 3k platforms.
[code]
Example output of `show environment | json` for a Nexus 3k is:

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected play to apply clean.

##

[2017-07-20 20:25] s-hertel commented on #27061
Yeah, sorry for the lack of clarity...I think it's usually a bad idea to specify parameters as empty unless you *know* you want None/null by reading the docs, and not whatever the default is designed to be (in many cases the default IS None, but not always). You could trigger behavior like this in a lot of modules just by passing in bad values. Try without any empty parameters first and if it tell

[2017-07-20 20:36] saichint opened #27140 "nxos_vrf_interface fails for nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vrf_interface

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus9000 C9396PX running 7.0(3)I7(1)

##### SUMMARY
When we run nxos_vrf_interface playbook, we get errors. This is similar to nxos_vrf issue
https://github.com/ansible/ansible/issues/27134
The error message is different here but it is

[2017-07-20 20:46] bcoca commented on #14641
in 2.4 its always defined, even if empty, that is new ... but do you have anything in /etc/facts.d that would populate it?

[2017-07-20 21:00] saichint opened #27141 "nxos_hsrp fails for {{ cli }} provider"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_hsrp

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus9000 C9396PX running 7.0(3)I7(1)

##### SUMMARY
When we run nxos_hsrp playbook, we get errors when the provider is {{ cli }}. From the looks of the error message, it is as though the feature hsrp is NOT enabled, but on the console, it is ve

[2017-07-20 21:05] tima commented on #25337
@th3penguinwhisperer: In your example you only show a task, but you seem to be fighting the play's host selector loop since you are delegating to `dev_server` and addressing `remote_server` to override `inventory_hostname` where it might be used. Are `dev_server` and `remote_host` in your inventory? What's in `inventory_hostname`? Why is that not being used in this task? You said `dev_server` is l

[2017-07-20 21:06] tima commented on #25337
needs_info

[2017-07-20 21:18] tima commented on #23401
@discopatrick: is this still an issue in 2.3.1 or the 2.3.2 RC?

[2017-07-20 21:21] saichint opened #27142 "nxos_vrf_af fails for nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vrf_af

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus9000 C9396PX running 7.0(3)I7(1)

##### SUMMARY
When we run nxos_vrf_af playbook with {{ nxapi }} as the provider, we get errors.

##### STEPS TO REPRODUCE
playbook:
[code]
##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-07-20 21:30] saichint opened #27143 "nxos_vrf_af fails for {{ cli }} every other time"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vrf_af

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus9000 C9396PX running 7.0(3)I7(1)

##### SUMMARY
When we run nxos_vrf_af playbook with {{ cli }} as the provider, we get errors every other time. If the run the same playbook again and again, it passes 1st time, it fails the next time, pas

[2017-07-20 21:56] saichint opened #27144 "nxos_vrrp fails for nxapi"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
nxos_vrrp

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus9000 C9396PX running 7.0(3)I7(1)

##### SUMMARY
When we run nxos_vrrp playbook with {{ nxapi }} as provider, it fails.

##### STEPS TO REPRODUCE
playbook:
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-07-20 22:03] PhilThurston commented on #25337
@th3penguinwhisperer take a look at your rsync command being generated by ansible especially `--rsh \"ssh -l root\"` Rsync won't be able to know how to parse that. I would suggest trying the extra opts without quotes.

[2017-07-20 22:12] saichint opened #27146 "nxos_vrrp fails on some nxos platforms"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vrrp

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus9000 C9508 running 7.0(3)F1(1)
Device: NX-OSv Chassis running 7.0(3)I2(5)

##### SUMMARY
when we run nxos_vrrp playbook, it fails for {{ cli }} provider on Nexus9000 C9508 running 7.0(3)F1(1) and NX-OSv Chassis running 7.0(3)I2(5) platforms

[2017-07-20 22:54] nitzmahone commented on #27124
Hrm, this was added explicitly in #17654, but removing it still seems to display the failure message fine on both default and minimal stdout plugins. Not sure why we'd always want to display the success output- @tima, can you shed any light?

[2017-07-20 23:05] jborean93 commented on #26828
@dharmabumstead This was fixed in https://github.com/ansible/ansible/pull/26122, I've tested it locally and the formatting is all good now.

[2017-07-20 23:05] #26828 closed, assigned to dharmabumstead

[2017-07-20 23:10] bcoca commented on #27124
If what bothers you is 'changed' and other fields aside from message, we can do the same as we do with `debug` and filter those out.

As per item, the `loop_control: label ` feature should help

I would reclassify this as 'feature request' `quiet=no|yes`

[2017-07-20 23:22] jborean93 commented on #26739
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-07-20 23:22] #26739 closed, assigned to nobody

[2017-07-20 23:25] #26879 closed, assigned to bcoca

[2017-07-20 23:25] jborean93 commented on #26516
The second error you are trying to get is because the credentials are being rejected, this is a sample var structure you should be using.

[code]
Note `ansible_winrm_transport` can be basic if you wish to do basic auth and `ansible_winrm_server_cert_validation` is required if you are using self signed certificates.

[2017-07-20 23:33] jborean93 commented on #26284
@sunilkumar452 I'm going to close the issue as this is a more a question rather than a bug. We like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep the issue tracker for bugs, pull re

[2017-07-20 23:33] #26284 closed, assigned to nobody

[2017-07-20 23:36] jborean93 commented on #26049
This has been tested in the latest devel and a change is no longer registered on a second run.

Playbook
[code]

Results
[code]

Thanks for raising the issue.

[2017-07-20 23:36] #26049 closed, assigned to nobody

[2017-07-20 23:48] jborean93 commented on #25629
@berney there was a recent merge where win_scheduled_task in devel allows you to set the runlevel https://github.com/ansible/ansible/pull/24174. Are you able to try this out and let us know if it works.

[2017-07-20 23:51] nitzmahone commented on #27128
Can we get some context on this? Please fill out the relevant parts of the issue template...

[2017-07-21 00:13] dharmabumstead commented on #26828
OK. Thanks @jborean93.

[2017-07-21 00:29] #25419 closed, assigned to bcoca

[2017-07-21 00:55] kassiansun commented on #22993
@jcberthon Actually I think this is the source of this kind of problems, many people don't know how ansible works - copy the module to remote and execute it. And the `docker-py`/`python-docker` problem distracts people, make it even harder to locate what's happening.

Hope when people search for `missing module` problem, they will be directed to here.

[2017-07-21 01:04] JoelFeiner commented on #27124
I think fixing the overly verbose output is a bug, but certainly adding a new flag would be a feature request. For me personally, now that I think about it, I don't see any value in the quiet flag at all as it really adds nothing (if you want more details, just run with extra verbosity).

[2017-07-21 01:40] tima commented on #27124
It's been a while and unfortunately that issue didn't capture exactly why that was a good idea. I know I didn't come up with it in a vacuum and probably worked that out on IRC or something before sending the PR.

I seem to recall it had to do with getting a message to know which assertion had failed when multiple assertion clauses where in use. It also struck me as odd that you defined a `msg` and

[2017-07-21 01:44] JoelFeiner commented on #27124
@tima I think things have changed. I commented out the relevant line, and it behaves exactly as I would expect it to. That is, when there is no failure, it produces an "ok" line as other tasks would. When there is a failure, it dumps all of the relevant information, as other tasks would.

[2017-07-21 02:12] tima commented on #27124
What does the output of a failure look like? What is included in a dump of all?

[2017-07-21 02:12] jborean93 commented on #26885
I've been able to reproduce this on a Server 2012 R2 box with the following playbook

[code]

The issue is that when win_stat goes to get the hash of a large file which is in use it will throw this error. There are 2 ways in which we can overcome this issue;

* set `get_checksum` and `get_md5` to false so we don't get the hash
* enclose the hash functions in a try/catch and return null if this fai

[2017-07-21 02:13] dmsimard commented on #20346
Hi @jimi-c, I wonder if there is still something planned along these lines ?

[2017-07-21 02:22] JoelFeiner commented on #27124
@tima, I don't have access to my work computer right now, but my memory is that it shows the JSON output of the assert module in red. It does not include newlines, but it does include all of the fields (e.g., "changed", "failure", "msg").

[2017-07-21 02:39] Akasurde commented on #23340
@kuldeep-singh-duhan @Sispheor Could you please try vmware_guest with [latest changes](https://github.com/ansible/ansible/pull/26511) and let us know?

[2017-07-21 03:40] abadger commented on #27105
@fredericlepied could you try out: https://github.com/ansible/ansible/pull/27149  ? I don't have a clean tree right now.  That PR could use some cleanups so I don't repeat the code and data in multiple places but I think it will fix this issue.

[2017-07-21 03:50] larsks opened #27151 "debug callback should accept arbitrary keyword arguments"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

debug callback plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The `default` callback plugin defines a `_dump_results` method that looks like:

    def _dump_results(self, result):

When `ANSIBLE_SHOW_CUSTOM_STATS=1` and custom stats are available, `_dump_results` is called with addi

[2017-07-21 03:53] maxamillion commented on #25651
I submitted a patch also. I think it's slightly more simple and the original patch seems to be stalled without any updated response to the most recent code review 24 days ago.

[2017-07-21 04:05] abadger commented on #26995
needs_info

[2017-07-21 04:11] ysolis commented on #22686
this playbook segment from task/role can give you one idea that you can replicate (the original playbook that I use is bigger and use vault vars files)

[code]

you can see the problem with `priority`, the normal way will be:

[code]
my workaround is:
[code]

[2017-07-21 04:41] jhawkesworth commented on #26885
Since the file is still being written to (potentially) if it is open, then its not in a suitable state to have a checksum of any kind calculated.

So I favour a try catch around the checksum calculation and if it fails, fail the module with a message telling the user to set get_checksum and get_md5 to false if you need to stat an open file.

A one line reproducer:

[code]

Works for me if you set

[2017-07-21 04:52] ogenstad commented on #27094
This is due to the `no_log` option of the password parameter. It will work the same way with any module which masks passwords. The current solution to that is to choose a better password on your devices. "admin" gets replaced by asterisks because `admin` is the password used to login to the device.

[2017-07-21 04:54] slavkv commented on #27094
@ogenstad
'admin' is not the password used to login, but admin is a username is used to login.

Where exactly I can disable no_log option for username for asa.py?

[2017-07-21 05:50] fredericlepied commented on #27105
@abadger Just tested the change and it works. Good to go!

On Fri, Jul 21, 2017 at 5:41 AM, Toshio Kuratomi <notifications@github.com>
wrote:

[2017-07-21 05:52] fredericlepied commented on #27105
@bcoca I'm running a continuous packaging experiment for Fedora and that's what
the package building process is doing. See the current report here:
http://38.145.33.116/dlrn/report.html

On Thu, Jul 20, 2017 at 5:20 PM, Brian Coca <notifications@github.com>
wrote:

[2017-07-21 05:53] guenhter commented on #23066
Yes would also be possible.
I currently have a workaround where the docker-task is deactivated with a global flag. If that task should be executed, we have to explicitly turn that on.

So should we drop this issue?

[2017-07-21 06:13] lmilbaum opened #27155 "win_chocolatey fails to deploy packages"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
ansible 2.3.1.0
  config file =
  configured module search path = Default w/o overrides
  python version = 2.7.10 (default, Feb  7 2017, 00:08:15) [GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)]

##### CONFIGURATION

##### OS / ENVIRONMENT

control machine: OS-X 10.12.6
target machine - Windows 2012

[2017-07-21 06:16] ssayyad786 opened #27156 "replace module needs to be updated , small change"
- replace:
    path: /etc/hosts
    regexp: '(\s+)old\.host\.name(\s+.*)?$'
    replace: '\1new.host.name\2'
    backup: yes

This creates the backup in same directory , this should not be the case user should have option to give backup creation path also. something like backup_path:     !!!!!!!!

!!! So that u don't create mess in current directory

[2017-07-21 06:19] kees-closed commented on #26868
Same here, also on Fedora 26.
[code]

[2017-07-21 07:04] jhawkesworth commented on #27155
It looks like it is failing because the installers are exiting with a non-zero exit code (hence the "rc": -2147418113 for officeproplus2013 and "rc": 5 for sql-server-management-studio

Its worth using search engines to see why these packages might return these non-zero exit codes.

I have encounted '5' as an exit code before and in my case it was because a dependency on a visual studio c++ runtim

[2017-07-21 07:09] deepakdnyk commented on #25495
@Qalthos I am not able to open the link you provided above. Does not seem to work.
I tried changing connection to local. Now i get below error. Any help to solve this please ?

_An exception occurred during task execution. To see the full traceback, use -vvv. The error was: KeyError: 'default'
fatal: [co147.sjc.aristanetworks.com]: FAILED! => {"failed": true, "msg": "Unexpected failure during modu

[2017-07-21 07:12] jhawkesworth commented on #27155
Here's the hotfix and VC runtime installation steps.

[code]

[2017-07-21 07:21] davidmnoriega commented on #19612
Recently just ran into needing this feature, and first tried using `os_port`, but it is unable to add a port and bring it up on a router. I can do so manually, first creating the port with `os_port`, then attaching it to the router via `openstack router add port` after bringing up a router without an interface.

[2017-07-21 07:27] trishnaguha commented on #26202
resolved_by_pr #27108

[2017-07-21 07:32] #26202 closed, assigned to trishnaguha

[2017-07-21 07:51] rcarrillocruz commented on #26577
The PR got merged.
You need to try out Ansible devel to test it out:

http://docs.ansible.com/ansible/latest/intro_installation.html#running-from-source

[2017-07-21 08:20] sysinit opened #27157 "ec2_customer_gateway should not require bgp_asn"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_customer_gateway

##### ANSIBLE VERSION
[code]
##### SUMMARY
The ec2_customer_module makes it mandatory to set bgp_asn because this is required when state=present.
state is present by default, so bgp_asn is always required.
When creating a customer gateway in the AWS Console manualy, the bgp asn is only required, when routing is set to dynam

[2017-07-21 08:35] richharp commented on #27128
There is a typo in the "Testing strings" section of this doc:
http://docs.ansible.com/ansible/latest/playbooks_tests.html
The reference to "ismount" should say "is_mount"

[2017-07-21 09:01] HanXHX opened #27158 "New module: yaml_file"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
yaml_file

##### SUMMARY
Like [ini file module](http://docs.ansible.com/ansible/latest/ini_file_module.html), it should be great to have a yaml file module.

###### Options

* `key`: YAML key (mandatory)
*  `value`: YAML value (mandatory if `state` = present)

###### Other infos
Like others files modules, it uses these options: dest/path, stat

[2017-07-21 09:04] rcarrillocruz commented on #26609
The issue here is not a bug in the ios_user module.
If you remove manually the user on the device being tested, the idempotenty test works just fine.
However, the teardown fails, that's due to 'no username <user>' prompting the user to confirm they really want to delete the user.

We will fix that when we migrate the CLI modules to network_cli, as there's scaffolding there to manage commands decla

[2017-07-21 09:28] fredericlepied commented on #27105
@abadger I have added your patch and it seems the package build is failing: http://38.145.33.116/dlrn/a5/3d/a53dabf66474822ab5e2b001c8b3ce3d44dfb2d2_d7460d19/rpmbuild.log

[2017-07-21 10:12] alexraileanu opened #27159 "Issue when importing tasks in role main.yml"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS X 10.12

##### SUMMARY

I can not seem to be able to include tasks in a main.yml file within a role. I followed the examples from the documentation, more exactly: http://docs.ansible.com/ansible/latest/playbooks_roles.html#task-include-files-and-encouraging-reuse

#

[2017-07-21 10:17] lmilbaum commented on #27155
search engines didn't help.
Trying to find a way to output chocolatey log. There used to be an attribute showlog which doesn't exists in current version. Any other way to produce the log with ansible?
Everything works just fine when running the choco install command in the command prompt (on the target machine).

[2017-07-21 10:37] alexxa opened #27160 "ignore_errors doesn't update failed task counter in a Play Recap"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - ignore_errors
 - failed_when
##### ANSIBLE VERSION

Tested on `ansible-2.3.1` and
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

1) An error message is not shown with `register` + `failed_when`, if a task fails. IMHO, it should be shown as `ignore_errors: yes` does. Compare output of Task_3 and Task_4 below. Taks_4 fail

[2017-07-21 10:53] benagricola commented on #26433
Hi @ganeshrn

Can confirm that the current devel branch does indeed fix the issue and works with the `confirm_commit` option.

[2017-07-21 10:55] abadger commented on #27105
How are you building?  If by continuous you mean you're checking out from the git repo and then you're doing a build and install, I can see how that error arises.  I just switched over to creating the SYMLINK_CACHE.json file at sdist build time so that it stays up to date if more symlinks are added.

However, that means you'd have to run python setup.py sdist if the file does not exist.  That migh

[2017-07-21 10:56] lmilbaum commented on #27155
Found a way to output the chocolatey log file. Here it is:
https://gist.github.com/lioramilbaum/792f3dc3173c26e80b6f69f8b83ed7ca

[2017-07-21 10:57] playgroundctl opened #27161 "sros_command: cannot connect on TiMOS-C-14.0.R6"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

sros_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

`sros_command` module complains about
[code]
in NOKIA devices running `TiMOS-C-14.0.R6 cpm/hops64 Nokia 7750 SR`
while it works in NOKIA devices running `TiMOS-C-12.0.R13 cpm/hops64 ALCATEL XRS 7950`

##### STEPS TO REPRODUC

[2017-07-21 10:58] aboutyou-bitbucket-mirror commented on #11905
Can't confirm that. I have a playbook, with the strings "on" and "off" and both values get transformed to True or False. Doesn't matter if the value is single quoted, double quoted, both or prefixed with !!str...

[2017-07-21 10:59] m3philis commented on #11905
Can't confirm that. I have a playbook, with the strings "on" and "off" and both values get transformed to True or False. Doesn't matter if the value is single quoted, double quoted, both or prefixed with !!str...

[2017-07-21 11:18] LuckySB commented on #27159
remove this line
tasks:

[2017-07-21 11:37] alexraileanu commented on #27159
looks like it's working. thanks @LuckySB!

[2017-07-21 11:37] #27159 closed, assigned to nobody

[2017-07-21 11:55] lclc commented on #26690
Is there a workaround for this without using devel?

[2017-07-21 11:59] oliverprater commented on #26690
The workaround I have in place is as follows:
- Login into your DockerHub Account on a node to generate the `~/.docker/config.json`
- Download the `~/.docker/config.json` onto your local machine
- Use the `copy` module for the `~/.docker/config.json` file

The playbook then runs the task:

[code]

Assumes a standard installation of Docker as root user of course ....

[2017-07-21 12:12] jhawkesworth commented on #27155
hmm, so looks like its the actual office setup.exe that is returning that exit code, chocolatey is just passing it through.

I found a  link below which suggest that the installer starts a scheduled task, so worth checking that you are installing as a user which can start scheduled task, and that the task scheduler is running.

Also I notice that chocolatey is attempting to run as privileged user,

[2017-07-21 12:25] sanjmonkey opened #27163 "NXOS scp file from server"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

NXOS SCP file from server (nxos_copy ?)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No modifications from standard

##### OS / ENVIRONMENT
Controlling NXOS devices, eg: 7.0(3)I6(1)

##### SUMMARY

It would be nice to have native support to tell NXOS hosts to go fetch files from scp servers, such as new OS images / SMU's etc.  Much in

[2017-07-21 12:38] jhawkesworth commented on #27155
Another possibility is that the setup.exe is somehow expecting an interactive user session, which you won't have when running in winrm.  It might be that there is a command line switch for the office setup.exe which would make setup.exe expect an unattended installation (and therefore not expect interactive user session).

However I'm not sure you can pass in extra arguments to the chocolatey inst

[2017-07-21 13:18] sdodson commented on #25686
CC: @mtnbikenc

[2017-07-21 13:46] funkyfuture commented on #22382
we would use this feature to include the necessary private key in a git repository that is shared among the team. hence, getting someone ready to use it would require one step less.

[2017-07-21 14:02] dericcrago commented on #14641
Hi @bcoca, I think I may be conflating issues. The problem I'm experiencing isn't that they're undefined, I'm expecting that, it's that the `when`s behave differently between versions. The task with `when: ansible_local.foo.bar is undefined` runs on ansible 2.2.1.0, but not on later versions. I think I could get around this by building up the when, `when: ansible_local is undefined or ansible_loca

[2017-07-21 14:14] bcoca commented on #20346
planned yes, ... does not mean we have a date or its on the schedule anytime soon for us to do.

It is also open to someone contributing it if they cannot wait for us to get around to it.

[2017-07-21 14:20] bcoca commented on #27151
that is overriding the class wide _dump_results for some reason, cc @jpic as author of plugin

[2017-07-21 14:39] NBardelot commented on #26995
Some tests i ran: one is using a server on our test infrastructure, the other one is using a server on our production infrastructure (both use a Spacewalk server for mirrors of the official RedHat RPM repositories, each server corresponding to one infrastructure only).

    (...)
    Cleaning up everything

    real    0m0.224s
    user    0m0.160s
    sys     0m0.059s

    ---

    (...)
    Noth

[2017-07-21 14:42] NBardelot commented on #26995
I thought it might be an Ansible issue, but the more I test it, the more I feel there might be an issue with our production infrastructure's Spacewalk server configuration (which is our IaaS provider responsability, thus I won't have much information :\ ).

[2017-07-21 14:52] westsouthnight commented on #16004
@bcoca @jctanner @nitzmahone  somebody please fix that

[2017-07-21 14:56] itdependsnetworks commented on #26809
The link for this is broken for the last (    https://docs.ansible.com/ansible/network_debug_troubleshooting.html#unable-to-open-shell ) day. Which highlights the reason this should be a priority.

[2017-07-21 15:10] calfonso commented on #27161
@nskalis would you mind providing the output logging with -vvvv so we can see the details.

[2017-07-21 15:18] calfonso commented on #27139
@rahushen What version of nxos does your 3k run?

needs_info

[2017-07-21 15:32] #27118 closed, assigned to nobody

[2017-07-21 15:36] #14378 closed, assigned to nobody

[2017-07-21 15:38] rockpenguin commented on #20387
I banged my head for over an hour before I found this issue :-) I did the same thing:

[code]
and got the same error message: "with_dict expects a dict". I'm on Ansible 2.3.1.0 (Mac).  Once I placed it inline `with_dict: "{{ hardened_keywords }}"` as suggested by @nbraud it worked like a charm.

The [documentation ](http://docs.ansible.com/ansible/latest/playbooks_loops.html#looping-over-hashes) r

[2017-07-21 15:53] calfonso commented on #25892
@vnitinv Can you test this with our devel branch and let us know if it's still an issue?

[2017-07-21 15:55] #27016 closed, assigned to nobody

[2017-07-21 16:05] alexxa opened #27165 "There are two doc pages about error handlers which don't refer to each other"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

There are two separate doc pages:

1.  [Error Handling In Playbooks ](http://docs.ansible.com/ansible/latest/playbooks_error_handling.html)
https://github.com/ansible/ansible/blob/stable-2.3/docs/docsite/rst/playbooks_error_handling.rst
2.  Blo

[2017-07-21 16:12] ruimcfreitas opened #27166 "group_vars/all.yml variables not available"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible on CentOS 7
managed nodes with windows 2016

##### SUMMARY

Variables from group_vars/all.yml cannot be referenced in a playbook
Since all variables belong to all groups, shouldn't they be available at the start of play execution ?

##### STEPS TO REPRODUCE

[c

[2017-07-21 16:12] #25696 closed, assigned to nobody

[2017-07-21 16:21] bcoca commented on #16004
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is not how inventory works. The vars are ALWAYS flattened (merged/overwritten) to the host, host var inheritance is set in invento

[2017-07-21 16:33] #25417 closed, assigned to nobody

[2017-07-21 16:34] 600833 commented on #25417
We use other method to manage iscsi devices now.
We close this issue.

[2017-07-21 16:37] s-hertel commented on #27165
/cc @dharmabumstead

[2017-07-21 16:40] ericx commented on #16017
It is worth noting that using ansible 2.3.1.0 and paramiko 2.0.5 will still fail if an elliptical key is used (e.g. ed25519). My workflow has ssh-agent forwarding both an elliptical and an RSA (ciscos won't accept elliptical either). paramiko simply halts with "paramiko.hostkeys Unable to handle key of type ssh-ed25519" when it touches the elliptical key. There is a 3-year-old open paramiko ticket

[2017-07-21 16:41] lite31 commented on #27161
@calfonso sure, but what exactly do you mean ? the task output pasted in `actual results` is using `-vvvv`

strangely enough from another server of mine it seems to work, so the issue is with the environment (i think..)
the details from the server that works are:
[code]

[2017-07-21 16:45] newswangerd commented on #27136
adding PARAMIKO_HOST_KEY_AUTO_ADD=true doesn't as suggested by [this commit](https://github.com/ansible/ansible/pull/18598/commits/aac1d8ea3d7fd7caca127d7c5a999fad2ffe669f) doesn't seen to work.

`PARAMIKO_HOST_KEY_AUTO_ADD=true ansible-playbook -i inventory.network -u vyos -k vyos.yaml -e limit_to=vyos_command`

[code]

[2017-07-21 16:51] newswangerd commented on #27136
Possible solutions for this:
* Fix PARAMIKO_HOST_KEY_AUTO_ADD and add it to the docs so that people know it exists
* Improve error reporting for the "unable to open shell" error with more precise error messages for:
  * invalid credentials
  * the host isn't in known hosts
  * the host is unreachable
  * Ansible can't enter config mode on the device

[2017-07-21 17:01] calfonso commented on #27161
@nskalis thanks for the follow up. Now that you feel it's an environment configuration issue, would you care to close the issue?

[2017-07-21 17:09] mikewiebe opened #27167 "(P1) nxos_interface_ospf not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_interface_ospf

##### NXOS VERSION
7.3(0)I6(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The `nxos_interface_ospf` module is not idempotent.

Failure occurs for both `cli` and `nxapi` transports.

[code]
##### STEPS TO REPRODUCE

[code]

[2017-07-21 17:11] saichint opened #27168 "nxos_rollback fails for nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_rollback

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus9000 C9396PX running 7.0(3)I7(1)

##### SUMMARY
When we run nxos_rollback playbook with {{ nxapi }} as provider, it fails. cli transport is fine.

##### STEPS TO REPRODUCE
playbook:

[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RE

[2017-07-21 17:13] mikewiebe commented on #27167
Idempotency problem exists across nxos platforms and releases.
[code]

[2017-07-21 17:14] #25651 closed, assigned to nobody

[2017-07-21 17:25] davidmnoriega commented on #19612
Looking through the module code, looks like it assumes one would only ever add a subnet, and thus be the default gateway for it. https://github.com/ansible/ansible/blob/b89cb956092e6f28d16010dc887ee2dc46e7855b/lib/ansible/modules/cloud/openstack/os_router.py#L364

The shade library `add_router_interface` function lets you add not just a subnet, but an individual port as well. It would be a great n

[2017-07-21 17:31] jamclean commented on #1476
Why not just make 3 similarly named functions? It would simplify confusion if it could be done that way. Then you would cover the skip gamut.

1. Skip -n tasks
2. Skip all remaining tasks
3. Skip role

[2017-07-21 17:46] mikewiebe opened #27170 "(P1) Attempting to set ipv6 interface errors out for nxos_ip_interface module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_ip_interface

##### NXOS VERSION
7.3(0)I5(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
Attempt to set the ipv6 address using the `nxos_ip_interface` module.  The module errors out.

Failure occurs for both `cli` and `nxapi` transports.

[code]
##### STEPS TO REPRODUCE

[code]

[2017-07-21 18:22] mikewiebe opened #27172 "(P2) nxos_ip_interface is not idempotent on specific nxos image versions"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_ip_interface

##### NXOS VERSION
7.0(3)I2(5) and 7.0(3)F1(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook is idempotent on most nxos image versions but not on version `7.0(3)I2(5) ` and `7.0(3)F1(1)`

[code]

[code]

[2017-07-21 18:53] tima commented on #27124
Is `assertion` in the return when it fails?

[code]

That module's docs probably needs some clarification that the `msg` is an error/failure message since it doesn't get displayed on success. It would be more helpful if the value of `assertion` could be used in the `msg`. Also noticed in testing this that only the first assertion that failed is listed even with `ignore_errors: yes`.

[2017-07-21 18:54] Jmainguy commented on #19820
Please see https://github.com/ansible/ansible/pull/27174 for splitting the module into two separate  modules. Discussion on the split should happen there.

[2017-07-21 19:02] JoelFeiner commented on #27124
When I'm writing these, I write follow-up assertions that assume the earlier ones succeeded. Multiple failure messages would not be useful to me. But whatever way it works, it should be documented.

That is what I see when it fails.

[2017-07-21 19:04] abadger commented on #27105
@fredericlepied Okay, pushed what I hope is a fix for invoking setup.py build or setup.py install directly from a git checkout.  Give it another try in your CI system.

[2017-07-21 19:09] bcoca commented on #27124
I woudl also check the `fail` module just to make sure they are congruent

[2017-07-21 19:10] bcoca commented on #27124
this gets rid of the extra 'status' entries that now appear in 2.4 https://github.com/ansible/ansible/pull/27175

[2017-07-21 19:11] eugenewrayburn opened #27176 "Add to vmware_guest module, ability to clone from existing guest"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Add to vmware_guest module, Clone to Virtual Machine task

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Need to automate creating of New Virtual Machine on VSphere by clone existing Virtual Machine.  Customize the operating systems using an existing specification.  Enter new VM IP address and nam

[2017-07-21 19:13] eugenewrayburn commented on #27176
The likely corresponds to the [CloneVM_Task](http://pubs.vmware.com/vsphere-50/topic/com.vmware.wssdk.apiref.doc_50/vim.VirtualMachine.html#clone) in the API.

[2017-07-21 19:17] bcoca commented on #27124
@tima if you want multiple assertions to be tested you would use a loop, then you always get the complete report

[2017-07-21 19:22] bcoca commented on #14958
@Vladimir-csp offtopic, you are better off going to the maling lists or irc, in any case this is
expected extra vars override `ansible_host` for EVERYTHING in the play, included delegated hosts

[2017-07-21 19:30] thaumos commented on #27176
@eugenewrayburn,

We're actually asking for features like this to be added to the vmware_* modules.  The vsphere_* modules are deprecated.

[2017-07-21 19:35] eugenewrayburn commented on #27176
@thaumos
Thanks, I updated the module name to vmware_guest

[2017-07-21 19:39] bcoca commented on #14958
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2017-07-21 19:39] #14958 closed, assigned to nobody

[2017-07-21 19:46] lite31 commented on #27161
well, since the os version is the same, the python version is the same, the ansible version is the same, i am really curious why it fails ..

[2017-07-21 19:57] rahushen opened #27177 "(P1)nxos_aaa_server_host: MEGA issue list"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_aaa_server_host

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

Several issues
- simple play with only server_type and address set is not idempotent.
- simple play with only server_type and address set can't be removed (i.e state absent).
- play with encrypt type 0 is not idempotent
- nxapi transport

[2017-07-21 20:01] muratdx commented on #20196
Any chance we can get the fix into the 2.3 series as well?

[2017-07-21 20:12] mokevnin commented on #25856
hi @bcoca, the problem still exists.

[code]

and run:

[code]

[2017-07-21 20:14] pgrenaud opened #27179 "Add plugin as parameter for mysql_user, to allow use of auth_socket plugin"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

`mysql_user`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration

##### OS / ENVIRONMENT

N/A

##### SUMMARY

From the MySQL 5.7 what's new page:

On a fresh installation of MySQL 5.7 the `root` user for host `localhost` is now configured with a plugin value of `auth_socket`. This prevents users other then root to connect

[2017-07-21 20:27] bcoca commented on #27160
1. not a bug, `failed_when` decides if a task is failed or not, it sets the status so that task is NOT failed.

2. bug, ignore_errors should still count as failed task ... or at least an 'ignored' counter as you mention.

[2017-07-21 20:28] tedder commented on #25856
@mokevnin what version of Ansible, and please give a LOT more debugging info.

[2017-07-21 21:10] mokevnin commented on #25856
[code]

[code]

[2017-07-21 21:12] JoelFeiner commented on #27124
@bcoca: it's not clear that the changes in #27175 would be enough to reduce output (if I'm reading it right). It will still show something like:
[code]

In the case of using a loop, it would also show things like this, where the output is even more unnecessarily verbose and does not match, e.g., the `fail` module:
[code]

[2017-07-21 21:17] yellowmegaman opened #27180 "Intersection of two lists behaves incorrectly (jinja)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
jinja/templating

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default one
`https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg`

##### OS / ENVIRONMENT
debian stretch

##### SUMMARY
intersect of two lists behaves incorrectly

##### STEPS TO REPRODUCE
ansible-playbook -i hosts bug.yml -e 'servers=som1,som2222'

####

[2017-07-21 21:19] saichint opened #27181 "(P1) nxos_user fails for nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_user
nxos_vtp_password

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus9000 C9396PX running 7.0(3)I7(1)

##### SUMMARY
When we run nxos_user playbook with {{ nxapi }} as provider, it fails. cli transport is fine.
It is happening with nxos_vtp_password as well for {{ nxapi }}. Error message is

[2017-07-21 21:34] tima commented on #27124
@bcoca: It's not so much as what I want as much as I'm trying to resolve how it works to how its documented and how it is seems to be used. I find this area of ansible still too "raw" and could be made easier to get things done faster.

Why make `that` a list if I'm supposed to use a loop to test a bunch of things? In the event you want to do a series of related _cascading_ assertions. If that is

[2017-07-21 21:37] trstringer commented on #22686
Thank you for providing that information! Unfortunately my core Ansible knowledge on how it handles these parameters is falling short here. @nitzmahone, can you assist here?

[2017-07-21 21:39] thaumos commented on #26995
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * As @abadger mentioned, there's only so much that can be done with yum and it's performance.  Also, as you have deduced, it might be something going on with your Server side.

As such, we're

[2017-07-21 21:39] #26995 closed, assigned to nobody

[2017-07-21 21:54] yellowmegaman commented on #27180
ok i think i've nailed it. Problem was in ','

Working version:
[code]

My assumption that ansible treats everything comma-separated as a iterable list was erroneous.

[2017-07-21 21:57] #27180 closed, assigned to nobody

[2017-07-21 22:10] saichint opened #27182 "nxos_vtp fails during get_vtp_config()"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
nxos_vtp_password

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus9000 C9396PX running 7.0(3)I7(1)

##### SUMMARY
When we run playbook on "nxos_vtp_password", it fails during get_vtp_config() method. The same problem is occuring during "nxos_vtp_domain" and

[2017-07-21 22:22] #26811 closed, assigned to samdoran

[2017-07-21 23:58] bcoca commented on #27124
@JoelFeiner not a fix for this, but it does remove some of the noise

@tima, not saying its ideal but it is how it currently works, but you can control the output a bit better:

[code]

which results in:

[code]

[2017-07-22 00:12] bcoca commented on #14361
closing as this was an issue of rebooting while still having connection persistence, using paramiko or disabling control persist or using `meta: reset_connection` all avoid this.

[2017-07-22 00:12] #14361 closed, assigned to nobody

[2017-07-22 02:21] 30ThreeDegrees commented on #21468
I had the same issue on Ubuntu 16.04 Xenial here is what I found the issue was.

**Initial output**

[code]

## **Answer**

**Run**
`apt-get install python -y`

**Output**
[code]

and the issue is resolved.

[2017-07-22 08:27] rsimonfr opened #27187 "ovirt_templates: when state is imported support cloning and so giving a new name to template"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ovirt-templates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Rhel 7
##### SUMMARY

When importing a template it is not possible to change the name of the imported template as it can be done via the web interface with cloning option
##### STEPS TO REPRODUCE

Syntax could be something like this:

[code]

[code]

[2017-07-22 15:01] abadger commented on #21468
Note, this issue was opened because of a report that setting ansible_python_interpreter=/usr/bin/python3 wasn't causing ansible to use /usr/bin/python3 as the interpreter.  For your use case, you could have tried:

[code]

which should have worked as well.  (ansible_python_interpreter is probably best set in inventory like:

[code]

[2017-07-22 15:05] abadger commented on #26952
Tagging this networking as ios_config is a networking module.   networing modules are typically run on the controller and then establish a secondary ssh connection to the network device so that could be where this is getting confused.

[2017-07-22 15:30] The-Wabbit commented on #26322
With the current version it is possible to get both sha1 and bcrypt hashes.

To generate a sha1 hash:
[code]

To get blowfish to work, you need to have passlib installed and specify a 22 character salt like this:
[code]
If you don't specify a salt, password_hash will fail as the generated salt is too short (16 chars). Also the documentation is not correct in using blowfish.

I wanted to fix all of

[2017-07-22 15:57] gilcot commented on #1780
I have the same issue with a recent version on _Debian 7_ box

Here is the playbook to reproduce:
[code]
Now, first try `ansible-playbook issue1780.yml` (or the name you've gaven to the file) and everything should be fine.
Next, try `ansible-playbook issue1780.yml --skip-tags=step1` and notice that first step variables are prompted but tasks for that play are skiped.
The obvious understand is that

[2017-07-23 01:59] missnebun commented on #25660
@Nosmoht , Do you need any more info from me ?

Regards,
Gabriel

[2017-07-23 04:59] xalkina opened #27200 "How deep is "defined""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Conditionals

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Have discovered this with Ubuntu 17.04 managing Centos 7.3.
Reproduced for this report with Ubuntu 17.04 targeting itself.

##### SUMMARY
is defined works as expected when the variable it is used against is not defined.
However, when the variable exists, b

[2017-07-23 05:00] xalkina commented on #27200
The test-case files.

[2017-07-23 05:12] #19741 closed, assigned to nobody

[2017-07-23 07:48] Tekki commented on #26543
I'm fighting with wait_for since a long time. @jharting, are you sure the task breaks at gather_facts? I know it's from the example, but doesn't ansible_ssh_host (a deprecated variable name, by the way) called under local_action contain 'localhost'? This would mean we are waiting for localhost:22 instead of the_remote_host:22. I came to this idea because I have some servers with ssh on exotic port

[2017-07-23 08:19] Akasurde commented on #24835
@gundalow We can close this as PR 26040 is merged.

[2017-07-23 08:51] trondhindenes opened #27203 "ec2_group does not allow referencing "self""
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION
[code]

##### SUMMARY
In AWS, a security group can reference "itself", which is incredibly powerful. ec2_group does not support this. It would be great if it was possible to use the special keyword "self" or similar to reference the group itself when configuring rules, something like:
[code]

[2017-07-23 10:46] trondhindenes opened #27206 "win_copy in "folder mode" with remote_src does not exclude parent directory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_copy

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Control node: Ubuntu 16
Target node: Windows Server 2016

##### SUMMARY
The documentation states that if the "src" parameter ends with a "/", then the contents of the directory is copied, not the directory itself. However, when using this together with "remote_src" the module seems t

[2017-07-23 10:52] trondhindenes commented on #27206
Looking at the code, I can't see any special logic to separate between cases where only the folder _contents_ is to be copied vs copying the folder itself. This should probably be handled inside copy_folder.

[2017-07-23 12:08] pjmcquade commented on #13742
I'd like to add my voice to this request to.   That said, it begs the question: What does Ansible Tower use to check out files via git to it's internal SCM?

What I mean by that is, when I check out projects containing binary files i.e. in the 'roles/<rolename>/files directory managed with GIT LFS, it only checks out the reference pointer.  I.e. instead of checking out a binary file 'binfile' that

[2017-07-23 12:58] trondhindenes opened #27208 "win_service doesn't start if the service is "paused""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_service

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Target node: Windows 2016 (not verified on 2012r2)

##### SUMMARY
If a service has state "paused", win_service will not start it even if state=started is set. This is likely because a paused service first has to be stopped before it can be started.

[2017-07-23 13:48] akskos commented on #26868
I'm having similar problem after upgrading to Fedora 26

[code]

[2017-07-23 15:05] Dmitriusan opened #27210 "yaml error has misleading suggestion to fix escaping issue when mixing key=value args and yaml dict args"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lineinfile
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Linux Mint

##### SUMMARY
Error message suggests to fix escaping. Actually, the problem is that some command parameters are provided in a short form, and some are provided as dictionary

##### STEPS TO REPRODUCE
Just run the task provided

[code]

####

[2017-07-23 16:01] souravsingh opened #27211 "Ansible recipe for Anaconda"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Anaconda recipe for Ansible

##### ANSIBLE VERSION

[code]

##### SUMMARY
I am looking to add a conda recipe for ansible here-https://github.com/conda-forge/staged-recipes/pull/3353

I would appreciate any feedback on the patch.

[2017-07-23 17:41] apestov commented on #25802
@resmo Thank you for the update.  I've tried the branch, but the `Step 3`  is still marked as changed.  Is it expected?

`TASK [Step 3] *****************************************************************************************************************************
changed: [localhost] => {"changed": true, "failed": false, "msg": "", "rc": 0, "results": ["Loaded plugins: fastestmirror\nSetting up Inst

[2017-07-23 18:35] pjmcquade commented on #13742
I think I discovered a workaround....at least a workaround that worked for me.   The Tower account is called 'awx' and that's the account used to run playbooks on the local machine.   I imagine you'd all do the same for whatever account you were invoking your playbook as *OR* if you are using the git module run as another user, do the same:

[code]

That creates the "LFS" hook.   You would do this

[2017-07-23 22:20] dagwieers commented on #26898
needs_contributor

[2017-07-23 22:36] zerkms opened #27214 "Random module documentation/implementation is incorrect about `end`"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

core
filters

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

[Documentation says](http://docs.ansible.com/ansible/latest/playbooks_filters.html):

[code]

while the `random` filter is implemented as

[code]

which means that the `end` is exclusive.

Either documentation s

[2017-07-23 22:53] jborean93 commented on #27208
@trondhindenes I've raised a PR to fix this here https://github.com/ansible/ansible/pull/27216. Are you able to test it out and see how it goes? It doesn't support going from a stopped state to paused as you cannot determine if the service is pausable until it is started.

[2017-07-24 03:52] #26237 closed, assigned to nobody

[2017-07-24 05:04] owlmind commented on #24638
I have this issue. Are there any solutions?

[2017-07-24 08:09] jharting commented on #26543
The problem went away after I upgraded my host machine to newer Fedora version. Disabling gather_facts for the after-reboot play really worked as a reliable workaround. `ansible_ssh_host` seems to work fine (proper IP and waits the right amount of time) even with `local_action`.

[2017-07-24 08:41] Amruthapv opened #27220 "netapp-lib required error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
netapp-lib

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
host_key_checking=false

##### OS / ENVIRONMENT
Ansible is running ubuntu 14.04. And trying to create a vserver on netapp ontapp cluster

##### SUMMARY
On running the playbook that uses the netapp storage modules (ex: na_cdot_svm) I get "python netapp-lib required" error.
Infact I ha

[2017-07-24 08:53] Tekki commented on #26543
I'll have to check it on a new system. Currently I work on Debian 8 (Ansible 2.3.1.0), so I'll try on Debian 9.

You can read about the variable names at http://docs.ansible.com/ansible/latest/intro_inventory.html#list-of-behavioral-inventory-parameters

I reboot my servers after a kernel upgrade. At the moment I have the situation that the following simple playbook fails with "Timeout when waitin

[2017-07-24 09:35] 2k0ri opened #27222 "regex_replace filter doesn't work inside lookup('template')"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- `template` lookup plugin
- `regex_replace` filter
- any other non-jinja2 native filters

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.3
macOS 10.12.5

##### SUMMARY

`regexp_replace` filter works in template with `template` module, but doesn't work inside `lookup('template')` module.
It seems t

[2017-07-24 10:08] KroArtem commented on #27206
We had the same issue with the same use-case and Ansible 2.3.x version.

[2017-07-24 10:13] ganeshrn commented on #27083
@fwissue Is this an intermittent issue or can be reproduced always?
Did you try the troubleshooting steps documented in the URL that is given in error message?
http://docs.ansible.com/ansible/latest/network_debug_troubleshooting.html#category-unable-to-open-shell

[2017-07-24 10:41] mnarusze opened #27224 "Allow for with_first_found in playbooks"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A

##### SUMMARY
Playbooks cannot use `with_first_found`. My use case wants to remove a component using included variables. The variables can be defined in one of two places: generic .yml which is always there and .yml.local, which represents an opti

[2017-07-24 10:57] mnarusze opened #27225 "Unnecessary warning about using a jinja2 template when testing if a variable is defined"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`when`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

For all our roles, we require that the first task checks if all required variables are defined and if they are not empty. The check uses `{{ item }}` in `when` to get the value of every variable. It works as expected, but the output i

[2017-07-24 11:21] akamac commented on #23940
@activars @jhawkesworth Any way to work around the issue in 2.3.1 release? win_copy module fails for me with the same error.

[2017-07-24 11:58] jhawkesworth commented on #23940
@akamac - likely the simplest thing to do would be install a 2.7.x python and configure ansible to use that.  Either that or run from source, see below

[2017-07-24 11:59] jhawkesworth commented on #23940
It is fairly easy to have a 'from source' ansible version side-by-side with a released version.  The main thing to remember is you need to run
 `source hacking/env-setup`

from the root of the source tree in order to use devel version of ansible.

You can always check which version you are running by running `ansible --version`.

As time passes you can keep up to date with the latest changes in de

[2017-07-24 12:11] jan-xyz opened #27229 "NFTables module"
#### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- nftables

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
- standard

##### OS / ENVIRONMENT
- macOS Sierra

##### SUMMARY
Seeing that Debian moved to nftables in version 9 (Stretch) and others will probably follow. Is there any plan on the roadmap to support the new netfilter tool?

[2017-07-24 12:12] volodymyrrudyi commented on #19276
+1

[2017-07-24 12:25] Akasurde commented on #27220
@Amruthapv What is output of following commands

[code]

[2017-07-24 12:26] fredericlepied commented on #27105
@abadger it works. I was testing the wrong way on the previous run.

[2017-07-24 12:40] cyrilsebastian commented on #26739
I tried asking the same in the group, but I didn't get any response. By any chance, can you please share links which can be useful. Thanks.

[2017-07-24 12:40] aioue opened #27232 "s3_bucket does not support check mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

s3_bucket

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

s3_bucket module does not support check mode, making safe 'dry-run' testing impossible.

##### STEPS TO REPRODUCE

Run any destructive change task using the `s3_bucket` module, using the `--check` command line switch, or `check_mode: yes` ta

[2017-07-24 12:42] es1o opened #27233 "Module maven_artifact can't download artifact from nexus repository."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
maven_artifact module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
RHEL 7.3

##### SUMMARY
Module maven_artifact can't download artifact when maven-medadata.xml file doesn't contain "timestamp" field and artifact version ending on "SNAPSHOT"

##### STEPS TO REPRODUCE
Try download some module with version, e.g. 1.0.0-SNAPSHOT from maven

[2017-07-24 12:43] Amruthapv commented on #27220
@Akasurde  for the command:python -c "from netapp_lib.api.zapi import zapi" && echo $?
output:
[code]

for commnad: python -c "from netapp_lib.api.zapi import zapi" && echo $?
output:
[code]

[2017-07-24 12:44] Amruthapv commented on #27220
@Akasurde  ok so i have to install that pkg..Thanks!..i saw those lines in the pythone code but was not aware of these commands.

[2017-07-24 12:54] Amruthapv commented on #27220
@Akasurde  can you also tell me the path where these pkg has to be installed?

[2017-07-24 12:55] bcoca commented on #27229
Nothing on roadmap, but all current firewall modules were community driven.

[2017-07-24 12:56] #27128 closed, assigned to nobody

[2017-07-24 13:02] bcoca commented on #27224
plays cannot use loops, that does not mean you cannot use the 'first_found' lookup.
[code]

yet this is redundant as `vars_files` already has this built in:
[code]

closing this as 'already works'.

[2017-07-24 13:02] #27224 closed, assigned to nobody

[2017-07-24 13:22] bcoca commented on #26857
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

You cannot chain methods, this is explained in docs:
http://docs.ansible.com/ansible/latest/become.html#only-one-method-may-be-enabled-

[2017-07-24 13:22] #26857 closed, assigned to nobody

[2017-07-24 13:39] #14634 closed, assigned to nobody

[2017-07-24 13:40] TomTucka commented on #18987
Also getting this on version 2.3.1.0....

Tried using @MarcinOrlowski solution but that hasn't worked for me and produces a huge error message

https://pastebin.com/Q9JHXX0y  <-- Yeah It's that big!!

[2017-07-24 13:40] mnarusze commented on #27224
Thanks for a quick response.

I tested both suggestions - the first one works but the second one includes all vars files from the list instead of just the first found. Should I submit a bug for this?

As a side note, I would have never thought of the first idea with the current documentation. `first_found` is not even mentioned in the [Lookups page](http://docs.ansible.com/ansible/latest/playbooks

[2017-07-24 14:21] akamac commented on #23940
@jhawkesworth Thanks! Looks like dev version has the same issue. If I run ansible from 2.7 venv, I get: ` UNREACHABLE! => {"changed": false, "msg": "kerberos: 'module' object has no attribute 'util', plaintext: 'module' object has no attribute 'util'", "unreachable": true}`

[2017-07-24 14:29] Akasurde commented on #27220
@Amruthapv You need to install `lxml`, `oslo_log` and `netapp_lib` using `pip`

On Linux system(CentOS or Fedora) path is `/usr/lib/python2.7/site-packages/`, also depending upon your Python Version, Virtualenv environment path may change.

[2017-07-24 14:35] alikins commented on #26091
Is the support available via the vault-keyring.py password script sufficient?

If not, what additional functionality is needed?

[2017-07-24 14:40] JeremJR opened #27237 "issue with handlers notification and Jinja2 default value in run_once"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY
The behavior of handlers notification is inconsistent if we add a role with run_once parameter using default value for undefined variables.

##### STEPS TO REPRODUCE

./test-inventory
[code]

./roles/test-role/tasks/main.yml
[code]
./role

[2017-07-24 14:43] johnscancella commented on #26091
it is sufficient, but feels like a hack. Why do I need to specify a script that then asks the keychain? Why can't that be built in?

[2017-07-24 14:47] jhawkesworth commented on #23940
@akamac I have no experience of running from a venv - is a side-by-side install of python27 with existing python3 a possibility for you, just to rule out potential for issues under a venv?

[2017-07-24 14:53] alikins commented on #26190
This might be something that will get covered in https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_4.rst#id25

As a user, what would you expect the decrypted file to look like?

First thought is just to replace the !vault yaml scalar with the decrypted text. That probably makes the most sense for 'view'.

For 'decrypt' and especially 'edit', I'm not sure that will be

[2017-07-24 14:53] bcoca commented on #27237
For jinja2 filters you might want to use False as false can end up being interpreted as a string, when using it directly in YAML it will be interpreted as a boolean though.

[2017-07-24 15:02] ykyuen commented on #25291
@kassiansun currently i am using `docker-py 1.10.6`. I would like to know if the ansible docker module works well with `docker-py 2.x.x`?

[2017-07-24 15:02] JeremJR commented on #27237
@bcoca thank for your feedback
the issue still occurs with `    - { role: test-role, run_once: "{{ testvar | default(False) }}" }`
[code]

[2017-07-24 15:12] alikins commented on #26091
Mostly to isolate the keychain support so the main app doesnt have hard requirements on the various deps needed to implement keyring support (the deps required by the python 'keyring' module).

There is a config option to specify DEFAULT_VAULT_PASSWORD_FILE to configure it for your environment:

[code]

[2017-07-24 15:34] nitzmahone commented on #22686
Just fixing this issue in the existing code is a one-line fix, but there's a new 2.4 feature that should let us fix it "properly" by deleting a bunch of validation code. More to come...

[2017-07-24 15:37] VojtechMyslivec opened #27240 "Add rc and stdout/stderr to lxc_container return values"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lxc_container module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No configuration options effects desired behaviour.

##### OS / ENVIRONMENT
Running on GNU/Linux Debian, controling Ubuntu.

##### SUMMARY
Module `lxc_container` should set the `stdout`, `stderr`, `rc` and other values as the `command`, `shell` and other modules. This func

[2017-07-24 15:44] tyler-8 opened #27242 "ios_facts: 'show interfaces' gives different output from 'show ipv6 interfaces'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

- RHEL 7
- Cisco IOS Software, C2951 Software (C2951-UNIVERSALK9-M), Version 15.4(3)M3, RELEASE SOFTWARE (fc2)
##### SUMMARY

ios_facts fails on a VoIP interface when doing a fact-gather of all subsets.

The problem appears to be because `parse_interfaces` d

[2017-07-24 15:50] sfloresk opened #27243 "netconf-config.py should support allow_agent and look_for_keys options"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
lib/ansible/modules/network/netconf/netconf_config.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
hostfile=./hosts
host_key_checking = false
gathering = smart
pipelining = true
retry_files_enabled = false

##### OS / ENVIRONMENT

Linux - Mac

##### SUMMARY

There are netconf servers that will give authentication error unde

[2017-07-24 15:51] abcfy2 commented on #24464
Same issue here. Please fix this issue.

[2017-07-24 15:53] abadger opened #27244 "Implementation of become in play_context doesn't use Become mixin"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME
lib/ansible/playbook/play_context.py
lib/ansible/playbook/become.py

##### ANSIBLE VERSION

[code]

##### SUMMARY
PlayContext defined its own become attributes: https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/play_context.py#L194

but we have a Become mixin which does that: https://github.com/ansible/ansible/b

[2017-07-24 15:56] alikins commented on #27166
ping @jimi-c @bcoca

[2017-07-24 16:09] bcoca commented on #27166
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

All groups in an inventory are flattened to the host, this happens independently of what is referenced in `hosts:`, as such vars in the

[2017-07-24 16:09] #27166 closed, assigned to nobody

[2017-07-24 16:11] alikins commented on #27200
@xalkina Doesn't look like any test cases were attached or referenced?

[2017-07-24 16:16] alikins commented on #27211
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-07-24 16:16] #27211 closed, assigned to nobody

[2017-07-24 16:19] #23861 closed, assigned to nobody

[2017-07-24 16:22] alikins commented on #27220
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-07-24 16:22] #27220 closed, assigned to nobody

[2017-07-24 16:25] #27105 closed, assigned to nobody

[2017-07-24 16:33] alikins commented on #27225
Try:

[code]

or

[code]

The {{}}'s aren't needed for conditionals.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-07-24 16:33] #27225 closed, assigned to nobody

[2017-07-24 16:42] alikins commented on #27233
@es1o could you provide an example output at '-vvv' verbose level for a an example that fails?

[2017-07-24 16:52] fwissue commented on #27083
@ganeshrn:

If you read the detail bug report, Here is the message
 "msg": "provider socket does not exist, is the provider running?"

[2017-07-24 17:01] j1n6 commented on #23940
2.3.1 isn't going to be compatible on windows, there are two issues I'm aware of:
 - python3 compatibility
 - pycrypto is an old dependency that cannot be installed on windows

I'm not sure how many other issues could be discovered.

You can also try develop branch, but that's too much hassle for a user with busy timetable :)

I suggest ansible team should run some sort of matrix test to find out

[2017-07-24 17:24] Akasurde commented on #27220
@alikins Thanks for pointing this out. Cool.

[2017-07-24 17:25] WilliamDutton opened #27247 "iam module does not support deleting user with mfa activated"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/amazon/iam.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Cannot delete a user who has MFA activated.

##### STEPS TO REPRODUCE
Create an AWS IAM user, activate MFA for that user, then try to delete the user.

[code]

##### EXPECTED RESULTS
The user should have been deleted

##### ACTUAL RES

[2017-07-24 18:11] zihanzheng commented on #23990
@Sean-Brown Hi Sean, did you finally get the ps script running on nano servers?

[2017-07-24 18:29] sebLopezCot opened #27248 "win_scheduled_task: start task at system startup"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_scheduled_task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running control machine on Ubuntu 16.04 managing Windows Server 2016.

##### SUMMARY

I would simply like the ability to create a scheduled task in Windows to run at system startup.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

#####