[2018-12-24 07:48] Alex-Bron opened #50288 "Zypper update only when package is installed"
##### SUMMARY
Zypper module can install and uninstall packages, needs to be able to update only when the package is installed.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
zypper

##### ADDITIONAL INFORMATION
I need zypper to update a package only when it is present on the server, and to not install the package when it is not present. In my openstack environment I need to update e.g. the

[2018-12-24 08:31] zikalino commented on #49771
@Fred-sun I think this is already fixed in devel branch

[2018-12-24 08:38] Fred-sun commented on #49771
@zikalino Thanks for your reply, I will try and update the test result at here. Thanks!

[2018-12-24 09:11] Fred-sun commented on #49771
@nomadcz Thanks for your contribution, It has been fixed on devel ansible version. You can try to upgrade ansible to try, command: "sudo pip install git+https://github.com/ansible/ansible.git@devel". Thanks!

[2018-12-24 09:11] Fred-sun commented on #46440
@andsmit9   Thanks for your contribution, It has been fixed on devel ansible version. You can try to upgrade ansible to try, command: "sudo pip install git+https://github.com/ansible/ansible.git@devel". Thanks!

[2018-12-24 09:13] achals2 commented on #47632
Hi Trishna, Thanks for sharing, its working fine for me on Nexus 9K and tested

[2018-12-24 09:52] sbulage commented on #35764
@Akasurde  I am on it.

[2018-12-24 09:53] tmshn commented on #42197
Hi @photoninger, thank you for the report and sorry for the late reply!

IMO, the problems you reported should be fixed separately; RHEL6 one and SLES11 one. As a first step, I fixed the former one in #50289.
Could you check that out?

[2018-12-24 10:10] yojesh opened #50291 "Unsupported parameters for (dynamodb_table) module: SSEDescription"
[code]
Why this code is not adding kms to the table while creating it ?

[2018-12-24 10:24] yojesh opened #50292 "kms on dynamodb table"
##### SUMMARY
Existing Dynamodb module lacks lot of feature what AWS provides at this point. We need support for following features:

 1.   Create  tables and Enable encryption at rest

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Encryption at rest (SSE)

##### ANSIBLE VERSION
ansible 2.7.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ubuntu/.ansib

[2018-12-24 10:42] amithrh commented on #35110
@all , i am using boto 2.48 and ansible 2.57 , will it support creaating encrypted s3 bucket ?

[2018-12-24 10:48] thanos-k commented on #44245
I had the exact same incomprehensible error message
and the actual problem was that localhost (which we delegate to) was not part of the inventory

As soon as I added localhost to the inventory file the playbook worked like a charm.
Weird error message though.

[2018-12-24 10:58] Andersson007 commented on #15794
Hello, I was informed today about this problem (thanks ansibot).
I just fixed documentation in https://github.com/ansible/ansible/pull/49683 (the first aim of it is to add role_grant, role_revoke and comment params to this module).
I agree that using of priv behaves strangely. If my patch will be approved and merged in 2.8, after that I'd like to rewrite the module in this part completely.

[2018-12-24 11:02] Akasurde commented on #48624
@alexcurtin Thanks for showing interest in fixing this issue. You can start with this [developer guide](https://docs.ansible.com/ansible/devel/community/index.html#working-with-the-ansible-repo) and [setting development environment](https://docs.ansible.com/ansible/devel/dev_guide/developing_modules_general.html#common-environment-setup). Let me know if you need any help in this.

Thanks.

[2018-12-24 11:16] Vince-Nieuw opened #50293 "Unable to create a dashboard using grafana_dashboard module."
##### SUMMARY
Unable to create a dashboard using grafana_dashboard module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

grafana_dashboard

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

Try to import/create a dashboard based on a .json file on local filesystem.

[code]

##### EXPECTED RESULTS

Dashboard on Grafana creat

[2018-12-24 11:18] ilmarh opened #50294 "java_keystore can't be ussed to import CA certificate without private key"
##### SUMMARY

Can't add my own CA certificate (self-signed) to trustedstore without private key using java_keystore module. Issuing the command manually works: `keytool -keystore /tmp/truststore.jks -alias CARoot -import -file ca-test.crt -storepass password -keypass  password`. Doc says `private_key` is not required, but module return error 'missing required arguments: private_key'

##### ISSUE

[2018-12-24 12:13] Vince-Nieuw commented on #50293
Tried to update the module from the development branch, that introduces a different error:
[code]

[2018-12-24 12:14] Akasurde commented on #50291
@yojesh Thanks for reporting this issue. There is no parameter called `SSEDescription` in `dynamodb_table`](https://docs.ansible.com/ansible/devel/modules/dynamodb_table_module.html).

needs_info

[2018-12-24 12:14] Akasurde commented on #50291
!component =lib/ansible/modules/cloud/amazon/dynamodb_table.py

[2018-12-24 12:15] Akasurde commented on #50292
!component =lib/ansible/modules/cloud/amazon/dynamodb_table.py

[2018-12-24 12:16] Akasurde commented on #50291
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2018-12-24 12:16] #50291 closed, assigned to nobody

[2018-12-24 12:34] RuBiCK commented on #45475
Same issue here. The workaround to me is to use personal token instead deploy token:

[code]
I know this is not ideal, because this token belongs to a personal user but meanwhile this get solved this is what I do.

But as this issue refers, is not possible to use a deploy token because it contains '+' character

[2018-12-24 12:37] githubfoam commented on #35645
get_url and unarchive are the modules I test together.Even after disabling get_url message and copying directly tar.gz on docker does not change it all. It is not about get_url module.Absolute/relative path tried too. Verified unzip install on docker and I have no idea where "gtar" package is.Error message itself is directing nowhere.

ansible 2.7.5

[2018-12-24 13:06] warusadura opened #50296 "local variable 'systems_service' referenced before assignment"
##### SUMMARY

local variable `systems_service` referenced before assignment. When executing a simple [playbook](https://github.com/dnuka/automate/blob/master/ansible/redfish_101.yaml) with redfish_facts module, results the following error,

`
fatal: [HOST]: FAILED! => {"changed": false, "module_stderr": "Shared connection to HOST closed.\r\n", "module_stdout": "Traceback (most recent call last):\

[2018-12-24 13:40] dieterv commented on #50143
Thank you for the quick fix!

[2018-12-24 15:09] nicholasrodriguez opened #50299 "vmware_deploy_ovf: Properties not being passed to post configuration"
##### SUMMARY
When trying to deploy the VCSA OVA appliance none of the post VM creation configuration parameter properties are being applied.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_deploy_ovf

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
CentOS 7.4
ESXi 6.7
VCSA appliance VMware-vCenter-Server-Appliance-6.7.0.12000-8832884_OVF10

##### ST

[2018-12-24 15:10] 2ps commented on #43759
@sivel :  with all due respect, windows users like myself and the original poster here understand that we can't use windows as a control machine  But we do develop on windows which means that we have editors, IDEs, etc., that work better when we can actually install ansible on windows.  Installing with pip worked as late as version 2.5.6.  Is there any way that we can move this up to at least a lo

[2018-12-24 15:36] IPvSean commented on #50245
@NilashishC it might be good idea to give a few more as well... I am thinking something like:

[code]

[2018-12-24 16:10] ericdost commented on #49951
Thanks @kbreit.  I'll take a look at that.

To me there are two separate issues.  I do agree that API rate limiting is a problem for that specific API.  I also believe that `loop_control` and `pause` would benefit from sub second support.

[2018-12-24 16:36] chipzoller opened #50300 "get_url module fails with "IncompleteRead" when url tag does not contain URI with file name"
##### SUMMARY

When using the **get_url** module and passing in a URI that does not contain a filename, the task fails with "IncompleteRead".

Example:

[code]
`<hostname> ` has been used instead of the FQDN of the server resource.
The URL key here is the [VMware vRealize Log Insight](https://www.vmware.com/products/vrealize-log-insight.html) URI which supplies in return an RPM package that is use

[2018-12-24 16:51] jpmens commented on #50300
(please format your pastes withing code fences)

What does a `curl -o xxx  https://litest01.zoller.com/api/v1/agent/packages/types/rpm` do?

[2018-12-24 16:52] jpmens commented on #50300
Please ignore the question -- I wasn't paying attention properly.

[2018-12-24 16:56] jpmens commented on #50300
I think get_url is working as designed; the documentation states:

[code]

[2018-12-24 19:10] mnaser commented on #50288
!component -lib/ansible/plugins/inventory/openstack.py

[2018-12-24 19:14] mnaser commented on #50243
needs_contributor

[2018-12-24 20:20] chipzoller commented on #50300
Apologies for the formatting faux pas. Even if I specify `dest=/tmp/liagent/` the error message is the same and the task fails. Here is that verbose output provided the following code.

[code]

[code]

[2018-12-24 22:48] xcompass commented on #42090
Ran into this issue as well. Trying to archive the files on NFS server, but the symbol links are linked to the files that are on the actual servers that mount the NFS server.

[2018-12-25 02:08] Fred-sun commented on #46659
@dmc-tech Thanks for your contribution, Are you still here? Could you help contribute a PR according by yungezz's comment? Thanks!

[2018-12-25 02:11] Fred-sun commented on #49415
@zikalino

[2018-12-25 03:36] Akasurde commented on #50296
resolved_by_pr #50298

[2018-12-25 04:01] Akasurde commented on #48408
@y2kkarthik Any news ?

[2018-12-25 06:15] Fred-sun commented on #45335
@zikalino

[2018-12-25 08:20] 4linuxfun commented on #49602
Any solution there?

[2018-12-25 09:33] berlic opened #50304 "vultr_server doesn't honor ssh_keys parameter"
##### SUMMARY
The docs state that `vultr_server` does support `ssh_keys` and `ssh_key` as its alias, but module silently ignores `ssh_keys` and only `ssh_key` is recognized.

Additionally the docs state that `ssh_keys` is a *list*, but module accepts only single key name as string, giving error for lists: `Could not find sshkey with name: ['name1', 'name2']`.

##### ISSUE TYPE
- Bug Report

#####

[2018-12-25 09:43] brandond commented on #17324
@pilou- That's the exact same thing I showed. Since there's no way to get Ansible to template the dict keys - you have to template the whole dict. However, you can't use YAML syntax in the template - it all has to be valid Jinja2, and if you mess any of it up you just get the untemplated string left in place instead of an error like you normally would from bad YAML.

Sure would be nice if that was

[2018-12-25 10:19] KobeBraynt opened #50305 "Problem accessing interfaces ip addresses"
##### SUMMARY

I tried to access an ansible variable named  ansible_eth0 and it worked. but when i tried to access an interface named bond1.1 it didn't work.
I looked at the ansible_facts and I saw that there is indeed a variable named ansible_bond1.1 but I couldn't access it.
I assume that the problem is that when I try to access this parameter, it tries to access a parameter named ansible_bond1

[2018-12-25 10:33] pilou- commented on #17324
@brandond could you edit the [FAQ](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/reference_appendices/faq.rst) (using a PR or this [link](https://github.com/ansible/ansible/edit/devel/docs/docsite/rst/reference_appendices/faq.rst?description=%3C!---%20Your%20description%20here%20--%3E%0A%0A%2Blabel:%20docsite_pr)) ?

[2018-12-25 11:39] BarbzYHOOL opened #50306 "Meta module: reset_connection is always failing"
##### SUMMARY

meta: reset_connection is failing

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

meta

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 14.04 on controller

##### STEPS TO REPRODUCE

[code]

Note that with a simple task it doesn't output anything:
[code]
Nothing is shown

##### EXPECTED RESULTS

It should say "success" or "changed"

#

[2018-12-25 11:47] calvinbui commented on #50306
I'm finding it failing on 2.7.5 and 2.8.0-devel as well

[code]
[code]

This is the output from a Ubuntu 18.04 host:

[code]

Tidied up:
[code]

[2018-12-25 17:16] roytanmoy opened #50307 "firewalld module task gets failed"
##### SUMMARY

firewalld module task get failed
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

running ansible-playbook againest ubuntu 16.04

##### STEPS TO REPRODUCE

Running below playbooks and observed the failures -
[code]

[code]

##### EXPECTED RESULTS

should run the command successfully without error

[2018-12-25 17:18] roytanmoy commented on #50307
affects_2.7

[2018-12-25 18:19] cryptolukas opened #50310 "Docker (Re)Tag local images"
##### SUMMARY
Ability to use docker tag

[code]
##### ISSUE TYPE
I want to execte via ansible (not shell module), commands like such one:
`docker tag myimage:88 myimage:latest`

##### COMPONENT NAME
I think the right place is the module docker_image
##### ADDITIONAL INFORMATION
Possible scenario
1. You Push your Images (with Jenkins Build ID als Docker Tag) in your private docker registry
2. Ansib

[2018-12-25 18:56] Alexander198961 commented on #34569
just to make sure I understand logic correct if files are different  we are currently handle them (added to archive) but if they are the same we don't add file to archive. so maybe better just to write file in case zero byte size too (because we have situation when archive and file zero byte) ?

[2018-12-25 20:43] sudomann commented on #44404
Such conflicting documentation;
[docs here](https://docs.ansible.com/ansible/latest/scenario_guides/guide_gce.html#gce-dynamic-inventory) give the wrong format for project names:
[code]
I got it to work with the following (notice no `google.com:`):
[code]
This was based off other replies I saw on issue related to this, and the [docs here](https://docs.ansible.com/ansible/latest/plugins/inventory/g

[2018-12-25 22:11] felixfontein commented on #50310
!component =/lib/ansible/modules/cloud/docker/docker_image.py

[2018-12-25 22:18] felixfontein commented on #50310
That's already posible with `docker_image`:
[code]

[2018-12-25 22:20] felixfontein commented on #50310
!component =lib/ansible/modules/cloud/docker/docker_image.py

[2018-12-26 01:04] chipzoller commented on #50300
Just to also add that the same failure message is seen when attempting this with the **uri** module as well.

[code]

[code]

[2018-12-26 01:05] seblu commented on #44412
Fall into the same issue with Ansile 2.7.5.

[code]

[2018-12-26 01:37] seblu commented on #44412
Note that it breaks permissions defined by `mode` attribute of `copy` module. Setting regular permissions bits have a different behavior with acl enabled. Group bits are acl file mask, so setting 0640, will don't set group access permission to read, but set acl mask permission to read.
**This may have security implication.**

[2018-12-26 03:16] jose-delarosa commented on #50296
@dnuka, what server and OOB controller is this on? I don't see this error on any of the servers that I have tested with. You are getting this error because your `data[u'Members']` is empty, but your PR https://github.com/ansible/ansible/pull/50298 does not address that. In fact, if `data[u'Members']` is empty, it won't even go through the loop, so what exactly is returned?

No doubt that the code

[2018-12-26 03:39] Fred-sun commented on #49791
fixed by #49702 , on going

[2018-12-26 03:41] Fred-sun commented on #39977
@yungezz

[2018-12-26 04:01] Hubery2757 commented on #49276
repo file name：my-custom.repo

content：
[my-custom]
baseurl = http://192.168.56.11/custom/
enabled = 1
gpgcheck = 0
name = my custom repo

[2018-12-26 04:30] dnuka commented on #50296
@jose-delarosa
Thank you for the review :) I just updated the issue and the PR.

Members array in my Systems resource is empty. But still, go through the loop. I think that's why `local variable 'systems_service' referenced before assignment` error occurs.

[2018-12-26 05:36] Fred-sun commented on #42407
@zikalino

[2018-12-26 05:50] Fred-sun commented on #43416
@zikalino @yuwzho  @yungezz

[2018-12-26 07:35] felixfontein commented on #21433
resolved_by_pr #50313

[2018-12-26 08:09] felixfontein commented on #50041
Options are also not sorted for sublevels (example: `networks` option [for docker_container](https://docs.ansible.com/ansible/latest/modules/docker_container_module.html), `aliases` comes last in the list).

[2018-12-26 09:14] yojesh commented on #39538
But It tells about  how to do with awscli not ansible. These parameters  are still not supported in ansible .

[2018-12-26 09:23] Yvan-Masson opened #50316 "Can't use vault when its path contains non ASCII characters"
##### SUMMARY

`ansible-playbook` crashes with a `UnicodeDecodeError` when using a vault that has a path containing non ASCII characters.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

include_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian testing/sid

##### STEPS TO REPRODUCE

Create directory containing non ASCII characters. Create inside

[2018-12-26 10:03] #35869 closed, assigned to NilashishC

[2018-12-26 11:35] cryptolukas commented on #50310
Great thanks for your help.
I couldn't see that this is actually possible from the documentation.
Can we add this to the official documentation?

[2018-12-26 11:50] felixfontein commented on #50310
It is already kind of documented, see the description of the `repository` option. It's definitely true that the `docker_image` module is pretty confusing, though :) Do you think it would help if we add an example for this? Or do you have a better/additional idea?

[2018-12-26 12:07] cryptolukas commented on #50310
Yeah docker_image is really a big and high configurable module ;)
The problem is all listed options are useful, you shouldn't split this module though it is confusing :D

I wasn't able to see that I can retag docker Images with Ansible. You examples show "latest" only

Sample

[code]

Maybe it is possible to (exchange / add) this examples to clarify retagging docker images.
Here I tag the local im

[2018-12-26 12:14] ushuz opened #50319 "Docs should reflect docker_* modules option_minimal_versions"
##### SUMMARY

docker_* module options have different availability for different `docker-py` version and Docker API version, so `option_minimal_versions` was implemented to improve maintainability. For example, `docker_container` module:

https://github.com/ansible/ansible/blob/d4db4267377f2fea017d49f33ea1922c69c74215/lib/ansible/modules/cloud/docker/docker_container.py#L2795-L2800

However, this

[2018-12-26 12:38] felixfontein commented on #50319
!component +lib/ansible/modules/cloud/docker/docker_config.py
!component +lib/ansible/modules/cloud/docker/docker_container_facts.
!component +lib/ansible/modules/cloud/docker/docker_container.py
!component +lib/ansible/modules/cloud/docker/docker_image_facts.py
!component +lib/ansible/modules/cloud/docker/docker_image.py
!component +lib/ansible/modules/cloud/docker/docker_login.py
!component +lib

[2018-12-26 12:40] felixfontein commented on #50310
I think I would also like an example which tags without pushing (as there are already two which push). For example:
[code]

[2018-12-26 12:48] felixfontein commented on #50310
I created a PR in #50321. Can you take a look how you like the updated/extended examples?

[2018-12-26 13:19] cryptolukas commented on #50310
The PR looks good from my side.
I appreciate you fast PR

[2018-12-26 13:24] #47118 closed, assigned to maxamillion

[2018-12-26 13:32] #21433 closed, assigned to nobody

[2018-12-26 13:32] #45730 closed, assigned to maxamillion

[2018-12-26 13:43] trishnaguha commented on #48099
@abenokraitis @benjdudas @ikhan2010 resolved_by_pr https://github.com/ansible/ansible/pull/50312

[2018-12-26 14:52] diego-treitos commented on #21433
Thank you guys!! You are awesome!!

[2018-12-26 15:10] #50310 closed, assigned to nobody

[2018-12-26 16:00] KarlAustin commented on #36615
Also, unsurprisingly an issue on CentOS7 as well.  Causes quite a bit of pain and some horrible hacks to fix that shouldn't be needed.

[2018-12-26 17:18] rearden-steel opened #50326 "ERROR! 'wnen' is not a valid attribute for a TaskInclude on ansible 2.7"
##### SUMMARY
include_task with condition does not work on ansible 2.7, works good on 2.6.
There is no information in Porting Guide how to deal with it.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Mojave
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Tasks include when workin

[2018-12-26 18:19] StefanKlatt commented on #29343
On CentOS 7.5 with Openssh-7.4p1 we have the same issue.
I fixed it with the following regex:

 key: "{{ item.stdout | regex_replace('\\[(?P<Host>.+)\\]:(.*) (?P<Enc>.+) (?P<Key>.*)','\\g<Host> \\g<Enc> \\g<Key>') }}"

[2018-12-26 20:43] danehrlich1 commented on #4265
+1 on this.

Not only is  there no PDF, you can't even print out the pages of the Ansible Docs.

The pages have scroll windows which the print command doesn't seem to pick up on. You'll only get a single page of docs that should be multiple pages. E.g. https://docs.ansible.com/ansible/latest/modules/apt_module.html#apt-module

[2018-12-26 20:44] danehrlich1 commented on #4265
Posting this again here so it's easy to see: https://readthedocs.org/projects/ansible/downloads/

[2018-12-26 21:01] kewalaka opened #50332 "win_psmodule - register-psrepository requires nuget"
##### SUMMARY
In win_psmodule, if a repository doesn't exist & the nuget provider is not installed, then the call to register-psrepository fails.

https://github.com/ansible/ansible/blob/cda40100247a24374581d7f1ef769474151f0c4f/lib/ansible/modules/windows/win_psmodule.ps1#L56

The same fault is present in win_psrepository.

It should call Function Install-NugetProvider prior to attempting to regis

[2018-12-26 21:31] jseiser commented on #23320
We are dealing with this, and so far have not found any solutions.  Ansible is running in 1 VPC, which is reaching out across VPC Peers to communicate to the various servers it configures.  This works fine with Linux, but is basically useless when configuring windows.  I can not place my ansible server inside the child VPC's.

I am not seeing any issues across any of these VPC's for any other serv

[2018-12-26 22:51] jylenhof opened #50333 "git module user and password"
##### SUMMARY
user and password option for git module in https mode

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
git module

##### ADDITIONAL INFORMATION
Would like to have the possibility to pass username and password to URL of git in https mode... username and password should be urlencoded in the body of git module and password should be marked as no_log option to not write it in log f

[2018-12-26 22:55] jylenhof opened #50334 "New module for git commit and push"
##### SUMMARY
There are missing modules to commit and push code to git.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
I need to make automation of commit and push code to git and lacks such module

##### ADDITIONAL INFORMATION
For now I'm using shell module to commit and push code to git.... But I need to put user and password in URL and make the code idempotent so it would be nice to hav

[2018-12-26 22:59] jylenhof commented on #50334
!component lib/ansible/modules/commands/shell.py

[2018-12-26 23:00] jylenhof commented on #50334
!component -lib/ansible/modules/commands/shell.py

[2018-12-27 02:38] Fred-sun commented on #49180
@zikalino

[2018-12-27 04:07] Akasurde commented on #44404
@sudomann PR https://github.com/ansible/ansible/pull/50183 is yet to merge. That is why you are seeing this conflicts in documentation. Once PR is merged, this conflict will go away.

[2018-12-27 05:34] RvKmR-WaGh commented on #22676
@drewdogg use
`{{ raw_result.stdout | trim }}`

[2018-12-27 07:06] bhargav0505 commented on #19584
i get this issue, please give me solution

ubuntu@master:~$ ansible-playbook playbook2.yml -b

[2018-12-27 09:50] Akasurde commented on #50326
@rearden-steel I think there is a typo in your playbook. You have `wnen` which is not valid playbook/include_task attribute instead of `when`.

I can't reproduce this issue on 2.7.

[code]
Console
[code]
and

[code]

[2018-12-27 09:50] Akasurde commented on #50326
needs_info

[2018-12-27 10:08] resmo commented on #50304
resolved_by_pr #50337

[2018-12-27 11:04] fredericve opened #50339 "HTTPSClientAuthHandler breaks modules on target hosts that have no ssl support"
##### SUMMARY
When running a module that uses `module_utils/urls.py` on a target host that does not support ssl, execution fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`module_utils/urls.py`

##### ANSIBLE VERSION

[code]
Introduced in ansible 2.4. Happens with all versions up to and included 2.7. Does not happen on 2.3.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target O

[2018-12-27 11:14] neo502721 commented on #50334
how can I work for this?

[2018-12-27 11:17] kanitaly commented on #40929
I am having the same problem, sorry being novice

+++++++

root@***************:~# python3 -m venv venv
root@***************:~# source venv/bin/activate
(venv) root@***************:~# pip install ansible
Collecting ansible
  Downloading https://files.pythonhosted.org/packages/56/fb/b661ae256c5e4a5c4285

[2018-12-27 11:47] Akasurde commented on #50316
resolved_by_pr https://github.com/ansible/ansible/pull/50341

[2018-12-27 11:47] Akasurde commented on #50316
@Yvan-Masson Could you please check above PR and let me know if it works for you ? Thanks

needs_info

[2018-12-27 14:00] ikhan2010 commented on #37366
@benjdudas any update on this issue?

[2018-12-27 14:01] ikhan2010 commented on #47067
@benjdudas any update?

[2018-12-27 14:12] nikkytub opened #50342 "To make config-context as opt-in in netbox dynamic inventory"
##### SUMMARY
It makes the config-context as an opt-in as discussed in #47394

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
config-context as an opt-in in netbox dynamic inventory

##### ADDITIONAL INFORMATION
If False
[code]
If True
[code]

[2018-12-27 14:21] ssbarnea commented on #48859
I have to say that I find the message confusing too, this being the reason why I ended up reading this bug.

This is more of a debugging level message which still prints on V=1 which is not ok. The irony is that these messages are printed but you have no idea which plugin was used to load the hosts file in the end, if it was loaded at all.

I think that the bug is genuine and underlines several is

[2018-12-27 14:47] khlkh commented on #38120
Related to #34321. However, it's not a User-agent issue.

For some reason, the URI module changes the headers (silently) and cause the API token authentication to be failed.

Despite it shows in the verbose debug log that the headers are the same as user input in playbook,
...
            "force_basic_auth": false,
            "group": null,
            "headers": {
                "X-DCCA-TOKEN":

[2018-12-27 15:59] rluisr opened #50346 "support attaching server group into OpenStack"
##### SUMMARY

Now only support create server group with os_server_goup but no method apply it.

##### ISSUE TYPE
- Feature Idea

[2018-12-27 16:14] Akasurde commented on #34737
@achinsngh Did you try `ansible_ssh_private_key_file` in inventory file or `--private-key` on command line ? You can read more [here](https://docs.ansible.com/ansible/devel/user_guide/intro_inventory.html#connecting-to-hosts-behavioral-inventory-parameters).

Thanks.

needs_info

[2018-12-27 16:16] feisa opened #50348 "nxos_nxapi module issue"
##### SUMMARY
we are receiving the following error running nxapi as our connection with module nxos_nxapi

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_nxapi
##### ANSIBLE VERSION`

ansible 2.7.2
  config file = /home/feisa/ansible-network/ansible.cfg
  configured module search path = [u'/usr/share/my_modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible

[2018-12-27 17:13] paylocity-sflanders commented on #48881
I finally got a chance to look at this problem more deeply.  I went ahead and reported the issue to the powershell folks but it appears that for the most part this functionality works identically on a remote linux box which would make sense since it worked that way on localhost.   The difference this time was i added that 'ansible_ssh_use_tty' variable.

[code]

I then turned on debugging and watc

[2018-12-27 17:13] santhosh1vaddi opened #50350 "commit replace whe"
##### SUMMARY
i am trying to push config from the file using SSH keys for authentication. it clears complete configs in the device with below mentioned error and i am not able to login to device as it is clearing management interface configs

##### ISSUE TYPE
- Bug Report
[code]
##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cisco I

[2018-12-27 17:27] paylocity-sflanders opened #50352 "running powershell from linux over ssh produces 'Shared connection to somemachine closed' (reopen)"
[ansible-powershell.zip](https://github.com/ansible/ansible/files/2596121/ansible-powershell.zip)

##### SUMMARY

I'm reposting this because i have no way to reopen https://github.com/ansible/ansible/issues/48881.

We have some powershell functionality that runs fine when directly used on a linux machine or running through ansible using localhost.  If using ssh it will break with 'shared connecito

[2018-12-27 17:44] praveenks16 commented on #19584
Two solutions we have : -
1. password less auth
2. add ask_pass=true in ancible.cfg file. (This will ask password when you run ansible)

[2018-12-27 19:16] santhosh1vaddi commented on #50350
@ansibot... i am not finding lib/ansible/modules/network/iosxr/iosxr_config.py in my centos ansible machine. could you please elaborate on the solution to get this working.
i configured junos using SSH key using below playbook and it works fine. but same with cisco module (iosxr_config) doesnt work.
---
- name: Push Config to Juniper VMX Routers
 hosts: localhost
 gather_facts: no
 connection: loc

[2018-12-27 19:45] feisa opened #50355 "NXAPI Issue"
##### SUMMARY
We are receiving errors using nxapi as our connection type
enable: CLI execution error"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxapi connection issues when using  nxos_feature and nxos_conifg
##### ANSIBLE VERSION
ansible 2.7.2
  config file = /home/feisa/ansible-network/ansible.cfg
  configured module search path = [u'/usr/share/my_modules']
  ansible python module loca

[2018-12-27 19:51] kneidem commented on #42229
@Akasurde @jOOc
Is there any progress in this bug or is it required to open a new one? Because as of today, the issue is still not fixed and reproducible as described above.

[2018-12-27 21:01] sramakr commented on #39538
@yojesh PR #45402 has the fix to support encryption.

[2018-12-28 01:54] dagwieers commented on #23320
Ensure you have the latest **pywinrm** or **pyprsp** installed. In case of read timeout issues we added read_timeout support to both protocols (https://github.com/ansible/ansible/pull/46850 and https://github.com/ansible/ansible/pull/49701) but this is not merged yet.

You may want to try these branches out and see if that makes a difference to your use-cases on WinRM and PSRP. I hope these get me

[2018-12-28 01:59] kbreit opened #50356 "urls.py should offer encoding method"
##### SUMMARY
The urls.py module utility doesn’t have any method to do URL string encoding. While I am sure I can find Python native libraries to do this, I feel it is something that belongs in the module utility so all modules can use it consistently.

CC @dagwieers

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
urls.py

##### ADDITIONAL INFORMATION
https://github.com/ansible/ansible/issu

[2018-12-28 02:20] jseiser commented on #23320
Can you please post the code to pull those branches via pip? I can def. Try
it out.

I am grabbing pywinrm and pyprsp via a pip install, I can try and grab
those via git as well.

On Thu, Dec 27, 2018, 8:54 PM Dag Wieers <notifications@github.com wrote:

[2018-12-28 03:23] #50356 closed, assigned to nobody

[2018-12-28 03:56] jseiser commented on #23320
Hm, these all run on Jenkins slaves, where the work (ansible, terraform etc) is done inside a docker container.

I'll have to see if I can make it work installing ansible that way. Not too familiar with installing outside of using pip.

[2018-12-28 05:48] trishnaguha commented on #50348
@feisa `nxos_nxapi` can only be used with connection `network_cli` not `httpapi`, since it is used for enabling nxapi or configuring nxapi features which can be only done if you are on cli mode of the device.

[2018-12-28 05:49] #50348 closed, assigned to trishnaguha

[2018-12-28 07:13] Fred-sun commented on #48415
@zikalino Could you pls look at this issue? Thanks!

[2018-12-28 08:04] Akasurde commented on #32081
@vladimirtiukhtin Could you please check output of following command -

[code]

[2018-12-28 08:04] Akasurde commented on #32081
needs_info

[2018-12-28 09:40] ptzianos opened #50359 "[rabbitmq_user] Changes user's tags even when they are not defined"
##### SUMMARY
rabbitmq_user will empty an existing user's tags even when there is not `tags` field present in the configuration. It should differentiate between an empty list and a non-existent list of tags.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rabbitmq_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04 64-bit

##### STEPS TO REPR

[2018-12-28 09:46] ptzianos opened #50360 "[rabbitmq_user] Allow tags to be a list of strings"
##### SUMMARY
rabbitmq_user expects tags to a string of comma separated tags. We should be able to provide a list of strings also.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/modules/messaging/rabbitmq/rabbitmq_user.py

##### ADDITIONAL INFORMATION
Internally the string is split and converted into a list anyway. This would be useful, because the list of tags of users could b

[2018-12-28 11:19] terbolous commented on #50110
@DrHashi Glad to hear. If the issue is resolved, could you close it?

[2018-12-28 12:18] Akasurde commented on #41313
similar to https://github.com/ansible/ansible/issues/38074

[2018-12-28 12:30] Mogztter commented on #50294
In your case you might want to use `java_cert` to import your AC to an existing keystore ? https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/java_cert.py

[2018-12-28 12:40] Akasurde commented on #33900
@yungez Any news ?

[2018-12-28 12:52] Akasurde commented on #49904
resolved_by_pr #49905

[2018-12-28 13:10] rearden-steel commented on #50326
@Akasurde Sorry for that bug. You are right, it was a misprint.

[2018-12-28 13:10] #50326 closed, assigned to nobody

[2018-12-28 13:16] Akasurde commented on #50326
@rearden-steel It's OK. Thanks for reporting issue though.

[2018-12-28 13:19] Akasurde commented on #49620
@richlv Thanks for going through the documentation. The entries are redundant because they are coming from two sources - [mysql_document_fragment](https://github.com/ansible/ansible/blob/9fb4e24660ff72754fcd190c960b904f7e53da34/lib/ansible/utils/module_docs_fragments/mysql.py#L69) and [mysql_db](https://github.com/ansible/ansible/blob/9fb4e24660ff72754fcd190c960b904f7e53da34/lib/ansible/modules/da

[2018-12-28 13:31] ruzickap commented on #32478
I used this nasty workaround for ICMP:

[code]

Using the "ansible way" which is much better, but non-working right now:

[code]

[2018-12-28 14:24] chipzoller opened #50362 "Providing YAML elements valid at each indentation level"
##### SUMMARY

This may be difficult to describe. As someone who has spent the past month learning Ansible and rigorously using the wonderful Ansible Docs page that has been put together in addition to reading various third-party books and even the DO407 manual, one resource which I have looked for time and time again with no luck is a reference guide that shows the Ansible commands that are avail

[2018-12-28 15:12] BarbzYHOOL commented on #50306
With ansible.cfg option `any_errors_fatal: true` this becomes a critical priority issue :'(

[2018-12-28 16:30] marcobellaccini commented on #33284
I think this can now be solved by using the *dvswitch_name* parameter introduced by https://github.com/ansible/ansible/pull/41899

[2018-12-28 16:31] paylocity-sflanders commented on #50352
Some of the issues i've hit seem to be around the wrapper PS1 script that gets generated if it detects module references.   It builds this complex wrapper script that has all the content for all of it and its dynamically loaded, which appears to be problematic for ssh.   aside from ps core compatibility issues which are generally fixable it seems that complexity could be reduced to simply replacin

[2018-12-28 16:34] yosemitesammy217 opened #50368 "junos_config: diff source config file vs running config without committing the changes"
##### SUMMARY
The junos_config module should provide the capability to load a source config file, diff against the running config without committing changes and extract the diff to a file for further use in change management processes.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
junos_config

##### ADDITIONAL INFORMATION
Enterprise and service provider environments have change managemen

[2018-12-28 17:03] roytanmoy commented on #50307
anybody looking into this issue?

[2018-12-28 17:03] mveroone opened #50372 "Loop over include_role with tasks_from always uses last value"
##### SUMMARY

When trying to factor code by looping ofer task books of the same role, only the latest one is run N times

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 28

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Playbooks runs taskbook "taskl1" then "task2"

##### ACTU

[2018-12-28 18:00] trondhindenes commented on #47528
can repro. From the looks of it it looks as simple as adding this:
[code]
tho I don't know if that will break anything, since the `launch_config_name` attr is apparently kept for backwards compatibility.

[2018-12-28 19:47] Yvan-Masson commented on #50316
@Akasurde Hi, thanks for your patch, it works! Regards, Yvan

[2018-12-28 20:55] geerlingguy commented on #19681
It's weird that this works in some of my test containers but not others (e.g. Ubuntu 18.04); but probably has to do with container setup/configuration issues: https://travis-ci.org/geerlingguy/drupal-vm/jobs/473124570#L1623-L1624

But because this is a Docker issue (e.g. can't change hostname in a running container without `SYS_ADMIN` privileges), and since I don't know if Ansible could possibly k

[2018-12-29 01:18] orgito commented on #38892
How do I generate  reports like that for my playbooks runs?

[2018-12-29 01:37] jernster-clgx commented on #38391
Hi, is there a roadmap of feature implementation within the gcp_compute plugin such as being able to group by labels?

[2018-12-29 03:55] finarfin commented on #43827
I encountered the same issue on Windows 2019. If workstation OS licensing is an issue; Windows Server 1803 might be a suitable alternative to test with.

[2018-12-29 03:59] seymurfarziyev commented on #16354
I came just across the issue with the long @@@@@@@...@. It is weird, but running the "ansible ..." command with "sudo" resolved my issue.

[2018-12-29 05:46] Akasurde commented on #50372
@mveroone Thanks for reporting this issue. Pardon me if I am missing something but I am not able to reproduce this

[code]

Playbook
[code]
I am using Ansible 2.5.

needs_info

[2018-12-29 05:52] kkeane commented on #19504
Using on_create is really more a workaround than a solution.

Until this issue can be fully resolved, how about updating the documentation to indicate that update_password: always is not idempotent?

[2018-12-29 07:24] roytanmoy opened #50377 "sysctl module does not enable net.ipv4.ip_forward ."
##### SUMMARY

sysctl module fails to eanable flag net.ipv4.ip_forward in sysctl file
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

sysctl
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 16.04
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

should enable the *net.ipv4.ip_forward=1* in sysctl.conf file
##### ACTUAL RESULTS

[code]

[2018-12-29 08:45] slzzz opened #50378 "ModuleNotFoundError: No module named 'ansible.parsing'"
Only in the root home directory can be imported correctly！
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

winrm
##### ANSIBLE VERSION

[code]

[2018-12-29 09:35] jhykbl commented on #31266
Guess you want create partition for a multipath device, multipath device is a symbolic link, for this kind of situation function get_unlabeled_device_info can not get right info.
I got the same error.
Open PR https://github.com/ansible/ansible/pull/50379 can fix this.

[2018-12-29 16:43] paylocity-sflanders commented on #50352
Worked with microsoft on the hang issue and they are looking into it.   seems current execution just calls "powershell /path/somefile.ps1" regardless of the shebang.  is there to override that?  they have an workaround to use "powershell -c"

[2018-12-29 16:50] paylocity-sflanders commented on #50352
I'm going to close this issue for now since the primary issue appears to be a hang issue in powershell core ran from ssh

[2018-12-29 16:50] #50352 closed, assigned to nobody

[2018-12-29 17:07] Akasurde commented on #50158
@jzielke84 Thanks for reporting this issue. You can achieve this using [`ignore_unknown_extensions`](https://docs.ansible.com/ansible/latest/modules/include_vars_module.html?highlight=ignore_unknown_extensions) parameter in `include_vars`

For example,

[code]
Playbook
[code]

Let me know if it satisfies your requirement. Thanks

needs_info

[2018-12-29 17:45] paylocity-sflanders opened #50384 "powershell shebang ignored for modules"
##### SUMMARY
it appears the shebang in powershell based libraries is ignored and hardcoded in the python implementation.   I've been working with microsoft on figuring out some hanging issues with powershell core (https://github.com/PowerShell/PowerShell/issues/8545) and was wanting to use a workaround that appears to fix the issues but i'm unable to create one like:

[code]

When i look at the l

[2018-12-29 18:23] gundalow opened #50386 "mysql_db test installing Python 2"
##### SUMMARY

[code]

it's pulling in the whole python stack and forcing the interpreter version to 2, after the packages for mysql get installed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_db

##### ANSIBLE VERSION
[code]

[2018-12-29 19:37] spoyd opened #50387 "Recurring mysql_db test failure affecting shippable for a number of PRs"
##### SUMMARY
Shippable tests for a number of pull requests are failing with the same error:
"The PyMySQL (Python 2.7 and Python 3.X) or MySQL-python (Python 2.X) module is required."

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible/test/integration/targets/mysql_db/tasks/main.yml

##### ANSIBLE VERSION

2.8

##### STEPS TO REPRODUCE

Run shippable integration tests for mysql_db

####

[2018-12-29 20:27] ghost opened #50388 "'<' not supported between instances of 'AnsibleUnsafeText' and 'int'"
##### SUMMARY

"when:" condition produces variable type error..

##### ISSUE TYPE
- Bug Report

I've been using the following when: condition without problems:

[code]
once I upgraded to ansible 2.7.5 the above condition stopped working, ansible produces the following error:

[code]

as a quick workaround the problem, I changed the when: condition to use the j2 template int() function:

[code]

wh

[2018-12-29 21:56] soulawaker commented on #47909
@Hefeweizen In my case, it's a user permission. I forgot I should use `become_user: "{{ ansible_user }}"` in dconf task when I used `become: true` globally. So I've arrived here and immediately come to mind. I'm not sure if it will help you.

[2018-12-29 22:31] jylenhof commented on #50333
There's also a less secure approach with GIT_ASKPASS environment variable :

https://serverfault.com/questions/815043/how-to-give-username-password-to-git-clone-in-a-script-but-not-store-credential

[2018-12-29 23:18] dagwieers commented on #23320
Running `pip show pypsrp` should say v0.3.0...

[2018-12-30 01:22] TheNetworkIsDown opened #50389 "Find: Don't cross filesystem boundaries"
##### SUMMARY

Find module could benefit from a "don't cross filesystem boundaries" flag, like "find path -xdev"

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
find

##### ADDITIONAL INFORMATION

It's just a feature I'm often using together with find in the shell, and I was surprised not finding it here.

I'll be submitting a pull request, it's only a few lines.

[2018-12-30 03:49] Akasurde opened #50394 "mysql_user testcase failing"
##### SUMMARY
mysql_user integration testcases failing

- https://app.shippable.com/github/ansible/ansible/runs/100147/38
- https://app.shippable.com/github/ansible/ansible/runs/100121/38

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
test/integration/targets/mysql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No change

##### OS / ENVIRONMENT

Fedora 29

##### STEPS TO REPRODUCE

[2018-12-30 11:39] atb00ker opened #50397 "Ad-hoc ping command caches connection status"
##### SUMMARY
Ad-hoc command keeps a cache of connection status which may lead to incorrect response.
Example:
[code]
Note: `CASE: 3` should not give `pong` becaues of incorrect password.
(correct user: `root` & password: `root`)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ad-hoc | ping

##### ANSIBLE VERSION
ansible 2.5.1
  config file = /etc/ansible/ansible.cfg
  ansible python module l

[2018-12-30 11:44] felixfontein commented on #50386
The installation is caused by `setup_mysql_db`, which is also used by the integration tests for `mysql_user`, `mysql_variables`, and in `setup_zabbix`, which is being used by the `zabbix_host` integration tests. I guess they all have the same problems.

[2018-12-30 12:16] m1cr0man opened #50399 "Imgadm Docker support"
##### SUMMARY
SmartOS' imgadm supports importing Docker images from the Docker hub. The imgadm module currently supports adding the Docker Hub repository, but not pulling images from it.

In order to actually deploy Docker based images on SmartOS, there needs to be a way to specify a Docker image tag in the imgadm module and resolve its UUID.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

[2018-12-30 13:16] m1cr0man commented on #50399
The introduction of the `tag` property does raise some confusion around what the `type` property does, but I feel it is out of scope to address that.

[2018-12-30 14:39] BarbzYHOOL commented on #47752
i don't understand the suggestion lol

[2018-12-30 14:46] BarbzYHOOL opened #50404 ""changed_when" can't be a list of conditions (while "when" can)"
##### SUMMARY

changed_when can't be a list (and probably failed_when too) while "when" can

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

changed_when
failed_when (maybe)

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

ubuntu 14.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should work as written here https://docs.ansible.com/ansible/latest/user_guide/playbooks_c

[2018-12-30 18:20] Roxyrob opened #50407 "win_iis_website parameters logfile.customFields"
##### SUMMARY

Cannot configure logfile.customFields

##### ISSUE TYPE
- Bug Report

Cannot configure logfile.customFields
using different syntax like:
logfile.customFields:{logFieldName:X-Forwarded-For,sourceName:X_FORWARDED_FOR,sourceType:RequestHeader}

also using different format without dictionary delimiter "{}", using "=" instead of ":" enclosing in "" or ''.
Someone knows if this is a bug/l

[2018-12-30 19:21] roytanmoy opened #50408 "include_tasks and import_tasks in role looks for tasks relative to included task, not role root"
##### SUMMARY

In a role, include_tasks and import_tasks does not behave as expected when called with tasks in sub-directories. It attempts to execute tasks in local host instead of the remote_hosts

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 14.04.5 LTS
python version = 2.7.6
#####

[2018-12-30 20:47] kluisi commented on #50276
Any update on this...I realize that people might not be working over the holidays, but didn't want this one to get lost either.

[2018-12-31 00:48] NFarrington opened #50409 "Command and shell modules with an existing 'creates' path fail on non-existent 'chdir' path"
##### SUMMARY
When using the command (or shell) module with both the `creates` and `chdir` arguments, where the path for `creates` exists, but the path for `chdir` doesn't, the module fails. However, one would expect that if the `creates` path exists, the module doesn't attempt to change to the `chdir` path.

The modules should attempt `chdir` _after_ checking `creates` and `removes`.

A real exam

[2018-12-31 02:25] ghost opened #50410 "Can we get this fetchlistfromdict added as a standard filter?"
Can we simply just add this to the default filters available?
https://gist.github.com/smarthall/1e302b40f38ddd4e218d

The reason I'm asking for this is because I had a problem with using `with_items` or even trying to build a variable list to use with the gluster volume_manager. Eveything I attempted wouldn't pass all of my list to the `cluster` value:

[code]
I couldn't find any other concise way

[2018-12-31 02:54] #47376 closed, assigned to nobody

[2018-12-31 05:18] carlio commented on #48859
I am getting "Could not match supplied host pattern, ignoring: 'all'" after these messages so clearly something is not working somewhere but there is no information about how to find this or fix it. Definitely needs a better error message.

[2018-12-31 07:52] andrey-pavlenko commented on #45638
[code]
This works with pacman in my case.

[2018-12-31 09:05] robertdebock commented on #45638
Your list is not empty, so it works. This issue is about "parse an empty list".

[2018-12-31 10:50] akloeber commented on #50306
Same here. `meta: reset_connection` seems to be broken when used in a handler:

[code]

__Ansible 2.7.5__

[2018-12-31 11:04] quulah commented on #50243
I made a quick change to add support for `OS_CLOUD` when `only_clouds` is not defined.

It's available here: https://github.com/quulah/ansible/commit/6bca3bee803283d0478dbcfbff2108e216189cf4

I haven't taken a look at the contribution guidelines, but if that looks acceptable, I can try and make a pull request with all the needed things.

[2018-12-31 11:31] Akasurde commented on #50404
@BarbzYHOOL Thanks for reporting this issue. I agree the error message is not that specific but

Could you please try this -

[code]

TL;DR - Value specified starts with quotation and YAML parser expects to see line ended with same kind of quote. So, you may need to quote entire value.

[2018-12-31 11:48] BarbzYHOOL commented on #50404
already tried the opposite with "'word'"

[2018-12-31 11:51] bengoa commented on #44970
@schast suggestion worked for me. Pymongo 3.7.2 here.

[2018-12-31 12:08] Akasurde commented on #50404
@BarbzYHOOL Does it give same error ? needs_info

[2018-12-31 12:21] BarbzYHOOL commented on #50404
of course

[2018-12-31 12:40] Akasurde commented on #50404
I am glad that it worked for you. I have raised a PR https://github.com/ansible/ansible/pull/50411 to extend documentation to address this example. Feel free to add comments on PR and review it.

[2018-12-31 13:25] #50099 closed, assigned to nobody

[2018-12-31 14:50] Tahvok opened #50414 "docker_container does not retry on error 500 from image source"
##### SUMMARY
docker_container does not retry on error 500 from image source

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- docker
- coreos
- ubuntu
- debian
- archlinux

##### STEPS TO REPRODUCE

Just use the below task to create a new container,
Simply using a wrong url will actually wor

[2018-12-31 15:53] felixfontein commented on #50414
The `retries`/`until` feature does not work as you seem to expect. If a module fails, it will not repeat (since Ansible always bails out on errors). If you want to loop even if the module fails, you need to add `ignore_errors: yes` to avoid Ansible to bail out.

(If you do that, you need to check yourself whether the task finally failed, or whether it succeeded; you can simply check for `result is

[2018-12-31 15:59] #50414 closed, assigned to nobody

[2018-12-31 17:03] BarbzYHOOL commented on #50404
You can refthis issue or just close this one then :P

[2018-12-31 17:32] abadger commented on #44412
I was having troubles reproducing this and I've narrowed down the problem a bit.  Python-3.3 added the ability to copy file extended attribute information:
https://docs.python.org/3/library/shutil.html#shutil.copystat

For our code, that means that on Python2, we're only copying mode/permission/etc.  On Python3, we're also copying the extended attributes which includes the acls.

It seems like the

[2018-12-31 18:18] abadger commented on #44412
This also only affects systems which store acls in extended filesystem attributes (perhaps further limited to Linux).  The shutil.copystat() change in Python-3.3+ is documented as copying Linux extended filesystem attributes now so platforms where acls aren't stored in extended filesystem attributes won't be affected.

[2019-01-01 01:37] HauptJ commented on #50307
I am having the same problem running against Fedora 28 and 29.

I have tried using both the Python 2 and Python 3 Ansible interpreters to no avail. However, CentOS 7 does not appear to be effected by this problem.

Below are the tasks I am running.
[code]

[2019-01-01 04:57] lhorace commented on #30993
I deploy/re-deploy a lot local container instances here, it's a bit combursome to re-enter the same password multiple times. I'm curious, is there any movement for this for `--ask-pass`, if not, is there a workaround? Like `--pass-file=~/.common-pass` ?

[2019-01-01 09:03] bigfatgit opened #50424 "openssl_pkcs12: ca_certificates does not interpret tilde for home folder"
##### SUMMARY

If a tilde (to represent the current user's home folder) is used in the ca_certificates path, it is not interpreted correctly, and an error is returned to the effect that the path does not exist.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

openssl_pkcs12
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux 3.10.0-862.14.4.e17.x86_64 on A

[2019-01-01 09:11] #50304 closed, assigned to nobody

[2019-01-01 11:08] warusadura opened #50426 "get_nic_inventory() takes exactly 2 arguments (1 given)"
##### SUMMARY

When executing the following [playbook](https://github.com/dnuka/automate/blob/master/ansible/redfish_102.yaml) against [sushy-static](https://github.com/openstack/sushy-tools) emulator on a remote Ubuntu server, results `get_nic_inventory() takes exactly 2 arguments (1 given)` error.

[playbook](https://github.com/dnuka/automate/blob/master/ansible/redfish_102.yaml)
[code]
complete

[2019-01-01 14:30] ryanmerolle commented on #47583
shipit

[2019-01-01 14:30] #47583 closed, assigned to nobody

[2019-01-01 16:06] #35119 closed, assigned to nobody

[2019-01-01 19:04] gundalow commented on #50386
`zabbit_host` disabled in https://github.com/ansible/ansible/pull/50427

[2019-01-01 20:08] #50404 closed, assigned to Akasurde

[2019-01-01 20:08] jborean93 commented on #50378
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-01-01 20:08] #50378 closed, assigned to nobody

[2019-01-01 21:11] jborean93 commented on #50384
@paylocity-sflanders sorry for not getting back to you earlier but my comments in https://github.com/ansible/ansible/issues/48881#issuecomment-440481672 still stand as current line for PowerShell Core on Linux. Ansible allows you to create a module in any language but support for using shared functions in module_utils are only for Python on the POSIX side and PowerShell for the Windows side. There

[2019-01-01 21:11] #50384 closed, assigned to nobody

[2019-01-01 21:51] paylocity-sflanders commented on #50384
•	The majority of the PowerShell modules in module_utils are designed around Windows idioms and won't work on a POSIX host

I was under the impression these are helpers that are not required to use.  Is that not the case?  Obviously its a different case if the wrapper functionality is using windows-only functionality but from what i could tell it seemed to be trying to support really old PS versio

[2019-01-01 22:21] MarkusTeufelberger commented on #50424
Are you sure that Ansible is run with the user that has this folder in its home folder?

[2019-01-01 22:21] felixfontein commented on #35119
With the PR just merged (which will be included in Ansible 2.8, to be released this spring/summer), you can do
[code]
This only works for files on the control node; for files on the remote node, you need to `slurp` them first (which will give you a base64 encoded string, i.e. you can also use the new `data_is_b64` option).

[2019-01-01 22:43] jborean93 commented on #50384
They are not but having utils that support Windows and some that don't without a clearly defined line will confuse people. For example running a separate process in module is a common thing to do but the util that provides this functionality in a nice and easy wrapper https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/powershell/Ansible.ModuleUtils.CommandUtil.psm1 will only wo

[2019-01-01 23:27] feisa opened #50429 ""AnsibleUndefinedVariable: 'dict object' has no attribute"
##### SUMMARY
jinja2 template issues with hostvars

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
jinja2 template
##### ANSIBLE VERSION
ansible 2.7.2
  config file = /home/feisa/ansible-linux/ansible.cfg
  configured module search path = [u'/home/feisa/ansible-linux/library']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible

[2019-01-01 23:36] paylocity-sflanders commented on #50384
Well i'll say your argument is much stronger than mine with these further details.  I'd have to agree i care more about reliability and compatibility of the base software so bringing support in for something new is always a lot of work.  It seemed much closer on the surface.  I do suspect the core line of products (.net, powershell, etc) will become the baseline at some point in the future.  Its d

[2019-01-01 23:38] feisa commented on #50429
template

[2019-01-01 23:50] jborean93 commented on #50384
Thanks for looking into it and posting the issue on PowerShell/PowerShell regarding the escape sequence. Good to know it's .NET causing the escape code sequence and not something in PowerShell.

[2019-01-02 00:12] xcompass commented on #25391
Same here. Showing 'ClearLinux' on CoreOS. ansible=2.7.5

[2019-01-02 01:06] MarkusTeufelberger opened #50431 "openssl_certificate: ownca validity time frame is not user friendly to set"
##### SUMMARY

While refactoring a role from a custom certificate signing workflow to use `ownca`, I came across the 2 settings `ownca_not_after` and `ownca_not_before`. They require an ASN1 time stamp or default to `now + 10 years` and `now` respectively.

This has several issues:
1. It is not clear to me what date will be in the certificate when this is run on a 29th of February with default set

[2019-01-02 01:31] MarkusTeufelberger commented on #50431
!component -lib/ansible/modules/system/user.py
!component -lib/ansible/modules/crypto/openssl_csr.py
!component -lib/ansible/modules/crypto/openssh_keypair.py

[2019-01-02 05:18] Fred-sun commented on #47696
@zikalino

[2019-01-02 06:46] robertdebock opened #50434 "module gem on fedora: Use --install-dir or --user-install but not both"
##### SUMMARY
The module `gem` reports "Use --install-dir or --user-install but not both" on Fedora 29.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gem

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control node: any, in [ci/cd I'm using Ubuntu](https://travis-ci.org/robertdebock/ansible-role-travis/jobs/474283697).
Managed node: Fedora 29.

##### STEPS

[2019-01-02 07:44] Fred-sun commented on #47111
kindly ping

[2019-01-02 07:45] Fred-sun commented on #46790
@zikalino

[2019-01-02 08:05] rangapv commented on #21334
Hi,
Could you mention the steps need to fix this issue of us-east-2 missing in ec2.py --list .
I am not able to follow the steps needed to fix this. My understanding is use boto3 instead ? or update the endpoints.json ? . Whichever it is kindly mention the steps.
Thanks and Happy New Year
Ranga

[2019-01-02 08:20] zaixi opened #50436 "get_url fails to download https url on Ubuntu 16.04"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

get_url module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The file should be downloaded

##### ACTUAL RESULTS

[code]

[2019-01-02 08:31] s4wet commented on #43830
In your ansible.cfg change

remote_tmp     = /tmp/.ansible-${USER}/tmp

[2019-01-02 08:57] mkrizek commented on #50388
[code]
The above has never worked. On Python 2 the comparison between string (`ansible_distribution_major_version`) and int seems to be ignored and results in evaluating the conditional to `False` (I haven't looked at the code to tell exactly what happens) while on Python 3 you get the traceback:
[code]

The below is the correct way of doing your conditional:
[code]

[2019-01-02 08:59] mkrizek commented on #50102
Possibly related to https://github.com/ansible/ansible/issues/50141?

[2019-01-02 09:03] #42453 closed, assigned to nobody

[2019-01-02 09:16] rdtechie commented on #43802
Is there a update on this? Is this already in development?

[2019-01-02 09:20] yungezz commented on #43802
@rdtechie   we're planning to support it in 2.8. will update whenpr is ready.  and contribution is welcomed.

[2019-01-02 09:39] rdtechie commented on #43802
@yungezz So it is planned and not already in progress? I'm not good enough in Python I'm afraid to be able to contribute. But, of course I can always see if I can contribute. Is there already a branch somewhere that I can work on?

[2019-01-02 09:50] Lunik commented on #41347
Maybe simply add `parent_group` parameters should be enought and prevent code duplication.
[code]

[2019-01-02 10:03] albinpopote opened #50439 "na_ontap_gather_facts returns invalid security_login_account_info"
##### SUMMARY
na_ontap_gather_facts not returns all security login accounts with the same user on different storage virtual machines.

The unique key 'user:aplication:authentication' used is not unique.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

na_ontap_gather_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Create 3

[2019-01-02 10:19] Madhura-CSI opened #50441 "gcp_compute_firewall rule does not support 'UPDATE' operation."
##### SUMMARY
Running gcp_compute_firewall with updated configuration does not update the 'allowed' and 'source_ranges' parameters.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute_firewall

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.5.1804 (Core)
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Firewall rule should get updated for allowe

[2019-01-02 10:42] felixfontein commented on #50431
Maybe allow more flexible input like in `openssh_certificate`?

(Also, if the machine holding the CA's private key is not trustworthy, I think you got enough other problems ;-) )

[2019-01-02 11:14] itamary opened #50443 "azure_rm_networkinterface TypeError: __init__() takes exactly 1 argument (2 given"
##### SUMMARY
When trying to use azure_rm_networkinterface module I am getting the following error:
`TypeError: __init__() takes exactly 1 argument (2 given`
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_networkinterface

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
ubuntu 18.4
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Create NIC

##### ACTUAL RESULTS

Getti

[2019-01-02 11:20] ganeshrn commented on #48473
`elements` are used to specify expected type of element within a sequence for given option, hence imo it should be used with `type=list`combination only.

If the list consist for different element types in that case `elements` key in argspec can accept a callable function defined in module that validates/converts the individual elements of the list to required type (this feature is added as part o

[2019-01-02 11:38] Tahvok commented on #50414
So you confirm that there is a bug in the module? Why was it closed then?

[2019-01-02 11:59] felixfontein commented on #50414
No, it is **not** a bug of the module. The module is doing exactly what it is supposed to do.

Also, as I said, `retries` and `until` have **nothing** to do with the module, they are a general Ansible feature for task execution. The module does not even know you are using them.

[2019-01-02 12:02] richlv commented on #49620
Thanks, attempted that in #50444.

[2019-01-02 12:12] felixfontein commented on #48473
CC @evertmulder (author of manageiq_group)

[2019-01-02 12:14] felixfontein commented on #48473
@ganeshrn Thanks for implementing this! I assume this also fixes the problem in #50424 (because there `type == 'list` and elements == 'path`), right?

Will this be backported to 2.7? Or do we need to create a different patch for #50424 in `stable-2.7`?

[2019-01-02 12:17] dagwieers commented on #14413
So we now have a **reboot** and **win_reboot** action plugin to reboot Unix and Windows servers. If you have any issues with the existing implementation, feel free to open a new issue with any specifics.

[2019-01-02 12:17] #14413 closed, assigned to nobody

[2019-01-02 12:17] MarkusTeufelberger commented on #50431
Yeah, I'll poke @lolcube to push his final refactor of `openssh_certificate`, then we can maybe move the relative offset stuff to `module_utils` and re-use it for ownca and selfsigned.

[2019-01-02 12:34] dagwieers commented on #19820
I am going to close this issue in favor of #48134 as the newer issue includes a recent decision from the core development team.

duplicate_of #48134

[2019-01-02 12:35] #19820 closed, assigned to nobody

[2019-01-02 12:54] Akasurde commented on #47815
!component =lib/ansible/modules/cloud/google/gcp_compute_instance_template.py

[2019-01-02 12:55] dagwieers commented on #36400
So I am going to close this issue as this is not a bug. The reported error is correct, and the used Python version does not find an appropriate lxml version on the target system it was run on.

Things you may want to check if you hit this error:
- Check if the module is **installed on the target system** used (not on the Ansible controller)
- Check if the module is **available to the actual python

[2019-01-02 12:55] #36400 closed, assigned to nobody

[2019-01-02 12:58] Akasurde commented on #49620
@richlv Thanks for the PR.

[2019-01-02 12:59] Akasurde commented on #49620
resolved_by_pr #50444

[2019-01-02 14:49] bcoca commented on #50362
@chipzoller  you mean like https://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keywords.html?

also, `name` is optional for all playbook objects

[2019-01-02 14:56] justjais commented on #50283
https://github.com/ansible/ansible/issues/32724

[2019-01-02 15:01] bcoca commented on #50110
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

As shown above this was a misunderstanding and not a bug.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with the above.

   * https://groups.google.com/forum/#!forum/ansible

[2019-01-02 15:01] #50110 closed, assigned to nobody

[2019-01-02 15:02] Turgon37 opened #50452 "File module should show return a changed=true with check_mode=true and state=touch"
##### SUMMARY
Currently the file module does absolutly nothing if it is called with state=touch and check_mode=true. It should return at least a changed=true state.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/files/file.py

##### ANSIBLE VERSION

[code]

##### ADDITIONAL INFORMATION
According to this line https://github.com/ansible/ansible/blob/v2.7.5/lib/ansible/modu

[2019-01-02 15:03] AlanCoding commented on #47252
Is this issue the same as https://github.com/ansible/ansible/issues/30655? People report still encountering that.

[2019-01-02 15:11] rhaido commented on #29023
Ok, I'll have a look if it's still necessary.

[2019-01-02 15:48] orgito commented on #42596
#50448 worked for me. It sets auth_timeout with the timeout value if paramiko is at least version 2.2.

[2019-01-02 15:50] sivel commented on #50372
This issue was resolved in v2.5.1 as part of https://github.com/ansible/ansible/pull/37666

2.5.0 does not have the fix.

Please upgrade to at least 2.5.1.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-01-02 15:50] #50372 closed, assigned to nobody

[2019-01-02 15:51] Turgon37 commented on #50452
!component yaml

[2019-01-02 15:55] sivel commented on #50278
This is the expected behavior when using `vars` on a role under `roles`.  `vars` is effectively treated the same as `vars/main.yml` and due to `get_vars` behavior when collecting vars for a play, these vars are overwritten with the vars defined on the last defined role.

As such, `vars` and role params are not the same, as one is effectively scoped to the role (role params) whereas `vars` is effec

[2019-01-02 15:56] dagwieers commented on #25414
Just as a reference, we are looking into file-locking to ensure concurrent (write) access works better in Ansible, see #47322. Once we have a solution for this, we could leverage this mechanism (and hopefully use apt's own lock file, or if not, some other file).

[2019-01-02 15:57] sivel commented on #50280
This is expected and not something that we plan on changing.  You cannot create a self referential variable.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-01-02 15:57] #50280 closed, assigned to nobody

[2019-01-02 15:58] sparkblaze commented on #47821
I'm also having this issue when actively trying to install Chocolatey with the win_chocolatey module (it doesn't appear to anti-virus in my case)

[2019-01-02 16:04] bpennypacker commented on #41447
The simplest method to address this is to simply add 'LOAD FROM S3' and 'SELECT INTO S3' to the list of `VALID_PRIVS`. My company is already adding this change locally because we need the ability to include these privileges with some users managed by ansible.

Longer term I agree with @flatrocks that removal of the privilege validation code makes the most sense, as it's already not 100% accurate.

[2019-01-02 16:11] sivel commented on #50262
The problem is that someone mis-converted `with_items` to `loop`.

Because `with_items` does implicit flattening it worked as `with_items`.

Using `loop`, it should instead be:

[code]

[2019-01-02 16:12] chipzoller commented on #50362
@bcoca I can't believe I never found that. Yes, something like that is (basically) what I had envisioned. Thanks for bringing that to my attention.

[2019-01-02 16:35] pilou- commented on #50278
@sivel then should not the output result be
[code]
?

In order to highlight the difference, here is the diff with the actual result:
[code]

[2019-01-02 17:09] felixfontein commented on #50414
Are you talking about retries by the module, or task-level retries of Ansible? The module is not doing any retries. If it seems like the module does retries, it is docker-py doing that (though you won't see it if you don't watch the network traffic).

[2019-01-02 17:13] samccann commented on #48878
At this point, the certified module list has been moved to https://access.redhat.com/articles/3642632

[2019-01-02 17:21] robo2bobo commented on #50388
Oh, so its... formerly known as a bug, while now its a feature :)

Lets mark this as RTFM and close.

Thank you!

[2019-01-02 17:21] #50388 closed, assigned to nobody

[2019-01-02 17:43] BarbzYHOOL commented on #50280
apparently people said that in many apps and languages it's expected to work, and quite logic too

[2019-01-02 17:46] bcoca commented on #47578
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2019-01-02 17:46] #47578 closed, assigned to nobody

[2019-01-02 17:54] sometimesfood opened #50460 "Service module cannot start services that use "rc_bg=YES" on OpenBSD"
##### SUMMARY
The `service` module cannot start services that use `rc_bg=YES` on OpenBSD. The target service is started initially, but the process is killed as soon as the Ansible SSH connection is closed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Target OS version: OpenBSD 6.4

##### STEPS TO REPR

[2019-01-02 17:58] sometimesfood commented on #50460
The same thing happens when using the shell module:

[code]

However, if I use SSH to perform the same task without Ansible, everything works as expected:
[code]

[2019-01-02 18:12] sometimesfood commented on #50460
I used `ANSIBLE_KEEP_REMOTE_FILES` and `ansible -vvv` to better understand this behaviour.

If I run the remote file manually and replace the `sleep 0` with `sleep 30`, the `ypbind` service keeps running for 30 seconds before being killed again:

#### First shell
[code]

#### Second shell
[code]

[2019-01-02 18:55] dagwieers commented on #45291
@crossan007 We welcome a file locking mechanism for Windows that can be safely used by modules ;-)

[2019-01-02 19:09] dagwieers commented on #38133
Ok, so this "issue" is not related to the debug module and I don't think we should be documenting a YAML issue that people may have in the module documentation. (What's next, adding a boilerplate to every module to teach people YAML?)

We have this already documented in the main YAML documentation at: https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html#gotchas

And the exi

[2019-01-02 19:14] dagwieers commented on #38133
I am going to close this. Ansible is providing a perfectly fine error message and we have this documented in the Ansible documentation. I don't think we need to fix anything in the debug module/documentation (see previous comment).

[2019-01-02 19:14] #38133 closed, assigned to Akasurde

[2019-01-02 19:22] bcoca commented on #50460
The service is not backgrounding itself properly, needing rc_bg=yes is an indicator of that, so when the connection closes it is getting killed. The service manager should deal with this specifically, so this is a bug,  until it can be fixed,  try using nohup or dtach with shell when invoking the service.

[2019-01-02 19:30] sometimesfood commented on #50460
Thanks for the quick response, Brian.

Yes, using nohup in my start script is exactly what I did to work around this behaviour.

[2019-01-02 19:49] acozine commented on #50040
There are a few more places where the docs have `<span class="err">` in them. From my local build of today's `devel` branch:

[code]

[2019-01-02 20:09] tinyzimmer opened #50466 "aws_ssm lookup does not fail when parameter does not exist"
##### SUMMARY

Using the `aws_ssm` lookup plugin to fetch an application secret, if the parameter does not exist, the plugin will fail silently setting an empty string for the queried `value`.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

`aws_ssm`

##### ANSIBLE VERSION

2.7.5

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running in Cygwin on Windows 10 Pro (work computer 🤢) but

[2019-01-02 20:12] hannseman opened #50467 "docker_swarm_service crashes due to bad default"
##### SUMMARY

Using `docker_swarm_service` with `configs` set crashes on the second run.

It appears like this issue was introduced in https://github.com/ansible/ansible/pull/45674 where `DockerService.configs` was set to `None` instead of `[]` in the `__init__()`. If `configs` is set to `[]` everything works as expected.

I understand that the changes in https://github.com/ansible/ansible/pull/4

[2019-01-02 20:26] hannseman opened #50468 "docker_swarm_service crashes when setting update_order"
##### SUMMARY

When setting `update_order` on `docker_swarm_service ` to either `stop-first` or `start-first` it crashes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_swarm_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

[code]

And docker python library:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

`update_o

[2019-01-02 20:35] exd42062 opened #50476 "Ansible Timeout"
##### SUMMARY
I'm getting a timeout message from Ansible when running playbook against 3 devices.  When I run same playbook separately for each device it works fine, but when I run against all 3 devices in same play it timesout.

##### ISSUE TYPE
- timeout occurs when running play against multiple devices

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION

``root@NetworkAutomation-1:~# ansibl

[2019-01-02 20:43] dselders commented on #44864
I'm seeing the what appears to be the same issue while using 2.6.10.  I have tested with the above playbooks and it appears that CLI is returning all of the expected data, but netconf is not.  The python script that directly queries via netconf does appear to be getting all of the data.

With python script:
[code]

with playbook using netconf connection:
[code]

with playbook using network_cli con

[2019-01-02 20:56] maxamillion commented on #50102
resolved_by_pr https://github.com/ansible/ansible/pull/35985

[2019-01-02 21:11] Tank34 commented on #41148
Thank you

Depending on where the site packages are, for me this worked out:
sed -i -e 's/pysnow.UnexpectedResponse/pysnow.exceptions.UnexpectedResponseFormat/g' /usr/lib/python2.7/dist-packages/ansible/modules/notification/snow_record.py

[2019-01-02 21:29] #50102 closed, assigned to maxamillion

[2019-01-02 21:39] samccann commented on #48878
Unfortunately, this is deeper into python code than I can figure out on my own.
What I have so far:
 - The category pages do have the headers (e.g. [network](https://docs.ansible.com/ansible/latest/modules/list_of_network_modules.html), which would be the first step to allowing us to get a toc at the top of the 'maintained by Ansible Network Team' page).  The code that creates these headers for th

[2019-01-02 21:40] #50041 closed, assigned to nobody

[2019-01-02 21:40] dancs85 commented on #43802
@rdtechie I would start using azure_rm_resource and ARM templates to get around these issues. Ansible is too slow to keep up with the amount of changes in Azure

[2019-01-02 21:48] acozine commented on #48878
Related to (or duplicate of?) #30361.

[2019-01-02 21:52] samccann commented on #48878
Related to, but on a separate autogenerated page.  BTW, I lost my 'hack' but at one point I got a toc on top of the Network Modules page, and it is LONG!  as in you then have to scroll down two pages of just toc links before you see anything in the content.  May not be much we can do about it, but I expect the same will be the case once we figure out this page as well.

[2019-01-02 22:40] maxamillion commented on #50009
So .... my VM test host had a motherboard failure and I have a new one ordered, once that gets delivered I'll install KDE Neon and sort this out. This may or may not be information anyone cares about but I wanted to make sure and notate that this hasn't been forgotten, I'm just waiting on hardware.

[2019-01-02 22:50] #49060 closed, assigned to maxamillion

[2019-01-03 00:50] mpuckett159 commented on #20106
@JayHauss Could try this formatting for the folder input? I think I finally got this figured out after 2 hours....

`folder: datacenter-name/vm/whatever/other/folders/you/have`

e.g. I have `San Ramon/vm/MP-Test-VMs` as my folder input. Notice that there is no leading or trailing `/`

[2019-01-03 01:56] albertpx commented on #50414
I'm speaking of task level retries by ansible.
In the example of the original issue, I've put `retry` and `until` statements, and I've checked that it does retry by supplying a wrong url of docker image (it would fail completely as expected at the last retry).
However, if for some reason the supplied image url returns error 500, it will not do any retries, as I've shown in the example of my issue.

[2019-01-03 01:59] Tahvok commented on #50414
I'm speaking of task level retries by ansible.
In the example of the original issue, I've put retry and until statements, and I've checked that it does retry by supplying a wrong url of docker image (it would fail completely as expected at the last retry).
However, if for some reason the supplied image url returns error 500, it will not do any retries, as I've shown in the example of my issue.

[2019-01-03 01:59] acozine commented on #17059
Thanks @electrofelix for a detailed issue, and sorry we didn't respond in detail ourselves. I tried to reproduce this on Ansible 2.7.4, and I see reasonable output for your command example:

[code]

I believe your requirements have been met. Please ping me or open a new issue if that is not the case. Thanks for your support for Ansible!

[2019-01-03 01:59] #17059 closed, assigned to nobody

[2019-01-03 02:03] cristhianbicca commented on #44955
In this PR this situation seems to be stopped, what is the status of it?

[2019-01-03 02:41] geerlingguy commented on #35398
@rhino5oh - Funny that I hit the same issue doing something almost identical to what you're doing.

I agree with others above that it's weird that it works fine with `import_role`, but doesn't with `include_role`, and it's not obvious (a) why it works with one and not the other, and (b) why it doesn't throw an error. I've spent an hour trying to debug it before I finally came to this issue :P

[2019-01-03 02:45] MarianoRD commented on #14131
According to [this](https://docs.ansible.com/ansible/devel/roadmap/ROADMAP_2_8.html) it should be un May 2019

[2019-01-03 04:16] Fred-sun commented on #50443
@itamary Thanks for you contribution, I have tried on ubunt 18.04 use the latest ansible and 2.5.0. can't reproduce this error. Could you help give more info let me try again?
1.  Your step
2.  Please list you pip info--->pip list or pip freeze
3. Full YML file

[2019-01-03 04:23] #50476 closed, assigned to nobody

[2019-01-03 04:57] geerlingguy commented on #43637
Argh, I might have to finally bite the bullet and start using virtualenv, after years of pushing it off (I hate having an environment manager to manage my environment...).

I've been continually bitten by this weird behavior, even after making sure I install openshift in all the versions of Python I've installed locally. And for this particular playbook (see https://github.com/geerlingguy/raspberr

[2019-01-03 07:03] Fred-sun commented on #46313
@zikalino

[2019-01-03 07:34] felixfontein commented on #50414
In case of 404, does the module fail or not? Also, have you read what I wrote above:

[2019-01-03 07:35] rdtechie commented on #43802
@dancs85 Already using that module for some things. To be honest here, it's not Ansible that has to keep up, it's Microsoft that is developing the Ansible modules for Azure. I'm happy to use the preview modules. But I have the feeling it's a one or two man team that is developing these modules, hence why @yungezz is asking for contributions I guess.

[2019-01-03 07:49] felixfontein commented on #50468
#50483 should fix that problem. @hannseman, feel free to apply that patch to your local Ansible installation (you don't need the changelog fragment, only the change to the module file) to see whether it works for you. (It could of course be that there are other bugs in this option, since it apparently has never been successfully used before.)

[2019-01-03 08:50] hannseman commented on #50468
@felixfontein thanks! https://github.com/ansible/ansible/pull/50483 appears to fix the problem and `Spec.UpdateConfig.Order` in docker service is correctly set to the value specified in the `update_order` parameter.

I'm not really familiar with the workflow in the ansible-repo so I'm not closing this issue. Feel free to do it if it's appropriate iate.

[2019-01-03 09:07] ssbarnea opened #50487 "pip module should allow version=latest calling syntax"
##### SUMMARY
Currently its very hard to parametrize the use of pip module for locking a package to a specific version or just installing the latest version.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
pip

##### ADDITIONAL INFORMATION
Example of real world usage which resorts to jinja2 abuse for working around the current pip module limitations

[code]

If pip module would also allow t

[2019-01-03 09:18] Fred-sun commented on #39958
@zikalino How about this issue ahead? Could you help take a look and give a fix? Thanks！

[2019-01-03 09:18] Fred-sun commented on #41003
@zikalino

[2019-01-03 09:19] Fred-sun commented on #40857
@yungezz

[2019-01-03 09:23] Fred-sun commented on #31967
@zikalino Please help give a fix! Thanks!

[2019-01-03 09:48] Akasurde commented on #32551
@halberom Could you please check https://github.com/ansible/ansible/pull/37478 and let us know if it works for you ? Thanks

needs_info

[2019-01-03 10:19] felixfontein commented on #50040
https://docs.ansible.com/ansible/devel/plugins/lookup.html: mixes Ansible playbook with Ansible output in one code block, which the lexer chosen (yaml+jinja2?) cannot handle

https://docs.ansible.com/ansible/devel/plugins/inventory.html: I don't know what it is that is lexed here, but it's definitely not YAML (i.e. wrong lexer) or Ansible output; maybe disable lexing here?

https://docs.ansible.co

[2019-01-03 11:04] apollo13 commented on #44412
Yes, which is probably every Ubuntu machine out there (ext4 has it enabled as default and most ubuntu images I know ship with the set/getacl installed).

Thank you for taking a look at this! As for your PR I think it would be possible to call `setfacl` only once, if I recall correctly it allows calls like `setfacl -x some_acl -x another_acl /etc/config.file`

[2019-01-03 11:12] deepakjoshishri commented on #48859
Can we know what type of requirements that we need to match so that we do not get this info message?

[2019-01-03 11:34] #50468 closed, assigned to nobody

[2019-01-03 11:57] tho22 commented on #42726
The same on:
[code]

a little bit different with:
[code]

`fatal: [localhost]: FAILED! => {"changed": false, "msg": "hostname module cannot be used on platform Linux (Sles)"}`

[2019-01-03 12:17] ganeshrn commented on #48473
@felixfontein

That's right, PR #50424 will this.

As elements check was not supported in 2.7 this issue can be considered as a feature request and generally feature requests are not backported to stable branches.
Also, since this PR affects almost all the modules imo it shouldn't be backported to stable-2.7 branch.

I think it's better to raise a different patch for #50424 that handles the path e

[2019-01-03 13:17] hannseman commented on #50467
Tried running docker 18.06 and then it worked as expected. I guess something breaking was introduced in the 18.09 API.

[2019-01-03 13:18] jseiser commented on #23320
@dagwieers

[code]

[2019-01-03 13:22] hannseman commented on #49285
Also seeing the wrong changed state reported for image when specifying an image digest:

[code]

[code]

[2019-01-03 13:30] cniekerk commented on #25344
Windows Server 2019 has better support for OpenSSH:

https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_install_firstuse

It also supports public key authentication:

https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_keymanagement

Even though there are still some bugs, I did manage to log into my Windows Server 2019 test environment from my

[2019-01-03 13:34] mmazur commented on #44504
So, for a full rundown of the current status of this. I'm running:
- ansible from today's devel branch
- minikube with apiserver started with `--basic-auth-file`
- `~/.kube/config` has been removed to make sure the config file does not in any way interfere with module parameters

I know basic auth is configured correctly, because:
- running `curl -H "Authorization: Basic $(echo -ne admin:zupa.8|ba

[2019-01-03 14:41] mmazur commented on #44504
Right, so inspecting the k8s api traffic ansible generates shows that no http auth is even attempted at any point. Now to figure out why…

[2019-01-03 15:02] fabianvf commented on #44504
@mmazur So I think there are a few issues with basic auth at the moment. In the kubernetes case I think it's pretty straightforward, we hopefully just aren't setting the headers properly (the kubernetes python client no longer does automatically). For openshift I think just using basic auth doesn't work, you need to use the basic auth credentials to get an access token (as described here: https://

[2019-01-03 15:13] IPvSean opened #50492 "junos_banner (and net_banner) throws errors on Juniper MX"
##### SUMMARY
When using the net_banner and junos_banner module on Juniper MX it works 1 time (first time) then subsequent times fails.  It seems like part of the config is not getting committed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
junos_banner
net_banner

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE
 Playbook

[2019-01-03 15:13] sivel commented on #50429
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-01-03 15:13] #50429 closed, assigned to nobody

[2019-01-03 15:13] fabianvf commented on #44504
@megakoresh we also have a small amount of openshift-related code in the `k8s` helper modules, so we could check to see if the oauth server exists and if so use the openshift-style authentication.

[2019-01-03 15:15] feisa commented on #50429
I dont feel this is a user question but instead something broken

[2019-01-03 15:19] IPvSean opened #50494 "erroneous errors and warnings using net_ modules for network devices"
##### SUMMARY
Multiple warnings show up despite verbosity not being turned up (no -v is applied) in Tower

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
net_banner
net_system

(possibly all the net modules?)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
just use the net modules, e.g. https://github.com/network-automation/

[2019-01-03 15:20] sivel commented on #50305
This is expected behavior.  You cannot use dot syntax when the key contains special characters such as `.` and `-`.  This is a limitation of the underlying language and implementation used for accessing variables.

You will need to continue using bracket/subscript notation to access these keys.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freeno

[2019-01-03 15:20] #50305 closed, assigned to nobody

[2019-01-03 15:24] VeselaHouba commented on #38715
@cigamit Can't talk for ferztyle , but I have centos7 image with latest open-vm-tools and perl installed. I've tried to find log file after manual booting, but there's only `/var/log/vmware-*`, where I haven't found anything relevant to issue (and it starts after first boot, not during set-up).
It's strange, that we are using our ansible role against another vSphere with exact same version and ima

[2019-01-03 15:42] IPvSean opened #50497 "create junos_ping module"
##### SUMMARY
create a junos_ping module to match functionality with ios_ping (https://docs.ansible.com/ansible/latest/modules/ios_ping_module.html)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
junos_ping

##### ADDITIONAL INFORMATION
make this work with net_ping

[code]

[2019-01-03 15:48] #37209 closed, assigned to nobody

[2019-01-03 15:57] sivel commented on #50278
This is happening due to the following code:

https://github.com/ansible/ansible/blob/013c42b14fa06ff6355d8a9d52430f4cb1262047/lib/ansible/vars/manager.py#L394-L395

When templating the name for callbacks in `ansible/plugins/strategy/linear.py` we call `get_vars` with the `task` which has `task._role` which overwrites `'myvar': 'www.{{ myvalue }}'` with `'myvar': '{{ myvalue }}'. In this context i

[2019-01-03 15:57] den-is opened #50500 "Setup module doesn't work properly with YAML output"
##### SUMMARY
Setup module returns "nothing" when setting is `stdout_callback = yaml`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macos, fedora29, ...
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

something like that:
[code]

##### ACTUAL RESULTS

[code]

[2019-01-03 16:02] sivel commented on #50500
The `yaml` stdout callback wasn't designed to work with adhoc, and as such, it will only print values based on `ansible-playbook` behavior, which only happens when running with a verbosity (`-v`) of 1 or higher.

In the end, this is a duplicate of https://github.com/ansible/ansible/issues/39122

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freeno

[2019-01-03 16:02] #50500 closed, assigned to nobody

[2019-01-03 16:06] den-is commented on #50500
sad.

but sounds more like some religion prohibits that "design" enhancement.

[2019-01-03 16:19] felixfontein commented on #50414
I don't know why it didn't work in the first place then; the code does not make any difference between 404 and 500. It behaves exactly the same in both situations: it calls `module.fail_json(msg=...)` with message `Error pulling image <image>:<tag> - <exception>` in https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/docker_common.py#L639.

Could it maybe be that the log from th

[2019-01-03 16:21] sdwru opened #50501 "No file show in xml module examples"
##### COMPONENT NAME
xml

In the xml module examples shown in Ansible documentation there is reference to file foo.xml but foo.xml contents are never shown.  That makes the examples almost useless.

The foo.xml contents should be added to the documentation.  Found at the original github location of the xml module.
[code]

https://docs.ansible.com/ansible/2.4/xml_module.html

[2019-01-03 16:25] ghost opened #50502 "redhat_subscription ignores consumer_name if activationkey is specified"
##### SUMMARY
The `redhat_subscription` module ignores the `consumer_name` parameter if the `activationkey` parameter is specified.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`redhat_subscription` module

##### ANSIBLE VERSION

[code]

NB: I have also viewed (but not run) the [current source code](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/redhat_subsc

[2019-01-03 16:37] felixfontein opened #50503 "Automatic conversion of option values to strings can accidentally modify value"
##### SUMMARY
If an option is set as `type == 'str'`, its value will be converted to `str` by calling `str(value)`; see [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L1797-L1802). This works fine, except that it can lead to unexpected results.

Examples:
 - if the user specifies `1.00`, the resulting string will be `'1.0'`;
 - if the user specifies `yes`, `

[2019-01-03 16:40] felixfontein commented on #50040
@samccann can you re-open this one? There are some thing which still require fixing (unrelated to the Ansible output lexer); I'll try to work on this later this week or on the weekend.

[2019-01-03 16:41] albertpx commented on #50414
We do indeed use jenkins ansible plugin - which uses a custom output. However, I've just tried running one of my tests on jenkins using this plugin, and the output showed the retry:
[code]

[2019-01-03 16:43] Tahvok commented on #50414
We do indeed use jenkins ansible plugin - which uses a custom output. However, I've just tried running one of my tests on jenkins using this plugin, and the output showed the retry:
[code]

[2019-01-03 16:45] IPvSean opened #50504 "document difference in netconf behavior between junos_config (connection:netconf) vs using netconf_config module"
##### SUMMARY

conversation between Ganesh (@ganeshrn) and myself

netconf_config supports RPC’s that are defined in netconf RFC (https://tools.ietf.org/html/rfc6241) whereas junos_config supports proprietary (load-configuration) RPC in addition to supporting standard netconf  RPC’s.

we shouldn’t add proprietary rpc support which are vendor specific in netconf_config module as it might not be sup

[2019-01-03 16:51] samccann commented on #50040
Sorry about that...reopening

[2019-01-03 16:52] bcoca commented on #50500
no, its a bug of the yaml callback plugin, which is why the ticket referenced above is still open.

[2019-01-03 16:54] sivel commented on #50436
The problem here appears to be with the URL you are requesting.  It seems to require that an `Accept` header be passed along with it.

rfc2616 states:

So the server handling the request is not RFC2616 compliant.

However, to work around the issue, you can simply add:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing

[2019-01-03 16:54] #50436 closed, assigned to nobody

[2019-01-03 16:56] bcoca commented on #50410
isn't this the equivalent?
``` cluster: "{{ hostvars|select('in', groups['glusterfs'])|map(attribute='private_ip')|list }}"```

[2019-01-03 16:59] richlv opened #50505 "unable to set condition type for zabbix actions"
##### SUMMARY

As per the [Zabbix documentation](https://www.zabbix.com/documentation/4.0/manual/api/reference/action/object#action_filter), `evaltype` property allows to choose between the and|or combinations and a custom formula. The zabbix_action module currently does not seem to support this parameter, at least it is not mentioned in the [module documentation](https://docs.ansible.com/ansible/

[2019-01-03 17:00] IPvSean commented on #32683
this didn't resolve the issue for me with using junos_user with net_user, the net_user is expecting an exact parameter match with `configured_password`

this PR https://github.com/ansible/ansible/pull/44660 does an already hased password which is not helpful for the net_user as it does not support that

the option is available on Juniper vMX to use a plain-text password
```jnpr@ansible# set system

[2019-01-03 17:00] sivel commented on #50410
@bcoca I was just about to post the same thing.  Although I think it is slightly different:

[code]

`select` will just return a list of the hostnames.

I don't believe the `fetchlistfromdict` is necessary.

[2019-01-03 17:22] bcoca commented on #50410
^ i bow to @sivel, i had not tested my expression, was just 'top of my head'.

[2019-01-03 17:23] bcoca commented on #50410
good candidate for #46979

[2019-01-03 17:48] scottmtraver commented on #43775
I think this will be resolved with https://github.com/ansible/ansible/pull/34526

[2019-01-03 17:57] bcoca commented on #50429
@feisa your assumption that the 'eth0' fact is populated is the problem, this is not a bug, anyone on the lists above could tell you this in a few seconds after seeing the error.

[2019-01-03 18:01] feisa commented on #50429
If its that difficult to get a response, we should maybe use a different automation suite

[2019-01-03 18:02] feisa commented on #50355
any update

[2019-01-03 18:15] s-hertel commented on #37383
A number of issues have resurfaced

https://app.shippable.com/github/ansible/ansible/runs/100396/67/tests
https://app.shippable.com/github/ansible/ansible/runs/100382/67/tests
https://app.shippable.com/github/ansible/ansible/runs/100375/67/tests

[2019-01-03 18:16] rambleraptor commented on #42379
close_me

[2019-01-03 18:17] rambleraptor commented on #44771
close_me

[2019-01-03 18:18] rambleraptor commented on #42358
close_me

[2019-01-03 18:18] rambleraptor commented on #40967
close_me

[2019-01-03 18:19] rambleraptor commented on #48800
Hello! This has been fixed + merged in for the upcoming 2.8 release.

[2019-01-03 18:19] rambleraptor commented on #48800
close_me

[2019-01-03 18:19] rambleraptor commented on #46181
close_me

[2019-01-03 18:23] #48800 closed, assigned to nobody

[2019-01-03 18:23] #46181 closed, assigned to nobody

[2019-01-03 18:23] #44771 closed, assigned to nobody

[2019-01-03 18:23] #42379 closed, assigned to nobody

[2019-01-03 18:23] #42358 closed, assigned to nobody

[2019-01-03 18:23] #40967 closed, assigned to nobody

[2019-01-03 18:24] consolecable opened #50509 "Ansible raw -a error after successful run"
##### SUMMARY

If I run a successful command using the raw module, then run an incorrect command any subsequent commands are corrupted for a period of time.

In the example below I have run a successful command, then ran an incorrect command, then ran the successful command just afterwards. You can see that this command has characters from the previous incorrect command.
[code]
The problem seems t

[2019-01-03 18:26] IPvSean opened #50510 "match abillities between junos_command and cli_command"
##### SUMMARY
the cli_command and junos_command don't have matching abilities and parameters

on cli_command we can do this->

[code]

there is multiple problems with junos_command
- no prompts
- no prompt answer parameter
- no explanation or example of match (is this similar to prompt?)
- why is there retries?  this is covered with until loop for ansible
- why is there intervals?  this is covered

[2019-01-03 18:27] samcarpentier opened #50511 "New module request: tower_notification"
##### SUMMARY

Add a module to create Ansible Tower notification templates.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

tower_notification

##### ADDITIONAL INFORMATION

The tower_notification module could be used to automate the configuration of Ansible Tower and AWX via Ansible itself. There are multiple existing modules to do so, however the notification feature in Tower is not cove

[2019-01-03 18:33] #43541 closed, assigned to nobody

[2019-01-03 18:44] samcarpentier commented on #50511
@ansibot !component

[2019-01-03 18:54] mariolenz commented on #50181
We are trying to manage our vSphere environment with ansible and there are a lot of objects that don't fall under the term `host`.

It's not only weird, it feels wrong and is hard to explain to new ansible users: "You have to call the virtual switch a 'host' because that's how ansible works" is a bit discouraging. Same thing with a cluster. It's just ugly and "beautiful is better than ugly".

I _d

[2019-01-03 18:59] richlv commented on #50505
Looking at the code, this seems to be always going for custom formula if there are more than one condition:

        if len(_conditions) <= 1:
            return {
                'evaltype': '0',
                'formula': None
            }
        return {
            'evaltype': '3',
            'formula': _eval
        }

[2019-01-03 19:02] rambleraptor commented on #29834
close_me

[2019-01-03 19:14] #29834 closed, assigned to nobody

[2019-01-03 19:21] chopraaa commented on #41320
@oh4 Yes, this works.

@jmcleroy Service Now should've given you an instance name for use at your company. Use that. The syntax is `instance.service-now.com`.

[2019-01-03 19:28] IPvSean opened #50513 "cli_command does not handle errors"
##### SUMMARY
When an error appears (bad command, missing parameters) on the command line, the cli_command does not seem to pick it up.  Example below shows when I put in a bad password (trying to setup a new user) it does not tell me the problem (the password is not hard enough)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cli_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[

[2019-01-03 19:40] GeetanjaliGupta commented on #49270
@abadger Just wanted to check back if this would be looked into at some point?

[2019-01-03 20:45] ikhan2010 commented on #50494
@rcarrillocruz can you look at it please?  I believe you worked on these modules.

[2019-01-03 20:50] ikhan2010 commented on #35870
@gdpak can you please review this?

[2019-01-03 20:51] richlv opened #50517 "zabbix action operations not updated"
##### SUMMARY
Recovery operations are not added for existing actions.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action

##### ANSIBLE VERSION
devel

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux

##### STEPS TO REPRODUCE
Create a simple trigger action, perhaps like so:

[code]

Go to the Zabbix UI, remove the recovery operation and save the action, then re-run the play

[2019-01-03 20:51] benjdudas commented on #47067
@victorock ^^

[2019-01-03 20:55] richlv opened #50518 "zabbix action always reported as changed"
##### SUMMARY
If a Zabbix action is created and the same playbook run again, it always reports the action as changed, even though there have been no changes made to the playbook/role or the action itself.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action

##### ANSIBLE VERSION
devel

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux

##### STEPS TO REPRODUCE
Create a simple

[2019-01-03 21:06] ikhan2010 commented on #32683
@ganeshrn do you believe this PR was supposed to fix this issue for net_ user module as well?

[2019-01-03 21:12] #50386 closed, assigned to nobody

[2019-01-03 21:12] #50394 closed, assigned to nobody

[2019-01-03 21:13] #49969 closed, assigned to sivel

[2019-01-03 21:43] BarbzYHOOL commented on #50306
This is a crazy bug, it means we can't use meta: flush_handlers too else it fails the playbook

@bcoca maybe? (sorry for tagging but it seems quite important)

[2019-01-03 21:51] sivel commented on #50397
The cause to this issue is not that ansible caches the connection status, but instead ansible utilizes `ControlPersist`/`ControlMaster` with ssh.

The default timeout for `ControlPersist` is 60 seconds.

So if you connect with a valid password, and within 60 seconds attempt to connect with an invalid password, the 2nd auth attempt is ignored, as there is an already established mux connection to th

[2019-01-03 21:51] #50397 closed, assigned to nobody

[2019-01-03 21:54] BarbzYHOOL commented on #35398
seems like a recurring pattern with ansible xD

[2019-01-03 22:07] swissarmychainsaw commented on #48859
You know what. F anisble on the mac.  I'm over it.  Just spent an hour with this nonsense.
on Cent, when you yum install ansible, it puts "/etc/ansible/host" and "/etc/ansible/ansible.cfg"
On the mac?  Those files don't exist.  So the expectation is that we must add them... manually?
NOPE.

[2019-01-03 22:14] sivel commented on #35398
@geerlingguy This has been resolved for the 2.8 release as part of https://github.com/ansible/ansible/pull/46177

Also note that `include_X` and `import_X` are still in tech preview, and we are working towards getting these features ready to become stable. This is one of those changes necessary to get us there.

[code]

[2019-01-03 22:18] BarbzYHOOL commented on #22169
and in 2.7.5, who the hell closed this???

[2019-01-03 22:19] BarbzYHOOL opened #50522 "Roles are ran multiple times if both referenced as dependency and from playbook"
##### SUMMARY

Reopen this issue please https://github.com/ansible/ansible/issues/22169

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Playbooks/Roles
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-01-03 22:20] sivel commented on #50522
We typically do not re-open issues.

Please fill out the template fully with a full minimal reproducer and full description of this issue.

needs_info

[2019-01-03 22:39] rhino5oh commented on #35398
@sivel I just want to make sure I understand.  So you're saying that this should work in 2.8?  (assume cluster_group is a properly defined host group)

[code]

[2019-01-03 22:45] bcoca commented on #35398
@rhino5oh no, but it will give you a proper error, you want the following instead:
[code]

[2019-01-03 22:45] sivel commented on #35398
No, I am saying that in 2.8 you will properly result in an error, as `delegate_to` has no use on an `include_role` and is disallowed.

Instead what you want on 2.7+ is:

[code]

In 2.5 we made a distinction between `include_X` and `import_X` in how attributes worked (This is discussed further above and in more detail at https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#

[2019-01-03 22:47] BarbzYHOOL commented on #50522
then why close it

[2019-01-03 22:47] #50522 closed, assigned to nobody

[2019-01-03 22:48] geerlingguy commented on #35398
I think I finally understand the distinction. Took long enough :D

[2019-01-03 22:58] sivel commented on #50154
The problem appears to be that this is a hostvar, and later we try to handle templating without providing hostvars.  This is the stack at the point the exception happens:

[code]

At that point the value of `users` is `Undefined`.

In `lib/ansible/plugins/strategy/linear.py` if we give that `get_vars` call access to the host, then we get no traceback, however that could have negative effects on pe

[2019-01-03 23:02] sivel commented on #35398
It's no doubt complicated, and we have been working towards outlining it better and delineating functionality in a way that should help. Hopefully the new errors in 2.8 will help.  We're moving from a "magical" implementation of "include" to something that will be easier to describe, but it hasn't been the most smooth transition.

If I can clarify anything further, feel free to swing by IRC and pi

[2019-01-03 23:03] bcoca commented on #50522
@BarbzYHOOL unsure why you assume this will be closed, I can asure you that if you give us a reproducer we will address the issue.

You are pointing to a bug that was fixed (see my comment in it with the test output run), you might have a similar bug but we need a reproducer, linking to a closed and verified fixed bug does not help us address your issue.

[2019-01-03 23:14] bcoca commented on #50306
In general, we don't have any code to deal with `meta` tasks in handlers, since the original implementation was just `flush_handlers` we never considered using it as a handler.

But it does make sense for reset_connection to be used as such, we'll need to implement `meta` in handler execution but also filter out those 'unusable' in this context .. specially flush_handlers.

[2019-01-03 23:16] BarbzYHOOL commented on #50522
Obviously if i linked the other issue it's because it's the same issue as many other people have commented. There is no special reproducer, you just add your role to meta dependencies and in your playbook and it's ran twice instead of once. As simple as the title implies

"I can asure you that if you give us a reproducer we will address the issue." the question is when? when a playbook is broken i

[2019-01-03 23:19] BarbzYHOOL commented on #50306
Not sure I understood but I meant that if I have reset_connection in a handler, and then I use flush_handlers somewhere else (imagine in two different roles), then it breaks the playbook instantly and fatal errors

[2019-01-03 23:32] bcoca commented on #50522
@BarbzYHOOL see the last comment on that ticket, i used the exact playbook of the original report and it does NOT show duplicates, i also answered the couple of posts that had actual reproducers.

I doubt that your issue is the same as the original, since i have a test that proves that was fixed. I'm asking for a reproducer of your exact issue, since I cannot fix generalities.

[2019-01-03 23:35] esajche opened #50524 "macOS 14.1 and 14.2 password change hangs"
##### SUMMARY
Using simple playbook to change a users password.
This was working fine in macOS 10.14.0 but looks like something changed in macOS 10.14.1 and macOS 10.14.2.
The play just hangs.

Upon further investigation, I found that macOS 14.1 and 14.2 now require the OLD password for any user to be entered before the new password can be changed.  Ansible tries to change the password via sudo bu

[2019-01-03 23:35] bcoca commented on #50306
@BarbzYHOOL `meta` are special tasks implemented in the execution engine, unlike most other actions which exist as external plugins. As such they are handled 'special' and that code does not exist in the 'handlers' section.

My point was that originally we only had `flush_handlers` which made no sense to execute inside the handlers section, that is why none of the meta tasks will work correctly th

[2019-01-04 00:06] BarbzYHOOL commented on #50306
Ah ok, then I had understood correctly :P

[2019-01-04 00:12] BarbzYHOOL commented on #50522
I don't see what is special in his issue. For me, it's just playbook has role A + role B, and in role B, there is meta dependency calling role A

Result = role A ran twice, and role B ran once

[2019-01-04 00:12] jborean93 opened #50527 "Unstable integration test docker_network"
##### SUMMARY
The integration test `docker_network` is set to unstable as it sometimes fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_network

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
`ansible-test integration docker_network -v --allow-unstable --docker ubuntu1604`

##### EXPECTED RESULTS
Tests pass

##### ACTUA

[2019-01-04 00:15] jborean93 commented on #50527
Test is set to unstable with https://github.com/ansible/ansible/pull/50526

[2019-01-04 00:52] samcarpentier commented on #50511
!component

[2019-01-04 01:36] geerlingguy opened #50529 "k8s module throwing 'This module requires the OpenShift Python client. Try `pip install openshift`'"
##### SUMMARY

So, I've already read through all of the following earlier issues:

  - [k8s_raw module shows openshift missing Python client even all dependencies are satisfied](https://github.com/ansible/ansible/issues/43637)
  - [Execute k8s task failed](https://github.com/ansible/ansible/issues/49463)

And I've been debugging this issue for my Pi Dramble project (within a Vagrant environment) l

[2019-01-04 01:40] geerlingguy commented on #50529
Created a test python script:

[code]

Ran it:

[code]

So... looks like there's some weird error with `urllib3` and/or `chardet`, which tosses an exception, even though `openshift` and `kubernetes` _are_ available. And so that fails Ansible's check, but that exception is completely gobbled up by Ansible and there's no way for me to tell that without reproducing the test code and finding the excep

[2019-01-04 01:42] ewtang opened #50530 "Reboot VM failed"
##### SUMMARY

Reboot failed with message:
    onosvm: fatal: [onosvm]: FAILED! => {"changed": false, "elapsed": 0, "msg": "Running reboot with local connection would reboot the control node.", "rebooted": false}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible/plugins/action/reboot.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu xenial

[2019-01-04 01:58] jmvandry commented on #50530
!component +lib/ansible/plugins/action/reboot.py
!component -lib/ansible/modules/system/reboot.py

[2019-01-04 02:09] zaixi commented on #50436
Thank you, he is working now.

[2019-01-04 02:48] geerlingguy commented on #50529
So in my case, it was an annoying Requests-related exception (actually just a `RequestsDependencyWarning`, but somehow it was flagging it as an exception?), and I fixed it with:

[code]

Now everything is working happily.

But I want to leave this open in case it's deemed a bug that the `k8s` module doesn't bubble up exceptions and has (IMO) a little bit of a fragile check for whether `openshift`

[2019-01-04 03:10] #49620 closed, assigned to nobody

[2019-01-04 03:11] Akasurde commented on #49620
@richlv Thanks for the contribution.

[2019-01-04 03:21] Akasurde commented on #50387
PR https://github.com/ansible/ansible/pull/50430 is merged. Closing this.

[2019-01-04 03:21] #50387 closed, assigned to nobody

[2019-01-04 03:22] Akasurde commented on #50387
@spoyd Thanks for reporting this issue.

[2019-01-04 05:03] #21707 closed, assigned to Akasurde

[2019-01-04 06:09] justjais commented on #48913
@jchristopher327 can you please update the issue with required info

[2019-01-04 06:11] justjais commented on #46975
@RNanney can you please update the issue.

[2019-01-04 07:02] Akasurde commented on #48547
@Lenbok Thanks for reporting this issue. I have raised a PR to handle this. While backporting to 2.7, I will add porting guide note for this change. Let me know if it works for you. Thanks.

needs_info

[2019-01-04 07:31] justjais commented on #46121
@cesarfn4 PR to resolves this behavior is merged in devel and queued for `2.8` release. Closing the respective bug.

[2019-01-04 07:31] #46121 closed, assigned to justjais

[2019-01-04 07:36] Fred-sun commented on #50443
@itamary It may be because of your test environment. Can you uninstall ansible and try again（The latest ansible is 2.7.5) ? If you still have this problem, please help to give your “PIP list” info and the reproduce step. Thanks!

[2019-01-04 07:56] #42062 closed, assigned to nobody

[2019-01-04 09:02] justjais commented on #44672
@guest088 can you update the issue.

[2019-01-04 09:33] sasilen commented on #49640
Seems that I am also facing this on:
OS: debian 9 (stretch)
Ansible: 2.7.5 (from deb http://ppa.launchpad.net/ansible/ansible/ubuntu trusty main)

[2019-01-04 10:10] D3DeFi commented on #50505
Thank you for opening these issues @richlv.

@rubentsirunyan will you have time to address them please or do you need some help?

[2019-01-04 10:12] iamroddo opened #50535 "Traceback in tower_user when AWX authentication credentials invalid"
##### SUMMARY
The tower_user module issues a traceback when the AWX authentication credentials are incorrect. An Ansible module should issue an error message and not funnel through a Python traceback.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tower_user (other tower_ modules are likely to be similarly impacted

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRON

[2019-01-04 10:22] felixfontein commented on #50527
Please do any discussion in #50499.

[2019-01-04 10:22] chopraaa commented on #50094
This seems interesting since copying fonts directly using scripts doesn't work.

Would like to take a shot at this if it's alright.

[2019-01-04 10:59] #48099 closed, assigned to trishnaguha

[2019-01-04 12:04] sremy commented on #48859
The new message in the fixing PR commit is:
`display.vvv("%s declined parsing %s as it did not pass it's verify_file() method" % (plugin_name, source))`

@bcoca
Shouldn't it be "**its**" instead of "**it's**"?
https://github.com/ansible/ansible/blob/devel/lib/ansible/inventory/manager.py#L281
By the way, thanks for this clarification.

[2019-01-04 12:08] #50513 closed, assigned to ganeshrn

[2019-01-04 12:10] ganeshrn commented on #50513
@IPvSean Can you please retest with latest devel branch and check if the issue is still seen.
Fix for this issue PR #50538 is merged in devel branch

[2019-01-04 12:13] ganeshrn commented on #48473
Yes, imo you can use this approach to fix issue #50424

[2019-01-04 12:22] fabianvf commented on #50529
@geerlingguy  thanks a ton for the investigation, that's definitely a weird one. I'll try and get that error properly bubbled up.

[2019-01-04 12:35] Naveeeen opened #50541 "Package Installation using Ansible Playbook getting timed-out"
My playbook code is

[code]

This is the simple playbook to install the xrestop package in the target server. But unfortunately, this is getting failed.

The error is

[code]

From the target server, if I run the command, below is the output
[code]
If I run the command `/usr/bin/python /usr/bin/yum -d 2 -y install xrestop.x86_64`, this package gets installed but after the "Downloading Packages" it

[2019-01-04 12:49] Naveeeen commented on #50541
Hello,

Provided the data according to the template.

##### SUMMARY
Package Installation using Ansible Playbook getting timed-out

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

YUM Module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.6 (Santiago)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

xres

[2019-01-04 12:50] mgedmin opened #50543 "Spurious "cannot set fs attributes on a non-existent symlink target" when creating a symlink"
##### SUMMARY
When I create a symlink to a non-existent target, Ansible emits a warning "Cannot set fs attributes", although I'm not trying to set any fs attributes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
file

##### ANSIBLE VERSION
[code]

(I can also reproduce this with the current git master)

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Ubuntu 18.10

##### STEPS TO REPRODUCE

[2019-01-04 13:44] uritau commented on #28952
Hello, I have the same error with `ansible 2.7.0`, pip "present" always return changed state:

My task:
[code]

Output after launching two or more times it's the same:
[code]

[2019-01-04 14:19] IPvSean opened #50546 "add more ipaddr netaddr examples into filter documentation"
##### SUMMARY
integrate all these examples that work with the ipaddr filter
https://github.com/network-automation/ipaddr_filter

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters_ipaddr.html

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### ADDITIONAL INFORMATION
Will work on any l

[2019-01-04 14:41] bcoca commented on #50522
@BarbzYHOOL in my tests, that does not happen, so you need to give me a way to reproduce that

[2019-01-04 14:44] bcoca commented on #50522
play
[code]
[code]
output:
[code]

[2019-01-04 15:01] rubentsirunyan commented on #50505
I think it is easier for the user to choose one of a single condition or condition with formula, so there is no need to think about `evaltype`. That's the reason why the module doesn't support this parameter.
@richlv you are right, we need to mention this in the documentation for now.
Maybe we can think about adding the `evaltype` as an option later.

[2019-01-04 15:11] IPvSean opened #50549 "net_system domain-search vs correct domain_search (also show example with non-list)"
##### SUMMARY
the parameter in the example is wrong, and we incorrectly state it "has" to be a list, it can be a single entry

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
net_system
https://docs.ansible.com/ansible/latest/modules/net_system_module.html

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### ADDITIONAL INFORMATION
The example

[code]

[2019-01-04 15:11] sivel commented on #50530
This is failing, because we cannot permit the local ansible controller to be rebooted, as it would terminate the ansible-playbook, and would not complete the actions correctly.

This is caused by this line:

[code]

The `-c local` means that all connections will happen against the local ansible controller.  Rebooting the controller would effectively end the playbook run and would provide no way to

[2019-01-04 15:11] #50530 closed, assigned to nobody

[2019-01-04 15:11] IPvSean commented on #50549
the description is a bit wonky imo: "Provides the list of domain suffixes to append to the hostname for the purpose of doing name resolution. This argument accepts a list of names and will be reconciled with the current active configuration on the running node."  because it does not "**have**" to be a list

[2019-01-04 15:25] activedecay opened #50550 "npm module doesn't create node_modules directory"
##### SUMMARY
Ansible's npm module doesn't create a node_modules directory.

`$ ansible-playbook -i 'hosty-host,' -e ansible_ssh_pass=vagrant -u vagrant npm-install.yml`
[code]
Back on the inventory host, after running the playbook, the node_modules directory is missing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
npm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS /

[2019-01-04 15:29] jyothscupid opened #50551 "Workflow template issue - Workflow got stuck even after successful completion of a failed job template"
##### SUMMARY
I have workflow template with 9 job templates (JT), it has failed at JT-6. So I clicked on details on failed JT-6 due to a timeout in executing a task, so I relaunch the JT-6 by going into details and click relaunch button. It was successful after relaunch, however Ansible did not resume the workflow even after the failed JT-6’s successful completion after rerun.

##### ISSUE TYPE
-

[2019-01-04 16:22] alanbbr commented on #48859
Yes, “it’s” is the contraction of “it is”, not the possessive of “it”. The possessive is “its”.

From: "sremy" <notifications@github.com>
To: "ansible/ansible" <ansible@noreply.github.com>
Cc: "Alan Brenner" <alan@abcompcons.com>, "Comment" <comment@noreply.github.com>
Sent: Friday, January 4, 2019 7:05:19 AM
Subject: Re: [ansible/ansible] Inventory does not meet host_list/script requirements (Ans

[2019-01-04 16:32] bcoca commented on #48422
we might want to expand to handle all 'auth' failures (invalid key, user, etc) not just passwords

[2019-01-04 16:59] Drugoy opened #50554 "Allow defaulting nested undefined variables with undefined parental dicts"
##### SUMMARY

Allow defaulting nested undefined variables with undefined parental dicts:
Currently, if you have a variable dict defined and it's child dict not defined - you may rely on <a href="https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#defaulting-undefined-variables">defaulting undefined variables</a>:
[code]
but you can't rely on defaulting of undefined variables

[2019-01-04 17:01] bcoca commented on #50554
`default` is a feature provided by Jinja2 itself, it is not an Ansible specific filter.

[2019-01-04 17:02] Drugoy commented on #50554
@bcoca, as you  suggested in irc - `| any_undefined()` would be fine.

[2019-01-04 17:04] richlv commented on #50505
Thank you for the reply. Good point on giving one option being simpler in some way, but that would work with people not familiar with Zabbix - I suspect that Zabbix users will be confused as to how they could set this option for actions.

[2019-01-04 17:06] richlv commented on #50518
Tested with Zabbix 4.0.3.

[2019-01-04 17:14] sivel commented on #50554
See also: https://github.com/ansible/ansible/issues/23675

[2019-01-04 17:20] bcoca commented on #50554
@Drugoy not as simple as adding a new filter, this requires updates to the Jinja2 core to capture the error instead of emitting it and then returning a 'special value' that if not intercepted then reissues the original error.

[2019-01-04 17:49] jctanner opened #50556 "meta: clear_facts does not invalidate cacheable set_fact variables"
##### SUMMARY
`meta: clear_cache` is not invalidating the ability to lookup a "fact" set by set_fact + cacheable=True

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meta clear_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The final debug should show something like "UNDEFINED"

##### AC

[2019-01-04 17:52] abadger opened #50557 "Move import_playbook documentation"
##### SUMMARY
import_playbook is documented in the module documentation but it is not a task. It can only appear at the toplevel playbook list alongside plays.

We should move the documentation around so that there is less confusion for users.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
Primarily:
* [lib/ansible/modules/utilities/logic/import_playbook.py](https://github.com/ansi

[2019-01-04 17:54] jctanner commented on #50556
bcoca suggested checking ansbile_facts ...

[code]

Result ...

[code]

[2019-01-04 17:55] bcoca commented on #50556
so `ansible_facts` is being correctly cleared, but the 'injected names' are persisting  https://docs.ansible.com/ansible/latest/reference_appendices/config.html#inject-facts-as-vars

[2019-01-04 17:58] jctanner commented on #45315
!component =lib/ansible/plugins/strategy/__init__.py

[2019-01-04 18:03] #50141 closed, assigned to abadger

[2019-01-04 18:09] WilliamDutton opened #50558 "iam module does not support deleting user with SSH public key uploaded"
##### SUMMARY
Cannot delete a user who has an SSH public key uploaded

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/amazon/iam.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

#### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Create an AWS IAM user, upload SSH public key for that user, then try to delete the user.

[code]

##### EXPECTED RESULTS
The

[2019-01-04 18:14] richlv commented on #50505
Using this a bit more, possible arguments in favour of allowing to specify `evaltype`:

* When viewing the created actions in the UI, it is faster to grasp "and" instead of a longer formula.
* When modifying an action in the Ansible variables, currently adding or removing a condition requires also thinking about the identifiers and modifying the formula. That would not be needed with `evaltype`.

[2019-01-04 18:43] bazmera commented on #50387
I upgraded ansible to 2.7.5. I just had the same issue while creating db schemas.

[2019-01-04 19:16] AlanCoding commented on #50535
I think this is the same as https://github.com/ansible/ansible/issues/47252

[2019-01-04 19:36] nwsparks opened #50562 "ec2_asg fails when existing group uses launch template instead of launch config"
##### SUMMARY

When attempting to use `ec2_asg` to make changes to an already existing autoscaling group, the module fails.

Looks like probably the same problem as this issue: https://github.com/ansible/ansible/issues/47528

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu ansible host targetti

[2019-01-04 19:46] edununes commented on #47973
Hi Ravindra
I have the same problem, have you solved it?

[2019-01-04 20:05] sivel commented on #50551
This repository is for the open source ansible project and not for Tower or AWX.  Please file this issue at the correct location for your problem.

For Tower, please contact your support team.

For AWX, the issue tracker can be found at https://github.com/ansible/awx

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: ht

[2019-01-04 20:05] #50551 closed, assigned to nobody

[2019-01-04 20:09] daveolker opened #50566 "win_pagefile is not returning list of configured pagefiles"
##### SUMMARY
The below win_pagefile play is supposed to display the current pagefile configuration, but it is returning an empty list:

    - name: List any configured pagefiles
      win_pagefile:

ok: [dfo-worker04] => {
    "automatic_managed_pagefiles": true,
    "changed": false,
    **"pagefiles": []**
}

My Windows 2016 server has the following pagefile configuration:

C:\Windows\system32>

[2019-01-04 20:18] bcoca commented on #50556
my fix above might not be 'right' as after reading #32302, this seems like an intended consequence

set_fact needs to be set x2 to keep the high precedence, otherwise it will be low precedence, clearing facts will clear the cache, but will not remove the 'high precedence copy' of set_fact

so we need to decide which behaviour we prefer

[2019-01-04 20:33] #50154 closed, assigned to nobody

[2019-01-04 20:48] iamroddo commented on #50535
They look different to me, each issue reports a different traceback. #47252
is for "tower_cli.exceptions.NotFound: The requested object could not be
found". #50535 Is for "tower_cli.exceptions.AuthError: Invalid Tower
authentication credentials"

On Fri 4. Jan 2019 at 20:17, Alan Rominger <notifications@github.com> wrote:

[2019-01-04 21:12] paltaa commented on #47081
What a weird bug, anyways thanks for the info!

[2019-01-04 22:14] paylocity-sflanders opened #50569 "win_find: Exits if it can't access a file and will crash if the path it hits has PS centric wildcard characters"
##### SUMMARY
if you want to scan the entire C: this will typically break after a few minutes.

1.  if it can't access a file you'll exit with a warning with no info which is worthless.  the 'break' should be removed and path info should be added.  example

[code]
2.  Some paths will have characters that are considered wildcards in powershell so when using the Get-ChildItem -Path, it will break if

[2019-01-04 23:43] dagwieers commented on #49640
I think this is working as designed, if the Xpath cannot be processed it gives a failure.

Your request is to change a specific path into something else, so the next time this specific path is no longer found.

What you could do is remove the explicit check for that value:
[code]

So that the path keeps on working.

I understand that the original task won't be idempotent, but we cannot know whethe

[2019-01-04 23:52] dagwieers commented on #36305
Could you please create a pull-request for this ?

[2019-01-04 23:59] dagwieers commented on #36031
@hammersoft We always have had an example in the xml module documentation using namespaces. The problem we seem to have is that people don't expect their issue to be namespace related. This has been an issue for 3 years now.

We added a note to the xml module documentation to make people aware of this too. I don't know what else to do.

[2019-01-04 23:59] #36031 closed, assigned to nobody

[2019-01-05 00:01] dagwieers commented on #49640
I think this is related to: https://github.com/ansible/ansible/issues/34314

[2019-01-05 00:08] dagwieers commented on #50501
Honestly, what did you not understand from the issue template, that made you remove its content ?

**Complete *all* sections as described, this form is processed automatically**

What else could we do to get proper bug reports? Please tell us what you were thinking so we can make the template foolproof.

[2019-01-05 00:10] dagwieers commented on #50501
The previous comment may look offensive, but really, because you did not follow the template, this issue was not triaged automatically and did not end up with the people who actually manage the module that you reported an issue for. So you basically shot in your own foot by not following the template.

It is only a coincidence that I stumbled upon it.

[2019-01-05 00:12] #50501 closed, assigned to nobody

[2019-01-05 00:12] powerpbx commented on #50501
Yes

Fix it or don't.   Delete the comments if you think that is more important than actually fixing the problem

[2019-01-05 05:11] Akasurde commented on #42437
@mhalano Thanks for reporting this issue. Could you please check PR https://github.com/ansible/ansible/pull/50537 and let me know if it works for you ? Thanks

needs_info

[2019-01-05 11:54] richlv commented on #50517
For the record, modifying command in a discovery action and re-running the playbook properly updates it - adding the recovery operations, as per the original description, does not work.

[2019-01-05 12:46] richlv opened #50573 "zabbix_action: operation type headings not visible"
##### SUMMARY
Documentation source for the operation types includes headings, but these are not visible in the final documentation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action

##### ANSIBLE VERSION
devel

##### CONFIGURATION
Not applicable.

##### OS / ENVIRONMENT
Not applicable.

##### STEPS TO REPRODUCE
Looking at the source of the module, the operation type section inclu

[2019-01-05 12:52] #45898 closed, assigned to nobody

[2019-01-05 12:56] ghost opened #50574 "vmware_guest generate new SID for windows OS"
##### SUMMARY
For module vmware_guest in customization  parameters I would like to set the possibility to generate a new SID for windows OS.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_guest

##### ADDITIONAL INFORMATION
When deploy from template a vm with windows OS, is usefull generate a new SID for new VM.

[code]

[2019-01-05 18:18] coreywan opened #50579 "lookup plugin not finding module_util"
##### SUMMARY

I am attempting to build a role that has a custom set of  lookup plugins and modules. I want to use a custom module_utils file to reduce common code across lookup plugins.  The module_utils is working well for modules, but am having problems when referencing the module utility from the lookup plugin.

I have a following folder structure:
[code]
Within `lookup_plugins/solarwinds_leas

[2019-01-05 18:38] BarbzYHOOL commented on #50522
Ok will do then, sorry and thank you for being overly nice.

I'll do it asap here and open an issue if needed

[2019-01-05 18:51] NotAFile commented on #12610
As noted in the above issue:

This sounds like it'd be a reasonable workaround?

[2019-01-05 19:17] fff7d1bc opened #50580 "Ansible misrender files from multiline variable if it's json formated with literal \n inside."
##### SUMMARY
Ansible tend to misrender files if the content was limited to single Jinja2 variable as in `"{{ foo }}"`if the `foo` is a multiline JSON and contain literal `\n` string inside of values. This happen also if the multiline string is encrypted with `encrypt_string` of `ansible-vault`. This issue does not seems to be occur if the multiline string is not a JSON formated.

##### ISSUE TYPE

[2019-01-05 23:46] mgrela commented on #44447
Hi,

sorry for the late reply. Unfortunately I can't test your branch as I don't have access to this system anymore.

[2019-01-06 01:06] dagwieers commented on #50569
1. A PR would be nice.
2. We do have a win_robocopy module already that could use a little extra love. Especially the creation of some integration tests (= playbooks) which cover all its functionaloty.

[2019-01-06 01:26] richlv opened #50581 "zabbix_action: host group, template and inventory parameters not documented"
##### SUMMARY
Operation parameters host_groups, templates and inventory are not documented.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action

##### ANSIBLE VERSION
devel

##### CONFIGURATION
Not applicable.

##### OS / ENVIRONMENT
Not relevant.

##### STEPS TO REPRODUCE
https://docs.ansible.com/ansible/devel/modules/zabbix_action_module.html lists operation types to modify host g

[2019-01-06 06:20] protosam commented on #50410
@sivel thanks for sharing that. I'm still learning the filters of ansible and this one just had me stumped.

[2019-01-06 06:20] #50410 closed, assigned to nobody

[2019-01-06 12:15] AkshaySiwal commented on #44564
@slayer01 Have you got any workaround other than URI ? I am facing same error in my setup.

[2019-01-06 13:04] TomasTomecek opened #50583 "buildah connection doesn't work with rootless buildah & fuse-overlay"
##### SUMMARY

Edit: **resolved**; just wrap the playbook invocation with `buildah unshare`, like this:
[code]

----

When using rootless buildah and fuse-overlay together, buildah's mount command doesn't function due to a kernel limitation. This completely breaks the connection plugin since mount is the first thing that happens.

We have tracked the original issue at buildah's side: https://githu

[2019-01-06 16:01] rubentsirunyan commented on #50505
Cannot disagree :) If there are no objections, I will work on it as soon as I have some time.

[2019-01-06 16:16] aventrax commented on #30833
Ansible 2.7.5, Jan 2019, bug still present.
Time to close the issue with one of the proposed solutions, I used https://github.com/ansible/ansible/pull/46478/commits/e26af63f7ba9e03ea577b1fbff9d3a7dc40d6712 to get it working.

[2019-01-06 17:06] richlv commented on #50518
One thing I forgot to mention - I'm using this module with Ansible 2.6.7 (including other Zabbix modules that came with it). Could this cause any trouble?

[2019-01-06 18:33] rohith-gittest commented on #22944
For SSH connection timed out issue, Please check whether the host ip and host username are valid one.
If you want to setup and change ssh password in host ubuntu machine you can refer below video link: https://www.youtube.com/watch?v=pCnpgrraD1s

[2019-01-06 18:41] rohith-gittest commented on #19584
Please setup the SSH connection to the host machine and test it.
Once it's done, In the /etc/ansible/hosts file give the proper host IP.
Now to test the secure connection between ansible and host machine use the below command:
-> **ansible -i hosts -u vagrant --ask-pass -m ping all**
hosts-> hosts file (give proper host ip)
-u vagrant -> vagrant is my host machine username
--ask-pass-> It allows y

[2019-01-06 19:46] jborean93 commented on #50527
Thanks @felixfontein this is mostly a formality to ensure any subsequent PRs are tracked on our project board.

[2019-01-06 20:18] smurfix commented on #48134
If we do need to split that, `mountpoint` would work.

However, I do have a conceptual problem with splitting `mount` because this leads to code duplication in everybody's tasks: now I can write a `mount` rule which sets up the system's state (and ensures that it stays that way after rebooting), but after `mount` is deprecated I need two – with almost-but-not-quite the same arguments, and the conc

[2019-01-06 20:43] jborean93 opened #50585 "script: chdir on Windows does not work"
##### SUMMARY
Using the `chdir` module option for `script` on Windows does not work due to various issues. We don't have any integration tests and it looks like this has been broken for a few releases now.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
script

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Windows as a remote host

##### STEPS TO REPRODUCE
[cod

[2019-01-06 20:45] jborean93 commented on #50585
First issue has been fixes with https://github.com/ansible/ansible/pull/50365.

[2019-01-06 21:08] jborean93 commented on #50569
Thanks for the bug report

Makes sense, I think we should have a list of paths that fail and output one warning at the end with all the paths together would be good. Happy to see a PR with these changes to fix this issue

See above (hopefully with some integration tests to cover this) :)

There are lots of things that this module does which can cause it to "hang" when scanning a large folder, a fe

[2019-01-06 22:34] dagwieers commented on #48134
We have `module_utils` to avoid code-duplication. It's widely used.

[2019-01-06 22:50] jtyr commented on #48134
@smurfix I'm absolutely with you. It makes sense to have the `mount` module to manage the mounting as well as `fstab` file as you need the same parameters in both.

@dagwieers there is no problem to split the module. It's more about the convenience it brings if you use single module for both, the mounting and managing the `fstab` file.

[2019-01-06 23:47] hartzell opened #50587 "edgeos_facts; using debug to print config facts fails"
[edit: fix unclear wording (play -> task, ...)]

##### SUMMARY

Playbook hangs printing out "config" fact.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

edgeos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Mac OS X 10.13.6

##### STEPS TO REPRODUCE

I started with a config borrowed from this comment](https://github.com/ansible/ansible/issues/394

[2019-01-06 23:50] dagwieers opened #50588 "win_reboot: Another ReadTimeout issue (defaulting to 5 seconds)"
##### SUMMARY
During a **win_reboot** task we received a ReadTimeout exception making the module fail with an exception (rather than a proper failure).

This seems related to #46108 although for **win_reboot** it should be handled by the module better. Maybe even set the `read_timeout` to the `reboot_timeout` once both WinRM and PSRP have the support?

##### ISSUE TYPE
- Bug Report

##### COMPONEN

[2019-01-07 02:38] Akasurde commented on #19863
!component =lib/ansible/modules/cloud/openstack/os_floating_ip.py

[2019-01-07 03:02] Fred-sun commented on #50443
kindly ping

[2019-01-07 05:12] Tomorrow9 commented on #45407
There is pull request to address this issue: https://github.com/ansible/ansible/pull/37869, but it's closed.

[2019-01-07 05:40] jitesh88 commented on #47862
I seem to be having the same issue. I am using a Debian version 9.
i installed freetds via apt-get which only gets me to version 4.2
i tried overriding the version via an environment variable TDSVER=7.2 however that still fails.

[2019-01-07 05:41] jitesh88 commented on #39612
@vedit I have exactly the same error. hoping for some outcome.

[2019-01-07 06:09] Tomorrow9 commented on #31810
Submitted a new module to do this https://github.com/ansible/ansible/pull/50590.

[2019-01-07 06:45] kewalaka commented on #18184
Thanks for sharing an example @mikent05 - but I don't quite follow, how can a resource use a password that has been hashed?  e.g. [this](https://stackoverflow.com/questions/53975003/selectively-avoid-writing-sensitive-data-to-the-log-in-ansible-without-using-no) example with win_dsc?

I can't think of a good way around this problem - even if you could mark specific attributes as sensitive or someh

[2019-01-07 07:48] Fred-sun commented on #49885
@yuwzho

[2019-01-07 08:58] Akasurde commented on #50249
resolved_by_pr #50592

[2019-01-07 08:59] Akasurde commented on #50249
@NotAProfessionalDeveloper Could you please check if PR works for you ? You can follow docs added in https://github.com/ansible/ansible/pull/50592/files#diff-245a3a9549a5cf501e2a0cf86793e9c6

[2019-01-07 09:40] justjais commented on #50238
@s-giri can you please ask someone to look into the query: https://community.infoblox.com/t5/Getting-Started/Ansible-Play-to-add-a-Host-Address-without-changing-the-existing/m-p/15640/highlight/true#M128.

[2019-01-07 10:49] andrewbelcher opened #50594 "lookup('ini') parse failure with no value options"
##### SUMMARY
Using the `lookup('ini')` fails if the ini file contains no value options.

##### ISSUE TYPE
- ~Bug Report~
- Feature Request

##### COMPONENT NAME
`lookup('ini')`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu.

##### STEPS TO REPRODUCE
Perform a `lookup('ini')` for any file with a valueless option.

E.g.
`/etc/my.cnf`:
[code]

[code]

###

[2019-01-07 10:51] andrewbelcher commented on #50594
It seems to me the sensible solution is to set the `allow_no_value` option for the parser:

`lib/ansible/plugins/lookup/ini.py::107`
[code]

[2019-01-07 10:55] Ravindra-Tatikonda commented on #47973
Not yet resolved

On Sat, Jan 5, 2019 at 1:17 AM edununes <notifications@github.com> wrote:

[2019-01-07 11:29] #50241 closed, assigned to nobody

[2019-01-07 11:39] hannseman commented on #49285
Also related to
https://github.com/ansible/ansible/issues/50467

[2019-01-07 12:53] fean5959a opened #50598 "hashi_vault does not work when using secret field with KV v2"
##### SUMMARY
I tested new version of lookup module "hashi_vault" from master branch and I am not able to retreive key value from KV v2 when I specify the secret field I want.

It work fine if I change code of "get" method
From
[code]
to
[code]
Kv V2 is not managed corectly when retreiving secret field !

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hashi_vault

##### ANSIBLE VERSION
devel

[2019-01-07 13:36] Xinshiyou opened #50600 "shell: rm -r /tmp/"
##### SUMMARY

when I run with ansible the following playbook:
[code]
Sometimes , /bin/bash will be deleted . And I will not to login again.

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

3.10.0-327.el7.x86_64 #1 SMP Thu Nov 19 22:10:57 UTC 2015 x86_64 x86_64 x86_64

[2019-01-07 13:49] tterranigma commented on #45800
#49458 fixed this

[2019-01-07 13:49] #45800 closed, assigned to nobody

[2019-01-07 13:54] maxverro opened #50601 "ansible_os_family is undefined when Windows updates are pending"
##### SUMMARY
When a Windows 10 hosts (not tested for earlier version) has pending updates, some Ansible variables such has ansible_os_family are not collected.

##### ISSUE TYPE
- Bug Report

Some of our playbook have the following condition to make sure we deploy the application only on windows.

[code]
When some windows updates are pending, the ansible_os_family are others default variable, are

[2019-01-07 13:56] rseuchter commented on #36397
@sivel
Now that [support for Python 2.6 has been dropped](https://github.com/ansible/ansible/blob/stable-2.7/changelogs/CHANGELOG-v2.7.rst#major-changes) are there any blockers that could keep folks from revisiting this request?

What are your thoughts on argparse for Ansible? Should there be a migration before offering bash completion?

[2019-01-07 14:12] D3DeFi commented on #50518
Hey guys, just to pitch in. I've spinned up fresh 4.0.3 zabbix server:
* tested with fresh ansible checkout from source (`2.8.0.dev0`), 2nd run is idempotent (changed=false)
* checked out `tags/v2.6.7` and downloaded actual copy of zabbix_action.py into my library folder, 2nd run idempotent as well

My test playbook was almost identical to the one posted by @rubentsirunyan.

@richlv can you make s

[2019-01-07 14:16] piperun opened #50603 "Ansible-vault shows no editor if put inside $()"
##### SUMMARY

Essentially the issue is that with Ansible 2.5, if you put `ansible-vault --vault-password-file=key create file.yaml` inside `$(ansible-vault --vault-password-file=key create file.yaml)`, it will launch the $EDITOR of choice however, it'll not actually show the graphical UI of said editor, with vim giving the warning:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-vau

[2019-01-07 14:18] mateusz5 opened #50604 "bigip_data_group always return "changed=true" when partition is other than "common""
##### SUMMARY
When using bigip_data_group module to add data_group on F5 LTM partition other than "Common", result is allways "changed=true".
When adding on "Common" partition, I get "changed=false" if data_group is already there.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
bigip_data_group

##### ANSIBLE VERSION
[code]
Also, tested on ansible 2.6.0
f5_sdk = 3.0.20 (also tested on 3.0.16)

[2019-01-07 14:28] edcrosbys opened #50605 "vmware_guest fails provisioning with folder permission issue on NSX-T in VMC."
##### SUMMARY
Attempting to clone template results in:
[code]
   I have verified (the misspelled) folder name through govc find and vmware_guest_find. Cloudadmin user has permissions to provision to this folder from within vcenter and powershell. I have tried provisioning from content library and outside of content library with same results. I have tried specifying the cluster and/or esxi box as w

[2019-01-07 15:03] richlv commented on #50518
Thank you for pointing out that fix, as I do have a local copy of the module, it might indeed be a bit older - will test with the most recent version.

[2019-01-07 15:06] #34209 closed, assigned to nobody

[2019-01-07 15:08] tterranigma commented on #45803
Issue seems solved on devel branch.

[2019-01-07 15:08] #45803 closed, assigned to nobody

[2019-01-07 15:15] richlv commented on #50518
Awesome, looks like I was indeed missing that fix - all looks good with the latest version :)

[2019-01-07 15:15] #50518 closed, assigned to nobody

[2019-01-07 15:16] #50517 closed, assigned to nobody

[2019-01-07 15:31] D3DeFi commented on #50573
I was looking at other modules for an inspiration, but haven't found anything useful so far. Simplest thing that came to my mind is to simply add `description:` parameter with something like:
[code]

@rubentsirunyan @richlv what do you guys think about that?

[2019-01-07 15:42] richlv commented on #50573
Are the entries kept in order? If yes, the simplest would be to make the headings visible, somehow (normal entry that's in bold or whatever).

Referencing external API docs is explicitly cautioned against in https://docs.ansible.com/ansible/latest/dev_guide/developing_modules.html :

[2019-01-07 15:55] C0rn3j commented on #50272
Partially.

Am doing a simple reload like this -
[code]

So with that change instead of failing everywhere, it fails on machines where user `c0rn3j` is not logged in (because `c0rn3j`'s user dbus.service is not running on machines where the user is not logged in)
![image](https://user-images.githubusercontent.com/1641362/50777753-c0c75d80-129c-11e9-9d6b-2bc93d25e5a5.png)

---
Sidenote:
 I tried
[c

[2019-01-07 15:58] paltaa commented on #47081
This also happens if you end the yaml file with ---

[2019-01-07 16:03] D3DeFi commented on #50573
`choices` is a list, thus values should be kept in order as they were defined, but I am not sure about making the headings visible because they would look like a normal choice at a first glance (even if bold).

[2019-01-07 16:05] bcoca commented on #50272
at that point I think we can defer to 'how underlying systemd works' .. not sure we can do much about it. At least we are not failing due to missing path to query systemd itself.

[2019-01-07 16:19] C0rn3j commented on #50272
I think that's fair and I don't see another solution either.

[2019-01-07 16:24] funkyfuture commented on #49071
this could be based on the [JMESPath package](https://pypi.org/project/jmespath/).

[2019-01-07 16:24] edununes commented on #47973
I was able to solve using the blockinfile module, follow the example below if you are interested.

- name: Network Getting Started First Playbook
  connection: network_cli
  gather_facts: false
  hosts: lab
  tasks:

  - name: run multiple commands on remote nodes
    ios_command:
     commands:
      - show run
      - show inventory
      - show version
    register: output

  - name: save outpu

[2019-01-07 16:41] hannseman commented on #50467
@dariko I made a new PR (https://github.com/ansible/ansible/pull/50609) to replace `test_parameter_versions` with `AnsibleDockerClient.option_minimal_versions`. I think this will at least make it a bit easier to work with the correct set of parameters. Thinking if something like what's done in `docker_container` could be done here as well: https://github.com/hannseman/ansible/blob/f81502bea5c2f3ca

[2019-01-07 16:48] hairatheeav opened #50611 "session object has no attribute 'merge"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-01-07 16:49] sivel commented on #50600
I cannot see how this is possible, but consider the danger of running `rm` from the shell.

It is recommended to instead utilize the `file` module for removing files and directories.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-01-07 16:49] #50600 closed, assigned to nobody

[2019-01-07 16:55] hairatheeav opened #50612 "Session object has no attribute merge_environment_settings"
ISSUE TYPE
•Bug Report

ANSIBLE VERSION
  ansible 2.7.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5

CONFIGURATION

Default configuration

OS / ENVIRONM

[2019-01-07 16:58] jose-delarosa commented on #50426
@dnuka, it will help if you can provide your own analysis here. I do not test against emulators, so impossible to say what is going on here.

[2019-01-07 17:07] hairatheeav commented on #50612
COMPONENT NAME
Pywinrm 0.2.2
request 1.1.0

[2019-01-07 17:19] sivel commented on #50612
The reason for this is that you are running an incompatible version of requests with pywinrm.

pywinrm 0.2.2 requires `requests>=2.9.1`:

https://github.com/diyan/pywinrm/blob/9b3269bf28ef9fa3dc393fd077ab28eb8d187f90/setup.py#L26

You will need to upgrade `requests` to a supported version.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.ne

[2019-01-07 17:19] #50612 closed, assigned to nobody

[2019-01-07 17:22] s-hertel commented on #50556
Hm… that both makes sense and makes me see a perk for modules returning ansible_facts as those facts can be eventually removed but set_fact will only ever accumulate or overwrite hostvars. Should refreshing the inventory work for hostvars?

[2019-01-07 17:43] #29420 closed, assigned to nobody

[2019-01-07 18:18] tterranigma commented on #48060
Most of the issues are gone! That's great! I left the first issue which I couldn't cross check right now and the second one that still fails.

[2019-01-07 18:35] tacobayle commented on #48060
Hey @tterranigma,
Does it mean that we can create network/subnet in gcp which are no more legacy?
If so, I will have a try later today or tomorrow and I will also feedback.

Is the first issue that you referred to in your last message this one: "Running with no credentials errors with: `Credential type 'None' not implmented'. A message explaining the situation would be better I think."?

Thanks

[2019-01-07 18:54] billdodd commented on #50426
@dnuka

I ran a test with a similar playbook (`redfish_facts` with `category: all` and `command: all`) and did not see this problem. I was running the latest `devel` build.

A recent PR (#49961) added an additional param to get_nic_inventory(). So I suspect your sandbox is out of sync. In other words, you may have the latest redfish_utils.py but not the latest redfish_facts.py.

[2019-01-07 19:14] tterranigma commented on #48060
@tacobayle Yes and yes!

[2019-01-07 19:25] richlv commented on #50573
I'd say - go with something simple first. Maybe in addition to formatting make the content obvious, like "Parameters for trigger action:", "Parameters for discovery actions:" etc.

[2019-01-07 19:43] mauved opened #50615 "rpm_key module: Importing key bundles"
##### SUMMARY
The rpm_key module runs `rpm --import` when importing a key file but does not check for multiple key IDs in a key file. `rpm --import` is designed to be able to import multiple keys from a single file.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
rpm_key

##### ADDITIONAL INFORMATION
rpm_key currently returns only the first public key ID it finds in a key file.

https://git

[2019-01-07 19:49] nabheet commented on #34054
FWIW, I like @davidbaril's solution of checking pip installed version of PyOpenSSL instead of yum. I am not sure how to do it though.

[2019-01-07 20:32] stobias123 opened #50617 "vmware_guest - vapp_properties not set."
##### SUMMARY
When using `vmware_guest` module to deploy an OVA template, you cannot use `state: poweredon` and have your `vapp_properties` set.

Per the docs...

This is not the cast, vapp parameters are _only_ set when state is set to present.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`vmware_guest`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
F5

[2019-01-07 20:50] felixfontein commented on #34054
Out of curiosity: which version of [cryptography](https://pypi.org/project/cryptography/) do you have available / can you install without much hassle?

[2019-01-07 20:52] powerpbx commented on #5564
Improving on @berney answer. The map pipe can be removed completely.  This allows you to append other output if necessary.
[code]
Which outputs
[code]

[2019-01-07 21:01] nabheet commented on #34054
[code]

[2019-01-07 21:41] sivel commented on #50611
Duplicate of https://github.com/ansible/ansible/issues/50612

[2019-01-07 21:41] #50611 closed, assigned to nobody

[2019-01-07 21:45] bcoca commented on #50556
no, since they are not technically inventory, they are associated to the host, but not read from inventory

[2019-01-07 21:48] joefodor commented on #45184
I as well am having an issue and trying to find a way to do this.

[2019-01-07 22:02] MarkusTeufelberger commented on #34054
if you can use pip, you don't have the problems listed in this issue...

[2019-01-07 22:02] hairatheeav opened #50619 "Ansible unable run winram on local user"
SUMMARY

I am trying to connect to a windows host using win_ping module. Also enabled Basic and Allowencrypted True on windows hosts as well. But still I am getting the error ""ssl: the specified credentials were rejected by the server" ,  trying with the local user which is under Adminitsrator Group. And we are able to login to the windows host successfully with the same username and password wha

[2019-01-07 22:19] jborean93 commented on #50619
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-01-07 22:19] #50619 closed, assigned to nobody

[2019-01-07 23:14] felixfontein commented on #50467
I guess the best solution to the defaults problem is to get rid of the defaults ;-) The hard part about that is not breaking backwards compatibility (too much)...

[2019-01-07 23:18] nabheet commented on #34054
actually I couldn't get this module to work - I installed pyOpenSSL version 0.15 and 18.0.

[2019-01-07 23:30] UnitedMarsupials-zz opened #50623 "archive-modules remove does not"
##### SUMMARY
Some of the archived file(s)/directories are not removed despite `remove: true`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
archive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
After each batch is successfully archived, I expect the entire batch-specific subdirectory to be comple

[2019-01-07 23:30] felixfontein commented on #49285
I don't think we officially support image digests yet, so there's no reason why they should work :) `docker_container` will probably have the same problem.

[2019-01-07 23:33] felixfontein commented on #49267
PR for `docker_swarm_facts`: #50622

[2019-01-07 23:43] UnitedMarsupials-zz opened #50624 "zip files created by archive-module are flagged by unzip"
##### SUMMARY
When using `unzip -t` on a ZIP-archive created by the archive-module, every archived directory is flagged.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
archive

##### ANSIBLE VERSION
2.7.5

##### OS / ENVIRONMENT
Remote is Linux (RedHat-6.x)

##### STEPS TO REPRODUCE
Create a ZIP-archive of a directory tree with archive-module.

[code]
Then attempt to check the result: `unzip

[2019-01-08 00:03] BDworak opened #50626 "nxos_install_os ignoring PERSISTENT_COMMAND_TIMEOUT and PERSISTENT_CONNECT_TIMEOUT passed as extra_vars"
##### SUMMARY

When using the nxos_install_os module, the persistent command/connect timeout variables are only being read from ansible.cfg. If these variables are passed from extra_vars or set in playbook they are ignored.

It is important to note we are running this via Ansible Tower.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[lib/ansible/plugins/action/nxos.py](https://github.com/an

[2019-01-08 00:04] mattclay opened #50627 "rabbitmq_plugin unrelated output in disabled plugin list"
##### SUMMARY

The rabbitmq_plugin includes unrelated output in the disabled plugin list.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

rabbitmq_plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

1. Remove `new_only: True` from the rabbitmq_integration test: https://github.com/ansible/ansible/blob/774a667591de7245a62455653

[2019-01-08 00:11] jamescassell commented on #48632
Regarding yum-utils, it seems that the yum module installs these unconditionally if they're not already there, which surprised me, as I didn't ask for it... but maybe that should be a separate issue...

[2019-01-08 00:15] Jackyjjc opened #50632 "Kinesis module does not handle stream with more than 100 shards"
##### SUMMARY
The ansible module calls describe_stream() to get the list of shards but it does not handle pagination correctly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
 ansible/lib/ansible/modules/cloud/amazon/kinesis_stream.py

##### ANSIBLE VERSION

[code]
However the problem still exists in master

##### ACTUAL RESULTS

https://github.com/ansible/ansible/blob/v2.7.5/lib/ansible/mod

[2019-01-08 00:28] gmcgilvray opened #50633 "ios_* paramiko connection issues"
##### SUMMARY
Ansible fails to connect to IOS Version 15.0(2)SE11 on a Cisco 3750x when trying to use purely pubkey authentication. I have verified that I can ssh into the switch with standard `ssh` command and that ansible can connect using a password.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-01-08 01:28] michaelford85 opened #50635 "nxos_config fails (but returns success) due to returned warnings"
##### SUMMARY

When running a task utilizing the nxos_config module, there are no errors thrown by ansible and it appears as if everything ran fine, however some commands do not execute. We believe it has to do with the fact that when the command is entered on the switch, a warning is displayed, this may be throwing off the Ansible interface. The warnings in question when configuring the switch ma

[2019-01-08 01:33] michaelford85 commented on #50635
Awaiting details on nxos version, ansible version, etc. from the operator. Will update when I receive it.

[2019-01-08 01:44] andrewmcgilvray commented on #50024
health_check_protocol is now required for the health_check_path to be set .. i got bitten too :-)
https://github.com/ansible/ansible/blob/stable-2.7/lib/ansible/modules/cloud/amazon/elb_target_group.py#L428

[2019-01-08 01:48] xiaozhu36 commented on #49225
HI @zhaolx01 the Module 'alicloud_instance' has been deprecated. Please use the 'ali_instance' instead.

[2019-01-08 01:49] xiaozhu36 commented on #49225
@zhaolx01 Also, I have made some improvements to 'ali_instance'. Please update it and its dependence "footmark".

[2019-01-08 02:43] evulhotdog commented on #45219
In my configuration, I am using ansible-pull. All was well, then I tried to install iotop via apt module. All of the other applications install perfectly fine, but iotop is what causes the error to magically be thrown for some reason.

OS: `Ubuntu 18.04`
Ansible:
[code]

[code]

I have `become: false` set, so it should not be using sudo whatsoever.

If I manually run ansible-pull command to let it

[2019-01-08 02:49] #47849 closed, assigned to nobody

[2019-01-08 03:34] bendoh commented on #50624
Thanks for the report!

[2019-01-08 03:40] dnuka commented on #50426
@billdodd @jose-delarosa Happy new year! :)
will look into your comments.

[2019-01-08 03:50] #46993 closed, assigned to nobody

[2019-01-08 03:57] ganeshrn commented on #50513
Fix cherry-picked to stable-2.7 branch https://github.com/ansible/ansible/pull/50138 will be available in v2.7.6

[2019-01-08 03:57] ganeshrn commented on #40267
Fix cherry-picked to stable-2.7 branch https://github.com/ansible/ansible/pull/50138 will be available in v2.7.6

[2019-01-08 04:00] Fred-sun commented on #49281
@yuwzho @zikalino Sorry, I can't reproduce this issue, Could you help take a look this issue? Thanks!

[2019-01-08 05:15] NilashishC commented on #35870
Resolved by #50193

[2019-01-08 05:15] #35870 closed, assigned to NilashishC

[2019-01-08 05:57] dnuka commented on #50426
@billdodd
After updating my repository to latest devel build, this issue no longer appears. So, I'm closing this issue :)

[2019-01-08 05:57] #50426 closed, assigned to nobody

[2019-01-08 06:38] Fred-sun commented on #45335
@zikalino

[2019-01-08 07:21] Fred-sun commented on #43416
@yuwzho Could you help take a look this issue when you're available? Create VM behavior not match with ansible's document, same with azure cli(not auto create storage account). But if no specify managed_disk_type( Create VM) it will auto create storageaccount. Thanks!

[2019-01-08 07:51] Tomorrow9 commented on #50574
I can try to handle this request. Thanks.

[2019-01-08 08:15] liusheng opened #50638 "File module cannot change permission of a directory including cyclic symbol links."
##### SUMMARY

`MODULE FAILURE` occurred when using `file` module to change permissions of a directory which including cyclic symbol link.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible/lib/ansible/modules/files/file.py

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

1. create directories with cyclic symbol link, like bellow:
[code]
2. and then run the following testing pl

[2019-01-08 08:30] tetsuyasodo opened #50639 "eos_l2_interface unable to change port mode between access and trunk"
##### SUMMARY
eos_l2_interface is unable to modify L2 interface vlan mode from access to trunk due to the following error:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_l2_interface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ansible:Ubuntu16.04
Arista:vEOS, EOS-4.20.1F

##### STEPS TO REPRODUCE
when Ethernet2 port is trunk mode, the following p

[2019-01-08 09:10] etmatrix commented on #50574
I have seen there is changeSID in pyvimomi and I developed a patch, but I discovered the SID is already changed with sysprep by vmware, so is my fault.
The module vmware_guest already change SID.

[2019-01-08 09:14] cognifloyd opened #50640 "Feature request: allow callback plugins to inspect "no hosts matched" patterns to enrich the warning message"
##### SUMMARY
When a host pattern does not match, I would like to inspect it to offer inventory-specific (or infrastructure-specific) suggestions for alternative patterns that would match a host. This would allow me to write a plugin that detects common host pattern errors like misspelling an inventory_host.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
~InventoryManager~
new callback for

[2019-01-08 09:14] #50574 closed, assigned to nobody

[2019-01-08 09:58] #40054 closed, assigned to nobody

[2019-01-08 10:40] pjmcquade commented on #47689
Confirmed.  Worked for me as well.

[2019-01-08 10:46] #39293 closed, assigned to nobody

[2019-01-08 11:13] ewypych opened #50643 "Subelements filter is not included in Ansible 2.5, but is included in Porting Guide to Ansible 2.5"
##### SUMMARY
In the [Porting Guide to 2.5](https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#with-subelements) we can see this:

But the problem is, that in the [filter documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#subelements-filter) I see that:

When I try to change old `with_subelemenst` to this filter (according to the Por

[2019-01-08 11:33] snemir2 commented on #38039
It works for me since 2.5.5

[2019-01-08 11:42] trishnaguha commented on #50639
resolved_by_pr https://github.com/ansible/ansible/pull/50644

[2019-01-08 11:57] #50639 closed, assigned to trishnaguha

[2019-01-08 12:23] lojies opened #50646 "‘’ansible -i inventory all -m setup‘’ cost more than 1 hour and no return"
##### SUMMARY

[code]
gather_facts cost more than 1 hour and return nothing
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

core
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

[code]
then i add different gather_subset
[code]
[code]
[code]
[code]
[code]
this can not return anything as gather all facts.
[code]
[code]
[code]
[

[2019-01-08 12:40] gadelkareem opened #50647 "Play only tags"
##### SUMMARY
Sharing tags between plays and tasks limits the usage of the playbook. For ex, if I want to run only the plays that has a tag "play1-tag" and only the task that has the tag "task2-tag" it will never work without a setting conditional variables.

A "play-only-tag" would solve this problem by allowing extra parameters to the ansible-playbook command.

##### ISSUE TYPE
- Feature Idea

#

[2019-01-08 12:42] ssbarnea commented on #48313
I can confirm the bug as we just encountered it at http://logs.openstack.org/13/626613/1/check/tripleo-buildimage-overcloud-full-centos-7/e9d97b2/job-output.txt.gz

Mainly we do unmount and try to run parted after, which fails because it was not unmounted.

[2019-01-08 12:52] hannseman commented on #49285
I see, maybe that discussion is best made in a new issue then. One cool usecase is to trigger a service update when a new image is available instead of having to set `force_update`.

[code]

[2019-01-08 13:06] #35896 closed, assigned to nobody

[2019-01-08 14:08] abenokraitis commented on #41200
Greetings, this issue, if fixed in Ansible would be extremely invasive, and could break existing deployments. Due to this, the Ansible team isn't able to move forward and would instead have this be fixed in jinja.

[2019-01-08 14:08] #41200 closed, assigned to justjais

[2019-01-08 14:13] abenokraitis commented on #43254
resolved_by_pr 43151

[2019-01-08 14:19] abenokraitis commented on #43842
Greetings @yaplej: Not sure if this is still an issue, but haven't heard from you, waiting on feedback. Please re-open with responses to feedback to your PRs. Thanks!

[2019-01-08 14:19] #43842 closed, assigned to rcarrillocruz

[2019-01-08 14:28] #43254 closed, assigned to rcarrillocruz

[2019-01-08 14:42] dagwieers commented on #49640
And it could also be related to: #40623

[2019-01-08 14:50] abenokraitis commented on #45602
@AngelFreak Can you please re-test using 2.7.x and report back? needs_info

[2019-01-08 14:53] abenokraitis commented on #46725
needs_info

[2019-01-08 15:03] IPvSean commented on #34711
thanks!

[2019-01-08 15:03] #34711 closed, assigned to gdpak

[2019-01-08 15:03] sohamdigheoss commented on #48624
Hey @alexcurtin are you still working on this issue?

[2019-01-08 15:08] bcoca commented on #50647
I'm not sure what you are asking for, could you provide actual examples of usage?

Also you seem to be conflating plays with playbooks, playbooks contain a list of plays, plays map hosts to tasks. You have playbook-tags on a play which you named 'Playbook', but it is still a play

needs_info.

[2019-01-08 15:11] #50581 closed, assigned to nobody

[2019-01-08 15:16] sivel commented on #50643
The problem is that the file used to provide that information is a shared snippet (`with2loop.txt`) used in multiple places:

https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#with-subelements
https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#with-subelements

[2019-01-08 15:20] abenokraitis commented on #50635
cc @abenokraitis @IPvSean

[2019-01-08 15:22] abenokraitis commented on #50635
cc @mikewiebe FYI

[2019-01-08 15:44] maxamillion commented on #50541
The error message seems as though there is a system configuration issue with the repository. `"http://repo.uni.rjil.ril.com/cd/redhat/%24YUM1/Packages/xrestop-0.4-7.1.el6.x86_64.rpm: [Errno 14] PYCURL ERROR 22 - \"The requested URL returned error: 404 Not Found\"`

[2019-01-08 15:44] rjw57 opened #50654 "docker_swarm_service incorrectly detects services running if names have a common prefix"
##### SUMMARY

The Docker API used to query services takes a filter parameter. Filtering by name includes services whose name matches the name given but the match is not exact. For example, if there are services "foo-bar" and "foo-buzz" running then searching for a service with name "foo" matches both.

In this case, the logic used by docker_swarm_service to determine if the "foo" service was runn

[2019-01-08 16:17] Qalthos commented on #34997
resolved_by_pr 50028

[2019-01-08 16:28] #34997 closed, assigned to ganeshrn

[2019-01-08 16:37] lottspot opened #50656 "Cannot set network using vmware_guest module"
##### SUMMARY

When attempting to set the VM network using the vmware_guest module, we are receiving an error telling us the network does not exist, despite the fact that a dump of the existing portgroups on the ESXi server the VM is placed on shows that it does in fact exist. This error occurs whether the NIC already exists on the VM or not, and whether or not it is set to connected.

Not sure if

[2019-01-08 17:01] bcoca commented on #50647
this seems to be a special case of #11396, which would allow for 'tag patterns' , similar to how we currently allow for host selection

[2019-01-08 17:06] svyotov commented on #31503
label from [loop_control](https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#loop-control) can be used for such purposes.

[2019-01-08 17:08] jtyr commented on #48313
@ssbarnea Please could you provide your `/proc/self/mountinfo` before and after you run the Ansible task and also possibly after you run `umount` command manually.

[2019-01-08 17:36] ssbarnea commented on #48313
Sorry but I am unable to do this because this happened only on CI and by the time you see the error the entire machine was recycled. If I ever encounter it on a machine I will remember to do this.

As a note, the target machine was indeed CentOS 7.5, source is not important, ansible used clearly not 2.7, probably a latest 2.5 one (zuul adopts newer versions much slower).

[2019-01-08 17:52] gadelkareem commented on #50647
I am not sure about the code, but I think separating "play-tags" from "task-tags" would simplify this feature and avoid problematic dependencies.

[2019-01-08 17:58] bcoca commented on #50647
not really, since there is no concept of 'play selection' for execution, we only select tasks, plays just map tasks to hosts and 'contain' them for inheritance purposes

[2019-01-08 18:23] dagwieers commented on #29561
@kairoaraujo Thanks!

[2019-01-08 18:23] #29561 closed, assigned to nobody

[2019-01-08 19:03] BarbzYHOOL commented on #50522
@bcoca I retested the above and it worked fine, I don't know what I did specifically but I can't reproduce it (but i clearly remember seeing tasks being ran twice in a row from the same role).

Fuck I should have noted it down as I do usually

[2019-01-08 19:14] felixfontein commented on #50654
@rjw57 thanks for filing this issue! I think your analysis is correct, that change will fix the problem.

Do you want to create a PR for this? Or do you want us to do that?

[2019-01-08 19:34] bcoca commented on #50556
So this is a tricky one, `set_fact` + `cacheable=true` actually sets 2 variables, a normal 'set_fact' hostvar and an actual `ansible_facts` variable, this 2nd one is the one in the cache and DOES get removed by `meta: clear_facts` but it does not affect the first one.

solutions:
- modifying `clear_facts` to handle `set_facts` would require keeping track yet another instance of the variable and th

[2019-01-08 20:01] rjw57 commented on #50654
@felixfontein Thanks. It's testament to the readability of the Ansible code that it was easy to find.

I whipped up a quick one: https://github.com/ansible/ansible/pull/50665

[2019-01-08 20:03] sivel commented on #50258
resolved_by https://github.com/ansible/ansible/pull/50666

This was originally fixed in https://github.com/ansible/ansible/pull/45744 but was never backported into the 2.7 release.

[2019-01-08 20:17] ghost opened #50668 "unable to use --- k8s modules or kubernetes modules in ansible"
##### SUMMARY

unable to use --- k8s modules or kubernetes modules in ansible

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-01-08 20:17] jborean93 commented on #50147
Ansible 2.5 is the oldest supported version but it is only for security fixes as per https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html. As this is not in issue in Ansible 2.6 and newer then there isn't anything we can do to help you. Please upgrade Ansible to a newer version to fix this issue.

[2019-01-08 20:17] #50147 closed, assigned to nobody

[2019-01-08 20:17] evandam opened #50669 "Pass `attribute` to the `max` filter"
##### SUMMARY

The jinja2 filter for [max](http://jinja.pocoo.org/docs/2.10/templates/#max) allows specifying an `attribute` to use in an object to determine the max value, but it seems the filter in Ansible doesn't allow any other arguments to be passed in.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

max filter

##### ADDITIONAL INFORMATION

Easily find values in a list of objects, su

[2019-01-08 20:19] kylix3511 commented on #50529
+1

[2019-01-08 20:20] samdoran commented on #50162
This behavior has always been the case. We need to document this as well as add tests to ensure this behavior does not change.

[2019-01-08 20:21] kylix3511 commented on #50529
Tested in 2.6.11 version also ... same error and same issue.

[code]

Error Message :

[code]

[2019-01-08 20:40] sivel commented on #50276
@kluisi can you please reduce this to a more minimal use case?

I cannot see how this is happening, other than the fact that you are downloading the roles into a different directly.

This needs to be verified, but the reproducer is overly complex.

[2019-01-08 20:41] sivel commented on #50346
!component =lib/ansible/modules/cloud/openstack/os_server_goup.py

[2019-01-08 20:41] kylix3511 commented on #50668
[code]

[2019-01-08 20:41] sivel commented on #50288
!component =lib/ansible/modules/packaging/os/zypper.py

[2019-01-08 20:45] jborean93 commented on #50307
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-01-08 20:45] #50307 closed, assigned to nobody

[2019-01-08 20:45] nitzmahone commented on #37355
We discussed amongst the core team, and are generally agreed that this is the right thing to do. However, the horse has already left the barn for non-idempotent "nameless" jobs- making the arg required now will break playbooks without warning.

@jpmens Feel like whipping up a PR that adds a deprecation warning that `name` will be required in $release+2?

[2019-01-08 20:46] sivel commented on #50333
We are not opposed to this idea.  It can be done currently by supplying the user:password in the URL itself, but we cannot ensure the security of doing so.

We are not planning to implement this currently, but would be open to a user submission of this feature that does so securely without exposing the password to the command line.

[2019-01-08 20:47] sivel commented on #50355
!component =lib/ansible/modules/network/nxos/nxos_feature.py

[2019-01-08 20:48] sivel commented on #50360
!component =lib/ansible/modules/messaging/rabbitmq/rabbitmq_user.py

[2019-01-08 20:48] samdoran commented on #50334
For whoever implements this, it should be a new module rather than adding a new feature to the `git` module.

[2019-01-08 20:49] #50362 closed, assigned to nobody

[2019-01-08 20:52] samdoran commented on #50377
Is the setting not present in the `sysctl.conf` file? You may need to restart the system or a service in order for this to take affect. What are you expecting to see that indicates to you this module has worked?

needs_info

[2019-01-08 20:53] kylix3511 commented on #50529
Thanks @fabianvf.

Thats helpful and worked.

Now my goal is to use ansible AWX to use the same operations. Any idea to how to do that ? Have you done that before ?

[2019-01-08 20:54] sivel commented on #50399
!component =lib/ansible/modules/cloud/smartos/imgadm.py

[2019-01-08 20:58] fabianvf commented on #50529
No, I haven't used AWX very extensively so I can't really be of much help there. I'd recommend asking in IRC.

[2019-01-08 20:59] samdoran commented on #50408
This seems like some confusion around how paths are searched for inclusion or import.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-01-08 20:59] #50408 closed, assigned to nobody

[2019-01-08 20:59] sean-abbott opened #50670 "Trying to run ansible from within a multistage docker build to reduce the size"
##### SUMMARY
I'm trying to use ansible in a multistage docker build to save on space. I really just want to copy the successful ansible build into /usr/local and have it work...but it does not. I get

[code]

##### ISSUE TYPE
- Bug Report / help request

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
(output below, but it's 2.7.5)

[code]

##### CONFIGURATION
Also gets a module error

#####

[2019-01-08 21:00] jpmens commented on #37355
@nitzmahone I think if a core team member does the PR it'll be applied in a more timely fashion; I'll leave it in your able hands

[2019-01-08 21:01] sean-abbott commented on #50670
I"m quite sure that if I found the right combination of environment variables, this would run
but I can't get it
I can't quite understand the way that
[code]
The ansible python module location, configured module search path, and executable locations are set,

[2019-01-08 21:06] jborean93 commented on #50452
!component =lib/ansible/modules/files/file.py

[2019-01-08 21:08] sean-abbott commented on #50670
Nevermind, I found it.

I wasn't setting PYTHONPATH correctly. sys.path only included dist-packages.

When I explicitly set PYTHONPATH=/usr/local/lib/python3.5/site-packages it worked.

[2019-01-08 21:08] #50670 closed, assigned to nobody

[2019-01-08 21:16] sivel commented on #50487
We have discussed this and have decided against adding this functionality.

The recommendation would be to do one of the following:

1. Use `state=latest` but always provide version pinning in `name` via `ara=x.y.z`. Not pinning an actual version and just using `state: present` will undoubtedly lead to unexpected results
1. Use the `ternary` filter instead of the more verbose jinja you have used:

[2019-01-08 21:16] #50487 closed, assigned to nobody

[2019-01-08 21:18] samdoran commented on #50509
Can you please provide the output of `-vvvv`?

needs_info

[2019-01-08 21:20] abadger commented on #50503
We think this would be an okay feature for someone to pick up and give us a PR with one change to the proposal.  We do not think it's a good idea to change the behaviour of ```check_str``` and the ```str``` type at this point in time.  We think that most modules probably depend on this behaviour at this time.  However, if this were a separate type (for instance, ```strictstr```) which errored when

[2019-01-08 21:33] abadger commented on #50503
Put on public irc meeting to discuss possible solutions.

[2019-01-08 21:33] felixfontein commented on #50503
I fully agree with that. That's why I suggested to issue a warning, and not an error :-)

Maybe just doing that for the development version for some time would already be interesting, to see how often this actually happens. Or a functionality where you can configure via a command line flag whether you want to ignore such things, have a warning, or an error. Though that might make things way too co

[2019-01-08 21:41] bcoca commented on #50554
Since this is something that really must be done in the Jinja2 core, I'm going to close this issue here.

[2019-01-08 21:41] #50554 closed, assigned to nobody

[2019-01-08 21:44] #50579 closed, assigned to nobody

[2019-01-08 21:46] dagwieers commented on #50503
To me this is something we could change over time, e.g. in a v3.0 release that is properly prepared. A release including other potentially breaking changes that we eventually have to discuss... (I think it would be a good idea to keep a list of things like this for whenever we feel ready for it)

[2019-01-08 21:50] samdoran commented on #50580
Related to https://github.com/ansible/ansible/issues/34595#issuecomment-356091161

[2019-01-08 21:51] samdoran commented on #50580
Can you test this with native Jinja types enabled? `DEFAULT_JINJA2_NATIVE=True`

[2019-01-08 21:57] dsummersl commented on #37355
If it helps I can add whip up that PR, unless as jpmens says it'll be more expedient to have someone on the core team do it.

[2019-01-08 22:01] bcoca commented on #50594
so we are leaving this open as a feature request, but you already have a `default` option that will bypass the error for missing keys.  https://docs.ansible.com/ansible/latest/plugins/lookup/ini.html#parameters

[2019-01-08 22:18] bcoca commented on #50640
none of the above would work as they assume inventory works on demand for the host pattern, it is the opposite.

The inventory gets assembled from each plugin, they each contribute 'what they know' having hit any cache they use (or not) at the time of Ansible starting up, it then merges all that data into a single Inventory data structure.

The host patterns are processed at many points, mostly at

[2019-01-08 22:18] #50527 closed, assigned to nobody

[2019-01-08 22:49] andrewbelcher commented on #50594
Unfortunately that doesn't solve it. The key is in the file and has an unknown value (so can't use a default), but due to the valueless key (which is not the one I'm trying to retrieve), the entire file fails and I get no results.

[2019-01-08 23:04] bcoca commented on #50594
oh, had misunderstood, the whole file is considered invalid if any key does not have a valid value, its not an issue with the specific key you are trying to retrieve.

[2019-01-08 23:12] #49712 closed, assigned to nobody

[2019-01-08 23:42] BDworak commented on #50626
!component +lib/ansible/plugins/action/nxos.py

[2019-01-08 23:50] andrewbelcher commented on #50594
Yes, that's correct. The default for `ConfigParser` is to not allow valueless keys, but I can't see how that's advantageous for the lookup and it definitely causes problems.

If we want to keep the existing behaviour, exposing it as an additional optional param would allow you to opt into that behaviour.

[2019-01-08 23:56] michaelford85 commented on #50635
Added the following to the bug report:

- Ansible version
- NX-OS version
- ansible.cfg output

[2019-01-09 00:25] #42596 closed, assigned to nobody

[2019-01-09 02:03] jborean93 opened #50688 "Windows become does not unload profile for Server 2008 and 2008 R2"
##### SUMMARY
When using become on a Windows Server 2008 or 2008 R2 host, the profile for the become user is not unloaded after the task is complete. This means the profile for that user is unable to be removed until the host is restarted. I could not replicate the same behaviour on Server 2012+.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/executor/powershell/become_wrapper.ps

[2019-01-09 02:16] Fred-sun commented on #28392
@zikalino Could you help take a look this issue when you're available? Thanks!

[2019-01-09 02:42] dagwieers commented on #17953
bot_status

[2019-01-09 02:48] dagwieers commented on #17953
!component -lib/ansible/module_utils/facts/network/aix.py

[2019-01-09 03:04] cognifloyd commented on #50640
Yes. I get that host pattern parsing happens long after inventory plugins have populated the inventory.

With options 2-5, I was hoping to find a way to add an **additional** entry point into the inventory plugins that would allow them to enrich the warning message with helpful hints. If there were such an entry point then maybe the inventory plugins could do more than just enrich the warning mess

[2019-01-09 03:21] cvoltz opened #50692 "Add support for options to Make module"
##### SUMMARY
Add support to the `make` module so it can accept short and long option switches like `-k` and `--keep-going`. The existing `params` parameter is a dictionary which only supports assignments of a key and value with no hyphen to provide the equivalent of `make target KEY=VALUE`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
make

##### ADDITIONAL INFORMATION
The `make` comman

[2019-01-09 04:17] kluisi commented on #50276
@sivel Thanks for getting back to me.

It's kind of a complicated use case with a role that reads input data and calls another role based on that input data. I simplified a little by only providing only two different hello roles instead of three. I also removed some of the tasks in the play to only provide the actual failure case.

The actual procedure to verify the bug is not all that complex usi

[2019-01-09 05:22] felixfontein commented on #50424
This will be fixed for 2.7 by #50697 and for 2.8 by #48473.

[2019-01-09 05:25] pjnagel opened #50698 "java_keystore fails on Python 3 (bytes/str issue)"
##### SUMMARY
java_keystore fails with "TypeError: a bytes-like object is required, not 'str'" when run with Python 3.5 as ansible_python_interpreter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
java_keystore

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
(No output)

##### OS / ENVIRONMENT
Target OS: Ubuntu 16.04.5 LTS

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
T

[2019-01-09 05:56] Naveeeen commented on #50541
Hello Maxamillion,

This is due to the 2 repos being configured in the server. It connects to the correct repo and starts downloading, but exits later.

[2019-01-09 06:05] Fred-sun commented on #46659
kindly ping

[2019-01-09 06:06] #48069 closed, assigned to Akasurde

[2019-01-09 06:47] Tomorrow9 commented on #45407
I'll take care of this in a new PR later, thanks.

[2019-01-09 07:20] metalloyd commented on #16443
@sfgeorge I have a `ansible_ssh_pass` with `{#` in my inventory. How should i go about escaping that?
My `hosts` file has the below content:

[code]

[2019-01-09 07:49] Fred-sun commented on #42407
@zikalino

[2019-01-09 08:03] D3DeFi commented on #50573
Judging by the review in #50548 I would say that we should use description field for this as well. Maybe instead of providing link to Zabbix documentation we can describe the relations manually:

[code]

Although I am worried that it will be a bit hard to read. What do you think?

[2019-01-09 08:13] Fred-sun commented on #39977
@yungezz

[2019-01-09 08:33] Akasurde commented on #48069
resolved_by_pr #50533

[2019-01-09 08:40] Akasurde commented on #50669
!component =lib/ansible/plugins/filter/core.py

[2019-01-09 09:02] sebastiendarocha commented on #47837
Hi,

You're right, you can't set a policy and give an action at the same time : the policy applies on the whole chain while the action only applies to a rule.

On one hand maybe we could ensure the parameter "policy" isn't used with parameter "action" or "flush".

On the other hand the module consider you were making a policy change and there is only a few parameters that can be used in that case.

[2019-01-09 09:44] rluisr commented on #50346
thanks reply.

"apply" means attach server group to vm.
now `os_server_group` only can create it. but no methods attach it.

[2019-01-09 09:46] tpz commented on #48784
I've experienced the same issue using 4.20.3F-INT among others.

What works for me is to switch from transport 'network_cli' to 'httpapi'. You can keep using your current transport method for all other tasks if you'd like.

Best solution would be to extend the eos_user module so it supports a shell argument and submit a pull request upstream, although this eos_config/eos.py obviously is a bug and

[2019-01-09 10:12] reenlam commented on #34125
Sorry, I do not have time to deal with it. Maybe I'll test it on the weekend.

[2019-01-09 10:37] 33Fraise33 opened #50704 "Netbox Inventory Plugin too many files open"
##### SUMMARY
Running the netbox inventory plugin gives a too many files open error on the virtual machines fetch.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
inventory plugin - netbox

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Running on latest version of Arch with latest version of Ansible.

##### STEPS TO REPRODUCE
install latest version of ansib

[2019-01-09 10:53] richlv commented on #50573
I think it will be extremely hard to correlate that information for the reader.
@samccann, would having "sections" for the choices be acceptable - or is there any other way to make the documentation readable here?