[2019-02-08 16:53] #15252 closed, assigned to nobody

[2019-02-08 16:58] sivel commented on #15790
https://docs.ansible.com/ansible/devel/reference_appendices/config.html#host-pattern-mismatch

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-08 16:58] #15790 closed, assigned to nobody

[2019-02-08 17:02] sivel commented on #33296
There are 2 "forces" at play here.

1. File/dir listing order which will happen alphanumerically
1. Variable precedence

Child groups, as they are more specific, have a higher precedence than the parent.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-08 17:02] #33296 closed, assigned to nobody

[2019-02-08 17:04] jovial opened #51972 "`host_key_auto_add doesn't work when using `ansible_connection=netconf`"
##### SUMMARY

`host_key_auto_add doesn't work when using `ansible_connection=netconf` even when the documentation suggests it should: https://github.com/ansible/ansible/blob/7ad238b35813f2191172dabb32e00a3b533a58a3/lib/ansible/plugins/connection/netconf.py#L89

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`plugins/connection/netconf.py`
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2019-02-08 17:26] #21028 closed, assigned to nobody

[2019-02-08 17:28] sivel commented on #15853
Closing as a duplicate of https://github.com/ansible/ansible/issues/50044

resolved_by https://github.com/ansible/ansible/pull/51135

[2019-02-08 17:28] #15853 closed, assigned to nobody

[2019-02-08 17:28] Qalthos commented on #50088
resolved_by_pr 49476

[2019-02-08 17:33] #50088 closed, assigned to ganeshrn

[2019-02-08 17:33] sivel commented on #15861
Thank you very much for your report.  This no longer appears to be an issue in recent versions of Ansible.

If you are still having problems, please open a new issue with a full reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-08 17:33] #15861 closed, assigned to nobody

[2019-02-08 17:55] jean-christophe-manciot opened #51980 "Separating all vars data from playbooks and roles: allow files to be loaded with a path relative to the inventory directory to support multi-tier groups"
##### SUMMARY
In order to **completely separate all vars data from playbooks and roles**, all playbooks/roles should be able to load vars files relative to the inventory path when passing a path to ansible-playbook with the '-i' option.
So far:
- the vars files located within ```all```, ```group_vars/<group_name>``` and ```host_vars/<hostname>``` below the inventory directory are correctly automat

[2019-02-08 18:12] fabianvf commented on #50529
This usually isn't an issue with the Python client or with the Ansible module, it's a core behavior of Ansible, and if you try to run any other modules that require Python dependencies against localhost, you should see the same behavior. When Ansible connects to a machine, even localhost, it will default to using the system installation of Python (ie, `/usr/bin/python`). If you've installed module

[2019-02-08 18:12] Vladimir-csp commented on #33296
`ansible_group_priority` mechanism needs some tuning, why was the bug closed?

[2019-02-08 18:14] kylix3511 commented on #50529
Thanks Fabian. Thats a super awesome explanation and information.

For some reason, the same thing is not working in Ansible AWX, I’m creaking my head on it … still no luck.

Thanks.

Regards,
kylix3511

Email : kylix3511@gmail.com

Sent from  iPhone

[2019-02-08 18:27] planet-winter commented on #32385
@overhacked I have opened a pull request https://github.com/ansible/ansible/pull/51688 for the new module. Please feel free to test or use it at https://github.com/planet-winter/ansible-portmake_module

[2019-02-08 18:32] therevoman commented on #47210
Will this be backported to older ansible versions?

[2019-02-08 18:35] therevoman commented on #18305
Looks like someone patched ansible 2.8
https://github.com/ansible/ansible/issues/47210

[2019-02-08 18:51] teodorkostov opened #51984 "java_cert module does not accept a file encrypted with ansible-vault in cert_path"
##### SUMMARY

`java_cert` module does not accept a file encrypted with `ansible-vault` in `cert_path`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`java_cert`

##### ANSIBLE VERSION

[code]
##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

ArchLinux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect that `java_cert` transparently handles certificate files that a

[2019-02-08 18:52] jtyr commented on #48313
Thanks for your comment, @jmmorel. It's unfortunate that the `mount` module removes the fstab record before the unmount succeeded. The second run then won't do anything as the `state: absent` is checking the fstab record first. You would have to use `state: unmounted` to actually unmount it.

I  think we should move the fstab record removal after the umount succeeded. Like that the behavior of the

[2019-02-08 19:00] dthvt commented on #49376
I also have an immediate use for this functionality.

[2019-02-08 19:28] acozine commented on #51649
Thanks @anis016 for stepping up to help out on a docs issue - I hope you'll try again! We're trying to mark more issues with the `easyfix` label, so keep an eye out for those.

[2019-02-08 19:29] acozine commented on #51649
Also, thanks @it-praktyk for opening this issue!

[2019-02-08 19:29] #51649 closed, assigned to nobody

[2019-02-08 19:40] Shaps commented on #51941
fixed_by_pr #51942

[2019-02-08 20:18] jmmorel commented on #48313
@jtyr In fact, I've already successfully used the workaround with ` state: unmounted` then `state:absent`.
And I agree with you: in any case, moving the fstab record removal after the successful unmount seems to be the simplest and consistent way to do it.

Moreover, I can't think about any use case where one would unmount a mounting point only if it is in fstab. But maybe someone would have one.

[2019-02-08 21:33] tabowling commented on #49343
Apologies for my delayed response.   Confirmed that the problem was that the Apache user/group did not yet exist.  Modifying the playbook to first install the httpd package resolved this.

It would be nice if the file module had better error handling to detect this and output a more human friendly error message.  I would think this could be a common issue users could experience.

[2019-02-08 23:55] hemberger opened #51988 "[module: cron] Add option to change cron name without duplicate"
##### SUMMARY
Provide a safer and/or more automatic way to change the unique `name` parameter of a cron task without getting a duplicate crontab entry.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
module: cron

##### ADDITIONAL INFORMATION
I understand that if you change the `name` parameter of an Ansible cron task, you get a new entry in the crontab. However, there are many legitimate r

[2019-02-09 00:20] m1cr0man commented on #50399
Yeah that sounds good with the docker boolean instead of the tag module. Would you mind if I modified my PR to use that convention, or do you want to submit a pr from your work?

[2019-02-09 04:18] #46697 closed, assigned to nobody

[2019-02-09 04:34] maxamillion commented on #49343
@tabowling so I'm attempting to reproduce with the latest stable release (2.7.7 at the time of this writing), I'm even seeing the following message that is much friendlier than what you're seeing on 2.7.2 `"msg": "chgrp failed: failed to look up group doesnotexist"` (note that I used the group name `doesnotexist` for my test case) .... I'm curious if there was a bug in the callback code that's bee

[2019-02-09 04:35] maxamillion commented on #47210
@therevoman it is not planned to be at this time, it was discussed during an Ansible Core Community Developers irc meeting on freenode a little while back and the change was deemed a feature implementation and not a bug fix by consensus and we only backport things classified as a bugfix.

[2019-02-09 04:42] samyun opened #51990 "vr_server and vr_ssh_key deprecation warning"
##### SUMMARY
Ansible gives deprecation warnings for "vr_server" and "vr_ssh_key". This was working fine on 2.5.2, but errored after upgrading to 2.7.7. Ansible Porting Guides for 2.6 and 2.7 don't indicate any deprecation related to this.

[DEPRECATION WARNING]: vr_ssh_key is kept for backwards compatibility but usage
 is discouraged. The module documentation details page may explain more about
t

[2019-02-09 05:06] maxamillion commented on #50237
@MarkMielke I understand your point, however the real issue is that previously we weren't initializing DNF plugins in the Ansible `dnf` module so it was not in fact loading plugins at all. That's on us, we should have been and it was a bug that was explicitly on Ansible to fix; specifically me because it was my error, so I fixed it. However, in light of fixing that bug in Ansible we uncovered a bu

[2019-02-09 06:05] maxamillion commented on #51965
@jagibson I'm not able to reproduce this, so I'm thinking something about the system configuration is causing the module's logic that would traditionally detect the state is already as it should be is this failing to detect that state is as it should be.

Is the issue happening the same way on the RHEL6 and RHEL7 inventory hosts?
Is there anything about the users that isn't "traditional linux loca

[2019-02-09 06:17] #51548 closed, assigned to maxamillion

[2019-02-09 06:34] #49225 closed, assigned to nobody

[2019-02-09 07:21] tgadiev commented on #39587
Checksum option implementation: #51986

[2019-02-09 08:04] Akasurde commented on #46484
vsphere-automation-python SDK is official supported by VMware so we have to rely on that.

Yes, REST API can be used but then you will have to make your playbook / role idempotent. `vmware_tag_manager` module provides idempotency by-default.

OK, I will make necessary changes.

[2019-02-09 08:20] resmo commented on #51990
The deprecation warning is intended but the warning message is misleading. It should actually say:
[code]
I can not reproduce to get a different message you showed. I am investigating.

Please update your playbooks and change the vultr tasks from e.g.  vr_server to vultr_server, and vr_ssh_key to vultr_ssh_key. That is all!

[2019-02-09 09:23] Artalus opened #51992 "Docs screenspace on mobile"
##### SUMMARY

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
Docs header and table-of-contents / menu

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Android, Chrome

##### ADDITIONAL INFORMATION
In mobile browser the screen space is cut by third/half depending on the screen orientation. The sticky dark "Documentation" banner and blue "= Menu" on

[2019-02-09 10:07] resmo commented on #51990
in 2.7.7, i see 2 deprecation message, to one you mentioned and the one I expected. In 2.8 I only get the the latter.

not_a_bug

[2019-02-09 10:23] #51990 closed, assigned to nobody

[2019-02-09 10:36] zmyrgel commented on #34295
Just tested this with latest ansible and this seems to be fixed so I'm closing this:
ERROR! Unable to execute the command "nano /tmp/tmpmMkeNc": [Errno 2] No such file or directory

[2019-02-09 10:36] #34295 closed, assigned to nobody

[2019-02-09 12:50] kevinbackhouse opened #51995 "apt_repository crash due to timeout"
##### SUMMARY
If a timeout occurs while apt_repository is running, then a FetchFailedException exception is raised but not caught.

I have figured out the cause of this bug and will submit a PR shortly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/packaging/os/apt_repository.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Both mac

[2019-02-09 13:29] WojciechowskiPiotr commented on #38859
As far as I see the `docker_container` module does not support copying files to or from a container. There is an API method for that so either `docker_container` should have extended by a new feature or might create a new module.
Because the `docker` module is deprecated I think it's safe to close the issue, I put the reference of possible feature in ansible/community#408

[2019-02-09 13:34] felixfontein commented on #38859
You can use the `docker` connection plugin to connect to a Docker container and run regular Ansible modules in there, including the `copy` module. I think that's what this issue is about. I've never used the connection plugin, though...

This should definitely not be part of the `docker_container` module IMO, as it is not related at all to the process of creating/starting/stopping/removing contain

[2019-02-09 14:16] dhirajdebut commented on #51873
I have found the solution for this.  `ansible_distribution` worked on mac. I had to use `gather_facts:true`.

Thanks all for your valuable feedback.

[2019-02-09 14:17] dhirajdebut commented on #51873
I am closing this issue.

[2019-02-09 14:17] #51873 closed, assigned to nobody

[2019-02-09 14:31] #36234 closed, assigned to nobody

[2019-02-09 14:31] #35181 closed, assigned to nobody

[2019-02-09 14:35] Akasurde commented on #25563
resolved_by_pr #51997

[2019-02-09 14:35] Akasurde commented on #25563
@Logos01 Could you please check above PR and let me know if it works for you ? Thanks

needs_info

[2019-02-09 14:38] jhawkesworth commented on #23450
@javierg21 thanks for this, its interesting.
Unfortunately -ToSession and -FromSession are only available from WMF5 / Powershell 5 or later. Currently ansible supports PS 3 and above.
Do you have any benchmarks to show a speed improvement with/without -ToSession ?
Also I'd be interested to see if raw pywinrm https://github.com/diyan/pywinrm  and pypsrp https://pypi.org/project/pypsrp/ support this

[2019-02-09 14:46] Kaydub00 commented on #35645
@viper233 what extra_opts were specifically misconfigured?

[2019-02-09 15:47] greyltc opened #52000 "hidden colorbrewer"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2019-02-09 15:47] #52000 closed, assigned to nobody

[2019-02-09 16:42] #43617 closed, assigned to nobody

[2019-02-09 17:06] outreal commented on #34569
I've been having this very problem with ansible 2.7.7.
It breaks some of my deployments, as they depend on some files existing, whether they're zero-sized or not.

[2019-02-09 17:17] basictheprogram opened #52002 "ini plugin inventory fails with need more than 2 values to unpack"
##### SUMMARY

Syntax Error while loading YAML. expected '<document start>', but found '<scalar>'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yaml plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS 10.14.3

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Ansible to parse the production file without error

##### ACTUAL RESULTS

[cod

[2019-02-09 17:22] viper233 commented on #35645
@Kaydub00  I had
'''
--strip-components 1
'''
instead of
'''
--strip-components=1
'''
There was no error message relating to that specific error, just the same error that everyone

"Failed to find handler for...

[2019-02-09 19:15] angystardust opened #52003 "na_ontap_svm doesn't respect "allowed_protocols" during vserver-create action"
##### SUMMARY
`na_ontap_svm` doesn't respect "_allowed_protocols_" parameter during `vserver-create` action.
Even if you specify only a subset of "_allowed protocols_" (for es.: only nfs and iscsi), during the vserver/svm creation the module creates an svm with "nfs, iscsi, fcp and cifs" protocols enabled.
It works if ones re-run the playbook again (`modify-vserver`), it enforce the user choice.

[2019-02-09 19:16] angystardust commented on #52003
+label netapp
+label storage

[2019-02-09 21:15] basictheprogram commented on #52002
Not sure why ansible is seeing the host inventory files as a yaml document. Shouldn't it be an INI file?

From ansible.cfg
[code]

[2019-02-10 01:17] #20062 closed, assigned to nobody

[2019-02-10 02:27] #16026 closed, assigned to nobody

[2019-02-10 02:29] wojtek0806 commented on #36504
bug_resolved

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/f5/bigip_pool.py#L540

[2019-02-10 02:32] wojtek0806 commented on #36504
close_me
Fixed here:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/f5/bigip_pool.py#L540

[2019-02-10 02:37] #36504 closed, assigned to nobody

[2019-02-10 06:45] aksharbarot opened #52006 "vmware_vmkernel: Portgroup name vmk1 not found"
##### SUMMARY

Module is searching for port group in esxi while editing value in vmk nic but, actually no port groups are configured in esxi side.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

/usr/lib/python2.7/site-packages/ansible/modules/cloud/vmware/vmware_vmkernel.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Co

[2019-02-10 10:06] ckotte commented on #52006
Do you have the same issue with #47270?

[2019-02-10 12:21] efflamlemaillet commented on #47736
Hello,
i got the same issue with Centos7, ansible 2.7.6.
specifing the `socket=/var/lib/mysql/mysql.sock` in `~mysql_home/.my.cnf`
or `login_unix_socket: /var/lib/mysql/mysql.sock`.
is fixing the connection error.

[2019-02-10 16:42] castorw commented on #24837
This feature would be really nice. Any progress on this?

[2019-02-10 17:43] ghost opened #52009 "Random slow startup time when running Ansible (cryptography package)"
##### SUMMARY
Disclaimer: I think the bug may be related to the latest version (2.5) of the 'cryptography' library required by Ansible. I'm posting this here as it may help other people who are experiencing a similar issue.
When running playbooks on a small set of hosts (less than 5), the ansible-playbook command *randomly* takes a long time to start executing tasks.

##### ISSUE TYPE
- Bug Report

[2019-02-10 20:50] planet-winter commented on #48781
Resolving this issue would enable https://github.com/ansible/ansible/pull/51688 to be tested.

This would add support for building ports with build options on FreeBSD.

As 11.1 is not supported anymore, ports builds fail on this version

[2019-02-10 21:45] ghost opened #52011 "Apt doesn't update old cache"
##### SUMMARY
Ansible by default does not even try to update the cache. This is contrary to the [documentation](https://docs.ansible.com/ansible/2.7/modules/apt_module.html):

In other words, if the cache is more than 0 seconds old `update_cache` should be set to `yes`. You can see below that this does not happen.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION
[cod

[2019-02-10 21:54] malbertus commented on #51306
Hey @FragmentedPacket, sorry about the delay - too many distractions. Yes, #50761 definitely resolves. Thanks!

[2019-02-10 21:54] #51306 closed, assigned to nobody

[2019-02-11 01:44] bgajjela opened #52013 "How can i resolve dependencies for ansible 2.7 rpm install"
Hello,

Iam installing ansible 2.7 on rhel6,python 2.6 and i got below error.

rpm -ivh ansible-2.7.7-1.el6.ans.noarch.rpm
warning: ansible-2.7.7-1.el6.ans.noarch.rpm: Header V4 RSA/SHA1 Signature, NOKEY
error: Failed dependencies:
	PyYAML is needed by ansible-2.7.7-1.el6.ans.noarch
	python-jinja2 is needed by ansible-2.7.7-1.el6.ans.noarch
	sshpass is needed by ansible-2.7.7-1.el6.ans.noarch

How

[2019-02-11 02:18] aksharbarot commented on #52006
@ckotte. No, Portgroup is required field in module but, how to deal with that vmk nic where there is no port group assigned?

Below is the output of vmk nic where it shows no portgroup.

CMD: **esxcli network ip interface list**

vmk1
Name: vmk1
MAC Address: 00:00:00:00:00:00
Enabled: true
Portset: DvsPortset-0
**Portgroup: N/A**
Netstack Instance: defaultTcpipStack
VDS Name: dvSwitch0
VDS UUID: 0

[2019-02-11 02:20] bgajjela commented on #52013
* issue type
Dependencies resolve
* ansible version
2.7
* component name
ansible

[2019-02-11 03:19] aksharbarot commented on #51858
is there anyway where we can use access ID and Key rather user and password?

[2019-02-11 04:22] precurse commented on #50399
I can submit the PR for it. If you're also good with the `name` attribute to specify the name of an image? I'm open to change that if it makes more sense.

Personally, I'd like to be able to use the following syntax:
[code]

Once this is implemented, I could work on adding similar functionality to `vmadm` to specify image name instead of only UUID.

Let me know what you think.

Cheers

[2019-02-11 04:45] Akasurde commented on #19352
Hi there,

I have found a way around this!

Judging by the changes in https://github.com/ansible/ansible/issues/12241#issuecomment-137606517 I noticed it was around escaping so I found replacing `\n` with `\\n` to be effective in getting the expected results.

So try:

[code]

Hope it works for you as well!!

[2019-02-11 04:45] Akasurde commented on #29474
Closing this as duplicate of https://github.com/ansible/ansible/issues/19352

[2019-02-11 04:45] #29474 closed, assigned to nobody

[2019-02-11 05:06] wimnat opened #52016 "elb_application_lb bug when access_logs_s3_prefix not provided"
##### SUMMARY
The documentation for elb_application_lb reports that the parameter access_logs_s3_prefix does not need to be specified.  This is indeed true.  However, there a required_together statement that means Ansible fails if not provided

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
elb_application_lb

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-02-11 05:38] resmo commented on #51306
cool, thanks!

[2019-02-11 06:00] Tomorrow9 commented on #51066
@mrmeszaros Hi, sorry for the late response due to Chinese New Year holiday. I'm working on this now and I have a branch for this, will submit later today if you still want to help or you have done this already? Thanks.

[2019-02-11 07:05] paulfirelordmu opened #52018 "nxos_logging failure on deleting"
##### SUMMARY
Our team start to test ansible in network device management. It seems that nxos_logging module "state of absent" is not working.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_logging

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Software
[code]

Hardware
[code]

##### STEPS TO REPRODUCE
playbook:
[code]

##### EXPECTED RESULTS
There w

[2019-02-11 07:13] Asgoret commented on #50529
@fabianvf It doesn't work at this moment.
My task:
[code]
And i get:
![image](https://user-images.githubusercontent.com/30697011/52549693-7bd79f00-2de5-11e9-8317-df1c5e3091d0.png)

If it's matter i work in macOS Mojave(10.14.2)

[2019-02-11 08:56] ckotte commented on #52006
The portgroup need to exist in the dvSwitch of you don't specify a local portgroup. How did you create this VMkernel adapter? Don't you always need to assign a portgroup ever when you create an adapter? Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: aksharbarot <notifications@github.com> Date: 2/11/19  03:18  (GMT+01:00) To: ansible/ansible <ansible@noreply.github.

[2019-02-11 09:04] paulfirelordmu commented on #52018
@NilashishC Thanks, it works. ```level``` parameter worked when I tried to add remote servers, so i am confused when deleting servers.

[2019-02-11 09:25] franciscorobles-e2y commented on #11024
I have been checking but did not see any way for doing this without a workaround, not with the user module neither the group one. Is this going to be done?

[2019-02-11 09:38] mrmeszaros commented on #51066
@Tomorrow9 Happy New Year🙂
I did not start work.
I understand You have written the module to submit a PR?

[2019-02-11 09:43] NilashishC commented on #52018
@paulfirelordmu For the nxos_logging module, the `dest_level` [or `level`] parameter would come into play only when `dest` is set to `logfile`.

I am assuming that you have used the same playbook(without `state: absent`) that you mentioned above, for configuring remote logging. In that case, the `level` parameter would not come into the picture and the module would just generate the following comm

[2019-02-11 09:55] Xophmeister commented on #51959
See also https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=754103, which is a feature request to fix this upstream.

[2019-02-11 10:19] mmhelm commented on #36274
I came across the same issue ...
Nevertheless there's a workaround. You can use `set_fact` in order to create a variable in advance that you can pass to the `include_role` task.

[code]
As you already pointed out in your example, defining the variable in the defaults file won't work. You need to use `set_fact`.

[2019-02-11 10:30] #51429 closed, assigned to nobody

[2019-02-11 10:34] justjais opened #52023 "To support/change NIOS ansible modules from connection: local to connection: httpapi"
##### SUMMARY

Update the Ansible NIOS supported modules to change `connection: local` to `connection:httpapi` from . As `connection: local` shall be deprecated in future releases
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

nios
##### ADDITIONAL INFORMATION

[code]

[2019-02-11 11:05] #45604 closed, assigned to nobody

[2019-02-11 12:10] eleksis commented on #49270
I had similar issue when running **ansible** in docker container (except i am invoking subprocess in python).

Spent a lot of time debugging this, as i first thought the problem was in my code (how i spawn new process) or in celery which i use for async execution.

Turned out that **ansible** is indeed leaving zombie processes behind. Not sure if this is a bug or (bad) design.

In **non** docker e

[2019-02-11 12:20] Tomorrow9 commented on #51066
@mrmeszaros Yeah, I have started to write the module, but today there is no time to test it, so I'll submit PR tomorrow. I don't know if you can access this:
https://github.com/Tomorrow9/ansible/blob/fix_pr51066/lib/ansible/modules/cloud/vmware/vmware_guest_network.py
If not, hope you can help review it when I file the PR later. Thanks a lot.

[2019-02-11 12:51] mihai-satmarean commented on #27677
seems that it just works with ansible 2.7.7

[2019-02-11 13:17] harvey637 commented on #21426
Hi, this bug is still existing and a complete blocker for use of ansible!
to recreate problems this is my job I want to do in ansible:
a network 10.64.0.0/22 should be able to use port 80 (http)
a single host 10.64.0.24/32 and nobody else is alloowwed to use port 5666 (nrpe)
ansible code for this:
  - name: firewalld allow http from network 10.64.0.0/22
    firewalld:
      zone: public
      serv

[2019-02-11 14:00] AlphaHydrae opened #52026 "The git module fails with the separate_git_dir option when the dest directory does not exist"
##### SUMMARY

Running the `git` module with the `separate_git_dir` option fails and wipes out the contents of the bare repository if the `dest` directory does not exist but the `separate_git_dir` does. (It works fine when both the `separate_git_dir` and the `dest` directories do not exist, or when both already exist.)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

git

##### ANSIBLE VERSIO

[2019-02-11 14:21] anis016 commented on #51421
@Akasurde can I work in this issue if no one is working?

[2019-02-11 14:22] D3DeFi commented on #51303
I haven't found anything that would allow assignments via ansibot and my guess is that only project owners are able to assign issues directly to contributors.

For me it is enough that you've volunteered via comment. Btw would it be possible that you take a look at #51345 as well @rubentsirunyan ?

[2019-02-11 14:23] hadfiiw commented on #51826
After looking over the code a little, I removed the "cluster" var from my playbook and it is now deploying the VM into the resource pool.  BUT, you can re-use resource pool names across clusters so shouldn't the cluster name also be required?

[2019-02-11 14:29] anis016 commented on #51367
Hi @dagwieers !

This issue is pretty confusing and I was actually looking into it for a long time now.
I can see the `RETURN` block in the documentation exists and I also compared with how other `RETURN` block is written and it seems to be correct but still doesn't shows. Can you please give a bit more hint on this. I appreciate your time.

![return_](https://user-images.githubusercontent.com/669

[2019-02-11 14:33] #47590 closed, assigned to nobody

[2019-02-11 14:46] #44434 closed, assigned to nobody

[2019-02-11 14:48] kochd commented on #19765
+1

[2019-02-11 14:50] #47571 closed, assigned to nobody

[2019-02-11 14:53] felixfontein commented on #44434
Protocols `gre` and `igmp` will be available in Ansible 2.8.

[2019-02-11 14:58] edgEcontact commented on #47254
hello im have at the same problem but not a coment in my playbook or inventory.
my version ansible is 2.7.6, any idea?

[2019-02-11 14:59] sivel commented on #52013
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-02-11 14:59] #52013 closed, assigned to nobody

[2019-02-11 15:12] sivel commented on #51908
!component =contrib/inventory/azure_rm.py

[2019-02-11 15:14] sivel commented on #51980
Duplicate of https://github.com/ansible/ansible/issues/49649

[2019-02-11 15:14] #51980 closed, assigned to nobody

[2019-02-11 15:26] jbarotin opened #52029 "Make UFW module works with diff mode"
##### SUMMARY

it's a follow up of #45604

Diff option (-D) is not working on ufw.

##### ISSUE TYPE
- Feature request

##### COMPONENT NAME
UFW

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
OSX

##### STEPS TO REPRODUCE

I log in ssh  and execute the following command `sudo ufw status`. I've got this output

[code]

Given this playbook named test.yml

[code]
I run it though this command

[2019-02-11 15:38] jean-christophe-manciot commented on #51980
@sivel
The post you refer to has nothing to do with my proposal. Please make sure you read it carefully and understand it before closing it unilaterally.

[2019-02-11 15:41] jean-christophe-manciot opened #52030 "Separating all vars data from playbooks and roles: allow files to be loaded with a path relative to the inventory directory to support multi-tier groups"
##### SUMMARY
In order to **completely separate all vars data from playbooks and roles** in the **AWX environment**, all playbooks/roles should be able to load vars files relative to the inventory path when passing a path to ansible-playbook with the '-i' option.
So far:
- the vars files located within ```all```, ```group_vars/<group_name>``` and ```host_vars/<hostname>``` below the inventory dire

[2019-02-11 15:44] jean-christophe-manciot commented on #52030
@privateip
@gundalow

[2019-02-11 15:49] gundalow commented on #50262
Fix is to backport https://github.com/ansible/ansible/pull/46178/files

[2019-02-11 16:23] mooninite commented on #48415
I can confirm that PR 51653 fixes this. Thanks.

[2019-02-11 17:05] aniketkhisti opened #52034 "Traceback when calling `ansible-doc -a`"
##### SUMMARY

The plugin documentation tool ($ ansible-doc) fails to show documentation for all the plugins on latest & devel branch, with two non-related distinct errors.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-doc (CLI plugin documentation tool)

##### ANSIBLE VERSION
``` stable-2.7, devel ```

##### OS / ENVIRONMENT

``` FC29, RHEL7.6 ```

##### TRACEBACK
[code]

##### ST

[2019-02-11 17:05] AlanCoding opened #52035 "Need ability to make group of groups in keyed_groups"
##### SUMMARY
The old `ec2.py` script in the contrib folder had the ability to group types of groups into a group for the category name. For example, groups named `tags`, `zones`, `instances`, `regions`, and others.

The current aws_ec2 inventory plugin has no corresponding capability, and since it needs groups constructed via `keyed_groups`, it begs an obvious implementation that the individual k

[2019-02-11 17:35] AlanCoding commented on #52035
Also see related enhancement card https://github.com/ansible/ansible/issues/51883

[2019-02-11 17:41] mooninite commented on #50443
Yes, this appears to be in msrest or msrestazure because my install was working fine until I pip upgraded azure-cli / msrest / msrestazure today. Now I see this error. Ansible was *not* upgraded on the host server. It is still 2.7.2.

[2019-02-11 17:44] sivel commented on #51652
Become plugins was just merged, and while doing some brief testing, a new become plugin isn't even really necessary.

Instead you can use the `su` become method, and substitute `ansible_become_exe` with `runuser`, and it will work as expected.

This can also be achieved in v2.7 without the requirement of become plugins.

[code]

I'm going to go ahead and close this issue.

If you have further ques

[2019-02-11 17:44] #51652 closed, assigned to nobody

[2019-02-11 17:49] sivel commented on #51474
Become plugins has been merged and will be included for the 2.8 release.  I can confirm that doas works as expected on FreeBSD:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-11 17:49] #51474 closed, assigned to nobody

[2019-02-11 18:08] ikhan2010 commented on #50492
@ganeshrn are you able to recreate this issue?

[2019-02-11 18:25] #31761 closed, assigned to acozine

[2019-02-11 18:32] GeetanjaliGupta commented on #49270
@eleksis Yes, that was the solution. My apologies for not posting the answer before. Since i was using kubernetes, i couldnt use "init:true" but instead added "tini --" in front of my entrypoint to achieve the same result.

[2019-02-11 19:02] AlanCoding commented on #52035
Scratch that, the more relevant issue is https://github.com/ansible/ansible/issues/51844, and I had meant to link that instead.

[2019-02-11 19:07] jamesdh commented on #45604
Just wanted to chime in on this with something I just noticed w/ ansible 2.7.6 while trying to use this module check-mode...

`ufw: state=reset` *DOES* actually still reset the rules, however none of the other ufw options seem to actually be run. This caused a bit of a surprise on a few production systems when attempting to run our playbooks in check-mode only to discover that it opened several of

[2019-02-11 19:15] felixfontein commented on #45604
@jamesdh that's a bug in `ufw`; `ufw --dry-run reset` is *not* supposed to do anything, but it actually *does* delete the rules. I've tried to report this bug (and another problem with `ufw reset`) [here](https://bugs.launchpad.net/ufw/+bug/1810082).

Anyway, with this PR, `ufw --dry-run reset` will no longer be executed in check mode, whence this part of the bug will no longer affect Ansible user

[2019-02-11 19:22] jbarotin commented on #45604
Should I add a changelog fragment about this ?

[2019-02-11 19:22] jbarotin commented on #45604
(too late I think)

[2019-02-11 19:22] fabianvf commented on #51877
Not sure if it's a copy paste error or not, but it looks like `data` is nested under `metadata`, it needs to be popped up one level to actually populate the configmap:

[code]

[2019-02-11 19:24] jbarotin commented on #45604
Also I created this issue #52029 for the diff mode

[2019-02-11 19:26] felixfontein commented on #52029
@jbarotin are you (planning to) work on this? Just to make sure that everyone knows what's going on :)

[2019-02-11 19:28] felixfontein commented on #45604
@jbarotin I think not mentioning that in the changelog fragment is ok, this was merely a side-effect. I think I'll create a small PR directly for stable-2.7 which stops calling `ufw --dry-run reset`; that should be enough I think.

[2019-02-11 19:29] jbarotin commented on #52029
@felixfontein  Yes, I'm working on this... that's not so easy I'll send PR when I've got something to propose.

[2019-02-11 19:33] vguaglione commented on #51877
Ok.  Thanks for the 2nd set of eyes on this.  Whitespace from the copy/paste from the cluster output yaml must not have translated exactly in the new yaml file I created.  let me give this a shot and provide an update.

[2019-02-11 19:41] fabianvf commented on #51877
No problem, it's hard to spot in cases like these, since Kubernetes validation can be pretty lax so no error is raised.

[2019-02-11 19:42] fabianvf commented on #51882
Can we label this a docs bug?

[2019-02-11 19:47] fabianvf commented on #51098
Sorry I let this slip through the cracks, I think this is an error in the Ansible module. I believe the metadata field will be ignored if you add it, but it definitely shouldn't be required.

[2019-02-11 19:47] fabianvf commented on #51098
The deprecated tag is due to the `k8s_raw` module, the `k8s` module is definitely not deprecated :)

[2019-02-11 19:49] fabianvf commented on #50874
One thought I had, does the template you are doing the `lookup` on specify a namespace? The namespace in the template will take precedence over the namespace in the task, which could result in a 404 if the namespace in the template does not exist.

[2019-02-11 19:59] sivel commented on #52002
I cannot reproduce this issue with the inventory you have pasted.  It is true that we will attempt to load a file as YAML before trying to load it with INI, as those inventory plugins have no restriction on file format.

However, you are getting some exception when trying to parse the file as INI:

[code]

That is the real issue, not the warning that the YAML plugin was attempted.

If you copy and

[2019-02-11 20:00] sivel commented on #52002
!component =lib/ansible/plugins/inventory/ini.py

[2019-02-11 20:07] ichekaldin commented on #49376
+1

[2019-02-11 20:13] yaplej commented on #43996
I recognize that my previous though is not going to work.  The diff() code needs to handle ^V as a single character instead of separate characters.  Perhaps there should be a special variable to use to represent SYN and ? so they can be handled correctly in diff() and for sending commands?  The HEX value seems to work correctly to escape SYN and ? from a command perspective but the diff() does not

[2019-02-11 20:30] fabianvf commented on #50529
@Asgoret glad you solved it, just fyi I believe the `delegate_to: localhost` you had in there made the `ansible_python_interpreter` variable not matter anymore, so it was still running against your system Python at that point.

[2019-02-11 20:36] djzager commented on #50668
The `pip install openshift` makes me think that this comment will be helpful to you https://github.com/ansible/ansible/issues/50529#issuecomment-461894431

[2019-02-11 20:41] felixfontein commented on #45604
That small PR (#52044) has just been merged. The problem should be gone for Ansible 2.7.8.

[2019-02-11 20:43] AlanCoding commented on #51882
Got it, I was able to accomplish this via:

[code]

Where the inventory file has:

[code]

Using `K8S_AUTH_PASSWORD` doesn't quite work, because of some related issues that we have issues for.

However, if I do

[code]

I get an error:

Namespace list: namespaces is forbidden: User "(removed)" cannot list namespaces at the cluster scope: User
"(removed)" cannot list all namespaces in the cluster

[2019-02-11 20:46] BenjamenMeyer commented on #44827
I believe I am running in this with:
[code]
My case is a bit simpler:
- Setup a user using the `user` module
- use a `set_facts` task to override the `ansible_user`, only the `ansible_user` is not getting overridden which I can see using `debug` statements during the override process.

I'm attempting to do this within a Vagrant environment as I don't want to deploy (a) using my own user on the tar

[2019-02-11 20:53] johnboy2 commented on #51923
!component =lib/ansible/modules/windows/win_dns_record.ps1
!component +lib/ansible/modules/windows/win_dns_record.py

[2019-02-11 20:58] djzager opened #52046 "k8s support Deployment(Config) rollouts and rollbacks"
##### SUMMARY

https://kubernetes.io/docs/concepts/workloads/controllers/deployment/

In the same way that the [`k8s_scale` module](https://docs.ansible.com/ansible/latest/modules/k8s_scale_module.html#k8s-scale-module) allows you to scale up|down Kubernetes objects that support the scale subresource, it would be great to have a supported method for rolling out and rolling back Deployments (and De

[2019-02-11 21:00] kylix3511 commented on #50668
I did installed the OpenShift and still have same issue.

[code]

[2019-02-11 21:37] mishas commented on #45761
Is there any progress on that?

Running with Ansible 2.7.6, the problem still persists, and I also noticed that it's worse than I thought:
The value of method never changes! If it was "static", it'll stay "static". Will never become "dhcp".
This explains the "always changed" issue, but actually makes this bug much worse :(.

Please note that I noticed that it's the case with other connectors as we

[2019-02-11 21:54] wenottingham opened #52047 "cannot globally set TOWER_VERIFY_SSL for tower modules"
##### SUMMARY
You cannot globally set SSL verification for the tower_* modules.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tower_organization (et al)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
whatever, doesn't matter

##### STEPS TO REPRODUCE

The Tower modules/underlying library let you specify arguments via environment variables so you don't have

[2019-02-11 22:13] #30217 closed, assigned to nobody

[2019-02-11 22:16] #49270 closed, assigned to nobody

[2019-02-11 22:16] GeetanjaliGupta commented on #49270
Issue is resolved. Was more of a container issue then ansible

[2019-02-11 22:24] basictheprogram commented on #52002
TYPING out the hosts file the command
[code]
Works as expected.

I found some control characters in the original file that caused these problems.

False alarm and my fault. Sorry to trouble you.

Thanks for following up.

[2019-02-11 22:24] #52002 closed, assigned to nobody

[2019-02-11 22:36] jonathan-willis commented on #32056
I agree this is a missing feature. The command -> set_fact | from_json pattern is starting to get old. We are doing a lot with awscli since most functionality isn't present in modules that use boto3.

[2019-02-11 22:43] dead10ck commented on #43728
Hi @jtyr I believe you are correct. I'm not sure if there are currently any automated tests for this module, but if there isn't already, there should be a regression test for this bug. Unfortunately, I don't have time to contribute either way.

[2019-02-11 23:03] michaelseto opened #52049 "Extract ansible_eth0 ipv4 address via hostvars getting Undefined"
##### SUMMARY
I am using a 'Nodes' group and I am trying to extract the ansible_eth0 ipv4 addresses from it for use in another configuration file, but after the deployment is successfully completed, I see the config file has 'Undefined', but there are 3 'Undefined' so I know the node count is correct, because it should be retrieving 3 ipv4 addresses. Here is the line -

elastic_hot_hosts_ip: "{{ g

[2019-02-11 23:09] ghost opened #52050 "unable to use k8s modules "src" option in playbook with Ansible v2.8 and Python v3.7"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### DEPENDENCY PROBLEMS

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-02-11 23:14] michaelseto commented on #52049
Workaround, use 'map('extract', hostvars, ['ansible_ssh_host']) | list }}"'

[2019-02-11 23:26] willthames commented on #52050
Hi @kylix3511 the error message you're getting is terrible (we should fix the `imp` deprecation warning somehow) but buried in there is:

[code]

which suggests a problem with the context in the configuration file you're using.

[2019-02-11 23:34] kylix3511 commented on #52050
Hi Will,

Thanks for your quick responds.

I did noticed and see the error message but the same file works fine when i use kubctl apply -f command. I’m just trying the same with ansible playbook using k8s module’s — src and lookup options.

[code]

Thanks.

Regards,
kylix3511

Email : kylix3511@gmail.com

Sent from  iPhone

[2019-02-11 23:42] willthames commented on #52050
@kylix3511 does the following task work (add it before your current k8s task):

[code]

Are you using the default kube config file or are you setting K8S_AUTH_KUBECONFIG and K8S_AUTH_CONTEXT?

[2019-02-12 01:18] paulfirelordmu commented on #52018
@NilashishC Yes, it's the default level of logging behavior. I have tested it. Thanks a lot.

[2019-02-12 02:49] #28567 closed, assigned to nobody

[2019-02-12 03:06] dagwieers commented on #51367
@anis016 I compared the RETURN information with another module documentation where it works correctly (e.g. **win_disk_facts**), and that shows exactly what's wrong with the RETURN string.

[2019-02-12 03:41] willthames commented on #29283
Using `lookup` with `convert_data=False` prevents the conversion of json into a dict - then the resulting json string should be accepted by `policy_json`

[2019-02-12 03:41] #29283 closed, assigned to nobody

[2019-02-12 03:42] willthames commented on #29283
https://docs.ansible.com/ansible/devel/plugins/lookup/template.html

[2019-02-12 03:50] #51543 closed, assigned to nobody

[2019-02-12 03:54] dachshund-digital commented on #19814
So is no one actually working on resolving this issue?  This issue is really causing a problem for me as well.

[2019-02-12 03:56] Kloperations commented on #50626
Upgraded to 2.7.7 in the lab today and tested my code upgrade playbook.
Playbook failed with:
`fatal: [ans-spine2]: FAILED! => {"msg": "Requested option persistent_command_timeout was not defined in configuration"}`
Playbook worked just fine in 2.7.4
ansible.cfg file contains:
`[persistent_connection]
command_timeout = 600
connect_timeout = 600`

[2019-02-12 04:27] aksharbarot commented on #52006
we have many hosts where we have only 2 Ports and we need to use those as NFS/Management and Vmotion as well so, due to that we are using dvswitch where we are using multiple things from 2 ports.

[2019-02-12 04:30] NilashishC commented on #52018
@paulfirelordmu Alright then, I'm closing this issue since you're queries are resolved.

[2019-02-12 04:30] #52018 closed, assigned to NilashishC

[2019-02-12 05:24] felixfontein commented on #52029
FYI: here's a link to the [current roadmap for Ansible 2.8](https://docs.ansible.com/ansible/devel/roadmap/ROADMAP_2_8.html#expected). New features must be merged until March 21st, otherwise they have to wait for Ansible 2.9.

[2019-02-12 05:56] willthames commented on #51877
@fabianvf kubernetes validation is much better in 2.8 (unreleased) 😛

https://docs.ansible.com/ansible/devel/modules/k8s_module.html (see validate)

We're using validate to great success in our environment to catch weird issues like this.

[2019-02-12 06:03] Akasurde commented on #51269
resolved_by_pr #51547

[2019-02-12 07:04] wimnat opened #52063 "include_role with apply tags does not work"
##### SUMMARY
Using the recently added parameter `apply` in the `include_role` module does not work when passing tags - all tasks are executed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION

Tested on 2.7.7 as well but i ran my test play against...

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
centos

##### STEPS TO REPRODUCE
Create a role c

[2019-02-12 07:08] Asgoret commented on #50529
@fabianvf I test simple construction (only `hosts: localhost`) and it works) so the problem was in some old packages. Is there any opportunity that this behavior will have another error message except `pip install openshift`?

[2019-02-12 07:11] willthames commented on #50529
@Asgoret newer versions of the k8s module have slightly improved error messages showing python path etc.

[2019-02-12 07:23] wrsuarez commented on #39689
The patch and updates to the library still result in the same error message being reported. In my case I have a terraform config which doesn't need to make any changes but I need the outputs in order to feed the next step in the ansible workflow. when I run the module I get:

`  "------------------------------------------------------------------------",
        "",
        "No changes. Infrastruct

[2019-02-12 07:59] aksharbarot commented on #52006
It is working..

      vmware_vmkernel:
        hostname: dc01.example.com
        esxi_hostname: esx01.example.com
        device_name: vmk1
        username: test
        password: 'test@123'
        switch_name: 'dvSwitch0'
        is_dvs_switch: True
        portgroup_name: "NFS"
        state: present
        network:
          type: 'static'
          ip_address: 10.10.10.10
          subnet

[2019-02-12 08:09] stobias123 commented on #42064
Seeing this issue in ansible 2.8dev

[2019-02-12 08:15] x-yuri commented on #19814
@dachshund-digital

[2019-02-12 08:18] mkrizek commented on #52063
From the documentation for the `apply` parameter:
[code]
https://docs.ansible.com/ansible/latest/modules/include_role_module.html

So in your task:
[code]
`part2` tag is applied to all tasks within `myrole`. And all tasks are run since you didn't use `--tags` or `--skip-tags`.

Works expected to me. Am I missing something?

[2019-02-12 08:18] mkrizek commented on #52063
needs_info

[2019-02-12 08:52] DAgostinoLucas commented on #50874
@fabianvf  Sorry for delay, had a lot things to do these times :)
Yes indeed it specifies a namespace, but I create all my required namespaces before pushing my dc.
I will send you a minimal example end of this day, promised.

[2019-02-12 09:00] #51269 closed, assigned to nobody

[2019-02-12 09:08] rcarrillocruz commented on #23248
I added the following modules:

checkpoint_access_layer_facts – Get access layer facts on Check Point over Web Services API
checkpoint_access_rule – Manages access rules on Checkpoint over Web Services API
checkpoint_access_rule_facts – Get access rules objects facts on Checkpoint over Web Services API
checkpoint_host – Manages host objects on Checkpoint over Web Services API
checkpoint_host_facts

[2019-02-12 09:08] #23248 closed, assigned to rcarrillocruz

[2019-02-12 09:14] surenz298 commented on #31407
I am facing the same issue with just the syntax check

hosts: hostvars.localhost.hostname
^
Fails with a message hostvars is undefined

I am setting the hostname based on few conditions which I source from a var file using include_vars

[2019-02-12 09:24] ckotte commented on #52006
A VMkernel without a portgroup doesn't work. You cannot even create a VMkernel adapter in the GUI without a portgroup. Is this issue resolved?

[2019-02-12 10:00] Yadnyawalkya opened #52066 "azure_rm_virtualmachine - error deleting storage account"
##### SUMMARY
azure_rm_virtualmachine - error deleting storage account

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
--

##### ACTUAL RESULTS
https://github.com/ansible/ansible/blob/63148b0cc7d396f03215e47ed539145700f32b38/lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py#L1644

[2019-02-12 10:17] Bruceforce commented on #29451
We are currently using the following code to delete the package when we want to enforce a specific version. Of course an option to allow downgrades somehow would be appreciated. Just wanted to share this.

[code]

[2019-02-12 10:33] just-dimitarslavkov opened #52068 "Azure Container Service Geo Replication"
##### SUMMARY
Module for Azure Container Service Geo Replication

*Date*: 2019-12-02

##### ISSUE TYPE
There needs to be an option to replicate the container registry to another region.
There is no attribute that i can use in a playbook for this functionality.

##### COMPONENT NAME
ACR multi-region replication

##### ADDITIONAL INFORMATION
What problems exist that this proposal will solve?

## Sol

[2019-02-12 10:40] ElijahLynn commented on #25834
#24425

[2019-02-12 10:44] Akasurde commented on #50316
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2019-02-12 10:44] #50316 closed, assigned to Akasurde

[2019-02-12 10:46] Akasurde commented on #42212
@CafeLungo I am not able to reproduce this -
[code]

[2019-02-12 10:48] #52066 closed, assigned to nobody

[2019-02-12 11:02] Akasurde commented on #44681
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2019-02-12 11:02] #44681 closed, assigned to Akasurde

[2019-02-12 11:20] jborean93 commented on #51695
Sorry for not getting to this earlier, looks like the bot didn't tag it as Windows because the win_shell component wasn't set. Typically if you are making operations over the network that need authentication you will come across the double hop issue. If you ever come across a problem that works locally but not through Ansible I woudl have a read through https://docs.ansible.com/ansible/latest/user

[2019-02-12 11:21] #51695 closed, assigned to nobody

[2019-02-12 11:24] #46484 closed, assigned to Akasurde

[2019-02-12 11:28] jborean93 commented on #51670
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * win_package only copies the files if the path is on the network and explicit

[2019-02-12 11:28] #51670 closed, assigned to nobody

[2019-02-12 11:31] jborean93 commented on #51604
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * You cannot run Python modules on Windows, only PowerShell (we prefix with `win_*` or binary modules will work)
   * This is documented at https://docs.ansible.

[2019-02-12 11:31] #51604 closed, assigned to nobody

[2019-02-12 11:34] jborean93 commented on #51385
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-02-12 11:34] #51385 closed, assigned to nobody

[2019-02-12 11:40] jborean93 commented on #49805
The error code relates to a [Win32 Error Code](https://msdn.microsoft.com/en-us/library/cc231199.aspx) which is `0x000008B0 NERR_UserExists - The user account already exists.`. I assume the user it is referring to is the hostname already exists in AD and computer names must be unique in AD. I can't tell based on your output if `inventory_hostname` is actually any different in your hosts but it cou

[2019-02-12 12:27] Fred-sun commented on #51944
@uritau Thanks for your pay attention on ansible!
@yungezz could you help take a look this issue when you're avaliable? Thanks!

[2019-02-12 12:30] barlik opened #52073 "Debug task fails when ispecting 'rc' variable"
##### SUMMARY

Debug task fails when ispecting 'rc' variable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
linux

##### DEPENDENCY PROBLEMS
N/A
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-02-12 12:31] AlanCoding commented on #52047
Is this addressed by https://github.com/ansible/ansible/pull/50687?

[2019-02-12 12:49] cailen commented on #44827
@BenjamenMeyer I think I figured out why this doesn't work, at least for me. The issue is once it's set as a fact for the host via fact once, it can't get overwritten this way. Mine was happening during provisioning scripts so how I worked around it was to first call `hosts: localhost` and `add_host` and define the `ansible_user `and `ansible_password` there and then when I needed to switch to the

[2019-02-12 13:00] Akasurde commented on #49657
https://github.com/ansible/ansible/issues/17940

[2019-02-12 13:15] fessmage commented on #41146
Is there any plans about making file lookup plugin work with binary files ?

[2019-02-12 13:16] Fred-sun commented on #51908
@yungezz Could you help take a look this issue when you're avaliable? Thanks!

[2019-02-12 13:21] Fred-sun commented on #51864
@yungezz Could you help take a look this when you're avaliable? Thanks!

[2019-02-12 13:34] Fred-sun commented on #51751
@JohnnyRacket Thanks for your reproting this issue! I will try to copy and find the cause of the problem. Thanks!

[2019-02-12 14:21] seanorama commented on #38937
Experiencing the same on 2.5.10

[2019-02-12 14:24] just-dimitarslavkov commented on #52068
* ansible version 2.7.6

[2019-02-12 14:37] alongchamps opened #52079 "Feature request: vmware_host_kernel_manager"
##### SUMMARY
This script configures kernel module options on an ESXi host or a cluster

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_host_kernel_manager

##### ADDITIONAL INFORMATION
I have already written this module, a PR will be incoming as soon as I make sure it passes all the checks and ansible-docs.
This would be used to configure ESXi kernel module settings which are specif

[2019-02-12 14:41] wenottingham commented on #52047
Yes.

[2019-02-12 15:01] just-dimitarslavkov opened #52082 "Azure Keyvault secrets"
##### SUMMARY
Ansible playbook looks like this:

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION
[code]
##### STEPS TO REPRODUCE
[code]

##### ACTUAL RESULTS
[code]

[2019-02-12 15:05] AlanCoding commented on #51884
I have taken my environment and started to do some request profiling on this, and I will share some of the findings here, hoping that it might be useful to others.

Both of these are ran filtered to the region us-east1-d

### Script behavior

The script makes a GET to 4 different endpoints

 - `https://www.googleapis.com/compute/v1/projects/mah-project-name/zones`
 - `https://www.googleapis.com/co

[2019-02-12 15:12] djzager commented on #50668
@kylix3511 could you point me at the container image you are execing into?

[2019-02-12 15:14] #51775 closed, assigned to nobody

[2019-02-12 15:18] alongchamps commented on #52079
!component - lib/ansible/modules/cloud/vmware/vmware_about_facts.py

[2019-02-12 15:26] keitalbame opened #52084 "Use updates.jenkins.io instead of updates.jenkins-ci.org URL for plugin install"
##### SUMMARY
jenkins_plugin fails to install plugins due to updates.jenkins-ci.org expired certificate.

The url used for plugins updates changed on Jenkins 2.77, as mentioned [on jenkins issue tracker](https://issues.jenkins-ci.org/browse/INFRA-2007?focusedCommentId=360329&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-360329).
It should now use **updates.jenkins.i

[2019-02-12 15:49] mauricerashad opened #52085 "ec2_lc snapshot_id ignored"
##### SUMMARY
Unable to create a launch configuration which returns the snapshot id to be used for an EBS volume that is different from the snapshot of the source AMI, though the module will accept the playbook and run successfully.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_lc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
OS X Sierra (10.12.6)

[2019-02-12 15:52] jtyr commented on #52084
Thanks for reporting this, @keitalbame. It should be fixed by the PR #52086.

[2019-02-12 16:00] davemac30 opened #52087 "k8s allow inline key/cert data"
##### SUMMARY

Add the following parameters to the k8s* modules:

- ssl_ca_cert_data
- cert_data
- key_data

The values of which would be base64-encoded PEM-formatted keys/certs.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

k8s

##### ADDITIONAL INFORMATION

This would facilitate better integration with Tower. A custom credential type could be created for k8s credentials with injectors

[2019-02-12 16:21] Jeremytetu opened #52089 "Which task is in progress ?"
Hello,
I missed maybe something, but since the 2.7 version I can not see which task is in progress.

##### SUMMARY
I used to have something like
[code]
so I can see that TASK [set_fact] is in progress
then

[code]
The task is done
##### ISSUE TYPE
In 2.7.6 version
I only get this
[code]
When the task is done

##### COMPONENT NAME
yum

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE
Run a t

[2019-02-12 16:52] mauricerashad commented on #52085
I think I just resolved this one.

Don't specify 'snapshot_id', but rather simply 'snapshot' followed by the 'snap-xxxx' id.

In ec2_lc.py, lines 431 and 432 provided the clue that it's looking for 'snapshot' and not 'snapshot_id'.

After replacing the volume dict with snapshot, I get the expected results:
[code]

[2019-02-12 17:43] #50377 closed, assigned to nobody

[2019-02-12 17:44] #50509 closed, assigned to nobody

[2019-02-12 17:49] #33702 closed, assigned to Akasurde

[2019-02-12 18:17] vmindru opened #52101 "ansible-galaxy fails to download the role when the version is not a string."
##### SUMMARY

ansible-galaxy fails to download the role when the version is not a string.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy 2.7.6

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Centos 7

##### DEPENDENCY PROBLEMS

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

ansible-galaxy will download the repo regardless of the type of th

[2019-02-12 18:22] jdashton opened #52103 "ansible_paramiko_user is ignored"
##### SUMMARY
The docs for [paramiko_ssh](https://docs.ansible.com/ansible/latest/plugins/connection/paramiko_ssh.html) state that `remote_user` can be set using the var: `ansible_paramiko_user`or environment variable `ANSIBLE_PARAMIKO_REMOTE_USER`. However, these are ignored, even when `ansible_connection=paramiko` is present.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`_play_context` s

[2019-02-12 18:26] jdashton commented on #52103
Also true for the `ANSIBLE_PARAMIKO_REMOTE_USER` environment variable.
##### STEPS TO REPRODUCE
Using the same `hosts-test` file above, run this command:
[code]

##### EXPECTED RESULTS
Output should include this line with the `my_user2` remote user:

[code]
##### ACTUAL RESULTS
Output includes this line with `None` as the remote user:

[code]

[2019-02-12 18:32] vmindru commented on #52101
workaround for this issue is to enquote version in e.g.
[code]

instead of

[code]

[2019-02-12 18:42] vmindru opened #52111 "ansible-galaxy has cryptic error message when role version is wrong"
##### SUMMARY
when specifying the wrong version for a ROLE that is downloading from GIT, ansible-galaxy fails with a cryptic message instead of complaining on missing tag/version

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Centos 7

##### DEPENDENCY PROBLEMS

##### STEPS TO REPRODUCE

[code]

[2019-02-12 18:49] vguaglione commented on #51877
Thanks @fabaff.  Yes, it was the yml that was the problem.  Glad you caught it for me here.  Going to close this issue.

[2019-02-12 18:49] #51877 closed, assigned to nobody

[2019-02-12 19:01] jdashton commented on #52103
Also true for the `remote_user` in the `[paramiko_connection]` section of the ini file.

##### STEPS TO REPRODUCE
1. Cat the following to `ansible.cfg` in the current directory:
[code]

2. Using the same `hosts-test` file above, run this command:
[code]

##### EXPECTED RESULTS
Output should include this line with the `my_user3` remote user:
[code]

##### ACTUAL RESULTS
Output includes this line wi

[2019-02-12 19:20] peterp415 commented on #38594
I was just able to reproduce this issue exactly using 2.7.7.  Had to repeat the `label: gpt` to avoid label being overwritten as msdos.

[2019-02-12 19:31] NitigyaS commented on #34569
Hi, I am a newcomer here. I have done a fix for this in https://github.com/ansible/ansible/pull/52117 .
Can someone please review this once, maybe suggest any changes.

[2019-02-12 19:46] thaumos commented on #51864
If someone could take a look at this one ASAP it would be appreciated.  we have release work blocked  for 2.8 tied to this one.

[2019-02-12 19:58] alongchamps commented on #52079
Edited title to make it more consistent with the other VMware module names.

[2019-02-12 19:58] mpw07458 commented on #19584
This fixed my issue in AWS on private VPC, I need the internal fqdn for all the servers

[2019-02-12 20:05] katrinerachitsky opened #52124 "Cpanm module tasks hang on newer ansible version 2.7.7"
##### SUMMARY

Cpanm module hangs on newer ansible version 2.7.7, executes properly for `2.6.4` and `2.6.12`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cpanm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
(no output)

##### OS / ENVIRONMENT

control server:
[code]

##### DEPENDENCY PROBLEMS

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Each perl module

[2019-02-12 20:09] aviya-s commented on #18928
Hi,

I want to update the source from 0.0.0.0/0 to x.0.0.0/y in security group ansible.
I can't find a solution as of now, but i tried using the "ec2_group" module, this way all the rules are vanishing leaving behind the new rule.
Can anyone help me with this?

[2019-02-12 20:11] lc-nyovchev commented on #48709
I still agree with @juanvalino. Often you have the scenario as follows. Let's say I have a base role and many roles which inherit it by using include_role:

in the base role I have a variable in `roles/base/vars/main.yaml`:

`someVariable: "defaultBaseValue"`

in the inheriting role I have a variable in `roles/child/vars/main.yaml`:

`someVariable: "overriding"`

Then in my inheriting role my task

[2019-02-12 20:20] s-hertel commented on #51504
Maybe to solve this we should add another fact (as changing the current could lead to issues).

[2019-02-12 20:27] s-hertel commented on #51530
Does `--del` remove the files when run manually?

[2019-02-12 20:32] s-hertel commented on #51580
cc @webknjaz

[2019-02-12 20:33] s-hertel commented on #51599
This could probably be fixed with a `multi_ok` option like the ec2_vpc_net module.

[2019-02-12 20:42] jborean93 commented on #51632
The [config lookup plugin](https://docs.ansible.com/ansible/latest/plugins/lookup/config.html) is designed so that you can get config options in a playbook run. For your case you can do

[code]

I'm assuming [DEFAULT_FACT_PATH](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-fact-path) is the config option you want to retrieve but any config option can be looked up

[2019-02-12 20:42] #51632 closed, assigned to nobody

[2019-02-12 20:47] mariolenz commented on #51928
You query all options first and, in a second step, you update them with a type yout get from supportedOption. I think it would be better to get all supported options and then update them with their current value. This  would prevent the problem of accessing `host_facts[supported_option]` when  a `supported_option` isn't set.

[2019-02-12 20:48] Alex131089 commented on #51530
Yes in `delService`: https://github.com/fedora-sysv/chkconfig/blob/master/chkconfig.c#L153 (and it does some checks before).

[2019-02-12 20:56] s-hertel commented on #51712
@rsbeckerca Can you check your library directory for alternative file.py and copy.py modules?

[2019-02-12 20:56] bhat-ganesh opened #52127 "Intermittent failure on volume creation with KeyError: '/dev/xvdf'"
##### SUMMARY
Intermittently I am running into issue with volume creation which fails with `KeyError: '/dev/xvdf'`.
AS a test, I ran creating multiple ec2 instance, creating volume for them and attaching them. After many tries I was able to reproduce the error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_vol

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRO

[2019-02-12 20:56] jborean93 commented on #51712
Also can you provide the full output with `-vvv` as it will show you which module was used during execution.

[2019-02-12 20:56] jborean93 commented on #51712
needs_info

[2019-02-12 21:14] mz0 opened #52128 "digital_ocean_droplet: multiple issues"
##### SUMMARY
* newly created droplet may be unusable at times, and not immediately usable most of the times
* 'timeout' parameter is not configurable
* if a droplet e.g. 'mydroplet' has been created in 'nyc1' with size '1gb' and then params are changed in vars/playbook to 'sfo2' and '8gb', on playbook re-run module will find the droplet by name and report "success".
* many DOCUMENTATION issues

#

[2019-02-12 21:16] samdoran commented on #51788
Thank you for this feature request. The minor improvement in readability comes at the cost of added complexity in the string parsing code. There was a good deal of discussion around the fix in #51911 that resulted in that PR being closed.

In order to keep things simple we do not currently plan to implement this feature.

For further help with the issue, please reach out on IRC or the mailing list

[2019-02-12 21:16] #51788 closed, assigned to nobody

[2019-02-12 21:18] phyrwork commented on #37660
I am experiencing the same issue.

When redefining with an XML that is different the command reports 'ok' instead of 'changed' and the domain is not modified.

[2019-02-12 21:22] IPvSean commented on #50029
bump, is there any movement on this?

[2019-02-12 21:29] sivel commented on #51857
!component =lib/ansible/utils/vars.py

I agree, right now we silently ignore anything that can not be parsed or read.  We likely need better error messaging here.

[2019-02-12 21:33] sivel commented on #51861
I believe similar to https://github.com/ansible/ansible/issues/51862 we just need to ensure we have a newline printed before printing to stdout.

[2019-02-12 21:33] #51748 closed, assigned to nobody

[2019-02-12 21:35] sivel commented on #51860
This is an implementation detail of how Python, and by extension C operate when reading from stdin.

The buffer is not flushed unless you provide a line return, or until Ctrl-D is sent.

Due to this, when not providing a newline, the first Ctrl-D flushes the buffer, and the 2nd sends EOF.

I don't think there are any good ways to handle this technically.  I believe instead we just need to document

[2019-02-12 21:40] s-hertel commented on #51880
It looks like this would be fixed by #25002

[2019-02-12 21:40] samdoran commented on #51881
This could be added to the proposals on improving loops:
- https://github.com/ansible/proposals/issues/140
- https://github.com/ansible/proposals/issues/99

[2019-02-12 21:48] aci-payon-dba opened #52131 "hashi_vault lookup generates warning at LDAP authenticate"
##### SUMMARY
The Python hvac module deprecated the function 'auth_ldap' and generates the following warning:

[code]
The patch for ansible/plugins/lookup/hashi_vault.py is actually fairly easy:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/plugins/lookup/hashi_vault.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Debian Stretch

#####

[2019-02-12 21:55] jctanner commented on #37467
Test playbook:
[code]

version | rc
------ | ------
v2.4.0.0-0.1.rc1 |  2
v2.4.0.0-0.2.rc2 |  2
v2.4.0.0-0.3.rc3 |  2
v2.4.0.0-0.4.rc4 |  2
v2.4.0.0-0.5.rc5 |  2
v2.4.0.0-1 |  2
v2.4.1.0-0.3.rc1 |  2
v2.4.1.0-0.4.rc2 |  2
v2.4.1.0-1 |  2
v2.4.2.0-0.5.rc1 |  2
v2.4.2.0-1 |  2
v2.4.3.0-0.4.rc1 |  2
v2.4.3.0-0.5.rc2 |  2
v2.4.3.0-0.6.rc3 |  2
v2.4.3.0-1 |  2
v2.4.4.0-0.3.rc2 |  2
v2.4.4.0-1 |  2
v2.4

[2019-02-12 21:59] ikhan2010 commented on #29716
@justjais you were working on another similar issue.  Can you take a look at this as well, please?

[2019-02-12 22:00] it-praktyk commented on #50332
@kewalaka, updates are backported and wait for merging.

[2019-02-12 22:04] volkovolkov commented on #50441
Just wanted to add that this also effects the latest devel branch. Need to delete firewall rules out of GCP before they can be updated. If I update the list of ports for instance, it will actually clear them all out and just have the protocol. Deleting the rule and rerunning the play works fine.

[2019-02-12 22:05] jctanner commented on #37467
The bug in the original description was fixed in v2.5.1 and has remained working ever since, aside from a brief regression in v2.7.3.

[2019-02-12 22:07] anis016 commented on #35474
hello @sivel can I work on this? How much I understand, the code looks as below after making `name` as the primary key.

[ansible/modules/packaging/os/apt.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apt.py#L1010
)
[code]

[ansible/modules/packaging/os/apt.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apt.py#L1024-L1025)
[c

[2019-02-12 22:12] jctanner commented on #37467
[code]

[2019-02-12 22:18] jctanner commented on #37467
@AlanCoding the issue you've described is not a problem within the constructed feature, but it is a problem with the design of jinja. Jinja will always return strings and Ansible has to guess during post processing what the "correct" type is and can very often be wrong. The solution for that problem will always be to enable native types so that jinja returns the real datastructure instead of a cas

[2019-02-12 22:18] #37467 closed, assigned to nobody

[2019-02-12 22:18] NotAFile commented on #51632
@jborean93 The problem with config lookups is that you can't detect a manual override that isn't done in the config file. I suppose that case is pretty rare, but it would be great to have a way to get this path without a "but sometimes" case.

[2019-02-12 23:08] wimnat commented on #52063
Ah ok I think i have misunderstood the parameter.

I was expecting that only the tag I pass would be run (which would be a lovely feature :D)

[2019-02-12 23:08] #52063 closed, assigned to nobody

[2019-02-12 23:35] vishpat commented on #27220
Facing the same issue

[2019-02-12 23:36] vishpat commented on #27220
python -c "from netapp_lib.api.zapi import zapi" && echo $?
python -c "from netapp_lib.api.zapi import errors" && echo $?

Both of these commands return 0

[2019-02-12 23:48] jborean93 commented on #51632
What do you mean by manual override? That lookup get's the value of the config option at that time.

[2019-02-12 23:48] badnetmask commented on #51402
I realized that it's possible that a change on the underlying library may or may not help with this case. I am still investigating. But in the mean time I submitted a pull request to add this feature to the infoblox-client library.
https://github.com/infobloxopen/infoblox-client/pull/214

[2019-02-13 00:08] NotAFile commented on #51632
@jborean93 the fact directory can be set with the fact_path directive at a play level. There is no method I've seen that will also retrieve that value, hence this issue. `lookup("config", "DEFAULT_FACT_PATH") ` also returns `"" ` if not set (instead of the default `/etc/ansible/fact.d`), which still would require hardcoding the path.

[2019-02-13 00:29] jborean93 commented on #51632
Ah ok I see what you mean now. The docs for `DEFAULT_FACT_PATH` has no value as the default which is why the value is an empty string when you debug it. The only reason why `/etc/ansible/facts.d` is the default value is because that's the default value set in the [setup](https://docs.ansible.com/ansible/latest/modules/setup_module.html) module itself.

If you set the facts_path value in ansible.cf

[2019-02-13 00:36] NotAFile commented on #51632
@jborean93 My scenario here is a bit different. I'm not a playbook author, but a role author, so I can't adjust people's roles. I want to place fact files into the hosts fact dir and want some robust way to determine what that fact dir is, regardless of the user's playbook and configuration. This is currently not possible, so I'd need to fall back to warning people that my role won't work if they

[2019-02-13 00:40] jborean93 commented on #51632
If you are a role author you should have in your documentation that explains what is expected to be set. Currently the interface to pass information into roles is variables and not play/task directives. You shouldn't be relying on `fact_path` being set if you are using it for anything else. In fact in my testing `fact_path` is only used in the initial gathering of facts. If you were to run `setup`

[2019-02-13 00:50] NotAFile commented on #51632
@jborean93 ah, I see. So basically, `fact_path` isn't really a role setting, but actually a parameter to the implicit `setup` fact gathering and hence isn't available during the play. That's mildly confusing.

Thanks a lot for your help!

[2019-02-13 00:59] marc-sensenich opened #52138 "azure_rm_cosmosdbaccount module fails creation when virtual network filters are enabled"
##### SUMMARY

When using the `azure_rm_cosmosdbaccount` module, it does not properly update the `virtual_network_rules` that are being modfied

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`azure_rm_cosmosdbaccount`

##### STEPS TO REPRODUCE

Create an Azure Cosmos DB Account with the following fields
- `is_virtual_network_filter_enabled`
- `virtual_network_rules`

##### EXPECTED RESULTS

[2019-02-13 01:01] marc-sensenich commented on #52138
The main issue is related to this line, in which the updated rule is never passed back to the parameters sent via the management client https://github.com/ansible/ansible/blob/0a461380a31837b1078019a4fe47baf9154b8971/lib/ansible/modules/cloud/azure/azure_rm_cosmosdbaccount.py#L342

[2019-02-13 02:31] aksharbarot commented on #52006
I am not creating new vmknic but, editing/updating all existing one in infra. usually it is asking for "portgroup" as required but, i provided
*is_dvs_switch: True*
*device_name: vmknic*
*portgroup_name: PG_001* (This is visible in GUI but, ESXCLI is not showing any portgroup name)

[2019-02-13 03:39] dachshund-digital commented on #19814
Unfortunately, that did not seem to work.  I still get the error that host name can not be changed when systemd-networkd attempts it.  States that authentication is required.  This happens on Debian 9 stretch as well Raspbian OS (Raspberry Pi Debian 9 Stretch for ARM).

[2019-02-13 04:13] justjais commented on #29716
@ikhan2010 sure, shall check and update the issue.

[2019-02-13 04:19] Akasurde commented on #52131
@aci-payon-dba Thanks for reporting this issue. What is the version of `hvac` installed? I can see deprecation warning [here](https://hvac.readthedocs.io/en/stable/changelog.html#august-8th-2018).

[2019-02-13 04:45] ElijahLynn commented on #24388
Crosslinking to https://github.com/ansible/ansible/issues/5316#issuecomment-345051733

[2019-02-13 05:52] jborean93 commented on #14393
This issue will be fixed once https://github.com/ansible/ansible/issues/24525 has been merged. It adds a new counter called `rescued` which will show tasks that had failed in a block but was subsequently rescued. It also adds another counter called `ignored` for tasks that failed but had `ignore_errors: True` on it.

[2019-02-13 05:52] jborean93 commented on #24525
This issue will be fixed once https://github.com/ansible/ansible/issues/24525 has been merged. It adds a new counter called `rescued` which will show tasks that had failed in a block but was subsequently rescued. It also adds another counter called `ignored` for tasks that failed but had `ignore_errors: True` on it.

[2019-02-13 06:49] aci-payon-dba commented on #52131
# cat /usr/local/lib/python2.7/dist-packages/hvac-0.7.2.dist-info/METADATA
Metadata-Version: 2.1
Name: hvac
Version: 0.7.2
Summary: HashiCorp Vault API client

[2019-02-13 07:38] justjais commented on #51402
@sganesh-infoblox @s-giri

[2019-02-13 08:17] jojo221119 commented on #34485
I faced the same error message, it was caused by accidentally stopping the users session with systemd.

[2019-02-13 08:59] richlv commented on #51860
Got it. Documentation would be greatly appreciated, especially in the prompt.

[2019-02-13 09:08] #38353 closed, assigned to nobody

[2019-02-13 09:09] #51367 closed, assigned to nobody

[2019-02-13 09:16] x-yuri commented on #19814
@dachshund-digital I do not follow. You're provisioning a physical server or an LXC container? The solution I was referring to is for LXC containers apparently. What does it matter which NICs it has, DHCP and all? By log you mean systemd log? What are the exact messages?

You try to change hostname, but it instead changes to localhost? Are you sure you're facing the same problem as the one describ

[2019-02-13 09:18] ckotte commented on #52006
Then it's an issue with esxcli and not the module. This issue should be closed.

[2019-02-13 09:18] leupo opened #52147 "maven_artifact packaging and deploy support"
##### SUMMARY
Please add support for deployment of artifacts and the "packaging"-Option to download/deploy other files(eg. tar.gz) through the maven_artifact module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
plugin: maven_artifact

##### ADDITIONAL INFORMATION

[code]

[2019-02-13 09:19] phyrwork commented on #37660
FWIW

Various threads from the internet at large suggest that virsh define can redefine an existing domain, but my experience is that a domain can only be defined if it is not already defined i.e. to redefine you must undefine-define.

Perhaps it doesn't make sense for the define _command_ to be able to be redefine, but in that case there should be an idempotent state:defined or equivalent to be a

[2019-02-13 09:40] Tomorrow9 commented on #51066
@mrmeszaros @xenlo Hi, would you please help taking a look at the PR I submitted to see if it meets the request. Thanks.

[2019-02-13 09:40] #46791 closed, assigned to nobody

[2019-02-13 09:44] johnmcn1 commented on #40561
I had this too.

`fatal: [abcdef.example.net]: FAILED! => {
    "msg": "module (cron) is missing interpreter line"
}`

Turns out it was caused by a playbook I'd created with the same name as the cron module: `playbooks/examples/cron.yaml`.  Something I'd created when delivering an Ansible workshop for my team and left hanging around.

[2019-02-13 10:00] angystardust commented on #52003
Adding also @schmots1

[2019-02-13 10:14] pin007 commented on #50757
Hi all, I have same problem. Using only `.aws/config` and `.aws/credentials`, no `.boto` stuff.

`ec2_vpc_igw_facts` is working just fine:
[code]

but fails for `ec2_vpc_igw`:
[code]

versions:
[code]

[2019-02-13 10:20] aksharbarot commented on #52006
It could be but I see same behavior when i use ansible module **"host_vmk_facts"**

output:
               "device": "vmk1",
                "dhcp": false,
                "enable_ft": false,
                "enable_management": false,
                "enable_vmotion": false,
                "enable_vsan": false,
                "ipv4_address": "10.10.10.10",
                "ipv4_subnet_mask": "2

[2019-02-13 10:20] pin007 commented on #50757
Problem seems to be here:

`ec2_vpc_igw_facts` uses this code for obtaining connection:
[code]

but `ec2_vpc_igw` uses:
[code]

This also applies for some other modules. For now it seem that stable "workarround" is to utilize `sts_assume_role` module.

[2019-02-13 10:48] willthames commented on #50757
that's not really all of it @pin007 - the difference is that ec2_vpc_igw_facts has been modernised to use boto3, and ec2_vpc_igw is really old and is still on original boto.

However, if the other suggestion isn't working for you, I'm not sure what to try next.

Could you post a redacted copy of your ~/.aws/config - I know there are some settings that just don't work with boto (but that's differen

[2019-02-13 10:53] willthames commented on #50757
With
[code]

the following command works fine for me:

[code]
from test/integration/targets on 2.7

[2019-02-13 10:53] ckotte commented on #52006
Maybe different areas of the API are queried in the two modules. Do you see a portgroup (network label) in the GUI?

[2019-02-13 11:51] pin007 commented on #50757
My current `.aws/config`:
[code]

But same result for `ec2_vpc_igw` :thinking:

[2019-02-13 12:31] zigarn commented on #14107
I can confirm that the problem still exists with ansible 2.7.7 (but it's a minor use-case):

[code]

[2019-02-13 12:31] trishnaguha commented on #50626
@Kloperations please open a new issue with your playbook and configuration.

[2019-02-13 13:03] Akasurde commented on #51378
@Ashishkasaudhan I have update hashi_vault lookup plugin to handle multiple spaces in arguments. Could you please check if it works for you or not ? Thanks

PR #51524

[2019-02-13 13:10] aksharbarot commented on #52006
Yes! it is visible in GUI.

[2019-02-13 13:27] Spredzy opened #52152 "Possible regression when limit host name do not match"
##### SUMMARY

The `ansible-playbook` behavior has changed since `stable-2.7` in a non-backward compatible way.
Until now, if hosts listed in `--limit` did no match any host, we ended up with `
ERROR! Specified hosts and/or --limit does not match any hosts` and `$?` being 1, now it silently skips it and `$?` is 0.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

  - ansible-playbook

##### A

[2019-02-13 13:36] #50100 closed, assigned to nobody

[2019-02-13 13:53] DarkZatarra opened #52154 "Operation condition is missing in zabbix action module"
##### SUMMARY
As per the [Zabbix documentation](https://www.zabbix.com/documentation/4.0/manual/api/reference/action/object#action_operation_condition), each operation should support one condition (namely run only if event is acknowledged or not. The zabbix_action module currently does not seem to support this, or at least it is not mentioned in the [module documentation](https://docs.ansible.com/

[2019-02-13 14:26] wojtek0806 commented on #50604
close_me

[2019-02-13 14:40] Itxaka commented on #23257
This seems to have been fixed already by https://github.com/ansible/ansible/commit/5464b7156120e9be898e31336bf59b021a64d25f

I also tested this locally with the following play.yml:
[code]

And it didnt fail after the second try:

[code]

[2019-02-13 14:42] #50604 closed, assigned to nobody

[2019-02-13 14:50] AlanCoding opened #52158 "Native jinja2 with non-strict constructed keyed_groups encounters unexpected error"
##### SUMMARY
If I set the configuration `DEFAULT_JINJA2_NATIVE` (env `ANSIBLE_JINJA2_NATIVE`) and use a `strict: False` constructed inventory file with a `keyed_group` that references a non-existent hostvar, then an undefined error occurs in the processing of the inventory.

(I mean that literally, a `<class 'jinja2.exceptions.UndefinedError'>` is thrown)

This violates the intent of strictness.

[2019-02-13 14:52] AlanCoding commented on #37467
Confirmed, with my examples. Our take-away here is that we needed to set `ANSIBLE_JINJA2_NATIVE=true`.

With the keyed_groups commented out, I obtain this output:

[code]

hostvar `var_sum` is 8, as an integer.

With this example:

https://github.com/AlanCoding/Ansible-inventory-file-examples/tree/master/plugins/constructed

Thank you, this is very helpful information and is a setting we will want

[2019-02-13 14:53] javierg21 commented on #23450
Hi. I just did two test scenarios. These are the results:

Copying 867 mbs(regular files, no zipped) to a local machine (win2016) running Hyper-V:
module win_copy: 10 minutes
copy-item -tosession: 3 minutes

Copying 867 mbs(regular files, no zipped) to a machine in Azure (win2016):
win_copy: 21 minutes
copy-item -tosession: 10 minutes

[2019-02-13 15:15] AlanCoding commented on #52158
This diff does appear to resolve the issue:

[code]

But I hesitate to dive into making a PR for now. One, because there are some natural review questions I can't answer. Why use `bool` as opposed to `repr`? The latter doesn't work, and I don't know why. Also, some effort will be needed for tests.

[2019-02-13 15:32] AlanCoding commented on #52047
Issue should be resolved by the linked PR.

bot_status

[2019-02-13 15:34] dejoost commented on #14785
Also bumped into this issue. Module correctly finds the path on the machine where the share is located, but fails to find it on remote machines

[2019-02-13 15:38] jceddy commented on #14785
@dejoost I figured out this is due to the winrm 2 hops issue...you need to use runas when doing anything on the network to force your user to be reauthenticated ... It's a Windows networking quirk where the network machine is treating your credentials as stale

[2019-02-13 15:43] sivel commented on #52152
This appears to have been caused by something in https://github.com/ansible/ansible/commit/445ff39f944f45492bf7b2360d99fdadc02d142b

[2019-02-13 15:55] djzager commented on #52046
As far as the ConfigMap use case is concerned, I believe you could simply use the `append_hash` feature coming to the [`k8s module in 2.8`](https://docs.ansible.com/ansible/devel/modules/k8s_module.html to version your ConfigMap. In that case, an update to the ConfigMap would give it a new name and require a change also to the Deployment(Config) with a subsequent rollout.

[2019-02-13 16:29] rvalles commented on #39895
This is still an issue today.

Please just provide a get method with the same syntax as puts, rather than try and force everyone to use lookup(), which besides broken (can you give a working example with region?), might or might not be a good fit for a given use case.

I'm using shell and aws-cli to get around this nonsense.

[2019-02-13 16:40] louwrentius commented on #42460
I've also encountered this issue in ansible 2.7.6.

[2019-02-13 16:45] alongchamps commented on #51240
FYI for anyone reading this, I am working on this one internally in my current team's sprint because it solves a need for us. For any questions, just reach out.

[2019-02-13 16:48] aliceminotto commented on #9175
Hi,

I appear to have the same issue now with different packages (and this seems to be the correct repository again), was that a solution for this? (I'm using 2.3.1)

Cheers

[2019-02-13 16:55] carchi8py commented on #52003
This is a bug, i've created internally story NETAPP-1201 for this.

[2019-02-13 17:16] Akasurde opened #52180 "VMware: Add support for GSSAPI token"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/module_utils/vmware.py

##### ADDITIONAL INFORMATION

Just like FreeIPA add support for GSSAPI for vmware_* modules.

https://github.com/ansible/ansible/pull/52031

[code]

[2019-02-13 17:17] mooninite opened #52181 "azure_rm_virtualmachine_facts crashes on deallocated VMs"
##### SUMMARY

Sometime overnight the storage disks metadata changed and the azure_rm_virtualmachine_facts module no longer works.

Setting the missing metadata to a static string allows the module to work again.

I have not debugged the returned metadata yet to see if this information is in a new location.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine_facts

#####

[2019-02-13 17:17] xenlo commented on #51066
Hey,
First test (adding several NICs to a host with a loop) looks successfull!
I will do some further tests tomorrow. And then add my feed back on PR #52075 .
Thank you already.

[2019-02-13 17:23] JAORMX commented on #52180
I authored #52031 which added support for GSSAPI to the FreeIPA modules. So feel free to add me as a reviewer to PR when it comes up.

[2019-02-13 17:27] Akasurde commented on #52180
@JAORMX Yes, definitely.

[2019-02-13 17:46] kostiantyn-nemchenko commented on #25022
resolved_by_pr 50957

[2019-02-13 17:52] #52152 closed, assigned to sivel

[2019-02-13 17:57] kostiantyn-nemchenko commented on #28433
notabug

[2019-02-13 18:03] abenokraitis opened #52183 "Move four modules from network to community maintained"
##### SUMMARY

Looking at:
https://docs.ansible.com/ansible/latest/modules/network_maintained.html#network-supported

Four modules should move from `supported_by: network` as they were erroneously added to network supported to `supported_by: community`:

`ftd_configuration – Manages configuration on Cisco FTD devices over REST API`
`ftd_file_download – Downloads files from Cisco FTD devices over H

[2019-02-13 18:03] sivel commented on #52183
cc @thaumos

[2019-02-13 18:07] abenokraitis commented on #52183
@privateip @ikhan2010 @IPvSean just FYI.

[2019-02-13 18:07] sivel commented on #14107
I believe this is likely the result of using `os.path.realpath` instead of `os.path.abspath` in `ansible.utils.path.unfrackpath`

[2019-02-13 18:11] #28433 closed, assigned to nobody

[2019-02-13 18:11] #25022 closed, assigned to nobody

[2019-02-13 18:40] #45971 closed, assigned to nobody

[2019-02-13 18:40] #51848 closed, assigned to nobody

[2019-02-13 19:18] budric opened #52186 "nmap inventory plugin python3 cannot use a string pattern on a bytes-like object"
##### SUMMARY
When trying to use nmap dynamic inventory plugin, it fails with "cannot use a string pattern on a bytes-like object".

The stdout returned from `stdout, stderr = p.communicate()` needs to be decoded to string so regex matching can be applied.

Quick workaround on my system was adding `stdout = stdout.decode("utf-8")`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nmap

##### A

[2019-02-13 19:24] #52183 closed, assigned to samccann

[2019-02-13 19:48] lc-nyovchev opened #52187 "Allow to pass full dicts to vars in 'include_role'"
##### SUMMARY

It's very useful when programming something with inheritance and you want to override the base variables.

Imagine the following situation. Let's say I have a **base** role and many roles which inherit it by using `include_role`, one of them being a role called **child**:

In the **base** role I have a variable in `roles/base/vars/main.yaml` defined like this:

`someVariable: "defau

[2019-02-13 19:49] sivel commented on #52187
Duplicate of https://github.com/ansible/ansible/issues/19084

[2019-02-13 19:49] #52187 closed, assigned to nobody

[2019-02-13 19:50] dmkoster opened #52188 "aws_s3 module does not work on FIPS systems due to hardcoded md5 usage"
##### SUMMARY
aws_s3 uses MD5 to check for changes in files.
It also executes an MD5 check on the file when `overwrite` is enabled and the MD5 result is discarded.

The result is a system that has disabled MD5 as per FIPS-140-2 cannot use the `aws_s3` module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aws_s3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRON

[2019-02-13 20:24] marouim commented on #48093
Same issue using Tower.. not having the issue when manually run the playbook.

[2019-02-13 20:30] felixfontein commented on #49267
I think we have a good set of facts modules now. If someone misses something specific, just open a new issue :)

[2019-02-13 20:30] #49267 closed, assigned to nobody

[2019-02-13 21:19] ricewu2019 opened #52196 "fortios_address doesn't work with vdom setting"
##### SUMMARY

When using module "fortios_address" to push configs to the Fortigate with one VDOM "root", it failed.
If there's no VDOM enabled on Fortigate and there's no "VDOM" option settings in playbook, this module works fine. The problem only happens when there's VDOM enabled on fortigate and VDOM option setting in playbook. In short, VDOM option doesn't work under the "fortios_address" modu

[2019-02-13 21:21] sparampalli opened #52197 "Unable to use the gcp_compute_disk_facts lacks a field to specify 'region'"
##### SUMMARY

gcp_compute_disk_facts lacks a field to specify 'region'. Right now module works for the given zones and not for the regions.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_disk_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### DEPENDENCY PROBLEMS

[code]

##### STEPS TO REPRODUCE

It is not possible to find the disk

[2019-02-13 21:22] karlmiles commented on #43347
I hit the same resulting error message this evening albeit with Ubuntu 18.10 and for creating a container rather than a profile.  By getting Ansible to not tidy-up its temporary files and then running the troubled script:
`python3 AnsiballZ_lxd_container.py explode`
That created a set of files in a `debug_dir` subdirectory which can be executed in there with `python __main__.py < args`, that then

[2019-02-13 21:33] wojtek0806 commented on #47082
close_me

issue is tracked elswhere no need for duplication

[2019-02-13 21:41] #47082 closed, assigned to nobody

[2019-02-13 21:55] ypid opened #52201 "Support to proxy HTTPS apt source URIs though apt-cacher-ng in apt_repository"
##### SUMMARY
apt-cacher-ng has recommendations for caching HTTPS URIs when using apt. The `apt_repository` should support a parameter like `https_as_http_for_proxy` which causes the module to rewrite the URI.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`apt_repository` module

##### ADDITIONAL INFORMATION

As documented in: https://www.unix-ag.uni-kl.de/~bloch/acng/html/howtos.html#ssl

[2019-02-13 22:03] jborean93 commented on #23450
@javierg21 I can almost certainly say the slowdown is due to WinRM but let's even the playing field before we do some comparisons. The win_copy action plugin does more than just copy a file from Ansible to the Windows host. Typically it will do the following;

* It will connect to the Windows host and run some code that checks if the target files already exist and generate a checksum for any file

[2019-02-13 22:19] stawii opened #52202 "New become_method: docker"
##### SUMMARY
Some of lightweight Docker containers managed by `ansible_connection: docker` does not have working `su` or `sudo` commands, but privilege escalation can be easily achieved by setting `--user` option during `docker exec` call from Docker connection plugin.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- plugins/connection/docker.py

##### ADDITIONAL INFORMATION
I believe thi

[2019-02-13 22:31] sivel commented on #52202
The docker connection already supports specifying the user to connect as.  Switching the remote_user is not really become functionality. Just switch the user with `remote_user` as a play/task keyword, or the `ansible_user` variable

[2019-02-13 22:32] sivel commented on #52202
If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-13 22:32] #52202 closed, assigned to nobody

[2019-02-13 22:36] mattclay commented on #48781
When adding 12.0 we should also consider testing it with Python 3 instead of 2, given that Python 2 will be reaching end-of-life next year. We can leave 11.x on Python 2 for the time being

That should give us reasonable test coverage without having to test 11.x and 12.x on Python 2 and 3.

Since testing with Python 3 will probably require more work than testing with Python 2, that change can be d

[2019-02-13 22:39] mattclay opened #52203 "Test FreeBSD 12.x with Python 3.x"
##### SUMMARY

Update the FreeBSD 12.x platform in the test matrix to be tested using Python 3.x instead of 2.7.

<strike>This work is blocked on first adding FreeBSD 12.x to CI: https://github.com/ansible/ansible/issues/48781</strike>

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

shippable.yml

[2019-02-13 22:42] mattclay opened #52205 "Add Python 3.8 to CI"
##### SUMMARY

Add the Python 3.8 to CI.

Python 3.8.0a1 was released on February 3rd, 2019:

https://www.python.org/downloads/release/python-380a1/

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

shippable.yml

[2019-02-13 22:46] #51724 closed, assigned to maxamillion

[2019-02-13 22:47] Kloperations opened #52206 "nxos_install_os not recognizing persistent_command_timeout when defined in ansible.cfg (ansible 2.7.7)"
##### SUMMARY

nxos_install_os errors out due to persistent_command_timeout not defined in configuration
the above variable is defined in the ansible.cfg file and set to the desired value
worked just fine on 2.7.4 & 2.7.6 without making any changes to current playbook

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_install_os
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#

[2019-02-13 23:18] stawii commented on #52202
So I'm forced to add `ansible_user: root` and `ansible_become: no` in inventory to override each role/task running with `become: yes`? But this will cause all roles/tasks are run as root - even those without need of privileges - sometimes this can be bad.
Also if plays/tasks uses `become_user` different than root it will be ignored and Bad Things Can Happen (tm).
Assuming playbooks/roles should be

[2019-02-13 23:48] niko2 opened #52210 "wrong format for ansible_distribution_version on Linux Mint 18.3"
##### SUMMARY
ansible_distribution_version is stored in bad format (trailing double-quotes) and also ansible_distribution_major_version is wrong (it seems to be a consequence)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

I am checking the ansible_distribution_

[2019-02-14 00:14] willthames commented on #50757
Yeah, boto doesn't support role_arns. Sorry.

This was raised initially with #31378, but we've made little progress on the boto -> boto3 migration since then because there's no-one doing the work (of the four original AWS working group members, not one is now available to work on AWS stuff full time)

[2019-02-14 00:27] Siddhartha90 commented on #39435
```brew upgrade ansible``` fixed this for me.

[2019-02-14 01:56] Tomorrow9 commented on #51066
Yeah, sure, thanks for the testing. 👍

[2019-02-14 02:47] qduxiaoliang opened #52214 "duplicate task names are shown in the console output when ansible-playbook is run"
##### SUMMARY

task name is shown twice in the console output when ansible-playbook is run
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

full_skip
stdout_callback

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

 uname -a
Linux server 3.10.0-862.14.4.el7.x86_64 #1 SMP Fri Sep 21 09:07:21 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

##### DEPENDENCY PROBLEMS

[2019-02-14 02:50] qduxiaoliang commented on #52214
please note: there is no such issue in ansible 2.6.5

[2019-02-14 02:55] #51528 closed, assigned to nobody

[2019-02-14 03:09] qduxiaoliang commented on #52214
after checking the full_skip document as below, this plugin is deprecated
https://docs.ansible.com/ansible/latest/plugins/callback/full_skip.html
a new configuration option named display_skipped_hosts has been added.
this ticket can be closed since another solution can also achieve suppressing the skipping task names in the console output

[2019-02-14 03:45] mtkunkel opened #52215 "maven_artifact fails to overwrite existing files with default `verify_checksum: download`"
##### SUMMARY
The maven_artifact module fails to overwrite existing files with the new default `verify_checksum: download` despite a checksum and size mismatch.

maven_artifact should overwrite existing files if the requested artifact does not match `dest` no mater the `verify_checksum` parameter.

Moreover, the module should avoid downloading the artifact at all if the checksums match.  This beha

[2019-02-14 05:25] Akasurde commented on #52214
@qduxiaoliang Thanks for reporting this issue. Closing this issue as per [comment](https://github.com/ansible/ansible/issues/52214#issuecomment-463469768). Please feel free to re-open if problem persists. Thanks.

[2019-02-14 05:25] #52214 closed, assigned to nobody

[2019-02-14 05:49] Fred-sun commented on #51751
@zikalino  Could you help take a look this when you're available? Thanks!

[2019-02-14 06:23] ParticleDecay commented on #46308
I believe this breaks standard behavior, such as when strings naturally contain commas:
[code]

However, since `value=dict(required=False, type='list')`, this will be interpreted as a list instead of as a string.

[2019-02-14 06:24] vegaoqiang opened #52218 "Cannot find reference 'DEFAULT_LOCAL_TMP' in 'constants.py'"
##### SUMMARY

use python api as follows:
https://docs.ansible.com/ansible/latest/dev_guide/developing_api.html#python-api-example

in the example last line:
[code]
"DEFAULT_LOCAL_TMP" not in constants.py
it is a bug?
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
constants.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS Sierra 10.12.2
python3.6.8

[2019-02-14 06:25] jhawkesworth commented on #23450
Thanks for this great piece of analysis.

On Wed, 13 Feb 2019 at 22:03, Jordan Borean <notifications@github.com>
wrote:

[2019-02-14 06:30] Fred-sun commented on #52181
@mooninite Thanks for your reporting this issue! Do you add new data disk(Type: StandardSSD_LRS) for the VM when you get the VM facts?

[2019-02-14 06:32] Fred-sun commented on #52138
@zikalino Could you help take a look this issue when you're available? Thanks!

[2019-02-14 06:50] chen3961 commented on #38050
Is there any plan to patch this issue? Still encounter the same problem for ansible 2.4.2.0 and centos 7

[2019-02-14 07:10] natefoo commented on #47156
I ran in to some issues with `setcap -v` and discovered that how `setcap(8)` works is not specified and could theoretically change, which led to some extra work for the sake of safety/portability, and to make this module's use more intuitive. But I've got a WIP prototype (no documentation updates, needs cleaning, error handling, testing, etc.) in [my capabilities-module-rework branch](https://gith

[2019-02-14 07:16] turb commented on #52215
The reasons for to this change has been explained in this bug you mentioned.

`download` here means "use the checksum to verify the integrity of the *download* as the ones who made maven wanted it".

Does it work as you want it with `verify_checksum: always`?

[2019-02-14 07:25] sk1988 commented on #41523
Could you please provide the link to download Ansible 2.8 devel as I am unable to locate it?  Or alternatively, any instructions to install on CentOS 7.4 would be helpful (the latest I see in CentOS repo is 2.5.3).

[2019-02-14 07:36] #48781 closed, assigned to nobody

[2019-02-14 07:57] karniemi commented on #35324
Not sure what is your actual use case ? super convenient sounds a bit vague... :-)

Another probably different issue is  the fact that "yum reinstall" is probably the only way to mark an already installed package as required by user ( yumdb: "reason = user"). Therefore, ansible yum-module should by default "reinstall" if the package was already installed via another package requirement ( yumdb: "r

[2019-02-14 07:59] Klaas- commented on #51724
thanks for the quick help @maxamillion

[2019-02-14 08:18] Fred-sun commented on #43802
@yungezz The PR #51214 has been merged, Could you can close this issue? Thanks!

[2019-02-14 08:22] Fred-sun commented on #50443
@itamary

[2019-02-14 08:23] s-hamann commented on #24644
Since no-one seems to have mentioned this before: `tmpfs` mounts are also missing.
This is quite a limitation for me, since I tend to have a few `tmpfs` mounts on my systems.

[2019-02-14 08:33] Akasurde commented on #52218
@vegaoqiang Thanks for reporting this issue. `DEFAULT_LOCAL_TMP` value is derived [here](https://github.com/ansible/ansible/blob/9bb1c596860a9407156f29822efa65c702e4a574/lib/ansible/constants.py#L187). You backtrack and find out it is being parsed from [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/config/base.yml#L781)

Thanks.

[2019-02-14 08:33] #52218 closed, assigned to nobody

[2019-02-14 09:37] mz0 commented on #52128
Please see [in-tree version doc rendition](http://x302.net/ansible/modules/digital_ocean_droplet_module-ffb2e30786.html) and the one [with proposed changes](http://x302.net/ansible/modules/digital_ocean_droplet_module-1aba5bb654.html).

[2019-02-14 09:50] dejoost commented on #14785
thanks! I knew about that issue but didn't realized it was also interfering in this case. Big thanks!

For the record, i'll try this approach:
become: yes
become_user: current_user

[2019-02-14 10:02] Lunik commented on #52089
Simply add `name` parameter to your task like

[code]

You should get

[code]

Then, you should maybe add more verbosity when calling the `ansible-playbook` command
[code]

[2019-02-14 10:13] mariolenz commented on #51928
I think this is a duplicate of #44561.

[2019-02-14 10:13] #51928 closed, assigned to nobody

[2019-02-14 11:13] Akasurde commented on #52210
@niko2 Thanks for reporting this issue. Could you please check above PR and let me know if it works for you ? Thanks.

needs_info

[2019-02-14 11:13] Akasurde commented on #52210
resolved_by_pr #52224

[2019-02-14 11:53] Akasurde commented on #51908
@nitinjain999
You may need to one of the following -
1. If you are using `azure_rm.py` from `contrib/inventory` directory then you need to keep this script in location accessible by `inventory` parameter of `[defaults]` section in `ansible.cfg`

[code]

or

2. If you want to use latest dynamic inventory plugin [`azure_rm.py`](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/invent

[2019-02-14 11:55] Akasurde commented on #51908
needs_info

[2019-02-14 12:28] mkrizek commented on #52158
@AlanCoding thanks for the analysis, that was very helpful. I think I know what's going on here now, working on a fix.

[2019-02-14 12:40] Akasurde commented on #49615
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2019-02-14 12:40] #49615 closed, assigned to nobody

[2019-02-14 12:46] RickS-C137 opened #52232 "k8s module throws "No JSON object could be decoded""
##### SUMMARY
I'm refactoring one of our Ansible roles and trying to replace the deprecated kubernetes module with the new k8s one. The module is getting a Yaml file with the resource definition and is failing. The old module is running fine with this template, so it's tested.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

[2019-02-14 13:00] sumodirjo opened #52233 "'ansible_product_name' is undefined on Mac"
##### SUMMARY
I'm trying to get `ansible_product_name` value on my playbook on Mac but get error message `'ansible_product_name' is undefined`. This only happen in Mac. I can get `ansible_product_name` value on Linux PC.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
debug

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOSX 10.13.6

##### DEPENDENCY PROBL

[2019-02-14 13:57] Jeremytetu commented on #52089
Ok I just found my problem.
I got this in my ansible.cfg :
`display_skipped_hosts=false`

There is already a ticket concerning this behavior : https://github.com/ansible/ansible/issues/51042

Hope it will help some people anyway.

This ticket can be closed. Thanks

[2019-02-14 14:24] lakshman-au opened #52235 "With_filetree module performance"
I have few directories and there are 100 files and i am using with_filetree for templating and it takes more than 20 minutes to complete.i need suggestion to improve the performance.

[2019-02-14 14:29] lakshman-au opened #52236 "With_filetree module performance"
I have few directories and there are 100 files and i am using with_filetree for templating and it takes more than 20 minutes to complete.i need suggestion to improve the performance.can we run with_filetree in async mode for different directories

[2019-02-14 14:30] lakshman-au commented on #52236
Duplicate

[2019-02-14 14:30] #52236 closed, assigned to nobody

[2019-02-14 14:33] josephlevarato opened #52238 "Deprecation warning about sudo + asking for sudo password when sudo is never used in playbook"
##### SUMMARY

I'm trying to use ansible-playbook on a remote server, without requiring root elevations (just to ping the server so far). However, Ansible works fine, but ansible-playbook somehow absolutely *needs* a sudo password, and says the sudo password isn't correct once provided.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

All of them: ping, copy, apt,...

##### ANSIBLE VERSION

[

[2019-02-14 14:41] Neurozone opened #52239 "Cobbler module cobbler_system validate_certs error"
##### SUMMARY

With validate_certs: no using module cobbler_system , the module is  validating certificate:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cobbler_system
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.6
[code]
##### DEPENDENCY PROBLEMS
If you're having problems with a Python library (e.g. you've installed a library but
An

[2019-02-14 14:51] Neurozone opened #52241 "Bug in module cobbler_system"
##### SUMMARY

When trying to query one or all system with the module I got the following errors:

Query ONE system:
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: AttributeError: 'NoneType' object has no attribute 'iteritems'
fatal: [localhost -> localhost]: FAILED! => {"changed": false, "module_stderr": "Traceback (most recent call last):\n  File

[2019-02-14 14:53] fabianvf commented on #52232
The `definition` field is meant for an inline definition, to pass a file to it you can use the `src` field. You can also template and load a file with the `template` lookup, using this pattern the playbook above would look more like this:

[code]

[2019-02-14 14:57] FlorianneRaven commented on #52241
After adding state: query it works.

Documentation of the module isn't correct !

[2019-02-14 15:03] DAgostinoLucas commented on #50874
@fabianvf ,
Here is (finally) a minimal playbook example. Note that I'm using _oc_project module_ coming from [here](https://github.com/openshift/openshift-ansible/blob/master/roles/lib_openshift/src/ansible/oc_project.py). As a workaround, I'm also using _oc_ module. If you want, you can compare results with that but don't forget to adapt _oc_host/port/token_ according to your environment.

Playb

[2019-02-14 15:04] Jeremytetu commented on #52089
But, I think this is still an issue, because the only way to see task in progress show also skipped host..

To reproduce my problem, you can add `display_skipped_hosts=false` to ansible.cfg and run a playbook with a task like :
[code]

And you wont see the
[code]
during 10 seconds

[2019-02-14 15:12] mtkunkel commented on #52215
The explanation never mentions NOT overwriting an existing local file.  The whole point is to update artifacts if the local copy is stale! (which `download` fails to do)  Any deployments I had using maven_artifact that were happening <2.6 now all fail to update local files and say `ok`.

Yes, `always` works as it should.  Prevents unnecessary downloads.  **Actually updates stale files existing on

[2019-02-14 15:19] mooninite commented on #52181
The VMs have not been changed. I saw this bug in the middle of a scheduled job. It had worked for the first few stages and failed in the final stages so Microsoft introduced a bug on us.

Unfortunately I can no longer reproduce this. Microsoft appears to have fixed their bug and the metadata returned is now valid and the module works.

[2019-02-14 15:20] MatteoMori commented on #48109
Hello guys, we are having the same issue running Ansible 2.7.7.

Are there any updates? Unfortunately we need to use 2.7 since we want to use the 'rds_instance' module (for encrypting the RDS)

[2019-02-14 15:21] sivel commented on #52238
There is a disconnect between what command you say you are running and what command is actually being executed.

The output you provide, shows that you are running `ansible-playbook [...] main.yml`

THe important part of the output is:

[code]

And more specifically:

[code]

As you can see, ansible has been instructed to use `become` here.

This may indicate that your inventory file has specified

[2019-02-14 15:22] sivel commented on #52235
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-02-14 15:22] #52235 closed, assigned to nobody

[2019-02-14 15:32] mtkunkel commented on #52215
To be clear this is being used to deploy maven artifacts to a server..  Where the version likely isn't part of the filename (I realize this is different from the maven cache on a dev machine).   Notice most provided examples use a `dest` that rename the target file (no version in the name).  Our specific use case is the web-app.war example: https://docs.ansible.com/ansible/latest/modules/maven_art

[2019-02-14 15:35] sivel commented on #52103
This is very much true. I would say that we are in a transitional phase at the moment.  These new config values that are listed in the `DOCUMENTATION` of the `paramiko_ssh.py` file are not the source of truth, and are thus ignored.

I cannot see us making them actually work right now, and making them work will depend on transitioning more away from using `PlayContext`.

I'm leaning towards this be

[2019-02-14 15:37] sivel commented on #52089
Duplicate of https://github.com/ansible/ansible/issues/51042

[2019-02-14 15:37] #52089 closed, assigned to nobody

[2019-02-14 15:37] sivel commented on #49114
I'm going to close this out as a duplicate of https://github.com/ansible/ansible/issues/51042

[2019-02-14 15:37] #49114 closed, assigned to nobody

[2019-02-14 15:40] kdelee opened #52244 "ansible-inventory mixes traceback with stdout when set to verbose"
##### SUMMARY

Traceback from an inventory plugin is mixed with stdout instead of being directed to stderr when using `ansible-inventory -vvvv`. This is a blocker for awx being able to seperate the streams and correctly display tracebacks to users.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-inventory
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONM

[2019-02-14 15:41] tumbl3w33d commented on #52215
I understand that for your use case `always` is the desired behavior, but that doesn't change that it's not the most conservative choice. Other ansible modules do stuff like `state: present` as default, which means - "if something is there, don't touch it" and you have to explicitly choose `latest` to cause a change on the target system. That's pretty much the difference between `download` and `al

[2019-02-14 15:46] sivel commented on #52030
This same issue was closed the other day as a wontfix in https://github.com/ansible/ansible/issues/51980

I linked to another issue explaining that we do not plan to add new directories to the search path for looking for files.  This includes adding the current inventory directories, or new directories.

This can be achieved already using the `first_found` lookup, or other various methods, but we

[2019-02-14 15:46] #52030 closed, assigned to nobody

[2019-02-14 15:46] alexanderadam commented on #20568
I'm not quite sure whether it is the same issue or not but I'm trying to copy a go template to a host and I'm getting the `template error while templating string` error as well.

The Ansible version I'm using is `2.5.1`.

This is the task

[code]

and [this is the file](https://raw.githubusercontent.com/go-gitea/gitea/master/templates/base/head.tmpl) I'm trying to copy.

[2019-02-14 15:46] sivel commented on #17672
We have recently discussed this feature internally and have decided against extending the search path to inventory directories.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-14 15:46] #17672 closed, assigned to nobody

[2019-02-14 16:04] dagwieers commented on #52241
Please edit the documentation to implement the correct fix. You can do this in the documentation by clicking on "Edit on GitHub".

[2019-02-14 16:18] Drillan767 commented on #52238
Hello, thank you for this quick response!

I ran your command, and got an empty object as a response:

ansible-inventory --host=distant-host.fr

[code]

This is mainly why I decided to open a ticket, Ansible seems to be forced to "become" somewhere, while I keep looking around trying to figure out how and why. Does the fact that I'm in a Docker container changes anything?

Thank you in advance

[2019-02-14 16:27] turb commented on #52215
Agreed with @tumbl3w33d on the ansible typical behaviour.

Moreover, `change` (previous default) and `always` can not be the default because it is broken by design, as the module documentation explains.

Using checksum to see if a file was modified in the repository leads to errors for two reasons:
- checksum in maven is intended for download integrity check only (that's why in some scenarios if y

[2019-02-14 16:27] plevexier opened #52249 "setting up access logs through elb_network_lb"
I'm trying to setup the access logs through the elb_network_lb module, but not luck, the access_logs parameter is not accepted (like it is done with the ec2_elb_lb module).

If I list the facts of an existing elb_network_lb, I get:
"access_logs_s3_bucket": ""
"access_logs_s3_enabled": "false"
"access_logs_s3_prefix": ""

But none of this params are accepted as parameters.

Ansible version: 2.7.6

[2019-02-14 16:51] Drillan767 commented on #52238
Update from my side: I talked to the server's administrator and told him about this issue (he knew I had a lot of struggles)

He then decided to give the sudo rights to my user (this "osadmin"), and now everything works fine.
So, I guess the issue can be closed from my side, and I think the osadmin user was lacking some basic rights.

Thank you a lot for helping me understand things!

[2019-02-14 16:51] #52238 closed, assigned to nobody

[2019-02-14 17:25] anryko opened #52253 "Add support of target_type lambda to elb_target_group aws module"
##### SUMMARY

Support of `target_type` lambda to `elb_target_group` aws module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`elb_target_group.py`

##### ADDITIONAL INFORMATION

Syntax example:
[code]

[2019-02-14 17:53] bogd commented on #45918
Same issue here on a fresh Ubuntu 18.04 install. Also solved by adding the universe repo.

+1 for updating the docs with this information.

[2019-02-14 18:51] angystardust commented on #49403
resolved_by #50992

[2019-02-14 19:15] felixfontein commented on #52202
Adding some emphasis: "Just switch the user with `remote_user` as a play/**task** keyword, or the `ansible_user` variable"

[2019-02-14 19:54] natefoo opened #52275 "pip module searches $PATH incorrectly if virtualenv_command contains arguments"
##### SUMMARY
The pip module does not support using `python3 -m venv` to create virtualenvs unless the full path (absolute or relative) to `python3` is specified in `virtualenv_command`. This occurs because the path search is performed on the entire (string) value of of `virtualenv_command` instead of just the first element, whereas no path search is performed if a path is specified.

The `virtual

[2019-02-14 20:34] nethershaw commented on #22562
This is still a problem in Ansible 2.7.6.

If I run a role directly with `become: true`, `become_user: foo`, and `become_method: sudo` on a task, this works correctly, and I see things like `5123 1550176017.09852: _low_level_execute_command(): using become for this command` in the Ansible debug log when the task is executed along with its eventual `become_success` messages.

But if the role is inv

[2019-02-14 21:34] nethershaw commented on #22562
It turns out this problem is also true for the target of `include_role` (with or without `apply: {become: true}`) or `import_role` inside a first-order dependency role, so my options for getting tasks in deep dependencies to run as the correct user are quickly becoming limited.

[2019-02-14 21:49] badnetmask commented on #51402
So, as you can see on the infoblox-client PR I mentioned before, I was able to implement the use of the API cookies for a single "connector" object instance. The problem I found to make this work with Ansible is the fact that each time a task is called a new "connector" object instance is created, which causes a new authentication. Looking at the oVirt module, I see that this problem has been work

[2019-02-14 22:26] zigarn commented on #14107
I confirm that this fix the problem:

[code]

But don't know the possible side-effects.

[2019-02-14 22:32] gertvdijk opened #52290 "Cache ansible_sudo_pass from passwordstore lookup to reduce GPG CPU usage"
##### SUMMARY

I've set up a `group_vars/all.yaml` variable to look up the `ansible_sudo_pass` from a passwordstore, like this:

    ansible_sudo_pass: "{{ lookup('passwordstore', 'sudo/{{ inventory_hostname }}') }}"

However, this results in a lookup with GPG decrypt operations for every single task on every host. The playbook is running really slow with clearly showing 100% CPU usage of gpg-agen

[2019-02-14 22:56] idahood opened #52293 "PEX environment: Unable to find location of 'ansible-connection'"
##### SUMMARY

When using ansible built as a pex I am unable to connect to network_cli devices that rely on persistent connections. This appears to be due to a subprocess call having an explicit path.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/plugins/connection/persistent.py
lib/ansible/executor/task_executor.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#

[2019-02-14 23:21] gertvdijk commented on #52290
I guess this is part of a broader discussion around lookups... https://github.com/ansible/ansible/issues/9623

[2019-02-14 23:21] #52290 closed, assigned to nobody

[2019-02-15 00:18] soulofmischief commented on #51504
@s-hertel I agree, or at least keeping the other fact under a different name, whichever is semantically better.

[2019-02-15 00:19] PikachuEXE commented on #51042
#49114 closed as duplicate of this issue

[2019-02-15 00:47] gabriel376 commented on #30233
Can I take this one ?

[2019-02-15 01:49] yungezz commented on #43802
@Fred-sun  I'll  update network interface module to support application security group then close the issue. thanks for reminder.

[2019-02-15 01:55] yungezz commented on #51864
looking at it.

[2019-02-15 01:58] Givo29 opened #52304 "Windows modules not working with new vesions of ansible"
##### SUMMARY

Windows modules not working as of new versions of ansible both in playbooks and with command line

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

All win components seem broken except for win_reboot. Example will be for win_updates

##### ANSIBLE VERSION

Broken:
[code]
Working:
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible Server:
CentOS Linux release 7

[2019-02-15 02:04] jborean93 commented on #52304
Can you just run with `win_ping` as that's a relatively simple module and also give the output when running with `-vvv`. Is there a reason why you have set `ANSIBLE_KEEP_REMOTE_FILES=True`, that is a lot slower to run with and leaves behind artifacts on your Windows host.

needs_info

[2019-02-15 03:07] Givo29 commented on #52304
My success with `win_ping` seems to be quite erratic.
Success message for `ansible windows -i hosts -m win_ping -vvv`:
[code]
Error message with same command:
[code]
In running the command 10 times I got 3 successes and 7 fails (all of the same nature).

As for `ANSIBLE_KEEP_REMOTE_FILES=True`, I had turned it on for potential debugging purposes as I read in a post that it may give me more informa

[2019-02-15 04:14] jborean93 commented on #52304
Are you able to run the win_ping example again but with `-vvvvvv` (6 v's). This will include the full stdout, stderr returned by the server which should hopefully give us a better idea on what's going wrong. I also recommend removing the `ANSIBLE_KEEP_REMOTE_FILES`, it's useful for module debugging but this seems more like a connection/execution issue somewhere.

needs_info

[2019-02-15 05:02] Givo29 commented on #52304
Here is the `win_ping` command failed output run with `-vvvvvv`:
[code]
I will also remove the `ANSIBLE_KEEP_REMOTE_FILES`. I think the reason i had it on was because of the `MODULE FAILURE` output in the msg. It is also strange to me that when I run the exact same command with `win_reboot` it succeeds every time.

[2019-02-15 05:24] bbui1997 opened #52305 "Alter ec2_vpc_peering_facts.py to use boto3_tag_list_to_ansible_dict"
##### SUMMARY
Alter ec2_vpc_peering_facts.py to use boto3_tag_list_to_ansible_dict so tag names don't get altered unexpectedly from the camel_dict_to_snake_dict function that gets used.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
modules/cloud/amazon/ec2_vpc_peering_facts.py

##### ADDITIONAL INFORMATION
AWS tag names and values would get altered from the camel_dict_to_snake_dict functi

[2019-02-15 05:29] Fred-sun commented on #39977
@yungezz

[2019-02-15 05:38] Fred-sun commented on #39958
kindly ping

[2019-02-15 05:43] Fred-sun commented on #41003
kindly ping

[2019-02-15 05:54] jborean93 commented on #52304
Hmm that's unfortunately quite unhelpful, it's "failing" but not telling you why. Are you able to try the following, install the `pypsrp` library with `pip install pypsrp` and set the following in your inventory

[code]

This will use another connection plugin that is similar to winrm but we may have some more logging options available to us to try and track down the problem. If this also fails it

[2019-02-15 06:20] Fred-sun commented on #43416
@zikalino

[2019-02-15 06:29] necrose99 opened #52308 "Feature request:Gentoo eselect repository"
component name: eselect-repository
New component..

Layman has its uses.
Also in some cases can be a royal pain..
However its being slowly replaced...
Its depricated but prefferd by some still.

I mainly symlink layman dirs /var/lib/layman to var db repos.. (eselect repository path)
(And force the conf..  /etc/porage/repos.conf/
Layman conf symlink to eselect repository's conf.)
Keeps emerge smoot

[2019-02-15 07:18] DarkZatarra commented on #52154
Anyone looking into this?

[2019-02-15 07:25] mattclay commented on #52205
Resolved by https://github.com/ansible/ansible/pull/52198

[2019-02-15 07:25] #52205 closed, assigned to nobody

[2019-02-15 07:28] tchellomello commented on #49830
@kdelee it seems the `group_prefix` is not used to filter hosts but just to determine the `ansible_group` variable that will be created within and exposed in the tower (for example: foreman_content_view_defaultorganizationview).

If you want to filter by system group, you will need to use the `filter_hosts`  like below:
[code]
This will bring all systems from  Library which belong to the host grou

[2019-02-15 07:46] necrose99 opened #52310 "Entropy-pm"
Module:entropy-pm
Sabayon linux entropy package management.
Required module Portage,
layman or eselect repository also of use.

Force equo up && equo  install gentoolkit
(Portage layman etc modules required..)

Equo up , equo upgrade,  equo Instal.
Gentoo package syntax..

Enman for entropy addon binhost overlays

https://forge.puppet.com/optiz0r/sabayon puppet equiv.

Portage can be used also cou

[2019-02-15 07:48] Alexander198961 commented on #50524
I am going to look into this

[2019-02-15 07:52] Akasurde commented on #29969
resolved_by_pr #52309

[2019-02-15 08:02] spaced commented on #41133
Had the same issue with ansible `2.3.2` using centos 7 `1810` image.
Problem found on the guest side:
Missing `perl` package crashes  the scripts for the customization guest pkgs.
You may also have look in `/var/log/vmware-incs/*` logs after provisioning.

[2019-02-15 08:49] D3DeFi commented on #52154
Thanks for opening the issue @DarkZatarra . @rubentsirunyan got a time to look into this please?

[2019-02-15 08:58] if-meaton commented on #51819
I agree with @dagwieers.

[2019-02-15 09:14] Yvan-Masson opened #52316 "Windows FAQ should mention possible SSL protocol issue"
##### SUMMARY

TLS 1.0 is by default the maximum TLS supported version on Windows 7. However, Linux distributions (at least Debian) begin to disable it to allow TLS 1.2 as a minimum. Thus by default connection fails with this message:

`ntlm: HTTPSConnectionPool(host='my-host', port=5986): Max retries exceeded with url: /wsman (Caused by SSLError(SSLError(1, '[SSL: UNSUPPORTED_PROTOCOL] unsupporte

[2019-02-15 09:21] dagwieers commented on #51819
I am going to close this. We accept pull-requests to improve feature parity between **uri** and **win_uri**.

[2019-02-15 09:21] #51819 closed, assigned to nobody

[2019-02-15 10:13] rubentsirunyan commented on #52154
Not yet. I hope I will look into this at the weekend.

[2019-02-15 10:14] rubentsirunyan commented on #51303
@D3DeFi  Sure.

[2019-02-15 10:26] angystardust commented on #52003
resolved_by #52300

[2019-02-15 10:38] llarsson commented on #20432
I came to this bug because I wanted to pass `--root` to [kubespray's Terraform dynamic inventory](https://github.com/kubernetes-sigs/kubespray/blob/master/contrib/terraform/terraform.py). But upon reading its code, it became apparent that this vital option could also be affected using environment variables.

So if Ansible for whatever reason does not want to support passing anything other than the

[2019-02-15 10:41] jorge-clicars opened #52318 "Inventory parsing error"

[2019-02-15 10:43] Akasurde commented on #51421
@ravibhure Could you please check if #52315 works for you ? Thanks

needs_info

[2019-02-15 10:43] Akasurde commented on #51421
resolved_by_pr #52315

[2019-02-15 10:48] kloeffler opened #52319 "gcp_compute_backend_service not creating regional backend services"
##### SUMMARY
gcp_compute_backend_service not creating regional backend services, despite providing a region, a rn instance group in the same region, load_balancing_scheme INTERNAL and not using any of the variables for global services.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute_backend_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

[2019-02-15 11:23] vpascali commented on #17685
Any news on the topic? Is really possible that ansible doesnt have any internal metod to set a bandwidth for any module?

[2019-02-15 12:49] jorge-clicars commented on #52318
It was not bug, the label children was causing an error. You can close the case.

[2019-02-15 13:02] Marthym opened #52321 "Do not force sort_keys in to_nice_json"
##### SUMMARY

Actually it is not possible to have a formated json without sorting keys. It should be usefull to have the possibility to only format and indent without sorting keys.

##### ISSUE TYPE
- Improvement

##### COMPONENT NAME
plugins/filter/core.py

##### ADDITIONAL INFORMATION

* ansible version: 2.7.7

[code]

[2019-02-15 13:09] Fobhep commented on #44677
using ansible 2.7.7 and still not working..

[2019-02-15 13:12] monsterry opened #52323 "Duplicate role execution with dependencies (again)"
##### SUMMARY

Roles are executed more then once when loaded via dependencies and when imported/included twice . There are several old bug report describing exactly this behavior (z.B: #9578, #14582, #50522). However they all use different include mechanism.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMEN

[2019-02-15 13:44] ykachube opened #52324 "AWS api gateway - resource policy got erased after swagger deploy"
##### SUMMARY
AWS api gateway - resource policy got erased after swagger deploy
this leads to private gateway become unaccessible from VPC endpoint and need to manually redeploy API so that Resource Policy became active

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aws_api_gateway

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### DEPENDENCY PROBLEMS

[2019-02-15 13:47] #52318 closed, assigned to nobody

[2019-02-15 14:31] adelmosilva opened #52326 "Export debug msg to a file"
##### SUMMARY
Good afternoon
I need to send to a text file a message that appears in debug msg after a check if a directory exists. Follow Playbook below. But it is giving error in the recording of the file

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Debug msg

##### ANSIBLE VERSION
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansibl

[2019-02-15 14:38] jsf9k commented on #47097
Confirmed that this is still an issue in 2.7.7. :disappointed:

[2019-02-15 14:38] obourdon commented on #45761
@mishas opposite to what you thought, the bug was not worse ;-) changing ansible version does not help as the bug resides within the code of the interfaces_file plugin itself. Now fixed and more tests added to ensure proper idempotency

[2019-02-15 14:54] bbui1997 commented on #52326
Based on the output of the stat module, you can create a variable that has a string whether or not the path exists.
test_var: "{{ 'Diretório Ok' if * path.stat.isdir is defined and path.stat.isdir else 'Diretório Não existe'}}"

Since you're on Linux, instead of the debug module, you can use the shell and append to the file on the conditions you want.

* name: Verificando Diretórios
  stat:
  path

[2019-02-15 14:59] winem opened #52329 "lineinfile adds new line on each iteration if insertafter matches earlier than regexp"
Tested with latest devel and ansible v2.7.7

##### SUMMARY
The lineinfile module inserts the line again and again with each new iteration if the `insertafter` regex / value matches earlier than the `regexp` regex.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 16.04.5 on the ansible host, Ubu

[2019-02-15 15:08] Lunik commented on #44677
@Fobhep It will be fixed in ansible 2.8

[2019-02-15 15:14] ferventcoder opened #52331 "BUG: win-chocolatey should not compare versions using System.Version"
Heads up @jborean93 let me know if this has been resolved somewhere or if there is already an issue on this - I searched but didn't find anything.

##### SUMMARY
We have a customer that has mentioned they are running into an issue where they are unable to deploy upgrades using beta versions due to the module using System.Version from PowerShell. It is my understanding that the provider should defe

[2019-02-15 15:20] xmadsen opened #52332 "redfish_config - SetBiosDefaultSettings fails due to default timeout value being too short"
##### SUMMARY

Running SetBiosDefaultSettings against a Lenovo ThinkSystem SR650 fails due to "The read operation timed out."

This is a follow-up report associated with the discussion from the closed #50944 . Manually overriding the POST timeout value to 60 seconds allowed the operation to complete successfully, but a different solution was discussed in #50944 .

##### ISSUE TYPE
- Bug Report

##

[2019-02-15 15:22] bbui1997 opened #52333 "ec2_vpc_peer.py has unhelpful error message"
##### SUMMARY
ec2_vpc_peer.py doesn't have parameter checking for its various uses, so error messages are relatively unhelpful. There should be parameter checking in main() before it calls its functions to accommodate this.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
modules/cloud/amazon/ec2_vpc_peer.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linu

[2019-02-15 15:28] adelmosilva commented on #52326
Thanks my friends.
Im used the second option. My inventory has 2 ips address where one has the searched folder and the other has no. When I run the Playbook, show this msg:

PLAY [teste] ******************************************************************************************************************************************************************************************

TASK [Gathering Facts] **

[2019-02-15 15:35] joshinryz commented on #52331
[
    {
        "_ansible_item_label": "crowdstrike-windows-sensor",
        "_ansible_item_result": true,
        "_ansible_no_log": false,
        "_ansible_parsed": false,
        "changed": false,
        "failed": true,
        "item": "notepad_plus_plus",
        "module_stderr": "Cannot convert value \"0.10.12-beta-20181011\" to type \"System.Version\". Error: \"Input string was not in a co

[2019-02-15 15:40] joshinryz commented on #52331
Example on Ansible 2.7.7

failed: [dekstopname] (item=crowdstrike-windows-sensor) => {"changed": false, "item": "notepad-plus-plus", "module_stderr": "Cannot convert value \"0.10.12-beta-20181011\" to type \"System.Version\". Error: \"Input string was not in a correct format.\"At line:272 char:9+     if ([Version]$actual_version -lt [Version]\"0.10.5\") {+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-02-15 16:01] joshinryz commented on #52331
win_chocolatey.ps1 -

$actual_version = Get-ChocolateyPackageVersion -choco_path $choco_app.Path -name chocolatey
    **if ([Version]$actual_version -lt [Version]"0.10.5") {**
        if ($check_mode) {
            $result.skipped = $true
            $result.msg = "Skipped check mode run on win_chocolatey as choco.exe is too old, a real run would have upgraded the executable. Actual: '$actual_vers

[2019-02-15 16:03] ferventcoder commented on #52331
@jborean93 it looks like this is an actual issue - the module should not do validation on this, it should simply pass it back to choco and let choco validate.

[2019-02-15 16:06] giordyb commented on #45188
Hi, has anyone found a workaround for this? I just upgraded gitlab and I too have been bitten by this bug...

[2019-02-15 16:14] sivel commented on #15852
!component =lib/ansible/utils/display.py

@jhagg can you please clarify what logging are you referring to?  Is this logging to a file specified through `log_path` in a config? Or are you detailing additional output to stdout?

needs_info

[2019-02-15 16:16] sivel commented on #15855
We have discussed this internally, and we believe this to be expected behavior, and your playbook should account for the loss of connectivity due to restarting services that affect availability of SSH.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-15 16:16] #15855 closed, assigned to nobody

[2019-02-15 16:16] xenlo commented on #51066
One day later, I wrote [some reviews](https://github.com/ansible/ansible/pull/52075#pullrequestreview-204294863) on the PR.

[2019-02-15 16:19] sivel commented on #15968
Closing as per the above mentioned fix.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-15 16:19] #15968 closed, assigned to nobody

[2019-02-15 16:21] sivel commented on #16057
This is expected behavior as we did purposefully change the default of a missing type to default to `str`.

As this issue report is as old as it is, I don't think a porting guide entry is necessary at this time.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-15 16:21] #16057 closed, assigned to nobody

[2019-02-15 16:24] sivel commented on #16136
This is no longer an issue in recent releases of Ansible.

If you are still having problems, feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-15 16:24] #16136 closed, assigned to alikins, bcoca, chouseknecht

[2019-02-15 16:31] sivel commented on #16351
We have discussed this and determined that this is expected as bcoca has explained above:

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-15 16:31] #16351 closed, assigned to nobody

[2019-02-15 16:33] Tohaker opened #52337 "Exporting environment variables with special characters results in those characters not being passed through. [Azure]"
##### SUMMARY

When an environment variable with special characters is passed to an Ansible playbook, those characters are not resolved correctly, resulting in incorrect CLI commands.

We have a script that includes some Azure environment variables to be passed to Azure CLI commands. One of these is the AZURE_SECRET, which for us contains some special characters such a '+' and '/'. When this is pa

[2019-02-15 16:37] sivel commented on #16396
It sounds as though you still have a ControlPath on the filesystem, but for whatever reason it was broken, and the socket connection to the remote host maintained by ssh is no longer valid.

Because we pass the timeout value specified directly to ssh via ConnectTimeout, it will take that amount of time to discover that the connection has failed.

This seems to be a local configuration error.

If y

[2019-02-15 16:37] #16396 closed, assigned to nobody

[2019-02-15 16:39] sivel commented on #16402
As noted above this issue has already been resolved.  Closing...

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-15 16:39] #16402 closed, assigned to nobody

[2019-02-15 16:44] sivel commented on #16431
We believe this issue to have been fixed in recent versions of Ansible.

If you are still experiencing problems, please feel free to open a new issue with a complete reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-15 16:44] #16431 closed, assigned to nobody

[2019-02-15 16:45] alkarp opened #52338 "nxos_command ignores configured timeout"
##### SUMMARY

nxos_command module triggers command timeout based on default value (10 secs) instead of configured timeout within corresponding task (120 seconds)

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

nxos_command

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (Core)
NXOS: version 7.0(3)I7(1)

##### STEPS TO REPRODUCE

Execute a command with

[2019-02-15 16:45] sivel commented on #16476
Closing as fixed by https://github.com/ansible/ansible/pull/16387

[2019-02-15 16:45] #16476 closed, assigned to nobody

[2019-02-15 16:48] sivel commented on #16506
@pyloor can you confirm whether this is still a problem for you?  I cannot understand how an SSH config entry like this can affect privilege escalation.

needs_info

[2019-02-15 16:49] hervedevos commented on #51723
Same issue here with GKE

[2019-02-15 16:52] sivel commented on #16582
We unfortunately cannot check this within ansible, as there are many variants to allowed permissions on different systems, including that the files do not need to exist on the filesystem if they have been loaded into an ssh agent.

Diagnosing this with -vvvv is the best way to determine the failure.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.f

[2019-02-15 16:52] #16582 closed, assigned to nobody

[2019-02-15 16:53] sivel commented on #16379
Closing as a duplicate of https://github.com/ansible/ansible/issues/16582

[2019-02-15 16:53] #16379 closed, assigned to nobody

[2019-02-15 16:55] sivel commented on #16586
Thank you for this report.

As mentioned above, you need to inherit from both the other action plugin and ActionBase for this to properly work.

If you are still having problems, feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-15 16:55] #16586 closed, assigned to nobody

[2019-02-15 16:58] tlofreso opened #52339 "'is not JSON serializable' when using hashed vault secret with copy module"
##### SUMMARY

When running a playbook that references a vault string, I get the following message:

`raise TypeError(repr(o) + \" is not JSON serializable\")\nTypeError: u'cleartextpass' is not JSON serializable\n`

This error arises when running a task that uses the copy module.
My playbook also uses the ios_command module, and that task runs successfully.

##### ISSUE TYPE
- Bug Report

##### C

[2019-02-15 17:00] #29969 closed, assigned to Akasurde

[2019-02-15 17:04] fabianvf commented on #51723
I have pushed a new version of the openshift python client (v0.8.6) that should prevent discovery errors from causing the client to fail out.

[2019-02-15 17:07] sivel commented on #16357
Closing as per above.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-15 17:07] #16357 closed, assigned to sivel

[2019-02-15 17:11] sivel commented on #16420
From time to time our releases may change the interface.  We try to do so in a way that does not impact 3rd party plugins, but in some cases it may.  It will be up to the 3rd party plugin author to ensure that their plugins remain compatible for newer releases.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://

[2019-02-15 17:11] #16420 closed, assigned to sivel

[2019-02-15 17:13] sivel commented on #16508
This is no longer a problem in recent versions of ansible.

If you are still having problems, feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-15 17:13] #16508 closed, assigned to nobody

[2019-02-15 17:17] sivel commented on #16598
This is the expected behavior.  We purposefully allow for this behavior.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-15 17:17] #16598 closed, assigned to nobody

[2019-02-15 17:26] ravibhure commented on #51421
Thanks @Akasurde
Yes it works.

[code]

[2019-02-15 17:27] s-hertel commented on #16625
I'm unable to reproduce this after the commit 09fa05373bf0aafda61874c9ad5b0a668f3827b6 was added. @j3p0uk, if you're still experiencing this on a later version, please open a new issue.

[2019-02-15 17:27] #16625 closed, assigned to s-hertel

[2019-02-15 17:27] sivel commented on #52326
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-02-15 17:27] #52326 closed, assigned to nobody

[2019-02-15 18:32] mattclay opened #52347 "Some unit tests crash on Python 2.7 using pytest 4.2.1"
##### SUMMARY

Some unit tests crash on Python 2.7 using pytest 4.2.1.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

unit tests

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

Update the version constraint for pytest to: `pytest == 4.2.1 ; python_version >= '2.7'`

https://github.com/ansible/ansible/blob/02c9f708981462302245d7

[2019-02-15 18:36] #52158 closed, assigned to nobody

[2019-02-15 18:36] mattclay opened #52349 "Update tests to use the latest available pytest"
##### SUMMARY

Update tests to use the latest available pytest.

~This is currently blocked on https://github.com/ansible/ansible/issues/52347~

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

ansible-test

[2019-02-15 18:50] resmo commented on #33715
Should we close this? It is not a bug.

[2019-02-15 18:57] felixfontein commented on #33715
I would treat it like a feature request. Is there a way to re-classify this issue?

[2019-02-15 19:16] mariolenz commented on #44561
I think the problem is here:
[code]
`option_manager.supportedOption` returns `Vpx.Vpxa.config.log.level` but `option_manager.QueryOptions()` doesn't. The effect is that the code tries to update host_fachts['Vpx.Vpxa.config.log.level'] which doesn't exist.

We have this problem with newly installed ESXi 6.7U1 hosts but not with those we upgraded from 6.5. I _think_ this is because this setting exis

[2019-02-15 19:17] billdodd commented on #52332
Thanks for opening this @xmadsen.

For reference, there is some discussion leading to a proposed fix in PR #50944.

[2019-02-15 19:23] cedws opened #52354 "Adopt the XDG Base Directory Specification"
This would involve placing the `.ansible` directory at `$XDG_CONFIG_PATH` and falling back to `$HOME/.config` if undefined.

This keeps users' home directories clean of dotfiles. It is being widely adopted by Linux/BSD applications.

See here for more info https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html.

[2019-02-15 19:29] jctanner commented on #49830
@kdelee please confirm the previous comment.

needs_info

[2019-02-15 19:48] AlanCoding opened #52358 "Inventory plugin aws_ec2 missing several variables contrib script had"
##### SUMMARY
In general, as transition from the script (in the contrib) folder to the plugin was made, hostvars were renamed. This is fine for the majority of variables, because they can be aliased to the old names.

A handful of variables still remain that cannot be obviously aliased to an existing variables.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/inventory/aws_

[2019-02-15 20:00] mikedlr commented on #52324
@ykachube I'm right now out of IRC with a phone change but will try to get back in.

[2019-02-15 20:03] mikedlr commented on #52324
@ykachube BTW I can see none of your version info / steps to reproduce / actual results; if you haven't filled them in then please do so and if you have could you please put them in a comment as well.  Without specific details of how to get to this problem I'm unlikely to attempt to reproduce and debug it.  If you do put them in (please fill in everything that you can) then I am quite likely to gi

[2019-02-15 20:03] webknjaz commented on #52347
@mattclay have you tried disabling `pytest-xdist`?

[2019-02-15 20:08] webknjaz commented on #52347
It's not reproducible for me:

[code]

[2019-02-15 20:13] webknjaz commented on #52347
It's probably that pytest-xdist is not compatible with newer pytest (pytest-forked is its dependency and is used in `--forked` mode)
[code]
let's see if changing mode helps

[2019-02-15 20:16] webknjaz commented on #52347
without `--boxed` (I commented it out) there's fewer errors...

[2019-02-15 20:19] webknjaz commented on #52347
It looks like https://github.com/pytest-dev/pytest-forked/commit/42d7146d65749b54571480db51a8461aa509b3ac fixes support for pytest 4.2 and the previous PR fixes 4.1...

[2019-02-15 20:22] Marthym commented on #52321
Add ansible version 2.7.7 in description

[2019-02-15 21:03] dagwieers commented on #52347
Same sanity tests behave differently on Python 2.7 compared to Python 3. This always bites me :-(

[2019-02-15 21:03] webknjaz commented on #52347
Looks like `os.stat` mock is invalid and when pytest internals indirectly call that as a part of report generation this causes first two reported failures (`/usr/lib/python2.7/genericpath.py:40: AttributeError: 'list' object has no attribute 'st_mode'`:
[code]

[2019-02-15 21:08] jborean93 commented on #52331
Thanks @ferventcoder, currently we only do the validation on the Chocolately version as we have a minimum version required for the module and auto upgrade if it doesn’t meet that.

I’m unsure how we can get Chocolately to handle this behaviour as well as we only want to check and not update if it meets the minimum (but isn’t the latest). I’ll have to play around with this next week.

Luckily the p

[2019-02-15 21:10] jborean93 commented on #52331
If you are curious the code for the win_chocolately module can be found at https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_chocolatey.ps1. The problematic code is in the `Install-Chocolatey` cmdlet.

[2019-02-15 21:17] mattclay commented on #52347
Since these mocks are intefering with pytest itself, perhaps the mocking needs to be created and reverted inside the test function instead of using a pytest fixture to minimize/eliminate the interference.

[2019-02-15 21:18] kdelee commented on #52244
RE: discussion in https://github.com/ansible/awx/pull/3107
The way I see it, the best solution to this bug would include sending traceback from plugin for ANY verbosity level to `stderr`, including NO verbosity flag set.

Currently you only get it if you set high verbosity, and when you do so it is mixed with stdout which is bad.

[2019-02-15 21:19] webknjaz commented on #52347
Yes, I just tested that explicitly resetting mocks fixes the problem.

[2019-02-15 21:19] webknjaz commented on #52347
But I still think that `os.stat` mock is invalid regardless

[2019-02-15 21:19] mattclay commented on #52347
The pytest docs recommend that approach: https://docs.pytest.org/en/latest/monkeypatch.html

[2019-02-15 21:20] clebergnu commented on #34340
How hard is it to make the explicit setting of SELinux contexts *optional* ?  I mean, if your system is configured with SELinux, it will the context to apply to files you're crating, based on the currently loaded policy.

I find it horrible to require yet another library on the target hosts for something as trivial as creating a file.  This makes people resort to hacks such as using commands to cr

[2019-02-15 21:20] webknjaz commented on #52347
right, I know about it. it's a nice built-in feature

[2019-02-15 21:20] webknjaz commented on #52347
Now I'll try testing upgrading pytest-mock...

[2019-02-15 21:20] mattclay commented on #52347
@webknjaz I agree the `os.stat` does look incorrect. Thanks for tracking down the issue.

[2019-02-15 21:22] webknjaz commented on #52347
So... Upgrading pytest-mock doesn't fix the issue but with stop+reset patch everything works. It's safe to upgrade it.

[2019-02-15 21:24] mattclay commented on #52347
@webknjaz Can you open a PR to fix the tests? I'll take care of updating pytest versions separately once the fix is merged.

[2019-02-15 21:27] webknjaz commented on #52347
oh, I was about to send a wholesale PR...

[2019-02-15 21:34] webknjaz commented on #52349
pylint or pytest?

[2019-02-15 21:34] stawii commented on #52202
Adding some emphasis: "Assuming playbooks/roles should be generic I cannot modify them"

[2019-02-15 21:36] sivel commented on #52202
Then it sounds like you should be building your docker images to function more like full fledged VMs, and adding the appropriate users and tools that you need to make them function like the playbooks and roles you have.  Or re-think your approach.  There are plenty of ways, but what you have asked for does not align with become functionality.

[2019-02-15 21:39] webknjaz commented on #52347
PR with just test fixes #52372 (constraints upgrade in comment)

[2019-02-15 21:39] ferventcoder commented on #52331
@jborean93 so this is only Chocolatey itself, not any other package? Okay, that makes some more sense.

It took me a second to realize I was reading PowerShell and not Python. 🤣 This is what PowerShell looks like when written by Python devs. 👍

[2019-02-15 21:50] mattclay commented on #52293
The failure makes sense since Ansible is looking for `ansible-connection` in the same directory the entry point resides in.

Invoking `ansible` or `ansible-playbook` normally works because `ansible-connection` is in the same directory as those entry points. When `pex` is used, the `ansible-connection` script is not in the same directory as the entry point, nor is it on the path.

One possible fix

[2019-02-15 21:58] #52347 closed, assigned to nobody

[2019-02-15 21:59] mattclay commented on #52349
@webknjaz You're right, it should have been `pytest` not `pylint`. I've corrected it.

[2019-02-15 22:02] mattclay commented on #52293
!component =lib/ansible/plugins/connection/persistent.py
!component +lib/ansible/executor/task_executor.py

[2019-02-15 22:46] niko2 commented on #52210
@Akasurde it works for me with this PR. I am currently testing with Linuxmint 17.3 and 19.1
It seems linuxmint 17.3 doesn't need this PR. Anyway, I will check 17 and 19 with this PR and let you know.

[2019-02-15 22:46] kylesloan opened #52381 "VMware: ansible-inventory "cannot represent an object" when adding --yaml flag"
##### SUMMARY

I am working with the vmware inventory dynamic plugin.  When I run `ansible-inventory --list -i inventory.vmware.yml -vvvv` it works fine, but adding --yaml like `ansible-inventory --list --yaml -i inventory.vmware.yml -vvvv` causes the following error to be thrown, and I don't know how to tell what it doesn't like.  As this has many hostnames and private information, I don't feel I

[2019-02-15 23:06] MrMarvin commented on #25459
So, um, not sure how to move on with this... ping @nitzmahone, @s-hertel: Thanks for taking a first look some time ago. However I do not think your initial understanding that this is a user question is correct. This issue is highly interesting and I would kindly ask you to consider reopening it.

**Here is why:**
Ansible cloud/amazon modules are inconsistent in their use of the underlying AWS libr

[2019-02-15 23:24] webknjaz commented on #52349
:+1:

_suggested patch:_
[code]

[2019-02-16 00:30] jborean93 commented on #52331
I believe so, I remember coming across this issue after the initial refactor for packages but never considered Chocolately itself could have a version that doesn’t fit that structure. I’ll double check next week and 100% confirm though.

[2019-02-16 00:49] Finzzownt commented on #22789
There it is.

[2019-02-16 00:54] shadycuz opened #52382 "New Strategy that ends as soon as a single host from a group completes without failures."
##### SUMMARY

We should create a new strategy that will try one node at a time, from a group of nodes. If the play fails on Group[0] it will move on to Group[1]. As soon as we get a successful host, then the play ends.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

strategy
##### ADDITIONAL INFORMATION

The use case I have is a Database Cluster that I need to backup. I don't want to run t

[2019-02-16 03:07] #52349 closed, assigned to nobody

[2019-02-16 03:19] Finzzownt commented on #22789
How about renaming `win_msp` to `win_package_msp`, as suggested [here](https://github.com/ansible/ansible/pull/52211#pullrequestreview-204499722)?

[2019-02-16 06:18] Akasurde commented on #52381
@kylesloan Thanks for reporting this issue. I will take a look into this and get back to you. Thanks.

[2019-02-16 08:47] zikalino commented on #46313
it's fixed by https://github.com/ansible/ansible/pull/51661

[2019-02-16 08:47] #46313 closed, assigned to zikalino

[2019-02-16 08:48] zikalino commented on #48415
@mooninite thanks for testing! closing the issue

[2019-02-16 08:48] #48415 closed, assigned to zikalino

[2019-02-16 11:12] felixfontein commented on #29951
I think it would be better to create a new module for this (openssl_certificate_validate maybe?). The openssl_certificate module already has a lot of functionality, and this won't make it easier to maintain or use.

[2019-02-16 11:19] felixfontein commented on #33457
@MarkusTeufelberger I understand from this discussion that a `checks_failed` return value would be useful for the `assertonly` provider. Do I understand this correctly?

[2019-02-16 11:24] felixfontein commented on #32038
Perhaps this can be solved by being able to provide a list of parameters which are ignored for idempotence checking (including some special parameter `*`, which means "put everything on this list", i.e. only create if the key isn't there)?

[2019-02-16 11:27] felixfontein commented on #44828
This would require us to be able to parse OpenSSL config files. Sounds like a lot of effort to me. What do you need this for? Do you have some requirement of having to interpret OpenSSL config files?

[2019-02-16 11:30] felixfontein commented on #51703
I think this would be a useful feature, to open up this module to a lot of other use-cases. Is anyone interested in working on this?

[2019-02-16 11:43] ghost opened #52393 "Cloudformation module failed to create stack"
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: Unknown parameter in input: "ClientRequestToken", must be one of: StackName, TemplateBody, TemplateURL, Parameters, DisableRollback, TimeoutInMinutes, NotificationARNs, Capabilities, ResourceTypes, RoleARN, OnFailure, StackPolicyBody, StackPolicyURL, Tags
fatal: [localhost]: FAILED! => {"changed": fals

[2019-02-16 11:44] kmrhemant916 commented on #52393
Please help!!

[2019-02-16 11:54] kmrhemant916 commented on #52393
BLRMAC41-4:ansible weyv$ ansible --version
[WARNING]: log file at /var/log/ansible.log is not writeable and we cannot create it, aborting

ansible 2.7.6
  config file = /Users/weyv/sentry/ansible/ansible.cfg
  configured module search path = ['/Users/weyv/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/Cellar/ansible/2.7.6/libexec/lib/

[2019-02-16 11:55] kmrhemant916 commented on #52393
component name: cloudformation

[2019-02-16 12:18] ssbarnea commented on #40030
I am afraid that is not the way I was hoping to see it fixed because there are places where having no match is perfectly ok (expected) and places where no host match is clearly a reason to be warned about or even stop execution completely.

Still, the decision about the behaviour is about each usage and a global settings is of less use for that.

If hosts is used in hundreads of places across mult

[2019-02-16 12:38] felixfontein opened #52407 "luks_device: implement check_mode and --diff mode"
##### SUMMARY
As title says: implementing `check_mode` and `--diff` support would be nice.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
luks_device

[2019-02-16 12:41] felixfontein opened #52408 "luks_device: allow to pass keys as text (as opposed to keyfiles)"
##### SUMMARY
It would be nice if one could specify the keys directly as content, without having to first write them to disk to use them as keyfiles.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
luks_device

[2019-02-16 13:04] tedder commented on #52393
Guessing your version of botocore/boto3 is old.

[2019-02-16 13:10] felixfontein opened #52409 "luks_device: make key add/removal idempotent"
##### SUMMARY
* The `new_keyfile` currently adds a new key, no matter whether the key is already present or not.
* The `remove_keyfile` currently dies when the key is not present.

To implement this properly (especially with #52371, `allow_to_remove_last_key`, in mind), we need a mechanism which can detect if a key is already there. If the device is closed, one could try to open it (and on success

[2019-02-16 13:12] hemantaltair commented on #52393
@tedder what version do I need for that?

[2019-02-16 13:13] hemantaltair commented on #52393
Requirment is this
boto
boto3
botocore>=1.4.57
python >= 2.6

[2019-02-16 13:14] hemantaltair commented on #52393
I had lattest version of all these.

[2019-02-16 14:09] tedder commented on #52393
It says minimum botocore is 1.4.x, but what version do you actually have?

[2019-02-16 14:22] hemantaltair commented on #52393
BLRMAC41-4:~ hemant$ pip show botocore
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7.
Name: botocore
Version: 1.5.19
Summary: Low-level, data-driven core of boto 3.
Home-page: https://github.com/boto/botocore
Author: Amazon Web Servic

[2019-02-16 14:24] tedder commented on #52393
The current version is 1.12.x.

[2019-02-16 14:27] hemantaltair commented on #52393
Which package are you talking ?

[2019-02-16 14:30] gitm1993 commented on #46168
@andytom Hi! Thanks for the response.

I've dug more into it and the problem is more in modules cooperation than in the module itself.

Easily described, role cannot be removed if it has some privileges, because roles and it's privs are dependent on each other. Exactly role-privs cannot be removed when a role is in the absent state.

I believe workaround for this situation will not so difficult bu

[2019-02-16 14:42] tedder commented on #52393
Botocore. You have 1.5.x, which is 2 years old. There have been perhaps 100-200 releases since then.

[2019-02-16 14:48] hemantaltair commented on #52393
But in the documentation, it is mentioned botocore>=1.4.57. So it should work! I think we need to update the docs

[2019-02-16 14:52] tedder commented on #52393
Yes, "we" do. If you find the version of botocore that introduces Clientrequesttoken, put it here or create a PR. If you are going to be using AWS, you should keep your libraries up to date, not just at a given minimum.

[2019-02-16 16:07] LvffY opened #52411 "Unable to update file with azure_rm_storageblob"
##### SUMMARY
Impossible to upload a file in an azure blob storage with the module azure_rm_storageblob despite what is said in [issue #44815](https://github.com/ansible/ansible/issues/44815) and my ansible version >= 2.7.5.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_storageblob

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS

[2019-02-16 19:47] BarbzYHOOL commented on #27179
Is there a workaround to this? I don't know how to change root password because of this o_0

[2019-02-16 21:45] oscherler commented on #27179
@BarbzYHOOL There is. First, do you really need to set a root password? You can use MySQL as root without a password using `sudo mysql`, which is what’s nice about the `auth_socket` plugin. If you’re used to using the root user with projects you are developing (e.g. in Vagrant), you can create another user instead.

If you really want to set up a root user with a password using Ansible, you can:
*

[2019-02-16 21:59] BarbzYHOOL commented on #27179
@oscherler I can't use the "mysql_user" module if I don't set any password (on a clean install, I didn't run a security script afterwards)

[code]

Also I wonder if the auth_socket thing will allow me to connect to mysql from another local machine (virtual machine), as root.

[2019-02-17 00:50] Petrox commented on #39095
[code]

Nice.

[2019-02-17 02:50] zikalino commented on #51187
closing as pr was merged

[2019-02-17 02:50] #51187 closed, assigned to zikalino

[2019-02-17 04:04] jborean93 commented on #39095
@Petrox check your indentation. The error indicates you have set it on the task level and not as the stat module option.

[2019-02-17 06:22] trishnaguha commented on #52338
@alkarp toplevel spec is deprecated. For `network_cli` connection to work, you will need to set `command_timeout` or use `local` connection with `provider` spec.

For `network_cli`:
ansible.cfg
[code]

For `local`:
[code]

[2019-02-17 06:22] #52338 closed, assigned to nobody

[2019-02-17 06:47] zikalino commented on #52138
@marc-sensenich I have added appropriate tests, and also fixed the issue.
currently we were referring azure-mgmt-cosmosdb==0.5.1, while azure-mgmt-cosmosdb==0.5.2 was needed.
(According to https://pypi.org/project/azure-mgmt-cosmosdb/

0.5.2 (2018-11-05)
Features
Add ignore_missing_vnet_service_endpoint support)

------

In order to add subnet, you need to add cosmos db to **service_endpoints** wh

[2019-02-17 08:52] resmo commented on #44173
!component -lib/ansible/modules/cloud/cloudstack/cs_configuration.py

[2019-02-17 09:02] ssbarnea commented on #24215
This would be of extreame value because, in addition to the desired of avoiding extra spam from the previous tasks, your may not even have the posibility of changing the verbosity of ansilble.

Such example: your tasks are run by zuul CI system which also has its own callbacks and this is hosted you have no power to change its setup.

Ability to define custom verbosity level in playbook, at differ

[2019-02-17 10:11] ACampesinin commented on #41609
For me this is a good behaviour, otherwise a bad intended file placed in /etc/ansible/facts.d will be able to stop all deployments. It is better to just report the errors in your local facts formatting in the dictionary object containing them.

[2019-02-17 11:04] #45638 closed, assigned to nobody

[2019-02-17 11:09] ssbarnea commented on #52275
I can confirm this bug and confirm that this is even a bigger issue than currently stated as it affects even the usage of virtualenv module itself. Effectively this bug makes impossible to use pip module with virtualenviroment on systems having more than one python interpreter.

I will try to explain: the only safe way to assure that a specific combination of python version and python virtualeenv

[2019-02-17 12:15] #39167 closed, assigned to ganeshrn, trishnaguha

[2019-02-17 12:15] #39101 closed, assigned to NilashishC

[2019-02-17 12:24] Akasurde commented on #40226
resolved_by_pr https://github.com/ansible/ansible/pull/52075

[2019-02-17 17:18] #32893 closed, assigned to nobody

[2019-02-17 17:52] alexeyt820 commented on #45188
@giordyb, you can try to download file(s) on control machine (*nix) using delegate_to: localhost or local_action then copy file(s) from the control machine to remote Windows host

[2019-02-17 18:11] resmo commented on #35566
!component -lib/ansible/modules/cloud/cloudstack/cs_configuration.py

[2019-02-17 19:06] angystardust commented on #44710
resolved_by #50992

[2019-02-17 19:10] angystardust commented on #44710
Hi @chewdevs the issue you reported was fixed with #50992
Can you please test it?

[2019-02-17 19:28] #41509 closed, assigned to nobody

[2019-02-17 19:42] jtyr commented on #29870
Thanks for confirming that it works in the latest version.

@ansibot please feel free to close this issue as `bug_resolved`.

[2019-02-17 19:45] ACampesinin opened #52427 "Playbooks can not be executed if local facts cannot be executed by all users"
##### SUMMARY
When attempting to collect facts if there are local facts files not owned by the user running ansible or the playbook the playbook fails if the files do not have rights for all users.

This happens because the code at this moment only checks if the files can be executed and then runs the script or if there are no rights for execution, tries to read the file as a json.

This is an iss

[2019-02-17 20:20] ACampesinin commented on #52427
I created  Pull request #52429 in order to fix this issue

[2019-02-17 20:34] DarkZatarra commented on #52154
Ok, I think I will switch to Zabbix API.. you can forget it. Thanks anyway.

[2019-02-17 20:34] #52154 closed, assigned to nobody

[2019-02-17 21:17] Shaked commented on #48819
I`m experiencing the same issue.

If I change:
[code]

To

[code]

It seems to work.

[code]

[2019-02-17 21:48] Givo29 commented on #52304
I set out my `host` file the same as you have here and ran the command with `-vvvvvv` (with `pypsrp` installed) and got this output:
[code]

[2019-02-17 23:18] pvelati commented on #48952
Hi @topkool ,  regarding the problem of configuring the flags, you can solve them by adding them directly in the CPU variable.

For example, if you set:
cpu: "cputype=host,flags=+pcid;+spec-ctrl"

You'll enable SPEC-CTRL and PCID flags.

From the API docs:
"flags": "List of additional CPU flags separated by ';'. Use '+FLAG' to enable, '-FLAG' to disable a flag. Currently supported flags: 'pcid', '

[2019-02-18 00:54] #50646 closed, assigned to nobody

[2019-02-18 02:51] CoxAJohn commented on #47839
This issue appears to also exist for nios_srv_record - identical error message and behaviour as described above.
Do you want a separate issue raised for this?

[2019-02-18 02:58] #52210 closed, assigned to Akasurde

[2019-02-18 03:26] Akasurde commented on #52427
resolved_by_pr #52429

[2019-02-18 03:29] Akasurde commented on #52333
resolved_by_pr #52307

[2019-02-18 03:32] hiteshshaha opened #52445 "compare complex version"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
Hi Team,

i am having requirement to compare Oracle software version having multiple decimal points.

for eg. if oracle version is >= 11.2.1.2.19 then i have to perform tasks.

how can i do it using Ansible ?

Thanks in advance.

Regards,
Hitesh Shaha

[2019-02-18 03:58] hiteshshaha opened #52449 "Compare complex software version"
No Its not there.

Compared already .

##### SUMMARY

I am writing Ansible scripts (version 2.7) to apply patch on multiple oracle database.
I am in need to pass Oracle version and compare it with default value (11.2.3.4.19) if its less than or equal to default version i want to perform some task. as there are multiple point into version value i am not able to compare it. please suggest how can i

[2019-02-18 04:01] MarkMielke commented on #50237
I've been thinking about this one on and off - mostly using Ansible 2.7.4 means I have bought time...

While the Ansible dnf module was not loading plugins at all, I think a patch release - 2.7.5 - is not the right time to introduce such a significant change. Probably, you thought it wasn't that significant, and you were only fixing something that was broken. But, the fact is that standard Ansible

[2019-02-18 04:27] hiteshshaha commented on #52449
I have not written code for this module yet i want sample code which i can use to compare oracle software version.

[2019-02-18 04:51] Akasurde commented on #29329
resolved_by_pr #52452

[2019-02-18 05:07] Akasurde commented on #52445
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2019-02-18 05:07] #52445 closed, assigned to nobody

[2019-02-18 05:09] Akasurde commented on #52449
Hi @hiteshshaha

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

Please go through documentation of [`version_comparison`](https://docs.ansible.com/ansible/latest/user_guide/playbooks_tests.html#version-comparison)

tl;dr

[code]
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IR

[2019-02-18 05:09] #52449 closed, assigned to nobody

[2019-02-18 06:04] #50978 closed, assigned to nobody

[2019-02-18 06:16] jborean93 commented on #48765
PR to add the OpenSUSE 15.0 container https://github.com/ansible/distro-test-containers/pull/14.

Currently working through the various test failures locally before creating the actual container and running a full cycle in Shippable.

[2019-02-18 06:18] jborean93 opened #52465 "Update Shippable CI Runtime Version v7.x.y"
##### SUMMARY
Shippable has released a new runtime version and we should try and stay as close to the latest as possible. The docs for this new version can be found at [AMI v7.1.4](http://docs.shippable.com/platform/runtime/machine-image/ami-v714/).

We are currently sitting on [v6.10.4](http://docs.shippable.com/platform/runtime/machine-image/ami-v6104/).

##### ISSUE TYPE
- Feature Idea

##### C

[2019-02-18 06:31] Andersson007 commented on #46168
I guess, in the example in the topic, maybe postgresql_privs just ran early than postgresql_user, wasn't it?

[2019-02-18 07:00] Andersson007 commented on #46069
I'm trying to reproduce it (2.8.0.dev0) using:
[code]
And it failed only if support role doesn't actually exist.
If I creates it (manually or by ansible), it works as expected.

Did you try to pass the values of your variables directly and recheck? Maybe ansible tried to execute the playbook on the host where 'support' role doesn't exist.

[2019-02-18 07:16] roelandjansen commented on #2551
I assume it's missing the 'r' in the example. E.g. "strategy"

[2019-02-18 07:42] alonisser commented on #51723
Thanks!

[2019-02-18 07:57] Fred-sun commented on #46790
@zikalino

[2019-02-18 08:02] Fred-sun commented on #47696
@zikalino

[2019-02-18 08:03] #39959 closed, assigned to nobody

[2019-02-18 08:03] cavamagie commented on #39959
problem solved with the update to 2.7

[2019-02-18 08:13] bmalynovytch commented on #21208
@dagwieers Could you remove the `mysql` label ?
-label mysql

[2019-02-18 08:20] gitm1993 commented on #46168
@Andersson007 It just looks like..  If I firstly remove privs and then the role, it will work for the first time but it will not work during second, third.. play. I believe main problem is a comparison between the actual state of the database and the desired state in the play.

I believe play is work like this:

1. First play:
  - task: ensure privs of role are absent
    - result: privs of role r

[2019-02-18 08:28] alonisser commented on #51723
reopened because it's not my call :) But probably should be closed

[2019-02-18 08:44] jhagg commented on #15852
Hmm, that was some time ago. :-)

I mean the stdout, I think it still shows tasks that it
ignores (not matching the tag),

It would be nice to be able to suppress unnecessary output. :-)

[2019-02-18 08:48] #37934 closed, assigned to nobody

[2019-02-18 08:48] #49791 closed, assigned to nobody

[2019-02-18 09:18] akamac commented on #49820
@ckotte Works perfectly, thanks!

[2019-02-18 09:20] akamac commented on #51811
Thanks for the explanation, @sivel.

[2019-02-18 09:30] MedicMomcilo opened #52470 "win_route ignores prefix when adding route"
##### SUMMARY

When adding new route that is very similar to existing one (only difference is subnet), win_route module doesn't change anything as it detects that route already exists

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_route

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Microsoft Windows Server 2016 Datacenter

##### DEPENDENCY PROBLEMS

[2019-02-18 09:36] MedicMomcilo opened #52471 "win_route only removes runtime route"
##### SUMMARY

When removing existing static route, win_route module only removes runtime route and persistent one is still in place.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_route

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Microsoft Windows Server 2016 Datacenter

##### DEPENDENCY PROBLEMS

[code]

##### STEPS TO REPRODUCE

Add persistent

[2019-02-18 10:00] willthames commented on #51723
It's absolutely your call @alonisser - if @fabianvf's 0.8.6 fix works for you, this should indeed be closed.

[2019-02-18 10:08] NilashishC opened #52474 "Transition to become plugin seems to fail privilege escalation for network modules"
##### SUMMARY
- Privilege escalation for networking platforms seem to fail with the following error in latest devel after #50991:
[code]
- This affects network_cli and httpapi connection privilege escalation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
become plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu Trusty64
Group Vars:
[code]
#####

[2019-02-18 10:22] #52233 closed, assigned to nobody

[2019-02-18 10:29] kr4ut commented on #30112
@abedwardsw  Guess that come from the "manage_dir" default, but true in check mode this should not happen.

[2019-02-18 10:57] tscholy commented on #47821
I have also experienced this mentioned error above. Does somebody gathered more information or maybe a solution about this?

[2019-02-18 11:05] jborean93 commented on #47821
@tscholy not yet, our CI installs Chocolatey during it's tests so I'm unsure what the actual issue is. Are you able to share some info around your setup and the way you run the `win_chocolatey` task? Anything special about your environment would be good to know so we can try and figure out what it is.

[2019-02-18 11:08] gkiranch commented on #24035
I had similar issue but solved it by adding timeout=30 to /etc/ansible/ansible.cfg

I do have some roles/tasks that take much longer than 12secs

[2019-02-18 11:16] juanvalino commented on #49437
I have the same problem.

[2019-02-18 11:21] inmediasit opened #52477 "cpanm: install multiple modules at once"
##### SUMMARY
Basically, one should be able to do the following:
[code]

Basically everything in ansible supports this syntax (except for this module, it seems).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
cpanm

[2019-02-18 11:55] Porkepix opened #52494 "When accessing undefined key in a dictionary from a conditional statement in a template, error message is misleading"
##### SUMMARY
When using an undefined key for a dictionary in a template, error message is different depending on if it's used as a basic variable call in `{{ }}` or in a conditional statement `{% %}`. In the second case, the error message is misleading and the whole template is going to be printed on screen.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION

[co

[2019-02-18 12:08] zikalino commented on #52138
@marc-sensenich the fix was now merged into devel branch.
I would be very interested in learning about the scenario you are using cosmos db in, and whethere there's anything else you need to enable it in ansible?

[2019-02-18 12:08] #52138 closed, assigned to nobody

[2019-02-18 12:12] tscholy commented on #47821
@jborean93
I am running the ansible playbook on a linux/ubuntu18.04 system and i want to configure a windows 10 VM running in virutalbox.
I tried it with ansible version 2.7, 2.5 and 2.4 - always the same error.
`ansible 2.4.6.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/etc/ansible/mona/library']
  ansible python module location = /usr/local/lib/python2.7/dist-

[2019-02-18 12:21] thomasliddledba commented on #50832
Any update on this?

[2019-02-18 12:26] planet-winter opened #52495 "Shippable integration tests (FreeBSD12) are too verbose: exceeding the 16 MB console output limit"
##### SUMMARY
Tests of FreeBSD 12 are excessively verbose, causing us to exceed the 16 MB console output limit for Shippable.
As seen here:
https://app.shippable.com/github/ansible/ansible/runs/107845/40/console

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- FreeBSD 12 integration tests
- portmake module https://github.com/ansible/ansible/pull/51688

##### ANSIBLE VERSION
Head

##### CONFI

[2019-02-18 12:27] kvaps commented on #42605
I have this issue with OIDC-authorisation in python's kubernetes-client:
 https://github.com/kubernetes-client/python-base/issues/65

[2019-02-18 12:36] AlanCoding commented on #49437
Is this the same as https://github.com/ansible/ansible/issues/36990, given that the SSH key data of an existing credential is unknowable?

[2019-02-18 12:40] #36060 closed, assigned to nobody

[2019-02-18 13:01] planet-winter commented on #52495
Maybe avoid using `bash -x` in `test/utils/shippable/shippable.sh` would do it

[2019-02-18 13:03] Klaas- commented on #49437
@AlanCoding is there a best practice on how to deal with this. I would like to use the same playbook for an initial configuration and any subsequent changes made to tower/awx.

Would I do something like:
[code]

or does anyone else have a better idea how to deal with this? :)

[2019-02-18 13:12] #51723 closed, assigned to nobody

[2019-02-18 13:24] AlanCoding commented on #49437
The question you need to wrestle with is: what if `files/towerscm` changes?

I thought about this question, and I do not have a good answer. I am open to suggestions, but I will throw out some partial ideas here.

It's theoretically secure to echo back the public key to users with admin_role to the credential, I threw around an initial implementation here: https://github.com/ansible/awx/pull/2267,

[2019-02-18 13:27] NilashishC commented on #52474
cc @Qalthos

[2019-02-18 13:41] dagwieers commented on #52495
@planet-winter Does it make sense to output everything by default from the `portmake` module ?

[2019-02-18 13:49] mooninite commented on #52181
I saw this issue again over the weekend and I understand why I saw it now. A few days ago I stopped "stopping" our VMs and started "deallocating" VMs to save money. The VMs being deallocated are returning less metadata for dataDisks and this is causing the azure_rm_virtualmachine_facts module to crash the way it is. Should the module perform a second lookup to find the data disks that have been de

[2019-02-18 13:55] bmalynovytch commented on #50832
Should be fixed by #45355

[2019-02-18 14:06] metallica127 commented on #51542
@bcoca This is also expanded when you're including the task:
[code]

[2019-02-18 14:17] wojss commented on #39369
@Hubbitus You can use pre_tasks and set_fact to solve this problem, like:
[code]

[2019-02-18 14:19] Klaas- commented on #49437
As for a general solution: would it be possible to validate ssh keys/passwords server side and then report back if they changed? That way you would not need to expose them via api. That's kinda what I was expecting tower-cli to do but it seems that it works different than I expected :)

As for the workaround for the playbook: I will just add another var will force updates on the "uncheckable" part

[2019-02-18 14:19] #49437 closed, assigned to nobody

[2019-02-18 14:34] kuritonasu commented on #31617
I'm still encountering this, with EC2 cloud-init. I've tested this both on Ansible v2.7.7 and v2.5.1 (I know it's pre-fix) and I'm getting the same behaviour on both versions with ansible-pull and cloud-init. ansible-pull outside of cloud-init works without issue. Exporting HOME resolves the issue. Thank you @pshemk for spotting this and suggesting a solution, it was driving me crazy.

[2019-02-18 14:48] mback2k commented on #26336
BTW-- We are now using import_role instead of include_rule and handlers are now delegated as well.

[2019-02-18 14:52] sivel commented on #15852
In that case, this issue no longer exists in recent versions of Ansible:

[code]

When specifying a tag:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-18 14:52] #15852 closed, assigned to nobody

[2019-02-18 15:15] memotype commented on #41609
I don't think silent failures that inject incorrect data is ever a good thing. For example, in our case, we were imaging IoT devices to send to customers and are using the system serial number from dmidecode as the primary key in a database used to track important device information. But since they were all just reporting their serial number as "error loading fact - please check content" each devi

[2019-02-18 15:18] samccann commented on #46441
already covered here - https://docs.ansible.com/ansible/latest/user_guide/playbooks_templating.html?highlight=jinja2#

[2019-02-18 15:18] #46441 closed, assigned to samccann

[2019-02-18 15:18] #43728 closed, assigned to nobody

[2019-02-18 15:19] planet-winter commented on #52495
@dagwieers I don't understand your question. Do you mean the module is outputting too much?
I reduced the output of them already silencing the portstree setup eg. subversion checkout.
The lines output by the module only use a small amount of the total lines it seems to me.

[2019-02-18 15:20] s-hertel commented on #25459
@MrMarvin i) Is the solution in progress. Here's the page keeping track of modules being ported to boto3 https://github.com/ansible/community/blob/master/group-aws/boto3.md. In regard to iii), we are trying to not add more boto code. boto is no longer actively maintained, so ii) will be very unlikely to happen. I agree with you that it should be left to the SDK, although we need to maintain compat

[2019-02-18 15:20] sivel commented on #52474
I believe we just need to create a stub `enable` become plugin here, The same way that we do with `runas`.

[2019-02-18 15:23] memotype commented on #41609
As for a "bad intended file", firstly a file on one system will only cause deployments for that system to fail, not for other systems. Secondly, if you have bad intended people with root access to your servers, you have bigger problems than them breaking your ansible playbooks.

[2019-02-18 15:28] gundalow commented on #51481
@oolongbrothers Thanks for this bug report, does https://github.com/ansible/ansible/pull/51721 fix this for you, if so please add a comment on that PR

[2019-02-18 15:36] sivel commented on #52382
Thank you very much for your interest in Ansible.  We do not believe that this is a strategy that we would accept into the project.

This functionality could be implemented already using `serial: 1` and error handling within blocks.

Aside from that, since strategies can be provided as plugins, you could write such a strategy that does what you want, but does not need to be shipped within Ansible.

[2019-02-18 15:36] #52382 closed, assigned to nobody

[2019-02-18 15:37] KevinRiordan commented on #41311
Hi I am trying to run the following command.

ansible -i inventory/mycluster/hosts.ini kube-node -m shell -a "whoami; uname -a" --become --become-user=root

and getting the following error:

"msg": "SSH Error: data could not be sent to remote host \"135.25.24.49\". Make sure this host can be reached over ssh",
    "unreachable": true

how do I configure the hosts to allow this ansible ssh connecti

[2019-02-18 15:45] Akasurde commented on #49820
@akamac Is it OK close this issue if PR #47273 works for you ? Thanks.

needs_info

[2019-02-18 15:45] sivel commented on #52494
The problem that you are seeing is the result of your template actions doing different things.

If your first template was instead:

[code]

Then they would error with roughly the same message, but your 2 templates are completely different, and thus give different errors from jinja2 itself.

The underlying jinja2 errors:

[code]

and

[code]

[2019-02-18 15:48] gundalow commented on #50698
resolved_by_pr: 51951

[2019-02-18 15:48] #50698 closed, assigned to nobody

[2019-02-18 15:50] shadycuz commented on #52382
@sivel Could you please provide further detail on the implementation using existing ansible methods? I didn't think this was possible at all, which is why I was going to implement the feature.

I know I can set serial to one. How do I get the play to be "successful" once a single host has finished the play?

I don't believe "run_once" on every tasks will do what you expect it too. It will only run

[2019-02-18 16:00] dagwieers commented on #52495
@planet-winter Let's see what @mattclay thinks about this :-)

[2019-02-18 16:05] Porkepix commented on #52494
Well, my understanding of the situation is that in both cases you try to access a key that does not exist in a dictionary. Here the `argument of type 'StrictUndefined' is not iterable"`` is 1/ not clear (What's `StrictUndefined`?) and 2/ wrong as you can iterate even over an empty dictionary.

Therefore error should be the other one here too. Before trying to iterate you should consider if the key

[2019-02-18 16:13] sivel commented on #52494
Let's remove Ansible from the equation for a moment, and only interact directly with jinja2.

[code]

As you can see, it is jinja2 that makes the distinction of what error happens.  Ansible does not influence this, this behavior is dictated by the underlying jinja2 library.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing l

[2019-02-18 16:13] #52494 closed, assigned to nobody

[2019-02-18 16:29] ACampesinin commented on #41609
About injecting incorrect data among silent failures: That it is what
ansible has been doing since a long number of versions,  and still does,
when it fails to parse the output from the local file it prints as fact "error
loading fact - please check content" So you will end with your devices with
that id.  What is more important the field of the play is called
run_error.  I guess no one will invok

[2019-02-18 16:32] ACampesinin commented on #41609
About security: it is not only that someone can break playbook execution by
just doing 'sudo touch'. Maybe my local facts path is a folder writable by
a group of users,  not just root. And there maybe I want to expose
information not readable by everybody as facts.  And that is not allowed,
at this moment it is not possible to segregate local facts depending in the
user running the playbook (unles

[2019-02-18 16:36] gundalow commented on #28788
Given that this is for a deprecated module I'll close. Please look at the `k8s` module

[2019-02-18 16:38] gundalow commented on #47081
`k8s_raw` is deprecated please look at the `k8s` module.

Closing

[2019-02-18 16:38] #47081 closed, assigned to nobody

[2019-02-18 16:38] gundalow commented on #43882
https://github.com/ansible/ansible/pull/44142 has been merged, so closing

[2019-02-18 16:38] #43882 closed, assigned to nobody

[2019-02-18 16:40] gundalow commented on #43206
k8s_raw module has been deprecated, it's been replaced by https://docs.ansible.com/ansible/latest/modules/k8s_module.html

[2019-02-18 16:40] #43206 closed, assigned to nobody

[2019-02-18 16:40] jamescassell commented on #35324
My use case was repairing installed files that came from an RPM.  I didn't realize the side-effect of marking the package reason as 'user' rather than 'dep' if it'd been previously marked as 'dep'.  I didn't want to change that, and will now consider `yumdb get reason <package>` and `yumdb set reason dep <package>` afterwards, as appropriate...

Having `state: reinstalled` would avoid having to sh

[2019-02-18 16:45] gundalow commented on #47079
Given the above, I think this can be closed

[2019-02-18 16:45] #47079 closed, assigned to nobody

[2019-02-18 16:48] gundalow commented on #43273
@bearrito Thank you for this bug report.
From Ansible 2.8 (release in a couple of months) you'll have access to
* https://docs.ansible.com/ansible/devel/modules/github_webhook_module.html
* https://docs.ansible.com/ansible/devel/modules/github_webhook_facts_module.html

And at the same time `github_hooks` will be deprecated. The two new modules should work a lot better for you.

[2019-02-18 16:48] #43273 closed, assigned to nobody

[2019-02-18 16:49] gundalow commented on #45266
@balagurumoorthy This module has been replaced by https://docs.ansible.com/ansible/latest/modules/k8s_module.html Does that work better for you?
needs_info