[2016-01-26 10:33] jhawkesworth commented on #14085
I was going to ask, and this may be a red herring but, if you run the same
command as a raw ansible module call do you get the same folder?

i.e.

[code]

Having seen your update, would it be possible to try your test against the
different branches again in a different order?  The reason I ask, and this
is pure speculation at the moment, is I wonder if a logout or timeout is
removing the temp dir

[2016-01-26 10:38] psi-4ward commented on #14103
I took a deeper look into `service.py`.
The Module searches for init.d scripts first and i had a `/etc/init.d/jenkins` file.
Removed it and the service module enables the systemd unit as expected.

[2016-01-26 10:38] #14103 closed, assigned to nobody

[2016-01-26 10:40] tetlika opened #14126 "issue after upgrading to stable-2.0.0.1"
after upgrading to stable-2.0.0.1 I'm not able to run shell: tasks or local_action, the error is smth like that:

line 1284, in _check_arguments\r\n    for (k,v) in self.params.items():\r\nAttributeError: 'tuple' object has no attribute 'items'\r\n", "msg": "MODULE FAILURE", "parsed": false}

[2016-01-26 11:15] selivan opened #14127 "Consistent parameters naming for file and acl modules [feature_idea]"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`file` module

##### ANSIBLE VERSION
[code]

##### SUMMARY

In `file` module we have parameter `recurse`. In `acl` module we have parameter `recursive`. I often use wrong one for each module. I think, it would be more convenient for both modules to accept both forms, but declare one of forms deprecated. It won't break existing playbooks and pe

[2016-01-26 11:21] gavD opened #14128 "Longer AWS EC2 instance IDs not used"
Hello,

Recently, AWS announced they would [change to a longer EC2 instance ID format](https://aws.amazon.com/blogs/aws/heads-up-longer-ec2-ebs-resource-ids-coming-in-2016/). I opted in for all regions and any nodes I create manually through the AWS console have the new, longer format.

The nodes I create through the Ansible EC2 module, however, still have the old, short format.

Is this an issue

[2016-01-26 11:30] stu-smith commented on #14085
I ran a modified version of the command you suggested as ad-hoc:

[code]

I guess that's what you'd expect: RDP sessions use numbered sub-folders within Temp, but a direct WinRM connection doesn't.

Regarding something that changed, and then changed back:

| Branch | Link |
| --- | --- |
| Latest | https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L1813 |
| stable-2.0

[2016-01-26 12:03] jesuscript commented on #13953
+1. seeing the same behaviour with a mongodb container

[2016-01-26 13:46] reactormonk commented on #13871
I'm getting a slightly related bug, where the instances are not added to `instances` if they're not created because of `count_tag`.

[2016-01-26 14:04] zigarn opened #14130 "Handle `omit` value in task attributes (like `environment` or `become_user`)"
##### Issue Type:

Feature Idea

##### COMPONENT NAME

core

##### Ansible Version:

[code]
##### Ansible Configuration:

No custom configuration.
##### Environment:

Ubuntu 15.04
##### Summary:

When using `shell` module with attribute `environment` defined as `{{provided_env|default(omit)}}`, the attribute is not omitted and it fails with error "ERROR! environment must be a dictionary, received

[2016-01-26 14:31] MGD1981 opened #14131 "Allow copy module to work with recursive and remote_src"
In Ansible 2.0, when using:

[code]

Copy module fails with:
`"msg": "attempted to take checksum of directory: <remote source directory>"`

This happens with and without `/` slashes at the ends of both or either directory name, and also whether or not the destination directory exists or not.  Source directory always present and filled with files and subdirectories.

[2016-01-26 14:33] amenonsen commented on #14130
You're not the only one with this expectation, but it simply doesn't work that way. `default(omit)` is a hack that applies only to the arguments passed to a module. Although you refer to `environment` as a module attribute in your description, that is incorrect—it's actually a play or task attribute.

So this isn't a bug.

[2016-01-26 15:23] towolf commented on #11262
This can be closed after @bcoca merged it:kissing_heart:, no?

[2016-01-26 15:25] DebianRoxx opened #14132 "When assigning tags to roles, tags are improperly preserved in dependency"
**Issue Type**
    Bug Report

**Ansible Version**

[code]

**Ansible Configuration**
gathering = explicit
pipelining = True

**Summary**
When assigning tags to roles, tags are not overwritten.

**Steps To Reproduce**
Here the tree :

[code]

File **playbook.yml** :

[code]

File **myrole/tasks/main.yml** and **mydep/tasks/main.yml** :

[code]

File **myrole/meta/main.yml** :

[code]

**Expected R

[2016-01-26 15:25] bcoca commented on #11262
closing as per above

[2016-01-26 15:25] #11262 closed, assigned to nobody

[2016-01-26 15:37] zigarn commented on #14130
You're right, the problem is the same when using other task attributes like `become_user`:

Ansible 1.9.4:

[code]

==> `-u __omit_place_holder__ffdb32d1cecd6ed1c09cb55609bb8a89be4cab66`

Ansible 2.0:

[code]

==> `-u None`

I changed the issue title accordingly.

[2016-01-26 15:39] amenonsen commented on #14130
As I said, this is not a bug. It just doesn't work as you think it should.

[2016-01-26 15:41] bcoca commented on #13910
closing via merged #14044

[2016-01-26 15:41] #13910 closed, assigned to nobody

[2016-01-26 15:45] t1m0thy commented on #12086
+1
perhaps instead of "how", loop_details or options?

[2016-01-26 16:09] kikicarbonell commented on #13800
These problem was solved on tag v1.9.4-1? How get this update?

[2016-01-26 16:19] #13990 closed, assigned to nobody

[2016-01-26 16:41] nrb opened #14133 "Feature Idea: Provide import hooks for module/library code"
Currently, when trying to write Python unit tests for Ansible module/library code, one must resort to doing their own import hacks, like described in https://nicolai86.eu/blog/posts/2014-02-05/testing-ansible-libraries/.

To avoid this, I wrote a new library, [`ansible_importer`](https://github.com/nrb/ansible_importer), that uses Python import hooks to find Ansible modules without peppering the f

[2016-01-26 16:48] tramasoli commented on #13175
Hello, I'm on 1.9.4 too and the issue only goes away if the current dir from where I'm calling ansible-galaxy has the symlink.

[2016-01-26 16:55] bcoca commented on #14133
just produce the file using hacking/test-module

[2016-01-26 16:59] nrb commented on #14133
Ah, I wasn't aware of this, thanks.

However, that doesn't appear to do in-depth unit testing, like importing specific classes/functions and running them in a test case. Maybe I'm missing something?

[2016-01-26 17:03] bcoca commented on #14133
no, but it produces the importable version of the script

##

Brian Coca

[2016-01-26 17:13] nrb commented on #14133
Thanks, I see that now on further reading. Looking at the setup.py file and my installed version of Ansible, it appears this isn't included with the installed distribution, as only the `lib` directory is packaged.

How would you suggest testing modules that live outside of ansible's core with this? For context, I'm trying to test modules in https://github.com/openstack/openstack-ansible/tree/maste

[2016-01-26 17:19] bcoca commented on #14133
those you should be able to test with a normal import, its only the library/task/modules that use ansible.module_utils. require extra magic as they are not importable.

[2016-01-26 17:39] nrb commented on #14133
Thanks, I'll play around with that.

The main thrust of the import hooks was to provide a way to get to the actual importable modules, since like you say, they do work. I think in that specific case we wanted to have our tests in the root `tests` directory.

[2016-01-26 17:55] abadger commented on #11067
Current output in 2.0.0.2 is:

[code]

We no longer specify both hosts, just the inventory_host.  So this issue seems to no longer apply.

[2016-01-26 17:55] #11067 closed, assigned to nobody

[2016-01-26 17:59] KIVagant commented on #14067
Thank you, @bcoca. I will wait for more information.

[2016-01-26 18:08] abadger commented on #10368
A lot has changed in the code of synchronize between 1.8.4 and 2.0.1 (the next release which is currently in the stable-2.0 branch).  This issue may have been fixed.  you can take a look at the test cases that I've been using to see if your usage falls under one of those: https://gist.github.com/abadger/0fc9e36a295979210698#file-sync-yml

or you can checkout the devel or stable-2.0 branch and chec

[2016-01-26 18:16] jimi-c commented on #13944
Whoopsie... not sure how we missed this one. We'll get this in 2.0.1.

[2016-01-26 18:17] jardleex commented on #14032
Hi,
thanks for the link. It took me some more days to find a working solution on this:

###### File to test

[code]

###### Command output

[code]

Especially take a look at debug07 how to access attributes of keys.
It would be nice if this to find this in to documentation somehow. There i only found the "{{ name_of_my_var }}" syntax without additional strings or how to acces attributes on the var

[2016-01-26 18:18] abadger commented on #12469
Note:  This is fixed in ansible-2.0.  adding to the stable-1.9 milestone.

[2016-01-26 18:19] #14100 closed, assigned to nobody

[2016-01-26 18:20] wholroyd opened #14134 "Ansible 2.0.0.2 - Temp directory is not cleaned up properly"
All the directories within the `remote_tmp` directory are empty. If the files within them aren't required, then the directory shouldn't be either.

<img width="1440" alt="virtualbox_fedora_26_01_2016_13_17_47" src="https://cloud.githubusercontent.com/assets/147990/12590151/70c8d2fa-c42f-11e5-9ed1-f78b75551ee0.png">

[2016-01-26 18:21] jimi-c commented on #14100
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-01-26 18:48] wholroyd opened #14135 "Ansible 2.0.0.2 - Using with_items and ec2_eni is changing other variables"
Assuming this is a set of tasks in a role and that all variables have been validated to be defined to their correct values prior to hitting the ec2_ini task...

[code]

And that this is the output from using -vvv...

[code]

You will see that there are two error messages as a result of trying to iterate from the expected two items in `with_items: "{{ vpc_created.subnets }}"`. The `msg` of the fail

[2016-01-26 19:10] kikicarbonell commented on #13361
I have the same problem installing ansible 2.0.0.2-1~trusty on Ubuntu 14.04

[2016-01-26 19:13] kikicarbonell commented on #12755
I have the same problem after install ansible 2.0.0.2-1~trusty on Ubuntu 14.04

[2016-01-26 19:14] jimi-c commented on #13944
^ reimplemented. I've also added the ability to now leave the retry directory unset (with a default value of `None`), in which case the retry file will be written to the playbook directory. Otherwise, if the retry path is set, it will use that.

Sorry for missing this!

[2016-01-26 19:18] sivel commented on #12755
I think @srvg was experiencing some similar issue.  `PYTHONPATH` was being "polluted" with paths from an `easy-install.pth` and it was inserting a path that had a `ansible.errors` file from a different version of Ansible.

Might be worth looking at the `PYTHONPATH` environment var and looking for any other `errors.py` file.

[2016-01-26 19:31] kikicarbonell commented on #13800
:+1:

[2016-01-26 19:36] #9305 closed, assigned to nobody

[2016-01-26 19:46] srgvg commented on #12755
My problem was another Python package (gandi.cli) inserting paths in `~/.local/lib/python2.7/site-packages/easy-install.pth`:

[code]

which were at Python run time inserted before the PYTHONPATH stuff.

I got the same error message as in this ticket: it picked up an older (1.9.x) ansible installed system wide.

[2016-01-26 20:26] szhem commented on #2097
+100

[2016-01-26 20:27] abadger commented on #14104
I'm not able to reproduce this with a minimal test case.

[code]

Can you try my test case to see if it works for you or propose changes to it that will show the failure?

[2016-01-26 20:48] abadger commented on #11666
Not able to reproduce this with a checkout of the 1.9.2 tag for either copy or synchronize.  Here's my playbook:

[code]

Also tried with 2.0.0.2 and similarly the errors are ignored.

I'm going to close this as it all seems to work.  If it's still an issue you can ask about it on the mailing list or IRC channel or if you can see some important difference between your reproducer and my test case f

[2016-01-26 20:48] #11666 closed, assigned to nobody

[2016-01-26 20:58] nicolas-g opened #14137 "user module: ansible-pull issue with user home directory ownership"
##### Issue Type:
- Bug Report
##### Environment:

Controller : OSX 10.11.03
Target : CentOS 6.X
Ansible :  2.0.0.2
##### Summary:

We use ansible pull to run our security role as a cronjob every 15 minutes where we create our user accounts and deploy their ssh public keys.

Since we upgrade to Ansible 2 we are having issues to login to new instances, it seems ansible-pull create the user home dir

[2016-01-26 21:16] jimi-c commented on #14133
As this appears to be more of a general use question rather than a bug/issue, I'm going to go ahead and close this now.  If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-devel - for strat

[2016-01-26 21:16] #14133 closed, assigned to nobody

[2016-01-26 21:25] bonds commented on #13490
I installed 8647fdc7f25ba1c707c5333ca1581a1fa0ffe566 with:

[code]

and ran the same command and got the same error:

[code]

[2016-01-26 21:37] jimi-c commented on #14128
Hi @gavD, this is more of a general use question, and I'd recommend you ask on one of the mailing lists:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions about writing code

Because this project is very active, we're unlikely to see comments made on

[2016-01-26 21:37] #14128 closed, assigned to nobody

[2016-01-26 21:39] jimi-c commented on #14126
This should be resolved, and you should use the stable-2.0 branch (stable-2.0.0.1 was only created for the 2.0.0.x release updates).

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and

[2016-01-26 21:39] #14126 closed, assigned to nobody

[2016-01-26 21:40] jimi-c commented on #14125
Can you share an example of the playbook(s) causing this? It is a known issue that tags from include files do not show up in --list-tags output, so if your playbooks are comprised of all includes this would be expected.

[2016-01-26 21:43] ghost opened #14139 "mount module can't handle nested mountpoints"
Bug Report

Ansible Version: ansible 1.9.1

Ansible Configuration:  No changes

Environment: RHEL 6.7 x86_64  (both Ansible master AND target host)

Summary: The mount module does not properly order nested filesystems in /etc/fstab even if with_dict dictionary variable has them in the proper order.

Steps to Reproduce:
1.) Create variable YAML file:
lvols:
  pgdata:
    lv_name: pgdata
    vg: pgd

[2016-01-26 21:48] jimi-c commented on #14124
It's apparently having issues uploading the file. Can you verify the filesystem is not full and you have write permissions to the home directory there? It could be a permissions issue of some kind.

[2016-01-26 21:48] jimi-c commented on #14123
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2016-01-26 21:48] #14123 closed, assigned to nobody

[2016-01-26 21:49] jimi-c commented on #14122
We've included that command in 2.0, however it will not work until Galaxy 2.0 has been released (which will be very soon). I'll hold this open until then, to see if there are any further issues once that's live.

[2016-01-26 21:50] jimi-c commented on #14139
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2016-01-26 21:50] #14139 closed, assigned to nobody

[2016-01-26 21:59] nitzmahone commented on #14077
The BOM should definitely not be in there, and is almost certainly the reason that the path creation is failing, but I have no clue where it's coming from. There also seems to be some other cruft I wasn't expecting to see in the second batch. @dacr- any chance you have a Red Hat-flavored machine you could try this from, and install 2.0 with yum via epel-testing? Just trying to cut down some variab

[2016-01-26 22:38] nitzmahone commented on #13611
Going to close this for now- please reopen if you see this behavior again.

Thanks!

[2016-01-26 22:38] #13611 closed, assigned to nobody

[2016-01-26 23:08] abadger commented on #9305
Fixed in devel and cherry-picked to stable-2.0.

[2016-01-26 23:10] bseddon commented on #6112
@spatten Thanks for posting the fix.  Who would have thought...

[2016-01-26 23:10] abadger commented on #11419
This should be fixed in devel and the stable-2.0 branch (will be ansible-2.0.1) via https://github.com/ansible/ansible/pull/14140

[2016-01-26 23:10] #11419 closed, assigned to nobody

[2016-01-26 23:11] abadger commented on #5240
https://github.com/ansible/ansible/pull/14140  should fix the problem of using localhost with alternate ports for different hosts.  That fix is in devel and stable-2.0 and should appear in the 2.0.1 release.

[2016-01-26 23:20] simono commented on #11419
Thanks @abadger for the fast fix. Highly appreciated!

[2016-01-26 23:56] coxley opened #14141 "--limit restricts visibility to hostvars not in the catalogue for the current run"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]

Upgraded to v2.0.0.2 with some outcome.
##### Ansible Configuration:

[code]
##### Environment:

Doesn't really apply, but:

Ubuntu 10.04, Python 2.7, connection=local to generate fragments and assemble.
##### Summary:

From my research, `hostvars` should contain all YAML defined vars for all hosts even for `ansible-playbook` runs whic

[2016-01-27 00:04] sivel commented on #14141
I feel we could use some examples showing the issue.  Without this I'm not fully sure I understand the problem based on the given description.

Filling out the this issue using the issue template would be a good start:

https://raw.githubusercontent.com/ansible/ansible/devel/ISSUE_TEMPLATE.md

[2016-01-27 00:39] coxley commented on #14141
Will fill out and update the summary. I wish Github let repo owners enforce an issue template. :)

[2016-01-27 00:56] larry-s opened #14142 "`become:` documentation needs improving"
The documentation on ansible/docsite/rst/become.rst is not sufficient to actually use these new directives. To use these directives one needs to guess. Please provide documentation on how the directives are used, or at least examples.

[2016-01-27 00:56] bbyhuy opened #14143 "ansible 2.0.0.2 - ValueError: file descriptor out of range in select()"
**Issue Type:**
Bug Report

**Ansible Version:**
2.0.0.2

**Ansible Configuration:**
- Enabled Logging
- Disabled host-key checking

**Environment:**
- Ubuntu 14.04 KVM

**Summary:**
Attempting to run a playbook across 220 VMs running ubuntu at 220 forks. Started getting and error complaining about descriptor limit. So I raised the ulimit (via /etc/security/limits.conf) and confirmed via `ulimit -

[2016-01-27 01:34] coxley commented on #14141
Updated!

[2016-01-27 02:25] taozhi8833998 commented on #14124
I hava the full permission on this folder, and if I set the `pipelining = True` in ansible.cfg ,it works. Could you mind explaining it to me why it works, If it's convenient for you。

[2016-01-27 02:54] mgaley commented on #13876
I encountered this on random shell/command tasks in a playbook against a CentOS vps on amazon. That's our only CentOS 7.2 machine with 20+ other amazon ami servers which haven't shown the issue so far.

I tried 2.0.0, 2.0.0.2, 2.1, pipelining on/off, controlpersist on/off, and running from OS X / amazon ami. I also tried removing the .ansible files from the target node with no effect

This might n

[2016-01-27 03:19] bitmensch opened #14144 "Listing a playbook's tasks fails"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible@devel (commit 78d49914)
##### Ansible Configuration:

no changes
##### Environment:

MacOS X 10.11.3
##### Summary:

`ansible-playbook --list-tasks ...` call fails with exception `Unexpected Exception: 'NoneType' object has no attribute '_failed_hosts'`. This bug has been introduced with commit 78d49914.
##### Steps To Reproduce:

[code

[2016-01-27 03:50] vkroz commented on #13959
I think this bug is prematurely closed. I have same problem with ansible 2.0 -- my playbooks which works fine with ansible 1.9.\* are now broken with ansible 2.0
Specifically: ansible-playbook executes all plays and tasks from playbook, regardless of tags provided via  --tag command line option

## playbook

[code]

## command line

[code]

expected result: only play `"Prepare sandbox inventory an

[2016-01-27 04:50] jimi-c commented on #13959
@vkroz see my response above. Are any tasks from those plays running or is it simply running the fact gathering (setup) task for each play in the playbook?

[2016-01-27 04:54] jimi-c commented on #14124
@taozhi8833998 pipelining works because no file is actually uploaded to the host - the python code to be executed is sent over stdin to /usr/bin/python. This further indicates there is some kind of problem uploading the file to that system.

Are you using the ssh connection transport? If so, you may want to try the paramiko transport, or set the ssh option to use scp instead of sftp for file uploa

[2016-01-27 06:19] vkroz commented on #13959
@jimi-c It's actually running plays tasks (all of them), not just setup

[2016-01-27 07:39] snsb-seifert opened #14145 "ansible 2 shell-module pipe problem?"
in ansible 1.9
shell: "fdisk -l  {{ systemcontainer | quote }} | grep Disklabel | wc -m"
returns in stdout "20" but in ansible 2.0
stdout is record as "0".
running the generated ansible 2.0 command manually ("python command" from .ansible/tmp)  the recorded stdout is "20"

[2016-01-27 07:50] taozhi8833998 commented on #14124
@jimi-c in my ansible.cfg the `scp_if_ssh = True` , as you said, I just ping successfully for this moment, and later I need upload file to the sever would meet this issue again??  Thanks for ur patience， if I solved this issue, I would post it here

[2016-01-27 08:41] moorglade opened #14146 "Ansible 2.0.0.2: Nested include + with_items does not work properly"
##### Issue Type:

Bug report
##### Ansible Version:

ansible 2.0.0.2
ansible 2.1.0 (devel 7e3963420d)
##### Ansible Configuration:

N/A
##### Environment:

Ubuntu 15.10
##### Summary:

Ansible 2.0 added a feature to use _include_ statements together with _with_items_ loops. When nesting _include_ statements, (i.e. file _A.yml_ includes _B.yml_, which includes _C.yml_) the _item_ variable is not s

[2016-01-27 08:52] wor-k opened #14147 "got error when using vars_prompt and run with echo '\n' | ansible-playbook"
Issue Type: Bug Report
Ansible Version: 2.0.0.2
Ansible Configuration: None
Environment: Centos 7, Ubuntu 14.04

Summary:
got error when using vars_prompt and run with echo '\n' | ansible-playbook $$$

Steps To Reproduce:
echo '\n' | ansible-playbook $$$

Actual Results:

[code]

[2016-01-27 08:52] ksmets commented on #13490
Could it be that you need to specify `executable` to `/usr/bin/fish` in `ansible.cfg`. The problem is that `and` and `or` are used and that doesn't work with `/bin/sh`.

[2016-01-27 09:47] ladislashornok commented on #14077
Hi, I'm a new user of Ansible. But I seem to have the same problem with a Windows 2008R2 SP1 64-bit server that has the version 2 of PowerShell. I have another server with Windows 2012 and a version 4 of Powershell. It works well. I'm not sure, but maybe does this relate to the version of Powershell ?

[2016-01-27 09:50] omame opened #14148 "Misleading error when a file isn't found in a role"
##### Issue Type:

Bug Report
##### Ansible Version:

##### Ansible Configuration:

Clean.
##### Environment:

Ubuntu 14.04.
##### Summary:

When a copy or assemble operation can't access the src file in a role a misleading error suggests to look at the playbooks directory.
##### Steps To Reproduce:

[code]
##### Expected Results:

[code]
##### Actual Results:

[code]

[2016-01-27 10:16] archonik opened #14149 "FreeBSD Jail PKGNG Misleading Error"
##### Issue Type:

Bug Report
##### Ansible Configuration:

Clean
##### Environment:

[code]
##### Summary:

This issue occurs when:

Fresh BSD jail is created via

[code]

Steps To Reproduce:

Run this simple task

[code]

Inventory file

[code]

Role Code

[code]

Resolution is easy, you need to bootstrap pkg first

[code]
##### Expected Results:

[code]
##### Actual Results:

[code]

[2016-01-27 10:49] gdamjan opened #14150 "override ansible.cfg settings on the commandline (become, vault)"
##### Issue Type:

Feature Idea

##### Component Name:
core

##### Ansible Version:

$ ansible --version
ansible 2.0.0.2
  config file = /home/damjan/sys-ops/ansible.cfg
  configured module search path = Default w/o overrides
##### Ansible Configuration:

[code]
##### Summary:

the ansible.cfg file has `become=true` and `ask_vault_pass=true` but in rare situations I need to run `ansible` without t

[2016-01-27 11:08] ankitmth opened #14151 "Ansible 2.0.0.2 : "ERROR! file or module does not exist" while running a playbook with script module"
After installing ansible 2.0.0.2 from rpm:

[code]

I get the below error on running the playbook which uses the script module:

[code]

 The Playbook in question: -

[code]

[2016-01-27 11:27] chrrrles commented on #14101
Also seeing that async_status is not using the value for `ansible_python_interpreter`, and I am editing the title to reflect the root cause of your problem.  Not sure at this point if it is related to the issue in #13421.

[2016-01-27 11:37] ghost commented on #14117
Pretty much a-must-feature to my mind. That would negate necessity to use wrapper scripts around playing the playbooks.

[2016-01-27 11:41] jhawkesworth commented on #14150
If you don't mind doing this using environment variables I think you can do this already

See http://docs.ansible.com/ansible/intro_configuration.html#environmental-configuration

and

https://github.com/ansible/ansible/blob/devel/lib/ansible/constants.py

DEFAULT_ASK_VAULT_PASS
and
DEFAULT_BECOME
seem to correspond to the ones you mention.

[2016-01-27 11:52] ayqazi commented on #13727
A workaround seems to be `export AWS_SECURITY_TOKEN="${AWS_SESSION_TOKEN}"`, is that correct?

[2016-01-27 11:58] jhawkesworth commented on #14077
hi @ladislashornok - ansible only works with powershell 3.0 or higher, so yours is a different issue I think.  Please see http://docs.ansible.com/ansible/intro_windows.html#windows-system-prep

I would advise installing Windows Management Framework 4.0 if possible because on Server 2008 R2 machines, due to a bug in Windows Management Framework 3.0, it may be necessary to install this hotfix http:/

[2016-01-27 12:02] jhawkesworth commented on #14077
Going back to the reported issue, just wondering if changing
LANG=fr_FR.utf8
to something like
LANG=en_US.UTF-8
temporarily is worth trying to see if that is causing the Byte Order Mark to be added.
Might be another way to narrow down the cause.

[2016-01-27 12:40] micafer opened #14154 "Problem with Inventory.HOSTS_PATTERNS_CACHE using API"
##### Issue Type:
- Bug Report
##### Ansible Version:

ansible 2.0.0.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### Ansible Configuration:

[code]
##### Environment:

Ubuntu 14.04 and Ubuntu 14.04
##### Summary:

I'm calling Ansible from a daemon that calls the Ansible library.
When I make two successive calls to the API to perform a functi

[2016-01-27 13:09] towolf commented on #13565
The above PR should fix this issue.

[2016-01-27 13:19] chrrrles commented on #14142
May you suggest what is missing from the documentations before we open a docs request?

[2016-01-27 13:29] gdamjan commented on #14150
setting those to either '', no, false doesn't have an effect.

[2016-01-27 13:31] chrrrles commented on #14143
Can you also run `ulimit -n` on the machine running ansible-playbook?

Possibly related to:  https://github.com/ansible/ansible/issues/10157

[2016-01-27 13:45] chrrrles commented on #14103
Thanks @psi-4ward

[2016-01-27 13:46] rpsiv commented on #13876
@mgaley based on your feedback I looked into the ssh connection to my client and found something interesting.

I am using RHEL 6.6 for both source and destination machines and Ansible 2.0.0.2

Remoteserver#> tail -f /var/log/secure

Jan 27 07:47:48 Remoteserver sshd[19329]: Accepted publickey for jenkins from Ansiblehost port 41384 ssh2
Jan 27 07:47:48 Remoteserver sshd[19329]: pam_unix(sshd:sessi

[2016-01-27 13:46] EraYaN opened #14156 "Hash calculation failed unusually in copy module"
This happened in my last run, I can't get it to happen again. But it asked to be reported so here it is.

[code]

[2016-01-27 14:19] jimi-c commented on #14124
@taozhi8833998 if you keep that config setting, you will not have problems. It appears that SFTP is disabled in your sshd_config, so you could also look to re-enable that.

As this issue is resolved, I will go ahead and close this now. If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as

[2016-01-27 14:19] #14124 closed, assigned to nobody

[2016-01-27 14:20] weiyu10 commented on #9784
@jimi-c thanks
ansible version is 1.9.4, which commit fixed this bug,https://github.com/ansible/ansible/issues/9784 ?

[2016-01-27 14:32] jimi-c commented on #13959
@vkroz when I run your sample above (all tasks swapped out for debug statements), this is what I see on both stable-2.0 and devel:

<pre>
# ansible-playbook -vv -i vkroz_inv vkroz.yml --tags=build-dynamic-inventory
Using /etc/ansible/ansible.cfg as config file
3 plays in vkroz.yml
PLAY [Prepare sandbox inventory and locahost configuration XXX] ****************
TASK [setup] ************************

[2016-01-27 14:35] vboginskey opened #14157 "Unexpected Exception: unhashable type: 'AnsibleSequence'"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

Default
##### Environment:

OS X 10.10.5
##### Summary:

Providing a list of lists as a role param dumps a traceback.
##### Steps To Reproduce:

[code]
##### Expected Results:

[code]
##### Actual Results:

[code]

[2016-01-27 14:44] jimi-c commented on #9784
This was fixed in devel/stable-2.0. It will most likely not be back-ported to 1.9.

[2016-01-27 14:45] jimi-c commented on #14157
Hi @vboginskey this has been corrected in the devel branch, and will be included in 2.0.1 (we're working on getting RC1 out for that very soon).

[2016-01-27 14:46] #14157 closed, assigned to nobody

[2016-01-27 14:46] vboginskey commented on #14157
Great, thank you for the quick follow-up!

[2016-01-27 14:48] jimi-c commented on #14154
This has been corrected in devel and will be included in 2.0.1. The commit responsible for fixing it is 391420d88f7c8dd691833cd0edb1fe4c31b9c191, if you wish to cherry-pick it temporarily.

Thanks!

[2016-01-27 14:48] #14154 closed, assigned to nobody

[2016-01-27 14:50] jimi-c commented on #14156
With which version of Ansible did you get this error? If you can find anyway to reproduce it, we'd appreciate it.

[2016-01-27 14:51] bcoca commented on #14150
ANSIBLE_BECOME and ANSIBLE_ASK_VAULT_PASS are the environment vars

[2016-01-27 14:57] #14144 closed, assigned to nobody

[2016-01-27 14:57] jimi-c commented on #14144
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-01-27 15:00] EraYaN commented on #14156
[code]

It completely took me by surprise, but the fact that the permissions on every file that ansible creates are super weird might be the issue, or related.

Here is the playbook part:

[code]

Well as you can see I had some problems with the copy module already, weird permission errors or it behaving differently if the destination directory already existed. The rsync module seemed to solve som

[2016-01-27 15:01] jimi-c commented on #14146
This is documented in the loops documentation as a limitation (along with suggested work around for different scenarios): http://docs.ansible.com/ansible/playbooks_loops.html#loops-and-includes

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/

[2016-01-27 15:04] gdamjan commented on #14150
thanks.
ANSIBLE_BECOME=false ANSIBLE_BECOME=no and ANSIBLE_BECOME='' all work (not very discoverable but will do the job)

[2016-01-27 15:25] ghost opened #14158 ""win_get_url" module with parameter "force: no" fails"
Hello I have the below task and fails with "You cannot call a method on a null-valued expression." only when parameter "force" is specified. The "KIT" directory is already created.
 Ansible version is 2.0.0.2 on CentOS 6.7. The target operating system is Windows Server 2012 R2.

name: Download kit
       win_get_url:
         force: no
         url: 'http://some_random_url/some_random_program.exe'

[2016-01-27 15:27] moorglade commented on #14146
The documentation states:
"There are a couple of things that you need to keep in mind, a included task that has it’s own with_ loop will overwrite the value of the special item variable."

This is _not_ the issue I have encountered, as far as I understand. Sorry if my description was unclear.

[2016-01-27 15:34] bitmensch commented on #14144
@jimi-c This makes things working again. Thanks.

[2016-01-27 16:29] jimi-c commented on #14144
Great, thanks for the follow-up!

[2016-01-27 16:34] jimi-c commented on #14146
This is a bit different, as you have an extra depth of include without looping in the inner-most include. Regardless, if you want to do this, you need to save the item variable from the outside loop, and don't use the variable name `item` as the param to the inner include.

[2016-01-27 16:43] lystor commented on #13262
+1024

[2016-01-27 16:53] deyvsh commented on #11569
I had a quick look at implementing this but there are the following snags:
- ec2.py currently uses boto.rds not boto.rds2, and the migration is fiddly
- list_tags_for_resource() requires an ARN. Generating an ARN requires the account id. Getting the account id from AWS programmatically is not straightforward (it's all hacks). This problem also applies to boto3.

I might have time to implement some

[2016-01-27 17:00] jhawkesworth commented on #14158
This has already been raised under https://github.com/ansible/ansible-modules-core/issues/2146
and some more information on this issue here: https://github.com/ansible/ansible-modules-core/pull/2644

There is a messy but working implementation in one of the comments on https://github.com/ansible/ansible-modules-core/issues/2146

[2016-01-27 17:37] jimi-c commented on #14145
Hi @snsb-seifert, can you share the output when running the command without the `| wc -m`?

[2016-01-27 17:54] mwhite14 opened #14160 "Pause Prompt keeps input hidden in v2"
In tasks I prompt for an AWS AMI and get the user input using register. Before ansible v2, I was able to see what I was typing in at the prompt. After v2 I am not longer able to see what I am typing.

It seems it now defaults to private, but it there is no way to disable it.

[2016-01-27 18:08] bbyhuy commented on #14143
Updated. Sorry about that. Let me know if anything else is needed.

[2016-01-27 18:15] gpthome commented on #13973
We're running into this issue as well.  Can you be more clear where the fix is?  We built tag ansible-2.0.0.2-0 (CentOs7) and we're still experiencing "TypeError: set_fs_attributes_if_different() takes exactly 3 arguments (4 given)".  Perhaps a different problem?

[2016-01-27 18:25] wholroyd commented on #14135
I figured out what is going on here. The playbook I'm using to execute this task loops through a series of regions in EC2 using `with_items` and executes a task with the current 'region' value using the value `"{{ item }}" within the loop. This is up at the playbook level.

[code]

A breakpoint at `/lib/ansible/executor/task_executor.py:169` prior to the `ec2_eni` task being executed shows the `se

[2016-01-27 18:44] tetherit commented on #5577
This issue is related: https://github.com/ansible/ansible-modules-core/issues/2832

I think this and the related issue need some tender love and care :( - I frequently need to provision a new host in chroot, to create new image file (to dd to a blank sd card or hard drive).

Because the synchronize module is not aware of connection, it means I need to duplicate around 20 synchronize tasks, that ar

[2016-01-27 18:48] nicolas-g opened #14161 "template: src absolute path required in Ansible v2"
##### Issue Type:
- Bug Report
##### Ansible Version:

Ansible : 2.0.0.2
##### Environment:

Controller OS X  :  10.11.3
Target : CentOS 6.7
##### Summary:

Templates stored under our shared role are failing to be deployed from tasks in other roles.

This used to work fine in Ansible 1.9 and it's currently a major problem to migrate because of high number of templates we deploy that way , if we ch

[2016-01-27 19:09] #14116 closed, assigned to nobody

[2016-01-27 19:10] DaCookie4u opened #14162 "failures on ansible_connection=local hosts _stops_ playbook"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

Updated from 1.9.4 to 2.0.0.2
##### Environment:

N/A
##### Summary:

We are using ansible to deploy our junos devices. So a big part of our inventory uses `ansible_connection=local`.

When running a playbook with multiple plays on our junos hosts and one of the tasks fails for a host (because of a missing

[2016-01-27 19:23] vmalloc commented on #14092
@abadger The 'workaround' does not seem to actually work - getting `unsupported parameter for module: delegate_to` (with latest ansible).

Please reopen as this is not a valid workaround to eliminate the warning...

[2016-01-27 19:25] doertedev opened #14163 "stdout_lines + sudo"
Installing a certain kernel, removing all the other ones from an ubuntu instance I came across this gem:

[code]

STDOUT:

[code]

Which ofc failed because of the BECOME-SUCCESS-part.

I'm running ansible 2.0.0.2: (pip)

[code]

[2016-01-27 19:28] kamsz opened #14164 "Unable to use vmware_datacenter module"
Issue type: Bug report

Ansible version: 2.1.0 devel 6bf2f45

Ansible configuration: Default

Environment: Kubuntu 15.10 (4.2.0-25-generic)

Summary: I'm trying to use vmware_datacenter module to create a datacenter inside of the VMware. In fact, datacenter is created, but task finishes with an error:

[code]

Steps to reproduce:
Example of the role:

[code]

Expected result: Task should finish wi

[2016-01-27 19:33] bcoca commented on #14145
I was able to reproduce but only when not running as root:

[code]

when running as root:

[code]

i get 0 and 20 respectively when adding sudo to my play:

[code]

[2016-01-27 19:47] bcoca commented on #14134
hmm, we seem to be good at removing the temp dirs for the module execution, but some other internal stuff that does 'pre checks' seems to not do the same.

[2016-01-27 19:52] #14164 closed, assigned to nobody

[2016-01-27 20:08] jimi-c commented on #13973
@gpthome there is no tag by that name in our tags, can you detail how you're installing Ansible and running into this? The problem was that the stable-2.0 branch for ansible was pointing at the devel branch for ansible-modules-core. This was corrected, so using the stable-2.0 branch from git shouldn't be seeing this error anymore.

[2016-01-27 20:26] lparsons opened #14165 "Template update fails due to checksum error"
**Issue Type**: Bug Report

**Ansible Version**: 2.0.0.2

**Ansible Configuration**: `sudo_flags = -i
`
**Environment**:
Running ansible from OSX 10.11.2
Managing Centos 6.6

**Summary**:

When attempting to update a template, the tasks fails with `failed to checksum remote file. Checksum error code: 0`

**Steps To Reproduce**:

Attempt to update a template, using sudo

**Expected Results**:

[cod

[2016-01-27 20:27] jimi-c commented on #14162
Hi @DaCookie4u, unfortunately I'm not able to reproduce this. Testing on devel/stable-2.0/v2.0.0.2-1 all produce the same output for me:

<pre>
# ansible-playbook -vv test.yml -i inv
Using /etc/ansible/ansible.cfg as config file
2 plays in test.yml
PLAY [play1] *******************************************************************
TASK [task1] *********************************************************

[2016-01-27 20:45] abadger opened #14166 "delegate_to with hosts from with_items not working correctly"
Fresh checkout:

[code]

following playbook:

[code]

Following ouptut is generated:

[code]

The metadata says that the task is being run on each of the hosts listed in the hosts variable.  But the stdout_lines indicate that the task is being run twice on the same host.

This seems related to https://github.com/ansible/ansible/issues/13880 but that issue was fixed.

[2016-01-27 20:59] DaCookie4u commented on #14162
Hi @jimi-c, first of all thanks for the fast reply. Second I actually think you reproduced it, since it is not starting `play2`. `play2` should be started with `task3` for your hosts `.100` and `.113`.

The expected output (i.e. using ansible-1.9.4) would be like this (please notice `play2` and `task3`):

[code]

Using ansible 2.0.0.2 and ANSIBLE_DEBUG=1 results in the following (used pastebin bec

[2016-01-27 21:09] #14147 closed, assigned to nobody

[2016-01-27 21:31] jimi-c commented on #14149
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2016-01-27 21:31] #14149 closed, assigned to nobody

[2016-01-27 21:34] jimi-c commented on #14158
As this is a duplicate, I'll go ahead and close this now.

Thanks!

[2016-01-27 21:34] #14158 closed, assigned to nobody

[2016-01-27 21:37] jimi-c commented on #14163
Hi @doertedev, I believe we may have resolved this in the devel branch, if you'd like to give that a quick test.

[2016-01-27 23:15] nitzmahone commented on #14162
FWIW, I see the same behavior with connection=winrm on Windows hosts.

[2016-01-27 23:17] ghost commented on #5240
I was able to work around this by adding an unexpected entry to my `/etc/hosts` file.
I duplicated the localhost line and renamed it, I choose `localhost2`:

[code]

Change out the inventory to refer to my vagrant machine as `localhost2`, and synchronize worked.

[2016-01-28 00:00] retr0h opened #14167 "combine_vars merging on unicode as reported by assert"
We use a custom vars plugin as referenced by a similar issue at #13873.  It looks as though the fix utilizing `combine_vars` at #13902, returns unicode characters as reported by assert.

One must run our callback plugin to replicate our error.  The var `plugin_vars_default_list` referenced below had a dictionary merged into it by the vars plugin.

[code]

[code]

[2016-01-28 00:01] lystor commented on #14160
+1
Please add private option to ansible 2.0 or revert old ansible 1.9 behavior.
Thank you

[2016-01-28 04:00] jimi-c commented on #14162
Ahh I see. I'll look into this.

[2016-01-28 04:53] avatar4d opened #14169 "--check and --diff producing unexpected results"
I'm see the following behavior:
- each and every copy module item produces a changed status when running with --check  (is this normal?)
- only some "changed" files produce --diff output when run with --check
- files produce ok status when run without --check, but those that had --diff output on dry-run continue to display "differences" despite an ok status

Files have been verified identical via

[2016-01-28 07:17] moorglade commented on #14146
Still, I think it's a different problem. The _item_ variable does **not** get overwritten in the inner include, i.e. instead of the three values from the inner loop (A, B, C), I get the outer loop value repeated three times. There is no way I can pass values to the inner loop.

I modified my example to better illustrate the case:

_main.yml_

[code]

_include_outer.yml_

[code]

_include_inner.yml

[2016-01-28 07:45] snsb-seifert commented on #14145
Both times I ran the play as root.

_testplay:_
`---`
`- hosts: myhost`
`tasks:`
`- shell: "fdisk -l /dev/sda | grep Disklabel"`

_always the same call:_
`ansible-playbook -vv -u root -i production_inventory  ansible_shell.yml`

**Ansible 1.9:**
`PLAY [myhost] *************************************************`
`GATHERING FACTS ***************************************************************`
`<myho

[2016-01-28 08:01] senderista opened #14171 "Make paramiko dependency optional"
I'm trying to use ansible in an install script run by naive users (which installs ansible using `pip install --user`, and then runs my playbook). I don't want them to have to know that they're using ansible at all, but due to the paramiko dependency I have to make them install the whole Python dev toolchain (including the Xcode CLI tools on the Mac). What if ansible could just do a conditional imp

[2016-01-28 08:15] cthiemann opened #14172 "Can't include single quotes in Jinja2 string literals anymore"
I'm having a hard time figuring out how to include single quotes inside single-quoted Jinja2 string literals in Ansible 2.0.

Playbook:

[code]

Ansible 1.9.4:

[code]

Ansible devel fad6eb1:

[code]

[2016-01-28 08:53] riton commented on #13931
This could be an interesting feature :+1: .
IMHO, the _ad-hoc_ utility could be way more useful if it could easily takes dynamic inventory as input.
I know that true _dynamic inventory_ should be a better way to achieve this. But in day to day scenarios, we sometimes need more flexibility and have no time writing such dynamic providers for _one shot_ operations.

This is quite the same idea that m

[2016-01-28 09:35] itatabitovski commented on #13681
The workaround with adding --limit is better than limiting the inventory to localhost only, especially if you keep your inventory in the repo and need to use some data from it.

[2016-01-28 10:20] zz opened #14174 "when use devel branch run playbook error, but no error in tag/v2.0.0.2-1"
[code]

[2016-01-28 10:30] sigio opened #14175 "Running 'assemble' as handler in check mode will result in changed destination file"
On ansible 1.9.4 I'm seeing the following bug (which isn't present in 2.1.x)

We ran into the following issue today: Running an 'assemble' task in a handler from an ansible-playbook in 'check' mode will result in overwriting the destination file:

mark@shell:/tmp/ansibletest$ echo "original destinationfile" > dest/destfile
mark@shell:/tmp/ansibletest$ cat dest/destfile
original destinationfile
mar

[2016-01-28 10:47] robinro commented on #13681
if you have an inventory in your repo it's currently ignored anyhow, see #13688. Why is a custom --limit better than the default that existed in 1.9.4?

Can you specify your `--limit` workaround? I couldn't find one that made my setup work, because the clone step needs `localhost` and the actual run needs the hostname, which is used in the local.yml in my repository.

[2016-01-28 10:58] moorglade commented on #14146
Another example:

_main.yml_

[code]

_include_with_items.yml_

[code]

Result:

[code]

[2016-01-28 11:11] itatabitovski commented on #13681
I have this wrapper script that works correctly with ansible 2.0.0.2, with ansible 1.9.4 `--limit` is not necessary.

[code]

[2016-01-28 11:32] Akint opened #14176 "Non-POSIX /bin/sh is not respected since v2.0"
Problem description:
Dollar parents ( $(...) ), which aren't supported on non-POSIX shells (for example, Solaris 10's one), have been used in lib/ansible/plugins/shell/sh.py since v2.0. For example, tmp dir is being created as "/export/home/akint/$( echo /export/home/akint/.ansible/tmp/" instead of "/export/home/akint/.ansible/tmp/" because of 'mkdir -p "$( echo $HOME/.ansible/tmp/ansible-tmp-1453

[2016-01-28 11:41] urbaniak opened #14177 "os_server is not idempotent"
os_server is displayed as changed even if the instance already exists.

It happens on 2.0. The previous nova_compute module was working fine in 1.9.

[2016-01-28 11:49] robinro commented on #13681
@itatabitovski so you have 2 inventories, one that ansible-pull gets {{ ansible_pull_hosts }} and then one inside the repo you actually pull? In my opinion that's not really elegant, as you have to keep those inventories in sync. Or, if you have a dynamical inventory, your ansible-pull setup becomes more complicated because you need authentication info for that dynamical inventory.

I still don't

[2016-01-28 12:18] davealbert commented on #4297
+1 - This seems quite counter intuitive. Why was this closed?

[2016-01-28 12:46] itatabitovski commented on #13681
@robinro sorry I guess it was not clear from my comment.

We have several inventories in our repository depending on the environment (prod, demo, ...), so our project folder structure looks like:

[code]

`{{ ansible_pull_hosts }}` can be `ci/hosts` or `demo/hosts` or `production/hosts`, there is no need to sync to a inventory locally on the pull host.

Regarding the **ansible.cfg** at the moment

[2016-01-28 12:54] davidobrien1985 commented on #13936
Hi,
sorry, took a while to test this further. I'm about to jump on a plane tomorrow to Europe and my Ansible demos are still not working.
I tried what you suggested (moving group_vars) and tried calling the playbook from different places, nothing worked.
I am still getting the same error.

Would be great to get some official feedback as to where group_vars are now supposed to go.

By the way, even

[2016-01-28 13:49] dossy commented on #13931
@riton - I'm not a big fan of tempfiles, especially if the same can be accomplished without them.

With my proposed patch, you can accomplish what you're looking for with a slight adjustment:

[code]

The key is to use shell command substitution and to use the output as the parameter value (e.g., backticks or `$(command)`) and including the comma (`$(curl ...)`**,**), to trigger the INI parser for

[2016-01-28 14:15] dcfsc commented on #13973
@jimi-c (working with @gpthome) we first built

[code]

That rpm showed the problem.
Then we tried the latest tag (see that at https://github.com/ansible/ansible/tree/v2.0.0.2-1)

[code]

This also has the issue.

I was a little nervous about using the devel branch. Do you have a 2.0-ish branch we can build in which the issue is fixed?  Any idea when the RPM for EPEL will be updated? -- maybe we a

[2016-01-28 14:28] jhawkesworth commented on #13936
Were you able to try the plugin?  I still think the issue is that your group_vars aren't getting loaded.

Looking at ansible/playbook/play_context.py remote_user is set either from 'ansible_ssh_user' 'ansible_user'.  It's clearly None by the time it reaches the winrm connection plugin

Probably clutching at straws here but just wondering if it is worth trying with a fresh ansible.cfg?
I found a lo

[2016-01-28 14:35] ulucaydin opened #14179 "Providing integer variables from command line (via --extra-vars) recognized as string"
This is for Ansible 2.X:
When I run a playbook via CLI and providing a such extra variable, node_number as integer:

`ansible-playbook my_playbook.yml --extra-vars "node_number=10"
`
I have a array slice operation within a role of my to take a portion of the playbook:

[code]

Here is the error I receive:

[code]

Interestingly, when I remove the variable from CLI and provide the same variable fro

[2016-01-28 14:54] mkiesel opened #14180 "Synchronize task copying locally (instead to Vagrant VM)"
After "vagrant up", the Vagrantfile ends up in /tmp/ on the VM host, not in the actual VM. This used to work properly with Ansible < 2. Example test case below.

Ubuntu 14.04 vagrant 1.4.3-1, ansible 2.0.0.2-1ppa~trusty

[code]

[code]

Output:

[code]

[2016-01-28 15:03] robinro commented on #13681
@itatabitovski but this is all in the repository to be checked out by ansible-pull, right? So before the repo is checked-out, ansible v2 still needs an inventory. If you don't give it one you end up with some default (localhost, 127.0.0.1 and ::1), but then you can't us `--limit` with any fqdn.

I guess your setup works because you maybe start with some initial checkout of your repository and use

[2016-01-28 15:28] jccomputing opened #14181 "Playbook environment cannot contain included vars"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible Core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Stock configuration
##### OS / ENVIRONMENT

Ubuntu 15.10
##### SUMMARY

When you set playbook wide environment variables dynamically with Jinja template syntax, you cannot use included variables in Ansible 2.
##### STEPS TO REPRODUCE

Consider the following playbook:

[code]

and th

[2016-01-28 15:30] leonelgalan opened #14182 "e"

[2016-01-28 15:34] sivel commented on #14182
Indeed?  Going to close this as it looks accidental.  Please create a new issue of needed with actual content.

[2016-01-28 15:34] #14182 closed, assigned to nobody

[2016-01-28 15:42] bcoca commented on #14171
well ... except that when using 'smart' (the default) we actually use paramiko on OS X (due to problems with using the ssh client on OS X).

[2016-01-28 15:58] pabelanger commented on #13669
This is currently breaking my ansible roles too.

[2016-01-28 16:37] aioue commented on #4297
would a patch for `set_when_task_skipped` on the register module be accepted, so the behaviour could be modified?

[2016-01-28 17:07] bcoca commented on #14181
the problem is that the environment is undefined for the include_vars task as it uses vars that you are defining AFTER the task executes. These errors did happen in 1.9 but they were ignored. Try overriding environment for that task with empty dict:

[code]

[2016-01-28 17:10] bcoca commented on #14181
the other one that SHOULD be a problem is the fact gathering .. need to check on that. The other option is adding `|default`  to your environment definition in the play:

[code]

[2016-01-28 17:21] bcoca commented on #14161
includes are not 'role aware' so they will only look into 'templates/ subdir' from point of include or from the play.

[2016-01-28 18:05] akostadinov opened #14183 "vim syntax"
Hello, not sure this is the right place to put such a feature request. But it will be very useful if ansible team could maintain vim syntax `https://github.com/chase/vim-ansible-yaml`. Based on README the author is looking for a maintainer.

[2016-01-28 18:24] meebey commented on #4816
I tried to pass a variable named port from a role definition like this:

[code]

The template module didn't like the port variable then like this:

[code]

The port variable was undefined till I renamed it to something else...

[2016-01-28 18:25] avatar4d opened #14184 "user and groups modules modify in check mode"
The uid/gid in ansible differed from the one on the remote system. The remote system was changed despite running in check mode.

[2016-01-28 18:28] tyl0r opened #14186 "IdentityFile flag passed by ProxyCommand arguments not being evaluated"
Hello,

We have several different networks with ssh bastion/jumphosts. We also have several different ssh keypairs. We're using Ansible v2.1.0. We need to be able to specify an IdentityFile flag (-i) in the ssh ProxyCommand in order for the communication to work. Strangely, I only have issues when specifying a private key other than the default (~/.ssh/id_rsa — as specified by /etc/ssh/ssh_config)

[2016-01-28 18:40] identifystation opened #14187 "Variable Task Params"
It looks like the use of variable task params is deprecated as of 2.0, and scheduled for removal in 2.2. I understand there are security implications, but this removal will break a very useful pattern that allows one to pass list of dictionaries with different key/value combinations to a module, and have them parsed accordingly.  Here's a simple example that would quickly become unruly without var

[2016-01-28 18:53] kevinlondon opened #14188 "Rekey command checks for file after entering keys (rather than before)"
It looks like it does the file check after entering the keys. It would be nice if it checks prior to entering them.

For example:

[code]

[2016-01-28 18:57] #13980 closed, assigned to nobody

[2016-01-28 18:57] itatabitovski commented on #13681
@robinro yes the inventory exists only in the repository. I did not start with initial checkout, git clone worked fine with and without `--limit`. The ansible playbook, when running it without limit, ran locally for every host in the inventory. When adding the limit it ran just for the actual pull host.

[2016-01-28 19:25] MikeVL opened #14190 "lookup first_found problem"
ansible v2.0.0.2
My ansible role:

[code]

An exception occurred during task execution. The full traceback is:

[code]

[2016-01-28 20:02] bcoca commented on #14179
the key/val parser there does not try to do typing, YAML itself does do typing, if you pass as a json string it would also preserve type as the JSON parser also does typing, but to avoid any input problems you could just do this:
`with_items: "{{groups.mygroup[:node_number|int]}}"`

[2016-01-28 20:24] hcavalle commented on #12755
I also get the same error, here's my OS version:

[code]

Full error:

[code]

here is tail of `apt-get install ansible` after updating:

[code]

[2016-01-28 20:30] hcavalle commented on #12755
installing from source is actually easier and solves my problem. and you can run dev branch if you want...

[2016-01-28 21:12] davidobrien1985 commented on #13936
Sorry, no, wasn't able to test the plugin, but it looks like it's working again. My deployments are green again.

I did two things, right now I have no idea what in the end fixed it.

I moved `/dev/windows.yml` from above into `playbooks/group_vars/dev/windows.yml` .
I also reset my `ansible.cfg` back to default.

This fixed it. As I said, my previous setup worked perfectly fine on 1.9.4 and broke

[2016-01-28 21:13] jimi-c commented on #13973
Here is your problem, you're not running `git submodule update` after your checkouts, so the submodules are still pointing at the devel branches (where the new code lives).

[2016-01-28 21:34] CodeSturgeon commented on #13468
It would be nice to have the warnings suppressed explicitly as above, but it can be done inline. Just add `warn=no` to the the command/shell play. It's in the [config docs](http://docs.ansible.com/ansible/intro_configuration.html#command-warnings) and it's a listed in the [command](http://docs.ansible.com/ansible/command_module.html) and [shell](http://docs.ansible.com/ansible/shell_module.html) m

[2016-01-28 21:48] larry-s commented on #14142
First, this documentation is written so as to explain how it replaces other directives, not how it is to be used. In writing the documentation it needs to focus on the use first and then explain how it replaces earlier directives. Something like: escalate privilege for executing a command to the super user for the system.

The documentation does not state where this directive is permitted. An exam

[2016-01-28 21:52] r0bj opened #14193 "custom module fail with ssh pipelining"
##### Issue Type:
- Bug Report
##### Ansible Version:

ansible 2.0.0.2
##### Ansible Configuration:

ansible.cfg:

[code]
##### Environment:

Managing from: OS X 10.11.3
Managed host: Ubuntu 15.10
##### Summary:

Using custom module with `ssh pipelining` enabled generates error: `MODULE FAILURE`.
Module works ok with `ssh pipelining` disabled. Ansible 1.9.x worked ok it this use case.
##### Steps

[2016-01-28 22:15] dlamotte opened #14194 "Bug: --limit=all excludes localhost"
##### Issue Type: Bug Report
##### Ansible Version: 2.0.0.2

[code]
##### Ansible Configuration:

[code]
##### Environment:  N/A
##### Summary:  `--limit=all excludes localhost`
##### Steps To Reproduce:

When using vagrant, I was surprised that a play that works fine not under vagrant.

[code]

By not working, I mean:

[code]

Turns out `--limit=all` excludes localhost!  A workaround is either `-

[2016-01-28 22:32] r0bj opened #14195 "ansible_user variable is empty during play"
##### Issue Type:
- Bug Report
##### Ansible Version:

ansible 2.0.0.2
##### Ansible Configuration:

default
##### Environment:

Managing from: OS X 10.11.3
Managed host: Ubuntu 15.10

On managing host user `rob`:

[code]
##### Summary:

Variable `ansible_user` in `None` during play runtime.
The solution is to add `-u` parameter from command line.
##### Steps To Reproduce:

test.yml:

[code]
#####

[2016-01-28 23:10] bcoca commented on #14194
is it in your inventory?
all hosts in the inventory are included in the 'all' group and i cannot reproduce this using ansible directly.

[2016-01-28 23:12] bcoca commented on #14195
This is not a bug, the variable reflects if the remote user is set or not in the play.

When calling the connection plugins each one will decide what to do in this case, most of them just use the 'current user executing this process', which is what the ssh command does by default.

[2016-01-28 23:12] #14195 closed, assigned to nobody

[2016-01-28 23:25] bcoca commented on #14193
closing as dupe of #13815

[2016-01-28 23:25] #14193 closed, assigned to nobody

[2016-01-28 23:25] r0bj commented on #14195
Thanks.
So how can I know the current user which was used to ssh login during play?
In ansible 1.9.x variable ansible_ssh_user was containing the current user.

[2016-01-28 23:28] bcoca commented on #14195
ansible_ssh_user was updated to mirror this behavior (it is in changelog), but it is easy enough to use default to lookup the 'current user' if the variable is none:

`user_used: "{{ansible_user|default(lookup('env', 'USER')) }}"`

you can also use ansible_ssh_user in that expression

[2016-01-28 23:33] bcoca commented on #14127
its easy enough to create aliases in both, but yes, names should be consistent

[2016-01-28 23:35] dlamotte commented on #14194
@bcoca Good point.  Sorry.  You are correct that `localhost` is not in the inventory (I'll update the issue).  However, that doesn't seem to stop ansible when there is no `--limit` being used.

[2016-01-28 23:37] bcoca commented on #14068
fixed via 2ec31c2c7981ad18d3e42a3a37e23ab1810cd31b which is now in 2.0.1

[2016-01-28 23:37] #14068 closed, assigned to nobody

[2016-01-28 23:39] bcoca commented on #14194
It does not, if ansible detects an empty inventory or a missing localhost it tries to provide it's own, so this should still work. I can now reproduce with inventory w/o localhost.

[2016-01-29 00:06] abadger commented on #13490
Okay, I've got a pull request that I think fixes this.  Could you give #14196 a try?

It is a candidate to go to the stable-2.0 branch but it may not make it into 2.0.1 (it will make it into 2.0.2 if it doesn't).

[2016-01-29 00:29] jkalinaftw commented on #13876
I see the same issue as well running
ansible 2.1.0 (devel 4b1d621442) last updated 2016/01/28 19:20:32 (GMT -400)

[2016-01-29 01:30] karnauskas opened #14198 "user module is not respecting system umask"
When I'm creating user with Ansible and specifying createhome=yes, home directory is created with different permissions than ones specified by server umask. I don't see how to adjust home directory permissions with same module as well.

[2016-01-29 03:36] hxw opened #14199 "ansible_become_user take priority over become:"
http://docs.ansible.com/ansible/become.html says that `ansible_become_user`  can be used in host/group vars to provide a different default.  I would have expected that this default  could overridden by an explicit `become_user:`  in a play.  However it appears that  `ansible_become_user`  always takes priority.

Is that the expected behaviour?  If so, could the document be clarified?

[2016-01-29 04:06] amenonsen commented on #14116
This change is, quite frankly, an embarrassment. I posted a fix in **November**, with analysis and testing on multiple platforms, but that was judged too risky to merge and in need of more testing, to the extent that it wasn't even merged into devel after the 2.0 release. And yet, here's a change that (a) once again doesn't explain what problem it's trying to solve, (b) has not only been applied t

[2016-01-29 04:15] bcoca commented on #14199
Actually, to quote "equivalent to ansible_sudo_user or ansible_su_user, allows to set the user you become through privilege escalation", there is no mention of 'default'

Not in that page but in variable precedence docs we specify that the connection vars take priority over the directives. http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

[2016-01-29 04:27] sivel commented on #14116
You can catch more flies with honey than with vinegar

[2016-01-29 04:34] ajalex909 commented on #13977
I still face the issue with windows winrm connection. I can see that the ansible machine is getting to the windows host as seen in the event viewer logs. The event viewer shows the error as incorrect username and password but I have specified the correct domain username and password.

Whenever I try to run win_ping command the connection is going but errors out saying "error:ssl: unauthorized 401.

[2016-01-29 04:38] mgaley commented on #13876
I also had the same issue when using the same playbook against 5 amazon ami servers in 5 separate blocks of a play, only against the first node though. Didn't see anything related in the secure log this time.

Only in related to shell/command modules, running multiple playbooks at the same time locally, even to the same remote hosts didn't cause the error to happen any more often.

[2016-01-29 04:39] amenonsen commented on #14116
I do not want any flies.

[2016-01-29 04:42] jimi-c commented on #14167
Can you provide some further details to help us reproduce this? Right now, I'm not sure how we'd be able to do so with the information provided. The error above does not show any error related to a callback plugin.

[2016-01-29 04:45] jimi-c commented on #14169
Hi @avatar4d, can you provide example output run with -vvv to show extra information regarding the module executions?

[2016-01-29 04:51] jimi-c commented on #14174
Hi @zz, this has been resolved on the devel branch. Thanks!

[2016-01-29 04:51] #14174 closed, assigned to nobody

[2016-01-29 04:52] jimi-c commented on #14175
Thanks for testing this against devel as well (and glad to see we've resolved it there). Holding this open for review as a possible inclusion in a future 1.9.x release.

[2016-01-29 04:53] jimi-c commented on #14177
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off int

[2016-01-29 04:53] #14177 closed, assigned to nobody

[2016-01-29 04:55] jimi-c commented on #14179
As @bcoca indicated above, if you want to pass in specific types as extra vars, you should use the ability to pass in JSON or YAML via extra args: http://docs.ansible.com/ansible/playbooks_variables.html#passing-variables-on-the-command-line

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/

[2016-01-29 04:55] #14179 closed, assigned to nobody

[2016-01-29 04:56] hxw commented on #14199
Just a concrete example to clarify:

[code]

Normally this works and npm files are owned by user1/2 appropriately
But I had placed in group_vars for a particular host

[code]

Now both of the above plays are owned by root.

This means I should treat the `become_user:` as effectively a "role variable" right?

[2016-01-29 05:02] abadger commented on #14180
This might be fixed with this change: https://github.com/ansible/ansible/pull/14140

That's present in the devel branch,the stable-2.0, and in the current release candidate: http://releases.ansible.com/ansible/ansible-2.0.1.0-0.1.rc1.tar.gz

If you're able to test one of those to see if this has been fixed that would be great!

[2016-01-29 05:37] jimi-c commented on #14181
The problem here has nothing to do with the environment, it's the fact that the `vars` are being templated before the include_vars call from the pre_tasks is run. If I move the variables from that file to the playbooks vars section, everything runs as expected.

[2016-01-29 05:41] jimi-c commented on #14184
Hi @avatar4d, could you please provide more detail to help us reproduce the issue? With which version of Ansible were you running?

[2016-01-29 05:42] zz opened #14200 "Need to add a ansible version lock feature"
When I upgrade to Ansible 2.0, I found have some bug, such as can't access "ec2_tag_" var in template moudle. So I think add to version lock to playbook is a good idea, this will be more safe for production envrironments and CI environments,  such as

[code]

[2016-01-29 05:43] zz commented on #14200
If don't use the match version, playbook will don't run.

[2016-01-29 05:50] jhawkesworth commented on #13936
Very glad to hear you are working again.

It seems odd that you had to move your group vars folder though.

If you could diff your old ansible.cfg and the working one I'd be happy to have a look and see if there's something in the old one which might have affected finding the group_vars dir?

[2016-01-29 05:54] jimi-c commented on #14187
You can do something similar while specifying all of the params and using `|default(omit)` for those which are not present in the variable dictionary.

[2016-01-29 05:57] jimi-c commented on #14198
Hi @nkts, could you please provide some examples which help us reproduce this? Knowing which systems and version of Ansible you're running on would be helpful.

[2016-01-29 06:04] jhawkesworth commented on #13977
Have you set up group_vars for windows as described here?

http://docs.ansible.com/ansible/intro_windows.html#inventory

Also I don't know what python version you are running but you might need to set the following if you are using python 2.7.9 or later and are using self-signed certs (which is the default).

ansible_winrm_server_cert_validation: ignore

Also since you are upgrading its probably w

[2016-01-29 06:12] romanrev opened #14201 "Conditional role inclusion expands the passed variables even if the role is being skipped"
Issue Type: Bug Report
Ansible Version: 2.0.0.1
Ansible Configuration: nothing changed
Environment: OS X 10.11.2
Summary:

Conditional role inclusion in a play still tries to expand variables passed onto this role, even if the role is being skipped

Steps To Reproduce:

Given a play of this kind:

[code]

when the `some_value` variable is undefined, one gets an error `ERROR! ERROR! 'some_value' is

[2016-01-29 06:19] bcoca commented on #14181
its not just environment, any other directive would have the same problem as they template BEFORE the task executes, but the task that executes is the one that provides the vars for templating AFTER it returns.

[2016-01-29 06:25] bcoca commented on #14200
you can create an assert task that does this already:

[code]

or

[code]

[2016-01-29 07:02] bcoca commented on #14199
become_user is a directive, not a variable, ansible_become_user is a variable, which takes precedence over the directive.

Both plays are not 'owned by root' but anytime you use become for the hosts in that group the user will be set to root, unless you set the ansible_become_user var in a spot with higher precedence

[2016-01-29 07:23] davidobrien1985 commented on #13936
That's easy. My old `ansible.cfg` was empty, the new one is here:

[code]

[2016-01-29 07:39] FractalizeR commented on #4816
@meebey Yep. Very annoying, right? :)

[2016-01-29 07:42] wimnat commented on #13977
@ajalex909 what you describe sounds like a different issue so I think you should file a separate issue.

[2016-01-29 07:46] zz commented on #14200
@bcoca Cool, but I think also need to display a user friendly message for end user, such as  junior sysadmin or QA team. and the assert task will run for each host and display the fail message for all hosts.

[2016-01-29 08:00] bborysenko commented on #13831
Just tested with 2.0.1.0-0.1.rc, and issue still is present. Is there any chance to be fixed with next RC release?

[2016-01-29 08:40] ajalex909 commented on #13977
I am using python 2.7 and i created a directory groups_vars and entered the credentials and ansible_winrm_server_cert_validation: ignore in windows.yml file.

[2016-01-29 09:21] Fei-Guang opened #14203 "ansible user is not set as user in ssh_config"
[code]

ssh will use stack user to login qa-hlm

[code]

why ansible don't use the user from ssh config ?

[code]

[2016-01-29 09:28] EricWang93 opened #14204 "ERROR! Syntax Error while loading YAML."
Ansible tool execute YAML script
there is my code and when I execute it, the error message is prompted:"ERROR! Syntax Error while loading YAML."

[code]

[2016-01-29 09:34] ajalex909 commented on #13705
I am getting the same error 401 as above. I am running ansible 2.0 in aws cloud. I am able to ping linux servers but for windows its through the below error. I have followed the documentation as it is.

ubuntu@ansiblecontroller:~/playbooks$ ansible-playbook windowsupdates.yml

PLAY ***************************************************************************

TASK [setup] ***************************

[2016-01-29 09:35] liedekef opened #14205 "Static inventory and host address parsing"
Hi all,

I have an inventory script that gives me something like "hostA+hostB" as a hostname, and my ssh config is like:

[code]

Using this syntax, my inventory script can - based on other info - set a SSH jump host by simply prepending the hostname with the jumphost if need be. This avoids to put in a proxycommand line per host, or per ip-range or any other difficult jumphost-solution I've read.

[2016-01-29 11:46] pako-pl opened #14207 "Ansible 2.0.1.0 - problems with UTF-8 characters when trying to include one template in another one"
I'm trying to include one template (my.cnf) into another one (my-second.cnf) using the following snippet in my-second.cnf:

[code]

The included template contains UTF-8 characters in comments. Unfortunately, Ansible displays an error message:

[code]

[code]

The comment with UTF-8 characters looks like this:

[code]

In general, the following characters are causing trouble:

[code]

[2016-01-29 12:30] jhawkesworth commented on #13977
Ok, I think it know what this is, as I just hit this myself.

If you want to connect as a domain user you have to have kerberos installed.

When you see

transport=ssl

in the output, this is a giveaway for it not using kerberos.

Check you have installed the dependencies kerberos needs: http://docs.ansible.com/ansible/intro_windows.html#installing-python-kerberos-dependencies
and python kerberos

[2016-01-29 12:36] jhawkesworth commented on #13705
@ajalex909  please see my comment on https://github.com/ansible/ansible/issues/13977

If you still have a problem I'd recommend opening a new issue, rather than commenting on closed tickets as your comments may not be noticed.

[2016-01-29 13:13] kleptog commented on #11889
FWIW, I was getting this error running the version on pypi, not any git version. The cause was apparently a conflict with the installed debian package version. Uninstalling the package fixed it.

[2016-01-29 13:16] mkiesel commented on #14180
I tried latest git and can confirm it's fixed there. Thanks!

[2016-01-29 13:16] #14180 closed, assigned to nobody

[2016-01-29 13:26] Yannig commented on #14207
Bug confirmed against last devel version.

[2016-01-29 13:30] cadavre commented on #13290
When this fix will be available in prod? I'm using 2.0.0.2 (by ppa:) and this error still occurs.

[code]

Causes:

[code]

[2016-01-29 13:43] ajalex909 commented on #13977
That worked...awesome.

looks like pyhton kerberos dependencies were missing

[2016-01-29 14:06] h0nIg opened #14209 "Include of handlers does nothing"
issue https://github.com/ansible/ansible/issues/11694 was fixed but its not working with current 2.0.2

[2016-01-29 14:30] bcoca commented on #14207
why not use jinja2's include directive? the template lookup is not the best thing to use in this case.

[2016-01-29 14:46] bcoca commented on #13831
so i cannot reproduce the issue, in my tests the comment is removed.

[2016-01-29 14:51] bcoca commented on #14200
fail has a msg= option for just that

[2016-01-29 14:59] bcoca commented on #14203
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-01-29 14:59] #14203 closed, assigned to nobody

[2016-01-29 15:05] pako-pl commented on #14207
Jinja2 include directive works fine:

[code]

Thanks for the workaround.

Still, there's something wrong with how Ansible handles UTF-8 characters, as in the example above. Perhaps it reads the file in non-UTF-8 mode in some cases? It's probably worth taking a look at.

[2016-01-29 15:06] pako-pl commented on #14204
There's no indentation (whitespace) before your properties. See for example:

http://ess.khhq.net/wiki/YAML_Tutorial

[2016-01-29 15:15] bcoca commented on #14207
so using template directly with those characters seems to work fine, the issue seems exclusive to the lookup plugin.

[2016-01-29 15:28] jmehnle commented on #6109
So what's up with this? The documentation is still misleading, and I just ran into this and had to google for how to correctly use the `with_first_found` construct with the `template` module. :(

[2016-01-29 15:35] avatar4d commented on #14184
I ran ansible-playbook -C on a playbook that had both user and group
modules. The uid/gid were different in ansible files vs on remote system
and it changed them despite running with -C. I'm running 2.0.0.2 (installed
via pip) on OS X El Capitan. Remote system was FreeBSD 10.2.

Chad

On Fri, Jan 29, 2016 at 12:42 AM, James Cammarata notifications@github.com
wrote:

[2016-01-29 15:38] Yannig commented on #14207
This patch seems to fix the problem:

[code]

[2016-01-29 15:38] #14207 closed, assigned to nobody

[2016-01-29 15:39] bcoca commented on #14207
hehe, JINX! I pushed exact same patch

[2016-01-29 15:41] Yannig commented on #14207
@bcoca well done :)

[2016-01-29 15:46] sbezverk opened #14210 "os.listdir(sysdir) OSError: [Errno 2]"
When I execute this simple playbook, I am getting a failure, but running ping ad-hoc works fine.

[code]

[code]

[code]

[2016-01-29 15:52] sivel commented on #14210
The failure is due to gathering facts in the playbook, and not the ping.

The problem seems to be with listing the `sys` dir, specifically:

[code]

[2016-01-29 15:56] pako-pl commented on #14207
Great, thanks!

[2016-01-29 15:56] Vladimir-csp opened #14211 "'ansible-playbook --check' changes user UID on FreeBSD remote host"
##### Issue Type:

Bug report
##### Ansible Version:

2.0.0.2-1ppa~trusty
##### Ansible Configuration:

[defaults]
gathering = smart
hash_behaviour = merge
[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=True
##### Environment:

Ubuntu Trusty server, remote host on FreeBSD
##### Summary:

'ansible-playbook --check'  actually makes changes on FreeBSD host
Spec

[2016-01-29 15:57] sbezverk commented on #14210
This specific device is a san storage which is currently offline. Should it not be just ignored and not failed?? After all the task was to restart a service and not gather list from sys/block, right??

[2016-01-29 16:01] sivel commented on #14210
I'm not saying it isn't a bug, just indicating more clearly where the issue is coming from.  For now, you have a few options:
1. resolve that issue manually
2. Run a playbook specifying `gather_facts: false` to prevent the setup phase from running, and perform the tasks you need
3. remediate just using the `ansible` ad-hoc command instead of `ansible-playbook`.

[2016-01-29 16:09] sbezverk commented on #14210
Thank you, I like the idea of gather_facts: false.
it also should speed things up a bit, but still would be nice if this will be fixed eventually.

[2016-01-29 16:22] pzr opened #14212 "--list-tasks disables --module-path, leading to bogus "no action detected in task" errors"
Issue Type:

Bug Report

Ansible Version:

ansible 2.1.0 (devel 210cf06d9a)

(Though looking at the latest commit to devel, I suspect it would show
the same problem.)

Ansible Configuration:

Unremarkable.

Environment:

Linux.

Summary:

--list-tasks disables --module-path, leading to bogus "no action detected
in task" errors.

Steps to reproduce:

Given the attached inventory / playbook / custom

[2016-01-29 16:36] aturetta commented on #13262
+1

first thing I tried after installing 2.0, disappointed it doesn't work...

[2016-01-29 16:52] dvarrazzo commented on #13831
I hit the same bug migrating from 1.9 to 2.0. This script reproduces the bug:

[code]

The comment is included in the output file. Including a variable in the script (e.g. `# hello {{ansible_user_id}}` in `test.conf.j2`) the comment is removed.

If useful, testing with ansible 2.0.0.2 installed by ppa on ubuntu 14.04, jinja2 reported as 2.7.2 (also tested with a pre-existing pip-installed 2.7.3).

[2016-01-29 16:55] bcoca commented on #14211
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved two separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to

[2016-01-29 16:55] #14211 closed, assigned to nobody

[2016-01-29 16:56] bcoca commented on #13831
so the issue is that when ONLY a comment is in the template it does not get removed? seems like we might be skipping jinja2 process if there are no jinja vars directives in it.

[2016-01-29 16:58] dvarrazzo commented on #13831
Yes, in my tests only this file got the comment through. Could you reproduce the issue now?

[2016-01-29 17:01] bonds commented on #13490
sorry, still doesn't work

[2016-01-29 17:01] hughsaunders commented on #12249
@jimi-c Could we reopen this as v2 has been released?

[2016-01-29 17:08] bonds commented on #13490
I tested 76c941305b5a388141a6316083092d1a5096f93b and, unfortunately, I still get the same error. I also tested the hash from the PR (2c825539ffb737051add23dbb9f16a5fef24e469), same result.

[2016-01-29 17:10] bonds commented on #13490
Please reopen, or let me know and I'll create a new ticket.

[2016-01-29 17:26] bcatubig commented on #14151
[code]

Confirming this issue as well. Temporarily using the `command` module to call the script in the meantime.

I am copying a script called `ae_linux_scan.sh` to `/tmp`. It looks like Ansible `script` module is not looking in the `/tmp` directory but rather somewhere else. Here is some included error output.

[code]

[2016-01-29 17:35] identifystation commented on #14187
Wow, that's a super useful option that I've never seen mentioned elsewhere, and I've spent a fair amount of time looking for a workaround. Thank you!

It might be worth adding that to the porting guide. I imagine there are other people using this feature the same way we are.

[2016-01-29 18:01] bbyhuy commented on #14151
Confirming also I have a python script sitting in roles/myrole/files/script.py and running into same issue. Was not an issue before.

[code]

[2016-01-29 18:07] r0bj commented on #14195
I'v done a test.

test.yml:

[code]

[code]

This is because variable `ansible_user` is defined but has value `null`.

Do you know matbe any other workaround for that?

[2016-01-29 18:18] jhawkesworth commented on #13936
Well not a lot of difference there then if you take out the commented out and blank lines

cat dobrien-ansible.cfg | grep -v "^#" | grep -v "^$"
[defaults]
transport      = smart
remote_user = vagrant
[privilege_escalation]
[paramiko_connection]
[ssh_connection]
[accelerate]
[selinux]

[2016-01-29 18:20] jhawkesworth commented on #13936
I'm afraid I'm out of ideas.  Since you are up and running and you have things organised as per the documentation, do you want to pursue this further?

[2016-01-29 19:37] Brian-Williams opened #14215 "Copy module "Calculating checksum failed unusually" script module "Permission denied"
Issue Type:
Bug Report
Ansible Version: ansible 1.9.4 and ansible 2.0.0

Ansible Configuration:
[ssh_connection]
scp_if_ssh=True

Environment:
Mac [Darwin engwifi-230-23.wal.actifio.com 14.3.0 Darwin Kernel Version 14.3.0: Mon Mar 23 11:59:05 PDT 2015; root:xnu-2782.20.48~5/RELEASE_X86_64 x86_64] managing Centos [Linux augusta 2.6.32-358.14.1.5.sanvc_7_2_0_1.x86_64 #1 SMP PREEMPT Thu Sep 24 11:43:

[2016-01-29 19:43] sivel commented on #14195
I think you need to use the 2nd argument for `default` to specify to use pythons truthiness checks:

[code]

[2016-01-29 19:46] TaiSHiNet opened #14216 "ansible 2.0.0.2: path behavior is inconsistent"
**Issue Type:**
- Bug Report

**Ansible Version:**
Ansible : 2.0.0.2

**Summary:**

Similar issue/behavior as #14161, file and shell path will be current execution PWD, while template is relative to the playbook/role

[code]

Results in:

[code]

While:

[code]

Results in the creation of a PWD/templates folder, previously (1.9.3) it created /root/ansible/templ

[2016-01-29 20:04] rndmh3ro opened #14217 "user-module shows changed for user after reboot"
## Issue Type:

Bug Report
## Ansible Version:

2.0.0.2
## Environment:

[code]
## Summary:

When I alter the user with a playbook, the run shows 'changed'. A subsequent run does not show "changed" so idempotency works here.
However after restarting the server and running the playbook again, it shows again as changed.
## Steps To Reproduce:

There's a user named "irc" by default on Ubuntu 14.04.
W

[2016-01-29 20:08] jaytaylor commented on #11031
This still causes me pain on a continual basis.  Is anyone able to comment on whether this has been addressed or elaborate on the plans?

[2016-01-29 20:09] jaytaylor commented on #11031
Greetings,

This still causes me pain on a continual basis as it seems to prohibit role dependencies from being resolved.

Is anyone able to comment on whether this has been addressed or elaborate on the plans?

[2016-01-29 20:39] arthur-c commented on #13783
Hi,

The new search system is not usable: indexes are in the left column but the search button is at the bottom right, and we have a tiny result window. I know the old search system is broken but it was really (really) good and practical, the new one makes me to go on duckduckgo to search the doc.

We have a quick result when we know the module name, but when we don't it's a real pain to find some

[2016-01-29 20:39] #13602 closed, assigned to nobody

[2016-01-29 20:56] jimi-c commented on #13602
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-01-29 21:05] docschick commented on #13783
@arthur-c -- I'm sorry you aren't having much luck with the new search site. Luckily, we have the ability to customize it a bit as well as work on how search results are ranked. I can work on the "ec2 ebs" terms, as an example, to ensure ec2_vol hits higher as a priority. Thanks for that example.

We know we have work to do to get the new search fully customized, but I feel confident it also offer

[2016-01-29 21:35] tyl0r commented on #13262
+1 (feature would be very helpful)

[2016-01-29 21:46] laupow commented on #13862
I can't get the `--become-user` option to work with ad hoc commands. I believe this may have also been an issue before Ansible 2, but it is still an issue in 2.0.0.2.

[code]

[2016-01-29 22:00] conorsch commented on #13944
As always, thanks for a quick response, @jimi-c!

[2016-01-29 22:15] bcoca commented on #13862
@laupow you are missing a `--become`

[2016-01-29 22:25] laupow commented on #13862
Thanks @bcoca.

I couldn't find `--become` mentioned in `man ansible` or on https://docs.ansible.com/ansible/intro_adhoc.html. I figured the other args implied that functionality when provided.

Maybe the docs need an update? However it appears I may not be best suited to make changes.

[2016-01-29 22:36] bcoca commented on #13862
ansible --help
man ansible
http://docs.ansible.com/ansible/become.html

and in other places, I don't think everything needs to be in intro, though i might change the sudo examples there to become examples. (--become is equivalent to --sudo).

[2016-01-29 22:42] arthur-c commented on #13262
+1
But it should be able to manage tasks with "with_items" so "item" might not be the good keyword here (speaking of the first message).
Looping over an include means you need a new file. Looping over a block is way more cool !

[2016-01-29 22:49] budric opened #14219 "High CPU Usage"
**Issue Type:** Bug/Annoyance
**Ansible Version:**

[code]

**Ansible Configuration:**
Default configuration supplied from Ubuntu PPA except uncommented:

[code]

**Environment:**
Ubuntu 15.10, Python 2.7.10 running the playbook.  The target host in group is ArchLinux with python2 version Python 2.7.11

**Summary:**
When I run a playbook that runs a long task (say backup target machine, or do viru

[2016-01-29 23:41] abadger commented on #14089
What version of boto?

[2016-01-29 23:48] abadger commented on #14089
Note: This probably needs to move to the modules core repository: https://github.com/ansible/ansible-modules-core as it's a problem with the ec2 module.  However, there is also a chance this is in the common code shared between all the ec2 modules so I'm going to leave it here for now.

[2016-01-29 23:52] lunetics commented on #10482
Maybe that one?:
https://dev.mysql.com/doc/relnotes/mysql/5.7/en/news-5-7-4.html

The installation process creates only a single root account, 'root'@'localhost', automatically generates a random password for this account, and marks the password expired. The MySQL administrator must connect as root using the random password and use SET PASSWORD to select a new password. (The random password is fou

[2016-01-29 23:53] abadger commented on #14089
Note the playbook and error in the comment don't seem to match with the traceback in the initial report.  Can you post the traceback that goes along with the comment?

[2016-01-30 00:02] abadger commented on #14089
Codewise, this piece of the common code should be triggering:

[code]

So if boto has no bugs and you're on boto 2.6.0 or greater then this should be telling boto not to validate certificates.

[2016-01-30 00:02] bcoca commented on #11748
hmm, this seems to work fine for me, used http://github.com/bcoca/configme as pull object (vault password is 'test')

i am using current devel and stable-2.0, have not tested 2.0.0.2, but if you can confirm it works for you in those, i can just close this as it will be fixed on next release.

[2016-01-30 00:08] bcoca commented on #14194
so we went over it and realized that if you do not define localhost in your inventory, we SHOULD NOT add it to the 'all' group as it would 'surprise' people targeting 'all' when they did not define a localhost.

I'm going to close this as it works as expected.

[2016-01-30 00:08] #14194 closed, assigned to nobody

[2016-01-30 00:29] akatch commented on #11748
This is getting weirder and weirder. Testing against your repository works, but testing again against my own repository does not. I've double, triple, and quadruple checked the vault password and it is definitely correct (it wouldn't have changed between versions anyway)... and it works correctly in 1.6.5.

One thing that's very strange is that if I try to run the ansible-pull command with --ask-v

[2016-01-30 00:31] akatch commented on #11748
Just for funsies, I also just tried using my repository over https (previously we were using a ssh://git@github.com/Organization/repo.git style repository URL) and the behavior persists.

[2016-01-30 00:34] bcoca commented on #11748
i really can't do much w/o a way to reproduce the issue, any clues on how your repo is diff?

[2016-01-30 00:37] abadger commented on #14089
Found it -- the default for boto is to set verify/validate_certs to True.  So we have to set it explicitly to False when we get the validate_certs=False parameter.  I'll work up a fix for that.

[2016-01-30 00:37] axelabs commented on #4357
This doesn't work when comparing to version 2+ since ansible_version is a dictionary but this seems to work:

[code]

srvg points out [Jinja2's version_compare filter](http://docs.ansible.com/ansible/playbooks_filters.html#version-comparison-filters), which I'll try and update this post with results...

[2016-01-30 00:38] #14089 closed, assigned to nobody

[2016-01-30 00:39] abadger commented on #14089
That commit should fix this for you.  It's merged into the devel and stable-2.0 branches.  We'll probably create a 2.0.1rc2 next week and if so, this fix will be in it.  otherwise, the fix will be in 2.0.2.

[2016-01-30 00:43] #13024 closed, assigned to nobody

[2016-01-30 01:24] docschick commented on #13676
@smkr Sorry to hear it doesn't work with Vimperator. I wasn't familiar with that one. But thanks for finding the silver lining with 'grep' -- very cool of you. :)

[2016-01-30 01:27] akatch commented on #11748
I think I've figured out where this originates. I don't know if it's actually a bug or desired behavior, but if I supply the relative path to the inventory file as --inventory-file, it works (in my example, the functional parameter is `--inventory-file=hosts`). It does not work if I supply the absolute path (as in all of the examples above). My guess as to why this is happening in my repo and not

[2016-01-30 03:13] jimi-c commented on #14187
It has been a feature for a while: http://docs.ansible.com/ansible/playbooks_filters.html#omitting-undefined-variables-and-parameters

[2016-01-30 04:12] lystor opened #14222 "[2.0] Nested Block Within Role Stops Processing a Role"
Hi

Nested block within role stops processing a role.
Nested blocks in playbook tasks work correctly.

Ansible 2.0.1.0-0.1
CentOS 7 x86_64

**blocks_fail.yml**

[code]

**roles/role1/tasks/main.yml**

[code]

**$ ansible-playbook --inventory=hosts blocks_fail.yml**

[code]

Please fix this bug.

Thank you
##

With best regards,
Mykola

[2016-01-30 05:11] identifystation commented on #14187
Thanks again, I'll switch things up to use omit.

[2016-01-30 05:11] #14187 closed, assigned to nobody

[2016-01-30 07:13] abadger commented on #13490
@bonds could you tell us what the host machine's shell is, what the remote machine's shell is, what you have in inventory for the two machines and your playbook to reproduce?

[2016-01-30 07:19] ian-kelling commented on #13783
Privacy badger blocks the new swiftype search engine. :(

[2016-01-30 12:53] jimi-c commented on #12249
@hughsaunders i don't think there's any resolution possible at this time. We've added a deprecation to doing this: `with_items: foo` to give notice to users that they need to do `with_items: "{{foo}}" if they really mean for that to be a variable. So in 2.2 we will no longer template that value unless it contains variable syntax.

[2016-01-30 13:02] jimi-c commented on #13936
Hi @davidobrien1985. In 2.0, we've moved variable names around a little, though I'm surprised this isn't working. Connection variables are now of the form `ansible_*` or `ansible_<connection>_*`. So in your case, I believe either setting `ansible_user` or `ansible_winrm_user` will get you around this problem.

[2016-01-30 13:03] jimi-c commented on #13936
Additionally, I believe we should catch the situation in the winrm connection plugin when the username is not set, as I don't think that's ever valid for a Windows connection. cc @nitzmahone

[2016-01-30 13:13] Oliboy50 commented on #12344
Then what is the right way of doing this now:

[code]

[2016-01-30 13:27] jimi-c commented on #13783
@ian-kelling and it didn't block the old one from Google?

[2016-01-30 13:46] sivel commented on #12344
The correct way to handle this is to get rid of the `when` statement and replace the `with_items` statement with the following:

[code]

In the above the `default` filter will default the value to an empty list, effectively making it iterable but with no elements to iterate over.

[2016-01-30 13:47] #12344 closed, assigned to nobody

[2016-01-30 13:47] Oliboy50 commented on #12344
exactly what I've done, thanks for the answer

[2016-01-30 15:49] LennyLip commented on #5952
@mpdehaan

+1, strange feature
"By specifying a tag to a role, you are saying "this should be tagged with this""

So, one way to run specified tags of roles is using command line?

[code]

When we have playbook with role1 role2 and etc..
role1 has tasks with tag1 and tag2.

And i want to run task in next order:
   role1 tag1
   role2
   role1 tag2

in top level  webservers.yml.

[code]

And as i c

[2016-01-30 15:56] ian-kelling commented on #13783
@jimi-c, dunno. Didn't use the old one before it was broken. But I doubt it: I've had privacy badger on for months and this is the first time I've noticed something broken.

[2016-01-30 16:08] bcoca commented on #13783
privacy badger does not block the google one (been using it for a long time, even when google one was working). In any case you can whitelist (even if just temporarily) the switftype site in privacy badger (does not seem to block it for me, so I don't think its the default).

[2016-01-30 16:14] Yannig commented on #14112
This little tips fix your issue:

[code]

I'll give additionals tests to see if there's no regression.

[2016-01-30 16:25] Yannig commented on #14112
Without above patch:

[code]

With patch applied:

[code]

[2016-01-30 16:35] #13681 closed, assigned to nobody

[2016-01-30 16:35] bcoca commented on #13688
closing via merged #14220

[2016-01-30 17:32] karnauskas commented on #14198
Hah, strange, I have rerun all steps to gather information - can't reproduce problem.

[2016-01-30 17:32] #14198 closed, assigned to nobody

[2016-01-30 17:37] lystor commented on #14183
+1

[2016-01-30 19:20] mfriedenhagen commented on #14219
Maybe related to #12239

[2016-01-30 23:27] dlamotte commented on #14194
Great!  Thanks for the confirmation and clarification!

[2016-01-30 23:49] swills commented on #13179
I'm hitting this issue too, using the freebsd/FreeBSD-11.0-CURRENT vbox image, which I had to set ansible_shell_type=csh for. Setting executable=/bin/csh doesn't fix it. Any update?

[2016-01-31 07:06] mananmehra opened #14227 "Error creating directories using file modules."
Ansible Version - 2.0, 2.0.0.2
Module - File
Description - Trying to create directories more than 1 level deep gives following error:

There was an issue creating /dir1/dir2 as requested: 'module' object has no attribute 'EEXISTS'

If i remove dir2, it works. This command use to work with ansible version 1.9.2

[2016-01-31 07:40] ian-kelling commented on #13783
Privacy backer does block it by default, because I'm using a default install, and I updated to the latest to verify. privacy badger learns what tracks you then blocks it, and does most of it by seeing things track you across multiple sites, so nothing will be blocked on the 1st site you visit with privacy bagder on. Once it learns about swiftype, it blocks it.

Yes, the blocking can be disabled, b

[2016-01-31 09:05] aabdnn commented on #14171
@bcoca we use SSH on OSX, and haven't had any problems. At least, we haven't seen any strange failures. Is there any bug report or document that explains the SSH problems you mentioned?

[2016-01-31 09:15] mattclay opened #14228 "gather_facts does not execute when using tags"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

N/A
##### Environment:

Ubuntu 14.04 LTS
##### Summary:

The destructive integration test for apt_repository fails as of commit  5587b08335f223fff64f54ced6f2790b3d6ee6f0.
The test passes using commit ceef202024423dd35ecef93f947d661f71c33e75 and earlier.
##### Steps To Reproduce:

Run the destructive integrat

[2016-01-31 09:24] mattclay commented on #13520
I've reproduced this issue on Ubuntu 14.04 LTS, but only when using check mode.

To reproduce, uninstall python-apt:

[code]

Then try to use apt_repository in check mode:

[code]

The apt_repository module automatically installs python-apt if it is not already installed. However, installation is skipped in check mode without logging an error. This causes an exception to be thrown when the module

[2016-01-31 10:50] mfriedenhagen commented on #14219
I see a very different behaviour as well. I have a small playbook, which will:
- add an APT key and repository
- uninstall 2 packages
- install a new one
- create 5 files from template.

When executing on 66 hosts with 20 forks for the second time (nothing changes on the target hosts):
With Ansible 1.9.4 I get:
real    0m41.953s
user    0m33.536s
sys     0m20.690s

With Ansible 2.0.0.2 I get:
real

[2016-01-31 12:02] mfriedenhagen commented on #14219
Pinging 126 hosts with 20 forks:
1.9.4:  3.41 real         3.42 user         2.37 sys
2.0.0.2: 5.69 real         7.25 user         6.52 sys

[2016-01-31 14:25] systeminsightsbuild commented on #13666
Why is this closed? I am seeing the same problem in 1.9.4.

[2016-01-31 17:05] piotrminkina commented on #13262
+1, but to prevent naming collisions with `item` from loops, loop from block could be name `block_item`.

[2016-01-31 18:15] Yannig commented on #13666
Work with last devel version. Maybe you can give a try with Ansible v2.0.0.2.

[code]

[2016-01-31 18:48] mike-pt opened #14230 "ansible_managed - show modified date of the remote file instead of the template"
Currently when using the ansible_managed sting the modified date/time refects the template date.

But its very common to update files for playbook vars, while the templates themselves never change (when using galaxy roles for example, one rarely touches the templates)

So when we run the playbook files will be updated and the ansible_managed line still shows the template modified date, it can be e

[2016-01-31 20:20] basictheprogram opened #14231 "'ansible_os_family' is undefined"
All playbooks with ansible_os_family used for conditional roll includes now fail. Using git bisect shows things "break" in 5587b08335f223fff64f54ced6f2790b3d6ee6f0.

I don't see anything regarding the renaming of the ansible_os_family variable so I assume this is a bug?

[code]

[code]

[code]

[2016-01-31 22:06] ghost commented on #13876
We get this as well. Interesting to note https://groups.google.com/forum/#!msg/ansible-devel/5i6VDHKZ30I/0ksVpEEICwAJ the possibility of a race condition in dir creation?

[2016-01-31 22:51] basictheprogram commented on #14231
Simple task that is failing.

[code]

debian.yml

[code]

[2016-02-01 00:19] miohtama commented on #13592
This happened for me when I my playbook started with:

[code]

After I removed this and put `become` to each task instead of playbook I got proper `ansible_env`.

I am not sure if `become: no` in a task should override playbook level `become: yes`. Maybe developers can vouch in here?

[2016-02-01 00:52] danlamanna commented on #13672
I came across this same issue, running version 2.0.0.2 of Ansible. Wrapping my `{{ item }}` in single quotes seem to have worked.

[2016-02-01 01:47] hxw commented on #14199
Sorry for the confusion I should not have said the plays were_ "owned by root"_  I should have said:
that the plays always run as root, ignoring the `become:` directive when ansible_become_user is set in group_vars".

That was my problem, I removed all ansible_become_user settings from all group_vars files and now everything is working again.  Thanks for your help.

[2016-02-01 02:39] wannaknowmo commented on #14089
I m using boto version 2.38. Thank you very much for the quick turnaround.
Will try 2.0.1.rc2 next week thanks again.

[2016-02-01 03:28] jideshv commented on #12354
After installing the xcode command line tools you now also have to accept the apple license agreement.

I found the easiest way to do this is run `sudo gcc` and follow the instructions.

[2016-02-01 05:30] hxw commented on #13179
"Syntax error: Bad fd number" is happening on FreeBSD jail running 10.2, but only with "su" method

[2016-02-01 05:47] mrchuk commented on #12233
In reply to @Constantin07 because I do not want to run my control machine on EC2. When I tried that directive from my laptop, with a simple playbook to start the two instances I have,  I got this:

[2016-02-01 06:51] Yannig commented on #13672
Try this one:

[code]

[2016-02-01 07:50] EricWang93 commented on #14204
@pako-pl thanks, this is the first I used ansible, and it is solved.

[2016-02-01 07:53] EricWang93 opened #14232 "Python and Ruby"
Hi I'm a Java developer, and recently my project will use Python and Ruby technology, is there any guy give me some suggestions or recommend some books? thanks in advance

[2016-02-01 07:57] mattclay commented on #14231
This appears to be the same as issue #14228.

[2016-02-01 08:00] h0nIg opened #14233 "winrm/connector issue with 2.0.1-rc1"
Hey,

my playbook fails with 2.0.1-rc1 but succeeds with 2.0.0.2. authentication is done via plain username. it seems that ansible tries to execute the stuff locally and not via winrm

[code]

[code]

[2016-02-01 08:39] jpalomaki commented on #13898
FYI: There appears to be a new 1.9.x Ansible PPA now: https://launchpad.net/~ansible/+archive/ubuntu/ansible-1.9

[2016-02-01 08:45] mattclay commented on #14228
This problem only manifests if tags are specified. Running tests without tags works as expected.

[2016-02-01 08:46] mattclay commented on #14231
I can reproduce this, but only when specifying a tag.

[2016-02-01 09:22] jhawkesworth commented on #14233
This sounds very similar to https://github.com/ansible/ansible/issues/14085

@h0nIg could you run with -vvvvvv and
export ANSIBLE_DEBUG=1

Also please can you advise which windows version are you targeting? what OS and version, and python version you have on your ansible controller machine too.

[2016-02-01 09:49] hloeffler commented on #14232
I think you want to ask there:
https://groups.google.com/forum/#!forum/ansible-project

[2016-02-01 09:53] ksingh7 commented on #6466
:+1:     +1

[2016-02-01 10:11] adul3 commented on #13262
+1 **very** interesting feature to work with :+1:

[2016-02-01 10:49] tbondarchuk opened #14236 "[2.0] filter 'default' does not work for 'ansible_port' variable anymore"
test inventory:

[code]

**version 1.9.4:**
playbook:

[code]

result:

[code]

**version 2.0.0.2:**
playbook:

[code]

result:

[code]

[2016-02-01 11:38] tbondarchuk opened #14237 "[2.0] wait_for fails with timeout"
Playbook (wait_for task example straight from documentation):

[code]

result:

[code]

looks like 'wait_for' is checking localhost instead of remote host.
Removed 'local_action' from task, fails immediately with:

[code]

[2016-02-01 12:30] #14232 closed, assigned to nobody

[2016-02-01 12:31] h0nIg commented on #14233
Python 2.7.6
Ubuntu 14.04
Win 2012 R2

relevant output:

[code]

that means, that ansible tries to execute a command via winrm, but the command is prefixed with /bin/sh and therefore not available on a windows system

[2016-02-01 13:24] #13520 closed, assigned to nobody

[2016-02-01 13:51] bcoca commented on #14237
This is working as expected:
`[test1 -> localhost]` <= this means the wait_for has been delegated to 'localhost' on behalf of 'test1', using `host={{ansible_host}}` should point the check 'from localhost to test1'.

That it is hitting the default timeout (300) indicates that the test1 host was not up in that time, increase the timeout if it is just taking the host longer to boot and get ssh up and

[2016-02-01 13:51] #14237 closed, assigned to nobody

[2016-02-01 13:57] bcoca commented on #14231
asnible_os_family depends on fact gathering, the commit you reference makes the fact gathering task obey tags, if your tagging prevents fact gathering ... it is expected that it is undefined.

But this is not clear, please post a fully functional minimal test case.

[2016-02-01 13:59] bcoca commented on #14228
This is expected, when specifying a tag, fact gathering is not happening. Still the tests depend on facts so they should always be gathered.

[2016-02-01 14:02] tebeka opened #14238 "Scripts should start with #!/usr/bin/python2"
I'm running Archlinx where the default system Python is 3.5. This cases the following code to fail:

[code]

Changing the #! line in ping.py to `#!/usr/bin/python2` fixes the problem.

[2016-02-01 14:08] bcoca commented on #14238
duplicate of #13600, #8245, #4451, #4117, #3596

[2016-02-01 14:08] #14238 closed, assigned to nobody

[2016-02-01 14:15] robinro commented on #13688
#14220 does not fix this

I have an inventory _inside_ the checked out repo.
1.9.4 runs ansible-playbook inside the checked out repo, reads the ansible.cfg there and uses the inventory scripts inside the repo.

This version now leads to `skipping: no hosts matched`, because we use the fqdn for the playbook, but only `-l localhost,127.0.0.1,::1` is used (by default because the global inventory is e

[2016-02-01 14:15] bcoca commented on #13179
in current 2.0.1 rc1 and devel alternate shell support is broken (it really has been for a long time as this ticket attests).

One recent change was to always prepend the 'executable' (default /bin/sh) to the become/privilege escalation commands, which have never been non 'sh' friendly.

You should not need to set asnible_shell_type or executable settings unless you want to force to use that shell

[2016-02-01 14:20] tbondarchuk commented on #14237
Guess my description was really poor..

The issue is, host is up and accessible long before timeout ends, every time I've run this test.

Here is timeout error on version 1.9.4, when host is indeed not accessible:

[code]

And  here is error message from example above:
`"msg": "Timeout when waiting for search string OpenSSH in localhost:22"`

[2016-02-01 14:25] bcoca commented on #14236
so the current workaround is:

`msg: "{{ ansible_port | default(22,boolean=True) }}"`

for some reason the default filter is seeing an empty string ('') instead of a null/None value.

[2016-02-01 14:28] abridgett opened #14240 "bool filter fails to lower case environment variables"
It seems to restrict the type match for conversion to lowercase.

[code]

Changing the string test in the bool filter from:

[code]

to:

[code]

Makes this work as expect, but I'm not submitting a direct PR as I'm not sure if this is the correct change.

[2016-02-01 14:31] tbondarchuk commented on #14236
Thanks!

[2016-02-01 14:31] bcoca commented on #14237
can you use debug on `ansible_host`? you might be wanting to use inventory_hostname

[2016-02-01 14:34] bcoca commented on #13688
@robinro are you passing inventory options to ansible-pull? please give detailed info to reproduce.

[2016-02-01 14:36] bcoca commented on #14240
Can You Help Us Out?
====================

Thanks for filing a ticket! I am the friendly GitHub Ansibot.

It looks like you might not have filled out the issue description based on our standard issue template.  You might not have known about that, and that's ok too, we'll tell you how to do it.

We have a standard template because Ansible is a really busy project and it helps to have some standard

[2016-02-01 14:40] bcoca commented on #14204
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-02-01 14:40] #14204 closed, assigned to nobody

[2016-02-01 14:42] bcoca commented on #14228
@mattclay The above PR fixes this for me, can you confirm?

[2016-02-01 14:45] robinro commented on #13688
@bcoca no, I assume the ansible-playbook command to read the ansible.cfg inside in repo and then use the inventory specified there. This breaks if `-i` is given.

[2016-02-01 14:45] jesselang commented on #14194
@bcoca Would you accept a PR to clarify this in the documentation?

[2016-02-01 14:48] bcoca commented on #14194
yes

[2016-02-01 14:49] bcoca commented on #13688
The -i passed to ansible-pull is for explicitly passing to ansible-playbook and SHOULD override any ansible.cfg setting.

[2016-02-01 14:51] robinro commented on #13688
Ok, but I don't _want_ to pass -i, because I want to use the inventory defined _inside_ the repo. So I need ansible-playbook to be called _without_ `-i` for my setup to continue work.

[2016-02-01 14:53] bcoca commented on #13688
[code]

^ as i read the code, that is already true

[2016-02-01 14:55] robinro commented on #13688
If you read this code, it seems to be, but `self.options.inventory` is never empty, because if the user does not specify it, it gets set to some default constant (localhost,127.0.0.1,::1).

See my suggested fix to not set it in the case of ansible-pull
https://github.com/ansible/ansible/pull/13689/files

[2016-02-01 14:58] bcoca commented on #13688
lets see if this makes sense, seems less intrusive to me (fixes both issues):

[code]

[2016-02-01 15:01] jhawkesworth commented on #14233
Ok that is clearly wrong then.

I am guessing here ... but I wonder if you need to update your ansible.cfg so it is compatible with 2.0.1.
Please can you check?

[2016-02-01 15:02] robinro commented on #13688
This is fragile if someone ever changes the use of `C.DEFAULT_HOST_LIST` in **init**. I felt changing it there is more honest. It should not be set to any default anyhow in my opinion.

[2016-02-01 15:03] robinro commented on #13688
why do you reintroduce `limit_opts` here? It's not really needed, right?

[2016-02-01 15:07] bcoca commented on #13688
We want to restrict playbook execution to the 'current host', if someone adds 'all' and puts in a ful inventory you might have the host attempt to do multiple machines. This can be forced by adding `--limit 'all'` if the user really wants that.

[2016-02-01 15:10] bcoca commented on #13592
`become: no` at task should override the play level one, but this would not changed gathered facts

[2016-02-01 15:14] tebeka commented on #14238
Sorry. My search skills are bad.

[2016-02-01 15:27] robinro commented on #13688
right...

The last diff (+import) works for me. The complete version I now used is at  #14242

[2016-02-01 15:28] bcoca commented on #14171
need to track it down, but I remember this causing kernel panics on OS X, which is why we default to paramiko

[2016-02-01 15:29] clott-memberclicks commented on #13592
I can no longer reproduce this issue now that I have upgrade to Ansible 2.0 - I see the correct behavior regardless of ansible.cfg contents.

I tested both 2.0 stable and the latest 2.1 devel branch:

[code]

[2016-02-01 15:30] bcoca commented on #13592
closing as per above

[2016-02-01 15:30] #13592 closed, assigned to nobody

[2016-02-01 15:31] bcoca commented on #14230
i'm not clear on what you are asking for here, can you elaborate or show an example?

[2016-02-01 15:43] mike-pt commented on #14230
Sorry if I didn't make it clear enough, currently if we use "{{ansible_managed}}" it will print the modified date on the remote file. This date reflects the modified date of the template file itself on my local workstation, correct?

I.E using jdayphant.nginx role in my playbook when the nginx.conf file is uploaded the modified date that  will be printed in the _remote_ nginx.conf file is in refer

[2016-02-01 15:50] bcoca commented on #14227
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved two separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to

[2016-02-01 15:50] #14227 closed, assigned to nobody

[2016-02-01 15:53] abridgett commented on #14240
##### Issue Type:
- Bug Report

##### Ansible Version:

ansible 2.0.0.2

##### Ansible Configuration:

none

##### Environment:

Linux Ubuntu 14.04

##### Summary:

bool filter seems to be too picky when deciding what to consider a string (e.g. environment variables do not work)

##### Steps To Reproduce:

[code]

##### Expected Results:

[code]

##### Actual Results:

[code]

[2016-02-01 15:54] sivel commented on #14240
It would be great to know what the value of `VAGRANT_RUN` is to begin with.

[2016-02-01 15:54] tbondarchuk commented on #14237
Run more tests with following playbook:

[code]

First result was the same:

[code]

But then I've looked at inventory, and yes it was set to use deprecated variable :(
`test1 ansible_ssh_host=192.168.1.13`

changed it to new variable `test1 ansible_host=192.168.1.13` and finally all worked:

[code]

Looks like variable `ansible_host` is substituted for deprecated `ansible_ssh_host` everywhere but

[2016-02-01 15:55] marcinhlybin opened #14243 "pre_tasks not working while gathering=smart in ansible.cfg"
**Issue Type:**
Bug report

**Ansible Version:**

[code]

**Ansible Configuration:**

[code]

**Environment:**
Mac OS X

**Summary:**
When `gathering=smart` used in ansible.cfg pre_tasks are not running.

**Steps To Reproduce:**

ansible.cfg:

[code]

play.yml:

[code]

**Expected Results:**

[code]

**Actual Results:**

[code]

[2016-02-01 15:56] bcoca commented on #14240
[code]

tested and corroborated

[2016-02-01 15:58] fernandogrd commented on #11266
I would like that feature as well, I was using ansible-galaxy install -r requirements.yml, but I've just stopped, because a lot was broken when I tried to build a new virtualenv.

[2016-02-01 16:01] bcoca commented on #14243
checked, it only removes the 1st pre task and only if gather_facts is true for that play.
play.yml

[code]

[2016-02-01 16:01] sivel commented on #14240
Ok, so it also seems that the type of variable you get from reading from env via lookup is `ansible.vars.unsafe_proxy.AnsibleUnsafeText` which could be the reason the type checking doesn't work the way it is implemented.

[2016-02-01 16:07] bcoca commented on #14240
hmm, thinking this might also be the same issue with `ansible_user/port/etc` and the `default` filter not getting along....

[2016-02-01 16:11] sivel commented on #14240
I think with default, it expects the variable to be undefined.  Those values are now defined, although empty/null, which requires you use the `boolean` argument to the default filter.  Although it could be somehow related to the proxy.

[2016-02-01 16:11] bcoca commented on #14137
my guess here is that Ansible is now correctly respecting the user's umask, which might be set differently for root on the cron job vs your push (sudo/root interactive login?).

[2016-02-01 16:14] bcoca commented on #14240
well, something is happening on the template/filter lavel, cause I can detect the variable is undefined:

[code]

outputs:

[code]

[2016-02-01 16:15] bcoca commented on #14240
while:

[code]

outputs:

[code]

[2016-02-01 16:45] amenonsen commented on #13179
I still strongly think we should require the _presence_ of /bin/sh (even
if it's not set as the login shell), and use /bin/sh -c '…' wrapping as
appropriate. That would (a) simplify the code and (b) eliminate the
current crop of compatibility problems.

I think it's an utter waste of time to spend so much effort on trying to
support systems that don't have a /bin/sh, and as a result (because it's

[2016-02-01 16:48] sivel commented on #14240
Just as an FYI, at least for the bool filter, the following should be all that is required.

[code]

We should in general always be using `isinstance` anyway.

[2016-02-01 17:03] miohtama commented on #13592
@bcoca: Just to make sure I get it right.

When I start my Playbook with:

[code]

... it will gather facts a root to `ansible_env` and that's the underlying issue here? So if you want to know  `become: no` facts in tasks you need to gather them by yourself using `register` statement.

[2016-02-01 17:21] bonds commented on #13490
@abadger in this ticket's description you can see the relevant repro steps. Both the host and remote machine are running Fish shell, since, in the case of the examples, both the host and remote are the same machine and that machine is running Fish shell.

[2016-02-01 17:40] basictheprogram commented on #14231
To be clear the behavior of 2.0 (and 1.9) has changed?

All the tasks, plays, and playbooks I have work as I would expect until commit 5587b08335f223fff64f54ced6f2790b3d6ee6f0.

The fully functional minimal test cast below. This code is used in our production environment (2.0) and works.

[code]

[code]

[code]

[code]

[code]

[2016-02-01 18:04] nicolas-g commented on #14137
AFAIK umask is only for file access permissions rwx and nothing to do with ownership , I expect when you create a user and it's home dir using the user module it will also make sure the home dir is owned by the user or else it's kind of pointless.

[2016-02-01 18:06] bcoca commented on #14137
yes, sorry, misunderstood as i was only looking at access permissions ... what users do the uids listed correspond to?

[2016-02-01 18:12] sysreq0 commented on #5797
+1

[2016-02-01 18:13] h0nIg commented on #14233
as already said, its working with 2.0.0.2. according to dpkg/apt-get there is no config change between 2.0.0.2 and 2.0.1. but if i'm wrong, please let me know

[2016-02-01 18:17] bcoca commented on #13592
no need to register, `setup` (module that gathers facts) will automatically set them

[2016-02-01 18:25] bcoca commented on #13179
@amenonsen i don't disagree it would be simpler, but we had already made the commitment to support these, I'm still looking at a better/final fix for all this (99% sure the /bin/sh part will look like the patch you submitted).

[2016-02-01 18:26] bcoca commented on #14240
@sivel agreed, submit patch

with default it is harder as it is built into jinja2

[2016-02-01 18:34] #14240 closed, assigned to nobody

[2016-02-01 18:35] sivel commented on #14240
# Closing This Ticket

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!foru

[2016-02-01 18:47] nicolas-g commented on #14137
it seems completely random , some time users home dirs are owned by other users  , some users home dirs are set correctly .

[2016-02-01 18:52] bcoca commented on #14137
So unlike the permissions, the uid is set explicitly in this case, i cannot see how the code would do this unless it is getting different inputs (or the name to uid mapping changes underneath it).

I don't think this is strictly an issue with ansible, can you log the item.uid (you don't show this in your vars) across runs? can you also add a call to the `getent` module to dump the passwd database?

[2016-02-01 19:03] nicolas-g commented on #14137
the way I overcome this issue was by strictly setting a UID for each user manually which works but when I opened this issue I was using the default omit filter option :

[code]

As I said this was working fine with Ansible 1.9 for both push and pull mode , it got broken with Ansible 2 for pull mode only.

[2016-02-01 19:10] groggemans opened #14247 "No handlers could be found for logger "paramiko.transport""
When I try to use paramiko for the ssh connection to a router I get the following error and ansible just hangs.

 In Ansible 1.9.4 this worked just fine, after updating to ansible 2+ (2.0.0.2  pip and 2.1.0 devel checkout) i got this error.

Using `-vvvv` isn't showing anything useful either.

`ansible router -m raw -a "system clock print"`

The router runs RouterOS and the `system clock print` co

[2016-02-01 19:32] groggemans commented on #14183
+1

[2016-02-01 19:50] gtirloni opened #14248 "Multiple files in role's defaults directory"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
roles

##### ANSIBLE VERSION
N/A

##### SUMMARY
I have a role that manages a complex piece of software with many options. Right now, the defaults/main.yml is growing larger and larger with more variables.

It would be nice if in the defaults folder I could have various YAML files for each group of variables that are semantically related.

I've tr

[2016-02-01 20:24] bcoca commented on #14137
broken for pull only doesn't make sense as pull just calls ansible-playbook, but I think there might be 2 possible causes for this, either `omit` is not working or the user module has been updated to care about `uid` even when not specified.

The reason it might be different for pull vs push might be the version of ansible installed on the machine is different than the one used for pushing.

[2016-02-01 21:14] kilburn commented on #13228
There is an inelegant way to work around this limitation: create a wrapper role. Following your example, you would create two roles, _pre-nginx_ and _nginx_.

The _nginx_ role defines:

[code]

Then you put your "pre" tasks in the _pre-nginx_ role and on your "post" tasks in the _nginx_ role. Putting everything together:

[code]

[2016-02-01 21:25] jkarneges commented on #13876
I'm seeing this too. It appears to happen randomly on arbitrary tasks in a playbook, always regarding this tmp file stuff. I just re-run the playbook until it works. I am using a network filesystem (rackspace block storage).

[2016-02-01 23:30] nicolas-g commented on #14137
I can confirm the ansible version on the controller and target machine was the same for the push and pull .

[2016-02-01 23:57] neechbear opened #14250 "SSH publickey and password combination not allowed"
If you use `--ask-pass` with ansible-playbook, Ansible appears to try and be clever by assuming that you do not want to use publickey authentication, and adds `-o PubkeyAuthentication=no` to the ssh command line.

At best, this is misleading, at worst it is wrong and prevents specific edge use cases.

It is perfectly valid for an SSH server to REQUIRE that the client provide a publickey AND a pass

[2016-02-02 00:15] groggemans commented on #14247
There is also no way to disable pseudo tty allocation (`-tt`) using ansible variables. `ansible_ssh_extra_args` is inserted before `-tt` so overwriting it with `-T` when using openssh is also not possible.

Even when altering the ssh args in the ansible.cfg the `-tt` option is added automaticly.
(This was possible before v2.0 if I remember correctly, I used it to circumvent an earlier paramiko pro

[2016-02-02 00:27] apenney commented on #13262
I hate to +1, but I was very sad to discover you can't do this.  As @piotrminkina mentions, block_item would be a good name for the block item.

[2016-02-02 00:48] turtlemonvh commented on #10343
Thanks for the tip about installing on the targets.

:thumbsup:

[2016-02-02 00:54] fdemmer commented on #14248
you can have a `main.yml` in `tasks`, that includes other files, even in subdirectories of `tasks`, eg to configure your main two components foo and bar of that large role:

[code]

[2016-02-02 01:23] dagwieers commented on #14250
TBH I don't think the sshd_config and ssh_config options mean there is an AND relationship if you specify more than one option. (e.g. the default has 5 methods listed)

[code]

It only specifies what methods are allowed (and in what order), and any one will do for a given system. (Except of course if PAM is being used and configured differently)

That said, I can see that if you have multiple syst

[2016-02-02 01:37] neechbear commented on #14250
The `sshd_config` option allows for requiring multiple auth types.

My mention of `ssh_config` probably muddied the water a little; it was merely intended to illustrate that I was explicitly ensuring that I was asking the ssh client used by Ansible to explicitly support the authentication methods required by the SSH server.

publickey and password auth are not mutually exclusive, so setting `Pubke

[2016-02-02 02:04] sivel commented on #14250
So what exactly is not working and what are we trying to solve for?

What specific configuration do you currently have that this does not satisfy?

[2016-02-02 02:05] bcoca commented on #14250
I need to check this, but IIRC this was done because of waiting for prompts, if the ssh keys open the connection anisble could  just wait for the login prompt indefinitely.

[2016-02-02 02:11] neechbear commented on #14250
I want to be able to use publickey authentication in combination with password authentication with ssh.

To enable password authentication with ansible-playbook I am using `--ask-pass`, but it appears that using the `--ask-pass` option causes Ansible to inject `-o PubkeyAuthentication=no` in to the ssh client command line.

If there is another way that I can get Ansible to support ssh password aut

[2016-02-02 02:23] sivel commented on #14250
I may just not be following, so bare with me.  Do you have a system that allows SSH key auth, but that also prompts for an SSH password?  Is this a form of 2fa?  I don't know that I have ever seen a system which allows for publickey but also performs SSH password prompting.

Or are you trying to achieve a goal where you aren't sure if a host is password or publickey?

Just trying to understand the

[2016-02-02 04:20] bcoca commented on #14201
this is not a bug, role imports cannot be skipped, so the call needs to be valid.

the when: condition is applied to all tasks in a role, not to the action of importing the role

[2016-02-02 04:20] #14201 closed, assigned to nobody

[2016-02-02 04:22] bcoca commented on #14209
so, there is no 2.0.2 version (2.0.1 is in release candidate), I'm guessing you mrean 2.0.0.2 and that was released BEFORE the ticket was fixed, so please check against devel or the release candidate and reopen if it is still an issue.

[2016-02-02 04:22] #14209 closed, assigned to nobody

[2016-02-02 04:23] bcoca commented on #14212
confirmed, this is an effect of not initializing the task queue manager which handles this option (fix means probably moving this up to play executor).

[2016-02-02 04:27] bcoca commented on #14161
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As mentioned above includes are not aware of other roles so should not be expected to respect role pathing rules unless invoked from inside a role.

In the fut

[2016-02-02 04:27] #14161 closed, assigned to nobody

[2016-02-02 04:28] bcoca commented on #14216
Can You Help Us Out?
====================

Thanks for filing a ticket! I am the friendly GitHub Ansibot.

It looks like you might not have filled out the issue description based on our standard issue template.  You might not have known about that, and that's ok too, we'll tell you how to do it.

We have a standard template because Ansible is a really busy project and it helps to have some standard

[2016-02-02 04:29] bcoca commented on #14217
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved two separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to

[2016-02-02 04:29] #14217 closed, assigned to nobody

[2016-02-02 04:33] bcoca commented on #14247
the `No handlers could be found for logger "paramiko.transport`' is just a warning and can be ignored, can you strace the process to figure out what it is stuck on? does the ssh transport work?

[2016-02-02 05:03] nitzmahone commented on #14228
Shouldn't setup be tagged `always` internally? Otherwise it'll never run when someone's running with tags, which is almost certainly a breaking change from 1.9.

[2016-02-02 05:46] #11104 closed, assigned to nobody

[2016-02-02 06:46] romanrev commented on #14201
@bcoca could you please explain why it worked differently in Ansible 1.9.4?

[2016-02-02 06:48] hloeffler commented on #14201
i think breaking 1.9.4 is a bug
closing is fast here sometimes

[2016-02-02 07:33] romanrev commented on #14201
@bcoca Please find below the output from the Ansible 1.9.4 with the following input:

[code]

[2016-02-02 07:58] mattclay commented on #14228
@bcoca The above PR does resolve the issue. However, shouldn't setup run automatically for the selected tags, rather than having to make changes to existing playbooks to adapt to the new behavior?

[2016-02-02 08:02] romanrev commented on #14201
Now with ansible-playbook from the develop branch:

[code]

I get this:

[code]

And my apologies, I have not explicitly stated in my original bug report _how_ I am referencing the assigned variable:
It appears that when the variable is referenced no in a loop `with_items`, the task is ignored (1st task), while in the second task - when the variable is referenced in a loop `with_items`, the task b

[2016-02-02 08:13] binbashroot opened #14252 "Pause module does not abort"
Ansible 2.0.0.2 (pip installation)

When using the pause module, using control-c-a does not abort the playbook.  Hitting Control-c will bring up the option of Press C to continue or A to abort.  Pressing A just continues the playbook.  I was able to reproduce this.

Ansible Host:   RHEL6.7
Ansible Clients:  RHEL5/6

[2016-02-02 08:59] dagwieers commented on #14250
@neechbear I think I understand what you are looking for (although I am not convinced that it's the best use-case ;-)), but I don't see why we deliberately would disable key-authentication when using `--ask-pass`.

And in fact what you ask for looks rather trivial to implement. However looking at the Ansible v2.0.1 source code, I don't see this happening. The only thing I see happen is an explicit

[2016-02-02 09:01] dagwieers commented on #14250
I can confirm that the behaviour you mentioned is part of Ansible v1.9 codebase (and likely prior versions):

https://github.com/ansible/ansible/blob/stable-1.9/lib/ansible/runner/connection_plugins/ssh.py#L94

[code]

I assume that this can be closed ?

[2016-02-02 09:12] vmalloc opened #14254 "delegate_to does not work on synchronize"
Continued from #14092, this was suggested as a way to circumvent the deprecation warning when using rsync to synchronize locally on the remote machine...

It doesn't work, since delegate_to is apparently not supported for `synchronize`

[2016-02-02 09:12] dagwieers commented on #14250
@neechbear Can you test this patch and report back ?

We could improve this a bit by overriding our own PreferredAuthentications and explicitely ordering with password authentication at the very end, but since Ansible v2 is not doing this I would prefer to keep the logic and behaviour exactly the same.

It is up to the user to provide a working default ssh_config for your specific use-case.

[2016-02-02 09:12] vmalloc commented on #14092
@abadger opened a new issue for the delgate_to capability on `synchronize`

[2016-02-02 09:49] asivula opened #14255 "Allow specifying inventory hostnames as username@host.domain"
Trying to copy file to the server with Ansible's copy module. SSH connection works but seems that there's problem with SFTP. Same error happens when trying to execute shell script Ansible's script module.

**Errors**
ERROR! failed to transfer file to /home/jenkins/.ansible/tmp/ansible-tmp-1454402413.7-233202231550330/source:\n\nExecuting: program /usr/bin/ssh host xxxx.xxxx.cloudapp.azure.com

ERR

[2016-02-02 10:17] moon-musick opened #14256 "How do I access facts in custom plugins?"
I'd like to use a fact's value in a custom filter plugin without the need to provide it explicitly as an argument.

What do I need to do to get the value inside of a plugin (i.e. in the body of a custom plugin function) ? I haven't been able to find anything on topic in official documentation.

[2016-02-02 10:29] blelump commented on #13228
@kilburn , thanks for you response!

Actually this is exactly the way how I'm solving this right now, I mean using `pre-*` roles. However, I do not feel comfortable with such approach, because it still enforces me to split the logic between two roles, which essentially do things around the same service.

[2016-02-02 11:32] Caroga commented on #13563
Really? This is kinda harsh. Many of my projects are depending on this feature, as each project contains there own build folder where the roles are supposed to be installed, which is now broken..

[2016-02-02 11:32] kblcuk opened #14258 "ansible-vault 2.0.0.2 fails to decode secure file with accented characters"
##### Issue Type:
- Bug Report

May be related to [some of these](https://github.com/ansible/ansible/issues?utf8=✓&q=is%3Aissue+is%3Aopen+ordinal+is)?
##### Ansible Version:

[code]
##### Ansible Configuration:

[code]
##### Environment:

Latest OSX, but not sure if this is OS-related
##### Summary:

If encoded file contains any non-ascii (?) characters, viewing that file fails.
Strangely, you can

[2016-02-02 12:00] groggemans commented on #14247
I forgot to try to quit the connection manually. The following did work;

 `ansible router -m raw -a "system clock print; quit"`
(`quit` is the same as `exit` on a normal *nix OS)

It prints the output of the command but also the word "interrupted". So connecting isn't the problem, it seems closing the connection is.

This works both using paramiko and openssh. Maybe the problem is RouterOS? Altho

[2016-02-02 12:23] sivel commented on #14256
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-02-02 12:23] #14256 closed, assigned to nobody

[2016-02-02 12:32] jle1n0 commented on #13680
Agree with this. Furthermore it seems that owner/group don't work. At least I get always stuff with root permissions locally in pull mode.

[2016-02-02 12:39] fbarriere opened #14259 "Ansible 2.0 fails parsing dynamic inventory result"
Hi,

   I have an inventory script that works fine with Ansible 1.9.4 but makes Ansible 2.0 fail with the trace:

Traceback (most recent call last):
  File "/opt/ansible-python/2016-01-26/Linux-x86_64/ansible-2.0.0.2/bin/ansible-playbook", line 85, in <module>
    sys.exit(cli.run())
  File "/opt/ansible-python/2016-01-26/Linux-x86_64/ansible-2.0.0.2/lib/python2.7/site-packages/ansible/cli/playboo

[2016-02-02 12:49] lhoss commented on #10803
Definitely seems a bug, as initially posted:
I got the same issue (with ansible 2.0.2 on Mac-OS-X 10.9.5), when targeting a host configured (only) in .ssh/config  (not in DNS or /etc/hosts):
`ansible-playbook deploy-users.yml -i ~/hosts  --sudo  --ask-sudo-pass --ask-pass -u $user -l $host`

but ansible indeed works as usual (with ssh/config), without using "--ask-pass":
`ansible-playbook deploy-u

[2016-02-02 13:07] jimi-c commented on #14243
This appears to be a bug in the linear strategy caused by the smart gathering mode only (explicit/implicit are unaffected). Looking into it further.

[2016-02-02 13:32] bcoca commented on #14247
yes, it is probably due to changes in the connection plugins, I'll download and setup a copy of routerOS to try to debug this.

[2016-02-02 13:47] groggemans commented on #14247
Great! You can always let me know if I need to test something on the the hardware (MIPS architecture).

[2016-02-02 13:50] SebastienElet commented on #14183
:+1:

[2016-02-02 14:26] asivula commented on #14255
Tested SSH, SFTP and SCP works fine to the host. Got this when tried to resolve the problem with command line testing:

[code]

[2016-02-02 14:48] lae commented on #13563
Use --roles-path, my use case is similar to yours and that's what I'm doing.

[2016-02-02 14:55] Hubbitus opened #14262 "raw quotes arguments"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

I hope irrelevant
##### Environment:

Fedora 23
##### Summary:

Raw (shell do the same) module should not quote its values, but it do.
##### Steps To Reproduce:

Task:

[code]
##### Expected Results:

Loading sql file into database as it happened in shell directly
##### Actual Results:

[code]

[2016-02-02 14:56] Hubbitus commented on #14262
Such file present on host:

[code]

[2016-02-02 14:56] bcoca commented on #14201
It did not work in 1.9, the errors were just ignored, which lead to unexpected and undefined behavior.

2.0 is much more strict about these things and will error out when the variables are undefined, keywords are misspelled or duplicated. The playbooks 'ran' in 1.9 but did not really 'work' as intended, so we do not consider this a breakage as we are now reporting the errors correctly.

You can us

[2016-02-02 15:01] bcoca commented on #14252
can you test against devel/stable-2.0 or the 2.0.1-rc1? I cannot reproduce on any of those.

[2016-02-02 15:09] ceesvanegmond commented on #10065
+1

[2016-02-02 15:10] buggsdummy opened #14263 "Filter Request"
It'd be nice to have a filter that reverses strings or numbers or maybe addition of reverse dns in ip address entry or what it would look like.

[2016-02-02 15:13] alv000h commented on #14233
When I execute win_pìng, as below, the bug is still there:
`$ ansible -i host all -m win_ping -vvvvvv
wintel.local | UNREACHABLE! => {
    "changed": false,
    "msg": "Authentication or permission failure. In some cases, you may have been able to authenticate and did not have permissions on the remote directory. Consider changing the remote temp path in ansible.cfg to a path rooted in \"/tmp\". F

[2016-02-02 15:16] crazydisi opened #14264 "ansible apt always report changed=1 - language Problem"
it seems i have a minor "problem" while doing some experiments with the ansible apt module. The upgrade process always reports a change, even if there is nothing todo.

The Problem seems to be a Language problem. Changing the language to en_GB the exakt same command results in a valid report.
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 2.0.0.2
##### Ansible Configuration:

No cha

[2016-02-02 15:18] nicolas-g commented on #14161
I'll take this that Ansible version 2 breaks by design the backward compatibility regarding the template path as it was in version 1.9 .

[2016-02-02 15:18] bcoca commented on #14263
already exists `reverse`  http://jinja.pocoo.org/docs/dev/templates/#reverse

[2016-02-02 15:18] #14263 closed, assigned to nobody

[2016-02-02 15:21] bcoca commented on #14161
No and yes, 1.9 did some incorrect pathing that was never intended, proper pathing is the following:

  `src=<file>` will search in order:

[code]

[2016-02-02 15:23] #14243 closed, assigned to jimi-c

[2016-02-02 15:23] jimi-c commented on #14243
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-02-02 15:23] nicolas-g commented on #14161
thanks for the explanation.

[2016-02-02 15:24] bcoca commented on #14264
We need more information, Could you please fill in the https://raw.githubusercontent.com/ansible/ansible/devel/ISSUE_TEMPLATE.md ?
(you can update the current summary with it)

[2016-02-02 16:07] abadger commented on #14258
Just tested your issue and this should be fixed in the upcoming 2.0.1 release.  Here's the commit to the stable-2.0 branch where it was fixed: 9ddb4a985c86684100bef85df25088957283e963

[2016-02-02 16:07] #14258 closed, assigned to nobody

[2016-02-02 16:08] chrrrles commented on #13692
Hi @leonp2001 -  The inventory script you provided should work on the command line by simply print'ing the json.  inventory_script.py:

[code]

From the command line with Ansible 1.9.4:

[code]

Are you creating a standalone script which directly uses `ansible.inventory`?

[2016-02-02 16:13] Erouan50 opened #14265 "Retry files aren't generated when failure occurs"
**Issue Type**: Bug Report

**Ansible Version**:

[code]

**Ansible Configuration**:

[code]

**Environment**: Fedora 23

**Summary**:

Since the Ansible 2.0 version when a fail occur on a task no retry file is generated to limit the hosts who fail.

**Steps To Reproduce**:

Just play the follow playbook which reboot a server to simulate a network failure:

[code]

Normally a retry file should be

[2016-02-02 16:13] abadger commented on #14254
It sounds like you are doing this:

[code]

You need to do this (note the indentation of delegate_to):

[code]

delegate_to is not a parameter of the synchronize module; it's an option that can be given to any task: http://docs.ansible.com/ansible/playbooks_delegation.html#delegation  So it belongs at the same indentation level as synchronize itself.

(Sometimes this can be confusing until you get

[2016-02-02 16:13] #14254 closed, assigned to nobody

[2016-02-02 16:28] jfcoz opened #14266 "module (config_template) is missing interpreter line"
When using ceph-ansible with the devel or stable-2.0 branch of ansible I get :

[code]

In config_template there is not shebang but :

`# this is a virtual module that is entirely implemented server sid`

Do you have an idea ?
Thanks

[2016-02-02 16:35] bcoca commented on #14266
config_template? that is not an ansible module

[2016-02-02 17:05] sivel commented on #14265
# Closing This Ticket

Hi!

We believe recent commits such as https://github.com/ansible/ansible/commit/78d499140c943b6bc806c222799060892bca8ae7 (which was commited on 2016-01-26) should resolve this question or problem for you.  Your version output shows that you have not updated in several days and have missed these changes.

This will also be included in the next major release.

If you continue

[2016-02-02 17:05] #14265 closed, assigned to nobody

[2016-02-02 17:09] sivel commented on #14266
This sounds like an issue should be opened with https://github.com/ceph/ceph-ansible

There is the potential that although you are pulling in their 'library' you are not properly configured to pull in their `action_plugins`

[2016-02-02 17:13] abadger commented on #13490
Okay, I talked with @bcoca about this and he clarified that `ansible_shell_type` should not be used here.  In fact, it should almost never be used.  I'll attempt to summarize what he told me.

There's a bug in 2.0.0.{0,1,2} which makes it so `ansible_shell_type` needs to be used in circumstances where it shouldn't.  Namely, if the remote machine is using a non bourne compatible shell, the shell_ty

[2016-02-02 17:13] #13490 closed, assigned to nobody

[2016-02-02 17:15] abadger commented on #14104
If we get more information on how to reproduce this we can look at what is happening.  Let us know if you can give us more information on what is different between my test case and yours.

[2016-02-02 17:25] jhawkesworth commented on #14233
See the discussion on the devel group here: https://groups.google.com/forum/#!topic/ansible-devel/xyLygKdc1dM

[2016-02-02 17:28] nitzmahone commented on #14233
jhawkesworth: is that the right thread? Looks unrelated...

[2016-02-02 17:29] Erouan50 commented on #14265
Indeed it works, thanks !

[2016-02-02 17:30] nitzmahone commented on #14233
This is definitely a bug- there were some last minute (non-Windows-related) changes around shell stuff that didn't get tested on Windows before RC1 was cut. We should be able to have a fix in for RC2.

[2016-02-02 17:32] jhawkesworth commented on #14233
erm well the thread goes a bit off topic, just wanted to link to cchurch's comment that's all.

[2016-02-02 17:41] albertux opened #14267 "documentation offline [sometimes is not reachable the online doc]"
https://gist.github.com/albertux/c78aac25d831e7808a6c

[2016-02-02 17:43] bfqrst opened #14268 "Ansible 2.0.0.2: Ansible doesn't respect the “-u” switch"
## BUG REPORT

I'm probing a freshly installed Archlinux installation on a Raspberry PI 2 like so:

`ansible -i PI2 arch -m setup -c paramiko -k -u alarm -vvvv`

This reads to me: Fire the setup module against the IP connecting with the user "alarm" asking for the password of this specific user. However the user that eventually attempts to connect is "root".

Here's the debug response:

[code]

Th

[2016-02-02 17:45] ghost opened #14269 "ansible-playbook 2.0.0.2 fails to load /etc/ansible/ansible.cfg"
After updating ansible, the ansible-playbook command no longer finds the default configuration file.

There is no ansible.cfg in my current directory, nor in my home directory, nor is there an ANSIBLE_CONFIG environment variable; so, it should be using /etc/ansible/ansible.cfg

I'm running this on OSX El Capitan.

[code]

[2016-02-02 17:53] neechbear commented on #14250
@dagwieers, yes, that does the trick. Thank you!

Might it be beneficial to give the option for the user to completely disable all `ssh -o` command line argument passing, thus relying on the user's own `~/.ssh/config` and system wide `/etc/ssh/ssh_config`? At the very least I can see that some users may find such a feature useful for debugging.

Thanks for your help.

[2016-02-02 17:56] ghost commented on #11262
@towolf in which release will this feature be first available?
(Will it be available in ansible 1.X?)

[2016-02-02 17:57] kustodian opened #14270 "Add support for using blocks as handlers"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Core

##### ANSIBLE VERSION
N/A

##### SUMMARY
Currently it's not possible to define multiple tasks for one handler. It is possible to call multiple handlers, or to notify the next handler from the first one, but all of these are more workarounds, than simple solutions. Since Ansbile 2.0 added support for blocks, maybe we could add this suppor

[2016-02-02 18:02] sivel commented on #14267
I'm confused as to what this issue is for.  Are you asking to add documentation on how to build the docs?

Also, the docs are mostly text, and you can just hop into docsite/rst and grep and read through there.

[2016-02-02 18:06] kustodian commented on #14230
I like this idea, since the modified date doesn't reflect when the destination file was really changed, but when the template was, so it is misleading.

[2016-02-02 18:10] arw180 commented on #13844
+1 Just ran into this using the v2.0.1.0-0.1.rc1 tag

[2016-02-02 18:20] #14233 closed, assigned to bcoca

[2016-02-02 18:24] nitzmahone commented on #14233
Fixed in devel and stable-2.0 (in time for 2.0.1 RC2 train)- please give it a shot!

[2016-02-02 18:33] towolf commented on #11262
Hopefully in 2.1.0.

I don't think it's going to be backported to 1.9 stable series.

[2016-02-02 18:34] towolf commented on #13565
You shouldn't have closed this prematurely. The pull request mentioned above hasn't been merged yet.

[2016-02-02 18:52] nitzmahone commented on #14085
fixed by https://github.com/ansible/ansible/pull/14272

[2016-02-02 18:52] #14085 closed, assigned to nitzmahone

[2016-02-02 18:56] abadger opened #14274 "Add ansible_executable to magic inventory vars and shell_type to ansible.cfg"
executable and shell_type are meant to work together so that ansible can use a different shell when /bin/sh is not available on the remote host.  However, currently a user has to set executable globally in ansible.cfg and ansible_shell_type per-host in inventory vars.  We should add to this so that the user can set both of the settings at the same places.

[2016-02-02 19:01] abadger commented on #14176
As a temporatry workaround, does setting `executable = /bin/bash` in the config file and

[code]

In inventory work?

[2016-02-02 19:04] bcoca commented on #14274
- shell_type => ansible.cfg
- ansible_executable => connection vars

[2016-02-02 19:05] nitzmahone commented on #13977
@wimnat - the only way I can see that behavior is by uncommenting `remote_port` in /etc/ansible/ansible.cfg (or with a local ansible.cfg with that same setting), and when ansible_port isn't set  on my Windows hosts. Can you check to see with -vvv what config file it's using, and if those settings are in use?

We could potentially do an enhancement to allow some connection plugins to ignore the con

[2016-02-02 19:24] #13688 closed, assigned to nobody

[2016-02-02 19:27] bcoca commented on #14267
also https://github.com/ansible/ansible/blob/devel/docsite/rst/index.rst

[2016-02-02 19:27] bcoca commented on #14267
Can You Help Us Out?
====================

Thanks for filing a ticket! I am the friendly GitHub Ansibot.

It looks like you might not have filled out the issue description based on our standard issue template.  You might not have known about that, and that's ok too, we'll tell you how to do it.

We have a standard template because Ansible is a really busy project and it helps to have some standard

[2016-02-02 19:29] bcoca commented on #14270
currently you can:

[code]

[2016-02-02 19:31] bcoca commented on #14250
since this is confirmed to work on devel and 2.0 I'm going to close this ticket, keeping the PR open for 1.9 so we can consider is this is something we want to backport.

[2016-02-02 19:31] #14250 closed, assigned to nobody

[2016-02-02 19:32] alv000h commented on #14077
I confirm this issue is repeteable under Powershell v2 (Windows 2008 R2).
**Environment:**
RHEL 6.6
Python 2.6.6
Powershell v2 (Not works with Ansible as stated above)
ansible --version
51584 1454424947.69794: starting run ansible 2.1.0 (devel 6105c8c77c) last updated 2016/02/02 15:48:23 (GMT +200) lib/ansible/modules/core: (detached HEAD 93d02189f6) last updated 2016/02/01 18:29:25 (GMT +200) lib

[2016-02-02 19:32] bcoca commented on #14230
so if the file must be changed for any reason, what date should go in the file, the previous modification time?

[2016-02-02 19:40] chromerobv opened #14276 "with_items not showing output until done"
with this in 1.\* ansible it would show output during each iteration, in 2.0 it shows nothing until it is done. when this is a large with list it prints nothing for a long time then spits out everything.

  template: src=check.json.j2
            dest={{ sensu_confs_directory}}/{{ item.name }}.json
            mode=0640
            owner={{ sensu_user }}
            group={{ sensu_group }}
  with_

[2016-02-02 19:41] nitzmahone commented on #14077
@dacr: can you confirm that you're running at least Powershell v3?

@alv000h: The current state of the world is that we just don't work with Powershell v2 at all- full stop. We can't have modules check the version, because the underlying infrastructure that Ansible uses to run modules remotely doesn't work against Powershell v2 (thus a chicken-and-egg problem exists).

I've played with some differ

[2016-02-02 19:46] bcoca commented on #14276
dupe of #14072

[2016-02-02 19:46] #14276 closed, assigned to nobody

[2016-02-02 19:55] ghost commented on #13565
:bow: my mistake

[2016-02-02 20:09] jimi-c commented on #13783
Ok yes going to close this now as we have search reimplemented. Any further issues can be discussed on the mailing list:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks

Because this project is very active, we're unlikely to see comments made on closed tickets, but the mailing list is a great way to ask questions, or post if you don't think this par

[2016-02-02 20:09] #13783 closed, assigned to nobody

[2016-02-02 20:17] bcoca commented on #14269
run with -v , it should show which config it found.

[2016-02-02 20:28] kustodian commented on #14270
That works with 2.0, but the problem is that by default it searches for the file in the `tasks` directory (and then in the playbook directory), so to have all the handlers in the same directory you need to use something like:

[code]

Using a block in this situation would be a lot cleaner.

[2016-02-02 20:32] abadger commented on #14176
Tested on fedora and centos6 with the following shells: /bin/sh /bin/bash /bin/dash /bin/zsh /bin/ksh /bin/tcsh /bin/csh /bin/fish (should use its own definition of _SHELL_SUB_RIGHT and LEFT).  All worked.  You've tested the change with /bin/sh on Solaris10.  So this seems safe to apply.  Will add it now.

[2016-02-02 20:38] kustodian opened #14278 "Regression: facts not gathered when using --tags"
##### Issue Type:
- Bug Report
##### Ansible Version:

ansible 2.1.0 (devel c5b4e194fa) last updated 2016/02/02 20:48:56 (GMT +200)
##### Environment:

Ubuntu 15.10
##### Summary:

When running a playbook by specifying tags, fact gathering is skipped.
##### Steps To Reproduce:

Run any playbook with `--tags tagname`.
##### Expected Results:

Facts should be gathered like in version before 2.0 when

[2016-02-02 20:40] #14176 closed, assigned to nobody

[2016-02-02 20:42] sivel commented on #14278
I believed this was recently addressed in https://github.com/ansible/ansible/commit/5587b08335f223fff64f54ced6f2790b3d6ee6f0 which was linked to https://github.com/ansible/ansible/issues/13602

Are you sure this is happening in the current HEAD of devel as per your version output?

cc @jimi-c

[2016-02-02 20:44] nitzmahone commented on #13936
Only case I could see where we'd want to pick up an ambient username (ala ssh behavior) would be kerberos SSO (ie, logged into control via krb, want to log into Windows with same interactive user). Behavior change regardless- anyone else want to weigh in on "pick up ambient user like SSH" or "bomb if user is not specified"?

[2016-02-02 20:45] kustodian commented on #14278
I just pulled again from the devel branch and tested again, the same thing happens. Here is the output of the `ansible --version` command:

[code]

[2016-02-02 20:47] bcoca commented on #14183
So after consulting the rest of the committers,  no one has the expertise nor has expressed the will to maintain this. Also they noted that there are other maintained Ansible Vim plugins available.

For these reasons I'm closing this ticket, sorry.

[2016-02-02 20:47] #14183 closed, assigned to nobody

[2016-02-02 20:50] toast38coza commented on #12744
Just a note, you can get this error if you're missing the:

[code]

hashbang at the top of your module file. Probably only relevant for people who are developing their own modules. But it tripped me up!

[2016-02-02 20:51] lystor opened #14279 "[2.x] set_fact + run_once breaks register variables"
Hi

ansible-2.0.1.0-0.1.rc1
centos 7.2.1511 x86_64

[code]

Please fix this bug.
Thank you.
##

With best regards,
Mykola Ulianytskyi

[2016-02-02 20:53] bcoca commented on #14278
duplicate of #14228

[2016-02-02 20:53] #14278 closed, assigned to nobody

[2016-02-02 20:53] bcoca commented on #14231
closing as dupe  of #14228

[2016-02-02 20:53] #14231 closed, assigned to nobody

[2016-02-02 20:53] kustodian commented on #14230
If the file should be changed for any reason, the date that should go into the file should be the current time. That way we will know exactly when the file was changed by Ansible.

[2016-02-02 20:56] kustodian commented on #14228
This breaks all our playbooks which we run using tags, since we expect that facts will be gathered.

[2016-02-02 21:10] bcoca commented on #14230
the date has to be one or the other, once the template is generated it cannot be both.

[2016-02-02 21:23] bcoca commented on #14247
hmm, does not seem like i can debug this as it requires me buying the routerOS ....

[2016-02-02 21:23] bcoca commented on #14247
@groggemans can you test with current devel? we have fixed a few issues with shells that might have cause this issue you see.

[2016-02-02 21:38] groggemans commented on #14247
[code]

@bcoca still exactly the same issue and the same strace output.

I did run this on a system that also has ansible 2.0.0.2 installed using pip. Can this intervene? Or is it safe to assume the source setup script masks this installation completely?

[2016-02-02 21:47] mike-pt commented on #14230
Actually my suggestion was not to "drop" the current info, but to have both, and I don't see why not...

My original idea was to be able to choose between one or the other, and maybe keep the default as is (unless the majority of users prefers the other).

But I can see why that tricky... It would had a bit more complexity to the date/time format, so if choosing between one, I would prefer to see

[2016-02-02 22:07] abadger commented on #14255
If you have pipelining off does it fail earlier (with the implicit setup module)?

[2016-02-02 22:16] ghost commented on #14269
The --version switch also shows the config: **config file = [blank]**

The -v switch on a playbook run says: *_No config file found; using defaults"_

Yet, it's definitely there: /etc/ansible/ansible.cfg

I can copy that config to my working directory and it gets picked up just fine.

[2016-02-02 22:21] dagwieers commented on #14268
@bfqrst I am trying to reproduce this on my laptop (v2.0.0.2), and for me it seems to work out fine.

[code]

Only when I deliberately override the SSH user in the inventory I can see the same behaviour you experience ?

[code]

To rule out inventory-related causes, I created a similar inventory as you:

[code]

To rule out the `ansible.cfg` file I also recreated it with the same content:

[code]

[2016-02-02 22:25] abadger commented on #14255
Also, what shell are you using remotely?  So far I'm unable to reproduce this (not using azure but not sure yet if that's a facter)

[2016-02-02 22:32] dagwieers commented on #14269
What are the permissions/ownership of `/etc/ansible` and `/etc/ansible/ansible.cfg` ?
Can you also try doing: **strace -f -e file ansible-playbook --version 2>&1 | grep ansible.cfg** ?

For me this returns:

[code]

PS I am also running v2.0.0.2 in this example.

[2016-02-02 22:37] kustodian commented on #14230
If the file is generated from a template first and then compared to the one on the host, then I can see why it's impossible to set the date to the current one. This probably won't be change since it would require some refactoring of how the template module worked.

Also in general I find `ansible_managed` to be useless especially if multiple users are using ansible to manage hosts. The reason is t

[2016-02-02 22:44] abadger commented on #14262
I'm not able to reproduce with a simpler test case:

[code]

Can you figure out some more information about what triggers this?

[2016-02-02 23:10] dagwieers commented on #14262
I can reproduce this with **raw** and **shell**, although they both have different behaviour:
- It works without **become**/**become_user**, using raw
- It fails with **become**/**become_user**, using raw and shell
- It also fails without **become**/**become_user**, using shell

(So basically it always fails using shell)

[code]

I have a simply world-readable /tmp/test.txt which every user should

[2016-02-02 23:31] dagwieers commented on #14262
@abadger Looking at the code, it seems to me that **raw** is not supposed to work with **become**/**become_user** ? But this is more your territory (I am not confident I am right :-))

Shell however is a complete different beast to unthread :-(

[2016-02-03 00:10] dagwieers commented on #14262
Actually, doing it directly on the shell, the result is the same.

[code]

Using wildcard and pipe together only works, when it is in fact piped directly to the shell instead to the cat. And this is maybe incidently the reason why it works with **raw** without **become**/**become_user**.

[code]

So I am inclined to change the behaviour to also quote when using **raw** without **become**/**become_

[2016-02-03 00:13] dagwieers commented on #14262
Hmm, when looking to fix this I noticed @bcoca already fixed it on the devel branch:

https://github.com/ansible/ansible/commit/c09c01a1f523da3b6f1f5597f51f5fc446f5c1df#diff-69a29e19a76e98587550dab380483594L501

So I guess this means this closes #14262 as a wont-fix, works as designed/intended.

[2016-02-03 00:25] ghost commented on #14269
They were root:wheel but had the same thought earlier and changed to my own username:group.  The config file is read/write for anybody (no execute except the folder itself).  Unfortunately there's no strace command on OSX.

[2016-02-03 00:56] dagwieers commented on #14190
I can confirm this problem with the below example:

[code]

[2016-02-03 00:58] dagwieers commented on #14190
@MikeVL Can you please confirm that the provided patch fixes the problem for you ?
(It does for my provided test-case, which failed exactly like yours in the first task)

Thanks in advance !

[2016-02-03 01:13] dagwieers commented on #14269
Please try: **dtruss -f ansible-playbook --version 2>&1 | grep ansible.cfg** (or something similar) instead.

You may want to try: **dtruss -f -t stat ansible-playbook --version 2>&1 | grep ansible.cfg** and
**dtruss -f -t open ansible-playbook --version 2>&1 | grep ansible.cfg** to see if that helps as well.

See: https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man

[2016-02-03 01:59] neowulf opened #14282 "Destination files get prepended with ANSI escape sequence"
#### Issue

[code]
#### Environment

The host machine is Mac OS X.

The remote machine is an [Amazon Linux AMI](https://aws.amazon.com/amazon-linux-ami/2015.09-release-notes/).

[code]
#### Possibly related to:
- #5798
- #12068

[2016-02-03 02:08] sivel commented on #14282
It sounds like you have a shell profile or similar that is setting shell colors for a prompt, and it is doing so even for non-interactive sessions.

[2016-02-03 02:20] neowulf commented on #14282
I get the same issue after resetting my PS1

[code]

[2016-02-03 02:21] sivel commented on #14282
The problem would not be with the master.  The problem would be with the remote target machine.

[2016-02-03 02:25] neowulf commented on #14282
So, I had the following lines in the remote machine's `~/.bashrc`:

[code]

which when commented out. The ping worked! I was actually wondering why my bash login was taking it's sweet time to login.

However, shouldn't I be able to disable loading `~/.bashrc` when using Ansible? What is the recommended practice? Is there a ssh flag? I wouldn't want to manage login profiles for every machine.

[2016-02-03 02:27] nitzmahone commented on #13856
@slimandslam - I'm not able to reproduce this exact issue (though I tripped over a couple others in the process). What version of Powershell are you running on 2008R2? I was seeing lots of other flaky behavior under 2008R2 with PS3, but it seemed rock solid under PS4...

[2016-02-03 04:15] zabrahair commented on #4531
I can not understand why the lineinfile will add aline even if none of line in file can match the regex pattern?

[2016-02-03 05:26] abi-rangaswamy opened #14283 "unarchive module fails for àâæçéèïîôœ(copy)!@#$%^&-().jpg*"
**Ansible error output :**

fatal: [puppetclient.xxxxx.me]: FAILED! => {"changed": false, "failed": true, "msg": "Unexpected error when accessing exploded file: [Errno 2] No such file or directory: '/home/services/xxxx/xxxx/xxxxx./test/phpunit/modules/xxxx/storage/a\\314\\200a\\314\\202\\303\\246c\\314\\247e\\314\\201e\\314\\200i\\314\\210i\\314\\202o\\314\\202\\305\\223(copy)!@#$%^&-().jpg'"}

**

[2016-02-03 05:56] nkitmitto opened #14284 "RabbitMQ Users and VHosts not Persistent"
I'm having an issue with the RabbitMQ module.  When I add a vhost and a user via the RabbitMQ module, the vhost nor user persist after a reboot.  Prior to the reboot I can see the user exists via rabbitmqctl list_users and rabbitmqctl list_vhosts.  After reboot, both users and vhosts are gone.  Here is my configuration:

`- name: Create sensu vhost
  rabbitmq_vhost: name={{ sensu_vhost }} state=pr

[2016-02-03 06:28] Akint commented on #14176
Temporary workaround worked.
Anyway, the problem is solved with your commits, thank you!

[2016-02-03 06:41] asivula commented on #14255
Looks that it tries to take SSH connection from remote Ubuntu to my local Ubuntu and tries to execute SFTP's PUT command before executing the SFTP connection.

Thinking whether IP addresses are changed and the problem is on fingerprints or something else on remote end or local end.

**ANSIBLE_SSH_PIPELINING=False**

[code]

**Shell**
Both ends uses bash

[code]

[2016-02-03 07:19] crazydisi commented on #14264
Hi bcoca,

thanks for the answer, i was in a hurry and didn't saw the ISSUE_TEMPLATE, sorry for that.

I fixed my bug request to meet your specifications.

Cheers,

Dennis

[2016-02-03 07:50] Vladimir-csp commented on #14184
Confirmed also when running on Ubuntu Trusty. Remote host where the problem appears is FreeBSD.

[2016-02-03 08:03] bfqrst commented on #14268
Hi @dagwieers ,

thanks for investigating. I think I got something. I omitted the upper part of my inventory for brevity and because I thought it has no relevance, but it turns out it is the interesting part. Have a look at my updated inventory:

[code]

As you can see there are two distinct sections but they are pointing to the same IP. Now Ansible 1.9.4 seems to use the latter, whereas Ansible 2

[2016-02-03 08:10] mgedmin opened #14285 "Wishlist: hide 'include' tasks when not in verbose mode"
One of the changes in Ansible 2 is that it now reports all `include` tasks.

This is a bit painful, especially when you've a big playbook and use `--tags` to select just a few of the tasks -- all the include statements for roles irrelevant to what I'm debugging now tend to hide the actual tasks being run in between the includes.

Suggestion: hide `include` tasks by default.  Show them if an error

[2016-02-03 08:13] k0ste opened #14286 "Retemplate on with_item loop broken in 2.0"
Source of playbook:

[code]

Works on Ansble 1.9.4 as expected

[code]

[code]

On 2.0 not work.

[code]

[code]

[2016-02-03 08:23] k0ste commented on #14286
May be some syntax is deprecated? I read google group from now up to dec 2015, change log and porting guide, solution not found.

[2016-02-03 08:41] kblcuk commented on #14258
Awesome! Thanks.

[2016-02-03 09:12] Caroga commented on #13563
I will try and use that, thank you for the quick tip!

[2016-02-03 09:29] asivula commented on #14255
Found the bug. The root reason was in my inventory file:

**Errorneus line in the inventory file**

`jenkins@xxxxx.azure.com`

[code]

Looks that Ansible handles the login name improperly in this case:
`debug1: Control socket "/home/yyyy/.ansible/cp/xxxxxx.azure.com]-[jenkins" does not exist`

**Corrected line in the inventory file**

`xxxxx.azure.com ansible_user=jenkins`

After inventory file co

[2016-02-03 09:56] jhawkesworth commented on #13936
I agree kerberos is the only case I can think of where you might want to pick up ambient username (and pre-existing kerberos ticket).  Its not actually how I run things myself but wouldn't want to shut the door to it.

[2016-02-03 09:57] mattclay commented on #14184
Confirmed for the user module running on FreeBSD 10.2.

[code]

[code]

[code]

[2016-02-03 10:01] jhawkesworth commented on #13856
I would thoroughly recommend installing Windows Management Framework 4.0 (WMF 4.0) - which includes an upgrade to powershell 4.0.  Unpatched WMF 3.0 on Server 2008 is not recommended - See the big blue box here: http://docs.ansible.com/ansible/intro_windows.html#windows-system-prep

[2016-02-03 10:19] dagwieers commented on #14268
@bfqrst Great. Because that is what I was expecting. The names used in the inventory is the key in a dictionary. So everything you put in there as host-specific variables will be merged into one big dictionary. That means that in some conflicting cases variables are superseded by other values.

You can prevent this by using different names for the same host (e.g. using IP address and hostname, or

[2016-02-03 10:25] dagwieers commented on #14282
Still I wouldn't be expecting this to corrupt hostnames though. I think we need to revise how we communicate back those pathnames to avoid any corruption.

@neowulf33 Can you send me exactly what's in your bash profile(s) so I can mimic this behaviour while looking for an elegant fix ?

[2016-02-03 10:32] k0ste opened #14287 "[2.0] ansible -m setup censored by no_log"
[code]

[code]

On 1.9.4 works fine
Need opetion to override no_log not only from playbook or config.

[2016-02-03 10:36] dagwieers commented on #14286
The error makes sense, you provide a string to with_items, and not a list of dictionaries. This string (a unicode string) does not have any property 'name', hence the error you see.

The obvious (and only?) solution (but also a very ugly one !) is sending it through the  to_json filter, similar to:

[code]

How to apply this to your use-case seems not trivial to me. I would not prefix-namespace yo

[2016-02-03 10:37] mattclay commented on #14184
I'm not seeing any issue with the code or behavior of the group module on FreeBSD. However, the user module will change the uid/gid in check mode.

[2016-02-03 10:50] lenar commented on #13876
Happens to me as well. Truly random it seems.

[2016-02-03 10:59] k0ste commented on #14286
dagwieers, I can't use dict. This [is why](https://groups.google.com/forum/#!searchin/ansible-project/k0ste/ansible-project/J9aNksRvDmg/2WISD0Nr01wJ) and [this is solution](https://github.com/k0ste/ansible-role-openvpn-ldap).

You don't understand. I replace example playbook and logs for a greater understanding of the problem.

The key of the problem, on 2.0:

jedi_{{ jedi_instance }} != {{ jedi_c

[2016-02-03 11:13] dagwieers commented on #14286
@k0ste I am working within the "realm" of how it currently works in v2. Whether this behaviour is how it is supposed to work, or in fact a bug is not something I can help you with. That's up to whoever designed it like it is. I don't know if it is the intention to have it working exactly as it was on v2 (or whether you were using something that was not intended to work in v1.9).

[2016-02-03 12:27] bfqrst commented on #14268
Thanks, I will keep that in mind. I must admit that usually you don't have duplicate entries in your inventory. Using this like I did is a kind of an edge case. But then again, I would imagine that Raspberry PI et al users do trip over this. The reason is as obvious as it is simple. You have a PI which usually gets assigned the same IP from the home router. Then you fiddle around with different OS

[2016-02-03 12:58] ghost commented on #13876
https://github.com/ansible/ansible/blob/200f95887373e215eb41adb3dcc4128a0a0e0f88/lib/ansible/plugins/action/__init__.py

There are two issues here.
1. Don't use the fall through like setting rc to / in order to flag something has gone wrong. The error handling approach in this file is faulty. My opinion - discuss!
2. In the function _make_tmp_path we find what I think is the root cause and why run

[2016-02-03 13:11] barzog opened #14288 "monit module monitors only process"
With that strings monit module allows monitoring only process states (as opposed in documentation "Manage the state of a program monitored via Monit"):

[code]

but for analyzing return codes of programs it should be added like this:
            if len(parts) > 2 and parts[0].lower() == 'program' and parts[1] == "'%s'" % name:
                return ' '.join(parts[2:]).lower()
with possible values

[2016-02-03 13:16] jfcoz commented on #14266
Thank you, I just was in the bad directory when launching ansible

[2016-02-03 13:16] #14266 closed, assigned to nobody

[2016-02-03 14:01] evetion opened #14289 "Ansible does not parse condition for dependencies on initial scan."
**Issue Type:**
Bug Report

**Ansible Version:**
ansible 2.0.0.2

**Environment:**
N/A

**Summary:**
When creating dependencies between two roles, depending on a global condition, ansible will fail  with " A recursion loop was detected".

**Steps To Reproduce:**

Create a role A and a role B (ansible-galaxy will suffice) with the following dependencies:

_roles/a/meta/main.yml_

[code]

_roles/b/m

[2016-02-03 14:13] vmalloc commented on #14254
You're right. My bad.

Thanks!

[2016-02-03 14:15] zacharya commented on #10065
+1

[2016-02-03 14:22] bcoca commented on #14247
The source setup should mask other versions. This looks like a problem with the ssh connection getting stuck. It is probably not a hung/blocked process as timeouts would be hit as no keepalive communication would happen.

Sadly w/o being able to test directly I can only speculate. Does the ssh transport not work at all?

[2016-02-03 14:42] bcoca commented on #14264
So this shows the modules using a non standard setting:
`LANG=de_DE.UTF-8 LC_ALL=de_DE.UTF-8 LC_MESSAGES=de_DE.UTF-8`

in 2 we seem to set the default from the current LANG setting in the master's  environment, this was changed to solve #13399 which forced the default to en_US.UTF-8 which was not present on many target machines.

The apt module in any case sets LANG=C and should be impervious to t

[2016-02-03 14:46] bcoca commented on #14268
Closing as per above, thanks @dagwieers

@bfqrst I would have actually expected this to work the same across both versions, a host should get the variables from all the groups it is defined in, this looks like a bug in 1.9 for not picking up the  variable. Making a note to fix this in possible 1.9.5 release.

[2016-02-03 14:46] #14268 closed, assigned to nobody

[2016-02-03 14:49] dagwieers commented on #14268
@bcoca And that is the case, but ansible_user is not effective on v1, while it is on v2.

So everything is fine, no note needed ;-)

[2016-02-03 14:49] bcoca commented on #14287
`ANSIBLE_NO_LOG=False ansible 127.0.0.1 -m setup`

[2016-02-03 14:50] #14287 closed, assigned to nobody

[2016-02-03 14:53] bcoca commented on #14268
ah, DUH!, it would work the same if it where `ansible_ssh_user` but since `ansible_user` is not used in 1.9 ....

removed note, this all works as expected.

[2016-02-03 14:58] #14184 closed, assigned to nobody

[2016-02-03 15:05] bfqrst commented on #14268
This inventory file works for me. (Ansible 2.0.0.2)

[code]

Thanks for helping @dagwieers @bcoca

[2016-02-03 16:02] dagwieers commented on #14268
@bfqrst That is what I meant ! Well done.

[2016-02-03 16:13] dagwieers commented on #14190
@MikeVL New confirmation needed !

[2016-02-03 16:13] #14190 closed, assigned to nobody

[2016-02-03 16:17] wholroyd commented on #14135
See https://github.com/wholroyd/ansible-issue14135 for an example project that contains the essentials of what I'm trying to accomplish.

[2016-02-03 16:20] dagwieers opened #14291 "Ansible 2.0.0.2: Booleans in dictionaries cause to_json to fail"
Very weird issue that is easy to reproduce.

If a dictionary has a boolean defined, `to_json` returns a `string` rather than a real `dict`.

The following playbook displays the problem:

[code]

If you run this, you will see that the second dict fails:

[code]

We experience this issue within roles where we assign a dictionary to a role variable.

[2016-02-03 16:20] ei-grad opened #14292 "Broken escaping with lookup for JSON template with convert_data=False"
How to reproduce:

[code]

plugin.json.j2:

[code]

This generates the following `args` contents:

[code]

[2016-02-03 16:27] bcoca commented on #14291
`to_json` should always return a string as it should avoid 'typing' the contents, if passing a dict it will 'break' anything expecting an actual JSON document (mainly some modules).

[2016-02-03 16:44] dagwieers commented on #14291
@bcoca Sure, but what I meant is that one is correctly handled as a dictionary by Ansible, the other is not.

The problem is not the debug module itself, because it also fails with roles etc. We get errors like:

[code]

[2016-02-03 16:52] bcoca commented on #14291
https://github.com/ansible/ansible/blob/devel/lib/ansible/template/__init__.py#L329 <= this is what we use to force 'to_json' to stay as strings (https://github.com/ansible/ansible/blob/devel/lib/ansible/template/__init__.py#L174 <= sets regex)

when looking at each var w/o the filter i do get dicts in both cases, not sure what is going on but this is a bug.

[2016-02-03 17:36] groggemans commented on #14247
It goes wrong after the connection is made and the remote command is executed. If I append `quit` (equal to `exit` on normal *nix OS) to the remote command, ansible does print the output of the executed command, and reports the normal program flow was interrupted.

I can't test until Monday, but I'll have a look at the ansible source code and see if I can figure it out myself. I'll get in touch th

[2016-02-03 17:39] dagwieers commented on #14291
@bcoca Thanks for the pointers (I was going crazy pinpointing this).
Hopefully I will find some time tomorrow to look at this.

[2016-02-03 18:00] techgirlgeek commented on #14147
I am still getting the same error identified above, when using vars_prompt.

[2016-02-03 18:17] dagwieers commented on #14291
@bcoca Can you look if this is done to your taste ? It works as expected.

I found that the existing code raised a NameError (but somehow ended up corrupting the actual data).

[code]

I guess this in itself is worthy of looking into.

[2016-02-03 19:15] vvatlin opened #14294 "lookup first_found"
Hello. This code worked with ansible 1.9.4 but not working with 2.0.2

[code]

Error:

[code]

It seems that first_found lookup returned list instead of string.

https://groups.google.com/forum/#!topic/ansible-project/MDBoqJ5NHg4

[2016-02-03 19:30] jasonmader opened #14295 "Ansible 2.0 zypper module type=patch state=present, always results in changed"
`- zypper: type=patch name=openSUSE-2016-128 state=present
`

result is always,

[code]

[2016-02-03 19:57] bcoca commented on #14294
dupe of #14190, recently fixed in devel and stable-2.0 via #14281 , will be present in next releases

[2016-02-03 19:57] #14294 closed, assigned to nobody

[2016-02-03 20:09] abadger commented on #14255
Looks like username@hostname.doman in inventory works by accident.  There's some cornercases where it does unexpected things (paramiko doesn't work but ssh does, the username@hostname.domain currently appears to override the value of ansible_user whereas we'd want ansible_user to take precedence, this bug which seems to be one portion of the connection seeing the part before the @ as a username bu

[2016-02-03 20:10] ThomasSteinbach opened #14296 "Ansible 2.1 overrides default variables by accident"
Since I recently updated my Ansible installation repository, Ansible overrides default variables where it should not. If I call a sub role as dependency of a 'parent' role twice, but the last time with overriding a default variable, the variable was also overridden on the first call. Here is a tiny example setup (I omitted the starting `---` in every file):

**sub_role/defaults/main.yml**

[code]

[2016-02-03 20:37] asivula commented on #14255
@abadger: Ok. Sounds reasonable. It was a bit tricky to understand the SSH error so hopefully this will be fixed in some upcoming release. I'll stick with ansible_user.

[2016-02-03 20:45] abadger commented on #14262
Okay, so knowing that it's the way /bin/sh behaves, it's possible for the user to fix this in their playbook:

[code]

Specifying executable to be bash, zsh, ksh, (even csh and fish for this minimal example) work here.  This seems to just be a problem of shell portability.  Maybe adding an example to the shell and raw module would be appropriate as a "fix" (we can't change the default as bash, zsh

[2016-02-03 21:12] abadger commented on #14262
Thanks @Hubbitus for reporting this and thanks @dagwieers for figuring out what's going on!  I've pushed a documentation change here: https://github.com/ansible/ansible-modules-core/commit/6ff4c4cb7146e2515805027e387a10b57f9c2042

[2016-02-03 21:12] #14262 closed, assigned to nobody

[2016-02-03 21:25] dagwieers commented on #14262
Looks good.

[2016-02-03 21:44] CoreyFirespotter commented on #13046
Here is a patch we're using to workaround this. Probably not a good fix for everyone, but might unblock some.
[fd_leak_fix.txt](https://github.com/ansible/ansible/files/116452/fd_leak_fix.txt)

To apply, cd to the egg folder and run:
patch -p1 < fd_leak_fix.txt

[2016-02-03 22:06] codenrhoden opened #14298 "add_host does not honor 'when'"
Issue Type:

Bug Report

Ansible Version:

$ ansible --version
ansible 2.0.0.2
  config file = /Users/travis/ansible/ansible.cfg
  configured module search path = Default w/o overrides

Ansible Configuration:

a custom role path, nothing else

Environment:

OS X 10.11.3.  Managing remote Ubuntu 14.04 servers, but problem is all local.

Summary:

When using the `add_hosts` module, the `when` clause

[2016-02-03 22:08] bcoca commented on #14298
the when in this case is not a directive but a variable you are setting for the host.

you need to outdent it for it to be considered a directive.

[2016-02-03 22:27] hspencer77 opened #14299 "Number of cloud modules with the updated method of connecting AWS doesn't work against Eucalyptus Clouds"
**Ansible Version**

[code]

**Eucalyptus Version**

[code]

**OS Version of Eucalyptus Machine Components**

[code]

**Summary**
There are a couple of issues.  I added them to this ticket since they are both closely related to each other.  If these need to be broken out into two separate issues, please let me know.

**_Issue 1_**
Attempted to use the ec2_elb_lb module in the following [tasks](htt

[2016-02-03 22:44] hspencer77 commented on #14299
Out of the list of AWS cloud modules I listed in the issue that use `connect_to_aws`, which calls boto's `connect_to_region`, the cloudformation module was not mentioned.  I reviewed the module, and it calls [boto.cloudformation.connect_to_region()](https://github.com/ansible/ansible-modules-core/blob/devel/cloud/amazon/cloudformation.py#L304-L310) directly; therefore it falls into the same catego

[2016-02-03 22:47] dagwieers commented on #14298
Indeed, the correction looks like this:

[code]

To understand how YAML is processed, you may want to look at the [YAML Wikipedia](https://en.wikipedia.org/wiki/YAML) entry, or this [YAML Cookbook](http://yaml.org/YAML_for_ruby.html).

[2016-02-03 22:54] romanrev commented on #14201
@bcoca I still consider it a bug - that Ansible 2.x applies the "when variable is defined" condition only to the tasks which do not use the `with_items` loop. Even if I add an explicit "when defined" condition to the above role:

[code]

it still errors out. However, if I use the above task as a stand-alone task in the playbook, Ansible 2.x happily ignores the task.
To me, this looks like an incon

[2016-02-03 23:01] dagwieers commented on #14296
I can confirm this behaviour. If you run the `sub_role` twice from a playbook, this behaviour does not occur. But if you run it from another rol (as reported) the exact same thing happens.

[code]

Results in:

[code]

But if you run the `sub_role` twice from a `parent_role`:

[code]

It fails like this:

[code]

[2016-02-03 23:01] bcoca commented on #14201
the when: is applied to ALL tasks, the issue here is that a previously ignored Exception/error was being lost and now it is reported.

`when` and `with_` have not changed on how they work in this case, error reporting has changed to actually report the error. Other things that 'ran' unreported until this fix were misspelled directives or duplicate directives so this:

for example:

[code]

the 1st

[2016-02-03 23:03] bcoca commented on #14201
Also, if default([]) is 'incorrect' in your case, then the when condition is also incorrect.

[2016-02-03 23:07] romanrev commented on #14201
@bcoca you have still not explained why when the `some_var` is undefined the task

[code]

it is ignored in a play however is being reported as an error in a role.
It's good that you have fixed the bug in error reporting that you have just outlined, however another bug seems to be not fixed.

[2016-02-03 23:09] romanrev commented on #14201
No, that's not true. The whole role should be ignored in case the `some_var` is undefined. However, if it is defined, it can't be an empty list.

[2016-02-03 23:13] dagwieers commented on #14292
I cannot confirm this on my system. However I did simplify the example (and may have destroyed evidence in the process).

[code]

This results in:

[code]

Which seems to look fine.

@ei-grad Can you provide me with the most simple version of your issue ? Drop all the ballast and see what is the minimum playbook that is left over that demonstrates the issue.

[2016-02-03 23:32] nikhilo commented on #13262
+1 for the feature. `block_item` sounds like a good keyword in this case

[2016-02-03 23:46] #14040 closed, assigned to nobody

[2016-02-03 23:55] sivel commented on #14201
`when` statements are only ever applied to tasks.  When you specify a `when` statement on a role, Ansible is merging the `when` statement down onto each individual task.

Another thing to note is that `when` statements are interpreted for each iteration of a `with_` loop, so effectively `when` statements are evaluated after `with_` loops.  As a result, if a `with_` loop such as `witth_items` tries

[2016-02-04 00:02] romanrev commented on #14201
@sivel: I get everything what you are saying, but you have also not explained the reason behind the inconsistency I reported above (https://github.com/ansible/ansible/issues/14201#issuecomment-179521835)

Ansible 2.x **does not produce error** on the task with the `with_items` loop with `when: some_var is defined` condition when it is used _in a play_, however it does produce an error when that ta

[2016-02-04 00:13] codenrhoden commented on #14298
I can't believe I made such a silly mistake.  Just been one of those days.  My apologies. :)

[2016-02-04 00:13] #14298 closed, assigned to nobody

[2016-02-04 00:19] dagwieers commented on #14216
Shouldn't you be doing this instead:

[code]

And let the `template` module pick up the files automatically from the role's `templates/` directory ?

At least that works fine for me.

[2016-02-04 00:33] dagwieers commented on #14151
I cannot reproduce this using Ansible v2.0.0.2.

[code]

And this results in:

[code]

[2016-02-04 00:42] dagwieers commented on #14048
I cannot reproduce this with the following playbook:

[code]

With the following output:

[code]

[2016-02-04 00:52] dagwieers commented on #13780
I can confirm that I cannot reproduce this with Ansible v2.0.0.2.

Using the following playbook:

[code]

With the following output:

[code]

[2016-02-04 01:29] dagwieers commented on #12620
I can reproduce this in Ansible v2.0.0.2 using the following playbook:

[code]

Resulting in:

[code]

[2016-02-04 02:07] Yannig commented on #12620
I have a little workaround when you get this kind of problem, use vars['salt_value']:

[code]

Should work with Ansible 1.9 too.

[2016-02-04 02:09] sivel commented on #12620
Here are a few options.  All of these are tested and working in 2.0:

[code]

[code]

The last form is utilizing the new `UnsafeProxy` python class in 2.0, to prevent ansible from trying to template the value.

Based on the success of the above in 2.0, I'm going to go ahead and close this out.

If you have further questions please stop by IRC or the mailing list:
- IRC: #ansible on irc.freenode.ne

[2016-02-04 02:11] Yannig commented on #12620
@sivel nice !

[2016-02-04 03:11] ghost commented on #14269
I have to sudo dtruss (no surprise) but then it complains about dtrace.  In any event, the work-around is to put the ansible.cfg in your working directory if you encounter this.

`"dtrace cannot control executables signed with restricted entitlements".`

[2016-02-04 03:40] neowulf commented on #14282
Thanks @sivel @dagwieers for helping me resolve this issue.

Here is the offending snippet within `~/.bashrc` on the remote host:

[code]

I am also attaching `nvm.sh` - [nvm.sh.txt](https://github.com/ansible/ansible/files/116847/nvm.sh.txt)

You may find it easier to install nvm by following the installation steps found on the [NVM project page](https://github.com/creationix/nvm) which will esse

[2016-02-04 03:43] jimi-c commented on #14040
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-02-04 03:54] gergnz commented on #13727
@ayqazi the app we use to generate the temporary credentials exports both. so I'm not sure that is a workaround.

[2016-02-04 04:23] nicolas-g commented on #963
+1

[2016-02-04 05:54] k0ste commented on #14286
Any news?

[2016-02-04 07:34] usterk commented on #14048
Maybe I'm testing it in the wrong way.

Here is what I'm doing:

[code]

and then:

[code]

[2016-02-04 08:52] atanass opened #14301 "Symbolic link to a directory created with a role task file with owner attribute is not accessible to root user"
Hi,
My ansible version is:
ansible 2.1.0 (devel a584ab3420) last updated 2016/02/02 12:07:20 (GMT +300)
I have a defined role with a tasks file which includes creation of a symbolic link to a directory with owner and group attributes set to a specific user. When I execute the playbook, the symlink is created but I cannot access it with root user. The issue does not appear when I create it with an

[2016-02-04 09:05] 375gnu commented on #9972
From man 1 hostname:

[code]

So, technically ansible does it right, and if you have incorrect ansible_fqdn either fix your DNS or /etc/hosts.

[2016-02-04 09:37] hExPY opened #14302 "Help (maybe bug) using with_items in combination with groups and jinja2 filter"
Hey guys,

i think i found a bug since version 2.0.0.0

When i try to run this task (part of a role) and the variable lbhostsgen is "**head**":

I get this strange error while executing:

This is my inventory file:

With my understanding ansible isn't able to resolve the with_items parameter **groups.uaweb | intersect(groups.{{ lbhostsgen }}**.

Maybe you guys can help me out.

Kind regards,
Marvy

[2016-02-04 10:13] crazydisi commented on #14264
Hi,

unfortunatly the patch doesn't work like expected

[code]

[2016-02-04 10:17] dagwieers commented on #14048
@usterk I have tested with 2.0.0.2 only, I will come back with some more tests with the devel branch.

[2016-02-04 10:19] dagwieers commented on #12620
@sivel  Can you please reopen this bug report, because I think this warrants a proper solution. (Or at least a discussion and a proper documented known issue)

[2016-02-04 10:42] insom commented on #10779
I'd just like to add that busy hosts with hundreds of LVM logical volumes is also a scenario where I'm seeing intermittent failures caused by the ten second timeout. I'm now running a fork with a larger value. I can see that, because it's a decorator, making this timeout configurable may be a pain, but it would be really useful for certain use cases (while I can also see that for some people 10 se

[2016-02-04 10:52] drybjed commented on #14248
Using an `include_vars` module for default role variables defeats the reason default variables exist in the first place, namely being used to provide "last resort defaults" which can be easily overwritten by other parts of the role/playbook.

The idea of multiple files in `defaults/` directory was previously being discussed on IRC, we concluded that parsing the `defaults/` directory similarly to `

[2016-02-04 11:04] tgrzemski commented on #13116
Hi,
I had the same problem. Turning off "System Integrity Protection" is quite risky.

You can try to do this:
sudo pip install --ignore-installed --upgrade ansible

[2016-02-04 11:12] wintechdevops opened #14303 "Ansible and Slack MSG Options"
I am trying to see what variables I can use to send messages to Slack.
When I job is run I want it to send the results to Slack...if the job completed successfully, failed, changed? Is this possible?

I am currently using the following in my playbook...

[code]

Is there a variable that I can use to get the job result? I tried using "{{ change }}" in the 'msg', but this did not work.

Thanks