[2019-03-25 13:23] dagwieers commented on #53459
Yep, I am looking at this now. It is strange that this usage is not covered by our existing integration tests.

[2019-03-25 13:39] dagwieers commented on #53459
Ok, I am not 100% this is a regression in the sense that what you ought to be doing is:

[code]

Because the xml module is not using the value of `attribute` at all, it is returning the information coming from the xpath only. So it is ignoring the `attribute` parameter (as was documented/commented in the code and only now activated).

The stricter parameter testing was planned before, but because

[2019-03-25 13:41] GrandeTartine commented on #52937
!component =lib/ansible/modules/network/cloudengine/

[2019-03-25 13:46] tiraboschi commented on #53459
If you look at https://docs.ansible.com/ansible/latest/modules/xml_module.html in the example section you have:

[code]

And this is now broken so I think it's a regression or at lest remove the broken example.

[2019-03-25 13:47] jakister commented on #44310
This essentially makes the module unuseable. I can't even overwrite the config on the device without passing a filter, which makes no sense at all.

[2019-03-25 13:52] dagwieers commented on #53459
@tiraboschi Sure, but even there the attribute parameter is completely ignored. So also that example is wrong and we should fix it. What I could do is give a warning in this case, but still continue and deprecate this by Ansible 2.12...

[2019-03-25 13:56] vMarkusK opened #54335 "VMware: vmware_guest does not set "memory_reservation" in combination with "cpu_reservation""
##### SUMMARY

If a Playbook includes Memory and CPU reservation anly the CPU reservation is set.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Module: vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

VMware vSphere 6.7 Update 1

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

CPU and Memory reservation should be set.

##### ACTUAL

[2019-03-25 13:58] mycloudrevolution commented on #54335
Note: if `"cpu_reservation": 256` is removed from Playbook, the Memory reservation is set.

[2019-03-25 14:00] tiraboschi commented on #53459
So is there no way to read the value of an attribute with the xml module?

[2019-03-25 14:02] timdiels commented on #15321
On OpenSSH_7.9p1, OpenSSL 1.1.1b, ansible 2.7.8, when confronted with the `UNREACHABLE` error, with `msg` containing that authentication succeeded (`Authenticated to`) but mentioning a broken pipe (`debug3: mux_client_read_packet: read header failed: Broken pipe`), setting `-o ControlMaster=no` in `ssh_args` worked for me without having to use paramiko or dropping `ControlPersist`.

[2019-03-25 14:07] dagwieers commented on #53459
@tiraboschi The parameter `attribute` is ignored by the xml module. This means you do not have to specify it because it does not care (and the correct behavior was that it should not have accepted it because it is not used). So yes, just remove that parameter and it works exactly the same (i.e. it returns all attributes, unless you specify it in the xpath).

[2019-03-25 14:10] GrandeTartine commented on #52937
It may be related to this pull request : https://github.com/ansible/ansible/pull/41357
This pull request introduce a lot of changes on how netconf is used by these modules.

Maybe you can help us @justbiaoliu ?

[2019-03-25 14:12] #54308 closed, assigned to nobody

[2019-03-25 14:15] sivel commented on #54330
Ultimately you will need to consult an IP lawyer as I am not a lawyer.

However, based on my understanding of the GPL, if a plugin imports GPL code to perform work, that code is a derivative work and must inherit the GPL license.

Ansible modules typically don't import GPL code, they rely on `ansible.module_utils.basic` which is licensed as [Simplified BSD License](https://opensource.org/licenses/

[2019-03-25 14:15] #54330 closed, assigned to nobody

[2019-03-25 14:33] bcoca commented on #18559
a fail if we hit deprecated version attempt: #18470

[2019-03-25 14:48] aioue commented on #26762
@Akasurde I'm no longer in a position to test this

[2019-03-25 14:55] dagwieers commented on #53459
Please review and approve #54336 if you want this to be fixed in Ansible v2.8 (freeze is next week).

[2019-03-25 15:00] bcoca commented on #54280
@Andersson007  yes, rename would be better

[2019-03-25 15:01] bcoca commented on #54280
@gundalow
1) yes
2) yes
3) i would like, but would not block on this

[2019-03-25 15:16] agowa opened #54339 "VMware: VMware inventory plugin group by Folder"
##### SUMMARY
Currently the vmware inventory plugin groups all virtual machines by operating system, which is most of the time useless for enterprise environments or for cloud providers with multiple tenants.
Therefore an additional option for the `vmware.yaml` that allows to group by folder/resource group/attribute/vm-name-prefix would be very helpful.

##### ISSUE TYPE
- Feature Idea

##### COMP

[2019-03-25 15:20] bcoca commented on #27897
@Akasurde no, there are plenty of cases that does not cover

[2019-03-25 15:25] bcoca commented on #54301
`ansible_play_group` won't work as `hosts:` gets resolved to a list of hosts, we don't use groups other than for selection and they are just a 'host property' in the play (`group_names`), and all hosts are always part of at least 2 groups, but not limited to that.

[2019-03-25 15:38] Erilbeth opened #54342 "gcp_compute plugin failed to parse"
##### SUMMARY

gcp_compute plugin is not working. Gives an error 'Failed to parse'.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

System Version:	macOS 10.14.3 (18D109)
Kernel Version:	Darwin 18.2.0

##### STEPS TO REPRODUCE

Followed the link https://docs.ansible.com/ansible/latest/plugins/inv

[2019-03-25 15:43] sivel commented on #54300
This is expected.  The vault file path cannot be supplied from within a playbook, largely due to the way vault can work.  It is possible to fully encrypt a playbook with vault, as well as encrypting parts of inventory, which are needed before the playbook is parsed.

The `environment` keyword, is only used to set the environment on a per task basis, on the target machine, and does not affect how A

[2019-03-25 15:43] #54300 closed, assigned to nobody

[2019-03-25 15:43] #53797 closed, assigned to nobody

[2019-03-25 15:46] narayaniv commented on #43629
@trishnaguha - I don't think you answered my question. According to the user who opened this issue on Aug 3, 2018, the issue was seen in Ansible version 2.6.0. In your response to him on Aug 21, 2018, you asked him to test on devel branch.  What release version of Ansible 2.6 was under development then, in which you applied the fix? The reason I am asking the question is because we ran into the sa

[2019-03-25 15:47] #54073 closed, assigned to nobody

[2019-03-25 16:03] #53013 closed, assigned to samccann

[2019-03-25 16:04] LeDOC666 opened #54343 "VMware: Create multiple tag with vmware_tag"
##### SUMMARY
Im trying to mass create tag on vcenter.
On my inventory, if I have 1 tag to create, no problem except the error currently correcting by vmware.
If I create multiple tag, sometime I get error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_tag

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Target Vcenter 6.7

##### STEPS TO REPRODUCE

[2019-03-25 16:07] LeDOC666 commented on #54343
If I put only one or other host on my inventory, no problem, If 2 together, error

[2019-03-25 16:19] ericsysmin opened #54345 "allow specifying of node-version to gcp_container_node_pool"
##### SUMMARY
Currently using the Ansible module you are unable to specify the node-version for creation this means there's some functionality gap between `gcloud container node-pools create` and the gcp_container_node_pool module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

gcp_container_node_pool

##### ADDITIONAL INFORMATION

I'd use it to create a node pool with a specific version

[2019-03-25 16:20] #53060 closed, assigned to Akasurde

[2019-03-25 16:28] Akasurde commented on #54118
resolved_by_pr #54123

[2019-03-25 16:35] sekosekotine opened #54346 "vmware_guest_file_operation copy jinja support"
##### SUMMARY

When we use the vmware_guest_file_operation to copy a file to a remote VM, the variables inside the file are not converted with jinja. So in file copied we kept, for example {{ customerid }}, it's not replaced with the good value "Github"
##### ISSUE TYPE
As templates, is it possible to have variable replaced with good values when copying files to remote VM.

##### ANSIBLE VERSION
a

[2019-03-25 16:44] Akasurde commented on #54339
@agowa338 Thanks for reporting this issue. Could you please take a look at this existing PR https://github.com/ansible/ansible/pull/52782 ? This will expedite the merge process of that PR. Thanks.

needs_info

[2019-03-25 16:44] Akasurde commented on #54339
resolved_by_pr #52782

[2019-03-25 16:45] felixfontein commented on #54303
!component =lib/ansible/modules/crypto/openssl_csr.py

[2019-03-25 16:50] Akasurde commented on #54343
Readable traceback -

[code]

[2019-03-25 17:00] Akasurde commented on #54343
@LeDOC666 Thanks for reporting this issue. I will try to reproduce this in my environment and get back to you ? Thanks.

[2019-03-25 17:04] #49556 closed, assigned to nobody

[2019-03-25 17:38] mindfury commented on #54116
I'm going to withdraw this issue for now.  If I can reproduce it on a specific ESXi host and narrow this down I'll open another issue.  Thanks.

[2019-03-25 17:38] #54116 closed, assigned to Akasurde

[2019-03-25 18:25] insanity54 opened #54351 "Add Custom iso support for vultr_server module"
##### SUMMARY

Vultr allows users to upload Custom ISO files of any operating system, and provision machines using that ISO. This lets users run less common operating systems on Vultr compute instances.

The Vultr API exposes the ability to choose the `ISOID` of a previously uploaded ISO file, however the vultr_server module does not implement this API endpoint.

Example retrieval of a user's uplo

[2019-03-25 18:52] felixfontein commented on #54303
cc @MarkusTeufelberger @Shaps @Spredzy @Xyon @puiterwijk @resmo

[2019-03-25 18:57] felixfontein commented on #54303
Should be fixed in 2.8 by using the cryptography backend. @Shaps wants to investigate it so we can see what's happening with pyOpenSSL.

[2019-03-25 19:06] #53923 closed, assigned to nobody

[2019-03-25 19:06] #29558 closed, assigned to nobody

[2019-03-25 19:10] AlanCoding commented on #54065
Update - #54060 and #54099 are needed

[2019-03-25 19:14] felixfontein commented on #29558
FYI: the PR has been merged, so it will be included in Ansible 2.8.

[2019-03-25 20:13] tomcooperca commented on #54249
Sure, I'll give it a go and reference back to this issue.

[2019-03-25 20:33] Routhinator commented on #41313
Just ended up here because of the exact condition that @vbotka describes.

We have an NFS role and two plays that are included based on server or client configuration. In the Server play, which runs first, there is a flush_handlers meta to ensure changes to the NFS server config are applied before the clients are configured and attempt to mount based on the presumption these changes are applied. T

[2019-03-25 20:46] mhunsber opened #54357 "win_acl doesn't work with registry keys"
##### SUMMARY

Since the module uses the `LiteralPath` argument for getting and setting the ACL, it does not work for registry keys. This is due to a weird behavior in PowerShell's `Get-Acl` and `Set-Acl` cmdlets where you have to be in the drive of the registry key for `LiteralPath` to work.

In earlier versions of powershell, e.g. PSv2, `LiteralPath` doesn't exist for `Get-Acl` and `Set-Acl`
###

[2019-03-25 21:22] mhunsber commented on #54357
If I change win_acl.ps1 [lines 130-136](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_acl.ps1#L130-L136) to the following, it behaves as expected, but I don't know if this is a better approach than just using `-Path` because it feels like a hack.

[code]

[2019-03-25 21:38] mgates86 commented on #50042
I’m having same issue with crowdstrike. Did you figure out how to get this working? We have many modules that are broken now. Crowd strike has not been much help so far.

[2019-03-25 21:48] rektide commented on #8733
can a mod please go back to https://github.com/ansible/ansible/issues/4546 & mention that this works now?

[2019-03-25 22:03] jbilbro commented on #25017
I'm having this same issue.  Adding credentials and inventory do not fix it for me.  With credentials, we have a machine and a vault credential so I'm not sure how I'd specify both anyhow.

[2019-03-25 22:21] boormat commented on #26190
A simple but effective solution would be to keep the existing symantecs of ansible vault encrypt, decrypt and view commands, to detect and encrypt and decrypt values of complete files.

For existing users of encrypted files, it would be trivial to convert to the enrypted values.  It could even be considered best practice is to keep encrypted values in files named such as secrets.yml, to make it ea

[2019-03-25 22:24] liuyangjason commented on #54306
i think it is bug because the ansible yum module is to mimic yum and yum can work properly while ansible yum module does not work properly.

[2019-03-25 22:34] LovelyFengDanBaiLu opened #54363 "The 'creates' parameter in Command module does not work"
[code]

I don't understand it.
check the grammar and found no problems.
I am going crazy.
Please help me.
Thanks.

[2019-03-25 22:35] tomcooperca commented on #54249
ready_for_review

Couldn’t find any relevant test cases. I can attempt to incorporate one

[2019-03-25 22:44] MarkusTeufelberger commented on #26190
That solution would be simple, but likely not enough. For example every variable can be encrypted with a different secret/vault identifier. Also encrypted and unencrypted variables can be mixed.

I'd still like to have a way at least to decrypt all variables belonging to a vault ID transparently using `ansible-vault`. Seriously, this is a usability problem since Ansible 2.3! This makes it nearly i

[2019-03-25 22:57] bcoca commented on #54363
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, the problem is that y

[2019-03-25 22:57] #54363 closed, assigned to nobody

[2019-03-25 23:21] rambleraptor commented on #54345
Hello! This has been [added](https://github.com/ansible/ansible/blob/8a2b99d1eeada0bf5bc4a9c3ac37dd61c11d8d6e/lib/ansible/modules/cloud/google/gcp_container_node_pool.py#L147-L151) for the upcoming 2.8 release.

close_issue

[2019-03-25 23:37] jamescassell commented on #52506
Other items to standardize:
- `require_tls`: specify this option to require an encrypted connection, rather than allowing a plain-text connection. (variants include `use_ssl`, `use_tls` (multi-variant), `<module-name>_use_ssl`)

[2019-03-26 00:12] mamullen13316 commented on #50913
Hi Antien,
Could you please share the openssl command you used to regen the certs?  Also what do you mean by insert it manually?

I installed a fresh copy of Python 3.7.2 and Ansible 2.7.9 on my Mac,  and now I am getting just a 403 error without an error message.

fatal: [10.10.250.55 -> localhost]: FAILED! => {"changed": false, "error": {"code": "403", "text": ""}, "msg": "APIC Error 403: "}

In

[2019-03-26 00:44] guhcampos commented on #54345
duplicate of #53304

[2019-03-26 00:57] guhcampos opened #54373 "Changes to gcp_container_cluster and gcp_container_node_pool resources are not applied"
##### SUMMARY

These modules work correctly when used for the first time, but if any changes are made to the resources in the roles/playbooks, those are never applied to said resources in practice. Every single subsequent run simply returns "OK" if the resource with the same name exists, regardless of any changes.

This may not be restricted to these two modules, but those are the ones I've verifi

[2019-03-26 01:46] zoredache opened #54374 "The search highlight seems to add padding in code blocks"
##### SUMMARY

When searching the docs site for something like 'async' you will be given a result that will highlight the search term.  Example: (`https://docs.ansible.com/ansible/latest/user_guide/playbooks_async.html?highlight=async`).

If the highlighted search term is inside a code block padding will be added that makes incorrectly seem like you need to add indenting for the term you searched

[2019-03-26 02:05] yuwzho commented on #54093
close_me

[2019-03-26 02:13] #54093 closed, assigned to zikalino

[2019-03-26 03:07] yuwzho commented on #51751
@JohnnyRacket This error message shows the required CDN SDK library is missing. When installing the devel branch, [this requirement.txt](https://github.com/ansible/ansible/blob/devel/packaging/requirements/requirements-azure.txt) is also required. Please download this file and run `pip install -r requirements-azure.txt` to install required Azure libraries if there is any library missing.

[2019-03-26 03:09] #54139 closed, assigned to nobody

[2019-03-26 03:36] zikalino commented on #54280
@bcoca after internal discussion we have to do 1, 2 and 3 at once.
so seems like we still have to break the rule in 2.8, and rename all the facts modules in 2.9.
I think there's a lack of strong message regarding the action to rename all **facts** to **info** and when it should be done.
I think most of the developers may be still confused about the actual status of new **info** modules.

[2019-03-26 03:41] yungezz commented on #54280
@bcoca  how about renaming all _facts to _info in ansible 2.9 given code freeze very near? when will the change be officially announced to ansible users? 2.9? We'll follow the overall plan to do the azure modules renaming.

[2019-03-26 03:55] kbreit opened #54378 "New module - meraki_stack"
##### SUMMARY
Meraki added support for configuring switch stacks. Ansible should have a module supporting the stacks.

https://api.meraki.com/api_docs#list-the-switch-stacks-in-a-network

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2019-03-26 04:52] rrey commented on #49147
Fixed in #54183
Available in 2.7.10 !

[2019-03-26 04:52] #49147 closed, assigned to nobody

[2019-03-26 04:53] ganeshrn commented on #53236
@nickrusso42518 Thanks for your contribution. Merged PR #54326, fix will be available in Ansible 2.8 version

[2019-03-26 04:53] #53236 closed, assigned to ganeshrn

[2019-03-26 05:13] #53630 closed, assigned to nobody

[2019-03-26 06:01] felixfontein commented on #46047
resolved_by_pr #54370

[2019-03-26 06:02] zikalino commented on #40857
i am running into the same problem when trying to use settings... investigating

[2019-03-26 06:05] blambo10 opened #54383 "VMware: Capacity to set configuration based on ESXI Host version"
##### SUMMARY

Capacity to specify argument in module,
of what ESXI version to apply configuration too.

This feature can be used for both vmware_host_acceptance and vmware_host_config_manager modules.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_host_acceptance.py

##### ADDITIONAL INFORMATION

In a scenario where there are different configuration requirements for different ESXi

[2019-03-26 06:11] blambo10 opened #54384 "vmware_host_config_manager: Capacity to set configuration based on ESXI Host version"
##### SUMMARY

Capacity to specify argument in module,
of what ESXI version to apply configuration too.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_host_config_manager:.py

##### ADDITIONAL INFORMATION

In a scenario where there are different configuration requirements for different ESXi Versions,
and a cluster contains ESXi Hosts of varying versions.

This would solve problems

[2019-03-26 06:12] Testicule commented on #39158
OMG yeah thanks a hell of a lot to whoever decided to get rid of with_items and so on, and replace with "loop".

Now we have a completely undocumented new way of doing loops in ansible.

There might be some info out there, other people bashing their brains out against the brick wall this has put in everyone's way. But it's impossible to google. Try googling for "loop" in relation to anything and s

[2019-03-26 07:31] mkrizek commented on #54306
As I already mentioned in my previous comment, that is not true according to my testing. Providing more detailed output:

[code]

Can you provide more information about your environment/what I am doing differently?

needs_info

[2019-03-26 07:36] mkrizek commented on #10954
Closing as duplicate of https://github.com/ansible/ansible/issues/36397.

[2019-03-26 07:36] #10954 closed, assigned to nobody

[2019-03-26 07:51] luckyxkw commented on #43790
Hi, just want to know whether there is anyone working on this issue? And is there any workdaround we can do now?

[2019-03-26 07:55] unkaputtbar112 commented on #54092
After some investigation and better understanding I changed
[code]
to:
[code]

and
[code]
to
[code]

i removed the 2 lines i've inserted before.

[2019-03-26 08:09] tiraboschi commented on #53459
OK, this works for me: thanks!

[2019-03-26 08:17] tdixonspin opened #54386 "gcp_storage_bucket_access_control not accepting bucket dictionary"
Couldn't find an existing issue listed for this module

##### SUMMARY
Using the gcp_storage_bucket_access_control module with the bucket object registered beforehand is returning "Invalid bucket name"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_storage_bucket_access_control

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running ansible on Ubuntu 18.0

[2019-03-26 08:27] erdebee opened #54387 "XML Module doesn't accept commas in XML provided"
##### SUMMARY
XML Module doesn't allow comma's in XML for set_children and add_children values.

Escaping in any way doesn't seem to help.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
xml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running from: OSX 10.14.2
Target machine: CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE

[code]

#####

[2019-03-26 08:31] NilashishC commented on #53920
@yun `vyos_config` module works with the output of `show configuration commands`. Comments are not a part of this output and only appear with `show configuration` in a literal format.

For example, let say I wish to add a comment for the user `test`. The command would be `comment system login user test "This is a test user"`. This command is not a part of `show configuration commands` and only sho

[2019-03-26 08:31] #53920 closed, assigned to NilashishC

[2019-03-26 09:20] luckyxkw commented on #43790
I think these guys face similar issue: https://github.com/Miserlou/Zappa/issues/205.
Maybe we can follow their solutions and change this method: https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/ec2.py#L128.

[2019-03-26 09:24] hafager commented on #53910
Have you tried configuring the user specifying the privilege level?
`username test privilege 15 password 0 Password123`

Worked for me.

[2019-03-26 09:29] pfisterer commented on #49451
This resolved my issue: https://github.com/ansible/ansible/issues/29903. I modified `create router` to include ` enable_snat: yes`:

[code]

[2019-03-26 09:58] justjais commented on #40611
@epicdean similar issue was closed in bug #41341, can you please verify and confirm if you are still having the respective issue with ansible latest released version.

[2019-03-26 10:38] Shaps commented on #51703
resolved_by_pr #54370

[2019-03-26 10:39] Shaps commented on #46047
resolved_by_pr #54370

[2019-03-26 11:16] Andersson007 commented on #54280
[#54389](https://github.com/ansible/ansible/pull/54389) renamed postgresql_facts -> postgresql_info

[2019-03-26 11:27] jamescassell commented on #51042
I think checking the conditional should be good enough for most cases, though it might miss some cases and cause extra output.

[2019-03-26 11:31] DanHam opened #54390 "get_url checksum does not support checksum files containing *just* the checksum"
##### SUMMARY

get_url fails to parse a checksum file when the file contains *just* the checksum

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

For easy reference, the contents of the checksum file is as follows:

[code]

##### EXPECTED RESULTS

get_url shou

[2019-03-26 11:55] sm4rk0 commented on #54387
Hi Roy,

`add_children` accepts a list of children and tries to convert the string you passed to it to a list.

If you run ansible with `-vvv` you'll see:
[code]

This should work (if it does, please close this issue):
[code]

[2019-03-26 11:59] AlanCoding commented on #54065
The other one was merged, so only #54060 is needed now.

[2019-03-26 11:59] dagwieers commented on #54387
Hmm, it's unfortunate that Ansible still turns an (explicit) string into a list. But don't blame Ansible, it doesn't know there are quotes. So the only thing that will work is what @sm4rk0 suggested.

[2019-03-26 12:00] axiqia opened #54392 "No module named 'ansible.parsing.ajson'"
##### SUMMARY

I installed ansible by pip, but got a `ModuleNotFoundError` error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### ACTUAL RESULTS

[code]

Thanks you!

[2019-03-26 12:04] DanHam commented on #54342
I have seen the same issue. However, the issue only occurs when the machines are **not running**. When all the machines are running the inventory list is returned as expected.

I get some verbose results back from ansible-inventory when *some* of the machines are running. However, I still get the same error messages as shown above.

I am able to run a simple ad-hoc command successfully against a g

[2019-03-26 12:08] 5t4rdu5t opened #54393 "VMware: Debian10 guest: "VMWareTools is not installed or is not running in the guest" vSphere 6.0"
##### SUMMARY
The package `open-vm-tools` is running (2147483647) in the VM

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/modules/cloud/vmware/vmware_vm_shell.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

Trying to run the module

[code]
(The VM is UP when the module is running)

##### EXPECTED RESULTS

I exp

[2019-03-26 12:17] candlerb commented on #48859
With 2.7.8 I get this message:

[code]

For me it was not obvious that host_list and script were the actual names of plugins.

I think it would be clearer as:

[code]

[2019-03-26 12:17] noci2012 commented on #54186
ok i created a module_common that will recognize a $!, and started to model after Powershell.
and try to resolve DCL ModuleDepFinder a la PSModuleDepFinder.
Created a dcl shell (with most named routines as non-support message for now).

Somehow i keep getting:
` "msg": "Requested option remote_tmp was not defined in configuration"`
although it is IN ansible.cfg, in host variables in hosts inventor

[2019-03-26 12:40] #53277 closed, assigned to NilashishC

[2019-03-26 12:42] mkrizek commented on #54392
[code]

`logdna` callback plugin was added in Ansible 2.7, see https://docs.ansible.com/ansible/latest/plugins/callback/logdna.html. `logdna` uses a python module `ansible.parsing.ajson` which is not present in Ansible 2.5 (was added later) and so that's why you get that error, `logdna` is not compatible with Ansible 2.5.

If you have further questions please stop by IRC or the mailing list:
* IRC

[2019-03-26 12:42] #54392 closed, assigned to nobody

[2019-03-26 12:53] dpassante opened #54394 "cs_volume tests don't cleanup network and instance"
##### SUMMARY

The latest unit tests added for cs_volume do not cleanup properly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cs_volume

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### ACTUAL RESULTS

[code]

[2019-03-26 12:58] Akasurde commented on #54343
@LeDOC666 I am not able to reproduce this behaviour
[code]

What object does `vsrv-vc-app` represents in your playbook ?

needs_info

[2019-03-26 12:59] DanHam opened #54395 "gcp_compute plugin: Dynamic inventory - underscore prepended to group names"
##### SUMMARY

GCP dynamic inventory returns groups with an underscore prepended to them

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

I want my inventory groups to match labels I have set on the GCE instances. I have the following set up:

dynamic-inven

[2019-03-26 12:59] Akasurde commented on #53448
@ralphie02 Could you please answer above questions ? Thanks,

needs_info

[2019-03-26 13:39] Akasurde commented on #52006
Closing this issue as per https://github.com/ansible/ansible/issues/52006#issuecomment-463142796.

[2019-03-26 13:39] #52006 closed, assigned to nobody

[2019-03-26 13:42] bcoca commented on #54186
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2019-03-26 13:42] #54186 closed, assigned to nobody

[2019-03-26 13:47] bcoca commented on #54280
@yungezz the rule about `_facts` modules returning ansible facts has been long standing (but seems to have been ignored by many), the `_info` requirement is new, but since the modules are also new in 2.8 it is preferable to avoid the problem vs adding a rename/deprecation cycle in 2.9 that would make it persist up to 2.13.

[2019-03-26 13:51] axiqia commented on #54392
@mkrizek Thanks for your quick reply, I update Ansible to 2.7 and the issue resolved.

[2019-03-26 13:51] Akasurde commented on #51213
@iddq Could you please required information asked by @cigamit in comment ? Thanks.

FYI - https://github.com/ansible/community/wiki/VMware:customisation

[2019-03-26 13:51] Akasurde commented on #51213
needs_info

[2019-03-26 13:53] desht commented on #54107
Actually, I think I've solved my own problem: the template requires a ``replace:`` tag right at the start:

[code]

I had experimented with ``replace:`` before but put it inside the ``snmp {`` section.  With hindsight, that was wrong, since ``replace:`` applies to the config that follows it.  In my case, I'm replacing the entire snmp section so this forces a replace rather than a merge.

[2019-03-26 13:53] #54107 closed, assigned to nobody

[2019-03-26 13:54] colin-mccarthy commented on #53910
Yes, I have the user set with privilege level 15

```username test privilege 15 password 0 Password123```

[2019-03-26 13:56] trishnaguha commented on #45343
resolved_by_pr https://github.com/ansible/ansible/pull/54260

[2019-03-26 14:02] mkjpryor-stfc commented on #24319
@sivel

I'm not sure I understand the argument that `json_query` is not a core filter. The code is in the main codebase, so surely the installation of its dependencies should be in `extras_require` at the very least?

[2019-03-26 14:18] LeDOC666 commented on #54343
hi,
vsrv-vc-app is the name of my vmware server.

[2019-03-26 14:20] jqueuniet commented on #45948
I see a lot of work ongoing around physical devices, but haven't seen much for virtualization. Is it already on anyone's roadmap, or is this part free to work on?

I've also noticed a few references to a refactor, especially to get rid of  `global`, and would hate to start working on an already outdated code base. Is this refactor planned soon, or is it more of a long-term goal?

[2019-03-26 14:26] jeremyschulman opened #54400 "eos_config - ignores comments (double-bangs)"
##### SUMMARY

When I attempt to deploy a configuration that includes comments indicated by double-bangs, for example

[code]
The comments are not stored onto the EOS device.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

eos_config

##### ADDITIONAL INFORMATION

As a network automation engineer, I would like to store comments in my EOS configurations.

[2019-03-26 14:32] naphta commented on #53971
^ I have this problem on 2.7.9 too. Adding in
[code]

[2019-03-26 14:41] #51623 closed, assigned to nobody

[2019-03-26 14:42] DarkStar1973 opened #54403 "apt_repository modify comment line /etc/apt/sources.list"
##### SUMMARY
apt_repository rewrite line in /etc/apt/sources.list even if we specify another filename. It's break idempotent when we use templating for /etc/apt/sources.list

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt_repository

##### ANSIBLE VERSION
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
No modification of source.lists

##### ACTUAL RESULTS
First line of so

[2019-03-26 14:48] Shaps commented on #53221
Having a look at this.

[2019-03-26 15:06] #51703 closed, assigned to nobody

[2019-03-26 15:10] SpComb commented on #31338
(reposted from #31340 because that was a PR, and this is a suggestion for a fix for this issue)

Docker seems to also support unsetting envs using `"Env": ["FOO"]` in the API: https://docs.docker.com/engine/api/v1.37/#operation/ContainerCreate

This also works for overriding/unsetting envs set in the Docker image:

[code]

This would be easy to fix in Ansible if passing a env as `None` were to gen

[2019-03-26 15:21] g10chy commented on #47301
I am having same issue on ansible 2.7.9

`username@servername[DEV][ansible-oracle] $ ansible localhost, -b -m lvg -a "vg=rootvg state=present pvs=/dev/sda1" -vvvvv
ansible 2.7.9
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/infra1/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packag

[2019-03-26 15:22] L1ghtman2k commented on #45834
What I have been noticing a lot, is that when I do too many cloning asynchronously, that is when my things break, and NICs don't connect. When I go 1 by 1, that really happens. And what I also noticed when I was going 1 by 1, is that the only machines that fail, are the ones that have "A newer version of VMware Tools is available for this virtual machine." As a warning. I have encountered this on

[2019-03-26 15:38] kdelee opened #54406 "GCE inventory plugin does not accept env var for source service_account_file"
##### SUMMARY

Plugin should accept `GCE_CREDENTIALS_FILE_PATH` as alternative to config file parameter `service_account_file`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/plugins/inventory/gcp_compute.py
##### ANSIBLE VERSION

devel

##### STEPS TO REPRODUCE

Enable the gcp_compute inventory plugin.
Create a plain config file for the plugin that reads
[code]
Then provide prop

[2019-03-26 15:48] AlanCoding commented on #54406
Put up a proposed fix in the linked PR.

Note that I did not get the same error when testing this, I got:

[code]

This was with the inventory file:

[code]

So it might be that the projects need to be specified in the example in this issue. The error message from this traceback is also somewhat confusing. Anyway, the point still stands, that we need a way to specify secret-related information in

[2019-03-26 15:49] #31354 closed, assigned to nobody

[2019-03-26 16:00] #51015 closed, assigned to nobody

[2019-03-26 16:07] s-hertel commented on #42661
This should be fixed in a5a7c7cb8076dd50acf54ff441a8835d2bd3d0f3 for 2.8.

[2019-03-26 16:07] #42661 closed, assigned to nobody

[2019-03-26 16:19] AlanCoding commented on #54406
Also, we would like the same thing for openstack, pointing to the clouds file, via the `OS_CLIENT_CONFIG_FILE` environment variable.

[2019-03-26 16:28] FragmentedPacket commented on #45948
@jqueuniet Sorry taking it small steps at a time as some of the modules are way more involved then others. You're more than welcome to start creating new modules. I would say try and always base it on what is in devel and follow the other modules as close as you can.

As for the refactor, it was just stated a few days ago and no further discussion has happened. I would say that may be more towards

[2019-03-26 16:32] JohnnyP88 opened #54410 "Reboot fails with Centos7 in Molecule"
##### SUMMARY

I have a ansible task that uses the new reboot command to reboot a server.  When i try to test this task with Molecule using Docker it fails.  I first tried the default CentOs 7 image and then read it disables systemd.  I got farther with the image fiercely/centos7:systemd but it times out <instance> EXEC ['/usr/local/bin/docker', b'exec', b'-i', 'instance', '/bin/sh', '-c', "/bin/s

[2019-03-26 16:37] LeDOC666 commented on #54343
I tryed something else. In using my full inventary:

`gpmm-usinefe1              : ok=2    changed=0    unreachable=0    failed=0    skipped=2    rescued=0    ignored=0
gpmm-usinefe2              : ok=2    changed=0    unreachable=0    failed=0    skipped=2    rescued=0    ignored=0
srvarchive.pam.lan         : ok=0    changed=0    unreachable=0    failed=0    skipped=4    rescued=0    ignored=0
v

[2019-03-26 16:41] kdelee opened #54411 "Openstack inventory plugin does not accept OS_CLIENT_CONFIG_FILE for auth"
##### SUMMARY

Openstack inventory plugin does not respect `OS_CLIENT_CONFIG_FILE` for indicating what url to authenticate with and how to authenticate

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

/lib/ansible/plugins/inventory/openstack.py

##### ANSIBLE VERSION
devel

##### STEPS TO REPRODUCE

Provide plain `openstack.yml` plugin config
[code]
Provide openstack credentials and auth url

[2019-03-26 16:42] kdelee commented on #54406
Filed: https://github.com/ansible/ansible/issues/54411

[2019-03-26 16:42] sivel commented on #54410
This is unfortunately not a function that the reboot module can handle.  In the end, you cannot reboot docker containers.  When the container "reboots" it effectively dies at that point and does not come back up.

You will instead need to add logic into your playbook, to not reboot the target if it is a docker container.

A docker container does not work like a normal VM or machine, as such it can

[2019-03-26 16:42] #54410 closed, assigned to nobody

[2019-03-26 16:49] mveroone opened #54412 "Do not produce a warning when setting errors='ignore' in lookup()"
##### SUMMARY
The lookup plugin has an option `errors` which can be either `strict`, `warn` or `ignore`
But `warn` produces 2 warnings per error and `ignore` produces one as demonstrated in the documentation : https://docs.ansible.com/ansible/latest/plugins/lookup.html#id5

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Lookup plugins

##### ADDITIONAL INFORMATION
Have one meaningful warnin

[2019-03-26 17:12] raffienficiaud opened #54413 "win_user_right reports error on success"
##### SUMMARY
`win_user_right` reports an error although the user is properly added to the security group.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_user_right

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
- target OS: win10 pro
- host OS: Linux Ubuntu 18.04

##### STEPS TO REPRODUCE

* create a local user
* assign the `SeServiceLogonRight` secu

[2019-03-26 17:19] #52332 closed, assigned to nobody

[2019-03-26 17:28] sivel commented on #54390
I think I would consider this a feature request.

In any case, for now you can do the following:

[code]

[2019-03-26 17:49] #50838 closed, assigned to nobody

[2019-03-26 17:51] #54282 closed, assigned to nobody

[2019-03-26 18:17] jeking3 opened #54417 "azure_rm_networkinterface ignores security_group parameter if create_with_security_group is False"
##### SUMMARY

*This is a security bug.*

According to the documentation in version 2.7, `azure_rm_networkinterface` has a property called `create_with_security_group`.  If this is False during creation, the documentation states that a default security group will not be created.  This flag erroneously also causes the module to ignore a supplied `security_group`.  This leads to a NIC without a secu

[2019-03-26 18:18] #54394 closed, assigned to nobody

[2019-03-26 18:19] samccann opened #54418 "Run ansible-lint and/or ansible --syntax-check against Advanced Networking Guide content"
##### SUMMARY

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

Move any playbooks or task snippets out of the Advanced Networking guide rst files and into a common directory so that we can run ansible-lint and/or ansible --syntax-check against that conte

[2019-03-26 18:21] samccann commented on #52997
Table is ready for new options.

[2019-03-26 18:21] #52997 closed, assigned to samccann

[2019-03-26 18:39] gundalow commented on #54280
For modules that are new in Ansible 2.8 it would be great to get them renamed before freeze so we don't have to add an alias in.

For modules that were released in Ansible 2.7 or earlier there is no rush. Time would be better spent reviewing and fixing bugs.

For modules that have been previously released a clear changelog/fragment and porting_guides entry is needed.

[2019-03-26 18:42] opoplawski commented on #37309
Yeah, ignore_unreachable seems to do the trick.

[2019-03-26 18:42] #37309 closed, assigned to nobody

[2019-03-26 19:02] xeor commented on #50181
Anyone knowing if this ended up on the roadmap?

[2019-03-26 19:08] guhcampos commented on #54406
I believe this is just a documentation issue. The correct environment variable is mentioned here:
https://docs.ansible.com/ansible/latest/scenario_guides/guide_gce.html

but never in the gcp_compute plugin docs.

The accepted variables are:
[code]

[2019-03-26 19:11] nitzmahone commented on #54280
I greenlit the merging of new _facts modules toward the end of 2.8 as the changeover to `_facts` was  still an open question at the time, and the original freeze date would already have passed by now. Unless someone *really* wants to go back and rename them in the week before community freeze, I'm not concerned about it; whatever change we apply to the scores of `_facts` modules in 2.9 will apply

[2019-03-26 19:14] abadger commented on #54059
I discussed this with the Core Team and consensus seemed to be that this would definitely not make 2.8 as it is a larger design question which is too late to address in the 2.8 development cycle.  (We're two days away from the release of alpha1 and feature freeze).  There is a chance that it would not make it at all (as it duplicates something that could be done another way) but that will need to

[2019-03-26 19:16] samccann opened #54420 "Document how to use and how to develop collections in ansible"
##### SUMMARY

Create starter documentation for Ansible Collections. This should include:
 - high level section for 'Ansible Collections'

Under that is:
 - How to use collections
-  How to develop collections

All documentation must make it clear that this is Technical Preview only, and the way collections are used and developed may change over time.

##### ISSUE TYPE
- Documentation Report

####

[2019-03-26 19:19] abadger commented on #51884
Adding tower_blocker to this for now.  @maxamillion is working on the fix.  tower_blocker is not a guarantee that this will get into 2.8 but it is a guarantee that I'll look at this before cutting 2.8alpha1 (freezing the 2.8 featureset) and having a discussion with the core team if this is not done in time for the 2.8 alpha1 release.

[2019-03-26 19:21] axelitus commented on #53854
I can confirm this issue also with ansible 2.7.9

[code]

[2019-03-26 19:25] jborean93 commented on #54357
@mhunsber thanks for finding this bug, should have a fix relatively shortly.

[2019-03-26 19:36] AlanCoding commented on #54406
I can't get that to work, and it's not obvious to me from that documentation that this was ever intended to work with the inventory plugin (as opposed to the modules). I have tried the syntax of:

[code]

I tried some additional permutations with this and `GCP_SCOPES`, including

 - `GCP_SCOPES="www.googleapis.com/auth/compute"`
 - `GCP_SCOPES="[www.googleapis.com/auth/compute]"`

None of these ma

[2019-03-26 19:54] mariolenz commented on #54384
The issue is about vmware_host_config_facts but in your example:

you use vmware_host_config_manager. This is a bit confusing, what exactly are you talking about?

[2019-03-26 19:58] AlanCoding commented on #54065
This is resolved

issue can be closed

[2019-03-26 19:59] DanHam commented on #54390
@sivel OK. In the meantime it would be great if the docs could specify exactly what the expected format of the checksum file should be - this one had me scratching my head for a while as I just assumed this would be supported.

Many thanks for the workaround in the interim.

[2019-03-26 20:01] guhcampos opened #54422 "gcp_iam_service_account_module issues error 409 Already Exists if an account does exist"
##### SUMMARY

Running a playbook that creates a GCP Service Account for the second time returns an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_iam_service_account_module

##### ANSIBLE VERSION
[code]

[code]

##### EXPECTED RESULTS
On the first run, the account should be created and a CHANGED status reported.
On subsequent runs, just the [OK] status should be reported and no f

[2019-03-26 20:01] blambo10 commented on #54384
Sorry, vmware_host_config_manager is the module i was meaning to reference, not the facts.

I have updated the info to reflect this now.

[2019-03-26 20:08] samdoran commented on #53388
This is a misunderstanding of what is happening. The entire value is being templated by calling `item.keys()` even though you are only asking for the `id` value.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-03-26 20:08] #53388 closed, assigned to nobody

[2019-03-26 20:09] samdoran commented on #53393
!component = /lib/ansible/plugins/inventory/netbox.py

[2019-03-26 20:13] bcoca commented on #53405
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because we don't consider this a pressing issue, feel free to submit 'corrected' aliases if you want, but we just wanted the functions to be mostly descriptive of what they do.

However, we're absolutely always up for discussion

[2019-03-26 20:13] #53405 closed, assigned to nobody

[2019-03-26 20:15] mariolenz commented on #54383
I think your use case is a bit too special to implement in the module. You want to have a different behavior based on the major version(6.0, 6.5, 6.7...) but if ansible starts to do this, other people might want to differentiate between updates (6.5U2, 6.7GA, 6.7U1...).

I think there are better alternatives like _not_ working on the cluster level but on the hosts directly, i.e. having all your ho

[2019-03-26 20:15] #53428 closed, assigned to nobody

[2019-03-26 20:18] vipinable commented on #23349
Any solution for this issue yet?

[2019-03-26 20:24] bcoca commented on #53516
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this request because 'validate' happens in the middle of a complex process to put files into place atomically, to set the permissions at validation time we would have to account for many factors as that could remove our ability to manip

[2019-03-26 20:24] #53516 closed, assigned to nobody

[2019-03-26 20:24] jhawkesworth commented on #44738
needs_contributor

[2019-03-26 20:28] samdoran commented on #53518
Closing this per discussion in #53644.

[2019-03-26 20:28] #53518 closed, assigned to nobody

[2019-03-26 20:33] jhawkesworth commented on #43265
looking at the examples here https://docs.microsoft.com/en-us/iis/configuration/system.applicationHost/applicationPools/add/environmentvariables/index#overview
there seem to be add and remove child elements under envirnomentVariables element

[code]

so I wonder if you need to do the same with this module.
[code]

Its possible this needs a code change to work though, as I think this module was cre

[2019-03-26 20:37] rambleraptor commented on #54271
Hey! Please use `gcp_compute_region_disk`

close_issue

[2019-03-26 20:38] jhawkesworth commented on #34726
@lindsm is this still an issue?  The documentation states here that retries will be forced to 1 if you do not specify and 'until' to go with it, https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#do-until-loops so I think ansible is operating as expected.

[2019-03-26 20:41] bcoca commented on #53590
This is not an issue with return codes, if there is an error you will get a 'non 0'.

The issue is that you want 'not found' to be an error instead of a warning.

[2019-03-26 20:41] samdoran commented on #53590
Changing this to a feature request since this is currently working as designed. "module not found" is a warning, not an error.

[2019-03-26 20:47] jhawkesworth commented on #25469
Just reviewing old issues and I think wrapping appcmd is not something we should want to do.
The original example illustrates how getting the command line syntax for it correct is at best tedious.

I think if there's still a specific need for an `win_iss_configuration` module as suggested by andrewsaraceni then we should have an open feature request for that, although if there is a suitable DSC re

[2019-03-26 20:47] samdoran commented on #53623
This may be something we can add to the Ansible Galaxy documentation.

[2019-03-26 20:48] Freeze commented on #46203
This is absolutely a shortcoming.  Ansible has been perfect for most of my needs so far, but it seems like expanding the capabilities of blocks would make Ansible a lot better solution.

[2019-03-26 20:50] jborean93 commented on #54357
@mhunsber here is a PR to fix your issue https://github.com/ansible/ansible/pull/54427. If you have time to review it, that would be great.

[2019-03-26 20:57] jhawkesworth commented on #14791
@danielwhite - do you still think we need this issue open?
For a while now, 'ansible --version' has displayed the module search path when it has been customised (and its required information when filling out the issue template these days), so I wonder if this issue would have even been raised had that been the case when using ansible 2.0.x

[2019-03-26 20:58] jhawkesworth commented on #23784
needs_contributor

[2019-03-26 21:00] samdoran commented on #53739
The results don't seem to match the output of your play. Please run the play with `-vvv`

needs_info

[2019-03-26 21:03] samdoran commented on #53761
cc @abadger @nitzmahone

[2019-03-26 21:04] samdoran commented on #53771
!component =/lib/ansible/modules/cloud/azure/azure_rm_subnet.py

[2019-03-26 21:12] jhawkesworth commented on #33159
@dennisdupont - I know this is a very old issue, but there is now a pull request that implements your feature idea here https://github.com/ansible/ansible/pull/45693 Please could you test out the pull request and comment on it?  This will help get the change merged into ansible and then we can close off your feature request.  Thank you.

[2019-03-26 21:13] jhawkesworth commented on #33159
@dennisdupont - by the way, there is a neat trick described here  http://blog.rolpdog.com/2018/08/testing-and-modifying-github-prs.html for testing pull requests if you have a git clone of ansible available (i.e can run ansible from source)

[2019-03-26 21:17] samdoran commented on #54410
For testing with Molecule, I would skip the reboot tasks by adding `molecule-notest` or `notest` tags.

From the [Molecule docs](https://molecule.readthedocs.io/en/latest/configuration.html#id17).

[2019-03-26 21:19] dennisdupont commented on #33159
What's funny is when you said "a very old issue", my first thought was "it isn't *that* old".  Then I checked the data and now I am saying "wow, have I really been that deep in ansible that long!?!?"

I will try this out as soon as I can - thanks!

[2019-03-26 21:19] mhunsber commented on #54357
@jborean93 looks good, I tested with the changes in my instance and it worked.
I did not know about Push-Location and Pop-Location, so that was nice to learn today.

[2019-03-26 21:22] mariolenz commented on #54384
This is similar to #54383 so my answer is the same ;-)

[2019-03-26 21:43] #52967 closed, assigned to nobody

[2019-03-26 21:43] felixfontein commented on #34054
Looks like ansibot didn't bother to close this...

close_me

[2019-03-26 21:54] #34054 closed, assigned to nobody

[2019-03-26 21:57] bcoca commented on #54280
@nitzmahone it was rename to _info that is new, its been long standing rule that _facts modules are those that return ansible_facts.

[2019-03-26 21:59] bcoca commented on #50181
it did not

[2019-03-26 22:01] abadger commented on #54065
#54060 merged, closing this issue

[2019-03-26 22:01] #54065 closed, assigned to nobody

[2019-03-26 22:03] zikalino commented on #54280
@bcoca regarding the rule of returning or not returning facts from modules.
the oldest azure modules were indeed returning **ansible_facts** but then at some point we learned that they actually shouldn't stick return values into **ansible_facts** as **ansible_facts** are intended for host-related facts and cloud related facts are not really related to **localhost**. unfortunately at the time there

[2019-03-26 22:10] zikalino commented on #54280
our current thinking is that:
- we should just release all the modules in 2.8 as **facts**
- rename and clean-up everything in 2.9

[2019-03-26 22:13] abadger commented on #51884
After some more discussion and clarification, @maxamillion says we won't be fixing gce_uuid as it is just something that libcloud artificially creates with no bearing on what's actually in gcp/gce.  We are working on a fix for gce_image as that's real data.

[2019-03-26 22:26] bcoca commented on #54280
The renaming to _info, as i said above is recent, the rule on _facts name has existed for much longer, in any case accepting those modules was a failure on review, i opened #54432 that i think deals with most of the changes needed.

[2019-03-26 22:41] bcoca commented on #53361
we kind of have one already https://github.com/ansible/ansible/blob/devel/bin/ansible-connection

[2019-03-26 22:55] bcoca commented on #21208
@bmalynovytch 'service' is not a service management program, its a 'optional helper binary' that is implemented differently on different service managers, so not something we can rely on. Use the module most appropriate for your service manager.

@jszakmeister same as above, also containers tend to 'lie' about service managers, docker itself pushes 'no services' but 'container as a service'  model

[2019-03-26 22:57] bcoca commented on #54187
include is 'special' and can run 'statically' which means it will ignore your tags and ALWAYS import, for the behaviour you want use `include_tasks`

[2019-03-26 23:31] jborean93 commented on #54357
Thanks for the confirmation, it honestly shouldn't be needed but it's nice to cleanup after yourself and `Push/Pop` makes that quite simple.

[2019-03-26 23:37] lucasbasquerotto commented on #46203
I tried to use `until` in a `include_tasks` and it didn't worked.

What I did as a workaround was to create a yml file that include the task (`loop.yml`) and call itself recursively (`recursive.yml`) while the condition is still not satisfied.

_recursive.yml:_

[code]

In the above file, I included a timeout in the case of taking too long (this is in a role that [shows the output of what is runni

[2019-03-26 23:52] #54357 closed, assigned to nobody

[2019-03-27 00:11] jszakmeister commented on #21208
@bcoca Yeah, I ended up discovering that initctl is a dummy binary that appears to exit with 0 all the time (like /bin/true).  It turns out there is an initctl.distrib present that actually does behave correctly, and putting it back in place allows things to work (as long as you also start upstart too).  It also looks like there are also sysv scripts  for the services as well (at least in this cas

[2019-03-27 00:47] liuyangjason commented on #54306
[vagrant@lonelyslot ~]$ cat /etc/redhat-release
CentOS Linux release 7.6.1810 (Core)
[vagrant@lonelyslot ~]$ rpm -q yum
yum-3.4.3-161.el7.centos.noarch
[vagrant@lonelyslot ~]$ grep proxy /etc/yum.conf
proxy=_none_
proxy_username=
proxy_password=
[vagrant@lonelyslot ~]$ sudo yum install https://rpm.nodesource.com/pub_10.x/el/7/x86_64/nodesource-release-el7-1.noarch.rpm
Failed to set locale, default

[2019-03-27 00:57] AlanCoding commented on #52358
I'm good to close this, because the remaining variables are not going to be added back. My list:

 - 'ec2__in_monitoring_element': False,
 - 'ec2_item': '',
 - 'ec2_monitoring': '',
 - 'ec2_previous_state': '',
 - 'ec2_previous_state_code': 0

we've discussed basically all of these already.

[2019-03-27 01:47] yungezz commented on #54280
@bcoca  totally understand the rule of _info and ansible_facts for facts now. but we just learnt the rule around 4 days ago from this issue. Current situation at azure modules is that all azure get operation are named as _facts already, this is legacy before we work on it. We already has lots of  official documentation at docs.azure.doc to teach user how to use azure modules including _facts modul

[2019-03-27 02:12] zikalino commented on #54280
@yungezz even if we decide to rename all the old facts modules they will still be around until Ansible 2.12, so no need to hurry with the documentation.

all we need to do is:
- rename *_facts -> *_info
- create symbolic link starting with underscore: _*_facts

in this way old _*_facts modules won't be visible in the documentation (or they will be visible as obsolete in 2.12?)

[2019-03-27 02:15] zikalino commented on #54280
maybe a stupid idea.
how about we have all then new **_info** modules as @bcoca would like us to and create aliases/links with **_facts** postfix? does it sound stupid?

[2019-03-27 02:53] yuwzho opened #54440 "Add azure firewall module"
Support azurefirewall module https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/azureFirewall.json

##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_firewall

##### ADDITIONAL INFORMATION

[code]

[2019-03-27 03:10] yuwzho commented on #54417
Hi @jeking3 , for the scenario you mentioned, I consider it is the missing of the documentation. The reason is if I made the `create_with_security_group` only impact the creation, this module can no longer set the nsg to None for a NIC.

I would like to invite you to co-work with me to do the enhancement of the documentation for this flag, and make it more makes sense.

[2019-03-27 03:56] Tomorrow9 commented on #54393
Hi @5t4rdu5t, thanks for reporting this issue. If tools status reported is "not installed" or "not running", then will return this error message. If you make sure OVT is installed and running when executing the command, then there might be issue of guest info reported. I'll try to reproduce this later. Thanks.

[2019-03-27 04:08] Akasurde commented on #50838
@antonroman Thanks for the contribution.

[2019-03-27 04:11] #54249 closed, assigned to nobody

[2019-03-27 04:11] nasx commented on #51760
Modules merged. Closing.

[2019-03-27 04:11] #51760 closed, assigned to nobody

[2019-03-27 04:11] nasx commented on #51760
Modules merged. Closing.

[2019-03-27 04:18] Akasurde commented on #27897
ack

[2019-03-27 04:20] Akasurde commented on #54384
Tracking using - https://github.com/ansible/ansible/issues/54383

[2019-03-27 04:20] #54384 closed, assigned to Akasurde

[2019-03-27 05:09] felixfontein commented on #54280
Here are docs for one of the renamed modules (docker_image_facts → docker_image_info):
 - latest (2.7): https://docs.ansible.com/ansible/latest/modules/docker_image_facts_module.html
 - devel (2.8): https://docs.ansible.com/ansible/devel/modules/docker_image_info_module.html

The new docs mention "Aliases: docker_image_facts". The link https://docs.ansible.com/ansible/devel/modules/docker_image_fa

[2019-03-27 05:10] felixfontein commented on #54280
@zikalino I don't know if adding aliases is a good idea, but if you do so, you should add a deprecation warning (I guess for 2.13, since that will be when modules renamed for 2.9 will be removed) to the module which is printed when the module is used by the alias name.

[2019-03-27 05:27] shamaljayalath opened #54444 "Ansible+ Azure playbook failed with : "msg": "Do you have azure>=2.0.0 installed? Try `pip install ansible[azure]`- No module named monitor.version" }"
##### ANSIBLE VERSION

ansible --version
ansible 2.7.9
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Sep 12 2018, 05:31:16) [GCC 4.8.5 20150623

[2019-03-27 05:29] shamaljayalath commented on #54444
#pip freeze output

DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7.
adal==1.2.1
ansible==2.7.9
applicationinsights==0.11.8
argcomplete==1.9.4
asn1crypto==0.24.0
azure-cli-core==2.0.35
azure-cli-nspkg==3.0.2
azure-common==1.1.11
azure-g

[2019-03-27 05:37] shamaljayalath commented on #54444
I also tried to doing hte following
[code]
Then
[code]

It did not help much either.

Thanks

[2019-03-27 05:44] felixfontein commented on #54280
There's an issue for the docs alias problem: #42949

[2019-03-27 05:49] shamaljayalath commented on #54444
Update:

Following resolved my problem 👍

/var/lib/awx/venv/ansible/bin/pip install --upgrade azure-mgmt-network
/var/lib/awx/venv/ansible/bin/pip install --upgrade azure-mgmt-compute

I'm not quite sure if this is a bug or if this is something obvious so ill leave this open for now to see what the community thinks.

[2019-03-27 05:52] felixfontein commented on #42949
I think this is becoming more urgent with the mass renames (_facts → _info) coming up.

[2019-03-27 06:20] yuuichi-fujioka opened #54446 "tower_user cannot create an auditor user"
##### SUMMARY

The `auditor` parameter of the tower_user module has no effect.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

tower_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

John's role is "System Auditor".

##### ACTUAL RESULTS

John's role is "Normal User".

`is_auditor` in tower_user.

[2019-03-27 07:15] Erilbeth commented on #54342
@DanHam In my case all of the machines are running and the issue still exist.

[2019-03-27 07:17] mkrizek commented on #54306
Thank you for the actual output. I still can't reproduce your issue though.

What value did you actually set `proxy` to? In your output I notice `none` is rendered in _italics_ as _none_.

I still think we should not tolerate invalid configs though.

needs_info

[2019-03-27 07:39] liuyangjason commented on #54306
if possible, you can reproduce it by using vagrant.
(1) vagrant init  geerlingguy/centos7
(2) install and configure vagrant-proxyconf plugin. make proxy.enbaled to be true
(3) vagrant up and provision
(4) vagrant halt
(5) make proxy.enabled still to be true. But empty proxy.http|https|no_proxy
(6) vagrant up
(7) try yum and ansible yum module.

[2019-03-27 07:46] mkrizek commented on #41312
needs_info

[2019-03-27 07:48] Akasurde commented on #54444
cc @yuwzho @zikalino

[2019-03-27 07:48] Akasurde commented on #54444
+label cloud
+label azure

[2019-03-27 08:02] jpork commented on #38771
The project root dir or ansible working dir is exactly what I'm looking for. All automation tool I know - `gradle, ant, maven, sbt` -  from java world have it. Referring to files relatively to the projects root dir appears to me a distinguished feature. After googling this issue it appears to me that lots of other people have the same problem too.

The pwd lookup with env or pipe - "{{lookup('env'

[2019-03-27 08:34] Fred-sun commented on #52082
@just-dimitarslavkov Are you still here? Could you can give a try according by the comments? Thanks!

[2019-03-27 08:55] aserrallerios commented on #33417
Homebrew's ansible v2.7.9 with python v3.7.2 still has this problem in a fresh Sierra install.

[2019-03-27 09:22] Fred-sun commented on #51908
@nitinjain999 Can you give a try according by the comments? Thanks?

[2019-03-27 09:33] Fred-sun commented on #46440
close_me

[2019-03-27 09:37] Akasurde commented on #53448
@ralphie02 I am able to clone Alpine 3.7 with with open-vm-tools 10.1.15-r0. Could you please check if -

- Perl installed in base template
- open-vm-tools is installed correctly
- open-vm-tools service is started and enabled in default Runlevel (`rc-status` and `rc-update add open-vm-tools default`)

Console output -

[code]

Playbook used -

[code]

<img width="596" alt="Screenshot 2019-03-27 at

[2019-03-27 10:05] shamaljayalath commented on #54444
Thanks for looking into this. Now when I execute some playbooks, I get the following error messages:

 [WARNING]: Installed azure-mgmt-compute client version is 4.4.0. The expected
version is 2.1.0. Try `pip install ansible[azure]`

I believe in my attempt to fix the first problem, it got upgraded to a newer version but now ansible complains about the latest version :(

[2019-03-27 10:57] jqueuniet commented on #45948
Thanks for the feedback, I'll take a look at what I can do. But I'll probably wait just a bit for #53631 to get merged first before publishing anything, since it seems to significantly rewrite both the current module base and the utils helper functions.

[2019-03-27 11:03] Andersson007 commented on #44978
!needs_info

[2019-03-27 11:18] Andersson007 commented on #30024
db param is also a database name to connect to. You can connect to one database and, at the same time, grant permissions only for it. You can't connect to one db and then switch the db to another by psycopg2 like in pgsql

[2019-03-27 11:18] Andersson007 commented on #30024
!needs_info

[2019-03-27 11:32] Andersson007 commented on #29985
you must specify db param for connection.
Roles don't assosiate with a particular database.
A role is a global object for a whole cluster but you need to pass db param to connect to the database before to create roles, etc.
So, it's not a bug

[2019-03-27 11:32] Andersson007 commented on #29985
!needs_info

[2019-03-27 11:50] Akasurde commented on #28872
Closing as per https://github.com/ansible/ansible/issues/28872#issuecomment-330764498.

[2019-03-27 11:50] #28872 closed, assigned to nobody

[2019-03-27 11:50] Akasurde commented on #28872
@Andersson007 Thanks for reviewing this.

[2019-03-27 12:09] uda commented on #47111
Hi, I am experiencing this issue, on other `azure-cli` calls I have never had this, but in `azure_rm` inventory this happens too many.

[2019-03-27 12:31] mkrizek commented on #22531
Unsure this is a bug. Docs [1] are clear on that with note: `Since Ansible version 0.9, templates are loaded with trim_blocks=True`. Also `trim_blocks` option was added for the `template` module in Ansible `2.4`.

[1] https://docs.ansible.com/ansible/latest/modules/template_module.html

[2019-03-27 12:43] mkrizek commented on #12575
Fixed in the recent versions of Ansible (tested 2.5, 2.6, 2.7 and the devel branch).

[2019-03-27 12:43] #12575 closed, assigned to jimi-c, bcoca

[2019-03-27 12:49] 5t4rdu5t commented on #54393
Hello, yes I'm 100% sure open-vm-tools  are started and enabled @boot time.

     wget 'http://cdimage.debian.org/cdimage/weekly-builds/amd64/iso-cd/debian-testing-amd64-netinst.iso'
    apt install open-vm-tools
    systemctl enable open-vm-tools

[2019-03-27 12:53] mkrizek commented on #16790
Is this still an issue with the recent version of Ansible and Mac OS X?

needs_info

[2019-03-27 13:03] vatsalparekh opened #54455 "kubevirt_template should pass default vm label"
##### SUMMARY

kubevirt_template should pass default label for vm templates
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubevirt_template
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-03-27 13:12] agowa opened #54457 "ipmath does not support netmasks"
##### SUMMARY
ipmath filter is unable to add to a netmask, e.g. Calculate host ip based on provided cidr.

##### ISSUE TYPE
- ~Bug  Report~
- Feature Idea

##### COMPONENT NAME
ipmath_filter

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ArchLinux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
`192.168.2.10/24`

##### ACTUAL RESULTS

[code]

[2019-03-27 13:22] agowa338 commented on #54457
!component lib/ansible/plugins/filter/ipaddr.py

[2019-03-27 13:36] rcarrillocruz commented on #54400
We will look into this on 2.9 cycle.

[2019-03-27 13:41] rcarrillocruz commented on #53766
waiting_on_contributor

[2019-03-27 13:46] #54455 closed, assigned to nobody

[2019-03-27 14:02] goneri opened #54459 "Ability to VMWare integration tests against a regular lab (instead of vcsim)"
##### SUMMARY

At this point, all the VMware integration tests are run against vcsim. A vcsim container is started by ansible-test before the run of the first vmware test. Each test playbook restart the vcsim daemon before the run, they also pass some parameters to pre-initialize some resources (e.g: datacenter=2, cluster=1, etc).

e.g: https://github.com/ansible/ansible/blob/devel/test/integratio

[2019-03-27 14:18] darknao opened #54461 "AIX user module fail with passwordless accounts"
##### SUMMARY
MODULE FAILURE when processing user without any password set on AIX platform

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
user module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Control node : RHEL 6.5, python 2.6.6
Target node : AIX 7200-02-02-1832, python 2.7.10

##### STEPS TO REPRODUCE

A newly created user without password on AIX

[2019-03-27 14:27] c0debreaker opened #54462 "Ansible HVAC plugin fails to read if secrets is KV2"
I'm using this code to pull secrets written in KV2.

[code]

and I tried this too
[code]

However, I'm getting an error which is shown at the bottom of this ticket. It will be painful if we will have to duplicate all our secret keys. There are values that we don't know too. Is there something I am missing in Ansible that will tell it to use kv2?

I know hvac library can read kv2 since I wrote a py

[2019-03-27 14:53] kdelee opened #54464 "Cloudforms inventory script not python3 compatible"
##### SUMMARY

Cloudforms inventory script cannot run in python3 because of rename of ConfigParser to configparser.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

contrib/inventory/cloudforms.py

##### ANSIBLE VERSION

2.8 is most critical
Bug probably exists in all released versions

##### STEPS TO REPRODUCE

Make python3 venv
Install ansible
Attempt to run `contrib/inventory/cloudforms.py`

[2019-03-27 15:04] kdelee commented on #54464
Downstream bug: https://github.com/ansible/awx/issues/3511
We will need to port the fix to awx
@AlanCoding has started on fix https://github.com/ansible/ansible/pull/54465

[2019-03-27 15:10] #49149 closed, assigned to nobody

[2019-03-27 15:13] pkaramol opened #54466 "uri module fails (hangs forever) where wait_for succeeds"
##### SUMMARY
Truing to verify the availability of a port.

`uri` hangs forever, `wait_for` succeeds

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`uri`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
(empty)

##### OS / ENVIRONMENT (on ansible controller)

[code]

##### STEPS TO REPRODUCE

[code]

[Here](https://gist.github.com/pkaramol/1f7e7d69b0845d92342442b3ed80a2f0) is a gi

[2019-03-27 15:13] c0debreaker commented on #54462
!component

I don't understand the response. What is this?

[2019-03-27 15:13] DAgostinoLucas commented on #50874
@fabianvf any news concerning this issue?

[2019-03-27 15:21] bcoca commented on #54342
please run with `-vvv` which will show detailed information for each plugin attempt

needs_info

[2019-03-27 15:34] pkaramol commented on #54466
For what is worth, from my ansible controller:

[code]

[2019-03-27 15:39] LeDOC666 commented on #54343
Here is a new test:

Inventory:
`[veeam]
serverA tag_save="test1 IB"
serverB tag_save="test2 IB"
serverC tag_save="test3 IB"
serverD tag_save="test4 IB"
`
Playbook:
`---
- name: Gather Facts
  hosts: veeam
  gather_facts: no

  tasks:
  - name: Create tags to APP
    vmware_tag:
      hostname: 'vsrv-vc-app'
      username: '***'
      password: '***'
      validate_certs: false
      category_id:

[2019-03-27 15:39] UnstableAlpha opened #54467 "vmware_guest fails to assign static address to multiple hosts"
##### SUMMARY
When deploying multiple Windows VM guests from a single template (not sysprep'd), utilizing static IP addresses, a number of hosts are not assigned the correct address, but instead receive a link-local address. This only occurs with Windows hosts, and the same behaviour was not observed when using Ubuntu hosts as a test case.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmwar

[2019-03-27 15:45] dagwieers commented on #54387
@rbrondgeest Please report back.

[2019-03-27 15:47] machacekondra commented on #53744
You need to change the playbook to following:

[code]

[2019-03-27 15:49] sivel commented on #54466
Your `uri` task is not running from the controller, it is running from the host itself.

If you want it to run from the controller, you will need to add `delegate_to: localhost`

[2019-03-27 15:51] sivel commented on #50598
Duplicate of https://github.com/ansible/ansible/pull/41132/files

[2019-03-27 15:51] #50598 closed, assigned to nobody

[2019-03-27 15:51] sivel commented on #54462
Duplicate of https://github.com/ansible/ansible/pull/41132

[2019-03-27 15:51] #54462 closed, assigned to nobody

[2019-03-27 15:53] garthkerr commented on #38771
I added an inventory python script i.e. `inventory/vars` that references `all` hosts and serves as a hack for how I want to reference the root directory structure.

[code]

[2019-03-27 15:57] ujwalkomarla opened #54470 "restconf_config POST method issue"
##### SUMMARY

restconf_config module 'post' method expected on Resource identifier

According to RFC 8040(Section 4.5: PUT),
"The target resource for the POST method for resource creation is the parent of the new resource."

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

restconf_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target Network OS: E

[2019-03-27 16:02] rolling1000ton commented on #53744
Yes!, Thanks, works like a charm 👍!

[2019-03-27 16:02] #53744 closed, assigned to nobody

[2019-03-27 16:04] pkaramol commented on #54466
You are right.

What might be the cause of that?

[code]
[code]

and why does `wait_for` succeeds?

[2019-03-27 16:06] sivel commented on #54466
I cannot necessarily say.  `wait_for` is roughly doing what you are with `nc` which succeeds as well.

So although the port is open, and `wait_for` and `nc` can verify that, the webserver listening on that port isn't fully functional from the host itself.

I'm going to go ahead and close this, as it's not an issue with the `uri` module.

If you have further questions please stop by IRC or the mail

[2019-03-27 16:06] #54466 closed, assigned to nobody

[2019-03-27 16:11] mattclay commented on #54459
I recommend running teardown at the end of the test role in a finally block, as we do with many other tests, to avoid leaving behind resources after tests pass or fail.

[2019-03-27 16:15] kai2nenobu opened #54471 "win_regedit task including asterisk in its path cannot be applied multiple times"
##### SUMMARY

When `win_regedit` task has a path including asterisk, `MethodCountCouldNotFindBest` error has occured in second execution.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

win_regedit

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Control machine is Ubuntu 18.04 on WSL.

[code]

Installed pip libraries

[code]

Target machine is Windows 1

[2019-03-27 16:19] #54189 closed, assigned to nobody

[2019-03-27 16:23] pkaramol commented on #54466
fyi...

this perhaps **could** be related to `uri` if it is using `curl` funcionality.

The problem is a known `curl` bug where

Credits to [this SO](https://stackoverflow.com/a/22600892/2409793) answer;

[2019-03-27 16:23] dagwieers commented on #40636
@joelwking Ansible v2.8 will allow to vault the private_key, or use the content rather than a file reference.

[2019-03-27 16:38] mattclay opened #54474 "Failing integration test old_style_cache_plugins"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

old_style_cache_plugins integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test old_style_cache_plugins is disabled because it always fails.

##### STEPS TO REPRODUCE

`ansible-test integration old_style_cache_plugins --docker ubuntu1604 -v --allow-disabled`

####

[2019-03-27 16:39] kai2nenobu commented on #54471
I found that `win_regedit` check whether its path is already stored in registry by using `Get-Item -Path $path` ([here](https://github.com/ansible/ansible/blob/v2.7.9/lib/ansible/modules/windows/win_regedit.ps1#L155)). Unfortunatelly, `Get-Item -Path` interprets asterisk as the wildcard character, `Get-Item -Path $path` may return multiple registry keys and it leads to failure with `MethodCountCou

[2019-03-27 17:10] nyetwurk commented on #16593
I had to do something like this, since sometimes `lock-frontend` is held but `lock` isn't
[code]
Note that this workaround is still race prone, since if another apt starts between this and the upcoming ansible apt, the ansible apt one will still fail.

[2019-03-27 17:12] nyetwurk commented on #25414
I had to do something like this (yes, using `fuser`, not looking for the `unattended` process)

Since sometimes `lock-frontend` is held but `lock` isn't:
[code]
Note that this workaround is still race prone, since if another apt starts between this and the upcoming ansible apt, the ansible apt one will still fail.

[2019-03-27 17:15] rbrondgeest commented on #54387
@sm4rk0 @dagwieers in my case i am actually using a variable, like this:

[code]

[2019-03-27 17:17] GangaramD commented on #10088
Here i don't see any indentation syntax issue, the issue  is due to the missing double quotes  `"{{ user_home }}/.gitconfig "`

After changes the snippet would look like,

       name: upload git config to fix proxy problem
       copy: src=roles/bootstrap/templates/gitconfig
                 dest="{{ user_home }}/.gitconfig"
                 owner="{{ user }}"
                 group="{{ user }}"

[2019-03-27 17:19] dagwieers commented on #54387
So what @sm4rk0 suggests to use is:
[code]
or even this:
[code]
Since `add_children` is a list, and since for historical reasons we turn comma-separated strings into lists automagically, you have this issue. But if you provide it a list, no such conversion is happening.

[2019-03-27 17:23] jamesdh commented on #29293
It appears there has been some changes with `brew bundle` that might affect this issue:

- `brew bundle` is automatically installed when run, meaning it now automatically taps `homebrew/bundle` on its first execution. No need to worry about having it tapped (addressing @indrajitr's original point).
- Given the homebrew communities willingness to create more and more taps, this module should probab

[2019-03-27 17:46] christianpinger opened #54476 "constructed plugin - keyed_groups cannot be used to create groups based on hostvars"
##### SUMMARY

When I try to create groups based on hostvars using the constructed plugin with keyed_groups, no hostvars are found.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

inventory-plugin: constructed

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS, CLI, local, inventory parsing

##### STEPS TO REPRODUCE

I have two inventories.

One ini in

[2019-03-27 17:48] felixfontein commented on #52407
For basic check mode, see #54477.

[2019-03-27 18:01] bcoca commented on #54476
You can use  hostvars, just not  `host_vars/` nor `group_vars/` as those are not loaded at the point of inventory source evaluation, only after.

[2019-03-27 18:15] ivandir commented on #40586
I'm hitting the issue with Ansible 2.7.8 and Python 3.7

  ansible python module location = /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ansible
  python version = 3.7.0 (v3.7.0:1bf9cc5093, Jun 26 2018, 23:26:24) [Clang 6.0 (clang-600.0.57)]

`ansible-galaxy install -p ./roles bennojoy.ntp`
[WARNING]: - bennojoy.ntp was NOT installed successfully: Failed to get dat

[2019-03-27 18:20] okgolove commented on #53872
@samdoran my tests for my module with fetch_url() also are not able to pass because of the same error:

https://app.shippable.com/github/ansible/ansible/runs/116365/6/console
<img width="957" alt="123" src="https://user-images.githubusercontent.com/36846182/55101818-a9df1d00-50cd-11e9-8ab7-a1c59568cfc6.png">

[2019-03-27 18:39] sparsick opened #54481 "java_cert: module fails when system environment https_proxy is set"
##### SUMMARY

When the system environment "https_proxy" is set with the pattern `http://host:port` then the java_cert module fails. When I change the system environment "https_proxy" to a value according to the pattern 'host:port' then the module runs successfully.

I think the problem is in this [line](https://github.com/ansible/ansible/blob/ec83f52fa836c0dc4edbc5e1e7baca00f903ec49/lib/ansible/m

[2019-03-27 18:49] mariolenz commented on #50181
Any chance of getting it on the roadmap? Not for 2.8 but a later version.

[2019-03-27 18:52] balonik commented on #44978
If you however pass the -d dbname to pg_restore and use `pg_dump dbname`, it will connect directly to the specified DB. And since `name` is already mandatory parameter I don't see the logic behind connecting to a different DB (maintenance_db or not) first. This is basically the usecase I would benefit from the most.

[2019-03-27 18:54] mariolenz commented on #53361
Thanks, didn't know ansible-connection yet. Is there some kind of documentation or example how this is supposed to be used? I wasn't able to find any but maybe I was just too stupid to google.

[2019-03-27 18:56] balonik commented on #44978
I can also imagine creating new modules `postgresql_dump` and `postgresql_restore` that will work as I would like them to do and keep the `postresql_db` as is.

[2019-03-27 19:13] dglinder commented on #50529
@kylix3511 wrote:

Same here, RedHat 7.6, ansible 2.7.7, Python 2.7.5, except Tower 3.3.4 and using a custom Ansible Environment that has been setup just for this task (See playbook below) - the Tower documentation and RH support recommend this.

When we specify the custom environment via Tower/AWX we still get the error.  The output from `python_requirements_facts:` for Towers "/var/lib/awx/venv/

[2019-03-27 19:25] infragilis commented on #51790
workaround until then, but uses ssh keys:

tasks:
  - name: create junction
    raw: vol mount -volume cloud -junction-path /cloud

[2019-03-27 19:33] rbrondgeest commented on #54387
Nice - I can confirm that this works.
Terrible how this is being parsed so dynamical, good that I know now.

Sorry for bothering with a non-related issue, thanks for your time.

[2019-03-27 19:33] #54387 closed, assigned to nobody

[2019-03-27 19:36] ralphie02 commented on #53448
Didn't see this till yesterday...Please see reply below

**6.7.1**

**I got the default OVT from Alpine 3.7's repo which is 10.1.15**

**I'll try this out at some point this week if time permits. Hopefully sooner rather than later**

**As per @Akasurde 's comment,**

**Perl 5.20.3 is installed.**

**10.1.15 is installed via apk**

**started and enabled in default Runlevel**

[2019-03-27 20:44] flatline-studios commented on #49815
This isn't really resolved.

https://docs.ansible.com/ansible/2.7/user_guide/playbooks_filters.html (mentioned in the original issue), still doesn't mention it.

Using search for `product` still doesn't show anything up for it:

https://docs.ansible.com/ansible/latest/search.html?q=product&check_keywords=yes&area=default

And the PR doesn't actually exist on the https://docs.ansible.com site as fa

[2019-03-27 21:08] zopar commented on #37309
Sorry, I didn't had time to test it. Is it valid also for group of serialized host?
Do you can set the ignore flag for every group or it works globally?

[2019-03-27 21:24] abadger commented on #51884
#54468 has been merged.  Closing.

[2019-03-27 21:24] #51884 closed, assigned to nobody

[2019-03-27 21:35] bcoca commented on #53361
only if you count existing code as 'documentation' ....

[2019-03-27 21:43] balucio opened #54488 "getent module on hosts report different results than getent hosts command"
##### SUMMARY
Seems that module `getent` on `hosts` database does not return all data reported by `getent hosts` command.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
getent module
##### ANSIBLE VERSION
[code]

##### EXPECTED RESULTS
  `getent` module should report same data of `getent hosts` command

##### ACTUAL RESULTS
The module getent does not reports the same data of getent comand. S

[2019-03-27 22:19] bcoca commented on #11930
so `v2_runner_on_skipped` always gets called, the original issue was against the deprecated older version of the callback method, which only gets called if `v2_` is not present. As such, closing this issue as we always trigger the proper event.

[2019-03-27 22:19] #11930 closed, assigned to bcoca

[2019-03-27 22:41] #53962 closed, assigned to nobody

[2019-03-27 23:55] stana opened #54493 "tower_credential module does not allow credential creation of custom tower credential type"
##### SUMMARY

Ansible Tower allows for custom credential types to be created. They can also be created using the existing module - tower_credential_type. But tower_credential module seems to only allow referencing built-in credentials (using 'kind' param) and does not allow us to reference and create credential of custom type.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

tower_credential

[2019-03-28 00:16] c0debreaker commented on #54462
Just adding my solution here

I got hvac plugin working even without modification of the file `ansible/plugins/lookup/hashi_vault.py`.

I changed my template from
[code]
to
[code]

For kv1, the first json above will work and won't need to add `.data`.

My hashi_vault that worked for kv2 is `'secret=secret/data/serverlab/production/db`
For kv1, it should be `'secret=kv-v1/serverlab/production/db`

[2019-03-28 00:20] #30413 closed, assigned to nobody

[2019-03-28 00:51] kylix3511 commented on #50529
+1

[2019-03-28 01:28] #37756 closed, assigned to nobody

[2019-03-28 02:05] jborean93 commented on #54413
@raffienficiaud thanks for picking up on this, the fix for this is https://github.com/ansible/ansible/pull/54495.

[2019-03-28 02:15] jborean93 commented on #54471
@kai2nenobu this has been a somewhat longstanding issue where `win_regedit` falls flat when dealing with paths that contains `/`,  `[`, `]`, `*`, and others due to the use of `-Path`. I've recently overhauled the module in https://github.com/ansible/ansible/pull/53305 which stops using the PS registry provider and uses the pure .NET methods.

Unfortunately the changes made there were too large to

[2019-03-28 02:15] #54471 closed, assigned to nobody

[2019-03-28 02:26] yuwzho commented on #54444
Hi @shamaljayalath Seems some of your Azure SDK libraries are not in the expected version. The cause may be that you install other azure tools like Azure-CLI, which also installs its required Azure SDK libraries on the machine. My suggestion is to download [the requirement.txt](https://github.com/ansible/ansible/blob/stable-2.7/packaging/requirements/requirements-azure.txt) and install the depende

[2019-03-28 02:30] #54413 closed, assigned to nobody

[2019-03-28 04:05] donateur commented on #43891
We have this problem with multiple VMs being incorrectly included, including:
- A random Windows server
- An nsx-controller
- A Linux template (we filter for powered on and "ansible_ssh_host is not none")

It's causing us major issues as across our various vSphere environments Ansible Tower is picking up so many extraneous hosts that we are exceeding our license limit.

[2019-03-28 05:19] #52506 closed, assigned to nobody

[2019-03-28 05:19] jborean93 commented on #53539
Fixed by https://github.com/ansible/ansible/pull/53542

[2019-03-28 05:19] #53539 closed, assigned to nobody

[2019-03-28 06:49] #54165 closed, assigned to nobody

[2019-03-28 06:49] justjais commented on #54050
@twbowman thanks for raising the issue, I wanted to confirm your expectation from the bug prospects that in the bug scenario the interface that are in config but no longer exists should be deleted or when  respective scenario is encountered Ansible should throw exception like: `Interface not configured properly` and stop play execution.

Kindly confirm your expectation.

[2019-03-28 07:28] Andersson007 commented on #44978
@balonik , anyway, the idea about postgresql_dump and _restore sounds great. However if we are going to implement these, they must support all util’s parameters.
Are you going to implement they by your self?

[2019-03-28 07:28] scuben commented on #52329
I can confirm this issue.

[2019-03-28 07:29] mattclay commented on #48782
We're going to wait until FreeBSD 11.3 is released, which is expected around July 9th, 2019.

Hopefully the stability issues will be resolved in that version.

[2019-03-28 07:48] fessmage commented on #30130
What about this feature idea? Described use case still relevant and this feature still will be useful.

[2019-03-28 07:50] Fred-sun commented on #43416
@zikalino Please help take a look this issue when you're available! Thanks!

[2019-03-28 08:03] Akasurde commented on #54393
@5t4rdu5t I tried installation with your given link. I am unable to reproduce the bug -

vmware_guest_facts output -

[code]

vmware_vm_shell :

[code]

Open-vm-tools version - 10.3.5-8

needs_info

[2019-03-28 08:11] mkrizek commented on #17664
Verified.

[2019-03-28 08:11] #17664 closed, assigned to bcoca

[2019-03-28 08:40] Fred-sun commented on #41003
advice closed, this duplicate with #39958(has been closed). It can be closed temporarily and reopened when needed. Thanks!

[2019-03-28 08:46] dpassante opened #54510 "cs_service_offering: service_offering_details expects a wrong parameter type"
##### SUMMARY

Minor bug.

The `service_offering_details` parameter expects a boolean when it should be a list.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cs_service_offering

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

[2019-03-28 08:51] yungezz commented on #41003
@zikalino could you pls take a look at the issue?

[2019-03-28 09:52] blastik opened #54514 "win_chocolatey - Error checking installation status for the package"
##### SUMMARY
`win_chocolatey ` module fails to install packages

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`win_chocolatey `

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
nothing remarkable

##### OS / ENVIRONMENT

macosx

##### STEPS TO REPRODUCE
tasks file:
[code]
in vars:
[code]
##### EXPECTED RESULTS
install choco packages without error

##### ACTUAL RESULTS

[code]

[2019-03-28 09:58] adithyakhamithkar opened #54515 "Add networkRuleSets for evenhub"
##### SUMMARY

Add networkRuleSets for evenhub I am referring this documentation https://docs.microsoft.com/en-us/rest/api/eventhub/namespaces/createorupdatenetworkruleset

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

I am trying to structure the ansible playbook like this I am not sure if it's the right way
[code]

This is how my body is going
[code]

[2019-03-28 10:18] jhawkesworth commented on #54514
@blastik I don't use this module much myself but I think you will need to pass 'source' to `win_chocolatey` if you want it to collect packages from your artifactory - see https://docs.ansible.com/ansible/latest/modules/win_chocolatey_module.html#parameters  - I see you have disabled default chocolatey source but its worth trying with `source` parameter added.

Please can you try with `source` spec

[2019-03-28 10:26] s11-charendt commented on #54476
Thanks for clarification, what would be a good approach to build groups based on host_vars/ ?

[2019-03-28 10:30] 5t4rdu5t commented on #54393
Is the version of vCenter is important ? Mine is 6.0 now. Wich version for you @Akasurde ?

[2019-03-28 10:35] raymondroelands opened #54516 "postgresql_privs ignores partioned tables in ALL_IN_SCHEMA"
##### SUMMARY
The ALL_IN_SCHEMA option of postgresql_privs ignores the partioned tables.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postresql_privs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Postgresql version 10.0 >

##### STEPS TO REPRODUCE

Include partioned table in your schema and grant access access to ALL_IN_SCHEMA

[code]

##### EXPECTED R

[2019-03-28 10:46] Akasurde commented on #54393
@5t4rdu5t Yes, vCenter version is important, support for different OS is mapped to different vCenter versions.

You can check support matrix from VMware - http://partnerweb.vmware.com/programs/guestOS/guest-os-customization-matrix.pdf

Debian 10 is not listed here.

My vCenter version is 6.5

[2019-03-28 10:46] sajithapps commented on #50094
Any Update on this ? Any working code or devel branch to refer to ?

[2019-03-28 10:48] Akasurde commented on #54393
Also, there is customisation support matrix for Ansible which I maintain - https://github.com/ansible/community/wiki/VMware%3Acustomisation

[2019-03-28 10:55] jborean93 commented on #54514
See https://github.com/ansible/ansible/issues/53860#issuecomment-473431360

[2019-03-28 10:55] #54514 closed, assigned to nobody

[2019-03-28 10:55] adithyakhamithkar commented on #54515
I figured it out

[2019-03-28 10:55] #54515 closed, assigned to nobody

[2019-03-28 12:04] Akasurde commented on #53448
@ralphie02 The only difference between your setup and my setup is vCenter version. Mine is 6.5 and yours is 6.7.1

Do you have 6.5 server where you can test this ? needs_info

[2019-03-28 12:07] Akasurde commented on #54516
!component =/lib/ansible/modules/database/postgresql/postgresql_privs.py

[2019-03-28 12:07] Akasurde commented on #54516
resolved_by_pr #54517

[2019-03-28 12:23] noctux opened #54519 "jenkins_job fails for XML files with encoding declarations"
##### SUMMARY

The jenkins_job fails to reconfigure the respective job due to a parsing issue within lxml when the configuration file contains an encoding declaration.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

jenkins_job

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

This output is empty on my box
[code]

##### OS / ENVIRONMENT

Client: Arch Linux, python-lxml version 4.3.3-1, p

[2019-03-28 13:23] kbreit opened #54521 "New module - meraki_group_policy"
##### SUMMARY
Meraki added support for group policy configuration within their API. An Ansible module should be created to support creation and modification of a group_policy..

https://api.meraki.com/api_docs#create-a-group-policy

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2019-03-28 13:48] Yajo commented on #53751
I tried with very old versions and still it doesn't work:

[code]

[2019-03-28 14:34] #54516 closed, assigned to nobody

[2019-03-28 14:45] kbreit opened #54527 "ansible-test coverage documentation isn't formatted properly"
##### SUMMARY
https://docs.ansible.com/ansible/latest/dev_guide/testing_running_locally.html

At the bottom of the page there's a line: "ansible-test units –coverage apt ansible-test integration –coverage aws_lambda –tox –requirements ansible-test coverage html"

It isn't formatting properly. It should be of `code` type but is showing as regular indented text. The line before it ends in `::` so it

[2019-03-28 14:50] tmichett opened #54528 "[RFE] Extend ovirt_template Module"
##### SUMMARY

Extend the **ovirt_template** module import functionality. Currently, as it stands a template cannot be imported into any other RHV Data Center / Storage Domain if the template already exists. You get error from Ansible:

"Import Template failed - Template Id already exist in the system. Please remove the Template (Template_Name) from the system first]". HTTP response code is 409."

[2019-03-28 14:51] Tyler-2 opened #54529 "kinesis_stream fails to update shard count"
##### SUMMARY

While support was added for updating the shard count of an existing Kinesis stream ( https://github.com/ansible/ansible/pull/24805 ) there is still logic left over from before that support was added that errors out if the stream exists and we're trying to change shard counts.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kinesis-stream

##### ANSIBLE VERSION

[code]

##### C

[2019-03-28 14:56] tompscanlan commented on #52050
I'm getting similar or the same:

[code]

[code]

Vars:
[code]

Task:
[code]

[code]

Also, trying
[code]

[code]

Happy to do some debugging at request, but probably just moving on to running kubctl in command for now.

[2019-03-28 15:26] loski07 commented on #54303
I can reproduce the error in the current development branch:

[code]

[code]
pip freeze
[code]

[2019-03-28 15:39] 5t4rdu5t commented on #54393
What is column 'status' in the table please ? @Akasurde

So my issue is the vcenter version.

[2019-03-28 15:44] Tyler-2 opened #54534 "kinesis_stream fails to delete tags"
##### SUMMARY

When removing tags from a Kinesis stream, the module fails out with:

`botocore.exceptions.ParamValidationError: Parameter validation failed:\nInvalid type for parameter TagKeys, value: dict_keys(['app']), type: <class 'dict_keys'>, valid types: <class 'list'>, <class 'tuple'>`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kinesis_stream

##### ANSIBLE VERSION

[code]

#####

[2019-03-28 15:57] LeDOC666 commented on #54343
@Akasurde With this last test, I'm asking a lot of question !?
The job to do is the same, but one work, and other fail.

[2019-03-28 16:03] davejennings commented on #54519
Reverting to python2 as the ansible_python_interpreter and using the associated python2 libraries works for me. Not sure if that means this isn't an ansible problem and an issue with python3-jenkins and/or python3-lxml.

[2019-03-28 16:11] helfgott opened #54538 "Unable to remove deb package"
##### SUMMARY

**After installing a package:**
[code]
**I'm unable to uninstall it using:**
[code]
**Error message is:**

`fatal: [SERVER]: FAILED! => {"changed": false, "failed": true, "msg": "deb only supports state=present"}`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
deb

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Target:
Linux  Ubuntu 16.04.4 LT

[2019-03-28 16:12] #26486 closed, assigned to nobody

[2019-03-28 16:12] loski07 commented on #54303
It also affects to `openssl_certificate` module

[2019-03-28 16:13] helfgott commented on #54538
Seems like apt.py is looking for some cache of apt (this won't happen because the package was installed directly and not from repository).

As a workaround I'm executing this handler:
[code]

[2019-03-28 16:16] stgrace commented on #54519
It's and issue with python-jenkins with Python3 like @davejennings said

[2019-03-28 16:16] misra-anshuman opened #54539 "Please add parameter 'expected_return_code' for modules 'win_command' & 'win_shell'."
##### SUMMARY
Please add parameter 'expected_return_code' for modules 'win_command' & 'win_shell'. Currently, only rc: '0' is supported; could use '3010' as well, or maybe a few others.

##### ISSUE TYPE
- Parameter 'expected_return_code' missing for modules 'win_command' & 'win_shell'.

##### COMPONENT NAME
win_command
win_shell

##### ADDITIONAL INFORMATION
Presently using 'failed_when' conditio

[2019-03-28 16:21] Akasurde commented on #54393
`Status` - shows if Ansible + vCenter + OS specified works for customisation or not.

[2019-03-28 16:22] Akasurde commented on #54393
Not sure if vCenter version is culprit but it is worth trying on the 6.5 version as well. I don't have 6.7 so can not test that combination.

[2019-03-28 16:27] 5t4rdu5t commented on #54393
Customisations via wich module ?
(sorry, deleted my question, I asked what is the status from the table in your matrix)
`vmware_guest` parameters or `vmware_vm_shell` interactions ?

 OK, so the issue is my vCenter version. If yes, you can close this issue. Thanks

For Linux, I think the better module is `vmware_deploy_ovf` but for a windows server 2019, `vmware_guest` can customize all the stuff

[2019-03-28 16:28] jeff-cook opened #54541 "Homebrew upgrade_all fails when pinned packages"
##### SUMMARY

When running the following with pinned formulas

[code]

It creates this error.

`fatal: [localhost]: FAILED! => {"changed": false, "msg": "Error: Not upgrading 1 pinned package:"}`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

homebrew

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

System Version: macOS 10.14.4 (18E226)
Kernel Version:

[2019-03-28 16:35] Akasurde commented on #54343
@LeDOC666 I am not sure I am following you here. Could you please provide full logs (-vvvv) of both the runs ? Thanks.

[2019-03-28 16:36] 5t4rdu5t commented on #53650
Are properties depends of [your matrix](https://github.com/ansible/community/wiki/VMware%3Acustomisation) ?

[2019-03-28 16:43] Akasurde commented on #54393
@5t4rdu5t The table is specific to `vmware_guest` module. When `vmware_guest` is used with template and customization is added in PB then this table shows what works and what does not.

Using `vmware_guest` and `vmware_deploy_ovf` depends upon case to case basis. It just the matter of choice. Before `vmware_deploy_ovf` module users used to use `vmware_guest` and `vsphere_guest` modules for OS cust

[2019-03-28 16:47] 5t4rdu5t commented on #54393
It will be 6.7 upgrade. Thanks for your time

[2019-03-28 16:53] LeDOC666 commented on #54343
@Akasurde
Here is first job:
[code]

And the second one:

[code]

[2019-03-28 17:00] misra-anshuman commented on #54539
Ansible v2.7.7

[2019-03-28 17:11] misra-anshuman opened #54545 "Ansible Windows Module 'win_get_url' fails to download binary file on Windows Server 2008 R2, unless IE browser is launched once and closed."
##### SUMMARY
Ansible Windows Module 'win_get_url' fails to download binary file on Windows Server 2008 R2, unless IE browser is launched once and closed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows Server 2008 R2 Standard / Enterprise

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2019-03-28 17:22] noctux commented on #54519
Thank you for your response!

I'm not really a python programmer, but the lines I've changed are only related to lxml and don't touch the jenkins-module anywhere. So are you sure that the jenkins-api package is to blame? Maybe using a different lxml-decoding could help as well?

[2019-03-28 17:26] lanoxx opened #54550 "Ansible Windows Setup module should not use NETBIOS name for ansible_hostname"
##### SUMMARY

There is a bug in the Windows Setup module of Ansible. Ansible uses the `$env:COMPUTERNAME` to determine `ansible_hostname`, see here:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/setup.ps1#L323

According to https://stackoverflow.com/a/1233458/474034 the computer name resolves to the local NETBIOS name and can only be 15 characters long:

This means, t

[2019-03-28 17:28] anthonyloukinas commented on #45745
@Routhinator Can you provide any more detail in what you're running? Specifically the looping and an example of your vmguest_ params if possible.

[2019-03-28 17:34] ralphie02 commented on #53448
Do you mean pyVmomi?? I don't think I ever provided my vSphere version, if I did, it's not 6.7.1....

[2019-03-28 17:37] loski07 commented on #54303
I found the problem in my case, even though I have set `connection: local` in the play I needed to specify the `ansible_python_interpreter` for the host where I have the modules installed

[2019-03-28 17:46] stgrace commented on #54519
Changing line 1194 in __init__.py of the python-jenkins package to not call the decode method makes it work on python3.
That being said just using python2 works too.

[2019-03-28 17:49] rifty opened #54552 "Nxos_config backup performs partial backup. Remaining output is registered into the subsequent playbook variable."
##### SUMMARY
When backing up the configuration of a pair of Cisco 9500 switches, the nxos_config: backup only saved the first half of the running-configs from each switch.  **The remaining portion of the config then appears in the next task variable where we assign output.**  So instead of getting the output from the next task's command registered into a variable, the remaining portion of the nxo

[2019-03-28 17:50] felixfontein commented on #54303
@loski07 thanks for resolving this (at least in your case)! This is what I would have guessed from the output you posted above (otherwise the Ansible modules should have found the Python modules).

@msnelling can you check whether this is also the problem in your case?

[2019-03-28 17:54] rifty commented on #54552
Note:  I see that the `nxos_config: backup: true` doesn't hit this partial backup issue with the latest version of ansible2.6 stable (2.6.15).  However the underlying issue of seeing the remaining config data appear in a subsequent task's registered variable is something that should be investigated independent of the partial backup issue.

[2019-03-28 18:04] bcoca commented on #54476
group_by action

[2019-03-28 18:21] anthonyloukinas commented on #45745
@Routhinator Okay I've narrowed the issue down. If you are cloning a machine, you need to use the state `present` not `started`. The reason for this is because the `create_vm` function is only being called in the `present` state logic.

It would be redundant to copy the create_vm function that is ran in the `present` state logic to the `started` logic, only if clone exists. (2x 58lines). What like

[2019-03-28 18:46] #53822 closed, assigned to nobody

[2019-03-28 19:06] DroneKid commented on #47097
I experience this in 2.7.9 when ansible runs as a provisioner from Packer and `src` is a relative path. Exactly the same environment (ansible-playbook run against the same deployment target started by Packer) works fine.

[2019-03-28 19:25] schewara opened #54555 "docker_network ipam_options not working for qnet driver"
##### SUMMARY
In my usecase, the qnet driver requires options to use certain network interfaces

More information can be found here:
http://qnap-dev.github.io/container-station-api/qnet.html

Changing the previously misnamed `ipam_options` to `ipam_config` is a good start.
But as the `IPAMConfig` from `docker.types` do support the options, it would be great to have it working properly in Ansible a

[2019-03-28 19:48] bgurney-rh opened #54556 "vdo: module fails when modifying VDO 6.2 volumes without read cache"
##### SUMMARY

If a "creation" playbook (i.e.: "state:present" when the VDO volume already exists) is executed with VDO 6.2, the playbook execution fails with an error on vdo.py line 611: "KeyError: 'Read cache'".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vdo

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vdo-6.2.0.293 on Red Hat Enterprise Linux 8

[2019-03-28 19:50] bgurney-rh commented on #54556
Ideally, playbooks without the "readcache" parameter should work normally with VDO 6.2.

[2019-03-28 19:55] MarkusTeufelberger commented on #29951
Yeah, I was never too happy with the different "providers" in `openssl_certificate`, but I opted against having two modules that are either capable of generating certificates or just capable of verifying their properties.

Maybe for 2.9 or 2.10 it might make sense to split out the `assertonly` provider into some `openssl_certificate_facts/info` module that allows one to also specify as much inform

[2019-03-28 20:14] mariolenz commented on #53361
I think I can read the code and understand what it _does_, but I'm not sure if that's enough to understand how to _use_ it.

Btw: My idea was to have a session caching mechanism that modules can use but since ansible-connection is located under bin/ it seems to be something different. I've grep'ed for ansible-connection in modules but no module seems to use it. So some kind of documentation and /

[2019-03-28 20:26] felixfontein commented on #54555
So this is a feature request, not a bug report? Because you need a feature which doesn't yet exist?

[2019-03-28 20:27] bcoca commented on #18430
So i'm closing this ticket as the behaviour is as designed, 'with' does take the task type into account while the 'raw lookup' cannot.

[2019-03-28 20:27] #18430 closed, assigned to nobody

[2019-03-28 20:28] bcoca commented on #43404
needs_info

[2019-03-28 20:29] jhawkesworth commented on #54545
@misra-anshuman if I recall the powershell cmdlet for making web requests had a dependency on Internet explorer that caused this to be an issue. I think later versions of powershell / dotnet removed this dependency.

I haven't tried v

[2019-03-28 20:45] #49612 closed, assigned to nobody

[2019-03-28 20:49] #54510 closed, assigned to nobody

[2019-03-28 21:03] flaviomeyer opened #54561 "dict object' has no attribute 'json'"}"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS: CentOS 7.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Write value 0 to variable result when output of json parsing is value 0

##### ACTUAL RESULTS

ansible-playbook -i /Users/fmeyer/.ansible/hosts playbook/aem_test.

[2019-03-28 21:10] ducksauser opened #54563 "ntlm unsupported hash type"
##### SUMMARY
Running on ansible 2.7.x and 2.6.x there is a bug that will occur when fips-140 is enabled on the ansible box. This seems to only affect the NTLM windows module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible_winrm_transport: ntlm

##### ANSIBLE VERSION
ansible 2.6.9
anisble 2.7.9
ansible 2.7.2

[code]

##### OS / ENVIRONMENT
Running on a STIGGED RHEL 7.6 ec2 instance t

[2019-03-28 21:20] sivel commented on #54561
As you are doing an `until` loop, and checking for a specific attribute, you will need to make sure that even when the request fails, and that attribute is not available that the `until` doesn't fail as such.

Something like:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2019-03-28 21:20] #54561 closed, assigned to nobody

[2019-03-28 21:25] jdavis-douglas-co-us commented on #43891
@donateur What version & build of vcenter are you running?

[2019-03-28 21:26] jborean93 commented on #54545
I can't replicate this, I use `win_get_url` as part of my image build process for various Windows Server versions and it yet to fail for me. This build process is from a plain vanilla install and IE is never initialised manually. AFAIK the .NET classes we use rely on WinHTTP and not WinINet (IE) but the whole setup is somewhat complex so I might be wrong there.

Can you share the output of the fai

[2019-03-28 21:57] msnelling commented on #54303
I'm not sure if @loski07 has the same problem. I have one host, my Mac, that I am trying to run the `openssl_csr` task on using the local connection. There are two python interpreters, the default one installed at `/usr/bin/python` and one from Homebrew at `/usr/local/bin/python3`. Both of these have the same error if I specify `ansible_python_interpreter` in the `ansible.cfg`. Is this the right p

[2019-03-28 23:29] jborean93 commented on #54563
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * A FIPS enabled system means that the md5 hash cannot be used
   * NTLM uses md5 in a few different places to create the hash and internal keys and would fail i

[2019-03-28 23:29] #54563 closed, assigned to nobody

[2019-03-28 23:38] ncelebic commented on #28517
Looks like you need to adjust your PR @helldorado

The fix works

[2019-03-29 00:28] willthames commented on #52050
Looks like you have a completely different problem @tompscanlan

The end of your error message is `return binascii.a2b_base64(s)\nbinascii.Error: Incorrect padding`
which suggests a problem somewhere in a base64 encoded string, most likely in ~/.kube/config

[2019-03-29 00:32] kai2nenobu commented on #54471
@jborean93 I confirmed `win_regedit` on `devel` branch works perfectly as I expected.  Thank you so much :smile:

[2019-03-29 00:44] NZSmartie commented on #33580
openssl s_client can be misleading if you do not provide `-servername`.

In my case:
[code]
would return
[code]

but running
[code]

would return

[code]

I've identified the issue to be with LetsEncrypt certs not being delivered with an intermediate certificate. as recommended by their documentation.

[2019-03-29 01:16] antienho commented on #50913
Matt,
openssl req -new -newkey rsa:1024 -days 36500 -nodes -x509 -keyout ansible.key -out ansible.crt -subj '/CN=Ansible/O=yourcompanyname lab/C=US'
after I get the certificate, instead of using the ansible module to apply the cert to ACI, I copy the certificate into ACI through GUI.After installing it, I can query and do other playbook modules without certification errors.
Antien
    On Monday, M

[2019-03-29 03:31] mamullen13316 commented on #50913
Thanks Antien.  I was getting the error regardless of whether I manually applied it to the user in ACI or used the playbook to upload the cert.   However I was able to find a workaround which was installing Python 2.7.10 using PyEnv and installing Ansible into that.

NON-WORKING:
➤ ansible --version
ansible 2.7.9
  config file = /Users/mmullen/AnsiblePlaybooks/ansible-aci-workshop-master/ansible.c

[2019-03-29 04:15] #52203 closed, assigned to nobody

[2019-03-29 05:17] vaibhavzo commented on #24215
+1

[2019-03-29 05:31] felixfontein commented on #54303
You have to set `ansible_python_interpreter` in the inventory variables; I think you can also just set it for one task:
[code]
Though it could be that this only will work for 2.8, and not for 2.7.x. I don't think you can configure it in `ansible.cfg`; at least https://docs.ansible.com/ansible/latest/reference_appendices/config.html doesn't mention it (in 2.8, you will be able to mention it with `i

[2019-03-29 06:19] Akasurde commented on #42740
resolved_by_pr #42765

[2019-03-29 06:30] #42740 closed, assigned to nobody

[2019-03-29 06:39] L1ghtman2k commented on #42064
Same problem, with Windows. I am deploying multiple clones from the same template, with exact same configuration with the exception of the ip address. Some VMs end up having NICs, some not. Very inconsistent, and I am not sure how I can deal with it. I used both start_connected: True, wait_for_ip_address: True, and wait_for_customization: True (Dev Branch).

[2019-03-29 06:43] Erilbeth commented on #54342
Verbose output
[code]

[2019-03-29 07:31] meyerf99 commented on #54561
@sivel
Thanks it works with `"until: (result.json|default(dict(s=[1,1,1,1,1]))).s[4] == 0"`.

[2019-03-29 08:48] DevOps-kijukang opened #54583 "I am not able to connect to the server after adding the setting for command to sshd_config."
##### SUMMARY
I am not able to connect to the server after adding the setting for command to sshd_config.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.5.1804 (Core)
AWS ec2

##### STEPS TO REPRODUCE

[code]

[code]

contents of /tpm/ssh-wrapper
[code]

[code]

##### EXPECTED R

[2019-03-29 09:24] bluikko commented on #44684
I do not understand this feature request. There can only be one type for each target, in your example you try to set two types to the same target `/mnt/dir1/logs`.

[2019-03-29 09:25] kschoenrock-iw commented on #50293
I'm getting the same error with ansible 2.7 (installed via pip), Grafana 5.2.1, Python 2.7.15rc1 (Ubuntu 18.04). Passing the same dashboard to Grafana using cURL works.

[code]

The task configuration:

[code]
Without UID issue #47119 gets triggered.

[2019-03-29 09:27] shogo2022 commented on #44310
Could you check if you have any non-ascii characters in Fortigate config? I suspect this is caused by code handling error in pyFG.

[2019-03-29 09:45] Akasurde commented on #50546
resolved_by_pr #54587

[2019-03-29 11:00] tristan-weil opened #54589 "uri fails when client cert is mandatory on remote server"
##### SUMMARY

I need to request an url over SSL where a client cert is mandatory.
Both the client and the remote server have valid SSL certs signed by a known CA (installed in the systems).

The uri module fails with this error (see below):
The exception msg was: [SSL: SSLV3_ALERT_BAD_CERTIFICATE] sslv3 alert bad certificate

I made some tests:
- uri module with basic params (see below) in 2.8, 2

[2019-03-29 11:16] majdouline13 opened #54591 "Ansible Variable not defined"
- name: create public IP address for AGW
        azure_rm_publicipaddress:
          resource_group: "{{ rg }}"
          allocation_method: Dynamic
          state: present
          name: pipGT
        register: output_ip_addressAG
#---------------------------------------------------------------------------------------
- debug:
          var: output_ip_addressAG

-----------------this is the out

[2019-03-29 11:31] mukeshmurali commented on #50529
My problem was resolved with

` pip install openshift==0.8.4  --ignore-installed`

Havent worked out whats happening behind scenes :(

[2019-03-29 11:46] Vikash082 commented on #25459
Any update on this ? I can't create even security group.

Error:
ClientError: An error occurred (AuthFailure) when calling the DescribeSecurityGroups operation: AWS was not able to validate the provided access credentials.

My ansible version:

    ansible 2.7.9

Is there a temp. fix ? I tried the above suggested environment variable, but it didn't resolved.

[2019-03-29 11:59] c0desurfer opened #54593 "k8s module can't create or update CRDs because of resourceVersion"
##### SUMMARY
When creating or updating CRDs with the k8s module the following errors occur.

**Creating**

[code]

So I suppose I am forced to add the resource version.

[code]
**Updating**

Then when the resourceVersion attribute is inside the definition I get.

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s
https://docs.ansible.com/ansible/latest/modules/k8s_module.html

##### A

[2019-03-29 12:01] s-giri commented on #51204
Verified this in Ansible 2.7.9 and it works. I'm able to create same A record in two different network views.
![Playbook](https://user-images.githubusercontent.com/40016806/55231365-68bf4800-5248-11e9-8a04-174c57e5f7ea.png)
![DNSView1](https://user-images.githubusercontent.com/40016806/55231370-6b21a200-5248-11e9-94b4-3b023efe27fe.png)
![DNSView2](https://user-images.githubusercontent.com/40016806

[2019-03-29 12:08] oorabona commented on #23753
Hello,

I tried with
[code]
And `/etc/ansible/ansible.cfg` as below :
[code]

I still reproduce this error. So it appears that `gather_timeout=20` in `/etc/ansible/ansible.cfg` seems not be taken into account, the 10s timeouts remains and the only working fix is by calling `ansible` with `-a "gather_timeout=20"`.

Any ideas ?

[2019-03-29 12:17] b0rski commented on #54593
I think this is solved with `merge_type: merge`.

[2019-03-29 12:22] s11-charendt commented on #54476
Thanks for the hint, but I want to use the generated groups with --limit, so the groups must be assigned before execution of the playbook.

In the meantime, I found another issue, addressing the root cause of my issue: #44382

There is a workaround in #44382 which involves doing the host_vars/ inclusion by hand, so this would be executed twice. First, to generate Groups, and then nativ by ansible,

[2019-03-29 12:29] b0rski commented on #54593
Yes, it is.

[2019-03-29 12:29] #54593 closed, assigned to nobody

[2019-03-29 12:52] justjais commented on #51204
@s-giri, Yes, I have verified the behavior in Ansible version `2.7.9` and the scenario is not reproducible but I have also verified the issue reported in Ansible version `2.7.5` and it's reproducible there.

I have verified that the fix was introduced in Ansible version `2.7.7`, @WRJFontenot Please verify the issue behavior with Ansible version `2.7.7` onwards.

[2019-03-29 13:10] danowar2k commented on #54281
Hm, I forgot to add my commit hook to prepend all commit messages with the ticket number. Is that gonna be a problem?

[2019-03-29 13:13] Andersson007 commented on #44978
needs_info

[2019-03-29 13:16] Andersson007 commented on #30024
needs_info

[2019-03-29 13:17] Andersson007 commented on #29985
needs_info

[2019-03-29 13:19] Andersson007 commented on #29816
need_info

[2019-03-29 13:19] Andersson007 commented on #29816
needs_info

[2019-03-29 13:23] Andersson007 commented on #15794
needs_info

[2019-03-29 13:23] dagwieers commented on #41752
Please can you verify ? I don't think there is an issue.

needs_info

[2019-03-29 13:24] #48861 closed, assigned to nobody

[2019-03-29 13:26] #50962 closed, assigned to nobody

[2019-03-29 13:46] mkrizek commented on #54538
This is not a bug. The message you got is clear `deb only supports state=present`. You need to use the `name` param:
[code]

It does not make sense to use `deb` to uninstall a package since there is no `deb` file.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-03-29 13:46] #54538 closed, assigned to nobody

[2019-03-29 13:49] dagwieers commented on #44684
Indeed, I don't see the point here either. Feel free to clarify if this is still pertinent.

[2019-03-29 13:49] #44684 closed, assigned to nobody

[2019-03-29 13:49] mrmeszaros opened #54601 "hostvars cross reference does not get resolved"
##### SUMMARY
Multiple levels of hostvars references does not get resolved / incorrectly resolves variables.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

host_vars, grout_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 (however this seems irrelevant)

##### STEPS TO REPRODUCE

Code required to reproduce: https://github.com/mrmeszaros/

[2019-03-29 13:50] mkrizek commented on #54591
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-29 13:50] #54591 closed, assigned to nobody

[2019-03-29 13:50] helfgott commented on #54538
That is not a task, is a HANDLER, that's why name param isn't in use.

The installation as a handler works, but the uninstall do not.

[2019-03-29 14:13] #53459 closed, assigned to nobody

[2019-03-29 14:32] bcoca commented on #54342
So this is caused by not having all the requirements as `"Please install the requests library"` indicates, but this is still  a bug in the plugin due to it's attempt to reuse the existing module logic and not reporting the cause correctly.

[2019-03-29 14:42] jaycarson opened #54604 "Questionable entries in /var/log/secure from running Ansible playbook"
##### SUMMARY
In /var/log/secure, the following entries are showing up when I run my playbooks:

    Dec 31 12:0:0 server_name sudo: pam_unix(sudo:session) session opened for user root by (uid=0)

Have I mis-configured Ansible or is there a reason why there is no user name given in the log? I would expect the above entry to look like:

    Dec 31 12:0:0 server_name sudo: pam_unix(sudo:session) ses

[2019-03-29 14:45] ganeshrn opened #54605 "jsonrpc log message not working for network_cli/netconf connection type"
##### SUMMARY

Enable persistent logging with connection=netconf/network_cli. The ansible-connection jsonrpc log messages are not stored in the file
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

jsonrpc request and response for command should be seen

[2019-03-29 14:46] bcoca commented on #53361
my point was, no we don't have docs.

Yes, this only exists on controller, but modules that handle their own connection normally get run `delegate_to: localhost`. The ones that use this facility automatically do this and that is why they can use ansible-connection.

This is a complex subject due to many factors (including module execution location, cache management, resource limits, throttling, et

[2019-03-29 14:52] Rakaim commented on #54070
bot_status

[2019-03-29 14:54] bcoca commented on #54604
Ansible just invokes a `sudo` command line, you can check exactly what it does on execution by adding `-vvv` to it. Other than that it does nothing to create/prevent logging into a secure facility, that is all up to sudo and the system configuration.

[2019-03-29 14:54] bcoca commented on #54604
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-29 14:54] #54604 closed, assigned to nobody

[2019-03-29 14:56] ganeshrn commented on #50905
@vcaixeta Due to an issue in the logging mechanism the first request/response is not added to the log file. I have fixed the issue with this PR https://github.com/ansible/ansible/pull/54606.

You can apply the patch in PR #54606 in your enviornment and rerun so that we can get to the exact request that is failing.

Or to work around it can you add same task twice in playbook with `ignore_errors: T

[2019-03-29 14:58] jaycarson commented on #54604
Thank you. Any idea why sudo escalations executed by Ansible would not have a user? They should.

The situation I am aware where this kind of entry occurs is automated cron jobs.

[2019-03-29 15:02] bluikko commented on #54091
Can you please run on this MySQL the command to check slave status:
`SHOW SLAVE STATUS\G`

[2019-03-29 15:05] samdoran commented on #26794
Duplicate of #25637

[2019-03-29 15:06] jaycarson commented on #54604
This ticket was closed, but I don't have a resolution.

[2019-03-29 15:09] bcoca commented on #27244
play_context duplicated many things, but this should solve the issue #54002 as the mixin is on it's way out.

[2019-03-29 15:11] b3rgman opened #54607 "azure_rm_virtualmachine will not attach the nic created from azure_rm_networkinterface"
##### SUMMARY

When azure_rm_virtualmachine and attaching the network interface being created prior does not attach.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_networkinterface
azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible OS is CentOS
Created machine is server 2016

##### STEPS TO REPRODUCE

[code]

##### E

[2019-03-29 15:13] samdoran commented on #27747
There are a few things you could do differently in order to make this work such as using `async` on the task or using `raw`.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-03-29 15:13] #27747 closed, assigned to nobody

[2019-03-29 15:15] bluikko commented on #53739
@ramanjk the yum module is working in here in similar setup.

In your RECAP it says `ok=2 changed=1` - it is different from your playbook. Can you please run the playbook again with options `-vvv` as in `ansible-playbook -vvv [...]` and paste output here as suggested earlier?

[2019-03-29 15:18] bcoca commented on #27919
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

Ansible does not read the ssh conf

[2019-03-29 15:18] #27919 closed, assigned to nobody

[2019-03-29 15:18] #26794 closed, assigned to nobody

[2019-03-29 15:18] samdoran commented on #27919
This is probably a configuration issue given the complexity of what you are trying to accomplish. We can better help out or IRC or the mailing list. When posing your question, please include `-vvvv` output.

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-03-29 15:22] bcoca commented on #27940
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The mechanism that prevents a role from running more than once considers several factors to define a 'unique role' , name, variables pa

[2019-03-29 15:22] #27940 closed, assigned to nobody

[2019-03-29 15:24] samdoran commented on #28461
Can you retest this on a newer version of Ansible?

needs_info

[2019-03-29 15:24] bcoca commented on #28461
Can you verify this still is an issue in a recent version of Ansible, also please execute with -vvv and provide the output.

[2019-03-29 15:30] bcoca commented on #28679
closing as per above, if you need the true lvm hierarchy use lvm_tree

[2019-03-29 15:30] #28679 closed, assigned to nobody

[2019-03-29 15:32] samdoran commented on #28688
Can test with a newer version of Ansible? We believe this has been fixed.

needs_info

[2019-03-29 15:35] bcoca commented on #29045
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The role deduplication relies on more than just role name, it uses conditionals, tags AND variables, since you are modifying variables,

[2019-03-29 15:35] #29045 closed, assigned to nobody

[2019-03-29 15:35] #29452 closed, assigned to nobody

[2019-03-29 15:37] #29629 closed, assigned to nobody

[2019-03-29 15:39] bluikko commented on #51611
docker-py now has support for setting swarm pools in git docker/docker-py#2287

[2019-03-29 15:40] samdoran commented on #29646
Close since this is reported against an olde version of Ansible. Please test with a newer version of Ansible and ope a new issue if you are having issues. You may also ask for help in the community.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-projectn

[2019-03-29 15:40] #29646 closed, assigned to nobody

[2019-03-29 15:41] samdoran commented on #29678
Closing since this is reported against an old version of Ansible. Please test with a newer version of Ansible and open a new issue if you are still having issues. You may also ask for help in the community.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-proje

[2019-03-29 15:41] #29678 closed, assigned to nobody

[2019-03-29 15:42] samdoran commented on #29864
Closing since this is reported against an old version of Ansible. Please test with a newer version of Ansible and open a new issue if you are still having issues. You may also ask for help in the community.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-proje

[2019-03-29 15:42] #29864 closed, assigned to nobody

[2019-03-29 15:43] bcoca commented on #26804
So power broker can have many different configuration and Ansible  just ships with support for a versy simple and broad policy, in 2.8 we are introducing become plugins
 https://docs.ansible.com/ansible/devel/plugins/become.html to allow overriding this method in each context as it is impossible to allow for all possible combinations in the generic code we ship.

[2019-03-29 15:43] #26804 closed, assigned to nobody

[2019-03-29 15:45] samdoran commented on #30760
Can you please test with a newer version of Ansible to see if this is still an issue?

needs_info

[2019-03-29 15:47] bcoca commented on #30775
you probably just need to use the same control path as ansible (we avoid the default due to issues with long names) ` -o ControlPath=/home/jenkins/.ansible/cp/%h-%r `

needs_info

[2019-03-29 15:48] bcoca commented on #30867
fixed by #49347

[2019-03-29 15:48] #30867 closed, assigned to nobody

[2019-03-29 15:49] samdoran commented on #30867
You can use `ansible-galaxy install --force-with-deps` in a newer version of Ansible to get what you need.

[2019-03-29 15:51] bcoca commented on #12086
closing in favor of https://github.com/ansible/proposals/issues/140

[2019-03-29 15:51] #12086 closed, assigned to bcoca

[2019-03-29 15:53] #30192 closed, assigned to nobody

[2019-03-29 15:55] bluikko commented on #49805
@isorn44x The correct domain_ou_path, if UAT OU is under Host OU, would be:
`OU=UAT,OU=Host,DC=[...]`

[2019-03-29 15:58] bcoca commented on #30411
small mitigation, this allows seeing 'which hosts are being run' #53819

[2019-03-29 16:05] bcoca commented on #35645
So the original issue is due to the archive being invalid, this issue is probably due to an incomplete file being written (out of space in /tmp?).  The solution would be to use a different temp dir, so I'm going to close this issue.

The rest of the issues seem to be off topic, so i would open a new ticket with full examples and -vvv output as well as information about the tar file itself (try usi

[2019-03-29 16:05] #35645 closed, assigned to nobody

[2019-03-29 16:06] bcoca commented on #17136
closing as fileglob was not meant to handle directory globbing and the new 'filetree' provides this functionality (also 'pipe' or 'lines' with find).

[2019-03-29 16:06] #17136 closed, assigned to nobody

[2019-03-29 18:06] felixfontein commented on #51611
awesome! @hannseman will this be in docker-py 4.0.0?

[2019-03-29 18:11] bcoca commented on #54476
host_vars/group_vars were never designed to be input to inventory, but a complement to inventory sources

[2019-03-29 18:18] jamesdh opened #54614 "Jinja filters are insufficient for traversing complex data structures"
##### SUMMARY
Jinja2 filters are terrible at traversing complex structured data. We really need a better way. This to me seems like one of ansible's biggest weaknesses. See example below.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
filters

##### ADDITIONAL INFORMATION
I'm trying to consume some complex data in ansible, e.g...

[code]

Ultimately I'm trying to generate an iterable list

[2019-03-29 18:50] goneri commented on #54459
I started a PoC with vmware_host: https://github.com/goneri/ansible/tree/vmware_test_reusabilty

We can avoid the interaction with vcsim during our tests if:

- the `VcenterProvider` we wait for the service to be ready: https://github.com/goneri/ansible/commit/f84d6a92bc748a8ead633f4b7aea801ad75b9d5f#diff-a8b5b07ab676718afa03ccb70c8b3a66
- we create all the dependencies (datacenter, cluster, folde

[2019-03-29 18:55] satishdotpatel opened #54615 "ip arp synchronize is missing in vPC module"
##### SUMMARY

- It would be good if we have following command available in module.

##### ISSUE TYPE
- "ip arp synchronize" parameter is missing in vPC module

##### COMPONENT NAME

- vpc configuration parameter
##### ADDITIONAL INFORMATION

[code]

[2019-03-29 18:55] marouim opened #54616 "Module iosxr_config does not display the commit configuration diff"
##### SUMMARY
When running iosxr_config module in both check and diff mode, the module only returns
the commands that needs to be applied on the device. The diff is never displayed in check mode
because the module cannot anticipate the result of the changes on the cisco device. This is
valid for IOS, NXOS and IOSXR.

IOS XR architecture is very different from IOS and now provides candidates config

[2019-03-29 18:57] #54615 closed, assigned to nobody

[2019-03-29 18:58] satishdotpatel commented on #54615
Sorry this is wrong place i was trying to add this feature in nxos module of python

[2019-03-29 19:11] marouim commented on #43645
You might be interested in the issue I just opened
https://github.com/ansible/ansible/issues/54616

[2019-03-29 19:12] zem commented on #42460
same here, please fix!

[2019-03-29 19:19] darkone337 commented on #28997
bump. This would be a great feature!

[2019-03-29 19:42] hannseman commented on #51611
@felixfontein I think it's most likely that it'll be added in 4.0.0. Haven't seen anything regarding a new minor version just the 4.0.0 milestone.

[2019-03-29 20:02] davidedelvento opened #54618 "Cannot use "name" as a variable name anymore"
This might be related to https://github.com/ansible/ansible/issues/15104

##### SUMMARY
Roles that use `name` as a name for variables passed to them now fail (used to work in earlier version of ansible)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
My best guess is whatever parses the role

##### ANSIBLE VERSION
This fails with the current OS-installed version of ansible:

[code]
and it use

[2019-03-29 20:08] davidedelvento commented on #54618
@ansibot (or rather any human reading this) yes that is my best guess as I wrote

[2019-03-29 20:31] goneri opened #54621 "vmware_host: folder parameter is not consistent"
##### SUMMARY

Hi!

I create a `Staging` folder in my dc1 datacenter with the following tasK

[code]

![vsphere](https://user-images.githubusercontent.com/49379/55260298-648e2d00-523e-11e9-9193-27e7694e2ce7.png)

Then I try to create a host in it:

[code]

I get the following error: `fatal: [localhost]: FAILED! => {"changed": false, "msg": "Folder '/dc1/Staging' not found"}`

I also tried:

- Stag

[2019-03-29 20:43] sebastienGuavus commented on #44635
I would suggest to go a step further and make the option to not touch the content the default.

I think the fact that every occurrence of the password in the content is replace with `********` could actually leak the password in the log when it is not intended. Even if the password is not a dictionary word there is always the possibility that the string can be found in the content. If the content

[2019-03-29 20:49] ArtyomMinsk commented on #53730
@Akasurde I had the same issue when I used my IDE to write custom modules, but it wasn't the case when I used vim. If you compare files in IDE it'll tell you that files are the same (even spaces and indentation) except the end line character. So in my IDE (PyCharm) I changed "Line separator" to "Unix and OS X (\n)" which made my problem go away. I also have file encoding as UTF-8.

[2019-03-29 21:19] felixfontein commented on #29951
Moving `assertonly` out of `openssl_certificate` is a good idea. We should do that as soon as possible, IMO, since the standard deprecation cycle is 4 Ansible releases, i.e. we'd have to keep the `assertonly` provider in `openssl_certificate` until 2.12 if we deprecate it already now (for 2.8).

[2019-03-29 21:23] felixfontein commented on #51611
If you're interested in implementing support for this in `docker_swarm`, feel free. BTW, it looks like the freeze dates are pushed back by another week, so it's still almost two weeks until feature freeze. So plenty of time to add new features ;-)

[2019-03-29 21:57] orgicus commented on #16790
@mkrizek apologies for the late reply.
I can confirm on my machine this runs in a virtual environment:
[code]

This in an older mac still running OSX 10.11.6.

I have not tested installing the ansible as global module via pip.
Let me know if that would help or not.

Thank you very much,
George

[2019-03-29 22:46] max-wittig commented on #43286
This is still an issue. Responded.

[2019-03-30 01:16] therealdoug commented on #41752
My request is for the input.  Using a sample from the docs, I would like to be able to do something like the following:

- name: Add a new AP
  aci_ap:
    host: apic
    username: "{{ aci_username }}"
    password: "{{ aci_password }}"
    tenant: production
    ap: default
    description: default ap
    **ownertag: "{{ run_user }}"
    ownerkey: "{{ ticket_number }}"**
    state: present
  dele

[2019-03-30 01:28] willthames commented on #54593
@b0rski `merge_type: merge` shouldn't really be required, but you do need a version of k8s module that is merge type aware. Current implementation is to try a strategic merge first, and if that fails, fall back to json merge (i.e. `merge_type` now defaults to `['strategic_merge', 'merge']`)

If there is a scenario where you're using latest k8s ansible module and module_utils, and it's failing with

[2019-03-30 01:33] mator commented on #53635
+label solaris

[2019-03-30 03:04] dthvt commented on #52727
Closing due to deprecation.

[2019-03-30 03:04] #52727 closed, assigned to nobody

[2019-03-30 05:52] balonik commented on #28461
Sorry I don't have the original environment anymore.

[2019-03-30 08:15] b0rski commented on #54593
@willthames I had no idea I can update modules to a specific version in Ansible. Mind telling me how to update to newest k8s version?

[2019-03-30 09:58] MarkusTeufelberger commented on #29951
Well, I don't want to do more big reworks before the 2.8 merging window and I think it would fit nicely to a general "facts vs. info" rework in whole Ansible for 2.9.

Can/should "info" style modules actually also do verification of state or are they mostly used as "readonly" with no state information? E.g. a "docker_container_info" module could get a list of containers that are expected to run an

[2019-03-30 11:19] jborean93 commented on #22663
I finally got round to doing this, a PR can be found at https://github.com/ansible/ansible/pull/54631. It uses the WinHTTP/WinINet API directly to avoid this issue, just like the gist supplied. I did make it specific to WinHTTP (win_http_proxy) and WinINet (win_inet_proxy) and not generic. If we ever have the desire to manage IE settings then I feel that a separate module would be warranted. The c

[2019-03-30 11:38] felixfontein commented on #29951
`_info` modules are for returning information (same as `_facts`), they are not about validating information. So the `assertonly` module in itself would not be an `_info` module. (There should also be `_info` modules for at least certificates, CSRs and private keys, to get information what's in there.)

`assertonly` should be its own module, like `openssl_certificate_validate`, with potentially mor

[2019-03-30 13:28] #54083 closed, assigned to nobody

[2019-03-30 13:33] #26937 closed, assigned to nobody

[2019-03-30 14:21] felixfontein commented on #46047
close_me

[2019-03-30 14:22] felixfontein commented on #53535
resolved_by_pr #54294

(Everything else needed has already been merged.)

[2019-03-30 14:29] #46047 closed, assigned to nobody

[2019-03-30 14:49] felixfontein commented on #36738
That should now be fixed.

close_me

[2019-03-30 14:50] felixfontein commented on #53535
That's merged now.

close_me

[2019-03-30 14:58] #53535 closed, assigned to nobody

[2019-03-30 14:59] #36738 closed, assigned to nobody

[2019-03-30 15:04] Bilge commented on #41674
Moreover, [the link](http://docs.ansible.com/ansible/playbooks_roles.html#task-include-files-
and-encouraging-reuse) is broken.

[2019-03-30 21:56] stevenscg commented on #44339
If you need tag support for this module, please go give #46624 a 👍

[2019-03-30 23:36] vikas7999 opened #54643 "Cannot add pool member with route domain using ansible pool member"
I am trying to add pool member to a pool using big ip pool member module but getting invalid node address error.
I am using route domain and amiable is able to create node with route domain 2 with IP 3.3.3.3%2 but same node fails when trying to add this node to pool member saying 3.3.3.3%2 is invalid node IP.
I am using ansible version 2.7.
Any help to fix this issue will be appreciated.

[2019-03-30 23:49] vikas7999 commented on #54643
Component is bigip_pool_member ansible module.
I am running into error node address is invalid when trying to use route domain.
let me know if you need any more information as I am looking for some help ASAP.

[2019-03-31 00:01] vikas7999 commented on #54643
This is exactly same issue which was reported earlier and says has been resolved but i dont see it in ansible version2.7

bigip_pool_member can't add existing node in route domain to a pool #45305

[2019-03-31 07:59] esxi1979 opened #54648 "connectionpool.py, line 92"
##### SUMMARY
ansible 2.6.13
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.6/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.6.6 (r266:84292, Aug  9 2016, 06:11:56) [GCC 4.4.7 20120313 (Red Hat 4.4.7-17)]
Usi

[2019-03-31 08:39] felixfontein commented on #50742
That's not correct. `certificate_path` points to the "main" leaf certificate to be included into the PKCS12 file. So `certificate_path` has *nothing* to do with `-CApath`.

Also, `ca_certificates` is a list of certificate filenames which will also be included in the PKCS12 file. You can put all your certificates from the chain including the root certificate there (or just a subset of them). The na

[2019-03-31 10:42] rbo opened #54652 "os_server is not idempotent if I use port-id= - Multiple matches found for default"
##### SUMMARY
If I first create a port (os_port) and then a server (os_server) and attach the port to the instance an I run the playbook twice the second run fails with:
[code]

It looks like it is a problem with security groups. If I only create an instance without prev port creation, it works very well several times.

I don't know how related that is with Issue #49954 - but i only have the probl

[2019-03-31 10:57] sumkincpp commented on #40239
The idea itself is great, but I see a significant problem here - passed task args(_task.args) should have an order(OrderedDict), otherwise we can't be sure if the variable we are currently templating need to use old fact value or a new one.

[2019-03-31 11:09] gugu commented on #12971
It can be unattended-upgrades, which are running in background

[2019-03-31 13:57] felixfontein opened #54655 "openssh_cert: idempotency check ignores signing_key, public_key, options and identifier"
##### SUMMARY
The idempotency check of `openssh_cert` ignores changes to `signing_key`, `public_key`, `options` and `identifier`.

Reported by @das7pad [here](https://github.com/ansible/ansible/pull/54653#issuecomment-478339894).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssh_cert

##### ANSIBLE VERSION
[code]

[2019-03-31 16:14] sgrigorov opened #54658 "win_uri to to have option UseDefaultCredentials"
##### SUMMARY
Add option UseDefaultCredentials to win_uri module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_uri

##### ADDITIONAL INFORMATION
When a uri ask for authentication the win_uri module requires a user and password, even though the current user has access to the uri. If yml don't have user and password specified, win_uri module fails with HTTP 401 error. PowerShell module

[2019-03-31 17:45] pgauret opened #54659 "ansible-playbook hangs on lxc containers"
##### SUMMARY
ansible-playbook hangs at the "PLAY RECAP" stage when applying changes to lxc containers (through ansible_connection: lxc).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible_connection: lxc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
"ansible-config dump --only-changed" didn't return anything.

/etc/ansible/hosts
[code]

##### OS / ENVIRONMENT

Alpine Linux 3.9.2 (

[2019-03-31 19:42] jborean93 commented on #54539
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * Using `failed_when` is able to handle this issue today
   * `failed_when` ca

[2019-03-31 19:42] #54539 closed, assigned to nobody

[2019-03-31 19:56] #20032 closed, assigned to nobody

[2019-03-31 19:56] #33159 closed, assigned to nobody

[2019-03-31 20:56] #51611 closed, assigned to nobody

[2019-03-31 21:42] hannseman commented on #51611
@bluikko this feature have now been merged and will be available in Ansible 2.8.

[2019-03-31 22:49] Bilge opened #54661 "known_hosts does not work with unhashed hosts"
##### SUMMARY
`known_hosts` does not work with unhashed hosts.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
known_hosts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.5 LTS
Release:        16.04
Codename:       xenial

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Host added to file.

##### A

[2019-03-31 23:28] willthames commented on #54593
@b0rski this is some of the details: https://willthames.github.io/2017/12/12/using-updated-modules-with-stable-ansible.html

Effectively you'll want to create a `module_utils/k8s` directory structure and copy `common.py` and `raw.py` from `lib/ansible/module_utils/k8s`

[2019-04-01 01:09] kzap commented on #30064
Also having this issue on Ansible 2.7.9

[2019-04-01 01:38] zikalino commented on #46440
closing as this is fixed

[2019-04-01 01:38] #46440 closed, assigned to zikalino

[2019-04-01 02:05] yuwzho commented on #54607
Seems to be some parameter error, would you like to share your playbook?

[2019-04-01 02:11] zikalino commented on #41935
I just retested the exact scenario and the behavior is correct.
I think something was fixed either in the service or python libraries in a meanwhile
I will close this issue, please reopen if still occurs.

[2019-04-01 02:11] #41935 closed, assigned to nobody

[2019-04-01 02:17] zikalino commented on #40857
this one I could actually reproduce, and I intend to fix it this week before 2.8.

[2019-04-01 02:28] askb commented on #50543
+1 can confirm this with version 2.7.1.

[2019-04-01 03:56] Tomorrow9 commented on #54467
Hi @UnstableAlpha, I used to met this because I tested one customization spec with one static IP on multiple VMs, only one can be configured to this static IP, others will be assigned to "169.254.x.x" automatically due to IP conflicts. This is one possible reason, you can check your environment if there are other VMs are using the same IP. Or on the other hand, you can try to disable Windows "Auto

[2019-04-01 04:40] #41704 closed, assigned to trishnaguha

[2019-04-01 04:40] #45343 closed, assigned to trishnaguha

[2019-04-01 04:50] XuCodeSir commented on #52937
@fl0gu
I think that the cause of this problem is caused by modifying the connection method. The netconf message is sent but the shell method is used; this is wrong, this bug is being fixed!

[2019-04-01 06:39] SerenaFeng commented on #42162
In my situation, the ansible is 2.7.3, it failed with the docker-py 1.7.0, Upgrade docker-py to 1.10.6, it works.

[2019-04-01 06:47] mkrizek commented on #16790
@orgicus I was interested if the original issue reported was fixed and is not longer an issue so we can close this. Thanks!

needs_info

[2019-04-01 06:57] felixfontein commented on #42162
@SerenaFeng what was the exact error message you got with docker-py 1.7.0?

[2019-04-01 07:35] mator commented on #41232
i can't test it , can you give simple working playbook example ?!

[code]

[2019-04-01 08:16] nagraskal opened #54664 "Enable kerberos token delegation for psrp"
##### SUMMARY
Add a ansible_psrp_kerberos_delegation option for enabling kerberos token delegation with the psrp connection module
ansible version: 2.7.9

##### ISSUE TYPE
- feasture parity with winrm

##### COMPONENT NAME
psrp.py

##### ADDITIONAL INFORMATION
For winrm, there is an option named ansible_winrm_kerberos_delegation for enabling the kerberos token delegation, for the psrp connection m

[2019-04-01 08:51] zikalino commented on #40857
fixed by #54662

[2019-04-01 08:51] zikalino commented on #40857
closing as fixed

[2019-04-01 08:51] #40857 closed, assigned to zikalino

[2019-04-01 09:32] ptharan commented on #18979
Is the environment specification such as the following accepted in the global vars ? with the yum.py module as written above.

environment:
      http_proxy:
      https_proxy:

?

[2019-04-01 09:45] stspinu opened #54668 "inventories/azure_rm.py , InteractionRequired: (interaction_required) Device platform Unknown used by the user is an unsupported device platform. Supported device platforms are: iOS, Android, Mac, and Windows flavors"
Hi folks,

##### SUMMARY

We are facing a new error when getting Inventory from Ansible.

**We are getting error while fetching azure rm dynamic inventory from a RedHat 7.2 via Ansible.**

The user has Contributor access in DevOps. Other users with the same permissions are not facing any issue.

Full error:

inventories/azure_rm.py
, InteractionRequired: (interaction_required) AADSTS50005: Device

[2019-04-01 10:16] UnstableAlpha commented on #54467
Hi @Tomorrow9 - The template that I am deploying from is not configured with a static address, it has DHCP configured. As such, my understanding of the process is as follows:

- Ansible deploys four copies of the original 2012R2 template using the VMware API
- During the initial deployment, VMware notices that each of the hosts have identical MAC addresses due to copying, and reconfigures the host

[2019-04-01 10:41] nagraskal commented on #54664
ok, just found that if i set
ansible_psrp_negotiate_delegate: True
it works. so maybe onyl documentation could be updated for psrp.

thanks

[2019-04-01 10:53] jn-bedag opened #54669 "win_psmodule behind proxy (NuGet)"
##### SUMMARY
win_psmodule does not work if the windows machine is behind a proxy server.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_psmodule, Install-PackageProvider

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Windows Server (2016)

##### STEPS TO REPRODUCE
1. NuGet provider is not installed. Check with Get-PackageProvider.
2. The windows machine is behind a network prox

[2019-04-01 11:17] Andersson007 commented on #16048
I see that the problem is not presented now. I suggest to close this issue

[2019-04-01 11:18] #41396 closed, assigned to nobody

[2019-04-01 11:25] #54528 closed, assigned to nobody

[2019-04-01 11:31] s11-charendt commented on #44382
I have the same issue as well (see #54476). Instead of parsing the host_vars/ and group_vars/ by myself, I use ansible-inventory for that.

I call ansible-inventory throug a simple bash oneliner:
[code]

Then I call ansible with 2 inventories:
1. the bash oneliner
2. constructed.config, which can now access all host_ and group_vars

This workaround uses the nativ ansible host_vars parsing, but the

[2019-04-01 11:34] s11-charendt commented on #54476
Ok, I've found a workarround, which requires minimal code. It's not pretty, but works for me. I've posted it in the root cause issue #44382

[2019-04-01 11:34] #54476 closed, assigned to nobody

[2019-04-01 11:48] mkrizek commented on #54648
Please see https://github.com/ansible/ansible/issues/54228#issuecomment-475598558.

[2019-04-01 11:48] #54648 closed, assigned to nobody

[2019-04-01 12:04] richlv opened #54671 "cannot create zabbix discovery actions"
##### SUMMARY
When creating a discovery action, escalation parameters are sent along, even though escalations are not supported for discovery actions.

This results in the discovery action creation failing:

    Cannot set "pause_suppressed" for action

This might be a regression from #51303.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action

##### ANSIBLE VERSION

Latest ansible_

[2019-04-01 12:53] getjack commented on #52232
@willthames The openshift issue seems to be resolved/merged.

[2019-04-01 13:14] xmadsen opened #54673 "redfish_facts - For Disks and Volumes, we need to include the associated Controller instance"
##### SUMMARY

For GetDiskInventory (and forthcoming GetVolumeInventory) commands in redfish_facts, the associated Controller instance should be returned with each Disk (or Volume) instance so it is clear which controller they are attached to, since that information is lost in the current implementation.

The design question is as follows; should they be grouped as a dictionary under each Controll

[2019-04-01 13:14] xmadsen commented on #54673
@samerhaj

[2019-04-01 13:18] dglinder commented on #50529
@mukeshmurali was your fix for the Tower/AWX installation, or another command line environment fix?  I tried your ``--ignore-installed`` option on my Tower virtual environment (see above) but it didn't resolve things for us.

[2019-04-01 13:23] jrjsmrtn opened #54674 "Make ansible-galaxy skeleton variables configurable in ansible.cfg"
##### SUMMARY
The `author`, `description`, `company`, `license`, `issue_tracker_url`, `min_ansible_version` skeleton variables are all hard-coded in the `ansible.cli.galaxy` module and therefore not configurable.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- `ansible-galaxy init`
- `ansible.cli.galaxy`
- `ansible.cfg`

##### ADDITIONAL INFORMATION
The `author`, `description`, `company`,

[2019-04-01 13:38] bcoca commented on #40239
FYI, in Python dictionaries are 'unordered', depending on python version that order might be consistent or not. so as @sumkincpp states, this would require OrdreredDict, which is not available in Python 2.6

[2019-04-01 14:10] evitalis commented on #54071
@sivel What about adding a small `if/else` there to use the older algorithm only on platforms that don't support the new? While you note only edge case issues with the older would it be worth already staying ahead of things giving how quick tech changes?

[2019-04-01 14:11] goneri commented on #54459
At this point, we are lacking of module that can give us the state of a resource. For instance, there is no `_facts` module to list the esxi attached to a vsphere instance.

[2019-04-01 14:13] sivel commented on #54618
This is expected, and is documented in the 2.5 porting guide under https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#fixed-handling-of-keywords-and-inline-variables

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-01 14:17] samdoran commented on #28461
@balonik Thank you for letting us know.

Closing since we are unable to duplicate and it may be resolved in newer versions of Ansible.

[2019-04-01 14:17] #28461 closed, assigned to bcoca

[2019-04-01 14:23] bcoca commented on #54618
2.5 affected 'role params' or 'inline definitions that mixed role variables with role directives:
[code]
but this should still work:
[code]

[2019-04-01 14:24] ederst opened #54680 "Module os_zone does not respect wait variable"
##### SUMMARY
Even though it is documented in the [documentation of the os_zone module](https://docs.ansible.com/ansible/latest/modules/os_zone_module.html) (I guess because it is a standard OpenStack module variable) it does not respect the `wait` variable.

This may be an issue with openstacksdk but since other OS modules implement wait themselves I am not sure about this. Anyhow, I've created a

[2019-04-01 14:28] sivel commented on #54614
To achieve your goal, you want the following:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-01 14:28] #54614 closed, assigned to nobody

[2019-04-01 14:32] emusgrave commented on #37496
For anyone else who stumbles on this error... you might not need to completely remove your Load Balancer and ASG's. I got around this issue by following these steps:
1) Login to AWS Console
2) Open the affected Auto Scaling Group
3) Note that in the "Target Groups" field, you likely have a group listed that no longer exists
4) Clicking "Edit". Note that the non-existent "Target Group" is no longer

[2019-04-01 14:37] gdubroeucq opened #54681 ""loop" is not working with lookup"
##### SUMMARY
Hello everyone,

I try to browse a list with the function _vars[]_ (or _lookup_), but ansible don't find my list.
When I don't use _vars_, this is working fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
I tried with ansible 2.6 and 2.4 too

##### OS / ENVIRONMENT
macOS Mojave 10.14.3

##### STEPS TO REPRODUCE

[code]
[code]
[code]
##### EXPEC

[2019-04-01 14:38] stevanikof commented on #13226
I solve this by putting the 'when' before the 'run_once'
This narrows the host list to a set I want to run once on

[2019-04-01 14:39] bcoca commented on #54681
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

First, `vars[]` is not a function, its an undocumented dictionary that is slated for removal

Second, the 'vars' lookup has to be used

[2019-04-01 14:39] #54681 closed, assigned to nobody

[2019-04-01 15:12] samdoran commented on #52329
This is happening because `firstmatch: yes` is matching the regular expression `^$` and breaking out of the loop that searches further lines in the file. If you set `firstmatch: no` (which is the default) it will not insert the line multiple times.

I need to look at this a bit more to determine if this is a bug or not.

On a side not, it's generally safer to use the `pamd` module when modifying P

[2019-04-01 15:19] samdoran commented on #52329
It seems this has been the behavior ever since `firstmatch` was added in Ansible 2.5.0.

[2019-04-01 15:25] dschiemann80 opened #54684 "Using k8s_scale module with "wait: no" errors out"
##### SUMMARY
Using the k8s_scale module and setting "wait: no" on the task results in the following error:
ansible/module_utils/k8s/scale.py", line 139, in scale
TypeError: _wait_for_response() takes exactly 4 arguments (3 given)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_scale

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS: Debian 9
S

[2019-04-01 15:29] ramanjk commented on #53739
Hello All,

Thanks for the response..I just did a mistake while running playbook
command..i.e I used option "-C" in the running command,it prevents the
actual remote execution,it will just show the what are the changes going to
be happen.... issue is resolved.. thanks to all

On Wed, 27 Mar 2019, 02:31 Sam Doran, <notifications@github.com> wrote:

[2019-04-01 15:33] mikerev commented on #19814
Bump. hostname functionality is a day 1 feature.

[2019-04-01 16:00] #53739 closed, assigned to nobody

[2019-04-01 16:14] Elsvent opened #54686 "rds module in python3 environment will fail if using boto.rds2"
##### SUMMARY
It's easy to reproduce, just setup rds module parameter and running ansible with python3 will trigger the problem. Change back python 2 will resolve the problem

The root cause is in this line:
boto/rds2/layer1.py 3774 line
[code]
Change this line to
[code]
Since this is boto problem and boto not maintained rds long time.
I suggest rds module should detect python3 and use boto3 as co

[2019-04-01 16:22] ikhan2010 commented on #38820
This work is tracked under the following PR:
https://github.com/ansible/ansible/pull/52823

[2019-04-01 16:23] #53620 closed, assigned to nobody

[2019-04-01 16:26] x-yuri commented on #19814
@mikerev You can contribute by looking into why `hostnamectl` doesn't work on your server.

[2019-04-01 16:38] fabianvf commented on #54684
Does it succeed without `wait: no`

[2019-04-01 16:42] antienho commented on #50913
good work... the environment is important. glad you find a working match.
Also, thank you in responding.
Antien
    On Thursday, March 28, 2019, 11:32:20 PM EDT, mamullen13316 <notifications@github.com> wrote:

Thanks Antien. I was getting the error regardless of whether I manually applied it to the user in ACI or used the playbook to upload the cert. However I was able to find a workaround which

[2019-04-01 16:45] KadenLNelson commented on #19809
Experiencing the same issue as @ProudOne

[2019-04-01 16:58] dschiemann80 commented on #54684
Yes, at least scaling down to 0 works, like this:
[code]

[2019-04-01 17:56] billdodd opened #54688 "Add type: to options in docs for remote_management/redfish modules"
##### SUMMARY

Add `type:` info to all options described in the DOCUMENTATION section of the remote_management/redfish modules.

See:

https://github.com/ansible/ansible/pull/54360/files#r270966957

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

redfish_facts.py
redfish_command.py
redfish_config.py
idrac_redfish_command.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS

[2019-04-01 17:57] davidedelvento commented on #54618
@sivel Thanks for suggesting the workaround. However that does not work as expected. In fact, instead of producing

[code]

it produces:

[code]

(note `myrole` instead of `something`).

[2019-04-01 18:10] samdoran commented on #30445
@tony-caffe Please try #54689 for `group` support of BusyBox.

[2019-04-01 18:28] sivel commented on #54618
@davidedelvento That was resolved in the 2.5.3 release (0cd5457ea25c67f4401ec50c5bb23944c43d0aed).  You should consider upgrading to a more recent version.

[2019-04-01 18:40] davidedelvento commented on #54618
@sivel Thanks for letting me know. However I cannot upgrade because I need to use whatever the OS provides (I guess I can open a bug with them)

[2019-04-01 18:41] sivel commented on #54618
As an FYI, our recommended install method for Ubuntu can be found at https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#latest-releases-via-apt-ubuntu

We provide a PPA with up to date releases.

[2019-04-01 18:49] davidedelvento commented on #54618
For the records: https://bugs.launchpad.net/ubuntu/+source/ansible/+bug/1780278

[2019-04-01 19:11] felixfontein commented on #54555
@schewara there's a PR for this (#54632), I would appreciate if you could test it.

[2019-04-01 19:31] jwitko commented on #47528
I believe this was fixed in https://github.com/ansible/ansible/pull/53017 ?

[2019-04-01 19:37] bgurney-rh commented on #54556
I tried this modification to the original:
[code]

It successfully prevents the KeyError listed above, and a "create" playbook with the same options successfully completes with "ok=2 changed=0", as expected.

Trying to use a "create" playbook with the missing feature (in this case, "readcache" and "readcachesize")...
[code]
...fails with a message: "vdo create: error: unrecognized arguments: --rea

[2019-04-01 20:17] angystardust commented on #54614
@sivel @bcoca maybe this use-case can be a good candidate for addition in https://github.com/ansible/ansible/pull/46979

[2019-04-01 20:49] esxi1979 commented on #54648
thanks @mkrizek that helped

[2019-04-01 21:24] fangpenlin opened #54694 "All GCP modules are broken and not updating resource correctly for changes"
##### SUMMARY

All GCP modules are relying on `GcpRequest` for comparing differences between current resource and desired state described by the module

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/gcp_utils.py#L240-L250

It has weird assumption that only the value exists in the first given object (module) is checked against the second one (resource). As a result, many ch

[2019-04-01 21:25] mikerev commented on #19814
Will do

[2019-04-01 21:27] trompx commented on #24388
Hey @ElijahLynn,

I have the same need. I have multiple projects that can have one or multiple environments, so I was planning to have the following structure:
[code]
When I run ansible, I have a function that then check if there is a shared directory and if there is it adds it as first inventory. Is that the way you proceed ?

[2019-04-01 21:33] rambleraptor commented on #54694
Hello! Thanks a lot for finding this. I'll look into it right now and have an update for you ASAP.

[2019-04-01 23:28] s-hertel commented on #54694
I've noticed the test pattern for these modules is always
* pre-test/ensure resource doesn't exist
* create resource
* recreate with same parameters
* delete resource
* delete resource that doesn’t exist

After recreating with the same parameters there should be some tests that modify the resource. Right now they all appear to be missing code coverage for the same thing. There should also be more

[2019-04-01 23:44] rambleraptor commented on #54694
Yeah, I completely agree. I've had a couple of manual tests to check update logic, but that's been a big missing part of the test suite.

As for the "look right" part, I verify the resources exist using the `facts` modules. That's not perfect, but it does check the resource exists outside of the `changed` parameter Ansible returns.

[2019-04-02 00:10] fangpenlin commented on #54694
I tested with the `devel` branch, ran into new bug

[code]

even if I correct this `SyntaxError` by modifying the code, it appears now gcp module can pick up the changes, however, it's on the other side of not picking changes now. For every time task executed, it will always think there's change for the same task.

[2019-04-02 00:13] jborean93 commented on #54669
!component =lib/ansible/modules/windows/win_psmodule.ps1

[2019-04-02 00:13] jborean93 commented on #54669
Changing to a feature request as this isn't a bug, just not something supported right now.

[2019-04-02 00:19] jborean93 commented on #54664
As you have found out that `ansible_psrp_negotiate_delegate` will work for you. This is because the `psrp` connection plugin supports "extra" options that we currently don't document. Right now we currently support the following kwargs defined at https://github.com/jborean93/pypsrp/blob/master/pypsrp/wsman.py#L41-L47 when they are prefixed with `ansible_psrp_`, e.g. `ansible_psrp_negotiate_delegat

[2019-04-02 00:29] fangpenlin commented on #54694
oh, by the way, though the whole module is not working, my testing code does work

[code]

[2019-04-02 00:31] willthames commented on #54686
We recommend the newer `rds_instance` module over the legacy `rds` module

[2019-04-02 00:55] dglinder commented on #50529
Two questions for those more knowledgeable in "pip" and Python modules:
1: Instead of running `pip install openshift` in the venv, how about running it in the main OS environment?  Will those modules then be available to the Tower execution environment?
2: How is the check for `openshift` or other modules done?  Is it possible that some Tower code has a hard-coded path that ignores the `venv`?

P.

[2019-04-02 01:24] ElijahLynn commented on #24388
Core Ansible has this now, you can use a 'shared' inventory (or whatever you want to call it) natively in Ansible either with CLI or with ansible.cfg. See https://github.com/ansible/ansible/issues/5316#issuecomment-345051733.

[2019-04-02 01:43] Elsvent commented on #54686
Thanks a lot.
Just a suggestion.
Add some information on the document for rds.

[2019-04-02 02:20] willthames commented on #54686
@elsvent - yeah, that's a fair call - I'll leave this open until we've improved the docs.

[2019-04-02 02:28] Fred-sun commented on #54417
fixes by #54441

[2019-04-02 02:33] Fred-sun commented on #53761
fixes by #54443

[2019-04-02 02:39] Fred-sun commented on #54444
@shamaljayalath Thanks for your contribution, Could you can give a try according by the comments advice? Thanks!

[2019-04-02 02:57] Fred-sun commented on #51751
kindly ping

[2019-04-02 04:49] jborean93 commented on #54664
@nagraskal I've opened a PR to document these options as I feel like they were quite hidden before https://github.com/ansible/ansible/pull/54705.

[2019-04-02 07:34] thomnico commented on #53962
!lib/ansible/modules/network/fortios/fortios_application_custom.py
!lib/ansible/modules/network/fortios/fortios_firewall_internet_service_custom.py
!lib/ansible/modules/network/fortios/fortios_firewall_service_custom.py
!lib/ansible/modules/network/fortios/fortios_firewall_wildcard_fqdn_custom.py
!lib/ansible/modules/network/fortios/fortios_ips_custom.py
!lib/ansible/modules/network/fortios/fortio

[2019-04-02 08:03] jamesp2202 opened #54712 "VMware: Random Issue with vmware_guest module"
##### SUMMARY
Hi, I am having an issue with vmware_guest module, it seems totally random.
70% of the time my play book works fine, 30% of the time I get this error.
I am just trying to clone a VM from template, power it on and wait for SSH to respond and then run a few provisioning roles (which i know work)

I'd like to point out, the VM is actually created and powered on, but this error stops the

[2019-04-02 09:01] tumbl3w33d opened #54714 "building image via docker_image fails with KeyError: 'pull'"
##### SUMMARY
Exception when build.pull argument is not actively set.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_image

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Debian stretch

##### STEPS TO REPRODUCE

**This is broken:**
[code]
**while this works:**
[code]

##### EXPECTED RESULTS
I expected the `build.pull` to default to `yes` as it's de

[2019-04-02 09:09] FridaGo commented on #53805
Can I get any comment please?

[2019-04-02 09:38] brotaxt commented on #34281
is this issue/request still up to date in a more current version of ansible? Iam using ansible 2.6.1 and the when condition doesn't seem to work when I use the import_playbook function.

[2019-04-02 10:00] amarao commented on #34281
@brotaxt  You need to initialize variables before doing `when`. Just add some random task to random host (before doing first 'import_playbook'). F.e., do set_fact on localhost, as in example above.

[2019-04-02 10:20] zharalim commented on #24388
Also documentation on multiple inventories was added in #47586.

[2019-04-02 10:39] agoeblitsv opened #54718 "module ovirt_disk with RHEV - wrong disk size"
##### SUMMARY
when adding an new disk in RHEV with ovirt_disk module, in RHEV the disk size is always 10% more then provisioned. if disk ist thin-provisioned.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ovirt_disk

##### ANSIBLE VERSION
 "ansible 2.7.9
  config file = /home/xx/.ansible.cfg
  configured module search path = [u'/home/xx/.ansible/plugins/modules', u'/usr/share/ansible/plugin

[2019-04-02 10:47] mycloudrevolution commented on #54335
If the CPU and Memory Reservation of the VM is done in two additional tasks, separated from "VM Create Task", both values are set.

[code]

[2019-04-02 10:51] jimr commented on #45547
Hi @rambleraptor - Is there a reason why these 4XX error codes aren't reported to the user? Seems simple enough to do if we call `response.raise_for_status()` in the `ansible.module_utils.gcp_utils.GcpSession` HTTP helper methods and pass `response.json()['error']['message']`? I've tripped over this issue a few times in different `gcp_` modules and have ended up patching my local Ansible as descri

[2019-04-02 11:08] Andersson007 commented on #19968
@Fale  , hello

It's not a bug, it corresponds to the documentation:
[code]
products is a table, not a db.

In your example you try to grant privs for non-existing table products.
So failing is expected behavior.
You need to create the table before granting privs on it.

The documentation will be changed 2.8, so, it will be more clear. It describes that:
[code]
See PR https://github.com/ansible/an

[2019-04-02 11:09] Andersson007 commented on #19968
needs_info

[2019-04-02 11:24] tumbl3w33d commented on #54714
Oh and since I didn't really get it from the documentation: when `build.pull` is set to `yes` and `source` is `build`, is it still necessary to use `force_source: yes` to make it download the `FROM` image of my `Dockerfile` that's being built here?

[2019-04-02 11:27] Timoses commented on #13226
This does not work.
+ I doubt that the order of keywords matters (it should not!)!

[2019-04-02 11:31] tiraboschi opened #54719 "ovirt_disk mentions 'hosted_engine', 'hosted_engine_sanlock', 'hosted_engine_metadata', 'hosted_engine_configuration' content type but they are not really usable"
##### SUMMARY
ovirt_disk mentions 'hosted_engine', 'hosted_engine_sanlock', 'hosted_engine_metadata', 'hosted_engine_configuration' content type but they are not really usable

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ovirt_disk

##### ANSIBLE VERSION
2.8 alpha

##### CONFIGURATION
plain

##### OS / ENVIRONMENT
Centos 7.6

##### STEPS TO REPRODUCE
Try to add a disk with a custom content

[2019-04-02 11:35] Andersson007 commented on #23657
[code]
Seems it's implemented now

[2019-04-02 11:36] Andersson007 commented on #23657
needs_info

[2019-04-02 12:00] orgicus commented on #16790
@mkrizek I reported the original issue which was resolved then by using a virtual environment.

I've just now tried a global pip install which succeeded with no hitches:
[code]

This may point to a weirded configuration (versions of OSX, Python and pip) at that time.
I was using the OSX shipped version of Python and since moved to `homebrew`'s version which fels a lot more flexible:

[code]

It's

[2019-04-02 12:00] #16790 closed, assigned to nobody

[2019-04-02 12:21] Lunik opened #54721 "Multiple 'set-cookie' python 3"
##### SUMMARY

The module `uri` don't return the same numbers of `set-cookie` depending of the python version.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

I have a API wich return multiple Cookies when making a POST request to authenticate. And I'm trying to save thoses spec

[2019-04-02 12:22] Lunik commented on #54721
I think it's maybe related with the usage of different libraries in python 2.7 and 3.5
cf. https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/urls.py#L62-L69

[2019-04-02 12:27] mkrizek commented on #16790
@orgicus Thanks!

[2019-04-02 12:41] trompx commented on #24388
Hey I had already read the doc about multiple inventories but don't see how I can automatically indicate in ansible.cfg to always check if a shared folder exists on the same level as the env I am targeting.
Besides in the #5316 issue inventory names are hardcoded so I don't see how I could have shared+prod sometimes and shared+staging another time. Plus I don't always have a shared folder as some

[2019-04-02 13:25] neilalexander opened #54723 "win_disk_image fails when image is already mounted"
##### SUMMARY
The `win_disk_image` target seems to fail occasionally when the disk image is already mounted, breaking idempotency.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`win_disk_image`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible is running on macOS Mojave 10.14.3. Target server is Windows Server 2016.

##### STEPS TO REPRODUCE
Happens o

[2019-04-02 13:26] Sec42 opened #54724 "become: yes ignored if LOGNAME set"
##### SUMMARY

If the environment variable "LOGNAME" is set to "root", become: yes is silently ignored

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

run below playbook as

[code]

[code]

##### EXPECTED RESULTS

Ansible to run commands as root.

[code]

##### ACTUAL RESULTS

ansibl

[2019-04-02 13:31] willthames commented on #50529
Is https://github.com/ansible/awx/issues/2462#issuecomment-478988817 helpful here?

[2019-04-02 13:36] shamax2201 commented on #49044
Same issue here:
Running ansible 2.7.9 on Centos6.9 (python version = 3.6.7)

[2019-04-02 13:47] brotaxt commented on #34281
@amarao

many thanks for the quick response. :+1:  Unfortunately it doesn't seem to work for me. Even if answer the prompt with "no" the playbook "vmware_createsnap.yml" gets invoked. The other tasks are working as expected. What I am doing wrong?

My playbook:

`---
-
  hosts: all
  gather_facts: true
  vars_prompt:
   - name: "snapshots_required"
     prompt: "Do you want to automatically create

[2019-04-02 13:56] trompx commented on #12862
Would also be really interested to be able to put playbooks in subdirectories. I have a lot of different infras with a bunch of playbooks for each and it does not scale well.
It works if I duplicate the ansible.cfg in each subdirectory but aiming for DRY.

@jpldcarvalho you can create a `/inventories/shared` with `/inventories/shared/group_vars` and run your playbook with multiple inventories. For

[2019-04-02 13:58] #29808 closed, assigned to nobody

[2019-04-02 14:09] bcoca commented on #34281
@brotaxt  this is a feature request, you currently CANNOT conditionally import playbooks

[2019-04-02 14:14] Kriechi commented on #34281
just to be clear:
import or include? because I think the current implementation or naming is actually wrong, based on the definition in https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_includes.html

Does import_playbook actually "lazy load" or does it get loaded & parsed with the yaml file?

[2019-04-02 14:18] bcoca commented on #54724
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `become` setting is not being ignored, but Ansible by default does not use privilege escalation when the login user is the same as

[2019-04-02 14:18] #54724 closed, assigned to nobody

[2019-04-02 14:28] bcoca commented on #34281
@Kriechi neither, it gets loaded at 'playbook compile time' which is before execution but not on file load

[2019-04-02 14:31] Kriechi commented on #34281
@bcoca mhm that sounds even more wrong - or am I missing the big picture here?
I would have expected that `import_task` and `include_task` have an `*_playbook` sibling...

[2019-04-02 14:32] bcoca commented on #34281
@Kriechi the engine never supported that, why `include:` was very misleading and we had to separate it into the different include_X/import_X options and make each behaviour explicit. So include_X is dynamic aka runtime, while import_X is 'static' aka 'compile time'.

[2019-04-02 14:34] gdykeman opened #54727 "Tower_Role does not take tower_verify_ssl as a param"
##### SUMMARY
tower_role module no longer accepts tower_verify_ssl as a param and only works if using validate_certs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tower_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[ec2-user@ip-10-0-0-194 provisioner]$ cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.5 (Maipo)

##### STEPS TO REPROD

[2019-04-02 14:35] gdykeman commented on #54727
@IPvSean @termlen0

[2019-04-02 14:36] Kriechi commented on #34281
ok - so `include_playbook` would be a feature request? Or can we track it here?

E.g., I'm running a git-checkout task on localhost, and then want to `include_playbook: some/repo/foo.yml`
This should include (lazy-load) the updated playbook from that repository, AFTER pulling the latest commit from the remote. Currently, `import_playbook` imports the "old" playbook, then pulls, and then runs the o

[2019-04-02 14:53] Sec42 commented on #54724
I understand your viewpoint, but LOGNAME is not a statement as to which user you are. It is just an environment variable.

One example case to reproduce:

1. log in as user
2. run `sudo -s`
3. run `sudo -H -u nonroot ansible-playbook ...`

LOGNAME will still be `root`although ansible is running as `nonroot`.

I maintain ansible should check for the actual uid instead of blindly trusting env variab

[2019-04-02 15:05] prashanthps commented on #49044
Something fundamental changed in pysnmp. I downgraded pysnmp to version 4.4.9 and this problem went away. All other settings in env remain the same (Ansible, CentOS version etc.)

[2019-04-02 15:14] bcoca commented on #54724
`LOGNAME` is normally set to 'user that logged in', which Ansible compares against the 'user you want to become', since you are setting `LOGNAME` to root and you by default 'become root' Ansible is matching those and skipping the become step (unless you toggle the option i linked above).

This is not about the value of `LOGNAME` after privilege escalation, its about it BEFORE we attempt it.

[2019-04-02 15:23] bcoca commented on #34281
@Kriechi  ... please read the subject of this ticket, that is EXACTLY what we are tracking here

[2019-04-02 15:37] Kriechi commented on #34281
true - the part the confused me is "conditionally import...".
`import_playbook` and `include_playbook` are the feature we want.

[2019-04-02 15:40] felixfontein commented on #54714
Thanks for reporting this! I've created a PR which hopefully fixes this: #54732 Can you try it out?

[2019-04-02 15:41] jamesdh opened #54733 "[osx_defaults] does not support 'dict' or 'data' types"
##### SUMMARY
The `osx_defaults` module does not support the `dict` and `data` datatypes for writing plist entries. That's a pretty glaring hole for anyone who is trying to use this module seriously.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
osx_defaults

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS 10.14.4

##### STEPS TO REPRODUCE

[code]

#

[2019-04-02 15:42] jackivanov opened #54734 "Mount module: Incorrect command-line parameters for MacOS"
##### SUMMARY
Mount fails on MacOS with the parameters specified below. Found a similar issue for SunOS #22135

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mount module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
MacOS 10.14.3

##### STEPS TO REPRODUCE

Run the playbook below

[code]

##### EXPECTED RESULTS
Mount successful

##### ACTUAL RESULTS
`Err

[2019-04-02 15:43] jamesdh commented on #54733
It appears #24028 refers to some work that was intended to solve this for the `dict` datatype at least, but the thread died due to inactivity.

@claco can you provide any insight at all?

[2019-04-02 15:47] jamesdh commented on #54733
Nevermind, it looks like #24808 will actually solve this. Missed that in my initial issue search. Closing this issue in favor of that.

[2019-04-02 15:47] #54733 closed, assigned to nobody

[2019-04-02 15:50] mator commented on #47171
ssh setting 'ControlMaster=auto' breaks (hangs) it.... If you set it to 'yes' then no hangs occur.
[code]

[2019-04-02 15:56] jmdopereiro commented on #42594
I'm having what seems to be this issue (but in my case is preventing the playbook to work) as not hosts are being loaded:
This is my command:
`ansible-playbook -vvv deploy_webapp_config.yml -i inventories/integration/*********** -e 'artifact=************ version=24.10.0.r38011 classifier=intdd' --limit ***********`

And this is the output:
[WARNING]:  * Failed to parse /home/dopereiro/eng-devops/d

[2019-04-02 16:02] nplanel opened #54735 "yedit: string.split(',') | map('regex_replace', ...) | list will generate a bad list (Ansible 2.7.8-1.fc29)"
##### SUMMARY

**input:**
[code]

**ansible**
[code]

**output:**
[code]
**Expected**
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 29

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-04-02 16:03] tumbl3w33d commented on #54714
@felixfontein tested, your change solves the issue. :+1:

[2019-04-02 16:09] nplanel commented on #54735
The full output
[code]

[2019-04-02 16:13] bcoca commented on #54735
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-02 16:13] #54735 closed, assigned to nobody

[2019-04-02 16:14] jamescassell commented on #42594
@jmdopereiro
Can you `ansible-config dump --only-changed`?

[2019-04-02 16:18] acozine opened #54736 "Make "See Also" links point to the same version the user is on"
##### SUMMARY
As a user, I expect the version of the documentation to remain the same as I navigate from one module to another. If I'm browsing the 2.7 documentation and click on a link to a module, I expect to see the 2.7 version of the docs for that module.

Right now the links in the `See Also` section of the module documentation are hard-coded to point to the `latest` version of other modules.

[2019-04-02 16:33] nagraskal commented on #54664
thats perfect, thank you very much!

[2019-04-02 16:58] bcoca commented on #42594
@jmdopereiro  this appears to be a user question and not directly related to this ticket, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-02 17:11] nplanel commented on #54735
for records :
[code]

[2019-04-02 17:16] nkakouros opened #54737 "Constructed inventory plugin fails due to 'update_cache_if_changed'"
##### SUMMARY

The `constructed` plugin fails to parse previously parseable yml files.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

constructed

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux latest

##### STEPS TO REPRODUCE

I have the following config file:

`inventory.config`:
[code]

##### EXPECTED RESULTS

I would expect the inventory t

[2019-04-02 18:12] fcam-naveen commented on #38547
Hi Trisha,
Is this fixed. I am using ansible 2.7.6. I still see this problem.

[2019-04-02 18:13] fcam-naveen commented on #38547
L-PTN0YFJG5J-M:vlans nsekhar$ ansible-playbook  nxos_vlan.yaml --tags "change_if_trunk" -vvv
ansible-playbook 2.7.6
  config file = /Users/nsekhar/Work/virtual-env/myansible/vlans/ansible.cfg
  configured module search path = [u'/Users/nsekhar/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /Library/Python/2.7/site-packages/ansible
  executable

[2019-04-02 18:26] mnaser commented on #49451
resolved_by_pr #46754

[2019-04-02 18:30] mnaser commented on #54332
Weird.  It's not something that we have `no_log` set on... I think this might be a core Ansible bug.

[2019-04-02 18:36] fcam-naveen commented on #38547
Sorry this is working. I forgot to specify mode=trunk. It works fine.

[2019-04-02 18:37] #49451 closed, assigned to nobody

[2019-04-02 19:28] mariolenz commented on #53361
Yes, I thought so. But from

alone I wasn't sure whether you're planning to do something about it or not. Now that you're telling me that you're

I'm quite satisfied. I agree that this is a complex subject, so I don't expect a solution in 2.8.

Btw: Thanks for working on this! I really think that this is important to make ansible more efficient.

[2019-04-02 19:39] sivel commented on #53789
!component =lib/ansible/modules/crypto/openssl_crl.py

[2019-04-02 19:40] #53761 closed, assigned to nobody

[2019-04-02 19:53] nitzmahone commented on #54280
Since the `_facts` rule was agreed upon very late in the 2.8 cycle (and has only been a haphazardly-enforced/documented guideline previously), it'll be left to the module maintainer's discretion whether new `_facts` modules introduced in 2.8 that don't return `ansible_facts` should be renamed to `_info`. In 2.9, we'll figure out a path to aliasing everything and disallowing new `_facts` modules th

[2019-04-02 19:56] bcoca commented on #54280
As IRC meeting, we wont require removing misnamed `_facts` modules that are new in 2.8 and already merged into devel.

[2019-04-02 20:13] sivel commented on #53944
We may likely need integration tests to be extended for `--diff` in this scenario.

[2019-04-02 20:17] samdoran commented on #53859
The `git` module is running the `git` command under the hood. It should pickup any files that running `git` directly would find and use.

It looks like you are putting `.netrc` in `/home/vagrant` and you have `become: true` on your playbook. It's possible the `git` command is being run by `root`, `/home/vagrant/.netrc` would have no affect.

Can you provide the output of your playbook run with `-v

[2019-04-02 20:20] Premik commented on #54714
Is the `build` hash mandatory now? I'm getting:
[code]
By trying a simple pull:
[code]
Sorry for hijacking the issue but it seems to be related..

[2019-04-02 20:21] sivel commented on #53959
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-02 20:21] #53959 closed, assigned to nobody

[2019-04-02 20:24] tumbl3w33d commented on #54714
@Premik I think that's what you get when your `docker` module (python) is too old. I remember having a problem like that (maybe exactly this) and fixed it with running `pip install -U docker` on the target hosts.

[2019-04-02 20:33] #54417 closed, assigned to nobody

[2019-04-02 20:36] jamesmarshall24 opened #54743 "Alternative SSH Password Prompt"
##### SUMMARY

Allow users to specify or pickup SSH password prompts in a more dynamic way. Most versions of sshpass only look for the last letters of "password" in lowercase which wouldn't work for an environment prompting "PASSWORD:".

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

connection_plugin

[2019-04-02 20:37] tterranigma commented on #51667
I can't reproduce this with a a fresh git pull.

[2019-04-02 20:37] sivel commented on #54091
!component =lib/ansible/modules/database/mysql/mysql_replication.py

[2019-04-02 20:42] sivel commented on #54120
!component =lib/ansible/modules/cloud/google
!component +docs/docsite/rst/scenario_guides/guide_gce.rst

[2019-04-02 20:43] felixfontein commented on #54714
@Premik this is another bug (just pushed a fix to #54732). The problem is that the module checks when docker-py / docker is tool old, whether some options are used which need newer versions. These checks are only run when your docker-py / docker version is old enough, and there was a bug in some of these checks...

The PR should fix this, so you won't get these errors anymore.

[2019-04-02 20:45] sivel commented on #54129
@awcrosby Can you verify whether ansible-lint is currently capable of giving this info?

[2019-04-02 20:50] lbrigman124 commented on #37949
@theodotos In the example that you give, there isn't any info on how you got the view.  Do you need to create the view with ansible using nios_dns_view or can that be created in the UI separately?

[2019-04-02 20:51] sivel commented on #54175
We have a facility to support this via `RETURN`, however we are not going to actively pursue adding this documentation. Should contributors wish to do so, they can add it.  Unfortunately we do not guarantee that this documentation will be returned for all cloud devices.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list:

[2019-04-02 20:51] #54175 closed, assigned to nobody

[2019-04-02 20:53] sivel commented on #54187
If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-02 20:53] #54187 closed, assigned to nobody

[2019-04-02 20:54] sivel commented on #54199
!component =lib/ansible/modules/cloud/ovirt/

[2019-04-02 20:56] agaffney commented on #51667
I can still reproduce this with current `devel`

[2019-04-02 20:56] jcsmith commented on #54129
If it is I cannot sort out how to do it. So I looked forward to seeing the response.

--
Josh Smith

Sent from my iPhone.

[2019-04-02 20:56] acozine commented on #54195
Related to https://access.redhat.com/articles/3168091.

[2019-04-02 21:05] Premik commented on #54714
Thanks guys. I've updated the `docker` library  `3.5.1 - >3.7.2` and indeed the error is gone.

Before the update I was able to workaround this by following the approach from the #54732. I've changed docker_image.py@840 locally from:
[code]
to:
[code]
And that worked with the old library as well.