[2019-03-07 12:01] ruimoreira commented on #53404
@sivel please let me know if there is something I can help with regarding triaging this issue.

[2019-03-07 12:10] #53226 closed, assigned to nobody

[2019-03-07 12:10] #53227 closed, assigned to nobody

[2019-03-07 13:02] jstodola opened #53453 "Allow creating EBS volumes/snaphots from s3 files"
##### SUMMARY

I'm trying to register a locally created *.ami image file as an AMI in ec2. The image file can be uploaded to my s3 bucket, but I couldn't find a way to import the file as an EBS volume or snapshot into ec2 using the ec2_vol or ec2_snapshot modules.
Have I missed any module or option, or is this not yet possible to do using ansible?

It is possible to do this task using aws cli (see

[2019-03-07 13:14] Inilien opened #53454 "cron `no such file or directory` error if set `cron_file` value"
##### SUMMARY
if before running task path `/etc/cron.d/folder1` does not exist on target system
then cron module
with argument  `cron_file=folder1/folder2`
will throw the error: `No such file or directory: '/etc/cron.d/folder1/folder2`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cron
https://docs.ansible.com/ansible/latest/modules/cron_module.html
##### ANSIBLE VERSION

[code]

##### CON

[2019-03-07 13:24] devantoine commented on #40586
I'm hitting this issue with Python 2.7.15 and Ansible 2.7.5 under Mac Os Mojave.

I'm behind a proxy which uses a certificate. I'm pretty sure it comes from the proxy. I had to manually set `http_proxy` and `https_proxy` in the terminal and now I'm getting the following warning:

have a valid CA certificate installed. You can use validate_certs=False if you do not need to confirm the servers ident

[2019-03-07 13:53] chrisvanheuveln commented on #53011
@trishnaguha Mike is offsite today. I updated to latest `devel` and our playbooks are working so you can close this issue. Thanks

[2019-03-07 13:54] markbgrdt commented on #53122
I've fixed the issue by removing the new line character with rstrip() from the input file
https://github.com/markbgrdt/ansible/commit/5692ccc07a82c072223d050c8b280fa417f96878

[2019-03-07 14:04] chrisvanheuveln commented on #52671
@trishnaguha The `greaterthan` test is passing now after the workaround from #52670.
Timestamp support still needs to be implemented for httpapi but you can close this issue.

[2019-03-07 14:47] samccann opened #53456 "Document how to make your own network plugin"
##### SUMMARY

Network developers need guidance on how to create network plugins for:
 - httpapi
- neconf
- cliconf

and possibly terminal?

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2019-03-07 14:51] gundalow opened #53457 "Docs: Troubleshooting user issues"
##### SUMMARY

**Edit** This is just about end user troubleshooting. How to report bugs has been split out into https://github.com/ansible/ansible/issues/53520

We have a few bits of documentation around how end users can troubleshoot Ansible, though these seem to spread around and we don't have a central page.

Current troubleshooting docs [are lacking LMGTFY](http://lmgtfy.com/?q=ansible+trouble

[2019-03-07 14:56] bcoca commented on #53122
@markbgrdt  that makes no sense to me, is this an issue on the minion side choking on the EOF?

won't this impact files that require whitespace at the end?

[2019-03-07 15:07] mz0 commented on #53428
same here:
[code]
(shown with silencing workaround, without this '|bool' each task in block shows that warning)

[code]

[2019-03-07 15:09] #50158 closed, assigned to Akasurde

[2019-03-07 15:11] tiraboschi opened #53459 "xml module in ansible 2.8 fails to fetch attribute content"
##### SUMMARY
xml module in ansible 2.8 fails to fetch attribute content.
This is probably due to a side effect of https://github.com/ansible/ansible/pull/28662/files

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
xml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Centos 7.6 with
ansible.noarch                               2.8.0-1.201903062333git.156613f

[2019-03-07 15:17] AlanCoding commented on #40581
I would like to expand the scope of this issue to add the same name of toggle with the same functionality to the azure_rm inventory plugin as well.

[2019-03-07 15:19] sivel commented on #53428
This is a purposeful warning for this situation.

The behavior that it is warning about, relates to how a single bare variable is handled in conditionals.

We have a piece of logic, that can perform unexpected actions that we are deprecating in 2.12.

That logic would enable the following bad behavior:

[code]

This task actually gets skipped, instead of run.  A string should be a truthy value, bu

[2019-03-07 15:21] AlanCoding opened #53460 "Implement option to use unsafe group names in gcp_compute inventory plugin"
##### SUMMARY
The script `gce.py` would produce group names with a variety of unsafe characters.

The inventory plugin gcp_compute has no option to return these, this issue is to implement a toggle that will do so

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gcp_compute inventory plugin

##### ADDITIONAL INFORMATION
[code]

will show that `.` characters and `-` characters are replaced wi

[2019-03-07 15:22] jctanner commented on #53457
cc @willthames

[2019-03-07 15:24] sivel commented on #42352
Closing this as https://github.com/ansible/ansible/pull/51030 has been merged.  We will deprecate the current behavior in 2.12, but there is a config toggle to disable this behavior.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-03-07 15:24] #42352 closed, assigned to nobody

[2019-03-07 15:24] sivel commented on #34591
Closing this as https://github.com/ansible/ansible/pull/51030 has been merged.  We will deprecate the current behavior in 2.12, but there is a config toggle to disable this behavior.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-03-07 15:24] #34591 closed, assigned to nobody

[2019-03-07 15:26] Inilien commented on #53454
it's turned out, cron cannot run files in subdirectories of `/etc/cron.d`
https://superuser.com/questions/452085/is-it-possible-to-add-directories-under-cron-d
hence, there is no bug as stated in that issue.
Sorry ))

[2019-03-07 15:26] #53454 closed, assigned to nobody

[2019-03-07 15:26] pyfontan opened #53461 "redfish_facts and DELL server tags"
##### SUMMARY

On DELL servers, the serial number returned by redfish API for systems is not the commonly used service tag which is present in property SKU.
Is it possible to get this property present in data returned by redfish_facts ? or is it too DELL specific ?

##### ISSUE TYPE
- Question / Feature

##### COMPONENT NAME

redfish_facts module

##### ADDITIONAL INFORMATION

With the SKU propert

[2019-03-07 15:28] #50758 closed, assigned to sivel

[2019-03-07 15:29] #53167 closed, assigned to nobody

[2019-03-07 15:35] samccann commented on #53456
issue requested by @Qalthos

[2019-03-07 15:35] jamescassell commented on #53428
I assume my reproducer playbook will work identically as it does today (2.7) once the deprecation message is gone.  Can an option to be added to squash only this warning?  There is nothing wrong w/ the playbook I described above.

The second warning in the "complex" task for certain seems like a recurrence of a bug that happened a few releases ago.

[2019-03-07 15:40] sivel commented on #53428
It should work the same.  You can try to silence it by setting `CONDITIONAL_BARE_VARS` to `False` (https://docs.ansible.com/ansible/devel/reference_appendices/config.html#conditinal-bare-vars)

There are issues aside from bool conversion as well.

In the case of `thing: "foo"`, it would be changed to `{% if foo %}` which would give an undefined var error, if `foo` did not exist, or if it existed,

[2019-03-07 15:40] pyfontan commented on #53461
I may have made a mistake specifying redfish_facts as component while it's redfish_utils which needs an update.

Sorry for that.

[2019-03-07 15:41] billdodd commented on #53461
@pyfontan - thanks for opening the issue.

`SKU` is a standard Redfish ComputerSystem property, so I think it is quite reasonable to include it in the system inventory.

[2019-03-07 15:48] jamescassell commented on #53428
So this feature is opt-in for now?  And if I opt-in, it will squash the warning?

[2019-03-07 15:52] ac-hibbert opened #53463 "Tags not supported by aws_ssm_parameter_store"
##### SUMMARY

Tags not a supported parameter in https://docs.ansible.com/ansible/latest/modules/aws_ssm_parameter_store_module.html

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aws_ssm_parameter_store

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS

[2019-03-07 15:55] sivel commented on #53428
It is opt-in, and if you opt-in, the warning will disappear.  Once 2.12 lands, the default will swap to `False`, the current default is `True`

[2019-03-07 16:03] castelao commented on #43286
async fails for me on some remote machines, but not everyone. I couldn't investigate it much, but I could resolve the ones that fail with a similar error message by giving a full path for Python on ansible_python_interpreter. I was originally using `ansible_python_interpreter=python3` as well.

[2019-03-07 16:07] BarbzYHOOL commented on #23777
Doesn't work in the replace module

[2019-03-07 16:12] ericsysmin commented on #53414
I found this error which is similar, so maybe a regression? https://github.com/ansible/ansible/issues/44328

[2019-03-07 16:13] jose-delarosa commented on #51286
The 2 PRs that fix this bug have been merged, odd that this bug was not automatically closed. @xmadsen, do you mind closing it? Thank you.

[2019-03-07 16:15] xmadsen commented on #51286
Closing!

[2019-03-07 16:15] #51286 closed, assigned to nobody

[2019-03-07 16:19] jose-delarosa commented on #53461
Should be an easy fix @pyfontan, care to submit a PR?

[2019-03-07 16:20] jose-delarosa commented on #53461
On never mind, you already did!

[2019-03-07 16:23] fabianvf commented on #53414
It does look similar, but we are testing deleting namespaces and AFAIK we haven't seen any issues with builds recently. Is it only removing the namespace that fails or is it other k8s tasks as well?

[2019-03-07 16:29] markbgrdt commented on #53122
I agree, it makes no sense. At some point a new line character gets attached but i am not sure if this is something on the minion side or in the ansible plugin.

Adding simply a rstrip is not a bug fix, it is more a workaround from my point of view to find the actual issue.

[2019-03-07 16:31] bcoca commented on #17078
@rockandska i don't know that molecule checks for 'over caching' in the internal engine, also, it has it's own project/github that might be a better place for such questions https://github.com/ansible/molecule

[2019-03-07 16:41] bcoca commented on #53122
plugin then just passes to salt ... at that point there is no more mangling of the input .. so this has to be either the salt client or the minion

[2019-03-07 16:53] rockandska commented on #17078
Already done a few days ago @bcoca https://github.com/ansible/molecule/issues/1803 and is linked to this issue :smiley: .
Was just asking here to paste your answer on the molecule issue.
Thanks

[2019-03-07 17:03] markbgrdt commented on #53122
Yes let's include both fixes for now and do some further testing with the salt minions. Could you include my rstrip fix with a comment into your pull request or should I create an own pull request?

[2019-03-07 17:36] bcoca commented on #53122
You can do, probably will get done sooner

[2019-03-07 18:26] #50844 closed, assigned to samdoran, nitzmahone

[2019-03-07 19:04] Dejan992 commented on #51663
I have the same error. I've seen this error before and just killing ec2 instance helped me fix that, but with ansible-playbook i can't do that.

[2019-03-07 19:15] RobW3LGA commented on #45578
@mtorelli Thank you for your response. I have (hopefully) successfully uploaded my changes and made the pull request. If this didn't work, please let me know. Thanks again for your help

[2019-03-07 19:23] FixItDad opened #53476 "String mode parameter for openssl_pkcs12"
##### SUMMARY
The openssl_pkcs12 module is not accepting a string for the mode parameter.
I get a python error when executing the openssl_pkcs12 task that includes *mode* as a string value.

Also appears to be related to PR #50035.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssl_pkcs12

Problem appears to be in https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/crypto/o

[2019-03-07 19:41] #41791 closed, assigned to nobody

[2019-03-07 19:44] felixfontein commented on #53223
I think all problems in this issue are fixed in Ansible 2.7.9, which will probably be released in a week. I'm closing this issue; @jvalrog, in case you think we forgot an aspect, please ping me. If you find something new, please create a new issue.

close_me

[2019-03-07 19:47] felixfontein commented on #53476
A readable version of the stacktrace:
[code]

[2019-03-07 19:48] samccann commented on #53457
One comment - can we keep 'how to create a good bug' and any debug steps related to providing that info as separate from Troubleshooting? as in the Troubleshooting section should be common ansible problems seen in the field and how to solve them ideally imo.

[2019-03-07 19:49] felixfontein commented on #53476
This is unrelated to #50035, it's more a problem that the general file parameters have been adjusted, while some users (like the openssl_* modules) have not.

[2019-03-07 19:54] #53223 closed, assigned to nobody

[2019-03-07 19:54] jborean93 commented on #53386
I think the real answer to this is to not use the SYSTEM account to change run the `win_timezone` module in the first place. The only control we have to filter out the become user is to add the privilege check but that's required for other reasons and we don't want to add a further check for `SeTimeZonePrivilege` as that is unrelated to what we are using become for.

In reality you shouldn't be us

[2019-03-07 19:54] #53386 closed, assigned to nobody

[2019-03-07 19:56] #24694 closed, assigned to nobody

[2019-03-07 20:40] Timoses commented on #42607
Doesn't this go against the documentation here? https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/user_guide/playbooks_variables.rst#variable-precedence-where-should-i-put-a-variable

It mentions
[code]
and
[code]

It would be nice to allow this.

## Use case

/etc/ansible/hosts.ini
[code]

~/git/project_1/project_1.yml
[code]

~/git/project_1/group_vars/all.yml
[code]

And I'd call
[

[2019-03-07 20:49] jborean93 commented on #53182
I had a look at this and it turns out `Get-ADForest` will fail to find any forests if we are not running under an auth that supports credential delegation. I've made some changes to use a different method of checking the existence of a forest/domain in https://github.com/ansible/ansible/pull/53480. If you have time it would be great if you could test it out to verify it works for you.

As a side n

[2019-03-07 20:50] jagibson commented on #51965
@maxamillion ha I think you meant @jagipson not @jagibson .

[2019-03-07 21:03] dthvt opened #53481 "ec2_vpc_vpn - support delay & max attempts for longer waiting"
##### SUMMARY

Modify ec2_vpc_vpn to include a new parameter or parameters to control the boto3 waiter config delay and max attempts.  (See https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ec2.html#EC2.Waiter.VpnConnectionAvailable).

The default values of 15 second delay and 40 attempts are not always sufficient.  I attempted to run the ansible task async and use a async

[2019-03-07 21:12] jborean93 commented on #49055
So the reason why it is trying to install the forest/domain again is because of the credential delegation issue. When running through WinRM the process is unable to authenticate over the network and `Get-ADForest` requires just that. Because of this it will return `$null` and the module will think the forest doesn't exist and tries to create it.

The PR https://github.com/ansible/ansible/pull/5348

[2019-03-07 21:13] jborean93 commented on #47352
Implemented with https://github.com/ansible/ansible/pull/53480. The module will report `changed=True` and `reboot_required=True` in this case. It was decided to keep on saying `changed=True` to further illustrate that a change needs to occur with the reboot. It may not be 100% accurate but it keeps things consistent.

[2019-03-07 21:30] finarfin commented on #53386
@jborean93 thank you. That's a fair point.

The main reason is to register UNC credentials with cmdkey for some services that are running as SYSTEM. But I also have tasks that need access to those UNC shares; so I have been running the whole play as become.  I will just modify my play to runas ansible_user and only required tasks as SYSTEM.

[2019-03-07 21:44] soulofmischief commented on #22426
This is a major pain point for me when using with_subelements on objects with optional keys.

What would need to be changed to make the when statement aware of the subelement?

[2019-03-07 22:00] tatchiuleung opened #53486 "win_scheduled_task fails in Windows 7 with "The network path was not found""
##### SUMMARY

win_scheduled_task fails in Windows 7 with "The network path was not found"

I followed with win_scheduled_task example here:
https://docs.ansible.com/ansible/latest/modules/win_scheduled_task_module.html

I cannot reproduce it on Windows 10.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-03-07 22:04] nethershaw commented on #51071
This is also reproducible in Ansible 2.7.6.

It is more important than may be immediately apparent: some AWS APIs require fully-qualified Lambda ARNs that _must_ end in an absolute version number. The $LATEST qualifier is not permitted for use in such cases, so not only must one be able to control reliably how the ARN is expressed, one must also be able to reliably determine _which_ version is the

[2019-03-07 22:08] tatchiuleung commented on #53486
##### SUMMARY

win_scheduled_task fails in Windows 7 with "The network path was not found"

I followed with win_scheduled_task example here:
https://docs.ansible.com/ansible/latest/modules/win_scheduled_task_module.html

I cannot reproduce it on Windows 10.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-03-07 22:28] wenottingham opened #53487 "check for missing python does not work with pipelining"
##### SUMMARY

The check for python on the remote end does not work properly with pipelining enabled, causing a misleading error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pipelining

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 29

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

Without pipelining:

[code]
##### ACTUAL RESULTS

with p

[2019-03-07 22:44] #47352 closed, assigned to nobody

[2019-03-07 22:44] #49055 closed, assigned to nobody

[2019-03-07 22:44] #53182 closed, assigned to nobody

[2019-03-07 23:31] omgjlk opened #53491 "uri module writes content to dest file regardless of status_code"
##### SUMMARY

The uri module will write out (potentially blank) content to the dest file regardless of the status code received from attempting to fetch the URL. The call to write the content comes before evaluating the status code for failure/success.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OSX

[2019-03-07 23:55] willthames commented on #53457
Not sure how useful this is, but I wrote it to help people understand how to use `connection: local` properly (and it's often that that's the source of discrepancies between what people think they have installed and what ansible actually uses)

https://willthames.github.io/2018/07/01/connection-local-vs-delegate_to-localhost.html

Overall it's probably a bit much but I can probably distill some co

[2019-03-08 00:38] #25344 closed, assigned to nitzmahone

[2019-03-08 01:00] dselders commented on #50726
@ganeshrn My testing is showing that the regex isn't catching the prompt.  The regex should match primary as well as secondary.  It's possible that commands could be run against a secondary in the cluster.

[code]

[2019-03-08 02:04] pillarsdotnet commented on #30411
I wrote a role to deal with long-running tasks here: https://github.com/pillarsdotnet/ansible-watch.git

[2019-03-08 02:20] yungezz commented on #51944
HI @uritau would you like to test if https://github.com/ansible/ansible/pull/53496 fixed your issue?

[2019-03-08 03:06] bcoca commented on #32056
you don't need to set a fact:
[code]
you can define at play/block/role (before or after command task) since it is 'lazy interpretation'  it won't get evaluated until you access it.

[2019-03-08 03:09] bcoca commented on #31407
hostvars are 'host specific' and `hosts:` needs to be host agnostic, so it should not be available at that scope, you only get 'extra vars' and play scoped vars, no host vars.

[2019-03-08 04:15] jwitko opened #53501 "docker_swarm module does not actually apply node_id parameter"
##### SUMMARY
the `docker_swarm` ansible module contains a parameter to specify `node_id` in the case of `state=remove`.  In its current state the module does not apply this parameter regardless if its specified or not.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS 7
Docker-CE 18.09.2, 18.09.3
Swarm m

[2019-03-08 04:33] #29135 closed, assigned to Akasurde

[2019-03-08 04:50] queglay commented on #30411
Thanks for sharing, thats pretty cool!

[2019-03-08 05:32] #42466 closed, assigned to nobody

[2019-03-08 06:22] felixfontein commented on #53501
!component =lib/ansible/modules/cloud/docker/docker_swarm.py

[2019-03-08 06:36] felixfontein commented on #53501
Are you sure this already happens in 2.7.7? I think it just happens in devel, and in current stable-2.7 (which hasn't been released yet).

[2019-03-08 06:37] felixfontein commented on #53501
Anyway, a very good catch, since this is unfortunately one of the things the tests won't catch (since that requires more than one node...), and neither can I locally (with also just a one-node cluster).

[2019-03-08 06:38] felixfontein commented on #53501
Ah, sorry, it does happen in 2.7.7 as well (and probably all earlier versions). I thought I've thrown `node_id` out from `TaskParameters` (but forgot to adjust the places where it is used), but apparently it has never been in there...

[2019-03-08 07:41] sujiar37 commented on #50779
@bcoca , Could you please provide some insight / update regarding this ? , thanks.

[2019-03-08 07:51] tomtomvu commented on #50905
hello @ganeshrn @codyjohn,

I encounter the exact same issue with `2.7.5` and `2.8-devel`
Is there any updates ? What can we do to help to the issue ?

Cheers.
Thomas

[2019-03-08 08:21] #49191 closed, assigned to nobody

[2019-03-08 08:21] vcaixeta commented on #50905
I have the same from `2.7.5 and 2.7.8`, running from `2.8-devel` with log_messages and grepping for `jsonrpc`, this is what I get:
[code]

[2019-03-08 08:24] tomazas commented on #52598
Add two lines to your script start to remove the annoying CryptographyDeprecationWarning:

import warnings
warnings.filterwarnings(action='ignore',module='.*paramiko.*')

[2019-03-08 08:47] zx1986 commented on #24989
[code]

not working with this inventory config too ...

ansible 2.7.8

[2019-03-08 09:02] 3kami3 opened #53512 "VMware: VMware Dynamic Inventory Plugin result is empty"
##### SUMMARY

Try to use vmware dynamic Inventory plugin and empty with the following WARNING.
But, it works in vmware_inventory.py.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/plugins/inventory/vmware_vm_inventory.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

alpine-release 3.9.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESU

[2019-03-08 09:33] Akasurde commented on #53512
@3kami3 Thanks for reporting this issue. Could you please ping me on IRC channel `#ansible-vmware` (akasurde) on irc.freenode.net?

[2019-03-08 09:41] Akasurde commented on #53512
!component =lib/ansible/plugins/inventory/vmware_vm_inventory.py

[2019-03-08 10:03] #53011 closed, assigned to nobody

[2019-03-08 10:30] gundalow commented on #47499
Given https://github.com/GoogleCloudPlatform/magic-modules/issues/1423 looks like we should be track this here, so I've reopened this issue.

[2019-03-08 10:38] lucc opened #53516 "file/template module does not set owner correctly before validating when using become"
##### SUMMARY
The `file` and `template` module do not set the correct file owner *before* calling the `validate` command when `become: true` is also given.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- file
- template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
can be empty but for readablility and debugging I set these in the environment:
[code]

##### OS / ENVIRONMENT
tested from

[2019-03-08 10:51] zigarn opened #53518 "Loop over include_role fire each handler one time for each item"
##### SUMMARY

If you loop an `include_role` that contains 1 handler, the handler is fired multiple times, one for each iteration.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.10

##### STEPS TO REPRODUCE

[code]

[code]

[code]

[code]

[code]

[code]

##### EXPECTED RESULTS

Only the hand

[2019-03-08 11:05] gundalow opened #53520 "Docs: How to report bugs"
##### SUMMARY
(Split out the bug reporting bit from https://github.com/ansible/ansible/issues/53457)

After some back and forth with the [issue templates](https://github.com/ansible/ansible/blob/devel/.github/ISSUE_TEMPLATE/) I think we need to improve the docs and make the issue templates simpler

### Detailed "How to report bugs"
Update https://docs.ansible.com/ansible/devel/community/reporting_

[2019-03-08 11:07] stefanheykes commented on #31407
I do not agree here.

Host Vars should be available at that level if explicitly requested, and they are when actually running stuff - they are only creating problems during a syntax check. So the current bug is that syntax check does fail on perfectly working plays.

Accessing host vars for hosts or serial keyword like in the examples from me or now surenz298 is a very flexible way to control the

[2019-03-08 12:47] Akasurde commented on #53372
@blambo10 Thanks for the feature request. There are two ways two achieve this -

1. With Pyvmomi version less than 6.7.1.2018.12, use PR #53523 (Backward compatible)

2. With Pyvmomi version equal or greater than 6.7.1.2018.12, use following PB,

[code]

[2019-03-08 12:47] Akasurde commented on #53372
resolved_by_pr #53523

[2019-03-08 12:54] #52824 closed, assigned to nobody

[2019-03-08 12:56] Akasurde commented on #36915
Closing this issue as PR is merged. Please feel to open new issue if problem persists. Thanks.

[2019-03-08 12:56] #36915 closed, assigned to Akasurde

[2019-03-08 13:04] bhaizlett123 opened #53525 "can't run enable mode in playbook"
##### SUMMARY

When trying to run enable via playbook i keep getting the following errrors:

The full traceback is:
Traceback (most recent call last):
  File "/usr/bin/ansible-connection", line 106, in start
    self.connection._connect()
  File "/usr/lib/python2.7/site-packages/ansible/plugins/connection/network_cli.py", line 341, in _connect
    self._terminal.on_become(passwd=auth_pass)
  File

[2019-03-08 13:13] streetster commented on #23777
Do you have an example? I was struggling to get this to work with `blockinfile`, but with trial-and-error I got it working (and then re-read the thread and understood the comments).

the `|2` means there are two spaces after the expected indentation, and then the content will take the remaining indentation.

The following block:
[code]
creates the following in the target file:
[code]

[2019-03-08 13:15] Akasurde commented on #18989
Resolved via a10209cbe98fdd24e965172f2fa9709eb97546f7

Closing this issue. Please feel free to open new issue if problem persists. Thanks.

[2019-03-08 13:15] #18989 closed, assigned to nobody

[2019-03-08 13:17] victorock opened #53526 "[WIP] Inventory Script: Infoblox config file location"
##### SUMMARY

Infoblox script plugin read configuration file in current directory.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

contrib/inventory/infoblox.py

##### ADDITIONAL INFORMATION

AWX is able to create files containing configurations during execution time.

This module should support:

1- Searching for the configuration file in the following additional places:
- CWD.
- Environ

[2019-03-08 13:36] Akasurde commented on #23073
@LinusU What do you think about `extra_args` as suggested by @BarbzYHOOL ?

cc @amolkahat

[2019-03-08 14:34] Akasurde commented on #53518
similar to https://github.com/ansible/ansible/issues/49371

[2019-03-08 14:36] zhangguanzhang opened #53530 "Shared connection to 172.16.1.4 closed."
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-03-08 15:05] stephenl03 commented on #53134
I too have come across this issue. I was running from my MacOS (10.14.3) to a Red Hat Enterprise Linux Server release 7.6 system.

`ansible 2.7.8`

[code]

[2019-03-08 15:06] Uwila commented on #42933
I think the reason for this error and the possible workarounds are pretty clear by now. To really fix this issue I guess there are two options: Document that a role always needs some meta information (turning the bug into a feature), or perhaps `--force` could ignore the sanity check (it's called "force" after all).

[2019-03-08 15:18] sivel commented on #53487
!component =lib/ansible/plugins/connection/ssh.py

[2019-03-08 15:18] kdelee opened #53532 "RFE: Support awx group by options in ec2 inventory source by always returning `platform` as host var for aws_ec2 inventory plugin"
##### SUMMARY

Support awx group by options in ec2 inventory source by always returning `platform` as host var for aws_ec2 inventory plugin, when unkown provide `""` or `platform_undefined`.

This will help @AlanCoding construct the `platforms` group which is one of the groups we want to make sure we can use in the `group_by` feature of awx.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

[2019-03-08 15:32] AlanCoding commented on #53532
No this might be my bad, I think this syntax may be working now:

[code]

...working on testing that.

[2019-03-08 15:37] bcoca commented on #53532
`platforms == '' |ternary('undefined', platforms)`

[2019-03-08 15:40] #50009 closed, assigned to maxamillion

[2019-03-08 15:57] bcoca commented on #53487
looks like with pipelining we don't get enough info (`missing /usr/bin/<whateves>`) to figure out if it was actual connection error or missing interpreter

@sivel FYI this should be common to all connection plugins and the code actually resides in action plugin base class

[2019-03-08 16:00] sivel commented on #53487
@bcoca the problem is effectively a race condition.  The ssh process was terminated in the middle of transferring the data via pipelining.  We do get a good error from Popen that we can use to determine missing interpreter, and on modules with a smaller transfer size, we don't have issues.

Check the PR above.

I'll test pipelining and paramiko to just be careful.

[2019-03-08 16:03] felixfontein opened #53535 "openssl_*: private key handling with passphrases?"
##### SUMMARY
This is not really a bug, but a discussion ticket, to continue the discussion started in #53489.

In that PR, the behavior for the PyOpenSSL backends was changed so that they behave similarly to the cryptography backends (for modules having both): namely, private keys loaded with no passphrase will fail if they are encrypted (before: module would hang because PyOpenSSL would wait for

[2019-03-08 16:06] bcoca commented on #53487
ah, nice, so you just ensure you get all output now before raising connection error

[2019-03-08 16:10] netzvieh commented on #41910
Was already fixed by #44980

[2019-03-08 16:21] #53376 closed, assigned to nobody

[2019-03-08 16:22] #53461 closed, assigned to nobody

[2019-03-08 16:24] wknapik opened #53536 "aws_s3 fails to delete bucket with versioning enabled"
##### SUMMARY
aws_s3 fails to delete a versioned bucket if some object versions still exist. On non-versioned buckets, the operation succeeds - the bucket is emptied and then deleted.

The module is aware of s3 versioning, as it implements the retrieval of specific object versions.

With neither aws_s3, nor aws cli providing a way to empty a versioned bucket, the user is left with only the option

[2019-03-08 17:00] pyllyukko commented on #47291
It seems that Ansible determines that Slackware uses SysV init (which it supports, but uses BSD style init for built-in services) and looks for `/etc/init.d/dnsmasq` instead of `/etc/rc.d/rc.dnsmasq`.

[2019-03-08 17:07] keeely commented on #47291
Yes, I figured it was something like that.

[2019-03-08 17:19] antienho commented on #50913
I have same errors... my environment is windows 10:
root@TableComputer:~# uname -a
Linux TableComputer 4.4.0-17763-Microsoft #253-Microsoft Mon Dec 31 17:49:00 PST 2018 x86_64 x86_64 x86_64 GNU/Linux

with python3.6.7; ansible 2.8.0.. try to move back to python 2.7, and test it..

Antien

[2019-03-08 17:50] AlexBaranowski commented on #31712
Hi,
I want to confirm that `delegate_to` with lineinfile has race condition, even with only 2 hosts it can break. I'm using ansible 2.7.8 on Enterprise Linux 7 clone.

Here is whole "screen":
**there was nice fish prompt**: `ansible-playbook poc.yml --inventory ../inventories/inventory_local`

PLAY [tmp1, tmp2] ***************************************************************************************

[2019-03-08 17:54] slavaaaaaaaaaa opened #53539 "Add flag to `win_domain_membership` to prevent replacing existing machines by default"
##### SUMMARY

Currently, [`win_domain_membership`](https://docs.ansible.com/ansible/latest/modules/win_domain_membership_module.html) will join current computer to the given domain, **replacing** any machine with the same name that is already in the domain. If one is unaware of this [expected behaviour](https://social.technet.microsoft.com/Forums/Azure/en-US/6ca18455-a583-4a22-841b-0e6ba586ea7c/j

[2019-03-08 18:04] aknrdureegaesr commented on #53520
That part could be clearer, I'm not sure what it tries to say. My current speculation (by all means, do feel free to steal this phrase):

[2019-03-08 18:13] brendanlong commented on #7005
Just ran into this too, spending over an hour trying to figure out how to keep a JSON dict as a literal string so I can pass it as part of a list of Docker labels. Automatically evaling anything that starts with `[` or `{` is *really* confusing and should at least be documented with a workaround. I ended up having to write:

[code]

Because that somehow happens to avoid all of the automatic evalin

[2019-03-08 18:32] stevenscg opened #53543 "elasticache_parameter_group doesn't support group_family redis5.0"
##### SUMMARY
elasticache_parameter_group doesn't support the group_family redis5.0

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
elasticache_parameter_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Creates a parameter group with group_family redis5.0

##### ACTUAL RESULTS
Throws error that re

[2019-03-08 18:51] mushamajay opened #53545 "Ansible file should check the python script whether the word is matching in the file in same directory."
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2019-03-08 19:10] mushamajay commented on #53545
#### My Ansible playbook is searching a word in another file which is in the same directory.

  - name: copying input to another file
    local_action: copy content= "{{ output }}" dest=/var/lib/awx/projects/Netapp-pbk/useropcollection2.txt
    #owner: root
    #group: root
    #mode: 1777
    #remote_src: yes
  - name: search Lunname in outputfile
    script: /var/lib/awx/projects/Netapp-pbk/user

[2019-03-08 19:17] mushamajay opened #53546 "I want to search a word in a file which is in same directory using python script where I call this python script in Ansible. facing errors Please read comments"
My Ansible playbook is searching a word in another file which is in the same directory.
name: copying input to another file
local_action: copy content= "{{ output }}" dest=/var/lib/awx/projects/Netapp-pbk/useropcollection2.txt
#owner: root
#group: root
#mode: 1777
#remote_src: yes
name: search Lunname in outputfile
script: /var/lib/awx/projects/Netapp-pbk/useropcollection.py
owner: root
group: roo

[2019-03-08 19:19] kdelee commented on #49830
@tchellomello after talking to you I see how this is mostly a docs issue, I had conflated ansible groups and host collections (which in my mind were  a type of group)

[2019-03-08 19:20] kdelee commented on #49830
If you are articulate enough to add some docs, I am sure that would be helpful, but for my use case I'm going to close this

[2019-03-08 19:20] #49830 closed, assigned to nobody

[2019-03-08 19:20] nethershaw commented on #51071
It seems the only way to get the latest version of a Lambda function without changing its code, and thus the only way to reliably produce a qualified function ARN that can be used with other AWS services, is to perform some complex JSON shenanigans in combination with the `lambda_facts` module after you create the function with the `lambda` module:

[code]

That's ... needlessly complex, made wors

[2019-03-08 19:57] mkrizek commented on #53134
@evitalis @fofloinn @stephenl03 can you test the above PR if it fixes your issue?

[2019-03-08 20:35] acozine commented on #52011
@dms-cat thanks for the detailed report. You must set `cache_valid_time` explicitly for Ansible to work the way you describe in your expected results section. We've updated the documentation to reflect this.

[2019-03-08 20:35] #52011 closed, assigned to nobody

[2019-03-08 20:36] AlanCoding commented on #53532
one way or the other, I think we'll be able to work around this problem.

[2019-03-08 20:47] sivel commented on #53546
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-08 20:47] #53546 closed, assigned to nobody

[2019-03-08 20:47] sivel commented on #53545
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-08 20:47] #53545 closed, assigned to nobody

[2019-03-08 20:47] dthvt opened #53555 "parse_xml fails w/ nested regex_replace"
##### SUMMARY

Calling regex_replace() filter in the vars section of a parse_xml spec results in an error `TemplateAssertionError: no filter named 'regex_replace'`.

I regretfully don't know the code base well enough to understand why this is occurring.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

parse_xml
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-03-08 20:49] sivel commented on #53530
I don't believe "Shared connection to 172.16.1.4" is the real error.

It appears that running `bash /root/.ansible/tmp/ansible-tmp-1552055355.38-231939299567492/kubeconfig.sh https://172.16.1.240:8443` resulted in an exit code of 1, which caused the task to be marked as failed, but did not appear to output any relevant information to stderr or stdout.

[2019-03-08 20:52] sivel commented on #53555
!component =lib/ansible/plugins/filter/network.py

[2019-03-08 20:52] sivel commented on #53555
!component +lib/ansible/module_utils/network/common/utils.py

[2019-03-08 20:58] #53501 closed, assigned to nobody

[2019-03-08 21:10] samccann opened #53558 "Create a QuickStart guide for Ansible core"
##### SUMMARY

Create  a short quickstart for new users to ansible to get them into creating playbooks, etc.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2019-03-08 21:18] netzvieh opened #53560 "Rename and link or remove playbook_pathing document"
##### SUMMARY

There's a document called [playbook_pathing](https://docs.ansible.com/ansible/devel/user_guide/playbook_pathing.html) that can be found via search, but isn't available via the navigation.

It should either be renamed to `playbooks_pathing` to match all other playbook related files in the `user_guide` directory, possibly updated and then linked in the `User Guide* section of the navi

[2019-03-08 21:30] MarkusTeufelberger commented on #53535
If a user specifies a passphrase, but the key is encrypted with a different one (which includes a `null` cipher and no passphrase - meaning cleartext) failing the execution is the sensible thing to do in every module other than `openssl_privatekey` (which should just generate a new key) in my opinion.

After all, someone is trying to access a resource that is not in the expected state and the modu

[2019-03-08 21:35] #53486 closed, assigned to nobody

[2019-03-08 21:35] tatchiuleung commented on #53486
This is an user error.

[2019-03-08 21:36] ju2wheels commented on #22426
Its implemented as a lookup here: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/subelements.py

Though I havent looked at it to see if its the lookup that needs changing or something else.

[2019-03-08 21:54] wenottingham opened #53562 "ec2: use with normal parameters produces warnings"
##### SUMMARY
Using normal documented parameters with `ec2` produces warnings

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 29

##### STEPS TO REPRODUCE
[code]
ansible-playbook ... -e project_name=blorp -e os_type=rhel7 -e ec2_count=2

##### EXPECTED RESULTS

no warnings

##### ACTUAL RESULTS

[code

[2019-03-08 21:59] wenottingham commented on #53562
Looking at ec2.py, slapping a `type='int'` on the `wait_timeout` and `spot_wait_timeout` parameters, and a `type='list'` on the `count_tag` parameter fixes the warnings.

[2019-03-08 22:15] niklaas commented on #53333
Thinking out loud: Maybe then, there should be some argument to pass to module `package` to tell where to look for the binary?

[2019-03-08 22:15] BarbzYHOOL commented on #23777
Yes, I think it works in blockinfile but not in replace, I haven't verified in blockinfile but I have done it in replace.

I had no error after I followed what Sivel said, but it just resulted in 0 indentation

[2019-03-08 22:17] bcoca commented on #38937
try
[code]

[2019-03-08 22:31] bhairav13 commented on #31804
Hi,
I tested the change (with datastore at a higher level) - it works now, and also without requiring the disk size.  Thank you for fix.

[2019-03-08 23:25] GitHubSachin commented on #41534
Is there any work being done to support PowerShell Constrained Language Mode in future?

[2019-03-09 00:37] GitHubSachin opened #53571 "Support PowerShell Constrained Language Mode"
##### SUMMARY
Ansible should support PowerShell Constrained Language Mode execution for managing windows machines. This is security feature on windows and currently ansible execution fails on machines with constrained mode turned on via group policies.

##### ISSUE TYPE
- Security

##### COMPONENT NAME
ansible/plugins/shell/powershell.py

##### ADDITIONAL INFORMATION
This enables users to create s

[2019-03-09 01:22] stephenl03 commented on #53134
@mkrizek Yes, #53552 resolved the issue in my testing.

[code]

[2019-03-09 01:41] lucasbasquerotto commented on #30411
@pillarsdotnet It seems ansible doesn't support `include_tasks` with `until` (https://github.com/ansible/ansible/issues/17098). How did you make it work in the file [/tasks/again.yml](https://github.com/pillarsdotnet/ansible-watch/blob/master/tasks/again.yml)? (I tested with ansible 2.7.8)

[2019-03-09 04:10] kbreit opened #53575 "Meraki modules do not return information when not changed"
##### SUMMARY
Meraki modules manually check if a change is required. However, if a change isn't required, it doesn't return the current information. In other words, they aren't idempotent to the end user.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2019-03-09 06:12] noname1314 commented on #47905
Hi @abackstrom @ansibot,

Our engineer found a solution here. It is the local connection from Ansible 2.6 was depreciated stated [here](https://www.ansible.com/blog/coming-soon-networking-features-in-ansible-2.5).

[code]

Hence, we changed the connection to network_cli and changed the credential type from Network to Machine in Ansible Tower.

Thank you for your support and sorry for any inconveni

[2019-03-09 06:38] mattclay opened #53582 "Disabled integration test azure_rm_devtestlab"
##### SUMMARY

The `azure_rm_devtestlab` integration tests have been disabled. The `Microsoft.DevTestLab` resource provider has also been disabled in the subscription used by CI.

The changes were made in https://github.com/ansible/ansible/pull/53580.

There were 27 resource groups with names like `lab3dc647e303-myEnvironment-344208` that should not have existed in the Azure subscription used in C

[2019-03-09 06:39] mattclay commented on #53582
cc @zikalino

[2019-03-09 06:40] mattclay commented on #53582
cc @jborean93 @nitzmahone

[2019-03-09 12:42] pillarsdotnet commented on #30411
@lucasbasquerotto  -- I guess it doesn't work as I expected.  Must re-think this.  Thanks.

[2019-03-09 12:46] pillarsdotnet commented on #49448
@samccann Please re-open this issue until the above patch is backported as outlined here:

https://docs.ansible.com/ansible/latest/community/development_process.html#backport-pull-request-process

[2019-03-09 12:52] pillarsdotnet commented on #30411
[This comment](https://github.com/ansible/ansible/issues/46203#issuecomment-443338403) is enlightening:

[2019-03-09 12:57] kbreit opened #53586 "Meraki utility should have a method for assigning org_id"
##### SUMMARY
Most modules do a lookup for `org_id`. This means there is code duplication between modules. The Meraki module utility should have an assign_org_id() method which can be referenced in a single line.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2019-03-09 13:01] pillarsdotnet commented on #30411
So I guess I should convert [loop.yml](https://github.com/pillarsdotnet/ansible-watch/blob/master/tasks/loop.yml) into an action plugin that calls [async_status](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/async_status.py) and [shell](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/shell.py).

[2019-03-09 16:57] antienho opened #53588 "pyopenssl not found in ansible 2.7.8 environment."
Hi,
Please help...

##### COMPONENT NAME
<!--- Write the short name of the module, plugin, task or feature below, use your best guess if unsure --
""pyopenssl is not available even it is been installed in the environment.""

""pyopenssl is not available even it is been installed in the environment.""

Upgrade my windows 10 ubuntu, environment as below..
Linux TableComputer 4.4.0-17763-Microsoft #2

[2019-03-09 16:58] antienho commented on #53588
I will provide any additional information if needed...

Thanks a bunch.

Antien

[2019-03-09 17:44] alexsegura commented on #18955
This should be supported in `postgresql_user` as well.

[2019-03-09 18:01] antienho commented on #53588
Hi,
Please help...

Upgrade my windows 10 ubuntu, environment as below..
Linux TableComputer 4.4.0-17763-Microsoft #253-Microsoft Mon Dec 31 17:49:00 PST 2018 x86_64 x86_64 x86_64 GNU/Linux

ansible --version:
ansible 2.7.8
config file = /etc/ansible/ansible.cfg
configured module search path = [/home/$username@TableComputer:~/ACI$ python --version
Python 3.6.username/.ansible/plugins/modules', u'/

[2019-03-09 18:05] ssbarnea opened #53590 "ansible-doc always returns success exit code, even on total failures"
##### SUMMARY
It seems that the exit code returned by ansible-doc is always zero (success) env it it fails to find module, or it crashes with exception trying to render the documentation for a module.

This is problematic because it prevents using ansible-doc for validating module documentation.

##### ISSUE TYPE
- Feature Request

##### COMPONENT NAME
ansible-doc

##### ANSIBLE VERSION

[code]

#

[2019-03-09 19:01] felixfontein commented on #49909
@geerlingguy the `pull` option of the `docker_image` module corresponds to the `--pull` option of `docker build`. With the difference that for `docker_image`, it is set to `yes` by default. I guess we could change the default, though we'd have to do it in a backwards compatibility preserving way. I.e. we could first add a mechanism which removes the default, and informs the user that currently the

[2019-03-09 19:06] felixfontein commented on #25040
I think this has been solved in #53451. I'm closing this issue because of that. If you disagree, please re-open it.

close_me

[2019-03-09 19:08] felixfontein commented on #20580
This feature is implemented basically with the use of the `force` option (will have a better name in Ansible 2.8).

close_me

[2019-03-09 19:09] felixfontein commented on #19880
@kaikuchn maybe `pull: no` can solve your building problems.

[2019-03-09 19:12] #25040 closed, assigned to nobody

[2019-03-09 19:12] #20580 closed, assigned to nobody

[2019-03-09 19:32] Saurav080596 opened #53591 "Capture Playbook failed message"
Hi,

How to capture failed message of a playbook.
fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "The reason why the play failed!"}

Needed to capture this -
      "msg": "The reason why the play failed!"

Needed to store this and pass to somewhere else using CURL command

[2019-03-09 20:58] jhnlsn commented on #46052
Came across this same situation.  It looks like `-e` does not like yaml string.  If this is not the case, can the docs be adjusted to omit the yaml parsing example?

[2019-03-09 21:01] felixfontein commented on #32038
resolved_by_pr #53593

[2019-03-09 22:28] illogic-al commented on #51474
Just tested on 2.7.8 expecting this to be in. Realized this will land in 2.8.
How do I test this today? Is it in master yet?

[2019-03-09 23:39] #53560 closed, assigned to nobody

[2019-03-10 00:56] torreypjones commented on #50189
I too struggled finding appropriate documentation for a quick "how to" / getting started guide;  so hopefully this helps someone else out there:

first; make sure you meet the pre-requistiites - ii'm using container image williamyeh/ansible:centos7 as my ansible engine/controller;

pre-reqs:
* pip install pyvmomi
* git clone https://github.com/vmware/vsphere-automation-sdk-python.git
[root@d755ce8

[2019-03-10 01:25] kbreit opened #53596 "Meraki modules shouldn't use path concatenation"
##### SUMMARY
Meraki module utility allows for custom parameters to be passed to `construct_path()`. At least two modules (`meraki_mr_l3_firewall` and `meraki_mx_l3_firewall`) use the`+` operator for path generation instead of the module utility functionality. All the modules should use `construct_path()` in full.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki
##### ANSIBLE VERSION

[

[2019-03-10 01:27] kbreit opened #53597 "Meraki modules should properly implement check mode"
##### SUMMARY
Meraki modules should support check mode where possible. It can't support check mode on the API side, but should take a guess at what is returned. This affects the following modules.

###### Check Mode PR Merge Status
- [ ] meraki_network - https://github.com/ansible/ansible/pull/54570
- [ ] meraki_organization - https://github.com/ansible/ansible/pull/54557
- [ ] meraki_ssid
- [x] m

[2019-03-10 01:31] kbreit opened #53598 "Meraki module responses use camel case and not underscores"
##### SUMMARY
Meraki modules respond with data from the Meraki API. However, the modules don't clean up the keys in dictionaries to be consistent with the module parameters and Ansible best practices (underscore spaced). All modules should clean up the responses so instead of `parameterName` it would be `parameter_name`. This would likely break some playbooks.

Documentation should specify the old

[2019-03-10 01:38] Elias481 opened #53599 "Doc./usability issues with ec2_instance module regarding network-interface spec"
##### SUMMARY
The documentation regarding specification of "network" parameter is wrong:
- If specifications for a single network are given directly the "groups" and "subnet_id" are not taken from network spec but only from main configs "security_groups" and "vpc_subnet_id". Parameter "delete_on_termination" not working here.
- The straight forward way of specifying the interface settings below "i

[2019-03-10 01:45] kbreit commented on #51027
This is waiting on #49015 for url encoding support in the URL.

[2019-03-10 02:09] kbreit opened #53600 "meraki_mr_l3_firewall - Integration test shouldn't rely on net_id for network deletion"
##### SUMMARY
The `meraki_mr_l3_firewall` has a cleanup step at the end that is
[code]

This should define `net_name` because if the network creation fails, the deletion will fail. Also, this should be `meraki_network` and not `meraki_ssid`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Meraki_mr_l3_firewall

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-03-10 02:15] kbreit opened #53601 "meraki_switchport - Trunk native VLAN functionality is not reliable"
##### SUMMARY
The `meraki_switchport` has support for native VLANs for trunk ports. However, setting native VLAN isn't clear how it affects the allowed ports. Furthermore, the integration tests need to be updated for it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki_switchport

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUC

[2019-03-10 02:18] jsalatiel opened #53602 "lineinfile module not parsing \n\t correctly"
##### SUMMARY

lineinfile module not parsing \n\t correctly

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Linux Mint 19.1

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Running this playbook more than once should not create duplicates of those lines

##### ACTUAL RESULTS
Each run add 3 more lines to the file

![i

[2019-03-10 03:45] antienho commented on #53588
I believe the root cause is the pyopenssl not available for ansible.. even it seems installed already.
Is there a way to verify the installation?

Thanks

Antien

[2019-03-10 04:20] e-taylor commented on #38781
I can destroy datasets just fine using 2.8.0 on Solaris. Should the Solaris label be removed?

[2019-03-10 04:24] Akasurde commented on #53591
Hi @Saurav080596 !

You can achieve this using `register`, you can read more about register [here](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#registering-variables)
[code]
Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or th

[2019-03-10 04:24] #53591 closed, assigned to Akasurde

[2019-03-10 04:32] rduffner commented on #38781
I'll have to check this behavior again. I don't use Solaris anymore.

[2019-03-10 07:27] wired00 commented on #50024
Grrr this sort of thing REALLY aggravates me with ansible. Why is a breaking change made and it just silently ignores the health check path when no port is supplied???

No mention in documentation. In fact, check the example... because it uses default "/" it would technically work, but is extremely misleading.

`- elb_target_group:
    name: mytargetgroup
    protocol: http
    port: 80
    vpc_id

[2019-03-10 11:03] lucasbasquerotto commented on #30411
@pillarsdotnet I was able to make it work by making a loop in `again.yml` (using range, between 0 and the number of retries) and adding a wait time in `loop.yml` (to _sleep_ in each iteration):

_again.yml:_

[code]

_loop.yml:_

[code]

Just make sure that the number of retries is not too big, otherwise it might return an error about memory or something like that (because ansible will make every

[2019-03-10 13:26] #53588 closed, assigned to nobody

[2019-03-10 13:27] antienho commented on #53588
will re-post with correct format.

[2019-03-10 13:34] Akasurde commented on #53600
!component =lib/ansible/modules/network/meraki/meraki_mr_l3_firewall.py

[2019-03-10 13:37] Akasurde commented on #53170
resolved_by_pr #53465

[2019-03-10 13:40] Akasurde commented on #52896
resolved_by_pr #52917

[2019-03-10 13:51] Akasurde commented on #52082
cc @haroldwongms @nitzmahone @trstringer @yuwzho @xscript @zikalino

[2019-03-10 13:52] Akasurde commented on #52068
cc @haroldwongms @nitzmahone @trstringer @yuwzho @xscript @zikalino

[2019-03-10 14:57] Alexander198961 opened #53604 "GRANT usage REQUIRE SSL is deprecetad for mysql (And will be removed in the next release)"
##### SUMMARY
privileges_grant function isnt working anymore

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mysql_user
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

all oss
I have checked on  5.7.25 mysql and mysql says that grant usage is deprecetad and will be removed in the next release

##### STEPS TO REPRODUCE

1 open https://github.com/ansible/ans

[2019-03-10 15:24] antienho opened #53606 "pyopenssl 19.0.0 installation not working with ansible 2.7.8 ubuntu 18.04"
##### SUMMARY
newly install Ubuntu 18.04.1 LTS in windows 10 environment,

##### ISSUE TYPE
- Bug Report
I hope I am reporting to the correct category, if not please move it out... if when using openssl certs to query (or any access) to ACI, get below error message..

TASK [Query tenants] ***************************************************************************************************
fatal: [AP

[2019-03-10 17:52] RaghavendraP opened #53609 "support for custom kms key for volumes in ec2 module"
##### SUMMARY
I have gone through the ansible code and it seems there is no way of specifying the custom kms key id directly in the volumes attached to instance. Instead the only way I can found is through using ec2_vol module separately. If we can have the support in

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aws:ec2 module

##### ANSIBLE VERSION
ansible 2.7.5
  ansible python module lo

[2019-03-10 18:20] nolte commented on #43405
Hi I think it is not full fixed, at the moment on the devel-branch,
now it is not possible to use a absolut path, look: [terraform.py#L353](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/misc/terraform.py#L353)

[2019-03-10 19:07] #33900 closed, assigned to nobody

[2019-03-10 19:25] anis016 commented on #51858
Hy @Akasurde ! so, I looked into the developer API - [add-a-collector](https://www.logicmonitor.com/support/rpc-api-developers-guide/manage-collectors/add-a-collector/) and collector's description is optional. So, it seems the code is not handling that properly as it should mandatory! is this right?

[2019-03-10 19:27] Elias481 opened #53610 "Make ec2_instance able to create new instance or fail if instance matching filter already found"
##### SUMMARY
It would be fine if the filter in ec2_instance could be used to create new instance if no instance found matching filter criteria and fail otherwise without touching an already running instance.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ec2_instance

##### ADDITIONAL INFORMATION

[2019-03-10 21:21] lucastheisen opened #53612 "Sanity tests fails on code-smell/action-plugin-docs.json"
##### SUMMARY

Running the [sanity tests](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html#sanity-tests) per the provided command:
[code]
Fails regardless of the `MODULE_NAME` chosen
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Any module i tried resulted in the same error, but i am in the process of building a [`bitbucket_webhook`](https://github.c

[2019-03-10 21:27] richlv commented on #52154
Looks like the last commit, mentioned here, adds this feature.
Thank you so much for the module and all the great fixes :)

[2019-03-10 21:39] lucastheisen commented on #53612
+label test

[2019-03-10 23:03] Givo29 opened #53613 "'Powershell is not recognised as internal or external command'"
##### SUMMARY

The playbook works fine the first time but when it is run again I get the error
`'PowerShell' is not recognised as an internal or external command'`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_package

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible server OS:
[code]
Target System:
Microsoft windows 10 Pro
Version: `10.0.17763`

##### STEPS TO REPRODUCE

[2019-03-10 23:07] jborean93 commented on #53613
This is usually the case when the SYSTEM's `PATH` environment variable has been changed and is no longer able to find `PowerShell.exe` in the path. Please verify the PATH environment contains the entry `C:\Windows\System32\WindowsPowerShell\v1.0` in there.

[2019-03-11 00:52] blambo10 commented on #53372
Thanks @Akasurde,
This is great.

One question, i was reading through your PR and noticed this line _"_moId is internal to pyvmomi. _vimid would be visible in the json output."_, I just want to confirm that this relates only to the pyvmomi json, and the ansible module json will remain outputing the managed object id as "_moId"?

[2019-03-11 02:20] kevdogg opened #53616 "ansible-vault encrypt_string --vault-id -- Vault password file not working"
##### SUMMARY
Cant create a password file using the following syntax: ansible-vault encrypt_string --vault-id pass 'pass' --name 'pass'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
MacOs Mojave - Homebrew Ansible install

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I believe a pa

[2019-03-11 02:30] jborean93 commented on #53616
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-11 02:30] #53616 closed, assigned to nobody

[2019-03-11 02:36] Akasurde commented on #53188
@mwaqqas @jedioncrk Could you please check this https://github.com/ansible/ansible/compare/devel...Akasurde:i53188 and let me know if it works for you ? Thanks.

needs_info

[2019-03-11 03:29] antienho commented on #53606
the further study find that
ansible-2.7.8/lib/ansible/module_utils/network/aci/aci.py
line: 43
   43 # Optional, only used for APIC signature-based authentication
   44 try:
   45     from OpenSSL.crypto import FILETYPE_PEM, load_privatekey, sign
   46     HAS_OPENSSL = True
   47 except ImportError:
   48     HAS_OPENSSL = False
......
  120         if self.params['private_key']:
  121

[2019-03-11 03:39] jborean93 commented on #53606
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-11 03:39] #53606 closed, assigned to nobody

[2019-03-11 04:35] 3kami3 commented on #53512
@Akasurde Additional Information.
Is there any information I can get?
* vCenter
    - Version: 6.7.0
    - Build: 9433931

* Run with Python 3.6.8
[code]
* Run with Python 2.7.15
[code]

[2019-03-11 04:48] Akasurde commented on #53512
@3kami3 Could you please ping me on IRC channel #ansible-vmware (akasurde) on irc.freenode.net?

[2019-03-11 05:06] Akasurde commented on #51378
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2019-03-11 05:06] #51378 closed, assigned to nobody

[2019-03-11 06:56] L1ghtman2k opened #53618 "vmware_guest doesn't start virtual machine with force: yes"
##### SUMMARY
When trying to clone pfsense using vmware_guest, the machine fails to poweron even with force function

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
pfsense is deployed from a template and is in powered on state

##### ACTUAL RESULTS
pfsense is deployed, however, fails to powe

[2019-03-11 07:10] Fred-sun commented on #53582
@mattclay Can you help provide more error information? Thanks!

[2019-03-11 07:24] Fred-sun commented on #52068
@zikalino This is a new feature requirement, could you please help to have a look? Thanks!

[2019-03-11 07:40] felixfontein commented on #53193
close_me

[2019-03-11 07:51] yungezz commented on #52082
HI  @just-dimitarslavkov  as the error showed, it's failed due to access denied by Key Vault.
[code]

Have you grant necessary secret policy of the vault to the service principal. You can use azure_rm_keyvault.py to do it.

[2019-03-11 07:52] yungezz commented on #51751
hello @JohnnyRacket  could you pls try above suggestion https://github.com/ansible/ansible/issues/51751#issuecomment-467766586 to see if your issue resolved?

[2019-03-11 08:21] thordreier opened #53619 ""check_mode", ovirt_disk and a new disk throws "HTTP response code is 404""
##### SUMMARY
check_mode does not work with ovirt_disk module when disk doesn't already exist.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ovirt_disk

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expect to not see "HTTP response code is 404" when running ovirt_disk with "check_mode" on nonexis

[2019-03-11 08:27] #53193 closed, assigned to nobody

[2019-03-11 09:09] eleksis opened #53620 "Ovirt_template sub-version"
##### SUMMARY
On gui there is option to create sub-version template, also ovirt_vm module has `template_version` parameter, but ovirt_template lacks this feature.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ovirt_template.py

[2019-03-11 09:19] tomtomvu commented on #50905
Hi there,

Any news on this subject ?

Cheers.
Thomas

[2019-03-11 09:55] Fred-sun commented on #51908
@nitinjain999 Are you still here? Could you help re-install azure SDK and try again? share the test result in here? Thanks!

[2019-03-11 10:14] #41582 closed, assigned to nobody

[2019-03-11 10:16] mwaqqas commented on #53188
@Akasurde Hi. I looked through the commit and it seems sane. How do I check it though? Please bear with me, this is the first time I'm going through this process.

[2019-03-11 10:17] Tomorrow9 commented on #53448
ok: [localhost] => {
    "test_vm": {
        "changed": true,
        "failed": false,
        "instance": {
            "annotation": "",
            "current_snapshot": {
                "creation_time": "2019-03-11T06:42:14.831444+00:00",
                "description": "",
                "id": 1,
                "name": "tools 10.3.5",
                "state": "poweredOff"
            },

[2019-03-11 10:19] Tomorrow9 commented on #53448
Hi, @ralphie02, I had a try on Alpine Linux 3.9 and open-vm-tools 10.3.5, not met this issue. Maybe you can upgrade the open-vm-tools to the latest released version. Thanks.

[2019-03-11 10:22] Akasurde commented on #53188
@mwaqqas No problem. You can follow this doc - [how to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr)

With this change just add following parameter in your existing cloudformation playbook-

[code]
This capabilities depend upon your stack specifications.

[2019-03-11 10:53] ajsiersema commented on #36801
Hope this saves some other people from digging through the sources and inserting debug statements :)

Using the right indentation is important, but at least for NX-OS 7.1 on a 7K over CLI there's another gotcha: Ansible uses show run all and a non-indented 'no hsrp bfd' line will be inserted which throws off the diff. By inserting this line into your Jinja2, idempotency will be restored for the HS

[2019-03-11 10:59] zhangguanzhang commented on #53530
yes，you'are right，is my fault

[2019-03-11 10:59] #53530 closed, assigned to nobody

[2019-03-11 11:23] mwaqqas commented on #53188
@Akasurde It worked. Tested on Ubuntu 18.04.

[2019-03-11 11:31] Tomorrow9 commented on #53618
Hi @L1ghtman2k, I can not reproduce this issue on the FreeBSD VM template, would you please tell us your FreeBSD version and the vSphere version? Thanks.

[2019-03-11 11:33] johncapobianco commented on #36801
Yes but that too doesn’t work as it is a parent nested command and will move you out of the nest

Cisco confirms this is a BUG and fixed in the latest release !!!

Thanks

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Albert Siersema <notifications@github.com>
Sent: Monday, March 11, 2019 6:54 AM
To: ansible/ansible
Cc: johncapobianco; Mention
Subject: Re: [ans

[2019-03-11 12:16] Hount opened #53623 "Ansible galaxy does not obey underlying OS umask"
##### SUMMARY
Ansible-galaxy install -r requirements.yml ends up creating files with umask 002 even though umask 022 is set

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy with git scm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
LSB Version:	:core-4.1-amd64:core-4.1-noarch
Distributor ID:	Fedora
Description:	Fedora release 29 (Twenty Nine

[2019-03-11 12:40] topikettunen commented on #30411
Just stumbled upon this issue when trying to use script module for one of my provisioning scripts. No problem in earlier uses of script module (in the same playbook), but for some reason on this one it hanged forever.

Then I tried changing script module to copying the script to my `/usr/bin/` and then running it with shell module, which worked.

[2019-03-11 12:48] wknapik commented on #53536
Here's a small shell script you can invoke as a workaround https://gist.github.com/wknapik/191619bfa650b8572115cd07197f3baf until this issue is resolved. Seems to be working alright for me.

[2019-03-11 13:40] StephaneBunel commented on #17686
Same issue with ansible 2.7.8

[2019-03-11 13:56] towolf commented on #47838
Please do, this is so messed up.

[2019-03-11 14:11] kiorky opened #53626 "environment key usage is somehow broken with ansible > 2.4"
##### SUMMARY
Consider this [test case](https://github.com/kiorky/ansible_test_cases/blob/master/environmentbug/t.yml)

- In ansible 2.7-,  this would suceed and is the behavior to be expected: an enviromnent argument on a block from playbook up to tasks should set accordingly env vars.
- In ansible 2.7, this fails silently, environment parameter/argument is ignored
- In ansible devel, this fails

[2019-03-11 14:12] misterunknown opened #53627 "ansible_managed variable is not passed to included roles"
##### SUMMARY
If a playbook includes a role which in turn includes subtasks from another role, the ansible_managed variable is not passed. Instead, I get an error:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
I don't have any clue

##### ANSIBLE VERSION
I can reproduce this under  the latest release and the develop version:
[code]
[code]
##### CONFIGURATION
[code]

##### OS / ENVIRO

[2019-03-11 14:16] sivel commented on #53626
This is the expected behavior.  In Ansible 2.5 we made a change described in [Dynamic includes and attribute inheritance](https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#dynamic-includes-and-attribute-inheritance)

This meant that only certain keywords had any effect on `include_tasks` and `include_role`.  Before 2.7 any key that would have no effect was ignored.

In

[2019-03-11 14:16] #53626 closed, assigned to nobody

[2019-03-11 14:17] kiorky commented on #53626
I do not agree, prior to 2.5, the environment setting was not ignored, did you read ?

[2019-03-11 14:18] kiorky commented on #53626
But, yes, i see how to fix with apply ...

Just that it will break compat :(

[2019-03-11 14:18] sivel commented on #53626
Prior to 2.5 it was not.  With the 2.5 release we made a purposeful change that ignored it.  In 2.7 we added further clarification to error.

[2019-03-11 14:21] kiorky commented on #53626
I understand the purpose, but that's really a big/tedious breaking change, maybe can something that parse & transform old keywords (like tags or environment) to the according apply structure be done ?

Even if we all understand that a new release may not be compatible with older change, here this is hard to spot and really hard to maintain setup compatibles amongst ansible versions.

[2019-03-11 14:23] samccann commented on #49448
Hi @pillarsdotnet - Opened a backport PR #53628.  The issue is closed automatically by github.

[2019-03-11 14:25] L1ghtman2k commented on #53618
pFsense: 2.4.3
FreeBDF: 11.1-RELEASE-p7

[2019-03-11 14:30] fbecker opened #53630 "VMware: vmware_guest_custom_attribute_defs removes custom host attributes with state: absent"
##### SUMMARY

The module vmware_guest_custom_attribute_defs does not check for the type of the custom attribute to remove. It just checks if any custom attribute with the specified name exists and removes it.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_custom_attribute_defs

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

vSphere 6.5

##### STEPS TO REPRODUCE

Create

[2019-03-11 14:31] sivel commented on #53627
The `ansible_managed` variable can only be used from a template file by means of the `template` module or the `template` lookup (`lookup('file', ...)`).

The `ansible_managed` variable is not accessible to any other means of templating or variable evaluation.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://gr

[2019-03-11 14:31] #53627 closed, assigned to nobody

[2019-03-11 14:38] #35906 closed, assigned to nobody

[2019-03-11 14:41] kiorky commented on #53626
To sum up, for all those falling here

To port include_tasks including keywords from 2.4 to upper release, you can either use "apply" or "block wrapping". The second form is retro compatbile

2.4
[code]

2.5+
[code]

[2019-03-11 14:46] bcoca commented on #51474
we don't have a master branch, what you are looking for is 'devel' https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#running-from-source

[2019-03-11 14:47] alongchamps commented on #51240
At the moment I have this functional, now I need to work on testing it through all the various combinations.

[2019-03-11 14:54] #53619 closed, assigned to nobody

[2019-03-11 14:59] samdoran commented on #53602
This not a bug. `lineinfile` matches against lines, not across lines. The example playbook is looking for the line `Match Address 10.10.0.0/16\n\tPasswordAuthentication yes`, which will never match since the lines in the file are split on line breaks. Since no match is found, the line is inserted, containing the newline and tab. `blockinfile` is better suited to managing multi-line insertions.

Fo

[2019-03-11 14:59] #53602 closed, assigned to nobody

[2019-03-11 15:07] gclough commented on #12710
@ypid , I was happy to find this... but then sad to find out it was cancelled. :-(

I too want parts of my role to show "ok" when they are skipped (because I know they are OK), rather than showing "skipped".

+1 to reopen this.

[2019-03-11 15:16] dagwieers commented on #53459
Is this a regression (i.e. did it work with earlier releases) ?

[2019-03-11 15:17] misterunknown commented on #53627
Thanks for the explanation. I experienced the problem with the `copy` module in the first place, where I defined the `content` directly. I switched to the template module, now it works.

[2019-03-11 15:29] tiraboschi commented on #53459
Yes, it's working as expected in 2.7.z: I think it has been introduced here https://github.com/ansible/ansible/pull/28662/files#diff-08db906cc1b77bbca8b05466314d1e01R836

Also on the examples on https://docs.ansible.com/ansible/latest/modules/xml_module.html
we have

[code]

that now is going to fail since now we are enforcing a check for 'value' when we have 'attribute' while 'value' (to write th

[2019-03-11 15:32] dbarreda opened #53635 "ansible_uptime_seconds for Solaris 10 and Solaris 11 hosts"
##### SUMMARY
Uptime reports incorrectly on Solaris

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/system/gather_facts.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ansible running on RHEL7.
Target host: Solaris 10

##### STEPS TO REPRODUCE
Just doing setup (gather fact) to Solaris host.

##### EXPECTED RESULTS
(/)# uptime
 11:28am

[2019-03-11 15:49] antienho commented on #53606
Jordan,
Thanks.. don't know these details. I will move to that user group now.
Antien
    On Sunday, March 10, 2019, 11:39:58 PM EDT, Jordan Borean <notifications@github.com> wrote:

Closed #53606.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-03-11 15:52] apus-one commented on #29493
I also still have this problem occurring as well. I have identitical symptoms. Trying to register a RHEL 7 system. March 11, 2019.  Without idempotency limits the usefulness considerably.

Found out subscription-manager clean or refresh resolves the issue.  Looks like the equivalent of a subscription-manager clean is needed (I removed the server from the portal, and local cached data on the host c

[2019-03-11 15:54] apus-one commented on #29493
I also still have this problem occurring as well. I have identitical symptoms. Trying to register a RHEL 7 system. March 11, 2019. Without idempotency limits the usefulness considerably.

Found out subscription-manager clean or refresh resolves the issue. Looks like the equivalent of a subscription-manager clean is needed (I removed the server from the portal, and local cached data on the host con

[2019-03-11 16:03] pcmsoares commented on #52337
I had the same problem! The solution was keep generating secrets at Azure portal until the generated password did not contain the characters '+' and '='. Then the playbook worked.

[2019-03-11 16:51] lucastheisen commented on #53612
Thanks @marwatk , that was it.  Switching to WSL folder (where perms are maintained) works.  That just means I can't use a windows based IDE to edit the files until we get [the `plan9` enabled windows update (1903)](https://blogs.msdn.microsoft.com/commandline/2019/02/15/whats-new-for-wsl-in-windows-10-version-1903/).

[2019-03-11 16:51] #53612 closed, assigned to nobody

[2019-03-11 16:53] sivel commented on #53623
This appears to be due behavior of `TarFile.extract`.

`git archive` seems to change the perms of a file with `0644` to `0664` (I haven't looked into why), and then `TarFile.extract` has a default value of `set_attrs=True` which will set the attrs of the file in the archive, to the extracted file.  `set_attrs=False` will not do this, and will respect the configured `umask`.

[2019-03-11 16:57] abedwardsw commented on #24035
I also am randomly running into this issue.  Checking the /var/log/secure etc doesn't show anything helpful.  Would it be possible to possibly augment the error handling, for example if it's waiting for some type of prompt and doesn't match it, could it print out any type of information it received back that might help in debugging/troubleshooting?   As this happens randomly I don't think it's sui

[2019-03-11 17:13] sivel commented on #53623
It seems that `git archive` does this by means of the following configuration:

[code]

[2019-03-11 17:23] rambleraptor commented on #47499
Hello! According to https://github.com/ansible/ansible/blob/86ba4f3e469de56158301ff1b4a68138f09ab1c2/lib/ansible/module_utils/gcp_utils.py#L203, this should be fixed on HEAD currently. Let me know if you still see this issue!

[2019-03-11 17:32] goneri commented on #49371
Hi @philfry, could you try https://github.com/ansible/ansible/pull/53644?

[2019-03-11 17:47] mariolenz commented on #53618
vSphere 5.5 is dead:

[End of General Support for vSphere 5.5](https://kb.vmware.com/kb/51491)

I think that the Working Group for VMware needs a policy what vSphere versions they support... and, personally, I wouldn't support 5.5 any more.

[2019-03-11 17:53] L1ghtman2k commented on #53618
Got it... We are upgrading soon anyway, so I will test it out then. I just found it wired that 2 modules in my "workaround" are not behaving in a same manner

Thanks!

[2019-03-11 18:12] AlanCoding opened #53647 "RFE: A more compact way to do groupings of groups"
##### SUMMARY
I want to nest AWS availability zones under regions

I have some syntax that works for this, but it scales with `O(N)`, where N is the number of regions, and it is very hacky.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
aws_ec2 inventory plugin

##### ADDITIONAL INFORMATION
The structure I seek to replicate:

[code]

(this is just a snippet from the `ansible-inventory` out

[2019-03-11 18:21] AlanCoding commented on #53647
Ping @s-hertel, who has been directly working with compatibility content. Link https://github.com/ansible/ansible/issues/53647

[2019-03-11 18:24] AlanCoding commented on #53647
Spitballing...

[code]

That format could maybe work if the `parent_group` added some sort of templating functionality. Right now the parent group just takes a static string to be the name of the parent group. This implementation would still differ from the `key` entry, because you don't put the `{{ }}` in that case. Anyway, that's getting very far out of my expertise.

[2019-03-11 18:33] samdoran commented on #15096
@AlexDyukov Can you test with #53563 to see if that works properly for you? I feel that fixes CoreOS distribution parsing completely.

[2019-03-11 18:44] s-hertel commented on #53647
@AlanCoding I made a possible solution here https://github.com/ansible/ansible/pull/53649. I'm a little unsure of the right way to do it to keep literal strings working along with variables, so it probably needs some tweaking, like only ignoring specific exceptions.

[2019-03-11 18:57] dbarreda commented on #53635
The issue on Solaris 11 also happens.
From gather facts:
"ansible_system": "SunOS", "ansible_uptime_seconds": **1925129**

$ kstat -p unix:0:system_misc:snaptime | cut -f2 | cut -d "." -f1
1925653

**1925653 seconds to days 22.28765046**

$ uptime
  2:55pm  up 15 day(s), 19 min(s),  2 users,  load average: 20.03, 19.38, 19.40

[2019-03-11 18:57] AlanCoding commented on #53647
That's why I hesitated making an attempt on my own.

I am already making use of the `parent_group` key to create groups like "tags" and "zones". I don't see how I would continue to make those after that change (if I read correctly, I have not yet tested).

Example:

[code]

The `parent_group` feature has still not be released, so it's fine to break the above use case if some other way to do the sa

[2019-03-11 19:00] AlanCoding commented on #53647
Also, I should note that zones are a very special case. A single zone, for instance, `us-east-2a` has 2 direct parents. One parent is literally `zones`, and the other parent is `us-east-2`. Then the group `us-east-2` has a parent of `regions`. In this way, `regions` is a grandparent group of `us-east-2a`.

To do these 2 forms of groupings, we can have 2 entries in keyed_groups related to zones. No

[2019-03-11 19:00] bcoca commented on #53647
quoting won't help, the reason we require explicit {{ }} in most cases is to disambiguate strings from variables, otherwise you might get a misspelled variable as a string (since its undefined it MUST/might? be a  string).

[2019-03-11 19:04] 5t4rdu5t opened #53650 "VMware: Add better examples for vmware_deploy_ovf / properties key/values"
##### SUMMARY
No error, but no VM created

##### ISSUE TYPE
- feature request

##### COMPONENT NAME
vmware_deploy_ovf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

debian9

##### STEPS TO REPRODUCE

Run the playbook

[code]

##### EXPECTED RESULTS

I expect to set the disksize, the doc said to put key/values from the ovf : I have:

     <Disk ovf:capacity="8"

[2019-03-11 19:08] AlanCoding commented on #53647
Oh, so then is the expectation that

[code]

will continue to work with #53649? If that's the case then I should test it.

Assuming that is the case, the only thing I would worry about is "tags" which is both the name of a root group and the name of a key in hostvars. I would need some sort of solution for that oddball case.

[2019-03-11 19:37] acozine commented on #41488
Thanks again @torvitas for reporting this issue. For now we are monitoring traffic reports to see if search results are pointing users to other URLs with double slashes. If you see this problem again for other search terms, please open another issue with details!

[2019-03-11 19:37] #41488 closed, assigned to acozine

[2019-03-11 20:02] s-hertel commented on #53647
@AlanCoding I've updated my PR so variables are distinguished by {{ }}. Without brackets the parent group is used as a string.

[2019-03-11 20:14] AlanCoding commented on #53647
That PR looks awesome.

It may not be until be tomorrow morning when I get around to drafting the combined use cases and testing them in conjunction with that diff.

[2019-03-11 20:29] ikhan2010 commented on #50494
@rcarrillocruz is that something you can look at?

[2019-03-11 20:32] ikhan2010 commented on #50635
@mikewiebe  @trishnaguha Do you have any idea about what might be causing this?

[2019-03-11 20:34] ikhan2010 commented on #47067
Closing issue due to no response.

[2019-03-11 20:34] #47067 closed, assigned to justjais

[2019-03-11 20:42] webknjaz opened #53658 "Use compat shim for importing collections throughout the codebase"
##### SUMMARY

Not for this PR but seeing this, I realize that someone will need to audit our code and rename all imports of these base abcs for compatibility with Python-3.8+ https://docs.python.org/3/library/collections.html#module-collections

[code]

@webknjaz you wrote `_compat_collections` (and are watching to see if it makes it into `six`) so perhaps you're the logical choice to make this c

[2019-03-11 20:58] #47108 closed, assigned to nobody

[2019-03-11 21:03] ralphie02 commented on #53448
I've indicated that I'm using Alpine 3.7 because this is my current requirement

[2019-03-11 21:13] felixfontein opened #53663 "ACME modules: update documentation to mention the RFC!"
##### SUMMARY
[RFC 8555](https://www.rfc-editor.org/rfc/rfc8555.txt), the finalized ACME draft, has just been released! \o/

Update the documentation and all comments to reference this RFC (when not talking about ACME v1 or other earlier draft versions).

Will work on this tomorrow!

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
lib/ansible/module_utils/acme.py
acme_account_facts
a

[2019-03-11 21:19] dagwieers commented on #45191
@DerrickTJ Your example can be written in YAML syntax and merged into a single action:
[code]

[2019-03-11 21:40] acozine opened #53665 "Become plugins list missing some values"
##### SUMMARY
The [list of `become` plugins in the devel docs](https://docs.ansible.com/ansible/devel/plugins/become.html) is incomplete. It should list all the plugins from the [become plugins directory](https://github.com/ansible/ansible/tree/devel/lib/ansible/plugins/become).

We thought we'd fixed this with #53314. The fix seems to be working locally, but it's still not publishing correctly, e

[2019-03-11 21:57] johnboy2 commented on #47838
The Python devs made their change for the sake of consistency, including consistency "with other RE engines" [(source)](https://bugs.python.org/issue32308#msg308229). I looked into that, and found that statement to be _mostly_ true --- meaning that, if I rewrite the same logic basic as the repro at top in PHP7, PowerShell, or C++11's `std::regex`, then I get output that aligns with the new behavio

[2019-03-11 22:00] GitHubSachin commented on #53571
After going through the source of powershell.py and winrm connection plugin, My thought is that one way to implement this feature is making the entrypoint script parameterized when using powershell.
For example today when a module is executed on remote machine, the module powershell code is wrapped under a dynamically generated powershell script in a variable called exec_wrapper. We can make this

[2019-03-11 22:12] #45709 closed, assigned to nobody

[2019-03-11 22:25] kendrew71 commented on #51124
I'm having a problem that I think is related to this, but I hoped I could bring it up here before opening a new issue to see if that's needed.

When creating a VM by cloning a template with vmware_guest, the first VM cloned from the template gets the same MAC address as the template. This seems to be new behavior with vSphere 6.7u1 (even 6.7 before u1 doesn't do this).

I bring this up on this thr

[2019-03-11 22:36] nolte commented on #51687
Hi, I have the same problems, with ansible 2.7, and the current devel branch.

i think the problem is [terraform.py#L329](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/misc/terraform.py#L329) this creates a terraform var like

[code]
with a single ```'``` quote.
for terraform it is important that it will be a double quote ```"```.

[2019-03-11 22:47] jborean93 commented on #53571
Repeating ourselves here https://github.com/ansible/ansible/issues/41534. Our support for constrained language mode in PowerShell has not changed and will unlikely change in the near future. In saying that it would be nice if we could support it but I honestly do not see how we can possibly work in this mode today without a big change to the way modules are executed.

The root of the issue is that

[2019-03-11 22:47] #53571 closed, assigned to nobody

[2019-03-11 23:02] smemsh commented on #19084
Great, so now we've permanently declared `include_role` as a "special" tasks which works differently than other tasks, that take variables in vars just fine (eg `debug`).  Even the people making the tests know it's broken, as in:
https://github.com/ansible/ansible/blob/cf6c7658714402ff320e111d268fb688d23ae0b0/test/integration/targets/include_import/role/test_include_role.yml#L99-L105

It says FIXM

[2019-03-11 23:27] davidmnoriega opened #53668 "Custom modules shipped via role are not found without setting library in ansible.cfg"
##### SUMMARY

Custom modules that are shipped via a role are not automatically found as the documentation explains. I must set `library=path/to/role/library` and `module_utils` for the module to be found.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

custom module loader

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRO

[2019-03-11 23:31] acozine commented on #53665
This was caused by a problem with the Jenkins job. Fixed now.

[2019-03-11 23:31] #53665 closed, assigned to nobody

[2019-03-12 01:48] PikachuEXE commented on #51042
Any update on this issue?
Will this be fixed?

[2019-03-12 02:13] #32027 closed, assigned to nobody

[2019-03-12 02:14] yuwzho commented on #52068
!component =lib/ansible/cloud/azure/azure_rm_containerregistry.py

Do you mean ACR geo-replication instead of ACS geo-replication?

[2019-03-12 02:58] Tomorrow9 commented on #53448
Yeah, guest info is retrieved from open-vm-tools, if IP address of guest got from OVT is unset, OVT is not running or not installed, or OVT can not get the IP address correctly. You can take a look at the result of this command executed on ESXi host:
vim-cmd vmsvc/getallvms -----> get the vmid of your VM
vim-cmd vmsvc/get.guest vmid -----> to see if "ipAddress" value is set in the output

[2019-03-12 03:01] Akasurde commented on #53188
@jedioncrk @mwaqqas  Thanks for reporting back.

[2019-03-12 03:02] Akasurde commented on #53630
@fbecker Thanks for reporting and providing PR for this issue.

[2019-03-12 03:02] Akasurde commented on #53630
resolved_by_pr #53632

[2019-03-12 03:04] Akasurde commented on #53650
@5t4rdu5t Thanks for the reporting issue.

[2019-03-12 03:15] yuwzho commented on #52068
!component =lib/ansible/modules/cloud/azure/azure_rm_containerregistry.py

[2019-03-12 03:16] Tomorrow9 commented on #51893
Hi @Akasurde, I can take a look at this issue. Thanks.

[2019-03-12 04:55] kupi93 commented on #36956
I've experienced this too. I think this seems to be also a bug.

[2019-03-12 04:58] Akasurde commented on #51660
@ETSJustin Just curious, I would like ask the use case behind running `test_1` role before `test_3` when `test_1` is already dependency of `test_3`.

[2019-03-12 05:43] felixfontein commented on #53663
HTML version: https://tools.ietf.org/html/rfc8555

[2019-03-12 06:01] NilashishC commented on #51551
@bugreports27 Could you please try to patch in #53111 and confirm if it works for you? Thanks.

[2019-03-12 06:17] Zorrom commented on #51221
Hi @Tomorrow9,
      Yes I created a template without network adapter and now I can spin a VM with my choosen network adapter and manually provided MAC. It will be good if the requirements of templates are also posted on vmware_guest module documentation. Closing this issue and thanks for your help

[2019-03-12 06:17] #51221 closed, assigned to nobody

[2019-03-12 06:48] Fred-sun commented on #46440
@zikalino Please help closed this issue when you're available! Thanks!

[2019-03-12 07:01] Fred-sun commented on #43416
ping

[2019-03-12 07:17] inderpreetaps commented on #25067
I know its old thread but I am facing similar issue, I do have private_zone: True but still getting this error. Any other idea to resolve this please.

[2019-03-12 09:04] towolf commented on #47838
Look, an Ansible user doesn't care about these subtleties. The manifest fact is that Ansible version foo.bar.baz behaves differently depending on where the package came from, and whether it is running under py2 or py3.

This sentence is crazy:

So, now working playbooks break because of a subtlety and breakage can occur on an ongoing basis, because nobody will be aware of this, and Ansible support

[2019-03-12 09:08] philfry commented on #49371
looks good and works fine for me, thanks!

[2019-03-12 09:15] ScarabMonkey commented on #43159
I've had to make a complex playbook to sort out this mess - might be useful for anyone using multipath and the default centos lvm.conf (which prefers /dev/mapper/mpath devices)
It's a bit slow and a bit hacky - but at least it makes this version of lvg idempotent.

Still , it would be great if this module would assume the correct defaults and not blithely use the 'realpath' devices (perhaps that i

[2019-03-12 09:48] hryamzik commented on #47838
I've faced this behaviour on a tested playbook during some production malfunction, not a best point in time to meet new regex standards. People don't care what's under the bonnet, just keep things backward compatible if that's not some kind of bug.

Different behaviour of the same version of ansible under different python versions is a huge mess.

[2019-03-12 10:06] torvitas commented on #41488
Don't mention it. :)

[2019-03-12 10:48] dirks opened #53675 "proxmox_kvm cpuunits default deviates from upstream default"
##### SUMMARY
Default value for 'cpuunits' in proxmox_kvm deviates from proxmox default. According to the [Proxmox documentation](https://pve.proxmox.com/pve-docs/chapter-qm.html#qm_cpu) the default for cpuunits is 1024. The module proxmox_kvm uses 10000 as default value.

'cpuunits' is a relative number, such a mix of ansible proxmox_kvm managed vms and vms managed via other means (e.g. proxmox w

[2019-03-12 10:52] jengell opened #53676 "haproxy: status verification fails when using track"
##### SUMMARY
When haproxy is configured to track the status of a server using a server in another backend it will not report all status as expected. This causes problems when using 'wait: yes' as the status is not as expected.

The CSV will output the server status in the following way:
MAINT: MAINT (via pxname/svname)
UP: UP
DOWN: DOWN

Haproxy doc on trach: https://cbonte.github.io/haproxy-dcon

[2019-03-12 11:43] AlanCoding commented on #24547
That linked PR was merged, so this issue should be closed? What's the bot command for that?

[2019-03-12 11:43] AlanCoding commented on #24547
bug_resolved

[2019-03-12 11:44] AlanCoding commented on #32274
I read the linked PR and it said the bug was resolved by another merged fix

[2019-03-12 11:44] AlanCoding commented on #32274
bug_resolved

[2019-03-12 11:50] #32274 closed, assigned to nobody

[2019-03-12 11:50] #24547 closed, assigned to nobody

[2019-03-12 12:56] ac-hibbert opened #53680 "ec2_launch_template - 'network-interface' is not a valid taggable resource type for RunInstances"
##### SUMMARY

I am using tags here and it is tagging instance, network-interface and volume. Network-interface seems to be an incompatible tagging type for RunInstances, I get the following error:-

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_launch_template

##### ANSIBLE VERSION

Using this from devel and imported to Library in my role

##### CONFIGURATION

[code]

##### OS

[2019-03-12 13:10] abenokraitis opened #53681 "Creation of top-level network developer page"
##### SUMMARY

In order to scale out the developer experience for Ansible Network Automation, I'd like to request a top-level page linking from the following:
https://docs.ansible.com/ansible/latest/dev_guide/index.html

Under ```I'm ready to start developing``` section please add ```I want to write a network module.```

The ultimate goal here is to provide a one-stop for network-related developme

[2019-03-12 13:11] abenokraitis commented on #53681
@rcarrillocruz @ikhan2010 @IPvSean for awareness and assistance.

[2019-03-12 13:23] bcoca commented on #51042
There are conflicting requirements here, as it was a requested feature that we DO NOT display the task header if all hosts are skipped, which we cannot determine until the task 'returns' ... which is how we know if it was skipped or not.

[2019-03-12 13:25] bcoca commented on #53668
ansible-doc does not know about roles, that is why it has -m option to point to directories not in the general configuration.

[2019-03-12 14:09] abenokraitis commented on #53681
Sounds like @Qalthos has a draft for `httpapi` already which is awesome. Would be great to have the same for `network_cli` as well.

[2019-03-12 14:27] 5t4rdu5t commented on #53650
Anyone can provide more in depth examples, I will fork/pull request the changes

[2019-03-12 14:43] ecksun commented on #51068
I'm seeing the same thing, as additional information this is the output of the task:

[code]

[2019-03-12 14:53] Dejan992 opened #53686 "Running commands with ansible playbook within virtualenv"
I am trying to create playbook for Security Monkey automatization.
What I want to achieve is to run command ```monkey db upgrade``` and few others within the virtualenv that I created earlier.
If i try to use
pip:
   name: monkey db upgrade
   virtualenv: /path/to/env/

it's giving me error that monkey is not found.
When i try to run that in a shell command with ```source env/bin/activate``` first

[2019-03-12 15:11] sivel commented on #53686
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-12 15:11] #53686 closed, assigned to nobody

[2019-03-12 15:21] c13 opened #53689 "'slack' callback plugin error 404"
##### SUMMARY

ansible-playbook with slack module produces an error
`[WARNING]: Could not submit message to Slack: HTTP Error 404: Not Found`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

slack.CallbackModule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04.1 LTS bionic

##### STEPS TO REPRODUCE

I have exported valid slack webhook url, then

[2019-03-12 15:41] #53487 closed, assigned to nobody

[2019-03-12 16:04] mattclay commented on #53658
Wasn't this already taken care of by https://github.com/ansible/ansible/pull/46557 ?

[2019-03-12 16:06] fayaaz commented on #52324
I've had the same issue as well, so I've filled in some of the bug report.
I am trying to use a Resource Policy to restrict access to an endpoint.  Ideally I'd like to be able to update the Resource Policy at the same time as deploying the API gateway

[2019-03-12 16:30] gstorme commented on #52471
How was the route added originally?
I can only reproduce this when the route was added manually using the `route` Windows command, and when skipping some of the parameters that the `win_route` module uses (metric, IF).

When the route is added with ansible, or the `New-NetRoute` PS cmdlet, or with the correct parameters using the route command, this does not occur and the result is as expected.
I

[2019-03-12 16:31] hibbert commented on #53680
Looks like PR https://github.com/ansible/ansible/pull/53432/files may fix

[2019-03-12 16:37] balonik commented on #43712
@grzesart1978 afaik the 'vlan' must be an integer. if you want to specify existing port group use 'name' instead.

[2019-03-12 16:42] balonik opened #53693 "VMware: Cross-vCenter vm/template clone"
##### SUMMARY

It would be great to have module or functionality added to some existing module that could clone vm or template to a linked (or other) vCenter.
Googling around this should be available in pyvmomi already: https://github.com/vmware/pyvmomi/issues/490

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest
or new module

##### ADDITIONAL INFORMATION

[code]

[2019-03-12 17:19] davidmnoriega commented on #53668
Besides a utility shipped with ansible being unaware of roles, there is still the issue of custom modules not working without setting library(and in my case as well as module_utils) in ansible.cfg.

[2019-03-12 17:21] sivel commented on #53668
custom modules and module_utils work fine within a playbook, as long as the playbook has the role listed in it.

If the role is not listed, the playbook has no knowledge of the role.  When using `ansible` and `ansible-doc` they have no knowledge of roles at all, because they are a playbook construct, and neither utilize a playbook.

[2019-03-12 17:22] sivel commented on #53689
!component =lib/ansible/plugins/callback/slack.py

[2019-03-12 17:40] asandeep commented on #39684
I am facing similar issue. I moved some tasks to a common role that I want to import in other roles and execute it there with variables defined in those roles. However, when I do that, all the variabled defined in different roles are merged together (overriding values if keys are same), instead of just using the varialbes defined in role's context.
Not sure how to get around with this. Is this the

[2019-03-12 17:41] #53134 closed, assigned to maxamillion

[2019-03-12 17:47] bobf commented on #52598
In case this is helpful for anyone, I used this `sed` command to hack the `ansible-playbook` script:
[code]

I run Ansible in a Docker container with `virtualenv` so this may not be ideal for your setup; in my instance I don't care if I trash system application code.

[2019-03-12 17:51] davidmnoriega commented on #53668
Oh, I did not know that. Is that requirement somewhere in the docs, I can't find such a statement?

[2019-03-12 17:58] grzesart1978 commented on #43712
@balonik yes it's true but it's work in the earlier version, but now I use "network" and everything work fine. So I think it was just bug.
Thank you all

[2019-03-12 17:58] #43712 closed, assigned to Akasurde

[2019-03-12 18:03] sivel commented on #53668
I'm not sure we have anything explicitly stating that you need to list the role in a playbook for it to work.  But in order to utilize a role, you have to list it in a playbook, regardless of what functionality of the role you are using.

[2019-03-12 18:08] ralphie02 commented on #53448
I don't have access to the ESXi host BUT I did mention that OVT seem to be getting the correct IP when it's displayed in vCenter as per my screenshot:
![image](https://user-images.githubusercontent.com/3424736/53950502-29566f00-4081-11e9-9723-c04701df8433.png)

This is also why I initially created this ticket because OVT seems to be able to get the IP but vmware_guest module seem to miss it so the

[2019-03-12 18:38] davidmnoriega commented on #53668
Well in this case my role is just a collection of modules, no tasks. I can indeed confirm using `import_role` lets me use my modules without setting `library` or `module_utils` in ansiblle.cfg. I'm going to close this out since it isn't an actual bug, but I hope a note could be added to the documentation about this requirement. Well I guess not a requirement but an understanding that setting `role

[2019-03-12 18:38] #53668 closed, assigned to nobody

[2019-03-12 19:30] sivel commented on #48790
We did eventually find that the conclusion was incorrect about only supporting a single checksum in the file.

There was overzealous exception handling that was obscuring the actual issue.

As such, this has been fixed in https://github.com/ansible/ansible/pull/53685 and a backport for 2.7 has been submitted as well.

[2019-03-12 19:49] yanivezrach opened #53700 "ec2_ami_facts does not work properly where the filters/name has spaces"
Hi,

When using the module ec2_ami_facts to retrieve the latest AMI ID using "AMI name" in the filters part where the name has _spaces_ it does not find the AMI.

##### ANSIBLE VERSION
ansible 2.7.8

##### OS / ENVIRONMENT
Centos 7
##### STEPS TO REPRODUCE

###Does not work###
[code]
The return error:
"The error was: No last item, sequence was empty"

###Works###
[code]
Thanks,
Yaniv

[2019-03-12 19:49] markmasl commented on #51174
Have encountered same problem with very similar setup as @Tahvok had.
**Ansible version**:
[code]
So, in addition to stated above by @Tahvok I should say that gcp_compute_instance is not idempotent. After second run task shows that it has changed.
[code]

[2019-03-12 20:07] mikewiebe commented on #52206
@trishnaguha I did a bit more debugging today on this issue and discovered that the problem does appear to only impact connection `local`.

When the following code is hit for connection `local`

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/nxos.py#L59

`persistent_command_timeout` and `persistent_connect_timeout` are not defined even though they are set as environment v

[2019-03-12 20:15] mikewiebe commented on #52206
@Kloperations I commented about about the problem with connection `local`.  If you switch to connection `network_cli` instead you should not see this problem.

[2019-03-12 20:19] #17078 closed, assigned to abadger

[2019-03-12 20:23] mikewiebe commented on #52206
@trishnaguha This also impacts connection `nxapi`.

[code]

[2019-03-12 20:31] mikewiebe commented on #52206
@trishnaguha Looks like this is the change that modified the behavior.  https://github.com/ansible/ansible/commit/a1ea7e430ab3a80b5d662cb91c97b656734c5747#diff-f019c32649234a05f000231a9f9b0d30L58

[2019-03-12 20:44] AlanCoding opened #53703 "Openstack inventory plugin errors due to group special characters"
##### SUMMARY
If using the openstack inventory plugin with the setting to transform invalid characters set to "always", then it errors for me.

This probably only happens when you have tags or groups or something with periods or dashes in them in your openstack infra.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openstack inventory plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[2019-03-12 20:46] ezmac commented on #51122
ECS tagging only affects task, service, and container instance.  It does not affect task definitions, etc.  ECS tagging depends on the account-settings (task, service, containerInstance)LongArnFormat being enabled.  Feature was added to botocore about 1.12.60 (I think).  Account setting can be a default (inherited from root account) or specific to the account creating the resource.

I haven't touc

[2019-03-12 21:26] mattclay opened #53707 "Failing integration test azure_rm_keyvault"
##### SUMMARY

Failing integration test azure_rm_keyvault:

https://app.shippable.com/github/ansible/ansible/runs/113489/93/tests

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_keyvault integration test

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

`ansible-test integration azure_rm_keyvault --docker -v --allow-disabl

[2019-03-12 21:29] mattclay commented on #53707
The test has been disabled in devel via https://github.com/ansible/ansible/pull/53706

[2019-03-12 21:37] stkac opened #53708 "luks_device error: Error while creating LUKS on /dev/sda3: Failed to open key file.\n"
I ben created the **keyfile: "/group_vars/keyfile"** I get the error about Failed to open key file.

`ansible-vault create group_vars/keyfile`

### structure tree
[code]

Someone know how fix it?

Thanks in advance,

[2019-03-12 22:02] stkac commented on #53708
@ansibot

**ansible version**

[code]

[2019-03-12 22:02] sliddjur commented on #37262
@abshaheen its working for me. did you export variable? can you verify with `ansible-config dump`

[2019-03-12 22:18] felixfontein commented on #53708
Is the keyfile available on the remote machine? Or do you execute the module on `localhost`?

[2019-03-12 22:18] #52910 closed, assigned to nobody

[2019-03-12 22:23] bcoca commented on #40581
closing via #53458

[2019-03-12 22:23] #40581 closed, assigned to nobody

[2019-03-12 22:29] bcoca commented on #53460
closed via #53458

[2019-03-12 22:29] #53460 closed, assigned to nobody

[2019-03-12 22:44] igoratencompass commented on #48470
For me even this is not working in 2.4.4:

In `group_vars/ami_builder.yml` file I have:

`ami_name: "TOMCAT-BASE-AMI"`

Then a playbook as such:
[code]
and what I get is that the variable in `vars` is not overriding the same var pulled via `vars_files`. This was definitely working in previous versions.

[2019-03-12 22:47] agayon commented on #53426
Somebody able to confirm this mis-behaviour of what has been described ? This really is a blocking point, lxd_container ansible module can't be used in a LXD cluster environement.

[2019-03-12 23:12] ThomasUllrich666 opened #53712 "win_domain_controller Documentation question"
I have two problems/questions regarding the current ansible Documentation:
(https://docs.ansible.com/ansible/latest/modules/win_domain_controller_module.html)

1. domain_admin_password and domain_admin_username
I assume that if I set these parameter of the first windows domain controller in my environment, that these parameter are used as the domain admin user and the domain password.
But this did

[2019-03-12 23:21] grossws opened #53713 "Infinite recursion in `maven_artifact` if `dest` is one-segment non-existent path"
##### SUMMARY
`maven_artifact` has infinite recursion in `split_pre_existing_dir` if only one segment simple one-segment relative path passed to is doesn't exists yet.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
maven_artifact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Arch Linux, python 3.7.2

##### STEPS TO REPRODUCE
Run `ansible localhost -m maven

[2019-03-13 00:01] jamesmarshall24 opened #53715 "RFE: Allow GID Setting for Unprivileged User Escalation"
##### SUMMARY

Allow ansible.cfg setting to set GID for shared tmp files between ansible_user and unprivileged become_user

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

become

##### ADDITIONAL INFORMATION

The only current available options are outlined within the [Becoming an Unprivileged User](https://docs.ansible.com/ansible/latest/user_guide/become.html#becoming-an-unprivileged-user

[2019-03-13 00:15] rambleraptor commented on #51174
I'll take another look at this. Could you send over a version of your config as well?

[2019-03-13 01:29] peterdemin commented on #34989
You should change
[code]
to
[code]

[2019-03-13 01:42] AlanCoding commented on #47925
#47058 was replaced with #50446, did that resolve the issue? I left a comment in the latter. I was going to file an issue, but it seemed too similar to this one, and I don't want to add more cruft to the issue history.

From the warning given, it follows that lines like these:

https://github.com/ansible/ansible/blob/acdb4c3edecf0703804b24eae177ded014a078c6/lib/ansible/plugins/inventory/openstack.

[2019-03-13 02:19] vegaoqiang opened #53724 "‘serial’ keyword dose not work in python api"
##### SUMMARY

Using ‘serial’ keyword to control the number of hosts executing at one time in python-api,  but ‘serial’ keyword no effect on the results
the python-api-example:
https://docs.ansible.com/ansible/latest/dev_guide/developing_api.html#python-api-example

my code example:
[code]
The above commands are always executed in parallel on all hosts.
[code]

##### ISSUE TYPE
- Bug Report

#####

[2019-03-13 02:57] PikachuEXE commented on #51042
When there are 2 conflicting requirements
Adding an option would be great
Otherwise that change is just scarifying one group of user for another group

[2019-03-13 03:13] vamshi8 opened #53725 "Exception message: cursor() got an unexpected keyword argument 'cursorclass'"
##### SUMMARY

mysql_replication fails with exception

Error:
fatal: [mysql-passive-master]: FAILED! => {"changed": false, "msg": "unable to connect to database, check login_user and login_password are correct or /root/.my.cnf has the credentials. Exception message: cursor() got an unexpected keyword argument 'cursorclass'"}

I have done with all the prerequisites, I have ~/.my.cnf file in place a

[2019-03-13 03:23] maxamillion commented on #51965
@jagibson you are 100% correct, apologies.:)

[2019-03-13 03:25] maxamillion commented on #51888
@PatrickGiblett I don't recall that being rejected, is there a PR in question we could potentially revisit?

[2019-03-13 03:35] ETSJustin commented on #51660
Hi Akasurde,
I am struggling to remember why I am explicitly running `test_1` first as this test case is miles away from the real issue I was experiencing, to distil the issue down to the bones. I suspect that I did this to prove that `test_1` is a valid role.
I commented out the explicit reference to `test_1` to see the impact and, now, I get:

Which indicates, to me, that the explicit reference

[2019-03-13 03:42] yungezz commented on #53707
hi @zikalino could you pls check if this is related to rest_facts modules' change?

[2019-03-13 03:42] Akasurde commented on #51660
Yes, correct. When `test_1` is commented, `test_3` ran first. `test_3` uses `when: False` that then applies to `test_1` dependency and `include_role: test_2` then inherits it as well.

[2019-03-13 03:46] Akasurde commented on #53725
@vamshi8 Thanks for reporting this issue. Could you please check if PR #53326 works for you and let us know ?

needs_info

[2019-03-13 03:51] Tomorrow9 commented on #53448
Ansible handles this VM facts in the same way for different guest OS, since you said others Ubuntu, CentOS, etc., can get IP, I don't think there is any difference for Alpine Linux. Can you post the full returned facts as I did above? I'll take a look and try to reproduce this later. Thanks.

[2019-03-13 03:55] wasserman commented on #51042
@bcoca A skip is quick vs all the non-skips that take a varying amount of time.  This setting is disrupting the ability to debug, especially in situations where one isn't even aware that it exists and that it is set.  I only learned about this feature when trying to use an existing Ansible repo with the included ansible.cfg file.

Couldn't the task_start callback access the task conditional evalua

[2019-03-13 04:35] eightbitdino commented on #53110
What seems to be happening for me is a specific failure in the regex.  When I target 1.1.1.1, the host line I get back is:
Nmap scan report for one.one.one.one (1.1.1.1)

When I target 172.25.28.5 (a host on my network with no DNS resolution), the host line I get back is:
Nmap scan report for 172.28.25.5

In debugging the module, find_host doesn't seem to parse the second correctly due to the miss

[2019-03-13 05:07] Akasurde commented on #53700
@yanivezrach Thanks for reporting this issue. I think there are no "CentOS" images with owner as "Amazon"

Could you please try -

[code]
or

[code]

Above PB works for me. Let me know if you have different requirements.

needs_info

[2019-03-13 05:08] Akasurde commented on #53700
!component =lib/ansible/modules/cloud/amazon/ec2_ami_facts.py

[2019-03-13 06:29] Fred-sun commented on #39977
@zikalino When you add this feature, please in this update links, thanks!

[2019-03-13 06:32] abedk commented on #33467
Working example in Ansible 2.7.8

     win_domain_group:
        name: "bla"
        path: OU=AdminGroups,DC=edu,DC=au
        state: present
        domain_server: machine.example.com
        domain_username: 'DOMAIN\user'
        domain_password: 'secret'

[2019-03-13 06:41] abedk opened #53729 "win_domain_group member list"
##### SUMMARY
Would be great to have a way to manage the group's membership.

It is not always the same as changing the users' membership using win_domain_user. For example we have no permission to modify the user object but control the group object

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_domain_group

##### ADDITIONAL INFORMATION
For example:

[code]

Similar to
PS C:\> Add-ADG

[2019-03-13 06:42] Emojomaker opened #53730 "Problem with import ansible.modules_util.basic in custom ansible module"
##### SUMMARY

Problem with import class ansiblemodule in custom ansible module
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

jboss.py
##### ANSIBLE VERSION

2.5.1
##### CONFIGURATION

ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -o ControlMaster=no
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']
DEFAULT_MODULE_LANG(/etc/ansible/ansible.cfg) = en_US.UTF-8
DEFAULT_REMOT

[2019-03-13 07:12] turb commented on #52147
Those module downloads/copies artifacts, and that's its only job.

There are plenty of modules out there to execute operations on the artifact afterwards.

[2019-03-13 07:28] Akasurde commented on #50838
@antonroman Thanks for the debugging. Would you be interested in raising the PR for the same with unit test ? let me know. Thanks.

needs_info

[2019-03-13 07:33] turb commented on #53713
Reproduced.

[2019-03-13 07:44] Akasurde commented on #53730
@Emojomaker Thanks for reporting this issue.

I see couple issues here -

1. Use of Python 2.6 - Ansible 2.7 and onwards dropped support for Python 2.6 from Controller side, you can read more about this [here](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guides/porting_guide_2.7.rst#python-compatibility)
2. This issue is already resolved in devel via https://github.com/an

[2019-03-13 08:29] Emojomaker commented on #53730
@Akasurde Thanks for response.
Response to the above suggestions:
1.I can't use new ansible version.
2. There are no syntax error in my custom module, because I copied code from web infrastructure module jboss.py. I compared my module and jboss.py module and I don't see difference between this modules.

[2019-03-13 08:38] ctorgalson commented on #35645
At least one of the issues with this is that a gzipped _file_ (e.g. `db_dump.sql.gz`) won't be unarchived by either `(g)tar` or `unzip`. This is implied by the docs (which only mention `*.tar.gz` and `*.tgz` but _not_ `*.gz`), and also by the name of the module I guess, but it took me some time to figure out.

[2019-03-13 09:11] stkac commented on #53708
@felixfontein the key file is on my local machine, I put here:

[code]

[2019-03-13 09:13] varunchopra opened #53737 "win_user: Add support for check mode"
##### SUMMARY
I feel it's important to add support for check mode to `win_user`. In my case, it would make sure the user doesn't exist already with the required groups, or only reset password if it exists and not create a new account and stuff like this.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_user

##### ADDITIONAL INFORMATION
[code]

[2019-03-13 09:30] dpassante opened #53738 "Missing is_public param on cs_iso"
##### SUMMARY

While updating the modules doc, I noticed the parameter `ìs_public` was implemented and documented but missing on `argument_spec`.

This results in the inability to register public isos.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cloudstack/cs_iso.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

###

[2019-03-13 09:36] ramanjk opened #53739 "ansible playbook executing to install packages but on remote hosts its not actually installs the packages"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

centsos 7.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

PLAY RECAP *****************************************************************************************************************************
servera.example.com        : ok=2    cha

[2019-03-13 09:36] felixfontein commented on #53708
What exactly did you pass as a parameter to the `luks_device` module? `keyfile: "/group_vars/keyfile"`? That would only work if there is a subdirectory `group_vars` in the **root folder** of your machine, and that contains `keyfile`. You should leave the first slash away.

[2019-03-13 09:41] ramanjk commented on #53739
Its working fine 2 days back,but i don't no what happened now..is this ansible bug facing by all recently..

[2019-03-13 10:31] JockeW-DvL commented on #50913
I have also tried CentOS with Python 3.6.4 and Ansible 2.7.8 with the same result.
Also i have created a new certificate and key, using the command described above in both ubuntu and centos and i still get the same errors.

[2019-03-13 10:32] bverschueren commented on #53002
Have a look at #49085.
In your ovirt.yaml, you could do something like:

[code]

[2019-03-13 10:48] chusiang commented on #52598
Thanks for @tomazas , I can skip this warning message now.

Difference:

[code]

Version:

[code]

[2019-03-13 11:33] Akasurde commented on #51893
resolved_by_pr #53742

[2019-03-13 11:33] Akasurde commented on #51893
@UnknownGnome Could you please check PR #53742 if it works for you ? Thanks.

needs_info

[2019-03-13 11:49] rolling1000ton opened #53744 "ovirt_vm_facts disk attachments incomplete"
##### SUMMARY
When gathering facts from a VM on Ovirt the disk attachments information is incomplete (with or without using the fetch_nested and all_content parameters). It only gives back the ID's of the attached disks, but in the API itself there is more information. Like the interface type and if the disk is bootable or not.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

##### ANS

[2019-03-13 12:04] lubomir-angelov commented on #44155
2.6.3 - has the bug

[2019-03-13 12:08] wedi opened #53746 "Support vault in password lookup plugin"
##### SUMMARY
It would be cool, if passwords generated with the password lookup plugin could be encrypted with Vault. This would allow for a streamlined distribution process that includes automatic password generation with record keeping (in git).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
password lookup plugin
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/p

[2019-03-13 12:17] #53170 closed, assigned to Akasurde

[2019-03-13 12:21] Andersson007 commented on #38801
@lichensky , close this issue, please

[2019-03-13 12:31] #40424 closed, assigned to nobody

[2019-03-13 12:37] #38801 closed, assigned to nobody

[2019-03-13 12:41] #25100 closed, assigned to Akasurde

[2019-03-13 12:42] yanivezrach commented on #53700
Thanks Akasurde.

It is working when i have it hard coded into the task (same as your example):

- name: Get latest AMI ID
  ec2_ami_facts:
    filters:
      name: "CentOS Linux 7 x86_64 HVM EBS*"
      owner-alias: aws-marketplace
    region: "{{ ec2_region_name }}"
  register: ami_list

However, when i passed the name to the playbook using extra var (-e ec2_image="CentOS Linux 7 x86_64 HVM EBS*

[2019-03-13 12:49] paylocity-sflanders opened #53749 "vmware_* modules should allow for case insensitive name"
##### SUMMARY

All the vmware_* modules that take a name (machine) parameter appears to be case sensitive.   It is very common to have casing differences between the inventory and whats in vmware, which then requires use of the vmware powershell module to find the exact name for every machine before using any vmware ansible module.   At the minimum there should be parameter that allows override to

[2019-03-13 13:00] wedi opened #53750 "password lookup: brcrypt hashing fails due to fixed salt length of 8 chars"
##### SUMMARY
Creating a brypt hashed password fails because the generated salt is always 8 long but bcrypt requires a salt length of exactly 22.

The ansible encrypt util already knows about different hash requirements: https://github.com/ansible/ansible/blob/devel/lib/ansible/utils/encrypt.py#L65

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
password lookup plugin
!component =lib/

[2019-03-13 13:04] yajo opened #53751 "s3_lifecycle: Filter element can only be used in Lifecycle V2"
##### SUMMARY

When launching a simple `s3_lifecycle` job, the error `Filter element can only be used in Lifecycle V2.` makes the task fail.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

s3_lifecycle

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 29 to a Ubuntu 18.04 host, all configured to use python3 as ansible interpreter.

##### STEPS TO REP

[2019-03-13 13:19] wedi commented on #36129
This is still a thing. Please reopen @gundalow. Thanks!

[2019-03-13 13:38] justjais commented on #53526
cc. @s-giri @krisvasudevan can you guys please review this feature idea.

[2019-03-13 13:40] rcarrillocruz commented on #53322
If you run 'show run' in the CLI directly, do you also get the same error as 'Invalid input detected' ?

[2019-03-13 13:41] rcarrillocruz commented on #53322
needs_info

[2019-03-13 13:43] sivel commented on #53724
This is just a limitation of the example, in that it utilizes `TaskQueueManager` directly.

Typically when executing a playbook, `PlaybookExecutor` handles the execution.  `PlaybookExecutor` has a method called `_get_serialized_batches`, that batches the hosts to be run, and then after restricting to those hosts, the `tqm` is run for each batch.

As the python API is not officially supported, I'm

[2019-03-13 13:43] #53724 closed, assigned to nobody

[2019-03-13 13:54] geekq opened #53753 "gcp_sql_instance module does not handle changes on DB instance"
##### SUMMARY

gcp_sql_instance module exposes settings_version.

The purpose of settingsVersion is to solve concurrency problem
and best described in https://stackoverflow.com/a/21212097/111995

So settingsVersion must be handled by the **implementation** of gcp_sql_instance module and not exposed to the user of the ansible module. Since

* if I do not provide a value for settings_version, it err

[2019-03-13 13:56] jonnyelliot commented on #18432
For people wanting to start the playbook from the failed task (not what --retry does by the way) have a look at --start-at-task https://docs.ansible.com/ansible/2.4/playbooks_startnstep.html#start-at-task

[2019-03-13 14:24] Stormfart commented on #25941
So I have this issue with Ubuntu 14.04 and linked to script module. It seems to be connected to the ssh connexion.
`"stderr_lines": [
        "OpenSSH_7.6p1 Ubuntu-4ubuntu0.3, OpenSSL 1.0.2n  7 Dec 2017",
        "debug1: Reading configuration data /home/X/.ssh/config",
        "debug1: /home/alexandre/.ssh/config line 1: Applying options for *",
        "debug1: Reading configuration data /etc/ss

[2019-03-13 14:35] Akasurde commented on #53713
@grossws Thanks for reporting this issue. Could you please check PR #53734 and let us know if it works for you ? Thanks.

needs_info

[2019-03-13 14:35] Akasurde commented on #53713
resolved_by_pr #53734

[2019-03-13 14:41] samccann commented on #53456
Closing as duplicate of https://github.com/ansible/ansible/issues/53681

[2019-03-13 14:41] #53456 closed, assigned to samccann

[2019-03-13 15:08] sedulam commented on #14426
I'm getting this issue as well:
Playbook:
[code]
TASK [install-cassandra : Configure cassandra.yaml common settings] *************************************************
fatal: [10.142.0.3]: FAILED! => {"msg": "Timeout (32s) waiting for privilege escalation prompt: "}```

[2019-03-13 15:30] wedi commented on #29394
That would be awesome! 👍

[2019-03-13 15:42] Stormfart commented on #25941
Solved for me, I was trying a $(which mysql) which wasn't interpreted correctly due to "sudo"
So :
 (become: true ) FAIL = sudo which mysql
 (become: false ) OK   = which mysql

[2019-03-13 15:55] gardar commented on #26586
I just ran into this issue when trying to use relative paths in a role in Red Hat Satellite.
And while this issue persists the relative paths in the synchronize module are pretty much useless in my opinion.

It might perhaps be worth it mentioning this limitation in the documentation.

[2019-03-13 16:00] kyz3 commented on #23073
Same issue but different Error on my side. When using the match option iptables is throwing an error becaus the match name is too long:

`
failed: [ansible-host5] (item=9090) => {"changed": false, "cmd": "/sbin/iptables -t filter -I DOCKER-USER -m 'conntrack --ctstate NEW --ctorigdstport 9090' -j DROP -m comment --comment 'Discard packets on unwanted port'", "item": "9090", "msg": "iptables v1.6.2

[2019-03-13 16:09] Akasurde commented on #53700
Try this -

[code]

I get

[code]

needs_info

[2019-03-13 16:12] cr33phav commented on #51436
@NilashishC I updated to 2.8 devel branch and re-ran... I can see that the logs say it's logging more, but nothing much added.

[code]

Logs:
[code]

But I think I see the issue... On the CLI I can see it's trying to use become_method: sudo when it should be using become_method: enable
[code]
Group vars file:
[code]
Hosts file:
[code]

It seems that not matter how I pass the become_method (either

[2019-03-13 16:13] #32551 closed, assigned to nobody

[2019-03-13 17:21] hoesler commented on #46215
I found a hacky solution for this use case:
First, combine each dict with the defaults (override with defaults). Then, zip these n "defaults" with each dict and finally map these tuples of dicts using combine.

Example:

[code]

This is how you create a new users dict, with defaults applied:
[code]

[2019-03-13 17:32] ssbarnea opened #53761 "ansible azure requirements are self-conflicting"
##### SUMMARY
``packaging/requirements/requirements-azure.txt`` cannot even be installed alone without causing conflicts between its own list of packages.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
packaging

##### ANSIBLE VERSION
master, also appling to older versions and breaking the use of azure extra: `pip install ansible[azure]`

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESUL

[2019-03-13 17:44] ssbarnea commented on #53761
The list from https://github.com/ansible/ansible/blob/devel/packaging/requirements/requirements-azure.txt does not make much sense to me as they are all pinned and in conflict.

[2019-03-13 17:52] kdelee commented on #53703
+1 I ran into this as well

[2019-03-13 18:06] #53738 closed, assigned to nobody

[2019-03-13 18:14] ganeshrn commented on #51436
@cr33phav Based on your comment it seems the error seen on 2.7 version and on devel is different.
On 2.7 the error is
`unable to elevate privilege to enable mode, at prompt [None] with error: timeout trying to send command: enable`

As you rightly pointed out in your earlier comment this seems to be an issue related to ios terminal regex and occurs because the initial login prompt is not matched c

[2019-03-13 18:24] sivel commented on #53750
I believe the resolution is that the password lookup should look at the `algorithms` defined in `ansible.utils.encrypt.BaseHash.algorithms` and if no salt is explicitly provided, pass the appropriate `salt_size` to `random_salt`.

[2019-03-13 18:36] sputnick-dev commented on #53650
This is a complete working example, I tried to fork the doc, but it's the python module, and the doc inside the script is not the same as the documentation page. Can I edit just the doc with some more details ?

The playbook is callable by example in a standalone fashion with `ansible-playbook -e vcenter=x -e datacenter=y -e login=z   playbook.yml`

    - hosts: localhost
      vars_prompt:

[2019-03-13 18:40] PatrickGiblett commented on #51888
Sorry I was not explicit enough. I could use a path with a space in it to a bunch of rpmfiles under the earlier version but the same action failed in the later version of ansibleOn 13 Mar 2019 3:26 am, Adam Miller <notifications@github.com> wrote:@PatrickGiblett I don't recall that being rejected, is there a PR in question we could potentially revisit?

—You are receiving this because you were men

[2019-03-13 18:55] Yajo commented on #43286
Could it be that it's a python3-only bug?

[2019-03-13 19:04] brysonshepherd commented on #37007
Has there been any work on this in the last year?

[2019-03-13 19:25] gi2r2ig commented on #1238
Not sure if this got solved ever!!
running ansible version (2.4.2.0) and getting same issues.
bash-4.2$ ansible all -i server, -m shell -a "ip link" -k -b -K
SSH password:
SUDO password[defaults to SSH password]:
server | FAILED | rc=127 >>
/bin/sh: ip: command not found

my path variable has /usr/sbin, which "ip link" needs. It runs perfectly fine when i login to the server and execute command.
b

[2019-03-13 19:29] UnknownGnome commented on #51893
I left a comment on the PR. TLDR; It works, but always shows as changed.

[2019-03-13 19:35] markmasl commented on #51174
Thank you! Well, actually almost all of the config was taken from the: https://docs.ansible.com/ansible/latest/modules/gcp_compute_instance_module.html#examples
And here's my config:
[code]

[2019-03-13 19:35] cr33phav commented on #51436
So it seems that I was in too much of a hurry during my last test.  There was something wrong in my test environment that caused the connection failure and I didn't look closely at the error.  I saw it fail and wanted to respond immediately because it's been open and pending on me for a week (was traveling and unable to test).  Once I fixed that I was able to connect properly.

Along with that, wh

[2019-03-13 19:37] rambleraptor commented on #51174
Sounds good! Thanks a lot @markmasl!

[2019-03-13 19:40] #30233 closed, assigned to nobody

[2019-03-13 20:12] max-wittig commented on #43286
Also happens with python2 for me

[2019-03-13 20:14] rd101010 opened #53766 "Add aaa group server support to nxos_aaa_server module"
##### SUMMARY
Update nxos_aaa_server module to include support for aaa groups

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
nxos_aaa_server

##### ADDITIONAL INFORMATION
On NXOS you can configure an 'tacacs+ server group'  and then add the tacacs-server hosts under that group. This is fundamental as it allows other parameters like aaa authentication, authorization and accounting commands

[2019-03-13 20:26] ralphie02 commented on #53448
ok: [alpine37 -> localhost] => {
    "changed": false,
    "instance": {
        "annotation": "",
        "current_snapshot": null,
        "customvalues": {},
        "guest_consolidation_needed": false,
        "guest_question": null,
        "guest_tools_status": "guestToolsRunning",
        "guest_tools_version": "10287",
        "hw_cores_per_socket": 1,
        "hw_datastores": [

[2019-03-13 20:48] chriscroome commented on #34218
The [chroot connection documentation](https://docs.ansible.com/ansible/latest/plugins/connection/chroot.html) still isn't great, all that is documented are the `executable` and `remote_addr` parameters and I'm unclear what point of these is &mdash; they don't seem to be needed when using a chroot connection&hellip;

Having an example showing how to use the chroot connection might have saved me som

[2019-03-13 20:52] prashanthps commented on #49044
I think issue type should be 'Bug'
ansible version I am able to reproduce this on is 2.7.8
I am not sure what component name would be... this is a problem with the snmp_facts module

[2019-03-13 20:54] selivan commented on #34218
@chriscroome yep, `remote_addr` parameter name is totally misleading, it should be named `chroot_dir`.

[2019-03-13 21:08] jborean93 commented on #46300
@kvprasoon sorry for the delay this one slipped past me. If you want to use the existing winrm connection plugin you will have to modify https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/shell/powershell.py#L31 to use `pwsh` instead of `PowerShell` as the first arg.

If you are wanting to use the psrp connection plugin then setting `ansible_psrp_configuration_name` to the PSRP endp

[2019-03-13 21:25] mikewiebe commented on #50626
@trishnaguha I opened the following PR to address this issue: https://github.com/ansible/ansible/pull/53768

[2019-03-13 21:47] KubaO commented on #36615
The module is half-baked and idempotency is clearly on the "do one day" list.

[2019-03-13 22:03] ibaldonl commented on #30209
I think this has been resolved, at least in Ansible 2.7 I see a cache_parameter_group option.
Issue should be closed I think.

[2019-03-13 22:09] mooninite opened #53771 "ansible_rm_subnet: Add support for setting service endpoints"
##### SUMMARY

The az CLI allows you to turn on and off Service Endpoint access in a subnet. Please add this feature in the Ansible module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_subnet

##### ADDITIONAL INFORMATION

Today you have to use the AZ CLI to set Service Endpoint access:
[code]
Here is a proposed example:

[code]

[2019-03-13 23:42] #49376 closed, assigned to nobody

[2019-03-14 00:13] prabakd commented on #10282
@bcoca If this feature is available, Can u please give some example how to use the extra vars inside the custom script.

[2019-03-14 00:45] AlanCoding commented on #53703
this is also a problem for the tower inventory plugin

[2019-03-14 01:02] antienho commented on #50913
Hi JockeW,
I ends up regenerate the certs (using openssl) and insert it manually. It then takes the key authentication. Not sure if this is a bug/issue with the playbook. 
Antien
    On Wednesday, March 13, 2019, 6:32:30 AM EDT, JockeW-DvL <notifications@github.com> wrote:

I have also tried CentOS with Python 3.6.4 and Ansible 2.7.8 with the same result.
Also i have created a new certificate and

[2019-03-14 01:06] soulofmischief opened #53779 "Running tasks are not displayed when strategy = free"
##### SUMMARY
It's not clear which tasks are active when the strategy is set to 'free'. In regular mode, in which only one task runs at a time, the currently running task is displayed in the most recent line.

In free mode, in which multiple tasks may be running at once, the running tasks are not shown until completed. This can be problematic when developing playbooks, because if a task is hanging

[2019-03-14 02:37] kvprasoon commented on #46300
Thanks @jborean93 , will try this out.

[2019-03-14 03:36] vamshi8 commented on #53725
Hello Abhijeet Kasurde , Yes it worked for me , Thank you so much .

[2019-03-14 03:36] #53725 closed, assigned to nobody

[2019-03-14 03:45] Akasurde commented on #37007
@brysonshepherd Yes, I did investigate on this. But like I said - deploying VM from template hosted in on-premise content library is not supported, yet.

[2019-03-14 03:54] yjftsjthsd-g commented on #23392
This bug still occurs in Ansible 2.7.7, and I would argue that it _is_ a bug and not just a poorly documented feature, because `include_vars` should not look at tasks. I understand that it might be nontrivial to make `with_first_found` behave differently depending on what is using it, but always including _tasks_ is inconsistent with an apparently generic function.

[2019-03-14 05:45] frogstarr78 opened #53786 "Sole space character breaks pamd module"
##### SUMMARY

In short, a sole ' ' character on a line in the pam.d file, causes this error from the pam.d module because the regex that is being testing against the line doesn't populate the match.groups values.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

pamd module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

# cat /etc/redhat-release
CentOS rel

[2019-03-14 05:53] MatrixManAtYrService opened #53787 "gcpubsub module gives error: 'module' object has no attribute 'Client'"
##### SUMMARY
I want to use ansible's `gcpubsub` module to create a pubsub topic and subscription, but when I run the playbook I see:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcpubsub

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ubuntu 18.04 (image pulled from dockerhub and modified only slightly)

##### STEPS TO REPRODUCE

Pasting the foll

[2019-03-14 06:13] fawaf opened #53789 "support openssl_crl much like openssl_certificate"
##### SUMMARY

support openssl_crl much like openssl_certificate

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

new module name: openssl_crl

##### ADDITIONAL INFORMATION

it would be used in very much the same way as the openssl_certificate module just that it would be specific for crl. crl has some attributes that a cert does not have (e.g. lastupdated, nextupdate, etc.)

[code]

[2019-03-14 06:31] mattclay commented on #53707
Tests fixed and re-enabled in https://github.com/ansible/ansible/pull/53727

[2019-03-14 06:31] #53707 closed, assigned to nobody

[2019-03-14 08:09] DPTB commented on #28649
Just a comment, which might be helpful. Ansible trows this sometimes but is a red herring. In my case, **the issue was using the wrong datastore name for the vm disks** which has nothing to do with the playbook not being able to find the template file. This should be fixed, as it lead me to a goose chase for days. Find out it was my script creating the host file not setting the datastore correctly

[2019-03-14 08:09] bullrox commented on #51200
I also experience the same issue, suddenly my playbooks cannot communicate over TLS with the docker daemon which just occurred after upgrading to Docker version 18.09.

using "pip install docker-py" and executing my playbook:
`fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Error connecting: Error while fetching server API version: HTTPSConnectionPool(host='$HOST', port=2

[2019-03-14 08:49] imuab opened #53794 "aruba_command & aruba_config not working on aruba mobility controller"
##### SUMMARY

The aruba_command & aruba_config modules will not logon to the aruba mobility controller. I tried the versions ArubaOS 6.4.4.16 and ArubaOS  8.3.0.5

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aruba_command
aruba_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Aruba Mobility Controller Aruba650 ArubaOS 6.4.4.16
Aruba Mobility Con

[2019-03-14 09:10] santascsi commented on #41227
Can confirm that the issue still exists in Ansible 2.7.5

[2019-03-14 09:17] bbaassssiiee commented on #43025
I have the same versions, but RHEL 7.5.
- iptables-1.4.21-24.1.el7_5.x86_64
- firewalld-0.4.4.4-15.el7_5.noarch
- Red Hat Enterprise Linux Server release 7.5 (Maipo)

I cannot disable an enabled rich-rule with firewalld

[2019-03-14 09:40] skdasarin00b commented on #37987
What is this DNS issue which you have faced. I am also getting the same issue. Can you please elaborate.

This is the output I am getting.
 ansible -m ping all

 [WARNING]:  * Failed to parse /etc/ansible/hosts with yaml plugin: Syntax
Error while loading YAML.   did not find expected <document start>  The error
appears to have been in '/etc/ansible/hosts': line 45, column 1, but may be
elsewhere

[2019-03-14 09:46] #29514 closed, assigned to nobody

[2019-03-14 09:46] #44077 closed, assigned to nobody

[2019-03-14 11:40] Akasurde commented on #53188
Closing this issue as PR #53624 is merged. If issue persists, please feel free to re-open.

[2019-03-14 11:40] #53188 closed, assigned to Akasurde

[2019-03-14 11:44] willthames commented on #53751
If it used to work but now it doesn't, one explanation might be that AWS have updated the API, and upgrading botocore updates to the newest API - you could try downgrading boto3 and botocore and seeing if that helps (it would at least test that theory)

[2019-03-14 12:00] mattiasb commented on #46215
I've done lots of those. ♥ Eventually started writing my own filters that I put together with my playbooks.

Mmmm, I love this! 😂♥

[2019-03-14 12:10] svenXY commented on #35606
Err, I just tested with Ansible 2.7.8, but the problem persists:

[code]

ansible-playbook --version
ansible-playbook 2.7.8

PLAY [all] ******************************************************************************************************************************************************************************************

TASK [Gathering Facts] *****************************************************

[2019-03-14 12:17] mkrizek commented on #35606
https://docs.ansible.com/ansible/latest/modules/yum_module.html
[code]

[2019-03-14 12:22] svenXY commented on #35606
Yes, I know that, but this ticket here was explicitely about adding the --exclude feature for all ```yum list``` operations

[2019-03-14 12:31] mkrizek commented on #35606
(Edited the comment above that contained the command for bot to autoclose this issue)

[2019-03-14 12:49] grossws commented on #53713
@Akasurde, tested, LGTM

[2019-03-14 12:57] #52563 closed, assigned to nobody

[2019-03-14 12:59] #53713 closed, assigned to nobody

[2019-03-14 13:01] Akasurde commented on #39657
needs_info

[2019-03-14 13:02] Akasurde commented on #44485
needs_info

[2019-03-14 13:04] Akasurde commented on #46069
needs_info

[2019-03-14 13:10] Vladimir-csp commented on #49022
Is it possible to backport the fix to 2.7 point release?
It's still a long time before 2.8 release.

[2019-03-14 13:50] Akasurde commented on #52111
resolved_by_pr #52853

[2019-03-14 14:31] #41825 closed, assigned to nobody

[2019-03-14 14:31] #52864 closed, assigned to nobody

[2019-03-14 14:33] machacekondra opened #53797 "Use suboptions in oVirt modules doc"
##### SUMMARY

Use suboptions in oVirt module documentations of dictionary parameters.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

ovirt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2019-03-14 14:41] bcoca commented on #53779
this is because 'free' tasks get their 'task title' deferred and repeated .. since other tasks can end from the time we print the task header to when the task ends. The output interweaves as different tasks are attempted at different stages.

[2019-03-14 14:47] #51893 closed, assigned to nobody

[2019-03-14 14:49] bcoca commented on #51042
@PikachuEXE and that might well be the solution, I was just  pointing out why its not just changing the behaviour.

@wasserman no, since the callback does not have the needed information (nor should it) nor does the invoker of the 'task start' callback have that information either, that gets assembled later on in the process. Also an action itself can decide to 'skip' processing with data not avai

[2019-03-14 15:04] #51393 closed, assigned to nobody

[2019-03-14 15:14] markuman commented on #41861
@jeevers @wimnat Hi all,
I want to tell that I run into the same issu. After applying the patch for elbv2.py from https://github.com/jeevers/ansible/commit/c72d9377a8ee823a617415545844211253a45696 it works for me.

What needs to be done to get this change merged into ansible?

[2019-03-14 15:26] ichekaldin commented on #41861
@jeevers @wimnat FWIW the same issue happens when a listener or a rule contains a redirect action. For example, when I want the application LB to always redirect from from HTTP to HTTPs. The behavior is the same as what @jeevers originally described: listener is successfully created at first, but the subsequent runs fail.

[2019-03-14 15:29] markuman commented on #41861
@ichekaldin true. for me https://github.com/jeevers/ansible/commit/c72d9377a8ee823a617415545844211253a45696 fix this issue too.

[2019-03-14 15:30] delfer opened #53803 "na_ontap_interface always report as changed"
##### SUMMARY
na_ontap_interface always report as changed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
na_ontap_interface.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Target OS: Centos 7

##### STEPS TO REPRODUCE
[code]

Apply twice

##### EXPECTED RESULTS
Second apply task `na_ontap_interface` should be unchaged

##### ACTUAL RESULTS
Second apply ta

[2019-03-14 15:42] FridaGo opened #53805 "Ansible Azure inventory plugin doesn't retrieve IP information from NIC for VMSS"
##### SUMMARY

Ansible Azure inventory plugin doesn't retrieve IP information from NIC for VMs that are part of a VMSS.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm inventory plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running from MacOS Mojave to Ubuntu 16.04 servers in Azure.

##### STEPS TO REPRODUCE

1. Enable Azure inventory pl

[2019-03-14 15:53] sivel commented on #53779
I don't think there is anything for us to do here.  You can always run the playbook with `-vvv` to see more information about host communication and module execution.

I'd be -1 for a "status bar" as the cost/benefit doesn't make sense.

[2019-03-14 16:04] bcoca commented on #53779
In 'linear' you also don't see 'which host' is running when you get a task header ... i think a setting to add 'host/task' start output might be fitting and cover all cases.

Until then, as @sivel points out, you CAN see the attempts with -vvv.

[2019-03-14 16:04] jeevers commented on #41861
I haven't really had the time to work on this since the last commit. When I last left it I was working on the integration tests, and was having some trouble getting the last part of the tests to pass. Can someone try to run the tests and see what I might be doing wrong?

[2019-03-14 16:27] MatrixManAtYrService commented on #53787
I've looke a bit closer at google's python pubsub api and would be willing to tinker with the file ansibot indicated to see if I can fix this.  I'm guessing google's interface changed at some point, 'cause now it looks like this:
[code]

You can create those like this:
[code]

...which is not how ansible's pubsub model does it.  However, I don't know how that file makes it to ansible, so I'm not s

[2019-03-14 16:31] mattclay commented on #53582
@Fred-sun There isn't any error information to report.

The tests pass, but in the process end up creating resources outside the allowed resource groups. This is apparently intended behavior of the `Microsoft.DevTestLab` resource provider. We won't be able to support testing it without changes to our CI infrastructure to handle this special case. There are no plans to make those changes.

[2019-03-14 16:51] markuman commented on #41861
@ichekaldin @jeevers hm I've misread. Do you have a minimal playbook that reproduce this error?

[2019-03-14 16:58] eawain commented on #53199
I've personally run into this problem as well . Something else I've noticed as well is , even if there are no spaces , if the system identity is > 31 characters you will also get stuck at the ConnectionError: command timeout triggered screen .

I've tried altering the timeout via ansible_command_timeout var but that just prolongs the time before the playbook will kick out that error again.

ansibl

[2019-03-14 17:08] mo18 commented on #32247
@aventrax
I came across the same issue. The way I solved it was with inventory files. I split north and south into their own inventory. This allowed me to maintain a single set of playbooks, but target north and south servers separately.

The drawback is that I would have to run the playbook two times if I wanted to do something against north and south.

I haven't tested this yet, but I'm guessing

[2019-03-14 17:11] angystardust commented on #53803
-label cloudstack
-label cloud
+label netapp
+label storage

[2019-03-14 17:16] aceadmin opened #53808 "Cisco IOS-XR Netconf fail with iosxr_banner module"
##### SUMMARY

Getting errors when trying to configure banners in IOS-XR routers with the iosxr_banner module via netconf transport. It appears that Ansible crashes for banners with more than 2 lines.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Cisco iosxr_banner module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible host: Linux  3.10.0-957.5.

[2019-03-14 17:26] angystardust commented on #53803
Hi @delfer please modify the "component name" of the issue to "na_ontap_interface.py"

[2019-03-14 17:33] ichekaldin commented on #41861
@markuman something like this:

[code]

[2019-03-14 17:34] #51551 closed, assigned to NilashishC

[2019-03-14 17:37] NilashishC commented on #51436
@cr33phav Glad to know that it's working now. We're closing this as resolved. Thank you.

[2019-03-14 17:37] #51436 closed, assigned to NilashishC

[2019-03-14 17:42] angystardust commented on #53803
@delfer can you please try with a newer version of the module?
You can get it from here: [na_ontap_interface.py](https://raw.githubusercontent.com/ansible/ansible/devel/lib/ansible/modules/storage/netapp/na_ontap_interface.py)
Just put the newer module in your ansible `library` folder and test again
I'm using the latest module version from master (soon to be release as 2.8 GA) and I have no idempo

[2019-03-14 18:22] #53647 closed, assigned to nobody

[2019-03-14 19:01] stkac commented on #53708
**ansible tree structure**
[code]

**ansible task**
[code]

**debuging the error**
[code]

thanks in advance,

[2019-03-14 19:40] NathanUrwin commented on #48366
@kyleabenson I have been crazy busy, so sorry no I haven't been able to. Please don't close this ticket though! When I get a free moment in hopefully the nearby future I'll revisit this and post that output I mentioned! Thanks! 👍

[2019-03-14 20:55] DaDummy commented on #29008
It might be worth rephrasing this paragraph then: "The plays and tasks in each playbook listed will be run in the order they are listed, just as if they had been defined here directly." As it seems to imply that the parent playbook's location defines where group_vars and host_vars are read from.

Found here: https://docs.ansible.com/ansible/2.4/playbooks_reuse_includes.html#importing-playbooks

[2019-03-14 21:19] bcoca commented on #42594
the warnings only show when there is an actual failure, since the default is 'parse N plugins till one works' we show warnings for each plugin since we cannot assure which one was the intended one.

This is failing on ini import, its just a partial failure and you get rest of the objects created (this is a bug, you should not get an updated inventory on partial fail).

[2019-03-14 21:20] MatrixManAtYrService opened #53815 "gcp_pubsub_subscription doesn't build topic string correctly"
##### SUMMARY

According to the gcp_pubsub_subscription documentation, the `topic` key should have a dictionary for a value, and that dictionary should have a `name` key.  But it takes the dictionary and does this:

[code]

Which causes `join` to raise an error:

I was able to fix this by making this change to gcp_pubsub_subscription.py:

Broken:
[code]

Works:
[code]

I didn't make a pull request

[2019-03-14 21:40] bcoca commented on #47413
closing as dupe of #40581

[2019-03-14 21:40] #47413 closed, assigned to nobody

[2019-03-14 21:46] samragu opened #53817 "include_vars not loading if variable was reset"
##### SUMMARY
include_vars loads the variables from the file just fine. However, if the same variable is reset as shown below to an empty list (or anything else), include_vars is not loading the variables from the file. The behavior is the same irrespective of hash_behaviour setting in ansible.cfg

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_vars

##### ANSIBLE VERSION

[code]

###

[2019-03-14 21:49] felixfontein commented on #53708
There's something off: you said `keyfile: "/group_vars/keyfile"`, and then further below in the dump it says `"keyfile": "/group_vars/vault/keyfile",`.

Anyway, try to leave the first slash away: `keyfile: "group_vars/keyfile"`. Or do you actually have all files in the root directory of your machine?

[2019-03-14 22:06] carchi8py commented on #53803
@delfer This was fixed for Ansible 2.8 you can use the instruction @angystardust has above to grab a copy of the module

[2019-03-14 22:14] stkac commented on #53708
Yes, I ben tried both of that, and in each case have the same error...

![image](https://user-images.githubusercontent.com/41887474/54394822-40fbac00-46ae-11e9-9f97-9802319a2817.png)

from the documentation:
...Parameter value is the path to the keyfile with the passphrase.
BEWARE that working with keyfiles in plaintext is dangerous. Make sure that they are protected.

I'm trying to use luks_devic

[2019-03-14 22:15] bcoca commented on #53817
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is a precedence issue `set_fact` has HIGHER precedence than `include_vars` so the latter can never overwrite the former.

In the f

[2019-03-14 22:15] #53817 closed, assigned to nobody

[2019-03-14 22:17] felixfontein commented on #53708
Have you copied the keyfile to the correct position on the destination machine?

[2019-03-14 22:18] stkac commented on #53708
No, just on the ansible controller machine...

[2019-03-14 22:19] felixfontein commented on #53708
Then it's no surprise it doesn't work. If the module is executed on another machine, it needs the keyfile on that machine (and the path is treated as a path on that machine).

[2019-03-14 22:19] bcoca commented on #53817
You can see this by using other lower precedence forms:
[code]

results in:
[code]

[2019-03-14 22:21] stkac commented on #53708
ok, and the keyfile can be something like this:

![image](https://user-images.githubusercontent.com/41887474/54395352-e2cfc880-46af-11e9-9060-ff266e011bfb.png)

[2019-03-14 22:22] felixfontein commented on #53708
The keyfile can be whatever you want. Some plaintext (in which case it's simply a passphrase in form on a text file -- in case you don't have a trailing newline), or some random binary data.

[2019-03-14 22:27] stkac commented on #53708
I well try whit the simple way first one file one line, just the passphrase if it works, I think I can do some more complex like
`ansible-vault create keyfile`

[2019-03-14 22:53] stkac commented on #53708
Ok, if I use the single line with just MySuperPass I don't let me unlock de volume...

![image](https://user-images.githubusercontent.com/41887474/54396735-478d2200-46b4-11e9-977b-f30d3c506ce0.png)

[2019-03-14 23:19] steynovich commented on #51071
I think this is a start, return the version number as given by the GetFunction API when no updates have been made.

[code]

[2019-03-14 23:22] steynovich commented on #51071
I think this is a start, return the version number as given by the GetFunction API when no updates have been made.

[code]

[2019-03-14 23:53] MichaelRiss opened #53822 "get_url return value 'dest' does not include file name portion under certain circumstances"
##### SUMMARY

`get_url` should return in the `dest` return parameter the path **and filename** of the destination file.
But currently, if the `dest` *input parameter* only specifies the destination directory, the *returned* `dest` value is also missing the filename component.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/net_tools/basics/get_url.py

##### ANSIBLE VERSI

[2019-03-15 00:19] #53663 closed, assigned to nobody

[2019-03-15 00:31] nathanjrobertson opened #53824 "lxd_profile fails when config value is a string containing only an int"
##### SUMMARY
The lxd server in Ubuntu 18.04 expects config items to be key value pairs, where the values are of type string. However, internally ansible is casting a value such as "2" to the integer 2, which causes an exception on saving the profile.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/modules/cloud/lxd/lxd_profile.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[co

[2019-03-15 01:18] #50541 closed, assigned to nobody

[2019-03-15 01:45] MatrixManAtYrService commented on #53787
I discovered another couple modules: `gcp_pubsub_topic` and `gcp_pubsub_subscription` which don't appear to have this problem.  I did run into a problem there too (https://github.com/ansible/ansible/issues/53815) but I was able to work around it.

[2019-03-15 02:16] jdillard commented on #43562
Do the Ansible docs generate a sitemap currently? If not, there is a `sphinx-stemap` extension that could be used: https://github.com/jdillard/sphinx-sitemap

There is an open issue that I was going to try to tackle soon for creating a priority config value that might help in this situation: https://github.com/jdillard/sphinx-sitemap/issues/11

[2019-03-15 02:16] #38206 closed, assigned to nobody

[2019-03-15 02:16] #50947 closed, assigned to samdoran

[2019-03-15 02:24] budric commented on #52186
Thank you for the fix.  Sorry for the delay, confirmed this particular issue fixed on my end as well.

[2019-03-15 02:31] blambo10 commented on #53372
Hi @Akasurde,

Could you please clarify above?

[2019-03-15 03:07] Fred-sun commented on #53582
@zikalino Please help take a look this issue when you're available! Thanks!

[2019-03-15 03:09] tlc commented on #28517
Can we have the vmid returned with a new lxc, too?

[2019-03-15 04:57] Akasurde commented on #53372
@blambo10 I adjusted the modify fact -

`_moId` is referenced as `moid` and
`_vimref` is refereneed as `vimref`  to match other Ansible fact naming scheme

Let me know if it make sense.

[2019-03-15 05:16] TeraInferno commented on #22967
I found a workaround to install packages with pip into a virtualenv managed by pyenv. As this issue has been around for awhile, this workaround may help other ansible users until the pip module is able to handle pyenv managed virtualenvs.

The workaround avoids using the pip module and instead just executes some shell commands. I am providing some variables I used, a *.pyenvrc* file I created, and

[2019-03-15 05:36] blambo10 commented on #53372
Yep perfect sense, thanks for clarifying.

[2019-03-15 05:37] blambo10 commented on #53372
I am wondering if we can get the same details exposed, after vm provisioning on the vmware_guest module too?

I’ll open a feature request there, if you think it’s feasible

[2019-03-15 05:39] felixfontein commented on #53708
Can you unlock it if you provide the same keyfile? Also, have you looked at the hexdump output of the keyfile to verify there's no hidden line ending or other surprise in there?

[2019-03-15 05:53] hiteshshaha opened #53838 "handle user prompt in privilege escalation"
##### SUMMARY

we have developed playbook for oracle backup, but we are having big roadblock to use privilege escalation.
we are using become_user mentod for privilege escalation but in our env for security reason unix team has added script which prompts ticket number after switching user.
so i can handle this in become_user method.

existing setput in my env.

login to redhat server using my pers

[2019-03-15 05:54] Akasurde commented on #53372
Yes, I have modified `gather_vm_facts` API which is called after VM provisioning to retrieve facts. So I think we Ok on that side as well. Could you please check that as well and let me know if it is not the case ? Thanks.

[2019-03-15 06:51] hiteshshaha commented on #53838
Hi team,

I have added playbook code in message body itself.
Please find it in message body.

Regards,
Hitesh shaha

On Fri, Mar 15, 2019, 11:25 AM ansibot <notifications@github.com> wrote:

[2019-03-15 07:00] abedk commented on #41311
If this helps anyone, was getting this "Make sure this host can be reached over ssh" but the real cause was actually lack of python on host

    "module_stderr": "/bin/sh: 1: /usr/bin/python: not found\n",

fix for me was
  pre_tasks:
    - raw: test -e /usr/bin/python || (apt -y update && apt install -y python-minimal python-setuptools)

[2019-03-15 07:03] delfer commented on #53803
@angystardust @carchi8py fixed in latest version
<img width="347" alt="изображение" src="https://user-images.githubusercontent.com/3233181/54414233-83060b80-4709-11e9-9e6b-08e662a1500d.png">

[2019-03-15 07:31] Akasurde commented on #31398
needs_info

[2019-03-15 07:50] jborean93 commented on #49036
The test is no longer marked as disabled or unstable in the alias and has been running in devel for a while now. Closing this issue and will reopen if this starts to reappear.

[2019-03-15 07:50] #49036 closed, assigned to nobody

[2019-03-15 07:51] stkac commented on #53708
Yes, it was about the hidden line ending. but I found a guide to create a single file without hidden lines. now I can unlock the volume.

**Resume:**
`echo -n foo > group_vars/vault/keyfile`

**Issue**
[code]

**Solution**
[code]
https://thoughtbot.com/blog/no-newline-at-end-of-file

**Thanks!**

[2019-03-15 07:54] #53708 closed, assigned to nobody

[2019-03-15 07:57] jborean93 opened #53847 "Unstable integration test win_msg"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_msg integration test

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Shippable

##### STEPS TO REPRODUCE
Run tests on Shippable

##### EXPECTED RESULTS
Tests pass

##### ACTUAL RESULTS
Tests are unstable or fail.

I'm not sure why this is unstable, I've been going through our exisiting tests to see what is stabl

[2019-03-15 08:23] jborean93 commented on #53847
@jhawkesworth you wouldn’t happen to know why this was marked as unstable?

[2019-03-15 09:06] uritau commented on #51944
@yungezz excuse me for the delay, it works smoothly :)  Yuhuu!
Thanks for your interest and your help!!!!

[2019-03-15 09:13] hiteshshaha opened #53853 "bypass prompt in privilege escalation"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2019-03-15 09:14] #53853 closed, assigned to nobody

[2019-03-15 09:19] felixfontein commented on #53708
I'm glad it worked out for you! Enjoy using the new module :-)

[2019-03-15 09:23] #47905 closed, assigned to Qalthos

[2019-03-15 09:34] angystardust commented on #53803
Great! So, I suppose you can close the issue now (2.8 will be released soon) ;)

[2019-03-15 10:01] Th1990 opened #53854 "Ufw module example does not work because of missing parameter"
##### SUMMARY
Documentation for Ufw module gives this example:

[code]

Trying to run that task fails with error:
[code]

I belive that this is issue with documentation because the module works as expected if I add parameter for direction:
[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
Ufw module documentation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

####

[2019-03-15 10:04] kalero commented on #53322
@rcarrillocruz As expected, if I run "show run" as unprivileged user, I get that "Invalid input detected"; if I run "show run" after getting privileges through "enable", it runs fine and shows the running configuration. All seems indicate "enable" is not working, but I added the variables for that and stablished "authorize" and "auth_pass" in ios_command.

[2019-03-15 10:06] likg commented on #48790
In my opinion checksum parsing should be implemented as a part of Ansible core for modules to reuse it. Checksum can be defined in-place(string/variable value), URL (http[s]?://,ftp://) or in file (file://) and has different format:
[code]
Nowadays majority of popular distros provide sha256sum.txt file (Ubuntu/Debian/Centos to name some of them), same applies to cloud providers (Amazon VM imges).

[2019-03-15 10:58] heuels commented on #53199
@dinkonin, @eawain, thank you. I will try to look into it this weekend.

[2019-03-15 11:11] JulienPalard commented on #16732
This is still an issue in AWX with ansible 2.7.7, where I see:
[code]

but strace gives me:
[code]

[2019-03-15 11:11] blambo10 commented on #53372
vmware_guest

`ok: [192.168.1.72] => {
    "msg": {
        "changed": true,
        "failed": false,
        "instance": {
            "annotation": "",
            "current_snapshot": null,
            "customvalues": {},
            "guest_consolidation_needed": false,
            "guest_question": null,
            "guest_tools_status": "guestToolsNotRunning",
            "guest_tools_version"

[2019-03-15 11:40] #53803 closed, assigned to nobody

[2019-03-15 11:56] pmossakx opened #53857 "docker_image: ignores DOCKER_CONFIG/config.json"
##### SUMMARY
I'm trying to build a Dockerfile behind proxy using docker client config.json as described [here](https://docs.docker.com/network/proxy/#configure-the-docker-client).
Ansible docker_image default path for config.json is different that the one for docker client:
[Docker docs](https://docs.docker.com/network/proxy/#configure-the-docker-client): ~/.docker/config.json
[Ansible docs](http

[2019-03-15 12:00] ivansche opened #53859 "git module does not see the .netrc"
##### SUMMARY
The git package does not see the .netrc file and freezes when I try to copy a private repository.
If I substitute the git command with a shell script doing the same thing (e.g. "git clone {repo} {dest}"), then everything works just fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu

[2019-03-15 12:01] justjais commented on #51204
cc. @s-giri @krisvasudevan can you please review this bug.

[2019-03-15 12:34] toufoner opened #53860 "win_chocolatey: Failed to list local package when is not installed"
##### SUMMARY

When you try to install a package for a first time, win_chocolatey failed to list local package.
Command return exit code 2

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_chocolatey 0.10.12

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

Target os: Microsoft Windows Server 2012 R2 Standard with powershell 4.0

##### STEPS TO REPRODUCE

Create a simple task to instal

[2019-03-15 12:50] theg4sh opened #53861 "Unequal usage of `executable` var of `shell` and `raw` modules"
##### SUMMARY

UPD: `command` is removed from list due to no longer support `executable` var.
Usage of `executable` var with `shell`~/`command`~ and `raw` modules is defferent.
At first case whole string uses within quotes, but in second case it is uses "raw".
It confise and looks unexpected.

The second case looks more useful, because you can pass an arguments with executable, like `/bin/bash --l

[2019-03-15 13:06] ibarrere opened #53862 "ios_config force remove lines"
##### SUMMARY

Basically the same as feature request [#3998](https://github.com/ansible/ansible-modules-core/issues/3998). That feature request was closed as it was deemed that the "before" option was suitable for this. In some situations the before option isn't enough though.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

networking/ios_config

##### ADDITIONAL INFORMATION

The service-p

[2019-03-15 13:08] theg4sh commented on #53861
!component

[2019-03-15 13:31] messedupryan commented on #50778
Install Options
	</package | /i> <Product.msi>
		Installs or configures a product
	/a <Product.msi>
		Administrative install - Installs a product on the network
	/j<u|m> <Product.msi> [/t <Transform List>] [/g <Language ID>]
		Advertises a product - m to all users, u to current user
	</uninstall | /x> <Product.msi | ProductCode>
		Uninstalls the product

/a is for administrative install

I also ha

[2019-03-15 13:50] rhrn commented on #48786
try `with_items`, it works for me
[code]

[2019-03-15 13:55] AndreBengaly opened #53863 "WARNING:pypsrp.serializer:Failed to parse data '' as XML, return raw xml: no element found: line 1, column 0"
##### SUMMARY

When you run ansible with the win_updates module using pypsrp.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

pypsrp
win_updates

##### ANSIBLE VERSION

ansible 2.7.9
  config file = /home/foo/Documentos/Ansible/ansible.cfg
  configured module search path = ['/home/foo/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /home/fo

[2019-03-15 14:18] turb commented on #50015
@DorianGeraut does not seem to be a big deal, would you mind doing a PR?

[2019-03-15 14:33] mrdrogdrog commented on #30814
I had the same problem today. Any News?

[2019-03-15 14:33] turb commented on #32345
@glatapoui is it still an issue with the last version?

[2019-03-15 14:50] displague commented on #51195
It is worth noting, (but in no way should block this issue and PR) that one of the limitations of the Linode API in the past was the ability to use Linode labels that matched hostnames (because `.` and `_` were not permitted in the label).

This is no longer the case and may make it easier for users to keep hostnames and labels in sync.

[2019-03-15 14:53] DorianGeraut commented on #50015
@turb Yup,
Actually i did a this one: #50021
Is it ok ? (i'm not used to this kind of workflow)

[2019-03-15 15:00] swagner-de opened #53865 "ios_vrf module to not add address-family ipv6 when not explicitly told to"
##### SUMMARY
Currently when using the `ios_vrf` module, as described in the following example, the module also adds the ipv6 address-family even though it is not used. This can unintentionally enable ipv6 routing and also adds additional config length.
##### ISSUE TYPE
- Only add the respective address-family when explicitly needed

##### COMPONENT NAME
ios_vrf

##### ADDITIONAL INFORMATION
Curre

[2019-03-15 15:06] turb commented on #50015
That's right.

resolved_by_pr 50021

[2019-03-15 15:16] eawain commented on #53199
Thank you sir.

Really appreciate your work. Barring a couple of rough edges this module works amazing.

[2019-03-15 15:18] maunzCache opened #53867 "Distinguish or merge java_cert and java_keystore module"
##### SUMMARY
There are two modules: java_cert and java_keystore
From the documentation it is not entierly clear what the difference there is in behavior and functionality.

It seems to me that this is a duplicated module so it can either be merged or it must be clear by its documentation what it does different and maybe have a clear statement when to use the other module.

##### ISSUE TYPE
- Docu

[2019-03-15 16:01] Mogztter commented on #53867
From the documentation it is not entierly clear what the difference there is in behavior and functionality.

* java_keystore: Create or delete a Java keystore in JKS format.
* java_cert: Use keytool to import/remove key from java keystore (cacerts)

So the first one will create a keystore (from a private key) and the second one will import or remove certificates from an existing keystore.

It's no

[2019-03-15 16:14] okgolove opened #53872 "Directly runnig module doesn't work with fetch_url() function within module"
##### SUMMARY

I'm trying to run my module locally using next instructions https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html#exercising-module-code-locally

And I get an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Any module containing fetch_url() function from ansible.module_utils.urls
In my case it is my module I'm developing https://github.com/ok

[2019-03-15 16:19] samdoran commented on #53872
This has not worked since Ansible 2.5.0. I bisected to this commit https://github.com/ansible/ansible/commit/ca8e4c806a70eab259fb5d3036e3295b0e7880a4.

This may actually be a bug in the `tmpdir()` property since that should be returning a valid value.

[2019-03-15 16:46] glatapoui commented on #32345
Unsure, I changed my playbook to handle that and went on something else.
I believe this issue could be closed, unless someone else is impacted by it and reveals himself :-)

[2019-03-15 17:03] jhawkesworth commented on #51321
It looks like I may need this, so please ping me if/when there is something to test and I will try to test it.

[2019-03-15 17:09] rodrigofalco commented on #10379
You can just encrypt some message into a var( in this sample, named success_decription_message), containing for example "Decryption success", and use that var in a debug line, for example may be in the pre-tasks, so that your pass is validated as soon as possible.

  pre_tasks:
    - debug: msg="{{ success_decription_message }}"

[2019-03-15 17:10] gadamiak commented on #44338
Ansible 2.7.8 actually uses the proxy provided but can't use it:

[code]

That's definitely required for any remote access scenario. In my case I need it hard to setup a vanilla data center, where no host runs yet and all I have is a firewall I can SSH into. As a workaround I have to use `curl` in command module.

I expect support for `http(s)_proxy` as well as `all_proxy` and schemes `socks5` and

[2019-03-15 17:12] aszubarev opened #53876 "Failed after specify a custom condition when waiting"
##### SUMMARY

I try use `wait` feature in `devel` brach and I failed after timeout. But my `serviceaccout` was created.

I novice here. I watch this [pull request](https://github.com/ansible/ansible/pull/52185) and I don’t understand how it work.

In my case `reason` and `type` of `wait_condition` may be wrong,  but they are not the cause of the error

##### ISSUE TYPE
- Bug Report

##### COMPONE

[2019-03-15 17:12] makrand-sanap commented on #19584
Wow.....I read through comments. Can not believe the issues still exist. I am on latest ansible. I guess this is one of the pain of using opensource.

vagrant@mgmt:~$ ansible lb -u vagrant -m ping -vvv
ansible 2.7.8
  config file = /home/vagrant/ansible.cfg
  configured module search path = [u'/home/vagrant/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module l

[2019-03-15 17:33] makrand-sanap commented on #19584
Alright, here is what worked for me -
I logged into the remote machine **lb**. edited the ~/.ssh/authorised_keys and added id_rsa.pub key of ansible master. Saved and exited. This is not a perfect way, but it gets you going for initial testing.

[2019-03-15 18:11] fabianvf commented on #53876
`serviceaccounts` do not have a status field as far as I know, so you won't be able to specify a `wait_condition`. The `wait_condition` specified in the task is only valid for `Deployment` resources, as each resource type defines their own set of conditions (if they support conditions, not all do).

[2019-03-15 18:32] ZubAnt commented on #53876
Probably. However, there are often `.yaml` files, where in addition to `Deployment` there is `ServiceAccount` or other. And if you wait for the `Deployment`, the task will failed after timeout. For example, [metallb.yaml](https://raw.githubusercontent.com/google/metallb/v0.7.3/manifests/metallb.yaml)

[2019-03-15 18:45] fabianvf commented on #53876
Ah, yeah `wait_condition` can't work in cases like that, it might work on resources of the same kind, but it won't work on a list of arbitrary resources, as the conditions are very specific to the individual resource (and several don't support them at all). We could check for this and fail earlier.

[2019-03-15 20:27] cohenaj194 commented on #50946
Is there any way we could create a feature request to create a `skip_unreachable` argument?

[2019-03-15 20:31] jborean93 commented on #53860
This is due to the latest release of Chocolately changing the return codes for the choco list command. We’ve fixed this in devel and it will be included in the next 2.6 and 2.7 release https://github.com/ansible/ansible/pull/53841. In the meantime you can install just chocolately in your task and use the win_choco_feature to disable the enhanced exit codes.

[2019-03-15 20:31] #53860 closed, assigned to nobody

[2019-03-15 20:42] abedwardsw commented on #50946
@cohenaj194 fyi, this was the workaround I did, it's not ideal but it does work.  The only drawback is all of the hosts are listed at the bottom of the play even if they skipped.   It would be nice to have this functionality built in somehow.

ps.. code below not tested as it's a minor variation from what I am using, I wrote a custom plugin which does a actual ping command.  In my situation I want

[2019-03-15 20:46] abedwardsw commented on #50946
also, i'd be happy to contribute the ping module if @bcoca confirms it would be accepted and wanted.  The current ping does a full ssh, i wanted simply a "ping" and couldn't find a module that did that.  there was also a net_ping but that only works from a network device from what I could tell.

[2019-03-15 20:47] chrisvanheuveln opened #53887 "nxos_vlan: idempotency bug with `mode`"
##### SUMMARY
`nxos_vlan` is not idempotent when `mode` is specified in a playbook (`N5K/N7K`). The problem is that `map_config_to_obj` does a `show vlan brief | json` to get state from the device but that command does not include any `mode` values; thus the result is always:
[code]
The only way to get the `mode` state with json is to use the full `show vlan | json` command; e.g.
[code]
##### ISSU

[2019-03-15 21:00] felixfontein commented on #53857
Please note that Ansible doesn't do anything here (except providing documentation). The documentation says `Note that the Docker SDK for Python only allows to specify the path to the Docker configuration for very few functions. In general, it will use $HOME/docker/config.json if the DOCKER_CONFIG environment variable is not specified, and use $DOCKER_CONFIG/config.json otherwise.`. This is about t

[2019-03-15 21:39] rambleraptor commented on #50247
This should be fixed.

close_me

[2019-03-15 21:50] #50247 closed, assigned to nobody

[2019-03-15 22:29] rambleraptor commented on #53304
close_me

Hello! We just added this in under the `version` field.

[2019-03-15 22:32] rambleraptor commented on #43466
close_me

We just added in support for `service_account_contents`, which lets you pass in the contents of a service account file directly in your playbook or via an env variable. I believe that you can use Ansible Vault to accomplish this.

[2019-03-15 22:37] #53304 closed, assigned to nobody

[2019-03-16 01:05] ghost opened #53892 "win_chocolatey failing to install during checking existing"
##### SUMMARY

win_chocolatey fails to install gitversion.portable or git.install.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_ansible module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Vanilla Windows Server 2019 core install

##### STEPS TO REPRODUCE

Task:
[code]

##### EXPECTED RESULTS

Modules should install.

##### ACTUAL RESULTS

Package

[2019-03-16 01:10] cohenaj194 commented on #50946
Yes I agree. A new module to accomplish this would be great!  I found a similar solution as well my results can be found here on `[stackoverflow](https://stackoverflow.com/questions/55188936/ansible-how-to-ignore-unreachable-hosts-ansible-2-6-1)`.

[2019-03-16 01:30] willthames commented on #53876
What are you actually trying to wait for?

ServiceAccount creation is so quick, the following tasks will almost certainly succeed.

If you just use `wait: yes` with a suitable timeout but no condition, it should do the right thing for each resource (it will wait for the DaemonSet to become ready, and little else)

[2019-03-16 01:53] jborean93 commented on #53892
See https://github.com/ansible/ansible/issues/53860#issuecomment-473431360

[2019-03-16 01:53] #53892 closed, assigned to nobody

[2019-03-16 02:54] soulofmischief commented on #53779
@bcoca That sounds like a fine compromise.

[2019-03-16 02:58] Fred-sun commented on #51321
you can try PR #53788, Thansk!

[2019-03-16 05:48] #42585 closed, assigned to Akasurde

[2019-03-16 06:21] Akasurde commented on #22591
resolved_by_pr https://github.com/ansible/ansible/pull/53856

[2019-03-16 07:04] ilmarh commented on #50294
Sorry for the late (very) answer, @Mogztter
I've solved my problems by using direct commands
This issue was just to let dev know that there is ether error in docs or in code
So if private key will be marked as requred in java_keystore it's ok and the issue maybe closed
In an hour i'll try to check your proposal with java_cert, maybe it is what i was looking for, but i failed to understand it 2 mon

[2019-03-16 07:35] ilmarh commented on #50294
yes, i was able to create store with CA using java_cert

[2019-03-16 07:46] kb-light commented on #53393
Confirmed with current devel branch.
File: ./lib/ansible/plugins/inventory/netbox.py#L265
Description: Function `extract_config_context` does not differentiate between devices and virtual machines. This causes fetch of wrong information if host is a virtual machine.

I am already working on a fix.

[2019-03-16 07:55] jborean93 commented on #53860
Just for anyone who is unable to upgrade when the next 2.7 release is made. You can use the following tasks to install the latest Chocolatey version and disable the enhanced exit codes that are incompatible with the `win_chocolatey` module.

[code]

[2019-03-16 08:06] obourdon commented on #45761
@mishas fix has been merged into devel branching should be available officially in 2.8 release

[2019-03-16 11:29] dpassante opened #53899 "cs_network_offering: Missing choice list for supported_services in arg_spec"
##### SUMMARY

Missing choice list for supported_services param in arg_spec.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cs_network_offering
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

[2019-03-16 12:14] ZubAnt commented on #53876
I agree. However, as I said earlier, there is a potential possibility that users will use `.yaml` files with different resources, and if there are resources that are not supported by `wait_condition`, then the task will fail. Therefore, I propose to consider two options. Either check the file and give an error, or handle this situation

[2019-03-16 12:43] #53899 closed, assigned to nobody

[2019-03-16 13:14] Mogztter commented on #50294
Thanks for your feedback @ilmarh
I didn't know that `java_cert` could create a keystore from a CA.

So the only thing missing from `java_cert` is to be able to create a keystore from a certificate (with a private key). If the community thinks it's a good idea, we could add this feature to `java_cert` and merge the two modules, as suggested in https://github.com/ansible/ansible/issues/53867 ?

But

[2019-03-16 13:21] Mogztter commented on #53867
My bad, I wasn't not aware that `java_cert` can create a truststore if it does not exist.
Usually you will create a **truststore** to store AC and trusted certificates and a **keystore** to store a public and private key.

`java_cert` was designed to create and manage a **truststore** where `java_keystore` was designed to create a **keystore**.

[2019-03-16 13:26] Mogztter commented on #50294
It might be harder than I thought because `java_keystore` manages a **keystore** from a public and private key. In general you will create a **keystore** with your host certificate and if your certificate expires, you will need to regenerate your **keystore**.
In other words, we will need to distinguish the "initial" certificate and the AC and trusted certificates...

[2019-03-16 14:51] ilmarh commented on #50294
Another reason, why i'm using direct keytool commands was of
`keytool -keystore keystore.jks -alias hostname -genkey -noprompt -dname "CN=hostname, OU=unit, O=org, L=city, C=country" -ext san=dns:hostname,ip:x.x.x.x -keyalg RSA -keypass pass2 -keystore pass1`

I failed to figure out quickly how store ansible generated passwordprotected key (openssl) in keystore. Playbook hangs while adding, i thin

[2019-03-16 14:53] ilmarh commented on #50294
`---
- name: java_keystore module test
  hosts: host
  tasks:

#  - name: Generate CA
#    openssl_certificate:
#      path: '/tmp/ca.crt'
#      privatekey_path: '/tmp/ca.pem'
#      csr_path: '/tmp/test-host.csr'
#      ownca_path: '/tmp/ca.crt'
#      privatekey_passphrase: 'ca_qwerty'
#      provider: selfsigned
#    delegate_to: localhost

  - name: Generate selfsigned certificate for CA

[2019-03-16 14:59] ilmarh commented on #50294
[code]

[2019-03-16 15:05] ilmarh commented on #53867
Me maybe wrong, but my understanding is that they are identical.
We generate host keys with keytool (which in turn creates keystore), then generate csr from this keystore and sign it with CA. Then store certificates in places.

So i think that merge is a good idea if this module will provide access to all keytool operations.

[2019-03-16 16:11] jgeorgeson commented on #47925
Is that PR in a stable release, or just in the devel branch? I think around 2.7.7 I was able to use OpenStack inventory without a cache plugin so I haven't been messing with any of it.

[2019-03-16 16:28] getjack commented on #53867
Now you got me really confused. I haven't been digging deeper on the words truststore and keystore. Just noticed that one of my colleagues just used java_cert but found the documentation for the other one.

From [what I understand](https://docs.oracle.com/cd/E19509-01/820-3503/ggffo/index.html) is that a truststore actually is a keystore but without the private key part so actually both modules do

[2019-03-16 17:08] felixfontein commented on #53857
Reading more through docker, docker-py and proxying, it looks like the main problem here is not that docker-py ignores your config, but that by default, building images with docker-py doesn't use the proxy config. Check out the API config docs: https://docker-py.readthedocs.io/en/stable/api.html#module-docker.api.build The image build function has an argument `use_config_proxy` with default value

[2019-03-16 17:09] felixfontein commented on #53857
(Actually, `use_config_proxy` is only available since docker-py 3.7.0. I guess that's the main reason why no option for this exists: it wasn't able to do this before.)

[2019-03-16 17:28] felixfontein commented on #53857
I've added that feature in #53905. I would be glad if you could test it, since you seem to have a working proxy configuration.

[2019-03-16 18:08] jacobsalmela opened #53907 "counter_enabled callback plugin doesn't work with roles"
##### SUMMARY
The `counter_enabled` callback plugin doesn't seem to work with roles.  There's no mention of if roles in #40769, and I can't find any other mentions of this plugin.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`counter_enabled.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control machine: macOS 10.14.3
Targets: Ubuntu 16.04, Centos 7.6

[2019-03-16 18:31] L1ghtman2k commented on #53618
Sooo, @mariolenz, I just realized that we are actually running Vsphere 6, so the issue is still there for me :(

[2019-03-16 19:18] mariolenz commented on #53618
In your steps to reproduce i see `template: "pfsense_template` which seems to lack a closing `"`. In your workaround it's there: `template: "pfsense_template"`

Maybe that's the problem... or is it a copy&paste error?

[2019-03-16 19:23] L1ghtman2k commented on #53618
Copy&paste error, There is actually a variable name there, I edited it so it is easy to read, but forgot the `"` , I will fix the main post

[2019-03-16 19:41] mariolenz commented on #53618
I'll try to have a closer look at this next week  when I'm back at work and have access to our vSphere environment... can't test anything right now.

One additional question: What's your pyVmomi version? That might be relevant.

[2019-03-16 20:24] L1ghtman2k commented on #53618
pyvmomi==6.5
I use default setting from that come from awx project:
https://github.com/ansible/awx/blob/devel/requirements/requirements_ansible.in

[2019-03-16 20:49] tiny6996 commented on #51481
issue also occurs on Fedora 29 running ansible 2.7.8 with python 3.7.2

[2019-03-16 21:55] colin-mccarthy opened #53910 "net_put module : Privilege denied"
##### SUMMARY

Getting a : Privilege denied message when trying to use the net_put module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
net_put.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cisco IOS Software, C3550 Software (C3550-IPSERVICESK9-M), Version 12.2(44)SE3, RELEASE SOFTWARE (fc2)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2019-03-16 22:07] felixfontein commented on #52596
The PR has been merged.

close_me

[2019-03-16 22:16] felixfontein commented on #27098
Out of curiosity: where is this syntax:
[code]
coming from? I cannot find anything about this in the docker_image module documentation, the docker-py documentation, the "docker build" CLI documentation, or anything else. As far as I know the build args are supposed to be a dictionary of key-value pairs. Passing a dictionary as a value (with a `command` key in it and a command as a value) doesn't m

[2019-03-16 22:16] #52596 closed, assigned to nobody

[2019-03-16 22:58] rsbeckerca commented on #51712
What turns out is that if ANSIBLE_MODULE_UTILS is added to the environment, the problem goes away. If ANSIBLE_LIBRARY is present. and you don't have ANSIBLE_MODULE_UTILS, then some items cannot be located, so perl errors happen, but silently.

[2019-03-16 23:17] felixfontein commented on #33960
Please note that the returned ansible_facts are deprecated for Ansible 2.8, and will be removed in Ansible 2.12. Also, maybe [this](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#inject-facts-as-vars) helps. No idea whether this can be set on task level, though.

[2019-03-16 23:26] jamescassell commented on #19084
So, I decided it was too much work to rewrite every role to support passing all parameters in a single variable.  I ended up writing this hack of a role that allows the same thing, but in a much more ugly way: https://github.com/jamescassell/ansible-role-loop

It doesn't (yet) support being called from within itself, but otherwise should work for most generic roles.  The only hang ups I've had is

[2019-03-16 23:28] felixfontein commented on #49909
resolved_by_pr #53911

[2019-03-17 04:29] L1ghtman2k commented on #52316
Yeah, I just had the same problem, I guess I will just use no encryption at all then :/

[2019-03-17 08:56] jborean93 commented on #52316
@L1ghtman2k, not sure what you mean, this doesn't mean that encryption isn't available but that the Windows host you are connecting to doesn't offer the required TLS protocol that the client can handle. The end result is that you should explicitly enable TLS 1.2 through some registry keys on the Windows hosts so it does support TLS 1.2. This can be done with the following Ansible task but it can a

[2019-03-17 09:46] L1ghtman2k commented on #52316
Didn't know that was a thing, thanks!

[2019-03-17 11:10] ScalaWilliam commented on #20470
Thank you @bcoca

[2019-03-17 11:31] 0xmilkmix opened #53916 "CloudStack task to list zones"
##### SUMMARY
The CloudStack API provides a method `listZones` which is not available as in the `cs` module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Either implement this in `cs_facts` task and list cluster's zones in the facts, or create a new `cs_listzones` task.

##### ADDITIONAL INFORMATION
[code]

Sample `_cs_zones`:
[code]

[2019-03-17 11:45] willthames commented on #53876
I'm not sure what use case we're trying to solve - if you use a wait condition, it's your responsibility to ensure that it's correct for the resource you're creating. If you're defining a bunch of resources in a yaml file, wait_condition is not going to work very easily.

But you could do something like:

[code]

[code]
      status: True
      reason: DeploymentPaused

[2019-03-17 11:47] jvalrog opened #53918 "apt: package holds are ignored by upgrade"
##### SUMMARY
After installing a package and marking it with `apt-mark hold pkg=version`, doing an upgrade with the `apt` module the hold is removed and the package is updated to latest version.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Raspberry Pi 1 B+ (arm32v6 / armhf)

##### STEPS TO REPRODUCE

[2019-03-17 11:48] felixfontein commented on #51200
resolved_by_pr #53917

[2019-03-17 12:10] jvalrog commented on #53918
I'm doing some more testing and found an issue that may not be related to Ansible::apt??

I started from a fresh Raspbian image and installed **docker-ce** manually:

[code]

Now, testing an `apt upgrade` I see it works as expected:

[code]

But with `aptitude`:

[code]

Those NEW packages are from the latest Docker version (18.09) and those bring docker-18.09 as a dependence.