[2018-04-25 10:48] du5tball opened #39288 "Unarchive not extracting gzipped files"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

The command returns no output

##### OS / ENVIRONMENT

CentOS 7, fully upgraded, with epel. As this is vagrant, ansible runs on localhost.

##### SUMMARY

Unarchive can't unpack gzipped files.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Unpacking of the gzipped file

[2018-04-25 11:34] Gittins opened #39290 "asa_config - multiple parents issue"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
asa_config module

##### ANSIBLE VERSION
ansible 2.5.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/vagrant/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version

[2018-04-25 11:39] willis7 commented on #5952
Just hit this.

Really puzzled why this is being ignored by the team given how many people have complained. Even a steer to the right solution would help....

[2018-04-25 11:50] trondhindenes commented on #39068
I don't know enough about the internals of Ansible to be able to process your response, but:
on 2.3.2 we could do this:

[code]

On 2.5.1 we have to do this in two steps:
[code]

[2018-04-25 11:54] zwindler commented on #36093
@zikalino @yuwzho Thanks!

[2018-04-25 11:59] rcarrillocruz commented on #39284
bot_skip

[2018-04-25 12:08] karniemi opened #39293 "vmware_guest: cloning requires disk.size"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

RHEL7.4
##### SUMMARY

vmware_guest module requires disk.size when a VM is cloned. The problem pops up when the clone is created to a different datastore i.e. when "disk.datastore"-attribute is set in a playbook. It should be possible to clone a VM wit

[2018-04-25 12:25] Akasurde commented on #37906
@karniemi Any news ?

[2018-04-25 12:38] nesanton commented on #39144
@sivel, omit removal was a great idea. Too bad it did not work out.
Of course I can pass the whole list prepared with a ternary to rsync_opts inline. It will look quite bad though if several options not covered by module args will be needed.
I just thought this points out a few unsafe places in the code.
Maybe rsync_opts deserves cleaning before this condition.
https://github.com/ansible/ansible/b

[2018-04-25 13:00] james-jra commented on #32238
I'm hitting this (somewhat unreliably) with ansible 2.5.1 on Ubuntu 14.04

The earlier fix (#29099) resets the fd/pipe ready for a retry using SSH.
This failure occurs because the fd/pipe is not reset before the extra "final" retry after a ControlPersist broken pipe [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/ssh.py#L277).

[2018-04-25 13:10] trishnaguha commented on #39167
@cnorthwood Thanks. What happens when you set `gather_facts:no` in your playbook?

[2018-04-25 13:16] ArseniiPetrovich commented on #24862
Facing it too.

[2018-04-25 13:25] cnorthwood commented on #39167
Hi @trishnaguha, it still fails for me I'm afraid. I'm using a bastion/jumpbox between me and the switch, I wonder if network_cli not respect the SSH proxy settings, which would cause it to time out when trying to execute? (although I do see an SSH connection happen successfully earlier in the logs)

[2018-04-25 13:32] shanep2300 opened #39295 "Grafana_dashboard error when trying to import"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

grafana_dashboard

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS

##### SUMMARY

Module error when trying to import dashboard into Grafana.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Json file gets imported into Grafana.

##### ACTUAL RESULTS

See error below.

[code]

[2018-04-25 13:47] sh-vi opened #39296 "Fact cache expires with fact_caching_timeout = 0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cache

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

CACHE_PLUGIN(/etc/ansible/ansible.cfg) = yaml
CACHE_PLUGIN_CONNECTION(/etc/ansible/ansible.cfg) = facts
CACHE_PLUGIN_TIMEOUT(/etc/ansible/ansible.cfg) = 0
DEFAULT_GATHERING(/etc/ansible/ansible.cfg) = smart

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Fact cache expires with fact_cachi

[2018-04-25 13:50] karniemi commented on #37906
@Akasurde ...sorry, I'm still a n00b here, so testing nonreleased versions (running from source) and that "ship it"-thingie is still a bit beyond my current contribution skills.

[2018-04-25 13:53] abadger commented on #38551
I'm pretty sure that this is working as expected.  SSH_ARGS is intended as a default that everything else overrides.

If you want to have arguments that override the other values then you want to add them to ssh_common_args or ssh_extra_args.  Looking at the config, I see that there are not environment variables for setting those.  If you need to set this via the environment instead of the config

[2018-04-25 14:16] trishnaguha commented on #39167
@cnorthwood I believe bastion/jumpbox might be the issue in this case. We do have proxysupport http://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#delegate-to-vs-proxycommand

[2018-04-25 14:19] fpultera commented on #35645
HI, with same issue:

` ansible --version
ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/share/ansible']
  python version = 2.7.13 (default, May 10 2017, 20:04:36) [GCC 6.3.1 20161221 (Red Hat 6.3.1-1)]`

Ansible code:
`   - name: Extract Spark_app.tgz into spark app directory
     unarchive:
       extra_opts: ['--strip-components=1']
       src

[2018-04-25 14:41] nheijmink opened #39300 "extending a variable using a loop does not work since ansible 2.5"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
!component

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_CALLBACK_WHITELIST(/etc/ansible/ansible.cfg) = ['timer', 'mail', 'profile_tasks']
RETRY_FILES_ENABLED(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

CentOS 7.4
##### SUMMARY

Extending the value in a loop does not longer work
##### STEPS TO REPRODUCE

[code]
wher

[2018-04-25 14:45] nheijmink commented on #39300
updated the description

[2018-04-25 14:48] mkrizek commented on #39300
This has been resolved in #38302 and will be included in the 2.5.2 release.

If you have further questions please stop by IRC or the mailing list:

- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-25 14:48] #39300 closed, assigned to nobody

[2018-04-25 15:07] trishnaguha commented on #36801
As discussed with the team, we do not guarantee idempotence with nxos_config when using `src`, I am going to close this issue since we won't fix it. Thanks for taking time to look into this.

[2018-04-25 15:07] #36801 closed, assigned to trishnaguha

[2018-04-25 15:08] trishnaguha commented on #37022
As discussed with the team, we do not guarantee idempotence with nxos_config when using `src`, I am going to close this issue since we won't fix it. Thanks for taking time to look into this.

[2018-04-25 15:08] #37022 closed, assigned to trishnaguha

[2018-04-25 15:29] Akasurde commented on #32543
@jdelvecchio This seems to be different issue that the original reported. Could you please open a new issue with `-vvvv` output and playbook with values ?

[2018-04-25 15:40] jdelvecchio opened #39305 "vmware_guest_find: AttributeError: 'NoneType' object has no attribute 'name'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Module name: vmware_guest_find

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
OS : Debian 9.1
VMware Vsphere : 6.5.0.13000

##### SUMMARY
Searching the vm folder path by vm name did not return the vm folder but a error message instead.

##### STEPS TO REPRODUCE
Run the following playbook :
ansible-playbook w

[2018-04-25 15:42] jdelvecchio commented on #32543
@Akasurde alright thank you for your reply, just submitted #39305

[2018-04-25 15:42] mattburns commented on #39129
Thanks all. In case anyone reads this and wants to downgrade: `pip install ansible==2.5.0`

[2018-04-25 15:42] AntPhil commented on #37749
@Akasurde thanks ! it's perfect :)

[2018-04-25 16:05] poiriermike opened #39308 "Add backup parameter to win_template module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_template
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Windows
##### SUMMARY

Add support for timestamped backups to the _win\_template_ module similar to the [template](http://docs.ansible.com/ansible/latest/modules/template_module.html) module

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

_win

[2018-04-25 16:34] cnorthwood commented on #39167
okay, I've fixed it, just realised the key has to be `ansible_ssh_common_args` and I also need to add `host` to the `provider` key, setting `ansible_host` is no longer sufficient (this worked in 2.4).

My group vars now look like this:

[code]

[2018-04-25 16:45] wilkis3 opened #39311 "ERROR! A vault password must be specified to decrypt data"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ERROR! A vault password must be specified to decrypt data

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[DEPRECATION WARNING]: DEFAULT_MODULE_LANG option, Modules are coded to set their own locale if needed for screenscraping . This feature will be removed in version 2.9. Deprecation warnings can be disabled by
setting deprecation_warnings=

[2018-04-25 16:49] ahuffman commented on #38942
@sirkubax Similar topic over [here](https://github.com/ansible/proposals/issues/109): https://github.com/ansible/proposals/issues/109

[2018-04-25 16:53] sivel commented on #38942
Per the decision recently made in the referenced proposal.  I'm going to close this.

Please see https://github.com/ansible/proposals/issues/109#issuecomment-384075214 for details.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-25 16:53] #38942 closed, assigned to nobody

[2018-04-25 16:58] #22596 closed, assigned to nobody

[2018-04-25 17:02] ewjoachim opened #39312 "run_once and smart gathering"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

run_once

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I guess N/A, but in case:
Origin: Debian stretch, Ubuntu 16.04
Target: Debian Stretch, Debian wheezy

##### SUMMARY

When the first play implicating several hosts has `run_once`, all the facts of the targeted hosts will be set to the value of the mach

[2018-04-25 17:16] unfii commented on #30982
The same symptomatic

Also not work on mac os

[code]

[code]

Error

"msg": "Do you have packaging installed? Try `pip install packaging`- No module named packaging.version"

any fix?

[2018-04-25 17:29] sivel commented on #39185
This is working as expected.  Attributes applied to `include_X` only apply to the include itself, and are not inherited by the tasks within.

Please see http://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#dynamic-includes-and-attribute-inheritance

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing lis

[2018-04-25 17:29] #39185 closed, assigned to nobody

[2018-04-25 18:03] joaogbcravo commented on #39185
Hey!

Sorry,  probably I'm not understanding it well, but why it works for "vars" and not for "environment". Where is it on the documentation?

[2018-04-25 18:03] #38275 closed, assigned to nobody

[2018-04-25 18:26] jopaik opened #39319 "IOS_COMMAND/IOS_Config/NXOS_config/NXOS_command timeout deprecated? what's the alternative.. this should not be deprecated."
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

ios_command
ios_config
nxos_command
nxos_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

timeout is required for the playbook to run correctly against cisco devices.
I got a depredicated error message, what is the new method of timeout otherwise this should not be deprecated and messa

[2018-04-25 18:27] jopaik commented on #39319
DEPRECATION WARNING]: Param 'timeout' is deprecated. See the module docs for more information. This feature will be removed in version 2.9.
Deprecation warnings can be disabled by setting deprecation_warnings=False in ansible.cfg.

[2018-04-25 18:30] phemmer opened #39321 "vmware_guest: allow autoselect_datastore without reconfiguring disks when deploying from template"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Currently when deploying from a template, there is no ability to configure the datastore the VM will live on without knowing the existing disk configuration of the template, or having to reconfigure the disks.
The module has a `autos

[2018-04-25 18:33] sivel commented on #39319
This is covered by the porting guide documentation located at http://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#top-level-connection-arguments-will-be-removed-in-2-9

Instead of using a top level `timeout`, you will instead need to use:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list

[2018-04-25 18:33] #39319 closed, assigned to nobody

[2018-04-25 19:15] jhawkesworth commented on #39308
Not a feature I need myself but I have no objection to this feature being added.  Feature parity with the python modules is desirable, where possible.

[2018-04-25 19:37] findtu opened #39327 "run into out-of-memory issue when using win_command to call a batch file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_command
[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[code]

[2018-04-25 19:38] mwpeterson opened #39328 "'AnsibleModule' object has no attribute 'tmpdir'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible.module_utils.basic.AnsibleModule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_COW_SELECTION(/Users/mpeterson/Code/reverbnation/kubernetes-config/ansible/ansible.cfg) = random
ANSIBLE_PIPELINING(/Users/mpeterson/Code/reverbnation/kubernetes-config/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/Users/mpeterson/Code/reverbn

[2018-04-25 19:39] mwpeterson commented on #39328
Seems to be the same problem as https://github.com/ansible/ansible/pull/36221#issuecomment-373335463

[2018-04-25 19:40] sivel commented on #37515
Duplicate of https://github.com/ansible/ansible/issues/20493

[2018-04-25 19:40] #37515 closed, assigned to nobody

[2018-04-25 19:41] acozine opened #39329 "Add incoming links to Network docs landing page"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Ansible websites, docs.ansible.com

##### ANSIBLE VERSION
2.5

##### SUMMARY
Customers who are interested in, or using,  the network capabilities of Ansible tend to land at either https://www.ansible.com/integrations/networks or https://www.ansible.com/overview/networking, but neither page currently has a link to http://docs.ansible.co

[2018-04-25 19:44] joeldamata commented on #35778
Using ansible 2.4.3.0

Playbook :
---
- name : App Restart
  hosts: application
  serial: 1
  become: yes
  become_method: sudo
  vars_files:
    - password.yaml

  tasks:
  - name: "Restart app"
    become_user: "blahblah"
    shell: "source ~/.bash_profile && nohup apple.sh"
    async: 1000
    poll: 0
    register: app_sleeper

  - name: "Check on app"
    async_status:
      jid: "{{ app_sleep

[2018-04-25 19:51] sivel commented on #34319
This was resolved in f1c458303a1ad00675497597e1f7fbc0539e314e and included in the v2.4.3 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-25 19:51] #34319 closed, assigned to nobody

[2018-04-25 20:00] #38892 closed, assigned to privateip

[2018-04-25 20:08] sivel commented on #39328
This is not a problem with `AnsibleModule` but a problem with `hacking/test-module`.

`hacking/test-module` needs to be updated to include something like:

[code]

!component =hacking/test-module

[2018-04-25 20:08] jborean93 commented on #39327
Are you able to give us some more details;

* What version of PowerShell are you on, 4 or 5?
* Can you share the actual error message returned back to Ansible
* The result of running `winrm get winrm/config` on the WIndows host
* A rough indication of how much memory running it locally will use

needs_info

[2018-04-25 20:26] sivel commented on #33632
Closing as a duplicate of https://github.com/ansible/ansible/issues/37892

[2018-04-25 20:26] #33632 closed, assigned to nobody

[2018-04-25 20:26] stintel opened #39332 "win_iis_website: "Cannot create a file when that file already exists. (Exception from HRESULT: 0x800700B7)""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_iis_website

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A
Managed device is running Windows Server 2016 Datacenter

##### SUMMARY
The documentation for win_iis_website says physical_path has to exists.

##### STEPS TO REPRODUCE
`ansible-playbook -i inv bug.yml  -D`

[code]

##### EXPECTED RESULTS
IIS website

[2018-04-25 20:28] jborean93 commented on #39276
@acidmind on further testing, I do not see what the issue is. Windows modules are set to force pipelining by default and will not create any files on the remote host, so whatever you set `remote_tmp` to will not make a difference. The exception to this rule is when copying a file or `ANSIBLE_KEEP_REMOTE_FILES=1` is set. I've also just run this command to test it out

[code]

Instead of creating th

[2018-04-25 20:28] stintel commented on #39332
When changing the playbook to remove the directory there is a different error, so this module is currently unusable:

[code]

Result:
[code]

[2018-04-25 20:29] sivel commented on #30351
Closing since this specific issue is resolved.

[2018-04-25 20:29] #30351 closed, assigned to nobody

[2018-04-25 20:39] sivel commented on #29541
This was resolved in 9001a8794f19053f52a807cb59ced87357873e9e and included in the 2.5.0 release.

Closing.

[2018-04-25 20:39] #29541 closed, assigned to nobody

[2018-04-25 20:40] BryannaM commented on #24632
Hello, we are getting this same error on some of our switches, we did some testing based on different DNOS versions.

"exception": "Traceback (most recent call last):\n  File \"/tmp/ansible_uVe8ZL/ansible_module_dellos6_config.py\", line 319, in <module>\n    main()\n  File \"/tmp/ansible_uVe8ZL/ansible_module_dellos6_config.py\", line 271, in main\n    config = Dellos6NetworkConfig(contents=confi

[2018-04-25 20:48] sivel commented on #34447
This issue was resolved in f1c458303a1ad00675497597e1f7fbc0539e314e and has been released in:

v2.4.3
v2.5.0

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-25 20:48] #34447 closed, assigned to nobody

[2018-04-25 20:52] sivel commented on #37865
I am unable to reproduce this issue with the information provided.  Please provide a full reproducer that shows this issue.

needs_info

[2018-04-25 20:54] stintel commented on #39332
Should have done more testing, the problem is not related to the web directory. The error comes from a port conflict with the default website.

Adding a task like this solves my problem:
[code]

Changing a port after a site was created doesn't seem to work however, but I'll create a new bug for this tomorrow.

[2018-04-25 20:54] #39332 closed, assigned to nobody

[2018-04-25 20:55] johnjelinek commented on #38398
I'm running into this in ansible 2.5.1. Here's my debug output:
[code]
I can't seem to find a name to associate with the network adapter and I get the same error: `VLAN 'XX' does not exist.`

[2018-04-25 20:57] sivel commented on #35714
Inline var definition on `import_tasks` is unsupported.  Docs have been updated to reflect this (https://github.com/ansible/ansible/pull/35753)

A future change will prohibit this syntax and give an error similar to:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansib

[2018-04-25 20:57] #35714 closed, assigned to nobody

[2018-04-25 21:02] greg-hellings opened #39334 "Ansible Galaxy init breaks symlinks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 27

##### SUMMARY
Using a custom role skeleton that has symlinks inside of it to other files, `ansible-galaxy init` will unlink those files and result in code duplication.

##### STEPS TO REPRODUCE
`ansible-galaxy init --role-skeleton=skel_dir

[2018-04-25 21:09] johnjelinek commented on #38398
I don't have a Distributed Virtual Portgroup (which it searches for here: https://github.com/ansible/ansible/blob/fda67bae50c3384f8656b5c013bfed5cb360997d/lib/ansible/modules/cloud/vmware/vmware_guest.py#L997). Here's some json details about this instance:
[code]

[2018-04-25 21:10] sivel commented on #32812
Inline var definition on `import_tasks` is unsupported.  Docs have been updated to reflect this (https://github.com/ansible/ansible/pull/35753)

A future change (currently in PR) will prohibit this syntax and give an error similar to:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/f

[2018-04-25 21:10] #32812 closed, assigned to nobody

[2018-04-25 21:16] johnjelinek commented on #38398
oh -- nvm, I figured out that I could set the name of the VLAN with the `name` param, ie: `VLAN10` and then get rid of the `vlan` param.

[2018-04-25 21:28] dvvolodin opened #39336 "| combine() broken in 2.5.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

combine() filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/home/dvvolodin/d2d/ansible/ansible.cfg) = [u'/home/dvvolodin/d2d/ansible/roles/internal', u'/home/dvvolodin/d2d/ansible/roles/external']
DEFAULT_TIMEOUT(/home/dvvolodin/d2d/ansible/ansible.cfg) = 60
DEFAULT_VAULT_PASSWORD_FILE(/home/dvvolodin/d2d/ansible/

[2018-04-25 21:31] sivel commented on #34665
This actually has nothing to do with `a_file_that_does_not_exist.yml` not existing.

The problem is that, in order for a relatively pathed included file to be found, we look at the file of the parent include, to ensure we start with the correct directory.

In this case, the path of the parent include is defined as `{{ ansible_system }}.yml`.  Because that contains a variable, we then try to templa

[2018-04-25 21:37] bcoca commented on #39336
closing as dupe of  #38271, fixed in #38302

[2018-04-25 21:37] #39336 closed, assigned to nobody

[2018-04-25 21:43] loqutus commented on #39282
maybe something like `shell: name='kill {{ PROCESS_ID }}'`

[2018-04-25 21:59] sivel commented on #34665
A not so correct solution, but a solution nonetheless:

[code]

Ideally we would have to implement some form of path inheritance that didn't depend on host context. Which would mean every consolidated include result, would need a unique parent with vars pre-resolved for later.

That isn't a fix that is simple, and not something that can make it into 2.6.

The above fix just does the best we can, a

[2018-04-25 22:16] mattclay commented on #36083
@s-hertel If we cannot reliably wait to return results, it seems like either that feature should not exist or there should be a warning in the documentation regarding the current situation so users are less likely to be caught unaware of the possibility of it changing after the wait completes.

[2018-04-25 22:29] findtu commented on #39327
PowerShell version is 4

winrm get winrm/config
PS C:\Users\Administrator> winrm get winrm/config
Config
    MaxEnvelopeSizekb = 500
    MaxTimeoutms = 60000
    MaxBatchItems = 32000
    MaxProviderRequests = 4294967295
    Client
        NetworkDelayms = 5000
        URLPrefix = wsman
        AllowUnencrypted = false
        Auth
            Basic = true
            Digest = true
            Ker

[2018-04-25 22:36] findtu commented on #39327
I am calling the Rational Performance Tester's silent execution, which will definitely generate several performance reports/files under the specific folder. And from the commandline log, I can see
DataContributor Launch:com.ibm.rational.test.lt.execution.results.ipot.controller.RTBDataContributor@71f312ea
Provider com.ibm.rational.test.lt.execution.results.ipot.controller.RTBDataContributor@71f312

[2018-04-25 22:37] findtu commented on #39327
the strange thing is if I run the startRPT.bat in commandline directly, there is no out of memory issue.

[2018-04-25 22:37] jtauke commented on #39235
That seems to do the trick.  I just tested uncerimoniously slapping a "Start-Service -Name netlogon" after the last variable.  Once that's done the playbook runs as expected.

    If(-not $check_mode) {
        $sm_cred = ConvertTo-SecureString $safe_mode_admin_password -AsPlainText -Force

        $install_forest_args = @{
            DomainName=$dns_domain_name;
            SafeModeAdministrator

[2018-04-25 22:45] mrlesmithjr commented on #4178
Anyone opposed to making this a separate module such as `virt_clone` rather than adding clone to the existing `virt` module?

[2018-04-25 23:34] mattclay commented on #39079
@Fred-sun You can run the test from the devel branch with:

[code]

To make it easier to have the correct requirements you may want to use the `--docker`, `--tox` or `--requirements` options. You'll also need to have access to an Azure account to run the tests.

[2018-04-25 23:36] jborean93 commented on #39327
Thanks @findtu for the info, I believe your problem lies with the `MaxMemoryPerShellMB` value. What this means is that a shell spawned by WinRM can only have a maximum of 1024MB because it starts to throw errors as it isn't allowed any more memory. You can test this out with the following playbook

[code]

You can use win_shell/win_command to run the last step but I wanted to demonstrate the issue

[2018-04-25 23:48] jborean93 commented on #39104
I am only able to replicate this issue once I install a version of pyasn1 that is really old (0.1.1),  all versions from 0.3.1 and newer work fine and that is the minimum set in the package requirements for requests-credssp. From what it sounds like it could be that pyasn1 that is installed in the same Python environment as Ansible is too old. Are you able to try the following

* Verify that `whic

[2018-04-26 00:38] phemmer commented on #39321
Created PR #39339 to provide at least one way to accomplish the goal. However I'm not sure if we want another, easier to use, mechanism for accomplishing the goal here. Having to fetch the template facts just to set `autoselect_datastore` is rather cumbersome.

[2018-04-26 00:54] jborean93 commented on #39279
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In particular, we believe you have said:

   * You wanted to use `mode: preserve` with `remote_src: yes`  and it errors out

However, h

[2018-04-26 01:04] jborean93 commented on #39288
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * There is a long history behind this, feel free to peruse https://github.com/ansible/ansible-modules-core/issues/3241 if you wish

The issue comes down to the f

[2018-04-26 01:04] #39288 closed, assigned to nobody

[2018-04-26 01:07] zikalino commented on #39079
@Fred-sun i don't think you can reproduce this issue easily. maybe it fails 10% of time.
i rechecked test yml, and there's nothing obvious there.
we simply create and then delete function app, so most likely the problem is on Azure side.
We try to delete the resource, but previous operation is not finished yet, or something like that.
Perhaps adding some delay would help.
Anyway, i think you shoul

[2018-04-26 01:59] zikalino commented on #39079
@Fred-sun i am able to reproduce this issue with following playbook(s):

https://github.com/zikalino/ansible-samples/blob/master/stress/stress-azure-function.yml

Actually right now it started failing for me quite frequently.

[2018-04-26 02:25] davistran86 opened #39342 "failed with ios_config module that using wrong "show running-config all""
**ISSUE TYPE**
Bug Report

**COMPONENT NAME**
ios_config

**ANSIBLE VERSION**

**CONFIGURATION**
DEFAULT_HOST_LIST(/root/ansible-network/ansible.cfg) = [u'/root/ansible-network/inventory']
DEFAULT_TIMEOUT(/root/ansible-network/ansible.cfg) = 30
HOST_KEY_CHECKING(/root/ansible-network/ansible.cfg) = False

**OS / ENVIRONMENT**
Ubuntu 16.04

**SUMMARY**
I'm using ansible 2.5.0 and trying to use ios_

[2018-04-26 02:31] yuwzho commented on #39231
@vogon1 As my understanding, you want to add a feature to attach an existing NSG to NIC? There is a PR just been merged, you can have a try according to the instruction in this PR #39213 , to see whether it is the feature you want.

Maybe your playbook should like this
[code]

[2018-04-26 02:38] Fred-sun commented on #30982
@unfii  Yes, it need install packaging( If not install packaging to create resourcegroup will get this error message) , you can install the packaging by pip install packaging, Thanks

[2018-04-26 02:49] Fred-sun commented on #30982
@adithyakhamithkar Sorry, I can't get more information from you update, Could you update the full YML file and error message, Thanks!

[2018-04-26 03:07] findtu commented on #39327
usually this app will cost more than 2GB memory but less than 4GB, I didn't count the exact number.

[2018-04-26 03:14] Fred-sun commented on #39079
@zikalino  I will try as your said.  Thanks!

[2018-04-26 03:15] jborean93 commented on #39327
@findtu if that is the case, then it is hitting the max of 1GB that is currently set. You need to increase the value to at 4096 for it to potentially work.

[2018-04-26 03:18] zikalino commented on #39079
@Fred-sun now i am able to reproduce it every single time... it's interesting, because this morning i haven't seen any failures, and now just started failing every time...

[2018-04-26 03:20] #34269 closed, assigned to nobody

[2018-04-26 03:29] mohankumargupta commented on #32487
This worked for me.

https://gist.github.com/mohankumargupta/398b2f2ab5f1653969f54752c30a88ba

[2018-04-26 03:44] unfii commented on #30982
The full traceback is:
  File "/var/folders/nm/m2b40p394vnd0gnjnlg0hnxm0000gn/T/ansible_IG_G9K/ansible_module_azure_rm_resourcegroup.py", line 98, in <module>
    from msrestazure.azure_exceptions import CloudError

fatal: [localhost]: FAILED! => {
    "changed": false,
    "invocation": {
        "module_args": {
            "ad_user": null,
            "api_profile": "latest",
            "appen

[2018-04-26 04:04] adithyakhamithkar commented on #30982
@Fred-sun I have updated my error in my first comment.

[2018-04-26 04:30] quulah opened #39346 "Appending to dict broken in Ansible 2.5.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
"set_fact"

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
"N/A"

##### SUMMARY
Appending to dict in a loop is broken with Ansible 2.5.1 and Python 3.

This works with Ansible 2.4.2.0 in Python 2.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[2018-04-26 04:35] quulah commented on #39346
This doesn't actually seem to be related to Python 3. This doesn't work either:

[code]

[code]

[2018-04-26 04:39] findtu commented on #39327
That works, thanks a lot for your quick response and solution. I am just curious when I run the command directly in powershell commandline, it doesn't have such limit, it may go different way when I use remote powershell call.

[2018-04-26 04:39] findtu commented on #39327
@jborean93 Thanks for your help

[2018-04-26 04:39] #39327 closed, assigned to nobody

[2018-04-26 04:41] shanemcd commented on #34863
I'm able to reproduce this consistently:

[code]

In summary:

- Run `rabbitmq_user` once
  - Successful
- Check permissions
  - Looks ok
- Run `rabbitmq_user` again
  - Fails
- Check permissions again
  - Gone?

RabbitMQ 3.7.4 on RHEL 7.5. Ansible 2.5.1.

[2018-04-26 04:44] msaladna commented on #39346
Broken for lists and strings too in 2.5.1. Works fine in 2.4.2.

[code]

2.4.2 produces "foobarbaz". 2.5.1 produces "foobaz".

[2018-04-26 04:49] evenstine commented on #39346
I too managed to reproduce this issue. Down grading with PIP to 2.5.0 the feature works.

Code Used to test the basic feature:

`cat test.yml
---
- hosts: localhost
  tasks:
    - set_fact:
        secrets: "{{ secrets|default({}) | combine( { item.key : item.value } ) }}"
      with_items:
        - {'key': 'a', 'value': 1}
        - {'key': 'b', 'value': 2}
        - {'key': 'c', 'value': 3}

[2018-04-26 04:51] jborean93 commented on #39327
Yep it is different, when running a process through WinRM, the process/job model in Windows sets a limit on what it is allowed to do and resource limits. This is different from directly running the command in through RDP or on the direct console. Glad it is working for you and thanks for the confirmation.

[2018-04-26 04:52] jborean93 commented on #39346
This has been resolved in #38302 and will be included in the 2.5.2 release.

If you have further questions please stop by IRC or the mailing list:

- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-26 04:52] #39346 closed, assigned to nobody

[2018-04-26 04:54] shanemcd commented on #34863
I've tested the patch at https://github.com/ansible/ansible/pull/35598 and it resolves my issue too.

[2018-04-26 05:26] Fred-sun commented on #30982
@unfii Sir, Could you use pip list to make sure the packaging is install successfully, If install successful , it will show ( packaging 17.1),if not successful, try this command: sudo pip install packaging. Thanks!

[2018-04-26 05:36] #33414 closed, assigned to ganeshrn

[2018-04-26 05:36] jmetcher2 opened #39348 "mssql_db module database existence check always returns true"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mssql_db

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible control machine is Ubuntu 16.04
Trying to control SQL Server 2017 running on docker running on Ubuntu 16.04
##### SUMMARY

mssql_db database existence checks don't work.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

1. Database to be creat

[2018-04-26 05:37] Akasurde commented on #38320
@karniemi Could you please try [this fix](https://github.com/ansible/ansible/compare/devel...Akasurde:vmware_vm_shell) and let me know if it works for you ? If you need help for testing PR, then please follow these steps - http://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr

needs_info

[2018-04-26 05:39] jmetcher2 commented on #39348
The offending function is:

[code]
As far as I can see in the pymssql documentation, we wouldn't expect rowcount to return anything other than -1 in that situation, and -1 is truthy.

This function works at least in my environment:

[code]

[2018-04-26 05:57] chanond-w opened #39349 "win_nssm should accept commands for application as well"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_nssm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None
##### OS / ENVIRONMENT

Windows 10 control machine, Windows Server 2016
##### SUMMARY

`win_nssm` keeps returning `Application does not exists on the host` because the way `win_nssm` check the application parameter is to check if the executable file exists. However, it is pos

[2018-04-26 06:02] palakbadgujar opened #39350 "Tower_version missing in inventory file of ansible-tower how to upgrade"
latest version which i am using of ansible tower is:-
version:- ansible 2.5.1
And want to upgrade to :- version:- 3.2.3
I followed the up gradation steps:-
wget http://releases.ansible.com/ansible-tower/setup/
 tar -xvzf ansible-tower-setup-latest.tar.gz
ls
cd ansible-tower-setup-3.2.3/
ls
here i went inside the inventory file but where to change the ansible tower version ?
the version is missing

[2018-04-26 06:16] #26755 closed, assigned to nobody

[2018-04-26 06:16] unfii commented on #30982
Hi there!

pip list
DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
packaging (17.1)
pip (9.0.3)
pyparsing (2.2.0)
setuptools (38.5.2)
six (1.11.0)
wheel (0.30.0)

Special pip packet installed

[2018-04-26 06:22] eclecticitguy opened #39351 "iosxr_config crash on NCS5508 6.2.3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iosxr_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_JINJA2_EXTENSIONS(/etc/ansible/ansible.cfg) = jinja2.ext.do
DEFAULT_LOAD_CALLBACK_PLUGINS(/etc/ansible/ansible.cfg) = True
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

Ran From: Mac

[2018-04-26 06:24] unfii commented on #30982
which python
/usr/local/bin/python
MacBook-Pro-Cajka:ansible cajkaaleksandr$ /usr/local/bin/python --version
Python 2.7.14

[2018-04-26 06:28] Akasurde commented on #39350
@palakbadgujar Thanks for reporting this issue. Could you please update the original description as per ansibot's suggestions ? That will help us to sort issues. Thanks.

[2018-04-26 06:29] trishnaguha commented on #39167
@cnorthwood Can you ssh to the host manually and check if it is waiting for any prompt?

[2018-04-26 06:30] palakbadgujar commented on #39350
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
- ansible version upgradation 3.2.3

##### ANSIBLE VERSION
 - ansible 2.5.1

[2018-04-26 06:35] palakbadgujar commented on #39350
Unable to upgarde the ansible-tower version .

[2018-04-26 06:37] Ompragash commented on #39350
@palakbadgujar can you tell me current ansible tower version that your using?

[2018-04-26 06:39] #39177 closed, assigned to trishnaguha

[2018-04-26 06:39] palakbadgujar commented on #39350
sure...ansible 2.5.1

[2018-04-26 06:43] Akasurde commented on #39305
@jdelvecchio Thanks for reporting this issue. Does user used to run playbook has read permissions on VMs ? Could you please elaborate more on your setup as I am not able to reproduce the issue my environment ? I am using same 6.5 and 2.5.1.

[2018-04-26 06:43] Akasurde commented on #39305
needs_info

[2018-04-26 06:46] Ompragash commented on #39350
Hi @palakbadgujar

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This all

[2018-04-26 06:53] Akasurde commented on #39165
@saargrin Thanks for suggesting this feature. Currently, vmware_guest is overburdened with lot of features, so I feel creating a new module will be the best approach here. Let me know if you have any suggestion or idea.

[2018-04-26 06:53] Akasurde commented on #39165
needs_info

[2018-04-26 06:56] palakbadgujar commented on #39350
Thanks @Ompragash .

[2018-04-26 07:03] #39350 closed, assigned to nobody

[2018-04-26 07:05] gdpak commented on #39351
@eclecticitguy Earlier it was reported by just virtual XR. Looks like cisco has changed this command in  6.3.2 release for all XR products. It is fixed by https://github.com/ansible/ansible/pull/37609 . Can you try this fix ?

[2018-04-26 07:24] ratamovic commented on #38702
Looks like a little part of my issue was due to the "acl" package missing (on debian stretch in my case). Ansible was failing to change tmp folder and script permissions, falling back to chown/chmod and failing on it too.
But I still have many other tasks (a simple unarchive task from an url for example trying to download in a tmp dir) failing starting from 1.5.0...

[2018-04-26 07:26] gdpak commented on #39351
fix in #37609 does not only apply to iosxr_facts but to iosxr_config also as while getting device capabilites in setting up connection to iosxr we were expecting 'show version brief' to be working.

[2018-04-26 07:43] levytal commented on #16894
Reproduced today with Ansible version 2.4.0.0 and without --ask-pass.
Ansible doesn't support prompting for an SSH key passphrase, and hangs.
After removing the passphrase from the key and trying again, the playbook runs.

[2018-04-26 07:48] vogon1 commented on #39231
@yuwzho Thanks for your response.
I am already using the code from pr #39213 and I am happy with that.

However, the module still tries to do something with the security group. As I have no rights on the security group, I get a permission denied. My guess is it tries to add port 22 to the NSG for my linux VM; the only way to prevent that is to define open_ports, but then it wants to add those port

[2018-04-26 08:09] yungezz opened #39352 "azure_rm_loadbalancer failed: no attribute 'enable_floating_point_ip'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_loadbalancer

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

use azure_rm_loadbalancer to create a load balance, which will be used later for a VMSS. creation of loadbalancer works fine. but when run it second time, where I updated some parameter in other tasks, it failed with below error.
[

[2018-04-26 08:22] uncycler opened #39353 "Can't append element to a list with 2.5.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 20
DEFAULT_GATHERING(/etc/ansible/ansible.cfg) = explicit
DEFAULT_MANAGED_STR(/etc/ansible/ansible.cfg) = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
RETRY_FILE

[2018-04-26 08:36] DaspawnW opened #39354 "with_items in combination with set_facts does not work"
#### ISSUE TYPE
Bug Report

##### COMPONENT NAME
* set_fact
* loop | with_items

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg:
[code]

##### OS / ENVIRONMENT
MacOSX 10.13.4

##### SUMMARY

A loop over set_facts to append to a variable returns only the last item. In the past it was possible to append dynamically to a variable.

##### STEPS TO REPRODUCE

[code]

Produces output:
[co

[2018-04-26 08:36] Fred-sun commented on #30982
@unfii Yes, I think It may cause by some azure relation modules , I reproduce but still can't reproduce it. I will continue try. Thanks!

[2018-04-26 08:39] jborean93 commented on #39353
This has been resolved in #38302 and will be included in the 2.5.2 release.

If you have further questions please stop by IRC or the mailing list:

- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-26 08:39] #39353 closed, assigned to nobody

[2018-04-26 08:52] cnorthwood commented on #39167
hi @trishnaguha, SSHing seems to take me straight to a terminal

[code]

[2018-04-26 08:52] jborean93 commented on #39354
This has been resolved in #38302 and will be included in the 2.5.2 release.

If you have further questions please stop by IRC or the mailing list:

- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-26 08:52] #39354 closed, assigned to nobody

[2018-04-26 09:05] Akasurde commented on #32044
@jffz What is version of vSphere used ? For customization, VMware uses VMware tools and this docs provides support matrix for OS and vSphere versions -  http://partnerweb.vmware.com/programs/guestOS/guest-os-customization-matrix.pdf

[2018-04-26 09:06] byumov commented on #30411
Same issue for me.
I have six MacOS hosts and run:
`ansible-playbook tcmacagents.yml -f 6`
It hangs on first step "Gathering Facts". Always on the same host(tcmacagent5):
`TASK [Gathering Facts] *****************************************************************************************************************
ok: [tcmacagent1]
ok: [tcmacagent2]
ok: [tcmacagent6]
ok: [tcmacagent3]
ok: [tcmacagent4]

[2018-04-26 09:13] acidmind commented on #39276
@jborean93 thanks you for reply. I need this to work properly with the antivirus program with the application startup management module. Because I can not create an exception for the entire TEMP folder.
And when i run the folowing command:
`ansible -i inventory 'srvtstfe2' -m win_updates -a state=searched -e ansible_remote_tmp=C:\\\\temp`

I still see in the AV program log that Ansible copies the

[2018-04-26 09:15] karniemi commented on #38320
@Akasurde ...tried it by copying the vmware_vm_shell.py file over an existing ansible 2.5.1 installation(running in docker). Executing a failing shell command produces "implementation error --msg to explain the error is required"...so something is not quite OK in that patch.  But at least it seems to catch the failure, which is nice!  I used these attributes to imitate a failing command:
[code]

[2018-04-26 09:27] carslen commented on #39184
Noticed the same problem with 2.5.0 why I had a rollback to Ansible 2.4.
Ansible Controlhost = CentOS 7.4

[code]

[2018-04-26 09:28] jhawkesworth commented on #39349
@chanond-w  - I think you just need to specify full path to the application .exe file - see the examples here: http://docs.ansible.com/ansible/latest/modules/win_nssm_module.html#examples

Please can you try using full path to the syncthing .exe file and report if that works?

needs_info

[2018-04-26 09:30] Fred-sun commented on #39079
@zikalino yes, I have try your YML , It run instable, Run three times, three times fail on delete app and one time on create app. error message as below：
Fail on delete app
[code]

[2018-04-26 09:32] jborean93 commented on #39276
Hmm this is something a bit more nefarious, win_updates uses become which creates some dynamic c# code in a PowerShell wrapper. I've reopened the issue as this isn't controlled by Ansible and I believe is hard coded in PowerShell itself. I'm not sure what a fix would be for it right now.

To get you going you can go back to Ansible 2.4.x as win_updates used scheduled tasks and not become which sho

[2018-04-26 09:47] karniemi commented on #38320
@Akasurde ... by reading the code...I also realized that catching stdout/stderr of the shell command is a no go? That's pretty sad: vmware/pyvmomi-community-samples#191 ...

[2018-04-26 09:49] saargrin commented on #39165
Hi
Thanks for your reply

I actually think it would be beneficial to have this feature as part of the
general guest module since this operation doesn't seem to justify a
separate module
I can implement this in python myself, how would I go about contributing
this either as separate module or part of vmware_guest?

Thanks

On Thu, 26 Apr 2018, 09:54 Abhijeet Kasurde, <notifications@github.com>
wrot

[2018-04-26 09:58] Akasurde commented on #39165
@saargrin I think a separate module will give justification to this feature. Honestly, right now, vmware_guest is overpacked with features and adding one more will increase chance of new issues,  complexity and maintainability of the module. So to keep things the UNIX way "do one thing and do it well" +1 for the new module.

Open Source Contribution is always welcomed. You can start looking into t

[2018-04-26 10:01] leupo commented on #30411
If it is a mount and it is not usable(touch a file or something) remount it. In my special situation i always reverted a vm to a snapshot for testing purposes and the NFS handle doesnt match within this vm - so it is in stale state

[2018-04-26 10:10] Fred-sun commented on #30982
@adithyakhamithkar   I ran this YML successfully , But when I uninstall azure and packaging packing and reinstall it, it will meet similar error as you describe,
 @yuwzho  Could you help check it the similar error , Thanks !
[code]

[2018-04-26 10:24] jainnikhil30 opened #39356 "Add documentation for system_tmpdirs"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ansible.cfg
##### ANSIBLE VERSION

[code]
##### SUMMARY

Add documentation for system_tmpdirs which can be set via ansible.cfg in 2.5. It allows user to set a directory other than default /var/tmp which Ansible can use for non-privileged users on the remote host. Following parameter can be set in the ansible.cfg in the [defaults] secti

[2018-04-26 10:27] dagwieers commented on #38917
There is one problem in the case where the intent is to store a value with the `%VAR%` preserved. One such case is **win_regedit** where the automatic expansion is usually unwanted. So the main question for every supplied entry containing `%VAR%` is whether we are the "consumer" of that data, or we are only processing it for someone else to consume (as-is).

The behaviour may depend on this, but s

[2018-04-26 10:33] jffz commented on #32044
vSphere version 6.5.0.13000

[2018-04-26 10:34] adithyakhamithkar commented on #30982
I am doing these steps:
[code]
I found out that this package `azure-common~=1.1.5` us causing the problem

Can you please give me the steps that you used to uninstall every thing and reinstall. I tried this my virtual machine it works fine.

[2018-04-26 10:38] jborean93 commented on #39356
As temp dirs are a shell construct we have them documented for the shell plugins that support them. You can see these options, including `system_tmddirs` for the default shell plugin sh here https://docs.ansible.com/ansible/2.5/plugins/shell/sh.html.

[2018-04-26 10:38] #39356 closed, assigned to nobody

[2018-04-26 10:51] boodera commented on #28978
The error still occurs for Ubuntu 16.04 Xenial

[2018-04-26 11:32] Thorbenn opened #39357 "IIS AppPool Attribute managedRuntimeVersion not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_iis_webapppool

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Running Ansible on: Ubuntu 16.04 LTS
Managing: Windows Server 2016 and 2012 R2 (German System Language)

##### SUMMARY
When trying to set the Attribute managedRuntimeVersion of the ApplicationPool to "No managed Code" (in german "Kein verwalteter C

[2018-04-26 11:42] Thorbenn commented on #39357
Found the issue...

If wanting No Managed Code the Statement has to be set as follows:

`- name: Create Test AppPool
       win_iis_webapppool:
         name: "Test"
         state: started
         attributes:
           managedRuntimeVersion: ''
           processModel.loadUserProfile: True
           processModel.identityType: 3
           processModel.userName: 'Bob'
           processModel.pa

[2018-04-26 11:42] #39357 closed, assigned to nobody

[2018-04-26 12:26] rickard-von-essen commented on #37640
It should work, but I haven't tested it.

[2018-04-26 12:35] mkrizek commented on #18972
@theraser I get `..."msg": "Could not find or access 'non-existing.j2'...`. It doesn't seem to be case anymore in the recent versions so I am going to close this. If you're still having the same issue, please re-open. Thanks!

[2018-04-26 12:35] #18972 closed, assigned to nobody

[2018-04-26 12:44] mkrizek commented on #22556
@jsgoller1 With the recent versions of ansible I get
[code]

As per above, I am going to close this. Thanks!

[2018-04-26 12:44] #22556 closed, assigned to nobody

[2018-04-26 12:54] L-B commented on #10110
Hello,

I'm still having issues with that on 2.5.1, as per #27262 that I opened last year. Anything I can do to help getting it fixed?

Thanks

[2018-04-26 13:10] SISheogorath commented on #38400
Yes, works now. Thanks a lot!

(And sorry for the delay)

[2018-04-26 13:10] #38400 closed, assigned to nobody

[2018-04-26 13:42] Chostakovitch opened #39360 "Jinja2 substitution when accessing variables programmatically"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Jinja2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Empty result.

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When accessing a variable programmatically, if the variable *value* contains a Jinja2 substitution, it is not done.
It is done when accessing the variable the classic way, as shown in the example below.

##### STEPS TO REPRODU

[2018-04-26 13:47] jopaik commented on #39319
@sivel Thanks that worked.

[2018-04-26 14:02] eregimbald commented on #39184
I rolled back to 2.4, now the host prompter works but the role prompter is broken.

[code]

CLI:

[code]

[2018-04-26 14:14] #39279 closed, assigned to nobody

[2018-04-26 14:16] #39328 closed, assigned to nobody

[2018-04-26 14:24] #39360 closed, assigned to nobody

[2018-04-26 14:34] allewwaly opened #39363 "ERROR! SSH encountered an unknown error"
The error is:

it happens when installing metron, but i think it's related to ansible configuration.
The node1 is defined as
hosts = [{
    hostname: "node1",
    ip: "192.168.66.121",
    memory: "8192",
    cpus: 4,
    promisc: 2  # enables promisc on the 'Nth' network interface
}]
in Vagrantfile
However in fact it obtains ip 10.0.2.15 by nat, and I can ssh to it using host-ip:2222 by port forw

[2018-04-26 14:43] trishnaguha commented on #38669
@donpatzone Did setting timeout help?

[2018-04-26 14:46] #39363 closed, assigned to nobody

[2018-04-26 14:53] mikewiebe opened #39364 "nxos control socket does not work properly following nxos upgrade or reload"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_install_os

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS

##### SUMMARY
When running nxos playbooks that result in an reboot of the nxos device, and already existing control socket will be used following the upgrade, but the socket appears to be in a bad state.

##### STEPS TO REPRODUCE
I can provid

[2018-04-26 15:04] parmstro commented on #30982
Sorry guys. I have been on bereavement leave for a while. Just got back and
will follow up.

Cheers,

PA

On Mon, Apr 23, 2018, 1:56 AM Yuwei Zhou, <notifications@github.com> wrote:

[2018-04-26 15:14] maxamillion commented on #27262
cc @abadger

[2018-04-26 15:30] bcoca commented on #31129
@kustodian  http://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keywords.html

bug was that we only called the callback event when the global diff was set, but not the task level one, fix incoming.

[2018-04-26 15:34] vtomasr5 opened #39368 "Ansible 2.5.1 doesn't concatenate lists using set_fact"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
set_fact / list concatenation ?

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_NOCOWS(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = /tmp/%%h-%%r
COLOR_VERBOSE(env: ANSIBLE_COLOR_VERBOSE) = cyan
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 10
DEFAULT_GATHERING(/etc/ansible/ansible.cfg) = smart
DEF

[2018-04-26 15:35] Koten-Kostiantyn opened #39369 "Crash when try to pass variable to role with the same name as it is in role"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

OST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

Ubuntu 17.10

##### SUMMARY

I have 2 roles. Both roles has default variable "aws_region"
when I include 1 role in another(with passing aws_region variable) shit happens.

##### STEPS TO REPRODUCE

I hav

[2018-04-26 15:39] sivel commented on #39368
This has been resolved in #38302 and will be included in the 2.5.2 release.

If you have further questions please stop by IRC or the mailing list:

- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-26 15:39] #39368 closed, assigned to nobody

[2018-04-26 15:50] sivel commented on #39369
There is no reason to do this specific thing.  The `aws_region` variable will already be available without explicitly injecting it like this.

Additionally due to the way that variables are handled, they aren't merged from different levels before evaluation, they are immediately squashed, and evaluated.  So your example makes the variable self referential.

If you have further questions please sto

[2018-04-26 15:50] #39369 closed, assigned to nobody

[2018-04-26 16:00] oookotooo commented on #39369
Variables in defaults does not overwrite, so, in another role variable aws_region will have not apropriate value

I got your idea

[2018-04-26 16:04] maxamillion commented on #35672
@kustodian I think your proposed error reporting improvement to handle this scenario is a good idea. +1

[2018-04-26 16:05] maxamillion commented on #34780
@cheeye thank you! I'd definitely like to get to the bottom of this.

[2018-04-26 16:18] #31129 closed, assigned to trishnaguha

[2018-04-26 16:28] eclecticitguy commented on #39351
I pulled the latest Ansible development release and retried my configuration.  The previous "show version brief" error is no longer there but I'm still getting an error:

[code]

[2018-04-26 16:31] caparisi commented on #31431
If someone need, solution is provide here:

https://stackoverflow.com/questions/48293226/how-to-run-playbook-api-in-ansible-with-vault?noredirect=1&lq=1

[2018-04-26 16:33] backbord opened #39374 "new strategy like "free" but uninterrupted execution per host"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

plugins/strategy/atomic

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
(Output of ``ansible-config dump --only-changed``)

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I would like to have a strategy that executes playbooks in such a way that once the play for a host is started, it will run to completion without "its" worker bein

[2018-04-26 16:35] twhiston commented on #37600
I did some more research on this and it seems like when it is posted to the api it does not update the admin RoleBinding properly because it already exists. The openshift_raw module states that it should act like a patch if the object exists, but this clearly doesn't happen in this case. As soon as I change the RoleBinding name to something else (project-admin for example), it works properly, and

[2018-04-26 16:43] 4xy commented on #21562
Ansible 2.5.1 on my dev machine works well, but in docker container under CoreOS fails with

<xxx.xxx.xxx.xxx> SSH: EXEC scp -vvv -S none -o Port=10022 -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o User=gk -o ConnectTimeout=10 /var/jenkins_home/.ansible/tmp/ansible-local-632beRoZ_/tmpxTu_mt '[xxx.xxx.

[2018-04-26 17:10] bbb31 commented on #21562
@4xy I attempted to re-open this bug; it was closed as "not fix"; you must do this instead: `env ANSIBLE_LOCAL_TEMP=$HOME/.ansible/tmp ANSIBLE_REMOTE_TEMP=$HOME/.ansible/tmp ...`

It's annoying I know, but what can you do?

[2018-04-26 17:12] blino opened #39378 "Inconstency around hash_behaviour and hash_behavior in code/doc/tests"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

hash_behaviour

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No specific settings

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The Ansible code references the `hash_behaviour` variable and `ANSIBLE_HASH_BEHAVIOUR` environment variable (with a `u` character), but some parts of the doc and tests use `hash_behavior`

[2018-04-26 17:28] aturetta opened #39379 "yum_repository module: file param ignored"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum_repository

##### ANSIBLE VERSION
[code]

##### SUMMARY
Parameter 'file' is ignored when using module yum_repository

I think this is due to 'file' string missing from the allowed_params array, inside the module .py

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Should create file /etc/yum.repos.d/elastic.repo

##### ACTUAL RESULT

[2018-04-26 17:51] juliohm1978 commented on #33447
Same issue under ansible 2.5

Removing `mandatory` from the template gest rid of the warning.

Will be glad to get this fixed in a future version. The `mandatory` filter is very helpful and we use it to make sure scripts run with all necessary parameters defined from the command line.

[2018-04-26 18:07] abadger commented on #27262
I cannot reproduce this error with a checkout of ansible-2.3.1.0 or the head of the current devel branch.
[code]
Command run:
[code]

[code]

I note that the error message is actually a warning.  The warning seems to indicate that the template module encounters an error that we cannot see and then, when the callback attempts to display that error, the callback throws the decoding error.  So there

[2018-04-26 18:10] juliohm1978 commented on #37535
I'm still getting the same warning using ansible 2.5.0 and 2.5.1

[code]

`include_vars` task prints warning revealing passwords from a protected vault!

[code]

[2018-04-26 18:30] AlanCoding opened #39382 "ansible_verbosity showing up in ansible-inventory hostvars"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
A new hostvar is showing up in the output from ansible-inventory that did not come from the inventory file.

##### STEPS TO REPRODUCE
Inventory file:

[code]

command:

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS

[2018-04-26 18:37] sivel commented on #39382
Oy, looks like we need to maintain a duplicate list (`INTERNAL_VARS`) in `lib/ansible/cli/inventory.py` of vars to exclude.

I can't imagine a better way currently, so for the short term, seems we just need to add `ansible_verbosity` to that list.

[2018-04-26 18:39] #37892 closed, assigned to nobody

[2018-04-26 18:40] sivel commented on #37892
Closed via https://github.com/ansible/ansible/pull/39377

[2018-04-26 18:52] basictheprogram opened #39384 "CLI "choco install rsat" works win_chocolatey install rsat fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
$ ansible-config dump --only-changed
$

##### OS / ENVIRONMENT
Ansible host: macOS 10.12.6
Managed host: Windows 10

##### SUMMARY
Doing a "choco install rsat" from a powershell command line the RSAT package installs without errors.
[code]
##### STEPS TO REPRODUCE

[code]
#####

[2018-04-26 19:02] #33183 closed, assigned to nobody

[2018-04-26 19:02] sivel commented on #24891
I'm going to close this as being resolved.  If you continue experiencing issues, please ensure you test with 2.5.2 or 2.6 (devel) before submitting a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-26 19:02] #24891 closed, assigned to nobody

[2018-04-26 19:13] jla-zz commented on #38058
I am seeing this on RHEL7.

[2018-04-26 19:15] sivel commented on #35048
Closing as a duplicate of https://github.com/ansible/ansible/issues/34665

[2018-04-26 19:15] #35048 closed, assigned to nobody

[2018-04-26 19:18] corbinstuard opened #39385 "hostname module always passes with 'ok' instead of 'changed'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
hostname

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = False
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=2000s -o UserKnownHostsFile=/dev/
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = /tmp/%%h-%%p-%%r
ANSIBLE_SSH_CONTROL_PATH_DIR(/etc/ansible/an

[2018-04-26 19:19] #37849 closed, assigned to nobody

[2018-04-26 19:25] #34665 closed, assigned to nobody

[2018-04-26 19:25] sivel commented on #34665
Resolved in https://github.com/ansible/ansible/pull/39365

[2018-04-26 19:26] realged13 opened #39386 "NIOS: Retrieve Next Available IP"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
nios

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS

##### SUMMARY

Would like to request a module to be able to request next available IP address from a given network/range so that it can be stored as a variable and used later.

##### STEPS TO REPRODUCE

Target a specific network and return the next availa

[2018-04-26 19:28] Wilk42 commented on #39122
@geerlingguy I've done some more testing on this, Here is the interesting thing, It looks like the Default Ad-hoc plugin already does what the yaml plugin does for error output. It's a slightly different format, but still has the yaml indentation and readability without the yaml callback.

From the documentation on https://docs.ansible.com/ansible/2.5/plugins/callback.html
"The ansible ad hoc comm

[2018-04-26 19:39] corbinstuard opened #39388 "ansible-config dump --only-changed does not exit vi upon finishing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = False
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=2000s -o UserKnownHostsFile=/dev/
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = /tmp/%%h-%%p-%%r
ANSIBLE_SSH_CONTROL_PATH_DIR(/etc/ansible/ansible.cfg

[2018-04-26 19:40] brampling commented on #39386
Have you tried the plugin?

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/nios_next_ip.py

[2018-04-26 19:54] loqutus commented on #39388
you can try `reset` command

[2018-04-26 19:54] sivel commented on #38532
2.5.2 has been released

Closing this issue.

[2018-04-26 19:54] #38532 closed, assigned to nobody

[2018-04-26 19:55] robbrucks opened #39389 "list concatenation using "set_fact" and "with_items" not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

We have a playbook where we build a list using `set_fact` and `with_items`.  On ansible 2.4.2 this worked, but starting with 2.5.0 the variable only contains the last item appended.

##### STEPS TO REPRODUC

[2018-04-26 19:56] sivel commented on #39389
This has been resolved in #38302 and has been included in the 2.5.2 release.

If you have further questions please stop by IRC or the mailing list:

- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-26 19:56] #39389 closed, assigned to nobody

[2018-04-26 19:56] corbinstuard commented on #39388
@loqutus no effect

[2018-04-26 19:57] realged13 commented on #39386
Did not see that that existed from the documentation that I saw unless I
just over looked it.

Is this already working in 2.5.2?

On Thu, Apr 26, 2018 at 3:41 PM Blair Rampling <notifications@github.com>
wrote:

[2018-04-26 19:58] loqutus commented on #39388
what's your `TERM` variable?

[2018-04-26 19:59] brampling commented on #39386
Yes, it came out with 2.5. I've tested it and it seems to work well. There are a couple of examples in the code.

[2018-04-26 20:02] corbinstuard commented on #39388
TERM=xterm

[2018-04-26 20:04] sivel commented on #38220
I'm going to go ahead and close this as the issue is related to extraneous user files.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-26 20:04] #38220 closed, assigned to nobody

[2018-04-26 20:08] sivel commented on #38262
I have 2 different implementations of the feature (targeted for 2.7) to resolve this issue:

* https://github.com/ansible/ansible/pull/39236 (implementation most likely to be accepted)
* https://github.com/ansible/ansible/pull/39237

[2018-04-26 20:08] pavelanni commented on #34064
I need this too. `aurora-postgres` is supported in boto3, but the `rds` module uses `boto` (2, if available). It would be great to have `boto3` support in this module.

[2018-04-26 20:08] realged13 commented on #39386
Ok, I see the example in the code.  Looks like the documentation needs to
be updated.  http://docs.ansible.com/ansible/latest/plugins/lookup/nios.html

I will give it a shot.

On Thu, Apr 26, 2018 at 3:59 PM Blair Rampling <notifications@github.com>
wrote:

[2018-04-26 20:11] realged13 commented on #39386
I see it has a separate section, would be useful in the core module under
net_tools to make it known this exists as some people wouldn't know it even
existed.

On Thu, Apr 26, 2018 at 4:07 PM Grayson Denny <grayson.denny@gmail.com>
wrote:

[2018-04-26 20:11] sivel commented on #33131
I'm going to go ahead and close this issue as resolved.  If you are still experiencing it on recent versions of ansible, please open a new issue with a complete reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-26 20:11] #33131 closed, assigned to nobody

[2018-04-26 20:12] bcoca commented on #39388
it uses your $PAGER, that is normally `less` or `more` , even if it is `vi` you should not need ctrl+c to escape.

[2018-04-26 20:13] brampling commented on #39386
Good point, I'll look into that.

[2018-04-26 20:14] #38573 closed, assigned to nobody

[2018-04-26 20:16] corbinstuard commented on #39388
$PAGER is not set on my system

[2018-04-26 20:16] andygeorge opened #39390 "VariableManager fact-caching updates can cause slowness due to many deepcopy calls via namespace_facts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

VariableManager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

After upgrading from Ansible 2.4.2.0 to 2.5.0, we noticed longer runtimes in all of our playbooks/roles of about 1s per task. Using cProfile, we found the largest discrepancy in both method calls and runtime was of the `deepcopy` me

[2018-04-26 20:19] loqutus commented on #39388
try `PAGER=less ansible-config dump --only-changed`

[2018-04-26 20:19] corbinstuard commented on #39388
Same problem:

[root@ansible ~]# PAGER=less ansible-config dump --only-changed
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = False
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=2000s -o UserKnownHostsFile=/dev/
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = /tmp/%%h-%%p-%%r
ANSIBLE_SSH_CONTROL_PATH_DIR(/etc/ansible/ansible.cfg) = /tmp
ANSIBLE_SSH_RETRI

[2018-04-26 20:24] sivel commented on #29052
This issue was resolved in f1c458303a1ad00675497597e1f7fbc0539e314e and included in the 2.4.3 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-26 20:24] #29052 closed, assigned to nobody

[2018-04-26 20:25] corbinstuard commented on #39388
Historically the command has always printed and that's it, I haven't typically needed to exit `less`. What's changed?

[2018-04-26 20:25] bcoca commented on #39388
its always used the pager, that has not changed

[2018-04-26 20:26] sivel commented on #24921
As previously indicated, `include_role` supports this and is the correct place for loops to be utilized.  Many issues related to `include_role` have been addresses in the last few releases.

If you are experiencing issues with `include_role`, please open a new issue with a reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2018-04-26 20:26] #24921 closed, assigned to nobody

[2018-04-26 20:30] sivel commented on #32173
Playbooks require the explicit use of `hosts:`.  The comment made at https://github.com/ansible/ansible/issues/32173#issuecomment-339731817 is the correct way to do this, with the exception of using `vars` instead of inline key=value vars.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/foru

[2018-04-26 20:30] #32173 closed, assigned to nobody

[2018-04-26 20:38] sivel commented on #34080
This has been resolved in https://github.com/ansible/ansible/pull/38814

[2018-04-26 20:38] #34080 closed, assigned to nobody

[2018-04-26 20:44] sivel commented on #34505
This issue was resolved in a889576d390eeab5137d31bd30821b3310c8d59e

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-26 20:44] #34505 closed, assigned to nobody

[2018-04-26 20:55] sivel commented on #36036
Duplicate of https://github.com/ansible/ansible/issues/20493

[2018-04-26 20:55] #36036 closed, assigned to nobody

[2018-04-26 20:55] jborean93 commented on #39384
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * The error indicates it is trying to install  an msu (windows update) which doesn't work over native WinRM
   * You need to use become on the win_chocolatey tas

[2018-04-26 20:55] #39384 closed, assigned to nobody

[2018-04-26 21:03] sivel commented on #22356
@bearrito we will need a more complete reproducer to validate this issue.  As it is, I've tested with a play, that only uses `include_role` in the way you have, but it works as expected.

needs_info

[2018-04-26 21:15] gbaufake opened #39393 "'openshift_raw' is not a valid attribute for a Play on Fedora 27"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

"openshift_raw"

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

* Fedora 27

##### SUMMARY

Openshift_raw (http://docs.ansible.com/ansible/2.5/modules/openshift_raw_module.html?highlight=openshift_raw) can't be used on playbook

##### STEPS TO REPRODUCE
* Create a simple playbook (`playbook.yml`) with openshift_raw

[2018-04-26 21:29] nusenu commented on #21547
Martin Krizek:

I don't see the fix in 2.5.2 either.

[2018-04-26 21:41] Wilk42 commented on #39122
I've made some tweaks to the [module here](https://github.com/Wilk42/callback_modules/blob/master/yaml2.py) and am doing testing to make sure it doesn't break anything else, before submitting a fix to the bug.

[2018-04-26 21:41] skregas opened #39395 "network_cli connection raises AnsibleConnectionFailure exception"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

connection: network_cli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible OS: Red Hat Linux
Managed OS: Cisco IOS

##### SUMMARY

Using connection: network_cli raises AnsibleConnectionFailure exception

we wrote a small test script using paramiko directly. Specifying **look_for_keys=False** in the connect() m

[2018-04-26 21:44] sivel commented on #24373
This issue was resolved in eeaa67657750005b5ff9c287b1883fc08692814d and included in the 2.3.2 release.

[2018-04-26 21:44] #24373 closed, assigned to nobody

[2018-04-26 21:49] jborean93 commented on #39276
Actually after sleeping on it, I believe the problem lies with https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/shell/powershell.py#L1257. I'll try and get a WIP PR that fixes this and see if it works for you.

[2018-04-26 21:52] jtyr commented on #39379
It works just fine for me with Ansible 2.5.1:

[code]

It might be a bug in the older version. Please try to install newer Ansible.

@ansibot please close this issue as it's `notabug`.

[2018-04-26 21:57] #34168 closed, assigned to nobody

[2018-04-26 22:00] #39379 closed, assigned to nobody

[2018-04-26 22:08] #32537 closed, assigned to nobody

[2018-04-26 22:16] corbinstuard commented on #39385
After further testing, the failures were caused by the following portion:
[code]
Upon removing, the task no longer fails but it's not being correctly marked as changed. Tasks return as `ok` despite the hostname being changed.

[2018-04-26 22:16] sivel commented on #39393
The error indicates that your playbook looks only like:

[code]

This is not a valid playbook.

A valid playbook must include a `hosts:` key, and any tasks must live under a `tasks:` header, such as:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-26 22:16] #39393 closed, assigned to nobody

[2018-04-26 22:46] acozine opened #39398 "Test for rST errors efficiently and effectively in CI"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs.ansible.com

##### ANSIBLE VERSION
2.5

##### SUMMARY
The three commands for generating documentation from the reStructured Text files return different numbers of errors. For example, on one current branch, if you run the three commands you see:
- 33 rst warnings using `make htmldocs`
- 60 rst warnings using `make singlehtmldocs`

[2018-04-27 00:30] micruzz82 opened #39401 "Bug with static binding of EPG to VPC (aci_static_binding_to_epg)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
aci_static_binding_to_epg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Distributor ID: Ubuntu
Description:    Ubuntu 16.04.4 LTS
Release:        16.04
Codename:       xenial

Cisco APIC version 3.1(2m)

##### SUMMARY
When trying to configure static binding under epg of type Virtual Port Channel (VPC) the ansible

[2018-04-27 00:59] micruzz82 commented on #39401
I have found the issue.

Document states below:

When interface_type is vpc, then leafs is a list with both leaf IDs.
The leafs value is usually something like '101' or '101-102' depending on connection_type

This needs to be amended.

Correct attributes needs to be:
leafs: 101,102

[2018-04-27 01:38] nhanda03 opened #39402 "win_chocolatey module is failing to verify the change in version of pkg"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
retry_files_save_path = /tmp/
roles_path=roles/
inventory=hosts
host_key_checking = False
vault_password_file = /work/vault_password
timeout = 30

##### OS / ENVIRONMENT

Ansible running on :Linux 9b46d6ed8c84 4.4.0-1054-aws #63-Ubuntu SMP Wed Mar 28 19:42:42 UTC 20

[2018-04-27 01:50] brainstorm commented on #37640
Nope, that didn't work, but found the real underlying issue that might help other people with this issue:

Installing `python3-docker` instead of `python-docker` works ;)

[2018-04-27 02:11] trondhindenes commented on #39068
Yup, current behavior seems more logical, I agree. Still would like to be able to handle it in a single task,its kinda bloated as-is.

[2018-04-27 02:29] Fred-sun commented on #39352
I meet the same error by running the following playbook , is it the same problem? Thanks!
It can create Loadbalancer and VMSS, But when ran second time, it show error, error message as below !
[code]

[2018-04-27 03:30] yuwzho commented on #30982
I create a new Ubuntu 16.04LTS machine to install ansible[azure] via pip, with my user local privilege. I don't meet such problem.

Checking @unfii and @adithyakhamithkar 's comments, seems the packing is successfully installed, and the python interpreter version is python 2.7.

Do you run ansible on virtual env or just local machine?

If not...
We meet some missing module error before since mutil

[2018-04-27 03:50] adithyakhamithkar commented on #30982
I am running ansible on local machine, Some thing is not right the it's not reading the packing. When I try on VM it's working

[2018-04-27 04:54] gdpak commented on #39351
@eclecticitguy This error is coming from IOS-XR .As you have upgraded your iosxr version , probably some of your configs in config file are not compatible with new ios-xr. Please check your ios-xr config file given in 'src' argument to iosxr_config module for possible in-compatibility with ios-xr.

[2018-04-27 06:07] yuwzho commented on #39231
@vogon1 Why your code looks different with the devel branch?

If you want to try the latest bit, you can run the following command:

[code]

and my playbook is as following, the NSG will not be updated when I create NIC.

[code]

[2018-04-27 06:26] mkrizek commented on #39282
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-04-27 06:26] #39282 closed, assigned to nobody

[2018-04-27 06:29] mkrizek commented on #39401
@micruzz82 Thanks for figuring this out, would you be interested in sending a pull request to fix the docs? Thanks!

[2018-04-27 06:43] ossark opened #39408 "nxos_linkagg is not consistent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_linkagg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

MacOS High Sierra

##### SUMMARY

nxos_linkagg sets the correct parameters and reports "changed" but running the same task again also reports as "changed" but reverts the change.

##### STEPS TO REPRODUCE

[code]

[code]

[code]

[code]

[code]

##

[2018-04-27 06:56] mkrizek commented on #39385
@corbinstuard But if you run the play multiple times the status won't be `changed` as the hostname is already set to desired value. Maybe you want to change the condition to `until: result is success`?

needs_info

[2018-04-27 08:00] babyshen opened #39410 "Ansible control windows server return data Chinese garbled"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-27 08:00] gdpak commented on #39351
@eclecticitguy iosxr_config would not try to change existing prefix-set (or any other config for that matter) if config present in system are same as provided in 'src' config file. so there is something different inside prefix-set you are trying to program vs what already exists on device.

from error log it looks like 'commit' was tried when command prompt was in prefix subcommand mode
RP/0/RP0/C

[2018-04-27 08:26] mkrizek commented on #39410
cc @abadger @jborean93

[2018-04-27 08:37] jborean93 commented on #39410
Can you share the contents of stat.py, hard to tell what is happening if we don't know the script that is being called.

[2018-04-27 08:51] babyshen commented on #39410
@jborean93
`import psutil

def mem_stat():  # 内存使用率
    mem_use = psutil.virtual_memory().percent
    return mem_use

def cpu_stat():  # cpu 使用率
    cpu_use = psutil.cpu_percent(0)
    return cpu_use

def user_login(): # 当前登录用户
    all_user = psutil.users()
    login_user = {u.name: u.host for u in all_user}
    return login_user

def main():
    print("内存使用率(%):", mem_stat())
    print("CPU 使用率(%

[2018-04-27 09:28] jdelvecchio commented on #39305
@Akasurde I can confirm to you that the vmware user has read permissions on all VMs.
Just added a task using the module vmware_guest_facts to the initial playbook :

[code]

The output :
[code]

[2018-04-27 09:48] vogon1 commented on #39231
@yuwzho

After updating to the devel version, the problem still occurs.
New version:

[code]

This is the response I get when creating a NIC (ID's replaced by xx yy zz):

TASK [azure_vm : Create virtual network interface card] ***************************************************************************************************************
- fatal: [localhost]: FAILED! => {"changed": false, "msg": "E

[2018-04-27 10:01] d-fence opened #39412 "postgresql_db dump does not fail on FATAL error when using compression"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

postgresql_db
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/home/xxx/ansible/ansible.cfg) = True
ANSIBLE_PIPELINING(/home/xxx/ansible/ansible.cfg) = True
DEFAULT_FORKS(/home/xxx/ansible/ansible.cfg) = 50
DEFAULT_HOST_LIST(/home/xxx/ansible/ansible.cfg) = [u'/home/xxx/ansible/inventories']
DEFAULT_MODULE_PATH(/home/xxx/ans

[2018-04-27 10:17] Akasurde commented on #39305
@jdelvecchio Could you please run this script with appropriate values from your environment ?

https://github.com/Akasurde/ansible-reproducers/blob/master/39305/get_all_vms.py

[2018-04-27 10:28] jdelvecchio commented on #39305
@Akasurde it runs and returns all the VMs.
I checked the output, the vm SCASRVIOMETERWORKER01 (the one in the previous playbook execution) is found aswell

[2018-04-27 10:40] Akasurde commented on #39305
@jdelvecchio I am not entirely sure why this is happening, because this is the same code used in module. I have created a temp fix - https://github.com/ansible/ansible/compare/devel...Akasurde:i39305 Could you please check this and let me know if it works for you.

Output on my machine is -
[code]

[2018-04-27 10:50] jborean93 commented on #39410
@babyshen this might be a difficult one to solve but I'm going to put what I've found out so far in this comment to hopefully narrow down a fix in the future.

Looking at this very briefly there seems to be an issue in the Windows UTF-8 codepage that is failing to process a 2 and 3 byte UTF-8 char. You can probably test this yourself by opening up a cmd process on your Windows box and typing in `c

[2018-04-27 10:59] karniemi commented on #38320
@Akasurde thanks, seems better!

[2018-04-27 11:02] karniemi commented on #38648
@dericcrago you mentioned a "vmware connection plugin" in #38320, would you be willing to refer/link your implementation here?

[2018-04-27 11:06] mkrizek commented on #37929
Seems like the issue is when a task is inside a role, `ansible_failed_task` includes also info about that role, including its vars. And so trying to use `ansible_failed_task` fails on templating that undefined variable.

[2018-04-27 11:12] jborean93 commented on #39410
Further testing:

Changing the encoding of the PowerShell test file to UTF-16 (either little or big endian) means that the correct chars are output correctly. The Python script is another beast though, it seems like print() is failing in my particular codepage.

[2018-04-27 11:24] mkrizek commented on #39132
@nbraud Thanks for testing, I just created a backport PR to stable-2.5 https://github.com/ansible/ansible/pull/39411

[2018-04-27 11:24] #39132 closed, assigned to nobody

[2018-04-27 11:29] Akasurde commented on #25970
@jepurdy Any update on this ?

[2018-04-27 11:49] kudrevatykh opened #39413 "ssh connection with delegate_to checks wrong variable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

delegate_to

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

delegate_to checks wrong variable before connection
##### STEPS TO REPRODUCE

setup one host with not ssh connection (for example ansible_connection: local) and one ssh with password that uses variable subsitution and run any task with `

[2018-04-27 11:54] DRAKUN commented on #39104
Okay
[code]

my pyasn version
``
pyasn1                       0.4.2
``
upgrading
``
[ansible@localhost UT5]$ sudo /usr/bin/pip install pyasn1 --upgrade --force-reinstall
Collecting pyasn1
  Using cached https://files.pythonhosted.org/packages/ba/fe/02e3e2ee243966b143657fb8bd6bc97595841163b6d8c26820944acaec4d/pyasn1-0.4.2-py2.py3-none-any.whl
Installing collected packages: pyasn1
  Found existing i

[2018-04-27 11:55] #39104 closed, assigned to nobody

[2018-04-27 12:04] dennisconrad opened #39414 "Toplevel and Sublevel Variables Treated Differently by Conditionals"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

conditional.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_MODULE_PATH(env: ANSIBLE_LIBRARY) = [u'/Users/dennis.conrad/github/ansible/lib/ansible/modules']

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When checking whether a variable is a boolean or not empty, conditionals behave differently for toplevel variables and sublevel

[2018-04-27 12:25] jdelvecchio commented on #39305
@Akasurde thanks, applied the fix, here's the output :

[code]

[2018-04-27 12:27] guillemsola commented on #36518
@ansibot labels it as affects 2.6 but I understand this is also happens in 2.5 and 2.5.1 too

[2018-04-27 12:30] babyshen commented on #39410
@jborean93
Thank you for your answer. I will continue to study this issue. Linux and windows coding inconsistent, Chinese garbled is indeed a more headache. Thanks again.

[2018-04-27 12:33] Akasurde commented on #39305
@jdelvecchio Can you ping me on irc.freenode.net in channel #ansible-vmware ?

[2018-04-27 12:41] gbaufake commented on #39393
@sivel
Thanks for the update and sorry for the silly mistake!

[2018-04-27 12:47] ossark commented on #39408
Ok I figured it out. Not sure if it is a nxos bug or ansible.

This works
[code]

This does not work
[code]

[2018-04-27 13:27] donpatzone commented on #38669
Sorry,
did not yet have the time to test. I hope to follow up on Monday with the results.

[2018-04-27 13:41] jdelvecchio commented on #39305
@Akasurde fix provided here https://github.com/ansible/ansible/compare/devel...Akasurde:i39305 works great, thanks

[2018-04-27 13:43] trishnaguha commented on #39408
@ossark Thanks for debugging. Can you share the output with -vvvv when you run with the abbreviated form?

[2018-04-27 13:52] gitqlt commented on #16052
ansible 2.5.2 also has this
Use of the special become username `admin` results in that ansible drops the `setfacl` method and changes to a root-readonly temporary file with chown-chmod. Then tries to execute it as `sudo admin`, which will fail as `admin` cannot read the file. (You can watch this even if there is no admin user on the systems. It changes from setfacl to chown-chmod)

Other become us

[2018-04-27 13:55] mikewiebe commented on #39408
@ossark You are correct.  This is a current limitation of the module.  The interface names must match exactly as they appear in the running config.  @trishnaguha We need to update the module to handle the following:

1. Case insensitive (should accept upper and lower case names)
2. Abbreviated or short form of the int names.

[2018-04-27 14:16] abadger commented on #27262
I'm still not able to reproduce this.  What are your locale settings (LC_* and LANG)?  I can get this error if I set the locale to an ascii-only locale but if I do that my output is different.  For instance:
[code]

So I don't think that's what's happening in your case.

[2018-04-27 14:30] abadger commented on #27262
I have some fixes for running under LC_ALL=C.... I'm still not sure what about your environment is leading to the problem you see but there's a good chance that they'll fix the traceback for you.  I'll post a PR shortly.

[2018-04-27 14:41] L-B commented on #27262
I'm using en_US.utf8 all round, both locally and on the remote server. I've tried with LC_ALL=C as well, this produces a related, but different error, note the `encode` instead of `decode`.
`copy` still works as expected.
[code]

[2018-04-27 14:43] dagwieers commented on #39401
So `101,102` works because Ansible is *smart* and assumes the comma is a list delimiter. However it is always better to write: `[ 101, 102 ]`, or as a YAML list (multi-line).

I wonder if we want to support 101-102 as well though, since it is a common thing to do, and it is easy to convert it internally. @brunocalogero @jmcgill298 What do you both think ?

[2018-04-27 14:50] maxamillion commented on #27262
@L-B do you have any callbacks enabled in your Ansible config?

[2018-04-27 14:55] eclecticitguy commented on #39351
After your last comment, I went through my configuration template and it appears that there are issues if you use leading whitespace in your template file that matches the syntax of a real IOS-XR configuration.  In your example, you indicate that the end-set and attribute level should be at the same level as the prefix set:

[code]

However, in the IOS-XR configuration itself, there is leading whi

[2018-04-27 14:57] corbinstuard commented on #39385
@mkrizek the task still returns as `ok` on fresh systems that have their hostname changed successfully. it should be returning `changed`

[2018-04-27 14:57] abadger commented on #27262
@L-B can you try applying the changes from https://github.com/ansible/ansible/pull/39424 to see what that does for your issue?  Those were the changes I had to make for it to work in the C locale.  Since I haven't figured out what the difference is in your environment that actually causes this, though, there could be some other problem triggering this.  I give it a 50-50 chance of fixing it.

[2018-04-27 14:58] juliohm1978 commented on #37535
Quick update: Just tested the new 2.5.2 release and the warning no longer appears. Congrats!

[2018-04-27 15:04] dcode opened #39429 "`set_fact` is no longer able to append to a list defined in `group_vars`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
set_fact

##### ANSIBLE VERSION
Broken version:
[code]

Working version:
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)
Ansible installed from EPEL

##### SUMMARY
When using `set_fact` in a loop to append values to a list defined in `group_vars/all.yml`, only the last item in the loop is appende

[2018-04-27 15:06] dcode commented on #39429
I should add my rationale, perhaps. I'm using the `yum` module to install a list of packages. There's a default set of packages (defined in `group_vars/all.yml`) and there's a supplementary set of packages that I want to append to the list so it is a single yum transaction.

I'll just use multiple items with `yum` in the meantime.

[2018-04-27 15:13] acozine opened #39431 "Add a Network Tips and Tricks page?"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs.ansible.com/ansible/network

##### ANSIBLE VERSION
2.5

##### SUMMARY
The field teams have a lot of great tips and tricks for handling common network challenges. Create a page to document these.

The first one, from Steven Carter, is:

When rebooting a switch, you may need to issue a command and respond 'yes' to the network OS's r

[2018-04-27 15:26] sivel commented on #20603
This issue was resolved in a889576d390eeab5137d31bd30821b3310c8d59e and included in the 2.4.4 release.

[2018-04-27 15:26] #20603 closed, assigned to nobody

[2018-04-27 15:35] sivel commented on #37365
@drzraf I cannot reproduce just using ansible (not ansible-container)

When supplying `baremetal: False` I see:

[code]

With `baremetal: True` I see:

[code]

If you can replicate this behavior outside of ansible-container just using ansible, please feel free to open a new issue with a full reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on i

[2018-04-27 15:35] #37365 closed, assigned to nobody

[2018-04-27 15:40] sivel commented on #25807
This issue was resolved in ada84532710f4d2e717614b9f31a3ec24cf2239e and included in the 2.4.3 release.

[2018-04-27 15:40] #25807 closed, assigned to nobody

[2018-04-27 16:06] LukeShortCloud opened #39434 "ovirt_disk: Fails to Create New Disks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_disk (previously ovirt_disks)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A (default configuration)

##### OS / ENVIRONMENT
RHEL 7.5 managing a RHV 4.1 cluster.
ovirt-engine-sdk-python==4.2.6
Playbooks are ran on the RHEL 7.5 box as localhost.

##### SUMMARY
Creating disks using the "ovirt_disk" Ansible module fails. When using th

[2018-04-27 16:10] #35395 closed, assigned to nobody

[2018-04-27 16:11] scheung38 opened #39435 "ansible --version dyld: Library not loaded: @executable_path/../.Python"
- Bug Report

When starting ansible --version I expect to get version

[code]

Mac OSX High Sierra

##### ACTUAL RESULTS

[code]

Is this related to updates from brew, ansible or Mac OSX?

[2018-04-27 16:12] sivel commented on #35739
Closing this as a duplicate of https://github.com/ansible/ansible/issues/36518

[2018-04-27 16:12] #35739 closed, assigned to nobody

[2018-04-27 16:25] #36787 closed, assigned to nobody

[2018-04-27 16:35] #39429 closed, assigned to nobody

[2018-04-27 16:37] #31409 closed, assigned to nobody

[2018-04-27 16:43] #23733 closed, assigned to nobody

[2018-04-27 16:46] #23327 closed, assigned to nobody

[2018-04-27 16:50] greg-hellings commented on #39334
!component =lib/ansible/cli/galaxy

[2018-04-27 16:50] sivel commented on #23379
This issue was resolved in eeaa67657750005b5ff9c287b1883fc08692814d and included in the v2.3.2 release

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-27 16:50] #23379 closed, assigned to bcoca

[2018-04-27 16:53] hiddenicon opened #39439 "Nexus 9k nxos_ntp_options configures master every time"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
nxos_ntp_options

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes have been made from the default cofiguration. Using AWX version 1.0.4.130

##### OS / ENVIRONMENT
RHEL7 host, running AWX in Docker.

##### SUMMARY
When passing `master: false` the master command is still configured. We want ntp logging enabled but master not configu

[2018-04-27 16:55] #24326 closed, assigned to nobody

[2018-04-27 17:01] #22169 closed, assigned to nobody

[2018-04-27 17:03] #36518 closed, assigned to nobody

[2018-04-27 17:04] sivel commented on #36518
Resolved by #39426

[2018-04-27 17:20] tktr opened #39441 "Invalid literal error due to improperly parsed proxy URL"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=600s
ANSIBLE_SSH_CONTROL_PATH(/home/ansible.cfg) = %(directory)s/%%h-%%p-%%r
CACHE_PLUGIN(/home/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/home/ansible.cfg

[2018-04-27 17:29] andersjanmyr opened #39442 "Ansible Bug with set_fact in with_inventory_hostnames in 2.5.1, working in 2.4.3.0"
# Ansible Bug with set_fact in loop

The following code works on `2.4.3.0`, but fails on `2.5.1`.
Running example can be found here, https://github.com/andersjanmyr/ansible_bug

[code]

## 2.4.3.0

[code]

## 2.5.1

[code]

[2018-04-27 17:41] sivel commented on #39442
This has been resolved in #38302 and has been included in the 2.5.2 release.

If you have further questions please stop by IRC or the mailing list:

- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-27 17:41] #39442 closed, assigned to nobody

[2018-04-27 17:47] andersjanmyr commented on #39442
Okay, great! Sorry about the duplicate issue.

On Fri, Apr 27, 2018 at 10:41 AM, Matt Martz <notifications@github.com>
wrote:

--
http://anders.janmyr.com/
@andersjanmyr
+1 (650) 965 5031

[2018-04-27 17:51] sheffner1226 commented on #39167
I am seeing essentially the same error as cnorthwood on my NX-OS 7.x lab devices.  I wasn't using network_cli until Ansible 2.5 so I can't say it was working before but now I get userauth OK then a timeout.  SSH to the devices works without issue.

[2018-04-27 17:55] mpeter13 commented on #39395
Update on using the "local" connection vs "network_cli" - When we tried this on 50 devices 43 failed with TimeOut error,  we can do 1 device and it's successful.  Using "network_cli" on 1 device it fails every time with error that it can't cache ssh key - authentication failed.

I testing using the paramiko ssh client connect with a script outside of ansible using the same code in the module and c

[2018-04-27 18:22] saichint opened #39443 "nxos_snmp_traps issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_snmp_traps

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)
##### SUMMARY

##### STEPS TO REPRODUCE

There are some issues with nxos_snmp_traps module.
1. The choices for groups should have more values
2. The code is using 'show snmp trap' command for getting existing co

[2018-04-27 18:28] arbabnazar commented on #39129
this error is even not fixed on 2.5.2 @sivel

[2018-04-27 18:28] arbabnazar commented on #39007
This error is not even fixed on `ansible 2.5.2`

[2018-04-27 18:38] thaumos commented on #39007
@arbabnazar, we're aware.  It is slated for 2.5.3

[2018-04-27 18:38] bcoca commented on #39007
2.5.2 was released early and the backport had not been applied yet

[2018-04-27 18:42] LukeShortCloud opened #39446 "ovirt_vms: Unable to Attach a CD"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_vms

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A (default configuration)

##### OS / ENVIRONMENT
RHEL 7.5 managing a RHV 4.1 cluster.
ovirt-engine-sdk-python==4.2.6
Playbooks are ran on the RHEL 7.5 box as localhost.

##### SUMMARY
The `ovirt_vms` module does not attach the ISO to an instance via the use of the "cd_iso" argument.

[2018-04-27 18:51] machacekondra commented on #39434
`rhv_storage_domain` variable is ID, but it should name, can you try to change it to name?

[2018-04-27 19:26] mwperina commented on #39446
Shouldn't there be a full path to the iso file in `cd_iso` option?

[2018-04-27 19:38] sivel commented on #33693
Proof of concept fix for this issue https://gist.github.com/sivel/4eded5522b26ee330e1a0aed84d04e69

Basically the problem is that currently we try to add `vars` to each play  *after* it's been parsed. That does not play well with imports in the play.  We need to ensure that the vars are applied in time for parsing.

[2018-04-27 19:39] sivel commented on #21885
Related to this commit https://github.com/ansible/ansible/commit/dca36c1d160

[2018-04-27 19:42] mnhan3 commented on #15013
did this issue get fixed?

[2018-04-27 19:48] jrko commented on #38656
I'm seeing the same behavior in Ansible `2.5.0` and `2.5.2`.
It works in `2.4.3`.

[2018-04-27 19:49] ekultails commented on #39446
Thanks for the suggestion. I tried giving it the full path this time and I had to same results: the CD never got attached. The documentation examples seem to suggest that just using the name from the ISO storage domain should work.

http://docs.ansible.com/ansible/latest/modules/ovirt_vms_module.html

[2018-04-27 19:56] tribbloid commented on #10829
+1 very important as right now handlers are only invoked in the end of the entire play

[2018-04-27 20:05] ekultails commented on #39434
Thanks @machacekondra, that seems to have done the trick! I was using the RESTful APIs before getting into the Ansible modules and with those APIs I found that using "id" worked better in most cases. After switching this over to the storage domain name, everything is working perfectly and the disks are now able to be created/read/updated/deleted from the `ovirt_disk` module.

[2018-04-27 20:05] #39434 closed, assigned to nobody

[2018-04-27 20:15] 4everinbeta commented on #37259
+1

[2018-04-27 20:26] itdependsnetworks opened #39452 "Combine not working in 2.5.1"
Fixed already in 2.5.2, just opening and closing for future searches.

[code]

[2018-04-27 20:26] #39452 closed, assigned to nobody

[2018-04-27 20:39] bcoca commented on #39452
dupe of #38075, fixed via #38302

@itdependsnetworks there are plenty of tickets open for it, just check links in the fixed PR

[2018-04-27 21:04] hiddenicon commented on #39439
Looking through the code, if there is no master configured with a stratum, then stratum is being set to "None" as a string.

    stratum = None

However, the check later in the code is looking to see if stratum is set with:

    if stratum and stratum != current['stratum']:
         commands.append('ntp master %s' % stratum)

This check appears to be a boolean check against stratum. Something like

[2018-04-27 21:21] #39410 closed, assigned to nobody

[2018-04-27 22:41] zdw opened #39456 "Recursive permissions change on a directory fails when directory contains a broken symlink"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

The file module in 2.5.2 fails when trying to change permissions recursively and encounters a symlink that points to something that that doesn't exist.

This error also occurs in the devel 2.6.0 branch.

This failure does not occur in 2.5.1 a

[2018-04-27 22:51] NT-TM commented on #38639
[ntomy@niddserver01 ~]$ ansible-playbook -i hosts test_NK31128.yml -u ntomy -k -vvv
ansible-playbook 2.5.1
  config file = /home/ntomy/.ansible.cfg
  configured module search path = [u'/usr/lib/python2.7/site-packages/napalm_ansible;/usr/lib/python2.7/site-packages/ansible;/var/lib/awx/projects/a10_modules/library']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  exec

[2018-04-27 22:53] NT-TM commented on #38639
I just attached  the trace back for two devices I have in my LAB environment So you can compare the difference between the behavior of these nxos_command.

[2018-04-27 23:00] zdw commented on #39456
This change seems to be the only non-documentation to the `file` module between 2.5.1 and 2.5.2:

https://github.com/ansible/ansible/commit/cd7042857c5ed81223080c51fde1d597a2eeebca

[2018-04-27 23:17] babyshen commented on #39410
ok

[2018-04-27 23:28] zdw commented on #39456
Adding `follow: false` to the recursive owner/group change gives the previous behavior.

The interaction between `recurse` and `follow` should probably be made more clear - if you symlinked to a system file or directory, trying to chown/chgroup it as another user would at best fail like this, or at worst take inappropriate permissions if running with superuser perms.

[2018-04-27 23:33] naiieandrade commented on #18432
@MehB thanks for your attention.
I don't know if its correct, but I tried this:

[code]
In this command, its asks me a password, but I don't now. I tried some, but failed.
[code]
I'll try destroy the vm and run again. :pray:

[2018-04-27 23:43] victorock opened #39458 "gce_lb: Not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

gce_lb

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_CALLBACK_WHITELIST(/Users/jdacosta/Devel/ansible-devops/applications/freeipa/ansible.cfg) = ['profile_tasks']
DEFAULT_HASH_BEHAVIOUR(/Users/jdacosta/Devel/ansible-devops/applications/freeipa/ansible.cfg) = merge

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The following:
- Whe

[2018-04-28 00:07] soumikbh commented on #38669
Facing same issue with N9K with dual SUP. I am noticing
this error with one of the EORs ( only switch with dual SUP ) in my topology – rest of them work fine :
============================================
<172.31.203.123> EXEC /bin/sh -c 'rm -f -r /root/.ansible/tmp/ansible-tmp-1524458223.98-8570240507411/ > /dev/null 2>&1 && sleep 0'
The full traceback is:
Traceback (most recent call last):
  Fil

[2018-04-28 00:37] itdependsnetworks commented on #39452
Apologies, when brought to @gundalow attention it was not mentioned.

This was based on you telling me the value of opening and closing issues, but will refrain in the future from doing so

[2018-04-28 02:13] bcoca commented on #39452
The value is there, but  also, there is value in checking if the issue already exists

[2018-04-28 04:48] yuwzho commented on #39231
I m really confused with this case, in the `create_default_securitygroup` method, it firstly check whether the nsg's exist, otherwise create a new one and assign new rules.

https://github.com/ansible/ansible/blob/7ea68a23c190112c4b0b57eb90cf456ccc16cd4f/lib/ansible/module_utils/azure_rm_common.py#L755-L763

In your error message, seems your nsg is not found by the get method, do you nsg is in ano

[2018-04-28 05:47] salman1485 commented on #39167
We have almost similar problem for IOS modules. All existing playbooks should have worked as-is with 2.5.1 but pretty much everything broke when we upgraded ansible from 2.4 to 2.5.1. Timeouts mentioned in ansible.cfg forced job to hang for that many minutes but eventually it breaks with auth failure.

myplaybook.yml
---
- hosts: all
  gather_facts: no
  connection: local
#  ansible_connection: lo

[2018-04-28 09:48] ajit2678 opened #39461 "Ansible Failed to connect to the host via ssh: Permission denied"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-28 09:49] ajit2678 commented on #39461
192.168.10.23 | UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: ssh: connect to host 192.168.10.23 port 223: Connection refused\r\n",
    "unreachable": true
}

[2018-04-28 10:12] Akasurde commented on #39305
resolved_by_pr #39462

[2018-04-28 10:15] retrogradeorbit commented on #15019
In ansible 2.5.1 this problem still persists, and different modules behave differently. I have used @pauricthelodger workaround with the `ansible_python_interpreter=python` setting in the hosts file. This causes ec2_vpc_net and ec2_vpc_subnet to work, but ec2_vpc_igw to fail with `{"changed": false, "msg": "boto is required for this module"}`. Which is strangely funny because these modules are all

[2018-04-28 10:39] ganeshrn commented on #39395
The random ios timeout related issue was fixed as part for PR https://github.com/ansible/ansible/pull/39063
and the fix is available in Ansible version 2.5.2 release.

Can you please retest with 2.5.2 and check if issue is still reproduced.

[2018-04-28 11:00] privateip commented on #39395
@mpeter13 what authentication mechanism are you using?  keys? password?

The `network_cli` connection plugin will force the value of `look_for_keys` to `False` when either key based or password based authentication is used and `True` if it is not.  I can replicate what you are seeing by manually toggling the code but cannot reproduce this problem when run in the context of a full playbook run.

[2018-04-28 11:00] Akasurde commented on #38605
@Joeskyyy Can you please check if vm tools is installed and started on given machine. VMware API and ultimately Ansible uses VM tools to gather network related facts from given VM.

[2018-04-28 11:04] privateip commented on #39395
@skregas same question, what authentication mechanism are you using? keys? password?  (see https://github.com/ansible/ansible/issues/39395#issuecomment-385166084 for context)

[2018-04-28 11:34] it-praktyk opened #39463 "The PowerShell Ansible.ModuleUtils.Legacy.psm1 is not fully PowerShell compliant"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Ansible.ModuleUtils.Legacy.psm1
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The code in the file [Ansible.ModuleUtils.Legacy.psm1](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/powershell/Ansible.ModuleUtils.Legacy.psm1) isn't PowerShell compliant. The PowerShell PSSc

[2018-04-28 11:55] loqutus commented on #39461
maybe you need port 22, not 223

[2018-04-28 12:15] ajit2678 commented on #39461
No I have configure ssh to listen on port 223 if I enabled root access,
then ansible ping at port 223 but when I disabled the root access it show
me this error message

On Sat, 28 Apr 2018, 5:26 pm rgustomi, <notifications@github.com> wrote:

[2018-04-28 12:55] loqutus commented on #39461
ansible by default login as root to remote hosts

[2018-04-28 13:48] Nothing4You opened #39465 "nsupdate doesn't check for ttl changes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nsupdate

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible running on Arch Linux, managed host is Debian Stretch.

##### SUMMARY
The module does not check for the ttl when it checks whether a change is required.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The task should first create the recor

[2018-04-28 13:59] Nothing4You commented on #38736
Try something like this:
[code]

[2018-04-28 15:11] mjdavies commented on #24569
Hello everyone.  This is showstopper for us, is there any news on this?

We'll have to use something other than ansible if we can't install chocolatey from an internal source, and I'd really prefer not to have to do that as we're big fans of both softwares.

[2018-04-28 15:56] Akasurde commented on #25133
@majales Are you moving VM from one host to another host which are located in different cluster ?

needs_info

[2018-04-28 16:35] abadger commented on #27262
#39424 has been merged to devel and I have a backport PR for 2.5.3: https://github.com/ansible/ansible/pull/39468

[2018-04-28 17:58] guidabrito commented on #19584
Hi guys,
I had the same problem.
My devops user could ssh to all the servers but when I tried to runs, (with mysuer), ansible commands I always got the error ... UNREACHABLE! ...
I solved it by making , with "mysuer" ssh serverDestiny (the server that is in inventory file) note if you use fqdn you must make ssh to the fdqn.
example:
 cat inventory
servera.solucoes.local
serverb.solucoes.local
[**m

[2018-04-28 18:38] brampling commented on #38209
Added in https://github.com/ansible/ansible/pull/39469

Also see https://github.com/ansible/ansible/pull/37678 if you want to add/remove CNAME records outside of a host record.

[2018-04-28 19:03] ludyte commented on #15321
In my case the main issue is that the control file was not created and as a result the proxy command did not have proper permissions.

Command revealed by adding `-vvvvvvv` option to ansible cmd:
[code]
If I manually created a route to 10.0.3.* and reran that command without the `-o 'ProxyCommand=ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p -q luser@192.168.1.16'` optio

[2018-04-28 20:41] nerzhul commented on #38736
the @Nothing4You approach is good, this is not a bug

[2018-04-28 20:41] nerzhul commented on #38736
notabug

[2018-04-28 20:42] nerzhul commented on #38736
close_me Not a bug

[2018-04-28 20:56] #38736 closed, assigned to nobody

[2018-04-28 21:03] evertmulder commented on #38043
@Akasurde I have included how we modified the ansible module to get around this issue.

[2018-04-28 21:27] mkoontz opened #39471 "nxos_vlan vlan creation failure"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_vlan

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Workstation: Fedora 28 Beta
Device: nexus-9000v: NXOS: version 7.0(3)I7(3)

##### SUMMARY

I am unable to add a new vlan to a device using the nxos_vlan module. When I try, I get a module failed error.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULT

[2018-04-28 22:31] Nothing4You commented on #31504
ansible 2.5.0 still affected, @bcoca's example consistenly only runs the handler on a single host.

applying the patch from #33011 consistently runs the handler on every host.

[2018-04-28 22:52] gaddman opened #39472 "user.py fails on generate_ssh_key under Python3.6"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
user.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 100
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log
DEFAULT_SSH_TRANSFER_METHOD(/etc/ansible/ansible.cfg) = scp
DEFAULT_TIMEOUT(/etc/ansible/ansible.cfg) = 20
RETRY_FILES_ENABLED(/etc/ansible/ansible.cfg) = False

##### OS / ENV

[2018-04-29 06:14] gaddman commented on #39472
I don't know if this is a suitable fix, but it did get me working again. Add the 2nd exception here after [line 607](https://github.com/ansible/ansible/blob/d90c36e320eab9de197e814c8b948ee6017bf717/lib/ansible/modules/system/user.py#L606-L607):
[code]

Python didn't have the PermissionError until v3.3, so have to check for an OSError in Py2.7.

[2018-04-29 07:14] yuwzho commented on #39231
According to the msg ` it does not have permission to perform action 'Microsoft.Network/networkSecurityGroups/join/action' on the linked scope(s) '/subscriptions/yy/resourceGroups/RG-D01-NET-RHD-002/providers/Microsoft.Network/networkSecurityGroups/NSG-D01-WE-RHD-BACK'`, it shows that Azure doesn't allow you attach the NSG you don't have access to your NIC. That means your problem cannot be solved

[2018-04-29 07:57] vogon1 commented on #39231
@yuwzho Thank you for creating the PR, I understand your other remark.

One more thing, what if I don't want to associate the NIC with any security group? That is what I am actually doing right now I guess, by hashing out the call to self.create_default_securitygroup from within azure_rm_networkinterface.py. That works for me. Is there, or should there be a flag to prevent any NSG action?

[2018-04-29 08:26] anmolnagpal opened #39474 "file: recurse=yes not working on ansible 2.5.2"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
file component

##### ANSIBLE VERSION
ansible 2.5.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ubuntu/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
  executable location = /usr/local/bin/ansible
  python v

[2018-04-29 09:13] yuwzho commented on #39231
Creating NIC without NSG, I have already proposed a PR #38643 , also, you can try the bit according to the instruction in the PR. But according to Ansible release guideline, this new feature won't be available until 2.6.0.

[2018-04-29 09:25] vogon1 commented on #39231
Thank you, I have checked the PR and it is looking good.

[2018-04-29 09:35] anmolnagpal commented on #39474
@dmtrs @resmo

I was looking into it deeper. I found that command is giving an error if there are any soft links in the folder. Although it's changing the owner and group but still give this error. The same thing is working fine on 2.5.1

[2018-04-29 10:53] byronyi commented on #22204
Taking a look at https://github.com/apache/libcloud/pull/1163; I believe we could easily add the support given libcloud has supported it since v2.3. I would be glad if anyone from Ansible team could give me some help on this.

[2018-04-29 11:50] navdeepghai opened #39476 "YML file syntax Error - Ansible"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Installer

##### SUMMARY
[code]
#### File Contents (main.yml)
[code]
## I tried to use with when keyword command also but it's not working.

##### ENVIRONMENT
* Ansible version:  ansible 2.3.1.0
* Operating System:

[2018-04-29 12:02] byronyi commented on #31063
I'm porting a new feature from libcloud 2.0 to ansible GCE module. Let me try if I could fix this unfriendly error message.

[2018-04-29 15:08] mykaul opened #39478 "ovirt.ini - mentioning of libcloud is wrong (oVirt does not support it) in ovirt.ini"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
In https://github.com/ansible/ansible/blob/devel/contrib/inventory/ovirt.ini , the lines around:
[code]

Are a bit wrong - there's no libcloud support for oVirt, etc.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-29 15:08] mykaul commented on #39478
CC @mwperina  , @machacekondra

[2018-04-29 16:48] lalmeras commented on #33131
@johnreed00 @sivel I step into this issue too. After further testing, it only triggers if roleA depends on roleB.

To reproduce this, add a file ``roleA/meta/main.yml`` to the example given by @sivel:
[code]

Playbook now fails:
[code]

Deleting dependency fixes the playbook.

This bug is only triggered with ansible 2.4. Ansible 2.5 is OK.

[2018-04-29 17:40] mwmahlberg commented on #22362
There are actually quite some viable use cases. Say you have a company repository cache, which may filter some RPMs because of company policy. Obviously, you want to use this central repo only. However, this does not necessarily mean one wants to delete the `.repo` files of the distribution altogether. Simply disabling them would be a lot more sensible. The discussion in #2384 also points out prio

[2018-04-29 18:43] flowerysong commented on #39476
`include_tasks` was introducted in Ansible 2.4, it's not valid under 2.3. Use `include` instead.

[2018-04-29 19:17] eric-becker opened #39481 "New sf_snapshot_schedule_manager.py netapp.utils.Schedule() takes at least 4 arguments (1 given)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
sf_snapshot_schedule_manager.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server 7.4

##### SUMMARY
https://github.com/ansible/ansible/blob/d90c36e320eab9de197e814c8b948ee6017bf717/lib/ansible/modules/storage/netapp/sf_snapshot_schedule_manager.py#L226-L230

sf_snapshot_schedule_manager m

[2018-04-29 22:38] dmsimard commented on #39474
Same issue as https://github.com/ansible/ansible/issues/39456

[2018-04-30 00:13] grantcurell opened #39482 "Looping with nested variables and hostvars"
I have an array called data disks. It has a list of disks like sda, sdb, sdc, etc. I want to do what I thought should be idiotically simple however, after about 3 hours of playing with this, has left me feeling like literally the dumbest man alive. I want the logical equivalent of:

[code]

What is the ansible magic to make that happen?

Note:

The behavior of Ansible doesn't make sense to me.

Of

[2018-04-30 01:50] juju4 commented on #38502
Thanks @jborean93 ! works fine with "Null SID" but yes, a bit confusing.
I believe we can close this one as you have a PR ongoing.

Thanks a lot!

[2018-04-30 02:05] #38502 closed, assigned to nobody

[2018-04-30 03:25] trishnaguha commented on #38639
@NT-TM The module failed due to timeout:
[code]
In order to fix this, you'll need to set `command_timeout` in your ansible.cfg:
[code]

Please refer to the doc: http://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#timeout-issues

[2018-04-30 03:37] trishnaguha commented on #39439
@hiddenicon Can you upgrade your ansible version to 2.5.1 and try the module?

[2018-04-30 04:35] lingfish commented on #28051
Any devs got any thoughts on this?  Proving mildly annoying having to run a fork until this is committed.

[2018-04-30 06:27] jebabin commented on #38732
Hi, just want to add that I had the same issue with 2.5.0 and the patch over my 2.5.0 installation fixed the problem. One of my clue about the line break being or not being there is that is might be related to remote authentication (tacacs, etc..) (and probably between the authentication & authorisation state)

[2018-04-30 06:42] vincentchong1 commented on #39167
I think the issue is because of the following
1) 'Password' prompt - will not work
2) 'password' prompt - will work

[2018-04-30 06:47] msieurtoph commented on #24891
@sivel : You officially became my new God with this PR :)
Thank you for it.

[2018-04-30 07:10] ajit2678 commented on #39461
why i can assign ansible to different port to listen, there must me a way to connected ansible with different port

plz help anyone

[2018-04-30 07:24] trishnaguha commented on #39167
@vincentchong1 password prompt/enable mode isn't supported in nxos. The fix is in progress.

[2018-04-30 07:36] byronyi opened #39486 "[Feature Request] Google Kubernetes Engine support"
I see GKE listed in the [v2.4 roadmap](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_4.rst#google-cloud-platform), but no commits nor pending PR regarding to its support. If no one is working on this, I am glad to give it a try.

Any help from the Ansible community would be appreciated, especially to a new-comer like myself.

##### COMPONENT NAME

gce

[2018-04-30 08:00] L-B commented on #27262
@maxamillion
No callback, my local `ansible.cfg` points to an old default, a non-existent `/usr/share/ansible_plugins/callback_plugins`

[2018-04-30 08:08] amenonsen commented on #39482
``with_items`` iterates over a list. ``ansible_devices`` is not a list of devices, but a dict whose keys are device names, and values are dicts with device information. You should use ``with_dict`` instead, and ``item.value.size`` should give you the size of the device corresponding to ``item.key``.

Also, ``{{ hostvars[inventory_hostname].ansible_devices }}`` is the same as ``{{ ansible_devices }

[2018-04-30 08:08] #39482 closed, assigned to nobody

[2018-04-30 08:14] loqutus commented on #39461
google says you can use somethink like
`[docker-hosts]
docker1:223`

[2018-04-30 08:29] L-B commented on #27262
@abadger
I applied the diff straight to my 2.5.1 install, but the issue persists:

[code]

Still there:
[code]

What else can I try to help diagnose?

[2018-04-30 08:33] stephan2012 commented on #28380
@ahssaleh: You probably noticed already that you need to update to a more recent Docker version. Then:

[code]

[2018-04-30 09:38] themr0c commented on #39402
I believe this is not a bug, but expected behaviour of ansible as described in http://docs.ansible.com/ansible/latest/modules/win_chocolatey_module.html: you run with the implicit "state=present", meaning that if the package is already installed, no package upgrade will be performed. You need to specify "state=latest" if you want to upgrade a package which is already installed.

[2018-04-30 09:50] mikehardenize commented on #28349
Although I agree that the module needs updating to support this functionality explictly and/or include documentation, I thought it was worth me posting my solution to the problem in case others have the same issue:

[code]

[2018-04-30 09:57] longwave opened #39489 "Changing follow default parameter for file command can be dangerous"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

Changing the follow default is dangerous if previously your playbook removed a symlink; now it removes the destination of the symlink instead - this can cause data loss!

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

index.php

[2018-04-30 10:00] Akasurde commented on #38300
- [x] vmware_host - #39490
- [ ] vmware_resource_pool

[2018-04-30 10:11] Akasurde commented on #38300
@corbinstuard Can you check if above PR works for you ? also, can you please explain use case of resource_pool module without cluster ?

[2018-04-30 10:47] ajit2678 commented on #39461
means docker1 is a host name then the port number

[2018-04-30 10:48] loqutus commented on #39461
yeah

[2018-04-30 11:02] grantcurell commented on #39482
Noooooooooooooooooooooooo why is the answer sooooo obvious!!! I was really hoping it wouldn't be something like that bahahaha.

Thanks dude!

[2018-04-30 11:10] Akasurde commented on #33622
@sdesbure Any news ?

[2018-04-30 11:10] drgr33n commented on #18124
This is still broken in version 2.4.3.0.

[2018-04-30 11:34] machacekondra commented on #39478
This file is actually shared with `ovirt.py` dynamic inventory used by V3 API which use it libcloud. Anyway I will improve the comment so it's clear.

[2018-04-30 11:47] gundalow commented on #38732
@jebabin This fix should be in Ansible 2.5.2 now.

[2018-04-30 11:54] mpeter13 commented on #39395
We’ve tried specifying user/password in ansible.cfg and at the Task level,  Playbook is using Machine account.

From: Peter Sprygada [mailto:notifications@github.com]
Sent: Saturday, April 28, 2018 6:05 AM
To: ansible/ansible <ansible@noreply.github.com>
Cc: Peterson, Michael 1 <Michael.1.Peterson@ampf.com>; Mention <mention@noreply.github.com>
Subject: Re: [ansible/ansible] network_cli connection

[2018-04-30 11:59] gundalow commented on #39395
@mpeter13 Not sure if you've seen, though we have various new docs added in Ansible 2.5
* http://docs.ansible.com/ansible/latest/network/user_guide/platform_ios.html
* http://docs.ansible.com/ansible/latest/network/getting_started/first_inventory.html
* And various other under http://docs.ansible.com/ansible/latest/network/

[2018-04-30 12:06] #39489 closed, assigned to nobody

[2018-04-30 12:28] mpeter13 commented on #39395
Thanks – adding the group_vars in the new doc worked.

From: John R Barker [mailto:notifications@github.com]
Sent: Monday, April 30, 2018 7:00 AM
To: ansible/ansible <ansible@noreply.github.com>
Cc: Peterson, Michael 1 <Michael.1.Peterson@ampf.com>; Mention <mention@noreply.github.com>
Subject: Re: [ansible/ansible] network_cli connection raises AnsibleConnectionFailure exception (#39395)

@mpeter

[2018-04-30 12:39] gundalow commented on #39395
@mpeter13 Excellent, thank you for confirming
@skregas How are you providing credentials, have a look at the documents I linked above

[2018-04-30 12:46] justjais opened #39494 "Meaningful error should be displayed if agent is not able to connect to NIOS infoblox"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

NIOS

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = yaml

##### OS / ENVIRONMENT

Mac OS

##### SUMMARY

If connection is not established to NIOS, nios modules throw code exception

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

If connection is not established meaningful err

[2018-04-30 12:50] ghost opened #39496 "set_fact fails to generate a list in 2.5 but works fine in 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/root/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/root/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=6000s
ANSIBLE_SSH_CONTROL_PATH_DIR(/root/ansible.cfg) = /tmp/.ansible
CACHE_PLUGIN(/root/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/root/ansible.cfg) =

[2018-04-30 12:52] justjais commented on #38898
@jhenahan Thank you for logging your observation. Also, I have tried to reproduce respective observed behaviour and its working as expected and its able to add host record with ip and mac as defined in playbook.
But respective code exception is thrown if connection is not present btw agent and NIOS infoblox. So, I am closing this defect and opening a new one for tracking. Bug Id for the same is: #

[2018-04-30 12:52] #38898 closed, assigned to justjais

[2018-04-30 12:55] Akasurde commented on #33873
resolved_by_pr https://github.com/ansible/ansible/pull/33293

[2018-04-30 13:00] Akasurde commented on #39060
resolved_by_pr #39061

[2018-04-30 13:01] Akasurde commented on #39057
resolved_by_pr #39052

[2018-04-30 13:02] Akasurde commented on #38798
resolved_by_pr #39010

[2018-04-30 13:04] Akasurde commented on #33292
resolved_by_pr #33293

[2018-04-30 13:09] Akasurde commented on #39496
@robo2bobo  Thanks for reporting this issue. This has been resolved in #38302 and has been included in the 2.5.2 release.

If you have further questions please stop by IRC or the mailing list:

- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-30 13:09] #39496 closed, assigned to nobody

[2018-04-30 13:10] Raffaello opened #39497 "dynamic conditionals for each item of loops."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`when:` ansible conditionals and `with_items:` loops

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
create just a file in `/tmp/file.txt` with 1 line `hello`

##### EXPECTED RESULTS
As a feature request it would be nice to have a loop that can have a specific conditio

[2018-04-30 13:23] #39439 closed, assigned to nobody

[2018-04-30 13:28] mcoakley commented on #29716
I have this issues as well. Below is my Ansible version/config information.

[code]

I will add that in block replace mode there is also a deduplication bug. Here is an example:

[code]

In my experience this will ALWAYS replace the access-list because when the access-list is determined that it needs to be replaced (the first time) it will not insert all of the lines above due to the mentioned "de

[2018-04-30 13:43] ajit2678 commented on #39461
That doesn't work for me.

[2018-04-30 13:45] mwegrzynek opened #39499 "EdgeOS commands not working on firmware 1.10.1 (EdgeRouter 6P)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

edgeos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/redacted_username/.ansible.cfg) = True
CACHE_PLUGIN(/home/redacted_username/.ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/home/redacted_username/.ansible.cfg) = /home/redacted_username/Projekty/Ansible/cache/facts
CACHE_PLUGIN_TIMEOUT(/home/redacted_

[2018-04-30 14:18] mohag commented on #37319
(Another use case for the refactored `firewalld` code, is adding custom services... Deploying my existing firewalld rule set using Ansible currently uses workarounds for that...) (`firewall-cmd` from the command module, but error checking gets tricky...) (I use ipsets with individual IPs and ranges (for different things), custom services (those can be deployed using the `file` module...) and rich

[2018-04-30 15:00] jmcgill298 commented on #39401
`101-102` is how it appears in the APIC I believe. `When C(interface_type) is C(vpc), then C(leafs) is a list with both leaf IDs.` is the line meant to indicate that it should be written in an acceptable yaml list format (as above or  lines with `-` for entries). I can see that this could be confusing, and should be updated.

@dagwieers It probably would make sense to convert a string of `node1-no

[2018-04-30 15:08] themr0c commented on #30784
user and password are nice improvements, apikey would be even better as it is the preferred way to enable feeds for automation. user and password are simpler to implement, because they are simple command line switches to add, apikey is a little more complex because you will need to first call 'choco apikey -s source -k key'. Would a PR with both additions be accepted or is it better to do 2 separa

[2018-04-30 15:28] ciscler opened #39504 "Cisco ios_config always backups running-config all"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
[code]
##### CONFIGURATION

##### OS / ENVIRONMENT
[code]
##### SUMMARY
The ansible ios_config backups the cisco configs with the command "running-config all" But it should only backup the config with the normal running-config command. Before the upgrade to ansible 2.5 everything worked.

This is the yml:

[code

[2018-04-30 15:41] sivel commented on #37405
This was fixed in 7c83f006c0bd77e9288388d7de62cee6cf10d5ee and included in the 2.5.0 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-30 15:41] #37405 closed, assigned to nobody

[2018-04-30 15:41] ghost opened #39505 "Unreliable pip module installation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pip

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(nothing)

##### OS / ENVIRONMENT
Ubuntu 16.04.4 Server LTS

##### SUMMARY
When using `pip` module to install various modules, `graphite-web`, `whisper`, and `carbon`, I noticed that sometimes it does not install the package completely and/or it's dependencies.

##### STEPS TO REPRODUCE
Use

[2018-04-30 15:48] #11444 closed, assigned to nobody

[2018-04-30 15:48] #15190 closed, assigned to nobody

[2018-04-30 15:50] skregas commented on #39395
@gundalow: same as @mpeter13. Thanks for the help

[2018-04-30 15:59] abadger commented on #27262
@L-B Can you give the output when running with -vvvvv (five v's)  Lacking a reproducer, I'll need t oget the traceback which will show where this error is coming from.

If the output doesn't have a traceback, I'll have to figure out where in the code we might be catching the exception and then omitting the traceback information.

[2018-04-30 16:00] Rylon opened #39508 "Add `role_name` and `role_path` for use with `ansible_managed` in `ansible.cfg`"
##### ISSUE TYPE

 -~ Bug  Report~
- Feature Idea

##### COMPONENT NAME

examples/ansible.cfg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_MANAGED_STR(/path/to/ansible.cfg) = This file is managed by Ansible in the {role_name} role

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I am attempting to use the variables `role_name` and `role_path` inside the `ansible_managed` configuration

[2018-04-30 16:12] vincentchong1 commented on #39167
If it help, i have an separate ansible environment and different nxos switches, that running the exact version, but work.

[2018-04-30 16:27] NT-TM commented on #38639
# Configures the persistent connection timeout value in seconds.  This value is
# how long the persistent connection will remain idle before it is destroyed.
# If the connection doesn't receive a request before the timeout value
# expires, the connection is shutdown.  The default value is 30 seconds.
connect_timeout = 600

# Configures the persistent connection retries.  This value configures the

[2018-04-30 16:58] NT-TM commented on #38639
With nxapi - this issue goes away. My production in however not set up for using NXAPI and all my deployments is dependent on this bug being fixed. Could you provide me a timeline.

[2018-04-30 17:05] sivel commented on #34075
Duplicate of https://github.com/ansible/ansible/issues/32888

[2018-04-30 17:05] #34075 closed, assigned to nobody

[2018-04-30 17:11] sivel commented on #37466
Duplicate of https://github.com/ansible/ansible/issues/33768

[2018-04-30 17:11] #37466 closed, assigned to nobody

[2018-04-30 17:27] #17086 closed, assigned to nobody

[2018-04-30 17:27] jaxzin commented on #30784
As a frequent Chocolatey user, I agree with @jhawkesworth. There should be a new `win_chocolatey_source` module dedicated to installing sources, but that's separate from this request, because while you can add sources, you can also specify a source (with username and password) during `choco install` which is what this module is controlling.

Also @themr0c , I believe [the API key](https://github.c

[2018-04-30 17:29] NT-TM commented on #38639
https://github.com/ansible/ansible/issues/39167 this issue is the same pattern of my error too.

[2018-04-30 17:42] bcoca commented on #39508
Changed to feature request, the `ansible_managed` docs clearly states the available variables for use with the macro, any other variables are not supposed to be available.

[2018-04-30 17:52] bcoca commented on #30100
FYI, unarchive already supports vault, it will decrypt the archive transparently.

[2018-04-30 18:04] max-10001 commented on #39402
My mistake. Thanks for the confirmation.

[2018-04-30 18:04] #39402 closed, assigned to nobody

[2018-04-30 18:10] corbinstuard commented on #38300
@Akasurde i shouldnt need to specify a folder either, datacenter and esxi host should be enough. cluster_name should be optional for when your hosts are part of a cluster. i can add hosts directly to a datacenter and resource pools to those hosts, without any cluster existing in the first place. something like this:

[code]

[2018-04-30 18:13] Joeskyyy commented on #38605
@Akasurde VM tools are indeed installed on the machine.

[2018-04-30 18:15] samdoran commented on #13235
@samdoran The reason this was happening is because there was logic to compare the current and desired expiration dates. If an expiration date specified in the task, the command to set the expiration date was always run. I have added this is #38885.

Additionally, I found a bug in how the expiration date was set on FreeBSD. It should behave correctly now.

[2018-04-30 18:18] #30786 closed, assigned to nobody

[2018-04-30 18:25] maxamillion commented on #28349
@mikehardenize thanks for sharing, I'll update the examples in the firewalld module to include this.

I would like to add the port forward directive, but it's just a matter of finding the free time. I've recently pushed in a large refactor of the module up (https://github.com/ansible/ansible/pull/37603) and once that is merged, I'll add the port forward.

[2018-04-30 18:33] JuChang91 opened #39517 "win_service module no longer accepts wildcards"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible Control = RHEL7.4
Ansible Managed = Windows Server 2016 Standard

##### SUMMARY

win_service module no longer finds services with the wildcard character.

i.e. my service name is my_service_2017
win_service:
  name: my_service*

used to work in ver

[2018-04-30 18:37] greggilbert commented on #22953
Ping on this. Any movement? Is there any sort of workaround for this?

[2018-04-30 18:41] mxkle opened #39519 "Module - proxmox_kvm - Creating clone with new mac address not possible"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
proxmox_kvm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ansible control machine:
[code]
ansible managed machine:
[code]
##### SUMMARY
Using the clone function while also specifiying a new mac address results in a random mac.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
net0 of new vm should have

[2018-04-30 18:41] maxamillion commented on #37319
I probably should have linked this here before. The refactor is basically done, just awaiting final review. https://github.com/ansible/ansible/pull/37603

[2018-04-30 18:55] sivel commented on #39435
This error indicates that the python version used to create `/usr/local/Cellar/ansible/2.5.2/libexec/bin/python2.7` has been removed.

As homebrew is not an officially supported method to install ansible, as well as this being a local python configuration issue, I'm going to close this out.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.n

[2018-04-30 18:55] #39435 closed, assigned to nobody

[2018-04-30 19:27] #36063 closed, assigned to s-hertel

[2018-04-30 19:29] bcoca commented on #39497
you already can:
`when: item in ('hello',) and check_sysemd.result != or item in ('world',) and check_systemd.result == 0`

[2018-04-30 19:35] Qalthos commented on #39499
The EdgeOS modules are network modules and as such work slightly differently from other modules in Ansible (see http://docs.ansible.com/ansible/2.5/network/getting_started/network_differences.html).

The short version is that you need to specify `connection: network_cli` on EdgeOS hosts, either with `-c network_cli` or as vars in your inventory.

@samdoran this should probably be clearer in terms

[2018-04-30 19:36] greggilbert opened #39522 "RabbitMQ - idempotency broken for queues when specifying arguments"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

rabbitmq_queue

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(none)

##### OS / ENVIRONMENT

OSX 10.13.4 connecting to Ubuntu 16.04

##### SUMMARY

When defining a queue, I include arguments for prioritization. Running the playbook command more than once throws this error: `RabbitMQ RESTAPI doesn't support attribute changes for existing

[2018-04-30 19:41] #38838 closed, assigned to nobody

[2018-04-30 19:43] sivel commented on #39461
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-04-30 19:43] #39461 closed, assigned to nobody

[2018-04-30 19:47] sivel commented on #39463
We are currently tracking and are aware of the following issues:

https://github.com/ansible/ansible/blob/f37a44430f60f0e8f030bcfcff7677a61723995f/test/sanity/pslint/ignore.txt#L9-L11

Since you have already opened a PR for this at https://github.com/ansible/ansible/pull/39464 I'm going to go ahead and close this issue.

If you have further questions please stop by IRC or the mailing list:

   * I

[2018-04-30 19:47] #39463 closed, assigned to nobody

[2018-04-30 19:51] L-B commented on #27262
I had given a try, but -vvvvvv did not show a traceback or anything looking useful.
However, after starting from scratch on a different box and further prodding, I've found the cause, and I think now you'll be able to reproduce it. It's this line in `/etc/ansible/ansible.cfg`:
[code]

Please note that it's the default value, but it's commented out by default. Uncommenting it breaks `template` with

[2018-04-30 20:14] jborean93 commented on #39517
This was done on purpose as win_service was/is never designed to support wildcards as part of the process. While it may have worked in the past there wasn't ever any guarantees that we would continue supporting it that way.

You would find that the idempotency would be broken as well in that case as each action only runs in case it was required, e.g. you had 2 services `service1` and `service2` wh

[2018-04-30 20:14] #39517 closed, assigned to nobody

[2018-04-30 20:17] agaffney opened #39525 "ec2_asg module fails to add more then 10 ALB target groups to ASG"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`ec2_asg` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using the `ec2_asg` module to configure an ASG with more than 10 ALB target groups attached, you get an error back from the API:

[code]

While this is an API-side limitation, the module should be able to handle this.

Just for

[2018-04-30 20:26] masaki-furuta opened #39527 "Won't run second play when getting host unreachable error in the first play within single playbook YAML file."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

/usr/lib/python2.7/site-packages/ansible/plugins/connection/ssh.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 28

##### SUMMARY

- I have an ansible playbook YAML file which contains 2 plays.
- First play has 1 or 2 target hosts and when the first play failed with error of all of remote hosts un

[2018-04-30 20:43] rwill-at-ncgov commented on #38669
I'm guessing you're still a little short with your timers given a box with dual sups. Mine is nearly 60secs for 9504.

2018-04-30 16:19:18,424 paramiko.transport Kex agreed: diffie-hellman-group-exchange-sha256
2018-04-30 16:19:18,424 paramiko.transport HostKey agreed: ssh-rsa
2018-04-30 16:19:18,424 paramiko.transport Cipher agreed: aes128-ctr
2018-04-30 16:19:18,424 paramiko.transport MAC agreed

[2018-04-30 20:55] abadger commented on #27262
Reproduced!  Thanks. /me looking for the problem now.

[2018-04-30 20:57] soumikbh commented on #38669
Thanks a lot rwill-at-ncgov - good point and observation. Unfortunately, even with increasing timeout of 180 seconds, I am still seeing the following error for that one switch, which seems to me a regex mismatch but I may be wrong :

The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_hhj9W6/ansible_module_nxos_facts.py", line 596, in <module>
    main()
  File "/tmp/ans

[2018-04-30 21:04] JuChang91 commented on #39517
@jborean93
Sounds good. Thanks for the response.

[2018-04-30 21:10] GowthamRam2889 commented on #25168
is this feature available yet ? @garethr  @ryansb @ansibot

I am using ansible 2.5.2 - and I see errors like below:

fatal: [localhost]: FAILED! => {"changed": false, "msg": "Unsupported parameters for (ec2_asg) module: metrics_collection Supported parameters include: availability_zones, aws_access_key, aws_secret_key, default_cooldown, ............  .. . .. etc "}

[2018-04-30 21:12] rwill-at-ncgov commented on #38669
I added some other commands to my playbook, specifically the line:
- show interface brief | json

---
- hosts: sfCore
#- hosts: edc-9504-b
#- hosts: edc-9504-a
#- hosts: edc-sf-n9k-svc-g2
# - hosts: edc-sf-n9k-svc-g3
# - hosts: testsf
  gather_facts: no

  tasks:
    - name: Ping device
      ping:
    - name: Get nexus facts
      nxos_facts:
        gather_subset:
          - all
          - "!c

[2018-04-30 21:13] #33693 closed, assigned to nobody

[2018-04-30 21:25] bcoca commented on #37531
an implementation #38759 , just using a `__ansible_X` keys

[2018-04-30 21:45] abadger commented on #27262
@L-B I think I have a fix for that now.  You can try the code in  #39531 to see if it works.

Note that ansible_managed now defaults to "Ansible Managed".  The commented out value you used is much more informative but it can cause template tasks to no longer be idempotent (because the values can change in certain circumstances).  That's why uncommenting it reveals the bug.

[2018-04-30 22:04] sivel commented on #23578
Closing this issue. The is the expected behavior, and most all issues posted here have been corrected.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-30 22:04] #23578 closed, assigned to nobody

[2018-04-30 22:05] samdoran commented on #39499
@mwegrzynek I am able to connect to EdgeOS 1.10.1 successfully. Can you try setting `connection` to `network_cli` and see if that resolves your issue?

[code]

[code]

[2018-04-30 22:05] samdoran commented on #39499
needs_info

[2018-04-30 22:06] samdoran commented on #39499
@Qalthos What would be the best place for better error reporting? In the terminal plugin?

[2018-04-30 22:32] L-B commented on #27262
Thanks, I'll try it after the holiday and report back in a couple of days.

[2018-04-30 22:34] maxamillion commented on #28349
https://github.com/ansible/ansible/pull/39534

[2018-04-30 22:59] Rylon commented on #39508
Hi @bcoca thanks for the clarification - I had spotted that in the docs, but it wasn't 100% clear to me that those were the only variables available. I did try to use a custom fact (via `set_fact`), but that didn't seem to make it through either.

Totally open to having this as a feature request though, to support more variables and Ansible facts at interpolation time.

Thanks again!

[2018-04-30 23:10] bcoca commented on #39508
i meant use your own var `my_managed`, not update `ansible_managed` as that would be overriden

[2018-04-30 23:57] soumikbh commented on #38669
Hey rwill-at-ncgov, thanks again and yes these are helpful tips indeed. I tried as many of them as I could but I kept getting the same error every time. Other nxos modules even setup module works OK with the same switch. Hopefully some clue would come out from the discussion going on in this thread.

[2018-05-01 00:02] jpowers-j2 opened #39538 "dynamodb_table does not support new aws encryption and other features"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

dynamodb_table

##### ANSIBLE VERSION

[code]
##### SUMMARY
Existing Dynamodb module lacks features that AWS provides via API at this point. We need support for following features:

Create global tables
enable dynamodb streams
Enable encryption at rest

alternately just the ability to pass generic extra options might allow these features to

[2018-05-01 00:33] abadger commented on #27262
Cool.  I've merged this to devel and opened a backport for 2.5.3.  I'll leave this open so you can tell us whether it fixed things or not once you get back.

needs_info

[2018-05-01 02:42] ITBlogger commented on #25414
Any updates on this? Still having the issue with 2.5.1

[2018-05-01 03:12] alan113696 opened #39541 "ec2_ami is not deleting snapshots"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_ami

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

ec2_ami module does not appear to be deleting snapshots when using the "delete_snapshot=yes" parameter.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected a response with non-empty "snapshot

[2018-05-01 03:26] alan113696 commented on #39541
The following code might need to be revised:

[](url)https://github.com/ansible/ansible/blob/e9270fb100f4d550888513b2af37b185d6e7d838/lib/ansible/modules/cloud/amazon/ec2_ami.py#L496-L501

BlockDeviceMappings data structure looks like:
[code]

Note that SnapshotId is nested within Ebs.

[2018-05-01 03:32] #37321 closed, assigned to nobody

[2018-05-01 03:40] 9strands opened #39542 "os_server_facts does not provide --all-projects function for admin users"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

os_server_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_ARGS(/home/cloud-user/stack_post_deploy/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null
DEFAULT_CALLBACK_PLUGIN_PATH(/home/cloud-user/deploy/ansible.cfg) = [u'/home/cloud-user/stack_post_deploy/plugins/callback']
DEFAUL

[2018-05-01 03:45] trishnaguha commented on #38669
@rwill-at-ncgov Extremely thanks for following up on this.
@soumikbh Can you please share your show version output and nxos platform with us? This will help us to know if the issue is device specific.

Thanks.

[2018-05-01 04:14] par02 commented on #38899
I encountered this same issue in 2.4.4 after upgrading from 2.4.2 due to a memory issue (2.4.2 displayed the labels correctly).

The playbook I found this in was a lot more complicated, but by experimenting I was able to satisfy myself that only the label was displayed incorrectly.  The loop variable items still seem to be correct in the underlying data, and actions using that data appear correct.

[2018-05-01 04:15] trishnaguha commented on #39167
@cnorthwood it might be possible that the issue is related to terminal plugin, I have added a few debug logs in network_cli.py here https://github.com/trishnaguha/ansible/commit/d92b85a82534d1dd9889b746b7fb47daa374492f to confirm this. Please add these debug logs in your environment and retest.

Note: Above logs will be redirected to a log file. To enable logging please set log_path in the active

[2018-05-01 04:16] trishnaguha commented on #38639
@NT-TM
it might be possible that the issue is related to terminal plugin, I have added a few debug logs in plugins/connection/network_cli.py here trishnaguha/ansible@d92b85a to confirm this.

Please add these debug logs in your environment and retest. Make sure to do this on devel branch.

Note: Above logs will be redirected to a log file. To enable logging please set log_path in the active ansibl

[2018-05-01 04:28] kostrzewa9ld commented on #37466
@sivel I don't know how it is organised in the code but the original issue (the issue I submitted) looks to me a bit different than the comment done by @jouve and the issue it is marked to be a duplicate of. My issue looks to be connected to dependencies resolution and that variable from dependencies to a role are not visible inside this role when it is imported with `import_role`. #33768 is more

[2018-05-01 04:44] timm088 commented on #15019
Still an issue on 2.5.2 also

[2018-05-01 04:53] dhallam opened #39543 "include_role is excluded when another role is excluded from playbook via a when"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

- No configuration changes

##### OS / ENVIRONMENT

- Running from: Ubuntu 16.04
- Managing: Ubuntu 16.04

##### SUMMARY

The use of `include_role` gives a change in behaviour between ansible 2.3.2.0 and 2.5.2 where a playbook's roles are `role_a` and `role_b` but `role_b` is

[2018-05-01 07:58] Vaibhavarora08 opened #39545 "ec2: templating error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2

##### SUMMARY
I am trying to run an ansible playbook to create an ec2 instance but getting the error:-
WARNING]: provided hosts list is empty, only localhost is available
Output:--
[code]
The content of the file which is throwing error is :---####aws-ec2.yml#######
[code]

[2018-05-01 08:24] mwegrzynek commented on #39499
@samdoran Thanks, it seems setting network_cli fixes the problems. I had also pass **ansible_network_os=edgeos** (I'm running SSH on non-standard port on the EdgeRouters). Without ansible_network_os i was getting:
[code]
Thanks once again!

[2018-05-01 08:49] gundalow commented on #39395
Thank you for confirming.
Feedback on the docs is always welcome via `#ansible-network` on Freenode or GitHub issues

I'll close this

[2018-05-01 08:49] #39395 closed, assigned to nobody

[2018-05-01 09:33] gundalow commented on #39022
Example comment from NTC

Question about `timeout`. Reading the doc for IOS, it says `Specifies the timeout in seconds for communicating with the network device for either connecting or sending commands. If the timeout is exceeded before the operation is completed, the module will error.`
However, to me timeout seems valid for `task` not for single device.
I.e. if I have a timeout of 60 seconds an

[2018-05-01 09:59] erickeller commented on #38241
same behaviour here with `os_server` module.

[2018-05-01 10:26] mscherer opened #39551 "Undocumented change regarding variable named 'name' in 2.5 break existing playbooks"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
all

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing relevant

##### OS / ENVIRONMENT
RHEL 7

##### SUMMARY
Ansible silently broke a ton of role my team wrote. Since 'name' is kinda a generic variable name, we used it a lot around. Now, we have to upgrade a dozen of documentation, playbooks and role due to

The problem is that now, 'n

[2018-05-01 10:31] #39143 closed, assigned to nobody

[2018-05-01 11:31] GoodMirek opened #39552 "Support AWS EC2 launch templates"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ec2_lt
ec2_lt_facts
ec2_lt_find

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

AWS introduced EC2 Launch Templates in November 2017. The Launch Templates are intended as replacement and enhacement of EC2 Launch Configs. Ansible could support Launch Templates in the similar way it supports Lau

[2018-05-01 11:39] Raffaello commented on #39497
I meant:
for `'hello'` apply iff the `check_systemd.result[0].rc != 0'
and for `'world'` iff the `check_systemd.result[1].rc != 0'

[2018-05-01 12:17] GoodMirek commented on #39552
!component -lib/ansible/modules/cloud/amazon/ec2_lc_find.py

[2018-05-01 12:22] craigfrancis opened #39553 "file applying owner/group/mode to symlink destination, not the link itself in Ansible 2.5.2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS 10.13.4 (17E202)

##### SUMMARY

When working with symlinks, the owner/group/mode is applied to the destination of the symlink, not the symlink itself.

##### STEPS TO REPRODUCE

To setup:

	rm -rf example-folder example-link;
	mkdir example-folder;
	ln

[2018-05-01 12:26] craigfrancis commented on #39553
This was working in Ansible 2.5.0 on MacOS 10.13.4 (17E199).

I don't think `Security Update 2018-001` from Apple, which changed the version to 10.13.4 (17E202), would have effected this.

[2018-05-01 12:32] johnkrovitch commented on #28768
Hi,

same bug here with Ansible 2.5.2

[2018-05-01 12:53] geoffhigginbottom opened #39554 "os_user failing to asign Default Project"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

CACHE_PLUGIN(/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/ansible/ansible.cfg) = /tmp/facts_cache
CACHE_PLUGIN_TIMEOUT(/ansible/ansible.cfg) = 300
DEFAULT_BECOME(/ansible/ansible.cfg) = True
DEFAULT_FORKS(/ansible/ansible.cfg) = 50
DEFAULT_GATHERING(/ansible/ansible.cfg)

[2018-05-01 13:27] bcoca commented on #39497
im not sure i get the difference, aside from me changing `!=` to `==` for one of them to make the difference more apparent.

[2018-05-01 13:29] dkirrane commented on #35665
@Akasurde I did pretty much as outlined by @phemmer but ended up using govc. I created a kickstart iso with OEMDRV label and added that as another cdrom device

[2018-05-01 13:29] nkakouros opened #39556 "Expose to the playbook the history of run roles"
##### ISSUE TYPE

 - Feature Idea

##### SUMMARY
Now that we have `import_role` and `include_role` which can be used with conditionals, I was wondering if there is a way to access a list of the roles that have run in the current playbook.

A long playbook could be provided with many `import_role` statements and a subset of them could be chosen based on conditionals (eg os_family, cli provided vari

[2018-05-01 13:59] sdodson opened #39558 "ansible-2.5.2 file state=link force=yes no longer works"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file module

##### ANSIBLE VERSION
ansible-2.5.2 from RHEL 2.5 channels
*does not happen in 2.5.1*

[code]

##### CONFIGURATION
no changes

##### OS / ENVIRONMENT
RHEL 7.5

##### SUMMARY
The file module can no longer create a dangling symlink.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
A dangling symlink from /etc/sdodson-test to /

[2018-05-01 13:59] sgowie opened #39559 "Mount module fails to provide functionality for core system mounts"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

mount module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Vanilla
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Mount module does not present a state that modifies /etc/fstab without impacting mounted systems.   For the purposes of migrating system volumes to a different filesystem or storage device it would be useful to prepare the fst

[2018-05-01 13:59] sdodson commented on #39558
May be related to https://github.com/ansible/ansible/issues/39553

[2018-05-01 14:07] sdodson commented on #39558
Setting follow=false seems to work around the problem

[2018-05-01 14:15] Rylon commented on #39508
Ah I see, yeah that could work too - good idea. Thanks!

[2018-05-01 14:30] samdoran commented on #39499
@mwegrzynek Yup, those are the two key pieces to using Ansible Networking: setting `ansible_network_os` and setting `ansible_connection: network_cli`. I'll see about adding some warnings/info to the modules to better convey this.

[2018-05-01 14:31] sivel commented on #18334
This was resolved in https://github.com/ansible/ansible/commit/ef96329ae2279b3480261b8b737a8d41da663e5e and included in the v2.4.1 release

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-01 14:31] #18334 closed, assigned to nobody

[2018-05-01 14:31] sgowie commented on #39559
Please take a look at the 2.5 documentation.  As mentioned in the issue, the 2.4 documented behavior is desirable, howerlver this is not the functionality nor documented behavior of 2.5

[2018-05-01 14:35] sivel commented on #18338
Resolved by https://github.com/ansible/ansible/pull/38827

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-01 14:35] #18338 closed, assigned to jimi-c

[2018-05-01 14:41] Raffaello commented on #39497
ok i get it! thanks! :+1:

[2018-05-01 14:41] #39497 closed, assigned to nobody

[2018-05-01 14:47] bcoca commented on #39551
This was not an specific change to the handling of `name`, but a consequence of 'better' handling of separating keywords from variables.  'name' was always a reserved keyword (its an alias to role), we were just doing a bad job of avoiding conflating it with a variable.

Originally Ansible allowed you to define keywords and variables in the same place and we were not strict about separation. This

[2018-05-01 15:09] sivel commented on #20837
I cannot reproduce this issue with the following reproducer:

[code]

roles/role/tasks/main.yml
[code]

Produces:

[code]

Please provide a full reproducer following a format like I provide in this comment.

needs_info

[2018-05-01 15:10] icez commented on #31576
I find that if the parameter 'localport' or 'remoteport' is omited, the command would be run successfully. But when the port parameter is present, then the result will always be like this:

ansible-2.5.2-1.el7.noarch

[2018-05-01 15:10] colin-nolan opened #39562 ".ini files in inventory directories are ignored by default"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

/lib/ansible/config/base.yml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(default)

##### OS / ENVIRONMENT

n/a

##### SUMMARY

By default, Ansible is configured to ignore files in an inventory directory with the `.ini` extension:
https://github.com/ansible/ansible/blob/ebe7666d71e30d47bf1af6c8c601d275c1ddacaa/lib/ansible/config/base.y

[2018-05-01 15:12] sivel commented on #20589
I'm going to go ahead and close this due to no activity.  If you are still having this issue, please open a new issue tested against a recent version of ansible with a full reproducer that shows this issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-01 15:12] #20589 closed, assigned to nobody

[2018-05-01 15:16] bcoca commented on #39562
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is on purpose, due to the legacy of inventory scripts and their reliance on `.ini` files for configuration.

In the future, this m

[2018-05-01 15:16] #39562 closed, assigned to nobody

[2018-05-01 15:16] sivel commented on #18217
Closing this issue. I've verified that this was actually resolved in v2.2.1.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-01 15:16] #18217 closed, assigned to nobody

[2018-05-01 15:19] #13235 closed, assigned to samdoran

[2018-05-01 15:26] sivel commented on #21328
I am unable to reproduce this with the following configuration:

[code]

general-base.yml
[code]

roles/proxy_install/tasks/main.yml
[code]

roles/proxy_install/tasks/install.yml
[code]

roles/proxy_install/tasks/do_stuff.yml
[code]

This produces:

[code]

Please provide a *full* reproducer that shows this issue.

needs_info

[2018-05-01 15:29] bbb31 commented on #39505
@prasadkatti nice catch, however; upon checking they both use the same python installation:

[code]

I checked which packages provide them; and they're from the same packages:

[code]

[2018-05-01 15:36] ibarrere commented on #29577
I'm having the same issue. It seems to only affect "snmp-server" commands, though. I've verified that the input exactly matches the existing lines in the config, so I'm not sure why it's registering as a change.

For what it's worth, the line shows up something like this in the config:

snmp-server host 192.168.1.10 public

But the output of "show archive log config all" after running the task sho

[2018-05-01 15:45] seankelly commented on #20776
I don't have the ability to check anymore since I changed other things to avoid this problem. My primary issue was the documentation didn't match the code but that appears to be true now so I'm happy.

[2018-05-01 15:52] Qalthos commented on #39499
The other modules do it in the action plugin. `edgeos` doesn't have an action plugin, but something along the lines of

[code]

might be reasonable.

[2018-05-01 15:57] sivel commented on #26718
Duplicate of https://github.com/ansible/ansible/issues/18140

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-01 15:57] #26718 closed, assigned to jimi-c

[2018-05-01 16:00] colin-nolan commented on #39562
It is unclear to me why anyone would have non-inventory `.ini` files in a directory that is been used as an inventory source. Could you elaborate on what the legacy reasons for having such files may have been?

For context: in some of our inventory directories, we have tens of static ini inventories alongside dynamic script inventories (i.e. we deal with "partial" inventory files in inventory sour

[2018-05-01 16:04] #20776 closed, assigned to nobody

[2018-05-01 16:11] bcoca commented on #39562
As you can see herer https://github.com/ansible/ansible/tree/devel/contrib/inventory, many inventory scripts have corresponding `.ini` files (some use `.yaml/.yml`) and the ini parser was always able to read files w/o the extension mattering. This is mostly a restriction on 'directory parsing' that has always been a part of Ansilbe.

[2018-05-01 16:36] erasche commented on #38027
I locally fixed this with a small change on https://github.com/ansible/ansible/blob/a067575cab10da106f7ee2b5bb30914aa7c18854/lib/ansible/modules/database/influxdb/influxdb_query.py#L99

[code]

[2018-05-01 16:39] dkorel-copperleaf opened #39565 "include_role with 'when' is always called if the variable is undefined"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

host_key_checking = False
retry_files_enabled = False
timeout = 30

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY
Using include_role with the when clause will always run if the variable is undefined

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The role should n

[2018-05-01 16:41] sivel commented on #39565
This issue was recently resolved in https://github.com/ansible/ansible/pull/39377

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-01 16:41] #39565 closed, assigned to nobody

[2018-05-01 16:44] NT-TM commented on #38639
2018-05-01 09:03:09,121 p=7285 u=ntomy |  ansible-playbook 2.5.2
  config file = /home/ntomy/.ansible.cfg
  configured module search path = [u'/usr/lib/python2.7/site-packages/napalm_ansible;/usr/lib/python2.7/site-packages/ansible;/var/lib/awx/projects/a10_modules/library']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible-playboo

[2018-05-01 16:56] texdc commented on #33912
@sivel We're still using `2.4` and I tried the `label` property. However, the loop item structure was still rendered in verbose output.
[code]

[2018-05-01 16:57] sivel commented on #28063
This issue was resolved in ef96329ae2279b3480261b8b737a8d41da663e5e and included in the v2.4.1 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-01 16:57] #28063 closed, assigned to nobody

[2018-05-01 16:58] jtyr commented on #39559
In the documentation for Ansible v2.5.2 I can see:

So I just see improved wording there but the functionality you requesting is there - it allows to define record in fstab without mounting it. That's what you are asking for here, is that correct?

[2018-05-01 17:02] sgowie commented on #39559
`absent` specifically includes `and will also unmount the device and remove the mount point`.    This represents an additional touch point not encompassed with `present`.

The missing behaviour is to remove an element from fstab WITHOUT touching the active system mounts.

[2018-05-01 17:06] sivel commented on #30919
This issue was resolved in 5dc7dae5656a549e2e22a4bca59c40852032beee and included in the v2.4.0 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-01 17:06] #30919 closed, assigned to nobody

[2018-05-01 17:11] dead10ck commented on #32022
This seems to still be happening in Ansible 2.5.2, on a Xenial box without aptitude installed:

[code]

[2018-05-01 17:11] sivel commented on #31820
This is intentional.  `vars` defined on a task, always impact the task it is applied to, and those vars are available to the when statement.

To achieve your goal consider wrapping the tasks inside the role in a `block` and apply the `vars` to the block.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.

[2018-05-01 17:11] #31820 closed, assigned to nobody

[2018-05-01 17:12] abadger commented on #39553
This was supposed to be the behaviour from 2.5.0 forward:  https://github.com/ansible/proposals/issues/69 however, due to a bug, the behaviour didn't get set appropriately until the bug was fixed in 2.5.2.  You should be able to set follow=False if you want to apply to the link itself rather than its 'target.

[2018-05-01 17:13] sivel commented on #31841
In current versions of ansible `include_role` is always dynamic and do not accept a `static` argument.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-01 17:13] #31841 closed, assigned to nobody

[2018-05-01 17:15] sivel commented on #32556
A few things to note here.

1. You had `delegate_to` indented too far, it should have instead been:

[code]
2. In recent versions of ansible, applying `delegate_to` to `include_role` achieves no result, as those task keywords only impact the `include_role` and are no inherited by the tasks within.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.fre

[2018-05-01 17:15] #32556 closed, assigned to nobody

[2018-05-01 17:15] jtyr commented on #39559
I see. Well at least the documentation is accurate now as it's stating that it will also be unmounted. Considering the module is called `mount` and not `fstab`, the currently documented behaviour is expected. To be honest, I'm not sure if we should implement pure fstab management into the `mount` module.

[2018-05-01 17:18] samdoran commented on #19004
The initial change reported by the module is due to the fact that the `irc` user's home directory, `/var/run/ircd`, does not exist and the default option for `create_home` is `True`. The contents of `/var/run` are ephemeral and do not persist across reboot. The module reports a change after reboot because the home directory does not exist and therefore it creates it.

To prevent the change from ha

[2018-05-01 17:18] #19004 closed, assigned to nobody

[2018-05-01 17:18] #18140 closed, assigned to jimi-c, bcoca

[2018-05-01 17:19] #21077 closed, assigned to nobody

[2018-05-01 17:55] sgowie commented on #39559
The `mount` module is in a preview state.   So long as the result is consistent and provides a dependable interface for manipulating the system, altering it should be fine.

Today, the different states will (at a high level - state/verb incongruities bolded):

| State | Live mount Change | fstab manipulation |
| ----- | -------------: | :----------------- |
| absent | **Yes** | Yes |
| present | *

[2018-05-01 18:03] Nothing4You commented on #32022
@dead10ck Debian Stretch 9.4 latest packages works fine with ansible 2.5.2.

[code]

[code]

I'm just getting a purple ` [WARNING]: Could not find aptitude. Using apt-get instead.` using the same task as above.

[2018-05-01 18:24] #17662 closed, assigned to nobody

[2018-05-01 18:36] agrimal opened #39569 "ldap_attr - Tuple_to_LDAPMod(): expected a byte string in the list"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ldap_attr

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
On the remote host :
[code]

##### SUMMARY
ldap_attr module is throwing error "expecting byte strings"

##### STEPS TO REPRODUCE
None of these 2 tasks are working :
[code]

##### EXPECTED RESULTS
No error

##### ACTUAL RESULTS
[code]

[2018-05-01 18:50] NT-TM commented on #38639
2018-05-01 11:41:33,240 p=21873 u=ntomy |  ansible-playbook 2.5.2
  config file = /home/ntomy/.ansible.cfg
  configured module search path = [u'/usr/lib/python2.7/site-packages/napalm_ansible;/usr/lib/python2.7/site-packages/ansible;/var/lib/awx/projects/a10_modules/library']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible-playbo

[2018-05-01 18:53] NT-TM commented on #38639
Just including the actual device prompt

T-Mobile USA, Inc. 2014 (C) All rights reserved.

All use subject to applicable license agreements.

This system is for the use of authorized users only. Everyone (Users) using

this system consents to the terms and conditions hereunder. The use is for

T-Mobile USA, Inc. (TMUS) authorized users only, and all use must be for TMUS

business only. All data, c

[2018-05-01 19:10] #39478 closed, assigned to nobody

[2018-05-01 19:16] soumikbh commented on #38669
@trishnaguha

R-t2eor3-PE2# show ver
Cisco Nexus Operating System (NX-OS) Software
TAC support: http://www.cisco.com/tac
Copyright (C) 2002-2018, Cisco and/or its affiliates.
All rights reserved.
The copyrights to certain works contained in this software are
owned by other third parties and used and distributed under their own
licenses, such as open source.  This software is provided "as is," and

[2018-05-01 19:25] genei09 commented on #18527
I am no longer able to reproduce this error

[2018-05-01 19:30] samdoran commented on #39499
@Qalthos That's enough to get me started. Thanks!

[2018-05-01 19:36] mkinney commented on #35966
You can always create a roles/requirements.yml file that contains:

    ---
    []

Seems to work ok. ('---' to denote yaml file, and '[]' to denote empty collection of requirements)

[2018-05-01 20:38] victorock commented on #36988
Both work with the tower_cli.cfg is not in ini format...

[2018-05-01 20:45] melmorabity opened #39574 "All azure modules supporting tags ignore the append_tags parameter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_common

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Fedora 27

[code]

##### SUMMARY
All Azure modules supporting tags seem to ignore the `append_tags` parameter. When updating a resource with new tags and `append_tags=True`, new tags completely override the current ones. Not the expected behaviour accordin

[2018-05-01 21:04] ibarrere commented on #29577
Actually, maybe it has something to do with the word "host" in the command? I noticed that it's happening with my task to configure logging as well, which has the basic format of:

logging host 192.168.1.10

Crucially, it doesn't happen on older hosts which use the legacy syntax of:

logging 192.168.1.10

[2018-05-01 21:12] abadger commented on #39558
The default value of follow was intended to change from False to True for the 2.5.0 release this was a change from previous behavior in 2.4.x. The proposal to do that is here: https://github.com/ansible/proposals/issues/69

However, there was a bug introduced which made it not take effect in 2.5.0 and 2.5.1 which was fixed in the release of 2.5.2. The original PR to change the default behavior hap

[2018-05-01 21:18] jschwanz commented on #38899
I'm on 2.4.4 as well, and see this when using `with_subelements`.

**Playbook**
[code]
**Actual Results**
[code]
**Expected Results**
[code]

[2018-05-01 21:27] mfish82 opened #39576 "Ansible 2.5 - ios_facts fails when running in IOS-XE 3850 switch"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios-facts

##### ANSIBLE VERSION
ansible 2.5.0
ansible 2.5.0
  config file = /home/mfisher/.ansible.cfg
  configured module search path = [u'/home/mfisher/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python

[2018-05-01 21:38] sivel commented on #11237
I've tested in recent versions of ansible, and bare IPv6 addresses (not wrapped in `[]`) work as expected in this scenario.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-01 21:38] #11237 closed, assigned to nobody

[2018-05-01 21:44] abugher-at-nvidia commented on #36718
Situation:  We define high UID's and GID's in NIS.  Hosts use the NIS maps, and provide local maps (/etc/passwd, /etc/group) for low UID's and GID's.  We've also defined a group in NIS which maps to a low GID.  That group presents a problem (of our own making).

All hosts define that GID, but different systems map the GID to different group names.

So if I specify a group name, I expect it will be

[2018-05-01 22:28] eburgueno commented on #34196
@sivel I'm sorry, can you please clarify what is the intended behaviour? I understand tags inside the included role not bubbling up to the one that is including it. But the syntax below does not work as expected.

**roles/common/tasks/main.yml**
[code]

**playbook.yml**
[code]
**result**
[code]

[2018-05-01 22:43] sivel commented on #34196
@eburgueno that block syntax only works as of v2.5.2.  Previous versions had a bug that prevented that from working.

[2018-05-01 22:56] eburgueno commented on #34196
@sivel thank you!  I forgot to mention I'm on 2.5.0. Will upgrade.

[2018-05-01 23:27] russellvt commented on #26359
This seems to hit, particularly, when going from a newer host (read: newer SSH) / newer Ansible to an older machine (read: older SSH). I've been able to consistently reproduce on Linux Cinnamon 17 and 18, as well as CentOS 7.x... both going to RHEL5.x).

Downgrading to Ansible 2.2.3.0 fixes the problem, but it breaks in the 2.4.x and 2.5.x versions.

[2018-05-01 23:39] brainstorm commented on #38241
I just packaged ansible 2.5.2+py3+shade and its flurry of dependencies, it should work:

[code]

@erickeller did you install it with (Mini)conda and `conda install ansible -c conda-forge`? Can you show the install process and error?

[2018-05-01 23:59] smolz commented on #39504
As a note to this it also always does "show running-config all" whether or not you have the "defaults" parameter set.

[2018-05-02 01:01] msoultan opened #39581 "Typo in first page of porting guide documentation"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

This page has a typo:

http://docs.ansible.com/ansible/latest/porting_guides/porting_guides.html

The very first sentence is missing a word - I'm guessing it's supposed to be "port":

"This section lists porting guides that can help you [???] p

[2018-05-02 01:30] fbourqui commented on #34924
I think your issue is ansible has no way to connect to lxd-backup as it doesn't exist in you inventory.
In your remote you have:
lxd-backup      | https://HostA:8443                        | lxd           | tls
so to fix it replace lxd-backup with HostA
ubuntu01 ansible_connection=lxd ansible_host=HostA:ubuntu01 alias=ubuntu/xenial/amd64

[2018-05-02 01:47] mbuiro commented on #10829
+1 to this, surprising this hasn't been fleshed out yet seeing as how it has been 3 years!

[2018-05-02 03:03] Fred-sun commented on #39574
@zikalino ran the YML file , I meet same question, new tags could override the current ones, could you help fix it, Thanks !

[2018-05-02 03:53] Akasurde commented on #18527
Closing this issue as this is no longer reproducible. If issue persists, please feel free to re-open.

[2018-05-02 03:53] #18527 closed, assigned to nobody

[2018-05-02 03:55] Akasurde commented on #39581
@msoultan Thanks for reporting this issue.

[2018-05-02 04:32] robcwaldron opened #39583 "ansible win_psmodule version parameter"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_psmodule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY
Currently there is no way to set the PowerShell Module version.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Install the specified version of the powershell module from powershell gallery

##### ACTUAL RESULTS

There is

[2018-05-02 05:00] Akasurde commented on #39581
resolved_by_pr #39582

[2018-05-02 05:11] trishnaguha commented on #38669
@soumikbh Thanks.
I see you are using timeout arguments with `defaults`. As the doc says it should be under `[persistent_connection]`.

ansible.cfg should look like similar to the following:
[code]

[2018-05-02 05:16] trishnaguha commented on #38639
@NT-TM This isn't terminal plugin issue. Can you share your ansible.cfg file?

[2018-05-02 05:39] kellyhogan opened #39585 "Typo under git practices"
##### ISSUE TYPE

Documentation Report

##### COMPONENT NAME

CODING_GUIDELINES
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

There were no results.
##### OS / ENVIRONMENT

N/A
##### SUMMARY

There is a typo under git practices. It says:
'Pull requests cannot be accepted that contain merge commits'

I think it would be more grammatically correct to write:
'Pull requests cannot be accepted if

[2018-05-02 06:02] brainstorm commented on #38241
I had problems with the later versions for the pip and debian packages you mention... also with the fact that I cannot install debian packages (I wish!) on legacy HPC clusters :/

That's why I wrapped it under conda-forge.

Hopefully future releases of the OpenStack Ansible module ship with the full functionality and not bail out with `shade is required for this module` when working with OpenStack

[2018-05-02 06:06] Akasurde commented on #39581
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-05-02 06:06] #39581 closed, assigned to nobody

[2018-05-02 06:16] jborean93 opened #39587 "win_get_url vs get_url"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
win_get_url

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Windows

##### SUMMARY
The `win_get_url` module is similar but sufficiently different from get_url that probably warrants a change in behaviour. This issue is to list these differences and track the progress for tryi

[2018-05-02 07:00] jtyr commented on #39559
I have created PR #39589 to address this issue. Please feel free to review it.

[2018-05-02 07:28] karniemi opened #39590 "Regression in variable expansion"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Ansible 2.5.1 introduced a regression in variable expansion. For example, the following no longer works as it used to:

[code]

Up to ansible 2.5 both item1 and item2 were included in pacs, and both were printed out by debug module. In 2.5.1 only item2 e

[2018-05-02 07:51] trishnaguha commented on #39408
@ossark the issue should be resolved by PR https://github.com/ansible/ansible/pull/39591

[2018-05-02 07:59] scuben commented on #37723
I can't reproduce it because I got the hoster to add sleep to its chrooted environment.

[2018-05-02 07:59] trishnaguha commented on #38559
The Doc for the mode param in nxos_interface states that

`Manage Layer 2 or Layer 3 state of the interface. This option is supported for ethernet and portchannel interface. Applicable for ethernet and portchannel interface only.` http://docs.ansible.com/ansible/latest/modules/nxos_interface_module.html

This does not look like a bug to me as it is documented.

[2018-05-02 08:00] nmrshll commented on #34922
Old thread, but I was able to get it to work with

    become: true
    become_method: sudo

and no become_user.
If that can help anyone else.

[2018-05-02 08:20] #39590 closed, assigned to nobody

[2018-05-02 08:38] colin-nolan commented on #39562
@bcoca I see, thanks for the details!

[2018-05-02 08:40] unfii commented on #38883
Also reproduce issue, so how we could increase os disk size? Any idea?

[2018-05-02 08:49] cnorthwood commented on #39167
[code]

[2018-05-02 09:00] unfii commented on #37873
For some reason module azure_rm_networkinterface again create own security group and not attach exist or seems just ignore

[code]

[2018-05-02 09:16] rcarrillocruz commented on #31699
Hi there

I'm afraid I'm unable to reproduce, I can connect to an IOS device on our lab just fine:

[code]

Here's how it looks like my inventory (as you can see, no password set, so I use SSH agent):

[code]

And here's my ssh pubkey settings on the IOS device (from a 'sh run'):

[code]

[2018-05-02 09:16] rcarrillocruz commented on #31699
needs_info

[2018-05-02 09:24] rcarrillocruz commented on #39039
@skregas that is odd, I can run 'sh run' on a CSR (which runs IOS-XE) device on our lab just fine, I paste below:

[code]

Can you make sure you use 'become' in your playbook just so you enter in privileged mode?

[2018-05-02 09:24] rcarrillocruz commented on #39039
needs_info

[2018-05-02 09:37] fatred commented on #38264
Can we not just reconfigure this module to use REST instead? SSH seems to last year ;)

[2018-05-02 09:39] rcarrillocruz commented on #38989
It seems you are using a virtualenv to install Ansible and its dependencies, can you confirm?
In case of using virtualenvs, you need to specify to Ansible executable which interpreter you want to use, otherwise it will pull the system-wide installed Python and its libraries.

Unless you are developing Ansible, I would recommend you install Ansible and its dependencies by using 'pip install --user

[2018-05-02 09:40] rcarrillocruz commented on #38989
needs_info

[2018-05-02 09:42] rcarrillocruz commented on #38768
I'm unsure how to debug this, we do not have a C3650 in our lab to test this out.
I will try to spin up an IOS virtual appliance and run a 'software install' command , will let you know if I reproduce the same thing.

[2018-05-02 09:58] L-B commented on #27262
@abadger
Looks fixed, using the backport patch on 2.5.2, the error is gone.
Thanks!

[2018-05-02 09:58] #27262 closed, assigned to abadger

[2018-05-02 10:33] bukaj-mh commented on #31699
Hi,
what is your IOS device ?
according to command "ip ssh server algorithm authentication publickey password" .. Cisco IOS 15.5(2)S This command was introduced., I'm running 15.0(2)SE5
unfortunatelly there is no IOS 15.5 version for Cisco 2960, so I can't try it :(

[2018-05-02 10:52] dminca commented on #22993
Since `docker-py` is now legacy, no issues are reported so far, although there are still traces of `docker-py` in the Ansible codebase. Should we replace them with the latest `docker` lib?

[2018-05-02 11:00] rcarrillocruz commented on #38811
@rgarcia89 Are you able to test out #39594 PR ?

[2018-05-02 11:10] jhawkesworth commented on #39587
As long as  its is noted in the changelog, I would be happy for `force` to default to `no`.

Ideally I would like it so that last-modified check could be used in `get_url` or `win_get_url`.   I like the notion of having a way to not even fetch the file over the network if there is no need to.

Not yet thought of how I'd like this to be expressed in parameters, but if you could specify something li

[2018-05-02 11:38] mrlesmithjr commented on #38989
I am not using a virtualenv and using Ansible the exact same way I have been for years and up until now with this one module have I ever ran into this. But it is what it is.

[2018-05-02 11:39] craigfrancis commented on #39553
Thanks @abadger, that does appear to be the case.

Personally I think it's a bit odd to work this way for symlinks (i.e. if I'm creating a link that's owned by a certain user, I'd expect that would effect the symlink, not the thing it's pointing to)... but I can kind of see how it would be more consistent with other features.

[2018-05-02 11:39] #39553 closed, assigned to nobody

[2018-05-02 11:49] gundalow commented on #39585
Thanks for the suggestions.
You are free to raise a PR to edit https://github.com/ansible/ansible/blob/devel/CODING_GUIDELINES.md if you'd like

[2018-05-02 11:52] ravibhure commented on #32157
I am also facing issue in 2.4.3.0, my user having /etc/sudoers  entry to use  `/bin/su -`  without password

[code]

[code]

[2018-05-02 12:34] necr0n opened #39598 "onyx_config module fails to save configuration after applying changes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
onyx_config.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_GATHERING(/home/user/git/docs/ansible/ansible.cfg) = explicit
DEFAULT_HOST_LIST(/home/user/git/docs/ansible/ansible.cfg) = [u'/home/user/git/docs/ansible/hosts']
DEFAULT_TIMEOUT(/home/user/git/docs/ansible/ansible.cfg) = 30
HOST_KEY_CHECKING(/home/user/git/docs/ansible/

[2018-05-02 12:37] DartNecrON commented on #39598
@samerd @atabachnik Looks like wrong elevation for "configuration write". Maybe replace it with "write memory" as it is elevation-independent?

[2018-05-02 12:45] Akasurde commented on #29777
This is fixed in version 2.3 and onwards. Closing this issue.

[2018-05-02 12:45] #29777 closed, assigned to abadger

[2018-05-02 12:47] #36712 closed, assigned to nobody

[2018-05-02 12:48] Akasurde commented on #23864
resolved_by_pr #32788

[2018-05-02 12:54] tsunamireversal commented on #10829
Redhat? Could we have an update please?

[2018-05-02 12:54] torched99 commented on #31354
I had thought this might end up in 2.5 but it seems not :-(

[2018-05-02 13:30] hamza-tumturk commented on #38680
Thanks for looking into this!
I can confirm, that this is the same issue as reported in #38656.

[2018-05-02 13:34] ganeshrn commented on #39504
This should be fixed as part of PR https://github.com/ansible/ansible/pull/39475 and will be available in 2.5.3

[2018-05-02 13:39] jrvilda opened #39605 "A vmware to domain does not join"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware-guest-module

##### ANSIBLE VERSION
ansible 2.5.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.

[2018-05-02 13:43] trishnaguha commented on #37526
@krunal7558 The PR https://github.com/ansible/ansible/pull/39355 will fix this issue. Can you give it a try?

[2018-05-02 13:56] gundalow commented on #38892
I believe the fix has been backported into `stable-2.5` now

[2018-05-02 13:57] #39342 closed, assigned to ganeshrn

[2018-05-02 14:00] #39585 closed, assigned to nobody

[2018-05-02 14:01] sivel commented on #22993
@dminca there is really no need.  On another note, and I failed to come back to this issue, 2.6 (devel) and 2.5.3 will include extra protection around preventing `docker` and `docker-py` from being installed side by side.

https://github.com/ansible/ansible/pull/38884

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: h

[2018-05-02 14:01] #22993 closed, assigned to nobody

[2018-05-02 14:13] fazpu commented on #34049
+1

[2018-05-02 14:39] ITD27M01 opened #39610 "openstack.py inventory script should be renamed because it conflicts with the openstack utility"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Openstack inventory script

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS High Sierra 10.13.4

##### SUMMARY

openstack.py inventory script should be renamed because it conflicts with the openstack utility. When I try to use utility I get the error:
[code]

I have renamed script to osinventory.py an

[2018-05-02 14:42] ganeshrn commented on #39504
resolved_by_pr https://github.com/ansible/ansible/pull/39475

[2018-05-02 14:53] #39504 closed, assigned to ganeshrn

[2018-05-02 14:53] abadger commented on #39558
In my testing, creating the link works but once the link exists, the second run fails:
[code]
@sdodson Does that match with your experience?

[2018-05-02 14:55] ghost opened #39611 "plan file is not creating using ansible terraform module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

https://github.com/ansible/ansible/labels/module
terraform

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing is changed

##### OS / ENVIRONMENT

trying to create a plan file using terraform module  before running the terraform apply .

##### SUMMARY

trying to create a plan file after teraform init and before terraform apply but it

[2018-05-02 15:02] abadger commented on #39474
@anmolnagpal I'm looking into several of these issues right now.  You can probably workaround this issue by setting follow=False (which was the previous default).

I wasn't able to reproduce this simply by creating a directory with a symlink in it.  Could you give me a little more information to try debugging this?  Are any of the symlinks broken?  Do any of them point to files which the remote_us

[2018-05-02 15:09] robinro commented on #39505
@bbb31 I believe this issue is not with the ansible pip module, but with pip itself. PyPI rolled out a new version and had some downtime due to this, which you maybe hit?

close_me

Feel free to reopen if you have reason to believe this issues is within the pip module.