[2020-07-15 13:13] #52817 closed, assigned to trishnaguha

[2020-07-15 13:13] NilashishC commented on #52738
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible

[2020-07-15 13:13] #52738 closed, assigned to nobody

[2020-07-15 13:14] NilashishC commented on #52589
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-15 13:14] #52589 closed, assigned to justjais

[2020-07-15 13:26] Qalthos commented on #54981
To clarify, because of the way the network connections work, there is no way presently to ask for user input for how to proceed. Thus, the general guideline when having issues like these is to make sure you can log in to the jump host without needing to make any further inputs, like accepting host keys or submitting passwords.

[2020-07-15 13:29] Qalthos commented on #53270
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-07-15 13:29] #53270 closed, assigned to ganeshrn

[2020-07-15 13:39] krlSPRwld commented on #39413
It seems like I hit the same problem. Trying to build a playbook for network automation (through customer-specific bastion hosts), I  had the follwing task flow implemented into a single playbook:
Get SSH host key of remote device through bastion host, write host key to local known_hosts file on the ansible host, connect to network device through bastion host, add a user and push public key to net

[2020-07-15 13:44] Akasurde commented on #57693
resolved_by_pr #65789

[2020-07-15 13:44] #57693 closed, assigned to nobody

[2020-07-15 13:56] dsglaser commented on #53862
This has been reopened in [cisco.ios#109](https://github.com/ansible-collections/cisco.ios/issues/109)

[2020-07-15 14:24] Akasurde commented on #49130
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/655.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-07-15 14:24] #49130 closed, assigned to nobody

[2020-07-15 14:35] cmammoli opened #70653 "Cannot set ansible_connection to a variable with 2.9.10"
##### SUMMARY
If ansible_connection is set to a variable, the variable does not get expanded and is passed as a string, causing the playbook to fail

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.8

##### STEPS TO REPRODUCE

try to run to playbook below with ansible 2.9.10

[code]

##### EXPECT

[2020-07-15 14:43] cmammoli commented on #70653
!component

[2020-07-15 14:44] vosmax opened #70654 "postgresql_privs fails with schema name which contain '-' (dash) character"
##### SUMMARY

Task with module **postgresql_privs** fails with error when it's trying to apply default privileges to schema with name, which contain '-' (dash) character.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_privs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS Catalina 10.15.5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2020-07-15 15:03] bmillemathias commented on #70612
as I wrote above, I was thinking to do that, but I don't have the required knowledge Imo.
For now I can remove the first part I mentioned for sure, but the remaining of document needs some guidance, advice.

[2020-07-15 15:08] johnbui423 opened #70655 "Windows async task fails with "Failed to start async process: 9 (Path not found)""
##### SUMMARY

Any async task executed against a certain Windows host fails with "Failed to start async process: 9 (Path not found)".

I have debugged this up to the point where I can reproduce this on the host directly as follows:

[code]

On a normal host that opens a separate powershell window, on the failing Windows hosts that returns:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NA

[2020-07-15 15:23] afrimberger commented on #36129
The warning `PasslibHashWarning: encountered a bcrypt salt with incorrectly set padding bits` indicates a wrong salt. **Most likely the last sign is not one of [.Oeu]**:

(From the [PassLib documentation](https://passlib.readthedocs.io/en/stable/lib/passlib.hash.bcrypt.html#format-algorithm))

Choosing one of the allowed chars as last salt character solved the issue for me. Hence, the issue is not

[2020-07-15 15:36] bmillemathias commented on #70612
While we are to update the page, on the first part there is this is sentence.

Without having some context this `args.json `comes from. Perhaps a link, or some introduction (some minimum code to give an idea what the files `./my_new_test_module.py` and `args.json `look like.

[2020-07-15 15:44] bcoca commented on #70653
caused by 9e00214fb435e6b9ea223d966c2e4d9feecac35f

[2020-07-15 15:48] bcoca commented on #39413
fixed via #69520

@krlSPRwld you are hitting the opposite issue than here, this ticket complained that delegated host vars were not used,  #70331 should allow you to use any other hostvars for templating in delegated context.

[2020-07-15 15:48] #39413 closed, assigned to nobody

[2020-07-15 15:48] Akasurde commented on #70654
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/656.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-07-15 15:48] #70654 closed, assigned to nobody

[2020-07-15 15:53] dlemaireIBM commented on #46203
What about  "{{ansible_date_time.epoch}}"

[2020-07-15 17:11] ScottG489 commented on #25414
@bcoca Based on the above response, could we please have this reopened?

[2020-07-15 18:16] #63484 closed, assigned to nobody

[2020-07-15 19:58] mwhahaha opened #70663 "any_errors_fatal cannot be configured dynamically"
##### SUMMARY

any_errors_fatal is not properly evaluated dynamically if defined at a play or block level. I've also reproduced this using import_playbook with a var as well.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

linux (centos8/rhel8 primarily)

##### STEPS TO REPRODUCE

dynamic_errors.yml
[code]
in

[2020-07-15 20:03] imjoseangel commented on #70470
Hi! I have just implemented the module with test. New limitations:

* `regex` and `literal` cannot be used together.
* `literal` doesn't accept `backrefs` option as it doesn't make sense to have it for literal

@macau23 although the tests are good. Could you please have a look and test it? Thank you!

[2020-07-15 20:57] #67913 closed, assigned to s-hertel

[2020-07-15 22:21] UnitedMarsupials commented on #55157
I can only explain this attitude as unwillingness to support the standards. You know the locale of the remote. You know the locale on the local machine. The conversion is trivial.

Of course, it is a _bug_ -- though affecting relatively few users.

[2020-07-15 22:47] TC-robV opened #70672 "s3_bucket_notification need support for sns and sqs"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea
s3_bucket_notification currently only supports adding events that go to lambda. s3 events can also go to sns or sqs.

##### COMPONENT NAME

s3_bucket_notification
##### ADDITIONAL INFORMATION

[2020-07-15 22:51] sivel commented on #70672
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#

[2020-07-15 22:51] #70672 closed, assigned to nobody

[2020-07-16 00:57] duderamos opened #70674 "Extend CloudWatch Rules' ecs_parameters"
##### SUMMARY

I want to be able to provide more parameters for targets in to cloudwatch_rule smodule. Currently, there is no way to define ECS `LaunchType` and `NetworkConfiguration`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

cloudwatch_rule

##### ADDITIONAL INFORMATION

This change will allow users to specify some new parameters under `ecs_parameter` as the example below:

[code]

[2020-07-16 02:24] relrod commented on #70648
Yep, this seems like a reasonable idea to me.

[2020-07-16 02:51] zenfey opened #70675 "privilege escalation timeout when host sudo path changed to /opt/rh/devtoolset-7/root/usr/bin/sudo"
##### SUMMARY

when devtoolset changed the default sudo from /usr/bin/sudo to /opt/rh/devtoolset-7/root/usr/bin/sudo,
become privilege escalation timeout error will occur. error disappears when changing back to default sudo.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

become: yes
become_method: sudo

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

cent

[2020-07-16 03:07] duderamos commented on #70674
Maybe this should be closed in favour of another issue [here](https://github.com/ansible-collections/community.aws/issues/143)?

[2020-07-16 06:50] Akasurde commented on #70674
@duderamos Thanks for the reporting this issue. Closing in favor of https://github.com/ansible-collections/community.aws/issues/143

[2020-07-16 06:50] #70674 closed, assigned to nobody

[2020-07-16 06:53] mkrizek commented on #70663
Duplicate of https://github.com/ansible/ansible/issues/61025

[2020-07-16 06:53] #70663 closed, assigned to nobody

[2020-07-16 06:54] #70649 closed, assigned to nobody

[2020-07-16 08:24] mmolinac commented on #58242
@davidebelloni you can check if it's applied running a playbook with the Ansible version to check. Such playbook should try to create a new DNS entry in a GCP NS zone, using `service_account_contents` for authentication purposes.

[2020-07-16 09:11] kenorb commented on #69683
Same problem at https://docs.ansible.com/ansible/latest/modules/datadog_monitor_module.html
The 'edit this document' link points to non-existing GitHug file.

[2020-07-16 11:12] davidebelloni commented on #58242
Yes, i know that.
But I would to check without updating ansible (or creating venv, etc...) , since I've applied the patch on 2.9.9 code live on my client and I use it often

[2020-07-16 11:50] sky-amoncadot commented on #62302
This would be an extremely useful feature to lock buckets down on creation. Has there been any progress on this?

[2020-07-16 12:27] dmc5179 commented on #37267
I'm running into a similar issue when using this module in an AWS private region. I know the region has a reduced AWS API. Is there a way to set the version?

[code]

[2020-07-16 12:41] lvrfrc87 opened #70681 "No able to configure new vlan with fortios_system_interface"
##### SUMMARY
I am trying to create a new interface on FortiGate 3100D  using `fortios_system_interface` but all I can get is:

[code]
Most probably the way I am writing the playbook is wrong but the error message is not very meaningful.
This bug report might be also useful for future reference.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`fortios_system_interface`

##### ANSIBLE VERSION

[2020-07-16 12:58] zenfey commented on #70675
now I know that ansible.cfg contains field of "sudo_exe", is there a similar variable for different hosts/groups..

[2020-07-16 13:06] zenfey commented on #70675
cat /opt/rh/devtoolset-7/root/usr/bin/sudo

#! /bin/sh
# TODO: parse & pass-through sudo options from $@
sudo_options="-E"

for arg in "$@"
do
   case "$arg" in
    *\'*)
      arg= ;;
   esac
   cmd_options="$cmd_options '$arg'"
done
exec /usr/bin/sudo $sudo_options LD_LIBRARY_PATH=$LD_LIBRARY_PATH PATH=$PATH scl enable devtoolset-8 "$cmd_options"

[2020-07-16 13:15] shdobxr commented on #42532
Hey Tremble, was looking for your contact info. I didn't see an s3_bucket module in that repo. https://github.com/ansible-collections/community.aws. Am I crazy ? or looking in the wrong place.

[2020-07-16 13:27] tremble commented on #42532
I'm on Freenode and can be found as tremble on #ansible-aws

For some reason I thought s3_bucket ended up in community, but it's in amazon.aws:

https://github.com/ansible-collections/amazon.aws/blob/main/plugins/modules/s3_bucket.py

there's also https://github.com/ansible-collections/amazon.aws/pull/101 if you see 'waiter' exceptions (generally only on a busy account

[2020-07-16 13:37] madhuvinod23 commented on #60680
Finally figured out the issue. It was having a proxy that was reaching out to internet while I am trying to run the playbook.

[2020-07-16 14:13] sivel opened #70682 "Default for CONDITIONAL_BARE_VARS scheduled for 2.10 swap"
##### SUMMARY
Default for CONDITIONAL_BARE_VARS scheduled for 2.10 swap

https://github.com/ansible/ansible/blob/adcdee9bb0031577698246fcfc51f8af63a56a17/lib/ansible/config/base.yml#L367-L380

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/config/base.yml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EX

[2020-07-16 14:45] sivel commented on #70681
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection/

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://gro

[2020-07-16 14:45] #70681 closed, assigned to nobody

[2020-07-16 14:55] odyssey4me opened #70684 "ansible-test: --docker-privileged causes all TTY sessions on host to be killed"
##### SUMMARY

When using ansible-test with the `--docker-privileged` option, it causes all the TTY sessions on the host to be killed. This happens on, at the very least, a Fedora 32 host. This is [a known issue](https://github.com/docker/for-linux/issues/106) which requires the ``--detach`` option to be used to solve.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-test

##### ANSIB

[2020-07-16 14:56] sivel commented on #70675
That `sudo` wrapper, doesn't allow for other options to be passed to `sudo`.

It ends up creating a command like:

[code]

This results in an error similar to:

[code]

This appears to be a bug in this sudo wrapper, and is not an issue with Ansible.

[2020-07-16 15:21] #70598 closed, assigned to nobody

[2020-07-16 15:34] odyssey4me commented on #70684
Odd - it seems that --detach was already there. Closing this PR.

[2020-07-16 15:34] #70684 closed, assigned to nobody

[2020-07-16 16:07] liamchent opened #70690 "async_wrapper unable to exec parameter script"
##### SUMMARY

async_wrapper module unable to determine the interpreter in the parameter script, which causes the script failed to run
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

async_status

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Managed node:
System Version: macOS 10.15.5
Control node:
ZOSV2R3
##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2020-07-16 16:43] sivel commented on #70690
I think we probably need a solution more along the lines of this:

[code]

My basic testing shows this working. I'll leave this diff for someone who wants to implement it and test further.

[2020-07-16 16:54] ensignavenger commented on #66744
I have a fork of the official hashi_vault module I use, and I have fixed the bug in my fork- this report was merely to alert upstream to the issue so it could be fixed before being released.

It appears that the module has been renamed or removed since this issue was created though.

[2020-07-16 16:56] sivel commented on #70648
I think ultimately this is going to require a feature we don't have yet, which has been termed `ansible_platform`

We don't really know what platform we are talking to at this point, so it's hard to make that differentiation currently.

cc @nitzmahone

[2020-07-16 16:57] sivel commented on #66744
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-07-16 16:57] #66744 closed, assigned to nobody

[2020-07-16 17:07] mkkeffeler commented on #22382
this is a problem for us, we are fetching the key from conjur (secrets management solution like hashicorp), so we have the contents not in a file though.

[2020-07-16 17:29] kirk444 opened #70693 "nxos_user "VALID_ROLES" doesn't account for locally configured roles"
##### SUMMARY

When using the nxos_user module to add a user and apply a role that is locally configured on the device it fails with
FAILED! => {"changed": false, "msg": "invalid role specified"}
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_user
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target device is a Cisco Nexus 3548-X running NX-OS 7.0(3

[2020-07-16 18:20] sivel commented on #70693
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/an

[2020-07-16 18:20] #70693 closed, assigned to nobody

[2020-07-16 19:23] s-hertel commented on #70653
Should be fixed by 8c213c93345db5489c24458880ec3ff81b334dbd

[2020-07-16 19:23] #70653 closed, assigned to bcoca

[2020-07-16 19:35] bcoca commented on #70675
closing as per above

[2020-07-16 19:35] #70675 closed, assigned to nobody

[2020-07-16 19:42] bile0026 opened #70698 "Inventory Script won't parse results"
##### SUMMARY
ansible-inventory fails with really vague error when you aren't using a .ini for your variable import. If you try and use statically defined variables the import fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 8

##### STEPS TO REPRODUCE

Run import script to ret

[2020-07-16 19:47] sivel commented on #70698
The error is described within this `WARNING`:

[code]

[code]

This indicates that the inventory script returned a zero length string.

You would need to execute that script using `python github.py --list` to try and determine why specifically it is failing.

The only message that the `github.py` script is providing on `stderr` is an insecure HTTPS warning from urllib3/requests.

[2020-07-16 20:00] bcoca commented on #70690
`  ansible_python_interpreter: /home/liamche/ansible/install/bin/python3` <= this doesn't do anything, put it in a `vars:` section if you actually want to influence the interpreter used for python modules.

[2020-07-16 20:06] bcoca commented on #70698
closing as per above

[2020-07-16 20:06] #70698 closed, assigned to nobody

[2020-07-16 20:09] bile0026 commented on #70698
It will run it by itself ```python import.py --list``` it provides the correct output. It's only when the .ini file does not exist, and it's using ansible-inventory/playbook it fails. The output provided in the "steps to reproduce" section is the output of ```python import.py --list```.

[2020-07-16 20:37] csamarajeewa opened #70700 "Ansible Module Question"
##### SUMMARY

It's not clear whether I need to publish modules created using the example code from this document below back to the Ansible project? If I do not publish my module will I be compliant with GNU General Public License v3.0+ ?

https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE

[2020-07-16 21:04] sivel commented on #70700
This question is one we cannot directly answer here, as none of us are open source or IP lawyers.  It is recommended that you consult a lawyer directly to get clarification how how the GPL impacts your decisions.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-16 21:04] #70700 closed, assigned to nobody

[2020-07-16 22:35] opoplawski opened #70702 "Cannot set inventory cache_timeout to 0"
##### SUMMARY
Setting `cache_timeout: 0` in an inventory plugin configuration has no effect.  The default value is used instead.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/plugins/inventory/__init__.py`
##### ANSIBLE VERSION

[code]
also with ansible 2.9.10
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

EL 7.8.
python 2.7.5

##### STEPS TO REPRODUCE

Use a caching inven

[2020-07-16 22:43] nicohouillon commented on #64014
same problem, how can sts work in environment ?
this fails for undefined :

pre_tasks:
    - name: Assume a role
      sts_assume_role:
        role_arn: "arn:aws:iam:::role/myrole"
        role_session_name: "mysession"
        region: "{{ cf_region }}"
      register: assumed_role
      no_log: true

roles:
### here I need the environment to be passed to every subsequent roles
 - myrole1
-  myro

[2020-07-16 23:18] jborean93 commented on #70655
This is certainly a weird issue, it sounds like the WMI provider is acting up as it should be able to find `powershell.exe` in the `PATH` env var. I'm not against putting in the absolute path in `async_wrapper.ps1` but the fact that your Windows host is doing this is probably a sign something else is wrong and will play up on something else.

What I would be curious to see is

* If you run `Get-Co

[2020-07-16 23:42] jborean93 commented on #70644
In this case AWX is just calling Ansible which is where all the tracebacks are occurring so it's not something it's doing directly. Were you able to run each task in AWX as separate tasks rather than altogether? You can try running Ansible through the AWX venv to see if that's causing some issues. I don't know too much about AWX but you could try disabling job isolation in case that's causing a pr

[2020-07-17 00:57] #70134 closed, assigned to nitzmahone

[2020-07-17 06:48] tremble commented on #64014
@nicohouillon the way I have approached your example requirement is to make use of module_defaults, include_role and block:

[code]

[2020-07-17 07:27] ssbarnea opened #70705 "Installing devel from git breaks ansible package if previous version is present"
##### SUMMARY
Projects that used to install ansible from devel branch as part of their testing pipeline are now not able to test ansible devel.

This is happening because these python packages have "ansible" as a dependency which combined with the fact that "devel" now produces "ansible-base" package, it creates a case where old ansible is installed alongside newer ansible-base.

That looks like a

[2020-07-17 07:42] ssbarnea commented on #70705
@webknjaz @abadger Please assist us finding a viable way to keep testing code with unreleased versions on Ansible. This is a key feature for both sides, helping us find bugs before they hit the market.

[2020-07-17 08:10] webknjaz commented on #70705
We cannot do anything about it. It's probably the same issue as with upgrading from "old" to "acd" Ansible.

@sivel is working on an improvement that would make it fail loudly with a big explanation message @ https://github.com/ansible/ansible/pull/70529.

[2020-07-17 08:24] samalv commented on #70644
Hello again,

I just figured it out, a colleague of mine has configured proxy in AWX, there was a mistake within (no_proxy), I just removed that and then it works. In addition it seems we have also serious problem with proxy and that's why it is broken. I can not explain while some of the tasks are failing while some are working towards same destination using same modules. But it is clear the issu

[2020-07-17 08:24] #70644 closed, assigned to nobody

[2020-07-17 09:12] weilbith commented on #15476
Is there maybe an event that you can use for a callback plugin to flush handlers automatically when all tasks of a role have been completed? I would rather not add the flushing to the end of each role. :thinking:

[2020-07-17 09:14] ssbarnea commented on #70705
In fact I think there is something we can do, we can add a fake/empty "ansible-base" dependency to old ansible versions, one that would help us detect/generate a conflict.

Assume that "pip install ansible==2.9" includes a dependency "ansible-base<2.10". If it does, when you would try to install `ansible-base==2.10` you will get a conflict from pip, as it will know that you will break ansible one.

[2020-07-17 10:40] tom-stones opened #70706 "win_service , start_mode: delayed doesn't seem to work"
##### SUMMARY
win_service ,  start_mode: delayed doesn't seem to work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running ansible on Ubuntu 18.04, which is running on Windows 10 using Windows Subsystem for Linux (WSL).
Target is an Azure VM running Windows Server 2016.

##### STEPS TO REPROD

[2020-07-17 12:17] macau23 commented on #70470
@imjoseangel sure, what's the best way of getting hold of the correct ansible build to test this?

[2020-07-17 12:21] imjoseangel commented on #70470
You can directly download the final commit from [here](https://github.com/ansible/ansible/blob/e8b5fe17fb7395ee67cf09ee102506c6cd9deaa4/lib/ansible/modules/lineinfile.py) and copy it to your library path if you want to test it beforehand.

Thank you!

[2020-07-17 12:56] tom-stones commented on #70706
Mmm - Maybe this isn't a problem after all  - It looks like the registry change isn't "noticed" by  services.msc  or sc.exe  until after you reboot the server.    Once you reboot, it behaves as expected.

[2020-07-17 13:30] rysiekpl opened #70707 "Option to explicitly set the IP address when using the `uri` module"
##### SUMMARY
An option to explicitly set the IP address to be used by the `uri` module when making the request would make it possible to hit a particular endpoint in case a given domain resolves to multiple IP addresses.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`uri` module

##### ADDITIONAL INFORMATION

Such an option would thus make it possible to use in checks on the target host.

[2020-07-17 13:50] rysiekpl commented on #70707
Just to clarify: simply using the IP address in the `url` key and using the `Host` header would not work for many HTTPS services which rely on SNI. Thus, either a `--resolve` approach a'la `curl` or a way to explicitly specify the SNI along with the `Host` header is needed.

[2020-07-17 13:58] sivel commented on #70705
Duplicate of https://github.com/ansible/ansible/issues/70348

[2020-07-17 13:58] #70705 closed, assigned to nobody

[2020-07-17 14:33] sivel commented on #70706
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.windows

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum

[2020-07-17 14:33] #70706 closed, assigned to nobody

[2020-07-17 14:47] bmillemathias commented on #70612
Actually the document was a bit updated back in May (commit 366f8086833) but the update was never push to the doc website.

[2020-07-17 15:14] samdoran commented on #28652
Did a PR ever get created to fix this issue?

[2020-07-17 15:17] samdoran commented on #49900
Is this a feature we would still like to add, maybe in 2.11? Sounds like this may be on the potential 2.11 roadmap.

[2020-07-17 15:19] samdoran commented on #49694
Fixed by #67176

[2020-07-17 15:20] samdoran commented on #47739
This seems like an issue with the unit file and not an issue with Ansible itself. Please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-17 15:20] #47739 closed, assigned to nobody

[2020-07-17 15:22] samdoran commented on #47606
Fixed by https://github.com/ansible/ansible/pull/69040

[2020-07-17 15:24] samdoran commented on #46661
`HOST_PATTERN_MISMATCH` was added by #51199

[2020-07-17 15:24] #46661 closed, assigned to nobody

[2020-07-17 15:26] samdoran commented on #46252
We have no plans to implement this feature at this time. This can be accomplished using a custom callback plugin.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-07-17 15:26] #46252 closed, assigned to nobody

[2020-07-17 15:28] samdoran commented on #44933
Closing per above proposed solutions. We have no plans to add this new feature given the current ways this can be done.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-07-17 15:28] #44933 closed, assigned to nobody

[2020-07-17 15:29] samdoran commented on #44186
This still needs work.

[2020-07-17 15:31] sivel commented on #40987
Task files are not intended to be redistributable. If you need this functionality, you should consider using roles instead.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-17 15:31] #40987 closed, assigned to nobody

[2020-07-17 15:31] samdoran commented on #32547
Using the `combine` filter is the best way to solve this. https://github.com/ansible/ansible/issues/70585#issuecomment-658246976

[2020-07-17 15:31] #32547 closed, assigned to nobody

[2020-07-17 15:34] acozine commented on #32547
@alexander-balashov see https://docs.ansible.com/ansible/devel/user_guide/playbooks_filters.html#combining-hashes-dictionaries for documentation on the `combine` filter.

[2020-07-17 15:34] samdoran commented on #32386
We could add a note to the docs indicating the task should set `no_log` if there is sensitive data passed to the task.

[2020-07-17 15:36] samdoran commented on #31250
This needs to be verified to see if it is still an issue give recent changes to how passwords were handled in this module.

[2020-07-17 15:38] samdoran commented on #30843
Using `assert` with `ad-hoc` is not useful and making this work properly, due to all the conversion gymnastics mentioned above, is probably not worth the effort.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-17 15:38] #30843 closed, assigned to nobody

[2020-07-17 15:40] samdoran commented on #30803
We need to verify if this is still an issue.

[2020-07-17 15:42] samdoran commented on #29954
This was fixed in #67829

[2020-07-17 15:42] #29954 closed, assigned to nobody

[2020-07-17 15:44] samdoran commented on #29942
Fixed by https://github.com/ansible/ansible/pull/21990

[2020-07-17 15:44] #29942 closed, assigned to nobody

[2020-07-17 15:45] samdoran commented on #29520
Rather than using the `service` module, which is a wrapper around many modules, use the [`sysvinit`](https://docs.ansible.com/ansible/latest/modules/sysvinit_module.html) directly.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-17 15:45] #29520 closed, assigned to nobody

[2020-07-17 15:47] samdoran commented on #29509
This was due to list squashing, which has been removed. Now there will be one `apt` task for each packages, so each package up to the one that is missing will be installed.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-17 15:47] #29509 closed, assigned to nobody

[2020-07-17 15:49] samdoran commented on #29506
Is this still an issue?

needs_info

[2020-07-17 15:58] #50647 closed, assigned to nobody

[2020-07-17 16:00] samdoran commented on #28864
Closing per above. `vars` is purposefully not templated.

[2020-07-17 16:00] #28864 closed, assigned to nobody

[2020-07-17 17:30] nitzmahone commented on #49900
Yep, it sounds like @relrod wants to run with the generic tagging proxy, so we'll be writing it up Real Soon Now

[2020-07-17 18:00] nicohouillon commented on #64014
Nice, I need to test that pattern, can we include/import multiple roles at once, like with a "loop" ?
can't seem to be working. It would be a list of roles or a dict of we need to spcify vars :

[code]

[2020-07-17 19:50] bmillemathias commented on #70612
@Akasurde
I have some question related to  https://docs.ansible.com/ansible/devel/dev_guide/debugging.html ? (I'm not a developer just an ansible user and don't know the internal of it).

Does section "local debugging" and "remote debugging" are not supposed to be the same way nowadays ? Don't you think "Debugging (local)" should actually call "Run a debugger on your module code" ?
Does adding pdb

[2020-07-17 20:08] #70655 closed, assigned to nobody

[2020-07-17 20:10] s-hertel commented on #31250
I was unable to reproduce, so I'm closing this as resolved. Please open a new issue with a reproducer if it's still a problem on devel. The `quote` filter wraps the value in `'` `'`, and if the extra quotation marks aren't intended it would cause the password mismatch (and would explain why it worked when the filter was removed). You may have been looking for the [urlencode filter](https://jinja.p

[2020-07-17 20:10] #31250 closed, assigned to s-hertel

[2020-07-17 20:17] abadger commented on #69010
#59761 has been merged so this should be done now.

[2020-07-17 20:17] #69010 closed, assigned to nobody

[2020-07-17 20:39] #38760 closed, assigned to alikins

[2020-07-17 21:34] #70640 closed, assigned to nobody

[2020-07-17 21:45] bcoca commented on #15476
@tYYGH @tinproject  roles have never been 'self contained' vars and handlers have always been auto imported into the play scope. There has really not been a 'role scope' as much as a 'role context' and a 'role relative' pathing.

@weilbith  callbacks should have no influence on task execution, strategy plugins are in charge of that.

[2020-07-17 21:51] bcoca commented on #18305
added new `timeout` keyword in 2.10 (#69284 ) which acts as mitigation of these conditions. Ansible still cannot know if the remote is hung or just waiting for something to finish ,but the playbook author can now set a timeout that in their context will create a limit between both cases.

[2020-07-17 22:02] jhawkesworth commented on #46661
Nice! Thank you @samdoran

[2020-07-18 02:02] dontlaugh commented on #36000
I would vote for two distinct plugins. There is overlapping functionality between machinectl and nspawn, for sure, but they also diverge in important ways.

machinectl actually has a lot of uses that only make sense for interactive use. `machinectl shell` or `login` for instance, expect a tty. But machinectl also has `pull-raw` and `pull-tar`, and can list registered images, which are useful for s

[2020-07-18 11:23] queglay commented on #30864
I am also bumping into this for reasons I dont understand.

my ansible script has no condition, for the var to output, and yet it says some condition was false.  I have no idea what that condition is.
[code]

This produces output like so...

[code]

[2020-07-18 13:35] lemanhhung0943437948 opened #70726 "K"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

[2020-07-18 13:35] #70726 closed

[2020-07-18 13:35] lemanhhung0943437948 opened #70727 "Y"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-07-18 13:36] lemanhhung0943437948 opened #70728 "H"
##### SUMMARY

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2020-07-18 13:36] lemanhhung0943437948 opened #70729 "I"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-07-18 14:33] cloudengineers opened #70730 "Ansible Module to download the latest file from the Azure Blob Storage"
SUMMARY:

Hi All, can you please help me on the below issue

I have some reports on my azure blob storage in the below format, this files will be  generated after running some tests.

Pass_Filename_BuildNmuber_date and time.html

Using Ansible I need to download this latest generated file on my server and send it across to my team, is there any module or can some on plese help me on this

Please n

[2020-07-18 15:06] nniehoff opened #70731 "ios_config running_config not working as expected"
##### SUMMARY
The running_config parameter for ios_config should allow the operator to pass in the current configuration of a switch for use as a comparison, this will then be used instead of having the module query the switch for the current config.  In my testing, every attempt I have made causes the module to determine a change is necessary even when it is not.  The documentation and examples I

[2020-07-18 16:11] dvonessen commented on #36129
I can confirm, setting the last character to **[.Oeu]** omits the warning.
I have added follwing to my Jinja2 Template:
`{{ password | password_hash('bcrypt', ('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890' | shuffle(seed=inventory_hostname) | join)[:21] + ('Oeu' | shuffle(seed=inventory_hostname) | join)[1], rounds=9) }}`

[2020-07-18 16:30] aardbol opened #70732 "azure_rm_subnet should support IPv6"
##### SUMMARY
azure_rm_subnet  should support IPv6

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_subnet

##### ADDITIONAL INFORMATION
there should be an option address_prefix_cidr_ipv6 to add an IPv6 private subnet. azure_rm_virtualnetwork already supports IPv6, but a subnet cannot be created with ansible yet

[code]

[2020-07-18 17:03] brutesque commented on #36129
This works. Thank you for clearing up this issue.

[2020-07-18 17:04] brutesque commented on #36129
I like how you use the inventory_hostname so choose a deterministic random bit from the allowed bits. But is there a definite advantage above just picking one?

[2020-07-18 17:14] t-nakajimaa opened #70733 "win_template module shows all rows as difference"
##### SUMMARY
win_template module shows all rows as difference.
It's seem that Template module lost --- before information.
related #59433.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target OS versions: Windows10 2004 Build 19041.388

##### STEPS TO REPRODUCE

1. prepare dest file on target

[2020-07-18 19:35] puchalakd commented on #70495
After doing some tests I think the problem shows up because I have defined localhost in my inventory.

With 2.9.9 I've got local connection:
TASK [pwd on delegate_to localhost] ********************************************
task path: /home/puchalakd/test/test1.yml:6
<localhost> ESTABLISH LOCAL CONNECTION FOR USER: puchalakd
<localhost> EXEC /bin/sh -c 'echo ~puchalakd && sleep 0'

With 2.9.10 I've

[2020-07-18 20:13] bmillemathias commented on #70729
@lemanhhung0943437948 Could you stop creating random issues on all ansible project ?

[2020-07-18 20:44] coltenkrauter commented on #61639
This would be great.

[2020-07-18 23:39] westsouthnight commented on #24979
4 years guys! incredible @bcoca !!!

[2020-07-19 04:31] #70727 closed

[2020-07-19 04:31] #70728 closed

[2020-07-19 04:31] #70729 closed

[2020-07-19 04:34] Akasurde commented on #70733
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.windows

Migrated this issue in the above repository - https://github.com/ansible-collections/ansible.windows/issues/82.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.

[2020-07-19 04:35] #70733 closed, assigned to nobody

[2020-07-19 04:35] Akasurde commented on #70732
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Migrated this issue in the above repository - https://github.com/ansible-collections/azure/issues/189.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mail

[2020-07-19 04:35] #70732 closed, assigned to nobody

[2020-07-19 04:35] Akasurde commented on #70731
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Migrated this issue in the above repository - https://github.com/ansible-collections/cisco.ios/issues/112.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.ne

[2020-07-19 04:35] #70731 closed, assigned to nobody

[2020-07-19 04:35] Akasurde commented on #70730
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Migrated this issue in the above repository - https://github.com/ansible-collections/azure/issues/190.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mail

[2020-07-19 04:35] #70730 closed, assigned to nobody

[2020-07-19 04:40] commscheck commented on #55289
Same issue here, with npm installed via homebrew and setting `executable` to `/usr/local/bin/npm`. Trying a `command` or `shell` task with the full path to npm didn't work either.

This worked instead:
[code]

Likely you can replace `/usr/local/bin` above with the path to your npm's parent directory.

[2020-07-19 07:50] dvonessen commented on #36129
Thank you, yes there is an advantage, the bcrypts salt has a length of 22Bits and the last has to be one of **[.Oeu]** as @afrimberger has mentioned. Therefor you can see that I am using the first 21 bits to generate the salt and adding as the last bit only the allowed characters. I hope that makes it clear.

[2020-07-19 12:22] Akasurde commented on #55443
!component =lib/ansible/modules/os_server_facts.py

[2020-07-19 15:59] peteeckel commented on #51068
I can reproduce the problem.

[code]

[code]

[2020-07-19 18:10] rafal-1990 opened #70740 "Against the documentation password_hash doesn't depend on passlib in all use cases"
##### SUMMARY
The [documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#hashing-filters) creates the impression that passlib is necessarily needed for using password_hash. But depending on the used algorithms or OS it also works when only the python crypt module is present.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
playbooks_filters

##### A

[2020-07-20 02:27] logan2211 opened #70741 "TRANSFORM_INVALID_GROUP_CHARS is ignored by constructed inventory plugin"
##### SUMMARY

The `constructed` inventory plugin does not honor configuration of `TRANSFORM_INVALID_GROUP_CHARS`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`constructed` inventory plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO REPRODUCE

Export
`export ANSIBLE_TRANSFORM_INVALID_GROUP_CHARS=never`

Configure a con

[2020-07-20 02:56] logan2211 commented on #70741
Doing a little more digging on this, it seems like this is caused by https://github.com/ansible/ansible/pull/60912/files#diff-0b5241ab9313f5d4f783ad8dd8ee8524R375.

The `force=True` parameter is set for `original_safe` which causes the function to ignore the configuration. It seems like a bug to me because there's configuration which is specifically meant to disable this group mangling behavior, y

[2020-07-20 05:27] Akasurde commented on #70702
!component =lib/ansible/plugins/inventory/__init__.py

[2020-07-20 05:31] riupie opened #70742 "Can not set mysql user password: "The PyMySQL (Python 2.7 and Python 3.X) or MySQL-python (Python 2.X) module is required."}"
##### SUMMARY
I have a task to create user and set update password on create. From this task, I just want to update my password once. So, if I run my task again i will not update my password again. My task run well in first run/execution. But when I run again my task I get this error:
[code]
Then I install `pymysql` via apt and pip but still end in same result.

##### ISSUE TYPE
- Bug Report

####

[2020-07-20 05:33] Akasurde commented on #70742
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/671.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-07-20 05:33] #70742 closed, assigned to nobody

[2020-07-20 09:16] vincentbernat commented on #54412
In `lib/ansible/template/__init__.py`, the `errors` keyword is removed from `kwargs`. So, when the `run()` function in file lookup is executed, the info is not here anymore and we cannot prevent the display of the warning. Otherwise, we could have passed `ignore_missing=True` to `find_file_in_search_path()` function.

Relevant code:

[code]

And:

[code]

[2020-07-20 11:40] webby-newtoDevOps opened #70745 "HI Guys"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

permisson denied issue on Ubuntu when installing Ansible
@ubuntu:~$ ansible-galaxy install juniper.junos
- downloading role 'junos', owned by juniper
- downloading role from https://github.com/Juniper/ansible-junos-stdlib/

[2020-07-20 12:35] danieltrautmann commented on #55289
Not sure if this is connected, but I get the same error without the global option, but I do set `executable` and `path`.

In my case I'm trying to build my own version management for nodejs like nvm does. Thats why my code looks a bit more complex.

[code]

[2020-07-20 12:53] danieltrautmann commented on #55289
Nevermind... [this](https://github.com/ansible/ansible/issues/29240#issuecomment-343943329) solved the issue for me. Or at least it is a workaround. So #29240 might be connected to this issue.

[2020-07-20 13:29] idelsink commented on #69088
When I enabled passwordless sudo for my user, it did not hang. So this might give another insight into the underlying issue?

Example task for passwordless sudo (I tested it on a Ubuntu and a RHEL8 machine, both had the same issue:
[code]

[2020-07-20 13:53] justme3 opened #70746 ""command: yum clean all" warns and recommends using "warn: false" which generates an error"
##### SUMMARY
When executing "command: yum clean all" Ansible generates an warning stating that the warning can be removed by using "warn: false" in the stanza. Another solution is to remove all warning by updating ansible.cfg.

When I add "warn: false" to the stanza I get the following error:
[code]
The code that is being operated on is:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[2020-07-20 14:29] #70682 closed, assigned to bcoca, s-hertel

[2020-07-20 14:49] samdoran commented on #70745
`ansible-galaxy` tries to install roles to the first writeable path in [`ANSIBLE_ROLES_PATH`](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#envvar-ANSIBLE_ROLES_PATH). Since your user account cannot `wguettari` write to `/etc/ansible/roles`, installation fails. I would also advise against setting `/etc/ansible` to have world writeable permissions. See the [roles document

[2020-07-20 14:49] #70745 closed, assigned to nobody

[2020-07-20 15:09] staelche commented on #53604
Is this addressed somehow in a current version of Ansible?

I can't find something in the documentation. I currently try to provision a Percona MySQL 8 database and create a user with the Require SSL flag. The Ansible way works with 5.7 but not anymore with 8.

The pull request https://github.com/ansible/ansible/pull/49251 should have added a require_ssl property/option for mysql_user addressing t

[2020-07-20 15:22] geerlingguy opened #70750 "Backport ANSIBLE_COLLECTIONS_PATH variable to 2.9"
##### SUMMARY

I realized that Ansible 2.10 prints the following deprecation warning if you use the `ANSIBLE_COLLECTIONS_PATHS` variable in your `ansible.cfg` or environment:

[code]

The annoying thing is most people didn't really even _start using_ collections until 2.9 (and many people still don't). And the only way to set this option in 2.9 is with `ANSIBLE_COLLECTIONS_PATHS`. But 2.10 and lat

[2020-07-20 15:23] geerlingguy commented on #70750
(PR reference https://github.com/ansible/ansible/pull/70007)

[2020-07-20 15:23] ReinerNippes opened #70751 "vmware_guest limitation?"
##### SUMMARY
vmware_guest task creates only 5 guest at a time.

when i want create, let's say, 10 vmware guest only 5 guests are create before another bunch of 5 guests are created.

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### ADDITIONAL INFORMATION
is that a limitation of the ansible module vmware_guest or a vmware vcenter feature.

where can change this number? how to

[2020-07-20 15:25] sivel commented on #70751
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/

[2020-07-20 15:25] #70751 closed, assigned to nobody

[2020-07-20 15:38] alderben-mts-ru commented on #47603
also, documentation examples mention 'any' subset, and it is nowhere explained.

[code]

[2020-07-20 15:38] #32386 closed, assigned to Akasurde

[2020-07-20 15:39] geerlingguy opened #70753 "Ansible base reports version to be identical to Ansible, is confusing"
##### SUMMARY

The version of Ansible that is reported when installing different distributions of Ansible via pip two ways are identical:

[code]

Right now it's not a huge concern as people like me are typically able to track how they've installed Ansible. But as time goes on, it might be nice to have `ansible --version` for `ansible-base` installs report `ansible-base` in the version instead of

[2020-07-20 15:48] sivel commented on #70753
The `ansible-base` package provides `ansible`. The `ansible` package only provides bundled collections, and has a dependency on `ansible-base`

In both cases, it's `ansible` as provided by the `ansible-base` package that is responding to `--version`.

There is nothing from the `ansible` package that is addressable directly from the CLI, other than using `pip freeze`/`pip list`.

[2020-07-20 15:53] geerlingguy commented on #70753
@sivel - From that perspective, it makes sense. I guess then, is there some other metadata that could be injected into `ansible --version` to make it apparent to the end user how the packaging is installed? IMO it does make a difference as there are things that will work differently (especially legacy playbooks) if you're running from ansible-base `ansible` vs. ansible `ansible`.

[2020-07-20 15:59] brianmillett opened #70756 "ovirt4.py fails fedora 32"
##### SUMMARY

System, Fedora 32
Python => Python 3.8.3

Running the sample dynamic inventory file for ovirt (contrib/inventory/ovirt4.py), ovir4.py fails with the following error:
Traceback (most recent call last):
  File "./ovirt4.py", line 257, in <module>
    main()
  File "./ovirt4.py", line 242, in main
    connection = create_connection()
  File "./ovirt4.py", line 119, in create_connection

[2020-07-20 16:05] sivel commented on #70756
Thank you very much for your interest in Ansible. This script is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-07-20 16:05] #70756 closed, assigned to nobody

[2020-07-20 16:15] brianmillett commented on #70756
Awesome, thanks

[2020-07-20 16:25] #69577 closed, assigned to nobody

[2020-07-20 17:11] Nonymus opened #70759 "Setting ansible_become=no in ini-inventory for localhost leads to become being used anyway."
##### SUMMARY
Since upgrading to Ansible 2.9.10, setting ansible_become=false for localhost in inventory leads to become actually being used. Worked fine in 2.9.9

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
become, inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
MacOS 10.15.5
Python 3.8

##### STEPS TO REPRODUCE

inventory:
[code]
play

[code]

[2020-07-20 17:34] sivel commented on #70759
Duplicate of https://github.com/ansible/ansible/issues/70598

The fix will be included in the upcoming Ansible 2.9 release.

[2020-07-20 17:34] #70759 closed, assigned to nobody

[2020-07-20 18:06] Alexander198961 commented on #53604
i will check tomorrow

[2020-07-20 18:23] rukman7 commented on #70746
@justme3 the warning flag is a part of command module. Try like this:
` command: /bin/yum clean all
    warn: false
  become_user: root
  become: yes
  become_flags: '-i' `

Documentation: https://docs.ansible.com/ansible/latest/modules/command_module.html

[2020-07-20 18:43] sivel commented on #70348
This has been resolved in https://github.com/ansible/ansible/pull/70529

We will validate if ansible is already installed, and error when trying to install ansible-base over top.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-20 18:43] #70348 closed, assigned to nobody

[2020-07-20 18:45] #70638 closed, assigned to nobody

[2020-07-20 19:53] bmillemathias commented on #70612
following a discussion on #ansible-docs

[2020-07-20 20:20] sivel commented on #70753
!component =lib/ansible/cli/arguments/option_helpers.py

[2020-07-20 20:33] samdoran commented on #41494
I did some thinking about how to prevent this conditional from getting out of hand and put my suggestion [here](https://github.com/ansible/ansible/pull/41502/files#r457674677).

[2020-07-20 20:47] logan2211 commented on #70741
#70765 closed as it is a duplicate of https://github.com/ansible/ansible/pull/69702

[2020-07-20 22:16] mahaffey commented on #59306
Also seeing this issue occur. Moving away from the async module for the time being as a result

[2020-07-20 23:25] afunix opened #70772 "with_first_found fails to find a file if an undefined variable is used in the list since ansible 2.9"
##### SUMMARY

with_first_found fails "No file was found when using first_found. ..." even if a file matches search conditions, when an undefined variable is used in files parameter.
This is started after I've upgraded from ansible 2.8 to 2.9, so I suppose it is a bug.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
first_found

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

#####

[2020-07-21 05:06] deepakjoshishri commented on #59879
Hi Team, just stepped on this while exploring ansible-test integration command, I'm having some difficulties, can you guide me a bit:

I want to specify a specific inventory file to ansible-test integration and test targets under my collection, modules that I have interact with the physical server configuration, and need me to specify inventory file with credentials to log in to that server.

Any

[2020-07-21 06:24] lework commented on #24427
+1

[2020-07-21 06:40] lework commented on #24427
add `followlinks=True`， Can be solved temporarily.

[code]

[2020-07-21 07:09] zentavr opened #70773 "When we have a reusable role and it had a dependency - the dependency role gets executed with the wrong parameters."
##### SUMMARY
The latest manual for today for [v. 2.9](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#role-duplication-and-execution) tells if we pass different parameters to the role - which is declared twice - it would be executed twice. But that does not work for the dependencies.

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2020-07-21 07:10] DiptoChakrabarty opened #70774 "error while installing packages in ec2 RHEL instance using yum module"
##### SUMMARY

I am trying to install a few packages in a fresh installed ec2 instance (Red Hat Image) using both the yum and package module but unable to install the packages as I am encountering the error everytime

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module used : yum and package both tried
Task: Install packages

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

####

[2020-07-21 07:11] Akasurde commented on #49044
resolved_by_pr https://github.com/ansible-collections/community.general/pull/613

[2020-07-21 07:11] #49044 closed, assigned to nobody

[2020-07-21 07:12] Andersson007 commented on #53604
if it's still relevant, please create a new issue in https://github.com/ansible-collections/community.mysql instead and close this one

[2020-07-21 07:41] zentavr commented on #70773
Maybe related to #69298, #68922 (and probably [this comment](https://github.com/ansible/ansible/issues/68922#issuecomment-613005490) explains the problem).

[2020-07-21 07:44] zentavr commented on #70773
In my case the setting of `DEFAULT_PRIVATE_ROLE_VARS` didn't help. What helped is to remove `vars:` and provide the variables as parameters, i.e.:
[code]

`roles/pb-yii-app/meta/main.yml` looks like:
[code]

[2020-07-21 10:27] snmatsui commented on #56265
I met this kind bug.
When the task results includes unreachable host and host failed percentage  is larger than max_fail_percentage, the play continues to next batch(another serialized hosts).

I guess, when the percentage reach max_fail_percentage, all hosts regarded as failed host. so unreachable host is included failed hosts although it is already included unreachable hosts.
https://github.com/

[2020-07-21 12:00] justme3 commented on #70746
@rukman7 Many thanks. Putting the warn line in as an arg works.
The Ansible documentation page for command does not distinguish between parameters to a module or args.
Is there any way I can avoid this mistake in the future?

[2020-07-21 13:02] uDuCkV commented on #22737
+1

[2020-07-21 13:07] jean-christophe-manciot commented on #70598
@bcoca
This issue does not seem to be solved.

##### ACTUAL RESULTS with ansible 2.9.11: issue
With ansible from Pypi:
[code]
The issue is still there although the symptom is quite different: **The value '{{ connections.ssh.become }}' is not a valid boolean**
[code]

- it seems that v2.9.11 version does not include the [commits](https://github.com/ansible/ansible/pull/70657) you merged into devel,

[2020-07-21 13:19] jean-christophe-manciot commented on #70598
@bcoca
This issue does not seem to be solved.

##### ACTUAL RESULTS with ansible 2.9.11: issue
With ansible from Pypi:
[code]
The issue is still there although the symptom is quite different: **The value '{{ connections.ssh.become }}' is not a valid boolean**
[code]

- it seems that v2.9.11 version does not include the [commits](https://github.com/ansible/ansible/pull/70657) you merged into devel,

[2020-07-21 13:43] bcoca commented on #70598
the backport to 2.9 is #70689, which has not been merged yet.

[2020-07-21 14:01] sivel commented on #70773
Duplicate of https://github.com/ansible/ansible/issues/67718

[2020-07-21 14:01] #70773 closed, assigned to nobody

[2020-07-21 14:23] rukman7 commented on #70774
Hi @DiptoChakrabarty, **use_backend** parameter is not a part of the package module. Try with **use** instead of **use_backend**
like this:
[code]
code documentation I referenced: https://github.com/ansible/ansible/blob/v2.9.7/lib/ansible/modules/packaging/os/package.py

[2020-07-21 14:54] rukman7 commented on #70746
@justme3 As the documentation says:
1. _The command module takes the command name followed by a list of space-delimited arguments._
if you do like like the following, you need args.
2. _To create command tasks that are easier to read than the ones using space-delimited arguments, pass parameters using the args task keyword or use cmd parameter._
[code]
if you do like this, you don't need args.
[co

[2020-07-21 14:59] geerlingguy commented on #37148
I wanted to post an update in this issue, since it's one of the highest results on Google right now for the search terms 'Ansible' and 'Helm'—when we moved all the Kubernetes functionality out into the [`community.kubernetes`](https://github.com/ansible-collections/community.kubernetes) collection, we also incorporated re-written Helm v3-compatible modules into the collection.

Please see that col

[2020-07-21 15:17] patriotphoenix commented on #29465
This issue is directly impacting my ability to use the git module to pull latest code changes from a git repo. Anybody have a workaround?

[2020-07-21 15:23] bcoca commented on #70707
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this feature request, since it requires rewriting much of how the standard Python urllib/httplib libraries work and intercepting the values to open the sockets before DNS resolution can happen. Normally for cases in which you want to ma

[2020-07-21 15:23] #70707 closed, assigned to nobody

[2020-07-21 15:27] samdoran commented on #70702
Per discussion today, there are many possible behaviors when `cache_timeout` is set to `0`. Our current thinking is that any value less than `1` should be disable caching.

[2020-07-21 15:33] sivel commented on #29781
Duplicate of https://github.com/ansible/ansible/issues/68842

[2020-07-21 15:33] #29781 closed, assigned to nobody

[2020-07-21 15:38] relrod commented on #70746
Fixed by the fact that we're removing the command warning feature entirely in 2.11+, #70504

[2020-07-21 15:38] #70746 closed, assigned to nobody

[2020-07-21 15:47] sivel commented on #70774
The `use_backend` argument, is specific to the `yum` action plugin, to instruct the `yum` action plugin whether to use `yum` or `dnf`.

In the `package` action, the name `use` is used to specify which underlying module to use.  The `package` action, calls modules directly, and does not call the `yum` action plugin.

As such, you just want to supply `use: yum`.

I'm however not going to close this

[2020-07-21 16:06] jalphonso opened #70779 "ipaddr ipv4('host') filter does not support /31 cidr"
##### SUMMARY
ipv4('host') filter does not support /31 cidr
https://github.com/ansible/ansible/blob/9e3ccd64b6a233390cd70c314193b6ba1aacfe21/lib/ansible/plugins/filter/ipaddr.py#L146-L151
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/filter/ipaddr.py

##### ANSIBLE VERSION
affects all

##### STEPS TO REPRODUCE
yml var from inventory:
ip_address: 192.168.1.0/31

In a jinja

[2020-07-21 17:07] sivel commented on #70779
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-07-21 17:07] #70779 closed, assigned to nobody

[2020-07-21 17:26] jalphonso commented on #70779
resubmmitted under ansible.netcommon. Thanks!
https://github.com/ansible-collections/ansible.netcommon/issues/94

[2020-07-21 17:30] tux-84 opened #70782 "Tasks executed with non-matching tags set"
##### SUMMARY
When running a playbook with a certain tag, also role and tasks with other tags get executed.
This goes as far as when specifying a `meta: end_host` in role **a** with tag **a**
but running the playbook with tag `b` to run role `b`, the end_host action from role `a` gets evaluated anyway and
the whole playbook is skipped.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### AN

[2020-07-21 17:45] sivel commented on #70772
The issue here, is in filtering out untemplated terms in the search.  We only account for strings in the terms in this code path.

The following diff should resolve the issue:

[code]

If anyone is interested in testing this further, and creating tests to validate it, please feel free to do so.

[2020-07-21 17:49] sivel commented on #70782
`meta` tasks do not currently support tags. See:

* https://github.com/ansible/ansible/pull/67508
* https://github.com/ansible/ansible/pull/70590

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-21 17:49] #70782 closed, assigned to nobody

[2020-07-21 17:51] jzielke84 commented on #70782
@sivel I even could reproduce the bug with only tagged roles and the meta command like I've described above. Even if it's not possible on task-level, the bug also applies to the other scenario. Hence you should consider re-opening this request.

[2020-07-21 18:04] rukman7 commented on #70774
@sivel can I try to come up with a pull request?

[2020-07-21 18:20] samccann opened #70783 "[Docs] [8/8]Update documentation and docsite for Ansible 2.10"
Update the documentation and publish the 2.10 version of Ansible documentation. Tasks include:

- [x] Remove 2.7 from the version switcher in conf.py in devel, stable-2.10, stable-2.9 and stable-2.8 and [2.9_ja](https://github.com/acozine/ansible/tree/japanese_2.9_to_prod) - see #64109

- [x] Get redirects in place for all old modules to new module-in-collection - https://github.com/ansible-commun

[2020-07-21 18:28] bmillemathias commented on #70772
Hey @afunix

Are you able to test the fix and provide some feedback ?

[2020-07-21 18:30] AlanCoding opened #70784 "Using ansible-inventory without decrypting no longer working"
##### SUMMARY
There was an idea that we could call `ansible-inventory` with encrypted variables in `host_vars` and `group_vars`, and have it output the inventory data without decrypting those secrets.

This was possible if, and only if, those folders contained YAML with individual values encrypted.

It seems that that no longer works.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansibl

[2020-07-21 18:37] sivel commented on #70784
This change in behavior is attributed to 9667f221a59ff95aa9104dd6a9a13976e29a7146

[2020-07-21 18:47] macau23 commented on #70470
Maybe I am doing something wrong here...

I have this:

[code]

I am expecting the commented out line (`literal:`) to be replaced with the uncommented line (`line:`), but instead I get the uncommented line appended to the end of the file.

[2020-07-21 18:48] AlanCoding commented on #70784
Agreed, confirmed locally that reversion of that commit make behavior same as 2.9

[2020-07-21 18:51] sivel commented on #70784
I have a fix, just adding a test now.

[2020-07-21 18:52] bcoca commented on #70784
we could make fix based on #70607 and add a toggle for ansible-inventory to change behaviours. There are cases in which either might be desirable.

[2020-07-21 18:55] sivel commented on #70784
The problem is that while single vaulted values act like a string, they don't satisfy the `is_sequence` check.  We can extend it in the future, I'm just addressing that particular oversight now.

[2020-07-21 18:56] sivel commented on #70774
@rukman7 works for me. I'm not actively working on this.

[2020-07-21 18:57] imjoseangel commented on #70470
Weird,

Are you sure you are using the correct spacing? For the literal, spacing is also a _must_

I'm using this as `/etc/apt/apt.conf.d/50unattended-upgrades`:

[code]
And this is exactly my lineinfile playbook:

[code]
After running, I get:

[code]

[2020-07-21 19:00] #69492 closed, assigned to nobody

[2020-07-21 19:00] macau23 commented on #70470
I have a tab there. *facepalm*

[2020-07-21 19:01] sivel commented on #70784
PR at https://github.com/ansible/ansible/pull/70786

[2020-07-21 19:02] macau23 commented on #70470
What does the example in the examples look for? `SELINUX=` on a line byitself, with nothing before or after the string?

[2020-07-21 19:14] imjoseangel commented on #70470
Specifically for the string `SELINUX=` as per the documentation. `The literal or raw expression to look for in every line of the file. `

And also

[code]

To follow the regex behavior, to me if you find the string `SELINUX=` If you have for instance

`  SELINUX=disabled` (Have a look to the extra spaces)

It will be replaced by

`SELINUX=enforcing`

[2020-07-21 19:29] wedi opened #70788 "Missing MariaDB 10.5.2 user privileges"
##### SUMMARY
I cannot grant `REPLICATION MASTER ADMIN` or `REPLICATION SLAVE ADMIN` to a user. These privileges were added in MariaDB 10.5.2 ([release notes](https://mariadb.com/kb/en/mariadb-1052-release-notes/#privileges)).

I haven't managed to find the source of mysql_user (where are the modules? I found many broken links though. It looks like there has been a great restructuring recently?) b

[2020-07-21 19:51] samdoran commented on #70589
Fixed by #70600

[2020-07-21 19:51] #70589 closed, assigned to nobody

[2020-07-21 20:10] tboerger commented on #29781
What? Why is such an important flag out of scope?

[2020-07-21 20:36] samdoran commented on #70495
This was changed in commit 9e00214fb435e6b9ea223d966c2e4d9feecac35f

[2020-07-21 20:49] samdoran commented on #70495
I will check with others, but I believe this change in behavior is now correct. When `localhost` is explicitly defined in inventory, it behaves like any other host and will use the same connection settings as other hosts. Update the inventory to match the [implicit localhost](https://docs.ansible.com/ansible/latest/inventory/implicit_localhost.html#implicit-localhost) settings.

[code]

[2020-07-21 21:03] macau23 commented on #70470
Maybe there is a conflict here between what I am expecting (literal will match a line precisely, i.e. the regex would be `^ESCAPED-LITERAL$`) and what it does. What it does is better :)

[2020-07-21 21:24] dirtbag commented on #68133
Not sure if it helps, but I ran into this same error and realized that I was using the wrong project creds in ansible  for the VM I was trying to create. So I had a valid credential file, just not for the correct project.

[2020-07-21 21:48] #70784 closed, assigned to nobody

[2020-07-21 22:08] sivel commented on #70788
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.mysql

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum

[2020-07-21 22:08] #70788 closed, assigned to nobody

[2020-07-21 22:58] nicohouillon opened #70793 "use of environment keyword in multiple roles"
##### SUMMARY
in previous version of ansible we environment keyword was not evaluated prior to tasks and roles, now that it is it changes the way to pass environment to all subsequent roles .
workaround is to :
- use include_roles in a loop with apply  parameter , caveat is we have to redefine again and again the environment
- use import_role and module default, caveat is we can't loop in imort_ro

[2020-07-21 23:18] nitzmahone commented on #69788
Aha, figured this one out: `shell` is calling the `command` *action*, not the `command` *module*... The `command` action impl doesn't pass a module name at all, which means it's using whatever is in `self._task.action` (the unqualified name).

I think the right thing to do here is to also tweak the command action to explicitly pass its own resolved name from `self._redirected_names[-1]` to `self._

[2020-07-21 23:29] wedi commented on #70788
Ah, that's why I haven't found it. It might be helpful to add some more prominent information and a link to that repo.

Now as I know [where too look](https://github.com/ansible-collections/community.mysql/blob/ac79b437c8d8f367b695a17627a72f4a0e9df021/plugins/modules/mysql_user.py#L305), it turns out this has been fixed already.

[2020-07-22 03:46] Akasurde commented on #43739
Reopening since I need to check OpenBSD and NetBSD support.

[2020-07-22 03:48] #70238 closed, assigned to Akasurde

[2020-07-22 04:45] johnpetersjr commented on #67358
I was able to reproduce this problem using the scale set module:

- name: Create VMSS
  azure_rm_virtualmachinescaleset:
    resource_group: myResourceGroup
    name: testvmss
    vm_size: Standard_DS1_v2
    capacity: 2
    virtual_network_name: testvnet
    upgrade_policy: Manual
    subnet_name: testsubnet
    admin_username: adminUser
    admin_password: 12345adminUserry34gdsgsh
    ssh_passwo

[2020-07-22 05:48] rukman7 commented on #70774
@sivel done.

[2020-07-22 07:17] rukman7 commented on #70774
This one-liner will also work:
[code]
But it does not through a proper error when both **use_backend** and **use** is used.
Let me know.

[2020-07-22 09:04] NilashishC commented on #51843
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-22 09:04] #51843 closed, assigned to justjais

[2020-07-22 09:05] cfchan81 commented on #70645
Thank

在 2020年7月15日週三 下午8:06，evitalis <notifications@github.com> 寫道：

[2020-07-22 09:26] mozzar commented on #24427
+1

[2020-07-22 09:39] doczico opened #70802 "aws_s3 geturl expire before specified time"
##### SUMMARY
When generated, the presigned url expires before the time specified
see: https://aws.amazon.com/premiumsupport/knowledge-center/presigned-url-s3-bucket-expiration/

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aws_s3

##### SOLUTION
use Config(signature_version='s3v4') for geturl as for put , get or getstr

[2020-07-22 10:02] doczico commented on #70802
[code]

[2020-07-22 10:07] Akasurde commented on #70802
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/amazon.aws

Migrated this issue in the above repository - https://github.com/ansible-collections/amazon.aws/issues/111.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.

[2020-07-22 10:07] #70802 closed, assigned to nobody

[2020-07-22 11:43] AlexGluck commented on #66845
Temporary fix:
[code]

[2020-07-22 12:52] NilashishC commented on #50905
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/junipernetworks.junos

Please re-submit this issue in the above repository if the issue still persists.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https:/

[2020-07-22 12:52] #50905 closed, assigned to ganeshrn

[2020-07-22 12:53] #50881 closed, assigned to justjais

[2020-07-22 12:53] #50635 closed, assigned to trishnaguha

[2020-07-22 12:54] NilashishC commented on #49888
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-22 12:54] #49888 closed, assigned to nobody

[2020-07-22 12:55] #49244 closed, assigned to justjais

[2020-07-22 12:57] NilashishC commented on #48876
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/junipernetworks.junos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!f

[2020-07-22 12:57] #48876 closed, assigned to ganeshrn

[2020-07-22 12:57] NilashishC commented on #48825
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-22 12:57] #48825 closed, assigned to ganeshrn

[2020-07-22 13:02] NilashishC commented on #48447
Seems like this issue will be resolved by using RSA keys since Paramiko doesn't support OPENSSH keys, in essence this is a paramiko issue and not an Ansible one per se. As such, I will be closing this bug report. In case you face other issues, please open a ticket in github.com/ansible-collections/cisco.nxos.

[2020-07-22 13:02] #48447 closed, assigned to trishnaguha

[2020-07-22 13:04] NilashishC commented on #46777
This module has been deprecated and replaced by the `nxos_acls` resource module. Hence, we will not be adding new features to it. Please try out the `nxos_acls` module and in case you face any issues with it, please open a ticket at https://www.github.com/ansible-collections/cisco.nxos.

[2020-07-22 13:04] #46777 closed, assigned to nobody

[2020-07-22 13:04] NilashishC commented on #45184
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-22 13:04] #45184 closed, assigned to nobody

[2020-07-22 13:09] NilashishC commented on #44977
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/dellemc.os6

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansib

[2020-07-22 13:09] #44977 closed, assigned to nobody

[2020-07-22 13:10] NilashishC commented on #46725
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-22 13:10] #46725 closed, assigned to ganeshrn

[2020-07-22 13:10] NilashishC commented on #44915
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-22 13:10] #44915 closed, assigned to nobody

[2020-07-22 13:11] #44891 closed, assigned to nobody

[2020-07-22 13:12] NilashishC commented on #44569
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/dellemc.os6

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansib

[2020-07-22 13:12] #44569 closed, assigned to nobody

[2020-07-22 13:14] NilashishC commented on #44310
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.

[2020-07-22 13:14] #44310 closed, assigned to nobody

[2020-07-22 13:14] NilashishC commented on #44003
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.

[2020-07-22 13:14] #44003 closed, assigned to nobody

[2020-07-22 13:15] NilashishC commented on #51402
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-22 13:15] #51402 closed, assigned to nobody

[2020-07-22 13:16] NilashishC commented on #43813
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/arista.eos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansibl

[2020-07-22 13:16] #43813 closed, assigned to trishnaguha

[2020-07-22 13:16] NilashishC commented on #43800
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.

[2020-07-22 13:16] #43800 closed, assigned to nobody

[2020-07-22 13:17] NilashishC commented on #43410
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/dellemc.os6

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansib

[2020-07-22 13:17] #43410 closed, assigned to nobody

[2020-07-22 13:17] NilashishC commented on #43080
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansibl

[2020-07-22 13:17] #43080 closed, assigned to nobody

[2020-07-22 13:18] NilashishC commented on #43077
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansibl

[2020-07-22 13:18] #43077 closed, assigned to trishnaguha

[2020-07-22 13:19] NilashishC commented on #42732
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.

[2020-07-22 13:19] #42732 closed, assigned to nobody

[2020-07-22 13:19] NilashishC commented on #42583
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.asa

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible

[2020-07-22 13:19] #42583 closed, assigned to nobody

[2020-07-22 13:27] Bablzz opened #70809 "Dry run mode with docker_container and env_vars: FileNotFoundError"
### SUMMARY
Hello everyone!

When try dry run with docker_container module and env_file parameter I got
The error was: FileNotFoundError: [Errno 2] No such file or directory

but want
[code]

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container with dry run

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Linux  5.3.0-61-generic #55~18.04.

[2020-07-22 13:42] NilashishC commented on #42136
Hi!

Thanks very much for your submission to Ansible.

Unfortunately, as per the discussion in the related PR https://github.com/ansible/ansible/pull/60620, we will be closing this issue.

However, we're absolutely always up for discussion. Since this is a really busy project, we don't always see comments on closed tickets, but want to encourage open dialog. You can stop by the development list, a

[2020-07-22 13:42] #42136 closed, assigned to trishnaguha

[2020-07-22 13:52] sivel commented on #70809
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-07-22 13:52] #70809 closed, assigned to nobody

[2020-07-22 13:57] Bablzz commented on #70809
Thanks for information @sivel !

[2020-07-22 14:15] m33x-7 commented on #65889
@billdodd I've just come across this error trying to configure some Cisco IMCs for the first time. I get the same error for redfish_info, redfish_config, and redfish_command. I've also put on the latest firmware just incase, but the results are the same.

I've included the output from all three modules, and the HTTP headers from the CIMC, as you've previously requested.

The modules work fine if I

[2020-07-22 14:24] ssato commented on #44003
Thanks a lot for letting me know about it! I'll look at the repo later.

[2020-07-22 14:31] samccann commented on #70267
This PR might help us figure out how to fix this - https://github.com/ansible/ansible/pull/66745

[2020-07-22 14:53] johnbui423 commented on #70655
@jborean93, I see you already have provided a fix, but for reference:

[code]

[code]

[code]

Repeating with administrative prompt:

[code]

[2020-07-22 15:13] #22737 closed, assigned to nobody

[2020-07-22 15:13] #70334 closed, assigned to nobody

[2020-07-22 16:33] abadger opened #70817 "datetime being processed and transformed in a function that should only be handling no_log"
##### SUMMARY
Sometimes a datetime.datetime or datetime.date object can be included in a module's return value.  When that happens, `_remove_values_conditions` has to know what to do with it.  This PR addressed that by adding a new condition for it and transforming the datetime object into a string form via the `datetime.isoformat()` method.  https://github.com/ansible/ansible/pull/13678

That sho

[2020-07-22 16:48] abadger commented on #70639
`_remove_values_conditions` should fail because otherwise you have a potential of a new type being added to the json encoder but not here and then the new type could smuggle private data out of the function.  It does mean that you have to update both pieces of code but since this is a security feature, it seems appropriate that you do so.

I did the history digging you were wondering about.  Here'

[2020-07-22 16:48] abadger commented on #70817
Duplicate of https://github.com/ansible/ansible/issues/70639

[2020-07-22 16:48] #70817 closed, assigned to nobody

[2020-07-22 16:58] abadger commented on #70639
Looking at the oz branch, i saw that the docstring update mentions that all containers will be scanned and have private values hidden.  Ensuring that is a reason that unknown types need to raise an exception here.  (Since an unknown type isn't limited to scalar types.  It could be a container type which doesn't conform to one of the abcs which we are already checking for).

[2020-07-22 18:44] #45842 closed, assigned to maxamillion

[2020-07-22 19:49] #70455 closed, assigned to nobody

[2020-07-22 20:05] #34038 closed, assigned to nobody

[2020-07-22 20:10] billdodd commented on #65889
@m33x-7 Thanks for updates and detail on this issue.

The Redfish modules use the Ansible `module_utils.urls.open_url()` to make the HTTP requests to the Redfish service. And that method uses the Python `urllib` package. And I'm guessing that somewhere in there (probably in `urllib`), the response body is converted to JSON via something like `json.loads(s)`.

While googling for the error seen here

[2020-07-22 20:42] samdoran opened #70823 "win_reg_stat test is failing in stable-2.9"
##### SUMMARY

The `win_reg_stat` test in the `stable-2.9` branch is failing.

[Failed test run](https://app.shippable.com/github/ansible/ansible/runs/170860/21/console)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`test/integration/targets/win_reg_stat`
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS 10.15.6
Windows 2019

##### STEPS TO REPRODUCE

[2020-07-22 20:50] billdodd commented on #65889
Actually, the `json.loads(s)` is in the redfish_utils.py module. So if that's the problem, I should be able to fix it.

But since I haven't been able to reproduce it, even on 3.5.2, it will help to see if moving to Python 3.6+ resolves it for you.

[2020-07-22 21:15] rjeffman commented on #70455
Thank you.

The changes in #70762 seem to fix the problem.

[2020-07-23 02:37] Aech1977 commented on #57542
just developed this issue when trying to run updates on windows templates.  I get:

[code]

[2020-07-23 02:40] Aech1977 commented on #57542
nevermind.....I have play for all different OS's and for some reason the add_host play is invoking my linux inventory for the windows host......not sure what changed but clearly user error.  Carry on

[2020-07-23 03:01] AlanCoding opened #70831 "keyed_groups with native types recasts integer strings back to integers, errors"
##### SUMMARY
Example here is AWS account ID, which is clearly an integer-like thing. The keyed_group templating logic will error if it gets a type other than a string... but sometime after Ansible 2.9, it seems that I _can't_ cast it to a string

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/inventory/__init__.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

[2020-07-23 05:21] zenfey commented on #70675
thx. mask the sudo wrapper script did the job

[2020-07-23 08:12] vmindru commented on #52111
Perfect, looks good ! Thanks!

On Wed, Jul 22, 2020, 19:56 ansibot <notifications@github.com> wrote:

[2020-07-23 09:20] AllanAi commented on #70300
Step 1: uninstall ansible and python2.7
apt remove ansible
apt purge python2.7-minimal

Step 2: install ansible by pip3
pip3 install ansible

See https://docs.ansible.com/ansible/latest/reference_appendices/python_3_support.html for more details.

[2020-07-23 09:53] patsevanton opened #70834 "ansible incorrectly displays the size of lastlog"
##### SUMMARY
ansible incorrectly displays the size of lastlog

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
find
stat

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
du
[code]
[code]

##### ACTUAL RESULTS
Output
[code]

[2020-07-23 10:33] Akasurde commented on #59059
Backport 2.9 - #70835

[2020-07-23 10:33] #59059 closed, assigned to nobody

[2020-07-23 10:46] justjais commented on #44890
closing the issue as duplicate issue is already raised at cisco/asa collections: https://github.com/ansible-collections/cisco.asa/issues/44

[2020-07-23 10:46] #44890 closed, assigned to nobody

[2020-07-23 11:07] patsevanton commented on #70834
I don't know component name

[2020-07-23 11:50] bmillemathias commented on #70772
@afunix I eventually took the patch and did a PR.

[2020-07-23 12:04] afunix commented on #70772
I can confirm the change fixes my issue.

[2020-07-23 12:55] #64764 closed, assigned to nobody

[2020-07-23 13:03] AlanCoding commented on #70831
I now have simplified steps with `constructed`:

#### STEPS TO REPRODUCE

Use this inventory file:

[code]

But pass that as the 2nd `-i` to the `ansible-inventory` CLI, with the first one being anything with 1 or more hosts.

[code]

that gives the same error

/Users/alancoding/Documents/tower/testing/awx_424_0bzcwopc/constructed.yml: Invalid group name format, expected a string or a list of them

[2020-07-23 13:20] BenAveling opened #70836 "net_ping recomments ping, but ping is not a substitute for net_ping"
##### SUMMARY

The net_ping documentation recommends using ping if the target runs python (e.g. a linux box):
`For targets running Python, use the ping module instead`

But ping isn't a substitute for net_ping.

net_ping is used for checking connectivity _from_ the target _to_ another device on the network.
`ping from network device to a remote destination.`

ping is used for checking connectivity

[2020-07-23 13:49] BenAveling commented on #70836
PS. For what it's worth, it seems that the standard way of achieving a sort of ping-like behaviour is by using the wait_for module

e.g.

[code]
'

[2020-07-23 14:07] magixyu opened #70837 "redhat_subscription should complain in virtual environment"
##### SUMMARY

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/virtualization_deployment_and_administration_guide/reg-virt-machine

From this document, the command "subscription-manager" allows no username/password for register.  But this module doesn't

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

redhat_subscription

##### ANSIBLE VERSION

[code]

##### CONF

[2020-07-23 14:13] sivel commented on #70836
Thank you very much for your interest in Ansible. The `net_ping` module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.goog

[2020-07-23 14:13] #70836 closed, assigned to nobody

[2020-07-23 14:13] #70837 closed, assigned to nobody

[2020-07-23 14:18] AlanCoding commented on #70831
Reverting #68938 restores the 2.9 behavior. Specifically, adding back in this short-circuit restores the Ansible 2.9 behavior.

[code]

Ping @mkrizek

[2020-07-23 14:27] AlanCoding commented on #70831
So here's the exact line where it goes from `"1234567890"` to `1234567890` as an integer:

https://github.com/ansible/ansible/blob/acdc9eb76d23e25ed8b1c7fc4fe8e4f9fd6f49fd/lib/ansible/template/native_helpers.py#L61

The short-circuit bypassed this.

[2020-07-23 15:01] s-hertel commented on #64014
Wait, why not just set a default value to fall back to until the var exists?
[code]

[2020-07-23 15:02] s-hertel commented on #70793
@nicohouillon Does https://github.com/ansible/ansible/issues/64014#issuecomment-663057651 work for you?

[2020-07-23 15:37] cervajs commented on #36615
same problem here

[2020-07-23 15:40] sivel commented on #36615
The `nmcli` module is no longer maintained in this repository. It has been migrated to https://github.com/ansible-collections/community.general and this issue will need to be resubmitted there to potentially get resolved.

Within a few weeks this issue will be auto closed.

[2020-07-23 15:55] xelld opened #70839 "ce_config - execution time slowed down significantly since 2.9.1"
##### SUMMARY
After updating to 2.9.1+ each ce_config task with status "changed" runs 50-60 seconds longer.
This is particularly evident when the target device has a large config file (8000 lines, for example).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/network/cloudengine/ce_config.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMEN

[2020-07-23 16:02] #69788 closed, assigned to nobody

[2020-07-23 16:25] sivel commented on #70834
I'm not sure what we want to do here. The `stat` and `find` modules operate like `du --apparent-size`

Something like this seems to work:

[code]

The above calculates the size of sparse files like `du` and other files like `du --apparent-size`

!component =lib/ansible/modules/stat.py
!component +lib/ansible/modules/find.py

[2020-07-23 16:53] stefangwle opened #70843 "win_package install from network share does not work correctly"
##### SUMMARY
According to win_package module documentation, when  the installation file is hosted on a network share and username and password are specified, the file is not copied locally on the target server.
Actual behavior of the module is opposite.
Local copy cause an issue when the installation files are more then one. After the copy of the installation exe and executed it cannot find the r

[2020-07-23 16:55] sivel commented on #70843
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.windows

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum

[2020-07-23 16:55] #70843 closed, assigned to nobody

[2020-07-23 17:44] chemnic opened #70844 "Module 'group_by' report changed even with 'changed_when: false'"
##### SUMMARY
After upgrade from 2.9.10 to 2.9.11 I noticed the module 'group_by' is reporting 'changed'.
This is because this change in #69860
The problem is that it is reporting 'changed' even with `changed_when: false` added to the task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

group_by

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.0

[2020-07-23 17:50] velomatt opened #70845 "onyx_interface module does not support link speeds faster than 100G"
##### SUMMARY
The onyx_interface module does not support link speeds faster than 100G. The latest Onyx switches (SN3000, SN4000) support 200G or 400G link speed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
onyx_interface.py

##### ANSIBLE VERSION
"ansible 2.9.10"

##### CONFIGURATION

##### OS / ENVIRONMENT
"CentOS Linux release 7.4.1708 (Core)"

##### STEPS TO REPRODUCE
"- name: Configur

[2020-07-23 17:51] sivel commented on #70845
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-07-23 17:51] #70845 closed, assigned to nobody

[2020-07-23 18:23] #70823 closed, assigned to nobody

[2020-07-23 19:04] sivel commented on #61639
Thank you very much for your interest in Ansible. This plugin is no longer
maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-07-23 19:06] #61639 closed, assigned to nobody

[2020-07-23 19:26] bcoca commented on #70834
we are reporting the size as seen by the file system, which is calculated by the blocks occupied, this is not incorrect.

that said, we could also see if we can report the 'actual size' of the data, not just the space occupied.

[2020-07-23 19:37] mariomelofilho commented on #55051
Still with same problem in ansible 2.9.4

ansible 2.9.4
  config file = /home/carlos.melo/Dropbox/Stone/git/automacao-compute-services/ansible.cfg
  configured module search path = ['/home/carlos.melo/Dropbox/Stone/git/automacao-compute-services/library']
  ansible python module location = /home/carlos.melo/.local/share/virtualenvs/automacao-compute-services-DaK4exF3/lib/python3.8/site-packages/an

[2020-07-23 19:37] s-hertel commented on #70793
@nicohouillon You should be able to use the `default` filter, but feel free to reach out on the mailing list or IRC if you need help. For additional context, I just wanted to link the original issue with the explanation: https://github.com/ansible/ansible/issues/65269.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-23 19:37] #70793 closed, assigned to nobody

[2020-07-23 19:42] sivel commented on #70839
Thank you very much for your interest in Ansible. This plugin is no longer
maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-07-23 19:42] #70839 closed, assigned to nobody

[2020-07-23 20:25] braindevices opened #70852 "virt module get_xml command should support flags"
##### SUMMARY

`libvirt XMLDesc(flags)` The flag is important, some time we want to have `VIR_DOMAIN_XML_SECURE` to get sensitive info. In most cases we want to use `VIR_DOMAIN_XML_INACTIVE` for running VMs, in some cases we want to get the live state. So far the module use flag=0 which is live one without sensitive data. We need to give an additional flag parameter for this.
##### ISSUE TYPE
- ad

[2020-07-23 20:31] billdodd commented on #65889
OK, I figured out what was going on. My idea above is correct: The`json.loads(resp.read())` is failing on Python 3.5 because `json.loads()` expects a `str` and the `HTTPResponse.read()` returns `bytes`. In Python 3.6 and later,  `json.loads()` will also take `bytes`.

I was confused because I set up my Ansible env to use Python 3.5, but when I did that I still could not reproduce the error. It tur

[2020-07-23 20:33] nicohouillon commented on #64014
I wish it worked but it returns this right when doing the assume_role
pre_tasks:
"msg": "Partial credentials found in explicit, missing:
aws_secret_access_key"

It actually attempts to use those var in environment block instead of the
ansible profile , as it usually does .
So maybe the default filter forces the use of the variables as they are
defined , but then they are empty and the pre_task fai

[2020-07-23 20:52] sivel commented on #70852
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ovirt/ovirt-ansible-collection

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-07-23 20:53] #70852 closed, assigned to nobody

[2020-07-23 21:13] s-hertel commented on #64014
@nicohouillon Partial credentials - that sounds like a bug in your setup that might be a pain to find but should be easily fixable. Maybe in your real playbook you have module_defaults credentials set, or maybe you have some competing environment variables set. Do use `default('')` as I suggested (rather than `default(omit)`) , as that's an easy way to run into mismatched credentials problems from

[2020-07-23 23:16] jamesmarshall24 opened #70854 "DNF Module Reports No Packages to Update with Bugfix and Security Selected when Packages Available from CLI"
##### SUMMARY

When passing the bugfix and security flags to the dnf module, Ansible reports no packages to update with an "OK" state check. From CLI passing the same flags show packages available for update

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

dnf.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target Host: RHEL 8

##### STEPS TO REPRODUCE

[2020-07-24 01:22] TheBlackMini commented on #37551
This is still happening in Ubuntu 20.04 in docker. Service isn't starting the service.
- name: Start MySQL
  service: name=mysql status=started

or
- name: Start MySQL
  service:
    name: mysql
    status: started

Had to use
- name: Start MySQL
  command: service mysql start

[2020-07-24 03:34] patsevanton commented on #70834
This is bug of lastlog https://bugzilla.redhat.com/show_bug.cgi?id=951564

I don't know fix or not fix.
May be add more information than show size lastlog?

[2020-07-24 04:55] linsomniac opened #70858 "Submitting a PR to ansible-modules-extras links to non-existing URL"
##### SUMMARY
I was going to create a pull request on ansible-modules-extra but the PR template there says:

    For more information please see http://docs.ansible.com/ansible/dev_guide/repomerge.html

If I go to this URL, it redirects to a generic development page: https://docs.ansible.com/ansible/latest/dev_guide/index.html

On that page I was unable to find information about how to submit a an

[2020-07-24 05:05] linsomniac opened #70859 "haproxy module fails to disable host if health and agent checks are enabled."
##### SUMMARY
The haproxy module sends the "disable server" command, but if health and agent checks are enabled, the server immediately re-enables itself due to these checks passing.

I have a fix on https://github.com/linsomniac/ansible-modules-extras/tree/haproxy-agent-health which adds "health" and "agent" options and will send "disable health" and "disable agent" commands in addition to "disab

[2020-07-24 05:35] #66663 closed, assigned to nobody

[2020-07-24 06:38] Akasurde commented on #70858
@linsomniac Thanks for reporting. ansible-module-extra repo is archived. If you want to submit PR for core-specific things use https://github.com/ansible/ansible or if you want to submit PR for collection then use the collection-specific URL.

Let me know what part of code you are targetting, I will help you find out the correct repo.

[2020-07-24 06:39] Akasurde commented on #70859
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/684.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-07-24 06:39] #70859 closed, assigned to nobody

[2020-07-24 09:10] Madko opened #70860 "one_vm fails if no IP is set to NIC (when using ethernet range for example)"
##### SUMMARY

When trying to deploy a vm with one_vm, attaching it to a NETWORK which is not using IP range but Ethernet range, it crashes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

one_vm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OpenNebula 5.10.4

Network template is:
[code]

NIC template should looks like this:
[code]

##### STEPS TO REPRO

[2020-07-24 09:22] Jiang-boyang opened #70861 "variables problem"
If there are two hosts with the same ip in my hosts file, the variables behind the host will only read the variables behind the last defined host, that is, ansible_user=wpt_deployer is invalid

  grep 10.3.6.213 /etc/ansible/hosts
[web1]
10.3.6.213 ansible_port=34222 ansible_user=wpt_deployer
[web2]
10.3.6.213 ansible_port=34222 ansible_user=ansible

[2020-07-24 09:31] erwilan opened #70862 "type checking before templating"
##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2020-07-24 09:52] erwilan commented on #70861
you assign one host to two groups.

what you need is:

[code]

[2020-07-24 10:02] Akasurde commented on #70860
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/685.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-07-24 10:02] #70860 closed, assigned to nobody

[2020-07-24 10:02] #70858 closed, assigned to nobody

[2020-07-24 10:03] Akasurde commented on #70861
@jiangby123 Thanks for reporting this issue. Please fill appropriate details in issue template. It helps to identify the details about the issue.

Thanks.

[2020-07-24 10:16] rvalle opened #70863 "never tag: is it working as it should?"
##### SUMMARY

I am getting "never" tagged tasks executed when I did not expect.

I use the never tag to tag "dangerous" tasks, that are executed "exceptionally" and require the operator to explicitly approve its execution by including a specific tag. For example "restore" a backup.

I also create playbooks with multiple roles and hosts, and I tend to tag the include_role so that I can run specifi

[2020-07-24 11:40] m33x-7 commented on #65889
@billdodd cheers for taking the time to have a look and sharing your findings. ansible_python_interpreter is new to me too, I've just been having pip force re-installs!

I've raised an issue on the community repo as requested: https://github.com/ansible-collections/community.general/issues/686

[2020-07-24 12:29] sadhakbj opened #70864 "Unable to set sudoers file"
##### SUMMARY

I have written a task to create sudoers file inside /etc/sudoers.d for a user. In trying to get so i get the following message as error and the task fails:
[code]

I could not find the exact solution for this issue though I found the issues has been closed previously but the exact solution is not provided.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

!component

##### ANSIB

[2020-07-24 13:13] reefland opened #70865 "Should with_sequence be evaluated before when? even inside a block?"
##### SUMMARY
Task expected to be skipped based on `when` condition fails due to `with_sequence` value.

Additionally, if task is placed within a `block` with a `when` condition, all tasks within the block are skipped as expected, except the one with a `with_sequence` which fails.  I expect it to not be evaluated and skipped as well.

I reviewed the documentation for conditionals, there is a secti

[2020-07-24 14:11] sleif opened #70867 "lineinfile module sometimes never comes back"
##### SUMMARY
lineinfile module sometimes never comes back

It seems to have something to do with regexp and backrefs

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lineinfile module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

* test.yml
[code]

* destination file test.txt
[code]

##### EXPECTED RESULTS

* both lines wi

[2020-07-24 14:30] sivel commented on #70865
To answer your title, yes, it should.

1. To be more explicit, loops always happen first, and the when statement happens for each iteration
1. Blocks aren't a control structure really. They aren't dynamic, and don't prevent the underlying tasks from executing. They are static parents, that provide hierarchical lookups. Which means that effectively, the task inherits all attributes applied to the b

[2020-07-24 14:30] #70865 closed, assigned to nobody

[2020-07-24 14:33] sivel commented on #70864
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-07-24 14:33] #70864 closed, assigned to nobody

[2020-07-24 14:39] sivel commented on #70863
Based on your description, it is working as expected.

From the [docs](https://docs.ansible.com/ansible/latest/user_guide/playbooks_tags.html#special-tags):

In Ansible, almost any place you apply an attribute/keyword, is used for hierarchical lookups.

Specifying a tag on a role, means that all of the tasks within the role also inherit that tag.

As such, doing this:

playbook:
[code]

roles/foo/

[2020-07-24 14:39] #70863 closed, assigned to nobody

[2020-07-24 14:40] sivel commented on #70861
Closing per above.  Hosts are unique, and when they appear multiple times they are merged into a single host.  Use host aliases with `ansible_host` to achieve your goal.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-24 14:40] #70861 closed, assigned to nobody

[2020-07-24 14:52] sivel commented on #70867
When testing your regex at regex101.com, the following information was provided:

The debugger is only accessible via the PCRE option, but seems to replicate the same behavior as python.

As the issue is with your regex, and not with Ansible, I am going to close this issue.

You will need to consult other resources for regex help.

If you have further questions please stop by IRC or the mailing li

[2020-07-24 14:52] #70867 closed, assigned to nobody

[2020-07-24 15:07] N1ghtH4wk196 opened #70870 "vmware_guest Module - VM deployment fails if more than 1 extra disk is added"
##### SUMMARY
Since updating vSphere to 7.0.0, we are unable to deploy VM's from a template if the vm configuration has more than 2 extra disks than the template, for example, if the tempalte has 1 disk  then

VM with 1 extra disk - Deploys with out issue
VM with 2 Extra disks - Error reported

ansible 2.9.9
vSphere 7.0.0

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANS

[2020-07-24 15:09] samdoran commented on #28053
This looks like a connectivity issue. Please reach out on IRC or the mailing list for assistance:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-24 15:09] #28053 closed, assigned to nobody

[2020-07-24 15:11] samdoran commented on #27991
Closing per above.

[2020-07-24 15:11] #27991 closed, assigned to nobody

[2020-07-24 15:13] samdoran commented on #27681
This seems like a configuration or environment issue. To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-24 15:13] #27681 closed, assigned to nobody

[2020-07-24 15:14] felixfontein opened #70871 "ansible-test should have a (per-collection) configuration file"
##### SUMMARY
To enable/disable specific tests (examples: Python 2.6 compile/import test, pylint complexity test, collection version_added in #69291, ...).

@mattclay and me talked about this earlier in the context of #69291 and deferred it to later. I think there's yet no issue to track this. (See also https://github.com/ansible/ansible/pull/69291#issuecomment-639018258)

##### ISSUE TYPE
- Featu

[2020-07-24 15:17] samdoran commented on #26280
In multiple places, we hard code 512. We should use sector size if available.

https://github.com/ansible/ansible/blob/505bdb3557ec5f6048177aa11b8b9e34a539ac97/lib/ansible/module_utils/facts/hardware/linux.py#L734-L739

[2020-07-24 15:19] samdoran commented on #25271
Closing per above.

[2020-07-24 15:19] #25271 closed, assigned to nobody

[2020-07-24 15:21] samdoran commented on #25195
We agree this module is a bit complicated and could use some refactoring. But since there has been no movement on this issue in about two years, we're going to close it.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-07-24 15:21] #25195 closed, assigned to nobody

[2020-07-24 15:22] sleif commented on #70867
You are right it's python related - with underlying python 3.8 it worked like a charm - my catastrophic, for long period very well working backtracking ;)

[2020-07-24 15:26] samdoran commented on #24481
Have you been able to try this on newer versions on Ansible? We have moved away from the ambiguous `include` and use `include_tasks` or `import_tasks`.

Note to whoever ends up looking at this: test this with `include_tasks` not `include`.

[2020-07-24 15:29] crolves commented on #41738
This still seems to be a problem,  firewalld module doesn't seem to actually modify the ifcfg scripts to add the zone entry, but yet when running firewall-cmd with the same options it does.

[2020-07-24 15:30] samdoran commented on #24115
This seems like the remote shell setting needs to be changed.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-24 15:30] #24115 closed, assigned to nobody

[2020-07-24 15:31] samdoran commented on #23377
Closing per above.

[2020-07-24 15:31] #23377 closed, assigned to nobody

[2020-07-24 15:31] sivel commented on #41738
The firewalld module is no longer maintained in this repository, and has been migrated to https://github.com/ansible-collections/ansible.posix

For this issue to be resolved, this issue will need migrated to the above repository.

This issue will be auto closed in the coming weeks.

[2020-07-24 15:32] samdoran commented on #23023
This may be fixed in recent versions, but we need to verify.

[2020-07-24 15:35] samdoran commented on #22733
The build tools in the repo are not meant to be used outside our build environment, which is currently not public. At some point, we plan to make our build scripts publicly available.

[2020-07-24 15:35] #22733 closed, assigned to nobody

[2020-07-24 15:38] samdoran commented on #22599
We should add a `validate_certs` parameter to the module to control this behavior.

[2020-07-24 15:40] samdoran commented on #22509
A `runlevels` option is available in the `sysvinit` module. https://github.com/ansible/ansible/pull/34962

[2020-07-24 15:40] #22509 closed, assigned to nobody

[2020-07-24 15:44] samdoran commented on #22404
Implementing this for _all_ service managers would be quite complex. An alternative approach would be to use the [`package_facts`](https://docs.ansible.com/ansible/latest/modules/package_facts_module.html) module to get this information.

[2020-07-24 15:46] samdoran commented on #22279
We have no plans make the `service` module accept a list of services. Use a `loop` to control multiple services.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-07-24 15:46] #22279 closed, assigned to nobody

[2020-07-24 15:47] samdoran commented on #21766
Closing per above.

[2020-07-24 15:47] #21766 closed, assigned to nobody

[2020-07-24 15:53] samdoran commented on #21368
This does not seem to have been something many people asked for. We're not against this suggestion, but have no plans to implement this. If someone were to contribute a PR, we would be happy to review it.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-07-24 16:00] samdoran commented on #21156
We are going to look into this, but this is still depends on the managed not not requiring a TTY in the `sudoers` file. To make this smart, we could try with pipelining enable and handle the error by falling back to disabling it.

https://github.com/ansible/ansible/projects/41#card-42481619

[2020-07-24 16:07] sivel commented on #70862
This issue has already been resolved in devel, and a backport is currently open for 2.9:

https://github.com/ansible/ansible/pull/70689

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-24 16:07] #70862 closed, assigned to nobody

[2020-07-24 16:50] sivel commented on #70870
Thank you very much for your interest in Ansible. This plugin is no longer
maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware.git

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-07-24 16:50] #70870 closed, assigned to nobody

[2020-07-24 17:03] acozine commented on #70612
@bmillemathias does #70847 address your concerns? If so, we'll close this ticket when we merge the PR.

[2020-07-24 17:06] bmillemathias commented on #70612
at least this is good refresh and we can add gradually some more info, clarification

[2020-07-24 17:12] gzm55 commented on #21156
Good news!
Yes, it seems to have to use try-catch pattern to make this feature, i have assembled a [role](https://github.com/gzm55/ansible-smart-ssh-pipelining-role) to detect this, but it should be done into the ansible core, just like python interpreter detecting.

[2020-07-24 17:28] linsomniac commented on #70858
In this case, a pointer to the "community.general" repo would have been a huge help.  Reading through the list of Ansible repos, the name "community.general" wasn't one that stuck me as being related to the haproxy module. Admittedly, it was midnight and I was exhausted, but I couldn't find the right place to do the commit and just thought that the extras repo was the right location and you were j

[2020-07-24 17:31] sivel commented on #70854
I don't really have the means to test this, however after looking at https://github.com/rpm-software-management/dnf/blob/2799f18a734d810378b45bd5fc03e33b31f8237a/dnf/cli/cli.py#L1047-L1083

I've made this change, although as mentioned, I'm not sure this is necessarily related or not.

[code]

cc @maxamillion

[2020-07-24 17:32] RedLine89 opened #70876 "docker_container fails to find local images"
##### SUMMARY

docker_container task is not able to find a locally created image and attempts to pull one from DockerHub instead with no success. This effectively fails the whole job, so we are not able to start any container using Ansible. This issue manifests only for custom built images(names) and only in Oracle Linux with docker package `docker-cli-19.03.11.ol-4.el7.x86_64`. Downgrading to `do

[2020-07-24 17:34] sivel commented on #70876
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-07-24 17:34] #70876 closed, assigned to nobody

[2020-07-24 17:38] acozine opened #70877 "Redirect 2.4 traffic to maintained version of the docs"
##### SUMMARY
We are still seeing significant traffic to certain pages in the 2.4 documentation. Ansible 2.4 is no longer maintained, so we should encourage users to review more recent documentation.

Traffic to https://docs.ansible.com/ansible/2.4/playbooks_loops.html#looping-over-the-inventory is likely caused by a link from https://www.reddit.com/r/ansible/comments/8l9033/looping_through_ip_add

[2020-07-24 17:40] acozine commented on #70877
This page may also be a source for traffic to old pages: https://wiki.freephile.org/wiki/Ansible

[2020-07-24 17:41] acozine commented on #70877
Also this page: https://www.slideshare.net/DonghuKIM2/ansible-with-oci-221441463

[2020-07-24 19:09] alop opened #70879 "apt_repository module should have argument for keyID"
##### SUMMARY
The `apt_repository` module, by default, tries to update_cache. This fails unless the repository key is already present on the system. The documentation for `apt_repository` makes no mention of this, and just fails with
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt_repository module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2020-07-24 19:38] sivel commented on #70879
Modules typically only handle 1 task. `apt_repository` handles adding a repo. You should use [`apt_key`](https://docs.ansible.com/ansible/latest/modules/apt_key_module.html) to install the key, before adding the repo.

[2020-07-24 19:39] #70879 closed, assigned to nobody

[2020-07-24 20:28] Tomelin opened #70885 "inventory azure_rm subnet"
Hi guys,

Is possible get subnet of VMs from azure_rm inventory?

##### COMPONENT NAME
plugin azure_rm inventory

[2020-07-24 20:35] kbreit opened #70886 "nxos_config diff always shows first line is different"
##### SUMMARY
I have a playbook which compares a golden configuration to a running configuration on a NX-OS switch and to report whether or not it matches. The problem I'm seeing is the module is always showing the first line is changed, even if it matches exactly. I can't share my configuration for a minimal test case but feel free to use a base configuration.

##### ISSUE TYPE
- Bug Report

####

[2020-07-24 20:39] semoac commented on #58084
Same problem! :(

[2020-07-24 20:41] sivel commented on #70886
Thank you very much for your interest in Ansible. This plugin is no longer
maintained in this repository and has been migrated to https://github.com/ansible-collections/nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/an

[2020-07-24 20:41] #70886 closed, assigned to nobody

[2020-07-24 21:33] sivel commented on #70885
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to http://github.com/ansible-collections/azure

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/an

[2020-07-24 21:33] #70885 closed, assigned to nobody

[2020-07-24 21:45] kbreit opened #70887 "ansible-galaxy crashes with invalid token file"
##### SUMMARY
I had a galaxy-token file which wasn't valid YAML and thus `ansible-galaxy` when crashing when installing a collection. While it's fine that it's failing, it should provide some details about why it failed.

@jborean93

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

macOS 10.15.5

##### STEPS TO REPRODUCE

Tr

[2020-07-24 22:38] iridian-ks opened #70888 "Using sshpass, ssh with proxycommand and a password for sudo fails"
##### SUMMARY

I'm using password for both ssh and sudo. I also have a subset of machines behind a bastion so I'm using sshpass in a proxycommand in order to reach those nodes.

I refer to this as: sshpass -> ssh -> proxy -> sudo

Where proxy is defined as: sshpass -> ssh

Just as a sanity check, I also disabled the use of sshpass and used ssh keys with an agent instead. The behavior works as expe

[2020-07-25 04:07] rvalle commented on #70863
@sivel, yes, I already explained that it works as stated in the documentation.

the question is whether it makes sense or has any use that way.

if you end up having to add the --skip-tag never all the time, what is the purpose of having a never tag in the first place?

it is that, or ensuring that the task is not getting tagged for other purpose at all.

in my opinion the way the "never" tag work

[2020-07-25 06:13] sadhakbj commented on #70864
Well I figured it out and solved this on my own. In my case adding an empty line at the end for **Privilege.js** solved the issue:
[code]

[2020-07-25 11:00] Andersson007 commented on #46308
close_me

[2020-07-25 11:00] Andersson007 commented on #46308
closed via https://github.com/ansible-collections/community.general/pull/693

[2020-07-25 18:26] relrod commented on #67262
@kleind Yes, that is expected behavior:

[code]

[2020-07-25 18:26] #67262 closed, assigned to relrod

[2020-07-25 20:01] relrod commented on #66132
I can't reproduce this, perhaps it was fixed in a recent change. I can think of two ways to try to install something without it actually getting installed:
- Trying to install a package that doesn't exist - this errors out
- Trying to install a package that is already installed - this doesn't show any changes for me, it just says "Nothing to do." and `results` is empty.

I can't reproduce this eit

[2020-07-25 20:16] drohhyn commented on #69203
As [stated in the linked LP issue](https://bugs.launchpad.net/ubuntu/+source/python-virtualenv/+bug/1880749/comments/4), this bug was fixed in the "latest development version of Ubuntu". I hope this refers to a 20.04 LTS version  and ansible will be available there soon.

[2020-07-25 23:07] MarkusTeufelberger commented on #70877
I get the 2.4 version of module documentation quite often in Google search results by the way. It is not trivial to switch to the most current version from there, there are only links that drop you into the landing page of the latest docs.

[2020-07-26 02:19] dhbaird opened #70895 "Ansible 'local' connection fails when run with fakeroot or unshare as non-root user"
##### SUMMARY
Ansible is using the wrong directory (/root) when run under `fakeroot` and other tools that manipulate UID/EUID, like `unshare -r`. This is important for workflows which require running Ansible under these environments.

In some cases, I have sometimes found this to be caused by ignoring $HOME and using getwuid() instead, an incorrect usage of the API (see the below quote from `man g

[2020-07-26 04:29] yuekunjava opened #70896 "Has the security issue CVE-2020-10744 been resolved in 2.8.13?"
SUMMARY

I see that the new ansible 2.8.13 hase been released, but i didn't see any information about CVE-2020-10744 in the release notes,
 so i want to confirm whether this issue been resloved in 2.8.13, thanks.

ANSIBLE VERSION
ansible 2.8.13

CONFIGURATION
OS / ENVIRONMENT
Ansible running on Redhat7.6.

ADDITIONAL INFORMATION

[2020-07-26 07:45] relrod commented on #66679
Any solution to this that doesn't end with "let's just require the user to install the `shadow` package so they have `usermod` available to them" is going to be inherently hacky and involve manually editing `/etc/passwd` and `/etc/shadow`.

I have a PR (#70898) that does this for `/etc/passwd` fields, if we want to go that route. I'll leave that call to @samdoran since he was looking at this.

[2020-07-26 08:00] Rocking80 opened #70899 "vmware_host_vmhba_facts and vmware_host_vmhba_info returns wrong node_wwn and port_wwn"
##### SUMMARY
When running `vmware_host_vmhba_facts` or `vmware_host_vmhba_info` module to get HBA information of a host. Wrong node_wwn and port_wwn are returned.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
 - vmware_host_vmhba_facts
 - vmware_host_vmhba_info

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

No change

##### OS / ENVIRONMENT

VMWare EXSi 6.5.0

##### STEPS TO REPRODUCE

[2020-07-26 08:42] Akasurde commented on #70899
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware

Migrated this issue in the above repository - https://github.com/ansible-collections/vmware/issues/324.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* ma

[2020-07-26 08:42] #70899 closed, assigned to nobody

[2020-07-26 10:21] aminvakil commented on #69397
@maxamillion As I have recently worked on https://github.com/ansible/ansible/pull/70318, is it ok if I create a PR regarding this issue too?

[2020-07-26 14:36] bmillemathias commented on #70887
Hello,

thanks for the report.
Out of curiosity the corruption was because of an action of you or could be related to ansible ?

[2020-07-26 14:48] bmillemathias commented on #70887
I'd be interested if you could share how looks like the token because I modified my token file to not be yaml and I got not exception, only a standard yaml format error (running ansible development version 2.10rc2)

[code]

[2020-07-26 14:49] bmillemathias commented on #70887
need_info

[2020-07-26 15:29] kbreit commented on #70887
My token file was just a plain file with only the token, nothing else.

[2020-07-26 15:34] bcc opened #70905 "Docs for iptables module incorrectly suggest protocol: icmp for IPv6."
##### SUMMARY
The protocol section of the iptables documentation (https://docs.ansible.com/ansible/latest/modules/iptables_module.html) states:

However, the task below doesn't work, because `protocol` should be `icmpv6`. iptables permits `icmp` as a value for ipv6 because it's a valid protocol in /etc/protocols, but this has no effect.

[code]

I did see a related issue #19656 where `icmp-type` w

[2020-07-26 16:56] inflatador opened #70906 "nmcli.py throws error on CentOS 8-stream"
##### SUMMARY
Can't create bridge interface with nmcli

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nmcli
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Running from: Mac OS X virtualenv, pip 20.1.1 installed ansible 2.9.11
Connecting to: CentOS 8-stream
 cat /etc/redhat-release
CentOS Linux release 8.2.2004 (Core)
 python3 --version
Python 3.6.8

#####

[2020-07-26 20:35] maxamillion commented on #69397
@aminvakil of course! I would be grateful for the contribution, thank you. 👍

[2020-07-26 22:50] jborean93 commented on #70887
The error here is not when the file has invalid yaml but rather when the yaml structure is not a dictionary. We expect it to be a yaml as a dict so basically

[code]

When the file is just `token_value` it's parsed as a string. So both cases are not something we can fix but they are definitely cases we can provide a better error message around.

[2020-07-27 01:54] geerlingguy opened #70908 "Change default of TRANSFORM_INVALID_GROUP_CHARS from 'never' to 'ignore'"
##### SUMMARY

After the long and drawn out issue https://github.com/ansible/ansible-documentation/issues/89 was mostly concluded by un-deprecating dashes in group names, I noticed that my Ansible installations are still spitting out warnings by default when using inventory plugins that build group names based on things like AWS regions.

[code]

I propose that the default for `TRANSFORM_INVALID_G

[2020-07-27 02:01] geerlingguy commented on #70908
!component = lib/ansible/inventory/group.py

[2020-07-27 02:04] geerlingguy commented on #56930
@emmm-dee - For that particular problem, I opened https://github.com/ansible/ansible/issues/70908 — note that this issue still persists, as there is still no official documentation for what _are_ 'valid' group chars.

[2020-07-27 02:41] jamescassell commented on #70908
I support this change.

[2020-07-27 07:39] evgeni opened #70910 "allow usage of documentation fragments in EXAMPLES and RETURN"
##### SUMMARY
Currently, one can only use documentation fragments in the main `DOCUMENTATION` block. It would be nice if one could use them (or a similar concept) in `EXAMPLES` and `RETURN` sections.

This can be especially useful for collections that have many modules that interact with the same API and thus have common return values.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ans

[2020-07-27 07:49] Akasurde commented on #70906
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/697.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-07-27 07:49] #70906 closed, assigned to nobody

[2020-07-27 08:11] mkrizek commented on #70831
So this is likely a duplicate of https://github.com/ansible/tower/issues/4304. I am going to copy&paste my response (https://github.com/ansible/tower/issues/4304#issuecomment-626644475) from that ticket (which is private) here:

The problem with `key: ec2_account_id | string` is that the string filter is basically a noop in native jinja. This is effectively due to order of execution in jinja compi

[2020-07-27 09:08] SpikePy opened #70913 "gathering = explicit in ansible.cfg has no effect"
##### SUMMARY

ansible.cfg: gather = explicit not working

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible.cfg

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Fedora
Debian

##### STEPS TO REPRODUCE

in ansible.cfg set
[code]

[code]

##### EXPECTED RESULTS

No task to gather facts runs

##### ACTUAL RESULTS
the task **Gathering Facts** runs

[2020-07-27 09:30] felixfontein commented on #70910
I'm not sure whether this makes sense for `EXAMPLES`, but it definitely does for `RETURN`.

[2020-07-27 10:02] #69983 closed, assigned to nobody

[2020-07-27 10:16] evgeni commented on #70910
I guess it's more complicated to implement for examples. It'd be useful if you have examples that have an API url or credentials in them, for every single example :)

[2020-07-27 10:16] evgeni commented on #70910
And no idea why the bot labeled has_pr?!

[2020-07-27 10:22] dykow opened #70914 "cisco.ios.ios_config produces "Unexpected failure during module execution""
##### SUMMARY
Error is being thrown during module execution. Tested on `Python 3.8.2` and  `Python 2.7.18rc1` with same result.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`cisco.ios.ios_config`, but `cisco.ios.ios_facts` produces same error, other `cisco.ios` modules presumably too.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host OS
[code]
Target

[2020-07-27 10:46] Akasurde commented on #70914
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Migrated this issue in the above repository - https://github.com/ansible-collections/cisco.ios/issues/115.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.ne

[2020-07-27 10:46] #70914 closed, assigned to nobody

[2020-07-27 11:59] Akasurde commented on #70905
@bcc Could you please check if PR #70915 makes sense to you and let me know? Thanks.

[2020-07-27 12:14] felixfontein commented on #70910
@evgeni probably because the module was referenced from a PR (theforeman/foreman-ansible-modules#901).

[2020-07-27 12:59] Vladimir-csp commented on #66132
Rechecking this on 2.9.7, indeed already installed packages are no longer reported, this part is fixed.
And the module does not report anything in check mode now, which is a bit of a regression.

Upgrades are reported not as upgrades, but as this:
[code]
Is this a limitation of dnf? If some packages are upgraded during a task that installs or removes something else, it is a pain to discern upgrade

[2020-07-27 13:27] bcoca commented on #70831
@mkrizek if that is the issue with Jinja, I would consider it a bug, since the filter has the user specifying the type and should then skip 'literal_eval'. We had similar skip .. which has it's flaws since it only affects the outcome if the filter is the last part of the template. In any case, if this is not fixed in Jinja, we should try to fix in Ansible itself, though this will be very intrusive

[2020-07-27 13:56] bcoca commented on #70913
I cannot reproduce, could you run with -vvv to verify it is using the ansible.cfg you expect? also `ansible-config dump --only-changed` output.

needs_info

[2020-07-27 14:09] bcoca commented on #70895
Ansible does not directly change to use the user's home directory, but there are several settings that default to that, specially those dealing with temporary directories use `~/`, try changing those to `$HOME`.  DEFAULT_LOCAL_TMP is probably the one affecting you here.

[2020-07-27 14:14] abenokraitis opened #70918 "Add /meta and runtime.yml docs to Developer Guide"
##### SUMMARY
Looking at the Developer Guide (devel branch):
https://docs.ansible.com/ansible/devel/dev_guide/developing_collections.html

Not seeing any mention of `runtime.yml` nor the `/meta` directory as part of the schema.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
Unsure

##### ANSIBLE VERSION
Devel - 2.10

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### ADDITI

[2020-07-27 14:15] Shrews commented on #70913
The correct configuration key name is `gathering`, not `gather`.

If you have any further questions, please let us know by reaching out to us on IRC, or stopping by one of the two mailing lists, as appropriate:

   * IRC: #ansible on irc.freenode.net
   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansi

[2020-07-27 14:15] #70913 closed, assigned to nobody

[2020-07-27 14:27] bcoca commented on #21156
The only caveat is when you don't get an error, but it just hangs, it should rarely be the case now but it requires a lot of testing to ensure that.

[2020-07-27 14:41] dhbaird commented on #70895
@bcoca, thanks but I don't see a problem with `~/`:
[code]

The problem is that Ansible is getting the "home directory" from somewhere else that it probably shouldn't be getting it, and it's getting the wrong value (/root).

[2020-07-27 14:49] bcoca commented on #70844
note: this is a bit complicated as we evaluate changed/failed_when on the child before passing the results to the parent process, but the parent takes care of 'special' tasks like group_by/add_host/meta/etc and has not way to re-evalute those conditionals.

[2020-07-27 14:53] bcoca commented on #70895
as i said, Ansible does not 'get' the home dir, it passes values to the OS and normally lets the OS resolve it, either via shell or system call.

[2020-07-27 15:21] dhbaird commented on #70895
The value DEFAULT_LOCAL_TMP does appear to appropriately reference /home/me, as per your message, so that's a good sign. See below:

[code]

So the question is: why is not-that-value the result when running the ping module in Ansible, and particularly why is it using /root instead?

[2020-07-27 15:35] bcoca commented on #70895
if you run with debug and -vvvvv we should get a good picture of what is generating that dir and why it is used.

[2020-07-27 16:06] dhbaird commented on #70895
Thanks, Brian. It looks like what I suspected- something (looks like Ansible) is requesting a lookup of specifically root's home directory (see `~root` in output below) rather than honoring $HOME (`~`) for local connections. The consequence is that local operations are broken by default under fakeroot. I propose that the correct behavior is to use `~`.

[code]

[code]

[2020-07-27 17:53] samdoran opened #70923 "New changelog categories missing from documentation"
##### SUMMARY

Two new changelog categories, `breaking_changes`, and `security_fixes`, were added in #69968 but were not added to the [changelog fragment documentation](https://github.com/ansible/ansible/blob/4cc4cebc97ab1b9c5f0c424238d5352274b5dbad/docs/docsite/rst/community/development_process.rst#creating-a-changelog-fragment).

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

`ch

[2020-07-27 17:53] samdoran commented on #70923
cc @felixfontein

[2020-07-27 17:59] SpikePy commented on #70913
Sorry, it was a typo. I actually had `gathering = explicit`.

@bcoca Thanks for the assist.
The problem was, that my playbook execution command was started from another directory than where my ansible.cfg resided so it loaded the /etc/ansible/ansible.cfg instead the one next to my playbook.

[2020-07-27 18:00] samdoran commented on #66679
I have a branch mostly doing this. We will need to (carefully) edit the files directly, but we should also add some checking to see if the `shadow` package is installed and use those tools if available.

[2020-07-27 18:18] #22599 closed, assigned to relrod

[2020-07-27 18:27] mattclay commented on #70923
Since security fixes will be backported to stable branches, the config change should be backported so fragments with the new categories will be accepted. The docs should also be updated for the changelog fragments and backported as well.

If there are any existing changelog fragments in devel that are being changed, and they have already been backported, then those updates should be backported too

[2020-07-27 20:12] anlx-sw commented on #62844
I have a similar or maybe the same problem currently.
I try to migrate from my old ansible host running debian9 to my new host running ubuntu 20.04 LTS.

Reproduction of problem - Ubuntu 20.04:

`root@ubuntu2004:/data/vaultbug-repro# python vpass.py
test456
root@ubuntu2004:/data/vaultbug-repro# python vpass.py  | md5sum
6b8400ae79b9c27d7ae8ec2e76cb5951  -

root@ubuntu2004:/data/vaultbug-repro# ans

[2020-07-27 20:20] jborean93 commented on #62844
No the output should not be the same, `ansible-vault` will generate a new salt value everytime you encrypt the value so the final output is never the same even when you use the same password.

[2020-07-27 20:28] bcc commented on #70905
@Akasurde Thanks, that seems to make sense. I can't find any definitive answer as to whether ipv6-icmp or icmpv6 is preferred, although the ip6tables man page does say:

I wonder if it should be icmpv6 for consistency. Both are valid though, so I don't have a strong opinion either way.

[2020-07-27 20:36] samccann opened #70925 "[Docs] [1]Ansible-base publication checklist"
Update the documentation and publish the 2.10 version of Ansible-base documentation. Since Ansible releases separately, these steps will not update the version-switcher to add 2.10 to the dropdown yet, nor will /latest/ become 2.10.

Tasks include:

- [x] do 'something' about broken Edit on Github (fix or remove for now) - https://github.com/ansible/ansible/issues/70267 and https://github.com/ansi

[2020-07-27 20:36] felixfontein commented on #70923
I think we had a PR planned for also updating the changelog docs, but it apparently got lost...

[2020-07-27 20:44] bcc commented on #70905
Source seems pretty ambiguous, but ip6tables-save and /etc/protocols prefer ipv6-icmp, so that also seems like a reasonable case for leaving it that way.

[2020-07-27 21:16] jborean93 commented on #62844
I cannot reproduce this and cannot imagine why it's not working. I've created a vars file that contains a vaulted variable on my macOS host with

[code]

The contents of this file is (feel free to try it out yourself)

[code]

I then started an Ubuntu 18.04 container to test this environment and ran an Ansible command to decrypt that vault

[code]

When running that I get

[code]

I also tried thi

[2020-07-27 21:16] #62844 closed, assigned to nobody

[2020-07-28 05:37] dhikrahashim opened #70928 "Convert aws_profiles from string to list so that we can have multiple aws accounts for dynamic inventory"
##### SUMMARY

We have "aws_ec2" plugin for dynamic inventory, suppose if we have multiple AWS accounts we need to create inventory for each AWS account. If the aws_profile parameter is "list" type we need only one inventory playbook to fetch the inventories. We can use "with_items" or "loop" I guess
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-07-28 05:52] Akasurde commented on #70928
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/amazon.aws

Migrated this issue in the above repository - https://github.com/ansible-collections/amazon.aws/issues/116.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.

[2020-07-28 05:52] #70928 closed, assigned to nobody

[2020-07-28 05:56] dhikrahashim opened #70929 "The `--extra-vars` method does not seem to work using the dynamic inventory aws_ec2 plugin. I added `boto_profile: "{{ profile }}"` to my inventory file but I get the error: `The config profile ({{ profile }}) could not be found`"
The `--extra-vars` method does not seem to work using the dynamic inventory aws_ec2 plugin. I added `boto_profile: "{{ profile }}"` to my inventory file but I get the error: `The config profile ({{ profile }}) could not be found`

_Originally posted by @electricBonfire in https://github.com/ansible/ansible/issues/13637#issuecomment-461703741_

[2020-07-28 06:15] Akasurde commented on #70929
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/amazon.aws

Migrated this issue in the above repository - https://github.com/ansible-collections/amazon.aws/issues/117.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.

[2020-07-28 06:15] #70929 closed, assigned to nobody

[2020-07-28 08:14] Cartman34 commented on #69492
@ledyba-z Is there something wrong ?

[2020-07-28 09:16] anlx-sw opened #70933 "Error: HMAC verification failed: Signature did not match digest."
##### SUMMARY
I try to migrate my ansible control node from a debian9 node to a ubuntu 20.04 node.
the vault secrets encrypted with the same key using the same ansible version can not be read on the other node.

the problem seems to be something from the environment influencing ansible-vault and changing how it does it's crypto.
I can reproduce the problem with a test ansible config on both nodes

[2020-07-28 09:24] misch42 opened #70934 "ntebox_interface: Failed to establish connection to Netbox API"
##### SUMMARY
After the latest upgrade the netbox_interface module stopped working with the error message: "Failed to establish connection to Netbox API"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module: netbox_interface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Plain ansible installation for testing
[code]

##### OS / ENVIRONMENT
CentOS 8

##### STEPS TO REPRODUCE

I took the

[2020-07-28 09:25] cmeury opened #70935 "Installation instructions on Ubuntu 20.04 result in 404 when accessing PPA via IPv6"
##### SUMMARY
Executing `sudo apt-add-repository --yes --update ppa:ansible/ansible` on a IPv6-capable host result in these error messages:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Package Repository

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 20.04, IPv6 link up and running

[2020-07-28 09:33] Akasurde commented on #70934
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/netbox-community/ansible_modules

Migrated this issue in the above repository - https://github.com/netbox-community/ansible_modules/issues/289.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freen

[2020-07-28 09:33] #70934 closed, assigned to nobody

[2020-07-28 09:41] jouj89 opened #70937 "aws_kms module wrong attribute on update_alias"
##### SUMMARY

When using aws_kms module with only the alias and key_id properties it should update the alias of the referenced key.

It fails with unknown parameter KeyId , and indeed it should be TargetKeyId.
There is a typo in line 622 in aws_kms.py

  614 def update_alias(connection, module, key_id, alias):
  615     if not alias.startswith('alias/'):
  616         alias = 'alias/' + alias
  6

[2020-07-28 09:48] relrod commented on #70702
@samdoran My initial thought is to just change this line:

[code]

That way if it's `0`, we leave it up to the cache plugin to decide how to handle it. For example in any subclass of `BaseFileCacheModule` that doesn't override `has_expired()`, we seem to already handle this by never expiring:

[code]

but if a plugin wants to do something else in that case, now it would have the option.

I also wo

[2020-07-28 09:50] cmeury commented on #70935
!component - lib/ansible/modules/yum_repository.py

[2020-07-28 10:05] anlx-sw commented on #70933
It seems the error gets triggered quite late in the decryption process - but i have no idea why:
https://github.com/ansible/ansible/blob/be4be926c4c89d208dd7ca4b01778967e6e017ff/lib/ansible/parsing/vault/__init__.py#L1286-L1295

[2020-07-28 10:30] Leon-Africa opened #70938 "Cloud Module for Azure API Management"
Would be nice to have a module for this as with Azure API Management.

https://docs.ansible.com/ansible/latest/modules/aws_api_gateway_module.html#aws-api-gateway-module 

##### SUMMARY
An Ansible module that allows for the management of Azure API Management API's

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_api_managment – Manage Amazon API Management APIs

##### ADDITIONAL INFORM

[2020-07-28 10:45] relrod commented on #69619
I started implementing the change for this, but I'm not sure that this is the right move. We would go from playbook authors needing to test `ansible_run_tags == ['all']` to now needing to test `ansible_run_tags == [] or ansible_run_tags == ['all']` to accurately test whether all tags are being run.

I think updating the documentation might be the better solution here.

[2020-07-28 11:08] Akasurde commented on #70938
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Migrated this issue in the above repository - https://github.com/ansible-collections/azure/issues/209.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mail

[2020-07-28 11:08] #70938 closed, assigned to nobody

[2020-07-28 11:09] Akasurde commented on #70937
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws

Migrated this issue in the above repository - https://github.com/ansible-collections/community.aws/issues/163.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.fre

[2020-07-28 11:09] #70937 closed, assigned to nobody

[2020-07-28 11:46] ffirg opened #70940 "ansible-galaxy collection install from upstream breaks when ansible.cfg has a valid hub definition"
##### SUMMARY
If you have an ansible.cfg with valid token/entries for both Automation Hub and Galaxy, and:
server_list = automation_hub, release_galaxy

This completely breaks an upstream Galaxy collection install and gives you no clue about the problem.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIR

[2020-07-28 12:15] gdevenyi commented on #69619
Definitely prefer a doc change to a functional change. That will not break stack overflow or working code :+1:

[2020-07-28 12:43] yravid commented on #36628
Had the same issue first time after upgrading from ansible 2.7.18 to 2.9.11

[2020-07-28 14:34] sivel commented on #69619
I think I agree here, the docs are wrong, the implementation is correct.

These vars are a reflection of what the CLI invocation is, and that contains default values. Unfortunately, that is also impacted by ansible.cfg/env vars and CLI post processing (see `TAGS_RUN`)

[code]

(fwiw, that comment still applies, even though it says optparse, the argparse behavior is the same)

[2020-07-28 14:44] sivel commented on #70935
We are not packaging Ansible for Ubuntu 20.04 as of this time. We only add new OS versions as we release new major versions.  As such, 2.10 would be the first Ansible version to be packaged for 20.04.

Unfortunately, there is a bug in the pip package for Ubuntu 20.04 that affects virtualenv that is preventing us from packaging Ansible for 20.04.

Closing as a duplicate of https://github.com/ansibl

[2020-07-28 14:44] #70935 closed, assigned to nobody

[2020-07-28 14:57] relrod commented on #69619
I expanded on that comment slightly as well in my PR above to clarify what is "expected"

https://github.com/ansible/ansible/pull/70939/files#diff-bdd6c847fae8976ab8a7259d0b583f34R321-R323

[2020-07-28 15:05] bcoca commented on #70895
The remote code here is what is trying to determine the 'home' of the user
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/shell/__init__.py#L178

[2020-07-28 15:08] samdoran commented on #70854
Would it be possible to have the customer to test with the above patch to see if this fixes the issue?

needs_info

[2020-07-28 15:23] #66132 closed, assigned to relrod

[2020-07-28 15:29] samdoran commented on #70896
No, this has not been resolved yet.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-07-28 15:29] #70896 closed, assigned to nobody

[2020-07-28 15:35] #66147 closed, assigned to relrod

[2020-07-28 15:42] samdoran commented on #69633
Closing. Please see [this comment](https://github.com/ansible/ansible/pull/70903#issuecomment-665115670) for an explanation.

[2020-07-28 15:42] #69633 closed, assigned to nobody

[2020-07-28 16:02] sivel commented on #70908
This horse has been beat to something that no longer looks like a horse.  We've discussed this again in our triage meeting, and we believe that the current configuration addresses both sides of this concern. However neither side is necessarily 100% happy with the outcome.  I believe we have concluded the zero-sum game here.

We warn to let users know they may have issues with invalid chars, but we

[2020-07-28 16:05] bcoca commented on #70908
closing as per above.

[2020-07-28 16:05] #70908 closed, assigned to nobody

[2020-07-28 16:38] ssbarnea opened #70969 "galaxy install should accept a list sources to install a role or collection from"
##### SUMMARY
We would like to be able to define a list of locations from which a role or collection can be installed instead of being forced to have a single location defined in `requirements.yml` files.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/galaxy/role.py

##### ADDITIONAL INFORMATION

CI/CD testing requires ability to install unmerged code from dependencies and in o

[2020-07-28 16:48] greyltc opened #70948 "need a tool like sed"
Pleasse give us something that can do this:
[code]
lineinfile and replace can't seem to do this

this is the same request as https://github.com/ansible/ansible/issues/65645

[2020-07-28 16:57] sivel commented on #70948
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-07-28 16:57] #70948 closed, assigned to nobody

[2020-07-28 17:00] greyltc commented on #70948
Hi @sivel what makes you think this is a question?

[2020-07-28 18:00] balonik opened #70949 "yum - parsing issue of yum output with subsequent empty lines"
##### SUMMARY
`yum` module will not parse the output of YUM properly when the output contains more than 1 subsequent empty lines and only 1 package to update.

The used regex `\n[^\w]\W+(.*)` in `re.sub` in function `parse_check_update` will merge lines separated with more than 1 subsequent empty lines.

As a result, `yum` will not recognize available update and end with no change.

If more than o

[2020-07-28 18:08] balonik commented on #70949
I have modified the regex in the `re.sub` into `\n[^\w\n]\W+(.*)` to get it working for me.

[2020-07-28 18:13] bmillemathias commented on #70940
Hi

Did you use the documentation https://docs.ansible.com/ansible/latest/user_guide/collections_using.html ?
can you give detail how you set the authentication configuration (without of course giving credentials) ?

[2020-07-28 18:19] imjoseangel commented on #68962
@engrravijain Do you need help to implement this?

@samccann Is it possible give some more information to this request?

As far I understand, the idea is having a new section called **Resources** in the [Getting Started](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/user_guide/intro_getting_started.rst) Page with both

https://github.com/ansible/product-demos
https://katacoda.com/

[2020-07-28 18:48] ffirg commented on #70940
I set it up sometime ago now, following the docs at the time.

Here's my ansible.cfg with tokens redacted:

[code]

[2020-07-28 18:59] bmillemathias commented on #70940
So I set up a `ansible.cfg` with the minimum viable options

[code]

the command fails about requirements but not create an exception for me

[code]

[code]

[2020-07-28 19:07] samccann commented on #68962
@imjoey @engrravijain yes that would be a great addition, thanks!

[2020-07-28 19:25] bmillemathias commented on #70949
Hi @balonik

Could you create a pull request ?

[2020-07-28 19:26] ffirg commented on #70940
Copied your barebones ansible.cfg, added my tokens.

Same problem for me on 2.9.11

[code]

[2020-07-28 19:36] bmillemathias commented on #68702
would also require some unit/integration test also, right ?

[2020-07-28 19:44] jborean93 commented on #70940
That error you've indicated seems to show that it's not even able to successfully connect to the first host in your config. While `ansible-galaxy collection install` should be falling back to the server list if a collection isn't present in the first one I don't believe it is designed to handle broken connections to a server hence the failure.

[2020-07-28 19:56] egvidal opened #70953 "win_user_right: "RemovePrivilege with 2 argument(s): The request is not supported""
##### SUMMARY
- win_user_right fails while trying to 'set' assignments on SeCreateGlobalPrivilege.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- win_user_right

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- target OS: Windows Server 2012 Standard
- host OS: MacOS Catalina v10.15.6

##### STEPS TO REPRODUCE

- Having the SeCreateGlobalPrivilege secur

[2020-07-28 20:07] ffirg commented on #70940
bingo thanks Jordan, that's nailed it. I don't recall changing my API token but it's different from the old one in ansible.cfg

I now get the same error as Baptiste:

[code]

[2020-07-28 20:11] bmillemathias commented on #70940
Strange that automation hub return an error 400 though, and that `ansible-galaxy` creates such exception.

[2020-07-28 20:13] jborean93 commented on #70940
Yea, I've found the error but need to figure out the best course of action. When we search for a collection using the name we do it at this point in the code https://github.com/ansible/ansible/blob/787e6108e0703d6bc785d7d0726ecf594ac87825/lib/ansible/galaxy/collection.py#L526-L532. It's handling the case when a 404 not found is returned by the server being checked. For galaxy.ansible.com it will r

[2020-07-28 20:56] luckeyca opened #70956 "ansible task fails when using su as become_method to another non-root user"
##### SUMMARY

when using su as become_method to become another non-root user, task fails.
please try both simple password and complex password with special characters

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible core become_method su.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[vagrant@rhel7 ~]$ uname -a
Linux rhel7 3.10.0-1127.10.1.el7.x

[2020-07-28 21:04] sivel commented on #70956
Does this work when becoming `root` from a normal user with `become_method: su`?  There is a known issue that the `local` connection plugin does not work with `su`.

Ref: https://github.com/ansible/ansible/issues/38696

[2020-07-28 21:11] sivel commented on #70953
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.windows

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum

[2020-07-28 21:11] #70953 closed, assigned to nobody

[2020-07-29 05:47] balonik commented on #70949
It seems @hslee16 beat me to it.

[2020-07-29 08:26] aminvakil commented on #69633
@samdoran I thought `waiting_on_contributor` label suggests that security matters and other issues that implementing a new feature would cause has been taken into account and it can be implemented, it is just waiting on contributor.

https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md#labels explains "Identify issues for which help is needed".

[2020-07-29 09:00] shitalp commented on #25414
could we please have this reopened? I am completely stucked due to this. seeking for help.

[2020-07-29 11:30] nate-duke commented on #25414
There's a chance we're shouting at the void here if Redhat is not monitoring closed issues. Perhaps we that are still interested in this issue being resolved should file a new issue requesting that this one be reopened.

Worth mentioning that this issue dates back to 2016 so if you're seeking immediate relief it's best to explore the various workarounds in addition to monitoring this one.

FWIW th

[2020-07-29 11:58] alexgeek opened #70964 "Cannot install collection from github"
##### SUMMARY

I cannot install a collection from github when following [these instructions](https://docs.ansible.com/ansible/devel/user_guide/collections_using.html#installing-a-collection-from-a-git-repository).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04.4 LTS on WSL

#####

[2020-07-29 12:10] zzb19850 opened #70965 "Ansible-playbook module Azure_rm_aks : create_addon_dict TypeError: 'NoneType' object does not support item assignment"
Hi ,
I am using following version of ansible to create the AKS cluster using playbook  :

dxc@jenkins:/tmp$ ansible --version
ansible 2.9.11
python version = 3.5.2 (default, Jul 17 2020, 14:04:10) [GCC 5.4.0 20160609]

While running the following play book tasks :

- name: "{% if uninstall|bool %}Remove{% else %}Create{% endif %} a managed Azure Container Services (AKS) cluster"
  azure_rm_aks:

[2020-07-29 12:10] imjoseangel commented on #68962
@samccann Do you mean @imjoseangel ?  :stuck_out_tongue_winking_eye:

[2020-07-29 12:14] webknjaz commented on #70964
Hey, @alexgeek! You're linking the "devel" version of the docs. There's this banner on top:

This basically means that the docs describe something that is in devel branch but for Ansible 2.9 you should refer to https://docs.ansible.com/ansible/2.9/user_guide/collections_using.html instead.

This feature has been added to 2.10 (release candidates are available at PyPI for testing but the final rele

[2020-07-29 12:14] #70964 closed, assigned to nobody

[2020-07-29 12:23] zzb19850 commented on #70965
Component is ansible-playbook
module is azure_rm_aks

[2020-07-29 12:58] NilashishC commented on #42012
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

The `nxos_acl` module has been deprecated and is replaced with the newer `nxos_acls` Resource Module. Could you please try to check if this issue has been fixed there? In case the issue persists please re-submit this is

[2020-07-29 12:58] #42012 closed, assigned to trishnaguha

[2020-07-29 12:59] NilashishC commented on #41800
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-29 12:59] #41800 closed, assigned to nobody

[2020-07-29 13:01] #41539 closed, assigned to ganeshrn

[2020-07-29 13:08] NilashishC commented on #41136
@Alynder Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.asa

It seems like you are double quoting the user name in the config line, which causes the module to send the command with the username enclosed in double quotes. This should be fixed by removing the quotes from th

[2020-07-29 13:08] #41136 closed, assigned to nobody

[2020-07-29 13:14] NilashishC commented on #40423
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible

[2020-07-29 13:14] #40423 closed, assigned to nobody

[2020-07-29 13:15] NilashishC commented on #40304
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.

[2020-07-29 13:15] #40304 closed, assigned to nobody

[2020-07-29 13:17] NilashishC commented on #40044
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/PaloAltoNetworks/pan-os-ansible

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansib

[2020-07-29 13:17] #40044 closed, assigned to nobody

[2020-07-29 13:17] NilashishC commented on #39883
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/PaloAltoNetworks/pan-os-ansible

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansib

[2020-07-29 13:17] #39883 closed, assigned to nobody

[2020-07-29 13:19] #39667 closed, assigned to pabelanger

[2020-07-29 13:20] #39647 closed, assigned to justjais

[2020-07-29 13:21] NilashishC commented on #39278
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-29 13:21] #39278 closed, assigned to nobody

[2020-07-29 13:36] SecT0uch commented on #30235
This would be really useful!

[2020-07-29 13:43] sivel commented on #70965
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2020-07-29 13:43] #70965 closed, assigned to nobody

[2020-07-29 14:26] luckeyca commented on #70956
I don't believe this is related to the local connection issue due to 2 reasons:
1. the local_connection bug failed on waiting for authentication while my issues is su and/or sudo authentication/password failure.
2. where the sample playbook I put here does use localhost as "hosts", I ran into this issue when trying to deploy a playbook to remote host in production environment. To avoid confusion.

[2020-07-29 14:29] imjoseangel commented on #65062
@nightowlengineer Are you working on this?

If not, I would like to take this as reference to explain a real process in the DevOps World 2020 for new contributors. Do you agree guys?

[2020-07-29 14:35] chemnic commented on #70844
I tested the fix  with devel+commits and can confirm is working.

[2020-07-29 14:44] #70844 closed, assigned to bcoca

[2020-07-29 15:11] bcoca commented on #30235
it is https://docs.ansible.com/ansible/latest/modules/replace_module.html

[2020-07-29 15:14] bcoca commented on #25414
k, misread the issue, its not a 'waiting for timeout' but 'retry on failed lock'

[2020-07-29 15:15] bcoca commented on #25414
In any case, isn't this what until/retry handles in a generic way?

You should not need to add this feature to each action.

needs_info

[2020-07-29 15:38] nyetwurk commented on #25414
A concurrent dpkg/apt action can take a very long time. Not being able to distinguish a real error from a lock conflict in a sane amount of time is extremely problematic.

[2020-07-29 15:42] bcoca commented on #25414
the lock currently fails immediately, what the ticket is asking is for 'retry on lock' which the task i posted above does in a configurable manner.

[2020-07-29 15:45] #64469 closed, assigned to relrod

[2020-07-29 16:14] bcoca commented on #70895
@dhbaird, does updating `remote_tmp` to use `$HOME` fix this issue for you?

needs_info

[2020-07-29 16:14] #70612 closed, assigned to nobody

[2020-07-29 16:46] karolyi commented on #46203
+1

[2020-07-29 16:50] sivel commented on #46203
I've locked this to contributors for now.  Adding `+1` comments is too noisy.  For future reference, add a reaction to the issue body, and don't comment.

[2020-07-29 16:59] luckeyca commented on #70956
never mind. it's not a bug, rather than how ansible work as intended. when become non root user from the connection user, the become password would be different from the become password for the root account which was required for the tasks above.

[2020-07-29 16:59] #70956 closed, assigned to nobody

[2020-07-29 18:59] paddington commented on #34281
+1

[2020-07-29 19:06] sivel commented on #34281
I've locked this to contributors for now.  Adding `+1` comments is too noisy.  For future reference, add a reaction to the issue body, and don't comment.

[2020-07-29 21:07] jborean93 commented on #70969
This can sort off be done with collections right now. If the ansible.cfg has multiple galaxy servers defined then the install/download step will loop through each until it finds a collection. The requirements file can still only have 1 location defined but I would be hesitant adding source configuration details in a requirements file.

[2020-07-29 21:28] #70940 closed, assigned to nobody

[2020-07-29 21:32] jborean93 commented on #70940
I've merged the fix and will try and backport it to stable-2.10 and stable-2.9 for a future release. I'm still seeing if we can change the Automation Hub behaviour for existing releases but there are no guarantees there.

[2020-07-29 21:33] sivel opened #70981 "Potential logic issue in TaskExecutor with undefined loop and false conditional"
##### SUMMARY
While looking to remove the `incidental_postgresql_user` target, I found a situation that was only covered by those tests.

See https://github.com/ansible/ansible/pull/70506/files#diff-8004bc1613f5bb4139ae0810c5490cba

The code flow:

https://github.com/ansible/ansible/blob/5e1a9689837d404fd9d2db3429acf499cf1a3d2b/lib/ansible/executor/task_executor.py#L111-L116

->

https://github.co

[2020-07-29 21:35] amitbhadra opened #70982 "Ansible adding extra disk on vmware_guest"
##### SUMMARY
I'm trying to create a VM from a template using the vmware_guest functionality. It works fine for all conditions except one where it is adding an extra disk.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS7 and MAC OS X

##### STEPS TO REPRODUCE
The first step is to have a template with the following confi

[2020-07-29 21:35] sivel commented on #70981
Based on the referenced issue (https://github.com/ansible/ansible/issues/45189) I find history that I was concerned about this previously.

I understand that we cannot change the behavior at this point it seems.

Maybe we just close this.  Looking for opinions.

FWIW, this is the code I was trying to cover, that seems to have likely been added just for this case as well:

https://github.com/ansibl

[2020-07-29 22:16] #69619 closed, assigned to relrod

[2020-07-30 01:51] dhbaird commented on #70895
Yes, setting this does workaround the issue,
[code]

I think the issue, from how I see it, is that use of $HOME (or simple `~`) should be the implicit default behavior without needing to workaround it.

[2020-07-30 02:01] dhbaird commented on #70895
Or rather, I might word it like this: The issue is that Ansible is poking around for an alternative home directory (and gets the wrong one) when $HOME has already been set to the right value for the home directory.

[2020-07-30 02:12] mdavis-xyz opened #70984 "[template] unhelpful error message for `x in y` if y undefined"
##### SUMMARY

I'm using the `template` module to generate some templates.

If I say `x in y` and `y` is undefined, the error message is not at all specific.
It prints out the entire contents of a file, possibly the wrong one, and doesn't even name which variable is undefined.

Note that I expect this is not the right github repo to lodge this issue, since modules have been split into different re

[2020-07-30 04:24] luiscachog opened #70986 "pam_limits EOF issue when added a limit"
##### SUMMARY
I'm using the `pam_limits` module as shown:

[code]

However, the first time that I've run `ansible-playbook` it generates this output on the `/etc/security/limits.conf` file:

[code]

Noticed that the limit that I want to add is on the file but after the EOF message, and is commented too, so technically the change is not applied.

The second time when I run the task the output is:

[2020-07-30 04:42] relrod commented on #63597
Closing per above.

[2020-07-30 04:42] #63597 closed, assigned to nobody

[2020-07-30 05:21] Akasurde commented on #70986
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/714.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-07-30 05:21] #70986 closed, assigned to nobody

[2020-07-30 05:21] Akasurde commented on #70981
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware

Migrated this issue in the above repository - https://github.com/ansible-collections/vmware/issues/327.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* ma

[2020-07-30 05:25] Akasurde commented on #70982
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware

Migrated this issue in the above repository - https://github.com/ansible-collections/vmware/issues/328.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* ma

[2020-07-30 05:25] #70982 closed, assigned to nobody

[2020-07-30 05:26] Akasurde commented on #70981
False positive for migration candidate, please ignore close.

[2020-07-30 06:59] ssbarnea commented on #70969
I doubt it could ever be possible to control it from galaxy config, mainly because these roles would be sourced from various individual locations like git servers or local disk locations.

You really cannot have a glabal galaxy client config that allows that. Not at this moment at least.

How would you see it implemented as a client config instead of a in-repo option?

How could you tell galaxy to

[2020-07-30 07:22] mkrizek commented on #70984
Simpler reproducer:

[code]

This appears to be caused by the fact that `AnsibleUndefined` class does not implement the `__contains__` method. The following change:
[code]

results in:

[code]

I also wonder if we should fix this in upstream Jinja2 as well as `StrictUndefined` has the same issue:
[code]

**However** I am not sure as to why this is needed yet because [Python documentation](https://

[2020-07-30 08:14] webknjaz commented on #70984
This makes me think that when the `in` lookup fails to use the iteration protocol, it falls back to `getattr()`.

[2020-07-30 08:28] mkrizek commented on #70984
That message likely does not indicate what happened in Python internally because it is from our codebase:
https://github.com/ansible/ansible/blob/fcea87926f8311cefcf64b5d3ca95b13b44c9c67/lib/ansible/template/__init__.py#L1021-L1025

[2020-07-30 09:26] mkrizek commented on #70984
There is a corresponding issue upstream https://github.com/pallets/jinja/issues/1198 and a pull request https://github.com/pallets/jinja/pull/1204.

I think we should fix `AnsibleUndefined` regardless.

[2020-07-30 09:39] Vladimir-csp commented on #59434
Another quirk with interpreter.
If localhost exists in inventory (needed for checks and validations via `query('inventory_hostnames',...)` for example), then  tasks with `delegate_to: localhost can also use wrong python inherited from group_vars/all.

shell module (with `delegate_to: localhost`) fails with `/bin/sh: 1: /usr/local/bin/python: not found`
Can be worked around by adding `host_vars/loc

[2020-07-30 10:30] shitalp commented on #25414
Yeah, Same issue i m also facing i need solution for that.

[2020-07-30 10:47] jborean93 commented on #70969
For roles I may understand that to some extent but for collections I don't see how ansible.cfg wouldn't suffice. The requirements shouldn't set where to get a requirement from, it should just be stating what the requirement is. It's up to the end user to make sure it can talk to the repos that are required to source those requirements.

What makes this a bit muddy is how roles and collections can

[2020-07-30 10:53] ledyba-z commented on #69492
@Cartman34 Does your remote server also supports en_US.UTF-8?

For example, if so, you can see the log like below when you log in to the server.

[code]

[2020-07-30 11:06] ssbarnea commented on #70969
The reality is that people without experience with CI/CD systems that can perform cross-repository testing find hard to understand the challenges involved. There are some resources that are explaining it much better than I could like [zuul-cross-project-dependencies](https://zuul-ci.org/docs/zuul/discussion/gating.html#cross-project-dependencies) or [zuul-hands-on-part6](https://www.softwarefactor

[2020-07-30 11:15] Cartman34 commented on #69492
It seems that after fixing the local host locales after the remote one being fixed, it's now working.
My issue belongs to the past.

[2020-07-30 11:43] shitalp commented on #25414
Even i tried with this logic wont work for me as sometimes it works sometimes it doesnot.

- name: Wait for automatic system updates
  become: true
  shell: while sudo fuser /var/lib/dpkg/{{ item }} >/dev/null 2>&1; do sleep 1; done;
  with_items:
    - lock
    - lock-frontend

[2020-07-30 11:48] ledyba-z commented on #69492
@Cartman34 Oh, OK. Anyway, iI'm glad your system is working so well.

I am also facing this Issue because I'm using en_CA.UTF-8 in my client, and it is not supported in servers.
My PRs will resolve this issue.

[2020-07-30 12:57] mkrizek commented on #70831
@AlanCoding FYI I am experimenting with a possible fix in #70988 if you are interested in testing.

[2020-07-30 12:59] cochiseruhulessin commented on #66191
Also affects gcp_compute_instance and gcp_compute_network_info modules, on the specified Ansible versions.

[2020-07-30 13:44] sivel commented on #70981
As mentioned above, I'm closing this anyway.  This is a feature, that we say isn't supported, but I see no way to remove it.

[2020-07-30 13:44] #70981 closed, assigned to nobody

[2020-07-30 15:07] Rikairchy opened #70992 "subscription_manager fails when Satellite uses Simple Content Access"
##### SUMMARY
When using subscription_manager to register hosts with Red Hat Satellite using Simple Content Access, subscription_manager fails with the error "Unable to find available subscriptions for all your installed products."

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
subscription_manager

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Controller:

[2020-07-30 15:15] Rikairchy commented on #70992
If a host is removed from Satellite and re-subscribed, the workaround is not required. Testing this issue with three machines that were previously enrolled in this instance of Satellite did not result in errors. Adding a fourth VM that has not subscribed to this Satellite instance previously failed with the above error. This bug occurs only during the initial registration of a machine to Satellite

[2020-07-30 15:22] sivel commented on #70992
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-07-30 15:22] #70992 closed, assigned to nobody

[2020-07-30 15:53] tadeboro opened #70998 "apt_key module fails to download the key from the URL"
##### SUMMARY
apt_key module fails to download keys from username/password protected address if response from that address redirects to a different url

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt_key

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ansible is running on Fedora 32, target system was Debian Buster.

##### STEPS TO REPRODUCE
On apt syste

[2020-07-30 16:48] sivel commented on #70998
To clarify some of the issues here:

1. `apt_key` doesn't provide any means to authenticate against the URL
1. If the user/pass are provided in the URL, and a 30x redirect happens, the user/pass are effectively discarded, as the redirect doesn't contain that information.

The typical recommendation is to call `get_url`, `uri`, or `lookup('url')` and use that data to then call `apt_key`. `apt_key`

[2020-07-30 16:50] jamesmarshall24 commented on #70854
@samdoran @sivel

[code]

[code]

[2020-07-30 17:04] tadeboro commented on #70998
This is not entirely true because http://user:pass@domain.com is a way to pass credentials to the module. There are no parameters to set credentials explicitly, but adding them to the URL is exactly the same as if they were passed in via the usual url_username and url_password params.

This is true.

This is the way I worked around this issue: I used the uri module to fetch the key and then fed th

[2020-07-30 17:08] sivel commented on #70854
I'm guessing that we're doing something elsewhere that doesn't fully respect `base._update_security_filters`. I don't have enough expertise here to have an idea what else might need done currently.

[2020-07-30 17:13] bcoca commented on #70535
@tobia can you confirm PR above solves your issue?

[2020-07-30 17:40] #64384 closed, assigned to nobody

[2020-07-30 17:56] n-st commented on #70295
!bot_status

[2020-07-30 17:57] n-st commented on #70295
bot_status

[2020-07-30 18:01] n-st commented on #70295
bot_broken, maybe?

Not sure what the requested data is; if it's about the version or config, #70294 applies; apparently they can be set to `N/A`.

[2020-07-30 18:27] AlanCoding commented on #70429
This still doesn't work for that particular requirement file, but with a different error.

[code]

Inside of this branch, the `galaxy.yml` file is present inside of the folder.

https://github.com/AlanCoding/awx/blob/7a3fe7703b677d18370fe64d96e9cc016029bacb/awx_collection/galaxy.yml

[code]

The folder being not at the root of the project is the main thing I see different between this and the test

[2020-07-30 19:16] #70905 closed, assigned to nobody

[2020-07-30 19:24] weshayutin commented on #70969
I like the idea of allowing for local src.  Makes it easier to develop locally as well. Nice suggestion Sorin

[2020-07-30 19:28] #49284 closed, assigned to nobody

[2020-07-30 19:57] #70984 closed, assigned to nobody

[2020-07-30 20:59] Seethaar opened #71003 "Error in documentation - assert module example"
##### SUMMARY

I tried "Edit on GitHub" link, but got a 404 error returned.

https://docs.ansible.com/ansible/latest/modules/assert_module.html#examples..
[code]
This is incorrect.
[code]
This works!

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

$ uname -a
Linux anslab9a 4.14.186-110.268.amzn1.x86

[2020-07-30 21:16] sivel commented on #71003
This is not an error in the documentation, but a module caveat in how networking modules operate.

The examples are based off of the assumption of using the `shell` or `command` modules, and not `napalm_install_config`.

Networking modules can often perform multiple commands in a single invocation, and as such they store their actual stdout as a list, where each element of the list is the stdout f

[2020-07-30 21:28] jborean93 commented on #70429
@AlanCoding I've tried to replicate your error but cannot, devel works just fine with either installing the collection from the requirements file you've listed or with `ansible-galaxy collection install git+https://github.com/AlanCoding/awx.git#awx_collection,ee_req`.

[2020-07-30 21:29] gjacobsatl commented on #70854
For what it's worth, we're seeing similar symptoms with the yum module (Amazon Linux 2, ansible 2.9.11)

[2020-07-30 21:31] jborean93 commented on #70429
I can replicate the issue above with

[code]

Will look into it now.

[2020-07-30 21:35] Seethaar commented on #71003
Thanks. I did not realise networking modules' specific caveat. I tried some playbooks with command and shell module and could now understand what you said.

You may wanna add a comment to https://docs.ansible.com/ansible/latest/modules/assert_module.html#notes.. but its totally up to you.

Thanks for your time.

[2020-07-30 21:35] #71003 closed, assigned to nobody

[2020-07-30 22:36] jborean93 commented on #70429
Have opened https://github.com/ansible/ansible/pull/71005 which should fix the issue when downloading a collection inside a subdir of the git repo.

[2020-07-30 23:00] ftallet commented on #64039
yes, it's possible in vCenter to create a vmk on a VSS and specify the VLAN ID directly (without attaching it to a portgroup). I agree it's cleaner to attach to a portgroup, but the vlan_id option was legit. I just noticed the change because it's breaking some scripts I used ;-) no big deal.

![chrome_2020-07-30_15-55-12](https://user-images.githubusercontent.com/3607525/88982642-b35a3580-d27d-11e

[2020-07-30 23:27] ScottG489 commented on #25414
I've found this bug report for a wait feature in apt: **[apt: support option to wait for lockfile](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=754103)**

It was closed (Feb 26, 2020) and the wait feature is available in apt 1.9.11 forward. I've tested it out on my local machine (apt 2.0.2ubuntu0.1) and it seems to work at least **for installs**. This is the output you would receive (with thi

[2020-07-30 23:33] stawii commented on #69693
Might be related to #68364

[2020-07-31 00:03] stawii commented on #62660
I would love to see this in all parameters. Ie. I would love to set:
[code]

Second use case is to set different credentials based on different envs when using same plugin more than once so there is no need to hardcode them. Imagine two inventory files:
[code]
[code]
I believe there is no workaround for this (?).

[2020-07-31 00:25] terciero commented on #65062
Hey folks!

This has been idle for a while, so I've created a branch and knocked out the documentation.

ansible_facts is quite long though -- should I include a full example of those from hostsvars or a trimmed down set?

[2020-07-31 01:32] seby01120 opened #71006 "Edgeos_command module fail with "command timeout triggered""
##### SUMMARY
edgeos_command module fails with timeout error, even though I can connect to the target device by SSH
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
edgeos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target device : EdgeSwitch, firmware 1.9.1

##### STEPS TO REPRODUCE

Launching the playbook below against a EdgeSwitch with version

[2020-07-31 01:52] ElijahLynn opened #71007 "meta: refresh_inventory doesn't show in output, not even skipped"
##### SUMMARY
When I run:

[code]
at https://docs.ansible.com/ansible/latest/modules/meta_module.html the task name doesn't ever show up in the output, not even skipped. Should it show up? Is there anything special with the meta module? There are no YAML errors and everything runs fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meta

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[

[2020-07-31 02:59] relrod commented on #71007
It is special in several ways.

1. As the notes on that page say, "`meta` is not really a module nor action_plugin as such it cannot be overwritten." - it's an internal construct.
2. It's treated specially in most strategy plugins, because (for example) if you add `- meta: refresh_inventory` to your tasks, in a play that is running on N hosts, in every case you want it to get run 1 time, not N tim