[2018-03-02 08:44] mkrizek commented on #36937
cc @alikins

[2018-03-02 09:26] sivana84 opened #36938 "Local variables in roles"
Hi community,

I am trying to use local variables on the roles I have created, but once the var file is created. I don't know how and from where call those. At the moment it is not reading those local vars the role that i have created.

In that role , I am calling those vars following these steps:

vars_files:
   - /vars/main.yml
Let me know if there is a possible way to do it or somebody has been

[2018-03-02 09:38] twhiston opened #36939 "Creating RoleBindings in Openshift returns a response that generates an error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openshift_raw

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
For context see #36845

When creating a RoleBinding in openshift the response returned causes an error to be thrown due to a missing key

Tested with the following openshift versions, all return an error
[code]

and
[code]
##### STEPS TO REPRODUCE

[code]

[co

[2018-03-02 09:57] mkrizek commented on #36938
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-03-02 09:57] #36938 closed, assigned to nobody

[2018-03-02 09:58] daMupfel commented on #8603
I also hit this. Can you please think about reopening this?

[2018-03-02 10:09] sivana84 commented on #36938
Hi mkrizek,

The google group link work, but the irc link didn't work for me. If you have more details about the web i will proceed to publish there 📦

Thank you again : )
Sivana

[2018-03-02 10:31] gundalow opened #36940 "External links to Network Docs"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
eos_
ios_
iosxr_
junos_
nxos_
openvswitch_
vyos_

##### ANSIBLE VERSION
[code]

##### SUMMARY

Once http://docs.ansible.com/ansible/latest/network is live (once 2.5.0 is released) there are a number of   pages outside of `docs/docsite/rst` that need updating to point to the new docs. Although this isn't technically an `ansible/ansible`

[2018-03-02 10:32] angystardust commented on #32702
Hi @Akasurde It doesn't seems to me that there is any outstanding bug fixed from the 2.4.2 to the last 2.4 release (2.4.4-rc1)
https://github.com/ansible/ansible/commits/v2.4.4-0.2.rc1/lib/ansible/modules/cloud/vmware/vmware_guest.py
So, I think that the vmware_guest module has become not-idempotent in the 2.4 branch. That's why I didn't upgrade to that version. Hoping for 2.5GA to be a better rel

[2018-03-02 10:40] Akasurde commented on #32702
@angystardust There are lot of changes done in 2.5 release, so I am hoping this issue will get resolved.  Trust me there are lot of efforts gone in fixing VMware related issues.

[2018-03-02 10:51] samdoran commented on #36937
Can you tell me if you have `/etc/mnttab` on the problematic Solaris systems?

[2018-03-02 11:20] mangellopez commented on #36937
Hi

Thank you for you support

Yes, the solaris 11 target ( sol11 hostname ) has got /etc/mnttab

p17886@sol11 $ cat /etc/mnttab
rpool/ROOT/solaris-3    /       zfs     dev=4490002     0
/devices        /devices        devfs   dev=8ac0000     1514967499
/dev    /dev    dev     dev=8b00000     1514967499
ctfs    /system/contract        ctfs    dev=8bc0001     1514967500
proc    /proc   proc    dev=

[2018-03-02 11:49] angystardust commented on #32702
I'm aware of your hard work @Akasurde but still I think it's a big regression to have an not-idempotent module in the 2.4 branch. I can't use my vmware deployment playbook on 2.4 without deeply modifying them to restore idempotecy

[2018-03-02 11:54] Akasurde commented on #32702
Thanks for appreciating my efforts. I know, due to lack of integration tests this regression was introduced. But things are now changing in better way. 👍

[2018-03-02 12:22] coofercat commented on #30441
For my part in this, I'm finding `ansible-2.4.2.0-2.el7.noarch` seems to behave perfectly well. Doing the same sorts of things as showed the problem before runs well, with no ansible-playbook process taking more than a couple of percent of the total system memory. I haven't tried 2.4.3 or later.

[2018-03-02 12:33] AlanCoding commented on #32274
Link #34250

[2018-03-02 12:34] Alwaysc0d3 commented on #8603
@everybody, and i mean literally everybody :-).

This did hit me before, the only thing you can do is restructure your variables. Note you can't refer to a variable that's not already definded (see variable precedence in the ansible docs. Note also that if you refer to a variable you define later on in the file, you will get an error.).

The real 'problem' is not in Ansible but in Jinja2. If you t

[2018-03-02 12:35] academciaingao opened #36942 "ansible Python API does not return completely"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE
we build a app auto-deploying system base on ansible python api refers to the example on "http://docs.ansible.com/ansible/latest/dev_guide/developing_api.html#python-api-2-0"

the core feature of our system is using ansible pytho

[2018-03-02 13:04] samdoran commented on #36937
Can you run the following commands:

`ansible sol11 -m setup -a 'filter=ansible_mounts'`
`ansible sol11 -m setup -a 'filter=ansible_mounts' gather_subset=mounts`

You should see the mounts returned when you do not specify `gather_subset`.

I believe the problem is with `gather_subset`. When I use that subset with other distributions, I get empty mounts in Ansible 2.4.x. This appears to be fixe in

[2018-03-02 13:14] cmpunches commented on #8603
This issue is a direct result of ansibles use of a yaml parser's
interpolation feature instead of loading the yaml object and doing a second
pass for interpolation.  This is not just a jinja bug this is an
implementation bug in ansible.  Please inspect.  Loading as raw string and
then processing the initialised object members in a second pass should fix
this.

On Mar 2, 2018 07:35, "yeknomedoc" <n

[2018-03-02 13:19] privateip commented on #19586
Looks like a regression was introduced in 2.4.  For a workaround set `ANSIBLE_EOS_USE_SESSIONS=0`

[2018-03-02 13:45] mkrizek commented on #32022
@Nothing4You can you please try with the latest versions or `devel` if the issue persists? Thanks!

needs_info

[2018-03-02 13:46] angystardust commented on #32702
I'm sure 2.5 and future versions will be a lot better but maybe we should put a notice somewhere that on 2.4 the module is quite broken.

[2018-03-02 14:00] kosmoit commented on #24530
@nicobrevin Your workaround worked.  (should have tried before posting) and I read the PUP-6739 information too.   Concerns still stand though.  Looks like a fix on Puppet side is very near though.

[2018-03-02 14:24] Akasurde commented on #36773
@umrikar Could you please try update PR and let me know if it works for you ?

needs_info

[2018-03-02 14:26] bcoca commented on #36942
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2018-03-02 14:26] #36942 closed, assigned to nobody

[2018-03-02 14:50] rbicker commented on #36835
Hi, I was having the same issue and I found that it is working fine if I provide the "datacenter" parameter:

Your script was working for me, it produced:
[code]

When invoking the task without a datacenter param:
[code]

When invoking the task with a datacenter param:
[code]

Not sure if this is a bug or not? I find it weird that it finds the virtual machine if I omit the datacenter param but it

[2018-03-02 14:51] alikins commented on #36937
@mangelajo are other hardware facts being gathered on solaris if you don't specify a 'gather_subset=mounts' ?  (for ex, 'memtotal_mb' or 'devices')  Or if you specify there subset directly like:
[code]

Does this collect mounts info?:
[code]

[2018-03-02 14:57] Akasurde commented on #33971
@jacksonp2008 Could you please confirm  if it works for you ?

[2018-03-02 14:58] Akasurde commented on #27860
@jmcginn13 Any news ?

[2018-03-02 15:09] #36378 closed, assigned to nobody

[2018-03-02 15:14] DylanYoung commented on #22922
This secondary error comes up when trying to run ci tests in docker on OSX as well (in case that helps):

[code]

[2018-03-02 15:14] dan-nadel commented on #34506
Ansible team,

In order to use Ansible Tower in an enterprise environment support for windows systems needs to be improved.

Last update to this thread was over a month ago and the issues still are there.

[2018-03-02 15:24] alikins commented on #31620
@ivan046 I can reproduce your error with the repro case at https://github.com/alikins/ansible-bug-repro/tree/master/vault_sync_decrypt_fail_31620

summary:
  - ansible-playbook fails on stable-2.4
  - ansible-inventory fails on stable-2.4
  - ansible-playbook works on devel/
  - ansible-inventory fails on devel/

Using above repro case with stable-2.4 branch with ansible-playbook and ansible-inven

[2018-03-02 15:29] bcoca commented on #13552
`when` is evaluated PER LOOP ITEM, so you cannot use to shortcircuit a `with_`, but don't use a loop, its really not a loop:

[code]

[2018-03-02 15:42] alikins commented on #31620
(referring to files/hosts as in https://github.com/alikins/ansible-bug-repro/tree/master/vault_sync_decrypt_fail_31620 here)

With ansible-playbook in stable-2.4 and ansible-inventory in 2.4 and devel, something[1] is trying to read/decrypt the encrypted 'mms_group_id' var defined in group_vars/some_group
and failing.

The encryption fails because either there is no vault password secret ("Attempt

[2018-03-02 15:49] ivan046 commented on #31620
@alikins Wow, that's a really cool example of how to test, thank you! So it's a real bug and we have to wait until it is fixed. Until then I'll use
[code]

[2018-03-02 15:59] Akasurde commented on #36835
@rbicker Thanks for providing this information. @cavamagie is providing datacenter parameter and still able to re-produce the issue. This makes it more weird.

[2018-03-02 16:03] newswangerd commented on #36717
Looks like this was fixed in #33920 and #33586 in 2.5. I'll look into whether or not these changes can be back ported.

[2018-03-02 16:06] alikins commented on #31620
Running git-bisect between devel and stable-2.5 points to dae737c8b714f2c6d28663ef0afeab10e6d3a667 as the commit that fixed ansible-playbook in devel

[2018-03-02 16:15] rbicker commented on #36835
@Akasurde yes, also your script is not working for @cavamagie so propably our two issues are not connected, only by the outcome...

[2018-03-02 16:15] dagwieers commented on #34506
If you are a paying customer, you should have a means to get the needed Enterprise support. If you want to be helped by a community of volunteers, I guess you could help by providing feedback and doing investigative work. Your comment doesn't help in any regard to get better free support.

[2018-03-02 16:20] ryansb commented on #36829
Instead of implementing sorting on every module separately, we have builtins in Jinja2 that will handle sorting on whatever parameter you like. Take this example for sorting the return, assuming you want the most recently created one:

[code]

Then at any point later in the playbook, you could use that `latest_ami` variable like `{{ latest_ami.image_id }}` and so forth. Note that I used [ec2_ami_f

[2018-03-02 16:20] #36829 closed, assigned to nobody

[2018-03-02 16:21] ryansb commented on #35580
needs_info

[2018-03-02 16:21] Akasurde commented on #29652
Closing as duplicate of #29654

[2018-03-02 16:21] #29652 closed, assigned to nobody

[2018-03-02 16:31] alikins commented on #31620
Note:  dae737c was a fix for https://github.com/ansible/ansible/issues/33259 but is apparently causing other problems.

[2018-03-02 16:44] alikins commented on #31620
The 'ansible-inventory' failures I mentioned may be a different bug related to ansible-inventory's use of json/yaml decoders that dont grok vaulted vars.

If that is the case, then it seems to be related to https://github.com/ansible/ansible/issues/31141 and https://github.com/ansible/ansible/pull/31946

If I disable all the 'friendly' top level exception handling so I can get a full traceback,
th

[2018-03-02 16:45] sekharvajjula opened #36950 "Ansible module os_ironic missing options "capabilities" and "root_device""
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

os_ironic

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

"N/A"

##### OS / ENVIRONMENT

"N/A"

##### SUMMARY

Ansible os_ironic module is missing couple of options:

1. capabilities: Special capabilities for the node, such as boot_option, node_role etc.
2. root_device: Root disk selections. eg: /dev/sda

These are supported by latest I

[2018-03-02 16:45] sekharvajjula commented on #36950
Please assign it to me, if you think this is a valid bug report.
I have a fix in hand for this issue.

[2018-03-02 16:46] bcoca commented on #36836
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-03-02 16:46] #36836 closed, assigned to nobody

[2018-03-02 16:47] alikins commented on #31141
Possibly related to https://github.com/ansible/ansible/issues/32160

[2018-03-02 16:48] dan-nadel commented on #34506
Dag,

We are a tower customer.

I am new to supporting Windows systems with Tower.   Unfortunately, it has been used by a group that only had access to linux systems and internally they have limited to no Windows Modules knowledge.  We are now trying to expand its use, but I am finding several modules lacking when compared to other windows tools.

I was more so sending feedback to the Ansible deve

[2018-03-02 16:50] strarsis commented on #26359
I had a similar issue, I was able to 'fix' it by setting `pipelining` option in `ansible.cfg` from `True` to `False`,
running the playbook again (this time successfully) and then setting `pipelining` back to `True` which caused subsequent playbook to run correctly, too.

[2018-03-02 16:51] strarsis commented on #30411
I had a similar issue, I set `pipelining` from `True` to `False`, run the playbook (successfully after this change) and then set back to `True` whereafter subsequent playbook runs also worked correctly.

[2018-03-02 16:53] alikins commented on #31620
(another vaguely related bug for reference purposes: https://github.com/ansible/ansible/issues/22737)

[2018-03-02 16:55] alikins commented on #22737
Vaguely related: https://github.com/ansible/ansible/issues/31620#issuecomment-369957030

[2018-03-02 17:09] AlanCoding commented on #32160
Tested in `devel`, error does not appear to be there. I also can't seem to decrypt this secret with the "bar" password, but I can decrypt things that I encrypted.

[2018-03-02 17:13] ericwb opened #36953 "module gunicorn hardcodes path to temp directory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

gunicorn

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS X 10.12.6

##### SUMMARY

The gunicorn module is hardcoding references to a '/tmp' directory instead of using Python's tempfile.
It assumes that /tmp is the always the TMP directory, which is not the case.

See https://github.com/ansible/ansible/blob/d

[2018-03-02 17:17] chouseknecht commented on #36900
@twhiston

I encountered the same error until I upgraded to `minishift 1.13.1`, which includes `OpenShift 3.7.1`.  `TemplateInstance` was introduced in `3.7`

Now I'm getting the same error reported on https://github.com/kubernetes-client/python/issues/464, where it fails to deserialize the API response.

The exact error is:

[code]

FWIW, here's my test playbook:

[code]

[2018-03-02 17:20] alikins commented on #31620
poking at a stable-2.5 with the repro test case and some logging turned on and using stack_info just before the vault error is raised gets me: https://gist.github.com/alikins/3f8611e907c82a5508178515c4d432de

That confirms:
 - The "Attempting to decrypt but no vault secrets found" error is coming from an attempt to decrypt vaulted variables in a task worker process and not the main process.
 - The

[2018-03-02 17:27] ericwb opened #36954 "module pamd hardcodes path to temp directory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS X 10.12.6

##### SUMMARY

The pamd module is hardcoding references to a '/tmp' directory instead of using Python's tempfile.
It assumes that /tmp is the always the TMP directory, which is not the case.

https://github.com/ansible/ansible/blob/devel/lib/ansible/m

[2018-03-02 17:28] jchristopher327 commented on #19586
Here is the error when running a playbook against a switch running `4.12.7.1` The `eos.yml` playbook references a role used to apply basic system settings using the `src` parameter with a jinja2 template.

[code]

[2018-03-02 17:29] jigarjian-brian commented on #36206
Hi Zim,

Thanks for following up on this so thoroughly. Although the final playbook you came up with did not work for our vms, I made a couple adjustments to the calls and got it to work. The vms we have are in arm not in classic which you will see is the reason I used Compute instead of ClassicCompute like you had to use. Additionally, I was running into an error stating:

msg": "Status code was

[2018-03-02 17:30] ericwb opened #36955 "module onyx_linkagg hardcodes path to temp directory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

onyx_linkagg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS X 10.12.6

##### SUMMARY

The onyx_linkagg module is hardcoding references to a '/tmp' directory instead of using Python's tempfile.
It assumes that /tmp is the always the TMP directory, which is not the case.

https://github.com/ansible/ansible/bl

[2018-03-02 17:37] bcoca commented on #31620
@ivan046 @alikins  please open a separate issue as this one has been hijacked and has different and unrelated problems in it.

[2018-03-02 17:37] #31620 closed, assigned to nobody

[2018-03-02 17:39] bcoca commented on #31141
@kudrevatykh first, that is unrelated to this issue, please don't hijack the subject. In any case, that is not a bug, that is how YAML normally exports a repeated variable.

[2018-03-02 17:41] bcoca commented on #36955
it should be using the configured remote_tmp (accessible via module.tempdir property)

[2018-03-02 17:42] bcoca commented on #36954
it should be using the configured remote_tmp (accessible via module.tempdir property)

[2018-03-02 17:56] s-hertel commented on #36950
This would be a feature rather than a bug fix, but please feel welcome to submit a pull request.

[2018-03-02 18:11] smaslennikov commented on #28438
It seems I've hit this too, but I'm still debugging to make sure.

[2018-03-02 18:20] skylerbunny commented on #36792
After speaking with devs in ansible-devel, the quick-look consensus here seems to be that

- #35612 should be fixed
- Unless any given docker_ module **requires** docker-py >= 2.0 (implying Docker 2.7+), docker_ modules should continue maintain a requirements list that allow for Python 2.6 and the older SDK versions.

[2018-03-02 18:53] ivan046 commented on #31620
@alikins https://github.com/ansible/ansible/issues/31620#issuecomment-369994283 Can you do it? I'm confused with too much data you put there already...

[2018-03-02 19:16] Vascko opened #36956 "Bootstrapping PIP for Python 3 is using wrong PREFIX"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Running CentOS 7.4 on managing and managed host: `Linux 3.10.0-693.11.6.el7.x86_64 #1 SMP Thu Jan 4 01:06:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

##### SUMMARY

Python's (2 and 3) install prefix on CentOS is "/usr" which makes 64bit components resi

[2018-03-02 19:18] sivel commented on #36956
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-03-02 19:18] #36956 closed, assigned to nobody

[2018-03-02 19:25] mikef-nl commented on #25993
Ironically I wrote the equivalent Powershell to get the disks then use them as custom facts to add to the info the setup module gives.

[disks.zip](https://github.com/ansible/ansible/files/1776334/disks.zip)

[2018-03-02 19:32] Vascko commented on #36956
How did you rule out the possibility that this isn't a bug?

[2018-03-02 19:59] scottsb commented on #12255
Was this ever turned into a proposal or otherwise further addressed? I don't see anything in the proposals repository or in the docs about this.

[2018-03-02 20:26] ryansb commented on #36506
Thanks - I've left a review on the PR

[2018-03-02 20:32] ricardoklein opened #36958 "New module cloudfront_distribution should allow to use an existing identity"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Module: cloudfront_distribution.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Using ansible 2.5.0rc1

##### OS / ENVIRONMENT
MacOS managing Amazon Web Services

##### SUMMARY
When creating a new origin on CloudFront, I should be able to select an existing identity, since we have a single identity for all behaviors on the dev environmen

[2018-03-02 20:39] gbataille commented on #36829
Sounds reasonable. I’ll try that

On Fri, 2 Mar 2018 at 17:21, Ryan Brown <notifications@github.com> wrote:

--
Greg

[2018-03-02 20:44] nsushkin commented on #14667
Remove EC2 cache directory (~/.ansible/tmp), run the script, and make sure the output is a valid JSON. There may be extra debugging output generated when the script connects to EC2, which would cause ansible to fail parsing JSON, and try to parse the script file as if it was an ini file, failing with a parsing error complaining about the comments in the script file.

[2018-03-02 21:28] kbreit commented on #36936
@ericwb I don't maintain this module, but saw this issue. Are you comfortable with it being an option passed as a parameter, but it defaults to True?

[2018-03-02 21:33] bryan-croft commented on #24215
This feature would have been very useful to me today. Would love to see this.

[2018-03-02 22:08] ashokdudhade opened #36959 "cloudfront_distribution module throws error on geolocation update"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudfront_distribution

##### ANSIBLE VERSION
Ansible: 2.4.3.0

##### CONFIGURATION

##### OS / ENVIRONMENT
 alpine:3.7

##### SUMMARY
We have copied cloudfront_distribution and related module utils into library directory.
When trying to update cloudfront with geolocation restriction it throws below error.

[code]
##### STEPS TO REPRODUCE

[cod

[2018-03-02 22:10] kbreit commented on #36936
Note, this affects 2.4, likely future versions as it's the same in devel.

[2018-03-02 22:58] jborean93 commented on #28389
I am going to close this issue, the win_reboot module has a builtin reboot option that takes in the following checks spoken about in this thread. For win_reboot it is still generic and can be done manually if wished.

[2018-03-02 22:58] #28389 closed, assigned to nobody

[2018-03-02 22:59] jborean93 commented on #25993
New win_disk_facts module was added in https://github.com/ansible/ansible/pull/32935. Will be available in the 2.5 release.

[2018-03-02 22:59] #25993 closed, assigned to nobody

[2018-03-02 23:01] jborean93 commented on #25077
Closing due to @nwsparks explanation.

[2018-03-02 23:01] #25077 closed, assigned to nobody

[2018-03-02 23:02] jborean93 commented on #23863
Closing as this is a generic user question and a thread already exists to talk about retries after connection refused https://github.com/ansible/ansible/issues/25532

[2018-03-02 23:02] #23863 closed, assigned to nobody

[2018-03-02 23:03] jborean93 commented on #23450
Closing as there isn't much we can do in WinRM to speed this up. Working has been going on in the background to try out SSH which should speed it up but that is covered in other issues.

[2018-03-02 23:03] #23450 closed, assigned to jhawkesworth

[2018-03-02 23:14] jborean93 commented on #33929
@fligi7 sorry I didn't see your response to now as we usually don't monitor closed issues. You are specifying a UNC path to create the mapped drive but that doesn't solve the issue around mapped drives being unavailable to a WinRM session. What I meant by that was if you need to access a network resource in a module or command, you use the UNC path for that module, e.g.

[code]

There are many rul

[2018-03-02 23:19] rleigh-codelibre commented on #25077
@nwsparks Thanks for the explanation, I'll try this out shortly.

[2018-03-02 23:27] jborean93 commented on #34506
@dan-nadel

I'm sorry you feel that way, we definitely look at the bug reports and try and fix as many as we can. Unfortunately not everything comes under core support and a lot of these modules are community driven. This means they are supported by the community and not directly by the developers but we occasionally step in and help when it is needed.

The reason that there were no updates to thi

[2018-03-02 23:45] eukota commented on #28569
This is very frustrating. Spent hours getting all of this configured and working. Then learned that unarchive is downloading to some temp volume that lacks the space to hold a 6 GB repository tarball.

I really like the simplicity of unarchive. Why not add the option to designate the download location? It would be great. And it would work well with the feature.

[2018-03-03 00:06] indivisiblewalrus opened #36960 "nxos_config: 'invalid command' on existing bgp configuration"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_config

##### ANSIBLE VERSION
ansible 2.5.0rc1
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/pete/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
  executable location = /usr/local/bin/ansible
  python ve

[2018-03-03 01:31] acozine commented on #36777
This work is in progress - see https://github.com/acozine/ansible/tree/porting_guide. I'll pick it up after my vacation.

[2018-03-03 03:00] macropin commented on #33274
I think this is due to a packaging issue with `python-apt` on Rasbian Stretch (Debian 9) .

`python-apt` cannot be installed without breaking apt:
[code]

Furthermore, `python3-apt` can be cleanly removed from the system, but cannot be reinstalled because `python3-apt : Depends: python3 (< 3.5) but 3.5.3-1 is to be installed`.

It might be possible to use python3 as a workaround ie `ansible_python

[2018-03-03 04:08] agamdua commented on #20226
Is someone working on this?

If not, I’d be more than happy to contribute the code for it, but I’d like to know that it’s even something that will be accepted as a feature and maybe have a brief design discussion before I start?

Alternatively I could just throw something at y’all and see if it sticks!

[2018-03-03 05:04] akashgangil commented on #33761
Seeing this issue as well.

[2018-03-03 11:46] danielporto commented on #26297
@kozikow I'm curious (and on my learning process...), why not use it in production?
it seems that docker-py is a dependency of docker_container module which is an official module used by ansible to manage docker containers.
Kubernetes/swarm seems overkill and problematic for multi-cloud (cloud independent) deployments, if possible can you elaborate your opinion?

[2018-03-03 12:05] Akasurde commented on #27062
@jwendt-bnsf Does template's datastore and VM's datastore same ?

needs_info

[2018-03-03 12:31] qduxiaoliang commented on #36772
@jborean93

[code]
@jborean93

[code]

[2018-03-03 12:46] ghost opened #36962 "Fix string/binary encoding issue in pull.py"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/cli/pull.py

##### ANSIBLE VERSION
Current

##### CONFIGURATION
Python 3

##### OS / ENVIRONMENT
Linux

##### SUMMARY
[code]

The value in out is always binary encoded, because it's returned that way from `run_cmd`.

##### STEPS TO REPRODUCE
Run ansible-pull

##### EXTRA
Replaces #36364 - I'm closing that PR, because that bot annoys

[2018-03-03 13:49] #35455 closed, assigned to nobody

[2018-03-03 14:36] simonszu opened #36963 "git module fails when cloning repository with username in repo string"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(env: ANSIBLE_NOCOWS) = True
DEFAULT_HOST_LIST(/home/simonszu/.ansible.cfg) = [u'/home/simonszu/ansible/inventory']
DEFAULT_MODULE_PATH(/home/simonszu/.ansible.cfg) = [u'/home/simonszu/ansile/library,/usr/share/ansible']
DEFAULT_ROLES_PATH(/home/simonszu/.ansible.cfg) = [u'

[2018-03-03 15:46] Akasurde commented on #35986
@wolfthefallen any news ?

needs_info

[2018-03-03 16:49] andreaso commented on #36963
Looks like you are using a broken url format.

If you want ot use `ssh://` urls then `git@git.simonszu.de:simonszu/hass-config.git` translates into `ssh://git@git.simonszu.de/simonszu/hass-config.git`.

[2018-03-03 16:59] simonszu commented on #36963
It is the URL format provided by Github, Gitlab and Gitea when you select a repository to clone via SSH, so i think delimiting the user-namespace from the hostname with a `:` is common use.

I have changed the `:` to a slash in the URL, and now ansible accepts the URL, so basically, this isn't a bug. However, if you try to `git clone` manually from Gitea with this URL format, you get an error that

[2018-03-03 17:03] agmezr commented on #36953
Hi

Yes, should have removed the /tmp path. Will make some test and remove the path

[2018-03-03 17:45] umrikar commented on #36773
@Akasurde...Thanks issue resolved with latest changes #36778

[2018-03-03 17:45] #36773 closed, assigned to Akasurde

[2018-03-03 20:46] rabin-io opened #36970 "[dnf] Wildecard matching for package names"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
dnf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no config

##### OS / ENVIRONMENT
Linux Fedora 27/x64

##### SUMMARY
Add support for wildcard for package name matching.

[code]

##### EXPECTED RESULTS
Same as passing the above "names" to `dnf`
e.g:
[code]

##### ACTUAL RESULTS
[code]

[2018-03-03 22:50] kmadnani commented on #20603
I am facing the same issue while using import_tasks for handlers. This happens only for those handlers where in a handler is called from another handler. Do we have a workaround? Are we planning to fix it in upcoming ansible version?

[2018-03-04 00:09] kbreit commented on #36936
@ericwb I'm having problems testing this on my system today but I have a new file. Can I send you the file so you can test?

[2018-03-04 00:45] ericwb commented on #36936
Sorry, I don't have the means to test it out.  I opened the issue as a result of code inspection, not actually by running the module.

[2018-03-04 01:58] kbreit commented on #36936
I was able to test it. I don't have valid files to upload, but I was able to get an error saying the format isn't correct. When I turn on SSL validation, it errors saying the certificate isn't good.

[2018-03-04 02:57] kbreit commented on #36932
if a module is created, I’d like to know if it will be approved since existing modules, which would be used as a base, use the requests library.

[2018-03-04 03:59] #36483 closed, assigned to nobody

[2018-03-04 05:00] jirib opened #36975 "Cannot ping Windows Server 2016 with whatever winrm transport"
Hi,

I have Windows 2016 server, just configured AD and run ps1 script from Ansible site. WinRM itself works OK with 'server_cert_validation=ignore'.

If you need more info, please ping me.

[code]

winrm works ok.

[code]

klist also is ok

[code]

but i can't get ansible winrm working in any way.

[code]

i also have ptwinrm app working (using winrm) and here is winrm i got via this app

[code]

[2018-03-04 05:15] jborean93 commented on #36975
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-03-04 05:15] #36975 closed, assigned to nobody

[2018-03-04 06:38] opengers commented on #33618
It has been replaced with a function `set_vault_secrets()` , so it looks like the following in ansible 2.4.x
[code]

The `vault_pass` is vault password for decrypt file or strings

[2018-03-04 10:04] jirib commented on #36975
Opps, such PEBKAC :)

[code]

[2018-03-04 10:51] archenroot commented on #17720
I am having same error with subversion only within Gentoo ebuild system, so I think this is not related to Ansible...

[2018-03-04 11:09] archenroot commented on #17720
Ok, this is issue with locales (maybe Ansible override somehow default, etc. I don't know), but on my Gentoo box I had following user config:
[code]

So I just added into my .bashrc:
[code]

which resulted in:
[code]

And the issue dissapeard, in my case the problem was with some file in German language unprocessable via Posix, another aspect is that I need to make it instead of .bashrc local user

[2018-03-04 11:53] Akasurde commented on #31534
Closing this issue as PR #32522 is merged. If issue persists, please feel free to re-open.

[2018-03-04 11:53] #31534 closed, assigned to nobody

[2018-03-04 12:05] Akasurde commented on #31935
@Windesson Could you please check with latest Ansible version ?

needs_info

[2018-03-04 12:47] user318 opened #36977 "module_utils/eos.py does not handle error when maximux sessions reached"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
module_utils/eos.py does not handle error when maximux sessions reached and config commands are being sent in exec mode.

##### STEPS TO REPRODUCE
Run 5 configuraion sessions (or other maximum your switch have). Try to use eos_command p

[2018-03-04 13:16] user318 commented on #36977
But I may be not correct here. I do not fully understand all the internals. May be rc != 0 is possible, but error is not checked correctly somewhere.

[2018-03-04 13:30] adakhin opened #36978 "include_tasks in a loop breaks task execution order"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_tasks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7 on ansible master
Windows 2012 Server R2 on managed hosts (although the problem does not seem OS-specific)

##### SUMMARY
If tasks are included in a loop and item contains **host-specific** data in a template, task execution for this item wil

[2018-03-04 15:17] user318 opened #36979 "eos_config: abort is not enough to abort session"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When abort command is issued in not top-level configuration mode it works like exit and do not aborts the session. It is left active on switch.

##### STEPS TO REPRODUCE
Run ansible_config in check moder with src which does not end with t

[2018-03-04 15:38] user318 opened #36980 "eos_config: ANSIBLE_EOS_USE_SESSIONS causes changes on switch in check mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When EOS do not support configure sessions or ANSIBLE_EOS_USE_SESSIONS=0 is provided to disable it - commands are applied even in check mode.

##### STEPS TO REPRODUCE
Run eos_config with ANSIBLE_EOS_USE_SESSIONS=0 in check mode.

[code]

cmd

[2018-03-04 17:16] fridim commented on #24294
label "waiting_on_contributor" can be removed, see PR 24442

[2018-03-04 17:25] juliakreger commented on #36950
This should require not action aside from docstring enhancement. Both of these items are options that fit into the properties field on the node object that describes a node in ironic.

properties/root_device
properties/capabilities

https://docs.openstack.org/ironic/pike/install/include/root-device-hints.html
https://docs.openstack.org/ironic/queens/install/advanced.html#boot-mode-support
http://d

[2018-03-04 22:01] conorsch opened #36982 "Integration with Mozilla SOPS for encrypted vars"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
External variable repo source for decrypting vars via [Mozilla SOPS](https://github.com/mozilla/sops). SOPS can encrypt YAML and JSON files to multiple keys, which is appropriate for multiple admins sharing a single Ansible project repo, e.g. for managing a site config.

Although Ansible Vault has added support for [multiple vault_ids as of v2

[2018-03-04 23:01] srkiNZ84 opened #36983 "elb_application_lb module throwing KeyError when updating/rotating SSL certificates"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elb_application_lb

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
All defaults

##### OS / ENVIRONMENT
From: Ubuntu 14.04
Managing: AWS resources

##### SUMMARY
Trying to update the SSL certificate used by an AWS Application Load Balancer throws a "KeyError" when assigning the variable following a comparison.

##### STEPS TO REPRODUCE
Basica

[2018-03-05 01:25] drzraf opened #36984 "uptimerobot: add support for creating/removing monitors"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
uptimerobot

##### ANSIBLE VERSION
[code]

##### SUMMARY
uptimerobot: add support for creating/removing monitors

[2018-03-05 01:26] drzraf opened #36985 "uptimerobot: use https (SSL) API endpoint"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
uptimerobot

##### ANSIBLE VERSION
[code]

##### SUMMARY
The module use cleartext HTTP protocol to communicate (what include a security token) : "http://api.uptimerobot.com/"
See https://github.com/ansible/ansible/blob/10cd2cd1b787bff544acb52ff3ecabfa41119318/lib/ansible/modules/monitoring/uptimerobot.py#L72

[2018-03-05 03:22] conorsch commented on #36982
The advantage of the custom `vars_plugin` approach is that users can drop a module into an existing site config, and it's off to the races. That'll only work for host/group vars, though, if extending the `lib/ansible/plugins/vars/host_group_vars.py` logic.

A full custom parser, as done with ansible-vault via `lib/ansible/parsing/vault/__init__.py`, will work for _all_ vars files, which is grand,

[2018-03-05 05:07] stormit-vn opened #36987 "EC2 module not return created instances at second run"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I am using ec2 module to launch ec2 instances, my task configuration as below:
[code]

Here is the variable file
[code]

With this configuration, I expected ansible only created exac_count instances (i.e. 2 instances) and assign to register variable ec2_az1. This configuration work perfe

[2018-03-05 05:08] gdpak commented on #36426
As dci-agent was down on weekend, I ran vyos_* tests manually on nodepool but I could not see this failure on 2.5/devel branch. I followed steps mentioned in https://github.com/ansible/network-infra/blob/master/files/production/dci-agent/dci-ansible/hooks/running.yml

but could not generate error mentioned in this issue - nodepool@nodepool:~/dci-workspace/f35a98a8-bac3-4cf7-8d5d-6ff2058d6fa3/ansib

[2018-03-05 05:38] IshwarKanse opened #36988 "Error: "failed to parse some of the extra variables" when using tower_config_file with tower modules."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible tower modules

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Fedora release 27
Ansible tower and tower-cli version:

Tower CLI 3.2.1
API v2
Ansible Tower 3.2.3
Ansible 2.4.2.0

##### SUMMARY
Getting "tower_cli.exceptions.TowerCLIError: failed to parse some of the extra variables" when using tower_config_file: "~/.tower_cli.cfg" wi

[2018-03-05 06:13] liqingkai2017 commented on #36153
@gundalow one more problem we have got,we are planning to develop a function to support command rollback.Our design is that when got ' error' in response command,our module will send rollback command automaticly.
But as connection.py line 142 to 146,you have done the mechanism that when got ' error' in response command,ansible itself will throw an exception.Based on our needs，we should modify it,c

[2018-03-05 06:18] ykuromiya commented on #36620
I'm sorry for late reply.

I found that this problem does not caused credssp.
And it seems that the bigip module caused this error.

My playbook use bigip module like this.

[code]

If there is only the 'Create directory' task, error does not occurred.
But if I add the 'Disable Node' task, Gathering facts failed with error messages.

So I tried 'ansible 192.168.1.10 -m setup' command, it succeeded

[2018-03-05 06:18] oraharsh opened #36989 "inventory error: Distribution not found"
ansible-2.4.3.0-0.2

##### ISSUE TYPE

[code]

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-05 06:19] oraharsh commented on #36989
Linux  3.10.0-123.el7.x86_64

[2018-03-05 06:26] IshwarKanse opened #36990 "tower_user module returns task status as changed even when the user already exist with no changes in task."
#### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tower_user module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Fedora 27
Ansible Tower and Tower CLI version:
Tower CLI 3.2.1
API v2
Ansible Tower 3.2.3
Ansible 2.4.2.0

##### SUMMARY
tower_user module returns task status as changed even when the user already exist with no changes in the task.

##### STEPS TO REPRODUCE
[code]

##### EXPE

[2018-03-05 06:48] IshwarKanse opened #36991 "tower_role module fails with error "Role has no field named 'state'""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tower_role module.

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Fedora 27
Ansible Tower and Tower CLI version:
Tower CLI 3.2.1
API v2
Ansible Tower 3.2.3
Ansible 2.4.2.0

##### SUMMARY
tower_role module fails with error "Role has no field named 'state'"

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Task completes successfully

[2018-03-05 06:52] ramyak10 commented on #34317
Hi Can you tell me which file's permission you modified. am getting the same error
File "/opt/ansible-runtime/local/lib/python2.7/site-packages/ansible/plugins/cache/jsonfile.py", line 70, in init
raise AnsibleError("error in '%s' cache, configured path (%s) does not have necessary permissions (rwx), disabling plugin" % (self.plugin_name, self._cache_dir))

[2018-03-05 07:41] mangellopez commented on #36937
Hi

any subset can not get info about mounts.

I tried with gather_subset= mounts or devices or hardware.

But I didnt get any mounts info like on linux systems.

Regards.

[2018-03-05 07:52] mangellopez commented on #36937
HI

More info

NSBL> ansible sol11 -m setup -a 'filter=ansible_mounts'
sol11 | SUCCESS => {
    "ansible_facts": {},
    "changed": false
}

[2018-03-05 07:58] alu commented on #35224
@maxamillion Can i track the issue or PR in jinja2?

[2018-03-05 08:07] chenzhiwei opened #36992 "sysctl enable ip forward failed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

* sysctl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.3

##### SUMMARY

* Code:
[code]

* Result

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-05 08:16] yubingjiaocn commented on #36992
Kernel version is 3.10.0-514.26.2.el7.x86_64. In this version of kernel, sched_compat_yield is not exist anymore. net.ipv4.ip_forward could be set manually via sysctl without error. After reboot the script goes fine.

[2018-03-05 08:18] cavamagie commented on #36835
i already pass the datacenter value
`- name: create a VM from a template
  block:
  - vmware_guest:
      hostname: "{{vmware_hostname}}"
      username: "{{vmware_username}}"
      password: "{{vmware_password}}"
      datacenter: "{{vmware_datacenter}}"
      #cluster: "{{vmware_cluster}}"
      esxi_hostname: "{{vmware_esxi_hostname}}"
      validate_certs: no
      name: "{{vmware_machine_name

[2018-03-05 09:13] okgolove opened #36994 "Missing force_init function in module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- terraform

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing.

##### OS / ENVIRONMENT

[code]

##### SUMMARY

We need to run `terraform init` to download providers for Terraform.
In documentation we have `force_init` parameter which is missing in terraform.py module

##### STEPS TO REPRODUCE

* ansible-playbook -c local main.yml

[

[2018-03-05 09:31] giovannisciortino commented on #36991
I reproduced the error using:
- Fedora 26
- ansible branch devel
- Ansible Tower 3.2.3-1 (latest stable release)
- ansible-tower-cli-3.2.1

The same problem disappears when ansible-tower-cli 3.2.0 is used ( pip install 'ansible-tower-cli == 3.2.0' )

Playbook used for the test:
[code]

[2018-03-05 09:42] SurferL commented on #33339
@jhawkesworth Just tested again - upgrading to pywinrm to 0.3.0 resolved the issue! Thanks :)

[2018-03-05 09:42] #33339 closed, assigned to nobody

[2018-03-05 09:59] giovannisciortino commented on #36991
Some further details on tower access.log content.
When ansible-tower-cli 3.2.1 is used. The parameter state=present is passed to the API /api/v2/teams/2/object_roles/
The same parameter isn't used in the API request using ansible-tower-cli 3.2.0

ansible-tower-cli 3.2.1

$ ./bin/ansible localhost -m tower_role -a "user=kirk target_team=ussr role=member state=present"
An exception occurred during t

[2018-03-05 10:12] keltik85 commented on #12178
I have put:
[code]
into my `/etc/ansible/ansible.cfg`.

Then I put a Python file into that dir named `/home/my-user/.ansible/plugins/filter/my_custom_filters.py`:

[code]

After that, I run my playbook like this:

[code]

But it gives me this error:
fatal: [192.168.178.201]: FAILED! => {"msg": "template error while templating string: no filter named 'my_xxx_filter'. String: stdout of my cool custo

[2018-03-05 10:13] ArtemBernatskyy commented on #34777
Same issue, no idea how to solve it

[2018-03-05 10:15] yetangye opened #36997 "how to specify log-opt of docker run in ansible to limit the log size of a container?"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

 - None

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

 - None

##### OS / ENVIRONMENT

 - Debian GNU/Linux 9 (stretch) and CentOS 7.3

##### SUMMARY

I am using ansible playbook to deploy my app with docker in Jenkins, Recently I want to limit the log size of the app container, with "docker run" has "–log-opt max-size=xxxm" opt

[2018-03-05 10:37] cgi1 commented on #28978
Error still occurs for Ubuntu 14.04

[2018-03-05 10:51] karniemi opened #37000 "Proper fix for #26020:vmware_guest state:absent fails on powered on machines"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A

##### SUMMARY

Spin-off from #26020: "vmware_guest state:absent fails on powered on machines"
* the ticket was closed by providing a hint to use Force-option as workaround and a reference to source code
* I think that bug would deserve a proper fi

[2018-03-05 10:55] Akasurde commented on #34777
@ArtemBernatskyy Try installing `zipfile` on hosts.

[2018-03-05 11:07] tyll commented on #36867
About the expected result, shouldn't it be ```facts_data.ansible_net_config``` instead of ```ios_facts.ansible_net_config``` where you should expect the returned values? I agree with @dagwieers that using the term returned facts for the returned facts sounds good to distinguish them from the return values and mentioning that the facts are also added to the hostvars.

[2018-03-05 11:10] Akasurde commented on #37000
@karniemi Thanks for suggestion.

I think `force` option is required in case of state `absent`. It will help to avoid accidental VM delete operation. If `force` is specified, module will anyways power off VM and then delete it.

I agree that documentation can be improved for `force` parameter.

Let me know if this makes sense.

[2018-03-05 11:10] ArtemBernatskyy commented on #34777
@Akasurde thx, i've solved it by specifying `UTF-8` as default locale )(

[2018-03-05 11:11] Akasurde commented on #37000
@pdellaert @jctanner @dagwieers What do you think on this ?

[2018-03-05 11:19] Akasurde commented on #36992
@chenzhiwei Could you please provides steps to reproduce this as I am not able to reproduce this issue on my environment?

needs_info

[2018-03-05 11:21] Akasurde commented on #36989
@oraharsh Thanks for reporting this issue. It would be great if you could provide step to reproduce, `-vvvv` output, playbook used to reproduce issue.

needs_info

[2018-03-05 11:24] Akasurde commented on #36988
!component +lib/ansible/modules/web_infrastructure/ansible_tower/tower_organization.py

[2018-03-05 11:30] #36568 closed, assigned to nobody

[2018-03-05 11:48] Akasurde commented on #36988
@IshwarKanse Thanks for reporting this issue.

[2018-03-05 12:06] mklouda commented on #36118
You didn't write the version on which you ran the test. Using ansible 2.1.2 it DOESN'T work. I tried the current latest build 2.4.3 and it works i.e. the ARN of the newly created message que is returned.

[2018-03-05 12:39] AlanCoding commented on #36988
https://github.com/ansible/ansible/blob/44f5b2bd25b4ab0acfac7926f2ed069dac0c0e0e/lib/ansible/module_utils/ansible_tower.py#L57

`parser.string_to_dict` is for JSON/YAML content. The config file is the python ConfigParser format, and not that.

[2018-03-05 12:41] gbataille opened #37003 "ec2_vpc_route_table does not support vpc_endpoint in 2.5.0rc1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vpc_route_table

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
In my AWS route table definition, I have routes related to a VPC endpoint. These routes have no CIDR block definition.
In the ec2_vpc_route_table code, to see if a route is the same (in order possibly to delete them,

[2018-03-05 12:47] rcarrillocruz commented on #24879
I don't know, I cannot reproduce.
If you could test with 2.5RC and let me know, then I could go see if the issue was solved sometime during that timeframe.

[2018-03-05 13:09] Torrent007 commented on #16621
+1 !

[2018-03-05 13:21] colemanja91 commented on #26336
Seeing the same on Ansible 2.4.3

[2018-03-05 13:46] julienvey commented on #36118
I didn't say it was not a bug in 2.1. I just tested it on the **`devel`** branch and was not able to reproduce. So this must have been added somehow between 2.1 and the `devel` branch

[2018-03-05 13:54] giovannisciortino commented on #36990
Problem reproduced also in the following environment:

Fedora 26
Ansible Tower and Tower CLI version:
Tower CLI 3.2.1 ( and also on 3.2.0)
API v2
Ansible Tower 3.2.3-1 (latest stable version)
ansible ansible 2.6.0 (devel fdbd1297cf) last updated 2018/02/20 19:42:07 (GMT +200)

[2018-03-05 13:56] ryansb commented on #36994
Thanks for raising this! I added a review on the pull request.

[2018-03-05 14:08] trishnaguha commented on #36960
@indivisiblewalrus You need to follow NX-OS standard indentation which is 2-spaces  in src file. The module works for me after I fixed the indentation.
[code]

[2018-03-05 14:09] MichalTaratuta commented on #36988
This makes one wonder how those modules got through testing.

[2018-03-05 14:12] #35902 closed, assigned to Qalthos

[2018-03-05 14:17] mihai-satmarean commented on #23663
[code]

trying to add another harddrive, so using the module with state: present

"msg": "The name 'machine003' already exists."

[2018-03-05 14:23] jean-christophe-manciot opened #37006 "Failed to import docker-py although it is installed when building AWX"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 docker_container

##### SUMMARY
cf. title

##### ENVIRONMENT
* AWX version: tag 1.0.4
* AWX install method: docker on linux
* Ansible version: v2.4.3.0-1
* Operating System: Ubuntu 17.10
* Web Browser: chrome

##### STEPS TO REPRODUCE

[code]

Failing task:
[code]

##### EXPECTED RESULTS

Correct build

##### ACTUAL RESULTS

[code]

##### ADDIT

[2018-03-05 14:26] s-hertel commented on #37003
@gbataille Do you specify or omit vpc endpoint routes in your task? (and if not, did purge_routes ignore those prior to 2.5?)
[code]

[2018-03-05 14:27] CsilLAB commented on #26190
I do see this in 2.5.

[code]

[2018-03-05 14:28] #33290 closed, assigned to Qalthos

[2018-03-05 14:28] #33291 closed, assigned to Qalthos

[2018-03-05 14:32] SaranrajMG opened #37007 "vmware_guest : Could not find template in Content Library"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
ansible 2.5.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /opt/rh/python27/root/usr/lib/python2.7/site-packages/ansible-2.5.0-py2.7.egg/ansible
  executable location = /opt/rh/python2

[2018-03-05 14:33] SaranrajMG commented on #37007
My template reside under "VMware Content Library"

[2018-03-05 14:34] yasa1987 opened #37008 "vsphere_guest Exception with Python3 (module not compatible)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
It concerns module **vsphere_guest** ([official docs here](http://docs.ansible.com/ansible/latest/vsphere_guest_module.html))
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Configuration-independent issue

##### OS / ENVIRONMENT
Running Ansible "Ubuntu 16.04" in the Linux Subsystem on Windows 10.

##### SUMMARY
In this environment (Ubuntu 16.

[2018-03-05 14:37] jmcgill298 commented on #33291
It seems that you are missing a space between `all` and `|`
[code]

[2018-03-05 14:39] gbataille commented on #37003
ouh... I did not know I could use the pl-xxxx as a destination.
But no I'm not specifying those. But I guess it does not change anything.

purge_route does not change anything although I understand that I should set it to false.

Before, those routes were ignored because boto returns no "CidrBlock" and therefore the "match" method fails on those existing AWS rules. They become transparent to ansib

[2018-03-05 14:39] s-hertel commented on #36987
Can you show your output with extra verbosity? Your created instances that you tagged should show up in "{{ ec2_az1.tagged_instances }}".

[2018-03-05 14:41] AlanCoding commented on #36990
I disagree with your expectation here, because it's not theoretically possible to satisfy.

[code]

Whether or not this task modifies user `kirk` is fundamentally unknowable because the API interface must never divulge what the prior password of the user is. You can't know that someone didn't change the password in the UI between the 1st and 2nd time you ran the task. If the information to tell if

[2018-03-05 14:44] s-hertel commented on #37003
Yeah, pl-xxxx as a destination doesn't work. I'm working on fixing it and trying to figure out what the behavior should be. I asked so I could replicate your task. Thank you for the extra info.

[2018-03-05 14:46] Akasurde commented on #37008
@yasa1987 Thanks for reporting this issue. `vsphere_guest` is deprecated in favour of `vmware_guest`, I would recommend you to migrate to `vmware_guest`, if possible.

[2018-03-05 14:48] #37008 closed, assigned to nobody

[2018-03-05 14:50] Akasurde commented on #37007
@SaranrajMG Thanks for reporting this issue. Could you please add `-vvvv` logs and the playbook you are using for this ?

[2018-03-05 14:50] Akasurde commented on #37007
needs_info

[2018-03-05 14:51] AlanCoding commented on #36988
Thinking on how to move forward...

tower-cli doesn't have any option for passing a custom location of the config file in. It only looks for them in order of precedence - the local directory -> the user directory -> global location. It would be very invasive (i.e. would be prone to breakage) to somehow modify the cli `settings` object to hack in the location of the provided config.

I think the us

[2018-03-05 14:57] stormit-vn commented on #36987
Yeah, using tagged_instances solved my problem. Thank you for your help!

[2018-03-05 14:57] #36987 closed, assigned to nobody

[2018-03-05 15:01] hryamzik opened #37013 "interface name is not presented in windows facts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Windows 2012

##### SUMMARY

`interface_name` fact contain "interface description" that can be found in interface properties while interface name is not presented at all.

[2018-03-05 15:22] yasa1987 commented on #37008
Thanks for your quick response. I tried with `vsphere_guest` because `vmware_guest` does not power-on the VM (but still returns success) and `vmware_guest_powerstate` isn't available in the 2.4 release that is present in official APT repositories and on PyPi.

I'm new to Ansible and the word `simple` is not the word I would use to describe it regarding my experience so far with deprecated, non-wor

[2018-03-05 15:25] bcoca commented on #36982
@conorsch incorrect, host_vars/group_vars are implemented via vars plugins, but that is not only thing vars plugins can do. In theory the plugin just receives a list of host or group names and returns related variables, the source does not need to be tied to host_vars/group_vars directories.

A lookup plugin is another option, we already have other security stores implemented that way.

[2018-03-05 15:26] fagia opened #37016 "include_role: when used with_items in name, it executes with last item only"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When _include_role_ task is used _with_items_ to have variable names for the included roles, then only the role with the name corresponding to the last item gets executed

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
i

[2018-03-05 15:27] okgolove-rf commented on #36994
@ryansb should I create new issue every time or I may just create PR without issue creating?

[2018-03-05 15:27] sivel commented on #35224
@alu see https://github.com/ansible/ansible/pull/32738

[2018-03-05 15:27] okgolove commented on #36994
@ryansb should I create new issue every time or I may just create PR without issue creating?

[2018-03-05 15:28] jean-christophe-manciot commented on #37006
same issue if I don't checkout 1.0.4 and build on the latest commit.

[2018-03-05 15:31] gtirloni commented on #23913
The "required" column in the documentation cannot be relied on. One needs to read all comments and make sure there is nothing there contradicting it.

[2018-03-05 15:43] alikins commented on #36978
pinging @jimi-c @bcoca

[2018-03-05 15:46] alikins commented on #36989
@oraharsh What was the command line used?  (ie 'ansible-playbook -i hosts -vvv some_play.yml' etc)

[2018-03-05 15:49] ryansb commented on #36994
The new issue isn't 100% necessary - the most important thing is explaining why the PR exists, which can happen either in the description of the PR (e.g. an example of usage before/after the PR) or in an issue. If you aren't sure about the solution to a problem, but you know there *is* a problem and want to discuss the solution, an issue is the right place to go. Thanks!

[2018-03-05 15:49] aJetHorn commented on #11997
This issue still exists in 2.4.2.0. If serial is set and any host is unreachable, the test will fail after that connection error. If anyone else stumbles here after a desperate Google search, this is the active ticket: #18075

[2018-03-05 16:01] #36994 closed, assigned to nobody

[2018-03-05 16:05] #24294 closed, assigned to nobody

[2018-03-05 16:11] ju2wheels commented on #36196
+1 Im getting the same behavior in 2.4.3.0 .

[2018-03-05 16:13] Akasurde commented on #37008
@yasa1987 I agree, VMware modules are broken with respect to Ansible 2.4. But things have changed in Ansible 2.5 version (at-least I think). I would recommend you to file a bug if `vmware_guest` is not working, which will make it stable enough as `vsphere_guest`.

[2018-03-05 16:15] alikins commented on #37013
pinging @nitzmahone @jborean93 @dagwieers

[2018-03-05 16:17] alikins commented on #36997
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2018-03-05 16:17] #36997 closed, assigned to nobody

[2018-03-05 16:27] dagwieers commented on #37013
So we did not want to add all interfaces in the root of the facts namespace. So doing this properly would require restructuring the defaults facts, including deprecating existing facts, which we have never done before.

I am strongly against adding interface-names as keys as it is done know for Python.

[2018-03-05 16:47] #28087 closed, assigned to s-hertel

[2018-03-05 16:47] #35993 closed, assigned to nobody

[2018-03-05 16:54] bcoca commented on #37006
For Ansible Tower support or questions, please utilize https://access.redhat.com/products/ansible-tower-red-hat

For the OSS version (AWX) https://github.com/ansible/awx

This issue tracker is for the open source Ansible CLI tools project.

[2018-03-05 16:54] #37006 closed, assigned to nobody

[2018-03-05 16:56] dagwieers commented on #36867
So I have this implemented now. I'd like to know from participants in this thread what text do we want to add at the top of the **Returned Facts** section ?

The current one is probably not sufficiently concrete.

| Facts returned by modules can be referenced by name just like any other host fact.

![screenshot from 2018-03-05 16-36-10](https://user-images.githubusercontent.com/388198/36988098-379

[2018-03-05 17:12] Akasurde commented on #20291
@aperigault Any news ?

[2018-03-05 17:16] volodymyr-mykhailyk commented on #36196
+1 getting the same error on ansible 2.4.3.0.
additional host components:
- `python -V:` Python 2.7.6
- `pip -V`: 9.0.1'
- `pip show setuptools`: 38.5.1
- `pip show docker`: 3.1.0

[2018-03-05 17:20] Akasurde commented on #24225
@dbosso Could you please check with above PR and let us know if it works for you ?

needs_info

[2018-03-05 17:44] fagia commented on #37016
The issue seem to be caused by the override of the role name in the same original task while looping, I'm going to try the fix and submit a PR.

[2018-03-05 17:48] dagwieers opened #37021 "Getting rid of Sphinx and Read-the-Docs in documentation"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs

##### ANSIBLE VERSION
v2.5

##### SUMMARY
Currently every documentation page has the following text in the footer:

And I don't see the relevancy of having this on every single documentation page. It's like printing on every page in a book that the book was made with e.g. LaTeX, but worse, because it includes 3 links which decrea

[2018-03-05 17:51] johncapobianco opened #37022 "nxos_config idempotency issue with FEX on Nexus 5K"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
The following lines do not appear to be idempotent

fex 110
  hardware N2348UPQ qos-policy-offload
fex 112
  hardware N2348UPQ qos-policy-offload
fex 113
  hardware N2348UPQ qos-policy-offload
fex 131
  hardware N2248TP-E qos-policy-offload
fe

[2018-03-05 18:05] volodymyr-mykhailyk commented on #36196
After downgrading python docker module to version `2.7.0` - everything works as previously.

[2018-03-05 18:12] rcarrillocruz commented on #31575
Did you get a chance to test this?

[2018-03-05 18:52] #36643 closed, assigned to newswangerd

[2018-03-05 18:53] #36717 closed, assigned to newswangerd

[2018-03-05 19:29] conorsch commented on #36982
Super helpful, thank you, @bcoca. After hacking on the built-in host/group vars_plugin, I came to the same conclusion, but it's great to have formal confirmation.

I see a lookup plugin as complementing a varsplugin for non-host/group vars. A custom parser works well, too, although I doubt you'd merge—see diff here: https://gist.github.com/conorsch/614ddf89c4c4a3480a3a259ee56d0c21

For anyone inte

[2018-03-05 19:29] ju2wheels commented on #36196
Works for me as well, thanks @volodymyr-mykhailyk .

My guess from looking at the 3.0.0 changelog is that they maybe havent added support for 3.x yet from looking at [module_utils.docker_common](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/docker_common.py). The changelog for docker-py 3.0.0 has the following:

However, `module_utils.docker_common.py` doesnt seem to have

[2018-03-05 19:32] sivel commented on #36196
There is ongoing work in https://github.com/ansible/ansible/pull/36973 to support the version 3 of the docker python module.

[2018-03-05 19:32] IPvSean opened #37032 "infoblox nios argument ipv4addrs error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nios_host_record

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS High Sierra 10.13.3

##### SUMMARY
error using default example in docs (could be doc error)
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
adding host record, finishes playbook

##### ACTUAL RESULTS
[code]

[2018-03-05 19:43] IPvSean commented on #37032
I feel like it is looking for->
[code]

then I get a different error->
[code]

[2018-03-05 20:00] #32019 closed, assigned to nobody

[2018-03-05 20:11] #33761 closed, assigned to nobody

[2018-03-05 20:27] sivel commented on #36978
I'm looking at a potential change in https://github.com/ansible/ansible/pull/37025

I cannot guarantee this is the fix or even that we should fix this.  Te reasons are complicated, and I can try to get into that later after we make a decision about direction.

[2018-03-05 20:31] Tykzz commented on #29507
I have the same problem with Ansible 2.4.3.0

[2018-03-05 20:35] #30325 closed, assigned to nobody

[2018-03-05 20:44] abadger commented on #29887
The Mysql modules are community supported and need some maintainers who have more time to devote to them.  If someone would like to open a PR to work on this, that would be appreciated.  Per: https://github.com/ansible/ansible/issues/29887#issuecomment-334472654 The easiest route is probably to change the documentation of requirements and the error message when the library is not found to mention

[2018-03-05 21:18] bcoca commented on #36982
that might be something we  would accept in the main repo, but then i would want to add a white/blacklist to activate/deactivate shipped plugins (similar to what we do with callbacks).

[2018-03-05 21:22] tzejohn opened #37042 "ec2_lc does not correctly support no_device"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_lc

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Linux

##### SUMMARY
The `no_device` attribute defined for a volume is getting ignored, and is not correctly represented in the generated `BlockDeviceMappings` for the created launch configuration.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The

[2018-03-05 21:26] bcoca commented on #22944
@amshash
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there,

[2018-03-05 21:26] #22944 closed, assigned to nobody

[2018-03-05 21:39] guzzijason commented on #20978
Appears to affect 2.4 as well.

[2018-03-05 21:42] cullenlinn opened #37045 "Includes under with_items using free strategy breaks loop variables on nested include"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
all

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
All Defaults

##### OS / ENVIRONMENT
Ubuntu 16.04.4 LTS
(also checked on RedHat EL 6.9)

##### SUMMARY

When using "strategy: free" in conjunction with an include_tasks (using a with_items loop), if the included tasks file includes any other tasks files, the third level include does not hav

[2018-03-05 21:46] cullenlinn commented on #37045
I'm seeing this issue with ansible 2.4.2 on RHEL but tested as well on the latest devel branch 2.5.0.

I've tested using other strategies and the issue does not seem to manifest with other strategies.

[2018-03-05 21:47] Leggggg opened #37046 "NXOS_SWITCHPORT --- REMOVE VLAN FROM TRUNK INTERFACE"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_switchport

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
  - N/A

##### OS / ENVIRONMENT
  - NXOS: version 7.0(3)I4(5)

##### SUMMARY
  - When removing vlan's from allowed vlan list of a trunk interface, it will not remove the vlan if it is the last remaining vlan on the interface trunk.

##### STEPS TO REPRODUCE
Configure a NXOS t

[2018-03-05 21:50] guzzijason commented on #20978
BTW, I've worked around this for now doing something like this (based on the original example here):
[code]
This moves the conditional into the definition of the var, and then the role only gets called once. Not ideal, but it may work fine for some situations.

[2018-03-05 22:00] hryamzik commented on #37013
I currently have to use this script as a workaround:

[code]

It doesn't produce too much output but gives me a way to get real interface names.

@dagwieers what't the issue with having that `friendly name` presented?

[2018-03-05 22:25] dagwieers commented on #37013
Each friendly name in the root of the `ansible_facts` namespace, just like the Python facts ?

Because it doesn't belong there, and I don't think we should introduce something that we want to deprecate in general anyway. It does require us to discuss in a core meeting to get this resolved, and that's a long process we haven't started. We did discuss it.

For Windows disk information we actually ad

[2018-03-05 23:16] dharmabumstead opened #37047 "Add colophon page to the docs"
Add a colophon page to the core docs with build string and RTD information (which we are removing from the footer of every page per https://github.com/ansible/ansible/pull/37023).
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

Documentation
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRO

[2018-03-05 23:35] abadger commented on #21397
Note, For people using ```mode: 0440```,  you most probably want ```mode: 'u=rwX,g=gwX,o='``` instead.

(Presently talking with bcoca about whether this is something that should be fixed in ansible code or is categorizable as something we don't handle [extra_opts is inherently an advanced feature which may not work with ansible]).  I think I have a way to fix this but I need to confirm that the ca

[2018-03-06 00:08] dagwieers opened #37049 "Adding direct links to older/newer versions"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Documentation

##### ANSIBLE VERSION
v2.5

##### SUMMARY
So I really think we need to do a better job in allowing users to move from the existing versioned docs, to the latest stable, and the latest development version of the docs.

Currently there is a single link to a page that at the very bottom has a drop-down menu which brings you

[2018-03-06 00:14] #37021 closed, assigned to gundalow

[2018-03-06 00:55] yetangye commented on #36997
Thanks for your tips. I have asked this question in google group

[2018-03-06 01:01] alu commented on #35224
@sivel Thanks :)

[2018-03-06 01:26] hitoshi-isa commented on #24879
i test with ansible 2.5.0rc1. it's fixed!
thanks for your support.

[2018-03-06 01:38] zhaojack opened #37050 "json callback plugin no longer contain information on some task statuses like 'skipped'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

json callback plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
using the `json` callback plugin

##### OS / ENVIRONMENT
RHEL7

##### SUMMARY
Prior to ansible 2.4, with the json module enabled, if a `shell` task gets skipped due to a conditional `when` statement, for instance, would result in a `skipped: True` key in the json output. A

[2018-03-06 02:04] rafaeldriutti opened #37051 "Redshift module issues on 2.4 and devel"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

redshift
##### ANSIBLE VERSION

[code]
[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 17.10
##### SUMMARY

The redshift module fails to create a cluster because of missing parameters that are required only when the command is *delete*. The logic to check the parameters is wrong, shouldn't care for  `skip_final_cluster_snapshot` or

[2018-03-06 02:38] msven commented on #35585
I think this is a duplicate of https://github.com/ansible/ansible/issues/31779 (which was recently fixed).

Using the playbook given in the description I was not able to reproduce the issue against the devel branch, but I was able to reproduce against 2.4.4 branch.

[2018-03-06 03:17] cailen opened #37053 "Service module trying to use systemctl when system has upstart."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
ansible 2.4.3.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/user/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.12 (d

[2018-03-06 04:34] #36919 closed, assigned to ganeshrn

[2018-03-06 05:33] jean-christophe-manciot commented on #37006
@bcoca
It is an ansible issue: awx uses ansible for its installation.
This issue needs to be reopened.

[2018-03-06 05:33] trishnaguha commented on #37022
@johncapobianco if possible please share your src file.

[2018-03-06 05:40] QuantumGhost commented on #32432
This bug was discovered on our test server, but I cannot reproduce it on my machine. I suspect that there's something wrong with our environment.

[2018-03-06 07:14] yuwzho commented on #17727
notabug

Please also install the packaging `pip install packaging`

[2018-03-06 07:16] yuwzho commented on #36920
-label azure

[2018-03-06 07:16] #17727 closed, assigned to nobody

[2018-03-06 07:18] yasa1987 opened #37056 "Module vmware_guest is not powering-on VM"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module **vmware_guest**

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Ubuntu 16.04 on Linux Subsystem for Windows 10
`Linux say-laptop 4.4.0-43-Microsoft #1-Microsoft Wed Dec 31 14:42:53 PST 2014 x86_64 x86_64 x86_64 GNU/Linux`

[code]

vCenter version : 6.5, latest update

##### SUMMARY
I'm trying to power-on

[2018-03-06 07:34] trishnaguha commented on #36801
@johncapobianco please share your src file if possible.

[2018-03-06 07:58] mr-fIErcE commented on #36978
@sivel in fact your changes do fix this:
[code]

[code]

[2018-03-06 08:06] #36929 closed, assigned to nobody

[2018-03-06 08:39] hryamzik commented on #37013
I think `win_network_facts` would work, I don't care if this information is grabbed by default or as an extra task. However I didn't see any delays in the script posted above, so I'd put this to a separate module only if it slows down `setup` one too much.

Ansible collects network interfaces information from linux machines in a nice way and I expected it to do the same on windows. Network interfa

[2018-03-06 08:50] Akasurde commented on #37056
@yasa1987 Thanks for reporting this issue. Could you please check if you are getting same result on Ansible 2.5 version as well ? As I am not able to reproduce this on my setup.

[2018-03-06 09:46] yuwzho commented on #36727
@henti Seems your playbook contains an invalid parameter: `"subscription_id": "SUB_ID_GOES_HERE"`. This makes your subscription invalid. You can put your subscription id here or keep it empty but specified in your credential file.

notabug

[2018-03-06 09:47] gundalow commented on #35084
@vinzenz Docs updates are in https://github.com/ansible/ansible/pull/37033 would welcome your feedback on that

[2018-03-06 09:47] gundalow commented on #35084
resolved_by_pr: 37033

[2018-03-06 09:49] #36727 closed, assigned to nobody

[2018-03-06 09:58] jnogol commented on #34628
Hi @gundalow, sorry I haven't answered earlier, completely missed the notification. No, sadly the fix doesn't work for me: it still registers new services and doesn't deregister them.

In my case:
[code]

[2018-03-06 09:58] #35084 closed, assigned to gundalow

[2018-03-06 10:02] simonszu opened #37059 "Discrepancy in project_name field of docker_service"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

docker_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible running on Arch Linux, managed node is Debian Stretch

##### SUMMARY

Documentation of docker_service says: `project_name` is not required. Required when no `definition` is provided.

A module call with a `definition` and no specified

[2018-03-06 10:18] haad opened #37060 "interfaces_file module should be ablle to create interfaces file if doesn't exist"
interfaces.py  should be able to modify/create interface definition not options only as

`iface eth0 inet static`

Also ability to create allow/auto stanzas would be great.

[2018-03-06 10:46] #36867 closed, assigned to acozine, gundalow

[2018-03-06 11:02] trishnaguha opened #37063 "tx_rate, rx_rate missing in vyos_interface module"
tx_rate, rx_rate intent parameters are missing in vyos_interface module
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME

modules/network/vyos/vyos_interface.py
##### ANSIBLE VERSION

[code]

[2018-03-06 11:05] gundalow commented on #34697
With https://github.com/ansible/ansible/pull/37033 we now link to the platform specific pages (which includes details on proxy) from the eos & nxos pages

resolved_by_pr: 37033

[2018-03-06 11:10] gundalow commented on #34697
For example http://docs.ansible.com/ansible/devel/network/user_guide/platform_eos.html#example-eapi-task

[2018-03-06 11:11] #34697 closed, assigned to gundalow

[2018-03-06 11:27] mgibula opened #37066 "rabbitmq_parameter throws ValueError: need more than 1 value to unpack"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
rabbitmq_parameter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
When trying to set rabbitmq federation policy, the error is thrown.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Works without an error.

##### ACTUAL RESULTS

[code]

[2018-03-06 11:34] k-s-dean opened #37067 "Inserting variables into a lookup statement"
##### ISSUE TYPE
Help Needed

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
`Host OS= Fedora27`
`Deployment OS= Ubuntu16`
`Hashicorp Vault`

##### SUMMARY

Hi, I'm trying to get automated certificate generation implemented for deploying to new hosts using ansible and vault. but so far im having a problem with inserting variables into a lookup statement

##### ST

[2018-03-06 11:49] alvaroaleman commented on #34628
You did check out my forked branch @jnogol ? That fix did not get merged, you don't get it by downloading upstream Ansible.

[2018-03-06 12:14] #35612 closed, assigned to nobody

[2018-03-06 12:27] jnogol commented on #34628
Yeah, I used your branch, but got an exception due to ACL:

[code]

For some reason, it doesn't get along with the token. I can register services, but not deregister them.

[2018-03-06 12:34] umrikar commented on #36030
Hi,
  There is one failure scenario i came across.if i run playbook where vSwitch0 is on vmnic0 and run it again.It goes through update code and system loses connectivity.

[2018-03-06 12:44] privateip commented on #35369
needs_info

[2018-03-06 12:57] johncapobianco commented on #36801
Here are the relevant files I have converted them to .txt files so I could upload but you could rename to .yml or .j2

Please let me know if this is what you needed

Thanks for your help

[LAB-DC-N7K-AGG_yml.txt](https://github.com/ansible/ansible/files/1785036/LAB-DC-N7K-AGG_yml.txt)
[LAB-N7K-1-MG06TSZKG-DC-AGG.running_config.txt](https://github.com/ansible/ansible/files/1785037/LAB-N7K-1-MG06TSZ

[2018-03-06 13:03] johncapobianco commented on #37022
Attached are the relevant files I have converted to .txt to upload them but you can rename to .yml or .j2

Please let me know if this is what you need

Thanks for your help

[configure_nxos_interface_yml.txt](https://github.com/ansible/ansible/files/1785059/configure_nxos_interface_yml.txt)
[LAB-N5K-1A-MG06TSZKK.txt](https://github.com/ansible/ansible/files/1785060/LAB-N5K-1A-MG06TSZKK.txt)
[LAB-N

[2018-03-06 13:12] johncapobianco commented on #37022
Just a quick note the following is idempotent under the FEX configurations:

fex 110
  pinning max-links 1
  fcoe
  port 1-16 type fc

It is only the following line that is not idempotent

fex 110
  hardware N2348UPQ qos-policy-offload

I am not sure if it is related to the 'dashes' in qos-policy-offload

thanks hope this helps

[2018-03-06 13:13] mgibula commented on #37066
There is also very similar error in rabbitmq_policy. In both cases applying similar patch to #34863 does fix the error.

[2018-03-06 13:16] alvaroaleman commented on #34628
Thanks for the info. I've updated my PR to pass the token along, unfortunatelly I can not test it as I am not using Ansible or Python anymore. Can you verify if it fixes the issue @jnogol ?

Also as a note, `python-consul` only passes the token for very few requests, for many it simply doesn't do that: https://github.com/cablehead/python-consul/blob/master/consul/base.py#L892

This means you are p

[2018-03-06 13:16] johncapobianco commented on #36801
Please note the following is idempotent under the SVI configurations:

interface Vlan1301
  vrf member LoP_OPZone
  no ip redirects
  ip router ospf 100 area 0.0.0.130
  ip address 10.144.0.2/24

the following lines are not idempotent:

interface Vlan1301
  hsrp version 2
  hsrp 1301
    authentication md5 key-chain hsrp-md5-key
    preempt delay minimum 120 reload 300
    priority 255
    ip 10.1

[2018-03-06 13:39] msasso commented on #12565
@xenithorb I think a "skip: <bool>" directive would make its purpose clearer, just my 2c

[2018-03-06 13:43] ypismerov commented on #26247
This only happens when nest_tags is set to True

[2018-03-06 13:44] xenithorb commented on #12565
So, `skip: no` would imply that _no matter what_ it runs? Yeah, I could see that working, too.

[2018-03-06 13:45] aboe76 commented on #36700
I can confirm this error on ansible 2.4.3.0 on RHEL 7.4
[code]
[code]

[2018-03-06 13:50] duck-rh commented on #34269
any news?

[2018-03-06 14:08] docschick commented on #37049
@dagwieers interesting ideas here. Could this be brought up in an IRC meeting for further discussion? @dharmabumstead -- let's explore this more as anything and everything we can do to improve the user experience is good in my eyes.

[2018-03-06 14:09] W73 opened #37073 "pamd brakes pam.d/sshd"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pamd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
##### OS / ENVIRONMENT

Operating System: CentOS Linux 7 (Core)
Operating System: CentOS Linux 7 (Core)
##### SUMMARY

When i put new type/control/module_path all comments from file are m

[2018-03-06 14:15] SaranrajMG commented on #37007
@Akasurde : Please find the request information. let me know if you required more info.

ansible-playbook 2.5.0
  config file = None
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /opt/rh/python27/root/usr/lib/python2.7/site-packages/ansible-2.5.0-py2.7.egg/ansible
  executable location = /opt/rh/pytho

[2018-03-06 14:18] SaranrajMG commented on #37007
@Akasurde : Please find the below playbook.

---
- name: Create VMware guest
  hosts: localhost
  gather_facts: False

  vars_prompt:
    - name: "vcenter"
      prompt: "vCenter hostname?"
      private: no
    - name: "user"
      prompt: "Enter username"
      private: no
    - name: "pass"
      prompt: "Enter password"
      private: yes
    - name: "template"
      prompt: "Template?"

[2018-03-06 14:26] umrikar commented on #36030
@Akasurde i am seeing many failure scenarios

[2018-03-06 14:41] kevensen commented on #37073
@W73 Thanks for reporting this bug.  Would you be willing to test PR https://github.com/ansible/ansible/pull/35709 to see if that addresses this issue?

[2018-03-06 14:43] kevensen commented on #36700
@schast Thanks for reporting this issue.  Would you be willing to test PR https://github.com/ansible/ansible/pull/35709 to see if that addresses this issue.  I believe it should.

[2018-03-06 14:46] IPvSean opened #37074 "Query Infoblox NIOS objects - cannot safely call it or ignore it in the fork() child process"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nios lookup plugin

http://docs.ansible.com/ansible/devel/plugins/lookup/nios.html

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS High Sierra Version 10.13.3

##### SUMMARY
Hitting issue as soon as playbook runs->
[code]

##### STEPS TO REPRODUCE
Both of these playbooks fail:

[code]

this one also fails:

[2018-03-06 14:51] mackendw commented on #16354
make sure on the ansible hosts that you put the public key in the home dir of the user you are connecting as in ~/.ssh/authorized_keys

also, ensure that the .ssh dir is mode 700 and authorized_keys is mode 600 owned by that user and in the proper group.

then retry.

[2018-03-06 14:54] IPvSean commented on #37074
as per @samdoran changed ```OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES``` and re-ran
[code]

[2018-03-06 14:54] #37074 closed, assigned to nobody

[2018-03-06 15:00] umrikar commented on #36030
i could see some more failure scenarios

if i rerun playbook...it gets detached from vmnic on any network

- hosts: 127.0.0.1
  connection: local
  tasks:
    - name: Add a VMware vSwitch
      action:
        module: vmware_vswitch
        hostname: 10.243.1.43
        username: root
        password: PASSW0RD
        switch: vSwitch1
        nics: vmnic1
        mtu: 1500
        validate_certs:

[2018-03-06 15:10] sivel commented on #36978
They do indeed.  I just have a lot of testing to put in and make sure it doesn't break any other use cases.

It was specifically implemented for includes such as `include_tasks: "{{ inventory_hostname}}.yml"` where the file is different and potentially also the number of tasks.  It seems to be passing our tests, but I need to put a lot more together to target a number of possibilities.

[2018-03-06 15:12] aboe76 commented on #36700
@kevensen I have downloaded your patch pamd.py and inserted in my library, no change...

[2018-03-06 15:12] gundalow commented on #35233
Done, will be visible in the `devel` docs when they rebuild.

[2018-03-06 15:12] #35233 closed, assigned to gundalow

[2018-03-06 15:12] gundalow commented on #34697
Done, will be visible in the `devel` docs when they rebuild.

[2018-03-06 15:25] sivel commented on #37050
Thank you for the report.  I'll look into resolving this soon.

[2018-03-06 15:35] ktomk commented on #33200
I can confirm the flaw.

[2018-03-06 15:36] jnogol commented on #34628
Hi again, @alvaroaleman.

Now works like a charm. Thank you very much for the fix.

Regarding the python-consul forks, I'll take a look on them, it's true that managing Consul with Ansible was getting a bit of a pain in the... neck.

Thanks once more!

[2018-03-06 15:48] alvaroaleman commented on #34628
Hi @jnogol please do as @gundalow suggested and leave a comment [on the PR](https://github.com/ansible/ansible/pull/34847) so ppl know it has been verified to work. Thanks!

[2018-03-06 16:17] zwindler commented on #12170
As previous commenters said, I also see no workaround for handlers restarting services in a cluster where you don't want to restart all nodes at the same time. So there is at least **one usecase** where there doesn't seem to be a solution... This render handlers in this case totally useless, as handlers are used to restart the services WHEN this is needed only.

And all other workarounds (handling

[2018-03-06 16:23] henti commented on #36727
@yuwzho

I sanitised my code for public posting. The actual defaults file contains the correct subscription_id. Removing `subscription_id` from the playbook does work, thank you.

Please note http://docs.ansible.com/ansible/latest/azure_rm_resourcegroup_module.html has it listed as an option, hence using it.

If it's not correct, please update the documentation, or if it's mutually exclusive with

[2018-03-06 16:24] skylerbunny commented on #36196
Try either https://github.com/ansible/ansible/tree/stable-2.5 or https://github.com/ansible/ansible (the devel branch). Both have this fix in now.

[2018-03-06 16:28] bcoca commented on #37067
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-03-06 16:28] #37067 closed, assigned to nobody

[2018-03-06 16:36] gundalow commented on #36920
broken_bot

bot_skip

skip_bot

[2018-03-06 16:37] skylerbunny commented on #36196
See also comment at https://github.com/ansible/ansible/pull/36973#issuecomment-370840046 . "...the next releases to have it should be 2.5.0 and 2.4.4."

[2018-03-06 16:44] gundalow commented on #36920
Sorry, locking this and we will create a fresh issue to avoid further spam

[2018-03-06 16:45] #36920 closed, assigned to ganeshrn

[2018-03-06 16:57] #34628 closed, assigned to nobody

[2018-03-06 17:21] umrikar commented on #36030
network_manager.networkInfo.vswitch
available_vswitch.pnic is changing for every run

[2018-03-06 17:30] indivisiblewalrus commented on #36960
nxos doesn't care about indentation

'router bgp 12345
neighbor 1.1.1.1
remote-as 54321'

 is equivalent to:

'     router bgp 12345
 neighbor 1.1.1.1
         remote-as 54321'

But this isn't necessarily a great workaround for larger jinja 2 files when
you want a readable syntax for the control structure which adds variable
whitespace/indentation.  e.g following also failed:

router bgp {{bgp_asn

[2018-03-06 17:47] indivisiblewalrus commented on #36960
Additionally, this exact template worked in 2.4.3, and did work in an early 2.5dev, and the template does work again in 2.6dev.  Seems something changed with the 2.5rc1?

[2018-03-06 17:57] senorsmile commented on #30717
This can be closed since 2.4.1 - 2.4.3 fixes the issue.

[2018-03-06 18:01] bcoca commented on #30717
closing as per above

[2018-03-06 18:01] #30717 closed, assigned to nobody

[2018-03-06 18:08] Dawnthorn commented on #12565
I think maybe `skippable: no` would be better than `skip: no`, because with `skip` what would  `skip: yes` mean? And what would be the default value? With `skippable` you can make the default `yes` which would be the current behavior and that still makes sense.

[2018-03-06 18:19] dagwieers commented on #37049
@docschick After a discussion with @gundalow on IRC it was clear that this is too late for v2.5 release, but we can still do it in a few weeks and backport the relevant changes.

[2018-03-06 19:34] jonbenning opened #37087 "vmware_guest: add source template scope capability"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Defaults

##### OS / ENVIRONMENT
Running Ansible on RHEL7, Deploying CentOS

##### SUMMARY
There is currently no way to scope templates for deployment to a datacenter, folder, etc.
If a template exists in multiple Datacenters with the same name (i.e. separate geographic locations,

[2018-03-06 19:59] gundalow commented on #37049
Removing from 2.5.0 milestone & project as this isn't a blocker for `2.5.0`

[2018-03-06 20:05] liyaka opened #37088 "with_fileglob should support multiple source and destination while coping like with_items"
##### ISSUE TYPE
 - Bug Report/ Feature Idea

##### COMPONENT NAME
`fileglob.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
**with_fileglob** should support multiple source and destination while coping like **with_items**
For example:
**This works perfectly**
[code]
**This**:
[code]
fails with error:
[code]
##### STEPS TO REPRODUCE

[2018-03-06 20:13] karthi81 commented on #26420
adding a vmdk disk did not work for me. Do you guys have any idea that when this feature will be available?

[2018-03-06 20:25] dagwieers commented on #37013
@hryamzik While discussing this in the Windows Working Group meeting I realized that we already have **ansible_interfaces** but those are missing the friendly names. Agreed, we should just add them.

[2018-03-06 20:56] nitzmahone commented on #37013
Yeah, so long as we can come up with a fast place to grab this from (sadly the WMI object we're currently using doesn't have that value populated), we can just add it to the interface facts as `connection_name`. Probably won't happen until 2.7 though (pending the final decision on what changes will be allowed for 2.6)

[2018-03-06 21:48] hryamzik commented on #37013
Good, got it. Can we also discuss the fact that interfaces are not linked to addresses here or shall I open another issue?

[2018-03-06 21:51] conorsch commented on #36982
Great idea, I'll dig around for examples on how that's done elsewhere in the codebase.

[2018-03-06 21:56] bdowling commented on #34340
Ran into this as well, just trying to run some templates on localhost.  Can the requirement for this be relaxed a bit?  Delayed to fatal error only when it actually would be an issue?  I was just attempting to run templates through ansible on localhost and encountered this (my ansible runs from a virtualenv as well).

[2018-03-06 22:08] saichint opened #37091 "nxos_vrf issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_vrf
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I7(2)

##### SUMMARY

There are few problems with nxos_vrf module.

1. Even though it is mentioned that 'default' keyword is allowed for vni, rd, it is NOT working.
2. No 'default' keyword for parameter 'description'.
3. inte

[2018-03-06 22:22] jborean93 commented on #34340
@bdowling touching files like the `template` module requires the bindings which is why the error comes up. You should ensure the selinux library is on the target server and accessible from the Python that is being used.

[2018-03-06 22:27] jborean93 commented on #35460
@hryamzik I've updated the PR to not do a reverse lookup and just the IP for all addresses. If you have some time it would be great if you could test it out.

[2018-03-06 22:40] #35460 closed, assigned to nobody

[2018-03-06 23:13] Qalthos commented on #35494
resolved_by_pr 37011

[2018-03-06 23:20] #35494 closed, assigned to Qalthos

[2018-03-07 00:58] bentcoder opened #37096 "Single register variable is to contain outputs from all tasks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
"register"

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ansible-config dump --only-changed` doesn't print anything.

##### OS / ENVIRONMENT
Mac Os 10.10.5

##### SUMMARY
I cannot get multiple task outputs registered in a single variable `register: my_var`. The `- debug: var=my_var` entry prints the output from the last task, not all. Unle

[2018-03-07 01:19] nextgenthemes opened #37097 "Include task loop control does not work in ansible 2.3 that ships with Ubuntu 17.10"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
loop control, include task?

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Kubuntu 17.10

##### SUMMARY
I just tried my luck with the PPA version after trying to get out of trail and error hell trying to reproduce the simple example below. The docs say "New in version 2.1", Ubuntu comes with 2.3 but I could not get this to work.

[2018-03-07 02:14] yuwzho commented on #35591
notabug

[2018-03-07 02:19] #35591 closed, assigned to nobody

[2018-03-07 02:50] Akasurde commented on #37087
@jonbenning Thanks for reporting this issue.

[2018-03-07 03:08] bcoca commented on #23182
'retry' is technically not needed as the `until` keyword can serve that function for all tasks, not just get_url.

[2018-03-07 03:25] weiming-hyperanna commented on #562
+1 for reopen

[2018-03-07 04:23] foreverqihe opened #37100 "binary module against windows host failed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

binary module / action

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg
[defaults]
library = /usr/share/ansible:library

 ANSIBLE_HOST_KEY_CHECKING=false
 ANSIBLE_KEEP_REMOTE_FILES=1
 ANSIBLE_DEBUG=1

##### OS / ENVIRONMENT

Red Hat => Window 2016
##### SUMMARY

Follow the [example](https://github.com/ansible/ansible/tree/devel

[2018-03-07 05:54] ilove2git opened #37102 "no error information returned even though my playbook task failed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
no fatal error information is print out when playbook task failed

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_MODULE_PATH(/root/ansible/ansible25/ansible.cfg) = [u'/usr/share/my_modules']
DEFAULT_REMOTE_USER(/root/ansible/ansible25/ansible.cfg) = root
DEFAULT_TIMEOUT(/root/ansible/ansible25/ansible.cfg) = 10
HOST_KEY_CHECKING(/roo

[2018-03-07 06:04] foreverqihe commented on #37100
I think the issue comes from this part:
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/__init__.py#L700

The remote_module_path is None, so it copies the file to "" and winrm responds 500.

[2018-03-07 06:10] QiuMP opened #37103 "The bug of the module 'lvol'"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
lvol

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian 9

##### SUMMARY
- The module `lvol` does not support `pvs` when creating a snapshot.
- The module `lvol` dose not get the real path of `pvs` like the module `lvg` when creating a lv.

##### STEPS TO REPRODUCE
The code of creating a snap

[2018-03-07 06:10] trishnaguha commented on #36960
This is expected. When it comes to indentation, The indentation must match the indentation produced by the NX-OS ‘show running-config’ command. If the indentation does not match, then we may get unexpected results.

[2018-03-07 06:17] yuwzho commented on #30218
bug_resolved

[2018-03-07 07:17] W73 commented on #37073
Yes, i will test it on today and let you know result.

[2018-03-07 08:24] jborean93 commented on #36760
@daveolker I've just opened a PR to fix this issue https://github.com/ansible/ansible/pull/37104. While the return values are still not the exact same wording as the uri module it will now return things like `status_code` and `contents` even on a non 200 response. I've avoided changing the names of the the return keys to be more like `uri` for a few reasons which are;

* The current keys are the n

[2018-03-07 08:29] Akasurde commented on #37042
resolved_by_pr #37099

[2018-03-07 08:32] yuwzho commented on #36677
@joaocc Could you please share your playbook? You can attach the disk to a VM by set the `managed_by` field and unattach it by setting it empty. You can refer an example from the [integration test](https://github.com/ansible/ansible/blob/devel/test/integration/targets/azure_rm_managed_disk/tasks/main.yml#L260)

[2018-03-07 08:39] yuwzho commented on #36270
duplicate_of 36206

[2018-03-07 08:44] W73 commented on #37073
Here is result of changed file:
[code]
Thank you for quick help.
I found related https://bugzilla.redhat.com/show_bug.cgi?id=1549233 (with split system -auth)

[2018-03-07 08:46] #36270 closed, assigned to nobody

[2018-03-07 09:14] cheng93 commented on #36270
It is similar, but I don't think it's duplicate.

#36206 is start/stopping a machine.

This is creating a machine.

[2018-03-07 09:17] yuwzho commented on #36270
@cheng93 Even in different scenario, but they share the same deserialization logic, right?

[2018-03-07 09:28] yuwzho commented on #30142
bug_resolved

[2018-03-07 09:29] yuwzho commented on #29586
bug_resolved

[2018-03-07 09:37] rmfrankch opened #37106 "include_vars not including data"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Ubuntu 16.04.4 LTS
Linux 4.4.0-112-generic #135-Ubuntu SMP Fri Jan 19 11:48:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
OR
Linux 4.8.0-36-generic #36~16.04.1-Ubuntu SMP Sun Feb 5 09:39:57 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
Includin

[2018-03-07 09:37] cheng93 commented on #36270
Ah yes good point. Thanks for getting back to me. Ill watch the other issue.

[2018-03-07 09:43] dagwieers commented on #37102
! component lib/ansible/modules/utilities/logic/fail.py

[2018-03-07 09:44] dagwieers commented on #37102
So it seems there's an error in a callback plugin you are using. It contains `module.dumps` ??

at 0x2c438d0>): 'module' object has no attribute 'dumps'

I can't find that in my codebase. So is it possible you have a custom callback plugin or you have modified code ?

[2018-03-07 09:51] ad-m commented on #28907
I have the same bug in last time on ```Ubuntu 16.04.3 LTS``` server. I use ```unattended-upgrade``` with autoclean. Sometime ago I installed manually ```python-pip``` (which required ```python-dev```). Next to I mark by Ansible to install ```python-dev``` (no changes). Next to upgrade ```python-pip``` package which changes ```python-dev``` to recommends, so autoclean remove ```python-dev``` packag

[2018-03-07 10:18] osLEccse commented on #36110
#37108

[2018-03-07 10:18] osLEccse commented on #17716
#37108

[2018-03-07 10:31] rmfrankch commented on #37106
The problem seems to be the variable name 'ansible_local'. All newer installations will fail when using this. Older ones worked. Using a different name solves the problem.

[2018-03-07 10:53] raja-subramanian opened #37111 "AWS ec2 copy ami fails with wait enabled (Waiter ImageAvailable failed: Max attempts exceeded)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_ami_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The ec2_ami_copy module fails with WaiterError if wait parameter is enabled and if the ami takes more than 10mins to get into available state.

##### STEPS TO REPRODUCE

Code that fa

[2018-03-07 10:56] nbari opened #37112 "cs_instance "user_data" error only when using python3 working in python2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cs_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS High Sierra, brew instal python

##### SUMMARY

Error when running the playbook only using python3

##### STEPS TO REPRODUCE

Run playbook using python 3 ` ansible-playbook play.yml`

[code]

##### EXPECTED RESULTS

no error

##### ACTUAL RESULTS

[c

[2018-03-07 11:03] gundalow commented on #37112
!component cs_instance

[2018-03-07 11:09] gundalow commented on #36110
A documentation update has been proposed in https://github.com/ansible/ansible/pull/37108 I'd welcome your feedback (added to that PR) if that resolves the issue for you. Thanks in advance.

[2018-03-07 11:09] gundalow commented on #17716
A documentation update has been proposed in https://github.com/ansible/ansible/pull/37108 I'd welcome your feedback (added to that PR) if that resolves the issue for you. Thanks in advance.

[2018-03-07 11:12] gundalow commented on #37106
I wonder if `ansible_` variables are reserved?

[2018-03-07 11:18] Akasurde commented on #26420
@karthi81 You need to specify already existing disks and new disks in order to add new disk to existing  VM.

There is another module [`vmware_guest_disk`](https://github.com/ansible/ansible/pull/36165) which provides lot of features for Disk management in guest.

[2018-03-07 11:19] gundalow commented on #37096
This seems to be working "by design". Do you know we've documented that this works in the way you've shown? I wonder if we have unclear documentation.

[2018-03-07 11:33] gundalow commented on #37112
bot_status

[2018-03-07 11:39] Akasurde commented on #36030
@umrikar Could you please elaborate the scenario that you are trying to do with `-vvvv` logs and whole playbook ?

needs_info

[2018-03-07 11:40] FooBarWidget opened #37114 "digital_ocean module: unique_name does not work on Python 3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
digital_ocean

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I set the following as a var so that Ansible uses the 'python' in PATH instead of /usr/bin/python.
[code]

##### OS / ENVIRONMENT
macOS Sierra, Ansible installed via Homebrew.
The 'python' in PATH is Python 3 installed via Homebrew.

##### SUMMARY
The digital_ocean module's "unique

[2018-03-07 11:58] BentCoder commented on #37096
@gundalow Could you please direct me to exact link for the documentation? I've checked many pages in documentation but didn't see an exact example that would prove it working.

[2018-03-07 12:01] umrikar commented on #36030
@Akasurde when i run below playbook.At first run it creates switch ,when i run same playbook again it updates switch and its vmnics becomes null.that is switch loses its nics.I have debugged code and found that value for "available_vswitch.pnic" is changing for switch for every run.even though we dont update anything.To reproduce this scenario
please run below playbook twice.observer result after

[2018-03-07 12:11] dchirikov opened #37116 "Race condition in password lookup"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
password lookup module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Centos 7.4
ansible-2.4.2.0-2.el7.noarch

##### SUMMARY
Race condition in paswword lookup module if task is being run for multiple hosts. As a workaround it's possible to use 2 steps of acquiring passwords: generate first and then fill the v

[2018-03-07 12:14] gundalow commented on #37096
@BentCoder oh, sorry, that was my point. I was wondering why you believe it should work. Let me check with some others to see if this is a regression, or if it working originally was a bug

[2018-03-07 12:28] kevensen commented on #36700
@aboe76 Thanks for testing.  I’ll take a closer look.

[2018-03-07 12:34] rcarrillocruz commented on #24879
awesome, thx!

[2018-03-07 12:35] #24879 closed, assigned to rcarrillocruz

[2018-03-07 12:45] mzi77 commented on #32507
Reload issue can be skipped with "reload no-confirm"

But same issues with commands needed during upgrade process

upgrade boot bootselector-image stack-unit 1 booted
upgrade boot bootflash-image stack-unit 1 booted
upgrade fpga-image stack-unit 1 booted

etc.

[2018-03-07 12:47] sdvgit opened #37117 "python ansible module crash on variable_manager._fact_cache"
Does not appear to be reported

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
play_iterator

##### ANSIBLE VERSION
ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, May  3 2017, 07:55:04) [GCC 4.8.5 20150623 (Red Hat 4.8.5-14)]

##### CONFIGURATION
python module: .../python2.7/site-packages/ans

[2018-03-07 12:48] Akasurde commented on #37114
@FooBarWidget Thanks for reporting and debugging this issue.

[2018-03-07 12:58] chillipeper commented on #36576
Hey the same is happening when using the include_role module.

I understand at this point that this has to be used as a string and not a list, but wanted to give heads up as well.

**COMPONENT NAME**
ansible module "include_role"

**ANSIBLE VERSION**
[code]

**RESULT**
[code]

**Steps to reproduce**

Created site.yml  and a test role that prints a debug message

Attempt to run the playbook with an

[2018-03-07 13:00] rmfrankch commented on #37106
Not generally, I renamed it to 'ansible_localx' and that works.

[2018-03-07 13:07] yasa1987 commented on #37056
How do I install Ansible 2.5 ? The version in the `deb http://ppa.launchpad.net/ansible/ansible/ubuntu xenial main` repository is still 2.4.3

[2018-03-07 13:09] dagwieers commented on #37056
It is not released yet, we are currently at RC1, RC2 is due tomorrow.
http://releases.ansible.com/ansible/

[2018-03-07 13:11] Akasurde commented on #37056
@yasa1987 Meanwhile you can follow this guide - https://docs.ansible.com/ansible/latest/intro_installation.html#running-from-source

[2018-03-07 13:12] Akasurde commented on #36030
@umrikar Can you check updated PR ?

With new Patch,

[code]

[2018-03-07 13:37] diafour opened #37120 "apt module installs python-apt with unnecessary dependencies"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/packaging/os/apt.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

No special configuration

##### OS / ENVIRONMENT

apt-based distros. Tested on Debian 7,8,9, ubuntu 16.04, 18.04.

##### SUMMARY
apt module depends on python-apt package on remote machines and try to install that package. Command for installation is `apt-get install

[2018-03-07 13:46] martinanderssondotcom commented on #26521
I have tried `2.4.2.0` and `2.4.3.0` on Ubuntu 17.10. The parameters `autoclean` and `autoremove` has no effect **if** they are combined together or put together [inidivually or otherwise] with another apt parameter such as `upgrade: dist`.

In order to make autoclean or autoremove have an effect, I must put these as separate tasks.

[2018-03-07 13:57] rmetzler commented on #10123
I'm still on Ubuntu 14.04 and had the very same problem. My workaround was to use the Dockerfile and build an image, run it, and copy my ssh-key inside the container.

Inside I used
[code]
to add my SSH-Key to the agent and then I was able to setup my cluster.

[2018-03-07 14:13] fredtesche commented on #33414
@axlroden The HP/Aruba REST API works nicely with Ansible's REST modules... However the API call to retrieve the running configuration (../rest/v3/switch-config) 404's. I have a ticket with HP fix this. :)

Otherwise, this is a "Me Too" post. I experience this same problem on a HP/Aruba 2530-8g. If there is anything I can test, please let me know. I am happy to help test.

[2018-03-07 14:45] BentCoder commented on #37096
I might certainly be wrong with my expectations.

I can use dedicated variables like below to solve the problem but as you can see I will end up having many `- debug: var: my_var_...` lines in the file which is what I like to avoid.

[code]

[2018-03-07 14:49] Nitesh-vaidyanath commented on #36304
Hi @alikins

Output of the script.

python test.py
HAS_CRYPTOGRAPHY: True
HAS_PYCRYPTO: False
HAS_SOME_PYCRYPTO: False
CRYPTOGRAPHY_BACKEND: <cryptography.hazmat.backends.openssl.backend.Backend object at 0x7f927983bb50>
Crypto.__file__ = /opt/ns/automation/prodenv/local/lib/python2.7/site-packages/Crypto/__init__.pyc
Crypto.__path__ = ['/opt/ns/automation/prodenv/local/lib/python2.7/site-packages

[2018-03-07 14:51] gundalow commented on #37096
Hi,
So we've discussed this internally.  Ansible is working correctly.

Consider the case generally when programming:
[code]
I believe the confusion is because in https://stackoverflow.com/questions/31881762/ansible-register-result-of-multiple-commands/31881763#31881763 they are using `with_items` which means in a *single* task, we are running multiple times. In your examples you are using separat

[2018-03-07 14:57] resmo commented on #37120
resolved_by_pr #37121

[2018-03-07 15:07] yasa1987 commented on #37056
I tested with Ansible version 2.6 (from git repo) and now I have an error message :
[code]

It looks like my vSphere user for Ansible hasn't the permission **System.Read** on object **vim.HostSystem**.

You can close the issue because it was my fault but Ansible 2.4 wasn't telling me that. Ansible 2.6 is telling me why it doesn't work so it's okay.

Thanks for your help

[2018-03-07 15:08] daveolker commented on #36760
Thanks Jordan.  If possible, could you post an example of the new output from win_uri when querying a page that does not exist?

[2018-03-07 15:13] yasa1987 commented on #37056
There is actually another problem with the **vmware_guest** module : I just gave full permissions to my Ansible user and I still get the error. Strange...

[2018-03-07 15:21] celebdor opened #37123 "edgeos config fact retrieval fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`edgeos_facts`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
##### OS / ENVIRONMENT
[code]

##### SUMMARY
When trying to gather config facts I get an error due to trying to:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/edgeos/edgeos_facts.py#L174

Which is trying to assign some string to a dictionary that was

[2018-03-07 15:22] celebdor commented on #37123
@samdoran Doing the naive change I proposed let me get the config. Is that enough?

[2018-03-07 15:26] mbeshara commented on #18319
Looking forward to this bugfix. In the meantime, I'm using this workaround:

    $ cat get-password-ansible
    #!/bin/sh

    . ./get-password

This forces `$0` to evaluate to what should be the symlink's name. When the bugfix arrives, that calling script can be replaced with a symlink without having to change any code.

[2018-03-07 15:28] #37042 closed, assigned to nobody

[2018-03-07 15:31] trishnaguha commented on #36960
On addition to the above, the correct way to do this is using `lines` option. Note: we do not guarantee idempotence when `lines` option is used.
[code]

[2018-03-07 15:37] balonik commented on #34802
@Akasurde
PR https://github.com/ansible/ansible/pull/37124 for select_host update as discussed.

[2018-03-07 15:41] #36960 closed, assigned to trishnaguha

[2018-03-07 15:50] Akasurde commented on #37114
resolved_by_pr #37126

[2018-03-07 15:56] Akasurde commented on #34802
resolved_by_pr #37124

[2018-03-07 16:02] cailen commented on #37053
I'm dumb. This was me not seeing my current branch had "systemd" for filebeat handler. Closing.

[2018-03-07 16:16] #34767 closed, assigned to nobody

[2018-03-07 16:30] ckotte commented on #34196
I use Ansible 2.4.3.0 and non of the workarounds work for me. All tasks of the imported role are executed..

[2018-03-07 16:31] #37114 closed, assigned to nobody

[2018-03-07 16:42] nbari commented on #37112
While testing with python 2 and changing the `state` to `destroyed` is giving this error:

[code]

[2018-03-07 16:51] cailen commented on #37053
Actually this happens when using systemd also, so reopening. It happens even when not specifying enable

[code]

[2018-03-07 16:52] BentCoder commented on #37096
I want to print the output of every tasks below (_output per process otherwise all in one go at the end_). That's all.

Code below does it but as you can imagine, if I had 50 processes/tasks in the file, I would have 50 `debug: var: my_var_*` lines and variables to go with them.

[code]

[2018-03-07 16:57] #37053 closed, assigned to nobody

[2018-03-07 17:22] Boojs commented on #25158
@aurimasl

I am seeing the same issue on v2.3

Did you find some way to get around this at all?

[2018-03-07 17:46] abadger commented on #37117
Preliminary question:  Does this happen in 2.4.3 or one of the prerelease tarballs for 2.5.0?

[2018-03-07 17:47] sivel commented on #37097
`loop_control` has been available since 2.1, however `include_tasks` was introduced in 2.4.

If you are running a version less than 2.4, you will need to utilize `include` instead.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-03-07 17:47] #37097 closed, assigned to nobody

[2018-03-07 17:49] aurimasl commented on #25158
Workaround (if you can call it) is to grant access to whole table without specifying individual columns.

[2018-03-07 17:52] abadger commented on #37117
This code was significantly reworked when we added inventory plugins for 2.4.x.  I believe that this commit fixed this issue as a side effect of introducing the inventory plugins: 8f97aef1a365cbbbb822d6d09f96af17a076b295

In particular, the line you're referencing was removed and the condition was re-added in a more robust form later in the file:

[code]

needs_info

[2018-03-07 17:54] celebdor commented on #37123
Thanks for the quick response @samdoran ! Here's the output

[code]
So yes, it's like in your reproduction.

[2018-03-07 17:54] Jonnymcc commented on #18482
Closing as this is duplicated by https://github.com/ansible/ansible/issues/29492

[2018-03-07 17:54] #18482 closed, assigned to nobody

[2018-03-07 18:00] Boojs commented on #25158
Yeah, I know that works,  I just need to restrict the user from the password column...

Gonna keep hacking away at it until I find something useful. Trying to follow their comments on:
http://docs.ansible.com/ansible/latest/mysql_user_module.html

States for column privileges:

[2018-03-07 18:04] samdoran commented on #37123
Ok, that's very helpful. Thank you for confirming!

[2018-03-07 18:11] amcpherson opened #37131 "Ansible will hang when trying to gather facts."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
Centos6

##### SUMMARY
Ansible will hang when trying to gather facts.

##### STEPS TO REPRODUCE
ansible-playbook playbook.yml -i hosts.txt

##### EXPECTED RESULTS
Not hanging

##### ACTUAL RESULTS
Ansible appears to be trying to run:

[code]

When I run this ma

[2018-03-07 18:17] epilif1017a opened #37132 "Unexpected warning when using template and delegate_to within role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template, with_fileglob, delegate_to

##### ANSIBLE VERSION
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  py

[2018-03-07 18:17] resmo commented on #37112
@nbari 1 bug report per issue, please file a new issue with exact workflow what you did so we can reproduce and handle cover it in integration tests.

[2018-03-07 18:20] namasivayamcse opened #37133 "Windows 2012 R2 Ansible Playbook Stuck from VMware VRO Workflow"
#### SUMMARY
Windows 2012 R2 Ansible Playbook Stuck from VMware VRO Workflow

Facing similar issues to #10294, but against a windows 2012 R2 machine from python 2.7.5. I'm able to connect and execute things from pywinrm, I'm able to authenticate against kerberos, and use the ticket in pywinrm, but no luck from ansible.

##### ISSUE TYPE
 - Bug Report

##### OS/ENVIRONMENT
Controller node: VM RHEL

[2018-03-07 18:23] sivel commented on #37100
I've just tested with 2.3, 2.4, and the upcoming 2.5.

Binary support was known to be broken in the 2.3 release on Windows hosts due to a change in the exec wrapper on windows.  Binary support for windows was fixed in the 2.4 release and I have confirmed it is working correctly in 2.4+.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2018-03-07 18:23] #37100 closed, assigned to nobody

[2018-03-07 18:25] resmo commented on #37112
status:reproducing

[2018-03-07 18:26] joaocc commented on #36677
Hi. I can try, but it's not trivial, as it happens within a loop with several required inventory and config files.
However, by your statement, I now understand why it's complaining - by not using the managed_by field I am effectively telling ansible to try and un-attach the disk.
Since the disk has been assigned to a AKS cluster, it will not be deattached as the cluster is using it.

It seems that

[2018-03-07 18:38] tavisma commented on #25158
I've also run into this issue with Ansible 2.3
I wasn't able to find a workaround

[2018-03-07 18:53] namasivayamcse opened #37136 "Ansible Playbook running for longtime/indefinitely for windows 2012 R2 Ansible Playbook"
I am new to Ansible and I'm trying to configure windows 2012 R2 from RHEL 7 Ansible Node. I'm able to establish connection between them using Winrm Credssp. Below is /etc/ansible/group_vars/windows.yml file

COMPONENT NAME
urllib3.connectionpool https://192.168.2.211:5986 "POST /wsman HTTP/1.1" 500 1320

ANSIBLE VERSION
ansible 2.3.1.0

python version = 2.7.5

---
 ansible_user: admin
 ansible_pas

[2018-03-07 19:01] nbari opened #37138 "cs_instance "user_data" and "state: destroyed" return An exception occurred during task execution"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS High Sierra, brew install python2

##### SUMMARY

when using the `state: destroyed` and using/having `user_data` the instance is destroyed but an error
is displayed

##### STEPS TO REPRODUCE

`ansible-playbook play.yml`

The first time will return an error but af

[2018-03-07 19:02] nbari commented on #37112
Hi @resmo I created a new issue here https://github.com/ansible/ansible/issues/37138

[2018-03-07 19:06] AlanCoding commented on #31797
@kwoodson Is the `multi_inventory.py` file this? I found it from some a related issue, and it looks like it's yours.

https://github.com/openshift/openshift-tools/blob/prod/ansible/inventory/multi_inventory.py

I have tried to run it and get

(/Users/alancoding/Documents/repos/openshift-tools/ansible/inventory/multi_inventory.py) had an execution error: Traceback (most recent call last):   File
"/

[2018-03-07 19:13] abadger commented on #37096
Without knowing more specifics, we can't know if there's a better way to do that in current ansible.  (For instance, if all of your tasks use the same module, just with different data, it would be possible to do it using a loop and then the results could be saved in a single variable.)

There was a PR for a feature that would fit your use case in a generic way: https://github.com/ansible/ansible/p

[2018-03-07 19:34] jmighion commented on #33414
Sorry, I dont have a HP ProCurve to test against and the version of Aruba I can test against is unable to replicate the issue. I'm wondering if the "Press any key to continue" part is the cause of the hang. Looking at the netmiko driver for HP ProCurve, they handle it by sending an extra carriage return. It might be worth a shot for someone to try that, but I'm not sure where that should/could liv

[2018-03-07 19:40] celebdor commented on #37123
you're most welcome :-)

[2018-03-07 19:50] jborean93 commented on #36760
@daveolker here is a sample output based on the PR changes.

[code]

[code]

[2018-03-07 20:26] resmo commented on #37112
resolved_by_pr #37135

@nbari could you verify, if the fix solves the issue?

[2018-03-07 20:27] sivel commented on #37136
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-03-07 20:27] #37136 closed, assigned to nobody

[2018-03-07 20:28] skylerbunny commented on #37106
`ansible_local` actually **is** reserved. http://docs.ansible.com/ansible/latest/playbooks_variables.html#local-facts-facts-d

My advice would be to avoid setting variables to that name. `ansible_local` is meant to hold _local facts_. In 2.4 (starting) and 2.5 (finishing the work), include_vars has been changed to more "properly" be dynamic loading, so it wouldn't surprise me if that module used t

[2018-03-07 20:32] jborean93 commented on #36620
@ykuromiya none of this really matches up with what is happening. You are saying the fact gathering fails if the playbook you run contains the `bigip_node` task but succeeds without it? Future tasks won't affect the previous ones in a playbook, the only thing I can think off is that the `bigip_node` task ran in a previous run and then when you try to run the playbook again it fails? Is it just the

[2018-03-07 20:48] nbari commented on #37112
@resno  How could I test?

I did a `git checkout -b testing_PR37135` following http://docs.ansible.com/ansible/2.3/dev_guide/developing_test_pr.html but I need more help if you could please give me more guidelines I will give a try.

[2018-03-07 20:51] skylerbunny commented on #37049
If we do this, I would further suggest that the 'Edit on GitHub' link at the top of any given documentation page lead to the version specific branch of that file, not the devel branch of it (which it does for ALL versions currently). Someone who clicks that link from a 2.4 page expecting to fix a 2.4 documentation error would be very surprised to find themselves on the 2.6 docs.

[2018-03-07 20:54] resmo commented on #37138
I was not able to reproduce. I could think of this is related to user permission. We currently run the tests with admin privileges. Destroyed VM are visibile to admins, but not users.

I made a PR to make sure we have an ID when querying the userdata api.

resolved_by_pr #37143

[2018-03-07 20:58] harveyrendell opened #37144 "ansible-galaxy install ignores roles path when the specified role is already installed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

`ansible-galaxy install` ignores the roles path (-p, --roles-path) flag when the specified role is already available on `$ANSIBLE_ROLES_PATH`

##### STEPS TO REPRODUCE

*Note: I'm using the `elastic.elasticsearch` role for thi

[2018-03-07 21:03] resmo commented on #37112
@nbari

Probably the easiest way to quick tests  is to download the module into a directory called library along with your playbooks and run the playbooks again.

[code]

[2018-03-07 21:09] jmcgrath207 commented on #32157
I also have a issue where the become_exe does not work in 2.4.3.0

[code]

[2018-03-07 21:15] daveolker opened #37145 "gather_facts not honored when --skip-tags=always"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/system/setup.py
lib/ansible/playbook/tags.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
$ ansible-config dump --only-changed
DEFAULT_GATHERING(/root/Ansible-Playbooks/ansible.cfg) = smart
DEFAULT_HOST_LIST(/root/Ansible-Playbooks/ansible.cfg) = [u'/root/Ansible-Playbooks/inventory']
HOST_KEY_CHECKING(/root/Ansible-Pla

[2018-03-07 21:24] dckc opened #37146 "gather_facts on shared freebsd vps target may fail to find dmesg"
- Bug Report

##### COMPONENT NAME
platform detection

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

controller: Ubuntu 16.04
target: FreeBSD 11.1-RELEASE on https://www.nearlyfreespeech.net/

##### SUMMARY
I have a simple `playbook.yml` with just `ping` and `inventory.yml` with one host, which happens to be a FreeBSD host. When I do `ansible-playbook -i inventory.yml

[2018-03-07 21:25] mstuder95376 commented on #18287
I will not use Ansible because of the lack of error handling for unreachable hosts

[2018-03-07 21:26] danmoz commented on #34767
Thanks for fixing this guys much appreciated!

[2018-03-07 21:27] sivel commented on #37146
It isn't the ping.  A play implicitly runs the `setup` module as part of the gather facts phase.  It is failing at that location before reaching the `ping` task.

`/sbin/dmesg` is called when `/var/run/dmesg.boot` is empty or missing.  We may need to add a graceful degradation there instead of hard failing.

[2018-03-07 21:37] gearoidibm opened #37147 "psycopg2 is installed but postgresql_user gives error "the python psycopg2 module is required"."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
postgresql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default, no changes made

##### OS / ENVIRONMENT
from: macOS 10.13.3
managed: RHEL 7.4: 3.10.0-693.5.2.el7.x86_64

##### SUMMARY
The postgresql_user command fails with the error message
`FAILED! => {"changed": false, "msg": "the python psycopg2 module is required"}`

psycog2 mod

[2018-03-07 21:43] crestenstclair opened #37148 "Ansible helm completely broken, should not advertised be in the documentation and should not be in ansible contrib."
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
ansible helm
##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Pop!_OS
##### SUMMARY
The ansible helm module doesn't work in any capacity, and is so broken that I do not see any possible use case.

In my opinion, it is misleading to feature the helm module in the Ansible documentation, and then it being so broken that

[2018-03-07 21:47] bcoca commented on #37146
discussed in irc, the target is a hosted image that is missing the `/sbin/dmesg` utility, this should still not be a fatal error when gathering facts, we should fix to warn/ignore the missing utilities and present only the possible facts.

[2018-03-07 22:02] acky6012 commented on #30162
Seems to still be a problem. By chance I was attempting the same thing today. The new version of a gem has not been installed when I copied a gemfile over to the target host and then used the gem_source argument. I checked that I was also specifying that user_install = no.

[2018-03-07 22:47] #37147 closed, assigned to nobody

[2018-03-07 23:07] gundalow commented on #37096
I wonder if the `callback` plugins are what you need?

Could you please provide some more details about what you are trying to achieve. Thanks in advance

[2018-03-07 23:21] skylerbunny commented on #37096
It's probably enough for you to use the -vvv option to ansible-playbook. It will provide more to stdout than you actually want, but WILL (also) show you (in a readable format) the structure that you want to see and would save to a registered variable, in the same format the debug call would.

[2018-03-07 23:43] #36760 closed, assigned to nobody

[2018-03-08 00:07] nextgenthemes opened #37157 "Blockign people comments, BAD"
https://github.com/ansible/ansible/issues/37097

@sivel I think I was pretty clear on that I do not care to run the PPA version. But I see you are just closing off. You clearly have not even read what I posted ot thought about it.

[2018-03-08 00:09] bcoca commented on #37157
@nextgenthemes he did not block comments, he just closed the ticket based on the information in the form. You can still post on the ticket, there is no need to open ones like this one.

[2018-03-08 00:09] #37157 closed, assigned to nobody

[2018-03-08 00:13] jborean93 commented on #35536
@zikalino I tested that, it still stayed the same as the original variable declaration. The quotation is just a yaml rule but the parsing is technically done in jinja

[2018-03-08 00:14] bcoca commented on #37049
i'm fine with removing the link, at least from the non devel versions.

[2018-03-08 00:17] bcoca commented on #37106
closing as per above.

`ansible_` variables are reserved in general, you can set most of them as they are used internally for certain purposes (i.e ansible_user), but trying to  set 'ansible_local'  in a vars file, will not work, it is for internal use of the fact gathering system.

[2018-03-08 00:17] #37106 closed, assigned to nobody

[2018-03-08 00:22] zikalino commented on #35536
yes {{ var | int }} is converted to int, bit if you do "{{ var | int }}" it's converted back to string, so there's no workaround for this.

[2018-03-08 00:26] jborean93 commented on #35536
@zikalino I'm not fully sure on the rules but if you omit the `| int` and the variable is an int then the value being passed to a module is still an int. Was just a suggestion to get over this issue for now until we wait for the PR to be merged and included in a release.

[2018-03-08 00:58] alberkman commented on #35896
I had the same error.

The problem was in my tasks/main.yml. In this file, i have some include_tasks, including the main.yml itself.

This cause that error. The playbook execution is a loop.

[2018-03-08 01:14] #21397 closed, assigned to abadger

[2018-03-08 01:32] kwoodson opened #37158 "Missing support for virtualmachine generlize process in azure_rm_image"
When attempting to run the azure_rm_image module to create an image from a vm, it fails stating the vm needs to be generalized.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_image

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora release 26 (Twenty Six)

##### SUMMARY
When attempting to create an image from a vm using azure_rm_image it fails

[2018-03-08 01:34] shdobxr commented on #29283
Able to replicate this as well on Ansible
ansible 2.4.3.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/Users/user/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7.14 (default, Mar  1 2018, 19:26:37

[2018-03-08 01:46] ElijahLynn opened #37160 "ec2_group - 'purge_rules: yes' returns RulesPerSecurityGroupLimitExceeded when SG is maxed out"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 8
DEFAULT_TIMEOUT(/etc/ansible/ansible.cfg) = 30
DEFAULT_VAULT_PASSWORD_FILE(env: ANSIBLE_VAULT_PASSWORD_FILE) = /home/elijah/.ansible/vault/ansicloud-cms-stage
DEPRECATION_WARNINGS(/etc/ansible/ansible.cfg) = False
PERSISTENT_CONNECT_TIMEOUT

[2018-03-08 02:01] tchia04 opened #37161 "ansible-inventory crashes when there is an encrypted in the inventory group var"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ansible-config dump --only-changed
DEFAULT_ROLES_PATH(/home/xxxxx/yyyy/ansible.cfg) = [u'/home/xxxx/yyyy/roles']
DEFAULT_VAULT_PASSWORD_FILE(/home/xxxx/yyyy/ansible.cfg) = /home/xxxx/yyyy/.vault_pass

##### OS / ENVIRONMENT

It should not matter but here are the OS versions

[2018-03-08 03:11] #32432 closed, assigned to nobody

[2018-03-08 03:14] Virtual-Potato opened #37162 "meta: refresh_inventory does not refresh inventory from YAML-formatted inventory file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

meta

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Using the 'meta' module to refresh the inventory (refresh_inventory) does not refresh inventory from a YAML-formatted inventory file when ansible-playbook is invoked with the -i switch (see steps to reproduce)

However,

[2018-03-08 04:48] Akasurde commented on #37056
@yasa1987 Thanks for reporting back. I see traceback which needs to be fixed.

[2018-03-08 04:50] willthames commented on #29283
Put a space just after the open quote, otherwise it gets converted into a dict.

I'm not sure if we have a proper solution to this, the above is obviously a workaround.

[2018-03-08 05:07] yuwzho commented on #37158
@kwoodson  You can refer [this integration](https://github.com/ansible/ansible/blob/devel/test/integration/targets/azure_rm_image/tasks/main.yml#L62) test to deallocate the VM and create an image

[2018-03-08 05:09] Akasurde commented on #37056
resolved_by_pr #37163

[2018-03-08 05:10] felixfontein opened #37164 "Letsencrypt: ACME v2 calls need to send correct Content-Type"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
letsencrypt

##### ANSIBLE VERSION
2.5.0

##### SUMMARY
From soon on, ACME v2 clients will be required to send the correct content type when sending requests to the server (see https://community.letsencrypt.org/t/jws-post-content-type-header-enforcement/55055). The ACME v2 production server will reject requests which don't have it from March 29th o

[2018-03-08 05:12] yuwzho commented on #30142
close_me

[2018-03-08 05:13] yuwzho commented on #36677
@joaocc Since the new added parameter `managed_by` will be added in version 2.5, so the document should be refreshed when version 2.5 released (about 10days later).

[2018-03-08 05:18] yuwzho commented on #30142
bot_broken

[2018-03-08 05:39] felixfontein commented on #37164
I went through the ACME v10 diff (https://tools.ietf.org/rfcdiff?url2=draft-ietf-acme-acme-10.txt), and it looks like this is the only change which requires a change.

[2018-03-08 06:14] yasa1987 commented on #37056
Concerning the PR, is the full traceback still visible when runing ansible with options "-vvvv" ?

If not I think it'd be a good thing to add which permissions are missing in the returned message, as it's not always obvious (in my case the "Read-only" permission was missing on the datacenter).

[2018-03-08 06:25] Akasurde commented on #37056
Yes. Traceback will be visible in `-vvvv` option. I am not sure how to retrieve required permission for given operation. If you know anything around this, then I can surely update PR with that.

[2018-03-08 06:31] umrikar commented on #36030
@Akasurde new patch is failing for couple of scenarios i tested
if i try to update mtu size, if i try to change nic(vmic1 to vmnic0)

to reproduce update mtu size.Follow below steps

---
- hosts: 127.0.0.1
  connection: local
  tasks:
    - name: Add a VMware vSwitch
      action:
        module: vmware_vswitch
        esxi_hostname: <ESXI-IP>
        hostname: <ESXI-IP>
        username: root

[2018-03-08 06:38] yasa1987 commented on #37056
In the **vim.fault.NoPermission** exception there are some clues about the missing permission `object = 'vim.HostSystem:host-10',\n   privilegeId = 'System.Read'`

As the traceback is visible with `-vvvv' option its not absolutely needed to have those details in the message, but it'd be nice-to-have

[2018-03-08 06:46] robertdebock opened #37169 "Module package: Please add "allow_unauthenticated" option."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
package

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control node:: Mac OS X
Managed node: Debian & Ubuntu

##### SUMMARY
The module `apt` [allows an option](http://docs.ansible.com/ansible/latest/apt_module.html#options) `allow_unauthenticated` to be set.
It would be great if the `package` module would sup

[2018-03-08 07:07] crazychengmm commented on #13822
hi it‘s also happened  version 2.4.3.0,is it fixed?
@bcoca  @jeblair
--------------
ansible 2.4.3.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/share/ansible']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7.9 (default, Jun 29 2016, 13:08:31) [GCC 4.9.2]
--

[2018-03-08 07:36] jmauntel commented on #22169
@dcarrith I'd like to echo what @wookietreiber is saying.  We have a very modular library of roles for our infrastructure, each defining its own dependencies.  When our systems are built, many of these roles get executed several times, which doubles, and sometimes triples the build time.

I don't think this is how it was intended to work, and I'm hoping a fix in in progress.  I REALLY don't want t

[2018-03-08 07:44] berney commented on #18287
Related (open) issues:
  - #26227 clear_host_errors not working
  - #35086 clear_host_errors causes unexpected behaviour with unreachable hosts

[2018-03-08 07:51] karniemi commented on #37000
No other ansible module requires a force option for setting state as "absent". The "absent" state already specifies what the user has wanted and what will happen. Requiring a force option only makes it more complicated. But of course, it's a matter of opinions. If "Force" option is required, it should be documented (http://docs.ansible.com/ansible/latest/vmware_guest_module.html), and also the (al

[2018-03-08 07:53] joaocc commented on #36677
Ok.
Is there any way to make this idempotent (in the sense or making sure it is created) w/o having first to call the azure_rm_managed_disk_facts to see if it already exists?
If not, imho, this is breaking one of the most interesting patterns of using ansible.
Thx

[2018-03-08 08:00] Akasurde commented on #36030
@umrikar Changing MTU is OK. But replacing one vmnic with another is not implemented, as we don't have any way to specify which vmnic to remove / add / replace. Right now while updating vswitch, we are checking if user specified vmnic exists in configuration or not. If not, we **add** them.
If we need to support add / remove / update / replace vmnic in given vSwitch then user need to specify all v

[2018-03-08 08:00] sebastiendarocha commented on #36490
Sorry, didn't have time to check this bug. I think you can handle the flags like this:

[code]
The flags_set expects a array, so give him that instead of a string ;-)

Gives me on a standard 2.4.2.0 :
[code]

Is this what you expect ?

[2018-03-08 08:09] Akasurde commented on #37000
@karniemi Make sense to me. I would wait for the other people to comment on this.

[2018-03-08 09:02] flaper87 commented on #37148
FWIW, I agree! When this module was originally proposed, I had more time to work on it and maintain it. Things have changed and I've been trying to find folks interested in helping out with it.

So far I've only found angry users and it's unfair to them to keep it around in this state so I would be in favor of removing it unless someone wants to maintain it.

@honkycat would you be willing to help

[2018-03-08 09:11] nbari commented on #37112
Hi @resmo I am getting now this error:

[code]

[2018-03-08 09:13] nbari commented on #37138
Hi @resmo This one working, thanks 👍

[2018-03-08 09:15] nbari commented on #37138
Sorry works when deleting, but now while creating I get the same error as here: https://github.com/ansible/ansible/issues/37112#issuecomment-371426436

[2018-03-08 09:30] resmo commented on #37138
ok, that is because the module is not fully compatible with 2.4.

[2018-03-08 09:32] #37138 closed, assigned to nobody

[2018-03-08 09:35] resmo commented on #37112
ok, the module is not fully compatible with 2.4 anymore. My fault.

Try:
[code]

[2018-03-08 09:39] umrikar commented on #36030
@Akasurde  Thank you...i have below scenario where i am facing problem
i am using management network to connect to ESXI host(vmnic0 is on management network)
and currently vSwitch0 uses vmnic0
when i try to update it to use vmnic0 and vmnic1 i get below error.I think while configuring, ssh connection is breaking as its on same network. do you have any fix for this scenario

fatal: [127.0.0.1]: FAI

[2018-03-08 09:41] umrikar commented on #36030
or even just rerunnig

hosts: 127.0.0.1
connection: local
tasks:

    name: Add a VMware vSwitch
    action:
    module: vmware_vswitch
    esxi_hostname: 10.243.1.46
    hostname: 10.243.1.46
    username: root
    password: PASSW0RD
    switch: vSwitch0
    nics: [vmnic0]
    mtu: 9000
    validate_certs: no
    state: present

i lose ESXI host

[2018-03-08 09:41] baszoetekouw commented on #30797
I also encountered this problem and I can confirm that it is still present in 2.4.

I disagree with the expected behaviour though: if `/foo/bar` is a symlink, and I specify
[code]
I expect ansible to remove the symlink and replace it with a proper directory.

The behaviour (follow symlinks) that @allo- is suggesting should be triggered by the `follow` option.  So, if `/foo/bar` is a symlink to a d

[2018-03-08 10:03] anandumdas commented on #12196
The error happens because the binary you are trying to call from command line is only part of the current user's PATH variable, but not a part of  root user's PATH.

You can verify this by locating the path of the binary you are trying to access. In my case I was trying to call "bettercap-ng". So I ran,

`$ which bettercap-ng`

`output: /home/user/work/bin/bettercap`

I checked whether this locati

[2018-03-08 10:05] sdvgit commented on #37117
ok, than an upgrade of the plugin on our side will suffice then. Thanks for digging into the matter.

[2018-03-08 10:05] #37117 closed, assigned to nobody

[2018-03-08 10:20] ykuromiya commented on #36620
I'm sorry for inconvenience.

I mean that if the playbook contains environment variable, fact gathering fails.
And if I deleted bigip_node task, the result is not changed (the playbook fact gathering failed).
So I think using bigip_node task is not important, but environment variables for bigip_node modules are cause of this problem.

The directory layout is here.
[code]
main.yml includes subtask.

[2018-03-08 10:27] victorock commented on #36499
@trishnaguha i am trying to reproduce the issue with the latest version of Ansible.
When performing some tests directly in the box to dig this issue, i found the following:

1. TCAM memory must be defined, but as i am using virtual instance it cannot be done:
- We should catch this message provided by the OS when trying to do suppress-arp and fail. This is also breaking module's idempotency.

2. W

[2018-03-08 10:36] pkaramol opened #37177 "pip module not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

pip

##### ANSIBLE VERSION

[code]

However for remote machine, since it is an `ubuntu xenial`:

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

[code]

##### SUMMARY
The `pip` module always comes back as changed.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
When the above modules are installed, the task should

[2018-03-08 10:38] osLEccse commented on #36110
Thank you. I proposed this PR. And yes, it resolves the issue ;)

[2018-03-08 10:48] gundalow commented on #36110
@osLEccse I'm glad to hear that :)

[2018-03-08 10:58] BentCoder commented on #37096
@skylerbunny You are right! OK.
@gundalow @abadger I believe my limited knowledge didn't really help you guys so let me put it this way.

How can I print stdout of all 5 steps below?

[code]

[2018-03-08 11:01] gundalow commented on #37096
@BentCoder You'd need to use a `register:` with each one?

What are you trying to achieve with the output?

If this is just for display purposes you may want to look at the Callback plugins http://docs.ansible.com/ansible/devel/plugins/callback.html

[2018-03-08 11:24] chopraaa commented on #37177
Can you run your play with `-vvvv` and let us know what you get?

[2018-03-08 11:47] BentCoder commented on #37096
Nothing special. Just want to see what's going on with the commands. I'll have a look at callbacks. Thanks.

[2018-03-08 11:47] #37096 closed, assigned to nobody

[2018-03-08 11:51] roberulloa commented on #24864
Still unresolved.
Just use ->  jenkins_plugins_state: present -> to install jenkins
And then change to-> jenkins_plugins_state: latest -> to update the plugins.

[2018-03-08 12:17] pkaramol commented on #37177
@chopraaa Check [this gist](https://gist.github.com/pkaramol/a2506ac1fc4292f52abddca8e3062e85)

[2018-03-08 12:29] rcarrillocruz commented on #36977
not looked at this yet, will do after RC2

[2018-03-08 12:40] #37046 closed, assigned to trishnaguha

[2018-03-08 12:47] dagwieers opened #37182 "uri: Support x-www-form-urlencoded body format"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
uri

##### ANSIBLE VERSION
v2.5

##### SUMMARY
Currently the **uri** module supports two `body_format` options: raw and json

Some API back-ends work with form-urlencoded data, which is supported natively by python-requests if you provide data=dict, and it would be useful to support the same in Ansible.

See: http://docs.python-requests.org/en

[2018-03-08 13:15] pkaramol opened #37183 "uri: Unexpected return code"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]

However for remote machine, since it is an `ubuntu xenial`:

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

[code]

##### SUMMARY
The `uri` module returns unexpected value. (not informing me that the target is actually redirecting me)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RES

[2018-03-08 13:15] ssr8055 commented on #32507
@mzi77 reload is just an example of command whee dellos9_command module fails.
There are more commands in os9 which prompts for further question.
Problem with dellos9_command module was it does not support prompt in 2.2.1 ans 2.3 version.

[2018-03-08 13:16] mkaranki opened #37184 "JSON output plugin to display custom stats summary collected by set_stats module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
json callback output plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
##### OS / ENVIRONMENT
ANSIBLE_SHOW_CUSTOM_STATS=true env variable set or
show_custom_stats = True setting in ansible.cfg

##### SUMMARY
JSON output plugin is not displaying custom stats collected by set_stats module.

##### STEPS TO REPRODUCE

[code]

##### EXPEC

[2018-03-08 13:19] mzi77 commented on #32507
I have ansible 2.4, but issue is still there.

[2018-03-08 13:23] bingoarun commented on #35358
!component os_image_facts

[2018-03-08 13:36] bcoca commented on #36110
closing as per above

[2018-03-08 13:36] #36110 closed, assigned to nobody

[2018-03-08 13:42] kevensen commented on #37073
@W73 Thanks for testing this.  Do you mind indicating on PR https://github.com/ansible/ansible/pull/35709, that it fixes this issue?

It appears that https://github.com/ansible/ansible/pull/28281 also fixes this issue.  It just hadn't been back-ported in to Ansible 2.4.

[2018-03-08 14:09] W73 commented on #37073
Newbie question. I will indicate it, but how ? Write some comment and close this issue ?

[2018-03-08 14:10] bcoca commented on #37169
package is not meant to support every feature some package manager does, only features they ALL do.

[2018-03-08 14:10] #37169 closed, assigned to nobody

[2018-03-08 14:11] skylerbunny opened #37186 "Default stdout_callback should not be named "default""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/plugins/callback/default.py

##### ANSIBLE VERSION
devel

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It's a bad UI design choice to name a default value for a parameter 'default'. Default is implied by the fact that if the parameter isn't declared, it's assigned value X, where X is a _descriptive_ value.

I wa

[2018-03-08 14:11] #37164 closed, assigned to nobody

[2018-03-08 14:11] dagwieers opened #37187 "Failure in failed_when masks task output"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION
v2.5 and older

##### SUMMARY
If you have a task with a `failed_when` directive that fails (because i.e. the resulting output doesn't contain a specific key) the task fails without showing exactly what the resulting output was.

It would be much better to show the output of the task if the task was performed, so tha

[2018-03-08 14:39] Nicarim commented on #30239
How is it possible it's still not fixed? It deems this functionality useless.

[2018-03-08 14:48] kwoodson commented on #37158
@yuwzho,

Thanks for the reply.  I found that documentation and was attempting that same procedure except the referenced example is not creating an image from a virtual machine as far as I can tell.  It looks like it is creating an image from a disk.  See below:
[code]
Notice the source is the path to a `vhd`.  This is not a virtual machine but a virtual machine's disk.  The example code works fin

[2018-03-08 14:51] W73 commented on #37073
Although it run against CentOS7/RHEL7 it does not work against RHEL6
[code]
account    required pam_nologin.so is present in pam.d/sshd

[2018-03-08 14:56] kevensen commented on #37073
@W73 Thanks for doing more testing.  I'll dig in to this later today.

[2018-03-08 15:02] samdoran commented on #36490
That's true. It's even set to `type=dict` in the argument spec. I would think it'd fail type validation, or be split into a dict. Let me look into some more.

Thanks for pointing that out!

[2018-03-08 15:23] sivel commented on #37182
I've tagged this for the 2.7 release.  As this is a core module, new features will be delayed until 2.7.

[2018-03-08 15:25] dagwieers commented on #37182
Oh sure, I didn't know core modules were covered as well. I'll update the PR to indicate 2.7.

[2018-03-08 15:27] jbarotin opened #37193 "Exception is raised while accessing to a dictionnary as src in a template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OSX

##### SUMMARY

##### STEPS TO REPRODUCE
See at the playbook below :
[code]

##### EXPECTED RESULTS
I need a comprehensive error message, when I execute this playbook.

##### ACTUAL RESULTS
[code]
ps: big thanks to the ansible team for this beautiful piece o

[2018-03-08 15:28] sivel commented on #37186
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature change in the program.

However, we're absolutely always up for discussion.  Since this is a really busy project, we don't always see comments on closed tickets, but want t

[2018-03-08 15:28] #37186 closed, assigned to nobody

[2018-03-08 15:32] bcoca commented on #37193
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-03-08 15:32] #37193 closed, assigned to nobody

[2018-03-08 15:36] jbarotin commented on #37193
Mmm, I have fixed my issue myself, I wanted to say that the message is not very friendly :
[code]

[2018-03-08 15:46] bcoca commented on #37193
agreed, I'll try to make that nicer.

[2018-03-08 16:05] #37112 closed, assigned to resmo

[2018-03-08 16:08] Gaby033 opened #37198 "vmware_guest - Create VM from template with IP settings"
This looks like this issue : #33380 but there was no activity since 2 months there, so I decided to open my own issue (hope I did well :D)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
AWX version: 1.0.4.57
AWX install method: docker on linux
Operating System: Centos 7.4

Inside docker contai

[2018-03-08 16:15] Hubro commented on #27520
@fpoulain The workaround didn't work for me unfortunately:

I'm using Vagrant + Ansible and I haven't found a viable workaround for this, so currently I have to run the playbook twice and let it crash the first time.

[2018-03-08 16:33] jean-christophe-manciot opened #37200 "docker_container tries to import an obsolete docker-py which has been replaced by docker PyPi module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 docker_container

##### SUMMARY
Running the following playbook leads to the issue ```Failed to import docker-py - No module named ssl_match_hostname.```

##### ENVIRONMENT
* Ansible version: v2.4.3.0-1
* Operating System: Ubuntu 17.10
* docker-py: 1.10.6

##### STEPS TO REPRODUCE

Run the following playbook:
[code]

##### EXPECTED RESULTS

Post

[2018-03-08 16:35] jean-christophe-manciot commented on #37200
Exact same issue on the latest unstable version:
[code]

[2018-03-08 17:09] sivel commented on #37186
We would however entertain DOCUMENTATION updates to the `default` callback to describe it's behavior and output in more detail.

[2018-03-08 17:16] sivel commented on #37200
This is not a direct issue of ansible.  The `docker-py` python module requires `backports.ssl-match-hostname` as a dependency and must be installed.  A typical `pip install docker-py` should install something similar to:

[code]

I see from above that your pip install is reporting that the dependency is already resolved, however docker-py seems to be unable to find it.

Try uninstalling and reinst

[2018-03-08 17:16] #37200 closed, assigned to nobody

[2018-03-08 17:23] samdoran commented on #37123
@celebdor Can you test with #37152?

[2018-03-08 17:24] alikins commented on #36304
@Nitesh-vaidyanath Can you try to reproduce this with ansible-2.4? 2.4 should use the available 'cryptography' module in that virtualenv.

2.3 didn't support 'cryptography' at and would always use 'Pycrypto'. However ansible-2.3 is supposed to work with 'Pycrypto' 2.6.1  so this seems like a bug in ansible-2.3.

[2018-03-08 17:59] newswangerd opened #37208 "check_mode breaks on junos_banner"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_banner

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

`check_mode: yes` causes junos_banner tasks to fail

##### STEPS TO REPRODUCE

Run the following task

[code]

[code]

##### EXPECTED RESULTS

Module should run and not change the login banner

##### ACTUAL RESULTS

[code]

[2018-03-08 18:58] evankroske opened #37209 "RDS docs don't mention the attributes "endpoint" and "instance" of the return value"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
rds

##### ANSIBLE VERSION
2.4

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The attributes "endpoint" and "instance" of the return value of the RDS module aren't documented. [The documentation](http://docs.ansible.com/ansible/latest/rds_module.html#return-values) doesn't mention either of them, even though the ex

[2018-03-08 19:25] saichint opened #37210 "nxos_vrf_af issues"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

nxos_vrf_af
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I7(2)
##### SUMMARY

##### STEPS TO REPRODUCE

* There is a minor issue with nxos_vrf_af module. When we do not specify "route_target_both_auto_evpn" parameter in the playbook it is taking as False and removing the configur

[2018-03-08 19:36] #37123 closed, assigned to samdoran

[2018-03-08 20:24] jborean93 commented on #36620
@ykuromiya finally got there in the end :). The issue is that the environment value for `F5_VALIDATE_CERTS` is being casted to a boolean and the wrapper that handles this fails when it tries to escape it `[System.Boolean] does not contain a method named 'Replace'`. I've raised a PR to handle these scenarios https://github.com/ansible/ansible/pull/37215 but in the meantime you should be able to wor

[2018-03-08 21:21] #37120 closed, assigned to nobody

[2018-03-08 21:32] sjentzsch opened #37220 "digital_ocean.py --list returns TypeError"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
digital_ocean.py inventory script

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ansible runs on 16.04 Ubuntu 64-bit

##### SUMMARY
`./digital_ocean.py` returns with a TypeError after setting up the api_token in `digital_ocean.ini`.

##### STEPS TO REPRODUCE
Download the `digital_ocean.py` and `digital_ocean.ini` inve

[2018-03-08 21:36] sjentzsch commented on #37220
Similar to #31557 though it was closed - if s/o can confirm I would request to re-open this issue?

[2018-03-08 21:37] bentcoder opened #37221 "Could not match supplied host pattern, ignoring while provisioning with vagrant"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac Os 10.10.5

##### SUMMARY
Getting `[WARNING]: Could not match supplied host pattern, ignoring: webservers` message while running provisioning with vagrant up.

##### STEPS TO REPRODUCE

**demo/hosts**
[code]

**demo/site.yml**
[code]

**demo/provision

[2018-03-08 22:02] #36620 closed, assigned to nobody

[2018-03-08 22:12] arwinters commented on #35468
This fix is not working. No inventory is returned. I checked the fixes in the code to see if the max_result parameter is parsed correctly, and this is the case. Probably  the problem exists in the infoblox_client library.

[2018-03-08 22:14] caphrim007 commented on #36504
needs_info

[2018-03-08 22:20] freeseacher opened #37224 "consul_kv cas opertation broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
consul_kv

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Cas operation require read than update if changed. last ansible version fails with

##### STEPS TO REPRODUCE
[code]
full file: https://github.com/nocproject/ansible_deploy/blob/microservices/system_roles/consul/tasks/service_config_upda

[2018-03-08 22:26] freeseacher commented on #37224
As far as i can see changes made in https://github.com/ansible/ansible/pull/32340 by @dagwieers
Dag can you please made value not required as it was before.

[2018-03-08 22:58] victorock commented on #35468
There is a max for max_results.
It should rely on pagination and follow next_page_id...as workaround you can define different filters and create a wrapper  to call/merge  the multiple results...

[2018-03-08 23:05] honkycat commented on #37148
@flaper87 Yes, absolutely, this is something I'm completely capable of helping with and I'd love to contribute.

I'll take a look at fixing https://github.com/ansible/ansible/issues/32513 tonight.

[2018-03-08 23:51] jdswiew commented on #35358
Hi,
@bingoarun : what do you mean ?

[2018-03-08 23:52] rogerscuall opened #37227 "NX_OS ignoring save_snapshot_locally."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
nxos_snapshot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
NX-OS nxos.7.0.3.I2.2d.bin

##### SUMMARY
The module is creating the snapshot but is not saving the snapshot locally.

##### STEPS TO REPRODUCE
Using this:
[code]

##### EXPECTED RESULTS
One or more files under the folder **nexus-snapshots**.

#####

[2018-03-08 23:53] rogerscuall commented on #37227
Also if the `action=compare` the result is not copied locally either.

[2018-03-08 23:56] rogerscuall commented on #37227
I also found that using this:
[code]
Will return an error:
[code]
That should be another problem, snapshot1 and snapshot2 is only for `action=compare`.
Thanks.

[2018-03-09 00:02] wintersa commented on #35468
Yes that is correct. But the max of the max_results is not the issue. I gathered my findings and post this soon. The problem is that when I set the max_results value on 10 in the infoblox.yml. The output is still the same. And tested by change the default value from 1000 to 10 in the nios api module. But no luck.

[2018-03-09 00:15] jmighion commented on #34196
Have the same problem with include_tasks. Using the old include works for now, but is deprecated.

No tags from within the included tasks are picked up
[code]

Currently works but is deprecated
[code]

[2018-03-09 03:46] shdobxr commented on #29283
Hey @willthames  still not understanding.

I have tried various machinations of this.
"{{ lookup('file','./Policy/web_bucket_policy.json') }}"
"{{ lookup('template' ,{{ item.policy }})}}"

[2018-03-09 03:50] Akasurde commented on #37220
@sjentzsch Thanks for reporting this issue. Could you please try with this [Patch](https://github.com/ansible/ansible/pull/33486) and let us know if it works for you ? This is fixed in 2.4.4 and your version is 2.4.3.

needs_info

[2018-03-09 05:28] #32506 closed, assigned to nobody

[2018-03-09 05:51] jborean93 commented on #33127
@Nothingtoloose @dagwieers this was a puzzling one to try and track down as Windows does not make this easy. I was able to figure out the reason why this occurs and have created a PR to fix this in the various instances that it would be affected. If you are able to test it out that would be great https://github.com/ansible/ansible/pull/37229

[2018-03-09 06:09] arjunprakashn opened #37230 "usage of the vcsa-role provided by ansible"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Need the proper documentation for usage of https://github.com/vmware/ansible-role-vcsa

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

NA
##### ACTUAL RESULTS

[code]

[2018-03-09 06:22] arjunprakashn opened #37231 "Need to detect a successful deployment of VCSA"
##### ISSUE TYPE

  - Documentation Report

##### COMPONENT NAME

VCSA
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

how to detect a successful deployment of  vCenter Server Appliance ,after successful deployment of VCSA and PSC through playbooks.

##### STEPS TO REPRODUCE

I am deploying vcsa through playbook and i need to detect a successful d

[2018-03-09 06:30] mr-brody commented on #19584
I faced two errors while running 'ansible all -m ping' and stumbled on this thread to t-shoot. I want to thank everyone for their inputs as it helped me figure this out.

:ERROR-1:
Steps to fix this message: "msg": "Failed to connect to the host via ssh: Permission denied (publickey,password).\r\n"
1)I modified fix configuration file at /etc/ansible/hosts to include the proper username 'ubuntu'
2)

[2018-03-09 06:42] trishnaguha commented on #36499
@victorock Thanks for the detailed result. +1 to add parser in terminal plugin to catch error.
Although we plan to do this on devel branch, not 2.5 at this point of time as plugin code is shared by other modules also.

[2018-03-09 06:46] yuwzho commented on #22197
close_me

Since we cannot reproduce it and user has not updated it for 10 monthes

[2018-03-09 06:48] #22197 closed, assigned to nobody

[2018-03-09 06:50] #37210 closed, assigned to trishnaguha

[2018-03-09 07:00] yuwzho commented on #29586
close_me

Bug is already resolved for a long time

[2018-03-09 07:04] yuwzho commented on #29317
close_me

since the last test was successful from the submitter

[2018-03-09 07:05] yuwzho commented on #21825
resolved_by_pr #28391

[2018-03-09 07:54] bingoarun commented on #35358
@jdswiew : My bad, I saw the previous ansibot comment and tried to add the label. Now that I see, it is already added manually. You can ignore my previous comment.

[2018-03-09 08:16] trishnaguha commented on #37227
@rogerscuall I am unable to reproduce your issue with `action:create`. It works fine for me.
for `action: compare`, `comparison_results_file` is a required option.
Fixed the doc, and required option check in a PR.
Can you please try the module on devel branch?

To test on devel branch:
[code]
`ansible --version` should return `devel 2.6.0`.

I tried this playbook:
[code]

[2018-03-09 08:26] bingoarun commented on #35358
!component =lib/ansible/modules/cloud/openstack/os_image_facts.py

[2018-03-09 08:27] bingoarun commented on #35358
@jdswiew : That is for the bot to update "Files identified in the description". Refer the bot comment.

[2018-03-09 08:45] dagwieers opened #37235 "win_eventlog_filter: Query event-log for specific events"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_eventlog_filter

##### ANSIBLE VERSION
v2.6

##### SUMMARY
It would be very useful to query the event-log for specific events based on IDs, severity, time-frame, etc... (e.g. event-id 8006 means that an improper shutdown was detected).

This way an operations team could get an overview of specific issues on their complete Windows infrastru

[2018-03-09 09:16] trishnaguha commented on #36801
Related issue: https://github.com/ansible/ansible/issues/36499.
`hsrp 1301`. The group 1301 was not created, `show running-config` only shows upto `hsrp version 2`.

The device returns error when hsrp sub commands are executed after `hsrp 1301` stating: `ERROR: Group 1301 is not created`. So this isn't module/idempotence issue.
nxos terminal plugin fails to catch the error, hence returning `change

[2018-03-09 09:27] trishnaguha commented on #36801
With the PR https://github.com/ansible/ansible/pull/37237,
the actual error is caught, instead of silently ignoring the error and returing `changed: true`.
[code]

[2018-03-09 09:38] Kanshiroron opened #37238 "remote_src=true with template causes Module (template) is missing interpreter line"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux cf9ec7d3290d 4.9.0-6-amd64 #1 SMP Debian 4.9.82-1+deb9u3 (2018-03-02) x86_64 GNU/Linux

##### SUMMARY

Template module can't be run: `"module (template) is missing interpreter line"`
Tested on version 2.3.0, 2.4.0 and 2.4.3.0, on python 2 and 3.5,

[2018-03-09 09:50] gevial opened #37239 "cloudfront_distribution changes forwarded headers order again and again"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
cloudfront_distribution

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Ansible always trying to change CloudFront distribution's forwarded headers order.

##### STEPS TO REPRODUCE

1. Create CloudFront distribution with forwarded headers as shown below:

[code]
2. Run playbook again

##### EXPECTED RE

[2018-03-09 09:58] arsh9295 opened #37240 "Got stuck on raw module for Aix machine"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Using row module for python, it is fine when not using AIX machine, but it got stuck on raw module with AIX machine

##### STEPS TO REPRODUCE

main.yaml

# tasks file for abcd
[code]
# Inventory

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

Got su

[2018-03-09 10:08] nicklasring commented on #29927
Just encountered this aswell, fix would be nice
FAILED! => {"changed": false, "failed": true, "msg": "attempted to take checksum of directory: /tmp/prometheus-2.2.0.linux-amd64/consoles"}

[2018-03-09 10:16] victorock opened #37241 "Ansible Galaxy: skel for network role"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The current default skels do not consider the specificities of network role and development of new modules.

##### STEPS TO REPRODUCE

N/A

##### EXPECTED RESULTS

[code]

[2018-03-09 10:45] ericcitaire opened #37242 "maven_artifact should support check mode and return URL"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
maven_artifact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`maven_artifact` should support check mode and return artifact URL. Or have a state `resolve`.

This could be useful, for example, to resolve an artifact URL and use it with `unarchive` without having to download the artifact in a

[2018-03-09 10:54] nlsantos commented on #23618
Could someone chime in on what this issue needs to move forward?

[2018-03-09 11:46] okgolove opened #37247 "Display terraform stdout interactively"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

terraform

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I want to see stdout from terraform interactively

##### STEPS TO REPRODUCE

Just run terraform applying

[code]

##### EXPECTED RESULTS

Dynamic stdout from terraform
##### ACTUAL RESULTS

I don't know what's happening during `terra

[2018-03-09 11:49] okgolove commented on #37247
If we can't add interactively output, can we add something like log file in parameters? It's really hard to debug without stdout.

[2018-03-09 13:08] johncapobianco commented on #36801
Do you have feature HSRP enabled in your global config?

feature hsrp

Because my SVIs all have the HSRP configured - see the attache / sample:

interface Vlan1301
  vrf member LoP_OPZone
  no ip redirects
  ip address 10.144.0.2/24
  ip router ospf 100 area 0.0.0.130
  hsrp version 2
  hsrp 1301
    authentication md5 key-chain hsrp-md5-key
    preempt delay minimum 120 reload 300
    priority 25

[2018-03-09 13:08] jean-christophe-manciot commented on #37200
@sivel
I have 2 comments:
- have you really tried to run the aforementioned playbook on your host?
- I cannot have any backports module incompatibilities:
[code]

[2018-03-09 13:29] trishnaguha commented on #36801
@johncallender yes I have `hsrp` enabled.
Is this your output for `show run | section interface.Vlan1301`?

[2018-03-09 13:32] johncapobianco commented on #36801
LAB-N7K-1-MG06TSZKG-DC-AGG# sh run | section interface.Vlan1301
interface Vlan1301
  vrf member LoP_OPZone
  no ip redirects
  ip address 10.144.0.2/24
  ip router ospf 100 area 0.0.0.130
  hsrp version 2
  hsrp 1301
    authentication md5 key-chain hsrp-md5-key
    preempt delay minimum 120 reload 300
    priority 255
    ip 10.144.0.1
  ip dhcp relay address 10.167.128.127
  ip dhcp relay addres

[2018-03-09 13:33] jean-christophe-manciot commented on #37200
- I also tried all **9** versions of ```docker-py``` from 1.10.6 down to 1.10.0: they all yield to the same issue.
- Same remark about all **3** last releases of ```backports.ssl-match-hostname``` between and including 3.5.0.1 --> 3.4.0.1.
I doubt that there is an issue directly from these packages.

[2018-03-09 13:47] ryansb commented on #37247
Realtime output is something that's being worked on as an Ansible core feature, so we will not be able to add that to this module immediately. Looking over the code, it seems like the stdout from the apply is being overwritten before the module returns, which is an oversight on my part.

[2018-03-09 13:50] rcarrillocruz commented on #37238
If you are just copying the file, why not just 'copy' task instead of 'template'.
'template' is meant to be used on jinja2 templates, to interpolate variables.

[2018-03-09 13:54] andmos commented on #33243
@dagwieers had a go on implementing it. You can have a look at the PR when you find the time.

[2018-03-09 13:54] #36979 closed, assigned to ganeshrn

[2018-03-09 13:55] rcarrillocruz commented on #37231
Can you please confirm if you are asking how to perform that task or you are suggesting to add such howto to docs?

If docs, please describe a bit more what content you have in mind.

Regards

[2018-03-09 13:55] s-hertel commented on #37160
Currently, what rules are being purged are being calculated by passing around a reference to a dict and deleting rules from it as they are found. I have a major refactor in the works that I'll make a PR for today that will fix this as well as make the module more efficient (right now it is calling authorize/revoke once every since rule, while those calls are capable of taking a list of rules).

[2018-03-09 13:56] rcarrillocruz commented on #37230
I'm afraid that role is not provided by Ansible, as it's within VMWare repo.
I suggest you open the PR or issue in their project.

Thanks

[2018-03-09 13:56] #37230 closed, assigned to nobody

[2018-03-09 14:03] okgolove commented on #37247
Yes, there are stdout and stderr in variable, but for me isn't very conveniently registering and debugging in production playbooks.
But may be I'm finding fault. :)

[code]

[2018-03-09 14:17] okgolove commented on #37247
Also thx for the hint - I've found mispelling (sdtout instead of stdout).
https://github.com/ansible/ansible/pull/37253

[2018-03-09 14:22] #36708 closed, assigned to nobody

[2018-03-09 14:23] kamikaze commented on #37247
+1

[2018-03-09 14:31] karniemi opened #37254 "vmware.py:find_vm_by_id() fails when a VM is deleted from the folder"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

vmware.py:find_vm_by_id() fails when a VM is deleted from the folder during the search. The relevant piece of code:
* https://github.com/ansible/ansible/blob/5e827f4cc437bf3529da7fb0ff66875570c14c39/lib/ansible/module_utils/vmware.py#L215-L

[2018-03-09 14:55] johncapobianco commented on #36801
Here is the full out put in verbose mode

TASK [Create NXOS SVI configuration] ********************************************************************************************************************************************************************************************************
task path: /home/capobj/DC/Lab-Infrastructure/tasks/configurations/nxos/configure_nxos_platform_vlan_interface.yml:3
<LA

[2018-03-09 15:18] bcoca commented on #37193
@jbarotin  see if the PR above for a better message

[2018-03-09 15:31] abadger commented on #37148
@honkycat  Cool.  You can add your github IRC nick to the .github/BOTMETA.yml file when you add a PR for the helm module as well. (That will get you notified of new tickets and PRs against the helm  module and a few additional commands you can use with the bot to approve and merge PRs).

[2018-03-09 15:36] s-hertel commented on #37221
How are you specifying which hosts files to use?

[2018-03-09 15:45] AlanCoding commented on #28480
That sounds like a fine solution. I would be open to a new translation layer in the modules if a better existing precedent of vars handling in Ansible modules can be shown.

The reason we have the "@" to get things from file is because we emulated the Ansible CLI, `--extra-vars=@file.yml`.

[2018-03-09 15:51] daBONDi opened #37258 "ansible(-playbook) not support non ASCII chars as ansible-vault encrypted string"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ansible-vault, ansible vault decryption

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_NOCOWS(/opt/it-infra/ansible.cfg) = False
DEFAULT_CALLBACK_WHITELIST(/opt/it-infra/ansible.cfg) = ['profile_tasks', 'timer
DEFAULT_FILTER_PLUGIN_PATH(/opt/it-infra/ansible.cfg) = [u'/opt/it-infra/filter_
DEFAULT_MODULE_PATH(/opt/it-infra/ansible.cfg)

[2018-03-09 15:55] kevensen commented on #36700
@aboe76 I did test this against RHEL 7.4 using the playbook you provided.  I believe #35709 addresses this issue.  Could your module path not be pointing where you think?

@schaten I also tested this against your playbook.  #35709 addresses your error as well.

[2018-03-09 15:59] BentCoder commented on #37221
I don't have anything in particular to say "use this `hosts` file" in my code. I also never knew if I had to either. Could you please tell/show me where I should specify it?

[2018-03-09 16:02] alexpilon666 opened #37259 "azure_rm_virtualmachine new feature request (Auto-shutdown & Boot/Guest OS Diagnostics)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

--> azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A, out-of-the-box experience.

##### OS / ENVIRONMENT
Running Ansible on Ubuntu Server 16.04 LTS, managing Windows/Linux VMs in Azure

##### SUMMARY
New features in Azure RM not yet available in azure_rm_virtualmachine

##### STEPS TO REPRODUCE
**New feature #1:

[2018-03-09 16:07] kevensen commented on #37073
@W73 I double checked this against RHEL 6.  It appears that #35709 produces the desired result.  Do you mind double checking?

[2018-03-09 16:08] jean-christophe-manciot commented on #37200
As indicated by @TomasTomecek when I reported this issue to the [docker-py project](https://github.com/docker/docker-py/issues/1947#issuecomment-371832526), the former PyPi module```docker-py```  is not maintained anymore.
As indicated by the [official documentation](https://github.com/docker/docker-py), it must now be install with ```pip install docker``` (also cf. [docker on PyPi](https://pypi.p

[2018-03-09 16:12] dathelen commented on #31862
@trishnaguha not sure I follow.  So these options are mutually exclusive.  I can configure them independently on the CLI without warning.  I think if the module is making support/no-supported decisions this should be shown in an error message.

[2018-03-09 16:13] sivel commented on #37200
The docker modules within ansible already contain functionality to properly import `docker` vs `docker-py`.  Due note however that you cannot have both `docker` and `docker-py` installed at the same time, as they utilize the same namespace.

[2018-03-09 16:20] Kanshiroron commented on #37238
@rcarrillocruz , sorry the name of the task is missleading, it is a template.

[2018-03-09 16:22] jean-christophe-manciot commented on #37200
No, I have only docker module installed and the issue is still there:
[code]

[2018-03-09 16:28] sivel commented on #34196
This is working as expected.  However in ansible 2.5 changes have been made to make this more predictable.

tags inside of an include do not bubble up to the include itself.  In 2.5 tags applied to an include do not merge down onto the tasks within.

It is the intention that tags and arguments applied to an include affect the include itself, and not the tasks within.

Using a task like the followi

[2018-03-09 16:28] #34196 closed, assigned to nobody

[2018-03-09 16:28] s-hertel commented on #37221
If you look at your config you should see what the defaults are:
[code]
You can change that default in your config file (ansible.cfg) or as the environment variable ANSIBLE_INVENTORY. You can also specify hosts files on the command line using the -i option after ansible-playbook (you can give it a single path, comma-separated list, or directory).

`ansible-playbook -i demo/hosts yourplaybook.yml`

[2018-03-09 16:33] sivel commented on #37238
That error is strange.  The template module is implemented completely server side and should never indicate that error message.

The only way I can reproduce this is by removing the `template` action plugin.

Can you confirm that you have a file at the following path?

[code]

needs_info

[2018-03-09 16:36] sivel commented on #37045
Can you confirm whether https://github.com/ansible/ansible/pull/37083 addresses your specific problem?

I've tested against the reproducer you gave, but would be nice to know if it works against your real world problem as well.

[2018-03-09 16:54] Kanshiroron commented on #37238
Thanks @sivel for your answer.

I do confirm the `/usr/local/lib/python3.5/dist-packages/ansible/plugins/action/template.py` file exists.

The playbook is run **localy**, that may explain why this error message appears (?)

[2018-03-09 16:56] s-hertel commented on #37221
@BentCoder it looks like you can use https://www.vagrantup.com/docs/provisioning/ansible_common.html#inventory_path.

[2018-03-09 17:17] Kanshiroron commented on #37238
I tried the playbook on a remote server and it works correctly, the template has been generated. So it definitively seems to be a 'local' only issue.

[2018-03-09 17:19] sivel commented on #37238
What do you mean by "tried the playbook on a remote server"?  Still executing ansible from the same machine but targeting a remote instance.  Or did you copy the playbook to a remote server and execute it there?

[2018-03-09 17:19] pffs opened #37262 "Junos Netconf doesn't work via Bastion"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- junos modules using netconf transport

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- Tested on Cygwin and Ubuntu 16.04

##### SUMMARY

When connecting via Bastion, network_cli works, but netconf does not. The same playbook when run from the bastion directly works as expected. Logs look like the netconf

[2018-03-09 17:23] sivel commented on #18341
resolved_by https://github.com/ansible/ansible/pull/36372
resolved_by https://github.com/ansible/ansible/pull/37024

[2018-03-09 17:23] bcoca commented on #37238
@Kanshiroron we are missing a lot of the output then

[2018-03-09 17:27] gundalow commented on #37262
Could you please test on 2.5.0rc2?

[2018-03-09 17:30] Kanshiroron commented on #37238
@bcoca I removed logs at the beginning, but this is the only log that I have for this task. Here are the full log:

[code]

[2018-03-09 17:45] umrikar commented on #36030
@Akasurde Thank you...new logic works fine.Let me know once you add new functionality in new PR

[2018-03-09 17:57] sivel commented on #37238
It makes no sense that changing the target host should impact this at all.

The only way I can get that output, as described above, is if the template action plugin is missing.  Otherwise it should never show the following message:

[code]

Is it possible that you could make an modification to your ansible source to display some extra info?  Maybe like:

[code]

For me, that outputs something like

[2018-03-09 18:13] alikins commented on #26190
I poked at this a little yesterday and braindumped some thoughts in code comments at https://github.com/alikins/ansible/commit/603cac4a041a10ec8186617c95ef539a9ece787a

(copied/paraphrased here for discussion)

The downside to that approach is that it points out the limitations of the current !vault format. It may also be useful to extend !vault to support getting a data structure with info in it

[2018-03-09 18:19] Kanshiroron commented on #37238
@sivel thanks again for your answer
After my working test on a remote server, I changed it back to `localhost` and it failed again...
I'm no longer at work, so I'll apply your changes and test again on Monday.

[2018-03-09 18:21] Kanshiroron commented on #37238
But my install is pretty straight forward as I test it in a Docker (debian:stretch-slim). I only do a `apt install -y python3-pip` then a `pip3 install ansible`

[2018-03-09 18:23] ElijahLynn commented on #18161
Darn, I somehow got passed this issue but have no recollection of what was done to do that. I don't have anymore info unfortunately.

[2018-03-09 18:36] sivel commented on #37238
Thanks.  Keep us updated.

I just tried in a back `debian:stretch-slim` container without issue.

[2018-03-09 18:40] Kanshiroron commented on #37238
O.o ok... Will definitively test it on Monday

[2018-03-09 18:43] bravomail commented on #12686
Here's what worked for me on ansible 2.4.0.
In the ansible.cfg I set my own su script
su_exe="/path/to/mysu.sh"

Here's script
#!/bin/ksh
#mysu.sh "user" -c "cmd"
if [ $# -lt 3 ]; then
  echo 'Not enough arguments: mysu.sh "user" -c "cmd"' >&2
  exit 1
fi
if [ x"-c" != x"$2" ]; then
  echo 'Wrong 2nd arg:  mysu.sh "user" -c "cmd"' >&2
  exit 1
fi
printf '%s\n' "$3" | sudo su - "$1"

[2018-03-09 18:58] rogerscuall commented on #37227
Hi @trishnaguha, I'll try to test this today. Is there a way that you can provide a docker image with `2.6.0` in it?

[2018-03-09 18:59] alikins commented on #37247
I would say 'incrementally' instead of 'interactively', but that is mostly because my brain wants to automatically  :-1: anything 'interactive'.

Partial updates/ incremental updates/ progress updates is something being considered for the future though.

[2018-03-09 19:06] gundalow commented on #37262
pffs has informed me this is still broken on 2.5.0rc2

I think this is something that needs fixing for 2.5.1, adding to project board

[2018-03-09 19:07] rogerscuall commented on #37227
I also have another question, can we return in the output of the module more information about it. For example when `action=compare` if we use a register and a debug we only get back:
[code]

[2018-03-09 19:08] gundalow commented on #37262
Can you please remove `provider:` and test with `connection: netconf`
See http://docs.ansible.com/ansible/devel/network/user_guide/platform_junos.html for details

[2018-03-09 19:27] rogerscuall commented on #37227
I followed your steps for the installation but it does not look like is working for me.
[code]
If I run the playbook:
[code]
Thanks.

[2018-03-09 20:09] pffs commented on #37262
Tested on 2.5.0rc2, looks the same:

[code]

[code]

[2018-03-09 20:25] BentCoder commented on #37221
It was a great help. Thank you very much.

Solution:

1. Add `ansible.inventory_path = "provisioning/hosts"` to Vagrantfile
2. Change `web1` to `machine2` in hosts file because when Vagrant builds virtual machines, it prefixes their name with `machine` and suffixes them with counter value so I had `machine1` and `machine2`. I picked `machine2` as webserver in this case.
3. Add `ansible_host=192.16

[2018-03-09 20:25] #37221 closed, assigned to nobody

[2018-03-09 20:36] pffs commented on #37262
Testing with the new connection variables. Script looks like:
[code]
group_vars/junos.yaml
[code]
inventory
[code]
On the ansible node, tcpdump shows packets straight to the host:
[code]
Play output with -vvv:
[code]
and logs:
[code]
Just to make sure the bastion bits works, I ran just the junos_netconf module with the ansible_connection set to network_cli instead, and worked just fine, so still s

[2018-03-09 20:54] sivel commented on #36787
I've bisected this back to https://github.com/ansible/ansible/commit/ef96329ae2279b3480261b8b737a8d41da663e5e

[2018-03-09 21:03] #18341 closed, assigned to jimi-c

[2018-03-09 21:15] sivel commented on #18396
This issue was resolved in a7abe4be19d01b9a2e1a83f4720037aaa067d666 and was subsequently included in the v2.2.1 release.

[2018-03-09 21:15] #18396 closed, assigned to jimi-c

[2018-03-09 21:18] sivel commented on #36006
Closing as a duplicate of https://github.com/ansible/ansible/issues/19084

[2018-03-09 21:18] #36006 closed, assigned to nobody

[2018-03-09 21:27] sivel commented on #19438
This issue was resolved in ef96329ae2279b3480261b8b737a8d41da663e5e and was subsequently included in the v2.4.1 release.

[2018-03-09 21:27] #19438 closed, assigned to bcoca

[2018-03-09 21:35] sivel commented on #19472
This issue was resolved in debfb798dd15c9cea0ebfdc95e4bce9cc459c039 and subsequently included in the v2.2.1 release.

[2018-03-09 21:35] #19472 closed, assigned to bcoca

[2018-03-09 22:28] ElijahLynn commented on #37160
Nice! Following your PR.

[2018-03-09 22:37] samdoran commented on #36490
Upon further investigation, I see that problem is `flags` and `flags_set` are expected to be lists, not strings. When `tcp_flags` is passed in as a `k=v` string, Ansible splits the string on spaces and equal signs into a dictionary, resulting in `{'flags': 'ALL', 'flags_set': 'ACK,RST,SYN,FIN'}`.

I believe the best solution is to ensure the values in those fields are always lists. This would not

[2018-03-09 23:06] sivel commented on #20589
I have tested on v2.2.0 through v2.5.0 and I cannot duplicate this behavior.  Based on the information here, I put together the following reproducer:

playbook.yml:
[code]

roles/test1/tasks/main.yml:
[code]

roles/test2/tasks/main.yml:
[code]

roles/test2/tasks/one.yml:
[code]

roles/test2/tasks/two.yml
[code]

This results in the following output:

[code]

Changing all of the includes to dynamic

[2018-03-09 23:10] sivel commented on #20589
needs_info

[2018-03-10 00:27] bentcoder opened #37266 "Common handlers get applied to ONLY single machine when provisioning more than one machines"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac Os 10.10.5

##### SUMMARY
When one machine is provisioned, NTP is synchronized on it. However, when two machines are provisioned, NTP is synchronized on `linux2` but not on the `linux1`.

##### STEPS TO REPRODUCE

Run `$ vagrant up` to reproduce the i

[2018-03-10 01:03] yuwzho commented on #37259
Thanks for your idea, we will put this request in our backlog.

[2018-03-10 01:28] zswanson commented on #37266
What do you mean by 'common handlers'?
Your play output clearly shows that the start and restart handlers were applied on both hosts. (although you were limiting to 1 host per run of the playbook)

[2018-03-10 02:01] ntwrkguru commented on #32868
@Akasurde Sorry for the delay. This is absolutely still a bug.

How to reproduce:

1. Run sample playbook posted above, using correct credentials.
2. Rerun the same playbook but enter a bad password.

The debug will echo the correct password in clear and will show `"failed": false`

[code]

[2018-03-10 02:30] samdoran commented on #34243
The error messages don't match exactly what I'd expect to see, but it _could_ be the command prompt timing out. Try setting increasing `ANSIBLE_PERSISTENT_COMMAND_TIMEOUT` and/or `ANSIBLE_PERSISTENT_CONNECT_TIMEOUT` to see if that fixes the issue. The default command timeout is 10 seconds which is a bit too low if running VyOS on a slower VM.

[2018-03-10 02:34] jacksonp2008 commented on #32808
Sure, it's not as simple as that since we use complex playbooks.  You are also welcome to join me to see it in real time.

[2018-03-10 03:31] dshowing commented on #26647
So... How to solve this problem?
I got the same problem...

[2018-03-10 04:19] nerdvegas commented on #22356
I just got this same problem. No output, no errors, included role just doesn't run. No extra info from -vvv.

In case it's related, this role is being included from a role that itself is getting pulled in as a dependency in another role's meta/main.yaml.

[2018-03-10 04:56] spatten opened #37267 "EC2 NoSuchVersion error when running elb_target_group or elb_application_lb modules"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

elb_target_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running Ansible on OS X 10.13.1, and this is a local action

##### SUMMARY

When I run `elb_application_lb` or `elb_target_group` I get the following error:

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected to make

[2018-03-10 04:57] Akasurde commented on #32808
OK.

[2018-03-10 05:10] Akasurde commented on #32868
@ntwrkguru Thanks for reporting. Could you please try with this [patch](https://github.com/ansible/ansible/pull/34491), this was fixed in 2.5?

[2018-03-10 06:52] mattclay commented on #36066
This test is still unstable: https://app.shippable.com/github/ansible/ansible/runs/57500/67/tests

[2018-03-10 07:16] flaper87 commented on #37148
@honkycat thanks a lot. I look forward to your contributions. 🤘👐

[2018-03-10 07:57] BentCoder commented on #37266
Sorry I should have just said "handlers".

Yes it does show that the `Start ntp` and `Restart ntp` handlers are applied to `linux1` but `NTP synchronized` is set to `no` on `linux1`. However, it is set to `yes` on `linux2`. Although everything applied to both machines by Ansible is identical, outcome is different. There must be something wrong.

[2018-03-10 08:08] justrp commented on #26647
@dshowing , which version of ansible do you use? Do you have an option to update it?

[2018-03-10 08:40] mattclay commented on #36083
This test continues to be unstable:

https://app.shippable.com/github/ansible/ansible/runs/57503/66/tests

[2018-03-10 08:41] mattclay commented on #36063
This test continues to be unstable:

https://app.shippable.com/github/ansible/ansible/runs/57503/67/tests

[2018-03-10 08:41] mattclay commented on #36066
Here's another failure: https://app.shippable.com/github/ansible/ansible/runs/57503/67/tests

[2018-03-10 10:57] Akasurde commented on #37231
@arjunprakashn Could you please provide details about playbooks which you are talking about ? There is no module to provide such functionality.

[2018-03-10 10:59] zswanson commented on #37266
'ntp synchronized' is an internal state of NTP, not a setting. That's outside ansible control. Looking at your pastebin I think what you're seeing is that the initial time  drift of the first box is too far for ntp to immediately change.  If you let the VM sit for a while it should slowly come to sync. Or you can manually correct the time then restart ntp and see that it syncs.

[2018-03-10 12:00] #37266 closed, assigned to nobody

[2018-03-10 12:06] Nitesh-vaidyanath commented on #36304
@alikins Thanks for you assistance. This worked after upgrading  ansible to 2.4 is there any fix for 2.3 ?

[2018-03-10 13:42] sebastiendarocha commented on #36490
Yes, it's pyyaml that interprets the string with equal signs as json. You can convert them into a yaml dict of arrays it should work equally.

I agree with you : a check on the type of the dict elememts would be a great help

[2018-03-10 14:46] mchassy commented on #26647
Hi @dshowing ... sorry my works with ansible has progressed quite a lot, but I am already on a completely different version the code I am working with. At this point, I have succeeded in fully building my containers, but I no longer try to pull and run them using ansible.

[2018-03-10 16:33] nickrusso42518 commented on #31575
Just pulled latest devel which appears to be version 2.6. Perhaps this is not the version you'd like me to test, but in any case, I'll post my results. TL;DR it did not work.

[code]
Here is my simple playbook, which is logging into a Cisco CSR1000v.
[code]
Here is the playbook execution. I used a little bit of debug to show what the module returns, and what the "output" dict contains. They are ob

[2018-03-10 16:38] nickrusso42518 commented on #31575
Retesting with version 2.5.0rc2 which appears to be the "best" 2.5.0 choice. This version still did not work.

[code]

Playbook shown again.

[code]

Playbook execution is below. The output looks the same as version 2.6.0.

[code]