[2018-04-17 21:47] #28232 closed, assigned to nobody

[2018-04-17 21:50] bcoca commented on #29832
dupe of #29720

[2018-04-17 21:50] #29832 closed, assigned to nobody

[2018-04-17 21:52] bcoca commented on #29963
closing as per above, issue was foreign user.py in module path.

[2018-04-17 21:52] #29963 closed, assigned to nobody

[2018-04-17 21:52] jborean93 commented on #38894
This is a known issue with Tower and Ansible 2.5, you need to reinstall the Azure dependencies in the venv which can be done with

[code]

In the future it is best to contact your subscription support channel if you have a valid Tower subscription. Usually Github is used for Ansible engine/core issues and not issues when running through Tower.

[2018-04-17 21:52] #38894 closed, assigned to nobody

[2018-04-17 21:59] bcoca commented on #35905
If you don't want it to execute, don't make it a dependency, use include_role with a conditional instead.

[2018-04-17 21:59] #35905 closed, assigned to nobody

[2018-04-17 22:01] willthames commented on #38680
@s-hertel I believe this could perhaps be a duplicate of #38656. If the controller is running aws_s3 on a target machine, `src` is looked for on the controller, rather than the target.

[2018-04-17 22:02] jborean93 commented on #38770
Windows cannot run Python modules, they have to be written in PowerShell to work right now so a new module needs to be written.

[2018-04-17 22:02] jborean93 commented on #38770
needs_contributor

[2018-04-17 22:06] jborean93 commented on #38795
What is the output of the task without the `failed_when` part. It sounds like the task is failing to become the user and the module is not run at all which means `stderr` and `rc` is not defined at all.

[2018-04-17 22:11] #38711 closed, assigned to nitzmahone, jborean93

[2018-04-17 22:12] olenm opened #38917 "win_package: cannot use env-vars (%TEMP%) in path"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_package

##### ANSIBLE VERSION
[code]
and
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
running ansible-playbook from a mac, remote system is windows server 2016 core

##### SUMMARY
running win_package with env variables fails (tested with %TEMP%)

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
expected it to dereferenc

[2018-04-17 22:14] rmsys commented on #38735
What do you mean "user question"?

I followed what is documented and does not work.

The "update" option dosen't work.

[2018-04-17 22:18] willthames commented on #38735
@rmsys the point is you *haven't* followed the documentation correctly - if you don't understand what @mkrizek has already tried to tell you, you're better off asking at the ansible-project mailing list.

[2018-04-17 22:40] rmsys commented on #38735
Sorry and thanks for attention.

I added the "overwrite: yes" and all worked fine.

[2018-04-17 22:40] Leggggg commented on #38548
No doubt, Cisco doesn't pull in conditional functionality. Ansible has conditionals, I would like to be able to tell it when to issue "no vlan id x". There are use cases I imagine when users would want to simply wipe out vlan's, and other time's when they may want to only wipe out vlan's or other config given certain matching parameters (vlan_name).

[2018-04-17 22:45] kenorb opened #38920 "Apt: Support for `apt clean`"
##### ISSUE TYPE
- Feature Request

##### COMPONENT NAME
`apt`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

See: [`provision.yml`](https://github.com/kenorb/docker-dev-env-linux/blob/b5129c31230b59673e8c7b31327d8e434746843c/ansible/provision.yml).

##### OS / ENVIRONMENT

Docker OS: Ubuntu
Host OS: macOS

##### SUMMARY

As per [Apt docs page](http://docs.ansible.com/ansible/latest/modules/a

[2018-04-17 22:52] strarsis commented on #38795
I am using the mount module now. I try to reproduce this setup without `failed_when`.

[2018-04-17 23:16] trondhindenes opened #38921 "k8s_raw get vs set is unclear"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
k8s_raw

##### ANSIBLE VERSION
[code]

##### SUMMARY
I'm posting this as a doc issue, since that's what I think it is:
The documentation is slightly unclear on when k8s_raw will perform a "set" (create/update) vs a get (read/list) operation. It seems to be a combination of multiple parameters that determines what happens, which may lea

[2018-04-17 23:42] fabianvf commented on #38921
For GET operations we actually have the k8s/openshift lookup plugins, but if you didn't get that from the docs then we should definitely update them.

[2018-04-18 00:01] trondhindenes commented on #38921
I'm afraid I didn't this is what I see:
![screenshot from 2018-04-18 02-00-45](https://user-images.githubusercontent.com/1747120/38904713-5edf9634-42ac-11e8-8c9c-e273933f9e6a.png)

[2018-04-18 00:45] LukeRussell commented on #38655
I agree that behaviour 1. by @ppanczyk above should be the default. 2. is new functionality in my opinion.

[2018-04-18 00:58] pilou- commented on #22568
@abadger when using quoted identifier, a `ProgrammingError` exception occurs at the second execution:

[code]

[code]

Cause: query executed in [`user_exists` method](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/database/postgresql/postgresql_user.py#L235) is wrong:

instead of

[2018-04-18 01:00] jleaders commented on #10530
Hay there. I'm moo here.

I herd you mooved on, but cowbell we re-open this issue. Stop hoofing around, I think you've milked this joke long enhoof.
Please remoove this behavior, I beg of you, leather you like it or not, it's caused issues even though there is no farm intended.
I was calfway through provisioning my EC2 servers and this bull appeared. But I digrass, this joke is the worst I'd heife

[2018-04-18 01:00] fabianvf commented on #38921
Yep, looks like an oversight, good catch. I'll try and get this fixed in docs soon.

[2018-04-18 01:15] datakid commented on #35834
This is a painful one. It's not a world ending or even critical bug, but bloody hell. Any amount of security consciousness means I'm typing a lot of chars. What can we do to help push either 2.6 or 2.5.1 forward?

[2018-04-18 01:27] LukeRussell commented on #38425
This has also started to occur in 2.5 for IOS devices not running LLDP. Same as I reported all the way back here https://github.com/ansible/ansible-modules-core/issues/4396.

[2018-04-18 01:37] dharmabumstead commented on #38439
Fix pending. https://github.com/ansible/ansible/pull/38890

[2018-04-18 01:40] MIBc opened #38924 "Use Go exec.Command to call ansible-playbook command, no ansible log output."
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION
[code]
##### COMPONENT NAME
ansible-playbook
##### CONFIGURATION
[ssh_connection]
pipelining=True
[defaults]
host_key_checking=False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp
#stdout_callback = skippy
library = ./library
callback_whitelist = profile_tasks
log_path=./ansiblelogs
bin_ansible_callbacks = True
##### OS

[2018-04-18 01:45] #38439 closed, assigned to nobody

[2018-04-18 01:48] rydevops commented on #36615
+1

Be wonderful to have this fixed (or an option added to set this). This is still present in 2.5 and 2.6. I was able to get the manual method set by adding  'ipv4.method': 'manual' to the  options dictionary in create_connection_ethernet() and modify_connection_ethernet() in nmcli.py. If this is not set, the static IP still works however the interface will also have a DHCP IP address if a DHCP s

[2018-04-18 04:08] Akasurde commented on #38043
@evertmulder Thanks for reporting. Could you please raise a PR against this if you feel your fix will resolve this issue ?

[2018-04-18 06:27] dharmabumstead commented on #38439
Fix is live now.

[2018-04-18 06:31] dharmabumstead commented on #38461
Thanks for reporting, @ncraike. This is a duplicate of issue #38439, and is fixed by https://github.com/ansible/ansible/pull/38890.

[2018-04-18 06:31] #38461 closed, assigned to nobody

[2018-04-18 06:47] sudoforge opened #38931 "locale_gen fails if specified target does not exist in `/etc/locale.gen`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

locale_gen

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

I'm running Ansible in a Docker image running Arch Linux who has the following minimal`/etc/locale.gen`:

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

Save the above as `locale_gen.yml` in your current directory. Next, run the docker image,

[2018-04-18 07:27] Fred-sun commented on #38883
@PiotrMejer Perform the following YML file , did not meet you describe problem, when removing azure_rm_managed_disk location parameters, it will be prompted similar mistake as you report. could you add location parameter in you YML file , retest , Look to whether can have this problem . Thanks !
[code]

[2018-04-18 07:29] #38529 closed, assigned to nobody

[2018-04-18 07:30] trishnaguha commented on #37526
nxos doesn't have any `enable` mode by default, `authorize` isn't an option for nxos modules.
When you login to nxos, nxos places you directly in EXEC mode. We currently do not have support to handle privilege roles.

[2018-04-18 07:43] Zorrom opened #38936 "Failed to trigger web catalog with user inputs using uri module"
![cloudforms catalog](https://user-images.githubusercontent.com/33654256/38918162-6e2978ee-431f-11e8-91f1-a678136ea068.PNG)

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

uri module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4 (Maipo)
##### SUMMARY

I am trying to conver a curl command into an ansible playbook. The

[2018-04-18 07:51] diegoitaliait commented on #35219
Sorry i don't have more info to give

[2018-04-18 07:52] #38653 closed, assigned to gdpak

[2018-04-18 07:57] PiotrMejer commented on #38883
@Fred-sun  thanks for Your reply. I suppose that the attached YML creates vm and os disk with the same name ("{{ vm_name }}"), last task do not update size of existing (created with vm) disk (named {{vm_name}}) but creates new disk (with name = mymanagedisk).

[2018-04-18 08:11] Fred-sun commented on #38883
@PiotrMejer Thanks for Your verified, You are right, But when use same name "{{vm_name}}", it will meet error, error message as bellow:
[code]

[2018-04-18 08:25] paravz commented on #24084
What's the ansible error message for you, in other worlds what exactly can't you reproduce

[2018-04-18 08:27] IkeLutra commented on #35905
@bcoca But if you don't make it a dependency then it isn't installed by ansible-galaxy which will cause the role to fail as the role isn't there.

[2018-04-18 08:49] jhawkesworth commented on #38917
I don't think it can work like this as the win_package path parameter can take a url or a windows path, so you could get undesirable results if you expanded environment variable names in urls.

If you need to use %TEMP% dir you can retrieve it from facts.  Like this

[code]

[2018-04-18 08:57] gtema commented on #30786
I'm also really struggling with it.

relatively fix here would be to modify os_stack (_create_stack and _update_stack) functions with following exception handling block:
[code]
This provides fail message with the reasoning. One should of course ensure presence of e.response first, but it is currently always populated by shade

[2018-04-18 08:57] pkaramol opened #38937 "Escaping double curly braces in environmental variables does not work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Core module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

[code]

##### SUMMARY
None of the methods proposed to escape double curly braces on environmental variables works

##### STEPS TO REPRODUCE

in `site.yml`

[code]

When the first (__non-debug__!) task is called from an imported role:

[code

[2018-04-18 09:09] Fred-sun commented on #38883
@PiotrMejer  Yes , I meet same error as your describe.  if disk_disk_size value greater than or equal the source's size, will meet the same error. Thanks !

[2018-04-18 09:09] jborean93 commented on #38917
@jhawkesworth it could still be doable, we would just need to verify if the value for path is an actual path and then expand if it is otherwise keep it the same as before.

[2018-04-18 09:18] simanat opened #38938 "copy: Reports 'ok' when copying nested directories"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Copy module

##### ANSIBLE VERSION
2.5.0

##### CONFIGURATION

##### OS / ENVIRONMENT
linux

##### SUMMARY
I have a problem with ansible 2.5 and i don't have the same behaviour with 2.2
When I copy a folder contain just a folder I have an OK not Changed

##### STEPS TO REPRODUCE
[code]

 share folder contain just one folder named folder1 and fo

[2018-04-18 09:25] RalfJung commented on #38439
Confirmed, thanks a lot :)

[2018-04-18 09:27] #33891 closed, assigned to nobody

[2018-04-18 09:28] rajeshpeta opened #38939 "Ansible error - Need help"
- hosts: test
  become: yes
  tasks:
    - name: 1. install maven
      yum: name=maven state= present

    - name: 2. install Mysql
      yum: name=mysql-server state=latest

when i run the above ansible script ...getting below error.

ERROR! this task 'yum' has extra params, which is only allowed in the following modules: command, win_command, shell, win_shell, script, include, include_vars, add

[2018-04-18 09:47] Akasurde commented on #38939
Hi @rajeshpeta !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2018-04-18 09:47] #38939 closed, assigned to nobody

[2018-04-18 09:48] jhawkesworth commented on #38917
@jborean93 yep I think we talked about this before and were reluctant to have a 'path_or_url' type, so its still a 'str' in the module parameters.
I wonder if it would be better to move over time to having 2 mutually-exclusive `path` and `url` parameters, rather than trying to get `path` to handle both things.  Less intuitive I suppose.

[2018-04-18 09:50] Akasurde commented on #38938
Hi @simanat !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows

[2018-04-18 10:02] haridsv commented on #23606
I am seeing the same issue with `set_fact`. Is there a specific reason for not adding `notify` support for some task types?

[2018-04-18 10:20] piotrplazienski opened #38941 "vmware_guest: valid request fails with "Access to resource settings is restricted""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default.

##### OS / ENVIRONMENT

Ubuntu Server 17.10
ESXi 6.0.0/vCenter Server 6.0.0

##### SUMMARY
When ESXi/vCenter is configured in particular way, valid change in vm configuration fails.
Same change works with Ansible 2.4.x.
##### STEPS TO REPRODUCE

ESXi must allow direct a

[2018-04-18 10:41] RogierSchuring commented on #23590
+1. Only unmount and remove from fstab. do not manage path, or give option to force remove unmounted dir.

[2018-04-18 10:45] Akasurde commented on #38941
@piotrplazienski Thanks for reporting this issue. Would you like to raise a PR for with your fix ?

needs_info

[2018-04-18 10:56] sirkubax opened #38942 "introduce 'protected' 'hidden' variable type that will never be printed in logs"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

debug
and [all modules that produce output  - also with -vvv verbosity]

##### SUMMARY

Introduce a way to tell ansible NOT TO print some lines (variables) of output (in EVERY module log output).
Now if you hide some credentials with `no_logs:True` - it still can be printed in other parts of the playbook (eg. using `debug msg=hostvars[invent

[2018-04-18 11:33] Akasurde commented on #38634
@seifer44 Could you please elaborate more on your environment details and desired behaviour for  both with GUI and with module ?

[2018-04-18 11:53] craig08 commented on #32554
I got the same issue and found that my deploy machine running ansible quickly ran out of memory while templating specfic file.
After carefully reviewed the template, I found that the some of the variables in jinja2 template using wrong type while calculating a large number. It can be easily reproduced by following playbook and template:

#### playbook:
[code]

#### template:
[code]

Change the tem

[2018-04-18 12:12] gundalow commented on #38909
Looks like https://github.com/ansible/ansible/blob/4117b2dd297b170d7b81bdcf613ae71049a4139e/lib/ansible/modules/cloud/docker/docker_container.py#L952-L974 doesn't support IPv6 addresses

[2018-04-18 12:15] ryansb commented on #38902
@roadmapper yes, that's what I was thinking. I was going to implement like this:

- Request metadata
- If request fails, wait 3 seconds and try again
- If second request fails, use `fail_json` and raise the error

I didn't want to do a ton of retries, because the request timeout is 10 seconds and I didn't want the module to take minutes to fail completely. I have most of a pull request implemented

[2018-04-18 12:16] agowa338 commented on #27960
Also happens with restart
[code]
Result is:
[code]

[2018-04-18 12:40] dagwieers commented on #23320
@mindrunner Unrelated in the sense that a ConnectTimeoutError could be recoverable (i.e. retry), whereas a ReadTimeoutError is fatal. See #25532

[2018-04-18 12:43] jsutter55 commented on #38852
@willthames

Thank you for taking the time to put that together. This should give us a good step forward in getting things cleaned up. Cheers!

[2018-04-18 12:47] lpenz commented on #38819
Nice!
I can help with the changes in the current `netconf_config`.
Maybe we could also have a command for every standard netconf `rpc` besides the generic one.

[2018-04-18 12:54] dgoodwin opened #38945 "k8s_raw should inform user if they are running an old kubernetes/openshift Python client"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

k8s_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = %(directory)s/ansible-ssh-%%C
DEFAULT_CALLBACK_WHITELIST(/etc/ansible/ansible.cfg) = ['profile_tasks']
DEFAULT_LOG_PATH(env: ANSIBLE_LOG_PATH) = /home/dgoodwin/go/src/github.com/openshift/cluster-operator/ansible.log

##### OS / EN

[2018-04-18 13:07] sunbath commented on #38669
I encountered the same issue when getting the nxos_facts on Nexus 5548 running 5.0(3)N1(1c)

[2018-04-18 13:16] dgoodwin opened #38946 "k8s lookup plugin cannot lookup Secret data"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/plugins/lookup/k8s.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = %(directory)s/ansible-ssh-%%C
DEFAULT_CALLBACK_WHITELIST(/etc/ansible/ansible.cfg) = ['profile_tasks']
DEFAULT_LOG_PATH(env: ANSIBLE_LOG_PATH) = /home/dgoodwin/go/src/github.com/openshift/cluster-operator/

[2018-04-18 13:17] themr0c commented on #38431
Hello, I had same error message, but managed to get though by upgrading to azure-mgmt-rdbms==0.3.1. Can you check if it solves your issue also ?

If you run on virtualenv:

    pip2 install -U azure-mgmt-rdbms==0.3.1

[2018-04-18 13:18] rlex opened #38947 "Google cloud VMs are not VMs in facts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible do not detect google cloud as virtualization

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Should be in facts:

    "ansible_virtualization_role": "guest",
    "ansible_virtualization_type": "kvm",

##### ACTUAL RESULTS
[cod

[2018-04-18 13:20] #35219 closed, assigned to maxamillion

[2018-04-18 13:24] #34351 closed, assigned to nobody

[2018-04-18 13:25] #34350 closed, assigned to nobody

[2018-04-18 13:25] #33774 closed, assigned to nobody

[2018-04-18 13:25] #33773 closed, assigned to nobody

[2018-04-18 13:25] rlex commented on #38947
Options might be:
/sys/devices/virtual/dmi/id/product_name - reports "Google Compute Engine"
Should i drop PR with that change in https://github.com/ansible/ansible/blob/cbe2915ba5236030ba560ba870b97f57e09bebe7/lib/ansible/module_utils/facts/virtual/linux.py#L83?

Also in lspci there is couple of virtio devices:
[code]

[2018-04-18 13:30] rlex commented on #38947
Another option might be checking for sys_vendor or bios_vendor, they are both reporting "Google"

[2018-04-18 13:36] benjdudas opened #38949 ""groupby_custom_field" no longer working when limiting with properties"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When properties are configured in the ini file,  groupby_custom_field  is no longer available after running the inventory script.

##### STEPS TO REPRODUCE

Enable groupby_custom_field while limiting data with properties in t

[2018-04-18 13:40] gundalow commented on #38608
@ericdost Just a hunch, though is SSH version 2 enabled on the IOS device. Ansible requires v2?

`ssh -1 network device`
`ssh -2 network device`

needs_info

[2018-04-18 13:42] privateip commented on #38732
@ganeshrn LGTM

[2018-04-18 13:51] agowa338 commented on #27960
Can verify that providing the image property fixes it, but also volumes ports etc need to be provided. So I think this is a bug. If I specify "restart: true" ansible should take care of passing this properties from the current container to the new one, if there is a need to recreate it in the background.

[2018-04-18 13:52] gundalow commented on #38887
Thanks for the bug report. We should go back to (at least) `stable-2.4` and fix these, also
Documentation ranges for IP addresses:
* 192.0.2.0/24
* 198.51.100.0/24
* 203.0.113.0/24
* 2001:db8::/32
See https://en.wikipedia.org/wiki/Reserved_IP_addresses

[2018-04-18 13:57] ericdost commented on #38608
@gundalow Yes, this was an authentication issue unrelated to Ansible.  The account being used is through LDAP via TACACS and that account had expired.  The prompt returned by the router when this was happening was:

[code]

[2018-04-18 14:00] bcoca commented on #37593
closing as per above

[2018-04-18 14:01] bcoca commented on #37593
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2018-04-18 14:01] #37593 closed, assigned to nobody

[2018-04-18 14:02] sivel commented on #38924
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-04-18 14:02] #38924 closed, assigned to nobody

[2018-04-18 14:07] abadger commented on #22568
Okay, that's happening because we're mixing quoting from two sources... once from the playbook and the second time because DBAPI  will quote things that it puts into a query format string itself.  To solve that we could change user_exists like so:

[code]

Since pg_quote_identifier won't quote something that's already quoted, that should solve this issue.

OTOH, is this the best way to solve this

[2018-04-18 14:09] CTrox commented on #38875
I think I tracked down the issue. On line 215 in `k8s/helper.py` the specs are converted from snake case to camel case. This causes `cluster_ip` to be `clusterIp` which kubernetes ignores. Changing it to `clusterIP` makes it work. I would open a PR but I cannot think of a way to fix this other than just handling this specific case. Can maybe someone more familiar with the k8s module give some advi

[2018-04-18 14:12] gundalow commented on #38608
@ericdost ah, apologies I didn't read the report correctly.
I like your suggestion of improving the error message. Will see what we can do

[2018-04-18 14:35] bcoca commented on #35905
ansible-galaxy does not use meta/main.yml you need separate requirements file.

[2018-04-18 14:39] kedare commented on #27617
I confirm this feature would be very useful

[2018-04-18 14:41] seifer44 commented on #38634
If I deploy a VM via the Web UI, I do not have to define a resource pool. This is the desired behavior. I am trying to replicate this behavior with this module by not defining a resource pool in the YAML above, but as you can see with the image in the initial post, a resource pool is being defined at some point by the module.

This is encountered when deploying to an instance of vSphere 6.

[2018-04-18 14:47] SaranrajMG opened #38953 "vpshere_guest/vmware_guest: vm_nic/network options is not applied on reconfigure"
An issue raised already but not resolved #19106

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest
vsphere_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
COMMAND_WARNINGS(/etc/ansible/ansible.cfg) = False
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 50
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/inventory.yml']
DEFAULT_TIMEOUT(/etc/ansible/ansible.cfg) = 5

[2018-04-18 14:50] fabianvf commented on #38875
Good find, the issue definitely seems to lie with the snake_casing/cameCasing of the provided resource. Looking at the response it seems like this isn't the only issue caused, as "external_i_ps" seems to have been improperly split as well. We likely will need to find a more intelligent way to handle this process in general. Pinging @dzager in case he has any thoughts.

[2018-04-18 14:50] sbarthelemy opened #38954 "roles with a "name" parameter break with ansible 2.5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

debian stretch

##### SUMMARY
roles with a parameter named "name"
* worked fine when used in the "classic" way with ansible v2.3 and v2.4, but fail with ansible v2.5.0.
* worked fine when used as an "include_role" task with ansible v2.3, but have the "name" parameter shadowed with ansible v2

[2018-04-18 14:53] fabianvf commented on #38945
What version of the openshift python client is installed? I think this might be a version mismatch

[2018-04-18 15:05] emonat opened #38955 ""vmware_guest network" does not support filtering of assigned network by DVS name or Datacenter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.4 3.10.0-693.11.6.el7.x86_64
vCenter Server Appliance 6.5.0.14100

##### SUMMARY
vmware_guest module does not support filtering of assigned network by Distributed Virtual Switch name or Datacenter name. When a network name is shared between multiple

[2018-04-18 15:28] ryansb commented on #38902
Filed a PR https://github.com/ansible/ansible/pull/38957 - please take a look. I'll try to loop this and catch a metadata failure in the act to make sure this works properly.

[2018-04-18 15:32] s-hertel commented on #38680
Aha. Thanks @willthames. I am able to reproduce doing that.

@hamza-tumturk If you are using `connection: local` please reopen this. Otherwise, we'll track this in one place in #38656.

[2018-04-18 15:32] #38680 closed, assigned to nobody

[2018-04-18 15:42] bcoca commented on #38954
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Name was always a reserved property for roles, but sadly 'inline' vars and directives got mixed and not properly sanitized, we 'fixed'

[2018-04-18 15:42] #38954 closed, assigned to nobody

[2018-04-18 15:47] kbreit opened #38959 "Unit and integration tests use IP address 1.1.1.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
integration/targets/ec2_group/tasks/main.yml

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
macOS 10.3.3 with Python 3.5

##### SUMMARY
Many integration and unit tests use IP address 1.1.1.1 which shouldn't be used since CloudFlare deployed their 1.1.1.1 based DNS service. Here is documentation for ranges for IP addresses:

-     192.0.2.

[2018-04-18 15:48] kbreit commented on #38886
Closing this issue as #38959 replaces this.

[2018-04-18 15:48] #38886 closed, assigned to Qalthos

[2018-04-18 15:48] kbreit commented on #38887
Closing this issue as #38959 replaces this.

[2018-04-18 15:48] #38887 closed, assigned to Qalthos

[2018-04-18 15:48] kbreit commented on #38848
Closing this issue as #38959 replaces this.

[2018-04-18 15:48] #38848 closed, assigned to Qalthos

[2018-04-18 15:49] kbreit commented on #38849
Closing this issue as #38959 replaces this.

[2018-04-18 15:49] #38849 closed, assigned to nobody

[2018-04-18 16:00] sbarthelemy commented on #38954
Thank you for the quick reply.

great, I confirm that this work fine on ansible 2.5, when used as a "classic role", thank you!
So, if I follow you correctly, what broke with ansible 2.5 was some unspecified behavior, which I was (mis)using. In this case, I agree this part of the ticket shall be closed.

However (as stated in the ticket), the following form does not work either (on ansible 2.4 and

[2018-04-18 16:08] s-hertel commented on #36083
Ugh. I've opened https://github.com/ansible/ansible/pull/38960 to increase the wait time for these two attributes, but am not sure if it shouldn't be increased even more. CI is triggering this more frequently than I can on my own account (for the previous fix, I ran the tests 100 times without a failure). I wonder if this should be filed with Amazon, since this is not an Ansible bug per se, but th

[2018-04-18 16:29] s-hertel commented on #36083
A simple, more foolproof change to the module would be:
[code]
And remove looping and waiting until they are both correct.
But that seemed like the wrong approach to take to me initially. @mattclay @willthames do you have an opinion on that?

[2018-04-18 16:30] n3ph opened #38963 "GIT module - Undocumented restriction for archive"
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/source_control/git.py#L1140-L1141

[2018-04-18 16:43] smeso commented on #29458
This bug is due to a *feature* of findmnt.
It truncate lines based on terminal width. This issue is related to #2065.
As a temporary solution you may just use the ``-u`` option of findmnt, that force it to not truncate output lines

[2018-04-18 16:56] dgoodwin commented on #38945
Hmm good catch, I forgot this does not get pulled via rpm deps, and I had openshift 0.3.4 and kubernetes 3.0.0 python packages installed from who knows when. I updated to kubernetes-6.0.0 and openshift-0.4.4 and thus issue is fixed, thanks!

Should I close or leave open for a version check addition to the module?

[2018-04-18 17:01] #38642 closed, assigned to nobody

[2018-04-18 17:09] fabianvf commented on #38945
I think updating it to be a version check bug is appropriate, we should
definitely be failing out with a version that old.

On Wed, Apr 18, 2018 at 12:57 PM, Devan Goodwin <notifications@github.com>
wrote:

[2018-04-18 17:12] ganeshrn commented on #38819
Sure, happy to have help.

Can you please elaborate on this?

It will better if we continue this discussion on proposal page https://github.com/ansible/proposals/issues/104 so that all the comments are cosoliated at single place.

[2018-04-18 17:19] #38564 closed, assigned to nobody

[2018-04-18 17:51] bcoca commented on #38954
i would expect this  last one to work, so it is a bug if the 'name' option is overriding the var with same name

[2018-04-18 17:54] abhigrover commented on #30441
Hello Sivel,
I am using include_tasks in combination with with_dict. The idea being I am looping for a over number of items (2000 or so) and including a set of tasks for each iteration. When I ran a test with ~460 iterations, it took over 8 minutes for it to say "included:...", that is too slow. I kicked off the playbook with the larger number of iterations, and its just sitting at that step for o

[2018-04-18 18:00] bcoca commented on #38954
same fix we did for static roles:
[code]

[2018-04-18 18:02] bcoca commented on #38954
https://github.com/ansible/ansible/pull/38968

[2018-04-18 18:27] alissonpmedeiros opened #38969 "AnsibleUndefinedVariable: 'dict object' has no attribute u'ansible_eth1"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

/home/vagrant/.ansible.cfg
[code]

##### CONFIGURATION

ansible-config dump --only-changed
[code]
ansible.cfg
[code]

##### OS / ENVIRONMENT
Ubuntu Xenial box on Vagrant

##### SUMMARY
I'm following **openstack** installation guide in https://docs.openstack.org/kolla/mitaka/vagrant-dev-env.html#deploying-openstack-with-kolla and I got and erro

[2018-04-18 18:41] acozine commented on #21594
Related to #38855.

[2018-04-18 18:49] ServerNinja opened #38970 "ec2_elb_lb module - "ProxyProtocol-policy" is not actually being created"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_elb_lb module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS 10.13.2

##### SUMMARY
Creating a classic ELB using ansible with `proxy_protocol: true` doesn't actually create the ProxyProtocol-policy object (doesn't show up when I run `aws elb describe-load-balancer-policies`). However, it is showing u

[2018-04-18 19:01] acozine commented on #38756
@grantcurell the `net_ping` module works on network-specific hardware or VMs running network operating systems like `eos`, `ios`, `junos OS`, `vyos`, etc. - the variable the module needs is the network OS of the device(s) in your inventory.

[2018-04-18 19:35] marcindulak commented on #38937
Please cross link when providing more information https://github.com/ansible/ansible/issues/15892

It seems you are trying to use a feature similar to https://github.com/ansible/ansible/pull/8651
It may help to provide a minimal test with a full folder structure.

[2018-04-18 19:40] tarunmaini16 commented on #20579
+1, will be nice to have this feature!

[2018-04-18 19:40] spmp opened #38973 "Ansible needs to handle Azure image `accept-terms` for marketplace vm images"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
COLOR_ERROR = purple
COLOR_VERBOSE = white

##### OS / ENVIRONMENT
N/A (Ubuntu 14.04)

##### SUMMARY
Some Azure Marketplace OS images, for example Paoloalto Firewalls, require  terms to be accepted before VM's using these images can be deployed.
 As Ansible aims to progra

[2018-04-18 19:45] ryansb commented on #20579
Locking this topic as conversation should move to the proposal

[2018-04-18 19:45] abadger commented on #20579
This is currently unachievable.  We'll look into it as part of introducing a framework that can periodically return information from modules rather than only on module completion.

[2018-04-18 20:02] dbanttari opened #38974 "Using with_items causes `changed` items to report `ok` in output"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
with_items

##### ANSIBLE VERSION
[code]
also

[code]

##### CONFIGURATION
fresh `pip install ansible` on new Docker->Ubuntu instance. `ansible-config dump --only-changed` produces no output.

##### OS / ENVIRONMENT
Tried on Docker->Ubuntu (on Mac) as well as directly on a Mac

##### SUMMARY
when using with_items, every item reports "ok" even if

[2018-04-18 20:11] #21594 closed, assigned to abadger, acozine

[2018-04-18 20:12] chrissound commented on #20285
I believe I'm running into this issue, I'm not too sure what the conclusion is? Any ideas how I can test if I am effected by this?

I'm essentially running into the below error:
`An unhandled exception occurred while templating '{{ kube_service_addresses|ipaddr('net')|ipaddr(2)|ipaddr('address') }}'. Error was a <class 'ansible.errors.AnsibleFilterError'>, original message: The ipaddr filter requi

[2018-04-18 20:17] chrissound commented on #20285
Fixed by:

[code]

**requirements.txt**

    pbr>=1.6
    ansible>=2.4.0
    netaddr
    jinja2>=2.9.6

[2018-04-18 21:04] 4everinbeta opened #38977 "Ansible azure_rm_virtualmachine fails with packaging module not found"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/Users/a84055/.ansible.cfg) = [u'/etc/ansible/hosts']
DEFAULT_SUDO_EXE(/Users/a84055/.ansible.cfg) = sudo
DEFAULT_SUDO_FLAGS(/Users/a84055/.ansible.cfg) = -H -S -n

##### OS / ENVIRONMENT

Macos 10.13.4

##### SUMMARY

When I attempt to use the ansib

[2018-04-18 21:13] bcoca commented on #23606
closing as per above

[2018-04-18 21:13] #23606 closed, assigned to nobody

[2018-04-18 21:33] adrianlzt commented on #29818
[service.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/service.py#L734) should force the locale before checking the stdout/err of the chkconfig command as suggested by the deprecation message in DEFAULT_MODULE_LANG: ``Modules are coded to set their own locale if needed for screenscraping``

[2018-04-18 22:08] dharmabumstead commented on #38212
Closing as fixed. Thanks for reporting this, @youam!

[2018-04-18 22:08] #38212 closed, assigned to nobody

[2018-04-18 22:10] firxworx commented on #34422
Yeah, agree with @aharden. This should have a "tags" parameter, and names should be assigned with the special tag with the key "Name". Right now ansible is very inconsistent. Some AWS-related modules support "tags" and others do not [even though the AWS resources themselves do support tags]. This forces us to use a task that invokes the ec2_tag module right after. This extra step breaks up one log

[2018-04-18 22:14] dharmabumstead commented on #38057
This is live now in devel; will be cherry picked into stable-2.5 shortly.

[2018-04-18 22:18] grumpymatt opened #38982 "Error in vmware_vm_vm_drs_rule module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_vm_vm_drs_rule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOG_PATH(/home/user/ansible/ansible-playbook/ansible.cfg) = /home/user/ansible/ansible-playbook/ansible.log
DEFAULT_MODULE_PATH(/home/user/ansible/ansible-playbook/ansible.cfg) = [u'/home/user/ansible/ansible-playbook/library']
DEFAULT_ROLES_PATH(/home/user/ansi

[2018-04-18 23:47] gitqlt commented on #35274
ansible 2.5.0
server and client are: Ubuntu 16.04,  Python2.7.12

Cannot create (or replace) file, when become to unprivileged user. It seems that `allow_world_readable_tmpfiles = True` is ineffective.
Even with `pipelining = True`, the same problem exists with a temporary file: the user cannot read/execute the temporary file
[code]

[2018-04-19 00:11] gitqlt commented on #16052
ansible 2.5.0
server and client are: Ubuntu 16.04, Python2.7.12

Cannot create (or replace) file, when become to unprivileged user. It seems that `allow_world_readable_tmpfiles = True` is ineffective. Even with `pipelining = True`, the same problem exists with a temporary file: the user cannot read/execute the temporary file
[code]

[2018-04-19 00:21] shravyarani opened #38984 "Unable to run ansible programmatically"
[code]

Steps followed:
$ git clone https://github.com/ansible/ansible.git --recursive
$ cd ./ansible
$ source ./hacking/env-setup
$ python xyz.py

File from the ansible 2.0 python api documentation
http://docs.ansible.com/ansible/latest/dev_guide/developing_api.html#python-api-2-0

[code]

[2018-04-19 00:49] harrytruman commented on #38892
Further testing shows this issue is primarily affected by inventory scale. Single/small jobs run quite a bit faster in 2.5. However, performance begins degrading with an inventory size somewhere between 25-75. IOS examples below:

```ansible-playbook password.yml -e "survey_hosts=cisco-ios[1:?]" --forks 100 --check```

**2.5.0**

[code]

[code]

[code]

**2.4.3**

[code]

[code]

[2018-04-19 01:22] selivan opened #38985 "zabbix_host module doesn't wotk with python3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

zabbix_host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Control host OS: Ubuntu GNU/Linux 16.04 Xenial
Managed host OS: Ubuntu GNU/Linux 16.04 Xenial
Managed host Zabbix server version: 3.4.8
Managed host python 3 module zabbix-api version: 0.5.3

##### SUMMARY

Module zabbix_host does not work if python

[2018-04-19 01:30] willthames commented on #38852
N.B. This should no longer be required as 2.5.1 has now been released. But it's here if you can't upgrade yet.

[2018-04-19 01:57] 4everinbeta commented on #38977
I managed to fix this with the following addition to my .zshrc:

`export PYTHONPATH=$PYTHONPATH:/usr/local/lib/python2.7/site-packages`

Feels like a hack but it also sounds like it is not really a bug with ansible per se.

[2018-04-19 01:57] 4everinbeta commented on #38977
Closing issue

[2018-04-19 01:57] #38977 closed, assigned to nobody

[2018-04-19 02:25] selivan opened #38986 "Work with XML files exported from Zabbix interface for zabbix_template module."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
zabbix_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It would be very convenient it `zabbix_template` module could import templates from XML files, exported from Zabbix interface.

Writing file for Zabbix template manually is almost impossible: it's very large and verbose. The only way

[2018-04-19 03:26] mrlesmithjr opened #38989 "ios_static_route - ipaddress python package is required"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_static_route
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

I am using macOS and managing Cisco IOS 3750G devices.

##### SUMMARY

When using this module I keep getting the following error:
[code]

##### STEPS TO REPRODUCE

The [following repo](https://github.com/mrlesmithjr/ansible-cisco-ios-demo) has al

[2018-04-19 03:37] jhgorrell commented on #35255
When running with a dynamically generated host list, some of the groups are empty which is ok.  Would be nice to have a way to suppress the empty groups warning, so real warnings stood out.

[2018-04-19 03:41] lae opened #38991 "set_fact in with_items append loop only keeps last item"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
set_fact

##### ANSIBLE VERSION
[code]
Breaking commit appears to be 663400b504baa706c9136c13c990ed447c00a364

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When attempting to initialize and populate a new list fact when looping over a different list, it only populates it with the last item.

##### STEPS TO REPRODUCE

[2018-04-19 03:56] mrlesmithjr commented on #38989
If the [following lines](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/ios/ios_static_route.py#L268-L269) are commented out the module works as it should.

[code]

So something seems to be happening at the [following lines](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/ios/ios_static_route.py#L109-L113).

If I manually run the following I do

[2018-04-19 04:31] LukeRussell commented on #38892
Seeing the same issues, including the degradation getting worse the bigger the inventory. Tested on 2.4.3 vs 2.5.0 and 2.5.1.

I've also noticed it isn't just restricted to the ios_ modules. The playbook I've been working on today has a single ios_command task, 2 set_facts and a lineinfile. 50 hosts take around 7 minutes on 2.5, vs 15 seconds on 2.4.3.

[2018-04-19 05:00] damobrisbane opened #38993 "Add grouping by node tags into consul dynamic inventory"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

`contrib/inventory/consul_io.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible']
DEFAULT_REMOTE_USER(/etc/ansible/ansible.cfg) = ansible
DEFAULT_TIMEOUT(/etc/ansible/ansible.cfg) = 10

##### OS / ENVIRONMENT

Gentoo Linux

##### SUMMARY

Cannot group *consul* dynamic invent

[2018-04-19 05:21] kayhayen opened #38995 "Module apt with state=build-dep reports change even when there is none"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
DEFAULT_GATHERING(/etc/ansible/ansible.cfg) = smart
DEFAULT_REMOTE_USER(/etc/ansible/ansible.cfg) = root

##### OS / ENVIRONMENT
Debian Stretch for both master and controlled node. The master is running amd64 arch and controlled node armhf.

[2018-04-19 05:31] Akasurde commented on #38982
@grumpymatt Thanks for reporting this issue. Can you check this [https://github.com/ansible/ansible/compare/devel...Akasurde:i38982] and let me know if it works for you ?

needs_info

[2018-04-19 05:59] Akasurde commented on #38552
resolved_by_pr #38958

[2018-04-19 06:00] Akasurde commented on #38552
needs_info

[2018-04-19 06:05] texnewmex commented on #9556
We ended up with something like:
[code]

[2018-04-19 06:39] Akasurde commented on #38955
@emonat Thanks for reporting and providing verbose reproducing steps.

[2018-04-19 07:44] Kenuat commented on #4057
@mpdehaan  here is my case: in my project I have to use several similar roles downloaded from the galaxy. they require user to override a number of variables (several dozens in total). I do this in the separate yml configs, one yml file for each role. These files are included at the beginning of the playbook using vars_files. I had to manually verify that each variable has a unique name and none w

[2018-04-19 08:01] obourdon commented on #38692
Fixed by [#38996](https://github.com/ansible/ansible/pull/38996)

Sorry for the bad copy paste of issues ID :-(

[2018-04-19 08:12] Akasurde commented on #32044
@jffz Any news ? What is OS on template ?

[2018-04-19 08:21] yuwzho opened #38997 "Support SKU for azure loadbalancer"
The loadbalancer should support the SKU option with choices `basic` and `standard` from the latest API version

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

azure_rm_loadbalancer

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-19 08:34] gyurco opened #38998 "mongodb_user fails with MongoDB 3.6"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mongodb_user

##### ANSIBLE VERSION
[code]
##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 18.04 with pymongo 3.6.1

##### SUMMARY
mongodb_user fails when it cannot use the localhost exception. Seems the problem is that check_compatibilty() check function cannot work anymore without authentication.

##### STEPS TO REPRODUCE
Use mongodb_user t

[2018-04-19 08:55] Akasurde commented on #38953
@SaranrajMG Thanks for reporting this issue. FYI, vsphere_guest is deprecated and is no longer under active development, but we accepts both issues and PRs for the same.

I see you are trying to reconfigure VM using `state` as `poweredon`, Could you please try reconfigure by setting `state` as `present`.

needs_info

[2018-04-19 08:59] vdweij commented on #34196
This behavior for Ansible version 2.4.3.0 is very problematic. Tags applied to an include_role apply to every task within that role. So adding an always tag to the include_role results in Ansible executing every tasks within that role.

As @ckotte mentioned none of the mentioned workaround work. Basically it is impossible in this version of Ansible to only execute tagged tasks within a role that a

[2018-04-19 09:04] gyurco commented on #38998
I think it would be enough to check PyMongo version first in check_compatibility, and if it is >=3.2, then skip the server version check.

[2018-04-19 09:05] #38692 closed, assigned to nobody

[2018-04-19 09:27] ybalt commented on #35645
I have the same issue with
ansible --version
ansible 2.5.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/user/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.12 (default, Dec  4 2017, 14:50:18) [GCC 5.4.0

[2018-04-19 10:44] wookietreiber opened #39003 "pipe-able --list-hosts output"
**disclaimer:** I didn't check **exactly** if this has been reported yet. Searching the issues list for keywords **list** and **hosts** just gives back to many results and, frankly, I don't have time to review all 500+ of them.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

**ansible** and **ansible-playbook** command line tools

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2018-04-19 10:56] slnowak opened #39004 "set_fact with with_items does not work properly on 2.5.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE
Run the following playbook on 2.5.0 and 2.5.1:

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

it used to work on 2.4.2 and 2.5.0.

[2018-04-19 10:59] gyurco commented on #38998
The server-side error:
[code]

[2018-04-19 11:07] slnowak commented on #39004
Looks like it's a duplicate of https://github.com/ansible/ansible/issues/38991

[2018-04-19 11:13] wookietreiber commented on #39003
BTW: workaround:

[code]

[2018-04-19 11:17] mkrizek commented on #39004
duplicate_of #38991

[2018-04-19 11:22] #38991 closed, assigned to nobody

[2018-04-19 11:30] pschiffe opened #39006 "azure_rm_storageaccount - unsupported operand type(s) for -=: 'Retry' and 'int'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_storageaccount

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing special.

##### OS / ENVIRONMENT
CentOS 7 docker container

##### SUMMARY
Occasionally we see this error when creating storage account:
[code]

Our GitHub issue: https://github.com/openshift/aos-cd-jobs/issues/1313

[2018-04-19 11:30] #39004 closed, assigned to nobody

[2018-04-19 11:35] Zorrom commented on #38936
@Akasurde Need your help here.

[2018-04-19 11:40] BR0kEN- opened #39007 "Dynamic inventory errors in 2.5.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/plugins/inventory/script.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Standard.

##### OS / ENVIRONMENT
[code]

##### SUMMARY
The dynamic inventory (Python) script fails with an unknown error right after starting the process.

##### STEPS TO REPRODUCE

[code]

`test.yml`

[code]

`inventory`

[code]

##### EXPECTED RESULTS

[2018-04-19 11:53] BR0kEN- commented on #39007
!component=plugins/inventory/script.py

During debug I've discovered that these lines introduced this behavior: https://github.com/ansible/ansible/compare/v2.5.0...v2.5.1#diff-d01d986987d9cd0f682890b51b98b04dR124

[2018-04-19 11:57] BR0kEN- commented on #39007
!component=lib/ansible/plugins/inventory

[2018-04-19 11:58] BR0kEN- commented on #39007
!component=lib/ansible/plugins/inventory/script.py

[2018-04-19 12:04] Alexand opened #39008 "docker_secrets documentation is misleading/incomplete"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

docker_secret

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_CONTROL_PATH(/ansible/ansible.cfg) = %(directory)s/%%C
DEFAULT_HOST_LIST(/ansible/ansible.cfg) = [u'/ansible/hosts/hosts']

##### OS / ENVIRONMENT

##### SUMMARY

[Documentation requirements](https://docs.ansible.com/ansible/2.4/docker_secret_module.html#r

[2018-04-19 12:26] mrlesmithjr opened #39011 "ios_l2_interface - MODULE FAILURE"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_l2_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

I am using macOS and managing Cisco IOS 3750G devices.

##### SUMMARY

When using this module I keep getting the following error:
[code]

##### STEPS TO REPRODUCE

The [following repo](https://github.com/mrlesmithjr/ansible-cisco-ios-demo) has a

[2018-04-19 12:48] Fobhep opened #39012 "Combine filter works not as intended in Ansible 2.5.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

filter combine()

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOAD_CALLBACK_PLUGINS(/etc/ansible/ansible.cfg) = True

##### OS / ENVIRONMENT

Linux Mint local action

##### SUMMARY

Trying to append values to a dictionary using the combine filter in a loop

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Excpected res

[2018-04-19 12:59] mkrizek commented on #39012
Fixed in #38302, queued for the 2.5.2 release.

[2018-04-19 12:59] #39012 closed, assigned to nobody

[2018-04-19 13:01] mrlesmithjr commented on #38989
When defining `ansible_python_interpreter: /usr/bin/env python` in `group_vars/all/all.yml` this module works as expected. Without this defined the module fails.

[2018-04-19 13:05] BR0kEN- opened #39014 "set_fact + wiht_ loop don't use an updated value from the previous iteration in 2.5.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/utilities/logic/set_fact.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Standard.

##### OS / ENVIRONMENT
[code]

##### SUMMARY

`set_fact` + `with_` loop uses only last value.

##### STEPS TO REPRODUCE
The next playbook shouldn't be failed.

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

This w

[2018-04-19 13:11] jmcgill298 commented on #38892
do you still have `gather_facts: no`? or are you gathering facts data?

[2018-04-19 13:13] TheBigWez commented on #33661
It looks like this was caused by an API breaking change in the Azure client libs. For now, the workaround is to reinstall the azure module following these steps :

`su -`
`cd /var/lib/awx/venv/ansible/bin`
`source activate`
`pip install ansible[azure] --upgrade --force`
`deactivate`
`su -`
`cd /var/lib/awx/venv/awx/bin`
`source activate`
`pip install ansible[azure] --upgrade --force`
`deactivate`

[2018-04-19 13:30] memo42 opened #39017 "Windows Folder-Copy fails the second time copying to a folder"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_ARGS(/home/local_user/ansible-deployment/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=60s
DEFAULT_GATHERING(/home/local_user/ansible-deployment/ansible.cfg) = smart
DEFAULT_LOCAL_TMP(/home/local_user/ansible-deployment/ansible.cfg) = /home/local_user/.ansible

[2018-04-19 13:34] IkeLutra commented on #35905
@bcoca Yeah that makes sense. Thanks for your help. Yeah I think a separate install deps would be useful. Will take a look at the code and see if it will be easy to add to ansible-galaxy.

[2018-04-19 13:52] 33Fraise33 opened #39020 "Trying to install with pip throws error while the package has been installed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pip module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no special config

##### OS / ENVIRONMENT

Trying to run on Ubuntu 16.04 LTS server.

##### SUMMARY
When running a default pip install from Ansible it results in an error. It seems to be that it is installed on the server though.

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS

[2018-04-19 14:00] jhawkesworth commented on #39017
@memo42 I believe this was fixed in ansible 2.5.1 (just released).
see the changelog here:
https://github.com/ansible/ansible/blob/stable-2.5/changelogs/CHANGELOG-v2.5.rst
which mentions  win_copy - Preserve the local tmp folder instead of deleting it so future tasks can use it (https://github.com/ansible/ansible/pull/37964)

Please can you test with ansible 2.5.1 and report back here if it is fix

[2018-04-19 14:03] gundalow opened #39022 "Docs: Network timeout options"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
eos_command
vyos_command
nxos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

We users are confused by:
* Where timeouts occur
* How to identify which timeout has been triggered
* What are the options to increase timeouts at:
  * Global level
  * Playbook level
  * Task level

Also ne

[2018-04-19 14:04] grumpymatt commented on #38982
The fix executes fine, but has the side effect of removing all the existing vm's from the DRS rule.

[2018-04-19 14:05] 33Fraise33 commented on #39020
Running with become fixes this error. You can also run with `extra-args: --user`

[2018-04-19 14:05] #39020 closed, assigned to nobody

[2018-04-19 14:07] #29466 closed, assigned to nobody

[2018-04-19 14:28] sivel commented on #38984
You are missing a step.  It should be:

[code]

You have not installed the external dependencies for ansible.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-19 14:28] #38984 closed, assigned to nobody

[2018-04-19 14:32] mrlesmithjr commented on #39011
Looks like the issue exists here `show running-config  | section interface`. That specific command does not exist on my 3750G switch.
[code]

[2018-04-19 14:33] SaranrajMG commented on #38953
@Akasurde: Thanks for your suggestion. I have tried with state present also. Please find the below output.

fatal: [localhost -> localhost]: FAILED! => {
    "changed": true,
    "failed": true,
    "invocation": {
        "module_args": {
            "annotation": null,
            "cdrom": {},
            "cluster": null,
            "customization": {},
            "customvalues": [],

[2018-04-19 14:38] trishnaguha commented on #39011
Looks like older devices do not support `section` but `include`. `section` needs to be changed to `include`.

[2018-04-19 14:39] mrlesmithjr commented on #39011
That is exactly what I was going to recommend.

[2018-04-19 14:42] mrlesmithjr commented on #39011
And to confirm, I have pulled this module locally and changed `section` to `include` and it ran successfully.

[2018-04-19 14:45] mrlesmithjr commented on #39011
Switch version:
[code]

[2018-04-19 14:55] mrlesmithjr commented on #39011
Same thing for [ios_l3_interface](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/ios/ios_l3_interface.py) module.

[2018-04-19 14:56] bcoca commented on #30213
There seems to be little interest in this feature and no one in core plans to implement it.

I'm going to close this ticket but that does not mean we won't accept a PR that implements this.

[2018-04-19 14:56] #30213 closed, assigned to nobody

[2018-04-19 15:07] Bak3y commented on #38456
I'm seeing something similar:

`$ grep remote_user /etc/ansible/ansible.cfg
remote_user = ansible`

`$ ansible <servername> -m ping -vvv
ESTABLISH SSH CONNECTION FOR USER: None`

I'm certainly specifying a user, but it's not getting passed into ansible commands correctly it seems.

[2018-04-19 15:29] poiriermike commented on #38232
@jborean93  No longer failing out!

I've also noticed an inconsistency when checking for pending updates.

Running with `state=searched` shows no changes with pending Windows updates.
[code]
While running with `state=installed` with `--check` mode enabled shows the changed state correctly.
Documentation says that running with `state=searched` should be equivalent to running with `state=installed`

[2018-04-19 15:36] daino3 commented on #12851
I was getting this same error with the following playbook (ansible 2.4.3.0):

[code]

All I had to do is change `sudo: no` to `become: no` (and probably read the docs better)

[2018-04-19 16:10] Akasurde commented on #38982
@grumpymatt Could you please elaborate more on your setup and what are you trying to achieve ?

needs_info

[2018-04-19 16:15] mrlesmithjr commented on #39011
Looks like we probably need to add additional logic to this PR #39025

[2018-04-19 16:29] mchassy opened #39029 "unarchive: Failed when zipinfo is unavailable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Host: Mac HIghSierra
Guest: Alpine 3.7 (Virtual)

##### SUMMARY
Using the unarchive module while using ansible-playbook is failing on an alpine vm
Strangely it works with ansible-container on alpine containers
Also copying over the zip and using command w

[2018-04-19 16:38] mrlesmithjr commented on #39011
Thinking this might be the correct way:
[code]
For example if I have 3 interfaces configured as below on the switch:
[code]

With the above module code change when ran using Ansible results in the following:
[code]

[2018-04-19 17:26] grumpymatt commented on #38982
I'm trying to add a newly created VM to an existing DRS rule, which already has other VM's in it. I don't want to make any change to the DRS rule, just apply it to the new VM. The DRS rule in question is used to limit which ESXi hosts the vm's run on, mostly for licensing reasons.  I noticed in my last test that the type of the DRS was changed, and I don't see a way to set that in the ansible modu

[2018-04-19 17:49] olenm commented on #38917
I can argue either way to have it `path` and `url` or simply have `path` handle both url's and file-paths. Should be easy to see if a protocol is defined in the string of `path` and deduce if it's a URL - then parse it accordingly (including basic auth-fun), and if not use path and pull out `%var%` blobs. - And hope nobody uses `%vars%` in their URL paths.

Thanks! I will attempt the `ansible_env.

[2018-04-19 18:08] acozine opened #39030 "Make new RST warnings fatal in Shippable"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs.ansible.com

##### ANSIBLE VERSION
2.6

##### SUMMARY
We have a lot of legacy errors in the documentation build, so we are not treating rST warnings as fatal for the CI build. This leads me to ignore error output when I build the docs. And it means that we inevitably introduce both regressions and new errors.

We are working to el

[2018-04-19 18:14] BR0kEN- commented on #39014
@bcoca Why 2.5.1 got released without a changelog record and having such breaking changes?

[2018-04-19 18:22] #39014 closed, assigned to nobody

[2018-04-19 18:41] MichaelBaydoun opened #39031 "win_service timeout TypeError"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
CACHE_PLUGIN(/home/<redacted>/.ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/home/<redacted>/.ansible.cfg) = ~/.ansiblecachedir
CACHE_PLUGIN_TIMEOUT(/home/<redacted>/.ansible.cfg) = 10800
DEFAULT_CALLBACK_WHITELIST(/home/<redacted>/.ansible.cfg) = ['profile_tasks', 'timer']
DEFAUL

[2018-04-19 19:03] ckotte commented on #34196
@vdweij:

You can upgrade to Ansible 2.5 and do this:

Use always tag for all include_roles which basically means the role will always be included.

**playbook.yml**
```- { include_role: name=base, tags: always }```

Tag all tasks with a role tag and more specific tags if you want.

**role/main.yml**
[code]

**command**
Execute all tasks of base role:
`ansible-playbook playbook.yml --tags base`

E

[2018-04-19 19:24] NT-TM commented on #38639
Any development or resolution on this item  ?

[2018-04-19 19:35] jborean93 commented on #39031
@MichaelBaydoun the issue is that you are on Python 2.6 and using the latest pywinrm which broke compatibility due to some changes around sniffing the response from the server for error messages, see https://github.com/diyan/pywinrm/issues/204. You can probably easily replicate it with

[code]

This will cause a fault message to be received as no output would be generated within the default operat

[2018-04-19 19:35] #39031 closed, assigned to nobody

[2018-04-19 19:39] jborean93 commented on #38232
That's as expected, when `state: searched` it finds what updates are available but because nothing was installed or changed on the remote host then changed should be False. When you have `state: installed` and there are updates to install, it should show `changed: True` as it would have installed updates or would have installed updates when in check mode. The docs are a tiny bit misleading in that

[2018-04-19 20:26] ivanbaldo commented on #38299
It seems the fix didn't made it to 2.5.1, I am wrong?
Thanks.

[2018-04-19 20:29] olenm commented on #38917
Well I tried `{{ansible_env.TEMP}}` and it failed on another part - actually it hung forever (maybe a different issue completely - likely due to "arguments": https://app.datadoghq.com/account/settings#agent/windows

I'll tinker with it later and may file another bug - currently 'fix' is to keep using `win_msi` for the time being.

[2018-04-19 21:45] skregas opened #39039 "ios_command reports timeout on IOS-XE device"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Running Ansible from Red Hat Linux
Managing Cisco IOS-XE device, , Version 03.07.05E

##### SUMMARY

Manually executed commands return valid output on the device. Running the same command using the "ios_command" results in a timeout failure for that d

[2018-04-19 21:47] aak1989 commented on #38427
I am facing a similar issue i have ansible 2.4 version, what is the fix for this?

[2018-04-19 22:14] jmnavarrol commented on #18154
This!

It's an implementation bug, and a bad one at that.  There's an (implicit) design pattern in that roles define general behaviour, playbooks an architectural design of those functionality items, and inventory, implementation details of such arch.  For the most part, variable precedence follows this pattern but then, having playbook-level variables overriding inventory-level ones, or global-le

[2018-04-19 22:25] jborean93 commented on #38427
@aak1989 we aren't planning another 2.4.x release so while I will try to merge the changes into stable-2.4 there isn't a guarantee there will be a pypi/tarball release in the future.

You can manually edit the setup.ps1 on your Ansible install to the file here https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/setup.ps1.

[2018-04-19 22:26] jborean93 commented on #38257
needs_info

[2018-04-19 22:29] jmnavarrol commented on #24473
If I understood properly, I don't like this idea.  Roles should be inventory agnostic.  If you want to play with groups to set variables, do it at the playbook level.

For "private" role variables, use the vars/ files; for defaults, use the defaults/ dir.

I would like a more detailed use case to better understand what you try to accomplish.

[2018-04-19 22:47] jmnavarrol commented on #18257
...another example (from my daily job): we have redhat servers handled by a variety of groups (say security, database, networking...).  It'd be great to have a single var, say, redhat_repos, that could be populated by merging items from different groups (but we don't know in advance which groups).

Say, aserver belongs to [mysql], [common] and [middleware], and on each group_vars file you find som

[2018-04-19 23:43] LuckySB commented on #30441
Excellent
Playboy with include_tasks was played for the same time as in version 2.4.0-100.git201708150932

ansible-2.4.0-100.git201708150932.e9c9473819.devel.el7.centos.noarch, playbook with include:
real 7m47.540s
user 6m42.249s
sys 2m26.780s

 ansible-2.6.0-100.git201706100416.11c40bcbda.devel playbook with include:
real 8m44.923s
user 5m41.442s
sys 2m53.663s

 ansible-2.6.0-100.git201706100416.

[2018-04-20 00:01] LuckySB commented on #31074
Excellent
fix worked!
[code]

[2018-04-20 00:59] salman1485 commented on #39039
looks like this is happening only for IOS-XE type devices while same setup works on IOS type devices. Should we assume that ios_command is not made for IOS-XE type devices? I'm asking this because backup of running config works for IOS-XE type devices using ios modules.

[2018-04-20 01:57] lae opened #39044 "ansible-galaxy list errors if search directories are missing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Arch Linux

##### SUMMARY
Attempting to list installed roles when `/usr/share/ansible/roles` does not exist fails.

##### STEPS TO REPRODUCE
Ensure `/usr/share/ansible/roles` (or any directory in `DEFAULT_ROLES_PATH` probably) doesn't exist, then run `ansible-galaxy list`.

###

[2018-04-20 01:57] LukeRussell commented on #38892
I have ansible.cfg `gathering = explicit` set.

But I also just tried running it again with `gather_facts: no` to be sure. Still slow.

[2018-04-20 02:04] Fred-sun commented on #39006
@pschiffe I have a try by following yml file , but it cannot reproduce this error, could you share you reproduce method and give your yml file, I will try again. Thanks !
[code]

[2018-04-20 02:14] LukeRussell commented on #39011
Not sure just changing `section` to `include` is going to be enough. It doesn't produce very interesting information:

[code]

However, `show run interface xxx` is a bit better, and works on every platform I know of:
[code]

[2018-04-20 02:16] LukeRussell commented on #39011
Ah, on second look your most recent post is using `show run interface`.

Apologies.

[2018-04-20 02:36] sodle opened #39046 "Cannot install .deb using package module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

package

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Managing Ubuntu 16.04.4 LTS (xenial) from localhost. Apt version 1.2.26 (amd64).

##### SUMMARY

When attempting to install a package via...
[code]
the play fails with error...
[code]
The equivalent on Red Hat succeeds:
[code]

##### STEPS TO REPRODUCE

[2018-04-20 02:55] Akasurde commented on #38982
@grumpymatt Thanks for info. There is no API which can update DRS rule. So in order to apply update we first read all information about rule, delete the rule and recreate it with update + old data.

I will do some PoC and ping you.

[2018-04-20 03:23] jtauke opened #39047 "win_domain - add ability to specify netbios name"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_domain

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/my_modules']

##### OS / ENVIRONMENT

Fedora 27
##### SUMMARY

win_domain module currently doesn't offer any way to to specify the netbios name for the domain that is created.  This causes issues when configuring doma

[2018-04-20 04:33] ghaithdallaali commented on #20492
tldr; do the un/installations above *on the target host*

I was hitting this error using the docker_service and docker_container ansible modules. I tried everything above but none worked. I spent an embarrassingly long time trying to figure out what was going on until I realized that the error is coming from my remote target... All I had to do was follow @jpiron comment to install docker-compose 1

[2018-04-20 05:48] jmnavarrol commented on #18154
@bcoca That's good news (of course, I'd prefer the default to be what I said, since defaults matter, but still good to know).  Now, the question is: how is this issue still open, then?

[2018-04-20 05:54] zdw opened #39049 "set_fact only registers the last change to a variable when used in a with_items loop"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`set_fact` module, when used in a `with_items` loop to set the same fact multiple times.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Between 2.5.0 and 2.5.1, the behavior of `set_fact` changed when used in a ` with_items` loop (and possibly other kinds of loops) when setting the same value m

[2018-04-20 05:57] #38995 closed, assigned to nobody

[2018-04-20 06:21] ingokofler opened #39050 "Azure network interface - make security group optional"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

azure_rm_networkinterface
azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
In its current implementation the azure modules for provisioning a network interface and for provisoining a virtual machine (which implicitly creates a network interface for that vm) always creates a ne

[2018-04-20 06:59] mkrizek commented on #39049
Resolved in #38302 and will be included in the upcoming 2.5.2 release.

[2018-04-20 06:59] #39049 closed, assigned to nobody

[2018-04-20 07:01] memo42 commented on #39017
@jhawkesworth It works with 2.5.1. Thanks.
Sorry I didn't check that.

[2018-04-20 07:01] #39017 closed, assigned to nobody

[2018-04-20 07:13] jborean93 commented on #39017
That's ok @memo42, we don't expect people to know each and every fix. Glad it works and thanks for confirming

[2018-04-20 07:15] ganeshrn commented on #37970
resolved_by_pr #39027

[2018-04-20 07:30] mowgli opened #39053 "Version 2.5.1 break union filter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
union filter

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian/Devuan

##### SUMMARY
The above sniplet generates ssh_hostkey_algorithms depending on ssh_hostkeys. With version 2.5.0 and below, it was the union of all selected hostkey algorithms. With version 2.5.1 it is only the last one with dropped all ot

[2018-04-20 07:33] jamezpolley commented on #38456
I'm seeing this behaviour also. I do have `ansible_user` defined in my inventory, and `remote_user` defined in a play. The behaviour I expected was that the more-specific remote_user setting in the play would override the default ansible_user setting from the inventory; but what I'm seeing instead is that the more-specific setting for the play is ignored in favor of the default ansible_user settin

[2018-04-20 07:38] mkrizek commented on #39053
Resolved in #38302 and will be included in the upcoming 2.5.2 release.

[2018-04-20 07:38] #39053 closed, assigned to nobody

[2018-04-20 07:39] vibhor995 commented on #14430
changed_when: false and true ...i am actually confused please explain , as i am getting erroron ansible-lint but putting changed_when handles the error,doest it effect my script fucntionality on machine or  any big changes, please comment

[2018-04-20 07:47] mkrizek commented on #38949
cc @Akasurde

[2018-04-20 07:53] Fred-sun commented on #38431
@zikalino I meet another question ,If azure-mgmt-rdbms version is 0.1.0 or 0.2.0rc1, Will create DataBase and get warning as describe.
But if azure-mgmt-rdbms version is 0.3.1 will fail result as below
TASK [Create ( or update ) PostgreSQL Server] ****************************************************************
 [WARNING]: Azure API profile latest does not define an entry for PostgreSQLManagementC

[2018-04-20 07:55] mkrizek commented on #38947
cc @alikins

[2018-04-20 07:55] Fred-sun commented on #38431
@zikalino I meet another question ,If azure-mgmt-rdbms version is 0.1.0 or 0.2.0rc1, Will create DataBase and get warning as describe.
But if azure-mgmt-rdbms version is 0.3.1 will fail result as below **I meet another question ,If azure-mgmt-rdbms version is 0.1.0 or 0.2.0rc1, Will create DataBase and get warning as describe.
But if azure-mgmt-rdbms version is 0.3.1 will fail result as below**
TA

[2018-04-20 08:15] jamezpolley commented on #4688
Many many years ago, in a [comment](https://github.com/ansible/ansible/issues/4688#issuecomment-27432346) far far away, @jctanner asserted that the order of precedence of all the various places that remote_user/ansible_user/ansible_ssh_user might be set was roughly:

    inventory ansible_ssh_user > task remote_user > play remote_user > playbook remote_user > cli --user

Later, @bcoca [asserted](h

[2018-04-20 08:16] Nir-Tal opened #39055 "Filter by host var fail"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Filter by host var
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_ARGS(ansible/ansible.cfg) = -o UserKnownHostsFile=/dev/null -o StrictHost
DEFAULT_MODULE_PATH(ansible/ansible.cfg) = [u'/home/nir/ArchAssets/var/ansible/module
DEFAULT_TRANSPORT(ansible/ansible.cfg) = ssh
RETRY_FILES_ENABLED(ansible/ansible.cfg) = False

#####

[2018-04-20 08:17] mkrizek commented on #38946
!component =lib/ansible/plugins/lookup/k8s.py

-label needs_triage

[2018-04-20 08:44] ganeshrn opened #39056 "[NET_MOD] Fix cliconf api's for supported network platforms"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- [x] cliconf/ios https://github.com/ansible/ansible/pull/41846
- [x] cliconf/junos https://github.com/ansible/ansible/pull/43643
- [x] cliconf/iosxr https://github.com/ansible/ansible/pull/43837
- [x] cliconf/nxos https://github.com/ansible/ansible/pull/43203
- [x] cliconf/eos https://github.com/ansible/ansible/pull/42300
- [x] cliconf/vyos h

[2018-04-20 08:45] shanumondal opened #39057 "Netapp ONTAP aggregate rename is not working."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

na_cdot_aggregate.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

##### SUMMARY

Netapp ONTAP aggregate remane is not working.

##### STEPS TO REPRODUCE

There is no option to provide new name of an existing neta

[2018-04-20 08:46] stanleylst opened #39058 "Ansible 2.4.2 git module variable not work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
git module variable not work

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NONE

##### OS / ENVIRONMENT

[code]
##### SUMMARY
git module parameter  keep in one line can't work

[code]
But if work well on blow type
[code]

##### STEPS TO REPRODUCE
both Syntax  fromat can work。

##### EXPECTED RESULTS

##### ACTUAL RESULTS

* Normal result
[c

[2018-04-20 08:57] shanumondal opened #39060 "Netapp ONTAP SVM rename is not working."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

na_cdot_svm.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"
##### SUMMARY

Netapp ONTAP SVM remane is not working.

##### STEPS TO REPRODUCE

There is no

[2018-04-20 09:02] spmp commented on #38973
@Fred-sun it is not so simple. I have already _accepted the terms_ of the azure licence using the azure cli so I cannot reproduce the issue to give you the output. The issue is well described in the issue on the azure cli.
I will try giving you a vanilla template again, but it will nesc. be vague unfortunately.

[2018-04-20 09:03] blubberdiblub opened #39062 "combine() replaces instead of combining when trying to accumulate k/v-pairs in a loop in 2.5.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`filter/core.py` (supposedly)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- Ubuntu 18.04
- CentOS 7.2.1511

##### SUMMARY

`combine()` completely replaces contents of the former dictionary when accumulating items inside a `loop` or `with_items` loop.

This happens both with Python 2.7.x and Python 3.6.x

[2018-04-20 09:28] trondhindenes commented on #38532
as far as I can see, 2.5.1 was released without this fix in.

[2018-04-20 09:43] mscherer commented on #38985
So, how was python3 installed and how was zabbix-api installed ?

[2018-04-20 09:48] selivan commented on #38985
@mscherer

Python3 is installed in Ubuntu Xenial by default, package `python3.5-minimal`.

zabbix-api: `apt install python3-pip; pip3 install zabbix-api`.

[code]

[2018-04-20 10:05] panticz opened #39065 "Nested include_role in a playbook not working in 2.5.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

Role archive-deploy is not included. After downgrade to 2.4.2.0 include_role works as expected.

[code]

[2018-04-20 10:06] mscherer commented on #38985
so the error is likely somewhere else in the try/except clause, since look ok.

[2018-04-20 10:11] selivan commented on #38985
@mscherer yep, `from zabbix_api import ZabbixAPI, ZabbixAPISubClass` works fine in python3. Btw, why does it change "zabbix" to "********" ? Even in error report:

[code]

Could it literally try to execute `from ********_api import ZabbixAPI, ZabbixAPISubClass` ?

[2018-04-20 10:12] mscherer commented on #38985
No, I think that's the filtering of the password. If the password is 'zabbix', it would be filtered.

[2018-04-20 10:16] selivan commented on #38985
@mscherer Got it, it's default Admin password for a fresh Zabbix installation. Is there any way I can help debug this?

[2018-04-20 10:29] mscherer commented on #38985
I would start by using the git version, and remove the try/expect from code in zabbix_host. It should show a better backtrace. Now, there isn't anything more on your side, I just need to see if I can reproduce it.

[2018-04-20 10:31] mkrizek commented on #39062
Resolved in #38302 and will be included in the upcoming 2.5.2 release.

[2018-04-20 10:31] #39062 closed, assigned to nobody

[2018-04-20 10:41] selivan commented on #38985
https://github.com/ansible/ansible/commits/devel/lib/ansible/modules/monitoring/zabbix/zabbix_host.py

Last change was fix for zabbix <= 3.0, I got 3.4, and change before that was long time ago, it's already in ansible 2.5.1

Changed in `zabbix_host.py` `try:` to `if True:`, here is what I got running playbook with `-vvvv`:

[code]

[2018-04-20 10:50] selivan commented on #38985
@mscherer I even manged to fix it this way:

Changed line 798 in `zabbix_host.py` this:

[code]
to this:
[code]

I'm not sure this it correct pythonic way to do things, but it works.

[2018-04-20 10:51] trondhindenes opened #39068 "Loop-then-fail pattern seems broken in Ansible 2.5.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### SUMMARY
On earlier versions of ansible, this was a valid pattern:
[code]

This would retry the loop, but if the "until" statement wasnt met, the task would report failed.
In Ansible 2.5.0 the behavior has changed: As long as "ignore errors" is configured, ansible will simply ignore the fact that the "unt

[2018-04-20 10:54] trondhindenes commented on #39068
btw I totally see the logic in this (we did specify ignore_errors after all), but I'm still worried because:
1. the behavior is different from before (we upgraded from 2.3 so the new behavior may have been the case for 2.4 as well)
2. Its difficult to constrult loop-then-fail statements in Ansible since we now longer have separate error control of the loop as a whole and the result of the "inner"

[2018-04-20 11:01] #37808 closed, assigned to nobody

[2018-04-20 11:02] selivan commented on #38985
@mscherer Here is a PR if my fix is correct: https://github.com/ansible/ansible/pull/39070

[2018-04-20 11:04] ktosiek commented on #35942
Still happens in 2.5.1

[2018-04-20 11:17] Nir-Tal commented on #39055
!component

[2018-04-20 11:39] andmos opened #39072 "Test-AnsiblePath on certificate paths don't seem to work in Ansible 2.5.1 (Windows)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`win_shell`
`Test-AnsiblePath`
or other Windows module with `creates:`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
stock config

##### OS / ENVIRONMENT
Ubuntu 16.04 against Windows Server 2012R2

##### SUMMARY
We have some tasks that imports certificates to the certificate store on Windows.
To make sure we don't install the certificates

[2018-04-20 11:41] mkrizek commented on #39044
The behavior seems correct to me.

[2018-04-20 11:41] trondhindenes commented on #39068
it seems that the intented can be obtained using `failed_when` to control the overall result of the task, while `ignore_errors` controls the inner loop. This should probably be documented somewhere...

[2018-04-20 11:43] mkrizek commented on #39044
cc @chouseknecht

[2018-04-20 11:49] jtauke commented on #39047
I actually did some testing of almost the exact same changes last night and had good results.

I’ll get some additional testing done and get a pull submitted.

[2018-04-20 12:04] andmos commented on #39072
I know we now have the [win_certificate_store](http://docs.ansible.com/ansible/latest/modules/win_certificate_store_module.html#win-certificate-store-module) module, but it would be nice to be able to adopt it without the old breaking 😆

[2018-04-20 12:26] mscherer commented on #38985
So, with this fix, it work ?

[2018-04-20 12:40] selivan commented on #38985
It does

[2018-04-20 12:58] johnpetersjr commented on #38482
I think I'm seeing a similiar issue... because the wait: yes doesn't seem to work anymore, I'm trying to call ec2_ami twice, once to create an ami, then waiting to see it become available using ec2_ami_facts, and once it is ready, I then try to share the AMI, but I get this error:

    "msg": "state is present but all of the following are missing: name"

`
- name: Share AMI
  ec2_ami:
    name: "{

[2018-04-20 13:04] artiommocrenco opened #39075 ""No module named ansible.errors" after installing via pip on Ubuntu Bionic"
I am unable to install ansible (latest) via pip on Ubuntu Bionic.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
2.5.1

##### CONFIGURATION
none, attempting fresh install

##### OS / ENVIRONMENT
[code]

##### SUMMARY
I am unable to install ansible (latest) via pip on Ubuntu Bionic. Installing via apt works, however I need to use `pip`.

##### STEPS TO REPRODUCE
1

[2018-04-20 13:07] artiommocrenco commented on #39075
It might be worth stating that I upgraded from Ubuntu Xenial using the `do-release-upgrade` command.

As with the other stuff, I'm assuming it corrupted something related to pip/PATH/other configuration.

But maybe someone else is experiencing this issue on Bionic?

[2018-04-20 13:42] Finzzownt commented on #22789
Today I tested the installation (only) of an .msp using Ansible 2.4 by changing win_package.ps1. In the part that installs an msi (which allows installation of an MSI over http, likewise MSP) we've added code to treat msp as msi:
[code]
And in the MSI installation block:
[code]
And it worked like a charm.
(again: code base ansible2.4)
No code logic was added however for testing if the patch was in

[2018-04-20 13:52] reimlima commented on #36989
ansible --version
ERROR! Unexpected Exception, this is probably a bug: 'type' object is not iterable
the full traceback was:

Traceback (most recent call last):
  File "/usr/bin/ansible", line 97, in <module>
    mycli = getattr(__import__("ansible.cli.%s" % sub, fromlist=[myclass]), myclass)
  File "/usr/lib/python2.7/dist-packages/ansible/cli/__init__.py", line 38, in <module>
    from ansible.i

[2018-04-20 13:55] TheFriendlyCoder commented on #15297
I'm not sure how / why but for some reason I only recently started encountering this problem. I'm not sure exactly how / why my Ansible plays were working only a couple of weeks ago, but now they're not. I'm using Ansible v2.5.0 and have tried v2.5.1 and both seem to exhibit the problem. Further, the error doesn't seem to affect all provisioned hosts I'm running plays against. For example, I have

[2018-04-20 13:56] bcoca commented on #36989
@reimlima  your error is unrelated, it has to do with vault

[2018-04-20 14:01] TheFriendlyCoder commented on #15297
Oh, and I also should mention that I'm on Mac OS X under Python 2.7.14 with all latest packages installed.

Also, for kicks I tried installing some older versions of Ansible to see if maybe this was a bug that was introduced at some point... and it looks like if I downgrade to v2.4.0.0 the problem goes away. Upgrading to v2.4.1.0 or newer the problem re-appears. So it would seem that whatever is c

[2018-04-20 14:03] sivel commented on #38532
That is correct.  It will be included in 2.5.2

[2018-04-20 14:07] justinsousa opened #39078 "run_once combined with delegate_to and set_fact not working as it did in 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Mac OSX 10.12.6

##### SUMMARY

I use run_once and delegate_to: localhost to generate a list of dicts that contain randomly generated passwords from another list of dicts. In 2.4.x this combo works as expected. In 2.5.x it does not and only one of the dicts ends

[2018-04-20 14:10] mattclay opened #39079 "Unstable integration test azure_rm_functionapp"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_functionapp integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test azure_rm_functionapp:

https://app.shippable.com/github/ansible/ansible/runs/61776/62/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pa

[2018-04-20 14:13] mattclay commented on #39079
Tests marked unstable in https://github.com/ansible/ansible/commit/fafceb989599f523decb73877db8cfbcbed9b8f5

[2018-04-20 14:14] mattclay commented on #39079
/cc @zikalino

[2018-04-20 14:34] patrickdeelman commented on #22559
@bcoca I've taken several shots at this, but i can't seem to pry the !mergeable out of the original json document into ansible. However i would like to suggest to implement ansible_merge: yes comparable to: http://docs.ansible.com/ansible/devel/user_guide/intro_inventory.html#id11 (ansible_group_priority)

This is quite easy to implement as you only have to take the combine_vars function into acco

[2018-04-20 14:35] joelwking commented on #38179
I encountered the error when the host in question did not exist. A query of a host which did exist, worked successfully. Here is a sample task:

    - name: Query infoblox
      set_fact:
        primary_mgmt: "{{ lookup('nios', 'record:host', num=1, filter={'name': guest_name}, provider=nios_provider) }}"

This host exists ` ansible-playbook ib_test.yml -e "guest_name=f5-lab-12-b.example.net" -vv

[2018-04-20 14:40] Nowaker commented on #21239
Also, it would be worth documenting the precedence of `-e` itself. For example:

[code]

[2018-04-20 14:51] patrickdeelman commented on #22789
@Finzzownt Looks good. I'm still missing the patch GUID however, since the creates_* options are discouraged according to the documentation. I would prefer to have that option.

(On a personal note: I totally forgot about this request and i'm happy that you took it up. My free times gets eating up by the little one, but he's already 1 year old. Soon he'll join the development force (i hope :D ), b

[2018-04-20 15:05] bcoca commented on #4688
@jamezpolley you are mixing 2 diff precedence chains:

connection_var > play keyword > cli option > env var > config

Then vars themselves have their own precedence

extra vars (-e on cli) > all other vars

so both statements are compatible, though incomplete, `ansible_ssh_user` is a var and can be defined anywhere a var can be defined, so it is not JUST the one defined in inventory that has great

[2018-04-20 15:12] bcoca commented on #39046
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The package module only implements the 'lowest common denominator' options, as such the `name` option matches the `name` option in `apt

[2018-04-20 15:12] #39046 closed, assigned to nobody

[2018-04-20 15:13] bcoca commented on #18154
@jmnavarrol open? .... https://github.com/ansible/ansible/issues/18154#event-1036913438

[2018-04-20 15:26] digitalhuman opened #39083 "yum_repository creates ERROR on CentOS 7.5 - Ansible Playbook 2.5 (Python 2.7.5)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)
Linux my.secret.domain 3.10.0-693.21.1.el7.x86_64 #1 SMP Wed Mar 7 19:03:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
When using yum_repository in modules it generates an error. Even when using the ex

[2018-04-20 15:31] smeso commented on #30703
You probably want to use the `remote_src` parameter.
The issue reported is due to the fact that ansible won't `become` root when accessing the src file, because, without the `remote_src` parameter, the src is supposed to be a local path, accessible by the current user.
Alternatively, when working on `localhost`, you can directly run ansible as root.

[2018-04-20 15:50] jtyr commented on #39083
This is not a problem in the `yum_repository` module but in the playbook/role. Please visit the [Ansible IRC channel](http://webchat.freenode.net/?channels=ansible) to discuss your problem.

@ansibot please close this issue as it's `notabug`.

[2018-04-20 15:51] joelwking commented on #38179
To test, I made the following modification to nios.py

[code]
Running
[code]
Tested with this playbook:
[code]

Test where host record does not exist
[code]

Test where host record exists
[code]

[2018-04-20 15:55] sivel commented on #30441
@LuckySB Thank you for the feedback. I'm going to go ahead and close this.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-20 15:55] #30441 closed, assigned to nobody

[2018-04-20 16:00] skregas commented on #39039
Running `show ver` on IOS-XE type devices appears to work; command completes successfully, valid output is returned to Ansible and there are no errors.

On the same device, `show ver` will work fine, but `show run` will not. This includes variants such as:
`show ver | i Cisco`   (works)
`sh ver`                    (works)

`sh run`                       (not working)
`show run | i logging`  (not w

[2018-04-20 16:01] #39083 closed, assigned to nobody

[2018-04-20 16:10] sivel commented on #39065
This is the expected behavior due to a change in how attributes are inherited on includes as described at http://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#dynamic-includes-and-attribute-inheritance

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansi

[2018-04-20 16:10] #39065 closed, assigned to nobody

[2018-04-20 16:11] sivel commented on #39078
This has been resolved in https://github.com/ansible/ansible/pull/38302 and will be included in the 2.5.2 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-20 16:11] #39078 closed, assigned to nobody

[2018-04-20 16:20] #38732 closed, assigned to ganeshrn

[2018-04-20 16:24] bcoca commented on #38456
@jamezpolley this is unrelated as author of issue clearly states that the variables are not set.

[2018-04-20 16:43] sivel commented on #37045
This issue is resolved by the above referenced pull request, and the fix will be included in 2.6.0 and 2.5.2

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-20 16:43] #37045 closed, assigned to sivel

[2018-04-20 16:43] jtauke commented on #39047
Pull request #39084 has been submitted with the changes talked about here.  Thanks for the help @jhawkesworth

[2018-04-20 16:43] #39047 closed, assigned to nobody

[2018-04-20 16:44] digitalhuman commented on #39083
yum_repository was missing a 'r'.

[2018-04-20 16:50] jmnavarrol commented on #18154
My fault.  Don't know exactly why, but I reached to this issue following the open issues list; didn't notice this one was closed.

Anyway, your reason (I close this because precedence is described in doc) wasn't (IMHO) a reason and then, your first reference (http://docs.ansible.com/ansible/latest/installation_guide/_config.html?highlight=group%20precedence#variable-precedence) doesn't mention pre

[2018-04-20 17:29] Akasurde commented on #38949
@benjdudas Thanks for reporting the issue. Could you please try this [fix](https://github.com/ansible/ansible/compare/devel...Akasurde:vm_inv_group_filter) and let me know ?

Add custom values to VMs and vmware_inventory.ini  like

[code]

needs_info

[2018-04-20 17:29] acozine commented on #39030
Tests added in #39043. Thanks to @mattclay for keeping us on the straight and narrow!

[2018-04-20 17:29] #39030 closed, assigned to abadger, mattclay, acozine, gundalow

[2018-04-20 17:40] rwill-at-ncgov commented on #21838
I also have this issue and would like to see a fix.

[2018-04-20 17:41] Petrox opened #39095 "ansible 2.5 backward incompatible change: stat.md5 broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
stat module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

$ ansible-config dump --only-changed
[DEPRECATION WARNING]: DEFAULT_MODULE_LANG option, Modules are coded to set their own locale if needed for screenscraping . This feature will be removed in version 2.9. Deprecation warnings can be disabled by
setting deprecation_warnings=False in

[2018-04-20 17:41] benjdudas commented on #38949
Hey @Akasurde , thanks for getting back on this. We tried setting that here with prop15  but it returned a error when running the script

ini:
[code]

error:
[code]

[2018-04-20 18:05] trondhindenes commented on #38921
Thanks. It would be great to expose "get" functionality as a "regular" ansible module as well (for example by implementing an attribute on the `k8s_raw` module to contol getting/setting). In many cases a regular module is easier to work with than a lookup plugin.

[2018-04-20 18:46] jimi-c commented on #39068
@trondhindenes I'm not quite sure I understand the problem here. Looking at the code, ignore_errors isn't really used at all inside the inner loop (`_execute()`), which is where the retry/until loop is done. That inner method only sets a flag using the task's value of ignore_errors, and that's checked per-item after `_run_loop()` is done iterating over items. Beyond that, ignore_errors is only the

[2018-04-20 18:59] bfallik opened #39098 "get_url: "sslv3 alert handshake failure" for wildcard certs on Centos 6"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ ansible-config dump --only-changed
[DEPRECATION WARNING]: DEFAULT_MODULE_LANG option, Modules are coded to set
their own locale if needed for screenscraping . This feature will be removed in
 version 2.9. Deprecation warnings can be disabled by setting
deprecation_warnings=False in

[2018-04-20 19:01] bfallik commented on #39098
I believe this may be caused by Datadog's use of a wildcard cert but I'm not certain of that.

[2018-04-20 19:06] sivel commented on #39098
I just did a little investigation, and confirmed that the host is using SNI for SSL cert selection.

As described in the error message:

Due to this, your version of python has no current way to validate SSL certs on hosts utilizing SNI.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/

[2018-04-20 19:06] #39098 closed, assigned to nobody

[2018-04-20 19:09] bfallik commented on #39098
@sivel ok, thx for confirming at least

[2018-04-20 19:16] abadger commented on #21401
Apologies for taking a long time to look into this.  I have been able to look at it in the past few days, though, and I think this is working as expected.  I'll summarize first and then give a longer explanation afterwards:

I believe for your case, you have a directory tree like:
[code]
And you want to create a link so that the tree looks like this:
[code]

To achieve that you should use a playbo

[2018-04-20 19:53] magfuentes commented on #30943
for info...

ansible@ubuntu-xenial:~/jsnapy/tests$ ansible-galaxy --version
ansible-galaxy 2.5.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ansible/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
  executable location = /usr/local/bin/ansible-galaxy
  python

[2018-04-20 20:14] smolz commented on #36169
backup_filename - Specifies the backup filename. If omitted filename will be formatted like HOST_config.YYYY-MM-DD@HH:MM:SS

[2018-04-20 20:33] dhakalanis opened #39101 "Please add more choices for parameters (nxos_logging_module)"
##### ISSUE TYPE
 - Feature Idea
 - Documentation Report
Earlier posted proposal :
https://github.com/ansible/proposals/issues/107

Sorry for any inconvenience if these are duplicate efforts. I'm kind of new to Ansible and filing issues.

##### COMPONENT NAME
nxos_logging

##### ANSIBLE VERSION
vagrant@acs:/etc/ansible$ ansible --version
ansible 2.5.0
  config file = /etc/ansible/ansible.cfg
  con

[2018-04-20 21:01] dhakalanis opened #39103 "issues while running playbook for : nxos-feature-module"
##### ISSUE TYPE
 - Bug Report
I'm not sure if this is a bug but am now reporting as the closest issue type.

##### COMPONENT NAME
nxos-feature-module

##### ANSIBLE VERSION

vagrant@acs:/etc/ansible$ ansible --version
ansible 2.5.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/vagrant/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible

[2018-04-20 21:05] nickkadams commented on #20492
Like others I was receiving the same error Failed to import docker-py via a Terraform build.
[code]
was breaking things for me. Here is my working environment:
[code]
Hope that helps.

[2018-04-20 21:08] kustodian commented on #33461
This isn't actually a bug. Also updating cache isn't an idempotent action, so there is an easy workaround for this by just using:
[code]

notabug

[2018-04-20 21:12] #21401 closed, assigned to nobody

[2018-04-20 21:17] DRAKUN opened #39104 "credssp: must be type, not classobj"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CENTOS/7
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[ansible@localhost UT5]$ ansible windows -i hosts -m win_ping
192.168.56.101 | UNREACHABLE! => {
    "changed": false,
    "msg": "credssp: must be

[2018-04-20 21:19] #33461 closed, assigned to nobody

[2018-04-20 21:31] estowe opened #39106 "ios.py AnsibleConnectionFailure: unable to set terminal parameters in user EXEC mode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_DEBUG(env: ANSIBLE_DEBUG) = True
DEFAULT_HOST_LIST(/home/estowe/projects/network_config/ansible.cfg) = [u'/home/estowe/projects/network_config/inventory']
DEFAULT_ROLES_PATH(/home/estowe/projects/network_config/ansible.cfg) = [u'/home/estowe/projects/network_config/roles']
HOS

[2018-04-20 22:00] acozine opened #39108 "Use `:orphan:` to eliminate not-in-toctree errors for module docs?"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs.ansible.com

##### ANSIBLE VERSION
2.5

##### SUMMARY
The docs build generates one `WARNING: document isn't included in any toctree` error for each module. We currently ignore these in Shippable, but it would be nice to eliminate them.

##### STEPS TO REPRODUCE
Run `make webdocs`.

##### ADDITIONAL INFORMATION
Adding `:orphan:` at

[2018-04-20 22:01] jborean93 commented on #39104
Can you share your inventory setup as just showing the commands is not enough for us to find out what is happening

needs_info

[2018-04-20 22:08] jgeorgeson commented on #18979
I am seeing this on 2.5.0. Any idea on timing for a patch?

[code]

[2018-04-20 22:17] kustodian opened #39110 "Appending items to list with_items only leaves the last item"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Core

##### ANSIBLE VERSION
[code]

##### SUMMARY
When appending items to a list while using a `with_items` loop it only leaves the last item, instead of appending them all. This issue only exists in `2.5.1`, everything works in `2.5.0`, `devel` and all older versions, so the bug is introduced in `2.5.1`.

##### STEPS TO REPRODUCE
Run this playb

[2018-04-20 22:27] kustodian commented on #39110
This is already fixed in `devel` by this commit https://github.com/ansible/ansible/commit/2afb1090b14c88093a0a6bb0ab59e029f57eb599, so that commit just needs to be cherry-picked into `stable-2.5`.

[2018-04-20 22:28] Finzzownt commented on #22789
@patrickdeelman NP, we can add in the GUID. I understand @dagwieers ambivalence regarding a separate module or reusing win_package. Reusing the win_package may lead to reusing product_id for the GUID when the path points to an MSP file. Or introduce a separate parameter GUID which leads to bloating the params.
I'm the re-use type. Since the module is named win_package (kinda generic) and product_i

[2018-04-20 22:34] jborean93 commented on #39095
Unfortunately this issue had no easy way to push the deprecation of the `get_md5` option and the `md5` return value. This is coupled with the fact that we currently have no way to alert users who use deprecated return values like md5 is now. The decision for this action was discussed in an IRC meeting and the logs can be found here https://meetbot-raw.fedoraproject.org/ansible-meeting/2017-11-21/a

[2018-04-20 22:34] #39095 closed, assigned to nobody

[2018-04-20 23:05] ursetto commented on #29429
I encountered this issue as well. Workaround is to use megabytes, but need to multiply by 1024.

[2018-04-20 23:13] bcoca commented on #39110
This has been resolved in https://github.com/ansible/ansible/pull/38302 and will be included in the 2.5.2 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-20 23:13] #39110 closed, assigned to nobody

[2018-04-21 00:04] DRAKUN commented on #39104
My inventory
``
[windows]
192.168.56.101
``
vim group_vars\windows
[code]

[2018-04-21 05:36] Akasurde commented on #14711
!component +contrib/inventory/ec2.py

[2018-04-21 05:40] karniemi commented on #28720
Waiting fow my response? No questions were directed at me.

Anyway, providing "-vvvv" logs for sporadic failures is not possible - we can't run ansible in debug mode all the time because the log becomes a mess. And there is no way to have separate log levels for console and files, though it has been requested in some tickets and bcoca claimed it's implemented already.

Would you please look at #32

[2018-04-21 06:47] tdmalone commented on #30754
Had the same problem as @ralffunk - in my case it was a dud repository in one of the sources in `/etc/apt/sources.list.d`.

[2018-04-21 08:32] patrickdeelman commented on #22789
@Finzzownt i can understand the re-use, however if you want to uninstall the MSP, you need both the patch UID as well as the productGUID. See: https://www.msigeek.com/647/command-line-switches-for-msi-and-msp-installations.

And yes i believe that path is correct. You can check your adobe hive. Should be full of patches 😀

[2018-04-21 12:08] minac opened #39116 "systemD not enabling service on boot"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
systemd

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS High Sierra 10.13.4 and Ubuntu 16.04

##### SUMMARY
When doing this:
[code]

The daemon does not get started on reboot. The module "service" also has the same issue.

Doing the following works:
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED R

[2018-04-21 13:01] agaffney commented on #37496
I ran into this issue for an existing ASG when I had manually deleted the ALB and associated target groups as part of switching to a classic ELB (since ansible doesn't seem to support network LBs). I assume that the `ec2_asg` module reads the target groups that are associated with the ASG, tries to look them up, and fails because they no longer exist.

[2018-04-21 16:11] sdigit opened #39118 "ERROR running playbooks, but execution continues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible-playbook
ansible
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Debian 9 (stretch), managing Debian 8 and Debian 9 hosts. Does not appear to be platform specific: happens with Ansible Tower on CentOS 7 as well.
##### SUMMARY
This error (with no description) pops up when running a playbook or even a synta

[2018-04-21 16:25] nicoonoclaste opened #39119 "Ansible does not load facts from host_vars/ with connection: local"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vars/variable_manager

##### ANSIBLE VERSION

[code]

Also confirmed occuring on 2.5.1

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian buster/sid

##### SUMMARY

When using `hosts: localhost` and `connection: local` (in my case, to generate `~/.ssh/config` configuration snippets from the Ansible inventory), `hostvars` contains fac

[2018-04-21 16:25] sdigit commented on #39118
data point: with all ansible.cfg changes reverted, issue still occurs.

[2018-04-21 16:30] dhakalanis commented on #39103
Thanks @trishnaguha for taking ownership of this.

 The main issue when i reported was for :
 - Device name: ANS-SPINE2
-  Device type: N5K-C5596UP-SUP
-  Version: n5000-uk9.7.1.4.N1.1c.bin

I checked the device and the NXOS version does not support feature nxapi. AFAIK, its pre-requisite for a device to have this feature enabled for running Ansible related playbooks.
Action item for me:
1. Try to

[2018-04-21 18:11] sdigit commented on #39118
This also happens with the `ansible` command itself:
[code]

[2018-04-21 18:32] camdixon opened #39120 "OSX Install failure"
Installing for OSX recommendations from the [Installation Guide](http://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html?#latest-releases-via-pip) failed.  Installing pip worked, but then pip was not able to complete the fetch.

##### ISSUE TYPE
 - Bug Report

##### INSTALLING LATEST ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
Mac OS X El Capitan
10.11.6

##### SUMMARY

[2018-04-21 19:14] IvanovOleg commented on #37872
Exists in 2.5.1

[2018-04-21 21:04] sdigit commented on #39118
This appears to be related to the GCE inventory plugin script; when run with a localhost-only inventory, the command does not error.

With GCE inventory script:
[code]

Without:
[code]

[2018-04-21 22:35] geerlingguy opened #39122 "YAML stdout callback plugin doesn't output stdout from command module"
##### ISSUE TYPE

 - Bug Report

(Though maybe this is a feature idea?)

##### COMPONENT NAME

yaml stdout_callback plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When using the Ansible default configuration (`default` stdout callback plugin), and running `command` module commands either via playbook or ad-hoc commands, command outpu

[2018-04-21 22:36] bodograumann commented on #13702
@karniemi: It is not.
For anyone stumbling upon this issue: it is now tracked under #38786

[2018-04-21 22:39] geerlingguy commented on #39122
This was found when testing out many of my playbooks (some of which grab and print debug info via `command`s) after writing [this blog post](https://www.jeffgeerling.com/blog/2018/use-ansibles-yaml-callback-plugin-better-cli-experience) and switching my main workstations over to the `yaml` callback plugin.

[2018-04-22 02:16] eklitzke commented on #26673
I like this idea precisely because I want to use ansible to manage my laptop/workstation. Even if you think using copr in production is a bad idea, that doesn't mean there aren't use cases for interacting with copr from ansible.

[2018-04-22 03:15] ericwb commented on #39120
Recently pip was upgrade to version 10 and pypi has a new URL of https://pypi.org.  Have you tried upgrading pip to 10.0?

More info: https://pythoninsider.blogspot.ca/2018/04/new-pypi-launched-legacy-pypi-shutting.html

[2018-04-22 04:39] PillPall opened #39124 "Include_roles > 13 maximum recursion depth exceeded"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_CALLBACK_WHITELIST(/Users/mbloch/Documents/projects/github/spotify/ansible/config/ansible.cfg) = ['timer', 'mail', 'debug']
DEFAULT_HOST_LIST(/Users/mbloch/Documents/projects/github/spotify/ansible/config/ansible.cfg) = [u'/Users/mbloch/Documents/projects/github/spotify/ansi

[2018-04-22 05:13] Akasurde commented on #38982
@grumpymatt `affinity_rule` defines the type of rule. I would like to know when you say type of DRS rule was changed, what was type of DRS rule before update ? Could you please provide output of [`vmware_drs_rule_facts`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_drs_rule_facts.py) module which will tell us more about DRS rule ?

needs_info

[2018-04-22 05:36] Akasurde commented on #38799
@umrikar Thanks for reporting this issue. You are not specifying `cluster_uuid` in second task which will identify vsan cluster id (This value is returned by first task). Please take a look into `vmware_vsan_cluster` example.

needs_info

[2018-04-22 08:03] Akasurde commented on #36915
`-a "vars=groups"` is for `debug` module. You can run any module using this. Current inventory plugin groups guestId i.e. `rhel7_64guest` or `otherLinux_64guest` etc.,

[2018-04-22 08:03] #38985 closed, assigned to nobody

[2018-04-22 08:06] PillPall commented on #39124
@Akasurde
Thank you very much !

I haven't found the issue while searching. Tried the fix and it's working. Additionally it looks like that the fix is a huge performance booster for the include_module module.

[2018-04-22 08:06] #39124 closed, assigned to nobody

[2018-04-22 08:29] trondhindenes commented on #38917
Powershell doesn't have the concept of `%VAR%`, that's a cmd thing. IMHO this is not a bug.

[2018-04-22 13:03] camdixon opened #39126 "Slack channel webhook SSL validate error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Slack Module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### EXPECTED RESULTS
I expect to see a successful connection to Slack Channel

##### ACTUAL RESULTS
Validation of the SSL Cert fails, and provides error message about reporting to slack channel.  If I set `validate_certs: 'no'` then it does report successfully.  I did ver

[2018-04-22 13:03] camdixon commented on #39120
When I upgraded to pip to 10.0 it did work yes.

[2018-04-22 13:34] jsutter55 commented on #38852
@willthames

I've upgraded to 2.5.1, but ansible doesn't seem to be finding/using the deployment server's IAM role credentials.

 [WARNING]:  * Failed to parse /opt/ansible/plugins/inventory/all.aws_ec2.yml with aws_ec2 plugin: Insufficient boto credentials found. Please provide them in your inventory
configuration file or set them as environment variables.

Do you know if the plugin is capable of

[2018-04-22 16:51] AndyFriar commented on #33414
By enabling debug with `display.display("window : %s" % data)` @ line 395 it would appear to be the press any key which is breaking the process

[code]

Could really do with getting this to work as the Aruba API is only on the newer gen of switches.

[2018-04-22 18:00] dmbrownlee commented on #29304
FYI, I'm still getting the "Error: invalid <setting>.<property> 'autoconnect'." error with Ansible 2.5.1 when run against a CentOS 7.0.1406 machine.  Works fine with CentOS 7.4.1708.

[2018-04-22 18:14] AndyFriar commented on #33414
I suspect it is more than just the press any key now

[code]

Even with jmighion updated aruba.py it's struggling to find the prompt despite the regex being correct.

[code]

[2018-04-22 18:43] ganeshrn commented on #33414
@AndyFriar
Can you please try with below one line change in network_cli.py and check.
[code]

[2018-04-22 19:03] AndyFriar commented on #33414
Certainly sends the key press and therefore a much better abbreviation of my bodged code.

Just need to work out why it's not detecting the prompt now

[2018-04-22 19:06] arbabnazar opened #39129 "[ERROR]: without any message on Ansible 2.5.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/etc/ansible/ansible.cfg) = True
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=60s -o ControlPath="~/.ansible/tmp/ansible-ssh-%h-%p-%r" -o ServerAliveInterval=30
DEFAULT_EXECUTABLE(/etc/a

[2018-04-22 19:14] arbabnazar commented on #39129
@bcoca is this related issue? https://github.com/ansible/ansible/issues/39007

[2018-04-22 19:31] ganeshrn commented on #33414
@AndyFriar I have created a branch with more logs added to debug the issue here
You can get it in your environment by running below commands.

[code]
The output of the last command should point to <present-working-directory-path>/bin/ansible
After that rerun the test case.

The extra debug logs will be available in log file which is set in the active `ansible.cfg` file. eg:
[code]

If possible ple

[2018-04-22 19:58] AndyFriar commented on #33414
Probably something wrong on my end as it fails to run once i've cloned to /opt/ansible

[code]

[2018-04-22 20:03] ganeshrn commented on #33414
@AndyFriar Not sure what the issue is.
Instead, try applying the changes here https://github.com/ganeshrn/ansible/commit/175452c5f08163178c0e1e8b5ea89d431c76d2d4

in your running environment. Hopefully it should work

[2018-04-22 20:06] imjoseangel commented on #38715
Hi!

VMWare Tools are installed but not sysprep. I will test with sysprep ASAP. Is it mandatory?

[2018-04-22 20:10] cigamit commented on #38715
No, it should not be sysprepped first, because VMWare will force a sysprep to do the customization.  I was just making sure that you didn't, as the original sysprep will always win over the VMWare attempt.

[2018-04-22 20:13] cigamit commented on #38715
Can you watch the machine as it boots up and see if VMWare attempts its sysprep.  You might also try putting in a customization like this to see if that helps.  If so, that may help us narrow down.
[code]

[2018-04-22 20:14] imjoseangel commented on #38715
I will do. Let you know ASAP

[2018-04-22 20:51] nusenu commented on #21547
I'm on ansible 2.5.1 and don't see this fix in os/apt.py

@mkrizek: Are you still positive that this is indeed in 2.5.1?

[2018-04-22 21:42] rockandska opened #39131 "Dynamic inventory from process substitution (Failed to parse /dev/fd/63)"
##### ISSUE TYPE
 - Feature Request

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
It seems than the inventory file can't be read from a process substitution.
The correction of this behavior will easily solve this kind of issue too #20432 and will permit us to not relay on ENV who not permit us to provide 2 inventory from 2 different docke

[2018-04-22 23:54] nicoonoclaste opened #39132 "apt module does not set already-installed packages as manually installed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian buster

##### SUMMARY

Packages installed with the `apt` module are marked as “manually installed”, meaning they will not be removed by `apt autoremove`.
However, the `apt` module fails to mark them as such if they are already installed, which can r

[2018-04-23 00:15] nbraud commented on #39132
PS: Uninstalling your (and `root`'s) shell is a silly way to lose access  :)

[2018-04-23 00:49] geerlingguy commented on #39129
I’ve been seeing this too, all day only on the machine where I upgraded to 2.5.1, but not on my 2.5.0 machine.

[2018-04-23 01:57] Akasurde commented on #29304
@dmbrownlee Thanks for reporting. Could you please file a new issue with details of error and playbook used ? This will help to track the issue easily and will not be lost in comments.

[2018-04-23 02:10] Fred-sun commented on #39050
@yuwzho Yeah, it will auto create network security group when create network interface. The Opener want add a option on azure_rm_networkinterace module , it can control whether to create network security group , Does you help this. we can reproduce as following YML file. Thanks!
[code]

[2018-04-23 02:14] yuwzho commented on #39050
duplicate_of #37917

This feature is already sent by a PR: #38643 . You can  follow the instruction mentioned in the PR to  install an ansible role and try this feature.  😄

[2018-04-23 02:17] #39050 closed, assigned to nobody

[2018-04-23 02:37] arbabnazar commented on #39129
@geerlingguy yes, you are right. I have downgraded the `ansible` to `2.5.0` from `2.5.1` and error went away. Hope it will get fixed in future release

[2018-04-23 02:38] jborean93 commented on #39104
Hmm that doesn't really show what may be happening unfortunately, are you able to give us some more info such as;

* Run with `-vvvvv` (5 v's), it will display the stacktrace from the error https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/winrm.py#L371
* `pip list` on the Ansible controller
* Changing the auth to Basic, e.g. `ansible_winrm_transport: basic`
* Do any pre

[2018-04-23 03:10] Fred-sun commented on #39050
@yuwzho  Thanks, I have a try and has been fix as your said.

[2018-04-23 03:34] camdixon commented on #39120
@ericwb I wanted to mention also to you that even though 10.0 does work - the docs suggested way of installing / upgrading pip for me did not upgrade it to 10.0.  I think the docs should be updated and/or commands updated to make sure pip is 10.0 for others for Ansible to be installed / upgraded properly.

[2018-04-23 03:35] Alexander198961 commented on #30100
@dagwinter can this pr will be reviewed I added -p (password) options so when this option "-P" is available we can unarchive protected zip

[2018-04-23 03:35] naisanza opened #39137 "shell cat <<EOF command adding space in front of every line"
##### ISSUE TYPE

 - Bug

##### COMPONENT NAME

Ansible Module: shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 17.10.1

##### SUMMARY
I've changed the shell module to use `executable: /bin/bash` now

And using the multiline command. However, the resulting file has a space in front of every line?

[code]

https://github.com/TheShellLand/antsable/blob

[2018-04-23 03:40] Alexander198961 commented on #20958
so we decide   module implementation ?

[2018-04-23 03:58] jcheroske commented on #29556
I just read `gce.py`, and, nowhere in that file is `service_account_email` ever used. I tested it to make sure, by just putting garbage into the `service_account_email` param, and it ran fine, totally ignoring the bad data. This is a bad bug, as it makes the most basic usage of the module confusing.

[2018-04-23 04:51] mkrizek commented on #39132
@nbraud Can you try and see is the issue still persists in `devel`? It should be fixed there.

needs_info

[2018-04-23 04:54] Akasurde commented on #39137
@naisanza You can use `cmd` argument for multiline command like -

[code]

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-23 04:54] #39137 closed, assigned to nobody

[2018-04-23 05:40] jborean93 commented on #39072
Thanks for the bug report, I should have a PR ready soon that brings back the ability to `Test-AnsiblePath` for the providers that `Test-Path` supports.

[2018-04-23 05:51] k-c-p opened #39138 "Fact ansible_virtualization_role not set in Ansible 2.5.1 on real hardware"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Linux

##### SUMMARY
In Ansible 2.5.1 the fact _ansible_virtualization_role_ is not set when the playbook is run against a real hardware machine (fact is set when run against a VM).

In 2.5.0 it was set on real hardware and had the value _NA_.

##### STEPS TO REPROD

[2018-04-23 05:55] yuwzho commented on #30982
Kindly ping @parmstro  , do you still have this problem? Otherwise we will close it 1 week later

[2018-04-23 06:13] jcheroske commented on #29556
According to Google:

[2018-04-23 06:30] shanumondal opened #39139 "Netapp ONTAP qtree rename is not working."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

na_cdot_qtree.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"

##### SUMMARY

##### STEPS TO REPRODUCE

There is no option to provide new name of an exis

[2018-04-23 06:35] boodera commented on #30619
Whats the status of this bug?

[2018-04-23 06:36] justjais commented on #37970
Fixed in #39027, queued for the 2.5.2 release.

[2018-04-23 06:36] jeroenflvr commented on #30411
Looks like I have a similar problem with ansible and an nfs mount on the target. lsof, df, ansible.. all hanging.
Setting the pipelining to false in the ansible.cfg did not help.

[2018-04-23 06:36] justjais commented on #38179
@joelwking Thanks a lot for your observation and yes your understanding is correct.
duplicate_of #37970

[2018-04-23 06:40] #38179 closed, assigned to justjais

[2018-04-23 06:40] #37970 closed, assigned to justjais

[2018-04-23 06:43] justjais commented on #35369
@realged13 Thank you for your observation, can u please verify and close the respective bug if it's resolved from your scenario.

[2018-04-23 06:59] jhawkesworth commented on #20958
@Alexander198961 it is best to ask at a core team meeting, or chat with ansible core developers on #ansible-devel irc channel since there is no consensus yet on how to implement this.

[2018-04-23 07:05] zem opened #39142 "items of with_items loop for include_tasks are getting mixed up (running parallel?)"
- Bug Report

##### COMPONENT NAME
include_task with_items

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_FORKS(/home/deployment/.ansible.cfg) = 50
DEFAULT_HOST_LIST(/home/deployment/.ansible.cfg) = [u'/home/deployment/inventory/hosts']
DEFAULT_POLL_INTERVAL(/home/deployment/.ansible.cfg) = 1
DEFAULT_ROLES_PATH(/home/deployment/.ansible.cfg) = [u'/home/deployment/roles']
DEFAULT_VAULT_

[2018-04-23 07:35] mkrizek commented on #29555
This has been done. Closing.

[2018-04-23 07:35] #29555 closed, assigned to nobody

[2018-04-23 07:37] shanumondal opened #39143 ""hostTypeIndex" is not being set correctly while a new host is created."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

netapp_e_host.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The hostTypeIndex

[2018-04-23 07:40] Fred-sun commented on #39079
@mattclay I cannot write yml to reproduce this issue, Could you help update your yml file , Let me try again. Thanks a lot!

[2018-04-23 07:58] mkrizek commented on #33908
Closing as per above.

[2018-04-23 07:58] #33908 closed, assigned to nobody

[2018-04-23 08:13] jborean93 commented on #38917
@trondhindenes, we already have this ability in some other modules to automatically expand environment variables enclosed in `%`. While I agree it isn't a PowerShell thing it's probably something we want to add here to expand path like values.

[2018-04-23 08:15] mkrizek commented on #18960
@ElectronicRU Are you still interested in re-submitting https://github.com/ansible/ansible-modules-core/pull/4763?

[2018-04-23 08:21] nesanton opened #39144 "synchronize module copies wrong files when ran with empty rsync_opts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module: synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/etc/ansible/ansible.cfg) = True

##### OS / ENVIRONMENT

control: CentOS Linux release 7.4.1708
controlled: CentOS Linux release 7.4.1708; rsync  version 3.0.9  protocol version 30

##### SUMMARY

When copying files, the resulting CMD may incorporate an ex

[2018-04-23 08:33] mkrizek commented on #39058
@stanleylst The format should not affect functionality. Have you deleted `/data/sa/AutomaticTool/files/config` before running the task again? The output suggest otherwise.

needs_info

[2018-04-23 08:34] #38552 closed, assigned to nobody

[2018-04-23 08:35] donpatzone commented on #38669
Hi,
sorry for the late response. I didn't get around to test it the last few days. Now that I have, the problem gets a bit more interesting.
As a further background I do not have root privileges on the ansible controller. I wanted to test by setting it up within a virtual environment. To make sure to replicate the system environment I compared the necessary module versions and now I noticed that a

[2018-04-23 08:43] jellevandehaterd opened #39145 "Using set_fact and with_items yields unexpected result"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

"N/A"

##### OS / ENVIRONMENT

"N/A"

##### SUMMARY
Using set_fact and with_items to build up a new list does not work anymore, it results in only the last item of the with_items as a result.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2018-04-23 08:45] mkrizek commented on #39145
This has been resolved in #38302 and will be included in the 2.5.2 release.

If you have further questions please stop by IRC or the mailing list:

- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-23 08:45] #39145 closed, assigned to nobody

[2018-04-23 08:48] nowissan opened #39146 "gce_instance_templates module doesn't accept full URI for service_account_permissions"
No bug-report found related to this and latest is also affected.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

cloud/google/gce_instance_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

-> ansible-config dump --only-changed
[WARNING]: log file at /var/log/ansible.log is not writeable and we cannot create it, aborting

DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 5
DEFAULT_GATHER

[2018-04-23 08:49] Akasurde commented on #39138
@k-c-p Thanks for reporting this issue. Could you please tell us what OS is installed on real hw ?
 needs_info

[2018-04-23 09:02] Akasurde commented on #37911
@JanMalte Could you please check again and let us know if this fix works for you ?

needs_info

[2018-04-23 09:05] #29916 closed, assigned to nobody

[2018-04-23 09:10] Vedrillan commented on #19814
This still affects ansible 2.5.1 on unprivileged lxc.

[2018-04-23 09:27] ssbarnea commented on #34281
Is this going to be fixed soon? I find it as a serious source of problems because the optional playbook code ca be huge when it comes to number of tasks, causing over **extensive console/log verbosity** of tasks that are never supposed to be loaded.

The `skip_reason": "Conditional result was False"` is not of much help either because the user will not see any condition on those tasks, the conditi

[2018-04-23 09:28] Akasurde commented on #37652
@jkomara Could you please paste output of following command -

[code]
@gl0bus is right. `facter` command may be reporting wrong facts.

[2018-04-23 09:33] Akasurde commented on #37652
I see one resolved issue - https://tickets.puppetlabs.com/browse/FACT-1043

[2018-04-23 09:35] StoyanIvanovI commented on #21769
I am quite surprised this was actually not resolved in Ansible 2.5. It results in some really nasty workarounds when you want to deploy CloudFormation stacks that are both Serverless transforms and not.

[2018-04-23 09:41] Zorrom commented on #38936
After days of struggle finally fixed my code and my CloudForms catalog triggered successfully. Ansible URI module worked like a charm. Leaving the code here as this might help someone in future.

---
- hosts: localhost

tasks:
- name: Trigger a catalog
uri:
 url: https://localhost/api/service_catalogs/10000000000002/service_templates
 method: POST
 user: admin
 password: pass
 validate_certs: no

[2018-04-23 09:41] #38936 closed, assigned to nobody

[2018-04-23 09:52] strarsis commented on #30411
@jeroenflvr: In my case the sshfs mount hangs (also when invoking the mount command manually). I switched to CIFS/samba mount over the SSH reverse tunnel and now it works without hanging. This seems to be partly fuse-related.

[2018-04-23 10:09] mkrizek commented on #21547
@nusenu looks like it was postponed to 2.5.2.

[2018-04-23 10:12] Akasurde commented on #39143
resolved_by_pr #39148

[2018-04-23 10:16] Akasurde commented on #39139
resolved_by_pr #39141

[2018-04-23 10:25] Akasurde commented on #38598
@prakashsurya Thanks for reporting this issue. This issue is fixed via https://github.com/ansible/ansible/pull/34925 and https://github.com/ansible/ansible/pull/38237

[2018-04-23 10:26] k-c-p commented on #39138
Target system is running Debian 7 (Wheezy).

When I run this against a Debian 8 (Jessie) machine, it yields a result. But a surprising one - `host` for real hardware machine is not very intuitive:

[code]

And to make this even more confusing: If I just run the setup module, I get a result for both Wheezy and Jessie. But the result do not match:
[code]

[2018-04-23 10:27] gitqlt commented on #16052
Problem exists even in ansible 2.5.1
`can't open file '/root/.ansible/tmp/ansible-tmp-1524479105.99-234778350704768/stat.py':`
`[Errno 13] Permission denied`

[2018-04-23 11:16] humpalum commented on #5725
Just an quick Heads-Up for anyone who may encounter this problem:
I just had the same Error, but the Solution was as simple as stupid: The harddisk was full so Ansible obviously couldn't write anything.

[2018-04-23 11:20] Gianlu opened #39151 "Bug in win_get_url"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOAD_CALLBACK_PLUGINS(/etc/ansible/ansible.cfg) = False
DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible/modules']
##### OS / ENVIRONMENT

##### SUMMARY
Win_get_url module downloads and modifies a file also when force=no and specific conditions stated

[2018-04-23 11:28] nbraud commented on #39132
It is, however, failing in `stable-2.5` (cd7042857c5ed81223080c51fde1d597a2eeebca)

[2018-04-23 11:29] subbireddyg commented on #14710
Using /home/ubuntu/ckp/ansible.cfg as config file
<172.31.46.234> ESTABLISH WINRM CONNECTION FOR USER: Administrator on PORT 5985 TO 172.31.46.234
172.31.46.234 | FAILED! => {
    "failed": true,
    "msg": "ERROR! ssl: 500 WinRMTransport. [SSL: UNKNOWN_PROTOCOL] unknown protocol (_ssl.c:590)"
}
ubuntu@ip-172-31-9-47:~/ckp$

please suggest?

[2018-04-23 11:31] subbireddyg commented on #14710
[win]
172.31.46.234
[win:vars]
ansible_ssh_user=Administrator
ansible_ssh_password=password
ansible_ssh_port=5985
ansible_connection=winrm
ansible_winrm_scheme=https
ansible_winrm_server_cert_validation=ignore
ansible_winrm_transport=ssl

[2018-04-23 11:40] #38876 closed, assigned to nobody

[2018-04-23 11:54] sunbath commented on #38669
@trishnaguha Thanks for the feedback

[2018-04-23 11:57] benapetr commented on #30411
it doesn't matter if hang on target host is caused by fuse, nfs or anything, it's still Ansible bug in the way that 1 target host should not be able to lock up whole play for all other hosts.

There must be some timeout or internal watchdog implemented that would kill playbook for misbehaving and broken machines. 1 broken machine out of 5000 shouldn't break Ansible for all 5000 machines.

[2018-04-23 12:05] mkrizek commented on #31422
@Raoul555 no, there won't be another 2.2 release, unfortunately.

If you have further questions please stop by IRC or the mailing list:

- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-23 12:05] #31422 closed, assigned to nobody

[2018-04-23 12:26] gtirloni opened #39154 "Conditional with colon in quoted text throws unclear error"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
conditionals

##### ANSIBLE VERSION
2.5.1

##### OS / ENVIRONMENT
CentOS 7.4

##### SUMMARY
If a conditional has a colon character in quotes, it throws the following cryptic error:

[code]

##### STEPS TO REPRODUCE
[code]

Double-quoting the whole conditional fix the issue:

[code]

Additionally, the documentation doesn't mention conditional n

[2018-04-23 12:48] Akasurde commented on #37087
@jonbenning Did you get chance to check the patch ? Your feedback and suggestions are most welcome.

[2018-04-23 12:52] smoyer64 opened #39155 "Consider adding a packaging module for the snap universal package manager"
##### SUMMARY

The Snap package manager provides the ability to install software for Linux distributions including (as of the creation of this feature request):

- Ubuntu
- Debian
- Mint
- Gentoo
- Arch
- Fedora
- OpenWrt
- Yocto
- OpenEmbedded
- OpenSUSE
- Manjaro
- Solus

Supporting this package manager would allow a lot of the OS-based conditional execution in playbooks to be replaces with a si

[2018-04-23 13:09] smoyer64 commented on #39155
@ansibot I did read through the template and since this is a proposal for a component that doesn't (yet?) exist, it seemed a bit presumptuous to name the new module(s).  I provided the summary section though perhaps I should have left the Markdown so that you could parse the issue.

[2018-04-23 13:14] imjoseangel opened #39156 "Adding strings to an array broken in 2.5.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

set_fact module, array list creation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_COW_SELECTION(env: ANSIBLE_COW_SELECTION) = tux
ANSIBLE_NOCOLOR(env: ANSIBLE_NOCOLOR) = False
ANSIBLE_NOCOWS(env: ANSIBLE_NOCOWS) = True
ANSIBLE_SSH_ARGS(ansible.cfg) = -o ControlMaster=auto -o ControlPersist=60s
DEFAULT_CALLBACK_PLUGIN_PATH(ansib

[2018-04-23 13:16] mkrizek commented on #39156
This has been resolved in #38302 and will be included in the 2.5.2 release.

If you have further questions please stop by IRC or the mailing list:

- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-23 13:16] #39156 closed, assigned to nobody

[2018-04-23 13:25] jhawkesworth commented on #14710
@subbireddyg Please don't comment on closed issues, especially issues where others have been asked not to comment on closed issues.

if you want to use ssl/tls to communicate via winrm use port 5986 - 5985 is an http listener.

Also while you are changing things, use 'ansible_user' 'ansible_password' and 'ansible_port' instead of ansible_ssh... variable names, these are deprecated and will eventua

[2018-04-23 13:26] sdigit commented on #39118
Just tested with the latest sources from git, and the error does not appear.

[2018-04-23 13:31] jsutter55 commented on #38852
@willthames

Absolutely. Just wanted to make sure I had an accurate expectation.

Thanks!

[2018-04-23 13:32] mkrizek commented on #35850
This has been fixed in https://github.com/ansible/ansible/pull/32647.

[2018-04-23 13:32] #35850 closed, assigned to nobody

[2018-04-23 13:33] dhakalanis commented on #39103
@trishnaguha

Can you please help me on this based on below follow ups:
-  How do i try the fix  #39150 ? I could not find any specifics about the fix "Work Instruction" on this one. Am i missing something here ?
- Since the device(ANS-SPINE1) has feature nxapi, i suppose it should also support the structure output as you mentioned. But if not, is it a bug (on Ansible side or NXOS side) ? What doe

[2018-04-23 13:34] sivel commented on #39129
Closing as a duplicate of #39007

[2018-04-23 13:34] #39129 closed, assigned to nobody

[2018-04-23 13:42] #37652 closed, assigned to nobody

[2018-04-23 13:50] tonk opened #39157 "Ansible 2.5.1 breaks Molecule tests"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY
Testing roles with Ansible Molecule version 2.5.0 work, with version 2.5.1 it results in a 'KeyError'

##### STEPS TO REPRODUCE

[code]
Testinfra file, Molecule configuration file and error in a gist:
https://gist.github.com/tonk/5

[2018-04-23 13:53] alex-left opened #39158 "loop function can't process a list, treat it like string, with_items process it fine."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible, loop

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A
##### SUMMARY

according to docs in 2.5 version, module loop accepts a list as argument, but process it like a string. using "with_items" as classical way, works fine

##### STEPS TO REPRODUCE

use a list in a variable:

[code]
this is the output of the play:

[code]

##

[2018-04-23 13:58] rwill-at-ncgov commented on #38669
Hi all,

I've been having better success after changing to:

gather_timeout = 30
command_timeout = 30

in ansible.cfg.

Regards,

Rick Williams

[2018-04-23 14:07] ganeshrn opened #39160 "[NET_MOD] Fix netconf plugin api's for supported network platforms"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- [X] plugins/netconf/junos https://github.com/ansible/ansible/pull/44157
- [X] plugins/netconf/iosxr https://github.com/ansible/ansible/pull/44157
- [X] plugins/netconf/default https://github.com/ansible/ansible/pull/44157

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Currently, the netconf api's

[2018-04-23 14:18] naiieandrade commented on #18432
Hi, I received this error:
[code]

I tried use --limit, but command does not found.

[2018-04-23 14:40] kwaio opened #39162 "Vault error "input is not vault encrypted data" when using hostvars[]"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible Vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7.4.1708
Python 2.7.5 (default)

##### SUMMARY
When using Ansible Vault, an error is displayed when trying to access other hosts' hostvars (facts) :
`input is not vault encrypted data`

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Di

[2018-04-23 14:42] ilias-sp opened #39163 "2.5.1 - cant append to list variable while in a loop"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
list variable processing

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
fedora 27/Rhel 7

##### SUMMARY
When iterating in a loop to populate a list variable, the variable gets only the element from the last iteration. same yml on 2.5.0 ansible works as expected.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
output in 2.5.0 (work

[2018-04-23 14:45] saargrin opened #39165 "vmware_guest option to move an existing vm to a different folder"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

i wasnt able to find a way to use the vmware_guest module to move a VM to a different folder
that would be quite useful for lifecycle management ,and the feature is supported in pyvomi

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RES

[2018-04-23 14:53] wknapik opened #39166 "If uid is not in /etc/passwd and $HOME is unset, ansible will fail (getpwuid(): uid not found)"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
?

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Linux

##### SUMMARY
If the uid of the user executing ansible doesn't exist in /etc/passwd and the HOME variable is not set, ansible will error out on any action.

There are some issues that include that problem, but most are closed, or focus on something else, or have no

[2018-04-23 14:56] kr4ut commented on #34924
Second that. Is clearly related to the snap package which is some how with LXD 3.0 now upstream default installation. Guess we just need some PATH magic in the connector as it works with the bind hack.

[2018-04-23 15:02] mattclay commented on #36083
More failures here: https://app.shippable.com/github/ansible/ansible/runs/62246/66/tests

One of those errors is a traceback which may be a separate bug:

[code]

[2018-04-23 15:08] zentavr commented on #39163
I have the similar behavior - the pleybool looks the next
[code]

The output of **2.5.0** is:
[code]

The output of **2.5.1** is not as expected:
[code]

[2018-04-23 15:08] #38750 closed, assigned to trishnaguha

[2018-04-23 15:10] cnorthwood opened #39167 "Managing Nexus device times out on Ansible 2.5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running Ansible from:

[code]

Managing a Nexus 9000 switch:

[code]

##### SUMMARY

Since upgrading to Ansible 2.5 I am no longer able to manage nxos devices

##### STEPS TO REPRODUCE

group_vars (credentials are stored with credstash)

[code]

pl

[2018-04-23 15:13] rwill-at-ncgov commented on #38669
Here's the cfg I'm using now if it is helpful to anyone:

(py363venvAns) [netutil@ncc657 ncans]$ ansible-config dump --only-changed
ANSIBLE_NOCOWS(/opt/apps/netutil/ncans/ansible.cfg) = True
DEFAULT_GATHERING(/opt/apps/netutil/ncans/ansible.cfg) = explicit
DEFAULT_GATHER_TIMEOUT(/opt/apps/netutil/ncans/ansible.cfg) = 30
DEFAULT_HOST_LIST(/opt/apps/netutil/ncans/ansible.cfg) = ['/opt/apps/netutil/n

[2018-04-23 15:16] saichint commented on #38753
closing this as #38752 addressed this.

[2018-04-23 15:16] #38753 closed, assigned to trishnaguha

[2018-04-23 15:18] webknjaz commented on #39166
Hello @wknapik,

Python itself relies on being able to identify existing user's `$HOME` if you unset one. Which is impossible when you break env. Create a user, who will be there in `/etc/passwd` and it fill be fine.

But it's not ansible's problem at all as it also relies on completely working unbroken env and cannot support esoteric configs therefore. Below you can observe `python -vvvvv` from t

[2018-04-23 15:18] #39166 closed, assigned to nobody

[2018-04-23 15:21] #39163 closed, assigned to nobody

[2018-04-23 15:49] AndyFriar commented on #33414
Many thanks for taking the time.

https://gist.github.com/AndyFriar/2e9277d491d6d1ed3ae81fc7a95243db

This was using your fork

[2018-04-23 15:52] fungusakafungus opened #39170 "openstack inventory plugin adds unrelated group vars"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/plugins/inventory/openstack.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY
Vars of openstack hosts obtained via the new openstack inventory plugin contain vars from unrelated groups

##### STEPS TO REPRODUCE
This will need some setup.

I'm using multiple inventories and group va

[2018-04-23 16:15] maxamillion commented on #28720
@karniemi yeah, I think the bot was incorrect to ping you directly. That should have been for @tanshanshan

[2018-04-23 16:18] maxamillion commented on #34924
reping @bcoca @mattclay

[2018-04-23 16:26] Lujeni commented on #38998
resolved_by_pr #35155

[2018-04-23 16:27] sivel commented on #39162
I cannot reproduce this.  Is it possible to give more information about your use of vault files?

All that has been indicated so far is:

I don't know exactly what you mean.

I created a `host_vars/hostA.yml` file which is vaulted, but I experience no errors.

needs_ingo

[2018-04-23 16:35] fungusakafungus commented on #39170
By the way, this does not happen when I define group vars in the .ini inventory like this:
[code]

[2018-04-23 16:38] sivel commented on #39157
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker, and let us explain our reasons for thinking this:

   * This appears to be a bug in the other referenced project

If you can stop by the tracker or forum for o

[2018-04-23 16:38] #39157 closed, assigned to nobody

[2018-04-23 16:38] saichint opened #39177 "nxos_ntp issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_ntp

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)

##### SUMMARY

##### STEPS TO REPRODUCE

There are some issues with nxos_ntp module.

1. When only source_addr or source_int is changed, the module is sending key_id command also to the device even though nothing chan

[2018-04-23 16:42] sivel commented on #39122
Ansible currently implements 2 different callback plugins to support adhoc vs playbook.

To support this there are a few options:

*  Create a 2nd callback to mimic adhoc behavior
* Add a config for the YAML callback
* Have the YAML callback detect adhoc vs playbook
* Run ansible with higher verbosity

[2018-04-23 16:44] sivel commented on #38969
This indicates a problem with the playbook assumptions.

Either facts were not gathered for that host, or the host does not have an `eth1` interface.

In either case this should be addressed in kolla.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-23 16:44] #38969 closed, assigned to nobody

[2018-04-23 16:49] sivel commented on #39119
I cannot duplicate this:

[code]

[code]

Based on the inconsistencies between your reproducer, and the output from `ansible --version` and when running `ansible-playbook`, I'd have to assume that it is because your `host_vars` is not in a correct place to be loaded.

my dir structure:

[code]

needs_info

[2018-04-23 16:54] sivel commented on #39126
As indicated by the error message, your machine is incapable of validating the SSL certificate of `https://hooks.slack.com/`

List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on i

[2018-04-23 16:54] #39126 closed, assigned to nobody

[2018-04-23 16:56] sivel commented on #39118
Duplicate of https://github.com/ansible/ansible/issues/39007

[2018-04-23 16:56] #39118 closed, assigned to nobody

[2018-04-23 17:11] sivel commented on #39158
How is `appservers_ids` created?

I cannot duplicate this using a statically defined list.

needs_info

[2018-04-23 17:14] AndyFriar commented on #33414
Given the above if i change the following in the switch

`console terminal none`

Initial test of changing the hostname is working correctly

[2018-04-23 17:26] grumpymatt commented on #38982
ok: [virtualmachine01] => {
    "changed": false,
    "drs_rule_facts": {
        "My Cluster": [
            {
                "rule_affine_host_group_name": "Licensed for RHEL",
                "rule_anti_affine_host_group_name": null,
                "rule_enabled": true,
                "rule_key": 512,
                "rule_mandatory": true,
                "rule_name": "RHEL on Licensed",

[2018-04-23 17:40] maduhshan opened #39181 "Unable to concatenate strings while looping a list using with_items in Ansible 2.5.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
with_items

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
RHEL6

##### SUMMARY
A string cannot be concatenated via a loop. Finally appended value is displayed as a res

[2018-04-23 17:43] mil1i opened #39182 "Ansible Playbook not accepting --extra-vars"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook --extra-vars

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes.

##### OS / ENVIRONMENT
CentOS 7.4 host, CentOS 7 and CentOS 6 Servers.

##### SUMMARY
When I attempt to run a playbook that requires `--extra-vars`, it fails with `"msg": "The task includes an option with an undefined variable. The error was: 'version'

[2018-04-23 17:44] sivel commented on #39181
This is resolved in https://github.com/ansible/ansible/pull/38302 and will be included in 2.5.2

[2018-04-23 17:44] #39181 closed, assigned to nobody

[2018-04-23 17:51] eregimbald opened #39184 "Windows10-Ubuntu - Ansible doesn't recognize variables defined in vars_prompt."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vars_prompt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Windows 10 - Version 10.0.16299 Build 16299

Ubuntu from the Windows App store:
lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.4 LTS
Release:        16.04
Codename:       xenial

##### SUMMARY

I can

[2018-04-23 17:59] joaogbcravo opened #39185 "Passing environment not working with include_role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Passing environment vars when using "include_role" does not work.
This worked before, in version 2.4.1.0 for example.
With "import_role" also works.

##### STEPS TO REPRODUCE

Create a directory with the following structure:
[code]

pla

[2018-04-23 18:16] #39131 closed, assigned to nobody

[2018-04-23 18:16] maduhshan commented on #39181
https://github.com/ansible/ansible/releases

Ansible 2.5.2 is not released yet. Any work around within 2.5.1?

[2018-04-23 18:26] Wilk42 commented on #39122
@sivel I'm looking into option 3 to have it detect adhoc vs playbook. At same time it does look like some modules have different output ad hoc vs playbook that are effected by which and how the callback implements that output.

[2018-04-23 18:31] ephesused opened #39186 "2.5.1 does not retain variable values across loop iterations"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

set_fact and with_items

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

CentOS 7.4

##### SUMMARY

In previous versions, variable updates in with_items loops would be visible in subsequent iterations. In 2.5.1, that no longer appears to be true.

Apologies if this behavior is intended or previously repo

[2018-04-23 18:32] nbering commented on #22992
I came across this by accident while looking for a good way to do shell escaping. But I can confirm from experience with other cases that the bug reported here is not a bug at all, but just some weirdness caused by the pipe operator being higher precedence than `+`.  I think this can probably be closed.

[2018-04-23 18:33] #39186 closed, assigned to nobody

[2018-04-23 18:48] tmeralus commented on #16259
I've got my eyes open on this as well because the workarounds listed here may be great but break the security in MFA. If there is a release that will allow playbooks or even ad-hoc to run with MFA im all for it.

[2018-04-23 18:48] bcoca commented on #39182
i cannot reproduce, with a `- debug: var=version` task in a playbook I always get:
[code]
needs_info

[2018-04-23 18:49] kkolk opened #39187 "Warning message not obeying no_log parameter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Set_Fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = yaml
DEFAULT_VAULT_PASSWORD_FILE(/etc/ansible/ansible.cfg) = ~/.vault_pass.txt
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
SHOW_CUSTOM_STATS(/etc/ansible/ansible.cfg) = True

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When ru

[2018-04-23 18:55] EmoBurrito opened #39188 "Dynamically building text blocks with set_fact no longer works"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible, set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

I would assume this is platform independent but I'm running from and targeting CentOS 7.4 boxes.

##### SUMMARY

I have list of dictionaries with IP's and hostnames in a role's `defaults` file that I use to dynamically build a block to be insert

[2018-04-23 18:56] caphrim007 commented on #38959
The F5 modules do not need to change this. None of the F5 modules make outbound connections to any devices....**any**.

The values identified in this issue are used *specifically for code validation*; not for connecting to devices.

[2018-04-23 18:59] sivel commented on #39188
Duplicate of #38075 fixed in #38302

This fix will be included in v2.5.2

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-23 18:59] #39188 closed, assigned to nobody

[2018-04-23 19:13] AndyFriar commented on #33414
Thanks @ganeshrn

Getting further only it would appear no commands function

https://gist.github.com/AndyFriar/cb23d4bd15fd70cbc553d5124a5c38bb

i'll try a couple of other commands

[2018-04-23 19:14] #39108 closed, assigned to acozine

[2018-04-23 19:17] #39044 closed, assigned to nobody

[2018-04-23 19:23] #39187 closed, assigned to nobody

[2018-04-23 19:26] bcoca commented on #39158
note that `with_items` has an implied flatten, `with_list` and `loop` do not.

[2018-04-23 19:29] bcoca commented on #39154
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is expected as it is a YAML requirement that any colon with a space in a value requires the whole value to be quoted (also documen

[2018-04-23 19:29] #39154 closed, assigned to nobody

[2018-04-23 19:30] towolf commented on #37836
facepalm.png

[2018-04-23 19:32] ganeshrn commented on #33414
@AndyFriar It seems prompt is getting mismatched after inital match due to extra `\r` send from here
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/network_cli.py#L461

I have committed some more changes in the same branch to try to fix. Please update and rerun the test. Try running list of commands from the same task. This will give an idea if prompts are miss match

[2018-04-23 19:37] gtirloni commented on #39154
Thanks for triaging this and the helpful documentaion pointers.

It'd be nice if the Ansible error was more user friendly.

[2018-04-23 19:40] bcoca commented on #39119
@jhenahan hostvars are always available, most are lazy loaded to avoid undue penalty for hosts that are not used in the play, but any reference via hostvars['hostname'] will trigger the load

@nbraud connection is unrelated to host var loading, the host_vars dir MUSt be adjacent to play and/or inventory file, these are the things that determine loading or not.  Just like @sivel, i cannot reproduce

[2018-04-23 19:44] mil1i commented on #39182
What info are you needing?  I am currently only testing the playbook with the one section that is causing issues, the extra-vars.

[code]

This is running in a CentOS 7.4 Virtual Box. Have not modified any settings/configs since setting up the vm. Did not change the ansible config at all. I have tried uninstalling ansible and reinstalling. It is really odd that even though my default shell is bash

[2018-04-23 19:44] ssbarnea commented on #37836
http://rs157.pbsrc.com/albums/t70/monkey_doctor/Smileys/facewall.gif~c200

[2018-04-23 19:46] #39007 closed, assigned to nobody

[2018-04-23 19:46] mil1i commented on #39182
Based on a suggestion from someone else, I just tested it with single quotes 'version=04.22.18' and it worked. But without running `bash`, I cannot use double quotes "version=04.22.18".

[2018-04-23 19:51] bcoca commented on #39182
I don't have issues with single or double, with bash nor zsh, but this clearly seems shell related, not Ansible related. so I'm going to close the issue.

[2018-04-23 19:51] #39182 closed, assigned to nobody

[2018-04-23 19:54] AndyFriar commented on #33414
@ganeshrn  the show commands seem to be working correctly.

I've included 4 commands,
show run
show flash
show int brief

Trying to set a value fails.
hostname BOB

https://gist.github.com/AndyFriar/3de824acc925542ecfdac4619b8dd10d

Thanks again

[2018-04-23 19:58] #38902 closed, assigned to nobody

[2018-04-23 20:01] ganeshrn commented on #33414
That's great.

If you are trying to set a config value please use `aruba_config` module.
The error message seems reasonable as I think it is not in the right prompt to execute config commands.

[2018-04-23 20:06] AndyFriar commented on #33414
Yep apologies forgot it was the other module.

Initial test with aruba_config also working. I'll do some more testing of the functions and then test some other equipment / flash versions.

Thanks

[2018-04-23 20:12] jsutter55 opened #39196 "aws_ec2 inventory plugin doesn't find/use server IAM role"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

aws_ec2.py

(aws_ec2.py / all.aws_ec2.yml)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/plugins/inventory']
DEFAULT_REMOTE_USER(/etc/ansible/ansible.cfg) = ansible
INVENTORY_ENABLED(/etc/ansible/ansible.cfg) = ['aws_ec2', 'host_list', 'virt

[2018-04-23 20:15] ganeshrn commented on #33414
Thanks for the confirmation.

I have raised a PR with required changes here https://github.com/ansible/ansible/pull/39195
(branch name: `fix_aruba_prompt_issue`)

Please review and test this PR as it will be the final change that will be merged.

[2018-04-23 20:31] geerlingguy commented on #39007
Thanks!

[2018-04-23 20:55] jborean93 commented on #38232
Closing issue as it has been resolved in the latest devel and 2.5 release.

[2018-04-23 20:55] #38232 closed, assigned to nobody

[2018-04-23 21:06] 2rs2ts commented on #35993
I backported the module and for a few weeks the issue went away but it is back again. I've changed nothing about my machine, and yet suddenly the issue has returned.

@ryansb can you reopen this? The issue is not fixed.

[2018-04-23 21:11] OmriShiv commented on #12085
I have a use for this and would be interested if there is a way to get this implemented.

[2018-04-23 21:32] amatellanes opened #39198 "zabbix_template module error: TypeError: '<' not supported between instances of 'int' and 'str'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zabbix_template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
System Version: macOS 10.13.4 (17E199)
Kernel Version: Darwin 17.5.0

##### SUMMARY
When I am using `zabbix_template` module with Python 3, Ansible returns this error:
[code]

##### STEPS TO REPRODUCE

Using Ansible with Python 3, run the following task:

[2018-04-23 21:52] #29818 closed, assigned to nobody

[2018-04-23 22:16] jborean93 commented on #39072
@andmos, I've got a PR that brings back this ability to `Test-AnsiblePath` which is what these modules use to check the path. It would be great if you could test it out https://github.com/ansible/ansible/pull/39200

[2018-04-23 22:17] IPvSean opened #39201 "Document `prompt` ability for network/*_command modules"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ios_command
vyos_command
nxos_command
iosxr_command
junos_command
eos_command

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Referring to this thread: https://github.com/ansible/ansible/issues/32989

There seems to be an ability to use prompt->
[code]

This looks like there is a command l

[2018-04-23 22:36] #36616 closed, assigned to nobody

[2018-04-23 23:12] DRAKUN commented on #39104
ansible_winrm_transport: basic is done and OK
I wanted to use CREDSSP authentication

## pip list
`
Package                      Version
---------------------------- ---------
ansible                      2.5.0
asn1crypto                   0.24.0
awscli                       1.15.5
Babel                        0.9.6
backports.ssl-match-hostname 3.4.0.2
botocore                     1.10.5
certifi

[2018-04-24 00:06] #39072 closed, assigned to nobody

[2018-04-24 01:50] zikalino commented on #39006
this issue looks very similar to that one (from related project):

https://github.com/requests/requests/issues/3560

exactly the sample problem... So it may be useful to see what was the cause there.

[2018-04-24 03:12] jborean93 commented on #38502
@juju4 this is a difficult one but it comes to the fact that the .NET methods we are using to convert the account to a SID expect the domain and user part to conform to whatever standard it expects. It doesn't help that Microsoft have different "well known" names for a SID, e.g [here](https://support.microsoft.com/en-us/help/243330/well-known-security-identifiers-in-windows-operating-systems) it i

[2018-04-24 03:19] #39151 closed, assigned to nobody

[2018-04-24 04:45] dylanmtaylor commented on #38161
I'm affected by this as well, is there a test build with the PR for users to test? Maybe from CI?

[2018-04-24 06:42] brainstorm commented on #38241
You could use the conda-forge ansible which has shade included while ansible proper gets fixed?:

[code]

Not 2.5 though but it works for me ;)

[2018-04-24 06:57] brainstorm commented on #37640
I'm [facing the same issue](https://travis-ci.org/umccr/pcgr-ami/builds/370420493#L693) while building an AMI with packer on AWS and I would like to pass those flags to packer instead of defining it on `ansible.cfg` or creating an inventory file:

https://github.com/umccr/pcgr-ami/blob/master/packer.json#L38

Would that work?

/cc @rickard-von-essen ;)

[2018-04-24 07:02] jhawkesworth commented on #38917
Yeah, perhaps we didn't do a good thing allowing the DOS-style %VAR% syntax for expansion, but I guess it is understood by many.

I wonder if perhaps we should/could/already do allow `${env:var_name}` syntax and perhaps move over to in future in examples, just because we shouldn't expect playbook readers to understand DOS-isms.

@olenm - feel free to create a documentation pull request regarding e

[2018-04-24 07:15] jborean93 commented on #38917
@jhawkesworth the good thing about dos style expansion is that we can easily expand it safely with `[System.Environment]::ExpandEnvironmentVariables` whereas the latter would require us to do `Invoke-Expression` which is a bit more insecure. In the end this should be a simple fix, just run https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/powershell/Ansible.ModuleUtils.Legacy.

[2018-04-24 07:30] Fred-sun commented on #38973
@spmp Thanks for you updated, I ran following YML file , but fail, does these fail info like you report issue ? Thanks!
[code]

[2018-04-24 07:53] jreisinger opened #39214 "List appending stopped working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY
I can't append items to a list. It used to work in the previous versions.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2018-04-24 08:07] Akasurde commented on #39214
This has been resolved in #38302 and will be included in the 2.5.2 release.

If you have further questions please stop by IRC or the mailing list:

- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-24 08:07] Akasurde commented on #39214
cc @mkrizek

[2018-04-24 08:12] #39214 closed, assigned to nobody

[2018-04-24 08:26] kwaio commented on #39162
Alright, i'm very very sorry, we spent hours debugging this and when trying to answer you by giving our group_vars structure and copy-pasting an example i found out that one of our variables was partially commented.

Basically this :
[code]

Again, sorry for wasting your time.

[2018-04-24 08:51] ofirshtrull opened #39215 "ecs_service - Application Load Balancer update failed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ecs_service
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

AWS ECS
##### SUMMARY

I am trying to create an ECS service with a task definition and connect it to an ALB Target Group the first time I run this module it works as expected.
if I don't have an ALB configured every time I run the role it will bump the Task

[2018-04-24 09:16] zakabluk commented on #38777
Hi! The problem was in wrong PTR record.

[2018-04-24 09:48] alex-left commented on #39158
@bcoca I don't know what do you want to mean. what's the difference between both? can you give me an example?
@sivel ```appservers_ids``` are created from the json result of a previous task using ec2 module, the intention in this case is create some instances and after add them into target group. I paste you how make this:

[code]

You say you can't reproduce with a statically defined list. Are yo

[2018-04-24 10:47] trishnaguha commented on #39167
@cnorthwood This is using connection local only, to fix the timeout problem you will need to use command_timeout in your ansible.cfg
[code]

[2018-04-24 10:57] mathias-muench commented on #37890
Ansible 2.5.1 still the same problem.  We are patching 'core.py' on all systems manually now.

[2018-04-24 11:08] martinwilkerson-scisys opened #39216 "Shell module chdir does not handle symlinks correctly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

From: Ubuntu 16.04
Target host: Ubuntu 16.04

##### SUMMARY

When using the shell module with the chdir argument to run inside a directory that is the child of a
symlinked directory, parent directories are reported as if running from inside the target of the sym

[2018-04-24 11:17] axlroden commented on #6941
I'm still getting this error even with new python-crypt2.6 package..

[2018-04-24 11:23] alissonpdc opened #39217 "Ansible getting stuck after executing a "raw" command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

 - RHEL 7
 - Cisco EX60 (video conference device)

##### SUMMARY

Ansible gets stuck just after execute a command using the "raw" module on a Cisco video conference device (tested on EX60 and EX90).

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-04-24 12:04] thokari commented on #36596
Mind sharing your workaround?

[2018-04-24 12:04] willthames commented on #39215
Can you provide the output of the initial successful run as well?

The load balancer check is there for safety - as the ALB can't be updated, it's better to tell you that and fail. If you're not updating the ALB though, there may be a bug in that check, but it's impossible to know without the before and after.

Please run under `-vvv` as it'll format the json output in a more readable fashion (I w

[2018-04-24 12:16] ofirshtrull commented on #39215
[code]

[2018-04-24 12:16] ofirshtrull commented on #39215
i deleted one of the services so the first succeeded and the second failed

[2018-04-24 12:21] selivan opened #39220 "zabbix_template: import XML files exported from Zabbix web interface"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

zabbix_template

##### ANSIBLE VERSION

[code]
##### SUMMARY

zabbix_template module can import templates from json files, exported by the same module.

It would be much more convenient, if it could also import templates from xml files, exported from Zabbix web interface.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Ability to

[2018-04-24 12:31] agaffney opened #39221 "Cannot override connection plugin on implicit localhost using -c or 'connection' play/task attribute"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
implicit localhost and connection plugins

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It doesn't seem to be possible to override the connection plugin for implicit localhost using the `-c` command line flag or the `connection` play/task attribute. It can be overridden by setting the `ansible_

[2018-04-24 12:35] dagwieers opened #39222 "pause: Fails with 'Input/output error'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pause

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7.4

##### SUMMARY
When running a playbook with 3 target nodes, and adding a short pause for things to settle.
The pause action plugin fails with:
[code]

##### STEPS TO REPRODUCE
I don't know, we got this one out of the blue.

##### EXPECTED RESULTS
I

[2018-04-24 12:36] agaffney commented on #39221
A user in `#ansible` was trying to use a task like the following when they ran into this. They were presumably using `hosts: localhost` in their play.

[code]

[2018-04-24 12:40] agaffney commented on #39221
This bug also seems to be present in Ansible 2.4.3.0.

[2018-04-24 12:44] cnorthwood commented on #39167
thanks @trishnaguha, increasing the timeout doesn't seem to help though, it just makes it wait longer before it times out. I don't think it's using `local`, but instead `network_cli`. I realised the above output is from when I was trying with `network_cli`, the below is with `connection: local`

[code]

the key line appears to be `using connection plugin network_cli (was local)`. I'm not sure what

[2018-04-24 13:11] lestard commented on #37911
I had and issue with the same error message and upgrading from `2.5.0` to `2.5.1` has fixed it for me.

[2018-04-24 13:35] abadger commented on #39221
Happens in 2.0 as well.  So this looks like a long-term bug in implicit localhost.

[2018-04-24 13:39] jctanner commented on #38892
reproducer https://github.com/jctanner/ansible-reproducers/tree/master/38892

[2018-04-24 13:41] bcoca commented on #39221
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

It is not really a bug, it is just a foreseeable consequence of using the implicit localhost, which sets `ansible_connection` that has

[2018-04-24 13:41] #39221 closed, assigned to nobody

[2018-04-24 13:41] infrascripting commented on #32791
I'm not sure if it's stdout or stderr.

[2018-04-24 13:53] h0x91b commented on #33555
ansible 2.4.3.0 - bug exists
ansible 2.5.1 - works fine

[2018-04-24 14:11] sidorm01 opened #39226 "Combine filter doesn't work with_items in version 2.5.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

combine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A
##### SUMMARY
Combine filter change its behaviour with version 2.5.1 when using with_items.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

TASK [debug]
*******************************************************************
ok: [localhost] =>

[2018-04-24 14:14] rmauc commented on #38679
Very interested in a resolution here
Thanks

[2018-04-24 14:18] mkrizek commented on #39226
This has been resolved in #38302 and will be included in the 2.5.2 release.

If you have further questions please stop by IRC or the mailing list:

- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-24 14:18] #39226 closed, assigned to nobody

[2018-04-24 14:22] #37890 closed, assigned to nobody

[2018-04-24 14:29] sivel commented on #39158
I am still unable to reproduce.  Here is my test playbook:

[code]

The above defines both a static list, and a static list of dicts.  I utilized `json_query` to turn the list of dicts into just a list.

In both scenarios I get:

[code]

Is it possible you can test with my playbook from above?

needs_info

[2018-04-24 14:30] #39162 closed, assigned to nobody

[2018-04-24 14:33] DRAKUN commented on #39104
here the debug
[code]

[2018-04-24 14:38] sekharvajjula opened #39227 "Ansible error handling rescue block does not have any indication that the block's failure is being handled by rescue."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

playbook/block.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A

##### SUMMARY

Ansible error handling rescue block does not give any indication in the output log, that the block's failure is being handled in rescue. Rather the output logs show that one task has failed, but still it is continuing the exec

[2018-04-24 14:40] trishnaguha commented on #39167
@cnorthwood Can you follow the troubleshooting guide http://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#category-socket-path-issue? Enabling debug log will help us understand what is happening. Thanks.

[2018-04-24 14:46] trishnaguha opened #39228 "[CLI_MOD] cli_config generic module"
Platform agnostic module for sending text based config to network devices
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

modules/network/cli/cli_config.py
##### ANSIBLE VERSION

[code]

[2018-04-24 14:47] liquidat commented on #36646
@jborean93 Yes, I've read the comment by @nitzmahone . We do not provision the machines on AWS but on a local virtualized environment, and so far were not able to identify problems with the provisioning, but only by the deployed versions. So maybe it is indeed a problem on how the backend is implemented on the Windows Server side and changed over the versions.

[2018-04-24 14:48] trishnaguha opened #39229 "[nxos] enable mode fix"
nxos doesn't currently have enable mode support which needs to be worked on and also needs to be backported
  - cli
  - nxapi

Ref: https://github.com/ansible/ansible/issues/37526
##### ISSUE TYPE

 - Bug Report

##### ANSIBLE VERSION

[code]

[2018-04-24 14:54] bcoca commented on #9065
FYI, we dont normally see notifications on closed issues, responding here because someone pointed me at this, I'm also going to lock so people don't keep commenting in a forum maintainers won't see.

@hanej i think you want `ansible_group_priority` and `[defaults]precedence` configuration.

@ReSearchITEng  open a proposal, but this is about a fundamental focus of each diff app. Ansible focuses on

[2018-04-24 14:58] cnorthwood commented on #39167
Thanks @trishnaguha, I've attached a part of the log below. The full log appears to include some plain-text secrets (I'm using credstash which seems to put them in the log), but I believe this is the relevant bit. If you need the whole log I can include that but will have to redact parts of it.

[code]

[2018-04-24 15:01] fabianvf commented on #38312
@tv do you have the work you did posted anywhere?

[2018-04-24 15:07] vogon1 opened #39231 "Have option to create Network Interface without NSG rule changes"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
azure_rm_networkinterface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
In the default case, when creating a NIC the module tries to manage NSG rules. We already have a NSG with the correct rules in place, so it should just use the NSG given, and not try to add or change rules.

So, maybe a flag shou

[2018-04-24 15:27] bcoca commented on #39158
`with_items: '{{mylist}}'` == `loop: {{mylist|flatten(1)}}` == `with_list: '{{mylist|flatten(1)}}'

@sivel you can reproduce with:
[code]

[2018-04-24 15:32] trishnaguha commented on #39167
@cnorthwood Clearly as your debug log says `persistent connection idle timeout triggered` which means you will need to set `connect_timeout` value to say 90? Here is doc on how to do it: http://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#timeout-issues

[2018-04-24 15:37] sivel commented on #39158
@alex-left also, please provide us with the output of:

[code]

needs_info

[2018-04-24 15:51] alex-left commented on #39158
ok, with flatten filter seems work it fine.
But... this is a workaround or is the expected behavior?

[2018-04-24 16:13] jhawkesworth commented on #38917
@jborean93 good point, I was thinking more of playbook readability than safety-of-implementation.

[2018-04-24 16:14] sivel commented on #39158
This is the expected behavior.  `with_items` contains implicit flattening.

`loop` is more comparable to `with_list`.  To loop and flatten a list, you will need to use `flatten` as @bcoca points out

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-24 16:14] #39158 closed, assigned to nobody

[2018-04-24 16:17] excalq opened #39232 "Ability to Create "stoppable" AWS Spot Instances"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`cloud/amazon/ec2`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
(Does not apply)

##### OS / ENVIRONMENT
(Does not apply)

##### SUMMARY
In September 2017, [AWS announced the ability to create stoppable spot instances](https://aws.amazon.com/blogs/aws/new-stop-resume-workloads-on-ec2-spot-instances/).

We use Ansible to manage ec2 insta

[2018-04-24 16:17] DSpeichert opened #39233 "apt: autoclean/autoremove & changed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
From OSX to Ubuntu 16.04

##### SUMMARY
* `autoclean=yes` and `autoremove=yes` simultaneously seems to result in only `autoclean` actually running

* `autoremove` and `autoclean` report flipped "changed/OK" result

##### STEPS TO REPRODUCE
[code]

##### EXPECTE

[2018-04-24 16:18] dustinblack opened #39234 "Apparent 2.5.1 regression -- Appending to lists or strings in with_items loops is broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

with_items

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.4

##### SUMMARY

I have a very simple play to reproduce a much larger problem we are having. Given the playbook below, we get very different results between ansible versions 2.5.0 and 2.5.1.

Given a with_items loop that is appending values from one

[2018-04-24 16:25] alex-left commented on #39158
hi @sivel @bcoca  this is the output of last proposed task:
[code]
I understand the problem, after use of json_query filter, I expected a list, but received a list into a list. with_items keywords can operate with that because haves implicit a flatten, but "loop" doesn't have it, that difference confused me.

Anyway, I think is a good idea mention that in docs.

thanks to both.

[2018-04-24 16:27] jtauke opened #39235 "win_domain - Unable to issue winrm commands following promotion to Domain Controller"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_domain

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration in place.  Currently utilizing an updated version of the win_domain module that includes a netbios name option (this new version was merged to devel branch recently).

##### OS / ENVIRONMENT

CentOS 7, managing Windows Server 2016
##### SUMMARY

##### STEPS T

[2018-04-24 16:27] mkrizek commented on #39234
This has been resolved in #38302 and will be included in the 2.5.2 release.

If you have further questions please stop by IRC or the mailing list:

- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-24 16:27] #39234 closed, assigned to nobody

[2018-04-24 16:28] mkrizek commented on #39233
@DSpeichert Thanks for reporting the issues!

This is already reported in https://github.com/ansible/ansible/issues/38791.

This has been fixed in `devel`.

As per above I am going to close the issue.

If you have further questions please stop by IRC or the mailing list:

- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-24 16:28] #39233 closed, assigned to nobody

[2018-04-24 16:40] pschiffe commented on #39006
@Fred-sun our task with `azure_rm_storageaccount` looks very similar to yours, but I'm not able to reproduce the issue locally, it only happens sometimes during our ci runs via Jenkins on AWS, probably because of short network instability. The problem may also be in Python SDK for Azure, but I cannot tell.

[2018-04-24 16:43] cnorthwood commented on #39167
hi @trishnaguha, I've tried setting it to many values (even as much as 10 minutes) and it doesn't make a difference, it just takes longer until it fails. I'm not entirely sure what it's waiting for, it seems to connect and authenticate correctly and then just hang until the timeout occurs. I'm not entirely clear what it's waiting for?

[2018-04-24 16:47] gdpak opened #39238 "[FILE_FETCH] network_put module to copy large config file to target device with scp/sftp"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Sometimes the provided configuration are too large and devices will take a long time to accept them, error out, or need timeout value modification (or all of the above).It could be helpful in certain situations to allow the user to use scp or sftp to cop

[2018-04-24 16:53] timblaktu opened #39239 "regex_replace filter sometimes wraps output with single quotes"
This felt like it could be related to [#33202](https://github.com/ansible/ansible/issues/33202) but my regex_replace tasks won't even parse successfully if I do not escape all backslashes in my regex.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Filter Plugin
regex_replace

##### ANSIBLE VERSION

[code]
also reproduced this issue in latest version:
[code]

##### CONFIGURATION

ANSIBLE_S

[2018-04-24 17:44] webknjaz commented on #38963
+label needs_contributor
-label needs_triage

[2018-04-24 17:47] webknjaz commented on #39155
@smoyer64 please update the description using template from https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISSUE_TEMPLATE.md anyway. Otherwise it may end up being automatically closed by bot.

-label needs_triage
+label needs_contributor

[2018-04-24 18:15] webknjaz commented on #39165
-label needs_triage

[2018-04-24 18:16] webknjaz commented on #39177
-label needs_triage

[2018-04-24 18:16] webknjaz commented on #39184
-label needs_triage

[2018-04-24 18:56] ryansb commented on #39196
cc/ @s-hertel

[2018-04-24 19:11] jhawkesworth commented on #39235
Thanks for this I'd spotted exactly the same behaviour but hadn't found a fix.  There is a todo in the module about using an action plugin to handle the reboot, (as win_reboot does), but presumably this would have to also switch user as following the reboot you would need to connect as a domain user.

I guess it would not be too hard to get the module code to start netlogon service, but whether th

[2018-04-24 19:43] jtauke commented on #39235
I’m actually testing a greenfield deployment as well.

Unfortunately I don’t think we’d be able to start the netlogon service
prior to the server itself being a domain controller. Netlogon is set to
manual until the server is promoted, and just gives an error if you try to
start it before hand.
On Tue, Apr 24, 2018 at 14:11 jhawkesworth <notifications@github.com> wrote:

[2018-04-24 19:47] jhawkesworth commented on #39235
I was proposing a manual start in the win_domain.ps1 module code after it has completed the

`Install-ADDSForest`
I guess that would be after the domain created (but still before the reboot - so - I guess only way to find out would be to test)

[2018-04-24 20:04] jsutter55 commented on #39196
@ryansb

Nothing returned from env | grep -i AWS

[2018-04-24 20:46] ryansb commented on #39239
This isn't a result of the replace, it's how the stdout plugin (yaml in your config) is presenting it.

YAML, when a string could look like a number (as in the case of your second test `390.48`), will wrap single quotes around a value to help you distinguish. By contrast, `9.1.85` cannot be parsed as a number because of the multiple decimal places, so YAML does not need to wrap `9.1.85` to disambi

[2018-04-24 20:46] #39239 closed, assigned to nobody

[2018-04-24 20:48] ryansb commented on #39222
Were there any network issues going on while this was running? That almost seems like the SSH connection timed out or was interrupted, raising that trace when trying to close the tty.

[2018-04-24 21:51] alexanderilyin commented on #30609
I had this problem with Vagrant with following inventory structure:

[code]

If I have this in `Vagrantfile` and `vagrant.ini` is missing then it leads to errors.
It works if `vagrant.yml` file is present (it ignores `*.ini` for   some reason).

[code]

If I have this in `Vagrantfile` and `vagrant.yml` is missing then it works as expected.

[code]

[code]

[2018-04-24 22:22] saichint opened #39257 "nxos_snmp_community issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_snmp_community

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)
##### SUMMARY

##### STEPS TO REPRODUCE

There are couple of issues with nxos_snmp_community module.
1. acl  parameter cannot be removed by itself unless we remove the entire configuration.
2. default for ac

[2018-04-24 22:57] mcheriyath commented on #32750
I wish someone fix this.

[2018-04-25 00:42] cheeye commented on #34780
@maxamillion That problem doesn't happen on all the systems. It seems it only happens when the output is really long. I need to find out a server to reproduce it and send the output to you. Thanks!

[2018-04-25 01:53] goodspark commented on #39116
Similar behavior seen on Ansible 2.5.1, Ubuntu 16.04, and nginx 1.14.0

[2018-04-25 01:54] #35656 closed, assigned to nobody

[2018-04-25 01:54] #36093 closed, assigned to nobody

[2018-04-25 01:54] #37872 closed, assigned to nobody

[2018-04-25 01:54] #38809 closed, assigned to nobody

[2018-04-25 02:28] phemmer opened #39265 "vmware_host_facts: 'NoneType' object has no attribute 'summary'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_host_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS-X 10.12.6
vSphere 6.5

##### SUMMARY

Attempting to use the `vmware_host_facts` module errors with `AttributeError: 'NoneType' object has no attribute 'summary'`

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

no error

##### AC

[2018-04-25 05:08] drew1kun opened #39272 "file module creates the file copy instead of creating symlink"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

file module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Management Host:
[code]
Managed Host:
[code]
##### SUMMARY

##### STEPS TO REPRODUCE

tasks/main.yml:
[code]

##### EXPECTED RESULTS

First iteration:
[code]

Check (on Managed host):
[code]

Second pass (idempotent):
[code]

##### ACTUAL RESULTS

F

[2018-04-25 05:55] Akasurde commented on #39265
resolved_by_pr #39273

[2018-04-25 05:56] Akasurde commented on #39265
@phemmer Thanks for reporting this issue. Could you please check the fix provided in the above PR and let me know if it works for you?

needs_info

[2018-04-25 06:11] trishnaguha commented on #39103
@dhakalanis
`pip install git+https://github.com/trishnaguha/ansible.git@nxos_feature_json_handling --upgrade`

If a nxos device doesn't support json, it is suggested to use nxos_command and nxos_config if you are getting issue on json support.

[2018-04-25 07:07] acidmind opened #39276 "powershell: Add-Type for become/async creates temp scripts being blocked by antivirus"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

/plugins/action/win_updates.py

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Running on CentOS, controlling Windows servers

##### SUMMARY

The mkdtemp function is not using to create temporary directory in win_updates module. Ansible is creating temporary folder on remote machine (which is using Windows as OS) the path has been set

[2018-04-25 07:11] nusenu commented on #21547
Martin Krizek:

Could you reopen this and close it whenever it is in a released version
so I have a notification for it?

thanks!

[2018-04-25 07:15] #29164 closed, assigned to trishnaguha

[2018-04-25 07:27] kecorbin opened #39278 "replace argument for nso_config module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

nso_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Default Configuration

##### OS / ENVIRONMENT

Ansible running on Mac controlling NSO 4.5.3

##### SUMMARY
nso_config module does not appear to have the ability to completely replace configuration that is in the CDB. instead,  data that is sent through the module is patched in wi

[2018-04-25 07:44] chericco commented on #32122
Try to install this packet python-pip I solved the same error by installing the package

`sudo apt-get install python-pip`

[2018-04-25 07:44] jffree opened #39279 "when I use copy module, I set mode=preserve and remote_src=yes, It error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy module
##### ANSIBLE VERSION
2.5.0
##### OS / ENVIRONMENT
centos 7.4
##### SUMMARY
when I use copy module, I set mode=preserve and remote_src=yes, It error:
`bad symbolic permission for mode: preserve`

##### STEPS TO REPRODUCE
[code]

##### ACTUAL RESULTS
[code]
##### Other
I found this [copy module should preserve mode of src file when mo

[2018-04-25 07:46] #39257 closed, assigned to trishnaguha

[2018-04-25 07:52] yakimka commented on #38702
Same issue here. Any solution?

[2018-04-25 08:32] MehB commented on #18432
Hi @naiieandrade,

Try to ping your hosts first with ansible by the following command:

[code]

After a successful ping, try to connect to your hosts manually, maybe the problem is not coming from Ansible.

`ssh -i "your_private_key" hostname@172.17.177.40`

Let me know if your problems persist after this 2 operations.

[2018-04-25 08:35] amenonsen opened #39281 "Copy ~ expansion broken by #36755"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Commit cc1c7c63 (#36755) from @bcoca broke the following ``copy`` task, it always expands the destination as "~remote_user/x" and not "~foo/x".

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected localhost:x to be copied

[2018-04-25 08:36] jborean93 commented on #39276
@acidmind what makes you say it does not value the `remote_tmp` property. This should have been fixed in 2.5 and in fact winrm forces pipelining and so temp directories are used only when copying files from the controller to the remote host.

[2018-04-25 08:37] tinawenqiao opened #39282 "How to kill the processes on the remote node when ansible is running"
In our project, we use ansible to manage thousands of servers. It's necessary to kill the processes on the remote node during ansible is running. I have no idea how to realize that.

[2018-04-25 09:42] rcarrillocruz opened #39284 "[CLI_MOD] Add cli_command module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
net_command

##### SUMMARY

Add a generic net_command module that can send commands to devices in a platform agonstic way by using network_cli.
The module should support commands with prompt/answer and config mode.

[2018-04-25 09:43] adithyakhamithkar commented on #30982
I am using ansible 2.5 and having the same issue

[2018-04-25 09:51] #29595 closed, assigned to nobody

[2018-04-25 09:59] Fred-sun commented on #30982
@adithyakhamithkar  Thanks for you try ,I retry it but not happen error , Could you help share you YML file and ran error message . Thanks !

[2018-04-25 10:02] Akasurde commented on #38679
@mooninite @rmauc  Can you please try fix provided in above PR and let me know if it works for you ?

needs_info

[2018-04-25 10:14] amenonsen commented on #39281
To be clear, the ``else`` added to the block above is applied even when ``expand_path`` is ``~postgres``.

The following diff fixes the immediate problem

[code]

I don't know if it fixes the problem with lxc that the original bugfix was motivated by.

A more minimal fix might be to just change the ``else`` to ``else if expand_path == '~'``.

[2018-04-25 10:16] adithyakhamithkar commented on #30982
Every thing seems to be fine not sure what can I do
I even added this
[code]
This is my yml
[code]
My ansible version
[code]
[code]
[code]
[code]

[2018-04-25 10:16] mazhead commented on #30786
@gtema can't you create a pull request please? It seems your fix is working.

[2018-04-25 10:31] glisha opened #39287 "aws_s3 is automaticly decrypting ansible-vault encrypted files before put"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws_s3

##### ANSIBLE VERSION

[code]

##### SUMMARY
- I'm trying to upload an ansible-vault encrypted file with aws_s3. But aws_s3 decrypts the src: file before uploading it to S3.
- aws_s3 in 2.4 didn't decrypt the src: parameter.
- The documentation for aws_s3 doesn't mention that the src: parameter is autodecrypted.
- The aws_s3 module doesn

[2018-04-25 10:47] cnorthwood commented on #39167
Hi @trishnaguha, I've tried with many different settings for the timeouts, most recently it gives me this error:

[code]

My ansible.cfg for my most recent try is

[code]

I've also tried with 100 and sadly all that happens is it changes the amount it waits before failing. I don't think the issue is that the timeout is too short, but that it's waiting for something to complete but that thing eithe