[2019-01-09 11:50] yxorp commented on #18184
But aren't you just passing a hashed password to a command which knows nothing about how it's hashed etc?

[2019-01-09 12:54] kladiv commented on #19720
+1

[2019-01-09 13:00] jamesfreeman959 opened #50708 "Unable to get certificate authentication working over WinRM with Ansible 2.7.5.0"
##### SUMMARY
I have generated certificates as per the Ansible documentation on Windows Remote management, and integrated them into a Windows Server 2016 AD controller. However I am unable to authenticate with the local Administrator account even though all steps have been followed according to documentation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
WinRM

##### ANSIBLE VERSION

[code]

[2019-01-09 13:30] florianfa commented on #42901
This ansible issue seems to block kolla-ansible: https://bugs.launchpad.net/kolla-ansible/+bug/1714011

[2019-01-09 14:07] dagwieers commented on #16178
We are putting this on the AIX and Solaris Working Groups planning.

[2019-01-09 14:07] FragmentedPacket commented on #50704
@33Fraise33 How many VMs are under the role `footfall-sensor`?

[2019-01-09 14:15] tlofreso opened #50712 "Error running infoblox dynamic inventory script"
@IPvSean

##### SUMMARY

Attempting to test the infoblox dynamic inventory script, and encountering an error:
`AttributeError: 'NoneType' object has no attribute 'get'`
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

infoblox.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Infoblox: v8.3.2-376768
Ansible Server: RHEL 7
##### STEPS TO REPRODUCE

- navigat

[2019-01-09 14:22] NerdsvilleCEO commented on #46963
@maxamillion if I may make a suggestion, a new module seems to make more sense here because when adding a repo one may not necessarily be installing a package... it seems it would be more work to integrate it into the dnf module than to make an entirely new one.

[2019-01-09 14:31] #47252 closed, assigned to nobody

[2019-01-09 14:32] AlanCoding opened #50714 "Inventory plugins cannot import libraries in local venv"
##### SUMMARY
If I use the system install of Ansible, but install dependencies inside a virtual environment with `--system-site-packages` enabled, then the dependency cannot be imported by the plugin and is reported as missing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/cli/inventory.py
bin/ansible

Actual source of issue still unclear to me.

##### ANSIBLE VERSION
[code]

#####

[2019-01-09 14:52] KevinMGranger opened #50716 "hosts: localhost connection: local without an inventory should not warn"
##### SUMMARY
It is common that one writes a playbook that only runs on localhost, because they're using modules that reach out to many remote services. A playbook can indicate this with:

[code]

However, it's still necessary to specify an inventory when running the playbook to avoid the warning. I believe the warning should be suppressed in this case.

##### ISSUE TYPE
- Feature Idea

##### COMP

[2019-01-09 14:53] UnitedMarsupials commented on #46829
Because even a single `-v` is too verbose for regular use -- when not debugging.

info_provided

[2019-01-09 14:59] 33Fraise33 commented on #50704
@FragmentedPacket we have 5622 total devices, 1 VM.

193 devices have the footfall-senor role. no VM at all.
Running the api request in postman gives me a response time of 403ms and this response:
[code]

[2019-01-09 14:59] x-yuri commented on #19814
`hostnamectl` might timeout when invoked e.g. inside Ubuntu Xenial LXC container running on Arch Linux host (kernel-4.19.4). Changing `PrivateDevices` in `/lib/systemd/system/systemd-hostnamed.service` to `no` [resolves][1] the issue.

[1]: https://discuss.linuxcontainers.org/t/systemd-hostnamed-service-failed-at-step-namespace-spawning-lib-systemd-systemd-hostnamed-invalid-argument/3740

Also, it

[2019-01-09 15:05] KevinMGranger commented on #50716
!component -lib/ansible/modules/windows/setup.ps1
!component -test/

[2019-01-09 15:10] bcoca commented on #50714
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is how virtualenvs are designed to work, they are meant to avoid 'poluting' the system python with specific libraries which are ma

[2019-01-09 15:10] #50714 closed, assigned to nobody

[2019-01-09 16:30] zerok commented on #47534
@bcoca Sorry for the long delay 😞 The PR combined with adding `unsafe: true` fixes this issue. Thank you! 🙇

[2019-01-09 16:43] cegg commented on #44970
any suggestions for python2.7 ?
Getting

`OperationFailure: Use of SCRAM-SHA-256 requires undigested passwords`

trying to run nose tests

[code]

[2019-01-09 16:47] sivel commented on #50276
The problem here is your `meta/main.yml` that you have added that you did not have previously.

You have listed the following in `say-hello/meta/main.yml`

[code]

Listing `dependencies` in your meta, will cause ansible to automatically execute those dependencies before your `say-hello` role.

Since you are executing `hello1` explicitly via `include_role` within `say-hello` you do not need `depend

[2019-01-09 16:47] #50276 closed, assigned to nobody

[2019-01-09 16:55] sivel commented on #50669
This will require something similar to what was done in https://github.com/ansible/ansible/pull/45637

We have had a `max` filter longer than jinja2 has had one.  We cannot just remove ours, as the `max` filter in jinja2 wasn't added until jinja2 2.10, and we have many users locked to an older version due to OS provided packages.

[2019-01-09 16:58] bcoca commented on #16443
you cannot fix this in ini format, but in yaml:

[code]
will prevent templating errors

[2019-01-09 17:04] bsibaud opened #50719 "Uri module fails to download file into directory"
Affect at least all tested versions from Ansible 2.1.6 to 2.7.5.

##### SUMMARY

uri module fails to download a file when dest is a directory and file is "big enough" (depending on local or remote connection). Not reading data received on the socket, so full TCP window, no more data received, client timeout (nothing received during 30s (default timeout) for example).

##### ISSUE TYPE
- Bug Report

[2019-01-09 17:05] BarbzYHOOL opened #50720 "--skip-meta Command to skip meta dependencies"
##### SUMMARY

Add a command line option to skip meta dependencies (roles) to make role testing faster
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible-playbook
##### ADDITIONAL INFORMATION

`ansible-playbook my_book.yml --skip-meta`

[2019-01-09 17:13] bcoca commented on #17953
so a new fact to get namespaces `ip netns list`
and then 'if we have any' loop over them and do the rest of the `ip` gathering:  `ip netns exec <namespace> ip list `, which i can have conflicting names (`lo`) so we might not want to include in existing 'interfaces' fact but a `<namespace>['interfaces']` fact

[2019-01-09 17:39] jbudding commented on #37198
I was having a similar situation, but on a different Linux Distro.  I changed from RHEL7 (Centos) to Fedora 29 Server Edition and customization stopped working with the dreaded "ifcfg-ether" situation also.  I don't know how useful this will be for Debian, but here is some anecdotal information for you:

I got customization working again with VLAN on Fedora 29 Server Edition.  Apparently from look

[2019-01-09 17:49] sivel commented on #50719
Is there a good reason to not use the `get_url` module to download a file?

The `dest` functionality of the `uri` module is really designed to allow downloading of files that occur when performing non-GET operations such as POST or PUT.

The `get_url` module is much  more equipped for handling file downloads than the `uri` module.

[2019-01-09 18:08] geerlingguy commented on #50529
Just hit this again today on my other Mac, after I ran a `brew upgrade` and the brew python was relinked. D'oh! Luckily I googled and found this issue pretty quickly :)

[2019-01-09 18:31] termlen0 commented on #10791
Curious if this is being tracked through an open issue/feature request.

[2019-01-09 18:32] stazera commented on #28978
I have already added my ansible account to sudoer file, but still have the issue.

[2019-01-09 18:51] Lingeswaran-R commented on #48785
Thank you @k0ste

[2019-01-09 18:52] santhosh1vaddi commented on #50350
Hi Sumit,

Thanks for your response.

Right now I am using below ansible playbook to configuration using ssh-key.

---
- hosts: IOSXR
  gather_facts: no
  connection: local

  tasks:
  - name: configure interface
    iosxr_config:
      src: cisco_code.cfg

I have changed below parameters to use ssh-key for router login.

===== Changes in Ansible config file=====
private_key_file = "key_path"
host

[2019-01-09 19:10] FragmentedPacket commented on #50704
Ok - I misread. Let me take a look at this and we'll get a PR submitted once we've determined the bug.

[2019-01-09 20:46] therealbill opened #50725 "Better Reporting on Action-less File module tasks"
##### SUMMARY
File module could have some syntactical sanity checking for a better error message when "path" is given with no actions to take, while the syntax check mode should flag it.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
module: file

##### ADDITIONAL INFORMATION
The file module will currently let you just declare a path, but not tell ansible what to do about it. If you do thi

[2019-01-09 20:46] crypticsymbols commented on #32872
Me as well. I am happy to contribute a fix if someone can point me in the right direction.

[2019-01-09 20:52] AlanCoding commented on #50714
If I return to the step where I do:

[code]

That does not work, but the following does work, allowing Ansible to import from the virtual environment.

[code]

That solves the issue described here completely. Whether or not it is a good thing to do... that remains an open question.

[2019-01-09 20:55] abenokraitis commented on #23248
@rcarrillocruz Do you happen to have a list of all issues/PRs for this add? Thanks!

[2019-01-09 21:00] maxamillion commented on #50237
This actually turns out to be a bug in upstream dnf versionlock plugin, it assumes the plugin is being loaded by a call from the cli and doesn't properly handle the case where it's loaded by the python api. I've submitted a PR upstream to resolve. https://github.com/rpm-software-management/dnf-plugins-core/pull/317

[2019-01-09 21:00] benjdudas commented on #37366
@celebloki Are you able to validate this?

[2019-01-09 21:04] dselders opened #50726 "Extraneous data in junos_command output with SRX cluster"
##### SUMMARY

I am seeing an extraneous string returned while using the junos_command module with the network_cli connection type.  The extraneous string is a portion of the prompt when working with a SRX cluster, `{primary:node0}`.  I have tested with 2.7.5 as well as devel with the same results.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

junos_command

##### ANSIBLE VERSION

[code]

[2019-01-09 21:09] TomasTomecek commented on #50583
Bad news, the proposed solution with `buildah unshare` doesn't work, filed this buildah issue to track it: https://github.com/containers/buildah/issues/1271

Some ugly debug output:
[code]

[2019-01-09 21:14] otakup0pe commented on #30833
Yeah definitely still seeing this on Ansible 2.7.5, can we get it re-opened and merged in properly?

[2019-01-09 21:48] smueller18 commented on #47978
This issue is not ansible related but caused by docker-compose. I opened a PR to fix it https://github.com/docker/compose/pull/6448
In my opinion, this issue can be closed then.

[2019-01-09 21:54] felixfontein commented on #47978
I agree. @michalmedvecky I will close the bug in a couple of days if you don't disagree.

[2019-01-09 21:55] maxamillion commented on #46963
@NerdsvilleCEO that would be amazing, I would greatly appreciate it! I'm happy to help along the way as well if you need anything. I'm always in `#ansible` on `irc.freenode.net`. My irc nick is the same as my github username. Thank you!

[2019-01-09 21:56] maxamillion commented on #50541
I'd need more information because I don't understand how yum could be getting a 404 error but you're seeing traffic as though the file begins to download. Do you have any logs you can share that might assist in tracking the issue down? Thank you.

needs_info

[2019-01-09 22:01] felixfontein commented on #50414
I tried to run your example from the issue (with `gcr.io` replaced by a server/port combination which drops packets, that gave the exact same error message from your issue except of course the server name). For me, repeat works fine (tested with devel and stable-2.7 branches):
[code]
This confirms to me that this is not a problem with the docker_container module (that wouldn't make sense anyway, s

[2019-01-09 22:17] AlanCoding commented on #50714
This issue may go further than what Ansible does, explained in:

https://stackoverflow.com/questions/1530702/dont-touch-my-shebang

Indeed, the file that gets laid down in `/usr/local/bin/ansible-inventory` does not have the `#!/usr/bin/env python` which was intended in

https://github.com/ansible/ansible/blob/c89d14da994e285ae732c3c78d73d565b06450e1/bin/ansible#L1

Replacing the (static) python p

[2019-01-09 22:31] spjspjspj commented on #32094
+1

[2019-01-09 22:55] ObviusOwl commented on #50009
Same issue on Linux Mint 19.1, ansible 2.7.5

[code]

[code]

[2019-01-09 23:05] bcoca commented on #50714
That happens on install and depends strongly on the installation method, some will respect the 'env python' some change it. We can mostly control the packages we produce (rpm in releases.ansible.com, our ppa and the pip package), but the rest ....

[2019-01-10 00:33] jsosic commented on #45367
@bcoca since the OP didn't respond, I may show a valid usecase:

Redis sentinel when changing a master in master-slave cluster, overwrites `redis.conf`, by appending it with new directives.

If we try to manage redis.conf from ansible, runs are not idempotent once one of the slaves was promoted to master. Ansible play wants to change the configs and reload the redis instances.

To avoid that, I've

[2019-01-10 00:34] abedwardsw commented on #30112
it seems as though check_mode is not supported by this module.

I can see that this module also tries to open the .ssh directory in "write" mode even when running ansible in check_mode.   You can see from this example where I mount the filesystem in ro mode and then use the role.  it fails as it tries to open the filesystem in write mode.

[code]

the workaround is to add `when: not ansible_check_

[2019-01-10 01:00] evandam commented on #50669
Makes sense, thanks! I tried looking through `core.py` for any code related to `max`, but didn't see anything. If it would be okay to just add a new optional/named parameter to Ansible's max filter, I'd be happy to try it out and open a PR with a nudge in the right direction.

[2019-01-10 03:47] ptux commented on #46829
@UnitedMarsupials

If you show me a reproducible code(eg. no vars, with inventory), I would help you with this.

[2019-01-10 04:06] eburgueno opened #50739 "VMware: vmware_guest module autoselect_datastore behaviour"
##### SUMMARY
The `disk` attribute of the vmware_guest module says

It is not clear if this last bit refers to the `vmware_guest.disk.datastore` attribute, or the `vmware_guest.datastore` attribute.

Also, the two statements conflict `autoselect_datastore` should be specified only when `datastore` is not, however `datastore` is used to filter the selection when `autoselect_datastore` is specified.

[2019-01-10 04:22] #45218 closed, assigned to justjais

[2019-01-10 05:06] pjnagel opened #50742 "openssl_pkcs12 should add 'chain' option"
##### SUMMARY
The command-line "openssl pkcs12 -export" utility has a -chain option. It includes all certificates in the chain of trust, up to and including the root. To find the root certificates, it looks in the path as specified by -CAfile and -CApath

The openssl_pkcs12 module has no equivalent option, although it does have equivalents for -CAfile (ca_certificates) and -CApath (certificate_pat

[2019-01-10 05:48] xinau opened #50747 "to be removed."
Can be removed.

[2019-01-10 05:50] #50747 closed, assigned to nobody

[2019-01-10 05:52] xinau commented on #50747
wrong tool whoops :)

[2019-01-10 06:09] UnitedMarsupials commented on #46829
@ptux, thanks for the offer, but this is not a request for help. This is a _feature request_ -- for the core functionality, rather than a particular module (`get_url` was just an example): when a task fails, but has `retries` remaining, report the failure with the same level of detail as would be used for the final attempt.

[2019-01-10 06:48] cjeanner commented on #40827
Hello,
So, I have the same kind of issue, using the [uri](https://docs.ansible.com/ansible/latest/modules/uri_module.html#uri-module) module.

Here's what I'm doing:
- have a squid proxy on some computer
- run ansible-playbook with ```http_proxy```, ```https_proxy``` and ```no_proxy``` exported in my user env
- in a role included by this playbook, just call the ```uri``` module hitting an address

[2019-01-10 07:53] #49885 closed, assigned to nobody

[2019-01-10 08:09] bsibaud commented on #50719
Just to be clear: it also fails to download a 512 KiB file from a distant Apache httpd through a squid proxy (the "10 MB limit" on localhost in the test playbook is larger than the "limit" for files retrieve through network)

[2019-01-10 08:10] abbbi opened #50752 "vCenter modules include boilerplate description from doc fragment"
##### SUMMARY
Trying to add a license via the vcenter_license module fails with "The requested operation is not implemented by the server" The ESXi System in question is version 6.7.0 (Build 8169922)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vcenter_license

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Debian

##### EXPECTED RESULTS
License will be

[2019-01-10 08:52] yungezz commented on #49415
@yfried thanks for reporting the issue. ansible-azure working group discussed this issue again today https://meetbot.fedoraproject.org/ansible-azure/2019-01-09/ansible_azure_working_group.2019-01-09-23.59.log.html. we reached the agreement to remove ansible_facts from azure facts module based on below reasons:
- ansible_facts will make the properties access path longer
- ansible_facts from multipl

[2019-01-10 08:52] #49415 closed, assigned to nobody

[2019-01-10 09:00] y2kkarthik commented on #48408
Sorry for the delay in response. I managed to solve this problem including profile option !

[2019-01-10 09:04] bsibaud commented on #50719
First, 'uri' module documentation doesn't contain "Prefer get_url for downloading files" or "Uri module is not suited to download files" or "Be careful the whole retrieved file will be stored into memory, that's why uri module for GB file is a bad idea". (I would say that may be the "documentation part" of the issue)

Second, even if get_url does the trick, we may expect uri module with default GE

[2019-01-10 09:06] mkrizek commented on #48408
Closing as per above.

[2019-01-10 09:06] #48408 closed, assigned to nobody

[2019-01-10 09:17] yfried commented on #49415
@yungezz I understand your decision, I'd just like to point a few facts:

* all *_facts modules, are expected to register their outcome to `ansible_facts`, and not following this makes the azure modules behave unexpectedly and oddly in the eyes of regular ansible users
* Some azure_*_facts module already follow this behavior, which contributes to the unexpected factor.
* The path length is of no c

[2019-01-10 09:30] lkx007 opened #50755 "how can I set yum description in yum_repository module?"
I can see the code below, even if I set 'description', it will not take effect any more,why set description to name and remove description ?

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/yum_repository.py#L638

[2019-01-10 09:59] aldevar commented on #42064
Had the exact same problem only on ubuntu 18.04. Added After=dbus.service underthe [Unit] section in /lib/systemd/system/open-vm-tools.service.
Now, network starts connected and VM provisionning works fine

[2019-01-10 10:20] trishnaguha commented on #50635
@michaelford85 I have tried this on nxos9K (7.0(3)I7(3)), 7K (7.3(0)D1(1)), 3K(6.0(2)U6(10)) devices. Even though the command is returning the same warning on all these nexus devices, the config is getting applied on the running-config.
I am pretty sure that is there some other reason that config is not applied on your device. It is **NOT** the **WARNING**.

Can you please follow the exact same st

[2019-01-10 11:13] Akasurde commented on #50669
@evandam You may want to look for `max` function [here](https://github.com/ansible/ansible/blob/4790d77a58ae7fb571872905b0e837e8a1f251f6/lib/ansible/plugins/filter/mathstuff.py#L131).

[2019-01-10 11:24] peacengell opened #50757 "Issue creating internet gateway using ansible Error "Profile not found""
##### SUMMARY
I have created my playbook to create my infra on aws.
I am starting little by little.
The profile I am using is working  for other task, but not when creating Internet Gateway.
Ansible version 2.6.4 and I updated to ansible 2.7.5 still the same issue.

Below is my error:

TASK [create and associate subnet with VPC.] ********************************************************************

[2019-01-10 11:31] it-praktyk commented on #39583
It's fixed by #50621

[2019-01-10 11:33] it-praktyk commented on #50332
I'll take a look at that.

[2019-01-10 11:51] petr-balogh opened #50758 "Ansible 2.7 failing to execute shell or command with async"
##### SUMMARY

When running async shell command we experience the issue that our targetted installation command is failing to be executed.

[code]
In deploy log of hosted-engine command I see:

[code]

When executed without async or with ansible 2.6 it's working well.

In file `/usr/lib/python2.7/site-packages/otopi/dialog.py", line 169, in __setupDialogChannel` I see those lines:
[code]
So probab

[2019-01-10 11:53] dagwieers commented on #50752
You have to target your vCenter. That is the reason why the module is named **vcenter_license* and not **vmware_license**.

[2019-01-10 12:01] abbbi commented on #50752
Hi,

thats nice, then Documentation should be updated. Documentation states:

hostname:
`The hostname or IP address of the vSphere vCenter or ESXi server.`

[2019-01-10 12:38] jamescassell commented on #40827
Generally, no_proxy does not support address ranges. Also, if you're using ssh to connect to localhost, or if you've got 'become: yes', your environment won't carry over.

[2019-01-10 13:32] rarenicks opened #50762 "the python NetApp-Lib module is required"
##### SUMMARY
Ansible returing error : "msg": "the python NetApp-Lib module is required"

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/storage/netapp/na_ontap_iscsi.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Linux csaserver01 4.4.0-135-generic #161-Ubuntu SMP Mon Aug 27 10:45:01 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

##### Description
I am using ansible-

[2019-01-10 13:38] dagwieers commented on #50752
@abbbi Correct, the problem here is that this is a boilerplate description from the included parameter list. And this problem likely exists for all vCenter-specific modules :-(

[2019-01-10 13:39] dagwieers commented on #50752
Thanks for reporting! I will keep this ticket open so we can follow up on it.

[2019-01-10 13:40] sbj-ss commented on #43775
#50686 also closes this.

[2019-01-10 14:10] AlanCoding commented on #50714
Just to share for any future observers, in Mac OS I installed via `pip install ansible`, and in my CentOS environment it was installed via `yum -y install ansible`. In the Mac case it put in the Framework python

In the CentOS case it put in `!/usr/bin/python2`.

It would be useful to know if a different install method did not change that (for CentOS, don't actually care about Mac). I might have t

[2019-01-10 14:36] rawbertp commented on #43989
Is there any solution for this using sole Jinja templates?

Given the following group-var:
`a: "{{ hostvars['somehost'].someVar }}"`

and the following Jinja template code:
...
`{{ hostvars['aHost']['a'] }}`

... it doesn't render the template and it won't output the actual content of 'someVar'. I haven't found any workaround yet which is quite a PITA... :-(

[2019-01-10 14:43] bcoca commented on #50714
There is a reason most installs will change `env python` to a specific interpreter, mostly it is related to dependencies.

i.e you install ansible when you have python3.5 as results of 'env python', so pyyaml and jinja2 are installed under python3.5. Later on you change (directly or indirectly) 'env python' to now point to python3.6, ansible would error out as it would not be able to import pyyaml

[2019-01-10 14:50] AMHAnsible9 commented on #48093
Hi there,

Please find the logs below for this issue (I've starred out the hosts IP address):

2019-01-10 14:48:57,772 p=21861 u=root |  TASK [debug] *******************************************************************
2019-01-10 14:48:57,772 p=21861 u=root |  task path: /var/lib/awx/projects/_6__network_automation/Development/IOS_pre_upgrade_checksFAIL.yml:27
2019-01-10 14:48:57,794 p=21861 u=root

[2019-01-10 14:51] FragmentedPacket commented on #50704
@33Fraise33 Sorry to be blowing you up on this. Can you apply the changes from https://github.com/ansible/ansible/pull/50343, set `config_context: false` and see if that fixes your issue?

[2019-01-10 14:52] SpComb commented on #10635
This bug is still relevant on Ansible 2.7.4. The issues for the ansible modules have been moved back to this GitHub repo, so should this issue be re-opened, or should I open a new issue?

---

Trying to bind-mount the same `/opt/influxdb` volume to `/opt/infludb` (read-only) and `/var/lib/influxdb` (read-write) fails, and only the second volume actually gets bind-mounted:

[code]

InfluxDB fails t

[2019-01-10 14:55] Akasurde commented on #50762
!component =lib/ansible/modules/storage/netapp/na_ontap_iscsi.py

[2019-01-10 14:59] AMHAnsible9 commented on #48093
To add to this, as a workaround to get the script working and to prevent it from throwing the error, I've had to add in a task between every other task in order to reset the connection:

name: Show command one
asa_command:
commands:
- "show cpu"

 - name: Reset Connection
      meta: reset_connection

name: Show command two
asa_command:
commands:
- "show memory"

This issue also doesn't looks to b

[2019-01-10 15:01] x-yuri commented on #43989
@rawbertp

[code]

[2019-01-10 15:07] jhawkesworth commented on #45560
Not reproduced.  I am going to close as I suspect this was environmental.

[2019-01-10 15:07] #45560 closed, assigned to jhawkesworth

[2019-01-10 15:21] rawbertp commented on #43989
Thanks x-yuri. I noticed that it works with using set_fact but I'm afraid it won't work for my use case which looks as follows.

I'm using 'dynamically' generated variables which can be considered as the content of a properties file. This looks something like that:

[code]
The result would be the following properties file:

[code]

To achieve this I iterate over all the hostvars (in my Jinja templ

[2019-01-10 15:30] bcoca commented on #49294
A big issue is that 'ansible_user' can change PER loop, that is why it is defined later on (connection variables must allow for this), so it is not clear we CAN fix this in a satisfactory way.

i.e:
[code]
the above might require a whole different set of connection variables for host1 vs host2, so trying to define ansible_user at the loop level would do the wrong thing.

[2019-01-10 15:34] ahmadgb opened #50765 "win_package support appx"
##### SUMMARY

win_package doesn't support installing appx installers
##### ISSUE TYPE
- Bug Report
installing issue
##### COMPONENT NAME

win_package
##### ANSIBLE VERSION

[code]
2.7.5
##### CONFIGURATION

[code]
ALLOW_WORLD_READABLE_TMPFILES(/etc/ansible/ansible.cfg) = False
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONME

[2019-01-10 15:41] #50339 closed, assigned to nobody

[2019-01-10 16:03] sivel commented on #50719
Does it "do the trick"?

[2019-01-10 16:05] sivel commented on #50755
As stated in the documentation `name` corresponds to the section header, and `description` corresponds to the `name` under that section.

[code]

Results in:

[code]

[2019-01-10 16:14] bsibaud commented on #50719
It does. In the given playbook, replace uri by get_url, remove method and status parameters, and it will work. Even if based on the same common module_utils/urls.py file, get_url doesn't exactly use the same part of code.

[2019-01-10 16:21] pjnagel commented on #50742
!component =lib/ansible/modules/crypto/openssl_pkcs12.py

[2019-01-10 16:40] radez opened #50767 "Networking junos_command does not fail correctly over network_cli"
##### SUMMARY
Ansible does not report failure when junos_command fails

rpm -q ansible
ansible-2.7.5-1.el7.noarch

I've deliberately made this playbook fail on a junos_command:

    "stdout_lines": [
        [
            "configure ",
            "Entering configuration mode",
            "The configuration has been changed but not committed",
            "",
            "{master:0}[edit]"

[2019-01-10 16:44] 33Fraise33 commented on #50704
this fixed my issue ;)

[2019-01-10 16:53] agouaux commented on #13077
I know this is closed, but just seems to be a massive oversight!

[2019-01-10 16:58] muratdx commented on #43989
Not sure if this is directly applicable to your use case, but I've been to work around quirks in the new hostvars behavior using a hack like this:

```hostvars[inventory_hostname] | to_json | from_json```

This appears to force rendering of all the template expressions for that host's hostvars collection.

[2019-01-10 16:59] FragmentedPacket commented on #50704
@33Fraise33 Awesome! We'll work on the backend to get this resolved so we'll keep the issue open for now.

Thanks for the report!

[2019-01-10 17:20] sivel commented on #50719
There is one thing in `uri` that I am going to work on changing, and that is if `dest` is a directory (not a  file), the `uri` module performs 2 GET requests on the same URL.  I've meant to fix this for a while now, but haven't done it.

The other thing to note, aside from the double request above, is that `uri` will consume more memory and execute slower when fetching larger files.  I am unsure i

[2019-01-10 17:34] sivel commented on #50719
I've opened the above PR to begin work on some improvements to the `uri` module.  I have some more time sensitive work coming down the pipeline, so that PR is likely to stall for a while.

In the mean time, as mentioned, using `get_url` would be the best approach.

[2019-01-10 17:39] tlofreso opened #50772 "aireos_config backup: yes | ascii codec can't encode"
##### SUMMARY

When using aireos_config module with parameter: `backup: yes` the following error is received:
`UnicodeEncodeError: 'ascii' codec can't encode character u'\u2013' in position 35649: ordinal not in range(128)`
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aireos_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible Server: RHEL 7
##

[2019-01-10 17:41] suhailc commented on #48645
Hi,

I'm seeing this happening on all fresh installs of Ansible:

TASK [webtier : write the apache config file] *********************************************************************************************************
fatal: [ans1]: FAILED! => {"changed": false, "checksum": "d8b514007d397d2d1d7749ced5e8bf6f0cb96a25", "msg": "Unsupported parameters for (copy) module: notify Supported parameters inc

[2019-01-10 18:18] randlet commented on #50024
Thank you @andrewmcgilvray that fixed the issue for me too.

[2019-01-10 18:20] lifeofguenter opened #50777 "Failed to get data from the API server (https://galaxy.ansible.com/api/): <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1056)>"
[code]

[code]

This is a macos environment

[2019-01-10 18:25] #50777 closed, assigned to nobody

[2019-01-10 18:29] avishefi opened #50778 "win_package support for non-default installation parameters"
##### SUMMARY
win_package to support non-default installation parameters

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_package

##### ADDITIONAL INFORMATION
Currently win_package forces a default set of installation parameters:
https://github.com/ansible/ansible/blob/v2.7.5/lib/ansible/modules/windows/win_package.ps1#L340
This prevents the use of alternative flags, such as administrat

[2019-01-10 18:56] x-yuri commented on #43989
@muratdx Your trick works in the following case:

`host_vars/h1`:

[code]

`playbook.yml`:

[code]

But not with:

[code]

Since `{{ hostvars['h1']['a'] }}` gets rendered with only `h1`'s vars, no `hostvars` variable availble. But if you were to put `{{ hostvars[inventory_hostname] }}` into, say, variable `v`, and do `{{ v }}`, it'd be rendered with "global" variables, including `hostvars`. So, it

[2019-01-10 18:56] jmighion commented on #50772
I believe this was already fixed in https://github.com/ansible/ansible/pull/50208 or https://github.com/ansible/ansible/commit/71113ee291aa51f5363486537b3407204acb5a99. Can you please try the latest from devel or that PR?

[2019-01-10 19:07] OpenSourceZombie commented on #31145
@eddjlam can you please share your workaround?

[2019-01-10 19:18] billdodd commented on #47108
After discussion with some of the Redfish folks, here is the approach I would propose:

- Most (though certainly not all) Redfish services will have exactly one system, so that scenario should be as frictionless as possible. For tasks that act on a system, if there is exactly one system, perform the task on that system. There is no need to specify which system to target.
- If there is more than on

[2019-01-10 19:41] sujiar37 opened #50779 "Found a vault_id (X) in the vault text, but we do not have a associated secret (--vault-id)"
##### SUMMARY
I am trying to setup a global parameters for logging into both Windows and Linux systems through vault [best practises](https://docs.ansible.com/ansible/latest/user_guide/playbooks_best_practices.html#variables-and-vaults) . However it is failing, since associated secret related with the specific vault id's are not reflecting as expected. It is always passing the first entry in the v

[2019-01-10 20:06] netdisciple commented on #37640
this worked for me too on ubuntu 18. not sure why this was thumbs down, but messing with pip was fruitless. i only installed python-dockerpty and my playbook worked, even without implict localhost.

[2019-01-10 20:21] x-yuri commented on #43989
@rawbertp You can even load template from a file, if that's what makes you think it won't work in your case:

`templates/1.j2`:

[code]

`playbook.yml`:

[code]

[2019-01-10 20:37] felixfontein commented on #50424
Will be fixed in Ansible 2.6.

resolved_by_pr 48473

[2019-01-10 21:41] ju2wheels commented on #48678
@bcoca Are you aware of any builtin methods that do the inverse of `ansible.parsing.splitter.parse_kv` currently? dict to kv string (properly escaped)? Will need to create one myself otherwise, not sure which part of the lib you would want that to go in.

[2019-01-10 22:04] it-praktyk commented on #50332
@kewalaka, thank you for your report. I resolved the issue in the upcoming newer version of the win_psmodule #50621.

After merging that to the devel branch I'll backport required changes to supported versions of Ansible too.

[2019-01-10 22:14] sivel commented on #48678
Not really a function but we do it here:

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/__init__.py#L793

[2019-01-10 22:51] jhg03a opened #50782 "In openssl csr & cert modules add support for v3 key identifier extensions"
##### SUMMARY
As a user, I'd like to supply the subjectKeyIdentifier and authorityKeyIdentifier openssl v3 extensions when generating a csr and cert.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
openssl_certificate
openssl_csr

##### ADDITIONAL INFORMATION
Some webservers aggressively validate SSL certificate data and for a version 3 certificate these extensions are effectively a standar

[2019-01-10 23:45] kendrew71 commented on #50299
I forgot to add that the following are the OVF properties that I pass to vmware_deploy_ovf:

guestinfo.cis.appliance.net.addr.family: "ipv4"
guestinfo.cis.appliance.net.mode: "static"
guestinfo.cis.appliance.net.addr: "{{ vcenter_ip_address | ipaddr }}"
guestinfo.cis.appliance.net.prefix: "{{ vcenter_net_prefix }}"
guestinfo.cis.appliance.net.gateway: "{{ vcenter_gateway | ipaddr }}"
guestinfo.cis

[2019-01-11 00:35] wongster80 commented on #23801
Looked at https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#using-roles and I don't see much information on how to use roles/x/vars/main.yml .  I would like to also use vars/main.yml to group variables include / import there. Can someone provide information on this?

[2019-01-11 01:07] jmighion commented on #50772
You will need to check out all of ansible devel and execute from that, not just a specific file. https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html#common-environment-setup

[2019-01-11 01:18] hchen1024 commented on #49465
Hello, I get into trouble with anbible, as follows,
when ansible-playbook a.yml, there's thus error:
ansible module did not set no_log for password

[2019-01-11 01:20] double22a opened #50788 "ansible module did not set no_log for password"
Hello, I get into trouble with Ansible, as follows,
when ansible-playbook a.yml, there's thus error:
ansible module did not set no_log for password

Thanks

[2019-01-11 01:34] Zoulf666 opened #50789 "Error for Ansible manage HUAWEI switchs(S5700 series)"
When I use ansible manage HUAWEI switchs(S5700 series) for command:
[code]
it report error:
[code]
I'm already set a ssh user in the switch.

[2019-01-11 02:00] Zoulf666 commented on #50789
##### SUMMARY

Error for Ansible manage HUAWEI switchs(S5700 series)
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible ping
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.8 (Santiago) , HUAWEI S5700 switch.
##### STEPS TO REPRODUCE

first, I create a ssh account in the switch,
and then when I use ansible mana

[2019-01-11 02:15] Fred-sun commented on #40596
@yuwzho @yungezz This may be can closed, resolved_by_pr #49243, Thanks!

[2019-01-11 02:17] #40596 closed, assigned to nobody

[2019-01-11 02:42] aghassemlouei commented on #46040
Also experiencing the same issue when the file already exists and the system is in FIPS mode.

[2019-01-11 03:08] lkx007 commented on #50755
@sivel, ok I see, thanks a lot.

[2019-01-11 03:08] #50755 closed, assigned to nobody

[2019-01-11 04:35] Bonn93 opened #50792 "validate_certs is broken"
##### SUMMARY
validate_certs in URI module is broken. Adding this option to playbooks and setting values fails with errors "validate_certs is not a valid attribute or task"

This appears to be a pyopenssl/requests problem with whatever python overlay is used as these urls work fine with cURL. Removing this flag, the problem goes away, however generic SSL errors are then throw, completely breaking

[2019-01-11 04:41] Bonn93 commented on #50792
Tried all the steps and leads: https://www.google.com/search?ei=jw04XKPFGcy89QP3wKDYDQ&q=ansible+uri+validate_certs+is+not+a+valid+attribute+for+task&oq=ansible+uri+validate_certs+&gs_l=psy-ab.1.0.35i39j0i22i30l2.4282970.4282970..4286052...0.0..0.214.214.2-1......0....1..gws-wiz.......0i71.Me0EEpnCm38

[2019-01-11 04:45] jborean93 commented on #50792
You have set `validate_certs` as a task variable (same indentation as name, the module, register, etc). It is a module option for the `uri` module and needs to be in the same indentation as `url`, `status_code`, and so on.

[2019-01-11 04:45] #50792 closed, assigned to nobody

[2019-01-11 05:04] dnuka commented on #47108
@billdodd
Started to work on this issue \o/

[2019-01-11 05:39] lifeofguenter opened #50793 "Failed to import docker or docker-py - No module named ordered_dict"
Can not use docker module. Tried with python2 or python3:

[code]

[2019-01-11 05:50] ganeshrn commented on #50767
This issue should be fixed by PR https://github.com/ansible/ansible/pull/50138 and fix is currently available in the devel branch and backport fix will be in 2.7.6 version. Can you please test on devel and check if you are still facing the same issue.

needs_info

[2019-01-11 05:50] lifeofguenter commented on #50793
solved via: https://github.com/ansible/ansible/issues/49395#issuecomment-453382975

[2019-01-11 05:50] #50793 closed, assigned to nobody

[2019-01-11 06:13] Akasurde commented on #50752
resolved_by_pr #50794

[2019-01-11 06:52] cjeanner commented on #40827
@jamescassell well, in all the examples I've found, they do put CIDR ranges. I'm running it on a remote host, and there is a sudo rule allowing to keep then *_proxy env…

[2019-01-11 07:12] Akasurde commented on #50788
@hchen1024 Thanks for reporting this issue. Could you please provide https://github.com/ansible/ansible/issues/50788#issuecomment-453333840 information and elaborate your issue more so that we can debug ?

Thanks.

[2019-01-11 07:15] Fred-sun commented on #49180
@zikalino

[2019-01-11 07:54] x-yuri commented on #43989
@rawbertp This is starting to get off topic, but... You can always create a dict (`{app1: {var1: val1, var2: val2, ...}, app2: {...}, ...}`). The critical part (that can't be done in external template) is `hostvars[inventory_hostname][var]`. So, I'd first create such dict with all the values evaluated (templates rendered), then pass it to `template` module. Also, why don't you create the dict righ

[2019-01-11 09:05] emanuele-leopardi commented on #50024
@andrewmcgilvray , thanks for pointing this out! I've corrected my code as follows

[code]

[2019-01-11 09:05] #50024 closed, assigned to nobody

[2019-01-11 09:06] rawbertp commented on #43989
I know that would be the easiest solution but unfortunately doesn't work for my use case. The app properties can originate from multiple sources/repositories. So the final Ansible project is composed of various sources which would not work with a dict. (at least not to my knowledge)

Sorry for the off-topic!

[2019-01-11 09:39] #49815 closed, assigned to nobody

[2019-01-11 09:40] Akasurde commented on #35764
Closing this issue as PR #50255 is merged. If issue persists, please feel free to re-open.

[2019-01-11 09:40] #35764 closed, assigned to nobody

[2019-01-11 09:41] Akasurde commented on #38641
#50255 adds documentation about `human_to_bytes` and `human_readable`.

[2019-01-11 09:56] resmo opened #50799 "cloudscale_server: updating flavor of server"
##### SUMMARY

Currently, the cloudscale_server only allows to create servers but not update them. Especially the flavor (offering) can not be changed.

The new feature would allow to update the server flavor.

A server must be in stopped state to change the flavor. If a server is in stopped state, the flavor gets updated immediately. If the server is in running state, a warning is shown to the us

[2019-01-11 10:38] m2harshanalore opened #50800 "How to fetch the API URL from a Python file and use the URL in URI Module of Anisble"
##### SUMMARY

I have a python file which contains the task to interact with an application.How can i utilize this python file to integrate with URI Module of Ansible.

##### ISSUE TYPE
-

##### COMPONENT NAME

URI Module of Ansible

##### ADDITIONAL INFORMATION

Basically i have a python file which possess function to perform various tasks on a web application. I need to utilize this file and bui

[2019-01-11 10:48] m2harshanalore commented on #50800
ansible --version
ansible 2.7.4

[2019-01-11 11:43] ganeshrn commented on #19884
`src` option should be supported with `match` and `replace` options from Ansible 2.7 version onwards. Please retest with Ansible 2.7 version.

needs_info

[2019-01-11 11:47] billdodd commented on #47108
@dnuka - that's great! Let me know if you have any questions. I'm going to be away today but will be back on Monday.

[2019-01-11 11:56] dnuka commented on #47108
@billdodd thank you :)

[2019-01-11 12:00] selfuryon commented on #19884
ok, I'll try to test it at weekend!

[2019-01-11 12:15] nicholasrodriguez commented on #50299
Thanks for the contribution. I’ve been doing a bit of digging and it is down to how the VCSA OVA has been packaged and how **vmware_deploy_ovf**  handles the OVA configuration options rather than a fundamental issue with the current state of  **vmware_deploy_ovf**.

There are certain settings in the VCSA OVA required for the post configuration of vCenter that are set to “userConfigurable="false"”.

[2019-01-11 12:58] max-wittig commented on #43286
I'm having a similar problem with ansible. Latest version, running with python3

[2019-01-11 13:06] max-wittig commented on #43286
My workaround is setting `serial: 1`

[2019-01-11 13:30] Matthias-Beck opened #50802 "Add comment to vserver create"
##### SUMMARY

When creating or modifying a SVM / vserver add the option to set a comment for the SVM / Vserver

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

na_ontap_svm
##### ADDITIONAL INFORMATION

On bigger clusters you can have multiple vservers / SVMs and you need an external documentation which SVM is used for which application / function. If the comments are used you can easily s

[2019-01-11 13:39] Matthias-Beck commented on #50802
!component = lib/ansible/parsing/utils/yaml.py

[2019-01-11 15:32] sivel commented on #50299
This likely seems to be related to the ovftool option `enableHiddenProperties`.

Found on another website:

[code]

We would need to figure out how to configure that via pyvmomi during this process.

[2019-01-11 15:40] markgoddard opened #50805 "Hostvars not templated when assigned to an intermediate variable since 2.6"
##### SUMMARY
If the `hostvars` variable is assigned to a variable, referencing variables within yields the untemplated value.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Hostvars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT

CentOS 7.6, Ubuntu 16.04.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-01-11 16:03] #50249 closed, assigned to Akasurde

[2019-01-11 16:19] mikewiebe commented on #50635
@michaelford85 I booted image version `7.3(1)N1(1)` on my Nexus 6001 and simplified the playbook to just the interface configuration you are seeing issues with.

[code]

I was not able to get nxapi to work properly on my device (would not connect for some reason) but I was able to use cli as the transport and it applied properly.

Here is my starting state.

[code]

Now I run the playbook.

[code]

[2019-01-11 16:20] mikewiebe commented on #50635
@michaelford85 Can you try with `transport: cli` to see if you get a different result and also would you be able to provide the verbose log output from the playbook run?

[2019-01-11 16:33] Akasurde commented on #36915
@mories76 Please see https://github.com/ansible/ansible/pull/50592 which fixes `ansible_ssh_host` variable. Let me know if it works for you ?

[2019-01-11 16:43] #31017 closed, assigned to nobody

[2019-01-11 16:44] bcoca commented on #31017
Adding filters to Jinja2 to handle conversion of date time is a better approach than dding all this complexity into argspec for such small demand.

[2019-01-11 16:46] t-readyroc commented on #30497
Thanks so much for your effort/investigation. This is the most clear explanation that I've found on the issue (most searches' solutions are simply: uninstall Ansible via brew, install via pip). I really think there needs to be a caveat, at least, listed in the brew documentation stating that the combination of the 2 packages installed via brew does not work (something I find odd 1.5yrs after you'd

[2019-01-11 16:51] sivel commented on #50299
I'm going to guess, that what `ovftool` does with this option, is that after calling `ovfManager.CreateImportSpec` we would need to go through `importSpec.configSpec` and toggle the params that are set as `userConfigurable="false"` to being True.

[2019-01-11 17:07] #25725 closed, assigned to alikins

[2019-01-11 17:08] sivel commented on #50299
The only thing stopping me right now, is not having an OVF/OVA that contains these types of properties, so I don't have a good way to validate and/or test.

[2019-01-11 17:13] carchi8py commented on #50802
I've created an internal story for this (NETAPP-1145)

[2019-01-11 17:23] smueller18 commented on #47978
PR was merged and will be released in docker compose 1.24.0

[2019-01-11 17:48] sivel commented on #50299
Are any of you able to confirm whether this change resolves your issues:

[code]

needs_info

[2019-01-11 17:53] geerlingguy commented on #39122
Someone [on my blog](https://www.jeffgeerling.com/comment/9109#comment-9109) mentioned the same thing—it doesn't work with the command `ansible all -m setup`.

[2019-01-11 17:57] asziranyi commented on #48714
maybe you can use
`- name: Enable 'universe' repositoryshell: add-apt-repository universe
  register: command_result
  changed_when: '"already enabled for all sources" not in command_result.stdout'
`

[2019-01-11 18:34] cyrosnoes commented on #49659
Hello, i bumped into this report as having the same issue, but for the azure_rm_managed_disk, as workaround, how do i set Host Caching to ReadOnly? Now the disks are added with Caching state None, and i cannot find a way to adjust this for a additional disk on a existing VM.

[2019-01-11 19:07] bcharboneauiherb opened #50819 "Boto v2 nearing deprecation please update AWS Modules to Boto3"
##### SUMMARY
Boto v2 is nearing deprication. as posted by the developers in their own GIT. https://github.com/boto/boto

as Boto3 is continuously being updated and Boto2 is not can the current modules be updated to use boto3?

Newer regions have been added to Boto3 and not Boto2 so this is starting to break functionality to deploy to AWS. A bug has been added to add eu-north-1 region to boto2 but

[2019-01-11 19:48] bcoca commented on #13077
It is not an oversight, it is by design, the incorrect assumption above is that Ansible always uses 'shell commands', this is not true, in many cases it is just using system calls or other code libraries and there is no 'shelling' to a specific command. So the entire 'module' needs to run under sudo, as well as other commands that create tempdirs, copy needed files, chown, chmod, etc and cleanup e

[2019-01-11 20:14] robinro commented on #50288
@Alex-Bron
The usual way to get this behavior would be to install the package with `state: latest` in a role that only runs on the desired machine or in a task with a corresponding `when` statement.
How do you currently install the neutron package in the first place?

[2019-01-11 20:17] kendrew71 commented on #50299
I see what you guys are saying about configurable=false. I have 10 properties that I set that are "not configurable", but I'm ok with the defaults on 6 of them. Unfortunately, like you say, the following must be set to true (either time.tools-sync, or ntp.servers).

key="guestinfo.cis.appliance.ssh.enabled" type="boolean" userConfigurable="false" value="False"
key="guestinfo.cis.appliance.time.too

[2019-01-11 20:23] sivel commented on #50299
Ok, it must be something extra.  I'll have to look at what `--X:injectOvfEnv` and `--allowExtraConfig` also do.  Because ovftool is closed source, it's not easy to tell exactly what they do and how they accomplish it.  `govmomi` supports `injectOvfEnv` by doing a reconfigure on the VM after it is built.

At some point, we may not be able to mimic all of what `ovftool` is capable of.

[2019-01-11 20:27] sivel commented on #50299
[code]

[2019-01-11 20:33] sivel commented on #50299
Also, just to state this, I'm by no means a VMware expert.  As such, I have no idea what the significance of `guestinfo.cis` is as a prefix on those properties.  Understanding that may help as well.

[2019-01-11 20:40] jose-delarosa commented on #47108
Good approach. Some comments:
* There is already an `all` command to get all available facts from a system. Should be able to leverage it for when there's more than one system. Maybe can add another parameter `all_systems` instead?
* What if user wants to specify more than one `system_id`? Pass a list? Or limit it to just one at a time?
* Given the example above, would `system_id` be `System-1-1-1

[2019-01-11 21:11] crypticsymbols commented on #39709
I can confirm this problem. Any run of my playbook would result in rolling deployment causing a 503 until the new targets were up. setting "modify_targets" to `no` fixed the issue.

I think the best default here would be one which led to the expected behavior of ECS services (rolling deployment, no downtime).

[2019-01-11 21:32] tadeboro commented on #47108
I feel that optimizing Redfish module for this scenario is sending the wrong message, since the real benefit of Redfish API is on large deployments. If I have a single server to manage, I can just use `curl` and `bash` instead of Ansible to manage it and it would not be the end of the world.

Adding more complexity to an already fairly complex module is just calling for even more troubles down the

[2019-01-11 21:43] tadeboro commented on #47108
I would say only allow one or none ids here. Not passing an id means that we would like to collect data from all systems, and giving module a single id would fetch data for selected system only.

No, they would need to be full `@odata.id` content, since creating resource URIs is something one should avoid at all cost when using OData conformant API. And most Redfish implementations do not return s

[2019-01-11 22:15] davidklaftenegger opened #50822 "service module detects status incorrectly when using openrc"
##### SUMMARY
When using openrc, the service module does not always correctly detect a service that has already been started. This is caused by ansible looking for string output from `rc-service myservicename status` instead of looking at the return code.

See https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/service.py line 615-618.

To confirm the behaviour is incorrect, I

[2019-01-11 22:39] kingfai commented on #29240
In case anyone else stumbles into this, the solution by @bertramn worked for me too. I'm installing onto macOS 10.14.1 (Mojave).

Even calling npm via command or shell didn't work as I got the error 'env: node: No such file or directory' even though I verified that node was in /usr/local/bin.

Adding /usr/local/bin to the path as @bertramn did the trick.

[2019-01-11 23:08] maxamillion commented on #50009
I have my motherboard, I'll get it installed this weekend and will follow up on this first thing on Monday.

[2019-01-12 01:01] mattclay commented on #37383
Tests were marked unstable in devel in https://github.com/ansible/ansible/pull/50508

That change was also backported:

* stable-2.7 https://github.com/ansible/ansible/pull/50827
* stable-2.6 https://github.com/ansible/ansible/pull/50828

[2019-01-12 03:43] zikalino commented on #49659
@BradFelmey @cyrosnoes  I am just planning to implement attaching OS Disk to VM.
I can take care of data disks issues as well.

[2019-01-12 06:07] #49372 closed, assigned to nobody

[2019-01-12 06:08] Akasurde commented on #31810
resolved_by_pr #50590

[2019-01-12 06:08] #31810 closed, assigned to nobody

[2019-01-12 06:12] phemmer commented on #12034
Just hit this myself after upgrading from ansible 1.9. The proposal of using `script` is obnoxious as you now have to use multiple tasks.

However it appears there is a really simple workaround. Just put the content in a variable instead. For some reason it seems the leading newline is only added when you assign directly to the `script` value.

[code]

[code]

[2019-01-12 06:42] Akasurde commented on #50819
@bcharboneauiherb Thanks for reporting this issue. I guessing that you are using `ec2.py` dynamic inventory from [`contrib`](https://github.com/ansible/ansible/blob/devel/contrib/inventory/ec2.py) directory. There is AWS dynamic inventory plugin available in [`plugin`](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/aws_ec2.py) directory which is based on `boto3`. You c

[2019-01-12 06:49] Akasurde commented on #50802
!component =lib/ansible/modules/storage/netapp/na_ontap_svm.py

[2019-01-12 08:40] kendrew71 commented on #50299
From the ovftool User Guide..

.. if you are deploying with the ovftool command from an ESXi host, you have to ‘inject’ the parameters into the resulting VM, when it is powered on. This is because the ESXi host doesn't have a cache to store the OVF parameters, like the vCenter Server does. Therefore, you MUST use the ‘--X:injectOvfEnv’ debug option with the ‘--poweron’ option in the command line i

[2019-01-12 08:53] felixfontein commented on #47978
This was a bug in the used library (docker-compose) which was fixed there. Please upgrade to docker-compose 1.24.0 as soon as it is relased.

close_me

[2019-01-12 08:56] #47978 closed, assigned to nobody

[2019-01-12 10:02] felixfontein commented on #40258
Hmm, that would of course be possible, but I think this will make experience worse for more users (assuming most users do not have a non-standard docker daemon configuration) and lead to hard to find bugs / bug reports. (Also, this breaks backwards compatibility.)

How about instead adding an option so that the user can (explicitly) pass the default IP to docker_container?

[2019-01-12 12:19] thomasliddledba opened #50832 "cannot import name mysql_driver"
##### SUMMARY
Receiving an error when adding a MySQL user using the database module for MySQL

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[Database modules - MySQL](https://docs.ansible.com/ansible/latest/modules/mysql_user_module.html#mysql-user-module)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

*defaults/main.ym

[2019-01-12 12:19] HwiLu commented on #19584
it is quite possible that your /etc/ansible/hosts is wrong

[2019-01-12 12:34] richlv opened #50833 "zabbix_template: allow passing name in the json only"
##### SUMMARY
Currently [zabbix_template](https://docs.ansible.com/ansible/devel/modules/zabbix_template_module.html) requires `template_name` to be specified. But it also knows how to read the name from the JSON, and if the name does not match, it complains:

    JSON template name does not match presented name

Duplicating the name in the parameters and JSON is cumbersome, and it would be great

[2019-01-12 12:43] richlv opened #50834 "zabbix_template: fails without template_groups, cryptic error"
##### SUMMARY
The [zabbix_template](https://docs.ansible.com/ansible/devel/modules/zabbix_template_module.html) module lists `template_groups` as being optional, but when leaving them off import fails.
Additionally, an invalid request is sent to the API, and the resulting error is very cryptic.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_template

##### ANSIBLE VERSION
[code]

Also

[2019-01-12 15:15] solismaam opened #50835 "Flatpak runtime packages."
##### SUMMARY
Managing 'runtime' (e.g. org.gtk.Gtk3theme.Arc) packages doesn't work like 'app' packages.
Reason seems to be use of --app flag:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/flatpak.py#L176
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/flatpak.py#L189

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
flatpak

####

[2019-01-12 17:32] Kaydub00 commented on #35645
I'm having the same issue Ansible 2.7.5

Setting dest to an absolute path does not make this work for me.

[2019-01-12 20:23] antonroman opened #50838 "random_mac string filter can generate incorrect MAC addresses for prefixes of length 2 and 4"
##### SUMMARY
ranom_mac filter can generate incorrect MAC addresses when the length of the provided MAC prefix is 2 or 4.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugin filter

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
lubuntu 17.04

##### STEPS TO REPRODUCE
It happens randomly during normal execution of the playbook.

[code]

##### EXPECTED RESULTS

[2019-01-12 22:34] gaudenz commented on #50799
Currently the cloudscale.ch API does not support changing the flavor of an existing server. But there are plans to implement this feature. Afterwards this issue can be resolved.

[2019-01-12 23:59] ju2wheels commented on #48678
I monkey patched the ansible-pull and git changes into 2.6 on my device and ran ansible pull with `--module-args 'depth=1 recursive=no submodule_depth=1 submodule_init=yes'` and it seems to be working as expected for my use case.

I checked the ansible-pull integration and it didnt have tests specific for the ansible-pull GIT CLI args so I didnt add tests for --module-args that would have replaced

[2019-01-13 00:48] nkakouros opened #50839 "gcp_compute_disk does not work with snapshots"
##### SUMMARY

Creating a disk from a snapshot fails with `gcp_compute_instance`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The disk to be created from the snapshot

##### ACTUAL RESULTS

In my case, I tried to use the creat

[2019-01-13 03:59] RodneyMarable opened #50840 "Add support for AWS FSX for Lustre"
##### SUMMARY
Please add support for AWS FSX for Lustre (https://aws.amazon.com/fsx/lustre/).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Two new modules should be created:

fsx_lustre (create and maintain FSX_Lustre file systems)
fsx_lustre_facts (obtain information about existing FSX_Lustre file systems)

##### ADDITIONAL INFORMATION

"fsx_lustre" and "fsx_lustre_facts" should provide

[2019-01-13 06:51] Akasurde commented on #50838
!component =lib/ansible/plugins/filter/core.py

[2019-01-13 08:27] ericzolf opened #50842 "meta clear_host_errors not clearing host errors within rescue section"
##### SUMMARY

Even with a `meta: clear_host_errors` task in the rescue section of a block, the host impacted is still being marked as failed, which is the contrary of what I'd expect.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

meta

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I don't think anything is specifically relevant.

##### STEPS TO REPR

[2019-01-13 11:41] ssbarnea opened #50843 "package module fails to remove package using tools file-path on dnf systems (fedora 28+))"
##### SUMMARY
When working with yum/dnf it is common to use tool-paths in order to install or remove a specific tool because the RPM package providing the tool can vary a lot between various distributions.

Example: "tox" utility which is provided via python2-tox on centos 7 and python3-tox on fedora 28+.

`yum install /usr/bin/tox` or `dnf install /usr/bin/tox` works very well. Also removal works

[2019-01-13 12:03] KostyaEsmukov commented on #15661
`stdout_callback = actionable` is marked as deprecated in [the docs](https://docs.ansible.com/ansible/latest/plugins/callback/actionable.html).

Apparently the current way of doing this is the following ansible.cfg snippet:
[code]

This also allows to use a different `stdout_callback`, such as `yaml`, which expands newlines in the output (e.g. stdout/stderr) to a human-readable text.

[code]

[2019-01-13 12:06] ssbarnea commented on #40030
Any chance to make this happen? I would say that in lots of cases is perfectly normal to have empty groups.

Maybe the best place to implement the allow_empty would be at the lines that can trigger it. If the settings would be global or at group definition, there is the risk of missing to spot places where empty group is not expected.

Maybe a jinja2 filer like `hosts: emptygroup|allow_empty_group

[2019-01-13 13:08] agowa opened #50844 "Regression hostname module ArchLinux, Alpine, Devuan, ..."
##### SUMMARY
The issue #8653 is back. The hostname module refuses to work on Arch Linux.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hostname module
lib/ansible/module_utils/common/sys_info.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no output

##### OS / ENVIRONMENT

Affected:
 - Arch Linux
 - Alpine Linux
 - Probably also devuan

##### STEPS TO REPRODUCE

[code]

##### EXPE

[2019-01-13 18:34] agowa338 commented on #50844
!component lib/ansible/module_utils/common/sys_info.py
Line 35

[2019-01-13 19:00] snemir2 commented on #42532
+1 on the issue.
so, i have code that has been working for long while on ansible 2.5.5.  It broke ever since, i just tested on ansible 2.7.5.   So put_bucket_policy fails on buckets in eu-west-2 and ap-southeast-1 regions (but works in us-east-1 still ) .      Thoughts?

[2019-01-13 19:39] snemir2 commented on #42532
task path: /Users/snemirovsky/ansible-code/roles/provision/AWS/S3/S3_config_repo_bucket_create/tasks/main.yml:79
File lookup using /Users/snemirovsky/REPOS/linux_admin_repo/AWS/policies/templates/S3_policy.json.j2 as file
<127.0.0.1> ESTABLISH LOCAL CONNECTION FOR USER: snemirovsky
<127.0.0.1> EXEC /bin/sh -c 'echo ~snemirovsky && sleep 0'
<127.0.0.1> EXEC /bin/sh -c '( umask 77 && mkdir -p "` ech

[2019-01-13 22:46] UnitedMarsupials commented on #46829
@ptux, thanks for the offer, but this is not a request for help. This is a _feature request_ -- for the core functionality, rather than a particular module (`get_url` was just an example): when a task fails, but has `retries` remaining, report the failure with the same level of detail as would be used for the final attempt.

[2019-01-13 22:49] jbemmel commented on #36519
I have a use case for delegated wait_for: When the target is only reachable through a bastion host and not directly from the Ansible control host, the reachability check should be executed remotely

[2019-01-13 23:12] dagwieers commented on #36519
@jbemmel **wait_for** is a (remote) module, so it should work fine with **delegate_to:**. I am not sure why you bring up a reachability check, as **wait_for** doesn't have such a thing AFAIK.

[2019-01-14 00:39] Zoulf666 opened #50849 "Error for Ansible manage HUAWEI switchs(S5700 series) r"
##### SUMMARY

Error for Ansible manage HUAWEI switchs(S5700 series)
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible ping
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.8 (Santiago) , HUAWEI S5700 switch.
##### STEPS TO REPRODUCE

first, I create a ssh account in the switch,
and then when I use ansible mana

[2019-01-14 01:37] lingxiankong commented on #49954
i am also affected with the same error.

[code]

[2019-01-14 02:43] joshdcox commented on #50009
Same issue in Cumulus Linux. There error might be in this line:

https://github.com/ansible/ansible/blob/ffd1590a633d6cfc5e32354f708d01765276770e/lib/ansible/module_utils/facts/system/distribution.py#L379

This `name` is always "CumulusLinux" here. The condition never passes, and anything that reaches this point is assumed to be Clear Linux. Perhaps it should be `if "clearlinux" not in data.lower(

[2019-01-14 03:05] Manarinni commented on #19605
Thanks, it works now

[2019-01-14 06:57] traittinen commented on #47082
@caphrim007 any estimation in which version this could be implemented? Would it be better to file the issue at F5Networks/f5-ansible?

I did a bit more digging and maybe a new "ha" subset should be created for HA information instead of adding failover state info in some existing subset. At least the following information would be interesting:

**https://{}/mgmt/tm/shared/bigip-failover-state**
isE

[2019-01-14 07:17] CNoetzel commented on #30754
I had the same issue a few days ago. My resolution was the following.

1. Login to remote machine
2. Run `sudo apt update`
3. Look for a message like `Err:15 http://dl.yarnpkg.com/debian stable Release.gpg
  The following signatures couldn't be verified because the public key is not available: NO_PUBKEY 4F77679369475BAA`
4. Add key `sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 4F7

[2019-01-14 09:00] Fred-sun commented on #50443
@itamary Are you still here? could you help re-check according by above the comments? Thanks!

[2019-01-14 09:01] dnuka commented on #47108
#50854 : folks, this is my first attempt to solve this issue \o/

[2019-01-14 11:00] #50654 closed, assigned to nobody

[2019-01-14 11:22] viralpoetry opened #50863 "Copy module does not validate when using content instead of src"
##### SUMMARY
Copy module is trying to validate empty string when rendering destination file from `content` variable instead of just copying files.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 x64
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

`validate` command should pass if

[2019-01-14 11:35] abeluck commented on #19280
Is it necessary to have the warning?

[code]

In my opinion, it is unnecessary and creates extra critical output when in fact the timezone was changed successfully.  Do users of this module really care what the underlying implementation is?

[2019-01-14 11:56] markuman commented on #32003
@SpamapS any progress here? do you need help?

[2019-01-14 12:13] agowa338 commented on #50765
@ahmadgb can you verify the PR?

[2019-01-14 13:01] mateusz5 commented on #50604
Looks like problem is limited to "ip" type of data_group ("integer" or "string" are OK)

[2019-01-14 13:11] ragingpastry commented on #16941
I would like to request that this be reopened.

The specific issue is here: https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/network/linux.py#L257

As was described previously is this ticket, the version of 'ip' installed in Alpine linux is older than the version that Ansible expects. The 'primary' syntax is not supported on the alpine version of ip and it will simply n

[2019-01-14 13:20] keitalbame commented on #27158
This would be very useful for me. I'm looking for a way of deleting specific lists of dictionaries on yaml files.
In the case below, I would like to be able to delete the list entry with id **user**
[code]

[2019-01-14 13:30] ragingpastry opened #50871 "Setup Module fails to gather ip address when using busybox ip tool"
##### SUMMARY
The setup module silently fails to gather the ip addresses of interfaces when run in Alpine Linux.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup module
Specifically this
https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/network/linux.py

##### ANSIBLE VERSION

Note: This issue also occurs on devel, and latest packages in Pip.
[code]

##### CONF

[2019-01-14 13:38] jacekn2 commented on #23786
if you have

1
11
111

and you need delete only "1" try use regexp: '^1[\s]' if u use regexp: '^1\s' this dont work

  - name: some test
    lineinfile:
      dest: /test.conf
      regexp: '^1[\s]'
      state: absent

[2019-01-14 13:41] benwsapp commented on #50529
@kylix3511 we got this working in AWX by setting up a custom virtual environment, like [here](https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md) so you have the proper pip dependencies installed, and by setting the "ansible_python_interpreter" with an extra var in the job template in AWX. then, locally just setting the "ansible_python_interpreter as global group_var to "ansible_

[2019-01-14 13:52] tlofreso commented on #50772
FYI, grabbed everything, built the venv (python 2), here's the most recent full traceback:

[code]

[2019-01-14 13:59] mkrizek commented on #37512
Closing as per above.

[2019-01-14 13:59] #37512 closed, assigned to nobody

[2019-01-14 14:01] DAgostinoLucas opened #50874 "k8s module does not recognize deploymentConfig resource: the server could not find the requested resource"
##### SUMMARY

I tried to launch a deploymentConfig with the newest version of Ansible (2.7.5) and [k8s module](https://docs.ansible.com/ansible/latest/modules/k8s_module.html). It failed while the old [openshift_raw module ](https://docs.ansible.com/ansible/2.5/modules/openshift_raw_module.html)(which seemed merge like k8s_raw since 2.6 version) works fine with the same template.

**Seems related

[2019-01-14 14:05] Akasurde commented on #50130
!component =lib/ansible/modules/network/nxos/nxos_facts.py

[2019-01-14 14:11] gundalow commented on #15802
Hi,
Thank you for the discussion and suggestion in https://github.com/openium/ansible/commit/b72eceffd915e135b2ca5175449270a94aa3a4ba

Unfortunately, this is more complex than it first might seem. It is OK to have a role with zero tasks, for example on that just contains vars. See the longer discussion in https://github.com/ansible/ansible/pull/26851

Therefore closing for the same reasons as in h

[2019-01-14 14:11] #15802 closed, assigned to nobody

[2019-01-14 14:14] DAgostinoLucas commented on #50874
**Updates/Correction**: my deploymentConfig is pushed up to Ansible 2.5.14, and not only 2.5.1 (juste one version after 2.6, which seems a bit logical in fact).

[2019-01-14 14:15] Akasurde commented on #23311
@Pietia10 I am not able to reproduce this. Could you please try on latest Ansible version and let us know if it works for you ?

[code]

Console
[code]

needs_info

[2019-01-14 14:19] fabianvf commented on #50874
Hmm, this seems like it might be an issue with not properly retrieving the resources from /oapi (in later versions of openshift, /oapi is deprecated in favor of custom group/versions). If you downgrade your version of the openshift Python client to 0.7.x (or 0.6.x if that doesn't work), does it work?

[2019-01-14 14:24] tcraxs opened #50877 "add support to postgresql_privs to use "FOR { ROLE | USER } target_role" in "ALTER DEFAULT PRIVILEGES""
##### SUMMARY
ATM only a workaround (See https://github.com/ansible/ansible/pull/32987#issuecomment-451026860) exists to use the [[ FOR { ROLE | USER } target_role [, ...] ]](https://www.postgresql.org/docs/current/sql-alterdefaultprivileges.html).
I like to see a new parameter **target_roles** like the roles parameter to configure the **target_role** in the default privilege context.
If you don't

[2019-01-14 14:28] #23311 closed, assigned to nobody

[2019-01-14 14:49] addbernat commented on #41500
Hi, I have a question.

When you mention "{{ ansible_hostname }}" in gate all snapshots, how you make the task that resolves this variable?

All the rest works perfect. Thanks!

[2019-01-14 15:24] ericx opened #50879 "ios_user take more than one ssh key"
##### SUMMARY

Allow submission of more than one ssh key per user.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ios_user

##### ADDITIONAL INFORMATION

Each workstation for a user should have a separate ssh key in order to allow revocation in the event of the machine's loss or compromise. Unfortunately standard IOS only allows a maximum of 2 keys, nonetheless, the ios_user module only a

[2019-01-14 15:25] ericx opened #50880 "ios_users parameter password_hashed"
##### SUMMARY
Allow use of hashed passwords when creating users.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ios_user

##### ADDITIONAL INFORMATION

Currently IOS_user requires that a password be provided in clear-text. This is problematic because those clear-text passwords need to be stored somewhere available for the script. Instead, hash strings (e.g. "5 $1$5wiD$8Ss.VaErWyarnyTkDv8Bm

[2019-01-14 15:38] ganeshrn commented on #50772
@jmighion @tlofreso On devel branch recently the backup related code is refactored to consolidate the backup and src option handling at one place. Please refer PR #50248 and PR #50301

Also, PR #50801 which is in review state further refactors backup config logic to reuse `copy` module and also adds more feature to backup option.

@tlofreso Can you please retest with the patch in PR #50801 and che

[2019-01-14 15:42] CSimpiFoN opened #50881 "Ansible NIOS Module Failure"
##### SUMMARY
Module fails during record creation to Infoblox

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nios_host_record

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]
##### STEPS TO REPRODUCE

Create a playbook to add Infoblox DNS records
Try to run it

[code]

##### EXPECTED RESULTS

A host record to be created in Infoblox

##### ACTUAL RESU

[2019-01-14 16:15] justjais commented on #50881
@CSimpiFoN Thanks for raising the bug, but for triaging the issue need to get some more information:

**1st:** You have called `nios_host_record` module in the play, but in the description you have mentioned that DNS record creation fails with `NoneType` exception, so I hope that's typo.
**2nd:** Can you please specify the actual `{{ inventory_hostname }}` name and actual `{{ ip }}` ip value that

[2019-01-14 16:20] lucakuendig commented on #50656
I am facing the same issue.
Same Playbook woked just fine with ansible 2.4.2

ansible 2.7.5
  config file = /etc/ansible/ansible-configuration-management/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python

[2019-01-14 16:20] #50752 closed, assigned to Akasurde

[2019-01-14 16:38] kladiv commented on #24425
+1

[2019-01-14 16:38] CSimpiFoN commented on #50881
Oh I understand 1st now. To create a host record would be fine by the module. I realized that there is a nios_a_record too. I expected a Host record to be created in Infoblox.

[2019-01-14 17:05] JRitterFB opened #50889 "Upgrading from Ansible 2.7.2 to 2.7.5 causes failures with Windows targets"
##### SUMMARY

After upgrading to Ansible 2.7.5, certain playbooks that interface with Windows servers no longer work. Rolling back to Ansible 2.7.2 restores functionality. There does not seem to be a single module that fails, but rather the first module that is called on the Windows server will always fail (including gather facts).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_file

#

[2019-01-14 17:07] briankoch709 commented on #44960
I'm really new to Ansible. Where did you put these variables? Which version are you running?

[2019-01-14 17:09] tlofreso commented on #50772
@ganeshrn PR #50801 fixes the issue I was encountering.
@jmighion thank you for the info on devel venv setup.
[code]

[2019-01-14 17:22] gravitypaint opened #50890 "Invalid input when management interface starts with upper case letter"
##### SUMMARY
When we upgraded ansible from 2.5.6 to 2.7.5 our host variables for management interfaces on switches stopped working as expected
If the management interface name started with a capital the job would fail with the following error

```"msg": "Invalid input (at token 1: 'forwarding')"```

where forwarding precedes a variable in a jinja2 template file.

When we changed the management in

[2019-01-14 17:31] masterkorp commented on #50009
Same issue on `Photon OS`  is stated on `/etc/os-release`
[code]

[2019-01-14 17:53] nicholasrodriguez commented on #50299
@sivel thanks for looking into this, hopefully you are able to hold of the OVA that @kendrew71 linked to. Building the functionality into this module (if possible) would enable the full end-to-end build of a vSphere infrastructure entriely driven by Ansible. Let me know if I can help with further testing, I have the capability at the moment.

@kendrew71 you mentioned in a previous comment you had

[2019-01-14 17:56] justjais commented on #48697
@nahun Thanks for raising the bug, PR which resolves the issue is merged in devel and queued for `2.8` release.

[2019-01-14 17:56] #48697 closed, assigned to justjais

[2019-01-14 19:07] sivel commented on #50299
I'll try to put something together to perform the InjectOvfEnv step based off of govmomi/pyvmomi-community-samples later this week.

I'll see about downloading VCSA as well so that I can test.

[2019-01-14 20:03] slashbeast commented on #50580
If the `DEFAULT_JINJA2_NATIVE=True` is environment variable, then it's the same result, misrendered files.

My virtualenv dependencies of ansible and it's dependencies:
[code]

[2019-01-14 20:04] MarkusTeufelberger commented on #34054
https://pkgs.org/download/python-cryptography <-- looks like CentOS7 offers 1.7.2.
`docker run --rm centos:7 yum info python2-cryptography` seems to agree.

[2019-01-14 20:07] snemir2 commented on #42532
yet another update -- on 2.7.5, the bucket policy is actually applied, even though "Bucket policy failed to apply in the expected time" error is given.   There is substantial delay whyle this is running(i.e. something is timing out)

It seems like for non us-east-1 buckets, not same  bucket region and api regions are used after version ansible version 2.5.5?
Help would be greatly appretiated on th

[2019-01-14 20:12] kendrew71 commented on #50299
@nicholasrodriguez, I just created a playbook that simplifies the virtualelephant role I linked to earlier. It is just one play with some variables set at the top. I also set the ESXi host as my target so that I pick up the proper vars. Here is the play..

[code]
The only var that may need to be explained is "appliance_type", which is set to "embedded". You could also just leave those properties o

[2019-01-14 20:24] omsai opened #50897 "Using conditional "when: ..." prevents error from "include_role" from stopping playbook"
##### SUMMARY

Using the `when: ...` conditional with "include_role" causes the playbook to ignore errors from "include_role", and using `any_errors_fatal: true` in the playbook also makes no difference.

Commenting out the `when: ...` statement makes the playbook stop on error created by "include_role" as expected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE V

[2019-01-14 20:34] sivel commented on #50897
I believe the only real problem here is that `any_errors_fatal: true` isn't working when `include_role` fails to find the role for a specific host.

Without `any_errors_fatal: true` I expect the output you are seeing, but we should investigate why `any_errors_fatal: true` isn't working.

[2019-01-14 20:38] #49949 closed, assigned to samdoran

[2019-01-14 20:58] jhawkesworth commented on #50889
Hi,
I don't know what could be causing that off the top of my head.

Please can you read through this if you haven't already
https://docs.ansible.com/ansible/latest/user_guide/windows_setup.html#common-winrm-issues

It would be useful to see your connection settings, ie. if you are using ntlm/kerberos/basic auth etc.
Also worth knowing if you have set any of the ansible_winrm variables such as ans

[2019-01-14 21:06] maxamillion commented on #50009
@joshdcox you are correct 👍

[2019-01-14 21:12] felixfontein commented on #34054
In that case, adding a cryptography-based backend to openssl_certificate (similar to #50324 and #49416) would solve the problem. Having a [oscrypto](https://github.com/wbond/oscrypto) backend for openssl_certificate (and the other openssl_* modules) would certainly also be interesting, but I guess a cryptography backend would be easier as that library is more mature. (Also, oscrypto doesn't seem t

[2019-01-14 21:34] samdoran commented on #50587
I am able to duplicate this in Ansible 2.6.1. This is fixed in Ansible >= 2.6.3.

[2019-01-14 21:34] #50587 closed, assigned to nobody

[2019-01-14 21:36] felixfontein commented on #50503
Example for an issue where automatic conversion to `str` did more harm then good: #49802

[2019-01-14 22:14] samdoran commented on #50580
Thank you for testing with native Jinja types enabled. The best way to get around this is to use the `template` module and a template file containing the variable rather `copy` with `content`.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-01-14 22:14] #50580 closed, assigned to nobody

[2019-01-14 22:22] JRitterFB commented on #50889
Thanks for the suggestions. The playbook started working again on its own it seems, without me remedying anything on the controller or target nodes.

[2019-01-14 22:22] #50889 closed, assigned to nobody

[2019-01-14 22:31] jordanhiltunen commented on #22382
Looks good, Andy 👍

[2019-01-14 22:40] radez commented on #50767
+1 PR #50138 Fails properly.
Can this be (or has it been?) backported to 2.6?

Thanks!

[2019-01-14 23:37] davidmnoriega commented on #27124
I'm seeing this in ansible 2.7.5 Using the command module in a loop, assert dumps the entire thing to the screen totally obscuring the success message.

[2019-01-15 00:18] abadger commented on #40740
I've had a chance to look into this.  I think that Ansible is behaving correctly.  state=link is more akin to ln -sf than ln -s.  This is what happens if I use ln -sf with your parameters:
[code]

If ansible did not act like this than anytime you wanted to assert that a link pointed to the correct location you'd first have to delete it and then recreate it (some other interactions of the file comm

[2019-01-15 00:19] logan2211 opened #50905 "junos_command fails with text file config"
##### SUMMARY

A playbook using `junos_command` fails in 2.7 with a new failure that does not occur in 2.5 or 2.6. The error provided is `Unicode strings with encoding declaration are not supported. Please use bytes input or XML fragments without declaration.`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

junos_command

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04 do

[2019-01-15 02:36] evandam commented on #50669
@sivel and @Akasurde, I just submitted #50909 that takes a shot at this. Happy to tweak things as needed.

[2019-01-15 03:07] mamullen13316 opened #50913 "aci_tenant module fails with certificate-based authentication"
##### SUMMARY
Using certificate-based authentication with the aci_tenant module fails with the error:
APIC Error 403: padding check failed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aci_tenant

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Cisco ACI 4.0(1h)

##### STEPS TO REPRODUCE
1. Generate cert and key.
openssl req -new -newkey rsa:1024 -days 36500

[2019-01-15 03:16] Fred-sun commented on #28392
@zikalino Could you help take a look this issue? This is similar with #50652 add function( delete auto create resource).  Could we can add the function when create VM fail?

[2019-01-15 03:16] mamullen13316 commented on #50913
An additional observation is that the error message seems to alternate between "padding check failed" and "block type is not 01".

[code]

[2019-01-15 03:38] mamullen13316 commented on #50913
This was failing on my Mac running Mojave.  I tried again running RHEL 7.4 and it worked fine.  I think it possibly has something to do with the flavor of OpenSSL.   On OSX it is this:
openssl version
LibreSSL 2.6.5

On RHEL it is this:
openssl version
OpenSSL 1.0.2k-fips  26 Jan 2017

In any case,  works on RHEL so closing.

[2019-01-15 03:38] #50913 closed, assigned to nobody

[2019-01-15 03:52] Akasurde commented on #50669
resolved_by_pr #50909

[2019-01-15 05:10] trishnaguha commented on #50130
@achals2 please share the command you are using to run the playbook. Also share the dir structure of the directory you are running the playbook from.

[2019-01-15 05:51] slashbeast commented on #50580
@samdoran could you please elaborate on the reason for closing this issue? Do I understand it right that we have undocummented behavior ov `copy` module when using `content` that will not be fixed? It's not a big problem to use `tempalte` but I am not the first that run into it, and for sure not the last. So, is this issue a `WONTFIX` one?

[2019-01-15 07:48] robertdebock commented on #19779
Same issue using these details:

Ansible controller:
[code]

Managed node: Fedora 28.

Playbook: (reduced to minimal example)
[code]

Results:
[code]

[2019-01-15 08:14] deiwin commented on #42532
@snemir2, can you try the debugging steps given in https://github.com/ansible/ansible/issues/42532#issuecomment-448576636?

[2019-01-15 08:51] yungezz commented on #50443
need_info

[2019-01-15 08:53] yungezz commented on #49771
close the issue now since fix merged, pls get latest vm module from devel branch, or from role: https://github.com/Azure/azure_preview_modules. any other issue met pls create new issue. thanks.

[2019-01-15 08:53] #49771 closed, assigned to nobody

[2019-01-15 08:58] yungezz commented on #48723
https://github.com/ansible/ansible/pull/45128

[2019-01-15 08:58] yungezz commented on #48723
fix merged. close this one.

[2019-01-15 08:58] #48723 closed, assigned to zikalino

[2019-01-15 09:00] yungezz commented on #46537
fix merged, close this one

[2019-01-15 09:00] #46537 closed, assigned to nobody

[2019-01-15 09:04] #45335 closed, assigned to zikalino

[2019-01-15 09:06] Fred-sun commented on #46790
@zikalino It has been fixed by ansible 2.8.0dev, Could we can closed this?

[2019-01-15 09:06] yungezz commented on #42407
fixed by PR https://github.com/ansible/ansible/pull/35592,  close this one.

[2019-01-15 09:06] #42407 closed, assigned to zikalino

[2019-01-15 09:08] yungezz commented on #28392
#https://github.com/ansible/ansible/pull/50652

[2019-01-15 09:13] #38561 closed, assigned to yungezz

[2019-01-15 09:40] Fred-sun commented on #37158
@yungezz @yuwzho This issue has been fixed by ansible 2.8.0devel, Could we can close this issue?

[2019-01-15 09:46] Fred-sun commented on #39958
@zikalino @yungezz This issue seem resolve by #45269, Could we can close this? As #45269 mention new issue, It can be gave a new PR to track the key not exists issue. Could we can deal this issue like this? Thanks!

[2019-01-15 09:47] Fred-sun commented on #41003
@zikalino @yungezz This issue seem resolve by #45269, Could we can close this? As #45269 mention new issue, It can be gave a new PR to track the key not exists issue. Could we can deal this issue like this? Thanks!

[2019-01-15 10:13] ganeshrn opened #50925 "cli_config module fails on eos while taking config backup"
##### SUMMARY

If backup option is only set to true without `config` the task run fails with below error.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Backup file should be created on disk

##### ACTUAL RESULTS

Fails with error:

[code]

[2019-01-15 11:18] #50925 closed, assigned to ganeshrn

[2019-01-15 11:36] nicholasrodriguez commented on #50299
@kendrew71 and @sivel thanks for this.

[2019-01-15 12:08] gdloch commented on #32584
I also have the same issue with this FAILED message. Is there a way to change it?

[2019-01-15 12:36] yungezz commented on #37158
as @Fred-sun shared, generalize vm has added to vm module in devel branch, also available at role https://github.com/Azure/azure_preview_modules.  close the issue for now. pls let us know if you met any other problem.

[2019-01-15 12:36] #37158 closed, assigned to nobody

[2019-01-15 14:54] kosickimi opened #50932 "na_ontap_gather_facts with cDot 9.1 error"
##### SUMMARY
Module na_ontap_gather_facts do not work for me.
For Error message please see point ##### ACTUAL RESULTS.
Maybe it is related to my cdot clustr is 9.1 version.

My playbook is simple:
---  # Asible Netapp
- name: NetApp Sample Playbook
  hosts: localhost
  tasks:
  - name: take facts
    na_ontap_gather_facts:
     state: info
     hostname: "host"
     username: "account"
     passw

[2019-01-15 15:09] abenokraitis commented on #48280
The playbook above is using connection: local, have you tried with connection: network_cli with the latest version of Ansible?

[2019-01-15 15:18] abenokraitis commented on #48680
@jonmod This sounds valid, but the command_parser was not designed to be used in a deconstructed manner, and instead more used as a holistic solution as part of the Network Engine Role (imported only).

[2019-01-15 15:18] #48680 closed, assigned to trishnaguha

[2019-01-15 15:41] flowerysong commented on #50757
Profile names are case sensitive, and your working task has `profile: Profile_name` while your failing task has `profile: profile_name`.

[2019-01-15 15:42] abenokraitis commented on #49192
A new fact sounds like the right approach to limit possible regressions. Let's make this a feature instead of a bug.

[2019-01-15 15:48] samccann commented on #50278
We will need to document whatever the resolution to this issue is.

[2019-01-15 15:52] ChrysRowe commented on #49192
A new fact is fine.

[2019-01-15 16:04] ProudOne commented on #19809
Experiencing this on 2.6.4 when changing the target version from `master` to `some/branch`.

[code]

[code]

[2019-01-15 16:07] samerhaj commented on #47571
@jose-delarosa any update on this one?

[2019-01-15 16:12] emanuele-leopardi-dap commented on #43506
I was able to create Redirect from 80 to 443 with the following code:

[code]

[code]

the catch here is to pass the whole object completely described to the module.
Hope this helps others.

[2019-01-15 16:13] samerhaj commented on #49832
@jose-delarosa any update on this one?

[2019-01-15 16:47] xmadsen opened #50937 "GetPsuInventory does not return the correct output"
##### SUMMARY

GetPsuInventory only returns a list containing multiple strings that say "Power" on a Lenovo ThinkSystem SR650.

The issue appears to be in redfish_utils, get_psu_inventory(), which looks for the 'PoweredBy' key in ComputerSystem links, and that link is a collection of JSON pointers to individual PowerSupplies array members in the Power resource. The get_request() on that JSON point

[2019-01-15 16:58] sivel commented on #50299
Ok, here is round 2:

https://gist.github.com/sivel/8f50a0e468504ba83d7f6cb032bacc9c

I don't think `enable_hidden_properties` is required, but I could be wrong, if you could please test and let me know if things are working that would be great.  The new argument is `inject_ovf_env`.

Based on my minimal testing ssh is enabled when setting:

[code]

needs_info

[2019-01-15 16:58] jose-delarosa commented on #47571
No updates. A few weeks ago we created a new process to implement OEM-specific extensions, this would be a good candidate for that. What do you think @billdodd ?

[2019-01-15 17:02] samdoran commented on #50580
What is happening is rather complex, as [explained here](
https://github.com/ansible/ansible/issues/34595#issuecomment-356091161). Fixing this is not something we plan to do since it is better to use the `template` module.

It is somewhat documented in the copy module docs, but we could further clarify that `content` should be avoided if it contains a variable. From the `copy` module docs:

[2019-01-15 17:11] samerhaj commented on #49832
I do not think this is a good candidate. The *only* OEM dependency here is the interpretation of the Id property to perform filtering on the inventory list. Can the code be changed to use the other standard properties for filtering, or even better, no filtering at all? This will avoid moving the entire code to an OEM section and leaving the standard implementation behind.

[2019-01-15 17:21] geerlingguy commented on #26190
Just giving another thumbs up on this; something like the `yq` solution above works okay and can be scripted, but having the functionality be part of `ansible-vault` itself would make management and re-keys so much simpler, and require one fewer dependency.

[2019-01-15 17:40] flatline-studios commented on #19605
This seems to have issues with [pyenv](https://github.com/pyenv/pyenv) `pyenv global <version>`.

It should shim it, but I'm guessing that Ansible is hard coded to look at `/usr/bin/python`, as opposed to just using the `python` command?

If so, is this ever likely to change?

[2019-01-15 17:40] maxamillion commented on #50237
@pghmcfc the changed worked in my testing against a Fedora 29 host, are you seeing different behavior?

[2019-01-15 17:44] sivel commented on #19605
No, it is not.

You would need to explicitly set `ansible_python_interpreter` to a python interpreter if you want to use something other than `/usr/bin/python`.

Which in the case of `pyenv` would likely just be the path to the shim (`which python3.6`) or to the real binary (`pyenv which python3.6`).  Note, in many circumstances, you need to hard code that and cannot use shell expansion.

[2019-01-15 17:59] mjw-pp opened #50943 "File module state:touch fails for a non-owner unprivileged user"
##### SUMMARY

The file module's `state:touch` no longer succeeds for an unprivileged user who doesn't own the file being touched.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
file module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
(unchanged from default)

##### OS / ENVIRONMENT
Debian stretch amd64

##### STEPS TO REPRODUCE

[code]

Then run the following playbook:

[code]

[2019-01-15 19:31] abedwardsw opened #50946 "ignore_unreachable still runs"
##### SUMMARY
When making use of the "ignore_unreachable" the following behavior is observed which I think maybe is incorrect:
1. If your task is a "debug" task, this task still runs on the "unreachable" host.  In my opinion this task should be skipped
2. If you use variables such as ansible_date_time.iso8601 in your task, the playbook will fail for the unreachable_hosts instead of being skipped

[2019-01-15 19:38] billdodd commented on #47571
Seems like this one may need a hybrid fix. By that, I mean that in the standard impl we can retrieve the `BootOptionCollection` (if present) and @mraineri mentions above. And then vendors can also add OEM-specific commands if needed to retrieve non-standard info from the BIOS (or wherever).

That raises a question in my mind: For the standard impl, if we use the `BootOptionCollection`, should the

[2019-01-15 19:42] gamuniz opened #50947 "User module not respecting local: True configuration"
##### SUMMARY

If a system is configured to use external authentication i.e SSSD/ldap local: True isn't respected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

user.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL7/CentOS7
##### STEPS TO REPRODUCE
1. Configure ldap server creating testuser
2. point remote server at LDAP using SSSD
3. run the belo

[2019-01-15 19:46] billdodd commented on #49832
Agreed. I think this one can just be tweaked as described to just show standard props from the listed firmware. I'll work on that.

[2019-01-15 19:57] gamuniz commented on #50947
configuration for sssd:

[code]

[2019-01-15 20:00] sivel commented on #50668
!component =lib/ansible/modules/clustering/k8s/_k8s_raw.py
!component +lib/ansible/modules/clustering/k8s/_kubernetes.py

[2019-01-15 20:03] sivel commented on #50800
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-01-15 20:03] #50800 closed, assigned to nobody

[2019-01-15 20:07] sivel commented on #50601
!component =lib/ansible/modules/windows/setup.ps1

[2019-01-15 20:11] sivel commented on #50603
This is expected, that most editors will not be able to display, if displaying in the terminal and without a tty.

A pre-check could be added to see if we have a tty, before launching editor.  However, we would need to handle the case that the editor does not display in the terminal and is a true gui app.  We wouldn't want to fail on those cases, so we may need some form of config toggle to enable

[2019-01-15 20:15] sivel commented on #50638
The default behavior of the `file` module is to follow symlinks.  I believe the behavior you are described is expected, unless you set `follow: false`.

Please validate that `follow: false` resolves your issue.

needs_info

[2019-01-15 20:18] jctanner commented on #50646
Please follow along with this https://tannerjc.net/wiki/index.php?title=Ansible_Hangs_Filament guide and determine what the module is hanging on.

needs_info

[2019-01-15 20:19] sivel commented on #50692
!component =lib/ansible/modules/system/make.py

[2019-01-15 20:20] #50556 closed, assigned to s-hertel

[2019-01-15 20:20] hineze opened #50949 "Duplicate role execution when using role dependencies"
##### SUMMARY
I opening a new issue because I'm encountering the same issue mentioned in the following ticket: [](https://github.com/ansible/ansible/issues/22169)

I read through the above ticket thread and noticed someone mentioned the issue only crops up when using the new `include_roles` syntax with role dependencies which use the old role syntax.

What is happening is that an already executed

[2019-01-15 20:23] bcoca commented on #50708
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-01-15 20:23] #50708 closed, assigned to nobody

[2019-01-15 20:24] jdoss commented on #50237
It's not working on my end either @maxamillion

Apply the patch to version lock:

[code]

[code]

Target server:
[code]

Ansible controller:

[code]

[2019-01-15 20:36] hineze commented on #50949
Just wanted to add that I just confirmed that using the old role syntax avoids my issues above, but only if I call the roles in the same play:

Playbook:
[code]

Output:
[code]

It still fails with the old syntax if I call each role individually:

Playbook:
[code]

Output:
[code]

[2019-01-15 20:44] ssbarnea opened #50951 "docker_container: Error creating container: 400 Client Error: Bad Request ("No command specified")"
##### SUMMARY
docker_container module fail with fedora images when command is not mentioned, giving a:
[code]

Same does not happen with other images like 'centos:7' and I was not able to replicate the problem using the images without ansible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
An

[2019-01-15 20:45] sumkincpp commented on #50714
I observerd similar behaviours on CentOS7.
In my findings you need to use only one of the ansible install methods(either virtual environment with --system-site-packages or system packaged ansible) otherwise environments got messy with different binaries available from the path.

[2019-01-15 20:55] sivel commented on #50840
!component =lib/ansible/modules/cloud/amazon/fsx_lustre.py

[2019-01-15 20:57] felixfontein commented on #50951
This is a problem with the image; the same happens with docker CLI:
[code]

notabug

[2019-01-15 20:59] samdoran commented on #50805
It makes sense that this does not work because `hostvars` is an object, not a dictionary of templated values. What you are actually getting  from `{{ localhost_hostvars.baz }}` is the property of the `hostvars` object, not the templated value of the the variables.

The `vars` lookup plugin may be a better way to get the values that you want.

What is the use case for copying `hostvars` to a play l

[2019-01-15 21:00] jhawkesworth commented on #50688
@jborean93 There's a group policy "Do not forcefully unload the user registry at user logoff" on S2012R2 at Local Computer Policy > Computer Configuration > Administrative Templates > System > User Profiles which sounds like it might be related to this, so possibly this behaviour changed after 2008?

[2019-01-15 21:02] ssbarnea commented on #50951
This should be moved to https://github.com/fedora-cloud/docker-brew-fedora/issues if someone has permissiong, github allows us to move issues now.

[2019-01-15 21:07] ssbarnea commented on #50951
Thanks for the update, closing now as I raised it to fedora team, hopping to get the image fixed.

[2019-01-15 21:07] #50951 closed, assigned to nobody

[2019-01-15 21:08] sivel commented on #50849
Duplicate of https://github.com/ansible/ansible/issues/50789

[2019-01-15 21:08] #50849 closed, assigned to nobody

[2019-01-15 21:10] kluisi commented on #50276
Thank you very much @sivel . I re-factored my dependencies to list all of them in the playbook's requirements.yml and everything is working now.

[2019-01-15 21:14] sivel commented on #50877
!component =lib/ansible/modules/database/postgresql/postgresql_privs.py

[2019-01-15 21:22] radez commented on #50767
I've tested PR #50952 on ansible 2.6 and I get the same results I get with #50138 on 2.7.

[2019-01-15 21:32] aink99 opened #50953 "Fetch use slurp when using a inventory directory and caused OSS memory error"
##### SUMMARY

Fetch  use slurp depending on the inventory file

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Module fetch

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Oracle Linux Server release 7.5
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should  fetch the  file , if you specify a single inventory file, it works and it doe not use

[2019-01-15 21:44] samdoran commented on #50503
In the [Public Core Meeting on 2019-01-15 ](https://meetbot.fedoraproject.org/ansible-meeting/2019-01-15/ansible_core_public_irc_meeting.2019-01-15-19.01.html), we decided to add a global config option that will warn by default on values that are being converted to strings and suggest they be quoted to avoid side effects from transformation.

[2019-01-15 21:51] sbonds commented on #45834
As others have said, this appears to be caused by a failure within the VMware tools Guest Customization. However there are two issues with this:

1. Ansible thinks the deployment succeeded when it actually failed
2. Finding out why the guest customization failed is really tricky

I can help with the second one by describing what I did to track down a very similar issue.

The process I used:

1. En

[2019-01-15 21:54] #50949 closed, assigned to nobody

[2019-01-15 22:09] richlv opened #50955 "nightly rpms signed by an unknown key"
##### SUMMARY
While releases are signed with a key that is available at releases.ansible.com, nightlies seem to be signed with an unknown key.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
RPM packages

##### ANSIBLE VERSION
devel

##### CONFIGURATION
Not relevant.

##### OS / ENVIRONMENT
RHEL

##### STEPS TO REPRODUCE
Install the key from https://releases.ansible.com/keys/ , then attempt t

[2019-01-15 22:39] hineze commented on #50949
ok, I just tried `allow_duplicates: false`:

Playbook:
[code]
Output:
[code]

As you can see it still ran role1 twice

[2019-01-15 22:56] cfiske commented on #48398
Is this the same as #48399? That one seems to be about suspending other hosts' tasks during `rescue`.

If I read it correctly (and I am looking for the same thing myself), OP is requesting that if a `rescue` is triggered (and executes successfully), the task it was rescuing should be able to be re-executed.

Consider:
[code]
It would be nice to have an option to retry the block after rescue so we

[2019-01-15 23:15] richlv commented on #50955
#16871 also talks about signing, but that seems to be about github releases, not RPMs.

[2019-01-15 23:29] #50953 closed, assigned to nobody

[2019-01-15 23:31] bcoca commented on #50946
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `ignore_unreachable` does exactly what we would expect, ignore the `unreachable` status of a host and attempt to execute subsequent

[2019-01-15 23:31] #50946 closed, assigned to nobody

[2019-01-15 23:35] bcoca commented on #50842
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

When you enter the `rescue` section of a block a host does not have an error state, so ANY successful task there will continue running

[2019-01-15 23:35] #50842 closed, assigned to nobody

[2019-01-15 23:38] cfiske opened #50956 "Re-run failed tasks after rescue"
##### SUMMARY
If a rescue is triggered (and executes successfully), the block/task it was rescuing should be able to be re-executed.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Ansible Block/Rescue

##### ADDITIONAL INFORMATION
It would be nice to have an option to retry the block after rescue so we avoid coping the block tasks into the rescue section (DRY).

Note that this is distinct

[2019-01-15 23:38] bcoca commented on #50863
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The error you are getting is from the validation, it is indicating you are NOT providing a valid configuration file since `data_dir` is

[2019-01-15 23:38] #50863 closed, assigned to nobody

[2019-01-15 23:43] bcoca commented on #50720
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because dependencies should not be trivially bypassed.
For 'testing' it is easy enough to just comment the line out. Another option is to use includ_role and tags to more effectively control the execution.

However, we're absolu

[2019-01-15 23:43] #50720 closed, assigned to nobody

[2019-01-15 23:46] bcoca commented on #50725
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The 'actionless' `file` module was intended to return 'current state information' to the user, this was before we had a stat module and

[2019-01-15 23:46] #50725 closed, assigned to nobody

[2019-01-15 23:51] bcoca commented on #50789
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, the `ping` module is

[2019-01-15 23:51] #50789 closed, assigned to nobody

[2019-01-15 23:52] aink99 commented on #50953
Well ok , become is set to no so slurp should not be used. Will try your suggestion thanks.

[2019-01-15 23:52] FragmentedPacket commented on #50704
It will start to pull `config-context` by default once Netbox maintainers submit a PR into Netbox for the following issue which should resolve the issue we're seeing with the OS error above:
https://github.com/digitalocean/netbox/issues/2350

[2019-01-16 00:00] bcoca commented on #50822
The service module treats openrc much like init scripts, it cannot fully rely on return codes of these as they tend to be misleading so we also end up parsing the return text, which is fragile. As much as openrc does the 'right thing' the scripts it calls may not and we had to deal with those cases. Gentoo packagers are particularly good about the quality, standards adherence and behaviour of the

[2019-01-16 00:13] cfiske commented on #50956
(edited original post with a better example and more info)

[2019-01-16 00:49] mikebranstein commented on #39958
@Fred-sun I've seen this behavior when a VM exists that has a managed data disk of Standard SSD. It seems that Standard SSD is not an option within Ansible, but Standard LRS and Premium SSD are valid. I've also encountered this exact issue with the azure_rm_virtualmachine_facts preview module. When I run that module against a resource group with a VM with a managed Standard SSD data disk, the modu

[2019-01-16 00:52] jborean93 commented on #50688
@jhawkesworth thanks for the info, unfortunately that doesn't seem to be the case. There's a handle that is being kept open somewhere which stops the profile from being unloaded but I'm not sure what it is.

[2019-01-16 01:41] Fred-sun commented on #39958
@mikebranstein Thanks for you pay attention on Ansible. Standard SSD option has been add by PR #46676  on recently day, it has been merged.  Thanks!

[2019-01-16 02:18] kbreit opened #50962 "meraki_device should allow updating a device's notes"
##### SUMMARY
Meraki added support for adding notes to a device. Ansible should support that.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki_device

[2019-01-16 02:59] Fred-sun commented on #44815
@andyeff Thanks for you pay attention on ansible, I have tested on the latest ansilble 2.7.5, not meet any error. Could you can upgrade your ansible to retry? you can upgrade ansible by "sudo pip install ansible[azure] --upgrade" , If you have any problem, Please let us know.  Thanks!

[2019-01-16 03:57] #47065 closed, assigned to nobody

[2019-01-16 04:07] danmanners opened #50963 "URI Module is malforming JSON bodies with PEM formatted PKI"
##### SUMMARY

I'm attempting to use the URI module, as I have many times before, to post JSON to one of my Hashicorp Vault instances. It appears as though the URI module is now sending malformed data and is manipulating it somehow before it is sent. If I send the same JSON blob from curl (shown below), it works just fine.

Experiencing this issue in multiple versions of ansible and on multiple op

[2019-01-16 04:09] Patelvijaykumar commented on #34219
I have faced the same issue " 'dict object' has no attribute"

RCA:- newly added templated reference was not added in default main.yml

now problem resolved.

[2019-01-16 05:30] jborean93 commented on #50943
Thanks for the bug report @mjw-pp, the PR https://github.com/ansible/ansible/pull/43230 changed this behaviour from using `None` to a tuple of the current timestamp which is causing the issue. I've opened https://github.com/ansible/ansible/pull/50964 to add the old behaviour back in while preserving the new functionality. It would be great if you could test it out and comment your results there.

[2019-01-16 05:39] willthames commented on #50757
Can you have a look at https://github.com/ansible/ansible/issues/44330#issuecomment-422468259 and see if you're in the same situation?

[2019-01-16 05:51] kendrew71 commented on #47769
What version introduces this? I'm using 2.7.5, and fetch_ssl_thumbprint doesn't seem to be implemented.

[2019-01-16 05:58] therealbill commented on #50725
To be fair, I didn't call it a bug either. ;)

Now that said, just be clear, the intended result in that case is an ansible error rather than returning a 'state' of non-existent? In that case, feel free consider it a documentation request so the intention is explicitly stated.

[2019-01-16 06:06] ElijahLynn commented on #28674
I just had this issue where I was using bash comments in an Ansible task. Removing the `'` from one of my comments resolved the issue. Don't know how I would have figured it out without this issue! Thanks!

[2019-01-16 07:05] Fred-sun commented on #46313
@zikalino Could you help take a look this issue? Thanks!

[2019-01-16 07:08] AngelFreak commented on #45602
Sure i will try it out.

[2019-01-16 07:11] justjais commented on #50881
@CSimpiFoN I am unable to reproduce with the scenario you have mentioned in the description, so can you please run the play again by enabling the verbose output by mentioning `-vvvv` as: `ansible-playbook test_host_record.yaml -vvvv` and paste the complete verbose output again to triage the issue. Thanks

[2019-01-16 07:16] Fred-sun commented on #48415
@zikalino

[2019-01-16 07:19] DhruvBansal86 opened #50967 "unable to resolve inventory_hostname via azure dynamic inventory on windows deployment execution"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-01-16 07:44] trishnaguha commented on #50626
resolved_by_pr https://github.com/ansible/ansible/pull/50965

[2019-01-16 07:51] chopraaa commented on #50333
@sivel Is the security really required?

Passing `user:password` exists to bypass the said security requirement, allowing usage of tokens instead of actual usernames and passwords.

Perhaps a warning could be displayed when a user supplies the username and password in plaintext?

[2019-01-16 07:57] frsauvage opened #50969 "redfish_facts fails on GetSystemInventory"
##### SUMMARY
In redfish_facts, the Systems command GetSystemInventory fails on a Ubuntu 18, as it seems that the port (or the http protocol) is not expected ?
Is it possible to force redfish_facts through **http** ??

-     A proxy is defined (through no_proxy in my case,  http_proxy and https_proxy environment variable in my case)
-     The target url is NOT secure i.e. uses http://
-     NO Cer

[2019-01-16 08:14] SubOptimal commented on #19998
@eyekelly Maybe you are not using the right Ansible version. `wait_for_connection:` came in Ansible 2.3.

btw. This is not a support forum. This thread is to discuss an new feature.

Your question would be better to ask on specialized Q&A forums. If you have problems to use this feature.

[2019-01-16 08:15] trishnaguha commented on #50626
@BDworak The PR https://github.com/ansible/ansible/pull/50965 fixes the issue.

There is no need to use set_fact to set ansible specific variables.

If you want to pass it in playbook, the method is as follows:
[code]
Or if you want to pass it with extra vars, the method is:
[code]

`ANSIBLE_PERSISTENT_CONNECT_TIMEOUT` or `ANSIBLE_PERSISTEN_COMMAND_TIMEOUT` are used if you want to set the variable

[2019-01-16 08:19] kloeffler opened #50970 "gce_mig string to int in cool_down_period fails"
##### SUMMARY
When using variables for setting the numbers for cool_down_period, min_instances and max_instances you get a type error "msg": "cool_down_period must be of type: <type 'int'>".
Not using variables but the actual numbers will result in proper creation of the managed instance group.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gce_mig

##### ANSIBLE VERSION
[code]

##### CONFIG

[2019-01-16 08:21] justjais commented on #50350
@santhosh1vaddi any update on this issue?

[2019-01-16 08:33] Fred-sun commented on #47696
@zikalino

[2019-01-16 08:40] ckotte commented on #47769
PR #46225

[2019-01-16 08:41] kloeffler opened #50972 "gce: Add autoheal functionality"
##### SUMMARY
Improve managed instance group creation in google cloud by adding autoheal functionality.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gce_mig

##### ADDITIONAL INFORMATION
Currently if you define managed instance groups in the google cloud, it offers autoheal which will be used to replace instances in that group that fail the health check (repeatedly).
This is possible bei

[2019-01-16 10:01] justjais commented on #50350
@santhosh1vaddi Thanks for your confirmation, I'll go ahead and close the bug.

[2019-01-16 10:01] #50350 closed, assigned to justjais

[2019-01-16 10:49] machacekondra commented on #41500
`ansible_hostname` is variable containing hostname of the machine, which is discovered by Ansible. So you must have enabled gathering of the facts at the begging of the play (`gather_facts: yes`), to have it available.

[2019-01-16 11:32] mveroone commented on #25400
Bug still exists as of ansible 2.5.14 :
[code]

[2019-01-16 11:34] davidklaftenegger commented on #50822
According to the openrc IRC channel, having the wrong return code would be considered a bug in the init script, and should be fixed there. Having differing output is not considered a bug, as the output is purely informational. The output that the service module currently expects happens to be the default output iff the init script does not override the status function, but in these cases I'd expec

[2019-01-16 13:08] bzakdd opened #50976 "Debug module may convert variable, making it's output unreliable when checking the type of the variable."
##### SUMMARY
Debug module can implicitly convert it's variables making it hard to use it for debugging.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Debug module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`No changes`
##### OS / ENVIRONMENT
Irrelevant

##### STEPS TO REPRODUCE
Take following playbook and run it:
[code]

##### EXPECTED RESULTS

Debug module in the second task displ

[2019-01-16 13:31] T1loc commented on #48987
@yuwzho It's really a duplicate_of #42407 ?

input_nat_pool should be used if we want to add inbound nat rules ?

[2019-01-16 13:37] T1loc commented on #42407
@yungezz In #33592 I didn't saw the references for the inbound_nat_rules, am I wrong ?

[2019-01-16 13:45] andyeff opened #50978 "azure_rm_postgresqldatabase fails on force_update check"
##### SUMMARY

If azure_rm_postgresqldatabase runs against a database and believes the configuration is different to the values provided to Ansible, the module throws an error on force_update check, whether that value has been defined or not.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_postgresqldatabase
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIR

[2019-01-16 13:47] aamkye opened #50979 "ec2_eip requires region even if profile provided"
##### SUMMARY

ec2_eip module requires region even if I provide profile for boto3

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_eip
Files:
ansible/modules/cloud/amazon/ec2_eip.py
ansible/module_utils/ec2.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian Stretch

##### STEPS TO REPRODUCE

Try to assign EIP with ec2_eip using only profile

[co

[2019-01-16 13:57] kloeffler opened #50980 "Subdomain creation fails with gcp_dns_resource_record_set"
##### SUMMARY
"Sub-Subdomain" creation (e.g. foo.bar.my-test-project.com) fails with gcp_dns_resource_record_set with the error "Google DNS Managed Zone myzone not found" despite it working for sub-domains (bar.my-test-project.com) .

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_dns_resource_record_set

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Deb

[2019-01-16 14:21] Qalthos commented on #49471
!component -lib/ansible/modules/network/system/net_user.py
!component -lib/ansible/modules/system/user.py
!component -lib/ansible/parsing/utils/yaml.py
!component -lib/ansible/plugins/connection/ssh.py

[2019-01-16 14:23] davidklaftenegger commented on #50822
assuming a working gentoo host, with no postgresql installed, and no configuration nor data directory for postgresql around:
[code]
on the first run, everything seems fine:
[code]
but when running it again this yields:
[code]
which is unexpected, as the service is already running & enabled.

A similar playbook for zfs-import could be written, but it requires loading the out-of-tree kernel module f

[2019-01-16 14:25] matt852 opened #50983 "Unable to use generate templates using Python3 on CentOS due to missing libselinux-python package"
##### SUMMARY

I am unable to run the template plugin, and generate a Jinja2 template with variables in it, when using Python3 on a CentOS server.

I believe this is due to the Python3 package 'libselinux-python' not being available for Python 3 on CentOS.
Reference these two links:
https://www.rpmfind.net/linux/rpm2html/search.php?query=libselinux-python
https://www.rpmfind.net/linux/rpm2html/sea

[2019-01-16 14:39] dagwieers commented on #36519
@juanvalino @jbemmel The **wait_for_connection** action plugin uses the underlying connection method for testing if the connection works (from the Ansible host), so it should work equally well for e.g. SSH using ProxyCommand (which is typically what you would do for bastion hosts).

If the systems are not directly reachable by the Ansible host, then using **wait_for_connection** makes absolutely n

[2019-01-16 14:41] Qalthos commented on #50880
cc @NilashishC

[2019-01-16 15:17] bcoca commented on #50725
Since we introduced the `stat` module, this functionality is not needed anymore, so we are considering deprecating it, either way we do need to update the docs, they used to describe this behaviour with `state='file'` but it seems to have been lost in subsequent changes to the texts.`

[2019-01-16 15:22] bcoca commented on #50725
#50986

[2019-01-16 15:37] jose-delarosa commented on #50969
@frsauvage, is this some kind of BMC emulator?

HTTPS is the default protocol (hard-coded in the module) and I would not like to change it or make it optional. Feel free to edit your local copy to HTTP and see if that works for you. You don't have to use the default port 443, using another port *should* work, but it does expect HTTPS.

[2019-01-16 15:49] sivel commented on #50963
Instead of trying to build JSON data in the `body` try just passing a YAML hash/dict to `body`:

[code]

`body_format: json` will then tell ansible to JSON serialize the body before sending to the API.

needs_info

[2019-01-16 16:13] #49647 closed, assigned to nobody

[2019-01-16 16:13] #49626 closed, assigned to nobody

[2019-01-16 16:20] zhaolx01 commented on #48917
[code]
**The results**
[code]

[2019-01-16 16:23] carchi8py commented on #50239
I have an internal story netapp-1155 open for this issue.

The issue is that the get function is filtering only by policy name, and not policy name + vserver.

[2019-01-16 16:34] KaizounaTOR commented on #14785
hi,

Could you reopen the issue is still present ?

Thanks !

[2019-01-16 16:43] ramon-garcia commented on #49874
ping

[2019-01-16 16:43] ramon-garcia commented on #49874
!component lib/ansible/plugins/action/win_updates.py

[2019-01-16 16:54] #30790 closed, assigned to nobody

[2019-01-16 16:58] kendrew71 opened #50989 "vmware_vmkernel module does not query vCenter for possible dvPortgroups"
##### SUMMARY
The vmware_vmkernel module does not query vCenter for possible dvPortgroups when validating the given portgroup name for the vmk, it only queries the ESXi host. The need to query vCenter arises because, even though a host has been added to a dvSwitch which has the given dvPortgroup, that portgroup does not seem to actually "show up" (?) on the ESXi host until it is used. If you creat

[2019-01-16 16:59] dagwieers commented on #49874
@ramon-garcia Why not create the require PR directly. It makes it easier to assess the code and approve.

[2019-01-16 16:59] maxamillion commented on #50237
ah, that should be:
[code]

[2019-01-16 17:02] maxamillion commented on #50237
fixed upstream, sorry about that

[2019-01-16 17:07] asdorsey opened #50990 "Cannot enable service in chroot, "Could not find the requested service nrpe: host""
##### SUMMARY

When using the 'chroot' connection plugin, I cannot enable a service that is present in the chroot.

I have tried using both 'nrpe' and 'nrpe.service' as the service name, and the error is the same in both cases.

This problem also affects other services in the chroot; I have chosen nrpe as an example.

I have confirmed that the service definition is present in the chroot.

[code]

[2019-01-16 17:08] BarbzYHOOL commented on #50720
This is VERY tedious and unpractical

[2019-01-16 17:09] bcoca commented on #50822
@davidklaftenegger i agree with openrc that those are init script bugs, but most users look at it as Ansible not being able to deal with it correctly, so we compensate for those bugs.

Until you pointed these 2 services above we had not found a case in which our 'compensating' was actually doing the wrong thing. Now i have something to work with and will try to figure out a solution that works for

[2019-01-16 17:16] bcoca commented on #32584
a custom callback can easily do this, or overriding the default callback and the `def v2_runner_retry` method

[2019-01-16 17:29] danmanners commented on #50963
Hey @sivel, thanks for the response. No dice, unfortunately.

Appears to give me the exact same error message. Tried it with and without the replace command from above on the csr.

[2019-01-16 17:30] hfrazon commented on #48398
Same problem here :/

[2019-01-16 17:31] pierrehenrymuller commented on #47353
@agaffney ok with display_skipped_hosts = no and display_ok_hosts = no it's a good replace for actionable but all import_tasks it still displayed and I haven't find a option to filter this.

My goal is to have only error and changed in stdout and just resume for hosts. When you launch a big playbook with many roles on hundred hosts it's better to have the minimum.

[2019-01-16 17:34] mariomarin commented on #40581
I used this workaround

[code]

[2019-01-16 17:36] #50272 closed, assigned to nobody

[2019-01-16 17:45] sivel commented on #50963
Ok, here are some things that may be of interest.

I note that in your `uri` module invocation there is an errant `)` in the URL:

[code]

So you need to remove that trailing `)`.

Next, and while I don't have vault, I've substituted the URL with `https://httpbin.org/post`

This will return all the info about the request:

[code]

As you can see, that request is actually sending a `Content-Type` o

[2019-01-16 18:05] #23439 closed, assigned to nobody

[2019-01-16 18:12] ckotte commented on #50989
Did you check #47270?

[2019-01-16 18:42] mhalano opened #50995 "MAAS Module"
##### SUMMARY

MAAS is a solution made by Canonical to deploy and manage bare metal resources. Quite similar with Cobbler, but IMHO more professional solution.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

maas

##### ADDITIONAL INFORMATION

This module (or a category of modules) could be use to talk via the API to provision and manage resources like a new server.

[code]

[2019-01-16 18:43] #29761 closed, assigned to maxamillion

[2019-01-16 19:00] danmanners commented on #50963
Refactored the call, removed the errant `)` and we are all good. I cannot believe I missed that.

Thank you so much, closing the issue!

[2019-01-16 19:00] #50963 closed, assigned to nobody

[2019-01-16 19:10] pghmcfc commented on #50237
Thanks, that's better!

[2019-01-16 19:31] AlanCoding commented on #49811
I hit this and upgrading to latest devel has not solved the problem for me.

In my case I'm running the `command` module, using a docker connection.

[2019-01-16 19:34] AlanCoding commented on #49811
This playbook does not hit the error:

[code]

This playbook does hit the error

[code]

If you could provide any further pointers for debugging, I would be happy to try them. I have found it kind of difficult to debug errors hit in the temporary AnsiballZ files.

[2019-01-16 19:39] AlanCoding commented on #49811
I'm sorry, that wasn't the best example, it turns out that this is because I did not have `virtualenv` installed on that machine. Consider, alternatively:

[code]

That hits this error, where I would expect it to give a clear message that "notacommand" is not an available CLI command.

[2019-01-16 19:40] L1ghtman2k commented on #14020
Not sure, new ubuntu is acting wired for me too

[2019-01-16 20:01] linuxnut commented on #48859
@sgutermann   Yes, it's trying to tell you that it did not pass the inventory check for ini script (because it's using the yaml one instead.

If in the ansible.cfg you just used:

[code]
Then those "informational notices" would go away.  I agree that it's not clear what they are for, but after some trial and error, I was able to get rid of those "notices".  I use the ini format for everything, and

[2019-01-16 20:25] bcoca commented on #50990
within the chroot, can you show the output of: `systemctl show nrpe`?
needs_info

[2019-01-16 20:36] bcoca commented on #50949
@hineze the context for `allow_duplicates: no` is the following:

role B depends on role A, role C also depends on role A.
so this play:
[code]
would run ABC.  if you set `allow_duplicates: yes` then it would run ABAC.

Thiw was never meant to affect different plays:
[code]
will run AB and then AC

As for the new syntax it is meant to be used instead of 'dependencies' as they allow you for fine gr

[2019-01-16 20:37] ajsiersema opened #50998 "nxos_vlan fails with vlan names starting with digits"
##### SUMMARY
Creating or removing vlans fails if a vlan which name starts with a digit is already present.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_vlan

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Cisco Nexus7700 NX-OS  version 6.2(20)

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

vlan to be created or removed from the s

[2019-01-16 20:43] adorsey-NOAA commented on #50990
It complains about D-Bus:
[code]

However, I can enable and disable the service manually without issue:
[code]

[2019-01-16 20:50] kendrew71 commented on #50989
Yep, that works. Do you know what release that's going to make it into?

[2019-01-16 20:52] loonatic31 commented on #50998
I'd like to create a pull request to review the following fix for this issue, but I don't seem to be able to do so (yet):

[code]

[2019-01-16 20:56] bcoca commented on #50990
that is the problem we try to establish the state of the service, we don't blindly force enabling, also, can you confirm the service actually runs? I'm not sure that it can w/o a working dbus connection.

[2019-01-16 20:57] AlanCoding commented on #49811
should I open a fresh issue with these details and fill out the template?

[2019-01-16 21:31] bcharboneauiherb commented on #50819
OK This new plugin may help. However i do not see any documentation on using this along side with using host_vars in ini format. is there a way to specify the following variables to be used with the hosts pulled up with the aws_ec2 inventory plugin?

ansible_ssh_user=<user_redacted>
ansible_private_key_file=<path_redacted>
ansible_python_interpreter=python3
ansible_become=true

[2019-01-16 21:36] adorsey-NOAA commented on #50990
This chroot is an xCAT root image directory for NFS root mounted images.

What I'm trying to do is put our site customizations in Ansible and have ansible-playbook run as the image directory is created.

So, the service won't run out of this directory on the host that Ansible is running on (the xCAT management host) but it will run when a node boots to this image and mounts this directory as its r

[2019-01-16 21:56] bcharboneauiherb commented on #50819
nevermind. i figured out what i did wrong.

[2019-01-16 21:56] #50819 closed, assigned to nobody

[2019-01-16 22:45] WojciechowskiPiotr commented on #49267
I want to add to the list requirement for `docker_host_facts` which will combine the output of `/info` and `/version` API calls.  Right now there is no other way than CLI to get docker host status, and some information included there are required in playbooks used for a system upgrade or reconfiguration. Right now by example for playbooks that I work on I am missing information on a number of runn

[2019-01-16 23:08] bcoca commented on #50990
I now understand what you are trying to do, but the service module is designed to manage 'working machines' so preping an image w/o an actual service manager is not a case it was expected to support.

I'm unsure if we should handle this case or just suggest the workaround of using the file module to create the symlinks (or shell out to systemctl).

[2019-01-16 23:46] jborean93 commented on #48665
This actual issue will be fixed with https://github.com/ansible/ansible/pull/51000. There is a bug with the reboot action plugin where the connection timeout is not reset after the reboot leading it to be really low for subsequent update tasks and it hangs forever.

[2019-01-17 02:04] Tomorrow9 commented on #45407
@Akasurde do you think it's a good plan that I implement this as the way in #49534, since there are also "IDE controller" and "SATA controller" need to be thought about for CD/DVD drive? And I'll add support for   "IDE controller" this time, after #49534 merged I'll add support for "SATA controller", since disk may use "SATA controller" too.
cdrom:
    - controller_type: ide
      controller_numbe

[2019-01-17 02:06] Fred-sun commented on #47268
@yungezz  Resolved by pr #50006 , It can be closed. Thanks!

[2019-01-17 02:14] yungezz commented on #47268
yes, the pr was merged, and it is backporting to next 2.7 minor release.

[2019-01-17 02:14] #47268 closed, assigned to nobody

[2019-01-17 02:37] Printerz opened #51004 "Error for ansible raw in the network devices"
##### SUMMARY

Error for ansible-raw in the network devices
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

raw
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

HUAWEI S5700 series switch
Red Hat Enterprise Linux Server release 6.8 (Santiago)

##### STEPS TO REPRODUCE

When I enter the following instructions：
[code]
and enter the password, it can't work.
BTW

[2019-01-17 02:38] Printerz commented on #51004
@bcoca

[2019-01-17 02:56] Fred-sun commented on #47111
@santos101Thanks for your contribution.  Are you still here?

[2019-01-17 03:06] dagwieers commented on #50913
Reading up on these errors, it seems to indicate that the private key and the certificate do not match. (So the certificate was not signed with the private key used). I cannot test this, lacking a Mac.

[2019-01-17 03:07] #48410 closed, assigned to nobody

[2019-01-17 03:17] #47119 closed, assigned to nobody

[2019-01-17 04:05] jose-delarosa commented on #50296
@dnuka, please close this issue since https://github.com/ansible/ansible/pull/50298 was merged. (I'm surprised this wasn't closed automatically).

[2019-01-17 04:07] #50296 closed, assigned to nobody

[2019-01-17 04:48] trishnaguha commented on #50998
@loonatic31 the submission process is: Fork ansible/ansible repo -> create a branch from devel -> Open pull request to ansible/ansible's devel branch.

[2019-01-17 04:57] geerlingguy commented on #39414
This bug is at the center of a debate surrounding the inclusion of E602 in ansible-lint https://github.com/ansible/ansible-lint/issues/457 — just leaving a comment here since this bug report seems pretty dormant. I've just been too lazy to care about it and have all my playbooks and roles using `my_var == ''` since `my_var` alone blows up.

[2019-01-17 05:58] justjais commented on #50881
@CSimpiFoN Thanks for providing the output, but I need some more information to triage the issue as from my end I am unable to reproduce the respective issue in reported ansible version`2.7.5`. So, can you run your following play in your environment and paste in the result:
[code]

[2019-01-17 07:01] justjais commented on #50712
@tlofreso Thanks for logging the issue, and I have the issue but I am unable to reproduce the behavior in the reported ansible version `2.7.4`. So, need to verify if you have pasted your Infoblox credentials under`/etc/ansible/infoblox.yaml` file and copied `infoblox.py` to your working folder and then running the play as: `ansible-playbook -i infoblox.py test_dynamic_play.yaml`. For ref my play:

[2019-01-17 07:10] felixfontein commented on #49267
Yes, `docker_host_facts` makes sense. I don't currently see a need for a `docker_host` module (as there's nothing to configure on that level, I think), but a facts module would be really nice.

About listing: I don't think that `docker_xxx_facts` should contain the possibility to list `xxx` objects. `docker_xxx_facts` is about facts about a specific `xxx` object. Listing containers, images, networ

[2019-01-17 07:29] Tomorrow9 opened #51010 "VMware: request support applying OS customization to existing VM"
##### SUMMARY

vmware_guest can only be used for clone a new VM from template/existing VM and apply existing customization specification to the cloned VM. We want to create a new customization spec firstly, and then apply this spec to the existing VM to customize the Guest OS.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest_customization
##### ADDITIONAL INFORMATION

(1) can u

[2019-01-17 07:39] NilashishC commented on #50880
Hi @ericx. This feature has already been added in the `devel` branch and will be rolled out with 2.8 release.(https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/ios/ios_user.py#L188)

[2019-01-17 07:39] #50880 closed, assigned to nobody

[2019-01-17 08:00] Fred-sun commented on #50978
@andyeff Thanks for you reporting this issue.
@zikalino Could you help take a look this issue? the option force_update can't use to update postgresql database. Thanks!

[2019-01-17 08:46] ckotte commented on #50989
I don't know. It needs to be approved.

[2019-01-17 08:47] #49734 closed, assigned to mkrizek

[2019-01-17 08:52] Akasurde commented on #50989
@kendrew71 You can add your review comments or testing results on PR #47270, which will help to get this PR merge ASAP.

[2019-01-17 09:06] T1loc commented on #42407
So If I understand properly we need to use inbound_nat_pool with a single port as a range ?
Else an example can helps to understand.

[2019-01-17 09:09] yungezz commented on #42407
@yuwzho   could you pls help on sample? thanks.

[2019-01-17 09:46] boostmikal opened #51015 "rds_instance: update instance to enable cloudwatch logs export does not work"
##### SUMMARY
Updating an existing AWS RDS Postgres instance to enable cloudwatch logs export does not work. Please note that creating a new RDS Postgres instance with cloudwatch logs export works as expected and leads to the expected result.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rds_instance

##### ANSIBLE VERSION

[code]

I have also tested with `v2.8.0.dev0` and `v2.7.5`. Both pr

[2019-01-17 09:50] ajsiersema commented on #50998
Duh, of course :)
The change matches on r'^(\d+)$'. For the record, I've looked at the output from the switch and and based on that I see no reason for e.g. r'^(\d+)\s*$'.

[2019-01-17 10:09] CSimpiFoN commented on #50881
Hello @justjais
before I tried to shadow the server name and IP I tried to use for security reasons, but not sure anymore if that make any difference or not (However I think it should not) :), now I paste the whole log with original details:
[code]

[2019-01-17 10:59] markgoddard commented on #50805
My apologies, I forgot to mention the critical piece of information that this behaviour changed in 2.6.

The use case is keeping things DRY - if I need to access multiple variables from a host, I can do this:

[code]

[2019-01-17 11:00] markgoddard commented on #50805
The fact that it doesn't work is not the end of the world, but the backwards incompatibility required be to modify my playbooks.

[2019-01-17 11:30] sseide commented on #39414
As this bug prevents people following the linter rules for publishing roles to ansible galaxy it should get a fix

[2019-01-17 11:34] dagwieers commented on #50956
@hfrazon While it may be useful for your use-case, retrying the same task on failure may be problematic, especially for non-idempotent tasks. But since a failure could mean the module worked only half-way, there's no guarantee that retrying will actually work as intended.

There's no guarantee that retrying an failed idempotent task will work idempotently.

[2019-01-17 11:55] 33Fraise33 opened #51020 "Async out of memory"
##### SUMMARY
When running a command without poll and async everything works fine. When running it with async my status on the host shows an out of memory error. This happens with the latest dev version but not with the latest stable version.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Async Module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
The targe

[2019-01-17 11:57] hfrazon commented on #50956
@dagwieers Thanks for the response. I got your point.
Maybe the idempotency could be guaranteed in the "_always_" part. The execution would be:  _block(task failed -> run rescue -> run always -> re-run task)_.
I'm just guessing. I'm not sure if that could apply for all the cases, as you said.

[2019-01-17 12:06] gundalow commented on #43562
Canonical URL https://github.com/ansible/ansible/pull/49190 has been merged which has made a large improvement.

Will need to review Adobe Analytics logs again and see what other things need doing.

A banner for non-latest would still be good IMHO.

[2019-01-17 12:08] gundalow commented on #45776
We've set Canonical URL in #49190 though there are some other good ideas in here that we should look at.

[2019-01-17 12:18] trishnaguha commented on #50998
resolved_by_pr https://github.com/ansible/ansible/pull/51019

[2019-01-17 12:23] #50998 closed, assigned to trishnaguha

[2019-01-17 12:41] tlofreso commented on #50712
FYI, I did not have the infoblox.py file in my working directory. I had placed it in `/etc/ansible/` it was my understanding that that's where it was supposed to reside.

Am I reading your comment correctly, that you specify infoblox.py as the inventory file for the playbook?

I copied it to my working directory, then ran the play as described above. Below are the results with full verbosity:

[co

[2019-01-17 12:42] JonTheNiceGuy opened #51021 "Missing azure_rm_subnet_facts module"
##### SUMMARY
Like azure_rm_virtualnetwork_facts, azure_rm_networkinterface_facts, etc.. this module will ask Azure for details about the underlying subnets.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION
In #38077 it was noted that while this module does not currently exist, the raw data is in azure_rm_virtualnetwork_facts which can be parsed. It would be nic

[2019-01-17 12:47] Akasurde commented on #51010
@Tomorrow9 Thanks for the feature request. I have PR https://github.com/ansible/ansible/pull/38583 which solves this problem.

[2019-01-17 12:47] Akasurde commented on #51010
!component -lib/ansible/parsing/utils/yaml.py

[2019-01-17 12:48] JonTheNiceGuy commented on #51021
!component -lib/ansible/parsing/utils/yaml.py
!component -lib/ansible/galaxy/data/apb/tasks/main.yml.j2

[2019-01-17 12:52] dagwieers commented on #50956
@hfrazon It would be up to the user to evaluate if this can work, but that assessment would be hard to impossible for most people. IMO the better approach is to find/fix the corner-cases that would lead to failures and improving the general reliability of modules and connection plugins.

[2019-01-17 12:55] Lunik opened #51022 "Inconsistency between gitlab modules"
##### SUMMARY

Gitlab modules have very different way to communicate with the gitlab API.
And there are inconsistencies in parameters names.

###### Authentification with gitlab python lib is different across modules:

[gitlab_project#L349-L356](https://github.com/ansible/ansible/blob/stable-2.7/lib/ansible/modules/source_control/gitlab_project.py#L349-L356)
[gitlab_user#L318-L325](https://github.

[2019-01-17 12:59] justjais commented on #50712
@tlofreso thanks for pasting the verbose output, and yes `infoblox.py` need to placed in your working directory not in `/etc/ansible/` which will have only `infoblox.yaml` file with NIOS instance credentials for this particular case (for ref: https://docs.ansible.com/ansible/latest/scenario_guides/guide_infoblox.html#dynamic-inventory-script).
Now, coming to the verbose output you can see that und

[2019-01-17 13:09] tlofreso commented on #50712
I definitely can. It's not parsing infoblox.py as an inventory.

This could be something I'm doing wrong. especially since I didn't realize the python script needed to be in my working directory. I will mess with this some more and see what I can figure out.

[2019-01-17 13:21] StevenWash commented on #19863
I have met the same problem , so, How can I to solve this problem? Can you help me ?

[2019-01-17 13:45] ericx commented on #50880
Nice.

[2019-01-17 13:49] justjais commented on #50712
Sure, please refer the document: https://docs.ansible.com/ansible/latest/scenario_guides/guide_infoblox.html#dynamic-inventory-script, and this will help you in resolving the issue you are facing.

[2019-01-17 14:40] adorsey-NOAA commented on #50990
When using the chroot connection plugin, is it possible to access the list of chroots from the -i parameter in the play?  Also, is there a way for me to tell in the play which connection plugin is being used?

[2019-01-17 14:50] dagwieers commented on #35382
@bcoca This is an old one, but still relevant.

[2019-01-17 15:12] dagwieers opened #51025 "ansible-playbook should fail if inventory was not found"
##### SUMMARY
If the user specifies an inventory file on the command-line that does not exist (might be a typo), Ansible should bail out.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### STEPS TO REPRODUCE
Run ansible-playbook with an non-existing inventory on the commandline.

##### EXPECTED RESULTS
Ansible stop

[2019-01-17 15:15] bcoca commented on #50990
- no, I'm guessing a 'chroot inventory plugin' would be the proper place to list all chroots available.
- ansible_connection should have that info

[2019-01-17 15:21] bcoca commented on #51025
A toggle already allows you to control that behaviour https://docs.ansible.com/ansible/latest/reference_appendices/config.html#inventory-any-unparsed-is-failed

[2019-01-17 15:24] dagwieers commented on #51025
Not being able to parse, and not found is a different thing IMO.
I do not see a valid reason to continue if an explicitly provided inventory was not there.
It could even be dangerous.

[2019-01-17 15:25] bcoca commented on #39414
I would argue the linter rule is incorrect, sometimes you are not doing empty string comparison for 'boolean reasons', but exact match.

[2019-01-17 15:30] lordkret commented on #22716
+1

in most cases - especially from  re-usability perspective - there is a sequence of tasks runs against an entity. Running those in parallel will be huge gain

[2019-01-17 15:31] frsauvage commented on #50969
Thank you, definitely, https is not optional
=> could be closed, it works for me with https.

[2019-01-17 15:31] #50969 closed, assigned to nobody

[2019-01-17 15:40] andyeff commented on #22930
Spotted this open issue - I'll be writing a playbook to mount an Azure CIFS file share to RHEL machines in the next day or two and I'll be using Ansible 2.7.5 so will report back on whether it works or not.

[2019-01-17 15:41] carchi8py commented on #50762
Can you double check that the python you installed netapp-lib is the same one running ansible

[2019-01-17 15:42] sivel commented on #29670
@yudiandreanp I've been working on this, but am busy with other things now.  I do intend on getting back to this work.  The PR is referenced above.

[2019-01-17 15:44] kbreit opened #51026 "meraki_device - Show or update power settings for switches"
##### SUMMARY
Meraki has added support for showing and updating power settings on a switch. The `meraki_device` module should support this.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki_device

[2019-01-17 15:45] #48665 closed, assigned to nobody

[2019-01-17 15:46] kbreit opened #51027 "New module request - meraki_client"
##### SUMMARY
Meraki has increased support for detailed information retrieval from the API. They've also added support for provisioning clients, so there is now a good use for a `meraki_client` module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2019-01-17 15:52] bcoca commented on #39414
so testing https://gist.github.com/dennisconrad/1906ff16131d3f9eb2ea4df7391a00b5 against current devel, it runs all tasks successfully w/o removing the 2 lines suggested from conditional.py

am I missing something?

[2019-01-17 16:00] sseide commented on #39414
latest release version does not work with this playbook. Therefor someone changed something thats not officially released right now.

ansible `2.7.5-1ppa-trusty` from debian/ubuntu ppa as written here: https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#latest-releases-via-apt-debian

Output running this playbook (slightly shortened, removed everything working before

[2019-01-17 16:01] Imagin0s commented on #26942
Hello,

I have the exact same problem, I hav tried with {% raw %} ... {% endraw %} but it still doesn't work...
Have you got an idea ? Here below is the content of the inputs.json I pass in --extra-vars of my ansible_playbook :
{
"MESSAGE_FORMAT": "{% raw %}\\'{\"PROGRAM\":\"a5129_dgs\",\"server_name\":\"%v\",\"remote_ip\":\"%a\",\"timestamp_da\":\"%{%FT%T}t.%{msec_frac}t%{%z}t\",\"request\":\"%U\

[2019-01-17 16:15] rarenicks commented on #50762
@carchi8py
Yes, I am using python 3.6, but recently I came to know that there is some compatibility issue of "netapp-lib" and python 3.x. While it works fine with 2.x

Is this the same issue that we are dealing with?

[2019-01-17 16:21] bcoca commented on #39414
nvmd, the playbook  ignores errors and just 'displayed' the differences, didnt test for them ... i have reformated the tests to force failure on differences

[2019-01-17 16:23] carchi8py commented on #50762
As long as your using the latest version https://pypi.org/project/netapp-lib/#history 2018.11.13 there shouldn't be issues with python 3.

[2019-01-17 16:30] it-praktyk opened #51031 "Integration tests for the win_disk_facts are not triggered"
##### SUMMARY
I tried to run integration tests for the module win_disk_facts and I realized that tests are not run due to an incorrect evaluation of the precondition.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_disk_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

I hate cows!

##### OS / ENVIRONMENT
I tested that using the Vagrant image of Windows Server 2012 R2 jbo

[2019-01-17 16:37] rarenicks commented on #50762
I am using the latest (2018.11.13) version.

[2019-01-17 16:47] bcoca commented on #50990
When using a connection plugin (including chroot) you run all commands wrapped by the connection unless you specifically change the connection via `connection: , local_action, delegate_to` or similar.

There are some actions that never run on remote (debug, add_host, etc) by their nature, but anything that actually executes on remote ALWAYS runs under the connection wrapper.

[2019-01-17 16:48] nicholasrodriguez commented on #50299
@sivel Thanks, I've run some tests and I have a configured vCenter server deployed to ESXi using your patch. There are other tests I need to perform but so far all the keys passed through have been applied to OVA post boot

[2019-01-17 16:49] bcoca commented on #50990
In any case I discussed with other committers, we all agree that the service module should not handle targets without a service manager and that this is too much of a corner case that can easily be handled by `file` or `shell: systemctl`, so I'm going to close this ticket as we don't see this as  a bug to fix nor feature we are going to implement.

[2019-01-17 16:49] #50990 closed, assigned to nobody

[2019-01-17 16:52] it-praktyk opened #51032 "The win_disk_facts doesn't return dynamic disks"
##### SUMMARY
The module returns - as the ansible facts - only information about the first physical drive.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_disk_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
I tested that using the Vagrant image of Windows Server 2012 R2 jborean93/WindowsServer2012R2 v.0.5 with the additional disk added.
[code]

###

[2019-01-17 16:57] bcoca commented on #35382
agreed, that does seem to have lived there for a loong time, adding to irc meeting

[2019-01-17 17:02] bcoca commented on #51025
The result is the same, it will error out if missing (as it was unable to parse).

As for the default behavior, this was established long ago and many seem to depend on it and resist changing it, but we added the toggle for those that disagree.

[2019-01-17 17:08] sivel commented on #50299
Please be sure to try it without `enable_hidden_properties`.  Since I don't think that is required for anything, I'd like to remove it.  Unless you find it is doing something useful.

[2019-01-17 17:12] nicholasrodriguez commented on #50299
Ok, I'll give that a try, I should have the results tomorrow.

[2019-01-17 17:12] carchi8py commented on #50762
@rarenicks just quickly looking at Slack is this the issue where it works with python3 by hand, but fails in container with python3?

[2019-01-17 17:18] adorsey-NOAA commented on #50990
Thanks for confirming that the ```shell``` module works under a chroot.  I can confirm that the following play will enable the service in the chroot as expected:
[code]

Thanks again for your help.

[2019-01-17 17:20] hfrazon commented on #50956
Thanks @dagwieers. That's the only viable way for now.

[2019-01-17 17:22] samdoran commented on #50805
Interesting that this behavior changed. I would have to investigate a bit more to see if that is the result of fixing some other bug or a regression.

Wouldn't it be more efficient to just reference the host variables directly? Making a copy of the variables seems like more repetition, not less.

[code]

needs_info

[2019-01-17 17:25] jeking3 commented on #37259
My work adds feature 2, but not feature 1 (from the description).

[2019-01-17 17:28] AlanCoding opened #51033 "Ansible not searching for plugins in inventory_plugins local folder"
##### SUMMARY
Ansible is not using plugins provided via instructions here:

https://docs.ansible.com/ansible/latest/dev_guide/developing_locally.html

These instructions are working for `callback_plugins`, not working for `inventory_plugins`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
inventory plugins

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

This output is expected, an

[2019-01-17 17:33] bcoca commented on #50805
so .. -e variables are not in hostvars, as for referencing hostvars normally i used the following tests:
[code]
which all seem to work correctly (tested devel and latest 2.7):
[code]

[2019-01-17 17:49] bcoca commented on #51033
So not sure what this is supposed to do `ANSIBLE_INVENTORY_PLUGINS=$(pwd inventory_plugins) ` and should not be needed, the only thing you need to use the plugin is for it to be in the directory AND you need to whitelist it (callbacks whitelist is optional and part of the callback class definition).

my test with your repo:
[code]

[2019-01-17 18:34] tacobayle commented on #48060
I tested it and it works for me. No more legacy network.

Thanks.

[2019-01-17 18:54] cfiske commented on #50956
@dagwieers is this substantially different from the way `until`/`retries` works today? It's essentially repeating something which may have failed previously. The difference is that with this feature you could take positive action to ensure the subsequent retry would succeed. IMO this would improve the capability of an existing function.

[2019-01-17 18:55] mguttsait opened #51037 "New to Ansible, need help writing a playbook"
##### SUMMARY
Just started using Ansible at my internship this week. Was tasked with the following and need a bit of guidance:
Create an ansible playbook that goes to directory and deletes files that have, for example, "text" in the name.

##### ISSUE TYPE
I figured I would have to use the file module, but I'm not sure how to incorporate into the playbook. What I mean by this is I'm not sure how t

[2019-01-17 19:07] sivel commented on #51037
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-01-17 19:07] #51037 closed, assigned to nobody

[2019-01-17 19:16] ianabc commented on #50141
I know this is closed, but the previous behaviour was more useful. At the moment one of `ansible_distribution_major_version` or `ansible_distribution_release` is redundant. Some external things (e.g. [zfsonlinux](https://github.com/zfsonlinux/zfs/wiki/RHEL-and-CentOS)) depend on the minor version, whether or not CentOS say they explicitly support it. It would be nice to have the more specific stri

[2019-01-17 19:24] #39953 closed, assigned to nobody

[2019-01-17 19:24] #38871 closed, assigned to nobody

[2019-01-17 19:28] marwatk opened #51038 "include_vars can't overwrite value set with set_fact"
##### SUMMARY
This is a duplicate of #16706 as that issue is still present but closed.

@nitzmahone [comments](https://github.com/ansible/ansible/issues/16706#issuecomment-232735944) stating that the last writer should win, but the issue shows that the last writer is *not* winning.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_vars
set_fact

##### ANSIBLE VERSION

[code]

##### CONF

[2019-01-17 19:35] #38710 closed, assigned to nitzmahone, jborean93

[2019-01-17 19:39] fabianvf commented on #50874
Interesting, could you paste a minimal example of a playbook + resource definition that's failing so I can try to reproduce this locally?

[2019-01-17 19:42] mhalano commented on #42437
@Akasurde I still need to test, but seems this solves my problem.

[2019-01-17 19:56] ktdreyer opened #51040 "RFE: make ansible.errors available to modules"
##### SUMMARY
TL;DR: It would be great to be able to import `ansible.errors` from code in `module_utils`.

I have a custom Ansible module (`koji_tag.py`) that imports common methods from another Python file (`common_koji.py`).  I'm following the same convention we have for things like firewalld in-tree. I can transport this over to my remote host with Ansiballz by placing the file into my `module_

[2019-01-17 20:03] it-praktyk commented on #51032
[code]

[code]

The synopsis of the Get-Disk cmdlet: "Gets one or more disks **visible** to the operating system.". It probably an answer why the second physical disk is not returned - because it's not partitioned.

[2019-01-17 20:07] it-praktyk commented on #51031
The correct tests\integration\targets\win_disk_facts\tasks\main.yml file should look like
[code]

I don't create the pull request (yet) because integration tests currently fail - due to the bug (?) 51032.

[2019-01-17 20:09] jctanner commented on #14711
bot_status

[2019-01-17 20:14] wasserman opened #51042 "display_skipped_hosts flag delays task banner which is confusing on slow tasks"
##### SUMMARY
I have a long running shell script that my playbook runs.  It takes a couple of minutes.  The task immediately before it displayed its banner but it appeared to hang on this task.  After troubleshooting the issue I determined it was the following shell task that gave this apparent hang.  If the task banner of the shell task displayed when it started it would have been obvious which t

[2019-01-17 20:18] marqelme commented on #51032
Yes right, if Get-Disk does not see it, it will not appear in the facts.

[2019-01-17 20:30] dandunckelman commented on #44561
I just hit this on ansible v2.7.6.

This error occurs when going thru vcenter 6.7, because the list of settings from `vmware_host_config_facts` doesn't include `Vpx.Vpxa.config.log.level`.

[2019-01-17 21:16] samdoran commented on #41393
@morenod @rismalrv Can you please test with #51043? I believe that should resolve this issue.

[2019-01-17 21:35] wasserman commented on #51042
I don't understand what the bot is doing, but I believe the line of code causing this is at https://github.com/ansible/ansible/blob/stable-2.7/lib/ansible/plugins/callback/default.py#L192

[2019-01-17 22:06] it-praktyk commented on #51032
The resolution will be a usage of the command like below instead of `Get-Disk`. Next, compare the results with the results of Get-Disk to identify missed (they are dynamic).

[code]

[2019-01-17 22:24] marqelme commented on #51032
I don‘t know in this should be added if it is deprecated. Let‘s See what the ihrer guys think about it.

Outlook für iOS<https://aka.ms/o0ukef> beziehen

________________________________
Von: Wojciech Sciesinski <notifications@github.com>
Gesendet: Donnerstag, Januar 17, 2019 11:08 PM
An: ansible/ansible
Cc: Marc Tschapek; Mention
Betreff: Re: [ansible/ansible] The win_disk_facts doesn't return dy

[2019-01-17 22:40] ChinnoDog opened #51046 "Print warning when role directory is empty"
##### SUMMARY
When a role is called from a playbook and its directory is empty there is no indication that the role is missing. It is an unusual case to intentionally create an empty role directory, though you might just to be sure the role exists.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Ansible core
##### ADDITIONAL INFORMATION

Would let users know when they have accidentally exe

[2019-01-17 22:40] #24284 closed, assigned to nobody

[2019-01-17 22:45] jdoss commented on #50237
This works for me now! Thanks @maxamillion :smile:

[2019-01-18 01:46] demakkar commented on #50626
< TASK [Upgrade OS on 3k] >
 -------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||

task path: /nxos_upgrade.yml:206
fatal: FAILED! => {
    "changed": false,
    "msg": "PERSISTENT_COMMAND_TIMEOUT and PERSISTENT_CONNECT_TIMEOUT must be set to 600 seconds or higher when using nxos_install_os module"
}

[2019-01-18 02:54] BDworak commented on #50626
Hi @trishnaguha, we applied the patch from #50965 to our local ansible installation and at first it did not take the variables. I added debug commands to nxos.py

[code]
We also modified the playbook and added vars: to the nxos_install_os task.

[code]
Running the first time we got the following output:
[code]
We had the connect_timeout set in ansible.cfg to 90 and it seemed that Ansible was prefe

[2019-01-18 03:10] BDworak commented on #50626
One more test, we set the variables in ansible.cfg and it seems to take the ansible.cfg, it just does not like **ansible_connect_timeout** variable set in playbook/via extra vars at all.
[code]

[2019-01-18 03:44] iamgini opened #51053 "Unable to pass special character as parameter to modules"
##### SUMMARY
I am trying to run some shell commands (using shell module) and I want to pass some commands which contains "{{" as special characters. Since Ansible is using {{ as variable identifier, its causing issue and getting ```{{: template error while templating string: unexpected 'end of template'. String: {{``` error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

shell

##### ANSIB

[2019-01-18 08:08] sascha-andres commented on #50009
It seems to workwith 2.7.6, tested on two KDE neon systems

@maxamillion from my perspective you can close the issue

[2019-01-18 09:04] AlexDyukov commented on #15096
Hey there! Any updates for this topic?

[2019-01-18 09:04] markgoddard commented on #50805
I can't really speak for efficiency in terms of Ansible's inner workings, but it's certainly less repetitive (in DRY terms) to use an intermediate variable than accessing `hostvars['foo']` every time.

This might be less efficient if there is some copying going on within ansible, but I don't know about that.

[2019-01-18 09:05] markgoddard commented on #50805
Another related thing that has changed, is the display output of `hostvars`. Previously it would show the templated values of all variables. Now (2.6+), they are untemplated. I'm tempted to raise a bug on that also, since I depend on it for displaying configuration in some cases.

Example:

[code]

[2019-01-18 09:20] markgoddard commented on #50805
-e variables are accessible via hostvars, as seen in the original example. Playbook variables are not, i.e. if I try to access hostvars['localhost']['foo_bar'] in your example it fails.

From what I can tell, set_fact stores the templated value of the expression in the new fact, which I think is confusing things here. If I change my playbook to this:

[code]

The new fact gets the templated value:

[2019-01-18 09:21] oolongbrothers commented on #50835
Good point! Thank you for your big report.
Adding your test cases to my suite, I think I should be able to fix this relatively easily.
I do however have another open bug that takes priority. But once I fixed that, I will take this one on.

[2019-01-18 09:22] markgoddard commented on #50805
I get the same result as in the original test case if I use the following group_vars/all rather than -e:

[code]

[2019-01-18 09:44] MartinTrifork opened #51057 "aws_s3 is falling back to aws url when the zone changes"
##### SUMMARY
If the zone changes the s3_url isn't respected anymore and the module is trying to reach aws instead of the fakes3s url.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aws_s3 module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

I'm running a playbook that uses Exoscale as cloud provider.

[code]
When running the f

[2019-01-18 09:55] Imagin0s opened #51058 "Apache2 CustomLog "template error while templating string: Encountered unknown tag""
##### SUMMARY

"template error while templating string: Encountered unknown tag 'FT'.. String: {\"PROGRAM\":\"a5129_dgs\",\"server_name\":\"%v\",\"remote_ip\":\"%a\",\"timestamp_da\":\"%{%FT%T}t.%{msec_frac}t%{%z}t\",\"request\":\"%U\",\"method\":\"%m\",\"status\":\"%s\",\"response_size_lo\":\"%B\",\"response_time_ms_lo\":\"%{ms}T\"}"}

[code]

##### ISSUE TYPE
- Documentation Report

##### COMPON

[2019-01-18 10:50] AngelFreak commented on #45602
No difference, still exactly as slow.

[2019-01-18 10:53] nicolatimeus opened #51059 "DNF module does not support loading conf substitutions from the fs"
##### SUMMARY
I’ve performed some experiments trying to install dnf packages on an embedded device using Ansible.

The problem is that the distribution on the device defines several “aliases” for its architecture in the `/etc/dnf/vars/arch` file.
Currently if I try to install a rpm package that uses one of these aliases as its required architecture, dnf installation fails reporting that the system

[2019-01-18 11:04] decentral1se opened #51060 "Deprecate the linode module for the linode_v4 module"
##### SUMMARY

The existing Linode module is using the deprecated API. There is a new module  that has been merged which will be available with Ansible 2.8 (see https://github.com/ansible/ansible/pull/46151) which can be used instead.

The functionality of the new module is still not matching the old. This will be tracked in https://github.com/ansible/ansible/issues/51061.

See https://docs.ansibl

[2019-01-18 11:06] decentral1se opened #51061 "Improve linode_v4 module to match functionality of deprecated linode module"
##### SUMMARY
As shown in https://github.com/ansible/ansible/issues/51060, we need to deprecate the old Linode module. In order to do this, we need to provide matching functionality in the new module. This is still not the case (I think a lot of resizing functionality is missing). This issue can track that progress. More details to come.

EDIT: By 'deprecated module', we mean deprecated API in Lin

[2019-01-18 11:42] jvalderrama opened #51062 "Allow data_disks list specifies how the data disk should be created."
##### SUMMARY

The **azure_rm_virtualmachine** module should allows to specifies **how data disks are crated**, due it does not allow to set a custom image for data disks. This possible values could be like terraform does: Attach, FromImage and Empty.
https://www.terraform.io/docs/providers/azurerm/r/virtual_machine.html#create_option

[code]
It helps when a custom OS image has multiple data disks

[2019-01-18 12:14] webknjaz commented on #33947
bot_status

[2019-01-18 12:24] ssbarnea commented on #14837
Don't get confused reading the commands here, `ansible_distribution_release` points to `18.2.0` on MacOS `10.14.2` (`ansible_distribution_version=10.14.2`), so it may not be what you are looking for.

I am still trying to find a way to correctly extract the minor and patch subparts of the `ansible_distribution_version`.

[2019-01-18 12:24] webknjaz commented on #30064
bot_status

[2019-01-18 13:09] mkrizek commented on #51042
Related to https://github.com/ansible/ansible/issues/49114, possibly a duplicate.

[2019-01-18 13:15] varunchopra opened #51063 "Ansible.Basic: "choices" are case-sensitive"
##### SUMMARY

`-validateset` would accept a list as case-insensitive but `@{ choices = "" }` does not.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[Ansible.Basic.cs](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/csharp/Ansible.Basic.cs)

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE

**Module code**:
Using `Ansible.ModuleUtils.Legacy.psm1`:
[code]
would

[2019-01-18 13:18] chopraaa commented on #51063
!component =lib/ansible/module_utils/csharp/Ansible.Basic.cs

cc @jborean93

[2019-01-18 13:18] wasserman commented on #51042
I agree that this is a duplicate.  I looked for this issue and didn't find that one until you referenced it.  Hopefully my example makes it easier to reproduce since it appears there was a challenge with that in the other ticket.
Another idea is that when in DEBUG mode or extra verbose levels, maybe this feature should be ignored since knowing skipped tasks may be important when troubleshooting is

[2019-01-18 13:51] rismalrv commented on #41393
@samdoran
Will test it in a few hours.
Thanks

[2019-01-18 13:57] luisRubiera opened #51065 "Rsync not working with lookup on host"
##### SUMMARY

Hi Ansible team, im currently working on a CD using Gitlab-Ci and Ansible. What im trying to do is use the environment variables (on gitlab) to set host information on ansible. i got this working by using the `lookup` function.

The problem is that when i try to do rsync with a user that is set by an env variable it throws an error. the information are the following:

the task:
[cod

[2019-01-18 14:18] bcoca commented on #51058
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-01-18 14:18] #51058 closed, assigned to nobody

[2019-01-18 14:19] xenlo opened #51066 "Missing module `vmware_guest_network` to manage NICs"
#### SUMMARY
Even the module `vmware_guest` allows to manage the NIC by providing a list, this has some limitations:
- You can't remove/delete a NIC
- It's really difficult if you only want to add a NIC to an existing VM.
  1. You first need to call `vmware_guest_fact`,
  2. Then you need to filter the returned dictionary and proceed in several conversions (as the network description from the outp

[2019-01-18 14:22] tomholub commented on #15713
Same here ansible 2.5.1 - it would be good to reopen this

[2019-01-18 14:32] xenlo commented on #51066
@ansibot, as you ask the affected version is the current latest 2.7 and the current devel 2.8.

I take the `vmware_guest_disk` as reference that I found in devel.

[2019-01-18 14:36] gravitypaint commented on #50890
After further testing, we have found that this issue affects other key/value pairs that we deploy with eos_config

Affected:
management
ip access-list
policy-map type qos

Not Affected:
port-channel
interface

[2019-01-18 14:37] KaizounaTOR opened #51067 "win_shell always return false when UNC is involved"
##### SUMMARY
When using the win_shell module on a Windows Server 2016 host, The "Test-Path" cmdlet does always return false.

the win_shell module returns the right value when testing non UNC path;

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_shell

##### ANSIBLE VERSION
[code]

and

[code]

##### OS / ENVIRONMENT
Microsoft Windows Server 2016 Standard

##### STEPS TO REPRODUCE
#####

[2019-01-18 15:18] amarao opened #51068 "grafana_datasource reports 'changed' for repeated runs"
##### SUMMARY

grafana_datasource module reports 'changed' for each run even if nothing has been changed in datasoure.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
grafana_datasource

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
local: Ubuntu 19.04
remote: Ubuntu 18.04, grafana 5.4.2

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
changed only on

[2019-01-18 15:21] edcrosbys commented on #50605
I'm available to work together on troubleshooting this!

[2019-01-18 15:34] ezmac opened #51071 "aws lambda module returns inconsistent ARN"
##### SUMMARY
Duplicate/re-opening of #47264 with more info.

When using boto3's lambda.get_function, if qualifier is given, an ARN to the qualified lambda function is returned. When not using a qualifier, the ARN to the lambda function is given.

[code]
So when used in the ansible lambda module, qualifier is used when `current_version is not None` roughly. When no change has happened, current_ver

[2019-01-18 15:43] kris2kris opened #51072 "keycloak_client module mappers are not created if client exists"
##### SUMMARY

If client is already existing in keycloak, new mappers defined in ansible are not created

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

keycloak_client

##### ANSIBLE VERSION
2.7.6

##### STEPS TO REPRODUCE

execute this ansible code or create a client in keycloak with the name client-test :

` - name: Create eportal-certificate client

    local_action:
      module: keyclo

[2019-01-18 15:54] nicholasrodriguez commented on #50299
@sivel I removed ```enable_hidden_properties``` and the VCSA appliance deployed and passed through the parameters Ok.

[2019-01-18 15:56] kris2kris commented on #51072
!component =lib/ansible/modules/identity/keycloak/keycloak_client.py

[2019-01-18 16:49] bcoca commented on #18067
closed by fix as per above

[2019-01-18 16:49] #18067 closed, assigned to nobody

[2019-01-18 16:52] bcoca commented on #18207
obsolete since we moved to rst2man

[2019-01-18 16:52] #18207 closed, assigned to nobody

[2019-01-18 16:53] ramon-garcia commented on #49874
ok. I will try to place a pull request

[2019-01-18 17:02] bcoca commented on #11817
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2019-01-18 17:02] #11817 closed, assigned to nobody

[2019-01-18 17:05] bcoca commented on #12496
closing as per explanation above

[2019-01-18 17:05] #12496 closed, assigned to nobody

[2019-01-18 17:05] ScarabMonkey commented on #43159
this comment inside lvg.py is specifically contradicting the lvm documentation:
`    # LVM always uses real paths not symlinks so replace symlinks with actual path
    for idx, dev in enumerate(dev_list):
        dev_list[idx] = os.path.realpath(dev)
`
here is an excerpt from lvm.conf:
`	# Configuration option devices/preferred_names.
	# Select which path name to display for a block device.
	# If

[2019-01-18 17:05] nitzmahone commented on #12205
Closing for age- if this is still an issue for you on a current version of Ansible, please open a new bug report. Thanks!

[2019-01-18 17:05] #12205 closed, assigned to nobody

[2019-01-18 17:06] sivel commented on #50299
I've submitted the PR to add this functionality: https://github.com/ansible/ansible/pull/51074

[2019-01-18 17:13] AlbanAndrieu commented on #16818
It fix it

[2019-01-18 17:16] gundalow commented on #29740
I believe this will be addressed by https://github.com/ansible/ansible/pull/33984

[2019-01-18 17:23] bcoca commented on #12964
The default ansible.cfg is always empty, but you always had a default locale, initially it was C/POSIX, we later changed it to 'same locale as controller'. At this point we don't use this anymore and hence this should also not be a problem.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing list

[2019-01-18 17:23] #12964 closed, assigned to nobody

[2019-01-18 17:34] micfan commented on #48859
what is this error, I am a newbie who want have a try of Ansible,

But it rasied a error, which I don't know how to resolve.....

[2019-01-18 17:39] watsonb commented on #50443
I'm running into this as well.  Here's how I arrived here.

[code]

That results in this:
[code]

So I can't even create a resource_group anymore with 2.7.5.  We've had success in 2.5.x and 2.7.0 when we manually Git cloned the azure preview modules and shoved them into our venv paths..

OK, so follow instructions here: https://github.com/Azure/azure_preview_modules (using same venv_tmp virtual en

[2019-01-18 17:40] nitzmahone commented on #50443
venvs make that extra tricky- for one, you need to set `ansible_python_interpreter` on `localhost` to the venv python to make sure that local tasks use the venv, otherwise you're using `/usr/bin/python`...

[2019-01-18 17:41] candlerb commented on #18067
This ticket was about documentation of the behaviour of `roles_path` with relative paths, and in particular, what it's searched relative *to*.  I am still unable to find this documented anywhere.

Via Google, I can find mentions of `roles_path` in:

* [configuration settings](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-roles-path).  It just says: "Colon separat

[2019-01-18 17:48] dagwieers commented on #51067
I cannot reproduce this (using the devel branch):
[code]

[2019-01-18 17:49] watsonb commented on #50443
@nitzmahone understood, however if I add that, like so:

[code]
Then I get this:

[code]

OK, so in a non-activated shell:

[code]

Back in my activated venv, run again, get this:

[code]

Feels like a slippery slope, was hoping to avoid having to pip install a bunch of stuff onto system Python.

[2019-01-18 18:31] briantist commented on #49558
This is actually affecting NLBs too in some cases now, please see [my comment on the PR](https://github.com/ansible/ansible/pull/50203#issuecomment-455643372).

[2019-01-18 19:11] ramyakailas opened #51078 "vagrant installation of Ansible tower"
##### SUMMARY

The vagrant installation of Ansible Tower as pointed to by the docs installs version 3.3.2 instead of version 3.4.0

##### ISSUE TYPE
- Documentation Report
vagrant image has not been updated to install tower version 3.4.0 as pointed to by https://docs.ansible.com/ansible-tower/latest/html/quickinstall/download_tower.html#using-vagrant-amazon-ami-images
##### COMPONENT NAME

##### A

[2019-01-18 19:33] watsonb commented on #50443
ok, so if you compare this:

https://github.com/Azure/azure_preview_modules/blob/0fd013a96492cd9cdaf8de6e285f56a0d6e153b1/library/azure_rm_networkinterface.py#L618

with this:

https://github.com/ansible/ansible/blob/80b5b33e2b1c014eef5feaa3c3eea58536e3e5ce/lib/ansible/modules/cloud/azure/azure_rm_networkinterface.py#L617

you'll see the difference.  Though, I'm not sure how to make my `ansible-pl

[2019-01-18 20:00] ObviusOwl commented on #50009
2.7.6 fixed this on Linux Mint 19.1, output:

[code]

[2019-01-18 20:19] mjdavies commented on #32886
I can confirm that this is still an issue version 2.7

ansible 2.7.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/Users/matt/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7.15 (default, Sep 18 201

[2019-01-18 20:21] ikhan2010 commented on #37366
@benjdudas @celebloki  any update?  Can we close this issue?

[2019-01-18 20:43] ssbarnea commented on #15599
Few years later I end up to the same ticket but for a different reason: I want to get the list of all environment variables from the controller, like a `lookup('env', '*')` kind of query which should return a dictionary.

Now I know well that I cannot use ansible_env even if current host is localhost because it would not expose me to the same environment.

I am still looking for a solution for thi

[2019-01-18 21:09] bcoca commented on #51038
this works as set in variable precedence documentation:
https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

'last writer wins' is when both 'writers' have the same precedence

[2019-01-18 21:16] samdoran commented on #38206
Duplicate of #50947

[2019-01-18 21:16] bcoca commented on #51053
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-01-18 21:16] #51053 closed, assigned to nobody

[2019-01-18 21:35] marwatk commented on #51038
Totally missed that and it explains it. Thanks!

[2019-01-18 21:35] #51038 closed, assigned to nobody

[2019-01-18 23:41] dagwieers commented on #51063
Good point, this is breaking backward compatibility. However IMO the intention was to only have case-sensitive choices and we are actually closing a bug here (wrt. Python's behaviour).

But that doesn't mean we have to break it like this. The obvious solution here is to allow for case-insensitive matching and provide a warning (for 4 releases) before making it case-sensitive.

[2019-01-19 01:20] nitzmahone commented on #50443
You don't, but with what you're doing above, the local connection is using /usr/bin/python, not the venv. We don't (currently, it's been discussed) try to inject the controller's Python interpreter when using local_action/localhost (for various reasons). You need to set `ansible_python_interpreter` to `/path/to/my/venv/python` to use the same one the controller's using (I'd suggest doing it in you

[2019-01-19 02:59] bcoca commented on #30197
there is no progress output, all modules just return output at the end of the run.

we do have plans for a feature to return 'live' output but that is still on the drawing board.

i'm going to close this for now as it is a subset of the feature mentioned above.

[2019-01-19 02:59] #30197 closed, assigned to nobody

[2019-01-19 03:02] bcoca commented on #30221
As we document in the copy module itself, the content option is not well suited to handle precise formatting, use the template module instead.

[2019-01-19 03:02] #30221 closed, assigned to nobody

[2019-01-19 03:06] dagwieers commented on #51022
@Lunik Agreed, some of those can be fixed by adding aliases. But others require common functionality to be included, and I support a PR bringing this into line.

BTW The standardized parameter for Ansible is `validate_certs`.

[2019-01-19 03:12] dagwieers commented on #51022
It could be beneficial to create a community around the Gitlab modules to collaborate (make decisions, review code and approve of PRs to get them merged). If you are interested and need help getting this going, let me know.

[2019-01-19 03:20] bcoca commented on #29190
closing as per above as this was already implemented

[2019-01-19 03:20] #29190 closed, assigned to nobody

[2019-01-19 03:29] #15519 closed, assigned to nobody

[2019-01-19 03:35] bcoca commented on #14940
Since making lookups execute across machines requires them to 'be tasks', I'm going to close this issue and suggest to use/create modules that accomplish what is needed or via 'local facts' as suggested above.

[2019-01-19 03:35] #14940 closed, assigned to nobody

[2019-01-19 03:37] bcoca commented on #18131
Since this is a hard limitation on what a play is and how hosts work, I'm going to close this issue as we don't see this feature being implemented.

[2019-01-19 03:37] #18131 closed, assigned to nobody

[2019-01-19 03:40] bcoca commented on #37364
closing as per above

[2019-01-19 03:40] #37364 closed, assigned to nobody

[2019-01-19 03:41] #49951 closed, assigned to nobody

[2019-01-19 07:08] hannseman commented on #49199
`user` should really not be defaulted to `root`. I think we should try and find a way to have it be `None`.

 In my opinion defaulting to root can be a great security risk where users have built images with a custom user only to have the container run as root by default. I only caught this because the official memcache image refuses to run as root. If it would be considered insecure breaking backw

[2019-01-19 09:04] lahwaacz opened #51096 "pacman module does not allow specifying repository for a package"
##### SUMMARY
pacman supports specifying a repository from which a package should be installed using a `repo/package` syntax, e.g. `pacman -S testing/foo`. With Ansible it is not possible to specify `repo/pkgname` as the package name, because the module runs `pacman --query --info repo/pkgname` first to check if the package is already installed, but `repo/pkgname` doesn't make sense for `--query`.

[2019-01-19 12:33] felixfontein commented on #49199
I think we all fully agree that the current situation isn't good :)

I guess we cannot do anything for versions before 2.8 anymore (that's only 2.7.x, since the module wasn't there in 2.6). Having the possibility to write `user: null` is already there in 2.7.x, so users aware of the problem can at least work around it.

What we can do is break backwards compatibility for 2.8. In general we shouldn

[2019-01-19 13:29] nkakouros opened #51097 "Unable to use gcp_compute_instance_facts"
##### SUMMARY

`gcp_compute_instance_facts` and possibly other `gcp_*_facts` modules seem to not return proper arrays. Thus, looping on the result is not possible (at least not obvious).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_instance_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux latest

##### STEPS TO REPRODUCE

[c

[2019-01-19 13:30] tterranigma commented on #46488
I think this bug is resolved.

[2019-01-19 13:41] nabheet opened #51098 "k8s module fails to create ConfigMapList"
##### SUMMARY
k8s module fails to create a config map list defined as such https://raw.githubusercontent.com/coreos/prometheus-operator/master/contrib/kube-prometheus/manifests/grafana-dashboardDefinitions.yaml.

[code]
It is missing the metadata field. I am not sure if this is an issue with the ansible module or with the openshift python client.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAM

[2019-01-19 13:54] rismalrv commented on #41393
@samdoran
I already test your pull request, it works :D

For people that doesn't have the luxury to using cutting edge ansible
below task "maybe" solve the issue
`
- name: "Create parent folder for nested home dir"
  file:
    path: "{{ user_home_dir.rsplit('/',1)[0]  }}"
    state: directory
    mode: "u=rwx,g=rx,o=rx"
  when: user_home_dir.split("/") | length  > 3
`

[2019-01-19 14:30] sdigit commented on #46488
Yes it is.

[2019-01-19 14:30] #46488 closed, assigned to nobody

[2019-01-19 16:11] dannyk81 commented on #50009
Confirm issue has been fixed for CoreOS in Ansible 2.7.6.

Thanks!!!

[2019-01-19 16:13] snemir2 commented on #42532
in same account, i have  buckets in multiple regions.   I tried it twice, with setting "region" in profile to us-east-1 and ap-southeast-1 -- works both cases just fine.

Same does not work in ansible though.

<<<<policy>>>>

<<<<policy>>>>

[2019-01-19 16:46] pcfe commented on #46963
Having this would be greatly appreciated.

I just ran into a case where I could not use the yum_repository module to set up repos for dnf; The setting for using deltaRPM differs between `yum` and `dnf`. So a module to properly manage dnf repositories would be very helpful (I'll temporarily help myself with other Ansible means).

I am happy to test once there is a `dnf_repository` module.

Things I

[2019-01-19 18:34] scottsb commented on #18067
@bcoca I concur with @candlerb. My comment was confusing. When I said "it" was fixed, I meant my original comment about the behavior regression in 2.4, not the original issue here.

[2019-01-19 19:42] kbreit opened #51101 "meraki_device - Add support for querying performance score"
##### SUMMARY
Meraki added support for querying performance scores of primary MX devices. Ansible should be able to query this information.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki_device

[2019-01-19 19:44] kbreit opened #51102 "New module - meraki_content_filter"
##### SUMMARY
Meraki added support for MX appliance content filtering rules. A new module should be developed for these rules and categories.

https://api.meraki.com/api_docs#return-the-content-filtering-settings-for-an-mx-network

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2019-01-19 21:27] #49832 closed, assigned to nobody

[2019-01-19 22:55] livetheenergy commented on #6363
I stumbled upon a similar issue a couple of times, and after disabling the Control Master I figured out that working through Cygwin required to have the Python executable into /user/bin/ instead of /user/local/bin/, So in those cases I got Ansible able to work thanks to a quick trick:
cp /usr/local/bin/python /usr/bin/

best wishes

[2019-01-20 01:14] nabheet opened #51105 "'items' key in jinja2 filter selectattr not working"
##### SUMMARY

While attempting to filter a list of dictionaries on the key `items`, selectattr does not work. It does not filter the list of dictionaries.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

selectattr

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.5.1804 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2019-01-20 01:42] kbreit opened #51107 "digital_ocean_tag deletion isn't idempotent"
##### SUMMARY
`digital_ocean_tag` can delete tags but it appears the action isn't idempotent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
digital_ocean_tag

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS 10.13

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
`delete_tag_idempotent.changed` should be false and the second task should show as

[2019-01-20 09:07] nqb commented on #51078
The latest version available on Vagrant Cloud is 3.3.3: https://app.vagrantup.com/ansible/boxes/tower

[2019-01-20 13:55] kesor opened #51108 "Add AWSRetry to AWS modules where it is still missing"
##### SUMMARY
The `AWSRetry` module provides the `backoff`, `exponential_backoff` and `jitter_backoff` methods to handle AWS API Throttling errors by retrying the call repeatedly with pauses.

Some AWS cloud modules have been adapted and changed to include the use of `AWSRetry`, while others are still missing this module.

List of modules that are yet to use `AWSRetry`:

[code]

We have been exper

[2019-01-20 14:38] dagwieers commented on #29715
This should be fixed by #26258
Please verify !

[2019-01-20 14:38] dagwieers commented on #29715
resolved_by_pr #26258

[2019-01-20 14:42] #29715 closed, assigned to nobody

[2019-01-20 14:45] Akasurde commented on #51105
@nabheet Thanks for reporting this issue. Ansible is using `selectattr` filter from Jinja2 - [here](https://github.com/pallets/jinja/blob/9fe9520f2daa1df6079b188adba758d6e03d6af2/jinja2/filters.py#L1187). Also, if you change `items` to some other key then your example playbook works. I am not sure why `items` is not working with `selectattr`.

Here is my attempt

[code]

Console log

[code]

[2019-01-20 16:52] nabheet commented on #51105
I probably should have opened this issue with Jinja2. I think the issue is that python dictionaries have a built in function called items and somehow selectattr is not distinguishing between a key called items vs a function called items.

The problem is that when I load yanl documents that have a key called items and I needed to filter out the ones that have items in them like this https://github.

[2019-01-20 16:52] #51105 closed, assigned to nobody

[2019-01-20 18:15] enablex3 commented on #19584
Try to include the password for your target machine within your hosts file.
Typically, you will need to have had an existing ssh connection which
generates an RSA key for your host and your local machine. Try ssh into the
host then run ansible again.

On Sun, Jan 20, 2019 at 11:22 AM Venkata Bhanusree Vadlamudi <
notifications@github.com> wrote:

[2019-01-20 19:53] marcjay commented on #44065
Hi, is there any update on the attempted fix for this? It looks like the PR just needs a review? Cheers

[2019-01-20 19:56] chopraaa commented on #51107
Works as intended I think. Deletion isn't supposed to be idempotent.

[2019-01-20 19:58] chopraaa commented on #51063
That makes sense.

👍

[2019-01-20 20:54] infinityflame opened #51114 "using variable from one play to another"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-01-20 20:54] #51114 closed, assigned to nobody

[2019-01-20 21:47] Bhanuvadlamudi commented on #19584
When I use the ssh command from my local terminal I am unable to connect to the ec2 instance. However when I run the ansible script I get the error.

34.201.109.32 | UNREACHABLE! => {
"changed": false,
"msg": "Failed to connect to the host via ssh: ubuntu@34.201.109.32: Permission denied (publickey).\r\n",
"unreachable": true
}

[2019-01-20 22:37] ryanmerolle commented on #50027
Has this been released yet?  I just checked with 2.7.6 and I still see:

[2019-01-21 02:19] PikachuEXE commented on #49114
Through #51042 I found that
the behaviour change should be introduced in https://github.com/ansible/ansible/pull/41058/files#diff-9096f75d04336bad7cb826e8ac70341eL138