[2021-08-31 17:15] spanezz opened #75608 "Undefined behaviour when using submodules and '.git' is present anywhere in the repo path"
### Summary

See: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/git.py#L760 :

[code]

the intention of this code seems to be to strip `.git` from the end of the path.

If the repo path contains `.git` anywhere, like `/tmp/music.gittern/myrepo`, tasks will unexpectedly fail:

[code]

For a playbook like:
[code]

I can't tell if this is a potential security issue or just an unex

[2021-08-31 18:07] Apteryks commented on #75579
Not to be pendantic, but which part of POSIX specifies that?  From what I can gather from the Internet, "If the first line of a file of shell commands starts with the characters "#!", the results are unspecified." (see: https://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html); the discussion at https://unix.stackexchange.com/q/569964/82353 led me to this link.

[2021-08-31 21:38] spanezz opened #75609 "git module verifies signatures after the repo has already been updated"
### Summary

I would expect that if some changes are not signed, ansible would leave my working copy unchanged to the last verified version.

Instead, since `verify_commit_sign` is called at the end of all operations, even if it will fail, working copies will have been updated.

This may mean that a failed playbook might cause production code to get updated to an untrusted/unverified version. Depe

[2021-09-01 02:17] sugitk commented on #63871
Today another customer has reported the `stuck` issue that may related to this sshpass problem.

Is there any blocker that we cannot have been making improvement to solve the issue?

[2021-09-01 05:05] holynakamoto opened #75611 "AnsiballZ_software.py not finding base64 module from the python standard library"
### Summary

When I run the ansible-playbook to upgrade junos software I am seeing the following:

[code]

### Issue Type

Bug Report

### Component Name

Task: Upgrade Junos OS

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

ProductName:	macOS
ProductVersion:	11.5.2
BuildVersion:	20G95

### Steps to Reproduce

[code]

### Expected Results

I expected to see junos ve

[2021-09-01 05:59] #75580 closed, assigned to nobody

[2021-09-01 06:02] holynakamoto commented on #75611
updated

[2021-09-01 06:15] mkrizek commented on #75611
Please provide contents of `upgrade_4300.yaml` to show us how to reproduce the issue.

Also the traceback `ModuleNotFoundError: No module named 'base64'` does not appear to be an issue in Ansible but rather with how you run the Ansible's module, that is under the Python's `trace` module.

Also also, the output you have provided indicates that you are using https://galaxy.ansible.com/juniper/device

[2021-09-01 06:26] devon-mar opened #75612 "Unexpected exception when validating a role argspec when a dict with suboptions is expected but a str is given"
### Summary

An exception is thrown when an argspec expecting a dict with suboptions is given a string.
This only occurs when the argument in the argspec has suboptions.

### Issue Type

Bug Report

### Component Name

module_utils/common/parameters.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8

### Steps to Reproduce

`meta/argument_specs.yml`
[code]
Pla

[2021-09-01 06:59] tabacha commented on #75156
Hi,
I have the same bug.

[code]

test1.yml
[code]

roles/test1/main.yml
[code]
roles/test1/delegate.yml
[code]

test_inventory.yml
[code]

[code]
See: [ansible-playbook-vvv.txt](https://github.com/ansible/ansible/files/7088898/ansible-playbook-vvv.txt)

[2021-09-01 07:44] #17151 closed, assigned to nobody

[2021-09-01 07:48] mkrizek commented on #75589
I created a backport pull request https://github.com/ansible/ansible/pull/75614 for `2.11` release which still receives general bug fixes (as opposed to `2.9` and `2.10`, see https://docs.ansible.com/ansible/devel/reference_appendices/release_and_maintenance.html#ansible-core-release-cycle).

Since this has been fixed I am going to go ahead and close this.

If you have further questions please sto

[2021-09-01 07:48] #75589 closed, assigned to nobody

[2021-09-01 08:04] barajus commented on #75589
Thanks :)

[2021-09-01 08:59] chmduquesne opened #75616 "loop_var is taking precedence over variable defined in the var block of the task"
### Summary

With ansible-playbook 2.9.6, I am unable to override a loop_var for a specific task using a var block. This breaks the promise made by the [documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#understanding-variable-precedence):

I would expect the inner var block scope to take precedence over the outer loop_var scope.

I believe this bug was intr

[2021-09-01 12:57] hunleyd opened #75618 "searching the site doesn't respect the version of the docs you're viewing"
### Summary

When viewing the 2.9 docs, entering any search term leads to results that point at 'latest' instead of pointing at the 2.9 version. For example:
* load https://docs.ansible.com/ansible/2.9/index.html
* enter 'apt' into the search box
* click search
* the link for the apt module in search results is https://docs.ansible.com/ansible/latest/collections/ansible/builtin/apt_module.html not

[2021-09-01 13:10] holynakamoto commented on #75611
Sorry this should have been open in the https://github.com/Juniper/ansible-junos-stdlib

[code]

[2021-09-01 13:15] mkrizek commented on #66894
Closing per above. If the issue persists, please open a new issue with a simple reproducer including a package to test against.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-09-01 13:15] #66894 closed, assigned to nobody

[2021-09-01 13:18] #22352 closed, assigned to alikins

[2021-09-01 13:18] #20128 closed, assigned to bcoca

[2021-09-01 13:29] holynakamoto commented on #75611
Opened a duplicate issue with the Juniper Library since both sets of libraries have the same failure. https://github.com/Juniper/ansible-junos-stdlib/issues/567

[2021-09-01 13:34] mkrizek commented on #75611
There are no modules for junos in this repository, all such modules have been moved to a collection(s).

I indicated above that `No module named 'base64'` is likely not relevant since it does not come from Ansible but from running under `trace` Python module.

[2021-09-01 13:39] holynakamoto commented on #75611
@mkrizek I see both sets of modules are maintained by Juniper.  I will close this out.

[2021-09-01 13:39] #75611 closed, assigned to nobody

[2021-09-01 13:44] sivel commented on #75616
It's not exactly documented, but the `loop_var` is what is called an "include param".  If you look at the [precedence documentation](https://docs.ansible.com/ansible/2.9/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable) you will see that `include params` (21) has a higher precedence than `task vars (only for the task)` (17).

As a result, `loop_var` will always

[2021-09-01 13:53] chmduquesne commented on #75616
Ok. Meanwhile, I tested this code with older versions of ansible, and it sounds like ansible used to err when one attempted to redefined a loop variable. This is the result of running a variation of this code (not with `loop` but with `with_items`) under ansible 2.5:

[code]

Maybe it would be nice to at least warn?

[2021-09-01 13:53] #75616 closed, assigned to nobody

[2021-09-01 15:27] bcoca commented on #54488
something like this should fix the issue, or should i make it a set to ensure unique items?
[code]

[2021-09-01 16:36] #75528 closed, assigned to nobody

[2021-09-01 18:45] sivel commented on #75618
Duplicate of https://github.com/ansible/ansible/issues/72106

[2021-09-01 19:19] hunleyd opened #75624 "misleading examples in getent documentation"
### Summary

While reading the online docs for the `getent` module, all the examples show various `debug` statements like:
[code]
However, this only works if `inject_facts_as_vars = true`. The examples should, instead, show:
[code]
The second works regardless of the `inject_facts_as_vars` value.

### Issue Type

Documentation Report

### Component Name

ansible.builtin.getent

### Ansible Version

[2021-09-01 19:28] sivel commented on #75624
This is a much bigger problem than just this single module.  Injected facts have existed for so long and are so wide spread, that they probably out number use of `ansible_facts` throughout much of our docs in both `docs/docsite/rst` as well as module documentation.

[2021-09-01 20:21] #41032 closed, assigned to nobody

[2021-09-02 04:23] Smelly-calf opened #75625 "ansible 2.9 unsupport apply variable: include_role 'apply' is undefined"
### Summary

'apply' is undefined

### Issue Type

Bug Report

### Component Name

include_role

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Linux CentOS 7.2

### Steps to Reproduce

[code]

### Expected Results

success

### Actual Results

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-09-02 05:44] commonism opened #75626 "ansible_interface does not report the address for macvlan interfaces"
### Summary

Ansible fails to detect the ip address of an macvlan device on linux due to improper use of the ip address show command.

Lines of code related:
https://github.com/ansible/ansible/blob/2cbfd1e350cbe1ca195d33306b5a9628667ddda8/lib/ansible/module_utils/facts/network/linux.py#L258-L259

It has to be "ip address show dev home", "ip address show <name>" does not work for all types of inter

[2021-09-02 09:18] Smelly-calf commented on #75625
zookeeper.yaml
[code]

roles/zookeeper/tasks/main.yaml
[code]

[2021-09-02 09:18] Smelly-calf commented on #75625
see above

[2021-09-02 09:56] mkrizek commented on #75625
The error you got is expected, there is no such thing as `apply.tags`, `apply` is not exposed as a variable. The `apply` keyword applies tags (in your example, but it is not limited to tags) to each tasks within the role that is included.

What is it that you want to achieve?

needs_info

[2021-09-02 12:13] SpComb commented on #16973
I suppose the issue comes down to how the patterns and their intersection/union/exclusion operations are oredered, with Ansible forcing a specific evaluation order in [`_evaluate_patterns`](https://github.com/ansible/ansible/blob/90518d8bb5b82827829e364696c326e31c6b3c74/lib/ansible/inventory/manager.py#L428) -> [`order_patterns`](https://github.com/ansible/ansible/blob/90518d8bb5b82827829e364696c3

[2021-09-02 12:22] SpComb commented on #16973
Looks like the host pattern ordering was introduced a long time ago, but the issue/pr doesn't really open up the rationale:
* https://github.com/ansible/ansible/issues/3500
* https://github.com/ansible/ansible/pull/3794

[2021-09-02 14:57] cjineson commented on #75531
I had same issue on core 2.11.3, where ansible-galaxy run using only local Git dependencies would result in a minute hang with the following visible using -vvvv:

```Calling Galaxy at https://galaxy.ansible.com/api/```

I managed to work around it by adding an accessible, valid https url (albeit not an actual galaxy server) to ansible.cfg, e.g.
[code]

Happily carries on regardless now & installs

[2021-09-02 15:30] bcoca commented on #75625
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.
There is no feature that supplies an `apply` variable that can be queried.

In the future, this might be a topic more well suited for th

[2021-09-02 15:30] #75625 closed, assigned to nobody

[2021-09-02 17:34] ryanmerolle opened #75632 "ansible-galaxy collections outdated argument"
### Summary

It would be nice either given a requirements.yml file, the currently installed ansible-galaxy collections, or some sort of search argument to check where new versions of collections exist.

This could be achieved via different means such as:

- `ansible-galaxy collections search netbox.netbox`
- `ansible-galaxy collections list --outdated`
- `ansible-galaxy collections -r requirements

[2021-09-02 17:55] lowercase00 commented on #75572
@nitzmahone I'm guessing this should be challenging for you guys since it would directly affect the logic behind the engine that deals with the CLI. I even considering making something like "PyAnsible" to help interact with the source code, so would be great to hear your thoughts and insights regarding the challenges and why this hasn't been incorporated in Ansible's plans yet. Thanks!

[2021-09-02 19:07] bcoca commented on #75608
line should be an endswith not replace

[2021-09-02 19:11] rowanthorpe commented on #34853
I had what looks like an identical connection issue (I hope I have not misunderstood the bug and should be commenting elsewhere?), and the resolution for me was similar to the one reported by @andeschau in that the connection was being held open beyond the 10s timeout, but it was different in terms of root cause. Rather than getting stuck waiting for the `gssapi-with-mic` 30s timeout my problem wa

[2021-09-02 19:27] #75624 closed, assigned to nobody

[2021-09-02 19:43] #75606 closed, assigned to nobody

[2021-09-03 10:21] fabrepe opened #75637 "Replace option of config is invalid for iosxr_config"
### Summary

Ansible raises an "invalid value" error when calling the iosrx_config module with "config" value to the `replace` key (similar to https://github.com/ansible/ansible/issues/61631 which has been closed without being solved)

### Issue Type

Bug Report

### Component Name

iosxr_config

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Debian 11
cisco IOS XRv

[2021-09-03 10:32] #75637 closed, assigned to nobody

[2021-09-03 12:02] zaphodb1891 opened #75639 "ansible_virtualization_type undefined - Solaris"
### Summary

We have both Solaris 11 and RHEL 7 VMs running on the **same** Xen platform.

We find that the facts ...

    ansible_virtualization_role
    ansible_virtualization_type

... are defined on the RHEL VMs, but **not** the Solaris 11 machines.

The same behavior is seen on ...

ansible 2.10.12
ansible 2.9.8

In Solaris, the platform type can be seen via the command:  prtdiag

Example

[c

[2021-09-03 14:25] amankumarchagti opened #75640 "Password-based SSH Authentication is not working"
### Summary

I'm using ansible version 2.9.11 and when I run the playbook, it says the following error:

**fatal: [x.q.a.x]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: no such identity: /home/seconize/.ssh/abc/xyz: No such file or directory\r\nxyz@x.q.a.x: Permission denied (publickey).", "unreachable": true}**

I've mentioned the password in the inventory fi

[2021-09-03 14:37] amankumarchagti commented on #75640
!component

[2021-09-03 14:44] mkrizek commented on #75640
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appr

[2021-09-03 14:44] #75640 closed, assigned to nobody

[2021-09-03 15:00] Andersson007 opened #75641 "The Ansible Contributor Summit 09.21 registration is open"
### Summary

We are happy to announce that the [registration](https://ansiblecs202109.eventbrite.com/?aff=github) (free) for the Ansible Contributor Summit is open.

The Summit will consist of two days - before and after two days of the [Ansible Fest](https://www.ansible.com/ansiblefest) that will also happen virtually this year.

Which day should you attend?

##### Day 1 (Tuesday, September 28)

[2021-09-03 15:01] Andersson007 commented on #75641
bot_skip

[2021-09-03 15:14] s-hertel commented on #45707
We discussed this in backlog today and recommend signing the keys with a CA as @bcoca suggested here https://github.com/ansible/ansible/issues/45707#issuecomment-422194304. Closing as per above, but feel free to reach out on IRC or the mailing list to discuss further if it doesn't meet your use case.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/

[2021-09-03 15:14] #45707 closed, assigned to ganeshrn

[2021-09-03 15:23] s-hertel commented on #71690
We discussed this in backlog today and have no plans to implement this feature. Closing as per sivel's comment above. Feel free to reach out on IRC or the mailing list if you'd like to discuss further.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-09-03 15:23] #71690 closed, assigned to nobody

[2021-09-03 15:24] s-hertel commented on #70357
Closing as per above

[2021-09-03 15:24] #70357 closed, assigned to nobody

[2021-09-03 15:28] s-hertel commented on #31594
We discussed this in backlog today and don't plan on implementing this feature, since you can achieve this by other means. You could use `diff: True` to see the before state, for example. Feel free to reach out on IRC or the mailing list if you'd like to discuss further.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-09-03 15:28] #31594 closed, assigned to nobody

[2021-09-03 15:33] s-hertel commented on #31494
We discussed this in backlog today and don't plan on changing the default for a niche case. This would be a backwards incompatible change.

[2021-09-03 15:33] #31494 closed, assigned to nobody

[2021-09-03 15:39] s-hertel commented on #35942
Closing as per above. This was fixed on recent versions by https://github.com/ansible/ansible/pull/63351.

[2021-09-03 15:39] #35942 closed, assigned to HD650

[2021-09-03 15:45] s-hertel commented on #71758
This is fixed on 2.10, so I'm closing it as per above. Please open a new issue with reproducer if you're experiencing this on recent versions.

[2021-09-03 15:45] #71758 closed, assigned to maxamillion

[2021-09-03 15:57] s-hertel commented on #25678
You can use something like
[code]
Or compressed:
[code]
as a workaround

[2021-09-03 15:59] s-hertel commented on #25678
We discussed this in backlog today and don't plan on implementing the feature since there are workarounds. We may revisit in the future once data tagging is possible.

[2021-09-03 15:59] #25678 closed, assigned to nobody

[2021-09-03 18:27] jnm27 opened #75642 "Role does not get called when calling include_role as the last task in an always block after a failure, with the free strategy"
### Summary

When include_role is the last task in an "always" block after a failure, the role does not get executed. When an additional task is after the include_role, both the role and the last task get executed.

I found that this only happens with the free strategy and not the linear strategy.

### Issue Type

Bug Report

### Component Name

ansible/plugins/strategy/free.py

### Ansible Versio

[2021-09-04 11:58] chn42 opened #75643 "multiline include_tasks breaks loading from role tasks directory"
### Summary

When I try to stick to yaml lint recommendations, multiline include_tasks breaks loading task files from the role tasks directory.

### Issue Type

Bug Report

### Component Name

include_tasks

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

ansible on MacOS 11.5.2
target host Debian 11

### Steps to Reproduce

[code]

playbook
[code]

This does work:
[c

[2021-09-05 00:04] megamorf commented on #19232
I'm also affected by this. The program that does the validation does accept a custom config file path but needs to parse the file extension to decide which config parser it needs to apply (toml/hcl/json/yaml). If I had the chance to specify the extension of the tmp file this would be resolved.

[2021-09-05 05:21] flowerysong commented on #75643
This is not a bug.

Your tasks are both valid YAML, but they are not equivalent.

You can see this in the output:
[code]

You've added a newline at the end of the string, so it's looking for a different filename. You should use the stripped form to remove the trailing newline:
[code]

[2021-09-06 00:23] chn42 commented on #75643
I've not added anything beside the '>\n' in the key line immediately after include_tasks.

I'd expect the tasks_include module to take care about the "\n" you've mentioned because this can't be handled in YAML since there is no encoded newline.

[2021-09-06 00:54] flowerysong commented on #75643
It can be handled in YAML, I showed you exactly how to do it.

[2021-09-06 01:02] chn42 commented on #75643
I shouldn't write at almost 3am, I totally oversaw the >- in your comment. I'm sorry for my late night ignorance m(

[2021-09-06 01:03] #75643 closed, assigned to nobody

[2021-09-06 09:51] gsikorski commented on #75408
Any update on this issue?

[2021-09-06 21:11] netview1223 commented on #48352
nice solution

[2021-09-06 22:26] timothyhull commented on #75503
@yarokifor, I tested your suggestion and it does correct the problem. Like you, I've no idea what sorts of unintended issues this change may cause. In any case, thank you very much for the idea.

---

**Changed file:**
'/opt/ansible210/lib/python3.8/site-packages/ansible/module_utils/common/json.py'

**Changed Line 47 from:**
[code]

**To:**
[code]

With `vault_to_text` changed to `True` the Ansib

[2021-09-07 04:51] #75072 closed, assigned to nobody

[2021-09-07 10:18] KvistA-ELS opened #75646 "String encrypted with ansible-vault encrypt_string will be false if evaluated with `is string`"
### Summary

If I encrypt a string with ansible-vault and tests if it's a string, it will return false. Even though printing it works just fine. It looks like it's not decrypted if it's being evaluated with `is string` or like.

### Issue Type

Bug Report

### Component Name

ansible-vault

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Tested on Ubuntu and CentOS

#

[2021-09-07 10:21] mkrizek commented on #75642
TLDR: I verified this. The following diff is a possible fix, I will continue working on this and send a pull request.
[code]

**When** this happens: a few conditions must be met to reproduce the issue:
* the free strategy is used
* a failure in the block section
* either no rescue section or a failure in the rescue section
* an include (either `include_tasks` or `include_role`) is the last task of

[2021-09-07 10:47] felixfontein opened #75647 "[2.9] Import sanity tests on Python 3.8 always fail"
### Summary

For the stable-2.9 branch, the import sanity test for Python 3.8 is always failing: installation of coverage==4.5.4 fails with "error in coverage setup command: use_2to3 is invalid."

This is likely caused by a new setuptools release (https://setuptools.readthedocs.io/en/latest/history.html) from yesterday (`#2769: Build now fails fast when use_2to3 is supplied.`)

Example:
- https://

[2021-09-07 11:32] mkrizek commented on #75646
The type of the encrypted string is `AnsibleVaultEncryptedUnicode` and while it fails the `is string` test it is considered a string. There is an integration test that tests a lot of string operations on `AnsibleVaultEncryptedUnicode` in https://github.com/ansible/ansible/blob/devel/test/integration/targets/ansible-vault/single_vault_as_string.yml. There is an explanation why `is string` does not

[2021-09-07 11:40] KvistA-ELS commented on #75646
Hi @mkrizek

I'm trying to use a 3rd party role that uses `is defined` and `is string` on a password to check it before trying to use it. Don't know what the thoughts have been - just hit this issue cause I wanna store the password in ansible-vault :/

I would have imagined that if the vault variable were accessed for `is string` it would be decrypted and then be a string. I don't see why it would

[2021-09-07 12:45] Kawabaumga opened #75648 "Bug on become module on Centos 7.9.2009"
### Summary

I have the following directories :

[code]

I try to empty the /var/log/pika directory with the become instruction.

I have the following error:
[code]

### Issue Type

Bug Report

### Component Name

become

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

MacOS BigSur 11.5.1

### Steps to Reproduce

[code]

[code]

or
[code]

### Expected Results

The di

[2021-09-07 15:39] mattclay commented on #75647
@briantist Are you using `--coverage` or `--coverage-check` and using the `default` container with the `--docker` option?

[2021-09-07 15:43] voidplayer commented on #16305
https://xkcd.com/974/

[2021-09-07 15:45] sivel commented on #75648
It appears as though you have a custom `sudo` command, that is not compatible with standard sudo invocation:

[code]

That error seems to indicate that a tmp file was executed, and on line 8 contained `-H` as a command to be executed.

I recommend determining what the `sudo` command is that is being executed and determine why it is not functional.

Based on previous reports, I believe this is a du

[2021-09-07 15:46] briantist commented on #75647
@mattclay yes generally (using default container for everything at the moment), though I think not using `--coverage` with `sanity` (should I be? It was not included in the template, I figured that was for a reason but now I wonder...)

[2021-09-07 15:48] mattclay commented on #75647
@briantist Yes, the sanity tests should be run with `--coverage` (if you're collecting code coverage). The template skips coverage for sanity tests, but it should not. However, not running with `--coverage` avoids the issue with `setuptools`.

[2021-09-07 15:55] mattclay commented on #75647
The change to `setuptools` was requested in https://github.com/pypa/setuptools/issues/2769
The PR implementing the change was https://github.com/pypa/setuptools/pull/2770
There is an issue reporting problems caused by the change https://github.com/pypa/setuptools/issues/2775

[2021-09-07 16:41] raspla opened #75650 "Install latest tagged version/release of a role/collection with ansible-galaxy"
### Summary

By default, ansible-galaxy uses the default branch in a repository when installing roles/collections from scm. It is possible to set the version based on tags, hash or branch, but it is not possible to automatically use the latest tagged version/release.

It would be helpful if you could automatically get the latest version with an scm as the source, as is the default when installing

[2021-09-07 17:04] Kawabaumga commented on #75648
Hi @sivel
You are right. I realized too late that it is related to devtoolset-8 and not ansible
The workaround is to use "become_exe" or "ansible_become_exe" vars

[2021-09-07 17:04] #75648 closed, assigned to nobody

[2021-09-07 17:13] joelwking commented on #75503
Thanks for testing the suggested change. Wouldn't it be prudent to have the calling function override the existing default value of `False` to `True` rather than change the default specified in the __init__?

[2021-09-07 20:36] felixfontein commented on #75647
Fixed by #75651.

[2021-09-07 20:36] #75647 closed, assigned to nobody

[2021-09-07 22:46] timothyhull commented on #75503
Yes, absolutely.  I'm not familiar with much of the source code, and ran out of time to figure out which calling function requires the argument default override.  I will try to figure it out, and see if I can get an idea of whether or not the change might result in unintended side effects.

[2021-09-07 23:17] PenelopeFudd opened #75652 "There are two different documentation pages for "ansible.builtin.file"?"
### Summary

When I needed the syntax of the 'file' module, I went to https://docs.ansible.com/ansible/latest/index.html, searched for 'file', and clicked on the first link for 'ansible.builtin.file'.  However, that page was missing a lot of parameters that I knew had to be there, so I became greatly confused; perhaps I was reading the documentation for a much older version of Ansible?

Eventually

[2021-09-08 05:25] tabacha commented on #75156
Found one detail:
**group_vars/occ1_ham1_controller.yml** was a line:
[code]
because a OpenStack Role failed when ansible_host is undefined

Unsure if this is a bug or not. However this was suprising to us.

[2021-09-08 11:45] samccann commented on #75652
Oh interesting! Thanks @PenelopeFudd for noticing and opening an issue.  One is the module, the other is a lookup plugin, but nothing in the title helps the reader know the difference.

@bcoca @sivel - what do you think about adding (lookup) to the short description of the file lookup (and any others where the module and other plugin names are identical?  So it would say `read file contents (looku

[2021-09-08 11:47] samccann commented on #75652
Adding @abadger and @felixfontein  - do you see this as a potential problem for users to find a module vs any other plugin type? Should we be adding the plugin type to the short description automagically with antsibull if it isn't a module?  I don't want to complicate anything but figured I'd pop the idea out there.

[2021-09-08 12:01] felixfontein commented on #75652
I wouldn't put it in the short description automatically. How about (one or more of):

1. Finally change "This module is part of ansible-core ..." to "This {{plugin_type}} is part of ansible-core" :)
2. Maybe insert the plugin type after the FQCN, i.e. "ansible.builtin.file lookup – read file contents" vs. "ansible.builtin.file module – Manage files and file properties" (maybe only do it for non-m

[2021-09-08 12:03] dtinth commented on #48352
Debian Buster changed its 'Suite' value from 'stable' to 'oldstable'.

This is a one-off operation you can run this on your hosts:

[code]

[2021-09-08 13:45] bcoca commented on #34853
@rowanthorpe it might not be the same specific issue but it is an example of many ssh generic errors that 'appear' to be the same and as you have shown can be very hard to debug and /or detect.

An alternate solution vs removing the symlink would have been to set the ssh executable path to the Openssh binary using the configuration options of the plugin. https://docs.ansible.com/ansible/latest/col

[2021-09-08 14:13] bcoca commented on #75652
+1 to 1) and 3)

I would not mess with the name nor description.

[2021-09-08 15:02] abadger commented on #75652
I like Felix's proposals.

Question, though: do we need to help users on the page listing the plugins,
the plugin page itself, or both?

On Wed, Sep 8, 2021, 7:14 AM Brian Coca ***@***.***> wrote:

[2021-09-08 15:04] bcoca commented on #75652
i think we need both something on the 'plugin page' and on the search to indicate which type of plugin the result is

[2021-09-08 18:48] PenelopeFudd commented on #75652
I'm a new Ansible user, and so far I've only ever used the file module plugin for copying files around.  I've never seen the file lookup module before, and because it's also called "ansible.builtin.file", I thought it was the same thing.   In looking closer, the only hint I'm getting from the page is in the 'Examples' section; apparently this module is used with jinja2 templates?

Er, does the sec

[2021-09-08 19:00] PenelopeFudd commented on #75652
Heh; I tried to make my example not need a temporary file, and found an edge case for the ansible.builtin.file docs:
[code]
The `<( .. )` turns into `/dev/fd/63:5`, and the task then goes looking for `/dev/fd/files/bar.txt` and `/dev/fd/bar.txt`.

Thanks for your time! :-)

[2021-09-08 20:09] AriLFrankel opened #75658 "Searching through the docs doesn't respect the selected version"
### Summary

When I select the Ansible version in order to see docs from that version, and then I enter search text into the search field and perform a search of the docs, I am shown results that pertain to all versions of Ansible, not only the version that I selected.

### Issue Type

Documentation Report

### Component Name

docs.ansible.com/ansible/2.9

### Ansible Version

[code]

### Configur

[2021-09-08 20:14] sivel commented on #75658
Duplicate of https://github.com/ansible/ansible/issues/75618

[2021-09-08 20:14] #75658 closed, assigned to nobody

[2021-09-08 20:38] samccann commented on #75164
If we list all attributes in a table format, it would look something like the following.
We could add it after parameters:
![image](https://user-images.githubusercontent.com/30267855/132579924-b5e6af5b-8245-49ad-8d66-164f99b5081f.png)

And then the full table (all supported attributes so far) -
![image](https://user-images.githubusercontent.com/30267855/132581892-e27959da-085f-42df-996e-01933be098

[2021-09-08 20:43] abadger commented on #75164
thanks @samccann The second option seems like it's definitely better in my mind.  Showing all of the attributes would be too confusing to a user.  They'd be asking themselves things like "Which of these attributes does the copy module actually change or implement?"

[2021-09-08 20:46] briantist commented on #75164
I kind of like the idea of showing the non-default attributes, and putting the default attributes into an expandable section, so I don't have to have another page open to compare what's changed or not, but can still hide the "noise" of the full table (where most are default values).

[2021-09-08 20:48] felixfontein commented on #75164
I don't think we can do that, resp. we'd have to show "unknown" in the support column for all modules which don't define the standard attributes. Otherwise we might show wrong information, which IMO is a lot worse than showing no information.

[2021-09-08 22:11] abadger commented on #75164
yeah, that table would show up for all modules which extend the shipped-with-ansible  `action_common_attributes` doc_fragment.  (so things like cron, copy, assert would end up with that full table.)

I think if something doesn't implement any attributes with non-default values, then I think we should have an empty attribute section (just the paragraph linking to the full list with defaults).

[2021-09-08 22:16] Jason-MK opened #75660 "How to deploy multiple image using Ansible on VMware"
### Summary

Hello,

I was using Ansible to deploy an image using the following code :

`---
- name: Create a VM from a template
  hosts: '192.168.0.110'
  connection: local
  gather_facts: no
  tasks:
  - name: Clone the template
    vmware_guest:
      hostname: '192.168.0.111'
      username: administrator@vsphere.local
      password: Test123*_
      validate_certs: False
      name: testvm_2

[2021-09-09 05:37] mattclay commented on #74840
@jdejoya17 You can provide custom docker images for `ansible-test` with the `--docker` option.

Support for a custom test host over SSH is being added in: https://github.com/ansible/ansible/pull/75605/

[2021-09-09 05:41] mattclay commented on #73674
This will be fixed by https://github.com/ansible/ansible/pull/75605 since it requires Python 3.8 or later.

[2021-09-09 05:47] mattclay commented on #74398
Closing, since the underlying issue of testing unsupported Python versions has been resolved by https://github.com/ansible/ansible/pull/74408.

[2021-09-09 05:47] #74398 closed, assigned to nobody

[2021-09-09 09:40] mkrizek commented on #75660
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appr

[2021-09-09 09:40] #75660 closed, assigned to nobody

[2021-09-09 11:09] jdejoya17 commented on #74840
@mattclay
cool, when can we expect for this new feature to be added in a new Ansible release?

[2021-09-09 13:06] briantist commented on #73674
nice, I was just going to ask if the "`hacking/env-setup` prefers py2 evenw hen py3 is available" problem was fixed, and found https://github.com/ansible/ansible/pull/75213 so 🎉

[2021-09-09 13:44] ariordan-redhat opened #75663 "Docs: Use code-block elements to format code examples: Developer Guide"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , refer to [Syntax highlighting - Pygments](https://docs.ansible.com/ansible/latest

[2021-09-09 14:47] samccann commented on #75164
So:

1. if a module  extends the `action_common_attributes` doc fragment, we list the nondefault values in a table.
2. If a module includes the `action_common_attributes` doc fragment but doesn't change any values (aka everything is default) - just have the new Attributes section, but with a link to the full list with defaults.
3. If a module does nothing (aka 99% of current modules) - Do we inclu

[2021-09-09 15:04] samccann opened #75664 "Tracking issue - ansible-core 2.12 docs needs"
### Summary

This is an issue to track the documentation needs for the ansible-core 2.12 release. This will link to other issues that have been identified as having documentation needs that have not been completed yet. If you have a documentation need for 2.12, please link to the issue so we can track it here.

### Issue Type

Documentation Report

### Component Name

docs/docsite/rst/roadmap/ROAD

[2021-09-09 15:43] samccann commented on #75664
Docs needs:

- [ ] Follow the Docs release checklist for 2.12 (similar to this isssue from 2.11 - https://github.com/ansible/ansible/issues/74422)
- [ ] backport docs-only PRs to stable-2.12 branch on a weekly basis until release.
- [ ] docs for ansible-test split controller - https://github.com/ansible/ansible/pull/75605#issuecomment-915776089
- [ ] docs pipeline updates for new plugin attributes

[2021-09-09 16:17] bcoca commented on #75652
@PenlopeFudd

FYI `with_file` is an example of using the lookup, that type of loop is `with_<lookup name>` , mostly equivalent of `loop: '{{lookup("name... }'

The output should be reflected in the 'return docs' of each plugin, not all are complete or have examples as some plugins can return very diverse output.

It is not practical for all examples to be 'copy/paste' usable, but we do have a 'sni

[2021-09-09 16:30] scottstensland opened #75665 "awx api doc has disappeared ... please put it back"
### Summary

here is the awx cli doc  URL which has existed for many months

https://docs.ansible.com/ansible-tower/latest/html/towercli/usage.html

now its suddenly GONE
Please put this documentation back online its critical as its the ONLY place to list all awx sub calls with syntax etc

it was the master link which had links to ALL awx functions for example a sub link hanging off above url woul

[2021-09-09 16:44] scottstensland commented on #75665
possibly related I also posted a similar request at your page   https://www.ansible.com/contact-us

after filling in details similar to I outlined above and hit submit to link  https://www.ansible.com/contact-us   that  link errored out showing me

[code]

![ansible_support_submit_errors_out_2021-09-09](https://user-images.githubusercontent.com/60258/132727823-b3a9669b-b30b-4021-b199-1ab6c469e5ba.

[2021-09-09 16:46] scottstensland commented on #75665
here is firefox browser console messages shown after I got above error

[code]

[2021-09-09 16:54] sivel commented on #75665
The maintainers of this repository are not responsible for the tower documentation site.  Please send an email to docs[at]ansible.com to report this.

I have reached out to the docs team just to ensure they are aware.

I'm going to proceed with closing this issue.

[2021-09-09 16:54] #75665 closed, assigned to nobody

[2021-09-09 16:54] sivel commented on #75665
You can access these docs by explicit version currently:  https://docs.ansible.com/ansible-tower/3.8.3/html/towercli/usage.html

[2021-09-09 17:05] zohiba opened #75666 "include params from the list of variable precedence list has no examples"
### Summary

https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#understanding-variable-precedence
shows `include params` in number 21 of the precendence list, but I could not find any example of how it can be used.
I tried it similar to `include_vars` and it does not work

### Issue Type

Documentation Report

### Component Name

https://docs.ansible.com/ansible/latest/use

[2021-09-09 17:27] sivel commented on #75666
Include params are:
1. role params (role params are called out before `include params` but are additionally used in inheritance in defining `include params`)
2. `vars:` from `include_tasks`/`include_role`
3. special loop variables defined by `loop_control.index_var`, `loop_control.loop_var`, and the `ansible_loop` variable exposed by `loop_control.extended`.

[2021-09-09 17:30] abadger commented on #75164
(Note 1:  Attributes can be added by collections as well as core.  I think those attributes should appear on the page listing all attributes as well.)

(Note 2: Since ansible-core freeze is approaching, I just wanted to mention that implementing this needs changes to DOCUMENTATION as the current attributes code doesn't record what the default value is.)

This does have the potential to be confusin

[2021-09-09 19:06] nitzmahone commented on #75639
We're not aware of a standard way to do this on Solaris, nor have the hardware/software to test it on- we might accept a PR, but we're unlikely to fix it ourselves given these limitations.

[2021-09-09 19:15] nitzmahone commented on #75650
There isn't really a standard and supportable way to figure out what "latest" means when poking at a Git repo- if this is something you really need, perhaps a pre-process that interrogates the repo and applies whatever logic is necessary to determine the latest tag, then install from the resultant commit SHA... We don't think there's a standardized way to implement this in the Galaxy CLI itself th

[2021-09-09 19:15] #75650 closed, assigned to nobody

[2021-09-09 19:38] PenelopeFudd commented on #75652
@bcoca

Thanks for the explanation, I'm not sure where I could have looked to find that information.
Long gone are the days when a program's entire documentation fit in a single man page (e.g. 'awk').  😄

I'm so new that I didn't even know about the `ansible-doc` command!  :-/

Will file that separate PR, as mentioned.

Thanks!

[2021-09-09 19:42] PenelopeFudd commented on #75652
Instead of `ansible-doc`, I had written this bash function:

[code]
Not sure if the url will change from time to time, but works for now.

[2021-09-09 19:53] PenelopeFudd opened #75667 "ansible.builtin.file (lookup): bug/unexpected behaviour when reading playbook via process substitution"
### Summary

 I tried to make a test script not need a temporary file, and found an edge case for the ansible.builtin.file (lookup) documentation:

[code]

The <( .. ) turns into /dev/fd/63:5, and the task then goes looking for /dev/fd/files/bar.txt and /dev/fd/bar.txt.

It looks like there's three ways forward:
 * Leave it like that, due to "principle of least surprise"
 * If the file starts with

[2021-09-09 20:06] bcoca commented on #75652
well, one advantage of `ansible-doc` , it ALWAYS reflects the info of the version of Ansible you have installed

[2021-09-09 21:50] olubanjoadetiba opened #75669 "cpanm unable to install module with -f option on ansible-core v2.11.4"
### Summary

While working on ansible-core (v2.11.4) with Python3.8.10, I'm having trouble installing this Perl Modules Image::Magick when the -f (--force) flag is added to the task below. However, other modules were installed successfully. In addition to that, it played successfully on ansible v2.7.12 with python2.7

Task:
[code]

### Configuration

[code]

### OS / Environment

CentOS 7

### Ste

[2021-09-09 21:59] #75669 closed, assigned to nobody

[2021-09-09 22:03] cyru8 commented on #75669
This issue is still unresolved, even after upgrading the collection to 6.3

[code]

[2021-09-09 22:57] PenelopeFudd opened #75671 "ansible-doc: The '-l' option prints loads of deprecation warnings."
### Summary

Running `ansible-doc -l` generates 430 deprecation warnings on stderr before printing anything to stdout.
[code]

### Issue Type

Bug Report

### Component Name

ansible-doc

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 18.04

### Steps to Reproduce

[code]

### Expected Results

I expected to see a list of available plugins, and was shocked to

[2021-09-09 23:34] mattclay commented on #74840
It will be included in Ansible Core 2.12, which is currently [scheduled](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_12.rst) for release on November 8th.

[2021-09-09 23:40] mattclay commented on #74818
This should be fixed by https://github.com/ansible/ansible/pull/75605 -- one of the changes it makes is to return an error if an unsupported Python version is used to run ansible-test.

[2021-09-10 00:02] d3al opened #75672 "nmcli failing to run task"
### Summary

"Failed to import the required Python library (NetworkManager glib API)"
"ValueError('Namespace %s not available' % namespace)\nValueError: Namespace NMClient not available"

Target client - Ubuntu Desktop 20.04 fully updated
Installed the following as instructed.
libnm-dev
network-manager
python3-dbus

Server - Ansible 2.10.13, just upgraded from Ubuntu repo 2.9.6 hoping it would hel

[2021-09-10 00:03] #75672 closed, assigned to nobody

[2021-09-10 10:27] zaphodb1891 commented on #75639
Thanks for your comment, Matt.

Can you tell me exactly how Ansible and/or Python determines the value of the 'ansible_virtualization_type' variable?

If I know this, I might be able to determine root cause, and possibly suggest a solution.

I know that on some Virtualized Solaris environments, this variable is set correctly.

It could be a python issue, but I would need to test the python code th

[2021-09-10 11:05] jistr commented on #74818
:+1: that sounds good, thanks.

[2021-09-10 12:52] ariordan-redhat opened #75675 "Docs: Use code-block elements to format code examples: Community Guide"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.

**Solution:**
Enclose code in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , refer to [Syntax highlighting - Pygments](https://docs.ansible.com/ansible/latest/

[2021-09-10 13:01] brsolomon-deloitte commented on #61671
Can you clarify what you mean by that? Running

[code]

will still fail if the role has tasks that reference a fact.

[2021-09-10 13:38] ariordan-redhat opened #75676 "Docs: Use code-block elements to format code examples: Network guides"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , refer to [Syntax highlighting - Pygments](https://docs.ansible.com/ansible/latest

[2021-09-10 13:50] bcoca commented on #75639
for solaris this is the code that currently handles setting virtualization facts
https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/virtual/sunos.py

[2021-09-10 13:55] bcoca commented on #61671
You need to have fact caching enabled with a plugin that will make them persist across runs (the default, memory, is ephemeral), try jsonfile as it is simple and readable, but you might want to use a shared resource depending on your context (redis, memcached, etc).

[2021-09-10 13:57] AlanCoding opened #75677 "A per-server Galaxy verify_ssl option"
### Summary

I would like to configure several Galaxy servers with a fallback precedence defined by the `ANSIBLE_GALAXY_SERVER_LIST` environment variable...

https://docs.ansible.com/ansible/latest/reference_appendices/config.html#galaxy-server-list

and I would like to have 1 of those severs set to not verify SSL.

So say that I `export ANSIBLE_GALAXY_SERVER_LIST=A,B`, then I would like to `expor

[2021-09-10 15:09] s-hertel commented on #54162
I updated this to be a feature request instead of a bug report because we may want to address this by adding a new option to the command module to be backwards compatible.

[2021-09-10 15:18] s-hertel commented on #30603
@strattner Thanks for taking a look at this issue!

Closing as per above, but if you're experiencing this on recent versions please open a new issue with reproducer.

[2021-09-10 15:18] #30603 closed, assigned to nobody

[2021-09-10 15:28] s-hertel commented on #54110
The documentation seems to have been improved (both the debugging docs and AnsiballZ framework documentation), so I'm closing this, but if you have ideas on how to further improve it, please reach out on IRC or the mailing list (or submit a PR!).

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-09-10 15:28] #54110 closed, assigned to acozine

[2021-09-10 15:32] s-hertel commented on #65245
`list` and `verify` have been implemented for collections. There's an issue to track `remove` specifically here https://github.com/ansible/ansible/issues/67759. I'm going to close this and we can track that one there. There are no plans to implement the other subcommands listed.

[2021-09-10 15:32] #65245 closed, assigned to sivel, samdoran, s-hertel

[2021-09-10 15:40] s-hertel commented on #28481
Closing as a duplicate of https://github.com/ansible/ansible/issues/70432#issuecomment-653092892.

[2021-09-10 15:40] #28481 closed, assigned to nobody

[2021-09-10 15:53] s-hertel commented on #24228
We discussed this in backlog today and don't think there's a good way to solve this besides not running setup.py. You can configure [FACTS_MODULES](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#facts-modules) or use Python 3 on the remote to mitigate the issue. Altering ulimit is not viable as it requires to always run as root and causes issues if the system's hard limit

[2021-09-10 15:53] #24228 closed, assigned to nobody

[2021-09-10 15:56] s-hertel commented on #72031
bot_skip

[2021-09-10 17:45] ariordan-redhat opened #75683 "Docs: Update reference tag syntax: User Guide"
### Summary

Update documentation to replace old `:doc:` reference tags with correct `:ref:` tags.

The old `:doc:` tags appear in the following files in the User Guide:
[code]

### Issue Type

Documentation Report

### Component Name

docs/docsite/rst/user_guide/playbooks_advanced_syntax.rst

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

n/a

### Additional Informa

[2021-09-10 18:13] zohiba commented on #75666
since the vars plugin is not mentioned in the precendence list, if I write a custom vars plugin, will it override all above in the precedence list?
I am looking to override all the values declared upto level 20, was wondering if vars plugin can override all the above in the list.

[2021-09-10 18:32] sivel commented on #75666
`vars_plugins` are the means by which 3 and 8 are populated.  The footnote of `[2]` reads:

[2021-09-10 19:04] ariordan-redhat opened #75685 "Docs: Update section header notation in Style Guide"
### Summary

#### Problem
Some section headers in the Ansible docs do not follow the [allowed section header notation](https://docs.ansible.com/ansible/latest/dev_guide/style_guide/index.html#header-notation).

#### Action
Update these section headers in the Style Guide.

#### Scope
Navigate to `docs/docsite/rst/dev_guide/style_guide` and run the following `grep` command to identify the files and

[2021-09-10 19:23] ariordan-redhat opened #75686 "Docs: Update section header notation in Developer Guide"
### Summary

#### Problem
Some section headers in the Ansible docs do not follow the [allowed section header notation](https://docs.ansible.com/ansible/latest/dev_guide/style_guide/index.html#header-notation).

#### Action
Update these section headers in the Developer Guide.

#### Scope
Navigate to `docs/docsite/rst/dev_guide` run the following `grep` command to identify the files and line numbers

[2021-09-11 03:53] phemmer commented on #62738
I see many comments that the reason for this is because loop labels may contain private data. However I can't find any mention of whether these comments are talking about the default label or an explicit label. I can understand why the default label (what is used when no `loop_control: { label: ... }` is present) should not be shown when `no_log: true`. However if the user has explicitly defined a

[2021-09-11 08:18] mario-pranjic opened #75687 "Ansible 2.11.4 fails on mysql_user module"
### Summary

Hi,

Ansible code, environment and target server did not change. However, on re-run of Ansible code with latest version, I am getting:

[code]

Ansible task:

[code]

I verified on target server, .my.cnf file is in place and root user can connect by using it.

[code]

Tried to explicitly set it in task - didn't help.
I also tried to use login_user and login_password instead - didn't h

[2021-09-11 08:25] #75687 closed, assigned to nobody

[2021-09-11 14:40] braindevices opened #75688 "ssh_connection section in ansible.cfg is completely ignored"
### Summary

the ansible does not respect all sections in the config file any more. For example the ssh_connection section get ignored completely

### Issue Type

Bug Report

### Component Name

config

### Ansible Version

[code]
[code]

but the config file is:

[code]
[code]
[code]

[2021-09-11 14:42] braindevices commented on #75688
It seems like the `examples/ansible.cfg` is completely wrong, after looking and ansible-config list. The pipelining now in defaults section. The control_path_dir is in persistent_connection. But I cannot find anywhere to set ssh_args. Instead I get a flag use_persistent_connections. But I want to change ControlPersist, where can I set this value now?

[2021-09-11 19:30] #39398 closed, assigned to nobody

[2021-09-13 02:30] bicarbonate opened #75691 "ansible -m ping [host section name] -vvv - 'NoneType' object has no attribute 'set_options'"
### Summary

Today I ran 'ansible -m ping [newjumpservers] -vvv' which resulted in an error:

_ERROR! Unexpected Exception, this is probably a bug: 'NoneType' object has no attribute 'set_options'_

### Issue Type

Bug Report

### Component Name

ansible binary

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04.3 LTS

### Steps to Reproduce

[code]

### Exp

[2021-09-13 03:51] bicarbonate commented on #75691
I am beyond embarrassed right now but.. my issue is resolved. I was using the incorrect username when I su <ansible service account>

I'd love to know why the binary pukes so much on this.. or maybe it should fail a bit more gracefully. But, using the correct account to run this from did solve my problem.

[2021-09-13 05:16] MrGitBlob commented on #37396
3 and a half years ago, this bugreport was filed, clearly showing the ansible user module is completely broken when it comes to handling local users.

And its still not fixed.
What use is a user module, that can't even set the primary group of a local user?

[2021-09-13 05:17] MrGitBlob commented on #61965
hopeless.

[2021-09-13 08:25] mkrizek commented on #75691
The traceback is caused by the callback plugin not being found. Likely the `community.general` collection is not installed.

It has been fixed in https://github.com/ansible/ansible/pull/59932 to print a proper warning. The fix is available in `2.9.16`+ versions.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.

[2021-09-13 08:25] #75691 closed, assigned to nobody

[2021-09-13 08:39] mkrizek commented on #75688
It is not clear from the bug report that the config options are ignored during runtime or just that they are missing in the `ansible-config dump --only-changed` output?

To see changes in the config from plugins (`ssh` connection plugin in this case), use `ansible-config dump --only-changed -t connection` or to see all options `ansible-config dump --only-changed -t all`.

The documentation for the

[2021-09-13 09:04] braindevices commented on #75688
They are also missing during run time. The document is totally wrong. There is no ssh_connection section anymore in the code.

[2021-09-13 09:15] mkrizek commented on #75688
FWIW I cannot reproduce the issue. Using:
[code]

I can see the values being used in the `-vvv` output.

[2021-09-13 09:21] braindevices commented on #75688
Which ansible version r u using? Is it  a clean version? I had this problem since new os installation. Maybe try to clean up your .ansible and remove all ansible related files in your .local/ before run the ansible-playbook. There might be some old residue in the .ansible/ to allow the cfg file be effective

[2021-09-13 10:49] mohd-akram opened #75692 "omit does not work properly with become"
### Summary

`omit` does not seem to work properly with become.

### Issue Type

Bug Report

### Component Name

become

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 34

### Steps to Reproduce

[code]

[code]

### Expected Results

USER=root in both cases

### Actual Results

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-09-13 11:49] mkrizek commented on #75692
I am not sure if this is something that we want to address yet but potential POC fix might be:
[code]

[2021-09-13 12:00] braindevices commented on #75688
Your ansible version is too new. My ansible-config does not even have `-t` option yet.

[code]

[2021-09-13 12:14] tabacha commented on #75156
@sivel @bcoca  I have submitted infos, can you pleas look again?

[2021-09-13 12:17] braindevices commented on #75688
and even with the devel branch it does not show ssh_connection:
[code]

[2021-09-13 13:08] braindevices commented on #75688
This is interesting. If I put the ansible.cfg not in an directory like /tmp instead of a home dir it starts to work.

[code]

[2021-09-13 13:08] #75688 closed, assigned to nobody

[2021-09-13 13:09] bcoca commented on #75156
@tabacha I don't see the issue, from your -vvv output, it is connecting to the delegated host
[code]

[2021-09-13 13:12] tabacha commented on #75156
Yes but its connecting to: `compute001.occ1.ham1.int.yco.de` not to `controller02.occ1.ham1.int.yco.de`

[2021-09-13 13:19] bcoca commented on #75688
fyi, when you want `ansible.cfg` in your home it has to be hidden, so `~/.ansbile.cfg` not `~/ansible.cfg`

[2021-09-13 13:33] braindevices commented on #75688
@bcoca thanks. But I actually want it in current folder, so I will have per project settings.

[2021-09-13 14:19] #75683 closed, assigned to ariordan-redhat

[2021-09-13 14:50] samccann commented on #75164
Note 1 - attributes added by a collection - I'm unclear why we'd want this in the 'standard default' attributes table. If collection A adds an attribute, shouldn't it HAVE to define the state of that new attribute for all it's modules? And why would its new attribute matter to users/owners of Collection B that doesn't have this new attribute?

Note 2 - this seems urgent. Is there an issue opened f

[2021-09-13 14:53] sivel commented on #75164
No further changes to attributes within core/ansible-doc, other than adding more attribute documentation to existing plugins, will occur for the 2.12 development cycle.

Any improvements to the feature will happen in future ansible-core versions.

[2021-09-13 15:24] felixfontein commented on #74838
The devel docs are broken again since now there's a new `option` field (added in 26827f50393). I've implemented a fix for that in https://github.com/ansible-community/antsibull/pull/306.

[2021-09-13 15:25] felixfontein commented on #74838
(That commit belongs to the above-mentioned #74847.)

[2021-09-13 15:28] saas2813 opened #75694 "How To Notify only changed item"
Bcoca commented this  and closed the issue, I would _really_ like to have a complete example.

If you want a 'per task item' notify, you can control adding or not to the notification list:

`notify: "{{ results is changed|ternary('Restart  ' ~ item.key ~ ' container',  None) }}`

see logs linked at https://github.com/ansible/community/issues/568#issuecomment-705641359 for details

_Originally post

[2021-09-13 17:10] bcoca commented on #75164
@samccann  the current design avoids having 'defaults' specifically for that reason, there should be not default attributes list, only what a module author decides to specify explicitly.

[2021-09-13 17:56] samccann commented on #75164
@bcoca I'm a little confused now. So there is the `action_common_attributes` docs fragment with a bunch of settings in it. If those aren't default settings, what are they?  And are you suggesting we only display what a module author changes from that list (aka the overrides)?  So for example, if the module only only sets `action` and `diff` then the only thing we display is:

![image](https://user

[2021-09-13 20:34] PenelopeFudd opened #75696 "Utility to print tasks in "canonical form""
### Summary

Our company has 150 yaml files generated over several years, and they're a mess.

I've been looking for a program that will reshape them into a canonical format while preserving comments.

Here's a home-grown attempt:
[code]

One problem is that the `yq` command converts octal numbers into decimal, which makes file modes weird.  It also deletes comments.

### Issue Type

Feature Idea

[2021-09-13 20:41] sivel commented on #75696
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on `irc.libera.chat <https://libera.chat/>`_
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you ca

[2021-09-13 20:41] #75696 closed, assigned to nobody

[2021-09-13 21:15] PenelopeFudd commented on #75696
This was an RFE, as multiple google searches found nothing, and the best authority for 'what is canonical Ansible formatting' is Ansible itself.  Maybe adding a '--dump-playbook-to-file=output.yml' would suffice.

As for research, I'd found 'ansible-lint', but it only makes suggestions, it doesn't tidy, and if it did implement the suggestions it makes, likely wouldn't tidy things into a canonical

[2021-09-13 23:18] jhg03a commented on #62738
Suppose you have a list of dictionaries you're looping over and one of the attributes of said dictionary is sensitive.  Also suppose that the task itself emits that sensitive element unless `no_log: true` is specified.  Today, you have no idea where in processing of that list you are if/when it fails.  By permitting the use of both `no_log: true` and `loop_control: { label: ... }` it's possible to

[2021-09-14 00:03] phemmer commented on #62738
@jhg03a Was that supposed to be a response to my "concrete example" request? If so that's not quite what I was asking. That's the behavior I was proposing. I was trying to see if there was a real world example where that **wouldn't** work.

[2021-09-14 00:09] jhg03a commented on #62738
Ah, my mistake. I can't think of a functional reason it doesn't.

[2021-09-14 03:38] leopck opened #75699 "Conditional Environment at Play Level"
### Summary

I am currently implementing a play-level proxy environment for my customers however, I quickly realized that different customers has different environments and requires to turn on or turn off proxy environments based on their locations.

While Conditionals such as `when` or using Jinja code works well on task-level but they don't work on play-level.

This feature would be able to bene

[2021-09-14 05:09] PrashantGSIN opened #75700 "Unsupported parameters"
### Summary

I am testing to clone the GitHub private repo using Ansible playbook over remote server. I am getting the below error.

fatal: [172.31.47.105]: FAILED! => {"changed": false, "msg": "Unsupported parameters for (ansible.builtin.git) module: single_branch Supported parameters include: accept_hostkey, archive, bare, clone, depth, dest, executable, force, gpg_whitelist, key_file, recursive

[2021-09-14 05:19] jborean93 commented on #75700
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * The `single_branch` parameter was added in Ansible 2.11 but you are running with 2.9.x https://docs.ansible.com/ansible/latest/collections/ansible/builtin/git_

[2021-09-14 05:19] #75700 closed, assigned to nobody

[2021-09-14 08:42] anasaizg opened #75701 "win_updates rejected by Kaspersky antivirus"
### Summary

win_updates receives an "Access denied" error. When checked in Windows, Powershell is being blocked for this execution.

### Issue Type

Bug Report

### Component Name

ansible.windows.win_updates

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ansible running from RHEL 7.9
Ansible Windows collection version 1.7.2
Target host Windows Server 2016, 2012, 2

[2021-09-14 08:49] #75701 closed, assigned to nobody

[2021-09-14 08:50] anasaizg commented on #75701
Opening issue to ansible.windows collection instead.

[2021-09-14 13:15] kbalos commented on #75408
This is happens under heavy load. Is there any update in this topic?

[2021-09-14 13:35] sivel commented on #75699
Duplicate of https://github.com/ansible/ansible/issues/25678#issuecomment-912644526

[2021-09-14 13:40] #75443 closed, assigned to nobody

[2021-09-14 14:11] sivel commented on #75677
This should just require a new option at the following location called `validate_certs`:

https://github.com/ansible/ansible/blob/bf7d4ce260dc4ffc6074b2a392b9ff4d3794308b/lib/ansible/cli/galaxy.py#L489-L496

Also a small modification a few lines above to `server_def`:

https://github.com/ansible/ansible/blob/bf7d4ce260dc4ffc6074b2a392b9ff4d3794308b/lib/ansible/cli/galaxy.py#L469-L470

The alternat

[2021-09-14 14:15] bcoca commented on #75164
As the name suggests, a common list that CAN be included. If they were true defaults, they would not be a doc fragment and they would be automatically added to all modules.

[2021-09-14 15:04] #75667 closed, assigned to nobody

[2021-09-14 15:14] sivel commented on #75694
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on `irc.libera.chat <https://libera.chat/>`_
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you ca

[2021-09-14 15:14] #75694 closed, assigned to nobody

[2021-09-14 15:16] sivel commented on #75699
Closing per above.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-09-14 15:16] #75699 closed, assigned to nobody

[2021-09-14 15:46] #29451 closed, assigned to nobody

[2021-09-14 16:14] mator commented on #34835
[code]
on a system where `root` is not a role:
[code]

[2021-09-14 20:14] samccann commented on #75164
@bcoca the difference here is these are 'common' as you say, which means over time, many modules could adopt this and now have a table of 16 entries, where only two or or three are 'different' so to speak from what a user might expect. So the DaWGs  (Documentation working group) feels strongly that we need to emphasize what is different, either by showing only the overrides, or somehow distinguish

[2021-09-14 20:23] sivel commented on #75164
I'm not sure I understand this.  They are all important.  One is not less important because it shares a behavior with another plugin.  It describes the behavior and support of an individual plugin.  As bcoca has mentioned, there are no defaults, and regardless of whether they are common or not, each and every one describes a behavior.  Hiding the information does nothing useful for the user.  Each

[2021-09-14 20:37] samccann commented on #75164
@sivel - your comments are the opposite of what I'm hearing during the DaWGs meetings of the past couple of weeks. I can't determine whether all are important (and thus we just need to put the full table in the docs) or only some are 'different' from what a user would expect (which is what I'm hearing in the irc meetings) and thus we want a way to denote the overrides.
@abadger @felixfontein can y

[2021-09-14 22:09] abadger commented on #75164
yep, @samccann illustrated it quite well.  When you have attributes that match what 90% (or more) of other ansible modules do, then creating a large list that includes all of those attributes together makes it impossible for the end user to spot that one little difference.

[2021-09-15 02:06] savchenko commented on #72224
This is affecting Ansible v2.10, for example:
[code]
results in a simple `apt-get remove` call with the predictable failure:
[code]

[2021-09-15 05:09] PenelopeFudd commented on #75667
My apologies, I had copied the title from my previous issue, but should have changed 'ansible.builtin.file (lookup): document addition' to 'bug when reading playbook via process substitution'.  I spent so much time on refining the body that I completely forgot.

[2021-09-15 06:08] felixfontein opened #75711 "[2.11 and before] ansible-test crashes when using --remote, skip/<remote> and cloud/"
### Summary

Assume you have two integration tests A and B:
* B has no special requirements (mainly needed to avoid ansible-test to not run any tests at all because everything's skipped);
* A has `skip/rhel` and `cloud/acme` in its `aliases` file.

If `ansible-test integration -v --remote rhel/8.3 A B` is run, it crashes with `KeyError: 'acme'` after starting up the VM.

Happens with ansible-test

[2021-09-15 06:18] felixfontein commented on #75164
Most (in the sense of: more than 99.9%) actions will never change the default (i.e. the value that action_common_attributes specifies) for:
- `async`
- `become`
- `bypass_host_loop`
- `conditional`
- `delegation`
- `loop`
- `tags`
- `until`

This is half of all entries of that list. (Assuming that no collection added more entries.) Showing them with the same emphasis as all the other attributes fo

[2021-09-15 06:21] felixfontein commented on #75164
(Emphasizing the rows of the table which differ also improves the situation for the actions which are special: then "Doesn't work with loops", "Doesn't work with tags", etc. is highlighted, and users directly notice "hey, this action is somewhat special". Instead of missing that in the big table in the entries which they usually ignore because they never saw them being relevant anywhere else.)

[2021-09-15 10:21] kumarbava commented on #75122
@mkrizek thanks for the answer.
I am afraid , will not be able to verify the PR, mainly because we have very older version of ansible running.
Living with a workaround for now.

[2021-09-15 11:10] tomelliff opened #75713 "pip module should support using pipx to install packages"
### Summary

I would like to be able to use Ansible to install Python packages with scripts with [`pipx`](https://github.com/pypa/pipx).

I am currently able to hack around at the `pip` module with the following Ansible to make it work:

[code]

But it would be nice if we were able to directly set eg `use pipx = true` or maybe feature detect on the `executable` and for it to then work out how to u

[2021-09-15 11:36] noonedeadpunk commented on #68680
I think this has been partially fixed now with newer systemd version. So for example, now it's allowed to mask enablked service - systemd will automatically disable service when it get mask request.

[2021-09-15 12:50] cadirol opened #75714 "module 'platform' has no attribute 'dist'"
### Summary

When i run a setup call to a debian11 host, the whole ansible_distribution part is missing.
On the target is python3.9 installed, but ansible2.7 as well.
If i change the python interpreter on setupcall to 2.7 the ansible_distribution part is shown in setup output

### Issue Type

Bug Report

### Component Name

setup

### Ansible Version

[code]

### Configuration

[code]

### OS / En

[2021-09-15 13:20] #75714 closed, assigned to nobody

[2021-09-15 14:15] samccann commented on #75164
Related PR - https://github.com/ansible/ansible/pull/75619

[2021-09-15 15:16] Porkepix opened #75716 "Sidebar doesn't have links updated to versions other than latest when selecting another version"
### Summary

Older Ansible versions doc is a pain to go through with the sidebar not updated at all to match older versions documentation, the result is that many links in the sidebar go back to latest version, and if the user try to again select an older version, then it'll pretty often end up on a non-existing page because doc's structure changed in-between.
For example it can lead to https://do

[2021-09-15 15:29] AndyFriar opened #75717 "Unable to retrieve / use json value when it has an @ in the key"
### Summary

Trying to download from Sharepoint using the Graph API which returns a key / value pair which contains an @ in the key.
[code]
### Issue Type

Bug Report

### Component Name

uri get_url

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Windows 10 WSL / Ubuntu 20.04

### Steps to Reproduce

[code]

### Expected Results

Expect to be able to retrieve JSON k

[2021-09-15 17:08] sivel commented on #75717
In order to use dotted syntax, the key has to meet the python naming guidelines.  The inclusion of an `@` prevents that.

Instead you need to use subscript notation:

[code]

See https://jinja.palletsprojects.com/en/latest/templates/#variables for more information.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https

[2021-09-15 17:08] #75717 closed, assigned to nobody

[2021-09-15 23:57] dkolb opened #75718 "Sudo 1.9.8 breaks become in ansible."
### Summary

After upgrading to sudo 1.9.8 any task that uses `become: yes` fails with the following error:

[code]
Full gist can be located here: https://gist.github.com/dkolb/8cad8f0b18caa00b678fb5ffb1aaa3da

Can be worked around by using another become method such as su.

### Issue Type

Bug Report

### Component Name

become

### Ansible Version

[code]

### Configuration

[code]

### OS / Env

[2021-09-16 01:03] flowerysong commented on #75718
Have you tried manually running sudo on the affected machine? This appears to be an issue with the sudo config on the system being broken (`error initializing audit plugin sudoers_audit`), not an Ansible bug.

[2021-09-16 04:15] ledgley commented on #73244
This would be useful for the body in the URI module too.

[2021-09-16 08:46] AndyFriar commented on #75717
I thought it would be something I was missing. By using the subscript it didn't allow anything else after the @microsoft so

getfile.json['@microsoft.graph.downloadUrl']

Is the correct format.

Thanks very much for the pointer

[2021-09-16 12:02] tbehner commented on #75718
I ran into the same error. Using `sudo` mannually works as expected.

[2021-09-16 13:24] sivel commented on #75718
Try running sudo manually like ansible does:

[code]

It sounds to be some interaction between `sudoers_audit`, and `passprompt_override` in your configuration.

[2021-09-16 13:31] 0b11stan commented on #75718
Are you on ArchLinux ? I had the same issue, upgraded sudo from `sudo-1.9.8-1-x86_64` to `sudo-1.9.8-1-x86_64` and it works.
Fixed on the [archlinux sudo package source](https://github.com/archlinux/svntogit-packages/commit/fb4cc13d0f4d1db3720865d060a9d6623fd128f7#diff-3e341d2d9c67be01819b25b25d5e53ea3cdf3a38d28846cda85a195eb9b7203a).

[2021-09-16 13:42] #75120 closed, assigned to ariordan-redhat

[2021-09-16 13:44] ariordan-redhat commented on #75120
@tombosmansibm
Thanks for flagging this. Updated the docs.

[2021-09-16 13:46] #75608 closed, assigned to nobody

[2021-09-16 14:39] dkolb commented on #75718
Confirmed fixed by upstream.  Sincerest apologies for taking up time and space with an upstream issue.  Closing issue.

[2021-09-16 14:39] #75718 closed, assigned to nobody

[2021-09-16 17:45] zyayun commented on #74947
this copy QA long long time, why not fix？

[2021-09-16 17:54] #75677 closed, assigned to nobody

[2021-09-16 19:05] #75352 closed, assigned to nobody

[2021-09-16 19:12] nitzmahone commented on #75713
The fact that `pipx` works here is purely an accident, and definitely not something we want to actually support on the core module, as it has very different invocation semantics and args. Perhaps you might want to try creating/altering this to be a `pipx` module in your own collection- you'll notice that with all the things you're having to do here, you might as well just use `command` at this poi

[2021-09-16 19:12] #75713 closed, assigned to nobody

[2021-09-16 19:52] julian-alarcon commented on #57342
Is there any way to support python3 ? We are close to the next LTS 22.04 and this is still pending...

[2021-09-17 06:11] felixfontein opened #75726 "Callback plugins will crash if a module returns exception=None"
### Summary

If a module calls `fail_json()` and provides `exception=None`, this will crash every callback that uses `_handle_exception` from `CallbackBase`: if verbosity is < 3, it will try to call `split` on `None`, and otherwise it will try to concatenate a string with `None` (which results in `TypeError`).

### Issue Type

Bug Report

### Component Name

lib/ansible/plugins/callback/__init__.p

[2021-09-17 10:41] zyayun opened #75727 "There is no difference between files in a recursive directory"
### Summary

[code]

### Issue Type

Bug Report

### Component Name

copy,file,state

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Centos,Ubuntu,MacOS

### Steps to Reproduce

####  The source directory has single file

[code]
####  The source directory has multiple files, No differences between multiple files are shown
[code]

### Expected Results

···yaml
/tmp »

[2021-09-17 11:00] zyayun commented on #75727
I don't want to synchronize module, Because his differences are hard to understand and see, right

[2021-09-17 13:21] sivel commented on #75727
Duplicate of https://github.com/ansible/ansible/issues/74947

[2021-09-17 13:21] #75727 closed, assigned to nobody

[2021-09-17 14:09] #54488 closed, assigned to nobody

[2021-09-17 14:52] #75686 closed, assigned to nobody

[2021-09-17 14:55] #75685 closed, assigned to ariordan-redhat

[2021-09-17 19:10] #75593 closed, assigned to nitzmahone

[2021-09-17 19:58] #74138 closed, assigned to nobody

[2021-09-17 19:58] #74139 closed, assigned to nobody

[2021-09-17 20:41] tiffanyyan07 opened #75733 "add exact path to role which includes under dependencies"
### Summary

I am trying to build ansible operator that included version sensitive roles. Please see the below sample of the ansible operator

v1  include -- role1-- role2
v2 include -- role1- - role2

base on the  above structure.  I want to invoke a role in  v1/role1  but  i found ansible will invoke  v2/role1 instead, because v2/role2 it is the first match, that causes me problem.

Any idea tha

[2021-09-18 04:06] brlin-tw opened #75734 "[Cron module] Should support disabling crontob without changing it's specifications"
### Summary

I would like to implement playbooks to disable/enable certain cronjob my other playbook made (it has a fixed `name` but the end-users may change the job specification a bit (like when to trigger the cronjob)).  However, this can't be done with the cron module because it always wants me to specify the cronjob specification parameters and will, certainly overwrite the existing ones.

No

[2021-09-18 12:17] nkadel opened #75735 "Whitespace in filenames breaks .spec files for RHEL"
### Summary

I've used pyp2rpm to generate .spec files for ansible 4.5.0, but they're having difficulties with the '%doc' stanza and files with whitespace in the names. These include:

- ansible_collections/cisco/intersight/misc/CL2020 EMEAR DEVWKS-1542 Intersight Ansible Lab Guide.pdf
- ansible_collections/cisco/ucs/misc/Impact DNW07 UCS Ansible Collection Lab Guide.pdf
- ansible_collections/comm

[2021-09-18 15:24] ziasiddiqi opened #75736 "sudo password error"
### Summary

When using multiple tasks it gives error that Incorrect sudo password. so far problem is tested on Debian and Ubuntu servers. Subject anomaly is random in nature. some times it works fine for few hosts but error for others.

sysadmin@ansible:~/ansible$ ansible-playbook -u sysadmin -k --ask-become-pass -i zdc.ini  pg_install.
ERROR! the playbook: pg_install. could not be found
sysadmin

[2021-09-18 21:37] webknjaz commented on #75735
All the things you mentioned don't belong in this repository. Please, file issues in the upstream repos of each collection.

[2021-09-18 21:39] webknjaz commented on #75735
Oh, you use the ansible package. This is a bundle of many collections. But ansible/ansible only contains ansible-core.

[2021-09-18 23:52] nkadel commented on #75735
I grabbed the "ansible" python module published at https://pypi.org/project/ansible/ , starting with the "pip install ansible" procedure and the tarball from https://files.pythonhosted.org/packages/source/a/ansible/ansible-4.5.0.tar.gz . That module is dependent on the "ansible-core" module, published at https://files.pythonhosted.org/packages/source/a/ansible-core/ansible-core-2.11.5.tar.gz  . Th

[2021-09-19 16:46] janani2019 opened #75737 "Not able to SSH to a host via ansible"
### Summary

My playbooks will SSH to a host and perform a couple tasks there. The key is all good because i can get to the hosts with ssh bypassing ansible. With ansible, I get the below error :

`fatal: [abc.acx]: UNREACHABLE! => {
    "changed": false,
    "unreachable": true
}

MSG:

Failed to connect to the host via ssh: ssh: Could not resolve hostname abcacx: Name or service not known

PLAY

[2021-09-19 17:40] cowanml commented on #58688
+1 me too!
this just bit me...
fine if it's an extra `always_validate` param, would still save hackery with additional tasks to achieve the
desired behavior!

[2021-09-20 04:27] savchenko commented on #24215
This feature will be beneficial to selectively reduce verbosity on `fail` /  `failed_when` when used with the `ignore_errors`

[code]

The above will format output according to the `loop_control`, but invariably unwrap it when an item has failed.

[2021-09-20 07:56] mkrizek commented on #75736
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appr

[2021-09-20 07:56] #75736 closed, assigned to nobody

[2021-09-20 07:58] mkrizek commented on #75737
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appr

[2021-09-20 07:58] #75737 closed, assigned to nobody

[2021-09-20 12:10] wibru commented on #51663
All the solutions proposed above didn't convince me because I wanted to keep unattended-upgrade, and I didn't want to build a dirty workaround on all apt tasks implying a lot of rewriting on all my ansible roles/playbooks.
After digging a while, I discovered that the default systemd apt timer from unattended upgrades had a setting implying the update as soon as possible (at boot) if the timer star

[2021-09-20 15:10] jquest07 commented on #74962
I no longer have access to the environment where this problem occurred to be able to provide more info so am closing the issue.

[2021-09-20 15:10] #74962 closed, assigned to nobody

[2021-09-20 16:59] wfaulk opened #75738 "subelements produces invalid output when input contains `.inf`"
### Summary

If I have a data structure that contains an `.inf` value, passing it through the `subelements` filter produces invalid output, even when the `.inf` exists in a part of the data structure that `subelements` is merely passing through.

### Issue Type

Bug Report

### Component Name

subelements

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

MacOS X 11.5.2

[2021-09-20 18:37] samccann commented on #75164
For those looking to visualize how this would look with purple text for the 'uncommon' settings (not calling them default as there may not be a real default value):
![image](https://user-images.githubusercontent.com/30267855/134055246-3c9d96cf-c3e9-4fe9-8dd8-3ea7d45c2705.png)

Without color for uncommon settings, this would look as follows:

![image](https://user-images.githubusercontent.com/30267

[2021-09-20 18:38] samccann commented on #75164
@abadger @bcoca @sivel @felixfontein @thaumos - See above comment ^^

[2021-09-20 18:45] thaumos commented on #75164
Hi all,

All attributes are important and must be shown to the person utilising the plugin.  There should be no priority of what is/ is not displayed.

If we do anything, I prefer taking the approach of making a table hidden in a dropdown when we're showing attributes. That way if a user utilises a plugin with these attributes, they can select this dropdown and find all the information when it is

[2021-09-20 18:46] thaumos commented on #75164
I also would like to add, if we cannot make a dropdown exist in a reasonable time for the release window, then we can have it for later.  Let's just have the full table displayed for this release.

[2021-09-20 19:45] cfbryan opened #75739 "The link to "edit on github" for your documentation pages leads to a 404"
### Summary

Clicking on "edit on github" leads to a 404 from both the "latest" and "2.9" main pages:

https://docs.ansible.com/ansible/2.9/
https://docs.ansible.com/ansible/latest/

This is the current link address:

https://github.com/ansible/ansible/edit/devel/docs/docsite/rst/index.rst?description=%23%23%23%23%23%20SUMMARY%0A%3C!---%20Your%20description%20here%20--%3E%0A%0A%0A%23%23%23%23%23%2

[2021-09-20 20:05] jtickle commented on #74187
Easy to reproduce from minimal install and up-to-date RHEL 8.

Directly using 'dnf' to install nginx:1.18 from Red Hat's repos
[code]

Ansible play to install nginx from appstream:
[code]

And the failure when you try to run Ansible:
[code]

Note I had to disable epel-modular which appears to be broken, dnf also did not work at the command line when I tried to install their nginx 1.20.  Installing

[2021-09-20 20:41] samccann commented on #75164
See https://github.com/ansible/ansible/pull/75619 - bcoca says some attributes may have as many as 6 fields, some only 3. This may make putting this in table format problematic (6 is a lot of columns).

[2021-09-20 20:44] Tristan971 commented on #74979
Would you happen to have some place where the rationale for this is documented?
Short of repackaging/vendoring existing role, this means a choice between the "future" (collections) on one end and almost all of the ecosystem on the other, so I'm curious what reason was compelling enough to justify it

[2021-09-21 01:39] #73674 closed, assigned to nobody

[2021-09-21 01:39] #74818 closed, assigned to nobody

[2021-09-21 01:39] #74840 closed, assigned to nobody

[2021-09-21 05:07] felixfontein commented on #75164
I think details could be added to the description column (with a slightly different formatting maybe?).

[2021-09-21 05:56] dericcrago commented on #75641
[AnsibleFest]: https://www.ansible.com/ansiblefest
[Ansible Contributor Summit]: https://ansiblecs202109.eventbrite.com/?aff=github
[Hackathon]: https://hackmd.io/@ansible-community/contrib-summit-202109#Hackathon
[Ansible Contributor Summit 2021.09 HackMD]: https://hackmd.io/@ansible-community/contrib-summit-202109

**Reminder - [AnsibleFest] and [Ansible Contributor Summit] are 1 week away!**

I

[2021-09-21 08:08] zbindenren opened #75746 "ansible.builtin.reboot fails regularly"
### Summary

The following:

[code]

Fails regularly with the following error:

[code]

### Issue Type

Bug Report

### Component Name

reboot

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL8.4

### Steps to Reproduce

[code]

### Expected Results

Ansible Playbook should reboot system.

### Actual Results

[code]

### Code of Conduct

- [X] I agree to follow th

[2021-09-21 10:10] gsikorski commented on #75408
Any news in this topic?

[2021-09-21 12:10] s-hertel commented on #75408
The bot auto-closes issues with the `needs_info` label and takes 60 days to autoclose (and leaves a reminder comment at day 30).

[2021-09-21 14:52] katarzyna-jurek opened #75749 "Variable parsing in a task name fails with syntax error when a task name starts with a variable"
### Summary

When I try to use a variable in the beginning of the task name, the execution fails with a syntax error.
Example:
[code]

Fails with:
[code]

However, this works correctly:
[code]

### Issue Type

Bug Report

### Component Name

playbook

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Red Hat Enterprise Linux 8.4 (Ootpa)

### Steps to Reproduce

[code]

[2021-09-21 15:14] s-hertel commented on #75733
List Information
================

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel. Role names are unique regardless of pathing.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-proj

[2021-09-21 15:14] #75733 closed, assigned to nobody

[2021-09-21 15:21] s-hertel commented on #75735
Closing per above. Please file issues in the individual repositories. Issues with the Ansible package should go to https://github.com/ansible-community/antsibull.

[2021-09-21 15:21] #75735 closed, assigned to nobody

[2021-09-21 15:30] sivel commented on #75738
What is your intention of using `.inf`?  Do you actually want that to be parsed by PyYAML and turned into a Python `math.inf` object?

As it stands "naked" `.inf` gets parsed by PyYAML as being infinity, and we don not allow for `math.inf` to be evaluated, and thus you end up with an error.

If you want it to be a string, then you need to quote it or use `!!str`:

[code]

or

[code]

needs_info

[2021-09-21 15:42] #75749 closed, assigned to nobody

[2021-09-21 16:00] wfaulk commented on #75738
My intention was to use it as Infinity. I wanted a number guaranteed to be bigger than any possible number provided from an automated response. If the value of `.inf`/`Infinity`/`math.inf`/∞ is not allowed, then it should generate an error to that effect, not produce invalid output. (I'll point out again that I wasn't asking `subelements` to do any processing of that value; it should just pass it

[2021-09-21 16:36] sivel commented on #75738
The problem is in how ansible handles variables, `math.inf` would have to be tagged as allowed to be `eval`ed.

To support this you will need to enable jinja2 native:

https://docs.ansible.com/ansible-core/2.11/reference_appendices/config.html#default-jinja2-native

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing lis

[2021-09-21 16:36] #75738 closed, assigned to nobody

[2021-09-21 18:12] wfaulk commented on #75738
Again, though, the filter is producing invalid output. Regardless of anything else, this seems like a bug.

[2021-09-21 18:20] #54474 closed, assigned to s-hertel

[2021-09-21 18:20] sivel commented on #75738
The filter is not producing invalid output, the means in which we interact with the jinja2 templating engine does not support `math.inf`, and results in just a string representation of a python object.

Historically jinja2 could only produce strings, and when you template out a python object, it would become a string representation of that object.  To round trip this, `safe_eval` was created to "s

[2021-09-22 05:19] SalimKhan opened #75756 "Error creating azure resource."
### Summary

Hello I am trying to create a Linux virtual machines in Azure using Ansible. I am following [this ](https://docs.microsoft.com/en-us/azure/developer/ansible/vm-configure?tabs=ansible) document. I am getting  following error.
--------
TASK [Create resource group] ********************************************************************************************************************
An exce

[2021-09-22 05:50] olen2006 opened #75757 "package & yum module do not support python3"
### Summary

I'm unable to use python3 as one of my tasks are failing.
Works only if I use python2

### Issue Type

Bug Report

### Component Name

yum

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

NAME="Amazon Linux"
VERSION="2"
ID="amzn"
ID_LIKE="centos rhel fedora"
VERSION_ID="2"
PRETTY_NAME="Amazon Linux 2"
ANSI_COLOR="0;33"
CPE_NAME="cpe:2.3:o:amazon:amazon_li

[2021-09-22 08:14] nqb commented on #70304
New test done on updated Vagrant box (after release of Bullseye), no more issue on my side.
Content of `/etc/os-release` is:

[code]

[2021-09-22 08:33] richlv opened #75758 "Improved debugging/verbosity of "when" conditionals"
### Summary

At higher verbosity levels, show the current directory and evaluated string for "when" conditionals.

### Issue Type

Feature Idea

### Component Name

core

### Additional Information

Have a "when" conditional like one of the following examples:
[code]

At the maximum verbosity level, the output (tested with Ansible 2.10.8) is:

[code]

Would be wonderful to show helpful information

[2021-09-22 13:10] sivel commented on #75757
Duplicate of https://github.com/ansible/ansible/issues/62722

[2021-09-22 13:10] #75757 closed, assigned to nobody

[2021-09-22 13:15] sivel commented on #75758
Duplicate of https://github.com/ansible/ansible/issues/30864

[2021-09-22 13:16] sivel commented on #75756
!component =lib/ansible/modules/cloud/azure/azure_rm_resourcegroup.py

[2021-09-22 13:20] #75756 closed, assigned to nobody

[2021-09-22 13:59] bcoca commented on #75758
closing  as per above

[2021-09-22 13:59] #75758 closed, assigned to nobody

[2021-09-22 14:07] bcoca commented on #30864
FYI, when using debug, you DO get a message of which conditional of a list is being evaluated `"Evaluated conditional (%s): %s" % (conditional, res))` .

One issue is that the first false one breaks the chain, so you do have the information on which one returned false, but not 'all' false ones.

Another problem for most is that this is not enough info, specially  if `AND/OR` is part of that list e

[2021-09-22 14:39] #73103 closed, assigned to nobody

[2021-09-22 15:23] richlv commented on #75758
Thank you for the link - searched extensively, still missed it...

[2021-09-22 15:52] Yajo commented on #30864
What do you mean with "when using debug"? Indeed that'd be the fix we want.

El mié., 22 sept. 2021 15:08, Brian Coca ***@***.***>
escribió:

[2021-09-22 16:07] bcoca commented on #30864
This is 'using debug' https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-debug, and if you look at the output you'll get 'the statement' that returned false, you WON'T get interpolated values or broken down by and/or/paren grouping. So it 'works'TM for simple cases:
[code]

But it won't be very helpful in others:
[code]

[2021-09-22 16:44] sivel commented on #74131
Closed by https://github.com/ansible/ansible/pull/74013

[2021-09-22 16:44] #74131 closed, assigned to sivel

[2021-09-22 18:36] SalimKhan commented on #75756
@sivel  got the following error

[2021-09-22 21:05] sgaist commented on #75676
Hi,

I would like to take care of this one as part of the HacktoberFest.

[2021-09-23 12:10] ariordan-redhat commented on #75676
Hi @sgaist
Thanks for your help. Let us know if you have any questions.

[2021-09-23 12:18] zbindenren commented on #75746
I think it is a race-condition. Sometimes it work and sometimes not.

[2021-09-23 14:57] hojerst opened #75765 "`set_fact` only runs on first host with `delegate_to` and `when`"
### Summary

When using `set_fact` in combination with `delegate_to`, `delegate_facts` and `when` it seems to actually be only run on the first host:

[code]

The problem only arises when setting the variable that is actually used in the `when` clause. If I had to guess, I assume the `when` is checked in the wrong loop iteration. Setting a fact that is not used in `when` will work fine.

#20508 se

[2021-09-23 15:00] hojerst commented on #75765
workaround:

[code]

works just fine.

[2021-09-23 16:15] diego-treitos opened #75766 "Sample ansible.cfg asks to run invalid 'ansible-config init'"
### Summary

The file  https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg , which should be a sample configuration file, tells the user to run `ansible-config init --disabled -t all > ansible.cfg` to get an updated configuration file.

However, latest `ansible-config` does not have such option:

[code]

### Issue Type

Documentation Report

### Component Name

examples/an

[2021-09-23 16:32] sivel commented on #75765
I'm guessing it has to do with the 2 sections in `TaskExecutor._execute` that start with...

[code]

...not handling `self._task.delegate_facts` like we do in `StrategyBase._process_pending_results`

As a result, we inject the facts into the vars (`variables`) based for `inventory_hostname` instead of some other location for the delegated host, such as maybe `variables['ansible_delegated_vars']`,

[2021-09-23 16:36] sivel commented on #75766
The files in the `devel` branch and `devel` docs, are specifically tied to the code in the `devel` branch.  As of now, the code in the `devel` branch will become ansible-core `2.12`.  As a result, the command it tells you to run is not yet released.

You want to look at the branch or tag in GitHub that correlates to your version, such as one of the following:

* https://raw.githubusercontent.com/a

[2021-09-23 16:39] sivel commented on #75766
Hrm, I'll re-open this, since I notice the docs page at `docs/docsite/rst/installation_guide/intro_configuration.rst` actually links to the `devel` docs, but should be version based.

[2021-09-23 17:22] fran-expertice opened #75767 "Fails when running playbook with module ovirt.ovirt.ovirt_vm"
### Summary

**When I tried run playbook, it got next error:**

TASK [Shutting down VM from Ovirt.] ************************************************************************************************************************************************************
task path: /opt/ansible-project/playbooks/playbooks_desarrollo/ovirt.auth.yml:37
<localhost> ESTABLISH LOCAL CONNECTION FOR USER: frobles
<loca

[2021-09-23 17:25] #75767 closed, assigned to nobody

[2021-09-23 17:37] diego-treitos commented on #75766
That is where I got the link from :). Thank you very much for doublechecking!

[2021-09-23 17:49] bcoca commented on #75766
fixed in #75630 #75631

[2021-09-23 17:49] #75766 closed, assigned to nobody

[2021-09-23 19:12] bcoca commented on #75765
well, 'test' in the `when:` refers to the var in localhost, not the delegated host, so the test is against `inventory_hostname`, not the host you are setting the var in via delegation.

So I expect your results to be 'undefined' when looking at localhost, since you define the var in every other host. not sure how that is a bug.

I do NOT expect `hostvars[localhost].test` to work since it is equiva

[2021-09-23 19:27] bcoca commented on #75765
preliminary fix
[code]

[2021-09-23 22:52] #75320 closed, assigned to mattclay

[2021-09-24 00:34] rafalkrupinski opened #75772 "apt: module failure when installing package with unmet deps and version is set"
### Summary

When I try to install deb with a version set as in "mariadb-client=1:10.5.10+maria~focal" apt module forces apt-get and fails due to unmet dependencies. Looks very similar to #29485.

### Issue Type

Bug Report

### Component Name

apt

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

macOS 11.6

### Steps to Reproduce

[code]

### Expected Results

apt mo

[2021-09-24 10:08] sebastianw opened #75775 "Provide a semi-permanent cache for plugins"
### Summary

I am trying to develop a lookup plugin in a collection that queries a lot of information over the network via an external python library. Most of these calls are slow. The lookup will be used in templates (for network devices) in many places and also in tasks itself. The output of the lookup is independent of the current host or task in the play (same parameters always produce same re

[2021-09-24 13:29] sivel commented on #75775
Related: https://github.com/ansible/ansible/issues/10374

[2021-09-24 14:13] bcoca commented on #75775
currently the only way to 'cache' a lookup result for the duration of a play is via `set_fact`

[2021-09-24 14:39] sneuser3 opened #75776 "unable to connect to socket on 1-2% of target devices"
### Summary

If we call a large playbook intended for readiness check for SW-Upgrades on cisco devices (using cisco.ios) we get some of "unable to connect to socket" error. You cant reproduce same behaviour for each call. The socket error appears on randomly on different tasks and randomly on different devices. For instance 1st call task1 on switch3, 2nd call on task14 on switch34, 3rd call on tas

[2021-09-24 17:03] Yajo commented on #30864
If that's your concern, I think nobody ever wanted that kind of support here.

The main problem comes when you have a list of many `when`s, or even more when those get inherited by a `import_*` somewhere upper in the stack.

To me this is enough. But I agree it'd be great to have a more usable output by default. I can't talk for everybody else though, just my 2 cents. Thanks!

[2021-09-24 18:40] #32553 closed, assigned to nobody

[2021-09-24 21:20] sgaist commented on #75675
Hi,

I would like to take care of this one as part of Hacktoberfest.

[2021-09-25 14:12] tomaciazek opened #75786 "PluginLoader._find_fq_plugin incorrectly handles FQCRs with subdirs"
### Summary

According to comments and docs in AnsbileCollectionRef.from_fqcr, collection references can have form `ns.coll.subdir1.subdir2.resource`, which should translate to `ansible_collections.ns.coll.plugins.subdir1.subdir2.(plugintype).resource`.

On example of `netapp_eseries.santricity.netapp_e_alerts`, I've found out by debugging that when loading the declared `netapp_eseries.santricity.

[2021-09-25 19:24] sergesal commented on #62826
I see exactly same issue as @vbotka and get 'Requirement already satisfied' and changed 'false' without the check mode and then get changed 'true' in '--check' mode in the very next run.

Is there an ETA for a fix?

ansible [core 2.11.0]
python version = 3.8.3 (default, Aug 18 2020, 08:56:04) [GCC 8.3.1 20191121 (Red Hat 8.3.1-5)]

Also get changed 'true' in check mode with this task as well:
- na

[2021-09-25 23:24] htol opened #75788 "Ability to easy control of ~/.ansible directory location"
### Summary

I want to control ~/.ansible directory location but it's ridiculously complex. My main motivation is clean and controllable $HOME directory.

Currently I have to setup around 24 environment variables to make it possible. And even if achieve it, it is not guaranteed that behavior will not be changed in the future or new plugin will not require to fix the path.

I'm aware of previous at

[2021-09-26 02:10] matthewdennett commented on #67759
+ 1

This would be super handy.

[2021-09-26 13:14] nicksu-kdkd commented on #18894
Got the same issue, the playbook is
`    91	    - name: Download the oc client binary
    92	      get_url:
    93	        url: "{{ download.openshiftClient }}"
    94	        dest: "{{ playbook_dir }}/downloads/oc_client.tar.gz"
    95	        validate_certs: no
    96	      register: oc_client_download`

`[root@herlper ocp4-vsphere-upi-automation]# pip3 list --format=columns | egrep 'requests|ur

[2021-09-26 16:05] haresotto opened #75789 "vars precedence : something is maybe missing"
### Summary

Hello,
I was trying to define default values for some vars which depend on operating systems and/or versions, while allowing the final user to overwrite them in group_vars or host_vars.
I could not come up with a clean solution, saw people using workarounds, and thought of a simple (from a user perspective) idea.

To be explicit, let's work with a simple example such as the data_direc

[2021-09-26 17:45] vlajos commented on #66894
Hi,
I have just checked this again. (Sorry for the late response...)
I think without `use_backend: yum` the yum module uses the `dnf` backend which is probably bug free.
I tried to create an example, but it seems that the module is not compatible with python3:

At least I could not make it working with python2.

I guess it is not really worth spending more time on debugging something depreacated.

[2021-09-26 18:04] flowerysong commented on #75789
I'm not going to weigh in on the feature request, but I think you would find solving your initial problem easier if you let go of the idea of relying solely on variable precedence.

For example, if you have this in `defaults/main.yml`:
[code]
and define `os_postgresql_data_dir` in your OS-specific variable files, everything works as expected. Users can't easily override `os_postgresql_data_dir` fr

[2021-09-26 18:55] tadeboro opened #75790 "ansible-test fails to load kubernetes.dynamic module"
### Summary

When running unit tests using `ansible-test units -v --python 3.8 --docker` on some files that use the Kubernetes Python library, ansible-test fails to import the `kubernetes.dynamic` module.

### Issue Type

Bug Report

### Component Name

ansible-test

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 34

### Steps to Reproduce

 1. Clone the [kube

[2021-09-26 18:55] tadeboro commented on #75790
/cc @mattclay

[2021-09-26 19:04] tadeboro opened #75791 "Sanity tests fail on ansible 2.9 and 2.10 if the collection repo contains pyproject.toml file"
### Summary

Running `ansible-test sanity -v --docker` fails if the collection repo contains the pyproject.toml file.

### Issue Type

Bug Report

### Component Name

ansible-test

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 34

### Steps to Reproduce

 1. Clone the [networktocode.nautobot](https://github.com/nautobot/nautobot-ansible) collection.
 2. Run `

[2021-09-26 19:04] tadeboro commented on #75791
/cc @mattclay

[2021-09-26 19:46] tadeboro commented on #75786
As far as I can tell, Ansible behaves as expected here when loading the document fragments. The steps Ansible takes when loading the `netapp_eseries.santricity.santricity.netapp.eseries` documentation fragment are as follows:

 1. Try to load the `ansible_collections.netapp_eseries.santricity.santricity.netapp.eseries.ModuleDocFragment.DOCUMENTATION` fragment. This fails because there is no `ansib

[2021-09-27 03:53] jondoig opened #75794 "Example doesn't work: use a loop to create exponential backoff for retries/until"
### Summary

In the **Data manipulation** page of the User Guide, the section [Loops and list comprehensions](https://docs.ansible.com/ansible/latest/user_guide/complex_data_manipulation.html#loops-and-list-comprehensions) contains this example code:

[code]

This code will not work:
- Ping ["does not make sense in playbooks"](https://docs.ansible.com/ansible/2.3/ping_module.html#synopsis)
- The l

[2021-09-27 08:03] Andersson007 commented on #75641
[Ansible Contributor Summit]: https://ansiblecs202109.eventbrite.com/?aff=github
[Hackathon]: https://hackmd.io/@ansible-community/contrib-summit-202109#Hackathon
[Ansible Contributor Summit 2021.09 HackMD]: https://hackmd.io/@ansible-community/contrib-summit-202109

**Reminder** - Day 1 of the [Ansible Contributor Summit] and the [Hackathon] start tomorrow (Tuesday, 28 September 2021)!

For more

[2021-09-27 09:23] esgn opened #75797 "yescrypt for user password"
### Summary

Debian 11 is replacing the default encryption algorithm for local account passwords with yescrypt. Earlier Buster versions used SHA-512 by default and did not support yescrypt. This change addresses some of the security and efficiency concerns seen in SHA-256 and SHA-512.

As far as I understand the ansible user module does not support yescrypt yet. Adding yescrypt would be a plus to

[2021-09-27 10:26] konstruktoid commented on #75797
Regarding `yescrypt` support in `passlib`and `crypt`:
https://foss.heptapod.net/python-libs/passlib/-/issues/103
https://bugs.python.org/issue44309

[2021-09-27 10:54] ROpdebee opened #75798 "vars in nested block don't override vars in outer block"
### Summary

I'd expect a variable bound with `vars:` in a nested block to override a variable of the same name in an outer block, but it doesn't.

### Issue Type

Bug Report

### Component Name

block

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

macOS 11.5.2

### Steps to Reproduce

[code]

### Expected Results

Since the most specific `a` in the `debug` task loo

[2021-09-27 13:04] Andersson007 opened #75799 "[DOCSITE] Roles documentation pages return errors"
### Summary

 Roles documentation pages return errors "The documentation for the role plugin, ..., was malformed."

Relates to https://github.com/ansible-collections/dellemc.os10/issues/99.

Examples:
https://docs.ansible.com/ansible/latest/collections/community/mongodb/mongodb_auth_role.html#ansible-collections-community-mongodb-mongodb-auth-role
https://docs.ansible.com/ansible/latest/collection

[2021-09-27 13:22] Andersson007 commented on #75799
cc @felixfontein

[2021-09-27 13:46] sivel commented on #75798
Duplicate of https://github.com/ansible/ansible/issues/75286

[2021-09-27 13:46] #75798 closed, assigned to nobody

[2021-09-27 14:38] sivel commented on #75789
We have previously declined an `include_defaults` module:  https://github.com/ansible/ansible/issues/74822

[2021-09-27 14:38] sivel commented on #75789
!component =lib/ansible/modules/include_vars.py

[2021-09-27 14:40] sivel commented on #75788
Ref: https://github.com/ansible/ansible/pull/72043

[2021-09-27 15:14] haresotto commented on #75789
@sivel : This was not the same purpose.

I think I wrote too much informations. So let me summarize.

1) Vars defined in role/defaults/main.yml can be easily overriden by user.
2) include_vars allows to define vars for different contexts ( OS, versions, URLs etc) but can not easily be overriden by user

It would be useful to have something mixing the advantages of both : loading vars for different

[2021-09-27 15:32] samccann commented on #75799
Thanks @Andersson007 . Since all the role/plugin docs are generated by antsibull, please open this issue on https://github.com/ansible-community/antsibull/issues.

(I don't expect folks to know this for sure. I'd move the issue if I knew how to do that automagically in github).

[2021-09-27 15:32] #75799 closed, assigned to samccann

[2021-09-27 15:46] Andersson007 commented on #75799
@samccann ok, i'll create the issue in that repo, thanks!

[2021-09-27 15:51] tomaciazek commented on #75786
There is no 'ansible_collections.netapp_eseries.**santricity.santricity**.(plugins.doc_fragments).netapp' module.
There is `ansible_collections.netapp_eseries.santricity.plugins.doc_fragments.santricity`. And there is `ansible_collections.netapp_eseries.santricity.plugins.doc_fragments.netapp`.

[2021-09-27 16:02] sivel commented on #75786
It looks like we have some logic issues:

[code]

So, `ansible_collections.netapp_eseries.santricity.plugins.doc_fragments.santricity.netapp` doesn't exist, so we do some gymnastics, and end up building `n_resource_path` incorrectly here.  We probably need to determine that `acr.n_python_package_name` is a module itself, and not just traverse up to the package.

[2021-09-27 17:36] mattclay commented on #75790
@tadeboro I was able to get the unit tests to pass with the following:

tests/unit/requirements.txt

[code]

tests/unit/constraints.txt

[code]

[2021-09-27 17:43] mattclay commented on #75790
The originally reported error `ModuleNotFoundError: No module named 'kubernetes.dynamic'` appears to be due to having an old version of `kubernetes` (8.0.2) pre-installed in the `default` container. Upgrading `kubernetes` solves that, but options are limited due to `openshift` being pre-installed and having its own supported range of `kubernetes` versions.

To use a newer version of `kubernetes` t

[2021-09-27 17:51] vbotka commented on #75789
Create a dictionary and select the package, e.g.

[code]

The names of the Debian and FreeBSD packages are for demonstration purposes only.

[2021-09-27 18:40] haresotto commented on #75789
I do not have only  one var, this was just a small example.
While this solution works, as the flowerysong's one ( thank to both of you by the way), I do not think this is as easy, clean and intuitive as the idea I have in mind. I might be wrong of course, But what lead to the creation of include_vars ? Something just a little bit different from what I want, IMHO.

[2021-09-27 20:52] #74838 closed, assigned to nobody

[2021-09-27 20:52] #75164 closed, assigned to nobody

[2021-09-27 21:23] sgaist commented on #75663
Hi,

I would like to take care of this one as part of Hacktoberfest.

[2021-09-27 21:30] sivel commented on #75797
At this point, with there being no support in an upstream library, and 2.12.0b1 being released today, we wouldn't see this supported in an ansible-core release until 2.13 at earliest.

Something like this could get you by, as long as you were to run from a host with yescrypt support in libcrypt:

https://gist.github.com/sivel/f72ef00347d54b5524592786fddcd8da

[2021-09-27 21:36] vbotka commented on #75789
`But what lead to the creation of include_vars ?`

You can't include OS-specific defaults before group_vars. *host_vars* and *group_vars* might be needed to connect to the remote host. You don't know what is the OS of the remote host before you connect. You have to read *group_vars* before you connect, i.e. before you know what is the OS.

[code]

[2021-09-27 22:23] mattclay commented on #75791
@tadeboro Thanks for reporting this. The issue has been fixed in the stable-2.9 and stable-2.10 branches.

[2021-09-27 22:23] #75791 closed, assigned to nobody

[2021-09-28 04:07] haresotto commented on #75789
`But what lead`
-> I meant "what led initially", which can change the meaning of my sentence. Sorry for my bad English.

`before: groups_vars`

This idea of "before" was not to run before group_vars, but to set a priority on precedence. By that I mean "which setting of a var should win when it is is set more than once".
Now, I was thinking as a user, not as a developer and I guess this would annoy

[2021-09-28 10:29] ariordan-redhat commented on #75663
Thank you, @sgaist

[2021-09-28 11:41] ariordan-redhat commented on #75675
Hi @sgaist
Thanks for your help. Let us know if you have any questions.

[2021-09-28 12:55] gburjan commented on #74292
We've also run into this problem, ProxyCommand specified in inventory (in ansible_ssh_common_args variable) is ignored when we are using a network_cli module. Are there any expected date/release when it will be fixed?

[2021-09-28 14:00] vbotka commented on #75789
It seems, actually, that the functionality, you're looking for, is available!

Use *include_role* and select *defaults_from*, e.g.

[code]
given the role's defaults and task

[code]
The play gives as expected

[code]
But, now you can override the variable from *group_vars*, e.g.

[code]

The play gives

[code]

[2021-09-28 15:46] achuzhoy opened #75804 "when condition not respected on a block if a variable with the same name is initialized inside the block"
### Summary

When a condition set on the block is not met - the block should be skipped entirely (even if a condition is changed inside that block).  Consider the following example. I expect the second message (msg2) not to be printed, because the second block should be skipped entirely. Yet it's being executed.

[code]

### Issue Type

Bug Report

### Component Name

block

### Ansible Version

[

[2021-09-28 15:53] sivel commented on #75804
That is not how blocks work.  A block is effectively a means to apply keywords through inheritance.

So your use of a block, is effectively a short cut to performing the following:

[code]

To get the behavior you want, you will probably want to split the block into it's own file, and use `include_tasks` with your when statement.

[2021-09-28 15:54] sivel commented on #75804
If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-09-28 15:54] #75804 closed, assigned to nobody

[2021-09-28 18:47] cidrblock opened #75813 "Unnecessary use of persistent connection resulting in increased task execution time"
### Summary

For tasks not needing to use a persistent connection, the full play context is pickled and sent across.  This results in significantly higher task execution times.

For instance:

A set_fact task with `delegate_to: localhost` might take .03s where one not using `delegate_to: localhost` can take .5s.

This can also be demonstrated by bypassing

[code]
in task executor if `self._task` i

[2021-09-28 18:50] cidrblock commented on #75813
@Qalthos

[2021-09-28 18:54] nitzmahone commented on #75813
Ultimately I think we're naively re-sending the play context stuff to the connection on every task "just in case"- I've got a couple ideas on how we could make that a little smarter so it's only sent when it changes. The original persistent connection impl didn't take into account that things like connection vars could change from task-to-task, so when folks *did* that, it didn't reflect the curre

[2021-09-28 19:58] haresotto commented on #75789
Thank you @vbotka ! I can see that you tried hard on this and this is much appreciated.
Independently of this, I still think that everything loaded from role/defaults should have a low priority, but I do not know if this will convince ansible developers.
We'll see.
Thanks again

[2021-09-28 20:05] rptaylor opened #75814 "listing tags triggers "Unexpected Exception, this is probably a bug: can only join an iterable""
### Summary

Specifying `hosts: "{{ ansible_limit | default(omit) }}"` is very convenient in a playbook and works as expected (you have to specify explicit hosts with --limit , otherwise the play does nothing, "skipping: no hosts matched").  However certain basic functions that do not require actually running against any hosts, such as `--list-tags`, `--list-tasks` or `--list-hosts`, produce excep

[2021-09-28 20:17] sivel commented on #75814
This issue has been resolved in https://github.com/ansible/ansible/pull/75533

However, the fix will not be backported to 2.9, as 2.9 is only receiving security fixes at this time.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-09-28 20:17] #75814 closed, assigned to nobody

[2021-09-28 20:21] bcoca commented on #75813
its worse, it can change per loop iteration, including, but not limited to, delegating to diff hosts per loop item

[2021-09-28 21:05] vbotka commented on #75789
Everything loaded from role/defaults has [precedence 2.](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#understanding-variable-precedence). Only command line values have lower precedence. Also ``everything loaded from role/defaults`` by *include_role* have precedence 2. The implementation is systemic. The [vars manager](https://github.com/ansible/ansible/blob/devel/lib

[2021-09-28 22:12] haresotto commented on #75789
`This issue can be closed, I think.` I could not disagree more.
This is not because things are like they are that they can not change, improve or evolve.
I like the solution you came up with, but it looks hacky to load a role just to load vars. That does not look right. Especially the path part.

`Everything loaded from role/defaults`: No, that is false.
I would so like it to be true, so include_v

[2021-09-28 23:13] jonsflow opened #75815 "ansible.builtin.password does not always honor complexity char definition."
### Summary

We have tried to use the  ansible.builtin.password lookup method to generate unique passwords that adhere to our complexity rules.  What we have found is that the lookup('password,.,.,.,.) call does not always generate a password with each of the char types listed.

For example we have used

`{{ lookup('password', '/dev/null chars=digits,ascii_lowercase,punctuation,ascii_uppercase len

[2021-09-29 01:13] flowerysong commented on #75815
This does not appear to be a bug, though it is a possible feature request. `chars` defines the possible characters to be randomly selected. Nowhere does the documentation claim that there is a guarantee any particular subset of characters will appear.

[2021-09-29 03:17] cidrbl0ck opened #75816 "ansible 2.9.6: ERROR! Unexpected exception, this is probably a bug: 'NoneType' object has no attribute 'set_options'"
### Summary

Setting up a new Ansible server, testing a ping command against a hosts file:

[code]

### Issue Type

Bug Report

### Component Name

ansible

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04 LTS

### Steps to Reproduce

[code]
ansible jumpservers -m ping

### Expected Results

Ping results for each of the 4 hosts under that header in the hos

[2021-09-29 07:09] mkrizek commented on #75816
Duplicate of https://github.com/ansible/ansible/issues/75691

[2021-09-29 07:09] #75816 closed, assigned to nobody

[2021-09-29 08:11] jasonwcc opened #75817 "--syntax-check cant find fault in following code"
### Summary

[code]

Notice in the dict pkgs, those after dash "-" no space
If perform syntax check, no error found
but attempt to play it, will get error

Its a bug i guees

### Issue Type

Bug Report

### Component Name

variable and dict

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8.4

### Steps to Reproduce

[code]

### Expected Results

I expected error

[2021-09-29 08:46] mkrizek commented on #75817
[code]

The above is valid syntax, `pkgs` is proper variable that contains string, effectively the value is `-httpd -wget`. The syntax check has no way of knowing that you intended to define a list. As such it is expected behavior that the playbook passes syntax check but fails during run time when loop expects a list.

If you have further questions please stop by IRC or the mailing list:
* IRC: #

[2021-09-29 08:46] #75817 closed, assigned to nobody

[2021-09-29 13:25] sivel commented on #75815
As @flowerysong mentions, this is not a bug.  The character definition doesn't guarantee a particular complexity or that a certain number of characters from each subset will be represented in the final string.

We had a feature request to add this, but it seems someone decided to go another route, and created a new lookup plugin called `random_string` that contains this feature:

https://docs.ansi

[2021-09-29 17:05] mariolenz commented on #74286
@s-hertel @samdoran I agree that this might be more of a developer-centric feature. But instead of introducing new fields, how about a new parameter that sets / overrides the version when a developer builds / installs from the current branch? Something like `ansible-galaxy collection build --set-version=1.2-1`, `ansible-galaxy collection build --force-version=1.2-devel`, `ansible-galaxy collection

[2021-09-29 18:13] sivel opened #75822 "ERROR contains deprecated call to be removed in 2.13"
##### SUMMARY
ERROR contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2021-09-29 18:14] sivel commented on #75822
doh!

[2021-09-29 18:14] #75822 closed, assigned to nobody

[2021-09-29 18:15] sivel opened #75823 "cli contains deprecated call to be removed in 2.13"
##### SUMMARY
cli contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2021-09-29 18:15] sivel opened #75824 "copy contains deprecated call to be removed in 2.13"
##### SUMMARY
copy contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2021-09-29 18:15] sivel opened #75825 "get_url contains deprecated call to be removed in 2.13"
##### SUMMARY
get_url contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2021-09-29 18:15] sivel opened #75826 "uri contains deprecated call to be removed in 2.13"
##### SUMMARY
uri contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2021-09-29 18:15] sivel opened #75827 "psrp contains deprecated call to be removed in 2.13"
##### SUMMARY
psrp contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2021-09-29 18:15] sivel opened #75828 "template contains deprecated call to be removed in 2.13"
##### SUMMARY
template contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2021-09-29 18:15] sivel opened #75829 "ec2_ami_info contains deprecated call to be removed in 2.13"
##### SUMMARY
ec2_ami_info contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2021-09-29 19:15] sivel opened #75830 "Add yaml result serialization functionality to default callback plugin"
### Summary

Add yaml result serialization functionality to default callback plugin

### Issue Type

Feature Idea

### Component Name

lib/ansible/plugins/callback/default.py

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-09-29 20:55] tonykay opened #75831 "ansible-galaxy -p option inconsistent between install and list"
### Summary

The -p path option behaves in a non-intuitive way

`ansible-galaxy collection install awx.awx -p collections` installs awx.awx into ./collections
`ansible-galaxy collection list -p collections` lists the directory collections + COLLECTIONS_PATH

This is, IMO, counterintuitive and can lead to misunderstandings about dependencies etc.

Request: `ansible-galaxy collection list -p collect

[2021-09-29 21:03] sivel commented on #75831
Technically they both work the same, in that `-p` always prepends the path you provide onto the front of the configured paths.

It's just that install uses the first path, regardless of `-p`.  If you leave off `-p` it still uses the first configured path.  `-p` just adds the specific path onto the front.

However, I get what you are saying, you're asking for a way to limit list results to a single

[2021-09-29 22:22] opoplawski opened #75832 "setup fails running capsh as nont-root user on synology DSM 7.0"
### Summary

The setup module fails trying to run capsh as a non-root user because /bin/capsh is only executable by root.

### Issue Type

Bug Report

### Component Name

setup

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

CentOS 8 host, Synology NAS DSM 7.0.1-42218 target

On synology:
[code]

### Steps to Reproduce

[code]

### Expected Results

Setup succeeds

#

[2021-09-29 22:37] idahood commented on #74292
This appears to be broken in 2.11.5 as well

[code]

[2021-09-30 08:41] guenhter opened #75834 "Extra Verbosity fails play"
### Summary

When I use `become: yes` and turn the logging verbosity to `-vvv` it works perfectly fine. When the verbosity is increased to `-vvvv` every run fails at the very beginning. Without `become: yes` even the `-vvvv` passes.

### Issue Type

Bug Report

### Component Name

Core

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04.3 LTS

### Steps to R

[2021-09-30 09:12] mipo256 opened #75835 "user module: Module 'platform' has no attribute '_supported_dists'"
### Summary

I have tried to create a system user using Ansible **ansible.builtin.user** module within a play:
[code]
Tasks before that one are executed as expected, but this one failed.

### Issue Type

Bug Report

### Component Name

ansible.builtin.user

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04

### Steps to Reproduce

You can create a simple pl

[2021-09-30 09:49] tremble opened #75837 "ansible-test - validate-modules threw AttributeError"
### Summary

When I tried running sanity tests against I module I was working on I made the mistake in my YAML of missing the whitespace between `required:` and the value `True`

[code]

This resulted in a big exception rather than cleanly failing.  Given the sanity tests are specifically supposed to be picking up on 'bad' things, it feels like this should have been handled more cleanly

### Issue

[2021-09-30 13:51] sivel commented on #75835
Ansible 2.7 is not currently supported. Please upgrade to at least ansible-base==2.10 or ansible-core 2.11.

needs_info

[2021-09-30 13:56] mkrizek commented on #75837
`AttributeError: attribute 'line' of 'yaml._yaml.Mark' objects is not writable` happens when `CSafeLoader` is used
https://github.com/ansible/ansible/blob/927ffe26b7bcf7956d353ae99c567c7a60227153/lib/ansible/module_utils/common/yaml.py#L29
in
https://github.com/ansible/ansible/blob/927ffe26b7bcf7956d353ae99c567c7a60227153/test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modu

[2021-09-30 13:56] sivel commented on #75834
The only thing I really see in the output is:

[code]

I have no idea why added verbosity would cause that behavior.

[2021-09-30 14:08] guenhter commented on #75834
You and me both. Here the output with only `-vvv`:

[code]

[2021-09-30 14:14] mkrizek commented on #75834
What is `common-ansible/resources/ansi-test.sh`?

[2021-09-30 14:24] guenhter commented on #75834
Just a wrapper around Ansible that spins up a Vagrant machine before it executes Ansible. Don't bother about that.

[2021-09-30 14:32] sivel commented on #75834
These are really the only changes I see in the ssh command:

[code]

Which does seem odd that `-C -o ControlMaster=auto` disappear in the verbose example.  They do not do that for me.

Because they are missing leads me to believe that in 1 example you have overridden `ssh_args` and in another example you have not.

Although I don't understand what potential issue that would cause.

Maybe try runni

[2021-09-30 14:33] idahood commented on #74292
FWIW, this works using ansible-base 2.10.4

[code]

[2021-09-30 14:43] guenhter commented on #75834
About the difference you found. Maybe this happened because the second log (the working one, I changed something in the cfg file because I'm experimenting already the whole day).
I've updated now the original description with two log files. One working (-vvv) and the not working (-vvvv). Both runs were done after each other without any modifications of any properties.

[2021-09-30 14:48] guenhter commented on #75834
Running:

[code]

Gets me:

[code]

So it's requesting then the password. Seems ok, doesn't it?

[2021-09-30 14:50] sivel commented on #75834
That's not where the task execution fails.  That happens automatically via sshpass when run via ansible.  So you would have to respond to that, and then provide the same password again for the sudo prompt

[2021-09-30 14:51] m8ram opened #75842 "best practices missing from the current set of documentation"
### Summary

My current ansible directory structure is based on [the release 2.9 best practices](https://docs.ansible.com/ansible/2.9/user_guide/playbooks_best_practices.html) which does not include namespaces or collections.

I was unable to find a page that describes a recommended layout to use with namespaces and collections.
Please add a full recommended directory layout that includes namespac

[2021-09-30 14:55] sivel commented on #75842
Duplicate of https://github.com/ansible/ansible/issues/75520

[2021-09-30 14:55] #75842 closed, assigned to nobody

[2021-09-30 15:24] Mikhail2048 commented on #75835
Ok, I will update and return with renewal

[2021-09-30 15:35] Andersson007 commented on #75641
[Ansible Contributor Summit]: https://ansiblecs202109.eventbrite.com/?aff=github
[Hackathon]: https://hackmd.io/@ansible-community/contrib-summit-202109#Hackathon
[Ansible Contributor Summit 2021.09 HackMD]: https://hackmd.io/@ansible-community/contrib-summit-202109

**Reminder** - Day 2 of the [Ansible Contributor Summit] and the last day of the [Hackathon] start tomorrow (Friday, 1 October 2021)

[2021-09-30 17:17] opoplawski commented on #75832
I have filed a support ticket with Synology to see if they can fix the permissions on the file as it doesn't seem right.

[2021-09-30 17:21] bcoca commented on #75832
still, fact gathering should do 'best effort' and not fail because of permissions issues

[2021-09-30 17:37] sivel commented on #75837
Since `ansible-test` doesn't expose `traces`, and I doubt anyone is running `validate-modules` outside of `ansible-test` any more, we can probably just avoid updating the exception, and just use some intermediate variable for the error that is generated.

[2021-09-30 19:08] nitzmahone commented on #75772
At a glance, it doesn't seem like this is a behavior we'd want to implement, but it's unclear if/why switching to aptitude would actually fix this. If you're trying to install something where the deps aren't available, you'll probably need to just shell out to the tool that's going to let you do what you want. Closing for now, but if you can be more specific on what's going on, we can keep discuss

[2021-09-30 19:08] #75772 closed, assigned to nobody

[2021-09-30 19:12] nitzmahone commented on #75775
There may be architectural changes in future versions of Ansible that would allow you to implement such a cache internal to your plugin, but for now, there's not a great way to do this with the distributed worker model where these things evaluate.

[2021-09-30 19:12] #75775 closed, assigned to nobody

[2021-09-30 19:21] nitzmahone commented on #75789
There are ways to do what you want already- we're unlikely to further complicate precedence by adding more layers... Closing as above...

[2021-09-30 19:21] #75789 closed, assigned to nobody

[2021-09-30 19:28] nitzmahone commented on #75797
We definitely don't want to implement support for this in Ansible independently of what the distro/Python crypto libs support; it'll come for free when used on platforms that fully provide it. Closing...

[2021-09-30 19:28] #75797 closed, assigned to nobody

[2021-09-30 19:30] nitzmahone commented on #75815
Basically a duplicate of existing feature request as above, closing...

[2021-09-30 19:30] #75815 closed, assigned to nobody

[2021-09-30 19:35] nitzmahone commented on #75831
We'd be unlikely to change the existing behavior at this point, there are a lot of gotchas to account for if that were the case. Probably the best thing would be to just override the collection path envvar to be empty for the command invocation where you want the limited list to work. We're probably not going to add a new command-line option just for this.

[2021-09-30 19:35] #75831 closed, assigned to nobody

[2021-09-30 19:42] haresotto commented on #75789
I really do not want to seem rude but "there are other ways" does not mean that those other ways are good or that there is nothing missing. I really do not understand the closure of this request without explanation.
if that was true, the default_from of a include_role should not even exist.
I am not asking for a change in precedence at all.
I clearly showed a case where something  does not work th

[2021-09-30 19:46] #75828 closed, assigned to mkrizek

[2021-09-30 19:48] #75825 closed, assigned to mkrizek

[2021-09-30 19:48] #75826 closed, assigned to mkrizek

[2021-09-30 19:48] #75824 closed, assigned to mkrizek

[2021-09-30 19:50] #75823 closed, assigned to mkrizek

[2021-09-30 19:50] #75829 closed, assigned to mkrizek

[2021-09-30 20:21] bcoca commented on #75794
Not true, its great in detecting 'non boostrapped' hosts that are not managed by ansible yet, so i use it as a condition to call my bootstrapping plays (basically install the python that is needed).

True, the outer ones were meant to be double quotes

Also true, not a problem 'per se' but  I'll be sticking to a single loop in the update

[2021-09-30 20:48] nicobo opened #75852 "Attribute `dest` of the **fetch** module is not documented to allow *files* names (only *directories*)"
### Summary

As I've just tested, the following task will copy the `src` **file** into the specified `dest` **file**, as expected.

[code]

However, the docs misled me in believing that only **directories** where allowed to be specified in `dest` :
- e.g. in the description of the module : "It is used for fetching files from remote machines and storing them locally **in a file tree, organized by h

[2021-09-30 21:05] jonathanalexander229 commented on #75815
Thanks for the response all.  However with the current standards of password complexity  it seems that a module named ansible.builtin.password that is for generating passwords really should be able to do what I'm asking, but I'll leave that for the project owners.  If that's not what the module is used for it should really say that it won't guarantee a char type will be included.

I'll look to use

[2021-09-30 21:13] #68920 closed, assigned to nobody

[2021-10-01 04:49] jondoig commented on #75794
Thanks @bcoca.

To clarify, my comment about ping is a quote from the linked Ansible module doco, so maybe that page could do with an update?

I agree it's useful to document an exponential backoff example, and thanks for doing so. Your code led me to implement something similar as a helper role.

Perhaps this example fits better somewhere focused on URI rather than on the Data Manipulation page?

[2021-10-01 10:59] rafalkrupinski commented on #75772
`apt install package` works fine and install the package and its dependenecies, while usong ansible apt module fails

[2021-10-01 12:41] ghost opened #75862 "Can't set $Ansible.Changed in win_powershell task"
### Summary

When I try to set $Ansible.Changed to false, as in the win_powershell module doc , the variable remains at its default value (true).

### Issue Type

Bug Report

### Component Name

win_powershell

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Red Hat Enterprise Linux release 8.4 (Ootpa)

### Steps to Reproduce

[code]

### Expected Results

I expected

[2021-10-01 13:10] mkrizek commented on #75862
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.windows.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!for

[2021-10-01 13:10] #75862 closed, assigned to nobody

[2021-10-01 13:11] mkrizek commented on #75834
needs_info

[2021-10-01 15:09] bcoca commented on #75794
i believe the comment was more about the 'pong' option than about the ping module

it is in data manipulation as an example of creating a range with a specific distribution, i'll probably move to uri as most people will want that for accessing an API and avoiding getting throttled (wait_for_conneciton makes my initial example mostly obsolete).

[2021-10-01 15:49] aventrax opened #75866 "Cannot use hostvars using 'compose' option of costructed inventory"
### Summary

[code]

I developed an inventory plugin for my own purposes, it connects to a REST API and gets the host list and other vars. On the plugin itself I use the function `self.inventory.set_variable(hostname, "hostvar1", myvalue)` and then I call the `_set_composite_vars(..)` function to construct variables based on jinja2 expressions as documented. This is not working.

### Issue Type

B

[2021-10-01 15:56] bcoca commented on #75866
`_set_composite_vars` takes in 'variables', if you want it to use a specific set, pass them in?

[2021-10-01 16:20] aventrax commented on #75866
I'm adding variables (coming from successive API calls) using `self.inventory.set_variable(hostname...)`, am I doing it wrong? I could make the api calls before, mixup what I need and then call self.inventory.add_host() with the definitive object.  Would be that approach more appropriate?

[2021-10-01 16:25] zshorvat opened #75867 "aci_static_binding_to_epg - request not working when reading vars from inventory"
### Summary

When trying to deploy static binding with _aci_static_binding_to_epg_ using vars from an inventory, there is no result seen in ACI .

Running the exact same playbook but with vars defined in the playbook itself, the config will be deployed just fine.

### Issue Type

Bug Report

### Component Name

aci_static_binding_to_epg

### Ansible Version

[code]

### Configuration

[code]

###

[2021-10-01 16:29] #75867 closed, assigned to nobody

[2021-10-01 16:58] rootbid commented on #35305
@samccann Is that the only change required in the docs?

I can fix this up.

[2021-10-01 18:24] bcoca commented on #75866
not sure 'more appropriate' makes sense, IMHO, the bar is 'whatever works for you'

[2021-10-01 18:37] aventrax commented on #75866
I just "solved" on my side just overriding `_set_composite_vars()`, asking for the "best" way is because I wanted to make a PR if it makes sense. Otherwise I'll just close the issue and stop bothering you ;)

[2021-10-01 20:18] marlonfrank30 opened #75870 "ansible playbook for kubernetes using sudo elevation not working"
### Summary

trying to join in some of my kubernetes nodes to the cluster however the shell script used by the user marlon requires privilege escalation which then is not finding the file's location

both nodes have copied the file correctly to tmp folder by the playbook

[code]
however whenever trying to run the playbook with the correct privileges I am getting the following error:

[code]

here

[2021-10-01 22:21] marlonfrank30 commented on #75870
got it work with the following
#https://www.middlewareinventory.com/blog/ansible-sudo-ansible-become-example/
  - name: Join the node to cluster
    #become_user: marlon
    #become_method: sudo
    #become: yes
    shell: |
      kubeadm reset --force
      /tmp/join-command.sh

[2021-10-01 22:21] #75870 closed, assigned to nobody

[2021-10-02 01:04] kbreit opened #75871 "Collection cannot be installed"
### Summary

I received a bug report for my modules (cisco.meraki) at https://github.com/CiscoDevNet/ansible-meraki/issues/255. While it affects my modules it appears to be an issue on the ansible-galaxy side. Please us know what can be done to troubleshoot. Thank you.

### Issue Type

Bug Report

### Component Name

ansible-galaxy

### Ansible Version

[code]

### Configuration

[code]

### OS /

[2021-10-02 03:52] flowerysong commented on #75871
You have not provided any evidence that the collection is not properly installed. The `cisco.meraki` collection does not contain any inventory plugins, and if it did contain an inventory plugin it would be `cisco.meraki.foo`, not plain `cisco.meraki`. This being the case, `ansible-doc -t inventory cisco.meraki` will return this warning regardless of whether the collection is installed.

[2021-10-02 18:04] jeee commented on #75599
This command gives no output.

[2021-10-02 19:39] tony-schndr opened #75873 "default inventory path not found when running network-integration tests"
### Summary

When running `ansible-test network-integration`  on  the `devel` branch the inventory file fails to be found.  This problem is being caused because the default inventory path uses `test` instead of `tests`.

https://github.com/ansible/ansible/blob/f4d4391a1f5d4d2b4159d9976216c5861023be2c/test/lib/ansible_test/_internal/cli/compat.py#L472

Although I am only running network-integration

[2021-10-03 01:22] mhansen opened #75874 "FR: Add `v2_runner_item_on_start` callback to callback plugins"
### Summary

I am trying to write a tracer for Ansible that logs output to Chrome's Event Trace Format. See demo: https://twitter.com/MarkHnsn/status/1444438992506605568.

I think this could be useful to all Ansible users to help them visualise why their pipelines are slow, and help maintainers debug performance problems.

### Issue Type

Feature Idea

### Component Name

callback plugin

### Addi

[2021-10-04 04:31] Tom-Le opened #75877 "Custom modules in role fail to resolve when role is part of an Ansible Galaxy collection"
### Summary

When I install a collection from Ansible Galaxy that contains roles with custom modules, I cannot include such roles in my playbooks because the custom modules fail to resolve. This affects the [freeipa.ansible_freeipa](https://github.com/freeipa/ansible-freeipa) collection.

### Issue Type

Bug Report

### Component Name

roles

### Ansible Version

[code]

### Configuration

[code]

[2021-10-04 09:11] xeor opened #75878 "Adding the concept of prepare-playbook in ansible.cfg"
### Summary

When using Ansible, I often want to enforce some rules when others are running a playbook, show some information, or do some other preparation-steps.

I would like to suggest adding an option in `ansible.cfg` for a preparation playbook that will always run first.

### Issue Type

Feature Idea

### Component Name

playbook, config

### Additional Information

Example
[code]

This optio

[2021-10-04 10:10] mhansen opened #75879 "With strategy=free + roles, hosts shouldn't wait for other hosts to finish roles tasks"
### Summary

When I use the [`free` strategy](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/free_strategy.html#free-strategy), and some `roles:` in my playbook, the execution of some hosts is held up waiting for some other hosts to finish their role.

### Issue Type

Bug Report

### Component Name

ansible.builtin.free

### Ansible Version

[code]

### Configuration

[code]

[2021-10-04 11:52] redsigma opened #75880 "Run command outside ansible and come back if finished succesfully"
### Summary

I am trying to use the helm module with ansible and i want to use the `--debug` parameter to get information while the command is running. The module doesnt have this feature so i thought of using the shell module but this also doesn't display any output while the command is running.

I want to know if it's possible for ansible to run a shell command outside ansible , which is the sam

[2021-10-04 12:04] mkrizek commented on #75880
https://docs.ansible.com/ansible/latest/user_guide/playbooks_async.html

[2021-10-04 12:24] mkrizek commented on #75599
Which is in contradiction with the statement in the issue description that says `I am using the 'hash_behaviour = merge' option in ansible.cfg.`.

Since the command gives no output `hash_behavior=replace` is used because it is the default and as such the output in `Actual Results` is expected.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat

[2021-10-04 12:24] #75599 closed, assigned to nobody

[2021-10-04 12:26] jeee commented on #75599
$ cat /etc/ansible/ansible.cfg |grep merge
hash_behaviour = merge

[2021-10-04 12:29] jeee commented on #75599
looks like at least ansible-config is not using the config anymore?
$ ansible-config dump |grep -i hash
DEFAULT_HASH_BEHAVIOUR(default) = replace

[2021-10-04 12:34] jeee commented on #75599
strange. 'ansible-config view' shows hash_behaviour = merge at the end.

[2021-10-04 12:42] jeee commented on #75599
looks like it was in the wrong section in the config file. Don't understand what happened exactly cause it worked before. Sorry for the trouble.

[2021-10-04 13:48] sivel commented on #75877
Modules and other plugins cannot reside within a role when the role is in a collection.  All plugins must exist in the collection scope.

This is documented at https://docs.ansible.com/ansible/latest/dev_guide/developing_collections_structure.html#roles-directory

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https:/

[2021-10-04 13:48] #75877 closed, assigned to nobody

[2021-10-04 13:55] kbreit commented on #75871
An upgrade to 2.11 fixed it for the user. Thank you.

[2021-10-04 13:55] #75871 closed, assigned to nobody

[2021-10-04 14:23] samccann commented on #35305
@rootbid yes, that is a good easy fix to put in place, thanks!

At some point we should consider whether to remove it or not, but since this issue has sat around for quite some time, just changing the note as mentioned in https://github.com/ansible/ansible/issues/35305#issuecomment-699077768 is a great start!

[2021-10-04 17:29] #75676 closed, assigned to sgaist

[2021-10-04 17:46] #75675 closed, assigned to sgaist

[2021-10-04 17:50] guenhter commented on #75834
Hi, I isolated the problem into a Vagrant environment https://github.com/guenhter/ansible-extra-verbosity-error

Problem is easy to reproduce and explained in the README.md file.

Summary of the Vagrant environment:

2 Ubuntu 20.04 boxes:
* control-node
* managed-node

When the vagrant box is started, it installs ansible on the control-node.
Then the test playbook (printing out "Hello world") can

[2021-10-04 17:54] sivel commented on #75879
A strategy is linked against a single play.  Your playbook has multiple plays within it.  As such, no tasks from the next play will start until all tasks from the current play are finished.

There is no concept of allowing multiple plays to execute simultaneously.

To get the behavior you want would require placing all roles in a single play, and using `when` statements to skip tasks that should n

[2021-10-04 18:04] sivel commented on #75834
If you use key based authentication instead of password based, do you still run into this issue?

Using your reproducer will require waiting for someone who has access to vagrant to test.

needs_info

[2021-10-04 18:19] samccann opened #75883 "Documentation Checklist - ansible-core 2.12 release"
### Summary

Documentation checklist to prepare for and deliver the ansible-core 2.12 release. See followon comment for the full checklist.

### Issue Type

Documentation Report

### Component Name

docs/docsite/sphinx_conf/ansible_conf.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

none

### Additional Information

none

### Code of Conduct

- [X] I agree to fol

[2021-10-04 18:25] samccann commented on #75883
Tasks include:

- [ ] remove the release/maintenance page and porting guide pages from the new release when the branch is created and replace with stub page pointing up to the devel versions of these release-independent pages.
- [ ] Review changelogs in stable-2.12 for ansible-core
- [ ] Review ansible-core porting guide and ensure it links to core 2.12 changelogs
- [ ] include ansible-core in Rel

[2021-10-04 19:15] mkrizek commented on #75408
@gsikorski As was already mentioned by @s-hertel above the bot will auto-close the issue _only_ if there is `needs info` label. The bot would also warn about closing the issue.

Having said that, there is no such label applied on this issue at the moment and as such the bot will NOT auto close this issue with the current set of labels applied.

[2021-10-04 20:29] samccann opened #75884 "Documentation release checklist for Ansible 5"
### Summary

docs release checklist for Ansible 5 release. See comment for list of actions.

### Issue Type

Documentation Report

### Component Name

docs/docsite/sphinx_conf/ansible_conf.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

none

### Additional Information

none

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-10-04 20:32] samccann commented on #75884
Update the documentation and publish the 5 version of Ansible documentation. Tasks include:

Pre-release tasks:
- [ ] Update the Release Status grid on the Release and Maintenance page in devel to link in changelogs and mark Ansible 4 as EOL, and add Ansible 6 as in development.
- [ ] Verify that the Ansible 5 porting guide has a link to the Ansible 5 changelog file in gitub.
- [ ] Add a skeleton

[2021-10-04 20:36] samccann commented on #75664
Detailed release checklists at  https://github.com/ansible/ansible/issues/75884 and https://github.com/ansible/ansible/issues/75884

[2021-10-04 20:47] mhansen commented on #75879
Thanks for the explanation! Do you think there might be an opportunity here
to make Ansible faster for many users?

I understand roles are kinda encouraged/best-practice (at least, they used
to be listed under the best practices page:
https://docs.ansible.com/ansible/2.8/user_guide/playbooks_best_practices.html#group-by-roles
).

Probably a lot of people are using roles, and we could probably opti

[2021-10-04 20:55] #75663 closed, assigned to sgaist

[2021-10-04 22:11] Thulium-Drake opened #75886 "PPA package: python3-resolvelib has a wrong version number"
### Summary

o/ all,

Not sure if this is the right place (I couldn't find a PPA-related repo :-) )

When installing ```ansible-core``` from the PPA, it automatically pulls python3-resolvelib. And it is not properly recognized by Ansible (in this case it was unable to load the ARA callback, but it's visible in multiple places.

### Issue Type

Bug Report

### Component Name

packaging

### Ansible

[2021-10-05 05:31] guenhter commented on #75834
It also happens, when key based authentication is used.

Furthermore I changed the Reproducer (https://github.com/guenhter/ansible-extra-verbosity-error) to only have docker as a dependency. No vagrant needed any more.

[2021-10-05 06:26] Andersson007 commented on #75641
thanks everyone who attended!

[2021-10-05 06:26] #75641 closed, assigned to nobody

[2021-10-05 07:03] Thulium-Drake commented on #75886
!component lib/ansible/modules/package.py

[2021-10-05 07:17] NilashishC commented on #74292
@gburjan @idahood Until this is fixed, as a workaround, you can either use the `proxy_command` ini entry under `paramiko_connection` section in ansible.cfg or use the environment variable ANSIBLE_PARAMIKO_PROXY_COMMAND.
The same options are also available for transport [libssh](https://docs.ansible.com/ansible/latest/collections/ansible/netcommon/libssh_connection.html#parameter-proxy_command).

[2021-10-05 07:43] xeor commented on #75878
That's a good point, and those are generally the best way to run many types of playbooks. I still don't think it makes this feature redundant tho, since I think the majority of people still just use Ansible from CLI.

I generally think a feature like this will be useful for many ad-hoc and one-shot playbooks, where you don't really want to bother with using awx/tower..

[2021-10-05 11:12] thanos1983 opened #75887 "b64encode / b64decode adds trailing character on string"
### Summary

I noticed the problem when I encode / decode with b64encode / b64decode. Ansible handles the extra character but when the encoding / decoding is handled by another tool the character becomes a problem.

### Issue Type

Bug Report

### Component Name

b64decode

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

MacOS

### Steps to Reproduce

[code]

### Expe

[2021-10-05 11:20] gsikorski commented on #75408
Thanks @mkrizek. @s-hertel is there anything done with this bug? Any plans?

[2021-10-05 13:02] sivel commented on #75886
The owners of this repository do not own the packaging for the PPA.  You will need to submit those issues to https://github.com/ansible-community/antsibull/issues

[2021-10-05 13:32] m8ram commented on #75842
@sivel #75520 only refers to missing information about collections. It does not mention namespaces.
The best practices page also contained more than just the layout.

[2021-10-05 13:33] m8ram commented on #75520
In addition to collections the use of namespaces needs to be documented as well.

[2021-10-05 13:39] sivel commented on #75520
I don't know what this means.  What are namespaces outside of the context of collections?

[2021-10-05 14:03] Thulium-Drake commented on #75886
Thanks, opened here https://github.com/ansible-community/antsibull/issues/314

[2021-10-05 14:03] #75886 closed, assigned to nobody

[2021-10-05 14:08] thanos1983 commented on #75887
Hello @sivel ,

Thank you for looking into this so fast.

On my terminal MacOS I see the following:

[code]

The problem that I am facing is the `%` character at the end.

Ansible handls this but I am encoding and decoding the stings to feed them to k8s. Then k8s is complaining that can not process this encdoded string due to  invalid character.

[2021-10-05 14:16] markstos opened #75889 "'groups' feature of user builtin doesn't mention deleting groups"
### Summary

I was surprised to after using Ansible to add some users to a group, that they had been removed from all other groups (crucially, including one used to grant them `sudo` rights!).

### Issue Type

Documentation Report

### Component Name

user_module

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Arch Linux

### Additional Information

I re-read the doc

[2021-10-05 14:35] sivel commented on #75887
I am assuming that your terminal is indicating that there is no trailing line by showing you a `%`

When I run that command in bash I get this:

[code]

If I use zsh:

[code]

Reading the zsh docs: https://zsh.sourceforge.io/Doc/Release/Options.html#Prompting

What you are seeing is an effect of that documentation.

The `%` is not actually included in the output.

You can use a website such as htt

[2021-10-05 14:39] thanos1983 commented on #75887
Makes sense. I am new to Mac and I guess the error is coming from another point. I will try to replicate the problem on my Linux machine and get back to you by the end of the day.

[2021-10-05 14:44] sivel commented on #75834
It looks like this happens with `pipelining`.  Based on a quick bit of research, it seems that we are seeing the echo of the command we send, and thinking we've succeeded escalation:

[code]

[2021-10-05 14:46] sivel commented on #75889
This is documented in the `append` parameter docs:

https://docs.ansible.com/ansible/latest/collections/ansible/builtin/user_module.html#parameter-append

The default is documented as `no`.

[2021-10-05 14:58] dkolepp opened #75890 "Invalid characters for collection playbook filenames"
### Summary

When I try to run a collection playbook with `ansible-core` from the `devel` branch on GitHub, an error occurs if the playbook contains a dash (`-`) in the playbook filename.

### Issue Type

Documentation Report

### Component Name

ansible-playbook

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8.4

### Steps to Reproduce

## Step 1
I created a t

[2021-10-05 15:02] markstos commented on #75889
@sivel Thanks for the prompt response. Considering the destructive and critical consequences of removing users from groups (and blocking admin access to servers), it seems worth at least referencing the `append` docs from the `groups` section, like:

Because the `groups` option was documented to exactly what I wanted (It clearly says _"list of groups user will be added to.",_ )I didn't read every

[2021-10-05 15:06] mkrizek commented on #75852
It sounds like this is more of an issue with documentation of the `flat` parameter https://docs.ansible.com/ansible/latest/collections/ansible/builtin/fetch_module.html#parameter-flat?

[2021-10-05 15:15] mkrizek commented on #75866
Feel free to send a PR, make sure the new option is not default.

[2021-10-05 15:17] mkrizek commented on #75873
cc @mattclay

[2021-10-05 15:24] mkrizek commented on #75878
Thank you very much for your interest in Ansible. We have no plans to implement this feature at this time.

There are multiple ways how to achieve this already and we don't think implementing this via config option is the right way to do this.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!

[2021-10-05 15:24] #75878 closed, assigned to nobody

[2021-10-05 15:27] mkrizek commented on #75879
Closing as per above.

If you want to run multiple plays in parallel you can run `ansible-playbook` in parallel.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-10-05 15:27] #75879 closed, assigned to nobody

[2021-10-05 15:30] bcoca commented on #75880
isn't this what the shell/command modules already do?
https://docs.ansible.com/ansible/latest/collections/ansible/builtin/shell_module.html

[2021-10-05 15:36] bcoca commented on #75890
This is expected, no resource in a collection can use `-` as the collection loader uses the python importer, which does not support dashes.

[2021-10-05 15:38] xeor commented on #75878
@mkrizek
Any hint of how you would would do this if not using cli? I currently needs to abuse the plugin architecture now and use an inventory plugin. It feels wrong.

I could submit a pr for this if that would help and be accepted.

If this is still unwanted, can you please share a little bit of why, and how I can think of an present this feature in a way that fits the bigger picture

[2021-10-05 16:54] Harliff opened #75892 "ansible.builtin.setup filter not working with Windows target"
### Summary

The ``ansible.builtin.setup`` wont filter it output when target OS is Windows.

### Issue Type

Bug Report

### Component Name

ansible.builtin.setup

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Host OS: Debian 11 x64
Target OS: Windows 10 (x64) / Windows server 2016 (x64).

### Steps to Reproduce

# got some windows machine inside your inventory host

[2021-10-05 17:32] dkolepp commented on #75890
Is there a place to test/validate a collection - a linter or something - where this rule can be implemented?

Although I think the need to document this important, I also think this will be easily missed.  Is there some other place that a warning can be thrown, to let content *creator* know this?  I'm sure that many Ansible users use dashes in their playbook filenames.  When they try to migrate th

[2021-10-05 17:50] samccann commented on #59604
Since this issue hasn't been fixed yet, it's a good candidate for anyone looking for hacktoberfest fun!

[2021-10-05 17:54] redsigma commented on #75880
Not really. What i wanted it's for ansible to open a new terminal where it runs the command. This new terminal should not be related to ansible.
Any i will try with async as mkrizek suggested, althought i am not sure if it has what i need.

[2021-10-05 18:36] bcoca commented on #75890
ansible-lint is a linter, and ansible-test is used for testing collections, I don't believe either of them have been updated to handle this case

[2021-10-05 18:41] bcoca commented on #75880
any process that opens a terminal basically owns it, you can 'detach' so ending the process won't kill it, this is what async does, not sure if that is what you mean.

[2021-10-05 18:44] redsigma commented on #75880
I have checked more issues and it seems what i need to have it's realtime output to stdout when a command is running , the helm install command in my case. And because ansible shows output only after the command is done (if it's done) , i thought of this idea.

If you say that async would do a detach of the running terminal then i think it should work well

[2021-10-05 18:47] bcoca commented on #75880
so what you want is 'live view' of the output, that is unrelated to 'independent terminal', even if the terminal is detached you dont have a simple way of getting that output

Closing this as dupe of https://github.com/ansible/proposals/issues/92
See attempted implementation https://github.com/ansible/ansible/pull/13620

[2021-10-05 18:47] #75880 closed, assigned to nobody

[2021-10-05 19:50] samccann commented on #35520
Most of these have been fixed. Look for new individual issues for the few that remain and thanks all for the help!

[2021-10-05 19:50] #35520 closed, assigned to acozine

[2021-10-05 20:15] #75892 closed, assigned to nobody

[2021-10-05 20:34] thanos1983 commented on #75887
@sivel you are absolutely right. I was able to verify it.

Thank you for your time and apologies for raising a faulty ticket.

[2021-10-05 20:34] #75887 closed, assigned to nobody

[2021-10-06 04:12] felixfontein commented on #75886
@sivel FYI, PPA packaging is done in https://github.com/ansible-community/ppa

[2021-10-06 12:05] ariordan-redhat opened #75896 "Docs: Add code-block elements to format 163 code examples in user_guide/playbooks_filters.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , refer to [Syntax highlighting - Pygments](https://docs.ansible.com/ansible/latest

[2021-10-06 13:11] ariordan-redhat opened #75897 "Docs: Add code-block elements to format 61 code examples in user_guide/playbooks_filters_ipaddr.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 14:17] ariordan-redhat opened #75899 "Docs: Add code-block elements to format 23 code examples in user_guide/playbooks_variables.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 14:28] ariordan-redhat opened #75900 "Docs: Add code-block elements to format 21 code examples in user_guide/playbooks_loops.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 15:30] ariordan-redhat opened #75902 "Add code-block elements to format 18 code examples in user_guide/playbooks_tests.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 15:45] rolandrc opened #75904 "When using hostvars in debug output, group membership gets removed for the targeted host if jinja2_native = True"
### Summary

I was looking at the output of `ansible -m debug -a "var=hostvars" targethost`. It contains a `group_names` entry in each host's mapping, which is the list of groups that host is part of. I found it was empty for whichever host was the target host for the command, and group variables are also missing for that host.

This only happens when `jinja2_native = True` in the configuration (o

[2021-10-06 15:53] ariordan-redhat opened #75905 "Add code-block elements to format 18 code examples in user_guide/sample_setup.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 15:58] ariordan-redhat opened #75906 "Add code-block elements to format 14 code examples in user_guide/playbooks_conditionals.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 16:15] sivel commented on #75904
This issue has been tangentially fixed in devel and the upcoming 2.12 release as part of ffa548503d311a37194c7528e5d6026816c2ae58

Although we can remove the 2 offending lines (found 3 times in that file) as they are not needed to overcome the issue they were added for (performance of serializing the host, since now we only send the host name and not a host object)

<details>
<summary>Patch...</su

[2021-10-06 16:46] #75386 closed, assigned to nobody

[2021-10-06 16:48] ariordan-redhat opened #75908 "Add code-block elements to format 14 code examples in user_guide/playbooks_error_handling.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 17:03] ariordan-redhat opened #75909 "Add code-block elements to format 13 code examples in user_guide/intro_patterns.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 17:10] ariordan-redhat opened #75911 "Add code-block elements to format 13 code examples in user_guide/playbooks_strategies.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 17:24] ariordan-redhat opened #75912 "Add code-block elements to format 13 code examples in user_guide/playbooks_vars_facts.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 17:43] ariordan-redhat opened #75914 "Add code-block elements to format 13 code examples in user_guide/windows_setup.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 17:48] ariordan-redhat opened #75915 "Add code-block elements to format 11 code examples in user_guide/windows_winrm.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 18:50] ariordan-redhat opened #75918 "Add code-block elements to format 8 code examples in user_guide/playbooks_delegation.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 19:15] ariordan-redhat opened #75919 "Add code-block elements to format 7 code examples in user_guide/playbooks_debugger.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 19:19] ariordan-redhat opened #75920 "Add code-block elements to format 7 code examples in user_guide/playbooks_async.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 19:24] ariordan-redhat opened #75921 "Add code-block elements to format 7 code examples in user_guide/vault.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 19:32] ariordan-redhat opened #75922 "Add code-block elements to format 6 code examples in user_guide/playbooks_environment.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 19:48] ariordan-redhat opened #75923 "Add code-block elements to format 6 code examples in user_guide/playbooks_advanced_syntax.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 19:52] ariordan-redhat opened #75924 "Add code-block elements to format 5 code examples in user_guide/modules_intro.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 19:58] ariordan-redhat opened #75925 "Add code-block elements to format 5 code examples in user_guide/playbooks_checkmode.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 20:04] ariordan-redhat opened #75926 "Add code-block elements to format 5 code examples in user_guide/playbooks_handlers.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-06 21:24] #75420 closed, assigned to nobody

[2021-10-07 00:49] nicpayne713 commented on #75926
I would like to try to take on this issue

[2021-10-07 05:04] nhtsai commented on #75924
Hi, can I try working on this?

[2021-10-07 11:23] Akasurde commented on #75835
needs_info

[2021-10-07 12:32] ariordan-redhat opened #75933 "Add code-block elements to format 4 code examples in user_guide/playbooks_prompts.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-07 12:52] Pinky-Chaudhary commented on #75933
Hi @ariordan-redhat I would like to work on this.

[2021-10-07 12:59] maheshbr commented on #75909
Hey @ariordan-redhat I'd like to take a whack at this issue, if you're okay with it.

[2021-10-07 12:59] ariordan-redhat opened #75934 "Add code-block elements to format 4 code examples in user_guide/playbooks_startnstep.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-07 13:29] ariordan-redhat opened #75936 "Add code-block elements to format 5 code examples in user_guide/playbooks_module_defaults.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-07 14:19] ariordan-redhat opened #75937 "Add code-block elements to format 3 code examples in user_guide/playbooks_best_practices.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2021-10-07 16:56] #75937 closed, assigned to nobody

[2021-10-07 17:00] feverbrew commented on #75923
I'd like to give this a try!

[2021-10-07 17:19] #75873 closed, assigned to mattclay

[2021-10-07 18:01] #75671 closed, assigned to nobody

[2021-10-07 18:54] NarayanAdithya commented on #75897
@brabemi , Its fine then but i guess you have to ask to be assigned, Not sure though

[2021-10-07 19:04] #75015 closed, assigned to nobody

[2021-10-07 20:30] #74151 closed, assigned to jborean93

[2021-10-07 22:26] klj613 opened #75957 "import_tasks not working correctly when used within import_tasks"
### Summary

When import_tasks is used within import_tasks it loads the wrong file from a different role. This happens if your running ansible from the "different role" which is what Molecule does.

Created a repository to demonstrate the potential bug: https://github.com/klj613/ansible-importvars-issue

### Issue Type

Bug Report

### Component Name

import_tasks

### Ansible Version

[code]

###

[2021-10-08 01:57] mdavis-xyz opened #75962 "Add trim_blocks=False argument to template lookup plugin"
### Summary

The `template` module has an option for `trim_blocks=False`. I would like to have the same option with the `template` lookup plugin.

An alternative solution would be to make `trim_blocks` in the `template` module recursively apply to any template lookups inside that template.

My use case is that I'm generating AWS CloudFormation yaml templates with Jinja. Since some CloudFormation t

[2021-10-08 02:30] mjip commented on #75905
Hi, I'd like to give this one a shot

[2021-10-08 02:45] alfredtso commented on #75906
will work on this

[2021-10-08 06:47] sugitk opened #75971 "add_host module cannot handle a variable in a condition"
### Summary

When I define `failed_when:` condition in the task using `add_host`, it caused an error that the variable was not found.

### Issue Type

Bug Report

### Component Name

task

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

$ cat /etc/redhat-release
Red Hat Enterprise Linux release 8.4 (Ootpa)

### Steps to Reproduce

### pattern 1:  using `add_host` modu

[2021-10-08 06:57] #75835 closed, assigned to nobody

[2021-10-08 07:37] HolgerDoerner commented on #75918
I've opened up a PR for this one.

[2021-10-08 11:07] #75904 closed, assigned to nobody

[2021-10-08 12:43] ariordan-redhat opened #75977 "Docs: Wrap code examples in code-block elements in 9 files in user_guide"
**Assigned to @NarayanAdithya**

### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Wrap code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allow

[2021-10-08 13:16] iskrant commented on #32265
+1

[2021-10-08 15:36] aaron-kaplan commented on #59109
Correct, there's currently no mention of handlers in the documentation. I'm saying there needs to be. If I follow the advice in the documentation then my tests will run before the handlers, which means they won't catch mistakes that only become apparent after the handler runs.

Right, the documentation needs to say something like this. I would actually suggest putting the `flush_handlers` in the t

[2021-10-08 15:36] sivel commented on #75962
lib/ansible/plugins/lookup/template.py is where it needs to go

[2021-10-08 15:43] #66345 closed, assigned to nobody

[2021-10-08 15:45] s-hertel commented on #59109
@aaron-kaplan Awesome, thanks for the clarification. Sorry this got stuck in the backlog for a while, this seems like an easy improvement to make.

[2021-10-08 16:11] Porkepix opened #75982 "[ssh_connection] section in ansible.cfg stopped working after 2.9, but isn't reflected in (at least) the ansible.cfg file of the repo"
### Summary

It seems the whole `[ssh_connection]` section in the `ansible.cfg` file stopped working after 2.9, https://github.com/ansible/ansible/pull/73688 might be part of where it happened  (thanks @sivel for the link)

Problem is that the `ansible.cfg` file isn't up to date, at least regarding that: the whole section here https://github.com/ansible/ansible/blob/stable-2.11/examples/ansible.cf

[2021-10-08 16:39] thedoubl3j opened #75983 "extends_documentation_fragment should use FQCN"
### Summary

currently, a collection can depend on the doc fragment inside of itself but moving forward, some collection maintainers may want to pull the doc fragment from another "base" collection. Example being a storage provider having a base collection that interacts directly with their hardware and then other collections that interact with their api/hardware on cloud providers. Some maintaine

[2021-10-08 17:13] #75923 closed, assigned to nobody

[2021-10-08 17:13] s-hertel commented on #15786
Aborting early isn't really an option since there's no way to know at playbook parse time and during the playbook run that the tag won't be encountered later. The tag could exist on a dynamically included task later.

[2021-10-08 17:31] mattclay commented on #75983
@thedoubl3j Can you provide, or link to, an example of the behavior you would like to see detected by the sanity tests?

[2021-10-08 20:01] #75933 closed, assigned to Pinky-Chaudhary

[2021-10-08 20:05] taupehat opened #75986 "service_state returns "stopped" when systemd says "failed""
### Summary

Running ansible.builtin.service_facts against Centos7 hosts returns invalid(incorrect) data. For example:
[code]

But on the host itself I ask the same question and get a very different answer:
[code]

### Issue Type

Bug Report

### Component Name

ansible.builtin.service_facts

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Running ansible-playbook on:

[2021-10-08 20:27] #75922 closed, assigned to pypeaday

[2021-10-08 20:32] sivel commented on #75986
I believe this is a duplicate of https://github.com/ansible/ansible/issues/75270 which has been resolved in https://github.com/ansible/ansible/pull/75326 which is in 2.12.0b1

[2021-10-08 21:12] #75909 closed, assigned to maheshbr

[2021-10-09 06:46] NarayanAdithya commented on #75977
@ariordan-redhat , hey I have figured out the places i have to change, but how do I identify what type of code follows?

[2021-10-09 08:30] SanjanaSogimatt commented on #75914
Thank you so much that would be a great help

[2021-10-09 08:32] talaikis opened #75988 "unrecognized arguments: –m ping"
### Summary

Running `ansible all –m ping` gives `unrecognized arguments: –m ping`

### Issue Type

Bug Report

### Component Name

ping

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Amazon Linux 2

### Steps to Reproduce

Problem occurs after latest upgrade:

[code]

### Expected Results

Expect commands to work.

### Actual Results

[code]

### Code of Conduct

-

[2021-10-09 14:15] rolandrc commented on #19583
It would help if `human_to_bytes` would be changed to also accept KiB/MiB/GiB/etc. That doesn't fix the ambiguity issue in general but it does not change existing functionality and would allow me to explicitly specify where I want the base 2 values. It'd also be future proof in case the current behavior changes.

[2021-10-10 06:23] meowlena commented on #75926
I volunteer to help if necessary, too.

[2021-10-10 10:00] NarayanAdithya commented on #75977
@meowlena I just wanted to confirm If what I am doing is correct, from what I understand I have to change the following line 123 in docs/docsite/rst/user_guide/intro_dynamic_inventory.rst

[code]
to

[code]

For some instanced I am able to figure out what the lexer is for some I am confused, so do i ask the doubt here ? @meowlena @ariordan-redhat

[2021-10-10 13:21] NarayanAdithya commented on #75977
I went to all the instances assigned to me , I couldn't figure out the lexers to be used for following instances:

1. File: playbook_pathing.rst line number 30
2. File: windows_usage.rst line number 405

I am confused only about the above 2 instances, rest I have completed. So if you could tell me about this I could make the PR.

[2021-10-10 16:50] hyzhang6639 opened #75992 "zos_copy failed to copy the local file to a PDS member against the error EDC5129I"

[2021-10-10 21:55] #75992 closed, assigned to nobody

[2021-10-11 05:52] rafalkrupinski opened #75995 "Misleading error message when one YAML line is malformed and another contains equals sign"
### Summary

YAML error when one of list items in `vars.yml` contains equals sign `=`

Works as expected if the `lines` variable has only one item.

### Issue Type

Bug Report

### Component Name

yaml

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

macOS 11.6

### Steps to Reproduce

main.yml

[code]

vars.yml
[code]

template.j2
[code]

play

[code]

### Expected R

[2021-10-11 06:49] mkrizek commented on #75988
It appears you have used [en dash](https://en.wikipedia.org/wiki/Dash#En_dash):
[code]
[code]

instead of [hyphen](https://en.wikipedia.org/wiki/Hyphen):
[code]
[code]

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2021-10-11 06:49] #75988 closed, assigned to nobody

[2021-10-11 11:26] #75924 closed, assigned to nhtsai

[2021-10-11 12:14] #75936 closed, assigned to nobody

[2021-10-11 17:07] #75934 closed, assigned to nobody

[2021-10-11 17:42] #75925 closed, assigned to nobody

[2021-10-11 18:09] #75921 closed, assigned to nobody

[2021-10-11 18:30] #75920 closed, assigned to nobody

[2021-10-11 19:20] #75995 closed, assigned to nobody

[2021-10-11 19:21] samdoran commented on #42933
@maheshbr Sure!

[2021-10-11 19:43] #75919 closed, assigned to nobody

[2021-10-11 19:53] mrksngl opened #76007 "delegate_to executing on wrong host"
### Summary

I have an inventory with two hosts, say H1 an H2.
On H2, I execute a task with `delegate_to: H1`. It seems, however, that the task is eventually executed on H2.

### Issue Type

Bug Report

### Component Name

core

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Arch Linux

### Steps to Reproduce

Playbook:
[code]

### Expected Results

Expected foo.stdo

[2021-10-11 19:59] #75918 closed, assigned to nobody

[2021-10-11 20:15] #75915 closed, assigned to nobody

[2021-10-11 20:28] #75912 closed, assigned to nobody

[2021-10-11 20:53] #75911 closed, assigned to nobody

[2021-10-11 21:40] #75906 closed, assigned to nobody

[2021-10-11 21:48] #75977 closed, assigned to NarayanAdithya

[2021-10-11 22:18] #75908 closed, assigned to nobody

[2021-10-11 22:25] #75914 closed, assigned to nobody

[2021-10-11 22:28] #75926 closed, assigned to pypeaday

[2021-10-12 07:41] martin-maly-cz opened #76010 "changed_when condition not working in check mode for shell and command module"
### Summary

`command` and `shell` modules are always returning `changed: true` in check mode, ignoring conditinal `changed_when: False` (or any other `changed_when` condition).

It is probably caused by change in command module introduced in `ansible-core==2.11.5` as everything is working as expected prior this version.
I tested this behaviour on versions `2.11.5` and `2.12.0b2`, both have same p

[2021-10-12 09:25] #75900 closed, assigned to nobody

[2021-10-12 09:35] didib opened #76011 ""The loop variable '%s' is already in use" warning is missing context"
### Summary

When running ansible with a custom callback, with output going to a separate location (e.g. a log file), the warning, which is written to stderr, does not help to understand where the actual bug is:

[WARNING]: The loop variable 'item' is already in use. You should set the loop_var` value in the `loop_control` option for the task to something else to avoid variable collisions and unex

[2021-10-12 09:39] #75902 closed, assigned to nobody

[2021-10-12 10:02] jnm27 commented on #64294
Requesting another outlook. Thanks

[2021-10-12 10:10] #75899 closed, assigned to nobody

[2021-10-12 10:12] didib commented on #76011
A reproducer:

$ cat playbook1.yml
---
- name: debug1
  hosts: localhost
  tasks:
    - name: debug1-1
      set_fact: var1="val1"
    - name: debug1-2
      set_fact: var2="val2"
    - name: debug2
      include_tasks: tasks1.yml
      loop: [1, 2]

$ cat tasks1.yml
---
- name: debug2-2
  debug: var={{item}}
  with_items: [var1, var2]

$ ansible-playbook playbook1.yml > /dev/null
[WARNING]: provi

[2021-10-12 11:21] #75905 closed, assigned to nobody

[2021-10-12 11:32] Nouhailakermouss opened #76013 "Proxmox inventory"
### Summary

Proxmox inventory role have been created as the example in this documentation https://docs.ansible.com/ansible/latest/collections/community/general/proxmox_inventory.html
my question is how could i filter groups and hosts in order to get only the hosts that contain a specific tag (i need to work only with some hosts that contains specific tags and i want the proxmox inventory to bring

[2021-10-12 12:08] #75897 closed, assigned to nobody

[2021-10-12 13:04] profhase opened #76014 "role meta requirements do not get installed"
### Summary

having the following project structure

[code]
With
[code]

The requirements in `myrole/meta/requirements.yml` don't get installed. I would expect it to happen due to:

https://docs.ansible.com/ansible/latest/galaxy/user_guide.html#dependencies

### Issue Type

Bug Report

### Component Name

roles

### Ansible Version

[code]
[code]

### OS / Environment

Ubuntu 20.04

### Steps to R

[2021-10-12 13:27] s-hertel commented on #76007
I wasn't able to reproduce with the details provided. Can you share the `-vvvv` output? How is H1 defined?

needs_info

[2021-10-12 14:01] bcoca commented on #76010
if a task result is 'skipped', changed status is not calculated, 'changed' only makes sense when the task is successful.

[2021-10-12 14:06] amrik06 opened #76015 "Unable to ping ansible host - error module_stderr": "Shared connection to hostname closed."
### Summary

Unable to connect to AIX host even after updating python. Please help to resolve this issue.
[code]

### Issue Type

Feature Idea

### Component Name

ansible

### Additional Information

<details>
<summary>ansible.cfg</summary>
<p>

[code]

</p>
</details>

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-10-12 14:13] s-hertel commented on #75957
It looks like the search path ends up looking like `/.../roles/role2/tasks/tasks` because we join the subdir [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/helpers.py#L203) and in the `path_dwim_relative` function called on the line below, which is why it falls back to the task file in role1. This fixes it for me, but could be a breaking change.
[code]

[2021-10-12 14:21] #76015 closed, assigned to nobody

[2021-10-12 14:33] mrksngl commented on #76007
For sake of completeness: If I specify `ansible_host` directly in the inventory for both hosts, it works as expected. The unexpected behavior shows when having the indirection via group vars.

[2021-10-12 14:57] bcoca commented on #76007
still, it should work, this is a bug in ssh plugin as it uses play_context.remote_addr (which does not account for delegated host vars)

this should fix
[code]

[2021-10-12 15:24] #47277 closed, assigned to nobody

[2021-10-12 15:30] bcoca commented on #76010
closing as per above

[2021-10-12 15:30] #76010 closed, assigned to nobody

[2021-10-12 15:33] #76013 closed, assigned to nobody

[2021-10-12 15:34] #76014 closed, assigned to nobody

[2021-10-12 16:15] #75642 closed, assigned to mkrizek

[2021-10-12 17:01] marlonfrank30 opened #76022 "Failed to import the required Python library (kubernetes) on master's Python"
### Summary

I've create the following task in my ansible playbook.

[code]

however when I run my playbook I got the following error:

[code]

according to the example provided here How to create secret in k8s using Ansible-K8s Module that should've worked. I have also tried the following suggested (without any success) due to not having the json file provided here as example How can I create a K