[2017-07-24 18:46] cottrell commented on #26857
To clarify, I get the sense that this is just a limitation of current ansible, and possibly a reasonable limitation. "Chaining" is possible (I login and just keep typing commands) but just not in Ansible currently. For example, you can do this stuff with an "expect" script.

[2017-07-24 19:05] xalkina commented on #27200
Suppose it made it this time...

[defined.zip](https://github.com/ansible/ansible/files/1170907/defined.zip)

[2017-07-24 19:09] th3penguinwhisperer commented on #25337
@tima Thanks for your feedback.
I'm merely looking for a construct that does the following:
ansible invoked on machine A and instructing machine B to pull from 3rd party with rsync+ssh.

So whatever construct I made is solely to try to reach this goal and is more for illustration purpose. And whatever I try it fails.

To me this seems like a basic thing (synchronizing files from C to B) however th

[2017-07-24 20:45] jborean93 commented on #26739
Do you have a link for it, happy to help over there but I just had a quick look and couldn't find it.

There are more out there and this is a bit stale but it is a good place to start to see what variables should be defined and the different auth types http://docs.ansible.com/ansible/latest/intro_windows.html

[2017-07-24 21:04] Sean-Brown commented on #23990
Hi @zihanzheng, no I unfortunately never got to do much with ansible because of development-related tasks that took priority. @daBONDi  seems to imply that you need to enable WinRM on the nano server, but I'm not quite sure how to do that either.

[2017-07-24 21:09] scottdear commented on #22922
I'm using 2.3.1.0
[code]
I am using unarchive on a zip file that has UTF-8 characters in the filename, so like an accented a in a city name, for example.  I get the error:
[code]
The filename in question is Agat, GU  Aguadilla--Isabela--San Sebastián, PR

Notice the accented lower case a in "Sebastián"

If I use all ascii, i.e. "Sebastian" everything works as expected

If I just use the command

[2017-07-24 21:13] jborean93 commented on #23990
WinRM should be enabled by default on a nano server as that's the only way to configure it, there is no console you can log on to. You may have to enable a HTTPS listener to go it to work as without some tinkering Ansible won't work over a HTTP listener.

The trouble as @daBONDi mentioned is that Nano only has .NET core which doesn't have the same classes available as .NET framework. This means th

[2017-07-25 00:59] kassiansun commented on #25291
@ykyuen Yes, make sure you're using the latest version.

[2017-07-25 01:07] splintercat commented on #20773
I've ran across this when I'm trying to create a dynamic list based on some logic, or on user input.

For instance I want to manage the users on a server, but some servers need different groups of users.
So one of the ways would be to set variables on an ansible run to specify what teams to add.

users: "{{default_users }}"
users: "{{users + teama if add_teama == true else users}}"
users: "{{users

[2017-07-25 01:59] bennojoy commented on #21088
This seems to be happening because of
https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/task_executor.py#L541
and https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/task_executor.py#L612

where the variable is marked as 'unsafe' and hence not templated by the Templar:

https://github.com/ansible/ansible/blob/devel/lib/ansible/template/__init__.py#L401

i am not sur

[2017-07-25 03:31] Amruthapv commented on #27220
@Akasurde  Thank you ! My vserver is now up and running!

[2017-07-25 03:45] Akasurde commented on #27220
@Amruthapv Glad to hear that. Thanks for using Ansible.

[2017-07-25 03:58] abadger opened #27255 "nxos_smu undefined variable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/network/nxos/nxos_smu.py

##### ANSIBLE VERSION

[code]
##### SUMMARY
I'm fixing all undefined variables in the code base so that we can start using static analysis to prevent new undefined variables from creeping in.  For the nxos_smu module, there is an undefined variable that I don't know how to deal with:

The response v

[2017-07-25 03:58] abadger commented on #27255
References: #27254

[2017-07-25 04:07] abadger opened #27256 "cs_facts needs porting to the new facts API"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/cloudstack/cs_facts.py

##### ANSIBLE VERSION

[code]

##### SUMMARY
Cleaning up all undefined variables so that we can enable static analysis checks to keep new undefined variables from entering the code base.  the cs_facts module has two undefined variables that are caused by the 2.4 facts rewrite and needs to be fi

[2017-07-25 04:08] abadger commented on #27256
@alikins are you able to look into this?  There's only a few problems left before we can enable the pylint tests.

[2017-07-25 09:36] godmarck commented on #21562
I'm still experiencing this issue, I had 2.3 but downgraded to 2.2.0 since the fix didn't work there.
It is not working for version 2.2.0 either.

I'm on debian jessie and I don't get an error message, ansible just hangs in that part.

[2017-07-25 09:39] mnarusze commented on #27225
Thanks for the response @alikins . However, we tested the suggested alternatives before submitting this issue and they do not work the same way. You will see what I mean using the following playbook:

[code]

Maybe the problem is that the first two don't work?

[2017-07-25 09:40] L-B opened #27262 "Template module not accepting source that contains UTF8 characters"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible runs on CentOS 7.3
Target system on RHEL 6.9

##### SUMMARY
This looks like bug #10110:
Using the template module, when the source name contains an UTF8 character, the module fails with the following error.
Replacing template: with copy:, there is no error (the "copy" module

[2017-07-25 09:42] #25713 closed, assigned to nobody

[2017-07-25 09:42] #24835 closed, assigned to nobody

[2017-07-25 09:45] Akasurde commented on #24691
@nevertryneverfail Could you please try again with latest git branch as there are lot of changes happened since this bug was filed ? Let me know if you still face issue.

[2017-07-25 10:53] lifeofguenter commented on #26622
[code]

[2017-07-25 11:02] lifeofguenter commented on #26622
ouch, I just realised that the fact-collection is most probably happening once-off at the beginning, so in this case that would be before I am installing the tool 😞

So all good :)

[2017-07-25 11:02] #26622 closed, assigned to nobody

[2017-07-25 11:10] ThomasSteinbach commented on #24136
Stumbeling over this issue every time. I'd like to declare undefined variables in my `defaults/main.yml` as self documentation, und use `{{ ... if x is defined ...}}` and ` {{ ... | default('y') }}` in my ansible artifacts. But this is still not possible.

I would be very glad to see this feature implemented. `variable: none` would be my preferred declaration.

[2017-07-25 11:53] justingood commented on #23871
This appears to be still broken in devel, although it includes the referenced PRs.

[2017-07-25 11:56] Vladimir-csp opened #27266 "module argument not omited"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

user, may be others
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

hash_behaviour=merge
##### OS / ENVIRONMENT

Debian stretch
##### SUMMARY

user's shell is defaulted to omit, but actually sends empty value.
##### STEPS TO REPRODUCE

dict:
[code]
task:
[code]
##### EXPECTED RESULTS

since there is no 'item.value.shell' in dict, nor 'defa

[2017-07-25 12:08] stintel commented on #21061
Seems to be OK in 2.3.1.0. Thanks.

[2017-07-25 12:08] #21061 closed, assigned to nobody

[2017-07-25 12:13] helli0n commented on #24394
@kassiansun Looks like it works with new docker-py. Thanks

[2017-07-25 12:31] jbscare opened #27268 "Undefined variables and dicts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Not sure -- something that handles dereferencing variables, presumably?

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None that seems related.

##### OS / ENVIRONMENT

Amazon Linux AMI release 2016.09

##### SUMMARY

If you define a variable that refers to an element in a dict, and that element's parent element isn't defined, you get an

[2017-07-25 12:34] jbscare commented on #27268
Another, simpler reproducer:

[code]

This also works in Ansible 2.2.1.0, and not in anything later than that. (Both examples don't work in 2.2.2.0, if that helps any.)

[2017-07-25 12:35] jbscare commented on #23871
I guess I should make a new ticket, since this was closed erroneously, and my request that it be reopened was ignored.

I've opened #27268 now.

[2017-07-25 12:45] PatrickMurray opened #27270 "AWS EFS Module Casting TypeError"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`lib/ansible/modules/cloud/amazon/efs.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A, less AWS account credentials.

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Within `efs.py`, the addition of a filter object to a list results in a TypeError being thrown as the operator's behavior is undefined in this circumstance.

###### EXAMPLE

[2017-07-25 12:49] MOZGIII commented on #24136
Would `variable: !!null` work for you?

[2017-07-25 12:58] ThomasSteinbach commented on #24136
No. `{{ variable | default('unset') }}` would not return `unset` as expected but an empty string.

[2017-07-25 13:01] s-hertel commented on #27203
I believe you're able to accomplish this by doing:
[code]
@trondhindenes Let me know if that works for you!
needs_info

[2017-07-25 13:02] MOZGIII commented on #24136
I see. Yeah, that is a necessary feature as well.

[2017-07-25 13:12] #27255 closed, assigned to nobody

[2017-07-25 13:13] s-hertel commented on #27270
@PatrickMurray Do you have the time to make a little PR for this?

[2017-07-25 13:21] ederst opened #27273 "Using nested block with scoped within for-loops in Jinja2 templates leads to an error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Jinja2 templating (inheritance)

##### ANSIBLE VERSION

[code]
And also:
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A (same error on CentOS, Ubuntu, and Alpine)

##### SUMMARY
Using a nested `{% block %}` within a for-loop in a Jinja2 template with a `scoped` [directive](http://jinja.pocoo.org/docs/2.9/templates/#block-nesting-and

[2017-07-25 13:25] PatrickMurray commented on #27270
Yep, I can! :)

[2017-07-25 13:37] vvs1987 opened #27275 "ios_command failure for cisco with rc=1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

IOS
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

NA
##### SUMMARY

i am trying to run a simple ios_command, the ios command gives proper output when run on the cisco switch but returns rc=1 when run

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

•	hostname # sh ip bgp neighbors xxx.xxx.xxx.x advertise

[2017-07-25 13:39] es1o commented on #27233
@alikins
Yes, sure!
[code]

[2017-07-25 13:49] jhawkesworth commented on #27248
needs_contributor

[2017-07-25 14:00] tbe opened #27277 "lookup('password'/'passwordstore') returns different passwords if executed for multiple hosts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lookup-password, passwordstore

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If `lookup('password',...)` or lookup('passwordstore',...) is used within a run on multiple hosts, different passwords are returned on the first call within the play, if the password must be generated.

We use the lookup t

[2017-07-25 14:02] bolshakov opened #27278 "Could not run attached docker container with syslog logging driver"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

`modules/cloud/docker/docker_container.py`

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

According to the [docker documentation](https://docs.docker.com/engine/api/v1.30/#operation/ContainerLogs) it possible to run `docker logs` command only if you're using either `json-file` or `journald` logging driver.

When you r

[2017-07-25 14:08] PatrickMurray commented on #27270
@s-hertel PR #27279 has been created

[2017-07-25 14:12] bcoca commented on #20773
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Ansible does not support self referencing variable definitions, the expected result of attempting this is the error you see above.

In

[2017-07-25 14:12] #20773 closed, assigned to nobody

[2017-07-25 14:30] johnpmitsch opened #27283 "Can't register a client to Katello/Satellite using subscription manager without activation key parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Red hat subscription module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

I'm running ansible from Fedora 25 and managing a Centos 7 box

##### SUMMARY

It is impossible to register to a default organization in Katello or Satellite without an activation key.
The [docs](http://docs.ansible.com/ansible/lates

[2017-07-25 15:00] alikins commented on #27225
When you say https://github.com/ansible/ansible/issues/27225#issuecomment-317684999 doesn't work, how does it fail?  (What are the expected / actual results of running it?  with -vvv output if you can)

[2017-07-25 15:02] lukas-bednar commented on #27187
I would like to extend this feature request by following:

When importing image from Glance storage, I would like to have a option to set target disk name of template, same as I am able to do in Web

[code]

Please let me know if you need more info.

[2017-07-25 15:14] wolfthefallen commented on #26489
@Akasurde  I apologize for taking so long to follow back up on this, I've been away from the keyboard for a couple of weeks.

Witht he Fix JSON parsing for Python3 #26588 no longer gets the `"msg": "the JSON object must be str, not 'bytes'"` error, but now the message I get is `The resource you were accessing could not be found.`

From the debug output, the correct parameters are being passed.
[co

[2017-07-25 15:16] stroobl commented on #22706
Retested with devel and there it works with both resource_pool: Resources and without resource_pool: in the task. Thanks!

[2017-07-25 15:16] #22706 closed, assigned to jctanner

[2017-07-25 15:21] #27123 closed, assigned to rcarrillocruz

[2017-07-25 15:22] cyrilsebastian commented on #26739
Thanks @jborean93. Much appreciated.

[2017-07-25 15:32] felrivero opened #27287 "Pamd not correctly work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pamd

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
OS where ansible - Debian 9 (try on Debian 8 - the same result)
OS target - Debian 8

##### SUMMARY
I try to configure add to the file /etc/pam.d/common-account extra line to the beginning of the file

##### STEPS TO REPRODUCE
aply next step
[code]

##### EXPECTED RESULTS
I expect to get

[2017-07-25 15:55] abadger commented on #25178
I'm working on a PR for 2.4.0 that includes (among a great number of other things) always using the bundled six library: https://github.com/ansible/ansible/pull/27254/commits/8b9ecfd56f9d8b276f0bc8c2e607674f2a1be7a2

I believe that will fix this issue (there's one other code path that could be causing the wrong six to be used but I believe it's the module_utils code which is doing this and not the

[2017-07-25 15:56] abadger commented on #25178
References #27254

[2017-07-25 16:11] rcarrillocruz commented on #27115
Issue here is that IOS prompts the user to confirm he/she wants to delete any given user.

So, if we put at the top an ios_config removing users that will be used it timeouts out.
Also, the absent cases for ios_user have the same problem.

Let's fix this on 2.5, as we have on CliConf supporting code for using syntax like:

{ command: no username test
  prompt: 'are you really sure to delete [confi

[2017-07-25 16:12] fredericlepied commented on #27034
fixed by PR #27035

[2017-07-25 16:12] #27034 closed, assigned to nobody

[2017-07-25 16:15] stephan2012 commented on #19321
+1

[2017-07-25 16:17] rahushen opened #27289 "(P1)nxos_aaa_server: fails when using transport as nxapi"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_aaa_server
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ubuntu 14.04

##### SUMMARY

Traceback seen while applying simple playbook and using `nxapi` as transport.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Playbook to apply successfully. The cli transport works fine.

##### ACTUAL RESULTS

[code]

[2017-07-25 16:27] robinro commented on #19321
There are fixes in progress: https://github.com/ansible/ansible/pull/26299 https://github.com/ansible/ansible/pull/19690

An important aspect is to continue to support idempotency and checkmode, which currently work well without versions or with `==` versions. Both PRs don't have this (yet).

[2017-07-25 16:29] jhawkesworth commented on #27206
Here's a simple reproducer for this:

[code]

[2017-07-25 16:32] linsomniac commented on #17714
In the tasks you can do this using "set_fact" to set or override the fact with some new data, for example:

    - name: Append string to list
      set_fact:
        my_strings: "{{ my_strings }} + [ '{{ my_name }}' ]"

But, what I'd like to see is a way to extend vars, so that I can collect things from across host_vars, group_vars, and defaults, and run them in a base task.  For example:

    gro

[2017-07-25 16:33] trishnaguha commented on #27133
`interface: ethernet` looks like documentation issue https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/nxos/nxos_interface.py#L540.

[2017-07-25 16:33] aioue commented on #26345
Issue no longer exists in latest devel. Closing

[2017-07-25 16:33] #26345 closed, assigned to nobody

[2017-07-25 16:45] Akasurde commented on #26489
@wolfthefallen Can you please try the latest patch #26588 and let me know if it works for you?

[2017-07-25 16:52] s-hertel commented on #26431
Unable to reproduce. I've closed my patch since I believe this was fixed in b980a5c02ae8af23719066631e49b67ff04d3884.

[2017-07-25 16:52] #26431 closed, assigned to nobody

[2017-07-25 17:11] traverseda commented on #18469
This is also a problem on android platforms.

[2017-07-25 17:25] rahushen opened #27292 "(P1)nxos_gir: module fails after times out while trying to enter maintenance mode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_gir

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY
The module fails with a timeout message while trying to enter maintenance mode. The device actually successfully enters maintenance mode, but playbook fails.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected play to succeed and put

[2017-07-25 17:27] s-hertel commented on #27270
Sorry, I didn't mean to cause you such hassle. :( No obligation, I'll get to it later if you don't. Though if you still want to contribute these steps might help:
`git checkout devel`
`git pull git@github.com:ansible/ansible.git devel`
`git checkout -b fix_efs_error`
edit file
`git add filepathhere`
`git commit -m "telling what the commit does"`
push your change

If you already have made the chang

[2017-07-25 17:29] alex-left opened #27293 "get_url get 400 error, but with curl works"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION

[code]

##### SUMMARY

I want download a file from web server with auth basic autentication, but the module gets a 400 code as response. Also, is needed the "follow" parameter, no documented,
With curl, I can download the file, so, the webserver works fine.

##### STEPS TO REPRODUCE

A standard task with get_url

[2017-07-25 18:00] alikins commented on #25686
@abutcher: could you test your modules against the changes in https://github.com/ansible/ansible/pull/27294 ?

#27294 is a firstpass at a 2.0/2.2 module_utils.facts compat API (though just ansible_facts() and get_all_facts() at the moment).

[2017-07-25 18:15] jpmens commented on #27293
needs_contributor

[2017-07-25 19:08] #27256 closed, assigned to nobody

[2017-07-25 19:24] bocharsky-bw opened #27296 "Use different extensions for encrypted and decrypted Ansible Vault file"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
Ansible Vault

##### ANSIBLE VERSION
master

##### SUMMARY
It's very easy to forget to encrypt already decrypted file and commit it to the repo with opened sensitive data. What if implement different extensions for encrypted/decrypted file, e.g. `vault.decrypted` for decrypted file and `vault.encrypted` encrypted one? With a little of work it's p

[2017-07-25 19:35] mtnbikenc commented on #25686
I tested #27294 against openshift-ansible and got the same errors as the PR automated tests on `constants` import.

[2017-07-25 19:36] mtnbikenc commented on #25686
I'll add that this error happens prior to the original error on `ansible_facts`.

[2017-07-25 19:39] ginkel commented on #24110
I'm seeing this error when attempting to run this task when all referenced packages are already installed (it completes successfully when run for the first time):

[code]

[code]

I assume this to be due to `base-devel`, which is a group.

What's the recommendation to install groups in an idempotent way?

[2017-07-25 20:30] rajeevpnair opened #27297 "parsing ansible output"
ansible --version
ansible 2.2.1.0
config file = /etc/ansible/ansible.cfg

Am using find modules to get largest files and its size the file, I am getting a big jason format output, How can i parse one particular string from the output.

I need to fetch only the "path" and "size" values from here. Can anyone help me on this?
================================================================
---
- host

[2017-07-25 20:34] jasontibbitts commented on #26868
I did some digging into this since it's blocking my Fedora 26 rollout.  I'm no expert on ansible or dnf or the dnf API or anything, really, but I did learn how to explode and tweak the code ansible runs on the remote host and came down to a couple of instances of base.group_install which are not correct.  Basically `base.group_install(group, dnf.const.GROUP_PACKAGE_TYPES)` is incorrect; group is t

[2017-07-25 20:50] bcoca commented on #27297
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-07-25 20:50] #27297 closed, assigned to nobody

[2017-07-25 21:07] alikins commented on #25686
import error should be fixed now (forgot there is no ansible.constants in the modules runtime path...)

[2017-07-25 21:11] alikins commented on #13243
https://github.com/ansible/ansible/pull/22756/ has an implementation of this.

[2017-07-25 21:25] s-hertel commented on #27268
Sorry for mistakenly thinking this was fixed and removing the fix in my previous PR for it. Verifying this problem still exists on devel. I've made the fix #27268 and added an integration test for it.

[2017-07-25 21:26] s-hertel commented on #27268
Sorry for mistakenly thinking this was fixed and removing the patch in my previous PR for it. Verifying this problem still exists on devel. I've made the fix #27298 and added an integration test.

[2017-07-25 21:26] alikins commented on #13243
(and some future things https://github.com/ansible/ansible/pull/22756 will make possible in the future, post-2.4...)

- Once we support more than one vault password and support ordering/precedence of vault passwords, we could support vault encrypted vault password files. I have this prototyped in a branch. The branch allows:

[code]
 In that case, the password provided via the prompt will be used

[2017-07-25 21:26] bdlamprecht opened #27299 "json_query filter fails when using the functions "contains", "starts_with", others"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

json_query

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Standard

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using the `json_query` filter with the query `[?interface.name=='irb.1111'].{interface: interface.name, address: address}` everything functions fine and I get the correct results back.  When that filter is changed to `[?contai

[2017-07-25 21:28] sourcejedi opened #27300 "ansible_pkg_mgr fact is incorrect after installation of `mkosi`"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
setup module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora Linux 26

##### SUMMARY

ansible package module fails after installation of `mkosi`, because `mkosi` pulls in foreign package managers which Ansible prefers over the native `dnf`.

I think Ansible needs to start looking at the `os_family` or similar

[2017-07-25 21:35] bcoca commented on #27300
FYI, as workaround for those using `package` there is a `use` option that you can set to "dnf" overriding detection.

[2017-07-25 21:38] jborean93 commented on #27275
ping @privateip @rcarrillocruz

[2017-07-25 21:48] schlueter opened #27301 "rabbitmq_user with no permissions sets / ^$ ^$ ^$"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
rabbitmq_user module

##### ANSIBLE VERSION

[code]
##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Running Ansible on OS X El Capitan against Ubuntu 14.04

##### SUMMARY
When no permissions are set in the rabbitmq_user module, the user will be given `/ ^$ ^$ ^$` which is different from what adding a user with `rabbitmqctl add_user` will do, whi

[2017-07-25 22:45] zihanzheng opened #27304 "Unable to run ConfigureRemotingForAnsible.ps1 on Windows Nano Server to allow ansible connection"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[ConfigureRemotingForAnsible.ps1](https://github.com/ansible/ansible/blob/devel/examples/scripts/ConfigureRemotingForAnsible.ps1)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
Running Ansible from a Linux Server, managing Windows Nano Servers

#####  #SUMMARY
This issue is also reported in #23990, but it lacks s

[2017-07-25 23:24] bdlamprecht commented on #27299
Just as a note, the failure is not limited to the function "contains", the same error also occurs with this query:
[code]

[2017-07-25 23:57] jborean93 commented on #23990
_From @zihanzheng at https://github.com/ansible/ansible/issues/27304_

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[ConfigureRemotingForAnsible.ps1](https://github.com/ansible/ansible/blob/devel/examples/scripts/ConfigureRemotingForAnsible.ps1)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
Running Ansible from a Linux Server, managing Windows Nano Servers

[2017-07-25 23:59] jborean93 commented on #27304
Hey @zihanzheng I'm going to close this issue and reference it here https://github.com/ansible/ansible/issues/23990 as there is an existing conversation there. Currently the ConfigureRemotingForAnsible.ps1 won't work with Nano server as it uses some .NET classes which are not available in .NET core. I haven't played with Nano yet so I can't say whether Ansible works with it but considering the ful

[2017-07-25 23:59] #27304 closed, assigned to nobody

[2017-07-26 02:45] xswqaz opened #27305 "Add variable suffix to inventory hostname"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY

I want to add default suffix to inventory hostname
eg.
[code]
Failed to get hostname which formatted fqdn ( like hostnameA.site1.local ) in group_vars
[code]
[code]
was useless

Is there any way for this?

##### STEPS TO REPRODUCE

[code]

####

[2017-07-26 02:58] felipe1982 commented on #25013
Cheers. I was able to see that drop down. But how would one know that _this_ bug fix will go out with 2.3.2? Just because it's on the top of the drop down?

[2017-07-26 05:10] jhawkesworth commented on #23990
Well presumably that means System.Diagnostics.Eventlog is not part of .net core.
If I recall, at that point the script is just trying to set up so that it can write to the event log.  Its a nice feature of the script, but you can probably do without it.

Simplest suggestion would be to comment out all of the stuff in ConfigureRemotingForAnsible.ps1 about writing to the event log and try again.

[2017-07-26 05:50] ganeshrn commented on #27083
@fwissue
Based on the logs you shared the socket path is created.
[code]

However it fails to connect to remote deivce.
[code]

Did you try to grep for `Bad address` in the troubleshooting guide and check the resolution steps?

Ther error you are seeing is added newly in `2.4` and currently work is in progress to update troubleshooting guide.

[2017-07-26 05:52] Akasurde commented on #27287
@felrivero Could you please use the [latest](https://github.com/ansible/ansible/pull/25817) pamd module from git branch ? This issue is fixed in latest version.

[2017-07-26 05:53] Akasurde commented on #27287
Similar to https://github.com/ansible/ansible/issues/25522

[2017-07-26 06:08] trishnaguha commented on #27141
resolved_by_pr #27306

[2017-07-26 06:08] #27141 closed, assigned to trishnaguha

[2017-07-26 06:10] trishnaguha commented on #27141
@saichint this should be fixed now. please apply the patch https://github.com/ansible/ansible/commit/41ce72480117a43d8a71dd06938ca7a63f123893 and let us know.

[2017-07-26 07:34] hackndoes opened #27309 "ec2_elb_lb: Numeric parameter stickiness['expiration'] passed to module as string and fails test"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_elb_lb.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
standard

##### OS / ENVIRONMENT
MacOS/Linux

##### SUMMARY
setting stickiness.expiration to 0 in the module should be converted to None.
it doesn't because the test `stickiness['expiration'] is not 0` fails since stickiness['expiration'] is "0" for some odd reason. this makes the

[2017-07-26 07:42] simevo commented on #20199
I don't see this fix [in the stable-2.2 branch](https://github.com/ansible/ansible/commits/stable-2.2) yet. Do you plan to merge it in there as proposed by @mytskine ?

[2017-07-26 08:17] hackndoes commented on #27309
#16057

[2017-07-26 08:22] hackndoes commented on #16057
I have the same issue with the ec2_elb_lb module that have an expected numeric parameter in the stickiness object but is valued as string by ansible thus not functioning correctly.
in the ec2_elb_lb module argument_spec does specify stickiness type as dict

[2017-07-26 08:40] mkrizek commented on #15460
Hi!

Thank you very much for your interest in Ansible! Unfortunately, we're not sure if we want this feature in the program. Please refer to the Ansible Core meeting log [1] where we discussed your proposal and decided that it is probably not desired to implement the feature. I am going to close the issue, please feel free to re-open if you want to further discuss the topic.

Thanks!

[1] https://

[2017-07-26 08:40] #15460 closed, assigned to nobody

[2017-07-26 08:46] billietl opened #27310 "Wrong statement in composer module documentation"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
composer

##### ANSIBLE VERSION

[code]

Hi,

I'm openning this issue just to point out that the composer module's documentation states contradicting thing.
c.f. https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/language/composer.py#L115 and https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/pa

[2017-07-26 09:34] mnarusze commented on #27225
**Expected result**: playbook fails for every check _OR_ it fails only in the third task but there's no warning.
**Actual result**: playbook fails only in the last check which uses {{ }} in `when` but Ansible issues a warning even though it seems like the braces are necessary.

Output with -vvv:

[code]

[2017-07-26 09:39] joergrathlev opened #27312 "fetch fails if flat=yes, dest=existing-local-directory without trailing slash"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
fetch module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Running from: macOS 10.12.5 (Sierra)
Managing: CentOS 7.2

##### SUMMARY
When using the fetch module, and `dest` is an exisiting local directory, and `dest` is specified without a trailing slash, the file is downloaded into the directory but the checksum check fails after the dow

[2017-07-26 09:57] angystardust commented on #26095
Hi @Akasurde I finally find the time to test your patch. Unfortunately it doesn't work: the second vmdk is still created on the first specified datastore.
There's also one regression which breaks idempotency: launching again the playbook once the vm is running, it fails with the following exception:

`TASK [Create VM from template] ******************************************************************

[2017-07-26 10:09] ruimcfreitas commented on #27166
Hello, thank you for your prompt analysis and answer. Best Regards. Rui

[2017-07-26 10:09] Akasurde commented on #26095
@angystardust Ouch!!! I can reproduce idempotency regression without the patch. Could you please file a separate issue to address that ?

[2017-07-26 10:32] MartinLesterSynamedia commented on #14337
I know this issue is resolved and I am using ansible 2.1.1.0, but this error message still appears and required google to have a hope of fixing it. It doesn't even mention the vault file in the error message.
Though this post did get me to resolve the issue in my case the cause was because the password used in .vault.passwd was not the one that had created vault.yml. A much better error would be:

[2017-07-26 10:33] resmo commented on #27310
resolved_by_pr #27313

[2017-07-26 10:43] #27310 closed, assigned to nobody

[2017-07-26 10:51] angystardust commented on #26095
Yes, if you want but I can't reproduce the issue with a vanilla 2.3.1 setup.
It seems that the weird issue is caused by some update in the module_utils code.

[2017-07-26 11:01] abirami-n opened #27314 "Issue in handling of "exit" in parsing dellos6 running config"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible.module_utils.dellos6

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-26 11:20] mkrizek commented on #26968
Hi,

thanks for the bug report! I am trying to reproduce the issue but with no luck. Can you provide output of the following commands run on the managed host if at all possible?

`/usr/bin/rpm -q --qf '%{name}|%{epoch}|%{version}|%{release}|%{arch}|installed\n' --whatprovides ansible`

`/usr/bin/repoquery --show-duplicates --plugins --qf '%{name}|%{epoch}|%{version}|%{release}|%{arch}|%{repoid}' a

[2017-07-26 11:28] lukas-bednar opened #27317 "ovirt_disks: when ansible is interupted by sigint during downloading disk, disk get stucked in transfering state for ever"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ovirt_disks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Lets have a playbook which downloads disk from oVirt Engine
using ovirt_disk module.
When the ansible interrupted by sigint (ctrl+c), the image in oVirt engine
gets stucked in "Transferring via API" for ever.

##### STEPS TO REPRODUCE

- run

[2017-07-26 12:07] gundalow commented on #27142
resolved_by_pr #27307

[2017-07-26 12:22] vascobarroso commented on #23895
I'm able to reproduce this on CentOS 7 with Ansible 2.3.1 by adding a leading whitespace to the port parameter value:

[code]

[2017-07-26 12:26] gundalow commented on #27314
resolved_by_pr 27315

[2017-07-26 12:32] ryansb commented on #18469
This isn't entirely an Ansible bug - these platforms (Lambda in the original case, Android in the prevv comment) don't support access to `/dev/shm` for sandboxing-related reasons, and barring Ansible supporting threaded workers I don't see a way to get multiprocessing into AWS Lambda anyway.

Also, in AWS Lambda you'd hit issues with the 300 second max timeout and low open socket limit. If you do

[2017-07-26 12:32] #18469 closed, assigned to nobody

[2017-07-26 12:41] PatrickMurray commented on #27270
@s-hertel No worries, I appreciate your help! This was my first time submitting a PR - it was a learning experience.

[2017-07-26 12:43] pgasiorowski commented on #18469
Thanks for the heads up @ryansb I would agree on all points.

Given there is some interest in it anyway and troubleshooting source of the issue is cumbersome I would suggest to keep it open until there is a feasible solution for Lambda on either side.

The temporary solution I ended up using is running Ansible in ECS docker containers via events. There are lots of resources involved in it as it ne

[2017-07-26 12:47] #24823 closed, assigned to nobody

[2017-07-26 12:48] mikewiebe opened #27319 "(P1) nxos_nxapi module issues invalid command on some nxos platforms"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_nxapi

##### NXOS VERSION
7.0(3)I5(3)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
Application of the following playbook fails on certain nxos platforms:

**Fails On:** N9k, N3k, N9k-Fretta
**Succeeds On:**  N7k

[code]

###### Failure Example
[code]

###### Success Example
[code]

[2017-07-26 13:00] jean-christophe-manciot commented on #24466
@privateip @ogenstad
Not quite solved; on ASAv 9.7(1) with:
[code]

```show startup-config``` is correctly executed, but strangely, ```show running-config``` fails although it is executed with the same role:
[code]
We can see in the trace that the {{ config }} variable is correctly fed:
[code]

The logs shows some more details:
[code]

The command works obviously on the ASAv CLI level.

[2017-07-26 13:04] jean-christophe-manciot commented on #23922
Not quite solved, as shown in [this post](https://github.com/ansible/ansible/issues/24466#issuecomment-318045953), although the symptom has changed again.

[2017-07-26 13:09] aviramartac opened #27321 "Docker_Container module - Failed to import docker-py - No module named docker."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
docker_container module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No custom configuration

##### OS / ENVIRONMENT
Amazon Linux
4.9.32-15.41.amzn1.x86_64

##### SUMMARY
After successfully installing docker-py (sudo pip install docker-py) and attempting to use the docker_container module, the error "docker_container module - Failed to i

[2017-07-26 13:40] valentin-krasontovitsch commented on #18987
The behavior of `aptitude safe-upgrade` (according to its man page) is
- update existing packages
- install new packages where necessary for upgrading existing packages
- remove packages which are unused

and the second point seems to be the reason for using `aptitude`, cf. #2540

With `apt-get`, it seems like we would have to run
[code]
where the options induce the expected & desired behavior. Th

[2017-07-26 13:40] valentin-krasontovitsch commented on #18987
@GuruTom I only took a *very* quick look at your pasetbin, but the fact that the output contains
[code]
is (at least for me) an indicator that this might be due to a pre-existing condition ; )

Looking a bit further, I see
[code]
Wild guess: Is it possible that your boot partition is full of kernel images?
The guess is based on these lines:
[code]
I think there might be something wrong with your s

[2017-07-26 13:47] Atoms commented on #22257
this is really annoying as we are using some 3rd party Ipam and we want to update secondaries for interface...

[2017-07-26 15:02] samrreynolds4 opened #27326 "win_firewall_rule has no effect on Windows 8.1 embedded machine"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_firewall_rule

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I didn't make any changes to the default config file

##### OS / ENVIRONMENT
**Control Machine:**
Arch Linux release
LSB_VERSION=1.4
DISTRIB_ID=Arch
DISTRIB_RELEASE=rolling
DISTRIB_DESCRIPTION="Arch Linux"
NAME="Arch Linux"
PRETTY_NAME="Arch Linux"
ID=arch
ID_LIKE=archlinux
AN

[2017-07-26 15:26] bearrito opened #27327 "Postgresql_privs reports no changes but changes were made"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 postgresql_privs

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Control Machine: Ubuntu 14.04
Target Machine: Ubuntu 14.04

##### SUMMARY

Postgres module reports no change, but a change was made

Before
[code]

Command shows okay for that view
[code]

After
[code]

My task definition looks like

[code]

[2017-07-26 15:52] trishnaguha commented on #27143
This doesn't seem to be failure on module side.
Please check nxos vrf, bgp configuration doc for the same http://www.cisco.com/c/en/us/td/docs/switches/datacenter/sw/nx-os/mpls/configuration/guide/mpls_cg/mp_vpn_mVPN.pdf

[2017-07-26 16:25] saichint commented on #27141
The configuration issue is fixed now, however when I try to remove the hsrp group it fails saying that the group does not exist. I do see the group on the console under the interface properly.

Basically I extended the playbook by adding a task to remove the hsrp group.
Should I open another issue or reopen this one again?
Let me know.

Here is the entire playbook:
==
- block:
  - name: "Enable fe

[2017-07-26 16:40] mikewiebe opened #27330 "(P2) nxos_nxapi module not idempotent for certain nxos versions"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_nxapi

##### NXOS VERSION
7.0(3)I2(5) and 7.0(3)F1(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook is not idempotent on certain nxos image versions.

##### Not Idempotent On: `7.0(3)I2(5)` `7.0(3)I4(6)` `7.0(3)F1(1)`
[code]

[code]

##### Example where it is idempotent: 7.0(3)I5

[2017-07-26 16:56] Sec42 opened #27331 "Unable to set default permissions for new user's home directory"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

the "user" module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

FreeBSD

##### SUMMARY

If I create a new user with the "user" task, the permissions of his home directory are 0755 by default.

I want to change the default to 0750, but the user module has no option to change that.

##### STEPS TO REPRODUCE

[cod

[2017-07-26 17:02] mtinning opened #27332 "elb_application_lb module: ParamValidationError in botocore when specifying "Rules" on a new application load balancer"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

elb_application_lb

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration

##### OS / ENVIRONMENT

ubuntu 16.04

##### SUMMARY

Parameter validation error in `boto` when running `elb_application_lb` task requiring updates to listeners.

##### STEPS TO REPRODUCE

Run a task definition like the following on to create an appli

[2017-07-26 17:19] fthommen opened #27334 "Including an empty task within a "block" disables the complete block"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
block

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
gathering = smart

##### OS / ENVIRONMENT
CentOS Linux release 7.3.1611 (Core)

##### SUMMARY
When including an empty task is included within a block, none of the included tasks is executed

##### STEPS TO REPRODUCE
Create three playbooks:

- Main playbook:

[code]

- task include "full.ym

[2017-07-26 17:31] rahushen opened #27336 "(P2)nxos_gir_profile_management: creating a profile is not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_gir_profile_management

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

Creating a gir profile is **not** idempotent. Deleting one is.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The playbook should be idempotent and come back as ok=1 the second time it is applied.

##### ACTUAL RESULTS

[2017-07-26 18:03] abadger commented on #27305
The host entries in an ansible inventory don't map one::one to actual dns hostnames so this isn't a natural thing to do.   You'll probably find more help on the mailing list or IRC channel about how you might automatically combine the ansible host with a domain name as there's many users there who have solved many differing problems over time.  I'll paste the mailing list and irc information below

[2017-07-26 18:03] #27305 closed, assigned to nobody

[2017-07-26 18:44] mikewiebe opened #27339 "(P1) nxos_ospf is not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_ospf

##### NXOS VERSION
7.0(3)I5(3) All version tested failed idempotence test.

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook is not idempotent

[code]

[code]

[2017-07-26 18:59] Qalthos commented on #26024
#27329 fixes `event-history`, but I'm not seeing any idempotence issues with `suppress_fib_pending`. Can you get me some detailed output of this happening?

[2017-07-26 19:00] saichint opened #27340 "nxos_config is not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_config

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus9000 C9396PX running 7.0(3)I7(1)

##### SUMMARY
nxos_config is NOT idempotent any longer. Looks like
https://github.com/ansible/ansible/pull/26565 is the culprit but not entirely sure.

Any configuration with any match criteria (line, str

[2017-07-26 19:08] duffytilleman opened #27341 "Docsite is out of date, specifically section on looping over dicts"
##### ISSUE TYPE

 - Documentation Report
[code]

##### SUMMARY
Despite this commit: https://github.com/ansible/ansible/commit/001be55ef02052cff7820ddb2e1c0d7431f79a7a, the page at http://docs.ansible.com/ansible/latest/playbooks_loops.html#looping-over-hashes still shows the old `with_dict` syntax.

##### STEPS TO REPRODUCE
* Visit http://docs.ansible.com/ansible/latest/playbooks_loops.html#loopi

[2017-07-26 19:30] ryansb commented on #26902
The issue here seems to be the `default` permission that you are using: the calling user/role needs to have permissions to create the CloudFormation stack and to describe existing ones (as the module needs to see whether a stack exists). The `role_arn` parameter is for the role to be assumed by CloudFormation when creating the resources that the stack contains. This is different from assuming a ro

[2017-07-26 20:03] gilday commented on #26902
That makes sense. I incorrectly assumed that Ansible would switch to this role when describing the stacks in addition to switching to this role when creating the stack.

I will instead omit the `role_arn` parameter and use a boto profile which assumes the role I want to use e.g.

[code]

[2017-07-26 20:03] #26902 closed, assigned to nobody

[2017-07-26 20:11] schlueter commented on #27301
Additionally the same behaviour occurs if you use
[code]

[2017-07-26 20:29] fwissue commented on #27083
@ganeshrn
1) tested with ssh directly, I can access firewall fine
2) tested with Ansible 2.3, it is working fine as well
3) tested with Asnbiel 2.4, it is not working.

[2017-07-26 20:40] mtnbikenc opened #27345 "Using include within an included role from within a role results in AttributeError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - role + include_role + include

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

 - N/A

##### SUMMARY

When running the playbooks defined below, an AttributeError exception is created when unable to parse the path.
 - playbook calls role
 - role calls include_role
 - included role calls include

##### STEPS TO REP

[2017-07-26 20:45] schlueter commented on #19659
@gunph1ld My understanding is that the `permissions` arg is meant to be used with a list of each vhost and its respective permissions, so
[code]
and would set each vhost's permissions correctly. By using `with_items`, it is correctly running the module once for **each vhost** in your `vhosts` var and deleting permissions for vhosts not specified in to the module call, thus resulting in only the la

[2017-07-26 20:45] basictheprogram opened #27346 "win_updates: Exception from HRESULT: 0x8024402C"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Management host macOS 10.12.5
Managed host Windows 7

##### SUMMARY

win_updates fails with  "error": "Exception from HRESULT: 0x8024402C",

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Window updates would be applied for the category_names

#

[2017-07-26 20:48] rahushen opened #27347 "(P1)nxos_file_copy: file copy fails for nxapi"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_file_copy

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

File copy fails for transport `nxapi`. Looks like while checking to see if directory already present on device the command used is not structured output compliant and hence the module fails.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2017-07-26 20:54] basictheprogram commented on #27346
Possible duplicate of https://github.com/ansible/ansible/issues/25499?

[2017-07-26 20:55] johnroach commented on #22943
Hi, is there any update on this?

[2017-07-26 21:27] ivanbaldo opened #27349 "SELinux module for compiling a type enforcement (.te) file and installing it"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
SELinux SEModule

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not relevant.

##### OS / ENVIRONMENT
CentOS 7.3

##### SUMMARY
This playbook is nice https://galaxy.ansible.com/MWojtowicz/semodule/ but in reality, a module would be much better.

##### STEPS TO REPRODUCE
[code]
or
[code]
and also this other way:
[code]
Name is optional for

[2017-07-26 21:29] ryansb commented on #26902
The role is in fact never switched to on the client (ansible) side: the switch happens inside the CloudFormation service when it prepares to talk to other AWS tools, so Ansible will never assume the role in role_arn.

[2017-07-26 21:36] nitzmahone commented on #27346
Yeah, this is a hosed up Windows Update subsystem (for any of a number of reasons) and has nothing to do with Ansible (nor is there anything Ansible can do to correct it).

[2017-07-26 21:36] #27346 closed, assigned to nobody

[2017-07-26 22:04] AlanCoding opened #27351 "delegate_to uses None when host ansible_ssh_host var specified"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
delegate_to

Have tested using as an option for the `shell` & `debug` tasks

##### ANSIBLE VERSION
[code]

also tested 2.3.1.0 and 2.2.3.0. Same behavior was observed for all versions tested.

##### CONFIGURATION
defaults only

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If you `delegate_to` a host with `ansible_ssh_host` set as a hostvar, the del

[2017-07-26 22:16] zihanzheng commented on #23990
Two questions:
1. Why do we need to specially configure the windows instances in order to deploy using ansible? (key feature of ansible is no special software)

2. Why do we need WinRM/HTTPS since it only complicates matters?

Here's my objective:
Deploy a file from a linux ansible control to a windows nano server.

[2017-07-26 22:22] saichint commented on #27143
@trishnaguha I am not following what you are saying. Not able to correlate my playbook with bgp.
All I want is to create a vrf context and vrf af.
Can you explain a bit more or just correct my playbook (see above in the steps to reproduce) and give me the clean one, I can retry. It is happening once every 2 times, so it is very confusing.

[2017-07-26 22:35] Sec42 commented on #26493
Done. Fixed now. Thanks.

[2017-07-26 22:36] jborean93 commented on #23990
By default Windows has WinRM installed but on most servers it is not enabled (or not configured so Ansible works with it). While Nano server has WinRM enabled it only sets up a HTTP listener and currently Pywinrm doesn't not support HTTP listeners without some extra configuration. What the ConfigureRemotingForAnsible.ps1 script does is set up a self signed certificate and enable the various auth p

[2017-07-26 23:05] schlueter commented on #19659
You can define a filter plugin (name it *something.py* and place it in a directory *filter_plugins* in your playbooks directory):
[code]
which can be used like:
[code]
to assign the those permissions for the user on each vhost.

Admittedly, this is clunky and there ought to be a better way such as a dedicated permissions module as @krzysztof-magosa suggested.

[2017-07-26 23:08] saichint commented on #27142
I tried patching the code from https://github.com/ansible/ansible/pull/27307 but failure is still happening. The error message seems a bit different now. Please test it once again before closing the issue.
[code]

[2017-07-26 23:09] #22686 closed, assigned to nitzmahone

[2017-07-26 23:11] abadger commented on #27312
We're leaning towards the correct behaviour being that the file should not be downloaded but I haven't gotten a whole lot of feedback yet.  I've added this to the public IRC meeting to get more input.

https://github.com/ansible/community/issues/162#issuecomment-318209405

[2017-07-26 23:13] camilosantana commented on #11175
the official documentation just above http://docs.ansible.com/ansible/latest/intro_configuration.html#getting-the-latest-configuration

states:

is this an unintended artifact?

[2017-07-26 23:19] zihanzheng commented on #23990
So I ran ConfigureRemotingForAnsible.ps1 on a plain Windows Server (not nano) then ran the pywinRM commands [here](https://stackoverflow.com/questions/32324023/how-to-connect-to-remote-machine-via-winrm-in-python-pywinrm-using-domain-acco). Obviously changed the username and domain to point to the target server. Want to try pywinRM first since ansible uses it. However, I am getting an HTTP error (

[2017-07-26 23:22] s-hertel commented on #25498
@conlon Want to test my [fix](#27355)?

[2017-07-26 23:35] abadger commented on #27341
I've cherrypicked 001be55 back to the temp-staging-post-2.3.2 branch so that it will go into the stable-2.3 branch once 2.3.2 is released.  the next time the docs website is built after that, the updated documentation will be displayed.

[2017-07-26 23:35] #27341 closed, assigned to nobody

[2017-07-26 23:37] sgurumurthy commented on #21562
I am seeing this issue in ansible 2.3. Any fix is  much appreciated

[2017-07-27 00:57] jborean93 commented on #23990
@zihanzheng It all depends on the account you are trying to connect with. If you are using a local account then that example "should" work but if you are using a domain account you need to run it through NTLM/Kerberos or CredSSP. Because the github issues are meant to be for bugs for Ansible are you able to open a new post on Ansible Project https://groups.google.com/forum/#!forum/ansible-project

[2017-07-27 01:07] s-hertel commented on #22943
Hi. This option was added for the 2.4 release in e967274.

[2017-07-27 01:09] kassiansun commented on #27321
@aviramartac You should install `docker-py` on target machine.

[2017-07-27 01:48] fostermi commented on #16956
Just ran into this using Ansible v 2.3. What IS the structure? My group_vars and hosts_vars directories ARE adjacent to my hosts file as mentioned several times but not being picked up.

./inventory/dev
./inventory/dev/group_vars/myserver
./inventory/dev/host_vars/myserver
./inventory/dev/hosts

Any ideas?

[2017-07-27 01:52] davidwtf opened #27357 "Some hosts cannot authenticate when forks >=5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
host_key_checking = False
retry_files_enabled = False

##### OS / ENVIRONMENT

Ubuntu bash under Windows 10 Home Edition
##### SUMMARY

Some hosts cannot authenticate when forks >=5.

##### STEPS TO REPRODUCE

[code]
Some hosts return error:
[code]
but add -f 4, no error happens.
[

[2017-07-27 02:18] saichint commented on #27141
@trishnaguha Upon further inspection of code, the problem is coming because the code is calling "load_config()" method which executes all the commands and after this, it is trying to validate IP (which is weird because it already configured using load_config()) only when the transport is CLI! In this it is calling "run_commands" which again tries to execute the commands. For adding hsrp group this

[2017-07-27 03:57] Akasurde commented on #20263
@ugugilla Can you please check the patch and review it ? Let me know if it works for your case.

[2017-07-27 04:12] #23873 closed, assigned to nobody

[2017-07-27 04:28] #11295 closed, assigned to nobody

[2017-07-27 05:12] trishnaguha commented on #26562
resolved_by_pr #27106

[2017-07-27 05:13] trishnaguha commented on #27133
resolved_by_pr #27106

[2017-07-27 05:19] richardsonlima commented on #22862
I had the same issue!

[2017-07-27 05:22] trishnaguha commented on #27141
@saichint so load_config doesn't check that the vip provided is the valid IP on the device or not. It silently passes the error and shows a success message. IP validation is necessary here to make sure the module doesn't silently pass with invalid vip. I agree on adding `state=='present'` to the condition.
Please try the `devel` branch now.

[2017-07-27 05:44] #19659 closed, assigned to nobody

[2017-07-27 06:18] ogenstad commented on #24466
I noticed the same problem as above when working with #27218. Mostly I use firewalls where I'm logged into enable mode directly but when testing another one I noticed that behaviour. Basically it looks like the `enable` command isn't always run even when using the `authorize` parameter. Another fix in my PR is that the terminal length isn't set in the current code so it can break after 24 lines.

[2017-07-27 06:26] paulcalabro commented on #25147
I'm experiencing the same issue. @yabhinav 's fix worked for me. Let me know if you need me to provide any additional information.

[2017-07-27 06:50] jean-christophe-manciot commented on #24466
It seems from the log that a second unnecessary blank line is sent alongside the command to the target.

[2017-07-27 06:54] jhawkesworth commented on #27326
Hi @samrreynolds4 - some work has been done on this module during 2.4 development, specifically this PR has been merged: https://github.com/ansible/ansible/pull/23162
Please could you try using the latest development version of ansible and see if you get the same behaviour?

[2017-07-27 06:54] jhawkesworth commented on #27326
It is fairly easy to have a 'from source' ansible version side-by-side with a released version.  The main thing to remember is you need to run
 `source hacking/env-setup`

from the root of the source tree in order to use devel version of ansible.

You can always check which version you are running by running `ansible --version`.

As time passes you can keep up to date with the latest changes in de

[2017-07-27 06:54] jhawkesworth commented on #27326
needs_info

[2017-07-27 07:01] kostrzewa9ld opened #27363 "copy module copies contents of CWD when src="""
##### ISSUE TYPE

 - Bug Report / Question

##### COMPONENT NAME

plugin/module: copy

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY

When copy module is invoked with `src` set to an empty path it copies contents of the current working directory.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Copy module fails.

##### ACTUAL RESULTS
Copy module copied conten

[2017-07-27 07:02] vjuranek opened #27364 "redhat_subscription ignores server_hostname"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
redhat_subscription

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
defaults

##### OS / ENVIRONMENT
Ansible Server: Fedora release 24 (Twenty Four)
Target Servers: Red Hat Enterprise Linux Server release 7.3 (Maipo)

##### SUMMARY
When `username` param contains `@` character, `username` param passed to `subscription-manager` is empty.

####

[2017-07-27 07:08] Hakulaku commented on #22402
@rosmo Maybe you can call the gluster commands by default with the '--mode=script' tag. Skips all interactive questions.

[2017-07-27 07:12] boskiv commented on #21003
For now I use
[code]
with cfg file:
[code]

For my purpose I found next solution
[code]

I have write custom stdout plugin, to manage output from task. But may be ansible can do it more manageable ? Something like `-quite` option (opposite to verbose) to output only necessary information.

[2017-07-27 07:26] aviramartac commented on #27321
@kassiansun Yeah, that worked...documentation should be updated to reflect this, since only the host executing the module is mentioned.

[2017-07-27 07:44] SethosII opened #27365 "cron: check mode fails when something changed and backup is enabled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`cron` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`cow_selection = tux` but nothing else ;)

##### OS / ENVIRONMENT
Ubuntu 16.04.2 for everything

##### SUMMARY
Using the `cron` module with check mode (`-C`) fails when something has changed and the option `backup` is enabled. When there is nothing changed the task completes as exp

[2017-07-27 08:02] trishnaguha commented on #27142
@saichint would you mind giving the module a try now with the PR https://github.com/ansible/ansible/pull/27307.

[2017-07-27 08:05] Doooooo0o opened #27367 "Docker port binding fails when both same UDP and TCP is bound"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`docker_container`

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
FC 26

##### SUMMARY
[code]
only binds TCP/53 and not both udp and tcp.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
both UDP/53 and TCP/53 are bound.

##### ACTUAL RESULTS
`docker inspect foobar`

[code]

[2017-07-27 08:08] trishnaguha commented on #27143
resolved_by_pr #27307

[2017-07-27 08:21] dkpsk opened #27368 "add_host does not recognise `host` alias."
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
add_host

##### ANSIBLE VERSION
[code]
##### SUMMARY
Documentation says parameter `name` has two alias named `hostname` and `host`.
However,add_host does not recognise `host`.
In fact, current implementaion for add_host does not check the `host` parameter:
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/add_hos

[2017-07-27 08:25] ganeshrn commented on #27083
Thank you for the information.
In logs socket path is displayed as
[code]
There is an open issue for this in 2.4. If you enable debug logs, socket path is not read correctly.
https://github.com/ansible/ansible/issues/25544

This issue masks the actual connection issue.

Can you please disable debug logs, rerun and check the log file again you should be getting a different error.
[code]

[2017-07-27 09:05] kassiansun commented on #27367
@theonlydoo This works for me with `docker-py 2.4.2`, could you please upgrade it and try again?

[2017-07-27 09:06] rangsan commented on #9034
I have hundred of tasks that are skipped but still print out the task name which I have to scroll 100+ lines.
This request is really useful for us.

[2017-07-27 09:33] jhawkesworth commented on #9034
See https://github.com/ansible/ansible/pull/18621 - looks like the logic is there to do what you want but it would have to be a new plugin, or changed so that it is configurable in some way, rather than  modifying the existing behaviour of the 'skipply' callback plugin.

[2017-07-27 09:37] ogenstad commented on #24466
@jean-christophe-manciot, in my case it looks like it was these lines which were causing the problems:
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/asa.py#L79-L82

Basically when you had two tasks it would work for the first one and then fail for the second one as the `disable` command has been run between them. Do you have two tasks in your playbook?

Are you able to t

[2017-07-27 09:47] aleskiontherun opened #27371 "Unexpected keyword argument 'use_gax' when creating a pubsub topic"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

gcpubsub

##### ANSIBLE VERSION

[code]
First noticed with Ansible 2.3 and Google Cloud SDK 155.

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Error `TypeError: __init__() got an unexpected keyword argument 'use_gax'` when trying to create a pubsub topic.

Works fine when `use_gax=False` is removed from
[code]
line in lib/a

[2017-07-27 10:09] Doooooo0o commented on #27367
[code]

I tried with the latest version of docker-py and had the same result

[2017-07-27 11:29] evrardjp opened #27373 "with_items and with_random_choice behave differently"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
lookup random_choice

##### ANSIBLE VERSION
[code]

Could be on any version.

##### CONFIGURATION

Nothing particularily for reproducing the "bug".

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Expectations problem:
- When running a loop with_items, on an empty list, the task is skipped.
- When running a loop with_random_choice, on

[2017-07-27 11:29] evrardjp commented on #27373
Solution: https://gist.github.com/evrardjp/4100215a6970041207519914ca311c81

[2017-07-27 12:17] yuriyostapenko opened #27374 "Could not find imported module support code for 'Ansible.ModuleUtils.PowerShellLegacy'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Windows support

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Irrelevant

##### OS / ENVIRONMENT

Ubuntu 16.04.2 (WSL) control machine to Windows Server 2016 with WMF 5.1
##### SUMMARY

Most modules that can be run on Windows fail in latest 2.4 `devel` branch: all `win_*` I tried and `setup` too.
However, `raw` does work.

Switching to

[2017-07-27 12:48] astsu777 commented on #20769
I'm facing the exact same issue with the 'synchronize' module. I can't use the 'copy' modules as I tend to copy whole directories and it can take up to 1h30 to copy a bunch of small files.

Do you have any news on this issue? I'm using ansible 2.3.1.

Thanks.

[2017-07-27 13:10] jctanner commented on #25027
The "success" test code is defined in https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/test/core.py#L37-L39

[code]

[2017-07-27 13:12] #24747 closed, assigned to nobody

[2017-07-27 13:32] samrreynolds4 commented on #27326
Hi @jhawkesworth
I followed your instructions and it's now working. Thanks for your help!

[2017-07-27 13:39] mkrizek opened #27377 "dnf does not mark group as installed/removed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dnf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Controller on Fedora 26 managing a host on Fedora 26.

##### SUMMARY
It seems like the dnf module does not mark a group as installed/removed after installation/removal.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The first command installs the gr

[2017-07-27 14:39] rgroten opened #27382 "ovirt_vms: state:present shouldn't start VM if off"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_vms.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Running ovirt_vms module with state:present on a VM that is powered off will result in it being powered on.  This is unexpected as there is a state:started that should be used instead.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESUL

[2017-07-27 14:41] Cato2 commented on #13278
@ctidocker your issue looks quite different - suggest you open a new issue.

[2017-07-27 15:00] vwbusguy commented on #22596
This would be especially helpful, as we use Ansible to roll out our Docker deployment runtime configs and would like to be able to automate and test remote image updates.  However, there is currently no obvious way to tell if a docker pull updated the local image with a newer remote one natively via Ansible.  It is certainly possible to do this otherwise by scraping the output from the Docker API

[2017-07-27 15:06] abadger commented on #25954
I threw this together https://github.com/ansible/ansible/pull/27369/commits/79d155934bac2fcf756655dcbaf3e2decae6be4f  for https://github.com/ansible/ansible/pull/27369 since I wanted to add from __future__ boilerplate while I was cleaning up the wildcard imports and GPL headers.  right now it blanket allows from __future__ imports but I think I'm going to implement some sort of blacklist or whitel

[2017-07-27 15:13] vwbusguy commented on #22596
It looks like the information can still be scraped with the new docker-py using the low-level API: http://docker-py.readthedocs.io/en/2.3.0/api.html#docker.api.image.ImageApiMixin.pull

[2017-07-27 15:18] laurent-perrin opened #27383 "501 error with nxos_ntp"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_ntp

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server: Ubuntu 17.04
Nexus: Cisco Nexus 5672UP-16G

##### SUMMARY
The issue is similar to https://github.com/ansible/ansible/issues/27134 and https://github.com/ansible/ansible/issues/27134.

When the playbook is run, I get an error message

##### STEPS TO REPRODUCE

[code]

[2017-07-27 15:24] jctanner commented on #27364
cc @mkrizek

[2017-07-27 15:30] theballdredge opened #27384 "vmware_guest module error message for nonexistent host is confusing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

none
##### OS / ENVIRONMENT

OSX10.12.6, RHEL7
##### SUMMARY

The error message produced when a host is not found is not descriptive/helpful.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A message indicating the host was not found/did not exist.

##### ACTUAL RESULTS

[2017-07-27 15:32] Qalthos commented on #26262
Could you please be more specific about which properties are not idempotent? (ie, by showing the contents of results.commands across successive runs)

[2017-07-27 15:37] #13635 closed, assigned to nobody

[2017-07-27 15:44] s-hertel commented on #26971
@piotrkarbowski-ciklum or @adamchainz Want to make a pull request to fix this?

[2017-07-27 15:50] JeanFred opened #27385 "ec2_eip does not allow reassociation"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ec2_eip

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
N/A
(Ubuntu 16.04)

##### SUMMARY

ec2_eip does not allow to reallocate an already associated Elastic IP.

##### STEPS TO REPRODUCE

- Have an associated ElasticIP
- Try associate it with another device

[code]

##### EXPECTED RESULTS

The ElasticIP is associated to the new device

[2017-07-27 15:50] JeanFred commented on #27385
I’ll submit a pull-request for this

[2017-07-27 15:52] abadger commented on #27312
Okay, we talked about this in today's public IRC meeting and decided that failing is the correct choice here as the user may have intended the dest= to be the file and so we'd be silently doing the wrong thing if we made downloading into the directory the correct behaviour.

So we probably need a check inside of the if flat conditional ( https://github.com/ansible/ansible/blob/ff22528b076fa7ab17e0

[2017-07-27 15:55] s-hertel commented on #26664
@willthames Can you test if #27234 fixes this?

[2017-07-27 15:57] freddywhd opened #27387 "UTF-8 problem in ansible 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Mac OS

##### SUMMARY

I am using Mac os with ansible 2.4 to build docker_services.  in my docker build file,  it invoked some sql files.  the sql files includes some UTF-8 characters.    when the build docker image finish, I got error.     I checke

[2017-07-27 15:58] adamchainz commented on #26971
I asked @piotrkarbowski-ciklum to but he hasn't got around to it

[2017-07-27 15:58] adamchainz commented on #26971
(we work in the same team)

[2017-07-27 16:16] mikedlr commented on #25954
the ones I have had to use are just the ones mentioned

    __future__ import (absolute_import, division, print_function)

Which seem to make it easier to make code that does the same thing on 3&4 reliably.  I think that most of the others are not needed because they are old, however when we move to writing mostly in Python3, it's probably worth adding `unicode_literals`

[2017-07-27 16:16] theballdredge opened #27390 "vmware_guest module fails on state: shutdownguest"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

none

##### OS / ENVIRONMENT

OSX10.12.6

##### SUMMARY

when setting state to shutdownguest, an error is produced even though the module seems to execute properly

##### STEPS TO REPRODUCE

run a task with state: shutdownguest

[code]

##### EXPECTED RESULTS

the guest is shutd

[2017-07-27 16:25] jean-christophe-manciot opened #27391 "AttributeError: 'NoneType' object has no attribute 'recv' & Bad file descriptor"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

inventory   = ./hosts
library        = /home/actionmystique/Ansible/git-yang-networkop/ansible-101/library
forks = 1000
gathering = explicit
gather_timeout = 30
roles_path = /home/actionmystique/Ansible/Roles/roles
private_role_vars = yes
hash_behaviour = merge
log_path = /var/log/an

[2017-07-27 16:35] abadger commented on #25954
Unicode_literals is the worst thing ever.  If I blacklist instead of
whitelist, that would definitely be in the blacklist.  The problem is that
when Writing code with unicode_literal on python2 you end up having to
check whether the particular file you're looking at now has unicode
literals on or off at the top of the file.  Even if your whole project uses
unicode literals, switching into library

[2017-07-27 16:39] dav1x commented on #27062
@jwendt-bnsf is the datastore on shared storage? I see you are specifying a cluster and not a specific host. At the moment the default hypervisor chosen will be the first one in the cluster.

Check to see that that hypervisor has access to the datastore target listed in the playbook.

[2017-07-27 16:42] mikedlr commented on #25954
I haven't used unicode_literals almost at all, however I understood that the use is for porting back code already written in python3, in which case I don't think that you can use the other methods??  In any case, put it in the blacklist and then, if anyone has a demonstrable valid use for it, they can put a PR to remove it from there at the same time as they bring it.  I have no personal need for

[2017-07-27 16:50] mattclay commented on #25954
@abadger I'd definitely go for a whitelist instead of a blacklist. We can always expand the list later if there's something else we need.

[2017-07-27 16:59] marcjay commented on #4638
I can confirm that when I tested this now with Ansible version 2.3.1.0, the following worked when added to the top of the template file:
[code]
Input:
[code]
Output:
[code]

[2017-07-27 17:09] nwchandler commented on #27374
I just ran into this too... Not sure what happened, but in my case, at least, when I did a pip install of a local development branch into a virtual environment, it did not copy over the PowerShell modules into my virtual environment's /lib/python2.7/site-packages/ansible/module_utils/powershell/ directory. I copied them over manually, and the error went away... I don't know why they were not copie

[2017-07-27 17:15] ghost commented on #24548
I'm now running 2.4.0 off the devel branch and getting the same error, unfortunately

[code]

[code]

[2017-07-27 17:47] mikewiebe opened #27392 "(P1) nxos_ospf_vrf module sends invalid command"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_ospf_vrf

##### NXOS VERSION
7.0(3)I5(3)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The `nxos_ospf_vrf` module sends an invalid command using the following playbook.  Problem exists for both `nxapi` and `cli`
[code]

[code]

[2017-07-27 17:51] fthommen opened #27393 "Replacement for the old "action" shorthand to run modules from variables"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
action

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
_none_

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The old "action" shorthand (http://docs.ansible.com/ansible/latest/playbooks_intro.html#action-shorthand) allowed to run modules from variables (albeit with somehow unintuitive syntax):

[code]
There doesn't seem to be an equivalent poss

[2017-07-27 17:52] abadger commented on #25178
#27254 has been merged to devel.  If you could test the devel branch I believe it will fix this issue for you.

needs_info

[2017-07-27 17:53] yuriyostapenko commented on #27374
@nwchandler, thanks, that worked!
I can confirm that error is due to files missing in `module_utils/powershell/`

[2017-07-27 17:57] saichint commented on #26911
resolved by pr https://github.com/ansible/ansible/pull/26913

[2017-07-27 17:57] #26911 closed, assigned to nobody

[2017-07-27 17:58] saichint commented on #27182
resolved by pr https://github.com/ansible/ansible/pull/26913

[2017-07-27 17:58] #27182 closed, assigned to nobody

[2017-07-27 17:58] saichint commented on #27168
resolved by https://github.com/ansible/ansible/pull/26913

[2017-07-27 17:58] #27168 closed, assigned to nobody

[2017-07-27 17:58] saichint commented on #27146
resolved by https://github.com/ansible/ansible/pull/26913

[2017-07-27 17:58] #27146 closed, assigned to nobody

[2017-07-27 17:59] saichint commented on #27140
resolved by https://github.com/ansible/ansible/pull/26913

[2017-07-27 17:59] #27140 closed, assigned to nobody

[2017-07-27 17:59] saichint commented on #27134
resolved by pr https://github.com/ansible/ansible/pull/26913

[2017-07-27 17:59] #27134 closed, assigned to nobody

[2017-07-27 18:42] saichint commented on #27142
@trishnaguha Works perfectly. You can close #27142 and #27143 after the merge. Thanks for the help

[2017-07-27 18:43] fwissue commented on #27083
If there is no problem, I will not enable for debug
[admin@4ed63d1f114b work]$ ansible-playbook -i labhost ASA/fwshownat.yaml -vvvv
ansible-playbook 2.4.0
  config file = /work/ansible.cfg
  configured module search path = [u'/home/admin/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable locatio

[2017-07-27 18:57] saichint commented on #27141
@trishnaguha Works good now

[2017-07-27 19:02] srikalyan opened #27397 "Please pin the version of dependencies on releases."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
requirements.txt should have pinned versions so that installing a specific version in a new virtualenv does not create any sideeffects.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

requirements.txt

##### OS / ENVIRONMENT

N/A

##### SUMMARY

As we are not pinning the dependency versions, newer releases of dependencies are being installe

[2017-07-27 19:03] machacekondra commented on #27382
Yes, that's exactly what's written in the doc:

 http://docs.ansible.com/ansible/latest/ovirt_vms_module.html

I am unsure if it would be better, because if VM does not exist and you run the playbook the VM will be created and started. But if VM already exist and is stopped/paused/etc the final state would not be running, which is not how idempotency is defined.

Why do you think it's better?

[2017-07-27 19:05] bcoca commented on #18782
This makes sure that 'current hosts in play' are the same as the initial hosts selected for the play, will detect unreachable, but also 'failed' hosts.
[code]
another way is checking the registered var value for 'unreachable' key (via hostvars or clearing host errors).

[code]

[2017-07-27 19:07] bcoca commented on #18782
@jimi-c as of 2.4, any_errors_fatal only looks at failed tasks, still does not consider unreachable 'failed'
[code]
results in
[code]

[2017-07-27 19:09] EvanK commented on #27365
This is resolved_by_pr #24899, and has been merged into the release candidates for 2.3.2.0.

Unfortunately, it remains broken for 2.3.1.0

[2017-07-27 19:11] ogenstad commented on #27083
One thing about this is that by default the `no terminal pager` command requires priv 15 so the pager will be active and only show 24 lines making it very unreliable. If possible it would be better if you could run it in enabled mode.

Other than that would you perhaps test with #27218 and see if you experience the same issues with that one?

[2017-07-27 19:12] EvanK commented on #26941
@ansibot needs_info

[2017-07-27 19:15] #27365 closed, assigned to nobody

[2017-07-27 19:17] nitzmahone commented on #27351
Interesting- do you see the same result with `ansible_host`? If not, I'm thinking it's a place where we're not fully sync'ing the values between those two (as well as a reminder that it's probably past time to deprecate `ansible_ssh_host` altogether).

[2017-07-27 19:27] bcoca commented on #27351
@nitzmahone `ansible_ssh_host` is not deprecated, its just plugin specific, `ansible_host` is the 'general one'

[2017-07-27 19:39] AlanCoding commented on #27351
In that case, it delegates to the value of `ansible_host` (or at least that's what it prints out), as in the expected result. Which one should be used was not obvious to me. For clarity, consider the inventory:

[code]

(apologies for calling it "delegator" when it may have more accurately be called "delegatee")

In this case, the stdout reads `[target_host -> delegator_new]`, I presume that's cor

[2017-07-27 19:39] nitzmahone commented on #27351
@bcoca: But that's not the case (unless something's changed since the last time I looked)... We make some efforts to make them appear equivalent, but it looks like we missed at least one. What I'm saying is that maybe it's time to consider deprecating it- we have an ongoing maintenance hassle with it that's only got the potential to get worse/more complicated with first-class plugin specific conne

[2017-07-27 19:44] fwissue commented on #27083
The command in yaml file is very specific, it only return less than 10 line output

Regards

Mike

Sent from my iPhone

On Jul 27, 2017, at 12:12 PM, Patrick Ogenstad <notifications@github.com<mailto:notifications@github.com>> wrote:

when I use asa_command to run show nat (which I setup as privledge level 1), I got error "unable to open-shell")

One thing about this is that by default the no term

[2017-07-27 19:56] bcoca commented on #27351
the config project should make it so this is transparent vs each plugin having to deal with the vars, make it so one time in config, rest of the time it is 'resolved for you'

[2017-07-27 19:58] mriedel-pgdx opened #27398 "Ansible not including module_name in invocation dictionary."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
foreman.py callback

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg changes (per [foreman_ansible](https://theforeman.org/plugins/foreman_ansible/1.x/index.html)
[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.3.1611 (Core)

##### SUMMARY
It seems that Ansible is not reporting the name of the module in the `invocation` d

[2017-07-27 19:58] jladdjr commented on #27351
@nitzmahone - I'm looking into updating our inventory files and playbooks to not use `ansible_ssh_` vars.

http://docs.ansible.com/ansible/latest/intro_inventory.html mentions that `ansible_ssh_user`, `ansible_ssh_host` and `ansible_ssh_port` are deprecated. I see places where we also use `ansible_ssh_pass` and `ansible_ssh_control_path`. Are those deprecated as well?

[2017-07-27 19:59] mikewiebe opened #27399 "(P2) nxos_overlay_global is not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_overlay_global

##### NXOS VERSION
7.0(3)I5(3)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook demonstrates the idempotency issue.  The configuration is applied so I suspect it's a casing issue with the mac address.

[code]

[code]

[2017-07-27 19:59] nitzmahone commented on #27351
@jladdjr I'd assume ssh_pass would also be deprecated (in favor of `ansible_password`), but control_path should remain an SSH-specific arg whenever we fix that for real.

[2017-07-27 20:13] mriedel-pgdx commented on #27398
I forgot to include relevant code in the `foreman.py` callback. It's checking for 'module_name' to determine what to do with the results.
[code]

[2017-07-27 20:15] ehelms commented on #27398
@dLobatog You may want to take a look at this.

[2017-07-27 20:16] mriedel-pgdx commented on #27398
Hmm. on further inspection, it looks like this is fixed in the devel branch of Ansible. I couldn't find a bug reference to it, but this seems to fix it.
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/callback/foreman.py#L196

[2017-07-27 20:40] rgroten commented on #27382
To me state:present doesn't imply a running state.  If I want the VM up, I'd make sure to use state:started in my task.  In other words, a VM that's powered off is still present :)

In my particular case, I want to create a VM in a 3 step process:

1. ovirt_vms to clone the VM from a template
2. ovirt_vm_nics to modify the newly created VMs settings
3. ovirt_vms again to run the VM with cloud_init

[2017-07-27 20:51] glatapoui commented on #9867
@bcoca: Good to know, but does that mean we cannot concatenate a variable and a literal in a default ? Something like: `dest={{ undefined_variable | default('{{test_directory}}/subdir') }}` (but not invalid ;-)

[2017-07-27 20:55] bcoca commented on #9867
I don't normally see posts in closed tickets but an irc user pinged me on this:
```dest={{ undefined_variable | default(test_directory + '/subdir') }} ```

[2017-07-27 21:28] nitzmahone commented on #27351
@AlanCoding @bcoca here's where the problem occurs: https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/play_context.py#L343-L365 - this code appears to be a little out of sync with how we handle hosts in a number of other places (esp since `ansible_ssh_host` is hardcoded in a number of places, where this one isn't). At the end of the day, I think the delegation is correct, it's jus

[2017-07-27 21:29] bcoca commented on #27351
i'm changing how that works in anisble-config, it wont be a catchall but specific declarations by plugin

[2017-07-27 21:50] nitzmahone commented on #27357
Hmm, works for me under Creator's Update with Ubuntu 16.04 (on a ~10y old Core2 Duo, for that matter)... WSL isn't technically a supported platform (mainly since we can't easily do automated/scale testing with it yet), but I'd suspect either you're running older WSL or there's something else borked about your control host...

[code]

[2017-07-27 22:29] kevensen commented on #27287
@Akasurde do you think there is anyway to back port the fix to 2.3.x?

[2017-07-27 22:39] abadger commented on #25954
Okay, ```from __future__ import (absolute_import, division, print_function)``` should now work in dvel.  I left the commit for the tests as a separate commit in case we want to backport it to the 2.3.x series but didn't backport it yet.  Let me know what you want (or just do it ;-)

[2017-07-27 22:39] #25954 closed, assigned to nobody

[2017-07-27 22:46] nitzmahone commented on #27363
IMO this is a bug (probably a behavior of `_find_needle` that we should paper over by ensuring the source path is not empty in the action plugin).

[2017-07-27 22:46] ludovic-gasc opened #27401 "Impossible to upgrade from Debian Jessie to Stretch with apt module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Standard configuration

##### OS / ENVIRONMENT

Ansible playbook launched on Debian Jessie to be upgraded to Debian Stretch

##### SUMMARY
In the [official Debian upgrade documentation](https://www.debian.org/releases/stable/amd64/release-notes/ch-upgrading.en.html#minimal-upgrade), the upgr

[2017-07-27 22:51] mikewiebe opened #27402 "(P1) Unable to configure 'limit-resource module-type f3' using nxos_config module : transport = nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_config

##### NXOS VERSION
version 8.0(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook applies properly when the transport is `cli` but fails for `nxapi`

[code]

[code]

[2017-07-27 22:51] nitzmahone commented on #27374
Thanks for the extra bit of data that it only broke on a pip install- looks like we need to update some of the paths on setup.py to get the Powershell modules (and including the subtrees).

[2017-07-27 22:53] mikewiebe opened #27403 "(P1) nxos* modules timeout sending long running command for transport == cli"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_config

##### NXOS VERSION
version 8.0(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook times out using transport `cli` but it's somewhat intermittent.  Increasing the `timeout:` setting appears to have no effect as it times out rather quickly.

[code]

[code]

[2017-07-27 22:55] hslabbert-dw commented on #25507
Confirmed fixed on my end as well. Yay!

[2017-07-27 22:55] saichint opened #27404 "nxos_vxlan_vtep does not configure properly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vxlan_vtep

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus9000 C9396PX running 7.0(3)I2(2e)

##### SUMMARY
When we run a playbook for configuring vxlan_vtep on the node, it only creates an interface nve but no other parameters are being configured.

##### STEPS TO REPRODUCE
playbook:

[code]

[2017-07-27 22:59] nitzmahone commented on #27393
Seems to work fine for me:

[code]

[code]

[2017-07-27 23:13] nitzmahone commented on #27397
Sorry, this probably isn't going to happen. We'd have to pin the transitive closure of the entire tree of package dependencies to make this work, and install them in an exact order. Even that would fail for "smarter" items that use dynamic dependency calculation in setup.py... If you want to freeze and restore a specific set of deps, you're welcome to do so just as you've described, but Ansible on

[2017-07-27 23:13] #27397 closed, assigned to nobody

[2017-07-27 23:21] nitzmahone commented on #27351
@bcoca: curious to see how that pans out- I've got a mostly backwards-compatible design for the connection var delegation stuff in my head. I'm assuming what you're doing in config won't directly address that, but would allow plugins to declare config/default value key names for their various vars...

[2017-07-27 23:35] mikewiebe opened #27406 "(P2) nxos_pim is not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_pim

##### NXOS VERSION
7.0(3)I5(3), 8.0(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook demonstrates the idempotency issue.  Same problem for both transports.

[code]

[code]

[2017-07-28 00:11] bcoca commented on #27351
Soo WIP https://github.com/bcoca/ansible/tree/config_from_plugin_docs , very much still in flux, but ssh plugin has near 'final' doc format.

[2017-07-28 00:18] PhilThurston commented on #18910
+1

[2017-07-28 01:04] kassiansun commented on #27367
@theonlydoo `pip install docker`, it was renamed to `docker` since version 2.0

[2017-07-28 03:31] trishnaguha commented on #27141
Thanks.

[2017-07-28 03:32] #26562 closed, assigned to trishnaguha

[2017-07-28 03:32] #27133 closed, assigned to trishnaguha

[2017-07-28 03:33] #27142 closed, assigned to trishnaguha

[2017-07-28 03:33] #27143 closed, assigned to trishnaguha

[2017-07-28 04:55] trishnaguha commented on #25608
@patbdti
On the version(7K) of NX-OS port-security is mapped to `eth_port_sec`.
Removing `port-security` mapping would make `feature port-security` an invalid command.
[code]
Maybe the Documentation needs to updated in this case.

[2017-07-28 05:45] jhawkesworth commented on #27326
Great, thanks for the update @samrreynolds4  I'm going to close this as fixed in 2.4

[2017-07-28 05:45] #27326 closed, assigned to nobody

[2017-07-28 06:56] socro opened #27411 "patterns with more than 7 groups do not match any host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Patterns (host selection)

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using a pattern with more than 7 groups linked by ':' no hosts are matched even though there are hosts that should be matched by that pattern

##### STEPS TO REPRODUCE
inventory:
[001]
host-a
[002]
host-b
[003]
host-c
[

[2017-07-28 07:04] ganeshrn commented on #27083
@fwissue As I said after disabling debug logs now you are getting a different error.
Can please share the contents of the log file that is enabled by setting `log_path` in ansible.cfg file. This log file has additional logs emitted from `ansible-connection` and `paramiko`

[2017-07-28 07:39] ludovic-gasc commented on #27401
The bug report about aptitude is open since 2006, I don't believe it will be fixed.

At the same time, the last time that the Debian project recommends to use aptitude for upgrades was for Debian Lenny: https://www.debian.org/releases/lenny/amd64/release-notes/ch-upgrading.en.html#minimal-upgrade

Not the case for Debian Squeeze: https://www.debian.org/releases/squeeze/amd64/release-notes/ch-upgra

[2017-07-28 07:45] Doooooo0o commented on #27367
same result:

[code]

[code]

[2017-07-28 07:49] yuriyostapenko commented on #27374
@nitzmahone, I've submitted a PR for this one.

[2017-07-28 07:52] noaho opened #27413 "apt-key doesn't add keys from HTTPS on ubuntu zesty"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt-key

##### ANSIBLE VERSION
ansible 2.3.1.0
  config file = /vagrant/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.13 (default, Jan 19 2017, 14:48:08) [GCC 6.3.0 20170118]

##### OS / ENVIRONMENT
Managing Ubuntu 17.04 from 17.04.

##### SUMMARY
On ubuntu zesty, apt-key fails to install keys from ht

[2017-07-28 08:09] fthommen commented on #27393
Doesn't here:

[code]
(is part of an included playbook in a role)

[code]

Ansible version is 2.3.1.0 on CentOS 7.

Anyway this wouldn't invalidate the wish to have this functionality with the "new" syntax :-)

[2017-07-28 08:10] rndmh3ro commented on #13879
I'm also affected by this.
[code]

[2017-07-28 08:11] nitzmahone commented on #27393
Put the k=v inside the quotes.

On Jul 28, 2017 1:10 AM, "fthommen" <notifications@github.com> wrote:

[2017-07-28 08:14] laurent-perrin commented on #22726
I tried with devel 2.4 and the issue is still there.

At the first execution, the portchannel is created with no error.  But if the playbook is run again and the portchannel is already created, the issue happens:

[code]

[2017-07-28 08:21] ludovic-gasc commented on #15476
@dagwieers For me, the both behaviors have sense (handlers executed at the end of the role or at the end of the playbook), especially because we use both behaviors to deploy and upgrade our servers in our main playbook.

I like the explicit way to do that with Ansible through **meta: flush_handlers** task.

BTW, it sounds like you might have an habit with another tool like Ansible and you seems su

[2017-07-28 08:24] gundalow commented on #26358
resolved_by_pr 26392

[2017-07-28 08:25] laurent-perrin commented on #22726
The fix proposed by @depereo works for me

[2017-07-28 08:37] gundalow commented on #26260
resolved_by_pr 27348

[2017-07-28 08:37] gundalow commented on #26262
resolved_by_pr 27348

[2017-07-28 08:45] gundalow commented on #27242
resolved_by_pr 27246

[2017-07-28 08:53] nicoonoclaste commented on #20387
That definitely sounds like a documentation bug.
It is slightly concerning that the snippets in the documentation aren't executed/validated as part of the CI, even.

[2017-07-28 08:55] fthommen commented on #27393
Thx.

[2017-07-28 09:36] #25786 closed, assigned to nobody

[2017-07-28 10:57] Miyurz commented on #25116
@bcoca This appears to be a bug in ansible 2.3.1.0.

[code]

[2017-07-28 11:12] roidelapluie commented on #15476
Ansible should warn you if you register the same handler with different parameters.

What I did first:
[code]

in handlers:
[code]

Then I call that role multiple time with different svc_name

what happens?

First try, without flush hander, the FIRST service was restarted at the end of the play.

Second try, with flush handler, the FIRST service was restarted at the end of EACH play.

Ansible shou

[2017-07-28 11:18] roidelapluie commented on #15476
what I have now is:

[code]
that is a bad workaround for not being able to use handlers like I would have expected in the first place.

[2017-07-28 11:35] sm4rk0 commented on #27206
I have the same problem for "src", too. Here's the strange part. Note the missing trailing slash in "src" part of module output:
[code]
The result is "test" directory with it's contents (instead of its contents only) is copied to c:\tmp\test

Should I open additional issue for this?

[2017-07-28 11:38] sm4rk0 commented on #27206
Additional problem number 1 (maybe the same root cause):
If src dir contains only one file, the "src" part of module output is different:
[code]
Again, should I open additional issue for this?

[2017-07-28 11:39] #27114 closed, assigned to trishnaguha

[2017-07-28 11:58] sm4rk0 commented on #27206
And additional problem number 2 less likely with the same root cause:
Empty directory in src part is not copied at all.
Having this on control machine (`a` is a file and `c` is a dir)
[code]
results in missing `c` on windows machine.
This is contradiction with the [documentation](https://docs.ansible.com/ansible/latest/win_copy_module.html):

Sorry for excess comments. I remember already seeing th

[2017-07-28 12:03] mkrizek commented on #27364
After chatting with @vjuranek this turns out to be a different issue. It looks like the username is passed correctly (although not displayed in the output similar to password). The issue seems to be rather not passing server_hostname from playbook to subscription-manager. Working on a fix.

[2017-07-28 12:16] jainnikhil30 opened #27419 "Fact module + action plugin implementation to show service state"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
Fact module + action plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Referencing this PR #20177
May be its a good idea to implement this via fact module + action plugin.

[2017-07-28 12:25] machacekondra commented on #27382
Yes, that makes sense. I'll change it.

[2017-07-28 13:13] bcoca commented on #27393
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This was a YAML quoting issue.

In the future, this might be a topic more well suited for the user list, which you can also post here i

[2017-07-28 13:13] #27393 closed, assigned to nobody

[2017-07-28 13:17] fthommen commented on #27393
it was **not** a quoting issue :-(.  There doesn't seem to be **any** way to run modules from names in variables other than through "action".  "action" is declared as "old" syntax and the request was to establish the same functionality within the "new" syntax.  "old" and "new" syntax is wording from the ansible documentation.

[2017-07-28 13:19] laurent-perrin opened #27422 "nxos_vpc returns with CLI command error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vpc

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server: Ubuntu 17.04
Nexus: Cisco Nexus 5672UP-16G 7.3(0)N1(1)

##### SUMMARY
When the playbook is run, I get an error message

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Apply the vpc domain correctly

##### ACTUAL RESULTS
[code]

[2017-07-28 13:20] lealoncity opened #27423 "Openstack Plugin has performance issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible/modules/cloud/openstack/os_server.py
ansible/modules/cloud/openstack/os_volume.py
ansible/modules/cloud/openstack/os_server_volume.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default ansible.cfg
##### OS / ENVIRONMENT

1. ansible installed Ubuntu 14.04
2. Test public cloud based on Openstack
##### SUMMARY

##### STEPS TO REP

[2017-07-28 13:27] bcoca commented on #27393
if your problem is the word 'old' , i can change the docs to 'previous'

[2017-07-28 13:28] fthommen opened #27424 "Establish a possibility to use variables as module names w/o using the action shorthand"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
none so far

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
_none_

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It would be nice to have the possibility to use variables as module names, e.g. to be able to run

[code]

this doesn't seem to be possible with "new" ansible syntax but was/is possible with the "action" shorthand, which is document

[2017-07-28 13:29] fthommen commented on #27393
That doesn't make it better :-).  I think this functionality should be available in "new" (aka "current", aka "modern", aka...) syntax.

[2017-07-28 13:30] fthommen commented on #27393
...but if that is not wanted by ansible, then you can rightaway discard #27424, which I wrote with a more clearly formulated wish.

[2017-07-28 13:36] drfickle commented on #24884
I'm also hitting this issue. I added the
```Fail-Json @{} "This host=$host_name"```
line and the hostname did match, even though the it was over 15 characters.

So I took out the host_name argument from
```$pc = New-Object -TypeName System.DirectoryServices.AccountManagement.PrincipalContext 'Machine', $host_name```
and that did work, or at least didn't fail (I was setting it to the same password

[2017-07-28 13:38] bcoca commented on #27393
The way to do it IS using `action|local_action`, not sure why we need yet another way

[2017-07-28 13:39] bcoca commented on #27424
to start, that will confuse YAML, at the very least it should be quoted or taken as a dictionary/hash.

[2017-07-28 13:46] bcoca commented on #20387
dupe of #17636

[2017-07-28 13:46] #20387 closed, assigned to nobody

[2017-07-28 13:55] bcoca commented on #27411
seems like it is confusing your list with an IPv6 address

workaround, use `,` as a separator

[2017-07-28 14:27] paulRbr commented on #27351
Hi all,

I have had a similar problem when using `ansible_host` variable that depends on the `inventory_hostname` variable (see steps below). Please let me know if you want me to open another issue.

_Tested against 2.3.1.0 and latest `devel` branch._

##### STEPS TO REPRODUCE

Run the following playbook:

[code]

against the following inventory file

[code]

##### EXPECTED RESULTS

[code]

#####

[2017-07-28 14:37] #27122 closed, assigned to newswangerd

[2017-07-28 14:39] 4c74356b41 opened #27426 "Azure AD User in different tenant unauthorized"
- Bug Report (Cloud \\ Azure Modules)
##### COMPONENT NAME
azure_rm_resourcegroup
azure_rm_*
##### ANSIBLE VERSION
[code]

[code]

##### CONFIGURATION
None \\ Clean install. Only env vars were used (`AZURE_*` ones)

##### OS / ENVIRONMENT
Windows 10 (15063.483), bash on windows (Ubuntu 16.04.2 LTS)

##### SUMMARY
Cannot authenticate with AD User, when user is from another tenant. I've tried using

[2017-07-28 15:19] calfonso commented on #27275
@vvs1987 would you mind testing this on our devel branch as we believe it's fixed and will be part of our 2.4 release. Thanks!

[2017-07-28 15:20] tedder commented on #24866
`fixed_by: #27427`

(not sure if that's right for the bot)

[2017-07-28 15:20] rcarrillocruz commented on #27275
fixed on https://github.com/ansible/ansible/pull/27100

[2017-07-28 15:21] ganeshrn commented on #27391
I can see a command_timeout in the logs you shared
[code]

The provider timeout is set to 60 secs, can you please increase the provider timeout to a higher value and retry.

[2017-07-28 15:31] calfonso commented on #24941
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for

[2017-07-28 15:31] #24941 closed, assigned to Qalthos

[2017-07-28 15:36] calfonso commented on #22233
Hi!

We believe recent commits should resolve this question or problem for you.

This is also included in the current major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and

[2017-07-28 15:36] #22233 closed, assigned to nobody

[2017-07-28 15:37] rgroten commented on #27382
Thanks, btw the new ovirt modules are fantastic.

[2017-07-28 15:39] calfonso commented on #22098
@cognifloyd a fairly recent commit to our devel branch has an aireos_command module. Try it out and if it's not sufficient, go ahead and re-open the issue. Thanks!

[2017-07-28 15:39] #22098 closed, assigned to nobody

[2017-07-28 15:40] calfonso commented on #20922
Hi!

We believe recent commits should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, an

[2017-07-28 15:40] #20922 closed, assigned to rcarrillocruz

[2017-07-28 15:44] calfonso commented on #18966
@jean-christophe-manciot the latest comments introduce a different issue to this conversation thread. We would like to find out if the original issue reported in this issue is in fact still happening for you. Could you please provide feedback on that with our latest devel branch. Also if the last issue you mentioned in this report is still an issue for you, could you please open a new issue for it

[2017-07-28 15:54] jberkus commented on #21185
Any progress on this module?

[2017-07-28 15:59] trstringer commented on #27426
To be completely honest, I'm not sure how this would be handled.

@haroldwongms, can you provide any input on this? If you don't know off the top of your head either, we can do some digging on this.

@4c74356b41, I can understand that they wouldn't want to give you graph permissions to create your own service principals, but are they also unwilling to prestage a service principal for you?

[2017-07-28 16:03] supertom commented on #27371
Yeah, in short, GoogleCloudPlatform/google-cloud-python#3235, renamed several, public facing variables, released in [0.24.0](https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag/pubsub-0.24.0).  Downgrading to google-cloud-python 0.23.0 (including pubsub and any other google cloud libraries) is the current workaround.

[2017-07-28 16:20] #27110 closed, assigned to newswangerd

[2017-07-28 17:35] 4c74356b41 commented on #27426
well, looking at msrestazure it provides [a way to pass in tenant](https://github.com/Azure/msrestazure-for-python/blob/master/msrestazure/azure_active_directory.py#L315) to UserPassCredentials.

@tstringer, well, I'm fighting for that currently, just wanted to confirm I'm not going mad and ansible can't handle this. also have this tracked.

[2017-07-28 17:36] #26358 closed, assigned to ganeshrn

[2017-07-28 17:36] raetsel99 opened #27433 "apache2_mod_proxy_module fails to parse apache version from Red Hat Apache server"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

apache2_mod_proxy_module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.9 (Santiago)

##### SUMMARY
Module errors trying to do fetch_balancer_page because the output from apache includes a space in the version string line O/S part (Red Hat)
Server Version: Apache/2.4.25 (Re

[2017-07-28 18:11] trstringer commented on #27426
Fair enough! @haroldwongms and I will do some digging and research on this one.

[2017-07-28 18:59] newswangerd commented on #27120
I think that the tests might be wrong in this case. The test that fails is:
[code]

From what I can tell it basically takes the list of commands and compares each line in list of commands to the corresponding configuration line, so command[x] == config[x]. If the lines don't equal each other, than then command is applied.

In this case command = ['hostname foo'] and the running config = ['hostname

[2017-07-28 19:12] abadger opened #27438 "Document regex_findall and regex_search filters"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

docs/docsite/rst/playbooks_filters.rst

##### ANSIBLE VERSION

[code]

##### SUMMARY
The regex_findall and regex_search functions were added in 2.1.0: https://github.com/ansible/ansible/pull/14696

No matching documentation was added to docs/docsite/rst/playbooks_filters.rst

Need someone to write some docs on how to use those.

[2017-07-28 19:14] basictheprogram opened #27439 "Copy module src path ends with "/" does not copy just the contents"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Copy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Management host macOS 10.12.5
Managed host Ubuntu 16.04

##### SUMMARY

http://docs.ansible.com/ansible/latest/copy_module.html says "...if [src] path ends with "/", only inside contents of that directory are copied to destination.." It's copying the direc

[2017-07-28 19:24] emonty commented on #27423
Thank you for your very detailed analysis. There are definitely some
improvements that can be made, but I'm going to respond to each point with more
information, and then point to places where the improvements can be made.

Also, most of these improvements should actually be made at the shade level.
The reason for that should be fairly clear given that you had to monkeypatch
shade anyway. I'll be

[2017-07-28 19:26] #13243 closed, assigned to alikins

[2017-07-28 19:43] basictheprogram commented on #27439
git bisect f86ce0975d8496b61ed6e2206cab917d0779cec9 is the first bad commit
[code]

[2017-07-28 20:16] emonty commented on #27423
https://github.com/ansible/ansible/pull/27443 has the "get rid of local stuff in os_server that's done better in shade"

[2017-07-28 20:23] basictheprogram commented on #27439
No idea how to run integration tests but I think this test needs to be added to the copy module.
[code]

[2017-07-28 20:31] basictheprogram commented on #27439
I'm not sure the documentation is aligned with the integration tests
[code]
I read the above integration test as copy the **contents** of subdir/ (because of the ending "/") to {{output_subdir}}

But I see these tests
[code]
Shouldn't you be testing for bar in {{output_dir}?
[code]
What created the {{output_dir}}/sub directory? And why?

[2017-07-28 20:56] basictheprogram opened #27444 "test/README.md missing"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

test/README.md
##### ANSIBLE VERSION

[code]
##### SUMMARY

http://docs.ansible.com/ansible/latest/community.html#contributing-code-features-or-bugfixes

For more information about testing see test/README.md

https://github.com/ansible/ansible/blob/devel/test/README.md

<img width="838" alt="page_not_found_ _github" src="https://user

[2017-07-28 21:06] basictheprogram opened #27445 "hacking/README.md should state pytest should be installed"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

hacking/README.md

##### ANSIBLE VERSION

[code]
##### SUMMARY

http://docs.ansible.com/ansible/latest/community.html#contributing-code-features-or-bugfixes
[code]
[code]
Following along at https://github.com/ansible/ansible/blob/devel/hacking/README.md
[code]
pytest should be in requirements.txt or step should be added to hacking/RE

[2017-07-28 21:16] basictheprogram opened #27446 "make tests fails with pytest: error: unrecognized arguments: --boxed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Testing

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

macOS 10.12.5

##### SUMMARY

make tests fails with pytest: error: unrecognized arguments: --boxed

##### STEPS TO REPRODUCE

 * clone ansible git repository
 * setup python virtual environment
 * source hacking/env-setup
 * pip install pytest
 * make tests
[code]

##### EXPECTED R

[2017-07-28 21:35] #27368 closed, assigned to nobody

[2017-07-28 21:50] fwissue commented on #27083
@ganeshrn , it seems someone modified the ansible.cfg, the problem can be closed now. thx

[2017-07-28 21:50] #27083 closed, assigned to ganeshrn

[2017-07-28 22:00] cherdt opened #27450 "yum module with package groups reports changes in --check mode when no changes are needed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
yum module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

As far as I can tell not platform specific, but here are my details:

Running Ansible from:
* CentOS release 6.9 (Final)
* MacOS Sierra 10.12.6

Managing:
* CentOS Linux release 7.3.1611 (Core)

##### SUMMARY

If I use the yum module to install a package gro

[2017-07-28 22:23] s-hertel commented on #27439
cc/ @abadger

[2017-07-28 22:32] mikelindsey-okta commented on #18142
Seeing this with 2.2.3 as well.

[2017-07-28 22:33] ghost commented on #21285
Got the same issue here for a similar problem.
Ansible 2.3.1

[2017-07-28 22:35] s-hertel commented on #27446
A workaround:
[code]

[2017-07-28 23:26] ghost commented on #27433
Personally I would not get rid of the parentheses, yet it is truth that the lack of the blank is causing this error in your version string. ~I noticed a similar thing on CentOS, but on this case is because the message is being printed as `Server: Apache...`~. Very likely the safest way to compare the obtained version is to search for `Server Version: Apache/([\d.]+)` and putting everything in *upp

[2017-07-29 01:06] ghost commented on #27433
Would you mind helping me out testing [**this**](https://github.com/monchitos82/ansible/blob/e0ec4678dd597c6b071c9219889544e1099711e5/lib/ansible/modules/web_infrastructure/apache2_mod_proxy.py) on your distro? (Got no RedHat boxes by hand), just rename the old file and place this one in `/usr/lib/python[version]/site-packages/ansible/modules/web_infrastructure/`. It should fix the issue but I hav

[2017-07-29 01:35] abadger commented on #27439
Hmm... when I rewrote the copy module, I added an integration test to check that exact condition: https://github.com/ansible/ansible/blob/devel/test/integration/targets/copy/tasks/main.yml#L324

I'll have to take a look at your reproducer to figure out why the integration test isn't testing what it should.

[2017-07-29 01:50] abadger commented on #27439
Okay, I haven't figured out why yet, but the relevant difference is that I'm testing with a relative directory and you are using an absolute path.  I have a feeling that one of the functions I'm calling removes the trailing slash on absolute filenames but leaves it on for relative filenames.  Will figure that out and whether it's a bug in the function or if I'll have to detect my trailing slash be

[2017-07-29 02:16] basictheprogram commented on #27439
You are correct "{{ private_data }}/users/tanner/" expands to an absolute path

[2017-07-29 02:44] abadger commented on #27439
Okay, I think that  #27452 fixes this (and includes a test for it so that it won't regress later).

[2017-07-29 04:00] #27439 closed, assigned to nobody

[2017-07-29 04:16] ghost opened #27453 "ec2_tags: Docs don't show how to remove tags"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ec2_tags

##### ANSIBLE VERSION

[code]

##### SUMMARY

The documentation shows how to add and list tags but not how to remove them.

[2017-07-29 08:11] jhawkesworth commented on #27206
I noticed that a fix has been made to the copy action plugin here for a similar problem in non-windows.
https://github.com/ansible/ansible/pull/27452
Perhaps worth trying again using very latest devel, although its possible the powershell code may also need changing.

[2017-07-29 10:18] tecnocat commented on #24945
I do the fix described in #25092 but still having the same error when trying to delete and existing AMI if already exists.

Playbook:

[code]

ansible 2.3.1.0
  config file =
  configured module search path = Default w/o overrides
  python version = 2.7.10 (default, Feb  7 2017, 00:08:15) [GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)]

## Running when AMI exists:

TASK [AWS-AMI : Find fo

[2017-07-29 11:18] Akasurde commented on #25353
resolved_by_pr #27456

[2017-07-29 16:00] sohail-prodevans commented on #16460
HTTPConnectionPool(host='192.168.56.10', port=5985): Max retries exceeded with url: /wsman (Caused by NewConnectionError('<requests.packages.urllib3.connection.HTTPConnection object at 0x228c850>: Failed to establish a new connection: [Errno 111] Connection refused',))",
    "unreachable": true

[2017-07-29 17:23] Akasurde commented on #27384
@theballdredge Logic of vmware_guest assumes that - if state is among from these states `['poweredon', 'poweredoff', 'restarted', 'suspended', 'shutdownguest', 'rebootguest']` and  virtual machine with given name does not exists, then module tries to deploy virtual machine with given name.

As you have specified a name of virtual machine which doesn't exists, module is proceeding and trying to cre

[2017-07-29 18:37] ksylvan commented on #12196
I know this issue is closed, but it helped me, so I'm going to leave a snippet of my Debian server playbook here. Added this to the top of my playbook and got around the problem:

[code]

[2017-07-29 20:24] madhu222 commented on #16052
@leifmadsen

How did you solve this issue? I am also getting the issue "Establishing connection with user jenkins"

[2017-07-29 22:05] jhawkesworth commented on #16460
@sohail-prodevans please check you have followed all instructions here: https://docs.ansible.com/ansible/latest/intro_windows.html

If you are still having problems, please raise a new issue and complete all items on the issue template - closed issues are not usually monitored by ansible core team and there is not enough information to help you above.

[2017-07-29 22:05] jeremycornett commented on #16804
@breta-ionut I'm in the same boat with my company. We want to allow engineers the ability to modify the common roles, and it's just easier with Git to grant wild-card permissions around branch names and use pull requests as opposed to wild-carding the creation of Git repos. One repo to rule them all, and in the darkness bind them.

[EDIT] Actually, I thought about this long and hard. With a single

[2017-07-29 22:23] dagwieers commented on #15476
@GMLudo Your assumptions on my past and my role in Ansible (or Open Source in general) are wrong. But thanks for playing ;-)

[2017-07-30 01:13] basictheprogram opened #27463 "Broken documentation link"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

docker_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS 10.12.5

##### SUMMARY

http://docs.ansible.com/ansible/latest/docker_module.html has a broken link

Getting Started with Docker Guide at https://github.com/ansible/ansible/blob/devel/docsite/rst/guide_docker.rst  is broken

##### ST

[2017-07-30 02:24] guits commented on #23389
@bcoca any update on this?

[2017-07-30 03:37] Akasurde commented on #24691
resolved_by_pr #27464

[2017-07-30 05:08] Akasurde commented on #27463
resolved_by_pr #27465

[2017-07-30 09:08] #27463 closed, assigned to nobody

[2017-07-30 12:00] futangw opened #27466 "role can not run multiple time using ansible-playbook"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

use default
##### OS / ENVIRONMENT

Linux stackclient 3.10.0-327.18.2.el7.x86_64 #1 SMP Thu May 12 11:03:55 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

A same role can not run multiple times, for example, below code the role1 only run once:
- role: role1
- role: role2
- role: role

[2017-07-30 14:56] jlec commented on #23287
I see the same. Only ansible cannot connect. Subsequent shell level connections work.

[2017-07-30 21:10] ludovic-gasc commented on #15476
@dagwieers Then, the form of your revendications in this issue is more special than I have excepted, interesting ;-)

Anyway, back to the content: How would be the form inside the playbook for this feature to implement the behaviour you want ?

Maybe I'm an Ansible fan-boy, but for me, the actual behavior is a feature, not a bug ;-)

[2017-07-30 21:27] roidelapluie commented on #15476
it is not about features vs bug, it is about natural expectations. We do expect a handler in a role called multiple time with multiple different parameters to be called multiple times at the end of the play, one time per parameter set.

[2017-07-31 00:04] agaffney opened #27469 "route53 module ignores hosted_zone_id when looking up zone NS records"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
route53 module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When you have "duplicate" hosted zones in route53 and use `command=get` and the `hosted_zone_id` parameter, it gets ignored when looking up the nameservers for the zone. For some reason, instead of using the zone object that was alrea

[2017-07-31 00:15] agaffney commented on #27469
The following change (against the 2.2.3 code) fixes it for me. A similar change should work against devel.

[code]

[2017-07-31 03:00] benjamincburns commented on #9065
From my previous comment, see https://github.com/ansible/proposals/issues/41 for a potential avenue to allow more pluggable behaviour here.

[2017-07-31 03:32] Akasurde commented on #25984
resolved_by_pr #27472

[2017-07-31 03:44] Amruthapv opened #27473 "Is there an ansible module for lun mapping for na_cdot"
##issue type
 - Feature Idea

##### COMPONENT NAME
na_cdot_lun_mapping

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
ubuntu 14.04

##### SUMMARY
Wanted to know if the above module already exists.Iam not talking about netapp_e_lun_mapping.
If not what documentation can I refer to write such modules.

[2017-07-31 03:57] Amruthapv commented on #27473
After doing ansible -doc --list I could not locate the module.

[2017-07-31 04:49] vacri commented on #17636
This is still in error in the online documentation: [looping over hashes](http://docs.ansible.com/ansible/latest/playbooks_loops.html#looping-over-hashes)

[code]

[2017-07-31 06:06] raetsel99 commented on #27433
@monchitos82 Yes that fix works fine on my Red Hat boxes

[2017-07-31 06:10] Akasurde opened #27475 "Mark resource pool as required parameter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Fedora 26

##### SUMMARY
Resource pool is required parameter while creating a virtual machine using vmware_guest

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Resource pool is required for `CreateVM_Task` API

##### ACTUAL RESULTS
[code

[2017-07-31 06:15] Akasurde commented on #22713
@dsears Could you please paste output of [govc find /](https://github.com/vmware/govmomi/tree/master/govc) ?

I  tried to reproduce your setup. Does it look similar to yours ?

[code]

[2017-07-31 06:40] Akasurde commented on #27473
@Amruthapv I am not sure about the na_cdot_lun_mapping module, but there is something more closer to [that](http://docs.ansible.com/ansible/latest/na_cdot_lun_module.html). If you want to develop a new module, you can refer this [page](http://docs.ansible.com/ansible/latest/dev_guide/developing_modules.html)

[2017-07-31 06:52] style95 opened #27478 "Stat module does not work with directory containing `.` in the name."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Stat

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS
##### SUMMARY
When `.` is included in `path`, `stat` does not work.
It just returns the following results:

[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS

[code]

[2017-07-31 06:56] andreaso commented on #27413
Looks like you are using the `file` parameter where the module expects you to use the `url` parameter?

https://docs.ansible.com/ansible/latest/apt_key_module.html

[2017-07-31 07:01] Amruthapv commented on #27473
okay thank you @Akasurde

[2017-07-31 08:02] Jorge-Rodriguez commented on #22953
This is handled by #18437

[2017-07-31 10:00] christiang830 commented on #5564
+1 for auto_dump_item: false

[2017-07-31 12:04] mzabuawala commented on #11441
I am also getting similar error with Python3.6

[code]

[2017-07-31 12:29] alespetrovicky commented on #27450
I confirm this bug.

Managed target: CentOS Linux release 7.3.1611 (Core)
Run from: Fedora release 25 (Twenty Five) ansible 2.3.1.0

[2017-07-31 12:32] maethor commented on #25116
@bcoca I have exactly the same bug. SSH is working fine, but ansible cannot connect on the server.

After the @Miyurz response, I did some tests with `ansible myhost.sysnove.net -m ping -vvvv`. I have the same bug with 2.3.1.0 and 2.3.0.0:

[code]

 but it's working fine with 2.2.0.0:

[code]

[2017-07-31 12:37] #27404 closed, assigned to nobody

[2017-07-31 12:41] rahushen opened #27484 "(P2)nxos_igmp_interface: applying default values is not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_igmp_interface

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

The 'immediate_leave' leave property causes problems with idempotence. When this property is not specified in the playbook (i.e. default value) it tries to do 'no ip igmp immediate-leave'.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2017-07-31 12:55] rahushen opened #27485 "(P1)nxos_igmp_interface: module fails for nxapi"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_igmp_interface

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

The module fails when using transport `nxapi`. The message is as follows : Pipe is not allowed for this message type.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Playbook to apply clean.

##### ACTUAL RESULTS

[code]

[2017-07-31 13:24] sm4rk0 commented on #27206
It's better handling trailing slash in "src" but there are still problems:
1. Having trailing slashes in both `src` and `dest` when the `dest` directory is missing results in missing the file "a" from my previous comment, but an empty directory "c" is now created. Everything works as expected when `dest` directory exists.
2. Missing trailing slash in `dest` directory and missing the `dest` directo

[2017-07-31 13:29] pgporada commented on #5564
Open a new ticket for `auto_dump_item: false`. This ticket has been closed since last year.

[2017-07-31 13:36] rpinohtyp commented on #18079
instead of:
[code]

you could use:
[code]

then its relative to your path where you want to run ansible-playbook

[2017-07-31 13:37] calfonso commented on #27423
@lealoncity Thanks for the detailed report! And @emonty for your detailed response. We've got one person here that might have capacity in a while to look into some of the suggested changes. As this is a community supported set of modules, we'd really need someone in the community to dig in and provide some PRs to resolve the issues; otherwise, it's going to be a while before we can look into it.

[2017-07-31 13:39] gregory-dan opened #27487 "Its impossible use changeset_name parameter in cloudformation module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cloudformation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Using "changeset_name" parameter results in error:

"msg": "local variable 'changeset_name' referenced before assignment local variable 'changeset_name' referenced before assignment - <type 'exceptions.UnboundLocalError'>"

##### STEP

[2017-07-31 13:40] gregory-dan commented on #27487
The fix is simple. I tried to push the fix but I get 403 error.
How can I contribute the fix to project ?

[2017-07-31 13:44] calfonso commented on #27423
needs_contributor

[2017-07-31 13:48] rahushen opened #27488 "(P1)nxos_igmp: module fails with traceback"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_igmp

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

Traceback seen while applying playbook

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No tracebacks.

##### ACTUAL RESULTS

[code]

[2017-07-31 14:17] mikewiebe opened #27489 "(P1) nxos_pim_interface structured output not supported"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_pim_interface

##### NXOS VERSION
7.0(3)I2(5), 7.0(3)F1(1)
##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook fails to apply properly because structured output is not supported on nxos image versions `7.0(3)I2(5)` and `7.0(3)F1(1)`
[code]

[code]

[2017-07-31 14:17] aioue opened #27490 "ec2_vpc_igw 412 Precondition Failed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_vpc_igw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Using latest commit of `ec2_vpc_igw` (supports tagging).

https://github.com/ansible/ansible/blob/225fa5d09229bd673ea76f8b8bc8e7d8b50d2399/lib/ansible/modules/cloud/amazon/ec2_vpc_igw.py

##### SUMMARY

Running ec2_vpc_igw with `--check` produces an error.

[2017-07-31 14:23] s-hertel commented on #9984
I believe this issue has been fixed by 6ba040591c8ce277537276c64a2654b80ff0c509. Please reopen this if you find that the problem has persisted. Thanks!

[2017-07-31 14:23] #9984 closed, assigned to nobody

[2017-07-31 14:24] mikewiebe opened #27491 "(P2) nxos_pim_interface is not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_pim_interface

##### NXOS VERSION
7.3(0)D1(1), 8.0(1), 7.0(3)I7(1), 7.0(3)I4(6)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook demonstrates the idempotency problem for the nxos versions listed above.

[code]

[2017-07-31 14:27] bcoca commented on #27466
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-07-31 14:27] #27466 closed, assigned to nobody

[2017-07-31 14:30] Qalthos commented on #27144
Is this still an issue after #26913?

[2017-07-31 14:36] alikins commented on #27473
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-07-31 14:36] #27473 closed, assigned to nobody

[2017-07-31 14:37] jainnikhil30 opened #27492 "rhn+register: do not pass username/passwd for registration if none is specified"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

rhn_register

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

This is in reference to this PR #24244, there is no corresponding github issue for 2.3. So creating it here.

[2017-07-31 14:46] alikins commented on #27478
Just to verify: '/home/style95/.jenkins/workspace/openwhisk/bin' does exist on 10.110.221.112 ?

[2017-07-31 14:49] gundalow commented on #27115
In 2.4 can the module be updated to pass in a force/do-not-prompt argument?

[2017-07-31 14:49] alikins commented on #27478
Please post the full output of running that playbook with '-vvv' ansible-playbook verbosity?

Does the stat task succeed or fail?

[2017-07-31 15:01] elaske opened #27493 "git module add separate remotes for push / pull"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
git module

##### ANSIBLE VERSION
[code]
(but others as well).

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The `repo` option of the `git` module only allows setting of one remote URL for the entire repo. The ability to set separate push / pull URLs would be useful in managing the protocols to use. Currently, we use the

[2017-07-31 15:07] tedder commented on #27487
Hi- thanks for trying to fix! You'll need to clone the Ansible repo, (optionally but recommended) create a branch, and then create a pull request. Once you push the branch to your repo, Github will show you a button to create the PR. Just reference #27487 in that pull request (by using the # sign and the number 27487). I'll then review the code and we can work through any minor issues.

This is a

[2017-07-31 15:16] bcoca commented on #27478
does not seem to be a 'dot issue':

[code]

[2017-07-31 15:16] robinro commented on #27493
Thanks @elaske for this feature idea.

I think some way to separately set push/pull URLs would be a good addition.
I don't like the syntax you propose, since it allows different types (string, dict) for one argument and thereby makes the documentation and implementation more complex.
I would rather suggest something like
[code]

Most uses of the git module only ever use pull, so here the `repo` UR

[2017-07-31 15:21] gundalow commented on #27077
This can be reproduced with
`ANSIBLE_ROLES_PATH=targets ansible-playbook -vvvvvvvv -i inventory.network nxos.yaml -e "limit_to=nxos_system"`

[2017-07-31 15:23] elaske commented on #27493
I am by no means tied to that syntax - the two types is awkward. However, just adding `push_url` may not be the best solution because of possible other use-cases.

Here's another I thought of: Managing a fork of a repo. You may want one URL that is just a _pull_ url in addition to _your_ `origin` (read: `repo:`). In this case you'd need two _pull_ remotes, and only one push. That may require a dif

[2017-07-31 15:44] logan2211 opened #27494 "Jinja2 broken includes in loop with jinja 2.9.x"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Jinja2 includes in ansible template module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Jinja2==2.9.6, tested with all 2.9.x versions and 2.8.1.

##### OS / ENVIRONMENT

Ubuntu Xenial

##### SUMMARY

##### STEPS TO REPRODUCE

The gist at https://gist.github.com/Logan2211/32a98a8bad71ed393badd621668e6a58 includes a test playbook + templ

[2017-07-31 15:44] #27373 closed, assigned to nobody

[2017-07-31 15:45] senorsmile commented on #14413
I was having similar problems.  I added a 'pause' task for 30 seconds inbetween the shell: shutdown now -r and the wait_for task.  Now things consistently work.  I also have these as handlers with listen, so they only run when needed.

[2017-07-31 15:46] logan2211 commented on #27494
There are a lot of these `KeyError: 'undefined variable: 0'` bugs opened it seems, but I can't find one that deals with my situation specifically where the include is broken due to a set var outside the loop, that is not even used in the loop, breaking the include.

2 notes on the template:
Setting the template like this works:
[code]

This also works:
[code]

[2017-07-31 15:48] csillab commented on #13744
I am running 2.3.1.0 and it still seem to be the case.

[2017-07-31 15:50] robinro commented on #27493
I don't think having more than one remote is within the scope of this module. There are issues about remotes other than "origin" already and they would overcomplicate a module that is mostly used for simple deployments.

[2017-07-31 15:56] saichint commented on #27144
No, forgot to close it. closing it now.

[2017-07-31 15:56] #27144 closed, assigned to nobody

[2017-07-31 16:01] logan2211 commented on #27494
Potentially related to
#20089, #20063, #20494

[2017-07-31 16:01] bdlamprecht commented on #27299
I'm simply checking whether there is there a status update on this at all?  Has it been able to be reproduced and is it a legitimate bug?  I'd appreciate any type of response on the validity of this issue.  Thanks in advance.

[2017-07-31 16:14] abhikumar-singh opened #27496 "ec2_elb_facts returns null"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_elb_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7.2

##### SUMMARY

We created a new ELB using the ec2_elb_lb module and when we use the ec2_elb_facts to get the facts about the newly created elb we are getting an empty list.

##### STEPS TO REPRODUCE

Create a new classic load balancer using the

[2017-07-31 16:15] theballdredge commented on #27384
If datastore is not specified, perhaps modify the message to something like 'guest not found or datastore not specified'

[2017-07-31 16:31] bdlamprecht commented on #27299
I've been watching Issue #27494, and from what I've read, all of the those problems are related to bugs with the Jinja v2.9 and above.

To validate whether this is the case or not, I ran the same PB in a `virtualenv` with Jinja 2.8.1 and still got the same results:
[code]

[2017-07-31 16:33] saichint opened #27497 "nxos_vlan fails to remove vlan if mapped_vni is configured"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vlan

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)

##### SUMMARY
If we configure mapped vni for vlan and try to remove the vlan afterwards, it fails saying
[code]

##### STEPS TO REPRODUCE
playbook:

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-07-31 16:34] newswangerd opened #27498 "nxos_mtu sysmtu option fails idempotency test"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_mtu

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Setting sysmtu to 2000 twice in a row fails to mark the second task as not changed.

##### STEPS TO REPRODUCE

`ansible-playbook -i inventory.network -u admin -k -vvvv nxos.yaml -e limit_to=nxos_mtu`

[code]

##### EXPECTED RESULTS

results.c

[2017-07-31 16:45] mikewiebe opened #27499 "(P2) nxos_pim_rp_address is not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_pim_rp_address

##### NXOS VERSION
All versions

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook demonstrates the idempotency problem for the group_list, prefix_list and route_map properties.  Problem is present for both `cli` and `nxapi` transports.

[code]

[2017-07-31 16:50] saichint opened #27500 "nxos_vlan fails to remove vlan if mapped_vni is configured"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vlan

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)

##### SUMMARY
If we configure mapped vni for vlan and try to remove the vlan afterwards, it fails saying
[code]

##### STEPS TO REPRODUCE
playbook:

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-07-31 16:54] rahushen opened #27501 "(P1)nxos_igmp_snooping: module fails for transport nxapi"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_igmp_snooping

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

Module fails when using transport nxapi. Error is : Pipe is not allowed for this message type where the input command is "show run all | include igmp.snooping".

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS

[code]

[2017-07-31 17:05] saichint opened #27503 "nxos_switchport is not idempotent for access vlan for {{ nxapi }}"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_switchport

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)

##### SUMMARY
Configuring an access vlan is NOT idempotent when using {{ nxapi }} provider. The issue seems to be coming from string to integer comparison.

##### STEPS TO REPRODUCE
playbook:

[code]

##### EX

[2017-07-31 17:28] mkrizek commented on #23324
@jmalette Hi, thanks for the bug report! Can you try running your task with the current stable version of Ansible and see if you still see the issue?

Thanks!

needs_info

[2017-07-31 17:45] gundalow commented on #25720
All, there is a proposed fix in https://github.com/ansible/ansible/pull/26013
Review welcome

[2017-07-31 17:46] gundalow commented on #25720
resolved_by_pr 26013

[2017-07-31 17:48] bcoca commented on #23389
cc @jimi-c

[2017-07-31 17:51] b5hsiung opened #27510 "WinRM certificate-based authentication doesn't understand ansible-vault encrypted content"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

WinRM connection using "certificate" authentication

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_INVENTORY = <ansible_path>/ansible/inventories/dev/hosts

<ansible_path>/ansible/inventories/dev/hosts (inventory) file excerpt:

[windows]
windows01.mydomain.com

<ansible_path>/ansible/inventories/dev/group_vars/windows.yml:
ansib

[2017-07-31 17:53] dmromanov opened #27511 "Ansible throws an exception if ansible is run from a path containing unicode characters"
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]
Initially reproduced on `v2.2.3.0-1`

##### CONFIGURATION
none

##### OS / ENVIRONMENT
Ubuntu 17.04

##### SUMMARY

##### STEPS TO REPRODUCE

1. Create a testing directory `/tmp/пример`
2. Navigate to the directory `cd /tmp/пример`
3. Create an inventory file `/tmp/test`
[code]
4. Run ansible
[code]

##### EXPECTED RESULTS
The c

[2017-07-31 17:53] newswangerd opened #27512 "nxos_interface Invalid range: loopback1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_interface
- nxos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Tests for nxos_interface fail with an Invalid range: loopback1 error. Note, this might be a bug in nxos_config since the step that fails is an nxos_config task (seen bellow).

[code]

##### STEPS TO REPRODUCE

`ansible-pla

[2017-07-31 18:07] joshtbernstein commented on #20319
@jhawkesworth I think you're right about the branch. I was trying to test this and couldn't figure out why it wasn't working as expected.

@trondhindenes Now that I should have some time to test this, what do you need from me to help move this forward? It would be a really big help in our environment.

[2017-07-31 18:24] Qalthos commented on #26260
Does #27348 fix this issue to your satisfaction?

[2017-07-31 18:31] newswangerd opened #27515 "nxos_vtp_version/nxos_feature Invalid feature name"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_vtp_version
- nxos_feature

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

nxos_feature fails to disable vtp during teardown in tests
[code]

##### STEPS TO REPRODUCE

`ansible-playbook -i inventory.network -vvvv -u admin -k nxos.yaml -e limit_to=nxos_vtp_version`

[code]

##### EXPECTED RESUL

[2017-07-31 18:47] newswangerd opened #27517 "nxos_portchannel/nxos_feature: idempotency issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_port_channel
- nxos_feature

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

nxos_portchannel fails idempotency test and nxos_feature throws an "invalid feature" error during rescue after first failure.

##### STEPS TO REPRODUCE

`ansible-playbook -i inventory.network -vvvv -u admin -k nxos.yam

[2017-07-31 18:50] geekofalltrades commented on #5512
We currently work around this by having `tasks/main.yml` in our role contain just this:

[code]

And then putting all of the _actual_ role config in `common.yml` and any other necessary files that are included.

It would be great to not have to employ this workaround.

[2017-07-31 19:16] #27374 closed, assigned to nitzmahone

[2017-07-31 19:24] jlec opened #27520 "reset_connection targets wrong ControlPath"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
meta: reset_connection

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
none
[code]

##### OS / ENVIRONMENT
CentOS 7
Anaconda2 4.4.0 Python 2.7

##### SUMMARY
`- meta: reset_connection` doesn't reset connection as wrong ControlPath is used.

##### STEPS TO REPRODUCE
Following short play

[code]

##### EXPECTED RESULTS
All ControlPath deleted a

[2017-07-31 19:39] rahushen opened #27521 "(P1)nxos_ntp_auth : module fails for transport nxapi"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_ntp_auth

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

Module fails when using transport nxapi. Error is : Pipe is not allowed for this message type where the input command is "show run all | include igmp.snooping"

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS

[code]

[2017-07-31 19:50] saichint opened #27522 "(P2) nxos_vpc not idempotent for delay_restore"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vpc

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)

##### SUMMARY
if we try to configure delay_restore property using nxos_vpc, it is not idempotent. The issue seems to be that the get method is using "show vpc" command which does not show the delay restore properly.

[2017-07-31 19:51] gregory-dan commented on #27487
Not related to this issue,

Do you have plans to implement execute-change-set as well ?

[2017-07-31 19:54] chouseknecht opened #27523 "Galaxy install ignores --roles-path option"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/cli/__init__.py

##### ANSIBLE VERSION
[code]

##### SUMMARY
The `unfrack_paths` method returns the default list of paths with the user supplied option appended to the end of the list. Galaxy then evaluates all the default paths before the user supplied path. When installing a role, Galaxy picks the first path on the list as the inst

[2017-07-31 20:16] newswangerd opened #27526 "junos_netconf lxml.etree.XMLSyntaxError when enabling netconf"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- junos_netconf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS Sierra

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should enable netconf on port 830 on the device.

##### ACTUAL RESULTS

[code]

[2017-07-31 20:31] rahushen opened #27527 "(P1)nxos_ntp_options: module fails for transport nxapi"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_ntp_options
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

Module fails when using transport nxapi. Error is : Pipe is not allowed for this message type where the input command is "show run | inc ntp.master"

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS

[code]

[2017-07-31 22:03] saichint opened #27532 "nxos_vrf remove fails when vni is present"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vrf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
cisco Nexus9000 C9396PX running 7.0(3)I7(1)

##### SUMMARY
When we try to delete vrf configuration with vni configuration present, it fails. The issue seems to be coming from NOT checking if the state == present when adding "no vni ..." to the commands.

##### ST

[2017-08-01 01:46] #27523 closed, assigned to nobody

[2017-08-01 01:49] hyunvinci opened #27535 "error while was installing Monasca with ansible"
I was looking at this site
https://github.com/hpcloud-mon/monasca-installer

And when I tried this something happend... so I went the directory which got file main.yml .... but have no idea how to solve this problem...

root@hmpunk-monasca:~/monasca-installer/monasca_installer# ansible-playbook -i ./hosts site.yml
[DEPRECATION WARNING]: Instead of sudo/sudo_user, use become/become_user and make su

[2017-08-01 02:29] davidwtf commented on #27357
thanks. I'll try to upgrade my WSL and test again. @nitzmahone

[2017-08-01 02:29] #27357 closed, assigned to nobody

[2017-08-01 02:43] geerlingguy opened #27537 "Don't scare users away from using roles that are Container Enabled"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Ansible Galaxy / role installation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When users install my `geerlingguy.solr` role, which is 'container enabled' but is also made to work 100% correctly either when used with Ansible Container or when used with traditional infrastructure... th

[2017-08-01 02:45] geerlingguy commented on #27537
Are roles meant to be 100% exclusive to either being used in traditional infra builds, or container builds only? For my solr role, there were literally like two little changes required to make it work in _both_ places.

Maybe we could only pop that warning if the role adds some other flag like "only_run_in_containers_wont_work_with_normal_infrastructure" or something like that? I'm not going to pu

[2017-08-01 02:52] frawau opened #27538 "ansible_python_interpreter not effective"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible variables

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Setting ansible_python_interpreter on the command line or in the ansible_host file does not work
##### STEPS TO REPRODUCE

ansible -e "ansible_python_interpreter='/usr/bin/python3'" --version

[code]

##### EXPECTED RESULTS

The py

[2017-08-01 03:13] mesopodamia opened #27539 "Execute multiple services on a single host by playbook"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### INVENTORY

demo.yml

[code]

##### STEPS TO REPRODUCE

when I set the host variable is  app.source.* To match the host
execute the instruction only a orders can be completed
and can not be completed several times
[code]

##### PLAYBOOK

[code]

##### EXPECTED RESULTS
i want the content is
[code]

##### ACTU

[2017-08-01 04:13] ghost commented on #19765
+1 for this feature

[2017-08-01 05:05] style95 commented on #27478
@alikins Thank you for the quick response.
This is my `-vvv` results.
[code]

It seems it tried to connect to `10.110.221.112` via SSH.
Actually this directory(`/home/style95/.jenkins/workspace/openwhisk/bin`) exists on ansible host.
Ansible host will first check its local directory(source) and copy binaries from it to `cli.nginxdir`(target).

So I expected `stat` is exectued to the local director

[2017-08-01 05:58] ktosiek commented on #13744
Core team mostly ignores closed issues, if anyone is still seeing this problem please open a new one (and leave a message about it here, for those who are still interested but have less time :-))

[2017-08-01 06:22] trishnaguha commented on #27532
@saichint please apply the patch https://github.com/ansible/ansible/pull/27547 and let us know. thanks.

[2017-08-01 06:32] andreaso commented on #27538
What you are seeing is the expected/documented behavior.

https://docs.ansible.com/ansible/latest/python_3_support.html

[2017-08-01 07:00] seb1281 commented on #25941
Are there any news here? Is somebody looking into it? Would be nice to just hear a "we're going to have a look" ;)

[2017-08-01 08:06] frawau commented on #27538
Well... when I use -e "ansible_python_interpreter='/usr/bin/python3'"  I expect

 python version = 3.5.3

but I get

 python version = 2.7.13

So how is that the expected behaviour? The page you mention (and I did check it before hand) states
<code>
       Set the ansible_python_interpreter configuration option to /usr/bin/python3.
       ......
       Note that you can also use the -e command lin

[2017-08-01 08:27] pyroxde commented on #14413
I had similar issues when trying to reboot our Ubuntu 16.04 hosts with ansible configured to use python3. As soon as I installed python 2.7 on the Ubuntu 16.04 hosts (apt-get install python-minimal) and configured ansible to use it on the remote system, the reboot worked fine.
Whenever I used "async" in my task, exactly nothing happened when ansible used python3, not even very basic things like "e

[2017-08-01 08:38] jborean93 commented on #27206
Just so everything is aware and we don't duplicate work, I'm currently changing the action plugin for win_copy to be faster with recursive copies and fix these issues.

[2017-08-01 08:48] #27208 closed, assigned to jborean93

[2017-08-01 09:03] #27116 closed, assigned to rcarrillocruz

[2017-08-01 10:09] angystardust commented on #10902
https://github.com/ansible/ansible/commit/df8fde4d786e32ed7e8313d63e9a559d5f6137d3 should help a lot with cookie parsing...but i think that the `uri` module should be updated in some way 'cause I still can't see the 'cookie' dictionary :(

[2017-08-01 10:10] angystardust commented on #10902
The PR is https://github.com/ansible/ansible/pull/27274

[2017-08-01 10:20] AleksNovak opened #27556 "winrm send_input failed AKA Error 500"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
WinRM

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.3.1611 (Core)
Python VirtualEnv 2.7

##### SUMMARY
I have two windows servers:
 - WinBox2008
    Windows 2008 R2 SP1
    PowerShell 3.0
    DotNet 4.5
 - WinBox2012
    Windows 2012 R2
    PowerShell 4.0
    DotNet 4.5

I can successfu

[2017-08-01 10:45] jhawkesworth commented on #27556
Suggestions.
Try longer winrm timeouts:
ansible_winrm_operation_timeout_sec: 60
ansible_winrm_read_timeout_sec: 70

Also check to see if your affected machines are running scheduled maintenance (this can happen frequently if you often restore windows machines from snapshots).  Maintenance can cause heavy CPU usage which can affect other parts of the system.

Please can you try with above increased

[2017-08-01 10:46] shoelzle opened #27557 "Support war files in unarchive module"
##### ISSUE TYPE
Feature Idea

##### ANSIBLE VERSION
[code]

##### SUMMARY
Currently the unarchive module does not support war-files.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Unzip handles the war file.

##### ACTUAL RESULTS
[code]

[2017-08-01 11:09] snakelab opened #27558 "cross_az_load_balancing is not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_elb_lb

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
host_key_checking = False
retry_files_enabled = False # Do not create them

remote_user = admin
fact_caching_timeout = 0

[ssh_connection]
pipelining = True
#-- ControlPersist has som

[2017-08-01 11:23] AleksNovak commented on #27556
Hi,
This issue is happening all the time. Until now, I haven’t been able to connect to that box.
There is nothing on that server that can cause heavy load.

PS: I’m adding more powershell test on the issue.

I’ve added the requested options:

[code]

[code]

[2017-08-01 11:34] shoelzle commented on #27557
This actually works just fine. The war file I used was broken.

[2017-08-01 11:34] #27557 closed, assigned to nobody

[2017-08-01 11:35] halberom commented on #25858
Works fine if instead of using `src: ...j2`, you use `line: "{{ lookup('template', '...j2') }}`.

I've been looking to use `src:` so that it could handle a block of config cleanly, but it appears that won't work anyway - e.g. if you remove a command/list item, it won't be cleared, you have to have `before` logic, or do a full config replace with `replace: config`.

[2017-08-01 12:09] bcoca commented on #27478
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-08-01 12:09] #27478 closed, assigned to nobody

[2017-08-01 12:14] bcoca commented on #27538
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `ansible_python_interpreter` affects the module execution on targets, NOT the execution of Ansible itself on the controller, that i

[2017-08-01 12:14] #27538 closed, assigned to nobody

[2017-08-01 12:26] #27558 closed, assigned to nobody

[2017-08-01 12:51] fvalt commented on #20128
Any news on this issue ?
regards

[2017-08-01 13:01] jhawkesworth commented on #27510
This feels like a feature request to me.

Be aware though that because you are setting

`ansible_winrm_server_cert_validation: ignore`

python will not validate the certificate used to make the connection in any way, so you might as well use the self-signed certificate that is generated when you run configureRemotingForAnsible.ps1 - it will be no more or less secure as things stand.

needs_contrib

[2017-08-01 13:14] szarlatan commented on #22993
I found this problem today, in a bit weird way, with ansible 2.3.1.0

With given tasks:
[code]

the results are:
[code]

So, everything seems to be fine, but when next I run the task:
[code]

I get the `"msg": "Error pulling image gitlab/gitlab-runner:latest - 'module' object has no attribute 'get_config_header'"`. I  read on web that uninstalling `docker-py`helps to solve this issue, but after re

[2017-08-01 13:19] chouseknecht commented on #27537
@geerlingguy

Based on your feedback, seems like removing the warning is a good idea. I'll work on ejecting it today.

Thanks!

[2017-08-01 13:21] jhawkesworth commented on #27556
Is there any information in the event log of WinBox2012.ENTER.PRISE at the time the login is attempted by ansible?

needs_info

[2017-08-01 13:42] hogarth-sv commented on #25941
And I'm getting this intermittently on a Fedora 26 host with a RHEL6 target:

[code]

That's in a uri task that's meant to check if an application is up. It starts fine with a few attempts to connect and getting no response and then BOOM it says the connection is closed ... but listing the process table and the sockets directory shows them fine.

Oddly enough completely removing the multiplexing i

[2017-08-01 14:05] ganeshrn commented on #25544
Fixed by PR: https://github.com/ansible/ansible/pull/27560

[2017-08-01 14:05] #25544 closed, assigned to ganeshrn

[2017-08-01 14:07] mikewiebe opened #27561 "(P1) nxos_smu structured output not supported transport nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_smu

##### NXOS VERSION
7.0(3)I5(3)
##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook fails to apply properly indicating that structured output is not supported.

This is only a problem for the `nxapi` transport.

[code]

[code]

[2017-08-01 14:15] lealoncity commented on #27423
Hi emonty and calfonso,

Really thank you for your very detail response. Sorry for answer late because of trip.

I will feedback your advice and plan to my colleage,  then we will communicate with this issue here.

Thanks again~

[2017-08-01 14:21] trishnaguha opened #27562 "nxos_vpc confirmation prompt documentation needed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_vpc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

NX-OS 7.3
##### SUMMARY

nxos_vpc fails on confirmation prompt on a particular param `peer_gw` (peer-gateway).
After testing this manually it is confirmed that peer-gateway does ask for confirmation on both nxapi and cli transport.
same with peer-gateway `fal

[2017-08-01 14:21] AleksNovak commented on #27556
It’s really hard for me to debug that part as I’m completely lost in Windows log system.
What should I look for ?

[2017-08-01 14:22] trishnaguha commented on #27422
This particular issue seems to be fixed in 2.4.
But nxos_vpc is anyway broken on another case #27562

[2017-08-01 14:33] newswangerd opened #27563 "ios_facts: unable to connect to socket/bad attribute error/NoneType error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ios_facts
- ansible_connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

ios_facts throws an `unable to connect to socket` error. Inspecting the logs from ansible-connection reveals a stack trace with a `error: [Errno 9] Bad file descriptor` and a `NoneType` error in the network_cli connectio

[2017-08-01 14:40] lealoncity commented on #27423
Sorry emontu and calfonso,

This is a very import issue for our actual customer, this issue actually comes from ansible，especially from shade， while customer thinks the performance of openstack is bad.  So this makes us passive and we hope this issue will be fixed soon. Thanks~

As talked with my colleages，unfortunatelly we really has not the bandwidth for such an effort in recent days, but we can

[2017-08-01 14:47] maxamillion commented on #23895
@vascobarroso :+1: I'll get a fix in. Thanks for the reproducer.

[2017-08-01 14:53] sebLopezCot opened #27564 "module for Windows quality of service policy generation"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_quality_of_service_policy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Would like the ability to create and ensure the existance of quality of service policies set in Windows. Powershell supports creation and listing of policies. https://technet.microsoft.com/itpro/powershell/windows/netqos/

[2017-08-01 14:58] newswangerd commented on #27526
Fixed by: #27528

[2017-08-01 14:58] #27526 closed, assigned to nobody

[2017-08-01 15:01] trishnaguha commented on #27562
Since `peer-gateway` asks for confirmation, a way to handle this would be passing `terminal dont-ask` as command. `dont-ask` takes the default answer.
[code]
this way `nxos_vpc` won't fail.

[2017-08-01 15:01] hogarth-sv opened #27565 "meta tasks do not appear to respect conditionals"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core: meta

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
clean install

##### OS / ENVIRONMENT
Fedora 26 x86_64 - no specific changes

##### SUMMARY
There is an expectation that when should work on any 'task' but with meta that does not appear to be the case. If a meta is called to run handlers then any when clause is ignored.

##### STEPS

[2017-08-01 15:02] cachamber opened #27566 "bugfix: packaging/language/maven_artifact module fails to import urlparse"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
packaging/language/maven_artifact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

NA
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Attempt to use maven_artifact results in:
[code]
Related to line 148 of maven_artifact.py not importing the urlparser correctly.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Retrieve the artifact

###

[2017-08-01 15:02] trishnaguha commented on #27422
This issue is fixed on 2.4. Closing this.

[2017-08-01 15:02] #27422 closed, assigned to trishnaguha

[2017-08-01 15:06] #27120 closed, assigned to rcarrillocruz

[2017-08-01 15:06] newswangerd opened #27567 "junos_netconf fails to disable netconf port"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- junos_netconf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Setting junos netconf port fails to disable communication over the default junos netconf port.

##### STEPS TO REPRODUCE

run junos integration tests `ansible-playbook -i inventory.network -k -vvvv -u ansible junos.yaml --diff -e limit_t

[2017-08-01 15:28] rahushen commented on #26024
@Qalthos ... I can confirm that event history properties are now idempotent with this fix. I still see issues with `suppress_fib_pending`

TASK [nxos_bgp : Check Idempotence] ***********************************************************************************************************************
task path: /root/agents-ci/ansible/test/integration/targets/nxos_bgp/tests/cli/sanity.yaml:93
<n9k-110.ci

[2017-08-01 15:30] newswangerd opened #27572 "junos_logging: could not set files"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- junos_logging

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

junos_logging fails to set configurations correctly for the following task in the integration tests:

##### STEPS TO REPRODUCE

`ansible-playbook -i inventory.network -k -vvvv -u ansible junos.yaml --diff -e limit_to=junos_netconf`

[cod

[2017-08-01 15:31] saichint commented on #27532
@trishnaguha I think there is some problem with the code change you made. We can have commands whether the state == present or state == absent. Since your change filters out state == absent, the check_mode will not be done any longer and we will never call load_config() as well as results['changed'] will not be set to True etc. This will cause bigger problems.
The best way is to change the next li

[2017-08-01 15:38] newswangerd opened #27573 "junos_user: missing lines in junos config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- junos-user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Assertion in tests fail because `<class>read-only</class>' ` is not in config.xml

##### STEPS TO REPRODUCE

`ansible-playbook -i inventory.network -k -vvvv -u ansible junos.yaml --diff -e limit_to=junos_user`

[code]

##### EXPECTED RESULT

[2017-08-01 15:40] briceburg commented on #18782
@bcoca we have a deployment playbook against a set of static hosts. if one is unreachable, we need to fail (to avoid the potential of having inconsistency amongst the hosts). we're on ansible 2.3 -- do you recommend adding

[code]

to each playbook that demands consensus amongst hosts?  The second suggestion;

[code]

seems like it could break in future versions if string/varname changes.

[2017-08-01 15:41] saichint commented on #27532
@trishnaguha Ignore my comment, my bad. I have not looked at your next lines of change. Patch is fine. Sorry about my confusion.

[2017-08-01 15:42] newswangerd opened #27574 "junos_linkagg: line that should have been removed is present in config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- junos_linkagg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Assertion fails because `'<disable/>'` is in config.xml

##### STEPS TO REPRODUCE

`ansible-playbook -i inventory.network -k -vvvv -u ansible junos.yaml --diff -e limit_to=junos_linkagg`

[code]

##### EXPECTED RESULTS

##### ACTUAL RESU

[2017-08-01 15:51] AleksNovak commented on #27556
So, I did a new connection test and I found a way to extract EventLog from the WinBox2012.
ps: sorry for my french.

[analytic.txt](https://github.com/ansible/ansible/files/1191157/analytic.txt)
[operationnal.txt](https://github.com/ansible/ansible/files/1191158/operationnal.txt)

[2017-08-01 15:51] newswangerd opened #27581 "junos_lldp: failed to remove configuration element"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- junos_lldp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Disabling lldp throws a `syntax error` message.

##### STEPS TO REPRODUCE

`ansible-playbook -i inventory.network -k -vvvv -u ansible junos.yaml --diff -e limit_to=junos_lldp`

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-08-01 16:11] newswangerd opened #27584 "junos_lldp_interface: failed to remove interface"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- junos_lldp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

syntax error issue when trying to remove lldp interface.

##### STEPS TO REPRODUCE

`ansible-playbook -i inventory.network -k -vvvv -u ansible junos.yaml --diff -e limit_to=junos_lldp_interface`

[code]

##### EXPECTED RESULTS

##### ACTUAL

[2017-08-01 16:17] newswangerd opened #27585 "junos_vrf: assertion failed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

`+   test-1` not in result.diff.prepared

##### STEPS TO REPRODUCE

`ansible-playbook -i inventory.network -k -vvvv -u ansible junos.yaml --diff -e limit_to=junos_vrf`

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-08-01 16:34] lealoncity commented on #27423
Hi emonty,
Could you help to explain why in very high scale scenarios, doing individual GET calls for single IDs

causes an extreme amount of load for the clouds?

 I think I am not clear with the reason.

Do you mean when lots of volumes really in a tenant, you call only one list api and then filter all the

volumes?

But for lots of volumes, it looks it will still call one list api for querying

[2017-08-01 16:41] mckerrj commented on #23118
@dharmabumstead will you reach out to @bcoca and attempt to document better.

[2017-08-01 16:45] ganeshrn commented on #22917
Closing this issue as not applicable.
As ansible-connection runs as a background process console is not available to logging and if log file is not writeable it should fails

[2017-08-01 16:45] #22917 closed, assigned to nobody

[2017-08-01 16:51] #25686 closed, assigned to alikins

[2017-08-01 16:51] chouseknecht commented on #27537
Scary message removed via #27578

[2017-08-01 16:51] #27537 closed, assigned to nobody

[2017-08-01 17:01] alikins commented on #22914
There is a bit in parsing vaulttext that splits on b'\n', just needs to use splitlines() instead. pr incoming...

[2017-08-01 17:02] rahushen commented on #26260
@Qalthos ... yes it does.

[2017-08-01 17:08] rahushen commented on #26262
@Qalthos ... here you go.

 TASK [nxos_bgp_neighbor : Check Idempotence] **************************************************************************************************************
 task path: /root/agents-ci/ansible/test/integration/targets/nxos_bgp_neighbor/tests/cli/sanity.yaml:81
 <n9k-110.cisco.com> connection transport is cli
 <n9k-110.cisco.com> using connection plugin network_cli
 <n9k-

[2017-08-01 17:20] Qalthos opened #27591 "nxos_interface should not traceback when encountering `fex-fabric`"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_interface

##### ANSIBLE VERSION

[code]

##### SUMMARY

See #21442 for context. We do not want to handle fex-fabric directly in nxos_interface, but rather in a new module (#27592). That being said, nxos_interface should not traceback, but rather issue a readable error or warning.

[2017-08-01 17:26] privateip opened #27592 "Add fex support to nxos modules"
This feature request is to tracking adding fex support for nxos modules for interfaces that are running in fex mode.   The initial plan is to create a nxos_fex_* modules for configuring fex features for nxos

[2017-08-01 17:28] gundalow commented on #25720
https://github.com/ansible/ansible/pull/26013/ has been merged

[2017-08-01 17:28] #25720 closed, assigned to nobody

[2017-08-01 17:40] j-griffith opened #27594 "sf_volume_manager is using incorrect type entry for QoS setting"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/storage/netapp/sf_volume-manager.py
qos dict should be of type dict

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
"N/A"

##### SUMMARY
The qos type specified in the Ansible module [1] is listed as a string, however the data is actually a dict of the form {'minIOPS': 1000, 'maxIOPS': 20000, 'burstI

[2017-08-01 17:51] #27532 closed, assigned to trishnaguha

[2017-08-01 17:59] b5hsiung commented on #27510
My understanding is that there are two certificates involved here.  One is the certificate used for the HTTPS connection to port 5986 of the Windows server (this is the one I believe is affected by ansible_winrm_server_cert_validation, the server certificate, which is different for every Windows system that is being managed).  The other certificate is the one that's referred to by ansible_winrm_ce

[2017-08-01 18:13] #25748 closed, assigned to nobody

[2017-08-01 18:14] saichint opened #27595 "(P2) nxos_vrf_af not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vrf_af

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I4(6)

##### SUMMARY
- nxos_vrf_af is not idempotent. It keeps changing the configuration repeatedly. This is true whether route_target_both_auto_evpn property is present or not. Changed the title accordingly.
- There is

[2017-08-01 18:23] #24866 closed, assigned to nobody

[2017-08-01 18:43] abadger opened #27599 "Relicense module_utils/api.py to BSd"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/api.py

##### ANSIBLE VERSION

[code]

##### SUMMARY
We want to have module_utils be BSD code but api.py has a GPLv3+ header.  If at all possible we wnat code (especially generically useful code) like this to be relicensed.

[2017-08-01 18:45] abadger commented on #27599
Need signoff from:

* Author: Toshio Kuratomi @abadger
* Author: Dag Wieers @dagwieers
* Author: Jonathan Davila @defionscode
* Author: Brian Coca @bcoca

[2017-08-01 18:49] saichint opened #27600 "(P2) nxos_vrf_interface is not idempotent while removing and throws errors"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vrf_interface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)

##### SUMMARY
While deleting nxos_vrf_interface, it is not idempotent and throws error.

##### STEPS TO REPRODUCE
Playbook:

[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[

[2017-08-01 18:49] dagwieers commented on #27599
@abadger I'd like to know why in this case we want this code to be BSD licensed ? Earlier I was told everything had to be GPLv3+ ?

[2017-08-01 18:53] bcoca commented on #27599
@dagwieers true for most of the project, but module_utils was always supposed to be an exception and allow for shared code to be BSD so 3rd parties could ship modules using this code w/o dealing with licensing issues.

[2017-08-01 18:54] bcoca commented on #27599
Consider this my consent to re-license

[2017-08-01 18:54] #27157 closed, assigned to nobody

[2017-08-01 18:55] sandinak opened #27601 "Expect response strings no longer support proper regex"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/expect
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Standard

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible now pre-processes the YAML being passed to the module which will double-backslash any regex in the "expected" side of the response .. thus breaking the ability to use regex .  I have tried this where the data on the left i

[2017-08-01 19:01] #24691 closed, assigned to nobody

[2017-08-01 19:01] jctanner commented on #27390
resolved_by_pr https://github.com/ansible/ansible/issues/27456

[2017-08-01 19:01] #27390 closed, assigned to nobody

[2017-08-01 19:03] juliedavila commented on #27599
I consent
On Tue, Aug 1, 2017 at 2:55 PM Brian Coca <notifications@github.com> wrote:

[2017-08-01 19:03] abadger commented on #27599
This is code in module_utils.  Since module_utils is being used by both our, and third party modules (where the third party modules may be commercial, for instance), we want that code to be BSd licensed.

There is some info here:

https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/dev_guide/developing_modules_in_groups.rst#before-you-start-coding

I believe that information was in the

[2017-08-01 19:04] abadger commented on #27599
I give permission for all my contributions to lib/ansible/module_utils/api.py to be relicensed under the BSD license.  An example of the BSD license I mean is here: https://github.com/ansible/ansible/blob/97a34cf008501088ae012f24e4712e2bc6dd6d4c/lib/ansible/module_utils/basic.py#L11

[2017-08-01 19:06] #25498 closed, assigned to nobody

[2017-08-01 19:38] mikewiebe opened #27604 "(P1) nxos_install_os errors for both cli and nxapi transports"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_install_os

##### NXOS VERSION
N9K Upgrade from 7.0(3)I5(3) to 7.0(3)I6(1) and vice-versa.
N7K Upgrade from 7.0(3)D1(1) to 8.0.1 and vice-versa

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook demonstrates the issues.

* CLI Issue:
  **NOTE:** The key to reproduce this issue is sett

[2017-08-01 20:02] abadger commented on #27312
Fixed by #27415 which was merged to devel for the 2.4.0 release.

[2017-08-01 20:02] #27312 closed, assigned to nobody

[2017-08-01 20:29] jborean93 commented on #27510
@b5hsiung I don't believe you can do this with a vaulted file, `ansible_winrm_cert_pem` and `ansible_winrm_cert_key_pem` is meant to be a path to a file and Ansible doesn't care about the contents. It will pass on these values to the Pywinrm library which has no concept of Ansible vault and will fail to parse them as a PEM file. This is similar to `ansible_ssh_private_key_file` where it is just th

[2017-08-01 20:29] saichint commented on #27503
fixed by PR #27505

[2017-08-01 20:30] saichint commented on #27500
fixed by PR #27505

[2017-08-01 20:30] #27500 closed, assigned to nobody

[2017-08-01 20:30] #27503 closed, assigned to nobody

[2017-08-01 20:44] ganeshrn commented on #27572
Fix by PR https://github.com/ansible/ansible/pull/27605

[2017-08-01 20:46] ganeshrn commented on #27567
Fix by PR https://github.com/ansible/ansible/pull/27569

[2017-08-01 20:47] ganeshrn commented on #27581
Need to test this on vmx instance as vsrx does not support lldp protocol

[2017-08-01 20:47] ganeshrn commented on #27584
Need to test this on vmx instance as vsrx does not support lldp protocol

[2017-08-01 20:49] jborean93 commented on #27556
@AleksNovak, there is no easy way to get logs from the WinRM service but I found this guide can be helpful if you wish to look more into the logs https://blogs.technet.microsoft.com/heyscriptingguy/2015/10/05/troubleshoot-winrm-with-powershellpart-1/ (looks like you have already managed it though :)). Unfortunately even the level of detail you can get from the debug WinRM logs is pretty abysmal fo

[2017-08-01 20:57] jborean93 commented on #27564
needs_contributor

[2017-08-01 21:01] jhawkesworth commented on #27510
My bad, you clearly know more about this stuff than I do.

~~I notice that this PR has just been merged https://github.com/ansible/ansible/pull/27590 - not sure if the file in question would likely have windows style line endings but perhaps worth trying with latest devel to see if it enables vault to handle your certs files.~~

~~If not then I imagine this will take a bit more work to handle.  I

[2017-08-01 21:10] jhawkesworth commented on #27556
Trying a more recent python version might be a quicker way to get a different version of OpenSSL to take effect, if you are able to upgrade python.

[2017-08-01 21:22] inequity commented on #17935
Hitting this very consistently, was there ever a resolution? 4/5 connections in my setup will timeout / hang for up to 2 minutes before proceeding to the next step. Every step in a playbook exhibits the exact same long hanging behavior, and I'm seeing the same error messages.

[2017-08-01 21:44] dharmabumstead commented on #23118
This is actually documented here:

http://docs.ansible.com/ansible/latest/playbooks_tags.html

[2017-08-01 21:47] inequity commented on #22371
Encountering same issue, really would be cool to figure out a resolution.

[2017-08-01 22:10] saichint opened #27609 "(P1) nxos_vxlan_vtep_vni errors out when configuring suppress_arp and assoc_vrf"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vxlan_vtep_vni

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)

##### SUMMARY
When configuring nxos_vxlan_vtep_vni, it is erroring out for the following properties:
- assoc_vrf
- suppress_arp

##### STEPS TO REPRODUCE
playbook:

[code]

##### EXPECTED RESULTS
[code]

#

[2017-08-01 22:53] #22914 closed, assigned to nitzmahone

[2017-08-01 23:57] maxux commented on #22993
@szarlatan I had the same issue, comparing another environment I have, doing:
[code]
fixes the issue. I can now use again the module. Maybe a newer version works, I don't know.

[2017-08-02 00:29] gentili commented on #24862
Any progress on this?  I've just hit it with my Ubuntu 16.04 VMs

[2017-08-02 01:13] wrouesnel commented on #24119
For my repo I cloned the ansible module and changed the copy method to use atomic_move rather then the shutil method and it resolves this problem quite well. I need to clean it up into a proper PR but IMO this is a big inconsistency with normal file-handling ansible methods at the moment.

[2017-08-02 01:21] guotie opened #27616 "grep big file failed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux

##### SUMMARY

I use ansible to grep a very big file, it return Failed rc=1

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-08-02 01:25] wrouesnel opened #27617 "get_url should support acquiring checksum from remote source"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION
[code]
##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`get_url`'s checksum parameter currently just takes a literal value. When using an artifact store such as artifactory, or the schema many open source projects follow however, `<url>.md5` or similar usually yields the checksum of an artifact. Ot

[2017-08-02 02:28] tehfink commented on #8603
+1

[2017-08-02 04:43] frawau commented on #27538
Thank you.  Clear now.

[2017-08-02 06:41] socro commented on #27411
Of course! Did not thought of that. Thanks @bcoca for the workaround, works for me.

[2017-08-02 06:41] #27411 closed, assigned to nobody

[2017-08-02 08:07] cognifloyd commented on #18009
I use a directory as my inventory. In that directory I have various dynamic and yaml/ini inventories. In .gitignore I ignore local.ini so that I can change settings for localhost on a per machine basis. That way, I can mark whatever machine the playbooks are running on as ansible_connection=local.

[2017-08-02 08:08] frankhjung commented on #14341
Another reason copy may fail is when the remote has multiple file links. For instance, I had a system config file that was hard linked. The copy module failed with msg "absolute paths are required".

I removed the hard link and copy worked nicely once again.

[2017-08-02 08:17] ganeshrn commented on #27574
@newswangerd Please retest with latest devel and close this issue if it fixed by referenced PR

[2017-08-02 08:22] yxd5357 opened #27623 "The defaults_from of the include_role module cannot use variables"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role module, the defaults_from option
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS release 6.6 (Final)
##### SUMMARY

in include_role module, the defaults_from option don't using variable
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

TASK [test : manage users] ****

[2017-08-02 08:28] rcarrillocruz commented on #26609
not_a_bug

[2017-08-02 08:28] #26609 closed, assigned to rcarrillocruz

[2017-08-02 08:29] machacekondra commented on #25746
resolved_by_pr 25900

[2017-08-02 08:29] machacekondra commented on #19801
notabug

[2017-08-02 08:38] #27364 closed, assigned to nobody

[2017-08-02 08:41] AleksNovak commented on #27556
Hi,
I didn’t give you those information. But, I first tried to do it with a python 3.6 VEnv.
Also, the Windows server receive the WinRM certificate through GPO. So, they all have the same.

I tested other Windows Server 2012 with success. Only one have this weird issue.

[2017-08-02 09:10] jpmens commented on #24119
needs_contributor

[2017-08-02 09:10] jpmens commented on #27617
needs_contributor

[2017-08-02 09:17] ecsumed opened #27626 "Blockinfile not returning backup file name with backup: yes."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
blockinfile

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT
Ubuntu 14.04 trusty

##### SUMMARY
The blockinfile module should return the name of the backed up file when used with "backup: yes" and "register: result". Instead the registered variable is empty even though a backup file is created.

##### STEPS TO REPRODUCE
Inventory:
`localhos

[2017-08-02 09:21] ganeshrn commented on #27573
Fixed by PR https://github.com/ansible/ansible/pull/27624
Please verify

[2017-08-02 10:05] LordAro opened #27628 "lxc_container module does not support lxc2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lxc_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
lxc_container module does not support lxc2, which has dropped its "extra" binaries like `lxc-copy` and `lxc-create` in favour of a unified binary, using `lxc copy` and `lxc launch` respectively.

The lxd_container module is not a reaso

[2017-08-02 10:26] halberom opened #27630 "eos_config - TypeError: configure() takes exactly 2 arguments (3 given)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

[code]

##### OS / ENVIRONMENT
`CentOS Linux release 7.3.1611 (Core)`

##### SUMMARY
Running eos_config with `replace: config` results in a python TypeError.

##### STEPS TO REPRODUCE

I've hit this on a rather large project, so will put together a smaller test case.

[code]

[2017-08-02 10:32] kees-closed opened #27631 "systemd --user unit-file "failure 1 during daemon-reload: Failed to connect to bus""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
systemd

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No special configs in the scope of this bug.

##### OS / ENVIRONMENT
Ansible is ran from Fedora 25/26, managing hosts on Fedora 25/26 and Debian.

##### SUMMARY
I want to start the gpg-agent as a non-root user, for this the --user switch is needed for the systemctl command. This switch i

[2017-08-02 10:33] halberom commented on #27630
I have zero idea why this might be happening, because when I look at the code https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/eos.py#L406 there appear to be only 2 arguments passed.

Note that I'm using devel because I got a different bug in 2.3.1, so I assume _something_ has changed since then.

[code]

[2017-08-02 11:11] hogarth-sv commented on #22371
Here's some debug data from a local testing run... note how the uri module is happily running and then the next loop explodes.

[code]

It's very hard to find a minimal reproducible test case as small changes to the playbook seem t make it work or not.

The target system in this case is rhel6 fully update and the ansible controller if Fedora 26.

If the target system is rhel7 I'm not bumping into

[2017-08-02 11:23] Snowmanko commented on #22371
Same problem here, I am on MacOS - ansible 2.3.1.0
maybe related to https://stackoverflow.com/questions/42676161/shared-connection-to-server-closed

[2017-08-02 11:50] trishnaguha commented on #27630
Related issue #25858

[2017-08-02 11:51] hogarth-sv commented on #22371
Incidentally this does not appear to be specific to shared connections though ...

With the rhel6 target that fails this also happens if I disable any mux behaviour at all:

The log for this run is much larger so attaching it instead of embedding it.

[ansible_ssh_failure.txt](https://github.com/ansible/ansible/files/1193712/ansible_ssh_failure.txt)

[2017-08-02 11:54] wujie1993 commented on #8603
+1

[2017-08-02 11:59] piotr-gbyliczek opened #27635 "pam_limits comment adding broken."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pam_limits

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default
##### OS / ENVIRONMENT
Ansible host : Fedora 25
Ansible target : Centos 7.3 (Vagrant centos/7 image)

##### SUMMARY
pam_limits breaks limits.conf file if comment is used, making any subsequent pam_limits change fail.

##### STEPS TO REPRODUCE
- Run the below playbook.
The beha

[2017-08-02 12:26] s-hertel commented on #27453
Hi @voltagex. You should just be able to set `state: absent` and list the tags and resource like you would for state: present.

[2017-08-02 12:26] #27453 closed, assigned to nobody

[2017-08-02 12:29] #27623 closed, assigned to nobody

[2017-08-02 13:09] #24844 closed, assigned to nobody

[2017-08-02 13:44] hogarth-sv commented on #22371
As a further small update ... switching from ssh to paramiko for the connection type also behaves the same:
[code]

[2017-08-02 13:46] abadger commented on #27321
ansible-playbook is invoked on the controller machine, that looks up which modules implement each task in the playbook and for each of those, sends the module to the target machines where the module is executed.  So the host executing the module is the same as the target machine.

If you can think of a better way to phrase that, the template that has that phrase is here:

https://github.com/ansibl

[2017-08-02 13:46] #27321 closed, assigned to nobody

[2017-08-02 13:47] #26489 closed, assigned to nobody

[2017-08-02 13:51] #27572 closed, assigned to nobody

[2017-08-02 13:52] newswangerd commented on #27573
Verified.

[2017-08-02 13:52] #27573 closed, assigned to nobody

[2017-08-02 13:57] newswangerd commented on #27585
Fixed by #27624

[2017-08-02 13:57] #27585 closed, assigned to nobody

[2017-08-02 14:04] #24408 closed, assigned to nobody

[2017-08-02 14:23] alikins commented on #27510
@b5hsiung I like the idea of supporting vault encrypted versions of connection secrets. Especially in cases where there is no connection specific mechanism for encrypting the secrets (in contrast to say, ssh private keys which support encryption via ssh agent)

However, https://github.com/ansible/ansible/issues/27510#issuecomment-319487086 is an example of a more general problem where the API and

[2017-08-02 14:32] g1bs0nsg commented on #25298
For anybody experiencing the timeout issue only on Domain Controllers.  I had been battling this myself... I created a service account for Ansible, and it worked fine on any other server/workstation with the exception of Domain Controllers.  I found that if I used the builtin Adminsitrator account, it would work fine on the DCs.  Of course, you don't want that account enabled for security reasons,

[2017-08-02 14:45] alikins commented on #25729
More specifically, http://docs.ansible.com/ansible/latest/user_module.html is missing a lot of info.

One missing portion is documentation of the 'user' modules returned data.

[2017-08-02 14:49] Raffaello opened #27643 "ansible missing to install python dependecy module `requests`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
rabbitmq_exchange

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
plain
##### OS / ENVIRONMENT

- ansible ran as localhost
- OS: ubuntu xenial 64bit
- this bug is just a missing the requests module in the ansible pip package release

##### SUMMARY
the module rabbitmq_exchange needs requests module that is not installed with `pip install ansi

[2017-08-02 14:57] #27574 closed, assigned to nobody

[2017-08-02 15:07] #26260 closed, assigned to Qalthos

[2017-08-02 15:12] hogarth-sv commented on #22371
Huh okay ... this is not an ssh issue...

Switched all the way to a local connection and installed ansible on the target server to instead handle it that way...
[code]

To others having trouble with a rhel6 target could you please verify with some local testing as well?

[2017-08-02 15:26] skg-net commented on #22409
@markgoddard  @calfonso This issue got addressed long back with the following PR https://github.com/ansible/ansible-modules-core/pull/5908
Sorry somehow this issue closure got missed out.

[2017-08-02 15:32] trzejos commented on #26968
After some more testing, it seems to only fail when run against certain hosts.

We were able to track it down to a yum plugin called package_uploader that came with a package called katello-agent from when we used to be on Satellite 6. We no longer use satellite, and removing the katello-agent package seems to have fixed the issue.

[2017-08-02 15:32] #26968 closed, assigned to nobody

[2017-08-02 15:37] itdependsnetworks opened #27648 "vars_prompt does not cast boolean on private"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vars_prompt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

vars_prompt private does not cast yes/no to boolean.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

 shown above

[2017-08-02 15:37] LuckySB commented on #25710
on last develop version 2.4.0-100.git201707211018.08327fa459.devel.el7.centos

[WARNING]: Removed restricted key from module data: ansible_docker_gwbridge =
{u'macaddress ... 4633'}

[2017-08-02 15:38] itdependsnetworks commented on #27648
addressed in PR #27646

[2017-08-02 15:38] #27648 closed, assigned to nobody

[2017-08-02 15:49] Qalthos commented on #26262
Well that makes sense, the ones I can't test aren't idempotent. It looks like we have a version compatibility issue here

[2017-08-02 15:50] erjohnso commented on #27371
I'd lean toward swapping out underlying Google client libraries and use `google-api-python-client` instead, but that requires a bit of a re-write.

[2017-08-02 16:13] rszewczyk opened #27650 "S3 module fails when using the profile attribute"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
`s3` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`~/.aws/config`
[code]

`~/.aws/credentials`
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I am unable to upload an object to an S3 bucket when specifying a specific profile as configured above. Removing the profile attribute and allowing the default profile to be used is sufficie

[2017-08-02 16:16] nitzmahone commented on #25298
@g1bs0nsg that's a great piece of information to have- probably also something we can check beforehand to give a proper warning and guidance on how to correct. Thanks!

[2017-08-02 16:49] saichint opened #27654 "(P2) nxos_udld_interface is not idempotent when mode = enabled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_udld_interface

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)

##### SUMMARY
When we set mode = enabled on nxos_udld_interface, it is not idempotent.

##### STEPS TO REPRODUCE
Playbook:

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-08-02 16:50] b5hsiung commented on #27510
Oh, I see, so it could be that ansible itself never opens the file, and it just passes the path it's given to a library which does. I guess that does make this more of a feature request rather than a bug, the feature being that (generalizing) when ansible deals with a file, it could check if it has the format of an ansible-vault encrypted file and decrypt it first if necessary prior to passing it

[2017-08-02 17:01] axd1967 commented on #2303
am also hitting this issue. just trying to copy a local directory to a remote destination (each time using absolute paths); no permission issue, source directory exists, I keep getting

very confusing - why is it saying "expected paths" when `copy` is given an explicit path.

and then I notice this:
[code]

notice the extra spaces in `      src: " {{ mysource }} "`;
changing to
`      src: "{{ mys

[2017-08-02 17:03] Raffaello opened #27655 "rabbitmq_exchange API is returning 201 after creation of an exchange"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
rabbitmq_exchange

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
plain

##### OS / ENVIRONMENT
xenial 64bit localhost

##### SUMMARY

rabbitmq_exchange after creating an exchange the HTTP response is `201` and is interpreted as an error.

##### STEPS TO REPRODUCE
1. install rabbitmq 3.6.10
2. run an ansible local on using a playbook like this

[2017-08-02 17:06] s-hertel commented on #26971
Fixed by a260d99. Thank you @piotrkarbowski-ciklum @adamchainz!

[2017-08-02 17:06] #26971 closed, assigned to nobody

[2017-08-02 17:08] Raffaello commented on #27655
it seems fixed already for the next release?

duplicate of https://github.com/ansible/ansible/pull/22715

[2017-08-02 17:09] #27655 closed, assigned to nobody

[2017-08-02 17:26] LuckySB commented on #23577
on last develop version 2.4.0-100.git201707211018.08327fa459.devel.el7.centos

[WARNING]: Removed restricted key from module data: ansible_docker_gwbridge =
{u'macaddress ... 4633'}

[2017-08-02 17:36] nitzmahone opened #27656 "ansible-test completions fail under python3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION
2.4.0

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
Python3.5.3 under a virtualenv (any supported py3 should exhibit)

##### SUMMARY
Many of the dynamic target completions fail due to string/bytes mismatches, usually with the error `endswith\ first\ arg\ must\ be\ bytes\ or\ a\ tuple\ of\ bytes,\ not\ str `

[2017-08-02 17:43] #19427 closed, assigned to nobody

[2017-08-02 17:47] #27490 closed, assigned to nobody

[2017-08-02 18:02] mpodber1971 commented on #19829
i am using ansible 2.3.0 and still see this issue @gundalow @jtyr

[2017-08-02 18:09] Amruthapv opened #27658 "Not able to include the path variable in extra vars gives error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
own module for lun_mapping

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
ubuntu 14.04

##### SUMMARY
My module contains a variable called path " /vol/volumename/lunname" but inside the playbook when i try to explicitly provide the path using extra vars it says module fail error.

##### STEPS TO REPRODUCE
have a look at lun_create in na