[2016-08-17 14:30] bcoca commented on #17118
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-08-17 14:30] #17118 closed, assigned to nobody

[2016-08-17 14:50] Mister-Jankz opened #17125 "Installing on closed unpatched network (RHEL6 stock image)"
Any way to get around the dependencies? I'm working on a demo for Ansible on a closed network. Having issues with pycrypto because the installation script can't reach out and find it.

[2016-08-17 16:07] alikins commented on #17125
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

  This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2016-08-17 16:07] #17125 closed, assigned to nobody

[2016-08-17 16:16] Mister-Jankz commented on #17125
Thanks. I was having some issues with IRC this morning I did see there' s a lot of good support in there. I will check out google groups though.

[2016-08-17 16:53] slmingol commented on #16721
@bcoca - my testing was not using localhost, I was running my playbooks against actual hosts.

[2016-08-17 17:30] agaffney commented on #17111
Testing with a custom copy of `junos_config.py` that monkey-patches the `get_config()` function, my suggested fix above appears to work. I would submit it as a PR, but it's probably not the "right" way to solve this issue.

[2016-08-17 18:15] raghu999 opened #17127 "Vault support for transparent binary file encryption/decryption"
##### ISSUE TYPE

- Bug Report
- Feature Idea
- Documentation Report
  ##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Mac-Osx
##### SUMMARY

Thanks for all the work being done in the Ansible world , we really like Ansible and are using it as our configuration Management tool in our company . Coming to my problem i have a docker.tar.gz which is a tar ball of registry2 authentication token wh

[2016-08-17 19:22] pporada-gl commented on #17074
@jimi-c
I have a `- command: /bin/false` in my block statement though which causes a fatal error and should fail. Why is the rescue block being skipped? I am not concerned with the debug message appearing or causing a change. I can remove the debug messages and the same issue occurs of the handlers not being notified.

[code]
[code]

[2016-08-17 20:46] filipposc5 commented on #16352
I had the same issue ..

I used this as a temporary workaround - I know it's ugly but I was impatient :)

Added two lines at  Line: 296
`/usr/local/Cellar/ansible/2.1.1.0/libexec/vendor/lib/python2.7/site-packages/requests/packages/urllib3/contrib/pyopenssl.py`

[code]

Observe the output of "type" ...

[code]

So some need to be "ascii" others "utf-8" and so on.

[2016-08-17 21:29] #16953 closed, assigned to jimi-c, bcoca

[2016-08-17 22:23] jimi-c commented on #16953
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-08-17 23:47] nitzmahone commented on #13856
current versions do not appear to exhibit this behavior- closing

[2016-08-17 23:47] #13856 closed, assigned to nitzmahone

[2016-08-18 00:59] #10779 closed, assigned to nobody

[2016-08-18 02:52] jimi-c commented on #16364
@bconner22 this should have been in 2.1.1, which is the most recent version we've released. If that's not working for you, can you test against the devel branch to see if you're running into some other bug?

[2016-08-18 03:05] jimi-c commented on #16877
@AseemKumar / @alikins bad passwords have traditionally been in the "unreachable" category, so it sounds like 2.1.1 is actually doing the correct thing. Whether those should be considered unreachable or failed is up for debate, but like I said this appears to be resolved in 2.1.1.

[2016-08-18 03:06] jimi-c commented on #9383
@sunshine69 please open a new issue with an example demonstrating how this does not work. This bug is a year old, so you may be hitting some new situation and not this one exactly.

[2016-08-18 03:07] jimi-c commented on #15915
@mvdbeek I'm not 100% sure. The include stuff in devel has changed quite a bit due to some bug fixes and the performance improvements we made recently, so I'm not sure how cleanly this patch would apply to stable-2.1.

[2016-08-18 03:10] jimi-c commented on #15915
Yeah, it did not apply cleanly at all. If we want this in 2.1.2 (which we plan on releasing the first RC for next week), I'd have to rewrite the patch from scratch. I can look into doing that.

[2016-08-18 03:13] wordgod123 opened #17132 "django-celery run playbook_executor failed"
##### ISSUE TYPE

- Bug Report
- Feature Idea
- Documentation Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-08-18 03:44] netodevel opened #17133 "ansible does not work after installation"
[code]

i'm using elementary OS and Python 2.7.4

**Error**

[code]

[2016-08-18 03:47] netodevel commented on #17133
**resolved**

`sudo chown -R YOUR_USERNAME /home/YOUR_USERNAME/.ansible`

[2016-08-18 03:47] #17133 closed, assigned to nobody

[2016-08-18 03:59] SupremeGit commented on #4620
Unbelievable. I have hosts gs-ws01 through to gs-ws09 defined in my inventory, and yet:

ansible-playbook -i /path/to/some/inventory.yml /path/to/some/playbook.yml --limit=gs-ws0[2:3] --tags=linux-x0vnc --check
ERROR! Specified --limit does not match any hosts

trying with the x-y syntax:

ansible-playbook -i /path/to/some/inventory.yml /path/to/some/playbook.yml --limit=gs-ws0[2-3] --tags=linux-x

[2016-08-18 04:36] SupremeGit commented on #4620
"The inventory host range syntax is NOT available as a pattern match (e.g. www[01:50].example.com)"

Aaaaaahhahahahahahahaha

[2016-08-18 04:38] SupremeGit commented on #4620
Great work guys, once again, you've succeeded in deliberately, and by design, making ansible as counter-intuitive and useless as possible.

Brilliant.

[2016-08-18 06:00] oryband commented on #7788
Wow. Wasted a day due to this documentation error. Please fix this.

[2016-08-18 07:04] ghost opened #17134 "Allow execute more than 1 command at the same session"
I need to query all server status using one command

[code]

But ansible do not support this.
we can only do like

[code]

can we using sh -c as the default command wrapper. so we can support multiple command execute at the same time.
It wil not affect single command execute.

[2016-08-18 07:08] ghost commented on #17134
salt-ssh do support multiple command the same time

[code]

[2016-08-18 07:13] asdg-asdf commented on #17134
ansible all -m  shell -a "uname -a;uptime;free;df -hl"
default modules  is command module
u need use shell module

[2016-08-18 07:39] zigarn commented on #16721
@bcoca: I may have think too quickly that my problem was like this one as the description was the same but the context wasn't (localhost vs other host).
@slmingol: I think @bcoca is right about your layout, in the best practices inventory files are directly at the top level directory but yours are in the 'inv' subfolder. So it looks like issue #16956 about cwd and group_vars (@caseylucas)

[2016-08-18 07:47] ghost commented on #17134
why not put shell module as default. or add alias

[code]

[2016-08-18 08:17] mvdbeek commented on #15915
I would very much appreciate it if an adapted patch would end up in 2.1.
I had a look too, [this](https://github.com/ansible/ansible/compare/stable-2.1...mvdbeek:fix_2.1_task_include?expand=1) seems to work, but I have no clue about the side effects of skipping `_block`. Thanks for your time @jimi-c.

[2016-08-18 09:01] rezastd commented on #16354
hi, i have the same issue on my environment.
here is what i got:

what should i do? i think everything looks fine. i have 3 instances in the inventory file, but only this instance that i can't ping/ssh through ansible.

[2016-08-18 09:04] Trozz commented on #16354
Can you SSH to the machine?

[code]

[2016-08-18 09:09] rezastd commented on #16354
i can't ssh with that command, but i can ssh just like usual command like:

[2016-08-18 09:12] rezastd commented on #16354
it says like this:

but i'm pretty sure the key is in the right directory.

[2016-08-18 09:16] Trozz commented on #16354
You have a typo in the SSH key within Ansible, the example that works has a `-` where as the ansible output has `_`

[2016-08-18 09:23] rezastd commented on #16354
ah, thank you! my mistake.

[2016-08-18 09:25] Trozz commented on #16354
:smile:

[2016-08-18 09:25] Trozz commented on #16354
can we close this issue now?

[2016-08-18 09:25] rezastd commented on #16354
sure! thanks a lot

[2016-08-18 09:37] daliborfilus commented on #15741
It does this to me if I run ansible with --check.

[2016-08-18 09:42] Trozz commented on #16354
@jctanner can you loop back around and close this issue please :+1:

[2016-08-18 10:49] histrio opened #17135 "False positive deprecation warning/undefined error"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

Centos7
##### SUMMARY

After updating from 2.1.0.0 to 2.1.1.0 a have a deprecation warnings about undefined vars.
##### STEPS TO REPRODUCE

Here is my simple demo for this case

Structure:

[code]

main.yml

[code]

common/main.yml

[code]

common/test.yml

[code]
####

[2016-08-18 11:55] mckerrj commented on #4620
Supreme,  I believe you've been asked before to be less abusive to the Ansible community and team.  Accordingly, I'm afraid I'm going to ban you from commenting/posting.

[2016-08-18 12:08] jamesdh commented on #16956
We also were forced to manually reinstall 2.1.0.0 in order to return to a working state.

I'll try and find some time later to create a public repo with the necessary files to reproduce this...

[2016-08-18 12:48] nerzhul commented on #9065
This i very anoying to have group_vars loaded randomly. It make impossible to have inheritance in a such case all > datacenter > environment (integ, devel, prod) > application > host

It's very easy to do with puppet hiera but with ansible it's a pain, and, when you have > 100 playbooks/roles to maintain, load variables explicitely is not a must have because you should maintain a vars_file + a gro

[2016-08-18 14:22] rbauduin opened #17136 "with_fileglob does not handle a `*` to match a directory"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

with_fileglob
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible.cfg:

[code]
##### OS / ENVIRONMENT

Ubuntu 14.04 to Centos 7.2
##### SUMMARY

with_fileglob does not seem to handle a `*` to match a directory in the glob.
I think this worked with a 1.X version of ansible.
##### STEPS TO REPRODUCE

This debug task finds the file located a

[2016-08-18 14:25] selivan opened #17137 "ansible-vault view shows less program info before file content for small files"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-vault
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible.cfg:

[code]

No aliases for `less` are defined in shell (/bin/bash).
##### OS / ENVIRONMENT

Ubuntu 14.04 Trusty
bash: 4.3.11
less: 458
`$PAGER` environment variable is not set.
##### SUMMARY

For a small vault encrypted file, that cat fit in terminal window, `ansible-vault

[2016-08-18 14:31] iskrant commented on #17137
I have this problem too

[2016-08-18 14:38] sivel commented on #17134
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-08-18 14:38] #17134 closed, assigned to nobody

[2016-08-18 14:46] aixadmin opened #17138 "Actions for Jobs and Job Templates"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

Jobs and Job Templates
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Under Jobs or Job Templates, the ACTIONS icons are currently on the other side of the webpage than the name of the actual Job or Job Template. This combined with the very faint line shading of alternating lines makes taking an A

[2016-08-18 15:10] bcoca commented on #17138
I think you want to send this suggestion to Ansible Tower, this is not the forum for this.

use http://support.ansible.com or email support@ansible.com

[2016-08-18 15:10] #17138 closed, assigned to nobody

[2016-08-18 16:15] guillaumededrie opened #17139 "[win_chocolatey] Exception setting "changed": The property 'changed' cannot be found on this object. Verify that the property exist s and can be set."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

module `win_chocolatey`
##### ANSIBLE VERSION

`ansible 2.1.1.0`
##### CONFIGURATION

Playbook launched using `Vagrant 1.8.5`.
##### OS / ENVIRONMENT

`Debian 8.5 amd64`
##### SUMMARY

In Ansible 2.1.1.0, using module `win_chocolatey` end up with an error, but using Ansible 2.0.1.0, I've got the expected result (see below).
##### EXPECTED RESULTS

[2016-08-18 17:18] nitzmahone commented on #17094
This is a common issue around variable type: when setting a var to a truthy-looking value via YAML, it gets interpreted as a Python bool (by the YAML parser itself). When setting it via a text (non-YAML) key-value interface such as -e via command line or Tower surveys, the YAML type coercion does not occur, so it gets interpreted as a string "true" or "false". The Jinja2 `not` operator is a thin w

[2016-08-18 17:18] #17094 closed, assigned to nobody

[2016-08-18 18:31] selivan commented on #17137
I discovered, that `ansible-vault view <filename> | cat` does not produce excessive help output. So, it seems that bug appears only if stdout is a real tty, not just a pipe.

[2016-08-18 18:54] jimi-c commented on #15954
@Nagendra86 this is an incorrect assumption about the docs. With `serial: 1` but no max_fail_percentage set, the failure of a single host will cause the play to stop executing.

@WolverineFan I am looking into your comments, as I do see the batches ending incorrectly right now.

[2016-08-18 19:06] tkinz27 commented on #16956
Sorry it has taken me so long to get back. I finally was able to recreate a very simple test that shows the problem.

I have a directory structure like this...

[code]

My ansible.cfg is

[code]

inventories/flat

[code]

group_vars/all.yml

[code]

playbooks/test.yml

[code]

Dockerfile.2.1.0 (probably can ignore all the extra packages)

[code]

Dockerfile.2.1.1

[code]

Dockerfiles were build wi

[2016-08-18 20:00] nitzmahone commented on #17096
The -k business is a red herring- once Ansible has successfully authenticated (regardless of method), ssh ControlPersist keeps the muxed session alive for awhile (using Ansible's isolated ControlPersist location), so switching back to password (even the wrong one) will have no effect since the underlying session is still alive.

Ansible's not doing any magic here, it's just running SSH and telling

[2016-08-18 20:01] nitzmahone commented on #17098
`until:` is not currently supported on includes.

[2016-08-18 20:24] kustodian commented on #16956
`group_vars` should not be picked up from the current working directory. They should be read from the directory of the inventory file, or the playbook directory. What is happening in 2.1.1 is a bug which is now fixed in stable-2.1 branch and devel. In your example 2.1 is working correctly and the variable should be undefined.

[2016-08-18 20:34] dacjames commented on #16956
@kustodian In 2.0.x and 2.1.0 they are. Prior to 2.1.1, the following directory structure works:

[code]

Aside: Ansible really could benefit from a concept of a "root" directory. Having to adjust imports when you reorganize your directories is no fun.

[2016-08-18 20:41] kustodian commented on #16956
@drybjed I updated my previous comment, but to repeat myself, 2.1.1 behavior is a bug which I reported (#16953) and it's not fixed.

I like the idea of root directory, but the reason why the devs don't want to implement it is because it is a security issue. For example if you run `ansible-playbook` from a random directory which has `group_vars` configured, that means Ansible could pic up those var

[2016-08-18 21:07] drybjed commented on #16956
I was summoned here kinda from the left field, but oh well. :-)

Since you are talking about inventories and "root Ansible directories", want to hear my take on this? I handle this issue via a custom Python script which generates `ansible.cfg` in the current directory. This file contains all the necessary paths to roles, playbooks, library, plugins, etc. which are located in one central location i

[2016-08-18 21:07] dacjames commented on #16956
I think it would have the opposite effect. In my mind, the "root" directory would not be the working directory of the program. Instead ansible would mark the root in some way, much like git does with it's .git directory (perhaps using ansible.cfg as the marker or even a setting in ansible.cfg). Then the logic would be something like: for a given playbook walk up the tree until you find the root, a

[2016-08-18 21:26] #15954 closed, assigned to nobody

[2016-08-18 21:32] kustodian commented on #16956
@drybjed I agree with you about the best practices not showing best practices. Every environment should have it's own directory which includes an inventory file and the `group_vars` and `host_vars` directories.

@dacjames why would you use the playbook directory as the root one? What I would suggest is that you have a project root from which you always run `ansible-playbook`, e.g. like this:

[cod

[2016-08-18 22:14] mapuri opened #17144 "the nested include task fails with ` "'item' is undefined"` error"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

`include` task
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes
##### OS / ENVIRONMENT

Centos 7.2
##### SUMMARY

the nested include task fails with `"'item' is undefined"` error when outer include task uses a loop
##### STEPS TO REPRODUCE

1. create a directory structure and place yml files as described in the gist below
2. run the

[2016-08-18 22:32] ghost commented on #16790
I've seen this [WARNING] appearing in 2.1.1 on Debian 8, in a virtualenv made with --no-site-packages. v2.1.0 wasn't issuing this error.

As @shalk mentioned above, upgrading setuptools inside the virtualenv silenced the warning.

[2016-08-18 22:32] nitzmahone commented on #17117
It appears to be working as designed- `failed_when:` is evaluated after the task has completed, and your `failed_when:` condition does not signify a failure (as it never includes the word error). To simplify and maybe understand it a little better, try with `failed_when: false` and `failed_when: true` to see that it is indeed working as designed.

[2016-08-18 22:32] #17117 closed, assigned to nobody

[2016-08-18 22:37] poidag-zz commented on #17117
I have just been creating another task afterwards to fail if a condition is met on the registered var. But from reading failed_when: initially I thought it would have this effect.

[2016-08-18 22:38] nitzmahone commented on #17120
The `item["Value"]` lookup in set_fact doesn't make sense: you're indexing into a string with the word "Value". Did you maybe mean to do `"{{ swarm_leader_temp.value | from_json }}"` to give yourself a dict/list to iterate/index into?

[2016-08-18 22:40] nitzmahone commented on #17122
Yep, looks like a bit of display stuff crept out of the callback plugin.

[2016-08-18 22:48] nitzmahone commented on #17132
Without seeing the code you're using to launch the task, not much we can do to help. Take a look at how ansible-playbook does it in https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/playbook.py.

[2016-08-18 22:51] nitzmahone commented on #17135
Adding `static: no` to your `include:` statement should get you the behavior you want- we default to pre-parsing includes that don't have dynamic vars in the name.

[2016-08-18 22:51] #17135 closed, assigned to nobody

[2016-08-18 22:57] nitzmahone commented on #17117
It will, but at least for the sample you provided, it will never match the condition.

[2016-08-18 23:04] nitzmahone commented on #17136
Hmm, seems to work fine for me (tested on Ubuntu 14.04) - `with_fileglob` is just calling Python's `glob.glob()`, and creating a sample dir structure similar to yours and globbing with \* in a dir component works fine. The only thing I might suggest is that the ".." might not be resolving to the right place, but if your sample works as you say, that can't be it either (ie, it works as expected wit

[2016-08-18 23:18] x-yuri commented on #10479
There's also this way:

[code]

Somehow, I like it more.

[2016-08-18 23:19] nitzmahone commented on #17139
Already fixed in devel and 2.1.2 via https://github.com/ansible/ansible-modules-extras/commit/0d8a7b875e7e59ef197297b7b6d79f83de4f7c29 (will be included in 2.1.2RC1 this/next week-ish)

[2016-08-18 23:19] #17139 closed, assigned to nobody

[2016-08-18 23:37] nitzmahone commented on #17144
Interesting- works fine on devel and 2.1.0, but fails on 2.1.1 and stable-2.1 (had to add an actual task def to bar.yml)

Bisect points at https://github.com/ansible/ansible/commits/73a3a5839b7698a6b2d6ea459b0f65234729627b - @jimi-c / @jctanner, ideas?

[2016-08-19 01:37] slmingol commented on #16721
@zigarn: Makes no difference if I have my inventories in a subdirectory or at the top level, in either case the behavior I'm seeing is consistent. I tried that early on when @bcoca mentioned it and saw no difference in behavior.

[2016-08-19 01:49] wordgod123 commented on #17132
@nitzmahone
Thanks for you answer. I have deal the problem. Run the task use -P threads is work for me. The command is: python manage.py celery worker -P threads --loglevel=info

[2016-08-19 02:38] edrzmr commented on #14237
[this](https://gist.github.com/ederrm/2968d61e6494f035c5d3aac3151ba922) really works for me.

ansible: 2.1.1.0

[2016-08-19 02:52] jimi-c commented on #15954
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-08-19 07:17] rbauduin commented on #17136
I have tried with an absolute path, to no avail.
I am using python 2.7.6, and I tried the same glob with `glob.glob()`, and in that case it correctly returns all items.

I tried with absolute paths, and it doesn't work either:

[code]

However, this syntax it worked:

[code]

This also works with a relative path, but in that case I need to use `downloaded_files/blah`and not `../downloaded_files/bl

[2016-08-19 08:19] github-abcde commented on #17144
When using loop_control to define a loop_var, the error changes accordingly to name the loop_var as undefined instead of item.

[2016-08-19 08:32] zhijieqing opened #17146 "unarchive module error"
##### ISSUE TYPE

- Bug Report
- Feature Idea
- Documentation Report

如果zip文件包含中文文件，则解压报错
If the zip file contains the Chinese document, then extract the error
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

CeontOS 7.0
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-08-19 08:44] mihbor commented on #14468
Have the same issue with ansible 1.9.4 and python 2.7.6 on ubuntu 14.04:
`msg: Could not import python modules: apt, apt_pkg. Please install python-apt package.
`

[code]

The same playbook works fine for my colleague running ansible 1.9.4 and python 2.7.3 on ubuntu 12.04.

[2016-08-19 09:20] selivan commented on #17137
If I do `export PAGER=less` before calling `ansible-vault`, bug disappears. But if I do `unset PAGER`, it appears again.

[2016-08-19 10:32] nfnty commented on #16740
Could this be added to the 2.2.0 milestone?

[2016-08-19 10:55] jonatanblue opened #17147 "AWS dynamic inventory Python script fails to run"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Dynamic Inventory: ec2.py
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Mac OS X 10.11.6
##### SUMMARY

Running ec2.py standalone causes import error.
##### STEPS TO REPRODUCE
1. Download the [ec2.py](https://raw.github.com/ansible/ansible/devel/contrib/inventory/ec2.py) dynamic inventory script and ec2.ini file as [instructed in the docs

[2016-08-19 12:21] dagwieers commented on #17058
@machacekondra For a guest, that's fine. But a RHEV host is reported to be a kvm host. Which is not wrong, but doesn't allow us to distinguish a RHEL server with kvm from a RHEV host.

I do not know yet what information (on the RHEV host) would be best to make the distinction in our facts, but we definitely need to make that distinction when managing servers.

[2016-08-19 12:26] archf opened #17148 "Loop control loop_var value is not always inherited inside nested includes"
##### ISSUE TYPE
- Bug Report

Using `loop_var` with `loop_control` and include tasks.
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Vanilla.
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Loop  control `loop_var value` is  not inherited inside nested includes depending on context of include. This seems a variant of #16542.
##### STEPS TO REPRODUCE

Given this:

[code]

[code]

[code]
##### EXPEC

[2016-08-19 12:56] dagwieers commented on #17146
That's an old Ansible version and I don't think we are actively fixing issues in Ansible 1.9 or older.

If you have a related issue with Ansible v2.1 please let us know, and please report the issue in the correct repository: https://github.com/ansible/ansible-modules-core/issues

Thanks !

wontfix

[2016-08-19 12:57] guillaumededrie commented on #17139
thx @nitzmahone!

[2016-08-19 13:01] dagwieers commented on #17136
The **fileglob** lookup plugin only returns a list of files, not directories. That is why it is called **file**glob :-)

So a wildcard can match a directory, as long as it is part of a filename. Not if the match is a directory.

If you want to get more than just files, you can use the **filetree** lookup plugin, but this has not shipped with Ansible v2.1. It is expected for Ansible v2.2 !

[2016-08-19 13:05] dagwieers commented on #17100
Related to #14621 somewhat. Honestly I was expecting the list to be sorted ?

[2016-08-19 13:24] bcoca commented on #16898
fixed via #16900

[2016-08-19 13:24] #16898 closed, assigned to nobody

[2016-08-19 14:09] jctanner commented on #17146
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-08-19 14:09] #17146 closed, assigned to nobody

[2016-08-19 14:12] jctanner commented on #17147
@jonatanblue that import was added by https://github.com/ansible/ansible/commit/59e499f8f00e4068b68c147b8f3002535ad706e0 which appears to be an attempt to normalize the boto client setup code.

The implication is that in order to use the inventory script, you need to have ansible installed on the machine such that "ansible" is available in the python path for your default python interpreter. We pl

[2016-08-19 14:12] #17147 closed, assigned to nobody

[2016-08-19 14:54] farrellit commented on #12186
It's silly to call this a matter of taste.  If you imagine being in the position of getting such an error, maybe on a project that uses several components managed by several teams ( inventory, roles, and the playbook iteself in my case), you're left guessing at bisections or looking at diffs to figure out what the issue is.  The error should absolutely contain clear and specific information to hel

[2016-08-19 15:05] dbarboza opened #17151 "virtualization_type set to 'kvm' without kvm packges installed"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

facts  'virtualization_type' and 'virtualization_role'
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

Ansible running from Ubuntu 14.04 to Ubuntu 14.04/12.04
##### SUMMARY

The facts 'virtualization_type' and 'virtualization_role' are be set to 'kvm' and 'host' respectively if 'kvm' is found in /proc/modules. T

[2016-08-19 15:13] digi691 opened #17152 "Ansible stalls during setup when pushing to large amount of hosts"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

- Performance Improvement (executor, strategy plugin, etc... )
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

strategy=free & strategy=linear
##### OS / ENVIRONMENT

Control: Ubuntu 14.04.3 LTS
Managing: N/A
##### SUMMARY

When pushing Ansible to over 1000 hosts, Ansible will stall when running the built-in setup tasks on the managing hosts.

[2016-08-19 15:19] jonatanblue commented on #17147
Great to hear it's not a bug. Is this described somewhere in the documentation?

I figured out what caused it at my end: installing Ansible with `brew` made ansible unavailable to my Python interpreter.

To fix this I uninstalled Ansible and installed it again using pip:

[code]

Now ansible is available:

[code]

and the script works as expected.

It may be worth mentioning this somewhere in the

[2016-08-19 15:22] Shaps commented on #17013
I can take on this one

[2016-08-19 16:23] westsouthnight commented on #17120
@nitzmahone all in exec looks great, i dont understand what you mean about "not make sense".

Already sorry, i'm give debug exec on both versions.

It's in version 2.1.0.0:
(all right)

[code]

It's in version 2.1.1.0:
(not work)

[code]

I try to get Swarm Leader IP from Consul and need IP of the Swarm Master for do one operation per cluster.

Maybe, i not know more good way for do that, but when

[2016-08-19 17:15] #17132 closed, assigned to nobody

[2016-08-19 17:31] JimFicarra commented on #15601
Thanks all - I reproduced the conditions and validated that the fix works in Ansible 2.1.0.0 and Ansible 2.1.1.0

[2016-08-19 17:57] nitzmahone commented on #17120
That's ... weird. I have no idea how that's _not_ failing in 2.1.0, nor what the purpose of roundtripping the consul result through JSON is for... You have a dict inside a list in `swarm_leader_temp.value`, why not just use it directly in the set fact, eg: `set_fact: swarm_leader={{swarm_leader_temp.value[0]["Value"]}}`?

The result of `{{ swarm_leader_temp.value | to_nice_json }}` is a string, so

[2016-08-19 17:57] #17120 closed, assigned to nobody

[2016-08-19 18:09] nitzmahone commented on #17136
dagwieers: I don't think he's trying to pick up directories- IIUC he's trying to use a wildcard in a directory slot in the path and saying it's not matching as it should, but I'm unable to reproduce.

[2016-08-19 18:24] jkamenik commented on #7005
A year late, but here is the trick I do that I don't think sucks too bad.

[code]

By putting it in a variable it becomes a string which is what EC2 wants.  For some reason if I do the `lookup(...) | string` within the EC2 block then `| string` appears to be ignored.

[2016-08-19 19:00] jctanner commented on #10279
Resolved by https://github.com/ansible/ansible-modules-core/pull/4473

[2016-08-19 19:00] #10279 closed, assigned to nobody

[2016-08-19 21:12] Daryes commented on #17024
I'm having the same behavior with a task rebooting the servers after an update, like this :

[code]

Before, I had a single [skipping: ...] for each server, but with v2.1.1.0, each action in the reboot task is visible.
Also, with the serial restriction, the play stops after the first batch,

[2016-08-19 21:22] gbolo opened #17159 "with_dict incorrectly passing null values as empty strings"
##### ISSUE TYPE
- Feature Idea
- Bug Report

##### COMPONENT NAME

`with_dict`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Running Ansible from: Arch Linux
Target Host: Centos 7, Arch Linux
##### SUMMARY

When passing a dictionary via `with_dict` in a task and using certain portions of it to create values of another dictionary variable, nulls are not being prese

[2016-08-19 21:25] agaffney commented on #17159
FYI, @sivel

[2016-08-19 21:26] agaffney commented on #17159
Here is a much simpler test case showing the same issue in 2.1.1.0:

[code]

Result:

[code]

[2016-08-20 02:54] gbolo commented on #17159
This also seems to happen when you specify a default; the second task in this example loses it's `null`:

[code]

Result:

[code]

[2016-08-20 09:29] trondhindenes commented on #16255
@nitzmahone do you happen to have a list? I really want us to get this in the docs, I'd be happy to PR it but I need help figuring out which modules (outside of win*) actually work on windows.

[2016-08-21 09:07] srgvg commented on #17078
Test with this command:

[code]

![20160821110524](https://cloud.githubusercontent.com/assets/382239/17836346/461266ee-678f-11e6-8882-8d14935e061a.png)

[2016-08-21 09:19] vincentvdk commented on #17078
@srvg asked me to test this on my machine. Same result as he has. This bug can result in some very confusing troubleshooting imo.
![test_svg2](https://cloud.githubusercontent.com/assets/676958/17836387/a3066fde-6790-11e6-9630-47fb43a04398.png)

[2016-08-21 10:32] ari-s opened #17171 "ansible-playbook ingores user setting"
for me, ansible-playbook completely ignores remote user setting. ansible respects it.
the username is also set in ~/.ssh/config, commenting that line makes no difference for ansible-playbook
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

 # defaults
##### OS / ENVIRONMENT

debian testing on both ansible and managed host
##### STEPS TO REPRODUCE

MWE: cat whoami.ym

[2016-08-21 17:09] ijaveed commented on #17049
Verbose Output

$ ansible -vvvv -a "python -c 'import boto.s3.connection'" 127.0.0.1
<127.0.0.1> REMOTE_MODULE command python -c 'import boto.s3.connection'
<127.0.0.1> EXEC ['/bin/sh', '-c', 'mkdir -p $HOME/.ansible/tmp/ansible-tmp-1471799357.88-158709328121209 && chmod a+rx $HOME/.ansible/tmp/ansible-tmp-1471799357.88-158709328121209 && echo $HOME/.ansible/tmp/ansible-tmp-1471799357.88-158709328

[2016-08-21 19:42] alikins commented on #17078
I seem to not get the custom module for either case.
If I crank the verbose up to -vvv, to see the module paths used, it shows the default path being used in both cases. First paste is commands as shown, second is with '-vvv'

[code]

If I crank the verbose up to -vvv, to see the module paths used, it shows the default path being used in both cases.

[code]

[2016-08-21 19:44] damienwebdev commented on #9526
I'm still seeing this when trying to move/copy a template into a shared_folder on an Windows 10 host with an Ubuntu 16.04 guest.

[2016-08-22 02:07] Ehekatl commented on #16437
+1, it would be really helpful if ansible could support block in plays level

[2016-08-22 03:05] Ehekatl opened #17174 "Rescue task not execute with any_errors_fatal enable"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- Block
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When enable any_errors_fatal in play, the rescue task in block will not be executed, I understand this maybe intentionally behavior, but, from real world case, I need rescue for error handling and I also need the play abort when the task fa

[2016-08-22 07:16] ozbillwang commented on #13026
@mschurenko

The assume_role codes have been added, but can't be merged, because there are other PRs merged after my updates, and have conflicts with it.

https://github.com/ansible/ansible/issues/15215

If you don't mind new features, you can directly copy below file to your environment and get assume_role work directly

https://github.com/BWITS/ansible/blob/devel/contrib/inventory/ec2.py

Good l

[2016-08-22 07:32] westsouthnight commented on #17120
@nitzmahone Thanks, great idea with directly use temp variable, i don't know why i no think do like you propose

[2016-08-22 08:39] lillesand commented on #15962
In case this is useful for anyone: observed the same bug here in ansible 2.0.2.0. The tag `1.1` fails with the error given above, while the tag `1.1.0` works. It's the same revision, only differently named tags.

Could it be some kind of exotic string parsing bug?

[2016-08-22 09:05] dagwieers commented on #17058
Alright, after looking into this, I think the easiest/best way is to detect if a process named **vdsm** is running. The **vdsm** process is absolutely required on any RHEV host in order to manage and monitor the host's storage, memory and networks as well as VM creation.

The installation of the **vdsm** package may not mean it is a RHEV host (since it could be something left over), existence of f

[2016-08-22 09:24] dagwieers commented on #17058
Here's a working implementation:

[code]

The problem is that we require the psutil module in order to find vdsm, and maybe that's asking to much. (We'd be defaulting to a false negative) I could go iterating in _/proc_ myself instead ? :-/

[2016-08-22 10:05] dagwieers commented on #17058
I rewrote it like this now:

[code]

Which should be fine.

[2016-08-22 10:49] aya opened #17175 "setup module fails in get_selinux_facts on Fedora Core 5"
##### ISSUE TYPE

 Bug Report
##### COMPONENT NAME

setup module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Managed node running Fedora Core 5
##### SUMMARY

setup module fails in get_selinux_facts on Fedora Core 5 with error : "AttributeError: 'module' object has no attribute 'selinux_getpolicytype."
##### STEPS TO REPRODUCE

Run the setup module on a Fedora Core 5.
##### EXPECTED RESU

[2016-08-22 11:04] mavit commented on #13634
Duplicate of #12125?

[2016-08-22 11:19] mavit commented on #12125
I retested this with Ansible version 2.1.1.0, and no-longer see the issue.

[2016-08-22 11:19] #12125 closed, assigned to nobody

[2016-08-22 12:48] amitangarkar commented on #16460
ansible 2.1.1.0

Using /etc/ansible/ansible.cfg as config file
Loaded callback minimal of type stdout, v2.0
<10.10.32.29> ESTABLISH WINRM CONNECTION FOR USER: amitagg on PORT 5985 TO 10.10.32.29
10.10.32.29 | UNREACHABLE! => {
    "changed": false,
    "msg": "plaintext: HTTPConnectionPool(host='10.10.32.29', port=5985): Max retries exceeded with url: /wsman (Caused by ConnectTimeoutError(<request

[2016-08-22 13:07] dagwieers commented on #17175
Fedora Core 5, really ? :-)

I would be surprised if we would still be supporting a bleeding edge OS that's 10 years old.
But if you have an easy fix, more power to you !

[2016-08-22 13:12] dagwieers commented on #17152
Are you sure this is not related to very slow systems ? I've used Ansible on more than 3000 systems without any issue, but we frequently had systems with issues that could cause Ansible to wait seemingly indefinitely.

Ansible does not report which systems it is connecting to (unless you look at the process list, e.g. pstree), but I like shmux more in this regard, as you can query it while it is e

[2016-08-22 13:13] bcoca commented on #17151
I'm thinking of creating new options that are more accurate, this should really be lists of 'supported virtualizations' on a machine, as it can be more than one, also the machine can be both a guest and a host.

"ansible_virtualization_guest" = 'technology', empty/false if not a guest
"ansible_virtualization_hosts" = [ kvm, vbox, lxc, docker, etc]

[2016-08-22 13:20] dagwieers commented on #17136
@nitzmahone Oh right. That should work indeed.

[2016-08-22 13:53] JulianVolodia opened #17179 "ansible-playbook with '--check' won't test properly (not doing the same as without)"
I verify that your issue/request is not already reported in GitHub.
##### ISSUE TYPE
- Bug Report (but kinda Feature Idea in your opinion...)
##### COMPONENT NAME

ansible-playbook (--check option)
##### ANSIBLE VERSION

Using Debian GNU/Linux.

[code]
##### CONFIGURATION

N/A but ok...

[code]

BTW. issue template should have code block canvas OOTB ;)
##### OS / ENVIRONMENT

Debian
##### SUMMARY

[2016-08-22 14:19] alikins commented on #17078
After adding a lot of debug logging, one thing I'm seeing is that the '_extra_dirs' for modules ('/home/adrian/src/ansible-ansible-issue17078/joeri/library') isn't added until the builtin uri.py has already been found and added to all the plugin/module path 'caches', so the find_plugin requests for the 'uri' module always finds the built in one first.

[2016-08-22 14:30] srgvg commented on #17078
@alikins thanks for your help. Seems quite funky that this gets triggered by a `name:` key in a seemingly unrelated previous play task.

[2016-08-22 14:35] alikins commented on #15617
@ssbarnea  @steveholden  Take a look at the pr at https://github.com/ansible/ansible/pull/16274

Looking for feedback on the changes proposed there.

[2016-08-22 14:36] alikins commented on #14721
@gtmtech @SydOps Take a look at the pr https://github.com/ansible/ansible/pull/16274

Thats a proposed implementation of vault encrypted values in yaml files.

[2016-08-22 14:36] jswinarton commented on #15962
@lillesand You're right—I'm getting the same issue. I did some digging and it turns out that this is expected YAML behaviour—`1.1` gets converted to a floating point value, whereas `1.1.0` is treated as a string.

Here's an example YAML document I played with:

[code]

… and the corresponding output that PyYAML renders:

[code]

Not sure what the Ansible team's solution to this is—we should either

[2016-08-22 14:37] alikins commented on #13752
@abourget  Take a look at the pr at https://github.com/ansible/ansible/pull/16274

That pr implements vault encrypted variables inside of ansible yaml.

[2016-08-22 14:39] alikins commented on #13287
@h0nIg
Take a look at https://github.com/ansible/ansible/pull/16274

That is an implementation of vault encrypted yaml variables (originally based on your sample implementation)

[2016-08-22 14:40] #16971 closed, assigned to nobody

[2016-08-22 14:44] lillesand commented on #15962
Ah, that makes sense. Good digging right there 👍 .

Although it'd look a little nasty in the ansible code base, I think this is an edge case that should be handled. It's a kind of weird behaviour I don't want to handle as a user.

[2016-08-22 14:45] h0nIg opened #17180 "improper handling of include+with_item resets variable"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include
##### ANSIBLE VERSION

2.1.1.0
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

the second include of testinclude1.yml should output overriddenval and not testval. This happens only if the with_item is used on the include of testinclude2.yml. I think there is some variable magic happening regarding the block statement,

[2016-08-22 14:45] dagwieers opened #17181 "Make action plugins part of the module"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

action plugins
##### SUMMARY

Something I always wondered about, why aren't action_plugins part of the module, like a method to AnsibleModule that is loaded on the Ansible system. That way, changes to action plugins would go together with changes to the module, and in the same pull request, and in the same release (think core/extras split!).

[2016-08-22 14:56] jswinarton commented on #15962
I think my vote would be for docs on this. I don't think ansible currently makes any changes to YAML behaviour, so changing something here would set a weird precedent. Plus, there's already a docs page on YAML gotchas (http://docs.ansible.com/ansible/YAMLSyntax.html#gotchas) which helps people fix common mistakes. I think an entry here on version numbers would be sufficient.

[2016-08-22 15:07] bcoca commented on #17181
action plugins get executed 'locally' on the ansible controller, modules are copied and executed on the 'target', action plugins are required to be python, modules are not.

soon we will merge the repos so there won't be an issue with PRs anymore.

[2016-08-22 15:18] jswinarton commented on #15962
Added PR #17182, which calls this out in the docs.

[2016-08-22 15:23] jimi-c commented on #15915
@mvdbeek the above patch was merged into stable-2.1, and will be included in 2.1.2.

Thanks!

[2016-08-22 15:28] alikins commented on #17171
Could you provide output from running with '-vvvv' flags to ansible-playbook?
That should show the connection info.

The inventory setup for the 'playground.ccczh.ch' host as well.

[2016-08-22 15:35] alikins commented on #17171
Note remote_user is a config variable that sets a default user name to use if one is not provided elsewhere. So if inventory is setting ansible_remote_user=root, that will be used instead of remote_user.

See https://github.com/ansible/ansible/issues/4688

[2016-08-22 15:38] #17171 closed, assigned to nobody

[2016-08-22 15:42] ajain17 commented on #16015
I added setuptools=11.3 to my requirements.txt and it worked.

[2016-08-22 15:47] JohnPeacockMessageSystems commented on #16747
This appears to be fixed by the same change that resolved #14489

[2016-08-22 15:50] brycethornton commented on #9526
The solution to "touch" the file first before copying worked for me. See @mb222's comment above.

[2016-08-22 15:51] lillesand commented on #15962
Fair point. I'd still argue that a better error message it's needed. The current one doesn't provide much help, and finding it the docs would require some digging.

I'd love to provide a PR, but I'm not very familiar with neither the ansible codebase nor Python.

[2016-08-22 16:13] alikins commented on #17179
Definitely need an example playbook/task and the '-vvv' actual output.
'--check' behavior is mostly implemented in the module code, so need to know which modules
are involved.

Note: If the issue is with specific module, may need to open a bug report against 'ansible-modules-core' or 'ansible-modules-extras'

[2016-08-22 16:29] alikins commented on #17180
I reproduce the failure on 2.1.1.0 and git stable-2.1 branch.
It seems to work on 2.1.0.0 and devel (2.2*):

PASSING on 2.1.0

[code]

FAILING on v2.1.1.0:

[code]

FAILING on stable-2.1

[code]

But I get the expected results from the report if I test against devel/:
ie, PASSING on devel

[code]

[2016-08-22 16:31] alikins commented on #17175
Since there seems to be a workaround/fix pr, leaving this open.

[2016-08-22 16:32] rwky commented on #15721
It's due to this line https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/module_common.py#L124 and is beyond just the copy module, on CoreOS the `ansible_python_interpreter` variable is often set to include PATH i.e `PATH=/usr/bin/python:$PATH python` as per @milaw has above. This doesn't work in the `subprocess.Popen` function, python tries to use the entire `ansible_python_interp

[2016-08-22 16:38] dagwieers commented on #17181
@bcoca Modules could have a part that runs locally and a part that runs remotely. But indeed modules could be in any language.

But core/extras won't be merged, or will they ?

[2016-08-22 16:56] alikins commented on #17058
See also the somewhat related https://github.com/ansible/ansible/pull/15166
and https://github.com/ansible/ansible/issues/15165

Those are the 'openstack' analog instead of RHEV, but both add collection of  'yes it is a KVM host, but it is also...' facts.

[2016-08-22 17:02] alikins commented on #17058
The RHEV and openstack pr's both point to current virt facts not being sufficient.
Maybe add a 'virtualization_product' field?

So rhev, ovirt, openstack, would all be virtualization_type=kvm, but with virtualization_product='openstack' etc  (At least all the stuff looking at
/sys/devices/virtual/dmi/id/product_name)

[ or 'virtualization_product_name' etc...]

[2016-08-22 17:16] dagwieers commented on #17058
@alikins @bcoca already pointed me to this: https://github.com/ansible/ansible/issues/17151#issuecomment-241408224

But in the meantime we could at least support RHEV hosts using the current fact names.
I am all for refactoring this in the future.

[2016-08-22 18:08] wildefires opened #17185 "Ansible 2.2 devel parses `default(int)` wrong"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes
##### OS / ENVIRONMENT

Host is CentOS 7, but I don't think it's a centos issue
##### SUMMARY

Ansible no longer parses `default(int)` properly
##### STEPS TO REPRODUCE

I'm attempting to run a playbook that uses a `|default(10)` for a variable. I updated this morning and it does not work as expected

[cod

[2016-08-22 18:10] wildefires commented on #17185
This worked previously with (and I've reverted to) 93c5ec42cf

[2016-08-22 18:21] gbolo commented on #17159
This bug also seems to affect integers:

[code]

Result:

[code]

[2016-08-22 19:22] bcoca commented on #17181
current plan is going back to single repo after 2.2 release

[2016-08-22 19:31] simonpie commented on #10464
@albertux's solution is still works very well (and is still necessary) in ansible 2.1.1.0

[2016-08-22 20:12] nitzmahone opened #17187 "win_reboot action logs connection tracebacks in some cases"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

win_reboot action plugin
##### ANSIBLE VERSION

[code]
##### SUMMARY

The win_reboot action internally makes direct connection/module runs that we expect to fail (we swallow the exceptions internally in these cases). However, in rare cases where the "canary" module exec fails, it appears that the module exec subsystem is directly logging/displayi

[2016-08-22 21:06] nitzmahone commented on #16255
Somebody had the clever idea of symlinking the docstubs for the relevant ones (since all the cross-platform ones are actions) under the WIndows module dir so they'd show up there when we build docs, but I'm slightly nervous about unanticipated downstream effects (esp. CI-ish things) before we have real module/doc metadata to drive those processes from.

The action/module pairs that should work whe

[2016-08-22 21:41] dagwieers commented on #17181
Alright !

[2016-08-22 21:41] #17181 closed, assigned to nobody

[2016-08-22 21:48] dstynchula commented on #8752
this fixed my problem in ansible 1.7.1 on mac. :+1:

[2016-08-22 22:41] vinaykonanki commented on #14237
If you use same variable name (ansible_ssh_host or ansible_host) in both inventory and module then it is working fine or else wait_for will take it as localhost.

I tested with both ansible 2.1.1.0 and 2.1.0.0.

[2016-08-22 23:24] goldyfruit commented on #14665
Hi guys,

I'm still having this issue.

[code]

[code]

[code]

[2016-08-23 02:47] digi691 commented on #17152
@jimi-c ,

As you suggested in IRC, I tried playing with the amount of forks.  I started to have mixed results around 85 forks in linear strategy.  At 85 forks in linear strategy I was about 25% successful on a whole push.  The closer I got to 100 forks the more successful I became.  As far as I can tell, at 100 forks I was up to 100% success rate.  This wasn't automated so not totally conclusive.

[2016-08-23 06:43] mgedmin opened #17192 "[Ansible 2.2] with_fileglob emits warning, fails to glob"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

with_fileglob
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

My role task that uses `with_fileglob: [ prefix-* ]` fails to match files in role/files/prefix-\* and emits a warning.  Here's the task:

[code]

Here's what in `roles/fridge/files/`:

[code]

Here's the ansible output:

[code]

This used to work fine

[2016-08-23 06:59] mgedmin commented on #17192
AFAICT fileglob with `subdir/pattern` works fine, but fileglob without a subdir is broken.

[2016-08-23 09:35] Shaps commented on #17151
+1

[2016-08-23 09:36] sharuzzaman commented on #1476
I want the skip feature as well.

My use case is, I create a playbook to install software for CentOS and Ubuntu, and want to skip the whole playbook if the OS is not Linux.

I could specify the OS for each task, but having a skip task early in the playbook that would skip everything if some parameter did not match will help speed things up.

[2016-08-23 10:14] mvdbeek commented on #15915
Awesome, thanks a lot.

[2016-08-23 10:35] bbaassssiiee commented on #12353
PR was closed, this feature has not been implemented.

[2016-08-23 10:47] ksmets opened #17193 "Unable to pass boolean value False through --extra-vars argument"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

extra-vars
when
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

Unable to pass boolean variable False via `--extra-vars` arguments
##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

Running playbook without passing extra-vars to override foobar variable works as expected.

[code]

[

[2016-08-23 10:53] bbaassssiiee opened #17194 "ansible-galaxy might need to use credentials for Git."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-galaxy
##### ANSIBLE VERSION

"ansible 2.1.0.0"
##### CONFIGURATION

internal Git repositories
##### OS / ENVIRONMENT

N/A
##### SUMMARY

ansible-galaxy cannot authenticate to git repo.
##### STEPS TO REPRODUCE

Company runs internal Git repository with "internal" repo's, i.e. requiring authentication.
A requirements.yml file has content

[2016-08-23 13:55] jhawkesworth commented on #16460
@amitangarkar I think your issue might be slightly different from the original poster as you are using the standard port (5985) and an http connection (as opposed to an https connection) appears to be being attempted.  You are getting a connection timeout, implying the host wasn't reachable, whereas original bug report was receiving connection refused.

I suggest you check to see if you can make a

[2016-08-23 14:21] alikins commented on #17078
That is weird. Though I haven't been able to reproduce that (or getting the joeri/library/uri.py to be used at all, short of changing it's name). I either find the custom module for both test-ok and test-nok or I don't find it for either.

Is joeri/library added to library_path?  [ansible --version output doesn't show any changes so probably not...]

If you add more v's [ansible-playbook -vvvv]  t

[2016-08-23 14:43] dissnn commented on #17193
This is not a bug. See my examples of behavior with `--extra-vars`

#### Boolean in "--exrta-vars"

This is some behaviour examples of boolean values in `--extra-vars`

[code]

[code]

[code]

[code]

[code]

[2016-08-23 15:53] clebio commented on #13268
Is anyone else seeing that `shutil.rmtree(C.DEFAULT_LOCAL_TMP, True)`? I've been getting it for a month or two now and this is the _only_ issue I've found mentioning. I should probably open a new issue, but just figured I'd ask here first.

[2016-08-23 17:00] srgvg commented on #17078
​Hm, my report is quite consistently reproduced, and @vincentvdk had my same result.

​No, there is no ansible.cfg used.​

​That just shows
`Using module file /home/serge/tmp/ansible-ansible-issue17078/joeri/library/uri.py`
vs
`Using module file /home/serge/src/ansible/ansible/lib/ansible/modules/core/network/basics/uri.py`
using

[code]

​I'm not sure what you mean here?​

[2016-08-23 17:03] mrbobbytables opened #17198 "Formatting on Docker Network Module page broken."
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

[Docker Network Module Page](http://docs.ansible.com/ansible/docker_network_module.html)
##### SUMMARY

Rendering of the table is broken with raw html visible in the comments column of the force parameter.
##### STEPS TO REPRODUCE

Visit the [Docker Network Module Page](http://docs.ansible.com/ansible/docker_network_module.html)

[2016-08-23 19:41] chouseknecht commented on #17198
@mrbobbytables Thank you for taking the time to open this issue. I'm moving it to the ansible/ansible-modules-core repo where docker_network.py lives. Here's a link to the new issue: https://github.com/ansible/ansible-modules-core/issues/4513

[2016-08-23 19:41] #17198 closed, assigned to nobody

[2016-08-23 19:43] trondhindenes commented on #16255
Thanks matt. Created pr #17201 to get this into docs.

[2016-08-23 19:44] mrbobbytables commented on #17198
Thanks! Sorry about the mix up there.

[2016-08-23 20:29] JVMartin commented on #14358
+1 We really need this.

[2016-08-23 23:24] muxator opened #17205 "Jinja2 math filter: implement `add()` function"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

Jinja2 math filter: add `increment()` function
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

independent on configuration
##### OS / ENVIRONMENT

N/A
##### SUMMARY

There are situations in which, given a variable containing a list of ints:

[code]

Someone may want to have the same list, but incremented by a fixed quantity, let's say 100:

[2016-08-23 23:27] mattclay commented on #16133
Closing as resolved with the 2.1.1 release.

[2016-08-23 23:27] #16133 closed, assigned to mattclay

[2016-08-23 23:28] mattclay commented on #15162
Closing as resolved with the 2.1.1 release.

[2016-08-23 23:28] #15162 closed, assigned to mattclay

[2016-08-23 23:28] mattclay commented on #14568
Closing as resolved with the 2.1.1 release.

[2016-08-23 23:28] #14568 closed, assigned to mattclay

[2016-08-24 00:12] Excedrin commented on #15331
abadger's fix works, can this please get merged, it's really annoying, every time a new version comes out my inventory breaks.

[2016-08-24 05:30] willthames opened #17208 "wrong handler is called when squashed items fail"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

handler
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Results of modules with squashed items appear to be misinterpreted.
##### STEPS TO REPRODUCE

[code]

Note that if you swap bash and does-not-exist around, it works as expected. Basically, because results array is populated by each successful

[2016-08-24 06:01] sangrealest commented on #13904
tower 3.0.1 also has this problem, the same jobs could run perfectly before I did a backup and restore ansible tower

[2016-08-24 07:04] ksmets commented on #17193
So take home message is to use json structure `-e {foobar: False}` for passing extra-vars.

Thx for the clarification.

[2016-08-24 07:04] #17193 closed, assigned to nobody

[2016-08-24 08:55] dhellema opened #17213 ""gather_facts: yes" ignored in combination with gathering = smart and a custom module"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible facts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

In ansible.cfg:
gathering = smart

Environment:
PYTHONPATH=/srv/ansible/2.1.1/lib:/srv/python-libs
PATH=/srv/ansible/2.1.1/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin
##### OS / ENVIRONMENT

RHEL7
##### SUMMARY

Since Ansible v2 I've noticed the setup module is

[2016-08-24 09:23] akaspin commented on #14291
It's happens again. Ansible 2.1.1.0.

[2016-08-24 10:14] dagwieers commented on #14291
@akaspin Can you provide me with a reproducer ?

[2016-08-24 10:21] danpilch opened #17214 "failed_when does not correctly evaluate multiple conditions using or operator"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

core jinja2 conditional evaluation with 'failed_when'
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

none
##### OS / ENVIRONMENT

RHEL7
##### SUMMARY

##### STEPS TO REPRODUCE

# Create a test shell script to output a result of 1

echo "#!/bin/bash\necho '1'" > test.sh && chmod +x test.sh

[code]

##### EXPECTED RESULTS

Evaluate as OK as st

[2016-08-24 10:54] emanuelis commented on #16878
Come on guys, this is not a bug fix, this is a braking change in a minor-minor version! You have just effectively broken thousands of infrastructures!

[2016-08-24 11:03] geertn opened #17215 "Out of disk space condition gives error: 'temp_path' is not defined"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

core assembly
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Using ANSIBLE_KEEP_REMOTE_FILES=1:
fatal: [tw0]: UNREACHABLE! => {"changed": false, "msg": "mkdir: cannot create directory '/home/x/.ansible': No space left on device\n", "unreachable": true}
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

When running ansible on a machine which

[2016-08-24 11:06] kerneldemon commented on #16878
I have to agree with @emanuelis on this one.
Including this backwards incompatible "bugfix" in the next patch version is an exceptionally bad decision.

[2016-08-24 11:53] amarao opened #17216 "option to disable '-n' flag for sudo"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible/sudo
##### ANSIBLE VERSION

ansible 2.1.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o override
##### CONFIGURATION

(no changes)
##### OS / ENVIRONMENT

Linux with pam_ssh_agent_auth.so
(auth       sufficient pam_ssh_agent_auth.so file=/etc/ssh/sudo_authorized_keys in /etc/pam.d/sudo)
##### SUM

[2016-08-24 13:50] parsley42 commented on #16597
Quick "me too" - using ansible 2.2.0 (devel 384a01fcff) last updated 2016/08/22 18:52:04 (GMT +000)
I was using the yum module with name={{ extra_packages }}, but it was just reporting Ok with no change if there was a bad package in the list.

[2016-08-24 13:56] bcoca commented on #17214
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

The 2 is not in the output, so it fails as the condition is True (False or True).
The condition seems to be evaluating correctly, the condition will fail unless 1 AND 2 are in stdout.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list

[2016-08-24 13:56] #17214 closed, assigned to nobody

[2016-08-24 14:00] bcoca commented on #17216
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

You can already customize the flags for sudo using `sudo_flags` (default `-H -S -n`) in ansible.cfg or ANSIBLE_SUDO_FLAGS environment variable or the equivalent 'become' versions.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or t

[2016-08-24 14:00] #17216 closed, assigned to nobody

[2016-08-24 14:06] brianshumate opened #17217 "Incorrect path in error message"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-playbook
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Error message contains wrong path reference:

[code]

Shouldn't the message be:

[code]

i.e. **defaults/main.yml** vs. _default/main.yml_
##### STEPS TO REPRODUCE

No idea; not sure why I am getting this weird error in the first

[2016-08-24 14:12] brianshumate commented on #17217
Looks to already be fixed in the `devel` branch, so I'll close this issue.

[2016-08-24 14:12] #17217 closed, assigned to nobody

[2016-08-24 15:56] bezgubov commented on #14358
+1

[2016-08-24 16:04] tommarshall commented on #16443
I just ran into this in a multiline yml string in `host_vars` on `2.1.1.0`.

The randomly generated output from https://api.wordpress.org/secret-key/1.1/salt/ contained `{#`.

[code]

Downgrading to `1.9.6` or replacing `{#` resolves the error.

[2016-08-24 17:13] Pablohn26 commented on #16365
Same problem here:

On Fedora

[2016-08-24 17:15] diego-treitos commented on #15988
Same here:

[code]

Installed also from the ansible PPA on ubuntu 16.04.

[2016-08-24 17:57] #15331 closed, assigned to abadger

[2016-08-24 18:05] abadger commented on #15331
Merged to devel and the stable-2.1 tree.  Not sure yet if it will be in the 2.1.2 release.  That depends on whether we have other fixes that require a 2.1.2rc2.

[2016-08-24 22:33] dagwieers commented on #16443
Not sure what we need to do to give this a higher priority to get this fixed in v2.2 ?

:+1:

[2016-08-25 01:01] stonier commented on #12353
Just to elaborate, this was not blocked or rejected, rather because of time/development/release issues. So working on a PR for this feature might still be worthwhile.

[2016-08-25 02:55] odyssey4me opened #17236 "Enhancement Request: Provide a spine-leaf group_var resolving mechanism"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

Inventory
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

With a set of groups structured like the following:

[code]

When a group_var is set in `monitoring_all` and the same var is set in `monitoring_agents` a deployer may expect that the leaf variable setting will win, but the deployer would

[2016-08-25 03:21] fallencliff opened #17237 "execute any module returns MODULE FAILURE except raw module"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

any module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

remote_tmp     = /tmp/${USER}/ansible
host_key_checking = False
timeout = 30
scp_if_ssh = True
ANSIBLE_KEEP_REMOTE_FILES=1
##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.0 (Maipo)
##### SUMMARY

execute any module returns MODULE FAILURE except raw module
##### STEPS

[2016-08-25 03:26] fallencliff commented on #17237
this happens on the remote host which is SUSE Linux Enterprise Server 11 and Python 2.6 ;
and i try to run the command script on remote hosts manually with pdb, it returns Segmentation fault on the import even before main();

[2016-08-25 04:11] rezastd opened #17238 "Ansible on Jenkins use wrong ansible.cfg file"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
roles_path            = ./roles
gathering             = smart
stdout_callback     = default
callback_whitelist     = profile_tasks
nocolor                = 0
pipelining            = True
host_key_checking    = False
inventory    = environment/mensa_project
allow_world_readable_tmpfiles   = True

##### OS /

[2016-08-25 04:59] davidwhthomas commented on #15321
For me, I had an .ssh/config entry for my user to match to the remote hostname.

[code]

I could SSH directly to the server with `ssh servername`

However, with Ansible, I needed to add the `-u` parameter to the deploy command:

`ansible-playbook -vvvv -i poc book_deploy.yml --ask-vault-pass --ask-become-pass -u username`

After that, could deploy ok.

A little odd it didn't use the .ssh/config fi

[2016-08-25 08:46] zarnovican commented on #15621
Hi,

I'm not a Python developer, so this is just PoC implementation on 2.0.2, no tests, no doc update.

[code]

It is used as follows:

[code]

[2016-08-25 09:19] lgabo commented on #16266
Maybe useful for others what I found out:

My Environment:
Windows 7 Professional, Powershell 4.0
Oracle Linux Server release 7.1, ansible-2.1.0.0-0.git201605271344.2452bd2.stable21.el7.centos.noarch, python-2.7.5-34.0.1.el7.x86_64

I wanted to win_copy a file about 140MB to windows machine, the win_copy made always 445 PUTs x 250000 bytes then stucked which ended after DEFAULT_READ_TIMEOUT_SEC. S

[2016-08-25 09:39] lhoss commented on #15218
Just lost >1hour till I figured out that something with the `when` statement was inconsistent in one of our playbook handlers (later I knew it wasn't handler specific, just 'when' )

Finally found this thread and I confirm another inconsistency, one should be aware of when setting a boolean variable through the cmd-line (`-e`). Here even using the uppercase (`False`) boolean didn't help (only usin

[2016-08-25 10:07] jhawkesworth commented on #16266
Thanks @lgabo for your analysis.
I'm going to re-open this as I'm not sure if @nitzmahone would see this issue in closed state, just for info.
It might be that the remoting setup script could be tweaked (optionally) to increase max envelope size and likewise the buffer size in winrm.py changed.  However I've not dug into this nearly as much as @nitzmahone so not sure of the implications of upping

[2016-08-25 12:27] basharov opened #17242 "pip install ansible fails on trying to find cc for compiling _openssl in CoreOS"
I have installed python and pip inside my CoreOS.
Now I run `pip install ansible` and things start rolling, it downloads some libs, writes and copies.

Then it tries to compile _openssl library which, I assume, is used by ansible.

As there are no C compilers in CoreOS, it fails with this error:

As I see, it's cryptography package. When I try to install it with pip as `pip install cryptography`,

[2016-08-25 13:26] khateeb15 commented on #14151
is there a way to execute a script that lives only in the remote (other than using command)?

[2016-08-25 13:36] mping opened #17243 "Ansible group_vars from inventory don't support repeated hosts"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Inventory Group Vars
##### ANSIBLE VERSION

[code]
##### SUMMARY

Ansible group vars are being determined by host looking, and don't take account that a host may be in two different groups and have different vars per group.
##### STEPS TO REPRODUCE

Using the following inventory:

[code]

and running the command:

[code]
##### EXPECTED RESULTS

I

[2016-08-25 13:44] jhawkesworth commented on #17242
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-08-25 13:44] #17242 closed, assigned to nobody

[2016-08-25 15:12] n3ziniuka5 commented on #14413
@sayantandas does the solution still work for you? I am using ansible 2.1.1.0 and get the following:
`UNREACHABLE! => {"changed": false, "msg": "SSH Error: data could not be sent to the remote host. Make sure this host can be reached over ssh", "unreachable": true}`

[2016-08-25 15:55] davidlt commented on #16365
Hit he same on Fedora 23:

[code]

[2016-08-25 16:30] abadger opened #17246 "Vault bytes <=> text string API"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

lib/ansible/parsing/vault/**init**.py

unittests for vault
##### ANSIBLE VERSION

[code]
##### SUMMARY

The new vault API is mixing bytes and text in inappropriate ways.

In working on enabling unittests for Python3, I came across the fact that vault unittests were skipping a lot of tests depending on whether they were running on python3 or pytho

[2016-08-25 16:50] nitzmahone commented on #17205
Sure, why not? I'd probably just call the filter `add` (might as well do `subtract` `multiply` and `divide` for completeness sake)- go ahead and file a PR, should be nice and simple...

[2016-08-25 17:02] nitzmahone commented on #17215
Might be an easy fix to the ansiballz wrapper, but surprised that mkdtemp() isn't giving us the "out of space" error (and in fact possibly is failing silently?)...

cc @abadger

[2016-08-25 17:25] nitzmahone commented on #17236
This is a big enough thing that if you really want to see discussion/action on it, I'd suggest writing a [proposal](https://github.com/ansible/proposals/), and come to one of the IRC [meetings](https://github.com/ansible/community/blob/master/MEETINGS.md) to advocate for it.

[2016-08-25 17:27] nitzmahone commented on #17237
If you run ansible with ANSIBLE_KEEP_REMOTE_FILES=1 envvar set and `-vvv`, you can see the location of the tempfiles we drop and run. Curious if you are able to reproduce this while logged in locally, as it seems the python on your target host has issues if it's segfaulting. Not sure there's anything we can do about that...

[2016-08-25 17:43] nitzmahone commented on #17243
Normally group vars are applied alphabetically (last writer wins), and if I change the group names in your sample to "a" and "b", I get the expected behavior. However, using "app1" and "app2" reproduces the behavior you describe, which is ... weird.

[2016-08-25 17:45] nitzmahone commented on #9391
closing for inactivity

[2016-08-25 17:45] #9391 closed, assigned to nobody

[2016-08-25 17:49] robinro commented on #17105
The implicit inclusion of localhost might lead to problems with ansible-pull, see https://github.com/ansible/ansible/issues/13681. Please ensure to not regress there.

I also feel that is better design to explicitly require localhost in inventory/limit as in 2.0. Changing that behavior might break existing 2.0 uses, where using limit was used to exclude localhost.

[2016-08-25 17:52] djowett commented on #14383
This was awkward for me, my eventual workaround used a `local_action: shell cat` instead of the `with_fileglob`, like this:

[code]

maybe this helps @sboulkour and others?

[2016-08-25 17:59] robinro commented on #17042
I like the general idea, but am not sure how to best set it up.

You can already now implement a workaround: use `check_mode: no` (or `always_run: yes` for <2.2) in combination with `when: ansible_check_mode` to specify dry-run versions of your shell commands. See http://docs.ansible.com/ansible/playbooks_checkmode.html for the general uses.

[2016-08-25 18:43] yvhora commented on #15976
@abadger - Do we have any update on the ansible release 2.2 ?  Will the shell module work with Python 3.5?

[2016-08-25 18:44] nitzmahone commented on #16266
IIRC from my own messings around with this, adjusting the envelope size + buffer size just kinda moves the problem around (changes the failure mode)- it's ultimately an issue down at the SSL protocol level. We've got it happening on OSX, Ubuntu and RHEL-flavored control systems. I'd be curious to try it with a Python built against LIbreSSL instead of OpenSSL (since OpenSSL is still the common deno

[2016-08-25 20:17] jhawkesworth commented on #16266
Fair enough, since its protocol level and there are a couple of workarounds (tweak envelope/buffer or win_get_url instead of win_copy) it seems like there's not much point  in having this as an open bug.

[2016-08-25 20:32] nitzmahone commented on #16967
@sunyaxiong This can't possibly be the current version of win_user. @bcoca is correct- this functionality has been around for a long time, and that error message was changed in 2014 in [this commit](https://github.com/ansible/ansible-modules-core/commit/3a40d79cff8332d2cbb0f418d6a450d3b7f70360). Please check that you're running a reasonably current version of Ansible and that you don't have a stal

[2016-08-25 20:32] #16967 closed, assigned to nitzmahone

[2016-08-25 20:46] nitzmahone commented on #16266
If we can definitively show it's the Windows side that's getting wedged (eg, if we can get it to fail the same way with LibreSSL too), we can file a bug on it with Microsoft, though it may not help much for most of the world...

[2016-08-25 21:25] nitzmahone commented on #16814
How are you running this- via the script module? Are you passing args to it from Ansible? I'm failing to see from your report how Ansible's involved...

[2016-08-25 21:47] muxator commented on #17205
Hi, I have created PR #17251.

The implemented functions are:
- `add`
- `subtract`
- `multiply`
- `divide`
- `modulo`

I have also updated the documentation, trying to mention that these filters won't be available in older Ansible versions.

[2016-08-25 22:41] abadger commented on #17185
This is happening due to this commit: 159aa26b36a6455ebc38d527c294c60899892c04  which changed the value of serial to a list to implement a new feature.
\cc @jimi-c to take a look at whether the feature can be reconciled with this bug.

[2016-08-25 22:51] #17185 closed, assigned to jimi-c

[2016-08-25 23:14] jimi-c commented on #17185
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-08-26 00:11] jinlee commented on #15408
Seeing a similar issue.

I have one playbook. It launches an ec2 instance, runs a batch task, and then shuts it down. Roughly, something like this:

[code]

I'm seeing that the last role does not get executed. The output does not indicate that the host is skipped or empty.

[2016-08-26 01:11] ozbillwang commented on #14721
@alikins

Nice job, it has been merged.

[2016-08-26 05:43] ghost commented on #17043
Hi there,
any ideas?

[2016-08-26 08:01] hryamzik opened #17256 "until behaviour changed and partly broken"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

until
##### ANSIBLE VERSION

[code]
##### SUMMARY

Pause module stopped working with `until`.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Working prompt.
##### ACTUAL RESULTS

[code]

That's reproduced with other modules as well. Worked fine with ansible 2.1.0.0.

[2016-08-26 08:07] atoz7 commented on #14369
hello,

i encountered the same problem on debian/stable with a recent ansible version 2.1.1.0

regards,
a

[2016-08-26 09:06] rawbertp commented on #15687
It says somewhere that this was cherry-picked to stable-2.1 but I cannot find this commit ( 438ed70a4373f1035ae90a042bc745791b40fa76) in the stable-2.1 branch.

Actually, we're  still encountering this very issue in stable-2.1 as well as in 2.1.1.0-1.

Even though "task_includes_static = 0" is set in the ansible.cfg task includes are treated as static unless the name contains a variable or "static

[2016-08-26 09:07] nneil opened #17258 "Do Until "attempts" key is missing"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Loops
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Do Until documentation says:

But the attempts key is missing
##### STEPS TO REPRODUCE

[code]

[2016-08-26 09:33] mping commented on #17243
That is weirder than I thought :)

[2016-08-26 13:15] bcoca commented on #17105
dupe of #17012

[2016-08-26 13:15] #17105 closed, assigned to nobody

[2016-08-26 13:16] bcoca commented on #17012
as pointed out by @robinro in dupe ticket, reverting this behaviour breaks ansible-pull #13681

[2016-08-26 13:32] Qalthos commented on #15702
This should be complete with #15736.

[2016-08-26 13:32] #15702 closed, assigned to Qalthos

[2016-08-26 14:05] wernerflamme commented on #16365
Same on my openSUSE Leap 42.1 and SLES 11 SP4, both running ansible 2.1.1.0

Both parameters were commented, i disabled the comments now.
`retry_files_enabled = False`
`retry_files_save_path = ~/.ansible-retry`
If retry_files_enabled was False by default, the `save_path` shouldn't matter anyway. But it does, the error is printed unless `enabled` is set to `False` explicitly. So both parameters see

[2016-08-26 14:14] abadger commented on #17256
Thanks for reporting this!  The problem has been fixed in the stable-2.1 branch and should be in the 2.1.2 release which is currently going through release candidates:

[code]

The PR fixing it is here: https://github.com/ansible/ansible/pull/16963

The 2.1.2 release candidate tarballs are available here: https://releases.ansible.com/ansible/ in case you want to test that this problem will be fixe

[2016-08-26 14:14] #17256 closed, assigned to nobody

[2016-08-26 15:43] caDevOps commented on #16927
Ditto for me.  :/

[2016-08-26 15:46] abadger opened #17260 "Evaluate fix for "Text file busy" exception in atomic_move for stable-2.1"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

module_utils/basic.py   atomic_move
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Managed machine is windows based vboxfs
##### SUMMARY

When running against a client whose underlying filesystem is not POSIX compliant we can end up with issues because we cannot rename a file which is open.  We've merged a fix for this to devel https://git

[2016-08-26 16:12] caDevOps commented on #16878
wtf? my playbooks are broken due to this "upgrade"!

[2016-08-26 16:32] jensolsson commented on #15459
I have the same issue, have tried numerous version > 2.0. No errors or even warnings, but the msi is never installed.
Works when I downgrade to Ansible 1.9.

[2016-08-26 16:40] chinni505 commented on #16784
thanks, after exclude ap-south-1 into ec2.ini.

[2016-08-26 17:25] archf opened #17263 "ansible variables group_names and group_names from hostvars have different content when printed"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Facts gathering and inventory variables.
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Vanilla.
##### OS / ENVIRONMENT

Ubuntu 16.04 (managing localhost)
##### SUMMARY

Difference in group_names from `hostvars` vs `group_names`.
##### STEPS TO REPRODUCE

For this given inventory:

[code]

And this play:

[code]

Invoking like such:

[code]
#

[2016-08-26 17:35] bcoca commented on #17263
This was due to bug or localhost always being added again to inventory, should be fixed in devel and upcoming 2.1.2 (rc1 is already out).

[2016-08-26 17:35] #17263 closed, assigned to nobody

[2016-08-26 18:28] adamyala commented on #15147
For posterity, if you are creating a new db or a new user, you must become the `postgres` user. I was trying to do this as root and I kept getting the error. Working example below.

[code]

[2016-08-26 21:30] phemmer opened #17266 "properly support passlib module in password_hash"
##### ISSUE TYPE
- Feature Idea
- Documentation Report
##### COMPONENT NAME

`password_hash`
##### ANSIBLE VERSION

2.1.1.0-1
##### SUMMARY

The `password_hash` filter has been updated to support the `passlib` python module (as can be seen here: https://github.com/ansible/ansible/blob/v2.1.1.0-1/lib/ansible/plugins/filter/core.py#L279).
However:
1. [The documentation](https://docs.ansible.com/ansi

[2016-08-26 22:48] stevekuznetsov commented on #13619
@bcoca
As long as this issue is one of  the top hits on Google for this query term, might be nice to document what to do in this case (even if the documentation is just a link!)

[2016-08-26 22:50] muxator opened #17267 "Implement string_prefix() and string_suffix() filters"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

Custom Jinja filter
##### ANSIBLE VERSION

[code]
##### SUMMARY

With #17205 and #17251 we are trying to enable simple manipulations on list of integers through Jija `map()` filters.

A similar necessity can arise with string manipulation.
This is a short example (Zookeeper installation, real life):

Inventory file:

[code]

I need to generate

[2016-08-26 22:56] muxator commented on #17205
In the spirit of this change, I am also proposing #17267 (`string_prefix` and `string_suffix`).

That functionality can be achieved by advanced users using `regex_replace` anyway, but maybe it makes sense to use simple functions for simple use cases.

[2016-08-26 23:06] jm-welch opened #17268 "inventory_hostnames lookup doesn't support wildcards in patterns"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

inventory_hostnames lookup plugin
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

**ansible.cfg**

[code]
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

When using wildcards in patterns with the `with_inventory_hostnames` lookup plugin, no results are returned. Using explicit patterns (`all:!web`) works.

There are scenarios where we want to

[2016-08-27 00:02] charlienewey commented on #17136
I'm having a problem similar to this myself - matching multiple directories with a file glob.

I think this should work; some testing in various UNIX shells (bash, sh, zsh) and in the Python `glob` module itself seems to show that the following glob pattern:

[code]

will *just* match directories under `some/path`. Oddly, Ansible doesn't seem to reflect this behaviour.

[2016-08-27 00:21] charlienewey opened #17269 "with_fileglob not matching *just* directories"
##### ISSUE TYPE

 Bug Report
##### COMPONENT NAME

with_fileglob
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

nil/defaults
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

Directories not being matched under file glob. This should be possible; some testing in various UNIX shells (bash, sh, zsh) and in the Python `glob` module itself seems to show that the following glob pattern:

[code]

[2016-08-27 00:36] charlienewey commented on #17269
Update: I can get this to work as expected by using the following:

[code]

[2016-08-27 01:41] brandonheller commented on #15706
+1

[2016-08-27 04:54] jimi-c commented on #15687
This will be included in 2.1.2.

[2016-08-27 05:49] alex94040 opened #17273 "Hanging on Gathering Facts / Connection Phase"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ssh connection plugin

##### ANSIBLE VERSION
1.9.4

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I keep beating my head against the wall - a few days ago, ansible stopped being able to connect to one of my boxes. It just hangs after the output below. The only stuff I've done to the box recently is to do apt-get upgrade... Nothing else

[2016-08-27 10:55] xenithorb commented on #14857
Sorry to pry but:
1. I keep running into problems like this where I have to leave workarounds in my roles to actual ansible bugs. Am I using too recent of a version in Fedora? Is this issue present in all lesser versions to `2.1.1` as well?
2. What exactly _is_ the best practice way to workaround this? Understand that my mentality is that while _I could_ patch my local copy of `ansible`, I want my

[2016-08-27 12:40] abellmann commented on #17273
I solved a similar issue by increasing the memory of my ansible controller machine. perhaps this might help?

[2016-08-28 06:28] vbotka opened #17275 "Travis build status is missing"
Travis build status is missing in galaxy.ansible.com roles' details when the link is in the title of README.md [1]. All works fine when the link is in the text body [2].

[1](WRONG)

[code]

[2](OK)

[code]

[2016-08-28 11:29] ktosiek commented on #14665
To anyone reporting it's still an issue: the Ansible team doesn't look at closed issues too often.
If you can reproduce the problem on current or development version, report it as a separate issue.

[2016-08-28 15:03] vbotka commented on #17275
I found the real problem. By mistake meta file contained github_branch: release, but there was no release branch in the git. Switching to github_branch: master all is right.

Sorry for the noise. Closing.

[2016-08-28 15:03] #17275 closed, assigned to nobody

[2016-08-28 15:05] vbotka commented on #17275
Closed as invalid.

[2016-08-28 15:18] vbotka commented on #13745
Thank you for the comment.  As a first step in FreeBSD I change the login shell for ansible_user to /bin/sh . Then all is right.

[code]

[2016-08-28 22:09] thiagomgo opened #17276 ""with_subelements" has major precedence than "when""
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Linux Mint 18 Sarah
##### SUMMARY

I'm trying to do a role to create an user, for this role is not mandatory to have an authorized key. So when the authorized_keys is empty get an error, but if I fill out authorized_keys field and set to don't put a authorize

[2016-08-28 23:42] nadavkav commented on #16874
I am getting the same error, trying to copy a template into a NFS mount
Disabling SELinux... everything works fine

[2016-08-29 09:40] tux-00 commented on #16703
Similar thing here with: ansible 2.2.0 (devel a9d5bf717c) last updated 2016/08/29 10:42:19 (GMT +200)

Directory and file tree:

[code]

main.yml:

[code]

new_user.yml:

[code]

_user_name_ and _user_password_ are defined in _group_vars/satellites.yml_.

**Result**:

[code]

[2016-08-29 10:35] pangpeng opened #17280 "how to 2.0 API use copy mode"
`#!/usr/bin/env python
# -_\- coding: UTF-8 -_-

from collections import namedtuple
from ansible.parsing.dataloader import DataLoader
from ansible.vars import VariableManager
from ansible.inventory import Inventory
from ansible.playbook.play import Play
from ansible.executor.task_queue_manager import TaskQueueManager
from ansible.plugins.callback import CallbackBase
# Create a callback object so w

[2016-08-29 10:43] pangpeng commented on #17280
play_source = {
    'gather_facts': 'no',
    'tasks': [{
                'action': {
                            'args': {
                                'cmd': 'uptime'
                            },
                            'module': 'command'
                          }
            }],
    'hosts': ['10.14.86.177', '10.14.86.178'],
    'name': 'Ansible Play'
}
i want use copy mode.
if **na

[2016-08-29 10:55] ariep commented on #16855
Not sure why this still has the needs_info label. Anything more I can do to help?

[2016-08-29 11:27] bmillemathias opened #17281 "VMWare inventory fails on UnicodeDecodeError exception"
- Bug Report
##### COMPONENT NAME

contrib/inventory/vmware_inventory.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

nothing changed
##### OS / ENVIRONMENT

ubuntu 12.04 / ansible installed from pip
##### SUMMARY
##### STEPS TO REPRODUCE

I launched the inventory script just to test the functionnality, I didn't modify the ini file that comes with it except to set the proper server and passw

[2016-08-29 13:00] bcoca commented on #17280
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible-devel on irc.freenode.net
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-devel
- mailing list: h

[2016-08-29 13:00] #17280 closed, assigned to nobody

[2016-08-29 13:16] bcoca commented on #16703
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

So `when` CANNOT handle undefined variables inside a `with_` as it executes per `item` in the `with_` to allow for conditional iterations of the loop.

includes do not normally execute a `when`, they pass it on to the included tasks and append to any existing conditionals, which triggers the s

[2016-08-29 13:16] #16703 closed, assigned to nobody

[2016-08-29 13:46] rawbertp opened #17282 "'default' filter not working with parent playbook variables"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Playbook includes / 'default' filter
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

n/a
##### SUMMARY

When using the "default" filter vars passed on to included playbooks do not work as expected when used within "when: " conditions.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[2016-08-29 13:47] lnyberg opened #17283 "when statement in vars_promt does not work ?"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

vars_promt
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

when row in vars_promt section in my playbook seems to have no effect
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect the playbook to prompt for the gw variable only id ask varaible is provided as extra-vars on commandl

[2016-08-29 13:50] bcoca commented on #17283
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

As you have discovered, `when` is NOT a feature available to `vars_prompt`, you might want to look into the `pause` module to get this type of functionality.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC:

[2016-08-29 13:50] #17283 closed, assigned to nobody

[2016-08-29 13:54] lnyberg opened #17284 "Tab on empty line in playbook give syntax error."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

playbook
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

One or serveral tabs on an empty playbook givs an syntax error
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-08-29 13:57] lnyberg commented on #17283
Ok, but then it should notice about that or give an syntax issue, i have been debugging for half a day soon.
But thanks for the hint.

[2016-08-29 14:59] AseemKumar opened #17285 "Kerberos issue - Can't find client principal *** in cache collection"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

kerberos (1.2.4), pykerberos (1.1.13), pycrypto (2.6.1), pywinrm (0.2.0)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default config
##### OS / ENVIRONMENT

Ansible on Ubuntu, trying to manage windows servers
##### SUMMARY

Many a times, kerberos stops to work. I am able to get a ticket and a cache file gets generated but ansible output sa

[2016-08-29 16:31] bmillemathias commented on #17281
printing the object `instances` I can see this kind of values in the output
    `'vmxconfigchecksum': '\x87\x88B\x18\x8c\xed13v\xc1\x11\x01\x07m\x93\xfb)\x914\xe0'`

[2016-08-29 16:47] ryansb commented on #17284
This doesn't seem to be an Ansible bug at all, but rather the expected behavior of the YAML parser.

[2016-08-29 16:47] #17284 closed, assigned to nobody

[2016-08-29 16:54] dreamcat4 commented on #13748
+1. This module has never worked for me either on windows 10 pro

[2016-08-29 17:00] dreamcat4 commented on #14386
Same problem as you. In the end I manually downloaded the DotNet3.5 as the file `microsoft-windows-netfx3-ondemand-package.cab`. And put it on a local HTTP fileserver.

Then:

[code]

[2016-08-29 18:45] jbristow0 commented on #16597
I am having this same issue.  I'm running my playbook against 3 different OSes: CentOS 6, CentOS 7 and SLES 12.  Sles12 correctly reports "No provider of ...", where the CentOS systems mark the task as ok, and then quits on the next play saying "NO MORE HOSTS LEFT".  Running Ansible 2.1.1

[2016-08-29 20:09] willowmck opened #17288 "Ansible will not find tasks in a playbook with hosts field set to 127.0.0.1"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

TaskQueueManager
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS/X 10.11.5
##### SUMMARY

We have a simple one task playbook that waits for port availability on localhost.  If we set the hosts field to 127.0.0.1, the TaskQueueManager will not find any tasks.  Changing this to localhost makes it work.  This used

[2016-08-29 22:23] xenithorb commented on #14248
+1

[2016-08-29 22:30] cameronkerrnz commented on #5250
For those who came here a-googling, note that the roles happen _before_ the tasks. For this reason, splitting it into two plays (two "hosts:"), can be preferable if you want to express linear ordering (without using roles throughout).

[2016-08-30 06:13] willthames opened #17297 "Documentation of static for task inclusion is non-existent"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

static includes
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

static/dynamic includes are basically undocumented voodoo.

There is no documentation about how includes work now - the implementation differs from the original proposal, and there is undocumented magic about which includes

[2016-08-30 07:19] gstaicu commented on #17258
The reported problem come from line 261 in /usr/lib/python2.7/dist-packages/ansible/plugins/callback/default.py.

If you change this line to: msg = "FAILED - RETRYING: %s (%d retries left, %d attempts done)." % (result._task, result._result['retries'] - result._result['attempts'], result._result['attempts'])

The output will be like:

PLAYBOOK: ansible-bug.play ************************************

[2016-08-30 07:20] SergeyBear commented on #14248
+1

[2016-08-30 08:10] akamensky opened #17298 "shell module behavior is not logical"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

shell module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

When execute command via shell module, the playbook by default fails when the command return code is not 0
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

All steps are reachable
##### ACTUAL RESULTS

Step 2 will never be

[2016-08-30 08:39] dimovnike opened #17299 "Stalled SSH connections"
- Bug Report
##### COMPONENT NAME

ssh connection handler
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

host_key_checking = False
timeout = 15
pty=False
connection=ssh
ssh_args = -oUserKnownHostsFile=/dev/null -oStrictHostKeyChecking=no -oControlMaster=auto -oControlPersist=60s -oControlPath=/root/.ansible/cp/s-%h-%p-%r  -oTCPKeepAlive=yes
pipelining = True
##### OS / ENVIRONMENT

CentOS rele

[2016-08-30 08:49] pscadiz opened #17300 "Ansible 2.1.1 not getting other extra vars"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible playbooks
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Centos 6.7 / Centos 7
##### SUMMARY

Variables passed in the command line no longer works with roles and ansible plays
##### STEPS TO REPRODUCE

command:

[code]

playbook.yaml:

[code]

role:

[code]
##### EXPECTED RESULTS

Working as expected in ansible

[2016-08-30 08:55] nenych opened #17301 "KeyError: 'become_pass'"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

task_executor
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
log_path = /var/log/ansible.log
##### OS / ENVIRONMENT

ubuntu 16.04
##### SUMMARY

##### STEPS TO REPRODUCE

1) apt install python3-pip
2) pip3 install ansible
3) copy example from official documentation (" Python API 2.0 ") into file test.py
inside example  change path

[2016-08-30 09:55] prupert commented on #14498
I am just wondering if there is any progress on fixing this issue?

[2016-08-30 10:38] h0nIg commented on #17180
@jimi-c @alikins did you find the reason for this?

[2016-08-30 10:56] dimovnike commented on #17299
The main problem was in SSH. It seems that -oTCPKeepAlive=yes has no effect. However when using -oServerAliveInterval=10 -oServerAliveCountMax=3 i did not experience any stalling anymore.

It is still strange that it depends on the `serial` setting but its not that important anymore. I will close this now but if someone is interested in investigating it further I will be available.

[2016-08-30 10:56] #17299 closed, assigned to nobody

[2016-08-30 11:21] ijaveed commented on #17049
Is there anyone else who can help with this issue?

[2016-08-30 11:39] hryamzik commented on #13243
@bcoca do you have any ideas about the ETA for this feature?

[2016-08-30 11:42] holyjak commented on #14341
@bcoca Will you also update http://docs.ansible.com/ansible/copy_module.html etc to describe these rules? It would be awesome if you did. Right now it is impossible (?) to find out in the docs where copy looks for files that don't have an absolute path.

[2016-08-30 12:14] h0nIg commented on #17180
same behavior on the following:

**playbook:**

[code]

**testrole:**

[code]

**output:**

[code]

**expected output:**

[code]

[2016-08-30 12:16] robinro commented on #17298
`rc!=0` is a pretty logical criterion to determine when a command failed. Most commands indicate failure using the return code.

If your playbooks handles those cases itself, you can use `ignore_errors: True` or `failed_when: False`. The latter might be more obvious, since it modifies ansible's default criterion for failure of the module. Many people rely on this behavior, so it's very unlikely th

[2016-08-30 12:19] robinro commented on #17288
Please list your inventory here.

If you don't set the inventory yourself you rely on the default inventory, which changed between 1.9 and 2.x. Run `ansible-playbook -i 127.0.0.1, your_playbook.yml` to explicitly have the ip in the inventory (works also with 1.9).

This is not a bug, but a change in behavior to make other things (e.g. ansible-pull) more consistent. In general it's a good idea to e

[2016-08-30 12:19] wysekm commented on #14027
Is there any work being done on this? At the moment task and server names are displayed completely random. I don't believe that it's not bothering a lot of people. Can anything be done to move it forward?

[2016-08-30 13:35] sohel2020 opened #17307 "Register variables don't work across plays with different hosts"
playbook:

[code]

I'hv register **status** for /opt/bin/flanneld file. My intention is to use **status** variable for hosts **kubernete-deployer**. Base on status output I will add role for  kubernete-deployer.

playbook hosts file is:

[code]

I have used above configuration but no luck. **status** variable is not survive for  another host.

[2016-08-30 13:37] mscherer opened #17308 "Test suite fail on python3 for test_filters.yml"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

test
##### OS / ENVIRONMENT

Fedora 24
##### SUMMARY

test_filters.yml fail on python3 due to incorrect test.
##### STEPS TO REPRODUCE

trying to fix the test suite for python3 (or rather, the code), I stumbled on this failure:

[code]

Indeed, if I run by hand the command, I get that:

[code]

Since there is no order guaranteed for hash keys, bo

[2016-08-30 14:44] ryansb commented on #17298
Raising an error for non-zero return codes is intended behavior. As you mention, `ignore_errors` is a workaround and lets you handle the return code based on your criteria.

[2016-08-30 14:44] #17298 closed, assigned to nobody

[2016-08-30 14:46] ryansb commented on #17301
@abadger looks like some kind of py3-specific argument handling. Have you seen this?

[2016-08-30 14:50] sbocinec commented on #16612
I confirm i'm affected by the same behavior. Unless package 'libselinux-python' is installed on CentOS/RedHat 6 OS, ansible_selinux fact is returning misleading 'false' value even SElinux is enabled on the system.

This looks like an egg or chicken problem. I want to check 'ansible_selinux' fact value to decide whether or not the 'libselinux-python' package is required to be installed on the syste

[2016-08-30 14:54] bendoh commented on #14655
Ran into this problem too; similar to @staticfloat, I just did a null play before the play that needs `ansible_env`:

[code]

So the setup is run and facts are gathered before the second play at which point it's known.

[2016-08-30 15:08] MadelineRitchie opened #17311 "Documentation for configuring Windows management is missing 'ntlm'"
##### ISSUE TYPE

- Documentation Report
##### COMPONENT NAME

https://github.com/ansible/ansible/blob/devel/docsite/rst/intro_windows.rst
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible_user: zz_ansible@contoso.com
ansible_password: '{{ vault_ansible_password }}'
ansible_port: 5986
ansible_winrm_transport: ntlm
ansible_connection: winrm
ansible_winrm_server_cert_validation: ignore
####

[2016-08-30 15:18] pgmillon commented on #14655
Hi there,
I used the following workaround in a role :

[code]

[2016-08-30 15:44] youam opened #17313 "Delegation of service action fails when using different init systems"
Hello ansible devs,
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`service` action, as determined by `lib/ansible/plugins/action/service.py`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

nothing specific to this bug
##### OS / ENVIRONMENT

Debian stretch/testing on amd64, clients are wheezy systems running sysvinit and jessie systems running systemd.
##### SUMMARY

Depending on the gath

[2016-08-30 15:53] sohel2020 commented on #17307
Got the solution:

[code]

[2016-08-30 15:53] #17307 closed, assigned to nobody

[2016-08-30 16:35] tavisma commented on #13243
Its possible to have multiple Vault files via various means but i couldn't find any way to use multiple vault passwords/password files

[2016-08-30 16:57] jbscare commented on #17105
This isn't a dupe of #17012 -- I created this one specifically because I realized that #17012 was describing a different problem.

[2016-08-30 17:28] gotgenes commented on #14341
The `template` module docs also should have this information, or it should be described in basic documentation on Ansible, and the modules should link to this description.

[2016-08-30 18:12] stefano-m commented on #14415
Do you mean that https://github.com/ansible/ansible-modules-core/pull/3074 has not fixed this for you?

You should now get an error like

[code]

If not, I would suggest that you open a new issue on https://github.com/ansible/ansible-modules-core/issues and link it to this one.

[2016-08-30 18:39] n2aws commented on #17001
@jimi-c @alikins  I see this is still flagged with "needs_info"  however,  I have provided the info that was asked for.   Is there still info needed?

[2016-08-30 18:53] candlejack297 commented on #13274
Also getting this on a task

[code]

[code]

[2016-08-30 19:53] vikas-t commented on #17108
@ldgeorge85  The urllib2.urlopen() will return the response (result) only if the response code is between 200 to 300. You can check it here _https://github.com/python-git/python/blob/master/Lib/urllib2.py_
 This is the snippet

[code]

[2016-08-30 20:29] timw commented on #16990
It looks like 2.1.2 is on the plans now - can this be include?

[2016-08-30 20:36] dwcramer commented on #16767
@tima:  Setting `use_ssh_args` to `yes` solved the problem for me, though according to the docs `use_ssh_args` causes it to "Use the ssh_args specified in ansible.cfg". This confused me since I want it to use the value of `ansible_ssh_common_args` as specified in my inventory. My feeling is that the default for `use_ssh_args` should be `yes` so that it behaves like copy does by default.

[2016-08-30 23:09] jahern6 opened #17314 "after upgrade ansible appear some pyton errors"
##### ISSUE TYPE

- Bug Report
  ansible --version
  Traceback (most recent call last):
  File "/usr/bin/ansible", line 44, in <module>
    import ansible.constants as C
  File "/usr/lib/python2.7/dist-packages/ansible/constants.py", line 152, in <module>
    DEFAULT_LOCAL_TMP         = get_config(p, DEFAULTS, 'local_tmp',        'ANSIBLE_LOCAL_TEMP',      '$HOME/.ansible/tmp', istmppath=True)
  F

[2016-08-31 01:29] ghost commented on #5339
I also find out (Ansible-playbook 2.0.2.0) template module also leave the empty directory in remote_tmp directory

[2016-08-31 04:54] jhawkesworth commented on #5339
@hsienchengli I believe that the issue you are.seeing was fixed during the development of 2
1  please can you try ansible 2.1.1?

[2016-08-31 04:59] ghost commented on #5339
Thank you very much, unfortunately I cannot use 2.1.

I also encountered one problem using 2.1.0.0.  We tried to run it work RPM
package upgrade by yum (run yum on remote hosts), but it doesn't actual
upgrade the RPM package.  So we decide we stay 2.0.2.0 .

HC

jhawkesworth notifications@github.com 於 2016年8月30日星期二 寫道：

[2016-08-31 05:54] pujan14 commented on #17088
any updates?

[2016-08-31 07:24] jpcope commented on #16044
I ran into this one today as well.
jimi-c commented on https://github.com/ansible/ansible/issues/11707 that this should be fixed now on devel branch

[2016-08-31 07:44] mathieumd opened #17316 "gather_timeout is used by "ansible-playbook" but not by "ansible""
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Configuration `gather_timeout` in `ansible.cfg`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

`gather_timeout = 30` in `ansible.cfg`
##### OS / ENVIRONMENT

From Debian Stretch (testing) to Debian Jessie (8.5)
##### SUMMARY

I was caught by the bug #10779 and while trying to increase the timeout through `gather_timeout`, I noticed it worked

[2016-08-31 08:22] michaelw commented on #7844
still seeing the same behavior: hostvars are not template expanded:

[code]

[2016-08-31 09:15] nenych commented on #17301
Thanks for Your response. Solution is adding become_pass=None and docker_extra_args=None to options. After that i ran into new problems:  write() argument must be str, not bytes
To resolve first write case I had to change f.write(zipdata) to f.write(str(zipdata)) in 603's row inside  <python library>/ansible/executor/module_common.py
Unfortunately it was only one of many similar cases.

[2016-08-31 09:43] hryamzik opened #17318 "Feature request: pretty output for large structures in with_items"
##### ISSUE TYPE

- Feature Idea
##### SUMMARY

When running `with_items` on large objects output is overloaded. Ability to filter it out or print just some field would really save the game.

[2016-08-31 10:02] MortenGuldager commented on #15505
Bug seems to have returned.

Version 2.1.1.0

[code]

Play:

[code]

Run:

[code]

Problem line:

[code]

Hoped for something like:

[code]

[2016-08-31 10:22] bogdando opened #17319 "Ansible SSH transport sometimes hiccups if the network service restarted"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

SSH transport, ansible_ssh_pipelining related as well
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Debian 8.5, Ubuntu 16.04
##### SUMMARY
##### STEPS TO REPRODUCE

1) Create a handler to restart networking

[code]

2) trigger it from an example playbook with flush_handlers. Make sure:
- it runs for an inventor

[2016-08-31 10:46] rutsky commented on #15505
I'm reopening this issue, though I haven't verified @MortenGuldager case.

[2016-08-31 11:47] jimi-c commented on #17144
This was a duplicate of #16990, and was resolved in devel and now stable-2.1 via da3fd2d5880c813e412f509fe909c2094eb6b0cb. This will also be included in 2.1.2.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - fo

[2016-08-31 11:47] #17144 closed, assigned to nobody

[2016-08-31 11:50] djowett commented on #16776
I see similar when trying to use `ansible_host` in `delegate_to` (inside an include file)
Ubuntu trusty
Ansible 2.0.2.0 / 2.1.1.0

This include file

[code]

Gives output like this:

[code]

(From https://travis-ci.org/osiell/ansible-odoo/jobs/156480571)

[2016-08-31 12:04] jimi-c commented on #13634
@tersmitten sorry I never got back to this, but looking now I'm not seeing the issue in stable-1.9, stable-2.1, or devel. Is this still a bug for you?

[2016-08-31 12:50] jtognazzi commented on #16747
I also have the same problem. I posted a message on the mailing list but got no answer.
[My post](https://groups.google.com/forum/?fromgroups=#!searchin/ansible-project/roles_path%7Csort:date/ansible-project/zUW9yzn7sYU/_ppIOEWJAgAJ)

With ansible 2.1.1.0 we cannot use relative path en ansible.cfg roles_path

I tried to backport the fix mention in #14489 but it did not work for this issue.

[2016-08-31 13:35] hryamzik opened #17322 "Fail to access host_vars for host outside a play"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME
hostvars

##### ANSIBLE VERSION

[code]
##### SUMMARY

Let's say there're two hosts, `A` and `B`. Host `A` has a host variable that points to another one, like `some_var: "{{ original_var }}"`. `original_var` is clearly defined. Host `B` cannot access `some_var` but can reach the `original_var`. Even setup module doesn't help here, only gather_f

[2016-08-31 13:37] h0nIg commented on #17180
maybe related to the following issues:
https://github.com/ansible/ansible/issues/14411
https://github.com/ansible/ansible/pull/14826
https://github.com/ansible/ansible/issues/14702
https://github.com/ansible/ansible/issues/16729

[2016-08-31 13:38] guenhter commented on #16790
Also use Debian8.5 and get this message with ansible 2.11.

I've installed the following libs on a vanilla debian:

[code]

[2016-08-31 13:55] tersmitten commented on #13634
I'm still seeing this in `1.9.6`, `2.1.1.0` seems to work fine

[2016-08-31 14:16] jtognazzi commented on #16747
The behavior change seems to be related to this pull request #16088
precisely the change on file lib/ansible/constants.py

If I understand correctly the relativity of path is now based on where the config file ansible.cfg is.

I would really like to have the possibility to add roles path relatively to the execution and/or the playbook directory.

[2016-08-31 14:46] jimi-c commented on #17174
This is fixed in devel, however due to the fact that the patch does not apply cleanly to stable-2.1 this will not be included in 2.1.2.  This will be included in 2.2.0.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-pro

[2016-08-31 14:46] #17174 closed, assigned to jimi-c

[2016-08-31 15:01] jimi-c commented on #16990
@timw this was merged into stable-2.1 last night, and will be included in 2.1.2rc2 (due out today). Please test!

[2016-08-31 15:04] jimi-c commented on #7844
@michaelw this fix was included in 2.1.1.

[2016-08-31 15:06] jimi-c commented on #14027
@wysekm this is something we keep putting on the back burner. I'll make it a priority for 2.2.0.

[2016-08-31 15:07] #17013 closed, assigned to nobody

[2016-08-31 15:10] atlante77 opened #17324 "No Variable Substitution with dictionary key"
##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

[code]
##### STEPS TO REPRODUCE

defaults/main.yml

[code]

templates/ssh.j2

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2016-08-31 15:41] jimi-c commented on #14498
Hi @prupert, it appears this issue has been resolved in both stable-2.1 and devel. On both, the output is:

<pre>
$ ansible-playbook -vv 14498.yml
Using /etc/ansible/ansible.cfg as config file
PLAYBOOK: 14498.yml ************************************************************
1 plays in 14498.yml
PLAY [localhost] ***************************************************************
TASK [set_fact] ********

[2016-08-31 15:41] #14498 closed, assigned to bcoca

[2016-08-31 15:43] jimi-c commented on #17001
@palmerit sorry no more info needed, we just hadn't followed up with updating the labels.

Thanks!

[2016-08-31 16:00] riton commented on #15493
Same problem here with _v2.1.0.0_.

With a simple _vars_plugin_ such as:

[code]

and a very simple playbook such as:

[code]

I get the following output:

[code]

With ansible _v1.9.5_ everything works as expected:

[code]

After a quick look, in [the Inventory class](https://github.com/ansible/ansible/blob/devel/lib/ansible/inventory/__init__.py#L164), it seems that the `vault_password` is never

[2016-08-31 16:05] kal4l commented on #7353
I am experiencing this issue on 2.1.1.0.

[2016-08-31 16:27] mapuri commented on #17144
thanks, I will try it out !! :fireworks:

[2016-08-31 17:56] docschick commented on #15478
adding @dharmabumstead for good measure :)

[2016-08-31 18:44] FlorinAndrei opened #17329 "importing undefined environment variable results in empty string"
##### ISSUE TYPE

- Feature request
##### COMPONENT NAME

environment variables
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

In group_vars/all I am importing environment variables into Ansible variables. If the environment variables are undefined, I still get the Ansible variables, but they are set to the empty string.
##### STEPS TO

[2016-08-31 18:50] veereshkhanorkar opened #17330 "While using paramiko as connection via API, exception encountered: TypeError: sequence item 0: expected string, NoneType found"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

connection/paramiko_ssh.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY
##### STEPS TO REPRODUCE

An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/ansible/executor/task_executor.py", line 124, in run
    r

[2016-08-31 19:00] #1476 closed, assigned to nobody

[2016-08-31 19:15] jimi-c commented on #1476
I've gone ahead and merged this, so it will be a feature in 2.2. If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions about writing code

[2016-08-31 19:26] dagwieers commented on #1476
Thanks @jimi-c !

[2016-08-31 19:46] jimi-c commented on #17152
@digi691 the `meta_threading` branch was merged into devel today, which includes a change which I believe addresses your issue. Please let me know when you've had a chance to test the most recent version of devel to see if you are still running into this problem.

Thanks!

[2016-08-31 23:20] mscherer commented on #17314
It seems to be a local issue to your setup (like the disk is full and/or broken ), and I think that's more suitable for the mailling list  and/or irc. See https://docs.ansible.com/ansible/community.html#i-ve-got-a-question

So I am closing that issue, since that's for bug in the code more than direct help.

[2016-08-31 23:20] #17314 closed, assigned to nobody

[2016-09-01 08:25] akamensky opened #17341 "[BUG] Ansible playbook fails when ran with un-priviledged user"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

N/A (Core?)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When running as un-priviledged user it fails with error `OSError: [Errno 13] Permission denied: '/root/.ansible/tmp'`
##### STEPS TO REPRODUCE
1. Have Ansible installed and available in PATH (installed by root)
2. Switch to un-priviledged

[2016-09-01 08:34] shannara commented on #17137
I have a seem problem on Jessie container, but not on my host.
Same version a both (2.1.0.0).

On Debian Jessie

[code]

On Fedora 24

[code]

[2016-09-01 08:36] akamensky commented on #17288
You can use `- hosts: localhost`.

It will produce warnings, but will work.

[2016-09-01 08:38] arturaz opened #17342 "hosts file ranges fail if hostname starts with range"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

hosts file
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

N/A
##### SUMMARY

If you have hosts in following pattern: `1.foo.bar.com, 2.foo.bar.com, 3.foo.bar.com`, it is a syntax error to write `[1:3].foo.bar.com` in hosts file.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Evaluating hosts properly.
##

[2016-09-01 08:44] wysekm commented on #14027
@jimi-c Thanks. It would be really great if it gets released with 2.2.0!

[2016-09-01 08:45] xsteadfastx opened #17343 "ansible command ignore `ansible_connection` variable, sets it always to smart"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

The host is a ubuntu xenial and i try to access a windows 10 box.
##### SUMMARY

I discovered that in the latest ansible version  i cant use the ansible command itself for accessing a windows box. it always uses the connection type `smart` instead of the configurated `winrm` type. so `ansible

[2016-09-01 08:59] RuBiCK opened #17344 "Openstack dynamic inventory error running task ServerList"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

openstack dynamic inventory
https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/openstack.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

same openstack OS ENV variables than `/etc/openstack/clouds.yaml`
Please, note my openstack user doesn't have admin access.
##### SUMMARY

when I execute

[2016-09-01 09:16] Trozz commented on #16612
OK, as previously mentioned this is misrepresenting the fact that the selinux python package is missing, the cause of this is below

[code]

_https://github.com/ansible/ansible/blob/1139d61d59bdc4ca2113fb6f7f8a9b211f358e00/lib/ansible/module_utils/facts.py#L439_

The logic behind returning `False` rather than the json response is that a non-json blob should indicate there is an issue, I think that

[2016-09-01 09:17] ffledgling opened #17346 "Add support for sharing files/secrets with multiple users using Ansible Vault (gpg2 support)"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

vault
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Ansible Vault currently uses AES encryption with a password to share and store files. When the playbooks are shared and owned by a team, sharing a plaintext password is cumbersome, error prone and a possible security concern. It would be nice if vault added support f

[2016-09-01 09:38] jhawkesworth commented on #13748
@dreamcat4 - the module uses 'servermanager' which is only available on server versions of windows unfortunately.  The name is probably not the best choice, but I think it would probably be best to have separate win_optional_feature and/or win_dism modules to handle these other ways of installing features at this point, rather than over load the existing win_feature module with lots of logic to ge

[2016-09-01 10:12] willowmck commented on #17288
Yes, we are using localhost now which works.  But, the documentation took us down the wrong path.

[2016-09-01 10:32] dakky opened #17347 "Python 3.5.2 vs Ansible 2.1.1.0"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-playbook
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
hostfile            = ~/ansible-cfg-mgmt/hosts
roles_path          = ~/ansible-cfg-mgmt/roles
vault_password_file = ~/.ansible.vault
remote_user         = ansible
##### OS / ENVIRONMENT

Managements Host: OSX 10.11.6 python installed via pyenv

[code]
##### SUMMARY

Pl

[2016-09-01 10:43] RuBiCK commented on #17344
Trying the same with admin credentials works fine.
It is supposed that a normal user with permissions for one tenant should get all the information within the tenant.
I couldn't find the specific  code that generate this error to compare why normal user can't get the information

[2016-09-01 12:10] jimi-c commented on #13634
Ok, unfortunately 1.9.6 is only getting security fixes at this point, so you'll have to continue using your workaround unless you upgrade.

[2016-09-01 12:33] tersmitten commented on #13634
No worries, the workaround is just fine and we stopped using `group_by` a while ago

[2016-09-01 12:33] #13634 closed, assigned to nobody

[2016-09-01 13:53] jimi-c commented on #17180
There was a bug introduced in 2.1.1 I believe, relating to static vs. dynamic includes, which was fixed in devel. Unfortunately that fix was related to the performance improvements work we were doing recently, and it's not back-portable to the stable-2.1 branch. I'll continue looking into this to see if there's a different way to fix it.

[2016-09-01 13:56] jimi-c commented on #7353
@kevcgrant please open a new issue for this, as it's probably not related to this old issue.

[2016-09-01 14:33] antoineco opened #17349 "Ansible randomly fails to connect to hosts behind bastion unless SSH connexions are still running in the background"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ssh connection plugin
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT
- OS X 10.11.6  - OpenSSH_7.3p1, OpenSSL 1.0.2h
- Ubuntu 16.04 - OpenSSH_7.2p2 Ubuntu-4ubuntu1, OpenSSL 1.0.2g-fips
##### SUMMARY

Ansible randomly fails establishing SSH connections to hosts within a playbook without showing any OpenSSH related

[2016-09-01 14:39] antoineco commented on #17349
#### Extra info

The playbook execution goes through when the option `-c paramiko` is passed on the command line.

[2016-09-01 15:01] jimi-c commented on #15192
# Closing This Ticket

Following up on this issue. In both stable-2.1 and devel, with both static and dynamic includes, the RC is non-zero for this situation (1 or 2 for the dynamic include, and 4 for a syntax error in the static include.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists,

[2016-09-01 15:01] #15192 closed, assigned to nobody

[2016-09-01 15:18] PeterMartini opened #17350 "Revisiting realtime stdout/stderr"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

Realtime stdout/stderr capture
##### ANSIBLE VERSION

devel
##### OS / ENVIRONMENT

Various *nix
##### SUMMARY

I'd like to revisit #3887, collecting realtime stdout/stderr.  The last comment there pointed out the difficulties of feeding the output back to the ansible command layer, which I fully understand, so I have a counterproposal (and a

[2016-09-01 15:26] bcoca commented on #15493
So the vars plugins should NOT get the password, they should defer to the data loader to deal with encrypted files.

[2016-09-01 15:38] bezgubov commented on #15706
+1

[2016-09-01 16:33] nitzmahone commented on #17276
This behavior is by design- `when:` conditions are evaluated on each item. Off the top of my head, maybe try using a templated value with default, eg:

[code]

[2016-09-01 16:33] #17276 closed, assigned to nobody

[2016-09-01 16:35] nitzmahone commented on #17285
You shouldn't be using kerberos + pykerberos together, just pykerberos. Not sure if that's related or not, but I've not seen this behavior before. What do you have to do to recover?

[2016-09-01 16:44] nitzmahone commented on #17322
Can you post/gist an actual repro? I'm having trouble understanding the problem from the description.

[2016-09-01 16:49] nitzmahone commented on #17329
The explicit empty string behavior is by design and would likely break a lot of stuff if we changed it now- perhaps an enhancement for a new arg to the env lookup to allow for Jinja2 undefined to be returned, eg, something like: `{{ lookup('env', 'MY_BOGUS_ENVVAR', allow_undefined=true) }}`

[2016-09-01 16:50] nitzmahone commented on #17330
Can you post the paramiko version you're using from `pip list` (or elsewhere)?

[2016-09-01 16:56] nitzmahone commented on #17341
You haven't told us how you installed ansible or what OS you're on. I'm guessing it's an issue with a default /etc/ansible.cfg that's referencing /root...

[2016-09-01 16:58] Yannig opened #17352 "bug report: action_plugins regression in _fixup_perms"
##### COMPONENT NAME

_fixup_perms in **lib/ansible/plugins/action/__init.py**
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing special
##### OS / ENVIRONMENT

Nothing special
##### SUMMARY

I have an action plugins that handle tmp file transfert. I use it to upload cert file on remote server and check if there are already in java keytool. The main avantage is that I dont have to worry a

[2016-09-01 17:00] Yannig commented on #17352
The problem seems to be related to this change: https://github.com/ansible/ansible/pull/16924

I have the following proposition to fix this and be backward compatible:

[code]

What do you think about?

[2016-09-01 17:00] nitzmahone commented on #17347
Ansible is not supported on python3 yet- work is ongoing. Current 2.2 devel is just barely beginning to "breathe" on py3, but it will be awhile before you'd want to use it for real stuff.

[2016-09-01 17:00] #17347 closed, assigned to nobody

[2016-09-01 17:05] nitzmahone commented on #17352
cc @abadger @mattclay

[2016-09-01 17:13] kjdms opened #17353 "Error "invalid selinux context" in multiple modules when using symbolic links to NFS filesystems"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

template module, copy module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible_managed = Ansible managed: {file} on {host}
become=True
become_method=sudo

All other settings are default. No ANSIBLE_\* environment variables have been created or modified.
##### OS / ENVIRONMENT

Ansible control server: RHEL 6.8
Managed node: RHEL 7.2
####

[2016-09-01 17:28] ChristianTacke commented on #17350
2.1 added this: "Added facility for modules to send back 'diff' for display when ansible is called with --diff, updated several modules to return this info"
So returning some data seems to be possible.

[2016-09-01 17:55] FlorinAndrei commented on #17329
The `allow_undefined=true` trick would be enough to support cases such as this.

[2016-09-01 18:24] jesselang commented on #17349
I found that connecting to a host an existing host on AWS works, and allows you to connect to the provisioned instances. Seems like there's some kind of key selection logic happening that doesn't happen when the first play is connecting to localhost.

[2016-09-01 18:25] jesselang commented on #17349
For what it's worth, I've only run into this when running ansible-playbook on a mac, it doesn't seem to present on linux.

[2016-09-01 19:04] sivel commented on #17329
You can also handle this using `default` although you would not check whether the var was undefined or not:

[code]

the 2nd argument of `default` uses a truthiness test on the value, and if false, will use the default, so in this case of the lookup returning an empty string, default would make the value `None`, then you can check on that, or whatever other value you want to use.

[2016-09-01 19:11] kozchris commented on #14917
Unarchive is still leaving files in the tmp directory.
This was closed as a dup as part of this thread but I still see the issue: https://github.com/ansible/ansible/issues/14078
I'm using Ansible 2.1.0

[2016-09-01 19:13] strizhechenko commented on #16612
@Trozz but what answer you think is better? None, or "Unknown"?

[2016-09-01 19:25] jhawkesworth commented on #17285
When you get this, do a klist to see what you have in your ticket cache.
I have only used file based ticket cache - I believe there are keyring based kerb caches as well, so that's something to investigate.
When I have seen intermittent kerberos failures it has been because of clocks slipping or dns getting messed up due to duff DHCP behaviour (on mixed networks with fixed and wireless kit on the

[2016-09-01 19:44] jimi-c commented on #14917
@kozchris please open a new issue for this.

[2016-09-01 19:45] kjdms commented on #17353
My apologies, I created this in the wrong area.

[2016-09-01 19:45] #17353 closed, assigned to nobody

[2016-09-01 19:53] hryamzik commented on #17322
I've done a bit more debugging and it turned out that the issue is much more complicated. So here's the file structure:

[code]

Here're the [files](https://gist.github.com/hryamzik/38d41685e5e83c6f9d7ed7b46b806062).

And here's the command to reproduce:

[code]

It works fine in ansible 2.1.0.0. It work fine without limits. It works fine if inventory is a file, not a directory. Not sure how to na

[2016-09-01 20:16] Trozz commented on #16612
During the discussion it was decided that the best option would be to investigate the possibility of displaying a warning to the user to inform them that we were unable to verify the selinux status, this is to ensure that we do not suddenly break peoples playbooks / roles where they may have use `when: ansible_selinux = False`

I am investigating this option and will update / reference this issue

[2016-09-01 20:21] PeterMartini commented on #17350
If I run ansible with -vvv (offhand, I don't know which verbosity level is needed, I just like that one) its clear stdout/stderr are returned, they're just returned too late (meaning only after the process has finished).  The diff flag similarly only returns when the process is finished, which doesn't help where I need it (checking whether a long running process is stuck).

When I get back to a co

[2016-09-01 20:38] djmitche opened #17356 "Variable-handling error introduced in 2.1.1.0"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

core
##### ANSIBLE VERSION

[code]

(issue verified to not occur with 2.1.0.0)
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ubuntu
##### SUMMARY

This is a minimal reproduction of an error that is causing my configuration to fail on 2.1.1.0, where it succeeded in 2.1.0.0.  The error message is not especially useful.  The surprising thing a

[2016-09-01 20:54] liath commented on #14386
I ran into this on Server 2012. The easiest solution I found was this:

[code]

Per this [MSDN page](https://technet.microsoft.com/en-us/library/dn482068.aspx).
_Edited for cleanliness_ :)

[2016-09-01 21:25] bcoca commented on #17318
already done #17294

[2016-09-01 21:41] decalek opened #17358 "with_dict/item.value behaves differently than with_dict/dict[item.key] in some cases"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

plugins/lookup/dict.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

irrelevant
##### OS / ENVIRONMENT

Fedora 23
ansible-2.1.1.0-1.fc23.noarch
##### SUMMARY

Inconsistent behavior between `with_dict` and `with_items` with e.g. `{%raw%}`escape
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

`"item.value": "{{ XXX }}"`
##### ACTUAL R

[2016-09-01 22:05] icopp commented on #10624
Currently, this shows `"ansible_pkg_mgr": "homebrew"` on my machine.

Note that, however, the Mac App Store itself can be used as a quasi-package manager using [mas-cli](https://github.com/argon/mas) (albeit only to download `.app` bundles). It would be good if this was also an option for the `package` task.

[2016-09-01 22:48] hryamzik commented on #17318
Great, thanks!

[2016-09-01 22:48] #17318 closed, assigned to nobody

[2016-09-01 23:25] mattclay commented on #17352
Capturing relevant discussion from IRC:

[code]

[2016-09-01 23:27] mattclay commented on #17352
@Yannig See the question @abadger asked in the IRC chat logs I quoted in the previous comment.

[2016-09-02 00:17] mideeks commented on #14143
Any update on this ticket? We're still stuck on 1.9.x because Ansible 2.x does not support more than a couple hundred hosts.

[2016-09-02 00:43] bcattle commented on #13278
I'm sorry to add this to the end of a long issue, but it felt important to note that I see this without using `with_items`. Therefore I think the title of this issue should be changed.

I'm running Ansible 2.1.0.0. My playbook is running the command

[code]
And I get the error
[code]
If I increase the timeout by passing `-T60` to `ansible-playbook` I still get the error
[code]
My ansible.cfg file

[2016-09-02 03:07] veereshkhanorkar commented on #17330
Here you go :

paramiko (2.0.2)

OS Version:

CentOS Linux release 7.2.1511 (Core)

On Thu, Sep 1, 2016 at 10:21 PM, Matt Davis notifications@github.com
wrote:

[2016-09-02 04:31] muratdx opened #17361 "Behavior change in parent-child group variable handling"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]

NOTE: This is the RC2 release that was published this week.
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

In Ansible 2.x, a group variable defined in the inventory now gets overridden by a variable defined in the group_vars file for that group's parent.

The behavior differs from 1.

[2016-09-02 06:17] riton commented on #15493
@bcoca ok so this is expected behavior in _2.x_ ? `vars_plugins` does NOT have access to the _vault password_.

At our site we are **not** using any vault encrypted files. We're just using the _vault password_ in our _site specific_ vars plugin to interact with our enterprise safe system (something like [the vault project](https://www.vaultproject.io/docs/http/)) that does NOT only holds ansible r

[2016-09-02 07:06] uriinf commented on #16621
+1

[2016-09-02 07:33] AseemKumar commented on #17285
@nitzmahone I am letting Ansible use whatever it wants to. The problem resolved by itself. I got on the kerberos IRC and the folks there suggested that I enable logging and change location of cache file. I changed the cache location and did kinit & kdestroy many a times and it started to work. I am unsure whether changing the cache location fixed the problem or something else.

@jhawkesworth I alw

[2016-09-02 07:33] robinro commented on #16864
zypper repos would also be interesting. Depending on the repo format one could reuse the yum repos.

[2016-09-02 07:39] bcattle commented on #7584
I got around this by running a task to first clear all rules, then run a second using `with_items` with `purge_rules` set to `no`. Works great:

[code]

[2016-09-02 07:45] haroldTlan opened #17362 "how to print the group in hosts with playbook"
ISSUE TYPE
- Feature Idea

ANSIBLE VERSION
version: 2.2.0

CONFIGURATION
python2.7

OS / ENVIRONMENT
Linux Ubuntu

SUMMARY

I want to use my hosts 's group members ip to be some varible
#
##### STEPS TO REPRODUCE

`$ cat ansible.cfg`
`[temp]`
`192.168.2.[100:110]`

`$ cat temp.yml`

`- hosts: temp`
`remote_user: root`
`tasks:`
`- name: print ipaddress`
`shell: echo "**XXXX**" >> ~/temp.sh`

what s

[2016-09-02 08:02] antoineco commented on #17349
Correct, `-c paramiko` is not required on Linux. This is most likely a Mac OS X specific issue.

[2016-09-02 08:48] mikef-nl commented on #16452
Did check patching but that didn't seem to yield any major differences. What we have found is that by using the FQDN in the inventory instead of the IP address the connection works. This is provided the Ansible control machine can resolve the FQDN in DNS to the relevant IP. What's strange is that the majority of servers work while using the IP in the inventory.

[2016-09-02 08:48] #16452 closed, assigned to nobody

[2016-09-02 09:20] towolf commented on #16747
Same here with the relative path in ansible.cfg on devel.

I have
`export ANSIBLE_CONFIG=./users/tobias.wolf/ansible.cfg`
and in there
`roles_path = ./roles`

Now it doesn't find the roles relative to current working dir, but relative to the `ansible.cfg` file

[2016-09-02 09:47] SvenBrunk commented on #5851
So... change the template engine :)

[2016-09-02 09:49] onlime commented on #15621
+1
This would be very useful and would especially fix the crontab problem. How can I help to get this ASAP into the next milestone? I'm no Python developer though.

[2016-09-02 10:03] do3cc commented on #15621
@onlime
Hi, I don't currently have ansible checked out from source, but I can guide you through problems if you want to give it a try.
Have you had a look at http://docs.ansible.com/ansible/community.html#for-current-and-prospective-developers ?
According to this, it would be enough to check out the project and execute make tests.

[2016-09-02 10:34] simonvanderveldt commented on #13190
This to me is one of the great features of Terraform, you declare the infrastructure you expect (not the changes) and create it and when you don't need it anymore you issue a `destroy` over the same plan and you're done :)
Making playbooks specifically for destroying cloud infra seem backwards to me.

@bcoca how hard/easy would it be to implement something like this using strategies?

[2016-09-02 10:37] do3cc opened #17363 "Documentation `I’d Like To Learn How To Develop on Ansible` is incomplete"
##### ISSUE TYPE
Documentation Report

##### COMPONENT NAME
developer documentation

##### ANSIBLE VERSION
2.3

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I am an experienced Python developer.
I've tried to follow the instructions on `http://docs.ansible.com/ansible/community.html#for-current-and-prospective-developers`
to develop on ansible.
Unfortunately I failed. Even after look

[2016-09-02 10:37] do3cc commented on #15621
@onlime In case you are having problems. I have them too, it is not you ;-)
https://github.com/ansible/ansible/issues/17363

[2016-09-02 11:11] ghost commented on #17043
Hi,
any help?

[2016-09-02 12:05] kozchris commented on #14917
New issue created.

https://github.com/ansible/ansible-modules-core/issues/4648

[2016-09-02 12:22] PeterMartini commented on #17350
Bah, I did some more testing, and discovered there are at least two issues:
1. The callback is only called once at the start of each task, not once per (task, host)
2. The uuid similarly is for the task, so any kind of `local_action`would end up sharing the same directory

[2016-09-02 12:45] atlante77 commented on #17324
Solution :

[code]

Another exemple :
http://yaml-online-parser.appspot.com/?yaml=key1%3A+%26key1+%22child_value1%22%0A%0Aparent_key%3A%0A++child_key1%3A+*key1%0A++child_key2%3A+%22Resolving%3A+{{+key1+}}%22&type=json

[2016-09-02 12:51] pierreant-p commented on #13243
very interested in this feature (eg: different passwords for devs/staging/prod)

[2016-09-02 13:18] antoineco commented on #17349
#### Update

The scope of this issue is actually not limited to dynamically added hosts. Take the following inventory for example:

[code]

Executing the ping module on all hosts fails miserably:

[code]
[code]

The same command succeeds when the `-c paramiko` parameter is passed:

[code]
[code]

The target system is Debian Jessie.

[2016-09-02 13:20] Ameausoone commented on #15706
+1

[2016-09-02 13:21] Ameausoone commented on #15706
@Github Could you add a "+1" button on issues plz :)

[2016-09-02 13:57] bcoca commented on #17350
The issue is much deeper than that, the task ONLY returns info to the Ansible controller AFTER it has ended.

I have a `update_json` proposal that would allow for tasks to return data DURING execution but it has many hurdles to get through before being viable.

https://github.com/bcoca/ansible/tree/update_json

Once this facility exists, then we can have each module implement it.

[2016-09-02 13:58] jelep commented on #16452
also found that SSL certificate must be Server Mutual Authentication vs a standard...

[2016-09-02 14:16] abadger commented on #17352
Hey @Yannig we only have a short window where we can still implement the fake _fixup_perms.  (If 2.1.2 goes out without the fake fixup_perms it will be too late to add it).  Could you let us know ASAP if it will help you to implement that?

[2016-09-02 14:32] PeterMartini commented on #17350
@bcoca But that's the point - I'm not looking to return the data to Ansible before it's done, I just want it to be available on the remote host.  If stdout/stderr are available on disk on the host in realtime, then the challenges involved in returning it can be side-stepped by using an out-of-band mechanism to return output.

[2016-09-02 14:33] x3medima17 commented on #15915
I used stable-2.1 and still got same error:
`ERROR! The requested handler 'restart rabbitmq' was not found in any of the known handlers`

A lot of tasks give this error, but each task gives it only once, i.e second time it goes well.

[2016-09-02 14:34] bcoca commented on #17350
they aren't unless you are doing some custom redirection

[2016-09-02 14:44] PeterMartini commented on #17350
Having a common facility for that redirection is the request here :-)

[2016-09-02 15:01] lokly opened #17366 "How to copy from a remote Unix share to a Windows system"
It seems that currently win_copy isn't able to be used with "delegate_to".
Also synchronize could not be used with Windows.

Can you please add this feature, that the module win_copy is able to used with the delegate_to feature?

Or how to copy from a remote Unix to a Windows System?

Thanks in advanced.

[2016-09-02 15:52] stewartm commented on #17356
+1

In my case I have an include task that is passed a loop. The loop_var is set by loop_control and accessible within the included task. However, the include task contains a further include which cannot access the loop_var.

Works fine with 2.1.0.0. Breaks with 2.1.1.0.

Will expand this comment with an example when I have a little more time.

[2016-09-02 15:56] gundalow commented on #17363
@do3cc Thanks for the bug, we know we have some improvements in this area to make. The list you've provided helps direct our efforts.

@mattclay @dharmabumstead FYI, just saw this come in

[2016-09-02 16:21] steeef commented on #15525
I'm seeing this same issue in 2.1.1.0. Is there any path to getting it resolved, or does #16649 need merging?

[2016-09-02 16:26] weavage opened #17367 "-o, --one-line strips data for UNREACHABLE"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

callback/oneline.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

As the title says, using the --one-line option strips the returned JSON data. This is inconsistent with the normal output that is returned. See example below for details. Using my git directory as reference, the files in question

[2016-09-02 17:04] Gonzih commented on #6854
I see the same issue in ansible 2.1.1.0.

[2016-09-02 17:29] apintocr commented on #15973
To install a working pywinrm version try:
    `pip install pywinrm==0.1.1`
That fixed this issues for me.

[2016-09-02 17:45] jctanner commented on #17356
@djmitche thank you for bringing this to our attention. I have confirmed the reported behavior with 2.1.0 and 2.1.1. However, it seems to be working in devel as of https://github.com/ansible/ansible/commits/6717710

We will be pushing a new release very soon after a lockdown of the current codebase, so please update once we release and retest your scenario.

[2016-09-02 17:45] #17356 closed, assigned to nobody

[2016-09-02 18:23] antoineco commented on #17349
#### Update

I can actually reproduce from a Ubuntu client as well:

--

[code]
[code]

--
[code]
[code]

[2016-09-02 18:27] dpkp opened #17369 "ansible crashes if cwd has been removed"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

core
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

N/A
##### SUMMARY

os.getcwd raises OSError if the current working directory no longer exists. Ansible checks the cwd for an optional ansible.cfg file. Currently ansible does not catch the OSError and instead crashes. I think the correct behavior, since the cwd c

[2016-09-02 18:28] svsool commented on #17243
same

[2016-09-02 18:35] jhawkesworth commented on #17366
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-09-02 18:35] #17366 closed, assigned to nobody

[2016-09-02 18:35] jhawkesworth commented on #17366
Personally I install nginx on the remote unix system, and then use win_get_url to fetch it.  It operates faster than win_copy and can handle larger files.

[2016-09-02 18:39] marafa opened #17370 "apt_key gives wrong error message when blocked by firewall"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

apt_key
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

n/a
##### SUMMARY

the following

[code]

will respond with

`msg: needed a URL but was not specified`

when there is a firewall blocking that repo. this is of course incorrect because the URL **_was_** specified and therefore not blank
##### STEPS TO REPRODUCE

[

[2016-09-02 18:46] jctanner commented on #17358
Addressing the element of a dict item via the debug var= task seems to have been broken since the initial 2.x release. I can access item.key or item.value in 1.9.6, but can not in 2.x.

[2016-09-02 18:48] jctanner commented on #17358
"debug var=item" and setting a breakpoint in the plugin confirms that the correct datastructure comes back from the plugin ...

[code]

The issue seems to be somewhere higher in the stack such as the way jinja accesses the methods or properties of "item"/"value".

[2016-09-02 19:08] djmitche commented on #17356
I'm a little curious what went wrong here.  I consider Ansible a programming language, and if Python released 2.7.21 that accidentally broke otherwise-valid code, I don't think "well, seems fine in 2.7.22" would be an adequate resolution.  At the very least, I would expect a regression test to prevent this from accidentally happening again.

git bisect on the main repo shows 73a3a5839b7698a6b2d6ea

[2016-09-02 19:10] xenithorb commented on #16804
Since this is still open, can this be clarified to include what you're supposed to do with this type of `meta/main.yml`?

Do you just `touch` it or ... ?

[2016-09-02 19:14] djmitche commented on #17356
Ah, I see now that #15689 appears to have solved #15735 in a different way.  So at least we have some background beyond the "seems to be fixed".  A regression test would be nice, but I'm sure I'll be back to file another issue if I see this again :)

[2016-09-02 19:20] abadger commented on #17301
@25ar Ansible doesn't yet run on python3.  There is work being done to get 2.2.0 to a tech preview level of functionality with python3 (ie: you'll be able to do simple things but there will definitely be minor bugs in core features and some more peripheral things flat out will be broken.)

If you want to test it out and maybe get bugs reported or fixed in time to get into 2.2 (if it misses 2.2, we

[2016-09-02 19:29] abadger commented on #17301
Also note -- the Python API would be considered a peripheral feature... there may be a lot more bugs trying to use that with Python3 than trying to achieve your goals via the command line programs.

I'm going to close this bug as working on Python3 support is being worked on for Ansible-2.2 and this is reported against 2.1.  Feel free to open new bugs as you find issues with running the devel bran

[2016-09-02 19:29] #17301 closed, assigned to nobody

[2016-09-02 19:58] antoineco commented on #17349
#### Update

Interesting discovery: everything works fine if I replace the DNS name of the public machine by its IP address.

--
inventory
[code]
--
known_hosts
[code]
--
nslookup
[code]
--
Execution
[code]
[code]
--

The whole thing doesn't make much sense, especially since we jump to the private host over the public host using it's public DNS name.

[2016-09-02 20:11] abadger commented on #17308
Well, here's a python one-liner that can compare two json files:

[code]

Questions and comments:
- Is it not a good test to use python to test that the json is the same since we used python to read it in the first place?
- This will require changing the templated files -- we'll need the json output to be in its own file (perhaps the yaml output as well).
- This doesn't help with anything that we'

[2016-09-02 20:32] jhawkesworth commented on #15973
So... pywinrm 0.2.0 has been released and is well worth trying as it runs noticeably quicker.
I use this on ubuntu 14.04 pointing at Windows 10 and Server 2012 R2 hosts, so it is possible to get the newer version working using ansible 2.1.1 and latest devel.

I think

pip install pywinrm --upgrade

will now get you the latest version.  If that doesn't work for you please run a pip list and I'll co

[2016-09-02 20:35] jhawkesworth commented on #17362
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-09-02 20:35] jhawkesworth commented on #17362
I think what you want to do is in the FAQ here: http://docs.ansible.com/ansible/faq.html#how-do-i-loop-over-a-list-of-hosts-in-a-group-inside-of-a-template

[2016-09-02 20:35] #17362 closed, assigned to nobody

[2016-09-02 22:27] sidewinder12s commented on #14270
I'd also agree with this, without this it makes it very difficult to deal with failure in handler execution.

[2016-09-03 06:36] Yannig commented on #17352
Sorry for being late @abadger. I think your proposition is fine.

[2016-09-03 06:42] keskad commented on #6466
I'm voting up.

[2016-09-03 13:47] lokly commented on #17366
Very good idea, thank you!

[2016-09-04 02:08] rodmanning opened #17382 "backup files in host_vars override vars.yml"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

host_vars configuration
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Added vault password file path to ansible.cfg, nothing else.
##### OS / ENVIRONMENT

Arch linux (x86_64)
##### SUMMARY

When reading host_vars, ansible reads vars from a file name "vars.yml~" with priority over a file name "vars.yml". The "vars.yml~" file was created by ed

[2016-09-04 07:19] wataruoguchi commented on #16790
I've faced the same problem on Ubuntu. It's resolved by `sudo pip install setuptools==11.3` Give it a try!

[2016-09-04 09:31] maweki opened #17384 "unhelpful error message when remote host doesn't support sftp"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Managing DietPi with Fedora
##### SUMMARY

`ansible all -a uptime` doesn't work because ansible tries to sftp to the target server which is running `dropbear` which doesn't support sftp. The error message is `UNREACHABLE!`
##### STEPS TO REPRODUCE

Install DietPi on a remot

[2016-09-04 10:03] mscherer commented on #17384
Does the option scp_if_ssh help for that ?

I guess we could improve the message, what about:

[code]

[2016-09-04 10:06] mscherer commented on #17370
Can you verify the syntax of the tasks, cause what you did paste seems incorrect, it should be 'url=' , not 'url:', and I just want to make sure that's not the issue before investigating.

[2016-09-04 10:14] maweki commented on #17384
Well, it wasn't `UNREACHABLE!` then. First it was `lost connection` because the default `dietpi` installation doesn't come with `ssh` or `scp` clients. After I installed that, I got `MODULE FAILURE`, because the default `dietpi` installation doesn't come with `python`. But after that it worked fine. Do you think I should file those as well? In both cases the failure was neither graceful nor had a

[2016-09-04 10:24] mscherer commented on #17384
So, I got lost exactly on the issue, once you did enable scp_if_ssh, then the error message became "lost connection", because this requires scp on the remote side, but the error message was also not clear ?

And then, module_failure message didn't hint at missing python remotely ? I think this could be improved, so yes, fill new issues.

[2016-09-04 10:51] maweki commented on #17384
Yeah. Now that I fixed everything, this is what happened:
- Cause: no `sftp` support on the remote side / Error message: `UNREACHABLE!` / Fix: enable `scp_if_ssh`
- Cause: no `scp` executable on the remote side / Error message: `lost connection` / Fix: install `ssh-client` package
- Cause: no `python` executable on the remote side / Error message: `MODULE FAILURE` / Fix: install `python` package

[2016-09-04 11:41] marafa commented on #17370
i also see the error but i apologise i can no longer verify this situation. the firewall ports have
been opened by the network security team

On Sun, Sep 4, 2016 at 6:06 AM, Michael Scherer notifications@github.com
wrote:

##

https://candidate.peoplecert.org/ReportsLink.aspx?argType=1&id=13D642E995903C076FA394F816CC136539DBA6A32D7305539E4219F5A650358C02CA2ED9F1F26319&AspxAutoDetectCookieSupport=1

[2016-09-04 15:44] Yatekii opened #17389 "Deprecation notice for bare variables"
##### ISSUE TYPE

Documentation Report
##### COMPONENT NAME

Deprecation notice
##### ANSIBLE VERSION

2.1
##### CONFIGURATION

No added settings
##### OS / ENVIRONMENT

OSX 10.11.5
##### SUMMARY

The deprecation notice for bare variables for me looks like this:

[DEPRECATION WARNING]: Using bare variables is deprecated. Update your
playbooks so that the environment value uses the full variable sy

[2016-09-04 18:44] digi691 commented on #17152
My testing was done as of commit 06c76034dc203dac52ddf5cb6b6afc4b484a25af with 1384 hosts in my host list.

Strategy linear mode is now successful, tested with multiple pushes.
`ansible-playbook -f 25 -i hosts -e strategy=linear playbook-test_setup.yml`

Strategy Free is still unsuccessful although I get a lot further into the play before it stalls, I believe past all of setup, but cannot be sure.

[2016-09-04 20:26] svsool commented on #17243
simple workaround, create host alias in inventory, and use group_vars as usual, this working as expected, because variables not shared and overridden between different host aliases

my-host-1 ansible_host=example.com
my-host-2 ansible_host=example.com

[my-host-1]
my-host-1

[my-host-2]
my-host-2

[2016-09-04 22:45] ludovic-gasc commented on #15915
I confirm the regression that @x3medima17 noticed, I've the same issue.

Could you reopen the issue ?

[2016-09-05 00:36] dagwieers commented on #10245
To me it seems that the original report was using **lowercase package names**, while yum is case-sensitive when using package-names and the package-name needed was in fact mixed-case !

[2016-09-05 01:20] sichuyoudang commented on #16984
I have same problem , until find  write wrong ,   I used  config like this : Remote_src=True   , the result is

'postgresql.conf' does not exist, or is not readable'

so I change to remote_src=True , It works  ,,,,,, so ,  not ignore case

[2016-09-05 05:39] jimi-c commented on #17152
@digi691 another user who's been experiencing a similar problem pointed out it might be a problem with doing a fork from a thread, in which case specifically the debug output lock may be inherited by the forked process in a locked state and then hangs.

I have rebased this branch against devel: https://gist.github.com/jimi-c/69118da22ee9341fddddfb3fe841d84d, which may help. If that doesn't, you ma

[2016-09-05 07:17] jimi-c commented on #15915
@x3medima17 / @GMLudo could you please share a playbook which reproduces the issue you're seeing?

[2016-09-05 09:00] gundalow opened #17391 "network _template not checking arguments correctly"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

lib/ansible/plugins/action/net_template.py
##### ANSIBLE VERSION

devel
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY
##### STEPS TO REPRODUCE

[code]

No other `vars` set

same for `ios_template`
##### EXPECTED RESULTS

`msg": "missing required arguments: host"` (or src)
##### ACTUAL RESULTS

[code]

[2016-09-05 09:49] undermink commented on #13243
yes indeed... multiple passwords would be a great feature

[2016-09-05 10:13] gundalow opened #17392 "Network no_log not honoured when using provider"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

All Network modules
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

n/a
##### SUMMARY

When using the `provider`[1] option for network modules passwords are shown when running a task fails when running with `-vvv`
##### STEPS TO REPRODUCE
##### EXPECTED RESULTS

_Preferred Options:_

`"password": "VALUE_SPECIFIED_IN

[2016-09-05 11:04] marafa opened #17393 "gather_facts silently skips lvm facts if lvm pkg not installed"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible / gather_facts
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

if the lvm package is not installed on the target host,  the fact gathering mission skips it silently. it shouldnt do that and instead do something along the lines of https://github.com/ansible/ansible-modules-extras/pull/2852

[2016-09-05 12:08] diefans commented on #17329
@sivel If I run this with ansible 2.1.1.0, I still get an empty string...

[code]

result:

[code]

[2016-09-05 13:11] hyperized commented on #15892
We have the following:

`shell: "docker ps --format '{{ '{{' }} .Names {{ '}}' }}'"`

This works under `ansible 2.1.1.0`

Part of: https://github.com/hyperized/ansible-docker-container

[2016-09-05 13:33] #17391 closed, assigned to privateip, Qalthos

[2016-09-05 13:34] privateip commented on #17392
assigning to @Qalthos

[2016-09-05 14:30] tetherit opened #17395 "connection: chroot is ignored in ansible 2.1.1.0 (and in latest trunk)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Core
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A - running rom Ubuntu
##### SUMMARY

I have this in my playbook:

[code]

In older version of ansible, this would run the "common" role with connection: chroot, but in 2.1.1.0 I just get: fatal: [testimage]: UNREACHABLE! => {"changed": false, "msg": "SSH Error: data could not be sent t

[2016-09-05 14:33] tetherit commented on #17395
Ah, seems this was renamed to "ansible_connection" now, closing.

[2016-09-05 15:05] jalbstmeijer opened #17396 "unexpected newline in file name"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

template or copy task
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Centos 6.8
Python 2.7
##### SUMMARY

We use '>' to  span multiple lines.
In Ansible 1.9.6 this worked fine.
In Ansible 2.1.1.0 we see output files containing a trailing line break, visualized as a '?'
##### STEPS TO REPRODUCE

ansible-playbook

[2016-09-05 15:36] tetherit commented on #13955
Seems this solution no longer works with ansible 2.1.1.0 -- connection: local is just ignored :(

This is in my playbook, it worked in 2.0.0.2 but is ignored in 2.1.1.0:

[code]

When I set ansible_connection: 'chroot' instead it works, but then this local_action uses chroot instead of connection: local:

[code]

[2016-09-05 15:43] tetherit commented on #3174
It seems the issue now is "connection:" for roles is being ignored completely in Ansible 2.1.1.0 :(

I have this in my play:

[code]

However when I run the playbook I get:

[code]

Any ideas? :(

[2016-09-05 15:44] tetherit commented on #17395
Ah, ansible_connection breaks local_action so that's not a solution. Any ideas why connection: is ignored in the above on 2.1.1.0? - It wasn't ignored in the past.

[2016-09-05 16:19] dagwieers commented on #17350
Look at shmux for ideas on how to have an interactive/real-time interface to parallel background jobs.
shmux lets you list jobs, and kill them all while they are being processed. At least if something hangs you can relate it immediately to a specific host.

[2016-09-05 16:54] trondhindenes commented on #16734
Yep. It's vanity thing, but I wouldn't mind getting rid of this error while debugging. @jhawkesworth you on it, your should I PR it in?

[2016-09-05 17:00] tdsmith commented on #15525
fwiw, Homebrew doesn't touch ansible.cfg.

[2016-09-05 17:32] digi691 commented on #17152
@jimi-c,

I couldn't apply that patch from the gist you posted.  Looks like your role_include.py may still be ahead of devel?  Output is below:

[code]

Since that failed, I then commented out the debug acquire/release calls for debug in utils/display.py as you suggested.  This has fixed the deadlock issue for the debug output.  I then ran the following command:

`ANSIBLE_DEBUG=1 ansible-playbook

[2016-09-05 18:09] alvaroaleman opened #17397 "Template lookup|from_yaml fails if template evaluates to '[]'"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- template lookup
- from_yaml
##### ANSIBLE VERSION

ansible 2.1.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

[code]
##### SUMMARY

When using the template lookup on a template that evaluates to `[]`  and using the `from_yaml` filter on that, a `AttributeError: 'list' object has no attribute

[2016-09-05 18:11] ogai commented on #17030
This issue also hits Ansible 1.9.6

[2016-09-05 20:13] jhawkesworth commented on #16734
Thanks @trondhindenes Please PR it, I want to try and get the win_package tests in before the code freeze.

[2016-09-06 02:46] #17369 closed, assigned to mscherer

[2016-09-06 05:26] winggundamth opened #17403 "Convert stdout from shell command to float is not correct"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Ansible
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When I tried to convert stdout from shell command to float. It is not convert correctly
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

It should get 0.8.1
##### ACTUAL RESULTS

[code]

[2016-09-06 06:13] georgepsarakis commented on #17403
Version notation cannot be converted to floating point number directly, since `0.8.1` is not a valid number.

From the Jinja2 [docs](http://jinja.pocoo.org/docs/dev/templates/#float) you can see that if the conversion does not work, the default value (`0.0`) will be returned. So I guess, this is the expected behavior and not a bug.

[2016-09-06 06:40] winggundamth commented on #17403
Just want to know why `0.8.1` is not a valid floating number? Can you explain more in detail?

Yes, I tried with `8.1` and it works.

[2016-09-06 06:43] georgepsarakis commented on #17397
@alvaroaleman I think your solution does not resolve this issue. You are converting the list to its string representation which may bring other issues.

I assume that the origin of the problem starts from the `template` lookup module behavior and if you notice [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/template/__init__.py#L331), lists are converted to actual list objects whe

[2016-09-06 06:53] georgepsarakis commented on #17403
You can find the definition [here](https://en.wikipedia.org/wiki/Floating_point#Floating-point_numbers).

[2016-09-06 07:17] fiunchinho commented on #16740
Same is happening to me @tarvip . Is there an specific issue reporting this bug?

[2016-09-06 07:18] resmo commented on #17238
We didn't see such a behavior in Jenkins, using it the same way for over 1 year. Further it is unlikely that the first playbook works and the second not.

I assume the first playbooks modifies the environment in a way that ansible is affected. Probably try to make a playbook including the other playbooks and run them in "one" run.

[code]

and then:

[code]

needs_info

[2016-09-06 07:31] jhawkesworth commented on #17238
Hi, I suggest you either explicitly cd to the directory where you have the ansible.cfg that you want or set the environment variable.  How ansible.cfg is resolved is documented on this page: http://docs.ansible.com/ansible/intro_configuration.html

[2016-09-06 07:38] appcara-kaminglau commented on #11702
I'm still encountering same issue above on both Ansible 2.0.2 and 2.1.1. File size is about 400MB.

Playbook

[code]

Stack trace...

[code]

[2016-09-06 08:10] tarvip commented on #16740
No idea.

At the moment I'm using `set_fact` as workaround. included_file_1.yml would be something like this:

[code]

[2016-09-06 08:17] alvaroaleman commented on #17397
What I did in my Ansibole code was ``{{ lookup('template', 'var.j2'|string|from_yaml }}', which works as well.

Still I am not sure if just adding something to the docs is sufficient, because the error is far from self-explanatory.

I agree that converting anything that comes into `from_yaml` to string is probably a bit over the top, what about doing that just for lists and dicts @georgepsarakis?

[2016-09-06 08:26] gundalow opened #17406 "speed up documentation build (webdocs)"
I know this has been talked about a few times, but I couldn't find a bug.

Lets use this to record our thoughts on how to improve this.
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

n/a
##### ANSIBLE VERSION

all
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

It's current taking XXX minutes to do `make webdocs`

This is an issue as
- It's annoying to contributors who wan

[2016-09-06 08:32] jhawkesworth commented on #17406
I would love to be able to do make web docs for a single module.

I had a look a little while back and there seemed to be some limited support for parallel building in later versions of sphinx, so that might be something to explore.

May not be possible due to links between modules but I wonder if it would be possible to fork and build each of the module categories e.g. cloud, windows etc simultan

[2016-09-06 08:51] winggundamth commented on #17403
Thanks for the explanation. I'll close the issue now

[2016-09-06 08:51] #17403 closed, assigned to nobody

[2016-09-06 09:13] georgepsarakis commented on #17397
The only global solution that I can think of is the following:

[code]

What do you think?

[2016-09-06 09:20] georgepsarakis commented on #17403
@winggundamth you are welcome :smiley: !

[2016-09-06 10:48] gundalow opened #17407 "netcli.py: AttributeError: 'str' object has no attribute 'get'"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

module_utils/netcli.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Looks like we are redefining the one of the named arguments.

Maybe just return, or change the name in of the passed argument (`result` as an input is a strange name)

Annoyingly this doesn't seem to be caught by pep8, pylint or pyflakes

[2016-09-06 11:39] tklicki commented on #12170
+1

[2016-09-06 12:47] guenhter commented on #16790
The `sudo pip install setuptools==11.3` not helps. Error still appears.

[2016-09-06 13:01] vbotka commented on #14069
In my case the problem described above disappeared when I removed an empy vars_file from the playbok.

[code]

vars_file size was 0 created with touch command.

[code]

My 2 cents. Thank you for the effort. Cheers!
-vlado

[2016-09-06 13:21] AseemKumar commented on #17285
This problem is now coming up pretty often. Is there some kind of logs I can send that may help?

[2016-09-06 13:24] gundalow opened #17408 "netcli.py: to_command - cmd v command"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

netcli
##### ANSIBLE VERSION
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

https://github.com/ansible/ansible/commit/7c928e878be2e78621d637c549daed8936d38dc7#diff-71ae27eed1a4e927dd568f6b9c2de676R71
Added

[code]

1)`cmd` isn't defined, should this be `command`?
2) What should returned in this case?
##### STEPS TO REPRODUCE

`pyflakes

[2016-09-06 13:35] mscherer commented on #17393
I am not sure if making setup fail is a good idea, cause the setup modules would work fine, and not all systems will use lvm.

[2016-09-06 13:51] micafer commented on #16740
I also have the same problem (and I also prefer to have it the 'old' way).
I use conditionals to skip large playbooks an it increases a lot the runtime.

[2016-09-06 14:10] gischethans opened #17409 "meta: refresh_inventory does not work for VMware dynamic inventory"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

meta
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04.5 LTS with Ansible Tower 3.0.0
##### SUMMARY

According to the docs for the [meta module](http://docs.ansible.com/ansible/meta_module.html), using
`- meta: refresh_inventory`

However, in the case of VMware dynamic inventories, this is not happening. In

[2016-09-06 14:43] sidgod commented on #15215
Must say awesome fix @SydOps Any idea how soon to be merged into Ansible main source ?

[2016-09-06 14:58] jctanner commented on #17409
@gischethans Tower's inventory system is a bit different than the standard in-memory inventory object of OSS ansible. Please reach out to our Tower support team for further assistance/recommendations.

[2016-09-06 14:58] #17409 closed, assigned to nobody

[2016-09-06 15:26] gundalow opened #17410 "module_utils/eos.py - Code review"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
##### ANSIBLE VERSION
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Clean
##### ACTUAL RESULTS

[code]

[2016-09-06 15:27] gundalow opened #17411 "module_utils/junos.py - Code review"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
##### ANSIBLE VERSION
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Clean
##### ACTUAL RESULTS

[code]

[2016-09-06 15:29] gundalow opened #17412 "module_utils/netcfg.py - Code review"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
##### ANSIBLE VERSION
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Clean
##### ACTUAL RESULTS

[code]

[2016-09-06 15:31] gundalow opened #17413 "module_utils/netcli.py - Code review"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
##### ANSIBLE VERSION
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Clean
##### ACTUAL RESULTS

[code]

[2016-09-06 15:32] gundalow opened #17414 "module_utils/nxos.py - Code review"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
##### ANSIBLE VERSION
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Clean
##### ACTUAL RESULTS

[code]

[2016-09-06 15:34] gundalow opened #17415 "module_utils/openswitch.py - Code review"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
##### ANSIBLE VERSION
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Clean
##### ACTUAL RESULTS

[code]

[2016-09-06 15:34] gundalow opened #17416 "module_utils/vyos.py - Code review"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
##### ANSIBLE VERSION
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Clean
##### ACTUAL RESULTS

[code]

[2016-09-06 15:53] nitzmahone commented on #17285
Ansible and pykerberos both just use the configured libkrb5 default ccache (which location/type can be overridden by the usual envvars). There's nothing special going on there, and you're the first report I've seen of this behavior, so I'd be suspicious of some external process that's munging/locking/something else your ccache (kerb-using cron job, other software ?). Maybe the kerb folks can help

[2016-09-06 15:53] antoineco commented on #17349
#### Update

I managed to isolate the problem even more. On AWS, the public DNS name differs from the internal one. Example:

[code]

Most of the time only public instances fail (see previous comment).

[2016-09-06 16:31] alekc commented on #14358
+1

[2016-09-06 16:44] x3medima17 commented on #15915
@jimi-c here is the playbook

[code]

And the error:
`ERROR! The requested handler '-restart supervisord - restart supervisor' was not found in any of the known handlers`

I have lost previous playbook

[2016-09-06 18:10] msghaleb commented on #17285
I am getting the same problem too, from Ansible Tower. The command line works fine in my case, also I'm generating the ticket using the awx user on the same box - no luck on Tower.

[2016-09-06 18:12] tjbenator commented on #14146
@bence-takacs,

You need to use loop control:
http://docs.ansible.com/ansible/playbooks_loops.html#loop-control

outside.yaml:

[code]

inside.yaml:

[code]

[2016-09-06 18:19] michaelforman opened #17419 "wait_for documenation needs updating for ansible2.x"
##### ISSUE TYPE

- Documentation Report
##### COMPONENT NAME

wait_for module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Documented example for wait_for is incorrect.

The last example is for < ansible 2.

If the last example is execute in a 2.x environment it will check that the localhost is responding with OpenSSH on port 22 instead of checking

[2016-09-06 19:41] jhawkesworth commented on #16740
You might be interested in the actionable plugin (which only shows changes and failures).
To use it just set stdout_callback=actionable in your ansible.cfg

[2016-09-06 20:08] privateip commented on #17407
link to PR #17422

[2016-09-06 20:18] jctanner commented on #17396
YAML is expected to leave the newline in this case, so you will need to chomp+strip (http://yaml.org/spec/1.0/#id2566343).

Here's an example:

[code]

Output ....

[code]

If ansible 1.9.x was stripping automatically, that behavior was wrong.

[2016-09-06 20:18] #17396 closed, assigned to nobody

[2016-09-06 20:21] privateip commented on #17408
looks like some old code from the refactor ... testing now but will be sending a PR to remove the `elif` statement

[2016-09-06 20:41] nitzmahone commented on #17285
Tower has different issues around kerberos ccaches due to proot isolation-
contact support about ways to work around that.

On Tue, Sep 6, 2016 at 11:11 AM, Mohamed Ghaleb notifications@github.com
wrote:

[2016-09-06 20:50] jimi-c commented on #15915
@x3medima17 that's a typo: you're missing a space in between the `-` and `restart supervisord`. Unfortunately, YAML is then reading this as a string (and, unhelpfully) reading the next line as a continuation of the previous line, thus the reason you see it reported as `-restart supervisord - restart supervisor`.

[2016-09-06 20:52] jimi-c commented on #3174
@xanview please open a new issue for this.

[2016-09-06 22:44] agaffney opened #17428 "include task using "=" in template fails with unexpected exception"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`include`
##### ANSIBLE VERSION

[code]

and

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When using a "complex" template with an `include` task, `ansible-playbook` fails with an expected exception.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

No errors
##### ACTUAL RESULTS

[code]

If the `include:` is

[2016-09-06 22:45] agaffney commented on #17428
This issue was originally reported by `rgm3` in the `#ansible` IRC channel. I was able to create a small test case based on that report.

[2016-09-06 22:49] agaffney commented on #17428
This appears to be due to using a fact as part of the template. When I strip off the `RedHat5` bit of the template, it seems to work as expected.

Task:

[code]

Output:

[code]

[2016-09-06 22:54] agaffney commented on #17428
When this same template is used in the `vars:` section and then that var used in the `include` task, it seems to work as expected (or at least without error):

Playbook:

[code]

Output:

[code]

[2016-09-06 23:16] SydOps commented on #15215
@sidgod

It can't be merged, because there are some conflicts with other pull requests which are already merged to master branch (in this case, it is devel branch) before my PR.

Since the new feature added is not really useful for me, and I didn't have time to work out the conflicts, so if you'd like to use now, just fork mine and use it directly.

`ec2.py` is independence script.

[2016-09-06 23:36] tetherit commented on #3174
Done: https://github.com/ansible/ansible/issues/17395

[2016-09-07 00:07] mattclay commented on #17352
@Yannig I've added a semi-backwards compatible stub for _fixup_perms that supports non-recursive mode only. It is present in the devel branch and will be included in the next RC for 2.1.2 as well.

Can you confirm that this allows your custom action plugins to work after making sure they set `recursive=False`?

[2016-09-07 02:24] V-know commented on #11913
@bcoca it's really helpfull, thanks

[2016-09-07 02:25] sidcarter opened #17430 "Error using dynamic inventory - 'The file rest_api_inventory.py is marked as executable, but failed to execute correctly.""
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

core - Dynamic Inventory
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No additional configuration.
##### OS / ENVIRONMENT

macOS Sierra 10.12 beta

[code]

Same error on CentOS 7.2 too

`uname -a
Linux 10.0.3.136 3.10.0-327.18.2.el7.x86_64 #1 SMP Thu May 12 11:03:55 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`
##### SUMMARY

Executing an invent

[2016-09-07 03:20] jctanner commented on #16960
@jschank please report back when you have more info, otherwise we will allow this issue to auto-close.

[2016-09-07 04:08] jctanner commented on #16894
@abugher-at-nvidia yes, we should probably make an attempt to detect sshpass is hung up on input.

[2016-09-07 04:23] jctanner commented on #16869
!needs_info

[2016-09-07 04:35] #17419 closed, assigned to nobody

[2016-09-07 04:40] #17370 closed, assigned to nobody

[2016-09-07 04:41] jctanner commented on #17349
bot_broken

[2016-09-07 06:09] mattclay commented on #17122
The `to retry` message isn't the only message we send directly to stdout, bypassing callback plugins. There are others, such as `statically included` and `skipping playbook include`.

In order to properly support stdout callbacks that generate structured data, we'll need to make sure that anything not going through a callback plugin during a playbook run goes to stderr instead.

[2016-09-07 06:50] agx opened #17434 "Please autotag roles with the role name"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

Core
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Debian unstable
##### SUMMARY

Please autotag roles with the role name:

I always end up writing code like:

[code]

This allows to run and test roles independently (otherwise they'd had dependencies on each other anyway) like:

[code]

Now it would be nice if the al

[2016-09-07 07:11] jhawkesworth commented on #17285
How are you acquiring the kerberos ticket?  Does it happen automatically when you log in or are you running kinit before running your playbook.

If it happens during login, is it possible a second login is occurring during your playbook run, causing a new ticket to be stored in the cache.  That might be enough for the cache not to be there when ansible needs it.

When I made my win_domain_callback

[2016-09-07 07:13] ghost commented on #5482
I concur with this bug or new feature request.
I have a problem, I am responsible for the servers, configurations, deployment etc... and I am happily using Ansible.
Now we have more and more users / developers that want to use Ansible to deploy their service / applications from all sorts of Ansible playbook they find in internet.
And I want to secure my server to ensure that they don't install or

[2016-09-07 07:20] clark0806 commented on #16948
~> ansible --version
ansible 2.1.0.0

[2016-09-07 07:52] matt-byrne commented on #13274
I'm getting deprecation warnings when referencing undefined variables in the when: clause also. Is there a way to do what I am trying to here without triggering them?

[code]

Result:

[code]

[2016-09-07 09:06] pythonwood opened #17435 "the problem still exist in higher version :Timeout (12s) waiting for privilege escalation prompt:"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

become
##### ANSIBLE VERSION

2.1.1.0
##### SUMMARY

my env:
ansible 2.1.1.0
ubuntu 14.04

$ time ansible haXXXX4 -m shell -a 'id' -k -o -m raw --become --ask-become-pass --become-method su -vvvvv

[code]

yes !  use “-c paramiko” can fix it. but paramiko donot support  ssh proxycommand。but I had to ssh via a jumper!   so bad  so sad!

It seem the

[2016-09-07 09:30] MannerMan commented on #11035
It's already possible to create/manage group roles with postgresql_user and postgresql_privs, although it's not too intuitive.

[code]

[2016-09-07 09:38] robinro commented on #17393
Many systems don't have lvm on purpose. Failing the setup module on them is not an option.

[2016-09-07 09:45] antoineco commented on #15680
Duplicate of  #15525?

[2016-09-07 09:48] vbotka commented on #14426
For the record. I see the problem with FreeBSD PF firewall. SSH port is open and SSH connection from a commandline works fine. The timeout disappears when I disable the firewall.

[2016-09-07 10:02] marcoskv commented on #16354
Hello,

I have the same issue. It happens from time to time.

`fatal: [dev-server]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh.", "unreachable": true}`

I enabled the verbose mode, and tried to execute the same command that Ansible uses to connect

`ssh -C -vvv -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAuthentication=no -o PreferredAuthentic

[2016-09-07 10:10] marafa commented on #17393
I am not sure how the discussion turned to failing setup .

Silently skipping lvm while gathering facts is the issue. There should be a
warning that some facts were not gathered because some target dependencies
were missing

On Sep 7, 2016 05:40, "Robin Roth" notifications@github.com wrote:

[2016-09-07 10:26] AseemKumar commented on #17285
@jhawkesworth , I am running kinit to acquire the ticket before running the ansible command. The linux system is not joined to the domain nor has a domain computer account.

This problem sometimes vanishes if I wait after getting the ticket and issuing the command, or one time I did kdestroy and kinit multiple times. Then, once a reboot of my linux box solved the issue and other times reboot did n

[2016-09-07 10:47] ginok commented on #16641
I have the same issue and can confirm this with ansible 2.1.1.0

**Ansible version**
[code]

**inventory/dev**
[code]

**group_vars/dev/foo.yml**
[code]

**group_vars/dev/bar.yml**
[code]

**playbook.yml**
[code]

**executed command**
[code]

**Expected result**
[code]

**Actual result**
[code]

[2016-09-07 10:49] mscherer commented on #17393
That's what the linked PR does, it fail saying "there is missing deps", so I understood "doing something along the line of" as potentially doing that. We all agree we need to do better, and I think this is not the first bug opened, but we didn't found a way to achieve that (as far as I know)

I wonder if we could add a debug mode, or verify_deps that would be run and return the information when ex

[2016-09-07 10:54] x3medima17 commented on #15915
Strange, it should give syntax error. I have changed playbook

[code]

And I got an error. it is very veird that error disappears when I run it again.

[code]

[2016-09-07 11:01] robinro commented on #17393
One could fill the lvm facts with `N/A` if the module is not there. This happens for the distribution_version facts sometimes.

[2016-09-07 11:05] michailw opened #17436 "URI module and many cookies"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

uri
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

CentOS 6
##### SUMMARY

URI module register only one of SetCookie headers
##### STEPS TO REPRODUCE

[code]

When you try to send request to any URL which returns in response more than one `SetCookie` header, only the first one is available.
##### EXPECTED RESULTS

Debug of login var should

[2016-09-07 11:16] mscherer commented on #17393
But it wouldn't help to find why the information is missing, nor would it make ansible fail with missing variables (in fact, it would start to give potentially bad information to script, with risk of side effect)

[2016-09-07 11:28] dagwieers commented on #16078
We are not (no longer) using tarfile in the unarchive module. That was an unfortunate change in May (https://github.com/ansible/ansible-modules-core/commit/af9855357e851ecbe1e8763622a955fb71d96112) that was reverted (https://github.com/ansible/ansible-modules-core/commit/bf670bfdc2c193345a0365bd84e955005b432f31) early July that got shipped as part ov v2.1.0.0. So I don't think this issue is longer

[2016-09-07 11:30] antoineco commented on #17349
#### Update

Setting the `control_path` setting to something that generates a shorter path seems to solve the issue with the public instances (see [this comment](https://github.com/ansible/ansible/issues/11536#issuecomment-153030743)). _Updating issue title._

##

However, when no SSH connection is open in the background (e.g. after the _ControlPersist_ time which defaults to 60s) random failures

[2016-09-07 11:32] dagwieers commented on #14563
@passw0rd123 Can you try again with a more recent Ansible release, preferably the devel branch ?

Also, **unarchive** only works with GNU tar and unzip because it uses very specific functionality so it is more efficient in how it works. (i.e. it does not extract every time as it used to) We also scrape the output, so support for other tar commands is going to be very fragile.

[2016-09-07 11:38] lmilbaum opened #17437 "ec2 provisioned instance is unreachable"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

ansible 2.2.0
  config file = /Users/liora/git/DevOps/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION
##### OS / ENVIRONMENT

OS-X
##### SUMMARY

My playbook provisioned ec2 instance. Next setep is to install jenkins on it. But, I hit the error:
##### STEPS TO REPRODUCE

TASK [setup] *

[2016-09-07 11:49] t-my commented on #14426
## WORKAROUND

./lib/ansible/plugins/connection/ssh.py line 403 (commit 9fe430867063a0a63316e9bb71e9ba03a475a989):

from:

[code]

to:

[code]

## ROOT CAUSE

Laggy environments (public clouds etc) can cause timeouts due strict default timeout. User should be able to configure the timeout to fit their needs but context.timeout is not updating when editing `ansible.cfg`.

[2016-09-07 11:53] robinro commented on #17393
The setup module can have warnings like any other module, right? So one can make the fact gathering fill those warnings.

Another option would be to not collect all facts always, but be able to specify better which facts are required. Then failing if a required fact can not be provided is the right thing to do.

[2016-09-07 12:02] jimi-c commented on #16237
Hi @jean-christophe-manciot, sorry to take so long to get back to this. This is actually not a bug, but is instead a problem in the way you're declaring variables.

First, with jinja2 templating, a period is used to indicate a key value in a dictionary. So for `connections.os_family` it expects the variable to be declared in the following way:

<pre>
connections:
  os_family: iosv
</pre>

Either t

[2016-09-07 12:02] #16237 closed, assigned to jimi-c

[2016-09-07 12:04] snyamars commented on #15690
I am getting exactly the same error while installing enterprise version of OpenShift 3.2 using the ansible script. Could you pls suggest the workaround for this issue?
RHEL instance 7.2.

[2016-09-07 13:14] ineu commented on #10446
The behaviour is now inverted as of 2.1.1. Variables included with `include_vars` are now always merged, no matter what value `hash_behaviour` has.

[2016-09-07 13:17] jschank commented on #16960
HI again. We decided to create a new machine, and deploy to it. That seems to have cleared up whatever dependency cruft was lingering. I'll go ahead and close this directly.
I appreciate the advice earlier. Thanks!

[2016-09-07 13:17] #16960 closed, assigned to nobody

[2016-09-07 13:29] klausman opened #17438 "The host patterns "*" and "all" expand differently, "*" unconditionally adds localhost"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Ansible command line tool (ad-hoc CLI)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Both `/etc/ansible` and `~/.ansible` are absent.
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The two host patterns `all` and `*` should result in the same host list given the same inventory file and neither of them should add `localhost` to the inventory if

[2016-09-07 13:51] gundalow commented on #16078
Closing this as requested by @dagwieers

[2016-09-07 13:51] #16078 closed, assigned to nobody

[2016-09-07 13:54] brupelo opened #17439 "Best alternative to run ansible from a windows machine control"
I'm aware of this fact [http://docs.ansible.com/ansible/intro_windows.html#reminder-you-must-have-a-linux-control-machine](http://docs.ansible.com/ansible/intro_windows.html#reminder-you-must-have-a-linux-control-machine) but I'm aware there are few tutorials about running ansible on cygwin.

In any case, what's the official recommended way to use windows as a development box and still being able

[2016-09-07 14:05] bcoca commented on #17439
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-09-07 14:05] #17439 closed, assigned to nobody

[2016-09-07 14:30] jctanner commented on #17437
@lioramilbaum please run ansible-playbook with -vvvv so that we can see the full ssh args in use.

needs_info

[2016-09-07 14:33] lmilbaum commented on #17437
[code]

[2016-09-07 14:41] jctanner commented on #17437
@lioramilbaum what is the output of this command? ...

[code]

needs_info

[2016-09-07 14:42] #17436 closed, assigned to nobody

[2016-09-07 14:43] jimi-c commented on #14069
@vbotka interesting, was it different permissions? I'm curious how any zero-length file (even with bad permissions) would cause an unreachable error to occur. With which version of Ansible did you see this occur?

[2016-09-07 14:45] lmilbaum commented on #17437
The other instance was terminated. Created a new one in the same way.
Here is the output of the command -

ssh -q -C -o 'IdentityFile="/Users/liora/.ssh/ansible.pem"'  -o User=ubuntu -o ConnectTimeout=10 54.205.38.175
Welcome to Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-34-generic x86_64)
- Documentation:  https://help.ubuntu.com
- Management:     https://landscape.canonical.com
- Support:        https:

[2016-09-07 14:46] gundalow commented on #17407
fixed

[2016-09-07 14:46] #17407 closed, assigned to privateip

[2016-09-07 14:54] Shaps commented on #14360
Hi, Yes I can confirm `--flush-cache` doesn't actually do anything in v2+.
With @abadger we found the code to actually flush the fact cache is there and implemented in the cache plugins, it just doesn't seem to be used in `VariableManager`.

This should not affect versions prior to v2

[2016-09-07 14:55] alikins commented on #17137
https://github.com/ansible/ansible/issues/15685 and https://github.com/ansible/ansible/pull/15720 would seem related

[2016-09-07 14:58] gundalow opened #17441 "test_eos_command: "unable to load response from device""
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

module_utils/eos.py/m
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

I'm unsure if the error is in `eos_command` or `lib/ansible/module_utils/eos.py`. I'm assuming in `module_utils` so raising in this repo.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Clean run
##### ACTUAL RESULTS

[code]

[2016-09-07 14:58] mnsdevops commented on #2303
Spot this with ansible 2.1.1.0. 3 years passed and no solution yet. Core module simply doesn't work. I spent 4 hours and resolved this by implementing simple shell with cp command.

[2016-09-07 14:59] jimi-c commented on #15915
@x3medima17 yeah, odd quirk of YAML there that it doesn't raise a syntax error. How is your handler defined? Is it inside an included file which is dynamic?

[2016-09-07 14:59] fk0 commented on #2303
Spot this with ansible 2.1.1.0. 3 years passed and no solution yet. Core module simply doesn't work. I spent 4 hours and resolved this by implementing simple shell with cp command.

[2016-09-07 15:03] jctanner commented on #17437
@lioramilbaum please try this command ...

[code]

[2016-09-07 15:04] lmilbaum commented on #17437
[code]

[2016-09-07 15:05] gundalow opened #17442 "module_utils/netcli.py: AttributeError: 'dict' object has no attribute 'read'"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

module_utils/netcli.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

No backtrace
##### ACTUAL RESULTS

[code]

[2016-09-07 15:06] alikins commented on #17137
@shannara  what are the PAGER, LESS, and LESS_OPTS environment variables set to on the debian jessie systems that show the problem?

(Or any of the LESS\* env options...)

[2016-09-07 15:06] fk0 commented on #2303
For 2.0 it's remote_src=true that should be used to indicate copy happens only on remote side. Very confusing. Multiple bug reports confirm.

[2016-09-07 15:07] x3medima17 commented on #15915
@jimi-c It is just a task from main file of the role: roles/worker/task/main.yml

[2016-09-07 15:08] jctanner commented on #17437
I'm starting to suspect a race condition where maybe the instance has ssh running but the ec2 host has not yet added the public key.

Can you add a pause task after the wait_for task and see if that helps at all?

[code]

needs_info

[2016-09-07 15:11] jhawkesworth commented on #17285
Sorry I don't know of any logging that you can configure for kerberos.  I guess you can look in syslog and messages files.
You say issue sometimes solved by a reboot.  I had an issue a long time ago which I think had similar symptoms, which in the end was resolved by restarting nscd, but I haven't seen this since i moved off Centos 6.5.  Only other issue I recall turned out to be due to DHCP and D

[2016-09-07 15:18] lmilbaum commented on #17437
[code]

[2016-09-07 15:20] jean-christophe-manciot commented on #16237
@jimi-c : You are right; I have corrected my issues several months ago, sorry for not closing this thread earlier.

[2016-09-07 15:26] selivan commented on #17137
@alikins : on Ubuntu 14.04 Trusty:

[code]

Bug reproduces with this environment. Less version is 458. When I unset `LESSOPEN` ahd `LESSCLOSE`, bug still reproduces.

But when I do `export PAGER=less`, bug disappears.

[2016-09-07 15:28] selivan commented on #15685
Bug reproduces on my system too, ansible 2.1.1 on Ubuntu 14.04 Trusty. Like in #17137, if you do `export PAGER=less`, bug disappears.

[2016-09-07 15:36] marafa commented on #17393
N/A is better than nothing
And if it breaks a script so what? It is already broken

On Sep 7, 2016 7:18 AM, "Michael Scherer" notifications@github.com wrote:

[2016-09-07 15:42] ajaybhatnagar commented on #15915
I also get this error with latest ansible updated from ppa repo.  When I commented out notify step in task, it executed normally. Details of my case below:

Error while running the playbook:

TASK [es_deploy/2.3.4 : Update ES Config] **************************************
ok: [10.236.133.188]
**_ERROR! The requested handler 'restart elasticsearch' was not found in any of the known handlers_**

**V

[2016-09-07 15:43] gundalow commented on #17408
resolved_by_pr 17424

[2016-09-07 15:43] #17408 closed, assigned to privateip

[2016-09-07 15:52] jctanner commented on #17187
sorry @nitzmahone, still ironing out the ansibot wrinkles.

[2016-09-07 15:53] mvdbeek commented on #15915
@ajaybhatnagar
we'd need to see your handler definition to be sure there isn't any other problem, but the fix for the issue discussed here will only be in 2.1.2.0, which hasn't been released yet.

[2016-09-07 15:56] #17175 closed, assigned to abadger

[2016-09-07 15:56] jimi-c commented on #16237
No worries, it's equally our fault for not catching it sooner and having it just sit here :)