[2019-10-21 13:30] #63623 closed, assigned to justjais

[2019-10-21 14:29] sivel commented on #63747
The docs use `user` throughout in the examples, which is listed as an `alias` of `url_username`:

[code]

The aliases of an option appear under the description for that option.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-21 14:29] #63747 closed, assigned to nobody

[2019-10-21 14:29] sivel commented on #63736
Duplicate of https://github.com/ansible/ansible/issues/63684

[2019-10-21 14:29] #63736 closed, assigned to nobody

[2019-10-21 15:03] pkorovin opened #63756 "bug in lineinfile when using it with backrefs"
##### SUMMARY
Bug introduced by #63194.
Use of lineinfile module along with backrefs fails.

Relevant part of code:
[code]
Fixed it by removing lines 338-340, but additional testing required.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/files/lineinfile.py

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

`
F

[2019-10-21 15:04] gundalow commented on #61907
resolved_by_pr: 61993

[2019-10-21 15:06] #59078 closed, assigned to nobody

[2019-10-21 15:15] #61907 closed, assigned to nobody

[2019-10-21 15:16] timmcross commented on #62810
Right, OK.  Who can make the change to the vmware_guest.py to allow at least for the dash (-)?

[2019-10-21 15:30] jmmcorreia opened #63757 "Unable to copy a file to a nexus switch using nxos_file_copy"
##### SUMMARY

I am unable to copy a file to a nexus switch using the nxos_file_copy module. This happens when the file is either not present on the switch or it has been changed. If the file I'm copying is already present in the switch then the task passes without any issue.
Moreover, the error message that is being outputted does not provide a lot of information.

##### ISSUE TYPE
- Bug Report

[2019-10-21 15:58] Akasurde commented on #63711
@baztian Could you please check PR #62578 and let us know if it works for you ? Thanks.

needs_info

[2019-10-21 16:02] Akasurde commented on #61897
PR #61912 merged. Closing this.

[2019-10-21 16:02] #61897 closed, assigned to Akasurde

[2019-10-21 16:03] Akasurde commented on #61896
PR #61912 merged. Closing this.

[2019-10-21 16:03] #61896 closed, assigned to Akasurde

[2019-10-21 16:03] Akasurde commented on #61893
PR #61912 merged. Closing this.

[2019-10-21 16:03] #61893 closed, assigned to Akasurde

[2019-10-21 16:03] Akasurde commented on #61894
PR #61912 merged. Closing this.

[2019-10-21 16:03] #61894 closed, assigned to Akasurde

[2019-10-21 16:03] Akasurde commented on #61895
PR #61912 merged. Closing this.

[2019-10-21 16:03] #61895 closed, assigned to Akasurde

[2019-10-21 16:18] samdoran commented on #63756
Thank you for creating this issue. I will get to it shortly.

[2019-10-21 16:39] pgbidkar commented on #62810
@timmcross , I will make the change.
Hi @Akasurde , Please can you suggest. Can we make this change? can we allow dash '-' in Windows server names?

Thanks

[2019-10-21 17:02] ctrufan commented on #63553
I think _just_ returning the CSR/Cert content would decrease the value of implementing this - I would guess it's pretty trivial to load a file content into a variable, so you're really just saving one task - whereas if you could choose to *only* deal with the files in memory, it saves you moving them around or deleting temporary locations.

I do like the idea of being able to pass around inputs an

[2019-10-21 17:36] samdoran commented on #63684
@arlaneenalra In order to test a PR, please follow the steps [here](https://docs.ansible.com/ansible/2.3/dev_guide/developing_test_pr.html). Or here is a shorter process you can use:

[code]

[2019-10-21 18:15] johnboy2 commented on #63672
While this sounds great at a surface level, I'm having trouble seeing how this could be done while remaining _idempotent_ (which Ansible requires).

Although the DNS Manager UI can help you to _create_ mirrored `PTR` and `A` records at the same time, the resulting artifacts aren't actually linked in any way _other than common convention_. That's a pretty terrible thing for any algorithm to depend

[2019-10-21 18:20] GomathiselviS opened #63760 "eos_interfaces: Virtual/loopback interface not getting created when state=overridden"
##### SUMMARY
With state='overridden' new virtual/loopback interface is not getting created . Only the existing interface configs are getting deleted or made to default.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_interfaces.py

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Arista Eos

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Along with the existing interfaces

[2019-10-21 18:20] tehmoon commented on #59017
@Vladimir-csp @mkrizek just tested devel: `ansible-2.10.0.dev0` after finding out this issue and it's pretty awesome how it's way faster!!!

@sivel Do you know if that will make it to `2.10`? I'll switch back to a stable branch when this goes in.

Thank you everybody for fixing this! ❤️

[2019-10-21 18:34] GomathiselviS opened #63761 "ios_interfaces: non-existing virtual/loopback interfaces not getting confiured"
##### SUMMARY
ios_interfaces module is not confguring non-existing loopback and virtual interfaces . This is observed for state='merged','overridden','replaced'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_interfaces.py

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
ios

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The loopback interface should be configured in the

[2019-10-21 19:04] baztian commented on #63711
@Akasurde, just tried the PR. This works. One thing to optimize though is that it always reports `changed` for already absent properties.

[2019-10-21 19:53] jmmcorreia commented on #63757
cc @rsmeyers @dagwieers @mikewiebe

[2019-10-21 20:06] fabianvf commented on #63681
I'm not very familiar with the image APIs, but you should just be able to take a valid ImageStream manifest (ie what you'd pass to `oc`) and pass it to the `definition` field of the `k8s` module, something like:

[code]

[2019-10-21 20:09] jasonkobai commented on #61230
@JacobHenner can you share your PR?  I have an immediate need for the private endpoint functionality and it seems silly to roll my own.

[2019-10-21 20:12] samdoran commented on #63756
Please test with #63763 and let me know if that fixes this issue.

[2019-10-21 21:16] pkorovin commented on #63756
Tested, the bug has fixed.
Thank you!

[2019-10-21 21:17] #63756 closed, assigned to samdoran

[2019-10-21 21:30] mikewiebe commented on #63757
@jmmcorreia I am unable to recreate this on my lab.  In the information your provide above you indicated that the playbook works on your Ansible controller running `python 2.7.16 and Ubuntu 19.04`.  Is the only difference the Linux distro and python verion? `Python 2.7.5 and Centos`?  Are you running `ansible 2.10.0.dev0` in both the working and non-working case?

[2019-10-21 22:33] shanxops opened #63767 "k8s_facts fails with stdout_callback = selective"
##### SUMMARY
k8s_facts module, shows as FAILED when stdout_callback = selective
A similar issue already exists for older ansible version https://github.com/ansible/ansible/issues/32071

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module: k8s_facts

##### ANSIBLE VERSION

[code]

The issues exists with both Python 2.x and 3.x

##### UPDATE: ADDITIONAL INFO
This happens only when used with

[2019-10-21 22:53] septatrix commented on #56839
Is there any status on whether or not it is planed to update the docs by reverting the section regarding the mode parameter from be0dc34. I think this would clear up a lot of confusion with other file related modules extending the default doc fragment even though to majority don't implement `mode=preserve`

[2019-10-21 23:38] willthames commented on #61230
I can't find anything by @JacobHenner but https://github.com/ansible/ansible/pull/63503 should do the trick (it is possible to use modules from PRs without needing them to be merged or running bleeding edge ansible)

[2019-10-21 23:45] #61687 closed, assigned to nobody

[2019-10-22 01:01] priyankaprabhune commented on #63707
Please update on this,

[2019-10-22 01:09] s-hertel commented on #63677
@ShahanawajMulla The aws_s3 module doesn't take a `chdir` parameter so the `args` shouldn't have any effect (and I'm not sure how it isn't failing for that reason - on Ansible 2.5.5 I get `Unsupported parameters for (aws_s3) module: chdir ...`). Taking that into consideration, are you sure the dest directory exists on the host(s) `Machine` and has the right permissions? I'm not able to reproduce t

[2019-10-22 02:22] Fred-sun commented on #58285
@mybayern1974 Could you help check why there is no update logic for service_principal ? Thank you very much!

[2019-10-22 02:36] Fred-sun commented on #56634
@mybayern1974 Could you help check this issue?

[2019-10-22 03:03] Akasurde commented on #63711
@russoz Could you please address above comment ? Thanks.

[2019-10-22 04:10] maxamillion commented on #63551
@CendioOssman yes, one of the issues the patch addresses is that previously the `YumBase` object would re-instantiate every time the `is_installed` method was called which meant for every single package you list the `yum` Ansible module would re-init all plugins, load the current rpmdb into memory, and load repodata into memory over and over as many times as there are packages listed. The overhead

[2019-10-22 04:16] gitbeyond opened #63771 "ansible lineinfile always execute add at use firstmatch"
##### SUMMARY

lineinfile module seem like has a bug

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lineinfile
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
### run example
[code]

[2019-10-22 04:20] maxamillion commented on #63683
@angystardust the unfortunate reality is that it still could be the `spacewalk` plugin because DNF will still init a certain loader function in the plugin code even if the plugin is disabled. I was just curious if disabling it would side step the issue. This gives me the information I need to investigate further, thank you.

[2019-10-22 05:42] Akasurde commented on #63767
!component =lib/ansible/modules/clustering/k8s/k8s_info.py

[2019-10-22 05:53] Akasurde commented on #63749
@leonidas-o Could you please check this error at end of log -

[code]
You may want to change path to `/etc/kubernetes/pki/ca.crt/ca.crt` instead of `/etc/kubernetes/pki/ca.crt/ca.crt/kubernetes_master1/etc/kubernetes/pki/ca.crt` or whatever is required.

Thanks,

needs_info

[2019-10-22 06:01] Akasurde commented on #63733
!component =lib/ansible/plugins/become/sudo.py

[2019-10-22 06:08] Fred-sun commented on #44806
@mybayern1974 Please help add the new feature when you're free! Thank you very much!

[2019-10-22 06:08] akuznecov commented on #46795
Reproduced with `include` directive inside of template file when undefined variable present in Ansible configuration/structure.

[2019-10-22 06:10] Fred-sun commented on #63488
@vanbasten2323 Any update for the comment?

[2019-10-22 06:11] Fred-sun commented on #63428
@nrig837  Any update for the comment?

[2019-10-22 06:21] #63156 closed, assigned to nobody

[2019-10-22 06:35] mibaboo commented on #63681
I have tried this however it does not work for me as I need to create an IS from a tag

So right now I would manually  do this using
` oc tag project/image:v1 image:v1`

Any idea how I could do this using k8s?

[2019-10-22 07:03] mkrizek commented on #59017
@tehmoon Yes, this will be included in `2.10`.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-22 07:03] #59017 closed, assigned to nobody

[2019-10-22 07:51] russoz commented on #63711
@Akasurde sure! Will add to #62578 (along with a couple of other fixes/improvements).

[2019-10-22 08:08] neleshgoel commented on #61984
@Thanks a lot Fred for assistance.. Closing the Issue.

[2019-10-22 08:31] keirazhang opened #63773 "Filters ipv4 and ipv6 return false for an empty list"
##### SUMMARY

Given an empty IP list, and then use ipv4 or ipv6 filter, it returns false not an empty list.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

filters, ipv4, ipv6

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected debug msg should be "[]" for both ipv4 and ipv6 filters.

##### A

[2019-10-22 08:36] #36890 closed, assigned to nobody

[2019-10-22 08:40] EBCEEB commented on #29657
The same error with zip using ansible 2.8.1 @ python 3.6.5

[code]

path /usr/local/bin/nats-streaming-server-v0.16.2-linux-amd64/nats-streaming-server does not exist

[2019-10-22 08:40] DasFaultier commented on #29405
+1
I can confirm this issue on newer version of iptables (v1.8.2 (nf_tables) on the managed host) and Ansible (v2.8.2 on my workstation), all running up-to-date Debian Stretch 10.1.
Curiously enough, the issue only occurs with filter rules that contain "all" or "icmp" as their respective protocol, but not with my TCP/UDP filter rules, so maybe the root cause isn't the missing "-C" flag after all?

[2019-10-22 09:04] dj-wasabi opened #63774 "Zabbix_*: api sessions don't get logged out"
##### SUMMARY

When running dj-wasabi.zabbix-agent role, the sessions used to update the zabbix-server are not logged out. This leaves the session state in the sessions table at active ('0'), instead of passive ('1'). When sessions remain active, they are not cleaned up by the zabbix housekeeper. This causes the zabbix sessions table to become very large.

##### ISSUE TYPE
- Bug Report

##### COMP

[2019-10-22 09:05] dj-wasabi commented on #63774
Maybe add an argument for the module if user should also logout, like `logout: True`?

[2019-10-22 09:20] #38318 closed, assigned to nobody

[2019-10-22 10:12] varac opened #63776 "edgeos_facts fails with "socket_path must be a value""
##### SUMMARY

Gathering `edgeos_facts` fails with `socket_path must be a value`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

* edgeos

##### ANSIBLE VERSION

[code]

I also tried with 2.7.8 and 2.8.6

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* ubuntu 19.04
* EdgeRouter Infinity v2.0.6

##### STEPS TO REPRODUCE

I use this task:

[code]

##### EXPECTED RESULTS

It should gath

[2019-10-22 10:18] angystardust commented on #63774
Hi @dj-wasabi I think that the issue has been fixed in 2.9
https://github.com/ansible/ansible/pull/58525
I don't know why those fixes weren't proposed to be backported at least to the 2.8 version
maybe we should open a bug-report to ask to for that...

[2019-10-22 10:33] perlun commented on #36397
@sivel Any updates on this? I've tested a 3rd party bash completion provider (https://github.com/dysosmus/ansible-completion) for now but I'm struggling to get it to work with host name autocompletion (which would be the most important part for me).

[2019-10-22 10:39] s-hertel commented on #63137
I looked a little more into this. eu-west-3 will not work even if it's a single region because it isn't included in boto https://github.com/boto/boto/blob/develop/boto/endpoints.json#L301-L302. The boto library is no longer actively maintained, so this won't be fixed. Use the aws_ec2 inventory plugin which uses boto3 instead to use all regions.

I just tested the latest contrib script, and when us

[2019-10-22 10:39] #63137 closed, assigned to nobody

[2019-10-22 10:42] russoz commented on #63711
@baztian I have pushed the changes, would you please confirm the results?

[2019-10-22 10:51] denngie opened #63777 "ios_facts l2_interfaces resource only returning Gig interfaces"
##### SUMMARY

I have been using 2.9.0rc4 to try out the new resource models for ios_facts and the l2_interfaces resource only parses Gigabit interfaces and completely ignores other interface (Fast (100 Mbps), Ten, Twenty, Forty, Hundred etc.)

Line 89 in the module says
`if intf.lower().startswith('gi'):`
If I remove the if statement I get all interfaces including Vlan interfaces which definitily

[2019-10-22 11:18] dj-wasabi commented on #63774
Hi @angystardust

Thank you for your comment. It seems that I need to improve my searching skills on github..  It would help indeed if it can be backported to 2.8.

[2019-10-22 11:18] D3DeFi commented on #63774
Hi guys, no need for another issue. I will open backport PR for 2.8 based on this one. Versions 2.7 (security & critical fixes) and 2.6 (security fixes) don't accept general bug fixes and this one imho cannot be categorized as a critical bug fix.

I don't know why I haven't done that right then ;(

@angystardust thanks for linking the PR to this issue, spared my some minutes of searching :)

[2019-10-22 11:22] dj-wasabi commented on #63774
@D3DeFi Thanks! 👍

[2019-10-22 11:25] leonidas-o commented on #63749
@Akasurde That was an mistake on my side, I didn't use `/` and `flat: yes` inside the `fetch` module. So one issue was, that e.g. `ca.crt` and of course other files were fetched and created as directories, with the default `fetch` module beheaviour adding the hostname etc.
I don't know if this somehow relates to the broken pipe issue, if so at least a better error message would be helpful then.
Bu

[2019-10-22 11:45] maxnasonov opened #63780 "win_psmodule fails to install the prerequisites due to absence of AllowClobber"
##### SUMMARY
win_psmodule fails to install the prerequisites due to absence of AllowClobber

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_psmodule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Windows Server 2019 Datacenter

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Successful install of xExchange module

##### ACTUAL RESULTS
[code]

[2019-10-22 12:04] wkoot opened #63784 "Filter random with seed not stable between python 2 and 3"
##### SUMMARY
When using the `random` filter with a seed, you don't reproduce the same (stable, idempotent) sequence between python 2 and python 3.
Note that the same thing will probably happen for the `random_mac` filter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/plugins/filter/core.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

###

[2019-10-22 12:06] D3DeFi commented on #63774
Well, I've just found that the #58525 missed atexit call for zabbix_host module. I've forged it in the backport tho.

PR incoming for devel in a second and I would need to backport it to 2.9 once it has been released. So there will be around 2-3 weeks period where it will be still bugged in 2.9.0 for zabbix_host :/

[2019-10-22 12:35] arlaneenalra commented on #63684
@samdoran Following the listed instructions  seems to result in having an ansible on my path that has no dependencies:
https://gist.github.com/arlaneenalra/5bf7e229398b05b5512a50778737cd39

[2019-10-22 12:42] conxuro commented on #57019
Thanks a lot!

[2019-10-22 12:49] tux-84 opened #63786 "git module should allow key_file as variable"
##### SUMMARY

Since global files are not allowed by ansible, a global keyfile as a group-var for using roles in conjunction with the git module and gitlab deploy keys would make things much easier.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

git
##### ADDITIONAL INFORMATION

[code]

[2019-10-22 12:54] denngie commented on #63777
I see that you went for the whitelist approach in your PR :)

[2019-10-22 13:05] angystardust commented on #63774
Thanks to you @D3DeFi !
Ideally with the future transition of ansible modules to separate [collection](https://www.ansible.com/blog/the-future-of-ansible-content-delivery), bugfixing and release new module versions should be a much more painless experience than today.
Is there any plan to create a zabbix module collection that you're aware of?

[2019-10-22 13:34] sivel commented on #36397
Ansible 2.9 will have this functionality, see this documentation for more information:

https://docs.ansible.com/ansible/devel/installation_guide/intro_installation.html#shell-completion

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-22 13:34] #36397 closed, assigned to nobody

[2019-10-22 13:35] varac commented on #63776
Ugh, I didn't realize I needed to use `connection: network_cli` and set `ansible_network_os: edgeos` in the inventory. Please update the documentation accordingly on https://docs.ansible.com/ansible/latest/modules/edgeos_facts_module.html?highlight=edgeos_facts, it's missing there (whereas this is documented for `edgeos_config` and `edgeos_command`).

[2019-10-22 13:40] sivel commented on #63773
!component =lib/ansible/plugins/filter/ipaddr.py

[2019-10-22 13:54] samdoran commented on #63684
@arlaneenalra If you are using a virtualenv for testing, you'll need to install the requirements in the virtualenv (there is a `requirements.txt` in the root of the Ansible repo). Or if you're using the system Python, you'll have to install the requirements for the system Python.

[2019-10-22 13:59] Aeris126 opened #63788 "gitlab_user doesn't work"
I'm trying to use gitlab_user module to automate user management of gitlab.
Seems like it's broken.
I have Ubuntu16, ansible 2.8.5, python version = 2.7.15+, installed python-gitlab package on deploy host and a task for the playbook looks like this -

[code]

and in the debugging output i see -
The full traceback is:
[code]

So the main question is gitlab_user broken/unfinished or it's some enviro

[2019-10-22 14:00] samdoran commented on #63756
Thank you for verifying.

[2019-10-22 14:01] arlaneenalra commented on #63684
@samdoran
Ah, I was expecting the env-setup script in your instructions to handle that ...
Here's a run created using that method and a virutalenv:
https://gist.github.com/arlaneenalra/ed7a0a9785b40ddb0662cd34d71ea89e

Looks to work as expected.

[2019-10-22 14:38] samdoran commented on #63684
@arlaneenalra Thank you for testing the fix. Much appreciated.

[2019-10-22 14:39] #63684 closed, assigned to nobody

[2019-10-22 14:45] sivel commented on #63788
It appears as though the `python-gitlab` package on Ubuntu is not the correct `gitlab` python bindings required for this module.

This is the package that is needed:

* https://github.com/python-gitlab/python-gitlab
* https://pypi.org/project/python-gitlab/

The `python-gitlab` package on Ubuntu is:

* https://github.com/pyapi-gitlab/pyapi-gitlab
* https://pypi.org/project/pyapi-gitlab/

[2019-10-22 15:01] samdoran commented on #63771
This was fixed in Ansible 2.8.6 by 3d8df9de72

[2019-10-22 15:01] #63771 closed, assigned to nobody

[2019-10-22 15:06] samdoran commented on #63658
Duplicate of #63180

[2019-10-22 15:06] #63658 closed, assigned to nobody

[2019-10-22 15:07] samdoran commented on #63659
The best place to get help with this issue is on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-22 15:07] #63659 closed, assigned to nobody

[2019-10-22 15:08] samdoran commented on #63662
Closing per above.

[2019-10-22 15:08] #63662 closed, assigned to nobody

[2019-10-22 15:12] samdoran commented on #63664
`shell` is not a valid value for `ansible_shell_executable`. See the [documentation](https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html#ansible-shell-executable) for more details on this config setting.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansi

[2019-10-22 15:12] #63664 closed, assigned to nobody

[2019-10-22 15:14] samdoran commented on #63668
Closing as this as it is being discussed [on the mailing list](https://groups.google.com/d/msg/ansible-project/yBYSIthvdzw/d4-869l7DgAJ)

[2019-10-22 15:14] #63668 closed, assigned to nobody

[2019-10-22 15:17] mhalano opened #63797 "Testing versions on Ubuntu PPA"
##### SUMMARY

The idea is make available the "beta" and "release candidate" quality releases as DEB packages in the Ubuntu PPA, not just the stable releases so people could try new features before the official release and may be report bugs and improve the final version easily.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

DEB package

##### ADDITIONAL INFORMATION

[code]

[2019-10-22 15:18] Akasurde commented on #63788
!component =lib/ansible/modules/source_control/gitlab_user.py

[2019-10-22 15:18] samdoran commented on #63691
Per the [win_package docs](https://docs.ansible.com/ansible/latest/modules/win_package_module.html), `arguments` is a string not a list field. It will not accept a list.

[2019-10-22 15:23] sivel commented on #63702
We previously decided last week that we have no plans of implementing such a feature.  Please do not just open new issues immediately after we close a previous issue asking for the same thing.

See the previous issue for information.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2019-10-22 15:23] #63702 closed, assigned to nobody

[2019-10-22 15:23] gprossliner commented on #63735
I added the requested information. Please comment.

[2019-10-22 15:23] mjnorman commented on #63691
I appreciate the response, however doesn't it state--

As of Ansible 2.5, this parameter can be a list of arguments and the module will escape the arguments as necessary, it is recommended to use a string when dealing with MSI packages due to the unique escaping issues with msiexec.

Michael J Norman
NCO
Comcast

________________________________
From: Sam Doran <notifications@github.com>
Sent: Tue

[2019-10-22 15:24] samdoran commented on #63707
The best place to discuss this issue is on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

You may find some helpful troubleshooting tips [here](https://tannerjc.net/wiki/index.php?title=Ansible_Hangs_Filament).

[2019-10-22 15:24] #63707 closed, assigned to nobody

[2019-10-22 15:30] samdoran commented on #63718
Duplicate of https://github.com/ansible/ansible/issues/63180 (and many other similar issues)
Working on a fix in #56082.

[2019-10-22 15:30] #63718 closed, assigned to nobody

[2019-10-22 15:34] #60418 closed, assigned to nobody

[2019-10-22 15:37] loewexy opened #63798 "lxd_container: Setting LXD config property throws error on repeated runs"
##### SUMMARY
When creating an LXD Container with the ansible lxd_container module, where a MAC address for the container is specified, a second run of Ansible throws an error. The same error also happens when configuring the lxd autostart property instead of the mac address.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lxd_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[co

[2019-10-22 15:40] akalongman commented on #56629
On my Ubuntu 18.04 I fixed it via adding `ansible_python_interpreter = /usr/bin/python3` in my inventory file

[2019-10-22 15:40] sivel commented on #28058
Closing per https://github.com/ansible/ansible/pull/63729

[2019-10-22 15:40] #28058 closed, assigned to nobody

[2019-10-22 15:41] samdoran commented on #63732
In this case, adding a sanity test exclusion would be the appropriate solution rather than updating the sanity test.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-10-22 15:41] #63732 closed, assigned to nobody

[2019-10-22 15:45] samdoran commented on #63733
The default user for the [`sudo` become plugin](https://docs.ansible.com/ansible/latest/plugins/become/sudo.html?highlight=sudo) is `root`. You can change this to a different name if desired.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-22 15:45] #63733 closed, assigned to nobody

[2019-10-22 15:47] samdoran commented on #63734
We have no desire to add `ansible-lint` validation to roles created by `ansible-galaxy`.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-10-22 15:47] #63734 closed, assigned to nobody

[2019-10-22 15:57] schowave commented on #56629
Is there any news on that topic? I cannot change python version to python3, because of SLES 12 and the missing support of python 3.5. And with python 2.x it comes to the behaviour as described for the synchronize module:

FAILED! => {"changed": false, "cmd": "sshpass", "msg": "[Errno 2] No such file or directory", "rc": 2}

[2019-10-22 16:02] sivel commented on #63797
These are already available on the ansible-2.9 PPA:

https://launchpad.net/~ansible/+archive/ubuntu/ansible-2.9

To get access to the pre-release, you'll have to bump explicitly to the release specific ppa.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-22 16:02] #63797 closed, assigned to nobody

[2019-10-22 16:05] felixfontein commented on #33715
resolved_by_pr #63801

[2019-10-22 16:17] mpastor opened #63802 "routeros_command: join variable list with comma result in new line after comma"
##### SUMMARY

I'm trying to configure DNS servers on MikroTik RouterOS. DNS servers are separated by comma, e.g.

[code]

Using `join` with comma separator in `routersos_command` module result in new line after comma. Any other separator is ok.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

routeros_command module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVI

[2019-10-22 16:20] major opened #63803 "Doc errors in aws_batch_job_queue"
##### SUMMARY

Documentation on `aws_batch_job_queue` has bugs:

* module is `aws_batch_job_queue`, not `batch_job_queue`
* the `batch_job_queue_action` variable is never registered
* the `debug` task uses the old YAML style

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

`aws_batch_job_queue`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Fedora

[2019-10-22 16:21] major commented on #63803
I'll be submitting a PR for this in a moment.

[2019-10-22 16:33] GomathiselviS opened #63805 "eos_interfaces: Replaced state not maintaining Idempotence"
##### SUMMARY

changed is always true when state = replaced. This is because 'no shutdown' is configured everytime, eventhough the interface is not shutdown.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_interfaces.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Arista eos

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
"changed": false

##### ACTUAL RESULTS

[code]

[2019-10-22 17:56] BrBill opened #63810 "Documentation for flatten is incomplete/lacking"
##### SUMMARY

We need a full description of how to use flatten. The existing documentation for Ansible refers to flatten in a lot of places, but in no location does it explain the usage syntax(es) of flatten or its options (levels=???, for example). Currently, we only have casual mentions and unexplained examples.

I thought about making the changes myself, but since the problem is I'm LEARNING h

[2019-10-22 18:35] athompson-merlin opened #63812 "Replace (deprecated) net_vlan with (undeprecated) net_vlans"
##### SUMMARY
net_vlans being deprecated per #60010 without any obvious path forward

##### ISSUE TYPE
Since xxx_vlan have all been deprecated in favour of xxx_vlans, obviously we should replace net_vlan with net_vlans.

##### COMPONENT NAME
net_vlans

##### ADDITIONAL INFORMATION
The net_vlan abstraction allowed me to manage VLANs across an, er, aggressively-multi-vendor network using two tasks i

[2019-10-22 18:53] elarrarte-d commented on #53958
Any updates on this issue? Thanks!

[2019-10-22 18:56] sivel commented on #53958
This issue has been verified, and labeled as a P3 (which means the core team believes it should be addressed, but does not block new releases).

At this point it is waiting on someone to work on and submit a fix, which has not been done.  No one is assigned directly to work on this issue.

[2019-10-22 19:01] maxamillion commented on #63683
Confirmed, this is not the `spacewalk` plugin. I'll get a patch in here shortly.

[2019-10-22 19:30] baztian commented on #63711
Thanks @russoz . This seems to work. Without the dummy properties and no changes reported on consecutive runs. Good work! :+1:

[2019-10-22 20:18] russoz commented on #63711
Yay, happy to know that! :-)

[2019-10-22 20:33] athompson-merlin opened #63817 "nxos_vlans dies with TypeError: 'NoneType' object has no attribute '__getitem__'"
##### SUMMARY
Attempting to rewrite playbooks with nxos_vlan*s*, in 2.9 "preview" RPM, but failing instantly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_vlans

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7.7 controller
NX-OS versions vary, but we aren't even getting there so irrelevant for now.

##### STEPS TO REPRODUCE
[code]

/etc/ansibl

[2019-10-22 20:33] mkrizek commented on #58527
There is an open PR for this issue upstream - https://github.com/pallets/jinja/pull/1086.

[2019-10-22 21:39] lexpierce opened #63821 "Threading issue with global variable: "ERROR! 'variable' is undefined", but play is partially complete."
##### SUMMARY

When running a Hadoop installation playbook, and using a copy and pasted format between roles, one of the plays **always** fails with the following exception:

[code]

but if I look at the filesystem on the target systems, the archive was successfully installed:

[code]

Here are the two tasks that complete successfully, and the 3rd which always fails:

[code]

[code]

[code]

and t

[2019-10-22 21:41] lexpierce commented on #63821
Closed.  Root cause is different.  Filing separate issue:

[2019-10-22 21:41] #63821 closed, assigned to nobody

[2019-10-22 21:49] lexpierce opened #63822 "Handlers fail with variable reference in task name."
##### SUMMARY

Handler fails with **ERROR! 'variable' is undefiend** in the _name:_ clause of a task, but not in the actual task components.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Handlers

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS:
[code]

##### STEPS TO REPRODUCE

Include a variable reference in a handler task name

[code]

#####

[2019-10-22 21:55] vivsri commented on #48786
---
- name: enable multiple services
  become: true
  hosts: test
  vars:
    services:
     "httpd"
  tasks:
  - name: enable multiple services "{{ services }}"
    service:
         name: "{{ services }}"
         state: started
         enabled: true

this works, just try from your end
 ansible-playbook services.yml
BECOME password:

PLAY [enable multiple services] *****************************

[2019-10-22 22:25] angystardust commented on #63683
@maxamillion I've just saw your patch and tested on my env: it works great! No more traceback installing an appstream without specifying the version of the module!
Thank you so much for your support and super-fast patch ;)

[2019-10-22 22:27] jikamens commented on #63291
Ran into this when upgrading to Ubuntu 19.10 today.

[2019-10-22 22:32] mattclay commented on #51679
@moreati Can you check to make sure you're using the latest version of ansible-test from devel or stable-2.9? The `venv` directory should be automatically ignored because it's listed in `.gitignore`, so that would indicate you're testing with an older version.

needs_info

[2019-10-22 22:33] angystardust commented on #63683
resolved_by_pr 63819

[2019-10-22 22:33] johschmitz opened #63824 "Unarchive should support gzip command to process .gz archives"
##### SUMMARY
Unarchive should support gzip command to process .gz archives.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
unarchive module

##### ADDITIONAL INFORMATION
Install simple (Go) tools from archives such as https://github.com/jpillora/chisel/releases/download/1.3.1/chisel_linux_arm.gz

[code]

[2019-10-22 23:26] ericsysmin commented on #45614
I was able to replicate.

Value that's provided down to the import is "sid" which is invalid. The value should be "xenial"
`    TASK [ericsysmin.certbot : certbot | Apt | Ubuntu | Install the Ubuntu PPA certbot/certbot] ***
    An exception occurred during task execution. To see the full traceback, use -vvv. The error was: apt.cache.FetchFailedException: W:The repository 'http
://ppa.launchpad.net

[2019-10-23 00:31] russoz commented on #63711
@Akasurde I suppose we're good to go. What's next now?

[2019-10-23 00:43] kbreit commented on #63012
@feisa Did this version help?

[2019-10-23 01:48] geerlingguy commented on #63684
Many of my role CI builds started failing once all my test containers got rebuilt with 2.8.6, I'm guessing this is the reason... e.g. Jenkins role https://travis-ci.org/geerlingguy/ansible-role-jenkins/jobs/601588950#L602-L604

Is there an ETA on a 2.8.7 release, as this will start affecting production runs once people start upgrading to 2.8.6 (otherwise I'll just recommend people pin to 2.8.5 for

[2019-10-23 02:25] poige opened #63826 "Consider Ansible being not Microsoft Clippy"
`[WARNING]: Consider using 'become', 'become_method', and 'become_user' rather than running sudo`

— I don't need this, I know what I'm doing and I'd prefer the output to be less cluttered.

May be there's an option to mute this, may be there's not, but the general idea is just don't.

[2019-10-23 03:01] pfs-iii opened #63827 "ios_command: ftp copy timeout"
##### SUMMARY

Using ios_command, I am trying to copy a file from ftp to a Cisco switch. The ftp starts but stops 10 seconds later.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_command
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Current version:
Cisco IOS XE Software, Version 16.06.06
Cisco IOS Software [Everest], Catalyst L3 Switch Software (CAT

[2019-10-23 03:31] artazar opened #63828 "win_iis_website: state=restarted does not actually restart the website"
##### SUMMARY
win_iis_website module does not restart IIS website when using 'state=restarted' parameter

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_iis_website

##### ANSIBLE VERSION

[code]
same issue still present in newer versions according to source code

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS: Windows Server 2016

##### STEPS TO REPRODUCE
1. Have a Window

[2019-10-23 04:35] flowerysong commented on #63810
https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#list-filters

[2019-10-23 05:19] rshbb commented on #60044
Can anyone explain me what we have to do here? In a nutshell?

[2019-10-23 05:43] Fred-sun commented on #62901
kindly ping

[2019-10-23 05:45] rshbb commented on #62441
How would you pass empty array in playbook?

[2019-10-23 05:53] combrs commented on #49408
Hello all.
We encounter this bug regularly in our environment (ansible 2.8.4) due to files in zip archive with long dash in its names. We use ansible in gitlab pipeline, where ansible executes on gitlab runner and target host use "unarchive" module to unzip that files with Unicode dash in name.
Here is a module stacktrace:

fatal: [10.203.94.23]: FAILED! => {"changed": false, "module_stderr": "Sha

[2019-10-23 05:56] Fred-sun commented on #62711
@Tomelin Did the above comment help you?

[2019-10-23 06:00] #61884 closed, assigned to mattclay

[2019-10-23 06:00] #62723 closed, assigned to mattclay

[2019-10-23 06:04] Fred-sun commented on #62424
@goneri The average user will rename it according to their own needs or easy to remember names, so it is not necessary to rename it in a specific way. Thank you very much!

[2019-10-23 06:52] P-Hessler opened #63841 "Access errors not reported by win_robocopy"
##### SUMMARY

Module win_robocopy does not report access errors. The task is marked as ok/changed although the stdout indicates that there were errors syncing files.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_robocopy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target is a Windows Server 2016 machine.

##### STEPS TO REPRODUCE

Create an emp

[2019-10-23 07:34] #63551 closed, assigned to nobody

[2019-10-23 07:34] #63588 closed, assigned to nobody

[2019-10-23 08:30] #41061 closed, assigned to nobody

[2019-10-23 08:36] mmallet-digipok opened #63844 "azure_rm_virtualmachine: VM OS disk policy gets updated even when not specified"
##### SUMMARY
If you happen to use the __azure_rm_virtualmachine__ module to manage a VM powerstate, if no os_disk_caching attribute is not specified, the module sets *ReadOnly* as default value.

Unfortunately, if the already existing VM has a different type of OS disk cache, e.g. *ReadWrite*, the module attempts to update the VM whereas, as os_disk_caching has not been specified, it is not expec

[2019-10-23 08:41] JamesKBowler commented on #49254
ditto

[2019-10-23 08:42] stas-sbi commented on #63668
I'm afraid it's not going to go far on the mailing list. Any other way to reach out to devs? @samdoran

[2019-10-23 08:45] Akasurde commented on #63826
!component =lib/ansible/modules/commands/command.py

[2019-10-23 08:50] Akasurde commented on #63798
For readability -

[code]

[2019-10-23 08:51] Aeris126 commented on #63788
oh, thank you! seems like with pip installation it works!

[2019-10-23 08:51] #63788 closed, assigned to nobody

[2019-10-23 09:30] Ninjiner commented on #56994
I rewrote the whole thing, based on the ansible internal `Request` class from the `ansible.module_utils.urls` library.
I tried to write it in a way, that other UptimeRobot api features can be added easily.

[2019-10-23 09:48] lijinghuatongxue commented on #19814
my roles file,it work ！

- hostname: name={{ HOST_NAME }}-{{ ansible_default_ipv4.address.split('.')[-2] }}-{{ ansible_default_ipv4.address.split('.')[3]  }}
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  sudo: yes

output：

TASK [host-init : Print HostkName] ****************************************************************
ok: [172.29.207.38] => {
    "msg": "New ho

[2019-10-23 10:09] esncs16 commented on #63619
Thanks Samdoran for the info.

Just a correction on my thread. My Ansible version is 2.8,3 not ansible-2.7.9

[2019-10-23 10:41] s-hertel commented on #63822
Can you please provide a complete (ideally simple) reproducer? It looks like your notifying task is using a variable that isn't available, rather than a problem templating the handler name. I'm not able to reproduce on 2.8.5 with this:
[code]
needs_info

[2019-10-23 10:45] nafallo commented on #25414
aptdcon is just a python script that imports aptdaemon. We should likely rewrite the apt_module to try aptdaemon first and fall back to python{,3}-apt instead...

[2019-10-23 10:55] apigban commented on #18305
I use 2.8.5 and it gets stuck on gathering facts...

with verbose on, the final log is Escalation Succeeded.

[2019-10-23 11:05] eoli3n opened #63850 "[chroot, containers] --skip-modules argument"
##### SUMMARY
Beeing able to skip some modules at ansible-playbook invoke

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-playbook

##### EXEMPLE
[code]

##### USECASES

###### 1° Ansible in a chroot
I deploy node with Kickstart install then chroot into and run ansible-pull.
To let ansible skip systemd tasks, i use `when: not ansible_is_chroot`
But i need to remember each time i wri

[2019-10-23 11:12] eoli3n commented on #63850
!component =ansible-playbook

[2019-10-23 12:31] D3DeFi commented on #63774
Thanks for the good question @angystardust . To be honest, I am aware that there will be collections in the future, but that's about it. I don't know if there is some plan to call upon maintainers and give them time to split module namespaces into collections or if collections will be just announced as production ready and we would be somehow forced to migrate our code base in a shorter time windo

[2019-10-23 12:33] nafallo commented on #25414
aptdaemon is on it's death bed, apparently. I suppose we could start with a small while loop under the apt-cache-LockFailedException and retry running the main function a few times?

[2019-10-23 12:50] perlun commented on #36397
Awesome, thanks. :+1: Will definitely check in on IRC as well.

[2019-10-23 13:01] jdnrg opened #63852 "aws_codebuild create_webhook"
##### SUMMARY
Be able to call CodeBuild.Client.create_webhook from ansible

I see there are some github hooks modules, but aws has its own hook interface that does not seem to be supported yet.

Possible to create it as a separate module instead of adding it to the codebuild module directly because it is a new api call.

Example
[code]

##### Boto3 Parameters

Extracted from
https://boto3.amazonaw

[2019-10-23 13:51] markatdxb opened #63855 "VMware: vmware_guest fails if DC has ESX in maintenance mode"
##### SUMMARY

Getting error msg": "Failed to create a virtual machine : The operation is not allowed in the current state of the host."
Creating VM from Template in Datacenter with specified cluster name. Datacenter has 1 cluster with 2 ESX nodes - both running,  and additional 2 nodes outside of cluster both in maintenance mode.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

[2019-10-23 13:58] samdoran commented on #63668
@stas-sbi The #ansible-devel IRC channel on Freenode. If you want to discuss this in a more formal setting, it can be added to the [IRC Meeting Agenda](https://github.com/ansible/community/labels/core).

[2019-10-23 14:11] jmmcorreia commented on #63757
@mikewiebe We were able to reproduce and fix the error. It's related to the scp release that was being used. We were previously using the 0.6.0 release of scp and updating to the latest version fixed the issue. I was able to reproduce the error for all scp releases from 0.6.0 until 0.10.0 (Not included).

[2019-10-23 14:16] #51144 closed, assigned to GomathiselviS

[2019-10-23 14:21] nkakouros commented on #50441
I also encountered this with a fresh pull of the devel branch of ansible. I noticed that if I create a disabled rule and then try to update it to be enabled, it works. Going the other way around, creating an enabled role and then disabling it does not work.

[2019-10-23 14:22] mikewiebe commented on #63757
@jmmcorreia Thanks for the update.  Based on the information you provided can we consider this issue closed?

[2019-10-23 15:12] karlism opened #63862 "netbox_device module fails with custom NetBox slug name"
##### SUMMARY
`netbox_device` module fails to add device if it has non-standard slug name

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

netbox_device

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OpenBSD 6.6 amd64

##### STEPS TO REPRODUCE

[code]
Related NetBox objects are following:
[code]

##### EXPECTED RESULTS

I would expect `netbox_device` modu

[2019-10-23 15:32] athompson-merlin opened #63864 "net_vlan runs commands even in --check mode"
##### SUMMARY
The net_vlan module appears to take actions on network devices even when invoked with the --check option.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
net_vlan

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS 7.7
Ansible "preview" repo enabled.
Connecting to a variety of IOS, NXOS, IronWare and EXOS switches.
(So far I've only seen th

[2019-10-23 15:39] seblu opened #63865 "ansible_loop_var is undefined in include_role.name"
##### SUMMARY
The  `ansible_loop_var` is reported undefined in include_role.name

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Arch Linux

##### STEPS TO REPRODUCE

Inventory:
[code]

Playbooks:
[code]

##### EXPECTED RESULTS
We should be able to use `ansible_loop_var` as role name to include.

##### AC

[2019-10-23 15:56] rrey commented on #51068
@seuf from what @ecksun posted, the `password` field have the same values, but I can see the `database` and `version` values are not the same.

[2019-10-23 15:58] mishas commented on #29610
Is there any update on this?
It seems like there was a fix in the previous repository (before migration): https://github.com/ansible/ansible-modules-core/pull/5721/files#diff-c8620ce6bed12fc5110958c7607f1b03R161,
but it's not here after the migration (and also the PR referenced above (#5721) is incorrectly linked (it was the PR ID in the old repository).

[2019-10-23 15:59] athompson-merlin opened #63866 "exos_vlans needs network_cli support"
##### SUMMARY
exos_l2_interfaces, exos_lldp_global and exos_vlans are slightly too far ahead of their time (i.e. do not support network_cli connection)

##### ISSUE TYPE
- Feature Request

##### COMPONENT NAME
exos_l2_interfaces
exos_lldp_global
exos_vlans

##### ANSIBLE VERSION

-devel version as of 2019-Oct-23, specifically:
* https://docs.ansible.com/ansible/devel/modules/exos_l2_interfaces_mod

[2019-10-23 16:01] jmmcorreia commented on #63757
@mikewiebe Yes, I think this issue can be closed. I would probably suggest an update to the module documentation, but that's pretty much it.

[2019-10-23 16:03] mjnorman opened #63867 "Documentation for arguments param for win_package is incorrect"
##### SUMMARY
I placed an issue  #63691 stating that passing arguments as a list does not work correctly.  It was closed stating that it does not accept a list.  According to the documentation found [here](https://docs.ansible.com/ansible/latest/modules/win_package_module.html?highlight=win_package#parameters), arguments states
[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

[2019-10-23 16:07] maxamillion commented on #63683
@angystardust thank you for following up with a test and confirmation of fix! :+1:

[2019-10-23 16:16] sky-joker commented on #63376
@Udayendu
I tried the same procedure for NSX-V.

| component | version |
|-----------|---------|
| ESXi      | 6.5.0   |
| vCenter   | 6.5.0   |
| NSX-V     | 6.4.5   |

The target NSX port group are as follows.

![スクリーンショット 2019-10-24 0 53 41](https://user-images.githubusercontent.com/19516126/67412138-b0992880-f5f9-11e9-8aa7-7f4502078cfb.png)

##### STEPS TO REPRODUCE

[code]

##### run playbook

[2019-10-23 16:18] Xat59 commented on #54748
Hello guys,

I have exactly the same behavior.

##### SUMMARY
When using ```unarchive``` module and ```extra_opts``` parameter with ```-j``` value , I get an error related to SELinux .

Here is the error I get :
[code]
Of course, same task has been tested without any problem on Debian and Ubuntu, because Debian and Ubuntu do not use SELinux.

Here is the task I am using :
[code]

##### ISSUE TYPE

[2019-10-23 16:23] lexpierce commented on #63822
Better reproducer:

works when variable is defined in local play:
[code]

fails when variable is defined in **group_vars/all**

group_vars/all:
[code]

simple_test.yml (failing case):
[code]

output:
[code]

working case:
[code]

OUTPUT:
[code]

so the variable is read, and is used within the handler, but when the variable comes from global scope it seems to fail in the name of the task.

[2019-10-23 16:32] jillr opened #63869 "aws lightsail does not support wait: yes on create"
##### SUMMARY
In #63770 it was found that the `wait` specified in the module docs does not apply to create operations.  Wait functions are only defined for `delete_instance`, `restart_instance`, and `startstop_instance`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lightsail

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
[code]

[2019-10-23 16:34] bcoca commented on #63822
group_vars/all is not 'global scope' only extra vars are (-e on cli), those are host specific variables and cannot be used in task names.

[2019-10-23 16:52] tmtron opened #63870 "accepting ssh fingerprint does not work"
##### SUMMARY
When executing a playbook against multiple hosts, then the ssh fingerprint of some hosts may not be known yet.
Ansible spits out multiple questions if we want to continue to connect, but input is not possible or ignored.

- It looks a lot like this issue #13318 - maybe this has never been fixed?
- also this old blog post shows the same issue: http://toroid.org/ansible-ssh-locking

No

[2019-10-23 16:58] zoredache commented on #63870
Generally you are expected to handle this on our own, either outside ansible.  Or by setting the host_key_checking configuration.

- https://docs.ansible.com/ansible/latest/reference_appendices/config.html#host-key-checking

[2019-10-23 16:59] athompson-merlin commented on #63866
Having said that, I'm looking at how to idempotently write a CLI script to manage VLANs on an EXOS switch, and I *do* understand why the author might have looked at that and gone "no f*ing way, uh-uh, that's batshit crazy, man!"
(There's no EXOS version of the SQL "create table if not exists", nor is there an idempotent rename command: renaming vlan "ABC" to "ABC" doesn't succeed, it produces an e

[2019-10-23 17:02] rrey commented on #37886
I managed to reproduce this issue on ansible 2.5.15 but not on ansible 2.6.0
I think this issue can be closed since [ansible 2.5 is now unsupported](https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html#release-status).

[2019-10-23 17:05] tmtron commented on #63870
If that was true, then Ansible would not even ask `Are you sure you want to continue connecting (yes/no)`, but would fail immediately with a meaningful message.

Disabling host-key-checking is not an option, since it that will allow MIT attacks (AFAIK).

[2019-10-23 17:07] BrBill commented on #63810
Yes, I read that, which is still incomplete. It does not explain the differences or expectations re:

flatten(1) vs. flatten(levels=1)

It doesn't even mention the first syntax, which is apparently legal but undocumented.

[2019-10-23 17:27] sivel commented on #63810
The difference between using `flatten(1)` and `flatten(levels=1)` isn't something we will document. That is something that you need to understand from a combination of function calls in python, and what you can find at https://jinja.palletsprojects.com/en/master/templates/

I assume at this point you have a better understanding of the filter?  Could you say what you would like to see there that is

[2019-10-23 17:28] lexpierce commented on #63822
Not global, but available for **all** hosts. So the task names would be the same for **all** hosts. And the `{{ tez.version }}`  variable works in task names that are outside of handlers, say in roles/tez/tasks/main.yml and roles/tez/tasks/configure.yml (which is included in main.yml by `include_tasks`), and within tasks in roles/tez/handlers/main.yml.  This is specifically an issue with **all** h

[2019-10-23 17:35] angystardust commented on #63774
I perfectly agree with you @D3DeFi: it would be wise to wait and understand how main ansible developers want to manage the transition from the "batteries included" approach to a "add your collections as you need them" one.
From my understanding I see that some collections are already hosted in the main github ansible project but I think that's a treatment reserved for the official partners (google

[2019-10-23 17:39] samdoran commented on #52329
This was fixed in #63194, which in Ansible >= 2.8.6.

[2019-10-23 17:39] #52329 closed, assigned to samdoran

[2019-10-23 17:41] jctanner opened #63871 "connection plugins need to monitor and reap dead child processes"
##### SUMMARY
sshpass with high fork counts and large inventory seems to get into a state where it doesn't handle zombie ssh child processes. We should probably poll the children of our forked processes and only allow zombies to live for so long before we kill sshpass. I have a prototype implementation in ...

https://github.com/jctanner/ansible-scale-lab/blob/master/connection_plugins/ssh_killer.

[2019-10-23 17:43] sivel commented on #63871
[code]

[2019-10-23 17:54] vanbasten2323 commented on #63488
Hi @Fred-sun , the current Ansible client only take OS disk when users try to create a image version. However, it should also take data disks as user input when user creates image version.

[2019-10-23 18:51] zoredache commented on #63870
The message is  from `ssh`, not ansible.  Ansible isn't asking you anything.  The ssh client ansible starts is.  But you have no way to type yes, because the ssh process isn't started in way you have interactive access too it.  You have to either ignore host key checking, pre-scan using ssh-keyscan, or do something else manually.

[2019-10-23 19:30] athompson-merlin opened #63872 "exos_command insta-fail: UnboundLocalError: local variable 'responses' referenced before assignment"
##### SUMMARY
exos_command in 2.9rc4 is completely broken, can't even invoke it

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
exos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS 7.7
Ansible 2.9rc4 installed from Previews RPM repository

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Should SSH to each switch, run a command, maybe

[2019-10-23 19:37] athompson-merlin commented on #63870
The documentation still doesn't address this.  The fact that disabling host key checking is still a recommendation doesn't... well, it does address the surface symptom while ignoring the deeper problem.
All the various Issue reports on here complaining of the same thing, all of which have been closed, and all of which have comments tacked on later like "obviously this is still a problem" indicate

[2019-10-23 19:39] marky2376 opened #63873 "Trouble running pattern match on iosxr command"
##### SUMMARY
Trouble running pattern match on iosxr command

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
iosxr_command

pattern_match:

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I expect the regex to match only on the data after "counters" in the output.

[2019-10-23 19:56] zoredache commented on #63870
It is mentioned in the getting started guide.  Perhaps it isn't as verbose as it could be, but it is there.

https://docs.ansible.com/ansible/latest/user_guide/intro_getting_started.html#host-key-checking

Just run ansible with the environment variable ANSIBLE_HOST_KEY_CHECKING=false the first time you need to connect to a host, and do a simple `ansible hostname -m ping`.  Your first connect will

[2019-10-23 19:58] h35gao opened #63874 "iam_role: support for adding tags to iam role"
##### SUMMARY

iam_role does not have support for adding tags to the iam role

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

iam_role

##### ADDITIONAL INFORMATION

It would be nice if we can add tags to the iam role when we create it using iam_role.
Something similar to ec2_instance would be great

[code]

[2019-10-23 20:03] prasadkatti commented on #63869
The `has_pr` label should be removed as the PR it refers to is the one where the issue was discovered, not where it was solved.

[2019-10-23 20:19] prasadkatti commented on #63869
The `lightsail` client does not have any pre-defined waiters - [boto3 lightsail doc](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/lightsail.html).

[2019-10-23 20:31] jamesmarshall24 opened #63876 "VMWare Host Service Manager Shows Service Started, but Service Remains Down"
##### SUMMARY

When attempting to start the TSM-SSH, the vmware_host_service_manager module reports a "changed" status with a state set to "start". Following up with the associated facts module and checking vCenter reports the service is still down.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_host_service_manager.py

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

[2019-10-23 20:41] jillr commented on #63869
Yeah it will need to be done via a while loop like: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/lightsail.py#L317:L328

[2019-10-23 20:57] BrBill commented on #63810
Imagine you didn't understand how a particular command worked in Linux. You asked for help and someone told you to go read it its C++ source, and learn more about how a particular C++ standar library was implemented. Maybe you're a go-getter, but documentation of the actual tool is better than documentation _of another tool_.

[2019-10-23 21:06] samdoran commented on #63563
The only reason `usermod` would be run when an account already exists is if the account on the system doesn't match what is in the task.

Completely remove the account from the system, then run the task only once and see if the user name, comment, home, and shell match the task. If they do not, then something is preventing the `useradd` command from properly creating the account.

Then, try removi

[2019-10-23 21:07] BrBill commented on #63810
To answer your question:

I would like the documentation to explain (despite protestations from those who don't feel like documenting it):
- flatten vs. flatten() vs flatten(args)

Having to understand a completely separate language (a vague mention of python and a link to jinja page that doesn't even contain the word "flatten") is not useful documentation practice, especially when there isn't rea

[2019-10-23 21:11] sivel commented on #63810
I don't see us documenting `flatten vs. flatten() vs flatten(args)`. That is defined by jinja2 itself, and there is verbose documentation on the jinja2 site.

That is simply a topic for another tool, if we do not have a link to the jinja2 documentation prevalently enough, we should ensure we do.

If you would like more information pertaining to what exactly `flatten` does, and what `levels` means,

[2019-10-23 21:15] BrBill commented on #63810
So, to review (correct me where I'm wrong, please):

1) I asked for better doc for a vaguely explained feature.
2) I was politely told no, Ansible devs/supporters don't describe how their actual tool works, and I should go study python and jinja before I use Ansible, so I can behold the secret arcane practices. Kind of like, I should become an expert in steel before I try to drive a car.

[2019-10-23 21:19] BrBill commented on #63810
Also: https://jinja.palletsprojects.com/en/master/search/?q=flatten

[2019-10-23 21:25] sivel commented on #63810
I feel you are mixing 2 different concepts.

The difference between `somefilter` vs `somefilter()` vs `somefilter(args)` is defined by jinja2, we do not define how that functionality operates.

However, the `flatten` filter is ours, and the what it does is maintained by our repo.

If we need to document better what the goal of flatten is, and what it does, we can do that.  Such as what flattening

[2019-10-23 21:29] BrBill commented on #63810
So, as a rookie Ansible user, how am I to know that I was mixing 2 different concepts? I'm just trying to figure out the best way to use functionality that you readily admit is a filter that is part of Ansible itself. The situation is obscure - the whole reason I went searching for help in the first place is because the Ansible veteran who sits next to me at work couldn't explain: flatten vs flatt

[2019-10-23 21:37] jhg03a opened #63877 "Expand JUnit Callback module blacklist"
##### SUMMARY

Today, there is [an option](https://github.com/ansible/ansible/blob/e2f85b3f6cfd56846e65cad51c5fe47c551e72dd/lib/ansible/plugins/callback/junit.py#L60) to suppress the `setup` task specifically from JUnit output.  I'd like to see this expanded to a more powerful blacklist than just singling out one module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

JUnit Callback Plugin

[2019-10-23 21:41] sivel commented on #63810
So it does not sound like the job that flattens does is in question, but rather how to utilize jinja2 filters and what different invocations of jinja2 signify.

[2019-10-23 21:52] athompson-merlin commented on #63870
Ah, the first part is documented, yes.  But most sysadmins will - and do - read that and think "hell, no, that's the whole _point_ of ssh fingerprints".
Nowhere until now have I seen any mention that running ansible with host key checking disabled will update .ssh/known_hosts.  That should perhaps be mentioned on the same page you linked to, where it would do quite some good IMHO.

[2019-10-23 21:58] jhg03a commented on #63877
It's kindof strange because you can suppress normal task outputs via `no_log: true`, but you can't do that with the playbook gather_facts statement.

[2019-10-23 23:17] jhg03a commented on #63877
As an imperfect solution you can workaround this with the following:

scrub.junit.xslt
[code]

and after running your playbooks using:
[code]

I'd generally prefer proper no_log usage and/or JUnit parameter based suppression, but this solves my issue today.  Maybe it's not a terrible redundant solution on top of these things, but magic words and external processes seem like additional overhead and

[2019-10-23 23:36] ujwalkomarla commented on #63866
@athompson-merlin The notes in the module section probably implied that it works in 30.2+ version where it shouldn't. I don't see any reason why the specified modules wouldn't work with 22.X versions with Restconf available on the switch.

[2019-10-23 23:43] ujwalkomarla commented on #63872
@athompson-merlin The 'retries' option description is probably confusing, but retries need to be at least 1 for it to be executed(try) once.

[2019-10-23 23:49] athompson-merlin commented on #63866
Agreed, it ought to "just work".  At least _some_ users have enabled the HTTP interface by this point in time.
I'm not one of them, which is sucking right at this moment, but then much of Ansible's network-management story is sucking for me right around now, so it's not just this module.

[2019-10-23 23:51] athompson-merlin commented on #63872
You are entirely correct, that is confusing AF.  The first attempt is not a "retry", by definition.  Strongly recommend either changing the internal logic to make "retries" work (preferred) or renaming the option to "attempts" (not preferred, that's clunky).
If you just automatically execute ```retries++`` on entry, I doubt you'll find too many people angry with it.

[2019-10-23 23:55] schrodervictor commented on #31999
We need this feature. I could take this over and offer a pull request. Any objection or special instruction?

[2019-10-23 23:58] jpmontez commented on #31999
@schrodervictor Throw it in, mate!

[2019-10-23 23:58] ujwalkomarla commented on #63872
I agree. That applies to all the network '*_command' modules in general.

@Qalthos @ganeshrn Would like your take on this.

[2019-10-23 23:59] joshsouza commented on #31999
Not at all. I'm no longer using Ansible, so feel free to take up the mantle
here and improve!

On Wed, Oct 23, 2019, 4:57 PM Victor Schröder <notifications@github.com>
wrote:

[2019-10-24 00:04] ujwalkomarla commented on #63866
Well, I agree, it might not work right out depending on the 22.X version you currently have deployed.

However, restconf updates will be available as XMODs, so you could install the latest restconf version on to 22.X version to have more feature support.

I am surprised that GTAC and SE (strongly?) encourage disabling/blocking web interfaces.

[2019-10-24 00:15] BrBill commented on #63810
Well, how the levels work is partially in question, and default behavior without () is just basically levels=♾ ?

[2019-10-24 00:47] jdufresne commented on #57920
This would be especially nice for settings that are very longs lists. For example, when setting `/org/gnome/shell/favorite-apps` to more than few items would be great if this could be expressed as a list in YAML syntax.

[code]

[2019-10-24 01:23] boweevil commented on #46379
I get the same error on any version >= 2.8.0 when using new lines in the extra vars argument.

[code]

Example:
[code]

I'm able to work around the issue with declaring each variable in a separate -e argument like so:
[code]

[2019-10-24 02:35] Fred-sun commented on #63488
@vanbasten2323 Thanks for your update. Could you give a example that you're want using? Thank you very much!

[2019-10-24 02:38] seblu opened #63881 "Jinja substitution regression in 2.8.6 and incoming 2.9"
##### SUMMARY
There is a tricky regression introduced in `v2.8.6` in Jinja substitution when several conditions are met.

When a dict key is templated and it has a vaulted subkey inside `group_vars` file, e.g:
[code]
and the templated value (`key_value`) is defined in a `host_vars` file, e.g:
[code]
 **iteration over the dict keys doesn't do the substitution anymore**, e.g:
[code]
When the subkey

[2019-10-24 03:19] Fred-sun commented on #59770
duplicate_of #63226

[2019-10-24 04:57] #63683 closed, assigned to nobody

[2019-10-24 05:34] Fred-sun commented on #52068
kindly ping

[2019-10-24 06:16] tmtron commented on #63870
I think the [docs](https://docs.ansible.com/ansible/latest/user_guide/intro_getting_started.html#host-key-checking) are not clear enough. It should explicitly be mentioned that the _interactive experience_ only works for a single host, but **not** for multiple hosts.

@zoredache Thanks for the explanation. I understand that this is not a bug - so feel free to close this issue or keep the issue ope

[2019-10-24 06:42] Akasurde commented on #63490
resolved_by_pr #63888

[2019-10-24 07:02] YuZongYangHi opened #63889 "Why do you need to change the api for each version? 2.8+"
TypeError: __init__() got an unexpected keyword argument 'options'

[2019-10-24 07:10] kkchan0 opened #63890 "httpapi checkpoint connection cannot specific domain"
##### SUMMARY
httpapi checkpoint connection cannot specific domain

##### ISSUE TYPE
In Checkpoint multi domain management environment (Provider-1), we need to specify which **domain** to manage. However, in the checkpoint plugin connection code, only username and password are used.

##### COMPONENT NAME
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/httpapi/checkpoint.py

class

[2019-10-24 07:19] LukeShortCloud opened #63891 "[gather_facts] Only gather specified facts"
##### SUMMARY
Currently, if facts are enabled then every fact from each inventory is looked up before the playbook run. For performance and scale improvement for tasks/roles that require facts, it would be nice to:

(1) Only gather a fact if an Ansible task encountered a variable known to be a fact. For example, if `ansible_devices` is being used in a module then lookup that one fact on all of the

[2019-10-24 07:49] FilipB opened #63894 "os_server module fails while creating instance on get_hostvars_from_server"
##### SUMMARY

_exit_hostvars fails on get_hostvars_from_server with "flavor_id = server['flavor']['id']\nKeyError: 'id'"

It's because the flavor field does not contain 'id':
'flavor': Munch({u'vcpus': 2, u'disk': 40, u'extra_specs': {u'aggregate_instance_extra_specs:server_type:aggregate': u'general'}, u'swap': 0, u'original_name': u'm1.medium', u'ram': 4096, u'ephemeral': 0})

Full server dict

[2019-10-24 07:50] allen12921 opened #63895 "aws_ec2 plugin can not compose 'ansible_user' and 'ansible_ssh_common_args' vars"
##### SUMMARY

we are trying use aws_ec2 plugin to generate invertory
all working fine until we try to compose  'ansible_user' and 'ansible_ssh_common_args'  vars
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aws_ec2
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Mojave

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2019-10-24 08:14] pgbidkar commented on #63855
Hi @markatdxb , I am not able to reproduce the issue. First test setup is, One Datacenter, Cluster inside it and added one host inside cluster and one outside. Put host outside cluster to maintenance mode.
Creating VM from template is working fine. I have not added any customization to playbook.

[code]

[2019-10-24 08:14] justjais commented on #63777
@denngie closing the bug as the fix for the issue is merged in `devel` and backported to `2.9`.

[2019-10-24 08:14] #63777 closed, assigned to justjais

[2019-10-24 09:12] markatdxb commented on #63855
Hello, thanks for testing.
i was just looking at the problem after your post and i think i figured out the root cause. Basically we were replacing the hosts in that location, old ones are now out of the cluster in maintenance mode. Issue is that the template which we use is still sitting on the host which is in maintenance mode which is causing the problem .
I believe we can close this issues and

[2019-10-24 09:41] #63855 closed, assigned to nobody

[2019-10-24 10:22] seblu commented on #63881
The issue didn't appear when the `groups_vars` and the `host_vars` are defined in the inventory. I guess this can be generalized to the same file.

[2019-10-24 10:54] D3DeFi commented on #63774
Yep, I've seen those two collection repos, but am not sure what to think of them so far. That is why I would like to wait before making any decisions or opening any serious discussions about it.

Btw, I was thinking the same with Zabbix LLC :) Lucky us that @richlv shows here from time to time. @richlv can you speak from Zabbix (at minimum github org) or are you involved in such decision making yo

[2019-10-24 11:23] Akasurde commented on #63890
!component =lib/ansible/plugins/httpapi/checkpoint.py

[2019-10-24 11:30] cldmkr opened #63899 "azure_rm_keyvaultsecret global name 'KeyVaultErrorException' is not defined using keyvault==1.1.0"
##### SUMMARY

azure_rm_keyvaultsecret faces a problem with azure-keyvault==1.1.0 : NameError: global name 'KeyVaultErrorException' is not defined

Issue exists with: azure-keyvault==1.1.0.
Issue does not exist with azure-keyvault==1.0.0a1

Hint: Not sure but problem seems to be related to:
from azure.keyvault.models.key_vault_error import KeyVaultErrorException
where in 1.1.0 I think it is:
from

[2019-10-24 11:32] dj-wasabi commented on #63774
Hi @D3DeFi

I haven't had the time to actually look into the whole collections thing, so I can not give a proper answer to that yet. I'll find some time to do some investigation about this.

But I think it would benefit for all Zabbix users that uses Ansible in their infra if the Zabbix LLC can be part of this. I don't mind moving my Zabbix roles to the Zabbix LLC "domain" if that would improve th

[2019-10-24 11:35] samdoran commented on #63684
@geerlingguy The earliest release would happen two weeks after 2.8.6.

[2019-10-24 11:48] D3DeFi commented on #63774
Thanks @dj-wasabi . I am so far thinking only about situation where core devs ask module maintainers to remove their modules from this repository (ansible/ansible) and there won't be any place for us to move to (e.g. ansible-collections/zabbix). In such case I can see that the best course of action would be to create ansible collection for zabbix modules under zabbix github organization, providing

[2019-10-24 12:03] arlaneenalra commented on #63684
Is there any way to make previous versions available in the ubuntu
repository?

On Thu, Oct 24, 2019, 06:36 Sam Doran <notifications@github.com> wrote:

[2019-10-24 12:03] richlv commented on #63774
@D3DeFi, to clarify, I'm not a member of the Zabbix team currently - will try to raise this topic anyway.

Is there any documentation on how the collection/module naming will be handled going forward?

[2019-10-24 12:07] KoenraadM opened #63900 "Templating seems to not follow the standard rules when including files"
##### SUMMARY
When adding `..` in a variable name that holds the path of a file to be included while running templates, the build fails with `TemplateNotFound`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- Templating?

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### STEPS TO REPRODUCE

We use this snippet to generate large Vhost files for our Nginx
[code]

Document struct

[2019-10-24 12:11] mridude23 commented on #63204
@Andersson007 Yes, confirming it works as specified. Because of my "custom" Ansible install, I forgot to modify postgresql_membership.py as well. Replaced with the /devel/ file and it works.
`ansible-playbook -i inventories/dev/ plays/add_groups.yml --tags="include_groups,add_groups,group_membership" --limit=postgres@server_name -vvv`
[code]

[2019-10-24 12:20] EdwardPrentice commented on #63684
@arlaneenalra We have moved to a command like `sudo -H pip3 install ansible==2.8.5` to use the previous version.

However, I'd really like RedHat to leave the previous version in place to allow us to version pin to avoid this in the future, without having to change to use pip as the installer.

[2019-10-24 12:35] jarekgajewski opened #63902 "[Regression] VMware: vmware_deploy_ovf fails with AttributeError"
##### SUMMARY
Starting from version 2.8.6 deployment of OVA on VMware stops working with error AttributeError: 'NoneType' object has no attribute 'rootFolder' . All works as expected in version 2.8.5 and 2.9

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_deploy_ovf.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Distributor ID: Ubuntu
Description:    Ub

[2019-10-24 12:40] D3DeFi commented on #63774
Thanks for the clarification @richlv. I can see just these two and they are still _tech previews_ if I am not mistaken:

- [Using collections](https://docs.ansible.com/ansible/devel/user_guide/collections_using.html)
- [Developing collections](https://docs.ansible.com/ansible/devel/dev_guide/developing_collections.html)

tl;dr: `my_namespace.my_collection` -> in playbook something ugly like this w

[2019-10-24 12:42] lgosselin opened #63903 "ufw module does not support specifying both in & out interfaces for forwarding rules"
##### SUMMARY
Currently the module ufw does not allow to specify two network interfaces for forwarding rules (rule='allow' routed='yes').
What I'd like to achieve is this rule:
`ufw route allow in on ethX out on ethY to 10.0.0.0/8 from 192.168.0.0/24`

To my knowledge, the best one can do is pick one interface and decide to flag it with "in" or "out" traffic using the `direction` property. So the

[2019-10-24 12:51] Jonybat opened #63904 "Not respecting ssh ControlPersist on hosts with ProxyJump"
##### SUMMARY

With ssh multiplexing enabled, ansible does not keep the control socket open (respecting ControlPersist timer) for hosts that connect through ProxyJump. This causes issues where there are limits on the ssh connections, because ansible will open multiple connections per host, while running a playbook with the default number of forks, instead of reusing the socket.

##### ISSUE TYPE
-

[2019-10-24 12:53] heuels commented on #63802
@mpastor, thank you for taking the time to report this! I will try to look into it this week.

[2019-10-24 13:45] bcoca commented on #63891
since you can dynamically reference variables, the only way to do this is stop execution on every undefined variable and check if it is possible it appears to be a fact, then gather facts at that point.

[2019-10-24 13:58] victron opened #63905 "VMware: guest autostartup parameters on VMware"
##### SUMMARY

guest autostartup parameters on VMware

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_host

##### ADDITIONAL INFORMATION

Hello,
I trying to find a way to change startup parameters for VMs.
Does it exist such module? I'm speaking about this.
![image](https://user-images.githubusercontent.com/8330202/67492514-33b09200-f67f-11e9-94cd-5983910b5c95.png)

[code]

[2019-10-24 14:00] heuels commented on #63802
@mpastor I don't think that this is a bug. Since `commands` parameter expects a list of commands, when you use an abbreviated syntax Ansible always tries to parse it as a list first. In fact, `routeros_command` already receives your input as a list of two separate commands.

To get around this behaviour you can actually supply a list of commands with one element only, it will be parsed as a string

[2019-10-24 14:07] heuels commented on #63802
notabug

[2019-10-24 14:09] heuels commented on #55042
@bogd, I just found this issue when looking through mentions and I am terribly sorry for missing this issue on time! Please tell me, does it still persist? Because I am able to connect to any RouterOS router just fine.

[2019-10-24 14:12] #63802 closed, assigned to nobody

[2019-10-24 14:18] JamieGruener opened #63906 "yum returns "No package matching" for local package with wildcard in the name"
##### SUMMARY

The yum module fails when there is a wildcard in the path name if the package is local.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yum
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

My playbook:
[code]
My ansible task:
[code]
Run ansible:
[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]
If I

[2019-10-24 14:40] sky-joker opened #63907 "Zabbix: Need the _info module of zabbix_template?"
##### SUMMARY
It is a suggestion, the zabbix_template module has a dump option, but I think it needs to be implemented with `_info`.

**reason**

The zabbix_user_group module has been pointed out to go to the `_info` module instead of using dump.
https://github.com/ansible/ansible/pull/58051#pullrequestreview-304208011

The development document also states that modules that return general informat

[2019-10-24 15:02] sivel commented on #63889
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2019-10-24 15:02] #63889 closed, assigned to nobody

[2019-10-24 15:08] mnecas commented on #63502
Hi @rolling1000ton,
thank you for your issue!

[2019-10-24 15:17] thomwiggers opened #63910 "openssh_keypair handles encrypted key files poorly"
##### SUMMARY

`openssh_keypair` handles encrypted key files poorly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

openssh_keypair

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux

```OpenSSH_8.1p1, OpenSSL 1.1.1d  10 Sep 2019```

##### STEPS TO REPRODUCE

[code]
I'm using ed25519 because it's independent of `size`; not sure if it also happens

[2019-10-24 15:23] patchkez commented on #63894
We ran into the same issue with ansible 2.7.6. Downgrading openstacksdk to 0.27.0 helped us to make provisioning working again.

[2019-10-24 15:53] sivel commented on #63881
This is actually an expected change.  Inline vault encrypted objects are considered "unsafe" and when involved in templating, should cause values to not be templated.

We were accidentally ignoring the unsafe context on inline vault encrypted objects, allowing the previous behavior.

Part of the fix you identified was to prevent this from happening.

You can avoid this by not using inline vault en

[2019-10-24 15:53] #63881 closed, assigned to nobody

[2019-10-24 16:05] sivel commented on #63900
This is the result of security precautions in jinja2:

https://github.com/pallets/jinja/blob/b43531f8d82a68df2338b001fec8c62a42be6ae5/jinja2/loaders.py#L23-L35

You can attempt to run the path through the `realpath` filter, to calculate the path and remove the relative pathing component.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2019-10-24 16:05] #63900 closed, assigned to nobody

[2019-10-24 16:10] s-hertel commented on #63822
As Ansible currently works, group vars are never used as a standalone entity. Host vars contain group vars, but they are flattened. That host vars work are used at all in general tasks appears to be a bug (and it's also confusing; if two hosts have different values, the callback only prints the task banner with the last templated value even though they are not the same).

[2019-10-24 16:28] alefray commented on #47097
It also got this issue with ansible 2.7.9.

However, I've been able to get rid of it by changing `remote_tmp` setting in `ansible.cfg`.

Default config was:
[code]

Edited config is :
[code]

I believe the issue is with the user not existing on the remote host (in my case it was jenkins).

Hope it helps!

[2019-10-24 16:34] ellingtonsantos opened #63913 "Implement datastore cluster as vmware_vmotion destination datastore"
##### SUMMARY
Accept a datastore cluster as a destination datastore in vmware_vmotion

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_vmotion

##### ADDITIONAL INFORMATION
Set a datastore cluster in destination_datastore in vmware_vmotion migrates VM to this datastore cluster.
[code]

[2019-10-24 16:45] billdodd opened #63914 "Add Redfish commands to set boot order and set boot order back to default"
##### SUMMARY

Add new commands to the Redfish remote_management modules to allow setting the boot order and to set the order back to the default.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

redfish_config.py
redfish_utils.py

##### ADDITIONAL INFORMATION

Operators need a way to change the boot order on Redfish systems and to set the boot order back to the default order. There is curr

[2019-10-24 17:11] ujwalkomarla commented on #63872
You are using the wrong module for configuring, you need exos_config.

[exos_command](https://docs.ansible.com/ansible/devel/modules/exos_command_module.html)
- Sends arbitrary commands to an Extreme EXOS device and returns the results read from the device. This module includes an argument that will cause the module to wait for a specific condition before returning or timing out if the condition i

[2019-10-24 17:22] athompson-merlin commented on #63872
OK.  Some of the other _config modules just manage the config, i.e. saving/loading/uploading/downloading/restoring/diffing, although I'll believe that they could all manage the config, just with unclear documentation about doing so,
Not clear is whether exos_config is capable of actually figuring out how to best achieve the desired-state config... see my comment here: https://github.com/ansible/an

[2019-10-24 17:24] athompson-merlin commented on #63872
I take that back... the documentation for exos_config does imply that it will attempt to achieve desired-state intelligently.  I'm glad I didn't have to write that logic.

[2019-10-24 17:45] sshnaidm commented on #46362
@felixfontein

If it's gonna change, then yes :)
Wrt options, `--security-opt` is better to handle as a list, because that's how they're represented in inspection:
[code]
and as you can see, it's not always a dict. It could be just `no-new-privileges`.
About `mount` options, it could be a dict, although there's still non-keyword option like `bind-nonrecursive`. Maybe it can be used with boolean va

[2019-10-24 17:51] FilipB commented on #63894
Confirming that I don't see the issue with openstacksdk==0.27.0. Thank you @patchkez

[2019-10-24 17:52] rosowiecki opened #63919 "lineinfile: error creating file without directory path"
##### SUMMARY
lineinfile module with create=yes fails to create path with only file name (without directory part)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lineinfile
##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

This task fails (error below)

[code]

Workaround:

[code]

##### EXPECTED RESULTS

File created in ansible_users's home directory.

##### ACTUAL RESULTS

ansible f

[2019-10-24 17:53] davedow15 opened #63920 "vmware_deploy_ovf selecting wrong datastore in a multi-datacenter environment"
issue type: Bug Report
ansible version: 2.8.3
component name: vmware_deploy_ovf.py and vmware.py

vmware_deploy_ovf isn't retrieving the correct datastore from vmware.py when there are multiple datacenters using datastores that with the same name.

Datacenter1
--> datastore1 (moid: datastore-524)
Datacenter2
--> datastore1 (moid: datastore-525)

Even though we specified "Datacenter2" in our Ansibl

[2019-10-24 18:12] ivandeex commented on #29394
Gentle bump for this crusty issue

[2019-10-24 18:34] sshnaidm commented on #46362
Well, a little fix, it's possible, just need to specify a comma separated string:
`sudo podman run --network test1,test2,test alpine sh`
So we definitely can do it as a list.

[2019-10-24 18:46] felixfontein commented on #63910
Interestingly, for me both tasks are unchanged on the second run. My OpenSSH version: `OpenSSH_8.1p1, OpenSSL 1.1.1d  10 Sep 2019` I guess we should add tests for this to the integration tests, then we'll probably notice for which versions of works and for which it doesn't. :)

[2019-10-24 18:51] felixfontein commented on #63903
It is currently not possible to specify more than one interface. I wouldn't call that a bug though, more like a feature request :)

Do you have a good idea how two interfaces could be specified in the module's interface without making things way more complicated?

[2019-10-24 18:51] ekultails commented on #63891
@bcoca That is a good point and perhaps that would mean that scenario `#2` in itself could cause performance issues if the checks are done very often (would need a proof-of-concept / testing to verify).

After looking through the facts code a little bit more, for scenario `#1`, it might even make sense to categorize facts into a group of related facts. Given my example list below, someone may care

[2019-10-24 18:55] lhazlewood opened #63923 "FR: Allow role authors to control when transitive dependencies are run after download"
##### SUMMARY

When running a playbook, it is impossible to control when transitive role dependencies execute, and in what order.

The commonly suggested technique of using tags in the dependency metadata also does not work, as will be explained below.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible, perhaps ansible galaxy

##### ADDITIONAL INFORMATION

Consider the following playbo

[2019-10-24 18:58] atomlab commented on #40868
I have the same issue but only if inside LXD container running another LXD container

[2019-10-24 19:14] sivel commented on #63824
A gzip file is not an archive, it is a compression type. We have an open PR to add a new `uncompress` module https://github.com/ansible/ansible/pull/23048

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-24 19:14] #63824 closed, assigned to nobody

[2019-10-24 19:15] #63850 closed, assigned to nobody

[2019-10-24 19:19] sivel commented on #63865
This use of `ansible_loop_var` makes no sense. The concept for `ansible_loop_var` is that the role that is being included may have no idea what loop var the caller is using.

The caller knows exactly what `loop_var` they are using, and should use that directly, instead of performing indirection via `ansible_loop_var`.

If you have further questions please stop by IRC or the mailing list:

   * IRC

[2019-10-24 19:19] #63865 closed, assigned to nobody

[2019-10-24 19:21] sivel commented on #63870
Closing per above.

[2019-10-24 19:21] #63870 closed, assigned to nobody

[2019-10-24 19:22] AlanCoding commented on #61884
@nitzmahone some more details in https://github.com/ansible/ansible/pull/63084#issuecomment-546063420

More or less, I don't think this is fixed. In the current devel branch, I get these error types:

[code]

I have a script that replaces the relative imports with absolute imports. If I run this, and then run sanity tests, I'm left with:

[code]

One of these error describes https://github.com/ans

[2019-10-24 19:22] #63490 closed, assigned to Akasurde

[2019-10-24 19:26] sivel commented on #63904
Ansible does not impact this in any way, from your logs it seems you might be seeing what is described in this bug: https://bugs.launchpad.net/ubuntu/+source/openssh/+bug/1593657

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-24 19:26] #63904 closed, assigned to nobody

[2019-10-24 19:28] sivel commented on #63906
This is expected. The `yum` module does not perform shell globbing.

You can support this by first using a `find` task to list all of the files in that directory matching a pattern, and then feed that to the `yum` module.

We have no plans to implement globbing directly in the `yum` module.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.n

[2019-10-24 19:28] #63906 closed, assigned to nobody

[2019-10-24 19:30] mraineri opened #63925 "Add Redfish commands to perform updates"
##### SUMMARY

Add new commands to the Redfish remote_management modules to perform firmware update requests.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

redfish_config.py
redfish_utils.py

##### ADDITIONAL INFORMATION

Operators need a way to update firmware on Redfish managed systems. Would like an extension made to be able to perform SimpleUpdate actions with a specified firmware im

[2019-10-24 19:34] sivel commented on #63923
Listing `dependencies` as solely a means to download the roles is not the target purpose of that functionality, but the purpose is to automatically execute the role.

We have no plans to implement such a feature that would allow them to be listed as an automatic dependency but not execute.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.ne

[2019-10-24 19:34] #63923 closed, assigned to nobody

[2019-10-24 19:38] jpell958 opened #63926 "UNTIL module be modified to remove the "FAILED - RETRYING:" wording"
##### SUMMARY
We would like to see the "retrying" messages for the UNTIL module be modified to remove the "FAILED - RETRYING:" wording and replaced with "Condition not met - RETRYING:" (or something to that nature).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
until module

##### ADDITIONAL INFORMATION
Using the word "failed" can be confusing as the task has not actually failed yet until

[2019-10-24 19:39] lhazlewood commented on #63923
@sivel Thanks for the reply, but why?  I gave many examples with clarification for *why* this is definitely beneficial on many fronts, but you didn't provide any reasoning.

A dependency means "I need this to run", not necessarily _when_ I need it to run.  The ansible team is tightly coupling the concepts unncessarily without justification.  Could you please clarify why?

[2019-10-24 19:39] borncamp opened #63927 "azure_rm_sqldatabase ignores edition variable during database copy"
##### SUMMARY
I have a playbook that creates a copy of a database from one azure sql database to another. The original database is of the "Basic" tier. I am trying to create a new copy under the "Standard" tier on another server. The database is created fine, however the edition variable seems to be ignored during creation.

e.g. My intended result:
SQLDBServerA - DB123 - Basic Tier
COPY TO
SQLDBS

[2019-10-24 19:45] seblu commented on #63865
The sense was to use a per host named loop variable to fix the warning message displayed by ansible:

[code]

[2019-10-24 19:58] JamieGruener commented on #63906
Is this documented somewhere?

[2019-10-24 20:05] lhazlewood commented on #63923
For anyone wishing to follow along with the continued discussion:

https://groups.google.com/d/msg/ansible-project/a6DUR7Sw_3o/BkXaDpe_AAAJ

[2019-10-24 20:17] borncamp commented on #63927
Slight update. It appears the edition variable is ignored even when doing a creation of a blank db.

[2019-10-24 20:47] immanetize opened #63931 "lineinfile apparently matches the line before insertafter value in loop."
##### SUMMARY
I have a value which may need to be inserted multiple times into a file, in varied positions.  It is inserted once only.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

$ uname -a
Linux workstation.randomuser.org 5.3.6-200.fc30.x86_64 #1 SMP Mon Oct 14 13:11:01 UTC 2019 x86_64 x86_64

[2019-10-24 20:53] immanetize commented on #63931
Whoops... removed trailing colon on `insertafter: "- name: {{ item }}:"` so that pattern actually matches.  After removing that character:

[code]

Only the first item in "fruits" is matched.  That's the case even if I reorder "fruits".

[code]

[2019-10-24 20:54] JoelFeiner commented on #23976
@Andersson007 That looks like it solves my issue. Thanks!

[2019-10-24 20:57] immanetize commented on #63931
.. this other order is a better example of the problem.  I get a "type" below immediately under 'apple', first pattern attempted.  It's also below 'orange', but not *directly* below as I expect.  It's not at all inserted after banana.
[code]

[2019-10-24 20:59] Andersson007 commented on #23976
@JoelFeiner thanks for reporting this!
If it looks good to you, please approve the pr by writing shipit in a comment there

[2019-10-24 21:06] flickerfly opened #63933 "K8S_AUTH_VERIFY_SSL Is not effective"
##### SUMMARY
Setting environment variable K8S_AUTH_VERIFY_SSL to false doesn't work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s
k8s_auth
k8s_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I am running from a container based on this Dockerfile:
https://github.com/flickerfly/k8s_auth_tests/blob/master/Dockerfile

Ubuntu 18.04
Ansible install

[2019-10-24 21:07] mattclay commented on #61884
@AlanCoding These are two separate issues. This issue was for the import sanity test. The errors you're referring to are for the validate-modules sanity test, which should be fixed by https://github.com/ansible/ansible/pull/63932.

[2019-10-24 21:29] lexpierce commented on #63822
What would be the preferred way to handle this, using static inventory and system files? Using dynamic inventory and parsing YAML into JSON (we use this in our production environment for complex environments) is one thing, but where should variables that will affect multiple hosts across multiple hosts be defined, if not via group_vars?

[2019-10-24 21:35] refi64 commented on #61176
Wouldn't a workaround be to just `os.mkdir` the directory if it doesn't already exist?

[2019-10-24 21:37] NeckBeardPrince opened #63934 "rds_instance enable_performance_insights does not work"
##### SUMMARY
When restoring a database from a snapshot with the enable_performance_insights set to true the database does not have it enabled.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rds_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Restoring a postgresql RDS snapshot
Postgresql version 11.5

##### STEPS TO REPRODUCE

Restore a RDS Snap

[2019-10-24 22:01] ujwalkomarla commented on #63866
Please change this issue description to feature request and not a bug report. So, correct labels are applied.

I discussed with GTAC, and was informed that they don't make sweeping suggestions to disable web interfaces, unless the web interfaces are not being used by the customer.
However, when you do use web interfaces, please use HTTPs.

I too would like to have network-cli support for EXOS, but

[2019-10-24 22:42] lgosselin commented on #63903
Yes indeed I did not change the issue type and used blindly the one suggested in the issue template. I'll edit right away. This is clearly a feature request to get on par with what ufw can do.

I'm not familiar with ufw module internals nor with ufw syntax. I'm currently learning both at the same time while trying to setup a box (first manually using ufw, then translating to ufw module syntax).

S

[2019-10-24 23:55] flowerysong commented on #63895
The values in `compose` are Jinja expressions; ansible_user isn't being set because it is effectively `{{ ec2 - user }}`. (The double quotes are YAML syntax, and will go away when the file is parsed.)

Personally, I would set these variables as group vars on an appropriate group (e.g. `aws_ec2`), but you can fix your invocation by including quotes in the dict values so that they are valid Jinja ex

[2019-10-25 01:31] texasdave2 commented on #37564
in the spirit of keeping this alive, I ran into this issue today.  Would love the become_user able to take in the -u command line argument username.  Currently running into this error:

fatal: [qa-sandbox]: FAILED! => {"msg": "The field 'become_user' has an invalid value, which includes an undefined variable. The error was: 'ansible_user' is undefined"}

This would allow multiple users to use one

[2019-10-25 01:31] allen12921 commented on #63895
@flowerysong
Thanks for your reply
You are right, it's better to set variables per group
But how can I set the group variables in the aws_ec2.yml..I didn't find it from it's documents
Pls advise

[2019-10-25 01:40] flowerysong commented on #63895
Instances are automatically added to the `aws_ec2` group; if you want to define a group specific to a given config of the plugin, you can use `groups`:

[code]

[2019-10-25 02:05] allen12921 commented on #63895
@flowerysong
yes..I know I can do that to add instances to my customized groups
Do u me need add extra group_vars folder to define different groups vars under that folder?

[2019-10-25 02:16] willtome opened #63936 "VMware inventory not loaded by auto plugin"
##### SUMMARY
The vmware_vm_inventory plugin cannot verify the inventory file when being loaded via the auto plugin

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/inventory/vmware_vm_inventory.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS 10.14.6

##### STEPS TO REPRODUCE
vmware_vm_inventory.yaml
[code]

##### EXPECTED RESULTS

[2019-10-25 02:43] willtome opened #63937 "vmware inventory plugin env variables"
##### SUMMARY
Environment variables in plugin do not match Tower credential injector

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/inventory/vmware_vm_inventory.py

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.5

##### STEPS TO REPRODUCE
use vmware inventory plugin with vCenter credential in Ans

[2019-10-25 03:09] Akasurde commented on #63920
@davedow15 Thanks for reporting this issue. Could you please try PR https://github.com/ansible/ansible/pull/62513 in 2.8.6 or https://github.com/ansible/ansible/pull/58627 for 2.9 release and let me know ? Thanks.

needs_info
has_pr

[2019-10-25 03:25] willtome opened #63939 "[RFE] vmware inventory customize inventory_hostname"
##### SUMMARY
The legacy inventory script allowed the user to customize the value of inventory_hostname. The plugin lost this functionality and forces `name_uuid` as the naming convention.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/plugins/inventory/vmware_vm_inventory.py

##### ADDITIONAL INFORMATION

[2019-10-25 04:18] #63895 closed, assigned to nobody

[2019-10-25 04:28] fedexin40 commented on #49625
Hello @pborowicz @bcoca

I am trying to accomplish similar task, in my case I only have access as root with below command
`sudo /usr/bin/rootsh -i -u root`

I do not have doas installed in my server so I tried in the followig ways to gain access as root

`[defaults]
host_key_checking             = false
# ask_pass                    = True
inventory                     = inventory/hosts
allow_worl

[2019-10-25 05:15] Akasurde commented on #63926
!component =lib/ansible/plugins/callback/default.py

[2019-10-25 05:23] smemsh opened #63940 "template lookup plugin regression 2.8.6 -> 2.9.0rc5, if expansion contains hostvars references"
##### SUMMARY

Template contents with hostvars expansions, when given to e.g. `copy` module's `contents` parameter, via `lookup('template')` fails with 2.9.0b1 through 2.9.0rc5 (latest), but works with 2.8.6 (and has been working for a long while back).  The same template rendered by `template` module and then given to `copy` module via `lookup('file')` works correctly unchanged.

The issue appear

[2019-10-25 06:07] Jonybat commented on #63904
I am able to replicate that bug indeed. However, openssh client is behaving correctly.
If i open `ssh -F ssh.cfg bastion` in one terminal, then `ssh -F ssh.cfg host1` on another terminal, and then disconnect, the control socket stays there and can be reused, by both openssh and ansible (demonstrated below, note the ssh multiplexing control messages in the ansible execution):

[code]

[code]

[2019-10-25 06:32] Fred-sun commented on #63927
@borncamp Thank you for reporting this problem. We will investigate and solve it. Thank you very much!

[2019-10-25 06:33] Fred-sun commented on #63899
@ihegmanns Thank you for reporting this problem. We will investigate and solve it. Thank you very much!

[2019-10-25 06:58] Akasurde commented on #63940
cc @mkrizek

[2019-10-25 07:33] D3DeFi commented on #63907
Hi @sky-joker. That is definitively a good idea, but please make sure your module supports both XML and JSON dumps. Once it has been merged we need to go through zabbix_template and add a deprecation warning for using `state=dump`.

[2019-10-25 07:52] abcfy2 commented on #61176
Yes, `os.mkdir` is a quick and dirty solution. And a little more troublesome. In order to make sure `-C/--check` could work, I have to do like this:

[code]

I think the `apt` mould could solve this issue, and it's cool.

[2019-10-25 09:12] xuxiaowei0512 commented on #52933
@fl0gu
The issue is still existing? We have update some code on ansible-2.8.6.
Can you have a try with ?   ' cd ansible-2.8.6' ,  'python setup.py install' may help you.
thanks.

[2019-10-25 09:18] cmuzyunda opened #63943 "docker_container module cpuset_cpus has no effect"
##### SUMMARY
So i want to limit the number of cpu cores my container should use and added "cpuset_cpus" parameter to my container definition, however this has no effect at all

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container module , cpuset_cpus parameter

##### ANSIBLE VERSION
ansible 2.7.7
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executa

[2019-10-25 09:43] Andersson007 commented on #63204
i changed postgresql_privs, could anybody please look and try https://github.com/ansible/ansible/pull/63942

[2019-10-25 09:55] seuf commented on #51068
I've tried the playbook you give in "step to reproduce" and it works as expected :
First run : changed true
Second run : changed false

Like I said before some datasources have a `jsonSecureData` which is not returned by the grafana API so the grafana_datasource module can't compare this part of the payload and update again the datasource.

[2019-10-25 10:10] gundalow commented on #62286
resolved_by_pr: 63744

[2019-10-25 10:28] #62286 closed, assigned to nobody

[2019-10-25 10:35] pescobar opened #63946 "Openstack dynamic inventory ignores flag "--private""
##### SUMMARY
When using the ansible dynamic inventory for openstack with the `--private` flag you still get floating ips. e.g.

[code]

In our setup the range 10.x is also used for floating ips. The private ips in the tenant are those in range 192.x . You only get the right ip in range 192.x if the machine has no floating ip

As this could be also related to a change in the openstack sdk I have a

[2019-10-25 10:50] next-jesusmanuelnavarro opened #63947 "env lookup doesn't honor environment declarations"
##### SUMMARY
'env' lookup does not take into account 'environment' playbook declarations.

This seems to be a problem when using other modules that can use environment variables (i.e.: aws-related) as well as making difficult or impossible in practice to overwrite environment variables within code.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
env lookup plugin

##### ANSIBLE VERSION

[cod

[2019-10-25 11:08] andreagrax commented on #27229
+1 CentOS 8 too

[2019-10-25 11:10] perlun commented on #36397
For reference: I tried the builtin completion (in 2.9.0rc4) but it was inferior to me, so I ended up using a forked version of @dysosmus repo: https://github.com/perlun/ansible-completion (it's basically his repo with some minor tweaks from my end)

It gives me completion when doing `ansible-playbook some_playbook.yml -l foo<TAB>` (both for hosts and groups), which is the most critical use case to

[2019-10-25 11:49] thomwiggers commented on #63910
hrm, something funky is going on. If I run my example it indeed works as expected. I'm on the same OpenSSH version.

However, if I target my **existing** `~/.ssh/id_ed25519{,.pub}` files, it first *blanks out* the `.ssh/id_ed25519.pub` file and somehow *breaks* the private key file! (``ssh-keygen -lf ~/.ssh/id_ed25519`` says ``is not a key file``, although ``diff`` can't find a difference??? This

[2019-10-25 11:51] thomwiggers commented on #63910
...... Wait, I think the difference is that my key is password protected. I think it probably handles that poorly.

[2019-10-25 11:53] thomwiggers commented on #63910
Ahh, and ``is not a valid key file`` happens if the `.pub` file is broken, caused by the former.

[2019-10-25 11:54] mmorev opened #63949 "Cannot execute module 'fetch' from custom module"
##### SUMMARY
Hello. I'm trying to extend consul_template module (#63879) with remote_src option, like copy or unarchive have, and I need to execute "fetch" module to fetch template file from remote machine to controller (template parsing is made on controller), but getting an incorrect result:
[code]
(I have used `print(fetch_result)` just for easy debug, won't commit of cause)
outputs an error:

[2019-10-25 12:01] thomwiggers commented on #63910
I've updated my testcase above, I'll also change the title.

[2019-10-25 12:08] mmorev commented on #63949
!component

[2019-10-25 12:13] Jonybat commented on #63904
Just found out that the culprit is actually sshpass:

[code]

Note the broken pipe in the end.

Is this a known issue? And any suggestions to work around it?

[2019-10-25 12:54] s-hertel commented on #63822
Ansible doesn't know that the group vars will be the source of truth for all hosts because any host can overwrite those from the group, whether the inventory is from a static or dynamic source. You could solve it by passing `--extra-vars` on the CLI or setting `vars_files` (or `vars`) to define variables to use in task names. Extra vars win in precedence, and you can find the list [here](https://d

[2019-10-25 12:54] davedow15 commented on #63920
We tried 2.8.6 yesterday and the deploy failed in a different way.
I’m going to confirm that I have 62513 in my 2.8.6 deployment package (it should be in there).
58627 looks like that may fix our problem, but that’s in 2.9 and 2.9 isn’t ready yet.
When is 2.9 going GA? The last time I checked, it was October 31st.
Thank You!
Dave

-------------------------
Dave Dow
NetApp HCI - Cloud Infrastructur

[2019-10-25 13:00] raidlman commented on #55350
Hi @melezhik . Is there any ETA for this feature? Will it be part of the next release?

[2019-10-25 13:24] #63757 closed, assigned to nobody

[2019-10-25 13:51] gundalow commented on #63502
resolved_by_pr: 63908

[2019-10-25 13:51] sivel commented on #63949
`fetch` is not a module, but instead implemented as an action plugin.

You will instead need to load and run the `fetch` action plugin. Look at the `template` action plugin for an example of running the `copy` action plugin.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansib

[2019-10-25 13:51] #63949 closed, assigned to nobody

[2019-10-25 13:51] #63502 closed, assigned to nobody

[2019-10-25 13:53] gundalow commented on #63502
Fixed in `devel` branch, thanks @mnecas for the fix. Thanks @rolling1000ton for raising the issue.

You can see the other `ovirt` fixes in flight via https://github.com/ansible/ansible/labels/ovirt reviews welcome on those :)

[2019-10-25 14:17] Andersson007 commented on #63204
guys, don't worry, i will continue to fix modules. Will link PR with this issue

[2019-10-25 14:36] lexpierce commented on #63822
The idea behind this is documentation of the version numbers used in a particular playbook run through using the log output. That is much easier than matching time of execution with the state of the SCM system at that time. I guess I could dump a debug message to the log at the beginning of each role.

The fact it works in all cases but handlers probably needs some investigation, as it seems there

[2019-10-25 14:51] #60106 closed, assigned to nobody

[2019-10-25 14:57] fabianvf commented on #63933
Does using the `verify_ssl` option in the task work? Also, what version of the openshift and kubernetes python clients are you using?

[2019-10-25 15:05] sivel commented on #63940
This looks like an issue using `deepcopy` on `variables`. I'm guessing `deepcopy` doesn't work well on `HostVars` potentially due to implicit localhost being created "on-demand".

[2019-10-25 15:24] sivel commented on #63943
!component =lib/ansible/modules/cloud/docker/docker_container.py

[2019-10-25 15:56] #23976 closed, assigned to nobody

[2019-10-25 16:02] borncamp commented on #63927
Thanks! Let me know if you need any additional information.

[2019-10-25 16:05] tehmoon opened #63954 "Synchronize module show SyntaxError"
##### SUMMARY

When there is a file named `*SyntaxError*` the `synchronize` module would output this:
[code]

It's confusing because it started appearing after an upgrade but the return code of it was `0`.

This does not impact me that much because I ran tests well enough to not pay attention. I also already checked the return code which I trust. But definitively confusing and was also alarming wh

[2019-10-25 16:06] smemsh commented on #63940
note that it fails with any defined host's variables, not just an implicit localhost, that was just a demonstration (and I think that's not implicit right, since I'm specifying an inventory explicitly with `-i localhost,`)

[2019-10-25 16:07] fabianvf commented on #48402
@zimmertr I think this should mostly be possible now, there's still a small issue (where we don't filter out empty documents), but I use the following task for installing cert-manager in test clusters:

[code]

[2019-10-25 16:10] fabianvf commented on #45348
I think this can be closed, I don't think the docs are misleading anymore and the `k8s_info` (formerly `k8s_facts`) module handles this use case perfectly.

[2019-10-25 16:13] fabianvf commented on #47556
bug_resolved

[2019-10-25 16:16] fabianvf commented on #31602
close_me

Apply will land with the 2.9 release so I think this is safe to close now

[2019-10-25 16:18] fabianvf commented on #28788
close_me

This module is deprecated, the newer `k8s` module should support this.

[2019-10-25 16:23] fabianvf commented on #44504
resolved_by_pr #50807

The `k8s_auth` module should allow you to retrieve an api token using the basic auth credentials.

[2019-10-25 16:24] #47556 closed, assigned to nobody

[2019-10-25 16:24] #31602 closed, assigned to willthames

[2019-10-25 16:24] #28788 closed, assigned to nobody

[2019-10-25 16:25] fabianvf commented on #53876
notabug

Each kubernetes resource will support its own conditions, so it's expected that using deployment conditions when waiting for a serviceaccount would not succeed. https://github.com/ansible/ansible/issues/53876#issuecomment-473657669 describes a good solution if you're applying multiple resource kinds in a single task.

[2019-10-25 16:34] #53876 closed, assigned to nobody

[2019-10-25 16:34] #48402 closed, assigned to nobody

[2019-10-25 16:34] #45348 closed, assigned to nobody

[2019-10-25 16:35] #44504 closed, assigned to nobody

[2019-10-25 16:44] flickerfly commented on #63933
Yes verify_ssl in the task works. I'm actually using it in module_defaults.group/k8s as validate_certs. That works also and keeps things clean.

**openshift: 0.10.0
kubernetes: 10.0.1**

[code]

[2019-10-25 16:54] #43550 closed, assigned to nobody

[2019-10-25 16:57] refi64 commented on #61176
I mean I was referring to the apt module calling mkdir itself...

On Fri, Oct 25, 2019, 2:55 AM Feng Yu <notifications@github.com> wrote:

[2019-10-25 16:57] fabianvf commented on #42476
close_me

I think the discussion has veered from the original issue, which a resolution has been found for (the `definition` parameter paired with file/template lookups), and the documentation now reflects the actual behavior of the `src` parameter.

@towolf feel free to open up another issue about cleaning up the diff output, I agree it would be a nice change.

[2019-10-25 16:59] paulbadcock opened #63955 "mysql_db import fails with special characters in password"
##### SUMMARY
mysql_db import fails when using special characters in the password parameter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_db

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL 7.6

##### STEPS TO REPRODUCE
You can reproduce the problem by attempting to use a ! in the password field of the login_password

[code]

##### EXPECTED RESUL

[2019-10-25 17:00] timotab opened #63956 "ec2_group doesn't work with IPv6 cidr addresses"
##### SUMMARY

change of behaviour in ec2_group: after upgrade from ansible 2.4 to 2.7, ec2_group reports that host bits are set for cidr_ipv6 addresses, and truncates the address.  Reported before as #53297 but just upgraded to 2.8 and issue still exists.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_group
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONM

[2019-10-25 17:02] paulbadcock commented on #63955
The issue is on line #225 of the module

[code]
Removing the shlex_quote from the password and saving the new file to my library folder allows the password to work correctly with no errors from mysql shell command

[2019-10-25 17:02] fabianvf commented on #54889
@jmazzitelli I think the proper argument to the lookup plugin is `label_selector`, not `label_select`, I'm not sure if that would cause this issue or not. Generally I recommend using the `k8s_facts` (called `k8s_info` in 2.9+) instead of the lookup plugin, as it will behave more similarly to the `k8s` module in terms of how it connects to the cluster.

[2019-10-25 17:03] fabianvf commented on #55001
notabug

This was just an issue of dependencies on the controller vs host

[2019-10-25 17:04] #42476 closed, assigned to nobody

[2019-10-25 17:07] fabianvf commented on #40185
close_me

I think the proper resolution if you're hitting this issue is to put your definition into a template instead of inline, which will allow you to not add the quotes and will allow the yaml loader to properly recognize the type.

[2019-10-25 17:13] #55001 closed, assigned to nobody

[2019-10-25 17:17] fabianvf commented on #55329
This would be cool, though it's probably too specific for the `k8s` module. Probably best done as a separate `k8s_configmap` module that supports the various options to get closer to parity with `kubectl`

[2019-10-25 17:18] rester commented on #20769
I little late but I had a similar problem recently and could resolve adding the rsync_path to the task:
[code]

[2019-10-25 17:31] flickerfly commented on #63933
Another thing I've noticed, If there is a kube.config file available to ansible, the K8s_AUTH_VERIFY_SSL problem doesn't present. My expectation is that those credentials deal with the verification by some means. I only noticed when moving my code into a docker container and away from my kube config.

[2019-10-25 17:36] fabianvf commented on #51242
notabug

Setting the `namespace` in the `k8s` module, or making use of [module](https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html) or [group](https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html#module-defaults-groups) defaults is the proper way to default the namespace if it's not present in your manifests, but I don't think we're going

[2019-10-25 17:38] fabianvf commented on #52046
It seems like rollouts are best handled with the immutable configmaps/secrets, but rollback would still be nice to have.

[2019-10-25 17:43] #51242 closed, assigned to nobody

[2019-10-25 17:58] fabianvf commented on #46206
close_me

Until apply is available (in 2.9), the best way to get around this is to pull the `lastTriggeredImageID` from the existing resource and add it to your manifest template, to prevent it from being detected as a change.

This is difficult to solve generically, so that's probably the only solution outside of `apply` that will be included in the `k8s` module. If this resolution is not satisfa

[2019-10-25 17:59] fabianvf commented on #55554
@itverdokhlib5 any update?

[2019-10-25 18:00] fabianvf commented on #46163
resolved_by_pr #50807

The `k8s_auth` module should allow you to retrieve an api token using the basic auth credentials.

[2019-10-25 18:03] #46206 closed, assigned to nobody

[2019-10-25 18:03] #46163 closed, assigned to nobody

[2019-10-25 18:03] fabianvf commented on #50668
close_me

I think this is just an issue with environment configuration, and it looks like the user has deleted their account, so I think we can close this for now. If anyone else hits issues with not finding a package with Ansible, please refer to this comment: https://github.com/ansible/ansible/issues/50529#issuecomment-461894431

[2019-10-25 18:04] lhazlewood commented on #63923
@bcoca You were referenced in the StackOverflow answer.  Can you please help those of us who really need this feature why it won't be considered/

[2019-10-25 18:10] fabianvf commented on #57961
This was tracked in Kubernetes here: https://github.com/kubernetes/kubernetes/issues/34052

Now that ownerReferences are used to track the ownership of a replicaset, deletions should cascade properly. If you're using an older version of Kubernetes that doesn't use ownerReferences on replicasets, you will have to handle the clean up manually.

I'm not sure why you're seeing this behavior though, I

[2019-10-25 18:12] #50668 closed, assigned to nobody

[2019-10-25 18:15] fabianvf commented on #55020
wontfix

This module has been deprecated for a while, any issues/PRs related to kubernetes integration should be filed against the `k8s` module instead.

[2019-10-25 18:18] fabianvf commented on #55430
bug_resolved

Cache file issues should no longer cause the Python client to crash. You will need to update your openshift python client version to `>=0.9.1` to fix this behavior.

[2019-10-25 18:20] #63091 closed, assigned to GomathiselviS

[2019-10-25 18:20] fabianvf commented on #55380
bug_resolved

The cache is now tied to the library version, and should expire if library version changes. You will need to update the openshift python client to `>= 0.8.8`

[2019-10-25 18:21] #55430 closed, assigned to nobody

[2019-10-25 18:21] #55020 closed, assigned to nobody

[2019-10-25 18:28] fabianvf commented on #54886
bug_resolved

the openshift python client `0.10.0` has been released, which is based on the kubernetes python client `10.0.0`, so this behavior should be fixed

@joelzamboni If you keep seeing the SSL verify errors definitely open an issue against `kubernetes-client/python`.

[2019-10-25 18:30] fabianvf commented on #49100
bug_resolved

This should work if using a version of the openshift python client `>= 0.9.0`

[2019-10-25 18:31] fabianvf commented on #60285
close_me

if you add merge_type: merge parameter to the task it should clobber lists instead of trying to do an intelligent merge. You could instead set the force: yes parameter, it will issue a replace rather than a patch, which will make it clobber the entire object.

In 2.9 we have a basic implementation of apply that should fix this issue for good.

[2019-10-25 18:32] #55380 closed, assigned to nobody

[2019-10-25 18:32] #54886 closed, assigned to nobody

[2019-10-25 18:38] fabianvf commented on #59714
resolved_by_pr #59854

[2019-10-25 18:41] #60285 closed, assigned to nobody

[2019-10-25 18:41] #59714 closed, assigned to nobody

[2019-10-25 18:41] #49100 closed, assigned to nobody

[2019-10-25 18:43] fabianvf commented on #61435
resolved_by_pr #57418

[2019-10-25 18:47] fabianvf commented on #63258
wontfix

I don't think there's anything we can do about this on the Ansible side, if the resource is going into the terminating state then the `k8s` module did what it needed to issue a deletion. If the resource isn't terminating, it's likely as a result of something else in the cluster, and not anything that we can/should address from the `k8s` module.

[2019-10-25 18:50] #63258 closed, assigned to nobody

[2019-10-25 18:50] #61435 closed, assigned to nobody

[2019-10-25 18:54] fabianvf commented on #63681
@mibaboo I'm not sure exactly what the `oc tag` command does, could you paste the output of your `oc tag` command with `--v=8` so I can see the API requests it is making? If it is using a subresource, support may require adding another module that can handle those APIs specifically.

[2019-10-25 19:44] #59021 closed, assigned to nobody

[2019-10-25 19:45] danschmidt5189 opened #63962 "JUnit callback should optionally report "unreachable" hosts as failures"
##### SUMMARY

The [JUnit callback](https://docs.ansible.com/ansible/latest/plugins/callback/junit.html) does not report unreachable hosts as failures, and there is no option to make it so. This should at least be configurable, and likely the default behavior. Currently, unreachable hosts are completely omitted from the test results.

This feature would be useful because, often, unreachable hosts

[2019-10-25 21:44] smemsh commented on #63826
users should really use `become`.  the warning is useful, especially for beginners that don't realize they shouldn't be using `sudo` in an ansible command, they should run it as the right user to begin with, using `become`.

I don't really get the clippy reference.  this warning isn't graphical, animated, or stupid, but that's only an opinion of course...

`command_warnings = False` might do what

[2019-10-26 00:11] drewmullen opened #63964 "ansible-test errors about cwd when im in ~/.ansible/collections"
##### SUMMARY
trying to sanity test my plugins with ansible-test, installed collections in the collection root `.ansible/collections`. getting an error (see below)
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
macos

##### ACTUAL OUTPUT
[code]

[2019-10-26 03:35] poige commented on #63826
Heavy arguments given, indeed, it would be hard to disagree with them, but I'll do an attempt.

Say, you have a short `shell` set, where 2 commands run as `root`, the rest — under the user who's running playbook:
[code]

so, you're saying for this "few-liner" for the sake of someone better knowing what users need (God, is it you?), this should be re-written as a set of separate blocks with `regist

[2019-10-26 05:02] smemsh commented on #63826
Sure, using Ansible to do something can be klunky compared to using scripts directly, but that's not what it's trying to do; one can always invoke scripts or modules from Ansible that contain arbitrary functionality.

It seems you just want to do quick scripts inline sometimes, without a warning about what you do in the script.  You say you know what you're doing, so why isn't the global `command_

[2019-10-26 05:26] poige commented on #63826
Let's see at the issue at different angle: why should anyone bother that some ansible user is issuing `sudo`s inside his playbook? — at all. Is it his responsibility after all? Is Ansible an educational-supervising system? It's obviously not such a system.

[2019-10-26 05:35] poige commented on #63826
And as I have demonstrated there're obvious cases when avoiding `sudo` inside would result in more LOCs, more complex logic, more time spent. In theory, it lies in the opposite direction to the purpose Ansible's made for. If there's `shell` module it should be completely SHELL controlled. If SHELL allows using `sudo`, it's allowed w/o any warnings from Ansible.

[2019-10-26 06:22] sky-joker commented on #63907
Hi @D3DeFi

Thank you for the reply.

yes :)
zabbix_template_info module is supported JSON and XML formats.

okay :)
After merged, I will work on it.
How do I determine which versions to ignore the dump option?

[2019-10-26 07:38] felixfontein commented on #63943
I cannot replicate this with stable-2.7, stable-2.8, stable-2.9 or devel. I even tested it explicitly with 2.7.7.

Could it be that you have an old docker daemon with API version < 1.22 running? The code for that one is not really well-tested.

Also, it could be that your docker daemon somehow silently ignores the value for this option. Have you been able to create such a container manually with `

[2019-10-26 08:25] felixfontein commented on #63910
Here's a pure-ansible reproducer:
[code]
In the first `openssh_keypair` call, https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/crypto/openssh_keypair.py#L307 is executed and returns `''` as stdout. Since that's different from the current public key, it will be overwritten. In the second `openssh_keypair` call, https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/crypt

[2019-10-26 08:29] felixfontein commented on #63910
Already checking return values for the calls above might already improve the situation a lot.

[2019-10-26 13:12] bobsaintcool opened #63967 "Exception raised when applying unknown sysctl name"
##### SUMMARY
sysctl module print a stacktrace when applying unknown sysctl name.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
sysctl

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
- **Controller**: Fresh Arch Linux box with Ansible, python and ssh (including
  their libs/deps) from packages.
- **Managed**: Fresh OpenBSD 6.6

##### STEPS TO REPRODUCE
Appl

[2019-10-26 14:31] MaxBab commented on #63894
The bug was fixed by @emonty

[2019-10-26 17:49] D3DeFi commented on #63907
Thanks, and I think its current release + 4, based on [this documentation](https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html#deprecation-cycle) we would need to set depracation warning to ansible 2.14.

Imho it should be placed right after `elif state == "dump":` near line 683.

[2019-10-26 19:32] D3DeFi commented on #62485
Hey @richlv . Thanks for opening all the issues and sorry for my delayed response. I am now trying to find some time to dive into these zabbix_action problems.

Can you please provide any testing playbook that yields such warning for you? I've been unable to reproduce this problem with various combinations of python2/3, zabbix-api==0.5.4 and ansible devel/2.8.6

My env mostly consists of Ubuntu di

[2019-10-26 19:34] JacobHenner commented on #61230
I'd like to, but it's still pending approval for public contribution. Will update when possible.

[2019-10-26 20:21] melezhik commented on #55350
@railwayman, i don't know. i am just the ticket author, i don't represent the Ansible development team.

[2019-10-26 20:23] melezhik commented on #55350
@Raidlman, i don't know. i am just the ticket author, i don't represent the Ansible development team.

[2019-10-26 20:52] ilyavaiser opened #63970 "gcp_storage_bucket - Can't create bucket"
##### SUMMARY
Can't create bucket with gcp_storage_bucket. The role "storage.buckets.get" can only be assigned at the bucket level, but not at the project level. But the bucket does not exist at this time!

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_storage_bucket

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
OSX, Windows/wsl

##### STEPS TO REPROD

[2019-10-26 22:08] smemsh commented on #63826
It seems that `warn` or `command_warnings = False` do exactly what you want.  They just affect the command and shell modules, and their purpose is to suppress warnings about your command string.  what is the remaining issue?

[2019-10-26 23:21] muellert opened #63971 "please add option to globally configure the apt module to use apt-get"
##### SUMMARY

I would like all my playbooks and roles to always use apt or apt-get and not even try to use aptitude.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

The 'apt' module would be affected.

##### ADDITIONAL INFORMATION

In Debian, apt or apt-get are the default package managers, and their dependency resolution algorithm is generally better and creates less havoc than the one i

[2019-10-27 00:25] ilyavaiser opened #63972 "Google cloud and letsencrypt certs (Google managed)"
##### SUMMARY
Google cloud can issue certificates. This is called "Google Managed Certificates." Add the ability to create such certs.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gcp_compute_ssl_certificate_module

##### ADDITIONAL INFORMATION
https://cloud.google.com/load-balancing/docs/ssl-certificates#managed-certs

[2019-10-27 03:24] Akasurde commented on #58133
resolved_by_pr #63318

[2019-10-27 04:19] poige commented on #63826
Thanks for checking and elaboration!

To be precise though: "exactly what I want" would be sticking to the policy I've already explained, and not urging users to mute useless warnings instead.

[2019-10-27 06:11] slash5toaster opened #63973 "TypeError: cannot pickle '_io.TextIOWrapper' with ansible-playbook 2.8.6 and Python 3.8.0"
##### SUMMARY
Attempting to run a playbook generates an "Unexpected Exception" Error when running with python 3.8.0 . This works properly for python 3.7.4

The playbook fails at fact collection

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS 10.13.6 (17G8037)

This is run in a python

[2019-10-27 07:07] mahmutaydin1 opened #63974 "Run Task for only one host in inventory file of playbook"
##### SUMMARY
My need is that  one  task should be work for one host and other task will run for other host in one playbook. Is that possible?

##### COMPONENT NAME

##### STEPS TO REPRODUCE
[code]

[2019-10-27 07:18] noonedeadpunk commented on #14130
Still relevant:(

[2019-10-27 07:37] chkp-orso opened #63975 "Can't use `vars` in playbook when using collections"
##### SUMMARY

When using collection with HTTP API plugin, it's not possible to use any kind of `vars` from the playbook
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible collection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Following play fails when trying to fetch `vars` value through `get_option('domain')` (ref: http

[2019-10-27 08:54] mator opened #63977 "rewrite of ismount in lib/ansible/module_utils/ismount.py"
##### SUMMARY

(more a wishlist, not a bug actually)

Being https://bugs.python.org/issue2466 is fixed , someone would want to rewrite `ismount()` to a suggested version...

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/ismount.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

debian 9 has:
python3                            3.5.

[2019-10-27 08:58] richlv commented on #62485
Heya, no worries and thank you for all the great help with modules :)

Currently testing with:
* Ansible master: Python 2.7.16, Ansible 2.8.5
* Ansible target host: Python 2.7.5, zabbix-api 0.5.3

Here's the simplest playbook I could get the error with:
[code]

[2019-10-27 09:34] mahmutaydin1 opened #63981 "eos_bgp module is giving error"
##### SUMMARY
I am using eos_bgp.py module in my lab environment. So there is a problem that gives below traceback.

The full traceback is:
  File "/tmp/ansible_eos_bgp_payload_tsoqb9ck/__main__.py", line 386, in main
    result = module.edit_config(config_filter='| section bgp')
  File "/tmp/ansible_eos_bgp_payload_tsoqb9ck/ansible_eos_bgp_payload.zip/ansible/module_utils/network/eos/providers/mo

[2019-10-27 09:39] bbaassssiiee commented on #49207
I confirm removing `hvac` stopped the crashing in my packer+ansible job, where `OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` did not help.

[2019-10-27 13:39] gerardocastaldo commented on #63330
Hi, i disabled the dynamic inventory and it is fine now. I don't  understand but it is running correctly.

Thanks
Gerardo

[2019-10-27 14:03] felixfontein commented on #46362
Can you also do things like specify an IP address the container should use in a network, which hostname / aliases it should have in there, ...? (Docker allows you to do that.)

In that case, list makes sense. For idempotence checking, you'd want to accept different orders of the list, though. (Or just check for subset.)

`bind-nonrecursive` could also behave like a boolean. Just because the Podman

[2019-10-27 14:32] felixfontein commented on #63077
@robertdebock it looks like you have been using the version *before* the last PR was merged, since line 341 now doesn't contain any indexing (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/pacman.py#L341), but it did before the last PR (https://github.com/ansible/ansible/blob/29f89b33ba9cad13de80dd986166c0266546bee7/lib/ansible/modules/packaging/os/pacman.py#L341).

[2019-10-27 14:44] felixfontein commented on #59039
The cryptography bug has been fixed and cryptography 2.8 has been released (including the fix), so now it's time to make this work with Ansible :-)

[2019-10-27 15:23] sky-joker commented on #63907
Thank you for the details.

ok, Let's do that.

I think so, too.
If I insert `module.deprecate` on the 684 line as a test, it will work as expected.

[2019-10-27 15:51] felixfontein commented on #59039
resolved_by_pr #63984

[2019-10-27 18:47] FragmentedPacket commented on #63862
@karlism Thanks for your issue.

I'm not developing the modules within Netbox core any longer. They can be found as an Ansible Collection now. https://galaxy.ansible.com/fragmentedpacket/netbox_modules

I believe what you're experiencing can be worked around by making `device_role` a dictionary with a `slug` key with the custom slug.

[code]

We're converting the passed in value just as Netbox wou

[2019-10-27 20:52] ivandeex commented on #60215
IDEA: introduce ANSIBLE_TEST_COLLECTION_NAMESPACE and ANSIBLE_TEST_COLLECTION_NAME environment variables that override ansible-test startup checks for collection in the current folder (which is yet verified by presense of galaxy.yml).

Another option is that ansible-test derives collection name/namespace from galaxy.yml if ANSIBLE_TEST_RELAX_DIRCHECK (you name it) allows for that (but the former o

[2019-10-27 20:57] mattclay commented on #60215
@ivandeex The check in ansible-test isn't the problem. The issue is that Ansible itself will not be able to use the collection. Removing the check would only cause failures later when Ansible is unable to find the collection.

[2019-10-27 21:20] webknjaz commented on #60215
@geerlingguy

FTR you can also just build and install artifacts as we do here:
https://github.com/ansible/collection_migration/blob/1e19e50/.github/workflows/collection-migration-tests.yml#L153-L156
(GitHub Actions CI/CD Workflow example)

The benefit of this approach is that you [test things "as installed"](https://blog.ganssle.io/articles/2019/08/test-as-installed.html) which effectively means t

[2019-10-27 21:25] ivandeex commented on #60215
Ah I see. If ansible-test is fine with the single off-tree collection under test then it might somehow signal ansible about a temporary collection under test.
IDEA: after detecting namespace/name of collection under test, ansible-test performs the dance requested by gueerlingguy:
* creates a temporary collection root (mktemp -d)
* creates one-time subdir and symlink onetimeroot/detectedns/detected

[2019-10-27 23:31] techie879 opened #63997 "need help, running playbooks locally in selected host"
Hi,

I have a playbook that I have setup to run as a locally. I am not sure how to do the following, I would like to ask for some help.

Here is my inventory.ini file:

[code]
here is the top level playbook, setup_x2go_server.yml:
[code]
Here is the contents of tasks/main.yml:
---
[code]
Here is the contents of var/main.yml:
[code]

what I would like to do is run this playbook from a node, let's s

[2019-10-27 23:37] m3gat0nn4ge opened #63998 "Order of elements in ansible_facts['disks'] array does not match actual disk order"
##### SUMMARY
On a system with multiple disks, ansible_facts['disks'][0] is not guaranteed to be the first disk.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_disk_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Windows Server 2019 Datacenter running in AWS

##### STEPS TO REPRODUCE
Use the following playbook to illustrate the issue

[code]

###

[2019-10-27 23:45] jonathanspw opened #63999 "Cisco NXOS IPv6 HSRP Support"
##### SUMMARY
Presently the HSRP role only supports IPv4 HSRP.  It would be great if IPv6 were supported as well.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/modules/network/nxos/nxos_hsrp.py

##### ADDITIONAL INFORMATION
I propose a simple option to signify if an HSRP group should be an IPv6 one.  Something like this perhaps:

[code]

The required change in the module is pr

[2019-10-28 00:23] mattclay commented on #60215
@ivandeex Your idea is close to one I'm considering implementing. However, symbolic links do not work. The collection will need to be copied to the temporary directory. It is also important to note that this solution will only work for collections that do not have dependencies on other collections.

[2019-10-28 00:24] techie879 commented on #63997
This is most likely not a bug , and I do not need any documentation help.  I selected 'any other issue' link, not sure what should I do here.  This is very confusing , just to file a request for some help.

[2019-10-28 02:16] damozhiying opened #64002 "ansible helm module install form git timeout"
[code]
[code]
[code]
[code]
[code]
[code]
[code]

error log
[code]

[2019-10-28 03:08] damozhiying opened #64004 "ansible helm module install form git timeout"
##### SUMMARY

ansible helm module install form git timeout
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible helm module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux version 4.15.0-65-generic (buildd@lgw01-amd64-006) (gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)) #74-Ubuntu SMP Tue Sep 17 17:06:04 UTC 2019

[code]

##### EXPECTED RESULT

[2019-10-28 03:29] Fred-sun commented on #63927
@borncamp Yes, I did. When sqldatabase is created, 'edition' does not work. Thank you very much!

[2019-10-28 03:30] Fred-sun commented on #63927
@mybayern1974 Please help take a look this issue when you're free! Thank you very much!

[2019-10-28 04:00] Akasurde commented on #64004
Pasting logs for readability -

[code]

[2019-10-28 05:22] Akasurde commented on #64004
resolved_by_pr #64005

[2019-10-28 05:51] damozhiying commented on #64004
@Akasurde
![2019-10-28 13-46-36屏幕截图](https://user-images.githubusercontent.com/10277950/67654734-7c22c500-f989-11e9-8abb-e7bdb64b8e68.png)

[code]

[2019-10-28 06:24] damozhiying commented on #64004
@Akasurde helm chart source type can add from local tgz file

[2019-10-28 07:16] Fred-sun commented on #63226
For easier tracking of problems, #59770 and #63226 can turn of one,  there are duplicated. Thanks a lot!

[2019-10-28 07:53] Fred-sun commented on #61541
kindly ping

[2019-10-28 08:02] Fred-sun commented on #60284
@acozine Dns_registration is passed to skip_dns_registration(https://github.com/ansible/ansible/blob/30be3a4a9ff85962344763b2098bf65afc0d345c/lib/ansible/modules/cloud/azure/azure_rm_webapp.py#L842) when it is passed to SDK for processing. So "If true web app hostname is not registered with DNS on createion".  Please refer to SDK documentation -[-link](https://raw.githubusercontent.com/Azure/azure

[2019-10-28 08:07] Fred-sun commented on #60066
kindly ping

[2019-10-28 08:13] aamkye opened #64009 "ec2_eip AttributeError: 'dict' object has no attribute 'domain'"
##### SUMMARY

Module throws error about domain field while execution.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_eip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 19.04

##### STEPS TO REPRODUCE

Use command below:

[code]

##### EXPECTED RESULTS

Pass.

##### ACTUAL RESULTS

Throws error:

[code]

[2019-10-28 08:39] cmuzyunda commented on #63943
Thanks @felixfontein ,
See below info about the daemon api version which is > 1.22

Server: Docker Engine - Community
 Engine:
  Version:          18.09.0
  API version:      1.39 (minimum version 1.12)
  Go version:       go1.10.4
  Git commit:       4d60db4
  Built:            Wed Nov  7 00:19:08 2018
  OS/Arch:          linux/amd64
  Experimental:     false

Using the "docker run " command to c

[2019-10-28 08:41] Akasurde commented on #64004
@damozhiying Are you using PR #64005 ?

[2019-10-28 09:12] codingonHP commented on #63563
@samdoran only account name should match or all of the parameters like shell, home should match?

[2019-10-28 09:20] cmuzyunda commented on #63943
Ok this is working now , it had nothing to do with the module. i had to fix a dictionary entry for my playbook

[2019-10-28 09:20] #63943 closed, assigned to nobody

[2019-10-28 09:32] xuxiaowei0512 commented on #63330
Good!
:)

[2019-10-28 09:34] sylvainOL commented on #63226
Hello, I can close this one as duplicate if you want (I searched to see if the bug was already reported by obviouysly i missed the other one sorry)

[2019-10-28 09:45] xuxiaowei0512 commented on #63330
@gerardocastaldo
We have update somthing that you may be in intersted in.
Thanks.
PR ansible/ansible#63982 about HuaweiSwitch/CloudEngine-Ansible#73

[2019-10-28 10:14] next-jesusmanuelnavarro opened #64012 "aws_secret should honor environment"
##### SUMMARY
aws_secret lookup plugin should honor variables passed as environment.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

aws_secret lookup plugin

##### ADDITIONAL INFORMATION

While working on code that...
1. Should impersonate an AWS role
2. Should work both on a local workstation and on an AWS instance with an instance_profile

...I ended up using sts_assume_role module to i

[2019-10-28 10:18] Akasurde commented on #64002
Duplicate of #64004

[2019-10-28 10:18] #64002 closed, assigned to nobody

[2019-10-28 10:20] Akasurde commented on #63997
Hi @techie879 !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allow

[2019-10-28 10:20] #63997 closed, assigned to nobody

[2019-10-28 10:28] darksoul42 commented on #56786
Likewise. It would be extremely useful to pre-filter either by location (DC or folder) or by tags to ensure unneeded queries are not made...

[2019-10-28 10:33] iH8c0ff33 commented on #59095
@bcoca I'm not sure if this is the correct way to check if the PR fixed the issue, but I tried using ansible from the devel branch and got the same error.

[2019-10-28 10:36] michaelkebe opened #64013 "Cannot register a runner with gitlab_runner: RunnerManager object has no attribute create"
##### SUMMARY
I am trying to run the gitlab_runner module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gitlab_runner

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.3 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Register a new runner.

##### ACTUAL RESULTS
[code]

[2019-10-28 10:41] ffledgling commented on #17346
@bendem I disagree with this approach. Ansible already strayed into the territory of secrets management the moment it introduced the concept of vault. The problem now is not whether it should or shouldn't, but how well it supports real-world use-cases. If ansible plans to continue supporting storage and retrieval of secrets then the current ecosystem, it is sub-par in the current state and should

[2019-10-28 10:42] next-jesusmanuelnavarro opened #64014 "sts_assume_role should reuse credentials if possible"
##### SUMMARY

Don't know if it's really possible but...

*sts_assume_role* module always returns a new credentials set  upon role assumption (**sts_creds** dictionary) when current ones from environment/configuration may already be valid.

Since most aws-related modules end up falling back to the environment set **before** calling ansible-playbook, this makes very difficult to have clean code tha

[2019-10-28 11:15] andrew80k commented on #55560
@AndrewCi  Thanks for taking it on.

[2019-10-28 11:41] Lunik commented on #64013
What's your version of the `python-gitlab` library ?

[2019-10-28 11:47] michaelkebe commented on #64013
[code]

[2019-10-28 11:47] gtie opened #64016 "ansible 2.8.6 get_url repeatedly downloads file with force==no"
##### SUMMARY
Unlike in version 2.8.5, get_url module repeatedly downloads an URL even if destination exists with Ansible 2.8.6

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
MacOS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
No changes, since "foofile" already exists. With the same playb

[2019-10-28 11:52] s177437 opened #64017 "Support modifying "changeSetName" parameter in CloudFormation Ansible module"
##### SUMMARY
I experienced an issue when trying to roll out a change to an AWS CloudFormation stack. I wanted to create an AWS CloudFormation changeset but got an error stating that the changeset name was too long.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Ansible Cloudformation module. (https://docs.ansible.com/ansible/latest/modules/cloudformation_module.html)

##### ADDITIONAL INFO

[2019-10-28 12:33] mstrummer commented on #22737
This behaviour is not limited to vaulted variables, and also not limited to referenced variables - every time you try to use a variable only available to the host you delegate a task to (either host- or group variable defined in the dedicated yaml-files in the inventory or through the hosts-file itself),

**Simplified testcase:**
This inventory defines two hosts, where `host1` has no variables and

[2019-10-28 12:36] Andersson007 commented on #63204
continuing to fix the modules,
could anyone look at https://github.com/ansible/ansible/pull/64006 and add shipit to a comment if it is OK

[2019-10-28 13:14] cjeanner commented on #29728
Hello,
Any news on that issue? It's blocking PR on other projects since it creates issue in CI and other things :(.

[2019-10-28 14:18] wjv commented on #63973
This issue *might* be macOS-specific. I have encountered it while trying to run an existing playbook on macOS 10.14.6 under Python 3.8, but the same playbook works fine with Python 3.8 on Ubuntu 16.04.

[2019-10-28 14:20] evm2556 commented on #57405
I used these 2 commands and it seemed to work.

[code]

[2019-10-28 14:54] bretmartin commented on #55827
I have working code for Transit Gateway support that I’ll be submitting a pull request for within the next day or two.

[2019-10-28 15:08] stevenjm commented on #63278
@Akasurde I can confirm that this allows the resize to work if I specify `mount_dir` to be the correct mount point for the XFS filesystem, so strictly speaking it does resolve this issue.

However, the behaviour in other cases is still somewhat confusing as there seems to be little parameter validation.

If I don't specify `mount_dir`:

[code]

If I specify `mount_dir` as the mount point of a **di

[2019-10-28 15:16] sivel commented on #63973
Ansible 2.9.1 will be the first version of Ansible to support Python 3.8 on macOS.

Python 3.8 introduced a backwards incompatible change related to the spawn method of multiprocessing.  The original PR for [devel](https://github.com/ansible/ansible/pull/63581) has more information.

Devel is already working, the [backport](https://github.com/ansible/ansible/pull/63591) for 2.9 missed the cut off

[2019-10-28 15:16] #63973 closed, assigned to nobody

[2019-10-28 15:18] Lunik commented on #64013
Your version of `python-gitlab` is not up to date.
Please use `pip` to install this library. fyi latest stable version is `1.12.1`

[2019-10-28 15:23] sivel commented on #63964
Your CWD should be *inside* of the collection itself:

[code]

The error indicates that your CWD should be there, and you are at the wrong level.

needs_info

[2019-10-28 15:38] sky-joker opened #64030 "The XML got with zabbix_template using python3 is a byte string."
##### SUMMARY
The XML got by executing the following playbook was a byte string.

##### playbook

[code]

##### run playbook

[code]

In RETURN, the return value is a string.
https://github.com/ansible/ansible/blob/358574d57f2b411e820cbf4d00a8249ac8291cb9/lib/ansible/modules/monitoring/zabbix/zabbix_template.py#L259

So, I think the return value should be a string.

##### ISSUE TYPE
- Bug Report

[2019-10-28 15:39] jared-draper opened #64031 "gather_facts fails on IBM i"
SUMMARY

ansible 2.8.5 gather_facts fails on iSeries (AS400)

ISSUE TYPE
- Bug Report

COMPONENT NAME
gather_facts module

ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

OS / ENVIRONMENT
Target OS is IBM i version 7.4 Source version has been tested across multiple (ubuntu/mac/RHEL)

STEPS TO REPRODUCE
run setup module and attempt to gather facts on target host.  This works on ansible 2.7.12

[2019-10-28 15:44] jamescassell commented on #63923
I'd find this useful.

[2019-10-28 15:45] samdoran commented on #63563
All parameters should match. If anything is different, then `usermod` will be run in an attempt to bring to account state into alignment.

needs_info

[2019-10-28 15:50] sivel commented on #63923
The goal of `dependencies` is to automatically run the dependencies for roles before the role referencing the dependency.  If you do not need this feature, do not use it.

The goal of `dependencies` is not to provide a mechanism to download "dependencies" of a role, that was added at some point later as part of the ansible-galaxy CLI, and is tangential to the actual goal of dependencies.

In gener

[2019-10-28 15:53] johnbui423 opened #64033 "Large memory usage when copying hostvars"
##### SUMMARY
When copying `hostvars` into another variable (e.g. using `set_fact`), memory usage balloons unexpectedly.

More specifically, with a simple inventory of about 1500 hosts, a `set_fact` that copies `hostvars` takes almost 2 minutes, maxes out the CPU during that time, and consumes **4.5 GB of memory**.

Regardless of the validity of my use case (I was trying to work on a copy of `host

[2019-10-28 16:00] jamescassell commented on #63923
Would it make sense to add support for a `meta/requirements.yml`? Only `ansible-galaxy install` would need to know about it.

[2019-10-28 16:06] rsmeyers commented on #63270
Proposed implementation:
Alias: --> Just add to module
Global Alias: Add to module and centralize in utils where needed --> handle only _1_ "Global Alias" use-case
Tags: Add to module and centralize in utils where needed --> handle trough a list as input provided by the user

For Global Alias / Tags: When not provided by user, don't touch, when empty list/string is provided, delete, when normal va

[2019-10-28 16:09] jimi-c commented on #64033
@johnbui423 this is somewhat expected, because the set_fact call will make the hostvars be completely templated for every host in inventory, which can use up quite a lot of space. Are there any other group/host vars files involved as well (which can make the situation much worse, especially if there's a lot of group_vars/all entries)?

[2019-10-28 16:09] dagwieers commented on #63270
So looking at [the APIC REST documentation](https://www.cisco.com/c/en/us/td/docs/switches/datacenter/aci/apic/sw/2-x/rest_cfg/2_1_x/b_Cisco_APIC_REST_API_Configuration_Guide/b_Cisco_APIC_REST_API_Configuration_Guide_chapter_01.html#ariaid-title12) it appears that the (Global) Alias and Tags are outside of the normal payload.

So what we can do is make optional parameters for modules (objects) tha

[2019-10-28 16:15] lhazlewood commented on #63923
Thanks for the reply @sivel - much appreciated.  But there's a significant issue here:

With respect, beyond simple/trivial playbooks, this is not practical at all.

If I have playbook A that depends on Role B 0.2.2, and that depends on Role C 1.0.4 and that depends on Role D 2.1.1, what happens when Role C upgrades its dependency to Role D 2.2.0?

Do you expect playbook authors to walk the depend

[2019-10-28 16:31] mariolenz commented on #63374
@k3x I've cloned the original feature branch behind #47271 from @ckotte. There are some things I'd like to change, but as soon as I'm done I will open a new PR.

[2019-10-28 16:38] johnbui423 commented on #64033
No group/host var files involved in this simple example. But indeed, I printed out the actual result, and since every host is repeated **twice** in the "groups" section of every host ('all' and 'ungrouped'), that creates a huge variable indeed - something like "n*(2n)" lines, with 'n=number of hosts'. With n=1500 that gives 4 545 000 lines - which is a huge number indeed, and seems to explain what

[2019-10-28 17:01] #61332 closed, assigned to nobody

[2019-10-28 17:05] #63024 closed, assigned to samccann

[2019-10-28 17:08] samdoran commented on #39527
After discussing internally, we've concluded this is not a bug and inline with the behavior described in [the documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_delegation.html#maximum-failure-percentage):

Use the [`ignore_unreachable`](https://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keywords.html#term-ignore-unreachable) to prevent the playbook fro

[2019-10-28 17:08] #39527 closed, assigned to nobody

[2019-10-28 17:25] jimi-c commented on #64033
@johnbui423 yep, so if that explains it do you have any objection to closing this issue?

[2019-10-28 17:43] rambleraptor commented on #63972
Thanks a lot for filing this issue!

Managed SSL Certs are currently a GCP beta feature. We haven't yet supported any GCP beta features in Ansible, as we want to have users explicitly choose which API versions they want (some customers need to be picky about API versions for various reasons).

With the upcoming migration to collections, this is going to become a lot easier for us and for users.

T

[2019-10-28 17:50] megabreit opened #64034 "nios_fixed_address not able to add options that don't require use_options"
##### SUMMARY
It is not possible to add options that don't require use_options e.g. host-name

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
net_tools, nios, lib/ansible/modules/net_tools/nios/nios_fixed_address.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04 with Ansible 2.8.6 from Ansible PPA (2.8.6-1ppa~bionic)

pip freeze|grep -i infoblo

[2019-10-28 17:50] sivel commented on #64016
There was a bug in <2.8.6 where we assumed no checksum was a checksum match.  I think we need to further improve the logic to account for this situation too.

Maybe something like:

[code]

More integration tests would need added.

[2019-10-28 18:57] drewmullen commented on #63964
that solved it - thanks @sivel

personally, i recommend you make the error a little more explicit:

"You must be in your specific collection directory"

something about ` - an Ansible collection: {...}/ansib..` hints to me that i need to be at the `{...}` location. maybe im alone here but just my $0.02

[2019-10-28 18:57] #63964 closed, assigned to nobody

[2019-10-28 19:23] rewilliams1 opened #64036 "azure_rm_dnszone does not create private zone when type set to private"
##### SUMMARY

When running Ansible module azure_rm_dnszone with type "private", it does not set the zone private but to a public dns zone.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_dnszone
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac running Virtual environment installed via Pip

##### STEPS TO REPRODUCE

Run ansible-playbook against

[2019-10-28 19:39] samdoran commented on #63931
This is working as intended. There's a lot of history on this behavior.

I made did make it [work this way](https://github.com/ansible/ansible/issues/36156#issuecomment-469309439) trying to fix an issue, but after [a lot of discussion](https://github.com/ansible/ansible/issues/38655#issuecomment-427891272), the behavior was [changed](https://github.com/ansible/ansible/pull/49409) to check for the

[2019-10-28 19:39] #63931 closed, assigned to nobody

[2019-10-28 19:46] aviddiviner commented on #52477
To anyone else coming to this issue after searching the web, here's how I did it.

Just make use of a YAML multi-line string (folded block using `>`), e.g.:
[code]

[2019-10-28 19:48] justyns opened #64037 "Checkpoint network module fails with "string indices must be integers, not str""
##### SUMMARY

I'm attempting to use the new Checkpoint network modules added in 2.9, but keep running into an `string indices must be integers, not str` error.  I've tried a few different resources as I'm not sure what the difference between the `checkpoint_*` and `cp_mgmt_*` resources are yet.  I'll focus on `cp_mgmt_host` for now.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

checkpoint

[2019-10-28 19:55] underqualifieditguy opened #64038 "vlan_id parameter is missing from the vmware_vmkernel module"
##### SUMMARY

Unable to configure the vlan id for a vmkernel adapter using the latest version of vmware_vmkernel

Was this taken out of this module for Ansible 2.8? I modified the module locally and added the parameter back and it works as expected. There is no note published on the module saying that the parameter has been removed.

https://docs.ansible.com/ansible/latest/modules/vmware_vmkernel

[2019-10-28 20:08] #64038 closed, assigned to nobody

[2019-10-28 20:08] underqualifieditguy opened #64039 "vlan_id parameter missing from vmware_vmkernel module in Ansible 2.8"
##### SUMMARY

Unable to configure the vlan id for a vmkernel adapter using the latest version of vmware_vmkernel

Was this taken out of this module for Ansible 2.8? I modified the module locally and added the parameter back and it works as expected. There is no note published on the module saying that the parameter has been removed.

https://docs.ansible.com/ansible/latest/modules/vmware_vmkernel

[2019-10-28 20:40] #62327 closed, assigned to nobody

[2019-10-28 20:46] gophobic commented on #30411
this is an embarrassing bug but this "company" does not give a single shit anyway

[2019-10-28 20:52] bcoca commented on #64031
lib/ansible/module_utils/facts/hardware/aix.py hardodes and always expects lsattr to exist, it should be changed to use the `get_bin_path` function and skip if it fails.

[2019-10-28 20:56] jborean93 commented on #63691
See https://github.com/ansible/ansible/pull/63929#issuecomment-547141863, I'm reopening this because `win_package` does support a list of arguments.

[2019-10-28 20:59] kgrozis-arista opened #64042 "eos_linkagg can not add member links"
##### SUMMARY
Basic functionality of the eos_linkagg is working.  However, when ethernet member links are added in the module, a connection error occurs in connection.py.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_linkagg

##### ANSIBLE VERSION
Have tried with the following versions of ansible
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS: 10.14.6
vEOS-Lab: veos1#

[2019-10-28 21:09] srivignessh opened #64043 "ipv4 address of an arbitrary interface access method is incorrect in faq docs"
##### SUMMARY

I tried accessing the ipv4 address of the interface 'tap2f186e31-b8' in my host.
It looks like ansible substitutes '-' with _ in the key.  So we need to replace '-' with _ in the interface name before querying.

Current method:
`{{ hostvars[inventory_hostname]['ansible_' + which_interface]['ipv4']['address'] }}`

Correct method:
`{{ hostvars[inventory_hostname]['ansible_' + which_in

[2019-10-28 21:26] bcoca commented on #63923
meta/requirements.yml is something i've been proposing for a long time.

[2019-10-28 21:46] rambleraptor commented on #50441
Thanks a lot for the bug (and the ping!)

I wrote up a [update test](https://github.com/GoogleCloudPlatform/magic-modules/pull/2552) that currently passes. I'm trying to best figure out the issues that people are having.

Does this match with the issues that you're both having?

[2019-10-28 21:55] lhazlewood commented on #63923
The frustrating thing is this is so trivially easy to do.  I implemented the functionality in less than a day here:

https://github.com/lhazlewood/ansible-galaxy-install

Hopefully the ansible team will include this equivalent in the `ansible-galaxy` command natively.

[2019-10-28 22:06] lhazlewood commented on #63923
Due to my needs and timeline, I have implemented this feature here:

https://github.com/lhazlewood/ansible-galaxy-install

Would the ansible team be open to a new GitHub issue that represents the work to add the equivalent logic to the ansible-galaxy command?

[2019-10-28 22:40] jborean93 commented on #63691
I've had a brief look into this and I think I understand why this is a problem in your scenario. I've followed [Nuance's guide](http://35.168.182.232/Content/core_products_suite_install/si_procedure_on_windows_silent.html) for a silent installation which shows the lack of a space between `/log` and `/debuglog` and their values is deliberate. They expect the arguments to be in the form `/<key>"<val

[2019-10-28 22:45] mjnorman commented on #63691
Thank you very much for the detailed explanation.   I agree it is very quirky on Nuance's part.  I did revert to using a string which works fine.  I'll close the issue.  Thanks!

[2019-10-28 22:45] #63691 closed, assigned to nobody

[2019-10-28 23:35] nkakouros commented on #50441
@rambleraptor I am away from my laptop right now, but whst didn't work for me was to set the firewall rule from enabled to disabled.

[2019-10-29 00:26] prasadkatti commented on #63874
maybe fixed by - https://github.com/ansible/ansible/pull/63944

[2019-10-29 05:27] Fred-sun commented on #56356
@mybayern1974 Please help take a look this issue when you're free! Thank you very much!

[2019-10-29 05:48] graumannteague opened #64045 "nios_a_record is requested to modify IP of existing A record, but attempts to create new A record instead"
##### SUMMARY

When an A record already exists in Infoblox and I attempt to update its IP using a playbook, Ansible attempts to create a new A record with the same name rather than update the existing A record.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nios_a_record

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

localhost: Linux 4.19.0-5-amd64 SMP

[2019-10-29 06:31] justjais commented on #64045
cc. @s-giri @krisvasudevan

[2019-10-29 06:58] yourkucing opened #64049 "win_ping runs error with AttributeError: 'ShellModule' object has no attribute 'ECHO'"
##### SUMMARY
I am trying to get a connection between my Linux server (which is hosting Ansible engine) and a Windows server. This Windows server is a member of my domain for AD. This is my first time dealing with a Windows server, so I am very confused.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- Ansible
- winrm

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
- Windows Server 20

[2019-10-29 07:09] Fred-sun commented on #64036
@rewilliams1 Thank you for open this issue! DNS Zone ([Create DNS Zone](https://docs.microsoft.com/en-us/rest/api/dns/zones/createorupdate)) and Private DNS Zone(Create [Private DNS Zone](https://docs.microsoft.com/en-us/rest/api/dns/privatedns/privatezones/createorupdate)) are two functions, you mean there should be a module or function to create Private DNS Zone, right?

[2019-10-29 07:17] michaelkebe commented on #64013
Yes, upgraded to the pip version and registering works now. Maybe requirements section of the documentation at https://docs.ansible.com/ansible/latest/modules/gitlab_runner_module.html should be clearer.

[2019-10-29 07:17] #64013 closed, assigned to nobody

[2019-10-29 07:37] Ranjandas commented on #39895
+1 for this feature. I was trying to troubleshoot an issue with aws_ssm lookup without knowing that `aws_ssm` happens on the control machine rather than on remote. I think the module documentation should also get a mention regarding this.

[2019-10-29 07:51] #64033 closed, assigned to nobody

[2019-10-29 08:13] tremble opened #64050 "options documentation doesn't include documentation of 'elements' key"
##### SUMMARY
https://docs.ansible.com/ansible/devel/dev_guide/developing_modules_documenting.html#documentation-block

There's currently no documentation of the new 'elements' suboption for options.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs/docsite/rst/dev_guide/developing_modules_documenting.rst

##### ANSIBLE VERSION

devel/2.9

##### CONFIGURATION
N/A
##### OS / ENVI

[2019-10-29 08:17] ilyavaiser opened #64051 "Error gcp_compute_instance_template and disk_type, zone variable"
##### SUMMARY
The variable zone is required to set the type of disk, but it cannot be specified!

https://github.com/ansible/ansible/blob/12820ba64ff5a70eec8ce274cbea576267cffb64/lib/ansible/modules/cloud/google/gcp_compute_instance_template.py#L1099

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute_instance_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#####

[2019-10-29 08:47] Andersson007 commented on #63204
folks, could anyone please look at https://github.com/ansible/ansible/pull/64006

[2019-10-29 10:19] Andersson007 commented on #63204
and another one https://github.com/ansible/ansible/pull/64053

[2019-10-29 10:26] k3x commented on #63374
Thank you very much! Could you please notify me?

[2019-10-29 10:41] pierreprinetti opened #64054 "RFE: to_uuid4 filter"
##### SUMMARY
Add a filter that formats an integer into its UUID4 representation.

Something like:
[code]

The required library [is already imported](https://github.com/pierreprinetti/ansible/blob/16d4d2dba9d62103a198647894f7f82020dca27c/lib/ansible/plugins/filter/core.py#L34) in the `core` filter module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

UUIDv4 is probably the most known and

[2019-10-29 10:43] papakai commented on #52477
Perfect @aviddiviner, thanks for providing this - very appreciated!

[2019-10-29 10:50] Xyrion commented on #60120
Any update on this?

[2019-10-29 10:55] pbrezina commented on #59642
Is there any progress on this ticket?

[2019-10-29 11:23] mkrizek commented on #63940
Running with:
[code]

'fixes' the issue. It seems like that we would need to implement `__deepcopy__` for `HostVars` and possibly `HostVarsVars` as well. Since `HostVars` wraps inventory and variable manager to provide a 'view' on those data, I am not sure what the proper `__deepcopy__` implementation for `HostVars` would be.

For the record, the `template` module uses `.copy()` instead of `deepco

[2019-10-29 11:33] TomaszKlosinski opened #64056 "gcp_sql_user is returning MODULE FAILURE for Google Cloud PostgreSQL"
##### SUMMARY

Using gcp_sql_user with Google Cloud PostgreSQL results in MODULE FAILURE, but the user is being created. Interestingly, the same module works properly with Google Cloud MySQL.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_sql_user module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS X

##### STEPS TO REPRODUCE

[code]

#####

[2019-10-29 11:47] TomaszKlosinski commented on #64056
I've used the module from devel and still get the same error.

[2019-10-29 12:35] pierreprinetti commented on #64054
The bot says "has_pr", but no, #64057 is only about UUIDv5 which is functionality already present in Ansible.

[2019-10-29 13:10] #63914 closed, assigned to nobody

[2019-10-29 13:13] #54673 closed, assigned to nobody

[2019-10-29 13:13] #62937 closed, assigned to nobody

[2019-10-29 13:15] #59793 closed, assigned to nobody

[2019-10-29 13:16] #59822 closed, assigned to nobody

[2019-10-29 13:45] s-hertel commented on #64012
You can use environment variables with the aws_secret lookup plugin. It's the `environment` keyword which won't work, because all lookup plugins are invoked with the local environment (that needs to be set before the playbook is invoked). If you try `AWS_REGION=eu-west-1 ansible-playbook playbook.yml` you should see that you get a missing credentials error instead of lack of region for that lookup

[2019-10-29 13:56] reverendtimm commented on #30411
Really helpful information @gophobic ... thanks for your input. 👍

[2019-10-29 14:15] tux-84 opened #64060 "netaddr package not found when using python3/pip3"
##### SUMMARY

I'm using Vagrant and it's ansible_local provisioning module.

When setting `ansible_python_interpreter: /usr/bin/python3` and running the pip-module in conjunction with `executable: pip3` the netaddr-package is installed successfully.

However when using a template with the ipaddr-filter, the module reports that this package is not present on the system. Running ansible again, the

[2019-10-29 14:17] s-hertel commented on #63947
This is not a bug, and is due to the same reason I noted in https://github.com/ansible/ansible/issues/64012#issuecomment-547426733.

The `environment` keyword is not used for lookups because they are always executed with the local environment that is set before the playbook is run. The `environment` keyword affects the remote execution environment (e.g. used for AWS modules, but not used for AWS l

[2019-10-29 14:22] sivel commented on #63940
@mkrizek That is roughly the change I made to `HostVars` as well.  In fact I actually just did:

[code]

I'm not sure we need to actually do a deepcopy on `HostVars` due to it's implementation as a `Mapping` and not `MutableMapping`.

[2019-10-29 14:24] #63803 closed, assigned to nobody

[2019-10-29 14:37] s-hertel commented on #63956
I can't reproduce this with your task.
[code]
[code]
and checking in the AWS console, the output from the module is accurate. Can you verify you're running the version of Ansible you think you're running and please provide the full output of your task. I can only reproduce #53297 before the backported patch in https://github.com/ansible/ansible/pull/59106, which should be included in 2.8.4+.

need

[2019-10-29 14:59] jzielke84 commented on #64060
By the way: I'm not sure if this is only limited to python3/pip3. I just wanted you to know that I'm forcing them in my environment since Python 2.7 EOL is in 2020.

[2019-10-29 15:06] samdoran commented on #63926
We have no plans to change the wording at this time since it is an accurate statement since the task did fail. You can create a custom callback plugin to change the message to suit your needs.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-10-29 15:06] #63926 closed, assigned to nobody

[2019-10-29 15:10] #63947 closed, assigned to nobody

[2019-10-29 15:11] sivel commented on #63947
The docs at https://docs.ansible.com/ansible/latest/user_guide/playbooks_environment.html do state:

lookups occur locally, and not on the remote as explained at https://docs.ansible.com/ansible/latest/user_guide/playbooks_lookups.html

[2019-10-29 15:12] samdoran commented on #63954
We can actually remove this entire block of code. It's no longer needed.

[2019-10-29 15:12] rmatec opened #64062 "aws_kms_facts is very slow"
##### SUMMARY
The aws_kms_facts module is very slow. It takes around 1-2 minutes to complete.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aws_kms_facts

##### ANSIBLE VERSION

[code]

Version 2.8.5 also affected. I don't have the 'ansible --version' output at hand as I upgraded to see whether the devel version fixes the issue.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS Ca

[2019-10-29 15:14] samdoran commented on #63962
cc @mattclay

[2019-10-29 15:14] acozine commented on #63947
We will keep this issue in mind as we revise the playbooks pages in the User Guide. I hope we can clarify how Ansible works to avoid confusion in future.

[2019-10-29 15:25] #63971 closed, assigned to nobody

[2019-10-29 15:31] #64049 closed, assigned to nobody

[2019-10-29 15:32] andrewsnell-clarivate opened #64063 "Amazon ec2 module should tag instances at time of creation"
##### SUMMARY
In organizations that enforce a tagging compliance policy in EC2 (for example, all instances must have tags "org-owner" and "org-function" tags in order to launch) Ansible's ec2 module is effectively unusable, since tags are only applied after initial instance creation: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2.py#L1278

Launching instances wi

[2019-10-29 15:34] samdoran commented on #64060
The best place to get help with this issues is on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-29 15:34] #64060 closed, assigned to nobody

[2019-10-29 15:58] flowerysong commented on #64063
Have you tested the behaviour of the more modern `ec2_instance` module? It's unlikely that the behaviour of the legacy module will be changed.

[2019-10-29 16:01] antoinetran opened #64066 "invalid_task_attribute_failed syntax error but exit code 0"
##### SUMMARY

With a syntax error (type invalid_task_attribute_failed), ansible-playbook stops in this error, but the exit code is 0, while it should be 1 or 4 (parser error according to https://www.systutorials.com/docs/linux/man/1-ansible-playbook/).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOs 7

[2019-10-29 16:24] s-hertel commented on #64063
As you noted, this is a boto limitation. Boto is no longer maintained and the `run_instances` method used by the module does not accept tags: https://github.com/boto/boto/blob/develop/boto/ec2/connection.py#L738-L753

The `ec2_instance` module was created to support things dependent on boto3 and adds tags at the time of creation. It's unlikely that the `ec2` module can be safely ported to boto3 wi

[2019-10-29 16:35] #64066 closed, assigned to nobody

[2019-10-29 16:48] antoinetran commented on #64066
For other people with the same issue with tee:
[code]
makes it fail when ansible-playbook fail.

[2019-10-29 16:51] andrewsnell-clarivate commented on #64063
OK, thanks for the quick reply. I think I can work with the ec2_instance module to get around those limitations.

[2019-10-29 16:51] #64063 closed, assigned to nobody

[2019-10-29 17:06] #63919 closed, assigned to nobody

[2019-10-29 17:11] s-hertel commented on #42906
Closing as per Ryan's comment above.

@wedge-jarrad The ec2_instance module was created to support things dependent on boto3. It's unlikely that the ec2 module can be safely ported to boto3 without breaking things and since there are many people relying on the legacy behavior, incorporating a new module was decided to be the safest option. There may still be some gaps in functionality for ec2_inst

[2019-10-29 17:11] #42906 closed, assigned to nobody

[2019-10-29 17:24] pescobar commented on #27331
I define umask as workaround. e.g.

[code]

[2019-10-29 17:27] mattclay opened #64068 "Failing integration test zabbix_host"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

zabbix_host integration test

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test zabbix_host is disabled because it fails on Ubuntu 16.04 in CI.

##### STEPS TO REPRODUCE

Run the zabbix_host integration test in CI.

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RESULTS

Te

[2019-10-29 17:27] mattclay commented on #64068
Test disabled for devel in PR https://github.com/ansible/ansible/pull/64067

[2019-10-29 17:48] rambleraptor commented on #64056
Does this happen on during the first time you create the user or on subsequent runs?

[2019-10-29 17:55] davedow15 commented on #63920
Hi Abhijeet,
It appears that 2.8.6 has regressed or my playbook (that runs on 2.8.3) isn’t supported by 2.8.6.

When running with 2.8.3, I get the error specified in this bug.

"msg": "Failure validating OVF import spec: The provided network mapping between OVF networks and the system network is not supported by any host."
And like I mentioned in the bug, it’s because it’s trying to deploy to the

[2019-10-29 18:24] samdoran commented on #27331
As of [Anisble 2.8.0](https://github.com/ansible/ansible/commit/eb8294e6d98b0ab7db587be3c8e99a51da6e245d), the `user` module uses the default umask value from the system on Linux. Is this still an issue with newer versions of Ansible?

needs_info

[2019-10-29 18:26] sivel commented on #64054
Your proposal is not compliant with uuid4, as uuid4 is supposed to generate a random uuid.  In your case, you just want to convert an integer to uuid format, with the potential that a user provide the randomness, but which is still not uuid4.

I see that it would potentially collide with the current `to_uuid` filter as that generates a uuid5 with a static namespace (for idempotency).

On another n

[2019-10-29 18:44] #63139 closed, assigned to nobody

[2019-10-29 18:45] mkrizek commented on #63940
@sivel I had that initially but then started overthinking things. I have opened https://github.com/ansible/ansible/pull/64070 with your solution to potentially discuss further.

[2019-10-29 19:38] AlanCoding commented on #61324
We're about to merge the fix for this in the AWX collection

https://github.com/ansible/awx/pull/5015

and we are deprecating the modules as they exist today.

Thanks for the issue, I was able to replicate the stated behavior and the fix works.

close_me

[2019-10-29 19:43] #61324 closed, assigned to nobody

[2019-10-29 19:46] felixfontein commented on #63120
Did you have a chance to test this again?

I'm going to close this in a few days since this really doesn't look like a bug in the module.

[2019-10-29 19:48] felixfontein commented on #62759
@craph ping

[2019-10-29 19:51] pierreprinetti commented on #64054
@sivel

Does this look better?
[code]

EXAMPLE:
[code]

I personally find it less flexible. However, it is still better than having to [rely](https://stackoverflow.com/a/30516467/1606248) [on](https://www.howtobuildsoftware.com/index.php/how-do/qaM/ansible-ansible-random-uuid-generation) `shell` (or [worse](https://stackoverflow.com/a/41455193/1606248), [misuse](https://stackoverflow.com/a/3051988

[2019-10-29 20:01] samdoran commented on #64054
I am also not in favor of merging this for the reasons outlined above. This would be a good filter to distribute in a [collection](https://docs.ansible.com/ansible/devel/dev_guide/developing_collections.html).

[2019-10-29 20:42] smemsh opened #64078 "inventory manager regression 2.8.6 -> 2.9.0rc5 when trailing comma in `--limit host,`"
##### SUMMARY
changes to `inventory/manager.py` for performance in 2.9 (commit 284dafe476 in particular) broke command line invocation in presence of trailing comma in `--limit host1,host2,` cli arg (works with no trailing comma), which is a regression from 2.8.6.  I have confirmed that manually reverting just the `inventory/manager.py` parts from said commit, fixes the issue.

##### ISSUE TYPE
-

[2019-10-29 20:50] smemsh commented on #64078
!component -lib/ansible/modules/remote_management/manageiq/manageiq_group.py

[2019-10-29 20:51] smemsh commented on #64078
!component +lib/ansible/inventory/manager.py

[2019-10-29 20:57] sivel commented on #64054
All filters should provide a means for idempotency. This is achievable in the random filter via a customizable seed that allows for reproducible results.

You could easily provide some random string to the current uuid filter to achieve a randomized uuid.

However, as @samdoran states, you are free to maintain and ship your own plugins via collections on Ansible Galaxy.

I'm going to proceed with

[2019-10-29 20:57] #64054 closed, assigned to nobody

[2019-10-29 21:18] HERBOD7 commented on #63977
@samdoran I can do it.

[2019-10-29 21:19] s-hertel commented on #63934
It looks like this would be fixed by #63335. It appears that EnablePerformanceInsights is an option when creating a DB instance from scratch, when restoring from S3, and when modifying a DB instance, but not when restoring from a snapshot. So instead of performing the one API call, the module should wait until the RDS instance has been created and then apply any modifications.

[2019-10-29 21:41] s-hertel commented on #64078
This will be fixed in 2.9.1 by https://github.com/ansible/ansible/pull/62679.

[2019-10-29 21:48] pierreprinetti commented on #64054
@sivel
If you care about idemopotency, then idempotency is achieved with the original proposal, that relies upon `random`.

No. You can only get a UUIDv5, once you figure out how to build a random string (I could not).

Unless you can provide an example?

[2019-10-29 21:51] smemsh commented on #64078
thanks, I had searched only issues, not PRs.  too bad it cannot be in 2.9.0 though.

anyways good enough for me, I will close this one, thanks.

[2019-10-29 21:51] #64078 closed, assigned to nobody

[2019-10-29 21:54] sivel commented on #64054
The password lookup can provide you with a random string:

[code]

Using `/dev/null` prevents ansible from storing the results to a file, and will just return the random string.

[2019-10-29 22:19] jasonneurohr commented on #64068
The same thing is failing my PR [#64003 ](https://github.com/ansible/ansible/pull/64003)

[2019-10-29 22:22] pierreprinetti commented on #64054
So if I get it right, the recommended way for getting a UUIDv4 in Ansible is to settle for a UUIDv5 with an arbitrary namespace of `361E6D51-FAEC-444A-9079-341386DA8E2E`, generated using an undocumented behaviour that probably only works on POSIX:

[code]

I think we can do better.

[2019-10-29 22:28] berquist opened #64079 "Gathering facts with become fails on CentOS 7.5"
##### SUMMARY

The gathering facts step of any play fails when privilege escalation with sudo to root is used with a "permission denied" on the `AnsiballZ_setup.py` temporary file. I suspect this has something to do with using a network filesystem for my home directory but don't know how to test it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGUR

[2019-10-29 22:53] wltjr commented on #63974
@mahmutaydin1 if I understand the issue correctly, this is more how you create playbooks and use them rather than module features. If you want tasks in the same playbook to apply to different hosts, you have a couple options.

Option 1
Use a when clause to limit the host(s)
[code]

You can add much more to that, like additional when's for groups, or other stuff.

Option 2
Use tags and limit option

[2019-10-29 23:00] matt-telstra commented on #60120
I (same person as mlda065) have written [a pull request](https://github.com/ansible/ansible/pull/60552).

The code works. The tests all pass. But the people validating my work are hitting undocumented AWS limits. I'm not sure that the status is on that.

If you want to use the module today, you can pull the code in the pull request and run Ansible from that commit.

[2019-10-30 04:03] Akasurde commented on #64079
!component =lib/ansible/modules/system/setup.py

[2019-10-30 04:13] Akasurde commented on #64050
resolved_by_pr #64075

[2019-10-30 05:46] Fred-sun commented on #31867
ping to close!

[2019-10-30 07:15] #44154 closed, assigned to nobody

[2019-10-30 07:16] dove-young commented on #64004
I hit to similar error on Ansible 2.8.5

[code]

With this playbook
[code]

error msg looks like this:

[code]

[2019-10-30 07:17] dove-young commented on #64004
When I change to this playbook

[code]

Error msg becomes this way
[code]

[2019-10-30 08:44] TomaszKlosinski commented on #64056
Both first and subsequent runs. I haven't tried re-creating instance though. Not sure if that makes a difference. I'll try to test it later with new instance.

[2019-10-30 08:44] D3DeFi commented on #64068
@jasonneurohr zabbix_host tests were disabled by @mattclay while opening this issue so they should no longer interfere with your PR.

Although. this seems to be issue with official mongo repository, which is in no way used for Zabbix so my guess is that it would be the best to clean apt sources after running mongodb_* test roles. Same thing would probably happen to any role that will be executed *

[2019-10-30 09:00] mahmutaydin1 commented on #63974
thank you. I have used  below and it worked. But when command is also good
option

-hosts:hostfile[0]
 tasks

-host:hostfile[1]
tasks

William L Thomson Jr <notifications@github.com>, 30 Eki 2019 Çar, 01:55
tarihinde şunu yazdı:

[2019-10-30 09:19] TeamNautilus opened #64094 "gitlab_deploy_key does not support keys on multiple projects"
##### SUMMARY
gitlab_deploy_key seems not supporting adding and enabling the same key for two different projects. We were trying adding a key to 3 projects and we were expecting the module to add the key, enable it in the first project and enable it in the two other projects, as you will do with the web interface.
It seems to be possible with the api: https://docs.gitlab.com/ee/api/deploy_keys.htm

[2019-10-30 09:29] next-jesusmanuelnavarro commented on #63947
Not exactly: *ENV* is related to ansible **controller**, which happens to be local, while *environment* is related to ansible **target**, which may or may *not* be remote (by the way, [environment keyword's documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_environment.html) also uses *remote* in this less than desirable way).

I don't think the difference is nitpicking, s

[2019-10-30 09:39] next-jesusmanuelnavarro commented on #64012
I considered it... and I rejected the idea because it adds strong coupling between ansible config and some other unrelated one.  I.e.: depending on the exact profile name precludes developers to set the profiles' names as they see fit and I'll have to come with an overall policy for these profiles so there are no clashes among different projects I, in the end, have no control over to that level of

[2019-10-30 10:02] seanw2020 opened #64096 "vmware_vm_inventory.py ignore port parameter"
##### SUMMARY
I am running [vmware_vm_inventory.py]( https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/vmware_vm_inventory.py) in a firewalled environment without access to port `443` (i.e., only port 1443 forwarded to a single VCSA port 443) and setting `with_tags: True` and `port: 1443`, I get an error about port `443` instead (`HTTPSConnectionPool(host='foo.bar.com', p

[2019-10-30 10:24] mminnen opened #64098 "Module fmgr_fwpol_package lacks functionality"
##### SUMMARY
According to the documentation fmgr_fwpol_package can be used to:

However there is no function included to assign policy packages to adoms.

##### ISSUE TYPE
Missing functionality.

##### COMPONENT NAME
fmgr_provisioning.py

##### ANSIBLE VERSION
[code]

[2019-10-30 10:34] dojones1 opened #64099 "jenkins_job fails with Jenkins 2.190 due to [403] No valid crumb was included in this request"
##### SUMMARY
Running Jenkins job against Jenkins 2.190, I now get an error:
jenkins.JenkinsException: Error in request. Possibly authentication failed [403]: No valid crumb in the request

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
jenkins_job

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running from Docker deployment of AWX 8.0.0 inc Ansible 2.8.6

[2019-10-30 10:41] dojones1 commented on #64099
Looks to be similar to issues:
#61672
#61712

which fixed: jenkins_script and jenkins_plugin modules.
Same fix is not as easy to apply here as jenkins_job makes use of the python-library for handling the API calls, and this is where the fix will need to be applied

Alternatively could jenkins_job be updated to avoid the dependency upon python-jenkins (as per jenkins_script and jenkins_plugin). Cou

[2019-10-30 10:50] mibaboo commented on #63681
@fabianvf

it seems to use th image_stream

I1030 12:38:47.853540    4891 loader.go:359] Config loaded from file /home/USER/.kube/config
I1030 12:38:47.853857    4891 tag.go:183] Using "project/APPNAME:TAG" as a source tag
I1030 12:38:47.853963    4891 round_trippers.go:383] GET https://master:443/apis/image.openshift.io/v1/namespaces/project/imagestreams/APPNAME
I1030 12:38:47.853969    4891 roun

[2019-10-30 10:57] richard-scott commented on #41955
This isn't limited to just the k8s_raw module, it's a global issue with Ansible's filtering.

e.g
[code]

[2019-10-30 10:58] Akasurde commented on #64096
!component =lib/ansible/plugins/inventory/vmware_vm_inventory.py

[2019-10-30 11:17] jzielke84 commented on #64060
Solution in my Vagrant file before executing the ansible_local provisioner:
[code]

[2019-10-30 11:27] pgbidkar commented on #25714
* [x]  Add a new disk. Remove is not required.
 * [ ]  Disk IO limits/shares. - Has PR https://github.com/ansible/ansible/pull/64087
Add a new disk. Remove is not required. feature is implemented in vmware_guest_disk module.

[2019-10-30 11:38] mkrizek commented on #58527
I am going to go ahead and close this as updating `Jinja` to the latest `master` branch fixes the issue. The fix should be present in the upcoming `2.11` release.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-30 11:38] #58527 closed, assigned to mkrizek

[2019-10-30 11:38] gstorme opened #64101 "ansible_distribution_version parsed wrong on Debian with Plesk"
##### SUMMARY

The ansible_distribution_version fact is displayed as "8" on Debian 9, when Plesk 18 is installed, because the /etc/plesk-release file is parsed.
It seems the setup module (_distro.py?) is parsing all /etc/*-release files on a target host, and this can mess with the ansible_distribution_version facts.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[2019-10-30 12:14] richlv commented on #63449
Yay, thank you for the fix :)

[2019-10-30 12:45] gstorme commented on #64101
This does not occur on a clean Debian machine, I've been able to pinpoint it to a Plesk install.
The reported versions in ansible_facts are correct until Plesk is installed.

[2019-10-30 13:00] s-hertel commented on #63947
I don't consider it nitpicking either and it's a common misconception about how Ansible is supposed to work. The `environment` keyword does not modify the environment executing Ansible and should not. Modules (regardless of whether `connection: local` is provided) use the remote target environment: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/__init__.py#L211-L242. It d

[2019-10-30 13:12] gstorme commented on #64101
It seems that while running the setup module, it parses all /etc/*-release files found on the target host?
Since Plesk 18 (GA released on Oct 22nd) the plesk-release package contains a file "/etc/plesk-release" with content:

[code]

The wrong versions are collected by the setup module because of this file is being parsed, and apparently has precedence over /etc/os-release or lsb_release output.

[2019-10-30 13:34] justjais commented on #64042
@kgrozis-arista `eos_lag` is the new resource module introduced in Ansible `2.9`, can u please use the module and check if the newer resource module works for u as expected.

[2019-10-30 13:37] justjais commented on #63999
@neonardo1 please go ahead and raise the respective PR. Thanks

[2019-10-30 13:37] #63999 closed, assigned to nobody

[2019-10-30 13:48] samccann opened #64102 "[Docs] Update documentation and docsite for Ansible 2.9"
##### SUMMARY

Update the documentation and publish the 2.9 version of Ansible documentation. Tasks include:

- [x] Change versions for the version switcher in conf.py in devel, stable-2.9, stable-2.8 and stable-2.7

- [x] Review changelogs in stable-2.9

- [x] Update 2.9 porting guide to point to stable-2.9

- [x] Update the Release Status grid on the Release and Maintenance page in devel and sta

[2019-10-30 14:03] misterunknown commented on #60889
I can also confirm that it's fixed in 2.8.6.

[2019-10-30 14:18] Alucard616 opened #64104 "Allow import_tasks to take wildcards"
##### SUMMARY
It would be nice, if I could use a wildcard with import_tasks, too.
This is mentioned here:
https://github.com/ansible/ansible/issues/48866#issuecomment-440432119
But I can not use loops for import_tasks.

ERROR! You cannot use loops on 'import_tasks' statements. You should use 'include_tasks' instead.

In my Case, I really need import, because I want to import handlers in a playbook

[2019-10-30 14:20] maxamillion commented on #60889
Marking closed as there are not multiple confirmations of fix. Thanks for reporting the issue! Apologies for the bug :)

[2019-10-30 14:20] #60889 closed, assigned to maxamillion

[2019-10-30 14:24] let-thomas opened #64105 "PluginDevel: import files with jinja vars"
##### SUMMARY
Hi,
I am developing for our complex CIDC pipeline plugin to ansible. It is my first plugin actually so I took inspiration in existing ansible plugins.
So I run into one problem and it is not clear what the issue is.
I actually make a copy of include_vars plugin and called it inc_varz. But it behaves differently than the origin - variable loaded by this plugin are not properly evaluat

[2019-10-30 14:31] Asgoret commented on #20493
Problem is here)
[code]

[2019-10-30 14:52] GomathiselviS commented on #63981
@mahmutaydin1 Can you please share your inventors specs and the eos image version?

[2019-10-30 15:03] crab86 commented on #63827
I had the same issue when using network_cli and the junos_command module. Basically it seems that if you use network_cli as  transport type all of the timeout values you set inside a network module (cisco in your case, junos in mine) are ignored. I was able to workaround it with settings task vars (or playbook / inventory vars) like this:

vars:
     ansible_connection: network_cli
     ansible_co