[2019-03-17 12:18] agowa opened #53919 "Deploy role twice with different settings"
##### SUMMARY

Currently it is not documented how to deploy a single role twice with different settings within one playbook.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

I see the question of how to deploy a module twice within one playbook, but with different s

[2019-03-17 12:48] yun opened #53920 "vyos_config does not support comment lines"
##### SUMMARY

vyos_config only accepts `set` and `delete` commands, but vyos also supports `comment` to add comments to the configuration tree. To delete a comment just set an empty comment.

Reference: https://wiki.vyos.net/wiki/Comment_(command)

Currently when you use a comment line the `vyos_config` module will give the error:

    "msg": "line must start with either `set` or `delete`"
#####

[2019-03-17 14:20] devfaz opened #53921 "puppet module is not using debug/summarize/verbose parameters in server-mode"
##### SUMMARY
tried to enable the --debug and --summarize options of puppet via ansible, but even if the docs tell me this is supported, the resulting puppet-cli-call didnt had the --debug/--summarize options set.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
system/puppet

##### ANSIBLE VERSION
2.7+

##### CONFIGURATION
-

##### OS / ENVIRONMENT
-

##### STEPS TO REPRODUCE
- name: puppet

[2019-03-17 15:08] rl4518 commented on #4265
The lack of a pdf version of the ansible (latest) release is yet another reason not to waste time with it. Honesty, what major project like this doesn't have every possible method of documentation distribution method available to it.

How can you be a champion of a system with such a draconian view, ignoring it's own user community

[2019-03-17 15:51] devfaz commented on #53921
#53922

[2019-03-17 15:51] #53921 closed, assigned to nobody

[2019-03-17 16:27] agowa opened #53923 "Docker: Change default for purge_networks within docker_container"
##### SUMMARY
The default behaviour of docker_container should be equivalent to that of the docker cli command.
I think this should be implemented, even though it is a breaking change for a few people. I consider the breakage to be minor.

It is also the opposite default behaviour compared to docker_network module, where the `connected` list is canonical.

##### ISSUE TYPE
- Feature Idea

##### CO

[2019-03-17 16:45] felixfontein commented on #53923
It's hard to judge how many people would be affected by this. Especially since you do not describe what the behavior should actually be. Could you please elaborate what exactly you want?

The `purge_networks` option doesn't really exist with docker CLI. If you specify a network, the default network will never be added, but if you don't specify a network, the default network will be kept. So the de

[2019-03-17 16:50] antonroman commented on #50838
Hi @Akasurde, yes I can raise the PR for this issue and add the unit tests. I'll do it in the next few days. Thanks

[2019-03-17 17:07] agowa338 commented on #53923
I thought it was clear from the linked issue, but if you want a summary:

[code]
This will deploy a mariadb docker container, but also attach the default bridge even though it should only attach to thouse listed within mariadb_docker_networks. Therefore purge_networks needs to be added. This is contradicting the behaviour of the docker cli command, as the default bridge does not get added than.

[2019-03-17 17:35] jvalrog commented on #53918
Ok, I'll close this issue since it works by using `aptitude` to hold the package instead of `apt-mark`.

[2019-03-17 17:35] #53918 closed, assigned to nobody

[2019-03-17 18:59] felixfontein commented on #53923
The current behavior of `docker_container` for containers which already exist is only to change something if stuff needs to be added (not removed). Changing the default of `purge_networks` to `true` will suddenly remove all networks from a container where `networks:` hasn't been specified. That's pretty bad.

Also, if you don't specify a network on container creation, it will have no network conne

[2019-03-17 19:15] agowa338 commented on #53923
That's what I would expect. Why would you expect it being the other way? Why should ansible not remove networks you clearly don't want to be attached to the container? Please also consider, that you do not need to hardcode the networks here, you can also provide a variable list and add remove to the list before creating the container.

That's why I wrote above to also default networks to bridge:
[

[2019-03-17 19:30] felixfontein commented on #53923
Because the user did not say "I want no networks", but said "I don't care about the networks" when not specifying `networks:`.

There is a **huge** difference between not specifying `networks:` and explicitly specifying `networks: []`.

In the original issue, you were requesting that `docker_container` behaves like the CLI. If this is necessary, it does **not** behave like docker CLI.

I fully agr

[2019-03-17 22:01] agowa338 commented on #53923
Exact, that what I try to tell you.

Look at my examples above, that is exactly what I described.

This is what should be equivalent to not specifying, not what the user should specify.

- `networks: null` == not present == attach to bridge == the snippet above.
- `networks: []` == don't attach to any network.

It is equivalent, the cli also allows to explicitly specify to attach to the default br

[2019-03-17 23:18] eburgueno opened #53929 "template module aborts because of python bindings (libselinux-python)"
##### SUMMARY
`template` module fails with `"Aborting, target uses selinux but python bindings (libselinux-python) aren't installed!"` however the package **is installed** on the remote host

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
(from [this role](https://github

[2019-03-17 23:23] eburgueno commented on #53929
The same happens with the `selinux` module:

[code]

[2019-03-17 23:45] jborean93 commented on #53929
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * The output indicates you are running the module with `/usr/bin/python3.6`
   * You must have set `ansible_python_interpreter` to `/usr/bin/python3.6` somewhere

[2019-03-17 23:45] #53929 closed, assigned to nobody

[2019-03-18 00:04] eburgueno commented on #53929
Hi @jborean93, yes, it is true that the ansible module appears to be running with Python 3, however I do not have that configured anywhere in my inventory (or elsewhere for that matter):

Relevant verbose output line
[code]

Ansible control server:
[code]

The role does install `python 3.6` on the remote host, but `/usr/bin/python` continues to point to `python 2.7.5`:

[code]

Could it be that An

[2019-03-18 00:12] eburgueno commented on #53929
Actually, nevermind, I found that the role does indeed override the `ansible_python_interpreter`:

[code]
([here](https://github.com/lae/ansible-role-netbox/blob/master/tasks/main.yml#L9))

Thanks for the pointer!

[2019-03-18 00:37] jborean93 commented on #53929
No worries, there is the new auto python interpreter that will be part of the 2.8 release which is documented at https://docs.ansible.com/ansible/devel/reference_appendices/interpreter_discovery.html. This should not affect Centos 7 as it defaults to `/usr/bin/python` but it should make newer distributions that do not have Python installed there.

It sounds like you found the issue though, not sur

[2019-03-18 03:02] Fred-sun commented on #52082
@just-dimitarslavkov Thanks for your reporting, Could you can give a try according by the above comment? Thanks!

[2019-03-18 03:44] #52206 closed, assigned to trishnaguha

[2019-03-18 03:48] Akasurde commented on #53916
!component =lib/ansible/modules/cloud/cloudstack/cs_facts.py

[2019-03-18 03:55] MyTestCode1 opened #53931 "library scp is required when file_pull is False but does not appear to be installed. It can be installed using `pip install scp. when run with module nxos_file_copy"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_file_copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION:
[code]

##### STEPS TO REPRODUCE
SCPClient  is installed on host running module. using pip install scp.

##### OS / ENVIRONMENT
Centos

Target Device:
CICO MDS 9000

ansible-playbook -i inventory/hosts myplaybook.yml

[code]
##### EXPECTED RESULTS

##### ACTUAL RESULTS
Throws erro

[2019-03-18 03:57] Akasurde commented on #50838
resolved_by_pr #53928

[2019-03-18 04:09] Akasurde commented on #53919
@agowa338 Thanks for reporting this issue. I think this page - [Reusing Roles](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html) provides the information about how to run role with different settings. Is that what you are looking for ? Let me know. Thanks,

needs_info

[2019-03-18 04:55] bencart opened #53932 "aws_waf_condition fails when updating a condition"
##### SUMMARY
aws_waf_condition fails for some filter types when updating a condition that already exists.

I have not tested this extensively, I know that some filter types do work okay, but this is reproducible  with the play below.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
modules/cloud/amazon/aws_waf_condition.py
module_utils/ec2.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[2019-03-18 05:24] Akasurde commented on #29282
resolved_by_pr https://github.com/ansible/ansible/pull/35262

[2019-03-18 05:24] #29282 closed, assigned to Akasurde

[2019-03-18 05:34] #49909 closed, assigned to nobody

[2019-03-18 05:47] Akasurde commented on #53650
@5t4rdu5t Does @sputnick-dev example helps you ? @sputnick-dev Let me know if you may need some help in raising a PR. Thanks.

[2019-03-18 05:49] Akasurde commented on #53609
!component =lib/ansible/modules/cloud/amazon/ec2.py

[2019-03-18 06:09] Fred-sun commented on #53387
@zikalino Do you have updated the package? when you finish, Please add comment in here? Thanks!

[2019-03-18 06:32] Fred-sun commented on #53299
@yuwzho Could you can give a fixes according by the above comments? Thanks!

[2019-03-18 07:04] willthames commented on #53932
Looks like a python3 bug - will see what I can do

[2019-03-18 07:10] yangcaixing opened #53938 "Ansible 2.7.5 Aireos module cannot connect cisco WLC, it prompt error "fatal: [F1-WLC-01]: FAILED! => { "msg": "unable to set terminal parameters" }""
Hi all,
     I have an issue with Aireos module, when I run the Aireos playbook to connect Cisco WLC , it prompt the error"fatal: [F1-WLC-01]: FAILED! => {"msg": "unable to set terminal parameters"}, I try to troubleshooting ,but cannot found the root cause ,would you pls help to check the issue, thanks in advance.
#ansible-playbook ap.yml -i inventory -vvv
ansible-playbook 2.7.5
  config file = /

[2019-03-18 07:38] yangcaixing opened #53939 "Ansible 2.7.5 Aireos module cannot connect cisco WLC, it prompt error "fatal: [F1-WLC-01]: FAILED! => { "msg": "unable to set terminal parameters" }""
##### SUMMARY

Ansible 2.7.5 Aireos module cannot connect cisco WLC, it prompt error "fatal: [F1-WLC-01]: FAILED! => { "msg": "unable to set terminal parameters" }"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aireos_command
aireos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MACOS Mojave 10.14.3

##### STEPS TO REPRODUCE

[code]

##### EXPECT

[2019-03-18 07:39] yangcaixing commented on #53938
thanks reminder, I have re-open the case as refer to the template.

[2019-03-18 07:39] #53938 closed, assigned to nobody

[2019-03-18 08:00] yangcaixing commented on #53939
I know the component modules , but I don't know the errors meaning, and how to resolve it, anyone else can help to check this issue, thanks.

[2019-03-18 08:00] ganeshrn commented on #53236
@nickrusso42518 Thanks for sharing the debug information.

`ncclient` expects `<ok>` tag in `<rpc-reply>` which is required as per [Netconf RFC](https://tools.ietf.org/html/rfc6241). Since Ansible uses ncclient to talk to target host over netconf transport it displays the error message returned from ncclient.

You can verify the error response by running [this](https://gist.github.com/ganeshrn/641

[2019-03-18 08:22] necrose99 commented on #52308
**https://wiki.gentoo.org/wiki/Eselect/Repository**
eselect-repository is an eselect module for manipulating /etc/portage/repos.conf entries to third party repositories (also known as overlays).

**This utility supersedes app-admin/layman**

_layman is somewhat depticated._

**https://github.com/mgorny/eselect-repository**

any rate most boxes will continue to work with layman , however sooner of

[2019-03-18 08:34] Yajo commented on #53751
Do you know which version should work fine?

[2019-03-18 08:40] LeDOC666 commented on #41145
Finally It was a problem of SSL version.
I patched servers to active TLS 1.2, and disable older SSL version, and copy with ansible work again.
Problem was on Windows 2008R2 and older only.

[2019-03-18 08:40] #41145 closed, assigned to nobody

[2019-03-18 08:42] gundalow commented on #51481
@oolongbrothers If you know the fix it's OK to go forward and create the PR, no need to create an issue.

Personally I do something like "I'm working on a fix in PR1234" on issue, though the automatic links from "This was referenced on 30 Jan" should be clear.

Hopefully @JayKayy  and @oolongbrothers can work out how to progress with #51482 #51371 and #51721

[2019-03-18 08:46] gundalow commented on #36129
I've reopened this, thanks for shouting out.

https://github.com/ansible/ansible/issues/36129#issuecomment-365338123 detailed the information that was required. I've updated the initial issue comment to include this

[2019-03-18 08:46] gundalow commented on #36129
!component +lib/ansible/plugins/lookup/password.py
bot_status

[2019-03-18 08:52] hannseman opened #53941 "docker_swarm_service: resolve_image does not work with private registries"
##### SUMMARY

Running `resolve_image: true` with a private image specified will not work. This is because credentials are not passed when making the request against the registry with `client.inspect_distribution`. This issue is fixed by this PR https://github.com/docker/docker-py/pull/2227 which is to be released in docker 4.0.0. More discussion can be found here https://github.com/docker/docker-

[2019-03-18 09:02] wedi commented on #53750
See https://github.com/ansible/ansible/pull/21215

[2019-03-18 09:45] rthouvenin opened #53943 "Do not run CHANGE MASTER query on a running MySQL slave"
##### SUMMARY
This is mostly a feature request, but also partly a bug report. When running the `mysql_replication` module with `mode=changemaster` while the slave is already running on the MySQL server, the task fails with error message "error totally whack" and nothing much more than that... This is the bug part: the error message should be improved. When doing this "manually" (that is, running t

[2019-03-18 09:50] jpjaatin opened #53944 "ec2_group - module failure when using --diff"
##### SUMMARY
ec2_group throws module error for icmpv6

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.2 LTS
Release:	18.04
Codename:	bionic

4.15.0-46-generic

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
Task

[2019-03-18 10:12] sputnick-dev commented on #53650
I'm the same person, just another account @work and one @home.

@Akasurde , I would like to make the PR, but again, I don't know what to fork, because the link from the doc fotk the python code from `vmware_deploy_ovf.py` and the doc inside is not the same as the doc page

[2019-03-18 10:26] mkrizek commented on #49968
Fixed in https://github.com/ansible/ansible/pull/53420.

[2019-03-18 10:26] #49968 closed, assigned to nobody

[2019-03-18 10:45] bmalynovytch commented on #53943
Thx for the report @rthouvenin.
I guess it shouldn't be really hard to fix, by doing pre-flight checks and comparing running status vs target config. Though we might need to add a "force" flag to override the detection in some cases.

[2019-03-18 10:54] markuman commented on #41861
@ichekaldin
I can confirm that this fails with the current upstream `elbv2.py` from ansible 2.7.8.
But it works fine with the patched version from @jeevers

@jeevers

I try to do it the next days and try to investigate what is wrong or missing.

[2019-03-18 11:33] ghourlier opened #53949 "ERROR: aws_s3 is not a legal parameter in an Ansible task or handler"
##### SUMMARY
I get an error message "ERROR: aws_s3 is not a legal parameter in an Ansible task or handler"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aws_s3

##### ANSIBLE VERSION
Ansible 2.7.8

##### CONFIGURATION

##### OS / ENVIRONMENT
ubuntu

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Send my local dev to a bucket s3

##### ACTUAL RESULTS

[code]

[2019-03-18 11:35] tgadiev commented on #39122
That doesn't work actually, even for ansible 2.7.8

[2019-03-18 11:48] jpic opened #53950 "Allow custom role metadata"
Currently, adding a new attribute to meta/main.yml as such:

[code]

Will fail as such:

[code]

To finish this issue, allow users to put custom stuff in meta/main.yml

(EDIT: in my particular use case i could do without, if only ansible did not enforce executing role dependencies, ie. when you want to include a specific tasks file from a role in another role, you want to include_role yourself)

[2019-03-18 12:08] jpjaatin commented on #53944
This is getting more fussy and I cannot anymore figure pattern what works and what does not:

These do not work:

      - proto: tcp
        ports: "25"
        cidr_ip: "192.168.61.13/32"
          # - "10.210.0.0/16"
          # - "192.168.210.0/24"
          # - "10.210.0.0/16"

      - proto: tcp
        ports: "25"
        cidr_ip:
           - "10.210.0.0/16"
           - "192.168.210.0/24"

[2019-03-18 12:21] jpjaatin commented on #53944
It fails for the --diff   !!!

    if module._diff:
        if module.params['state'] == 'present':
            after = get_diff_final_resource(client, module, security_group)

        security_group['diff'] = [{'before': before, 'after': after}]

[2019-03-18 12:51] imranrazakhan commented on #25941
I have change my network configuration like below and start getting error while deploying 3.10
[code]

`FAILED! => {"changed": false, "module_stderr": "Shared connection to my.domain.local closed.\r\n", "module_stdout":`

[2019-03-18 13:06] nickrusso42518 commented on #53236
Yes, I see. It seems like the code is trying to process a variable set to `None`. If I understand correctly, one of the two changes is needed:
  1. `ncclient` would need to be updated to accept `rpc-reply` responses containing values other than `ok` which would be non-standard
  2. Cisco could update their `rpc-reply` to return `ok` and It would presumably work.

In either case, the issue does not

[2019-03-18 13:07] wojtas911 commented on #35181
Hi,
I didn't like the idea to open a new issue since my problem is similar. I have learned a lesson from AWS and now since we switched to google compute I'm adding tag/labels as much as I can.
So my playbooks in AWS was depending on those labels and i like to continue that on GCP.
I'm looking for quite a log time some module that will be able to do:
curl -sH "Metadata-Flavor: Google" 'http://metad

[2019-03-18 13:32] TrLucas opened #53958 "copy module always returns "changed: false" when recursively copying a directory"
##### SUMMARY
When attempting to recursively copy a directory and registering the result, the result's `changed` parameter yields `false`, even though directories where newly created / files newly copied.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

modules/files/copy.py

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Both the controlling and the remote machine run on Debian 9.8

[2019-03-18 13:35] coldnebo opened #53959 "find command doesn't work on Windows VMWare Player NFS mounts"
##### SUMMARY
find command doesn't work under Windows VMWare Player NFS mounts

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
find

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host: Windows 10 Enterprise.
Running VMWare Player

Guest:
[code]

##### STEPS TO REPRODUCE

Test case:

[code]
The deployments directory is an NFS mount that contains *.json fil

[2019-03-18 13:42] ganeshrn commented on #53236
Yes, that's right.

**Option-1:**
Cisco Netconf server returns `<rpc-reply>` in the standard format with `<ok>` element in the case no data returned from the operation
eg:
[code]

Or with `<data>` element in case of data returned from the operation.
eg:
[code]

**Option-2:**
Add a Cisco ios device handler in ncclient [here](https://github.com/ncclient/ncclient/tree/master/ncclient/operations/third

[2019-03-18 14:06] rdtechie commented on #43802
Can this issue please be reopened? This particular modules still does not support connecting ASG's. There should be a property called `destination_application_security_group`, which @ams0 suggested. This is also in line with the REST API. Can this property be made in such a way that it will accept also a dict of ASG name + ASG resource group name?

[2019-03-18 14:23] matt852 opened #53962 "Unexpected Exception, this is probably a bug: argument of type 'int' is not iterable"
##### SUMMARY

When I create a custom module, return a list of integers, and name the return variable "results", I get the following error:

If I change the return value to anything other than "results", it works.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Custom modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: CentOS Linux 7 (Core)

#####

[2019-03-18 14:40] #53932 closed, assigned to nobody

[2019-03-18 14:43] jonahh-yeti opened #53963 "Add support for google Cloud Scheduler jobs"
##### SUMMARY

I would like to be able to deploy cloud scheduler jobs to my GCP environment.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

gcloudscheduler

##### ADDITIONAL INFORMATION

I use cloud scheduler to trigger various GCP cloud functions, in conjunction with other components that can be deployed by ansible such as pub/sub and cloud storage.  I'd like to be able to set up a cloud

[2019-03-18 15:16] jonahh-yeti opened #53965 "Deploy google cloud functions with ansible"
##### SUMMARY

I would like to be able to deploy google cloud functions via ansible.  Other components in google cloud (pubsub, cloud storage, etc.) have been given support via magic-modules.  In order to deploy more of my infrastructure via ansible, it would be helpful if cloud functions were also supported.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

gcp_cloudfunctions

##### ADDITIO

[2019-03-18 15:32] bcoca commented on #53949
need more context, that works fine when i put it inside a play

needs_info

[2019-03-18 15:36] LucyMarieKiwi opened #53966 "'prompts ' is not a valid attribute for a play"
##### SUMMARY
I using Ansible to attempt to open and close interfaces on a Cisco IOS switch. Due to restrictions with money, I am having to use old kit therefore having to use telnet instead of SSH. I am getting an error for 'prompts ' is not a valid attribute for a play. I got 'prompts' from an Ansible document https://docs.ansible.com/ansible/latest/modules/telnet_module.html

##### ISSUE TYPE
-

[2019-03-18 15:37] Akasurde commented on #22591
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2019-03-18 15:37] #22591 closed, assigned to Akasurde

[2019-03-18 15:41] sivel commented on #53966
You appear to have a lot of indentation issues.

You need to make sure that the tasks are properly indented under the `tasks:` header.  Additionally, you need to indent `prompts` and `command` to the same level as `password`.

An example of a properly indented playbook:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * maili

[2019-03-18 15:41] #53966 closed, assigned to nobody

[2019-03-18 15:46] Akasurde commented on #53962
!component =lib/ansible/executor/task_result.py

[2019-03-18 15:48] sivel commented on #53963
!component =lib/ansible/modules/cloud/google/gcloudscheduler.py

[2019-03-18 15:48] sivel commented on #53965
!component =lib/ansible/modules/cloud/google/gcp_cloudfunctions.py

[2019-03-18 16:04] bcoca commented on #53962
`results` is used internally to handle loops, so your module should never return this key

[2019-03-18 16:04] NasAmin opened #53970 "win_chocolotey fails to install curl or googlechrome"
##### SUMMARY
I am using win_chocolatey but have started getting an error that win_chocolatey cannot install curl and googlechrome. This error happens on all win_chocolatey tasks.

##### ANSIBLE VERSION
2.7.9 and 2.5.5

[code]

##### OS / ENVIRONMENT
alpine based docker container

##### STEPS TO REPRODUCE
Create a task as metnioned above.
Run Ansible playbook containing the above task

[code]

###

[2019-03-18 16:05] #53481 closed, assigned to Akasurde

[2019-03-18 16:08] maglub opened #53971 "win_chocolatey fails installing new packages when choco.exe version 0.10.13 is used (works with 0.10.11)"
##### SUMMARY

On a freshly installed German Windows 10, version 1809, win_chocolatey fails installing new packages, exiting with rc 2, when the latest choco.exe is installed (version 0.10.13).

It works when downgrading choco.exe to 0.10.11.

Tested packages:

* curl
* displaylink
* greenshot
* rdcman
* notepadplusplus
* 7zip
* ... etc

I have alsy reached out to the people at https://chocolatey.

[2019-03-18 16:28] fayaaz commented on #52324
Actually this issue should be closed - you can specify the resource policy as part of the swagger definition - the behaviour is as expected.

[2019-03-18 16:31] felixfontein commented on #53857
It is a suboption of `build`. Your task has to look like this:
[code]

[2019-03-18 16:34] #32038 closed, assigned to nobody

[2019-03-18 16:38] NasAmin commented on #53971
@maglub I have discovered the same issue.
I am using ansible with packer.
I am not sure how to downgrade chocolatey as choco is not already installed on my guest machine and win_chocolatey seems to be installing the latest version. I don't see an option on the win_chocolatey page to specify a particular version. Do you have any suggestion please?

I opened a separate issue around the same time as

[2019-03-18 16:38] MartinSotirov commented on #49395
I think the problem stems from the fact that the official documentations says that the python docker module should be installed on the host while it's actually required on the target.

[2019-03-18 16:39] hellsingblack commented on #53949
@bcoca I use ubuntu and pyenv 1.2.9
I play my `playbook` with PYENV_VERSION=ansible2.5.5 ansible-playbook deploy_ui.yml -i 127.0.0.1, --extra-vars "project=console env=development"

everything work without aws_s3 implementation but when I add theses line
[code]

[2019-03-18 16:40] #17088 closed, assigned to nobody

[2019-03-18 16:44] felixfontein commented on #49395
More precisely, the official documentation says "[...] on the host **that executes this module**".

[2019-03-18 16:46] bcoca commented on #53949
again, not enough context, the task alone works for me, but i'm inserting it into a play:
[code]

The message you get is normally related to the module not existing or not found, it is present in 2.7.8 so I suspect there is an issue with your use or configuration/setup.

[2019-03-18 16:47] rouba002 opened #53975 "Prompt evaluation for IOS ./plugins/action/ios.py fails if hostname ends ')'"
##### SUMMARY

Connection to device fails if hostname ends with ')'
##### ISSUE TYPE
- Bug Report

This is somehow not really a real bug, but if you set hostname on IOS device set eg.
hostname router-1(LAB)

ios_command and others fail as it things, that it got a config prompt.

I know cisco complains, that "% Hostname contains one or more illegal characters." but accepts the command.

Specific li

[2019-03-18 17:07] tristanbes opened #53977 "Ansible URI module bug with user set to null"
##### SUMMARY
A webservice excepts authentication calls to be in the form
[code]

⚠️ Note the `:<your token>`, there are no user.

When trying to achieve that with Ansible, it keeps failing
[code]

I tried the following variations:
- `user: null`
- `user:`,
- `user: ''`
- `force_basic_auth: true`

and all the scenarios failed.

✅ The only working case was `user: foo_random_value`

##### ISSUE TYPE

[2019-03-18 17:17] sivel commented on #53373
!component =lib/ansible/module_utils/urls.py

[2019-03-18 17:17] sivel commented on #53977
Duplicate of https://github.com/ansible/ansible/issues/53373

[2019-03-18 17:17] #53977 closed, assigned to nobody

[2019-03-18 17:34] tristanbes commented on #53977
How can it be a duplicate @sivel ? The issue you linked is about empty password, and not empty usernames :)

[2019-03-18 17:35] tristanbes commented on #53373
Well my issue was about empty username, not empty password (https://github.com/ansible/ansible/issues/53977)

[2019-03-18 17:37] felixfontein commented on #53941
If we add this code snippet to `AnsibleDockerClient`, we should adjust it so that it calls `super.inspect_distribution()` for `self.docker_py_version >= LooseVersion('4.0.0')`. Just in case somewhen in the future, the internal stuff we're using here changes and this implementation would be broken. There's one problem with it, though: it looks very close to https://github.com/docker/docker-py/pull/

[2019-03-18 17:39] sivel commented on #53977
It is the same functionality, and the code should be able to handle both situations, we don't need 2 issues open describing that a single function should do a better job at handling empty values when encoding the username/password for basic auth.

[2019-03-18 18:15] jmighion commented on #53939
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/terminal/aireos.py#L48 Does a couple things that I'd like you to manually try on your host.

First, it tries to log into the device since a fair number of the aireos devices re-prompt for username and password. It first tries to send the username, then checks for a prompt for password and sends the password, then it's logged in and

[2019-03-18 18:23] jmighion commented on #53794
I believe this and https://github.com/ansible/ansible/issues/47764 are related to terminal prompt reading. Looks like it's getting connected to the host, but failing to determine that it's on the terminal prompt.

Can you provide some sample output from when you manually log into the device?

needs_info

[2019-03-18 18:26] 5t4rdu5t commented on #53650
@Akasurde:  Can you please explain why there's only the first example in [the doc](https://docs.ansible.com/ansible/latest/modules/vmware_deploy_ovf_module.html) from the python doc ? If I fork, I have to modify especially [this first example](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_deploy_ovf.py#L117) ?

[2019-03-18 18:35] maglub commented on #53971
@NasAmin I would suggest that you use some sort of workaround, like:

* First just run win_chocolatey to install chocolatey
* Then you downgrade it to 0.10.11
* Then you install the packages you need

[code]

[2019-03-18 18:39] TCGDrew commented on #53971
+1 on this issue, my current work around looks like the following:

`#   INSTALL CHOCO
    - name: install_chocolatey
      win_chocolatey:
        name: "chocolatey"
        state: downgrade
        version: 0.10.11`

[2019-03-18 18:57] gundalow commented on #49465
It is by design that if the password is found in any string it will be masked out by `***` https://docs.ansible.com/ansible/latest/network/user_guide/faq.html#why-is-my-output-sometimes-replaced-with

We can't trust the difference between an exact match or not, ie if my password is `p4ssw0rd` all the following should be masked
`p4ssw0rd`
`value:p4ssw0rd`
`gundalow:p4ssw0rd@ftp://example.com
`passw

[2019-03-18 19:00] vikjainbestbuy commented on #21562
fatal: [hostname]: FAILED! => {
    "changed": false,
    "module_stderr": "OpenSSH_7.4p1, OpenSSL 1.0.2k-fips  26 Jan 2017\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 58: Applying options for *\r\ndebug1: /etc/ssh/ssh_config line 72: Applying options for *\r\ndebug1: auto-mux: Trying existing master\r\ndebug2: fd 4 setting O_NONBLOCK\r\ndebug2: mu

[2019-03-18 19:06] jborean93 commented on #53970
See https://github.com/ansible/ansible/issues/53860#issuecomment-473431360

[2019-03-18 19:06] #53970 closed, assigned to nobody

[2019-03-18 19:06] jborean93 commented on #53971
See https://github.com/ansible/ansible/issues/53860#issuecomment-473431360

[2019-03-18 19:06] #53971 closed, assigned to nobody

[2019-03-18 19:32] maxamillion commented on #43025
@bbaassssiiee thank you for the info, do you have a simple/small playbook to reproduce the issue?

[2019-03-18 20:22] bcoca commented on #51878
use this instead https://docs.ansible.com/ansible/latest/plugins/lookup/vars.html

[2019-03-18 20:44] bcoca commented on #16049
not 'global' but for 'all hosts in play':

[code]

[2019-03-18 20:47] felixfontein commented on #53941
How about the following:
[code]

[2019-03-18 20:51] ashwinippatil opened #53995 "cloud:azure: error while using azure_rm_virtualmachine_facts for fetching VMs using tags"
##### SUMMARY
A problem accessing VM facts in azure using azure_rm_virtualmachine_facts module to search VM facts based on the tags applied to these machines in Azure. It expects resource group though it's not a mandatory parameter for the module.

According to the documentation [here](https://docs.ansible.com/ansible/latest/modules/azure_rm_virtualmachine_facts_module.html) `resource_group` is re

[2019-03-18 21:02] felixfontein commented on #53923
The problem (or source of misunderstanding) is that changing the default for `purge_networks` does **not** achieve what you (and me) want. If `purge_networks` by default is `true`, not specifying `networks:` means "remove *all* networks from the container". There's no difference then between not specifying `networks:` and explicitly specifying `networks: []`. We can't really make `purge_networks`

[2019-03-18 21:18] MartinSotirov commented on #52977
I think the main problem here is the word _host_. It might be technically correct that it's the _host_ that's running the module but to a typical Ansible user the _"host"_ refers to their machine while the target is well, the _"target"_.

[2019-03-18 21:56] kanthimudiyala opened #54000 "Ansible establishing SSH connection for root instead of some other user"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

[2019-03-18 21:56] #54000 closed, assigned to nobody

[2019-03-18 22:08] vikjainbestbuy commented on #38058
having the same issue on RHEL5 ...........python 2.4

Done the changes in the ansible.cfg file but having the same error.

[defaults]

remote_tmp = /tmp/ansible-$USER
# some basic default values...
hostfile = inventory

fatal: [vxpim]: FAILED! => {
"changed": false,
"module_stderr": "OpenSSH_7.4p1, OpenSSL 1.0.2k-fips 26 Jan 2017\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1:

[2019-03-18 22:10] vikjainbestbuy commented on #38702
Done the changes in the ansible.cfg file but having same error.

[defaults]

remote_tmp = /tmp/ansible-$USER
# some basic default values...
hostfile = inventory

    "changed": false,
    "module_stderr": "OpenSSH_7.4p1, OpenSSL 1.0.2k-fips  26 Jan 2017\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 58: Applying options for *\r\ndebug1: /etc/ssh/ssh_c

[2019-03-18 22:19] tima commented on #53950
@jpic: Reading over this issue, it is not clear to me is the use case for this other than being present in `meta/main.yml`. How else would you expect this custom meta data to be used?

[2019-03-18 22:34] vikjainbestbuy commented on #29492
Done the changes in the ansible.cfg file but having the same error.
 "msg": "MODULE FAILURE\nSee stdout/stderr for the exact error",

[defaults]

remote_tmp = /tmp/ansible-$USER
# some basic default values...
hostfile = inventory

fatal: [vxpim]: FAILED! => {
"changed": false,
"module_stderr": "OpenSSH_7.4p1, OpenSSL 1.0.2k-fips 26 Jan 2017\r\ndebug1: Reading configuration data /etc/ssh/ssh_config

[2019-03-18 22:39] vikjainbestbuy commented on #47018
Done the changes in the ansible.cfg file but having same error.

[defaults]

remote_tmp = /tmp/ansible-$USER
# some basic default values...
hostfile = inventory

fatal: [vxpim]: FAILED! => {
"changed": false,
"module_stderr": "OpenSSH_7.4p1, OpenSSL 1.0.2k-fips 26 Jan 2017\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 58: Applying options for *\r\nde

[2019-03-18 22:39] vikjainbestbuy commented on #9413
Done the changes in the ansible.cfg file but having same error.

[defaults]

remote_tmp = /tmp/ansible-$USER
# some basic default values...
hostfile = inventory

fatal: [vxpim]: FAILED! => {
"changed": false,
"module_stderr": "OpenSSH_7.4p1, OpenSSL 1.0.2k-fips 26 Jan 2017\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 58: Applying options for *\r\nde

[2019-03-18 23:00] trinitronx commented on #19711
Since this has caused myself and others so much frustration & sadness...

Here's the workaround hack that I've been using:

- `playbooks/example/templates/user-data.sh.j2`:

[code]

This user-data script is a template using `dns_name` as the Route53 zone name suffix to use.  The original intent for this script was to rename a host using the `ec2-<ip_here>` prefix, and some arbitrary Route53 zone s

[2019-03-18 23:10] #53676 closed, assigned to nobody

[2019-03-18 23:14] resmo commented on #53916
Already implemented, see https://docs.ansible.com/ansible/latest/modules/cs_zone_facts_module.html

close_me

[2019-03-18 23:42] kakurpiel commented on #53794
It looks like the prompt is not the only change in the new Aruba mobility controllers. The new default prompt after logging in is the following:
(hostname) [nodename] #

I was able to get this recognized by modifying the prompt discovery in plugins/terminal/aruba.py to
`br"[\r\n]?[\w]*\(.+\)\s*(?:\[\w+\])? ?#(?:\s*)$"`
Which got me logged in.

After that, it looks like Aruba deprecated the command

[2019-03-18 23:57] AdheipSingh commented on #41776
@triat the main point with group_vars is that we can basically use these variables globally anywhere in the playbook/role .

[2019-03-19 00:03] 3kami3 commented on #53512
It is closed because it has not been reproduced.
I did the following work.
* vCenter and ESXi Update 6.7b(Build:8833179) to 6.7d(Build:9433931)
* vCenter and ESXi host reboot.

[2019-03-19 00:03] #53512 closed, assigned to nobody

[2019-03-19 01:46] yangcaixing commented on #53939
@jmighion ,Hi Mighion, I know the command, it just like "terminal length 0" in router. and I login to WLC, can execute the command directly as below, pls help check, thanks.

(Cisco Controller) >config paging disable
(Cisco Controller) >

[2019-03-19 02:32] L1ghtman2k commented on #53618
Alright, I am so sorry, somehow it now works... I am not sure why it didnt work first time. Might have just been some sort of a delay, and I was impatient...
I will reopen if the behavior repeats itself.

Thanks!

[2019-03-19 02:32] #53618 closed, assigned to nobody

[2019-03-19 02:37] yangcaixing commented on #53939
@jmighion from the log, we can see Ansible already ssh'd to WLC(Cisco Controller) >), but maybe cannot execute the"config paging disable" command, if need modify the aireos.py scripts, thanks.
My ansible version is 2.7.5 ,WLC version is 8.6.101.0

Incorrect usage.  Use the '?' or <TAB> key to list commands.

(Cisco Controller) >

During handling of the above exception, another exception occurred:

[2019-03-19 02:44] Akasurde commented on #53916
needs_info

[2019-03-19 02:49] Fred-sun commented on #51062
@zikalino

[2019-03-19 03:19] Fred-sun commented on #50443
@yuwzho This is not a bug, just package library issue. can be close. Please help check! Thanks!

[2019-03-19 03:22] #52896 closed, assigned to Akasurde

[2019-03-19 03:23] Fred-sun commented on #49659
@zikalino Please paste the link in here when you're fixes this bug! Thanks!

[2019-03-19 04:24] manojtr opened #54011 "ap-southeast-2 likely not supported, or AWS is down. connection to region failed"
##### SUMMARY

The latest ansible dynamic inventory script `ec2.py` doesn't identify the `ap-southeast-2` region.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2.py, ec2.ini
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS/Linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-03-19 04:46] willthames commented on #54011
The fix for this is to not quote the region.

With your ec2.ini, I can reproduce:
[code]

After removing the quotes around `ap-southeast-2`:
[code]

[2019-03-19 04:46] #54011 closed, assigned to nobody

[2019-03-19 04:49] Akasurde commented on #49515
@gotenatsiu Thanks for reporting this issue. Could you please try https://github.com/ansible/ansible/compare/devel...Akasurde:i49515 and let me know if it works for you ? Thanks.

needs_info

[2019-03-19 04:50] manojtr commented on #54011
hmm... good find. The example shows with quotes.
[code]
I removed the quotes and it started working, but for some weird reasons it only lists the redis instances. I have so many other instances and I haven't configured any filter in the ini file. Anything wrong with my settings?

[2019-03-19 04:54] Akasurde commented on #53650
@5t4rdu5t It is because original author of module wrote one example. You can find another example in devel branch - https://docs.ansible.com/ansible/devel/modules/vmware_deploy_ovf_module.html.

Add third example with required change relate to properties. Let me know if you need any help - you can find me on #ansible-vmware (irc nick - akasurde) on irc.freenode.net.

[2019-03-19 05:14] manojtr commented on #54011
got it working. I was using `vpc_destination_variable = ip_address` instead of private address.

[2019-03-19 05:34] Fred-sun commented on #53995
@ashwinippatil26 Thanks for your reporting! From your error log, the resource_group name should not have been defined(Parameter 'resource_group_name' can not be None). Thanks!

[2019-03-19 05:37] #51923 closed, assigned to nobody

[2019-03-19 05:39] #53941 closed, assigned to nobody

[2019-03-19 05:46] jborean93 commented on #53729
Implemented by https://github.com/ansible/ansible/pull/52556

[2019-03-19 05:46] #53729 closed, assigned to nobody

[2019-03-19 06:17] hotschmoe opened #54014 "Multiprocessing Failure - Android"
##### SUMMARY
Ansible fails because python-for-android does not support 'multiprocessing' ( a few other services have the same issue with multiprocessing )

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- module_utils
- executor
- utils
and a few others

##### ANSIBLE VERSION
ansible>1.9.0
(multiprocessing was introduced in 1.9.0, ansible<1.9.0 runs correctly)

##### OS / ENVIRONMENT
OS:

[2019-03-19 06:40] jborean93 commented on #52316
@Yvan-Masson I've made an attempt to try and document this information at https://github.com/ansible/ansible/pull/54016. It would be great if you could give this a review and let me know your thoughts.

[2019-03-19 07:02] 0xmilkmix commented on #53916
If I'm correct, the module your mentioning requires a zone to be specified and if none are given, it gives info of first one from the return of `listZones` api.
In my case, I would like to get the list of all zones

[2019-03-19 07:04] tharanga2006 opened #54017 "ansible fail to work with ssh"
OS :  Ubuntu 16.04.5 LTS (GNU/Linux 4.4.0-104-generic x86_64)
ansible :  ansible 2.7.8

Problem
 I need to configure ansible to run another node without entering the password ( through ssh)

I have followed below method to setup the ssh with no password
1. I'm login to the control node with a user having root privileges
2. ssh-keygen
3. ssh-copy-id -i ~/.ssh/id_rsa.pub remote-host
4. ssh remote-ho

[2019-03-19 07:50] muffl0n commented on #53854
Bisect points to commit 6438ab2c463b12b78e302f78b3058cf1d0bb7051, PR #50402
Works in devel, though.

Documentation does not state that the param is needed: https://docs.ansible.com/ansible/latest/modules/ufw_module.html

[2019-03-19 07:55] imuab commented on #53794
@kakurpiel I changed the files as you mentioned and I am still getting the errors mentioned on top.

[2019-03-19 08:13] tharanga2006 commented on #54017
ANSIBLE VERSION
ansible> 2.7.8

OS / ENVIRONMENT
OS:  Ubuntu 16.04.5 LTS (GNU/Linux 4.4.0-104-generic x86_64)

[2019-03-19 08:15] mkrizek commented on #54017
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-19 08:15] #54017 closed, assigned to nobody

[2019-03-19 08:35] hellsingblack commented on #53949
Ok @bcoca  I tried to simplified the code and get the same error
I also check in `https://github.com/ansible/ansible/blob/v2.7.8/lib/ansible/modules/cloud/amazon/aws_s3.py` there are reference of `aws_s3` in document not in the code

[code]

[2019-03-19 08:36] Fred-sun commented on #47696
@zikalino Do you have any update about this issue?

[2019-03-19 08:38] loop-evgeny commented on #51878
Thanks, `{{ lookup('vars', 'var2') }}` works as expected! I wasn't aware of that lookup.

[2019-03-19 09:18] hellsingblack commented on #53949
@bcoca another version of code
[code]

this code work with ansible 2.5.5 not with 2.7.8

[2019-03-19 09:27] Sigri44 commented on #27098
@felixfontein : The best use is to generate token from your repo, and add token on docker git clone command ;)

[2019-03-19 09:32] sampy12345 opened #54021 "Ansible zabbix privileges and insertion"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

In Zabbix in one of the part I will be connecting to mariadb database and then will run few queries and then unzip a file from one of the folder and then will insert it into zabbix DB

------------------------------------------
MariaDB [(none)]> create database zabbix;

MariaDB [(none)]> grant all pr

[2019-03-19 09:47] pmossakx commented on #53857
Thanks. I tested again and now I see this:
`buildargs.setdefault(k, v)\r\nAttributeError: 'NoneType' object has no attribute 'setdefault'`
Details attached to [#53905](https://github.com/ansible/ansible/pull/53905#issuecomment-474270523)

[2019-03-19 09:52] sampy12345 commented on #54021
what is the component name to be provided

[2019-03-19 10:01] sampy12345 opened #54023 "Ansible zabbix privileges and insertion"
##### SUMMARY

I am using Ansible for Zabbix installation and stuck in one of the part

In Zabbix I will be connecting to mariadb database and then will run few queries and then unzip a file from one of the folder and then will insert it into zabbix DB

##### ISSUE TYPE
- Bug Report
I am using Ansible for Zabbix installation and stuck in one of the part

In Zabbix I will be connecting to mariadb d

[2019-03-19 10:35] nikosjenkins commented on #18928
I run into the same problem today. A convenient workaround should be to create a new security group on the creation of the ec2 instance and when you have all the IPs that you need, alter the same security group.
Also @aviya-s you can change that by setting purge_rules and purge_rules_egress parameters of the ec2_group module to false.

[2019-03-19 10:38] heldner opened #54024 "Add send_string to wait_for module"
##### SUMMARY
I want to add the ability to send any string to the socket.

##### ISSUE TYPE
- Feature request

##### COMPONENT NAME
module **wait_for**

##### ADDITIONAL INFORMATION
Useful for checking ssh server. You can send a string with the ssh version and have clear auth.log.

Example:
[code]

[2019-03-19 11:16] hellsingblack commented on #53949
Solve by force the right version of ansible with pyenv

[2019-03-19 11:16] #53949 closed, assigned to nobody

[2019-03-19 12:13] smiller171 commented on #18928
@aviya-s you would normally want to define the full state all at once. If you don't know the rest of the rules, you can look them up an append the new rule to it.

[2019-03-19 12:14] piscesvivian commented on #36171
ansible is not design for people, but for fun, thanks
we design vars in dict but won't support this feature.
so we need write a hundreds like:

spring_app1_jvm_opts: -Xms1G -Xmx2G
spring_app1_port: 1000
spring_app1_path: /usr/lib/app1

spring_app2_jvm_opts: -Xms1G -Xmx2G
spring_app2_port: 1000
spring_app2_path: /usr/lib/app2

spring_app3_jvm_opts: -Xms1G -Xmx2G
spring_app3_port: 1000
spring_app3_p

[2019-03-19 12:14] piscesvivian commented on #50280
ansible is not design for people, but for fun, thanks
we design vars in dict but won't support this feature.
so we need write a hundreds like:

spring_app1_jvm_opts: -Xms1G -Xmx2G
spring_app1_port: 1000
spring_app1_path: /usr/lib/app1

spring_app2_jvm_opts: -Xms1G -Xmx2G
spring_app2_port: 1000
spring_app2_path: /usr/lib/app2

spring_app3_jvm_opts: -Xms1G -Xmx2G
spring_app3_port: 1000
spring_app3_p

[2019-03-19 12:14] piscesvivian commented on #42927
ansible is not design for people, but for fun, thanks
we design vars in dict but won't support this feature.
so we need write a hundreds like:

spring_app1_jvm_opts: -Xms1G -Xmx2G
spring_app1_port: 1000
spring_app1_path: /usr/lib/app1

spring_app2_jvm_opts: -Xms1G -Xmx2G
spring_app2_port: 1000
spring_app2_path: /usr/lib/app2

spring_app3_jvm_opts: -Xms1G -Xmx2G
spring_app3_port: 1000
spring_app3_p

[2019-03-19 12:27] SinghDivneet commented on #47724
@Barathwaja  what was the error there ?

[2019-03-19 12:34] kakurpiel commented on #53794
@imuab can you share what your prompt looks like? What I tried adding to the regex to capture the node name might not work in every case, and changing the '\w+' to '.+' might work better to capture non-letter characters.

[2019-03-19 12:34] bbaassssiiee commented on #43025
## Third action will fail

[code]

## I realized I need another action

[code]

[2019-03-19 12:35] bbaassssiiee commented on #43025
remove rich-rule is unimplemented in Ansible

[2019-03-19 12:39] felixfontein commented on #53857
Let's continue the discussion there.

[2019-03-19 12:39] Akasurde commented on #50280
@piscesvivian Might want to take a look at - https://github.com/Akasurde/ansible-reproducers/blob/master/useful_pbs/debug_anchor.yml

[2019-03-19 12:44] mitzkia commented on #52337
Same here: for me the 16th client secret started to work :)

[2019-03-19 13:00] kakurpiel commented on #53794
Found some additional info on the prompt for mobility controllers. If there is a [crash](https://community.arubanetworks.com/t5/Controller-Based-WLANs/Mobility-Master-CLI-prompt-shows-a-sign-constantly-What-does-it/ta-p/292185), * will precede the node name. If there are [unsaved changes](https://community.arubanetworks.com/t5/Controller-Based-WLANs/MM-CLI-prompt-shows-an-asterisk-sign-constantly-

[2019-03-19 13:07] petrosad commented on #29858
To anyone still struggling with this, here's the conclusive work-around until the module is adjusted:

The route53_facts module returns the following for an alias record (and I'm assuming this is what AWS returns):
[code]
As can be seen:
- The value of the alias record is all lowercase
- And it ends in a dot
- The hosted zone ID of the alias target is all upper case.

Therefore to prevent the rout

[2019-03-19 13:16] mkrizek commented on #29012
Fixed in #51768 and will be included in the `2.8` release.

[2019-03-19 13:16] #29012 closed, assigned to nobody

[2019-03-19 13:16] imuab commented on #53794
@kakurpiel  The prompt for the Aruba Mobility Controller Aruba650 ArubaOS 6.4.4.16 without enable looks like this: (hostname) >
and with enable:
(hostname) #

Thee prompt for the Aruba Mobility Controller Aruba7005 ArubaOS 8.3.0.5 looks like this:
(hostname) *#

I will try your work around.

[2019-03-19 13:38] imuab commented on #53794
So, first I tried my playbook with the work around for the * , finally it ran successfully.
Then I removed the crash.tar on the Aruba Mobility Controller Aruba7005 ArubaOS 8.3.0.5 and ran the playbook again. Everything worked fine!

Many thanks @kakurpiel !

Now, I have to test the Aruba Mobility Controller Aruba650 ArubaOS 6.4.4.16.

[2019-03-19 13:45] bcoca commented on #50280
also:
[code]

[2019-03-19 14:00] Vladimir-csp commented on #22559
Using yaml tags to explicitly control merging/replacing data would eliminate SO MANY hurdles and monstrous workarounds! This feature is in "must have" category.

Please also add this for lists.
Maybe includeing set filters: `!union`, `!difference`, `!intersect`, `!append`, `!insert` (at beginning), `!replace`
This would remove the need for a heap of conditions, inline filters, clumsy generators, e

[2019-03-19 14:11] sivel commented on #54023
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-19 14:11] #54023 closed, assigned to nobody

[2019-03-19 14:11] sivel commented on #54021
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-19 14:11] #54021 closed, assigned to nobody

[2019-03-19 14:22] bcoca commented on #52337
this won't help with env vars, but `!unsafe` tag can be used with YAML variables to bypass interpreting special characters:

[code]

[2019-03-19 14:26] AlanCoding commented on #53532
This was resolved, the `platform_undefined` group and other issues have been working for some time now. I didn't use the above syntax, but I found something that works.

feel free to close this issue

[2019-03-19 14:29] Vladimir-csp opened #54038 "Make ansible_group_priority affect group branches"
##### SUMMARY

`ansible_group_priority` in current form is of limited use. It is impossible to control relative priority of parallel group branches.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

inventory
##### ADDITIONAL INFORMATION

[code]
For host that is a member of both subgroup1 and subgroup2, the current behavior is `foo: baz`.

Suppose `subgroup*` groups are dynamic via `group_by`

[2019-03-19 14:30] #53532 closed, assigned to nobody

[2019-03-19 14:35] bcoca commented on #54038
I think you have a basic misunderstanding on how groups work, there are no branches. Parent/child relationships are not deterministic of a group properties, they only influence variables and hosts in those groups.

All groups are principal entities, that can have a relationship with other groups to make it simpler for the included hosts to inherit from those groups, but this does not really affect

[2019-03-19 14:40] agowa338 commented on #53919
no, it is not, it does not mention how to deploy one role twice within one playbook.

# Example

You have the role: https://chaos.expert/agowa338-ansible/ansible-gitlab-docker that deploys gitlab within a docker container. But you for some reason don't want to have one gitlab server, but two/three/... independent gitlab servers (or wordpress like mentioned earlier).

Currently there is no document

[2019-03-19 14:42] alexanderccc opened #54042 "set_fact and loop issue still exists"
##### SUMMARY
When trying to use set_fact with looping it only sets the last item as a fact.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
set_fact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Set a variable for example:

[code]
Then try to change it using set_fact
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS

[2019-03-19 14:42] mitzkia commented on #52337
Just tried, for us it helps if you use urlencode for special characters, so  `+` -> `%2B`, and `=` -> `%3D`

[2019-03-19 14:45] zhangguanzhang opened #54043 "How could I get the result"
vars
[code]
the tasks
[code]
the playbook's output
[code]
I don't want the action of the `msg:""`

[2019-03-19 14:46] mkrizek commented on #53919
The information is there: https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#role-duplication-and-execution. Any suggestions on how to make it more clear? Thanks!

[2019-03-19 14:49] AlanCoding commented on #52672
Closed with https://github.com/ansible/ansible/pull/52693

[2019-03-19 14:49] #52672 closed, assigned to nobody

[2019-03-19 14:49] zhangguanzhang commented on #54043
`ansible --version`

[code]

[2019-03-19 14:51] mkrizek commented on #54043
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-19 14:51] #54043 closed, assigned to nobody

[2019-03-19 14:51] sivel commented on #54042
This is expected.  You are effectively telling ansible to overwrite the fact.  To get your desired outcome, you have to explicitly tell ansible to append the data.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-03-19 14:51] #54042 closed, assigned to nobody

[2019-03-19 14:53] mkrizek commented on #53919
needs_info

[2019-03-19 14:55] agowa338 commented on #53919
@mkrizek That is what I mean. It needs to be extended with a better example, like deploying two wordpress instances, may also link to an example project. Also using the shortened syntax like:

[code]

could be a problem for beginners. I would recommend rewriting the example to match a group_vars syntax of e.g.:

[code]
and a example playbook where the variable foo is unroled to invoke the module n

[2019-03-19 14:55] ashwinippatil26 commented on #53995
@Fred-sun Thanks for your reply ! According to the documentation resource_group_name isn't a required field unless we search on vm_name. So, if I want to search on tags only I need not provide the resource_group_name and that's the whole idea of searching all VMs without having to give resource_group_name.

Parameter resource_group_name cannot be 'None' is thrown since azure_rm_virtualmachine_fact

[2019-03-19 14:57] harvey637 opened #54045 "Request: create vmware_guest with defined powerstate powerdon|powerdoff"
##### SUMMARY
create a new system on VMware with "vmware_guest" and keep it in the state "poweredoff"

##### ISSUE TYPE
Feature request: make deployment stop after creation of vmware_guest in poweredoff mode

##### COMPONENT NAME
module: vmware_guest

##### ADDITIONAL INFORMATION
Relating to the issue #50923 it is still not possible to create vmware systems with several disks on different datastor

[2019-03-19 14:57] cheedallarajesh commented on #53860
Is there an equivalent in **ansible 2.4 version**? We are still using 2.4 and is now failing with below error

/usr/local/lib/python2.7/site-packages/ansible/modules/windows/win_chocolatey.ps1
<xx.xx.xxx.xxx> ESTABLISH WINRM CONNECTION FOR USER: xxxx on PORT 5986 TO xx.xx.xxx.xxx
EXEC (via pipeline wrapper)
fatal: [xx.xx.xxx.xxx]: FAILED! => {
    "changed": false,
    "choco_error_cmd": "choco.ex

[2019-03-19 15:07] Akasurde commented on #47769
Closing this issue as PR #46225 is merged. If issue persists, please feel free to re-open.

[2019-03-19 15:07] #47769 closed, assigned to nobody

[2019-03-19 15:31] IPvSean opened #54046 "tower_job_template does not respect role path"
##### SUMMARY
I have a file named network.yml in the files/ directory in a role and it does not pick it up,  so I have to do this->```      extra_vars_path: "{{playbook_dir}}/roles/setup_network/files/network.yml"```

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tower_job_template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS Mojave1 0.14.3 (18D109

[2019-03-19 15:31] sideburnie commented on #7235
My use case was similar to the OP's (cloning a git), and I just decided to clone as the forwarded user and then do a recursive chown to the become'd user. Yes it's two tasks, but I don't add any dependencies at the playbook level.

[2019-03-19 15:47] agowa338 commented on #53923
We discussed this further within IRC, and arrived at a deadlock.

I think it would be the best way to differentiate between `networks: null` and `networks: []`. For the next 4 versions `networks: []` could just be deprecated. Users could get rid of the warning by using the jinja2 omit filter, by removing the networks attribute or by adding `name: bridge` as another entry of that list.
And for thos

[2019-03-19 15:47] rodrigodealer opened #54047 "Configuration to use Yubikey ssh"
##### SUMMARY

I have a yubikey configured and it contains my ssh key inside, and it works perfectly for ssh-ing in servers and signing documents.

But when I tried to run ansible with it, I get this error:

[code]

Apparently it's not finding the private key in the Yubikey.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-playbook
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[c

[2019-03-19 15:51] Akasurde commented on #54045
@harvey637 Thanks for reporting this feature. Did you try the #50923 ? Let me know.

needs_info

[2019-03-19 16:52] twbowman opened #54050 "eos_l2_interface fails with 7280 ports"
##### SUMMARY
Arista eos_l2_interface fails during map_config_to_obj when working an Arista 7280. There are interfaces in the config that don't actually exist anymore. When a 40G optic is inserted by default 4-10G interfaces are created. When the port is put into 40G mode the other 3 interfaces are still in the config, but no longer exist. Currently there is no easy way to remove the other 3 inter

[2019-03-19 17:10] BarbzYHOOL commented on #50280
I don't understand your thing bcoca or the other link

[2019-03-19 17:45] mftovey opened #54052 "replace module crashes when encountering Danish characters"
##### SUMMARY
I am working on a playbook to replace the comment field in a server's password file.  I was trying to use the replace module to do this, but it began crashing on one server.  By elimination I was able to isolate the problem to one user's account entry in the password file.  The user is Danish and his name contains the minuscule character (small o with a slash through it, hexadecimal

[2019-03-19 17:52] sivel commented on #54052
See https://github.com/ansible/proposals/issues/121

[2019-03-19 17:52] Vladimir-csp commented on #54038
I know that it all gets flattened relative to host, and group structure is just about variable precedence. What this issue is about is to reduce ambiguity and give more control over that precedence.

Am I correct that in the example above, the precedence of variables would be the following?
without priority modifiers:
[code]
current behavior with reduced priority for group2:
[code]
requested behav

[2019-03-19 17:58] #53857 closed, assigned to nobody

[2019-03-19 18:01] decentral1se commented on #45911
I was hoping for this idempotence issue to be solved upstream in Pipenv but the maintainers do not find this a priority (see https://github.com/pypa/pipenv/issues/1139 and https://github.com/pypa/pipenv/issues/1080). I'm going to leave this off as we've moved away from relying on Pipenv.

[2019-03-19 18:01] #45911 closed, assigned to nobody

[2019-03-19 18:02] Yvan-Masson commented on #52316
@jborean93 Done! Thanks a lot, I am sure it will be helpful to many.

[2019-03-19 18:12] mftovey commented on #54052
That looks like that will take care of the issue.  The company I work for is based in Copenhagen, so latin-1 encoding will likely be a constant issue for us.
    -Mark

--------------------------------------------------------------------------------------------------------------------------
[Description: cid:image001.gif@01D09EC0.4CEB1A90]Mark Tovey - UNIX Engineer
DSV<http://www.dsv.com/> | 110 N

[2019-03-19 18:18] perzizzle opened #54054 "Add TTL as parameter to consul_session"
##### SUMMARY
Implement ttl parameter in consul_session module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

consul_session

##### ADDITIONAL INFORMATION

I am using consul_kv and consul_session to create consul locks that I use for orchestrating automation. Currently, TTL isn't a supported parameter. I would like to have a lock expire after reaching a TTL. This is supported by the under

[2019-03-19 18:27] EvanK commented on #54052
FWIW, the replace module _does_ currently support an `encoding` parameter. You could try that in the mean time:

[code]

[2019-03-19 18:34] bcoca commented on #54038
Except now we need to handle 'group merging' and create a whole infrastructure at the group level that doesn't exist now, since groups can exist as children of multiple parents... now we would need a merge strategy for `ansible_group_priority` ... and then we'll need a priority to merge priority.

 I'm not sure  is worth the extra complexity.

[2019-03-19 18:44] abenokraitis commented on #53681
Sounds like @Qalthos has a draft for `httpapi` already which is awesome. Would be great to have the same for `network_cli` as well.

[2019-03-19 18:45] mftovey commented on #54052
Yeah, that worked (when all else fails, read the documentation).  Someone else also pointed out that since I am working on the system passwd file I should be using the user module instead.  I was looking at it as a file of strings that needed to be modified.  It didn’t occur to me to consider the purpose of the file and what was available for it.
    Thanks!
    -Mark

----------------------------

[2019-03-19 19:04] jborean93 commented on #53860
@cheedallarajesh stable-2.4 is unsupported, and stable-2.5 is only accepting security fixes so they won't be fixed and another release won't be made. Your best bet it to following something like https://github.com/ansible/ansible/issues/53971#issuecomment-474047195 or create your own patched version which would look similar to the changes at https://github.com/ansible/ansible/pull/53843.

[2019-03-19 19:24] vikrantjain59 opened #54056 ""module_stderr": "OpenSSH_7.4p1, OpenSSL 1.0.2k-fips 26 Jan 2017\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1:"
##### SUMMARY
Not able to run the playbook during the patching it gives below error for few servers.

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Redhat 5

##### STEPS TO REPRODUCE

YAML

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2019-03-19 19:48] cheedallarajesh commented on #53860
Thank you for the link: #53971 (comment)](https://github.com/ansible/ansible/issues/53971#issuecomment-474047195)

[2019-03-19 19:53] kdelee opened #54059 "aws_ec2 inventory plugin does not provide option to indicate iam_role"
##### SUMMARY

Old contrib script used to allow user to provide IAM role as config option:
https://github.com/ansible/ansible/blob/847a86beef5c18889244c064556534cc5b60a44a/contrib/inventory/ec2.ini#L193-L196

FWIW This may have some cross-over functionality with `boto_profile`
https://github.com/ansible/ansible/blob/847a86beef5c18889244c064556534cc5b60a44a/contrib/inventory/ec2.ini#L198-L200

The

[2019-03-19 20:17] romaindup commented on #53971
Another workaround that works for us:
[code]

[2019-03-19 20:30] kbreit opened #54062 "meraki_vlan - Add support for DHCP configuration"
##### SUMMARY
Meraki added support for DHCP configuration on VLANS. This should be supported, most likely in`meraki_vlan`.

https://dashboard.meraki.com/api_docs#update-a-vlan

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki_vlan

[2019-03-19 20:38] dlewis7444 commented on #18305
In my case, I added in my ansible.cfg this statement:
`ssh_args		= " -o StrictHostKeyChecking=no"`
Without thinking that this would override the default ssh_args options.  So, checking /etc/ansible/ansible.cfg, I found the defaults and added them too.  Like magic, it stopped hanging.  :)

Final setting in my ansible.cfg:
`ssh_args		= "-C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKey

[2019-03-19 20:52] dlewis7444 commented on #18305
I spoke too soon - that change got me a little further along but it's still hanging

[2019-03-19 21:08] kdelee opened #54065 "Allow customization of hostname source for azure_rm inventory plugin to enable awx adoption of plugin"
##### SUMMARY

Currently, the appending of a hashed set of characters to the end of host names brought in by the azure_rm inventory plugin is considered a breaking change by awx developers because it would break the use of host limits on any playbooks (they would no longer match).

This happens here:
https://github.com/ansible/ansible/blob/b54fddb775a1c0f15626d55afe37a010c6306a57/lib/ansible/plugi

[2019-03-19 21:18] IPvSean commented on #47915
i am hitting this as well trying to delete job template with the ```tower_job_template``` module

e.g.

[code]

i will get a

[code]

[2019-03-19 21:23] s-hertel commented on #54059
@kdelee The two ways this has been brought forward into the plugin are
1) control nodes that have an instance profile will use those credentials implicitly if other credentials are not provided (if this is not working, it is a bug and I will work on a fix immediately if there's a reproducer)
2) control notes that do not have an instance profile will use boto3-style credentials (in this case an ~/.

[2019-03-19 21:48] kurtbomya opened #54070 "Support cross-domain on win_domain_computer module"
##### SUMMARY
Presently, we're unable to leverage `win_domain_computer` to connect to a different forest than the machine we're leveraging. Today, if we were to use `delegate_to`, we would need a new server for every domain we maintain. So 10 domains would require 10 jump servers for this module.

I'd like to see cross-domain computer object creation/deletion supported.

##### ISSUE TYPE
- Add a s

[2019-03-19 22:49] ghost opened #54071 "outdated bcrypt algorithm in use"
##### SUMMARY
Older bcrypt implementation is in use

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
encrypt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Discovered via [OpenBSD patch](https://github.com/openbsd/ports/blob/master/sysutils/ansible/patches/patch-lib_ansible_utils_encrypt_py)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Update

[2019-03-19 22:55] mo18 commented on #19815
This is an issue with 2.7.2 as well. As @juju4 said in the original post, if there's a better way to handle this, I'd like to know.

[2019-03-19 22:59] sivel commented on #54071
This has come up before.  The primary problem with 2b is that no glibc
`crypt.crypt()` implements it (http://man7.org/linux/man-pages/man3/crypt.3.html). That means that the fallback when
`passlib` isn't installed to `crypt.crypt()` won't work if 2b is
hardcoded. Here's the prior research (Before a revision of the code):
https://github.com/ansible/ansible/pull/25347#discussion_r120129536

An alter

[2019-03-19 23:06] AlanCoding commented on #54065
Proposed fix at https://github.com/ansible/ansible/pull/54060

This needs an additional patch as well.

[2019-03-19 23:25] zikalino commented on #49180
@xkrt adding the options in this pr: https://github.com/ansible/ansible/pull/54072
I realize container instance is not perfect. one of my first modules......

[2019-03-20 00:24] jpic commented on #53950
I don't know maybe add custom hooks to allow deeper dependency injection
like pip entrypoints allow freedom to break new grounds, after all ansible
is a beautiful engine that makes it easy to glue things together, its also
the beauty of encapsulation that allows for wider reuse...

Maybe just like with setup.py, i would have like to put requires in
meta.yml... Currently implementing automated recu

[2019-03-20 00:59] kbreit opened #54073 "meraki_vlan - Returned values should show DHCP information"
##### SUMMARY
Meraki added support for DHCP configuration in VLANs. `meraki_vlan` response documentation should show the returned values.

`"dhcpHandling":"Run a DHCP server","dhcpLeaseTime":"1 day","dhcpBootOptionsEnabled":false,"dhcpBootNextServer":null,"dhcpBootFilename":null,"dhcpOptions":[]`

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
meraki_network

##### ANSIBLE VERSION
[

[2019-03-20 01:12] kbreit commented on #54047
I found this old bug. Does this help?

Also, what version of Ansible are you using? I didn't see that information in the bug report.

[2019-03-20 01:34] rafaeldriutti commented on #29087
This should be fixed by #37052

[2019-03-20 02:16] Fred-sun commented on #53995
@ashwinippatil26 Thanks for your reply, Yes, You are right!

[2019-03-20 02:17] Fred-sun commented on #53995
@zikalino Could you please take a look? Azure_rm_virtualmachine_facts module document definition does not match its functionality? Thanks!

[2019-03-20 02:18] zikalino commented on #53995
@ashwinippatil26 I will fix it soon

[2019-03-20 02:23] venerari commented on #38826
The work around here is to copy the log to another file. Then do the testing, you have to loop while you can't find your string.

[2019-03-20 02:27] AlanCoding commented on #54065
Link second patch needed https://github.com/ansible/ansible/pull/54074

[2019-03-20 02:54] Fred-sun commented on #31867
@nofunatall Are you still here? Could you give a try according by above comment? Thanks!

[2019-03-20 03:19] Fred-sun commented on #40857
@zikalino

[2019-03-20 03:22] issei-m opened #54076 "s3_sync: The skip logic of `date_size` file_change_strategy is wrong"
##### SUMMARY

While the documentation of s3_sync claims setting file_change_strategy as date_size will upload if file sizes don't match or if local file modified date is newer than s3's version but the implementation doesn't look like that.

- I have already opened a PullReq to address this issue: https://github.com/ansible/ansible/pull/53935
- I also have a reproducer for this issue: https://git

[2019-03-20 03:26] piscesvivian commented on #50280
thanks, i will try this, it's a solution, but i haven't found this pbs in document

[2019-03-20 04:26] Akasurde commented on #50280
@piscesvivian @BarbzYHOOL I added examples in docs section for this - https://github.com/ansible/ansible/pull/54079

[2019-03-20 05:15] Akasurde commented on #53562
resolved_by_pr #54081

[2019-03-20 05:19] NilashishC commented on #53525
@bhaizlett123 Please try increasing the `command_timeout` value as mentioned [here](https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#timeouts.).

[2019-03-20 05:56] felixfontein opened #54083 "openssl_privatekey (and potentially openssl_csr and later openssl_certificate): problem with private key encryption tests with cryptography backend"
##### SUMMARY
An issue so I don't forget about this :)

In the test runs for #53924, there was a [spurious failure](https://app.shippable.com/github/ansible/ansible/runs/114737/52/tests) in the openssl_privatekey tests:

[code]

For some reason, in https://github.com/pyca/cryptography/blob/master/src/cryptography/hazmat/backends/openssl/backend.py#L1289-L1332, instead of returning `Bad decrypt. In

[2019-03-20 06:01] Fred-sun commented on #53995
@ashwinippatil26 You can try PR #54075. Thanks!

[2019-03-20 06:13] yuwzho opened #54084 "Azure facts module should not fail when nothing get"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_subnet
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-03-20 06:46] felixfontein commented on #54083
One more: https://app.shippable.com/github/ansible/ansible/runs/114897/45/tests (`"Could not unserialize key data."`)

[2019-03-20 06:54] felixfontein commented on #54083
resolved_by_pr #54088

[2019-03-20 07:07] #54084 closed, assigned to nobody

[2019-03-20 07:26] MRwangyd opened #54091 "mysql_replication，The fetch information is empty"
user ansible mysql_replication   mode: getmaster ，The fetch information is empty

playbook yml file：
- name: get M1 mster info
  mysql_replication: login_unix_socket={{ dir }}/data/mysql5.7/mysqld.socket    login_user=root    login_password=123456
  mode: getmaster
  register: master_status
- debug: var=master_status

The execution result：

ok: [192.168.145.103] => {
    "Is_Slave": false,
    "ch

[2019-03-20 07:48] rodrigodealer commented on #54047
Hi @kbreit, the version is `2.4.1.0`. I'm updating the ticket

[2019-03-20 08:12] jpic commented on #53950
Actually my use case is that i have added a softdependencies list of requirements that accepts a shorter notation to git repositories, ie:

[code]

and made a role player that would automatically download dependencies recursively

[2019-03-20 08:15] rodrigodealer commented on #54047
I tried with `2.7.9` and got the same error.

[2019-03-20 08:16] yangcaixing commented on #53939
@jmighion Hi jmighion, I found the reason why my aireos connect WLC was failed, my anisble aireos.py file seems lack of three lines compared with the  [https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/terminal/aireos.py#L48],
my aireos.py as blow, as it works after replaced by the above aireos.py.
def on_open_shell(self):
        try:
            commands = ('{"command": "' + self

[2019-03-20 08:16] #53939 closed, assigned to nobody

[2019-03-20 08:29] unkaputtbar112 opened #54092 "lvol - extending volumes with '+' only work for percentages"
##### SUMMARY

Resizing (extending) of an LV while using '+' only works with percentages.
I mean, it's desired that way, according to that code and I could work around it, by using "lvs --noheadings --units M {{ lv }}..." and then adding that size to the size that i want the LV to grow, but... I wonder, why it's "blocked" in the module, to use it that way? (-L on lvextend accepts + as well, so I d

[2019-03-20 08:45] resmo commented on #53916
could you explain your use case? alternatively you could use a compination of ini module https://docs.ansible.com/ansible/latest/plugins/inventory/ini.html and uri https://docs.ansible.com/ansible/latest/modules/uri_module.html

[2019-03-20 08:50] PrityKumari opened #54093 ""MODULE FAILURE" with azure_rm_virtualmachine_extension ansible 2.7"
##### SUMMARY
I am trying to add AntiMalware extention to a Windows VM on Azure and using the following ansible module
[code]

Below is the error I am getting:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine_extension

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS 7.5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED R

[2019-03-20 09:09] Akasurde commented on #22767
resolved_by_pr #54094

[2019-03-20 09:10] resmo opened #54095 "import_tasks: unexpected exception if no file is specified"
##### SUMMARY
Similar to #54044, a traceback is shown for import_tasks with no file specified
[code]

Not sure where is the best place to handle this, did it in playbook helpers, but probably a bit late in the process

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
import_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REP

[2019-03-20 10:06] oolongbrothers commented on #51481
@gundalow Thank you for the tip, that helps me streamline my process.
I'm having a look at all the bugs again now and will comment there.

[2019-03-20 10:16] unkaputtbar112 commented on #54092
i fixed it temporarily with:
[code]
and commenting this part out:
[code]

[2019-03-20 10:37] harvey637 commented on #54045
@Akasurde
yes, see my answer in #50923.
In a way both belong togather. As I was NOT able to autoprovision a vmware guest with vmware_guest.py with two disks on different datastore (large harddisk and separate ssd was the
reason for this) I needed to stop the installation AFTER provisioning(creating) new vm_guest and
BEFORE kickstarting the OS-installation.
Identified the problem, as only "self.par

[2019-03-20 10:48] AlanCoding commented on #54065
Link alternative for second patch https://github.com/ansible/ansible/pull/54099

This means that, in order to resolve this, #54060 is needed in conjunction with either #54099 OR #54074

[2019-03-20 11:01] bhardwajhitesh9 opened #54100 "Unable to negotiate with 10.192.1.5 port 22: no matching cipher found. Their offer: aes128-cbc,3des-cbc,aes192-cbc,aes256-cbc"
I am trying to connect switches in my network using ansible play book, but not able to connect it to my network switches

When I am running a command:
hiteshkumar@INPNB05272:/mnt/c/Users/hitesh.kumar$ sudo ansible-playbook getarp.yml -u admin.kumar -k
SSH password:

PLAY [Get ARP information] **********************************************************************************************************

[2019-03-20 11:02] bhardwajhitesh9 commented on #54100
We are using cisco Switches at client end. Cisco 2960 version.

[2019-03-20 11:09] mkrizek commented on #32965
Fixed in the recent versions (`2.5+`) of Ansible.

[2019-03-20 11:09] #32965 closed, assigned to nobody

[2019-03-20 11:16] kbreit commented on #54047
Do you have an option to use something newer? 2.4 isn’t supported anymore.

[2019-03-20 11:26] bhardwajhitesh9 commented on #54100
issue type
Unable to connect ssh to cisco switches from ansible playbook
ansible version
ansible 2.5.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.15rc1 (

[2019-03-20 11:46] mkrizek commented on #15529
@ssbarnea Tried the below with the `devel` branch:
[code]
[code]
[code]

Is that what you had in mind?

needs_info

[2019-03-20 11:52] oolongbrothers commented on #51481
Actually, I am not able any more to reproduce this bug in devel.
I ran the freshly-merged integration tests against devel and I got no failures.
I even started an LXD-container to be able to test on the combination Fedora 29 and Python 2.

Here's my output from that on a completely fresh Fedora 29 system:
[code]

So the Fedora 29 repos have updated to flatpak 1.2.3 now and be error does not show f

[2019-03-20 11:58] oolongbrothers commented on #51481
Actually, actually, if I run the above on the `stable-2.7`-branch on exactly the same setup, I can reproduce the error. I am not quite sure exactly how, but the behaviour was fixed in current `devel`.

So, what I think we should do is to remove the `affects_2.8` tag and add `affects_2.7` (could you maybe help us with that @gundalow). Then we would need to find out what it was that actually fixed t

[2019-03-20 12:06] oolongbrothers commented on #51481
Actually, actually, actually, it was this commit by @vespian that fixed it: https://github.com/ansible/ansible/commit/fcb6f136cde38dd562f89cf079abb2450b0d4622

So we would need a backport of that commit to 2.7.

[2019-03-20 12:25] oolongbrothers commented on #51481
I created backport pull request #54103 to get this bug fixed in 2.7.
@tiny6996 and @JayKayy: You are welcome to test that PR :slightly_smiling_face:

[2019-03-20 13:05] ganeshrn commented on #44864
@dselders Thanks for sharing the debug information.

After looking at the json structure in the `<rpc-reply>` I realized the key `device-name` is duplicated in the dictionary value of `device-stats` key.

This can also be verified by validating the JSON output here https://jsonlint.com/

With `connection=netconf` and `display=json` the junos_command module tries the load the json from response str

[2019-03-20 13:05] Rakaim commented on #54070
Ansible Version as requested:
[code]

[2019-03-20 13:05] ganeshrn commented on #44864
needs_info

[2019-03-20 13:15] ssbarnea commented on #36397
I am looking forward to see this fixed as I find very annoying not to be able to use TAB to autocomplete file paths on various ansible cli tools.

[2019-03-20 13:18] saurabhnanda commented on #49147
I can confirm this bug. Just faced this.

[2019-03-20 13:46] #27237 closed, assigned to nobody

[2019-03-20 14:07] desht opened #54107 "junos_config with "replace: override" fails"
##### SUMMARY
When trying to replace some config on a JUNOS firewall using the ``junos_config`` module and ``replace: override``, the playbook fails with a ``Missing mandatory statement: 'root-authentication'`` JUNOS error, even though the ``root-authentication`` statement is definitely not missing from the firewall configuration.  The same task with ``replace: update`` does not fail, but also doe

[2019-03-20 14:14] bbaassssiiee opened #54109 "maven_artifact: state=absent not observed"
##### SUMMARY
When using `maven_artifact:` I'd like to use a desired-state variable for the state of the artifact. I.e. when state=absent I expect the artifact to be removed. Using such variables allows me to manage absense or presence of an artifact, such as a library or a service. Quite often I would like to manage a deployment with a bill-of-materials, a manifest of jars, wars, or ears that nee

[2019-03-20 14:20] agowa opened #54110 "Debugging modules add callstack/invocation hierarchy"
##### SUMMARY
While debugging a module it occurred, that some assumptions are misleading and there is no documentation to guide the right way. Therefore I want to request documenting the callstack of how ansible invokes modules. E. G. What happens step by step when one runs the temp file from .ansible/tmp/ansible-tmp-*/*.py manually.
From an beginners standpoint it looks strange to find an inline

[2019-03-20 14:24] jctanner commented on #54110
Having the debugging doc link to https://docs.ansible.com/ansible/devel/dev_guide/developing_program_flow_modules.html#ansiballz-framework might help provide better context for the readers.

[2019-03-20 14:28] jamesdh opened #54112 "Make ansible-vault encrypt idempotent"
##### SUMMARY
Make `ansible-vault encrypt` idempotent.

Currently, when decrypting then re-encrypting an unchanged vault file, the pre-decrypted and post-re-encrypted forms appear different.

This is essentially a reopening of #10595, but I wanted to maybe discuss a potential solution.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Ansible Vault

##### ADDITIONAL INFORMATION
Currently one

[2019-03-20 14:28] agowa338 commented on #54110
I also would suggest adding a callstack/invocation path:

ansible-playbook -> remote script within .ansible/tmp/ansible-tmp-*/AnsiballZ_vmware_guest.py -> extracting embedded zip and placing the module file within /tmp, setting up the environment by mocking `basic._ANSIBLE_ARGS = json_params` -> the module /tmp/module.py

[2019-03-20 14:36] jamesdh commented on #10595
Agreed completely. As vault currently stands, it's not feasible. But I think there are definitely ways to make it feasible.

@glatapoui I opened a new issue (#54112) with a suggested solution that I now see matches one of your own. Would love your input there if still interested!

[2019-03-20 14:36] gillesB opened #54113 "win_unzip does not report an error when compressed file is faulty"
##### SUMMARY
When `win_unzip` tries to extract a faulty zip-file, it returns `ok`.
Instead I would have expected `failed` and an error message.

Detailed description: https://serverfault.com/questions/959124/win-unzip-does-not-extract-file/959126#959126

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_unzip

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ansible-config dump --only-cha

[2019-03-20 15:05] mkrizek commented on #43064
This has been fixed in Ansible versions `2.5.15`, `2.6.4` and `2.7`.

[2019-03-20 15:05] #43064 closed, assigned to nobody

[2019-03-20 15:14] NasAmin commented on #53970
I can confirm the work around above works for me - thanks!

[2019-03-20 15:21] mindfury opened #54116 "vmware_vm_inventory fails on large numbers of VMs"
##### SUMMARY
vmware_vm_inventory silently fails to produce an inventory list when a seemingly high number of VMs is in vCenter (e.g. > 1000 VMs)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_vm_inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Ubuntu 18.04.2 LTS
Python 2.7.15rc1

venv installed:
ansible==2.8.0.dev0
asn1crypto==0.24.0
bcrypt

[2019-03-20 15:31] sivel commented on #36397
The switch to argparse and the addition of bash completion will be included in the 2.9 release.  Our plan is to merge that work soon after we branch to start development on 2.9.

[2019-03-20 15:36] Akasurde commented on #54116
@mindfury Thanks for reporting this issue. I doubt we use `from vmware.vapi.vsphere.client import create_vsphere_client` anywhere in `vmware_vm_inventory`

vmware_vm_inventory still relies on Pyvmomi SOAP api to gather information about VMs.
Could you please share the actual trace back / output of the plugin ?

Thanks.

needs_info

[2019-03-20 15:37] acozine commented on #53071
Closed by #49289. If we run into style problems with the new single-theme site, we can open a new issue.

[2019-03-20 15:37] #53071 closed, assigned to nobody

[2019-03-20 15:39] mkrizek commented on #43377
Fixed in #44533.

[2019-03-20 15:39] #43377 closed, assigned to nobody

[2019-03-20 15:40] mkrizek commented on #43282
The PR above has been merged. Closing.

[2019-03-20 15:40] #43282 closed, assigned to nobody

[2019-03-20 15:42] mkrizek commented on #43459
needs_info

[2019-03-20 15:43] mindfury commented on #54116
Certainly:

[code]

[2019-03-20 15:46] s-hertel commented on #51883
This was fixed in #53152. This doesn't pose an ordering problem for any plugins shipped with Ansible because composing the vars always occurs before constructing groups. Things could get interesting if you are layering constructable config files.

[2019-03-20 15:49] kdelee commented on #54059
@AlanCoding ok, so as I suspected it looks like this functionality is provided by the `boto_profile` config that we have added. I think this is satisfactory.

The question then becomes how do we link to appropriate docs for script vs. plugin on tower side :thinking:

[2019-03-20 15:50] agowa opened #54118 "VMware: Python 3 related TypeError"
##### SUMMARY
TypeError within the vmware_guest module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
ArchLinux

##### STEPS TO REPRODUCE
Specify a hostname (guest customization) with an invalid character listed here: `'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'` and the guest_id needs to contain `win`.

[2019-03-20 15:51] Akasurde commented on #54116
@mindfury Thanks for providing the output. The real error is
[code]
I have seen this error before https://github.com/ansible/ansible/issues/53512 but unable to reproduce this in my environment. The reporter of #53512 updating ESXi resolved the issue for him - [link](https://github.com/ansible/ansible/issues/53512#issuecomment-474147494).

Can you provide some insights about your ESXi version ? Tha

[2019-03-20 15:52] chad-autry opened #54120 "GCP SSH"
##### SUMMARY

The [Google Cloud Platform Guide] (https://docs.ansible.com/ansible/latest/scenario_guides/guide_gce.html) makes what I believe to be a misleading comment at the bottom
"Note that use of the “add_host” module above creates a temporary, in-memory group. This means that a play in the same playbook can then manage machines in the ‘new_instances’ group, if so desired. Any sort of arbitr

[2019-03-20 15:53] gundalow commented on #44556
All milestones have been closed apart from a `DO NOT USE THIS` fake milestone https://github.com/ansible/ansible/milestones

[2019-03-20 15:53] #44556 closed, assigned to gundalow

[2019-03-20 15:59] mkrizek commented on #42074
@gsoyka ^^^

needs_info

[2019-03-20 16:06] Akasurde commented on #54118
@Tomorrow9 Could you please take a look into this ? Thanks.

[2019-03-20 16:07] ashwinippatil26 commented on #53995
@Fred-sun Thanks! I tested with this PR and now I see another error -

[code]
It seems it's now fetching the VM based on tags but failing on fetching the state of VM, the instance view ?

[2019-03-20 16:07] mindfury commented on #54116
Our LAB environment (which this works fine on) is all 6.5.0.20000 Build 9451637, both vCenter and ESXi on the blades.

PROD where this is failing is vCenter 6.5.0.20000 Build 9451637, and a mixture of 6.0 and 6.5 ESXi on the blades.  So you're saying basically, get all ESXi blades on 6.5 or greater should solve this?

[2019-03-20 16:11] Akasurde commented on #54116
@mindfury I am not sure because I never able to reproduce this in my environment. Could you please try to isolate the server with its version that I can reproduce this ? Thanks.

[2019-03-20 16:14] mindfury commented on #54116
I understand, I'll try to run this down a little further in my environment and what I can find.  Thanks!

[2019-03-20 16:15] Akasurde commented on #54116
@mindfury Do you think large number of VMs can cause this issue ? Does your PROD and LAB contains same number of VMs ? Do you have vApps installed in your environment ?

[2019-03-20 16:19] mindfury commented on #54116
It seemed plausible given the error I received from `vsphere_client.vcenter.VM.list()` above.  However as you mentioned, your plugin doesn't use that so that shot my theory dead.  Our PROD environment contains over 2000 VMs from what our infra. engineer told me, to my knowledge we don't use vApps.

Our LAB environment doesn't have nearly that amount, but there are no version differences in the env

[2019-03-20 16:24] kdelee commented on #54059
After more discussion with awx folks, I think this is still important to us and https://github.com/ansible/ansible/pull/41637/files would give us what we need.

While using `boto_profile` could provide the same end result, it requires a file written to the system running the `ansible-inventory` command. This is less desirable in an awx cluster than providing the custom `iam_role` and combining it

[2019-03-20 16:26] mkrizek commented on #46660
Can you link to that statement in the documentation? I believe those are inventory variables.

needs_info

[2019-03-20 16:27] jamesdh commented on #54112
I created the following Makefile tasks which achieve this for us (but are dependent on vaulted files containing a specific extension). They compare the `ansible-vault view` output of the original encrypted file with the decrypted file, and if identical, then simply overwrites the decrypted file instead of re-encrypting it.

Couldn't something similar be done directly within Ansible?

[code]

[2019-03-20 16:37] AlanCoding commented on #51883
onto the test cases...

[code]

That seems to work.

I still have hesitation. This is for the `gcp_compute` plugin. It does:

https://github.com/ansible/ansible/blob/3e52a6a693f33552766f45b3736728d3d8fe2da3/lib/ansible/plugins/inventory/gcp_compute.py#L263-L265

Do you have any guardrails to prevent _arbitrary_ plugins from calling `_add_host_to_keyed_groups` before `_set_composite_vars`? I don't

[2019-03-20 16:46] mkrizek commented on #45852
Fixed in https://github.com/ansible/ansible/pull/50163

[2019-03-20 16:46] #45852 closed, assigned to nobody

[2019-03-20 17:02] bhaizlett123 commented on #53525
I have tried increasing to 60 and still come across the same issue

On Wed, Mar 20, 2019 at 1:19 AM Nilashish Chakraborty <
notifications@github.com> wrote:

[2019-03-20 17:02] agowa338 commented on #54112
Duplicate of #35480

[2019-03-20 17:05] agowa338 commented on #54112
I'm currently working on that, but it is not trivial and requires much more work than I initially thought.
I don't think it will make it into 2.8 (change freeze tomorrow). But I can promise, that I also want to add git hooks and filters.

[2019-03-20 17:07] jamesdh commented on #54112
@agowa338 I'm interested what you come up with, but I'd really like to push for a solution that isn't tied to a particular VCS. This seems like something that could easily be handled within ansible itself.

[2019-03-20 17:08] agowa338 commented on #54112
It is not tied to the vcs, I sorry for the confusion. The hooks and filters are something I'm planing on adding as a bonus. It will most likely end up in the documentation anyway, should not require extra code.

[2019-03-20 17:16] mindfury commented on #54116
@Akasurde This may be a silly question, but is there a test harness available for the inventory modules so I can try this against all our ESXi blades?  I'd like to just load your plugin directly with the required connection info and follow its execution... there doesn't seem to be much documentation on this on the site (mostly for regular modules).

[2019-03-20 17:19] jamesdh commented on #54112
@agowa338 I just skimmed your PR thread. I think your last comment nails it on the head. Basically a purer/cleaner form of the hack I scripted up above.

I'll close this issue in favor of yours. Thanks for finding this and pointing me to that!

[2019-03-20 17:19] #54112 closed, assigned to nobody

[2019-03-20 17:27] #51200 closed, assigned to nobody

[2019-03-20 17:42] ayyappak94 commented on #32098
getting same error in ansible 2.7 , tried with "<variable> | int " but no luck, any suggestions would be appreciated.

Ansible --version:
======================
ansible 2.7.8
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/centos/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/

[2019-03-20 18:05] bcoca commented on #54120
you can add ssh info in `add_host` as a variable, but also just trigger the inventory plugin to 'rerun' with `meta: refresh_inventory` and pick up the new hosts.

[2019-03-20 18:12] thethomp opened #54126 "win_chocolatey task gives fatal error with useEnhancedExitCodes enabled (on chocolatey versions >= 0.10.12)"
##### SUMMARY
As of v0.10.12 of Chocolatey, which is automatically installed if not present on the system, a setting called `useEnhancedExitCodes` is enabled by default. This setting makes choco output non-zero error codes for non-error scenarios. I ran into this when attempting a simple package install - first choco will list the packages with the 'choco list' command. If there is no output, with

[2019-03-20 18:24] 0xmilkmix commented on #53916
I’ve made a cloudstack role for [algo](
https://github.com/trailofbits/algo/pull/1345). It’s currently specialized for exoscale but the idea is to let people be prompted for zones in case they’re using another cloudstack cloud.

An option currently used in algo for these use cases is to write a lib to implement the listing features.

[2019-03-20 18:38] chad-autry commented on #54120
@bcoca This isn't about host names, it is about ssh credentials. I'm saying that in my experience the gcp_compute inventory plugin does not take care of ssh keys. You would need to do so manually.

[2019-03-20 18:58] adurthisridhar opened #54127 "Ansible is failing due to Python Exceptions"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
Hi Team,

I am trying to execute a python script calling from Ansible playbook. While I am executing ansible playbook, I am getting below exception

TASK [sridhar-test : Set Tesgting facts] ****************************************************************************************************************

[2019-03-20 19:00] jborean93 commented on #54126
See https://github.com/ansible/ansible/issues/53860#issuecomment-473431360

[2019-03-20 19:00] #54126 closed, assigned to nobody

[2019-03-20 19:01] adurthisridhar opened #54128 "Ansible is failing due to Python Exceptions"
##### SUMMARY
I am trying to execute a python script calling from Ansible playbook. While I am executing ansible playbook, I am getting below exception

TASK [sridhar-test : Set Tesgting facts] **************************************************************************************************************************************************************
fatal: [xx.xx.xx.xx]: FAILED! => {"changed": fa

[2019-03-20 19:03] nickrusso42518 commented on #53236
I've opened a TAC case with Cisco on this. I'd like to keep this bug open for a few days until I hear back from the engineer assigned.

[2019-03-20 19:08] bcoca commented on #54127
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, running with `-vvv` s

[2019-03-20 19:08] #54127 closed, assigned to nobody

[2019-03-20 19:25] bcoca commented on #53950
Any reason you cannot use a different file? i.e `meta/soft.yml`

[2019-03-20 19:27] bcoca commented on #54100
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible or #ansible-network on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can sto

[2019-03-20 19:27] #54100 closed, assigned to nobody

[2019-03-20 19:27] jcsmith opened #54129 "Support for printing deprecation warning with ansible-playbook --syntax-check"
##### SUMMARY
Add support to ansible-playbook --syntax-check to print deprecation warnings.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-playbook

##### ADDITIONAL INFORMATION
It would be great if ansible-playbook --syntax check printed deprecation warnings.  That way it could be used to search an ansible code base for the use od deprecated features.

[2019-03-20 19:54] felixfontein commented on #36738
@Spredzy we really need a decision on this (because it blocks a lot of other work, like #54088 and #54085), and I want to hear your opinion on this as well. After all, you're co-leading the Crypto WG :)

I'm agreeing with @MarkusTeufelberger that bad input files (meaning for me: the file the module is supposed to create/update/keep) should cause re-creating them. Other bad inputs (such as private

[2019-03-20 19:55] davegravy opened #54131 "setup: ansible_local dict generated from INI file has lowered case keys"
##### SUMMARY

When facts are gathered from an INI file, upper case key names get transformed to lower case in the resulting ansible_local variable.

results in

`ansible_local['Section Name']['Key Name']` being undefined because "Key Name" is now "key name"

##### ISSUE TYPE
- ~Bug Report~
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##

[2019-03-20 20:06] felixfontein commented on #34054
resolved_by_pr #53924

The integration tests for RHEL7.6 are running through with the new `cryptography` backend! (Tested with the packaged cryptography 1.7.2 coming with RHEL7.6. Of course, also works with newer versions ;-) )

[2019-03-20 20:13] #42074 closed, assigned to nobody

[2019-03-20 20:26] samirageb commented on #31867
The new inventory script: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/azure_rm.py appears to be more limited than the Contrib script. The new script supports only Public IP retrieval, and no private IP retrieval. If a VM has no public IP, then it returns no value in the IP field.  :(

[2019-03-20 20:28] kb-light commented on #53380
Should be a similar problem with `platform`, `site`, `region`, `tenant`, `device_type` and `manufacturer`.

[2019-03-20 20:33] mkrizek commented on #49041
Closing as per above.

[2019-03-20 20:33] #49041 closed, assigned to bcoca

[2019-03-20 20:36] mkrizek commented on #39075
Not an Ansible issue as per above. Closing.

[2019-03-20 20:36] #39075 closed, assigned to nobody

[2019-03-20 20:39] turb commented on #54109
`template`, `copy`, `fetch`, `tempfile` and `unarchive` do not provide such feature.

I am not sure it would be a good idea to support this in `maven_artifact` since it can be achieved by using `file`.

[2019-03-20 20:49] tumbl3w33d commented on #54109
First of all, this is not a bug but a feature request.

Then I struggle to imagine a scenario where you would depend on the logic of maven_artifact (which essentially is about finding out the latest version in an artifact repository) to achieve the deletion. You either know the name because you can construct it from `artifact_id`, `group_id` and `version`, then you could just use `file` as @turb m

[2019-03-20 20:51] bcoca commented on #53380
you can avoid using the 'group_by' and just use the compose functions, which give you better control

[2019-03-20 21:16] bbaassssiiee commented on #54109
ansible-doc maven_argument lists 2 values for its state parameter: present/absent and describes this argument: The desired state of the artifact. I observe the value absent has no effect. I call that a bug in a documented feature.

[2019-03-20 21:19] AngryNorseMan opened #54134 "Pip output using debug module."
##### SUMMARY
Would like a better method for printing the data pip module registers, I am using stdout but am getting both item= and a msg: that contain all the modules that were either up to date or otherwise updated.  Which is quite a large list.  It would be great if I could grab either one of those items, clean it up and print it out cleanly and not just in an unformatted blob with no new line

[2019-03-20 21:21] sivel commented on #54134
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-20 21:21] #54134 closed, assigned to nobody

[2019-03-20 21:29] bbaassssiiee commented on #54109
Furthermore, desired-state configuration using a certain set of variables describing the state allows greater control than using lots of actions with conditionals. The states of artifacts should be changable in certain directories, for instance by iterating bills of materials. Pruning those lists is a usecase too.

[2019-03-20 21:42] sgns12 commented on #25665
i have  domain name called   dname1.dname2.com   , and the hostname is machinename.dname1.dname2.com
i cannot configure ldap to work with domain name of 2 words.
any suggestions or documents to point to?
 thank you

[2019-03-20 21:43] sgns12 commented on #25665
get this error
ldap_add: Naming violation (64)
        additional info: value of single-valued naming attribute 'dc' conflicts with value present in entry

[2019-03-20 22:03] CtrlC-Root commented on #25665
@sgns12 Open a new issue, this issue is about something completely different.

[2019-03-20 22:11] sgns12 commented on #25665
ok, thank you

[2019-03-20 22:40] tumbl3w33d commented on #54109
I'd rather call that a bug in the documentation as there is no logic connected to the `absent` state and it's like that since I know the module. Granted, that makes the attribute useless at all and I'm fascinated I never noticed it before but as I explained, I can't think of a use case and unfortunately I cannot follow your explanation. I mean, I read your words and understand them, but the scenar

[2019-03-20 22:44] dselders commented on #44864
Agreed, the json provided from Junos should be valid.  I have opened a ticket with Juniper to see if the issue has perhaps been addressed in a newer version of Junos.  Thanks for your assistance.

[2019-03-20 23:04] miott commented on #53236
Our tooling uses ncclient and I tested this RPC on a Cisco CSR1k.  I tried it with both ncclient manager.edit_config() and manager.dispatch().  Is it possible the tooling is not looking for the .ok member of the returned value?

Our code:
[code]
At this point, the proper XML is on ret.xml
[code]

[2019-03-20 23:17] Wicaeed opened #54138 "Azure credentials work for Azure Resource Manager plugin inventory query, but not playbook runs"
##### SUMMARY
After setting up azure integration according to : http://docs.ansible.com/ansible/latest/guide_azure.html I can get a dynamic list of existing hosts, but attempting to create new resources results in failed to authenticate.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Cli

[2019-03-20 23:18] #50638 closed, assigned to nobody

[2019-03-20 23:24] asinn826 opened #54139 "Creating an Azure Container Instance fails"
##### SUMMARY
Creating an Azure Container Instance fails with the error below

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_containerinstance

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL 7.6

##### STEPS TO REPRODUCE
Run a playbook containing the following call to azure_rm_containerinstance

[code]

##### EXPECTED RESULTS
Resource creation

[2019-03-21 01:55] kzap commented on #46385
yes this is very annoying, it makes references relative other `requirements.yml` files useless
`ansible-galaxy` is not always run from the directory of `requirements.txt`

one use case is where we are using `molecule` to test a role but using a single `requirements.yml` file

[2019-03-21 01:55] nizarakbarm commented on #47736
Sorry until now, i think this bug still not being resolved.

[2019-03-21 02:02] nickrusso42518 commented on #53236
@miott The code I ran was basically this, with the obvious population of the capitalized constants.

Could it be that looking for `.data_xml` is the problem, versus just `.xml` as you have? I'm not skilled with the inner workings of `ncclient`.

[code]

[2019-03-21 02:09] jsf9k commented on #47097
Confirmed that this is still an issue in 2.7.9.

[2019-03-21 02:17] Fred-sun commented on #51944
close_me, resolve_by_pr #53496

[2019-03-21 02:22] #51944 closed, assigned to nobody

[2019-03-21 03:20] Fred-sun commented on #31867
@yungezz Please help take a look this issue when you're available! Thanks!

[2019-03-21 03:51] gujiwork opened #54149 "Copy Module - Recursive directory copy does not work locally even with remote_src=yes"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Copy Module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.5.1804 (Core)
3.10.0-862.9.1.el7.x86_64

##### STEPS TO REPRODUCE

Local Recursive copy of directory does not work even with remote_src=True
From Ansible copy module documentation :
changed": false, "msg": "Remote

[2019-03-21 03:55] Barathwaja commented on #47724
@SinghDivneet No issues, it’s fixed and above is the thing they have configure if any cross AWS account is being used.

[2019-03-21 04:00] miott commented on #53236
I think resp1.data is looking for ``<data>...</data>`` in the payload XML.  If you check resp1.ok, that will tell you that no ``<rpc-error>`` was found in the payload and the resp1.xml is a property that will return the entire payload.

[2019-03-21 04:22] ichekaldin commented on #47898
+1

[2019-03-21 04:23] claco commented on #50692
@cvoltz Ever do anything with this?

Would also be nice if make module support the args: creates: option like shell/module does so it will skip a run if the binary is already made. Otherwise you have to use shell/command (which raise an ansible-lint), or do file stat workarounds.

[2019-03-21 05:05] vamshi8 opened #54151 "mysql_replication mode: getmaster not able to get the bin file and position."
##### SUMMARY
mysql_replication mode: getmaster not able to get the bin file and position.

expected is that debug should give the bin file and position.
[code]

[code]

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_replication

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

centos 7.4

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULT

[2019-03-21 05:13] trishnaguha commented on #53887
@chrisvanheuveln what does `show running-config all | section ^vlan` return?

[2019-03-21 05:45] mzeier opened #54153 "ec2 inventory plugin & inventory group fails"
##### SUMMARY
Using the AWS EC2 inventory plugin and a `.ini` style inventory group file, Ansible tosses errors about undefined groups.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2 inventory plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

[code]

##### OS / ENVIRONMENT
OSX

##### STEPS TO REPRODUCE
`tag:role : bastion` is an instance tag and a dynamic group. bastion h

[2019-03-21 05:46] felixfontein commented on #47736
@nizarakbarm have you tried what I suggested and @efflamlemaillet tried and verified? It would be nice if you could try that, and confirm whether it works (or not!) here.

[2019-03-21 05:53] mkrizek commented on #54128
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-21 05:53] #54128 closed, assigned to nobody

[2019-03-21 06:12] mkrizek commented on #42341
need_info

[2019-03-21 06:51] yungezz commented on #54138
pls let us know what happens after tried Matt's suggestion today.

[2019-03-21 06:52] yungezz commented on #53995
@zikalino could you pls help to look at the issue?

[2019-03-21 06:54] yungezz commented on #51751
ping for update

[2019-03-21 06:55] mattclay opened #54155 "Disabled integration test azure_rm_managed_disk"
##### SUMMARY

The `azure_rm_managed_disk` integration tests have been disabled because they fail.

The tests were disabled in https://github.com/ansible/ansible/pull/54154.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_managed_disk integration test

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

`ansible-test integrat

[2019-03-21 06:57] Fred-sun commented on #54139
@zikalino Please help take a look this issue when you're available! I meet same error as above describe. Thanks!

[2019-03-21 07:06] bbaassssiiee commented on #54109
Maybe my imagination simply works different 🤠

In my playbooks `if mockserver_state == 'present'` means that I create objects and start stuff in several actions. When it is time for a state change, then stuff is stopped and removed, etc.

I would like to maintain yaml with the least number of actions and conditionals possible. **Using the same action for absence or presence of an object by use of

[2019-03-21 07:43] imuab commented on #53794
I am not able to run the playbook for the Aruba Mobility Controller Aruba650 with ArubaOS 6.4.4.16.
I think I have problems with the enable modus.

[2019-03-21 07:57] zikalino commented on #53995
fixed by https://github.com/ansible/ansible/pull/54075
i will close this issue now.
@ashwinippatil26 pls try if it works for you, pls reopen if there's still any problem.

[2019-03-21 07:57] #53995 closed, assigned to zikalino

[2019-03-21 08:22] imlight commented on #34340
Hello,
Appreciate  if someone can help with this.

I am hitting same error , my environment looks like this

Ansible Master node : - RHEL 7
Selinux enabled
libselinux-python : installed     libselinux-python.x86_64 0:2.5-14.1.el7

Node :- RHeL 5
Selinux  enabled
Using       ansible_python_interpreter=/usr/bin/python26
libselinux-python : installed     libselinux-python-1.33.4-5.7.el5.x86_64

I hav

[2019-03-21 08:32] rfc1459 opened #54162 "command module: environment variables are substituted unconditionally"
##### SUMMARY
Contrary to what is stated in the [module documentation](https://docs.ansible.com/ansible/latest/modules/command_module.html#command-module), all occurrences of environment variables are unconditionally expanded. The expansion also does not take escape characters into account, so `\$HOME` gets expanded to `\actual-home-directory-path`.

This happens because `expand_user_and_vars` is

[2019-03-21 08:35] imlight commented on #34340
We do have nearly 50 RHEL5 servers , and if we didnt find any feasible solution then it will be very difficult for us to manage these servers.

[2019-03-21 08:38] Fred-sun commented on #54093
@PrityKumari Thanks for your reprot, I have tried your YML on ansible 2.7.7 and 2,7.9, all the results are successful. Can you help provide more replication information? Or you can reinstall ansible and try again! Thanks!
[code]

[2019-03-21 08:53] yuwzho commented on #54139
Hi @asinn826 Thanks for your reporting. I have drafted a PR to fix the ACI issue. You can try the new branch by download the new python files and replace the original ones.
BTW, the ports should be written with container,  so the playbook can be like this:

[code]

[2019-03-21 08:55] mkrizek commented on #44173
Fixed in https://github.com/ansible/ansible/pull/50163

[2019-03-21 08:55] #44173 closed, assigned to nobody

[2019-03-21 08:57] yuwzho opened #54165 "List azure resources under resource group in azure_rm_resourcegroup_facts"
##### SUMMARY

Add an option like `show_all_resources` in the `azure_rm_resourcegroup_facts` module, then the module can call API [`ListByResourceGroup()`](https://docs.microsoft.com/en-us/rest/api/resources/resources/listbyresourcegroup) to show all the resources under this group.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_resourcegroup_facts
##### ADDITIONAL INFORMATION

[c

[2019-03-21 09:01] nikaro commented on #16049
That's perfect, thank you!

[2019-03-21 09:39] yuwzho commented on #49180
resolved_by_pr #54072

[2019-03-21 09:46] #49180 closed, assigned to zikalino

[2019-03-21 10:27] sgaspari opened #54169 "Bower packages manager module : impossible to install a missing dependency"
##### SUMMARY
Impossible to install a missing dependency (nothing is done).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
bower module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

On my host where bower is installed and set up, I try to test package install via ansible bower module.
No packages intalled at all where I execute

[2019-03-21 10:47] aminancelot commented on #30864
Any news on this please? I'm an ansible fan but it still has some big pain points, this clearly is one.

[2019-03-21 11:34] mkrizek commented on #26796
Fixed in #39810

[2019-03-21 11:34] #26796 closed, assigned to nobody

[2019-03-21 11:49] dagwieers commented on #41752
We do not filter out anything from the objects, so normally you should see the ownerKey and ownerTag in the object output returned by every module. As is also seen in the module documentation return values.

[2019-03-21 11:52] chrisvanheuveln commented on #53887
@trishnaguha

Note the different display on N7K vs N9K.
* N7K will display all configs for a given vlan even if they are default.
* N9K will will only display all settings for the vlan if it has at least one non-default setting. The failure to display is likely a bug but you should be able to infer from the missing configs that the vlan is set to defaults.

# N7K
[code]
# N9K
[code]

[2019-03-21 11:54] rodrigodealer commented on #54047
I tried the newer versions, the result was the same.
But I found the reason: there was a `-o IdentitiesOnly=yes` option for the `ssh_args` section in the `ansible.cfg` file.

Now it works! :D Thanks for your support.

[2019-03-21 12:05] yuwzho commented on #39958
resolved_by_pr #45269

[2019-03-21 12:13] #39958 closed, assigned to zikalino

[2019-03-21 12:16] yuwzho commented on #53299
!component=ansible/lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py

[2019-03-21 12:17] cvoltz commented on #50692
I have not. It was just a feature suggestion. I was hoping the module owner might implement the suggestion. I haven't had the free time to create a patch to implement it myself.

Considering the code is calling `make` and `make` does it own dependency analysis to determine whether it really needs to do anything, it doesn't really make sense to implement a separate check. The existing code already

[2019-03-21 12:41] Cougar opened #54173 "Role execution in loop (using `include_role`) may happen in wrong order"
##### SUMMARY
Role execution order may change when executing roles for different hosts but having exactly the same input variables.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
openSUSE Leap 42.3, Python 3.7.2, Ansible in venv.

##### STEPS TO REPRODUCE
This is the directory layout:
[code]

`roles/test/

[2019-03-21 12:47] markuman opened #54174 "ec2_instance cannot add or remove addition security groups"
##### SUMMARY
I have an existing ec2 instance where I would like to add an addition security group.
When I add one more security group, `ec2_instance` doesn't notify any change.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`ec2_instance`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPEC

[2019-03-21 12:47] AlanCoding opened #54175 "RFE: for inventory plugins, a DOCUMENTATION section for expected hostvars"
##### SUMMARY
I would like a formalized way (eventually machine consumable by some API) to declare the hostvars that an inventory plugin should be expected to produce.

This will allow software integrating with Ansible to offer users options for grouping hosts, as well as filters and other stuff.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`lib/ansible/plugins/__init__.py`
`lib/ansible/

[2019-03-21 13:05] ubermug commented on #16305
This isn't the best work around, but it works.  I have a task that I run first, that creates the folder structures that I need for my backup directory.  Then every time that I copy a file, place a template, or do anything that allows for the backup feature,  I create a register. If that register has a backup property to it, it runs the move task.  I made a base directory variable that I defined in

[2019-03-21 13:08] kbreit commented on #54047
Glad you were able to get this working. Please close the issue if it’s resolved.

[2019-03-21 13:25] network-shark commented on #4057
Any updates on this topic ?

[2019-03-21 13:26] #50877 closed, assigned to nobody

[2019-03-21 13:39] #54047 closed, assigned to nobody

[2019-03-21 14:03] sivel commented on #42341
https://github.com/ansible/ansible/pull/43560 has been merged

[2019-03-21 14:03] #42341 closed, assigned to sivel

[2019-03-21 14:15] sivel commented on #54173
Duplicate of https://github.com/ansible/ansible/issues/36978

[2019-03-21 14:15] #54173 closed, assigned to nobody

[2019-03-21 14:18] bcoca commented on #54153
change the order, simplest way is `-i /path/to/ec2 -i /path/to/ini`, also you might want to use `group_vars/` instead of defining group vars in ini file.

[2019-03-21 14:20] sivel commented on #54149
Recursive `remote_src` copying does not exist in version 2.7.  It will be included in the upcoming 2.8 release.

See https://docs.ansible.com/ansible/2.8/modules/copy_module.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-03-21 14:20] #54149 closed, assigned to nobody

[2019-03-21 14:20] #52316 closed, assigned to nobody

[2019-03-21 14:28] sivel commented on #54131
This behavior is caused by the python `configparser` library, but the behavior is configurable: https://docs.python.org/3/library/configparser.html#configparser.ConfigParser.optionxform

However, changing the default current behavior would likely be undesirable, as it would likely break existing playbooks, relying on the current behavior.

We might be able to add some sort of toggle to affect this

[2019-03-21 14:44] bcoca commented on #54175
we already have a RETURNS section for other plugins, just populate that?

[2019-03-21 14:49] sivel commented on #54175
!component =lib/ansible/plugins/inventory/__init__.py

[2019-03-21 14:50] mkjpryor-stfc commented on #45173
This would be a great feature!

[2019-03-21 15:02] einarnn commented on #53236
The one problem is that the base RPCReply class doesn't today give access to the parsed XML content, but otherwise what Mike suggests is the best approach. Utilize the "ok" property of the returned object.

Cheers,

Einar

[2019-03-21 15:09] markuman commented on #41861
I was able to cherry-pick @jeevers changes in my new fork of ansible and run `bin/ansible-test units -v --python 3.7 --docker default test/units/module_utils/aws/test_aws_module.py`

the result looks good.

[code]

but I'm not sure how to trigger the integration test just for aws. Can you help me @jeevers ?

[2019-03-21 15:13] tumbl3w33d opened #54179 "firewalld attribute masquerade being type str instead of bool causes warning"
##### SUMMARY
[code]
The attribute `masquerade` is of type `str` which causes this. I guess this should be a `bool` type instead or does firewalld expect anything else for this?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
firewalld

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
No warning.

####

[2019-03-21 15:35] mooninite opened #54180 "Regression in get_url in Check Mode"
##### SUMMARY

Commit 9c7d36ccb517319e5e8bf8c448a7bea67f840c32 changed the behavior of get_url when used with Check Mode. This commit was released as part of Ansible 2.7.9.

Prior to 2.7.9 the get_url module reports "changed" for everything. The file / directory did not have to exist. Now with 2.7.9 if your destination directory does not actually exist the module fails.

##### ISSUE TYPE
- Bug Rep

[2019-03-21 15:42] #23944 closed, assigned to samdoran

[2019-03-21 15:42] #30445 closed, assigned to samdoran

[2019-03-21 15:47] DanHam commented on #48790
@sivel Unfortunately get_url (even with the fix implemented in #53685) doesn't support the simplest case where a checksum file contains _just_ the checksum. Clearly, in this instance, there is no need to parse out the correct checksum. Here the checksum makes up the entirety of the file contents and all that is needed is to simply read the file.

Simplest example that demonstrates this:

[code]

T

[2019-03-21 15:52] gforster opened #54181 "[ADD] private key parameter to git module"
##### SUMMARY

need the ability for the git module to take a private key as a parameter instead of a file
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

git

##### ADDITIONAL INFORMATION

In use cases where in awx/tower a team updating a git repo using the git module which does take a key file as a parameter, but teams do not have access to the backend server and don’t want to manage local

[2019-03-21 16:04] agowa338 commented on #54116
You currently should have a vmware.yaml file for your inventory, right? If so, just run: `ansible-inventory -i vmware.yaml --graph`

[2019-03-21 16:10] #51481 closed, assigned to nobody

[2019-03-21 16:14] tony-caffe commented on #30445
@samdoran Will this be shipped in Ansible 2.8 then? I am so happy to see some movement here. You do not know how much this will help our world wide Organization on thousands of Alpine Linux servers with BusyBox.

[2019-03-21 16:21] asinn826 commented on #54139
Thanks @yuwzho! I realized I was doing something wrong with the ports as well after I got past the dict error. Thanks for pointing it out!

[2019-03-21 16:23] davegravy commented on #54131
Thanks for clarifying. A toggle would be a helpful. Should I submit a separate feature request?

[2019-03-21 16:32] tony-caffe commented on #29808
@here Any update to this task? Related task that was addressed: https://github.com/ansible/ansible/issues/30445#event-2220157510

[2019-03-21 16:33] sivel commented on #54131
This issue here is sufficient

[2019-03-21 16:33] tony-caffe commented on #30445
Any chance we will get the group variant for busybox supported as well?
https://github.com/ansible/ansible/issues/29808

[2019-03-21 16:46] noci2012 opened #54186 "Howto implement ansible to a system that is non-{router, switch}, non-{bash,sh,csh}-shell, non-windows"
I am looking into implementing modules needed to configure OpenVMS.
I think the following system characteristics are important
- there is a scriptable command language (DCL) very non-unix shell alike
- it does NOT use # as comment introducer, all script lines need to start with $, ! is start of comment.  (#! is hard to handle on a first line, $! is   usable replacement.
- accessible through SSH (w

[2019-03-21 16:47] noci2012 commented on #54186
i tried if network_cli is usable, but that seems to imply a lot of other requirements.

[2019-03-21 16:59] sivel commented on #53689
I would question the validity of your URL.  Another user was asking about a 404 as well, and it turns out, the original webhook URL was created by someone who left the company, and was subsequently disabled when the user was disabled/removed.

A 404 indicates that the webhook URL doesn't exist.

[2019-03-21 17:11] Wicaeed commented on #54138
Hi @yungezz, I updated my original Bug report with the error I am seeing now and included the full traceback for one of the failed calls.

It looks like azure_rm_virtualmachine module is expecting (or needs) a `client_id` value from the `~/.azure/credentials` file to be set, however I'm just using an AD Username/Password for authentication, which should work and doesn't need the `client_id`.

I al

[2019-03-21 17:20] bcoca commented on #54186
Ansible relies on POSIX for many things, but it CAN be made to deal with other systems .. as Windows integration demonstrates, but this is far from simple.

- a DCL shell plugin might be a start, to deal with the absence of a '/bin/sh' shell
- possibly new feature in lib/ansible/excutor/module_common to handle $! aside from #!
  which would allow for detecting 'intended interpreter' , we would not

[2019-03-21 17:33] henres opened #54187 "Tag on include is not skipped"
##### SUMMARY
I want to apply a tag to an include. And when i play runbook with another tags it play too.
Is it the untagged who play it too ?

Here my roles :

[code]

Playbook exec
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
latest docker alpine with ansible installed via pip

##### EXPECTED RESULT

[2019-03-21 17:39] klainn commented on #54116
I hate to hijack this if it's truly not related, but I'm seeing the same thing.

Looping through all the clusters to find the vm's on that cluster as such:

`all_clusters = vsphere_client.vcenter.Cluster.list()

for cluster_name in all_clusters:
    cluster_names = {cluster_name.cluster}

    vms_list = vsphere_client.vcenter.VM.list(VM.FilterSpec(clusters=cluster_names))`

And I am getting the:
c

[2019-03-21 18:04] DerrickTJ opened #54189 "Vault Private Key for ACI"
##### SUMMARY
How do you encrypt a private key that the ACI modules can understand? I've tried to vault the key but that didn't work and that may be a limitation on the Ansible side more so than the ACI side from what I can gather.

Encrypting the file:
```ansible-vault encrypt admin.key```

Login info used by all modules:
[code]

With private_key now vaulted, I'm getting error message "Cannot loa

[2019-03-21 18:16] kakurpiel commented on #53794
Unfortunately I don't think there is support for enable in the aruba modules yet. When I bypassed my radius server and used a local password and enable password, the playbook was not able to run against a 6.x controller.

If feasible in your environment, there is an 'enable bypass' config command on Aruba that will drop you to a privileged prompt upon connecting.

[2019-03-21 18:24] chrisvanheuveln commented on #45343
@trishnaguha fyi I'm working on a solution for this and #41704.

[2019-03-21 18:46] ashwinippatil26 commented on #53995
[code]

@Fred-sun Now I see an issue with resource_groups_operations.py  This is a very high priority issue blocking our development, could you please look into the issue soon ? @zikalino ^^

[2019-03-21 18:46] jackivanov opened #54190 "openssl_publickey is broken in python3"
##### SUMMARY
It is not possible to create a public openssh key from a private encrypted private key using python3 as the interpreter

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssl_publickey

##### ANSIBLE VERSION

[code]
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
I don't think it's related, I faced this issue on both Ubuntu and MacOS.

##### STEPS TO REPRODUCE
Just

[2019-03-21 19:02] felixfontein commented on #54190
Thanks for reporting this! It's a pretty obvious bug and also shows that some parts of the module are not covered by the integration tests...

[2019-03-21 19:03] holser commented on #21145
##### SUMMARY
Module copy doesn't take become_user into account

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
./lib/ansible/plugins/action/copy.py
./lib/ansible/modules/files/copy.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Remote machine is RHEL 7.6
Local machine
[code]

##### STEPS TO REPRODUCE
Create a user on remote machine with empty default /ho

[2019-03-21 19:05] jackivanov commented on #54190
Affects 2.5 as well, so a fix would need to be backported

[2019-03-21 19:13] felixfontein commented on #54190
2.5 only gets security fixes; see [here](https://docs.ansible.com/ansible/devel/reference_appendices/release_and_maintenance.html#release-status). If one for 2.6 gets merged we'll see, but one for 2.7 will definitely be merged.

[2019-03-21 19:20] felixfontein commented on #54190
resolved_by_pr #54192

[2019-03-21 20:00] ralphie02 commented on #53448
Is anyone taking a look at this?

[2019-03-21 20:03] jeevers commented on #41861
Had to dust off some documentation:
1. Edit 'test/integration/cloud-config-aws.yml' and add credentials for an AWS account you can run in
2. Then run the integration test against the module
        ```test/runner/ansible-test integration -v unsupported/elb_application_lb --docker```

I'm currently running through the integration test right now, I'll update with what's actually failing.

[2019-03-21 20:05] mariolenz commented on #54180
@fanf2 I think the change in question has been made by you. So I thought you should know about this issue.

[2019-03-21 20:18] navinisaac commented on #53854
Same issue on Ansible 2.7.9

Omitting the non-required 'direction' param results in failure.

[2019-03-21 20:32] jeevers commented on #41861
It fails at the `elb_application_lb_test : test idempotency non-default rule with multiple actions` task:

https://github.com/jeevers/ansible/blob/alb_listener_actions_issue41861/test/integration/targets/elb_application_lb/playbooks/roles/elb_application_lb_test/tasks/test_multiple_actions.yml#L185

[code]

[2019-03-21 20:38] yuwzho commented on #39617
-label azure

[2019-03-21 20:51] codigomoo commented on #50905
I have verified that this bug was introduced in 2.7.0 and still exists in 2.7.9 (2.6.15 works fine).
Tested with ncclient 0.6.3.
The bug appears to not exist if using python3 (tested with python 3.6.5) on controller machine.

[2019-03-21 21:09] felixfontein commented on #53923
I've been brainstorming a bit on how the terribly long name `only_attach_default_network_on_creation_if_no_networks_specified` could be shortened in a sane way. My current ideas are `cli_compatible_networks` (sounds better) or `networks_cli_compatible` (will be listed right next to `networks` in documentation). The implicit default would be `no`, and would change to an explicit `yes` in Ansible 2.

[2019-03-21 21:13] acozine opened #54195 "List supported platforms for RH customers"
##### SUMMARY
Support staff work with customers on certain platforms, but not on every flavor of *nix. List the supported platforms in the Ansible documentation.

Related to #48751.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs.ansible.com

##### ANSIBLE VERSION
2.8

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

[2019-03-21 21:13] acozine commented on #48751
Closing in favor of #54195.

[2019-03-21 21:13] #48751 closed, assigned to nobody

[2019-03-21 21:20] BenCoffeed commented on #18305
I was having this issue with the `get_url` module and the `file` module in Ansible 2.7.8. I noticed the pattern that this was failing when I defined a file mode but did not explicitly define the owner and group. Explicitly setting the `owner: ` and `group: ` attributes to their appropriate values resolved the issue for me.

[2019-03-21 21:59] tmichett opened #54197 "RFE: Modify ansible-role-ovirt-aaa-ldap Role to include TLS/SSL"
##### SUMMARY
Modify the role to support the TLS/SSL connectivity and accept the Certificate file.

Example 15.2. Example profile: keystore section

# Create keystore, import certificate chain and uncomment
# if using tls.
pool.default.ssl.startTLS = true
pool.default.ssl.truststore.file = /full/path/to/myrootca.jks
pool.default.ssl.truststore.password = password

https://access.redhat.com/documen

[2019-03-21 22:25] tmichett opened #54199 "RFE: Create ovirt_configure module"
##### SUMMARY

Create module to allow configuration of parameters in RHV/oVirt. This module would specifically allow configuration of items in Administration => Configure.

Initially the request was for ovirt_configure_instances to be able to create instance types through Ansible. However, there is also a need to be able to create/define roles with an Ansible playbook.

##### ISSUE TYPE
- Feature

[2019-03-21 22:29] tmichett commented on #54199
[11_Configuring_VM_System_Types_Lab.pdf](https://github.com/ansible/ansible/files/2994201/11_Configuring_VM_System_Types_Lab.pdf)

[2019-03-21 22:30] tmichett commented on #54199
[12_Config_RHVM_Custom_Roles_Lab.pdf](https://github.com/ansible/ansible/files/2994205/12_Config_RHVM_Custom_Roles_Lab.pdf)

[2019-03-21 22:31] xmadsen opened #54200 "redfish_facts- Systems - GetHealthReport"
##### SUMMARY

This feature should return a JSON structure with the Health status of all the components with Health properties, perhaps grouped by top-level categories like Systems, Chassis, and Manager.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

redfish_facts

##### ADDITIONAL INFORMATION

[code]

[2019-03-21 22:31] xmadsen commented on #54200
@samerhaj

[2019-03-21 22:31] tmichett commented on #54199
Updated with attachments describing at least two (2) problems this will solve.

[2019-03-21 22:34] xmadsen opened #54202 "redfish_facts - Systems - GetVolumeInventory"
##### SUMMARY

This feature would implement a GetVolumeInventory command for the Systems category in redfish_facts, and would retrieve properties about all the storage Volumes found in a system.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

redfish_facts

[2019-03-21 22:35] xmadsen commented on #54202
@samerhaj

[2019-03-21 22:44] narayaniv commented on #43629
@trishnaguha - Can you please confirm if this issue has been fixed? If so, in which release? The issue has been closed but there is no clear information on which release it was fixed. Thanks!

[2019-03-21 23:18] sivel commented on #54197
I'm confused why this issue was logged in this repository. We do not support that role, and you have yourself provided a link to its source.

Shouldn't this be logged there instead?

[2019-03-21 23:22] xmadsen opened #54205 "redfish_facts - Systems - GetBootOverride"
##### SUMMARY

This feature request would add a GetBootOverride command to the Systems category of redfish_facts, and return the Systems/Boot properties BootSourceOverrideTarget and BootSourceOverrideMode if BootSourceOverrideEnabled == "Enabled", otherwise return a message indicating that there is no BootOverride present.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

redfish_facts

[2019-03-21 23:22] xmadsen commented on #54205
@samerhaj

[2019-03-22 01:03] acozine commented on #47869
Three of the cases I mentioned above should remain as they are:
- on the Windows usage page, the remaining example with `state: installed` is correct - `win_update` does use `installed` - see https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_updates.py and https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_updates.ps1#L16.
- The F5 modules (`b

[2019-03-22 01:03] #47869 closed, assigned to acozine

[2019-03-22 01:31] kbreit commented on #53601
@dagwieers I'm working on trying to fix this and one of the challenges I have is making this idempotent. Lets talk layer 2 switching.

A switch port can be in one of two modes: access or trunk. An access port has 1 VLAN assigned and it's made to plug into endpoints such as a laptop. It may have a 2nd port for a voice VLAN though, so it's one or two. A trunk port can carry multiple VLANs and does 8

[2019-03-22 02:08] bcoca commented on #54162
consider you are already consuming one quote due to calling ansible in a shell ` ansible -m command -a "'ls $HOME'" localhost`

[2019-03-22 02:38] bcoca commented on #54189
Not an Ansible limitation, i.e `lookup('file', 'admin.key')` will automatically decrypt it, but then the module would have to take the raw key as a parameter, not the path to the file.

[2019-03-22 02:46] Fred-sun commented on #53995
@ashwinippatil26 I tried it again and get successful result. Could you can try the follow playbook to get VM fact, and share your playbook and pip info( pip list)! Thanks!
[code]

[2019-03-22 02:54] ashwinippatil26 commented on #53995
@Fred-sun I am looking for getting VM facts based on machine tags where I need not give the resource group. My playbook has something like this -
`
- name: get VM facts
   azure_rm_virtualmachine_facts:
        tags:
           - testing
           - foo:bar
   register: output
- debug:
       var: output
`
I don't want to target machines only from a specific resource group and I assume that's a r

[2019-03-22 03:02] zikalino commented on #53995
@ashwinippatil26 are you using right version of the module to test?

I have following integration test passing:

https://github.com/ansible/ansible/blob/fcc33532166eed80d634b30cbc957c1bd76317dc/test/integration/targets/azure_rm_virtualmachine/tasks/virtualmachine.yml#L358

Would you like me to backport it to 2.7.x?

[2019-03-22 03:06] Fred-sun commented on #53995
@ashwinippatil26 Sorry you misunderstood me, I just want to know your VM state and try to copy the problem you encountered. Because I execute the following playbook on the new PR , the result was successful. Thanks!
[code]
[code]

[2019-03-22 03:28] imlight commented on #34340
I see the problem

With default Python ...

selinux]# python
Python 2.4.3 (#1, May  5 2011, 15:12:27)
[GCC 4.1.2 20080704 (Red Hat 4.1.2-50)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

1

And with python26

[root@dev-bozo21 selinux]# python26
Python 2.6.8 (unknown, Nov  7 2012, 14:47:45)
[GCC 4.1.2 20080704 (Red Hat 4.1.2-52)] on linux2
Type "help", "copyrigh

[2019-03-22 03:39] yuwzho commented on #50443
resolved_by_pr #47639

@watsonb as @mooninite mentioned, the root cause is because the `azure-mgmt-network`'s version is too old for Ansible v2.7.5. It uses 1.7.1 while some other tools like Azure CLI upgrades it to 2.4.0. With the incorrect version, networkinterface  module will fail with error message like you reported.

To make the v2.7.5 version works, you may need to force install the lower v

[2019-03-22 03:43] #50443 closed, assigned to nobody

[2019-03-22 04:07] Fred-sun commented on #41003
@yuwzho This issue similar with #39958, You can also close it! Thanks!

[2019-03-22 04:38] trishnaguha commented on #43629
@narayaniv we actually asked the user to test this on devel branch https://github.com/ansible/ansible/issues/43629#issuecomment-414573033 as it is working for me. Ansibot closes the issue after a certain time period if there is no response.
Is it possible for you to test this on devel branch?

[2019-03-22 04:39] xkrt commented on #49180
I ran code from PR with new parameters and it works fine for me, thank you @zikalino!

[2019-03-22 04:46] zikalino commented on #49180
@xkrt thanks for testing this!

[2019-03-22 05:02] ganeshrn commented on #54107
`update: override` option tries to replace the entire configuration with the input configuration. Since `root-authentication` related config is not present in your input configuration file it results in an error.

For the overirde case, the input config to the task should reflect the entire final state running configuration.

[2019-03-22 05:04] krishn10 commented on #45918
Thanks a bunch. This worked for me.

[2019-03-22 05:30] robertdebock opened #54213 "`command` with `creates` in async mode is always changed"
##### SUMMARY
It seems a [solved issue](https://github.com/ansible/ansible/issues/13828) has returned;

When a `command` is started with the `creates` and `async` option, the task is always changed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
command
async

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control node: Fedora
Managed node: Fedora

##### STE

[2019-03-22 06:37] Fred-sun commented on #54155
@yuwzho Please help take a look this issue when you're available! Thanks!

[2019-03-22 06:53] Fred-sun commented on #54139
@asinn826 Please try PR #54163! Thanks!

[2019-03-22 07:00] gundalow commented on #54195
Maybe worth detailing control node vs remote node suport.

[2019-03-22 07:03] vatsalparekh opened #54215 "kubevirt_template module is not passing merge_type"
##### SUMMARY

kubevirt_template module is not passing the merge_type to the parent class, which makes it fail
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubevirt_template
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-03-22 07:13] vatsalparekh opened #54217 "Wrong API endpoint used for template module"
##### SUMMARY

Wrong API endpoint for template makes kubevirt_template module to fail
https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/kubevirt.py#L22-L23

`"msg": "Failed to find resource Template in kubevirt.io"`
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubevirt_template
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ST

[2019-03-22 07:31] rfc1459 commented on #54162
Shell quotes with ansible command are a red herring (wrapping in double quotes as you wrote actually makes the shell expand `$HOME`), I reproduced the issue with a minimal playbook as well:
[code]

This still fails: https://gist.github.com/rfc1459/fd6b498ad6e4537fb0fd9f51757b6aa2.

This is caused by `module.run_command()` calling `os.path.expandvars` which expands all environment variables it enco

[2019-03-22 07:50] smemsh commented on #53373
@tristanbes we could possible get username too with the same idiom, ie:
[code]
but, at least for `get_url` module, the module docs say:

and @tristanbes I see your issue is with `uri` module, not `get_url` like this one.  maybe they use the same helper code, I have not looked, but in my case I can actually pass an empty string for the password arg and it does work ok (just contradicts module docs

[2019-03-22 08:00] mkrizek commented on #29736
See #50608

Duplicate of #50306

[2019-03-22 08:00] #29736 closed, assigned to nobody

[2019-03-22 08:00] Akasurde commented on #53060
@LeDOC666 VMware team's is able to reproduce this issue and they are working on the fix. Once this is fix, I will again check with Ansible and report here. Thanks for the patients.

[2019-03-22 08:14] Akasurde commented on #54217
resolved_by_pr #54218

[2019-03-22 08:30] rfc1459 commented on #54162
Actually, looking at the source of `os.path.expandvars` _all_ environment variables are unconditionally expanded, not just `$HOME` and similar vars. I updated the issue title and description accordingly.

[2019-03-22 08:56] #54217 closed, assigned to nobody

[2019-03-22 08:58] Fred-sun commented on #51387
@yuwzho Could you help give a fixes when you're available? Thanks!

[2019-03-22 09:22] tristanbes commented on #53977
so @sivel given the last comment of the author here: https://github.com/ansible/ansible/issues/53373#issuecomment-475524546
does this issue need to be re-opened ?

[2019-03-22 09:41] imuab commented on #53794
@kakurpiel Thanks for the advice! With the enable bypass command I am able to connect to the Aruba Controller and run commands.

[2019-03-22 09:41] #53794 closed, assigned to nobody

[2019-03-22 10:05] mz0 opened #54223 "TypeError: unhashable type: 'list' in cloudflare_dns module (from extra comma in argument_spec)"
##### SUMMARY
works in 2.7.9 but not in 2.8.0dev0.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

modules/net_tools/cloudflare_dns.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Same behavior when running with (virtualenv) Python 3.7

##### STEPS TO REPRODUCE

Any playbook will fail i suppose. The problem is internal to this module and is easy to fix.

[2019-03-22 10:39] cupen opened #54226 "toml inventory doesn't works with ansible-vault"
##### SUMMARY
toml format inventory does'nt work with ansible-vault.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
toml inventory
ansible-vault

##### ANSIBLE VERSION
branch/devel
[code]

##### CONFIGURATION
toml inventory example:
[code]

##### OS / ENVIRONMENT
*OS: archlinux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
toml inventory works with ansible-vault

##### ACTUAL RES

[2019-03-22 10:40] yajo opened #54227 "The default filter should support missing subelements"
##### SUMMARY

The `|default()` filter should support missing sub-elements in dicts/lists/etc. Otherwise, the only other option is to chain multiple `.get('subelement', {})` in dicts, which is not very idiomatic.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

default filter

##### ADDITIONAL INFORMATION

If this is implemented, the 2nd task down here would log `"default value"`:

[code]

[2019-03-22 10:45] #54190 closed, assigned to nobody

[2019-03-22 11:00] HaraldPaterek opened #54228 "ansible 2.7 yum module fails on rhel6"
##### SUMMARY

I run Ansible 2.7 from AWX on RHEL7 with the target host being a RHEL6 system with Python 2.6.6. The yum module fails with a syntax error: https://pastebin.com/hvCLed0C.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

Not sure how to get this information from AWX

##### OS / ENVIRONMENT

AWX: RHEL 7
Target: RHEL6

[2019-03-22 11:59] noci2012 commented on #54186
OpenVMS was POSIX compliant before any Unix system (as far as POSIX, goes.)
Maybe be carefull when POSIX is claimed, it is far less then a lot of people assume.
(this pas a compatibility product before V6.0, and integegrated since than.
C-Runtime library does suport this in pathnames etc.

* Running a DCL script is "just" adding an @ in front of the name, there is no separate program to run .
So i

[2019-03-22 12:14] mkrizek commented on #54228
This does not seem like an Ansible issue. urllib3 1.24+ requires Python 2.7+ , see:

[code]

[2019-03-22 12:15] mkrizek commented on #54228
You need to fix your target machine environment by downgrading `urllib3`.

[2019-03-22 12:15] #54228 closed, assigned to nobody

[2019-03-22 12:17] #54223 closed, assigned to nobody

[2019-03-22 12:28] Akasurde commented on #54197
cc @machacekondra

[2019-03-22 12:31] xmadsen commented on #54202
I will code a PR for this.

[2019-03-22 12:32] xmadsen commented on #54205
I will code a PR for this.

[2019-03-22 12:38] xmadsen opened #54230 "redfish_facts - Chassis - GetChassisPower"
##### SUMMARY

This feature would implement a GetChassisPower command for the Chassis category of redfish_facts, and would retrieve properties associated with the power usage in Watts, gathered from the Chassis/PowerControl field.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

redfish_facts

##### ADDITIONAL INFORMATION

[code]

[2019-03-22 12:39] #54215 closed, assigned to nobody

[2019-03-22 12:41] xmadsen opened #54231 "redfish_facts- Chassis - GetChassisThermals"
##### SUMMARY

This feature would implement a GetChassisThermals command for the Chassis category of redfish_facts, and would retrieve temperature related properties from the Chassis/Thermal field for each sensor available.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

redfish_facts
##### ADDITIONAL INFORMATION

[code]

[2019-03-22 12:41] xmadsen commented on #54231
I will code a PR for this.

[2019-03-22 12:42] xmadsen commented on #54231
@samerhaj

[2019-03-22 12:42] xmadsen commented on #54230
@samerhaj

[2019-03-22 12:42] xmadsen commented on #54230
I will code a PR for this.

[2019-03-22 12:46] xmadsen opened #54233 "redfish_facts - Chassis - GetChassisInventory"
##### SUMMARY

This feature would implement a GetChassisInventory command for the Chassis category of redfish_facts, and would retrieve a list of Chassis and their properties, like ChassisType, PartNumber, AssetTag, Manufacturer, IndicatorLED, SerialNumber, and Model.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

redfish_facts

##### ADDITIONAL INFORMATION

[code]

[2019-03-22 12:46] xmadsen commented on #54233
@samerhaj

[2019-03-22 12:46] xmadsen commented on #54233
I will code a PR for this.

[2019-03-22 12:56] xmadsen opened #54234 "redfish_facts - Update - GetSupportedFirmwareUpdateMethods"
##### SUMMARY

This feature would implement a GetSupportedFirmwareUpdateMethods (or something less verbose) command for the Update category of redfish_facts, and would retrieve a list of the methods by which the system supports performing firmware updates.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

redfish_facts

##### ADDITIONAL INFORMATION

[code]

[2019-03-22 12:56] xmadsen commented on #54234
@samerhaj

[2019-03-22 13:01] dthvt commented on #53433
!component ec2_customer_gateway

[2019-03-22 13:03] #40060 closed, assigned to nobody

[2019-03-22 13:31] 5t4rdu5t commented on #53650
If I set

      properties:
        password: "xxxxx"
it doesn't change template password on newly created VM, so I prefer not document something that is not working and I'm not sure @Akasurde

[2019-03-22 13:36] machacekondra commented on #54197
close_me The issue was re-opened here: https://github.com/machacekondra/ansible-role-ovirt-aaa-ldap/issues/2.

[2019-03-22 13:45] #54197 closed, assigned to nobody

[2019-03-22 13:55] sivel commented on #54227
This has been resolved in https://github.com/ansible/ansible/pull/51768 and will be included in the upcoming 2.8 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-03-22 13:55] #54227 closed, assigned to nobody

[2019-03-22 14:04] sivel commented on #54213
This is expected.  When using `async`, the task is *always* marked as changed, as that only indicates that the `async` task was created.  We have no way of knowing at that point in time whether the underlying module reported changed or not.

Instead, you will need to use `changed_when` on that task, to indicate the changed status.

Instead, the changed status should be inferred from the `async_sta

[2019-03-22 14:04] #54213 closed, assigned to nobody

[2019-03-22 14:06] Roxyrob opened #54239 "mysql_variables not supporting variables name with dot (like new mysql 8 validate_password.policy)"
##### SUMMARY

mysql_variables return "invalid variable name" trying to manage variable with dot in the name.

##### ISSUE TYPE
- Bug Report
Incorrect variables name characters type allowed

##### COMPONENT NAME

mysql_variables

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7
Linux Kernel 3.10.0-862.3.2.el7.x86_64

##### STEPS TO REPRODUCE

Execute pla

[2019-03-22 14:12] richlv commented on #52740
Seems to work as expected - thank you so much :)

[2019-03-22 14:14] #44739 closed, assigned to nobody

[2019-03-22 14:20] desht commented on #54107
Thanks, that makes sense.  I had mistakenly understood it to just override the config section I was trying to upload.

However, that still leaves a problem: removing unwanted entries.  For example, if my current SNMP config looks like:

[code]
and I apply this template:
[code]
it will correctly add ``comm3`` but it won't remove ``comm2``.  This is a problem, since how I can remove an unwanted comm

[2019-03-22 14:31] kzap commented on #15179
I can see why this is confusing as you would want the parent role defaults to override the child role defaults if they are the same. I made several work arounds for this so you dont have to use different default variables names in the parent role.

https://github.com/kzap/ansible-parent-role-defaults-example

[2019-03-22 14:32] #53491 closed, assigned to nobody

[2019-03-22 14:33] kzap commented on #39369
This was annoying, spent a whole day trying to find a solution

I made a workaround loop which defines the variables in an object that you can pass to the child role using `include_role` or `import_role`

https://github.com/kzap/ansible-parent-role-defaults-example

[2019-03-22 14:39] DerrickTJ commented on #54189
Agreed after I did more testing and looking at the code. It will only use a file because it is using "with open". I'm going to see if I can change this to accept both as that should be easy enough to do.

[2019-03-22 14:41] simonkey007 commented on #42661
Confirmed on 2.7.8 as well

[2019-03-22 15:06] fanf2 commented on #54180
Thanks for the bug report! I have submitted pull requests to fix this issue in the devel and stable-2.7 branches.

[2019-03-22 15:10] sivel commented on #54180
This is actually the expected behavior, as concluded by the core developers.

If the module requires that the dest directory exist before it is executed, it should fail when the directory does not exist, even in check mode.

Otherwise the module is making invalid assumptions in check mode, that could then cause the module to fail in actual use.

Additional logic should be included in the playbook

[2019-03-22 15:10] #54180 closed, assigned to nobody

[2019-03-22 15:20] Akasurde commented on #53562
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2019-03-22 15:20] #53562 closed, assigned to Akasurde

[2019-03-22 15:21] narayaniv commented on #43629
We encountered the same issue when run on Ansible 2.6.2 nxos_config module when the "backup" option is used.  It impacted Nexus 5k and 9k. Some portion of the running-config was backed up.  Ansible then dumped the remaining portion of the running-config into the next registered variable used in the subsequent task.

I've now tested the same on stable-2.6 version and devel branch also. The backup i

[2019-03-22 15:36] mooninite commented on #54180
@sivel, I don't appreciate a copy and paste response. I understand you get a lot of issues you deem trivial, but this is not one of them.

Up /until/ 2.7.9 the module worked one way and then you introduced a fundamentally breaking change. This would be fine if:

1. Introduced in a major version like 2.8.0
or
2. Documented as a bug fix in 2.7.9 and explain that the old functionality was never meant

[2019-03-22 15:38] sivel commented on #54180
I did not perform a copy paste response.

We consider the change a bug fix, to properly handle execution.

Bugfixes are not considered regressions.

[2019-03-22 16:00] kakurpiel commented on #47764
I mentioned this in #53794, but I don't think this is actually fixed yet. In Aruba OS 8.3, there are a number of new variations on the prompt that will change the way it appears.
For a mobility master controller:
`(hostname) [nodename] #`
`(hostname) [nodename] ^#` When [unsaved changes](https://community.arubanetworks.com/t5/Controller-Based-WLANs/Mobility-Master-CLI-prompt-shows-a-sign-constantl

[2019-03-22 16:33] asinn826 commented on #54139
@Fred-sun LGTM! left a comment in the PR

[2019-03-22 16:40] mikewiebe commented on #50635
Just updating this case.  This appears to be a problem in ansible version `2.7.x` .  I am unable to recreate the problem in the latest `devel` or candidate `2.8.0` branch.

Here is my test on the latest `devel` branch.

[code]
Version: `7.3(4)N1(1)`

Playbook

[code]

Run the playbook

[code]

Interface after running playbook:

[code]

NOTE: This works for both `network_cli` and `nxapi`

[2019-03-22 17:01] axc450 opened #54246 "Dicts containing "keys" as a key are not indexable"
##### SUMMARY

Taking a dict such as:
[code]
Trying to access `foo.keys` fails with
[code]
Presumably because `keys()` is a function of `dict` in Python.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

All

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The key `"keys"` should be acce

[2019-03-22 17:26] mikewiebe commented on #50635
@trishnaguha I looked back through commits between `devel` and `2.7.0` since the problem goes back that far and possible further.  I don't see any specific simple commit in the `nxos_config` module, action plugins or connection plugins that jumps out at me in terms of a possible fix.  Not sure this is going be something that can easily be cherry-picked.

[2019-03-22 17:32] jhughes-mc commented on #44339
This would be a great for us as well, for the reasons @stevenscg mentioned above. We want to tag the NAT gateway with what AZ is resides in, so later when we build the route tables we're associating the correct NAT gateway with the correct subnet in the route tables.

[2019-03-22 17:40] ssbarnea commented on #45852
Any chance to see this backported to 2.7? It will take agest for us to reach 2.8, as we are still using 2.5.x at this moment.

[2019-03-22 17:58] ghost opened #54249 "hashi_vault mount_point is ignored for LDAP login"
##### SUMMARY
I'm attempting to use `lookup('hashi_vault'...)` plugin with our internal Vault. It is configured for multiple LDAP authentication backends using non-default names (ie. `/v1/auth/my-domain`, `/v1/auth/another-ldap`). In order to authenticate, we need to specify `-path=my-domain` on the CLI which corresponds to the `mount_point` parameter in the plugin to target the correct auth backe

[2019-03-22 18:10] levshanton opened #54250 "start_mode: delayed doesn't work for win_service module"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
win_service module
##### ANSIBLE VERSION
ansible 2.7.6
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/antonl/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2

[2019-03-22 18:12] netzvieh commented on #54246
You should be able to access that via {{ foo['keys'] }}. Not a bug really.

See:
https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#ansible-supports-dot-notation-and-array-notation-for-variables-which-notation-should-i-use

And:
https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#creating-valid-variable-names

[2019-03-22 18:14] billdodd commented on #51818
I'll work on the PR for this.

[2019-03-22 18:18] billdodd commented on #51814
@xmadsen - Would you be able to test my PR to confirm it works as expected on your service?

[2019-03-22 18:28] xmadsen commented on #51814
Oh sure!

[2019-03-22 18:39] sivel commented on #54246
The above response is correct.  When you use a key name that conflicts with a python attribute, the attribute is chosen first when using dot notation (`foo.keys`). This functionality is provided by the jinja2 library.  When you want to access such a key, you must use bracket/subscript notation (`foo['keys']`).

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansib

[2019-03-22 18:39] #54246 closed, assigned to nobody

[2019-03-22 18:54] abadger commented on #45852
Sorry but no.  This is both a new feature and very invasive.  It won't be backported.

[2019-03-22 19:21] jsondag opened #54259 "first argument must be string or compiled pattern in apache2_mod_proxy"
##### SUMMARY

I receive an excepton when trying to use apache2_mod_proxy

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apache2_mod_proxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.4 ansible server.
RHEL 6.6 apache server
Server Version: Apache/2.4.35 (Unix) OpenSSL/1.0.1e-fips

##### STEPS TO REPRODUCE

Run playbook

[code]

##### EXPECTED R

[2019-03-22 19:29] oskarahner commented on #45617
Hi! To use PSRP instead of WinRM, does it require a different configuration on the windows host ? I use auth method 'certificate' and  I noticed that the ansible psrp config variables for certificates are missing from the doc:
ansible_psrp_certificate_key_pem=
ansible_psrp_certificate_pem=

[2019-03-22 19:33] ichekaldin commented on #28160
Any chance someone could pick this up?

[2019-03-22 19:54] felixfontein commented on #53535
We discussed this point and the questions raised in #36738 today in IRC (mostly with @Spredzy and @Shaps). We eventually agreed on the following:
 - if module input cannot be read (because key passphrase is wrong, file is not readable, file is empty, ...), regenerate;
 - provide `backup` options for all modules (default is `no`);
 - add "big fat warning" to documentation of private key generating

[2019-03-22 20:23] chrisvanheuveln commented on #41704
See PR #54260

[2019-03-22 21:07] felixfontein commented on #29558
This should be fixed by the new option in #54198 — if that's merged. If you set it to `yes` (should become the default in 2.12), your network will be specified on container creation time, and thus should get the MAC address assigned.

[2019-03-22 21:33] o0ste0o opened #54265 "[vmware_guest module]On VSphere 6.5: Failed to set custom Static IP when provisioning Win2k16 from template"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-03-22 21:36] #54265 closed, assigned to nobody

[2019-03-22 21:38] o0ste0o commented on #54265
My misconfiguration error.
Re-chekcing for posting how to reproduce the issue i found a hardcoded ip.
Shit happens sorry .

[2019-03-22 22:45] ericsysmin opened #54271 "add support for regional persistent disk to gcp_compute_disk"
##### SUMMARY
add support for regional persistent disk to gcp_compute_disk as documented here: https://cloud.google.com/compute/docs/disks/regional-persistent-disk
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gcp_compute_disk

##### ADDITIONAL INFORMATION

[code]

[2019-03-23 00:05] agaffney opened #54274 "Unexpected interpolation of env var in role name"
##### SUMMARY
An env var reference (or something that looks like one) in a role name will be interpolated. This is unexpected behavior. It appears that this is happening in `unfrackpath()` when `os.path.expandvars()` is called.

This issue was discovered when I accidentally called ansible with `-e 'service=$SERVICE'` (single quotes, so no interpolation by the shell), and then `{{ service }}` was u

[2019-03-23 02:05] kbreit opened #54279 "meraki_device - Add reboot functionality"
##### SUMMARY
Meraki added support for rebooting a device to the device endpoints. `meraki_device` should support rebooting a device.

https://api.meraki.com/api_docs#reboot-a-device

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki_device

[2019-03-23 05:22] SharkWipf commented on #18075
For anyone stumbling upon this problem and finding this issue, like myself:
Ansible 2.7 [added a new option](https://github.com/ansible/ansible/blob/stable-2.7/changelogs/CHANGELOG-v2.7.rst#id68) which effectively fixes the issues raised here.

This should also take care of the issue where a host has SSH running but Ansible can't connect (yet).
Note: you may have to set both `ignore_errors` and `i

[2019-03-23 07:11] lparkes commented on #53448
I have three questions.
1. What version of pyvmomi are you using?
1. Where did you get your open-vm-tools from? pkgs.alpinelinux.org lists the version of open-vm-tools for Alpine 3.7 as 10.1.15-r0 rather than 0.24.1.a941ee4a0b. I'm unfamiliar with Alpine, so I could easily have missed something.
1. Can you try using the devel branch of Ansible? Just run ``git clone https://github.com/ansible/ansib

[2019-03-23 08:14] gundalow opened #54280 "Facts and info modules"
##### SUMMARY
Facts and info

## `_facts` vs `_info` modules and ansible_facts

If a module is named ``<something>_facts``, it should be because its main purpose is returning ``ansible_facts``. Do not name modules that do not do this with ``_facts``.
Modules that query/return general information (and not ``ansible_facts``) should be named ``_info``.

Docs will be updated in https://github.com/ansi

[2019-03-23 08:14] gundalow commented on #54280
bot_skip

[2019-03-23 08:17] gundalow commented on #54280
@zikalino said

I wonder what should be our action regarding facts -> info change.
in fact we should rename all `azure_rm_..._facts` modules to `azure_rm_..._info`
so, there are several questions:

(1) we are still planning to merge a few missing azure_rm_*_facts modules before freeze. should we merge them as _facts or use new _info convention?

(2) there are several new azure_rm_..._facts modules

[2019-03-23 08:18] gundalow commented on #54280
@Andersson007 said:

could you please give me a couple of examples of _info modules?
I couldn't have found any.
And is new postgresql_facts module actually _facts or _info type?
Seems it returns a lot of facts that we might use to change runtime playbook's behavior

[2019-03-23 09:12] danowar2k opened #54281 "pkg5 module - Speed up installing lists of packages (Check for all packages at once)"
##### SUMMARY
As of right now, pkg5 processes a list of packages to install by filtering the packages by checking for each package if it is installed.

I measured the time it takes checking ten packages doing it this way. On my system it was 5 seconds.
I then measured the time it takes checking once for all ten packages, which was below 1 second.

I propose to change the way the pkg5 module checks

[2019-03-23 09:21] zedr opened #54282 "Certain tests fail because the use pytest.skip outside of a test is not allowed in pytest 4.3.1"
##### SUMMARY
If I run the test suite using Python 3.6 and Pytest 4.3.1, certain tests will fail with the following error:

Currently (77303d72ab2d8381886674ed51634de1aaf9fb66), 8 test modules are affected by this problem. The error is easily resolved by switching to the `pytest.mark.skip()` method.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
test

##### ANSIBLE VERSION
[code]

##### CONF

[2019-03-23 09:28] easybe commented on #35574
Alternatively, Docker can be used, e.g. with https://hub.docker.com/r/jmal98/ansiblecm. But, of course you will need Windows 10 and Docker installed.

[2019-03-23 12:09] felixfontein commented on #54280
I've recently renamed all crypto and docker `_facts` modules to `_info` (PRs #54082 and #54124). The main reason for this is (next to that I think they should not return `ansible_facts`) that most of the `docker_*_facts` modules have only been added for 2.8, so now's the best time to rename them. (Before 2.8, there were only one crypto and one docker `_facts` module.)

In my opinion, modules which

[2019-03-23 12:21] mnecas commented on #54199
+label ovirt

[2019-03-23 12:26] mnecas commented on #54199
@machacekondra  @mwperina

[2019-03-23 13:24] zikalino commented on #54280
@gundalow thanks for starting this thread.
@felixfontein thanks for posting references to your prs -- it's actually very useful to see how to do actual renaming.
I am actually wondering about a few things.
you have created symbolic links _*_facts that start with underscore. is there any special meaning for the leading underscore?
i also wonder how the ci handles the situation where _*_facts doesn'

[2019-03-23 13:29] #42686 closed, assigned to nobody

[2019-03-23 13:54] vikaskgit commented on #38702
Am using ansible 2.7.4 stuck with the same issue here :(
Did update ansible.cfg, also see that the Directory gets created not just that the file also gets copied over... but then it fails to execute :(

From the controller can go over to the other nodes via ssh... no password needed

Just issuing:
$ ansible myservers -m ping

and get:
"module_stdout": "/usr/bin/python: can't open file '/tmp/ansibl

[2019-03-23 14:55] felixfontein commented on #54280
@zikalino the underscore marks the module as deprecated. The documentation will only be created for the new module name, not for the old module name. The deprecation marker (shown when using the old module name) says the old module (name) will be removed in Ansible 2.12, i.e. at that point we will delete the symlink (and remove the code for the marker). That is, both names for the module can be us

[2019-03-23 15:21] Akasurde commented on #54274
!component =lib/ansible/playbook/role_include.py

[2019-03-23 15:48] Akasurde commented on #54249
@tomcooperca Thanks for reporting this issue. Would you be interested in raising PR with your findings ? Thanks.

needs_info

[2019-03-23 17:08] felixfontein opened #54291 "openssh_* modules: input/output handling problematic"
##### SUMMARY
According to [this](https://github.com/ansible/ansible/issues/53535#issuecomment-475759078), all crypto modules should behave well when handling broken input files. In particular, they should make sure that they don't accidentally leave broken state (or even delete something when `state` is not `absent`), and regenerate instead of fail when they can't read the file they are supposed

[2019-03-23 17:25] felixfontein commented on #54291
Note that `openssh_keypair` seems to hang on broken input for some platforms ([OSX 10.11](https://app.shippable.com/github/ansible/ansible/runs/115627/42/console), [RHEL 7.6](https://app.shippable.com/github/ansible/ansible/runs/115627/43/console), [FreeBSD 11.1](https://app.shippable.com/github/ansible/ansible/runs/115627/45/console)).

[2019-03-23 18:10] felixfontein commented on #54291
Apparently on these systems, a query for a passphrase is shown on stdout, which obviously nobody answers...

[2019-03-23 19:25] rossedman commented on #25489
@candlerb Thank you, this worked for me and was exactly what I needed

[2019-03-23 20:13] elihunter173 opened #54293 "npm module fails to install from package.json"
##### SUMMARY

We are attempting to install npm and nodejs using the PPA from NodeSource. Installing with the node modules from `package.json` using the `path` of the npm module fails. However, installing items directly and globally works.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

npm module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS:

[2019-03-23 20:29] elihunter173 commented on #54293
The same issue arises when reworking the task to be the following:
[code]

[2019-03-23 23:04] felixfontein commented on #40258
I've been investigating this again, since @kbreit brought up a similar problem on IRC. I **think** I found a way to extract this IP address:
[code]
The key `"com.docker.network.bridge.host_binding_ipv4"` has the value `"0.0.0.0"`, which equals the value specified by `--ip` if that's used for the daemon. (I couldn't find out how to select just that field with Go templates...)

This opens the questi

[2019-03-23 23:11] chrahunt commented on #40890
As mentioned (but probably not emphasized enough in the docs) [here](https://docs.ansible.com/ansible/latest/reference_appendices/galaxy.html#dependencies):

So you can have a dependency that doesn't execute by doing something like:

`roles/some_role/meta/main.yml`:

[code]

`some_role2` does not get executed when `some_role` gets loaded. Tested with Ansible 2.7 but I think I used it with prior ve

[2019-03-24 04:39] #29995 closed, assigned to nobody

[2019-03-24 05:08] claco commented on #18559
For most CI systems, you can just fail the build if the output contains a certain string, so check for the deprecation warning style and have the ci treat them as errors. Admittedly, only useful if you control the CI server.

[2019-03-24 07:56] saeedsurat opened #54300 "ANSIBLE_VAULT_PASSWORD_FILE is not working if defined in playbook"
##### SUMMARY
ANSIBLE_VAULT_PASSWORD_FILE environment variable is not setting up while declare it in ansible playbook environment: section.

environment:
[code]
However same thing if I export using linux export command then ansible-playbook is picking up correct ansible_vault_pass file.
[code]
I tried other Linux environment variable in playbook environment: section and its working fine. It seems

[2019-03-24 08:18] saeedsurat commented on #54300
Updated required info.

[2019-03-24 12:34] liuyangc3 opened #54301 "add more magic variables"
##### SUMMARY

ansible_play_group

‘current’ active group name in the current task

playbook_file

The playbook yaml file that was passed to the ansible-playbook command line

role_name

The role name for the ‘current’ host being iterated over in the play

##### ISSUE TYPE
- Feature Idea, to get more infomation when execute tasks

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[2019-03-24 12:53] juju4 opened #54302 "[systemd module] configure cgroups"
##### SUMMARY
systemd module implements mostly the service management part from https://docs.ansible.com/ansible/latest/modules/systemd_module.html

It would be useful to allow other commands like set-property which allows to configure cgroups like
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
systemd module

##### ADDITIONAL INFORMATION
See also https://access.redhat.com/documenta

[2019-03-24 13:02] msnelling opened #54303 "Module openssl_csr not working on MacOS 10.14.3"
##### SUMMARY
When trying to generate a CSR **locally** (for use with acme_certificate) on my Mac I get the following error: `You need to have PyOpenSSL>=0.15 to generate CSRs`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`lib/ansible/modules/crypto/openssl_csr.py`
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS 10.14.3
Python 3.7.2
[code]

#####

[2019-03-24 13:17] Akasurde commented on #23423
@lilwan How about -

[code]

needs_info

[2019-03-24 15:03] chrahunt commented on #47171
Per discussion elsewhere ([link](https://groups.google.com/forum/#!topic/ansible-project/IQoTNwDBIiA)) this looks like it may be a race condition that occurs when allocating a TTY over SSH. We observed this on our own AIX 6.1, 7.1, and 7.2 hosts with various versions of OpenSSH. Running both sides with verbose logging and under strace/truss shows little obvious reason for this to happen.

In our c

[2019-03-24 15:06] chrahunt commented on #37240
This is probably a duplicate of #47171, which has a more detailed initial report.

[2019-03-24 15:12] geerlingguy commented on #12903
Yeah, just noting that in a semi-related issue on ansible-lint (https://github.com/ansible/ansible-lint/issues/497), which is related to a now-default lint rule and is breaking a large number of my roles: unless you specifically mess with bash in Ubuntu and Debian, you cannot use the pipefail option, because—as @bcoca noted—it is not available with vanilla `/bin/sh`.

I usually resort to `set -e`

[2019-03-24 16:03] Akasurde commented on #25699
@mvukadinoff Take a look at this PR https://github.com/ansible/ansible/pull/54079. YAML provides a way to specify nested variables using Anchor (&) and Aliases (*).

needs_info

[2019-03-24 16:46] liuyangjason opened #54306 "ansible yum module still search for proxy when proxy is disabled in yum.conf"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE

put follow 3 lines into /etc/yum.conf
proxy=_none_
proxy_username=
proxy_password=

yum works properly. But ansible yum module fails to work. ansible yum module still try to search htt

[2019-03-24 16:48] ScottG489 commented on #14492
I believe this issue is still present and is caused by the line "env zsh -l" in the installation script

I'm also running the install via ansible:

[code]

If I remove the `env zsh -l` line it stops hanging.

I'd be happy to submit a separate issue with more information if that would be helpful.

[2019-03-24 17:08] felixfontein commented on #40258
I've been playing around with this a bit more. It looks like the default IP comes from the first (in lexicographical order, it seems) network (maybe only bridge-type network?) the container is attached to. If `com.docker.network.bridge.host_binding_ipv4` is set for that network, that IP will be taken, otherwise `0.0.0.0`.

I don't know what will happen if there are other networks around (with othe

[2019-03-24 17:15] felixfontein commented on #40258
@niko about your original problem: I think it will work fine in your case **if** you explicitly specify the network the container uses; the default is `bridge`. The code in `default_host_ip` should then extract the correct IP from that network's options.
[code]

[2019-03-24 18:01] Drewster727 opened #54307 "delegate_to variable undefined"
##### SUMMARY
delegate_to doesn't propagate my facts to the target group hosts.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
delegate_to

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
osx high sierra

##### STEPS TO REPRODUCE
vagrantfile
[code]

resulting inventory from vagrant:
[code]

playbook.yml
[code]

##### EXPECTED RESULTS
The swarm-worker group hosts should be able to access

[2019-03-24 18:21] kbreit opened #54308 "docker_container isn't reliably updating port information"
##### SUMMARY
My Docker playbook isn't reliably updating the port and exposed information when I make changes to my playbook.

I initially created my playbook using a `published_ports` parameter of `8010:80/tcp`. This was created properly. This value was removed from the configuration altogether but when I rerun the task, the `changed` value stays `false` and the container is updated.

##### ISSUE

[2019-03-24 19:03] felixfontein commented on #54308
So was the container updated (by the module) *and* `changed==False`, or was the container not updated (and `changed==False`)?

Anyway, the docker_module in general only makes sure that specified stuff is there, it does not remove things that are not specified. From 2.8 on it will be able to control this better with the new `comparisons` setting. But if you don't specify `published_ports` at all, i

[2019-03-24 19:38] jszakmeister commented on #21208
I'm seeing this in Ansible v2.7.9 too.  I have a similar line in my playbook:

[code]

Ansible comes back confirming that it's started, but the service is not running in the target docker image. :-(  Is it because there's a mix of both upstart and sysv services?  In this case, mysql is done via upstart while other things are done via sysv?  Also the service_facts module only seems to report about

[2019-03-24 20:34] #54307 closed, assigned to nobody

[2019-03-24 20:34] Drewster727 commented on #54307
This turned out to be a vagrant issue where it was executing the playbook in separate runs.

[2019-03-24 22:51] turiyag commented on #48625
Since I just spend like 1h on this, this message here:
[code]
That literally just means that the file wasn't a proper SOMETHING format file, so this, for example:
[code]
Literally just means, "your inventory file wasn't a host_list, and it wasn't a script, because it was a YAML file, so I used that to parse it".

[2019-03-24 23:27] pjrm commented on #20003
This feature is something that I also need.
I sent a [PR](https://github.com/ansible/ansible/pull/54309) with a proposal for this feature.

[2019-03-25 01:48] zikalino commented on #54280
thanks for info @felixfontein !
about your docker facts / info modules, you wrote:

"My favorite example are (docker) containers: there are usually several running on a host, so putting information about one docker container into ansible_facts.docker_container doesn't seem like a good idea to me. Especially because that makes working with register a lot more complicated: if you register the result

[2019-03-25 02:29] zikalino commented on #54280
@gundalow
@nitzmahone

what would be your advice for us?

we have
- around 35 new _facts modules introduced in Ansible 2.8, so could be just renamed
- 14 _facts modules introduced before 2.8 that are actually not returning **ansible_facts** already, so they we have just to use rename / obsolete pattern with symbolic link (hopefully)
- 15 very old facts modules that return **ansible_facts** and res

[2019-03-25 02:42] yungezz commented on #54280
What's the plan of changing all existing _facts module without returning ansible_facts to _info in general? is it going to happen in ansible 2.8? I really suggest do the azure modules change after 2.8. We don't want to do last minute change before code freeze, because the change requires lots of testing.

[2019-03-25 03:29] Fred-sun commented on #52068
@yuwzho please help take a look this issue and give a fix when you're available! Thanks!

[2019-03-25 06:03] trishnaguha commented on #41704
resolved_by_pr https://github.com/ansible/ansible/pull/54260

[2019-03-25 06:17] mkrizek commented on #54306
With both yum CLI and Ansible yum module I get:
[code]

Tested with CentOS 7.6.1810 and yum-3.4.3-161 on the managed node.

Which I think is expected behavior since you specifed `none` as a proxy which is an incorrect value. I don't think this is a bug.

[2019-03-25 06:19] mkrizek commented on #54306
needs_info

[2019-03-25 06:20] felixfontein commented on #54280
@zikalino `ansible_facts[container_id].xxx` would indeed be possible, but that can lead to annoying problems when suddenly a lot of stuff is available globally. (There's an option to disable having facts available as global variables, but the default is still to have them around globally.)

The docker_service/docker_compose module used to do something like that, but instead of using an ID, it used

[2019-03-25 06:25] mkrizek commented on #54301
`role_name` already exists.

[2019-03-25 06:27] zikalino commented on #54280
@felixfontein so perhaps that's the way to do it. if there's several hundreds modules globally it's better to keep it coordinated and do it at once... I think there should be some kind of bigger community announcement about this.

[2019-03-25 06:32] felixfontein commented on #54280
@zikalino yep, I guess the main question is what to do with new modules. Having them new with `_facts` and renaming them in the next version to `_info` sounds somewhat annoying. But I guess every team has to decide for themselves what to do, if there's no "global" advice from the core team. Both renaming new modules now (avoid renames later) and renaming all `_facts` modules at once (less confusio

[2019-03-25 06:32] Akasurde commented on #27897
@bcoca @sivel Can we close this as this is resolved by PR https://github.com/ansible/ansible/pull/46177

needs_info

[2019-03-25 06:46] L1ghtman2k opened #54323 "vmware_guest doesn't properly distribute load when datastore cluster selected"
##### SUMMARY
When using playbook to deploy multiple virtual machines, it appears that even though storage cluster has 2 iscsis, named iscsi-2, iscsi-3, all the deployed machines are only deployed to iscsi-3, even though iscsi-2 is empty.
When doing the same procedure by hand, with datastore cluster selected, VMs go to the datastore that is more empty.

##### ISSUE TYPE
- Bug Report

##### COMPONE

[2019-03-25 07:02] NilashishC commented on #53525
@bhaizlett123 Could you please try to enable the `ansible_persistent_log_messages` variable, run the playbook and share the logs? It logs the initial device interaction into a log file. You can refer to [this](https://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#enabling-networking-device-interaction-logging).

Please note that this feature is currently pres

[2019-03-25 07:04] turb commented on #54109
It may seem elegant, but as far as I know, in Ansible, each operation is meant to be done by one module. Some operations may be done by several (e.g. creating an empty file), but those are exceptions.

So I would agree with @tumbl3w33d: this is a bug in the documentation, however any PR can be considered.

[2019-03-25 07:29] yuwzho commented on #54093
close_me

Please refer: https://github.com/ansible/ansible/issues/51604#issuecomment-462724706

[2019-03-25 07:33] yuwzho commented on #54093
HI @PrityKumari Where did you run this azure_rm_virtualmachine_extension? On the Linux machine or the Windows VM? If the windows VM, we would close this issue since https://github.com/ansible/ansible/issues/51604#issuecomment-462724706

[2019-03-25 07:51] liuyangc3 commented on #54301
@mkrizek there is a `role_names` described in  https://docs.ansible.com/ansible/latest/reference_appendices/special_variables.html, and this refs all role's names imported into the current play. and `role_name` refs a `current` executing role in play.

[2019-03-25 08:02] mkrizek commented on #54301
See https://docs.ansible.com/ansible/devel/reference_appendices/special_variables.html which is up to date.

[2019-03-25 08:03] mkrizek commented on #54301
`role_name` does work, it just hasn't been documented properly.

[2019-03-25 08:38] zikalino commented on #54280
@felixfontein so what have triggered your decision to make it just before freeze?

[2019-03-25 08:38] ganeshrn commented on #53236
@miott @einarnn Thank you for the inputs.

So it seems `<data>` is not a mandatory element for non-standard RPC that returns some data in response other than `<ok>` element.

Since `netconf_rpc` is a generic Ansible module which is added mainly to support non-standard RPC, the check if `data_ele` is present or not can help solve this issue.

@nickrusso42518 Please test this PR https://github.com/a

[2019-03-25 08:57] Andersson007 commented on #54280
@gundalow
@felixfontein
https://docs.ansible.com/ansible/devel/modules/postgresql_facts_module.html
shortly, is this actually _facts or _info module ? should I rename this ?

[2019-03-25 08:59] pouyana commented on #47736
Hi @felixfontein, on Ubuntu 18.04 the given work-around by  @efflamlemaillet  fixes the problem
I think, the following:
https://stackoverflow.com/questions/41846000/mariadb-password-and-unix-socket-authentication-for-root
is also related.

[2019-03-25 09:12] alfonso-escribano commented on #34259
Same issue in ansible 2.7.9
My case, using a lookup plugin for ansible ssh password, in delegated host is trying to use host var instead to use delegated host var.
Using @Bessonov workaround also works for me.

[2019-03-25 09:15] efflamlemaillet commented on #47736
Hi,
as said @pouyana, somehow the ansible mysql module using socket connection by default on local server before is now using tcp.

[2019-03-25 09:25] Fred-sun commented on #54165
#54322 fixes

[2019-03-25 09:25] trishnaguha commented on #43629
@narayaniv Thank you for testing. I was asking to test against devel branch.
Now that it is working, we can keep the issue closed as fixed.

[2019-03-25 09:27] yuwzho commented on #53387
resolved_by_pr #53437

[2019-03-25 09:39] Fred-sun commented on #54138
@yungezz

[2019-03-25 09:39] #53387 closed, assigned to zikalino

[2019-03-25 10:00] jobec commented on #52598
Another, less drastic workaround is setting the `PYTHONWARNINGS` environment variable to `ignore::UserWarning`

_The docs for PYTHONWARNINGS state is takes a regex for the module, but it doesn't... See https://bugs.python.org/issue34624_

[2019-03-25 10:04] Fred-sun commented on #51751
@JohnnyRacket Are you still here? could you can give a try according by above comments? Thanks!

[2019-03-25 10:41] mkrizek commented on #23389
Fixed in #35921.

[2019-03-25 10:41] #23389 closed, assigned to nobody

[2019-03-25 10:52] StephaneBunel commented on #26351
[code]

[code]

[code]

[2019-03-25 10:59] PrityKumari commented on #54093
Hi @yuwzho, Thanks for the help. Now I am able to add any extension. The issue was running the module on windows host.
Yes you can close the issue.

[2019-03-25 11:03] #45983 closed, assigned to nobody

[2019-03-25 11:07] mkrizek commented on #24458
The lists are flattened so the result of the first iteration is
[code]

That's why the condition is evaluated to `'a in a'`. This might be just a docs issue?

[2019-03-25 11:07] marcowenwolf opened #54329 "netconfig_conf"
netconf_config plugin uses the lock var instead of execute_lock in line 353 of: ansible/modules/network/netconf/netconf_config.py.

[code]
Should be:
[code]

[2019-03-25 11:17] fikin opened #54330 "license for custom plugins"
##### SUMMARY
i'm trying to understand legal licensing angle on custom plugins,
which in no way impacts ansible-core modules.

looking at https://github.com/ansible/ansible/issues/8864 and https://github.com/ansible/ansible/issues/26882 ,
am i understanding right that :

- as long as the custom plugin is not part of ansible-core, it can be any license?

- as long as custom plugins (filters, etc.)

[2019-03-25 11:25] gfarrell commented on #29558
Ok, thanks @felixfontein -- I'll have my engineering team schedule an update to our configs to see if it works.

[2019-03-25 11:40] mkrizek commented on #16068
Fixed in https://github.com/ansible/ansible/pull/46483.

[2019-03-25 11:40] #16068 closed, assigned to nobody

[2019-03-25 11:52] sandrobonazzola commented on #53459
any update?

[2019-03-25 12:00] mkrizek commented on #31311
Duplicate of https://github.com/ansible/ansible/issues/22473

[2019-03-25 12:00] #31311 closed, assigned to nobody

[2019-03-25 12:03] Daniel-Sanchez-Fabregas opened #54331 "win_domain_user usage of Get-ADPrincipalGroupMembership needs time when adding user"
##### SUMMARY

The module `win_domain_user` is used to create a user in an specific Active directory (with thousands of objects, a dozen of domain controllers, extended attributes and significant workload) it randomly fails with:
[code]
Translatable to `"msg": "Object directory not found"`
Seems similar to #44573, but in this case the new user Principal Group Membership is slow to replicate to all

[2019-03-25 12:16] megakoresh opened #54332 "os_project and os_project_facts censor default domain ID"
##### SUMMARY

When you query project information if the domain is the default domain, it will show in the output variable as `VALUE_SPECIFIED_IN_NO_LOG_PARAMETER` which obviously will fail when you try to reference it in the next module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
os_project_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS

[2019-03-25 12:16] mkrizek commented on #37309
Would #43857 help here?

[2019-03-25 12:19] mkrizek commented on #17705
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-03-25 12:19] #17705 closed, assigned to nobody

[2019-03-25 12:33] nickrusso42518 commented on #53236
Just tested the PR on the exact same systems (both control machine and CSR1000v) outlined in the original issue. Just a note for anyone else testing this PR, be sure to `pip install ncclient` before trying to run any NETCONF-related Ansible playbooks. For completeness, I added a `debug` task to the playbook.

[code]

Now, the RPC reply information is populated in `stdout`, giving the Ansible playb

[2019-03-25 12:33] agowa338 commented on #54181
You could also start a ssh-agent and parse in the key by using ssh-add.

I use the following before ansible runs, maybe you can just add those to your tower server?

[code]

the first command within the eval returns some environment variables, that contain the pid of the ssh-agent and the path to it's socket. If you define the permissions according to your needs and put it into a unit file instead

[2019-03-25 12:44] GrandeTartine commented on #52937
Same problem here. Huawei modules are unusable on ansible 2.7.x.

[2019-03-25 13:18] mwperina commented on #53459
Dag/Magnus/Tim, could you please take a look? This is a regression (it works fine with Ansible 2.7) and it will break oVirt/RHV when Ansible 2.8.0 is released.

@dagwieers @magnus919 @tbielawa

[2019-03-25 13:20] #53476 closed, assigned to nobody

[2019-03-25 13:20] #48656 closed, assigned to nobody