[2019-10-30 15:12] #63864 closed, assigned to nobody

[2019-10-30 16:17] #58284 closed, assigned to nobody

[2019-10-30 16:31] jamesmarshall24 opened #64113 "Setting WinRM Kinit Cmd Fails in Versions Newer than 2.5"
##### SUMMARY

When using `ansible_winrm_kinit_cmd`, the first task in the playbook which requires kerberos authentication fails with a permission error or file not found for the custom kinit command.

This is not a permission or accessibility issue as the configuration worked fine in Ansible 2.5.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

winrm

##### ANSIBLE VERSION

[code]
Also affec

[2019-10-30 16:45] samdoran commented on #64079
This seems like the NFS mount may not have `no_root_squash` set. What are the mount options on the home directory?

You can change the [remote temp](https://docs.ansible.com/ansible/latest/plugins/shell/sh.html?highlight=ansible_remote_tmp) path to something `root` can write to in order to avoid this issue.

needs_info

[2019-10-30 16:48] #47915 closed, assigned to nobody

[2019-10-30 16:50] AlanCoding commented on #54046
That parameter never had a good implementation. We're going to move away from `extra_vars_path` and to just `extra_vars`. You'll be on your own for lookups in that case, but it should actually work much better because of that.

close_me

[2019-10-30 16:50] mattclay commented on #62496
Resolved by https://github.com/ansible/ansible/pull/63932

[2019-10-30 16:50] #62496 closed, assigned to nobody

[2019-10-30 16:53] AlanCoding commented on #47106
If someone has a new proposal, it can be filed in https://github.com/ansible/awx/issues. For example, a new parameter that would allow not returning "changed" if only secret fields are changed. But this should not be on by default.

close_me

[2019-10-30 17:01] #54046 closed, assigned to nobody

[2019-10-30 17:01] #47106 closed, assigned to nobody

[2019-10-30 17:24] christung16 opened #64116 "issue of aci_access_port_to_interface_policy_leaf_profile and aci_access_port_block_to_access_port"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

how to associate interface selector with leaf policy group in a leaf interface profile ??
I tried the module: aci_access_port_to_interface_policy_leaf_profile and aci_access_port_block_to_access_port but still doesn't work.

I thought the access-port selector is only created under leaf interface prof

[2019-10-30 17:24] #64116 closed, assigned to nobody

[2019-10-30 17:29] psehgal opened #64117 "Make terminal_stderr_re configurable for each device type (ansible network modules)"
##### SUMMARY
We have run into issues with the ios_config module where configuration is reported as having been changed for some lines when it actually has not. The issue is possibly related to https://github.com/ansible/ansible/issues/31575. The fix for that issue was adding a regular expression to the IOS terminal plugin. In this case, we are trying to set IP routing on an interface and the devi

[2019-10-30 17:35] bcoca commented on #63947
I made some changes to docs in hope of clarifying this in #64065, if you think that does not go far enough, feel free to submit a phrasing that would clarify the behaviour even more.

[2019-10-30 17:55] #63827 closed, assigned to nobody

[2019-10-30 17:57] athompson-merlin commented on #63864
Yeah, I know about the deprecations.  I get that code can become obsolete or unwanted, but I can't really transition to the *_vlans modules until there's similar generic net_vlans module.  In fact I raised that issue previously at https://github.com/ansible/ansible/issues/63812 .

I'll re-test with nxos_vlan, and nxos_vlans for good measure... eventually.  (Sorry, I don't have a time budget for th

[2019-10-30 18:15] AlanCoding commented on #55585
These modules are being deprecated, and we have something up to migrate the fix over to the new AWX collection

close_me

[2019-10-30 18:24] AlanCoding commented on #43234
Replacing with https://github.com/ansible/awx/issues/5171, we are deprecating the modules here

close_me

[2019-10-30 18:26] #55585 closed, assigned to nobody

[2019-10-30 18:38] #43234 closed, assigned to nobody

[2019-10-30 19:02] AlanCoding commented on #41687
Right now @ryanpetrello is working on the new AWX CLI. Until a CLI starts to support variable merges, I would rather not put it into consideration for the modules. As I've been saying in other issues here, we are migrating these modules out of core into an independent collection at https://github.com/ansible/awx/tree/devel/awx_collection. You can re-open another request in that issue queue, but I

[2019-10-30 19:08] AlanCoding commented on #32352
Also covered by other issues / pull requests

close_me

[2019-10-30 19:08] endejoli commented on #63120
I could not get it working. But yes, you can close it

[2019-10-30 19:11] #41687 closed, assigned to nobody

[2019-10-30 19:17] jborean93 commented on #64113
I think the issue right now is that we expect `ansible_winrm_kinit_cmd` to just be the path to `kinit` and not additional arguments, so right now the code as is is trying to find a file called `/opt/CA/uxauth/bin/uxconsole -krb -init` and not just the `uxconsole` part.

[2019-10-30 19:22] #32352 closed, assigned to nobody

[2019-10-30 19:24] underqualifieditguy commented on #64039
Any update on this?

[2019-10-30 19:26] AlanCoding commented on #30655
Could not fully reproduce, but replacing this with https://github.com/ansible/awx/pull/5175

close_me

[2019-10-30 19:29] kepstin opened #64121 "import_role with allow_duplicates: no doesn't work"
##### SUMMARY
There appears to be no way to ensure that a role imported multiple times with `import_role` is only run once. The `allow_duplicates` option in the documentation appears to do nothing.

I'm hitting this issue with roles importing other roles, but as my minimal reproducer demonstrates, that's not required.

Am I missing something here, or is role deduplication with the `import_role` fe

[2019-10-30 19:32] #30655 closed, assigned to nobody

[2019-10-30 19:39] berquist commented on #64079
I'm not the person who set this up, but it looks like AutoFS is being used. Relevant line from `/etc/auto.master`:
[code]
Relevant line from `/etc/auto_nas`:
[code]
so it looks like no options are set, and there's nothing obvious in the global AutoFS config. Setting `ANSIBLE_REMOTE_TMP` for the above example solved the problem.

[2019-10-30 19:42] AlanCoding commented on #60327
Addressing in the new AWX collection, put up fix at https://github.com/ansible/awx/pull/5176

close_me

[2019-10-30 19:46] AlanCoding commented on #29149
Modules are being replaced with new AWX collection. Migrated issue to https://github.com/ansible/awx/issues/5177

close_me

[2019-10-30 19:48] AlanCoding commented on #42784
Appears to have been resolved with https://github.com/ansible/tower-cli/pull/561

close_me

[2019-10-30 19:54] #60327 closed, assigned to nobody

[2019-10-30 19:54] #42784 closed, assigned to nobody

[2019-10-30 19:54] #29149 closed, assigned to nobody

[2019-10-30 19:59] AlanCoding commented on #17605
actually this is covered by the modern aws_ec2 inventory plugin

close_me

[2019-10-30 20:00] AlanCoding commented on #24920
if this is still an issue you can file in the AWX issue queue (if it's not already there, which it may be)

close_me

[2019-10-30 20:03] AlanCoding commented on #34150
You should really go through official support for issues like these, I'm sorry we left this unattended for so long. This really isn't the right place for it.

close_me

[2019-10-30 20:05] AlanCoding commented on #45172
Ability to take inputs was added in the AWX collection here https://github.com/ansible/tower/pull/3820

close_me

[2019-10-30 20:10] #63412 closed, assigned to Qalthos

[2019-10-30 20:15] ryanpetrello commented on #60331
@iridian-ks,

We've recently moved the "Tower modules" into an official AWX collection that now lives at:

https://github.com/ansible/awx
https://galaxy.ansible.com/awx/awx

see: https://groups.google.com/forum/#!searchin/awx-project/collection%7Csort:date/awx-project/pLzVdXFm9is/We2XXLDqCAAJ

If you're still encountering this issue, would you mind re-opening a new issue over at https://github.com

[2019-10-30 20:15] #60331 closed, assigned to nobody

[2019-10-30 20:18] ryanpetrello commented on #58736
@asdkant ,

We've recently moved the "Tower modules" into an official AWX collection that now lives at:

https://github.com/ansible/awx
https://galaxy.ansible.com/awx/awx

see: https://groups.google.com/forum/#!searchin/awx-project/collection%7Csort:date/awx-project/pLzVdXFm9is/We2XXLDqCAAJ

If you're still encountering this issue, would you mind re-opening a new issue over at https://github.com/a

[2019-10-30 20:18] #58736 closed, assigned to nobody

[2019-10-30 20:20] #45172 closed, assigned to nobody

[2019-10-30 20:22] ryanpetrello commented on #57350
closing, see: https://github.com/ansible/ansible/pull/57401#issuecomment-548095155

[2019-10-30 20:22] #57350 closed, assigned to nobody

[2019-10-30 20:23] gstorme commented on #64101
When I change the regex for `_DISTRO_RELEASE_BASENAME_PATTERN` in [_distro.py](https://github.com/ansible/ansible/blob/a5d69f2a26120dd72b38a7a2930df147530ccbbf/lib/ansible/module_utils/distro/_distro.py#L89) into this:
[code]
It skips reading the /etc/plesk-release file and reports the facts as expected.

[2019-10-30 20:25] ryanpetrello commented on #63564
@idelsink ,

Thanks for filing this issue.

As @AlanCoding alluded to, we've recently moved the "Tower modules" into an official AWX collection that now lives at:

https://github.com/ansible/awx
https://galaxy.ansible.com/awx/awx

see: https://groups.google.com/forum/#!searchin/awx-project/collection%7Csort:date/awx-project/pLzVdXFm9is/We2XXLDqCAAJ

If you're still interested in this change, would

[2019-10-30 20:25] #63564 closed, assigned to nobody

[2019-10-30 20:26] #17605 closed, assigned to nobody

[2019-10-30 20:26] #24920 closed, assigned to nobody

[2019-10-30 20:26] #34150 closed, assigned to nobody

[2019-10-30 20:27] ryanpetrello commented on #36988
@IshwarKanse,

Thanks for filing this issue.

We've recently moved the "Tower modules" into an official AWX collection that now lives at:

https://github.com/ansible/awx
https://galaxy.ansible.com/awx/awx

see: https://groups.google.com/forum/#!searchin/awx-project/collection%7Csort:date/awx-project/pLzVdXFm9is/We2XXLDqCAAJ

If you're still interested in this change, would you mind re-opening a ne

[2019-10-30 20:27] #36988 closed, assigned to nobody

[2019-10-30 20:28] #45173 closed, assigned to nobody

[2019-10-30 20:28] ryanpetrello commented on #46803
@justjais,

Thanks for filing this issue.

We've recently moved the "Tower modules" into an official AWX collection that now lives at:

https://github.com/ansible/awx
https://galaxy.ansible.com/awx/awx

see: https://groups.google.com/forum/#!searchin/awx-project/collection%7Csort:date/awx-project/pLzVdXFm9is/We2XXLDqCAAJ

If you're still interested encountering this problem, would you mind re-open

[2019-10-30 20:28] #46803 closed, assigned to nobody

[2019-10-30 20:34] felixfontein commented on #63120
Ok. If you need more help, try #ansible on IRC or the ansible-project mailing list / google groups https://groups.google.com/forum/#!forum/ansible-project.

[2019-10-30 20:34] #63120 closed, assigned to nobody

[2019-10-30 20:36] #59039 closed, assigned to nobody

[2019-10-30 20:37] MarkusTeufelberger commented on #45172
This link is not public, Is that a link to a copy of this issue or do you mean it was fixed in a PR already?

[2019-10-30 21:17] telbizov commented on #64016
@sivel I tested the proposed patch above and it seems like the logic is fixed and matches the intended behaviour. If the file exists locally, regardless of its contents if skips the download.

What version of ansible do you envision to incorporate the fix in?

[2019-10-30 21:19] wltjr commented on #63974
@mahmutaydin1 nice, I had not seen that format before. Many ways to skin a cat, if skinning cats is your thing. Probably can close this when you get a chance. Unless, there is something left to be done. Thanks!

[2019-10-30 21:19] wltjr commented on #63974
Forgot to say, you are welcome, and thank you for mentioning the format you went with!

[2019-10-30 23:23] jithendra12 commented on #54748
It works fine when I disable selinux. But it is not a good practice. Keeping it in permissive mode should be okay. But it dint work. So, disabled it.
How to do it? : https://docs.ansible.com/ansible/latest/modules/selinux_module.html
**To put it in permissive mode:**
[code]

**To disable selinux:**
[code]

This status will be updated after rebooting your server. So, you might wanna have to add a h

[2019-10-30 23:42] likan999 opened #64128 "Incorrect indirect variable expansion if accessed from intermediate result"
##### SUMMARY

If a hostvar definition contains another variable, it can be expanded properly normally, but if we first store parent in an intermediate variable and accessed from the there, the variable is no longer expanded. See my full reproducible case below for details. But in short, suppose we have two hostvars:
[code]
then the following prints out string ``{{ x }}`` instead of `100`:
[code]

[2019-10-31 00:24] ruizink commented on #59579
I suppose this issue was fixed in #56710 and shipped with ansible `2.8.1`.

Here's the link to that particular commit f9005201c8fdd9bf161aefca9e54874576cd6289.

[2019-10-31 00:43] AlanCoding commented on #45172
oh I'm sorry, that link was definitely my goof. Statement applies, but link should have been:

https://github.com/ansible/awx/commit/fb67b8edf9ec4eb9c273a1208cc51b0e53562afc

[2019-10-31 00:49] AlanCoding commented on #45172
More on how modules are being split out of core and put into a stand-alone collection

https://groups.google.com/forum/#!searchin/awx-project/collection%7Csort:date/awx-project/pLzVdXFm9is/We2XXLDqCAAJ

https://github.com/ansible/ansible/pull/62924

[2019-10-31 01:21] kgrozis-arista commented on #64042
Hi @justjais, I attempted to validate eos_lag_interfaces on ansible-version 2.9.0rc5, and I'm seeing this module failing too.  It appears the channel-group number is not be adding to CLI output.

For instance when I try to add port-channel 5 to ethernet 4 I expect the following:
**channel-group 5 mode on**

I'm seeing the following in the output which creates an error:
**channel-group  mode on**

[2019-10-31 04:23] dove-young opened #64129 "AttributeError: 'NoneType' object has no attribute 'get' on k8s"
##### SUMMARY

Deploy `ingress-mandatory.yaml` and `ingress-service-nodeport.yaml`  to K8S cluster failed.  Error message said AttributeError: 'NoneType' object has no attribute 'get'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- k8s
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- RHEL 7.6

##### STEPS TO REPRODUCE

- define playbook `k8s-addons.yaml

[2019-10-31 04:41] Akasurde commented on #64105
!component =lib/ansible/plugins/action/include_vars.py

[2019-10-31 05:08] dove-young opened #64130 "`patch` module does not treat `strip` parameter in the same way `patch` command does."
##### SUMMARY

`patch` module does not treat `strip` parameter in the same way `patch` command does.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

patch
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

And here is my patch file

[code]

##### EXPECTED RESULTS

Here is the content from `man patch` command.  and especially

[2019-10-31 05:10] dove-young commented on #64130
This problem can be workaround by change playbook in this way

[code]

But this behavior is different than what was mentioned in `man patch`

`and not specifying -p at all just gives you blurfl.c. Whatever you end up with is looked for either in the current directory, or the directory specified by the -d option.`

[2019-10-31 06:13] mahmutaydin1 commented on #63981
Hello,

I have talked Arista team and they stated that there are some bug  their
modules  such that eos_bgp.py and eos_linkagg.py. So they suggest a
workaround by using eos_config.py. This module is providing to send
configuration from .cfg file that has configuration.

By the way, I have tested this modules 4.15.10 and 4.23 Eos version. Both
of same. Also, I have replaced modules whose version 2.

[2019-10-31 06:15] mahmutaydin1 commented on #63981
Hello,

I have talked Arista team and they stated that there are some bug  their
modules  such that eos_bgp.py and eos_linkagg.py. So they suggest a
workaround by using eos_config.py. This module is providing to send
configuration from .cfg file that has configuration.

By the way, I have tested this modules 4.15.10 and 4.23 Eos version. Both
of same. Also, I have replaced modules whose version 2.

[2019-10-31 06:35] omps opened #64137 "ansible not running command argument"
##### SUMMARY
Ansible command argument is not able run the yum advisory command.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
command module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

As I wanted to update the advisory on the system, but seems ansible command module is not able to run the "yu

[2019-10-31 07:01] Akasurde commented on #63967
resolved_by_pr #64139

[2019-10-31 07:03] Akasurde commented on #63967
@bobsaintcool Could you please try #64139 and let us know if it works for you ? Thanks.

needs_info

[2019-10-31 07:41] creusq opened #64141 "Script inventory plugin doesn't apply inventory cache config"
##### SUMMARY

I set cache settings in inventory and inventory plugin script ini section according to the docs, but cache isn't created. I tried with jsonfile cache plugin.
Docs:
[https://docs.ansible.com/ansible/latest/plugins/cache.html#enabling-inventory-cache-plugins](https://docs.ansible.com/ansible/latest/plugins/cache.html#enabling-inventory-cache-plugins)
[https://docs.ansible.com/ansible/

[2019-10-31 07:57] #62819 closed, assigned to nobody

[2019-10-31 08:32] #62810 closed, assigned to nobody

[2019-10-31 08:50] marcruhlmann opened #64144 "VMware: PyVmomi installed but not found by Ansible"
I have Ansible under Centos 8. When I write the command:

ansible-inventory --list -i inventory.vmware.yml

I get the following error messages:

[code]

When I run pip3 show pyvmomi I get:
[code]
What could be the problem?

[2019-10-31 09:03] Akasurde commented on #25714
resolved_by_pr #64087

[2019-10-31 09:14] Akasurde commented on #64137
Hi @omps !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us

[2019-10-31 09:14] #64137 closed, assigned to nobody

[2019-10-31 09:15] Akasurde commented on #64144
!component =lib/ansible/plugins/inventory/vmware_vm_inventory.py

[2019-10-31 09:16] Akasurde commented on #64144
@marcruhlmann Thanks for reporting this issue. Could you please provide additional information such as `ansible --version` ?

Thanks

needs_info

[2019-10-31 09:18] Akasurde commented on #64144
Also, provide information about any virtualenv installed and used while running ansible-inventory command.

[2019-10-31 09:25] jhy070997 opened #64145 "synchronize module failed with some errors"
##### SUMMARY

Copy module was too slow for my environment.
So I went to synchronize module.
Tasks in role worked well just except synchronize module and failed with errors.
And I don't know what is the main cause.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Catalina Version 10.15

[2019-10-31 09:27] marcruhlmann commented on #64144
[root@localhost ~]# ansible --version
ansible 2.8.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3.6/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 3.6.8 (default, Oct  7 2019, 17:58:22) [GCC 8.2.1 20180905 (Red

[2019-10-31 09:31] Akasurde commented on #62407
@ronansalmon I am not able to reproduce this using given playbook.

[code]

needs_info

[2019-10-31 09:45] Akasurde commented on #64144
Ansible is using Python binary from `/usr/lib/python3.6/site-packages/ansible`
whereas Pyvmomi is installed here - `/usr/local/lib/python3.6/site-packages`

Can you please check the environment ?

needs_info

[2019-10-31 09:52] marcruhlmann commented on #64144
I'm quite a beginner in Ansible, what do you mean exactly by "check the environment"? Do I have to add Pyvmomi's installation path in the ansible.cfg path?

[2019-10-31 10:17] Akasurde commented on #64144
Can you ping me (akasurde) on irc channel "#ansible-vmware" on freenode.net ?
Thanks.

[2019-10-31 10:21] Akasurde commented on #60632
resolved_by_pr #61292

[2019-10-31 10:27] EllisTheEllice opened #64146 "Use k8s module behind proxy"
##### SUMMARY

When using the k8s and the k8s_facts modules, the modules ignore any http_proxy settings made. It is not possible to use those modules along with a proxy.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s
k8s_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 7

##### STEPS TO REPRODUCE

Run an ansible playbook with k8s or k8s_f

[2019-10-31 10:29] EllisTheEllice commented on #64146
I opened a question on stackoverflow regarding this. The accepted answer provides as solution to the above described problem (for the k8s_facts module): https://stackoverflow.com/questions/58293511/use-ansible-k8s-module-behind-a-proxy/58297632

[2019-10-31 10:36] justjais commented on #63873
@marky2376 Thanks for logging the issue, but the way you're trying to use the `pattern_match` is not correct, plz follow the respective [Command_parser_play](https://github.com/ansible-network/network-engine/blob/devel/docs/user_guide/command_parser.md#sample-playbooks) example and try again.
It should resolve the issue you're facing.

[2019-10-31 10:49] tuwid commented on #60054
@yuji-k64613 didnt saw this in the docs, thanks for the update

[2019-10-31 10:49] #60054 closed, assigned to nobody

[2019-10-31 11:49] omps commented on #64137
Thanks Akshay, I was about to close this, the bug is actually with the patchset not with the playbook, thanks once again.

[2019-10-31 12:00] AlanCoding commented on #46803
And this was actually a real issue, but I'm not bothering with filing a new issue since I already have the testing and fix on hand. See Linked PR in AWX.

[2019-10-31 12:26] Akasurde commented on #64004
@damozhiying Sorry I should have said explicitly that with #64005 patch you need to include `name` in your playbook as well like -

[code]

[2019-10-31 12:26] Akasurde commented on #64004
@dove-young I am not sure about this error message.

[2019-10-31 12:30] seblu commented on #63881
In this case, the template value that is not replaced **is not from** a vault encrypted value.
On the other hand, the value encrypted from an inline vault is well replaced by template.
Let's say it's wanted.

The workaround you propose works well. Thanks!

Another workaround is:
[code]

[2019-10-31 12:40] justjais commented on #63761
@GomathiselviS thanks for logging the issue, fix for the issue is merged in `devel` and also will create a backport for `2.9`.

[2019-10-31 12:40] #63761 closed, assigned to justjais

[2019-10-31 12:47] pawellrus commented on #59056
Got the same infinite reboot cycle today again.
Servers were clean-deployed before.

[2019-10-31 12:56] kchawla-pi commented on #56626
I am thinking of contributing to this, but the PR associated with it was closed. WHy is that? Was it not the right solution?

[2019-10-31 13:15] Shaps commented on #64094
Hi @TeamNautilus! Thanks for reporting this, I had some trouble understanding why this happens ( I still don't really have an answer ).
Apparently what happens is that when there's a **space** in the pubkey comment ( the user module will default to having *ansible-generated on $HOSTNAME* ) the gitlab library gets confused and it tries to re-create the deploy key ( not assign it to the project, re-

[2019-10-31 13:16] MuFFinZ84 commented on #23349
Also have this issue, makes some playbooks extremely slow.

[2019-10-31 13:33] rewilliams1 commented on #64036
@Fred-sun , If you look at the ansible documentation there is a type parameter that you can set to private. One would think that this would mean private zone. If thats not the meaning, what does it mean?

I ended up using the azure_rm_resource module and using the using the Private DNSZone(Create Private DNS Zone) to create the private zone.

[2019-10-31 13:39] Akasurde commented on #56626
I closed this PR because https://github.com/ansible/ansible/pull/58869/files#r301612120. Yes it is not a correct solution to solve this problem.

[2019-10-31 13:54] sky-joker commented on #64039
Hi @underqualifieditguy

The vmware_vmkernel module vlan_id option has been removed from this PR(https://github.com/ansible/ansible/pull/47270
).

VLAN ID is set to the port group.
It is not set in VMkernel.
So, it seems to have been removed from this module.

If you want to set a VLAN, run a Playbook like this.

[code]

[2019-10-31 13:54] sce81 opened #64150 "unable to read from KV secrets engine vault enterprise"
##### SUMMARY

Hi, i am trying to read a secret from the following path
        secret: "{{ lookup('hashi_vault', 'namespace={{NAMESPACE}} secret={{ BRAND }}/{{ ENVIRONMENT }}/secrets/placeholder:foo url={{ VAULT_ADDR }} auth_method={{ VAULT_AUTH_METHOD }} role_id={{ VAULT_ROLE_ID }} secret_id={{ VAULT_SECRET_ID }}')}}"

but this fails with no secret found at location.
we are using enterprise and

[2019-10-31 14:04] underqualifieditguy commented on #64039
Hi @sky-joker ,

I will test it in my lab but I'm positive that the VLAN ID can be set at the vmkernel level as well. I was concerned that if the vmkernel was set to None and the portgroup had the VLAN ID on it that it would not work. Let me give it a shot and see the result.

[2019-10-31 14:07] sivel commented on #38568
Closing per https://github.com/ansible/ansible/pull/39752

[2019-10-31 14:07] #38568 closed, assigned to nobody

[2019-10-31 14:14] kchawla-pi commented on #56626
Then it would seem the real issue is that an error is not raised if there is another command in the import_playbook directive, not that the extra whitespace are not being stripped.

If there is no command after the imported playbook path, there is no error when I execute `ansible-playbook -i localhost, -c local simple_pb.yml` . It's not affected by extra whitespace or a comment.

I my assessment i

[2019-10-31 14:47] #60111 closed, assigned to nobody

[2019-10-31 14:55] sivel commented on #64130
`strip` is always provided to the `patch` command by this module. The default value is `0`, which leads to `--strip=0`, which is not the same as not providing `--strip`

There is no current functionality of the `patch` module to not include `--strip` in the invocation of the `patch` command.

To support that, would require a new feature. I'd classify this as a feature request instead of a bug.

Ch

[2019-10-31 15:05] sky-joker commented on #63678
Hi @cr00836

sysprep is ran if `ip` is defined in `networks`.
If you don't run sysprep, create a playbook like this.

[code]

remove `ip` from networks.

[2019-10-31 15:47] kchawla-pi opened #64154 "Additional parameters in import_playbook should fail but do not."
##### SUMMARY

Based on the issue #56626 and the conversation https://github.com/ansible/ansible/issues/56626#issuecomment-548395349, `import_playbook` should only accept a file name/path and not support additional parameters. Currently it does not raise an error when a tag is specified for example.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`lib/ansible/playbook/playbook_include.py`

#

[2019-10-31 15:50] jamesRUS52 opened #64155 "postgresql_query not apply sql file with copy command"
##### SUMMARY
postgresql_query not apply sql file with copy command
for example
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_query

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-10-31 15:51] s-hertel commented on #64105
Is there a reason you can't just use include_vars? Without seeing the inc_varz action plugin and the rest of the things you added, it's not clear what's missing. `include_vars` does some special stuff - you're probably missing the task_executor or strategy bits. Here's a working copy of include_vars you can use for comparison https://github.com/ansible/ansible/compare/devel...s-hertel:copy_include

[2019-10-31 16:00] fabianvf commented on #64129
Hmm, if there's multi-document yaml in those files and one of them is an empty document that could cause this error message. Can you paste the `ingress-mandatory.yaml` and/or `ingress-service-nodeport.yaml` definitions?

[2019-10-31 16:13] samdoran commented on #23349
Testing an[ inventory with 10,000](https://gist.github.com/samdoran/6d6190440619e85e9d08f29263deee3c) hosts, I can confirm this is terribly slow in 2.3.3 with Python 2.7.16 but has been reasonably fast since 2.6.

#### Results Summary

| Version           | Task duration       |
|-------------------|---------------------|
| 2.3.3| 210.18s |
| 2.4.6| 205.55s |
| 2.5.15| 230.33s |
| 2.6.20| 20.44s |

[2019-10-31 16:14] samdoran commented on #23349
I'm going to close this based on the test results given above. If this is still an issue with newer Ansible versions, please open a new issue. Thank you.

[2019-10-31 16:14] #23349 closed, assigned to nobody

[2019-10-31 16:16] AlanCoding commented on #58736
Fix at https://github.com/ansible/awx/pull/5195

[2019-10-31 16:38] sblondon commented on #62055
The bug has been fixed in commit 2108a2e1c90ad97d69f82cd7e38390bc9f17839d

With this patch, it only raises a warning. However it cannot work properly, so it should be an error. `str_strict` is probably the right way to fix the bug.

[2019-10-31 16:48] sgreiner opened #64158 "lineinfile broken with regexp and backrefs: yes"
##### SUMMARY
Lineinfile module produces python error when using regexp combined with backrefs: yes

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible executed on Ubuntu 18.04 (WSL) -> target OS was also a Ubuntu 18.04

##### STEPS TO REPRODUCE

Create a file /home/xyz/projects/testfile with t

[2019-10-31 17:20] RanFirstTry commented on #49254
Im having the same issue and same fix, pre-empting the ansible-playbook command with ANSIBLE_HOST_KEY_CHECKING=False works, but having host_key_checking as false in defaults, and ansible_ssh_common_args='-o StrictHostKeyChecking=no' doesnt seem to work, both in groupvars/all and in the hosts file itself.

[2019-10-31 17:24] let-thomas commented on #64105
`inc_varz` action plugin is just plain copy of `include_vars`, not any other change there.
Basically what we want to achieve is .... or better said we have in yaml quite complex definition/description of infrastructure (not only one yaml, have more). But for each level we need some of "tweeking" either here or there (like add more ram, bigger disk, add machine, override machine name if on prem ins

[2019-10-31 17:26] samdoran commented on #64158
Duplicate of #63756.

[2019-10-31 17:26] #64158 closed, assigned to nobody

[2019-10-31 17:29] samdoran commented on #64079
Thank you for the follow up. I'm going to go ahead and close this since it was a permission problem on the managed node.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-31 17:29] #64079 closed, assigned to nobody

[2019-10-31 17:32] jdnrg commented on #62724
I am using https://github.com/jdnrg/aws_lambda_dependency_layer to create a layer, with some tweaks got it working for python. There also needs to be a change to change the create function.

[2019-10-31 17:36] samdoran commented on #63977
@HERBOD7 Awesome! It should be fairly straightforward. Please reach out in #ansible-devel on irc.freenode.net if you need help.

[2019-10-31 17:54] abadger opened #64160 "Ansible PPA does not build on xenial and trusty"
##### SUMMARY
The 2.9.0 build of ansible on the ansible PPA errored out for Xenial and Trusty:

https://launchpadlibrarian.net/448150215/buildlog_ubuntu-xenial-amd64.ansible_2.9.0~rc5-1ppa~xenial_BUILDING.txt.gz

My guess is that this commit is what broke it: https://github.com/ansible/ansible/commit/e14ccbf2c02cc484c41e223ae2e0e9bc0767498a

I'm further guessing that trusty and xenial are using an

[2019-10-31 18:48] s-hertel commented on #64012
:+1: The freenode.net IRC channel #ansible-aws may also have some suggestions, if you're still looking at alternative ways to structure things. You could also put a custom module (perhaps something like this https://gist.github.com/s-hertel/e8c15cdf9c4f89b3f2cd9b3d72c9e294) in your `library/` directory for Ansible to pick up.

I'm closing this since environment variables set before running the pla

[2019-10-31 18:48] #64012 closed, assigned to nobody

[2019-10-31 19:08] swimlappy commented on #58242
FYI, I'm still getting this bug triggered in the newly released 2.9.0 from today.  I was getting it prior with 2.8.6 and was hoping it would be fixed in the new version.  Doesn't appear to be for me.

[2019-10-31 19:25] samdoran commented on #64105
To discuss this further, please continue the conversation on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-10-31 19:25] #64105 closed, assigned to nobody

[2019-10-31 19:30] samdoran commented on #64145
This seems like an authentication error : `Permission denied, please try again.`

Please provide the playbook run with `-vvvv`.

needs_info

[2019-10-31 21:45] jeff-cook commented on #40710
Having the same issue. I want to see what will change when running --check and --diff.

Here is my work around.

[code]

[2019-10-31 22:09] #58467 closed, assigned to nobody

[2019-10-31 22:15] geerlingguy opened #64169 "Ansible 2.9.0 dynamic variable via set_fact stopped working in with_dict loop"
##### SUMMARY

Ansible 2.8.x and earlier did not have an issue on any OS with an interpolated variable like `php{{ php_version }}` via `set_fact` using a loop, but it seems with 2.9.0, a variable set this way may cause issues:

[code]

In the role's `vars/main.yml`:

[code]

See role where this is done: https://github.com/geerlingguy/ansible-role-php-versions

I first noticed this on my Drush role

[2019-10-31 22:54] sivel commented on #64169
The issue started with 164881d871964aa64e0f911d03ae270acbad253c

Reproducer:

[code]

vars.yml
[code]

[2019-10-31 22:54] schrodervictor commented on #31999
There is already a pull request open (#56736) touching this same modules. That pull request has a different goal (supporting check/diff mode and covering `iam_managed_policy` with tests).

As the refactoring was quite extensive and that pull request already got a "LGTM" from a reviewer, I would say it's currently dangerous to work on the feature proposed here without huge risks of unsolvable confl

[2019-10-31 23:03] sivel commented on #64169
This is the line that caused the change:

https://github.com/ansible/ansible/commit/164881d871964aa64e0f911d03ae270acbad253c#diff-76ffc0551f8cf3d6255500316568e60bR270

That line previously, when using `UnsafeProxy` instead of `wrap_var`, never marked the values of the dictionary as `unsafe`, whereas `wrap_var` walks the data recursively. `UnsafeProxy` only dealt with strings, instead of any format

[2019-10-31 23:37] vijaychebium opened #64170 "Ansible script fails on Proprietary CLI"
Ansible script:
#Play book to push config file

[code]

ansible-playbook first.yml -v

When I ran the above command I am getting the following error

[code]

[2019-11-01 00:02] willthames commented on #64129
Certainly https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/mandatory.yaml ends with a `---` which will cause an empty resource at the end. I thought we handled empty items better these days. But I guess adding

[code]

at line 158 would suffice.

[2019-11-01 00:17] vijaychebium commented on #64170
issue type:Bug Report
ansible version : 2.9.0
component name : Ansible cli

[2019-11-01 01:37] geerlingguy opened #64174 "version_compare filter not working in Ansible 2.9.0, worked in 2.8.x"
##### SUMMARY

I am using the `version_compare` filter in a task's `when` condition. In 2.8.x and earlier, the filter worked, but in 2.9.0 I get an error message.

See failed CI job from `geerlingguy.git` role: https://travis-ci.org/geerlingguy/ansible-role-git/jobs/605770099#L526

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

version_compare filter

##### ANSIBLE VERSION

[code]

##### CO

[2019-11-01 01:39] geerlingguy commented on #64174
It sounds like I might be running into some syntax that was deprecated in 2.5 with using filters as tests: https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#jinja-tests-used-as-filters

But making this test into something with `is` instead of `|` filters might make it a bit messy... still puzzling over it.

[2019-11-01 01:46] geerlingguy commented on #64174
Looking back at older builds (e.g. https://travis-ci.org/geerlingguy/ansible-role-git/jobs/602567810#L528), I do notice it had the deprecation warning... I just never noticed in a live playbook run I guess (I'm usually on top of these things :P).

[code]

[2019-11-01 01:48] geerlingguy commented on #64174
Upstream issue: https://github.com/geerlingguy/ansible-role-git/issues/38 — looks like I just missed this one in the culling of my deprecation warnings over the past year... ugh.

[2019-11-01 02:14] geerlingguy commented on #64174
Closing this issue since it was a deprecated usage removed in 2.9.

[2019-11-01 02:14] #64174 closed, assigned to nobody

[2019-11-01 02:30] jhy070997 commented on #64145
@samdoran
In remote server, I ran commad ```lastb```, then actually it looks like failed to ssh. But other tasks (using copy, shell, systemd.. etc) are get result of ok or changed. except this synchronize module.
Here is my ansible-playbook command with -vvvv.
[code]

[2019-11-01 03:37] jhy070997 commented on #64145
Now, I can run synchronize mudule with no failure with 'ssh-copy-id' to remote server.
But I had ssh to remote server several times but no 'authorized_keys' in remote server.
And, I'm curious that why other modules was succeed

[2019-11-01 03:47] Fred-sun commented on #64036
@rewilliams1 I checked the materials related to API and SDK, but did not clearly indicate the private and public purpose of zonetype. However, no matter API or azure portal, private DNS zone and DNS zone are two different modules. I'll keep following. Thank you very much!

[2019-11-01 04:34] roperto opened #64175 "Option to promote warnings to errors"
##### SUMMARY
When using CI/CD (and probably other use cases) we want to make sure all warnings are dealt with and resolved. Parsing the output is error prone, so ideally ansible would return a non-zero return code when a warning is thrown.

The suggestion is that we add a new parameter or configuration directive that would activate this behavious

It could be achieved in two ways:

1) turn warnin

[2019-11-01 04:47] roperto commented on #64175
!component -lib/ansible/modules/system/runit.py

[2019-11-01 04:47] Lusitaniae commented on #29574
I have the same, but it shows as changed instead of failed

[code]

Result:

[code]

Git status
[code]

Checking out the modified file and rerunning the playbook solves this:

`git checkout web/themes/custom/form.css`

[code]

Still effects recent versions

[code]

Why does it report as success/changed without actually going through?

Why doesn't it effectively reset the repo before doing checkout

[2019-11-01 04:52] markatdxb opened #64176 "ome_device_info getting connection refused"
##### SUMMARY

running simple playbook against our OME with valid credentials but getting error connection refused
our OME also doesnt have trusted certificate but there is no option in module to ignore certification validation
also not sure if our OME version is supported by this module - module DOC doesnt specify the requirements
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ome_device_in

[2019-11-01 05:21] Akasurde commented on #64170
!component =lib/ansible/modules/network/cli/cli_command.py

[2019-11-01 05:27] prasadkatti commented on #64017
@s177437 - The module does take a `changeset_name` parameter that can be used to specify a custom changeset name.

[2019-11-01 05:31] roperto commented on #64175
The only way I can see hooking this code is in the "Display" class, by creating a static variable which counts how many warnings were issued.

I cannot rely on the `._warns` field because Display is not a singleton.

Due to multithreading, the value is being lost once the execution of the play ends so I will have to deal with it.

Does anybody have a better approach for that implementation?

[2019-11-01 05:33] Akasurde commented on #43275
@benjdudas Could you please provide the additional information required for @mnaser to work on ? Thanks

needs_info

[2019-11-01 05:34] Akasurde commented on #43275
!component =lib/ansible/modules/cloud/openstack/os_server_info.py

[2019-11-01 05:49] Akasurde commented on #59002
@sbarre-esit Could you please check if #47877 fixed your issue or not ? Thanks

needs_info

[2019-11-01 05:55] #63975 closed, assigned to Qalthos

[2019-11-01 06:08] #64145 closed, assigned to nobody

[2019-11-01 06:10] Andersson007 commented on #64155
@jamesRUS52 hello
[code]
psql returns the same, there is a syntax error related to the line
```для инфраструктуры```

please, close this issue

[2019-11-01 06:19] jamesRUS52 commented on #64155
I don't' agree with you
You got error becaouse you don't have table public.sites
[code]
[code]
correct work for me
try to create table like this
[code]

[2019-11-01 06:36] Fred-sun commented on #64036
@mybayern1974 Can you confirm with the community staff the role of the two attributes of zone_type? Thank you very much!

[2019-11-01 06:40] Andersson007 commented on #64155
@jamesRUS52 , it's not important
i created the db in the table into it, but the first time i forgot to pass it.
when i passed it correctly, got the same result
[code]

[2019-11-01 06:42] justjais commented on #63082
@noziwatele Thanks for logging the issue, I tried to reproduce the scenario on Ansible `devel` and `2.8.5` as well but for me `check_mode` is working as expected and for each play run it's running and showing as `changed=1` and `no` actual change is made to nios appliance.
Play used:
[code]
run env:
[code]

[2019-11-01 07:09] xiaoyaolaotou commented on #51326
###

[2019-11-01 08:12] mibaboo commented on #63681
I managed to resolve this thanks @fabianvf for pointing me in the right direction.

[code]

The import part in my case was changes the source image kind to **ImageStreamTag** instead of ImageStreamImage

[2019-11-01 08:33] peterducai commented on #63733
again and last time... your implementation is wrong. by default user should be user which runs sudo. if we talk about sudo, we mean 'sudo su' which doesnt' work same way as 'sudo -u root'. please discuss this with your sysadmin which knows how sudo works. thank you.

[2019-11-01 08:43] akuma85 commented on #63733
'yes, this implementation doesn't behave like sudo su.. .but as sudo -u user and this should be fixed.'
Or
sudo su - doesn't need root's password, so your implementation is wrong.

[2019-11-01 09:00] cueedee commented on #54403
It gets worse on repeated runs; an additional space is added each time:

`##` becomes `# #`
`# #` becomes `#  #`
`#  #` becomes `#   #`, and so on ...

I currently actively undo changes to `sources.list` afterwards, but it would be nice if this issue could get fixed given that it got reported for `ansible@2.5` and is _still_ present in `ansible@2.8.5`.

[2019-11-01 09:16] peterducai commented on #63733
Sudo runs a single command with root privileges. ... This is a key difference between su and sudo. Su switches you to the root user account and requires the root account's password. Sudo runs a single command with root privileges – it doesn't switch to the root user or require a separate root user password.

[2019-11-01 10:20] #63681 closed, assigned to nobody

[2019-11-01 10:33] vburamdo opened #64250 "Ansible on 2nd and later runs expanding the Logical Volume size by doubling it, rather than locking it at 50% of the VG"
##### SUMMARY

Issue is caused by Ansible on 2nd and later runs expanding the Logical Volume size by doubling it, rather than locking it at 50% of the VG.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
!component
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS version: OracleLinux 7.x

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTU

[2019-11-01 10:37] sanjakuzman opened #64252 "Ansible"

[2019-11-01 10:38] vburamdo commented on #64250
ansible not able to deal with 2 block devices using LVM in RAID1/Mirror, while 4 block devices using LVM in RAID10/Striple + Mirror works fine.

[2019-11-01 11:31] sblondon commented on #39651
I failed to reproduce the bug with python 3.7.5 and Ansible development version (last commit 548fa65ac6db1f3b24944a106fa01872362fea17):

[code]
There is a fix for the documentation in #64260.

[2019-11-01 11:42] gtie commented on #64016
@sivel, the condition fix looks good - how soon can it get released? With a large server farm, this bug triggers a stampede effect, where there would be 0 requests normally.

[2019-11-01 11:45] acolden commented on #57061
I have the same as @Smithe2413 but my vaulted passwords are in group_vars/*/vault.yml files.

Rolling back to 2.8.6 as it works fine.

[2019-11-01 12:25] xdkreij commented on #61193
The issue exists in ansible 2.9 as well.

[2019-11-01 12:43] jamesRUS52 commented on #64155
Андрей, скорее всего копипаст поломал табы
вот приложил файлом
[test.zip](https://github.com/ansible/ansible/files/3797908/test.zip)
а вот мой результат если проливать через psql
[code]

[2019-11-01 12:55] Jeroen-jumping-fox opened #64265 "Incorrect sudo password"
##### SUMMARY
I upgraded from Ansible v2.8.6 (which worked fine) to v2.9.0 and now I get "Incorrect sudo password" when I run any playbook with 'become: yes'  in it.
When I downgrade to v2.8.6 everything is working again.
I have tested this on different Ubuntu machines

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
become: yes

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

#####

[2019-11-01 13:23] gnuheidix commented on #38267
I've debugged it a bit further because I'm affected. I've noticed that on the remote side, it hangs an awfully long time executing AnsiballZ_unarchive.py, I've connected to this process via _strace -f -p PID_ and found out that it iterates through every single file path discovered in the zip archive with lstat(PATH) syscalls. At the end of the execution of this python script, it launches unzip whi

[2019-11-01 13:35] jasonpepper opened #64267 "kinesis_stream Wait Calls DescribeStream In a Loop Without Pause"
##### SUMMARY
If you use kinesis_stream with wait set to yes, ansible will call the DescribeStream API call in a loop with no sleep in between calls. I've seen up to 95 calls per second. You will most likely receive rate exceeded errors which are masked by ansible but can be seen in your CloudTrail logs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kinesis_stream

##### ANSIBLE VERSION
[co

[2019-11-01 13:38] Andersson007 commented on #64155
@jamesRUS52 , ok, thanks for the archive, will try it next Monday.
Better to use English for further conversion because most of contributors in our WG certainly don’t understand Russian.
Anyway thank you for reporting this!

[2019-11-01 13:39] mjlshen opened #64268 "graceful parameter in netscaler_service module doesn't seem possible to use"
##### SUMMARY
Setting graceful to true should trigger a graceful disable of the service, but the module claims `graceful` is an immutable attribute, while it is a valid attribute to update via the DISABLE action according to the [NetScaler API Documentation](https://developer-docs.citrix.com/projects/netscaler-nitro-api/en/12.0/configuration/basic/service/service/#disable)

Tested on Ansible 2.8.6

[2019-11-01 14:21] #63522 closed, assigned to nobody

[2019-11-01 14:22] infrascripting commented on #18305
IDK if it will help, but if you prepend `ANSIBLE_DEBUG=1` to the execution, it will show even more verbose info, though I’m not sure it would reveal anything else helpful.

Regards,
--
Andrew Cziryak
cziryaka@oclc.org
Systems Analyst
(614) 446-5653

From: Alain P Igban <notifications@github.com>
Reply-To: ansible/ansible <reply@reply.github.com>
Date: Wednesday, October 23, 2019 at 6:57 AM
To: ans

[2019-11-01 14:35] benjdudas opened #64271 "Make `mode` type in nxos_vlan a required parameter."
##### SUMMARY

For the fix of [#53887](https://github.com/ansible/ansible/issues/53887) VLAN mode now defaults to `ce` in 2.8. Since behavior for this has changed and it is not required a parameter, users are unintentionally overwriting mode fabricpath for previously configured vlans.  If the parameter was required then at least the playbook will fail and give users a chance to configure the corre

[2019-11-01 14:37] sivel commented on #64169
At minimum, as a workaround until we understand if this is expected or not, this change to the task seems to work as expected:

[code]

[2019-11-01 14:40] sivel commented on #64016
I am not actively working on this issue.  I have provided a proof of concept fix that someone else can validate, make modifications if necessary, provide a pull request to resolve it, and include integration tests.

[2019-11-01 14:42] #64252 closed, assigned to nobody

[2019-11-01 14:49] ejeanbaptiste commented on #44809
@k0ste  I'm working on a project that would really benefit from the cups module you wrote. How would I go about including it my playbooks. Since it's not part of the official module yet?

[2019-11-01 15:16] samdoran opened #64275 "ansible-test partially included in ansible rpm"
##### SUMMARY

When installing the Ansible 2.9 (or the nightly 2.10) rpm, it installs `/usr/bin/ansible-test` but none of the `ansible_test` libraries. Running `ansible-test` produces a stack trace as a result.

This may be due to the glob in the spec file picking up `ansible-test`, but I'm not sure.
https://github.com/ansible/ansible/blob/c76e074e4c71c7621a1ca8159261c1959b5287af/packaging/rpm/ans

[2019-11-01 15:17] gregsmith-movista commented on #56023
Still an issue on 2.8.4

[2019-11-01 15:26] geerlingguy commented on #64169
Testing the above workaround now: https://travis-ci.org/geerlingguy/ansible-role-php-versions/builds/606051068

[2019-11-01 15:27] chrisvanheuveln commented on #64271
Behavior broken by #55144. The `mode` state should be ignored (for merge action) if the playbook does not specify it.

[2019-11-01 15:46] ikzelf opened #64278 "zabbix_host add tags support"
##### SUMMARY

zabbix_host already has support for the inventory tag and Asset tag but the general host tags are still missing. They would be a nice addition.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

zabbix_host.py

##### ADDITIONAL INFORMATION

It would make event correlation a bit easier and I am sire many more things.

[code]

tags would need to be a list of name value pairs.

[2019-11-01 16:00] abadger commented on #64275
This will be fixed by #64277 and be present in the rpm builds for 2.9.1.  If someone needs a workaround before then, install the ansible-test package so that both the script and its library is present.  The Ansible Engine package for ansible-2.9.0-2 won't have this issue.  Nightlies on releases.ansible.com/ansible/rpm/nightlies will be fixed the day after #63277 is merged.

[2019-11-01 16:14] #64275 closed, assigned to nobody

[2019-11-01 16:18] kyklos commented on #58068
Is this going to be merged / fixed within a newer release?

[2019-11-01 16:29] mclaughlinjohn94 commented on #30411
Our way of working around this problem is to run playbooks using -u (username) and to have a bash script running that scans and kills open ssh sessions that exist after a specified amount of time and kill the PID when we can assume the host is causing the playbook to hang. I usually make this happen during the gathering facts stage or some other very non-impactful dummy play to check connection. I

[2019-11-01 16:37] ghjm commented on #62147
Perhaps a better option here would be to have a `umask` parameter to the fetch module.

[2019-11-01 16:56] appyoo commented on #30411
Doing the same, but scraping the /proc filesystem to find the ssh process start time, then killing after n seconds.  Unfortunately that then triggers SSH_RETRIES, so the kill script needs to run several times.

We run against an inventory of several thousand hosts, so it is impractical to enable further debug to narrow down the issue.  In our environment, we see it has hung ssh mux processes; stra

[2019-11-01 16:59] Krilivye commented on #54259
To setup a docker image based on debian to reproduce the bug
[code]

[2019-11-01 17:00] mintern opened #64285 "Ansible 2.8 Porting Guide has not been republished to include "recent" fixes"
##### SUMMARY

https://github.com/ansible/ansible/pull/60943 improved the porting guide, but it's not published at https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.8.html. This forces me to link to a PR file diff instead of the published documentation when referencing this information.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

Porting Guide

[2019-11-01 17:05] sblondon commented on #54259
Apache configuration to reproduce:

[code]

Dépendancies required on the system are available in https://www.digitalocean.com/community/tutorials/how-to-use-apache-as-a-reverse-proxy-with-mod_proxy-on-debian-8

Tested with Debian testing, Apache 2.4.41, Python2.

[2019-11-01 17:07] geerlingguy commented on #64175
This is a double-edged sword, just because I know I'm probably hit by at least 100-200 deprecation warnings every Ansible release across all my roles and playbooks, and having that deluge of build failures every few months would be insane.

But I do see the value; easier to fix what you can see, and a build failure makes you see it pretty quick.

[2019-11-01 18:32] bcoca commented on #64175
warnings go to stderr, so you can just condition on it being non empty.

[2019-11-01 18:37] samccann commented on #64285
It's there now (you were just an hour too soon on us updating latest :-)

That said, it's not backported to stable-2.8 so I'll go ahead and do that. Thanks for the catch!

[2019-11-01 19:03] sblondon commented on #54259
The code in the two previous comments (https://github.com/ansible/ansible/issues/54259#issuecomment-548867615 and https://github.com/ansible/ansible/issues/54259#issuecomment-548869561) complement each other to reproduce the bug.

[2019-11-01 19:12] samccann commented on #64285
It's possible this issue will be auto-closed now that the PR is merged, but I will republish 2.8 docs before end of day and verify it's all there now.

[2019-11-01 19:25] rrotaru commented on #60152
@realged13 the link you posted shows the hexadecimal values for timezones. The module and vmware API accept decimal values (link that @cigamit posted which is also available in the [Ansible docs for this module](https://docs.ansible.com/ansible/latest/modules/vmware_guest_module.html#vmware-guest-module) (see customization section).

21 hexadecimal value for Central time converts to 33 which match

[2019-11-01 19:28] vMarkusK opened #64291 "vmware_guest Module - VM Advanced Options fail with Ansible 2.9.0"
##### SUMMARY

Adding VMware VM with Advanced Options fails since Ansible 2.9.0. The same Playbook was fine with Ansible 2.8.5

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- VMware vSphere 6.7 Update 2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Creates a New VMware vSphere VM

[2019-11-01 19:29] saraogivinay opened #64292 "AWS elb_target_group requires protocol, port, vpc_id values even when state is prsent"
**SUMMARY**
In ansible 2.9, if you create an AWS ELB target group using the elb_target_group module, it only seems to configure the Stickiness on creation and not on subsequent runs.

**ISSUE TYPE**
Bug Report
COMPONENT NAME
elb_target_group

**STEPS TO REPRODUCE**
Create an ELB target group using the elb_target_group module in two different tasks. First task will create a new target group of type

[2019-11-01 19:35] samccann commented on #64285
The 2.8 porting guide is now also updated on 2.8:
https://docs.ansible.com/ansible/2.8/porting_guides/porting_guide_2.8.html#bare-variables-in-conditionals
So it is available on 2.8, and /latest (2.9).  Thanks for the catch @mintern !!

[2019-11-01 19:35] #64285 closed, assigned to samccann

[2019-11-01 19:42] mycloudrevolution commented on #64291
Is it possible that the new 'customvalues' does not properly handle new Options?

**New**
[code]

**Old**
[code]

[2019-11-01 19:47] samdoran opened #64294 "dnf - _package_dict() doesn't handle packages that do not have a dot in the version number"
##### SUMMARY

Trying to uninstall a package with a version number that does not contain a `.`, such as `mysql80-community-release-el8-1`, results in a stack trace.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`lib/ansible/modules/packaging/os/dnf.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS control node:
[code]

CentOS managed node runnin

[2019-11-01 19:49] ganeshrn commented on #64117
This feature is already added as part of the Ansible 2.9 release. Refer https://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#task-failure-due-to-mismatched-error-regex-within-command-response-using-network-cli-connection-type

[2019-11-01 19:49] mycloudrevolution commented on #64291
The vmware_guest module from Version 2.8 works fine with Ansible 2.9.0 in my case.

https://github.com/ansible/ansible/blob/stable-2.8/lib/ansible/modules/cloud/vmware/vmware_guest.py

[2019-11-01 19:51] #64128 closed, assigned to nobody

[2019-11-01 19:54] samdoran commented on #64294
This is the code that's returning `None` https://github.com/ansible/ansible/blob/c144262b48359b79184c8a429dc401779d1403a6/lib/ansible/modules/packaging/os/dnf.py#L414-L418

`version` is `el8` after line 415.

`'mysql80-community-release-el8-1.noarch'` is the `packagename` being passed to `_packagename_dict()`.

[2019-11-01 20:01] samdoran commented on #64294
I'm wondering which is the better approach to solving this:
1. Change the regexp so doesn't match or
1. Change the version testing logic to do something besides `.split('.')`

I'm not sure of the knock on effects since that function is used in some key places.

[2019-11-01 20:08] mintern commented on #64285
That was fast! Thank you!

[2019-11-01 20:11] samdoran commented on #64294
After discussing with @maxamillion, it makes the most sense to go with option 2 since the regexp is matching properly. We just need to evaluate the version string to account for `el8` is a pattern.

I verified that just skipping that whole block of code does uninstall the package correctly.

[2019-11-01 20:14] acozine opened #64296 "Add guidance for devs on info modules, facts modules, and lookup plugins"
##### SUMMARY
Developers can choose several approaches when creating code that retrieves data from remote resources. Help them understand when to create a lookup plugin, when to create `*_info` module, and when to create a `*_facts` module.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs.ansible.com
dev_guide

##### ANSIBLE VERSION
2.10
2.9

##### CONFIGURATION
N/A

##### OS /

[2019-11-01 20:16] #63936 closed, assigned to nobody

[2019-11-01 20:17] #63937 closed, assigned to nobody

[2019-11-01 20:21] s-hertel commented on #63936
I just wanted to add a note in case anyone else stumbles upon this pre-2.10 I thinks that they cannot use `auto`: The file should end with `vmware.yaml` or `vmware.yml` and the file should contain `plugin: vmware_vm_inventory`. In 2.10 (thanks to this commit bbbaf0dfe775bb7ab8584244a7162cd3a9a5f9a5) your file name can end also end with `vmware_vm_inventory.yaml` or `vmware_vm_inventory.yml`, but t

[2019-11-01 20:47] cognifloyd opened #64299 "Please allow installing ansible with poetry"
##### SUMMARY
Please declare Ansible dependencies in a way that poetry can understand. [Poetry](https://poetry.eustace.io/) does not execute `setup.py` to discover the dependencies, so this request is for something to make this work; this request is not about any particular implementation that makes dependencies visible to poetry.

Ideally, once this feature is added we should be able to do `poetr

[2019-11-01 21:00] GomathiselviS opened #64302 "eos_l3_interfaces: ipv4 address gets unset when ipv6 address is configured when state = replaced"
##### SUMMARY

When the interface has an ipv4 address configured already and an ipv6 address is passed under eos_l3_interfaces , the api, unsets the ipv4 address.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/network/eos/eos_l3_interfaces.py
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Arista EOS

##### STEPS TO REPRODUCE

[code]

##### EXPEC

[2019-11-01 21:07] cognifloyd commented on #64299
I can't seem to figure out the ansibot component that I should declare here. It is not related to any modules in particular.

[2019-11-01 21:09] webknjaz commented on #64299
@cognifloyd, unfortunately, we are unable to publish wheels atm.

Please note that Pip builds and caches wheels locally during the installation.
I think even if we include egg-info it wouldn't make sense as we still need to execute arbitrary code at the install time.

If Poetry doesn't support running `setup.py`, it's their bug and there's nothing we can do now with the current architecture in pla

[2019-11-01 21:13] webknjaz commented on #64299
!component =setup.py

[2019-11-01 21:25] oatakan opened #64303 "VMware: vmware_guest multiple CDROM implementation breaks backwards compatibility and other issues"
##### SUMMARY
There are a couple of issues with the new multiple CD-ROM implementation:

1. **breaks compatibility**, controller_number was assumed to be 0 (default) if not specified in previous releases, now it's mandatory attribute so existing playbooks with vmware_guest and cdrom attribute specified will fail unless updated with controller_number and unit_number attributes.
2. **user is asked t

[2019-11-01 21:29] marchenm commented on #57399
This also fails for me when not using a loop:

* playbook.yml
[code]

[2019-11-01 22:00] gerardocastaldo opened #64318 "ce_config don't save the configuration"
##### SUMMARY

ce_config module not save the configuration.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- ce_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE

You need to have a Cloudengine (I attached the display version).

NOTE: The hosts SF-CORE-DR,SF-12804-DR,AF-JVT-12804-DR in m

[2019-11-01 22:02] s-hertel commented on #62583
The inventory_hostname must be unique (it's the key in the host dictionary that Ansible creates and dictionaries need unique keys). If you have multiple instances with the same Name tag, only one instance will be available. I'm able to load my inventory with multiple hosts using your config file (each host has a unique Name tag). Can you check that your Name tags are unique? `ansible_host`, on the

[2019-11-01 22:08] mmallet-digipok opened #64319 "azure_rm_storageaccount_info: Unable to retrieve all storage accounts"
##### SUMMARY
If the resource_group module parameter is not specified, the module is supposed to fetch all storage account of the current subscription. Unfortunately, the module is bugged and the module 'list_all' method calls 'list_by_resource_group()' rather than 'list()'.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
* azure_rm_storageaccount_facts
* azure_rm_storageaccount_info

##### A

[2019-11-01 22:14] hugocartwright commented on #64016
@gtie @sivel I am currently looking into an implementation of @sivel 's POC and am adding integration tests for this issue too. Currently checking all previous integration tests are not impacted by the change I want to propose.

[2019-11-01 22:24] angystardust commented on #38605
Using Ansible 2.8.6 I still have a "changed" status on every playbook launch:

[code]

@Akasurde imho with the removal of the `vsphere_guest` module in 2.9, the priority of this issue should be definitely increased

[2019-11-01 22:32] cognifloyd commented on #64299
K. Down the rabbit hole...

Here are my notes as I try to figure out which ways ansible might be able to publish deps (other than using wheels) in a way that poetry can consume.

Poetry tries to use the PKG-INFO file in the sdist first but only if it includes `Requires-Dist` which ansible's does not.
https://github.com/sdispater/poetry/blob/183258c18ff7294d70f98c9ddafc993600775934/poetry/utils/ins

[2019-11-01 22:35] cognifloyd commented on #64299
K. Down the rabbit hole...

Here are my notes as I try to figure out which ways ansible might be able to publish deps (other than using wheels) in a way that poetry can consume.

Poetry tries to use the PKG-INFO file in the sdist first but only if it includes `Requires-Dist` which ansible's does not.
https://github.com/sdispater/poetry/blob/183258c18ff7294d70f98c9ddafc993600775934/poetry/utils/ins

[2019-11-01 22:35] bobsaintcool commented on #63967
It does fix the repported bug indeed!

However, not sure if its a feature or not when I run the play it success where I expected it to fail (due to `kern.witness.watch` not being a sysctl anymore).

[code]

As sysctl return 0 even in this case, maybe the only check we can do is to look for things en stderr:
[code]

You can close the ticket if you think its not a real bug,

Thank!

[2019-11-01 23:04] muroj commented on #19755
Hit a similar issue when using the [prometheus role](https://github.com/cloudalchemy/ansible-prometheus/blob/61243b09efa8f9d20132c52251d0b9b574c7d2d9/README.md) from ansible-galaxy.

[code]

Both `ansible_processor_count` and `ansible_processor_vcpus` are undefined.

[code]

[2019-11-01 23:18] cognifloyd commented on #64299
K. Down the rabbit hole...

Here are my notes as I try to figure out which ways ansible might be able to publish deps (other than using wheels) in a way that poetry can consume.

Perhaps one of these things could be populated after `SDist.run()` in setup.py:
https://github.com/ansible/ansible/blob/ee290bf5b17e80973787bbbc0dac46e2a2311681/setup.py#L163-L184

Poetry tries to use the PKG-INFO file in

[2019-11-01 23:47] s-hertel commented on #62583
Oh, I'm sorry - I only skimmed the top of the issue and not the reproducer, which includes `Have two or more AWS Ec2 instances with the same Name tag, web for example`. This is working as expected. It's the same as though you have two static inventory files with the same inventory hostname defined; Ansible will only have one host by that name. I'd suggest making a group instead which contains all

[2019-11-01 23:47] #62583 closed, assigned to nobody

[2019-11-01 23:57] e-tools-02-tid commented on #36982
Why if both PRs has an "affects 2.9" tag with passed tests and working code are no included on Yesterday release?
Is there any ETA to include this into Ansible?

[2019-11-02 00:33] csmart commented on #62958
I can take a look at this.

[2019-11-02 01:51] wikwinia opened #64324 "Juniper.junos role new error ImportError: No module named json"
##### SUMMARY

Problem concerns Juniper.junos 2.2.1 roles and ansible 2.9.0. For ansible version 2.8.6 there were no issue. Currently running playbook which use Juniper.junos role I get an error No module named json. When I use normal Ansible network modules there is no problem.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible
Juniper.junos 2.2.1  and json module

##### ANSIBLE VERSION

[2019-11-02 02:34] xuxiaowei0512 commented on #64318
Hi @gerardocastaldo
ansible/ansible#63980  ansible/ansible#63978
These two PRs may help you when they are merged and released(2.8.7 or 2.9.1).
Thanks.

[2019-11-02 04:00] csmart commented on #62958
Can confirm this. With `wait=no` the tasks fail, however the request actually does get successfully sent to OpenStack and actioned. Tested by sourcing openrc creds and running this playbook to toggle the state of all servers in a project:

[code]

[2019-11-02 07:00] D3DeFi commented on #64278
Thank you @ikzelf . Adding tag support seems like a good idea. I will try to come up with something in the near future.

[2019-11-02 08:42] #62958 closed, assigned to nobody

[2019-11-02 09:15] foger opened #64343 "ec2.py - slow response"
##### SUMMARY

If I use dynamic_inventory from ansible repository - ec2.py, it works very slow with Python 3: I get a response in 40-50 seconds. e.g. ```./ec2.py --list```. **With Python 2 it works fast**

Tested simple python script with boto3:

[code]
and it work's fast, without timeout

I tested this inventory on multiple machines and got same results. What am I doing wrong? And it seems to me

[2019-11-02 11:00] xuxiaowei0512 commented on #64318
[code]
I also found that save option is required when you want to save your config.But your task missed it.

[2019-11-02 11:07] foger commented on #64343
Fixed this by changing  `regions  = all` to `regions = <my_region>` in ec2.ini and now it works fine! Inventory ignored region variables from .aws/credentials and from environment (AWS_REGION, AWS_DEFAULT_REGION).

[2019-11-02 14:02] #64343 closed, assigned to nobody

[2019-11-02 15:42] gerardocastaldo commented on #64318
Hi, in task i configured "save: yes" .  In documentation i read that the valid options are "yes" or "no" but in use cases i read "save: true". I tested both the configurations but the result is the same.

if you read the invocation option you see the option "save": true

example:

    "invocation": {
        "module_args": {
            "after": null,
            "backup": false,
            "back

[2019-11-02 15:53] #60434 closed, assigned to nobody

[2019-11-02 20:09] Andersson007 commented on #60119
@yangchao0512 thanks for reporting this! FYI resolved by https://github.com/ansible/ansible/pull/62060

[2019-11-02 20:55] cigan1 commented on #64265
@jmuurling-Fox how are you passing the sudo password? I had the same issue and my vault contained the old ansible_sudo_pass instead of ansible_become_pass. Once I changed that the issue went away...

[2019-11-02 21:09] dploeger opened #64353 "Use streaming for the replace module to avoid memory issues"
##### SUMMARY
The replace module reads in the complete file into memory and works from there. This causes problems with big files (i.e. database dumps). As a suggestion, support a stream option, which will read the file using streams line by line (this obviously removes the multiline regexp feature).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
replace

##### ADDITIONAL INFORMATION
I tri

[2019-11-02 22:40] #55202 closed, assigned to Qalthos

[2019-11-03 01:58] kclinden opened #64354 "VMware: Unable to create vSphere Cluster in idempotent manner"
##### SUMMARY
Playbook fails on create vSphere Cluster when running second time

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_cluster

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu on Windows 2019 WSL
[code]
##### STEPS TO REPRODUCE

Run playbook a second time on an empty vCenter instance.

[code]

##### EXPECTED RESULTS

##### ACTUAL RESU

[2019-11-03 03:00] geerlingguy opened #64355 "Ansible Galaxy installing older version of role if none specified (for geerlingguy.php)"
##### SUMMARY

Tonight many of my roles started failing CI tests, and after an hour or so I tracked down the problem to an old version of the `geerlingguy.php` role being installed. The current version on Galaxy (see https://galaxy.ansible.com/geerlingguy/php) is 3.7.0.

But Molecule was downloading the release prior to that, 3.6.3.

I also tested manually installing the role (without specifying a

[2019-11-03 03:12] geerlingguy commented on #64355
I also tested on Ansible 2.8.6 in an Ubuntu 18.04 VirtualBox VM (installed via Pip), and the right version was chosen. I then updated to 2.9.0 in the same VM, and the _wrong_ version was chosen.

So this is definitely a new bug in 2.9.0.

[2019-11-03 07:37] rewilliams1 opened #64357 "azure_rm_networkinterface , problem adding static private ip and public ip to network interface card."
##### SUMMARY
I am attempting to create a network interface with a static private ip address, and a dynamic public ip on the same NIC.

Wherever , primary is set under ip_configurations is what gets set on the VM. If its set for the static private ip address then the private ip address is set correctly. If the public ip is set to primary then the vm will get a public ip but the private ip is not s

[2019-11-03 14:33] tremble opened #64363 "cloudfront_info missing argument_spec definition for web_acl_id"
##### SUMMARY

The docs currently list web_acl_id as a valid argument, but it's not included in argument_spec

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cloudfront_info

##### ANSIBLE VERSION
Devel branch as of c76e074e4c71c7621a1ca8159261c1959b5287af

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Shouldn't complain about un

[2019-11-03 16:10] D3DeFi commented on #62485
Hey @richlv . I've found some more time and tried to reproduce this issue once again, unfortunately, without any luck.

I've tried mirroring your environment as much as possible (Python 2.7.13, ansible 2.8.5, zabbix-api 0.5.3, zabbix servers 3.0/4.0 and 4.2) and of course running your playbook too.

After listing through python2.7 changelogs I haven't found any notable mentions about atexit module

[2019-11-03 16:44] kusold opened #64364 "keycloak_client: allow client secret to be accessed from the results"
##### SUMMARY
Currently there is no way to access the client secret in the results. This is useful for configuring the application that the client was created for.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
keycloak_client

##### ADDITIONAL INFORMATION
I have a role that attempts to dynamically create/ensure a keycloak client, then setup keycloak gatekeeper using the results from `keyc

[2019-11-03 17:23] richlv commented on #62485
Thank you so much for looking into this. Happens with Zabbix 4.0.13.

[2019-11-03 18:18] Bkbrawler04 opened #64365 "VMWare script or plugin does not allow filtering inventory by tags."
##### SUMMARY
Unable to filter inventory by tag using plugin or script for VMWare version 6.7,  Ansible Tower version 3.5.3, Ansible Engine 2.8.
Currently with other cloud offerings you can filter inventory based on tags. Currently this is not possible with the latest version of engine, tower, coupled with VMWare version 6.7. This was achievable using ansible tower version 3.3.2, engine 2.7.4 and

[2019-11-03 18:47] cans commented on #58644
Not sure what additional info I should provide. I think I have given a solution that would fit all needs and would not require much development. Which:

Assume the `query` argument is not a python dbapi query template, but a jinja template which, once rendered is a valid SQL query without any additional arguments required.

That should not require anything that is not readily available in Ansible

[2019-11-03 19:04] Andersson007 commented on #58644
@cans hello, unfortunately now i have no idea how to implement this. I’ll ask someone to reopen this issue. Maybe later someone help with it

[2019-11-03 19:48] Andersson007 commented on #58644
!needs_info

[2019-11-03 22:17] itverdokhlib5 commented on #55554
No, we still use old Kubernetes version (1.11) and that error stll happens from time to time. I waited until we upgrade to the newer Kubernetes version, but it seems to take much more time, than I expected. For now you can close this issue.

[2019-11-03 22:50] vanbasten2323 commented on #63488
@Fred-sun To create a specialized gallery image(precisely, a image version), users need to create the image version from a group of snapshots (1 os disk snapshot, 0 or more data disk snapshots). Here is a example of the user input:
"osDiskImage":{"source":{"id":"/subscriptions/503e278a-1302-4a03-a590-45ad324acbb1/resourceGroups/longlivedGalleryRg/providers/Microsoft.Compute/snapshots/srcOsSnapshot

[2019-11-04 03:28] ric-man opened #64369 "terraform plan does not provide output for 2.9.0"
##### SUMMARY
Running terraform plan from ansible 2.9.0 does not provide expected output in stdout. This may be similar to issue #46589.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
terraform

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

- Ubuntu 18.04.3 LTS

[code]

##### STEPS TO REPRODUCE
Run terraform plan from ansible

[code]

##### EXPECTED RESULT

[2019-11-04 04:29] anasbouzid opened #64371 "postgresql_privs always reports as changed when using default_privs"
##### SUMMARY
The `postgresql_privs` module always reports as changed if the `type` option is `default_privs`. Ansible adds multiple psql commands before running the actual task (see the verbatim command output bellow), I don't know why it's implemented like this, but such behavior leads to unexpected results: My issue isn't that risky, but if you try to revoke a privilege from a `sequence` (using

[2019-11-04 04:31] ric-man commented on #64369
Previous version of ansible (v2.8.6) provided the following example output when the terraform plan was run:
[code]

[2019-11-04 05:08] Fred-sun commented on #63488
@vanbasten2323 Thanks for your info, I will try again. Thanks a lot!

[2019-11-04 05:19] k0ste commented on #44809
@ejeanbaptiste you can take it and use it what you want.

[2019-11-04 05:37] jborean93 commented on #64355
Thanks for picking this up https://github.com/ansible/ansible/pull/64373 should fix the issue and it would be great if you could test it out.

[2019-11-04 06:05] Fred-sun commented on #63428
kindly ping

[2019-11-04 06:27] Tomorrow9 opened #64374 "VMware: vmware_guest 'version' parameter handling error"
##### SUMMARY

vmware_guest handles 'version' parameter type error.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Using vmware_guest to deploy a new VM with 'version' parameter set to integer 14.
Return error 'int' object has no attribute 'lower'.
This is caused in line

[2019-11-04 08:39] Fred-sun commented on #64357
@rewilliams1 Thanks for your reporting this issue. I meet same issue as your report!

[2019-11-04 08:50] Fred-sun commented on #64357
@mybayern1974 Would you please help take a look this issue? When Private and Public IP are configured in the same network card and Private IP is set primary=yes, the NIC created will not show Public IP. However, when Public IP is set primary=no, both Public and Private IP will be displayed. Thank you very much!

[2019-11-04 09:39] next-jesusmanuelnavarro commented on #63947
On the patch: s/varaible/variable/.

[2019-11-04 09:50] dentarg commented on #55053
https://github.com/diyan/pywinrm/releases/tag/v0.4.0 was released yesterday.

[2019-11-04 10:14] blastik opened #64379 "[2.9] Iterating over a list of hashes with variables doesn't work"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
loop

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
MACOSX

##### STEPS TO REPRODUCE
[code]
 where
[code]

##### EXPECTED RESULTS

Task will execute twice, one per item.

##### ACTUAL RESULTS

It says the file is not found but in fact its there. For some reason, from version 2.9 ansible does not

[2019-11-04 10:23] Glandos commented on #48320
I have to thanks the reporter for pointing me that this breakage was due to colors.

This is indeed very annoying. My use case of ansible implies a lot of ad-hoc commands on many servers, and `ansible-console` is very useful. However, when using reverse search, the line is completely broken, and the cursor shows itself in the wrong position.

[2019-11-04 10:25] jborean93 commented on #55053
Thanks @dentarg for following up on this, closing the issue as it has made it into a pywinrm release.

[2019-11-04 10:25] #55053 closed, assigned to nobody

[2019-11-04 10:30] sapajune commented on #62600
Looks like I ran into this bug immediately after upgrading Ansible to 2.9.0 so it does affect that as well. Downgrading to 2.8.6 avoids the problem.

[2019-11-04 11:07] ipaleka opened #64381 "Robot Framework tests won't start under MS Windows 10 (VirtualBox virtual machine)"
##### SUMMARY
I've successfully run my Robot Framework tests task under various GNU/Linux distributions and desktop environments, but Ansible stuck on that particular task under MS Windows 10. I use `ansible_winrm_scheme: http`  following [this issue](https://github.com/hashicorp/vagrant/issues/10765) as I haven't managed to provision a Windows machine with the default https.

##### ISSUE TYPE
- B

[2019-11-04 11:33] angystardust commented on #48320
Is there any workaround for this by setting a different TERM env variable when launching ansible-console?

[2019-11-04 11:39] blastik commented on #64379
seems duplicated with https://github.com/ansible/ansible/issues/64169

[2019-11-04 11:47] ffdybuster commented on #48320
The only workaround I know is disabling colors with `ANSIBLE_NOCOLOR` (https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-nocolor)

[2019-11-04 11:57] Grisu118 opened #64382 "docker_login writes invalid config.json"
##### SUMMARY

docker_login creates an invalid json as output, when the file not existed before.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_login

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubunutu 18.04 in WSL
Target OS: coreos with pypy and docker==4.1.0
[code]

##### STEPS TO REPRODUCE

The config.json must not exists. Then execute the

[2019-11-04 12:44] robertdebock opened #64384 "ansible_default_ipv4.broadcast contains global instead of the broadcast address"
##### SUMMARY
The `broadcast` address contains `global` in a Debian container running on Fedora.

I could not reproduce this when the Ansible controller runs on Mac OS X.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Controller: Fedora 31
Targets:
- Debian stable (container debian:stable)
- Fedora 31 (co

[2019-11-04 12:46] ghormoon opened #64385 "rabbitmq_user always updates permissions if they contain backslash"
##### SUMMARY
ansible always updates user permission if they contain backslash, eg:     `write_priv: '^amq\.default$'`
it seems that it gets it back from rabbit excaped like  `'^amq\\.default$'` therefore handles it as a change

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rabbitmq_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
rabbitmq target versio

[2019-11-04 13:25] AdamBrassard commented on #61492
@zikalino Is this something you could help with?

[2019-11-04 13:48] rhythmicdevil opened #64387 "docker_compose module crashes with error about a non empty directory"
I have searched Github but all the responses are to upgrade to versions I am already running.

##### SUMMARY
docker_compose module crashes with error

    [Errno 39] Directory not empty: '/tmp/ansibleGUnKQP'\r\n

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_compose

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
**Control Machine**
CentOS Linux rel

[2019-11-04 14:24] highmark-zcarling commented on #42090
I too recently experienced this issue. Tried with both the default format of .gz and also .tar. Didn't make a difference. Adding ignore_errors: true also does not help, as the archive module stops packing files after it encounters the broken link.

[2019-11-04 14:27] ronansalmon commented on #62407
@Akasurde , I tried again just now with
- ansible 2.9.0 and 2.8.6
- ansible_user=anyuser or ansible_user=root

Same issue.
How can I help to debug this ? What can I do ?

[2019-11-04 14:29] ronansalmon commented on #62407
In case of any misunderstanding, the tmp files are left on remote machines, not the one that is actually running the playbook.

[2019-11-04 15:28] fartosh opened #64391 "Deprecation warning about evaluating bare variables is shown even for bool variables"
##### SUMMARY

According to latest (2.9) [docs](https://docs.ansible.com/ansible/2.9/user_guide/playbooks_conditionals.html#the-when-statement):
[code]
I understand that I can use bool variable defined in inventory without adding `|bool` filter to `when:` statement. However, the deprecation warning shows up even for evaluating bool variables.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`w

[2019-11-04 15:34] AlanCoding commented on #58266
Standardizing how modules specify requirements should be a major road map item, but I don't quite agree with the arguments here. Going further in the direction of making the lists human-readable is a bad direction. Instead, it would be better to identify a list as pip / PyPI requirements, and then no further elaboration or manual linking is necessary. There will be other types of requirements, whi

[2019-11-04 15:58] hugh35 opened #64393 "Support for CRON_TZ"
##### SUMMARY
I would like the ansible cron module to support the CRON_TZ option.

##### ISSUE TYPE
I'm currently using Ansible 2.8.4.  I would like to be able to configure ansible to place the CRON_TZ option in the crontab file.   I would like to produce a crontab that looks like the following:

[code]

##### COMPONENT NAME
cron

##### ADDITIONAL INFORMATION

From time to time, I have servers run

[2019-11-04 16:02] countless-integers commented on #29501
I think I still have the same issue on 2.8.5 ...

[2019-11-04 16:09] perezjasonr opened #64394 "Region us-gov-east-1 does not seem to be available for aws module boto.iam"
##### SUMMARY

attempting to use iam_policy module in govcloud and it results in the error:

"Region us-gov-east-1 does not seem to be available for aws module boto.iam. If the region definitely exists, you may need to upgrade boto or extend with endpoints_path"

the same playbook works fine in us-gov-west

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

iam_policy

##### ANSIBLE VERSION

[co

[2019-11-04 16:11] ipaleka commented on #64381
Actually, to reproduce this, one can issue the following commands:
[code]
If the last command fails before provision is completed, repeat the job with:
[code]

[2019-11-04 16:15] s-hertel commented on #64394
This is because boto (which is no longer actively maintained) does not support that region. #63924 should fix it.

[2019-11-04 16:41] sivel commented on #64379
@blastik thank you for the report. This is related to #64169, but while we believe the new behavior on `with_X` style loops is correct, it is incorrect for `loop`.

I am working on this bug and will update this issue in the coming days.

[2019-11-04 16:50] s-hertel commented on #64391
This was fixed in https://github.com/ansible/ansible/pull/57190 and backported for the 2.8.2 release: 95b1b42d4f1b2fcb8280208eedcb4b8faa6b9359.

[2019-11-04 16:50] #64391 closed, assigned to nobody

[2019-11-04 16:55] jjaniec opened #64398 "join on a list made from a map + another list triggers: can only concatenate list (not \"str\") to list"
##### SUMMARY
I'm attempting concatenate a list, with another list made from a map of attributes of a list of objects, then join(',') the new list

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
map()
list
join()

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS Mojave 10.14.4 (18E226)
Ansible 2.8.5 installed with brew, python 3.7.4

Also tried with ansib

[2019-11-04 16:57] jamesfreeman959 opened #64399 "Slash in network name causes vmware_guest module to return Network ... does not exist"
##### SUMMARY

We are using the vmware_guest module to deploy a VM Template on a vCenter cluster. When we specify a virtual network name that contains a slash in it (e.g. 0123-network-name-10.0.0.0/22), Ansible returns "Network '0123-network-name-10.0.0.0/22' does not exist. This problem does not occur with network names that do not contain slashes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2019-11-04 17:01] felixfontein commented on #64387
The traceback in readable form:
[code]

[2019-11-04 17:09] felixfontein commented on #64387
This might be caused by
[code]
This probably creates a subdirectory `nginx` in `/tmp/ansibleGUnKQP`, whence that directory cannot be deleted since it is not empty. Please try to replace `./nginx/conf.d` with an absolute path to where the files you want to mount into the container are actually located.

[2019-11-04 17:12] felixfontein commented on #64382
If #64392 fixes this, that's another reason why you should never call `open()` without `with`... (except if you really know what you're doing)

[2019-11-04 17:14] felixfontein commented on #64387
This might be caused by
[code]
This probably creates a subdirectory `nginx` in `/tmp/ansibleGUnKQP`, whence that directory cannot be deleted since it is not empty. Please try to replace `./nginx/conf.d` with an absolute path to where the files you want to mount into the container are actually located.

[2019-11-04 17:23] perezjasonr commented on #64394
Thank you for the quick update. I will keep an eye on that reference you linked.

[2019-11-04 17:23] #64394 closed, assigned to nobody

[2019-11-04 17:24] GomathiselviS commented on #63981
@mahmutaydin1 Is there any update from the meeting.
Meanwhie, can you please provide your inventory specs?

[2019-11-04 17:31] rhythmicdevil commented on #64387
Thank you, felixfontein I removed the line for the nginx volume and the role executed as expected.

[2019-11-04 17:31] #64387 closed, assigned to nobody

[2019-11-04 17:44] sivel commented on #64398
This is due to an order of operations problem.

You will need to group your actions to get the failing task to work by adding some parentheses around the portion of the template before `| join`:

[code]

Otherwise, what your current task is doing is:

1. Create a list from the `privip` attribute of `workers`
2. join `additional_ips` using a comma
3. combine the list from (1) with the string from (

[2019-11-04 17:44] #64398 closed, assigned to nobody

[2019-11-04 18:01] ecantin opened #64402 "nxos_interface and vlan l3_interface modules return 'ok' in check mode when the VLAN and the VLAN interface are absent"
##### SUMMARY
In check mode, nxos_interface invoked to create a VLAN interface returns 'ok' when the VLAN does not exist (and the VLAN interface does not exist either).
In check mode, nxos_l3_interface invoked to add a @IP to a VLAN interface returns 'ok' when the VLAN interface does not exist.

This misleads the user to believe that there is nothing to do.

##### ISSUE TYPE
- Bug Report

##### CO

[2019-11-04 18:13] mnaccarato opened #64404 "azure_rm_virtualmachine does not preserve availability zone info with generalized option"
##### SUMMARY
When you try to generalize a vm with availability zones defined in it, zone info is not preserved and must be passed on.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

When you try to generalize a vm with availability zones defined in it, zone i

[2019-11-04 18:21] wkulhanek opened #64405 "Can no longer create/retrieve OpenShift Templates using k8s module"
##### SUMMARY
EPEL recently updated from the openshift python library 0.8 to 0.9. This broke the k8s module trying to create/retrieve templates.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
RHEL 7

##### STEPS TO REPRODUCE

[code]

Simplified mariadb template (also tried "kind: Template" instead of  "kind: templates" which w

[2019-11-04 18:33] sivel commented on #64324
This issue appears to be a bug in the upstream juniper module_utils:

https://github.com/Juniper/ansible-junos-stdlib/blob/69b0eff9a36b409db1f4f47f75a9d1e4ff911526/module_utils/juniper_junos_common.py#L39

The above module_utils file is attempting to import ansible controller code.

The fact that this worked before was accidental, and due to some restructuring of our JSON encoding code, it is no l

[2019-11-04 18:33] #64324 closed, assigned to nobody

[2019-11-04 18:56] IPvSean opened #64406 "allow ec2_vpc_net to delete dependent objects"
##### SUMMARY

The modules for AWS seem to equate one-to-one with actual AWS boto2 or boto3 API commands.  There is no additional logic in the Ansible Modules to deal with situations like this.  Because of this design choice and/or limitation we do not have the ability to easily do teardowns.  We must use multiple modules to perform a teardown happens to be a boto3 limitation:
- https://boto3.amaz

[2019-11-04 19:06] john-westcott-iv opened #64408 "Copy module does not cleanup temp files on failure"
##### SUMMARY

When using the copy module, if the destination file system does not have enough space the copy fails but the temp file deployed to the server via the copy action plugin remains on the system consuming space.

This appears to be happening in the atomic_move method in module_utils/basic.py.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

copy

##### ANSIBLE VERSION

[code]

####

[2019-11-04 19:47] mahmutaydin1 commented on #63981
Hello,

I will ask and inform you

GomathiselviS <notifications@github.com>, 4 Kas 2019 Pzt, 20:25 tarihinde
şunu yazdı:

[2019-11-04 19:54] felixfontein commented on #64382
resolved_by_pr #64392

[2019-11-04 20:12] fabianvf commented on #64405
@wolfgangkarall it looks like the output you posted is for the `oc apply -f` task, not the `k8s` one

[2019-11-04 20:19] wkulhanek commented on #64405
@fabianvf You are of course correct. Here's one from the k8s module:

TASK [ocp4-workload-project-request-template : Create and enable Project Request Template] ***
Sunday 03 November 2019  12:05:46 -0500 (0:00:00.058)       0:45:31.097 *******
failed: [clientvm.8ead.internal] (item=./templates/project_request_template.j2) => {"changed": false, "item": "./templates/project_request_template.j2", "m

[2019-11-04 20:21] #64050 closed, assigned to nobody

[2019-11-04 20:25] felixfontein commented on #56576
There's another way to fix this: change `module_utils/docker.py` in Ansible 2.7 to contain `from __future__ import absolute_import` in the first line. (The problem is that Python 2.x still allows implicit absolute imports. Python 3 removed them. These are what causes this problem, together with the points mentioned above. And this is also why it will work with Python 3.)

[2019-11-04 20:34] felixfontein commented on #62275
There have been a few of these recently, also on linux/centos6/3. CC @jamescassell @njoerd114

[2019-11-04 20:53] mrkprdo opened #64415 "Broken Pipe Error"
I have been trying to search where is this issue coming from. Tried few solution from issues alike I found on google still the same...
[code]
Ansible Version:
[code]
My local machine is Windows 10 with Ubuntu 18.04 LTS.

[2019-11-04 20:58] mrkprdo commented on #64415
!component

[2019-11-04 21:49] navisidhu opened #64418 "Loading and Executing plugins contained within a Role broken on 2.9.0"
##### SUMMARY
Loading and executing of HttpApi Plugins from "httpapi_plugins" folder inside a role is broken. It worked perfectly in Ansible 2.8.6, but on Ansible 2.9 the plugin gets initialized but `send_request`, `login` and `logout` are not executed. Also the HTTP connection is not established at all.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Role plugin loading and executing

#####

[2019-11-04 22:02] jamescassell commented on #62275
I've seen it, no idea about the cause. Thanks for tagging me.

[2019-11-04 23:05] s-hertel commented on #64406
I'd love for teardown to be made as easy as this is proposing, but until botocore/the AWS cli has the ability to tear down dependent objects (like the AWS console) or easily find dependencies, I'd strongly prefer a flexible role be written to do this to discover + delete resources in a VPC rather than overloading ec2_vpc_net.

[2019-11-04 23:17] gerardocastaldo opened #64420 "Huawei quidway library implementacion"
##### SUMMARY

Hi, I need to configure some huawei products. For cloudengine i have many libraries but nobody for quidway.
Is it possible to implement some libraries for this product?

##### ISSUE TYPE
- huawei quidway

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2019-11-04 23:17] s-hertel commented on #64406
Alternatively to a role, I'd also support a new preview module which attempts to clean up VPC dependencies. Something like this is going to need a lot of ironing and it's going to become out of sync whenever AWS adds a new potential VPC-dependent resource.  Ideally, AWS would expose their console features to the CLI, but I feel like a role (or cloudformation) are the best ways to do this right now

[2019-11-04 23:41] danielhoherd opened #64421 "Helm module claims to have check mode support, but does not"
##### SUMMARY
The `helm` module claims in its source code that it supports the `--check` option, but it does not.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
helm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

- macOS 10.15
- Ubuntu Linux 19.10, 18.04, 16.04

##### STEPS TO REPRODUCE

[code]

[code]

[code]

##### EXPECTED RESULTS

Due to the use of the

[2019-11-05 02:12] jkugler commented on #24223
This says it was added in 2.9: https://github.com/bcoca/ansible/commit/43d61f4eeee4f7f40fae2df82bdf52cfdef54010

But I'm still getting errors in 2.9 when I add `ansible_allow_world_readable_temp` to the inventory line. Are there examples yet of how to use this?

[2019-11-05 03:26] kusold commented on #64364
I forked the module to try to fix it. I'm not seeing the secret return. I'm going to close so that I can investigate how keycloak handles this.

[2019-11-05 03:26] #64364 closed, assigned to nobody

[2019-11-05 03:35] Fred-sun commented on #61492
@mybayern1974 Would you please help take a look this issue? Thank you very much!

[2019-11-05 05:47] jutkarsh079 opened #64425 "Inventory Plugin - netbox"
##### SUMMARY
1. ansible-inventory -v --list -i netbox_inventory.yml"  leads to multiple warnings * -->

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Inventory Plugin - netbox

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Linux utkarsh-virtual-machine 4.15.0-65-generic #74~16.04.1-Ubuntu SMP Wed Sep 18 09:51:44 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

#

[2019-11-05 06:27] Akasurde commented on #64374
resolved_by_pr #64376

[2019-11-05 06:38] navisidhu commented on #64418
!component =lib/ansible/plugins/loader.py

[2019-11-05 07:58] mibaboo opened #64429 "k8s deployment into openshift cancels deployment"
##### SUMMARY
I am create a deploymentconfig in openshift using the ansible k8s module. The deployment is being created and deploying however with each deploy it deploys a version then cancels and then deploys successfully. I am not sure why the deployment gets cancels.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

####

[2019-11-05 08:00] Andersson007 commented on #64371
@anasbouzid thank you for reporting this

[code]
@tcraxs could you please look at this issue

[2019-11-05 08:07] Andersson007 commented on #64155
@jamesRUS52 , i've just tried to use your file
[code]

[2019-11-05 08:14] Andersson007 commented on #64155
@jamesRUS52 anyway, we have a special module for dump/restore - postgresql_db, state: restore. FYI

[2019-11-05 08:22] sandeep-sridhar opened #64430 "Issue with running shell script in a remote host."
##### SUMMARY
I have a shell script that is designed to run "virsh domifaddr mini | grep ipv4 | awk '{print $4}'" on the remote host. From my ansible controller, the playbook calls this piece:

 - name: Find out the IP address of ucloud_vm_name
     script: /root/mltr_source_code/compute_ucloud_vm_ip.sh {{ ucloud_vm_name }}

The actual shell script is as follows:

[code]

playbook runs fine withou

[2019-11-05 08:28] Andersson007 commented on #64155
[code]
probably it relates to psycopg2 itself.
use something like
[code]
i believe postgresql_query is not suitable to restore dumps. I'll make a note in the module's documentation about that

[2019-11-05 08:36] Andersson007 commented on #64155
https://github.com/ansible/ansible/pull/63661

[2019-11-05 08:45] Andersson007 commented on #64155
and i've just tried to do the same using psycopg2 directly without a module - the same. So we can't fix it and there is a suitable module ```postgresql_db```. It use ```psql/pg_restore``` in this case and it works as expected, i checked

[2019-11-05 08:50] jayangpt opened #64433 "issue with script execution in windows server via ansible"
Hi Team,

I have created a playbook to execute a VBScript on windows server and its showing error while performing the syntax check. Kindly have a look and help me in this regard.

Playbook:

---
- name: Copy the script
  win_copy:src:/home/testuser/jaytest/g-prediscover.vbe
    dest:C:\temp\
    force:no

   - name:execute the script
    win_command:C:\Windows\SysWOW64\cscript.exe myscript.vbe

[2019-11-05 09:14] Fred-sun commented on #64404
@mnaccarato Thanks for your reporting this bug, we will look into this !

[2019-11-05 09:15] Fred-sun commented on #64404
@mybayern1974 Please help take a look this issue! This Issue is very similar to #58729. If the VM has zones set up, the machine needs to increase zones parameters when doing generalize. Thank you very mcuh!

[2019-11-05 10:23] aparedero opened #64435 "python_requirements_info does not parse project[extra] syntax"
##### SUMMARY
`python_requirements_info` (previously `python_requirements_facts`) are not parsing pip packages if stated with `project[extra]`  (similar to command `pip install "project[extra]"`) [+ info](https://stackoverflow.com/questions/46775346/what-do-square-brackets-mean-in-pip-install)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`python_requirements_info`

##### ANSIBLE VERSION

[

[2019-11-05 10:27] Akasurde commented on #64433
Hi @jayangpt !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows

[2019-11-05 10:27] #64433 closed, assigned to nobody

[2019-11-05 10:39] Akasurde commented on #64430
Hi @sandeep-sridhar !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This

[2019-11-05 10:39] #64430 closed, assigned to nobody

[2019-11-05 10:44] MaxBab commented on #63910
Hi @thomwiggers @felixfontein

The fix will check every private key for the password protected state.
If the key is password protected, the task will fail with the message.

[2019-11-05 11:34] TeamNautilus commented on #64094
Hi @Shaps! Thanks for the fast response and sorry for our late answer :).
We have chosen the first workaround, changing the ssh_key_comment and we confirm it works!

Thank you again!

[2019-11-05 11:47] #54200 closed, assigned to nobody

[2019-11-05 11:53] mnaccarato commented on #58729
Hi @andyeff indeed you can gather zone info with azure_rm_resource_facts, here is a workaround to your problem:

[code]
Btw the problem still persist in ansible 2.9.

Hope this helps!

[2019-11-05 12:30] ktomk opened #64438 "Git_Config Module Reports Changed Albeit Configuration Value is Not Changed"
##### SUMMARY

When setting a configuration setting with the `git_config` module that already has this value (e.g. run the same task a second time on the same system), `git_config` still reports changed albeit the configuration setting has not been changed.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

git_config

##### ADDITIONAL INFORMATION

I don't know what the intention was for this

[2019-11-05 12:35] ktomk commented on #64438
My ansible version information:

[code]

[2019-11-05 12:38] tremble commented on #62600
I'm hitting this on 2.9 and 2.10:

[code]

[code]

@samdoran Suggested trying the fix from #64401 unfortuantely this does *not* appear to fix the issue.

[2019-11-05 13:07] ghormoon commented on #64385
I've found out, that if I set it up as `write_priv: '^amq\\.default$'`, it does not double the slashes at that point and works fine, still the behaviour with one backslash is strange

[2019-11-05 13:16] einarjh opened #64441 "vyos 1.2: Error when setting l3 interface to use dhcp, stray color formatting characters?"
##### SUMMARY
I'm using the development branch in order to access the new features of the vyos module (ability to manage VLAN's). When trying to set an interface to use dhcp, I get the following error:
`u"dhcp'\x1b[m" does not appear to be an IPv4 or IPv6 address`
I'm using the latest rolling release of vyos (VyOS 1.2-rolling-201911050217), the issue does not occur on VyOS 1.1.8.

It looks like so

[2019-11-05 13:22] #62909 closed, assigned to nobody

[2019-11-05 13:32] sk1917 opened #64442 "vcenter_folder: parent_folder can find folder only in root folder of datacenter"
##### SUMMARY
vcenter_folder: parent_folder can't find folder if it is not in datacenter root folder

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vcenter_folder

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible host: Debian  9.11
vCenter 6.5
Also reproduses on Ansible 2.8.4, 2.8.5

##### STEPS TO REPRODUCE

Use vcenter_folder to create a subfolder

[2019-11-05 13:48] samdoran commented on #62600
@tremble Thank you for trying. I'll look into it some more.

[2019-11-05 13:51] jasmingacic commented on #36005
These 3 PRs have been merged:
#23133
#27842
#27843

[2019-11-05 13:57] gjt11 opened #64445 "I have ansible Tower that uses the uri.py to purge content in Akamai cache."
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2019-11-05 13:58] #64445 closed, assigned to nobody

[2019-11-05 14:04] HOSTED-POWER commented on #61002
We noticed the same problem, we start our play with a task on our ansible machine ( local , which is a Red Hat 8 Docker in AWX). All the sudden our playbooks didn't work anymore.

Took some time to figure this out, thanks @AdmiralNemo for the workaround!! :)

[2019-11-05 14:15] gjt11 opened #64448 "Akamai Cache purge using URI.PY"
##### SUMMARY
I am using the Ansible uri.py to connect to Akamai API version 2 to delete cache content in Akamai.
Akamai no longer allow API version 2,and have discontinued it.
Hence why my Ansible jobs. keep failing

Akamai informed me I must use their API Version 3
https://developer.akamai.com/api/core_features/fast_purge/v3.html
I can see in the uri.py it supports Interacts with HTTP and HTTPS

[2019-11-05 14:34] mmallet-digipok commented on #64319
bot_status

[2019-11-05 14:35] dagwieers commented on #57876
Looking at the module to understand the error (you should try this ;-)) this is the logic:
[code]

You mention you set `contract_filter_type` to `one-way`, but the warning is pretty clear that `filter_type` is still set to a one-way filter, whereas the `contract_filter_type` for the contract is set to `both-way`.

The playbook also contains this contradiction:

https://github.com/aciguru/Ansible-P

[2019-11-05 14:39] lonyai opened #64449 "Please update the repomd.xml"
This (https://releases.ansible.com/ansible/rpm/release/epel-7-x86_64/repodata/repomd.xml) older than latest RPMs. Could you please update repo XMLs :-)

Thanks!
Gergő

[2019-11-05 14:42] tsterker commented on #29404
@kjetiljd Thanks for the [workaround](https://github.com/ansible/ansible/issues/29404#issuecomment-429528267), this worked for me:
[code]

Maybe there could be an `ignore_default_type` flag (or similar) that would do that under the hood?

[2019-11-05 14:49] Jas-SinghFSU opened #64450 "Allow the ability to replace/restore a device configuration."
##### SUMMARY

Currently we have the ability to push configurations to a device but not completely replace a running/startup configuration. It would be nice to have the ability to replace the device config with a backup configuration from a custom database.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Network Modules

##### ADDITIONAL INFORMATION

Assuming we have saved configurations i

[2019-11-05 14:50] dagwieers commented on #57876
@ansibot submit to your master !

[2019-11-05 14:54] dagwieers commented on #60276
This issue was not related to #62768, not sure where that mix-up happened.

[2019-11-05 15:05] acozine commented on #63867
Thanks @mjnorman for following up. Looks like you got the help you needed in https://github.com/ansible/ansible/issues/63691#issuecomment-547176615. The documentation is accurate, but you ran into a corner case on Nuance.

[2019-11-05 15:05] #63867 closed, assigned to nobody

[2019-11-05 15:14] bcoca commented on #64265
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-11-05 15:14] #64265 closed, assigned to nobody

[2019-11-05 15:18] bcoca commented on #64299
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because the utility provided by extras should benefit more users than the usage of poetry does, we have a large group of users using these currently and this is the first time most of us heard about poetry.

However, we're absol

[2019-11-05 15:18] #64299 closed, assigned to nobody

[2019-11-05 15:24] acozine commented on #62902
@nature80 thank you for reporting this error. I cannot reproduce it, though.

I checked out the `stable-2.8` branch and ran `make webdocs` - I did not see these errors.

Your summary shows `root@86a4f9b925d1:/data/ansible-stable-2.8/docs/docsite# make webdocs` - is `86a4f9b925d1` the commit hash? I don't see that commit hash here: https://github.com/ansible/ansible/commits/stable-2.8. Please updat

[2019-11-05 15:24] MaciejKucia commented on #45839
Wouldn't "affects_2.9" label would be appropriate here?

[2019-11-05 15:34] #63954 closed, assigned to nobody

[2019-11-05 15:34] #64355 closed, assigned to nobody

[2019-11-05 15:45] #64160 closed, assigned to goneri

[2019-11-05 15:46] bcoca commented on #64415
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-11-05 15:46] #64415 closed, assigned to nobody

[2019-11-05 15:55] bcoca commented on #64448
You are not supplying an example nor how you are using the uri headers feature, could you give the full task and output (with -vvv)?

We are just using the http standard to specify headers, could you give us more details on what is not correctly formatted?

needs_info

[2019-11-05 15:55] #64448 closed, assigned to nobody

[2019-11-05 16:03] sivel commented on #62600
I believe this is a duplicate of https://github.com/ansible/ansible/issues/63940

[2019-11-05 16:37] GomathiselviS opened #64453 "eos_lacp_interfaces : lacp port-priority not set when state is replaced"
##### SUMMARY

When state = replaced , 'no lacp port-priority' is appended to commands.  Hence , lacp port-priority is not getting set for the interface.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

eos_lacp_interfaces.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
arista eos

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

'no lacp port-priority' should not be part of

[2019-11-05 16:45] tremble commented on #62600
I concur that this looks like #63940

Even better #64070 appears to fix this.  (at least it fixes my playbooks)

[2019-11-05 16:58] acozine commented on #61888
Closing because 2.9 is officially released. The version-switcher has been updated to include `devel`, 2.9 as `latest`, `2.8`, and `2.7`.

My gut feeling is that adding a `beta` or `RC` option to the version-switcher during the run-up to a release would be a lot of work for only a modest amount of value. Active developers and community members can view the docs for RC versions by manually replacing

[2019-11-05 16:58] #61888 closed, assigned to nobody

[2019-11-05 17:13] mkrizek commented on #62600
I tested the provided playbook with PR https://github.com/ansible/ansible/pull/64070 which fixes the issue. I am going to go ahead and close this as a duplicate of https://github.com/ansible/ansible/issues/63940.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-11-05 17:13] #62600 closed, assigned to nobody

[2019-11-05 17:15] acozine commented on #61179
Looks like the documentation is accurate, but the module has a bug. I'm going to remove the docs label and update this issue's title.

@msilmser can you update this with the Ansible version where you see the issue and the playbook that triggers it?

[2019-11-05 17:19] sivel commented on #63417
This should be achievable by instead tracking what we have seen, and iterating the object in order, excluding items that we have already seen.

It seems the jinja2 provided filter does maintain order.

[2019-11-05 17:54] samdoran commented on #64384
I am unable to duplicate this with 2.8.4, 2.9.0, or `devel`

[code]

[code]

[code]

The value for this comes from running `ip addr show primary [device]` for each device listed in `/sys/class/net`. The output is probably not what we expect and it is being parsed incorrectly.

Can you provide the output of `ip addr show primary [device]` for each device in the container?
[code]
needs_info

[2019-11-05 18:19] necouchman opened #64456 "vmware_guest_network unable to change portgroup"
##### SUMMARY
I'm attempting to use the vmware_guest_network module to change the network associated with a particular interface on a bunch of virtual machines, but it seems as though it never tries to actually change the portgroup for the adapter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_network

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
* OpenSuSE 42.3
* Pytho

[2019-11-05 18:32] rewilliams1 commented on #64357
@Fred-sun, so I was able to get it to work by adding the public and private ip like so. If this is the way the azure_rm_networkinterface is suppose to work, then this ticket can be closed.

  - name: Create a network with mutilple ip configurations
    azure_rm_networkinterface:
      name: "{{ db_network_interface }}"
      resource_group: "{{ resource_group }}"
      subnet_name: "{{ subnet_name

[2019-11-05 18:58] Vanav commented on #51758
Same issue: #57416

[2019-11-05 19:42] theHilikus commented on #56326
I can confirm that in this environment, the bug is still present. And yes, only on role update, creation works fine

[code]

[2019-11-05 20:30] #39651 closed, assigned to nobody

[2019-11-05 20:32] robertdebock commented on #64384
Thanks @samdoran, here you go:

prepare:
[code]

output:
[code]

[2019-11-05 20:50] rambleraptor commented on #61179
I've run our integration tests on `gcp_compute_disk` and others and I haven't seen this issue. If I could get some more information, I'd really appreciate it!

[2019-11-05 20:59] MarkusTeufelberger commented on #58266
By far not every "requirement" is on PyPI and installing from there is also not always possible/allowed/desired (some might prefer distro provided packages for example). I agree that a way to automate this might be better, but having a URL to a project or repository there would already be a huge step in the right direction.

[2019-11-05 21:09] matt-telstra commented on #60120
The pull request has now been merged into the devel branch.

[2019-11-05 21:11] #60120 closed, assigned to nobody

[2019-11-05 21:12] Xyrion commented on #60120
That's great news!!

On Tue, 5 Nov 2019, 22:11 Matthew Davis, <notifications@github.com> wrote:

[2019-11-05 21:24] mariolenz commented on #63374
@k3x I've issued PR #64458 today. Can you please have a look? It's a new module, but I hope it'll solve your problem. If not, just let me know.

[2019-11-05 21:38] acozine commented on #63516
@Hyde46 sorry, we got a bit busy with AnsibleFest and the release of Ansible 2.9. Thank you for fixing all those modules! We are looking at the PR now, and should be able to merge it this week. It looks like your fork of Ansible disappeared - do you want to reinstate it so you get full credit for your contribution?

[2019-11-05 21:43] samdoran commented on #64384
So the issue is this line in the interface config:
[code]

And this code that is parsing it:
[code]

For some reason, the interface has `scope global` rather than `brd 172.17.255.255`.

[2019-11-05 21:43] vanbasten2323 commented on #63488
@Fred-sun There are many ways of doing that: for example [az snapshot create](https://docs.microsoft.com/en-us/cli/azure/snapshot?view=azure-cli-latest).

[2019-11-05 21:44] #63516 closed, assigned to nobody

[2019-11-05 21:46] samccann commented on #63516
Sorry didn't see this comment and I already merged!

[2019-11-05 22:39] mattclay opened #64466 "ansible-test import sanity test fails to report some collection import errors"
##### SUMMARY

When using `ansible-test sanity --test import` on a collection, it is possible for an import error in a module_util to go unreported. Additionally, this can lead to import errors in modules that use that module_util reporting failures which do not indicate the actual source of the problem.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

ansible-test

##### ANSIBLE VERSION

deve

[2019-11-05 23:30] CODE-REaD commented on #61671
The problem I am struggling with is that of avoiding duplication in my Ansible inventory.  For example, I use Ansible's Inventory Groups to categorize servers as development or production:
[code]
This lets me run an ad-hoc task on a specific group.  The problem occurs when I need to specify servers by more than one characteristic (e.g., development servers running ubuntu).  Currently the only opti

[2019-11-05 23:33] Andersson007 commented on #63204
I closed them. we don't need PRs which are not needed for anyone.

[2019-11-05 23:40] smemsh opened #64469 "2.9 regression: git module `verify_commit` now broken for older git versions (1.9.1)"
##### SUMMARY

Commit 7a3914bd8b1 from #55396 broke use of tag verify for older gits (1.9.1 fails).  This commit added `--raw` to CLI args used in `verify_commit_sign()` in order to support a `gpg_whitelist` option.  Unfortunately this has broken its use on older gits.  Ubuntu 14 for example (5 years since initial release) has git 1.9.1, which does not have `--raw` and therefore breaks.

All of ou

[2019-11-05 23:50] ericsysmin commented on #50252
@rambleraptor has this been fixed?

[2019-11-05 23:52] Andersson007 commented on #63204
@gundalow , could you please close this. The initial problem was solved. So, we don't need this any more.

[2019-11-06 00:06] #64466 closed, assigned to mattclay

[2019-11-06 00:09] ericsysmin opened #64471 "Missing support for masterAuthorizedNetworksConfig, shieldedNodes, initialClusterVersion"
##### SUMMARY
Add missing fields to duplicate GCP API to build Container Cluster

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gcp_container_cluster

##### ADDITIONAL INFORMATION
Need to add masterAuthorizedNetworksConfig, shieldedNodes, and initialClusterVersion

[code]

[2019-11-06 01:28] ric-man commented on #64369
The problem appears to be line 362 in terraform.py.

Removing:
[code]
and recompiling the terraform module appears to bring output back to stdout.

[2019-11-06 01:45] ric-man commented on #64369
Hi @Akasurde (and @mattclay),

Apologies if this is not the proper way of requesting help, but from my looking around the code, it appears that  https://github.com/ansible/ansible/pull/57044 has supressed stdout from terraform. Am I missing something in the way I am running things?

[2019-11-06 02:17] Fred-sun commented on #58729
kindly ping

[2019-11-06 02:42] panyy3 opened #64475 "redfish_config - Manager - SetManagerNic"
##### SUMMARY
This feature would implement a SetManagerNic command for the Manager category of redfish_config, to update Manager NIC configuration.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
redfish_config

##### ADDITIONAL INFORMATION
This command would help user to configure their Manager NIC.

[2019-11-06 03:01] Fred-sun commented on #64357
@rewilliams1 I agree with you. It makes sense that the IP configuration of the NIC can include both public and private IP configurations. Name1 and name2, on the other hand, just name the two IP configurations, because they are two IP configurations, so they are not shown in the same IP configuration.
This issue can be closed! Thank you very much!
[IP_configurations.docx](https://github.com/ansibl

[2019-11-06 03:08] jborean93 commented on #63016
It's quite hard to explain all this without favouring one tool over the other as each developer/system administrator have their own preferences. I've just added a brief note to state that you should try and upgrade the version using their tool of choice if any warnings or errors occur. Apart from that there's not too much else we can do. Typically Ansible will work with older installs but may not

[2019-11-06 03:19] rewilliams1 commented on #64357
Thanks for looking into ticket.

[2019-11-06 03:19] #64357 closed, assigned to nobody

[2019-11-06 03:24] jborean93 commented on #63841
You can see with https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_robocopy.ps1#L90 that win_robocopy uses the return codes to verify if a failure has occured, in thei case you are getting an rc of `2` which means `Some Extra files or directories were detected. No files were copied.`. You find the common return codes for [robocopy.exe here](https://support.microsoft.com

[2019-11-06 03:24] #63841 closed, assigned to nobody

[2019-11-06 03:25] jborean93 commented on #63735
Can you try with a newer version of Ansible, preferably 2.8 or 2.9. There's been many changes to this module since 2.7 and there's a good change it is fixed.

needs_info

[2019-11-06 03:36] sandeep-sridhar commented on #64430
@akasurde : This is not a "how-to" query. This seems to me like an actual bug with the script module in ansible. This needs triaging. Can you please triage it and take it ahead?

[2019-11-06 03:43] jborean93 commented on #62106
The checksum URL is looking for a URL that contains the filename of the file downloaded then a space with the checksum after that. Unfortunately a lot of sites are different and it's hard to find one that you but I believe it's expecting a format similar to http://download.notepad-plus-plus.org/repository/7.x/7.8/npp.7.8.checksums.sha256 with the checkums first followed by the filename with a spac

[2019-11-06 03:43] #62106 closed, assigned to nobody

[2019-11-06 04:01] jborean93 commented on #64381
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-11-06 04:01] #64381 closed, assigned to nobody

[2019-11-06 05:07] tgxn opened #64479 "AWS `lambda_info` module not returning any details"
##### SUMMARY
I'm attempting to use the lambda_info module to fetch function details, however getting an error AttributeError: 'module' object has no attribute 'all_details'

error is pointing to this line https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/modules/cloud/amazon/lambda_info.py#L386

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cloud/amazon/lambda_info

##### ANSIB

[2019-11-06 05:16] Akasurde commented on #64456
@necouchman Thanks for reporting this issue. @Tomorrow9 Could you please take a look into this ? Thanks.

[2019-11-06 05:30] #63204 closed, assigned to nobody

[2019-11-06 05:30] robertdebock commented on #64384
Since docker is kernel-vitualization, the containers don't have devices, so the host must have this behaviour.

Running from Fedora 31, look at my `docker0` interface:
[code]

Not sure how to fix it, nor what `scope global` exactly means.

[2019-11-06 06:02] ngp-star commented on #51180
@strom18  i tried process what you mentoned with the same playbook what you shared and able deploy the vm given network name.

following are the steps which i followed.
Created a vSwtich Portgroup with name like TEST
Created a Distributed Portgroup with name like TEST
Cloned a VM with the network name TEST on a cluster with standard vswitch.

i am able to deploy with template mentioned in the play

[2019-11-06 06:34] rightaway opened #64483 "hcloud dynamic inventory network filtering"
##### SUMMARY
@LKaemmerling As discussed in https://github.com/ansible/ansible/issues/59133#issuecomment-515133800, you said there would be network filtering in the hcloud dynamic inventory plugin (https://docs.ansible.com/ansible/latest/plugins/inventory/hcloud.html) in Ansible 2.9. But this functionality still doesn't appear. Could it be added? There are many cases where you only want to run ans

[2019-11-06 08:26] Fred-sun commented on #63488
@vanbasten2323 Thanks for your info, I will try!

[2019-11-06 08:32] fartosh opened #64489 "Double escaped backslash in strings while using nested variables in loop"
##### SUMMARY

When looping over a dictionary of lists of dictionaries, as shown below, backslashes in string variables are escaped twice resulting in `DOMAIN\\\\USER` instead of `DOMAIN\\USER`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

loop, nested variables
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Create following se

[2019-11-06 08:39] fartosh commented on #64489
I want to add that if I put variables user1 and user2 directly into `roles/test-role/vars/main.yml` file, e.g.:
[code]
everything is fine.

[2019-11-06 08:40] #64382 closed, assigned to nobody

[2019-11-06 08:50] alexanderadam opened #64492 "Docker module isn't idempotent (anymore?)"
##### SUMMARY

A container stopped (`Exited (137)`) and I thought I could just revive him by running the ansible script again:

[code]

However, this doesn't work because Ansible seems to try creating the container again without looking whether this container id already exists and this results in an error for obvious reasons:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`docker_con

[2019-11-06 08:56] alexanderadam commented on #64492
Huh, which module is deprecated? :thinking:

[2019-11-06 09:00] felixfontein commented on #64492
The `docker` module is deprecated (and removed). Since you mentioned both `docker` and `docker_container`, it thinks you're also meaning a deprecated module.

[2019-11-06 09:03] #64489 closed, assigned to nobody

[2019-11-06 09:05] felixfontein commented on #64492
This looks more like a problem with docker (or your docker daemon), please check its logs. The error happens when we're using Docker SDK for Python to start the container: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/docker/docker_container.py#L2830-L2833

[2019-11-06 09:16] alexanderadam commented on #64492
Wow, Felix you are fast!

Ah, I see. I wasn't sure what the proper module name is. I removed `docker` now to avoid further confusion.

IMHO the problem is that Ansible tried to instantiate the container that already exists but is exited.
Of course the error message comes from Docker. A human would get the same message if the human would make the same error.

The Docker log shows

[code]

IMHO Ansi

[2019-11-06 09:31] Tomorrow9 commented on #62816
Fixed in #64493, @pgbidkar, would you please help reviewing this change? Thanks.

[2019-11-06 09:33] chris968 opened #64495 "os_network.py send the 'dns_domain' parameter to the API whenever it have been defined or not"
##### SUMMARY
The dns_domain parameter is passed to the API when creating network whenever the parameter was defined or not into the Ansible task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`os_network`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.3 LTS

##### STEPS TO REPRODUCE
Create a simple network over an openstack API deployed witho

[2019-11-06 09:34] Akasurde commented on #64399
resolved_by_pr #64494

[2019-11-06 09:34] Akasurde commented on #64399
@jamesfreeman959 Could you please check if PR #64494 works for you and let me know ? Thanks.

[2019-11-06 09:48] Akasurde commented on #62816
resolved_by_pr #64493

[2019-11-06 10:25] ipaleka commented on #64381
Ok, I'll try there. Btw, this has got absolutely nothing with arrangeit - it's just that Robot Framework fails to start the very first keyword being `Start Process    C:\\Program\ Files\\Inkscape\\inkscape.exe    .\\resources\\sample.svg`.

[2019-11-06 10:30] raneq commented on #63204
Hey @Andersson007 , the intial problem was actually two-fold: usernames containing dots, that it looks that you have solved, and it's great, because it improves compatibility with LDAP.

The second part however consists of database names containing dots. As far as I understood from the discussion, this has not been worked out.

Shall we reopen this issue or I rather create a new one? Thanks for yo

[2019-11-06 10:37] peterducai commented on #63733
you can ignore, ticket created within RH customer portal.

[2019-11-06 11:05] jcperezamin commented on #63448
Still not working out:

TASK [Create GitLab Project in group Ansible] **********************************
task path: /gitlab-runner/SrGLS5HF/0/jcperez/powershell/gitlab-project.yml:3
<localhost> ESTABLISH LOCAL CONNECTION FOR USER: gitlab-runner
<localhost> EXEC /bin/sh -c 'echo ~gitlab-runner && sleep 0'
<localhost> EXEC /bin/sh -c '( umask 77 && mkdir -p "` echo /home/gitlab-runner/.ansible/tmp/a

[2019-11-06 11:19] Andersson007 commented on #63204
hello, @raneq , IMO better to open a new one, please, with detailed examples why it is wrong and what you would like to see, etc. for a particular module as an example.
because probably someone else will solve this
i'm going to be on "vacation" for a long period of time, mostly will review and fix critical bugs in my modules :)
thanks!

[2019-11-06 11:42] CendioOssman opened #64499 "query('dig', 'foo') returns list with empty string when no result"
##### SUMMARY
When the `dig` lookup plugin fails to find a value, it returns a single empty string (`[""]`) rather than no entries (`[]`). This makes it very difficult to work with when multiple things are to be merged.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dig

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 30

##### STEPS TO REPRODUCE
[code

[2019-11-06 11:42] CendioOssman commented on #64499
A workaround would be appreciated. Ideally one that works on RHEL 7.

[2019-11-06 11:52] CendioOssman commented on #64499
To answer my own question, this works:

[code]

[2019-11-06 12:02] Andor opened #64500 "Exception when hcloud_server_info has image=null"
##### SUMMARY

I'm trying to use `hcloud_server_info` module and I see the exception.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module `hcloud_server_info`

##### ANSIBLE VERSION

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

I guess that's because the field `image` is `null` for my server:
[code]
And ansible module `hcloud_server_info`

[2019-11-06 12:03] n0trax opened #64501 "acme_certificate fails on python 2.7"
##### SUMMARY
acme_certificate fails on python 2.7
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
acme_certificate

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Distributor ID: Ubuntu
Description: Ubuntu 18.04.3 LTS
Release: 18.04
Codename: bionic
Python 2.7.15+

##### STEPS TO REPRODUCE
Issue a certificate with acme_certificate.

[code]

##### EXPECTED RESULTS
Successful issu

[2019-11-06 12:10] Aech1977 opened #64503 "VMware: vmware_vmotion fails to move VM from one cluster to another"
##### SUMMARY
When running vmware_vmotion module it fails with the error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_vmotion module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running AWX 8.0.0 in a docker container

##### STEPS TO REPRODUCE
Run a job template with the following playbook
[code]
NOTE:  I did try this withOUT the loop an

[2019-11-06 12:27] Aech1977 commented on #64503
Looks like this a known issue (not sure if its fixed in 2.9) based on this post:  https://github.com/ansible/ansible/pull/21421

Specifically the post from mkphil:
"However, whilst it can do vMotion / storage vMotion within a Cluster, I get an error moving the VM to another Cluster:
A specified parameter was not correct:
I'm not sure if it's my environment or not - I've only got one vCenter I can

[2019-11-06 12:55] mmallet-digipok opened #64506 "azure_rm_virtualmachine: Error parsing blob URI"
##### SUMMARY
When creating a VM with unmanaged disks, VHD URIs must be specified. As explained in the online [Azure VHD documentation](https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal/virtual-machine/cpp-deploy-json-template), the URI is created with __http__ as scheme. When VM facts are retrieved, the URI set at deployment time are correctly retrieved, untouched.

Unfortun

[2019-11-06 12:59] pgbidkar commented on #64503
Hi @Aech1977 , Please can you check these conditions meet?
The resource pool to which this virtual machine should be attached.

1. For a relocate or clone operation to a virtual machine, if the argument is not supplied, the current resource pool of virtual machine is used.
2. For a clone operation from a template to a virtual machine, this argument is required.
3. If the virtual machine is relocat

[2019-11-06 13:02] Aech1977 commented on #64503
We actually arent using Resource pools.  Do we need to as part of the conditions for using the module?  None of the numbered scenarios above fit what I'm attempting to do.  I am attempting to vmotion hosts from one host in Cluster A to another host in Cluster B both under the same DataCenter

[2019-11-06 13:09] s-hertel commented on #64479
If you want to test and open a PR with a patch, this should fix it
[code]

[2019-11-06 13:14] Aech1977 commented on #64503
For the record the documentation on the module doesnt stipulate that is mandatory

[2019-11-06 14:02] misch42 opened #64515 "ios_vlans throws an error"
##### SUMMARY
The play
[code]

Throws an error when executed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module: ios_vlans

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 8,  Cisco C9200L

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
should delete all VLANs on Cisco switch.

##### ACTUAL RESULTS
See error message above.

For comparison:

[2019-11-06 14:25] #63940 closed, assigned to nobody

[2019-11-06 14:28] #64155 closed, assigned to nobody

[2019-11-06 14:39] rohitthakur2590 commented on #64302
thats correct behaviour

[2019-11-06 14:39] #64302 closed, assigned to nobody

[2019-11-06 14:51] Yannis100 commented on #44502
[netconf_config](https://docs.ansible.com/ansible/2.8/modules/netconf_config_module.html) module works quite well for IOS-XE
(Except for key auth, still trying to figure out why)

[2019-11-06 15:15] rosowiecki commented on #63676
See also: https://savannah.gnu.org/support/?110102

[2019-11-06 15:16] ganeshrn commented on #44502
@javcasalc Did you try setting `anisble_network_os` value to `default`. It should work for any network OS that supports standard [Netconf RFC](https://tools.ietf.org/html/rfc6241)

[2019-11-06 15:16] ganeshrn commented on #44502
needs_info

[2019-11-06 15:22] momcilo78 commented on #34733
Friendly feedback from the outsider (who found this page by looking for precisely this kind of module):

It looks like this plugin is based on the python-ldap. The main drawback is that this requires the binaries (which in turn would make the ansible module less portable):
https://www.python-ldap.org/en/latest/installing.html#pre-built-binaries

I have used this library in the past, until I encoun

[2019-11-06 15:25] Yannis100 opened #64518 "netconf connection - key authentication"
##### SUMMARY

netconf connection key authentication is not working
network_cli connection key auth is working well with the same private key file
netconf connection is working with user/password credentials

#27243

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

 connection/netconf.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ncclient 0.6.6 (with l

[2019-11-06 15:29] Yannis100 commented on #44502
For info, even with `ansible_network_os` set to `ios` it works :
[code]

[2019-11-06 15:41] peterducai opened #64520 "please extend docs with extra example with failed_when"
##### SUMMARY

please extend examples of error handling as it's not clear that following *DOES NOT* work

[code]
but following *DOES* work
[code]

PS:  existing documentation makes me thing both of these should work.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs

##### ANSIBLE VERSION

[code]
https://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html

#

[2019-11-06 15:45] Yannis100 commented on #64518
component connection/netconf.py

[2019-11-06 15:56] sivel commented on #64520
The problem is that they are logically 2 different statements:

Let's assume that `sshout.stdout` is the following string:

[code]

The first statement produces:

[code]

The 2nd statement produces:

[code]

You likely want to change that statement to use an `and` instead of `or`:
[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2019-11-06 15:56] #64520 closed, assigned to nobody

[2019-11-06 16:10] samdoran commented on #64384
I've investigated this a bit more. The interface has no broadcast address, which is the problem. I was only able to arrive at this configuration by manually modifying the interface.

[code]

`scope global` refers to the scope where the address is valid. `global` means the address is globally valid.

I suspect something modified the interface configuration as I didn't see this in my default install

[2019-11-06 16:16] ganeshrn commented on #44502
@Yannis100 For ios please set `anisble_network_os=default` since it uses default netconf plugin.

needs_info

[2019-11-06 16:17] t1hom7as commented on #57399
Fails for me too when **not** using a loop:

[code]

Using Ansible 2.9 fails.
Using Ansible 2.8.3 works fine.

Note, this fails on purpose due to the asterisk in this line: `src: git/data/configs/*`

[2019-11-06 16:26] Yannis100 commented on #44502
No need to overwrite the `ansible_network_os` var, it will use the default plugin by default for ios
https://github.com/ansible/ansible/blob/c5d61953b1f0ec95609e3354b1faa2727b5f54a0/lib/ansible/plugins/connection/netconf.py#L209
Better keep the ios value in case a specific plugin for ios is created later on

[2019-11-06 16:28] ganeshrn commented on #44502
Specific platform plugin is required only when the vendor-specific netconf RPC's are supported for that platform.

[2019-11-06 16:31] #64379 closed, assigned to sivel

[2019-11-06 16:33] rrey opened #64523 "ansible-test --help reports an error if cwd is not a collection path"
##### SUMMARY

The `ansible-test --help` command will fail with an error if you are not inside a collection path.
It's a bit hard as an introduction :) We should be able to get help from anywhere.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECT

[2019-11-06 16:37] hevisko commented on #56629
doesn't seem to work for me ;(
also "had" to upgrade to 2.9 today and hit by this ;(

[2019-11-06 16:43] emfalcon commented on #18305
I am having the same issue.

What I have done is created a new playbook to attempt a python hello world to see what happens.

playbook:
- hosts: all
  gather_facts: False
  tasks:
  - name: Test Hello_world
     hello_world:
     register: resule
   - debug: var=result

hello_world.py
from ansible.module_utils.basic import *
def main():
       module = AnsibleModule(arugement_spec={})
       theRe

[2019-11-06 16:43] Yannis100 commented on #44502
Yes, I'm not saying otherwise, just saying it's not mandatory to change the network_os to default, keeping it to ios will work exactly the same
And if a platform-specific plugin is created like for junos, the playbook/inventory won't need to be updated
(specifying network_os at the playbook level is not the best practice, it was for the example, it should be set per device/group inside the invento

[2019-11-06 16:45] webknjaz commented on #64523
Hey @rrey,
have you tried checking the latest devel version? (from Git)

[2019-11-06 16:50] Yannis100 commented on #64518
I wonder if the issue is on the device side, refusing publickey auth type
[16.9 conf guide](https://www.cisco.com/c/en/us/td/docs/ios-xml/ios/prog/configuration/169/b_169_programmability_cg/configuring_yang_datamodel.html#id_113311)
[16.12 conf guide](https://www.cisco.com/c/en/us/td/docs/ios-xml/ios/prog/configuration/1612/b_1612_programmability_cg/configuring_yang_datamodel.html#id_113311)
The `

[2019-11-06 17:03] mtarking opened #64526 "Httpapi/nxos Plugin does not work with new nxos_interfaces module in 2.9.0"
##### SUMMARY

It does not appear the new nxos_interfaces, nxos_l2_interfaces, nxos_l3_interfaces, and nxos_vlans are compatible with using the httpapi/nxos plugin.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

httpapi
nxos_interfaces

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Nexus 9000v

##### STEPS TO REPRODUCE

A single task shown below using a

[2019-11-06 17:06] javcasalc commented on #44502
Hi

to be honest, when I did open this case I had some problem with ansible 2.5/2.6 but probably it works ok now.

Thanks for the help :)
If you don't mind I close the ticket

[2019-11-06 17:06] #44502 closed, assigned to nobody

[2019-11-06 17:17] Vsb19 opened #64527 "unable to connect to Hosts from Ansible Server in order to check created files in the hosts"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

``
ansible 2.8.5

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

YAML

[code]

[2019-11-06 17:27] Vsb19 commented on #64527
giving the command:
ansible demo(group name) -a "list" in order to list all the files in the hosts that are under demo group
but it is throwing me the error like
172.31.15.90 | UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: Permission denied (publickey,gssapi-keyex,gssapi-with-mic,password).",
    "unreachable": true
}
172.31.7.49 | UNREACHABLE! => {

[2019-11-06 17:36] rrey commented on #64523
Hi @webknjaz !

No I didn't.
But I checked out the tag v2.9.0 and tried `ansible-test --help` and had no error.
maybe the `source hacking/env-setup` is setting things properly ?

[2019-11-06 17:41] samdoran commented on #64384
Can you please test with #64528 and see if that fixes the issue?

[2019-11-06 17:56] sivel commented on #64523
I believe it is still an issue in devel.

If you are outside of the ansible git clone, and not in a collection you get that error.

It is due to the first `data_context()` call that is done before argument parsing.

[2019-11-06 18:03] emfalcon commented on #18305
update on mine, because I am using AWX I have found the problem is with "become" when I set become: false in the playbook it works perfect when I use become: true it hangs, I believe this is because it is prompting that with AWX will never make it back.

[2019-11-06 18:32] mikewiebe commented on #64526
@mtarking There is an open PR [WIP] to address this.

https://github.com/ansible/ansible/pull/62843

[2019-11-06 18:41] mtarking commented on #64526
@mikewiebe thanks for the pointer to the PR. I missed it.

[2019-11-06 19:05] jpmens commented on #64499
OP has found a solution. IMO this is notabug

[2019-11-06 19:07] #64499 closed, assigned to nobody

[2019-11-06 19:17] wojtek0806 opened #64531 "ansible-test failure when ansible_collections nested in local directory"
##### SUMMARY

ansible-test fails to run with a generic error when **ansible_collection** is found in **local/** directory. I have also found a problem that even if you change the local directory to something else e.g. foobar, the tests will run but you will get another error, see below in Actual results output.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-test
##### ANSIBLE VERSIO

[2019-11-06 19:33] #64102 closed, assigned to samccann

[2019-11-06 19:33] mattclay commented on #64531
@wojtek0806 The directory tree shown includes both a `test` and `tests` directory. Move everything from `test` to `tests` and see if you still have any problems.

[2019-11-06 19:50] wojtek0806 commented on #64531
@mattclay same issue:
[code]
[code]

[2019-11-06 20:43] felixfontein commented on #64492
Do you think this because you are guessing, or because you have looked at the module's code?

Anyway, I've been trying to reproduce this with the following playbook:
[code]
So far, no success. The container is regularly trying to restart (because of `restart_policy: unless-stopped`), and the result is success without change (since the container exists and is not stopped).

[2019-11-06 20:47] mattclay commented on #64531
@wojtek0806 Can you show the full command being executed, as well as the full output?

[2019-11-06 21:12] thedoubl3j commented on #64531
moving the folders worked for me locally @mattclay @wojtek0806

[2019-11-06 21:15] IPvSean opened #64534 "route53_info uses type string for <=2.9 and type int for greater than 2.10"
##### SUMMARY
The task level parameter `max_items` for the route53_info uses a string for Ansible 2.9 and older, but for the development branch (2.10) and newer it uses an integer (type int)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
route53_info

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A, happening on multiple systems

##### OS / ENVIRONMENT
N/A, happening on multiple system

[2019-11-06 21:49] wojtek0806 commented on #64531
the command and output is all there

[2019-11-06 22:09] mattclay commented on #64531
@wojtek0806 Do the files you're trying to test show up in the output of `git ls-files`?

[2019-11-07 03:39] neoakris commented on #62302
I fell back to a shell command that calls aws cli

The aws cli command to enable AWS S3 Public Access Blocking is here, you can use this as a workaround in the meantime until official support is added. And this might be decent reference material for someone who implements the functionality.

https://stackoverflow.com/questions/53383674/how-do-i-determine-if-an-s3-bucket-has-public-access-using-aws

[2019-11-07 04:22] Akasurde commented on #64453
resolved_by_pr #64530

[2019-11-07 06:48] zigaaa commented on #64037
Hi,
I have this problem too. Did you check & install this hotfix? https://supportcenter.checkpoint.com/supportcenter/portal?eventSubmit_doGoviewsolutiondetails=&solutionid=sk114661
I didn't, can't get it.
CP responds to curl?

curl  -H "Content-Type: application/json" -k -X POST -d '{"user":"user","password":"pass"}' https://url/web_api/login

BR

[2019-11-07 06:55] pgbidkar commented on #64503
I am able to reproduce the issue when source and destination hosts are part 2 different clusters.
Thanks @Aech1977 for reporting this

[2019-11-07 07:03] Akasurde commented on #62641
@richlv Could you please check if #63969 works for you and let us know ? Thanks in advance.

needs_info

[2019-11-07 07:04] Akasurde commented on #62641
resolved_by_pr #63969

[2019-11-07 07:12] haiyuazhang opened #64542 "azure_rm_snapshot: Doesn't support create snapshot from a managed disk"
##### SUMMARY

The snapshot module currently only supports storage blob as a creation source, it should
supports managed disk as a creation source.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/azure/azure_rm_snapshot.py
##### ANSIBLE VERSION

[code]

[2019-11-07 07:13] #64374 closed, assigned to nobody

[2019-11-07 07:45] Nolfik commented on #64265
I have the same error after upgrading to version 2.9.0. But if you go back to version 2.8.6 then everything works fine.
Playbook example:
ansible-playbook -i hosts server.yml --extra-vars "ansible_ssh_user = serv ansible_sudo_pass = serv" --ask-pass

[2019-11-07 08:07] luciferinlove opened #64545 "k8s module doesn't support multiple configs in KUBECONFIG env variable"
##### SUMMARY
When multiple configs are set up in KUBECONFIG env variable, k8s module doesn't work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 29 (Twenty Nine) 5.0.13-200.fc29.x86_64

##### STEPS TO REPRODUCE
There are two configs in $HOME/.kube - $HOME/.kube/config1 and $HOME/.kube/config2 with

[2019-11-07 08:09] CendioOssman commented on #64499
That was a workaround for this specific scenario. I don't think it's reasonable to consider the issue fixed. What if it's a TXT record that is requested?

I fail to understand how it makes sense to return an empty entry rather than no entry when there is no such record? It just makes everyone's life more difficult.

[2019-11-07 08:30] dekimpew opened #64546 "lvol thinpool ignores check run"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lvol

##### ANSIBLE VERSION

_Virtual Machine 1_
[code]
_Virtual Machine 2_
[code]
[code]

##### CONFIGURATION

_Virtual Machine 1_
[code]
_Virtual Machine 2_
[code]

##### OS / ENVIRONMENT

Tested on:
_Virtual Machine 1_:
```CentOS Linux release 7.6.1810 (Core) on Virtual Machine```
_Virtual Machine 2_:
```CentOS Linux release 7.

[2019-11-07 08:47] Fred-sun commented on #63488
@vanbasten2323 I see what you mean. You are saying that some properties of azure_rm_galleryimageversin should be added, such as os_disk and data_disk. right?

[2019-11-07 08:55] jmuurling-Fox commented on #64265
The suggestion @cigan1 said worked for me.
The problem is that I used "ansible_sudo_pass". I think I missed the notification that I had to change it into "ansible_become_pass".
This problem is solved. Thanks for the help.

[2019-11-07 09:36] rrey commented on #64523
I tried to see if I could make a patch but it is beyond my understanding of the code.
The `data_context()` is made during the argument parsing during the `add_environments()` call.

[2019-11-07 09:39] zaskan opened #64549 "nxos_vlan module default ce mode for Nexus 5K series"
##### SUMMARY
A customer using Ansible 2.8.5 detected that “mode ce” is configured by default only on the Nexus 7000 & not on the Nexus 5000.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_vlan

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Nexus 5000 & Nexus 7000
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Default vlan mode should be se

[2019-11-07 09:40] stefanhorning commented on #64479
@s-hertel tested your fix in my local Ansible project and is seems to fix the issue, I opened a PR as you suggested here https://github.com/ansible/ansible/pull/64548

[2019-11-07 09:58] peterducai commented on #64520
all I ask is if this extra examples can be put to docs, so it's clear also for other users/customers of Ansible. thanks

[2019-11-07 10:27] rrey opened #64552 "Add ansible-lint to ansible-test runs"
##### SUMMARY

`ansible-lint` is not part of the tools used in the `ansible-test` execution and it feels kind of weird because it is executed by Ansible Galaxy when you submit a collection.
Galaxy will then set a quality score on the collection based on the execution of `yamlint` and `ansible-lint` as [documented here](https://galaxy.ansible.com/docs/contributing/content_scoring.html).

Having `an

[2019-11-07 10:30] ssbarnea commented on #64552
I totally support the idea but at the same time I am wondering if we should not generalize linting as we already have multiple linters involved on our codebase (yamllint, flake8,...). Maybe that is a call to use pre-commit tool to orchestrate the linting?

[2019-11-07 10:35] rrey commented on #64552
Now that `ansible-test` is released with ansible (since 2.9) the subject goes beyond the ansible/ansible repository :)

[2019-11-07 10:38] webknjaz commented on #64552
FYI ansible-lint rules are not something that the Core team endorses as "best practices".

[2019-11-07 10:47] rrey commented on #64552
@webknjaz what about its use on Galaxy then ?

[2019-11-07 10:48] webknjaz commented on #64552
Galaxy is not the same as Core. They needed to score things somehow.

[2019-11-07 10:53] rrey commented on #64552
I understand. My request comes after the release of `ansible-test` with ansible (through `pip`).
I guess that an option provided to `ansible-test` allowing to enable or disable `ansible-lint` would allow to satisfy everybody ?

[2019-11-07 10:59] winem commented on #63955
I will also take a look at the code. Removing `shlex_quote` can already be the fix but this can also be highly dangerous. This depends on the further handling of the password.

[2019-11-07 11:01] webknjaz commented on #64552
Unlikely. `ansible-test` was originally designed to test the Core repo itself. But we cannot apply this linter here.
Also, "including" something into the dist would signal that we "support" that thing which is untrue. For various reasons, we'd need to implement support of ancient Python runtimes in ansible-lint and ensure that it runs on old Pythons that isn't going to happen unless somebody does

[2019-11-07 11:06] markatdxb opened #64554 "read_csv red dot issue"
##### SUMMARY

when i read specific csv file i get the red dot as the first char of the file which is causing issues to header vars
https://stackoverflow.com/questions/34535616/parsed-csv-file-shows-dot-at-the-beginning
according to this article its somehow related UTF-8 BOM encoding. would you be able to develop the switch to prevent module read this?

##### ISSUE TYPE
- Bug Report

##### COMPONE

[2019-11-07 11:46] philfry opened #64555 "docker_container: mac_address not respected"
##### SUMMARY

When creating a docker container using `docker_container` the given `mac_address` is not being configured correctly. Tested with a `macvlan` network.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

both containers having

[2019-11-07 11:51] peterducai opened #64556 "please provide msg of debug module on standard output without whole json"
##### SUMMARY

please provide msg of debug module on standard output without whole json
##### ISSUE TYPE
- Feature Idea

when calling

[code]
I want to see only msg on standard output, not whole json of item.

##### COMPONENT NAME

debug
##### ADDITIONAL INFORMATION

with several playbooks we getting huge json, where msg: is somewhere in the middle. this is completely anti-user-friendly.  all we w

[2019-11-07 11:57] #64556 closed, assigned to nobody

[2019-11-07 12:07] catalinad90 opened #64557 "group_names variable issue"
##### SUMMARY
I have the following task in role, in order to fetch the group of hosts dynamically from the current playbook:
[code]
I would expect to fetch the group of hosts with **group_names** special variable.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
**group_names**

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPROD

[2019-11-07 12:20] xstodu07 opened #64558 "Tags doesn't work properly with module meta"
##### SUMMARY
Module meta execute every time, even if the action has a different tag specified.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meta tasks (end_host, end_play)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vm1_main (ansible host): CentOS Linux release 7.6.1810 (Core)
vm2 and vm3: CentOS Linux release 7.5.1804 (Core)
##### STEPS TO REPRODU

[2019-11-07 12:42] rrey commented on #64552
As a user, I find very hard to understand that Ansible Galaxy uses ansible-lint as a quality indicator and `ansible-test` the tool bundled with Ansible (which includes linters) will not include that tool.

There is an issue here. Either `ansible-lint` is :

- accepted in the official Ansible ecosystem (which seems to be the case since Galaxy uses it)
- not accepted and it is removed from Galaxy
-

[2019-11-07 13:09] ricco24 opened #64560 "mysql_user module check_implicit_admin doesn't fallback to login credentials"
##### SUMMARY
mysql_user module with check_implicit_admin=yes try to connect to database without password. But when login failed doesn't fallback to login_user and login_password credentials.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE
[code]

First run is ok, but on second run Ansible

[2019-11-07 13:17] ssbarnea commented on #64552
We should all remember that what rules are enabled by default or skipped is not something set in stone. Is it in our power to decide what rules make sense or not but at the same time checking no-rules is clearly much worse than checking a subset of them, those that are stable and non-debatable.

I guess that rpm-packaging-is-hard (it is!) should not be used an excuse for not doing anything about a

[2019-11-07 13:21] #64030 closed, assigned to nobody

[2019-11-07 13:56] pgrzegorz commented on #64009
Dictionary "address" has "Domain" key not "domain" attribute. This patch may be helpful:

`diff --git a/lib/ansible/modules/cloud/amazon/ec2_eip.py b/lib/ansible/modules/cloud/amazon/ec2_eip.py
index f49fbe9aa6..39f8b1cfd8 100644
--- a/lib/ansible/modules/cloud/amazon/ec2_eip.py
+++ b/lib/ansible/modules/cloud/amazon/ec2_eip.py
@@ -251,7 +251,7 @@ def associate_ip_and_device(ec2, module, address,

[2019-11-07 14:37] sivel commented on #64523
I'll need to defer to @mattclay as I am unsure what problems could arise by trying to move the call until after arguments have been parsed.

[2019-11-07 14:43] chkp-orso commented on #64037
Hi,
Can you please check again if the following are correct: ansible_user, ansible_password and the ip-address.

Also CP does responds to curl.

BR

[2019-11-07 14:44] wkoot commented on #18051
Beta support for python3 was added to mercurial in v5.0, released half a year ago.
Soon v5.2 will be released (5.2rc0 was released on 2019-10-21), which should allow `pip install Mercurial`

[2019-11-07 14:48] vanbasten2323 commented on #63488
@Fred-sun Yes. In that way, user can create the gallery image version from os disk and data disks.

[2019-11-07 14:56] jctanner commented on #64552
Hi folks,

I empathize with all the points and the confusion being brought up here. However as @webknjaz has mentioned, ansible-test has a different scope from ansible-lint and both are useful to different ends.

A collection can potentially contain plugins AND roles, therefore a combination of ansbile-test and ansible-lint is a logical combination, but they should be dependences of a larger tool

[2019-11-07 14:56] #64552 closed, assigned to nobody

[2019-11-07 15:05] ninelciocoiu opened #64564 "retry files management"
##### SUMMARY
There is no clear description as to how retry files are managed once a playbook is run with `--limit @/retry/file`

Say I run a playbook with a lot of hosts that might be *unreachable*. First time it runs there will be a retry file created. Second run will be run against the remaining hosts in the retry file.

Q1: Will the successfull hosts at the second run be "removed" from the ret

[2019-11-07 15:11] decarvad commented on #64037
I had this exact error and added the following to my host vars and it worked after.
ansible_httpapi_use_ssl=True
ansible_httpapi_validate_certs=False

[2019-11-07 15:14] chkp-orso commented on #64037
Thanks!

[2019-11-07 15:16] abadger commented on #18051
<nod> If someone wants to add a pip install step (and subsequent cleanup) to the integration tests, this can probably be moved forward now.

[2019-11-07 15:23] franviera92 opened #64565 "Doubt in vars"
It is possible to save the result of hostvars ['localhost'] ['foo'] ['stdout_lines'] as a continuation:

[2019-11-07 15:32] s-hertel commented on #64483
!component =lib/ansible/plugins/inventory/hcloud.py

[2019-11-07 15:39] renekalff opened #64566 "Using hostvars results error with template lookup plugin"
##### SUMMARY
When using ansible 2.9.0 an error is returned when the hostvars variable is used in a jinja2 template and processed by the template lookup plugin.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
template plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS 7.6

##### STEPS TO REPRODUCE
playbook.yml
[code]

test.j2
[code]

##### EXPECTED RESUL

[2019-11-07 15:50] sivel commented on #64566
Duplicate of https://github.com/ansible/ansible/issues/63940

[2019-11-07 15:50] #64566 closed, assigned to nobody

[2019-11-07 15:53] jrvilda opened #64567 "Error in module vmware_vm_shell with windows command"
##### SUMMARY
Error in module  vmware_guest with windows command:
Example:

[code]

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_vm_shell
pyvmomi                          6.7.3

##### ANSIBLE VERSION
ansible 2.7.7
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/etc/ansible/my_modules']
  ansible python module location = /usr/lib/python2.7/site-p

[2019-11-07 16:21] samdoran commented on #61671
@CODE-REaD The has been possible since Ansible 2.4 with the [constructed inventory plugin](https://docs.ansible.com/ansible/latest/plugins/inventory/constructed.html). For this to work with ad-hoc commands, you would have to have facts cached.

[2019-11-07 16:31] GomathiselviS opened #64568 "eos_l3_interfaces: idempotent not working as expected for state=replaced"
##### SUMMARY

- When a playbook with eos_l3_interfaces , stae= replaced, is run twice, changed is always  'true'
- In the second run, the configured ipv4 address is removed.

This is because, no ip address is always passed as part of commands.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_l3_interfaces.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Arista EOS

##### STEPS TO

[2019-11-07 16:50] bcoca commented on #61671
FYI, adhoc tasks already have access to facts cache, so no need to create that.

[2019-11-07 17:03] awheeler opened #64569 "Provided ansible.cfg contains outdated, non-working sample configs"
##### SUMMARY
Some of the examples in the provided ansible.cfg are incomplete or outdated.
For example: the `sudo_flags` in the defaults section doesn't do anything, while `become_flags` does work, it only works when in the `privilege_escalation` section, but an example is missing from that section.
I suspect there are other things missing/incorrect in the config file that could be updated to bett

[2019-11-07 17:04] s-hertel commented on #64565
Yes, did you try it? It doesn't look like you have brackets around the var used for pw.
In the second play in the playbook, `foo` should be undefined since you haven't added that hostvar to that host. Both `pw` and `hostvars['localhost']['foo']['stdout_lines']` should be defined.
[code]
[code]

[2019-11-07 17:04] #64565 closed, assigned to nobody

[2019-11-07 17:16] flowerysong commented on #64557
This is not a bug. `group_names` is a list, but you're trying to use it as a single string.

Attempting this via debug's `msg` parameter would have returned a clear error message instead of a generic undefined:
[code]

You can either access a specific list element's members (`groups[group_names.0]`) or loop over the list to retrieve them all (e.g. `group_names | map('extract', groups) | flatten |

[2019-11-07 17:23] mattclay commented on #64523
The `--help` output is of course dependent on what options are available. The available options are different depending on the working directory, which is why help is currently unavailable if not in a supported directory.

In order to support help in any directory we first will need to decide what limited subset of help would be useful, to see if it's practical to support it.

[2019-11-07 17:52] s-hertel commented on #64557
Closing as per flowerysong's comment. Feel free to reach out on IRC or the mailing list if you have more questions.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-11-07 17:52] #64557 closed, assigned to nobody

[2019-11-07 18:38] zolvaring commented on #63337
I wanted to +1 I have a very similar situation to tazerdev. I would like to be able to add rules to the firewall regardless of it's current running/stopped state. Starting the firewall and then adding the rules could cause an interruption, but I use the immediate flag because it will fail on servers that have turned off the firewall, and I would like those to get the rules as well. It seems like s

[2019-11-07 19:09] bcoca commented on #64527
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-11-07 19:09] #64527 closed, assigned to nobody

[2019-11-07 19:16] sivel commented on #64558
Due to Ansible using meta actions implicitly for internal functionality, they ignore tags as to not cause Ansible issues.

However, we probably could add some logic to tag those implicit meta tasks with always.

We just need to look at this more in depth.

[2019-11-07 19:23] samdoran commented on #64569
!component =ansible.cfg

[2019-11-07 19:27] bcoca commented on #64569
!component =examples/ansible.cfg

[2019-11-07 19:31] samdoran commented on #64564
After discussing this a bit, here is what we need to do:
1. Ensure that the existing retry file is overwritten for each run, possibly issuing a warning. It looks like we are appending to the file currently, which is no intentional.
1. Document this behavior

The option was changed to be disabled by default and we do not plan to do any more work to this feature beyond the minor changes I outlined a

[2019-11-07 20:49] hb-i commented on #64425
Having a similar issue myself. Haven't been able to find a fix.

`
ansible-inventory -v --list -i /tmp/netbox_inventory.yml
Using /etc/ansible/ansible.cfg as config file
Fetching: http://netbox.example.com/api/dcim/sites/?limit=0
Fetching: http://netbox.example.com/api/dcim/regions/?limit=0
Fetching: http://netbox.example.com/api/tenancy/tenants/?limit=0
Fetching: http://netbox.example.com/api/dci

[2019-11-07 21:09] vijaychebium opened #64573 "get_url ftp fails"
##### SUMMARY
I am trying to download a file from ftp server using Ansible playbook YML script

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_url module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT
Mac

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
ftp download should be successful

##### ACTUAL RESULTS

[code]

[2019-11-07 21:20] Spredzy commented on #64534
To provide more context here:

In a patch merged few days ago, `max_items` parameters type has been moved from not being defined to be forced into `int` https://github.com/ansible/ansible/commit/8528fbc79091f4aedd5a831318dcc876d48862d5#diff-05d16027b320eeb69137d9607287a5a4R420

But the route53 api expects a `string` and not an `int`. Hence the message copied in this issue description. (Source: htt

[2019-11-07 21:27] mmasko commented on #47497
We also experience this issue. The module adds to the domain and then renames it. Should be the other way around. It also reports the computer already existed for us even with a brand new hostname.

[2019-11-07 21:30] #64501 closed, assigned to nobody

[2019-11-07 21:31] felixfontein commented on #64555
That's not surprising at all since you explicitly set `networks_cli_compatible: no`, i.e. you request that the module works differently than docker CLI. In this case, the module creates the container with the default network, and the container probably gets the MAC address for this interface. Then, it adds the network you specified, and removes the default network. The interface to the new network

[2019-11-07 21:44] Spredzy opened #64575 "Backward incompatible change in cli_command module"
##### SUMMARY

[code]

The above task is working on current `stable-2.9` and broke in `devel` in the last few days.
https://github.com/ansible/ansible/commit/c27e47327f902dddf0b93767e387cacdfc12e11f is probably related.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

  - cli_command

##### ANSIBLE VERSION

  - devel

##### CONFIGURATION

  - N/A

##### OS / ENVIRONMENT

  - N/A

##### STEPS

[2019-11-07 21:44] Spredzy commented on #64575
cc @ganeshrn

[2019-11-07 22:08] chenchuk77 commented on #64009
got the same issue, i didnt make it to apply the patch (is it because of the index in the file ?) , however - i change manually the file and execute the playbook again successfully,
Thanks .

[2019-11-07 23:48] jamessewell commented on #22579
I actually want the inverse. I have a loop with many items, some need a reload if they change config some need a restart -> each has an action variable which I want to use to trigger

[2019-11-08 01:23] Kiarashz commented on #54964
It's somehow resolved so closing.

[2019-11-08 01:23] #54964 closed, assigned to Akasurde

[2019-11-08 01:49] Fred-sun commented on #63488
@vanbasten2323 Thanks for your reply!
@mybayern1974 Please help take a look this issue? new feature request for azure_rm_galleryimageversion module! Thanks a lot!

[2019-11-08 02:11] pytkr commented on #62899
Responce is [here](https://github.com/ansible/ansible/issues/62899#issuecomment-536274858), please take into your consideration.

[2019-11-08 03:39] #36745 closed, assigned to nobody

[2019-11-08 04:08] Akasurde commented on #64503
resolved_by_pr #64544

[2019-11-08 04:09] Akasurde commented on #64503
@Aech1977 Could you please check if PR #64544 works for you and let us know ? Thanks

needs_info

[2019-11-08 04:58] thessell commented on #57062
+1

We have been affected by this on Ansible 2.8.5 with RHEL 6.

In our case, we were putting down a custom `*-release` file in `/etc` to mark the version of our SOE:
[code]
This resulted in:
[code]
Stepping through the `_distro.py` code linked by @samdoran above, we got:
[code]
Note: _orgname_ is a stand-in for our actual org name, which alphabetically comes before `/etc/redhat-release`

**RHEL 6

[2019-11-08 05:48] jutkarsh079 commented on #64425
I got it working by commenting out the "tags" in group_extractors (line 203) in netbox.py.

[2019-11-08 06:26] williamwu0220 opened #64584 "find module should accept plain text as filter when searching file content"
##### SUMMARY
When determine file content contains specified strings by using find module, contains parameter should accept plain text as filter condition.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
find module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Debian Buster (10)
kernel: Linux op-room 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2+deb10u1 (2019-09

[2019-11-08 06:38] juergenhoetzel commented on #64560
Fix: [Don't return module error when mysql_connect fails](https://github.com/ansible/ansible/pull/64585)

[2019-11-08 06:55] HERBOD7 commented on #63977
Dear @samdoran I sent PR fo this issue. please feel free to comment or ask for any changes.

[2019-11-08 07:19] ngp-star commented on #57873
@ralphie02
this https://github.com/ansible/ansible/pull/44510 PR is broken the updating host name without specifying customization section while doing clone

[2019-11-08 07:40] lxuzhang opened #64590 "AttributeError: 'NoneType' object has no attribute 'template' when creating vm is in progress"
##### SUMMARY

When the vm creation is in progress I try to query the existing vm and template information whenever by using pyVmomi vim or vmware_guest_facts in playbook, I get below error:

AttributeError: 'NoneType' object has no attribute 'template'

However if no vm creation is in progress, both code and vmware_guest_facts work fine when I query the vm and template information. If you could p

[2019-11-08 07:57] Lunik commented on #63448
What version of Ansible are you using ?

[2019-11-08 08:05] lxuzhang commented on #64590
thanks for updating. Sorry if posted wrong place. I moved the issue to the community groups.

[2019-11-08 08:34] philfry commented on #64555
That's not the cause, the problem still occurs with `networks_cli_compatible: yes`.
[code]

output:
[code]

[2019-11-08 08:54] Akasurde commented on #62407
@ronansalmon Thanks for providing additional information. I can confirm that remote machine has residue files from the playbook run.

[code]

[2019-11-08 09:24] richlv commented on #62641
Yay, thank you - that resolves the issue.

[2019-11-08 09:43] Akasurde commented on #62407
resolved_by_pr #64592

[2019-11-08 09:49] ninelciocoiu commented on #64564
Great! Thanks for clearing that out. That seems reasonable.

[2019-11-08 10:30] gtie commented on #64016
@hugocartwright, what needs to happen for your PR to get merged? Also, can it get backported to the 2.8 branch?

[2019-11-08 10:32] jameseck commented on #59089
Same error here too with a free https://app.terraform.io account.
This looks to be caused by https://github.com/hashicorp/terraform/issues/21830
A workaround that would work for me would be an option in ansible for not passing any backend_config params from ansible to terraform.  I can then just use the backend config declared in my .tf files.

[2019-11-08 10:32] epheo opened #64593 "Random filter within a 'for' always return the same value"
##### SUMMARY
While using the Random jinja filter within a for loop, the returned value will be the same for each iteration of the loop.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- Jinja2 Filters (tested with random filter)
- Template module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Fedora 31 / Python 3.7 / Ansible 2.8

##### STEPS TO REPRODUCE

[2019-11-08 10:37] ipaleka commented on #64381
[Solved](https://groups.google.com/forum/#!topic/ansible-project/Ysr3qVkbNM8) :)

[2019-11-08 11:03] jameseck commented on #59089
After some further digging, I've found a way to make this work.
I have a free https://app.terraform.io account with a single workspace - we'll call it "terraform-bob".

It seems that if you have defined a named workspace in the terraform backend settings and run terraform init, terraform is now configured in single workspace mode and does not support workspaces (terraform workspace list returns an

[2019-11-08 11:09] epheo commented on #64593
It seems to work ok if I use Python (2 and 3) and Jinja2-2.10.3-py2.py3 directly

[code]
[code]

[2019-11-08 11:15] #62641 closed, assigned to nobody

[2019-11-08 11:15] #63455 closed, assigned to nobody

[2019-11-08 11:19] gavenkoa opened #64595 "maven_artifact fails with "Connection timed out" because our Artifactory blocks if there are a lot of 401."
`maven_artifact` uses httplib2 that attempts anonymous access even if user/password is provided.

So access log looks like:

[code]

Our repository Artifactory blocks access (per IP??) if too many 401 happens.

Ansible then fails with:

[code]

There is a patch that fixes the behavior of httplib2 : https://github.com/DorianGeraut/maven_artifact_work/commit/5fff2870ba1e8dee864b21eb3a2ea40c10547484

[2019-11-08 11:20] gavenkoa commented on #64595
Check also https://github.com/ansible/ansible/issues/50015

[2019-11-08 11:26] atikhono opened #64597 "Ansible k8s module ignores dropping loadBalancerIP for Kubernetes service"
##### SUMMARY
Ansible k8s module ignores dropping loadBalancerIP for Kubernetes service.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s module

##### ANSIBLE VERSION

[code]
Reproducible with Ansible 2.8.6 as well.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS 10.14.6 Ansible controller + Docker Desktop local Kubernetes cluster
Centos 7 Ansible controller + Azure Kubernetes

[2019-11-08 11:30] Akasurde commented on #60152
@realged13 Could you please confirm if @cigamit and @rrotaru suggestions works for you ? Thanks

needs_info

[2019-11-08 11:36] gavenkoa commented on #64595
Ansible 2.8, but I believe it effects 2.9 or what is latest (according to content of `/ansible/lib/ansible/modules/packaging/language/maven_artifact.py`).

[2019-11-08 11:48] trishnaguha commented on #64526
resolved_by_pr https://github.com/ansible/ansible/pull/62843

[2019-11-08 12:11] epheo commented on #64593
Works also ok with Ansible using

{% for i in items %}
{{ range(100000, 999999) | random }}
{% endfor %}

[2019-11-08 12:11] #64593 closed, assigned to nobody

[2019-11-08 12:29] jcperezamin commented on #63448
2.9.0

[2019-11-08 12:59] willthames commented on #64597
Ansible 2.9 allows you to use `apply` to achieve similar results to `kubectl apply`

I recommend running the existing configuration in again with `apply: yes` and then running in the new configuration - it should remove the `LoadBalancer` key

[2019-11-08 13:04] stevenjwilliams83 opened #64599 "Cannot get asa_config line to run successfully"
##### SUMMARY
Trying to configure asa_config line with playbook. Execution failing.

##### ISSUE TYPE
TASK [Set terminal page to zero] ***********************************************
fatal: [10.53.0.105]: FAILED! => changed=false
  ansible_facts:
    discovered_interpreter_python: /usr/bin/python
  msg: operation requires privilege escalation

##### COMPONENT NAME
asa_config / asa_command

##### A

[2019-11-08 13:15] mindrb commented on #64294
The same exception is raised when trying to uninstall lshw-B.02.18-16.el8.x86_64

[2019-11-08 14:28] JonathanGrant commented on #64495
Does it only raise an exception if ‘dns_domain’ is not provided in the config? Or does the ‘dns_domain’ kwarg always raise?

Can we just remove the kwarg?

[2019-11-08 14:47] herpus-derpus opened #64601 "vmware_tag_manager on multiple Managed Nodes causes HTTP 503 response from API"
Not reported.

##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-11-08 14:47] #64601 closed, assigned to nobody

[2019-11-08 14:47] herpus-derpus commented on #64601
Mistaken press of Carriage Return during submission

[2019-11-08 14:52] hb-i commented on #64425
Yep, that got it working. Thanks!

[2019-11-08 15:09] herpus-derpus opened #64602 "vmware_tag_manager on multiple Managed Nodes causes HTTP 503 response from API"
Not reported.

Exists in:
stable-2.8
stable-2.9
devel

##### SUMMARY
When I use vmware_tag_manager to set the state of VMware Tags on an Inventory of two Managed Nodes, execution fails with the API responding with HTTP code 503 Service Unavailable.

If I use the throttle Task keyword to limit execution to one at a time, the Task completes for both Nodes.

If this is understood behaviour of the API

[2019-11-08 15:11] herpus-derpus commented on #64602
Workaround is to use ansible 2.9 or greater and specify:
`throttle: 1`
at the Task level, in line, e.g. :
    - name: "Ensure Tags are set on VMs"
      delegate_to: localhost
      throttle: 1
      vmware_tag_manager:
        hostname: "vcenter1.mydomain.com"
        username: "vcenter-admin"
        password: "a really solid password"
        validate_certs: no
        tag_names:
          - "T

[2019-11-08 15:22] kaenganxt opened #64603 "Pacman module fails when a package is installed that's provided by another package"
##### SUMMARY
When using the pacman module to install packages that are provided by other packages, Ansible fails with an index error (list index of of range)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pacman

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Arch Linux 64 bit (Host and Target are the same system, using ansible-pull)

##### STEPS TO REPRODU

[2019-11-08 15:25] atkhan007 opened #64604 "zabbix_mediatype parameter renamed in Zabbix 4.4 and onwards"
##### SUMMARY
Mediatype parameter is renamed from Zabbix 4.4 onwards and it breaks the zabbix_mediatype ansible module.

##### ISSUE TYPE
Zabbix 4.4 renamed the mediatype parameter from 'description' to 'name', hence breaking the module.

##### COMPONENT NAME
zabbix_mediatype.py

##### ANSIBLE VERSION
ansible 2.9.0
  config file = /home/user/ansible/ansible.cfg
  configured module search path = [u

[2019-11-08 15:30] wojtek0806 commented on #64531
@mattclay
Nope, here is the output:
[code]
ran the ansible test again and same results:

[code]

[2019-11-08 15:41] davedow15 commented on #63920
I developed a fix for this bug and tested it on my system.
I tried pushing a branch that is forked off of devel, but I'm getting Authentication failed.
Can you please let me know how I can get authorization to push a branch up to the repo so I can submit a PR for review?
Or, if it's easier, I can send you the fix and you can submit it (it's super-simple,  just a few lines of code).
Please let me k

[2019-11-08 15:48] achhabr1 commented on #64324
What is the resolution for this bug ? Please point me in right direction.

[2019-11-08 15:53] discostur opened #64606 "k8s_info: no action detected in task"
##### SUMMARY
Ansible Module k8s_info throws the error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_info

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS 7.7

##### STEPS TO REPRODUCE
Just create a minimal ansible playbook and test the examples from https://docs.ansible.com/ansible/latest/modules/k8s_info_module.html#k8s-info-module

playbook:
[code]

Error:
[code]

[2019-11-08 16:01] sivel commented on #64606
`k8s_info` did not exist in Ansible 2.8:

The 2.8 docs for that module can be found at https://docs.ansible.com/ansible/2.8/modules/k8s_facts_module.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-11-08 16:01] #64606 closed, assigned to nobody

[2019-11-08 16:08] sivel commented on #37519
From https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_documenting.html there is a line that reads:

Clicking on the link takes you to https://docs.ansible.com/ansible/latest/dev_guide/testing_documentation.html

Which indicates:

pip install --user -r docs/docsite/requirements.txt

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.

[2019-11-08 16:08] #37519 closed, assigned to nobody

[2019-11-08 16:11] sivel commented on #40706
This is now achievable using Ansible Collections, that are supported on Ansible Galaxy.  See https://docs.ansible.com/ansible/devel/dev_guide/developing_collections.html for more information.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-11-08 16:11] #40706 closed, assigned to nobody

[2019-11-08 16:11] jswindle-rtn opened #64609 "yum module doing update takes much, much longer than command line equivalent"
##### SUMMARY
Yum update using yum module takes much longer to execute than command line equivalent.
Running playbook with '-v' or '-vvv' brings execution times to similar of command line equivalent.
Ansible v2.7.8 and v2.8.5 exhibit same behavior. Not able to test against latest or devel.
Possibly related to #51284 but not strictly related to "name: '*'" as argument because "name: kernel" has lon

[2019-11-08 16:11] bcoca commented on #35895
These seem to reflect a resource issue, need more info to narrow down, probably dmesg and/or system logs would have the information needed.

[2019-11-08 16:11] #35895 closed, assigned to nobody

[2019-11-08 16:12] onitake opened #64610 "ec2 and ec2_instance module overlap"
##### SUMMARY

Ansible currently contains two modules for managing AWS EC2 instances: [`ec2`](https://docs.ansible.com/ansible/latest/modules/ec2_module.html) and [`ec2_instance`](https://docs.ansible.com/ansible/latest/modules/ec2_instance_module.html).

There is considerable overlap between the modules, but it's unclear what the differences are and why there are two modules in the first place.

[2019-11-08 16:12] bcoca commented on #27445
these docs were moved to use ansible-test and that shows that you must use requirements.txt, which includes all needed libs. Closing this as it is no longer relevant.

[2019-11-08 16:12] #27445 closed, assigned to nobody

[2019-11-08 16:15] bcoca commented on #23229
inventory has change a lot in 2.4 and current ansible versions, could you confirm that this is still an issue?

needs_info

[2019-11-08 16:15] #23229 closed, assigned to abadger

[2019-11-08 16:17] bcoca commented on #21595
this requires someone removing the shipped ansible structure, so not going to consider it an issue and actually expect an Exception on a badly structured/released ansible version.

[2019-11-08 16:17] #21595 closed, assigned to alikins

[2019-11-08 16:19] sivel commented on #22864
This was fixed in https://github.com/ansible/ansible/commit/725ae96e1bb7790cec4a56a9a8a9c5bcb3182951 and is no longer an issue in recent versions of Ansible.

If you are still having problems, please open a new issue with a reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!

[2019-11-08 16:19] #22864 closed, assigned to jimi-c

[2019-11-08 16:21] onitake commented on #64610
!component +lib/ansible/modules/cloud/amazon/ec2
!component +lib/ansible/modules/cloud/amazon/ec2_instance

[2019-11-08 16:22] geauxvirtual opened #64611 "Always section of parent block for failed host will execute with always section of child block for successful hosts"
##### SUMMARY

Always section of a parent block for a failed host can execute at same time as always section of a child block for successful hosts. If this parent always section fails, this ends the play for the successful hosts, and always sections are not executed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

roles
play_iterator

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code

[2019-11-08 16:25] bcoca commented on #33724
The output does not match the playbook, it seems 'foo' is the connection user and 'become' is not being used in the execution output.  Can you provide a clear reproducer?

needs_info

[2019-11-08 16:31] felixfontein commented on #64555
For full compatibility to docker CLI, you also have to set `network_mode` to the first network the container is supposed to be connected to, i.e. here `network_mode: dtestnet`. At least for me, the container has the correct MAC in that case. (Check out the docs for `networks_cli_compatible` in https://docs.ansible.com/ansible/latest/modules/docker_container_module.html)

[2019-11-08 16:32] jwatt opened #64612 "The unarchive module fails with a relative path for `dest`"
##### SUMMARY
This works on the host:
[code]

Using the `unarchive` module to do the same thing does not work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
m:unarchive

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Client: macOS 10.14.6
Host: Ubuntu 19.10

The `tar` binary has been installed using `sudo apt install tar` and `/usr/bin/tar` is present.

##### STEPS TO REPRODUCE

[co

[2019-11-08 16:33] bcoca commented on #12675
This no longer creates a traceback, but emoji modules are still not usable and considered invalid.

:-(

[2019-11-08 16:33] #12675 closed, assigned to nobody

[2019-11-08 16:33] atikhono commented on #64597
@willthames Thanks! Adding `apply: yes` to all operations did help. I previously had issues with some parts of configuration not being removed in Kubernetes (while removed in definition) -- that was resolved by changing k8s merge_type. Really confusing.

[2019-11-08 16:33] jacksonp2008 opened #64613 "vmware_guest throws error when guest is in 'suspended' state attempting to move to 'poweredon'"
##### SUMMARY

vmware_guest throws error when guest is in 'suspended' state attempting to move to 'poweredon'

Exercising all other state transitions and they seem to work fine.  poweredon, poweredoff, restarted, shutdownguest, rebootguest

Only occurs when machine is in 'suspended' state and we attempt to move it to 'poweredon' or anyt other state.

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2019-11-08 16:34] bcoca commented on #34832
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because this would require exposing vault internals to filters and this opens up a slew of security issues we do not want to risk.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don'

[2019-11-08 16:34] #34832 closed, assigned to nobody

[2019-11-08 16:37] bcoca commented on #41032
copy module should not be required to handle encoding, it can even copy binary data as it does NOT open the files themselves.

[2019-11-08 16:42] maxamillion commented on #64609
resolved_by_pr https://github.com/ansible/ansible/pull/63713

[2019-11-08 16:46] #64609 closed, assigned to nobody

[2019-11-08 16:46] bcoca commented on #40786
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because this would deviate from the 'standarish' ini format and create complexity in the module w/o a realistic demand for this, I would point you at 'replace' and 'lineinfile' modules as alternatives for 'not really ini' format

[2019-11-08 16:46] #40786 closed, assigned to nobody

[2019-11-08 16:49] sivel commented on #41122
We have discussed this and have decided against pursuing such a feature. To use `--start-at-task` you must have unique task names.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-11-08 16:49] #41122 closed, assigned to nobody

[2019-11-08 16:51] sky-joker commented on #63905
Hi @victron :)
Please can you check if this PR(https://github.com/ansible/ansible/pull/64605) is what you expected?

[2019-11-08 16:57] bcoca commented on #41576
can you give actual examples?  a reproducer and output with -vvv would be helpful to try to tackle this issue.

needs_info

[2019-11-08 17:00] bcoca commented on #41715
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-11-08 17:00] #41715 closed, assigned to nobody

[2019-11-08 17:19] acdingman commented on #50502
Still broken in ansible 2.8.6 as of 2019-11-08. Also still shows the desired consumer_name value in debug output, but doesn't use it when registering.

[2019-11-08 17:22] philfry commented on #64555
Gee, thanks a lot, it works! :+1:

How about setting `network_mode` automatically to the first network when `networks_cli_compatible` is set?

As a side note, the documentation mentions

for `network_mode`. That's kinda irritating :smiley:

[2019-11-08 17:25] createchange opened #64614 "Ansible 2.9.0 breaks Terraform module "Planned" output"
##### SUMMARY
I have a repo that I created to utilize the Terraform module. The original code shows output when registered to a variable:
[code]

However when running it on the machine that I cloned the repo to, no output is gathered. When comparing the virtualenvs that the code is running in, the working version is using Ansible 2.8.5, while the broken version is using 2.9.0.

When forcing broken

[2019-11-08 17:27] GomathiselviS opened #64615 "eos_lag_interfaces: Port-channel getting removed for state='overridden and deleted'"
##### SUMMARY
 When state= overridden/deleted, the channel-group under the interface should be removed. But the port-channel is getting removed. There are chances that there is another interface associated to the same port-channel.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_lag_interfaces.py

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Arista EOS

##### STEPS TO REPRODUCE

[2019-11-08 17:34] sivel commented on #64614
Duplicate of https://github.com/ansible/ansible/issues/64369

[2019-11-08 17:37] createchange commented on #64614
@sivel

Crap, thanks!

[2019-11-08 17:45] s-hertel commented on #64610
The `ec2` module documentation should probably be updated to suggest using the `ec2_instance` module.

The primary difference is that the `ec2` module is using the `boto` library which is no longer maintained. This means the ec2 module will not get new features (we don't add new code reliant on boto) and while it can get bug fixes, if the bug exists in boto (such as only supporting some regions) t

[2019-11-08 17:49] mattclay commented on #64531
@wojtek0806 OK, that probably explains why it's not working then. Do you have a git ignore entry that is preventing git from seeing the files you're trying to test? To verify, try this instead:

`git ls-files --cached --others --exclude-standard`

If you don't see the files you expect, then they're being ignored by git and `ansible-test` will ignore them as well.

[2019-11-08 18:04] scomoletti commented on #23073
Quotes are invalid syntax for the iptables command.

Is there any progress on a fix for this?

[2019-11-08 18:39] LinusU commented on #23073
I think that the `extra_args` is a good idea 👍

[2019-11-08 18:56] wojtek0806 commented on #64531
ok so the first issue is explained, why do i see this message on successful runs see the second results example in the original post:
[code]

[2019-11-08 19:02] mattclay commented on #64531
@wojtek0806 That is an issue with certain versions of git that I'd like to fix. It's an error from git that ansible-test ignores (and shows as a warning instead). It shouldn't cause any problems if you're not using git submodules.

What version of git are you using?

[2019-11-08 20:06] #64534 closed, assigned to nobody

[2019-11-08 20:17] rovandep commented on #50762
Just as a general comment, if facing "msg": "the python NetApp-Lib module is required" and having both pip2 and pip3 are present on the system, most likely on a RHEL-like 7.6+ or 8+, try to install NetApp-Lib with both pip2 and pip3.
Somehow, this solved many times that behavior during customer engagement.

[2019-11-08 20:38] bogd commented on #55042
Sorry for the delay in answering, but since the original post there have been several updates (to both ansible and the mikrotik firmware), and I had to check if the issue is still present.

I can still reproduce the issue on ansible 2.9.0 on Ubuntu 18.04, with mikrotik firmware 6.45.6 .

The playbook fails with:

`    "module_stderr": "Traceback (most recent call last):\n  File \"<stdin>\", line 1

[2019-11-08 20:58] feisacrabel commented on #63012
i tried with no luck

[2019-11-08 21:11] #63016 closed, assigned to nitzmahone

[2019-11-08 21:36] #63874 closed, assigned to nobody