[2017-10-23 09:18] linhn3822 commented on #31687
@ansibot
The ansible version 2.4
[admin@centos74 hadoop]$ ansible --version
ansible 2.4.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/admin/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible-2.4.1.0-py2.7.egg/ansible
  executable location = /usr/bin/ansible
  python

[2017-10-23 09:36] linhn3822 commented on #31687
@andreaso
I'm not sure I understand you correctly about the error relate to look up rather than authorized_key module itself.

Just to explain. I want to generate they ssh key on hadoop01, but want to populate the ssh public key to using ansible authorized_key module to all host i.e hadoop01, hadoop02, hadoop03, etc.

I'm confident that you have seen the first task of generate ssh key is working f

[2017-10-23 09:52] wknapik commented on #31878
It's not necessary, but it is an amazon-recommended best practice for accessing subaccounts.

Users would be a very impractical alternative. With 10 team members and 10 subaccounts, you'd have to create a 100 users and force everyone on the team to maintain 11 unique passwords each and force them to keep reauthenticating in the aws console (which would be even worse with mfa), instead of just clic

[2017-10-23 10:10] gundalow commented on #29592
@jean-christophe-manciot there were a huge amount of NXOS bug fixes added in Ansible 2.4. We've also added a load of integration tests to defend this functionality.

Could you please retest in 2.4.

needs_info

[2017-10-23 10:13] gundalow commented on #27933
@dbpqdb Would you please be able to retest this on Ansible 2.4
We made some indentation fixes in 2.4, I believe they were for ios.

needs_info

[2017-10-23 10:24] willthames commented on #31878
It's a massive job. Ansible 2.4 introduced quite a few bugs as a result of upgrades of modules to boto3 migrations, and my view is that we need to ensure we have reasonable test suites before migrating further modules, which further slows module migration.

At the moment the document I linked in my previous comment is the closest we have to a 'plan'. Before this issue, there was no real pressure o

[2017-10-23 10:26] gundalow commented on #29727
@dmitrijsf @dgarros @vnitinv @stacywsmith @Akvarium Hi, the `junos_*` modules have ` timeout:` option available under the `provider:` dictionary, see http://docs.ansible.com/ansible/latest/junos_config_module.html#options

Does that offer what you need?

needs_info

[2017-10-23 10:28] gundalow commented on #19884
Once this we need very clear examples and documentation for this

[2017-10-23 10:34] chrmcd commented on #29727
Unfortunatly I no longer have access to any Juniper equipment and can't test if the timeout: option adjusts the RPC timeout value in Junos. But if it does, that's what I wanted.

[2017-10-23 10:42] wknapik commented on #31878
Yeah, that sounds like the right idea.

That would be great (from my perspective, anyway ;]).

Thanks for all your answers. Now that the root cause is identified, I'll just take a step back and follow the discussion in this issue.

[2017-10-23 10:49] srvvr opened #32033 "Dashes in subnet names don't work"
In the examples of the documentation in
https://github.com/ansible/ansible/blob/6693cc3f5abb42efabd664a09051c38bdbbca0b2/lib/ansible/modules/cloud/amazon/ec2_vpc_nacl.py#L79
subnet names with dashes in them are used. I failed to get subnets with dashes in their names to be associated with NACLs. As soon as I remove the dashes from the names, the associations work.
Please correct the documentation

[2017-10-23 10:51] 0dataloss commented on #30187
Hi guys, If it can be of any help, we found that the issue is due in our case from touching the API limit on AWS EC2.
Once we get one request too many, we get the error on the Tagging section because the instance is not there yet.
The instance will be created, but only when the API limit resets

Ansible version is 2.5

[2017-10-23 10:54] gundalow commented on #29490
@anotherjesse Hi, I believe this was fixed. Could you please retest on Ansible 2.4? Thanks in advance

needs_info

[2017-10-23 10:59] gundalow commented on #29784
@IDQDD What does `ansible-playbook --version` return?

[2017-10-23 11:07] #32033 closed, assigned to nobody

[2017-10-23 11:25] trishnaguha commented on #31837
We have more than 65 nxos modules. Adding xml output parsing support for all the nxos modules will make the modules codebase hard to maintain. The logic implemented with json output will needed to be implemented with xml ouput as well.

[2017-10-23 11:26] trishnaguha commented on #29784
Related issue https://github.com/ansible/ansible/issues/31837

[2017-10-23 12:16] valentin-krasontovitsch commented on #15901
Came here from the SO question - may I request this issue be reopened?

Or is there actually a fix for this now?

[2017-10-23 12:18] #31489 closed, assigned to nobody

[2017-10-23 12:20] ossark opened #32035 "The attribute domain_name in the ios_system module always reports "changed=True""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_system module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
setting the switch domain name with the ios_system module reports "changed=True" no matter if the setting was changed or not.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The second playbook run should have produced an "OK" result instead of "C

[2017-10-23 12:24] trondhindenes opened #32037 "win_uri expects a "dict-formated" body"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_uri

##### ANSIBLE VERSION
[code]

##### SUMMARY
According to the documentation, the "body" parameter of win_uri will simply get injected into the request. The code actually treats the input as a dict, which IMHO is wrong. This doesn't allow for "unparsed" json to be injected into the request

##### STEPS TO REPRODUCE
[code]
(index_defaults.

[2017-10-23 12:29] mkrizek commented on #31656
Thanks for the report! The reason why this is happening is that the value goes through https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/ini.py#L336 which converts `3#thisanpasswd` into `3`:
[code]

The bug might have been caused by https://github.com/ansible/ansible/pull/22893.

For the time being, the workaround seems to be to define the variable like so `ansible_sudo_p

[2017-10-23 12:31] promaty commented on #11496
Still the same problem on Ansible 2.3.2....

[2017-10-23 12:38] rbott opened #32038 "openssl_privatekey: Do not recreate already existing private key"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
openssl_privatekey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Debian Stretch

##### SUMMARY
The openssl_privatekey module recreates an already existing private key if it does not match all criteria - e.g. size is specified with 4096 bits whereas the existing key only has 2048 bits length. While this mak

[2017-10-23 12:43] romain-dartigues commented on #29647
Duplicates #23632

[2017-10-23 13:03] gundalow commented on #31906
Fixed in 2.4, so removing from 2.4 project

[2017-10-23 13:10] Akasurde commented on #32032
@ajithkt Thanks for reporting this issue. I am trying to reproduce the issue.

[2017-10-23 13:34] bcoca commented on #31074
can you check against current devel? I believe #27175 should have fixed this in a more general manner.

[2017-10-23 13:39] gundalow commented on #24466
Closing this as we believe the original issue is solved.

Please raise a fresh bug for the remaining issue including fresh logs and steps to reproduce.

Thanks in advance.

[2017-10-23 13:39] #24466 closed, assigned to nobody

[2017-10-23 13:50] soumyadipDe commented on #14160
Any update on this issue? Without echoing the input the prompting in pause module looks unusable to us.

[2017-10-23 13:57] hans-d commented on #18140
seem to be encountering this, having multiple levels of role_includes (and no handlers in the playbook)
and running ansible 2.4

[2017-10-23 13:59] xmj commented on #15405
This is still a problem with Ansible `2.3.2.0`.

[2017-10-23 14:07] hhsnow opened #32041 "selinux module removes line breaks in v2.4.0.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

selinux

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Source: Linux/OSX (python2.7 & 3.6)
Dest: CentOS 7.4

##### SUMMARY

The selinux module updates the file /etc/selinux/config without proper line breaks . This causes the entire file to be read by selinux as a comment, thus reverting selinux to its defa

[2017-10-23 14:11] Yannik commented on #14604
@chouseknecht Could you provide an update on the status of this issue?

[2017-10-23 14:34] s-hertel commented on #31977
Hi @wknapik, thanks for opening the issue. I'm closing this one so we can track the bug in one place because there's a duplicate here: #23419. I also have a patch: #23758.

[2017-10-23 14:34] #31977 closed, assigned to nobody

[2017-10-23 14:36] mkrizek commented on #31656
Another workaround is to use the yaml format in inventory instead of ini, so:
[code]

[2017-10-23 14:37] s-hertel commented on #30187
Hi @0dataloss. That is really helpful, thanks.

[2017-10-23 14:39] alikins commented on #32022
Sounds a lot like https://github.com/ansible/ansible/issues/30516

[2017-10-23 14:46] grumpymatt commented on #32000
The patch above does seem to fix the issue with resource_pool. I am now getting a different error. Looks like it is already reported: #32032

[2017-10-23 14:51] grumpymatt commented on #32032
@Akasurde I was able to duplicate this issue when testing #32026

[2017-10-23 14:54] jffz opened #32042 "vmware_guest broke in 2.4.0.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_NOCOWS(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_PIPELINING(/etc/ansible/ansible.cfg) = True
CACHE_PLUGIN(/etc/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/etc/ansible/ansible.cfg) = /etc/ansible/facts
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 5
DEFAULT_GATHERING(/etc/an

[2017-10-23 15:01] jffz opened #32043 "vsphere_guest - cdrom configuration crash the plugin (2.3 - 2.4)"
##### ISSUE TYPE

 - Trying to use cdrom configuration parameters from the module seems to crash

##### COMPONENT NAME
vsphere_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_NOCOWS(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_PIPELINING(/etc/ansible/ansible.cfg) = True
CACHE_PLUGIN(/etc/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/etc/ansible/ansible.cfg) = /etc/ansib

[2017-10-23 15:05] jffz opened #32044 "vmware_guest - Create vm from template with custom IP settings clean the DNS settings"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOs 7.4

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Don't touch /etc/resolv.conf file if dns_seervers is not set or make it edit the resolv.conf

##### ACTUAL RESULTS
`/etc/resolv.conf` empty after vm creation

[2017-10-23 15:11] ghost opened #32045 "did not find expected <document start>"
Error in 2.4.0.0
Yesterday update system and get error

[code]

when try

[2017-10-23 15:14] alikins commented on #32016
Labeled as docs_report  as a request for adding docs for the exit_json special casing of 'path'.

We can't really change the 'path' behavior since it is used by a lot of modules and goes back several versions, but it would be useful to have that documented.

[2017-10-23 15:15] ghost commented on #32045
Sorry was my mistake. Close

[2017-10-23 15:15] #32045 closed, assigned to nobody

[2017-10-23 15:32] yethee commented on #3106
You can set any variable with a module [cronvar](https://docs.ansible.com/ansible/latest/cronvar_module.html).

[2017-10-23 15:38] luzfcb commented on #31926
Same problem here.

[code]
The unarchive works if i run directly on remote server

[code]

[code]

[2017-10-23 15:45] zoni opened #32048 "timezone module fails to set timezone on FreeBSD"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`timezone` module

##### ANSIBLE VERSION

[code]

(Bug exists on 2.4.0.0 and master as well)

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

FreeBSD (likely affects any version, confirmed on `10.3-RELEASE` and `11.1-RELEASE`)

##### SUMMARY

Timezone module fails to set correct timezone on FreeBSD machines and fails with an error (`Could not

[2017-10-23 15:45] kedarkekan commented on #32035
@ossark ios_system module is idempotent. Unable to reproduce the reported issue. You can see from the following re-run of same task, `commands` list is empty for 2nd run.
[code]

[2017-10-23 15:50] aaronk1 commented on #32042
If you do a debug on the variable called "name", what do you see?

Example:  http://docs.ansible.com/ansible/latest/debug_module.html#examples

[2017-10-23 15:54] alikins commented on #31932
Need more context here. I assume this is about the https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/clustering/kubernetes.py module?

[2017-10-23 15:57] wknapik commented on #31977
Well, the other issue covers questions about a specific stack, while mine is about any/all stacks, but if the fix is the same, then sure, there's no harm in closing this one.

[2017-10-23 16:01] alikins commented on #31971
Related to:
https://github.com/ansible/ansible/issues/11185
https://github.com/ansible/ansible/issues/18401
https://github.com/ansible/ansible/issues/16273

[2017-10-23 16:03] amine-plutoflume commented on #30187
hello @0dataloss , thanks for your feedback
does a simple system sleep solve the issue?

[2017-10-23 16:05] jffz commented on #32042
@aaronk1 I don't have a "{{ name }}" var anywhere in my playboooks / tasks / hosts, i will debug it tomorrow anyway but i would have the same issue using ansible 2.3.0.0 if it would be related to one of my var, i guess

[2017-10-23 16:13] alikins commented on #32003
pinging @leedm777 @willthames

[2017-10-23 16:15] vamshideveloper commented on #31898
So, i added (get_checksum: False) but it fails with the same error above

[code]

[2017-10-23 16:15] thaumos commented on #32027
just to confirm, are you asking for an azure_container_registry module?

[2017-10-23 16:17] thaumos commented on #32027
@tstringer, @haroldwongms

[2017-10-23 16:19] 0dataloss commented on #30187
@amine-plutoflume I am not sure it will.
Mainly because you do not know which limit you have reached.

In our case was the number of t2.medium instances which we got up to 20 (default AWS limit) and were requesting the 21st.
A simple sleep in that case would not fix the problem because the issue will be there until someone or something deletes one or more instances.

It would be correct from the A

[2017-10-23 16:23] alikins commented on #31998
(linking to the comment on other bug that spawned this) https://github.com/ansible/ansible/issues/18528#issuecomment-338284006

And it's original source, just for ref. https://github.com/ansible/ansible-modules-core/issues/1716#issuecomment-338271789

[2017-10-23 16:27] s-hertel commented on #31977
@wknapik You're right, important distinction, thanks for catching that. I've added a line to my bug fix for this case.

[2017-10-23 16:33] alikins commented on #31998
(quoting a formatted version of the error msg here for reference)

[2017-10-23 16:39] wknapik commented on #31977
Great, thanks.

[2017-10-23 16:44] alikins commented on #32041
duplicate_of #30618

https://github.com/ansible/ansible/pull/31251 has a fix for this, which has been merged to devel https://github.com/ansible/ansible/commit/00df1fda1072223580022a9e42d25fba393c494a

and cherry-picked to stable-2.4 at https://github.com/ansible/ansible/commit/00df1fda1072223580022a9e42d25fba393c494a so fix will be in 2.4.1

[2017-10-23 16:44] #32041 closed, assigned to nobody

[2017-10-23 16:46] alikins commented on #32002
pinging @privateip @rcarrillocruz

[2017-10-23 16:54] alikins commented on #32042
(reformatted error pasted here for easier reference)

[code]
[code]

[2017-10-23 16:56] #31656 closed, assigned to mkrizek

[2017-10-23 17:05] xenithorb commented on #31998
Yep. Thanks for tracking down the previous issues, that I admittedly sprawled over a few tickets that I thought were the same thing. When I wrote this one I decided to keep it clean and not involve "the story" because I now had a very basic test case that was easily reproducible.

Also, thanks for taking the time to triage. I'm available for testing if necessary.

[2017-10-23 17:05] sirkubax opened #32050 "net_static_route -> invalid connection specified, expected connection=local, got ssh"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
net_static_route

##### ANSIBLE VERSION
[code]
##### SUMMARY
The module does not work with remote devices. There is no information in the documentation with regards this limitation.
Either this http://docs.ansible.com/ansible/latest/network_debug_troubleshooting.html#error-invalid-connection-specified-expected-connection-

[2017-10-23 17:06] elasticdog commented on #31713
@s-hertel @bcoca please remove me from the @ansibot as a potential developer/reviewer...I submitted some fixes to this module 4+ years ago (pre-ansibot, I believe), and never expected to be perpetual community maintainer.

[2017-10-23 17:08] michaelmcguinness commented on #32016
Fair enough. Looks like the code equates 'path' to files. I guess usage when that is not the case is not common.

[2017-10-23 17:29] alikins commented on #32050
Could you provide an example playbook demonstrating how you are using this module?

[2017-10-23 17:46] alikins commented on #32032
orig commit reformatted

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
ansible 2.5.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible-2.5.0-py2.7.egg/ansible
  executable location

[2017-10-23 17:52] archongtv commented on #32050
- name: Configure static route for OpenVPN traffic
  net_static_route:
    prefix: 192.168.251.0
    mask: 255.255.255.0
    next_hop: 172.21.0.254
    state: present

- name: Configure static route for Office traffic
  net_static_route:
    prefix: 10.0.0.0
    mask: 255.255.255.0
    next_hop: 172.21.0.254
    state: present

[2017-10-23 17:53] sirkubax commented on #32050
Sure
[code]

[2017-10-23 17:54] gundalow commented on #32050
@sirkubax Hi
I know this is a little confusing, in Ansible 2.5 we will be making this a lot clearer, however in 2.4.

`connection: local` when used with the Network modules will actually under the hood set `connection: network_cli`. `network_cli` means "connect to a remote network device over SSH".

I'm currently working on some getting started docs for Ansible Network support, which will hopefull

[2017-10-23 17:55] ganeshrn commented on #32002
Please try using `asa_command` module. http://docs.ansible.com/ansible/latest/asa_command_module.html

needs_info

[2017-10-23 17:56] sirkubax commented on #32050
@gundalow, thanks for reply
What would be the solution to run this on the remote host?

any combination of:
delegate_to
local_action

Could you please provide an example how would you recommend to manage routing table on remote hosts?

[2017-10-23 19:04] b2sweety commented on #32002
Yes, asa_command module worked good. Thank you for providing the solution.

Here is the playbook snippet and output:

  tasks:
   - name: RETRIEVE CONFIGURATION FILE
     asa_command:
       commands:
         - show running-config
       host: "{{ ansible_host }}"
       username: "{{ ansible_user }}"
       password: "{{ ansible_ssh_pass }}"
       auth_pass: "{{ ansible_auth_pass }}"
       aut

[2017-10-23 19:39] jacksonp2008 commented on #32004
I have also verified that this exhibits the same behavior with vCenter 6.0.

There is a workaround however, you can set these values using the older "vsphere_guest" using vm_extra_config:

    - name: using vsphere_guest
      vsphere_guest:
        vcenter_hostname: "{{ vcenterhostname }}"
        username: "{{ vcusername }}"
        password: "{{ vcpassword }}"
        resource_pool: "k{{ vctarg

[2017-10-23 19:49] samdoran commented on #14160
@soumyadipDe I'm digging into this. Not a simple fix but doing my best to find a solution.

[2017-10-23 20:39] abadger commented on #31998
@xenithorb Please test my potential fix in #32053.  I was surprised to find that change fixed both the bug I was looking at and this one as they have different symptoms.  Looking closer, I can see how the fix applies here if there's a bug in the urllib3 code that's being shipped on Fedora.  I'm going to wait for sivel to take a look at my fix before merging as I don't want to go in the opposite di

[2017-10-23 21:24] moozer commented on #31758
The removal of "needs_triage", does that mean that you agree there is an issue?

[2017-10-23 21:30] nickmellor opened #32055 "consul_kv misnamed in"
typo: 'lookup: cartesian' should read 'lookup: consul_kv'
https://github.com/ansible/ansible/blob/905d71d46a1028337b87c0b61115017688463976/lib/ansible/plugins/lookup/consul_kv.py#L8

[2017-10-23 21:33] SpyderAlba commented on #31193
me too

[2017-10-23 21:38] mtmiller commented on #31998
@abadger #32053 perfectly fixes this issue for me on Debian. Tested both devel and as a patch against 2.4.

[2017-10-23 21:39] bcoca commented on #31758
@moozer, no, just means its passed triage phase. But i did forget to ask for more info, can you put actual working examples in 'expected' and 'actual' ? as i cannot reproduce locally what you say happens.

[2017-10-23 22:08] thekad commented on #31567
It looks like this got handled in #30720, can probably close this one now?

[2017-10-23 22:09] sivel commented on #31567
Closed by https://github.com/ansible/ansible/pull/31326

[2017-10-23 22:09] #31567 closed, assigned to nobody

[2017-10-23 22:37] xenithorb commented on #31998
This does indeed pass the test case. Well done!

Out of curiosity, can you indulge an explanation as to why it works just fine when urllib3 is not present?

Does it seek out python3 libraries on a fedora 27 system because python3 is default? I'm quite confused about that. Especially because we're patching the control system, here... I do know that ansible works by transferring python to the remote

[2017-10-23 22:58] sivel commented on #31998
The intent is to use urllib3 functionality (which has nothing specifically to do with python3) when the system does not support SNI, and urllib3 is available.

The selection was incorrect before and put urllib3 ahead of the system SNI support.

It just happens that dependent on the urllib3/pyopenssl versions it could cause a system to not validate certain SSL certs correctly.

[2017-10-23 23:47] yaweiw commented on #32027
@thaumos, our team is taking over the owner of module work for Azure from @tstringer @haroldwongms. We are working on adding new modules for container on Azure e.g. ACI, ACR etc.

[2017-10-23 23:52] nitzmahone commented on #25669
Proper installation for 2.4+ is described [here](http://docs.ansible.com/ansible/latest/guide_azure.html#requirements) - closing this issue.

[2017-10-23 23:52] #25669 closed, assigned to nobody

[2017-10-24 01:15] UnitedMarsupials-zz opened #32056 "When command/shell outputs JSON, its result should be immediately parseable"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
command, shell

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When the command executed by the `command` (or `shell`) module produces JSON on stdout, it should be immediately available (parsed) within the task.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The `npm.changed` set depending on whether or not

[2017-10-24 01:20] bcoca commented on #32056
A bit cumbersome, but this should currently work:

[code]

Though i would really suggest using the npm module instead.

[2017-10-24 02:13] BondAnthony commented on #31557
Hey @CarlosEspejo are you getting the right host data from Digital Ocean when running the digital_ocean.py inventory script? Do you have an expected output that I can compare against?

[2017-10-24 02:16] BondAnthony commented on #28923
resolved_by_pr 28924

[2017-10-24 02:20] BondAnthony commented on #29130
Closing this issue in favor of deprecation of digital_ocean module. Digital Ocean droplet modules should be created to narrow the scope of each module to a specific part of the DO API.

Refer to #29740

[2017-10-24 02:20] #29130 closed, assigned to nobody

[2017-10-24 02:29] #28923 closed, assigned to nobody

[2017-10-24 02:49] BondAnthony commented on #31557
I ran a quick test and here are the results.

My static hosts file:

[code]

Results from digital_ocean.py script
[code]

@CarlosEspejo please let me know if I can be of any assistance.

[2017-10-24 02:52] UnitedMarsupials-zz commented on #32056
Come to think about this more, the new verb(s) should allow application of _any_ Jinja-filter to stdout (and stderr). If defined, the result of the application can become `stdout_filter` (or `stderr_filter`) and _replace_ the `stdout_lines` (or `stderr_lines`).

Not just cumbersome, it reparses the same blob 4 times! The quickest work-around would be a custom filter and then:
[code]

The second-qu

[2017-10-24 03:18] bcoca commented on #32056
it should be easy to add 'dry run' to the npm when in check mode, I would open that feature idea.

[2017-10-24 03:19] #31714 closed, assigned to kedarkekan

[2017-10-24 03:26] BondAnthony commented on #16827
This feature is being included in https://github.com/ansible/ansible/pull/29176 please checkout this PR.

[2017-10-24 03:35] UnitedMarsupials-zz commented on #32056
Agreed. However, that's really "orthogonal" to the feature proposed in this ticket. It may be desirable to process stdout (or stderr) of other commands with Jinja-filters in various other cases... The only such processing available today (unconditionally) is the splitting into `stdout_lines`.

[2017-10-24 03:43] yuwzho commented on #30142
Note the broken link: https://github.com/Azure/azure-sdk-for-python/blob/b8db01ef9d06ac201b55bf1893d9d7836f301272/azure/servicemanagement/servicemanagementservice.py#L2129

[2017-10-24 03:49] ganeshrn commented on #32002
Thank you. Closing this as it is not an issue.

[2017-10-24 03:49] #32002 closed, assigned to nobody

[2017-10-24 03:54] #31609 closed, assigned to nobody

[2017-10-24 03:58] day4skiing opened #32058 "Add option to ipa-user to set account expiration"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ipa-user
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
N/A

##### SUMMARY
Please add the ability to set the expiration value on the user account within free-ipa.

This would allow the ability to create temporary accounts that automatically expire on a given date based on pre-defined requirements associated with t

[2017-10-24 04:49] trishnaguha commented on #29486
@ebmarquez lots of changes have been introduced in 2.4.0 release. Please give the module a try on the newer version and let us know if the issue still exists.
needs_info

[2017-10-24 05:36] jumasa commented on #22644
@nmamn try setting "become: True" in your playbook in order to get the ansible_product_uuid.

[2017-10-24 06:08] UnitedMarsupials-zz commented on #32056
Here is the mock-up. Unfortunately:

- I do not know, how to set the new `filter_stdout` and `filter_stderr` as valid optional arguments for _all_ modules, which may produce `stdout` (or `stderr` in results)
- I do not know, how to actually apply Jinja2 filters -- the implementation below simply always converts the results to JSON

[code]

[2017-10-24 06:11] SleeplessAnnoyedNerd commented on #31193
Hi,

you could try...

[code]

At least it helped for me. (See also https://github.com/pyca/cryptography/issues/3489.)

Kind regards,
Dietmar

[2017-10-24 06:35] karniemi commented on #18904
The apt-module has it already [since this merge](https://github.com/ansible/ansible-modules-core/pull/2974). I wish this was supported by the yum-module as well.

[2017-10-24 06:37] Gaurav-Pande opened #32061 "iosxr_config src parameter does not do what is expected."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - iosxr_config module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No settings changed in ansible.cfg
N/A

##### OS / ENVIRONMENT
ubuntu trusty 14.04.5- from where i am running playbook
cisco iosxr:  Version 6.1.2 - router where i want to replace config

##### SUMMARY
The src parameter in iosxr_config module is not working as expected.As

[2017-10-24 06:44] karniemi commented on #18904
(off-topic: ...I'm starting to realize that the promise of describing system state in these configuration management tools...is a bit false promise. Unfortunately, we end up describing also the transition to defined state by removing "old state". I mean, instead of describing what the system should look  like, we are also describing what the system should no more look like. And then, little by lit

[2017-10-24 07:11] gundalow commented on #32050
https://docs.ansible.com/ansible/latest/network_debug_troubleshooting.html#proxy-issues

[2017-10-24 07:12] ossark commented on #32035
I am getting a different result. Not sure how to proceed.

[code]

[2017-10-24 07:12] gundalow commented on #32050
Hi,
Have a look at the example in https://github.com/ansible/ansible/pull/31807
That shows how to run ansible-playbook on one machine and connect to two remote switches

[2017-10-24 07:13] gundalow commented on #32050
If you need to do ansible-playbook ---> jumphost ---> switch then the guide https://github.com/ansible/ansible/pull/31807 will help.

[2017-10-24 07:15] gundalow commented on #32050
I believe you just need `connection: local`

[2017-10-24 07:20] yaweiw opened #32062 "[Azure] Check mode is missing when deleting Azure Container Service instance"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_acs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS 10.12.6
##### SUMMARY

when deleting ACS instance, check mode is not supported.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-10-24 07:34] ganeshrn commented on #29677
Closing this issue as it is not seen on latest Ansible version.

[2017-10-24 07:34] #29677 closed, assigned to nobody

[2017-10-24 07:57] jmcvetta commented on #15019
Wow... talk about an incredibly lame response from the RedHat/Ansible team.  "This isn't a bug - it's *supposed to be* broken."

[2017-10-24 08:21] ghost commented on #29784
$ ansible --version
ansible 2.4.0.0
  config file = /etc/ansible/ansible.cfg
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]

[2017-10-24 08:27] jean-christophe-manciot commented on #29592
1) **The issue with nxos_command is still there** with:
[code]
Role:
[code]
The first play is successful, the second is **successful with SSH transport**, the last is **unsuccessful with NXAPI transport**:
[code]

Exactly the same results with the latest unstable version:
[code]

[2017-10-24 08:33] promaty commented on #7118
Still the same issue in 2.3.2. No way to ignore encrypted variable files for hosts that are not included?

[2017-10-24 08:34] jean-christophe-manciot commented on #29592
2) **The issue with nxos_config/save_when is solved** with both previous ansible releases from stable-2.4 & devel branches.

[2017-10-24 08:37] jean-christophe-manciot commented on #18971
50 % of the issue is solved: https://github.com/ansible/ansible/issues/29592#issuecomment-338914133

[2017-10-24 08:53] asadrao11 commented on #14204
Try This.
---
-
  connection: "local user:root sudo:yes"
  hosts: localhost
  tasks:
    -
      name: "Run the shell script"
      shell: "Desktop/test.sh run"

[2017-10-24 08:54] asadrao11 commented on #14204
---
-
  connection: "local user:root sudo:yes"
  hosts: localhost
  tasks:
    -
      name: "Run the shell script"
      shell: "Desktop/test.sh run"

[2017-10-24 08:54] sebasdoes commented on #31965
Alright, I've got it working with multiple nodes as well.
Attached are the playbook and module.

[playbook.txt](https://github.com/ansible/ansible/files/1410144/playbook.txt)
[iosxr_publickey.txt](https://github.com/ansible/ansible/files/1410145/iosxr_publickey.txt)

The requirements are that you add a node and username to the playbook. I could not get it in the function any other way. If we fix t

[2017-10-24 09:01] elnappo commented on #17908
I had the same problem, my home directory was a mounted NFS share (I know, wtf?!) with `root squash` set...
Setting `remote_tmp = /tmp` in `ansible.cfg` resolved the issue for me.

[2017-10-24 09:07] ghost commented on #31837
I'm not a real software engineer
so this is an amateur point of view, sorry for that in advance

parsing from xml to json could be implemented in just one place - module_utils/nxos_py
there was a function run_commands() where the json parsing fails.

It can be checked if a device supports json or xml output before issuing run_commands()
or take that somehow from the gather_facts functionality

as

[2017-10-24 09:12] nvideau commented on #32037
Hello, have you tried to format your body like in the exemple ?

[code]

[2017-10-24 09:13] sirkubax commented on #32050
I guess I start to understand some logic here.

I did previously abound the `connection: local` because I was getting this error (I did assume fact gathering fails due to connection:local - my assumption seems wrong here):

[code]

From what I get from https://groups.google.com/forum/#!topic/awx-project/Qv6x9ra65uo
you could set in the inventory
[code]
but you need to know the `ansible_network_os`

[2017-10-24 09:20] lukas-bednar commented on #31932
**issue type**
Feature

**ansible version**
[code]
**component name**
kubernetes_module

@alikins  Yes you are right, it is related to that module.
Issue here is when you install some custom add-on into existing K8S cluster, which extends K8S API with new resources, you can not manage these resources because following part of code will fail with `"invalid resource kind specified in the data`
https

[2017-10-24 09:24] moozer commented on #31758
I am using the playbooks and host_vars from here: https://github.com/moozer/ansible-hostvars-test

Expected result:
`ansible-playbook test.yml`followed by `ansible-playbook test.yml -l srv-a`should yield no change.

Actual result:
[code]
variables from `host_vars/ws-a.yml`are not applied to the `hostvars['ws-a'].host_vars_ws_a` variable.

[2017-10-24 09:25] rcarrillocruz commented on #31175
IOSXR is now on CI and put into the automated tests cronjobs, closing

[2017-10-24 09:25] #31175 closed, assigned to rcarrillocruz

[2017-10-24 09:29] rcarrillocruz opened #32064 "[TEST_RELEASE] Write troubleshoot steps for CI issues"
##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
N/A

##### SUMMARY

When there are CI failures, it is not clear when is an infrastructure issue on the CI or a bug on the ansible devel code.
Write troubleshooting steps to network-infra README so Ansible networking engineers can self-serve.

[2017-10-24 09:35] rcarrillocruz commented on #32064
bot_skip

[2017-10-24 09:55] gundalow commented on #32050
Hi, the following should work:

[code]

The values are for the switch, not for the host

[2017-10-24 10:06] B2RN commented on #22222
Maybe add a label for 2.3 as well:

[code]

Can confirm it works fine on 2.4, though.

[2017-10-24 10:13] sirkubax commented on #32050
@gundalow
I think that the intention of @archongtv was to manage Debian-based router - not ios/junos/vyos/cisco or other. I did also expect that I could manage a route table on Ubuntu system.
I know there is a phrase `network devices` in the documentation, though - what is a "network device" anyway? :)

My guess is that `net_static_route` is not capable of managing (Host) Unix-generic (OS-based) r

[2017-10-24 10:38] kwohlfahrt opened #32067 "'dict' lookup does not work explicitly, i.e. with lookup('dict', ...)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dict plugin

##### ANSIBLE VERSION
devel-9d6fd4ebcc10188274eca5971e9ac2ec0d806676
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY
When called with the `lookup` function, `'dict'` plugin errors.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Something like the example below, so it can work with the `loop` ke

[2017-10-24 10:42] jffz commented on #32042
Just double checked and as expected, there is no var under the name "{{ name }}".
The value of the 'name:' attribute is well set and is "{{ inventory_hostname }}".

[2017-10-24 11:03] toke opened #32068 "ansible_service_mgr fact for sysvinit incorrect in ansible 2.4.0+ and devel"
The issue #30753 should be fixed and the issue is closed which is not the case.

Still 2.4.1-0.2.beta2 is affected as is devel. So it won't make it into 2.4.1?

I suggest reopening #30753 and closing this one.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible fact / variable `ansible_service_mgr`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
does not matter

##### OS / ENVIRONMENT

[2017-10-24 11:14] sebasdoes commented on #31965
And I've completed the 'if' part.
Now all that's left is to get the node and username from somewhere else and the module is done. Then we can add the relevant functions to iosxr_user.

[iosxr_user.txt](https://github.com/ansible/ansible/files/1410528/iosxr_user.txt)

[2017-10-24 11:43] jrosser opened #32070 "Occasional failures with NXOS modules"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos modules

##### ANSIBLE VERSION
ansible 2.4.0.0
  config file = /project-mcuk/ap/ipp/jrosser/cloud/ansible-mist/ansible.cfg
  configured module search path = [u'/etc/ansible/roles/plugins/library', u'/usr/local/lib/python2.7/dist-packages/ara/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  exec

[2017-10-24 11:57] toke commented on #32068
Original Ticket has a testcase…

[2017-10-24 12:00] OliElli opened #32071 "Using "stdout_callback = selective" causes all ansible output to show Failed!!! message."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Any task

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Centos 7:
`centos-release-7-4.1708.el7.centos.x86_64`

##### SUMMARY
When enabling `stdout_callback = selective` in ansible.cfg, all tasks in any playbook have `Failed!!!` printed next to them.

##### STEPS TO REPRODUCE
Create helloworld.yml with following

[2017-10-24 12:17] OliElli commented on #32071
I was using an old version of selective.py, closing!

[2017-10-24 12:17] #32071 closed, assigned to nobody

[2017-10-24 12:18] gundalow commented on #32050
@sirkubax Ah, thank you.

@archongtv apologies for any confusion I may have caused.

`net_*` modules are "Platform agnostic" modules that wrap around the platform specific versions, being eos, ios, iosxr, vyos, sros[1]. The Platform agnostic `net_*` modules were released as a "Tech Previous" in Ansible 2.4.

These `net_*` modules do not (currently) cover Debian

The Platform agnostic `net_*` modul

[2017-10-24 12:33] #31350 closed, assigned to mkrizek

[2017-10-24 12:46] valerius257 opened #32073 "win_scheduled_task: frequency is required"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_scheduled_task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible Host: CentOS 7
Managing: Windows 2012 R2

##### SUMMARY

win_scheduled_task failed with error "Get-AnsibleParam: Missing required argument: frequency"
but according to the documentation http://docs.ansible.com/ansible/latest/win_sched

[2017-10-24 13:36] VitaliStanevich commented on #27556
Having the same issu while trying to manage a VM based on Windows 8.1 from CentOS 7.
I have Ansible 2.3.2.0. Also checked on Ansible 2.3.1 and 2.4 - same troubles.
Are there any updates solving the issue?
@AleksNovak

[2017-10-24 13:43] akira345 opened #32074 "SSL: CERTIFICATE_VERIFY_FAILED in zabbix module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

zabbix_host
##### ANSIBLE VERSION

[code]

Hi.
I tried to register Zabbix with Ansible.

I encountered an error
[code]
I understand that this error is caused by Zabbix server's self certificate.

I would like to be able to avoid this by adding the "validate_certs option" like the get_url module.

[2017-10-24 13:45] marcingarstka opened #32075 "vmware_guest cloning from template with two network cards puts missmatched VLAN id"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_GATHERING(/ansible/ansible.cfg) = smart
DEFAULT_HOST_LIST(/ansible/ansible.cfg) = [u'/ansible/inventory.yml']
HOST_KEY_CHECKING(/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

vSphere 6.0
CentOS Linux release 7.4.1708 - guest virtual machine
##### SUMMARY

When cre

[2017-10-24 14:22] #25402 closed, assigned to nobody

[2017-10-24 14:22] #31998 closed, assigned to nobody

[2017-10-24 14:26] sivel commented on #32056
I think I would honestly prefer adding an argument to `shell`/`command` called `from_json`, that when truthy, will attempt to load stdout as JSON, and create a new `.json` key to the return.

Failing when it is unable to perform the `json.loads`.

I'm not a fan of listing the jinja filters as arguments to a module invocation to be run on stdout and stderr.

[2017-10-24 14:27] kedarkekan opened #32077 "[NETCONF]Add IOS NetConf plugin and module_utils refactor"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ios

##### ANSIBLE VERSION
[code]

[2017-10-24 14:29] Akasurde commented on #32032
@grumpymatt @ajithkt Are you using template for creating VM ? I just wanted to confirm as I am able to create VM without template.

[2017-10-24 14:32] toke commented on #32068
Closed since #30753 was reopened

[2017-10-24 14:32] #32068 closed, assigned to nobody

[2017-10-24 14:36] bcoca commented on #32056
from_yaml, from_ini ... i don't see an end to this. I personally prefer to just `changed_when: false` and have a debug/assert task that works on the transformed data.

[2017-10-24 14:36] eikef commented on #32074
In the current development-version of ansible (2.5), the validate_certs-option has already been implemented. There will not be backports of this functionality to 2.2/2.3/2.4, so if you want to use it you either have to wait until 2.5 gets released or fetch the current zabbix_*-modules from the git repository and use them directly (it should be possible to just put them in library/ relative to your

[2017-10-24 14:36] eikef commented on #32074
close_me

[2017-10-24 14:37] sivel commented on #32056
Thinking more about it, I think @bcoca is right.

I'm going to close this out.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-10-24 14:37] #32056 closed, assigned to nobody

[2017-10-24 14:38] #32074 closed, assigned to nobody

[2017-10-24 14:38] kedarkekan commented on #32035
@ossark could you check if the config actually took effect on the box after 1st run (by logging in and checking the running-config). Also you might want to use 4 Vs (`-vvvv`) in the command and set `debug=True` in your ansible.cfg for more info.

[2017-10-24 14:41] Akasurde commented on #32042
@jffz Could you please try above PR and let me know if it works for you?

[2017-10-24 15:00] bcoca commented on #32067
It seems dict never worked as a direct `lookup()`, should be fixed in PR above

[2017-10-24 15:31] vladimirtiukhtin opened #32081 "seboolean modules works incorrectly on debian"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
seboolean module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

Debian 9.0
Python 3.5

##### SUMMARY
seboolean module doesn not work on debian system. Could be related to https://github.com/ansible/ansible/issues/25112

##### STEPS TO REPRODUCE
Create task like:
[code]
apply it on debian system, you will get
[code

[2017-10-24 15:46] Qalthos opened #32082 "[EAPI_NXAPI_PLUG] eapi connection plugin"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

eos

##### ANSIBLE VERSION

[code]

##### SUMMARY

Similarly to #31106 and #31107, an eapi connection would reduce dependency on the `provider` construct and allow more standard Ansible arguments to be used

Tasks:

- [x] Connect to an Arista device over eAPI without using connection: local
- [x] Connect to eos devices via a proxy
- [x] Conne

[2017-10-24 15:47] Qalthos opened #32084 "[EAPI_NXAPI_PLUG] nxapi connection plugin"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

nxos

##### ANSIBLE VERSION

[code]

##### SUMMARY

Similarly to #31106 and #31107, an nxapi connection would reduce dependency on the `provider` construct and allow more standard Ansible arguments to be used

Tasks:
- [x] Connect to a Nexus device over NXAPI without using connection: local
- [x] Connect to nxos devices via a proxy
- [x] Conn

[2017-10-24 16:05] erjohnso commented on #31063
I'm not able to reproduce the error and I've tried a couple different combinations of `base_name`, `name`, `instance_names`.  I *think* the issue is that if something goes wrong, the code path assumes a node was created, but something went wrong and an exception is thrown. Without being able to repro, the next best thing I can assume would help would be to skip the failed nodes,

https://github.co

[2017-10-24 16:21] mojojoseph commented on #31869
I was Googling high and low for the answer to this one; after upgrading Ansible from 2.3.1 to 2.4.0 on High Sierra I was getting this crash while utilizing the win modules.  The export as mentioned above cleared it up.

[2017-10-24 16:36] toke commented on #30753
@alikins Thanks for your effort.
This fixes the issue. Let's hope it will make it in 2.4.1.

[2017-10-24 16:45] alikins commented on #30996
Would be a good time to convert it to rst as well, so we can include it directly in docs/docsite

[2017-10-24 16:53] dekimsey opened #32087 "Add support for state=status on service/systemd modules"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
systemd
service

##### ANSIBLE VERSION
2.4.0 as well.
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY

##### STEPS TO REPRODUCE
There are many times where I need to get information about a service without making changes to the system. The systemd and related service modules do not provide an interface to do this.

Fo

[2017-10-24 17:12] ghost opened #32089 "Bad group_vars and host files path"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
WinRM

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
host_key_checking = false
callback_plugins = callback
inventory = ./inventory/site/hosts
retry_files_enabled = False

##### OS / ENVIRONMENT

Centos 7

##### SUMMARY
Strange behaviour with inventory and variables, and Windows Support, when you use a directory as hosts

##### S

[2017-10-24 17:15] arun8796 opened #32090 "error in installation of ansible via source method in linux"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
installation
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
LINUX x86_64 x86_64 GNU/Linux

##### SUMMARY

Trying to install ansible as per link https://developers.redhat.com/blog/2016/08/15/install-ansible-on-rhel/

via source option and error appears when i run **sudo make install**
Error:-
Running cffi-1.11.2/setup

[2017-10-24 17:18] bcoca commented on #32087
dupe of #20177

[2017-10-24 17:18] #32087 closed, assigned to nobody

[2017-10-24 17:20] gregputhota commented on #30636
Hi,

Any further update on this? I ran into the same problem with using the -i to choose a file that gets pulled from git through ansible-pull.

`ansible-pull -o -C develop -d /opt/deploy/deploy -U https://git.com/scm/deploy.git /opt/deploy/deploy/pds_deploy.yml -i /opt/deploy/deploy/inventory/dev -vvvv
`

[2017-10-24 17:25] arun8796 opened #32091 "error in installation of ansible via yum"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
installation of ansible via yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
x86_64 x86_64 GNU/Linux

##### SUMMARY
trying to install ansoble via yum method as per link https://developers.redhat.com/blog/2016/08/15/install-ansible-on-rhel/

 sudo rpm -i epel-release-latest-7.noarch.rpm
        package epel-release

[2017-10-24 17:29] sivel commented on #32091
`ansible` is no longer being provided by EPEL for EL7.  As per the installation docs at http://docs.ansible.com/ansible/latest/intro_installation.html#latest-release-via-yum you must use the Extras channel for EL7.

I suppose this is a docs report, but we do not have direct access via the community to edit that blog post.

[2017-10-24 17:30] sivel commented on #32091
cc @dharmabumstead

[2017-10-24 17:36] grumpymatt commented on #32032
No, I am not using a template. The VM actually gets created in vSphere even though the task throws an error.

[2017-10-24 17:37] conorsch opened #32092 "Docs should warn that apt force option is unsafe"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

`apt` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Linux, usually Debian-based.

##### SUMMARY
In order to reduce the risk that a careless mistake occurs, the documentation for the force option in the Ansible apt module should make clear that it will install unauthenticated packages and warn th

[2017-10-24 17:41] heartsucker opened #32093 "Documentation on apt module force: yes is insufficient"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
apt module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY

In the [online ansible documentation](https://docs.ansible.com/ansible/latest/apt_module.html), the section for `force` says only this

By looking at the code, it passes `--force-yes` to `apt-get`

From `man apt-g

[2017-10-24 18:11] bcoca commented on #30636
i'm still looking on how to suport all cases, this issue is restricted to 'relative inventory to destination folder'

[2017-10-24 18:19] sbwoodside opened #32094 "Detect unused variables?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - lint-style functionality

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

We recently had a bug in our ansible playbook due to an unused variable. We defined a variable in the playbook, intending to override a default in a role. However, the variable name was wrong, and so the default was not overridden, leading t

[2017-10-24 18:21] bcoca commented on #31758
you don't show an inventory, if i have both hosts to inventory i cannot reproduce, the only way i get your results is if the host does not exist.

[2017-10-24 18:50] #10282 closed, assigned to nobody

[2017-10-24 18:57] fligi7 opened #32095 "Sporadic/Random Error - Exception ignored in: <function WeakValueDictionary.__init__.<locals>.remove at 0x7fd04f6e2bf8>"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
`$ ansible --version`

  config file = None
  configured module search path = ['/home/labadmin/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3.5/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 3.5.3 (default, May 11 2017

[2017-10-24 19:03] tvon opened #32096 "CSS styling of highlighted lines in code blocks adjusts the indentation"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

Noticed on this page http://docs.ansible.com/ansible/latest/playbooks_blocks.html

##### ANSIBLE VERSION
n/a

##### CONFIGURATION
 n/a

##### OS / ENVIRONMENT

Shows up in current Chrome and Firefox on OSX (did not test others).

##### SUMMARY

The CSS for highlighted lines in `pre` blocks adjusts the indent of code (via padding and b

[2017-10-24 19:15] #30753 closed, assigned to nobody

[2017-10-24 19:20] alikins commented on #13244
How would folks want/expect playbooks to handle decrypt failures on vaulted variables?  Return a Undefined from jinja?

How should errors on decryption failures be handled for:

encrypted inventory:
  -  could just warn for inventory as well

encrypted playbooks:
  -  errors should probably (have to) be fatal

encrypted files/:
  - If they aren't referenced/loaded in playbook, should be fine as is

[2017-10-24 19:21] bcoca commented on #13244
clarifying: by 'referenced' means the file itself, not a variable within the file as we cannot know that w/o decrypting the file.

[2017-10-24 19:27] wvidana commented on #25961
Seeing this on ansible 2.3 with `template` module, but also seen it while gathering facts.

On Ubuntu 14.04 EC2 image

[code]

[2017-10-24 19:30] faitno opened #32097 "mysql_db skip-lock-tables"
How I can add in mysql_db module parameter "skip-lock-tables"?

[2017-10-24 20:01] tedder commented on #31274
@abadger can you reopen this? Otherwise I can create a second ticket and ref it.

[2017-10-24 20:18] shannonmitchell commented on #29962
I find this to be a big issue.  Ansible is only parallel when it comes to individual tasks or when using async with local runs.  runs, plays and tasks usually happen in order from top to bottom which result in very slow builds. I'm talking hours for something that puppet could handle in minutes. One way to work around this is to run multiple playbooks in parallel. This results in issues with file

[2017-10-24 20:35] mmercer-apixio opened #32098 "elb_target_group does not hand off target port corectly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elb_target_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No output from ansible-config dump --only-changed

##### OS / ENVIRONMENT
Fedora 26, managing AWS ELB v2 (Application Load Balancer)

##### SUMMARY
Reading target port as a variable into a playbook results in a boto3 error -- Port[0] is being handed as a string not an int.

####

[2017-10-24 20:37] mmercer-apixio commented on #32098
@abadger Bug filed.  If you need any more data, let me know.

[2017-10-24 20:40] jborean93 commented on #32073
@valerius257, win_scheduled_task was rewritten in 2.5 and a lot of the issues from before, including this one, have been removed. The PR for this is here https://github.com/ansible/ansible/pull/28995 and during the process some of the various have been deprecated as they were either poorly worded or should not be at the level they were.

You can add the module manually to your library path if usin

[2017-10-24 20:40] #32073 closed, assigned to nobody

[2017-10-24 20:57] jborean93 commented on #31218
I cannot reproduce this issue on my end, will close the ticket as @ebarrere did not respond with further details. Will reopen if we hear back in the future.

[2017-10-24 20:57] #31218 closed, assigned to nobody

[2017-10-24 21:18] samdoran commented on #14160
Please test with #32083 to see if it works for you.

[2017-10-24 21:25] jborean93 commented on #31898
That's weird `$fp = [System.IO.File]::Open()` should never be called if `get_checksum: False` and I've tested it locally to verify that. Are you able to verify that one more time making sure the error is exactly the same.

I'm going to write a patch to the module though to skip files it fails to access as that is more in line with the find module which should help in your case.

[2017-10-24 21:31] vamshideveloper commented on #31898
Tried again same error

[2017-10-24 22:31] maugli13 commented on #29490
Confirmed, I was able to get facts through ansible 2.4, ticket can be closed. Thanks!

[2017-10-24 22:37] andrewsav-bt opened #32102 "bigip_virtual_server module does not allow selecting client or server protocol profile"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- bigip_virtual_server Module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
- Control machine: ubuntu linux 16.04LTS
- Managed node: BIG-IP 12.1.2 Build 1.0.271 Hotfix HF1

##### SUMMARY
When creating a virtual server I would like to configure both Client and Server protocol profiles, which are different prof

[2017-10-24 22:40] caphrim007 commented on #32102
@andrewsav-datacom this is being addressed in the side-band repository for ansible 2.5. you will want to track this repo here

https://github.com/F5Networks/f5-ansible

It will appear there before it appears here

[2017-10-24 22:53] agibson2 commented on #29506
I get the same problem trying to use clamd@squid service on Centos 7 (all updates applied since 10/24).  I wonder if it has to do with the service has a status of static.  If I reboot the system, the service does not start but if I run ansible it does start the service but it doesn't set it to enabled.

After reboot:
[code]

If I run ansible playbook afterwards it does start the service but it doe

[2017-10-24 23:12] maugli13 commented on #19615
Ansible 2.4 still has this issue, I'm getting ansible_net_model: null instead of Model name for various devices.

Tested on Cisco 4507R, 6509E and 4500x.

However `^[cC]isco (.+) \(revision` is not solving our issue since it filtering too much.

This regexp `^[cC]isco\s(\S+-\S+(-\S+)?)` looks more relevant to me, can somebody check it?

[2017-10-24 23:27] mattincarlsbad commented on #30802
My company recently ran into this problem as well.  Any idea when it might get fixed?

[2017-10-24 23:46] jess-sol commented on #24425
Ditto to @kaikuchn, ran into this trying to run indent on a secret.  The `'%s'|format()` trick did it for me though.  Maybe be good to document this

[2017-10-25 00:18] DanLipsitt commented on #11757
I have a similar need. I want to get the latest tag for a repo using `github_release` and then use that value as a default but prompt the user to provide a different tag if desired. What is the recommended way to do this?

[2017-10-25 00:20] jborean93 commented on #31898
@vamsifeb27 are you able to test out the changes I've made at https://github.com/ansible/ansible/pull/32105? It should hopefully solve your issues and make win_find just skip the files it does not have access to.

[2017-10-25 00:30] arun8796 commented on #32091
Thanks @sivel

Now i tried EPEL 6 using link https://maprdocs.mapr.com/52/AdvancedInstallation/EnableEPELreposCentOSorRH6.html

after installing when i do yum update i face below error

--> Finished Dependency Resolution
Error: Package: python2-hwdata-2.3.5-1.el6.noarch (epel)
           Requires: python(abi) = 2.6
           Installed: python-2.7.5-58.el7.x86_64 (@anaconda/7.4)
               pyt

[2017-10-25 01:18] #29040 closed, assigned to s-hertel

[2017-10-25 01:59] #30802 closed, assigned to ganeshrn

[2017-10-25 02:06] LeTink commented on #29319
And this is biting me as well ... PING :)

Using lineinfile for the time being.  Pity.

[2017-10-25 02:10] goldyfruit commented on #32095
Same issue here.

**Ansible version**
[code]

**Operating system**
[code]

**Kernel**
[code]

**Command**
[code]

[2017-10-25 02:49] nelson-cf opened #32108 "ansible.cfg "retry_files_enabled = False" no longer works"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible.cfg
retry_files_enabled = False

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_MODULE_PATH(env: ANSIBLE_LIBRARY) = [u'/opt/ansible/ansible/library']

##### OS / ENVIRONMENT
OSX/Linux

##### SUMMARY
retry_files_enabled = False is ignored. Retry files will still be generated.
The only way I have found it to work is to set the

[2017-10-25 03:20] UnitedMarsupials-zz commented on #32056
Well, if you allow the application of arbitrary Jinja filters to the text -- as I proposed -- there'd be no need to see "an end"...

That would be misleading and incorrect.

Sad.

[2017-10-25 03:26] forescout-spollock opened #32109 "Ansible VMware Module for 'VM/Host rules' and 'VM/Host Groups'"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

new module

##### SUMMARY
Missing functionality
reference:  https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.resmgmt.doc/GUID-0591F865-91B5-4311-ABA6-84FBA5AAFB59.html

Functionality should be available in Ansible, it's basic operations for a cluster.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --

[2017-10-25 03:55] preetavi commented on #17935
Got same issue with ansible 2.4.0.0

[2017-10-25 04:16] chaitu813 commented on #19994
Thank you, Worked after adding  "remote_src: true" to copy command.
But got a warning after using it, Warning displayed as
" [DEPRECATION WARNING]: Instead of sudo/sudo_user, use become/become_user and make sure become_method is 'sudo' (default).
This feature will be removed in a future release."

[2017-10-25 04:59] dathelen opened #32111 "eos_eapi doesn't enable non-default vrfs if the default vrf is already configured"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_eapi

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/A

##### OS / ENVIRONMENT
N/A
##### SUMMARY

When a eos device has the eapi feature configured in the default vrf (i.e the running config has this):

[code]
When you run the following task:

[code]

The non-default vrf doesn't get the 'no shutdown' command

so you end up with a stat

[2017-10-25 05:02] chrisvel commented on #29492
+1

[2017-10-25 05:05] FleischKarussel commented on #23663
I still have the problem in v2.4, shall I create a new issue?

[2017-10-25 05:11] chrisvel commented on #17935
+1

[2017-10-25 05:29] dathelen commented on #32111
looks like the check on whether the no shutdown command is entered needs to see if the current vrf is the one that the user is trying to enable as well

[2017-10-25 05:52] hdhoang commented on #29193
duplicate of #21439

[2017-10-25 06:31] bukaj-mh commented on #31699
I don't have ~/.ssh/config file.
full log: [ansible.log](https://github.com/ansible/ansible/files/1413473/ansible.log)

Regards

[2017-10-25 06:33] tbar74235 opened #32113 "jenkins_job module causes the replacement of HTML entities within config.xml of the jenkins job"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
jenkins_job

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
not relevant

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The module jenkins_job offers the possibility to handover a xml-File which is going to be the config.xml file for the job in jenkins you like to create. The xml-File I handover to the jenkins_job module via the option "config" c

[2017-10-25 06:44] wimnat commented on #32098
This is fixed in latest devel branch

[2017-10-25 08:28] Akasurde commented on #32109
+label vmware
-label needs_triage

[2017-10-25 08:32] hitoshi-isa commented on #31098
may be it's same issue #28210

[2017-10-25 08:33] karniemi commented on #30327
Updated from ansible-2.3.1.0-3.el7.noarch to ansible-2.4.0.0-5.el7.noarch. And here we are. When testing the new version,  the very first task in the very first playbook failed for this issue.  The task tries to use vmware_guest module to set the state of managed VMs to "poweredoff".

[2017-10-25 08:33] jane567 commented on #22922
Have same error on

[code]

[2017-10-25 08:41] Akasurde commented on #30327
@karniemi Could you please paste your playbook here so that I can take a look?

[2017-10-25 08:49] alex-left commented on #19820
+1, exists lot of sceneries where is no need to modify the /etc/fstab, mount module should be have this option.

[2017-10-25 09:12] lorddaedra opened #32119 "Ansible Tower API"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
tower_job_list
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_list.py

##### SUMMARY
I would like sync configuration for ansible tower in my external database with multiple ansible tower servers. (Something like replication between related systems.)

I save my external system id and

[2017-10-25 09:50] zenathar opened #32121 "Error in ansible consul_kv lookup examples in documentation"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION
devel

##### SUMMARY
Examples in https://docs.ansible.com/ansible/devel/plugins/lookup/consul_kv.html have incorrect syntax

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[2017-10-25 09:52] abitrolly opened #32122 "Check Python prerequisite before running playbook on remote system"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
http://docs.ansible.com/ansible/latest/group_module.html
gathering facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
[code]

##### OS / ENVIRONMENT
Remote is freshly provisioned Ubuntu 17.10, which comes without Python by default.

##### SUMMARY
Creating `group` fails if remote doesn't contain `python` binary.

"python: not found

[2017-10-25 09:53] Sispheor commented on #23621
This should be fixed in ansible 2.3..2.0?

[2017-10-25 10:00] karniemi commented on #30327
[code]

Edit: surround code with triple backticks. The Github editor only adds single backticks when pressing "Insert code"...

[2017-10-25 10:01] karniemi commented on #30327
...hmmm...."insert code" does not seem to be working in github...or I'm not intelligent enough to know how to use it...

[2017-10-25 10:13] narankhetani commented on #31416
any thoughts on this guys?

[2017-10-25 10:18] jffz opened #32124 "cyberark_authentication return 404"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cyberark_authentication

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_PIPELINING(/etc/ansible/ansible.cfg) = True
CACHE_PLUGIN(/etc/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/etc/ansible/ansible.cfg) = /etc/ansible/facts
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 5

[2017-10-25 10:29] jffz commented on #32042
@Akasurde Seems better but now complain that resource_pool is not referenced (not mandatory).

[code]

[2017-10-25 10:42] nvideau commented on #31166
Here is a correction taking account of the comment I made previously:

[code]

[2017-10-25 10:49] Tux12Fun opened #32126 "gce_labels Please install google-api-python-client library with installed google-api-python-client 1.6.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cloud/google/gce_labels

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS
Linux xyz4.4.0-93-generic #116-Ubuntu SMP Fri Aug 11 21:17:51 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

Module doesn't find google-api-python-client

##### STEPS TO REPRODUCE

pip install --trusted-host pypi.pytho

[2017-10-25 11:12] lorddaedra commented on #32119
Also I suggest to use `#!/usr/bin/env python` instead of `#!/usr/bin/python` on top of that files, it looks better...

[2017-10-25 11:14] Akasurde commented on #32042
@jffz Sorry but there is [another PR](https://github.com/ansible/ansible/pull/32026) open for that as well.

[2017-10-25 11:43] adomenech73 opened #32127 "consul_kv: Don't get double quoted values when inserting JSON"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

consul_kv

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When using consul_kv module to store JSON data as string value, double quoted JSON is changes to single quoted one inside consul

##### STEPS TO REPRODUCE

First we add json values to consul like:

[code]
After we check for values from

[2017-10-25 11:47] gundalow commented on #32111
resolved_by_pr: 32112

[2017-10-25 11:49] gundalow commented on #32070
resolved_by_pr: 32114

[2017-10-25 11:49] Akasurde commented on #30327
@karniemi Can you paste error message as well ? You can use [vmware_guest_powerstate](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest_powerstate.py) to manage powerstate of VMs.

[2017-10-25 11:53] hohmd opened #32129 "How to embed a pre-generated variable content into yml"
Hello.

I have in yml:

[code]
But it is hell slow. To generate 50k of ID's it takes DAYS for each node on latest faster hardware. And i need to generate 1 billion.

How can i embed the variable into yml with pre-cooked (pre-generated) content?

I mean something like this:
[code]

[2017-10-25 12:08] gundalow commented on #32126
@Tux12Fun Thank you for the bug report looking at the code I can see

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/gcp.py#L51-L60

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/gcp.py#L391-L392

So I'm wondering if one of the other libraries is missing.

Once this is confirmed we can update the error message and review the `requirements:` specifie

[2017-10-25 12:11] gundalow commented on #32062
resolved_by_pr 32063

[2017-10-25 12:13] gundalow commented on #32062
@yaweiw Thank you for the bug fix. For you information `#ansible-azure` exists on Freenode.

`azure_rm_acs` was added in 2.4.0, so adding to `2.4.x` project

[2017-10-25 12:14] L-B opened #32130 "Deprecation warnings are insufficiently detailed to fix the configuration"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

Deprecation warnings

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

RHEL 7.4

##### SUMMARY

The deprecation warnings, as seen in the config dump above, are confusing and could be improved,
Several points:

- They reference a shell variable, with no indication where the error lies, only how to hid

[2017-10-25 12:27] jffz commented on #32042
Just triied the new PR, seems to fix the issue but leads to #30818

[2017-10-25 12:30] leedm777 commented on #32003
Spent some time on this last night. Turned out to be almost identical to the existing policy stuff, so not too bad. Should have a PR up soon.

[2017-10-25 12:31] srvvrs opened #32133 "Subnet association fails when name starts with "subnet-""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vpc_nacl

##### ANSIBLE VERSION
[code]

##### SUMMARY

https://github.com/ansible/ansible/blob/f8fa79818c4b5c9dbae055562b82fad305287963/lib/ansible/modules/cloud/amazon/ec2_vpc_nacl.py#L523

Right now a subnet named `"subnet-abc..."` results in a missing NACL association, because the current code automatically searches for
[code]
which then

[2017-10-25 12:31] gundalow commented on #32055
@nickmellor Good spot, thanks

I've fixed this in https://github.com/ansible/ansible/pull/32132 and made a note that we could extend our testing script to fix this in the future.

resolved_by_pr: 32132

[2017-10-25 12:31] #32055 closed, assigned to gundalow

[2017-10-25 12:35] hohmd commented on #32129
issue type: question
ansible version:
ansible 2.4.0.0
python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]
component name: yml config

[2017-10-25 12:37] sermilrod commented on #32113
Hi @tbar74235 I am happy to have a look on this issue. Can you provide me more detailed information?

It would be helpful to have an xml sample that fails for you to reproduce it (as I have been using the module with templates containing html code and I have never seen this issue before) and the exact jenkins version that you are using.

Thanks!

[2017-10-25 12:43] srvvrs commented on #32133
##### ISSUE TYPE
- Feature Idea ooooor
 - Documentation Report

##### COMPONENT NAME
ec2_vpc_nacl

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT

##### SUMMARY
In the current implementation when creating a new or updating an existing NACL with a subnet association fails, when the subnet's name is used as parameter and the name starts with `subnet-`. The reaso

[2017-10-25 12:44] mkrizek commented on #31859
@metabsd I cannot reproduce your issue. Can you please provide the exact rpms that you have installed and the repo you are using to update the packages? Thanks!

needs_info

[2017-10-25 12:46] gundalow commented on #32121
Fixed by ttps://github.com/ansible/ansible/pull/32132

[2017-10-25 12:46] #32121 closed, assigned to nobody

[2017-10-25 12:51] bcoca commented on #31449
The patch above avoids the 2.4 new 'default inventory processing' which should reenable pull's previous behaviour for all cases. Please test and confirm.

[2017-10-25 12:51] gundalow commented on #32113
http://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-modules-checklist states

[2017-10-25 12:54] gundalow commented on #11418
Hi, a fix has been proposed in https://github.com/ansible/ansible/pull/32104 we'd welcome you views (please add comments on https://github.com/ansible/ansible/pull/32104) to see if that

[2017-10-25 12:56] gundalow commented on #32096
@dharmabumstead May be worth looking at this as part of updating the RTD CSS that will be done as part of the TOC work.

[2017-10-25 13:06] gundalow commented on #32102
@caphrim007 Should we close this issue then and just track in `F5Networks/f5-ansible`?

[2017-10-25 13:07] gundalow commented on #32061
Docs should be backported to `2.4` as well

[2017-10-25 13:10] sdodsley opened #32138 "Documentation typo in PUREFA_SNAP module"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
purefa_snap

##### ANSIBLE VERSION
2.4

##### SUMMARY
Examples for the purefa_snap module reference a variable ```fa_api_token```. This should read ```api_token```

[2017-10-25 13:10] leedm777 commented on #32003
PR #32137 submitted.

[2017-10-25 13:11] gundalow commented on #32035
needs_info

[2017-10-25 13:12] mkrizek commented on #31859
@metabsd ok, I was able to reproduce the issue. The issue is fixed in `2.4.1 rc2` (https://releases.ansible.com/ansible/ansible-2.4.1.0-0.4.rc2.tar.gz) by this pull request https://github.com/ansible/ansible/pull/31247. I am going to close the issue, please re-open if the issue persists.

[2017-10-25 13:12] #31859 closed, assigned to nobody

[2017-10-25 13:19] gundalow commented on #31699
Relevant section from log
[code]

[2017-10-25 13:24] Tux12Fun commented on #32126
Thank you for your help. We installed the following modules and everything works fine.

pip install --upgrade google-auth  --trusted-host pypi.python.org
pip install --upgrade google-auth-httplib2  --trusted-host pypi.python.org

Maybe the Error Message could be better and give a hint of the missing module.

Thank you very much for your fast and excelent help.

[2017-10-25 13:25] rcarrillocruz opened #32141 "Refactor the various networking action plugins to reuse as much code as possible"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

network action plugins in general

##### SUMMARY

We have one action plugin per platform, plus one per platform agnostic modules and net_base.
Refactor the plugins to reuse as much code as possible.

Also, explore https://github.com/ansible/proposals/issues/64 , it we can make it for this cycle that can be leveraged for solving the problem.

[2017-10-25 13:34] mtnbikenc opened #32142 "Using pause module hangs playbooks run as background process"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pause

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When using the `pause` module, the execution of the playbook will hang if running the playbook as a background process.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2017-10-25 13:34] gundalow commented on #30992
@IPvSean Does the above make sense?
Do you have any suggestions on how we can improve the wording

needs_info

[2017-10-25 13:38] adomenech73 commented on #32127
I solved !! I just needed use of a string filter as:

[code]

[2017-10-25 13:38] #32127 closed, assigned to nobody

[2017-10-25 13:41] gundalow commented on #30709
Seems like this is a corner case, so unlikely we will fix this in Ansible 2.5

[2017-10-25 13:59] vamshideveloper commented on #31898
Can you please send me the link of updated module

[2017-10-25 14:00] agibson2 commented on #29506
I think there is still a bug of some kind here in that the service was not enabled but it said ok: but I found out why Ansible couldn't enable the service.  clamd@.service file needed the multi-user.target added to an Install section.  I don't know enough about systemd to know why but after finding an article about getting clamd working on centos 7, Ansible was able to enable the service just fine

[2017-10-25 14:02] nbfva1 opened #32143 "azure_rm_deployment removes existing tags from resourcegroup"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_deployment

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
RETRY_FILES_ENABLED(/home/boss/automation/ansible.cfg) = False

##### OS / ENVIRONMENT
Ubuntu 14

##### SUMMARY
I created a resourcegroup in Azure and gave it 3 tags.
Running a playbook with a azure_rm_deployment, did correctly deploy the VM in this case but removed the tags

[2017-10-25 14:03] westsouthnight commented on #16004
@bcoca - its not useful - we have some workarounds but its not look like good... i think it a real bug

[2017-10-25 14:13] gundalow commented on #32090
@sakthiom2014 If you follow the steps on http://docs.ansible.com/ansible/latest/intro_installation.html does that work?

[2017-10-25 14:13] gundalow commented on #32090
needs_info

[2017-10-25 14:16] gundalow commented on #32095
1) Do you have a an `ansible.cfg` file, if so what's in it?
2) What does `env | grep -i ansible` return?

[2017-10-25 14:18] jwitko opened #32144 "S3 module stopped working in 2.4.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws_s3 module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The same ansible code that worked in v2.3.2 to create S3 buckets no longer works in 2.4.1.  There is nothing fancy or tricky being done and I've tried to switch the module from the old "s3:" to the new "aws_s3:" to no avail.

##### STE

[2017-10-25 14:21] nelsg opened #32145 "Include statically empty file in block stops playbook without errors or warnings"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Include static file

##### ANSIBLE VERSION
[code]

Reproduced with version 2.2.1.0, warning message displayed with Ansible 2.4.0.0

##### CONFIGURATION
Default configuration file

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
When include statically an empty file in a block, playbook execution stops without errors or warnings

##### STEPS T

[2017-10-25 14:22] vamshideveloper commented on #31898
I am using this module in library https://github.com/jborean93/ansible/blob/22c7e08e1f27e63a55001ba88085f74d071f012c/lib/ansible/modules/windows/win_find.ps1
but i am getting below error
{
    "_ansible_parsed": false,
    "_ansible_no_log": false,
    "module_stderr": "Parse-Args : The term 'Parse-Args' is not recognized as the name of a cmdlet, \r\nfunction, script file, or operable program. Che

[2017-10-25 14:37] klauern commented on #32124
I get this on environments where the Privileged Account Security (PAS) Web Services SDK has **not** been deployed to it.  I'm assuming that this functionality has been deployed specifically to the environment you're using?

[2017-10-25 14:50] halberom opened #32146 "reconcile_inventory needs work - grouped hosts still in 'ungrouped'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
reconcile_inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS

##### SUMMARY
when using keyed_groups with the constructed plugin, affected hosts aren't removed from the 'ungrouped' group

##### STEPS TO REPRODUCE
https://gist.github.com/halberom/e7791aa22c7dd1ef3f1ece3c815b4af8

##### EXPECTED RESULT

[2017-10-25 14:56] halberom commented on #32146
Including output (with recent changes to devel)
[code]

[2017-10-25 14:58] halberom commented on #32146
ANSIBLE_DEBUG=1 ansible host5 -i hosts -i dynamic.config -m debug -a 'var=groups'
[code]

[2017-10-25 15:12] ghost opened #32147 "Inventory pattern matching while running locally"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

yml config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

I am trying to run a playbook locally. I want one role applied to every host that runs this playbook. If the machine's hostname is in the inventory file I want it to apply an additional role or two as

[2017-10-25 15:16] sivel commented on #32119
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-25 15:16] #32119 closed, assigned to nobody

[2017-10-25 15:16] bcoca commented on #32146
not an issue with reconcile, but constructed not adding the hosts correctly to group

[2017-10-25 15:18] sivel commented on #32147
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-25 15:18] #32147 closed, assigned to nobody

[2017-10-25 15:19] mj84 opened #32148 "getent - register broken in 2.4 when using with_items"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
getent

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_SSH_PIPELINING(/etc/ansible/ansible.cfg) = True
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIR

[2017-10-25 15:21] halberom commented on #32146
It works if I change https://github.com/ansible/ansible/blob/devel/lib/ansible/inventory/data.py#L124
from
[code]
to
[code]

[2017-10-25 15:23] halberom commented on #32146
No, ignore me... it works in pdb, but not in the actual end result.

[2017-10-25 15:31] jffz commented on #32124
I'm not in charge of CyberArk but as the request does works through curl and so, i guess it's ok.

[2017-10-25 15:31] cyberark-bizdev commented on #32124
I agree with @klauern, it seems you either do not have the WebServices SDK functionality available (PAS v9.6+ I believe) or you are pointing to a wrong baseURL (it should be the PVWA base URL where WebServices SDK runs from.)

You can use the following URL to verify:  {api_base_url}/PasswordVault/WebServices/PIMServices.svc/Verify

where api_base_url for you seems to be: https://CYBERARK8HOST

Let

[2017-10-25 15:33] cyberark-bizdev commented on #32124
By the way, in my local lab if I do Verify ({api_base_url}/PasswordVault/WebServices/PIMServices.svc/Verify) I get the following results:

{
    "ApplicationName": "PasswordVault",
    "AuthenticationMethods": [
        {
            "Enabled": false,
            "Id": "windows"
        },
        {
            "Enabled": false,
            "Id": "pki"
        },
        {
            "Enabled": t

[2017-10-25 15:46] brainstorm commented on #28746
Should I use `newton-eol` as a release tag on conda-forge @emonty or a semver-compliant release is coming up soon?

[2017-10-25 16:04] newjones opened #32150 "Using cloudformation tasks, multi staging variables not been imported"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- cloudformation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/username/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible

[2017-10-25 16:07] jritorto opened #32151 "java_cert module looks on remote for crt file, but docs state local."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
java_cert

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ ansible-config dump --only-changed
ALLOW_WORLD_READABLE_TMPFILES(/Users/user/.ansible.cfg) = True
DEFAULT_HOST_LIST(/Users/user/.ansible.cfg) = [u'/Users/user/ansible/inventories/gitrnd/hosts']
DEFAULT_ROLES_PATH(/Users/user/.ansible.cfg) = [u'/Users/user/ansible/roles']
DEFAULT_VA

[2017-10-25 16:10] jritorto commented on #32151
Please don't just change the documentation to make this go away -- the docs state what really ought to happen and it'd be useful to have it work as described.  Whomever implemented the code seems to have misunderstood the definitions of local and remote and has implemented the file fetching part backwards, which is tremendously unuseful.

[2017-10-25 16:15] tedder opened #32152 "KeyError: 'localhost' when using `group_by`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
strategy plugin init

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu in a Docker container

##### SUMMARY
After upgrading from stable-2.3 to stable-2.4, I get the following trace. I've tried replacing my ec2.py inventory with an updated version, that doesn't matter- it doesn't change anything. see #31274

[2017-10-25 16:30] tedder commented on #32150
`-i` is inventory. What is in environments/int?

I don't think this is a cloudformation issue- I think you have a syntax problem. I tried to reproduce this, but I need you to make a COMPLETE example that will fail. You can do so as a gist or a repo.

[2017-10-25 16:32] caphrim007 commented on #32102
@gundalow that's fine.

[2017-10-25 16:36] #32102 closed, assigned to nobody

[2017-10-25 16:39] abitrolly commented on #32122
I could get the list of modules with `ansible-doc --list | cut -d" " -f1` but it doesn't show which of those are written in Python.

[2017-10-25 16:40] caphrim007 commented on #31416
@narankhetani I believe this was a bug introduced in bigsuds with the 1.0.5 release. Do you have cycles to test a fix if I upload it?

[2017-10-25 16:48] lmazuel commented on #32143
cc @tstringer

[2017-10-25 16:49] lmazuel commented on #32143
Solved by https://github.com/ansible/ansible/pull/26104 I think? @tstringer @antoineco

[2017-10-25 16:54] mmercer-apixio commented on #32098
@wimnat Just tested against devel, still appears to be hitting this bug

[2017-10-25 17:07] Petro026 opened #32154 "Add current snapshot information to vmware_guest_snapshot return values"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_guest_snapshot

##### ANSIBLE VERSION
2.4.0.0

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
RHEL 7.4

##### SUMMARY
It would be helpful to add a state to return the the current snapshots of a given VM so this module could be used to check if there are currently any snapshots.   Alternatively this could be added the vmware_gather_fact

[2017-10-25 17:07] jean-christophe-manciot opened #32155 "unable to retrieve current config"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

Latest stable/unstable versions:
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
- host: Ubuntu 17.04 4.10
- target:
  + *IOS-XEv 16.5.1b**
- paramiko: 2.0.6

##### SUMMARY

It is not possible **anymore** to use the ios_config module due to that issue.
I am able to retrieve the running-config with the

[2017-10-25 17:07] antoineco commented on #32143
Indeed

[2017-10-25 17:22] pilou- commented on #27815
This issue was reported today on #ansible IRC channel.

There are some problems:
- `commands: show configuration vlan` only works when `provider.transport` is set to `cli`
- `provider.transport` isn't documented
- when `provider.transport` isn't set to `cli`, all commands starting with `show configuration` are replaced with `show configuration`
- `commands: show  configuration vlans` (with two spa

[2017-10-25 17:48] moozer commented on #31758
I am in the test setup using vagrants autogenerated inventory file.
I get the behavior in non-vagrant projects also.

[code]

For completeness, my ansible.cfg
[code]

[2017-10-25 17:48] Akasurde commented on #32042
@jffz Funny thing, there is [another PR](https://github.com/ansible/ansible/pull/31542) open. :)

[2017-10-25 17:52] klauern commented on #32124
Somewhat related to this, I have multiple authentication options with that `Verify` API, so how does `cyberark_authentication` verify whether it's using `saml`, `ldap`, `oraclesso`, `cyberark`, etc. versus **just** the `radius` authentication option?  I can see the difference between `use_shared_logon_authentication` and `use_radius_authentication`, but is there a means to further specify one of t

[2017-10-25 17:52] arun8796 commented on #32090
thanks all.. i tried with centOs and able to install successfuly

[2017-10-25 17:52] #32090 closed, assigned to nobody

[2017-10-25 17:53] arun8796 commented on #32091
thanks all.. i tried with centOs and able to install successfuly

[2017-10-25 17:53] #32091 closed, assigned to nobody

[2017-10-25 17:55] klauern commented on #32124
One other thing to check is whether you are using an HTTP proxy, as I also have to unset that for internal URL's:

[code]

[2017-10-25 18:38] bernardoVale opened #32157 "ANSIBLE_BECOME_EXE not working with Ansible 2.4"
`ANSIBLE_BECOME_EXE` not honored in Ansible 2.4.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
privillege escalation

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Looks like ansible is ignoring `ANSIBLE_BECOME_EXE` environment variable in Ansible 2.4 or the behavior of this variable had changed.

**Ansible 2.3**

[code]

ID command with `beco

[2017-10-25 18:45] caphrim007 commented on #31416
@narankhetani can you install, from github, the latest bigsuds code and tell me if it makes things any better?

[2017-10-25 19:11] newswangerd opened #32159 "docker_container. Stack trace when trying to use "networks" arg"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tested on RHEL 7 and Ubuntu 17.04
Docker version 17.09.0-ce, build afdb6d4

##### SUMMARY

Using the `networks` arg in the docker_container module causes Ansible to crash and creates the following stack trace:

[code]

##### STEPS TO REPRODUCE

[2017-10-25 19:16] bernardoVale commented on #32157
Quick update. Tested with current code on develop and its working fine

[2017-10-25 19:21] newswangerd commented on #32159
Fails on devel too.

[code]

[2017-10-25 19:34] #32159 closed, assigned to nobody

[2017-10-25 19:34] newswangerd commented on #32159
I was using the wrong args

[2017-10-25 19:45] fligi7 commented on #32095
1. No ansible.cfg
2. Nothing returned

[2017-10-25 19:48] tiilikainen opened #32160 "Unhelpful error message produced when vaulted string encountered in inventory but vault password not supplied"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Ansible vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A (error first encountered managing Centos 7 Docker container from Mac; minimalist example has Mac trying to ping localhost)

##### SUMMARY

The error message generated when Ansible parses an inventory that includes a vaulted string when a va

[2017-10-25 19:54] dglinder commented on #12170
+1

[2017-10-25 20:24] rlees85 commented on #29541
Noticed this today on 2.4.0.0. Thought I was loosing my marbles and trying to Google the problem was equally as amusing. Glad its been picked up already through!

[2017-10-25 20:27] loranger opened #32166 "symlinked ansible path could not resolve if containing space"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/Users/loranger/.ansible.cfg) = [u'/Users/loranger/.ansible/hosts']
DEFAULT_REMOTE_TMP(/Users/loranger/.ansible.cfg) = $HOME/.ansible/tmp
DEFAULT_ROLES_PATH(/Users/loranger/.ansible.cfg) = [u'/Users/loranger/.ansible/roles']
HOST_KEY_CHECKING(/Users/loranger/.ansible.cfg)

[2017-10-25 20:28] DaBeOps opened #32167 "vsphere_guest's module with Cluster DRS and / or Cluster SDRS"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- vsphere_guest

##### SUMMARY
I try to deploy VMs into a Cluster DRS using vsphere_guest but it seems we have to specify an ESX's name even if we defined a Cluster. May we have a solution for this?

Same idea for the storage with a SDRS Cluster.

Here is my code:

[code]

[2017-10-25 20:29] ryansb commented on #32144
I see - I think I have a fix for this issue, but it won't be making 2.4.1. I'll ensure the fix is in the 2.4.2 beta release, and of course fix the `devel` version.

[2017-10-25 20:36] cornelius-keller opened #32168 "ansible-vault fails to decrypt to stdout"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME
 ansible-vault
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_VAULT_PASSWORD_FILE(env: ANSIBLE_VAULT_PASSWORD_FILE) = /test

##### OS / ENVIRONMENT

running in ubuntu 16.04
not managing any os.

##### SUMMARY

From the output of `ansible-vault --help decrypt
[code]
When using `ansible-vault decrypt` with `--output=-` or `--output -`

[2017-10-25 20:40] cyberark-bizdev commented on #32124
@klauern to use RADIUS authentication, you pass "use_radius_authentication" as yes.

For CyberArk/LDAP you pass "use_radius_authentication" as no, and the type of authentication depends on the authentication to the user in the CyberArk Vault.

With the Ansible module there's not current support for SAML or OracleSSO.

[2017-10-25 20:51] jborean93 commented on #31898
If you are on Ansible 2.3, you will need to change the line near the top of the file

`#Requires -Module Ansible.ModuleUtils.Legacy`

to

[code]

The `#Requires` is the new syntax to follow and was adding in 2.4 but you can still get it working with older versions by changing it.

[2017-10-25 20:53] webminster opened #32170 "ec2_asg 2.4 parameter bug in "target_group_arns""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default, no local changes

##### OS / ENVIRONMENT
Linux ubuntu1 4.4.0-91-generic #114-Ubuntu SMP Tue Aug 8 11:56:56 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
ec2_asg module 2.4 includes "target_group_arns" parameter to update target groups.  Flaw in module causes it to fail

[2017-10-25 21:11] lifeofguenter opened #32171 "ERROR! conflicting action statements: lineinfile, async"
[code]

[code]

use to work in previous versions 🤔

[2017-10-25 21:15] ryansb commented on #32150
This looks like a missing variable definition in your Ansible environment. Closing for now. If you have a full reproducer, please reopen.

[2017-10-25 21:15] #32150 closed, assigned to nobody

[2017-10-25 21:17] jborean93 commented on #32093
Thanks @heartsucker, it seems like you were beaten by a few minutes and this was just opened for the same reasons https://github.com/ansible/ansible/issues/32092. I am going to close this issue so that we don't have duplicates opened for the same thing.

[2017-10-25 21:17] #32093 closed, assigned to nobody

[2017-10-25 21:20] jborean93 commented on #20768
This was added in https://github.com/ansible/ansible/commit/b004a6373a743c950bf8afc9fc4625451a7eeb9e, docs for this have an open PR here as well https://github.com/ansible/ansible/pull/32060.

Closing this issue.

[2017-10-25 21:20] #20768 closed, assigned to nobody

[2017-10-25 21:22] jborean93 commented on #32092
_From @heartsucker on October 25, 2017_

In the [online ansible documentation](https://docs.ansible.com/ansible/latest/apt_module.html), the section for `force` says only this

By looking at the code, it passes `--force-yes` to `apt-get`

From `man apt-get`:

[code]

This is two things: deprecated and extremely dangerous.

Also, the key phrase here:

At the very least, the ansible docs should also

[2017-10-25 21:23] jborean93 commented on #32092
@conorsch feel free to submit a PR adding this info and reference this issue.

[2017-10-25 21:35] jborean93 commented on #32108
This has worked fine for me and I have just tested it in the latest devel. Can you try

* Updating to the latest devel (tested at the time of writing this) and try again
* Let us know where your ansible.cfg is located
* Run `ansible-config dump --only-changed` and show us the results

When running the config dump I get

[code]

And as expected the retry file is not created on failures as I have se

[2017-10-25 21:44] jborean93 commented on #32138
Fixed in https://github.com/ansible/ansible/pull/32140

[2017-10-25 21:44] #32138 closed, assigned to nobody

[2017-10-25 22:02] jborean93 commented on #32157
If it works fine with the current code then it has probably been fixed and backported to 2.4. You can test out the rc2 for 2.4.1 to see if it will be available in that release https://groups.google.com/forum/#!topic/ansible-project/Rttds8wUJLM. 2.4.1 should be out sometime soon and if it does work please close the issue.

[2017-10-25 22:09] lazy404 commented on #26003
+1

[2017-10-25 22:41] jborean93 commented on #32089
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * When using the `ansible` exec, `group_vars` are derived from the location of the inventory file/dir that is set and not the working directory
   * In your case

[2017-10-25 22:41] #32089 closed, assigned to nobody

[2017-10-25 22:49] bernardoVale commented on #32157
Yep. I've also tested with the last tag. I think we should wait for the official release 2.4.1 before closing this issue.

[2017-10-25 22:53] jborean93 commented on #32157
You can test out rc2 which is going to be the official release unless any major blockers are found (which is unlikely)

[2017-10-25 23:55] #31449 closed, assigned to nobody

[2017-10-26 00:42] Geethree commented on #22382
I too am on board. Key management has always been a shifting struggle for me and my team. Would be great to store the various keys securely in the vault which lives in a repo in source control. This would make it trivial to update and roll out new versions.

[2017-10-26 00:57] lorddaedra commented on #32119
@sivel
Sorry, may be my message was too long and detailed (I explained why do I need this changes, may be it was my mistake). It's not user question (I know how to fix it on my side), it's future request (I would like to convince you make this changes (or at least accept my pull requests)).

Feature Ideas:

1. Add ability to get lists of any resources (projects and inventories), not only jobs.

-

[2017-10-26 01:10] thinkmassive opened #32173 "add hosts directive for import_playbook"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
import_playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
Large environments may have a playbook for each major part of the environment, each which has multiple plays in-line. In many cases it's desirable to have a single master playbook that includes the other multi-play playbooks. This

[2017-10-26 01:16] wenottingham opened #32174 "quote filter doesn't handle None"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
quote filter

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 26

##### SUMMARY

quote filter does not work with the example chaining syntax on http://docs.ansible.com/ansible/latest/playbooks_filters.html#omitting-parameters

##### STEPS TO REPRODUCE

Playbook:
[code]

##### EXPECTED RESULTS
[code]

#####

[2017-10-26 01:57] sivel commented on #32174
I’m not sure it should work with `None`. The goal is to quote the value for shell usage.  Even if it did work, I’d expect it to perhaps cast to string first, which wouldn’t work in your example.

It shouldn’t just act as a pass through for non strings as that could be dangerous in itself.

[2017-10-26 02:04] sivel commented on #32174
Maybe something like the following is actually what you want:

[code]

[2017-10-26 02:08] wenottingham commented on #32174
That may be... mostly was just following the example given in the docs. Should that be updated?

[2017-10-26 05:28] willthames commented on #32170
This was done to devel in #30905 and to stable-2.4 as #30934

I've just checked, this is definitely in ansible-2.4.1, released today.

[2017-10-26 05:28] #32170 closed, assigned to nobody

[2017-10-26 05:28] chrisvel opened #32177 "SSH Broken Pipe"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
SSH ?

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
<empty>

##### OS / ENVIRONMENT
Host & guests are the same O/S:
Manjaro 17.0.5
Kernel: 4.9.53-1-MANJARO
(Clean installs, tried in a Virtualbox VM and two laptops).

##### SUMMARY
I am using the spark repo to configure a laptop of mine: https://github.com/pigmonkey/spark

Unfortunately I a

[2017-10-26 06:40] nbfva1 commented on #32143
yes, that looks like a fix, but that PR is still open..when will it be merged ?

[2017-10-26 06:42] davedastrange commented on #30403
@gundalow Sorry, I was on vacation. When I got the time I'll look into it

[2017-10-26 06:42] newjones commented on #32150
I forgot add on the issue the content int/group_vars/all.yml file on issue.
In my case, "int" is a shortname for "integration" environment. When ansible-playbook is launched with -i <path_of_directory> if you not refer the file, expects inventory file named "inventory".

If I only have the task named "test" using module "debug" the behaviour is in success. But If I add or use the "cloudformation"

[2017-10-26 07:10] #31680 closed, assigned to nobody

[2017-10-26 07:39] lifeofguenter commented on #32171
Closing this, was a local problem (OSX) had to:

- run `$ sudo -H pip uninstall ansible` multiple times (on each round it found another older version installed?)
- upgrade iTerm2 (most likely unrelated)
- restart all open shell windows (most likely unrelated)
- re-install ansible `$ sudo -H pip install ansible`

[2017-10-26 07:39] #32171 closed, assigned to nobody

[2017-10-26 07:40] ahharu commented on #31617
I stomped on this just now. Running on cloud-init bombs out

[2017-10-26 07:55] abitrolly commented on #32173
I was about to propose adding `hosts` to `import_playbook` as well, but for a different reason. I need it to limit the scope of imported playbooks.

Imported playbooks in my case contain generic logic, such as installing Python as a prerequisite for Ansible itself:
[code]
The scope is `all` hosts and this is going to work as far as all hosts are Linux Debian based. But this playbook is included by

[2017-10-26 08:19] karniemi commented on #30327
@Akasurde: we added some debug logs to the vmware modules (using proper python logger)...  to pin-point the regression.  In [vmware.py](https://github.com/ansible/ansible/blob/stable-2.4/lib/ansible/module_utils/vmware.py) , in method find_vm_by_id(), in "inventory_path"-code branch, there's the call for "f_obj = si.FindByInventoryPath(searchpath)": it does not work for the playbook I posted above

[2017-10-26 08:33] EddyP23 opened #32179 "Elastic Search management module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ElasticSearchModule

##### SUMMARY

It would be nice to have a module that manages Elastic Search cluster and performs operations like Index creation/deletion, Mapping creation to begin with at least.

The idea is pretty simple, having able to write some simple tasks that manage ES cluster in a usual idemponent way.

Ansible has some modules

[2017-10-26 08:52] ilovezfs commented on #23779
Gentle ping here. I'm not sure we can continue to pin Jinja2 forever in the Homebrew formula.

[2017-10-26 09:11] sebinjohn opened #32181 "Include `timedout` status in asynchronous execution"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- async

##### SUMMARY
Currently, the `async` job's output has the following behaviour.
- If the job finishes in the expected time, job status is written properly to ~/.ansible_async/{{jobid}}
- if the job times out, watcher daemon kills the job and the output in ~/.ansible_async/{{jobid}} will be `{"started": 1, "finished": 0, "ansible_job_id

[2017-10-26 09:15] jffz commented on #32167
Also needing this,
It would also be nice to add the 'autoselect_datastore' feature from vmware_guest

[2017-10-26 09:43] #31269 closed, assigned to nobody

[2017-10-26 09:44] haad commented on #32151
I did it. So basically it's just an miss understanding because it should look up file/cert which should already be present on (target host). But I see a reason why it could be beneficial to be able to load file from local host into a remote java cert.

[2017-10-26 09:45] heartsucker commented on #32093
Ha. Damn @conorsch!

[2017-10-26 10:13] cccscdev opened #32185 "ec2.py - get_reservations() filtering does not strip vpc_subnet_id var"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible/lib/ansible/modules/cloud/amazon/ec2.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

From: Ubuntu 14.04
Executing task containing ec2 module as local_action
Target: Amazon EC2

##### SUMMARY
When using the ec2 module to create a AWS EC2 instance, where the instance already exists, an error is returned of

[2017-10-26 10:17] nvideau commented on #32037
after verification there is indeed a problem with the body.

regarding the current problem, first the get-ansibleparameter is call with a dict type, which doesn't exist
[code]

when I check in the get-AnsibleParam function, dict type does not exist, so the parameter is left as is.

so the following code is just pushing a string with json code into the webrequest and the result
[code]

the need her

[2017-10-26 10:23] trist4n commented on #31758
i am definitely seeing the same problem since upgrading from 2.3.2.0 to 2.4.
our setup is fundamentally similar, we store ssh keys inside host_vars/hostname, then loop over them to build ssh_known_hosts. since the upgrade, most of our hostvars['otherhost'] information is now missing on all but the host currently being executed on.

[2017-10-26 10:58] victorock commented on #28990
@JeanFred  where is located your inventory file?

[2017-10-26 11:01] JeanFred commented on #28990
It is usually in `<app>/hosts` or `app/hosts/production` files, and selected via `-i`

[2017-10-26 11:06] victorock commented on #31755
@bcoca try specifying the inventory file in ansible.cfg.
For some reason i started to get some strange behaviour with 2.4.1 with variables missing.
In my case :
- connection: local
- ansible.cfg: inventory = <some_folder>
- ansible.cfg: hash_behaviour = merge
- play.yml residing alongside with group_vars and host_vars
- Some hash variables defined at group_vars/all/myhash.yml and group_vars/node/m

[2017-10-26 11:52] makesse opened #32188 "Using role in role playbook on multiple hosts results in variable data transfer between hosts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - with_dict
 - include_role

##### ANSIBLE VERSION

[code]
Running from Ansible Tower 3.1.5

##### CONFIGURATION

No changed settings

##### OS / ENVIRONMENT

RHEL7.4 Maipo

##### SUMMARY

When running the playbook with roles below, data that should not exist on the host ends up getting used.

##### STEPS TO REPRODUCE

main playbook:

[code]

[2017-10-26 12:13] gundalow commented on #30802
Fixed in `devel` and will be released in `2.4.2`

[2017-10-26 13:02] TomaszKlosinski commented on #23663
I confirm that the problem exists in v2.4.

[2017-10-26 13:14] ZubairLK commented on #22542
Something is subtly broken.

Here is what I've tried.
Get latest ansible

[code]

Run vmware_facts
[code]
I get many vms. The one I want to power on is this
[code]

So now I use vmware_guest_powerstate in a role:

[code]

It runs and returns ok but doesn't power up the machine.

[code]

I can definitely find my vm using vmware_guest_find

[code]

Which responds like this:

[code]

So its there. Bu

[2017-10-26 13:22] 0mmariano opened #32193 "Intermittent Unexpected Exception loading inventory file"
##### ISSUE TYPE
 Bug Report

##### COMPONENT NAME
ansible-playbook
_load_inventory_file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
defined values under [default]
roles_path = /usr/local/ansible/roles/community

##### OS / ENVIRONMENT
OS: Jessie

##### SUMMARY
Intermittent Unexpected Exception error in loading inventory file
Was unable to use a previously working/usable hosts file so I cop

[2017-10-26 13:34] makesse commented on #32188
Updated to ansible-2.4.0.0-5.el7.noarch, issue is fixed there.

[2017-10-26 13:48] #32188 closed, assigned to nobody

[2017-10-26 13:59] raspinall opened #32195 "pam module wipes out pam_listfile.so options"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pamd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

RHEL7.4
##### SUMMARY

The pam module wipes out options supplied to pam_listfile.so, even if that module is not directly addressed by a playbook

##### STEPS TO REP

[2017-10-26 14:17] iamFIREcracker commented on #24892
Yeah, which version this fix will go in?

[2017-10-26 14:23] slagle opened #32196 "Specifying a group's ":vars" before it's ":children" causes the group to match no hosts."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)

##### SUMMARY
Specifying a group's :vars before it's :children causes the group to match no hosts.

##### STEPS TO REPRODUCE
Use the following sample inventory:
[code]
Sample playbook:
[code]
Sample playbook command:

[2017-10-26 14:30] cornelius-keller commented on #32168
Sorry I did not see but this is a duplicate of https://github.com/ansible/ansible/issues/30550

[2017-10-26 14:32] sivel commented on #32174
Ah, last night when looking at the docs I didn't see that format mentioned.  It seems to be in the `Note` section.

I'd be curious how many filters would actually work with that scenario.  I'm guessing not too many.

I think updating the docs would probably be a good idea.

[2017-10-26 14:36] TomaszKlosinski commented on #28250
Hi, @jmcginn13 , after applying your patch, I still get `"msg": "The name 'my_awesome_vm' already exists."`. Do you know what might be the cause? I'm using ansible 2.4.0.0 and pyvmomi 6.5.

[2017-10-26 14:51] jbscare commented on #26959
It'd be nice if it included diff mode too. I can make a separate issue for that if that'd be advantageous.

[2017-10-26 14:56] rmfrankch opened #32199 "user module with option local fails on Ubuntu"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
user module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing changed.

##### OS / ENVIRONMENT
Ubuntu 16.04LTS
local ansible run (local host only)
libuser 0.60 installed
Using the AD for authentication, users are defined in /etc/passwd => nsswitch.conf does NOT have sss for passwd, group, and shadow.

##### SUMMARY
I tried to create a l

[2017-10-26 15:20] groovemonkey commented on #31999
This is a really common use case for us as well -- there's almost no point in automating user creation if we still have to manually attach policies to those users outside of Ansible.

One workaround is to create additional IAM groups with those policies attached, and then add the user to those custom-created groups during the Ansible run. But that's an ugly solution which creates a confusing mess

[2017-10-26 15:46] igroene opened #32204 "add 'create' parameter to user module"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
user module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no changes

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If trying to add a non-existing user to a group, the user is silently created which might not be one you want. The module should have an option e.g. create=yes/no that allows one to specify if the user is to be created or an error be

[2017-10-26 15:51] sivel commented on #32204
This is exactly what the `user` module is supposed to do.  The user module has a state parameter which defaults to `present` which means it will create the user if not present.

The idea is that the user module is for managing users, not for managing groups.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://gro

[2017-10-26 15:51] #32204 closed, assigned to nobody

[2017-10-26 16:02] gundalow commented on #19615
resolved_by_pr: 32207

[2017-10-26 16:05] #14160 closed, assigned to samdoran

[2017-10-26 16:07] jmcginn13 commented on #28250
@tklo We went back to Ansible 2.3.2 (pyvmomi is 6.5-1.el7) because 2.4 seemed to have a lot of vmware issues :(.

I do know that if you are you using resource pools vmware uses some weird folders beyond the normal ones (we are not using resource pools normally). I was experimenting around with them and was able to find them by using some pyvmomi API commands to list folders/VMs etc. and fount them

[2017-10-26 16:08] igroene commented on #32204
Sorry if I didn't explain myself properly... will try again. The playbook meant to add user to a group but not have the user created... I had to implement the following as a workaround:
[code]
What I am saying is it would be nice to have an additional parameter to be able to do something like the following instead:
[code]

Thank you

[2017-10-26 16:11] jmcginn13 commented on #28250
@tklo see another defect I opened: https://github.com/ansible/ansible/issues/27860
It has some details on the govmomi I used

[2017-10-26 16:13] zeroem opened #32208 "ansible_become and become behave inconsistently"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Privilege Escalation

##### ANSIBLE VERSION

This appears to affect all versions (I've tried 2.2, 2.3, 2.4 and devel)

[code]

##### CONFIGURATION

Default Configuration

##### OS / ENVIRONMENT

N/A

##### SUMMARY

`ansible_become: yes` and `become: yes` do not behave consistently. If you set `ansible_become: yes` at the playbook level, or as

[2017-10-26 16:14] #32098 closed, assigned to nobody

[2017-10-26 16:24] sivel commented on #31617
To provide some information about what is going on here:

1. Without `$HOME`, paths containing `~` are not being expanded
1. This creates literal paths that look like: `~/.ansible/tmp/ansible-tmp-1507768452.21-135971622343645/source`
1. In the copy module the `src` is set as `type="path"` which means that we will then do `os.path.expanduser(os.path.expandvars(value))`
1. Python is still capable of

[2017-10-26 16:32] #31931 closed, assigned to nobody

[2017-10-26 16:38] sivel commented on #31617
For the sake of someone wanting to test with a more simple setup, potentially using Docker:

user_data.sh:
[code]

[code]

I cut out some of those steps to speed up testing with the following Dockerfile (pip install isn't included, so it's easy to switch branches while testing solutions):

[code]

[2017-10-26 16:39] bcoca commented on #32204
You could use `getent` instead of shell.

[2017-10-26 16:43] gregorydulin commented on #29986
I ran into this issue in Ansible 2.3 (on RHEL7).  The issue seems to have been triggered when I performed the following actions:

Add 50 rules to a SG
Try to add 51st rule to SG (fails)
Delete several rules from SG
Try to add a rule that already exists (fails)

I'm not sure if overloading my SG triggered this behavior, or if it was just coincidence.

[2017-10-26 16:54] sivel commented on #31022
Another ref: https://github.com/ansible/ansible/issues/31617

In cloud-init it seems `$HOME` is not set, and that impacts the ability to use `~`.  cloud-init would require special treatment, as to not depend on either, or to:

1. use a `remote_tmp` without `$HOME` or `~`
1. set `$HOME`

Of additional note, python falls back to using the pwd module to determine the homedir, if `$HOME` isn't set.  M

[2017-10-26 17:00] thinkmassive commented on #32173
@abitrolly I believe I have a similar situation, which I currently work around by changing `hosts: all` to `hosts: "{{hostlist}}"`, and then appending `hostlist=<MyHostOrGroup>` to the `import_playbook` item.

For example...

common_setup.yml:
[code]

appA.yml:
[code]

appB.yml:
[code]

If you have a master playbook...
master.yml:
[code]

[2017-10-26 17:02] bcoca commented on #32173
don't use inline vars var=val, as those have issues and are deprecated, use `vars:`

[2017-10-26 17:10] AceSlash commented on #13244
My take on this remains the same:
1. Do not change default behavior because you really don't want to mess with the current default where people expect ansible to throw an error on vault decrypt failure (imagine if a default value *should* be overridden by the one inside a vault for example, the result can be very bad)
1. Add a switch to change all vault decrypt error into warning, I'm not sure abo

[2017-10-26 17:13] jbscare opened #32211 "iam_role module doesn't support 'Description' field"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
iam_role module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
AWS IAM roles support a "Description" field, but the iam_role Ansible module doesn't offer a way to set it.

##### STEPS TO REPRODUCE
Perhaps just a 'description' option, like this:

[code]

##### EXPECTED RESULTS
The Descripti

[2017-10-26 17:43] rahimkhoja commented on #31673
We seem to be having Memory Leak issues with 2.4. I will try and get more details.

From what I have been told, on our clients that we upgraded to 2.4, after the memory leak, we downgraded to 2.3.something, and the problem remains.

Apparently we are using lots of includes.

Perhaps the issues is Python? ( Was a thought that my coworker had )

[2017-10-26 17:45] jean-christophe-manciot opened #32213 "to_nice_json/yaml filters are inoperative when used without newlines and spaces in conjunction with the copy module"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

to_nice_json
to_nice_yaml
copy

##### ANSIBLE VERSION

Latest stable/unstable versions:
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
- host: Ubuntu 17.04 4.10
- targets:
  + NX-OSv 9k 7.0(3)I6(1)
  + CSR 1000v 16.5.1b
- paramiko: 2.0.6

##### SUMMARY

When the json-formatted variable contains newlines, the jinja2 filters work fine wi

[2017-10-26 17:47] juliedavila commented on #31999
Originally this did not include support for managed policies because boto did not support the management of managed policies. Interestingly enough, support was added within a few months after this module was first created. That being said, I agree, it should be tweaked to add support.

[2017-10-26 18:42] callmehyde commented on #26521
We're running into this issue as well on Ansible 2.2.0.0. We confirmed it **works** in 2.4.0.0 like other commenters here but we're unable to fully switch to 2.4 at the moment.

### ANSIBLE VERSION

[code]

### OS / ENVIRONMENT

Ubuntu 14.04 & 16.04

### Task

[code]

[2017-10-26 18:55] trondhindenes commented on #32037
pretty sure "dict" is a valid type for Get-AnsibleParameter. My opinion is that the module shouldn't try and do any parsing of it at all, we should allow an arbitrary text string as the request body.

[2017-10-26 18:59] bcoca commented on #13244
@AceSlash yes, the default would remain as is, the option naming, idc, but not a CLI option most likely restricted to config/env setting.

[2017-10-26 19:07] ryansb commented on #32144
Merged for 2.4.2 as https://github.com/ansible/ansible/commit/a0c123a86e55ace2c6531675fb698570d63ae433

Please reopen this issue if the devel + stable-2.4 commits fail to resolve your issue.

[2017-10-26 19:07] #32144 closed, assigned to nobody

[2017-10-26 19:13] simfarm commented on #30877
@bcoca I've run into this too while going through our Tower tests.

I feel like having Ansible return variables in this way is more intuitive to the user.

[2017-10-26 19:16] bcoca commented on #30877
@simfarm yet misleading as they would get the impression that ansible itself will be able to access by group

[2017-10-26 19:18] #23419 closed, assigned to nobody

[2017-10-26 19:24] simfarm commented on #30877
Can you explain @bcoca? Why would we not want to present full group variables under host variables?

[2017-10-26 19:40] bcoca commented on #30877
we DO present them, they are in the hostvars

we DONT present them in the group that set them as the groups 'go away' once inventory is processed.

[2017-10-26 20:03] jborean93 commented on #32037
Dict isn't a valid type so nothing happens in this case. I believe it was set to "future proof" the module if that type was added in the future or to help people see what it expects. Without looking into what is happening I agree with @trondhindenes that it shouldn't try and parse the input object and access whatever is coming in.

It seems like there are multiple problems with this module and it

[2017-10-26 20:07] nelson-cf commented on #32108
Hi. Thanks for responding. I updated to the latest deval and unfortunately I find it to still not be working.  Do you have ANSIBLE_RETRY_FILES_ENABLED=0 in your environment?  That is the one flag that I find works.

[code]
[code]
[code]
[code]
[code]
[code]

[2017-10-26 20:10] mmercer-apixio opened #32218 "elb_target_group.py modify_targets format does not allow items/loops due to execution"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elb_target_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No change

##### OS / ENVIRONMENT
Fedora 26 managing AWS

##### SUMMARY
elb_target_group has a single method for removing existing instances, modify_targets, which is a boolean.  targets accepts a proformated list of items containing id, port, etc.  Because of the way it is writ

[2017-10-26 20:11] mmercer-apixio commented on #32218
@abadger @wimnat As we are currently faced with this, would love a suggestion of a workaround if either of you can come up with one.  Had the idea of setting up a fact for the target set, just not quite sure how to do that in this case.

[2017-10-26 20:14] jborean93 commented on #32108
I don't have that environment var set, what's the output of `ansible-config dump --only-changed` when you have `retry_files_enabled = false` in your config?

Looking at your config file you have `[default]` set as the parent when it should be `[defaults]`. Are you able to change that and try again.

[2017-10-26 20:20] nelson-cf commented on #32108
That was it, [defaults] instead of [default] fixed my issue.

Sorry about that. Thank you for the help.

[2017-10-26 20:20] #32108 closed, assigned to nobody

[2017-10-26 20:28] danielgriggs commented on #23779
I'm not sure what you want me to do?

If this the expected behaviour I guess we can make sure we only ever include one file into a template?

[2017-10-26 20:32] mmercer-apixio commented on #32218
Current method around this is to do something along these lines:

[code]

[2017-10-26 20:38] TomaszKlosinski commented on #28250
Thanks for help @jmcginn13 , we downgraded Ansible and that solved this particular issue. We have though some other issues with VMware modules (they implicitly assume, for instance, that VMware user has already permissions to list ESXi hosts that belong to a particular cluster that is used in the provisioning task). I guess I will open new issues for the problems I've found.

[2017-10-26 20:59] ghost opened #32220 "Inline conditional in Jinja2 leads to missing line break"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Jinja2 Templating

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using templates with inline conditionals like

[code]

the trailing _endif_ omits the line break. It renders to the following:

[code]

Also it ignores if you add some whitespace after {% endif %}.
The only way to keep the n

[2017-10-26 21:03] nitzmahone commented on #32177
Just to narrow things down, can you reproduce the issue on 2.4 with `ansible_connection=paramiko`?

[2017-10-26 21:04] ghost commented on #28038
Hi @bcoca,

can I help you any further to figure out this?

[2017-10-26 21:06] nitzmahone commented on #32179
cc @ThePixelDeveloper

[2017-10-26 21:09] nitzmahone commented on #32193
Are you able to reproduce this on a supported version of Ansible? With the release of 2.4, 2.2 is now in "security fixes only" mode, and large portions of the inventory code have been rewritten in 2.4.

[2017-10-26 22:47] simfarm commented on #30877
It is really not intuitive to me that we'd show group variables partially in host variables.

[2017-10-26 23:37] nitzmahone commented on #32199
@rmfrankch FYI, the reason it's failing is because `luseradd` doesn't support `-m` (which is its default behavior). As a temporary workaround, you can add `createhome: false` to get it working (it'll still create the homedir), but this won't work in the future if we fix this properly (since both `useradd` and `luseradd` seem to support `-M` (don't create home dir)), which we'd probably just switch

[2017-10-26 23:38] nitzmahone commented on #32199
cc @bcoca - looks like you added the `local` support. It looks like there are several easy ways to fix this, though I'm not sure what'd be best supported across the various distros...

[2017-10-26 23:52] nitzmahone commented on #32208
For better or worse, this is "as-designed"- it's a common trip-hazard, and it's existed for a very long time. Play directives are always overridden by their var counterparts, so if you've set `ansible_become=true` as a var anywhere, you have to set it to false someplace with higher precedence for it to take effect (eg, as a task var, in the case you show above). In the `-e` case, nothing has highe

[2017-10-26 23:52] #32208 closed, assigned to nobody

[2017-10-27 00:07] nitzmahone commented on #32213
If anything, I'd suspect the problem is with *from_json*, but regardless, we'd need to see a complete repro with the source file, because this works fine in every case I'm aware of, and I use it with single-line JSON all the time...

[2017-10-27 00:09] nitzmahone commented on #32213
Sorry- misread the reproduction, it looks like you have included source data for a fail case.

[2017-10-27 00:15] nitzmahone commented on #32220
You should be able to get the behavior you want by messing with whitespace control in your template. Ansible's not really in the middle here; Jinja2's doing all the work, so if it's not behaving as you expect, might need to file a bug over there. http://jinja.pocoo.org/docs/2.9/templates/#whitespace-control

[2017-10-27 00:15] #32220 closed, assigned to nobody

[2017-10-27 00:19] eengelking opened #32222 "Ansible cannot read from the host / inventory file when executed in a Docker container programmatically"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
InventoryManager

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
When attempting to make a call via a Docker command `(ie. docker exec -it <containerName> <command>)`, the application makes a call to Ansible, either via the Python API or via a shell command.  Despite verifying the inventory

[2017-10-27 02:09] pippozq opened #32224 "junos_command - ping can not get replies in 'text' format"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

junos_command
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Control host: openSUSE Leap 42.3/ Centos 7.0
Remote device: Junos: 17.1R1.8
##### SUMMARY

when using command like 'ping 10.214.176.92' in 'text' format ,it's not working. But it's working in 'json' format.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2017-10-27 02:34] 0mmariano commented on #32193
@nitzmahone I'll try that and let you know how it goes.
I have 3 Ansible servers that are identical and this error is manifesting on just two so its really inconsistent.

[2017-10-27 02:57] paneu opened #32225 "ios_logging overzealously removes config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_logging
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Arch Linux
##### SUMMARY

When using the ios_logging module to remove a log host for example, ios_logging deletes more commands than what would be correct.
##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

After the playbook has been r

[2017-10-27 03:56] trondhindenes commented on #32037
I need this module, so I'll probably have a go at getting it improved a bit. Don't know how you feel about prs without tests atm?

[2017-10-27 03:58] jborean93 commented on #32037
If it is a tiny fix I'm probably fine with it as I can easily test it. If it is a big change I probably would like to see at least some basic tests.

[2017-10-27 04:28] madeinoz67 commented on #32157
have just updated to 2.4.1 and still experiencing this issue

[code]

[2017-10-27 04:34] jmcgrath207 commented on #22169
Still seeing this issue in ansible 2.4.1.0

[2017-10-27 04:42] chrisvel commented on #32177
@nitzmahone yes and thanks for the hint! I was able to deploy my host.

[2017-10-27 04:43] mcamack commented on #17935
I've never had this happen until I started trying to connect to a SLES10SP3 system. In fact, I have a short playbook that connects to that and a SLES12SP2 system. SLES12 works fine and SLES10 has this error. I'm running ansible v2.4.0.0 from Ubuntu 16.04. Is it an sshd config difference on each machine?

Edit: got this working by upgrading python from 2.4.2 to 2.7 on the host

[2017-10-27 04:47] madeinoz67 commented on #32157
It also seems to be isolated to MacOS environment see https://github.com/StackStorm/ansible-st2/issues/180

I'm seeing that ansible 2.4.0.0 works on Centos7  same with 2.4.1.0, neither on MacOS.

[2017-10-27 06:06] graywolf opened #32229 "docker_container command doesn't fail if container exists with non-zero error code"
- Bug Report

##### COMPONENT NAME
docker_container_module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ ansible-config dump --only-changed
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = %(directory)s/%%h-%%r
ANSIBLE_SSH_CONTROL_PATH_DIR(/etc/ansible/ansible.cfg) = ~/.ansible/cp
ANSIBLE_SSH_PIPELINING(/etc/ansible/ansible.cfg) = True
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.c

[2017-10-27 06:09] trishnaguha commented on #32070
@jrosser Will you share the output of `show interface Ethernet1/10 | json` of your nxos device? We need to see the data in order to handle the failure since this is an occasional one.

[2017-10-27 06:23] kedarkekan commented on #32224
@pippozq ping does not return output with `format=text`. Using JSON/XML response and converting to a readable format could be an option though.

[2017-10-27 06:29] phozzy opened #32231 "uri: negotiate flag support"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lib/ansible/modules/net_tools/basics/uri.py

##### ANSIBLE VERSION
[code]
but for ansible 2.4 there is no such option described in documentation

##### CONFIGURATION
no manual changes in ansible.cfg

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY
I am trying to authenticate with kerberos at my freeipa server as described here:
https://vda.li/e

[2017-10-27 07:03] marandalucas commented on #27233
We have the same problem.

when try download some module with version, e.g. 1.0.0-SNAPSHOT from maven repository that contains maven-metadata.xml file without "timestamp" field (fails the module - timestamp = xml.xpath(\"/metadata/versioning/snapshot/timestamp/text()\")[0]\r\nIndexError: list index out of range\r\n")

I think there should be an option in the module to disable the timestamp option.

[2017-10-27 07:05] marandalucas commented on #27233
needs_contributor

[2017-10-27 07:09] theoden-dd opened #32232 "Git module stopped forwarding ssh-agent after updating to 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`ansible-config dump --only-changed` prints nothing

##### OS / ENVIRONMENT

Both, local and remote boxes are Ubuntu 16.04 with the latest updates from official repos.

##### SUMMARY

I've got an ssh-key with a passphrase for accessing gitlab.com repos and pretty big deploy script.
Every

[2017-10-27 07:24] jean-christophe-manciot commented on #32213
@nitzmahone

- The "Json-formatted data with newlines and spaces" are correctly formatted by ```to_nice_yaml``` filter.
- the "Json-formatted data without newlines and spaces" are incorrectly formatted by ```to_nice_yaml``` filter.

I have modified the first post to make it obvious that the ```content``` variable is part of the ```data``` dictionary.

[2017-10-27 07:42] jean-christophe-manciot commented on #32213
Also, if I remove the ```from_json``` filter, the data are not formatted at all by ```to_nice_yaml``` and the result of applying `the latter is the unmodified source data in json.

[2017-10-27 08:17] bsautel commented on #26521
Hi @callmehyde, the workaround suggested [here](https://serverfault.com/a/699202) should help you to solve your issue.

Hope it will help!

[2017-10-27 08:29] aabdnn commented on #30753
I've just tested 2.4.1, and it's still reporting "service" instead of "upstart" for CentOS 6

[2017-10-27 08:34] 0mmariano commented on #32193
@nitzmahone - I am on Debian Jessie and the only packaged version for it is Ansible 2.2. There is a 2.4 package for Buster but I cannot use it at this time. Is there something else we can look at if updating to 2.4 is not an option?

[2017-10-27 08:43] abadger commented on #30753
From #32086:

this week

[2017-10-27 09:16] theoden-dd commented on #32232
Well, just a couple of hours later came an update to 2.4.1. It seems it fixes the bug.

[2017-10-27 09:16] #32232 closed, assigned to nobody

[2017-10-27 09:18] pkaramol opened #32237 "ec2_asg: Attach existing ec2 instances to new auto scaling groups"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
[code]
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It would be nice to be able via `ec_asg` to attach **existing instances** to newly created auto scaling groups.
Unless I am wrong, currently this is not supported via the specific module.
Detailed instructions on how to do this via the `aws` console or cli can be f

[2017-10-27 09:22] mkrizek commented on #31350
@hariwe can you please try if https://github.com/ansible/ansible/pull/32236 fixes your issue? Thanks!

[2017-10-27 09:27] maciejkowalczyk opened #32238 "sshpass broken pipe after ssh retry due to ControlPersist broken pipe"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
plugins/connection/ssh

##### ANSIBLE VERSION

[code]
But I believe the bug also exists in v2.4

##### CONFIGURATION
[ssh_connection]
control_path = %(directory)s/%%h-%%p-%%r

##### OS / ENVIRONMENT
CentOS 7 control & target machines

##### SUMMARY

This is another incarnation of #29095 but in case of ssh retry due to ControlPersist broken pipe

[2017-10-27 09:39] maciejkowalczyk commented on #32238
Following patch seems to have fixed this for me:
[code]

[2017-10-27 10:01] #32225 closed, assigned to nobody

[2017-10-27 10:23] kassiansun commented on #32229
Use `detach: no` to reflect the exit code. by default `docker_container` will detach and leave container running in background.

[2017-10-27 10:47] kkarolis commented on #7235
Posting this here, maybe it will help someone.

Personally gave up on agent forwarding as well as it doesn't work (if the socket permission hack is not applied) when you connect with one user, then become another non-root account. As another alternative quasi-hacky solution, one could define a github credentials helper which takes github username, password from env variables. These can be set from

[2017-10-27 11:06] prhbrt commented on #31741
If the problem is with an outdated setuptools or pip, then please add the correct setuptools and pip version requirements to setup.py.

[2017-10-27 11:15] mkrizek commented on #32237
cc @garethr @s-hertel @ryansb

[2017-10-27 11:48] micw commented on #31115
I used to have filter_plugins/core.py in my playbook directory for some custom (playbook-specific) filters and stumbled over this issue. Thank you for clarifying! Renaming it to my_custom_filters.py fixed it.

[2017-10-27 11:55] mivanov93 commented on #29627
Not fixed, ansible 2.4 still produces an error with

` mysql_user: host=% name={{ user }} password={{ password }} priv={{ database }}.*:ALL state=present`

[2017-10-27 11:57] trishnaguha commented on #31862
@dathelen buffered destination doesn't support facility option. There should be a different task for that.

[2017-10-27 12:15] #31090 closed, assigned to nobody

[2017-10-27 12:30] jainnikhil30 opened #32247 "Allow to have sub_groups/children with same name for different parents and with different hosts in them"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
feature

##### SUMMARY

Currently the way parent children group works is, once we define a children and have it as a part of parent groups, hosts in the children group will be same for different parents. There is no way to have the same children group across different parent group with different hosts in them.

So for example if I have an inve

[2017-10-27 12:36] colin-nolan opened #32248 "`runit` module does not provide a good errorr message if `sv` is not installed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module/runit

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

There is no check for whether the `sv` binary is not `None`:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/runit.py#L144-L145

The problem only manifests itself later on in an obscure way.

##### STEPS T

[2017-10-27 12:39] jsumners commented on #32248
When would `sv` not be installed when attempting to use the `runit` module?

[2017-10-27 12:47] vhosakot commented on #13485
Including handlers works beautifully for me in Ansible 2.2.1.0. Make sure you have `- meta: flush_handlers` at the right place before notifying handlers already notified. I also have `force_handlers=True` and no `handler_includes_static = True` in my `ansible.cfg`.

[2017-10-27 12:50] colin-nolan commented on #32248
After we accidentally forget to install runit on some of the nodes in our cluster that need it ;). A nice error message would have saved us the time that we spent investigating the problem.

Of course nobody should expect the module to work if `sv` is not installed. However it would be good if it was made explicit what the problem was. It is a common pattern for Ansible modules to validate that th

[2017-10-27 12:52] jsumners commented on #32248
Can you point me to one such module so I can see how they do it? Python is not my primary language.

[2017-10-27 13:07] rmfrankch commented on #32199
@**nitzmahone**: Unfortunately the workaround won't work, as I have both cases: with and without creating homes using the user module. Your suggestion would mean that I cannot use the local option if I don't want to create the homes.
So, this option is a blocker until fixed.

[2017-10-27 13:11] colin-nolan commented on #32248
Another system module that does this is Puppet:
https://github.com/ansible/ansible/blob/722579356d46c09890ef26d32e2b195effaa2ba4/lib/ansible/modules/system/puppet.py#L175-L179
(I've not used the module or looked at it in any detail so I don't know if it's a good example - I just picked randomly at something I suspected would use an external binary.)

[2017-10-27 14:00] nvideau commented on #32037
Hello, with the change of code I have done and write in the two other issues, It is now working for me.

regarding the body issue, I was misleading by the dict type and the two other issues let me thougth it was again a bug. For me it works correctly and the body is used as JSON in a string, for example this is the body used for librenms api trought a template:

`{"hostname": "myhostname", "versio

[2017-10-27 14:06] zigarn commented on #31755
A simple use case to reproduce the problem:
No specific `ansible.cfg`
[code]
[code]

Result with ansible 2.4.0.0-1
[code]

Result with ansible 2.4.1.0-1
[code]

If you move the `inventory` file into the root folder, or the `group_vars` folder into `inventories/test/`, the variable is resolved.
The problems seems to come from loading the `group_vars` from current folder different from inventory fol

[2017-10-27 14:22] sivel commented on #32238
This was already resolved in https://github.com/ansible/ansible/pull/29099

It has been cherry picked for the following releases:

[2017-10-27 14:30] mtnbikenc opened #32255 "max_fail_percentage incorrectly aborts playbook execution"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

max_fail_percentage

##### ANSIBLE VERSION

[code]
**NOTE: This issue exists back to v2.1.0.0-1**
I tested against older version and found:
v2.0.2.0-1 Good
v2.1.0.0-1 Bad

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

max_fail_percentage incorrectly aborts playbook execution after single host failure in a batch

##### S

[2017-10-27 14:36] sivel commented on #32213
I cannot duplicate this.  My set up is slightly different, to try and create a minimal reproducer.

https://gist.github.com/sivel/d2d45256d8609b51bf3bd02c3cbe13c8

Effectively what I did was take your JSON output that has newlines, and remove the newlines and extra spaces to get it to closely match your no-newline example.

What I was trying to achieve, is a direct comparison of output.  Since you

[2017-10-27 14:47] mtnbikenc commented on #32255
Related: https://bugzilla.redhat.com/show_bug.cgi?id=1504075

[2017-10-27 14:54] zigarn commented on #31755
A `git bisect` points the commit 7f2c611dfceaef877de7dded084362d28bf5f8c7 as the start for this regression.

The difference is that the `basedirs` variable is only filled when `task` is defined, but when called from [hostvars.raw_get](https://github.com/ansible/ansible/blob/v2.4.1.0-1/lib/ansible/vars/hostvars.py#L84), `task` is undefined and so there is no `basedirs` and no variable is loaded.

[2017-10-27 15:02] fidelperez commented on #23609
I'm also running into this issue on stable-2.4.2. Anyone have a workaround?

[2017-10-27 15:05] mtnbikenc commented on #32255
Running `git bisect` found 9602e439525e5e14b1e062e18bbdee3b47af8248:
[code]

This may only be part of the overall problem.

[2017-10-27 15:11] dagwieers commented on #32037
So **win_uri** should behave exactly the same as **uri**. I wanted to start using the **uri** integration tests with **win_uri** in order to fix incompatibilities.

But we are waiting for the Test WG to make *httptester* available to the Windows VMs. Same for **win_geturl** module.

[2017-10-27 15:17] pdev77 commented on #30848
Having upgraded to ansible 2.3.1.0 thought would confirm also relevant to this version

[2017-10-27 15:23] bcoca commented on #30877
intuitive or not, the current output represents what Ansible itself sees when the play starts, not the original inventory layout.

If we present the variables by group we are not showing the final flattening/resolution, aka the value you would be using in the playbook.

I do want to add this option, but it should not be the default and clearly state that this is NOT what is available in the playbo

[2017-10-27 15:25] riton commented on #23609
@fidelperez We have not. Except modifying [python's recursionlimit](https://docs.python.org/2/library/sys.html#sys.setrecursionlimit) at the top of the _ansible*_ scripts.

We're still waiting for an official answer to this issue.

[2017-10-27 15:40] AlanCoding commented on #30877
Agreed, it should be some flag specifically for tools that want to use this (more memory-efficient) data model. AWX is a prime example.

----
Also consider that current group vars behavior is not consistent. Example:

https://github.com/AlanCoding/Ansible-inventory-file-examples/blob/master/static/group_vars.ini

https://gist.github.com/AlanCoding/a07cc14e96f5267336ebefe1692994be

[code]

you can

[2017-10-27 15:42] zeroem commented on #32208
Perhaps this should be pointed out in the Privilege Escalation docs? The current text states that `ansible_become` variable is equivalent to the `become` directive and it's clear that the behavior is not equivalent.

http://docs.ansible.com/ansible/latest/become.html#connection-variables

[2017-10-27 15:43] maciejkowalczyk commented on #32238
I meant this is similar to #29095 but not a duplicate. I think #29099 fixes only ANSIBLE_SSH_RETRIES != 0 case. In my case ANSIBLE_SSH_RETRIES was unset. Since #16787, ssh is also retried in case of ControlPersist broken pipe.

[2017-10-27 15:50] bcoca commented on #32208
the function is equivalent, their precedence is not.

[2017-10-27 15:51] bcoca commented on #30877
yep, that is a bug

[2017-10-27 16:12] bcoca commented on #32199
so we need to make it -M when luser? many 'useradd' implementations only support -m, not -M

does lusermod have the same issues?

[2017-10-27 16:16] bcoca commented on #32199
this patch should fix
[code]

[2017-10-27 16:17] sivel commented on #32238
Ah, my mistake, I didn't understand that initially.  Re-opening.

[2017-10-27 16:29] Akasurde commented on #32004
@jacksonp2008 I have tried to set values using `pyvmomi` but unable to set it. I have filed an issue against `pyvmomi`,  you can find the details [here](https://github.com/vmware/pyvmomi/issues/622).

[2017-10-27 16:33] jean-christophe-manciot commented on #32213
@nitzmahone
What if you try with the original "Json-formatted data without newlines and spaces"?

- I have checked that they are json-compatible through a [JSON Validator](https://jsonlint.com/).
- I have also added the notion "and spaces" in the title & first post because it may interfere in this issue.

[2017-10-27 16:39] gjedeer opened #32265 "Add async support to Template"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
Template plugin

##### ANSIBLE VERSION
[code]

##### SUMMARY
The template plugin does not support async. It would be nice if it did.

I'm not sure if it's by design or not, maybe I'm overlooking something and there's a possible race condition. As a test, I've added

[code]

as the first line of the run() method in `plugins/action/template.py`

[2017-10-27 16:44] bcoca commented on #32265
the templating itself would not be async, just the copy of the results and setting file permissions, which DO have a race condition.

[2017-10-27 17:03] john-at-p1technologies commented on #30327
Having the same issue.
Implemented @karniemi work-around (ie defining the folder by prefixing with the _[datacentername]_) and it is working great.

[2017-10-27 17:14] jean-christophe-manciot commented on #32213
@nitzmahone
I have just tried my role by removing all newlines and spaces from the first "Json-formatted data with newlines and spaces", like you did, and this issue is **still there**; I get the following file once the filters are applied:
[code]

This seems to mean that the issue lies within the **copy module instead of the jinja filters**.

[2017-10-27 17:21] gjedeer commented on #32265
It's the copying/checksumming which takes the most time in my case (~30 items).

Anyway, feel free to close it, I was just hoping it's an easy thing to add.

[2017-10-27 17:30] sivel commented on #32213
I still cannot duplicate this.  I have update my "reproducer" with an additional task to use `to_nice_json` with the copy module and it works as expected.

I would recommend trying my reproducer to see if it generates the same problem for you: https://gist.github.com/sivel/d2d45256d8609b51bf3bd02c3cbe13c8

I'll also mention that I used your `Json-formatted data without newlines and spaces` and it

[2017-10-27 17:49] jean-christophe-manciot commented on #32213
Your conclusion is that the "Json-formatted data without newlines and spaces" are not correctly formatted, because there should not be duplicate keys.
That makes sense, but I'm surprised that they pass the [json validator](https://jsonlint.com/). If you're right, it shows that the latter is flawed: it should warn the user of duplicate keys.

[2017-10-27 17:55] vedagiridharan opened #32268 "The 'ansible' distribution was not found and is required by the application"
Hi Team,

I'm getting below error while run the "ansible --version" command. Please help me to resolve the issue.
Installed ansible through cygwin in windows with help this link(https://www.jeffgeerling.com/blog/running-ansible-within-windows)

-----

$ ansible --version
ERROR! Unexpected Exception, this is probably a bug: The 'ansible' distribution was not found and is required by the application

[2017-10-27 17:57] sivel commented on #32213
It still works for me. I was just pointing out a flaw in the data. It is not necessarily invalid.

Please try my reproducer to see if you are impacted still using my playbook and examples.

[2017-10-27 18:06] jean-christophe-manciot commented on #32213
I have the same results as yours.
My conclusion is that this issue comes from wrongly formatted data from the Cisco NX-OSv 9k openconfig Yang model (maybe more models are impacted)

[2017-10-27 18:09] sivel commented on #32213
I suppose it could also be caused by using `key=value` in your playbook instead of full YAML syntax. Could you test with full YAML syntax like in my examples?

[2017-10-27 18:14] hanengarcia commented on #31655
is there any workaround for this? I'm using tower-cli 3.2.0, Tower  3.2.1 , Ansible 2.4.0

[2017-10-27 18:22] bcoca commented on #31758
see if #32269 fixes this for you

[2017-10-27 18:23] bcoca commented on #31755
see if this fixes it #32269

[2017-10-27 18:33] jean-christophe-manciot commented on #32213
If I use the following syntax:
[code]
I get this very strange error:
[code]
Despite:
[code]

[2017-10-27 18:34] FlavioAlexander commented on #32232
Was this solve? I am getting the error with `2.4.1.0`

[2017-10-27 18:38] nixmomo opened #32271 "ssh permission denied confusing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ssh connection

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

ALLOW_WORLD_READABLE_TMPFILES(/etc/ansible/ansible.cfg) = True
DEFAULT_GATHERING(/etc/ansible/ansible.cfg) = implicit
DEFAULT_GATHER_SUBSET(/etc/ansible/ansible.cfg) = all
DEFAULT_GATHER_TIMEOUT(/etc/ansible/ansible.cfg) = 60
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/

[2017-10-27 18:41] jean-christophe-manciot commented on #32213
My library variable in /etc/ansible/ansible.cfg has always been set to ```/home/actionmystique/Ansible/git-yang-networkop/ansible-101/library``` without any mention to the ansible embedded modules and without experimenting any such issue.

Anyway, if I change the library variable to ```/home/actionmystique/src/Ansible/git-ansible/lib/ansible/modules:/home/actionmystique/src/Ansible/git-ansible/lib

[2017-10-27 18:49] joelcapitao commented on #31879
Hello @yahoon

Dou you have a `become: yes` directive in your playbook ? If yes, you have to set `become: no` in order to keep your env var.

[2017-10-27 18:49] sivel commented on #32213
Your syntax is incorrect, it should be:

[code]

[2017-10-27 19:14] nixmomo commented on #32271
in playbook he do all steps but after 18. it brakes ... here is a log (if i run the playbook on one host only it works without errors)

[code]
At the end from the log it posts this

[code]

[2017-10-27 19:31] jean-christophe-manciot commented on #32213
Thanks.
So with:
[code]
I get exactly the same result:
[code]

[2017-10-27 19:39] sivel commented on #32213
So it seems things are working as expected now?

[2017-10-27 20:10] edvinaskairys opened #32273 "weathermap php fatal error"
I've moved weathermap to new instalation of observium, and i can't run the map-poller, i get this error:

/opt/observium/html/weathermap/map-poller.php
PHP Fatal error:  require_once(): Failed opening required 'random_compat/random.php' (include_path='/libs/pear:/libs:.:/usr/share/pear:/usr/share/php') in /opt/observium/includes/definitions.inc.php on line 160

maybe you can how i can cope with th

[2017-10-27 20:13] nixmomo commented on #32271
update 2:
other playbooks works without errors with both of this hosts... im pretty sure that the problem is that the playbook plays very long (more as 5 minutes) and that i run in any timeout or file deletion before the playbooks finished.
Im new to ansible so all ideas that point me in the right way are welcome

[2017-10-27 20:16] leifmadsen opened #32274 "tower_project module fails if no scm_credential is specified"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`tower_project`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Fedora 26 host

##### SUMMARY
Using `tower_project` without specifying an `scm_credential` results in failure of module usage.

##### STEPS TO REPRODUCE
`site.yml`

[code]

Note how `scm_credential` is commented out. Documentation says this argument

[2017-10-27 20:19] abadger commented on #32268
@vedagiridharan Hi, two portions to this answer.  (1) We do not support running under Windows.  The Windows kernel lacks certain features (most notably around the fork system call) that Ansible requires to run correctly so it's not something that we can coerce into working.  (2) That said, this particular traceback looks like it is caused because the instructions for installing Ansible on that pag

[2017-10-27 20:19] #32268 closed, assigned to nobody

[2017-10-27 21:00] nixmomo commented on #32271
to help the devs... it is a bug in transport = smart (or whatever is default )

If i set transport      = paramiko in ansible.cfg it works as expected but that cant be the solution

[2017-10-27 21:30] drboone commented on #31049
This bug also affects triton/smartos.

[2017-10-27 22:36] maedoc commented on #12852
I didn't need much complexity and came up with this
[code]
ymmv but this is super useful

[2017-10-27 22:41] mcamack commented on #22371
Can confirm that at least on a sles10sp3 machine with python 2.4.2 installed, this issue goes away when upgrading to python 2.7. This is confusing because I didn't think Ansible cared about the host's python version for the SSH connection.

[2017-10-27 22:45] jean-christophe-manciot commented on #32213
Actually, I'm not so sure that there are duplicate keys.
If I use [jsonchecker](https://pypi.python.org/pypi/jsonchecker/0.8.0) utility against the data, no duplicate keys are found:
[code]

**The script will exit with a status code of 1 if there are either duplicate keys or duplicate values are found, 0 if none are**.

[2017-10-27 22:46] mcamack commented on #26359
I had very similar errors trying to run ansible v2.4.0.0 from ubuntu 16.04 to a host on sles10sp3. The host machine had python 2.4.2 installed, and this issue goes away when upgrading to python 2.7. This is confusing because I didn't think Ansible cared about the host's python version for the SSH connection.

[2017-10-27 23:14] TechFanDan opened #32277 "TypeError: 'str' object is not callable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

postgresql_privs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Output of command was empty/blank. No changes were done on my side.

##### OS / ENVIRONMENT

Windows 10 Fall Creator, Windows Linux Subsystem

##### SUMMARY

Calling postgresql_privs module throws an unexpected error

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2017-10-27 23:57] mrstevek commented on #31673
Besides 2.4, we're seeing the issue in 2.3.1.

[2017-10-28 01:08] sivel commented on #32213
I have no idea.  When I copy the value of `data.content` into a file and run `jsonchecker` on it, I get:

[code]

I am completely perplexed by your difficulties here.  Do note that `data.content` as you provided above is effectively a repr of a JSON string, so you have to remove the surrounding quotes, and fix the escaping.

[2017-10-28 02:51] error10 commented on #25897
My current workaround is to check for `/run/ostree-booted` and skip tasks if it's present. For example:

[code]

[2017-10-28 05:24] #31527 closed, assigned to nobody

[2017-10-28 05:27] bcoca commented on #28963
dupe of #31527

[2017-10-28 05:27] #28963 closed, assigned to nobody

[2017-10-28 05:29] bcoca commented on #17122
so this should mostly fix the issue #32280, the only problem are verbose messages before the callback is loaded, but those are guaranteed to only be on the top so they are easily filtered out.

[2017-10-28 07:59] flaviotorres commented on #23597
The same here:

[code]

macOS Sierra, 10.12.6

[2017-10-28 08:29] toke opened #32286 "When using filter in setup module returned variables may be wrong"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

does not matter

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Similar to bugs #30753, #31095 ansible_service_mgr fact may be wrong but only when used
together with the setup filter! Omiting filter the value of ansible_service_mgr is correct.

##### STEPS TO REPRODUCE

Broken:
`ansible h

[2017-10-28 08:30] toke commented on #32286
Some discussion was done in #32086

[2017-10-28 09:10] jean-christophe-manciot commented on #32213
OK, that explains the different result we get on this one.
If I remove the quotes and fix the escaped ones, I get the same duplicate keys.

[2017-10-28 09:10] #32213 closed, assigned to nobody

[2017-10-28 09:59] ghost opened #32288 "Please add "cifs" to the default list of special file system types for selinux"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

See Issue [#10931](https://github.com/ansible/ansible/issues/10931)

And corresponding Pull Request [#11011](https://github.com/ansible/ansible/pull/11011)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

From Windows 10 Enterprise 1790 Host Hyper-V
To Vagrant Guest Centos 7

##### SUMMARY

get_url and tem

[2017-10-28 10:33] trondhindenes commented on #32037
I would argue that in order to future-proof the module the "dict" parameter for the body should go. If the module is used with a content-type of application/xml and body is an arbitrary xml string it will break down if we at some point introcude the "dict" type in Get-AnsibleParam. I'm all for future-proofing but assuming "dict" (even tho it's not actually implemented yet) is simply unnecessary an

[2017-10-28 10:50] trondhindenes commented on #32037
Regarding it not working. I'm testing this on Win2016 core, but you're using the "UseBasicParsing" switch so that shouldn't be a problem. Here's my code:
[code]

As you can see, I'm testing both a file lookup and just literally using a json payload in the variable (by switching between payload and payload2)
The verbose output of the result contains (snipped for brevity):
[code]

Result from httpbi

[2017-10-28 13:05] HappyFreeAngel opened #32293 "ansible_modlib.zip/ansible/module_utils/vmware.py", line 237, in compile_folder_path_for_object"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION  2.4.0.0
install on centos7

[code]

##### CONFIGURATION

[root@localhost ansible-mesoscluster]# more ansible.cfg
[defaults]
host_key_checking = False
hostfile = hosts
forks = 20
pipelining = False

jinja2_extensions = jinja2.ext.do,jinja2.ext.i18n

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPROD

[2017-10-28 13:08] vedagiridharan commented on #32268
Thanks abadger and ansibot. could you answer Ansible will support windows(7) through cygwin?,if so, please provides step to install

[2017-10-28 13:16] abadger commented on #32268
Ansible will not support running under cygwin.  As explained in the
previous comment, windows does not have all the features we need to support
running the controller on it.

[2017-10-28 13:22] vedagiridharan commented on #32268
Thanks abadger

[2017-10-28 14:59] LuckySB commented on #31074
not fixed ((

i make rpm from current devel, and try run playbook from https://github.com/LuckySB/ansible_bug_stdout_callback_actionable

and get in out
[code]

Version of python modules in Centos7:
may be this old version of python-jinja2-2.7 issue ?

[code]

[2017-10-28 15:15] ghost opened #32294 "proxmox_kvm fails when VM does not exist"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

proxmox_kvm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

In the proxmox_kvm module both state:current and state:absent fail when the VM does not exists.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

When running state:current the returned status should indicate

[2017-10-28 16:18] zigarn commented on #31755
I confirm it fixes my use case.
@joshbenner: does it fix yours?

[2017-10-28 16:45] Akasurde commented on #32293
@HappyFreeAngel Thanks for reporting this issue. Could you please try [PR](https://github.com/ansible/ansible/pull/32078)?

[2017-10-28 17:10] Akasurde commented on #32277
Seems similar to #31825

[2017-10-28 17:13] Akasurde commented on #31703
Can someone close this as PR #31698 is merged ?

[2017-10-28 17:54] prasadkatti opened #32296 "value must be present when state is present or absent in route53 module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`route53`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
all defaults

##### OS / ENVIRONMENT
N/A

##### SUMMARY
In `route53` module, the option `value` is required when `state` is 'present' or 'absent'. This is not enforced right now as there is a bug in the module. The `value` option has a default value of `[]`, therefore the `required_i

[2017-10-28 20:11] jamescassell commented on #30327
since @karniemi's workaround was confusing to me, here's the workaround as it worked for me:
[code]
Previously, I'd had:
[code]

[2017-10-28 20:18] dheerajpr opened #32299 "ionbas"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-10-29 00:44] retr0h opened #32301 "py3.6 error with ansible galaxy"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS

##### SUMMARY

Python 3.6 issue with ansible-galaxy.

##### STEPS TO REPRODUCE

[code]

[code]

[code]

##### EXPECTED RESULTS

Role downloads

##### ACTUAL RESULTS

Exception raised

[2017-10-29 06:49] akshaygin commented on #32301
It is problem with Python 3.x.
In Python 3, distutils.LooseVersion fails to compare number and a word.
Bug already reported here. https://bugs.python.org/issue14894

[2017-10-29 13:07] deckTECHeu commented on #16809
There is still no ansible module for os_keystone_endpoint. Any idea when it will be created?

[2017-10-29 13:35] graywolf commented on #32229
Hm, not very intuitive but it's not a bug, thanks for advice

[2017-10-29 13:35] #32229 closed, assigned to nobody

[2017-10-29 15:02] Akasurde commented on #32299
@dheerajpr Could you please elaborate more as this information is very limited ?

[2017-10-29 15:03] Akasurde commented on #32273
@kajatonas Thanks for reporting this issue. Could you please elaborate more about your problem by providing playbook and error that you getting ?

[2017-10-29 15:05] Akasurde commented on #32248
resolved_by_pr #32250

[2017-10-29 15:31] edvinaskairys commented on #32273
sorry, but this is not related to ansible.

[2017-10-29 15:47] orgito opened #32325 "Why the official images are still using Ansible 2.4.0"
2.4.1 was released October 25 and is in the official repo. When I build the images locally 2.4.1 is installed, but the images from docker still use 2.4.0.

[2017-10-29 18:13] dheerajpr commented on #32299
I’m not sure, its the bot who created the issue. I’ll create one if I have anything. You can close the ticket for bow.

[2017-10-29 18:13] dheerajpr commented on #32299
I’m not sure, its the bot who created the issue. I’ll create one if I have anything. You can close the ticket for bow.

[2017-10-29 18:13] #32299 closed, assigned to nobody

[2017-10-29 18:59] retr0h commented on #32301
If Ansible were to claim py3 support wouldn't galaxy work-a-round the issue then?  Waiting on an upstream py3 fix seems to be some time away.

[2017-10-29 19:08] jamescassell commented on #25714
I also see value in being able to set resource limitations or reservations.  Is far as I can tell, much of the rest is already supported in vmware_guest...  Removing resources, perhaps being the exception...

[2017-10-29 22:53] nusenu opened #32327 "add state=latest to FreeBSD_pkg"
##### ISSUE TYPE
 - ~Bug  Report~
- Feature Idea

##### COMPONENT NAME
package module

##### ANSIBLE VERSION
[code]
and
[code]

##### OS / ENVIRONMENT

target: FreeBSD

##### SUMMARY

##### STEPS TO REPRODUCE
Run the package module with
[code]
against a FreeBSD target.

example: but change `present` to `latest`:
https://github.com/nusenu/ansible-relayor/blob/master/tasks/main.yml#L83

##### EXPECT

[2017-10-29 23:17] 1-61803 opened #32328 "vars_files, include_vars don't work with role vars"
I want to separate vars in a role structure from `vars/main.yml` into different files using `vars_files` or `include_vars`, but I get this message
[code]
Shouldn't either work in such a case? Is there any other way to accomplish this?

[2017-10-30 00:27] jborean93 commented on #32037
Looking at the `uri` module, the type is `raw` and not `dict` so the powershell equivalent shouldn't have a type at all (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/net_tools/basics/uri.py#L373). It may have been a dict in the past but I haven't looked at the history. @trondhindenes is right though, this would be an issue if we are passing in an XML and it should be whatever

[2017-10-30 01:58] arun8796 opened #32331 "ssh issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ssh
##### ANSIBLE VERSION

2.4

##### CONFIGURATION

##### OS / ENVIRONMENT

conrol server is centOS 7
remote host is redhat 7

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
need to connect to remote host with ssh

##### ACTUAL RESULTS
ansible all -m ping
The authenticity of host 'ansmaster (xx.xx.xx.xx)' can't be esta

[2017-10-30 05:17] karlmdavis opened #32334 "Weird error with shell heredocs in 2.4.1.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
YAML parsing

##### ANSIBLE VERSION
2.4.1.0

(Apologies, didn't have Travis recording the full `ansible --version`.)

##### CONFIGURATION
Here's the config file used in my tests: [ansible.cfg](https://github.com/karlmdavis/ansible-role-jenkins2/blob/a389d972466aff045b20e27fcce262de129e619d/test/ansible.cfg)

##### OS / ENVIRONMENT
N/A

##### SUM

[2017-10-30 05:33] Akasurde commented on #32273
@kajatonas Ok. Could you please close this issue then ?

[2017-10-30 07:24] #28096 closed, assigned to nobody

[2017-10-30 07:24] #28225 closed, assigned to nobody

[2017-10-30 08:13] Spredzy opened #32338 "registered values assigned even though task is ignored"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- core

##### ANSIBLE VERSION

- devel
- 2.4.0

##### CONFIGURATION

- N/A

##### OS / ENVIRONMENT

- N/A

##### SUMMARY

Variables register in a skipped tasks are actually registered (emptied) when it should not, as the task is skipped.

##### STEPS TO REPRODUCE

Using the following playbook:

[code]

Task#1 echo Ansible and register the out

[2017-10-30 09:41] 1-61803 commented on #32328
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
[Variable File Separation](http://docs.ansible.com/ansible/latest/playbooks_variables.html#variable-file-separation)

##### ANSIBLE VERSION
[code]

[2017-10-30 10:23] jharbott commented on #29129
I can confirm that with shade 1.22.0 the issue does not appear, with 1.23.0 it does. Created a bug report for shade: https://storyboard.openstack.org/#!/story/2001265

[2017-10-30 11:35] kafecho commented on #31166
Hi @nvideau, sorry for the late reply. I just got around to test your changes and they work fine on my setup.

I tested the correct case (i.e. HTTP GET on something which accepts GET) as well as the other cases and it all works fine.

[code]

[2017-10-30 12:22] AlanCoding opened #32341 "Script plugin error handling fix not cherry-picked to 2.4-stable branch"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Inventory script plugin

##### ANSIBLE VERSION
2.4.0.0

Important bit:
[code]

##### CONFIGURATION
Ansible 2.4.0.0

##### OS / ENVIRONMENT
AWX, Ubuntu 16.04

##### SUMMARY
Script plugin encountered error, but error is unknown because of another error that gets thrown when formatting the error message.

This has already been solved in `devel` bra

[2017-10-30 13:39] jainnikhil30 opened #32343 "asa_* modules putting provider password in cleartext"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
networking asa_* module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
asa_* modules puts the provider password in clear text in /var/log/messages

##### STEPS TO REPRODUCE
1.) Use any asa_* module and check the /var/log/messages after it ran. It puts the provider password in cleartext.

##### EXPECTED

[2017-10-30 13:41] Spredzy commented on #32338
NOTABUG

Misunderstanding from my side.

[2017-10-30 13:41] #32338 closed, assigned to nobody

[2017-10-30 13:49] #32273 closed, assigned to nobody

[2017-10-30 13:56] glatapoui opened #32345 "maven_artifact (+ delegate_to) : cannot create intermediate folders anymore"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
maven_artifact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ansible.cfg`:
[code]

##### OS / ENVIRONMENT
Ansible host: Ubuntu 12.04.1
Ansible target: Ubuntu 16.04

##### SUMMARY
Intermediate folder is not created (and the not found) when using task `maven_artifact` since Ansible 2.4

##### STEPS TO REPRODUCE
When I use the following task,

[2017-10-30 13:58] hariwe commented on #31350
@mkrizek thanks, with #32236 it's working fine now!

[2017-10-30 13:59] #32248 closed, assigned to nobody

[2017-10-30 14:02] gibbsoft opened #32346 "Credstash plugin should have a `default` parameter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
credstash plugin

##### ANSIBLE VERSION

[code]
However, all current versions suffer this same issue.

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Whilst using the credstash lookup in a loop with `set_fact` to populate a dictionary, the whole task fails if one of the keys does not exist in credstash.   Attempting to work a

[2017-10-30 14:11] bcoca commented on #32327
reclassifying as not all package managers are required to support latest

@nusenu it would help to know which package manager you are using on FreeBSD

[2017-10-30 14:13] AceSlash opened #32347 "copy module "changed" status not showing during execution on branch stable-2.4 (working on stable-2.3)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy module, maybe other, I didn't test them.

##### ANSIBLE VERSION
branch stable-2.4 from github

##### CONFIGURATION
ANSIBLE_PIPELINING(/home/username/.ansible.cfg) = True
DEFAULT_HOST_LIST(env: ANSIBLE_INVENTORY) = [u'/home/username/git/enterprise_name/IT/ansible/prod']
DEFAULT_MODULE_PATH(env: ANSIBLE_LIBRARY) = [u'/home/username/git/extern

[2017-10-30 14:17] bcoca commented on #32097
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-30 14:17] #32097 closed, assigned to nobody

[2017-10-30 14:17] bcoca commented on #32129
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-30 14:17] #32129 closed, assigned to nobody

[2017-10-30 14:24] bcoca commented on #32288
This is configurable by the user, it is not a hard-coded constant. http://docs.ansible.com/ansible/devel/config.html#default-selinux-special-fs

so I'm going to close this as 'resolved'.

[2017-10-30 14:24] #32288 closed, assigned to nobody

[2017-10-30 14:25] andriilahuta opened #32348 "Lookup plugin flattens single-element lists"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lookup plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Ubuntu
##### SUMMARY

Lookup plugin runner (`ansible.template.Templar._lookup`) flattens single-element lists.
The problem seems to lie here:
https://github.com/ansible/ansible/blob/4a19482413bf2542b01d5d5fe74019dee3dbf4b9/lib/ansible/template/__in

[2017-10-30 14:32] sivel commented on #32325
We do not distribute official docker images for use as an ansible controller.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-10-30 14:32] #32325 closed, assigned to nobody

[2017-10-30 14:38] sivel commented on #32348
This is expected and was part of the fix to resolve issues in https://github.com/ansible/ansible/issues/14541

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-10-30 14:38] #32348 closed, assigned to nobody

[2017-10-30 14:42] thaumos commented on #32331
Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-project
If you can stop by there, we'd appreciate it. This allows us to keep the issue tr

[2017-10-30 14:42] #32331 closed, assigned to nobody

[2017-10-30 14:47] Oloremo opened #32351 "Playbooks "hosts" can't see any defined variable"
- Bug Report

##### COMPONENT NAME
playbook run logic

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS \ Centos

##### SUMMARY
"hosts" section of playbook can't see any defined variable

##### STEPS TO REPRODUCE

1. Define any variable in group_vars/all/anything.yaml
2. Put this variable in playbooks "hosts:" section
3. Get the "exception type: <class 'ansibl

[2017-10-30 14:51] sivel commented on #32351
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-30 14:51] #32351 closed, assigned to nobody

[2017-10-30 15:02] leifmadsen opened #32352 "tower_credential module unable to POST correctly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`tower_credential`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 26

##### SUMMARY
Use of the `tower_credential` module fails to post to the API

##### STEPS TO REPRODUCE
Run the following play against AWX and you'll be returned the following failure:

Sample play
[code]

##### EXPECTED RESULTS
No failu

[2017-10-30 15:05] sivel commented on #32352
Potentially a duplicate of https://github.com/ansible/ansible/issues/31655 ?

[2017-10-30 15:15] andriilahuta commented on #32348
Shouldn't it be documented then?
Also it reduces flattened/items lookups usability with the new `loop` keyword.

[2017-10-30 15:16] trishnaguha commented on #31837
As discussed with the team, we are not planning to do xml support in near future for the nxos modules. Thus closing the issue.

[2017-10-30 15:16] #31837 closed, assigned to Qalthos, trishnaguha

[2017-10-30 15:16] trishnaguha commented on #29784
As discussed with the team, we are not planning to do xml support in near future for the nxos modules. Thus closing the issue.

[2017-10-30 15:16] #29784 closed, assigned to nobody

[2017-10-30 15:19] bcoca commented on #32328
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-10-30 15:19] #32328 closed, assigned to nobody

[2017-10-30 15:20] orgito commented on #32325
Sorry. Wrong repo!

[2017-10-30 15:24] sivel commented on #32348
`loop` does not require the use of the `items` lookup as it natively accepts a list.  Running it through the `items` lookup would be unnecessary.

[2017-10-30 15:30] bcoca commented on #32334
the error seems unrelated to the heredoc itself, but caused bye locale settings.

can you run with -vvv to get a better view of what is happening?

[2017-10-30 15:35] leifmadsen commented on #32352
@sivel I don't think it's a duplicate. I seem to be able to communicate with the API fine (as I can get the `tower_project` module to work), but it looks like the `tower_credential` module is passing too many arguments (some of them incorrect) to the API, which is then rejecting the POST.

[2017-10-30 15:37] andriilahuta commented on #32348
In some cases I need to flatten it first. So `loop` will fail for such a construct: `{{ lookup('flattened', [[1]]) }}`, but will work for `{{ lookup('flattened', [[1, 2]]) }}`

[2017-10-30 15:42] EddyP23 opened #32353 "Ansible group variables being merged for distinct hosts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible inventory variable parsing

##### ANSIBLE VERSION

```ansible 2.4.0.0```

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS

##### SUMMARY AND STEPS TO REPRODUCE

`inventory.yml`:
[code]

When I run `ansible -i inventory.yml -m debug -a 'var=location' all` I get `location: westeu` for both hosts! *Please note*, that t

[2017-10-30 15:48] bcoca commented on #32353
this is supposed to fix that display issue #32276

[2017-10-30 15:51] sivel commented on #32353
I'm not sure it is a bug.  I believe what is happening is the correct behavior.  You have applied vars to a group, and that group contains children.  In resolving variables, the parent groups vars will apply to the children groups as well.  Meaning that the last processed will overwrite.  Because you specified the same child groups for both parents, this is the result.

I think the YAML plugin is

[2017-10-30 15:53] akcrisp commented on #14413
@dagwieers how is the reboot action plugin coming along ?

[2017-10-30 16:06] EddyP23 commented on #32353
@sivel, I think I am starting to understand the idea of inventory variable with Ansible.

But then would it be possible for ansible to issue a warning when assigning the same variable twice? It would solve my problem and the problems people are having in the issue I linked to.

And thanks for a quick reply.

[2017-10-30 16:12] sivel commented on #32353
Technically the overwriting is a "feature" of ansible, so issuing a warning would probably be counterintuitive and noise to most.  Since people will often add a variable at the `all` level, and expect it to be overwritten for groups or hosts with a more specific value.

[2017-10-30 16:14] cpmills1975 opened #32355 "ansible-playbook displays decrypted vault-encrypted strings"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
RHEL 7.4 - but likely affects all platforms

##### SUMMARY
Using in-place vault-encrypted strings in a playbook and when ansible-playbook runs, these are output
in plain text on the screen. If important, the task is iterative (with_items) and executes mul

[2017-10-30 16:25] fishfacemcgee commented on #31704
It looks like the fix is targeting 2.5. Is there any chance it'll come to 2.4.x or should we just plan to work around it until 2.5's released?

[2017-10-30 16:28] #31755 closed, assigned to nobody

[2017-10-30 16:28] #31758 closed, assigned to nobody

[2017-10-30 17:04] bcoca commented on #32353
@sivel, it is a bug for the intended representation, its supposed to reflect how Ansible sees the inventory once resolved.
I do plan to add a couple of options:
- An optimized version with vars in groups (mainly for import/migrations)
- A option to show everywhere in inventory in which a var is defined

[2017-10-30 17:05] sivel commented on #32353
@bcoca I'm slightly confused.  This isn't about how ansible-inventory displays an inventory, this is literally about how ansible inventory works.

[2017-10-30 17:06] bcoca commented on #32353
ah .. sorry, mixed tickets in my head ... sorry for the noise.

[2017-10-30 17:30] layounih commented on #22841
facing the same issue using Ansible Tower

[2017-10-30 17:43] JohnnyElvis commented on #31981
It appears like I am having the "same" issue while performing "POST". Affected Header "SOAPAction: http://tempuri.org/..../...."

[2017-10-30 17:48] marcingarstka commented on #32075
Hello Everyone,
Kind request to look on this issue, I would appreciate any help.
Regards!
Marcin Garstka

[2017-10-30 17:56] andreyfedoseev opened #32358 "Subsequent calls to `postgresql_user` with `role_attr_flags` raise an error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
postgresql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
MacOS 10.13

##### SUMMARY
When I run `postgresql_user` with `role_attr_flags` parameter it works fine (user is created). Any sub-sequent runs of this command are failing.

##### STEPS TO REPRODUCE
Run the following playbook twice

[code]

##### EXPECTED

[2017-10-30 18:04] andriilahuta commented on #31528
This also causes problems with `fileglob` lookup. It returns a comma-separated string of paths, which can be split into a list of course, but that would fail when path itself contains commas.

[2017-10-30 18:18] andreyfedoseev commented on #32358
I did some digging and found that Ansible tries to execute the following query:

[code]

and it fails with the following error:

[code]

My PostgreSQL instance is running on AWS RDS, it seems that limited access to `pg_authid` table is a known issue there.

Still, I consider this as a bug in Ansible since it fails to handle this edge case properly.

[2017-10-30 18:20] bcoca commented on #31528
lookups should use the `wantlist=True` parameter to ensure a list is returned

[2017-10-30 18:27] amsinha2 commented on #31053
The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_Q8jwJI/ansible_module_aws_s3_bucket_facts.py", line 112, in <module>
    main()
  File "/tmp/ansible_Q8jwJI/ansible_module_aws_s3_bucket_facts.py", line 105, in main
    result['buckets'] = get_bucket_list(module, connection)
  File "/tmp/ansible_Q8jwJI/ansible_module_aws_s3_bucket_facts.py", line 68, in get_bucket_list

[2017-10-30 18:39] samvarankashyap commented on #20864
Any update on the issue ? @rcarrillocruz

[2017-10-30 18:45] andriilahuta commented on #32348
Problem solved. Turns out I should've passed `wantlist=True` to lookup.

[2017-10-30 18:52] #32067 closed, assigned to bcoca

[2017-10-30 19:04] andriilahuta commented on #31528
Totally missed that, thanks. It should probably be mentioned in _playbooks_loops_ docfile as well, because it is easy to miss when migrating from `with_` to `loop`.

[2017-10-30 19:18] s-hertel commented on #30548
Hopefully the fix to jinja2 gets merged soon. If someone needs a workaround I made a hackish fix for myself: https://github.com/s-hertel/ansible/commit/559c4980983eb1ab3e0eb2c5b7641f772fb36210.

[2017-10-30 20:41] leifmadsen commented on #32352
I figured out the pattern (fyi, I'm using v1 API) in the tower modules.

I'll be submitting a patch sometime this week once I get it all cleaned up and ready for review.

[2017-10-30 20:45] jctanner commented on #32255
https://github.com/ansible/ansible/pull/32362

[2017-10-30 21:28] bernardoVale commented on #32157
I can confirm that this is no longer an issue in 2.4.1. I will close this issue!

[2017-10-30 21:43] mowntan opened #32365 "vmware_guest: vim.vm.device.VirtualDeviceSpec.FileOperation' object is not callable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False

##### OS / ENVIRONMENT

##### SUMMARY
When creating a guest using vmware_guest we get the following output

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Vmware guest should be created
##### ACTUAL RESULTS

[2017-10-30 22:10] nitzmahone commented on #13894
This is something we're hoping to address in 2.5 with the platform project...

[2017-10-30 22:25] nitzmahone commented on #17014
There's really not a great solution to this issue- the concept of a "default IP address" means different things to different people, and the Linux fact is wrong as much as it's right. Usually this comes down to locating an address on a particular subnet, which we have to filters to assist with given the list of IP addresses... Given the lack of clarity on this, I'm going to close this issue.

[2017-10-30 22:25] #17014 closed, assigned to nobody

[2017-10-30 22:28] szollin commented on #31501
I'm going to close this for inactivity. I will try to find help elsewhere.

[2017-10-30 22:29] nitzmahone commented on #17187
This should be fixed in 2.5 once connection-oriented win_reboot rebuild is merged.

[2017-10-30 22:35] nitzmahone commented on #17541
Take a look at http://docs.ansible.com/ansible/devel/windows_winrm.html#automatic-kerberos-ticket-management - it doesn't support keytabs yet, but it obviates the need to run kinit yourself... Going to close this for now- if keytab support is genuinely important outside of manual kinit, please open a new issue or bring it to an IRC meeting of the Windows Working Group.

[2017-10-30 22:35] #17541 closed, assigned to nobody

[2017-10-30 22:40] nitzmahone commented on #18438
@furiml Haven't heard back after nearly a year, so assuming you worked around this somehow, as we're unable to reproduce... If it's still an issue, please file a new ticket with some more details and a full reproduction.

[2017-10-30 22:40] #18438 closed, assigned to nitzmahone

[2017-10-30 22:42] nitzmahone commented on #18719
Since this bug appears to be in the pywinrm code and not Ansible's, we're going to close it here. Pywinrm should address this issue at some point.

[2017-10-30 22:42] #18719 closed, assigned to nitzmahone

[2017-10-30 22:46] nitzmahone commented on #18934
Hopefully the blacklist coming in 2.5 could take care of this in the absence of another mechanism. The wrapper action that's coming might also be able to take care of this sort of transient update failure...

[2017-10-30 23:46] wimnat commented on #32218
Can you use the elb_target module? Currently WIP https://github.com/ansible/ansible/pull/26483

[2017-10-31 01:50] ephesused opened #32366 "match test documentation inaccurate"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

http://docs.ansible.com/ansible/latest/playbooks_tests.html#testing-strings

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing unusual.

##### OS / ENVIRONMENT

CentOS 7.3

##### SUMMARY

The documentation for the match test states that it "requires a complete match in the string".  That's not accurate;  it requires a match

[2017-10-31 01:53] pippozq commented on #32224
ok..i got another solution, thanks a lot

[2017-10-31 01:53] #32224 closed, assigned to nobody

[2017-10-31 02:20] valerius257 opened #32368 "win_service quotes in path to handle spaces"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible Host: CentOS 7
Managing: Windows 2012 R2

##### SUMMARY

win_service fails to create service when quoted path which is needed to handle spaces in path.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

windows service created with p

[2017-10-31 02:32] jborean93 commented on #32368
Do you need to quote the path? I've got plenty of local services where the `Path to executable` is in `C:\Program Files\*` and they are not quoted.

[2017-10-31 04:32] masato-asahara commented on #32238
@sivel

I am a co-worker of @maciejkowalczyk9ld and also suffered from this issue. Could you reopen this issue? This issue is critical for our usecase to provision over 30 nodes of a distributed computing cluster.

[2017-10-31 04:43] Akasurde commented on #32365
@mowntan Thanks for reporting this issue.

[2017-10-31 05:01] Akasurde commented on #31825
resolved_by_pr #32371

[2017-10-31 05:02] Akasurde commented on #32277
resolved_by_pr #32371

[2017-10-31 05:49] Akasurde commented on #32058
resolved_by_pr #32369

[2017-10-31 06:55] valerius257 commented on #32368
In this particular case quotes are not needed but this may be needed when additional parameters are passed to the service or parameters itself should be in quotes.
For example `Microsoft Policy Platform Local Authority` service have the following path `"C:\Program Files\Microsoft Policy Platform\policyHost.exe" /service`

[2017-10-31 08:12] EddyP23 commented on #32353
@sivel, I potentially see a few options here. The warning could be shown using higher verbosity level (and so, not being noise to most). Also, at higher verbosity, it could display all the variable values and those that won, some sort of a tree, wouldn't that be very useful for debugging?

Also, what about overriding variables at the same level? You can argue this is also a feature, isn't it most

[2017-10-31 08:37] jrosser commented on #32070
Note that this is after running the playbook a second time such that the tasks all succeed. Do you need me to try to recreate the error and give you the result at the point the task fails?

fbs0-b505-10# show interface Ethernet1/10 | json
{"TABLE_interface": {"ROW_interface": {"interface": "Ethernet1/10", "state": "down", "state_rsn_desc": "Link not connected", "admin_state": "up", "share_sta
te":

[2017-10-31 08:54] hwoarang opened #32375 "zypper_repository: Fails to import GPG keys when 'name' parameter is missing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zypper_repository module

##### ANSIBLE VERSION

[code]

However, this also affects the stable 2.3 release too

##### CONFIGURATION

##### OS / ENVIRONMENT
openSUSE Tumbleweed

##### SUMMARY
When using the `auto_import_keys` parameter in the zypper_repository module, the keys are not imported if the `name` parameter is not set

##### STEPS TO RE

[2017-10-31 09:13] karniemi commented on #13702
So according to @bcoca this is implemented, and hence ticket was closed. So ... how do we use the feature? Where's the doc?

[2017-10-31 09:35] emanuele-leopardi opened #32377 "Openssl_privatekey does not create an rsa key"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

openssl_privatekey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 17.04
##### SUMMARY

If using openssl_privatekey with TYPE RSA does not produce an RSA key

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

*.pem compliant with RSA.
[code]

##### ACTUAL RESULTS

the module completes without error b

[2017-10-31 09:45] karniemi opened #32379 "ansible delegates to previously failed node"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Controller: RHEL7.4
Hosts: RHEL7.4
##### SUMMARY

During playbook execution one of the hosts failed for "OSError: [Errno 32] Broken pipe". Ansible continues to execute the playbook for the other nodes. One of these later tasks for other hosts gets delegated to

[2017-10-31 09:49] robinro commented on #32375
The general issue is that the resulting name or URL of .repo files is unknown without actually downloading and parsing that file.

Because of that, I find the workaround to require a `name` acceptable. The documentation should be improved to reflect that. Feel free to open a PR.

I'm also open for a proper fix, but I don't see a solution without downloading the .repo file and parsing it. Doing so

[2017-10-31 10:02] dssdss commented on #32368
I have the same issue when I try to deploy Zabbix Agent service with the command line: "C:\Program Files\zabbix\zabbix_agentd.exe" --config "C:\Program Files\zabbix\zabbix_agentd.conf".

It is standard for Windows to use quotas, while using long folder of filenames in the path.

For example path to executable for the regular Microsoft service - MSSQLSERVER:
"E:\Program Files\Microsoft SQL Server\M

[2017-10-31 11:07] raynewstar opened #32380 "lost control rhel verion 5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708
##### SUMMARY

After upgrading to version 2.4, I lost control of the group by the servers which consists of the version Oracle Linux 5, RHEL 5, Centos 5.
Another version OS 6 and 7 I can control.
##### STEPS TO REPRODUCE

ansible 1

[2017-10-31 11:36] trishnaguha commented on #32070
@jrosser thanks for the response. Yes if you can reproduce the issue, result at the point when the task fails would be helpful.

[2017-10-31 11:46] jdani commented on #30599
I'm trying to solve this. Comments are welcome!

[2017-10-31 11:56] guenhter commented on #15753
Also happens with the most recent version `ansible 2.4.1.0`

This problem affects a lot of projects.
I just stumbled over this error in Kubernetes' Kuberstray
https://github.com/kubernetes-incubator/kubespray/blob/master/roles/kubernetes/preinstall/tasks/verify-settings.yml

I really looking forward, that this will be fixed because the workaround is annoying and error-prone.

[2017-10-31 12:09] jrosser commented on #32070
I did this:

default interface e1/1-16
no interface port-channel 1-16

Reran the playbook:

TASK [Ensure all layer 2 interfaces are up] **************************************************************************************************************
Tuesday 31 October 2017  11:49:56 +0000 (0:00:20.820)       0:00:59.569 *******
changed: [fbs0-b505-10] => (item={u'interface': u'Ethernet1/1', u'descrip

[2017-10-31 12:28] peteeckel opened #32383 "Ansible 2.4 does not find inventory file in CWD"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory plugin

##### ANSIBLE VERSION
    ansible 2.4.1.0
      config file = /Users/pete/.ansible.cfg
      configured module search path = [u'/Users/pete/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
      ansible python module location = /usr/local/Cellar/ansible/2.4.1.0/libexec/lib/python2.7/site- packages/ansible

[2017-10-31 12:34] jrosser commented on #32070
Again defaulting e1/1-16 and deleting Po1-16:

https://gist.github.com/jrosser/a9fbd9fba50e66b2efd41cf4a9867b73

This doesn't however look like the exception error that came up before.

[2017-10-31 12:39] guenhter opened #32384 "ignore_errors always ignore failures when variable is used to control it"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible-core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
`ansible-config dump --only-changed` returns nothing, but I just have a vanilla ansible.

##### OS / ENVIRONMENT

4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u5 (2017-09-19) x86_64 GNU/Linux

##### SUMMARY
When I use the 'ignore_errors' options on a task, this works if the boolean i

[2017-10-31 12:52] wvcardoso commented on #23663
I've the same problem with the version 2.4. Follow the mensage: ... "The name '<vm_name>' already exists." With the version 2.3, the same code works.

[2017-10-31 12:56] #30774 closed, assigned to nobody

[2017-10-31 13:00] planet-winter opened #32385 "portinstall module: make_args parameter"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - portinstall_module
 - documentation:  http://docs.ansible.com/ansible/latest/portinstall_module.html

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_SSH_ARGS(/home/daniel/devel/waterproof/ansible/plays/ansible.cfg) = -o ForwardAgent=yes -o ControlPersist=60s
DEFAULT_ASK_PASS(/home/daniel/devel/waterproof/ansible/plays/ansible.cfg

[2017-10-31 13:21] inittab opened #32386 "debconf passwords get sent to syslog"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
debconf module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian unstable/sid

##### SUMMARY

Using debconf module to preseed some passwords will log the passwords to syslog:
Oct 31 14:01:57 fgps01 ansible-debconf: Invoked with unseen=None vtype=password
                     question=tripwire/site-passphrase na

[2017-10-31 13:26] karniemi commented on #22087
It would have been nice if the difference and use case between ANSIBLE_DEBUG and ANSIBLE_VERBOSITY was documented? Now both of these variables control the ansible log verbosity somehow, but the user has no idea why there are two different configuration variables... if he by chance happens to even notice that there are two different variables...

[2017-10-31 13:38] moetemad commented on #17532
I encounter this issue once ansible is running for a while, it is like the ssh session expires or something along this line.

[2017-10-31 14:07] TroyDodsworth opened #32387 "Softlayer sl_vm.py uses a hard coded list of data centers"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
cloud/softlayer/sl_vm.py

##### ANSIBLE VERSION
2.3.2
##### CONFIGURATION
##### SUMMARY
Trying to use this module to provision node on the wdc06 Softlayer data center produces the following error:
value of datacenter must be one of: ams01,ams03,che01,dal01,dal05,dal06,dal09,dal10,fra02,hkg02,hou02,lon02,mel01,mex01,mil01,mon01,osl01,par01,sjc01,s