[2018-07-03 23:15] bcoca commented on #31268
the same variable overrides the 'same variable', ansible_ssh_user > ansible_user, so if you define ansilble_user ANYWHERE it will still prefer ansible_ssh_user.

To do what you want, you need  2 occurrences of the same, as extras > inventory, but it must be the same var (ansible_user vs ansible_user and ansible_ssh_user vs ansible_ssh_user)

If you mix and match it can get confusing.

[2018-07-03 23:37] xoxys commented on #22737
Any news? Does not work in ansible 2.5.5. If you use delegate_to and try to load ansible_become_pass from vault file in group_vars the task failed. Using inline encrypted vault works...

[2018-07-03 23:44] BarbzYHOOL commented on #31268
hmm maybe, i'll need to retry (but now i moved on to something else, too many issues lol)

but this could still be improved no? since one var is equal to the other

[2018-07-04 01:26] #30701 closed, assigned to nobody

[2018-07-04 01:44] kbreit commented on #41893
Note: Out of boredom and curiosity I created a proof of concept for this and it seemed to significantly speed up execution for multiple steps. A nested dictionary would likely become the default way to pass parameters so it would be a significant amount of work for any existing (ha ha) playbooks and for modules. This is a future task though.

[2018-07-04 01:47] ptux commented on #42198
@arxcruz

in this case, you should use `remote_src=yes`.

[2018-07-04 02:02] eoprede commented on #19833
@jifox You are referencing a different module in a closed issue. Your best bet is to create a new issue for the ios_config module.

[2018-07-04 04:32] willthames commented on #41168
needs_info

[2018-07-04 04:34] #41848 closed, assigned to nobody

[2018-07-04 04:47] #42269 closed, assigned to nobody

[2018-07-04 05:06] Akasurde commented on #42066
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-07-04 05:06] #42066 closed, assigned to nobody

[2018-07-04 05:08] sayantandas commented on #42195
Here is the error

[code]

[2018-07-04 06:11] ganeshrn commented on #36284
Ansible uses [ncclient](https://github.com/ncclient/ncclient) library to create Netconf session with remote host, the creation of socket with jumphost is handled in ncclient and as ncclient expects the jumphost setting to be present in ~/.ssh/config hence the limitation.

Alternatively you can set `ANSIBLE_NETCONF_SSH_CONFIG` to custom ssh config file path, but for this to work you need to apply t

[2018-07-04 06:31] sayantandas commented on #42195
Hi @Akasurde , I added the vmware.py from the above PR into module_utils folder of the role I created and ran the playbook. after running, I get the error I posted above. Looks like ansible is not picking up the changed file.
What is the best place to keep the file?

[2018-07-04 06:40] Akasurde commented on #42195
Can you ping me on #ansible-vmware channel at irc.freenode.net ?

[2018-07-04 06:46] kellervater opened #42292 "Assign AWS Cloudwatch Metric Filter via Ansible"
##### SUMMARY

In Ansible I can create Cloudwatch log groups via the module cloudwatchlogs_log_group.

But I can't figure out if there's any module (or option in the above mentioned module) to create a metric filter.

My use-case is to create a metric filter which creates datapoints for each exception which will rise in my application.
Furthermore I've created an alarm to get notified if this metr

[2018-07-04 06:53] jmartensson opened #42293 "Passed role variables does get overwritten by role variables"
##### SUMMARY

Role variables passed in from playbook get overwritten by variables defined in role after execution.
The variable gets overridden and works great in role, but not after

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7

##### STEPS TO REPRODUCE

playbook.yml
[code]

roles/vartest/defaults/main.ym

[2018-07-04 07:01] trishnaguha commented on #42263
resolved_by_pr https://github.com/ansible/ansible/pull/42288

[2018-07-04 07:05] #42263 closed, assigned to nobody

[2018-07-04 07:05] RemcoKomduurDUO commented on #33284
Hi,

Just tested this code but it doesn't work for us.

We have standard port groups and vds port groups behind 1 vds. The port group names in both are the same. After clone from template the standard port group name is used instead of the vds one. The standard ones aren't used at the moment so the network isn't connected.

We would like the option added to force the vds by being able to add it as

[2018-07-04 07:28] kassiansun commented on #42274
Oh, there's a blocking #40839 on `init` option compatibility issue. Can you upgrade `docker-py` on remote machine, or patch `ansible` manually per #40839 ?

[2018-07-04 07:31] trishnaguha commented on #42264
@colin-mccarthy Can you please upgrade your Ansible version to 2.5.5 and give it a try?
It works for me on 2.5, 2.6 and devel branch.

[2018-07-04 07:34] alex-left commented on #17935
reading the debug output with more attention, I think I discovered the problem, the module seems don't expand well the home or have some problem in the path generation:

reading the debug output with more attencion a I think I was discovered the problem, the module seems don't expand well the home or haves some problem in the path generation:

```chmod: cannot access '~mradmin/.ansible/tmp/ansible

[2018-07-04 07:54] jOOc commented on #42293
Possible duplicate of #21890

It works as expected if I add this in the end of the role, roles/vartest/tasks/main.yml
[code]

[2018-07-04 07:54] sayantandas opened #42294 "win_reboot fails when windows VM hostname is changed"
##### SUMMARY

When you change the hostname of the VM prior to reboot, win_reboot cannot connect back and reports timeout.
RDP works just fine with IP/DNS name
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_reboot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

**Ansible Server:** Ubuntu 16.04.3 LTS
**Target Machine:** Windows Server 2012 R2

##### S

[2018-07-04 08:13] liqingkai2017 opened #42296 "return message for device 2000+ letters, ansible network module only return the last 256 letters"
##### SUMMARY

when using the network module, we send command with a long response,then the problem happened,it seems that it only return last 256 letters.I tried to debug,and it seems in connection.py
      data_len = struct.unpack('!Q', data[:header_len])[0]
this code it actually get the message length 256
      and then the code writes like below
       d = s.recv(data_len - len(data))
 our ret

[2018-07-04 08:33] thnee commented on #42238
The machine has 1 GB of RAM in total, it is running no heavy programs, just system daemons with no load, and it looks like it has at least a few hundred MB free.

The venv was created in a completely standard way, just like this:

[code]

[2018-07-04 08:34] krathow commented on #42241
tested with Ansible 2.6, there it works fine, thanks!

[2018-07-04 08:34] #42241 closed, assigned to nobody

[2018-07-04 08:42] joekenj commented on #38201
Could you provide example on using launch_template.id. I think docs are off, in official documentation is stated that "The EC2 launch template to base instance configuration on." however if I use this option it will loop through my instances built on the template id - and not build a new instances as stated in documentation.

[2018-07-04 08:44] wimnat commented on #42278
Do you mean ipv4 or dualstack?

[2018-07-04 09:46] sveinou opened #42298 "Unable to use the junos_facts module with netconf connection"
##### SUMMARY
Unable to use the junos_facts module with netconf connection.

Works fine when used with the old local connection and provider variable.

other junos_* modules seems to be working fine with netconf.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

junos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/sveinov/ansible/ansible.cfg) = [u'/home/sve

[2018-07-04 09:48] pritho opened #42299 "k8s module does not respect environment variables"
##### SUMMARY

k8s module does not respect environment variables
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

k8s
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

both tasks should work fine
##### ACTUAL RESULTS

[code]

[2018-07-04 10:33] martbhell commented on #42117
I also get the same error in our CI testing:  https://travis-ci.org/CSCfi/ansible-role-rally-scenarios/builds/399898168#L3715

[2018-07-04 11:07] agronholm commented on #42258
docker_volume does not add any new dependencies to what the previous docker modules had. It should work with both old and new docker libraries.

[2018-07-04 11:23] oolongbrothers commented on #41996
When I fix this, I want the module to have integration tests, so that we know if the functionality breaks later-on. Not having integration tests on the module was technical debt from the original module PR. To address this, I opened PR https://github.com/ansible/ansible/pull/42169 that adds integration test coverage of the existing module functionality.

I am working in this issue at hand locally,

[2018-07-04 11:26] zasca opened #42301 "loop_control.label with include_tasks"
##### SUMMARY

When `loop` module used with `include_tasks`, ansible print out full paths of included tasks only.
Assignment `loop_control.label` does not affect.

Labels listing may be very useful in some cases:
 - Deploy running in one-step-at-a-time mode and the contents of the list are unexpected.
 - Troubleshooting post deploy issues.
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

Un

[2018-07-04 11:39] ruromero opened #42302 "In k8s module ReplicationControllers are not removed when removing DeploymentConfig"
##### SUMMARY
When using k8s module to deprovision a DeploymentConfig, the associated ReplicationControllers are not removed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
docker.io/ansibleplaybookbundle/apb-base   canary    d11e0960e7d4

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

##

[2018-07-04 11:51] krathow commented on #38722
With Ansible 2.6 using it in this way works:
 - name: Create/Rename project with Quotas, Limitranges and Builder Secret
    k8s:
      api_key: "{{ lookup('env','K8S_AUTH_API_KEY') }}"
      verify_ssl: "{{ verify_ssl }}"
      ssl_ca_cert: "/etc/pki/tls/certs/ca-bundle.crt"
      state: "{{ desired_state }}"

But without parameter ssl_ca_cert, it doesn't make use of the global CA certificate

[2018-07-04 11:55] Ompragash opened #42303 "Need offline documentation for Ansible"
##### SUMMARY

Need offline documentation for Ansible.

##### ISSUE TYPE

 - Feature Idea

##### ANSIBLE VERSION

[code]

[2018-07-04 11:56] fabianvf commented on #42299
I think this is a duplicate of https://github.com/ansible/ansible/issues/42193

[2018-07-04 12:17] dagwieers commented on #39222
So I don't know how to reproduce this. If you think this is fixed, feel free to close the ticket. I can always open it again if it happens again.

[2018-07-04 12:29] krathow commented on #42299
yes, absolutely, will close this issue

[2018-07-04 12:29] #42299 closed, assigned to nobody

[2018-07-04 13:35] teissler commented on #29331
The workaround with **become** has the issue that the task will always change and re-add the same keys with every run which can heavily increase the size of the known_hosts file.

[2018-07-04 13:40] DilrajSK commented on #42161
I am facing the same issue

[2018-07-04 13:40] justjais commented on #42181
@jguirlinger Thank you for logging your observation, but it seems similar to the issue reported in #29577. Kindly go through the same and let me know if you need further clarification.

For now, I'll go ahead and close the bug.

[2018-07-04 13:40] #42181 closed, assigned to nobody

[2018-07-04 13:44] drzraf commented on #13243
Worth mentioning that it works with executable too, which is great (but still undocumented):
`tree inventory/`
[code]

It add the below 3rd option:
1. `ansible-inventory --list  --vault-password-file=vault.sh '!preprod'`
2. `ansible-inventory --list  --vault-password-file=vault.sh --vault-password-file=vault-preprod.sh`
3. Set `vault_identity_list = ./vault.sh,./vault-preprod.sh` and use `ansible-

[2018-07-04 13:50] zevarito commented on #42274
@kassiansun  which version exactly should I upgrade `docker-py`?

I've upgraded to `1.10.6` which is the latest available on my remote host through `pip` and it worked, but as soon as I checkout Ansible `v2.6.0rc5` branch instead of `devel` and tried again it didn't work, so I went back with `devel` and tried again from there but it doesn't worked anymore and fail with the  same error.

Should I c

[2018-07-04 13:51] ganeshrn commented on #42296
Please provide ios version and the playbook you are running
needs_info

[2018-07-04 14:01] k-c-p opened #42309 "restart of sysvinit service "metricbeat" fails in Ansible 2.6.0"
##### SUMMARY
After upgrading from Ansible 2.5.5 to 2.6.0 code to restart the `metricbeat` service on a Debian Wheezy using the `service` module (which delegates it to the new `sysvinit` module), did not work any more.

Sidenote: I have several services (`execbeat`, `metricbeat`) that are affected by this, while others (e.g. `ntp`) are not. So far, I hove not figured why some work and others do no

[2018-07-04 14:12] kowalskey opened #42310 "`firewalld` module fails to create new zone on Ubuntu 16.04"
##### SUMMARY

`firewalld` module fails to create zone on Ubuntu 16.04 host

Little note: commands supplied below set `ansible_interpreter_version` because `firewalld` package on Ubuntu contains only Python3 bindings. This may or may not have impact on the issue

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`firewalld`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRO

[2018-07-04 14:16] kowalskey commented on #42310
I confirmed that FirewallClientConfig  does not have method/attribute getZoneNames (maybe python3 bindings are too old in Ubuntu ? :thinking: )

[2018-07-04 14:19] zevarito commented on #42274
@kassiansun same result after merge `pilou-:docker_container_init_check_requirements` into devel.

[2018-07-04 14:29] gundalow commented on #42303
@Ompragash You can do `make webdocs` in the root of the Ansible checkout to generate this.

[2018-07-04 14:33] dmurarasu opened #42311 "nxos_interface mode parameter not idempotent for port-channels"
##### SUMMARY
When using nxos_interface if you specify the "mode" parameter this returns changed every time and tries to adds "switchport" command (when mode layer2) or "no switchport" command(when mode layer3) on port-channel interfaces even if this has been already configured.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_interface
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2018-07-04 14:34] guillemsola commented on #42294
Still not sure but something may be happening to me with 2.6 and a recently promoted machine to DC that needs a reboot.

[code]

[2018-07-04 14:39] albix commented on #42162
When I switch to `docker` instead of `docker-py` the `docker_login` module complains about the missing `docker-py` package. Nevertheless `docker_container` works

[code]

[2018-07-04 14:48] gundalow commented on #42303
Hi,
I've spoken to some other people to get more info.

We used to create an `ansible-docs` RPM, though this wasn't ever made available upstream. For various technical and non-technical reasons this has been deprecated.

If you need offline docs, you can build them by doing `make webdocs` and browsing to `docs/docsite/_build/html/` which is how `docs.ansible.com/ansible/$VERSION` is built.

Theref

[2018-07-04 14:48] #42303 closed, assigned to nobody

[2018-07-04 15:15] kbreit commented on #42174
Fixed in stable-2.6 branch. Should be in 2.6.1.

[2018-07-04 15:15] #42174 closed, assigned to nobody

[2018-07-04 15:20] helldorado commented on #39519
notabug and close_me cf my last comment.

[2018-07-04 15:24] #39519 closed, assigned to nobody

[2018-07-04 15:32] disappear89 commented on #22025
I am using the following workaround:

`- hosts: localhost
  gather_facts: false
  tasks:
	- set_fact:
		variable_override: "override_value"
	- debug: msg="{{variable_override|default(variable)}}"
`

Where "variable" could be the role default variable.

[2018-07-04 15:40] Akasurde commented on #35942
resolved_by_pr #42275

[2018-07-04 15:42] techraf commented on #42152
Yes. I checked that and definitely this is not the case.

Moreover if it was the case:

- There should be no difference between Ansible 2.5.5 and 2.6.0.
- The problem is sheer presence of `localhost` in the inventory - adding/removing this line does not change the environment.

[2018-07-04 15:44] helldorado commented on #32832
close_me

[2018-07-04 15:52] #32832 closed, assigned to nobody

[2018-07-04 15:52] BarbzYHOOL commented on #23675
not sure if related but if you try to evaluate if a variable is defined inside a jinja {{ 'blabla' if var is defined }} and the variable 'var' has a default value with the "| default('value')" filter, then it's considered undefined (2.6 ansible)

@bcoca

[2018-07-04 16:02] hichon78 opened #42314 "digital_ocean_domain module - Failing to delete domain record"
##### SUMMARY
'digital_ocean_domain' module is not removing the domain record. The task is returning "Domain not found".

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- digital_ocean_domain

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
No Changes

##### OS / ENVIRONMENT
Ansible executed from MAC OS X Sierra

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
test.tech domain record

[2018-07-04 16:38] techjohngit commented on #42161
i manage resolve the issue by using "connection: local"  in playbook

[2018-07-04 16:44] rrey opened #42317 "grafana_annotations callback: cannot disable cert validation"
##### SUMMARY
with `validate_grafana_certs = false` in ansible.cfg inside callback_grafana_annotations section, the validation is still performed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
grafana_annotations

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT
macOS

##### STEPS TO REPRODUCE

Run any playbook with the following setion in ansible.cfg

[cod

[2018-07-04 16:46] rrey commented on #42317
The `validate_grafana_certs` parameter is not typed as a `bool` in the DOCUMENTATION yaml.

[2018-07-04 17:05] yeroc commented on #34457
It sure would be great to get the PR merged.

[2018-07-04 17:16] insideClaw commented on #31504
Problem confirmed in 2.5.2. A task with a restart service handler fails when the following task (that requires the service to have finished restarting) fails. In other words, task #2 fails because task #1 completes even though the handler it invokes hasn't finished.

[2018-07-04 18:18] zevarito commented on #42274
I'll close this since after merging the #40004, removed docker-py and installed docker 3.4.1 and also clean not revisioned files at lib/ansible/modules/core/ and lib/ansible/modules/extras/ everything went ok. Thanks @kassiansun.

[2018-07-04 18:18] #42274 closed, assigned to nobody

[2018-07-04 19:42] dangoscomb opened #42322 "nmcli modify_connection_vlan() function seems broken"
##### SUMMARY

The code in the above function generates an invalid nmcli command.

The code is still the same in devel, as below. As you can see, 'con-name' should not be specified for a connection modification, and also nowhere in this function is the name of the connection actually put in to the command (so it will never work).

Produced command (caught in strace, not complete):
[code]

Code:
[c

[2018-07-04 20:02] gundalow commented on #42303
Also, in case you were not aware you have `man` pages for the command line tools

As well as `ansible-doc` for modules and plugins, see https://docs.ansible.com/ansible/latest/cli/ansible-doc.html

[2018-07-04 20:11] gerhard-tinned commented on #32832
What is going on??? Is it fixed or just closed???

[2018-07-04 20:19] helldorado commented on #32832
Hi @gerhard-tinned i can't reproduce this issue. I have test on many configuration and vm creation is OK. If this bug is still relevant on your side and you have a solution, a PR will be welcome. I bring some fix this afternoon, cf #42313

[2018-07-04 20:31] gerhard-tinned commented on #32832
What the Fuck?? Why ,didn't you ask if you need anything??? I have post so many information already, how hard can it be to ask for what you need???

I love Ansible but honestly the Community is crap. Anyway, back to the problem at hand.

It seems as if the host that runs Ansible needs to be RHEL/CentOS 6 which runs a quite aged Python version which does not support the way the module is written. M

[2018-07-04 21:15] gundalow commented on #32832
@gerhard-tinned I'd invite you to read https://docs.ansible.com/ansible/latest/community/code_of_conduct.html and offer you the chance to edit your above comment to remove/reword the first two paragraphs, which have no place in the Ansible Community.

Please be aware that:
* As someone that's posted in GitHub, you are part of this Community, so you are including yourself in the defamatory statemen

[2018-07-04 21:18] jborean93 commented on #41894
@nkrishnakishor as I said in the previous reply, win_updates is using the interface Microsoft has designed for that task. If the code I gave you in the example did not return any updates then you can't expect Ansible (which uses the same interface) to do the same. You would need to find out why those particular hosts' cache is not correct and the WUAPI not detecting that the updates are available.

[2018-07-04 21:31] jborean93 commented on #42096
The win_updates module uses the COM interface exposes by Microsoft to achieve it's task. There are a few reasons why it may not appear, such as;

* The uninstalled update is not classified under the categories you specified as part of your task
* The uninstalled update is still appearing as installed in the WUA cache

I have run through this scenario just now (with KB4284815) and was not able to r

[2018-07-04 21:33] jborean93 commented on #41865
@strawgate 2.6.0 has been released and includes the changes I made. Are you able to test out your environment against this version to verify it no longer occurs?

[2018-07-04 22:17] saleemrashid commented on #42117
Using `--become --become-user=<user>` on the command-line hits this issue with `ansible-playbook 2.6.0`

[2018-07-04 22:43] willthames commented on #40724
Thanks @kenwdelong - that's interesting, it might be enough then to simply ensure that the FieldLevelEncryptionId is not stripped if it is returned.

If I create a second version that attempts this behaviour, can anyone test this for me?

[2018-07-04 22:55] willthames commented on #40724
https://github.com/ansible/ansible/commit/501a8c4d78af5ab5369350b96b996b487dc00a17 is an alternative implementation that should work based on the new information from @kenwdelong

[2018-07-04 23:43] szponek commented on #42104
Same here.  In my case, when I change my rules, I need to remove the last rule I have through the portal and then re-run my playbooks for any of my changes to be applied.

[2018-07-05 00:10] bmamouri opened #42324 "In elb_target_group_module specifying wait without specifying wait_timeout raise TypeError"
##### SUMMARY
Same as title. Also, the [document](https://docs.ansible.com/ansible/2.5/modules/elb_target_group_module.html) for that module does not list the `wait` and `wait_timeout` in the module properties!

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elb_target_group_module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

[

[2018-07-05 00:32] bmamouri commented on #42324
Even when I specify both `wait` and `wait_timout` the module fails with a vague error:

[code]

[2018-07-05 01:12] DilrajSK commented on #42161
Great. Worked for me as well. But any idea how to include this in the ansible configuration file so that I don't have to write that in every playbook? I am using "ansible_connection=local" in my ansible.cfg file but that doesn't seem to be working,

[2018-07-05 01:12] jamrok commented on #42173
Hi @bcoca,

Thanks for looking into this.

I understand the need to use UNREACHABLE at times, but from my checks the ssh connection plugin needs to be re-evaluated as 2.6.0 is introducing a problem that did not exist previously and it hasn't been fixed in 2.7.0.dev0.

You are exactly right about the 'FAILED' message; the module could not perform the task due to the password being incorrect in my c

[2018-07-05 01:47] liqingkai2017 commented on #42296
@ganeshrn  with local connection,the device is not the ios but is the huawei router NE40E-X16 with Version V800R010C10,commands is "system-view,load configuration file AGG1.cfg merge".we are developing our network module for huawei router,and we got the problem.AS I use ios_command or ce_command to send the same commands ,it got the same problem.
And I think as sending commands to device there is

[2018-07-05 02:05] kbreit opened #42327 "meraki_mx_l3_firewall - Needs example and response documentation"
##### SUMMARY
The forthcoming `meraki_mx_l3_firewall` module needs response and examples.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
meraki_mx_l3_firewall

##### ANSIBLE VERSION

[code]

[2018-07-05 02:32] Fred-sun commented on #42104
Same here, you can remove the last rule defined  and re-run playbook for create any new rule apply to change the purge_rules.

[2018-07-05 02:37] Akasurde commented on #40652
@kizz1337 Can you please confirm that the above fix works for you ? so that we can mark this issue as resolved. Thanks.

needs_info

[2018-07-05 03:00] gundalow commented on #42292
@willricardo I believe you've worked on similar, any ideas?

[2018-07-05 03:11] jborean93 commented on #41713
@avishefi thanks for your PR, I've had to incorporate your changes into https://github.com/ansible/ansible/pull/42330 which fixes a few other breaking issues added just before the 2.6 release.

It would be great if you could test that out and make sure it works in your scenario. I added a basic test to try and replicate what is happening but it isn't exactly the same.

[2018-07-05 03:13] jborean93 commented on #42185
@Wenzel looks like win_reboot is broken altogether in devel and 2.6 due to https://github.com/ansible/ansible/pull/41740. I've raised a PR https://github.com/ansible/ansible/issues/41713 that should fix this for you but I am hoping you can test it out and post your results to help with the review.

[2018-07-05 03:13] kbreit opened #42331 "meraki_config_template should accept net_id"
##### SUMMARY
`meraki_config_template` accepts net_id and org_id but doesn't do anything with it. It should handle both parameters properly.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
meraki_config_template

##### ANSIBLE VERSION
[code]

[2018-07-05 03:14] jborean93 commented on #42294
@sayantandas @guillemsola it looks like win_reboot is broken altogether in 2.6/devel. The change https://github.com/ansible/ansible/pull/41740 to fix another issue broke that and we didn't have good enough tests to pick it up.

I've opened a PR https://github.com/ansible/ansible/pull/42330 to fix this issue as well as increase the test coverage so hopefully this doesn't happen again in the future.

[2018-07-05 03:21] kbreit opened #42333 "Meraki modules should accept configuration template as name"
##### SUMMARY
Configuration templates are used the same way as networks. The `net_name` parameter specifies a network name but it should also be able to accept a configuration template.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
meraki

##### ANSIBLE VERSION

[code]

[2018-07-05 03:45] Akasurde commented on #42317
resolved_by_pr #42318

[2018-07-05 04:16] jborean93 commented on #42117
There were a few different changes to the logic when it comes to tmp paths in 2.6 to try and unify things so it is hard to track down a specific one that playing up. Using the example from OP it is using the tmp path `/var/tmp/ansible-tmp-1530284729.8027158-165959401230807/tmpoLo29x`  which tells me that

* `/var/tmp/` is the default system tmp path as defined at https://github.com/ansible/ansible

[2018-07-05 04:47] sayantandas commented on #42195
@Akasurde , i've logged into irc. I want to know how I can make this particular role use the new vmware.py . it looks as if the playbooks are using older vmware.py from somewhere else.

[2018-07-05 05:49] #42317 closed, assigned to nobody

[2018-07-05 05:53] jborean93 commented on #42327
@kbreit is there a reason why you opened an issue for this? If the module is in development and not actually released/merged into devel yet then this is a bit redundant.

I might be missing something here just wanted to check before closing the issue.

[2018-07-05 05:54] gariels opened #42334 "Unable to import_tasks within include_tasks"
##### SUMMARY
Role  that use include_tasks to import dynamic tasks file (eg. `{{ ansible_distribution }}-{{ ansible_distribution_version }}/main.yml`) is unable to use import_tasks to other file within its sub-directory.

In my case I have role that differentiate tasks based on distribution version, so the `main.yml` of the tasks folder have something like this:

[code]

Where inside, for example,

[2018-07-05 06:17] ganeshrn commented on #42298
`gather_subset: all` with gather old style facts that will not have `ansible_` prefix to fact keys.
If you don't want old style fact you set gather_subset to
[code]

In case you want to fetch old style facts which uses [junos_eznc library](https://github.com/Juniper/py-junos-eznc) to fetch facts internally you need to set `provider` option within task
[code]

This behaviour needs to be documented

[2018-07-05 06:58] gerhard-tinned commented on #32832
Is this rewording better/acceptable or do I need to remove more?

[2018-07-05 07:13] gerhard-tinned commented on #32832
@gundalow Thanks for pointing out things which I have not recently criticized like the "no one cares" comment. Even doe this message might have been a little early for this thread, ... I am still correct about it, right?

The main reason of my recent complaint is the way tickets (in general) atre treated in the ansible community. I have reported multiple issues only to see that after months and mo

[2018-07-05 07:29] sveinou commented on #42298
Nice, thanks.

[2018-07-05 07:36] ganeshrn commented on #42298
With the referenced fix you can use it with `connection=netconf` and enable or disable fetching old style facts using
Enable:
[code]
gather_subsets: "!ofacts"
[code]

[2018-07-05 07:39] ganeshrn commented on #42298
@sveinou Can you please test with the referenced patch?

[2018-07-05 07:56] murican commented on #39116
Ansible 2.5.5 on RHEL 7.4:
[code]
It finds automatically :
[code]
So i think in your case this is more related to the datadog-agent service set up?

[2018-07-05 08:07] minac commented on #39116
As @haxorof and @geerlingguy contributed. I don't think this is package specific, it seems to be a systemd <> ansible issue, @murican.

[2018-07-05 08:11] kcd83 commented on #39116
I agree in that it is both odd that some packages are unaffected, but ansible is incorrectly detecting enabled when not enabled.

Also ansible successfully disables services so it must be an ansible issue

[2018-07-05 08:14] Rashu- commented on #36802
would be good to also have:
- "delay restore" with option to set specific value in seconds
- the same for "auto-recovery reload delay" and set specific value in seconds
- "ip arp synchronize" enable/disable option

[2018-07-05 08:17] agrisvv opened #42338 "StartTLS is not offered mail"
##### SUMMARY
Notification module Mail not sending mails.
with 2.5.5 was ok.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
!component =lib/ansible/modules/notification/mail.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
centos-release-7-5.1804.el7.centos.2.x86_64

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Mail sent successfully

##### ACTUAL RE

[2018-07-05 08:24] sveinou commented on #42298
Works!

I can now get ofacts with provider without changing the connection type for the play. And i can drop the ofacts and provider to only get the new ones.

[2018-07-05 08:36] MaxKh opened #42340 "Regression? - cannot retry ios task in the case of connection error"
##### SUMMARY
ios_command tasks cannot be retried in the case of connection errors since Ansbile 2.5

I have the following playbook to make sure that Cisco IOS is available and ready for configuration provisioning:
[code]

It works as expected with **Ansible 2.4.5.0** - retries are used

[code]

But with **Ansible 2.5.5 and 2.6.0** the connection time-out error is raised and no retries are perform

[2018-07-05 08:49] gerhard-tinned commented on #32832
Thanks for referencing the commit. :+1:

[2018-07-05 08:50] sa-lr opened #42341 "POSIX socket support in uri module"
##### SUMMARY

Having the ability to connect to a POSIX socket in the uri module (similar to cURL's `--unix-socket /path/to/socket http:/some/request/path`) would be very useful for socket-based REST APIs, e.g. Docker's (which exposes its API via `/var/run/docker.sock`).

The addition of a `unix-socket` param. and the same syntax as cURL's for the URL (no double slash) would keep things simple.

#

[2018-07-05 08:54] dungdm93 opened #42342 "mysql_user error when ansible_python_interpreter=python3"
##### SUMMARY
As you know, from Ubuntu 16.04.4 and Ubuntu 18.04, python3 is only default python interpreter.
And I get bellow error while using mysql_user module with `ansible_python_interpreter=/usr/bin/python3`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
- Control machine:
[code]
- Target mach

[2018-07-05 09:03] ganeshrn commented on #42298
Thanks for confirmation

[2018-07-05 09:03] user140547 opened #42344 "no_log: true hides localhost delegation"
##### SUMMARY

When using a task with `delegate_to: localhost` and `no_log: true`, the log output does not indicate a local action is performed. Instead of
[code]
[code]
Which seems to indicate no delegation happened. In my real program, I used other hosts then 127.0.0.1 but the issue is the same

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURAT

[2018-07-05 09:28] #42198 closed, assigned to nobody

[2018-07-05 09:28] Infineight commented on #41243
Confirmed that this is not an issue on:
Ubuntu 16.04.4 LTS
[code]

[2018-07-05 09:31] yuwzho commented on #42215
Yes your are right, currently the LB doesn't support update, we will look for bandwidth to add such support

[2018-07-05 09:57] monchitos82 commented on #42074
I tried the same using a `.pem` file and connecting to an ec2 instance as the `ec2-user`.
I moved the arguments `-u` and `--private-key` to the **inventory**:

[code]

The results are pretty much the same:
[code]
Did you succeed after reviewing your settings?

[2018-07-05 10:13] guillemsola commented on #42294
@jborean93 I can tests it. Besides I understand that what is broken is any win_reboot as per other deploy scripts I have.  Do we nee tp change issue title?

[2018-07-05 10:30] dagwieers commented on #42338
The change that is likely to have caused this regression is this: #37098
As you can see one of our concerns was that we have no integration tests.
Feel free to review that PR and propose a fix.

cc @bcoca

[2018-07-05 10:32] dagwieers commented on #42338
Looking at the PR you can see that for `secure=starttls` it will attempt to do an SSL connection.
So that's the issue.

[2018-07-05 10:37] dagwieers commented on #42338
@agrisvv In the first traceback I don't see an exception being raised. The fix could be as simple as catching that specific exception and continuing to the starttls attempt.

[2018-07-05 10:47] #39039 closed, assigned to rcarrillocruz

[2018-07-05 10:53] jborean93 commented on #42294
You can if you like, from what I can see win_reboot in general is broken in 2.6 and devel.

[2018-07-05 11:23] #41165 closed, assigned to justjais

[2018-07-05 11:29] Infineight commented on #41243
I've figured out the issue.
Ansible seems to be tying the group variables to the host under that group, rather than the group the host is under. So if a host is used in multiple groups in your host file, ansible will associate the latest variable with that host.

Not sure if this is a bug or intended behaviour.
Confirmed that it still exists on Ansible version 2.6.0

[code]
`ansible-inventory --ho

[2018-07-05 11:40] Infineight commented on #41243
Yup, that was a typo. Double checked on my machine that what I'm claiming is a real thing and I've updated my post to remove the typo now. Thanks for letting me know.

[2018-07-05 11:49] jborean93 commented on #41243
Is the IP of the different hosts the same?

[2018-07-05 11:52] blair3000 commented on #42011
I finished up testing and appears that fixed the issue.

Thanks ...

[2018-07-05 11:53] dmurarasu opened #42348 "nxos_linkagg mode issues"
##### SUMMARY

If you run the module and configure mode active it configures the device with that channel-group mode. Then let's say you change the vars to mode passive, the task runs and it doesn't detect that anything changed. It is the same the other way around if you start with passive then change var to active.
If you try on the device to change directly without first removing the channel-gro

[2018-07-05 11:54] jurgeng74 commented on #41957
Thanks for digging in.
I did a capture of the HTTP traffic between ansible and the zabbix server for this specific task.
I see two post requests: one to log in and the second to retrieve the templates.

First post request:
[code]
Second POST request:
[code]
I think in the second post request something goes wrong as the value of the host seems to be the template name?

[2018-07-05 11:55] Infineight commented on #41243
That's correct.

This is fine
[code]
`ansible-inventory --host=host`
[code]

On this the variables are overwritten for host with the values from other-host
[code]
`ansible-inventory --host=host`
[code]

[2018-07-05 12:00] kbreit commented on #42327
More as a todo list, but that’s cool. I’ll close.

[2018-07-05 12:00] #42327 closed, assigned to nobody

[2018-07-05 12:03] draganrakita commented on #42179
Same problem.
[code]
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: KeyError: 'Filter'
fatal: [localhost]: FAILED! => {"changed": false, "module_stderr": "Traceback (most recent call last):\n  File \"/tmp/ansible_uc1y_o/ansible_module_s3_lifecycle.py\", line 498, in <module>\n    main()\n  File \"/tmp/ansible_uc1y_o/ansible_module_s3_lifecycle.py\"

[2018-07-05 12:04] rakitadragan commented on #42179
Same problem.
[code]
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: KeyError: 'Filter'
fatal: [localhost]: FAILED! => {"changed": false, "module_stderr": "Traceback (most recent call last):\n  File \"/tmp/ansible_uc1y_o/ansible_module_s3_lifecycle.py\", line 498, in <module>\n    main()\n  File \"/tmp/ansible_uc1y_o/ansible_module_s3_lifecycle.py\"

[2018-07-05 12:06] saargrin opened #42349 "linked_clone property doesnt affect the deployment of VMs from template"
##### SUMMARY
linked_clone property doesnt affect the deployment of VMs from template

below configuration sample, but the VM is being actually copied on disk rather than being a clone
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/rundeck/ansible/hosts']
DEFAULT_ROLES

[2018-07-05 12:16] AmShaegar13 commented on #42117
@jborean93

[code]

[2018-07-05 12:48] gyurco commented on #34153
https://github.com/ansible/ansible/pull/42350

Created pull request

[2018-07-05 12:51] #42298 closed, assigned to justjais

[2018-07-05 12:53] justjais commented on #42298
Fixed in PR #42336, queued for 2.7 future release.

[2018-07-05 12:53] es1o commented on #42236
I checked and when I use ignore_errors: yes in roles: it works:
This example works as expected.
[code]

[2018-07-05 13:00] justjais commented on #41657
@DanSheps Thank you for logging your observation, the issue is resolved in PR #42312 and merged in `devel` and cherry-picked to `2.6` branch. Queued for the future release.
So, closing the bug.

[2018-07-05 13:00] #41657 closed, assigned to justjais

[2018-07-05 13:09] #17939 closed, assigned to nobody

[2018-07-05 13:30] petarGitNik commented on #42342
Did you install `python3-mysqldb`?

[2018-07-05 13:31] apollo13 opened #42352 "Unable to use `when:` against a string variable"
##### SUMMARY
Using `when: some_variable` results in an error

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

No Error

##### ACTUAL RESULTS
[code]

/cc @agaffney

[2018-07-05 13:49] akamac commented on #5463
+1

[2018-07-05 13:55] jctanner commented on #41717
@dustinblack any updates?

[2018-07-05 13:56] fthommen opened #42353 "Handlers containing a block are not found"
##### SUMMARY

Handlers containing a block are not found when running the playbook

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

block
handlers

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

  * run from: CentOS Linux release 7.4.1708 (Core)
  * managing: CentOS Linux release 7.2.1511 (Core)

##### STEPS TO REPRODUCE

Run the following playbook:

[cod

[2018-07-05 14:05] Akasurde commented on #42349
@saargrin Thanks for reporting this issue. I will try to reproduce.

[2018-07-05 14:07] saargrin commented on #42349
Hi

If you need any help reproducing i have a bunch of dev environments i can
try things on

On Thu, Jul 5, 2018 at 5:06 PM, Abhijeet Kasurde <notifications@github.com>
wrote:

--
Wirth's Law: Software gets slower faster than hardware gets faster.
(Nicklaus Wirth).

[2018-07-05 14:08] Akasurde commented on #42011
resolved_by_pr #42354

[2018-07-05 14:10] gundalow commented on #32832
@gerhard-tinned Thank you for updating the wording. If you are on Freenode, feel free to message me directly as `gundalow`, I'd welcome your thoughts on the community side.

[2018-07-05 14:19] bcoca commented on #42338
As @dagwieers mentions, we would need the actual exception. I've tested this with my own TLS enabled mail server w/o issues and I cannot reproduce, so we need more information.

needs_info

[2018-07-05 14:32] gundalow commented on #32832
@gerhard-tinned the Python 2.6 fix is merged we will be able to tell you which Ansible releases this will be released in.
For Ansible 2.6 (current stable release) we aim to make releases every three weeks.
I'm not sure how often we are making Ansible 2.5 updates at the moment

[2018-07-05 14:32] agaffney commented on #42352
This is reproducible in current `devel` and `stable-2.6`.

[2018-07-05 14:44] jguirlinger commented on #42181
For me it is not the same pb as my lines in my playbook are exactly the same as they appear in my switch config. Even so ansible always detects change for those lines

[2018-07-05 14:45] CafeLungo commented on #42212
The `dev-sec` requirement seems to have "flipped" again, so now it needs to be defined as `dev-sec` instead of `dev_sec` now.

[2018-07-05 14:49] FranNavent commented on #30759
Hi,

Just to add some info.

I used  @bchazalet solution, and it works great for creating a vm with the gce module and a shared subnetwork.

But when I try to create an instance group with the gce_mig module, it based from an instance template, it still tries to find the subnetwork in the current project, and not the host project.

[code]

[2018-07-05 14:50] brianveltman opened #42357 "Ansible-vault cryptography not found when installed."
##### SUMMARY

After upgrading ansible 2.5.2 to 2.5.4, ansible-vault is missing cryptography while the required module has been installed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7

##### STEPS TO REPRODUCE

Upgrade from Ansible 2.5.2 to 2.5.4 using pip and execute `ansible-vault encrypt

[2018-07-05 14:52] hornjason opened #42358 "gcp_compute_instance_template ability to use ephemeral external ips / not requiring nat_ip"
##### SUMMARY
gcp_compute_instance_template requires the use of nat_ip which pins the template to one static external address,  if using the template to create multiple instances on ephemeral ext. ips only one will receive an external ip while the others won't be created.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

gcp_compute_instance_template

##### ANSIBLE VERSION

[code]

##### CONF

[2018-07-05 15:02] dagwieers commented on #42294
A long shot, but what would happen if you would use `meta: reset_connection` ?
Not sure if we support this for WinRM, if not, would there be a genuine need ?

[2018-07-05 15:03] agrisvv commented on #42338
cometed out try and except in py module and error at last line:

[code]

same with option try or starttls. server are MS exchange, also  gmail -- same result.

[2018-07-05 15:12] bcoca commented on #42338
are you getting a 'failed' message or a direct traceback from module?

[2018-07-05 15:18] agrisvv commented on #42338
modified /usr/lib/python2.7/site-packages/ansible/modules/notification/mail.py
and runed playboook with -vvvv get failed=1

[2018-07-05 15:26] ochurlaud opened #42360 "groups not working as expected"
##### SUMMARY

The groups do not allow multiple inclusions.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Redhat 7.2 (but I don't think it's platform specific)

##### STEPS TO REPRODUCE

I have an inventory like:
[code]
And I set common variables in groupvars for group1  (group: 1), group2 (group: 2)

[2018-07-05 15:34] agrisvv commented on #42338
with this script i receive email from same server where ansible.
[code]

[2018-07-05 15:38] bchazalet commented on #30759
@FranNavent I do create instance groups with an instance template that refers to the shared subnetwork, and it works for me. I think it may be a permission problem in your case: when instances are created from a MIG it uses the service account associated with the project where the MIG is (rather than the service account than you pass to ansible/gce module, and thus it needs to have rights over the

[2018-07-05 15:38] jdipsip commented on #41769
i don't have the ability to reproduce to gather the log  for the moment but

Here is the role task that made everything failed

[code]

When following the code below in case members are defined

[code]
we have ... before this part of the code : entering in configuration mode
then:
[code]

as per cisco:
[code]

with switch or router prompt this will give something like this:

[code]
Last one will f

[2018-07-05 15:38] dagwieers commented on #42338
@agrisvv You're not doing a separate `smtp.connect()` and that may be an improvement over the existing code. Just for testing, can you modify your simple script to perform it similarly to our code using `smtp.connect()` ? Let's see if we can make a simple reproducer first.

[2018-07-05 16:01] #42154 closed, assigned to nobody

[2018-07-05 16:02] FranNavent commented on #30759
Mmmm... I don't think that's the problem.

In that case I used to get a "forbidden" message instead of a "resource not found".

In particular, the "resource not found" error message says:

` The resource 'projects/{{SERVICE_PROJECT}}/global/networks/{{ SHARED_VPC_NETWORK }}' was not found\`

while the correct resource should be:
` projects/{{HOST_PROJECT}}/global/networks/{{ SHARED_VPC_NETWORK }}`

[2018-07-05 16:04] bcoca commented on #42360
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Group names are unique, you can repeat it multiple times in an inventory but it is the same group, all hosts and vars will accumulate i

[2018-07-05 16:04] #42360 closed, assigned to nobody

[2018-07-05 16:05] bchazalet commented on #30759
I wish I could remember all the things that I've done to make it work, but do insist because I've got it working on my end!

[2018-07-05 16:08] bcoca commented on #31268
no, that is my whole point, the one var is NOT equal to the other, one has higher precedence

[2018-07-05 16:09] ochurlaud commented on #42360
@bcoca Could you just explain what what I'm expecting is not unique?

I'm hopping that if I manage two clusters with the same type of machines I can do intersections of groups, like stated in the documentation: "webservers:&phoenix".
If it is not the case, it seems that it defeats the purpose.

 What is the correct way?

[2018-07-05 16:15] samdoran commented on #39222
Ok. I'll investigate a bit more and close it if I can't reproduce it. Thank you for reporting this.

[2018-07-05 16:17] mkprizzle commented on #42215
@Fred-sun - create the LB using the code above. Change some parameters (probe names, LB rule names, front ends, etc) and re-run. Status will say [OK] instead of changing the rules since I don't believe state is tracked at the rule level.

[2018-07-05 16:18] bcoca commented on #42360
you can still do group intersections, but that is not the same thing as a parent/child relationship.

With this definition, the intersection would not matter as they are all in the same group via parent child, if you define them as 3 separate groups then the intersection works:
[code]

[2018-07-05 16:27] drzraf opened #42365 "os_server: documentation: boot_from_volume relation to boot_volume"
##### SUMMARY
os_server: `boot_from_volume` relation to `boot_volume`

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
os_server

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
Quoting https://docs.ansible.com/ansible/latest/modules/os_server_module.html
* *boot_from_volume*: Should the instance boot from a persistent volume created based on the image given. **Mututally excl

[2018-07-05 16:31] samdoran commented on #42342
@dungdm93 It looks ilke you installed `python-mysqldb`, which will install the module in the Python 2.7 site-packages directory:

[code]

I confirmed you will see the error you reported when `python-mysqldb` is installed.

If I install `python3-mysqldb`, it installs in the correct site-packages directory and Ansible does not report an error.

[code]

[2018-07-05 16:31] #42342 closed, assigned to nobody

[2018-07-05 16:31] bcoca commented on #41243
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Both hosts and groups are UNIQUE across the inventory, if you define a host in more than one group, it gets the variables of all the gr

[2018-07-05 16:31] #41243 closed, assigned to nobody

[2018-07-05 16:35] mhalano commented on #35092
@sieben
I tried the native inventory plugin which came with Ansible 2.6 and worked very well. My only concern is oauth_token must be an environment variable. I would like to define it on scaleway.yml, like:
``
plugin: scaleway
oauth_token: <my token>
regions:
  - ams1

[2018-07-05 16:37] bcoca commented on #35092
@mhalano you should already be able to do that

[2018-07-05 16:47] agrisvv commented on #42338
so here are modified scripts what worked with my server.

what i think:
1. part one end  with ssl.SSLError.
2. On port 587 work only TLS. Port 465 are for SSL
3. this function has_extn('STARTTLS') to me always return false on gmail also.. maybe could get by return code.
[code]

[2018-07-05 17:01] drzraf commented on #31189
Module should **really** transmit additional dict keys to underlying call to `create_server`:
See https://docs.openstack.org/openstacksdk/latest/user/connection.html#openstack.connection.Connection.create_server

Currently supported:
auto_ip,availability_zone,boot_from_volume,boot_volume,config_drive,flavor,image,ip_pool,ips,key_name,meta,name,network,nics,reuse_ips,scheduler_hints,security_groups

[2018-07-05 17:06] ochurlaud commented on #42360
@bcoca this was not obvious to me. Maybe the doc should be clearer? Thx anyway.

[2018-07-05 17:14] dungdm93 commented on #42342
Thank you @samdolan, @petarGitNik
This will help me:
[code]

[2018-07-05 17:31] ConstantinElse opened #42371 "ec2_metadata_facts.py seems doesn't properly handle spaces in SSH keys"
##### SUMMARY
ec2_metadata_facts.py fails with HTTP Error 400: Bad Request response.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/amazon/ec2_metadata_facts.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
pretty standard config.

##### OS / ENVIRONMENT
Latest CentOS 7

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
No errors.

##### ACTUAL RESULTS
[

[2018-07-05 17:35] bcoca commented on #42360
we are open to suggestions, the docs are part of the repo and also accept patches

[2018-07-05 17:35] mhalano opened #42372 "Require fewer options to start a machine on Scaleway"
##### SUMMARY
scaleway_compute module requires a lot of parameters even when you just want start a existent machine. Most of the options should be required just you want to provision, not when you want to start a machine.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
scaleway_compute

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[2018-07-05 17:57] #35092 closed, assigned to nobody

[2018-07-05 18:10] agrisvv commented on #42338
and only after
[code]

you can get smtp.has_extn('STARTTLS') as true

[2018-07-05 18:43] fabianvf commented on #42302
Could I see the task for creating the deploymentconfig as well?

[2018-07-05 18:56] agrisvv commented on #42338
So modified actual py file code block. This cold resolve problem and dose not impact other cases, only variable could define near variables.
[code]

[2018-07-05 19:05] avishefi commented on #41713
@jborean93 I will test your PR on the scenarios this issue raises so we can merge it as soon as possible.

[2018-07-05 19:11] pschiffe commented on #42162
Also `docker_network` module requires `docker-py` in ansible 2.6

[2018-07-05 19:14] dustinblack commented on #41717
Test against the simplified reproducer with this patch succeeds.

[2018-07-05 19:34] ruromero commented on #42302
Adapted from here: https://github.com/ruromero/rhpam-apb/blob/k8s/roles/deploy-businesscentral/tasks/main.yml#L38

I have tested with the following snippet and having a separate task for provisioning and deprovisioning like the one described before. Both have the same result. Delete the deploymentConfig but not the replicationControllers
[code]

[2018-07-05 19:34] hornjason opened #42378 "gcp_compute_instance_group_manager doesn't support multi-zone"
##### SUMMARY

No support for creating a managed instance group in multiple zones.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

gcp_compute_instance_group_manager.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
ANSIBLE_NOCOWS(/vagrant/git/ansible-ocp-gcp/ansible.cfg) = True
ANSIBLE_PIPELINING(/vagrant/git/ansible-ocp-gcp/ansible.cfg) = True
ANSIBL

[2018-07-05 19:35] samdoran commented on #42357
I am not able to reproduce this.

[code]

Install `ansible` via `pip`:

[code]

Encrypt a file using `ansible-vault`:
[code]

Upgrade Ansible via `pip`:
[code]

Encrypt a file:
[code]

Can you verify via `pip list` or looking in `/usr/lib64/python2.7/site-packages` that `cryptography` is present? Or just run ` python -c 'import cryptography'` to see if the module can be successfully imported?

nee

[2018-07-05 19:37] pschiffe commented on #42162
@felixfontein I've just tried it. Managed OS is CentOS 7, and I've tried to remove `python-docker-py` rpm package to workaround this issue, but it failed on the `docker_network` module. With `python-docker-py` rpm package installed it fails on the `docker_container` module issue described above. Now I've just downgraded ansible to 2.5.5 and it works as usual. Below is my task and it's output.

[co

[2018-07-05 19:43] hornjason opened #42379 "gcp_compute_instance_template is not idempotent"
##### SUMMARY

Unable to run a playbook with gcp_compute_instance_template more than once,  after the template(s) are created subsequent runs produce an error fetch.update({'changed': changed})\nAttributeError: 'NoneType' object has no attribute 'update'\n"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

gcp_compute_instance_template.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ans

[2018-07-05 19:47] vasartori commented on #42125
@evrardjp any news?

[2018-07-05 19:48] felixfontein commented on #42162
@pschiffe After removing `python-docker-py`, did you install the `docker` Python module (with `pip install docker`)? The error message you get sounds like you have neither `docker-py` nor `docker` installed.
Can you post your output of `pip show docker`?

[2018-07-05 19:50] felixfontein commented on #42162
I was able to run your task without the `docker-py` module, but with the `docker` module installed. For `pip show docker-py`, I get no output (i.e. it is not installed), and for `pip show docker`, I get
[code]

[2018-07-05 19:54] felixfontein commented on #42162
`docker_login` also works fine for me with `docker` and without `docker-py`.

[2018-07-05 20:16] fxfitz commented on #33577
@dagwieers Is there a module to handle the "additional step"?

[2018-07-05 20:36] samdoran commented on #42352
Tested all the way back to v2.0 and this has never worked. It always gives the same error and tries to interpret the string value inside the variable is a variable name.

[2018-07-05 20:37] samdoran commented on #42352
Also, this is not specific to Python 3 as I tested with Python 2.7.14.

[2018-07-05 20:40] mhalano opened #42382 "Support for cloud-init on scaleway_compute module"
##### SUMMARY

scaleway_compute module doesn't have support for cloud-init which is supported by Scaleway. OpenStack's os_server module has support for cloud-init using "userdata" option.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

scaleway_compute

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-07-05 20:58] cdown opened #42384 "systemd: Ensuring state of already masked service results in failure"
##### SUMMARY

After upgrading systemd to 239, remasking/stopping/disabling units repeatedly doesn't work. After they have been masked once, it fails like this:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

systemd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

- Host OS: Arch Linux
- Destination OS: Arch Linux

##### STEPS TO REPRODUCE

[code]

After

[2018-07-05 21:11] samdoran commented on #42353
This is not a bug as [`search_handler_blocks_by_name()`](https://github.com/ansible/ansible/blob/133b70ff4503be52b007d3abe642d7d7f360b686/lib/ansible/plugins/strategy/__init__.py#L369-L369) only looks at task names within a block but not the block name itself. The reason for this is block names inside dynamically included roles are not "inherited up" to the calling task, making it difficult to use

[2018-07-05 21:11] #42353 closed, assigned to nobody

[2018-07-05 21:22] roadmapper commented on #42371
I believe I've narrowed down the issue, prior to the change made by @ryansb (to retry when the metadata service might be not available), the module just ignored the bad request (400) on public keys that had a space in the name. Now that the retry logic checks for 200 or 404 explicitly, the 400 is not ignored silently.

@ryansb do you think it is ok to accept a 400 status as well? Or should we prev

[2018-07-05 21:31] nirmalam99 opened #42385 "Ansible CredSSP configuration to connect to Windows Host"
##### SUMMARY

I am new to Ansible and trying to enable CredSSP to use AD authentication for my Windows host(Basic authentication works fine). I have added a group_var file with the following  information

ansible_connection: winrm
ansible_user: testuser@company.com
ansible_password: password
ansible_port: 5986
ansible_winrm_transport: credssp
ansible_winrm_server_cert_validation: ignore
ansible_w

[2018-07-05 21:39] BarbzYHOOL commented on #31268
one has higher precedence?? but in the doc:

So it's the same variable, one is older, one is current.

*Note I still use ansible_ssh_user because it makes it clearer that it's for ssh connection to me*

----------------------

Also, related to the same issue, I encountered a "bug" (but really it's too harassing to open a bug report that will be ignored on ansible repository so I'm posting it here,

[2018-07-05 21:43] agaffney commented on #42352
What version of Jinja did you test with? My understanding is that those conditions are evaluated almost entirely by Jinja, so this could be something that changed in a recent version.

[2018-07-05 21:47] bcoca commented on #31268
That doc is out of date (i believe it is already fixed, but i need to double check).

to answer your become question (really you should asks mailing lists/irc):
[code]
As it is a variable, not a keyword (which `become` is)

[2018-07-05 21:57] jctanner commented on #41717
@dustinblack how difficult would it be to test it with the real code?

[2018-07-05 22:05] AngellusMortis opened #42388 "Windows 10/WSL: Ansible cannot read ansible.cfg from NTFS mounts"
##### SUMMARY
Ansible 2.6.1 added https://github.com/ansible/ansible/pull/42070 which makes Ansible ignore `ansible.cfg` files in 777 directories. The problem is that all NTFS mounts (anything under `/mnt/c`) in WSL on Windows 10 are 777 because their permissions are managed by Windows.

Detecting a WSL install is pretty easy, I have been using `ansible_kernel.find('Microsoft') != -1` to detect WS

[2018-07-05 22:16] abadger commented on #42117
Some more steps to take to troubleshoot this issue:

Is this enough to reproduce it for you?
[code]
* Can you run it like this:
[code]
  * Then take the file path that you are getting permission denied to for the message and log into the REMOTE_HOST and tell us what these say:
[code]
needs_info

[2018-07-05 22:20] BarbzYHOOL commented on #31268
omg we can do this?? i looked "vars on task level" and couldn't find and didn't try (already trying so many weird things all the time :P)

Thank you!!!!!!!!!!!!!!! and I didn't know about IRC, will use this when in an urgent need, thank you!

[2018-07-05 22:29] abadger commented on #42388
Detecting that the system is WSL would still leave a vulnerability.  We'd have to detect that the file isn't world writable or in a world writable directory despite the permissions saying that it is.

We also don't support Ansible on Windows hosts so we can't guarantee a fix will be created for this.

[2018-07-05 22:53] AngellusMortis commented on #42388
I absolutely understand the need for security, but there should at least be an option some how to disable that. Maybe something that *has* to be in the `/etc/ansible/ansible.cfg` specifically or something similar that makes it harder to flip on.

There are other use cases where it would not just be a Windows 10 NTFS mount to WSL that this would occur. If you have an NTFS mount or an Azure File Sha

[2018-07-05 22:57] samdoran commented on #42384
I am able to verify this with `systemd` 239.

[code]

The reason for the failure is `systemd` is now reporting a LoadError when the unit file is masked when running `systemd status [unit file name]`:

[code]
In addition to the masked issue, the module always reports a change when `enabled: no` is set. It seems that the return code for `systemctl is-enabled [unit file]` has changed to return 0.

[c

[2018-07-05 22:58] samdoran commented on #42384
cc @maxamillion @bcoca

[2018-07-05 23:08] zoredache commented on #42388
Maybe you could allow people to whitelist directories from this check via an environment variable?  Something like `ANSIBLE_TRUSTED_CONFIGPATHS` or something?  If the config is inside a path in that variable, then skip the permissions check?

[2018-07-05 23:09] #42338 closed, assigned to bcoca

[2018-07-05 23:11] samdoran commented on #42352
@agaffney I tested with Jinja 2.10.

[2018-07-05 23:12] samdoran commented on #42004
@acozine This shouldn't need to be listed as a dependency since the idea is to gracefully fail back to hardcoded settings in `curses` is not available.

[2018-07-05 23:43] agaffney commented on #42352
I'm also seeing this with ansible `2.6.0` and Jinja `2.8`. I'm surprised that I've never seen this come up before.

[2018-07-05 23:56] shaunbrady commented on #30206
Can this be reopened?  `unmount` still appears to be in contention?  I can submit a PR if some one agrees.

[2018-07-05 23:59] shaunbrady commented on #30206
I am incorrect.  I was looking at older documentation by accident.  My apologies.

[2018-07-06 01:31] bizMD commented on #42162
I am experiencing the same issue.

Previously, my Ansible version was 2.6.0. Running the following task:

[code]

Crashed with an error:

[code]

After I downgraded Ansible to 2.5.5, this error went away.

[2018-07-06 01:52] kbreit opened #42390 "meraki_switchport may overwrite configurations"
##### SUMMARY
`meraki_switchport` module may overwrite configurations if parameters are specified. The recently implemented idempotency check should fix this problem.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
meraki_switchport

##### ANSIBLE VERSION
[code]

[2018-07-06 03:44] trishnaguha commented on #37314
resolved_by_pr https://github.com/ansible/ansible/pull/41237

[2018-07-06 04:12] jborean93 commented on #42117
One way of working around this issue for now is to use pipelining as the module will manage the tmp path and have access to it.

I've got a PR which should fix the issue, if you get some free time it would be great if you could test it out https://github.com/ansible/ansible/pull/42396.

[2018-07-06 04:21] #37314 closed, assigned to nobody

[2018-07-06 04:45] judyQD opened #42397 "VMware: export an ovf file from a Virtual Machine on vSphere vCenter"
##### SUMMARY

use ansible to generate the ovf & vmdk file from a Virtual Machine on vSphere vCenter
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

ansible has some kind of module to generate ovf based on one specific VM on vCenter.
##### ACTUAL RESULTS

[c

[2018-07-06 05:14] yuwzho commented on #39231
resolved_by_pr  #38643

[2018-07-06 05:19] #39231 closed, assigned to nobody

[2018-07-06 06:21] yuwzho commented on #37658
resolved_by_pr #38108

[2018-07-06 06:23] #37658 closed, assigned to nobody

[2018-07-06 07:00] turb commented on #40782
@MatrixCrawler does the 2.6.0 version work for you?

[2018-07-06 07:07] MatrixCrawler commented on #40782
@turb I just compared the stable2.6 version of maven_artifact with my local version.
It does not look like my changes are in there.
Maybe they were overwritten in a merge?

[2018-07-06 07:10] noose opened #42402 "File / copy modules always require sudo"
##### SUMMARY
File and copy modules always requires sudo - even when I try to use them with `connection: local` on user who have rights to all paths that I need.

Why it's a case for me? I need a playbook to generate some secrets on CI/CD machine and then push that secrets to remote servers. I don't have sudo on that CI/CD machine :-)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file
copy

[2018-07-06 07:42] davistran86 opened #42404 "No Package matching ... found available, installed or updated when using YUM and with_items"
##### SUMMARY
I tried to install multiple apps using yum and with_items, it always shows error "No Package matching ... found available, installed or updated"

I tested with just 1 app to install with 2 tasks, 1 without with_items and 1 with with_items.

As you can see below, first task was ok, but second task was showing error No Package matching... ? even it's the same httpd

##### ISSUE TYPE
 -

[2018-07-06 07:45] noose commented on #42402
My fail - I had `ansible_become: true` somewhere in vars files. Sorry

[2018-07-06 07:45] #42402 closed, assigned to nobody

[2018-07-06 07:51] justjais commented on #42181
@jguirlinger I'll re-verify the same and get back

[2018-07-06 07:58] davistran86 commented on #42404
Just tested with Ansible 2.4.2.0, also facing this issue, but Ansible 2.3 is ok

[2018-07-06 08:03] guanchaoli commented on #26968
@vikramkhatri Hi, have you solved this problem? I ran into this problem when I am installing glusterfs on ICP. I have did this before, but the problem didn't happen that time.
I have exactly the same version of ansible and glusterfs-fuse installed on the machines, but the second time it failed.

[2018-07-06 08:08] gerhard-tinned commented on #32832
I install ansible via EPEL repository on CentOS 6. So I guess it will take a while after release to see it in the repo. I can't remember, is there a ansible yum repo? I have to check again to see if I can get it faster that way.

(Sadly I am not on freenode. but you could find me on gitter if that would be an option - or oldschool via email)

[2018-07-06 08:10] AmShaegar13 commented on #42117
@jborean93 Confirmed. Works with you branch `none_temps`.

[2018-07-06 08:30] wqk151 commented on #33323
How to solve this problem？ I also encountered this problem.  nginx+django-1.11.3+ansible-2.4.2.0

[2018-07-06 08:33] sac opened #42405 "Typo in Docs -> Unit Tests"
##### SUMMARY

Under example of a function:
[code]
should be

[code]

Under "Sturcturing Unit Tests", third sentence,

give is repeated twice.
##### ISSUE TYPE
  - Documentation Report

##### COMPONENT NAME

Unit tests documentation
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

N/A

##### EXPECTED RESULTS

N/A
##### ACTUAL RESULTS

N/

[2018-07-06 08:40] ghost opened #42407 "Missing parameter in azure_rm_loadbalancer"
##### SUMMARY

In inbound_nat_pools is not defined service type parameter in azure side we can choose service type.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_loadbalancer
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-07-06 08:44] webstylesInt commented on #42191
A new error on the playbook:

ansible-playbook 2.6.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible-playbook
  python version = 2.7.15 (default, May 16 2018, 17:50:09) [GCC 8.1.1 2

[2018-07-06 08:45] pkorthal opened #42408 "os_server_action crush when wait=True"
##### SUMMARY
When trying to use os_server_action module error appear.
Issue was reproduced in:
- ansible 2.6.0
- ansible 2.6.1
Issue was not present in:
- ansible 2.5.5 and below

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

os_server_action

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Openst

[2018-07-06 08:48] pkorthal opened #42409 "os_server_action action=rebuild does not work"
# title: os_server_action action=rebuild does not work

##### SUMMARY
When trying to use os_server_action module error appear.
Issue was reproduced in:
- ansible 2.6.0
- ansible 2.6.1
Issue was not present in:
- ansible 2.5.5 and below

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

os_server_action

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### ST

[2018-07-06 08:50] webstylesInt commented on #22808
fatal: [tzhqprdvcm01 -> localhost]: FAILED! => {
    "changed": false,
    "invocation": {
        "module_args": {
            "annotation": null,
            "cdrom": {
                "iso_path": "[ISO-DS01_LUN30] Windows Server 2012 R2.ISO",
                "type": "iso"
            },
            "cluster": "PROD",
            "customization": {},
            "customization_spec": null,

[2018-07-06 08:51] Fred-sun commented on #33943
Hi @charliejllewellyn
Now, Ansible version has update to 2.5.5, Which has been fixed this issue, You can update your ansible to retest , update method: sudo pip install ansible[azure]==2.5.5, Thanks a lot!

[2018-07-06 08:59] turb commented on #40782
Seems it was merged in the `devel` branch, _after_ the 2.6 branch was created. It would be now targeted to 2.7.

@tumbl3w33d I suppose @MatrixCrawler can create a new PR against the `stable-2.6` branch to include it in 2.6.2. Am I right?

[2018-07-06 09:22] D3DeFi commented on #41957
Hi @jurgeng74. I was successful in mirroring your environment, but I still wasn't able to reproduce the error you are receiving:
[code]
This is my playbook:
[code]

And this is output from second task with triple verbose flag (-vvv):
[code]
Do you possibly have a chance to setup new testing zabbix-server and run your playbook against it?

Btw, the API call you've mentioned earlier is actually corr

[2018-07-06 09:38] sayantandas commented on #37296
thank you for showing the direction! I wasted hours on this. it was same problem in RHEL 7.  So i installed python-setuptools package in RHEL 7 and it is working now.

[2018-07-06 09:53] bmamouri commented on #40724
@willthames I tested it and it works without any issue for me. It successfully updated the distribution. Thank you very much for all your hard work!

[2018-07-06 09:59] adamsem commented on #42407
same issue is for azure_rm_subnet and service in subnets is required to assign  subnet to sql server.

[2018-07-06 10:06] D3DeFi commented on #41957
Can you please test this snippet as well? Please replace values in variables with suitable options
[code]

It should return valid JSON object with a lot of attributes.

[2018-07-06 10:11] martbhell commented on #42117
@jborean93 works for me too with none_temps: https://travis-ci.org/CSCfi/ansible-role-rally/jobs/400808588#L4318

[2018-07-06 10:14] rdaadr opened #42414 "azure_rm_keyvaultsecret.py secret_value wrong alias"
##### SUMMARY

When you try to create a secret in Azure Key Vault and connecting with Service Principal, module can't properly parse parameters, because "secret_value" parameter have "secret" alias, which is a parameter for connection with SP

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_keyvaultsecret.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[2018-07-06 10:35] developerdino commented on #33577
@fxfitz I'm wondering the same thing - the docs say it should be default `reload` but it doesn't seem to do so.

[2018-07-06 10:44] evrardjp commented on #42125
Sorry I missed your ping.
The documentation of the consul_kv module [1] doesnt' seem to propose a simple way to read the value, only one that handles the release/acquisition of locks using state: acquire/release.

I understand the willingness to not go through a lookup, as we have the data here and it's not executed the same way. But I wonder what is the purpose of doing so, vs a lookup plugin. Co

[2018-07-06 11:05] justjais commented on #42181
@jguirlinger I have tried to reproduce the scenario with the playbook mentioned in your description but  for me it's working as expected i.e. it's coming as `changed=0` for second time run of the playbook.

[2018-07-06 11:05] dagwieers commented on #33577
@developerdino **sefcontext** does reload the fcontext mappings (so the new changes become active), but applying them to filesystem(s) is something completely different. The **semanage** command also does not apply mappings to filesystem(s).

You can use the **restorecon** command, I don't think there's a module for that (yet), but if possible it's best to add new SELinux file contexts before crea

[2018-07-06 11:31] boite opened #42417 "[rabbitmq_binding] Failure to encode vhost in API URL causes failure to create binding"
##### SUMMARY

The `rabbitmq_binding` module does not properly URL encode the vhost component of the API URL which, when vhost="/", means that:-

1.  There is always a 404 response to the initial GET request because the URL is not a valid API URL
2.  There is a 405 response to the POST request

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

rabbitmq_binding

##### ANSIBLE VERSION

[code]

#

[2018-07-06 11:41] developerdino commented on #33577
Thanks @dagwieers, I'll try to reconfigure my pipeline to create the files after the context has been set then. That will work nicer in the long run anyway.

[2018-07-06 11:45] friendlypenguin commented on #36615
Have the same issue. setting ip should really disable dhcp.

[2018-07-06 12:07] Akasurde commented on #42405
resolved_by_pr #42406

[2018-07-06 12:09] Akasurde commented on #42405
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-07-06 12:09] #42405 closed, assigned to nobody

[2018-07-06 12:18] sayantandas commented on #42195
@Akasurde I was able to get around it by installing python27-python from RHSCL and adding
`source /opt/rh/python27/enable` to `/etc/profile.d/`

[2018-07-06 12:33] rowild commented on #15250
@sivel  Is this still true in July 2018?

[2018-07-06 12:36] agaffney commented on #42352
How would you expect it to work? Really, this is probably more a Jinja issue than an ansible one.

[2018-07-06 12:38] Akasurde commented on #42195
pyVmomi 5.5 supports Python 2.6 - https://github.com/vmware/pyvmomi#python-support

[2018-07-06 12:50] agaffney commented on #42352
It seems that this is "intentional" behavior. If the entire condition matches the name of a var, the condition is replaced with the content of the var before being evaluated. It *looks* like this is to allow reuse of the same `when` condition without triggering the warning about curly braces in the condition (but it's much older than that warning).

https://github.com/ansible/ansible/blob/1f824bd6

[2018-07-06 13:03] Akasurde commented on #40782
@MatrixCrawler @turb @ritubajaj170889 Change is merged in 2.7-devel, we can backport to Stable-2.6 if we want.
@MatrixCrawler You may want to follow this [document](https://docs.ansible.com/ansible/latest/community/development_process.html#backport-pull-request-process).

[2018-07-06 13:06] Akasurde commented on #42417
@boite Thanks for reporting this issue. Would you be interested in opening PR against this ?

[2018-07-06 13:20] sheffner1226 commented on #40884
I'm seeing the same issue on 2.6.  Even running with -b --ask-become-pass doesn't work.

[2018-07-06 13:23] s-hertel commented on #26368
Sorry for not responding to this sooner. We're not actively working on inventory scripts, since inventory plugins resolve things like integrated caching and dynamic group composition. This bug should be fixed in the aws_ec2 inventory plugin (it uses the boto3 config profiles), so if you can update to using that, I would. To assume an instance role with aws_ec2, just omit your credentials and it wi

[2018-07-06 13:23] #26368 closed, assigned to nobody

[2018-07-06 13:32] s-hertel commented on #42390
`The recently implemented idempotency check should fix this problem.` Is there a PR open that should fix this? I don't see one linked.

[2018-07-06 13:40] s-hertel commented on #42407
It looks like there are tests have been using it since 2.5: https://github.com/ansible/ansible/blob/devel/test/integration/targets/azure_rm_loadbalancer/tasks/main.yml#L108

@adamsem Can you provide a simple reproducer task and the failed output it provides?

[2018-07-06 13:41] Akasurde commented on #22808
@webstylesInt This is because there is another [patch](https://github.com/ansible/ansible/pull/39285) which is not merged yet.

[2018-07-06 13:43] kbreit commented on #42390
@s-hertel #42250

[2018-07-06 13:56] s-hertel commented on #42390
Thanks. Is the open issue to track something that isn't resolved by it, or should it be closed?

[2018-07-06 13:56] benjdudas opened #42420 "Allow DNS bypass for add/remove of host records with nios_host_record"
##### SUMMARY

Provide option to bypass DNS for removal of the host record when a corresponding DNS record does not exist.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

nios_host_record

##### ANSIBLE VERSION

[code]

[2018-07-06 14:03] apollo13 commented on #42352
The same as in Jinja or how an "if varname" in Python itself would work (ie check if it is not empty)

[2018-07-06 14:07] s-hertel commented on #42407
needs_info

[2018-07-06 14:12] justjais commented on #42420
Currently, bypassing DNS for creating/modifying new `host_record` is not supported as per the current design. As to achieve the same new arguments `configure_for_dhcp` and `configure_for_dns` need to be specified while creating `host_record`.

I'll go ahead and implement the same and backport to `2.6` branch as well.

[2018-07-06 14:46] nirmalam99 commented on #42385
anyone please help?

[2018-07-06 14:49] s-hertel commented on #42390
needs_info

[2018-07-06 14:53] pffs commented on #40884
Something I noticed that I forgot to add in here, is that when I take these same hosts and run ios_facts before and pass ansible_net_config to the ios_config module, I don't seem to get the same errors.

[2018-07-06 14:56] kbreit commented on #42390
It isn't resolved. #42250 will go a long way to solve the problem but I need to fix the actual problem in the module.

[2018-07-06 15:03] apitanga commented on #42420
I would argue that the critical part isn't to bypass DNS during record creation but to remove the host record even if a DNS record doesn't exist.  Currently the module will mark a host record as absent if the DNS record doesn't exist, but the host record still in fact exists.  The direct WAPI call to remove host record removed the record regardless.  It's surprising the module doesn't do the same.

[2018-07-06 15:11] pffs commented on #37262
Can confirm that this works under 2.6.1.

@ganeshrn Is there any chance of being able to move this into group/host vars like the network_cli bastion options? I sometimes need to be able to run from more than one bastion in a single play and it would be nice to not need to maintain an ssh config file to separate out which hosts go to which bastion. The proposed change of being able to reference a s

[2018-07-06 15:22] Gianlu opened #42423 "Error in win_updates"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOAD_CALLBACK_PLUGINS(/etc/ansible/ansible.cfg) = False
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /home/adminsalvo/ansible.log
DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible/modules']

##### OS / ENVIRONMENT

Ansible is running on d

[2018-07-06 15:35] vasartori commented on #42125
Hi @evrardjp, you are 100% correct!
Looking better today, I understand the place who needs to be changed. Definitely is not on this module. I agree with you, we need to extend the etcd lookup.

My case is: We use ansible to put some configs on etcd and some of thesees configs needs to be changed on templates (by a different automation or different teams, I dont know if I'm being clear).

I think y

[2018-07-06 15:39] agaffney commented on #42352
It looks like you can get your desired behavior by doing something like `when: some_var|string`. Aside from that, the behavior that you're seeing is intentional (even if this side effect is not), and there's not really anything to fix.

If you can think of a way to properly support the intended functionality and your use case at the same time, please suggest it.

[2018-07-06 15:47] apollo13 commented on #42352
To be honest I do not really understand the "intented" behavior from the docstring. Is the goal to allow evaluation from string variables? Does this need to hold true for when to and not just assert? Is the behavior documented somewhere? All in all it seems rather inconsistent with regard to other variable types…

[2018-07-06 15:51] krzysztof-magosa commented on #19084
Any progress guys?

[2018-07-06 15:51] agaffney commented on #42352
It looks like that code was last touched by @jimi-c, but it's not clear if he was the original author. Even if it was mostly intended for use with `assert`, both `assert` and task-level `when` conditions use the same code to evaluate the conditional statement. It would probably be possible to only enable that behavior in some cases, but that would break backward compatibility with people actually

[2018-07-06 15:56] justjais commented on #42420
@apitanga I agree with your observation but in the current situation, issue that you have logged that module will not delete the `host_record` even if made `absent` is because for existing `host_record` reference retrieved from `get_object` will come different and hence will not be able to make `delete` call based on the reference and therefore will not delete the pre-existing object.

So, if you'

[2018-07-06 16:03] tedder opened #42425 "aws s3: AttributeError: 'AnsibleAWSModule' object has no attribute 'boolean'"
##### SUMMARY
Get the following error when setting overwrite to `True` (instead of setting it to `always`):

    AttributeError: 'AnsibleAWSModule' object has no attribute 'boolean'

I think this was introduced into 2.5, probably when AnsibleAWSModule was introduced, but haven't looked very far.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws_s3

##### ANSIBLE VERSION

[code]

##### CONF

[2018-07-06 16:05] abadger commented on #42388
Yep, it's only current working directory that we're making this test on.
It prevents surprises like exploring your file tree and then running
ansible in /tmp and picking up a malicious ansible.cfg

On Thu, Jul 5, 2018, 11:23 PM Ramin Baradari <notifications@github.com>
wrote:

[2018-07-06 16:19] felixfontein commented on #42258
I think the main problem is that `docker-py` has been renamed to `docker` at some point (between version 1.x and 2.0). The documentation and code mention often only one or the other, but usually both should work. (That `docker_container` doesn't work with docker-py is a bug, see #42162 and #40839 which fixes this.)
I guess the `docker_*` modules should inform better about this.

[2018-07-06 16:53] apollo13 commented on #42352
Would it actually be breaking backwards compat if it is not documented? Sure some people might rely on it; but having backwards compat on stuff which works by accident is weird. If this is wanted behavior it should probably get documented

On July 6, 2018 5:52:22 PM GMT+02:00, Andrew Gaffney <notifications@github.com> wrote:

[2018-07-06 17:01] vasartori commented on #42125
Hi @evrardjp Take a look on this test:
I'm looking on consul_kv module....
It seems works in ansible 2.6 the way I have talked on start of this thread...
On a old version (2.4), really dont works.
[code]
Output:
[code]
Thats why I say the same behaviour of consul_kv

[2018-07-06 17:12] jhawkesworth commented on #42385
@nirmalam99 - for 'how do i' questions like this, its probably best to ask in #ansible or #ansible-windows IRC channels, or on the google group 'ansible-project' as they are read by more people than the issue tracker.

I haven't made much use of credssp myself, so I haven't seen this error message before.
Looking at the stack trace, I notice one of the methods in the stack is called 'handle_401' w

[2018-07-06 17:15] jhawkesworth commented on #42385
I'd recommend removing the

[code]
setting unless you really need it to talk to older windows hosts.

Probably worth double-checking everything against the official documentation, here: https://docs.ansible.com/ansible/2.5/user_guide/windows_winrm.html#credssp

[2018-07-06 17:31] ivanbaldo opened #42427 "ec2_vpc_subnet AssignIpv6AddressOnCreation not supported in Ubuntu 16.04 Boto"
##### SUMMARY
ec2_vpc_subnet module unusable on Ubuntu 16.04.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vpc_subnet

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=7200s
COMMAND_WARNINGS(/etc/ansible/ansible.cfg) = True
DEFAULT_FORKS(/etc/ans

[2018-07-06 17:49] MatrixCrawler commented on #40782
Tried to create a backport PR as in the document. Hope this is correct.

[2018-07-06 17:49] #41340 closed, assigned to nobody

[2018-07-06 17:49] #42117 closed, assigned to nobody

[2018-07-06 17:52] #37986 closed, assigned to nobody

[2018-07-06 17:59] monchitos82 commented on #42404
What's the output from `yum search httpd` in the destination host?
Which distro are you using?

[2018-07-06 19:15] mhalano opened #42431 "Scaleway inventory plugin doesn't list hosts' adresses correctly"
##### SUMMARY

I was unable to execute an ad-hoc ping because the inventory plugin returns the ID of instances and not their IP addresses.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

scaleway inventory plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

INVENTORY_ENABLED(/home/marcos/projs/scaleway/ansible.cfg) = ['scaleway', 'ini']

##### OS / ENVIRONMENT

I'm on a Ubuntu 18.04

[2018-07-06 19:19] s-hertel commented on #42427
Hi @ivanbaldo. I’m having a hard time reproducing to fix this. Can you check which boto3 and botocore libraries are installed on the Ubuntu machine? `pip freeze | grep boto`

 If your subnet exists, it might also help reproduce to see the output of ec2_vpc_subnet_facts  so I can set it up appropriately before running your provided task
[code]

[2018-07-06 19:20] s-hertel commented on #42427
needs_info

[2018-07-06 19:45] s-hertel commented on #42431
cc/ @sieben

Most inventory plugins use constructed features so the user can specify what to use as the ansible_host. Such as, with the aws_ec2 inventory plugin, the user can specify to use the private IP as the host to connect to:
[code]
scaleway could be updated to use it easily- in a nutshell, import Constructable, update InventoryModule to be `class InventoryModule(BaseInventoryPlugin, Constru

[2018-07-06 19:45] samdoran commented on #42249
This was actually a bug with the debug module, not an issue with the examples. This was fixed in 40c47b778577cc39f352ead3daf24c596ae5bbe8 and was broken from 2.5.0 to 2.5.5 but is fixed in 2.5.6.

Regardless, the `k=v` syntax should be changed in the examples since YAML is the preferred syntax to use.

[2018-07-06 20:13] agaffney commented on #42352
I didn't say that it worked by accident. I said that your use case being broken was a side effect.

There are multiple different ways to accomplish what you want, and this is obviously not something that people run into much, since you're probably the first person to create an issue on this since 2.0.

[2018-07-06 20:47] astorije opened #42434 "Allow specifying a section in package.json where to install a package with yarn"
##### SUMMARY

At the moment, the `yarn` module, when passed a package (using `name`) installs with `yarn add x`, which means [per the doc](https://yarnpkg.com/lang/en/docs/cli/add/#toc-yarn-add) that the package will be installed in the `dependencies` section. A new optional attribute could specify where to save the package.

This would avoid running `command: yarn add --dev x` directly.

##### I

[2018-07-06 20:53] mhalano opened #42437 "Support for espeak/espeak-ng on osx_say callback"
##### SUMMARY

'say' (former 'osx_say') module supports 'say' command (present on macOS) and espeak (for Linux). But 'osx_say' command just support 'say' (only for macOS). The idea is add support for espeak and espeak-ng projects.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

osx_say callback plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu Linu

[2018-07-06 21:01] mhalano opened #42438 "Support for espeak-ng on 'say' module"
##### SUMMARY

'say' module' just support 'espeak' command, but there is a 'espeak-ng' project which uses a different binary with the same syntax.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

say

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu Linux 18.04 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-07-06 21:19] #41717 closed, assigned to samdoran

[2018-07-06 21:31] samdoran commented on #39222
After further investigating, I'm not able to reproduce this. My best guess as to what happened is the file descriptor for `stdin` disappeared, which caused a failure when `termios.tcsetattr()` tried to update the settings on that fd.

If this happens again, please reopen. Hopefully with a reproducer, even though I understand it's hard to reproduce.

[2018-07-06 21:31] #39222 closed, assigned to samdoran

[2018-07-06 21:35] #42032 closed, assigned to samdoran

[2018-07-06 21:58] samdoran commented on #38472
This was fixed by #41767 which is in 2.5.6 and 2.6.1. Can you test with those version to verify this has been fixed?

[2018-07-06 21:59] hangsu-ma commented on #31691
HI All, just let you know I have submitted a fix for this:
https://github.com/ansible/ansible/pull/42443

[2018-07-06 22:08] kewlfft opened #42445 "pacman module request unecessarily remote version if the state parameter is `present`"
##### SUMMARY

If the state parameter is left to its default state at `present`, the remote version is not used and the package installation is skipped whatever the remote version is more recent or not.
In the code we could avoid running systematically `pacman -Si` while it is not used unless `latest` is stated.

##### ISSUE TYPE
 - Speed improvement suggestion

##### COMPONENT NAME

pacman.py

##

[2018-07-06 22:40] WRJFontenot commented on #42266
Fixed in 2.6.  For the record, the local built-in root account does work for all modules if enabled.

[2018-07-06 22:40] #42266 closed, assigned to nobody

[2018-07-06 22:46] Dmitry1987 commented on #29427
Hi, would that be fixed one day or I should avoid using the module?  Is there any alternative stable one for consul?

[2018-07-07 00:42] willthames commented on #42427
The output from the failure is pretty clear:

[code]

Looks like AssignIpV6OnCreation was introduced in v1.5.69 (June 2017).

We don't have a strong policy on supporting older botocore versions, but a year old should be fine. I'd class this as a backward compatibility bug, it's not reasonable to insist that everyone has a modern botocore for all uses of Ansible.

1.4.70 is likely to cause you othe

[2018-07-07 01:14] apitanga commented on #42420
Thanks for this feedback @justjais. While testing directly against the WAPI I searched for the `host_record` reference by name, like `GET /wapi/v1.2/record:host?name~=test.com`.

If I understand your point correctly, is it the case that the module tries to `DELETE` based on the DNS record object reference instead?

[2018-07-07 02:08] ro8harp opened #42447 "BigIP F5 Playbook 'NoneType' object has no attribute 'lower'"
##### SUMMARY

Simple BigIp Playbook failed with "ansible.errors.AnsibleConnectionFailure: 'NoneType' object has no attribute 'lower'"  Originally had the issue on RedHatl6.9 with Ansible 2.5.5, so created a new virtual env  to test behavior on newer software, see below.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

bigip_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no set

[2018-07-07 03:06] Akasurde commented on #42417
resolved_by_pr #42422

[2018-07-07 03:15] Akasurde commented on #40782
@MatrixCrawler I think you missed a step in backport.

[2018-07-07 04:11] zhangshangbj opened #42449 "当我执行setup模块时有一台机器持续报超时"
cmd:
[code]
result:
[code]
我修改了gather_timeout = 40  还是不行

[2018-07-07 04:22] #42449 closed, assigned to nobody

[2018-07-07 05:16] ericzolf commented on #42249
Understood for most cases but the backquoted example is something different, it failed with a jmespath error.

[2018-07-07 05:59] justjais commented on #42420
@apitanga yes your understanding is nearly correct, module code in current scenario tries to get the object based on the the `host_record name` and `view`, where view is DNS and if user doesn't mention view it'll go as `default`. As a result of this `get_object` fails and doesn't return the reference of the `host_record` and hence unable to `delete` existing `host_record` object.
This behavior can

[2018-07-07 06:17] sepatus88 opened #42453 "hello"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-07-07 08:07] MatrixCrawler commented on #40782
I had the wrong branch in the PR. Fixed it

[2018-07-07 08:41] byumov commented on #39768
I fixed this issue by killing old ansible processes, which were running on host from which i run ansible.

[2018-07-07 08:41] #39768 closed, assigned to nobody

[2018-07-07 09:05] apollo13 commented on #38472
Just confirmed it on both version, thank you very much!

[2018-07-07 09:06] #38472 closed, assigned to samdoran

[2018-07-07 11:18] benbro opened #42459 "s3_bucket error - Module_six_moves_urllib_parse object is not callable."
##### SUMMARY
When trying to create s3_bucket I'm getting an error.
This is a regression. Worked in ansible 2.4.
Might be related to:
https://github.com/ansible/ansible/issues/27566
https://github.com/ansible/ansible/pull/27568

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
s3_bucket

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I'm using python3:
inventories/production/hosts
[code]

#

[2018-07-07 14:03] apitanga commented on #42420
Yep, here, right?

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/net_tools/nios/api.py#L320-L321

[2018-07-07 15:03] gregsheremeta opened #42460 "nmcli bridge-slave returns "Error: invalid or not allowed setting 'bridge-port'""
##### SUMMARY

nmcli bridge-slave returns "Error: invalid or not allowed setting 'bridge-port'"

Relevant lines of code in nmcli.py:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/net_tools/nmcli.py#L1000

[code]

To work around, I commented out the 3 'bridge-port' lines in nmcli.py

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nmcli

##### ANSIBLE VERSION

[code]

###

[2018-07-07 19:53] louwrentius commented on #36615
I have the same issue when setting up a bond interface.

[2018-07-07 19:55] ivanbaldo commented on #42427
Hello.
Feel free to close if you don't deem necessary to support Ubuntu 16.04 LTS.
I already worked around it by commenting the problematic code in the module (love how easy it is to do these sort of things on Python code!).
Reported it just in case its useful for you to know and maybe fix it.
BTW if you decide to keep it open, the needs_info tag should be removed, since all the info is in the rep

[2018-07-07 21:31] BondAnthony commented on #42314
Hi @hkhme, I've looked at your playbook and ran the same content. I'm not running into any issues creating or deleting domains. I've included the output from the playbook execution, my output looks slightly different from yours.

When the domain already exists I would expect the following output:

[code]

When removing the domain I would expect this response:

[code]

Response from removing a doma

[2018-07-07 22:03] fxfitz commented on #33577
@dagwieers Thanks for the update! Really appreciate the clarity.

[2018-07-07 22:10] bbaassssiiee commented on #17194
I’ll check..

[2018-07-07 23:00] sbaerlocher opened #42466 "win_file: fails if the folder already exists with the attributes hidden."
##### SUMMARY
If the folder on the Windows system the attributes hidden, the the role fails. The error message is that the folder does not exist.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Ubuntu/CentOS

##### STEPS TO REPRODUCE
Create a folder on a Windows device.
[code]
Ansible Task
[code]

##### E

[2018-07-08 04:21] s-hertel commented on #42427
The bot removes the tag after getting a response @ivanbaldo

Heh, forgot we included that in 2.6 and didn't notice it in your traceback @ivanbaldo, sorry.

And ahah...figured out some of my confusion. So I was testing old boto3 and botocore versions with Python3. Which are apparently not python3 compatible. ;-)

Are you able to update your package on the Ubuntu machine? Imagining some modules will

[2018-07-08 04:29] davistran86 commented on #42404
Hi, I just installed new ansible host with ansible 2.5.5 and can run the playbook with no issue. Not sure what happened with my current ansible host. So I will close this now, thanks :)

[2018-07-08 04:29] #42404 closed, assigned to nobody

[2018-07-08 05:49] willthames commented on #42427
Thanks for the extra testing @s-hertel. I have a fix for assign_ipv6 in the works, but I want to get the test suite right to be able to perform tests for sensible selections of botocore.

I'm thinking about declaring that, in general, we support botocore no older than 1 year before the last supported release, which would get us to 1.4.55, released 1 year before 2.4.0 (however, we wouldn't backport

[2018-07-08 06:03] Admin9705 commented on #42162
Same here, had to reverse my project due to the 2.6 upgrade for https://plexguide.com - rewrote project and locked at 2.55 - I get numerous questions about 2.6 due to the init error

https://plexguide.com/threads/init-issues-6-004.1493/

This is just information to assist others.

[2018-07-08 07:01] willthames commented on #42427
There are some nasty default behaviours in ec2_vpc_subnet.

If you don't pass assign_instances_ipv6, because it defaults to `no`, it will remove the ipv6 subnet associations from the subnet.

I'd rather that not passing assing_instances_ipv6 retains existing ipv6 subnets, but that will break the test suite. This feels like I'm opening a can of worms!

[2018-07-08 09:31] Saloshp opened #42469 "'loop' behaviour is inconsistent with 'with_items'"
##### SUMMARY
'loop' behaviour  is inconsistent with 'with_items'

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
loop

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

DEFAULT_JINJA2_EXTENSIONS(/opt/git/munio/ansible.cfg) = jinja2.ext.loopcontrols

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I expected loop to be consistent with 'with_items', an

[2018-07-08 10:52] mixja commented on #18469
You can also run Ansible in CodeBuild, which is what I do to overcome this.
This is a pretty powerful on-demand approach.

[2018-07-08 11:45] felixfontein commented on #41468
@mattclay How should we proceed on this (or whom else should I ask about it)? I think the test container is ready (in https://github.com/felixfontein/ansible-acme-test/tree/master/docker-container), and the tests in #41626 are also ready.

[2018-07-08 13:10] felixfontein commented on #35779
I created a PR for this (#42472).

[2018-07-08 13:46] sivel commented on #42118
This was introduced in https://github.com/ansible/ansible/commit/e707e71ec52

I've started a fix in https://github.com/ansible/ansible/pull/42475

[2018-07-08 13:49] sivel commented on #24709
See https://github.com/ansible/ansible/issues/39849#issuecomment-387412095

This was later investigated, and determined that you must urlencode your URLs to ensure the `+` is not converted to a space.

[2018-07-08 13:53] sivel commented on #15250
Yes.  Homebrew is an unsupported means of installing ansible, and we have no intentions of changing this position.

[2018-07-08 14:00] sivel commented on #42293
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In particular, we believe you have said:

   * Vars supplied to a role are not being exposed to the remainder of the playbook.

However

[2018-07-08 14:00] #42293 closed, assigned to nobody

[2018-07-08 14:10] sivel commented on #42469
`loop` and `with_items` are indeed not equivalent.  `loop` is equivalent to `with_list`.  `with_items` performs an implicit flattening that `loop` does not.

These conversions are described at https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#migrating-from-with-x-to-loop

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.f

[2018-07-08 14:10] #42469 closed, assigned to nobody

[2018-07-08 14:43] bauerd opened #42476 "k8s module's `src` parameter does not read from local filesystem"
##### SUMMARY

The `k8s` module's `src` parameter is supposed to read from the local file system:

… but the path passed as the `src` value is tried to be read on the remote machine.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg:

[code]

##### OS / ENVIRONMENT

Darwin abacus.local 16.7.0 Darwin Kernel Version

[2018-07-08 14:54] sivel commented on #42352
This is ultimately a duplicate of https://github.com/ansible/ansible/issues/34591

The above issue is just a special condition where the value of the string is `"false"`

[2018-07-08 14:58] sivel commented on #42334
The error explicitly indicates that this cannot work:

This restriction exists as when parsing `import_tasks`, ansible does not have access to host vars.  The reason is that `import_tasks` is a pre-processor, and cannot be conditional, and using a host var or fact, may cause pathing to change depending on the host.

As such, you will need to convert your `import_tasks` to `include_tasks` to suppor

[2018-07-08 14:58] #42334 closed, assigned to nobody

[2018-07-08 15:49] sivel commented on #42301
I have a potential change to add this functionality at https://github.com/ansible/ansible/pull/42478

[2018-07-08 15:57] sivel commented on #42236
This is expected.  Attributes applied to `include_role` are not inherited by the tasks within.  The attributes only apply to the `include_role` itself.

This is described throughout the documentation, but most specifically at https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#dynamic-includes-and-attribute-inheritance

As of 2.5.2, you can use the following syntax:

[cod

[2018-07-08 15:57] #42236 closed, assigned to nobody

[2018-07-08 15:58] sivel commented on #42192
I'm going to close this as a duplicate of https://github.com/ansible/ansible/pull/41295

[2018-07-08 16:02] sivel commented on #42180
This was resolved in https://github.com/ansible/ansible/pull/39563 and recently included in the v2.6.0 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-07-08 16:02] #42180 closed, assigned to nobody

[2018-07-08 16:03] sivel commented on #42160
needs_info

[2018-07-08 16:11] sivel commented on #42152
Just as an fyi `connection: local` does nothing to the interpreter configuration, it would utilize whatever `ansible_python_interpreter` was defined, or the typical fallback of `/usr/bin/python`.

Including `localhost` in the inventory, will default ansible to call the module using `/usr/bin/python`.  This is documented at https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#how-d

[2018-07-08 16:18] sivel commented on #42150
Ansible has never officially supported the `validate` option for the file module, and was never documented.

In v2.5 from the code:

https://github.com/ansible/ansible/blob/096757a6a3552cf8d7e1a95e593701b6ebbff798/lib/ansible/modules/files/file.py#L194

In the 2.6 release that argument was removed as part of https://github.com/ansible/ansible/pull/39345

Of note, even though the `file` module acce

[2018-07-08 16:18] #42150 closed, assigned to nobody

[2018-07-08 16:25] ivan-kolmychek opened #42479 "Add an option to treat warnings like fatal errors"
##### SUMMARY

It would be nice to have a configuration flag that would allow all warnings to be treated like fatal errors, so user can opt into getting an feedback if something is wrong in the playbook as early as possible, before any changes are actually made and (if possible) without any connections being open.

I can see this being used, for instance, to test via CI changes to playbooks submit

[2018-07-08 17:05] s-hertel commented on #40530
Thanks for opening the issue @asantos82. This is due to how boto reads the credential files. Since porting the s3_bucket module to boto3 (Ansible 2.6) this works (that's also why aws_s3 works; it uses boto3). Because porting the module to boto3 is a feature we can't really backport the solution, unfortunately. :-( The workaround pre-ansible 2.6 would be to specify those credentials in the task usi

[2018-07-08 17:05] #40530 closed, assigned to nobody

[2018-07-08 17:16] ivanbaldo commented on #42427
Wow! Amazing! Thanks to you both!

@s-hertel I am using various other AWS modules without problems, though I made some "bug" reports like this one before and they were fixed by avoiding unsupported parameters in old versions of Boto.
If doing those workarounds/checks is too much work then don't worry, it probably isn't worthwhile.
Most people will upgrade to Ubuntu 18.04 this month when it gets of

[2018-07-08 17:40] s-hertel commented on #42427
@willthames Yeah, it seems safer that it would default to None and only alter existing subnets if true/false is specified for it. It's stableinterface, but we could change that with a deprecation period. Maybe if you have a fix it should be merged separately first so it can be backported before cleaning up/adding deprecation warnings for the rest of the can of worms.

cc/@ryansb in case he has opi

[2018-07-08 18:16] sivel commented on #42476
I'm going to classify this as of now as a documentation report.

The facility required to achieve this functionality, is to create a corresponding action plugin for this module, and have it potentially copy the file to the target machine and read as needed.  This would work whether the target is remote or local.  Several action plugins do this, such as the one for the `uri` module or `patch`.

In

[2018-07-08 22:51] nusenu opened #42484 "regression in user module on FreeBSD 11.1 target starting with v2.6.0: always 'changed'"
##### SUMMARY
the user module always returns 'changed' on FreeBSD targets (does not happen on Debian targets)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
user module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

```ansible-config dump --only-changed``` is empty

##### OS / ENVIRONMENT
Target: FreeBSD 11.1

##### STEPS TO REPRODUCE

using ansible < 2.6.0:
clone https://github.com/nu

[2018-07-09 00:32] geerlingguy commented on #42162
I ran into this today as well, I’ll check and see if I’m using docker-py or docker.

[2018-07-09 00:38] theit8514 opened #42485 "Obscure error message with 'ansible-vault create'"
##### SUMMARY
I am new to Ansible, so I am trying to use an existing repo to build on what I want to get done. This repo has an ansible.cfg that contains a relative path vault_password_file setting (see below).

When running the playbook, I get the error message:

So I found the command I need to create the .vault-password file, but I keep getting the error message.

It seems like it's reading the

[2018-07-09 01:02] theit8514 commented on #42485
Sorry to bother you guys, I had things backwards. The .vault-password file contains the password, there was another file with the actual vault data which is the target of the ansible-vault command.

[2018-07-09 01:02] #42485 closed, assigned to nobody

[2018-07-09 01:57] bpiper opened #42486 "AttributeError: 'S3' object has no attribute 'delete_lifecycle_configuration'"
##### SUMMARY
Since Ansible 2.6.0, managing an S3 bucket's lifecycle with `s3_lifecycle` is failing when `state` is `absent`.  This seems to be related to changes in https://github.com/ansible/ansible/pull/40161, which ported s3_lifecycle to boto3.  I believe I am currently using the latest versions of boto, boto3 and botocore, as shown below.  A colleague of mine (also running Ubuntu) is also exp

[2018-07-09 02:40] yungezz opened #42489 "azure_rm_virtualmachine with load balancer."
##### SUMMARY

Expect azure_rm_virtualmachine could work with load balancer.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-07-09 04:38] felixfontein commented on #42162
@geerlingguy You'll need `docker >= 2.3.0` until this is fixed (i.e. #40839 is merged and a new version containing it released).

[2018-07-09 04:49] gotojeffray commented on #39295
Hi There, I got the same problem here:
The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_O7AaWn/ansible_module_grafana_dashboard.py", line 335, in <module>
    main()
  File "/tmp/ansible_O7AaWn/ansible_module_grafana_dashboard.py", line 299, in main
    mutually_exclusive=[['grafana_user', 'grafana_api_key']],
  File "/tmp/ansible_O7AaWn/ansible_modlib.zip/ansible/mod

[2018-07-09 05:39] yungezz opened #42491 "azure_rm_virtualmachine with network interface and security group in another resource group"
##### SUMMARY

One of customer asked for below scenario:
create a azure VM with network interface and security group in another resource group.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-07-09 06:06] willthames commented on #34196
Using 2.5.6 or 2.6.1, I still encounter this problem

Playbook
[code]

Role:

[code]

The role works fine (only the anothertag fires) but include_role or import_role appear to respond to the `tags: always` rather than the `--tags=anothertag`

[code]

If I remove the `tags: always` from the block, then the import_role filters correctly but the include_role doesn't. I'd like to use include_role with

[2018-07-09 06:15] ptux commented on #42039
@disappear89

this is not a bug of synchronize_module.

check your /etc/rsyncd.conf on `bla.blub.com`.

in this case, `[tmp]` section should be in the  /etc/rsyncd.conf.

[2018-07-09 06:17] willthames opened #42492 "Cannot use ansible.utils.vars.load_options_vars provided vars in tags"
##### SUMMARY
With the changes to how tags interact with include_roles etc., there seems to be a need to pass the tags passed through to the role

The problem here is that include_role converts the contents of `tags` to a list, before templating it.

So although `tags: {{ ansible_run_tags }}` should be converted to a list of tags, it's converted to a list containing the template - later templating

[2018-07-09 06:19] willthames commented on #34196
https://github.com/ansible/ansible/issues/42492 raised for the problem of using `ansible_run_tags` variable with `include_role`

[2018-07-09 06:29] yuwzho commented on #33661
You can try this guide to solve your dependency problem

[2018-07-09 07:01] Akasurde commented on #42492
cc @sivel

[2018-07-09 07:10] ptux commented on #41624
@hjun881

你提供的信息太少了。

如果你能提供更完整的信息，我愿意帮你分析一下。

[2018-07-09 07:31] Admin9705 commented on #42162
This comment is off, but between ansible 2.6, dockerpy (call it the dockerpy-of-death) and that error likes to show up; some serious fixes need to be made to either catch or prevent the errors.

[2018-07-09 07:38] ptux commented on #41182
I cloud NOT reproduce this bug.
It's working for me.

So, cloud you specific follow?

 - playbook WITHOUT vars
 - status of src BEFORE executing playbook
 - status of dest AFTER executing playbook

[2018-07-09 07:39] #42162 closed, assigned to nobody

[2018-07-09 07:55] ptux commented on #42039
synchronize_module supports rsync via ssh, which sync from the `control machine` to a `remote target`.

but what you want to do is sync files from `a remote target` to `another remote target`.
I tried, it seems not work, currently.

[2018-07-09 07:57] 116davinder commented on #42388
i am using vagrant on windows to run ansible playbooks.

Its still failing even after setting ansible_config value.

[root@controller ]# echo $ANSIBLE_CONFIG
/home/vagrant/projects/DevOps-Projects/

[root@controller mapr-ansible-paysafe]# ls -lh ansible.cfg
-rwxrwxrwx. 1 vagrant vagrant 73 Jul  9 07:43 ansible.cfg

[root@controller mapr-ansible-paysafe]# ansible -m ping all -i environment/XXXX/clu

[2018-07-09 07:58] disappear89 commented on #42039
Okay please close this issue.

[2018-07-09 07:58] #42039 closed, assigned to nobody

[2018-07-09 07:59] sieben commented on #42382
Could this bug be assigned to me?

[2018-07-09 07:59] sieben commented on #42372
Could this bug be assigned to me?

[2018-07-09 08:12] Akasurde commented on #42479
resolved_by_pr #42480

[2018-07-09 08:12] andrenarchy opened #42495 "DNSimple still uses v1 API (shut down)"
##### SUMMARY

Creating a new TXT record fails with `API v1 is no longer available, please upgrade to API v2. See https://blog.dnsimple.com/2018/03/api-v1-shutdown-notice/`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

dnsimple

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The DNS record gets

[2018-07-09 08:16] sieben commented on #42431
@mhalano Could this dynamic inventory help you: https://github.com/ansible/ansible/pull/41658?
@s-hertel I'm going to look into this. Do you think https://github.com/ansible/ansible/pull/41658 could be merged before I implement the compose feature?

[2018-07-09 08:41] adamsem commented on #42407
Sorry, my bad it's nothing to reproduce, module azure_rm_loadbalancer do not include configuration for azure "Inbound NAT rules"  in load ballancer configuration. I think is not implemented yet for ansible azure SDK (https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-network/azure/mgmt/network/network_management_client.py)  "def inbound_nat_rules".

[2018-07-09 08:50] Akasurde commented on #42495
@andrenarchy Thanks for reporting this issue. Could you please check what version of `dnsimple-python` you are using ?

I am able to access dnsimple API using 1.0 and onwards and for 0.3.6 I am getting -

[code]
Thanks

needs_info

[2018-07-09 08:57] andrenarchy commented on #42495
In fact I was using 0.3.6. However, after updating it to 1.1.0 it's still giving me the same error. Is there a way to check which version ansible is using?

[2018-07-09 09:02] yuwzho commented on #30392
Hi Matt @nitzmahone , today I take a look at the VM module and consider this bug. Currently the VM module's behavior is accepting a list `remove_on_absent` when `state == 'absent'`.

https://github.com/ansible/ansible/blob/d7c3d5501bdc7482a330fb7b29ad8dd7ed3683b6/lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py#L253-L258

NSG is not in the list now. And IMO, I don't think we should add N

[2018-07-09 09:08] #42019 closed, assigned to nobody

[2018-07-09 09:10] #42333 closed, assigned to nobody

[2018-07-09 09:11] #42331 closed, assigned to nobody

[2018-07-09 09:21] #42175 closed, assigned to nobody

[2018-07-09 09:27] #42261 closed, assigned to nobody

[2018-07-09 09:31] Akasurde commented on #42495
I am not sure how you are getting same error with 1.1.0
You can check dnsimple-python version as
[code]
For me, it is 1.1.0

[2018-07-09 09:58] taozongwang commented on #37492
I find the same error in the Huawei device,how deal with? @ansibot

[2018-07-09 10:12] IvanovOleg opened #42497 "azure_rm_virtualmachine ignores CoreOS version"
##### SUMMARY

The azure_rm_virtualmachine module ignores OS version and install the latest available
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7
##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

Container Linux by CoreOS alpha (1814.0.0)
##### ACTUAL RESULTS

Container Linux by CoreOS alp

[2018-07-09 10:31] nusenu commented on #42484
@vbotka: thank you for your comments, but even after removing the `shell:` line and adding "" to the `name:` the problem persists

[2018-07-09 10:31] TvL2386 commented on #39553
This is weird behavior imho. Running ansible version 2.6.1.

I created a symlink:
[code]
I forgot to set user and group to "tom", so after this command with "--become" the root user owns the symlink. If I had not forgotten to add "user=tom group=tom", the symlink would have been correct.

So now I would think to just redo the command with "user=tom group=tom" added, however this changes the permis

[2018-07-09 10:35] char543 opened #42498 "Cant Restore Mattermost ( Postgres ) Database With Ansible"
##### SUMMARY
Unable to restore Postgres database inside container using ansible. Ansible modules, shell commands and shell scripts via ansible can not restore db inside docker container. When executed manually from same backup it works. When commands have been run from ansible that were successful on any container, the container/s consistently restarts.

##### ISSUE TYPE
 - Bug Report

##### COMP

[2018-07-09 10:43] jborean93 commented on #37492
This sounds like it could potentially be because of https://github.com/paramiko/paramiko/issues/584. There are 2 Python libraries that use the namespace `gssapi`;

* https://github.com/sigmaris/python-gssapi - older unmaintained but still used by paramiko
* https://github.com/pythongssapi/python-gssapi - newer, maintained but is incompatible with the above

The 1st is the older library that is use

[2018-07-09 10:53] Ramneekkhurana opened #42499 "Unable to iterate over members while creating pool and associating members to it"
##### SUMMARY
I am using latest module for "bigip_gtm_pool" and trying to associate two members to my pool at the same time, it's not working with iteration as it tries to recreate the pool again and instead of adding new member it just replaces the previously associated one.

code snippet 👍
[code]

variable file 👍
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
bigip_gtm_pool

#####

[2018-07-09 11:19] jurgeng74 commented on #41957
I have found the root cause. It was a permissions problem in Zabbix. I had made an account special for ansible in Zabbix, but this account did not seem to have enough permissions to link templates.

I tested your code with various accounts and then found the issue.

Thanks very much all your efforts for helping me out and my apoligies for overlooking this.

[2018-07-09 11:19] #41957 closed, assigned to nobody

[2018-07-09 11:32] benbro opened #42501 "s3_bucket error with Minio - GetBucketVersioning NotImplemented"
##### SUMMARY
When trying to create a [minio](https://minio.io/) bucket with s3_bucket I'm getting an error because minio doesn't support bucket versioning.
This is a regression. Worked in ansible 2.4.
Might be after the migration to boto3:
PR https://github.com/ansible/ansible/pull/37189

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
s3_bucket

##### ANSIBLE VERSION
[code]

##### CONFIGURA

[2018-07-09 11:46] dagwieers commented on #42294
@jborean93 It seems we did have tests that broke because of that regression, but we didn't recognize them as such when they happened: https://github.com/ansible/ansible/pull/37763 :-)

[2018-07-09 11:49] jifox opened #42503 "ios_linkagg add member interfaces is failing"
##### SUMMARY
The assignment of the interfaces to a port-channel fails.

The port-channel will be created. Tested on

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_linkagg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
...
ansible-config dump --only-changed
DEFAULT_ROLES_PATH(/home/ansible/ansible/develop/ansible.cfg) = ['/home/ansible/ansible/develop/roles', '/home/ansible/ansible

[2018-07-09 11:52] benbro commented on #42501
I'm getting similar errors for GetBucketRequestPayment and GetBucketTagging:
[code]
[code]

A temp workaround for minio is to comment out the GetBucketVersioning, GetBucketRequestPayment and GetBucketTagging parts:
[code]
[code]
[code]

[2018-07-09 11:56] agaffney commented on #42388
The `ANSIBLE_CONFIG` env var should point to a file, not a directory.

[2018-07-09 12:06] m4r10k commented on #41577
Just an update: I wasn't able to test this and it might need some days, as I will be on vacation soon. But I will try it, as soon as I am able to. Sorry for the delay! :blush:

[2018-07-09 12:34] D3DeFi commented on #41957
No problem :) Glad you found the source of it

[2018-07-09 12:45] bow opened #42506 "docker_service module fails even though all containers are built and run as expected"
##### SUMMARY

I repeatedly stumble on failures when using the `docker_service` module to build and run my containers. Upon using `-vvv`, I see that the module has `rc: 0` and then the `module_stderr` just has `"Shared connection to <IP> closed." message`. The `module_stdout` attribute is a very long string from the Docker daemon that basically says all my containers were built and are running as

[2018-07-09 12:49] adamsem commented on #39352
I have the same errorin 2.5 it's fixed in 2.6?

[2018-07-09 13:02] toreanderson opened #42507 "junos_users blindly assumes sshkey parameter is an RSA key"
##### SUMMARY

`junos_user` module blindly assumes `sshkey` parameter contains an RSA key. This makes it fail on other key types (like ED25519 for example).

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

junos_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(`ansible-config dump --only-changes` yields no output)

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

#

[2018-07-09 13:15] parmstro commented on #42160
Will do. Will get back to you in a few...

[2018-07-09 13:36] Akasurde commented on #41616
@ckurdekar Any news ?

[2018-07-09 13:37] parmstro commented on #42160
[root@parmstro cvpublisher]# ansible-playbook -i hosts main.yml

PLAY [Starting publishing of this months content views] ******************************************************************************************************

TASK [Gathering Facts] ***************************************************************************************************************************************
ok: [sat6.parmst

[2018-07-09 13:39] parmstro commented on #42160
Here is the business side of the playbook.

---
# This playbook implements the task of updating the rule for a content view
# and publishing the content view to Library

- name: Get the Content View Rule ID for the Content View
  command: "hammer --output=json content-view filter rule list --content-view-filter={{ content_view_filter }} --content-view={{ item }} --organization={{ organization }}"

[2018-07-09 13:42] clementtrebuchet opened #42511 "The ios_linkagg search for interfaces may return wrongs interfaces name"
##### SUMMARY

We are trying to create a Port-channel with the ios_linkagg module, we found the way the interfaces are parsed with the regexp seems wrong, and it takes wrong interface name in other configuration section than the parent section.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_linkagg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Ent

[2018-07-09 13:42] #42108 closed, assigned to gdpak

[2018-07-09 13:46] ribbons opened #42512 "YAML files with extension are ignored in inventory directory under Python 3."
##### SUMMARY

YAML files with extension are ignored in an inventory directory under Python 3.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

inventory/yaml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux x84_64

##### STEPS TO REPRODUCE

* Use Python 3 for Ansible controller
* Set inventory path to a directory
* Enable the 'yaml' inventory p

[2018-07-09 13:50] #42242 closed, assigned to webknjaz, Qalthos

[2018-07-09 14:32] fxfitz commented on #41842
@jamescassell Looks like we'll be getting this added in via #42482 :-)

[2018-07-09 15:00] vbotka commented on #42484
With FreeBSD 11.2 both controller and host and Ansible 2.6.1 the playbook [1] succeeded for the 1st time [2] and then crashed [3]. -vvv output is here https://pastebin.com/DfJF30yZ

[1]

    - name: 'Test user module'
      hosts: vm3
      gather_facts: no
      tasks:
        - name: Create user
          user:
            name: test
            system: yes
            createhome: no

[2018-07-09 15:06] trishnaguha commented on #40264
resolved_by_pr https://github.com/ansible/ansible/pull/39874

[2018-07-09 15:15] #40264 closed, assigned to nobody

[2018-07-09 15:27] #42301 closed, assigned to nobody

[2018-07-09 15:34] sebastian-marinescu commented on #42388
I've stumbled upon the same issue, and I don't want a global cfg for all my projects, I need a project-relative configuration. So how can I fix this for me?

[2018-07-09 15:37] AngellusMortis commented on #42388
`pip install ansible==2.6.0` until the devs decide how they want to handle this.

[2018-07-09 15:57] peterjanes commented on #40561
I ran into the same error with a different module ([`ghetto_json`](https://github.com/FauxFaux/ansible-ghetto-json)) and finally tracked it down to having saved its license in a file called `ghetto_json.license` in the `library` directory. That is, Ansible was trying to run `library/ghetto_json.license` as a module rather than `library/ghetto_json`. (I suspect the original report failed because An

[2018-07-09 15:58] rockandska commented on #41531
Personal use case solved by using a custom filter: https://github.com/ansible/ansible/pull/41618#issuecomment-403528562

[2018-07-09 15:58] #41531 closed, assigned to nobody

[2018-07-09 16:03] bcoca commented on #42512
this probably affects 'all' inventory plugins, though some use `.endswith` instead of splitting the exception outright.

[2018-07-09 16:12] abadger commented on #42160
The documentation isn't good here (you have to know a bit about the jmespath specification) but this is working as designed.  jmespath does not operate on a json string.  It operates on a data structure in the program's language which contains json serializable types.  So you can't operate directly on cmdOutput.stdout.  But you can use the from_json filter to make something you can operate on:

[c

[2018-07-09 16:12] #42160 closed, assigned to nobody

[2018-07-09 16:16] mhalano commented on #42431
@sieben This pull request resolves my problem. I just mention a little bug on your code on pull request itself. Beside that this solution closes this bug.

[2018-07-09 16:16] abadger commented on #42512
I believe @sivel submitted a PR to fix this (by using to_text) this weekend.

[2018-07-09 16:18] abadger commented on #42512
https://github.com/ansible/ansible/pull/42475

[2018-07-09 16:19] sieben commented on #42431
Thanks :) feel free to close when you see fit

[2018-07-09 16:24] #42118 closed, assigned to nobody

[2018-07-09 16:30] itewk commented on #36615
just ran into this myself

[2018-07-09 16:43] shaded0 commented on #41906
Unfortunately I am a bit stuck trying to get this setup on my local before I test the ansible update to tower. Sorry on the slow progress on this.

Looking through a few older threads on how to get kerberos for python/windows setup working on my rhel7 virtualbox but getting stuck here with the gcc, kerberos libs, etc. dependencies -- mainly now with pykerberos. I think once I get this I can alias

[2018-07-09 17:14] talhajilal commented on #39639
Thanks !

On Fri, Jun 29, 2018 at 10:54 AM Evan Stoner <notifications@github.com>
wrote:

[2018-07-09 17:21] eric-b-hymowitz opened #42524 "at module should allow direct time-of-day specification"
##### SUMMARY
The `at` module allows users to specify a command to be run a specific number of minutes/hours/days/weeks in the future. However, the underlying `at` command allows (and arguably more often uses) a specific day/date/time to be chosen instead of a time delta in the future.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

at

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2018-07-09 17:37] feisa opened #42527 "Ansible IOSXR Issue"
##### SUMMARY
I am trying to the following ansible job
---
- name: iosxr backup
  gather_facts: false
  hosts: edge_routers
  tasks:
   - name: Backup current switch config (iosrx)
     iosxr_config:
       backup: yes
     #register: backup_iosxr_location
     #when: ansible_network_os == 'iosxr'

##### ISSUE TYPE
 - errors

##### COMPONENT NAME
iosxr module

##### ANSIBLE VERSION
nsible-playbook

[2018-07-09 17:48] parmstro commented on #42160
Awesome. Thanks. That works. Understanding when to and when not to use some of these filters/commands would be very beneficial for those of use that have less understanding of the specs. :-) I will see what I can do.

[2018-07-09 18:51] huegelc commented on #34924
Works, thx.

[2018-07-09 19:06] jborean93 commented on #42294
@dagwieers yea we have some tests scattered throughout but not part of the smoke tests. The PR expands ond those tests and makes it part of the smoke test collection.

[2018-07-09 19:09] #42249 closed, assigned to nobody

[2018-07-09 19:29] bcoca commented on #42497
!component azure_rm_virtualmachine

[2018-07-09 19:31] bcoca commented on #42498
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-07-09 19:31] #42498 closed, assigned to nobody

[2018-07-09 20:19] selivan opened #42530 "hostname module error inside LXD containers: Failed to activate service 'org.freedesktop.hostname1': timed out"
##### SUMMARY

In LXD contaiers hostname module fails with error `Failed to activate service 'org.freedesktop.hostname1': timed out`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

hostname

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

LXD containers host: Ubuntu 18.04 bionic
LXD version: 3.0.1
Container: Ubuntu 16.04 xenial

##### STEPS TO REPRODUCE

* Launch

[2018-07-09 20:22] ivanbaldo commented on #38299
Still happening to me.
Not setting the target_type parameter but it gets auto-assigned to "instance" by default and then passed as parameter to Boto which doesn't understand it because its old.

[2018-07-09 20:37] bcoca commented on #42524
What we actually want to do is create 'date time' filters to allow passing the data to modules, i.e:

`-  at: timespec='{{tomorrow|to_epoch}}'|

[2018-07-09 20:39] ivanbaldo opened #42532 "AWS s3_bucket Bucket policy failed to apply in the expected time"
##### SUMMARY
The S3 bucket gets created correctly but the module fails.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
s3_bucket

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=7200s
COMMAND_WARNINGS(/etc/ansible/ansible.cfg) = True
DEFAULT_FORKS(/e

[2018-07-09 20:54] hangsu-ma opened #42534 "apt_repository module does not work behind proxy on ubuntu"
##### SUMMARY

apt_repository is calling apt-key when adding new repo source. apt-key does not respect http_proxy env var nor Acquire::http::Proxy specified in apt conf files. However it does support proxy setting passed in from --keyserver-options parameter. Current apt_repository is missing logic to handle keyserver-options.
Therefore apt_repository will not be able to add new repo behind proxy

[2018-07-09 21:52] ivanbaldo commented on #33021
Now the SslPolicy parameter is required, but the docs doesn't say that it is required.
Shouldn't be optional?
I couldn't test if this works now, since it is failing at first use for me.
I will file a separate bug report.

[2018-07-09 21:53] andrenarchy commented on #42495
Turned out ansible is ignoring my virtualenv and I had dnsimple installed globally too. After updating the global one it worked as expected. Thanks!

[2018-07-09 21:53] #42495 closed, assigned to Akasurde

[2018-07-09 22:00] jacksonp2008 opened #42539 "Throwing Errors (sometimes) when deleting vmware snapshot"
##### SUMMARY

Seeing error and failed job on tower when deleting snapshots.  Not sure why as it's only a small percentage of the time, generally these jobs run successfully.  Note that it also appears to actually complete the removal of the snapshot, but still throws an error.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest_snapshot

##### ANSIBLE VERSION

[code]

##### CONFIG

[2018-07-09 22:03] ivanbaldo opened #42540 "elb_application_lb Unknown parameter in input: "Type""
##### SUMMARY
elb_application_lb fails with "Unknown parameter in input: "Type", must be one of: Name, Subnets, SecurityGroups, Scheme, Tags

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elb_application_lb

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -C -o ControlMaster=auto -o ControlPer

[2018-07-09 22:06] ivanbaldo commented on #42540
Commenting line 244 in module_utils/aws where it says:
params['Type'] = self.type
workarounds the problem if you are creating an Application Load Balancer.

[2018-07-09 22:12] ivanbaldo commented on #33021
Ok, now tested and it works (with required SslPolicy), reports as unchanged.
The remaining question is thus: should the SslPolicy parameter be required or optional?
If it really should be required, then the docs need to be updated.
If it really should be optional, then the code must allow it to be optional.
Thanks!!!

[2018-07-09 22:22] Alex5252 opened #42541 "Feature for module vmware_guest.py to set BIOS / (recommended) or EFI (GuestOsDescriptor/FirmwareType)"
##### SUMMARY
Can you please add feature for module vmware_guest.py to set BIOS / (recommended) or EFI for Boot Options in VM Options?

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_guest.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04.4 LTS

##### EXPECTED RESULTS
When creating a virtual machine, to be able to use BootFirmwareType option, with the default opt

[2018-07-09 22:56] willthames commented on #38299
@ivanbaldo still happening with which version of ansible?

[2018-07-09 23:21] willthames commented on #34196
So,

[code]

works, but

[code]

does not (which I think is what @sivel was suggesting was fixed from 2.5.2 onwards)

[2018-07-10 01:00] bhdicaire commented on #24152
Hello, do we have a status on this issue ?

@cpu : I have access to several macOS devices and I'm ready to team with someone to write a PR.

[2018-07-10 01:21] skg-net commented on #41549
@ansibot bot_status

[2018-07-10 01:23] skg-net commented on #41549
bot_status

[2018-07-10 01:27] bridgegh opened #42544 "Ansible 2.6 fatal: [127.0.0.1]: FAILED! => {"msg": "module (terraform) is missing interpreter line"}"
##### SUMMARY

I am now receiving an error after upgrading from ansible 2.5.5 to ansibe 2.6 using the terraform module. This had been working with no errors previously
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Terraform Module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4 (Maipo)
##### STEPS TO REPRODUCE

[code]

[2018-07-10 03:40] ONE-Luffy commented on #35645
How did you solve this problem in the end？

[2018-07-10 03:42] ONE-Luffy commented on #35645
@Darcidride   hi，   I have two servers, the ansible version is also 2.5.5. However, one of them is ok and the other one is not.The grammar is the same.Is there any other details that I didn't notice?

[2018-07-10 03:45] ONE-Luffy commented on #33058
@zhangguanzhang    Not yet resolved in version 2.5.5?

[2018-07-10 03:56] Akasurde commented on #42544
@bridgegh I see there is a terraform state file present - `/home/ansible/server/server/vsphere/terraform.tfstate` which is indicated by line

[code]
in log. Managing that will solve the problem.

[2018-07-10 03:59] Aethylred opened #42546 "pip segfaults when --ignore-installed is passed as an extra_args"
##### SUMMARY
Using pip with a large requirements file kills the Ansible worker. The Ansible AWX requirements.txt file does this nicely :)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

pip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.4

##### STEPS TO REPRODUCE

Clone the ansible/awx repo:
[code]

I saved the yaml file pip.yaml
[code]

Exec

[2018-07-10 04:28] #37840 closed, assigned to nobody

[2018-07-10 04:42] Akasurde commented on #42495
resolved_by_pr #42548

[2018-07-10 04:56] gdpak commented on #42527
@feisa What is the IOS-XR version and platform you are using ? Can you please check if you can execute following terminal properties manually on router after doing ssh on shell ?

[code]

[2018-07-10 05:23] markafarrell opened #42549 "Enable HTTP Authentication for url lookup"
##### SUMMARY
If a url requires authentication the lookup url functionality can not be used

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

plugins/lookup/url.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No config changes
##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

some_var is populate with the contents of file.txt (which requires authe

[2018-07-10 05:56] usharaniyerra opened #42550 "Getting 'module' object has no attribute 'OrderedDict' after upgrading Ansible from 2.0 to 2.2 though it is there in 'pip list'"
##### SUMMARY
We have recently upgraded Ansible version from 2.0 to 2.2. Later when we run the playbooks ..it is giving the error 'module' object has no attribute 'OrderedDict' . We have Python2.6 version. And as 'OrderedDict' is not there in python 2..6 collections..we have installed it seperatly using 'pip install ordereddict'. But still we are getting the issue..Please help to fix it.

##### IS

[2018-07-10 06:15] bjorntj opened #42551 "vmware_guest: Unable to set hostname to FQDN"
I am using ansbile 2.6.1 and trying to create a VM guest based on a template, using the following playbook:

[code]
When using this playbook, the hostname for the guest becomes: hostdomainno (i.e. the periods are just removed).
Shouldn't this work or?

[2018-07-10 06:30] bjorntj commented on #42551
Hmmm... Did som more research and I see we are actually using the hostname wrong. I can get the FQDN when using hostname --fqdn, so it seems that the playbook is working as it should, just a user error... :-|

[2018-07-10 06:30] #42551 closed, assigned to nobody

[2018-07-10 06:32] ericwb opened #42553 "New module to configure VMware Identity Manager"
##### SUMMARY

It would be very useful to have a module to configure vIDM (VMware Identity Manager). Specifically for things like adding/removing applications to the vIDM catalog.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

TBD

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

N/A

[code]

##### EXPECTED RESULTS

N/A
##### ACTU

[2018-07-10 06:41] Fred-sun commented on #42497
I meet same problem when use ansible to deploy VM , But az command not have this problem.

[2018-07-10 06:47] avishefi opened #42554 "Improper Windows modules cmdlets output handling"
##### SUMMARY
win_share and win_unzip fail due to MODULE_STDOUT containing invalid JSON - prefixed with what looks like the output of some cmdlets during the execution of the module.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`win_share`, `win_unzip`

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
RHEL 7.5 (Maipo)

##### STEPS TO REPRODUCE
Use `win_unzip` and `win_share` several t

[2018-07-10 06:52] Fred-sun commented on #42497
I meet same problem when use ansible to deploy VM , az command  have same problem.

[2018-07-10 06:59] avishefi commented on #42554
`win_unzip` produces the errors when using `become: yes`, however, on my tests the errors disappear when using `become: no`. The text that appears before the JSON is the path to the dest directory.

[2018-07-10 07:41] mrsombre commented on #42388
Problems on Vagrant shared folder too, it is 0777 only mode for folders in this case and can't be changed.
Please, add check that CWD folder == folder containing playbook file, and then do not check for world writable. Or maybe try to find ansible.cfg in the same folder as playbook file? Would be helpful for vagrant on windows users.

[2018-07-10 07:53] HouzuoGuo opened #42559 "Unexpected failure at "splitting arguments" for a valid YAML scalar content block"
##### SUMMARY
Unexpected failure at "splitting arguments" for a valid YAML scalar content block.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(empty output)

##### OS / ENVIRONMENT

Linux 4.14 on x86_64

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Task execution begins for task "a".

##### ACTUAL RESULTS

[code]

[2018-07-10 07:58] richard-scott opened #42560 "Installing packages via apt ignores RUNLEVEL on Ubuntu 18.04"
##### SUMMARY

When installing new packages and you don't want then to start you used to be able to set an environment variable of RUNLEVEL: 1. This no longer works on Ubuntu 18.04, but works on 16.04
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed from install.

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO REPR

[2018-07-10 08:16] #38883 closed, assigned to nobody

[2018-07-10 08:26] mihai-satmarean opened #42561 "'class' is not a valid variable name from include_* vars section but is valid as a command line argument"
##### SUMMARY
When using the extravars commandline argument to pass a value to a variable called **class**, used inside the playbook we get no warning. When using the same variable name when calling the same playbook with the include call specifying the variable **class** in the vars section, we get the following error.

`"Invalid variable name in vars specified for TaskInclude: 'class' is not a v

[2018-07-10 08:32] yuwzho commented on #38883
For the managed_disk update, here need to send the `create_option`, otherwise the `managed_disk` will  think you want to change this cannot-be-updated field.

Besides the `create_option`, the `storage_account` is also needed. All these parameters can be get from facts module. Here is my example.

Before you try the playbook, you need to install  the latest bit by:

[code]

[code]

[2018-07-10 08:51] yungezz commented on #40824
fix merged. close this for now.

[2018-07-10 08:51] #40824 closed, assigned to nobody

[2018-07-10 09:09] Fred-sun commented on #39352
I have tried in ansible 2.6 version, It has same error ( it can create loadbalancer successfully, but when ran second time, it will get this error, not meet ansible idempotence  ), maybe it will fixed on next ansible version , Thanks!

[2018-07-10 09:42] mohag opened #42563 ""bad symbolic permission for mode:" error on directory creation"
##### SUMMARY
"bad symbolic permission for mode:" error when creating directories from an item list.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

file module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default config

##### OS / ENVIRONMENT

Managing CentOS 7 from CentOS 7.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Directories should be created with the correct

[2018-07-10 09:46] mohag commented on #42563
It seems like a case of the mode being converted from octal to decimal and then failing due to being in decimal.

[2018-07-10 09:47] alter commented on #42162
2.6.1 the same issue, rollback to 2.5.5 helped.

[2018-07-10 09:54] mohag commented on #42563
#31952 seems to be related.

The documentation seems to imply ("Giving Ansible a number without following one of these rules will end up with a decimal number which will have unexpected results.") that it will attempt to use the decimal number received. This does not seem to be the case. (I'm interpreting that as "777" decimal is different permissions from 0777 (octal) and using the former will re

[2018-07-10 10:24] philfry opened #42564 "ansible 2.6.0: mysql_user doesn't honor authentication_string w/mariadb 10.3"
##### SUMMARY
the `mysql_user` module doesn't honor the `authentication_string` column when setting/checking a user's password on a MariaDB 10.3.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
1. install mariadb 10.3
2. run these sql queries:
[code]
3. run the playbook show be

[2018-07-10 10:28] ilanni2460 opened #42565 "docker_container don't Support docker tag"
SUMMARY
We use docker_container to create a docker container
this docker registry is docker.ga096.cn/cfds/crm:1.0.0.20180503_CRM

ISSUE TYPE
Feature Idea
COMPONENT NAME
docker_container
this ansible playbook：
[code]

this error is：
[code]

[2018-07-10 10:32] mohag commented on #42563
A warning instead of an error, or (if possible to detect) ignoring the error if the a variable substitution took place is one fix. (The second option would be nice - it can still error out if the user directly type `777` instead of `0777`, but not if it came through a variable)

A relevant sample in the documentation is another. (Or a comment in the samples)

Another might be to allow the error to

[2018-07-10 10:51] kannancet commented on #42117
I hit the same issue with home brew and ansible `2.6.1`. Downgraded and reinstalled with pip to `2.5.5`. Can we merge the fix for this to `2.6.1`?

[2018-07-10 10:54] colin-nolan commented on #29427
@Dmitry1987 KV retrieval should be supported as of https://github.com/ansible/ansible/pull/37837. Please submit a bug report if it doesn't work for you.

[2018-07-10 10:55] colin-nolan commented on #29427
resolved_by_pr 37837

[2018-07-10 10:57] valscion commented on #42117
@kannancet subscribe to https://github.com/ansible/ansible/pull/42483 and you will see when the backport is merged to 2.6.x.

This fix didn't make the cut to 2.6.1, but hopefully some later patch release for 2.6.x will also get a fix for this

[2018-07-10 11:01] #29427 closed, assigned to nobody

[2018-07-10 11:14] vkakhnych opened #42566 "Request for `wait_for` reopen rotated file like `tail -F filenme` feature."
##### SUMMARY

We use `wait_for` to look for a special string's pattern in log file.
But it doesn't re-open this file if it was rotated. Unfortunately our log can be few times rotated till there will be needed string (long application deploy with a massive logging).
Is it possible to add some option like `retry/follow` for the same behavior like `tail -F filename`?

##### ISSUE TYPE
 - Feature Ide

[2018-07-10 11:24] frisbee23 opened #42567 "log_plays doesn't log taskname"
i seem to be missing the task name and/or module name in the ansiblelog.

 i'm using this version of the log_plays plugin ATM https://github.com/ansible/ansible/pull/37470

 as this stackoverflow suggests https://stackoverflow.com/questions/37559412/ansible-console-output-and-log-levels:
"Note that the the templated task name is not available inside v2_runner_on_* methods"
some code is neccersary,

[2018-07-10 11:30] bridgegh commented on #42544
After  deleting the vSphere state file, it ran successfully. I had deleted the state file for the Infoblox Terraform Plan but not for the vSphere Plan. I had previously commented out the role for vSphere, just to test Infoblox for reserving IP addresses and create hostname records. Thanks for pointing that out, I appreciate the help.

[2018-07-10 11:30] #42544 closed, assigned to nobody

[2018-07-10 11:34] vkakhnych opened #42568 "Merge group variables in case of array type variables"
##### SUMMARY
In case of simple variables, all group's variables can be merged and we can use group with default and override some specific variable . But in case of array variables, whole array will be substituted with the last defined (more specific) group.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
group variables

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

ansible-config dum

[2018-07-10 12:01] ZouYuhua commented on #41133
@shibumi
I am trying to reproduce this issue using ansible. As I know, Ubuntu 18.04 have different images:
ubuntu-18.04-server-cloudimg-amd64.ova
ubuntu-18.04-desktop-amd64.iso
ubuntu-18.04-server-amd64.iso
ubuntu-18.04-live-server-amd64.iso

I am not sure which image do you use to create VM template ?

Now I reproduce this issue as the following steps:

1. deploy a  VM with ubuntu-18.04-server-cl

[2018-07-10 12:07] duanzhanling commented on #42565
cat > startContainer.yml << "EOF"
---
- hosts: '{{ host }}'
  remote_user: root
  vars:
    app_name: crm
    docker_image_name: docker.ga096.cn/cfds/crm
    tag_name: 1.0.0.20180503_CRM
    port_name: 8082

  tasks:
    - name: Install docker-py
      pip: name=docker-py

#    - set_fact: loginuser={{ login.stdout }}

    - name: pull docker image
      docker_image:
        name: "{{ docker_imag

[2018-07-10 12:09] tripledes opened #42569 "nmcli module always sets hairpin mode to 1 for bridge slaves."
##### SUMMARY

Using `nmcli` module for creating/managing bridges, always sets `hairpin_mode` to 1, no matter what value is set on the playbook (no, yes, true or false).

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nmcli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed.

##### OS / ENVIRONMENT

Ansible running on Arch Linux, managed machines are CentOS 7.

##### STEPS

[2018-07-10 12:30] sieben commented on #42382
You would have to do a `PATCH` of this URL:

`https://api.scaleway.com/servers/<YOUR_SERVER_UUID>/user_data/cloud-init`

with the following payload:

[code]

[2018-07-10 12:31] sieben commented on #42382
I'm going to get started on adding this feature on the `scaleway_compute` module

[2018-07-10 12:31] Darcidride commented on #35645
@ONE-Luffy unfortunately, i don't have a clear solution to give you about this issue.
in my case, after 3 or 4 executions, the playbook pass through the 'unarchive' task in its own...
Maybe it was an Ansible bug or maybe a temporary network issue, i can't know...

I hope you will find a fix for your issues, it bother me a lot when it cames to me. :)

[2018-07-10 12:58] es1o commented on #42117
I have the same problem.
My use case:
1. I use ssh connection with user without admin privileges
2. I change user to other user also without admin privileges

User that I change to doesn't have permissions to /var/tmp/ansible-tmp-532523452... and my playbook fails.

[2018-07-10 13:03] cpu commented on #24152
As far as I know there hasn't been any change in status since my last comment.

@bhdicaire Awesome! This issue occasionally crosses my mind and I'd love to see it addressed.

I'm not a maintainer and haven't contributed any PRs to the project but would be happy to help team up from a planning/review perspective if that would be helpful.

At a high level I think there are two paths forward:
1) Tryi

[2018-07-10 13:05] dnaresh65 commented on #30255
how to   resolve issue  ansible to windows modules win_package uninstall:

"changed": false,
    "module_stderr": "An error occurred while creating the pipeline.\r\n    + CategoryInfo          : NotSpecified: (:) [], ParentContainsErrorRecordException\r\n    + FullyQualifiedErrorId : RuntimeException\r\n \r\nException calling \"Run\" with \"1\" argument(s): \"Exception calling \"Invoke\" with \"0\

[2018-07-10 13:16] codeman65 commented on #36915
Ok, maybe I am just being obtuse but I do not see a way with the new modules to get the tags currently assigned to a VM.

[2018-07-10 13:18] dnaresh65 commented on #30837
[WARNING]: FATAL ERROR DURING FILE TRANSFER: Traceback (most recent call last):   File "/usr/lib/python2.7/dist-packages/ansible/plugins/connection/winrm.py", line
276, in _winrm_exec     self._winrm_send_input(self.protocol, self.shell_id, command_id, data, eof=is_last)   File "/usr/lib/python2.7/dist-
packages/ansible/plugins/connection/winrm.py", line 256, in _winrm_send_input     protocol.send

[2018-07-10 13:22] Akasurde commented on #42539
resolved_by_pr #42575

[2018-07-10 13:22] Akasurde commented on #42539
@jacksonp2008 Can you please try above PR and let me know if it works for you ? thanks,

[2018-07-10 13:23] hkhme commented on #42314
@BondAnthony Thanks, it's really strange behaviour. Yesterday, it was working with some domains names but consistently failed on others. I then upgraded dopy to 0.3.7 and today it's consistently working even with the ones that we're failing yesterday. I can't reproduce it consistently.

[2018-07-10 13:23] #42314 closed, assigned to nobody

[2018-07-10 13:31] hentisemmle commented on #37738
Can somebody confirm that this is behaviour is expected or not. Is there is way to add multiple ssk keys to azure_rm_virtualmachine?

[2018-07-10 13:32] Akasurde commented on #42553
@ericwb Thanks for reporting this feature request.

[2018-07-10 13:42] #42256 closed, assigned to nobody

[2018-07-10 13:49] #42479 closed, assigned to nobody

[2018-07-10 13:50] bcoca commented on #42512
closed via #42475

[2018-07-10 13:50] #42512 closed, assigned to bcoca

[2018-07-10 13:51] bcoca commented on #42044
Im not sure this is a bug, since you can dynamically add hosts to a group afterwards

[2018-07-10 13:56] schmiddy commented on #29996
This definitely still happens on 2.4. I ran into the same error with ansible 2.4.3, trying to update an ASG with min = 1, desired = 1, and max = 10. It doesn't happen every time, and another engineer tells me that wrapping retries around the operation "fixes" the problem as subsequent attempts eventually work.

[2018-07-10 14:12] shadowlord017 commented on #29858
Same error for ansible 2.5.3
Dot in the end of value does not help (using alias like "dualstack.<name>.<region>.elb.amazonaws.com.")

[2018-07-10 14:14] dbrouss commented on #42200
I'm having the same issue, commands that take too long to complete are an issue.  I don't want to set a global setting in the INI file, and  I cannot seem to get the environment variable to take effect.  The documentation for network_cli appears to state that persistent_command_timeout is a possibility, but it does not appear to work:" https://docs.ansible.com/ansible/2.5/plugins/connection/networ

[2018-07-10 14:18] ITD27M01 commented on #42044
@bcoca

The core problem not in ability to manage groups but in presents of empty named group. This is a poisonous group that can lead to non-obvious consequences.

Static inventory does not allow to create empty named group there is no any ability. And plugin should check the names of groups also - At least check an empty string.

[2018-07-10 14:22] #42084 closed, assigned to nobody

[2018-07-10 14:29] gateszeng commented on #39201
I think I have a potential workaround.
Although not completely the same, I believe if you know the exact responses that you'd have to give to the prompts then you can insert those responses after your command, separated by new line characters and double quotes surrounding the entire command.
I tried this on the enos_command module and it worked, although I'd imagine the same thing applies to the o

[2018-07-10 14:30] backaf opened #42581 "aws_batch_job_definition doesn't accept True for privileged option"
##### SUMMARY

When using the aws_batch_job_definition module to define `privileged: True` or `privileged: yes` it fails with the following error:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

aws_batch_job_definition

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian Stretch

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Playbook shoul

[2018-07-10 14:34] bcoca commented on #42044
individual plugins can have diff rules, i agree an empty name is an invalid group, but a group w/o hosts is not something i see as wrong by definition.

[2018-07-10 14:35] feisa commented on #42527
I was able to get this to work, please close the ticket. Cisco ASR's are considered IOS for Ansible

[2018-07-10 14:37] bcoca commented on #27351
So this seems to be specific to `ansible_ssh_host` as `ansible_winrm_host` does display the correct output. This is probably caused by some of the old 'special behaviour' assigned to `ansible_ssh_host`.

[2018-07-10 14:51] sweenig commented on #39201
I tried this with ios_command a few minutes before you posted and it didn't work initially. Then i realized that everyone who had suggested this had put it in quotes and I hadn't. Make sure you try it with quotes.

[2018-07-10 14:56] ITD27M01 commented on #42044
@bcoca
Sorry for my English. This issue is not about empty groups or groups without hosts. This issue is about groups with names as empty string like this:

https://github.com/ITD27M01/ansible-openstack-bug/blob/master/openstack-inventory.json#L2

[2018-07-10 15:04] feisa opened #42583 "Ansible ASA Issue"
##### SUMMARY
Receive the following error when running a playbug
##### ISSUE TYPE
 error

##### COMPONENT NAME
asa_config

##### ANSIBLE VERSION
ansible 2.6.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/share/my_modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7

[2018-07-10 15:05] bcoca commented on #42044
ok, that clearly is an error.

[2018-07-10 15:10] UnitedMarsupials commented on #33101
@athman, that's only "easy" for people with superuser access. I use Ansible to maintain my own home-directories and ssh-keys on hundreds of machines. Being unable to do that with the older RHEL-5 servers is a big disappointment. I'd understand, why Ansible developers may not want to create _new_ code maintaining backwards compatibility, but they could've kept the already-written implementations --

[2018-07-10 15:10] bcoca commented on #42044
see if this patch fixes it for you
[code]

[2018-07-10 15:17] coom commented on #37984
Hi everyone,

Is it normal that this does not work anymore with ansible 2.6.1 ?

I'm trying this simple playbook :

[code]

But it result in an error :
[code]

[2018-07-10 15:21] sieben commented on #42382
@mhalano https://docs.ansible.com/ansible/2.6/modules/cloud_init_data_facts_module.html#cloud-init-data-facts-module Could this help you?

[2018-07-10 15:28] ITD27M01 commented on #42044
Crashes with error when plugin returns group with empty name:
[code]

Looks like raised by add_child

https://github.com/ansible/ansible/blob/devel/lib/ansible/inventory/data.py#L255

[2018-07-10 15:28] ryansb commented on #42427
I think the general standard of `[release date] - 1 year` is good. It might be worth enforcing in the same place we do `HAS_BOTO3`, so people can get that feedback about the older boto3/botocore versions without having to open an issue with us.

[2018-07-10 15:30] novmar opened #42585 "word "tasks" in role path causes template search problem"
##### SUMMARY

role in directory ending wiht "tasks"  cause  template search problem
e.g. when i place  my role in dircotry containing tasks ( roles/sometasks/somerole)  then searching for templates is messed up.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lib/ansible/modules/files/template.py

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

archlinux,
Linux 4

[2018-07-10 15:31] bcoca commented on #42044
that seems fine, that is an error in the plugin itself, just wanted to ensure that the 'common code' is now behaving correctly.

[2018-07-10 15:44] jw34 opened #42586 "execute mysql stored procedure."
##### SUMMARY
Ability to execute mysql stored procedures from  within an ansible playbook.

##### ISSUE TYPE
 - run mysql stored procs from ansible.

##### COMPONENT NAME

##### ANSIBLE VERSION
ansible 2.7.0
  config file = None
  configured module search path = ['/home/user/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /home/user/dir/venvs/gen

[2018-07-10 15:44] novmar commented on #42585
!component  -lib/ansible/modules/cloud/amazon/aws_eks_cluster.py
!component  -lib/ansible/modules/cloud/amazon/aws_kms.py
!component  -lib/ansible/modules/cloud/amazon/aws_s3.py
!component  -test/integration/targets/aws_eks/playbooks/roles/aws_eks/defaults/main.yml
!component  =lib/ansible/modules/files/template.py

[2018-07-10 15:48] mhalano commented on #42382
@sieben I need to try, but I don't think so. This is a module to _get_ information about cloud-init execution. The proposed feature is to _put_ content to be executed with cloud-init.

[2018-07-10 16:12] bcoca commented on #42550
This is not Ansible in general but the `profile_tasks` callback plugin, which requires OrderedDict, you can disable it for now as a work around.

Also note that 2.2 is currently not supported.

[2018-07-10 16:18] sieben commented on #42382
I'm starting to develop something. Once I got something ready I will open a
pull request and ask for your review. I'm thinking about doing it in a
separate module (scaleway_userdata) rather than in the scaleway_compute.
What do you think?

Le mar. 10 juil. 2018 à 17:49, Marcos Alano <notifications@github.com> a
écrit :

[2018-07-10 16:26] cdelgehier opened #42588 "[ansible 2.6] os_user requires openstacksdk>=0.12.0"
##### SUMMARY
I can't create user with ansible 2.6 with an openstacksdk-0.9.17 (pike)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_user

##### ANSIBLE VERSION

[code]
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]
##### STEPS TO REPRODUCE

Create a user with `os_user` in ansible 2.6 with the python2-openstacksdk-0.9.17-1.el7.noarch package

##### EXPECTED RESULTS
Works with

[2018-07-10 16:47] gundalow commented on #31413
Given `rm -rf ~/.ansible/pc/*`, I wonder if the issue is that you had
* multiple instances of ansible-playbooks running at the same time
* shared (networked) homedirectory
* playbooks were managing the same switches

[2018-07-10 17:06] sevs44936 commented on #40445
I was doing some cleanup and noticed I've still got my local override for this bug, is there any update on this available?

[2018-07-10 17:18] smalleni commented on #41507
Hi, using
  vars_files:
    - vars/{{((test|default('')).ansible|default('')).vars|default('install.yml')}}
where, test,ansible.vars is passed on the cli.

I'm seeing ansible.errors.AnsibleFileNotFound: vars file vars/{{((test|default('')).ansible|default('')).vars|default('install.yml')}} was not found

[2018-07-10 17:41] palmersample opened #42590 "ios_vlan.py always updates VLANs > 900"
##### SUMMARY

When using ios_vlan to create VLANs, some of them are always updated.  Examples - 100,200,300 are created initially and not updated in subsequent runs, but 900 and 1000 will show 'updated' on every playbook run.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_vlan

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/lsample/source/ansible/devices

[2018-07-10 17:44] shibumi commented on #41133
@ZouYuhua nothing wrong. But as I said: This issue is clearly related to open-vm-tools.

[2018-07-10 17:51] webknjaz commented on #42546
Could you please provide us with log of failing command with `ANSIBLE_DEBUG=1 ` env var?

[2018-07-10 18:04] #39791 closed, assigned to nobody

[2018-07-10 18:14] sonclay opened #42592 "VMs Are Created in Wrong Cluster When There are Multiple Resource Pools with the Same Name"
##### SUMMARY

When creating a VM in a datacenter with multiple clusters and the clusters have a resource pool named the same as the others, the VM is placed in the wrong cluster
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7.4
##### STEPS TO REPRODUCE

Create datacenter1 with clusterA & clusterB,

[2018-07-10 18:46] sgreiner commented on #42388
I think  I found a solution for 2.6.1 and so on...

Create this file in your wsl: /etc/wsl.conf

Content:

[code]

After that all /mnt/c/foo will have different folder permissions (not 777 any more) and you will be able to use chmod.
It requires you to have the latest WSL as far as I know.
[wsl.conf docs](https://docs.microsoft.com/en-us/windows/wsl/wsl-config)

[2018-07-10 18:56] lsample54946 commented on #42590
It appears that there is an issue on line 221, in function "parse_to_logical_rows"

To check each parsed config line, a conditional is set:
if '0' < l[0] < '9':

This appears to be checking the first character of each string from the command 'show vlan brief' - but it's going to fail if the VLAN is 900.

Changing this to
if '0' < l[0] <= '9':

appears to fix this issue.  However, it was observed t

[2018-07-10 19:21] mtnbikenc opened #42594 "Inventory parsing warnings"
##### SUMMARY

When parsing ini inventory files, warnings are presented about parse failures, however, all hosts and variables are imported properly.  This appears to be related to a change starting with Ansible 2.4.2, which still exists on devel.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEP

[2018-07-10 19:35] sonclay commented on #42592
I see there's already an issue related to this, with a fix I just tested successfully. https://github.com/ansible/ansible/issues/38043

I'm going to close.

[2018-07-10 19:35] #42592 closed, assigned to nobody

[2018-07-10 19:43] bcoca commented on #40729
So figured out the problem, its not 'mistaking' things, pull reads the extra vars in, but then passes the 'parsed' version to playbook, I'm not sure how to get the unparsed version back to pass through.

[2018-07-10 19:51] bcoca commented on #42594
the failures always happened, they were just silent before.

To remove those warngins you can just customize https://docs.ansible.com/ansible/latest/reference_appendices/config.html#inventory-enabled and remove plugins you don't use or adjust the order.

[2018-07-10 19:53] #42438 closed, assigned to nobody

[2018-07-10 20:07] HD650 commented on #41108
Still happen in ansible 2.6, I'm now tracking the reason.

[2018-07-10 20:12] bmaupin opened #42596 "Paramiko ignores timeout setting"
##### SUMMARY
`timeout` in ansible.cfg appears to be ignored when using paramiko.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
paramiko_ssh

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

    [defaults]
    timeout = 60
    transport = paramiko

##### OS / ENVIRONMENT

Control machine: Ubuntu 16.04 64-bit
Managed node: RHEL 7 64-bit

##### STEPS TO REPRODUCE

    ansible-playbook --co

[2018-07-10 20:12] bandit145 opened #42597 "VMware: vmware_guest_facts does not report IP address of F5 Big IP load balancer"
##### SUMMARY

vmware_guest_facts does not report IP address of an F5 Big IP load balancer.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect the result to mirror what vmware-tools  is reporting to vcenter. I took a peak a

[2018-07-10 20:17] Rikairchy commented on #42597
We saw this issue as well last week. A fix or workaround would be awesome.

We've already tried using vm_shell but for some reason the F5s refuse to talk to Ansible.

[2018-07-10 20:49] ckupe commented on #42597
I saw this issue as well on VMWare vCenter 6.0. Virtual Machines with guests that run virtual interfaces that dont have the IP address bound to the virtual NIC replicates this issue.

changing the method of how ipv4 and ipv6 facts is gathered from vm.guest.ipAddress instead of redundant representation from the virtual NIC interfaces is a solution to this.

[2018-07-10 21:13] #29962 closed, assigned to nobody

[2018-07-10 21:17] geerlingguy commented on #42162
Switching to `docker` from `docker-py` fixed it for me; builds are passing on this project https://travis-ci.org/geerlingguy/php-apache-container/builds/402407239

[2018-07-10 21:17] mercury00 opened #42599 "Quoted text literals being converted to boolean by set_fact"
##### SUMMARY
When setting a variable to a string in quotes or double quotes, ansible is not treating it like a string (as advertised) and treating it like a boolean.
(Advertised here:  https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html )
under the 'gotchas' section:
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
When using the template feature specifically,

[2018-07-10 21:39] mercury00 commented on #42599
You can see from the last msg that ansible is properly setting the string to a literal by itself (need_svcgssd is no), but set_fact is not treating string literals like string literals. Everything changes when I try to set_fact.

Since I have more than one machine to play the role on, I'm setting the host's specific config via a dictionary where the hostname: {var1: "yes", var2: "--switch", var3:

[2018-07-10 21:50] maxamillion commented on #42594
For reference, I requested this be filed as an issue ticket because I thought it to be a bug and had bisected it down to aa98ffb7a8113e54ef62efa9b823d155eae556e9 but it looks like I was mistaken.

[2018-07-10 22:37] BruceChapmanNec commented on #32888
Problem still exists in 2.5.2

[2018-07-10 23:12] #41713 closed, assigned to nobody

[2018-07-10 23:12] #42185 closed, assigned to nobody

[2018-07-10 23:12] #42294 closed, assigned to nobody

[2018-07-10 23:37] willthames commented on #38299
Thanks @ivanbaldo, that will definitely help

[2018-07-11 01:54] markafarrell commented on #42549
See PR https://github.com/ansible/ansible/pull/42603 for fix

[2018-07-11 02:14] Tzrlk commented on #38296
Why exactly is this closed? Is this something that should be fixed here? Or in the kubernetes client?

[2018-07-11 02:20] fabianvf commented on #38296
In Ansible 2.6 the k8s_raw module was renamed to k8s and fully reworked (alongside the python client). Now the group+version+kind should work properly.

[2018-07-11 02:31] Aethylred commented on #42546
Here's the debug output:
[pip-debug.txt](https://github.com/ansible/ansible/files/2182756/pip-debug.txt)

[2018-07-11 02:38] BondAnthony commented on #42314
Just a note, this module no longer uses dopy.

[2018-07-11 03:01] Tzrlk opened #42605 "Incorrect Padding error during k8s module operation"
##### SUMMARY
When attempting to use the k8s module to deploy a ClusterRole component used in Traefik, an error is produced citing "Incorrect Padding" related to the kube config.
**All related files:** https://gist.github.com/Tzrlk/b5ecafe3eb5adeabeed4796b5b33f1a9

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/work

[2018-07-11 04:21] marcosgeorgopoulos opened #42606 "Spacing breaks ios_config idempotency"
##### SUMMARY
Spacing breaks idempotency when using the src option with ios_config module

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
'ansible 2.5.3'

this works

[code]
this doesn’t

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I expected it to detect the configuration already exists a

[2018-07-11 04:51] Aethylred commented on #42546
Ok, my iterative workaround might have a similar problem:

[code]

[2018-07-11 04:53] Aethylred commented on #42546
It looks like even though the remote connection is established as root, it fails to have permission to alter temporary files.

...but it works if I remove the --ignore-installed argument.

[2018-07-11 04:55] abadger commented on #42388
Okay, the comment in https://github.com/ansible/ansible/issues/42388#issuecomment-403926971 is the equivalent of advice we'd tell people mounting an ntfs or vfat filesystem under Unix so I think that is the correct solution here.

For people using ANSIBLE_CONFIG (correctly... as agaffney notes, it needs to point to a file not a directory), please check whether the config file is *actually* being i

[2018-07-11 04:55] willthames commented on #42605
Looks like an issue with your ~/.kube/config file - it seems to be trying to base64 decode something that is not properly base64 encoded.

Without your kube config it's impossible to debug further. This is happening at the kubernetes python module level, well below the k8s module.

[2018-07-11 05:02] willthames opened #42607 "playbook group_vars directory not read by ansible or ansible-inventory"
##### SUMMARY
group_vars in the playbook directory are no longer being read by `ansible` or `ansible-inventory` since de0e11c0d

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
inventory/hosts
[code]

group_vars/all (not inventory/group_vars/all)
[code]

##### EXPECTED RESUL

[2018-07-11 05:09] willthames commented on #42607
Judging by the commit message, this is likely intentional but breaks existing functionality (I quite often use `ansible -m debug -a var=some_vaulted_var hostname` to cope with the lack of `ansible-vault decrypt_string` (hint hint #34776))

[2018-07-11 05:23] #42605 closed, assigned to nobody

[2018-07-11 05:55] willthames commented on #42605
You could probably confirm this by doing `echo $cert_data | base64 -D` and seeing if it looks like a proper certificate (should start with a line like `-----BEGIN CERTIFICATE-----` and end with `-----END CERTIFICATE-----` - the key will be similar, as will the CA)

[2018-07-11 06:18] stefjakobs opened #42611 "vmware_guest can not find datacenter if it contains umlaut"
##### SUMMARY
If I try to create a new vm in a datacenter which contains a umlaut, ansible is not able to find the datacenter.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ALLOW_WORLD_READABLE_TMPFILES(/root/ansible/ansible.cfg) = True
ANSIBLE_NOCOWS(/root/ansible/ansible.cfg) = True
ANSIBLE_PIPELINING(/root/ansible/ansibl

[2018-07-11 06:43] yuwzho commented on #39903
From my understanding, I think the best way is to call the facts module at first, to get the parameters that you don't want to change. This is also a reason why the facts modules exist.

I would like to write the playbook like this:

[code]

[code]

[2018-07-11 06:49] agardnerIT opened #42612 "failed_when with multiple conditions not working."
##### SUMMARY

failed_when not working with multiple conditions:

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
failed_when

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu Desktop
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

If one of those strings is **not** present, it should fail that task.

##### ACTUAL RESULTS

Even when one of those str

[2018-07-11 06:56] thatsk commented on #15735
what if there are mutiple common task defined as generic and they are taking as paramter and want to start at task ?

[2018-07-11 06:58] thatsk commented on #15735
---
- name: Syncing pulp
  hosts: pulp server
  any_errors_fatal: True
  tasks:
  - include_tasks: /etc/ansible/inventories/playbooks/common/pulprpmcheck.yml
    with_items:
      - { rpmname: 'rpmname1' }
      - { rpmname: 'rpmname2' }

- name: Starting deployment
  any_errors_fatal: True
  hosts: node2
  tasks:
  - name: Running puppet & checking rpms are deployed or not
    block:
      - incl

[2018-07-11 06:59] thatsk commented on #15735
what if i want to start with --start-at-task='Running puppet & checking rpms are deployed or not' ?

[2018-07-11 07:49] dhurtakolha opened #42614 "vmware_guest - VM instantiation with IPv6 errors out"
##### SUMMARY

I am trying to create VMs with IPv6 address assignments using Ansible vmware_guest module. Specifying IPv6 address and IPv6 Gateway address under "network" config option throws the following error after VM creation
Failed to create a virtual machine : A specified parameter was not correct: spec.nicSettingMap.adapter.ip.ipAddress

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

[2018-07-11 07:49] wpou commented on #41960
Hi,

Dummy ruleset attached.

Thanks.

[nsg.txt](https://github.com/ansible/ansible/files/2183460/nsg.txt)

[2018-07-11 07:53] NilashishC commented on #42590
@lsample54946 The bug related to VLAN numbers starting with '9' was also reported at https://github.com/ansible/ansible/issues/42242. The patch for it was added in Ansible devel branch - https://github.com/ansible/ansible/pull/42247. Will be adding in 2.6 & 2.5 as well.

[2018-07-11 07:53] yuwzho commented on #37738
notabug

Hi @hentisemmle , write the `ssh_public_keys` as a list of dict, which contains the `authorized_keys` path and the `key_data` will solve your problem.

[code]

[2018-07-11 07:58] #37738 closed, assigned to nobody

[2018-07-11 09:11] ZouYuhua commented on #41133
@shibumi  Yes. This issue is  related to open-vm-tools.    I can reproduce it and the developer will do analysis for it.

[2018-07-11 09:51] Fred-sun commented on #42497
update, I meet same problem when use ansible to deploy VM, az command not have this problem, Thanks a lot!

[2018-07-11 10:08] jparrill opened #42616 "IPAClient module_utils cannot perform an empty argument on a _post_json() call"
##### SUMMARY
There is no way to use vaultconfig_show() API because the method **_post_json()** from [module utils](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/ipa.py)always will use a **name** and an **item**, the problem is that this API doesn't need any argument, then the API answer this:

[code]

but when I skip all arguments (except login ones) I get this:

[code]

[2018-07-11 10:37] habalux opened #42617 "zabbix_host module error: "'>=' not supported between instances of 'str' and 'int'""
##### SUMMARY

zabbix_host module raises error when updating configuration values:
[code]
Error does not occur when first creating zabbix host, or when there are no changes to apply.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

zabbix_host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/xxx/ansible/ansible_base/ansible.cfg) = ['/home/xxx/ansible/ansible_base/

[2018-07-11 11:15] fizyk commented on #25168
hmmmm.... Why the docs say it's been added in 2.5? :)

[2018-07-11 11:41] Akasurde commented on #42616
@jparrill Thanks for reporting this issue. I am not sure if I understand this issue correct but let me take a stab at.

If I change `_post_json` like

[code]

then I am able to call from module -

[code]

Let me know if I understand your problem correct.

[2018-07-11 11:43] Akasurde commented on #42616
I made custom module which returns like following if I use above code -

[code]

[2018-07-11 12:08] tzachs opened #42619 "vmware_switch fails add vswitch without vNICs"
##### SUMMARY
Running 'Add a VMWare vSwitch without any physical NIC attached' example will issue Required field \"nicDevice\" not provided (not @optional) on the 2nd run
Does not happen when running the first time.
Workaround: Remove run the same Task with state: absent before

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_vswitch

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2018-07-11 12:14] Akasurde commented on #42619
@tzachs Thanks for reporting this issue.

[2018-07-11 12:16] Lambdara opened #42620 "Service module doesn't start service, always reports changed, using `service` program"
##### SUMMARY

The `service` module does not seem to do anything when instructing it to start a service. It always reports changed as well, even if the service is already started. This seems like it might be specific to machines where one uses `service`, the program (rather than for example `systemctl`)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

service

##### ANSIBLE VERSION

[code]

[2018-07-11 12:16] Akasurde commented on #42614
@dhurtakolha Thanks for reporting this issue. I will try to reproduce on my setup.

[2018-07-11 12:17] willthames commented on #25168
@fizyk that's a separate bug - can you raise a new issue and we'll get it sorted.

[2018-07-11 12:23] bogdando opened #42621 "import/include_role does not interpolate variables for the role's handlers"
##### SUMMARY
Import/include_roles with tasks_from does not interpolate variables for the imported role's handlers.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role
import_role
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(``ansible-config dump --only-changed``shows nothing)

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

The imported/included role contents:
[co

[2018-07-11 12:38] bogdando commented on #42621
!component +/lib/ansible/modules/utilities/logic/include_role.py

[2018-07-11 13:36] webknjaz commented on #42546
The last error is probably produced by:
https://github.com/ansible/ansible/blob/8606fb33f0e8954b588eaecec2d99b4a120fd4ad/lib/ansible/plugins/action/__init__.py#L487

[2018-07-11 13:43] jparrill commented on #42616
Yeah, that's it. I didn't want to put hands on the module_utils in the same PR, maybe to keep them separate. Make sense if I put those mixed in the same PR? (To avoid wasting time)

[2018-07-11 13:49] #42527 closed, assigned to nobody

[2018-07-11 13:50] Mathiasdm commented on #38241
It's more than that, @brainstorm . If you create a virtualenv and install both ansible and shade (using pip), it still doesn't work (shows 'shade is required for this module').

Or are there other dependencies missing that result in the same error message?

[2018-07-11 13:50] #42511 closed, assigned to NilashishC

[2018-07-11 14:28] scottmishra opened #42628 "ANSIBLE_AZURE_AUTH_SOURCE no long seems to be picking up cli authentication"
##### SUMMARY
With the release of 2.6 it seems that the azure auth source configuration is no longer picking up the cli credentials when the client_id and secret are specified. Previously, the context ignored the client_id and secret when the auth source was set to cli.
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
all azure modules

##### ANSIBLE VERSION

[code]
##### CONFIGURATION
ansible-

[2018-07-11 15:15] abadger commented on #35942
Reopenning because the previous fix will break when passwords are not utf-8 encoded.

[2018-07-11 15:19] rbeede commented on #37941
This also happens to me with:

ansible 2.6.1

Python 3.6

Python 2 is not installed at all.   Ansible was installed with:

python3 -m pip install ansible

[2018-07-11 15:21] rbeede commented on #14413
This related bug seems to be a cause of the async reboot task failing to run as @pyroxde noted earlier

#37941

[2018-07-11 15:27] jvanderaa opened #42632 "set_fact private option"
##### SUMMARY
Would like to allow `set_fact` to have option of `private`

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
set_fact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
MacOS

##### EXPECTED RESULTS
Similar to vars_prompt having a private setting, would like that to be expanded into the set_fact as well.

[2018-07-11 15:44] geekq commented on #23078
@sivel There is an easy fix for that - an additional parameter to `json.dumps` call.  I've just created a pull request.

[2018-07-11 15:49] #42004 closed, assigned to nobody

[2018-07-11 15:55] #39888 closed, assigned to nobody

[2018-07-11 16:04] bcoca commented on #42388
[code]

[2018-07-11 16:21] Akasurde commented on #42616
yes, you can change the module_utils in same PR as it is required for module. I will close this issue as resolved.

[2018-07-11 16:21] #42616 closed, assigned to Akasurde

[2018-07-11 16:33] rbeede commented on #37941
Also tried on the remote host this:

apt-get install python-minimal

Rerunning the playbook (still  pointing to /usr/bin/python3) still resulted in the async command not being run.   The command.py file could not be found.

I tried adding become: yes  and become:  no  with the same result.

[2018-07-11 16:40] Akasurde commented on #42611
@stefjakobs Thanks for reporting this issue. I am not able to reproduce this issue on Python 3 but on Python 2 it is present. Could you please try this branch https://github.com/ansible/ansible/compare/devel...Akasurde:i42611 and let me know if it works for you ? With this patch, I was able to proceed with "Prüffeld-Cluster" as datacenter parameter.

needs_info

[2018-07-11 16:40] #42459 closed, assigned to nobody

[2018-07-11 16:48] rbeede commented on #37941
If I add `export ANSIBLE_KEEP_REMOTE_FILES=1;`

I get the same result, but in my tmp folders I DO see that command.py exists with my command.

However the results_file still states that command.py did not exist.

Might be a regression related to:

https://github.com/ansible/ansible/issues/10855

[2018-07-11 16:55] matt852 opened #42636 "bigip_virtual_server ip_protocol parameter not working in 2.6.1"
##### SUMMARY

When creating a new Virtual Server on an F5, setting the ip_protocol parameter to one of specified options does not set the variable.  The VS successfully creates, but the Protocol field remains set to the default *All Protocols

I was able to fix this, and test successfully, by uncommenting 3 lines in the bigip_virtual_server.py module directly:

Line 672: 'ipProtocol', in dictiona

[2018-07-11 17:03] satishdotpatel commented on #34340
I have having same issue and i have disabled SELinux and reboot server but still having same error :(

[2018-07-11 17:09] sonclay opened #42638 "vcenter_folder creates subfolder in wrong datacenter when multiple datacenters have parent folder"
##### SUMMARY

vcenter_folder creates subfolder in wrong datacenter when multiple datacenters have parent folder
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vcenter_folder
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_RETRIES(/etc/ansible/ansible.cfg) = 2
DEFAULT_CALLBACK_WHITELIST(/etc/ansible/ansible.cfg) = ['profile_tasks']
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg

[2018-07-11 17:22] greenscar commented on #40453
In case it helps anyone:

With regards to awx and this problem, I removed the task docker container & removed the image from my local repo. I then reran a `docker-compose -f _______ up -d`  (yeah we have a customized docker setup). The point here: By removing the docker image & index, it reinstalled ansible & thus provided me the later version in my task container.

[2018-07-11 17:34] caphrim007 commented on #42636
odd. I wonder why I commented that out. will need to look.

[2018-07-11 18:15] #41012 closed, assigned to nobody

[2018-07-11 18:25] #41090 closed, assigned to nobody

[2018-07-11 18:41] nitzmahone commented on #42628
Hrm, yep, looks like a side-effect of changing the auth_source argspec default to `'auto'` from `None` in  b20a88c39d5f144077564407fe438013551ef36e - means we're never actually consulting the environment variable anymore. That change had to be made to keep our docs<->argspec compliance test happy, but in this case we need to figure out how to keep the "logical" default of `auto` while keeping the

[2018-07-11 19:16] bcoca commented on #42607
I cannot reproduce your example, if group_vars is in cwd and inventory is also there, it gets picked up.
[code]
also
[code]
Since your debug example is not using inventory .. not sure how you want that data being picked up.

if you set it via config or of if it exists in the same dir or not you WILL get different behaviours. For when inventory dir and cwd do not match, you can use `-p` option to s

[2018-07-11 19:17] stoleas commented on #42632
@jvanderaa Is this an example of what you're looking for?
[code]

[2018-07-11 19:17] zikalino commented on #42628
@nitzmahone yes, i definitely agree. i can create pr and backport pr for 2.6 for this.
but can we remove default value from the doc entirely?

[2018-07-11 19:34] drogerschariot opened #42640 "azure_rm.py returns empty list when connecting to azure resource."
##### SUMMARY
When getting an Azure inventory using azure_rm.py, I get an empty list.

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm.py

##### ANSIBLE VERSION

ansible 2.5.5
[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/home/ubuntu/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS

##### STEPS TO REPRODUCE

`python azure_rm.py --list --pretty --resou

[2018-07-11 19:52] bcoca commented on #41108
the reason is that it applies to `include_role` not to the tasks, there is a new `apply` option to include role to  allow for this in newer versions, for older versions use a block to give keywords to inherit.

[2018-07-11 19:55] ksmets commented on #42309
I run in exactly the same issue, but when trying to start various services in docker containers (for testing playbooks).

[code]

To me it seems that the additional parameters in `line 302` are the cause of the issues, because if I replace that line with `cmd = "%s %s" % (script, doit)` it starts the services perfectly.

This is a regression, as `use: service` is a workaround for the issue.

[2018-07-11 19:56] JLofgren commented on #10964
How is this new feature actually used?  It's not clear.  Can we have an example?

[2018-07-11 20:05] eric-becker opened #42642 "add vmware_guest support for programmatic association of disks to scsi controllers"
##### SUMMARY
When specifying scsi controller settings there is no option to create multiple scsi controllers.  Similarly, there is no option to specify what scsi controller a disk is assigned to.  Ideally this would look something like:

scsi:
  - { type: 'paravirtual', id: '0' }
  - { type: 'paravirtual', id: '1' }
  - { type: 'paravirtual', id: '2' }
  - { type: 'paravirtual', id: '3' }

disk:

[2018-07-11 20:17] felixfontein commented on #42565
What are the single quotes for in `image: "{{ docker_image_name }}':'{{ tag_name }}"`? If you write `image: "{{ docker_image_name }}:{{ tag_name }}"`, it should work.

[2018-07-11 20:26] robertlupinek opened #42644 "vmware_deploy_ovf module - add option for cluster"
##### SUMMARY

It would be a huge benefit to have the ability to select a cluster to deploy to when deploying to vCenter.  Many VMware environments have multiple clusters that need to be specifically targeted for deployment.

Also you rule for creating this module!  THANKS!

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

vmware_deploy_ovf module

##### ANSIBLE VERSION

[code]

##### CONFI

[2018-07-11 20:32] HD650 commented on #41108
@bcoca so no need to fix `include_role`?

[2018-07-11 20:42] Thulium-Drake commented on #28702
Hi Sivel,

Sorry for the late reply! I've been testing this, but on my system (Debian 9.4) it doesn't seem to work.

[code]

I've made the following playbook to test:
[code]

When running this, the password hash is empty, but the lookup DOES check if the file is there. See below for output when I renamed the 'default' fallback file:

[code]

When running it with the fallback file, the second warni

[2018-07-11 20:59] bcoca commented on #41108
no, same for include_tasks, import_role/import_tasks have keywords 'inherited' by the tasks , but include_X have keywords applied to THEM, not the tasks

[2018-07-11 21:18] Aethylred commented on #42546
I now have a working alternative: https://gist.github.com/Aethylred/4e9d4dca6ed44b477c9e4157afb113cc

[2018-07-11 21:47] #41261 closed, assigned to nobody

[2018-07-11 21:50] nitzmahone commented on #42628
Yes, that'd be what we'd have to do to keep the compliance test happy (so just document the logical default and the env fallback in the description of the `auth_source` arg)

[2018-07-11 21:57] #42258 closed, assigned to nobody

[2018-07-11 22:00] samdoran commented on #38472
Thank you for the follow up.

[2018-07-11 22:10] maxamillion commented on #42594
@bcoca after looking at this a little more, I think there are scenarios (including this one) where the warning message from the `ini` inventory plugin is misleading the phrasing "not valid" seems like a cause for concern but it's not because that is actually valid and the variables are processed as expected. Thoughts?

[2018-07-11 22:17] bcoca commented on #42594
the error is correct, the problem is that we are leaving 'partial updates' in inventory, it should flush out after the error and nothing in 'common' should be in inventory

[2018-07-11 22:59] #29328 closed, assigned to nobody

[2018-07-11 23:02] #25653 closed, assigned to nobody

[2018-07-11 23:30] mostfunkyduck opened #42646 "Restarting EC2 instance causes modification of termination protection and the source_dest check"
##### SUMMARY
When trying to restart an instance using the ec2 module, I noticed that the source/dest check was getting reset to 'true'.  This is what I was running:
[code]

Looking at the code, I see that at least for the stopstart and restart processes, the code will modify both the source/dest check and termination protection.  This seems like a bug to me - just because I want to restart an ins

[2018-07-12 00:41] #42344 closed, assigned to bcoca

[2018-07-12 00:43] bcoca commented on #42044
@ITD27M01 I updated the PR to make it an error outright, if a plugin needs to ignore it they can just catch the exception. Let me know if this fixes it for you (at least at general level, the openstack plugin needs it's own fix).

[2018-07-12 00:46] jborean93 commented on #42612
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * When using a list in a conditional (when, failed_when, etc), it is implicit AND as denoted by https://docs.ansible.com/ansible/latest/user_guide/playbooks_cond

[2018-07-12 00:46] #42612 closed, assigned to nobody

[2018-07-12 01:01] #42423 closed, assigned to nobody

[2018-07-12 01:06] willthames commented on #42607
bcoca, I don't really follow - I am using inventory (`-i inventory`) which contains a `hosts` file. The `group_vars` directory is under the playbook directory, not under the inventory directory.

Requiring `-p` for ansible and ansible-inventory to work with playbook-level group_vars is a breaking change that really ought to be better communicated.