[2017-08-02 18:12] mikewiebe commented on #26301
Ok, this is much better but there is still an issue.  When I run the following playbook for the first time (no bgp config present on the device) it applies cleanly.  When I run the idempotence check however it fails.

[code]

[code]

During the idempotence check the module is attempting to send an invalid command `maximum-prefix options`.  I added some debug code to write the contents of `candidat

[2017-08-02 18:22] saichint opened #27659 "nxos_snmp_user not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_snmp_user

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)

##### SUMMARY
nxos_snmp_user is not idempotent when deleting users.

##### STEPS TO REPRODUCE
playbook:

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-08-02 18:23] saichint commented on #27659
Creating snmp users may not be idempotent due to the password and authentication being encrypted.
On the other hand, even removing the users is not idempotent. Not sure why, this looks like a real issue, need further investigation. Changed the summary of the issue accordingly.

[2017-08-02 18:35] rahushen commented on #26262
@Qalthos ... this is the run on N7K hardware

TASK [nxos_bgp : Configure BGP non defaults] *************************************************************************************************************
task path: /root/agents-ci/ansible/test/integration/targets/nxos_bgp/tests/cli/sanity.yaml:52
<n7k-99.cisco.com> connection transport is cli
<n7k-99.cisco.com> using connection plugin network_cli
<n7

[2017-08-02 18:40] rahushen commented on #26262
@Qalthos .... manually applying the configs to the N7K hardware

n7k-99(config)# feature bgp
n7k-99(config)# router bgp 65535
n7k-99(config-router)# neighbor 3.3.3.3
n7k-99(config-router-neighbor)# dynamic-capability
n7k-99(config-router-neighbor)# low-memory exempt
n7k-99(config-router-neighbor)# update-source loopback151
n7k-99(config-router-neighbor)# log-neighbor-changes
n7k-99(config-router-n

[2017-08-02 18:42] rahushen commented on #26262
@Qalthos .... sh running bgp output after applying configs

n7k-99# sh running bgp

!Command: show running-config bgp
!Time: Wed Aug  2 14:53:39 2017

version 8.0(1)
feature bgp

router bgp 65535
  neighbor 3.3.3.3
    low-memory exempt
    remote-as 12.1
    log-neighbor-changes
    description tested by ansible
    shutdown
    dont-capability-negotiate
    update-source loopback151
    remove-p

[2017-08-02 18:42] rahushen commented on #26024
@Qalthos ... this is the run on N7K hardware

TASK [nxos_bgp : Configure BGP non defaults] *************************************************************************************************************
task path: /root/agents-ci/ansible/test/integration/targets/nxos_bgp/tests/cli/sanity.yaml:52
<n7k-99.cisco.com> connection transport is cli
<n7k-99.cisco.com> using connection plugin network_cli
<n7

[2017-08-02 18:42] rahushen commented on #26024
@Qalthos .... manually applying the configs to the N7K hardware

n7k-99(config)# feature bgp
n7k-99(config)# router bgp 65535
n7k-99(config-router)# event-history detail size large
n7k-99(config-router)# graceful-restart restart-time 130
n7k-99(config-router)# timers bgp 45 110
n7k-99(config-router)# neighbor-down fib-accelerate
The fib-accelerate command is to be used in a pure BGP network (all n

[2017-08-02 18:43] rahushen commented on #26024
@Qalthos .... sh running bgp output after applying configs

n7k-99(config-router)# sh running-config bgp

!Command: show running-config bgp
!Time: Wed Aug  2 14:41:03 2017

version 8.0(1)
feature bgp

router bgp 65535
  shutdown
  router-id 192.168.0.66
  cluster-id 10.0.0.1
  timers bgp 45 110
  timers bestpath-limit 255
  graceful-restart-helper
  graceful-restart restart-time 130
  graceful-res

[2017-08-02 18:58] saichint opened #27663 "nxos_vtp_domain not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vtp_domain

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)

##### SUMMARY
nxos_vtp_domain is not idempotent. it keeps setting the domain always.

##### STEPS TO REPRODUCE
playbook:

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-08-02 19:04] saichint opened #27664 "nxos_vtp_version not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vtp_version

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)

##### SUMMARY
nxos_vtp_version is not idempotent. it keeps setting the version always.

##### STEPS TO REPRODUCE
playbook:

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-08-02 19:12] #25746 closed, assigned to nobody

[2017-08-02 19:33] agolomoodysaada commented on #23705
@tstringer , first of all, sickkkk hairr bruhhh...
![hair](https://avatars2.githubusercontent.com/u/1445483?v=4&s=400)
but also, looking forward to this feature here as well... Thanks for the hard work

[2017-08-02 19:40] s-hertel commented on #27496
Thanks for opening the bug report @aks774. I can't reproduce this on stable-2.3. I think the problem may be that your ELB is still being created.
Does:
[code]
work? Perhaps an option would also be to enhance the elb module to use the `wait`/`wait_timeout` options for creation as well.

[2017-08-02 19:41] s-hertel commented on #27650
source_profile is a boto3 credentials option. The s3 module is currently using boto2. I have a pull request to port this module to boto3, but I'm still fixing it up. Would you mind testing when it looks good to go?

[2017-08-02 19:44] abhikumar-singh commented on #27496
That's what even i thought but that's not the case. I tried using the ec2_elb_facts with an ELB that was already created and even then i got an empty list as response.

[2017-08-02 19:56] marceloneil opened #27666 "win_template WriteError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- win_template
- win_copy (EDIT)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

Client: Arch Linux
Server: Windows 7 S1

##### SUMMARY

Using `win_template` produces an "Authentication or permission failure" - however, closer inspection reveals a "WriteErrorException"

##### STEPS TO REPRODUCE

Variables:

[2017-08-02 20:02] rszewczyk commented on #27650
Can do @s-hertel. Let me know when you're ready. Thanks!

[2017-08-02 20:16] gundalow commented on #19829
@mpodber1971 Can you please raise a new issue with steps to reproduce and reference this bug, thanks

[2017-08-02 20:17] jborean93 commented on #27666
Are you able to just run

[code]

I don't know why you are running it twice in your example, one with just the state and one without and then using that result for the path in the 2nd task. You only need to run the win_template task once and it will template the file on the Ansible host and then copy it to the directory specified.

[2017-08-02 20:18] jebabin commented on #26432
I have found the issue (at least partially), as you have notice, in my ios_command task there is no provider. That's because I run ansible like this:
`ansible-playbook -u myuser -k -i myinventory myplaybook.yml`

While this works perfectly for task without any "loop", when combining with with_items, then the ssh connection open for the first iteration works (my setup use paramiko and don't use per

[2017-08-02 20:22] marceloneil commented on #27666
I actually did try that, and I got the same error (although I didn't rerun it using `pywinrm`)

[2017-08-02 20:23] marceloneil commented on #27666
And there isn't really a reason why I'm running two commands (it was copied over from another playbook where I wanted random file names), I'll try without that

[2017-08-02 20:24] s-hertel commented on #27496
@aks774 Weird :( I was able to get the newly created ELB on 2.3. If you specify region in both tasks explicitly does that change anything?

[2017-08-02 20:57] toshywoshy commented on #24638
Is the password in the right format, as in crypted?
How did you generate that?
And if the user exists do you have "update_password: yes"?

[2017-08-02 21:16] marceloneil commented on #27666
With the playbook:
[code]

The output is:
[code]

Output when I run some of these commands in `pywinrm`:
[code]
Here is the longer `stderr` formatted:
[code]

[2017-08-02 21:24] vijayreddygudi commented on #15902
@robinro I am seeing an issue similar to the one filed here #18411

The scenario is,
`Role1` has `handler1` and `Role2` has `handler2`
`Role2` is included in `Role1`
Now I am notifying a task in `handler2` from a task in `Role1`.
I am not seeing the task in `handler2` triggered as it doesn't seem to be registered. Suggested workaround here is to include `Role2` at top level in the play until above

[2017-08-02 21:29] gundalow commented on #27616
do you get any more output when you use `-vvvvvv`?

[2017-08-02 21:30] marceloneil commented on #27666
Note: This also affects `win_copy`

Playbook:
[code]

Output:
[code]

Seems to be the same error

[2017-08-02 21:33] gundalow commented on #27643
Hi
The documentation[1] for the module states that requests need to be installed
It's by design that Ansible doesn't install the dependencies of all the 1,000+ modules

You can install the dependency using http://docs.ansible.com/ansible/latest/pip_module.html

[1] http://docs.ansible.com/ansible/latest/rabbitmq_exchange_module.html#id2

[2017-08-02 21:33] #27643 closed, assigned to nobody

[2017-08-02 21:41] gundalow commented on #26432
Could you please provide a sample task that fails.

[2017-08-02 21:51] jhawkesworth commented on #27666
The modules you mention definitely work on my s2012r2 systems, so it feels like the issue is something specific to your windows machines.

If I recall Win 7 came with powershell 2.  I'd be surprised if you could even connect without powershell 3 but worth checking (and updating to latest version of WMF available to you).
That 'Thread failed to start' message is one I don't think I have seen before

[2017-08-02 21:56] nmulvihill commented on #20297
I disagree that this is expected to some extent. You should be able to still run it and if it does not exist there should be a "exists" variable like on other modules. If you run this on several items in a loop it does not run if one of them is not installed. Instead it should run on all and report on the one that it is not running and does not exist. @jborean93

[2017-08-02 22:03] mikewiebe opened #27674 "(P2) nxos_reboot errors out for cli and nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_reboot

##### NXOS VERSION
7.0(3)I5(3)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
There are two problems here that can be demonstrated with the playbook that follows:

* First Issue
  * Module sends an incorrectly formatted command `terminal-dont-ask` that caused the module to error out.

* Second I

[2017-08-02 22:13] TheCapsLock opened #27675 "ansible_port is missing from vars"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vars

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

ansible.cfg :

[code]

My inventory file do not specify a port to connect to ssh, I let ansible rely on ~/.ssh/config (which also works to connect to hosts listening on non standard port for ssh connections)

##### OS / ENVIRONMENT
OS running Ansible : Ubuntu17.04
target OS : debian stretc

[2017-08-02 22:20] saichint commented on #27663
playbook error, it is working good. Closing it

[2017-08-02 22:20] #27663 closed, assigned to nobody

[2017-08-02 22:20] saichint commented on #27664
playbook error, closing the issue. working ok

[2017-08-02 22:20] #27664 closed, assigned to nobody

[2017-08-02 22:23] saichint commented on #27659
playbook error, working ok, closing the issue

[2017-08-02 22:23] #27659 closed, assigned to nobody

[2017-08-02 22:54] jebabin commented on #26432
The initially provided playbook can be used to reproduce but to give an even simpler playbook use this one:

[code]

assuming your are logged on a linux device as "gundalow" (and haven't done any su/sudo to avoid potential mismatch between env variable USER/USERNAME/LOGNAME) and you can login on the device(s) in group SW with the username "gundalow", run:
`ansible-playbook -k playbook.yml`
and it

[2017-08-02 23:29] saichint opened #27676 "(P2) nxos_vtp_password is not idempotent while removing and throws errors"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vtp_password

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)

##### SUMMARY
While removing nxos_vtp_password, it is not idempotent and throws error.

##### STEPS TO REPRODUCE
Playbook:

[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[2017-08-02 23:45] tehfink commented on #19765
+1

[2017-08-03 00:03] mabushey commented on #25710
Ansible 2.3.1.0 in swarm mode on Ubuntu 16.04.
` [WARNING]: Removed restricted key from module data: ansible_docker_gwbridge = {u'macaddress': u'02:42...`

[2017-08-03 00:04] mechastorm opened #27677 "Unable to get a role with ansible-galaxy from private Github HTTPS url via requirements.yml (but works in CLI)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

all defaults

##### OS / ENVIRONMENT

macOS Sierra Version 10.12.6

##### SUMMARY
I cannot get a role from a private github installation via HTTPs via the requirement.yml method. But it works fine direclty via the command line

##### STEPS TO REPRODUCE

This works

[code]

This b

[2017-08-03 00:18] marceloneil commented on #27666
@jhawkesworth Win 7 does come with powershell 2, however I did upgrade to [Windows Management Framework 3.0](https://www.microsoft.com/en-us/download/details.aspx?id=34595), so I am running powershell 3.0. However, it might be worth mentioning that Windows 7 is running inside a VM, although I don't see how that would affect anything.

[2017-08-03 00:51] copacetic commented on #18910
+1

[2017-08-03 00:51] ghost commented on #22726
This is fixed in 2.4 - ref #24637 discussion.

[2017-08-03 00:51] #22726 closed, assigned to privateip

[2017-08-03 01:05] gblansteen commented on #24638
toshywoshy: The format of the password would not impact the behavior noted.  It would simply generate an unusable password, but still successfully execute the "chpasswd" command.
I've created and attached a sample playbook to duplicate the behavior.  The debug output results from execution of the playbook follow.
Please note that we are now running version 2.3.1.0 of ansible.

[aix_user_test.yml.t

[2017-08-03 01:25] guotie commented on #27616
[code]

[2017-08-03 02:06] Akasurde commented on #27658
@Amruthapv Could you please elaborate more about the issue by providing - Playbook example, Expected Behaviour, Current Behaviour, Steps to reproduce, Name of module ?

This will help us to pin point the issue. Thanks for reporting this bug.

[2017-08-03 02:47] ttwwaaoo opened #27681 "if ansible dns resolved wrong then client add iptables will add wrong host"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
iptables

##### ANSIBLE VERSION
ansible 2.3.1.0
python version = 2.6.6

##### OS / ENVIRONMENT
CentOS 6.5

##### SUMMARY

when I use iptables modules. I add a IP to the rule. but when I check it on remote, I get this

ACCEPT     all  --  zubr.ru              anywhere

but remote client reslove this hostname(zubr.ru) is another IP. then I found th

[2017-08-03 02:50] owlmind commented on #24638
It looks like privilege escalation with become doesn't work with this part of the module.

What i get when i try it manually:

bash-4.2$ chpasswd -h
bash: /usr/bin/chpasswd: **The file access permissions do not allow the specified action.**
bash-4.2$ sudo chpasswd -h
chpasswd: Not a recognized flag: h
Usage:
        chpasswd [-R load_module] [-e] [ -f flags | -c ]

What i get from module:

 FAILED

[2017-08-03 03:18] #19801 closed, assigned to nobody

[2017-08-03 03:33] huoarter commented on #26890
TASK [parted -s /dev/sdb mkpart primary ext4 1M 60%] *********************************************************************************************************
task path: /root/test.yml:4
Using module file /usr/lib/python2.6/site-packages/ansible/modules/system/parted.py
<127.0.0.1> ESTABLISH LOCAL CONNECTION FOR USER: root
<127.0.0.1> EXEC /bin/sh -c 'echo ~ && sleep 0'
<127.0.0.1> EXEC /bin/sh -c

[2017-08-03 04:55] trishnaguha commented on #27630
@halberom I am unable to get this issue reproduced.
But different failure here:
[code]

[2017-08-03 05:21] trishnaguha commented on #27630
@halberom with this PR https://github.com/ansible/ansible/pull/27683 applied I am able to run the same playbook on devel 2.4.
For 2.3, please apply the patch https://github.com/ansible/ansible/pull/27684.

[2017-08-03 05:38] ThomasSteinbach commented on #25710
@bcoca Could you please take me off the maintainers list? Currently I have no spare time for the project. Thanks.

[2017-08-03 05:44] Amruthapv commented on #27658
@Akasurde well i solved the bug by making changes to path variable in the module itself. Thanks

[2017-08-03 06:09] Akasurde commented on #27658
@Amruthapv Cool. Could you please close this issue then ? Please join #ansible IRC channel on freenode.net, so that you can get quick fixes and better answers. It also avoids to-and-fro in bug reports.

[2017-08-03 06:15] Amruthapv commented on #27658
@Akasurde  sure thanks!

[2017-08-03 06:15] #27658 closed, assigned to nobody

[2017-08-03 06:18] trishnaguha commented on #27512
I have got the following playbook running successfully
[code]

[2017-08-03 06:20] trishnaguha commented on #27563
Duplicate/Related issue https://github.com/ansible/ansible/issues/27391

[2017-08-03 06:35] onitake commented on #24119
As a workaround, you can use get_url to fetch into a separate location file (that isn't executed), then use the copy module to move it into place. That's what I'm doing until this gets fixed, at least.

If nobody offers to fix this, it may be good to add a notice to the get_url module documentation.

[2017-08-03 06:38] trishnaguha commented on #25858
resolved_by_pr #27686

[2017-08-03 06:38] trishnaguha commented on #27630
resolved_by_pr https://github.com/ansible/ansible/pull/27683

[2017-08-03 07:09] admintidexa commented on #5564
Guys i've accomplished something useful, so, just sharing:
`- name: Print EC2
    shell: echo ''
    with_items: "{{ ec2.instances }}"
    loop_control:
      label: "{{ item.tags['Name'] }}"`

[2017-08-03 07:15] guipedreira commented on #5564
Just found something:
[code]

[2017-08-03 07:27] hawka11 opened #27688 "When creating a lambda, the dead_letter_arn module property is mapped incorrectly to the underlying AWS CLI property"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/cloud/amazon/lambda.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS Sierra 10.12.6

##### SUMMARY
When creating a lambda, the dead_letter_arn module property is mapped incorrectly to the underlying AWS CLI property. I receive the following error message:

TASK [app-send-email-service : Uploading lamb

[2017-08-03 07:28] #25858 closed, assigned to trishnaguha

[2017-08-03 09:09] halberom commented on #25858
@trishnaguha - thanks for looking at this!  I had a quick look at the PR, and am a bit concerned.  The standard indentation for arista switch configuration is 3 spaces.  I just used the standard 2 spaces in my j2 file, not realising that this could have quite severe repercussions.

In a large project where I'm creating entire configs, I am however using 3 spaces so that we can do diffs etc.

So pe

[2017-08-03 09:25] halberom commented on #25858
@trishnaguha - looks like indentation/whitespace is super important

e.g.  This will fail with the same issue
[code]
but if you trim blocks with
[code]
then it works fine.

[2017-08-03 09:44] jborean93 commented on #27206
@sm4rk0 when you get a chance would you try out the PR at https://github.com/ansible/ansible/pull/27678 and share your results there for things that either work and don't work.

[2017-08-03 09:49] Raffaello commented on #27643
@Akasurde good idea! :+1:

@gundalow I am really sorry but i am completely not agree with your fastest response. It should be review the design than, and make available only the modules that are the core and instead of installing a `pip [dependency]` it would be better to install `pip [ansible_module_group]` or something similar. At this point i would like to suggest start having a "module manager

[2017-08-03 09:55] trishnaguha commented on #25858
You should be able to have src template with both 2 spaces and 3 spaces indentation.

[2017-08-03 10:39] #27630 closed, assigned to trishnaguha

[2017-08-03 10:55] zi46 opened #27694 "debug var is throwing template error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

debug var
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS

##### SUMMARY

Debug var is not printing the exact string and is throwing template error.
This  used to work fine with ansible 2.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

With ansible 2.0 we used to get below result.
[code]
##### AC

[2017-08-03 11:09] gundalow commented on #27643
@Raffaello I understand your views. There have been some discussions regarding this, though nothing on the near term roadmap

[2017-08-03 11:09] #27340 closed, assigned to nobody

[2017-08-03 12:40] #27487 closed, assigned to nobody

[2017-08-03 12:41] resmo commented on #27047
I was not able to reproduce. Please provide more information: the whole playbook, cloudstack version. Also make sure you do not have any copied version of cs_staticnat in `library`.

needs_info

[2017-08-03 13:10] pdellaert opened #27697 "Testing: Expose local proxy environment settings when running tests"
**cc** @mattclay

When running tests in an environment which requires a proxy to reach internet, testing will fail if it requires the installation of new packages or any other internet connectivity (API calls, downloads, ...)

I propose that for each testing environment with `ansible-test` (`--local`, `--tox`, `--docker`), the following linux/shell environment variables should be exposed/configure

[2017-08-03 13:15] extmind opened #27699 "remote_tmp is not used for module files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`lib/ansible/executor/module_common.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
The option is `remote_tmp=/root/.ansible/tmp` but this is also the default (depending on the remote user).

##### OS / ENVIRONMENT
Running on Arch Linux, controlling Debian jessie, but issue should be N/A.

##### SUMMARY
From `lib/ansible/executor/module_c

[2017-08-03 13:28] marceloneil commented on #27666
Here is my powershell version info:
[code]

[2017-08-03 13:40] nathanwebsterdotme commented on #19825
We've started to see this on our AWS environment now too.  Maybe the instance is restarting too quickly so the port never appears down as @nitzmahone says.  Any guidance on this would be useful.

[2017-08-03 13:50] alevikpes commented on #15321
Just an update for those who is interested.

Every solution here has failed for me. The only thing which worked is downgrading to ansible v. 2.1.5.0-1, which is available at the repo. Then it is all smooth.

[2017-08-03 13:52] dagwieers commented on #19825
So I have been working on a new reboot action-plugin that works cross-platform and will test for the platform's uptime to determine whether the system was in fact rebooted. You can find some of that discussion at: https://github.com/ansible/ansible/issues/16186

It's been sidetracked for some time, but maybe I should continue and finish that work.

My aim is to make that reboot action to also supp

[2017-08-03 13:52] jimi-c commented on #23759
Hi @antoniobeyah, there are two issues with your playbook that are causing this:

1) You are defining `region` with `-e`. Extra vars have the highest priority of all variables, so this value overrules the one you are trying to set in the include/include_role parameters. Either change the name of the parameter on the include* tasks, or use a different variable name with -e.

2) For the last two tas

[2017-08-03 13:52] #23759 closed, assigned to jimi-c

[2017-08-03 14:01] Hai-minhD commented on #19584
@aelkz : in the /etc/ansible/hosts file, you could put: `user1@server.com` instead of `server.com`  and then try `ansible all -m ping`.
Otherwise, if you don't specified the user1 in /etc/ansible/hosts, you should specified the user in ansible command: `ansible all -m ping -u user1`
I had the same error and that solution solved my issue.

[2017-08-03 14:03] marceloneil commented on #27666
I'm still learning about powershell and the ansible codebase, but it seems like ansible is sending `exec_wrapper` from [`powershell.py`](https://github.com/ansible/ansible/blob/stable-2.3/lib/ansible/plugins/shell/powershell.py#L37) with no input/payload, causing a "no input given" error.

Does ansible send the same command with your s2012r2 systems @jhawkesworth?

[2017-08-03 15:00] alikins commented on #23759
Just for reference, I ran this repro with a ansible branch with some extra debug/verbosity settings and pasted the results at https://gist.github.com/alikins/c5f2594abd76c5d82f7bb124d2f50399

[debug/verbosity branch is at https://github.com/alikins/ansible/tree/varman_show_precedence]

[2017-08-03 15:24] ghost commented on #23548
If you use the raw module this worked for me; rather than the win_shell.

[2017-08-03 15:24] marceloneil commented on #27666
Huh. Turns out `win_cmd` is having issues as well (it wasn't before!). I'm going to try a fresh install of windows 7.

Edit: `win_shell` works though

Playbook:
[code]

Output:
[code]

[2017-08-03 15:41] nitzmahone commented on #23548
This has been fixed in 2.3.2, which is currently in release candidate.

[2017-08-03 15:41] #23548 closed, assigned to nitzmahone

[2017-08-03 15:48] dmsimard opened #27705 "Misbehaving (hanging or crashed) callbacks can hang up the playbook execution forever"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
callback plugins

##### ANSIBLE VERSION
Ansible 2.4

##### CONFIGURATION
Not relevant

##### OS / ENVIRONMENT
Not relevant

##### SUMMARY
send_callback waits until the callback returns forever.
A callback could be hung or crashed (without bubbling up an exception) and this will lead to the playbook execution being held up forever.

##### STEPS TO

[2017-08-03 16:06] jean-christophe-manciot commented on #18966
Testing with ansible:
[code]

Now I am able to fetch facts which is a prerequisite to be able to test the role described in this thread since it uses ```ansible_net_interfaces```.
Running the playbook gives expected results:
[code]

[2017-08-03 16:06] #18966 closed, assigned to privateip, gundalow, rcarrillocruz

[2017-08-03 16:15] saichint commented on #27497
duplicate of #27500. Got opened during the github outage few days back when clicking again

[2017-08-03 16:15] #27497 closed, assigned to nobody

[2017-08-03 16:20] toshywoshy commented on #24638
@gblansteen
What is your .ansible.cfg setting for the followiing :
- ssh_args =
- ControlPath=
- control_path_dir
- control_path =
- pipelining =
- scp_if_ssh =
- transfer_method =
- sftp_batch_mode =
Can you try with SSH ControlMaster disabled on your Ansible master?

[2017-08-03 16:36] liquidat commented on #19050
I can reproduce the problem with ansible 2.3.

[2017-08-03 16:38] liquidat commented on #19050
I can reproduce the problem with current Ansible stable:
[code]

+label affects_2.3

[2017-08-03 16:44] mikewiebe commented on #27383
Problem is also present in `2.4.0`.

Test using a Nexus 9k.

[code]

[code]

[2017-08-03 16:47] mazzystr opened #27706 "ec2_eni always completes with changes status"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_eni

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OSX Sierra 10.12.6 (16G29)

##### SUMMARY
I'm trying to add a new SecurityGroup to an eni using aws_eni module.  The sg is applied successfully and reports changed: True.  Subsequent runs are also successful and report changed: True.

##### STEPS TO REPRODU

[2017-08-03 17:02] jean-christophe-manciot commented on #27391
With ansible:
[code]
and a much higher connect_timeout:
[code]
the playbook passes:
[code]

As a side note, I've seen the **deprecation warning about the save Param which will be deprecated** in 2.4.0.
- there is no such indication in the [docs](http://docs.ansible.com/ansible/latest/ios_config_module.html).
- why is this happening? it has been added in 2.2 & proves to be a useful feature.

[2017-08-03 17:02] #27391 closed, assigned to nobody

[2017-08-03 17:15] toshywoshy commented on #24638
@owlmind in your case I think the problem is in the path/user settings
Normally you can set that in your ansible config or your host file
" sudo_exe = /usr/bin/sudo  "
On AIX, the default is ksh, while you are running bash, so also check what your ansible user is and set the sudo path there

[2017-08-03 17:28] owlmind commented on #24638
@toshywoshy sudo works perfectly, this is the only one module i'am experiencing trouble with. As example I can use aix_inittab module which requires exactly the same privileges, but user doesn't work.

[2017-08-03 17:31] owlmind commented on #24638
Changing pipelining also doesn't help . That is one of the first thing i'he tried.

[2017-08-03 17:38] #24498 closed, assigned to samdoran

[2017-08-03 17:41] MisterRogersHaus opened #27707 "vmware_guest: "The number of network adapter settings in the customization specification: 0 does not match the number of network adapters present in the virtual machine: 1""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

Creating a new VM from a template.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default configuration / ansible.cfg

##### OS / ENVIRONMENT

Ansible controller: CentOS7
Guest VM: Windows Server 2016
vSphere / ESXi: 6.5.0, using vSphere Web Client

##### SUMMARY

When executing a playbook to create multiple VM's, the first non

[2017-08-03 17:42] mikewiebe opened #27708 "(P1) nxos_ntp errors out for transport cli"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_ntp

##### NXOS VERSION
7.0(3)I6(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook demonstrates the problem:

[code]

[code]

[2017-08-03 18:29] mikewiebe opened #27711 "(P1) nxos_snmp_community errors out for both cli and nxapi transports"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_snmp_community

##### NXOS VERSION
7.0(3)I6(1)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook demonstrates the problem:

[code]

[code]

[2017-08-03 18:40] #23475 closed, assigned to nobody

[2017-08-03 19:20] mikewiebe opened #27714 "(P1) nxos_snmp_contact errors out for transport nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_snmp_contact

##### NXOS VERSION
7.0(3)I5(3)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook demonstrates the problem:

**NOTE:** Test passes for transport `cli`.

[code]

[code]

[2017-08-03 19:27] LeTink commented on #22222
And another one with the same problem ...

[2017-08-03 19:40] pdellaert opened #27715 "Subspec options validation fails on non-subspec required_on_of"
With commit 97a34cf008501088ae012f24e4712e2bc6dd6d4c, a bug was introduced where a `required_on_of` is also being checked on a subspec

An example spec is that of the `nuage_vspk` module: https://github.com/ansible/ansible/blob/96784160b1d9b2233107a9135bcaab1c134330cd/lib/ansible/modules/network/nuage/nuage_vspk.py#L985
This has a subspec, and a `required_on_of` configuration.

When running a simp

[2017-08-03 19:40] pdellaert commented on #27715
@gundalow @bcoca

[2017-08-03 19:44] ryansb commented on #23706
Closing this as the PR is clearly submitted, and thank you much!

[2017-08-03 19:44] #23706 closed, assigned to nobody

[2017-08-03 20:10] pdellaert commented on #27715
This seems to also go wider than just `required_on_of` if i understand the code correctly... It looks like it is checking the global `self.required_on_of` against a subspec, i'd suggest allowing the use of `required_on_of` and the other features in a subspec and doing a check to see if they are defined in the subspec, and use that in the check when verifying a subspec.

[2017-08-03 20:33] jlec opened #27719 "module acl if missing option use_nfsv4_acls form docs"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
module: acl

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
* CentOS 7
* Anaconda4.4.0 Python 2.7

##### SUMMARY
acl module docs are missing option `use_nfsv4_acls`

##### STEPS TO REPRODUCE
RTM

##### EXPECTED RESULTS
Find _use_nfsv4_acls_ described.

##### ACTUAL RESULTS
Need to read the code.

[2017-08-03 20:34] gundalow commented on #27715
@ganeshrn @nitzmahone FYI

[2017-08-03 20:35] nitzmahone commented on #27520
cc @bcoca (I think you did reset_connection?)

[2017-08-03 21:04] samdoran commented on #27539
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

What I _think_ you want is the contents of `/tmp/test.txt` on both managed systems to contain the value of `ansible_expr` for each host. You would need to use [`hostvars`](http://docs.ansible.com/ansible/latest/playbooks_variables.html#magic-variables-and-how-to-access-information-about-other-hosts) to get this d

[2017-08-03 21:04] #27539 closed, assigned to nobody

[2017-08-03 21:19] #23895 closed, assigned to nobody

[2017-08-03 21:22] mikewiebe opened #27720 "(P1) nxos_snmp_location does work properly for transport nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_snmp_location

##### NXOS VERSION
7.0(3)I5(3)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The following playbook demonstrates the problem:

**NOTE:** Test passes for transport `cli`.

[code]

[code]

If I set the timeout to 60 I don't get the timed out errors, but the configuration is not applied to

[2017-08-03 21:32] nitzmahone commented on #27616
This isn't a bug. Grep is supposed to return 1 when it doesn't find anything- Ansible's default behavior is to fail on nonzero rc, look into `failed_when` if you need to change that.

[2017-08-03 21:32] #27616 closed, assigned to nobody

[2017-08-03 21:35] guhcampos opened #27722 "kibana_plugin uses incorrect command syntax"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
kibana_plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None relevant
##### OS / ENVIRONMENT
Mac OSX

##### SUMMARY
The `kibana_plugin` module tries to run `kibana plugin --install` by default. That syntax is not available anymore, and just changing the binary with `plugin_bin` does not help, because the new `kibana-plugin` binary does

[2017-08-03 21:42] mazzystr commented on #27270
I patched my efs.py code but still see the same error.  Suggestions?

[2017-08-03 21:42] marvingreenberg opened #27723 "win_stat documentation does not document 'exists' map element return value"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

win_stat
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Using win_stat to Windows 10

##### SUMMARY
Testing for the presence of a directory, I was doing testing varname.stat.isdir, but an error was being returned.

##### STEPS TO REPRODUCE
[code]

Debug output shows the presents of the undocumented "e

[2017-08-03 21:43] nitzmahone commented on #27675
The various connection plugins will use a default for ansible_port if it's not specified (if port even makes sense for that connection type), but if you want to ensure a variable value is always available for use in templates and stuff, you'll need to set it yourself- the connection plugins don't have a way to smuggle out the value they used.

[2017-08-03 21:43] #27675 closed, assigned to nobody

[2017-08-03 21:45] nitzmahone commented on #27677
Does it work with just a straight https:// (not git+https://) URL?

[2017-08-03 21:55] nitzmahone commented on #27694
You're misusing `debug`'s `var` arg- it should be `debug: var=slots_url`- otherwise you're asking it to dump the value of the variable whose name is stored inside `slots_url`. If you want to continue to use the template, it should be `msg={{slots_url}}`

[2017-08-03 21:55] #27694 closed, assigned to nobody

[2017-08-03 22:07] jborean93 commented on #27723
Hey @marvingreenberg, This return value was accidentally removed from the docs in the 2.3 release and has subsequently been added back into devel. Because the current live site is based on the 2.3 release it is still missing, I'll backport the changes to 2.3 for the next release.

[2017-08-03 22:23] mechastorm commented on #27677
It is still the same with straight https

When I set my requirements.yml to be

[code]

I still get the same error when I ran the command
[code]

[2017-08-03 22:25] symgryph commented on #16406
Doesn't seem to be fixed when I follow all directions. Get same error (multiple os/versions etc). Any install guides that actually work?

[2017-08-03 22:51] symgryph commented on #23705
So a quick question for the uninformed: The modules simply 'dont work' with 2.0? I couldn't ever get beyond No module named packaging.version when running my scripts. Followed almost every guide on the inet on 3 oses (debian 9, osx, and centos 7.3). I guess I will have to use trusty AZ command. Powershell is non-deterministic, would be nice if there were a working azure sdk....sadness.

[2017-08-03 23:03] ipirva opened #27727 "nxos modules unable to open shell"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

cat /etc/ansible/ansible.cfg
[defaults]
gathering = explicit
roles_path    = /etc/ansible/roles:/root/ansible/roles
callback_whitelist = cisco_spark
log_path = /var/log/ansible.log
system_warnings = False
deprecation_warnings = False
command_warnings = False
strategy = free
retry_files_enable

[2017-08-03 23:12] nitzmahone commented on #27705
Hrm, cancelable callbacks in the Ansible infra via threads or something is probably the only way to address this, but I'd be surprised if we got to it anytime soon. Callbacks that need to be robust to issues like this (eg, reliant on external services) should probably implement their own async'ness in the meantime.

[2017-08-03 23:24] thaumos commented on #27535
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * This seems like a misunderstanding of how Galaxy and Ansible command structure works.

As such, we're going to close this ticket.  However, we're open to being corrected, should you wish to

[2017-08-03 23:24] #27535 closed, assigned to nobody

[2017-08-03 23:27] pilou- commented on #25598
@cytopia: what do you think of:

distributions this option is required when the alternative is unknown to the system.

[2017-08-03 23:29] #27727 closed, assigned to nobody

[2017-08-03 23:49] hawka11 commented on #27688
FYI ... i have a fix for this i'm just trying to figure out out to create a PullReq ...

[2017-08-04 00:03] graywolf opened #27729 "Removed restricted key from module data: ansible_lxc_bridge"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Gathering Facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No

##### OS / ENVIRONMENT
Archlinux, but probably not platform specific

##### SUMMARY
During gathering facts I get following warning

[code]

##### STEPS TO REPRODUCE
Try to run playbook against host with lxc and bridge configured.

##### EXPECTED RESULTS
No warning.

##### AC

[2017-08-04 00:32] erjohnso commented on #25303
Thanks for flagging this @PAtkinsonHSBC. A safe default scope is to just use `cloud-platform` and then use IAM roles for finer grained access to API's and operations.

I think Google is still a ways away from this, but I suspect that down the road we'll see scopes begin to fade away in favor of IAM usage.

[2017-08-04 01:04] dagwieers commented on #27723
@jborean93 @marvingreenberg It would be nice if we could, by default, return all the other type-related return values as $false. If the path does not exist, it is not a directory, and it is not a share, and it is not a link, etc. So the default return values could always return all these items and I think we should. (See #27732)

[code]

@nitzmahone I know you chimed in on this once before, do you

[2017-08-04 01:46] einarc commented on #25929
+1. There is a similar issue with LAUNCHING an ASG and going OVER the desired value only to then come back down. I'll see if I can find the ticket and if not, open a new one. That's been going on for almost 2 years now.

regardless, we need this too.

[2017-08-04 02:10] ttwwaaoo commented on #27681
ISSUE TYPE
I don't know how to define this issue

COMPONENT NAME
iptables

ANSIBLE VERSION
ansible 2.3.1.0
python version = 2.6.6

OS / ENVIRONMENT
CentOS 6.5

SUMMARY
becasue ansible server dns resolev is wrong, then
         iptables:
                action: insert
                chain: INPUT
                source:  xxx.xxx.xxx.xxx
                jump: ACCEPT
          become: yes

on ansible

[2017-08-04 02:29] ghost opened #27737 "Can't connect to Windows Server that is Running Bitvise SSH with Ansible"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Running ansible from fedora 25 controller talking to windows 2012 server that is running bitvise ssh (not winrm).

##### SUMMARY

Can't connect to Windows Server that is Running Bitvise SSH with Ansible.

**However I can connect just fine outside of ansible by ru

[2017-08-04 02:37] jborean93 commented on #27723
Thanks @marvingreenberg for raising the issue, I've backported the return info to the temp 2.3 branch, this should be available in a future 2.3 release. Since this is what the issue is for I am going to close this but feel free to raise a new one if you find any other issue.

@dagwieers would be good to continue the conversation around when to return values in your PR, I'll add a comment there.

[2017-08-04 02:37] #27723 closed, assigned to jborean93

[2017-08-04 03:06] ghost commented on #27631
This isue somehow resembles on [**this**](https://answers.launchpad.net/ubuntu/+source/systemd/+question/287454) launchpad bug report, where `systemd --user` fails since either `XDG_RUNTIME_DIR` hasn't been set for the user (I'd try that one on your playbook) or the service takes too long to report back the started status.

[2017-08-04 03:29] trishnaguha commented on #21185
Closing this for now as there haven't been any progress on this for a while.

[2017-08-04 03:29] #21185 closed, assigned to nobody

[2017-08-04 04:07] jborean93 commented on #26516
Hey @DhairyashilBhosale I am going to close this issue as it has been over 14 days since your last reply. If you are still having issues with this please either ask over IRC or add a new post to the mailing list. Details for IRC and the mailing list are;

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-08-04 04:07] #26516 closed, assigned to nobody

[2017-08-04 04:11] jborean93 commented on #27737
Thanks for the submissiong @sarlindo, currently Ansible does not support connecting to Windows servers through SSH as our current implementation is through WinRM. We do plan to revisit this in the future once Microsoft's OpenSSH implementation is a bit more solid but for the time being this won't be supported.

I am going to close this issue as there are currently already 2 issues open to cover th

[2017-08-04 04:11] #27737 closed, assigned to nobody

[2017-08-04 05:26] #26903 closed, assigned to nobody

[2017-08-04 06:14] onitake commented on #13680
It looks like changing the semantics of the module's parameters is not desired by the core developers: https://github.com/ansible/ansible/pull/21968#issuecomment-320057196

Please add your comments to rationalise the change better. Or, if what abadger suggested is good enough for you, please comment on that. I will make the suggested changes in that case, even though I think they are pointless and

[2017-08-04 06:28] setekhid opened #27743 "uri module reporting "urlopen error no host given""
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
uri module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
ansible uri module behave like a shit.

[code]

above will work, but below won't

[code]

the error message is "urlopen error no host given"

[2017-08-04 06:32] jborean93 commented on #27666
While I haven't encountered this exact issue before, I've had issues where powershell was no longer on the PATH environment variable and caused all sorts of issues and one of them was `The system cannot find the file specified`. Let us know how the fresh install goes as this does seem like a machine specified issue.

[2017-08-04 06:41] jborean93 commented on #20319
@dummptyhummpty some of @trondhindenes changes have been incorporated into https://github.com/ansible/ansible/pull/27470, if you have some time are you able to test out that PR and post your results on that page. Hoping to have this in before the next major release as it removes the product_id requirement on some cases and simplifies the module.

[2017-08-04 07:12] #27743 closed, assigned to nobody

[2017-08-04 07:13] myllynen opened #27744 "DNF module fails to remove packages by using wildcard"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dnf module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Fedora 26 RPM with no local changes.

##### OS / ENVIRONMENT
Fedora 26

##### SUMMARY
ansible now fails to remove wildcarded packages, this used to work earlier.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Ansible should have removed all matching packages, i.e., pam_krb5

[2017-08-04 08:10] yajo opened #27745 "Notify with arguments"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

handlers

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Not relevant.

##### OS / ENVIRONMENT

From Fedora 26 to Ubuntu 16.04.

##### SUMMARY

Handlers should be able to get variables. This way, if I have a task with a loop, I should be able to trigger handlers only for the items that changed.

##### STEPS TO REPRODUCE

[code]

##### E

[2017-08-04 08:10] LucioG1t commented on #24638
Hello, same problem here.
Source: Ansible 2.2.1.0 on Ubuntu 17.04, and version 2.3.1.0 on ArchLinux
Targets: AIX 7100-04-04-1717, 6100-09-05-1524, 6100-09-09-1717

The issue started after the update from release 2.1.1.0 to 2.2.1.0.
Up to 2.1.1.0 I had no problems with chpasswd, used montly to change AIX user passwords.
No problems with other modules that require privilege excalation to root.

[2017-08-04 08:38] baccenfutter opened #27747 "Initial restart of Shorewall stalls Ansible run"
- Bug Report

##### ANSIBLE VERSION
`2.3.1.0`

##### COMPONENT NAME
core

##### OS / ENVIRONMENT
- Debian{8,9}
- Ubuntu{14,16}

##### SUMMARY
I have a `role-shorewall` which installs and configures the Shoreline/Firewall. The role is pretty straight-forward and far from complex - it installs a few templates to */etc/shorewall* that all notify a `restart shorewall` handler. When this role is execut

[2017-08-04 08:46] hryamzik opened #27748 "Cannot import custom module_utils in filters"
##### ISSUE TYPE

 - Feature Idea

Placing custom python modules at `module_utils` directory in a role gives ability to import this code in a custom ansible module defined in the same role. However this doesn't work for filters, looks like a big mess for me.

[2017-08-04 08:49] IainColledge commented on #23705
@symgryph basically yes, would say use the Azure CLI as it is pretty good and you can get data out easily by parsing the output, for example:

[code]

[2017-08-04 09:59] fredericlepied opened #27749 "test_jenkins_plugin.py makes web connection"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

test/units/modules/web_infrastructure/test_jenkins_plugin.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

This unit test makes a connection to https://api.github.com/repos/ansible/ansible

We should mock the data connection or move it to integration tests.

##### STEPS TO REPRODUCE

Stop your netw

[2017-08-04 10:30] ashak commented on #16809
I'm trying to configure an OpenStack setup using ansible. I have got as far as creating the service endpoints for the identity service.. this would involve you manually running something like:

`openstack endpoint create --region RegionOne image public http://controller:9292`

The ansible os_keystone_service module allows you to define the service, but then ansible has no way to to allow you to cr

[2017-08-04 11:07] tonyskidmore commented on #20977
I came across this issue for the same reason as @maxalbert mentions.  I create my roles structure in development by running ```ansible-galaxy install -r roles/requirements.yml -p ./roles/ --force``` .  It would be very handy to have an option to include the .git directory so that I could amend the roles in place and push back.

[2017-08-04 11:29] ingvagabund commented on #22417
@sivel if you mean:
[code]

[code]

that does not work

[2017-08-04 11:58] hai-ld commented on #14130
Is there any chance this feature could be supported soon?

[2017-08-04 12:34] mazzystr commented on #27706
Just noticed that I was using my OSX Anaconda environment...
[code]

[2017-08-04 13:02] dagwieers commented on #25298
@g1bs0nsg We should get this into our Windows documentation somewhere ! I added it to [the Windows WG Wiki](https://github.com/ansible/community/wiki/Windows:-community-plan) so we won't forget.

[2017-08-04 13:25] #27511 closed, assigned to nitzmahone

[2017-08-04 13:40] #27715 closed, assigned to nobody

[2017-08-04 13:41] mazzystr commented on #27706
Sorry.  Closed the wrong GitHub Issue.

[2017-08-04 13:47] s-hertel commented on #27681
Hi @ttwwaaoo thanks for the additional info. I'd say the issue type is a bug report if you're getting behavior you think is wrong. I've edited your initial comment with the details so the bot can find it and remove the needs template/needs info labels.

[2017-08-04 13:52] mdellweg opened #27762 "security risk: ansible reads "ansible.cfg" from current working directory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Security risk: Ansible reads and uses options from an ansible.cfg file in the current working directory iff it exists.
In case the security relevance is not obvious to anyone: It is possible to completely reconfigure ansible (e.g. to include malicious modules) whenever

[2017-08-04 14:00] marvingreenberg commented on #27723
Cool.  Thanks. @dagwieers +1 for your suggestion about always returning isdir, islnk...

[2017-08-04 14:05] gblansteen commented on #24638
@toshywoshy sudo operations work fine with other modules.  This is specific to executing the /usr/bin/chpasswd command within the user module.  That said the sudo and bash commands are in the standard path locations (i.e.: /bin, /usr/bin).

[2017-08-04 14:10] naseemkullah opened #27763 "java_cert module: add import keystore option"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
java_cert

##### ANSIBLE VERSION
ansible 2.3.1.0

##### SUMMARY
We are able to import certs with java_cert, keytool also allows us to import p12 keystores into jks keystores, so this feature should be added to java_cert module.

Thanks,
Naseem

[2017-08-04 14:14] hogarth-sv commented on #22371
Okay so a fun day of troubleshooting this ...

To avoid anyone following my particular rabbit hole my issue had nothing to do with ssh and everything to do with rhel6 ... or specifically python2.6

My task has:
[code]

Under python2.7 there this works fine and there's no issues with specifying a user and password and then telling ansible to not force basic auth ... so it's trivial to enable or dis

[2017-08-04 14:21] #27688 closed, assigned to nobody

[2017-08-04 14:26] abhikumar-singh commented on #27496
@s-hertel - The behavior is erratic. The module works sometimes and i haven't been able to identify what causes the module to fail. For instance, we have two AWS accounts - in one account the module works 80% of the time and in the other account it works only 50% of the time. So i don't think it account specific. I will try to debug more and try to find what causes the issue.

[2017-08-04 14:33] s-hertel commented on #27270
Hi @mazzystr. Have you patched efs.py with #27318? Can you post a comment on that PR with your reproducer and the traceback with -vvv verbosity? That would be so helpful for reviewing and fixing that pull request.

[2017-08-04 14:34] s-hertel commented on #27270
Also, @PatrickMurray I'm going to reopen this so it doesn't look like the issue has been fixed until #27318 has been merged!

[2017-08-04 14:39] laurent-perrin commented on #27422
I tried with the last develop version and I got the same error message.

[2017-08-04 14:44] gundalow commented on #18456
@frenzymadness Hi, just reviewing PRs that are assigned to me. What can we do to help get this move along?

[2017-08-04 14:44] #18529 closed, assigned to gundalow

[2017-08-04 14:44] s-hertel commented on #27650
@rszewczyk I think it's about good to go: #21529

[2017-08-04 14:46] gundalow commented on #19586
@Zanthras Could you confim this is fixed in `2.3`, thanks

[2017-08-04 14:48] gundalow commented on #23922
Is this now tracked in https://github.com/ansible/ansible/issues/24466#issuecomment-318045953 therefore this issue can be closed?
needs_info

[2017-08-04 15:08] #27584 closed, assigned to newswangerd

[2017-08-04 15:08] #27581 closed, assigned to nobody

[2017-08-04 15:09] #27567 closed, assigned to nobody

[2017-08-04 15:13] #27517 closed, assigned to nobody

[2017-08-04 15:14] gundalow commented on #26146
We've not seen anyone else report this, so not sure quite what has happening.

Moving to Milestone:2.5

[2017-08-04 15:15] naseemkullah commented on #27763
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
java_cert

##### ANSIBLE VERSION
ansible 2.3.1.0
[code]

[2017-08-04 15:22] ganeshrn commented on #27563
@newswangerd Network command timer is changed by https://github.com/ansible/ansible/pull/27272
This PR adds a new command timer for network modules thus avoiding the need to increase Ansible global timeout value.

[code]

Looking at log this seems to be a timeout issue.

Please increase command timeout value and retest.
It can be increased by setting environment variable `ANSIBLE_PERSISTENT_COMMAN

[2017-08-04 15:24] gundalow commented on #27014
@dharmabumstead I believe you had some thoughts about how we should best use `toctree`

[2017-08-04 15:25] calfonso commented on #27319
@mikewiebe We don't yet have anything other than 7k set up in our lab so we won't be able to react quickly to this issue. We're currently working on getting 9k set up, but that's only a subset of the issue reported here. If anyone on your side can help look into the other versions and provide any fixes, that would be really helpful. Thanks!

[2017-08-04 15:27] calfonso commented on #27172
@mikewiebe The only version we are currently dev/testing on is 7.3. Any fixes for other versions you can get from  your side would be very helpful. Thanks!

[2017-08-04 15:28] calfonso commented on #27139
@rahushen We are only testing and developing on 7k. Are you able to provide a fix for this issue on 3k?

[2017-08-04 15:39] s-hertel commented on #27763
@naseemkullah Thanks for the additional info. I edited your initial comment so the bot can find the template and remove the needs info/needs template labels.

[2017-08-04 15:41] calfonso commented on #26024
@rahushen we currently don't have a 9k set up in our lab, but we are working on resolving that. If you have the motivation to do so, we'd really appreciate an attempt at fixing this issue and contributing it. Thanks!

[2017-08-04 15:45] calfonso commented on #25892
Hi!

Thanks very much for your submission to Ansible. It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational. Let's explain what we're thinking:

Due to lack of response for more information, we are closing this issue.

As such, we're going to close this ticket. However, we're open to being corrected, should you wish to discuss. You can stop

[2017-08-04 15:45] #25892 closed, assigned to nobody

[2017-08-04 15:49] calfonso commented on #24411
Hi!

Thanks very much for your submission to Ansible. It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational. Let's explain what we're thinking:

Based upon the comment  "you are not in enable mode and thus cannot run show running-config per IOS policy. Add authorize: yes to your provider argument to enter enable mode upon connection" we are

[2017-08-04 15:49] #24411 closed, assigned to nobody

[2017-08-04 15:54] naseemkullah commented on #27763
@s-hertel
OK thanks Sloane!

[2017-08-04 15:59] rcarrillocruz commented on #23539
We will fix this on 2.5.
We have supporting code for handling prompts on IOS on the ios cliconf plugin.
We will migrate our modules to cliconf plugins on 2.5 and that feature will be implemented then.

[2017-08-04 16:13] gundalow commented on #23437
@caphrim007 Just reviewing issues, is there anything left to do here.

[2017-08-04 16:31] jbscare commented on #25710
Is this a duplicate of #23577? (Which is still open, but which seems to be a substantially similar problem.)

[2017-08-04 17:43] mowgli opened #27779 "replace module is not encoding agnostic anymore"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
replace module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
LC_*=de_DE (without utf-8, so it is iso8859-1)

##### SUMMARY
I have the following part:
[code]

This worked with earlier versions but now it fails with an error:
[code]

The problem is that I have user full names in passwd that includes latin1 chars (like ï)

##### STEPS TO RE

[2017-08-04 17:46] infrascripting opened #27780 "Implement yum clean/makecache support"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

From the original issue:

version
`ansible v2, devel`

issue
when changing multiple yum repos (e.g. in a common/base role), it can be necessary to clean the cache s

[2017-08-04 18:08] johnwhumphreys commented on #15321
I fought this for 2 hours and then found "-c ssh" to the run-playbook command.  Worked like a charm.  It gets around some issue that old OpenSSH versions have with Ansible.

[2017-08-04 18:30] #27345 closed, assigned to nobody

[2017-08-04 19:17] #27563 closed, assigned to privateip, ganeshrn

[2017-08-04 19:19] bcoca commented on #27699
We need a common tmp_file function for modules (module_utils) as well as a 'module dir' for tmp file generation, it also needs to be 'smart' so when using pipelining it will fallback to creating it's own tmpdir.

[2017-08-04 19:38] mikewiebe commented on #27319
@calfonso Understood.  We will try and prioritize issue that are version specific for our team to work on.

[2017-08-04 19:56] joshtbernstein commented on #20319
@jborean93 Will do!

[2017-08-04 20:14] EvanK commented on #27779
This was a deliberate change (see #24861), in which the `encoding` parameter was added and defaulted to "utf-8".

Have you tried specifying an encoding, eg:

[code]

[2017-08-04 20:55] gathering-crystite opened #27788 "yes ansible"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-08-05 00:14] caphrim007 commented on #23437
@gundalow i think this problem is fixed upstream. Or, at least, the "line 437" mentioned in the last comment is no longer valid in the module. I guess close it?

[2017-08-05 02:58] coolcps opened #27793 "re-using existing socket, unable to connect to control socket (ios_modules)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_facts
ios_command
etc

##### ANSIBLE VERSION
ansible 2.3.1.0
config file = /private/etc/ansible/ansible.cfg
configured module search path = Default w/o overrides
python version = 2.7.10 (default, Feb 7 2017, 00:08:15) [GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)]

##### CONFIGURATION

##### OS / ENVIRONMENT
Cisco IOS

##### SUMMAR

[2017-08-05 04:13] trishnaguha commented on #27403
@mikewiebe would you mind giving the module a try now?
I have been facing the same issue last week. But it seems to be fixed now for last couple of days.

[2017-08-05 05:35] trishnaguha commented on #25946
@tineg This is supposed to be fixed on devel 2.4. Can you please give the module a try on devel branch?

[2017-08-05 05:35] #27562 closed, assigned to trishnaguha

[2017-08-05 05:38] kmcquade commented on #22905
Same issue

[2017-08-05 07:27] mowgli commented on #27779
Hmm... But in many cases you cannot say which encoding is the right for the file.

In case of the /etc/passwd, it could be difference line by line.

The only safe way to handle files, is to be encoding agnostic and see the file as stream of bytes. (Another way would be to have a default of iso8859-1 (or any other latin-x code) as this include all byte values as valid. UTF-8 does not have this prop

[2017-08-05 07:42] mowgli commented on #27779
After reading the other PR, I think it would be much better to keep the old way (handling just bytes) unless there is a explicite encoding parameter in the task file.

That would allow to hold advance of the encoding and also be compatible with older versions (I have a setup where I have ansible 2.2 on one machine and 2.3 on another. With the current use case I have to double the task yaml as the

[2017-08-05 08:34] ghost commented on #27299
I've the same problem. I'm using a query to decide if another role should be included or not.

[code]

[code]

This leads to:

[code]

But I'm pretty sure that "physical" is a string.

I'm using:

[code]

[2017-08-05 12:05] marcv81 opened #27798 "apt does not honor cache_valid_time"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
  - apt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
 - Default

##### OS / ENVIRONMENT
 - Managed system: Debian Stretch (vagrant box debian/stretch64 and bare metal install)

##### SUMMARY
With parameters such as `update_cache=yes, cache_valid_time=3600`, apt is supposed to update the cache at a maximum rate of once per hour. In some cir

[2017-08-05 12:18] marcv81 commented on #27798
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apt.py#L795

`get_cache_mtime()` first stats `/var/lib/apt/periodic/update-success-stamp`. This files does not exist on Debian Stretch. Then it stats `/var/lib/apt/lists`. This file is not updated when `apt-get update` runs. It is only updated when `apt-get update` discovers changes in the remote repositories. This is t

[2017-08-05 12:33] giovannisciortino opened #27799 "pacemaker module can't cleanup resources"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pacemaker_cluster module

##### ANSIBLE VERSION
ansible 2.4.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/gsciorti/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /home/gsciorti/PycharmProjects/ansible/build/lib/ansible
  executable location = /usr/bin/a

[2017-08-05 12:49] ghost opened #27800 "Ansible aws modules not IPV6 ready"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
All AWS modules

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing specifc / noteworthy

##### OS / ENVIRONMENT
Manjaro 17.04

##### SUMMARY
Almost no aws module is able to handle ipv6 (just updated to ansible 2.3.2)

I tried following modules with no luck doing anything with ipv6:
ec2 - Auto assig

[2017-08-05 14:08] trishnaguha commented on #19586
@Zanthras just a suggestion: module `eos_user` can be used to create/configure user instead.

[2017-08-05 14:13] lpenz commented on #27243
Hello

I think `allow_agent` and `look_for_keys` are options that affect the client-side of the ssh connection - it affects how/where the client should get the private keys. Is you ncclient up-to-date?

From http://ncclient.readthedocs.io/en/latest/transport.html:

    allow_agent enables querying SSH agent (if found) for keys
    look_for_keys enables looking in the usual locations for ssh keys (

[2017-08-05 14:19] sophie-h commented on #26265
@Akasurde your workaround looks a bit fragile. You rely on loop2 being empty and you are not detaching it afterwards. To ensure that the detach is happening if *filesystem* fails, you would need *ignore_errors* and manual error handling. So this will be much more complexity.

I don't see why you want to block usage on files, while your new code would supports files. Imho documentations can be chan

[2017-08-05 14:23] sophie-h commented on #26265
What is more: In my tasks I want to support block devices and plain files. So I would also have to add a check if it is a block device or not.

[2017-08-05 14:35] coolcps commented on #27793
Update: This seems to resolve itself by closing the terminal.  I was able to recreate by Ctrl+Z while an ansible playbook is running, then when retrying the playbook it tries to reuse the connection, which does not exist.

[2017-08-05 15:52] prometheanfire commented on #20494
looks like this wasn't fixed in 2.3.2.0 either...

[2017-08-05 17:35] williamh commented on #20494
Can someone from upstream please take a look at this and give us an idea of what is going on and when it will be fixed?

Thanks much for your time.

[2017-08-05 17:39] abadger commented on #27779
I've put this onto the public IRC meeting agenda for discussion.  Since Ansible-1.7 we've adopted the strategy of all text being utf-8.  Not every module complied with that strategy but as bugs came up, that was the guiding principle for resolving them.  Recently, I've started taking PRs that add encoding parameters when we're operating on a file's contents.  That allows the file contents to be re

[2017-08-05 17:45] abadger commented on #21339
Changes to make the doumentation of remote_tmp and other vars' default value use tilde instead of $HOME have been applied:
* a04dd375eb6cae760ce8af06ee4de94418534672
* a36c66023fdfc3e7af3a712c8d8f3dfe333fe968

https://github.com/ansible/ansible/issues/21594 is for tracking down whether there's any way to fix this on Soalris.

[2017-08-05 17:45] #21339 closed, assigned to nobody

[2017-08-05 17:57] abadger commented on #21594
So it sounds like Solaris 10 doesn't have a POSIX compliant /bin/sh: http://pubs.opengroup.org/onlinepubs/009695399/utilities/xcu_chap02.html#tag_02_06_01

That probably means the best we can do is better document the workaround of setting ```remote_tmp = $HOME/.ansible/tmp``` if you are running on Solaris/a non-POSIX /bin/sh.  If someone wants to open a PR and then ping me on irc (I'm abadger1999

[2017-08-05 18:00] abadger commented on #16816
Closing this bug for lack of information from the reporters.  If you are suffering from similar symptoms, please open a new issue with details on how to reproduce the bug so that we can figure out what the code is doing when this bug is exposed.

thanks!

[2017-08-05 18:00] #16816 closed, assigned to abadger, jctanner

[2017-08-05 19:19] mavit commented on #21594
Frustratingly, Solaris puts its POSIX shell at `/usr/xpg4/bin/sh`, alongside POSIX versions of various other commands.

[2017-08-05 19:26] mokevnin commented on #25856
@tedder I think I realized

The error happens due to using subofolders for group_vars all. We have structure like this:

[code]

[2017-08-05 19:54] sengaya opened #27810 "tests fail on macOS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unit tests

##### ANSIBLE VERSION
devel branch (99e92f4bcad1498dba832f61f80b6b2014768391)

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
- macOS Sierra 10.12.5
- python 2.7.13

##### SUMMARY
`make tests` fails with multiple errors.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
100% green tests

##### ACTUAL RESULTS
[code]
... and ma

[2017-08-05 20:25] mowgli commented on #27779
Some of your points are absolutelly valid. However, the only what I would read out of them is to handle files as byte stream. That way, all regex would work correctly.

About forcing all /text/ files to be UTF-8. That is great for the files of ansible and in fact, yaml specifies UTF-8 here. But you cannot pretend one charset of a file on the target system as you simply don't know it. There are man

[2017-08-06 01:34] mowgli commented on #27779
Just a side note:

For my case above, Parts of /etc/passwd are under full control of the user (chfn). So the user can simply break my task by putting some weird chars inside his user informations.

The only solution would be to go back to (untested):
[code]

… With all the downsides; especially changing /etc/passwd every time ansible run. Actually, I think, `replace` is exactly to prevent the use

[2017-08-06 04:03] logan2211 opened #27813 "pre_handlers and post_handlers playbook properties"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Playbooks

##### SUMMARY

It would be extremely handy if ansible allowed a pre_handlers and post_handlers list of tasks to be defined as handlers that should always run before or after the normal handlers lists in the playbook or roles.

Currently, take a galera cluster behind a set of haproxy load balancers for example. The galera role does

[2017-08-06 04:27] bugdebug commented on #14358
+1

[2017-08-06 06:09] Kokozzi opened #27815 "junos_command: unable to get partial config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
junos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

junos_command module can't get partial config from juniper, for example result of `show configuration interfaces ae2` will be full device config (instead of interface part)
I think, that problem is in [this file](https://git

[2017-08-06 06:18] darkk opened #27816 "`fetch` does not report unreachable on authentication error when gather_facts=false"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`fetch` module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
ansible is running from Ubuntu 16.04 and manages various debian jessie hosts.

##### SUMMARY

`fetch` can't properly handle authentication failure for some reason.
Seems to be duplicate of closed #16877

##### STEPS TO REPRODUCE
NB: `gather_facts: false` matters.

[code]

##

[2017-08-06 07:46] liomthechef commented on #22644
As a workaround to this issue which was ruining my day pretty badly, I found using the vmware_guest_find.py module in Ansible 2.4 effective
ansible/lib/ansible/modules/cloud/vmware/vmware_guest_find.py

I doubt it solves the broader performance issues that caused this change, but it's solved my problem. It won't cure the risk of finding multiple VM's with the same name, but if I was in an environm

[2017-08-06 09:27] ykyuen commented on #25291
Sorry for the late reply.

i just updated to latest docker ce
[code]

everything works fine even without updating the `docker-py` package (using: 1.10.6)

i also tried to remove the `docker-py 1.10.6` package and install the `docker 2.4.2` package. It works fine as well.

Thanks =)

[2017-08-06 09:27] #25291 closed, assigned to nobody

[2017-08-06 13:41] Jaurman opened #27820 "Jira module documentation"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

Jira Module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

In Jira module documentation, **Create link** part has example how to link two issues:
**linktype: Relate**
It should be:
**linktype: Relates**
Same typo in jira.py file
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2017-08-06 19:04] Slezhuk commented on #27820
@Jaurman , thanks for your issue!
Looks like you're right- default value for "related" issues is "Relates". However, list of allowed relations can be changed (so, in my installation it was changed to "Relate"). You can get list of allowed relations at url {jira_base_url}/rest/api/2/issueLinkType. So, i think we should change "Relate" to "Relates" as example and also put /rest/api/2/issueLinkType u

[2017-08-06 19:24] Jaurman commented on #27820
@Slezhuk  In my default Jira install {jira_base_url}/rest/api/2/issueLinkType it is **name: "Relates"**
If documentation/example says "Relate" it's misleading.
Using Jira: (v7.4.1#74003-sha1:03b9948)
Maybe it's a good idea to point out also: Blocks, Cloners, Dublicate and Relates
Also maybe a comment to  {jira_base_url}/rest/api/2/issueLinkType as reference.

[2017-08-06 19:44] andrewsaraceni opened #27824 "Ansible Documentation not rendering formatting functions for RETURN block"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Documentation

##### ANSIBLE VERSION
[code]

##### SUMMARY
Browsing the [Ansible modules documentation](http://docs.ansible.com/ansible/latest/list_of_all_modules.html), it appears as though formatting options (e.g. `C()`) are not being rendered or generated properly for content in the RETURN block/docstring of modules.

I've noticed this on at

[2017-08-06 22:00] regexcracker opened #27825 "Include a playbook in background"
##### ISSUE TYPE
 - ~~B ug Report~~
- Feature Idea
##### COMPONENT NAME
include

##### ANSIBLE VERSION
ansible 2.2.0.0
##### CONFIGURATION
No
##### OS / ENVIRONMENT
N/A (Not platform-specific)

##### SUMMARY
[code]
##### STEPS TO REPRODUCE
Execute Master playbook : ansible-playbook -vvvv master.yml -u user1
master.yml
[code]
##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS

[code]

[2017-08-06 23:49] dagwieers commented on #27599
I give permission for all my contributions to lib/ansible/module_utils/api.py to be relicensed under the BSD license.

[2017-08-07 02:05] jborean93 commented on #26885
@4001982248998, I've just merged a change into devel that will give a better error message when the file is in use. I am closing the issue now as it should be fixed in there. Thanks for raising this with us.

[2017-08-07 02:05] #26885 closed, assigned to nobody

[2017-08-07 02:21] ttwwaaoo commented on #27681
@s-hertel thanks for your help

[2017-08-07 02:39] andrewsaraceni commented on #26825
PRs https://github.com/ansible/ansible/pull/27827 and https://github.com/ansible/ansible/pull/27828 have been created for `win_eventlog` and `win_eventlog_entry`, respectively, for anyone who is interested.

[2017-08-07 04:59] lealoncity commented on #27423
Any new information about this issue? Thanks~

[2017-08-07 06:07] Jackyjjc commented on #16706
Just wanted to report the same issue with 2.3.0

[2017-08-07 08:39] #27820 closed, assigned to nobody

[2017-08-07 08:48] ppyv commented on #25659
+1, but I wonder if other modules using `show foobar | json` inside are also like this.

[2017-08-07 09:05] #26386 closed, assigned to nobody

[2017-08-07 09:31] hryamzik commented on #27748
Actually custom python modules could't be imported in any filter plugins, that's a serious limitation.

[2017-08-07 09:33] Chanmoro opened #27835 "local variable 'async_result' referenced before assignment"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac 10.11.6 (El Capitan)

##### SUMMARY

When execute async task, this python error has occored.
[code]

##### STEPS TO REPRODUCE

Execute tasks defined below yaml.
This task expects reboot server and wait for it by check ssh port up.

[code]

##### EXPECTED RESULTS

M

[2017-08-07 09:43] 4c74356b41 commented on #14061
jesus, whoever made that design decision is not a smart person.

[2017-08-07 10:00] idanshimon commented on #16048
@Taytay can you explain ??

I am also trying for sometime to deploy postgresql using a simple play and it gets an error about peer authentication failure for user postgres (9.6)

[code]
Result Ansible-playbook:
   "msg": "unable to connect to database: FATAL:  Peer authentication failed for user \"postgres\"\n"

[2017-08-07 10:04] philipwhiuk opened #27836 "get_url should check if directory exists"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible/get_url

##### ANSIBLE VERSION
Commit 0765ceb66dfad116ec0519a0f9272158da6600d0 (current master)

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible should report if the current directory doesn't exist.

It already checks if the file exists, but not the directory.

##### STEPS TO REPRODUCE
Provide the path to a n

[2017-08-07 12:29] mkrizek commented on #21910
Fixed in https://github.com/ansible/ansible/pull/20594.

[2017-08-07 12:29] #21910 closed, assigned to nobody

[2017-08-07 13:14] danielmotaleite commented on #24119
@wrouesnel if you do a PR to solve this, we all would be very grateful! right now, i'm also using @onitake  workaround, download to a temp location and then move it to the final destination... but of course, this feels like a dirty hack

[2017-08-07 13:25] dogfish182 commented on #16215
I'm encountering this issue as well. it's really annoying.
In my below playbook (section) I would expect that on the delgated host the account 'fresh-dbs' should be used. but what happens is the user I'm running the playbook as is used and the whole thing falls down because there is no key copied from the delegated host to the target host. I made sure of that by actually creating a key and copying

[2017-08-07 13:50] seb1281 commented on #25941
I tried disabling multiplexing too, made no difference...

[2017-08-07 13:52] sfloresk commented on #27243
Hello, thanks for the reply
Yes, that is correct. To be completed honest with you, I am not sure why the authentication is failing if I am using the correct credentials. It might be that if you have existing keys in your ssh agent it use them by default and that cause the server that I am using to not authenticate.

Anyhow, I was checking the code to add the fix by myself but the parameters have b

[2017-08-07 13:52] #27243 closed, assigned to nobody

[2017-08-07 14:07] sophie-h opened #27841 "[parted] Partition is not create if label was absent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
parted
##### ANSIBLE VERSION
git `devel`

##### OS / ENVIRONMENT
Debian stretch

##### SUMMARY
Partition is not create if no label is present.

##### STEPS TO REPRODUCE

[code]

If /dev/loop0 is an empty device:

- First run: Label is create but no partition
- Second run: Partition is created
- Third run: Nothing is changed

The partition should

[2017-08-07 14:32] smellman commented on #26793
In my case, I fix same problem using to_bytes() instead of b().
[code]

[2017-08-07 14:40] alikins commented on #27747
@baccenfutter

Could you provide a simple reproduce role/playbook?

[2017-08-07 14:41] alikins commented on #27747
@baccenfutter And the output from running the playbook with ansible-playbook's '-vvvv' verbosity.

[2017-08-07 14:47] lukas-bednar opened #27844 "dnf module shouldn't enforce root when nothing is changed"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

dnf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

when running dnf module to ensure installed package,
it fails on error, that root is required, even in case the package is already installed.

I would expect that when task has changed=False, it shouldn't require root user.

I used to use 'yu

[2017-08-07 14:49] chrisdpa-tvx commented on #27650
I can test this as well if needed. We are experiencing the same issue.

[2017-08-07 14:58] andyy000 commented on #26433
Hi @ganeshrn

I have notice similar issue with using backup option. It is throwing the same notification msg. Should i try with devel branch?

` - name: Backup Junos SRX devices
  hosts: "SRX"
  connection: local
  gather_facts: no

  vars:
    srx:
      host: "{{ inventory_hostname }}"
      username: username
      password: password
      port: 22

  tasks:
    - name: Backup
      junos_confi

[2017-08-07 15:00] alikins commented on #27748
filter plugins run on the controller, so any python modules they need would need to be on the controllers python path.

Currently, there is no ansible specific location to install deps needed by plugins (like filters). (ie, no analog to playbook local module_utils/ for ansible modules).

plugins, inc filters, can import from the controllers main ansible.module_utils package, but that doesn't inclu

[2017-08-07 15:07] bcoca commented on #27762
closing as dupe of #11175, sadly we won't be able to revise ansible.cfg search paths anytime soon as too many people rely/want this behaviour. I advise to avoid running Ansible from directories you don't control in the meantime.

[2017-08-07 15:07] #27762 closed, assigned to jimi-c, bcoca

[2017-08-07 15:07] alikins commented on #27788
empty report, closing.

[2017-08-07 15:07] #27788 closed, assigned to nobody

[2017-08-07 15:09] rszewczyk commented on #27650
I'll have some time tonight to try it. @chrisdpa-tvx please feel free to test if you can get to it before me.

[2017-08-07 15:10] s-hertel commented on #19120
Retrying on throttling has been added to the AWSRetry class in ac15df8ab9c1937553894f26b433a24447a0fc6f. AWSRetry is for boto3 modules, so older modules will also need to be ported. Please open a bug report for the module in question when you run into this.

[2017-08-07 15:12] amenonsen opened #27845 "conditional include_tasks passes conditions down to included tasks"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible does not behave according to the documentation for ``include_tasks``:

[code]

##### STEPS TO REPRODUCE

First file, ``a.yml``:

[code]
Second file, ``x.yml``:
[code]

Then run:
[code]

##### EXPECTED RESULTS

I expected the value of

[2017-08-07 15:29] wrouesnel commented on #24119
It's sitting on a branch at work, so I guess when I get some time (maybe tomorrow) I'll clean it up and submit it.

[2017-08-07 15:29] alikins commented on #27798
Based on https://github.com/ansible/ansible/issues/27798#issuecomment-320440600, it looks like get_updated_cache_time() [https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apt.py#L809-L818] doesn't check if the result of get_cache_mtime() is 0 when the cache files dont
exist as @marcv81 mentions and returns a mostly meaningless/bogus timestamp for the cache timestamp th

[2017-08-07 15:30] martinm82 commented on #25683
I have a similar issue and the problem occurs in my case if I have empty lines in the environment file.

Actually this is not a problem in Ansible but rather docker-py. I checked my version (1.10.6) and there I see that empty lines are not handled. But with the latest version (2.4.2) of docker-py (https://github.com/docker/docker-py/blob/master/docker/utils/utils.py) it is.

[2017-08-07 15:34] ryansb commented on #21536
Closed by #23077

[2017-08-07 15:34] #21536 closed, assigned to nobody

[2017-08-07 15:42] emonty commented on #27423
Sorry - my turn to have been delayed by trip. :)

I will write up a more detailed fix plan by tomorrow, and I'll see what we can prioritize on my end. I think there might be some ways we can do a quick hack to help your customer that we can generalize as part of the plan. (but I need to write up the details to make sure)

As for the reason the individual GET calls can be bad -

Imagine an applicat

[2017-08-07 16:09] GrandPubba commented on #25402
I believe I am running into this as well.  Updating my cacerts as @sivel and @MiLk suggest did not fix the problem for me.  What I noticed is that this was working on some of my nodes and not others.  After a bit of work I determined that before installing urlib3==1.22 and pyOpenSSL==17.2.0 the following test works:

[code]

After installing these two packages the error appears.

[2017-08-07 16:10] trstringer commented on #23705
@symgryph for the most part, the azure==2.0.0rc6 package should be working. I personally haven't run into any module that has an issue with this package version. But with that being said, it's very important that we integrate support for azure==2.0.0.

[2017-08-07 16:13] jeremy-audet commented on #26868
I can reproduce.

##### COMPONENT NAME
dnf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

`/etc/ansible.cfg` is untouched. It is as provided by the [Arch Linux package](https://www.archlinux.org/packages/community/any/ansible/). No Ansible-related variables are set. Verified with:

[code]

##### OS / ENVIRONMENT

My control host is an up-to-date Arch Linux system. My managed hosts are a varie

[2017-08-07 16:18] alikins commented on #27810
CI for that commit https://app.shippable.com/github/ansible/ansible/runs/31998/6/console(and later commits) seems to pass the tests on osx.

The CI osx tests are on OSX 10.11  so that may be a potential difference.

Though, in CI, we see intermittent failures similar to what you mention but haven't been able to track them down. If you can reproduce the failures easily, we could probably use a hand

[2017-08-07 16:20] alikins commented on #27813
pinging @jimi-c

[2017-08-07 16:29] alikins commented on #27813
One variation of this that I've wanted before is per task/role/block handlers. A handler attached directly to a task would get run immediately after task completion.

Sort of an analog to event handlers attached to widgets in a GUI app. For any event, the widget is checked if it has a handler for handling the event, and if not, the parent widget is checked, continuing up to the root widget. A ansi

[2017-08-07 16:33] marcv81 commented on #27798
Some more info. Some distros (e.g.: Ubuntu) maintain `/var/lib/apt/periodic/update-success-stamp`. Others don't (e.g.: Debian).

On Ubuntu the following hook is defined in `/etc/apt/apt.conf.d/15update-stamp`.

    APT::Update::Post-Invoke-Success {"touch /var/lib/apt/periodic/update-success-stamp 2>/dev/null || true";};

I failed to find where the file is subsequently used (if at all). But it mig

[2017-08-07 16:45] beporter commented on #19249
Another option (if your task lives in a role):

[code]

The file does get loaded properly with the full path, but when the play is run using Python 3 it produces an exception:

[code]

Leaving this note here because there doesn't seem to be any other reference of `ansible iam_policy attributeerror urllib unquote` out there on the web at the moment.

edit:
[code]

[2017-08-07 16:49] #24971 closed, assigned to nobody

[2017-08-07 16:57] Qalthos commented on #26301
`*_in/*_out` should be fixed properly this time. Same with `allowas-in`. `maximum-prefix options` is gone too. `as-override` now has a helpful warning telling you (or at least me) why it is not applying to this configuration, though I don't understand the reason (`[WARNING]: as-override is valid only for EBGP peers`).

`default-originate` and `send-community` showed no problem on my end. If you ca

[2017-08-07 17:04] #27242 closed, assigned to nobody

[2017-08-07 17:06] mattclay commented on #27810
@alikins This issue is about unit tests on macOS. We only run integration tests there, so this is unrelated to any CI issues we've been experiencing.

I'll provide another update after I've had a chance to try reproducing the issue.

[2017-08-07 17:16] rcarrillocruz commented on #27793
We have made multiple changes to the persistent connect framework in 2.4.

Can you please check out Ansible devel branch, run your playbook and let us know if you see the same issue?
Also, which specific platform and version are you using in your environment?

[2017-08-07 17:18] rcarrillocruz commented on #27793
needs_info

[2017-08-07 17:21] mattclay commented on #27810
I've confirmed that some of the unit tests fail on macOS.

I ran `test/runner/ansible-test units -v --python 2.7 --tox` on macOS 10.12.6 with Python 2.7.13 from brew and ended up with the following test results summary:

[code]

[2017-08-07 17:23] calfonso commented on #26224
Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-project
If you can stop by there, we'd appreciate it. This allows us to keep the issue tr

[2017-08-07 17:54] #27167 closed, assigned to nobody

[2017-08-07 18:25] giovannisciortino opened #27850 "tower_job_list module: NameError: global name 'tower_argument_spec' is not defined"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tower_job_list module but I believe that also the other tower_* module have the same error

##### ANSIBLE VERSION

$ ./build/scripts-2.7/ansible --version
ansible 2.4.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/gsciorti/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python mo

[2017-08-07 18:31] nitzmahone commented on #23705
I haven't tried with a clean install in a few weeks, but the last time I tried it, everything worked with clean installs of both rc5 and rc6. Where you can get into trouble is if you've installed the azure cli tools or various other things in the same environment, because they upgrade some components past what works with the rc's... This will be moot once we've tested/shipped the upgraded stuff th

[2017-08-07 18:59] #25057 closed, assigned to nobody

[2017-08-07 19:01] gregory-dan opened #27853 "cloudformation create_change_set fails when stack is in ""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cloudformation.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When stack name is in "UPDATE_ROLLBACK_COMPLETE" state,
the changeset created successfully but Ansible exists with fatal error

When executing exactly the same CF template on the same stack, the command succeed.
The same if calling

[2017-08-07 19:05] mrjoshuap commented on #26037
I can confirm this issue is still present.  I too am running into this same issue.  In the short term, I've been performing a gcloud command immediately after the gce module runs to grow the disk -- which works -- however, specifying the disk_size has no apparent impact as I would have expected.

I'm using environment variables to configure GCE modules.

[code]

[2017-08-07 19:13] newswangerd commented on #27136
ANSIBLE_HOST_KEY_CHECKING=false fixes this.

[2017-08-07 19:14] gregory-dan opened #27854 "cloudformation create_change_set creates different changeset than aws cli"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cloudformation.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When deploying the same CF template using aws cli and Ansible module
the results are different.
In case of aws cli the changeset is empty(expected result) and with Ansible module I get subnets update. Although no updates should tak

[2017-08-07 19:14] Shrews commented on #22662
Since this merged into shade long ago, and there has been no other activity on this report, marking this as resolved.

bug_resolved

[2017-08-07 19:17] ssayyad786 commented on #10194
hey i can still see this issue in ansible version 2.3. can you please check.

[2017-08-07 19:20] #22662 closed, assigned to rcarrillocruz

[2017-08-07 19:21] bcoca commented on #27825
This was never intended nor supported, so marking as a request for enhancement as this is not a bug.

[2017-08-07 19:30] Shrews commented on #26634
The os_security_group module does assume unique names for security groups. The assumption being that if you're creating your groups with this module, then your playbook will use unique names for the things you are creating (similar to how the other os_* modules operate). If you're creating the security groups outside of the module, then yeah, things might not work as expected if you use the group

[2017-08-07 19:31] regexcracker commented on #27825
Hi,

Any other way to achieve this scenario.

[2017-08-07 19:33] ryansb commented on #27854
Can you please include a copy of a stack that exhibits this behavior? It's hard to get a reproducer out of your example because of the large number of variables in the task.

[2017-08-07 19:39] tchernomax opened #27856 "can't access ansible_become_* variables"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

become & facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing special:
[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

`ansible_become_*` can't be used in templates, they appear as "VARIABLE IS NOT DEFINED!" when trying to debug.

But they are present via hostvars.

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RES

[2017-08-07 19:42] tchernomax commented on #27856
sorry, it seems I didn't do my test as I should… now I can print the vars.

[2017-08-07 19:42] #27856 closed, assigned to nobody

[2017-08-07 19:46] bcoca commented on #27825
many, but not one inherit to Ansible's playbook definitions. Use parallels or xargs or similar tool to run them in parallel.

[2017-08-07 19:47] nathanieljhnsn opened #27857 "SSH Response Issues with Ansible"
##### ISSUE TYPE
 - Bug Report
Though technically it's probably a setting

##### COMPONENT NAME
 SSH and Ping All

##### ANSIBLE VERSION
ansible 2.3.1.0
config file = /etc/ansible/ansible.cfg
configured module search path = Default w/o overrides
python version = 2.7.9 (default, Aug 13 2016, 16:41:35) [GCC 4.9.2]

##### CONFIGURATION
No edits to ansible.cfg file, but i'm unable to copy/paste output

[2017-08-07 19:49] #26634 closed, assigned to nobody

[2017-08-07 20:02] Shrews commented on #26108
Could you try using 'fixed_ip' instead of 'v4-fixed-ip' and see if that works for you?

[2017-08-07 20:05] abadger commented on #20494
Note: the affects_2.3 is to mark that this affects 2.3; it's not a guarantee that it will be fixed in 2.3.  We'll have to find out what the fix is before we can decide whether it can be backported or not.

[2017-08-07 20:12] ar7z1 commented on #18861
@j3ffrw @dagwieers Should I do something in the `win_firewall_rule` module to fix this issue?

[2017-08-07 20:17] ar7z1 commented on #22977
@derekbelrose Will #27381 help you to do what you need?

[2017-08-07 20:24] jborean93 commented on #18861
@ar7z1, if it is a simple fix let's do it. If it requires some bigger changes let's get your existing one through and then look at this separately.

[2017-08-07 20:27] jmcginn13 opened #27860 "vmware_guest_find by UUID or name does not find VMs in resource pools and vmware_guest_facts by name does not either"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
vmware_guest_facts
vmware_guest_find

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default
##### OS / ENVIRONMENT
Guest OS: Centos 7
VSphere 5.5 with VCenter 6.0

##### SUMMARY
Would like to find facts about VMs that are part of a resource group

##### STEPS TO REPRODUCE
1. Create a resource group
2. Create a VM in that resource group
3

[2017-08-07 20:28] TMacDonagh opened #27861 "ec2_ami no image_id key/val when change status is false in ver 2.3.x.x"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_ami

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

ec2_ami module does not return the image_id (ami id) key/value when the change status is false.  In version 2.2.1.0 it does but in 2.3.0.0+ it does not.

##### STEPS TO REPRODUCE

step1. create a playbook that tells aws to make an ami (ec2_ami)

[2017-08-07 20:29] alikins commented on #20494
I can reproduce with devel (5df4ff8983) and jinja 2.9.6

[code]

[2017-08-07 20:38] dagwieers commented on #18861
@ar7z1 Hmm, I wasn't aware of this issue when we refactored that module :-/ But at least we didn't make it worse :-)

[2017-08-07 20:46] alikins commented on #20494
reproducer examples at https://github.com/alikins/ansible-bug-repro/tree/master/jinja_include_20494

[2017-08-07 20:47] rahushen commented on #26024
@calfonso @Qalthos ... Roger that! I've taken a stab at fixing the `suppress_fib_pending` idempotence issue. It passes my integration test. Please review and let me know.

[2017-08-07 20:51] s-hertel commented on #27650
@chrisdpa-tvx, @rszewczyk That would be awesome. Thanks very much. :)

[2017-08-07 21:43] basictheprogram opened #27864 "include_vars, dir, displays "ml""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
include_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Control host: macOS 10.12.5
Managed host: ubuntu 16.04

##### SUMMARY
include_vars: dir: displays "ml" for each variable file in dir

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[2017-08-07 22:40] JLofgren commented on #23530
@geerlingguy asked an excellent question, and I want to repeat it, because I am also seeking an answer:

How can I refer to the user who is running the ansible playbook???

[2017-08-07 22:43] Qalthos commented on #26024
@rahushen I pulled your commit into my PR, does #27329 now fix everything for you?

[2017-08-07 22:46] abadger commented on #25547
Yep.  Minimum Python3 version is 3.5.

[2017-08-07 22:46] #25547 closed, assigned to nobody

[2017-08-07 23:12] nitzmahone commented on #23530
`lookup('env', 'USER')` or `lookup('pipe', 'whoami')` would both work under most circumstances (and could be combined with `default` to implement a fallback behavior).

[2017-08-07 23:24] coolcps commented on #27793
Mac Sierra 10.12.5 (16F73)
---
Got 2.4, creates more issues :( .  In 2.3 when I had the issue it seemed like starting a new terminal up had fixed it, or maybe it was coincidence.  I had the issue earlier, updated to 2.4, closed out all terminals and tried again.  This is the relevant log.

[code]

And I can't even connect to any other devices that don't have that previous issue, here is the releva

[2017-08-08 00:50] #27864 closed, assigned to nobody

[2017-08-08 02:35] wrouesnel commented on #24119
Created #27874 to resolve this (swap copyfile for atomicmove).

[2017-08-08 02:48] abadger commented on #27599
Thanks @bcoca @dagwieers @defionscode.  License header updated

[2017-08-08 02:48] #27599 closed, assigned to nobody

[2017-08-08 04:44] minusdavid commented on #19809
@afgane @goreilly I'm on Ansible 2.3.1.0 and I'm still having this issue.

[2017-08-08 04:51] shashiyadav2017 opened #27875 "syntax for gathering facts inside roles/tasks yml file"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

gather facts inside roles/tasks/.yml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux

##### SUMMARY

I need to gather facts only for specific hosts where the playbook is making the changes.

Main.yml file is as below:(Here i am making gather_facts as no because i don't want it to run for all the hosts)
main

[2017-08-08 04:57] minusdavid commented on #19809
When in doubt, look at the source code...

Looking at Ansible 2.3.1.0 at /usr/lib/python2.7/dist-packages/ansible/modules/source_control/git.py on Ubuntu 14.04.

Also taking a look at master and the problem is that I seem to be reaching this line: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/source_control/git.py#L855.

There's no force there... even though I'd argue there sho

[2017-08-08 05:51] Akasurde commented on #27850
@giovannisciortino I can reproduce the issue. Please raise PR if you would like.

[2017-08-08 06:01] abadger commented on #16615
@alikins has this been resolved by the facts rewrite?

[2017-08-08 06:16] abadger commented on #24416
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-08-08 06:16] #24416 closed, assigned to nobody

[2017-08-08 06:18] abadger commented on #24482
Closing this for lack of information.  As far as I can tell the symptoms shows are because of running under the trace module, not because of a bug in ansible.  If someone is experiencing similar errors, please open a new bug report with complete information on how to reproduce that error and we'll see what we can find.  Thanks!

[2017-08-08 06:18] #24482 closed, assigned to nobody

[2017-08-08 06:28] abadger commented on #24348
https://github.com/ansible/ansible/pull/26436 was merged so closing this.

[2017-08-08 06:28] #24348 closed, assigned to nobody

[2017-08-08 07:11] giovannisciortino commented on #27850
Further details on the issue. The problem is present only with the python library ansible-tower-cli 3.1.5 and 3.1.6. The version 3.1.7 fixed the issue

It's caused by the line "import tower_cli.utils.exceptions as exc" in the files(and in the other ansible modules):
- lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_list.py
- lib/ansible/module_utils/ansible_tower.py

As reported in

[2017-08-08 07:12] abadger commented on #25178
Closing ticket as it should be fixed by #27254

[2017-08-08 07:12] #25178 closed, assigned to abadger, jctanner

[2017-08-08 07:23] abadger commented on #21594
If SOlaris provides a POSIX shell in another location I beleive you can use ansible_shell_executable to give the path to it.  (ansible_shell_executable is at the bottom of the Behavioural inventory parameters secion:  http://docs.ansible.com/ansible/latest/intro_inventory.html#list-of-behavioral-inventory-parameters  )

[2017-08-08 08:06] noaho commented on #27413
Thanks. Sorry about this!

[2017-08-08 08:06] #27413 closed, assigned to nobody

[2017-08-08 08:23] mkrizek commented on #26868
@Ichimonji10 That is already fixed in #27302 and #27324. Should be in the 2.3.2 release.

[2017-08-08 08:23] #26868 closed, assigned to nobody

[2017-08-08 08:35] ashisa opened #27878 "Can't create VM in a VNET that exists in a different resource group in v2.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
- none
##### OS / ENVIRONMENT
CentOS 7.2 on Azure
Linux anscontrol01 3.10.0-327.28.2.el7.x86_64 #1 SMP Wed Aug 3 11:11:39 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
I am trying to create a new VM in an existing resource group

[2017-08-08 08:45] calistochen opened #27879 "ansible-playbook error!and i do not know what happen"
sys.exit(main(sys.argv[1:]))
  File "/usr/bin/ansible-playbook", line 264, in main
    pb.run()
  File "/usr/lib/python2.6/site-packages/ansible/playbook/__init__.py", line 348, in run
    if not self._run_play(play):
  File "/usr/lib/python2.6/site-packages/ansible/playbook/__init__.py", line 732, in _run_play
    play._play_hosts = self.inventory.list_hosts(play.hosts)
  File "/usr/lib/python2.6

[2017-08-08 10:03] mesopodamia opened #27882 "How to use Ansible to execute multiple services on a single host by playbook simultaneously"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### INVENTORY

demo.yml

[code]

##### STEPS TO REPRODUCE

when I set the host variable is  app.source.* To match the host
execute the instruction only a orders can be completed
and can not be completed several times
[code]

##### PLAYBOOK

[code]

##### EXPECTED RESULTS
i want touch two files  on the host(192.

[2017-08-08 11:35] lukas-bednar commented on #27187
I am thinking how to  implement this feature.

Here is my proposal for changing name of imported template.
In my opinion, the `name` should be name of template which should be created (by importing) in Engine.
So I think we need to add parameter to refer template to be imported.
I have some three names but I don't know what to pick:
* import_from
* source_template
* imported_template

Something li

[2017-08-08 11:51] jamieburchell opened #27885 "ERROR! Unexpected Exception, this is probably a bug: u'prompt_ask_vault_pass'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

WSL on Windows 10 x64

##### SUMMARY

ansible-vault edit and encrypt no longer working

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

Was expecting to be prompted automatically, expected `--ask-vault-pass` to work when added

##### ACT

[2017-08-08 12:06] Vladimir-csp commented on #21279
I got distracted by the reference after comment about the duplicate. Yes, this is clearly a duplicate of #18748

[2017-08-08 12:12] fernandopcg commented on #24057
We are having the same issue with Windows Server 2008 R2, but not with Windows Server 2011 R2, and that hotfix KB2842230 that's being mentioned above is not available for Server 2008 (https://www.catalog.update.microsoft.com/Search.aspx?q=KB2842230)

[2017-08-08 12:12] chenli0906 opened #27886 "Shared connection to XXXX closed, when using ping module in Ansible 2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None
##### OS / ENVIRONMENT

RedHat 6.5

##### SUMMARY

ansible task
`ansible 192.168.1.101 -m ping -vvv`
error
[code]
[https://github.com/ansible/ansible/pull/23656](url) similar to my issue ,but it doesnt work for me

[2017-08-08 13:02] matburt commented on #27850
Probably best to just require the user to install the latest version of tower cli... otherwise we'd be carrying useless conditional imports in the future.

[2017-08-08 13:04] matburt commented on #27850
close_me

[2017-08-08 13:10] florres commented on #8603
+1

[2017-08-08 13:24] dagwieers opened #27893 "vsphere_copy - Speed operation by writing files directly to datastore host"
_From @chrrrles on August 31, 2015 16:25_

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vpshere_copy

##### ANSIBLE VERSION
v2.2

##### SUMMARY
If possible, we should be using pyvmomi to find the host which the datastore is connected to, and then use that with VCenter's SessionManager to generate a one time credential for a direct upload.

http://www.virtuallyghetto.com/2014/06/how-to-ef

[2017-08-08 13:24] dagwieers commented on #27893
_From @chrrrles on September 4, 2015 13:13_

Initial work on this feature can be seen here:

https://gist.github.com/chrrrles/c392dd5bcdcba7d8259d

Success for finding the esxi host and acquiring a service ticket, but getting broken pipe from the direct HTTP connection in my test environment.  Working on that.

[2017-08-08 13:24] dagwieers commented on #27893
_From @ansibot on August 4, 2016 22:28_

@dagwieers, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-08-08 13:24] dagwieers commented on #27893
@ansibot wants my response, so here it goes: @chrrrles you got my full support !

[2017-08-08 13:24] dagwieers commented on #27893
_From @ansibot on September 13, 2016 4:39_

@dagwieers, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-08-08 13:24] dagwieers commented on #27893
needs_contributor

[2017-08-08 13:24] dagwieers commented on #27893
_From @ansibot on December 7, 2016 15:43_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-08-08 13:28] dagwieers opened #27894 "vca_vapp errors in setting the computer_name to vm_name for API 5.5, 5.1, 1.5"
_From @lasko on September 23, 2015 15:56_

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vca_vapp

##### ANSIBLE VERSION
v2.0

##### SUMMARY
I have two cloud providers I use, one that uses API version 5.6, and one that uses 5.5

This module works great on version API version 5.6 but when I attempt to create a vapp on the vcd with API version 5.5 (of 5.1, or 1.5 which are the supported APIs

[2017-08-08 13:28] dagwieers commented on #27894
_From @robynbergeron on October 1, 2015 17:8_

[module: cloud/vmware/vca_vapp.py]

[2017-08-08 13:28] dagwieers commented on #27894
_From @robynbergeron on October 1, 2015 17:11_

Hi @lasko - thanks for submitting this ... I'm going to call it a bug report. Since I am guessing it should probably at least be documented with info about what API should be used, if not fix the problem altogether :)

@privateip -- pinging you to bring this ... bug report, or possible feature idea, to your attention. :)

[2017-08-08 13:28] dagwieers commented on #27894
_From @mixmatch on February 3, 2016 17:41_

+1

[2017-08-08 13:28] dagwieers commented on #27894
_From @ansibot on August 4, 2016 21:12_

@chrrrles, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-08-08 13:28] dagwieers commented on #27894
_From @ansibot on September 13, 2016 3:38_

@chrrrles, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-08-08 13:28] dagwieers commented on #27894
_From @ansibot on October 6, 2016 18:20_

@jctanner, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-08-08 13:28] dagwieers commented on #27894
_From @ansibot on October 21, 2016 8:56_

@chrrrles, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-08-08 13:28] dagwieers commented on #27894
_From @ansibot on November 6, 2016 11:1_

@chrrrles, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-08-08 13:28] dagwieers commented on #27894
_From @ansibot on November 22, 2016 11:8_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-08-08 13:28] dagwieers commented on #27894
_From @ansibot on December 7, 2016 15:59_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-08-08 13:32] bcoca commented on #27879
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2017-08-08 13:32] #27879 closed, assigned to nobody

[2017-08-08 13:33] dagwieers opened #27895 "vca_vapp missing network_ip option"
_From @mixmatch on January 29, 2016 20:37_

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vca_vapp

##### ANSIBLE VERSION
v2.0

##### SUMMARY
Unable to set IP address when creating vCloud instances due to missing 'network_ip' option.
See:
https://github.com/vmware/vca-codesamples/blob/master/ansibleworkshopVMworld2015/lessons/lesson2/library/vca_vapp.py#L100

_Copied from original issue:

[2017-08-08 13:33] dagwieers commented on #27895
_From @ansibot on August 4, 2016 20:39_

@chrrrles ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-08-08 13:33] dagwieers commented on #27895
_From @ansibot on September 13, 2016 3:35_

@chrrrles, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-08-08 13:33] dagwieers commented on #27895
_From @ansibot on October 6, 2016 18:8_

@jctanner, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-08-08 13:33] dagwieers commented on #27895
_From @ansibot on October 21, 2016 8:55_

@chrrrles, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-08-08 13:33] dagwieers commented on #27895
_From @ansibot on December 7, 2016 14:14_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-08-08 13:44] bcoca opened #27897 "error/warn on ignored keywords"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

parser

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
all

##### SUMMARY

Currently ignored keywords do not notify user they were ignored

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

`[WARNING] async is not supported with include`

##### ACTUAL RESULTS

async is silently ignored

[2017-08-08 13:50] theduke commented on #22382
This would be a very awesome feature, I'm throwing my support behind it.

[2017-08-08 13:53] #27334 closed, assigned to nobody

[2017-08-08 13:54] dagwieers opened #27899 "Roles support in vmware_local_user_manager.py module"
_From @Alex5252 on November 28, 2016 12:57_

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

vmware_local_user_manager.py

##### ANSIBLE VERSION

ansible 2.2.0.0

##### SUMMARY

Can you please add a feature to create local roles and add local users in local roles? We'd like create role, with needed permissions and add give them to the created user.

_Copied from original issue: ansible/ans

[2017-08-08 13:54] dagwieers commented on #27899
_From @ansibot on November 28, 2016 13:13_

@ansible ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-08-08 13:54] dagwieers commented on #27899
_From @ansibot on December 7, 2016 15:49_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-08-08 14:10] #27850 closed, assigned to nobody

[2017-08-08 14:14] JLofgren commented on #23530
@nitzmahone - Thanks, that seems to work for me!

[2017-08-08 14:15] yosefy opened #27900 "cant change nic's network"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
  - name: test
    vmware_guest:
      validate_certs: no
      datacenter: aaa
      folder: /aaa
      cluster: aaa
      hostname: test.com
      username: user
      password: pass
      name: ny-name
      networks:
      - name: DPortGroup -vlan110-NFS
      - vlan: 110

####

[2017-08-08 14:37] alikins commented on #16615
As far as I know, the data structure of the info in the facts should be the same as before the 2.4 refactor. Other features/bug fixes may have changed it elsewhere, but the refactor was tested with diffs on the json output from before and after and I don't think there were any facts data/model/schema changes.

The ipv4 code for sunos/solaris is different from the linux code, and does return a diff

[2017-08-08 14:51] cytopia commented on #25598
@pilou- I think this is a good solution. I would also check, if an alternative is available prior execution (if `link` is not set).

[2017-08-08 15:01] dnhodgson opened #27903 "CloudEngine host failed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- CloudEngine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_DEBUG="True"
ANSIBLE_HOME="/opt/ansible"
ANSIBLE_INVENTORY="/root/ansible_hosts"
ANSIBLE_LOG_PATH="/root/ansible.log"

##### OS / ENVIRONMENT

CentOS 7.3

##### SUMMARY

When trying to run a playbook with ce_config or ce_command I get the following error.

[code]

#####

[2017-08-08 15:06] lukas-bednar commented on #27187
I hit issue to implement template-rename feature, because it is not supported by engine to do that during the import.
It is possible to do it afterwards. So what we can do is implement feature to rename template after import ...
something like:
[code]

@rsimonfr @machacekondra any other suggestions ?

[2017-08-08 15:38] sophie-h opened #27905 "[virt] Overhaul and complete the virt_ modules"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

virt modules

##### SUMMARY

Add a new family oft libvirt modules.

The design and implementation of the libvirt modules

- [virt](http://docs.ansible.com/ansible/latest/virt_module.html)
- [virt_net](http://docs.ansible.com/ansible/latest/virt_net_module.html)
- [virt_pool](http://docs.ansible.com/ansible/latest/virt_pool_module.html)

is s

[2017-08-08 15:41] #23522 closed, assigned to nobody

[2017-08-08 16:05] #25005 closed, assigned to abadger

[2017-08-08 16:05] #25639 closed, assigned to nobody

[2017-08-08 16:09] rahushen commented on #26024
@Qalthos ... the event history fix works on all but 2 releases. I2 and I3.

TASK [nxos_bgp : Check Idempotence] ***************************************************************************************************
task path: /root/agents-ci/ansible/test/integration/targets/nxos_bgp/tests/nxapi/sanity.yaml:96
<dplus-nx-3.cisco.com> connection transport is nxapi
Using module file /root/agents-ci/ansib

[2017-08-08 16:12] #27527 closed, assigned to nobody

[2017-08-08 16:12] saichint opened #27908 "(P1) nxos_snapshot fails for {{ nxapi }}"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_snapshot

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: Nexus9000 C9396PX running 7.0(3)I7(1)

##### SUMMARY
When we run a playbook on nxos_snapshot with {{ nxapi }} to create a snapshot, it errors out.

##### STEPS TO REPRODUCE
playbook:

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESUL

[2017-08-08 16:14] rahushen commented on #26024
The reason being how it appears in the running-config.

camden-nx-3(config-router)# sh run bgp all

!Command: show running-config bgp all
!Time: Tue Aug  8 16:14:05 2017

version 7.0(3)I2(5)
feature bgp

router bgp 65535
  shutdown
  router-id 192.168.0.66
  cluster-id 10.0.0.1
  timers bgp 45 110
  timers bestpath-limit 255
  timers prefix-peer-timeout 30
  timers prefix-peer-wait 90
  graceful-r

[2017-08-08 16:15] rahushen commented on #26024
That's the only issue I'm observing.

[2017-08-08 16:23] abadger commented on #27699
AnsiballZ also has problems with permissions if it uses the remote_tmp for unzipping the files.

We may want to categorize this as a documentation bug cobined with a feature request.

[2017-08-08 16:28] nathanieljhnsn commented on #27857
##### ISSUE TYPE
 - Bug Report
Though technically it's probably a setting

##### COMPONENT NAME
 SSH and Ping All

##### ANSIBLE VERSION
ansible 2.3.1.0
config file = /etc/ansible/ansible.cfg
configured module search path = Default w/o overrides
python version = 2.7.9 (default, Aug 13 2016, 16:41:35) [GCC 4.9.2]

##### CONFIGURATION
No edits to ansible.cfg file, but i'm unable to copy/paste output

[2017-08-08 16:37] ganeshrn commented on #27815
@Kokozzi The implementation is not intended to support fetching partial configuration.
 Since junos does not have a one to one mapping between `show configuration` cli command and `get-configuration` rpc with filters as in case of other junos operational mode commands

[2017-08-08 16:38] coolcps commented on #27793
Went back down to 2.3.2 to continue what I am working on.  Could you recommend any sort of manual fix to "unstick" the persistent connections?  Right now when this happens I have just been changing SSH to a new port to be able to establish a connection again.  I would imagine there is some file where I can purge current persistent connections though.  Thanks for any info!

EDIT:  Just to clarify,

[2017-08-08 16:46] brandonheller commented on #9034
Putting the code from #18621 into callback_plugins/ and then referencing it in ansible_cfg like this:

[code]

...worked fine.  For releases past 2.4, it looks like the full_skip plugin will be available out-of-the-box.

[2017-08-08 17:26] regexcracker commented on #27825
But I can not use Ansible definitions or modules to implement the same?

[2017-08-08 17:45] hlieberman commented on #27494
@jimi-c, @abadger, this has caused Ansible to become uninstallable on Debian testing and Debian unstable.  (Downstream bug https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=870599)

[2017-08-08 17:58] saichint commented on #27600
Fixed via #27724

[2017-08-08 17:58] #27600 closed, assigned to nobody

[2017-08-08 17:58] saichint commented on #27676
Fixed via #27724

[2017-08-08 17:58] #27676 closed, assigned to nobody

[2017-08-08 18:26] abadger commented on #27566
Merged https://github.com/ansible/ansible/pull/27568  which should fix this.  Closing.

[2017-08-08 18:26] #27566 closed, assigned to nobody

[2017-08-08 18:28] inhumantsar opened #27916 "ec2_vpc_nat_gateway output is inconsistent between runs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_vpc_nat_gateway

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
During the intial creation of a NAT Gateway, keys in the dict returned by the module use names which align with the AWS API output rather than the Pythonic keys shown in the documentation.

##### STEPS TO REPRODUCE

[code]

##### EXPE

[2017-08-08 18:52] dav1x commented on #27900
Can you list the full plays that you are trying to run @yosefy ? I'm a little uncertain how to try and recreate this.

[2017-08-08 19:01] #23558 closed, assigned to nobody

[2017-08-08 19:20] andreaso commented on #26395
Did a bit of testing, using both Ansible 2.1.1 as well Ansible 2.4 (devel). From what I can determine the `host` parameter is being used when specified.

On the other hand, the module's error message is definitely on the faulty/unhelpful side. Looks like it no matter what refers to the domain part of the JID.

https://github.com/ansible/ansible/blob/b8d371c/lib/ansible/modules/notification/jabber.

[2017-08-08 19:44] mcaulifn opened #27917 "Stop EC2 Instance with multiple interfaces fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
standard

##### OS / ENVIRONMENT
RHEL 7

##### SUMMARY
Attempting to stop EC2 instances with multiple ENIs attached results in a failure.

##### STEPS TO REPRODUCE
Stop task, this may also happen with a start task

[code]

##### EXPECTED RESULTS
I would expect the instance(s) to be stopped

[2017-08-08 20:09] clvx opened #27919 "Ansible ignores ssh_config file"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- ssh

##### ANSIBLE VERSION
$ ansible --version
ansible 2.3.1.0
  config file =
  configured module search path = Default w/o overrides
  python version = 2.7.13 (default, Apr  4 2017, 08:44:49) [GCC 4.2.1 Compatible Apple LLVM 7.0.2 (clang-700.1.81)]

##### CONFIGURATION
$cat ansible.cfg
[ssh_connection]
ssh_args = -F ./bastion-ssh -o ControlM

[2017-08-08 20:42] alikins commented on #20494
git bisect the jinja repo between 2.8.1 and 2.9 points to this commit as first bad commit:

[code]

[2017-08-08 20:52] tchernomax commented on #24979
I think I experience the same issue and manage to narrow it a bit.

Here is a minimal playbook/configuration to show and reproduce the problem.
[code]
I keep the "a" and "b" variable to show the bug doesn't appear when variables are defined in the same file.

I am using ansible 2.3.2.0:
[code]

PS: the result is exactly the same with "gather_facts: true" (in case you wonder)

[2017-08-08 21:17] zmedico commented on #20494
https://github.com/pallets/jinja/commit/d67f0fd4cc2a4af08f51f4466150d49da7798729 changed the behavior of get_all so that it returns a "private" dictionary:
[code]
That could cause problems with any code that isn't careful with that "private" dictionary. For example, the jinja2.debug.get_jinja_locals function modifies the dictionary returned from `ctx.get_all()`:

https://github.com/pallets/jinja/b

[2017-08-08 21:21] bpleines commented on #13262
+1

...to the developer that takes this on

[2017-08-08 21:30] zmedico commented on #20494
The get_all calls inside jinja2.compiler look suspicious:

https://github.com/pallets/jinja/blob/d67f0fd4cc2a4af08f51f4466150d49da7798729/jinja2/compiler.py

It appears to be creating new contexts that hold references to the "private" dictionary returned from get_all!

[2017-08-08 21:55] schlueter commented on #25856
@bcoca https://github.com/ansible/ansible/commit/e08f068dcaec502a1bcd39f0721c0de50c8b6187 needed a tweak

[2017-08-08 22:00] zerkms opened #27923 "`lxd_container` cannot handle `state: absent` for ephemeral containers properly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lxd_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

If you create the ephemeral container, then make it `state: absent` it throws an error

[code]
It happens because container removal is implemented as

[code]

So as you may see - it first stops the container, then tries to delete. But the

[2017-08-08 22:15] saichint commented on #27609
I am closing this issue as the platform differences are too many and the errors are different. I am going to open separate issues now to cleanly address one issue at a time

[2017-08-08 22:15] #27609 closed, assigned to nobody

[2017-08-08 22:20] saichint opened #27924 "nxos_vxlan_vtep_vni errors out when configuring suppress_arp"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vxlan_vtep_vni

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)

##### SUMMARY
When we configure suppress_arp, it errors out on n9k platforms.

##### STEPS TO REPRODUCE
playbook:

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-08-08 22:29] saichint opened #27925 "(P1) nxos_vxlan_vtep_vni does not delete config when assoc_vrf is present"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vxlan_vtep_vni

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)

##### SUMMARY
When a vxlan_vtep_vni configuration with associate-vrf is removed from device, it does not remove the configuration from the device. However, the playbook does not throw any errors too and it

[2017-08-08 22:38] dagwieers commented on #27900
From the example it seems you are expecting 2 NICs to be created. I think you have the syntax wrong, it should be only one entry:
[code]
The `vlan` key belongs to the `name: DPortGroup -vlan110-NFS` entry, right ?

[2017-08-08 22:40] abadger commented on #27779
We talked about this at today's IRC meeting and felt that this needed to have the various approaches laid out and then evaluated by more people.  The plan is for me to write a proposal and then we'll discuss this at the contributor summit in September (perhaps more places as well).  This will definitely not be changed in time for 2.4.  I'll post a link to the proposal here when I get it written.

[2017-08-08 22:56] saichint opened #27926 "(P2) nxos_vxlan_vtep_vni errors out when trying to test remove idempotence"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vxlan_vtep_vni

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)

##### SUMMARY
Removing vxlan_vtep_vni configuration is NOT idempotent. The config has no associate-vrf.

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-08-08 23:07] dccampbell commented on #5871
I spent a good bit of time on this today, and was often pointed here by searches, so maybe I can save someone else some trouble posting my work-around here. Jimi's answer worked, but as he mentioned required looping through individual yum commands, as opposed to passing one list which gets run all at once. So I separated the work out into a fact and used the `format` filter to do the string manipu

[2017-08-08 23:36] alikins commented on #20494
I think the problem on ansible sides is related to ansible.template.vars.AnsibleJ2Vars.

It isn't 'dict-like' enough for the way jinja creates the context. At one point it uses an instance
of AnsibleJ2Vars as an arg to 'dict()' and the dict constructor ends up thinking it is not a map/dict
but a sequence and eventually ends up trying to access vars[0] which throws a KeyError which
is where the 'Ke

[2017-08-09 01:25] lealoncity commented on #27423
Hi emonty，

Thanks for your support！ I think I can understand the design thinking of list/filter method, and as you said, we need an option to control batched-list vs. direct-get.

Another question, I have tried  to configure per-resource caching, while I think I used it in a wrong way . I just pasted the follow lines in my playbook yml file, in the same level of 'task'.

   expiration:
     serve

[2017-08-09 02:52] Illydth commented on #25281
First, apologies for the lack of response, i've gotten pulled in a hundred different directions.

@dagwieers It's a very valid question you ask.  And you may very well be right, this might all boil down to a packaging issue or maybe it's not even an issue at all.

The only reason i'm looking for help here and not filing an issue with Debian is because the behavior seems weird and ONLY shows with A

[2017-08-09 03:34] dbpqdb opened #27933 "ios_config overwrites unchanged config section on every run where running_config whitespace is inconsistent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No customisation

##### OS / ENVIRONMENT
Ubuntu Xenial
Controlling Cisco ISR router running IOS 15.5(3)M4

##### SUMMARY
Every time the role is run, a section of config that should match the lines supplied is overwritten.
It is caused by inconsistent whitespace in the Cisco configurat

[2017-08-09 03:54] justin-ren opened #27934 "ansible can't read user and password from inventory if use bastion node"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS is macOS Sierra 10.12.6, same issue is happened on OL7 Linux with control node installed.

##### SUMMARY

Must use --ask-pass for bastion, or ansible not work.
If not use --ask-pass, this '%h %p' not replace to user/host address

'ProxyCommand=ssh -q root@10.20

[2017-08-09 03:56] justin-ren commented on #27934
Also hit this issue if use red-hat ol7 linux node as control node.
Aso tried to install ssh-pass on bastion, but not help.
Tried other target node configured OpenSSH later than 5.4, and use 'ssh -W %h:%p'.
Still hit this problem.

[2017-08-09 05:27] msl-kabo commented on #15259
I'm getting this error as well, but when delegating to another ip.

ansible.cfg:
[code]

task:
[code]

output when running with `-i '10.1.1.1,' -vvv`:
[code]

As you can see it's not connecting with user `keygen` as expected, but instead with user `root`. Using ansible version 2.3.2.0.

[2017-08-09 05:30] #27309 closed, assigned to nobody

[2017-08-09 05:38] maethor opened #27938 "Couldn't read packet: Connection reset by peer - Ansible cannot connect on Ubuntu 10.04"
This seems to be a duplicate of #25116. But this issue has been closed automatically, and actually I have no problem with 14.04. So I will try to reformulate it better.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ssh

##### ANSIBLE VERSION

Ansible 2.3.1.0 and 2.3.0.0

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible is running on Debian 8 (Jessie). The host manag

[2017-08-09 05:48] lealoncity commented on #27423
Hi emonty,

As you said before, “The shade team WILL get to all of these, but given various projects and
 priorities for the team members it might a little while. I'd love to be able to make
 more traction on this.”

My colleage asked me if there is a link for this bug or patch. He maybe help to drive shade project.

[2017-08-09 06:18] Kokozzi commented on #27815
@ganeshrn But that was possible in ansible 2.3, I've succesfully tested it in stable version before updating to develop.

[2017-08-09 06:44] #27882 closed, assigned to nobody

[2017-08-09 06:45] sayantandas opened #27939 "vmware_guest fails to modify CPU and RAM of a guest VM"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

vmware_guest does not change the CPU and RAM of a running VM. The output shows result as changed
##### STEPS TO REPRODUCE

I ran the playbook below on a Ubuntu 14.04 VM. Playbook completed successfully but change was not reflected on the Vce

[2017-08-09 06:48] mindrunner commented on #9984
Thank you! 👍

[2017-08-09 06:52] yosefy commented on #27900
yes that was it thanks :)

On Wed, Aug 9, 2017 at 1:39 AM, Dag Wieers <notifications@github.com> wrote:

[2017-08-09 06:59] andrew-sumner commented on #9877
@igcherkaev Is your suggestion something that should work?  I tried putting

 in ansible.cfg and it made no difference when using ansible version 2.3.1.0.

I can't understand how ansible continue to stick with this behavior.

- From my research it is based on the view that plays are somehow more specific than inventories.  I don't understand that view at all as plays strike me as a global thing th

[2017-08-09 07:04] trishnaguha commented on #27402
@mikewiebe Would you mind giving the playbook a try again? the playbook should be passing as expected. it looks like that there might be connection issue during sending the request over nxapi https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/nxos.py#L284.

[2017-08-09 07:20] themanifold opened #27940 "Tagged role in playbook causes role to repeat (in a multi-role playbook)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY
With two roles in a playbook, tagging the first role within the playbook whilst the second role has a explicit dependency on the first role causes the first role to repeat itself once on play run.

##### STEPS TO REPRODUCE

Run line:
[code]

D

[2017-08-09 07:22] lealoncity commented on #27423
Hi emonty,

Could you help to classify the jobs needed to be done by ansible and shade clearly again. We may help to

drive shade project, but my colleage is not very clear to know what shade needs to do in details.

Thanks :)

[2017-08-09 07:29] VAdamec opened #27941 "shell/command - password in journal with no_log: true"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
shell or command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no change of logging
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.3 (Maipo)

##### SUMMARY
Commands from shell module is fully logged on journal on host servers (_raw_params)

##### STEPS TO REPRODUCE

[code]
or

[code]

##### EXPECTED RESULTS
No comm

[2017-08-09 07:46] lealoncity commented on #27423
Hi emonty,

It is better that you help to patch bugs for openstack community. Then my colleage may help to push forward this issue.

Thanks :)

[2017-08-09 08:14] mrunge commented on #20494
manually applying the patch https://github.com/zmedico/ansible/commit/db6966969ff437bf7f7c9c7e474fc22a1d6131de fixes the issues I had since updating to jinja 2.9

Thank you @zmedico !

[2017-08-09 08:18] redbaron commented on #9877
@andrew-sumner , solution @igcherkaev proposed is to swap values in code, it was `inventory/__init__.py` at the time of writing, might be something else by now

[2017-08-09 08:46] candlerb commented on #20494
Thank you to @alikins and @zmedico for doing the analysis on this!

[2017-08-09 08:49] rcarrillocruz commented on #26120
I'm afraid I'm unable to reproduce this now, we don't seem to have a switch image with IOS in our lab at the moment, we will address once we get a new VIRL setup.

In the meantime, can you confirm that none of your items contains your management interface? i.e. the interface you use to connect to the device with ansible itself.

[2017-08-09 08:54] tareqalayan opened #27943 "cloud/ovirt oviert_cluster module should support mac_pool"
this affects the master branch

##### ISSUE TYPE
 - Feature Report

##### COMPONENT NAME

lib/ansible/modules/cloud/ovirt/ovirt_clusters.py

##### ANSIBLE VERSION
ansible 2.3.1.0

##### CONFIGURATION

##### OS / ENVIRONMENT
i am running ansible on fedora 25 and managing rhel7.4

##### SUMMARY
in ovirt 4.1 and 4.2 the mac_pool should be attached via ovirt_cluster module and not via ovirt_datacenter

[2017-08-09 10:19] mkrizek commented on #27886
Looks like this was fixed in https://github.com/ansible/ansible/pull/25394 and cherry-picked into stable2.3 so it should be in the 2.3.2 release. See also https://github.com/ansible/ansible/issues/17215 and https://github.com/ansible/ansible/issues/25401.

[2017-08-09 10:19] #27886 closed, assigned to nobody

[2017-08-09 11:04] dagwieers opened #27949 "xml module: Add a backup option"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
xml

##### ANSIBLE VERSION
v2.4

##### SUMMARY
Similar to the copy or template module, it would be nice to also have a backup option.

_Copied from original issue: cmprescott/ansible-xml#94_

[2017-08-09 11:12] abhinav-chittora commented on #27860
Hi All,

I have the same issue.
`Ansible version: 2.3.1.0`

`vcenter version: 6.0.0`

`ESXi version: 6.0 Update 3`

My code is same, I am trying to get vmware_guest_facts but each time I run the code, it says the virtual machine doesn't exists. However, in inventory view, I am able to find that.

[2017-08-09 11:21] dagwieers opened #27951 "xml module: Reading attribute value into ansible variable is undocumented"
_From @ssbarnea on April 15, 2016 11:54_

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
xml

##### ANSIBLE VERSION
v2.4

##### SUMMARY
The documentation should include a code sample that loads an attribute value into an ansible variable. I may make sense to provide a simple example for reading the `charset` attribute from insite HTML page. `html>headers>meta>charset`. Maybe even s

[2017-08-09 11:21] dagwieers commented on #27951
_From @cmprescott on May 20, 2016 14:24_

That should definitely be included.

[2017-08-09 11:21] dagwieers commented on #27951
_From @wheelq on June 15, 2016 10:25_

is it possible to read the value? what is the syntax?

[2017-08-09 11:21] dagwieers commented on #27951
_From @kenthua on June 15, 2016 18:38_

Looks like it's "xmlstring" [from the source](https://github.com/cmprescott/ansible-xml/blob/master/library/xml#L31)

[2017-08-09 11:21] dagwieers commented on #27951
_From @hdimitriou on October 14, 2016 12:4_

The xmlstring is inaccurate:

[code]

[2017-08-09 11:21] dagwieers commented on #27951
_From @glzavert on March 15, 2017 15:21_

So it has been months since this issue was opened and identified as a bug.  What is the status of an example on how to load an attribute or element value into an ansible variable.  Examples with and with out namespaces are relevant as many users simply need to access the values and do not need to manipulate the XML.

I have spent many many days trying to d

[2017-08-09 11:21] dagwieers commented on #27951
_From @glzavert on March 16, 2017 18:20_

Ok, I finally figured it out.  I had to use **json_query** in order to search the nested data that is returned as json data.  This is not well documented and I only figured it out be looking at the code.  However, the method I took is a kludge at best and a real set of methods and examples that a user can implement to read an attribute or element into a va

[2017-08-09 11:32] henryk commented on #23774
IMHO it would be best to just remove the call to `transport_test` here: https://github.com/ansible/ansible/blob/52959ebdc18bfe96de083b5317b32c5216abf80a/lib/ansible/plugins/action/wait_for_connection.py#L105-L106 (or at the very least make it optional via a module parameter).
The whole raison d'être for the `wait_for_connection` module is to test for the end-to-end ansible command connectivity. If

[2017-08-09 11:34] dagwieers commented on #23774
Yes, that's the plan. I haven't been able to get around this, but with the upcoming freeze I will have to.

[2017-08-09 11:42] dagwieers commented on #27900
@yosefy I do understand that YAML in this case is a bit tricky. It's very important to see through the data-structures wrt. lists and dictionaries. So it is essential when using Ansible that you have a very good understanding of YAML to avoid these pitfalls.

Can you please close this issue ? Thanks !

[2017-08-09 11:50] dagwieers opened #27952 "xml module: Adding diff support would help with debugging"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
xml
##### ANSIBLE VERSION
v2.4

##### SUMMARY
I have issues with adding or setting child elements in a complex multi-namespaced path.
It would be a lot easier if the module would return the difference before/after, even in check_mode.

_Copied from original issue: cmprescott/ansible-xml#89_

[2017-08-09 12:28] jlec commented on #20494
@zmedico Once again you made things work again. Thanks.

[2017-08-09 12:32] TheCapsLock commented on #27885
I confirm this issue on ansible 2.4.0 (devel babec35faa)
I can use *ansible-vault view* but not *ansible-vault edit* :

[code]

If --ask-vault-pass option is provided, I get following error :

[code]

[2017-08-09 12:37] nitanka opened #27954 "Unarchive not working in Ubuntu 16.04 with python3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Using the default ansible.cfg

##### OS / ENVIRONMENT

Centos 7

##### SUMMARY

While executing the Ansible playbook having the `unarchive` module, with the target system Ubuntu 16.04, we are getting the error.
##### STEPS TO REPRODUCE

Ansible Server: Centos 7
Target Server

[2017-08-09 12:55] #27900 closed, assigned to nobody

[2017-08-09 12:59] kmschl2 opened #27955 "acl module removes all default entries (state=absent and default=yes)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

acl

##### ANSIBLE VERSION

[code]

##### SUMMARY

acl-module removes all default access control entries when run with state=absent and default=yes and removes non default acl entry instead.

setfacl man page is unclear about behaviour:
-k, --remove-default
    Remove the Default ACL. If no Default ACL exists, no warnings are issued.

-k actua

[2017-08-09 13:18] zarnovican opened #27956 "template: significant slowdown after upgrade to 2.3"
We have noticed that our production plays run significantly slower on 2.3.2, compared to 2.2.0. It seems, it is caused by `template` tasks (it is worse if they have `with` loops).

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

template module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default (empty) configuration. In the tests below, I have included also results with `pipelining

[2017-08-09 13:20] dagwieers commented on #25281
Ansible requires pyvmomi, and pyvmomi requires python-requests.

https://github.com/vmware/pyvmomi/blob/master/setup.cfg

Are you absolutely sure that the location that is running this module has pyvmomi installed ? Is it possible you are confused about where Ansible is running these modules ? The example doesn't show you are running this with e.g. `delegate_to: localhost`, so you are running this

[2017-08-09 13:21] TheCapsLock commented on #27885
I think it is related to 934b64519191b0df70495deecbb349532af48597

[2017-08-09 13:27] #18883 closed, assigned to nobody

[2017-08-09 13:27] #18880 closed, assigned to nobody

[2017-08-09 13:29] TheCapsLock commented on #27885
I can edit vault using *--vault-id=prompt* but I get weird prompts :

[code]
By answering with my vault password to these two prompts, editor opens and vault can be edited

[2017-08-09 13:33] zgould opened #27958 "Unable to open shell - Junos_Command"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Junos_Command

##### ANSIBLE VERSION
[code]

##### SUMMARY

I can utilize all JunOS modules, and they work just fine, except for the Junos_Command module. It continues to throw a socket connection error.

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS

[code]

[2017-08-09 13:44] #27720 closed, assigned to Qalthos

[2017-08-09 14:10] trishnaguha commented on #23828
This is fixed in 2.4. Please give it a try on devel branch.

[2017-08-09 14:14] marekruzicka opened #27960 "docker_container state: stopped is broken (fails and removes container)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT

Running from/against:
[code]
##### SUMMARY
Runing docker_container module with minimal settings (name, state) to stop container results in following error
```fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Error creating

[2017-08-09 14:27] abeyt commented on #18910
+1

[2017-08-09 14:29] zgould commented on #27958
Resolved issue.

[2017-08-09 14:29] #27958 closed, assigned to nobody

[2017-08-09 14:43] #27799 closed, assigned to nobody

[2017-08-09 14:49] alikins commented on #20494
related: https://github.com/ansible/ansible/issues/27494

and possibly related: https://github.com/ansible/ansible/issues/20063

[2017-08-09 14:54] trishnaguha commented on #24537
Related issue https://github.com/ansible/ansible/issues/25663

[2017-08-09 14:55] Qalthos commented on #27498
This isn't technicallty an issue with idempotence, as the configuration fails to apply at all. That being said, the right command is being sent to the device, and it simply isn't sticking. This is probably an issue with our test VM as this issue hasn't been reported outside of us.

[2017-08-09 14:55] #27498 closed, assigned to trishnaguha

[2017-08-09 14:56] alikins commented on #20494
for reference, stack traces for the 'fails1.sh' and 'fails2.sh' repros, after letting the 'template' action re raise templating exceptions

diff
[code]

jinja-2.9
fails1.sh

[code]

fails2.sh
[code]

[2017-08-09 14:57] jimi-c commented on #27494
@hlieberman we're working on it, should have a fix soon.

[2017-08-09 15:21] trishnaguha commented on #25663
This now turns out to be Deprecation warning issue caused by Env variables.

[2017-08-09 15:23] b-long commented on #16931
@bcoca @tuwid @jctanner @likwid

I also need an example of creating a group dynamically which you use in a latter play.

I've been able to do this with a constant group name (e.g. `to_be_provisioned `), seen in this gist:
https://gist.github.com/likwid/bd1c62c6adbbe6853114#file-ec2-instance__tasks__main-yml-L55-L58

However, now I need the name to be configurable.  My goal is something like:

[cod

[2017-08-09 15:33] steffann commented on #26120
Confirmed, I'm doing management over a dedicated management port.

[2017-08-09 15:33] tedder commented on #27854
Yep, share a simple example. Please ensure that it succeeds when you remove the changeset params- otherwise, perhaps changesets aren't involved.

[2017-08-09 15:38] tedder commented on #27854
You have #26619 in your local version, yeah?

[2017-08-09 15:40] tedder commented on #27853
Hmm, @gregory-dan can you walk through the code? I bet you can figure out the code path that is failing. Lemme know if you need more help.

[2017-08-09 15:44] alikins commented on #20494
some intg tests the reproduce this at https://github.com/ansible/ansible/compare/devel...alikins:jinja_29_intg_tests_20494

[2017-08-09 15:50] dchsueh opened #27968 "document that "when" is ignored for "register""
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
- when
- register

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY
[Documentation](https://docs.ansible.com/ansible/latest/playbooks_conditionals.html#register-variables) does not say anything about "when" being ignored for "register".

I have read [issue 12779](https://github.com/ansible

[2017-08-09 15:58] alikins commented on #20494
and some unit tests at https://github.com/ansible/ansible/compare/devel...alikins:jinja_29_20494_unit_tests

(separate branches so they can more easily be merged/picked into @zmedico branch)

[2017-08-09 16:17] saichint commented on #27339
fixed via #27913

[2017-08-09 16:28] #27136 closed, assigned to newswangerd

[2017-08-09 16:28] newswangerd commented on #27136
closed because PARAMIKO_HOST_KEY_AUTO_ADD was fixed for network modules

[2017-08-09 16:29] bcoca commented on #27941
You did not add no_log to the last command, it is not expected that the registered variable itself keeps a 'no_log' status across other tasks i.e.. `debug: var=password` should still show the contents

[2017-08-09 16:29] l3uddz commented on #27960
experiencing this same problem:
[code]
yields:
[code]
container is removed instead of being stopped.

----

Can confirm this is introduced with 2.3.2.0, removed the PPA ansible, installed via pip install ansible==2.3.1.0 and the same code works as expected.

[2017-08-09 16:33] halberom opened #27970 "missing docs for both ansible_failed_task and ansible_failed_result vars for blocks"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
block

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
There is no information related to `ansible_failed_task` and `ansible_failed_result` in http://docs.ansible.com/ansible/latest/playbooks_blocks.html or http://docs.ansible.com/ansible/latest/playbooks_variables.html

##### STEPS TO REP

[2017-08-09 16:43] Akasurde commented on #27860
@abhinav-chittora Could you please try with latest devel branch of Ansible (2.4devel), lot of things are fixed related to vmware_* in this version?

@jmcginn13 Could you please provide output of [govc find /](https://github.com/vmware/govmomi/tree/master/govc)?

[2017-08-09 17:01] VAdamec commented on #27941
no_log: true is also part of shell task and it's not about debug, it's logged on target host in journal as a _raw_params (no output like stderr/stdout but parameter)

[2017-08-09 17:07] david-dumas commented on #18974
I am having the same issue, ansible 2.3.1.0:
[code]

Task:
[code]

[2017-08-09 17:22] jmcginn13 commented on #27860
I don't have govmomi installed, should I have had it installed? I'll install and try

[2017-08-09 17:49] bcoca commented on #27941
with `no_log=true` i don't see any entries in the target syslog/journal being created, no_log prevents all logging at that point.

[2017-08-09 17:52] VAdamec commented on #27941
well that was my opinion too, until I saw password in log :-)

[2017-08-09 18:02] abadger commented on #27941
i've verified bcoca's results.  With either devel or a checkout of ansible-2.3.1.0, there is no syslog output when no_log is set on the task.

@VAdamec, can you paste the journal output you're seeing now that you've added no_log?

[2017-08-09 18:10] VAdamec commented on #27941
no_log was still there, I just copy&paste without this. It's not logging stdout/stderr, but shows raw_params. I'll test it tomorrow without all callbacks, if it's not problem with some of them (junit and timer are used)

[2017-08-09 18:14] abadger commented on #27941
Note: callbacks are on the controller side but the journal entry you were talking about is on the remote side.

[2017-08-09 18:14] acidsploit commented on #20769
I'm also having the same issue...

This is how I got arround it without permanently setting NOPASSWD: in /etc/sudoers. This may be a little dirty, I dunno, I'm new to ansible...

    - name: "make broken sync module work"
      lineinfile:
        path: /etc/sudoers
        state: present
        regexp: '^%wheel\s'
        line: '%wheel ALL=(ALL) NOPASSWD: ALL'

    - name: "install vhost certifi

[2017-08-09 18:21] jebabin opened #27973 "meta: end_play not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
meta: end_play

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no config file

##### OS / ENVIRONMENT
Ansible running on SUSE 11 SP4

##### SUMMARY
end_play "action" of the meta module is not working
I took the https://gist.github.com/jimi-c/c45b225e101fe673e42ffb719f259fbd example given by @jimi-c in https://github.com/ansible/ansible/issues

[2017-08-09 18:23] jmcginn13 commented on #27860
I got govmomi installed and ran the govc find / command, but it is listing every hostname of every VM in our data center, Security won't let me provide the full output. However I grepped for my test VMs since I'll be deleting them soon and you can see this output:
govc find / | grep mcginn
/Railinc Cary/host/CHQ DEV TST/Resources/mcginn
/Railinc Cary/vm/mcginn
/Railinc Cary/host/CHQ DEV TST/Resour

[2017-08-09 18:27] astsu777 commented on #20769
@acidsploit I use the same technique as you for the moment.
I just allow rsync for my present user though by adding a new line (I don't want to touch the rest of the sudoers file):

[code]

[2017-08-09 18:31] jebabin commented on #27973
Full debug output: https://gist.github.com/jebabin/3c41a6d9cb2900b9c34256a3a5b027c6

[2017-08-09 18:43] alikins commented on #27885
The changes in 9f57920eab686f09e3eeb174b43d4e0ab8e2dde6 busted this, https://github.com/ansible/ansible/pull/27974 shoud fix.

[2017-08-09 19:21] #19341 closed, assigned to nobody

[2017-08-09 19:51] pjmcquade commented on #24638
I have exactly the same issue.  I'm suspious about this:

/ u s r / b i n / c h p a s s w d ' ' - e ' ' - c

The space between each character?

[2017-08-09 19:52] #27488 closed, assigned to nobody

[2017-08-09 20:06] caphrim007 opened #27978 "fallback argument_spec parameter is broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

AnsibleModule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[defaults]
retry_files_enabled = False
host_key_checking=False
library=./library

##### OS / ENVIRONMENT
Mac OSX Sierra (10.12.6)

##### SUMMARY

fallback functionality for an argument spec is broken.

##### STEPS TO REPRODUCE

Download the following module and put it in `repro.

[2017-08-09 20:07] caphrim007 commented on #27978
@nitzmahone @ganeshrn @Qalthos

[2017-08-09 20:42] bcoca commented on #24638
something is expecting a list but getting a string, which in python CAN be treated as a list .. probably why you are getting it space separated.

[2017-08-09 20:45] bcoca commented on #24638
found issue in line 1873:
 ` self.execute_command(' '.join(cmd), data="%s:%s" % (self.name, self.password))`

that join is incorrect, passing command directly should fix it

[2017-08-09 20:50] bcoca commented on #24638
since i don't have (nor want) access to AIX, can someone confirm that #27980 fixes this?

[2017-08-09 21:01] msl-kabo commented on #15259
Aha!

`ansible.cfg` also contained `remote_user = root`, which seems to have overridden `remote_user: keygen` in the task (which strikes me as odd). Removing that line allowed the task to use the remote_user keygen.

[2017-08-09 21:02] farrellit commented on #15019
When I naively did a docker build for ansible 2.3.1.0 with somethhing like

[code]

I got the error

[code]

Huh, interesting.  Of course I can set the interpreter to some hard coded thing, or find some other workaround, but it's important to note as said before that _no other python apps have this problem_.  Only fair to point out that the way ansible marshals the tasks out to hosts ( even localh

[2017-08-09 21:16] dagwieers commented on #18910
I don't mind a better solution for this intended purpose, but I don't like the fact we use the **file** module and imply a different behavior depending on whether the existing file is a regular file or a directory. What if it is a symlink, or a device, or something else ?

Furthermore, what if the file does not exist. Does it need to become and empty directory, or does it need to become an empty f

[2017-08-09 21:22] hogarthj commented on #25740
resolved_by_pr 25752

[2017-08-09 21:26] tumbl3w33d commented on #27233
@es1o can you please elaborate on how you create this state in the repository. I tried to reproduce with Nexus 2.x and Maven 3.3.9 using the following statement
[code]
deploying the file to a snapshot repository. It always results in a `maven-metadata.xml` containing the timestamp and all my real snapshots that I checked also have it.

[2017-08-09 21:26] tumbl3w33d commented on #27233
needs_info

[2017-08-09 21:27] enkiusz commented on #25178
It's fixed, thanks. Sorry for the late reply.

[2017-08-09 21:35] dflock opened #27982 "java_cert module: One of cert_path, cert_url required to remove a key"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
java_cert

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The `java_cert` module currently requires one of `cert_path` or `cert_url` in order to remove a key from a keystore. I can understand this for _adding_ a key - but I can remove keys by alias using the `keystore` command line, so this shou

[2017-08-09 21:42] dflock commented on #27982
Yeah, looks like you always have to pass in one of `cert_pass` or `cert_url` regardless of the `state`: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/java_cert.py#L223

[code]

It looks like these parameters are actually _ignored_ when deleting a cert, so you can pass in any value (or no value), as long as the parameter exists:

[code]

[2017-08-09 22:35] bcoca commented on #18910
I agree with @dagwieers , i've been thinking of deprecating the file module into 4 diff ones for a while now

For this specific functionality either use the examples given above or create a 'touch' module that handles several cases of 'file creation'

[2017-08-09 22:41] jsalts opened #27985 "Ansible documentation for include_role is incorrect"
If someone is migrating from the old role syntax to the new role include module and follows these instructions, they won't have much luck. The usage of args here implies these variables will be passed to the role. This is does not work, and does not match the documentation on the include_role module page.

Bad:

http://docs.ansible.com/ansible/latest/playbooks_reuse_roles.html#role-dependencies

!

[2017-08-09 22:45] bcoca commented on #27985
that should be `vars:`  and at task level, not a module option

[2017-08-09 22:50] #20494 closed, assigned to jimi-c

[2017-08-09 22:51] jsalts commented on #27985
👍

[2017-08-09 22:53] Illydth commented on #25281
@dagwieers Yep, absolutely sure.

In the top level playbook is the following:
[code]
WIthin the create-vm-from-template role is
[code]

So yes, I'm running locally (in the jenkins container) with Ansible running a local pyvmomi.  In that same container I can run the python shell, and "from pyVmomi import vim", it successfully imports and works.

I think what we're boiled down to then is how is pyV

[2017-08-09 23:19] niroowns opened #27988 "Zypper module doesn't support installroot"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Zypper module - http://docs.ansible.com/ansible/latest/zypper_module.html

##### ANSIBLE VERSION
2.4 (devel)

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
OS (running Ansible) = Alpine Linux (Docker container)
OS (destination) = SuSE

##### SUMMARY
I am trying to use the zypper module to install an rpm.  I want to pass in --root (or -R) to

[2017-08-09 23:26] caphrim007 commented on #27978
Here's another breaking change. A default of `None` used to be perfectly valid and there's no reason it shouldn't stay that way. consider when the user doesn't want to supply a value for a param and they are updating an existing config.

ansible module
* https://gist.github.com/caphrim007/e81df8de85b295535a80f35a30dda172

ansible playbook
* https://gist.github.com/caphrim007/43a80e89acdfed448c2878

[2017-08-09 23:26] dflock commented on #27982
I think changing it to this would fix it, but I haven't tested it:

[code]

[2017-08-09 23:26] caphrim007 commented on #27978
@bcoca @abadger

[2017-08-09 23:31] niroowns commented on #27988
@tsdmgz

[2017-08-09 23:34] rptaylor opened #27989 "ansible-pull does not support check mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ansible-pull

##### ANSIBLE VERSION

latest devel
[code]

##### CONFIGURATION

none, just did pip install git+git://github.com/ansible/ansible.git@devel

##### OS / ENVIRONMENT

CentOS 7.2

##### SUMMARY

ansible-pull does not appear to have any option to enable check mode or do a dry run.
One can write 'check_mode: yes' into the tasks but o

[2017-08-09 23:38] caphrim007 commented on #27978
correction, that last set of gists was because of the addition of this

https://github.com/ansible/ansible/blob/6d33e59ca19bc8db60281c1022db105d97b61958/lib/ansible/module_utils/basic.py#L1739

is the following syntax no longer valid?

[code]

[2017-08-09 23:43] jborean93 commented on #27835
I believe this may be because the SSH connection is closed so it cannot gather info on the task when the connection is closed. If you add in `poll: 0` to your async task so it becomes a fire and forget it should work.

There is also a new module called `wait_for_connection` which will wait for the connection to come online and that it works. I would recommend using this over `wait_for`, an example

[2017-08-09 23:52] erjohnso commented on #26037
Thanks for filing this @henti and confirming @mrjoshuap. Sorry it's taken so long to take a look.

I know it's not well documented, and this module was written back when you couldn't create a disk and instance in the same API call. But, if you add the `persistent_boot_disk` param, it works for me.

[code]

[2017-08-09 23:54] nitzmahone commented on #27978
It's redundant with `type='bool'` but if it's not still working, that's a bug, too.

Bummer that we don't have a test suite around this yet- I created the basic.py argument_spec unit test when I plugged in the callable validator stuff, but I only covered what I added... All these little dusty corners need to be in there. :(

[2017-08-09 23:57] #27836 closed, assigned to nobody

[2017-08-09 23:57] jborean93 commented on #27836
Hi @philipwhiuk, a PR was just merged to fix this.

[2017-08-09 23:59] nitzmahone commented on #27978
Ah, I remember, @ganeshrn added a bunch of tests in a different place. We should definitely extend those to include regression tests for these things that are failing, along with the fixes...

[2017-08-10 00:01] caphrim007 commented on #27978
@nitzmahone someone on the irc channel mentioned that fallback used to be used by the network modules, but no longer is. what do those modules use instead?

[2017-08-10 00:18] nitzmahone commented on #27978
Fallback support hasn't been removed from the code, so yet another bug if that's broken. I'm not aware of a different way to do what it does, but someone on the networking team might be able to shed more light.

[2017-08-10 00:23] jborean93 commented on #27857
List Information
================

Hi @s1nsp4wn

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there,

[2017-08-10 00:23] #27857 closed, assigned to nobody

[2017-08-10 00:37] jborean93 commented on #27875
When using `gather_facts: yes` all it does is runs the `setup` module, so you can can just run the `setup` module by itself and add a when conditional so it only runs on a subset of your hosts.

If by itself it would be
[code]

If you are calling a role that already has when condition to filter your hosts, just run the setup module normally

[code]

There are more options around `setup` if you wis

[2017-08-10 00:37] #27875 closed, assigned to nobody

[2017-08-10 01:04] kassiansun commented on #27960
There seems to be no commits for `docker_container` or `docker_common` since 2.3.1, is this issue related to other common modules? @chouseknecht

[2017-08-10 01:11] ghost commented on #27954
Hello, the cause for this bug has been solved in latest versions of Ansible, basically, what is going on here is that the open mode used in the **2.2.1.0** version is  `w` whilst it should be `wb`:

[code]

As I said, this has been fixed in [latest releases](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/unarchive.py) so I suggest you update your Ansible installation in or

[2017-08-10 01:15] jborean93 commented on #27916
cc @willthames

[2017-08-10 01:35] thefourtheye commented on #11536
My server has this problem and I don't have permissions to change it. How can I solve it in the client's end?

[2017-08-10 01:47] jborean93 commented on #27954
Closing issue as this is fixed in the latest devel

[2017-08-10 01:47] #27954 closed, assigned to nobody

[2017-08-10 02:19] roadmapper commented on #24389
@djessup #21532 has been merged into devel, this can probably be closed. My fix should show up in 2.4.0, whenever it comes out.

[2017-08-10 02:22] minusdavid commented on #19809
Ah, looks like my issues stem from a few other things.

[2017-08-10 02:36] minusdavid opened #27991 "git mistakenly requires --depth for cloning with --branch"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
git module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Host: Ubuntu 14.04
Remote: Ubuntu 14.04

##### SUMMARY
The --branch option for git clone is only used in newer versions of Ansible if --depth is also supplied. This is a (seemingly unreasonable) departure from older versions of Ansible (like 1.8.2).

##### STEP

[2017-08-10 02:44] #27985 closed, assigned to nobody

[2017-08-10 03:18] owlmind commented on #24638
I'he checked and can confirm, patch fixes it.

             : ok=1    changed=1    unreachable=0    failed=0

[2017-08-10 05:28] VAdamec commented on #27941
Some misconfiguration on Ansible "server". With clean installation and default config file it's ok

[2017-08-10 05:28] #27941 closed, assigned to nobody

[2017-08-10 05:32] jimi-c commented on #27845
Marking this as a P2 so I don't forget to clean up these kinds of uses.

[2017-08-10 06:25] willthames commented on #27916
Fixed months ago in #24042, but change wasn't backported to 2.3 - will only be available with 2.4

[2017-08-10 06:25] #27916 closed, assigned to nobody

[2017-08-10 06:45] antoineco commented on #11536
@thefourtheye it's purely a client problem, not a server problem. You can find the option to set in your ansible.cfg file earlier in this thread.

[2017-08-10 06:52] thefourtheye commented on #11536
@antoineco Oh, thank you. I am totally new to ansible and I don't even have it installed in my machine. Still having the file `ansible.cfg` in the home directory would work?

[2017-08-10 06:52] dzungpv commented on #11536
I have the same problem, i try all solution include add config file .ansible.cfg in ~/:
`[defaults]
inventory=/etc/ansible/hosts
[ssh_connection]
control_path=%(directory)s/%%h-%%r
control_path_dir=~/.ansible/cp`

And add know host and ip to ssh known_hosts. But it is still not work, it is ubuntu on EC2.
This is the error:

`fatal: [default]: UNREACHABLE! => {"changed": false, "msg": "Failed to co

[2017-08-10 06:58] akostadinov commented on #11536
You're not using the proposed solution which is `control_path = %(directory)s/%%C`.

[2017-08-10 07:00] LucioG1t commented on #24638
Yes this solves the problem.

[2017-08-10 07:03] dzungpv commented on #11536
@akostadinov Thanks you, it work. Too much solution here.

[2017-08-10 07:13] emcniece commented on #11536
If only it was harder... curse those solution providers!

[2017-08-10 08:32] ml0renz0 commented on #13744
Still happening...

[2017-08-10 08:34] baccenfutter commented on #27747
# Role-Shorewall

## Tasks:
[code]

# Play
[code]

**EDIT:** Cut the example down to the essential proof of the issue.

[2017-08-10 08:50] rishibamba commented on #13034
Synchronize breaking on ansible 2.3.1.0 too. Rest modules working fine.
RHEL 7

Error:  "failed": true, "msg": "Permission denied, please try again.\r\nPermission denied, please try again.\r\nPermission denied (publickey,gssapi-keyex,gssapi-with-mic,password).\r\nrsync: connection unexpectedly closed (0 bytes received so far) [sender]\nrsync error: unexplained error (code 255) at io.c(605) [sender

[2017-08-10 09:08] ghost commented on #23843
Had the same issue. Fixed by uninstalling pyOpenSSL completely (cleaning folders like @darioems suggested), then instead of installing pyOpenSSL itself I did `pip install pywinrm pywinrm[credssp] requests-credssp` and it installed pyOpenSSL as well.

Now I have different error: "credssp: the specified credentials were rejected by the server" >_<
Fixed here, broken there :rofl:

[2017-08-10 09:43] jk563 commented on #24864
@jtyr How's the patch coming along?

[2017-08-10 10:11] jborean93 commented on #23843
@0-d that sounds like an authentication issue and hopefully not something wrong with the library, are you able to share details of your environment by running on the Windows box

[code]

Are you also able to share your host vars. Are you trying to connect with a domain or local account?

[2017-08-10 10:39] ssbarnea commented on #5185
I totally agree that this bug should be reopened and fix it one way or another, allowing us to use paths relative to ansible config file.

I don't mind if someone wants to keep the current behaviour of using paths relative to CWD as long we do have an option to specify paths relative to the config file, something like:

    inventory = %(config)/hosts

[2017-08-10 11:25] er1zo commented on #23675
Positive form not working as well, fails with same undefined error

[2017-08-10 11:49] mkrizek commented on #26035
@gregbkr I can't reproduce the issue. As @padajuan noted, this looks like your server is not configured properly. Can you check and get back to us if the problem still persist?

needs_info

[2017-08-10 12:07] DBezemer commented on #27780
Note that update_cache observes the configured metadata cache timeout and will only refresh when this timeout is reached. This means it's **NOT** comparable to yum clean metadata or yum clean all as this force-refreshes the yum metadata information and cache.

[2017-08-10 12:32] #27187 closed, assigned to nobody

[2017-08-10 12:50] ramkumarcrk commented on #19584
If i am not wrong , this is due to ssh key issue.  Rene rate for new key or else convert your key to openssh formate to avoid error.

[2017-08-10 13:08] privateip commented on #23751
resolved_by_pr ##26565

[2017-08-10 13:10] ghost commented on #23843
@jborean93 thanks for your reply! Already fixed it. HTTPS listener was not present on the Windows machine and I was trying to connect to 5985 port instead of 5986.
Created listener and now it works.
Also I edited my comment: added `requests-credssp` as a required package for pywinrm to work.

[2017-08-10 13:10] #23751 closed, assigned to privateip

[2017-08-10 13:18] #24874 closed, assigned to privateip

[2017-08-10 13:21] MattJM12 commented on #16460
ansible 2.3.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.9 (default, Jun 29 2016, 13:08:31) [GCC 4.9.2]

xx.xx.x.xx | UNREACHABLE! => {
    "changed": false,
    "msg": "plaintext: HTTPConnectionPool(host='xx.xx.x.xx', port=5986): Read timed out. (read timeout=120)",
    "unreachable": true

Debian host to Windows 7 and

[2017-08-10 13:23] #24638 closed, assigned to nobody

[2017-08-10 13:25] #18987 closed, assigned to nobody

[2017-08-10 13:26] gblansteen commented on #24638
I too can confirm that #27980 correct the issue.  Many thanks!

[2017-08-10 13:34] bitliner opened #28004 "Ansible seems to not support strict configuration of ssh server "Incompatible ssh server (no acceptable macs)""
It seems that ansible, in order to connect to ssh, does not use the ssh configuration of my host where it is launched, but uses a client ssh.

The way the ssh client works is not transparent, and might need configuration. No clear how to configure it.

I would like to tell the client ssh to use a specific ssh authentication algorithm, that seems to not be included in the ones that it uses.

#####

[2017-08-10 13:34] #27885 closed, assigned to alikins

[2017-08-10 13:39] bcoca commented on #28004
This is not an Ansible question, also you are conflating sshd_config (applies to sshd on that machine) and ssh_config (applies to ssh clients on that machine).

Ansible can use (normally the default) the `ssh` command line client, Ansible itself just passes parameters to it, the config behaviour is up to the ssh client itself and not changed by Ansible in that case. You can view exact execution of

[2017-08-10 13:39] #28004 closed, assigned to nobody

[2017-08-10 13:44] #24414 closed, assigned to nobody

[2017-08-10 13:56] jtyr commented on #24864
Sorry, I dropped the ball. Will try to finish it up over the weekend.

[2017-08-10 14:00] rnestler opened #28005 "Documentation example in win_file module is misleading"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
win_file

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
N/A

##### SUMMARY
The documentation of [win_file](https://docs.ansible.com/ansible/latest/win_file_module.html#id3) shows that to create a file you have to do the following:
[code]
This does not work and it is clearly stated above in the Options sectio

[2017-08-10 14:04] Winael opened #28006 "Inventory group_vars/host_vars aren't loaded recursively when playbook is launch from a high level inventory directory"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Inventories vars

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

no change in ansible.cfg

##### OS / ENVIRONMENT

Ubuntu 16.04.3

##### SUMMARY
Inventories group_vars not loaded when ansible-playbook is launched with an upper level directory with the -i option

##### STEPS TO REPRODUCE

Hi
I'm actually study how the multi inventory works

[2017-08-10 14:21] abhinav-chittora commented on #27860
Hi @Akasurde,

I installed govmomi and findout the vm's absolute path is /Datacenter/AM-Datacenter/vm/DevOps/<VM name>. But when I run the ansible playbook, it prefix /vm,  hence the VM is not found by the vmware_guest_facts or vmware_guest_snapshot module.

Probably, we need to make this prefix optional. Any suggestions.

[2017-08-10 14:24] trishnaguha commented on #27339
resolved_by_pr #27913

[2017-08-10 14:29] nareshraparthi16 commented on #16354
UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: Permission denied (publickey,gssapi-keyex,gssapi-with-mic,password).\r\n", "unreachable": true}
 [WARNING]: Could not create retry file '/etc/ansible/apache.retry'.         [Errno 13] Permission denied:
u'/etc/ansible/apache.retry'

please help me with your suggestions. i am able to ssh to my remote server, but not a

[2017-08-10 14:33] #27339 closed, assigned to nobody

[2017-08-10 14:35] philipobrien commented on #25068
Is there any solution available for this?

[2017-08-10 14:47] krzysztof-magosa commented on #23675
I'm also affected, it prevents me from upgrade to 2.3/2.4.

[2017-08-10 14:51] inhumantsar commented on #27916
Ok well for people who are currently blocked or can't immediately upgrade to 2.4 on release, this is what I used for a workaround: `"{{ natgw.nat_gateway_id|default(natgw.NatGatewayId) }}"`

[2017-08-10 14:53] #27512 closed, assigned to newswangerd

[2017-08-10 14:56] mschuchard opened #28010 "Iterating over nested dictionary throws 'ansible.vars.unsafe_proxy.AnsibleUnsafeText object' has no attribute 'value'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`with_items`

##### ANSIBLE VERSION
2.3.1 (from licensed Tower 3.1.4)

##### CONFIGURATION
none

##### OS / ENVIRONMENT
RHEL 7.4

##### SUMMARY
`with_items` is not iterating over a nested dictionary

##### STEPS TO REPRODUCE
This also throws the same error if the dictionary is specified directly in the `with_items` key and/or the nested keys are

[2017-08-10 15:01] dagwieers commented on #20006
It is still not released :-(

[2017-08-10 15:02] gchek commented on #19203
hit the same issue on a simple POST that actually works with POSTMAN!!!:

My playbook is:
[code]
Error message:
[code]

macOS Sierra Version 10.12.6 (16G29)
Python 2.7.10 installed by brew
pip 9.0.1 installed by easy_install

[2017-08-10 15:04] jmvbxx opened #28011 "Apt update all packages generates an 'impossibly' long list of conflicts"
- Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing special

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS

##### SUMMARY
I'm trying to run a task to update all packages on the server. Here's a snippet of the output:
[code]
The entire output is an enormous list of the same.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Expected same result as `apt

[2017-08-10 15:07] alikins opened #28012 "Add documentation for multiple vault passwords and vault-ids"
Need to add docs for vault multiple password support

roadmap item: https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_4.rst#vault
primary implementation pull request: https://github.com/ansible/ansible/pull/22756

(I plan on collecting my notes and getting a draft in soon ish, but obviously will still need a ton of work from docs folks)

##### ISSUE TYPE

 - Document

[2017-08-10 15:07] bitliner commented on #28004
For completeness, this issue is related to [paramiko transport](https://github.com/paramiko/paramiko/issues/803) that does not support certain hmac.

[2017-08-10 15:15] F30 commented on #13323
For anyone still running into this, a possible (though a bit hacky) workaround is to explicitly set the user in the `delegate_to` field like this:

    delegate_to: "{{ ansible_user }}@host"

[2017-08-10 15:22] mschuchard commented on #28010
So we fixed this with

[code]

as assistance for isolating the source of this error.

[2017-08-10 15:42] newswangerd commented on #27181
I can take a look at this

[2017-08-10 15:55] dagwieers commented on #23843
@0-d What could we improve in the documentation so that you would not have had this (second) issue, or would have fixed it yourself ? Since you have the experience of being in that situation (and it is still fresh in memory) you could probably make the right fixes to ensure others have an easier time with this.

[2017-08-10 16:05] JamesMcGuigan opened #28014 "Ansible environment.PATH fails to resolve ~"
Ansible version 2.3.1.0 (running on cygwin against RHEL)

The environment.PATH variable fails to resolve ~/ as the user home directory.

[code]
failed: [server] { msg: "unable to find npm in paths: ~/bin

However this does work if I remove the ~/ prefix and set the path as simply being a relative directory with the assumption that everything is running with cwd as ~/

With npm installed as symlink

[2017-08-10 16:10] helldorado commented on #24964
@klesniewski the error is the comparaison `string` vs `integer` here https://github.com/ansible/ansible/blob/07be5f2b67ff185b5f5fc911c17f5c1c5c1a4103/lib/ansible/modules/monitoring/zabbix_host.py#L248-L251.

Fixed it with
[code]
Fail allways and not going to `self._zapi.hostinterface.update(interface_str)` but `self._zapi.hostinterface.create(interface_str)`

I will send PR asap

[2017-08-10 16:14] ar7z1 opened #28016 "rabbitmq_plugin doesn't work on Windows"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

rabbitmq_plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Manage any Windows.

##### SUMMARY

Can't install RabbitMQ plugins via `rabbitmq_plugin` module on Windows.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

`rabbitmq_management` plugin successfully installed.

##### ACTUAL RESULTS

I get the

[2017-08-10 16:17] ar7z1 commented on #28016
I'll create a PR soon.

[2017-08-10 16:59] #24192 closed, assigned to privateip

[2017-08-10 17:09] #22828 closed, assigned to privateip

[2017-08-10 17:16] geerlingguy commented on #22303
Ugh, hit this on another server build with Varnish (default Varnish package repos include initv and systemd configuration) today. I was using an older version of my role which still had the plain `service` usage, but it was fixed in the PR above.

It would save a lot of debugging time to be able to see more easily what 'service' command/system is being used for a given playbook run, or maybe have

[2017-08-10 17:30] #28005 closed, assigned to nobody

[2017-08-10 17:36] rahushen commented on #27488
Verified.

[2017-08-10 17:47] abhinav-chittora commented on #27860
I checked out version 2.4 and it was working fine there after specifying the vm folder as /Datacenter/AM-Datacenter/vm/DevOps/.

[2017-08-10 17:57] #25783 closed, assigned to nobody

[2017-08-10 18:12] #27561 closed, assigned to nobody

[2017-08-10 18:35] robinro commented on #27988
@niroowns  Thanks for this suggestion.

I can see the zypper module supporting this, but it's not important to me, so I won't tackle it in the near future. I'm happy to review a PR that adds this.
needs_contributor

Things that come to my mind:
* the argument should be similar to what yum/dnf do
* ensure it's backwards compatible to all supported SLES versions (do they all have `--root`?)
* ensure

[2017-08-10 18:36] abhinav-chittora commented on #27860
Hi @Akasurde ,

However, I encounter another problem now.

Now vmware_guest is not able to create virtual machine in /Datacenter/AM-Datacenter/vm/DevOps. When I run the playbook to create a virtual machine using template it says `"No folder matched the path:  /Datacenter/AM-Datacenter/vm/DevOps"`.

However the same path is used to create vmware_guest_snapshot module and it is able to create snapsh

[2017-08-10 18:58] walterdolce opened #28023 "s3_sync: 'module' object has no attribute 'exceptions'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
s3_sync module - http://docs.ansible.com/ansible/latest/s3_sync_module.html

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]

##### SUMMARY
Ran ansible with the following:
[code]
Failed like so (reported only one error entry, there would be one for each `{{ item }}`:
[code]

##### STEPS TO REPRODUCE
- Have

[2017-08-10 19:07] asmartin commented on #9034
I tried putting the code from #18621 into `callback_plugins` and it works well, but if you're using `--diff` and a diff is printed, it is now printed ABOVE the task rather than below it. This is confusing since it seems that the diff is associated with the wrong task - can this be corrected so that the diff appears below the task as it normally would be?

[2017-08-10 19:10] #27978 closed, assigned to ganeshrn

[2017-08-10 19:13] pszabop opened #28024 "vars_files cannot see facts or other variables that a role in same play can"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
playbooks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
I'm importing roles and plays from another directory so I have in ansible.cfg
[code]

##### OS / ENVIRONMENT
OSX 10.10.5

##### SUMMARY
When I try to dynamically decide which vault file I want to import by using a variable in vars_files  (unit tests shouldn't be using production passw

[2017-08-10 19:14] nitzmahone commented on #20006
/me hangs head in shame

[2017-08-10 19:39] ITD27M01 opened #28026 "pamd broke my pam files and I lost access"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pamd module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4 (Maipo)
##### SUMMARY

pamd broke my pam files and I lost access

Source password-auth file:
[code]

There is my task:
[code]
And there is final file after task to be run:
[code]
##### STEPS TO REPRODUCE

1. Check

[2017-08-10 19:50] ludovic-gasc commented on #27401
Issue fixed with #27962 and new parameter: **force_apt_get**

[2017-08-10 19:50] #27401 closed, assigned to nobody

[2017-08-10 20:26] jctanner commented on #22170
### Testcase

[code]

### Results

version | rc
------ | ------
v1.9.0-0.1.rc1 |  0
v1.9.0-0.2.rc2 |  0
v1.9.0-1 |  0
v1.9.0-2 |  0
v1.9.0.1-1 |  0
v1.9.1-0.1.rc1 |  0
v1.9.1-0.2.rc2 |  0
v1.9.1-0.3.rc3 |  0
v1.9.1-0.4.rc4 |  0
v1.9.1-1 |  0
v1.9.2-0.1.rc1 |  0
v1.9.2-0.2.rc2 |  0
v1.9.2-1 |  0
v1.9.3-0.1.rc1 |  0
v1.9.3-0.2.rc2 |  0
v1.9.3-0.3.rc3 |  0
v1.9.3-1 |  0
v1.9.4-0.1.rc1 |  0
v1.9.4-0.2

[2017-08-10 20:31] jmcginn13 commented on #27860
@abhinav-chittora try using the folder /vm/DevOps when creating the VM. That is working for me when I create the VM.

I also tried the vmware_guest_facts using the full folders as defined above and it seems to be working for the vm template that is not in the resource group (mcginn-centos).

If I try the following:
[code]

I get the following error:
[code]

[2017-08-10 20:31] jctanner commented on #22170
@fcntl based on the results in my previous comment, I am unable to reproduce this. Please provide an example playbook and full -vvvv output.

needs_info

[2017-08-10 20:34] ghost commented on #12373
Despite the fact that this probably does not get read – am I the only one who thinks that the missing namespace is an issue and using a prefix for variables like *role*_*varname* feels ugly?

[2017-08-10 20:43] Cerebus opened #28032 "ini_file doesn't match options with leading tab character"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ini_file

##### ANSIBLE VERSION
ansible 2.3.1.0
  config file =
  configured module search path = Default w/o overrides
  python version = 2.7.13 (default, March 13 2017, 20:56:15) [GCC 5.4.0]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Controller: Cygwin (yes, I know, not relevant to this bug)
Managed: CentOS

##### SUMMARY
ini_files doesn

[2017-08-10 20:49] abadger commented on #27956
This isn't a bug as ansible's behaviour is more correct now.  I'll see if I can get any of that speed difference back but we have to have correct behaviour even if it is slower.

[2017-08-10 21:16] zgould commented on #23922
Running into this same issue::

`ansible 2.3.2.0
`

`     }
    },
    "msg": "timeout trying to send command: enable"
}
`

[2017-08-10 21:19] vvs1987 opened #28034 "URI module giving : Status code was not [200]: HTTP Error 301: Moved Permanently"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

URI Module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

i am trying to get auth token from a URL , this needs loggign to tower api and taking user name password and then doing POST in authtoken part of api. Now when i put the playbook to use register the auth

[2017-08-10 21:20] cheng93 opened #28035 "ec2_vpc_igw pascal case properties"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_vpc_igw
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

arch linux
##### SUMMARY

On creation, the output has pascal case properties
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

created
[code]
no change
[code]

[2017-08-10 21:21] bdlamprecht commented on #27299
I'm able to confirm (at least with my test data) that this bug was introduced between Ansible 2.2.2.0 (working) and Ansible v2.2.3.0.  All of the other packages remained the same:

Running the PB with Ansible 2.2.0:
[code]
Running the PB with Ansible 2.2.3.0:
[code]

I've looked at `site-packages/ansible/plugins/filter/json_query.py` between the two versions and they appear to be exactly the same.

[2017-08-10 21:30] brandonheller commented on #9034
@yasserg pointed out to me that full_skip.py doesn't print out the task name when it first executes, which is a problem when you're actively monitoring a task's execution and it isn't intended to complete immediately.  Many of our newer playbooks may have 90%+ skips, so this is a real issue for us; either we have to manually wade through everything, or we lose the ability to monitor jobs.

Looking

[2017-08-10 21:32] ghost commented on #9260
Unfortunately gathering facts does not work:

[code]

That's the template.
[code]

[code]

To me it looks like a bug in ansible 2.3.1.0

[2017-08-10 21:34] zgould commented on #24466
Was there any update on this?

Running into this same issue::

`ansible 2.3.2.0`

`} }, "msg": "timeout trying to send command: enable" }`

[2017-08-10 21:51] bdlamprecht commented on #20379
For anyone still listening I ran into this bug several weeks ago and did a little more investigative work which I've commented in on the issue I opened (#27299).

In summary, the outcome of that investigation is:

  jmespath==0.9.3

As much as I would like to be able to help make a fix, unfortunately, I'm not qualified nor do I have the skills to do so, but need to see if **_anyone_** can help in

[2017-08-10 22:01] ghost opened #28038 "Invalid YAML group_vars file not showing errors on failed import"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
hostvars

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
There are a few hosts I'm able to connect to, to execute tasks successfully - but even in the same play the hostvars for this host are empty.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS
[code]
Eve

[2017-08-10 22:11] thefourtheye commented on #11536
I tried adding all the lines suggested here in the `~/ansible.cfg` file in my location machine, but it hasn't helped. I am giving up.

What works for me now, is getting the IP address of the machine with `nslookup` and logging in with that.

[2017-08-10 22:15] ghost commented on #28038
Alright… when I'm using more than just test data I can reproduce this error even with 2.3.0.0.
But it seems that this happens when an inline vault string is used.
When using 2.3.0.0,  the error is "Odd-length string". For version > 2.3.0.0 it seems that the hostvars are fully discarded.

Here are my hostvars:

[code]

When not using an inline vault and a plain string instead everything works as ex

[2017-08-10 22:16] ghost commented on #28038
OK… this happens when the inline vault is not indented correctly.

[code]

Conclusion: Using invalid inline vault leads to unavailability of hostvars.

[2017-08-10 22:22] kevensen commented on #28026
Similar to #25522

[2017-08-10 22:23] kevensen commented on #28026
@ITD27M01 This likely addressed by a recent pull https://github.com/ansible/ansible/pull/25817.  Can you please check to see if it solves this issue?

[2017-08-10 22:35] nwalke opened #28039 "win_scheduled_task: Weekly with multiple days doesn't work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_scheduled_task

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Mac configuring Windows Server 2012 R2

##### SUMMARY
When trying to create a weekly task, I am unable to get it to recognize multiple days.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I expected to see a scheduled task that was scheduled for both Sunday and We

[2017-08-10 22:51] mazzystr commented on #27270
I'm sorry.  I ended up having an issue with the security_groups list.  ec2.py works as advertised.

$ ansible --version
ansible 2.3.1.0

[2017-08-10 23:20] willthames commented on #27916
Or just copy the module into your `library` path.

[2017-08-10 23:25] willthames commented on #28035
The output above appears to be from ec2_vpc_nat_gateway, not ec2_vpc_igw. Is that intentional?

If this is about ec2_vpc_nat_gateway, it duplicates #27916.

[2017-08-10 23:27] nitzmahone commented on #27934
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel. Bastion host configuration via ssh is not actually a supported option- though it can  be done, debugging credential issues can be quite complex.

   *

[2017-08-10 23:27] #27934 closed, assigned to nobody

[2017-08-10 23:45] ghost opened #28043 "Trying to run ansible playbook to install java"
trying to install java using ansible playbook into another host machine but getting an error

"msg": "[Errno 2] No such file or directory",
    "rc": 2

fatal: [52.9.103.76]: FAILED! => {
    "changed": false,
    "cmd": "gtar: -zxf /opt/jdk-8u5-linux-x64.tar.gz -C /opt",
    "failed": true,
    "invocation": {
        "module_args": {
            "_raw_params": "gtar: -zxf /opt/jdk-8u5-linux-x64.

[2017-08-10 23:47] nitzmahone commented on #27938
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel. It's more than likely either SSH config on the managed host, or an incompatibility between the ssh client on the Ansible host and the managed host. Re

[2017-08-10 23:47] #27938 closed, assigned to nobody

[2017-08-10 23:59] nitzmahone commented on #28010
This isn't a bug (well, other than the arguably scarier-than-it-should-be error message)- your fix works, as would using `with_dict` on your original data structure- otherwise you're just dotting into the string key of the dictionary.

[2017-08-10 23:59] #28010 closed, assigned to nobody

[2017-08-11 00:41] pszabop commented on #28024
I note there's something complex about my production environment that I can't seem to get into a simple sharable reproduction. At any rate, [here's the attempt ](https://github.com/pszabop/quickstart-reusable-ansible/blob/master/reusable_playbooks/variable_vars_files.yml)to reproduce.

[2017-08-11 00:42] abadger commented on #27956
@zarnovican See if #28044 fixes this for you.  For my tests using ssh against a local VM and ssh against localhost it provides a significant speedup but is still a little slower than the 2.2.x code.  However, it does one less round trip than the 2.2.x code (when piplining is off) so I think it should be comparable or perhaps even a little faster for your workload.

[2017-08-11 00:43] nergdron opened #28045 "iam_policy doesn't correctly update policies"
This is a move of https://github.com/ansible/ansible-modules-core/issues/1855

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
iam_policy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When running iam_policy multiple times to update a policy attached to a group, the module returns an error saying "The policy document you specified already exists". T

[2017-08-11 01:01] pshemk opened #28048 "ec2_group not idempotent with numeric protocols"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
ec2_group module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Mac os, default

##### SUMMARY
I'm building an IPSEC gateway inside AWS. The security rule must allow for protocol 50 (ESP). If the rule is setup like this:
[code]

running the playbook for the second time results in:

[code]

all other rules (wit

[2017-08-11 01:02] justin-ren commented on #27934
It's OK without options, but the password in inventory not work.

[2017-08-11 01:28] #19725 closed, assigned to nitzmahone

[2017-08-11 01:30] jborean93 commented on #19725
@leynos, a patch was just merged into devel which does a few more checks for the chocolately executable in case it is in a custom location. This should solve this issue here.

[2017-08-11 01:37] ghost commented on #22170
@jctanner I am also not getting this on the current version 2.3.10.

[2017-08-11 01:48] justin-ren commented on #27934
@nitzmahone , please have a look again.

[2017-08-11 01:54] justin-ren commented on #27934
thank you for replay. I searched all documents in #ansible site, but I
can't find any clue, could you have a look again?

On Fri, Aug 11, 2017 at 7:28 AM, Matt Davis <notifications@github.com>
wrote:

[2017-08-11 01:59] sandinak commented on #20493
+1 on this .. need this functionality.

[2017-08-11 02:01] chenli0906 opened #28049 "Too many links: '/tmp/ansible_qlMioE' Error in Ansible 2.3.2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RedHat 6.5

##### SUMMARY

ansible task：
[code]
error raised
[code]

[2017-08-11 02:08] BenCoffeed opened #28050 "hashi_vault plugin not recognizing hvac"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[hashi_vault plugin](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/hashi_vault.py)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no recent changes.

##### OS / ENVIRONMENT
Ansible is running on MacOS High Sierra targeting Ubuntu 16.04 running in EC2.
VAULT_ADDR and VAULT_TOKEN are exported as environment variables

[2017-08-11 02:49] pshemk commented on #28048
Ok, non issue. For ESP using from_port: -1 and to_port: -1 fixes the problem

[2017-08-11 02:49] #28048 closed, assigned to nobody