[2020-05-21 21:49] sivel commented on #69658
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://grou

[2020-05-21 21:49] #69658 closed, assigned to nobody

[2020-05-21 21:50] sivel commented on #56464
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-05-21 21:50] #56464 closed, assigned to nobody

[2020-05-22 01:22] basictheprogram opened #69663 "win_chocolatey ... pinned: yes hangs"
##### SUMMARY
Trying to pin a package using name and version and the process hangs

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ansible management host
  * ProductName:	Mac OS X
  * ProductVersion:	10.14.6
  * BuildVersion:	18G4032

Manage host
  * Windows 10 Professional

##### STEPS TO REPRO

[2020-05-22 02:30] jzhang2018 commented on #58168
I have been chasing this issue from #58170 which leads to this one. Is there any solution? I am getting the error and have no clue. Here is the code:

- name: Copy file to datastore
  vsphere_copy:
     hostname: "{{ vcenter_server }}"
     username: "myuser"
     password: "password"
     validate_certs: no
     src: "/home/automation/create_vm.yml"
     datacenter: "mydatacenter"
     datastore:

[2020-05-22 03:13] nagaraju99narisetti opened #69664 "YUM Module issue"
##### SUMMARY

[code]

Issue Type:
Bug

COMPONENT NAME
yum

Ansible Verison
[code]

I am getting above error while I execute the below playbook.

[code]

Result:
[code]

[2020-05-22 03:17] hungluong5791 commented on #68400
@samdoran Hi, I'm a bit confused. Why is the data need to be masked? They are logically irrelevant from each other, and this actually blocks our API integration workflow.

[2020-05-22 03:25] hungluong5791 commented on #68400
@rubber-side-down I see, that might be it. But do you think that behaviour is inherently confusing and unnecessary? That's the entire purpose of the response's `json` key, no?

[2020-05-22 04:10] itsgodzilla commented on #69641
Thank you anyway. I have went to read the mailing list, and there also had a guy talking about the same issue and it still not be solved. Pity!  (By searching keywords "get_url 401", you can find it.)
Hers is my test result below, and it works:
[code]

1. special charactors are allowed anywhere: '?~/%'.
2. special charactor is allowed only at the special place: '$'.
Means you can't put any numbers

[2020-05-22 05:49] Akasurde commented on #69563
Backport 2.9 - https://github.com/ansible/ansible/pull/69665

[2020-05-22 05:52] Akasurde commented on #69664
Hi @nagaraju99narisetti!

You are using unsupported version Ansible and Python. Please upgrade to the latest version of Ansible and Python.

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mail

[2020-05-22 05:52] #69664 closed, assigned to nobody

[2020-05-22 06:22] Tomorrow9 commented on #35665
I submitted a new module "iso_create" here: [ansible-collections/community.general #397](https://github.com/ansible-collections/community.general/pull/397). If you have any issue please let me know. Thanks.

[2020-05-22 06:27] Tomorrow9 commented on #65611
Hi @DevFinGovSecOps @alxlcr, we have also meet this situation when install Windows automatically, the solution is changing VM settings to let it boot to BIOS setup window once, and then using this module "vmware_guest_sendkey" to send key strokes to VM. Using this method, there is no need to modify Windows installation iso image to use no prompt file.

[2020-05-22 06:34] Andersson007 commented on #57693
@pgrenaud thank you for the info!
@eowin please look https://github.com/ansible/ansible/pull/65789/files
it'll be released in 2.10, i think. If it's ok, please, close the issue

[2020-05-22 06:38] Andersson007 commented on #27179
@pgrenaud we'll be waiting for your feedback right after release, thanks!

[2020-05-22 07:27] lvrfrc87 opened #69666 "{{ lookup('env','MY_ENV_VAR') }} not working when run ansible in docker"
##### SUMMARY
When run playbook within a docker container, `{{ lookup('env','VAR') }}`
 does not access to custom env vars.

[code]

Running playbook within docker:

[code]

Running playbook via docker:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lookup

##### ANSIBLE VERSION

[code]

[2020-05-22 08:49] graudeejs commented on #67245
Ok, thanks for clarifying. But that only adds an extra step

Step 1: Become privileged user (root)
Step 2: As root adjust permissions of file to be executed by target user
Step 3: Become unprivileged target user

[2020-05-22 10:38] rohitthakur2590 commented on #68949
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-22 10:38] #68949 closed, assigned to rohitthakur2590

[2020-05-22 12:00] code-ninja99 opened #69667 "password lookup not working only with digits"
##### SUMMARY

Lookup password module is not working with Digits chars alone.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- password

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-05-22 12:34] sebcworks commented on #49408
Same problem here...
Seems to be related to the fact that `path` of the file to test is computed through the `to_text` https://github.com/ansible/ansible/blob/dc63b365011a583b9e9bcd60d1fad6fb10b553c7/lib/ansible/module_utils/common/text/converters.py#L150 method while the module itself won't touch at the filename as is it returned by the zipfile.ZipInfo#infolist method.

Maybe the module should us

[2020-05-22 12:45] oscherler commented on #27179
@pgrenaud It doesn’t look like #65789 is supporting all the mess of different syntaxes between different versions of MariaDB and MySQL (this mess being the reason I stopped working on my pull request: testing on 13 different database versions was getting tiresome).

[2020-05-22 13:16] danielmellado commented on #68057
In any case, we don't support this kind of behavior with `raw`. He should be using `network_cli`for this.

[2020-05-22 13:16] #68057 closed, assigned to nobody

[2020-05-22 13:17] #67960 closed, assigned to NilashishC

[2020-05-22 13:18] danielmellado commented on #67821
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/arista.eos
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/

[2020-05-22 13:18] #67821 closed, assigned to GomathiselviS

[2020-05-22 13:20] danielmellado commented on #67681
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#

[2020-05-22 13:20] #67681 closed, assigned to Qalthos

[2020-05-22 13:21] danielmellado commented on #67631
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/

[2020-05-22 13:22] danielmellado commented on #67570
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/

[2020-05-22 13:23] danielmellado commented on #67533
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/junipernetworks.junos
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/for

[2020-05-22 13:23] #67533 closed, assigned to ganeshrn

[2020-05-22 13:24] danielmellado commented on #67458
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-22 13:24] #67458 closed, assigned to nobody

[2020-05-22 13:24] danielmellado commented on #67314
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-22 13:24] #67314 closed, assigned to nobody

[2020-05-22 13:24] danielmellado commented on #67253
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/

[2020-05-22 13:24] #67253 closed, assigned to nobody

[2020-05-22 13:25] kevin-j-smith opened #69668 "Strategy Plugin support custom options"
##### SUMMARY

While developing a generic strategy for cross team consumption with my organization we determined that our teams custom strategy would benefit from configuration options.  Similar to how other plugin types use documentation to define custom options.

An example document section:
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible.plugins.strategy custom plugins co

[2020-05-22 13:25] danielmellado commented on #67024
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#

[2020-05-22 13:25] #67024 closed, assigned to nobody

[2020-05-22 13:26] danielmellado commented on #67023
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/dellemc_networking.os9
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/fo

[2020-05-22 13:26] #67023 closed, assigned to nobody

[2020-05-22 13:27] danielmellado commented on #67020
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#

[2020-05-22 13:27] #67020 closed, assigned to nobody

[2020-05-22 13:27] danielmellado commented on #67019
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.asa
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-22 13:27] #67019 closed, assigned to nobody

[2020-05-22 13:27] danielmellado commented on #67018
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#

[2020-05-22 13:27] #67018 closed, assigned to nobody

[2020-05-22 13:27] danielmellado commented on #67017
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#

[2020-05-22 13:27] #67017 closed, assigned to nobody

[2020-05-22 13:28] danielmellado commented on #66758
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#

[2020-05-22 13:28] #66758 closed, assigned to nobody

[2020-05-22 13:29] danielmellado commented on #66712
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/jacklotusho.f5_modules
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/fo

[2020-05-22 13:29] #66712 closed, assigned to nobody

[2020-05-22 13:29] danielmellado commented on #66678
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco*/arista
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!for

[2020-05-22 13:30] danielmellado commented on #66647
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-22 13:30] danielmellado commented on #66531
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/jacklotusho.f5_modules
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/fo

[2020-05-22 13:30] #66531 closed, assigned to nobody

[2020-05-22 13:31] #69606 closed, assigned to nobody

[2020-05-22 13:34] #69634 closed, assigned to relrod, bcoca

[2020-05-22 13:45] Qalthos commented on #63812
So here's the thing.

The `net_*` modules were deprecated independently and for separate reasons from the underlying implementation modules. The issue isn't that the implementations were deprecated... the issue is that the agnostic modules were problematic hacks that weren't widely used and were too complicated to get any sort of consistent functionality out of.

If you really, absolutely need a v

[2020-05-22 13:45] #63812 closed, assigned to nobody

[2020-05-22 14:52] anshulbehl commented on #69552
I am closing this one, as the problem was with a specific parameter called "NETWORK_GROUP_MODULES" not set
collection routing/runtime should fix this and move the usage of parameter in core base.yml to collection configuration which would be ideal.

[2020-05-22 14:52] #69552 closed, assigned to nobody

[2020-05-22 15:17] andrefecto commented on #16437
Would definitely like to see something like this implemented. I originally used the include_roles option with a rescue block which works great for sending failure notifications. Except when you want to use tags from inside of those roles. From all the digging around I can find, tags applied to tasks in a role that is then imported with any type of include, don't get bubbled up so you can use them

[2020-05-22 15:44] mo-moneyy opened #69672 "Ansible Azure library version issues"
##### SUMMARY
I have an app that I running in a Docker container to create Azure resources utilizing Ansible and Python. I have installed the necessary arm modules with `pip install ansible[azure]` to enable Ansible to work with Azure. For my Python script i am using the current azure-storage-blob, azure-mgmt-resource, and azure-common libraries. Everything with my app works and does what it needs

[2020-05-22 15:47] tigerkeeper5 commented on #69672
The os I am using is Ubuntu 18.04

[2020-05-22 16:16] oscardalmau opened #69673 "os_security_group_rule failing when using remote_group from another project"
##### SUMMARY

Using ansible module os_security_group _rule to add rules in OpenStack security groups. When adding a rule that uses the "remote_group" argument to use a security group from another project as a source (using the ID) it fails. I am using an OpenStack admin user to do it, in order to have a scope from all projects. It fails when executing the playbook in versions higher than 2.6.

##

[2020-05-22 17:50] wojtek0806 commented on #66531
this incorrect link, please stop sending the information, @mkrsn  head here: https://github.com/F5Networks/f5-ansible

[2020-05-22 22:32] sshnaidm commented on #69673
@oscardalmai for 2.10 it's developed in https://github.com/openstack/ansible-collections-openstack and we open bugs in https://storyboard.openstack.org
Not sure though about porting to 2.9 and if it's still allowed.
I prepared a patch, but it requires usage of collection: https://review.opendev.org/#/c/730422/
Can you please try it and see if it fixes the problem?

[2020-05-22 22:56] sshnaidm commented on #68209
@pillesoft `openstacksdk` should be installed on the host where this module runs. Please show your playbook and inventory.

[2020-05-23 01:00] sysadmin75 commented on #69597
Yep, seems to be broken in < 2.10 but does work for dev branch.

[2020-05-23 01:29] sysadmin75 commented on #69559
The synchronize module is an rsync wrapper and can already handle this.  It even gives an example.
[code]

[2020-05-23 01:35] rubber-side-down commented on #68400
@hungluong5791, I could go either way on the behavior of request content marshaling/deserialization, but it's beyond the scope of this issue.

[2020-05-23 02:03] PhilThurston commented on #56403
We can confirm that we have been able to reproduce this in both `xfs` and `ext4` on our end. It is no longer idempotent.

[2020-05-23 04:06] sahotay commented on #69643
As @sivel mentioned i also can't reproduce your issue @vickey123. By your error `"Request failed: <urlopen error timed out>"` it looks like some firewall issues?

Here is a test which worked with Ansible v2.9
[code]
Ansible `Playbook`
[code]

Result:
[code]

[2020-05-23 07:23] aminvakil commented on #30754
In my case I had to install gnupg2 and add repository key before I could add repository.

[code]

[2020-05-23 08:02] screwyy opened #69676 "Long variable in multi line not being parsed correctly"
##### SUMMARY
When trying to limit the number of characters to 80 some variables need to be formatted YAML multi line. Even if I try with `|` or `>` or `>-` or `|-` the output is not correct. I'm trying to create a value for a variable that is made out of another var + multiple filters and I want it to fit into line-length of 80. Please don't offer `line-length: disable` or `skip-ansible-lint` sin

[2020-05-23 11:15] goetzk commented on #17346
I too would be interested in this behaviour - being able to use gpg2 for secrets would make vault much more usable in a team context.

I've had a look at the proposals list but didn't see anything relevant - has someone entered it and I didn't see it or was a proposal never opened?

Related proposals:
https://github.com/ansible/proposals/issues/24
https://github.com/ansible/proposals/issues/135

I

[2020-05-23 11:28] xbe commented on #67090
Many modules got moved out the main ansible repo. The Google Cloud collection now lives in its [own repo](https://github.com/ansible-collections/google.cloud). `gcp_storage_object` receives updates there. To use it you must first install the collection:
[code]

Afterwards, you can switch to that collection's version of the module by changing:
[code]

To:
[code]

Some of the flags have changed, but

[2020-05-23 11:36] Zocker1999NET commented on #48886
@assarbad Because I would require such a feature I want to ask if you are still up to this issue? I may could implement this by myself, however if you have already fixed this, it would be glad to know.

[2020-05-23 12:51] jmnavarrol commented on #18257
No, it isn't.  It's not an option *at all*.

Neither *combine* nor *union* cover the requested use-case which is being able to *"overload"* a list (or, eventually a dict) at *group_vars* level, see my example above (as well as the original one).

[2020-05-23 13:08] jmnavarrol opened #69677 "Per var merging of lists (and hashes?)"
##### SUMMARY
There is value in being able to merge/overload lists/dicts **on a case-by-case basis** at *group_vars* level, i.e. having an empty list at *all* group that can be populated depending on the groups a host belongs to.

this issue is a duplicate of #18257 (which, IMHO, was closed without offering a suitable solution).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
group_vars / h

[2020-05-23 13:12] felixfontein opened #69678 "constants.py: functions and constants deprecated, to be removed in 2.8 resp. 2.10"
##### SUMMARY
lib/ansible/constants.py has its own deprecation mechanism:
https://github.com/ansible/ansible/blob/devel/lib/ansible/constants.py#L32-L39

The following functions were supposed to be removed in 2.8:
- `mk_boolean` https://github.com/ansible/ansible/blob/devel/lib/ansible/constants.py#L42
- `get_config` https://github.com/ansible/ansible/blob/devel/lib/ansible/constants.py#L48

The f

[2020-05-23 13:57] jmnavarrol commented on #69677
I created [a github repo](https://github.com/jmnavarrol/ansible-issue-69677) with example code.

[2020-05-23 14:28] m4ri0g opened #69679 "win_copy fails with: Cannot bind argument to parameter 'Path' because it is an empty string."
##### SUMMARY

when pushing a file to a remove windows hosts if the full path is not specified in the source if fails when running it inside a playbook.  and it never works when using ad-hoc mode.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

modules/windows/win_copy.ps1

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 8 vagrant box

##### STEPS T

[2020-05-23 14:40] Akasurde commented on #69672
@tigerkeeper5 Thanks for this issue. Azure modules are migrated to [Ansible Azure Collection](https://github.com/ansible-collections/azure). Could you please migrate this issue to https://github.com/ansible-collections/azure/issues/new/choose? Thanks.

[2020-05-23 15:26] Akasurde commented on #69667
@SyedK1987 Thanks for reporting this issue. You missed the file path in `password` lookup.

[code]
or you can specify not to store password on the controller like

[code]

I can generate a password with above-mentioned method

[code]

[2020-05-23 15:27] Akasurde commented on #69667
needs_info

[2020-05-23 15:30] Akasurde commented on #69672
!component =lib/ansible/modules/cloud/azure/azure_rm_storageblob.py

[2020-05-23 15:32] jmnavarrol commented on #41313
Just created [a repo](https://github.com/jmnavarrol/ansible-issue-41313) to showcase the desired behaviour on its simplest form.

[2020-05-23 16:44] krzysztof-magosa commented on #35611
I don't think this can be achieved within module.
Ansible executes module on remote host, file/directory is created and module finishes its mission.

[2020-05-23 17:35] SyedK1987 commented on #69667
@Akasurde that really worked, thanks for your guidence.

[2020-05-23 17:36] #69667 closed, assigned to Akasurde

[2020-05-23 19:11] imjoseangel commented on #69607
Hi! @scentoni and @asifmahmud  Thank you for reporting. I was following this issue and I don't understand where is exactly the issue.

I'm testing the functionality in MacOS with the following play:

[code]

When running it:

[code]

It works perfectly. IMHO, adding the `sudo` to the module is not a proper fix and `become` needs to be the way to run it. What do you think?

Could you please give me

[2020-05-23 19:48] Taoquitok commented on #23220
#61500 has been rebased and cleaned up. Hopefully enough time to review before the change freeze

[2020-05-23 20:24] banicr opened #69682 "azure_Rm_deployment module does not work with parameters file."
I am trying to use the azure_rm_deployment module to create azure vm. I have a custom byol template.
This template works fine if i use just the template.
But when i pass the parameters file along with the template, it throws the below mentioned error:

fatal: [localhost]: FAILED! => {"changed": false, "failed_deployment_operations": [], "msg": "Deployment failed with status code: 400 and message:

[2020-05-23 20:59] ltutar commented on #67416
I had the same issue.
[code]
I had to use the deprecated syntax to get it working i.e. `server_url` and `login_token`.

[code]
The rest of the combinations like `api_xxx` is not working.

[2020-05-23 22:02] asifmahmud commented on #69607
I think you're right @imjoseangel , using `sudo is more of a workaround than a proper fix`.

[2020-05-24 00:27] flowerysong commented on #69676
This is not a bug; user support questions (like "how do I wrap this YAML so that it fits in 80 characters") are best addressed to one of the user support channels:

 * IRC: #ansible on irc.freenode.net
 * mailing list: https://groups.google.com/forum/#!forum/ansible-project

Your problem is that you have attempted to mix two forms of YAML scalars, either of which could be used on its own to solve

[2020-05-24 01:34] kewlfft commented on #42445
It relates to the file: [https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/modules/packaging/os/pacman.py](https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/modules/packaging/os/pacman.py)

[2020-05-24 04:56] screwyy commented on #69676
oh, sorry about this thread then, thanks, never thought of the escape :(

value3 in this case would have a `|` at the end and it's not desired but thanks anyway :)

[2020-05-24 05:25] flowerysong commented on #69676
No, that's the advantage of using `join('|')` instead of adding it as part of the `regex_replace`, it only puts the pipe where it needs to go.

[2020-05-24 05:25] mhansen opened #69683 "'Edit on GitHub' button on copy module docs 404s"
##### SUMMARY

1. Go to https://docs.ansible.com/ansible/latest/modules/copy_module.html
2. Click "Edit on GitHub" (top right) or "Edit this document" (footer)

Expected:

* Takes you to edit the page on GitHub

Actual behaviour:

* Takes me to https://github.com/ansible/ansible/edit/devel/lib/ansible/modules/files/copy.py?description=%23%23%23%23%23%20SUMMARY%0A%3C!---%20Your%20description%20here

[2020-05-24 06:25] #66978 closed, assigned to nobody

[2020-05-24 06:52] trollqaa opened #69684 "[UFW module] ERROR: problem running sysctl"
##### SUMMARY
When I try to set state: enabled I get 'ERROR: problem running sysctl', any further manipulations with the firewall end with the same message

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ufw module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OS host: Ubuntu 20.04
OS remote server: Debian 10 (buster)

##### STEPS TO REPRODUCE
Tasks for rep

[2020-05-24 07:00] mhansen commented on #69683
Version's irrelevant here, it's a website, I'm not running an ansible
command.

On Sun, 24 May 2020 at 15:30, ansibot <notifications@github.com> wrote:

[2020-05-24 12:04] Zocker1999NET opened #69685 "Disable padded asterisks on output"
##### SUMMARY
There should be an option for Ansible to remove the padded asterisks. Hereby I mean the asterisks which show up on each task header while running a playbook, see:
[code]

Per default, the option should be disabled to preserve the current behavior. If the option is enabled, the output should look like this:
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
core

##### ADDI

[2020-05-24 12:23] TheodorV commented on #49254
For:
ansible --version
ansible 2.9.7

As a workaround you can use the ping module first, this will copy the fingerprints:
ansible -m ping -i inventory all

[2020-05-24 15:00] captainwasabi opened #69686 "syslog_json output plugin is broken"
##### SUMMARY
Output callback syslog_json is broken
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
syslog_json

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 7.8

##### STEPS TO REPRODUCE

just set the output callback to use syslog_json

[code]

##### EXPECTED RESULTS

it wouldn't throw an exception

##### ACTUAL RESULTS

[code]

[2020-05-24 15:06] imjoseangel commented on #68851
Hi! @jrmcdonald I can help, but I need more information with the issue. Is it feasible sharing a full example from your side? Thanks!

[2020-05-24 16:17] kpfleming commented on #59400
Yep... just ran into this exact problem. I was trying to avoid duplicating the group list in `add_host`, since I'm using the `constructed` inventory plugin and it would put the new hosts into the proper groups after fact collection, but using `refresh_inventory` dropped the new hosts from a non-dynamic group since the hosts file didn't include them in that group.

[2020-05-24 16:49] imjoseangel commented on #69686
This issue was introduced in commit https://github.com/ansible/ansible/commit/2ef7759be1515b82495217e718152735ed589f33#diff-6a381f499eba393581968ee868ecf560 and can be fixed like:

[code]

@captainwasabi Is it going to be fixed in 2.9 or in collections? Do you want me to launch a PR?

[2020-05-24 17:03] scentoni commented on #69607
As I wrote in the description, it worked the first time but failed when I executed it the second time. Adding `--become` does not help, because Ansible is already connecting to the agent as `root`, otherwise it would not have been able to create the user to begin with:
[code]

[2020-05-24 17:33] imjoseangel commented on #69686
Fixed in PR https://github.com/ansible-collections/community.general/pull/408

[2020-05-24 17:38] imjoseangel commented on #69607
Hi @scentoni Thank you for your answer.

**Question**: What is the outcome if you try to do the operation manually in the host with `dscl` command?

Also, could you please test with an admin user and not  root to also confirm the behavior.

Thank you!

[2020-05-24 19:32] jrmcdonald commented on #68851
Hi, thanks for getting back to me. That's not a problem at all. I've put together what I think is a really simple demonstration of the issue, please let me know if it helps!

https://github.com/jrmcdonald/ansible_68851

[2020-05-24 21:19] wolfgang42 commented on #18559
This is tagged `has_pr` but the PR in question hasn't been touched since 2018.

[2020-05-25 00:28] jpeyret commented on #16052
confirming same behavior as @basos9 - works with `acl` installed, but fails without it.

### env

ansible 2.9.9
macos
target:  Ubuntu LTS 20.04 w Python 3.8.2

[2020-05-25 01:46] Fred-sun commented on #69682
@bhavvu  Thanks for this issue. Azure modules are migrated to Ansible Azure Collection. Could you please migrate this issue to https://github.com/ansible-collections/azure/issues/new/choose? Thanks.

[2020-05-25 05:07] screwyy commented on #69676
oh, I didn't notice you deleted the `|` from regex_replace. Thanks lot

[2020-05-25 05:07] #69676 closed, assigned to nobody

[2020-05-25 05:35] mkrizek commented on #69684
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-25 05:35] #69684 closed, assigned to nobody

[2020-05-25 05:43] mkrizek commented on #69686
Closing this in favor of https://github.com/ansible-collections/community.general/issues/407 which is the correct place to report this now. Thanks!

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-05-25 05:43] #69686 closed, assigned to nobody

[2020-05-25 05:55] felixfontein commented on #27349
Everyone: @bandit145 wants to add a module for this to community.general in ansible-collections/community.general#404. Testing it would be very welcome!

[2020-05-25 05:59] mkrizek commented on #69672
Closing in favor of https://github.com/ansible-collections/azure/issues/130.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-05-25 05:59] #69672 closed, assigned to nobody

[2020-05-25 06:05] mkrizek commented on #69683
Even documentation has a version, that's why we ask for it in the template. I have changed the description and added the version.

[2020-05-25 06:11] mkrizek commented on #69683
This is due to flattening the modules directory (#68966).

For 2.9 (and lower) docs (https://docs.ansible.com/ansible/2.9/modules/copy_module.html) the `Edit on GitHub` points at `https://github.com/ansible/ansible/edit/devel/lib/ansible/modules/files/copy.py` which is the old not flattened path.

For devel (https://docs.ansible.com/ansible/devel/modules/copy_module.html) it's `https://github.com/

[2020-05-25 07:25] pillesoft commented on #68209
Hi,
you can find in the first post that openstacksdk is installed as well as you can find the playbook file.
here is inventory
[code]

inventory is fine, because i have several playbook files to create a new instance and setup all the required software, settings on the remote machine.

all are working fine, only the attach script gives error. i make the attachment manually, and continue executing

[2020-05-25 08:35] mhansen commented on #69683
template. I have changed the description and added the version.

Oh, TIL, thanks. FWIW the version isn’t mentioned anywhere on the docs page
I can see (so I’m not sure how people would find it)

On Mon, 25 May 2020 at 16:12, Martin Krizek <notifications@github.com>
wrote:

[2020-05-25 09:37] mkrizek commented on #69683
There is a drop-down list on the top left corner of the page.

[2020-05-25 09:42] lewer opened #69693 "hotstvars lookup fails when a variable is defined from hostvars in the inventory"
##### SUMMARY
hostvars lookup fails when a variable is defined from hostvars in the inventory

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
debug

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### STEPS TO REPRODUCE
inventory/groups_vars/all/test.yml

[code]

This command works well and prints hosts defined in the same inventory file than current host:
`ansible all -i invent

[2020-05-25 11:54] sshnaidm commented on #68209
@pillesoft just to confirm, can you please execute on `server` machine `192.168.0.21`:
`sudo /usr/bin/python -c "import openstack;print(openstack.version.__version__)"`

[2020-05-25 12:46] kladiv commented on #65836
Hi,
issue is still present in 2.9.9

[2020-05-25 14:40] #69682 closed, assigned to nobody

[2020-05-25 14:41] bhavvu commented on #69682
closing this issue as opened another one in
https://github.com/ansible-collections/azure/issues/new/choose?

Thanks

[2020-05-25 16:22] jcontti commented on #62761
@tuccimon
could you resolve this issue?

[2020-05-25 16:40] ovcharenko commented on #65672
notabug: EPEL mirror error

[2020-05-25 17:33] adealdag opened #69694 "vmware_guest_network does not allow to change DVPG within same DVS"
#27831

### SUMMARY
When modifying VM network configuration and changing the attached portgroup, it does not work when the new DVPG is in the same DVS as the current one. It doesn't fail either, just returns as changed but the change is not made.

For example, VM-1 has network adapter 1 in DVS-TEST/myDVPG. The following task will not fail but the VM will remain the same:

  tasks:
    - name: Chan

[2020-05-25 23:14] lxop commented on #57414
For backwards compatibility, it might be reasonable to check if kwargs contains anything, and if so then assume 'new-style' calling (using kwargs for parameters) and don't try splitting the terms at all. If I find some time I might try to put a patch together

[2020-05-26 05:39] whereisaaron commented on #34316
Yes, I too believed the documentation and wasted time trying to work out why this option wasn't working for me.

Given it seems unlikely any of the fixes will be merged, could the documentation be updated to remove the option or to mark it as broken?

https://docs.ansible.com/ansible/latest/modules/archive_module.html

[2020-05-26 05:43] Akasurde commented on #69694
Issue migrated to https://github.com/ansible-collections/vmware/issues/204

[2020-05-26 05:43] #69694 closed, assigned to nobody

[2020-05-26 07:41] tokr94 opened #69697 "win_reboot does not ignore unreachable hosts"
##### SUMMARY

Task ``win_reboot`` always fails even if ``ignore_unreachable`` is set to ``true``.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

``win_reboot``

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MS Edge Windows 10 VirtualBox VM from https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[code]

##### STEPS TO REPRODUCE

When task

[2020-05-26 08:04] fred-gb opened #69698 "docker_compose: Invalid service name"
##### SUMMARY
Invalid service name error appear when I try to charge variable for service name in my playbook.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_compose

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.4 LTS

##### STEPS TO REPRODUCE
Create role
In defaults main.yml, add:
`app_name: test`

and in tasks main.yml

[code]

####

[2020-05-26 08:20] mkrizek commented on #69698
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-26 08:20] #69698 closed, assigned to nobody

[2020-05-26 09:57] oscardalmai commented on #69673
Thanks @sshnaidm. It works.

[2020-05-26 10:34] faruqisan opened #69700 "no_log not working in postgresql_user module"
##### SUMMARY

I set `no_log` true when using `postgresql_user` module, but it still printing the password in the log.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- `postgresql_user`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target OS : ubuntu versions 18.04

##### STEPS TO REPRODUCE

- Run below playbooks:

[code]

##### EXPECTED RESULTS

Expec

[2020-05-26 11:41] sshnaidm commented on #69673
@oscardalmai great! I'll merge the fix into collection then.
Again, not sure if 2.9 is still getting patches, if so - will make a PR.
For now you can install collection and use it: https://github.com/openstack/ansible-collections-openstack/blob/master/README.md

[2020-05-26 12:11] invizus opened #69701 "awc_ec2 inventory plugin hostnames list precedence does not work"
##### SUMMARY
Using aws_ec2 inventory plugin. Defined several options for`hostnames`, but ansible will only use first in the list. Some hosts may be available only via public internet, and others only via VPN or via ssh proxy of publicly available servers.
Reason behind this: Ansible will generate inventory, and will group them by role or purpose, by owner etc. But I want my team to use it flexibl

[2020-05-26 12:22] konstantin-schura commented on #63354
the same issue.
ansible 2.9.6
Operating System: Ubuntu 14.04.6 LTS

[2020-05-26 12:25] mkrizek commented on #69701
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/amazon.aws.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-26 12:25] #69701 closed, assigned to nobody

[2020-05-26 12:28] verokarhu commented on #68851
I've been having similar issues with populating a dynamic inventory from GCP for Kubespray. I was able to pin the issue down to a regression introduced in https://github.com/ansible/ansible/pull/60912

[2020-05-26 13:24] faruqisan commented on #69700
Closing the issue since it's already resolved. It caused by the wrong role import path.

[2020-05-26 13:27] #69700 closed, assigned to nobody

[2020-05-26 13:27] faruqisan commented on #69700
closed the issue since it's caused by the wrong import path.

[2020-05-26 14:27] bcoca commented on #68851
@verokarhu this is not a regression, the 'constructed' functions were always meant to default to warn. Plugin authors have the ability to override or not use these functions, at this point i think the issue lies with fixing the plugin itself and not the default function.

[2020-05-26 14:49] alexanderadam opened #69704 "Ansible `become` won't work with subdirectories that are just readable for become user"
##### SUMMARY

This isn't working in my case

[code]

it results in:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
become

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Both systems are running Ubuntu 20.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No error

##### ACTUAL RESULTS

[code]

Of course everything works with mode `075

[2020-05-26 15:04] verokarhu commented on #68851
This change doesn't remove the warning, the regression comes from the previous change enabling force which [completely bypasses the configuration flag.](https://github.com/ansible/ansible/blob/devel/lib/ansible/inventory/group.py#L40) Are you saying that this should be fixed in `group.py` instead, i.e. by ignoring the force flag?

[2020-05-26 15:09] bcoca commented on #69559
closing as per above, this is not a feature that the copy module is supposed to support nor are we thinking of adding it since the synchronize module already does this work.

[2020-05-26 15:09] #69559 closed, assigned to nobody

[2020-05-26 15:11] bcoca commented on #69573
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this request because we don't want to add complexity to the cron module that deals with formatting/appearance, you can easily use the template module for that.

However, we're absolutely always up for discussion.
Since this is a really

[2020-05-26 15:11] #69573 closed, assigned to nobody

[2020-05-26 15:16] bcoca commented on #69598
yes

[2020-05-26 15:16] #69598 closed, assigned to nobody

[2020-05-26 15:17] mkv-ts opened #69705 "Dynamic inventory regression?"
##### SUMMARY
Possible regression with dynamic inventories. I have a dynamic inventory script that spits out yaml. The script works with ansible 2.9.7, but not with 2.9.8/9

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Dynamic inventory.

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 20.10.

##### STEPS TO REPRODUCE
- Dynamic inventory file (which is executable) called "hosts"

[2020-05-26 15:30] bcoca commented on #69643
closing as per above

[2020-05-26 15:30] #69643 closed, assigned to nobody

[2020-05-26 15:36] bcoca commented on #69666
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-05-26 15:36] #69666 closed, assigned to nobody

[2020-05-26 15:48] bcoca commented on #69677
you can always override the host_group_vars plugin and implement that logic in your custom one.

[2020-05-26 15:53] bcoca commented on #69685
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this request because this is simple enough to achieve with a custom callback.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't always see comments on closed tickets, but want to encourag

[2020-05-26 15:53] #69685 closed, assigned to nobody

[2020-05-26 15:57] bcoca commented on #69693
FYI, hostvars is not a 'normal' dictionary, its an 'ondemand' object that templates things as requested by host. This would force templating of all vars from all hosts in inventory, which can become a huge hog for setups with large innvetories or variable sets.

[2020-05-26 16:05] bcoca commented on #69704
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-05-26 16:05] #69704 closed, assigned to nobody

[2020-05-26 16:08] jimi-c commented on #69704
@alexanderadam it appears that you're not setting the owner (and group) in the first task to create the home directory. That means the directory will be owned by the user which you're using to connect to the remote system (root or whatever you've set `ansible_user` to be). If you set those options, this should work as expected.

[2020-05-26 16:19] bcoca commented on #69705
This is not really a regression, it 'worked by accident' , the scripts were always supposed to be JSON.

The reason you see this now was due to the backport of #58461, which fixes and issue with reporting 'YAML" errors to people that were using strictly JSON .. and enforce that the `script` plugin only uses JSON.

You can easily override the new version of the `script` plugin with the older to res

[2020-05-26 16:19] #69705 closed, assigned to nobody

[2020-05-26 16:22] bcoca commented on #69547
The issues stems from lineinfile and blockinfile not 'locking' , since most modules are not designed to run concurrently on the same host/fijle, but separate hosts/files. As such this is not really a bug but a logical consequence of running multiple updates to the same file in parallel.

You can bypass this issue by creating a template and/or play that runs on localhost and processes all the data

[2020-05-26 16:22] #69547 closed, assigned to nobody

[2020-05-26 16:31] #69649 closed, assigned to nobody

[2020-05-26 16:31] bcoca commented on #69582
cc @sivel

[2020-05-26 16:39] bcoca commented on #68851
the constructed functions are meant to do this by default, it is up to the caller to override that behaviour by supplying their own validation.

The toggle is supposed to affect the 'global' verification, not per plugin ones. Plugins are free to deviate.

[2020-05-26 16:42] #60424 closed, assigned to nitzmahone

[2020-05-26 16:42] #68872 closed, assigned to nobody

[2020-05-26 16:56] verokarhu commented on #68851
Yes and you implemented the override for the `gcp_compute` plugin in https://github.com/ansible/ansible/pull/53458. It doesn't work however, because the `TRANSFORM_INVALID_GROUP_CHARS` is ignored.

[2020-05-26 17:11] ainiml commented on #69633
+1

You currently have to run two commands to use unarchive module. This should be able to be done in one command

The `creates` function should be updated to be a boolean to "create" the destination directory

[code]

or to be more explicit, leaving the current `creates` alone:

[code]

[2020-05-26 17:30] wkoszek commented on #69633
@ainiml Yeah.

That kind of brings me to another point: `creates` should really be named `skip_if_exists`.

[2020-05-26 18:05] SamyCoenen opened #69707 "Document example to loop add_host"
The `add_host` module notes that:

There doesn't seem to be an example how this could be done.

Someone already found the solution though:

[code]

Full example

[code]

_Originally posted by @kvaps in https://github.com/ansible/ansible/issues/6912#issuecomment-310501334_

##### COMPONENT NAME
add_host

[2020-05-26 18:06] ledufakademy opened #69708 "best practice inventories alternative layout , "group_vars" variable : not working ?"
##### SUMMARY
When working with exactly documentation layout, "group_vars" not working at all.
https://docs.ansible.com/ansible/latest/user_guide/playbooks_best_practices.html#alternative-directory-layout
if i put variables inside playbooks (which are at the root of /etc/ansible, like doc), directly : role and playbook work.
But if want to use the all.yml and servers.yml nested in inventories grou

[2020-05-26 18:08] ledufakademy commented on #69708
inventories/test/group_vars/all.yml

[code]

[2020-05-26 18:22] bcoca commented on #69708
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-05-26 18:22] #69708 closed, assigned to nobody

[2020-05-26 18:29] jrmcdonald commented on #68851
@bcoca Thanks for that explanation, I understand the rationale there. I think that @verokarhu has identified the issue, even if their proposed fix is not in line with the rationale that you explained. The change they linked to, [#60912](https://github.com/ansible/ansible/pull/60912), changes the call on line 375 of __init__.py from:

`self._sanitize_group_name`

to

`original_safe`

which is a dir

[2020-05-26 18:39] ericsysmin commented on #42666
Has this been merged yet into the Collection, I didn't see this issue over there either. @sivel

[2020-05-26 18:47] #69237 closed, assigned to relrod

[2020-05-26 19:19] bcoca commented on #68851
yes, you can override the function and that is how plugins are supposed to opt for the behaviour, changing the internal function affects much more than the plugin you are having an issue with.

[2020-05-26 19:29] #46174 closed, assigned to bcoca

[2020-05-26 19:30] jrmcdonald commented on #68851
Sorry to be explicitly clear, do you mean to suggest that I should override the `original_safe` function?

[2020-05-26 20:02] SamyCoenen commented on #69707
!component add_host

[2020-05-26 20:07] pgrenaud commented on #27179
@oscherler Yeah, I get that. In my case, I'm working with MySQL 5.7 and now trying to update to MySQL 8.0. I do not work with MariaDB, so I can't tell. To be frank, it's been so long since I've created this issue that I don't remember why I needed the plugin parameter. 😅

[2020-05-26 20:22] pyranja opened #69710 "aws_secret fails if no secret version exists"
##### SUMMARY

When using `aws_secret` to ensure that a secret is set, the module fails if the secret resource exists, but no secret version with stage label `AWSCURRENT` exists.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aws_secret

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
not relevant

##### STEPS TO REPRODUCE

Create a new secret via api `aws s

[2020-05-26 20:25] pyranja commented on #69710
Why is this relevant to us?
We are using terraform to manage our AWS infrastructure, but do not want to let terraform manage passwords. Therefore we create the secretsmanager resource with terraform, without setting any values.
We then use an ansible role to generate a password if it is not present, save it to secrets manager and configure credentials in a target system. If a secret version exists

[2020-05-26 21:31] kkostenko commented on #68405
Hello!

Someone removed network_cli connection plugin from 2.10.0.dev0 looks like or something else changed. I need network_cli to work to test a change:

ansible-playbook -i inventory-otv playbook_facts.yaml --limit ecores104
[WARNING]: You are running the development version of Ansible. You should only run Ansible from "devel" if you are modifying the Ansible
engine, or trying out features under

[2020-05-26 23:23] oscherler commented on #27179
For me it was because I wanted to set a password for root, to reproduce a set-up we had on our previous internal development server, and the default on Ubuntu had become to have root using the auth_socket plugin.

In retrospect, it would have been so much easier to just use another user and change the name in the config files of the 200+ web sites we were developing as needed. 🤣

[2020-05-27 00:00] Jim-Ivey opened #69716 "Ansible 2.9.9 reports its version as "2.8.0"."
##### SUMMARY
Ansible 2.9.9 responds to `ansible --version` with "2.8.0".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing.  New installation.

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
1.  Remove/purge all versions of Ansible.
2.  `sudo add-apt-repository ppa:ansible/ansible-2.9`
3.  To be sure I was getting Ans

[2020-05-27 00:12] ToniCipriani opened #69717 "get_certificate module is not using SNI resulting in certs coming back as invalid"
##### SUMMARY
When using get_certificate, the client does not provide an SNI, causing some certs to come back as invalid. One example of this is from AppSpot (testsafebrowsing.appspot.com).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_certificate

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS 10

##### STEPS TO REPRODUCE

[code]

##### EXPECT

[2020-05-27 00:58] #34722 closed, assigned to relrod

[2020-05-27 01:56] k4ch0 commented on #68599
Hey @sivel,

Do I need to do something else on this issue?

[2020-05-27 05:36] angystardust commented on #49401
This issue has been migrated to https://github.com/ansible-collections/netapp/issues/41

[2020-05-27 05:36] #49401 closed, assigned to nobody

[2020-05-27 06:59] sbaygithub commented on #44711
What is the current status on this? We really would appreciate this feature for the module. Please merge it.

[2020-05-27 07:01] sbaygithub commented on #44711
@ryansb  Any update on this? We really would appreciate this feature for the module. Please merge it.

[2020-05-27 07:28] sbaygithub commented on #44711
@theo-bot I've tried to executing the module with the fix and the option shard_duration and got the following error:
`
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: KeyError: 'shard_group_duration'
fatal: [10.10.59.13]: FAILED! => {"changed": false, "module_stderr": "Traceback (most recent call last):\n  File \"<stdin>\", line 102, in <module>\n

[2020-05-27 07:49] widhalmt opened #69720 "authorized_key : Check key for validity (esp. after copy&paste)"
##### SUMMARY
Sometimes I get public keys to be installed sent via E-Mail. Since some Mailsystems (esp. Microsoft ones) tend to break code by trying to improve readability keys tend to be unusable after going through certain systems.

While I already know to look for newlines in places they should not be, sometimes it happens that I plain forget to check keys before copying them over.

I was hopin

[2020-05-27 07:50] mkv-ts commented on #69705
Alright!

For anyone else with this issue I solved it like this:
[code]

And now everything works again!

[2020-05-27 08:28] alexanderadam commented on #69704
@jimi-c oh no — of course! How was I not able to see this! Thank you for seeing this!

[2020-05-27 08:35] amirm-hrl opened #69721 "Add AIX default CA certs path to module_utils/urls.py"
##### SUMMARY

Adding the AIX standard capath to the CA certs search folders

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- Playbook module: uri
- get_ca_certs in class SSLValidationHandler
- At line: https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/module_utils/urls.py#L833

##### ADDITIONAL INFORMATION

Problems:
- The **uri** Ansible playbook module fails to GET https i

[2020-05-27 08:45] oscardalmai commented on #69673
Thanks @sshnaidm. Could you please share the PR so I can track if it's approved or not?

[2020-05-27 08:46] mkrizek commented on #69720
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.posix.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!foru

[2020-05-27 08:46] #69720 closed, assigned to nobody

[2020-05-27 08:50] ledyba-z commented on #69492
I also faced this problem in our private project!

I used under these settings in servers:
 - Python 3.6.9
 - Ubuntu 18.04 LTS
 - ansible 2.8.7

It looks `encoding` param is not specified when opening cron file:

https://github.com/ansible/ansible/blob/4c4406b2df3eb23ae0015067fa8c026777cd961e/lib/ansible/modules/cron.py#L255-L264

When `encoding` param is not specified, `locale.getpreferredencodin

[2020-05-27 08:53] CendioOssman opened #69722 "rhsm_repository is really slow"
##### SUMMARY
Using rhsm_repository is really slow, making it annoying to use a playback that uses it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rhsm_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible machine:
Target machine: RHEL 8

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The above task should complete in a short time, a

[2020-05-27 09:07] amirm-hrl commented on #69721
ansible version 2.9.7

[2020-05-27 09:36] piotrsmerda opened #69724 "netbox_interface module"
##### SUMMARY
Required parameter is not specified in docs:
after running simple playbook like listed below you'll get error message:

Fatal: [localhost]: FAILED! => {"changed": false, "msg": {"type": ["This field is required."]}}

##### ISSUE TYPE
Missing required "type" field from documentation

##### COMPONENT NAME
netbox_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
no changes t

[2020-05-27 09:50] ovv opened #69725 "Expose --ask-become-pass result in ansible_become_pass"
##### SUMMARY

The password sent to `--ask-become-pass` is not exposed in the ansible_become_pass variable

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

become

##### ADDITIONAL INFORMATION

[code]

[2020-05-27 10:20] gilesw commented on #33373
+1 for this

[2020-05-27 10:24] alexanderadam commented on #33699
`sudo` and `su` are working fine in my case but running a command with `machinectl` leads to this issue in my case.
I increased all timeouts to 40 but it didn't help.

[2020-05-27 11:19] sshnaidm commented on #69673
@oscardalmai it should be #69726

[2020-05-27 13:36] danielmellado commented on #67780
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#

[2020-05-27 13:36] #67780 closed, assigned to nobody

[2020-05-27 13:36] danielmellado commented on #67768
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/

[2020-05-27 13:36] #67768 closed, assigned to NilashishC

[2020-05-27 13:37] #67631 closed, assigned to GomathiselviS

[2020-05-27 13:38] danielmellado commented on #67022
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/dellemc_networking.os6
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/fo

[2020-05-27 13:38] #67022 closed, assigned to nobody

[2020-05-27 13:39] #66754 closed, assigned to justjais

[2020-05-27 13:39] #66678 closed, assigned to justjais

[2020-05-27 13:39] #66647 closed, assigned to justjais

[2020-05-27 13:40] danielmellado commented on #66520
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#

[2020-05-27 13:40] #66520 closed, assigned to nobody

[2020-05-27 13:40] danielmellado commented on #66518
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-27 13:40] #66518 closed, assigned to nobody

[2020-05-27 13:41] danielmellado commented on #66387
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/

[2020-05-27 13:41] #66387 closed, assigned to nobody

[2020-05-27 13:41] danielmellado commented on #66373
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#

[2020-05-27 13:41] #66373 closed, assigned to nobody

[2020-05-27 13:41] danielmellado commented on #66354
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.mso
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-27 13:41] #66354 closed, assigned to nobody

[2020-05-27 13:42] danielmellado commented on #66318
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/

[2020-05-27 13:42] #66318 closed, assigned to nobody

[2020-05-27 13:42] danielmellado commented on #66312
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/

[2020-05-27 13:42] #66312 closed, assigned to nobody

[2020-05-27 13:42] danielmellado commented on #66232
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.asa
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-27 13:42] #66232 closed, assigned to nobody

[2020-05-27 13:43] danielmellado commented on #66228
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/

[2020-05-27 13:43] #66228 closed, assigned to ganeshrn

[2020-05-27 13:43] danielmellado commented on #66089
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#

[2020-05-27 13:43] #66089 closed, assigned to nobody

[2020-05-27 13:44] danielmellado commented on #66035
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-27 13:44] #66035 closed, assigned to nobody

[2020-05-27 13:44] danielmellado commented on #65985
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-27 13:44] #65985 closed, assigned to rohitthakur2590

[2020-05-27 13:45] danielmellado commented on #65751
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#

[2020-05-27 13:45] #65751 closed, assigned to nobody

[2020-05-27 13:45] danielmellado commented on #65738
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.meraki
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#!foru

[2020-05-27 13:45] #65738 closed, assigned to nobody

[2020-05-27 13:45] danielmellado commented on #65695
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#

[2020-05-27 13:45] #65695 closed, assigned to nobody

[2020-05-27 13:46] danielmellado commented on #65682
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#

[2020-05-27 13:46] #65682 closed, assigned to nobody

[2020-05-27 13:46] danielmellado commented on #65655
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon
Please re-submit this issue in the above repository.
If you have further questions please stop by IRC or the mailing list:

IRC: #ansible-network on irc.freenode.net
mailing list: https://groups.google.com/forum/#

[2020-05-27 13:46] #65655 closed, assigned to nobody

[2020-05-27 14:01] Qalthos commented on #62141
I'm not real sure how this issue fell down for so long, but here's the response.

I realize the documentation isn't great on this point because this was all put together long before ansible supported complex argument documentation *and* it has to support both list-of-strings and list-of-dicts and list-of-mixed-strings-and-dicts. The documentation is definitely inadequate, but `eos_command`, `ios_c

[2020-05-27 14:01] #62141 closed, assigned to justjais

[2020-05-27 14:36] MarioVilas commented on #38696
I am getting the same problem with Debian remotely over SSH:
[code]

[2020-05-27 14:37] martydingo commented on #58325
This also exists on routeros_facts.

[2020-05-27 14:40] heuels commented on #58325
Yes, that's true since both modules use the same connection mechanism.

[2020-05-27 14:42] emergy opened #69728 "docker_compose restarts stopped containers with stopped parameter"
##### SUMMARY

docker_compose restarts stopped containers with stopped parameter
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_compose

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

in the absence of changes, it should not do anything with the container stopped

##### ACTUAL RESULTS

[code

[2020-05-27 15:12] yossiyy opened #69729 "Ansible docker_compose examples misleading because they use localhost"
##### SUMMARY
The documentation for the docker_compose module was misleading.
The path value for project_src needs to be on the target machine. And this is not clarified anywhere.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
Ansible docker_compose module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.4 LTS

##### ADDITIONAL INFORMAT

[2020-05-27 15:21] samccann commented on #69493
Another working example:

[code]

[2020-05-27 16:00] jmnavarrol commented on #69677
As for my current needs, probably a bit of overkill since I never developed them (and in this case, I wouldn't even know where to start), but good to know there's the option, nevertheless.

I suppose it would mean changing the default var behaviour from either *merged* or *non-merged* to *merged*, *non-merged* and *mergeable*.

[2020-05-27 16:07] samdoran commented on #67467
Ah, ok. So this should be an error raised by the module. I don't think `yum: name{{foo}}` is supposed to be valid.

This may not be isolated to just the `yum` module, then, but probably our raw parameter parsing.

[2020-05-27 16:10] #65881 closed, assigned to nobody

[2020-05-27 16:10] #65004 closed, assigned to nobody

[2020-05-27 16:17] samdoran commented on #61965
Seems that since `lusermod` only accepts a GID for `-g`, we need to translate the group name into the GID when using `lusermod`.

[2020-05-27 16:33] lewer commented on #69693
Thanks for your answer. But I'm not sure to understand why it explains the "issue": without defining my `hosts_same_inventory_file` variable, `ansible all -i inventory -m debug -a "var=hostvars"` works. Is only fails when I define in the inventory `hosts_same_inventory_file: "{{ hostvars | ... }}"`.

I guess this is because now hostvars is defined with a recursion: `hostvars[host].hosts_same_inven

[2020-05-27 16:40] jkupferer opened #69731 "Loop variables with leading underscore appear in debug message"
##### SUMMARY

If a loop variable uses a leading underscore it is printed in debug output, which is surprising behavior.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Debug output in callback plugins.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Example playbook:

[code]

##### EXPECTED RESULTS

Expected that the variable name should not matter in output. In particular, common conve

[2020-05-27 19:01] scentoni commented on #69607
@imjoseangel I tried the simplest `dscl` command that would correspond to this, and it showed the same failure of idempotence as the `user` module, but I though the Ansible modules are designed to be idempotent wrappers around non-idempotent system commands.
[code]

[2020-05-27 19:03] ila-001 commented on #64405
Trying to create/deploy custom template using k8 modules.

- name: Deploying {{ template_name }} on the openshift cluster
  k8s:
    state: present
    src: "{{ templates_dir.path }}/{{ template_name }}"

Getting error msg
MSG:
Failed to find exact match for v1.template by [kind, name, singularName, shortNames]

ansible 2.9.1
  config file = /etc/ansible/ansible.cfg
  configured module search path

[2020-05-27 19:03] ila-001 commented on #64405
Were as the same template is getting created using oc command.

[2020-05-27 19:47] samccann opened #69733 "[Docs] Tracking issue - differences between ansible-base and collections"
##### SUMMARY

This is a list of what needs to be documented differently for ansible-base users and developers vs users/developers of ansible (formerly known as ACD)

- [x] Deprecation and removal policies

- [x] using links in module docstrings (e.g. L() relative links won't work in a collection

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[2020-05-27 19:53] imjoseangel commented on #69607
In my case this is the result:

[code]

And that is because you have a restriction when accessing to your path. Ensure you have the following enabled: _Settings - Security & Privacy - Full Disk Access - Terminal_

AFAIK this is not an Ansible issue and should be closed

[2020-05-27 22:45] scentoni commented on #69607
I don't see a place in the Ansible documentation where it is indicated that you need to disable this security feature of the target OS, or how to do so on the command line.

[2020-05-27 23:41] epicanthal commented on #27299
Just wanted to provide another example for others that stumble upon it and thank all here, especially @berlic
- Ansible version == 2.9.7
- [ios_facts](https://docs.ansible.com/ansible/latest/modules/ios_facts_module.html) module
- Want all interfaces who's name contains 'loopback'

Sample returned from ios_facts:
[code]

This works:
[code]

Output (exactly what I was looking for):
[code]

Alternat

[2020-05-27 23:50] rmahroua commented on #55827
@bretmartin  would you have any update on your work? I could use that feature as well :)
Thanks!

[2020-05-28 00:19] willthames commented on #64405
@ila-001 what version of openshift library are you using - this should be fixed in `openshift>=0.10.1`

[2020-05-28 02:42] #59477 closed, assigned to pabelanger

[2020-05-28 04:37] basictheprogram opened #69736 "The following modules failed to execute: setup"
##### SUMMARY
Did a pull on the stable-2.9 branch and now the setup modules is throwing an error when I attempt to manage Windows10 computers

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Management host:
ProductName:	Mac OS X
ProductVersion:	10.14.6
BuildVersion:	18G4032

Managed host:
Windows10 Profe

[2020-05-28 07:14] basictheprogram commented on #69736
Attempting to learn how to debug powershell modules. In Visual Studio Code's integrated debugger I got to the place I think the problem occurs.

Break point at ansible/lib/ansible/modules/windows/setup.ps1:187
[code]
Know very little about powershell, but looks like `$win32_bios.ReleaseDate.ToString("MM/dd/yyyy")` is not in the Surface $win32_bios?

[code]
[code]
I step over line 187 and exception

[2020-05-28 07:40] imjoseangel commented on #69607
Hi @scentoni , IMHO I don't think these specific OS documentation should be under Ansible. If you use the copy module for instance and you have a permissions problem or SELINUX activated under a RedHat Linux, it won't work as expected but it doesn't mean it should be documented.

[2020-05-28 09:00] ledyba-z commented on #63231
We are also facing this issue and breaking the production environment many times :sweat_smile:

How about adding a `--no-remove` option to here to avoid unintended package removes?

https://github.com/ansible/ansible/blob/4c4406b2df3eb23ae0015067fa8c026777cd961e/lib/ansible/modules/apt.py#L672-L675

I also it's great if `--diff --check` prints the result of `apt install --dry-run`, like:

[code]

[2020-05-28 10:54] ila-001 commented on #64405
@willthames thanks. it worked after upgraded to openshift  0.11.1.

[2020-05-28 11:46] prupert commented on #40710
+1

[2020-05-28 11:53] macau23 opened #69738 "Rename parameters for file module: link"
### SUMMARY
Symlinks are horrible in Ansible because they do the opposite to what is expected. The Ansible documentation says:
`"which is how the Unix command ln -s SRC DEST treats relative paths."`

Well yes, perhaps, but `man ln` actually says this:
`Usage: ln [OPTION]... [-T] TARGET LINK_NAME`

The Ansible example shows:
[code]

The problem here is that `src` and `dest` make no sense at all. If

[2020-05-28 12:29] Andersson007 commented on #66770
accoring to https://github.com/PyMySQL/PyMySQL/issues/548 , `!includedir` option is unsupported by PyMySQL. The issue was closed.
Thus, this is not a bug of ansible itself and can't be solved here unfortunately.

[2020-05-28 12:35] #66770 closed, assigned to nobody

[2020-05-28 12:49] Amithsha opened #69739 "Issue with lineinfile module"
##### SUMMARY
Tried to write a line using lineinfile module sequentially were observed that the random lines are missed to write on the file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Passed 4 ips to the inventory so 4 entries should be m

[2020-05-28 12:57] Andersson007 commented on #63955
this unfortunately can't be removed because of security reasons https://docs.python.org/3/library/shlex.html#shlex.quote.
There's a good example why

[2020-05-28 13:00] Andersson007 commented on #63955
I'll add an option for that

[2020-05-28 13:45] bcoca commented on #69738
I'm not sure the issue is with the names, which are generic in this case for the different operations, we CAN make link_name an alias, but it would only make sense for 2 of the states, I believe most of your confusion can be alleviated just by reordering of the task options:
[code]

[2020-05-28 14:38] #69009 closed, assigned to nobody

[2020-05-28 14:54] Andersson007 commented on #63955
https://github.com/ansible-collections/community.general/pull/428
One thing i'm worried about is that i can't reproduce `Access denied` neither in my local environment nor ansible CI tests.

[2020-05-28 15:20] felixfontein commented on #68701
Has been fixed by #67684.

[2020-05-28 15:20] #68701 closed, assigned to nitzmahone

[2020-05-28 15:23] MarioVilas opened #69741 "Disabling the Cockpit service in Fedora Server always reports changed"
##### SUMMARY
Disabling the Cockpit service in Fedora Server always reports changed, even when the service was already disabled.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04 on my laptop, Fedora 32 Server on the target.

##### STEPS TO REPRODUCE
I wrote this simple task to show exactly wh

[2020-05-28 16:58] DonEstefan opened #69743 "nios_nsgroup: unable to asign "external_secondaries" without tsig"
##### SUMMARY
according to documentation [tsig_key_name](https://docs.ansible.com/ansible/latest/modules/nios_nsgroup_module.html#parameter-external_secondaries/tsig_key_name) is not a mandatory parameter for assigning external_secondaries. But when omitted ansible will throw an error `missing required arguments: tsig_key_name found in external_secondaries`

Also the error message is misleading an

[2020-05-28 17:13] niclashoyer commented on #64121
IMHO this should be implemented as the whole discussion in #22169 shows role deduplication is a feature that many people rely on.

Rule deduplication is supported using the "old" syntax. The [current documentation on playbook reuse](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse.html#playbooks-reuse) does not reference the role dependency feature, but only hints at `import_role

[2020-05-28 17:29] niclashoyer commented on #56046
We are also hitting this and I don't like to use a workaround via variables like [described here](https://github.com/ansible/ansible/issues/22169#issuecomment-429777847) because this prevents handlers from being run.

[2020-05-28 17:34] curt-hash opened #69744 "docker_swarm join requires advertise_addr"
##### SUMMARY
The `docker_swarm` module requires `advertise_addr` when `state: join`, but the `docker swarm join` command does not.

The Docker documentation for the `--advertise-addr` option (https://docs.docker.com/engine/reference/commandline/swarm_join/) states:

However, the Ansible [source](https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/modules/cloud/docker/docker_swarm.py#L6

[2020-05-28 19:25] Shrews commented on #69736
Was this something that worked in previous versions? Have you tried with latest devel branch?

needs_info

[2020-05-28 19:26] jrmcdonald commented on #68851
Thank you for your help so far, however I'm struggling to see how I am supposed to, given the example I posted at https://github.com/jrmcdonald/ansible_68851, override the `original_safe` method to pass force=False. Is that really the intent?

[2020-05-28 19:31] Shrews commented on #69738
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * Per above, the suggested aliases would be confusing for states other than 'link'.

However, we're absolutely always up for di

[2020-05-28 19:31] #69738 closed, assigned to nobody

[2020-05-28 19:31] basictheprogram commented on #69736
Yes, this worked on previous releases and on the same Microsoft Surface. I prefer not to leave the 2.9 branch as many of our internal roles and playbooks "break" with the changes in the devel branch. I can work doing some `git blame` and see what broke the code. If you comment out the call to `ansible_bios_date      = $win32_bios.ReleaseDate.ToString("MM/dd/yyyy")` things work (as documented in my

[2020-05-28 19:53] jborean93 commented on #69736
The field you are talking about hasn't changed for over 2 years so I'm surprised that it has failed on the latest branch. We also haven't touched that file since March 21st https://github.com/ansible/ansible/commits/stable-2.9/lib/ansible/modules/windows/setup.ps1 and we've had 3 2.9 releases since then (2.9.7+).

Can you 100% confirm that this problem occurs only on stable-2.9 and not one of the

[2020-05-28 20:01] samdoran commented on #69741
This is a duplicate of #46247. The issue is that cockpit is a static service, no systemd doesn't report whether it is enabled or not, just `static`.

There is a PR #46490 that causes the task to fail for static services rather than reporting a change each time, but that is also probably not the best solution.

[2020-05-28 20:01] #69741 closed, assigned to nobody

[2020-05-28 20:03] basictheprogram commented on #69736
Maybe the firmware update and.or Windows patches "removed" the $win32_bios.ReleaseDate on these older Surfaces?

[2020-05-28 20:09] jborean93 commented on #69736
There's a chance, the fact that it's saying it's `$null` means the value isn't present so it could have been removed at some point.

[2020-05-28 20:58] samdoran commented on #69739
There are a number of potential tripping hazards in this example playbook:
  - reusing the `disk_data` variable name, potentially overwriting it
  - looping over `disk_data` but not using the loop data (`item`) in the task and instead always using `disk_data`
  - using `lineinfile` to write a local file with multiple concurrent processes, which would be much less error prone with `template` and on

[2020-05-28 20:58] #69739 closed, assigned to samdoran

[2020-05-28 21:05] jlariza opened #69750 "Apache Enable Rewrite Module fails if already enabled"
##### SUMMARY
ansible Apache2 module has a bug with ubuntu and enable task. It fails if rewrite is already enabled. It is a variant of this bug https://github.com/ansible/ansible/issues/22635. I tried to create a PR to solve it based on the PR that solved the previous bug, but I could not find where is the apache module .py file in current repository.

##### ISSUE TYPE
- Bug Report

##### COMPONEN

[2020-05-28 21:13] #66529 closed, assigned to nobody

[2020-05-28 21:16] heiderich opened #69752 "service status is not always `enabled`, `disabled` or `unknown`"
##### SUMMARY

According to the https://docs.ansible.com/ansible/devel/modules/service_facts_module.html#return-ansible_facts/services/status the status of a service is either `enabled`, `disabled`, or `unknown`. This seems not to be the case. Here I report on an example where `static` is returned.

##### ISSUE TYPE

Probably the documentation is not accurate.

##### COMPONENT NAME

[service_facts

[2020-05-28 22:25] utkuozdemir commented on #58242
Still present on 2.9.9.

[2020-05-29 00:15] relrod commented on #69716
Unable to reproduce.

[code]

[code]

I am guessing there's another ansible, somewhere on your system. I'd check out `$PATH` and `$PYTHONPATH` and make sure they look sane.

[2020-05-29 00:15] #69716 closed, assigned to relrod

[2020-05-29 01:54] cspeidel commented on #58592
For the comments about disk sharing, I've created an issue in the new module location (ansible-collections) for multi-writer sharing:
https://github.com/ansible-collections/vmware/issues/212

[2020-05-29 03:37] rendhalver commented on #65699
How about adding a `--upgrade` option to install.
So we could then rely on the `requirements.yml` file as the source of truth about what is installed.
This would be especially useful when running this as part of a CI pipeline or some other automation.

[2020-05-29 05:25] Amithsha commented on #69739
@samdoran thanks for comments.
1. yes here i made mistake its not with_items
- lineinfile: line={{ disk_data }} dest=working_dir/{{ app_id }}_instance_disk_data.txt insertafter=EOF state=present
2. yes via template the issue might be solved let me check.
3. But need to understand why lineinfile is missing the lines (might be a bug).

[2020-05-29 05:37] NilashishC commented on #68405
@kkostenko The `network_cli` connection plugin (among others) has been moved to [netcommon](https://github.com/ansible-collections/ansible.netcommon) collection, as a part of our disaggregation effort. This redirection has been taken care of in latest ansible/ansible devel. However, there is an issue in devel branch right now that blocks `network_cli` from working properly, this will be fixed.

Me

[2020-05-29 05:42] vbotka commented on #69739
It's a race. Yes. This might be viewed as Python bug. This simply does not work in Python.  See https://en.wikipedia.org/wiki/Race_condition

It's been discussed and tested. See https://groups.google.com/forum/#!topic/ansible-project/3DvVtiynMRU

Use `template`. If you insist on `lineinfile` use `throttle: 1` to serialize the writing to a file.

[2020-05-29 06:26] grdesai719 opened #69755 "The error was: ansible.module_utils.connection.ConnectionError: Failed to authenticate: private key file is encrypted"
[code]

I constantly see the below issue, please guide how to resolve:

[code]

==========ansible.cfg
[code]
========playbook

[code]
================

[code]
============

[code]

[2020-05-29 07:23] Akasurde commented on #69755
Hi @grdesai719 !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2020-05-29 07:23] #69755 closed, assigned to nobody

[2020-05-29 07:27] NilashishC commented on #68405
@kkostenko Note: Using `gather_facts` with the setup I previously mentioned would most likely fallback to running `setup` module because of missing mappings between FQCN network_os and facts modules. That has been fixed in the latest devel and a PR is in place to patch that in the next 2.9 release. Anyway, it'd probably be easier to test this using the cisco.nxos.nxos_facts module in a task and no

[2020-05-29 07:27] Akasurde commented on #69750
@jlariza Thanks for reporting this issue. [`apache2_module`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/web_infrastructure/apache2_module.py) is migrated to [`community.general`](https://github.com/ansible-collections/community.general) collection.

Please create a PR against https://github.com/ansible-collections/community.general repo. Thanks.

[2020-05-29 07:30] Akasurde commented on #69752
resolved_by_pr #69757

[2020-05-29 07:30] Akasurde commented on #69752
@heiderich, Could you please check PR #69757 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-05-29 07:37] Akasurde commented on #43641
@mostfunkyduck This feature is already available. Could you please confirm if this matches your requirement? Thanks.

needs_info

[2020-05-29 07:41] fl0gu commented on #52937
It is working fine in ansible-2.9.6

[2020-05-29 07:41] #52937 closed, assigned to nobody

[2020-05-29 07:52] ssbarnea opened #69758 "api: ModuleArgsParser does not respect context.CLIARGS custom module path"
##### SUMMARY
Based on https://docs.ansible.com/ansible/latest/dev_guide/developing_api.html we are suggested that we need to configure `context.CLIARGS` if we want to add extra module include paths when loading ansible code.

Still, trying to use [ModuleArgsParser](https://github.com/ansible/ansible/blob/devel/lib/ansible/parsing/mod_args.py#L58) to validate a task fails
This issue current affect

[2020-05-29 09:14] jrmcdonald commented on #68851
I think making the following changes would allow overriding for the `_add_host_to_composed_groups` method in Constructable, but still retain the current expected behaviour when not overriden:

Change lines 42-45 of `plugins/inventory/__init__.py` from:

[code]

to:

[code]

Change line 375 of `plugins/inventory/__init__.py` from:

[code]

to:

[code]

Then in my example plugin I could, as a really

[2020-05-29 11:25] pleusmann-conet commented on #68361
I also experience that bug right now and it is a serious issue for our current infrastructure.

@sivel Could you please elaborate on the question by @aneagoe ?

Furthermore, Could you please give more details on the general effort you mention? Is there a timeframe on when to expect a fix?

[2020-05-29 12:29] TheLastProject opened #69759 "Python modules on Windows: sre_constants.error: bad escape \P at position 2"
#### SUMMARY
When trying to run Python modules on Windows, a very unclear exception is thrown instead of an error message explaining this is not supported.

Originally reported as https://github.com/ansible-collections/community.general/issues/348 before figuring out this had to do with general Windows support

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Core

##### ANSIBLE VERSION

[code]

[2020-05-29 12:38] jlariza commented on #69750
Thank you @Akasurde I just created the PR there.

[2020-05-29 14:00] centinal-centinal commented on #50130
Having the same issue on ansible 2.9.6

---
- name: Get 9K Facts
  hosts: DevNexus
  connection: local
  tasks:
    - name: Get Nexus9K Facts
      nxos_facts:
        host: "{{inventory_hostname}}"
        transport: nxapi
        use_ssl: yes
        validate_certs: no
      register: nxos_data
    - name: Print name to Console
      debug: msg="{{nxos_data}}"

ansibl.cfg file contents:

[defaul

[2020-05-29 15:24] kkostenko commented on #68405
@NilashishC per your suggestion I back ported a diff to 2.9.6 and a fix worked beautifully
[diff_generated.diff.txt](https://github.com/ansible/ansible/files/4702674/diff_generated.diff.txt)
:
(ansible) KKG-M-3CZ0:phs-ansible kkg$ ansible-playbook -i inventory-otv playbook_facts.yaml --limit ecores104-admin

PLAY [Demonstrate connecting to switches] ************************************************

[2020-05-29 15:30] jimi-c commented on #46971
Hi @torched99, it looks like this is still a valid issue, however we've been working on it under an updated issue here: https://github.com/ansible/ansible/issues/67794

As such, we're going to go ahead and close your issue now. If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-pro

[2020-05-29 15:30] #46971 closed, assigned to nobody

[2020-05-29 15:43] jimi-c commented on #47829
Hi @rishabh-d-dave, the use of the Templar class will expand all variables in a template, but if you're looking for something that expands variables in the entire dictionary of variables we are unfortunately not interested in providing that functionality. It should only take 3 LOC to use the Templar class (create, set variables, call template()) to use.

If you have any further questions, please l

[2020-05-29 15:43] #47829 closed, assigned to nobody

[2020-05-29 15:49] #47939 closed, assigned to nobody

[2020-05-29 15:52] #69238 closed, assigned to nobody

[2020-05-29 15:55] jimi-c commented on #33067
It appears @sivel has a PR for this (https://github.com/ansible/ansible/pull/67823) which will address this once merged. Also as noted, it is a duplicate of an earlier issue. Since there is a work-around using the string filter, we'll go ahead and close this now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups

[2020-05-29 15:55] #33067 closed, assigned to alikins

[2020-05-29 15:59] jimi-c commented on #48399
Hi @ssamdwii, when using the default linear strategy, when failed hosts begin executing the rescue/always portions of blocks the other hosts essentially run a NOOP task instead. If you're running the free strategy, I would expect to see the behavior you're describing. Could you please include an example of your playbook that reproduces this?

[2020-05-29 16:07] poulterer opened #69763 "ansible.cfg variable "playbook_dir" is ignored"
##### SUMMARY

Setting "playbook_dir" in /etc/ansible/ansible.cfg has no effect.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Any "ansible-playbook" commands are affected.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 7.8

##### STEPS TO REPRODUCE

Any command from ansible-playbook that invokes a playbook in named dir.

[code]

##### EXPECTED

[2020-05-29 16:29] jimi-c commented on #69704
No problem, glad it's an easy fix!

[2020-05-29 16:32] jimi-c commented on #18559
@wolfgang42 the bot picked that up from the PR @bcoca linked above.

[2020-05-29 16:36] felixfontein commented on #47636
resolved_by_pr #69288

[2020-05-29 16:53] jimi-c commented on #36978
Based on the above, it appears this has been fixed? @sivel or @mr-fIErcE if you can confirm that we'll go ahead and close this issue as well.

Thanks!

[2020-05-29 16:55] jimi-c commented on #44420
Based on the above discussion, it appears this has been resolved?

[2020-05-29 17:00] lilvyao opened #69765 "Localhost unreachable on Windows Subsystem for Linux (WSL2, Ubuntu)"
##### SUMMARY
Unable to establish connection to localhost under Windows Subsystem for Linux (WSL, Ubuntu)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS:
OS Name:                   Microsoft Windows 10 Pro (Version 1909)
OS Version:                10.0.18363 N/A Build 18363

WSL:
Distributor ID:

[2020-05-29 17:03] abadger commented on #47636
I think we should to be testing `make changelog` works.  that way we're doing an end-to-end test of the command we need to have working on release day.

[2020-05-29 17:33] #61680 closed, assigned to s-hertel

[2020-05-29 17:34] jimi-c commented on #69307
Per triage, we marked it as waiting since it's something we want, but not a P3 priority. If it's fixed, we can close it and open a new PR to backport it to 2.9.

[2020-05-29 17:41] jimi-c commented on #31543
@pmjdebruijn yes, that was a deliberate decision. The rescue/always was designed to work similarly to programming languages like python which do a try/except/finally (I chose rescue from Ruby so as to not conflict with the internal python names, and always seemed to clearly indicate that it was run regardless of whether the block failed or not).

[2020-05-29 17:42] geerlingguy commented on #69307
@jimi-c - This issue is fixed in 2.10 (I can confirm that), but the fact that it's broken in 2.9 means I am blocked with moving any of my roles into collections (or, generally, using any roles in any collections), because doing so will start causing this issue to crop up with the many users who are still on 2.9 (and will be, probably, for a while).

[2020-05-29 17:45] geerlingguy commented on #61680
@thaumos - It looks like it made it on the release train in time for 2.10 after all! 🎉

[2020-05-29 17:54] nitzmahone commented on #69307
I'm still +1 for backport, but I don't have time to do it right now, and I think that's kinda where we're all at right now.

[2020-05-29 18:42] #66617 closed, assigned to nobody

[2020-05-29 19:18] Andersson007 commented on #29139
close_me

[2020-05-29 19:18] Andersson007 commented on #29139
closed via https://github.com/ansible-collections/community.general/pull/422

[2020-05-29 20:02] #29139 closed, assigned to nobody

[2020-05-29 20:09] pruggera commented on #18910
I need to keep the last 1000 lines in a log file, not empty it.  Currently I do this:
[code]
If the file module is updated to remove all data from a file can we also include soething to keep x lines of a file?

[2020-05-29 20:10] abadger commented on #69010
Will be part of https://github.com/ansible/ansible/pull/59761

[2020-05-29 20:21] mr-fIErcE commented on #36978
ansible 2.9.9, **NOT** fixed

[2020-05-29 20:34] #65855 closed, assigned to nobody

[2020-05-29 20:34] #67588 closed, assigned to nobody

[2020-05-29 20:34] #67966 closed, assigned to nobody

[2020-05-30 01:12] glasgow commented on #18910
Personally, I would view this as excessive scope creep that should maybe be in another module.

[2020-05-30 02:35] wedi commented on #36129
@METAJIJI
When you read the warning, you can see that it's passlib which produces the warning. This does not work at all without it.

[2020-05-30 03:27] Akasurde commented on #44420
Yes, we can mark this as closed when https://github.com/ansible/ansible/pull/69152 is merged.

[2020-05-30 11:27] gefela opened #69774 "junos_config: Fails with FileNotFoundError"
First of all , this is my inventory

[code]

This is my playbook ..

[code]

When I run this command , I get the following ..

ansible-playbook -i inventory junos_config_new.yml --check -vvv

I get the following error message  ..

[code]
The file are in the right place ..

[2020-05-30 11:38] gefela commented on #69774
SUMMARY

"FileNotFoundError(2, 'No such file or directory')\",   error
ISSUE TYPE

    bug report

COMPONENT NAME

Network

ANSIBLE VERSION

ansible --version
ansible 2.9.9
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /root/.local/lib/python3.6/site-packages/ans

[2020-05-30 11:45] gefela commented on #69765
COMPONENT
lib/ansible/module_utils/common/network.py  incorrect

[2020-05-30 12:08] gefela commented on #69774
COMPONENT
lib/ansible/module_utils/common/network.py incorrect

[2020-05-30 12:40] macau23 commented on #69738
But @bcoca the parameters are not positional, they are named. The description of what to do is not what is done.

[2020-05-30 13:22] feketegy commented on #24425
If you want to use a vault encrypted variable in the user module, where the module requires the user password to be passed as a hash this is how you do it:

[code]

Basically, the vaulted password will be decrypted, converted to a string and re-hashed using sha512 and that will be passed as the user password for the user module.

[2020-05-30 14:03] Akasurde commented on #69774
@gefela `junos_config` module migrated to [`junos`](https://github.com/ansible-collections/junipernetworks.junos) collection repo. Could you please migrate this issue to this repo? Thanks.

[2020-05-30 14:03] #69774 closed, assigned to nobody

[2020-05-30 16:14] #55833 closed, assigned to nobody

[2020-05-30 16:14] #55828 closed, assigned to nobody

[2020-05-30 16:20] piwinkler opened #69777 "debug output issue"
##### SUMMARY

Debug module output with a loop differs when executed via playbook or adhoc.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Effected is only the debug module output, the different data structure (as explained in additional information part) doesn't cause problems with other modules.
Adhoc execution seems to be the problem.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2020-05-30 17:02] GhostLyrics opened #69778 "Gitlab_runner is broken with GitLab.com (gitlab v13+)"
##### SUMMARY

When registering a third party runner for the official gitlab.com site, you will have a user-token, never an admin token. It is not possible to do so using Ansible 2.9.3+ due to:
-  https://github.com/ansible/ansible/issues/67159
- https://github.com/ansible/ansible/issues/68224

However, since GitLab upgraded the official site to 13, containing [breaking changes](https://about.gitl

[2020-05-30 17:13] xordspar0 commented on #66909
I'm seeing this too, but I'm on NetBSD and I'm not creating a zone. Simply, the first time I try to install a package with pkgin it fails with the same error you mentioned, but the second time it succeeds.

[2020-05-30 21:29] devcon6 opened #69780 "Pass input data collected from Job Template Survey to dynamic inventory script source"
##### SUMMARY

I'm trying to build dynamically an inventory in Tower by collecting data from a CMDB via a python script.
Unfortunately, there isn't an optimal approach to pass parameters to the script besides:

- Configuration File (hosted alongside the script in Gitlab)
- Environment variables (manually specifying them in the inventory source level)

Both work, however, what if we want to call th

[2020-05-30 21:58] sandzhaj commented on #42090
@ptMcGit

What content should be if this statement?

`
if (not os.path.exists(b_fullpath) and os.path.lexists(b_fullpath)):
    ...
elif not filecmp.cmp(b_fullpath, b_dest):
    ...
`

[2020-05-31 06:58] #28061 closed, assigned to maxamillion

[2020-05-31 09:08] grumbler commented on #55152
I've just encountered the same issue with 2.9 and had to apply the change from @SchizoDuckie in order to find the problem.

IMO it's a regression.

[2020-05-31 11:02] felixfontein opened #69781 "Callback plugin redirection does not work"
##### SUMMARY
`callback_whitelist = profile_tasks` in ansible.cfg does not activate `ansible.posix.profile_tasks`.

This breaks 2.9 compatibility.

CC @nitzmahone (as discussed on IRC)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
collection redirection

##### ANSIBLE VERSION
devel

[2020-05-31 13:14] carnil opened #69782 "CVE-2020-10744: incomplete fix for CVE-2020-1733"
I'm not sure if it appropriate to raise this as issue (at least according to the guidelines maybe it should be rather on mailing list or IRC?)

In https://bugzilla.redhat.com/show_bug.cgi?id=1835566 there is CVE-2020-10744 assigned for an incomplete fix for CVE-2020-1733.

I asked if it was already reported upstream, but I have not found if this is the case, so this only serves as possible heads-u

[2020-05-31 19:26] #66651 closed, assigned to nobody

[2020-05-31 20:07] murad-mirzabalaev commented on #66432
I reproduced this issue on a fresh FreeBSD 11.3 installation

[2020-05-31 21:01] scrool opened #69783 "Copy module with src trailing slash does not preserve mode of files on first level"
##### SUMMARY
If I use copy module with `mode: preserve` and `remote_src: yes` and `src` has trailing slash (`/`), mode of files on first level directory hierarchy are not preserved.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/modules/files/copy.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
Creates direc

[2020-05-31 21:40] PrymalInstynct opened #69784 "vmware_guest: customvalues not applied to pre-existing VM"
##### SUMMARY

I am attempting to apply custom values (Advanced Options -> Configuration Parameters) using the vmware_guest module to an VM that already exists. The VM will power off per playbook task but the customvalues are not applied.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.

[2020-05-31 22:07] vMarkusK opened #69785 "VMware: vmware_host_ntp module does not override"
##### SUMMARY

In PR #47273 a change was done to override the NTP servers by default. But this does not work in my case

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_host_ntp module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The two specified ntp server should be added and all existin

[2020-05-31 22:12] mycloudrevolution commented on #69785
I was digging into the code to find the issue and figured out that NO state enforces the given list of servers.

Documentation is not clear about that.

[2020-05-31 22:12] #69785 closed, assigned to nobody

[2020-06-01 00:22] net239 commented on #48839
is this bug fixed in ansible 2.9.9? I am still running into the issue

[2020-06-01 00:59] amravazzi commented on #67997
+1

[2020-06-01 04:11] basictheprogram commented on #69736
[code]
Same problem
[code]

[2020-06-01 04:15] basictheprogram commented on #69736
[code]
Same problem
[code]

[2020-06-01 04:30] jborean93 commented on #69736
Yep so that tells us that the problem wasn't introduced by a new change in the module but a change in the environment. We still need to fix it but it at least tells us we don't need to revert anything we've recently added.

[2020-06-01 05:11] Akasurde commented on #69784
Issue migrated to https://github.com/ansible-collections/vmware/issues/215

[2020-06-01 05:11] #69784 closed, assigned to nobody

[2020-06-01 06:05] basictheprogram commented on #69736
My gut tells me the firmware was the culprit. Thanks for the clarification it's not Ansible.

[2020-06-01 06:27] ganeshrn opened #69788 "Module redirection fails within collection for command if shell module is used in role within collection"
##### SUMMARY

The test case https://github.com/ansible-collections/cisco.ios/blob/master/tests/integration/targets/ios_user/tests/cli/auth.yaml#L63 with task
[code]
fails with error
[code]
There is a short name redirection within the collection from `command` and `ios_command`
https://github.com/ansible-collections/cisco.ios/blob/c6aa603a701ab7d31b71e0b3dd4b08cffc738376/meta/runtime.yml#L134

[co

[2020-06-01 07:40] lemmy04 opened #69793 "Timeout (12s) waiting for privilege escalation prompt"
##### SUMMARY
The problem described in #14426 still exists

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION
Ansible 2.9.7, AWX 11.2.0

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

The problem can't be reproduced reliably as it seems to depend on the target system's load.

##### EXPECTED RESULTS
I would expect issue #14426 to be OPEN and not marked as closed an

[2020-06-01 08:04] WeslyG opened #69794 "Do I really need two files with dependencies?"
##### SUMMARY
I develop my role and specify `meta/main` dependencies in it that must be completed before my role. Also in my role, I have optional dependencies that can be met in one of the conditions, and I am asked to specify these roles in the `reqs.yml` file. This baffles me, since I am used to having a single file with dependencies. For example, in Node.js I have a `package.json` with all the

[2020-06-01 08:43] #69320 closed, assigned to relrod, abadger

[2020-06-01 09:21] #65409 closed, assigned to nobody

[2020-06-01 10:47] vbotka opened #69799 "Modified "vars:" not visible inside include_role."
IMHO. Not included in https://github.com/ansible/ansible/projects/19

tested with ansible 2.9.6

##### SUMMARY

A modification of a variable declared in "vars" is not visible inside the included role.
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux host9 5.4.0-31-generic #35-Ubuntu S

[2020-06-01 10:54] vbotka commented on #69799
Edit on GitHub fails: 404
https://docs.ansible.com/ansible/latest/modules/include_role_module.html

[2020-06-01 11:14] Akasurde commented on #69799
@vbotka "Edit on GitHub fail" is known and reported here - https://github.com/ansible/ansible/issues/69683#issuecomment-633396236

[2020-06-01 11:16] #64042 closed, assigned to nobody

[2020-06-01 11:26] #63876 closed, assigned to nobody

[2020-06-01 11:31] NilashishC commented on #68405
@kkostenko Thanks for confirming. We will now merge the PR and backport it to 2.9.

[2020-06-01 12:57] ltachev commented on #56600
[code]

[2020-06-01 13:18] #68405 closed, assigned to NilashishC

[2020-06-01 13:27] #67292 closed, assigned to Qalthos

[2020-06-01 13:43] KostLinux opened #69802 "Playbook copy module fatal: [xrd-ss-opmon.itarchive.home]: FAILED! => {"msg": "Failed to get information on remote file (/etc/xroad/ssl/internal.crt/internal.crt/xrd-ss-opmon.itarchive.home/etc/xroad/ssl/internal.crt): Not a directory"}"
done in another way

[2020-06-01 14:10] ltachev commented on #56600
I experienced similar thing to what the OP describes, like if I have few steps each updating a single param of the VM, like cores, sockets and memory for example, it is likely that only the last one or two would apply. But if I execute all the updates as a single step, they all would be applied. I think this might happen due to the fact that when much api calls happen too soon after each other, th

[2020-06-01 14:11] jimi-c commented on #36978
@mr-fIErcE what about devel? If you can confirm it's fixed there we can identify a patch to backport.

[2020-06-01 14:22] #69802 closed, assigned to nobody

[2020-06-01 14:34] Shrews commented on #69744
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-06-01 14:34] #69744 closed, assigned to nobody

[2020-06-01 14:35] Shrews commented on #69778
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-06-01 14:35] #69778 closed, assigned to nobody

[2020-06-01 14:38] Shrews commented on #69729
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-06-01 14:38] #69729 closed, assigned to nobody

[2020-06-01 14:39] Shrews commented on #69728
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-06-01 14:39] #69728 closed, assigned to nobody

[2020-06-01 14:41] jimi-c commented on #18305
This may not be super helpful, but 2.10 will introduce a task timeout feature which may help in the case where this may pop up with troublesome commands.

[2020-06-01 14:50] jpopelka opened #69803 "ansible-playbook hangs with k8s module"
### SUMMARY
Any playbook with k8s module makes ansible-playbook hang because it's waiting for some process.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION
[code]
I can see this with older 2.9.x versions too.

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 32 / kernel-5.6.14-300.fc32.x86_64

I started seeing this after upgrade from F31 to F32. I didn't se

[2020-06-01 15:10] jimi-c commented on #22691
Thank you very much for your interest in Ansible.

We're sorry for the inconvenience, however this module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws. Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * https://groups.google.com/forum/#!forum/an

[2020-06-01 15:10] #22691 closed, assigned to nobody

[2020-06-01 15:17] jimi-c commented on #29975
Thank you very much for your interest in Ansible.

This module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws. Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, a

[2020-06-01 15:17] #29975 closed, assigned to nobody

[2020-06-01 15:31] sivel commented on #69758
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2020-06-01 15:31] #69758 closed, assigned to nobody

[2020-06-01 15:47] jean-christophe-manciot opened #69807 "vars_prompt should be usable in an included task"
##### SUMMARY
Using ```vars_prompt``` as a task would allow us to use it in an included task.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vars_prompt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
```playbook.yml```
[code]
```vars_prompt_tasks.yml```
[code]
##### EXPECTED RESULTS
Successful prompts

##### ACTUAL RESULTS

[2020-06-01 16:09] nitzmahone commented on #69788
See further discussion at https://github.com/ansible/ansible/pull/69790#issuecomment-636950623 - assuming we want to preserve the ability for local (non-collections) overrides on these kinds of things, we need to ensure that the resolution doesn't use the collections search path...

[2020-06-01 16:22] evagonz commented on #51772
I'm running into the same error on Ansible 2.9.9 on MacOS with Python3. I bet the fix is similar to https://github.com/ansible/ansible/pull/56220.

[2020-06-01 16:31] jimi-c commented on #51772
Thank you very much for your interest in Ansible.

Sorry for the inconvenience, but this module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws. Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * https://groups.google.com/forum/#!forum/ansible-proj

[2020-06-01 16:31] #51772 closed, assigned to nobody

[2020-06-01 16:38] #59512 closed, assigned to Qalthos

[2020-06-01 16:53] jfcgaspar commented on #59512
!needs_info

[2020-06-01 16:57] DaveWK opened #69809 "Please add "creates" to the archive module"
##### SUMMARY
I have a process which generates a list of files locally to be archived. Each host may or may not have the same files. In order to prevent a lot of archives being generated that have the same files in them, I took a sha of the list of files and added it to the filename. It appears archive is still remaking the file every time. I could see this being useful if you cared about the cont

[2020-06-01 17:02] mkrizek commented on #69809
Duplicate of https://github.com/ansible/ansible/issues/48780

[2020-06-01 17:02] #69809 closed, assigned to nobody

[2020-06-01 17:15] sandeep444033 opened #69810 "Conditional and wild card usage"
##### SUMMARY

Conditional and wild card usage

##### ISSUE TYPE
- Feature Idea
Conditional and wild card usage

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

Is there any way I can use the wild cards or regex in when statements,

when: ansible_distribution_major_version|int == 6 or ansible_fqdn == "test[0-1][0-9].example.com"

Like here I want only respective action to be taken on my hosts

[2020-06-01 18:00] bcoca commented on #69799
for full fix #69040

[2020-06-01 18:02] sivel commented on #36978
It has not been fixed. My PR that attempted to fix this, cannot work now, due to fundamental changes in the underlying code.  In fact, I'm not sure it's feasible to fix without extensive changes. See https://github.com/ansible/ansible/pull/37025#issuecomment-432713453

[2020-06-01 18:05] sivel commented on #68400
@hungluong5791 We purposefully mask return values to hide no log values.  Because you have chosen a password that also appears in the output, the values are masked.  You pointed out a security flaw in our code, and as such, we addressed it.

Consider changing your password to some value that is not included in the return values from the API.

[2020-06-01 18:09] imjoseangel commented on #69763
Dear @poulterer Thanks for reporting.

This issue should be closed as the functionality you refer to is properly documented:

From: https://docs.ansible.com/ansible/latest/reference_appendices/special_variables.html

**playbook_dir**
The path to the directory of the playbook that was passed to the `ansible-playbook` command line.

So your example is working fine:

[code]

And:

https://docs.ansibl

[2020-06-01 18:18] sivel commented on #69582
I am super confused about what your goal actually is.  The tasks in `lvm.yml` are more easily achieved by other means.

Typically speaking, you should not use `register` on a `set_fact` task, as that is meaningless.  And your task name is `create tmp array` but you are not creating an array, you are creating a dictionary, that has 3 keys, that do not contain the fact you are trying to access.  Tha

[2020-06-01 18:18] #69582 closed, assigned to nobody

[2020-06-01 18:21] sivel commented on #42666
This module now exists in https://github.com/ansible-collections/vmware

We are not migrating issues, and the community team, for whatever reason, doesn't want to close these issues yet, which would indicate where users should resubmit issues to.  As such, they are just sitting here.

[2020-06-01 18:28] poulterer commented on #69763
So, can the playbook_dir location be set globally? If not, where is the default location documented?

[2020-06-01 18:30] sivel commented on #69763
There is no default location.  The `--playbook-dir` CLI option is designed for tools that do not accept a playbook.  As such, you must explicitly provide this option, it is not a globally configurable value.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-01 18:30] #69763 closed, assigned to nobody

[2020-06-01 18:32] poulterer commented on #69763
I don't care about the CLI option. What does the setting "playbook_dir" do in /etc/ansible/ansible.cfg?

[2020-06-01 18:35] sivel commented on #69763
https://docs.ansible.com/ansible/latest/reference_appendices/config.html#playbook-dir

[2020-06-01 19:05] sivel commented on #69807
`vars_prompt` has always been a `play` level only keyword. It has never worked as a task. To get this functionality in a task requires the use of the `pause` module, although `pause` does not implement all of the features of `vars_prompt`.

[2020-06-01 19:08] amaslows commented on #68915
I'm also confused on this point.  I would like to install a collection (the new oracle oci ansible collections - https://github.com/oracle/oci-ansible-collection) which has some modules that have breaking changes.  Because of this I do not want the collection installed in a default location (as it is a shared env and that could break someone else's plays until we do more testing on the new collect

[2020-06-01 19:23] SyedK1987 commented on #69582
i was hoping i would get some help, but i did not think that it will be closed not even showing me the direction. all i am trying here is using looping and include task to add incremental value to the list/array. 45 days before same method was working fine but this issue happened very recently after upgrading to new version. Can someone help how can we fix this?

[2020-06-01 19:27] jimi-c commented on #69582
@SyedK1987 we're available for questions via IRC or our mailing lists (included in @sivel's message above). We reserve Github issues for bugs and feature requests, but not general troubleshooting.

Thanks!

[2020-06-01 19:49] AlanCoding opened #69813 "Galaxy commands identify collection namespace.name incorrectly"
##### SUMMARY
The `ansible-galaxy collection *` commands will recognize a collection `namespace.name` from its `galaxy.yml` or `galaxy.yaml` file.

This is a problem, because that's not how `ansible-playbook` recognizes a collection.

Things conflict, and user has a bad day. Specific case: an installed collection has the `namespace.name` of a different collection. Now, it becomes impossible to ins

[2020-06-01 19:55] sivel commented on #69813
Hrm, I feel like the output from `list` is correct.  But it is potentially lacking more context.

We don't have a way to discern the installed collections name.  I mean you could easily rename a directory after it's installed, and that doesn't fundamentally change the installed collection, it's just in a differently named directory.

And the more I am talking through it, the more it seems like it'

[2020-06-01 20:06] AlanCoding commented on #69813
Yes, it does change it fundamentally.

The path where the collection lies is fundamental to its operation. This is why `ansible-test` is so infuriatingly picky. This is why @nitzmahone was so specific about _not looping over all collections_ as a design objective. Ansible must count on folder names for identification.

This also avoids the hairy issue in this issue where `awx.awx` is installed twi

[2020-06-01 20:11] samccann opened #69814 "Update the documentation requirements file"
##### SUMMARY

Some things missing:

- [x] assumes make is already installed (which may not be true for new contributors)

- [x] need to fix the sphinx version to 2.1.2

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com

[2020-06-01 20:14] sivel commented on #69813
Changing the directory name doesn't fundamentally change the collection, it just makes that same collection accessible via another path. Should someone which to make it a different collection, the `galaxy.yml` should also be updated.  This is necessary to make sure we can do `ansible-galaxy collection verify` against the correct collection.  The data within the `galaxy.yml` file is linked to the m

[2020-06-01 20:22] samccann commented on #69814
Sayee will be taking this issue as her first practice PR so please hold this for her since I can't assign it directly :-)

[2020-06-01 21:13] mwtzzz commented on #18305
This should help in the case where the .bashrc/.bash_profile/.login has a `sudo` in it.

[2020-06-01 21:28] mrj1m0thy commented on #41977
Any updates on this feature? Would love to see this implemented for things like the fetch module.

[2020-06-01 21:42] ilukinov commented on #69765
having exact same issue, expecting it to run locally without any ssh connection but getting this error

[2020-06-01 22:06] jborean93 commented on #69765
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * Ansible just calls `ssh` for ssh connections so you can run with `-vvv` to see the exact calls that are happening. From there you can run it manually to see wh

[2020-06-01 22:06] #69765 closed, assigned to nobody

[2020-06-01 22:25] #53749 closed, assigned to nobody

[2020-06-01 23:20] nitzmahone commented on #69813
It's a floor wax AND a dessert topping! You're both right.

I haven't given this particular issue a ton of thought, but off the top of my head, it seems that if the metadata in galaxy.yml doesn't match the collection dir names on disk, it's wrong (and should be at least a failed verify, if not a "this is nonsensical" fatal error. As far as the Ansible runtime is concerned, we're going to see, load

[2020-06-01 23:46] pabelanger commented on #65816
I can't figure it out, but also seeing this both on devel and latest 2.9.

http://paste.openstack.org/show/794220/ is pip freeze on devel, this is being run under python3.6 on centos-8

[2020-06-02 02:20] epicanthal opened #69820 "ios_facts l3_interfaces utils.py normalize_interface returning incorrect or no interface name"
##### SUMMARY

When gathering ios_facts l3_interfaces:
1.  the wrong interface name is returned if the interface 'description' contains the word 'interface' followed by a space then any word that begins with the two letters that indicate an abbreviated interface type.
2. no ipv4 information is returned if the the interface 'description' contains the word 'interface' followed by a space then any wo

[2020-06-02 02:36] bcoca commented on #69813
also .. its `MANIFEST.json` in the case of installed collections, `galaxy.yml` is removed on build .. though both basically have the same info .. we should handle both for the 'installed' vs 'in development' cases.

[2020-06-02 02:42] bcoca commented on #18305
Or any other case that causes an indefinite/long process,  the problem is that there are too many reasons this can happen and many of them are not discoverable, much less solvable, remotely from the controller.

The new `timeout` keyword will help mitigate this issue, though it is not a fix, it at least gives users the option to continue the rest of the play if needed and abandon the execution aft

[2020-06-02 03:19] whowutwut opened #69821 "ansible-playbook cannot find module support code and fail in try/except block when collections is not installed"
##### SUMMARY

When a collections is **NOT** installed on the machine, import of a module_utils inside a
 `try/except` block causes ansible-playbook failure with:

[code]

I _think_ that there's actually something else wrong, where it's maybe not throwing the ImportError? I'm not sure...

What I want to do is run the modules directly from a clone of a repo that contains roles/playbooks/plugins, as

[2020-06-02 03:26] Akasurde commented on #69810
Hi @sandeep444033 !

You can use all jinja filters in `when` conditionals, so use [`regex_search`](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#regular-expression-filters) filter for your regex.

Like -

[code]

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of thi

[2020-06-02 03:26] #69810 closed, assigned to Akasurde

[2020-06-02 05:38] #43704 closed, assigned to nobody

[2020-06-02 06:16] zeroone-shreeram opened #69823 "gcp_dns_ resource_record_set invalid value for parameter name"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_dns_ resource_record_set

##### ANSIBLE VERSION
tried with older versions as well got the same issue i.e 2.8 2.7

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### EXPECTED RESULTS
DNS CNAME record created

##### ACTUAL RESULTS

[code]

[2020-06-02 06:18] Andersson007 commented on #63955
can be closed via https://github.com/ansible-collections/community.general/pull/428

[2020-06-02 06:30] Akasurde commented on #63955
resolved_by_pr #https://github.com/ansible-collections/community.general/pull/428

Marking it as resolved. Thanks @Andersson007

[2020-06-02 06:30] #63955 closed, assigned to nobody

[2020-06-02 06:31] Andersson007 commented on #63955
@Akasurde thanks for marking and closing!

[2020-06-02 06:37] mkrizek commented on #69823
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible_collections_google.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com

[2020-06-02 06:37] #69823 closed, assigned to nobody

[2020-06-02 07:06] flexray opened #69824 "azure_rm_dnsrecordset_info unable to get CNAME "@" record alias for FrontDoor"
##### SUMMARY
In a fresh DNS zone, created @ record as an Alias to Azure Frontdoor for root domain
azure_rm_dnsrecordset_info is not able to get "@" record alias and crashes.
After deleting the affected record, azure_rm_dnsrecordset_info works fine

I suppose also azure_rm_dnsrecordset will not be able to re-create such DNS Record, so maybe there is also a place for a fix there.

`File \"/tmp/ansi

[2020-06-02 07:35] madhavs2k5 opened #69825 "unable to ping host nodes from jenkins."
Hi I am able to ping to my host nodes from control node through putty.
But, if i try to do the same from jenkins then i am facing the below issue..
can you please help me in resolving it.

172.31.15.11 | UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: Permission denied (publickey,gssapi-keyex,gssapi-with-mic).",
    "unreachable": true
}
<172.31.43.19> (2

[2020-06-02 07:52] gundalow commented on #59558
bot_status

[2020-06-02 07:54] gundalow commented on #65817
@jchristi Thank you for this, would you be interested in adding this to `community.aws` https://github.com/ansible-collections/community.aws?

[2020-06-02 07:56] gundalow commented on #67473
@Fred-sun Could you create the issue in the new repo please, then do a `close_me` in this one?

[2020-06-02 08:28] counter2015 opened #69826 "The list is not rendered properly in online doc"
##### SUMMARY

https://docs.ansible.com/ansible/latest/user_guide/intro_getting_started.html#id1

![](https://user-images.githubusercontent.com/13608862/83497579-3e70b680-a4ed-11ea-8035-d97cb1eb29ec.png)

However, in github, the list is renderd rightly.

![2](https://user-images.githubusercontent.com/13608862/83497860-af17d300-a4ed-11ea-8e8f-4b3f89a8aba5.png)

I just tested the page on my cell pho

[2020-06-02 09:07] KostLinux opened #69827 "How can i get ip addresses of group hostnames"
I can't find anywhere, how can i get ip addresses of hosts in specific group
[code]
This playbook prints
` host     'op-monitor'     opmonitor     node1.itarchive.home/24     md5`
to pg_hba.conf
I need, that node1.itarchive.home will be in IP
Something like that:
`host     'op-monitor'     opmonitor     192.168.0.95/24     md5'

[2020-06-02 09:09] KostLinux commented on #69827
`host 'op-monitor' opmonitor 192.168.0.95/24 md5'`

[2020-06-02 09:33] mkrizek commented on #69827
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-06-02 09:33] #69827 closed, assigned to nobody

[2020-06-02 09:45] dssdss opened #69828 "ansible_winrm_transport credssp connection error on localized Windows Server 2012R2 (for example - Finnish, Russian)"
##### SUMMARY

Ansible can't connect to windows using ansible_winrm_transport credssp using default localized administrator name: Järjestelmänvalvoja, Администратор

In localized windows versions used "localized" "Administrator" Account Name, for example:
 https://social.technet.microsoft.com/wiki/contents/articles/13813.localized-names-for-administrator-account-in-windows.aspx
Language	Translatio

[2020-06-02 09:49] #69826 closed, assigned to nobody

[2020-06-02 10:09] jborean93 commented on #69828
Curious, if you set `ansible_winrm_transport: ntlm` do you see the same issue? This will help track down whether the problem is with the requests-credssp library or ntlm-auth.

[2020-06-02 10:29] jbaresfe opened #69829 "Unable to parse multiple dynamic inventories with vault variables and hash_behaviour merge enabled"
##### SUMMARY
Unable to parse inventory when multiple inventories are provided and hash_behaviour is set to merge. It was defined an Ansible vault variable duplicated in two inventories, during the merge process the following Warning was found and in consequence the second inventory was not processed properly.
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible vault, dynamic invent

[2020-06-02 10:49] OrZehavi commented on #69497
Hi, are there any updates on this issue?

[2020-06-02 11:12] callumjelliott opened #69830 "Talend module"
##### SUMMARY
Talend (ESB and Batch integration tool - ESB and Batch integration tool - https://www.talend.com/products/talend-open-studio/) integration with Ansible via a specific module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Talend TAC integration

##### ADDITIONAL INFORMATION
Talend has a administration API called MetaServlet (https://help.talend.com/reader/wt3LuroKJjOAVRRWmlnFs

[2020-06-02 11:16] ChristianCiach commented on #64935
The one thing that always bugs me the most when using Ansible is the fact that Ansible fails to report errors when doing something that is not supported. Over the years, Ansible could have saved us a lot of headaches if it would just fail early if the playbook contains unsupported constructs.

[2020-06-02 11:17] IvanBayan opened #69831 "vmware_guest creates VM on wrong esxi"
##### SUMMARY

**vmware_guest** ignores **esxi_hostname** and places VM on other esxis in cluster.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vSphere Client version 6.7.0.40000

##### STEPS TO REPRODUCE

Inventory entry:
[code]
Task:

[code]

##### EXPECTED RESULTS

VM should be created on es

[2020-06-02 11:39] nlamirault commented on #58679
Any news ?

[2020-06-02 12:03] infrascripting commented on #18305
I agree. This should help out tremendously. Thanks for the persistence with this issue!

[2020-06-02 13:11] #69516 closed, assigned to nobody

[2020-06-02 13:12] Akasurde commented on #69831
Issue migrated to https://github.com/ansible-collections/vmware/issues/216

[2020-06-02 13:12] #69831 closed, assigned to nobody

[2020-06-02 13:32] hungluong5791 commented on #68400
@sivel Thank you for getting back. Yes I understand the behaviour and I think I understand where it is coming from. But please consider the following points:

- First, my specific use case:
    - we are provisioning an off-the-shelf system and having to create users & groups in that system through the API.
    - The default credentials is `admin`/`admin` (which cannot be changed, only disabled)

[2020-06-02 13:39] jean-christophe-manciot commented on #69807
Then I change this issue type as 'Feature Idea'.

[2020-06-02 13:54] dssdss commented on #69828
~/ansible/host_vars/t3.comita.lan:
`---
ansible_user: Администратор
#ansible_user: 'Järjestelmänvalvoja'
ansible_password: ChangePassw0rd2

ansible_winrm_transport: ntlm

ansible_port: '5985'
ansible_connection: 'winrm'

ansible_winrm_server_cert_validation: ignore
validate_certs: false

...`

`dss@wmgm:~/anstest$ ansible t3.comita.lan -m win_ping -vvvv
ansible 2.9.9
  config file = /home/dss/anst

[2020-06-02 14:21] AlanCoding commented on #69813
In my steps above, the collection at the `alancoding/awx` path is the "bad" collection. To echo what was said above:

If there's a valid use case that approximates what I did, then it's to change `awx.awx` to `alancoding.awx` in the metadata of the "bad" collection (then it would become a "good" collection). Agreed.

My focus is that the "bad" collection messes with (blocks) actions relating to "g

[2020-06-02 14:23] shrinaththube opened #69834 "Adding ssh client not found debug message"
##### SUMMARY
If you don't have an ssh client installed in container image or on your system, ansible just throws following error -  `The error was: FileNotFoundError: [Errno 2] No such file or directory: b'ssh': b'ssh'` error.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Run playbook on the system where ssh client is not in

[2020-06-02 14:25] whowutwut commented on #69821
Some more data here, kind of interesting...   If we take ansible_collections out of the imports statement completely...

[code]

This works running: `python -m` ....
[code]

and under `ansible-playbook`....
[code]

And changing nothing but adding `from ansible_collections` at the end of the try/except...

[code]

We hit the above error....
[code]

Copying collections dir to `~/.ansible/`  ..   `cp

[2020-06-02 14:36] bcoca commented on #69813
I would actually add a check to confirm 'metadata' and 'disk data' match and give warning/error in the cases they don't.

Be aware that ansilbe-playbook/ansible do NOT read the metadata at all currently so it is not required for execution. ansible-galaxy and ansilbe-doc DO read the metadata but we don't use it extensively (yet).

[2020-06-02 14:52] kuwv opened #69836 "Type conversion error in k8s lookup plugin on Python3"
##### SUMMARY

Doing a `cluster_info` with the k8s lookup plugin returns TypeError using Python3.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s lookup https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/lookup/k8s.py

##### ANSIBLE VERSION

[code]
Tested with Python versions: 2.7.16 and 3.7.7
Tested with Ansible versions: 2.8, and 2.7.
Tested with openshift

[2020-06-02 14:54] kuwv commented on #69836
Moved here on request:
https://github.com/ansible-collections/community.kubernetes/issues/111#issuecomment-636969342
https://github.com/ansible-collections/community.kubernetes/issues/111#issuecomment-636970438

[2020-06-02 14:59] sivel commented on #69836
I believe this is an issue with the lookup.  I talked to @Akasurde yesterday about why we don't automatically convert `set` to `list` for JSON encoding. That is typically a controversial topic, because a set has special meaning, that is lost in JSON encoding.  So it requires making some assumptions.

Because the JSON encoder we use here is general purpose, my belief is that it should be up to the

[2020-06-02 14:59] Akasurde commented on #69836
Reproducer - https://github.com/Akasurde/ansible-reproducers/tree/master/111

[2020-06-02 15:05] lilvyao commented on #69765
(Re-posting the solutions I shared in the Google Groups. Hope this helps whoever encountered the same problem)

Thanks For pointing the direction Jordan!

I was able to solve the problem by installing libc6_2.31 on my WSL Ubuntu. The steps are as following:
Download libc6_2.31-0ubuntu9_amd64.deb.zip
mv libc6_2.31-0ubuntu9_amd64.deb.zip libc6_2.31-0ubuntu9_amd64.deb
sudo dpkg -i libc6_2.31-0ubuntu9

[2020-06-02 15:05] termlen0 commented on #69267
+1

[2020-06-02 15:07] #69752 closed, assigned to Akasurde

[2020-06-02 15:09] samdoran commented on #69759
The example playbook looks like it is missing an ending quote. The stack trace is reporting a JSON error, so maybe there is a syntax error in the playbook? Is this just a bug in the example or could that be the actual issue you are seeing?

[code]

needs_info

[2020-06-02 15:12] TheLastProject commented on #69759
That was indeed a typo in the example caused by me replacing the personally identifiable information

[2020-06-02 15:18] samdoran commented on #69777
Separate standard out callback plugins are used when running ad-hoc commands and `ansible-playbook`. Additionally, the default callback plugin does some special formatting for output from the `debug` module. What you are seeing is the intended behavior.

See the [callback plugins](https://docs.ansible.com/ansible/latest/plugins/callback.html#setting-a-callback-plugin-for-ad-hoc-commands) documenta

[2020-06-02 15:18] #69777 closed, assigned to nobody

[2020-06-02 15:19] sivel commented on #69794
Ansible 2.10 will contain a new `meta/requirements.yml` that can define all dependencies, or be used in conjunction with dependencies in `meta/main.yml`

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-02 15:19] #69794 closed, assigned to nobody

[2020-06-02 15:19] jimi-c commented on #69820
Thank you very much for your interest in Ansible.

We're sorry for the inconvenience, however this module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios. Please re-submit this issue there so it can be properly reviewed.

If you have further questions please stop by IRC or the mailing list:

   * https://groups.google.com/forum/#

[2020-06-02 15:19] #69820 closed, assigned to nobody

[2020-06-02 15:22] samdoran commented on #69780
This feature requests needs to be opened in the [AWX](https://github.com/ansible/awx) repository.

As a side note, using an inventory plugin rather than a script would provide more options for passing input.

[2020-06-02 15:22] #69780 closed, assigned to nobody

[2020-06-02 15:27] samdoran commented on #69782
Closing since we are already tracking this internally. In the future, please report security issues to secalert@redhat.com.

[2020-06-02 15:27] #69782 closed, assigned to nobody

[2020-06-02 15:32] mrwalters1988 opened #69837 "azure_rm_subnet module generating error when using the service_endpoints parameter"
##### SUMMARY
Running this as a basic test using this parameter results in the error below.

`TypeError: string indices must be integers`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_subnet module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Distributor ID: Ubuntu
Description:    Ubuntu 18.04.4 LTS
Release:        18.04
Codename:       bion

[2020-06-02 15:37] sivel commented on #69837
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2020-06-02 15:37] #69837 closed, assigned to nobody

[2020-06-02 15:40] samdoran commented on #69793
Closing as duplicate of #14426.

The causes of a connection timeout can be _many_ things, as demonstrated in the related issue. Most if not all of those problems are external to Ansible.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-02 15:40] #69793 closed, assigned to nobody

[2020-06-02 15:44] abenokraitis commented on #68594
CLOSING this issue as the content is no longer going in the Developer Guide and instead in a Knowledgebase Article (meant for downstream).

[2020-06-02 15:44] #68594 closed, assigned to samccann

[2020-06-02 15:45] dalisoft opened #69838 "include_vars does not work"
##### SUMMARY
`include_vars` does not work as excepted.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- include_vars
- tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

No result :(

##### OS / ENVIRONMENT
Ubuntu 20.04

##### STEPS TO REPRODUCE

1. Go to [here](https://github.com/dalisoft/config/blob/feat/apt-working/ansible/vars/brew.yml#L23-L25) or clone repo and select b

[2020-06-02 15:51] sivel commented on #69838
You are explicitly using the `name` argument on the `include_vars` tasks, which will set the contents of the file to that top level variable name.

As such, this task:

[code]

Results in a new variable named: `homebrew/common`, that contains the vars from within `common/brew.yml`.  Because of the `/` it makes accessing that var complicated.

[code]

If you have further questions please stop by IR

[2020-06-02 15:51] #69838 closed, assigned to nobody

[2020-06-02 15:54] #69824 closed, assigned to nobody

[2020-06-02 15:55] sivel commented on #69830
Hi!

Thank you very much for your submission to Ansible. It sincerely means a lot to us that you've taken the time to contribute.

Per recent announcements at AnsibleFest Atlanta 2019, going forward we are no longer accepting new modules or plugins in this repository.

However, we recommend looking into providing this functionality through Ansible Galaxy via Ansible Collections. You can find more

[2020-06-02 15:55] #69830 closed, assigned to nobody

[2020-06-02 15:57] dalisoft commented on #69838
@sivel Thanks a lot. I tried many ways, but didn't knew about it

[2020-06-02 15:57] sivel commented on #69829
`hash_behaviour` has been deprecated, and as such, we are no longer addressing any issues related to it's use.

In the future, the behavior you are looking for will not work at all, as such, you should not rely on automatic merging of data, and instead you will need to explicitly merge using the `combine` filter, or to not merge/combine data at all.

If you have further questions please stop by IR

[2020-06-02 15:57] #69829 closed, assigned to nobody

[2020-06-02 15:58] sivel commented on #69825
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-06-02 15:58] #69825 closed, assigned to nobody

[2020-06-02 16:00] sivel commented on #69821
The ansiballz contruction code does not support try/except blocks around module_utils imports, nor are there plans to support this.  As such, you cannot write a module that will work with both collections and without.  You will need to maintain 2 copies of the module.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: h

[2020-06-02 16:00] #69821 closed, assigned to nobody

[2020-06-02 16:01] jimi-c commented on #59558
Hi @cpmills1975, if you're still working on this any future submissions should be sent to https://github.com/ansible-collections or self published via Ansible Galaxy. If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://grou

[2020-06-02 16:01] #59558 closed, assigned to nobody

[2020-06-02 16:09] sivel commented on #69803
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.kubernetes

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/

[2020-06-02 16:09] #69803 closed, assigned to nobody

[2020-06-02 16:10] gundalow commented on #69782
@carnil As @samdoran said, via email.
Is there somewhere we indicate that GitHub, maillist or IRC should be used?

[2020-06-02 16:13] sivel commented on #69743
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-02 16:13] #69743 closed, assigned to nobody

[2020-06-02 16:14] kuwv commented on #69836
@sivel @Akasurde Should we continue here or in the Kubernetes community?

[2020-06-02 16:15] whowutwut commented on #69821
Thank you for the confirmation!

[2020-06-02 16:21] sivel commented on #69750
Closing per above.

[2020-06-02 16:21] #69750 closed, assigned to nobody

[2020-06-02 16:26] samdoran commented on #69782
We reference this in our [project security policy](https://github.com/ansible/ansible/security/policy).

[2020-06-02 16:31] donestefan commented on #44780
The [ns_group](https://docs.ansible.com/ansible/latest/modules/nios_zone_module.html#parameter-ns_group) parameter was added to nios_zone in ansible 2.6.   So you can

1) create the ns_group using the [`nios_nsgroup`](https://docs.ansible.com/ansible/latest/modules/nios_nsgroup_module.html) module (added in ansible 2.8)
2) assign the previously created nsgroup to a zone using [`nios_zone`](https:/

[2020-06-02 16:39] dalisoft opened #69839 "Variables overrides even hash-behaviour was set to other than default"
##### SUMMARY
Variables are not merged, just overrides, even i'm set [hash-behaviour](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-hash-behaviour) to `merge` and `combine`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- Variables
- Include_Vars
- Tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: Ubuntu 20.04
Ne

[2020-06-02 16:41] sivel commented on #69839
`hash_behaviour` has been deprecated, and as such, we are no longer addressing any issues related to it's use.

In the future, the behavior you are looking for will not work at all, as such, you should not rely on automatic merging of data, and instead you will need to explicitly merge using the `combine` filter, or to not merge/combine data at all.

If you have further questions please stop by IR

[2020-06-02 16:41] #69839 closed, assigned to nobody

[2020-06-02 16:44] sivel commented on #67654
This should be completed.  Changelog fragments have been reaped from ansible/ansible:

https://github.com/ansible/ansible/pulls?q=is%3Apr+is%3Aclosed+reap+changelog

[2020-06-02 16:44] #67654 closed, assigned to nobody

[2020-06-02 16:49] sydoluciani commented on #67059
@Etherdaemon @minichate @bpennypacker @jimbydamonk

route53_info, route53_zone and route53 have been moved to community.aws, here is the link:
https://github.com/ansible-collections/community.aws/blob/master/plugins/modules

Thus the link to edit module on github is broken for all 3 modules:
https://docs.ansible.com/ansible/latest/modules/route53_info_module.html#authors

[Edit on GitHub](https://

[2020-06-02 16:52] bcoca commented on #69788
@ganeshrn see if PR above works for your case (needs tests/clog, but should be mostly working)

@nitzmahone I'm not sure the PR does 100% 'correct' thing as it just 're prioritizes' .. should we remove all other collections from list and only leave the 'action one?' or do we allow for cross collection calls using short names as long as the 'collection context' is set?

The fix should always priori

[2020-06-02 17:08] samdoran commented on #36394
Closing since this was fixed by #51088 and #59772.

[2020-06-02 17:08] #36394 closed, assigned to nobody

[2020-06-02 17:10] samdoran commented on #37396
Duplicate of #61965.

[2020-06-02 17:23] samdoran commented on #40676
This undocumented option was removed in #66389.

[2020-06-02 17:23] #40676 closed, assigned to nobody

[2020-06-02 17:24] carnil commented on #69782
@gundalow, @samdoran

Thanks. The problem here was for me that the CVE is public from https://bugzilla.redhat.com/show_bug.cgi?id=1835566  and https://bugzilla.redhat.com/show_bug.cgi?id=1835566#c10 did currently not help to further understand the issue (as another downstream distribution), so was hoping to be able to bring this direclty to upstream.

Thanks for your work!

[2020-06-02 17:46] joeibm2020 opened #69841 "Openshift Pod and module error"
##### SUMMARY
In openshift architecture we have ansible deployment running inside of a pod, while running a playbook to connect to openshift using module k8s_info is failing

##### ISSUE TYPE
this is the output error from ansible after to run the playbook,while using module

"msg": "Failed to import the required Python library (openshift) on oc-us-south1-int2.bm.ciocloud.nonprod.intranet.ibm.com's

[2020-06-02 17:47] jimi-c commented on #65817
Per the above comment from @gundalow, we'll go ahead and close this now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions abou

[2020-06-02 17:47] #65817 closed, assigned to nobody

[2020-06-02 17:48] jimi-c commented on #67473
Per the above comment from @gundalow regarding the new collection repo, we're going to go ahead and close this now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for st

[2020-06-02 17:48] #67473 closed, assigned to nobody

[2020-06-02 18:00] jimi-c commented on #69497
Hi @OrZehavi, we have a pretty large backlog of issues (as well as a constant stream of new ones we have to sort through), so sometimes it can be a little bit of time before we're able to resolve some issues, especially if they're difficult to reproduce.

If you need help with a pressing issue, you may want to ping us on IRC in the #ansible-devel channel or on our mailing list:

   * https://group

[2020-06-02 18:18] sivel commented on #69841
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.kubernetes

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/

[2020-06-02 18:18] #69841 closed, assigned to nobody

[2020-06-02 18:21] Aech1977 opened #69842 "Issue with win_copy not finding file on remote file server"
##### SUMMARY
I'm trying to simply copy down a msi file from a remote location thats shared and depending on syntax of the src statement I flip flop between access denied or file doesn't exist.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
AWX AWX 10.0.0

##### STEPS TO REPRODUCE
running job template

[2020-06-02 18:24] jimi-c commented on #64935
There was some effort recently to make options on some statements like this report warnings or errors instead of being silently ignored. I would not be opposed to adding this as well to avoid confusion in the future.

[2020-06-02 18:28] pgrenaud commented on #27179
Thinking about it, I think it was to do the opposite of your use case. I wanted a way to set the auth_socket plugin for other users, in order to completely eliminate the need to manage database password. Man, I already eager to try that! 🤩

[2020-06-02 18:39] jborean93 commented on #69842
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * If the win-stat task is saying the path does not exist then the Ansible task is unable to access that path
   * The fact that you can call it when running inte

[2020-06-02 18:39] #69842 closed, assigned to nobody

[2020-06-02 18:54] mfettig opened #69843 "at_module fails when using become_user due to tmpdir path"
##### SUMMARY
When using the 'at' module with become_user the command fails to run at the specified time since it cannot cd to the ansible-moduletmp directory

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
at

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The at job should run successfully

##### ACT

[2020-06-02 18:58] sivel commented on #69843
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.posix

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#

[2020-06-02 18:58] #69843 closed, assigned to nobody

[2020-06-02 18:59] #68019 closed, assigned to nobody

[2020-06-02 19:00] jimi-c commented on #69836
As this has been moved to the proper collection, we'll go ahead and close it here. Please move all discussion to the new issue(s).

Thanks!

[2020-06-02 19:00] #69836 closed, assigned to nobody

[2020-06-02 19:03] gundalow commented on #69782
Thanks for the above. Trying to see if we have anything that directs people to the wrong place.

[2020-06-02 19:03] jimi-c commented on #67059
As noted above, this module has moved to a different repository, so this issue should be moved there. As such, we're going to close this now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!fo

[2020-06-02 19:03] #67059 closed, assigned to nobody

[2020-06-02 19:05] gundalow commented on #59558
Netbox can be found at https://github.com/netbox-community/ansible_modules

[2020-06-02 19:13] sivel commented on #69722
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-02 19:13] #69722 closed, assigned to nobody

[2020-06-02 19:14] sivel commented on #69724
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/netbox-community/ansible_modules

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!

[2020-06-02 19:14] #69724 closed, assigned to nobody

[2020-06-02 19:15] sivel commented on #69710
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#

[2020-06-02 19:15] #69710 closed, assigned to nobody

[2020-06-02 19:15] sivel commented on #69697
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.windows

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum

[2020-06-02 19:15] #69697 closed, assigned to nobody

[2020-06-02 19:16] sivel commented on #69717
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.crypto

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/foru

[2020-06-02 19:16] #69717 closed, assigned to nobody

[2020-06-02 19:19] sandeep444033 commented on #69810
Thanks for the response Abhijeet Kasurde.

I am looking this is conjunction with one more condition. Does the following work, my tasks need to be executed if OS version is 6 or hostname matches test00-19.example.com.

when: ansible_distribution_major_version|int == 6 or "hostname | regex_search('test[0-1]-[0-9].example.com')"

[2020-06-02 20:00] samdoran commented on #46668
We have no plans to implement this feature at this time. Using `loop` for multiple tasks is the best approach since it's not too common to have the _exact same_ lines and regexps used on multiple files. It's much more common to manipulate multiple files with different lines and regexps for each file using a loop.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #an

[2020-06-02 20:00] #46668 closed, assigned to nobody

[2020-06-02 20:01] samdoran commented on #47325
Fixed by #51088

[2020-06-02 20:01] #47325 closed, assigned to nobody

[2020-06-02 20:44] dmsimard commented on #18993
I do no longer use the gem module and I am not able to confirm if this is fixed. Feel free to close the issue I guess.

[2020-06-02 20:45] ssbarnea commented on #69758
Based on the fact the the simple request to document the exit codes of ansible cli was refused, closed and locked at https://github.com/ansible/ansible/issues/19720 makes me wonder, what is really supported.... Exit codes are the most basic API integration levels and very easy to test.

This ticket directly affect Ansible-lint, an important part of ansible ecosystem, mainly galaxy. That is not som

[2020-06-02 20:46] sivel commented on #18993
This issue would eventually be closed anyway.  If someone wishes to re-open this later, it will need to be done in https://github.com/ansible-collections/community.general

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-02 20:46] #18993 closed, assigned to nobody

[2020-06-02 20:49] sivel commented on #69758
IRC or the mailing list is the correct place to ask for help about how to use the python API. As it is not a supported aspect of this tool, use of the python API is discouraged, and we only address issues related to it's use if it is also directly affecting the CLI tools provided by this individual repository.

For that matter, ansible-lint should in all likelihood not be using these APIs.  It is

[2020-06-02 21:14] imjoseangel commented on #69834
Hi @shrinaththube Thanks for reporting. IMHO I think the message is very descriptive. Personally I don't see a bug here. Regards.

[2020-06-02 21:33] acdha opened #69846 "Git module: don't encourage MITM attacks"
##### SUMMARY

The Git module encourages use of `StrictHostKeyChecking=no` with SSH, which makes the connection vulnerable to a MITM attack.

##### ISSUE TYPE

OpenSSH 7.5+ (2017-03-20) added a safer option which automatically accepts the key on first use but will not allow a MITM on subsequent connections: `StrictHostKeyChecking=accept-new`

https://man.openbsd.org/ssh_config#StrictHostKeyCheckin

[2020-06-02 22:33] yurtesen opened #69848 "block with tag and a task after it cause re-run of a role"
##### SUMMARY
I have 3 roles. Role1, Role2 and Role3.
Role1 and Role2 depend on Role3
If I run a playbook which has Role1 and Role2 in Roles:, then Role3 is executed twice.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tags

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.04

##### STEPS TO REPRODUCE
Create 3 roles. Role1 and Role2 only with met

[2020-06-02 22:47] sydoluciani commented on #27469
@agaffney route53 module, along other aws related moduls have been moved to community.aws, here is the link to new repository:

https://github.com/ansible-collections/community.aws

You may want to close this issue and reopen it in new repository.

[2020-06-02 23:20] opoplawski opened #69849 "ios_user sshkey does not remove/replace existing keys"
##### SUMMARY

We are configuring users with:
[code]
however when we change the list of ssh keys, it does not replace the existing ssh keys in the config.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
EL7

Cisco IOS Software, C2960S Software (C2960S-UNIVERSALK9-M), Version 15.2(2)E9, RELEASE SOFTWAR

[2020-06-03 03:40] jborean93 commented on #69828
Thanks that confirms the problem is in ntlm-auth, can you run the following python script?

[code]

This will give us the exception traceback that tells what where in the code it is failing.

[2020-06-03 05:26] Akasurde commented on #69810
Yes, it will.
[code]

[2020-06-03 06:22] mkrizek commented on #69849
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/an

[2020-06-03 06:22] #69849 closed, assigned to nobody

[2020-06-03 06:24] mkrizek commented on #27469
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!foru

[2020-06-03 06:24] #27469 closed, assigned to nobody

[2020-06-03 06:57] rony36 commented on #34861
This issue resolved on ansible 2.9.5 + python 3.6.9.

I have same issue on  ansible 2.9.5 + python 3.5.2.
 python 3.6 change dict order into "inserted ordered".

[2020-06-03 07:01] Andersson007 commented on #35665
resolved by https://github.com/ansible-collections/community.general/pull/397

[2020-06-03 07:03] Andersson007 commented on #66291
resolved by https://github.com/ansible/ansible/pull/68136

[2020-06-03 07:09] Andersson007 commented on #35665
@Tomorrow9 can this issue be closed?

[2020-06-03 07:10] jorisdobbelsteen opened #69852 "ansible-lint crashes with command module"
##### SUMMARY
One step invokes command module using list of arguments passed using argv.
Running the step with ansible-playbook works correctly. However, using ansible-lint to detect common errors fails for this construction.

Output is:
[code]

##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ansible_list, specifically rule 304.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS

[2020-06-03 07:16] CendioOssman commented on #69722
Opened as https://github.com/ansible-collections/community.general/issues/452.

[2020-06-03 07:29] rosaLux161 commented on #48890
Still not working with RabbitMQ 3.8.4-1 and Ansible 2.9.6/2.9.9. Any updates?

[2020-06-03 07:41] vengaar opened #69853 "Issue with delagate_to from centos8 to centos6, bad python interpreter used"
##### SUMMARY
delegate_to from centos8 server to centos6 server doesn't work because the python interpreter path used is centos8 path

I hope issue will be fixed in 2.9.7 with https://github.com/ansible/ansible/issues/61002 but it is not the case.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Maybe connection plugin ?
See test playbook below in *STEPS TO REPRODUCE*

##### ANSIBLE VERSION

[2020-06-03 07:50] mkrizek commented on #69852
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker:

   * https://github.com/ansible/ansible-lint

If you can stop by the tracker or forum for one of those projects, we'd appreciate it.

Should you still wish to

[2020-06-03 07:50] #69852 closed, assigned to nobody

[2020-06-03 08:11] seansabour commented on #69267
Hi @ganeshrn - can you remove the needs_info label, i don't want this issue to be closed ^

[2020-06-03 08:26] ganeshrn commented on #69267
@seansabour The `network_cli` plugin is now moved out of the core to https://github.com/ansible-collections/ansible.netcommon collection. Hence this issue will be closed anyways in future. Please raise a new issue https://github.com/ansible-collections/ansible.netcommon/issues with reference to this issue.

[2020-06-03 08:39] seansabour commented on #69267
@ganeshrn Cool, thanks for the heads up! I've opened the issue in the new repo

[2020-06-03 08:40] Amithsha opened #69854 "Ansible ssh connection timeout not working"
##### SUMMARY
Ansible not closing the ssh connection if remote host not responding and the connection got freeze.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ssh

##### ANSIBLE VERSION
```ansible 2.7.5```

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
```debian 8 ```

##### STEPS TO REPRODUCE
A node will high CPU load not opening the bash terminal or client ssh got stuck.
[code]

###

[2020-06-03 09:29] gundalow commented on #68373
bot_status (should update collection labels)

[2020-06-03 09:33] Fred-sun commented on #67473
I am sorry to reply to you so late. The problem with this report is that the time module of python3.8 does not have a clock function. The new repo has already reported it. You can refer to it  https://github.com/ansible-collections/azure/issues/139. I am working on solving it. Thank you!

[2020-06-03 09:57] mkrizek commented on #69267
Closing per above.

[2020-06-03 09:57] #69267 closed, assigned to ganeshrn

[2020-06-03 10:44] Arano-kai commented on #61965
As I mentioned in #37396, the `lusermod -g` change only **primary** group and require gid.
To change **additional** groups, we need to use `lgroupmod -M/-m`.

PS: The #37396 can't be duplicate of current issue (:

[2020-06-03 12:55] bcoca commented on #69853
@vengaar please verify that this is fixed in devel branch (via #69244)

backport  to 2.9 #69520

needs_info

[2020-06-03 13:13] bcoca commented on #34861
@rony36 any Ansible version with python >=3.6 won't have the issue because Python changed to preserve order in dictionaries, lower versions of Python have either a 'hash order' or even a 'randomized order' to prevent predictability.

Going forward this will now work independent of Python versions via #58000.

[2020-06-03 13:13] #34861 closed, assigned to nobody

[2020-06-03 13:16] bcoca commented on #16933
it was already merged, will be in released in 2.10, so I'm closing this issue as resolved.

[2020-06-03 13:16] #16933 closed, assigned to nobody

[2020-06-03 13:21] amarao commented on #17324
I think this is a rather useful feature to have, but it's a bit dangerous.

May be new yaml type can help? There is `!unsafe`, may be it's a good idea to have `!jinja` type for things we want to process for sure?

[2020-06-03 13:45] blackwood821 commented on #66909
I forgot to post another workaround someone suggested to me on https://smartos.topicbox.com/groups/smartos-discuss/T5f757eae69e324b1-Mefd9ace79d21fa8ba7d69435/ansible-issues-with-package-installation. Instead of adding retries you can just add this before any package installs:

[code]

[2020-06-03 14:10] kfiresmith commented on #11024
Looking forward to this functionality.

[2020-06-03 14:20] thanos1983 opened #69856 "package_facts doesn't return list of packages for Python3 and Centos7 /RH7"
Similar ticket was opened before but I assume is referred to Python2 [package_facts doesn't return list of packages #60889](https://github.com/ansible/ansible/issues/60889)

##### SUMMARY

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[package_facts_module](https://docs.ansible.com/ansible/latest/modules/package_facts_module.html)

##### ANSIBLE VERSION

Version on source host (Ubun

[2020-06-03 14:40] sivel commented on #69856
This is expected.  On EL7, the RPM python bindings are only provided for the default system python.  If you use a python other than the system default, the code will not be able to find the RPM python bindings, and will fail to list the installed packages.

The same applies for any tasks utilizing selinux, or the `yum` module.

If you have further questions please stop by IRC or the mailing list:

[2020-06-03 14:40] #69856 closed, assigned to nobody

[2020-06-03 14:48] sivel commented on #69663
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/chocolatey/chocolatey-ansible

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-06-03 14:48] #69663 closed, assigned to nobody

[2020-06-03 14:53] momcilo78 opened #69857 "Large initial latency when launching and polling asynchronious operations"
##### SUMMARY
When launching the async jobs (poll:0, async: 30), iterated over items, each item is iterated and takes on between 300-600ms. If there are more of them this results in the whole operation taking up to 20 seconds. Expected is rapid launch of all items in no more than 1-2 seconds.  I gather this is not much visible if tasks are in the minute range, but if you need to launch a series of

[2020-06-03 14:53] karjona commented on #69765
Proposed solution also solved the issue for me: Windows 10 2004, WSL2, Ubuntu 20.04.
Definitely a WSL issue, not an Ansible one. This is the direct link to the Google Group where you can download the package mentioned in the previous post: https://groups.google.com/d/msg/ansible-project/GDYC2F1K8pk/4Z1rAeb_AQAJ

[2020-06-03 15:02] jimi-c commented on #35665
Thanks @Andersson007, closing now.

[2020-06-03 15:02] #35665 closed, assigned to nobody

[2020-06-03 15:05] jimi-c commented on #66291
As the above PR has been merged, we'll go ahead and close this now.

Thanks!

[2020-06-03 15:05] #66291 closed, assigned to nobody

[2020-06-03 15:11] thanos1983 commented on #69856
It makes sense.

Thank you for the quick reply.

BR / Thanos

[2020-06-03 15:55] imjoseangel commented on #69679
@m4ri0g Thanks for reporting. Could you please be more specific? I would like to understand the winrm config you have implemented.

I have just tested the win_copy module and it is working fine.

Thank you

[2020-06-03 15:58] sivel commented on #69857
I think your expectation is not realistic.  An async task is largely no different from any other task.  The module is built and transferred like any other task, and it's executed through the `async_wrapper`.  The `async_wrapper` executes the module, and then forks to daemonize the task.  The only thing you reduce time on execution by using async, is waiting.  It still takes roughly the same amount

[2020-06-03 15:58] #69857 closed, assigned to nobody

[2020-06-03 16:13] #68342 closed, assigned to relrod

[2020-06-03 16:27] Migsi opened #69858 "Allow selective vault usage/ignore"
##### SUMMARY

As vaults can have different passwords when encrypted with different ids, I assumed that it would be straight forward to use only a subset of all defined vault ids at play time. To my surprise such a feature does not exist at all.

##### ISSUE TYPE

Feature request:

Like I described above, I'd like to have the possibility to define a subset of vault ids used per play run.

##### CO

[2020-06-03 16:41] jamesmarshall24 opened #69859 "Document All Methods for Adding Custom Inventory Plugins for use with Ansible Engine"
##### SUMMARY

No documentation on how to implement custom inventory plugins into Ansible.

Similar to other inventory methods such as scripts, flat files, etc, there should be a section in the documentation that goes over how a user, who wants to extend Ansible with their own custom inventory plugin, can place their plugin into Ansible for use with their playbooks.

##### ISSUE TYPE
- Documentati

[2020-06-03 17:09] jamesmarshall24 commented on #69859
@sivel I believe you can add those to a local project, correct? For example, based on the location of playbook-dir. How would you implement that?

[2020-06-03 17:10] sivel commented on #69859
The 2nd link describes that behavior.

[2020-06-03 17:15] jamesmarshall24 commented on #69859
@sivel right I see that, but that only works for ansible-playbook by default. Should that section be called out specifically? This doesn't work for ansible-inventory.

So right now:

Should be something like:

[2020-06-03 17:21] sivel commented on #69859
Since those directories are playbook relative, they only work by default with `ansible-playbook`, since that is the only command that uses a playbook.

When using other CLI tools, you must utilize the `--playbook-dir` option.  Which can also be configured via https://docs.ansible.com/ansible/latest/reference_appendices/config.html#playbook-dir

Or as described at https://docs.ansible.com/ansible/l

[2020-06-03 17:42] wojtek0806 opened #69862 "Incorrect entries in ansible_builtin_runtime.yml file"
##### SUMMARY

Incorrect entries in `ansible_builtin_runtime.yml`

Problematic lines:
https://github.com/ansible/ansible/blob/devel/lib/ansible/config/ansible_builtin_runtime.yml#L2163 to
https://github.com/ansible/ansible/blob/devel/lib/ansible/config/ansible_builtin_runtime.yml#L2178

The entries should be as below:

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/config/

[2020-06-03 17:46] jeyrichman opened #69863 "Persistent spot instances need stopping ability"
Hi, I want to be able to stop spot instances like I can do via AWS CLI, AWS SDKs, AWS CloudFormation, AWS Lambda.
This is described here:
https://aws.amazon.com/about-aws/whats-new/2017/09/amazon-ec2-spot-can-now-stop-and-start-your-spot-instances/

And I believe the following needs to be updated:
https://github.com/ansible/ansible/blob/6f83b9aff42331e15c55a171de0a8b001208c18c/lib/ansible/modules/

[2020-06-03 17:50] sivel commented on #69863
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/amazon.aws

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-06-03 17:50] #69863 closed, assigned to nobody

[2020-06-03 18:06] jutkarsh079 opened #69864 "'NoneType' object has no attribute 'strip'"
#41579 ### SUMMARY
Working on a very simple task to get configuration from a juniper router using "junos_command" module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
junos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

config from juniper device

##### ACTUAL RESULTS

[code]

[2020-06-03 18:33] momcilo78 commented on #69857
Hi @sivel thank you for the rapid response and comments of the observed behavior. I will consider writing the module/plugin to expedite the short lived tasks (jira issue transitions) without the overhead.

[2020-06-03 18:48] sivel commented on #69864
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/junipernetworks.junos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com

[2020-06-03 18:48] #69864 closed, assigned to nobody

[2020-06-03 19:13] ironfroggy opened #69867 "`ansible-galaxy role info` broken for uninstalled roles by PR#67409"
##### SUMMARY

Changes in PR #67409 mean that `ansible-galaxy role info` fails too early, complaining that a role does not exist, before ever actually fetching data from the API. It can only give information about roles that have already been installed now and is unable to be used to learn about roles _before_ installation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy

####

[2020-06-03 19:14] Andersson007 commented on #35665
@jimi-c thanks

[2020-06-03 20:08] sandeep444033 commented on #69810
@Akasurde

Thanks for the response Abhijeet Kasurde.

I actually do not want to pass hostname of my server in vars section. Will this regex work with in conjunction with Ansible facts ? During my playbook execution time, it need to interpret my hostname of the server from fact ansible_fqdn.

- hosts: localhost
  tasks:
    - name: debug
      debug:
        msg: "passed"
      when: "ansible_distr

[2020-06-03 20:31] ferrarimarco commented on #23690
@artm just add a `cat` in the [`after_failure` phase](https://docs.travis-ci.com/user/job-lifecycle/).

[2020-06-03 20:58] #69862 closed, assigned to nobody

[2020-06-03 20:58] mspastor7 opened #69869 "unable to copy ftp or tftp file to cisco ios using ios_command module"
##### SUMMARY
the playbook is related to cisco ios upgrade

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module ios_command

##### ANSIBLE VERSION
ansible 2.6.20
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.6/site-packages/ansible
  exe

[2020-06-03 21:05] sivel commented on #69869
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-06-03 21:05] #69869 closed, assigned to nobody

[2020-06-03 21:21] imjoseangel commented on #69465
Totally agree. After further investigation I've realized that the `_prefix` option is not implemented. I will work on that.

`cache_dir` and `timeout` are properly implemented but not prefix:

[code]
I will implement and test it ASAP

[2020-06-03 21:54] JeffWP opened #69870 "Ansible escape character "{#" combination"
##### SUMMARY
I am trying to reset wordpress admin password "^=Pass{#W03d@1" via playbook, but getting the following error:

ERROR! failed at splitting arguments, either an unbalanced jinja2 block or quotes:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
shell

##### ANSIBLE VERSION

ansible 2.7.10
  config file = /etc/ansible/ansible.cfg
  ansible python module location = /usr/local/lib/pyt

[2020-06-03 22:16] sivel commented on #69870
Due to the password containing jinja2 characters, you will either need to make use of the `!unsafe` YAML tag, or `{% raw %}`.  Please see https://docs.ansible.com/ansible/latest/user_guide/playbooks_advanced_syntax.html#unsafe-or-raw-strings for more information.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https:

[2020-06-03 22:16] #69870 closed, assigned to nobody

[2020-06-03 22:46] relrod commented on #69497
@OrZehavi Sorry for the delay in looking into this. I've looked a bit closer and this is actually expected default behavior: By default the `yum` module will install `yum-utils` (with whatever repos are enabled in `/etc/yum.repos.d/*.conf` -- it doesn't pass any enable/disablerepo flags).

You can disable this behavior with `install_repoquery: false` in the task, though this will prevent some feat

[2020-06-03 22:46] #69497 closed, assigned to relrod

[2020-06-03 23:58] bcoca commented on #69465
preifx option was for caches that used an RDBMS to prefix table names, none of the file based plugins implement it

[2020-06-04 00:55] Reverendheat opened #69873 "EC2_Transit_Gateway issues with specific regions"
##### SUMMARY

When creating Transit Gateways using the EC2_Transit_Gateway module, it fails for some regions while working in others.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

EC2_Transit_Gateway
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 WSL / Amazon AWS

##### STEPS TO REPRODUCE

If I run the playbook below for us-east-1 instead o

[2020-06-04 02:05] pyralix commented on #69873
I also get this same behavior on the same ansible/python versions, but in OSX.

[2020-06-04 05:31] ghost opened #69875 "Unable to run command with equals sign"
##### SUMMARY
I can't run a command with an equals sign.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
command.

##### ANSIBLE VERSION
2.8

[code]

Not sure how one is supposed to avoid this.

[2020-06-04 05:34] teran-mckinney commented on #69875
Related: #41754

[2020-06-04 05:48] mkrizek commented on #69873
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!foru

[2020-06-04 05:48] #69873 closed, assigned to nobody

[2020-06-04 06:07] MichaelGoldsbie commented on #17911
I'd love a fix for this too.

[2020-06-04 06:38] relrod commented on #69875
Although the error output should probably be improved, this is actually due to the `when` line.

Try quoting it:

[code]

[2020-06-04 07:41] vengaar commented on #69853
Hi,

On devel I don't have the issue.
But during tests I have a strange behavior.
I can not do a delegate_to from localhost to a remote server, if there is no remote server facts.
Is it the expected behavior ?

I guess, it is because the discovered_interpreter_python is not found for remote server...
Below the test playbok used and the output

*The playbook*

[code]

*The output*

[code]

I have d

[2020-06-04 07:44] dssdss commented on #69828
dss@wmgm:~/anstest$ /usr/bin/python3 --version
[code]

===========

dss@wmgm:~/anstest$ cat test.py
[code]

===========

dss@wmgm:~/anstest$ ./test.py
[code]

[2020-06-04 08:05] teran-mckinney commented on #69875
That did the trick. Thank you! Strange how it refers to the line above. It also did that for just command:, without argv.

[2020-06-04 08:58] raikhan-mussin opened #69876 "Use Ansible to Install SharePoint Server Updates"
Hello!
My name is Raikhan.

Maybe someone used Ansible to install Microsoft updates?

We configured Ansible to install Microsoft updates, and this works successfully for all updates, except for SharePoint Server 2013 updates. When we run playbook to install SharePoint Server updates - nothing happens and there are no understandable errors. The server uses UAC, but we tried to work with elevated pr

[2020-06-04 09:02] mkrizek commented on #69876
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-06-04 09:02] #69876 closed, assigned to nobody

[2020-06-04 10:16] mike-code opened #69877 "setup (gathering facts) module failure with only env variables printed to stdout"
##### SUMMARY
Gathering facts (setup module) throws

    MODULE FAILURE
    See stdout/stderr for the exact error

yet the stderr is empty and stdout contains only printed environment variables.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE

 Simply run the

[2020-06-04 10:17] ammarkazmi55 opened #69878 "CISCO IOS upgrade Reload-task issue"
##### SUMMARY
Hi, i was writing a playbook for upgrading cisco router's IOS.
i have different plays in my playbook.
i am able to upload the image to router successfully but then in reload-play named(reboot ios device) it waits for exact 10 minutes and displays it as "successful", where in actual router stays online(no reboot happens).

when i try to run that reload-play(reboot ios device) in a sep

[2020-06-04 10:24] lonix1 commented on #62879
This happens to me even if it's not an integer - the inline comment itself seems to be the problem.

Used to work until I upgraded to latest.

[2020-06-04 10:46] ganeshrn commented on #69350
The fix for this issue needs to be backported to stable-2.9 branch and is a blocker for supported collections 1.0.0 release

[2020-06-04 12:48] TanyaEleventhGoddess opened #69879 "Allow using generated item into with_subelements"
##### SUMMARY
When using with_subelements in code it would be useful choosing which subdict will be iterated basing on the key of the first dict, this would help in looping through nested dicts while keeping original dicts values

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
with_subelements

##### ADDITIONAL INFORMATION

[code]

[2020-06-04 12:50] PrymalInstynct opened #69880 "[Ansible-Docs] Makefile option for Airgapped systems"
##### SUMMARY

Since Ansible does not make PDF versions of their documentation availible it would be very helpful to add an option to the ansible-docs make file to support airgapped systems.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible-docs
##### ADDITIONAL INFORMATION

Remove all references to Internet facing java script, image files and analytics platforms so that a version of

[2020-06-04 13:31] bcoca commented on #17911
@gtirloni  see loop_control's label property

FYI, Ansible itself avoids using environment variables for any sensitive information, it should not be needed for executing most tasks and the actions themselves should offer options for secure passage of data.

In the case of `shell` this might not be avoidable. But given the lack of an agent passing environment variables remotely is not really viable

[2020-06-04 14:03] sm4rk0 commented on #32513
Can we close this one, now when this was merged: https://github.com/ansible-collections/community.kubernetes/pull/61 ?

[2020-06-04 14:07] mkrizek commented on #32513
Closing per above.

[2020-06-04 14:07] #32513 closed, assigned to nobody

[2020-06-04 14:09] bcoca opened #69881 "add_host always returns as 'changed' even if no change is made"
##### SUMMARY
add_host will return 'changed' for every invocation, it does not matter if the host already existed and no changes were actually made to inventory

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

add_host
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

all

##### STEPS TO REPRODUCE

Simplest example, but also happens when specifying variables

[2020-06-04 14:16] ffgomez opened #69882 "import_tasks within import_role not working"
##### SUMMARY
import/include_tasks from within an import/include_role not working.

Looks like: https://github.com/ansible/ansible/issues/27345

Trying to import/include_role:
https://github.com/oVirt/ovirt-ansible-hosted-engine-setup

fails because the two import_tasks at the beginning
https://github.com/oVirt/ovirt-ansible-hosted-engine-setup/blob/master/tasks/pre_checks/002_validate_hostname_ta

[2020-06-04 14:52] sivel commented on #69878
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-06-04 14:52] #69878 closed, assigned to nobody

[2020-06-04 15:04] asarubbo commented on #63403
I see the same issue after update from mariadb-10.3 to mariadb-10.4

[2020-06-04 15:26] guerzon opened #69884 "synchronize module does not use correct dest user"
##### SUMMARY

According to the synchronize module [documentation](https://docs.ansible.com/ansible/latest/modules/synchronize_module.html):
[code]

I have the following task which I execute on `macbookC` against server `serverB` (the `ansible_host`) through `root` (the `remote_user`):

[code]

As you can see, `become=yes` is active, so I am expecting that the `become_user` is used as the user for