[2017-09-16 15:32] dagwieers commented on #19966
@bcoca I disagree, `run_once` means "run once". If people expect it not to run once, they're doing it wrong IMO. Same for pause, if you use `pause` you expect it to pause, and not skip that pause because *the first host* in your list is somehow skipped (maybe on a different level during include).

This has always been faulty behavior.

[2017-09-16 15:37] #30271 closed, assigned to nobody

[2017-09-16 15:37] dagwieers commented on #30271
@sm4rk0 Thanks ! This is going to make a difference.

[2017-09-16 15:42] dagwieers commented on #22542
@jctanner @Akasurde As long as people fall back to vsphere_guest, we cannot deprecate it IMO :-/

So how is it possible that **vsphere_guest** is working better than **vmware_guest** for users ?

[2017-09-16 16:23] suhancz commented on #22542
@dagwieers the issue from my side is having difficulties figuring out what path to provide for the module about the VM. While **vmware_guest** doesn't find the machine without path properly given **vsphere_guest** does. Unfortunately I'm stuck on an Ubuntu machine where 2.3 is the latest version of Ansible in the repos, so **vmware_guest_find** is not a way for me

[2017-09-16 18:25] gundalow commented on #29707
The original issue (https://github.com/ansible/ansible-modules-core/issues/4464) was still open,

I believe this was due to questions around documentation

I would not call it "fixed" when the documentation states that **any** command (not just enable commands) can be passed to **nxos_command** module. Either the fix has been **delayed**, or the **scope of the nxos_command has changed**, which add

[2017-09-16 20:27] #30454 closed, assigned to nobody

[2017-09-16 20:30] bcoca commented on #30454
Issue was due to env var not being exported.

[2017-09-16 20:32] simbalion commented on #30454
PEBKAC

[2017-09-16 21:01] bcoca commented on #30425
@danielmotaleite i might be too close, because this seems obvious once you read how facts and limit work.

But i would also argue that you are just pointing out 1 case of many, as there are others in which `hostvars` for a particular host will not have the vars you expect in other hosts in play i.e, `set_fact`, `include_vars`, etc. And same issues will apply to the `vars` dictionary also.

[2017-09-16 21:04] bcoca commented on #19966
@dagwieers keyword being 'always' and now behaviour that people have come to expect. If you create new keywords rather to modify the existing ones, you get the behaviour you want and you DON'T break people's working plays.

[2017-09-16 22:13] nrwahl2 commented on #30447
@paulcalabro Does your actual playbook say `with_tems` or `with_items`? I can only reproduce this when I misspell it as `with_tems`.

If the spelling is correct in your playbook, please provide the complete output with any sensitive info redacted.

[2017-09-16 22:14] nrwahl2 commented on #30447
[code]

[2017-09-16 22:48] nrwahl2 commented on #26585
@Jean-Daniel @alikins Is this fixed? Using v2.5, can't reproduce.
[code]

[2017-09-16 22:57] nrwahl2 commented on #30441
https://docs.ansible.com/ansible/latest/playbooks_reuse.html

Have you tried using `import_tasks`? The issue you referenced in #26585 appears to be resolved, at least in the devel branch.

This also looks like it would be better suited for the Ansible user mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-09-17 00:54] nrwahl2 commented on #30420
Submitted PR #30463 to fix.

[2017-09-17 02:45] smemsh commented on #16714
the existence of dynamic variable names is really useful in some contexts.  maybe there should be a more formal/explicit way to do it without needing to learn tricks.  in the meantime, seems like this isn't a bug per se, and nobody else seems to be affected since more than a year, so closing.

[2017-09-17 02:45] #16714 closed, assigned to nobody

[2017-09-17 03:35] #23184 closed, assigned to bcoca

[2017-09-17 05:52] nrwahl2 commented on #30405
Submitted PR #30465 to add the `primary` parameter.

[2017-09-17 08:15] ToBeReplaced commented on #21065
Just a heads up, this also breaks `|to_nice_json` if you pass any arguments to it (ex. `indent=2`), so the only bypass I would rely on is `|string`.

[2017-09-17 08:36] gundalow commented on #29567
Thank you for confirming.
Closing.

[2017-09-17 08:36] #29567 closed, assigned to nobody

[2017-09-17 08:38] gundalow commented on #26146
Some interesting ideas there, could you please raise a proposal github.com/ansible/proposals that will allow us all to discuss in more details.

Thanks in advance

[2017-09-17 09:15] jborean93 opened #30468 "Windows become fails on tasks that ignore/catch any errors"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_become

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Ansible Controller - MacOS
Ansible Remote - Windows (Server 2016 PSv5 and 2012 R2 PSv4 confirmed with the issue)

##### SUMMARY
When running with become on Windows and the module being called throws any error that is caught or ignored with `-ErrorAction

[2017-09-17 09:17] nrwahl2 commented on #30375
@mxlan: Add `remote_src: yes` to your `unarchive` task. It's reporting the `src` from your **remote** home directory because by default, `unarchive` is copying the `src` from `/tmp/test` on your **local** system to the home directory remote one before unpacking it there. This issue is masked by your using localhost for testing.

[2017-09-17 09:42] nrwahl2 commented on #30374
@zhengy370 I'm unable to reproduce this using the play you've listed. I'm leaning toward this not being an issue with the Ansible module. Could you post the playbook run output with `-vvv`?

Also as a side note, you do have the option to use the `service` module rather than the `systemd` module.  `service` supports systemd as well.

[2017-09-17 09:49] nrwahl2 commented on #30348
Please ask this in the user mailing list, as this does not appear to be a bug, but rather a "how do I...?"

http://groups.google.com/group/ansible-project

[2017-09-17 10:08] nrwahl2 commented on #16726
This may be resolved:
[code]

[2017-09-17 10:52] aaratn opened #30469 "Ansible 2.4 - the python pyOpenSSL module is required even if its already installed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- openssl_csr

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

##### STEPS TO REPRODUCE

- sudo pip install pyopenssl
- sudo pip install git+git://github.com/ansible/ansible.git@stable-2.4

[code]

##### EXPECTED RESULTS

CSR to be generated
##### ACTUAL RESULTS

[code]
#### OpenSSL Details
[co

[2017-09-17 11:21] kairoaraujo commented on #29477
I performed the test using a Red Hat 6.3 Enterprise and AIX 7.1 (7100-03-01-1341).
For Ansible, I tried with devel version, playbook. The error is the same.

I went a little bit deep on debugging and I saw that it is trying to create and use /etc/fstab, but on AIX we don't have it.
[code]

I could be working in that soon. Would be a pleasure to me include AIX support to this module.
@jtyr may I? :

[2017-09-17 11:27] andreaso commented on #30469
Based on your description it looks like you installed pyOpenSSL on the Ansible control node.  Do you also have it installed on the 192.168.1.5 node?

[2017-09-17 11:29] aaratn commented on #30469
@andreaso

Thanks for prompt revert, no the destination server doesnt have pyOpenSSL installed as Ansible Control node will be managing that host. Does it needs to be installed on the Destination Host ?

[2017-09-17 12:02] #26317 closed, assigned to nobody

[2017-09-17 12:05] Spredzy commented on #30469
@aaratn correct, `pyOpenSSL` needs to be installed where the module is actually run in your case `192.168.1.5`.

If for some reasons you don't want to install `pyOpenSSL` on your managed nodes, you can still install `pyOpenSSL` on the control node, generate the `openssl_privatekey`  (if needed) and `openssl_csr` on the control node and then use the copy module to put them on the desired node, this

[2017-09-17 12:37] jbscare commented on #19966
Do you have any examples of an existing playbook that relies on the current behavior? I'm having a hard time thinking of a use case for this.

[2017-09-17 15:16] dagwieers commented on #19966
I'd vote for `run_really_really_once`.

And a new action plugin, `pause_pretty_please_with_sugar_on_top`.

[2017-09-17 15:17] dagwieers commented on #19966
And a new action plugin, `pause_pretty_please_with_sugar_on_top`.

[2017-09-17 15:47] garbled1 commented on #16186
Why do we need to do an uptime check?  Just as a sanity "we rebooted" thing?  In my personal implementation, what I end up doing is 5-6 steps.  (Some of which are specific to redhat 5/6)
1) issue reboot
2) wait_for ssh to stop - with timeout
3) I think I wait for the machine to become unreachable here, don't recall
4) wait_for ssh to start - with timeout
5) wait_for /var/whatever/subsys/local to e

[2017-09-17 16:32] bcoca commented on #30348
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-09-17 16:32] #30348 closed, assigned to nobody

[2017-09-17 16:44] nrwahl2 commented on #30179
This could be easily done with an alias; does the core team want to clutter the code with both a `createhome` and a `create_home` option?

[2017-09-17 16:51] nrwahl2 commented on #22288
@juju4: Shell variables are already supported in both INI and YAML inventories with a `lookup` call.

[code]

It works in concatenations with a path too.
[code]

[2017-09-17 16:56] bcoca commented on #22288
closing as 'already works' as shown above.

[2017-09-17 16:56] #22288 closed, assigned to nobody

[2017-09-17 16:59] bcoca commented on #30179
+1 to alias

[2017-09-17 17:01] bcoca commented on #30469
closing as per above

[2017-09-17 17:01] #30469 closed, assigned to nobody

[2017-09-17 17:52] nrwahl2 commented on #30179
Submitted PR #30472 to add the alias and clean up doc and syntax.

[2017-09-17 17:58] nrwahl2 commented on #23485
Sooooo I'm kind of upset with myself for just now finding this on the Variables documentation page:

It may still be worth adding this feature if/when it works to everyone's satisfaction, so that we have behavior that's more consistent with what a user would reasonably expect. However, JSON is a perfectly valid way to specify type and I'm okay if we want to let it be in favor of JSON for this role

[2017-09-17 18:53] sanderfoobar commented on #30189
+1, I'd like to add `-o Acquire::ForceIPv4=true` to my apt module usage.

[2017-09-17 19:41] jktr commented on #16097
This doen't seem completely fixed with #16239, as I ran into this issue today.
[code]

I'm unsure if this is the right place to post this, but a bug in the above fix seems to be as follows:

75beca2 from #16239 uses ansible's `is_executable` as the first check, which throws `OSError` if the chroot's `/bin/sh` is something like
[code]
This is due to `is_executable` trying to derefere the symlink ou

[2017-09-17 20:21] gintautassulskus opened #30476 "hostvars structure differs across operating systems"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

gather_facts, hostvars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

macOS Sierra (10.12.6)

##### SUMMARY

hostvars data structure differs across operating systems.
The following clause
`hostvars[inventory_hostname]['ansible_eth0'].ipv4`
in CoreOS returns an Object (see expected results) and in macOS - an a

[2017-09-17 21:30] paulcalabro commented on #30447
Nice catch @nrwahl2 ! I don't know how I missed that. Thanks!

[2017-09-17 21:30] #30447 closed, assigned to nobody

[2017-09-17 21:31] LaszloHont opened #30479 "Undefined variables should fail, not be silently ignored"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
jinja2 templating

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible should be better than bash in *all ways*, but the one place it is not is "set -u".
Ansible should fail if a jinja2 template contains a variable that is not explicitly set.

##### STEPS TO REPRODUCE
In bash, this will sil

[2017-09-17 21:48] jborean93 opened #30480 "windows list type returning wrong value"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible.ModuleUtils.Legacy.psm1

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Windows

##### SUMMARY
When getting a powershell module param with the type list, if the json value is an empty list or a list with 1 entry it will return `$null` or a value with the type of the first entry respectively. It should i

[2017-09-17 23:04] bcoca commented on #30479
This is already the case, do you have an example in which undefined variables are silently ignored?

It used to be the opposite, but it was changed back in 1.3, there is a configuration setting to enable this behaviour, but that would be intentional.
[code]
or the environment variable `ANSIBLE_ERROR_ON_UNDEFINED_VARS`

[2017-09-18 00:28] nrwahl2 opened #30489 "Remove use of platform.dist() and platform.linux_distribution() methods removed in python 3.7"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils/basic.py
assorted others

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Several scripts use deprecated platform.dist() method. Expected to be removed in Py3.7 (https://bugs.python.org/issue1322). No plans for a standard library replacement, but nir0s/distro aims to serve the same pu

[2017-09-18 01:37] bcoca commented on #30476
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

hostvars was never meant to have a specific structure, much less guarantee a unified one across hosts. It just reflects the 'variables

[2017-09-18 01:37] #30476 closed, assigned to nobody

[2017-09-18 01:44] JohnVonNeumann opened #30491 "ansible-vault 2.4 and 2.5 "New Vault Password" prompt when using edit/view/etc commands after running original encrypt operation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-vault
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Configuration unchanged, I have run the same manual check across three versions, 2.3, 2.4 and 2.5 with the same config file. It is the default configuration.

##### OS / ENVIRONMENT

Linux Ubuntu 16.04 Dell XPS 13
I first installed just the devel version (2.5), after finding thi

[2017-09-18 01:49] bcoca commented on #19966
@jbscare i've had many from users, but personally I've written at least to plays that depend on it, in both cases it has to do with updating the 'master' server in a cluster. From memory they go something like this:
[code]
Afaik they've been runing 3-4 yrs w/o issues.

@dagwieers i'm imposing a 2 word max for keywords

[2017-09-18 02:05] jbscare commented on #19966
So in that example, you've got a task that's going to run on a bunch of servers in a cluster, and if the first one in inventory happens to be the master, you want the task to run once (on the master), and if the first one in inventory happens not to be the master, you don't want the task to run at all (not even on the master)?

Why would you want your inventory order to affect whether this task ge

[2017-09-18 03:34] nrwahl2 commented on #15187
@cjbottaro I believe this is no longer an issue. I just tried to reproduce it on v2.5 with and got your expected results with `hash_behaviour` set to either `merge` or `replace`.

[2017-09-18 03:40] nrwahl2 commented on #30491
I can reproduce this with `ansible-vault edit` but not with `ansible-vault view` as described in the title.

[2017-09-18 03:49] willthames commented on #30373
!needs_contributor

#30492

[2017-09-18 03:54] nrwahl2 commented on #30491
Submitted PR #30493 to fix.

[2017-09-18 04:00] nrwahl2 commented on #30220
This appears to be fixed in #23012.

[2017-09-18 04:06] nrwahl2 commented on #30225
This appears to be fixed. Using v2.5:
[code]

[2017-09-18 04:22] nrwahl2 commented on #30136
This isn't so much a bug report as a request to redesign the module. I would say either no or say let's add a flag. If we add a flag, then I lean toward having one to add a runtime mount (the complement to `state=present` adding to `fstab` without actually mounting), rather than reversing the order and making the `fstab` addition contingent upon a successful runtime mount as @kustodian requested.

[2017-09-18 04:35] nrwahl2 commented on #30121
The relevant change between 2.3 and 2.5 is an assumption that an instance of `botocore.exceptions.ClientError` will have an attribute called `response`. There are a handful of these in the module code that were not present in 2.3:
[code]

What attributes are actually present, I don't know and will leave for someone with AWS available to find out.

[2017-09-18 04:52] nrwahl2 commented on #30121
The apparent change between 2.3 and 2.5 is an assumption that an instance of botocore.exceptions.BotoCoreError will have an attribute called response. There are a couple of these in the module code that were not present in 2.3:
[code]

Instances of `ClientError` have a response attribute, but `BotoCoreError` instances do not necessarily. https://github.com/boto/botocore/blob/develop/botocore/excep

[2017-09-18 04:55] LaszloHont commented on #30479
Within a Jinja template, if I use the ansible_domain variable, and it is empty, there will be no error.

[2017-09-18 05:05] JohnVonNeumann commented on #30491
@nrwahl2 Full disclosure, I may not have had an issue with view, I incorrectly extrapolated edit not working, to the rest of them not working. My apologies, next time I will be more careful with my titles and writing out the problem.

[2017-09-18 05:16] wimnat opened #30494 "Do we want AWS classic ELB rename to go in 2.4?"
@willthames @s-hertel @ryansb @abadger

##### COMPONENT NAME
elb_classic_lb et al.

##### ANSIBLE VERSION
2.4

Guys, there was a question i raised here https://github.com/ansible/ansible/pull/25745 regarding the rename that went unanswered.

I just wanted to raise here again before 2.4 ships because I think the rename was a bad idea on my part.

If we do rename `ec2_elb_lb` to `elb_classic_lb` the

[2017-09-18 05:27] nrwahl2 commented on #30121
Submitted PR #30495 to try to resolve this. I'm not able to test this as I don't have any AWS instances or AWS experience for that matter. I'd appreciate if someone could test for me.

[2017-09-18 05:30] nrwahl2 commented on #30491
@JohnVonNeumann No problem. It only took a minute or two to see what was and what was not working as expected. Basically `edit` was just put in the wrong group (the one where it prompts for a new password) instead of an alternate group that prompts for an existing password. I moved it to the other one (where `view` was already) so that should take care of it.

[2017-09-18 05:44] JohnVonNeumann commented on #30491
@nrwahl2 Yeah you got onto it quickly! Good work on that, honestly I'm a little bit annoyed at myself for not figuring it out, I would usually look at the code first and see if I could figure it out. Given me a bit of courage to try and submit my own fixes now though, so thank you for that.

[2017-09-18 05:59] nrwahl2 commented on #30491
Sure thing :) hardest part with Ansible (and presumably other projects) is getting your bearings and figuring out what's where. I still do a lot of "grep -R and hope." Happy future bugfixing.

-------- Original Message --------
On Sep 18, 2017, 00:45, Louis Willcock wrote:

[2017-09-18 06:04] sree1995v opened #30496 "Ansible ping issue"
ubuntu@ubuntu:/$ ansible servers -m ping -vvv
Using /etc/ansible/ansible.cfg as config file
META: ran handlers
Using module file /usr/lib/python2.7/dist-packages/ansible/modules/system/ping.py
<192.168.80.129> ESTABLISH SSH CONNECTION FOR USER: ubuntu
<192.168.80.129> SSH: EXEC ssh -C -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-

[2017-09-18 06:19] tbouvet commented on #29498
The problem is when you are running docker-compose not after pip install.
I rolled back to  pip install docker-compose==1.15.0  for now to get my playbooks running.
I don't update to Ansible 2.4.rc because I use Ansible Tower too.

[2017-09-18 06:22] follower opened #30497 "Approach for enabling use of `ec2.py` inventory script when Ansible installed in unactivated virtualenv (e.g. via Homebrew)"
[Note: My primary motivation for creating this issue is to:

 1. Create a link between the potentially impacted projects (because the symptoms make it difficult to ascertain where the problem lies) i.e. Ansible + virtualenv (+ Homebrew); and,
 2. Document a workaround/solution where it might be found.]

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

Installation of Ansible into a

[2017-09-18 06:25] nrwahl2 commented on #30496
Hi, this looks like a usage support issue rather than a bug. Would you mind asking on our user mailing list instead? The URL is http://groups.google.com/group/ansible-project. You're likely to get better assistance there.

Thanks!

P.S.  Do note that the Ansible `ping` module is not an ICMP ping. It requires that you be able to SSH into the target machine.

[2017-09-18 06:41] sree1995v commented on #30496
can i get a solution for that?

[2017-09-18 06:57] Akasurde commented on #24647
resolved_by_pr #30498

[2017-09-18 07:02] romanek-adam opened #30499 "BOTOMETA entry removal request"
Hi,

Please remove me from [BOTOMETA.yml](https://github.com/ansible/ansible/blob/6d27ac60cb6eda27f57a129acba1c651ec33b50e/.github/BOTMETA.yml#L1100) as I'm no longer able to maintain the rabbitmq module.

Thanks in advance.
Adam

[2017-09-18 07:14] brainstorm commented on #28746
Following up on this, `p_opt` has the following attributes on runtime inside `"config.py", line 956, in option_prompt`:

[code]

[2017-09-18 07:36] brainstorm commented on #28746
Creating a `clouds.yaml` file in the same directory from which I'm running the `openstack.yaml` playbook yields the same error I've reported:

[code]

So I'll continue up in the TraceBack to see how the config is populated on `get_one_cloud()` (I thought this method would grab that yaml and mix config data from potential different sources)...

@emonty

[2017-09-18 07:45] brainstorm commented on #26685
"There are settings you can only set in clouds.yaml that are literally impossible to set in environment variables. I highly recommend forgetting all about an OS_ env var or openrc file and embrace the joy that is clouds.yaml. :)"

I tried that on https://github.com/ansible/ansible/issues/28746#issuecomment-330147522, but `username` and `password` still have to be defined somewhere in ansible where

[2017-09-18 08:32] k-ogawa-1988 opened #30500 "mysql_db import failed with remote instance and SSL"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mysql_db

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Using `mysql_db state=import` with host, port (not using socket) and SSL fails with error `Can't connect to local MySQL server through socket '/var/lib/mysql/mysql.sock' (2)`

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2017-09-18 09:19] jtyr commented on #30136
@nrwahl2 This has been discussed with @bcoca a while ago and there is a will to separate the fstab management and mounting with different `state` flags. I will look into it and crate a PR for that.

[2017-09-18 09:55] aes256ctr opened #30503 "maybe a bug"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]
i selected 2 hosts in tower web UI and exectue a command,but tower only tell me the results of one host.

I'am sure the command

[2017-09-18 10:06] gundalow commented on #29559
The docs generator has been updated
http://docs.ansible.com/ansible/latest/systemd_module.html#return-values

So the keys are listed, though the values are missed. I think the module's `RETURN` block needs updating along the lines of:

[code]

[2017-09-18 10:09] StalkAlex opened #30504 "Copy module isn't creating directories as in documentation being specified"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Copy module

##### ANSIBLE VERSION
2.3.2.0
[code]

##### OS / ENVIRONMENT
Ubuntu Bash on Windows

##### SUMMARY

Copy module is not following its documentation. It's not creating directory as it suppose to.
##### STEPS TO REPRODUCE
My src certs directory contains several folders named after domains with certificates inside them. I want to copy w

[2017-09-18 10:10] gundalow commented on #30439
@rahushen Thanks for the bug report. This doesn't sounds like a 2.4.0 release blocking issue, so something that can be fixed for `2.4.1`.

Would be good for the integration tests to be updated to defend this.

[2017-09-18 10:15] gundalow commented on #30403
@davedastrange Can you confirm setting `ansible_network_os` resolves the issue for you?

If not can you please test on `stable-2.4` and include:

1) The the output of `ansible --version`
2) Run in verbose mode `ansible-playbook -vvv  ... `
3) Include the inventory file

needs_info

[2017-09-18 10:51] MarkusTeufelberger commented on #29948
Parameters are created in #30338, once this merges, I'll expose them in another PR

[2017-09-18 11:16] TheKnightCoder commented on #29420
has this been fixed yet? having the same probelm

[2017-09-18 11:28] brainstorm commented on #28746
I just fixed this issue by commenting the following line on [os-client-config's config.py file](https://github.com/openstack/os-client-config/blob/master/os_client_config/config.py#L953), so definitely not an ansible issue, will open a bug on os-client-config instead:

[code]

[2017-09-18 11:28] #28746 closed, assigned to nobody

[2017-09-18 11:33] brainstorm commented on #28746
Reported on launchpad, according to [OpenStack contributing guidelines](https://github.com/openstack/os-client-config/blob/master/CONTRIBUTING.rst):

https://bugs.launchpad.net/os-client-config/+bug/1717906

[2017-09-18 11:36] Akasurde commented on #30371
resolved_by_pr #30505

[2017-09-18 12:29] ogenstad opened #30506 "Coloring bug in selective callback plugin"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- plugins/callback/selective

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### SUMMARY
A recent commit has broken the coloring in this module. I think it's due to a different colorize function being used. Instead of printing the codes to change the color in the terminal it just prints "yellow" and such. It's due to the change to us

[2017-09-18 12:41] danielmotaleite commented on #30425
yes, i know that this is just one case, but it one that many people find many times when starting to use ansible. The  `--limit=` case is worse, as its a valid config that when using the `--limit=` will build incomplete config if it doesn't fail... people that do not use the `--diff` may not notice that they deploy a incomplete config file.

Just this i would say that are important enough to impro

[2017-09-18 12:42] stephan2012 commented on #21188
Same here. Is there any reason for why a container restart needs an image name?

[code]

[2017-09-18 12:46] ipspace opened #30509 "parse_cli returns wrong results when extracting a single item into a list"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
parse_cli

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Linux nms 3.13.0-24-generic #46-Ubuntu SMP Thu Apr 10 19:11:08 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
parse_cli returns the first character of the matched string instead of the whole string when there's a single match group in the pattern.

##### STEPS TO REPRODUCE

[2017-09-18 13:09] christ2016 commented on #30367
Many thanks, I have made the proposed changes. Currently everything seems to be working fine - however this problem was intermittent so we won't know for sure for a while.

[2017-09-18 13:13] jbscare commented on #19966
To put that another way, it seems like what you want from that task is for it to run only once; and only run on a host where cluster_role is set to 'master'.

With the current behavior, if the first host in your inventory doesn't have cluster_role == 'master', the task won't run once -- it won't run at all.

Is that actually the desired effect in that case?

[2017-09-18 13:14] hiddenicon commented on #30383
Merged into devel branch. Closing.

[2017-09-18 13:14] #30383 closed, assigned to nobody

[2017-09-18 13:25] jean-christophe-manciot commented on #29707
It is fixed. cf. https://github.com/ansible/ansible/issues/18974

[2017-09-18 13:27] alikins commented on #30491
Some notes at: https://github.com/ansible/ansible/pull/30493#issuecomment-330220114

[2017-09-18 13:31] gundalow commented on #30509
resolved_by_pr 30511

[2017-09-18 13:47] alikins commented on #30491
so goal for 'ansible-vault edit existing_encrypted_file.yml' is to be prompted for a single password instead of being prompted for a new password?

Since the file will be encrypted with whatever password is entered at the prompt, current code treats that like a new file (to avoid re-encrypting the file with the typo).

I'm leaning towards the 2.4 behavior being correct (prompt for new) and the 2.3

[2017-09-18 13:55] ericgrysko commented on #30268
I'm running into this issue on v2.4.0.0-0.5.rc5   Looks due to efforts in #26348

@wilvk - any ability to guide here?

[2017-09-18 13:57] alikins commented on #30491
Hmm, interesting. That seems busted UXD wise. (I can see why the current code does that, but that doesnt seem like the right thing...)

[2017-09-18 14:12] alikins commented on #30491
I think I have a way to use the 2.3 UI and auto_prompt, pr soon

[2017-09-18 14:19] abadger commented on #30491
2.3 behaviour is correct if and only if edit is used with an existing encrypted file.  There can be no typo in the password in that case because the file will not decrypt if there is a typo in the password.  For creating a new file with ansible-vault edit, the two password prompt makes sense.

[2017-09-18 14:20] schmitch opened #30513 "openssl_csr second invocation fails on 2.4.0-rc5"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openssl_csr

##### ANSIBLE VERSION
[code]
installed with pip from stable-2.4 on 2017-10-18 at 15 o`clock (CEST)
i think it's 2.4.0.0-rc5

##### CONFIGURATION
- default

##### OS / ENVIRONMENT
MacOS

##### SUMMARY
currently i try out the new openssl_csr module to create a CSR for letsencrypt.
the first call works, however the second invocation wi

[2017-09-18 14:25] alikins commented on #30491
[code]

doesn't work in 2.0/2.1/2.2/2.3/2.4  (shows some variant of 'file not found' error)

[2017-09-18 14:27] alikins commented on #30491
(https://github.com/ansible/ansible/issues/30491#issuecomment-330239949 confirms that single password prompt of 'edit' (ala 2.3) makes sense)

[2017-09-18 14:28] sivel commented on #30496
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-09-18 14:28] #30496 closed, assigned to nobody

[2017-09-18 15:06] nrwahl2 commented on #30491
YES, but the same behavior occurs with `decrypt`, `view`, and `rekey`, which are in the same group. This is due to `ask_vault_pass` defaulting to `None`. That behavior can be changed but is not isolated to `edit`.

A lot of this hinges upon whether we want or expect `ansible-vault edit` to be able to create or encrypt a new file. This was not the case in 2.3 and is not the case in devel. On both v

[2017-09-18 15:10] machacekondra opened #30515 "ovirt_vms: Unable to attach disks to VM which is create from template"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ovirt_vms

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When using `disks` parameter to attach other disks to VM the attach of disks fails, because VM is being created. We need to wait until VM is created and then attach the disks.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Successf

[2017-09-18 15:12] ThomasSteinbach commented on #21188
bot_broken - please remove me from the maintainers list

[2017-09-18 15:17] ashikv opened #30516 "apt module uses apt-get --autoremove even if autoremove=no"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
apt
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian Jessie

##### SUMMARY
If aptitude is missing apt module falls back to using apt-get but uses an option --autoremove that some versions of apt-get do not understood

##### STEPS TO REPRODUCE

Set up a minimal Debian Jessie system, it won't have aptitude installed

[2017-09-18 15:19] ipspace opened #30517 "parse_cli could use better error message(s)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
parse_cli

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
parse_cli fails with a generic error message when called with a list argument (the value of registered **stdout** key) instead of a string argument (because one should use **stdout[0]**)

##### STEPS TO REPRODUCE
Sample playbook:
[code]

##### EXPECTED RESULTS
Ji

[2017-09-18 15:26] bcoca commented on #23349
Can you check with 2.4? There have been quite a few changes to hostvars that should affect the speed.

[2017-09-18 15:47] jean-christophe-manciot opened #30518 "yum does not work when python 2 is installed with another package than python2"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

Latest version from devel (2.5.0):
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
- host: Ubuntu 17.04 4.10
- target:
  + *NX-OSv 9k: 7.0(3)I6(1)**
- paramiko: 2.0.6

##### SUMMARY

On the target, python2.7 is available from python-core-2.7.2-r5.19 and yum module requires python2.
It should test the presence

[2017-09-18 15:51] Spredzy commented on #30513
Thank you for reporting this.

The error you're hitting is :

[code]

This error occurs because you have a version of `pyOpenSSL<0.15` as `X509Req.get_extensions()` was introduced in `pyOpenSSL==0.15`. This method is used to idempotency check.

A check has been introduced so this doesn't happen, you can find it here https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/crypto/openssl_c

[2017-09-18 15:52] PhilEv opened #30519 "ansible-playbook v2.4 slow performance - compared to v2.3.2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ansible controle node OS : Fedora26
Managed system OS:  Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY

Running the same playbook with the same set of options, inventory file, callback  and same configuration  results in sig

[2017-09-18 16:03] bcoca commented on #19966
yes, In the first case, this was due to race conditions in the app (dontgemestarted) , all actions HAD to happen in the master first, so inventory and actions were ordered accordingly, the play HAD to fail if the first host was not the master (had not been selected  or dropped out of play as unreachable).

in another case it was due to the nature of the DB replication configurations, which behaved

[2017-09-18 16:08] mkrizek commented on #30518
The error message is not about the python itself but about the yum python module: "python2 **yum** module is needed for this module".

I suspect `python -c "import yum"` fails?

needs_info

[2017-09-18 16:27] jean-christophe-manciot commented on #30518
On the host:
[code]
On the target:
[code]

[2017-09-18 17:52] strattner opened #30524 "Missing 'port' AttributeError when modifying existing VM network"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When attempting to modify the portgroup assignment of an existing VM, vmware_guest gives an error:
AttributeError: 'vim.vm.device.VirtualEthernetCard.NetworkBackingIn' object has no attribute 'port'
##### STEPS TO REPRODUCE

[code]

[2017-09-18 20:00] schmitch commented on #30513
hm. well that's bad since then i can't use macOS system provided pyOpenSSL, but thats fine.

another thing that now happend is that it will always print
[code]
however checking the variable that got returned:
[code]

so basically it prints changed, but it didn't change at all.

[2017-09-18 20:18] b2sweety opened #30527 "Access network device from Avocent servers"
I am trying to work on a scenario in which I want to access Cisco and Juniper network devices and run my ansible network modules like get facts, get config, push config commands on them through ansible. The network devices are connected via console ports to an Avocent AS6000 server. So from a CentOS machine which is my ansible host machine, I want to login to the Avocent Server and then access the

[2017-09-18 20:27] naftulikay commented on #28963
I have provided ample more details [on this StackOverflow question](https://stackoverflow.com/questions/46287669/failure-using-method-module-object-has-no-attribute-dumps).

[2017-09-18 20:32] strattner commented on #30524
Because the version Ansible is showing may not be completely accurate, as I had performed a 'git clone' in order to get some of the later features, like the ACI modules, I decided to start with a clean install. So I made a Docker container that has the latest devel branch (as of 30 minutes ago) and all of the necessary components, and ran the playbook again. Same error.
[code]

[code]

[2017-09-18 20:33] Spredzy commented on #30513
Could you please paste the playbook you used ?

Below a playbook I used and its ouput:

[code]

Its output:

[code]

As you can see the 2nd `openssl_csr` call did not change anything.

  * ansible_version:

[code]

[2017-09-18 20:42] ryansb commented on #30494
Unfortunately, I think we passed the option for making a code change, as we're on the last RC (as of about 6 hours before this issue). Regardless, thank you for bringing it up, and I think we've come up with a solution.

Because we're on RC5 already, what we'll do is leave it as-is in 2.4, but in 2.4.1 we'll undo the rename leaving the ec2_elb_lb and related modules as `stableinterface` and making

[2017-09-18 20:42] #30494 closed, assigned to nobody

[2017-09-18 20:43] #30442 closed, assigned to nobody

[2017-09-18 20:47] bcoca commented on #30527
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-09-18 20:47] #30527 closed, assigned to nobody

[2017-09-18 20:49] bcoca commented on #28963
if you run with 2.4 and -vvv you should see the stacktrace

[2017-09-18 20:52] jborean93 commented on #30442
This has been fixed in https://github.com/ansible/ansible/pull/30475 and will be backported for the next 2.3 release and 2.4.1

[2017-09-18 21:08] bcoca commented on #30518
so this is is due to the yum python bindings, they are not available as a package, they normally are installed as part of the system packages with the system's Python.

This library is not available as a separate package and must be compiled from source and manually installed.

So it is expected that the 'yum' module does not work with alternately built pythons.

[2017-09-18 21:20] gundalow commented on #30506
resolved_by_pr 30528

[2017-09-18 21:25] Spredzy commented on #23628
notabug

Explained above

[2017-09-18 21:38] #23628 closed, assigned to nobody

[2017-09-18 22:03] wilvk commented on #30268
@gurumaia @ericgrysko thanks for this. At a cursory glance it looks like instance_profile_name should not be in convert_list on lines 259-260. I'll investigate further and put a PR together tonight for this.

[2017-09-18 22:46] jrowen commented on #30518
I just ran into this issue with ansible-container (0.9.2) and Amazon Linux (2017.03).

[2017-09-18 22:49] Qaad commented on #17268
I can confirm the same issue exists in ansible 2.3.1.

[2017-09-18 23:04] #16665 closed, assigned to nobody

[2017-09-18 23:04] #25819 closed, assigned to nobody

[2017-09-18 23:06] rogerscuall opened #30529 "NXOS Facts error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
**nxos_facts**

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
NXOS

##### SUMMARY
There is a parsing problem in line 352 of ansible_module_nxos_facts.py when parsing parse_ipv6_interfaces. In my case the output of `show ipv6 interface` is empty.

##### STEPS TO REPRODUCE
just run `nxos_facts` to gather all subsets.

[2017-09-18 23:41] bcoca commented on #30503
for tower support https://access.redhat.com/

[2017-09-18 23:41] #30503 closed, assigned to nobody

[2017-09-18 23:45] jctanner commented on #30519
@PhilEv It's difficult to make an assessment here without an example playbook. There are a few areas where the performance could have degraded:

1. inventory
2. connection
3. privledge escalation
4. the module(s) befing called

Please provide a reproducer playbook or use ANSIBLE_DEBUG=1 to get timestamps for each phase and narrow down where the slowness occurs by comparing the output between both

[2017-09-18 23:49] bcoca commented on #30479
I get a proper error
[code]

[2017-09-19 00:03] #30499 closed, assigned to nobody

[2017-09-19 00:39] peppernicus opened #30534 "Large simple inventories are very slow to parse in ansible ≥ 2.3"
##### ISSUE TYPE
 - Performance problem

##### COMPONENT NAME
Inventory

##### ANSIBLE VERSION
Present in any version of ansible after 2.2.2, including 2.4 rc5 and devel as of Sep 18 2017.  The profiles below were captured in v2.4.0.0-0.5.rc5, but are similar to profiles in 2.3 and current devel.
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
OS X Sierra and CentOS 7

##### SUMMARY
An

[2017-09-19 01:28] jctanner commented on #30534
@peppernicus I committed a patch a few minutes ago that should eliminate a lot of the calls to get_hosts ...

https://github.com/ansible/ansible/commit/5aebcd4f7f4973936d351b615b25fe2aa19ff824

Could you retest with devel and let us know if that helps?

needs_info

[2017-09-19 02:11] tremblerz opened #30536 "Getting error with regex in replace module"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
**replace**

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default
##### OS / ENVIRONMENT
Ubuntu 16.04 Xenial

##### SUMMARY
This is partial content of my playbook.
[code]

##### STEPS TO REPRODUCE
As shown above.

When it is run for above specified file which has a line -
[code]
##### EXPECTED RESULTS
The given line should get replaced or m

[2017-09-19 02:20] tremblerz commented on #30536
Additional comment -
problem is with `replace` part since it is being treated as `\10.0.0.0` is getting treated as `\10` `.0.0.0`. I am not closing this issue because I guess the error still shouldn't have come. It will be awesome if case of wrong groups can be handled.

[2017-09-19 02:33] nrwahl2 commented on #30536
`\1` is a backreference.

[2017-09-19 02:36] peppernicus commented on #30534
Great start - 3x time improvement and a third less compares in the host objects linearally across the original test cases.
[code]

[2017-09-19 02:37] nrwahl2 commented on #30536
https://docs.python.org/2/howto/regex.html#search-and-replace

If you want to match group 1 instead of group 10, you need to use `\g<1>0.0.0.0`. The error is because there is no group 10.

[2017-09-19 03:37] nrwahl2 commented on #30524
Curious does it work if you reverse the order? What looks to be happening in the module code is that it's checking whether the NEW "Network 1" has a portKeys attribute (DVS) and then trying to pull a port attribute from the EXISTING "Network 1".

With `network_devices` coming from the passed-in module params and `current_net_devices` obviously coming from existing state...
Line 701 (enclosing loop

[2017-09-19 03:44] nrwahl2 commented on #30516
Yeah this looks problematic.
[code]

[2017-09-19 04:18] #30480 closed, assigned to nobody

[2017-09-19 04:36] jborean93 commented on #28039
@nwalke are you able to try out the PR https://github.com/ansible/ansible/pull/28995. This is a complete rewrite of the module to handle more features that were missing and fix up some issues with the current version. The options have changed but for your case you want to have something like

[code]

I did a test myself and it creates the task to run on those specific days as shown by the screensh

[2017-09-19 04:39] jborean93 commented on #27248
Hi @sebLopezCot are you able to try out https://github.com/ansible/ansible/pull/28995 and post your results on there to see if it does what you are looking for.

I am able to use it to create a task that runs at startup using the following task

[code]

This is the task it creates

![image](https://user-images.githubusercontent.com/8462645/30576037-46bc7c8e-9d48-11e7-99c8-6df85c87e60e.png)

[2017-09-19 04:42] jborean93 commented on #25478
The PR https://github.com/ansible/ansible/pull/28995 allows this behaviour.

By running the following playbook this is the output

[code]

[code]

[2017-09-19 04:44] jborean93 commented on #23649
The PR https://github.com/ansible/ansible/pull/28995 allows you to set pretty much any value that is allowed by Task Scheduler. @derangeer if you have some free time are you able to try it out and see if it works for you?

[2017-09-19 04:44] jborean93 commented on #23472
This should be fixed in the following PR https://github.com/ansible/ansible/pull/28995

[2017-09-19 04:53] behrangsa commented on #11594
Any ETAs? I want to read a binary file, convert it to base 64, and POST it using the uri module.

At the moment I have to use `command` and `curl`:

[code]

This is not ideal as sometimes I need to encode the binary file in Base64 and use it as the value of a JSON field.

[2017-09-19 05:41] trishnaguha commented on #30529
@rogerscuall this is fixed in 2.4 and devel. Closing the issue.
https://groups.google.com/forum/#!topic/ansible-project/A946L8Jlf_0

[2017-09-19 05:45] trishnaguha commented on #29707
resolved_by_pr #30396

[2017-09-19 05:51] #29707 closed, assigned to nobody

[2017-09-19 05:53] kostrzewa9ld opened #30540 "remote script directory is not removed from `sys.path` when `remote_tmp` is a link"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
* tempfile
* remote files handling in general

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ansible.cfg`:
[code]

##### OS / ENVIRONMENT
[code]
[code]

##### SUMMARY
When `remote_tmp` is a link it is not removed from `sys.path` in uploaded module. In case of `tempfile`,  it clashes with original python module which it uses.

##### STEPS TO

[2017-09-19 06:23] nrwahl2 commented on #30540
@kostrzewa9ld Can you test on the devel branch? The only place I can find the line you changed is in `executor/module_common.py` (not mentioned in this thread so far), which contains the following block of code:
[code]

[2017-09-19 06:26] alter commented on #10446
Any news here?

[2017-09-19 06:49] schmitch commented on #30513
Actually this is how I call it:
[code]

project_domains is basically just a list:
[code]

basically after that I run `LC_ALL=en ansible-playbook -i production letsencrypt.yml ` twice and every time it will say `changed` but only the console output, so not a really big deal.

I also can't call openssl_csr without LC_ALL=en since it can't parse date after, but I think that might be fixed already.

E

[2017-09-19 06:50] #30513 closed, assigned to nobody

[2017-09-19 07:39] sree1995v commented on #28978
For me this error.pls help

[code]

[2017-09-19 07:45] kostrzewa9ld commented on #30540
@nrwahl2, that's exactly the place. I have tested it on `2.5.0` and it works. Closing the issue.

[2017-09-19 07:45] #30540 closed, assigned to nobody

[2017-09-19 08:10] trishnaguha commented on #28079
@saichint would you mind giving #30545 a try? The patch creates file locally for the snapshots.

[2017-09-19 08:25] dagwieers opened #30546 "Windows: Unsupported parameters don't cause error"
##### SUMMARY
Contrary to python modules, Windows modules don't fail if an option is provided that is unsupported. As a consequence typos in parameter names go unnoticed, and may cause confusion or unexpected behavior which is hard to troubleshoot.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Windows modules

##### ANSIBLE VERSION
v2.5

[2017-09-19 08:28] dagwieers commented on #30504
I know there's been changes to the copy action plugin. Can you verify if this problem still exists in Ansible v2.4 ?

[2017-09-19 08:37] dagwieers commented on #30171
I am going to close this issue. We now have the **wait_for_connection** action plugin that basically does what you require. And there's the upcoming **reboot** action plugin that will do both a reboot and a wait for the connection to work again (and a test to see if the uptime was actually reset).

[2017-09-19 08:37] #30171 closed, assigned to nobody

[2017-09-19 08:37] zarr12steven opened #30547 "Can't use ISO images file with CD-ROM in proxmox_kvm module"
##### ISSUE TYPE

 - Bug report
##### COMPONENT NAME

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]

##### SUMMARY

I want to create vm, at the same times needs insert `CentOS-7-x86_64-Minimal-1611.iso` to CD-ROM.

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS

[code]

See the web page...
I can't see the CD-ROM

![](https://i.imgur.com/e

[2017-09-19 08:58] Akasurde commented on #30328
resolved_by_pr #30380

[2017-09-19 09:06] bartmeuris commented on #22397
I get this warning all over the place now. I have a generic role that is 'extended' in specialized roles by specifying some variables when defining this generic as a dependency like this in the `meta/main.yml`:

[code]

The `custom_configuration_needed` is then a default or can be overridden per-host or per-group when including the specialized role.

Then, in the generic role I have steps like thi

[2017-09-19 09:11] StalkAlex commented on #30504
No, I can't verify it for 2.4 at this time.

[2017-09-19 09:19] dagwieers commented on #30504
That's fine, we'll wait.

needs_info

[2017-09-19 09:21] yajo commented on #15249
Then, to fix [this problem](https://github.com/ansible/ansible/issues/15249#issuecomment-287962228), Ansible should allow and parse [YAML application-specific local tags](http://www.yaml.org/spec/1.2/spec.html#tag/local/) that force a type cast *after* the value has been jinja2-evaluated.

[2017-09-19 09:27] yajo opened #30548 "docker_service: defined `cpus` does not get casted into float"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Defining a service and trying to calculate the cpus parameter fails with:

[code]

Possibly related to https://github.com/ansible/ansible/issues/17992.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The `cpus` pa

[2017-09-19 09:30] trishnaguha commented on #27674
@mikewiebe would you mind giving the PR https://github.com/ansible/ansible/pull/30549 a try and let us know?

[2017-09-19 09:40] dagwieers commented on #15249
@Yajo Feel free to create a proposal to detail how that would work at: https://github.com/ansible/proposals

[2017-09-19 09:43] elaurijssens commented on #28916
Anything on this one?

[2017-09-19 09:49] dagwieers commented on #30548
If 'cpus` is defined as a float in the argument_spec, this would not be a problem. I assume today it is defined as an int, or not specified at all ?

[2017-09-19 09:54] Renji-FR commented on #30284
I think this issue is already opened:
#29008

[2017-09-19 09:56] Renji-FR commented on #29008
@bcoca @jimi-c do you have any update about this issue?

[2017-09-19 10:11] jean-christophe-manciot commented on #30518
My bad: installing yum package is enough on Ubuntu.

[2017-09-19 10:11] #30518 closed, assigned to nobody

[2017-09-19 10:34] jhawkesworth commented on #30546
This is a good point, I just hit this a couple of days ago too.

[2017-09-19 10:38] alexppg commented on #30268
I too have this error.

[2017-09-19 10:56] yajo commented on #15249
Done: https://github.com/ansible/proposals/issues/72

[2017-09-19 11:00] fredyr commented on #18563
I am also seeing this on 2.4. Downgraded Ansible to 2.2.2 solves the issue for me.

[2017-09-19 11:04] maheshd2 commented on #13262
+1 This feature will be very much helpful.

[2017-09-19 11:09] jleclanche opened #30550 "ansible-vault decrypt --output - no longer working in ansible 2.4"
##### ANSIBLE VERSION
[code]

In ansible 2.3.x, it was possible to do `ansible-vault decrypt example.txt --output -` to get the decrypted output into stdout. In fact, that is advertised in `ansible-vault decrypt --help`:

      --output=OUTPUT_FILE  output file name for encrypt or decrypt; use - for stdout

In Ansible 2.4, this is bugged and results in a file named `-`.

[2017-09-19 11:31] jleclanche commented on #30550
cc @bcoca because this is a regression due to #29663 (525c318678a737a2fafc1b010b93ea7725d89215):

[code]

`CLI.unfrack_path` will always turn `-` into `/path/to/current/directory/-` which then fails comparisons to `-` in `parsing/vault/__init__.py`.

[2017-09-19 11:44] elaurijssens commented on #28916
Looks like my azure-mgmt-network was outdated. See https://github.com/ansible/ansible/blob/stable-2.4/packaging/requirements/requirements-azure.txt

[2017-09-19 11:44] #28916 closed, assigned to nobody

[2017-09-19 12:05] ManchukondaManoj opened #30553 "Permission Denied while connecting to another system using inventory in ansible"
This is my hosts file in etc/ansible/hosts
-------------------------------------------------
[prasad]
192.168.1.12

# This is the default ansible 'hosts' file.
#
# It should live in /etc/ansible/hosts
#
#   - Comments begin with the '#' character
#   - Blank lines are ignored
#   - Groups of hosts are delimited by [header] elements
#   - You can enter hostnames or ip addresses
#   - A hostname/ip

[2017-09-19 12:18] ManchukondaManoj commented on #30553
My Ansible version

manoj@manoj-H110M-S2:~$ ansible --version
ansible 2.3.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]
----------------------------------------------------------------------------------------------------------------
OS is Linux ubuntu 16.04
Issue i

[2017-09-19 12:19] dagwieers commented on #26543
Please look into the **wait_for_connection** action plugin,  which will do an end-to-end test to determine whether the connection to the target is working again.

Also, we are working on a **reboot** action plugin that does a reboot, and a wait for the connection to work again, before continuing the playbook to guarantee the target is working correctly again. As such, I am closing this issue.

[2017-09-19 12:19] #26543 closed, assigned to nobody

[2017-09-19 12:23] dagwieers commented on #16437
So a simple solution for this is running the **playbook** using **flock**, this will hold a lock until the playbook finishes.

A best practice for cron jobs is to run them using flock like this to avoid starting more cron jobs when a previous job is still running/stalls.

[2017-09-19 12:27] dagwieers commented on #14413
So there is a **wait_for_connection** action plugin that will wait until the system becomes available again and validates this by doing an end-to-end test. This is more reliable than testing if a port is responding again.

We are working on a new **reboot** action plugin that will perform a reboot, will wait for the connection to start working again and finally checks if the system was actually re

[2017-09-19 12:34] hristovpln commented on #25653
+1

[2017-09-19 12:39] dagwieers commented on #25157
No this was specific to the old implementation.

[2017-09-19 12:39] #25157 closed, assigned to nobody

[2017-09-19 12:40] #23472 closed, assigned to nobody

[2017-09-19 12:40] PhilEv commented on #30519
@jctanner I agree that is required and will provide the info.
Note the inventory was one file with one host.  More to come.

[2017-09-19 12:43] #24511 closed, assigned to nobody

[2017-09-19 13:05] dagwieers commented on #30426
needs_contributor

[2017-09-19 13:06] dagwieers commented on #30553
Please use the original issue template and update the original report.

Also learn how to use Markdown syntax so the text is readable.

[2017-09-19 13:09] gcs-github commented on #29008
I seem to be hitting the same problem. host_vars and group_vars used to be read (in 2.1, in 2.2, in 2.3) when adjacent to my master, parent playbook. Not anymore. I had to create symlinks to my group_vars and host_vars directories next to my inventory ini files in order to work around this regression.

[2017-09-19 13:14] dagwieers commented on #30375
Well, we probably could return the real `src` however, the module itself doesn't know the value, it only knows the `original_basename`.

[2017-09-19 13:27] Jorge-Rodriguez commented on #16437
@dagwieers Using flock seems to only address the OP use case, which then again does solve the OP's problem, however, @Ehekatl proposes a much more versatile solution.

[2017-09-19 13:33] ephesused commented on #30284
Thanks for the pointer.  I agree that this is a duplicate of #29008.

[2017-09-19 13:33] #30284 closed, assigned to nobody

[2017-09-19 13:35] dagwieers commented on #16437
@Jorge-Rodriguez I am not dismissing the original request, just providing one way to do it (which is free from issues, which any in-playbook solution will have on sudden failure or interruption). Otherwise I would have close the issue :-)

[2017-09-19 13:42] dagwieers commented on #16437
If anyone wants to take this forward, you can create a proposal at: https://github.com/ansible/proposals

The same is already possible from within a play, but doing this on the play-level means the scope could be different for each of the included plays. Remember that tasks run on a per-target basis, and a lock-file is something you would do within the playbook context, not per necessarily target.

[2017-09-19 13:55] dagwieers opened #30555 "win_domain_membership: MODULE FAILURE on DC issues"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_domain_membership

##### ANSIBLE VERSION
v2.5 (and earlier)

##### SUMMARY
If the DC cannot be contacted (e.g. because it is down) when attempting to join, Ansible fails with a MODULE FAILURE as the exception was not caught. The returned information looks like this:

[code]

[2017-09-19 13:59] gcs-github commented on #26741
This seems like a legitimate regression... which I've just hit. Please consider reopening as a bug.

[2017-09-19 14:05] s-hertel commented on #30400
Hi @gsansom, thanks for opening an issue for this. I'm having trouble reproducing this. Can you provide a playbook to reproduce the bug, so I can fix it?

[2017-09-19 14:32] bcoca commented on #29008
So the big change was 'reading group/host_vars on startup' to 'reading on demand', which changed from 'initial playbook' to 'current playbook', which for some cases makes more sense, but we do think that this should not be an either/or ... both (or more) should be read.

The fix we are planning does 2 things:
 - keep a 'stack' of playbook paths, starting with the initial playbook and ending with t

[2017-09-19 14:37] avishefi commented on #30268
Same here, it delays working with ALB using ec2_lc & ec2_asg. Is there a temporary fix?

[2017-09-19 14:37] SteveWunderbar opened #30556 "Copy module with option "decrypt: no" causes error when file already exists"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Module: Copy
Option: decrypt: no #new in version 2.4.

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When copying a (on the remote host non-existing) ansible-vault encrypted file with the copy module everything works fine and the copied file is encrypted (as it should be).
When the file already exists however, an erro

[2017-09-19 14:48] gurumaia commented on #30268
@avishefi, I've decided to wait for the official fix, instead of looking into it more in-depth and proposing a fix. But in the meantime, I've been using the workaround I've described in the report, which is to add this line:
[code]
after the try on line 317. You could try that, although it's obviously not an elegant solution.

[2017-09-19 14:52] dagwieers commented on #18861
@j3ffrw We think the recent refactoring of the **win_firewall_rule** fixes this issue. As such I am closing this.

If you still have a problem in Ansible v2.4, let us know.

[2017-09-19 14:52] #18861 closed, assigned to nobody

[2017-09-19 14:54] dagwieers commented on #13095
@nitzmahone This is your trimestrial update request ;-) How far are we with Nano support ? When can we expect to close this ticket ?

[2017-09-19 15:03] dachshund-digital commented on #18188
I see this same behavior with just 3 hosts, using ansible 1.7.2 on debian 9 (stretch) on 2 VMware VMs, and debian 8 (jessie) on a raspberry pi.  Completely random when it happens.

[2017-09-19 15:11] rogerscuall commented on #30529
Hi @trishnaguha, I don't think is solved just tested in version 2.4 exactly the same problem. This is very particular to this module.

[2017-09-19 15:13] strattner commented on #30524
Is the underlying issue that if the new network is associated with a VDS, the module assumes the existing network is also associated with a VDS? The existing network in my case is merely "VM Network", the default 'standard network'.

As for 'reversing the order', I don't feel comfortable/qualified in modifying the module code myself, but I'm happy to test any changes recommended, so long as the sp

[2017-09-19 15:19] s-hertel commented on #30400
needs_info

[2017-09-19 15:22] nrwahl2 commented on #30524
Yes that's how it appears to me. I'm pretty green on VMware networking and not suggesting you reverse the order to fix it -- I'm suggesting that this error wouldn't occur for the reason you just described. And I mean reversing the order of networks in the playbook, for clarity.

I'll leave the fix to someone who better understands the implications of changes to this method :)

[2017-09-19 15:24] nrwahl2 commented on #30524
And hey, you can always checkout and modify the module code on your own box until you get it right and can submit upstream, if you have a VMware environment you don't mind screwing up.

[2017-09-19 15:40] sseide opened #30557 "clustering/consul_acl.py: cannot read or create rules for "node" objects (and other)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module clustering/consul_acl

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing special - bug works out of the box

##### OS / ENVIRONMENT
Linux / amd64

##### SUMMARY
The consul_acl module is missing some rule types to set acls:
Valid rule types are: key, agent, service, node, event, query (and some more)

Currently the only types suppo

[2017-09-19 15:45] PREM1980 opened #30558 "AnsibleUndefinedVariable - ansible_all_ipv4_addresses is undefined"
- Bug Report

Name of the module:- template

#### ANSIBLE

ansible version :- ansible 2.3.1.0

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
MAC

##### SUMMARY

##### STEPS TO REPRODUCE

playbook.yaml
[code]
### roles tasks:-
[code]
### Vagrant file:-
[code]

Error:-
[code]
##### EXPECTED RESULTS
The ubuntu should be created without any issues.

##### ACTUAL RESULTS
[code]
Ansible failed to co

[2017-09-19 15:51] bcoca commented on #30558
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-09-19 15:51] #30558 closed, assigned to nobody

[2017-09-19 15:56] ssbarnea commented on #21285
This is still an issue with Ansible 2.4.0, if that is not supported for good reasons it should not accept with_items parameter anyway.

[2017-09-19 16:02] collinforsyth commented on #30268
Having this issue as well.

[2017-09-19 16:07] philicious commented on #25475
@jhawkesworth thanks for your message and sorry for the late response. was on a surf trip.
I really would like to help you testing, however I am not working for that project anymore where I had to deal with provisioning Win workstations with ansible.

[2017-09-19 16:10] lassizci commented on #23349
To me, it seems like 2.4 continues to be even slower.

This: https://github.com/lassizci/ansible-perftest
run with
[code]

Takes 1m31s - 1m35s with `2.3.1.0` and
2m14s - 2m17s with `2.4.0.0`

so it's a slowdown by 41-50%. Quick tests on my real life playbooks seem to be in line with that - even the ones that don't use dynamic variable names or variables for other hosts' hostvars.

[2017-09-19 16:14] bcoca commented on #23349
one fix went into devel and will make 2.4.1, it is still slower but not as much

[2017-09-19 16:14] strattner commented on #30524
I do have a test environment and I'd be willing to mess with the code, but it will take a bit of time for me to become familiar enough with the code to make changes without worrying I'll break something else in the process. But it might be as simple as checking hasAttr for the 'port' attribute first - if the existing network has it but the new one does not, then ```net_change_detected = True```.

[2017-09-19 16:21] helldorado commented on #30547
The good syntax for your example is:

**`ide: '{"ide0":"local:iso/CentOS-7-x86_64-Minimal-1611.iso,media=cdrom"}'`**

`ide` => The dict
`ide0` => where you want to attach your IDE `(0-3)`
`local` => Your ISO storage. you can show the content with `cat /etc/pve/storage.cfg`
`:iso` => The content type
`CentOS-7-x86_64-Minimal-1611.iso` => Your ISO file
`media=cdrom` Your media type. Can take `cdrom`

[2017-09-19 16:22] MichalTaratuta commented on #22397
I can't eveluate a dynamic variable without the **{{}}**, I can't get this working witout the curly brackets:

[code]

Without the brackets it's just a string which will be evaluated as TRUE.

It's really dissapointing to see that you want to remove the only way to evaluate variable within the `when` .

[2017-09-19 16:31] sivel commented on #22397
@bartmeuris in your example, that warning will no longer show up in ansible v2.4 which is soon to be released

@MichalTaratuta you should be using the following instead:
[code]

The fact that your example worked before was unintentional, and is not best practice for building a variable name to check.

[2017-09-19 16:36] EnorMOZ commented on #27960
Looks like 2.4 just got released.

[2017-09-19 16:41] bcoca commented on #30553
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-09-19 16:41] #30553 closed, assigned to nobody

[2017-09-19 16:42] saichint commented on #28079
Seems good. creates compare files properly

[2017-09-19 16:47] stevenkaras opened #30561 "dconf module list manipulation support"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
dconf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Irrelevant

##### OS / ENVIRONMENT
Running from Ubuntu 14.04, managing Ubuntu 14.04, 16.04

##### SUMMARY
The new dconf module is great, but many dconf values are lists.
Specifically, in this case, I'd like to use ansible to disable a plugin in compiz.
First class support of these would

[2017-09-19 16:56] lassizci commented on #23349
The same set seems to take 2m12s - 2m14s with `ansible 2.5.0 (devel b9120dfd97)`

[2017-09-19 16:57] sebLopezCot commented on #27248
Hi @jborean93, I will test this out in a day or so. Thanks a ton for putting effort towards adding the functionality!

[2017-09-19 17:01] mxlan commented on #30375
@nrwahl2 So, the actual use case here was downloading and unpacking an archive on the system the playbook is executed from before uploading contents to someplace like S3. So then I would treat the system as a remote... ah okay.

[2017-09-19 17:05] nrwahl2 commented on #30375
Like Dag said this might still be less than ideal behavior that can be tuned... But if `remote_src` gets you by, it gets you by :)

[2017-09-19 17:09] nrwahl2 commented on #30375
I won't have a chance for a little while to see what that would take. @dagwieers, think it'd be feasible?

[2017-09-19 17:11] mxlan commented on #30375
@nrwahl2 @dagwieers I see now. My issue stemmed from a confusion between use-case and intended use for the module. using remote_src: yes does in fact display expected behavior. Thank you.

[2017-09-19 17:12] yaplej opened #30562 "ios_config: entire section detected as changed?"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS Linux release 7.3.1611 (Core)

##### SUMMARY
Each run of detects the entire block has changed and re-configures it.

##### STEPS TO REPRODUCE
ansible-playbook -vvvvvv -i production detect-mac.yml --diff

[code]

https://pastebin.com/7DbtPSGu
https://past

[2017-09-19 17:20] #30536 closed, assigned to nobody

[2017-09-19 17:22] onorua commented on #29919
state file:
[code]

execution:
[code]

please advice what could we debug output is here:
[code]

[2017-09-19 17:26] bcoca commented on #11594
@behrangsa use a slurp task

[2017-09-19 17:37] jmvbxx commented on #29084
I just got this error right now. I did attempt to set `ansible_python_interpreter` (still not sure where the best place to set it is) but have since removed all references to it yet I'm still getting the error now

[code]

[2017-09-19 17:38] StivOstenberg commented on #13637
Here is how I do it, maybe redundant, but hey.  Wanted to make sure things propagated.

AWS_PROFILE=cmsstg ansible-playbook filebeat.yml --extra-vars "AWS_PROFILE=cmsstg" -i inventory

[2017-09-19 17:41] LuckySB commented on #26585
try on v 2.4.0.0 release, all right, this bug do not reproduce
[code]

[2017-09-19 17:49] fhlmbrg opened #30564 "ACI modules broken REST API documentation links"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

The new ACI modules, for instance **aci_tenant**.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

All platforms

##### SUMMARY

The links pointing to Cisco Devnet are broken.

Example https://developer.cisco.com/media/mim-ref/MO-fvTenant.html .

##### STEPS TO REPRODUCE

[code]

Open URL https://developer

[2017-09-19 18:02] EvanK commented on #30536
There isn't a reasonable way for us to handle the result of every bad `regexp` or `replace`, but we could add an example to the docs using the `\g<N>` notation (which notably also works for named matches, ala `\g<somecapturename>`)

[2017-09-19 18:03] rfleschenberg commented on #16437
As far as I see, flock doesn't solve the problem if there is potentially more than one ansible control machine. This issue is about having a lock file on the target machine.

[2017-09-19 18:14] dagwieers commented on #16437
A rescue block doesn't solve your problem either, because you can't ensure the lockfile is always released.
Feel free to make that proposal.

[2017-09-19 18:18] shankerrhce opened #30566 "lvol - logical volume extension with resizefs parameter"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

lvol module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
lvextend has an option to resize the filesystem but unable to find the same parameter with lvol module.

Example:

lvextend --resizefs --size +9GB /dev/vg00/lvUsr

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULT

[2017-09-19 18:31] dagwieers commented on #30564
Great, they moved the documentation without redirects.

The complete reference is also missing from: https://developer.cisco.com/media/mim-ref/
It seems to have been moved here: https://developer.cisco.com/site/aci/docs/apis/apic-mim-ref/

@schunduri Can you please ask around and make sure they at least provide redirects to the new location ?

[2017-09-19 18:44] avishefi commented on #30268
@gurumaia Thanks, I ended up doing what @wilvk recommends - removing 'instance_profile_name' from the convert_list

[2017-09-19 18:50] jmighion opened #30567 "Network errors are dropped if the prompt is not in the current buffered response"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

network_cli
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A
##### SUMMARY

If a device sends back a large error message the prompt might not be in the same response window that's being checked and then the error that was detected gets dropped. The problem is that when the regex for stderr is ran, if some

[2017-09-19 19:03] shankerrhce commented on #30566
- lvol:
    vg: vg00
    lv: lvUsr
    size: +9GB
    resizefs: True

expecting the above format for lvol extension of a vol

[2017-09-19 19:08] nrwahl2 commented on #30524
Yeah at first glance it looks like changing
[code]
to
[code]
would take care of the immediate issue.

It looks like the corresponding `else` block for a standard vSwitch handles it a bit differently with an `isinstance` call:
[code]

I lean a bit more toward an `isinstance` and some minor restructuring, for greater clarity of intent.

[2017-09-19 19:30] fernandoacorreia commented on #23864
@jleclanche, I have the same issue. This is my description of the problem:

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes:

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04, managing `localhost`.

##### SUMMARY

##### STEPS TO REPRODUCE

With a playbook like this one:

[code]

run `ansible-playbook`.

##### EXPECTED RESULTS

[2017-09-19 19:30] dagwieers commented on #23863
So it seems to be a network-related problem rather than a WinRM or Windows related problem (a routing problem or a firewall issue). Maybe even a Docker-related problem (interface issue), or a problem with the Windows host (no longer connected to the network or routing issue to Docker ?).

Can you verify that you can connect to the WinRM port (usually 5986 for HTTPS).

needs_info

[2017-09-19 19:32] basictheprogram commented on #23863
Does the information list at [provision_docker](https://github.com/chrismeyersfsu/provision_docker) help?

Specifically adding routes (towards the bottom) ?

[2017-09-19 19:33] hdansou commented on #23863
When the driver was installed, the network probably dropped and killed the winrm connection.

[2017-09-19 19:50] srosenf opened #30570 "S3 Module With Addressing Style"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

s3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

 RHEL 7.3 (Maipo)

##### SUMMARY

When using the s3 module and a non-aws server I am unable to specify the "address_style=path" parameter that some of the non-aws s3 servers use. I believe this is causing a connection refused error.

My assumption since this is usi

[2017-09-19 19:54] max-nrgene commented on #24289
so what's going on with this? @lwade ? @tgerla ?

[2017-09-19 20:02] bit opened #30571 "python3 - lxc_container broken, files are opened with 'b' but treated as strings"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

cloud/lxc/lxc_container.py

##### ANSIBLE VERSION
git master (2.5.0)
##### CONFIGURATION
ANSIBLE_NOCOWS(env: ANSIBLE_NOCOWS) = True
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT

Control Debian/Sid
Target: Ubuntu/17.04

##### SUMMARY

Python 3 since file is opened as binary but later used as text
[code]

####

[2017-09-19 20:03] enrh commented on #30550
After upgrading PIP package ansible-vault to 1.0.5, this function is no longer working for me. Multiple systems, CentOS and Fedora. Could this be related?

[code]

[2017-09-19 20:10] omgjlk opened #30574 "http://docs.ansible.com/ansible/latest/guide_docker.html lists invalid options for docker connection plugin."
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

docker connection module, docker detailed guide.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

There are no changed/added/removed configs.

##### OS / ENVIRONMENT

N/A
##### SUMMARY

The guide lists a variable, `docker_host`, that ostensibly is used to point docker at a remote host. This variable is not used at all within Ansi

[2017-09-19 20:10] alexfeig commented on #22222
Yep this happens to me with 2.3.2.0 on 16.04 as well.

[2017-09-19 20:10] colinjc opened #30575 "ansible-vault edit and encrypt output different payload format version"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When I encrypt a file with ```ansible-vault encrypt vault_name --vault-id staging@vault_pass``` it creates a file with the header
```$ANSIBLE_VAULT;1.2;AES256;staging```
When editing a vault file with ```ansible-vault edit vault_name --vau

[2017-09-19 20:14] jleclanche commented on #30550
No that doesn't seem related.

[2017-09-19 20:14] jleclanche commented on #30550
No that doesn't seem related. You should file a separate issue for that.

[2017-09-19 20:16] sivel commented on #30574
I don't believe the use of `docker_host` in that guide is meant to imply it works with the docker connection plugin.

I believe it is referencing the standard `docker_host` argument that the individual modules utilize.

There does not seem to be any information pertaining to the docker connection plugin in that guide.  The only location that I know of that actually references the docker connection

[2017-09-19 20:19] omgjlk commented on #30574
You make excellent points. My brain was already on "connection method" and didn't fully grasp what the page was all about. I'll close this down.

[2017-09-19 20:19] #30574 closed, assigned to nobody

[2017-09-19 20:28] rfleschenberg commented on #16437
Yes, having a way to make sure the lockfile is always released is the point of this issue :)

[2017-09-19 20:44] arbabnazar opened #30576 "aws_s3 module error with version id None does not exist"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`aws_s3`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
``` Mac OS X and Ubuntu```

##### SUMMARY

I have simple task to download file from s3 bucket which works fine with Ansible 2.3, when I have upgraded the ansible from 2.3 to 2.4, it complain that I need to use the aws_s3 module instead of s3 which I did b

[2017-09-19 20:46] basictheprogram commented on #29072
From the sprint today.

**Installing** Draftsight 2017.03 on Windows 7 works via win_chocolatey

Upgrading reports a failure but the DraftSight.2017.03.MsiInstall.log here:

    https://gist.github.com/basictheprogram/74e167cc7ff6f61a8ae78a1fad708895

Would suggest success.
[code]

[2017-09-19 21:03] jwitko opened #30578 "Bug: Module elb_application_lb returns MODULE FAILURE with KeyError"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module: elb_application_lb

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A
Trying to control AWS objects

##### SUMMARY
I am attempting to use the "elb_application_lb" over a triple-nested loop.  Upon attempted ELB creation the module fails and errors with a "KeyError".

##### STEPS TO REPRODUCE
https://gist

[2017-09-19 21:17] nikoe14 commented on #30268
I have the same issue, but... works fine in OSX but not in AmazonLinux, trying to find a workaround...

[2017-09-19 21:18] s-hertel commented on #30576
Adding a note about this bug:
Prior to porting this module to boto3 object: "/path/to/object" refered to bucketname/path/to/object. In 2.4 this became bucketname//path/to/object.

[2017-09-19 21:19] arbabnazar commented on #30576
documentation is incorrect here: http://docs.ansible.com/ansible/devel/aws_s3_module.html

The leading / in the object argument should be omit.

This example work for me:

[code]
Note the `object` argument doesn't have leading / in it.  Thanks @s-hertel for help

[2017-09-19 21:39] #30491 closed, assigned to nobody

[2017-09-19 21:51] s-hertel commented on #30576
I've make a bug fix for devel (currently 2.5) and a backport to 2.4 to make it in to 2.4.1.

[2017-09-19 21:59] dagwieers commented on #25475
So looking for this specific error message **"A more secure authentication method is required for this server"** it seems your AD is configured to now allow simple binds (or unencrypted authentication) and AD does not like this.

[One of the links](https://technet.microsoft.com/en-us/library/dd941849(v=ws.10).aspx) I got back from Google specifies this:

And provides insight on what you have to va

[2017-09-19 22:14] naftulikay opened #30583 "Backwards Incompatible get_vars Change"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`ansible.vars.VariableManager.get_vars` ([2.3.2.0](https://github.com/ansible/ansible/blob/v2.3.2.0-1/lib/ansible/vars/__init__.py#L203) vs [2.4.0.0](https://github.com/ansible/ansible/blob/v2.4.0.0-1/lib/ansible/vars/manager.py#L200))

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.3.

##### SUMMA

[2017-09-19 22:27] jhawkesworth commented on #29072
searching for 1603 in that msi install log shows

Info 1603.The file C:\Program Files\Dassault Systemes\DraftSight\bin\Qt5Core.dll is being held in use by the following process: Name: dsHttpApiService, ID: 3020, Window Title: (not determined yet).  "Close that application and retry.
Info 1603.The file C:\Program Files\Dassault Systemes\DraftSight\bin\Qt5Network.dll is being held in use by the foll

[2017-09-19 22:33] bcoca commented on #30583
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.
As the first paragraph in the docs states http://docs.ansible.com/ansible/latest/dev_guide/developing_api.html, the API is not meant for

[2017-09-19 22:33] #30583 closed, assigned to nobody

[2017-09-19 22:34] dagwieers commented on #20032
So we looked at this issue and decided we need to refactor this module a bit. We also need integration tests to ensure it is working correctly in the future too. So that's what our focus will be on, after that this issue should be resolved. As soon as I have more information I will share it here.

[2017-09-19 22:35] jhawkesworth commented on #22272
@vignesh-paramasivam @jenciso @dlibs
we discussed this during the sprint call.  @basictheprogram no longer able to reproduce.
are you still able to reproduce?

needs_info

[2017-09-19 22:35] dagwieers commented on #20625
So we looked at this issue and decided we need to refactor this module a bit. We also need integration tests to ensure it is working correctly in the future too. So that's what our focus will be on, after that this issue should be resolved. As soon as I have more information I will share it here.

[2017-09-19 22:37] jhawkesworth commented on #22660
discussed at the sprint meeting.
I plan to elaborate docs on credential delegation and add more info to examples section of win_chocolatey.

[2017-09-19 22:38] dagwieers commented on #24884
@garymcwilliams @drfickle We discussed this issue and decided we first need to find a way to reproduce this issue before we can attempt to fix it. I am unable to reproduce this on Windows 2012 R2. Any help with being able to reproduce this is appreciated.

Also, we plan to improve the documentation related to privilege escalation, WinRM restrictions and alternative methods in order to make it easi

[2017-09-19 22:40] sivel commented on #27520
It looks like when the connection plugin is instantiated the `play_context` has `None` for `remote_addr` so the host specified is `None` which causes the ControlPath to be incorrect.

Not sure if we can use `targeted_host` here or whether it needs addressed elsewhere.

[2017-09-19 22:40] dagwieers commented on #20505
We looked into this issue today, and two things are required moving forward:
1. ~We need to update the win_environment module to follow the latest conventions~ **done**
2. ~We need to update the docs to point at this module as the reference module~ **done**

[2017-09-19 22:43] jhawkesworth commented on #23863
@yop190 Discussed at the sprint call - @hdansou's suggestion above seems plausible as anything that interrupts network connection is likely to break the winrm communications.

Could you try running using async, or via a scheduled task?

needs_info

[2017-09-19 22:46] jhawkesworth commented on #26385
Discussed at the sprint.  @CFSworks - can you try using 'become' to see if this fixes?
If so I will document it in win_chocolatey examples.

needs_info

[2017-09-19 22:48] acarrillo opened #30585 "win_copy: doesn't identify encrypted files in 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
(.testenv) acarrillo /code/ansible $ ansible-config dump --only-changed
ANSIBLE_NOCOWS(/code/ansible/ansible.cfg) = True
DEFAULT_GATHERING(/code/ansible/ansible.cfg) = smart

##### OS / ENVIRONMENT
(.testenv) acarrillo /code/ansible $ lsb_release -a
No LSB modules are availab

[2017-09-19 22:52] naisanza opened #30586 "YAML inventory - Expected key=value host variable assignment"
##### ISSUE TYPE

 - Documentation Report
 - Maybe bug?

##### COMPONENT NAME

Ansible Inventory YAML

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Vanilla ansible.cfg, no changes

##### OS / ENVIRONMENT

Ubuntu 16.04 to -> Proxmox Ubuntu 16.04 LXC

##### SUMMARY

Following the documentation for YAML inventories, the ansible-playbook errors on on the `vars:` syntax. Saying to use `ansible_us

[2017-09-19 22:52] jhawkesworth commented on #27155
Discussed at sprint.
We suspect it might be possible using 'become' to run as a privileged user - please can you try using 'become'.  If it works I will add to module examples.

needs_info

[2017-09-19 22:54] jhawkesworth commented on #29072
also from sprint discussion I will attempt to document known limitations imposed by winrm.  Some are discussed here http://www.hurryupandwait.io/blog/safely-running-windows-automation-operations-that-typically-fail-over-winrm-or-powershell-remoting

[2017-09-19 22:57] jborean93 commented on #27155
I haven't used chocolatey to install Office but I know you can use the normal install msi without anything special. Chocolatey could be doing something special or calling it in a different way than I did in the past so it could be it.

For SQL Management Studio, considering the normal SQL Server install requires credential delegation (CredSSP/Kerberos with delegation/become) I wouldn't be surprise

[2017-09-19 22:59] willthames commented on #29643
needs_contributor

[2017-09-19 23:10] jctanner commented on #30534
@peppernicus can you test the patch in https://github.com/ansible/ansible/pull/30587 ?

needs_info

[2017-09-19 23:12] bcoca commented on #30586
Actually, you get 2 errors, 1 when it tried to read as YAML, since that failed, it also tried to read as ini file.

This is the error from the YAML parser .. though not very helpful.
`ERROR! Attempted to read "host-yaml" as YAML: 'NoneType' object is not iterable`

I tested the file posted above and that seems to work fine with 2.4, testing with 2.3

[2017-09-19 23:14] bcoca commented on #30586
hrmphf, 2.3 does not like the empty 'hosts:' entry, this should work for you:
[code]
run with 2.3
[code]

[2017-09-19 23:19] bcoca commented on #30586
You can also test fix from PR above

[2017-09-19 23:21] jhawkesworth commented on #20369
Discussed at the sprint @dagwieers will attempt to reproduce.

[2017-09-19 23:25] jhawkesworth commented on #25265
Discussed at the sprint, @dagwieers will attempt to refactor this module.

[2017-09-19 23:29] jhawkesworth commented on #27155
I was able to install office using become as follows
command line:
`ansible-playbook 27155.yml -K`

[code]

[2017-09-19 23:41] naisanza commented on #30586
@bcoca I just discovered that as well after trying a few different simple configurations. Removing the empty keys ended up working!

[2017-09-19 23:41] #30586 closed, assigned to nobody

[2017-09-19 23:47] rcodesmith opened #30590 "Add support for configuring SNS PlatformApplication"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- AWS SNS

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Any

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Request to add support for configuring SNS PlatformApplication objects, which are used to push mobile notifications via SNS.
Ref: http://boto3.readthedocs.io/en/latest/reference/services/sns.html#platformapplication

##### STEPS TO REPROD

[2017-09-19 23:52] ifosch opened #30591 "Ansible 2.4.0.0 pip install ends with Segmentation Fault"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
This is a bug when installing with `pip`.
Once pip reports everything is successfully installed, a `Segmentation Fault` message is printed.
I got this either upgrading and installing fresh.
Not happening installing other packages, I tried with numpy, for example.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I'm running ansible 2.4, but the

[2017-09-20 00:14] laeti-tia opened #30592 "UnicodeDecodeError with warnings for UTF-8 file paths"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
CLI error/warnings reporting when running from a path containing UTF-8 chars

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

`ansible-config dump --only-changed` is actually giving a UnicodeDecodeError too.

##### OS / ENVIRONMENT
Running ansible on macos 10.12.6

##### SUMMARY
When you run ansible from a path containing UTF-8 chars a

[2017-09-20 00:31] jborean93 commented on #28039
closing as this is fixed in PR https://github.com/ansible/ansible/pull/28995, it is available now in devel and will be released in 2.5.

[2017-09-20 00:31] #28039 closed, assigned to nobody

[2017-09-20 00:32] jborean93 commented on #25478
PR https://github.com/ansible/ansible/pull/28995 has been merged which includes this functionality. Closing the issue as it has been solved.

[2017-09-20 00:32] #25478 closed, assigned to nobody

[2017-09-20 00:32] jmvbxx commented on #30169
@ansibot Update?

[2017-09-20 00:32] jborean93 commented on #23649
PR https://github.com/ansible/ansible/pull/28995 has been merged and will have solved this issue.

[2017-09-20 00:32] #23649 closed, assigned to nobody

[2017-09-20 00:35] jborean93 commented on #20056
This has been covered under https://github.com/ansible/ansible/pull/28995 which was recently merged to devel.

[2017-09-20 00:35] #20056 closed, assigned to nobody

[2017-09-20 00:38] #22272 closed, assigned to nobody

[2017-09-20 00:41] jborean93 commented on #27248
Thanks @sebLopezCot, I'm going to close this issue as I was able to create a task with the new code. Now that is has been merged to devel I am going to close this issue but feel free to comment or open a new one if it still doesn't do what you are looking for.

[2017-09-20 00:41] #27248 closed, assigned to nobody

[2017-09-20 00:46] pilou- commented on #28872
Since [PostgreSQL 8.1](https://www.postgresql.org/docs/8.1/static/sql-createuser.html):

@Trikke76 you should use [`role_attr_flags: NOLOGIN`](http://docs.ansible.com/ansible/latest/postgresql_user_module.html#options). Should the `postgresql_user` module documentation be clearer on that point ?

[2017-09-20 00:51] jborean93 commented on #16842
This is still an issue with the current devel, here is a test playbook

[code]

This is the inventory setup

[code]

This is what happens when I run it

[code]

I can get it working as @jelep mentions by changing the `delegate_to: Server2008` which is host itself but it seems like the inventory group names don't work.

[2017-09-20 00:55] jborean93 commented on #19279
The PR https://github.com/ansible/ansible/pull/28995 has fixed this issue, you can now have a task like to disable a scheduled task

[code]

[2017-09-20 00:55] #19279 closed, assigned to nobody

[2017-09-20 00:56] pilou- commented on #30455
@ThomasSteinbach you were added (43e5f34ffd414749e052ed0120e6b65aada9c59d) to the maintainer list because [you are an author](https://github.com/ansible/ansible/blob/32d6b1d0e0b27d8e446eefd148e575813942e0b2/lib/ansible/modules/cloud/docker/docker_container.py#L484) of the `docker_container` module. Pull request #30594 updates maintainers list.

[2017-09-20 00:57] jborean93 commented on #16025
Possibly related to https://github.com/ansible/ansible/issues/16842

[2017-09-20 01:23] jborean93 commented on #16025
I'm not able to replicate this in the current devel version so am going to close this issue. Here is my inventory and playbook

Playbook
[code]

Inventory
[code]

Output
[code]

[2017-09-20 01:23] #16025 closed, assigned to nobody

[2017-09-20 01:32] jborean93 commented on #16842
After speaking internally it has been said that `delegate_to` does not work with groups but just hosts. This is why @jelep is able to get it working by specifying the hostname but not the group.

A workaround if people really need to do this is

Playbook
[code]

Output
[code]

You do loose the parallelism in this way but arguably this can make your roles/playbooks quite complex and should be avoid

[2017-09-20 01:32] #16842 closed, assigned to nobody

[2017-09-20 02:38] makatitime opened #30596 "Ansible API can not run Ansible2.4"
http://docs.ansible.com/ansible/latest/dev_guide/developing_api.html
I  use  Official Demo   Can not run successfully
Please  Update  New  Deomo

[2017-09-20 02:42] smuthali opened #30597 "Ansible 2.4 CallBackModule error?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- CallBackModule
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
After upgrading from Ansible 2.3.2 to Ansible 2.4.0.0 (via pip2), We have a bunch of custom libraries, plugins (action, filter and lookup); I see exceptions in playbook runs.

[code]

##### ACTUAL RESULTS

[code]

[2017-09-20 02:58] makatitime opened #30598 "Ansible API can not run on 2.4"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.3.1611 (Core)
##### SUMMARY

http://docs.ansible.com/ansible/latest/dev_guide/developing_api.html
I use Official Demo Can not run successfully
Please Update New Deomo
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUA

[2017-09-20 03:30] Alyust opened #30599 "ini_file module does nothing if section is 'null'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ini_file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
$ ansible-config dump --only-changed
Usage: ansible-config dump [options] [-c ansible.cfg]

ansible-config: error: no such option: --only-changed

##### OS / ENVIRONMENT
Ubuntu 16.04.3 LTS

##### SUMMARY
ansible does not create destination file nor changes the option value if section pa

[2017-09-20 04:14] PhilEv commented on #30519
here are the outputs of 2 runs (one with 2.3.2 and one with 2.4.0)
This is mosty using the lineinfile(mostly), template, replace, cmd, shell,file, stat

[oetuneoutput_ansible232.txt](https://github.com/ansible/ansible/files/1316548/oetuneoutput_ansible232.txt)
[oetuneoutput_ansible240.txt](https://github.com/ansible/ansible/files/1316549/oetuneoutput_ansible240.txt)

will check if I can provide th

[2017-09-20 04:21] #30576 closed, assigned to s-hertel

[2017-09-20 04:33] PhilEv commented on #30519
@jctanner

here are some chart showing the distribution
[oetune_output.xlsx](https://github.com/ansible/ansible/files/1316600/oetune_output.xlsx)

metrics got via
[code]
and similar with the other file

[2017-09-20 04:36] #28079 closed, assigned to trishnaguha

[2017-09-20 04:36] #27674 closed, assigned to trishnaguha

[2017-09-20 04:40] ykuksenko opened #30600 "ansible_distribution for Arch changed in ansible 2.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
On Arch controling Arch

##### SUMMARY
As of Ansible 2.4 (I believe commit 45a9f967749ec68e2077fe1d1d32dd37660ab376) the
ansible_distribution and ansible_os_family facts changed for Arch Linux breaking multiple modules.

##### STEPS TO REPRODUCE
[code]

##### EXPECT

[2017-09-20 04:48] nrwahl2 commented on #30599
If the file doesn't exist or is empty, line 205 fails the conditional test because lines 171-172 insert a newline character.

171-172:
[code]

205:
[code]

I think this module would benefit from a redesign using the Python iniparse module rather than implementing its parsing from scratch.

[2017-09-20 05:26] strangeman opened #30603 "ansible_default_ipv4 fact is empty in Linux Subsystem for Windows"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils/facts/network/linux.py

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Windows 10 with latest updates with Linux Subsystem installed

##### SUMMARY
When I launch ansible (installed via PIP in Linux subsystem) with `-c local -m setup localhost` it shown empty `ansible_default_ipv4` fact:

[code]
I know, it is an exotic setup,

[2017-09-20 06:09] wimnat commented on #30578
@jwitko can you try this fix please https://github.com/ansible/ansible/pull/30604

[2017-09-20 06:34] abhinav-chittora commented on #28463
I will use this script to find the path and use the path to create new virtual machine. I will update the result here.

[2017-09-20 06:45] drybjed commented on #30597
I can confirm that I get a similar error running Ansible 2.4 built from `git` source tree, on Debian Jessie host:
[code]

[2017-09-20 06:54] basictheprogram commented on #22272
From todays sprint...

Latest version of the devel branch and powershell 5.1.15063.608 I cannot duplicate this issue.

[2017-09-20 07:07] Trikke76 commented on #28872
hi

i used the NOLOGIN i just wasnt aware that create user was an alias for create role
thx for pointing this out. I think the documentation is fine but i could maybe help others in the future if someone is not aware of this just like me.

Thx

[2017-09-20 07:14] SethosII commented on #26298
Tested with final 2.4.0 release and the issue is still present.

Also one other thing to note: when there is something to autoremove and you don't use diff mode then the status is not `changed` but `ok` allthough the packages are still removed. Here is an example output with `-vvv`:

[code]

[2017-09-20 07:16] crazy-canux opened #30607 "install multi packages with apt module."

[2017-09-20 07:19] kaneg commented on #18154
For any others vars related definitions, most of them are following a common rule:  specific vars can override common vars. But for this case, the common ones always override specific ones. It is quite not intuitive, although the order has already been defined in the doc.  Thus, it is not a implementation bug, but a design bug.

[2017-09-20 07:22] #30607 closed, assigned to nobody

[2017-09-20 07:27] jpmens commented on #30599
needs_contributor

[2017-09-20 08:02] silverwind opened #30609 "Unable to parse inventory directory since 2.4.0.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
`inventory.cfg` contains:
[code]

##### OS / ENVIRONMENT
I'm seeing this issue on both macOS and Windows.

##### SUMMARY
My inventories are defined by a relative directory which contains multiple .cfg files with inventories. If I specify a single inventory file it works, but it

[2017-09-20 08:05] fhlmbrg commented on #30564
Ah thank you @dagwieers ! I've been looking all over for this. You were faster than the Google crawlers :-)

[2017-09-20 08:32] xiaocaisgit opened #30611 "ansible can't exclude hostgroup playbook when facts_cache expires"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
my ansible configured as follow:
[code]
##### OS / ENVIRONMENT
[code]
##### SUMMARY

**I use redis to cache ansible facts, but when redis's key expires, I can't use ansible-plabook to perform the host group operation, but I can use Playbook for a single

[2017-09-20 08:36] fredericlepied commented on #27749
Fixed by https://github.com/ansible/ansible/commit/0a69e27e6299f93fa2cb9dcaf30f228385f6d4d3 but I don't understand why it was closed before...

[2017-09-20 08:36] #27749 closed, assigned to nobody

[2017-09-20 08:45] lig commented on #21201
@nitzmahone what does it mean? why is this closed? could you please provide some details?

[2017-09-20 08:52] azaghal commented on #30561
Hm... I can see how this could become annoying very quickly. I wonder on what would be the right way to go about it, though. I could see it easily possible to either add an additional state (`absent-element`?), or maybe add ability to convert dconf-provided string into list when using register (so it can be more easily be manipulated), and allowing to pass-in a list etc. to value. This could add s

[2017-09-20 09:14] silid commented on #24647
Great job. Thanks.

[2017-09-20 09:14] #24647 closed, assigned to nobody

[2017-09-20 09:20] eoli3n commented on #23680
Is that serious ? Debian 8.9 has only Python 3.4.2 too
temp fixed by
[code]

[2017-09-20 09:23] kpfl opened #30613 "ansible/lib/ansible/module_utils/basic.py set_attributes_if_different attributes are no longer None"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/basic.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu-16
##### SUMMARY
The method
[code]
in basic.py checks if attributes are None.

Now with ansible 2.4.0.0 attributes are **null**

##### STEPS TO REPRODUCE

[code]

That tasks fails now with the message:
[code]

##### EXPECTED RESU

[2017-09-20 09:33] JohanHolman opened #30614 "monit.py results in ..."cmd": "/bin/monit summary -B", "failed"..."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/monitoring/monit.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY

##### STEPS TO REPRODUCE
task:
[code]
Same results with other states

results in:
[code]

because

[2017-09-20 09:46] caveman-dick commented on #20032
@dagwieers if you look at my fork I have already fixed this issue and added pester unit tests around the fix and other parts of the implementation. Integration tests would be a great addition.

[2017-09-20 09:55] dagwieers commented on #20032
@caveman-dick I know, and it helped to understand the issue at hand. But there are so many things wrong with **win_nssm** that refactoring this module is a necessity. (Granted, it goes back to a time when we didn't have all the possibilities we now have for Windows modules.)

I would even say that most Windows devs shied away from looking at this module because of that :-)

More specifically to th

[2017-09-20 10:42] mkilmanas commented on #26741
**+1** over here. I've run into this issue today when my Ubuntu received a 2.4.0.0 update, suddenly old tasks started failing. After some digging and a downgrade to 2.3.2 I've verified that this is definitely an issue with ansible version.

When you word out the issue, it kinda makes sense - asking to use shell for a user that is not supposed to have shell, is somewhat backwards (even if it used t

[2017-09-20 10:44] mkilmanas commented on #26741
@calfonso would you mind reopening this issue, as it appears as a valid regression, or please provide an explanation of why this is not going to be changed? Cheers!

[2017-09-20 10:51] gurumaia commented on #30268
I just saw that the PR was merged into devel. Updated my local install and tested. Everything working as expected. Thanks for the quick fix @wilvk!

[2017-09-20 10:54] rpijlman commented on #29084
No, I don't have ansible_python_interpreter set.

I just installed v2.4.0.0-1 branch and got the same error.

I'm source hacking/env-setup in bash.
lsb_release -a
Description:    Debian GNU/Linux 9.1 (stretch)
Release:        9.1
Codename:       stretch

$ which python
/usr/bin/python
$ python -V
Python 2.7.13

OpenSSH is installed:
$ dpkg -l | grep ssh
ii  libssh2-1:amd64                 1.7.0-1

[2017-09-20 10:55] alexppg commented on #30268
Does anybody know when it will be issued (more or less) to pypi?

[2017-09-20 11:19] prabhakarsultane opened #30617 "I have below format of json and i want use db group as an ansible inventory host. is it possible? Please suggest"
I have below format of json and i want use db group as an ansible inventory host.

---
prepackages: {
  db: [{
                packageName: "vim"
	 },
 	 {
                packageName: "vim"
	 }]
}

is it possible? Please suggest

[2017-09-20 11:39] towolf commented on #30519
Don't want to divert attention in this issue, but inventory parsing time for our large inventory increased 4 fold:

- `--list-hosts` with 2.2: 5 sec
- `--list-hosts` with 2.4: 20 sec

[2017-09-20 11:45] mattwillsher opened #30618 "selinux module removes newlines in 2.4.0.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
selinux

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
MacOS running Ansible
CentOS 6 target

##### SUMMARY
selinux module strips newlines from /etc/sysconfig/selinux

##### STEPS TO REPRODUCE
Before
[code]

[code]

After
[code]

##### EXPECTED RESULTS

Valuse changed in file and EOL chars left intact.

##### AC

[2017-09-20 12:12] deimosfr opened #30619 "Async not taking alternative python path into account"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
async

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CoreOS stable

##### SUMMARY
I'm trying to perform a server reboot with async. On another distribution where `/usr/bin/python` exists, there is no issue it works. But on CoreOS, as I need to define a specific path for python, async module simply ignore it and

[2017-09-20 12:17] sastrytumuluri opened #30620 "shell module breaks even when become_user has a valid login shell"
Possibly related to https://github.com/ansible/ansible/issues/26741

(see "MITIGATION" below)

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Running Ansible on: Ubuntu Mate 17.04
Managing a target with: Ubuntu 14.04.5 LTS

##### SUMMARY
After upgrade to 2.4.0.0, playbook task with shell module fai

[2017-09-20 12:20] towolf commented on #30534
Coming here to confirm. My old ["large inventory " test case](https://github.com/towolf/ansible-large-inventory-testcase) from the 1.9.6 to 2.0 migration is again very bad.

4 seconds vs 20 seconds.

This is a randomized version of our real inventory. About 4000 hosts and 9000 groups:
[code]

https://github.com/towolf/ansible-large-inventory-testcase

[2017-09-20 12:21] towolf commented on #30534
@jctanner Tried PR  #30587 and got this:
[code]

[2017-09-20 12:34] vrischmann commented on #27960
Still broken on Ansible 2.4

[2017-09-20 12:57] ralphie02 commented on #30597
I get the exact same error traceback on Ubuntu 16.04. Anyone has a workaround or just downgrade for now?

[2017-09-20 13:01] stevenkaras commented on #30561
Type coercion into lists when reading and putting lists back in would make life much easier. I don't think there's a need to support the full GVariant syntax, and just handling lists of strings will cover 99% of use cases.

I'm new to ansible, so I'm not familiar with many modules yet, and nothing comes to mind. If you use a new state, it implies the expected type of the key to be a list, as does

[2017-09-20 13:02] sparunakian opened #30623 "ansible_pkg_mgr is "unknown" on OpenBSD since 2.4"
Hi,

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible running from ArchLinux, managing an OpenBSD machine.

##### SUMMARY

Since Ansible 2.4, the `ansible_pkg_mgr` fact is set to `unknown`, instead of `openbsd_pkg` (<= Ansible 2.3.2.0). As the `package` module uses this variable to choose the p

[2017-09-20 13:07] lystor opened #30624 "Group Names with Dashes are Invalid in 2.4 YAML inventories"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

Hello

Group names with dashes are invalid in Ansible 2.4.

Reproducible only in static YAML/JSON inventories.

Dynamic and INI inventories support group names with dashes in 2.4.

**inventory.yml**
[code]

**test.yml**
[code]

# Ansible 2.4
[code]

# Ansible 2.3
[code]
Please fix the ASAP.
Thank you

[2017-09-20 13:12] bcoca commented on #30597
PR above should fix this, I had not expected callbacks that did not inherit from base, directly or indirectly.

[2017-09-20 13:17] kluen commented on #12170
Hi, I believe this really is a crucial feature to safely utilize role dependencies.

In our project, we model most of our plays with the help of role dependencies as it makes for short and easily readable playbooks and avoids duplication.

If I have a role A that depends on role B and it dangerous to update B on multiple hosts simultaneously then as far as I understand the only supported way to ac

[2017-09-20 13:39] bru2code opened #30627 "IDM DNS doesn't get deleted using ipa_host"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME
ipa_host

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
rhel7.3

##### SUMMARY
ipa_host module doesn't delete the hostobject from DNS

ipa_host:
    description: "{{ target_host }}"
    ip_address: "{{ target_ip }}"
    ipa_host: <IDM Host name>
    ipa_pass: "{{ ipa_admin_password }}"
    ipa_user: "

[2017-09-20 13:39] bcoca commented on #30623
cc @alikins

[2017-09-20 13:42] kedarkekan commented on #29164
@wintermute000 it is not a parser issue; rather sub-interface configuration is not supported with this module as of 2.4.0
Also, for a sub-interface, a parent needs to be routed interface.

I will work on getting the needed functionality, along with VLAN encapsulation on sub-interface.

[2017-09-20 13:47] Valien opened #30628 "oc.py module documentation not formatting correctly."
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

oc.py

Links to module and web link:

http://docs.ansible.com/ansible/latest/oc_module.html

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/clustering/oc.py

##### ANSIBLE VERSION

N/A

##### CONFIGURATION

##### OS / ENVIRONMENT

OSX

##### SUMMARY

Documentation page for oc.py is not rendering properly. Not sure

[2017-09-20 13:55] ppanczyk opened #30629 "Cannot set become_flags globally since 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

become

##### ANSIBLE VERSION

Both stable:
[code]
and devel:
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Since Ansible 2.4, it is impossible to set become_flags globally, both by ansible.cfg and by environment variable, as described in the [docs](http://docs.ansible.com/ansible/latest/config.html#default-bec

[2017-09-20 13:59] philicious commented on #25475
@dagwieers unfortunately I dont have access anymore and I cannot easily ask for that information either. what I can tell is the AD used is https://www.univention.com/

[2017-09-20 14:00] jwitko commented on #30578
Hey @wimnat I tried the fix and was met with a new error.  I've posted the error and a description in #30604.

[2017-09-20 14:04] rogerscuall commented on #30529
Looks to me the problem is that there is a check missing somewhere for when there is no IPv6 address configured on the system. Once I added an IPv6 address in one interface, I got no errors.

[2017-09-20 14:19] flo-renaud opened #30630 "Issue with ansible_host when delegate_to is used"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Fedora release 26 (Twenty Six)

##### SUMMARY
The value for ansible_host isn't properly set when delegate_to is used and the inventory defines ansible_host value for the host.

##### STEPS TO REPRODUCE

I am using the following site.yml playbook:
[code]

With the following inventory file

[2017-09-20 14:25] sivel commented on #30596
Closing as duplicate of #30598

[2017-09-20 14:25] #30596 closed, assigned to nobody

[2017-09-20 14:28] mcaulifn commented on #27917
can't reproduce, closing

[2017-09-20 14:28] #27917 closed, assigned to nobody

[2017-09-20 14:30] jean-christophe-manciot opened #30632 "nxos_command: Pipe is not allowed for this message type"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_command

##### ANSIBLE VERSION

Latest stable version 2.4.0:
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
- host: Ubuntu 17.04 4.10
- target:
  + *NX-OSv 9k: 7.0(3)I6(1)**
- paramiko: 2.0.6

##### SUMMARY

It sounds strange that we cannot pipe commands when it is allowed on the host.
The environment is a little special though, s

[2017-09-20 14:34] sivel commented on #30609
The cause to not being able to use an inventory in your example provided in this issue is a result of naming your actual inventory file with a `.cfg` extension.

This would have applied in 2.3 as well, as `.cfg` file extensions are ignored as inventory sources.

2.3: https://github.com/ansible/ansible/blob/a1886911fcf4b691130cfc70dfc5daa5e07c46a3/lib/ansible/constants.py#L234

2.4: https://github.

[2017-09-20 14:34] #30609 closed, assigned to nobody

[2017-09-20 14:46] lystor opened #30633 "inventory_ignore_extensions and inventory_ignore_patterns are ignored in 2.4"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

Hi

Values of inventory_ignore_extensions and inventory_ignore_patterns from ansible.cfg are replaced by default values.

Cause: INVENTORY_IGNORE_EXTS and INVENTORY_IGNORE_PATTERNS have multiple keys

INVENTORY_IGNORE_EXTS:
  ini:
  - {key: inventory_ignore_extensions, section: defaults}
  - {key: ignore_extensions, section: inventory}

[2017-09-20 14:46] jimmymccrory opened #30634 "os_image id option does not work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
os_image

##### ANSIBLE VERSION

[code]
##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Providing an 'id' option to a task using the os_image module does not work.
The glance service returns a 400 bad request error.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The given cirros image is uploaded and created with

[2017-09-20 14:48] mrmikee commented on #17151
+1

Also, still an issue in Ansible 2.4.0.0 on Ubuntu 14.04.

Maybe: an additional test like `which kvm` could test for presence of kvm and/or `kvm --version` after the `/proc/modules` identifies host as kvm/host????

[2017-09-20 14:58] Akasurde commented on #30628
@Valien Thanks for reporting this issue. This is already reported [here](https://github.com/ansible/ansible/pull/30544) and fixed in 2.5 and 2.4 branch [here](https://github.com/ansible/ansible/pull/30257). Thanks for your help.

[2017-09-20 15:02] Akasurde commented on #30627
@bru2code Thanks for reporting this issue.

Could you please mention IPA version used ? Also, can you try manually to delete host and see if command is deleting host's DNS entry as well?

[2017-09-20 15:03] roumano opened #30636 "ansible-pull is not working anymore with ansible2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible-pull

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### SUMMARY
i'm using ansible on automatic way via ansible-pull

##### STEPS TO REPRODUCE
Start on a fresh OS, ansible-pull normally download the repo (and the incentory list) via git , now it's failed as inventory file not found before lunching t

[2017-09-20 15:05] JohanHolman opened #30637 "TypeError: 'str' object is not callable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/monitoring/monit.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY
Can't run playbook due a TypeError: 'str' object is not callable

##### STEPS TO REPRODUCE
Monit 5.

[2017-09-20 15:09] kepeket opened #30638 "APT module behavior changed in 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

modules/packaging/os/apt.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running from: Darwin - MacOS Serria 10.12.6 (16G29) OR debian jessie (Python 2.7)
Targeting:  Debian jessie (Python 2.7.9)
apt  1.0.9.8.4
aptitude  0.6.11-1+b1
dpkg 1.17.27

##### SUMMARY

https://github.com/ansible/ansible/blob/174

[2017-09-20 15:10] yaplej commented on #30562
I updated to 2.4 and have the same problem.
[code]

[2017-09-20 15:11] silverwind commented on #30609
Ah, looks like I ommited a crucial detail. I was already overriding `inventory_ignore_extensions` in 2.3, specifically to allow `.cfg` to work:

[code]

It seems like 2.4 is no longer picking up this configuration line. `ansible-config dump --only-changed` shows no change.

[2017-09-20 15:13] silverwind commented on #30609
Looks like it's the same issue as https://github.com/ansible/ansible/issues/30633.

[2017-09-20 15:19] silverwind commented on #30633
I can confirm that `inventory_ignore_patterns` from the configuration file is currently ignored.

[2017-09-20 15:27] smuthali commented on #30597
As @bcoca mentioned, in your custom callback modules  ```CallbackBase ``` must be explicitly referenced, i.e. ``` from ansible.plugins.callback import CallbackBase ```

[2017-09-20 15:30] bcoca commented on #30633
it should not be a break, as the 'last configuration set' should 'win', but it should not override explicit configuration with a default.

This only seems to affect ini entries as other methods are covered by common code that already takes this into account, fixing.

But still, the setting itself is ignored for directories.... so 2 fixes are needed

[2017-09-20 15:32] dan-osms opened #30639 "kinesis delivery stream cloud module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

kinesis delivery stream module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_PIPELINING(/etc/ansible/ansible.cfg) = True
COLOR_DEBUG(/etc/ansible/ansible.cfg) = dark gray
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = ['/etc/ansible/local']
RETRY_FILES_ENABLED(/etc/ansible/ansible.cfg) = False
##### OS / ENVIRONMENT

Mac 10

[2017-09-20 15:37] sivel commented on #30598
resolved_by_pr #30640

[2017-09-20 15:42] peppernicus commented on #30534
Huge improvement.  A 25k inventory w/ no groups clears in about 6 seconds.  Our actual inventory w/ 26k hosts and ~400 groups and child groups exits with the same error as @towolf above.

Performance-wise, this looks to be equivalent to the pre-2.3 days if the kinks get worked out.  Thanks!

[2017-09-20 15:43] champtar opened #30641 "Parted get_device_info should force LANG=C"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
parted
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Managed OS with LANG=fr_FR.UTF-8

##### SUMMARY
https://github.com/ansible/ansible/blob/ad9e39636e16447889e00b432a3e074965dd81e0/lib/ansible/modules/system/parted.py#L416
This obviously depend on parted outputting error messages in english

##### STEPS TO REPROD

[2017-09-20 15:47] ghost opened #30642 "Problem eu-west2 instance created but not finding it when running ./ec2.py --list"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION
ansible 2.3.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Sep  1 2016, 22:14:00) [GCC 4.8.3 20140911 (Red Hat 4.8.3-9)]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Running **./ec2.py --list** does not list my new

[2017-09-20 15:47] drybjed commented on #30597
@smuthali I added the line you mentioned to the custom [`profile_tasks` callback](https://github.com/debops/debops-playbooks/blob/master/playbooks/callback_plugins/profile_tasks.py) I use but the error is still present. Any idea what else needs to be changed for this to work?

[2017-09-20 15:59] lystor opened #30643 "[2.4] Useless Deprecation Warning for include: in Handlers"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### SUMMARY
Ansible 2.4 doesn't have import_handlers or include_handlers but shows useless deprecation warning for include: in handlers:
[code]

Output:
[code]

[2017-09-20 16:01] fthommen opened #30644 "yum_repository: Make clear "file" parameter must not include the ".repo" extension"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
yum_repository

##### ANSIBLE VERSION
[code]

##### SUMMARY
Make clear on http://docs.ansible.com/ansible/latest/yum_repository_module.html, that the "file" parameter **must not** include the `.repo` extension.  While it might be clear on second thought, it isn't on first thought.

[2017-09-20 16:04] murrahjm commented on #28649
I'm seeing this as well with 2.4.  In my case I'm specifying a cluster rather than hostname.  it picked a completely different host in a completely different cluster to try to deploy to, hence the error.  Statically assigning the hostname rather than cluster works fine.  new bug in the host selection process?

[2017-09-20 16:10] mixpix3ls opened #30645 "ec2_instance_facts doesn't show EC2 Tags"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_instance_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No output from `ansible-config dump --only-changed`

##### OS / ENVIRONMENT
MacOS 10.12.6 (16G29)

##### SUMMARY
`ec2_instance_facts` no longer shows tags on an EC2 instance when I dump the results of the command in a register.

##### STEPS TO REPRODUCE
tasks syntax:

[code]

[2017-09-20 16:10] samdoran commented on #29084
OpenSSH vs Paramiko for the connection is not the issue — this is a library import error. Ansible requires the `paramiko` Python library and it seems like it is missing.

Can you try running `python -c 'import paramiko'` to see if the required library is present in your `PYTHONPATH`?

You may also run [list-install.py](https://github.com/ansible/ansible-doctor/blob/master/list-installs.py) to get

[2017-09-20 16:12] ralphie02 commented on #30597
I explicitly removed my callbacks from my `ansible.cfg` before I even commented and the issue is still reproducible.

before:
[code]
after
[code]
unless this is not what is meant? If this is not the case, could someone please let me know?

[2017-09-20 16:15] abadger commented on #23680
Debian 8.9 has Python-2.7.9.  We chose Python-3.5 because it was available in all distributions which no longer supported Python-2.6+ by default.

If you have further questions, please take it to the mailing list as it's a user question rather than a bug report.  I'll paste the mailing list information below.

List Information
================

Hi!

Thanks very much for your interest in Ansible.

[2017-09-20 16:20] alikins commented on #30623
@sparunakian What does the 'ansible_system' fact end up being set to?  The pkg_mgr fact collection code has a special case for ansible_system='OpenBSD' to set pkg_mgr='openbsd_pkg'

If you can provide the full output of 'ansible openbsd_machine -m setup.py' (all of the facts without filters) that may be useful.

When you use the 'package' module, how does it fail? If possible, please provide a cop

[2017-09-20 16:20] privateip commented on #30250
@ganeshrn @Gelob this is a bug due to a command output change from 4.15 to 4.16.  We can work around the bug by doing a version check in the module code to account for the change in output

[2017-09-20 16:23] Akasurde commented on #30627
resolved_by_pr #30646

[2017-09-20 16:29] abhinav-chittora commented on #28463
@jctanner I run the script that you provided and It returned the same path that I was using. So I am back to square one. The problem still exists.

[2017-09-20 16:31] alikins commented on #30623
My suspicion is this is related to the order the facts are collected in, and that 'ansible_system' may not be known when the pkg_mgr fact is collected. There is currently no explicit partial ordering for the facts collection so the ordering may be random which could cause the 'ansible_system' to be unknown when pkg_mgr is determined. If thats the case, I need to go ahead and implement some orderin

[2017-09-20 16:38] nik786 opened #30647 "jenkins module usage by ansible"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
jenkins_plugin

##### ANSIBLE VERSION
ansible 2.3.2.0

##### SUMMARY

Trying to install blueocean and git plugin by ansible playbook .
But it is not able to install

cat vars/main.yml
---
jenkins_plugins:
      - git
      - blueocean

cat tasks/main.yml
- name: install jenkins plugins
  jenkins_plugin:
    name: "{{ jenkins_plugins }}"
    stat

[2017-09-20 16:42] nik786 commented on #30647
issue type : jenkins plugins installation by ansible
ansible --version
ansible 2.3.2.0

os : ubuntu 14.04

component name :
git and blueocean

expected result :
git and blueocean plugins should be installed with dependencies

actual result :
"msg": "Plugin not found."

[2017-09-20 17:11] s-hertel commented on #29996
Closing because no ansible version given and I can't reproduce on 2.4.

[2017-09-20 17:11] #29996 closed, assigned to nobody

[2017-09-20 17:20] alikins commented on #30489
Sounds like a candidate for devel and backport to stable-2.4 (and maybe earlier).

[2017-09-20 17:21] alikins commented on #30489
milestone to 2.5 and flagged as p2 priority since it has to be fixed for at least 2.5 (though hopefully way before that)

[2017-09-20 17:35] alikins commented on #30489
See also https://github.com/ansible/ansible/issues/13874

https://github.com/saltstack/salt/pull/40009 is the change to salt change for this. (uses nir0s/distro)
https://github.com/pypa/pip/pull/3906 is how pip changed this. (vendors nir0s/distro)
https://github.com/nicolargo/glances/commit/af67cfcf8384204e6c8a098f34a4f4c3f0b59fc5 'glances' change (homegrown)
https://github.com/rpm-software-manage

[2017-09-20 17:41] zhengy370 commented on #30374
@nrwahl2 your right when I tried using just a playbook with yum it works. As a workaround for this and keeping the rest of the roles in the playbook. I added the yum install portion in the RHEL kickstart instead.

[2017-09-20 17:41] #30374 closed, assigned to nobody

[2017-09-20 17:49] nrwahl2 commented on #30489
Thanks! bcoca and abadger suggested vendoring it in our case. I haven't had time to work on it since that discussion Sunday(?) night.

[2017-09-20 17:49] bdlamprecht commented on #27299
I'm just writing to confirm that this is STILL broken in Ansible 2.4.0.0.
When I run the original PB from this issue, I get the same general output:
[code]

@jebabin I didn't see your post until just now, but I'll see if I can validate that your version of `json_query.py` solves the problem in my scenario as well.

[2017-09-20 17:57] bdlamprecht commented on #27299
@jebabin Yes, your version fixes whatever the issue was.

Now I'm wondering if I can get someone more familiar with the Ansible code to understand **why** this changes solves the problem.

[2017-09-20 17:59] abadger commented on #30489
Note: https://github.com/nir0s/distro  is licensed Apache 2.0.  We're licensed GPLv3+.  Probably should formulate questions to ask a lawyer about using/vendoring this.  I know that GPLv3+ is compatible with Apache 2.0 but I don't know if there's anything special that they'd like us to do (for instance, noting it in documentation, keeping it in a separate file, etc).

[2017-09-20 19:12] mattwwarren opened #30652 "synchronize module ignores -u option"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

Amazon Linux

##### SUMMARY
In Ansible 2.4.0.0, using -u with synchronize and rsync does not set the username used in the rsync command to the value of -u

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

From ansible 2.3.2.0:
[code]

##### ACTUAL RESULTS
[code]

[2017-09-20 19:16] smuthali commented on #30597
@drybjed and @ralphie02 -  This is what I did, excerpts from one of the custom CallBacks
[code]
Here's my ``` ansible.cfg ```
[code]

[2017-09-20 19:20] #30597 closed, assigned to bcoca

[2017-09-20 19:27] bcoca commented on #30623
also dependencies, since now you can avoid collecting 'platform' information

[2017-09-20 19:46] Shrews opened #30654 "Behavior with 'all' in inventory file has changed with 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
Set hostsfile to a hosts.yaml file.

##### OS / ENVIRONMENT
Fedora 26

##### SUMMARY
Behavior of 'all' (at least in a YAML host inventory file) seems to have changed.

##### STEPS TO REPRODUCE

hosts.yaml:
[code]

Example playbook:
[code]

##### EXPECTED RESULTS
Expected resu

[2017-09-20 19:46] bdlamprecht commented on #27299
First time submitter to Ansible, but I used your solution to this problem with PR #30653

[2017-09-20 19:54] gamuniz opened #30655 "Specifying 'Inventory' or 'Credential' in tower_job_launch module returns 'tower_cli.exceptions.NotFound'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
tower_job_launch module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7 control machine/Tower host
managing machine: N/A

##### SUMMARY

When specifying inventory and credential in tower_job_launch module it returns 'The requested object could not be found.

##### STEPS TO REPRODUCE

First create a job templat

[2017-09-20 20:02] alikins commented on #30654
Is hosts.yaml being loaded at all?

I would expect the -vvv output to have line like:

[code]

[2017-09-20 20:12] Shrews commented on #30654
Changing my hosts.yaml to use 'inventory =' instead of 'hostfile =' seems to make the playbook work as expected. I know hostfile is deprecated, but it is not yet removed, so it should still work.

[2017-09-20 20:17] drybjed commented on #30597
@smuthali Thanks, this did the trick. :+1:

[2017-09-20 20:21] jimmymccrory commented on #30654
This looks to be a broader issue with the yaml inventory plugin and Python3.
The inventory file path is encoded to bytes for some reason. It fails when parsing for a yaml extension.
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/yaml.py#L77-L79

from ANSIBLE_DEBUG
[code]

[2017-09-20 20:22] jtyr commented on #30644
@fthommen Thanks for opening this issue. Please check the PR #30656 if the new description is clear enough.

[2017-09-20 20:24] abadger commented on #30654
@jimmymccrory From debugging of this issue so far, it looks like your issue is different.  You should probably open a different bug for yours unless  https://github.com/ansible/ansible/pull/30651 fixes your problem.

[2017-09-20 20:26] basictheprogram commented on #29072
Upgrading [DraftSight 2017.02 to DraftSight 2017.03](https://gist.github.com/basictheprogram/926bd437c8c5b61c6d07d20b133f4fc1) without stopping dsHttpApiService

Upgrading [DraftSight 2017.02 to DraftSight 2017.03](https://gist.github.com/basictheprogram/709b88e14becb2ee0c743fa024683c3a) STOPPED dsHttpApiService

I do not see anything obvious in either logfile, but I missed the 1063 info @jhawkesw

[2017-09-20 20:29] alikins commented on #30654
Testing with repro at https://github.com/alikins/ansible-bug-repro/tree/master/inventory_all_30654

Can duplicate the issue here, and #30651 seems to resolve it.

[2017-09-20 20:31] alikins commented on #30654
with v2.4.0.0-1:

[code]

with v2.4.0.0-1 plus cherrypicked from #30651:

[code]

[2017-09-20 20:33] bcoca commented on #30654
dupe of #30633

[2017-09-20 20:33] #30654 closed, assigned to nobody

[2017-09-20 20:37] basictheprogram commented on #29072
[code]
[code]

[2017-09-20 20:38] #30633 closed, assigned to bcoca

[2017-09-20 20:44] LuckySB commented on #30441
investigation result:
ansible from devel branch at 2017.08.05 faster 2-3 times then version 2.4-release

ansible from devel branch at 2017.08.05 earn 1.2 times more memory with include_tasks: playbook
ansible v.2.5 or 2.4-release earn 10x more memory with include_tasks: playbook

my playlist with lots of tasks contains 129 include:
strategy: free

benchmark tests:
[code]
[code]
[code]
[code]
[code

[2017-09-20 20:44] s-hertel commented on #30234
Fixed in a077aeb693f152ff84bb0540131d97e718c8b77a.

[2017-09-20 20:44] #30234 closed, assigned to nobody

[2017-09-20 20:45] bcoca commented on #30597
i updated developer and porting docs, feedback welcome

[2017-09-20 20:46] bcoca commented on #30643
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Handlers are tasks, so `include_tasks`, `import_tasks ` do apply here.

In the future, this might be a topic more well suited for the u

[2017-09-20 20:46] #30643 closed, assigned to nobody

[2017-09-20 20:50] indivisiblewalrus opened #30658 "nxos_bgp_neighbor_af missing 'disable-peer-as-check'"
##### ISSUE TYPE
 - Bug Report/missing configuration option

##### COMPONENT NAME
nxos_bgp_neighbor_af

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
debian/redhat/centos

##### SUMMARY
disable-peer-as-check is missing as an option in the nxos_bgp_neighbor_af

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
router bgp 12345
  neighbor 1.1.1.1
    address-family

[2017-09-20 20:54] s-hertel commented on #30203
Fixed by b0135fadea445464ee0dad4291d5d3699d376277.

[2017-09-20 20:54] #30203 closed, assigned to nobody

[2017-09-20 20:54] nikoe14 commented on #30268
I think pip didn't receive the update yet, Does anyone know anything about this?

[2017-09-20 20:59] dagwieers commented on #25475
@philicious I guess that makes it impossible to help you solve this issue. Do you expect this problem to resurface in the future, or shall we close this ticket ?

In the future we hope we can tend to issues faster, or guide people to the Windows WG for getting feedback quicker. But we need to fix this backlog first...

[2017-09-20 21:07] philicious commented on #25475
@dagwieers yep. as mentioned I dont have the chance anymore to test this. this also means it doesnt impede me anymore. therefore you could close it until someone else reports it. in any case: thx for getting back to this :)

[2017-09-20 21:10] dagwieers commented on #25475
Ok, I wasn't sure if this was a temporary situation or a permanent one. I will close, sorry for that.

If anyone else hits this problem with Univention, let us know.

[2017-09-20 21:10] #25475 closed, assigned to nobody

[2017-09-20 21:25] merlin-tc commented on #23695
Fixed for me in 2.4.
Thank you very much!

[2017-09-20 21:25] #23695 closed, assigned to alikins

[2017-09-20 21:26] bcoca commented on #30629
this is caused by the new configuration settings 'always existing' so 'default sudo' flags are overriding become_flags

[2017-09-20 21:30] bcoca commented on #30629
@ppanczyk  confirm that PR above fixes the issue fro you

[2017-09-20 22:18] jrandall commented on #26741
I believe the problem here is with the shell module documentation (https://docs.ansible.com/ansible/latest/shell_module.html), which says: ```It is almost exactly like the command module but runs the command through a shell (/bin/sh) on the remote node.```
That is problematic because in no place in the current 2.4+ ansible code base is `/bin/sh` referenced. What the `shell` module actually does is

[2017-09-20 22:19] LuckySB commented on #30441
I found a commit, after which the playtime increased

ansible-2.4.0-100.git201708152024.8b617aaef5.HEAD complied from commit https://github.com/ansible/ansible/commit/8b617aaef564052d05c41e033f7d166570d660b1
performed the playlist in 2min 50sec

ansible-2.4.0-100.git201708152038.f921369445.HEAD compiled from next commit https://github.com/ansible/ansible/commit/f921369445900dcc756821e40c9257d53590

[2017-09-20 22:23] jborean93 commented on #30468
Seems to be related to https://github.com/PowerShell/PowerShell/issues/4613.

[2017-09-20 22:23] jimmymccrory opened #30663 "yaml inventory plugin fails with Py3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

A yaml inventory file is never considered valid when using Ansible under Python3.

##### STEPS TO REPRODUCE

inventory.yml

[code]
`# ansible local -i inventory.yml -m ping`

##### EXPECTED RESULTS

A successful run against localhost

[2017-09-20 22:25] sjentzsch commented on #26294
Any updates? (-:

[2017-09-20 22:36] coolcps commented on #28479
@calfonso Spoke too soon on this one.  I swear I wasn't having any issues last week with the same playbooks, nothing else has changed - still on the same 2.5 dev version.

[code]

[2017-09-20 22:39] alikins commented on #30600
What do the other distribution facts end up as?

ansible_distribution
ansible_os_family
ansible_distribution_release
ansible_distribution_version
ansible_distribution_file_parsed
ansible_distribution_file_variety
ansible_distribution_file_path
ansible_major_version

(Or a copy of the entire system facts output from 'ansible $THAT_ARCH_HOST -m set' would also be useful).

[2017-09-20 22:45] shakeme commented on #30600
Same problem here:

ansible 2.4.0.0

"ansible_distribution": "Arch Linux",
"ansible_os_family": "Arch Linux",
"ansible_distribution_release": "NA",
"ansible_distribution_version": "NA",
"ansible_distribution_file_parsed": true,
"ansible_distribution_file_variety": "NA",
"ansible_distribution_file_path": "/etc/os-release",
"ansible_distribution_major_version": "NA",

[2017-09-20 22:59] alikins commented on #30600
@ykuksenko If you are running ansible from a source checkout, could you also run 'ansible/hacking/tests/gen_distribution_version_testcase.py' on the arch box and include the output?

[2017-09-20 23:00] alikins commented on #30600
@shakeme What are the contents of '/etc/os-release' ?

[2017-09-20 23:00] FearTheBadger opened #30664 "Inventory binary is executed N+1 times (N == each host defined)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible will execute the inventory binary script for every host produced by the binary, plus one.

This becomes a huge problem if you have a large list of hosts that are being generated from a remote source.

##### STEPS TO REPRODUCE

`-r

[2017-09-20 23:04] sivel commented on #30664
The way dynamic inventory scripts work in ansible, is that if the script does not return a top level key of `_meta`, ansible will call the script for each host using `--host inventory_hostname` where `inventory_hostname` will be the name of each individual host.

Please see http://docs.ansible.com/ansible/latest/dev_guide/developing_inventory.html for more information about developing a dynamic in

[2017-09-20 23:04] #30664 closed, assigned to nobody

[2017-09-20 23:05] skyscooby commented on #28330
Any feedback on this issue? +1.. it's happened on our team as well. This ansible version was also added to the RHEL extras in 7.4 (enabled by default) so it's being installed in our environment where we previously used an older version.

[2017-09-20 23:07] alikins commented on #30600
and/or /etc/arch-release?

[2017-09-20 23:07] emilyhammer commented on #30636
We see the same error here on Ubuntu

[2017-09-20 23:10] shakeme commented on #30600
Content of /etc/os-release is:

NAME="Arch Linux"
PRETTY_NAME="Arch Linux"
ID=arch
ID_LIKE=archlinux
ANSI_COLOR="0;36"
HOME_URL="https://www.archlinux.org/"
SUPPORT_URL="https://bbs.archlinux.org/"
BUG_REPORT_URL="https://bugs.archlinux.org/"

[2017-09-20 23:10] sivel commented on #30636
I believe this is likely due to the problem described in https://github.com/ansible/ansible/issues/30663

Extension matching for inventory with python3 is broken.

[2017-09-20 23:10] shakeme commented on #30600
/etc/arch-release is empty.

[2017-09-20 23:14] willthames commented on #30645
This is fixed by #30622 and also #30333.

#30622 will be backported to 2.4, but will need a release. If you need a workaround, you can take the latest `ec2_instance_facts` from the devel branch and drop it in your codebase's library path.

[2017-09-20 23:14] jborean93 commented on #29072
Ok after debugging this issue locally I was able to get the error info from the MSI logs which were

[code]

When trying to run `- win_command: '"C:\Program Files\Dassault Systemes\DraftSight\bin\setup\i386\swinstactsvc.exe" -swup DSP'` locally I get the same error code `1007` which tells me this executable calls some process that fails under WinRM. There is little to no documentation on this exec

[2017-09-20 23:14] #29072 closed, assigned to nobody

[2017-09-20 23:20] bcoca commented on #30663
its not as much failing as ignoring the file

[2017-09-20 23:21] bcoca commented on #30636
@sivel, no that one is that the file is found, but YAML plugin does not consider it valid (`verify_file` method), this one .. file is not found at all

[2017-09-20 23:27] bcoca commented on #30663
reproduced, works in 2.7, but skips the file in 3.5
not sure how/why this code works differently across versions
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/yaml.py#L74

[2017-09-20 23:32] jimmymccrory commented on #30663
It looks to be because of the conversion of path to bytes.
ext is read back as `b'.yml'`

[2017-09-20 23:45] jborean93 commented on #30258
Hey @juge2 I've just opened a PR that should fix this issue for you here https://github.com/ansible/ansible/pull/30665. Are you able to test it out and see if it works for you?

[2017-09-20 23:47] bcoca commented on #30663
confirmed, @abadger  is fixing it up as we speak

[2017-09-21 00:11] virtuald commented on #30624
It also does not allow groups with equal signs in them either, which are also able to be used by dynamic inventories.

[2017-09-21 00:13] skyscooby commented on #28330
Figured this one out in my case at least.. from the last statement.. ansible-playbook was initially launched with version 2.1 and one of the steps in our playbook is to install ansible to latest and now that a newer version was silently slipped into the RHEL 7.4 extras repo (which is enabled by default) it was being upgraded from our standard version during the yum update to 7.4.. At some point ne

[2017-09-21 00:13] willthames commented on #30642
Does ec2.py work for you at all but just not for eu-west-2, or are you having problems with it completely?

Might be worth adding a trimmed down version of your ec2.ini too, unless it's the same as default

`grep -v '^#' ec2.ini | grep -v '^aws_'` should do the trick to show the important settings while also not showing your credentials if they're in there!

[2017-09-21 00:14] bcoca commented on #30636
@roumano the file is in the repo you are checking out? it does not exist beforehand?

that inventory would not be usable by ansible-pull, but it would be passed into ansible-plabyook.

could you update ticket with config information? `ansible-config dump --only-changed`

[2017-09-21 00:25] abadger commented on #30591
This not a problem in ansible (ansible doesn't have any compiled code so it would not Seg Fault).  Since the Seg Fault is printed *after* pip successfully installs everything I suspect it's a problem in pip or one of its dependencies.  It could be a problem in one of the packages installed which does have compiled code but I'd expect a Seg Fault message to be printed after "Installing collected pa

[2017-09-21 00:25] #30591 closed, assigned to nobody

[2017-09-21 00:31] willthames commented on #30357
This is because 10.10.10.0/20 is not a valid cidr_block, and it gets corrected to 10.10.0.0/20. On the second run through, it doesn't find a VPC with 10.10.10.0/20 and so creates another one

You probably want 10.10.10.0/24 or 10.10.0.0/20 or even 10.10.16.0/20, but the last four bits of the third octet must all be zero with a `/20` mask.

There is a fix for a similar issue with ec2_group proposed

[2017-09-21 00:33] bcoca commented on #30611
duplicate of #28937, fixed by #29048

[2017-09-21 00:33] #30611 closed, assigned to nobody

[2017-09-21 00:42] bcoca commented on #30624
the updated validation accepts 'valid python variable names'  for groups, as those characters actually break some functionality i.e  `groups.group-name` , creates an error

[2017-09-21 01:20] #20505 closed, assigned to nobody

[2017-09-21 01:23] dagwieers commented on #27824
Since this is not a Windows issue, removed the `windows` label.

[2017-09-21 01:53] dagwieers commented on #30366
There is hope for a better future at: https://github.com/pallets/jinja/pull/708

I am going to close this ticket, because we have plenty of identical tickets open. Currently Jinja2 only returns strings, we are trying to change that for Ansible.

[2017-09-21 01:53] #30366 closed, assigned to nobody

[2017-09-21 02:22] dagwieers commented on #20369
I can reproduce this on Windows 2012 R2, but not on Windows 10 (latest update).

So I wonder how we can solve this:
1. Not providing a password is possible on other platforms (even when the user exists)
2. Provide a proper error message without the wrapping #28402

[2017-09-21 02:39] #30663 closed, assigned to nobody

[2017-09-21 02:41] abadger commented on #30663
@jimmymccrory thanks.  This should be fixed by the above referenced Pull request.  merged to devel and stable-2.4 (for the 2.5.0 and 2.4.1 releases.)

[2017-09-21 02:55] bcoca commented on #29618
@php-coder  is this still happening in current versions? I cannot seem to reproduce the issue.

[2017-09-21 03:02] virtuald commented on #30624
It would be nice for the validation to be applied across all inventory types then.

[2017-09-21 03:08] abadger commented on #29987
Tested with current stable-2.4 and this appears to be fixed.  Tested the following playbook tasks with removal of the virtualenv in between each task:
[code]

This command:
[code]

is now an error:     "msg": "parameters are mutually exclusive: ['executable', 'virtualenv']"

Using this instead will work:
[code]

[2017-09-21 03:08] #29987 closed, assigned to nobody

[2017-09-21 03:50] ykuksenko commented on #30600
Contents of /etc/os-release and the requested variables is the same for me as @shakeme.

This one is the same in checkout and 2.3.2.0:
"ansible_distribution_major_version": "NA",

/tmp/ansible/hacking/tests/gen_distribution_version_testcase.py:
[code]

[2017-09-21 03:54] abadger commented on #29862
Ah ha.  This is not a problem that we can address.  It is a problem inside of the django-nvd3-0.9.7.tar.gz distribution.  Here's the output of running pip3 (pip targetting python3.5):
[code]

As you can see, the error is coming from django-nvd3/setup.py.  this is the setup.py script inside of the django-nvd3 tarball.  It is not able to be run via python3 when the locale is not utf8 capable and the

[2017-09-21 03:54] #29862 closed, assigned to nobody

[2017-09-21 03:57] abadger commented on #29710
Since there was a fix in 2.2.0 that is thought to address this and there has been no reply, I'm closing this issue.  If you continue to encounter this problem, please feel free to open a new ticket (referencing this one if you think it is relevant.)

[2017-09-21 03:57] #29710 closed, assigned to nobody

[2017-09-21 04:05] ykuksenko commented on #30600
full dump of facts:
ansible -m setup generic
[code]

[2017-09-21 04:14] abadger commented on #26117
needs_info

[2017-09-21 04:19] abadger commented on #30268
2.4.1 should be out in about a month.  2.4.0 was just released on the 19th.  If you need a fix for this, I suggest downloading the module and dropping it into your install of Ansible:
https://raw.githubusercontent.com/ansible/ansible/stable-2.4/lib/ansible/modules/cloud/amazon/ec2_lc.py

[2017-09-21 04:19] #30268 closed, assigned to nobody

[2017-09-21 04:34] abadger commented on #30354
For those having this problem, see if #30672 solves the problem for you.  I am not using the module myself so I'm just basing my fix off of the traceback you're getting.

[2017-09-21 04:41] zarr12steven commented on #30547
@helldorado Thanks for your help !!!

The answer is correct. And how to show more about `ide[n]`  list ?

[2017-09-21 06:04] dczupryn commented on #26900
Hi, so how to make it working?

[2017-09-21 06:51] berlic commented on #27299
The problem is related to the fact that Ansible uses own types for strings: `AnsibleUnicode` and `AnsibleUnsafeText`.
And as long as jmespath library has very strict type-checking, it fails to accept this types as string literals.

There was a clever hint posted here: https://github.com/ansible/ansible/issues/20379#issuecomment-284046669
It is used to alter jmespath's typemap to accept Ansible cus

[2017-09-21 07:02] jborean93 commented on #30555
Hey @dagwieers, I've raised a PR for this here https://github.com/ansible/ansible/pull/30674. Please test out and let me know how it goes.

[2017-09-21 07:13] elouanKeryell-Even commented on #22346
I don't understand why this works:

[code]

while this doesn't work:

[code]

Just printing the `json_query` works fine, so I think I really don't get how escaping works:

[code]

[2017-09-21 07:16] jborean93 commented on #30362
cc @lwade @tgerla @willthames

[2017-09-21 07:18] roumano commented on #30636
@boca :
i don't have make change on the machine, it's start on a "standard" docker without change on ansible configuration, i juste make a export of one variable to have the color :
ansible-config dump --only-changed
[code]
 ( i use it to have color even if running from a .gitlab-ci.yml )

Exact, before running then ansible-pull, the inventory file is not exist , event the ansible working director

[2017-09-21 07:19] jborean93 commented on #30385
cc @bcoca @jimi-c

[2017-09-21 07:23] jborean93 commented on #30406
cc @privateip @rcarrillocruz

[2017-09-21 07:28] jborean93 commented on #30411
You can enable debug mode to get more information than `-v*` gives you. To do this just export `ANSIBLE_DEBUG=1` to enable it.

We would probably need some more info to try and help you with this which hopefully the debug logs will provide. That many hosts does seem like a lot to connect concurrently, are you running in parallel or in blocks of hosts?

needs_info

[2017-09-21 07:32] jborean93 commented on #30414
cc @walbert947

[2017-09-21 07:36] rafernandez opened #30676 "script executes in check mode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module script

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

In check mode, when a task with module script is executed, script is really executed on the node
##### STEPS TO REPRODUCE

[code]
[code]
[code]

##### EXPECTED RESULTS

0 files in /tmp

##### ACTUAL RESULTS

1 file in /tmp :
[code]

[2017-09-21 07:40] alvarolinarescabre commented on #30357
Hi willthames,

Thank for the comment.

I probe the solution and work, thank a God.

Previously I add a **"when"** to check if VPC exist or not, add my temporal solution:

[code]

Again thank a lot.

[2017-09-21 07:42] jborean93 commented on #30431
Hey @Axelay-Prime, what version of Ansible are you running at? win_regedit went through a rewrite for 2.4 and I believe this is no longer an issue. I've run the same task without any errors.

[2017-09-21 07:43] JohanHolman opened #30677 "monit state is not working as expected"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/monitoring/monit.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### SUMMARY
When the monit state is already monitored it returns "changed": true

##### STEPS TO REPRODUCE
On the host, check state first:
[code]

The yaml file
[c

[2017-09-21 07:47] jhawkesworth commented on #30411
Hmm, what are you setting forks to?  Hitting lots of hosts at once might be taking up a lot of resources - worth checking /var/log/messages too.

You might like to try wait_for_connection as a way of testing that all your hosts are available. Its nice as its aware of the connection type so it works even if you have mixed inventory of say windows and linux hosts.

[2017-09-21 07:49] jhawkesworth commented on #30431
I remember this one - I think I'm the one who broke it :-(
I think it was fixed even before the re-write possibly.

Please can you try with ansible 2.4?

need_info

[2017-09-21 07:56] helldorado commented on #30547
@zarr12steven thank's for you feedback

you can get more info on PVE API documentation => https://pve.proxmox.com/pve-docs/api-viewer/index.html **_(Nodes -> Qemu -> Config)_** and chose method **POST**.

Or simply with qemu doc which details better options. https://pve.proxmox.com/wiki/Manual:_qm.conf

If you need more details, please join the ansible irc chanel on freenode or via google groups.

[2017-09-21 07:58] #30547 closed, assigned to nobody

[2017-09-21 08:24] oopled opened #30678 "error using cloudwatchevent_rule"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cloudwatchevent_rule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

targetting AWS

##### SUMMARY

using cloudwatchevent_rule to update a rules target in order to change the defined scheduled ecs task definition revision, get an error
botocore.exceptions.ClientError: An error occurred (ValidationException) when ca

[2017-09-21 08:34] jhawkesworth commented on #27155
For info I was able to install all 3 packages listed above by using 'become'.
Once I have documented this, I think this issue can be closed.

[2017-09-21 09:14] jvf opened #30679 "Removing a public IPv4 address fails without warning in ec2 module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No changes.

##### OS / ENVIRONMENT
macOS 10.12.6

##### SUMMARY
Changing `assign_public_ip` from `yes` to `no` silently fails

##### STEPS TO REPRODUCE
Create an instance with
[code]

Change to
[code]

Run playbook again.

##### EXPECTED RESULTS

Print out a warning that unassigning the p

[2017-09-21 09:28] lystor opened #30682 ".ini in inventory_ignore_extensions by default"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lib/ansible/config/base.yml

##### ANSIBLE VERSION

[code]

##### SUMMARY

Hello

Please remove .ini from inventory_ignore_extensions because:
1) INI is one of officially supported by Ansible formats of inventory;
2) IDE and other editors enable INI-format syntax highlighting and content validation only if filename has .ini extension;
3) INI i

[2017-09-21 09:37] IvanovOleg commented on #25669
Same issue in Ansible 2.4 makes it useless

[2017-09-21 09:50] kranjith490 commented on #15321
hi..evrey one am an begineer for ansible,am going to use it for continuous delivery.
i want to know how inventory,playbook,modules are interacting internally.
if anybody know this kindly reach me at kranjith490@gmail.com

[2017-09-21 10:12] dagwieers commented on #19851
There is a light at the end of the tunnel. We made a change to Jinja2 so we don't see all variable types changed into strings. See: https://github.com/pallets/jinja/pull/708

[2017-09-21 10:13] dagwieers commented on #17992
There is a light at the end of the tunnel. We made a change to Jinja2 so we don't see all variable types changed into strings. See: https://github.com/pallets/jinja/pull/708

[2017-09-21 10:13] dagwieers commented on #18095
There is a light at the end of the tunnel. We made a change to Jinja2 so we don't see all variable types changed into strings. See: https://github.com/pallets/jinja/pull/708

[2017-09-21 10:14] dagwieers commented on #19757
There is a light at the end of the tunnel. We made a change to Jinja2 so we don't see all variable types changed into strings. See: https://github.com/pallets/jinja/pull/708

[2017-09-21 10:14] dagwieers commented on #18722
There is a light at the end of the tunnel. We made a change to Jinja2 so we don't see all variable types changed into strings. See: https://github.com/pallets/jinja/pull/708

[2017-09-21 10:15] dagwieers commented on #13484
There is a light at the end of the tunnel. We made a change to Jinja2 so we don't see all variable types changed into strings. See: https://github.com/pallets/jinja/pull/708

[2017-09-21 10:20] dagwieers commented on #9362
There is a light at the end of the tunnel. We made a change to Jinja2 so we don't see all variable types changed into strings. See: https://github.com/pallets/jinja/pull/708

[2017-09-21 10:20] dagwieers commented on #15249
There is a light at the end of the tunnel. We made a change to Jinja2 so we don't see all variable types changed into strings. See: https://github.com/pallets/jinja/pull/708

[2017-09-21 10:20] dagwieers commented on #17852
There is a light at the end of the tunnel. We made a change to Jinja2 so we don't see all variable types changed into strings. See: https://github.com/pallets/jinja/pull/708

[2017-09-21 10:21] dagwieers commented on #12071
There is a light at the end of the tunnel. We made a change to Jinja2 so we don't see all variable types changed into strings. See: https://github.com/pallets/jinja/pull/708

[2017-09-21 10:21] dagwieers commented on #17665
There is a light at the end of the tunnel. We made a change to Jinja2 so we don't see all variable types changed into strings. See: https://github.com/pallets/jinja/pull/708

[2017-09-21 10:22] dagwieers commented on #30548
There is a light at the end of the tunnel. We made a change to Jinja2 so we don't see all variable types changed into strings. See: https://github.com/pallets/jinja/pull/708

[2017-09-21 10:24] dagwieers commented on #16057
(Mentioning #17992 here to keep track of related issues)

There is a light at the end of the tunnel. We made a change to Jinja2 so we don't see all variable types changed into strings. See: https://github.com/pallets/jinja/pull/708

[2017-09-21 10:36] dagwieers commented on #30555
This is related to #28402

[2017-09-21 10:43] dagwieers commented on #29110
Alright, so this is the documentation I will add:

    BNF syntax of strHotKey is as follows:

        Hotkey   ::=   modifier* keyname
        modifier ::=   "ALT+" | "CTRL+" | "SHIFT+" | "EXT+"
        keyname  ::=   "A" .. "Z" |
                       "0".. "9" |
                       "Back" | "Tab" | "Clear" | "Return" |
                       "Escape" | "Space" | "Prior" | ...

    Hotkeys c

[2017-09-21 10:46] ppanczyk commented on #30629
Yes, it does, thanks for the quick reaction :)

BTW, I believe it's worth to document this option in [Configuration file](http://docs.ansible.com/ansible/latest/intro_configuration.html) section (and maybe to add it to the configuration file itself), because now the documentation is a little bit inconsistent - it mentions the option in the [Configuration](http://docs.ansible.com/ansible/latest/con

[2017-09-21 10:53] dagwieers commented on #28402
I guess this is just a matter of catching potential places that can throw exceptions like this:
[code]

However if we could clean up the exception message from the wrapper, blank statements like the above would no longer be necessary. Only very specific messages adding info would still be useful.

[2017-09-21 10:56] lang7 opened #30687 "cloudformation_facts has stopped working with AWS StackID"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

cloudformation_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

In version prior to 2.4 (i.e. ansible 2.3.2.) when cloudformaion_facts registers the facts under
ansible_facts['cloudformation']['my-cloudformation-stack-**ID**']
now they are registered under
ansible_facts['cloudformation']['my-

[2017-09-21 11:04] naisanza commented on #30624
Running into this just now, and was just about to submit a regression

If a file extension isn't given, you get the following error:

[code]

[2017-09-21 11:14] afrittoli opened #30688 "ansible_processor_vcpus is not reported on Darwin"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/module_utils/facts/hardware/darwin.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
macOS Sierra 10.12.6

##### SUMMARY
ansible_processor_vcpus is not reported on darwin. This is because the get_cpu_facts in the darwin modules only reports processor type and count:

It should be possible on Darwin to obt

[2017-09-21 11:18] mkaimal commented on #28011
looks like its the python module for apt , is configured incorrect .

i wanted to do apt-get update -y , but had the conflict on all the packages .

this is the result :
[code]
for the task
[code]
But it worked when i had  this ...

[code]
**as apt-get upgrade -y  , and not as apt-get dist-upgrade ( as mentioned in the doc)**

[code]

[2017-09-21 11:50] jborean93 commented on #26117
I just spun up my old Windows 10 desktop to try this out and couldn't replicate this issue so I am going to close it. If you are still having issues let us know and I will reopen the issue.

Here is the final output

![image](https://user-images.githubusercontent.com/8462645/30694310-c4a70ce8-9f16-11e7-8710-bd5a2d249233.png)

[2017-09-21 11:50] #26117 closed, assigned to nobody

[2017-09-21 11:55] jhawkesworth commented on #30624
Please consider adding a note to the porting guides regarding this.

[2017-09-21 11:58] andrewhowdencom opened #30690 "Lets Encrypt module appears to fail with Python 3"
This appears to be the only report

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lib/ansible/modules/web_infrastructure/letsencrypt.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Ansible 2.4 command had no output

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

Trying to write a role with Lets Encrypt that uses Python3 as the task executor, and it breaks. Various string enco

[2017-09-21 12:15] lystor commented on #30624
Some of Ansible customers use third-party CRM software that provides dynamic Ansible inventories with dashes inside group names. They will not be able to migrate to Ansible 2.4. At the same time official Ansible PPA provides only the latest version of ansible package.

[2017-09-21 12:19] jeanfabrice opened #30691 "any_errors_fatal still broken in ansible/stable-2.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
any_errors_fatal feature

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Default configuration

##### OS / ENVIRONMENT

macOS Sierra 10.12.6 (16G29)

##### SUMMARY
any_errors_fatal doesn't stop task execution. Basic usage

##### STEPS TO REPRODUCE
Create the following playbook:
[code]

The accompanying hosts file is:
[code]
##### EXPECTED RE

[2017-09-21 12:33] s-hertel commented on #29868
Fixed in 0d2d25b5152396e561c8cb527ac7f1a289a8cd9a.

[2017-09-21 12:33] #29868 closed, assigned to nobody

[2017-09-21 12:33] s-hertel commented on #29979
Fixed in 0d2d25b5152396e561c8cb527ac7f1a289a8cd9a.

[2017-09-21 12:33] #29979 closed, assigned to nobody

[2017-09-21 12:37] pjnagel opened #30693 "Ansible_distribution for Ubuntu 10.04 misreported as Mandriva"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Management node (as per lsb_release -a):
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial

Target node (as per lsb_release -a):
No LSB modules are available.
Distributor ID: Ubuntu
Descriptio

[2017-09-21 12:49] dagwieers commented on #29110
@ekultails Is this PR #30694 acceptable for you ?

[2017-09-21 12:51] philipbalinov opened #30695 "bin/ansible python shebang"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
irrelevant

##### OS / ENVIRONMENT
all

##### SUMMARY

According to git blame, the first line of the `bin/ansible` file contains the line:
[code]
The other files in the bin/ directory, except `bin/ansible-connection`, are symlinks to the `bin/ansible` file.

Again, according to git blame, t

[2017-09-21 13:23] philipbalinov commented on #30695
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
irrelevant

##### OS / ENVIRONMENT
all

##### SUMMARY

According to git blame, the first line of the `bin/ansible` file contains the line:
[code]
The other files in the bin/ directory, except `bin/ansible-connection`, are symlinks to the `bin/ansible` file.

Again, according to git blame, t

[2017-09-21 13:31] jrandall opened #30697 "boto3_conn does not propagate exception message"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`module_utils/ec2.py`

##### ANSIBLE VERSION
https://github.com/ansible/ansible/blob/f8230d961d4af427a9adbb8abf7b591b7d513f66/lib/ansible/module_utils/ec2.py#L99-L103

##### SUMMARY
When a `ValueError` exception is triggered by boto3 (such as `Invalid endpoint`), the error message is not output by modules such as `aws_s3` - instead the message a

[2017-09-21 13:34] kromanow94 opened #30698 "eos_config not handling sockets properly"
Hello!

I've been on this issue for few days, did a lot of network debugging, read a lot of issues contributing to this one, but this seems to be rather not documented.

We have a role that is configuring switches with eos_config. It worked perfectly on ansible 2.1.0.0, but upgrading to 2.3.2.0 creates errors.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

eos_config

##### ANSIBLE VERSIO

[2017-09-21 13:41] bcoca commented on #30624
@lystor by design the PPA can only supply one version, that is why we create PPAs for the previous version on release: https://launchpad.net/~ansible/+archive/ubuntu/ansible-2.3

As for this issue, i'm looking at both generalizing (applying to all plugins) and making it configurable (allow users to set 'valid characters').

The current behaviour was added after many users complained that the plugi

[2017-09-21 13:46] halberom opened #30700 "vars used in include_role or import_role are evaluated too early"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role
import_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
Mac OSX

##### SUMMARY
When using a variable as the target for an include_role or import_role, it is evaluated at the beginning of an ansible-playbook run, before it may exist.

##### STEPS TO REPRODUCE
https://gist.github.com/halberom/2c9aa046

[2017-09-21 13:49] dagwieers commented on #30555
Seems fine, even though I also prefer a solution like #28402. I think it's even more important than fixing exceptions individually. Thanks again @jborean !

[2017-09-21 13:49] #30555 closed, assigned to jborean93

[2017-09-21 13:51] dagwieers commented on #20369
So I am going to close this one and refer to #28402 to ensure we have proper error-messages in the future for *run-away exceptions* :-)

[2017-09-21 13:51] #20369 closed, assigned to nitzmahone

[2017-09-21 13:58] gamuniz opened #30701 "Feature Idea: Add an AWS NLB Cloud Module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

AWS NLB Cloud Module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

AWS just released a new NLB (Network Load Balancer)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-09-21 14:00] bcoca commented on #30629
@ppanczyk , the first one is the canonical one, it is actually generated from the configuration and not manually maintained like the 2nd. I have an update in the queue to remove the latter, but it has not made it in yet.

[2017-09-21 14:00] #30629 closed, assigned to bcoca

[2017-09-21 14:01] tima commented on #30652
I'm pretty sure this condition is related to https://github.com/ansible/ansible/pull/25047. The current behavior in v2.4 seems correct to me -- the Ansible engine should be managing the user.

Would you argee @jctanner and @abadger?

[2017-09-21 14:03] halberom commented on #30700
Note this was first reported by stanislava in irc, with a link to https://gist.github.com/XooR/f5f15b0610ba6c15c4820e89a2b92ce0

[2017-09-21 14:12] abadger commented on #30695
The shebang line rewriting is how the python packaging ecosystem installs files.  distutils/setuptools/pip substitute the shebang line in scripts with the python interpreter that they were executed with.

The separate files is also a product of the python packaging ecosystem.  In this case setuptools.  It dereferences symlinks.  Dereferencing symlinks causes problems for some of Ansible's features

[2017-09-21 14:12] emonty commented on #28746
Patch submitted upstream: https://review.openstack.org/506194 ... we'll get that landed and in a release.

I'm also fascinated as to why we're getting a p_opt there without a prompt - but clearly we are.

@brainstorm incidentally, the next release of shade should drop the python-ironicclient depend (and all of its transitive depends) You can actually safely remove it from your conda recipes if you

[2017-09-21 14:16] mattwwarren commented on #30652
I agree that ansible should manage the user but it is unclear from the documentation and the code how to set the synchronize to use a specific user.

`set_remote_user` is True by default so I would expect that to use the REMOTE_USER variable as set on the cli. I do not see a place where I can add that in the options passed into the module.

That being said, I do see this line in the linked PR:
[co

[2017-09-21 14:20] Bouwdie opened #30703 "unarchive in combination with tempfile leads to unfindable files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
* unarchive
* tempfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The unachive module in combination with the tempfile module leads to file not found error while is does exist. This happens only when the tempfile is created on account of another user than the running user.
The documentation

[2017-09-21 14:27] bcoca commented on #30682
This is done due to inventory scripts, many of them had a `.ini` configuration file that had to reside in the same directory.

With the introduction of inventory plugins in 2.4 we will probably phase inventory scripts out and then will be able to change this default, until then, it is configurable.

Also this only affects when using a directory as a inventory source, if you point at a file directl

[2017-09-21 14:30] bcoca commented on #30385
this is expected, as instead of importing (static=yes) it becomes 'the task' .. include_role is at this point a Task object and that is what we normally pass.

[2017-09-21 14:32] dagwieers commented on #25377
@jborean I assume this is fixed with you **win_scheduled_task** rewrite ?

[2017-09-21 14:35] dagwieers commented on #21389
Yes, if you read the documentation, the **unarchive** module needs the **unzip** and **gtar** binaries in order to work.

[2017-09-21 14:35] #21389 closed, assigned to abadger, dagwieers

[2017-09-21 14:35] brainstorm commented on #28746
Awesome @emonty, thanks so much for your quick support and fix upstream! I'll tweak the conda packages accordingly when that release is out, kudos for the dropping of all those dependencies too!

The current iteration of my ansible playbook does not require any "external" `cloud.yaml` file at all, just ansible's `group_vars/all`:

https://github.com/brainstorm/pcgr-deploy/blob/master/ansible/group

[2017-09-21 14:37] FearTheBadger commented on #30664
Thank you for the correction.
I'm sorry to have wasted your time with this non-problem.

[2017-09-21 14:41] LukeShortCloud commented on #29110
@dagwieers Thank you so much for this, that looks great! I wasn't too familiar with how this function worked so it's great to see these examples and additional documentation.

[2017-09-21 14:44] dagwieers commented on #17014
@westsouthnight @khannz There is a Windows Working Group meeting on Tuesday every week. If you want to raise an issue in that meeting, you can simply add an item to [the Windows WG Agenda](https://github.com/ansible/community/labels/windows) and join the next meeting.

I don't know what this ticket is about now. It seems the OP assumed that `ansible_default_ipv4['address']` was the IP address used

[2017-09-21 14:44] bdlamprecht commented on #30366
That does look promising, thanks for linking to the discussion.

[2017-09-21 14:54] b-long commented on #17914
Just confirming, but based on the [current CHANGELOG.md], it looks like merged Ansible configuration didn't land in 2.4.

Am I understanding that correctly?

_As an aside, thanks so much for highlighting [the configuration behavior] on your blog @geerlingguy ! 👍_

[current CHANGELOG.md]: https://github.com/ansible/ansible/blob/2295494fa5deb492c1a521bdfa4b36f92111031d/CHANGELOG.md
[the configuratio

[2017-09-21 14:56] bcoca commented on #17914
configuration 'landed', just one foot ... no merging configs yet, project is big enough to span a few releases.

[2017-09-21 14:58] b-long commented on #17914
Understood, thanks for clarifying @bcoca 😄

[2017-09-21 15:07] dan-osms commented on #30701
Yep yep!

[2017-09-21 15:08] hanynowsky commented on #25626
Is there any workaround for this, using custom attribute.?

[2017-09-21 15:09] dagwieers commented on #29110
Yeah, I probably did not bother with the documentation because I didn't see it as very useful, but maybe I was wrong. It should have been documented from the start.

Thanks for reporting, closing the ticket now !

[2017-09-21 15:09] #29110 closed, assigned to nobody

[2017-09-21 15:30] rpijlman commented on #29084
Thanks Sam, I dit 'apt-get install python-paramiko' and that fixed it.

This requirement is not mentioned in "Running from source" (or any other section) on http://docs.ansible.com/ansible/latest/intro_installation.html.
Also, Ansible 2.3 worked fine for me on the same controller without the python-paramiko package.

IMO this should be documented and the failure should produce a more meaningful er

[2017-09-21 15:39] jmvbxx commented on #29084
Installing `python-paramiko` did not fix it for me. Instead I had to remove
`python-cryptography`.

On Thu, Sep 21, 2017 at 10:32 AM, René Pijlman <notifications@github.com>
wrote:

[2017-09-21 15:51] Akasurde commented on #30688
@afrittoli Thanks for reporting this issue. Could you please try above patch and let me know if it works for you ?

[2017-09-21 15:51] Akasurde commented on #30688
resolved_by_pr #30708

[2017-09-21 15:53] rpijlman commented on #29084
That's strange @jmvbxx. I have all of these packages installed on my Ansible controller and 2.4.0.0 seems to be running fine now on Debian 9.1 (from source, using hacking/env-setup):
[code]

[2017-09-21 15:54] philipbalinov commented on #30695
You are right, it is indeed setuptools/distutils mangling the shebang.

Build/install from a clone of the git repo did keep the symlinks, but the pip package for ansible-2.4.0 doesn't have the symlinks, not sure why.

Has keeping the shebang line been discussed - I see no harm in it and would allow us to change the python version in runtime.

[2017-09-21 15:58] jean-christophe-manciot opened #30709 "Structured output unsupported"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_command

##### ANSIBLE VERSION

Latest stable version 2.4.0:
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
- host: Ubuntu 17.04 4.10
- target:
  + *NX-OSv 9k: 7.0(3)I6(1)**
- paramiko: 2.0.6

##### SUMMARY

The simple "yum localinstall <rpm>" command fails although it is allowed on the host.
The environment is a little special th

[2017-09-21 16:03] jmvbxx commented on #29084
Yeah, it was really weird. When I bumped up to 2.4.0.0 from 2.3 everything
worked fine until I tried the s3 module which requires boto3. Once I tried
to specify the python interpreter is when my troubles began.

Now I've got ansible working again and I'm still fighting with Python3 and
boto3. I've got it set in inventory but it's not picking it up. (I'm not
trying to hijack the conversation) 😂

On

[2017-09-21 16:07] Shaps commented on #30700
Some more info for this:
- Works correctly if the included role `test1` doesn't have an `include_role` task
- Works correctly if the `rolename` var is defined in the play `vars:` section

[2017-09-21 16:15] Bouwdie commented on #30703
The same behaviour for tempfile combined with the copy module (hits the same code?)

[2017-09-21 16:21] #29084 closed, assigned to nobody

[2017-09-21 16:57] alikins commented on #30700
Started some intg tests for this at https://github.com/ansible/ansible/compare/devel...alikins:include_role_intg_tests

Do the tests at https://github.com/ansible/ansible/compare/devel...alikins:include_role_intg_tests?expand=1#diff-201e87e7cc1d4faad12a30a3a540c8c9 and https://github.com/ansible/ansible/compare/devel...alikins:include_role_intg_tests?expand=1#diff-9223a0c4b39f8ab67818bac876e944c7

[2017-09-21 17:01] Shaps commented on #30700
@alikins Yep that's what I was doing too, it does look good to me!

[2017-09-21 17:09] php-coder commented on #29618
@bcoca Yes, it's still here. I've just reproduced it with ansible-2.4.0.0

[2017-09-21 17:11] alikins commented on #30600
Wondering if this is dependent on which order the distribution file based code runs, since it seems to be falling back to using /etc/os-release (where 'Arch Linux' comes from) instead of choosing 'ArchLinux' because it found a (possibly empty) /etc/arch-release. If the os-release runs first and finds something, it wouldn't continue, but need to dig into why/if it could be a different order.

[2017-09-21 17:15] #30644 closed, assigned to nobody

[2017-09-21 17:26] bcoca commented on #30600
arch-release is probably only populated on older Arch machines, we should support both but os-release will be the one most often populated.

[2017-09-21 17:26] samdoran commented on #30590
cc @s-hertel @ryansb

[2017-09-21 17:35] bcoca commented on #29618
can you give the full path to the file? run with -vvvv and paste output?

 I've been doing several tests and the stat module does what i expect in those scenarios

[2017-09-21 17:35] alikins commented on #30600
@ykuksenko Thanks for the test data.

Running that test data the chosen name ends up being 'Arch Linux'.

[2017-09-21 17:37] alikins commented on #30600
Nope, not that. missing case for breaking on a match with allow_empty, working on pr

[2017-09-21 17:45] samdoran commented on #30585
Could you provide an example playbook not just the output?

needs_info

[2017-09-21 17:51] polaris197 opened #30717 "custom dynamic inventory caching"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
ansible 2.4.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ansible/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible-2.4.0.0-py2.7.egg/ansible
  executable location = /bin/ansible
  python ve

[2017-09-21 17:54] agnellodsouza commented on #26336
am facing the same issue

[2017-09-21 17:56] samdoran commented on #30592
cc @abadger @bcoca

Looks like we need to properly encode/decode paths on the way in/out.

[2017-09-21 17:59] samdoran commented on #30603
cc @alikins

[2017-09-21 18:37] jkilpatr opened #30719 "module ini_file forces substitution of " with ""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ini_file

##### ANSIBLE VERSION

ansible 2.4.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/stack/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /home/stack/setup_pci_ansible/venv/lib/python2.7/site-packages/ansible
  executable location = /home/stack/

[2017-09-21 19:45] jborean93 commented on #25377
It should be, I cannot replicate this and did my testing on Server 2016 so am going to close the issue. @berney if you test the latest devel version and it still fails let us know and we will reopen the issue.

[2017-09-21 19:45] #25377 closed, assigned to nobody

[2017-09-21 19:45] abadger commented on #30695
We're not going to override the shebang code in our setup.py.  It would likely be a lot of work and then we'd have to maintain it.  it's also generally seen as useful (there's been many upstream discussions of this over the years and distro packagers have taken advantage of it as well) so we wouldn't want to be the odd man out.

I'm not sure what's going wrong with pip for you.  I just tried it li

[2017-09-21 19:46] fthommen commented on #30644
perfect.  thx

[2017-09-21 19:46] rcgoodfellow opened #30720 "2.4 not respecting --ssh-extra-args"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook, --ssh-extra-args flag

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
This works
[code]

This does not
[code]

[Here](https://gist.github.com/rcgoodfellow/0d077f854129db40cdb7940bdeabd790) is a gist with verbose output on.

##### EXPECTED RESULTS
The playbook t

[2017-09-21 19:53] rcgoodfellow commented on #30720
as a workaround the `--private-key` option works. But for backwards compatibility it would be very nice if the ssh argument passing continues to work.

[2017-09-21 20:15] samdoran commented on #29084
@rpijlman There is a `requirements.txt` file that needs to be installed when [running from source](http://docs.ansible.com/ansible/latest/intro_installation.html#running-from-source).

Note these are the bare minimum needed for the Ansible engine and not modules, which is why you hit the `boto3` missing @jmvbxx. Many of the EC2 modules use `boto3` in Ansible 2.4.

It looks like the imports in `lib

[2017-09-21 20:26] php-coder commented on #29618
The current directory is `/home/travis/build/php-coder/mystamps`
The WAR file at `/home/travis/build/php-coder/mystamps/target/mystamps.war`
I'm running a script (`./src/main/scripts/ci/deploy.sh`) from the current directory that is executing ansible (`ansible-playbook --inventory-file=./src/main/scripts/ci/ansible/mystamps.inventory ./src/main/scripts/ci/ansible/deploy.yml`).

[code]

[2017-09-21 20:51] jhlasnik commented on #30517
I agree I was hitting the same error just like that today and adding [0] after stdout fixed that.

[2017-09-21 20:52] bcoca commented on #29618
OK, so this might be the reverse, there was a bug in 2.0/2.1 that had the 'wrong' directory when running local actions, #16805 began the fix , but was finalized here e2f17f8d9b212b1e8d65c12a778d036753831ab6 to only affect local connections.

This is the intended pathing as you can rely on the playbook to be the anchor for relative paths contained within, vs the `cwd` which can be arbitrary.

As su

[2017-09-21 20:53] #29618 closed, assigned to nobody

[2017-09-21 21:15] nitzmahone commented on #30289
2.4.0 relies on newer bits than are included in the `azure==2.0.0` metapackage- you'll need to do `pip install ansible[azure]` or install from the requirements file it's based on (https://github.com/ansible/ansible/blob/devel/packaging/requirements/requirements-azure.txt). The azure_rm_common shared module provides various resource clients and automatic resource provider registration (though did I

[2017-09-21 21:32] nergdron opened #30724 "ansible s3_* modules fail when bucket name contains periods"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Appears to affect all s3_* modules.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
this is caused by an upstream boto bug, where it fails to correctly make changes if a bucket contains periods, such as buckets with dns names for s3 website hosting:

https://github.com/boto/boto/issues/2

[2017-09-21 21:33] ghost commented on #24273
Running into same warning message.

[2017-09-21 21:33] nergdron commented on #30724
Recommended fix is to set the following option when using boto to manipulate s3 buckets:

calling_format = boto.s3.connection.OrdinaryCallingFormat

so a potential patch could just include this and the correct region endpoint for the bucket in question, and would likely resolve the issue.

[2017-09-21 21:37] ghost commented on #24273
Actually newest version of ec2.py and ec2.ini has this option which worked to suppress the warnings.

# To exclude ElastiCache instances from the inventory, uncomment and set to False.
elasticache = False

[2017-09-21 21:40] orderedchaosdev commented on #24273
While that would disable the message, that still doesn't resolve the issue that its doing something wrong or handling something poorly.

[2017-09-21 21:43] ghost commented on #24273
agreed.

[2017-09-21 22:26] alikins commented on #30600
@bcoca

Need to add a special case for Arch with no arch-release but with a os-release. Current code will fallback to os-release in that case, but the name in os-release is 'ArchLinux' vs 'Archlinux' that a hit on /etc/arch-release triggers.

[2017-09-21 22:32] nitzmahone commented on #30676
Tested back to 1.9- this has apparently never been properly skipped in check_mode... Wow.

[2017-09-21 22:59] caphrim007 opened #30726 "file transfer failure via cloud-init/cloud-config non-interactive"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`ansible-config dump --only-changed` reports nothing when called interactively and non-interactively

##### OS / ENVIRONMENT

##### SUMMARY

I seem to be running into this bug which was fixed and then unfixed according to the comments.

https://github.com/ansible/ansible/issues/20332

Adding

[2017-09-21 23:02] bcoca commented on #30726
can you update the configuration section?

[2017-09-21 23:06] bcoca commented on #30519
so this PR #30587 speeds up inventory to 2.3/even faster speeds, let me know if this solves the bulk of the issues

[2017-09-21 23:07] bcoca commented on #30534
tested  PR #30587  as much as i can, everything seems fine, please confirm a) speeds up inventory b) it actually is correct

[2017-09-21 23:21] towolf commented on #30534
@bcoca, great success!

2.2.1: `4s`
stable-2.4.0 + #30587: `6.5s`

For me that is really acceptable. Only, it's funny because one time I suggested using sets myself, and you said it would mess up the ordering.

[2017-09-21 23:22] bcoca commented on #30534
it would ... so i use BOTH! sets are really doing double accounting, ordering is still done from the lists.

previous attempts had used sets OR lists ... I don't like the data duplication but I think it is worth it .. this time.

Another gain is that now we compare host names and not host objects.

[2017-09-21 23:50] caphrim007 commented on #30726
@bcoca changed

[2017-09-22 00:02] caphrim007 commented on #30726
additionally, doing one of the interim fixes mentioned in the other Issue, seems to work for me. Though I was expecting to not have to include this because of what @bcoca mentioned in the other issue of (and i paraphrase) "~ should just be known to be $HOME"

ex.

[code]

[2017-09-22 01:28] bcoca commented on #30726
i suspected as much, cloud init seems to break POSIX shell semantics and does not work with '~/'

Solaris has the same issue, this is not really a bug, but more a required configuration change, as we cannot be defaulting to $HOME because breaks other architectures.

So I'm going to close this ticket, but before I do that I want to point out that we are looking at ways to make this easier to config

[2017-09-22 01:28] #30726 closed, assigned to nobody

[2017-09-22 02:50] #30354 closed, assigned to nobody

[2017-09-22 03:33] mattspera commented on #19305
Any updates on a fix for this issue?

[2017-09-22 03:42] bcoca commented on #30624
for now the PR above removes this validation, but it will probably be re introduced in 2.5 (configurable and generalized) as well as a 'sanitation' that can 'auto rewrite' names to be conformant.

[2017-09-22 04:40] ImTheDeveloper commented on #27938
Thank you so much for keeping this alive @maethor  and for the fix @RohitK89  I've spent the last 2 hours trying to work out what was going wrong!

[2017-09-22 05:03] abguy commented on #16048
Any updates on this? Yesterday I've noticed that my workaround stopped working with Ansible 2.4.0
... and I didn't find a way to fix it quickly

[2017-09-22 06:13] PhilEv commented on #30519
@bcoca , I guess this will help/fix the @towolf issue. In my case the inventory was made of 1 host in 2 groups.
I will give it a try anyway.

[2017-09-22 06:38] ismferd opened #30732 "Trouble installing ansible 2.4 from Packer"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Install Ansible 2.4 From Packer

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Install ansible 2.4
##### ACTUAL RESULTS

[code]

[2017-09-22 07:23] ganeshrn commented on #30698
Please follow the troubleshooting steps mentioned [here](docs.ansible.com/ansible/latest/network_debug_troubleshooting.html#unable-to-open-shell)

Also, you can enable the logging by setting `log_path` value in the configuration file. The additional logs in the file will give more information about the cause of failure.

[2017-09-22 08:23] hadrien-toma commented on #29047
Same error for me, using version `2.5.0`.

[2017-09-22 08:55] mscherer commented on #30693
Can you paste the content of /etc/lsb-release ?

[2017-09-22 09:03] #16444 closed, assigned to nobody

[2017-09-22 09:31] towolf commented on #30519
One issue down, yes. I have not had the chance to test properly, yet. But one playbook run yesterday running stable-2.4 from the git checkout seemed really slow, with ok/skip tasks ticking by very slowly ...

[2017-09-22 09:43] mscherer commented on #30732
Can you tell a bit more on how you install it using packer, I do not know the tool, and it look like a issue with missing libffi headers, which is outside of the scope of ansible :/

[2017-09-22 09:57] ismferd commented on #30732
I have installed it with pip, if I pin 2.3 version I don't have problems:
[code]
in the other hand, I have the problems commented before with 2.4

[2017-09-22 10:03] vrischmann commented on #27960
After looking at it more, I think I was wrong. I failed to understand what `state: stopped` actually does which is create a container if not present and ensure it's stopped. With 2.4 it's behaving like the documentation says.

[2017-09-22 10:05] mscherer commented on #30693
@alikins could it be also a side effect of the order issue you spoke on #30623 ?

[2017-09-22 10:42] #30627 closed, assigned to nobody

[2017-09-22 10:45] hadrien-toma opened #30744 "ERROR! 'import_plays' is not a valid attribute for a Play"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
* `import_plays`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04, 64 bits.

##### SUMMARY
Trying to import a play throws an unexpected error.

##### STEPS TO REPRODUCE
Run this bash commands to reproduce:
[code]

##### EXPECTED RESULTS
I expected to have the play imported in the parent one.

##### A

[2017-09-22 11:14] juge2 commented on #30258
Thank you - that was fast!
I tested your PR and it works for my issue.

[2017-09-22 11:19] macropin commented on #16254
Also can confirm this on 2.4

[2017-09-22 12:01] SubOptimal commented on #30744
Maybe an error in the documentation.

-- here it's mentioned as `import_playbook`
[https://docs.ansible.com/ansible/latest/playbooks_reuse.html](https://docs.ansible.com/ansible/latest/playbooks_reuse.html#dynamic-vs-static)

-- where as here it's mentioned as `import_plays`
[https://docs.ansible.com/ansible/latest/playbooks_best_practices.html](https://docs.ansible.com/ansible/latest/playbooks_be

[2017-09-22 12:03] rpasche commented on #29043
Have exact same error. But I did come a bit further when I try to create the VM. Seems that we both have a 'german' windows vCenter server. I do not know, why the root datacenter folder is named `Datencenter`. But...after changing this

[code]
I get this error

[code]

[2017-09-22 12:07] rpasche commented on #29043
Ah....at least, specifying

[code]
after reading https://communities.vmware.com/thread/473617 fixes the problem. It would be better to use this default `Resources` resource pool if there are no resource pools defined within the object this VM is to be created

[2017-09-22 12:15] s-hertel commented on #30104
Adding a link to the related pr that was referenced: https://github.com/ansible/ansible-modules-core/issues/4386

[2017-09-22 12:27] mscherer commented on #30732
Ok so the problem is that pip install is not sufficient,  you also need to have libffi-dev and other stuff. Python-cryptography module has new system dependencies, and pip do not handle that.

[2017-09-22 12:43] s-hertel commented on #30637
Hi @JohanHolman. Would mind testing my fix for this? #30750

[2017-09-22 12:45] mscherer commented on #30641
This is a common issue, see for example https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apk.py#L292 , the fix need to be replicated in the module

[2017-09-22 12:57] rhpvorderman opened #30751 "group_vars and host_vars not loaded anymore in ansible 2.3.1, 2.3.2 and 2.4.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
ubuntu 16.04

##### SUMMARY
Ansible 2.3.0 worked fine but from 2.3.1 onwards the host_vars and group vars directory are not used anymore.

##### STEPS TO REPRODUCE

Ansible is run from PLAYBOOK_DIR. Inventory file is in `./test/hosts`
[code]
group_vars in `./

[2017-09-22 13:10] s-hertel commented on #30724
Adding a note that this has been fixed for s3_bucket and s3 in 2.4. s3_website and s3_sync should work with dots in the bucket name because they use boto3. s3_lifecycle and s3_logging appear to use OrdinaryCallingFormat correctly and should also be working with dots in the bucket name.

[2017-09-22 13:14] toke opened #30753 "ansible_service_mgr fact for sysvinit incorrect in ansible 2.4.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible fact / variable `ansible_service_mgr`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
does not matter

##### OS / ENVIRONMENT
Target Debian Linux 7.11 (possible other Systems with sysvinit)

##### SUMMARY
Prior to ansible 2.4.0.0 ansible_service_mgr contained the value `sysvinit`, after the update to 2.4.0.0 ansible falls back to `ser

[2017-09-22 13:21] rpijlman commented on #29084
Thanks again @samdoran, for you clear explanation. I wasn't aware of that requirements.txt file.

[2017-09-22 13:32] misra-anshuman commented on #19825
Is there any update on this issue ?

In my case the target is rebooted and also the module waits till timeout, then I get something like : **"msg": "timed out waiting for winrm port down: port is open"**.

[2017-09-22 13:36] hadrien-toma commented on #30744
Alright, so I confirm that it seems to be a documentation issue, using `import_playbook` instead of `import_plays` works for me (of course, after fixing `plays/text.yml`^^). Thank you @SubOptimal!

[2017-09-22 13:42] dagwieers commented on #19825
For **wait_for_connection* we dropped testing the availability of the port. The reason for this being that if you use SSH you may be hopping between hosts which a direct port test cannot know about.

I prefer the same thing for **win_reboot** (and the **reboot** action plugin I hope to finish).. A delay before testing the connection, and end-to-end test by running the win_ping/ping module and a fi

[2017-09-22 13:54] raj2033 opened #30754 "Failed to update apt cache (update_cache)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

Cannot update cache.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-09-22 13:57] samdoran commented on #29084
No problem. Thanks for using Ansible!

[2017-09-22 13:59] ashemedai opened #30755 "Ansible plays end with Exception TypeError: 'NoneType' object is not callable"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Debian GNU/Linux 8.9 (jessie)

##### SUMMARY

Every playbook run ends with:
Exception TypeError: "'NoneType' object is not callable" in <function remove at 0x7fd27fcf5b18> ignored

##### STEPS TO REPRODUCE

Run any available playbook with ansible-playbok

##### E

[2017-09-22 14:05] pilou- commented on #29426
@sebastiendarocha was unable to reproduce, fixed by 3691c784d25c173f0967f536c52ee0c15922948d.

@mscherer could you close this one please ?

[2017-09-22 14:13] #29426 closed, assigned to nobody

[2017-09-22 14:19] sebastiendarocha commented on #29379
Didn't reproduce on 2.5.0.0

Fixed by 3691c784d25c173f0967f536c52ee0c15922948d

@mscherer could you close this ?