[2017-05-17 17:09] sivel commented on #24675
fwiw, I am fine having the fix only in shade, as opposed to handling it in `os_server`.  Your decision ultimately.

[2017-05-17 17:09] clofresh opened #24741 "error when specifying multiple group_names in ec2_group rules"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ec2_group module

##### ANSIBLE VERSION
Broken in 2.3.0 but fixed in devel branch

##### SUMMARY

Specifying multiple group_name values gives an error

[code]

[code]

The bug is actually fixed in the devel branch, so I think it's more of a documentation issue to mention that multiple group_name values doesn't work until 2.4.0 is relea

[2017-05-17 17:11] JesseAChristensen opened #24743 "re-open request for bug: lineinfile duplicates lines with regexp containing quantifiers #16596"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
This bug still exists in version 2.2. The original bug report was closed in July 2016 due to the old module bug reporting policy that bugs for modules are reported at https://github.com/ansible/ansible-modules-core. That repository is now closed

[2017-05-17 17:17] #24675 closed, assigned to nobody

[2017-05-17 18:02] gundalow commented on #24728
Hi
Please go a head and PR. Thanks

[2017-05-17 18:04] gundalow commented on #24724
resolved_by_pr 24730

[2017-05-17 18:21] gundalow commented on #24660
Hi,
If you follow the link on the original PR you can create a new PR and we can review this.

[2017-05-17 18:27] s-hertel commented on #24670
Thanks @ElAutoestopista for looking into this! :-)

close_me

[2017-05-17 18:30] #24510 closed, assigned to nobody

[2017-05-17 18:47] #24301 closed, assigned to jimi-c

[2017-05-17 18:56] defn commented on #14468
I ran into this issue using the local connection mode `-c local` using ansible from a virtualenv.  The difference between a working playbook and the broken virtualenv run is which python interpreter is used.  In local mode, it uses the python in the virtualenv which doesn't have the apt packages.  This doesn't matter when running the playbook in non-local mode to remote ssh hosts because the remot

[2017-05-17 18:58] nickallevato opened #24746 "AWS Scheduled Instance Support"
Hi Guys,

Thanks for all the time spent. Ansible is great. Use it across many products and deployments.
##### ISSUE TYPE
Planned support for Schedule-Reserved (Scheduled) instances?

##### COMPONENT NAME
AWS EC2 Schedule Reserved

##### ANSIBLE VERSION
ansible 2.3.0 (devel b5811ccb8a) last updated 2017/02/09 03:29:32 (GMT -700)

##### OS / ENVIRONMENT
Computers

##### SUMMARY
I want to use this wi

[2017-05-17 19:16] mcaulifn opened #24747 "ec2_customer_gateway returns different values depending if CGW exists already or not"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_customer_gateway

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
standard

##### OS / ENVIRONMENT
Ubuntu, AWS

##### SUMMARY
Creating CGW vs reporting on existing CGW returns different results.

##### STEPS TO REPRODUCE
Sample task:
[code]

##### EXPECTED RESULTS
On the first run, a dictionary "customer_gateway" is returned. On subsequent

[2017-05-17 19:20] #24670 closed, assigned to nobody

[2017-05-17 19:31] tima commented on #12157
I really wish this would have been worked into #23038. It's rather cumbersome and awkward to have to set and manage multiple paths for each plugin type when there really only needs to be one and some sort of directory name convention. Would a user running Ansible with extensions really need to (let alone want to) manage distinct multiple paths for each plugin type as the current configuration sett

[2017-05-17 19:43] dgarros opened #24749 "eos_user getting a warning for username and password"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/network/eos/eos_user.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Mac OS X

##### SUMMARY
When using the module `eos_user` to change the password of an existing user, I'm getting two warning messages indicating that parameters `username` and `password` are getting deprecated.
Based on my discussion with @gundalow, it's a mist

[2017-05-17 19:44] jimi-c commented on #24301
Closing This Ticket
===================

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project -

[2017-05-17 19:46] jhawkesworth commented on #24057
@regosse - ok that's kind of confusing, but I think perhaps you are seeing the same error message, but perhaps in your case it is being produced by a different invocation of powershell code (perhaps later than the point at which the temp dir gets created).

Regarding the sub-folder called '6', I think each login session gets its own subdir (i.e. when you have multiple remote connections using the

[2017-05-17 20:03] gundalow commented on #24749
Thanks for investigation.

Fix need backporting to `stable-2.3 ` I wonder if we can change the primary option name to `new_password`? And add an alias for user?

[2017-05-17 20:15] Akasurde commented on #24542
@twillert When we change locale on Solaris, command output of `kstat` changes

[code]

I think, this change is the problem in converting output.

@kevinard Can you paste output of `kstat` on SmartOS for both locale ?

[2017-05-17 20:15] basictheprogram commented on #23840
Assuming this is the same issue?
[code]
[code]
[code]
[code]

[2017-05-17 20:38] bcoca commented on #24542
You can set module locale to C/POSIX to work around it, we just need to force it in the facts module to avoid this situation.

[2017-05-17 21:15] dlibs commented on #22272
If this helps anybody: We just upgraded from ansible 2.0.0.2 to ansible 2.3.0.0 and quickly ran into this issue running scripts against two of our Windows Server 2008 R2 production servers. All of the other ansible modules work okay, with no other changes to the playbooks needed, but the script module fails with the same issue as listed above. This did work in 2.0.0.2.

To get around this issue, I

[2017-05-17 21:18] internetuser2008 commented on #24415
I am looking for same functionality, and plus create read replica with create option for postgres.
[code]

[2017-05-17 21:31] conlon commented on #24415
@internetuser2008 creating read replicas should be possible with
[code]
instead of
[code]

[2017-05-17 21:38] ThriLLzd commented on #21431
+1

[2017-05-17 22:26] regosse commented on #24057
All our Playbooks are run from Ansible Tower.

Here's a copy of the task that fails with 2.3 but not with 2.2.1 on this particular Windows server:
      win_copy:
        src: bin/curl.exe
        dest: "c:\\windows\\temp\\curl.exe"

Here's the job output for the task that failed. The other PS info you requested you'll find after this at the bottom.

TASK [artifactoryCurlGet : Copy curl.exe to the

[2017-05-17 22:42] dagwieers commented on #21161
needs_contributor

[2017-05-17 22:58] glassresistor opened #24755 "ec2_vpc_nacl.py#L148 Fails in Python 3"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
modules/cloud/amazon/ec2_vpc_nacl.py#L148
##### ANSIBLE VERSION
2.3.1 using python 3.6
Apologies I fixed it by going to 2.7 so --version is off

##### CONFIGURATION
It happens on module load

##### OS / ENVIRONMENT
Debian but all

##### SUMMARY
An exception occurred during task execution. To see the full traceback, use -v

[2017-05-18 00:24] abadger opened #24756 "cmp is not present in Python3 but several modules use it"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
* lib/ansible/modules/web_infrastructure/letsencrypt.py
* lib/ansible/modules/files/archive.py
* lib/ansible/modules/cloud/amazon/ec2_vpc_endpoint.py
* lib/ansible/modules/cloud/vmware/vmware_cluster.py
* lib/ansible/modules/cloud/docker/_docker.py
* lib/ansible/modules/cloud/openstack/os_port.py
* lib/ansible/modules/database/vertica/vertica_sc

[2017-05-18 00:42] mgrebler opened #24757 "aws lambda does not support empty (unspecified) role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/cloud/amazon/lambda.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Standard

##### OS / ENVIRONMENT
Ubuntu 16.04 running on docker:
Linux aaeead1a43ed 4.4.0-72-generic #93-Ubuntu SMP Fri Mar 31 14:07:41 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
The documentation states that the parameter "role" is

[2017-05-18 01:48] glassresistor commented on #24755
Now that Im off work I can debug better
here is just loading the module with python3.6

[code]

[2017-05-18 02:21] willthames commented on #9362
Still happening in released 2.3.0 and in latest devel branch

[2017-05-18 05:46] jhawkesworth commented on #24656
Now that https://github.com/ansible/ansible/pull/24744 has been merged into latest devel, please can you try again using latest development version of ansible.

There are instructions here: http://docs.ansible.com/ansible/intro_installation.html#running-from-source if you are unfamiliar with running ansible from source.

needs_info

[2017-05-18 06:18] jimi-c commented on #14135
@wholroyd following up on older issues, and was wondering if you were still seeing this? We had some overhauls to the way vars were handled in loops, so it may have resolved this issue, and we'd like to confirm it.

If not, could you please provide an example which reproduces the issue again? I see the repo you link to above no longer exists.

Thanks, and sorry for the long delay in following up.

[2017-05-18 06:20] nitzmahone commented on #24656
#24744 fixes basic Windows smoke tests on Python 3.5.3 for me...

[2017-05-18 06:30] mmochan commented on #24755
awesome thanks

[2017-05-18 06:37] ganeshrn commented on #24610
@JLSNZ What is the version of `junos` running on the device.

[2017-05-18 07:05] jhawkesworth commented on #23840
@basictheprogram - have you tried using win_reboot instead of the 'raw: "Restart-Computer -Force"' call?
win_reboot is an action plugin that restarts the machine and waits for the restart and polls until winrm service is available again.

[2017-05-18 07:08] #24611 closed, assigned to nobody

[2017-05-18 07:08] krzysztof-magosa commented on #19084
@bcoca I would like to create wrapper to existing playbook to run it many times with parameters from list. That way I would keep role simple without tons of loops etc, and just few lines of wrapper would do a job. Do you plan changing code to validate POST templating or it won't happen?

[2017-05-18 07:20] marcinkubica opened #24765 "AWS ec2_lb module not reading ENV var credentials"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2_lb

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY
Using AWS credentials in env variables works for creating instances, lbs, security groups or adding ssh-keys - fine. However when hitting `ec2_lb` module it's erroring on authentication.

[code]
lookup env trick from #10638 helps as

[2017-05-18 07:29] gundalow opened #24766 "Suggested bulk changes to code"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
testing

##### ANSIBLE VERSION
[code]

##### SUMMARY

**Note:** These are only *ideas*, and not requirements. The official requirements for coding are the ones that are published on docs.ansible.com, and nothing else.

The purpose of this issue is to record ideas of ways we can update the requirements. Changes would were applicable be made via b

[2017-05-18 07:32] dagwieers commented on #24766
So my opinion to YAML best practices is to *only quote strings where it is needed*. This gives users a good grasp of how it works in YAML. Quoting every string might seem more consistent, but could also make things awkward when you have to nest quotes for no good reason.

[2017-05-18 07:32] mattclay commented on #24766
For large cross-cutting changes, particularly those that touch things other than just modules, we should make sure there are no major feature changes in progress. Otherwise making bulk changes across many files can lead to significant merge conflicts.

[2017-05-18 07:36] dagwieers commented on #24766
@mattclay If we're talking about the PEP8 changes, the amount of changes per file is quite limited. So while it could lead to conflicts, the impact is rather contained (and merging should not be a lot of work). Conflicts due to incompatible code changes are a lot harder than PEP8.

[2017-05-18 07:41] dagwieers commented on #24766
For the documentation related to module parameters:
- sort the entries in the list (easier for people to find something)
- Use quoted "no" and "yes", e.g. `choices: [ 'no', 'yes' ]` rather than `choices: [ True, False ]`
- Use quote "no" or "yes" for the default value, e.g. `default: 'yes'`
- Remove `required: False`, `default: None` and `aliases: []`
- Description has a trailing dot, long lines a

[2017-05-18 08:19] mattclay commented on #24766
@dagwieers I'm referring mostly to bulk changes, such as autopep8 for the entire repository. However, while major refactors of core code are in progress, such as the current work on inventory plugins, we should avoid making style changes to core code.

Modules are a separate issue, as we generally don't perform major refactors of multiple modules at once.

[2017-05-18 08:29] jjjurrb commented on #24726
Thanks for the reply and clarification.

[2017-05-18 08:36] kevinard commented on #24542
I get inconsistent results.
On the first run:
[code]
And after a reboot:
[code]

[2017-05-18 09:24] hkyyx opened #24771 "syntax problem"
ansible 2.2.0
my playbook as blew, and ansible say syntax error
[code]

error log
[code]

if I use failed_when,  the playbook success
[code]

[2017-05-18 09:41] gundalow commented on #24766
For booleans you can actually do
`type: bool` in the documentation and no `choices`

http://docs.ansible.com/ansible/dev_guide/developing_modules_documenting.html#documentation-block

[2017-05-18 09:55] Akasurde commented on #24766
I have a quick question about lambda functions in module code. Are we going to convert it to `def` ?

[2017-05-18 10:00] dagwieers commented on #24766
It's a PEP8 requirement, but only for named lambda expressions it seems.

On 18 May 2017 11:56 am, "Abhijeet Kasurde" <notifications@github.com>
wrote:

I have a quick question about lambda functions in module code. Are we going
to convert it to def ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/ansible/ansible/issues/247

[2017-05-18 10:11] Akasurde commented on #24766
@dagwieers Got it.

[2017-05-18 10:42] srenfo opened #24774 "Playbook-level 'become: yes' leads to inconsistent variable expansion"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Playbooks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Both Ubuntu 16.04 LTS x64 (fairly irrelevant)

##### SUMMARY

Facts gathering runs as root if `become: yes` is set at the playbook level. This leads to inconsistent behavior. For example, `ansible_env.HOME` sometimes expands to `ansible_user`'s HOME and someti

[2017-05-18 11:51] lafe3402 commented on #24057
Hi, this is just a wild guess, but could you do gather_fact: false and try your simple command?

The reason I'm asking is that I'm no powershell user (just a linux sysadmin really...) and I've looked at the history and there were major refactoring between 2.2 and 2.3 that I can't understand just by reading the power shell commands.  I've got a feeling that the issue is in win_stat.ps1  (due to the

[2017-05-18 11:59] sivel commented on #24771
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-05-18 11:59] #24771 closed, assigned to nobody

[2017-05-18 12:17] Akasurde commented on #24691
Can you confirm that `it-websrvtst-01` exists on vcenter01 ?

[2017-05-18 13:03] ederst commented on #15769
@abadger: Our devs started to use Ansible 2.3 for their deployments (~1-2 weeks). As of right now no hangups were reported.

Another positive note: The devs reported faster deployments. According to them (source: build statistics) they are 30-40% faster.

[2017-05-18 13:04] gundalow commented on #18185
DONE!

[2017-05-18 13:04] #18185 closed, assigned to nobody

[2017-05-18 13:04] itdependsnetworks opened #24775 "Stat module malformed docstring?"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

Stat module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

In the doc string I see the return values: https://github.com/ansible/ansible/blob/a0dfa8616a8e7b00ce8c6f344ea721a387434721/lib/ansible/modules/files/stat.py#L144

however, on http://docs.ansible.com/ansible/stat_module.h

[2017-05-18 13:41] jstoja commented on #13652
I'm having the same issue:
* Ansible version: 2.3.0.0
* Target host: Debian Jessie (8.4)

I'm trying a basic template:
[code]
and I get:
[code]

No docker, no special fs (plain ext4), no hard/sym link. Any idea ?

[2017-05-18 13:47] gundalow commented on #24775
I see the issue, working on a fix

[2017-05-18 13:51] bcoca commented on #24775
@itdependsnetworks seems like an issue with the html rendering, ansible-doc still works, you can use that for now.

[2017-05-18 14:19] #24775 closed, assigned to gundalow

[2017-05-18 14:28] bcoca commented on #24774
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the first playbook you are asking Ansible to gather facts AS root, in the 2nd you are asking it to gather facts as a different user.

[2017-05-18 14:28] #24774 closed, assigned to nobody

[2017-05-18 14:30] lalkrishnak commented on #24765
+1

[2017-05-18 15:05] abadger commented on #9362
Unfortunately, jinja2 is a templating language and it always returns strings at the end of its run so there isn't much that we can do about it in Ansible code.  feanil's work allowed us to turn the strings back into their given types in certain restricted circumstances where we knew what the type was supposed to be but it cannot handle more complex statements.  For instance, with a filter involved

[2017-05-18 15:31] csfeathers commented on #24774
@bcoca I believe you have misunderstood the issue. `debug` is merely used for exposition purposes. The issue at hand applies to any and all modules and is **not** limited to `debug`.

The issue is that there is a subtle change in variable expansion caused by a subtle change in playbook code. From my POV as a non-insider this violates the Ansible design principles of being the easiest IT automation

[2017-05-18 15:31] jctanner commented on #23591
resolved_by_pr https://github.com/ansible/ansible/pull/24732

[2017-05-18 15:33] pvdputte opened #24780 "unarchive remote source from http URL fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04 'Trusty', managing Debian 7.0 'Wheezy'

##### SUMMARY
unarchive in current master won't work with remote files anymore. Simply copying lib/ansible/plugins/action/unarchive.py and lib/ansible/modules/files/unarchive.py from ansible 2.3 makes it work again.

Perhaps al

[2017-05-18 15:39] abadger commented on #9362
I'm going to lock this issue.  The reasons are:
* The original issue was fixed by feanil's PR.  The new issues here are either new bugs (If simple values without use of filters, etc are being transformed) or an additional feature (if the issue is with complex variables, variables going through filters, etc).
* This is something we need to have fixed in jinja2's code, not in ansible's code.
* Close

[2017-05-18 15:42] sebastiaopf opened #24781 "Unarchive task fails second time it's ran"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Controller site: 4.4.0-78-generic #99-Ubuntu SMP Thu Apr 27 15:29:09 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

Host: 4.4.0-1013-aws #22-Ubuntu SMP Fri Mar 31 15:41:31 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
Unarchive module fails with "Error: a bytes-like object is req

[2017-05-18 15:43] sivel commented on #24780
Closing as a duplicate of https://github.com/ansible/ansible/issues/23591

[2017-05-18 15:43] #24780 closed, assigned to nobody

[2017-05-18 15:45] sebastiaopf commented on #24781
Complementing, this could be somewhat related to #17038 and as per @abadger comment (https://github.com/ansible/ansible/issues/17038#issuecomment-277322774) i'm opening a new issue.

[2017-05-18 16:04] sivel commented on #18181
I was asked to provide some context here.

I don't have the exact discussion on hand that sparked this, but the gist of it is:

* popen isn't really a bad thing, we use it internall in run_command.
* run_command accounts for a lot of problems and scenarios that have needed addressed.
* Using popen instead of run_command leaves the module open for problems
* it also lends itself towards standardiza

[2017-05-18 16:07] #24626 closed, assigned to nobody

[2017-05-18 16:14] bcoca commented on #18181
I think we need broader discussion on what we 'advise' vs on what we 'require', also if these things apply to all modules or just 'core' ones.

[2017-05-18 16:15] dagwieers commented on #24548
@z3r0fox Can you test if PR #24768 fixes your issues ?

[2017-05-18 16:17] dagwieers commented on #24506
Right, referencing non-unique objects is an issue. We could improve vmware_guest so that you can specify whether it should be looking for a vSwitch or a vDS though...

Or make this more clear from the documentation.

[2017-05-18 16:23] markgoddard opened #24785 "Fact gathering is slow with a high open file limit"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible setup module.

##### ANSIBLE VERSION
ansible 2.2.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Control: CentOS 7.3
Target: CentOS 7.3

##### SUMMARY
When gathering facts for a host with a high open file limit setting, fact gathering ca

[2017-05-18 16:26] dagwieers commented on #24225
Well, if VM customizations for Windows is enabled, there are 3 things mandatory.

- computerName  --  hostname parameter  --  defaults to target name (inventory_hostname)
- fullName  --  fullname parameter  --  defaults to Administrator
- orgName  --  orgname parameter  --  defaults to ACME

So if you want to override this, you can, but we have to either give it something, or fail the task. And we

[2017-05-18 16:26] dagwieers commented on #24225
PS From your feedback we should probably default to the short target-name.
Otherwise it will bail out...

[2017-05-18 16:29] dagwieers commented on #24193
I fixed this today in PR #24768, the actual fix is a bit more complicated.

[2017-05-18 16:31] dagwieers commented on #23340
The /FoundationB part is not required. We add this ourselves.

[2017-05-18 16:32] dagwieers commented on #23176
This is fixed in PR #24768.

Please test !

[2017-05-18 16:33] markgoddard commented on #24785
After delving into the facts module and the module.run_command method, I noticed that by default, subprocess.Popen gets called with close_fds=True. This causes subprocess to close all file descriptors up to the open file limit.

Related: https://bugs.python.org/issue8052 and https://bugs.python.org/issue11284.

[2017-05-18 16:35] dagwieers commented on #22706
Right, I can see from the code what's going on here. I have improved the module to this respect, but I think we can fix it even further. See PR #24768

Let me see what I can do so you can re-test.

[2017-05-18 16:36] sivel commented on #24785
Closing as a duplicate of https://github.com/ansible/ansible/issues/24228

[2017-05-18 16:36] #24785 closed, assigned to nobody

[2017-05-18 16:38] dagwieers commented on #20291
We still need this.

[2017-05-18 16:59] bcoca commented on #24542
not sure LANG will persist there w/o an export/setenv, try setting it inline with command

[2017-05-18 17:04] alikins commented on #13278
@passw0rd123 Some thoughts while looking at that debug output...

[code]

That looks like what I would expect if the we never exit the initial event processing loop at
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/ssh.py#L629-L651

[code]

If we got the stderr and stdout chunks shown in the log, then either:

1) blocked on one of the read() calls. Shouldn't happen in

[2017-05-18 17:19] s-hertel commented on #24765
I'm having a hard time reproducing this on devel. What environment variables do you have set? AWS profile? Secret/access keys?

[2017-05-18 17:29] Justinbobustin commented on #16456
+1

[2017-05-18 17:32] rgarrow commented on #22644
Hi Guys and Gals if there are any, thank goodness for Kai Stian Olstad in the Ansible Forums as after weeks if issues with this module he pointed me to this. I am still trying to understand how to do. My structure of how we have our DC setup is Datacenter > Cluster > resource group (default)> we do not use folders I am able to pull the VM name vm guest by doing name: "{{ ansible_hostname }}" and i

[2017-05-18 17:47] infragilis opened #24786 "os_server: instance create fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_server
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

fresh install, default ansible.cfg

##### OS / ENVIRONMENT

Xenial Xerus
openstack Kilo

##### SUMMARY

using a minimal playbook, errors arise when trying to create a simple instance, image/flavor both exist.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
instance deploye

[2017-05-18 17:50] sivel commented on #24656
It looks like as of https://github.com/ansible/ansible/pull/24762 we are now running the full integration suite for windows against py3.

[2017-05-18 17:51] jl-montes opened #24787 "async command unable to find python interpreter in alternate location even when specified with ansible_python_interpreter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

async

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[ssh_connection]
ssh_args=""

[defaults]
roles_path=roles/
inventory=hosts
private_key_file=/home/xxxxxx/.ssh/ansible_key
host_key_checking = False
remote_user = xxxxxxx
##### OS / ENVIRONMENT

Debian GNU/Linux 8 (jessie) in a Docker container

##### SUMMARY

When the async command is

[2017-05-18 17:54] dizeee commented on #24626
@supertom Cool, thanks!

[2017-05-18 17:55] marcinkubica commented on #24765
Hi @s-hertel thanks for trying to reproduce this on devel. After that I believe I've found it - user error :)

Module has to be run as local action if it's a part of a play run alongside dynamic inventory.

So, in a role like this:

[code]

Result is

[code]

[2017-05-18 18:11] howinator commented on #24757
I think the documentation needs to be updated because the [AWS API requires a role](http://docs.aws.amazon.com/lambda/latest/dg/API_CreateFunction.html).

[2017-05-18 18:32] alexbrand opened #24788 "Change in behavior with playbook includes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible playbook
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

CentOS Linux 7 (Core)

##### SUMMARY

Playbook includes seem to have a different behavior than in previous versions. Currently, when a `when` condition on a playbook include evaluates to `false`, the playbook is still included but the tasks themselves are skipped.

In prev

[2017-05-18 18:35] nitzmahone commented on #24656
Not the full suite, but a set of platform smoke tests that we'll be adding to (as we get things fixed). There are several things still broken for Windows (raw and async immediately come to mind, and I suspect become may have issues as well).

[2017-05-18 18:36] kevinard commented on #24542
I get the same results with export.
I tried a few things and it seems that it is the `LC_NUMERIC` env var that is used to change the output format of the `kstat` command.
[code]

`LC_NUMERIC=en_US.UTF-8 ansible myserver -m setup` works fine.

[2017-05-18 18:39] bcoca commented on #24542
well, LANG/LC have different interactions and LC_ has many specific vars, i was assuming rest were unset.

[2017-05-18 19:06] kevinard commented on #24542
Ok, I actually used a different computer to connect to the server for my first comment, and the `LC_NUMERIC` var was not set. But it is when I'm using my laptop to connect. I should have checked that.

[2017-05-18 19:40] bcoca commented on #24542
there is a facility for some commands to be run in specific locales, we just need to update facts gathering to do this and avoid i18n issues by forcing a predictable format.

[2017-05-18 19:51] bcoca commented on #24542
@kevinard can you confirm this patch fixes it for you?
[code]

[2017-05-18 20:23] zellio opened #24791 "Ansible vault fails to write to stdout (in 2.3.0)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible vault no longer writes to stdout correctly.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[2017-05-18 20:29] pvdputte commented on #23591
I confirm that the issue is resolved. Great!

[2017-05-18 20:31] pvdputte commented on #24780
I thought this was different as this was with python2. But indeed, PR#24732 fixed it too.

[2017-05-18 20:44] JoelFeiner commented on #21342
There should be an option to create a file if it doesn't exist, update the mode and ownership if it does (and they need to be changed), and otherwise leave it alone. As it is, "touch" is never idempotent.

[2017-05-18 20:47] sivel commented on #24791
Closing as a duplicate of the already resolved https://github.com/ansible/ansible/pull/23583

The referenced fix will be included in a upcoming 2.3.1 release

[2017-05-18 20:47] #24791 closed, assigned to nobody

[2017-05-18 20:59] rgarrow commented on #22644
Hi all,
I got it to work thanks for the help I will post my results
--
   - hosts: all
     tasks:
     - name: Create Snapshot
       vmware_guest_snapshot:
         datacenter: Development
         hostname: virtual server name
         folder: /DVT-UX
         username: John doe
         password: xxxxxx
         name: "{{ ansible_hostname }}"
         uuid: "{{ ansible_product_uuid | lower }}"

[2017-05-18 21:02] maximede commented on #23591
@pvdputte not sure what the Ansible policy is, but, the PR is still not merged. I wouldn't consider this ticket closed until it's merged as it might confuse people or lead to the creation of dupes of this ticket

[2017-05-18 21:07] JLSNZ commented on #24610
@ganeshrn Tested against more devices, and did find a version related issue, JSON however was returned for all of these versions in 2.2.0.0

Test 1: Fail no JSON
Model: srx240h
JUNOS Software Release [12.1X46-D65.4] <- Recommended Junos Release for model

Test 2: Fail no JSON
Model: srx240h2
JUNOS Software Release [12.3X48-D40.5] <- Recommended Junos Release for model

Test 3: JSON Returned
Model:

[2017-05-18 21:10] pvdputte commented on #23591
Need sleep, sorry.

[2017-05-18 21:14] kevinard commented on #24542
Yes, it's working. There's just a typo, `module.` is written twice.
Thank you for your help.

[2017-05-18 21:18] udyshnkr opened #24792 "include_role does not work with, with_items for executing multiple roles parallely"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS Sierra version 10.12.5
##### SUMMARY

I have a role with task to call multiple roles using include_role and with_items, wanted to use loop to call multiple roles so that my tasks in nested roles can be execute

[2017-05-18 21:18] rodolfojcj opened #24794 "Failure when using meta reset_connection"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`meta` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Ubuntu on both control machine and remote target
Linux ansible2.io 4.10.0-20-generic #22-Ubuntu SMP Thu Apr 20 09:22:42 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

1. We want to install Docker on a host
2. We want the user `jdoe` to create

[2017-05-18 21:24] agaffney commented on #24794
If it wasn't already apparent, the reason for the group membership not being refreshed is because of ControlPersist and the way that it works. The user authentication and reading of groups is done once, and then new shell sessions are spawned off of the existing SSH session.

However, this has nothing (directly) to do with `meta: reset_connection` not working.

[2017-05-18 21:35] strelnikov opened #24797 "cloudflare_dns not supporting PY3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
cloudflare_dns

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible_python_interpreter=/usr/bin/python3

##### OS / ENVIRONMENT

run: MacOS
man: Ubuntu 16.04

##### SUMMARY

python3 is not working as PY3 has urllib.parse.urlencode instead of urllib.urlencode

##### STEPS TO REPRODUCE

cloudflare_dns module

[code]

##### EXPECTED RESULT

[2017-05-18 22:04] sivel commented on #24794
There is a problem here with `reset_connection`.

`reset_connection` should break the ControlMaster and cause a re-auth which would re-read groups.

The problem as discussed on IRC with @bcoca is that the `play_context` in the strategy plugin, is missing information.  The `play_context` in the task executor has the correct information.

In this case, at minimum the custom port of `4444` isn't bein

[2017-05-18 22:10] bcoca commented on #24794
@agaffney `reset_connection` should kill the existing control persist and avoid the permission error as a new session would have the correct user.

@rodolfojcj the question is: where is port 4444 being set?

[2017-05-18 22:30] sivel commented on #24797
duplicate_of #24424

[2017-05-18 22:47] #24797 closed, assigned to nobody

[2017-05-18 23:06] hlm commented on #24065
I had the similar problem, but trying to get the `last` item.

This worked for me:

[code]

Interestingly, the approach based on `map` did not work for me while using last. I did not dig too much into the details, but it complained about `reverse()` requiring a sequence (shown here just for reference):

[code]

[2017-05-19 00:05] edrozenberg opened #24801 "Jinja2 filter "truncate" not working as expected"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Jinja2 string filter "truncate"

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
MacOS 10.12.5 (16F73) controller, managing Linux Slackware64 14.2

##### SUMMARY
Jinja2 filter "truncate" not working as expected. Used to work fine with older Ansible releases.

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RES

[2017-05-19 00:11] jeffnappi commented on #21562
I am also experiencing this w/ AWS EC2 user-data. I was also able to get around it via `HOME=/root`.

[2017-05-19 00:36] jmcginn13 opened #24802 "ec2 rds postgres creation fails with error: Failed to create instance: null"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
rds module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
inventory = inventory

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -F ./.ssh_config
control_path = ~/.ssh/ansible-%%r@%%h:%%p

Plus standard AWS environment variables for credentials

##### OS / ENVIRONMENT
Centos 7
Linux version 3.10.0-514.16.1

[2017-05-19 00:55] jmcginn13 commented on #24802
Adding boto versions:
python2-boto.noarch                     2.45.0-3.el7                   @epel
python2-boto3.noarch                    1.4.4-1.el7                    @epel
python2-botocore.noarch                 1.5.26-1.el7                   @epel
python-boto.noarch                      2.25.0-2.el7.centos            extras

I originally installed ansible/boto via pip but rolled it all back a

[2017-05-19 01:43] dagwieers commented on #23663
Yup, this is definitely fixed in v2.3 and later.

bug_resolved

[2017-05-19 02:44] tman77 opened #24807 "ec2_asg erroring with IndexError: list index out of range"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running from Mac OS, running on EC2 @ AWS

##### SUMMARY

I am running a playbook that sets up some AWS infrastructure.  Security groups, Elastic Load Balancer, Launch Config, tag the ELB, all working well.

When I added an ASG setup using the ec2_asg module,

[2017-05-19 02:45] tman77 commented on #24807
Any help troubleshooting this, is greatly appreciated...
Thank you

[2017-05-19 03:09] Akasurde commented on #15607
@gundalow @dagwieers We can close this issue as this fix is already merged in devel.

[2017-05-19 03:32] kassiansun commented on #5865
@semente You can ignore the double quotes, like `web: {{ instances.get(item).scale }}`

[2017-05-19 03:58] semente commented on #5865
@kassiansun thanks but that won't work due a syntax error.

[2017-05-19 05:02] nitzmahone commented on #24651
Does it work properly under Python2.6 or 2.7? Would be helpful to narrow down if this is a logic issue or a Python3 issue...

[2017-05-19 05:07] nitzmahone commented on #24740
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-05-19 05:07] #24740 closed, assigned to nobody

[2017-05-19 05:14] nitzmahone commented on #24781
Does it fail the same way under Python2?

[2017-05-19 05:17] nitzmahone commented on #24787
Any chance you could see if this behavior still exists in Ansible 2.2 or 2.3?

[2017-05-19 05:31] nitzmahone commented on #24792
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-05-19 05:31] #24792 closed, assigned to nobody

[2017-05-19 05:40] jhawkesworth commented on #24057
Thanks for above info.

@regosse I can now see the point where it first throws an unhandled exception.  I decoded the powershell that is being run at that point and it is part of the new changes in ansible 2.3 that allow modules to be executed without first being written to disk (also known as pipelining).

I have pasted the code below but it might not be straightforward to find out where it is fa

[2017-05-19 05:40] nitzmahone commented on #24801
Jinja2 breaking change in Jinja2 v2.9- you have to specify `leeway=0` to get the old behavior. See http://jinja.pocoo.org/docs/2.9/templates/#truncate

[2017-05-19 05:40] #24801 closed, assigned to nobody

[2017-05-19 06:34] marcinkubica commented on #10638
@defionscode Found the cause here. When running module against dynamic inventory it has to be run as local action (explained in #24765).

[2017-05-19 06:35] #24765 closed, assigned to nobody

[2017-05-19 06:58] kayrus commented on #17594
+1 for ansible 2.3.0:

[code]

[2017-05-19 07:13] Jackyjjc opened #24821 "group_vars sub folder not being included properly"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible group_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
I have `hash_behaviour = merge` set in the ansible config

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I have inventory setup like this
[code]

And I have my group_vars directory setup like this:
[code]
The problem I'm having is that ansible only picks up variables defined in `u

[2017-05-19 07:35] #15607 closed, assigned to nobody

[2017-05-19 07:38] gundalow commented on #24414
resolved_by_pr 24432

[2017-05-19 07:47] kassiansun commented on #5865
@semente Oh, it can be used in jinja2 templates, but you're using this in playbooks.

I submitted a patch to my own repository: https://github.com/kassiansun/ansible/commit/59e38bd4bc383a608b62a6cc6b6c89d201203226, you can hot fix the code in `/usr/lib/python2.7/site-packages/ansible/modules/cloud/docker/docker_service.py`. If it works, I will submit a MR to this repository.

Many ansible modules

[2017-05-19 07:54] dagwieers commented on #15607
Not sure why ansibot did not pick up my command here ?

bot_broken

[2017-05-19 08:47] d3prof3t commented on #24728
Hi @gundalow

I would like to work on this.

@cdalbergue can you confirm whether you are working on this, else I'll take it up.

Thanks

[2017-05-19 08:55] cdalbergue commented on #24728
Hi @d3prof3t,

Thanks for your support, I already PR this, go check it out :

https://github.com/ansible/ansible/pull/24737

Any help is welcome

[2017-05-19 09:52] d3prof3t commented on #24728
Hi @cdalbergue

Great.

Thanks.

[2017-05-19 10:15] dagwieers commented on #23079
Yes, the user needs to use a YAML or JSON list syntax.
Let's get this issue closed.

notabug

[2017-05-19 10:16] #23079 closed, assigned to nobody

[2017-05-19 10:18] dagwieers commented on #23724
This should be working fine in v2.3 or the devel branch.
Can you test this again ?

[2017-05-19 10:21] dagwieers commented on #24124
It somehow feels that the input to the module is not accepted, or parsed correctly. So you end up with the "host" part of the URL to be None. We need to know exactly what the input is that you provided.

Please ensure the input is not an empty variable, or something like that.

[2017-05-19 10:27] pdev77 opened #24823 "Using the filesystem module with resizefs=yes on an XFS filesystem fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
filesystem module (xfs tasks)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

/etc/ansible/ansible.cfg
[code]

##### OS / ENVIRONMENT
RHEL7.3

##### SUMMARY
Using the filesystem module with resizefs=yes on an XFS filesystem fails with
{"changed": false, "err": "/sbin/xfs_info: line 25: xfs_growfs: command not found\n", "failed": true, "msg":

[2017-05-19 10:32] d3prof3t commented on #24705
Hi @nitzmahone

I would want to work on this issue. Just wanted to know whether this has been taken up by anyone yet?

Thanks.

[2017-05-19 11:01] dejitaiza commented on #15565
FWIW, I had the same issue, and found that Ansible was installed as root. Removing the Ansible binaries with `root` user and reinstalling it with `pip install ansible` solved the issue.

[2017-05-19 11:25] gerrnot opened #24824 "inventory group_vars/* do not win precedence over playbook group_vars/all as documented"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory/group vars

##### ANSIBLE VERSION

[code]
and
[code]
##### OS / ENVIRONMENT
Linux Mint 18.1 Serena
However, defect should be independent of OS!

##### SUMMARY
More specific group vars (e.g.: vars defined in "inventory/testinventory" as "[testhostgroup:vars]") should always win precedence via less specific group vars (e.g.: "group_vars/

[2017-05-19 11:33] sivel commented on #24824
The variable precedence docs state:
[code]

The top has lower precedence.

Based on this, your INI groups vars listed in `[testhostgroup:vars]` have lower precedence than those listed in `group_vars/all.yml`

Based on this, the behavior you are seeing is correct, and clearly documented.

http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

[2017-05-19 11:49] sivel commented on #24824
To get the behavior you want, you need to move your vars out of `[testhostgroup:vars]` from you INI inventory file into `group_vars/testhostgroup.yml`

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-05-19 11:49] #24824 closed, assigned to nobody

[2017-05-19 12:08] Akasurde commented on #24823
@pdev77 Do you have `xfsprogs` package installed on that machine ? Also, what is output of
`which xfs_growfs`

[2017-05-19 12:47] user140547 commented on #24788
This is probbly related to the issue I have opened, when the playbook does not exist at all: https://github.com/ansible/ansible/issues/23601

[2017-05-19 12:58] jmcginn13 commented on #24802
RDSException appears to be hiding the root cause:

`
class RDSException(Exception):
    def __init__(self, exc):
        if hasattr(exc, 'error_message') and exc.error_message:
            self.message = exc.error_message
            self.code = exc.error_code
        elif hasattr(exc, 'body') and 'Error' in exc.body:
            #self.message = exc.body['Error']['Message']
            #self.code

[2017-05-19 13:11] ricfeatherstone commented on #24740
Hi, thanks. I assumed as it didn't work as documented that qualified it as a bug.
If it doesn't work with AWS_PROFILE, it'll not work with ansible or ansible-playbook commands right?
Anyhow, I'll try on the user list

[2017-05-19 13:18] adrianreber opened #24826 "ansible_processor_vcpus is zero on aarch64"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Fedora 25

##### SUMMARY
ansible reports zero vcpus on aarch64 with 8 cores:
[code]

/proc/cpuinfo has processor 0 to 7

On x86_64 and ppc64le the number of vcpus is correctly detected.

##### STEPS TO REPRODUCE

ansible all -m setup -i hosts -l aarch64 -u root | grep vcpu
        "ansible_p

[2017-05-19 13:48] nitzmahone commented on #24705
@d3prof3t: not that I'm aware of- feel free to take a shot at it!

[2017-05-19 14:10] boxrick commented on #21328
This is still an issue in version 2.3 and renders include_role useless when using loops inside roles.

[2017-05-19 14:12] bcoca commented on #21328
cc @jimi-c

[2017-05-19 14:22] mrgnr commented on #22791
@jctanner This issue is forcing us to use a complicated workaround. Will the [fix](https://github.com/ansible/ansible/pull/22792) be included in the next release?

[2017-05-19 14:47] JoelFeiner commented on #13876
I am also still getting this issue regularly, mostly when setting up packer boxes. I am using Ansible 2.3.0 on Ubuntu 16.10.

[2017-05-19 14:53] boxrick commented on #21328
##### Example of command:

Run from top level

```ansible-playbook -i inventory ./playbooks/baremetal-deploy/playbook.yml.yml```

#####  Git repo with example:

[code]

##### Error output:

[code]

[2017-05-19 14:56] joernheissler commented on #13876
@JoelFeiner Just out of interest, what OS / Linux Kernel Version is your managed node running?

[2017-05-19 15:14] JoelFeiner commented on #13876
@joernheissler: output of `uname -a` on the machine running Ansible is below

[code]

The VMs are running Centos 7, and a `uname -a` on one of them looks like this:
[code]

[2017-05-19 15:29] pavansai8 opened #24832 "Unable to run bashrc file in remote server using ansible script."
Unable to run bashrc file in remote server using ansible script.

 - name: Source Bashrc
       action: shell source /local/apps/actional/.bash_profile
Is not working.

[2017-05-19 15:30] szynaka opened #24833 "Excessive memory usage when using "large" with_* loops with a "large" number of hosts."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core - Loops

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg:
[code]

##### OS / ENVIRONMENT
N/A
Tested on Linux (Debian) and MacOS

##### SUMMARY
Excessive memory usage when using "large" with_* loops with a "large" number of hosts.
20-30 loop items on 5 hosts seems to typically be enough to trigger the excessive ram usage
Settin

[2017-05-19 15:36] vshuraeff opened #24834 "no GeoLocation support for Route53"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Module Route53

##### ANSIBLE VERSION
ansible 2.3.0.0

Module Route53 needs support GeoLocation records, as it done in [Salt](https://docs.saltstack.com/en/develop/ref/states/all/salt.states.boto3_route53.html)

##### EXPECTED RESULTS
GeoLocation records management

[2017-05-19 15:37] bcoca commented on #24832
Please fill in the template and define what 'not working' means.

[2017-05-19 15:41] pavansai8 commented on #24832
Hi All,

Below are the full details regarding my issue.

Issue: When I run action: shell source /local/apps/actional/.bash_profile command, The environment variables are not getting reflected. I need to update the JAVA_HOME and PATH Variables in my remote server.

Ansible version:ansible 2.2.1.0

Component name: Playbook.

Below is my yaml playbook script.

- name: Set Java HOME
     lineinfile: d

[2017-05-19 15:50] JoelFeiner commented on #18540
I am still having this same issue on Ansible 2.3.0.0.

Example:
[code]

That outputs:
[code]

There is a default value (empty) for that variable in the `defaults/main.yml` file for the `awsbackup` role.

[2017-05-19 15:51] dennis-benzinger-hybris opened #24835 "`find_vm_by_id` broken for searching by UUID"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Function `find_vm_by_id` in `module_utils/vmware.py`

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using one of the VMware cloud modules which internally searches a VM by UUID via `find_vm_by_id` you'll see the error `TypeError: Required field "uuid" not provided (not @optional)`.

The issue is that the internal m

[2017-05-19 15:52] RKov opened #24836 "Feature Idea: New 'comment:' arg for lineinfile module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Many times I would like to add a comment to a line I am changing, creating in a file.
I can do this if I use the module twice of course, but it would be nice to have a "comment:"
argument that would place a comment on the line before the "l

[2017-05-19 15:54] dennis-benzinger-hybris commented on #24398
There are two issues here. The first one is that this module requires the `name` parameter even though `uuid` is specified. The workaround is to use `name: ''` even when setting `uuid`. The module checks if `uuid` is set before it tries to use the `name`.
A proper fix would be to use `required=False` in the definition of the `name` parameter and check in code if neither `name` nor `uuid` is set.

[2017-05-19 16:03] calfonso commented on #24480
Thanks all for following up on this.

[2017-05-19 16:03] #24480 closed, assigned to nobody

[2017-05-19 16:07] RobertKozak commented on #21088
This is still happening with 2.3. I was fighting this all afternoon until I realized it was a bug.

But there is a workaround. Instead of Register use the name property of include_vars. Works fine in 2.3

[2017-05-19 16:08] calfonso commented on #24721
We'll not be able to fix this in 2.3 without a substantial changeset, so given the severity level we are moving it to our 2.4 milestone.

[2017-05-19 16:15] privateip commented on #24240
@phiea thanks for the playbook, this is indeed related to #23589 which will be part of 2.3.1 once released.

[2017-05-19 16:20] radome commented on #24506
I have the same problem on the standard switch.

The following task will create the nic but not connect it.

[code]

[2017-05-19 16:37] #24088 closed, assigned to trishnaguha

[2017-05-19 16:38] dav1x opened #24837 "vmware_guest: create a VM with RDM backed disk"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default install
##### OS / ENVIRONMENT

-> cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.3 (Maipo)

##### SUMMARY

When supplying the disk parameter to vmware_guest the default is always a VMDK.

##### STEPS TO REPRODUCE

Try to deploy a VM with a RDM backed

[2017-05-19 16:59] Arrowzeke commented on #23547
+1

[2017-05-19 17:06] phiea commented on #24240
Thank you all for the responses, much appreciated.Met vriendelijke groet,Piet BraatOp 19 mei 2017 6:16 p.m. schreef Peter Sprygada <notifications@github.com>:@phiea thanks for the playbook, this is indeed related to #23589 which will be part of 2.3.1 once released.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-05-19 17:14] holmesb opened #24840 "Replace module is replacing text on before\after line"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
replace module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Replace module is replacing text on before\after line

##### STEPS TO REPRODUCE

I want to replace occurrences of:
","servername
with:
,servername
(remove quote symbols) after line containing text:
this_line_should_not_be_replaced
Text file

[2017-05-19 17:49] d3prof3t commented on #24705
@nitzmahone Sure, I'll take this up. Thanks.

[2017-05-19 17:51] dagwieers commented on #24506
Well, I see three potential issues.
1. The network expects a portgroup "VM Network", but does it exist ?
2. The interface was not assigned an IP address and netmask. If you would like to try PR #24768 you can also add `type: dhcp` if you prefer a DHCP address.
3.  You are using a template, but also define a specific guest_id. This is unusual, because typically the template already defines the (pro

[2017-05-19 18:13] dagwieers commented on #24672
You may want to move over to using **vmware_guest** instead, it is using the native pyvmomi bindings.

[2017-05-19 18:29] tman77 commented on #24807
@nitzmahone Why was the needs_triage removed?  Just curious....

[2017-05-19 18:44] harlowja commented on #13243
I'd really like this feature also; I think people are just going to create there own lookup plugins to get around this, and that seems sort of dumb...

[2017-05-19 18:52] ssi-daveruffin commented on #22644
Hi @rgarrow, based on your example above, where do i define the {{ ansible_hostname }} var and what is the syntax for defining it?
Also, how do i list the folder/s that the vm is in and the uuid by gathering facts?

[2017-05-19 19:08] smemsh commented on #18411
this bug is still present in 2.3.0.0, not using `with_items` (because of #21285).  this bug seems to occur for any role-defined handlers that are brought in in via `include_role` indirectly (that is, the toplevel role is not the one with the handler).

strangely, the bug doesn't trigger every time.  sometimes it seems to work and the handler gets notified, other times (no changes to the playbooks

[2017-05-19 19:21] ghost opened #24844 "Wrong temp path OSX"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ask_become_pass=True
ask_sudo_pass=True
local_tmp = /Users/mateus/.ansible/tmp

##### OS / ENVIRONMENT
macOS 101.12.5

##### SUMMARY
For some reason Ansible is trying to create a temp file on the wrong directory, since macOS uses /Users/ instead of /home/.
My $HOME variable is fine (/Users/

[2017-05-19 19:40] deekayen commented on #22930
I'm not able to reproduce this specific issue, however I do still have a problem with opts. Input debug:

[code]

Then when I look in the `/etc/fstab` file on the target machine, it always adds `\0400\0400` at the first whitespace of the opts. The next time it runs, I think the `\0400\0400` confuses it and it re-adds the fstab line, so I ended up with like 40 duplicate, garbage lines that didn't m

[2017-05-19 19:49] ecranfill commented on #23689
Error:Timeout (12s) waiting for privilege escalation prompt.
Environment: Ansible 2.3 & python 2.7.5
Work around: edit ansible.cfg, add transport = paramiko

Cause: Selinux is enforcing and causing a delay while blocking ssh_ldaphelper

Fix: setsebool -P authlogin_nsswitch_use_ldap 1

Once the fix was ran I was able to comment out the transport = paramiko line and run as expected.  This problem on

[2017-05-19 20:19] s-hertel commented on #24807
needs_triage means the ticket still needs to checked for accuracy of labels/if enough information is provided.

As of 2.3 ec2_asg has been ported to use boto3 and I am unable to reproduce this bug using it. But looking at your playbook, do you intend to have spaces around your launch configuration? e.g. if logstash_lc.name is 'asg-lc' I think the variable will be read with your syntax as ' asg-lc

[2017-05-19 20:22] rgarrow commented on #22644
Hi hostname and UUID will be gathered from the Facts that is correct.
Now to get the folder the VM is in was tricky for me as well. I have not worked out a simple way. But you can see the folder the vm is in if you go to the VC and click on Home then click on VM's and Templates under you cluster you will see the folders that you VM's are in.

[2017-05-19 20:23] rgarrow commented on #22644
Sorry you will not have to define a variable for ansible_hostname it will be pulled from the Facts.

[2017-05-19 20:44] tman77 commented on #24807
Ok, I reran without the spaces. I received a new error...

`"msg":` "Failed to create Autoscaling Group: BotoServerError: 400 Bad Request\n<ErrorResponse xmlns=\"http://autoscaling.amazonaws.com/doc/2011-01-01/\">\n  <Error>\n    <Type>Sender</Type>\n    <Code>ValidationError</Code>\n    <Message>AssociatePublicIpAddress field can not be specified without a subnet id</Message>\n  </Error>\n  <Requ

[2017-05-19 20:50] s-hertel commented on #24807
I was able to reproduce this on stable-2.2 with extra spaces around the variable, but not with
the corrected syntax. When you specify the variable explicitly in the playbook, what does it look like?
needs_info

[2017-05-19 20:51] tman77 commented on #24807
OK, specifying the vpc_zone_identifiers resolved the issue, thank you for the second set of eyes.

[2017-05-19 20:52] #24807 closed, assigned to nobody

[2017-05-19 20:58] #24755 closed, assigned to nobody

[2017-05-19 21:31] ssi-daveruffin commented on #22644
@rgarrow what is the command youre using to gather facts? When i use the "vmware_vm_facts" module, the only thing it returns for me is the name, guest fullname, ip address (which is blank) and the powerstate. How can i get more info from facts like UUID, folder hierarchy, etc?

[2017-05-19 21:53] ssi-daveruffin commented on #22644
Also, im able to get the UUID from the way you mentioned and via Powercli but was looking for a wy to completely automate the process from within ansible. Im currently trying to get the facts by running the "vmware_vm_facts" module. I also stumbled on this [https://github.com/ansible-provisioning/ansible-provisioning/blob/master/library/vsphere_facts](url) but it may be out dated.

[2017-05-19 22:18] mtulio commented on #23547
+1

[2017-05-19 23:15] sebastiaopf commented on #24781
Didn't try with python 2, since this remote host only has python 3 installed. Will spin up a Vagrant vm and test with that.

[2017-05-19 23:21] s-hertel commented on #24802
I'm having trouble reproducing the error you're getting, but I think it may be because engine_version is shown in the invocation as null. This error message could definitely be improved. What happens if you run your task specifying `engine_version: "{{ database_engine_version }}"`?

[2017-05-19 23:27] jmcginn13 commented on #24802
Same :(, I had a hard time finding the correct version numbers to put in engine_version too. boto lists some in their output, but the actual version numbers on aws console has -RC2 on the end of it, I've tried several flavors of it though. The docs say engine_version can be null and it will use the default version, but I noticed AWS may have just recently changed their postgres default version, a

[2017-05-19 23:29] s-hertel commented on #24802
Hm :( Thanks for the additional details. I'm able to create it if the engine_version is 9.3. I'll look at fixing this!

[2017-05-19 23:36] jmcginn13 commented on #24802
I just tried 9.3 and got the same error - appreciate the help

[2017-05-20 00:06] grybak-arista opened #24849 "eos_config reports change on duplicate runs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/modules/network/eos/eos_config.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Using Ansible to configure an Arista EOS switch

##### SUMMARY

Configuration request always reports 'changed', even on subsequent
runs of the same playbook.

##### STEPS TO REPRODUCE

Ethernet2 is used as an example.

[2017-05-20 00:43] ipolyzos commented on #21890
I can confirm I have the same issue with 2.3.0.0

@lhoss tried setting private explicitly, no change

[2017-05-20 06:49] mgrebler commented on #24757
@howinator Although the CreateFunction API requires a role to be specified, the [UpdateFunctionCode](http://docs.aws.amazon.com/lambda/latest/dg/API_UpdateFunctionCode.html) API does.

My exact use case is that I'd like to update the code for an already existing Lambda Function, and passing in the role each time is redundant.

Does using that API seem like a viable alternative?

[2017-05-20 10:28] toxadx commented on #24074
I commit that this bug persist also in 2.3.0.0.

[2017-05-20 13:16] debalance commented on #18411
I get exactly the same traceback as @smemsh , only for me it fails every time the handler is notified.
It works fine if I include the handler in the top level play instead of the role where it should be.

[2017-05-20 13:27] tYYGH commented on #15476
Same as @dacjames for me!

Roles are supposed to be self-contained.
Say I have a web site that is built on a database. Also, I have a role that takes care of the database manager, and a role that takes care of the web site.

The role for the database manager will initialize it, and start it… if it is not already. Hence all the configuration will be carefully written to be idempotent, and a handler

[2017-05-20 14:57] chusiang commented on #16354
I fix this problem with args of`-c paramiko` and remove the `openssh-client` on Ansible 2.3 and Alpine Linux 3.4.6.

By the way, I remember it did not add extra  args of`-c paramiko` at before edition.

[2017-05-20 15:25] cdggcali opened #24855 "Error while enabling firewalld rule on Ubuntu"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
/modules/extras/system/firewalld.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Running playbook from Oracle Linux Server 6.9 x86_64
Running playbook against a Ubuntu 16.04.2 LTS

##### SUMMARY
When trying to use firewalld module, the task fails

##### STEPS TO REPRODUCE
Run a playbook with the following code

[2017-05-20 15:56] iMartyn opened #24856 "test-module script does not support binary type modules"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
hacking/test-module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Not really relevant to this bug :-)

##### OS / ENVIRONMENT
debian 8.7

##### SUMMARY
The dev script hacking/test-module doesn't work for binary modules

##### STEPS TO REPRODUCE
have golang setup
clone https://gist.github.com/sivel/ccd81bdfb31ca0c0e05d
have ansible dev env

[2017-05-20 16:17] edrozenberg opened #24858 "stat module very slow checking status of a large file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
stat module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS 10.12.5 (16F73) controlling Linux Slackware64 14.2 server

##### SUMMARY

The 'stat' module runs very slowly on a large file. Takes more than 45 seconds to return stat on a 10GB swapfile.

##### STEPS TO REPRODUCE

[code]

The swapfile being checked:

[2017-05-20 16:24] edrozenberg commented on #24858
My guess is issue is due to the checksumming always being done on a file. If this is the problem, a possible solution is to add a way to disable checksumming such as by adding a 'none' option to checksumming:

[code]

[2017-05-20 16:30] edrozenberg commented on #24858
Just read the stat doc page in more detail.

Setting:
[code]

Fixes the issue with slowdown.

[2017-05-20 16:30] #24858 closed, assigned to nobody

[2017-05-20 16:43] sysadmin75 commented on #24844
<[HIDDEN_IP]> (1, '', 'mkdir: cannot create directory \xe2\x80\x98/home/mateus/.ansible/tmp/ansible-tmp-1495220924.36-187159279265629\xe2\x80\x99: No space left on device\n')

If you look at the error, it shows there is no space left on the partition for the server this task is ran on.

If you still feel there is a bug, then more info is needed. Please provide the OS version of the management serv

[2017-05-20 16:44] edrozenberg commented on #5241
Following up on some comments regarding checking swapfile presence with "stat" module: strongly suggest using the following params on the "stat" module to make checking much faster (1 second vs. 45 seconds to check a 10GB file):
[code]

[2017-05-20 17:00] Akasurde commented on #24855
@cdggcali Thanks for reporting this issue. Error message says `firewalld and its python 2 module are required for this module`. Could you please confirm that you have firewalld service installed and enabled on system ? Also, check if you have `ufw` enabled ? Ubuntu like system uses `ufw` as default firewall.

[2017-05-20 17:20] Akasurde opened #24859 "ufw module should fail if ufw is disabled"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/system/ufw.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 17.04

##### SUMMARY
If ufw is disabled, then ufw module doesn't fail. IMHO, it should fail with error that ufw is disabled and suggesting user to enable ufw.

[code]

##### STEPS TO REPRODUCE
- Disable firewall - `ufw disable`
- R

[2017-05-20 17:31] mdalpi commented on #24844
@sysadmin75

Management Server: My dev machine (macOS 10.12.5, ansible installed via Homebrew)
Managed Server: Ubuntu 14.04

The problem is that Ansible is trying to create some temporary files on my local machine, but it's using the wrong path, there's no `/home/[user]/` on a mac, it's in `/Users/[user]/`.

The error message it's actually wrong since there are plenty of free GBs on my system. The

[2017-05-20 17:37] andreaso opened #24860 "git module fails due to overly simplified pre-connection hostkey check"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 17.04

##### SUMMARY
When cloning a git repository by way of ssh the git module expects to find a matching hostkey entry in either _/etc/ssh/ssh_known_hosts_ or in _~/.ssh/known_hosts_. That is an overly simplified check, causing unnecessary fails, given that

[2017-05-20 17:45] cpu commented on #24152
@sivel Circling back around on this. Early on when I asked if this workaround was still required you indicated it was - is that true for **all** OSX versions? A subset? How did you test?

I ask because trying to do some further software archaeology I found [a comment](https://bugs.python.org/msg254321) that indicates Python on OSX might be working around this itself since ~= 10.6

I'm not familiar

[2017-05-20 18:48] sivel commented on #24844
It looks as though you are connecting to the Mac host via SSH, and it is returning `/home/user` as a result of `echo ~`

Not sure why, and I haven't experienced that myself.

[2017-05-20 18:55] chriskarel opened #24862 "User module creates home directory for existing user with incorrect SELinux types and permissions."
_From @chriskarel on November 3, 2016 19:21_

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
User module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing unusual

##### OS / ENVIRONMENT
OEL/RHEL 7

##### SUMMARY
Using the user module on an existing user, but changing their home directory, results in the new home directory created with improper filesystem permissions and SELinux

[2017-05-20 18:55] chriskarel commented on #24862
_From @ansibot on November 3, 2016 19:59_

@ansible ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-20 18:55] chriskarel commented on #24862
_From @ansibot on November 19, 2016 10:1_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-20 18:55] chriskarel commented on #24862
_From @ansibot on December 7, 2016 19:58_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-05-20 18:55] chriskarel commented on #24862
_From @andrewrothstein on January 3, 2017 17:9_

Bueller?

[2017-05-20 18:55] chriskarel commented on #24862
_From @fzdarsky on February 7, 2017 10:12_

Confirming issue exists also in Ansible 2.2.1.0 on Fedora 25.

[2017-05-20 18:55] chriskarel opened #24863 "User module creates home directory for existing user with incorrect SELinux types and permissions."
_From @chriskarel on November 3, 2016 19:21_

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
User module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing unusual

##### OS / ENVIRONMENT
OEL/RHEL 7

##### SUMMARY
Using the user module on an existing user, but changing their home directory, results in the new home directory created with improper filesystem permissions and SELinux

[2017-05-20 18:55] chriskarel commented on #24863
_From @ansibot on November 3, 2016 19:59_

@ansible ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-20 18:55] chriskarel commented on #24863
_From @ansibot on November 19, 2016 10:1_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-20 18:55] chriskarel commented on #24863
_From @ansibot on December 7, 2016 19:58_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-05-20 18:55] chriskarel commented on #24863
_From @andrewrothstein on January 3, 2017 17:9_

Bueller?

[2017-05-20 18:55] chriskarel commented on #24863
_From @fzdarsky on February 7, 2017 10:12_

Confirming issue exists also in Ansible 2.2.1.0 on Fedora 25.

[2017-05-20 18:55] chriskarel commented on #24863
This issue was moved to ansible/ansible#24862

[2017-05-20 18:56] chriskarel commented on #24863
Whoops, duplicate move.

[2017-05-20 18:56] #24863 closed, assigned to nobody

[2017-05-20 19:04] ovcharenko commented on #24859
notabug @Akasurde it added the rule. Why it should fail? The module has `enable` option to really enable firewall

[2017-05-20 19:11] #24859 closed, assigned to nobody

[2017-05-20 20:26] marcesher opened #24864 "Jenkins Plugin: dependencies not installed if state is "latest""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

jenkins_plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

When using `state: 'latest'` for a plugin, dependencies are not installed

I am not sure if this is a bug or the expected behavior.

##### STEPS TO REPRODUCE

Given a snippet like this:

[code]

Only the main blueocean.jpi

[2017-05-20 21:26] jtyr commented on #24864
Thanks for reporting this, @marcesher. This issue is probably related to #24241. Both issues should be fixed after I finish the patch.

[2017-05-20 22:22] dagwieers commented on #24652
Thanks for reporting. Looking into this, I discovered that if a module did not explicitly returned "failed" (which Exit-Json did not do) it falls back on the rc value. Which I guess is asking for issues, like this one.

So we are adding an explicit `failed = $false` to ensure that the rc value is not considered for the evaluation.

[2017-05-20 22:23] toddrosner opened #24866 "cloudformation template_parameters not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudformation module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes to default ansible.cfg

##### OS / ENVIRONMENT
Arch Linux

##### SUMMARY
When running a playbook with the cloudformation module and specifying template_parameters, an error is thrown.

##### STEPS TO REPRODUCE
Add template_parameters section to cloudformation tas

[2017-05-20 23:00] marcesher commented on #24864
@jtyr that's great to hear. Thanks!

[2017-05-21 00:50] s-hertel commented on #24866
Can you share your template? needs_info

[2017-05-21 02:12] toddrosner commented on #24866
Hi s-hertel, thanks for getting back. The template is below.

[code]

[2017-05-21 02:35] tedder commented on #24866
You need a `Parameters` section.

Leaving this ticket open so I can catch the exception.

[2017-05-21 03:20] toddrosner commented on #24866
Ah. Thanks for that tedder! Everything works with the following update:
[code]

[2017-05-21 06:30] Akasurde commented on #20263
resolved_by_pr #24540

[2017-05-21 07:52] regexcracker opened #24869 "Password coming in logs"
##### ISSUE TYPE
 Feature Idea

##### ANSIBLE VERSION
ansible 2.1.0.0

##### COMPONENT NAME
shell

##### SUMMARY
Need to disable visibility of password in ansible logs.

##### STEPS TO REPRODUCE
1) Create Simple playbook which is getting passwords from vault.
2) Execute playbook in verbose mode.

I know with no_log: true  we can disable logging wherever required. But using that its difficult tp tr

[2017-05-21 07:56] robinro commented on #24860
Thanks for this report @andreaso

This is related to https://github.com/ansible/ansible/issues/20653 but more general.
Afaik the reason to handle hostkeys in ansible, instead of letting git/ssh deal with them, is to be able to produce reasonable error messages.
Parsing git/ssh stdout is hard and should be avoided where possible.

@willthames @abadger Since you recently worked on this: What's your

[2017-05-21 08:17] andreaso commented on #24860
@robinro: Are you sure that this is related to #20653? That issue seem more about the scenario where `accept_hostkey` is set to True? So is not the case here.

While I agree that controlled error messages are a good thing, are they really more important than a correct behavior? Given all the ways which ssh can verify a host identify, is it really reasonable to expect that they can be checked ahead

[2017-05-21 08:26] andreaso commented on #24860
#3253 seems to be another example where the same code path in the Git module introduce an unnecessary failure.

[2017-05-21 08:55] robinro commented on #24860
#20653 is not exactly the same codepath, but it would not have happened if the hostkey checking would be up to git/ssh instead of done by ansible.

One could also skip `add_git_host_key` when `accept_hostkey==True` and rely on `StrictHostKeyChecking=no` to do the right thing.

Feel free to open a PR with your suggested changes.
I guess it'll take quite some work to make sure all current usecases a

[2017-05-21 09:02] andreaso commented on #24860
Good points!

I'll start working on an initial pull request. Always easier to reason about something a bit more concrete.

[2017-05-21 09:16] strogonoff opened #24870 "Allow specifying role name in galaxy_info"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Galaxy

##### SUMMARY

It’d be nice if Galaxy role names did not have to literally match repository names. 1:1 correspondence makes it impossible to be specific in repository naming by, for example, prefixing roles with “ansible_role_”.

As an example, I want to create Ansible Galaxy role installable with `ansible-galaxy install strogonoff.d

[2017-05-21 09:53] joernheissler commented on #13876
@JoelFeiner So you're running a 4 years old kernel which doesn't include the fix (https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=0f40fbbcc34e093255a2b2d70b6b0fb48c3f39aa).

Btw, I haven't seen this bug myself for a long time now, since I upgraded kernels on my servers.

Why is this bug not closed anyway? It's not an ansible problem.

[2017-05-21 11:17] Cato2 commented on #4355
@richard-scott and @gsempe  - disabling automatic updates is only a temporary fix since the servers will miss security fixes.  It would be much better to adjust the timing of `unattended-upgrades` etc so it doesn't conflict with Ansible using `apt`.

[2017-05-21 11:20] gsempe commented on #4355
@Cato2 I think my proposal does not  disable automatic security update. It should only instruct apt system to not try to do it right after the boot if the deadline has been missed while it was off

[2017-05-21 13:08] aviadpines commented on #12282
Still happening in 2.3.0.0, wrote `run_one` instead of `run_once` and got this message. Very confusing, no line number or anything.

[2017-05-21 16:43] cdggcali commented on #24855
Hi @Akasurde,

1. Could you please confirm that you have firewalld service installed and enabled on system ?

Yes, is it installed and enabled:
[code]

2. Also, check if you have ufw enabled ?
Is not enabled, is not even installed:
[code]

Regards,
Carlos

[2017-05-21 18:01] jurajama commented on #24192
After side-tracking to above mentioned more severe issue in Ansible 2.3, here's answer to @calfonso asking whether the prompt handling has been fixed in 2.3. The answer is that it is **not** fixed, exactly the same prompt configuration exists in 2.3 as in 2.2, but due to refactoring the configuration is found in different file: /usr/lib/python2.7/site-packages/ansible/plugins/terminal/sros.py

[2017-05-21 18:14] jurajama opened #24874 "sros_config does not run commands correctly in Ansible 2.3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Module sros_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS-7

##### SUMMARY

sros_config module is not running commands input from file properly in Ansible 2.3. The very basic functionality of feeding in tab-aligned input files causes failures as Ansible is running commands on wrong levels of CLI.

##

[2017-05-21 18:23] krzysztof-magosa commented on #20545
Any update?

[2017-05-21 18:53] EvanK commented on #24840
Thanks for the bug report!

It looks like the module is [operating against the _entire matched string_ instead of the parenthesized capture](https://github.com/ansible/ansible/blob/e9e661ebbbf59c1ab397ab386517242a37e9f857/lib/ansible/modules/files/replace.py#L242)...I ought to be able to get a fix for this pushed shortly

[2017-05-21 20:16] EvanK commented on #21904
@ansibot resolved_by_pr #21636

[2017-05-21 20:21] #21904 closed, assigned to nobody

[2017-05-21 21:00] cigamit commented on #24691
I believe the documentation states that "folder" must be supplied if not using "uuid".

[2017-05-22 03:17] cintiadr commented on #24072
Had the same problem with task files too.

When adding the following roles:
https://galaxy.ansible.com/yatesr/timezone/
https://galaxy.ansible.com/yatesr/users/
https://galaxy.ansible.com/yatesr/ufw/

and runnning galaxy, the task/(timezone|users|ufw).yaml of them would show up as '.yaml'.
What was particularly hard to track down was the error message, pointing that 'users.yaml' wasn't on the same

[2017-05-22 06:42] Jackyjjc commented on #24821
seems duplicated with this: https://github.com/ansible/ansible/issues/10755 I will close this ticket

[2017-05-22 06:42] #24821 closed, assigned to nobody

[2017-05-22 06:46] regexcracker commented on #24869
Updated issue with COMPONENT NAME.

[2017-05-22 07:17] hitoshi-isa opened #24879 "ios_command:Sometimes results are interrupted."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- module:ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default

##### OS / ENVIRONMENT

CentOS Linux release 7.3.1611 (Core)

##### SUMMARY

When you execute the command, sometimes the result is interrupted.
Command is "show tech-support".

##### STEPS TO REPRODUCE

The playbook is below.

[code]

##### EXPECTED RESULTS

The

[2017-05-22 07:46] richard-scott commented on #4355
IMHO both would be better:

1) for Ansible to see that an update is running and not to die with error :-)
2) to delay the unattended upgrades.

From reading [this](https://wiki.archlinux.org/index.php/Systemd/Timers) it says:

@Cato2 that could be a good alternative solution... I'll try that soon. I like disabing automatic updates on my production systems as I need to roll out updates in a control

[2017-05-22 08:11] KroArtem commented on #24213
Still remember about this one but still don't have enough time.

[2017-05-22 08:51] Svolentin commented on #24834
*updated

[2017-05-22 09:22] Akasurde commented on #24265
resolved_by_pr #24361

[2017-05-22 09:23] Akasurde commented on #24265
@brad2014 Can you check latest patch and let me know if matches your expectation mentioned in above comments?

[2017-05-22 09:29] engineer-it1 opened #24882 "does postgresql_db support dump and import states ?"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-05-22 09:30] gundalow commented on #22245
@tassoevan @guenhter @hawaku does https://github.com/ansible/ansible/pull/24379 fix this issue for you?

[2017-05-22 09:57] radome commented on #24506
@dagwieers Thank you for your reply. However:

1. It does, in fact Windows guests have no problems
2. I've tried with your PR and `type: dhcp` but it still won't connect
3. I've removed `guest_id` parameter, still won't connect

I'm starting to believe that there is either a problem in pyVmomi or in vSphere API itself as what should do the trick it gets executed in vmware_guest module:

[code]

[2017-05-22 10:00] fcracker79 commented on #9971
Hostnames should not contain dots.
Please see [this](https://tools.ietf.org/html/rfc952).

[2017-05-22 10:02] dagwieers commented on #24506
@radome We can add those, I don't see a reason why not. But to me that feels more like an issue with the template itself, especially if it does work for Windows. It could also be a weird relation between HW and OS that make Linux and Windows act differently.

Are you using vmxnet3 as the NIC hardware in the Linux template ?

[2017-05-22 10:42] garymcwilliams opened #24884 "win_user is not repeatable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Running on Centos 7, managing Windows Server 2016

##### SUMMARY
win_user can create a user, but running task again in playbook results in error

##### STEPS TO REPRODUCE
A minimal playbook

[code]

When I run first time I get:

[code]
When I rerun the same p

[2017-05-22 10:53] ganeshrn commented on #24610
In 2.3 it was decided to render the output format that is supported by device natively.
Hence the difference in behavior.
@gundalow I think this needs to be added as a note in documentation. Thoughts?

[2017-05-22 10:56] hlavacek87 commented on #24506
@dagwieers: You are right. In env of my customer there is same name for simple vswitch and for vds. Both are badly named based on vlan name, VLANXX.
Maybe it should be most likely bug for vcentrum/esx but somehow it allows you to configure in that way and I suggest to update behavior of vmware_guest module to handle this problem, or at least to print any error message. I suggest to add net_type vd

[2017-05-22 10:57] radome commented on #24506
@dagwieers I'm using vmxnet3 yes. Sorry, my previous comment isn't clear, what I meant is that those three lines are the ones that should configure the NIC to be connected at startup and are **already** present in vmware_guest, so I'm starting to believe that the problem isn't in vmware_guest but rather in pyVmomi or in the vSphere v6.0 API itself.

[2017-05-22 11:09] sebastianreloaded commented on #24740
Yeah, for me this is also a bug. You cant use roles using the standard way, every other tool supports.

[2017-05-22 11:11] sLuvpreet33 commented on #19584
I am having the same problem @ganfotry . What is the cause of this issue ? Please direct me the right way.

[2017-05-22 11:23] dagwieers commented on #24506
@radome We do those things for newly created NICs, not for NICs that already exist in the template ! I bet doing this for your template may be the solution.

There's one more thing we could try. I used to have the following in my module `nic.device.backing.useAutoDetect = False`. To me it is unclear what the effect is.

[2017-05-22 11:26] aioue opened #24886 "ec2_ami_find is slow"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ec2_ami_find

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS X 10.12.4

##### SUMMARY

ec2_ami_find takes ~37 seconds to find an AMI

The deprecated ubuntu image finder returned almost instantly.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Returns in 5 seconds or less

##### ACTUAL RESULTS

Took

[2017-05-22 11:31] daBONDi opened #24887 "vmware_guest not work with defined datastore"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
VMware Vsphere 6.5 Cluster
Deploy Windows Server 2016 Template with additional disks,...

##### SUMMARY
When a VM gets created from an Template and new Disks getting added on different Datastore
it place the new disks on the Same  Datastore, and not on the defined

Tryed it with

[2017-05-22 11:35] radome commented on #24506
@dagwieers The template I'm using doesn't have a NIC (so a newly one is created). That's because the module fails in modifying the NIC when it's already present in the template.

[2017-05-22 11:39] aioue commented on #24882
@engineer-it1, (no it does not currently support these states. A PR would likely be welcome.)[http://docs.ansible.com/ansible/postgresql_db_module.html]

[2017-05-22 11:43] dagwieers commented on #24506
@radome Fair enough, I was assuming the worst ;-)

The new module should no longer fail when modifying NICs with PR #24768, unless you provide improper input.

BTW The notorious nicSummaryMismatch is a generic error if the user provided information that is incorrect/incomplete.

[2017-05-22 11:54] dagwieers opened #24888 "vmware_guest: Test for uniqueness in find_obj"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

module_utils/vmware and vmware_guest

##### ANSIBLE VERSION

v2.4

##### SUMMARY

In vCenter not all objects have to be uniquely named, which can be problematic on name-based queries. An improvement would be that whenever we do name-based lookups (*find_obj()*), we also check if there's more than one result and provide a warning to the user

[2017-05-22 12:02] misterT1958 commented on #24128
is pywinrm 0.2.2 the most uptodate?:

tw2@warroom3:~/Desktop/Ansible-forScale/scale> pip list | grep pywinrm
DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
pywinrm (0.2.2)

[2017-05-22 12:29] fabMrc commented on #16707
Ok but order is still not respected

[2017-05-22 12:56] lifeofguenter commented on #24862
under Debian + ansible 2.3.0 I am having the issue that system users are created with root:root homedir ?

Maybe related to: https://github.com/ansible/ansible/commit/507b96ff3031d5d5ee3ec36c7c0e2f00b674ab76#diff-8f60df5685f83b8659a1106d36591e93 ?

It seems to be a regression, as with earlier version I did not have issues.

[2017-05-22 12:57] jhawkesworth commented on #24128
@misterT1958 - https://pypi.python.org/pypi/pywinrm reports 0.2.2 as latest version at the time of writing.

I think the deprecation message you are seeing is from pip, not from pywinrm itself.

Please can you try using latest devel version of ansible? - I think the ' ansible_winrm_kinit_mode unsupported by pywinrm ' is likely not relevant to the originally reported issue, but it would be good to

[2017-05-22 13:07] OrlandoSoto commented on #24864
👍

[2017-05-22 14:00] compyy commented on #24879
output of show-tech is too long may be ? what is the final file size ?

[2017-05-22 14:12] 1efty opened #24891 "Extreme Resource Usage During include_role w/ with_items"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role w/ with_items

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
private_role_vars = yes
fact_caching = redis
retry_files_enabled = False

##### OS / ENVIRONMENT
CentOS 7.2
AWS EC2 Instance
t2.medium

##### SUMMARY
Using include_role with a with_items loop causes memory and CPU usage to skyrocket.

##### STEPS TO REPRODUCE

The loop

[2017-05-22 14:14] fdutheil commented on #22222
Same here, Ansible v2.3.0.0 from Ubuntu 14.04 onto Ubuntu 14.04: apt module doesn't find old kernels when ```/usr/bin/apt-get autoremove``` does.

BTW autoclean should not be an alias for autoremove, considering the apt-get autoremove and autoclean options are totally different from each other.

[2017-05-22 14:22] wkhere opened #24892 "docker_container: published_ports not triggering rebuild when having less ports"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Changed inventory, roles path & vault pass file.

##### OS / ENVIRONMENT

Ubuntu Server 16.04 LTS
both Ansible host and managed system

##### SUMMARY

Module does not recreate container when giving it *less* of `published_ports` than the container already has.

Note the cont

[2017-05-22 14:27] b-long commented on #19825
Still seeing this issue in `ansible 2.3.0.0`.  Is anyone working on a fix?

[2017-05-22 14:30] misterT1958 commented on #24128
Jon
Per your suggestion I downloaded the ansible:devel code, and you are correct the devel version does not complain about "ansible_winrm_kinit_mode unsupported..."  Now, I've dropped back to merely checking out the setup; as in

         ansible -v Windows -i ./hosts-SCALE -m setup

which results in
<myWindowsBox> | UNREACHABLE! => {
    "changed": false,
    "msg": "kerberos: requested auth meth

[2017-05-22 14:32] #24749 closed, assigned to trishnaguha

[2017-05-22 15:13] jhawkesworth commented on #24128
Hmm, interesting that its looking for 'requests_kerberos' (note the _ underscore) but pip has 'requests-kerberos' as the package name (hypen - instead of underscore _).

I'm (speculating) here that you may have a mix of pip libraries and platform-provided ones (whatever packaging technology macs use, I'm afraid I'm not familiar with that).

For what its worth I have the following versions on my (E

[2017-05-22 15:17] misterT1958 commented on #24128
yes sir I did

[2017-05-22 15:39] bcoca commented on #24832
I'm not sure what you are expecting, the `source` should be working, but that is not a useful operation. Ansible opens a NEW connection and gets a NEW environment for each task, sourcing does not affect other tasks.

[2017-05-22 15:40] bcoca commented on #24832
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-05-22 15:40] #24832 closed, assigned to nobody

[2017-05-22 15:49] alikins commented on #24833
Could this be related to https://github.com/ansible/ansible/issues/23579 ?

[2017-05-22 15:50] beporter commented on #13563
I found this thread trying to make galaxy behave like I expected. I'm new to Ansible but I know php and node. It feels to me like Galaxy as a whole could learn a lot from npm(/yarn) and composer. Neither one gets everything right, but they've already faced and solved a lot of these problems. For my part, I plan to back away slowly and let Galaxy mature some more before I consider it again. 😞

[2017-05-22 16:09] alikins commented on #24862
ping @bcoca (merged https://github.com/ansible/ansible/pull/19464)
ping @rqelibari (author of https://github.com/ansible/ansible/pull/19464)

[2017-05-22 16:14] JoelFeiner commented on #13876
I've gotten the go-ahead to use a newer kernel from elrepo. Hopefully that will fix the issue then.

[2017-05-22 16:29] ganfotry commented on #19584
I fixed it by generating keys in both the VMs and then copying the keys
viceversa inside authorized_keys.
I got the below response then:)

[code]

[2017-05-22 16:35] alikins commented on #24869
output from modules/tasks that match the PASSWORD_MATCH re will get filtered automatically.

variables read from vault files can potentially be displayed via the ansible callback plugins however.

[2017-05-22 16:39] trishnaguha commented on #24749
Backported to stable-2.3 https://github.com/ansible/ansible/commit/97da8e161bcf3e99af7f7be7d31e44e89d4595d3.

[2017-05-22 16:49] caphrim007 commented on #24766
@gundalow @dagwieers I also dont understand the requirement for quoted author. I tend to agree with Dag and only quote stuff when it warrants it. I quote my examples because historically I've run into YAML parsing errors when certain character conditions happen. so I just got in the habit of quoting my values.

I haven't had such a case occur in the Documentation or Examples blocks though.

Also,

[2017-05-22 16:49] edrozenberg commented on #24801
@nitzmahone thanks!

[2017-05-22 16:50] alikins commented on #24835
Have an example playbook that triggers this error? (Mostly just to see which task/module args can trigger this...)

[2017-05-22 16:53] haubi commented on #13876
LOL: I've stumbled on a sleep implementation that fails on `sleep 0`, as in:
[code]
Hacking `plugins/action/__init__.py` to add `"{ sleep 0 || :; }"` instead of `"sleep 0"` does help for now (using Bourne shell here only, not sure how that could work for `csh`).

However, there is another sleep implementation available on that machine, but specifying an explicit /path/to/sleep seems to be unsuppor

[2017-05-22 17:09] alikins commented on #24855
And the firewalld python module?  Should show up as a 'firewall' python module (ie, ```pydoc firewall``` or ```'python -c 'import firewall; import sys; print "found firewall"; sys.exit(0)'``` should work

[2017-05-22 17:14] caphrim007 commented on #24766
I retract my lambda statement. After reading the unittest docs some more, I can do this and get the same result

[code]

Additionally, I can test assertions that those methods were actually called.

[2017-05-22 17:17] nickallevato commented on #24746
I did it @ansibot

[2017-05-22 17:20] kelu27 commented on #24862
Same issue with ansible 2.3.0.0 on Ubuntu 16.04.2 LTS.
Users are created with root:root

[2017-05-22 17:30] alikins commented on #24882
This is not a bug report or a feature request, so closing.

[2017-05-22 17:30] #24882 closed, assigned to nobody

[2017-05-22 17:33] dagwieers commented on #24766
While I don't agree with all the PEP8 stuff either, it is essential to understand that the purpose of PEP8 is readability and collaboration, not having less code.

[2017-05-22 17:34] mmclark commented on #22834
@vinigfer it looks like this may be an issue in your custom command.  I spun up a 64-bit  Ubuntu 16.04 VM with a simple custom command using a similar print statement with a unicode character.  It's failing both locally (ssh running python manage.py directly) and using the ansible django_manage module.  Can you provide some more info on how the command is succeeding when you've ssh'd into the VM?

[2017-05-22 17:37] EvanK commented on #22145
According to [this stack overflow answer](https://serverfault.com/questions/492943/reboot-cron-directive-doesnt-work-on-solaris-what-do-i-use-instead#answer-492955) (take it with a grain of salt), special times are a feature of vixie cron, where Solaris uses SysV cron.

Since I have no clue how to test for vixie, I'll just add an explicit test-and-failure on Solaris given any special times...PR in

[2017-05-22 17:44] alikins commented on #24892
Was this working before 2.3.0?

[2017-05-22 17:59] EvanK commented on #21523
It looks like the module is [correctly using check mode](https://github.com/ansible/ansible/blob/b12beca3edfec2210e4f38333b676d5230b87725/lib/ansible/modules/system/cron.py#L672-L675) when _creating_ the backup file, but then [flubs it](https://github.com/ansible/ansible/blob/b12beca3edfec2210e4f38333b676d5230b87725/lib/ansible/modules/system/cron.py#L754-L760) whilst cleaning up after itself.

Sh

[2017-05-22 18:00] #24856 closed, assigned to nobody

[2017-05-22 18:12] daBONDi commented on #23863
Are your Target hosts VirtualBox VM's?
Got the same Problem with some Virtual Box VMs, after long Runtime the Network getting Akward on Windows, the only solutino i found was restarting vm, then it works for like 2-5 hours

[2017-05-22 18:28] daBONDi commented on #23990
You run this script on the Running Nano Server?

The Error you got is because there is only .Net Core on the Nano Image.
Prbly need some workaround for Generating the SSL Certificate

From my view, you should not alter the nano Image on Runtime.

A Workaround would be configure the nano Image so that WinRM works ahead.

**There is a awesome Article here to configure it manualy:**
http://nokitel.im

[2017-05-22 18:35] JoelFeiner commented on #13876
@joernheissler: unfortunately, this happened to me again on kernel 4.4.69. This kernel contains the commit with the fix.

[2017-05-22 18:53] joernheissler commented on #13876
Are you able to put together a complete test case so that others can reproduce it?

[2017-05-22 19:07] #21038 closed, assigned to nobody

[2017-05-22 19:09] #24526 closed, assigned to nobody

[2017-05-22 19:20] gundalow commented on #24766
Updates issue description to make it clear:
* these are ideas only
* there is no require for anyone to request changes to a PR based in any ideas listed in this issue
* that where applicable existing code will be bulk updates in a single PR (per issue)

[2017-05-22 19:22] rqelibari commented on #24862
@alikins Thank you for the notification!
The changes introduced by #19464 are macOS specific. The subclass those changes affect is not executed on other platforms but macOS.

**About the problem:**
The user module uses the [usermod][1] command, to do the required changes, if the user already exists. Else, that is if the user does not exist, it uses [useradd][2] instead.

**Solutions:**
I can fix t

[2017-05-22 19:45] Rukas commented on #24062
Also seeing the same on Ansible 2.3.0.0

[2017-05-22 19:46] alexanderteves opened #24902 "jenkins_script: Add timeout option"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
jenkins_script

##### ANSIBLE VERSION
[code]

##### SUMMARY
`jenkins_script` internally uses a `POST` request using Ansible's `fetch_url` method, defined in `ansible/lib/ansible/module_utils/urls.py`. The method supports a `timeout` parameter whose default value is 10 seconds.

Bigger scripts often run longer than 10 seconds, making the module

[2017-05-22 19:49] szeitlin commented on #4355
I'm having the same problem on ansible 2.2.2.0, ubuntu 14.04 (trusty). It's kind of amazing, I've been able to get it to work with vagrant a couple of times now, but whenever I have to vagrant destroy, there's a new problem where ansible just fails on one or many packages when I go to vagrant up again.

[2017-05-22 19:57] krzysztof-magosa commented on #24891
I've also hit into that problem in Ansible 2.3 and had to rollback to 2.2.
10 forks could not fit into 8 GB RAM - Ansible reported that dead workers have been found.

[2017-05-22 20:00] alikins commented on #24862
@rqelibari I'll see if I can get a RHEL7 test, but for references, the results on fedora 25:

[code]

To get the usermod to create the new dir, had to add the -m to the second usermod invocation:

[code]

[2017-05-22 20:04] shalomb commented on #14248
+1

[2017-05-22 20:07] misterT1958 commented on #24128
I like the idea  of pre-downloading so you don't have to depend on the 'net being up; but I've found the product_id argument to be problematic in win_package.....

[2017-05-22 20:08] wimnat commented on #23289
resolved_by_pr 22936

[2017-05-22 20:22] JoelFeiner commented on #13876
It's an very intermittent error that can happen with any task, so I don't think that is feasible.

[2017-05-22 20:38] mindrunner commented on #24726
Winrm is unstable, though.

See: https://github.com/ansible/ansible-modules-core/issues/5368

[2017-05-22 20:44] marcelocarlos commented on #19112
This is a show stopper for us, any plan to fix it?

The "component name" is in the description and it is "ec2_module", but it also affects any aws-related module.

Can you please fix/update the tags and prioritise this bugfix as it's being around for almost two years now?

It is still an issue in version 2.3.0:

[code]

[2017-05-22 21:02] misterT1958 commented on #24128
alright Jon, I believe there is something fundamentally wrong with my setup now.  I've reverted back to Ansible 2.2.1 and STILL I get  Exception calling \"DownloadFile\" with \"2\" argument(s): \"An exception occurred during a WebClient request.\""

This (win_get_url) was working at one time, now it does not.  Something has changed that bollixed up the win_get_url.  What causes an "exception durin

[2017-05-22 21:07] jl-montes commented on #24787
will try 2.2 today and update comments

[2017-05-22 21:24] jl-montes commented on #24787
works with 2.2  :-)  have not tried 2.3, will have to make a new docker image that includes v2.3 t test

[2017-05-22 21:29] jl-montes commented on #24787
Ooops , I made a mistake, I didn't wait long enough for my 1st test to complete.
The async command had not yet run

Please standby for test results with 2.2

[2017-05-22 21:32] mmclark opened #24907 "Support boto3 in s3_logging module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

s3_logging

##### ANSIBLE VERSION

[code]

[2017-05-22 21:41] wimnat commented on #24907
Are there any missing features that boto3 provides?

[2017-05-22 21:52] mmclark commented on #24907
Not that I'm aware of.  The idea is to bring the module into compliance with [the amazon guidelines](https://github.com/mmclark/ansible/blob/devel/lib/ansible/modules/cloud/amazon/GUIDELINES.md)

[2017-05-22 21:58] wimnat commented on #24907
Indeed. I'm welcome to a PR but there are probably a few modules with higher priority as they lack boto3 features. Thanks

[2017-05-22 22:05] mmclark commented on #24907
Any pointers to higher priority items would definitely be welcome.  This will be my first contribution to Ansible (I'm at the pycon sprints), so I was looking for something bite-size while I learn the ansible dev environment...

[2017-05-22 22:05] chriskarel commented on #24862
@rqelibari
I have access to RHEL boxes for testing.  But `usermod` doesn't look to solve any problems when an existing user didn't have a home directory created.  Usermod can change the *value* of a users' home directory, and move it if the location doesn't exist.  But it won't create a home directory like `useradd` does.  So you still wind up without a directory.

You can check out my fix for thi

[2017-05-22 22:10] bcoca commented on #24207
it does not get executed before, the problem is with forking and aync queues, the callback events might get received out of order.

[2017-05-22 22:13] wimnat commented on #24907
Modules​ like ec2_asg but perhaps that's a little big for your first contribution. Maybe have a look at some of the facts modules. I've got a PR for ec2_remote_facts pending that you can have a look at

[2017-05-22 22:16] #24074 closed, assigned to nobody

[2017-05-22 22:20] mmclark commented on #24907
I'll take a look - thanks

[2017-05-22 22:38] #19437 closed, assigned to nobody

[2017-05-22 22:39] #24430 closed, assigned to nobody

[2017-05-22 22:43] cdggcali commented on #24855
Hi @alikins,

This is quite interesting:

[code]
As you can see, it is installed using pip:

But pydoc and trying to import the library fails:
[code]

Regards,
Carlos

[2017-05-22 22:51] retr0h opened #24910 "synchronize broken in 2.3"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

* synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

* Mac OS
* Travis CI Standard Linux

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Works perfectly fine against 2.2 Ansible.

[code]
##### ACTUAL RESULTS

[code]

Local Inventory:

[code]

[2017-05-22 23:02] abadger commented on #17684
Closing as fixed.

[2017-05-22 23:02] #17684 closed, assigned to nobody

[2017-05-22 23:06] abadger commented on #23731
Issue fixed by 24277 which has been merged to devel and stable-2.3

[2017-05-22 23:06] #23731 closed, assigned to nobody

[2017-05-22 23:54] pdasilva commented on #16352
Was unable to reproduce

OSX 10.12.4
python 2.7.13
ansible 2.1.0.0 (from github)
ansible-galaxy 2.1.0.0

[code]

[code]

[2017-05-23 00:07] abadger commented on #16352
needs_info

Need more information in order to reproduce this.  It looks like it might be related to openssl version or something else outside of our control.  If we don't get some information to reproduce, we'll close in a few weeks.  Thanks.

[2017-05-23 00:12] abadger commented on #22834
needs_info

[2017-05-23 00:19] #23591 closed, assigned to nobody

[2017-05-23 00:21] misterT1958 commented on #24128
Jon, I simplified things down to a single program, still running 2.2.1, just calling win_get_url.....here's the result:
Try
{
& 'C:\Users\tw2\AppData\Local\Temp\ansible-tmp-1495498468.18-44763025871204\win_get_url.ps1'
}
Catch
{
$_obj = @{ failed = $true }
If ($_.Exception.GetType)
{
$_obj.Add('msg', $_.Exception.Message)
}
Else
{
$_obj.Add('msg', $_.ToString())
}
If ($_.InvocationInfo.PositionMes

[2017-05-23 00:23] abadger commented on #23344
Agreed dag and sivel, this is not a bug.

[2017-05-23 00:23] #23344 closed, assigned to nobody

[2017-05-23 00:24] s-hertel commented on #24907
@wimnat ec2_asg has already been ported to boto3 and has been merged!

[2017-05-23 00:58] bengerman13 opened #24917 "xattr state absent sets attribute to empty"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
xattr

##### ANSIBLE VERSION
git commit hash 45e4b8f97aa8adb8222e8b83584601d3e8298ba6

##### CONFIGURATION

##### OS / ENVIRONMENT
host: Ubuntu 16.04
node: Ubuntu 16.04, Fedora 25

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
`xattr_get_after_unset_result['xattr'] == { }`
##### ACTUAL RESULTS
`xattr_get_after_unset_resu

[2017-05-23 01:23] hitoshi-isa commented on #24879
this out put size is around 268KB. it doesn't not increase or decrease significantly.

[2017-05-23 02:09] cognifloyd commented on #22098
@ktbyers just pointed out[1] that netmiko can work with Cisco WLC[2]. Perhaps that could be ported, or portions of it could be reused. It looks like netmiko has an MIT license, so reusing parts of it shouldn't be a problem.

@gundalow are there any other ansible modules that were based on netmiko?

[1] napalm-automation/napalm#376
[2] https://github.com/ktbyers/netmiko/blob/develop/netmiko/cisco/c

[2017-05-23 05:34] jhawkesworth commented on #24726
Linking to what I think is the relevant gh project for the purposes of monitoring progress.  https://github.com/PowerShell/Win32-OpenSSH/releases
At the very least this would require a new connection plugin.  Once there is something released it might be worth trying.  However I would be wary of considering that this will solve all problems managing windows hosts.

[2017-05-23 06:05] lifeofguenter commented on #24862
Debian 8:

[code]

Yup.

[2017-05-23 07:13] shaharmor commented on #22509
Is there any chance to get this implemented? Shouldn't be to hard

[2017-05-23 07:51] jylenhofgfi commented on #13876
JoelFeiner, try upgrading ssh as written in the thread...

[2017-05-23 08:31] quarckster opened #24920 "ansible_ssh_host populated from CloudForms inventory in Ansible Tower should contain external IP"
##### ISSUE TYPE

 - Feature

##### COMPONENT NAME

https://github.com/ansible/ansible/blob/devel/contrib/inventory/cloudforms.py#L264

##### SUMMARY

The variable returned as 'ansible_ssh_host' for AWS EC2 instances in Ansible Tower (from CloudForms) contains the internal AWS IP address. As a result Ansible Tower cannot access the instance to perform configuration/run playbooks. ManageIQ develope

[2017-05-23 08:40] wkhere commented on #24892
No it wasn't.

Usually I use 2.2.2.0 and it's the same behavior.

[2017-05-23 08:43] wzyboy opened #24921 "Support for with_* syntax for roles"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
roles

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Could `with_*` syntax be supported for roles?

Here's my story: we have three different environments (e.g. `['dev', 'testing', 'prod']`), and there are three different firewall zones in each environment (e.g. `['dmz', 'app', 'db']`). So we need a total of 3 * 3 = 9

[2017-05-23 08:47] jhawkesworth commented on #24128
Hi Tony,

Nice work digging out that error message.

It looks like the problem is your machine and the remote machine can't agree on a SSL/TLS version to use.

Using ssllabs site test (https://www.ssllabs.com/ssltest/analyze.html?d=support.hdfgroup.org) I can see that support.hdfgroup.org only allows TLS 1.2 - anything older is switched off.

Some code fixes suggested on SO here: https://stackover

[2017-05-23 08:56] micheleliberman commented on #24035
I can consistently reproduce this issue on 2.3 while running ansible-playbook from Centos 6 against a Centos 7 VM. Playbook attached. The command to run is
ansible-playbook -i ./inventories/bugtest bugtest.yml
[bugtest.zip](https://github.com/ansible/ansible/files/1021505/bugtest.zip)

[2017-05-23 09:05] dennis-benzinger-hybris commented on #24835
A short playbook to trigger this error is:
[code]

[2017-05-23 09:21] rqelibari commented on #24862
**Thank you for your posts!**
The [user][1] module creates the home directory (if it does not exist) at the lines [2223 to 2228][2].
Because it creates the directory with [shutil.copytree][3] it copies the permissions of `/etc/skeleton` (which apparently is set to 755 or a UMASK of 033). `useradd` and `usermod` use a UMASK setting with a default value of 022. According to [the manpage] this settin

[2017-05-23 09:27] dagwieers commented on #16873
@marcio-santos-zocdoc I just dd it, see: #5368

But don't wait for someone else to do it, anyone can update the documentation. You don't even need any special rights or know how to use git, you can edit documentation files directly from the Github web-interface: https://github.com/ansible/ansible/edit/devel/docs/docsite/rst/intro_windows.rst

[2017-05-23 10:27] alexanderteves commented on #24902
I created a pull request for that: https://github.com/ansible/ansible/pull/24924

[2017-05-23 10:27] wzyboy commented on #24921
Current workaround is to use `include_role` task module:

[code]

Note that you need to include handlers manually before #18411 is fixed.

[2017-05-23 10:54] Yajo commented on #20480
This is really a problem, for any other ansible task, just `-v` gives you enough information to fix it on failures (usually), but with `docker_service` I almost always need `-vvv` (which is not very comfortable).

[2017-05-23 10:59] hogarthj commented on #24902
-label needs_triage

[2017-05-23 11:21] minherz opened #24926 "azure_rm_deployment fails to deploy ACS template with "TypeError: 'ResourceGroup' object is not iterable""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_deployment

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OS:
[code]

##### SUMMARY
Receiving an error:
[code]

##### STEPS TO REPRODUCE
1. Create Kubernetes ACS on Azure with 1 master node and 2 Windows OS agents
2. Open a new created resource group and select `1 Succeeded` link under "Deployments" la

[2017-05-23 11:22] cst05001 commented on #23534
I have the same problem but lower version 2.2.0.0 work well

[2017-05-23 11:22] minherz commented on #24926
I also executed `ansible-playlist` with -vvv parameter. The output is:
[code]

[2017-05-23 11:28] jmnavarrol commented on #16610
I've been bitten by this too.  It seems that, contrary to what doc says, "! unsafe" is not implemented in ansible 2.0.2.

[2017-05-23 11:50] archit opened #24927 "Allow specifying tenant in azure credentials using username/password"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
contrib/inventory/azure_rm.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS Sierra

##### SUMMARY
When trying to setup credentials for dynamic inventory for azure, I'm unable to specify a tenant id.

##### STEPS TO REPRODUCE
1. Get an Azure Public Cloud with 2 Active Directory accounts.
2. Type `ansib

[2017-05-23 11:59] gsempe commented on #4355
@richard-scott The point of my proposal is to delay the unattended upgrades to avoid the default behaviour that you quoted.

Do you think there is a better way to do it then the one I proposed above?
 https://github.com/ansible/ansible/issues/4355#issuecomment-286184925

[2017-05-23 12:04] le9i0nx opened #24928 "postgresql_user use role_attr_flags=CREATEUSER KeyError: 'rolcreateuser'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
postgresql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Linux

##### SUMMARY

##### STEPS TO REPRODUCE

[code]
https://lookonmyworks.co.uk/2016/03/03/error-from-postgresql_user/

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-05-23 12:06] lifeofguenter commented on #24862
thanks @rqelibari for the investigation, however, my issue is not the permissions of the home-dir (`chmod`) but the owner of the created home-dir being `root:root` (`chown`).

I believe this is a regression as it worked in previous versions (<2.3)?

[2017-05-23 12:38] rqelibari commented on #24862
@lifeofguenter Yes indeed, your problem seems very odd...I cannot find a clue in the code of the user module why this could possibly happen. Especially as `sudo useradd` seems to work on the command line.

I will setup an Ubuntu VM later/tonight and will take a look myself on that.

[2017-05-23 13:01] sigio commented on #21456
Seems to be a non-issue... {{inifile}} was also used as result of a 'register' block... so it wasn't the clean filename anymore.
So this can be closed

-label affects_2.2
-label bug_report
-label module
-label waiting_on_contributor
close

[2017-05-23 13:01] #21456 closed, assigned to nobody

[2017-05-23 13:10] ahharu commented on #12086
+1 on Forks!

[2017-05-23 13:12] kamranayub opened #24931 "ConfigureRemotingForAnsible.ps1 doesn't allow me to use existing machine certificate"
Related #21263

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ConfigureRemotingForAnsible.ps1

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible configuring Windows (2012/2016)

##### SUMMARY
The enable remoting script does not seem to be compatible with an environment that already pre-provisions machine certs from Active Directory. Usually in a domain-joined environment, each ma

[2017-05-23 13:28] disunlike commented on #23121
放放风

[2017-05-23 13:50] iamcheko opened #24932 "Module system/user.py doesn't change file permission of directories"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible/lib/ansible/modules/system/user.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible runs on SLES 11.3 and shall configure a SLES 12.2 system

##### SUMMARY

The user module does copy the content of the /etc/skel directory but does not pass the ownership of the contained directories to the user.

####

[2017-05-23 13:53] ColOfAbRiX commented on #23914
My choice was to keep things simple, avoid any manipulation and just provide the parted functionalities as they are. In this situation it would be up to the user to decide what to do.

Maybe the behaviour that @kwohlfahrt is looking for should be implemented using LVM: I'm actually finding myself in the same scenario, a template VM with minimal disk plus an additional disk that I partition and add

[2017-05-23 13:55] ljbaar commented on #24891
I get the same issue on 2.2 and 2.4

[2017-05-23 14:13] kamranayub opened #24933 "ConfigureRemotingForAnsible.ps1 enables Basic auth which may not be desirable"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ConfigureRemotingForAnsible.ps1

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible configuring Windows (2012/2016)

##### SUMMARY
Currently, the ConfigureRemotingForAnsible.ps1 script will enable Basic auth (and optionally CredSSP). However, in some instances a VM may already have WinRM over HTTP enabled so enabling Basic over HTTP

[2017-05-23 14:44] kami8607 commented on #12170
Hi. We discovered one problem with the solution provided by @hryamzik.
If the task failes on one of this "pseudo-serial" hosts, the task get executed on the other hosts instead of failing immediately. No matter what we tried we could not skip the playbook directly after the failed host.

Maybe anyone has a solution for us. Thank you

[2017-05-23 15:02] ryansb commented on #24933
cc/ @nitzmahone

[2017-05-23 15:02] bcoca commented on #24921
the `roles:` keyword implies a 'static' import of roles, as such dynamic keywords like `when` or `with_` will never apply to the role itself but be inherited by the included tasks.

[2017-05-23 15:04] ryansb commented on #24931
cc/ @nitzmahone

[2017-05-23 15:06] tappoz opened #24936 "The azure_rm.py script says Azure python sdk not installed, but it's there already installed with the required version"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`azure_rm.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

I am using a docker container based on debian jessie (adding the testing repositories for the deb packages).
An extract from the `Dockerfile` is the following:
[code]

The docker version is:
[code]

The python version is:
[code]

The linux kernel/distrib

[2017-05-23 15:07] ryansb commented on #24920
For code changes, please file a pull request so we can follow the normal review process.

[2017-05-23 15:43] pcahyna commented on #18453
@tedder see #20566.

[2017-05-23 15:43] squeeb opened #24941 "vyos_config 'save' parameter fails with `Invalid command: [save]`"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vyos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
inventory=hosts
host_key_checking = True

##### OS / ENVIRONMENT

Ansible running on:
[code]
VyOS host being controlled is 1.1.7

##### SUMMARY
`vyos_config` tasks with the `save: yes` parameter set fail with `"save\r\n\r\n  Invalid command: [save]\r\n\r\n`
##### STEP

[2017-05-23 15:52] tedder commented on #18453
Thanks- works for me.

[2017-05-23 16:18] mliker commented on #20925
+1

[2017-05-23 16:43] sanchox opened #24942 "service: disable non-existing enabled systemd services"
_From @prupert on September 15, 2016 13:6_

##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

service module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

When a systemd service is enabled (a symlink exists in `/etc/systemd/system/multi-user.target.wants`), but not in fact existing (the symlink is broken so to speak), the service module fails to disable the servic

[2017-05-23 16:43] sanchox commented on #24942
_From @ansibot on September 15, 2016 13:23_

@grossws ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-23 16:43] sanchox commented on #24942
_From @ansibot on October 5, 2016 14:51_

@ansible, ping. This issue is waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-23 16:43] sanchox commented on #24942
_From @phemmer on October 9, 2016 19:15_

See https://github.com/ansible/ansible/issues/16134

[2017-05-23 16:43] sanchox commented on #24942
_From @prupert on October 10, 2016 8:45_

@phemmer, although related, this is another bug.

[2017-05-23 16:43] sanchox commented on #24942
_From @ansibot on October 21, 2016 8:36_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-23 16:43] sanchox commented on #24942
_From @ansibot on November 6, 2016 9:35_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-23 16:43] sanchox commented on #24942
_From @ansibot on November 22, 2016 9:43_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-05-23 16:43] sanchox commented on #24942
_From @ansibot on December 7, 2016 19:1_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-05-23 16:45] JoelFeiner commented on #13876
@jylenhofgfi I don't see anything in this thread about upgrading SSH, only the kernel. What version are you using? On the remote hosts or local?

[2017-05-23 16:50] sanchox commented on #24942
Get this on host with Ubuntu 16.04.2 LTS and Ansible 2.3.0.0.
Destination is Debian 8.6 with systemd on BeagleBone Black.

[2017-05-23 17:01] jctanner commented on #21890
Bug confirmed for all current versions with include_role and devel.

[2017-05-23 17:30] jctanner commented on #21890
The fix for this is going to depend on https://github.com/ansible/ansible/compare/imports_and_includes so it probably won't make it to a release until 2.4 at the earliest.

[2017-05-23 17:46] #23559 closed, assigned to nitzmahone, jhawkesworth

[2017-05-23 17:57] radhikakarthik opened #24945 ""InvalidAMIID.Unavailable: The image ID 'ami-XXXXXXX' is no longer available""
#### ISSUE TYPE
 - Bug Report

#### COMPONENT NAME
ec2_ami module

#### ANSIBLE VERSION
$ ansible --version
ansible 2.3.0.0
  config file = /GitHub/Tools/Ansible/AWS/buildami/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.13 (default, May  3 2017, 09:37:35) [GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.42.1)]

#### CONFIGURATION

[defaults]
host_ke

[2017-05-23 18:18] bengerman13 commented on #24917
looks like this might actually be a problem with deleting xattr inside docker containers

[2017-05-23 18:31] #24932 closed, assigned to nobody

[2017-05-23 18:32] sramakr commented on #23507
@s-hertel I have PR ready , and validate module works good my change , but , before I create a PR I want to check if there any existing ec2 unit tests available. Having a hard time mocking boto3. appreciate any help.

[2017-05-23 18:33] #24202 closed, assigned to nobody

[2017-05-23 18:34] TeamWaggles commented on #24855
I'm finding that adding the firewalld modules in Python2 is problematic at best. Somewhat difficult to recreate this error when installation of the modules fails.

[2017-05-23 18:47] GriffithLea opened #24948 "yum_repository module always reports the status as changed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

yum_repository
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

pointed inventory at a directory containing my inventory sources
##### OS / ENVIRONMENT

RHEL 7.2
##### SUMMARY

If I run a task that creates yum repo file(s) in /etc/yum.repos.d, it always says they changed.
##### STEPS TO REPRODUCE

Run the playbook pasted below twice. I woul

[2017-05-23 18:52] bcoca commented on #24917
I was testing with your play and I get:
[code]

[2017-05-23 19:04] Akasurde commented on #24855
@cdggcali @alikins [Firewall](https://pypi.python.org/pypi/firewall) is not correct package we are looking for. We want [Firewalld](https://packages.ubuntu.com/zesty/all/firewalld/filelist) which will provide correct dependency.

[code]
Also, use Python3 by default as this is getting installed inside `/usr/lib/python3/dist-packages/firewall/`

[2017-05-23 19:06] abadger commented on #24917
@mattclay if this turns out to be a failure for xattr in docker that we can't work around we'll have to look into other options to reenable the xattr tests.

[2017-05-23 19:19] sivel commented on #24917
Does it work with `--privileged`?

[2017-05-23 19:21] s-hertel commented on #23507
Awesome! We don't have ec2_group unit tests yet but there are some integration tests for it. But if you're hoping to write some unit tests, using placebo_fixtures might be better than mocking it (if you haven't used it before it basically allows you to run the tests on your cloud resources and record it and then on subsequent runs you can just use the recordings that were created rather than use c

[2017-05-23 19:34] abadger opened #24949 "copy module: broken recursive copy with relative paths for dest"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy.py

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

For When given a destination directory that is relative, the copy module throws an error instead of copying.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

Copy would copy the files successfully.
##### ACTUAL RESULTS

[code]

[2017-05-23 19:59] misterT1958 commented on #24128
Sure Jon
I assume this replaces Download-File?, which is where in the Ansible hierarchy?

[2017-05-23 20:06] HighCaliberConsecrator commented on #20653
Also getting 'failed to get hostkey for [host]' from the git module, updated to 2.3.0.0. to see if  it fixed but still seeing it, accept_hostkey: yes is set

[2017-05-23 20:10] sebastiaopf commented on #24781
@nitzmahone didn't happen for me with python2 on the remote host.
Do you need any other test performed?

[2017-05-23 20:34] ssi-daveruffin commented on #22644
I figured out a solution that includes populating the uuid field with a variable. At this point, i just need a way to confirm that the snapshot was created. Does anyone have any ideas on how i can check to see if a snapshot exists in vmware?

[2017-05-23 20:43] rgarrow commented on #22644
Hi dave, that would be confirmed it the tasks is completed. If the task failed then you would know it failed. The only other way I can think of is if you use a register filter with snapshot name then the debug. I am sure  some other folks will have some ideas for you.

[2017-05-23 20:50] bengerman13 commented on #24917
It looks like this problem doesn't occur in all cases - it's probably related to the docker storage driver I'm using, or some docker config on my local system. These tests all pass in CI.

[2017-05-23 20:50] #24917 closed, assigned to mattclay, bcoca

[2017-05-23 21:10] mwinfie commented on #21328
Does your dynamic include work in the scenario where you aren't using include_role? I'm running into this same error, but I'm using a dynamic include in my role and running a playbook that simply applies that role.

[2017-05-23 22:05] jtyr commented on #24948
Thanks for reporting this, @GriffithLea. The problem is in the formatting of the `baseurl` string. Basically, there is a difference between how the string is written into the file and how it's read by the `configparser` Python module. You can use the following formatting to achieve what you need and still maintain the compatible formatting:

[code]

Using this kind of templating in playbook is not

[2017-05-23 22:19] #24948 closed, assigned to nobody

[2017-05-23 22:42] os2tux opened #24956 "Ansible command module generating file not found error when running source command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
<100.104.150.88> SSH: EXEC ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o 'IdentityFile="/root/.ssh/NetSVCS_dev_privkey.pem"' -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o User=ec2-user -o ConnectTimeout=1

[2017-05-23 22:48] jtoppins commented on #17914
I think the include directive is a separate feature. It should be noted that git currently has 4 default config locations it merges from[1] not including environment variables which override anything set from a file. The merge algorithm is simple, last defined wins. Anyone working on this? It seems pretty straight forward given ConfigParser is the standard config parser provided by Python[2]. Here

[2017-05-23 22:57] bcoca commented on #24956
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, the issue is that `so

[2017-05-23 22:57] #24956 closed, assigned to nobody

[2017-05-23 23:12] thaumos commented on #17914
There are plans for an ansible-config feature in 2.4.

[Proposal](https://github.com/ansible/proposals/issues/35)

[Link to PR](https://github.com/ansible/ansible/pull/12797)

So at this point, I'd say things like this could be up in the air until the new functionality is implemented.

[2017-05-24 02:01] bcoca commented on #17960
1st draft https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/playbook_pahting.rst

[2017-05-24 02:03] bcoca commented on #15035
via #23001 I added a more pertinent warnings:
[code]

[2017-05-24 02:12] GriffithLea commented on #24948
Thanks, @jtyr. I dimly understand what your edit to my task is doing, but can you point me to some documentation that would help me understand it more fully? I've not come across anything that looks like that construct in all my Ansible travels. 😁

BTW, at first I thought your fix would only help me if yum_servers|length == 2, but I see now that it does work with a list of arbitrary length.

By th

[2017-05-24 02:15] sivel commented on #17960
BTW looks like that file name is misspelled?  paht instead of path

[2017-05-24 02:19] bcoca commented on #17960
onpurposecauseitshiding!

[2017-05-24 02:36] bcoca commented on #22509
there is a `runlevel` option but currently only used for OpenRC

[2017-05-24 02:56] phil-hildebrand commented on #22579
I would also like to see this change done.  In my case, an hadoop variable change could cause just one config files to change and notify only that service to restart, rather than all services to restart.

Something like this:
[code]

[2017-05-24 04:34] adam-kosseck opened #24961 "Ansible repository for Ubuntu 17.04 broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
-  Ansible Repository

##### ANSIBLE VERSION
- 2.3.x

##### CONFIGURATION
- N/A

##### OS / ENVIRONMENT
- Ubuntu 17.04 (Zesty)

##### SUMMARY
Attempts to install Ansible on Ubuntu 17.04, by following the [install guide](http://docs.ansible.com/ansible/intro_installation.html) fail due to a missing release file.
During the 3rd step (repository up

[2017-05-24 04:41] cdggcali commented on #24855
Hi @akasurde

I do have firewalld installed:
[code]
And I can import firewall.config:
[code]

Regards,
Carlos

[2017-05-24 04:52] ChillarAnand opened #24962 "Ansible fails to create tmp dir on android"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Host:  Ubuntu 16.04.2 LTS
Target: Android 4/Android 5

##### SUMMARY
Ansible fails to connect with android devices.

I have sshed into the device created a folder `foo`.

[code]

##### STEPS TO REPRODUCE
Use any playbook or try to ping an android device from

[2017-05-24 05:01] andrewsaraceni commented on #20428
Related to @dagwieers' initial note, both win_user and the upcoming win_domain_user as per #24075 still do not account for the scenario of adding domain users to local computer groups.  This is actually something we do quite often, e.g. add a domain user to the local Administrators group on a standard (i.e. non-DC) target system as a one-off.

Would it makes sense to have either of these modules h

[2017-05-24 05:19] jhawkesworth commented on #24128
Different distros put the ansible modules in different places.  However, ansible provides a nice way to override existing modules.  If your ansible configuration is in ~/ansible then any modules in ~/ansible/library will override the installed ones.  You can set a custom location in your ansible.cfg by setting the 'library' setting too.

If I recall you have to copy both the module .ps1 and .py fi

[2017-05-24 05:27] jhawkesworth commented on #20428
@andrewsaraceni rather than making big modules that have lots of options, I think the best thing to do is create small modules that do one thing well.  So in this case I'd suggest creating a win_group_member module that just ensured the specified users were in the specified groups.

[2017-05-24 05:48] wzyboy commented on #24921
But the use of `when:` is supported on roles, as documented here: http://docs.ansible.com/ansible/playbooks_roles.html#roles

I've tested with my Ansible installation (2.3.0.0, see above for version info), this `when:` syntax does work on roles as intended; they are not passed in as a literal variable `"when"`.

[2017-05-24 06:08] shaharmor commented on #22509
I know that, but I need it for update-rc.d

[2017-05-24 07:04] basictheprogram opened #24963 "ERROR! failed to combine variables, expected dicts but got a 'dict' and a 'NoneType':"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default ansible.cfg that is in the git repository

##### OS / ENVIRONMENT

macOS 10.12.4

##### SUMMARY

"git pull" to 2.4 code base and playbooks that worked in 2.3 fail in 2.4

##### STEPS TO REPRODUCE

real-time/testing inventory file
[code]
phpbb3-servers.yml
[code]

###

[2017-05-24 07:13] basictheprogram commented on #24963
Maybe related?

https://groups.google.com/forum/#!topic/ansible-project/SEfSB7BHZHY

[code]
[code]
[code]
(just 3 dashes, file is empty)

[2017-05-24 07:23] jhawkesworth commented on #24128
@misterT1958
Hmm, started preparing a Pull Request based on the code comment mentioned above, but it turns out the security protocol versions available depend on which version of .net you have installed.

See https://stackoverflow.com/questions/28286086/default-securityprotocol-in-net-4-5

Need to figure out best way to handle this - may need to detect .net version before attempting to set, althou

[2017-05-24 07:28] basictheprogram commented on #24963
I removed /Users/tanner/projects/ansible.git/playbooks.git/real-time.com/group_vars/all

New error. If this is a new issue I can open another ticket.

[code]
It would seem that 2.4 does not look for variables inside the group_var directory but instead looks for them in the main directory?
[code]
The apticron.yml is at located at /Users/tanner/projects/ansible.git/playbooks.git/group_vars/cross-fir

[2017-05-24 07:55] klesniewski opened #24964 "Module zabbix_host is not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

zabbix_host

##### ANSIBLE VERSION
[code]
Zabbix version 3.2.6

##### CONFIGURATION

##### OS / ENVIRONMENT
“N/A”

##### SUMMARY
When trying to register Zabbix host for the second time, module tries to again create the same default interface (despite it did not change), what results in an error, as only one default interface per type is allowe

[2017-05-24 08:02] klausitto commented on #22552
@wimnat I can't confirm. I'm trying to do a simple task: start instance with ansible, and it's a big headache for me (even for AWS support). I assigned EC2 full access for IAM, simulated a policy, confirmed with AWS support, but ansible doesn't work. And I don't see the detailed error. Only:

<Errors><Error><Code>UnauthorizedOperation</Code><Message>You are not authorized to perform this operation

[2017-05-24 08:18] ryanli1994 commented on #5240
Still have this problem in Ansible 2.3.0.0

[2017-05-24 08:44] wimnat commented on #22552
Can you show me one of your AWS tasks?

Have you tried using AWS cli on the same instance? Does that work?

[2017-05-24 08:50] Akasurde commented on #21622
resolved_by_pr 24437

[2017-05-24 08:53] Akasurde commented on #24516
resolved_by_pr 24712

[2017-05-24 08:57] candlerb commented on #17960
I'm afraid I find that explanation really confusing.  It doesn't define "playdir" for the case where playbook1.yml includes playbook2.yml.  It's unclear what happens if role1 has role2 as a dependency.  It's unclear what the role search path is relative to, in the cases where the role is invoked from playbook3, or the role is a dependency of another role.  And there are two separate issues:searchi

[2017-05-24 09:00] jtyr commented on #24948
The example shared with you is just concatenating the list with a specific string which builds the URLs. It works with any size of the list.

To simplify this kind of formatting, I have created PR #24967 which adds support for lists to the `baseurl` and `gpgkey` parameters. Please test it (download the updated plugin and add it into the `library` directory where you have your playbook).

[2017-05-24 09:08] aholbreich commented on #2155
How to make i work form Jenkins? Providing passphrase once?

[2017-05-24 09:22] IngussNeilands commented on #23023
No bug is still in both rc1 and rc2 - ansible\.cache dir contains {{ item }} file

pip install git+git://github.com/ansible/ansible.git@v2.3.1.0-0.1.rc1
pip install git+git://github.com/ansible/ansible.git@v2.3.1.0-0.2.rc2

[2017-05-24 09:32] mrtg opened #24969 "Error handling in parted module does not work when LANG is not set to en_US"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`parted` module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The module might fail when `LANG` is not set to `en_US`. The module checks stderr for output strings in english (e.g. [this line](https://github.com/ansible/ansible/blob/v2.3.0.0-1/lib/ansible/modules/system/parted.py#L421)). `parted` returns error mess

[2017-05-24 09:45] lassizci opened #24970 "group vars under group_vars/groupname broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
nothing significant

##### OS / ENVIRONMENT
Fedora 24

##### SUMMARY

Group variables no longer work from `group_vars/groupname/*`, failing every play.
Most likely broken by #23001

##### STEPS TO REPRODUCE

[code]

[code]

tree group_vars
[code]

cat inventory
[code]

##### EXPECTED RES

[2017-05-24 09:51] dagwieers opened #24971 "vcenter_license: New module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vcenter_license

##### ANSIBLE VERSION

v2.4

##### CONFIGURATION

##### SUMMARY

Managing vCenter license keys is currently not possible, but essential when creating infrastructure from scratch. I plan to create a module that can add and remove license keys.

[2017-05-24 10:33] mvasin commented on #20521
Here's my task:
[code]

Here's the output:
[code]

[2017-05-24 10:35] golgoth31 commented on #24961
This is not a bug from ansible, it's related to the ppa witch doesn't have any build for zesty currently. you should change your ansible ppa list to yakkety.

[2017-05-24 10:36] rlees85 commented on #22397
Please see above PR. I will probably get fish slapped pretty hard but if it is affecting enough people please show your support and maybe the warnings will get removed (either by this way or another).

[2017-05-24 10:42] adamkosseck commented on #24961
Ok - my apologies. I assumed the Ansible team was responsible for creating/providing builds for each release.

[2017-05-24 10:44] boxrick commented on #21328
Yes it works perfectly fine when I don't use include role.

[2017-05-24 10:45] ntting commented on #21797
@dagwieers   "ansible_winrm_read_timeout_sec"  is this parameter added?    what's ansible version fixed  this bug?

[2017-05-24 10:58] hogarthj commented on #24902
resolved_by_pr 24924

[2017-05-24 11:31] klausitto commented on #22552
@wimnat Yes, I've just started the instance from aws cli:

`{
    "StartingInstances": [
        {
            "InstanceId": "i-0521c48cae9d66145",
            "CurrentState": {
                "Code": 0,
                "Name": "pending"
            },
            "PreviousState": {
                "Code": 80,
                "Name": "stopped"
            }
        }
    ]
}
`
From ansible - stil

[2017-05-24 11:35] gundalow commented on #24961
Sounds like this isn't a bug, so closing. Please re-open if that's not the case.

[2017-05-24 11:35] #24961 closed, assigned to nobody

[2017-05-24 11:37] jainnikhil30 opened #24975 "Update docs for junos module"
##### ISSUE TYPE

  - Documentation Report

##### COMPONENT NAME

junos_* modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

With Ansible 2.3 junos modules dont need junos-eznc as dependency. But the docs for few of junos module still mention junos-eznc as required dependency. So just need to update the docs.

##### STEPS TO REPRODUCE

[code]

#####

[2017-05-24 11:45] dagwieers commented on #21797
It's not really a bugfix, it's a parameter you can tweak.

There is no bug to fix.

[2017-05-24 11:49] adam-kosseck opened #24976 "win_firewall_rule deletes firewall rules"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
windows/win_firewall_rule

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ansible Server - Ubuntu 17.04
Ansible Clients - Windows Server 2012 R2 (Google Cloud)

##### SUMMARY
When playbook is run firewall rules are removed if they already existed, and not created if they did not previously exist.

##### STEPS TO REPROD

[2017-05-24 11:55] wimnat commented on #22552
When you said in your previous post that you had 'assigned EC2 full access for IAM' what do you mean exactly? Have you assigned an iam role to the instance? If yes, then the aws credentials in your task are unnecessary.

[2017-05-24 11:56] adamkosseck commented on #24976
Possibly relates to #23455

[2017-05-24 12:19] klausitto commented on #22552
I assigned EC2 full access for the whole ec2 service within eu-central-1 region. Instance ID is asterisk.

[code]

Why do you think credentials are unnecessary? I didn't configure aws cli profile on my machine(only for tests). And ansible doesn't know my AWS creds.

[2017-05-24 12:46] wimnat commented on #22552
Ansible doesn't need to know your creds if you're using iam roles. Thats the whole point in them - to avoid having to use access keys on EC2 instances​.  However, iam service role are relatively new and I'm not sure on the boto3 or ansible support. If you just create an instance role and assign it to the ansible instance you should be fine.

[2017-05-24 12:48] wimnat commented on #22552
Also, I would seriously consider modifying that policy of only for testing. If any one got access to one of your instances they could perform absolutely any action

[2017-05-24 12:50] abadger commented on #24756
Straight grep invocation to detect the use of cmp (and the current list of files to fix:
[code]

[2017-05-24 12:52] kamranayub commented on #7633
@jimi-c New to ansible here.

I was looking for this because I saw a module I wanted to use and it said to put it in `./library`, so I went hunting in the docs to find a reference to this feature. So far, I still haven't found it.

This was the first page I read: http://docs.ansible.com/ansible/dev_guide/developing_modules.html

In it, it says explicitly:

No mention of relative library path. Your

[2017-05-24 12:53] misterT1958 commented on #24128
Jon, here's an update:
I have not yet tried the updated version of .Net; I wanted to try another file to download to take HDF% out of the loop.  So, using **Ansible 2.2.1** and win_get_url with both url and dest as **files** results in "Download-File" fail:

{{{
<maude> WINRM STDERR
<maude> WINRM CLOSE SHELL: 5D52A515-B502-4750-A6E0-B013E46400FE
fatal: [maude]: FAILED! => {
    "changed": false,

[2017-05-24 13:08] #24902 closed, assigned to nobody

[2017-05-24 13:08] dathelen opened #24978 "Odd warning messages displayed in 2.3 when supplying a provider dictionary for any eos_* module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Any eos_* module when you supply a provider var to the playbok

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Any

##### SUMMARY
When running a playbook in Ansible 2.3 the following warnings are displayed everytime a provider var is supplied:

[code]

Here is the provider var example to see the issue:
[code]

##### EXPECTED RESULTS
A cle

[2017-05-24 13:17] bcoca commented on #24963
yes, it is a bug, the new code errors out with empty vars files, fixing soon

[2017-05-24 13:20] mbialozor opened #24979 "hostvars variables are not recursively templated in template module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Template/Vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

I'm creating balancer configuration for application cluster. This configuration file should have entries for application instances master host and all slaves. Application instances are named using base name (for example:

[2017-05-24 13:33] mwinfie commented on #21328
@boxrick your working_role is doing a static include of working_task.yml. I pulled down your example and ran it without any changes, it worked exactly as you described above.

I then modified working_role/tasks/main.yml...
`---
- include: working_task.yml
  static: no`

and reran the test and got this result...
`PLAY [host] **************************************************************************

[2017-05-24 13:35] mwinfie commented on #21328
@boxrick your working_role is doing a static include of working_task.yml. I pulled down your example and ran it without any changes, it worked exactly as you described above.

I then modified working_role/tasks/main.yml...
[code]

and reran the test and got this result...
[code]

I believe that dynamic includes are failing in this way even if include_role is not being used.

[2017-05-24 13:36] klausitto commented on #22552
@wimnat that's the point. I used 3 actions:StartInstances, StopInstances, DescribeInstances and succedded with instance start/stop. Now, even with EC2 full previliges I'm unable to start instance.

You thought I'm using ansible on EC2 machine, but no, It's my local machine. That's why I have to specify aws creds in playbook :)

[2017-05-24 13:39] mwinfie commented on #21328
@boxrick also in case you weren't aware, an include is dynamic by default when you use it with_items. You don't have to specifically set "static: no".

[2017-05-24 13:39] #24963 closed, assigned to nobody

[2017-05-24 13:40] er1zo commented on #20196
Apparently this issue appears only if database is already imported(on second and every next run). Could be more idempotent..

[2017-05-24 13:40] bcoca commented on #24963
fixed by commit above

[2017-05-24 13:40] er1zo commented on #23675
any update on the issue?

[2017-05-24 14:05] Neneow opened #24982 "Updating repository Git - Ask password"
-     Bug Report
-     ansible version : 2.2.2.0
-     component name : Task Templates

While running task, when Updating repository, the task don't progress. On shell, i can see process wait for password. Private key register in Key Store don't contain passphrase.

I run ssh -T -i access_key_4 git@git.xxxx.com and i am authentificated without password.

I've tried an other private key and problem

[2017-05-24 14:05] misterT1958 commented on #24128
well darn, I set my config file to point to a library that contained the win_get_url.ps and .py files per your instructions, both ansible 2.2.1 and 2.4.0(devel) behaved exactly the same as before.  guess it's time to install a new .NET framework

[2017-05-24 14:12] jkroepke opened #24983 "ansible_device.uuid is empty, if uuid is not unique on system"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
setup / facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Local: Any
Target: CentOS 7.3

##### SUMMARY
ansible_device.uuid is empty, if uuid is not unique on system.
[code]

ansible -m setup
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
facts has correct values

##### ACTUAL RESULTS
See: SUMMAR

[2017-05-24 14:12] jl-montes commented on #24787
I was able to confirm that with Ansible 2.3, this issue is solved/fixed.

[2017-05-24 14:13] wimnat commented on #22552
Ok I'm confused. I thought your play wasn't working at all.

So you ran it first time and it worked and then you rerun it and got an author error?

Check the iam permissions of your user. As you're running from your local machine, iam service roles are not going to make any difference

[2017-05-24 14:13] Shrews commented on #24786
Thanks. This actually looks like a bug in the shade library. I've opened a bug report to track it there.

https://storyboard.openstack.org/#!/story/2001038

[2017-05-24 14:15] misterT1958 commented on #24128
darn a second time, I checked and my target Windows box is already running .NET 4.5

![screen shot 2017-05-24 at 10 12 25 am](https://cloud.githubusercontent.com/assets/7841171/26407628/aea5bb62-4069-11e7-84df-1f0972da57da.png)

I am afraid I am back to square one, 2.4 seems to hang on win_get_url.....

[2017-05-24 14:22] minherz commented on #24926
From the verbose trace it seems like i am using some intermediate version of the module or smth.

[2017-05-24 14:22] klausitto commented on #22552
It worked a few weeks ago. Permissions are ok, because I used this creds in aws cli to run instance. That's why ansible+AWS IAM is very weeeeired.

[2017-05-24 14:24] wimnat commented on #22552
So what's the exact error?

[2017-05-24 14:26] misterT1958 commented on #24128
Jon, do you think it's worth the move from NET 4.5.1 to NET 4.5.2, should 4.5.1 suffice

[2017-05-24 14:27] klausitto commented on #22552
Error I mentioned in my first post:

UnauthorizedOperationYou are not authorized to perform this operation.

[2017-05-24 14:30] jl-montes commented on #24787
Im happy with the solution in the newer version, will close the ticket

[2017-05-24 14:30] #24787 closed, assigned to nobody

[2017-05-24 14:34] wimnat commented on #22552
Well then it must be your user permissions. What's your policy look like?
Try adding​full EC2 permissions or turn on CloudTrail and see what calls
are failing

The module could very well behaved differently on subsequent runs

On 25 May 2017 12:27 am, "klausitto" <notifications@github.com> wrote:

[2017-05-24 14:35] misterT1958 commented on #24128
and to completely confuse the situation, the HDF5 transfer using 2.2.1 worked but the ansible 2.4 call hung just like always....

[2017-05-24 14:36] ExplorerOnTheMoon commented on #20119
Same issue: this time modules in my dependency are:
- `command`
- `git`
- `shell`
- `yum`

[2017-05-24 14:37] klausitto commented on #22552
I pasted my policy a few messages above :)

[2017-05-24 14:43] jctanner commented on #14634
resolved_by_pr https://github.com/ansible/ansible/pull/14994

[2017-05-24 14:43] msanabria commented on #20119
@ExplorerOnTheMoon Thank you for commenting. I updated the issue.

[2017-05-24 15:01] jcshelby commented on #24956
Brian:

Makes sense; I resolved my issue successfully by making some changes to my command invocation syntax. Thanks for the quick response and for pointing that out to me.

It’s appreciated!

Respectfully,

Joseph Shelby

Sr. Network Services Engineer, IT Voice and Data Networks
zoom: https://asurion.zoom.us/my/josephshelby
voice: 615.445.1240 | mobile: 615.210.6139
mail: Asurion I 648 Grassmere

[2017-05-24 15:02] calfonso commented on #15464
Closing this issue as we aren't planning another release for 1.9 as we no longer support it.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning

[2017-05-24 15:02] #15464 closed, assigned to nobody

[2017-05-24 15:17] ganto opened #24987 "meta: refresh_inventory doesn't pickup host_vars/ and group_vars/ changes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`meta` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When running a playbook which modifies a variable value in a file under either the `<inventory-path>/host_vars` or `<inventory-path>/group_vars` directories, `meta: refresh_inventory` doesn't make the new value available in the playboo

[2017-05-24 15:29] #24982 closed, assigned to nobody

[2017-05-24 15:41] bcoca commented on #24970
looks like an issue with the host_group_vars plugin 'loosing' the group name

[2017-05-24 15:45] maxamillion commented on #24855
It appears that Ubuntu's version of firewalld is either extremely outdated or is just reporting an incorrect version. The version checking in the firewalld module is therefore complaining that an appropriate version is not found. I'll install an Ubuntu 16.04.2 LTS virtual machine and do some testing.

[2017-05-24 16:02] areobe opened #24989 "Module unarchive: Failure when the group name in the group parameter contains a space."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module: unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Running unarchive using the group ownership parameter fails to unarchive a tar file when the group has a space in it.

This is a regression from 2.0.0.2.
Fails in 2.2.3 and 2.3.0.

We use sssd with AD authentication, so "domain user

[2017-05-24 16:06] bcoca commented on #24921
the when is not applied to the role itself, but to the included tasks.

[2017-05-24 16:10] bcoca commented on #22509
understood, just pointing out we already have the field/option

[2017-05-24 16:15] lmazuel commented on #24936
`azure>=2.0.0rc5` is not correct, should be `azure==2.0.0rc5` as stated in the Ansible documentation:
https://docs.ansible.com/ansible/guide_azure.html#requirements

2.0.0 stable has a a subtle change in Network that is incompatible with Ansible right now. [Note that I opened a PR for 2.0.0 support](https://github.com/ansible/ansible/pull/24710).

IMHO, this issue should be closed.

[2017-05-24 16:16] #19619 closed, assigned to emonty, rcarrillocruz

[2017-05-24 16:16] lmazuel commented on #24936
However, if the error is suggesting to type `pip install 'azure>=2.0.0rc5' --upgrade`, this is false.

[2017-05-24 16:25] jhawkesworth commented on #24128
so... ansible 2.3 and later have integrated kerberos ticket management so its possible 2.4 is hanging because kinit is being called using whatever username and password you have configured in your ansible_user / ansible_password host/group_vars - from earlier posts I got the impression you are using 'ambient' kerberos ticket which you have as a result of logging in with domain credentials.   You c

[2017-05-24 16:25] lmazuel commented on #24926
CLI 2.0.6 is using SDK packages of 2.0.0 release, but Ansible is still compatible with 2.0.0rc5 only.

[I opened a PR to move Ansible to SDK 2.0.0](https://github.com/Azure/azure-sdk-for-python/issues/573). [This part of the PR](https://github.com/ansible/ansible/pull/24710/commits/cc0c8af2c47cde712732f77af2f48e947c9501ae#diff-aedcf6908d8fdb4526aea568448dd136R248) is exactly the fix for your issue

[2017-05-24 16:30] tappoz commented on #24936
@lmazuel thanks for the hint, this worked as you suggested: `pip install 'azure==2.0.0rc5' --upgrade` i.e. when running `./ansible/contrib/inventory/azure_rm.py --list` I did not see `The Azure python sdk is not installed (try `pip install 'azure>=2.0.0rc5' --upgrade`) - No module named network_management_client` anymore.

However I am not sure what do you mean with "false" cause that output strin

[2017-05-24 16:31] dagwieers commented on #24989
There is a longstanding PR #19015 that fixes this.
Please test !

[2017-05-24 16:39] bcoca commented on #24987
these were never part of the scope of the feature ... not sure if this is a bug as much as a 'new feature' expansion on the original.

[2017-05-24 16:50] #24970 closed, assigned to bcoca

[2017-05-24 16:50] minherz commented on #24926
Given the state presented in the issue description, would the following get me to working results:
[code]
Or i should downgrade other modules?

[2017-05-24 16:57] ColOfAbRiX commented on #24969
Thanks for reporting and for the suggestion.
I've applied a fix, please have a look.

[2017-05-24 16:59] ghost opened #24993 "dynamodb_table module has wrong version_added information"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
 - dynamodb_table

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY

The `dynamodb_table` module lists `tags` and `wait_for_active_timeout` as being added in version 2.3, but they are not present in my current version of `2.3.0.0`:

http://docs.ansible.com/ansible/dynamodb_table_module.html

[2017-05-24 17:02] gundalow commented on #18933
@rouge8 @BenCoffeed There is a proposed fix in https://github.com/ansible/ansible/issues/18933 it would be great if you could test that and see if it addresses your issues.

Please add comments on https://github.com/ansible/ansible/issues/18933 with your +1/-1
Thanks in advance

[2017-05-24 17:06] ganto commented on #24987
I thought so. Just it wasn't obvious from the documentation. It seems that the current behaviour would be better named as `refresh_hosts`. According to my understanding the `host_vars` and `group_vars` definitely belong to the inventory too.

Still, I think a way to refresh the variables would be a nice feature 👍

[2017-05-24 17:07] jseeley-vertitechit opened #24994 "Module: nxos_interface_ospf - result.update(response) TypeError: 'NoneType' object is not iterable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_interface_ospf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Environment variable used: ANSIBLE_NET_PASSWORD

##### OS / ENVIRONMENT

Running Ansible from: CentOS Linux release 7.3.1611 (Core)
Managing: cisco Nexus7700 C7706 system:    version 7.3(1)D1(1
##### SUMMARY

The module nxos_interface_ospf is not working as expected.
Spec

[2017-05-24 17:07] ghost opened #24995 "nxos_evpn_vni state present not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_evpn_vni

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.2

##### SUMMARY

Setting evpn configs as state:absent. Ansible outputs "ok" not "changed". Checked NxOS and configs were not deleted.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
expected configs deleted when playbook is ran

[2017-05-24 17:08] donsantos commented on #24995
@trishnaguha

[2017-05-24 17:09] bcoca commented on #24987
I don't disagree, but you also have to take into account group/host_vars that are 'adjacent to play' not just those 'adjacent to inventory file'

[2017-05-24 17:10] bcoca commented on #24987
the feature was mainly geared into 'dynamic inventories' as changes via cloud modules were not reflected immediately and required 'add_hosts/group_by' tasks ... but i can see why you would want this .. just not sure how easy it is to implement.

[2017-05-24 17:15] emonty commented on #24786
@infragilis we've got a patch that should make this not be a problem - but I'm also curious why that specific error occurred. would you mind running:
[code]

in python and pasting the output somewhere? I'd like to see what the cloud is returning and why it's not what we're expecting. However, we've got a workaround for the problem coming soon if you don't get a chance to.

[2017-05-24 17:24] infragilis commented on #24786
no problem, here you go, i sanitized some with <snip> thanks for the assist !

Manager envvars:RegionOne running task image.GET.discovery
REQ: curl -g -i -X GET https://<snip>:5000/v2.0 -H "Accept: application/json" -H "User-Agent: os-client-config/1.27.0 shade/1.20.0 keystoneauth1/2.20.0 python-requests/2.14.2 CPython/2.7.12"
RESP: [200] Date: Wed, 24 May 2017 17:19:41 GMT Vary: X-Auth-Token Cont

[2017-05-24 17:26] hal58th commented on #24886
Yeap, I'm running into this as well and it sometimes takes more than 2 minutes to return and the module times out waiting for it.

[2017-05-24 18:05] WhyIsThisOpen opened #24997 "rhn_register module reports failure when registering"
##### ISSUE TYPE

    Bug Report

##### COMPONENT NAME

    rhn_register.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg

    [defaults]
    inventory = ~/hosts
    roles_path = /home/ansible/code/
    vault_password_file = /home/ansible/.vault_pass.txt
    nocows = 1
    host_key_checking=False
    retry_files_save_path = ~/.ansible/retry-files
    #remote_tmp = /tmp/.ansible/

[2017-05-24 18:19] maxamillion commented on #24855
This turns out to be as simple as the unfortunate reality that the firewalld module doesn't yet support python3 and the python2 version of firewalld is no longer available in Ubuntu. I'll try to get a python3 compat patch in over the next few days. Also note that once the fix is in, there will be a requirement for [enabling python3 support for those hosts](https://docs.ansible.com/ansible/python_3

[2017-05-24 18:27] donsantos commented on #24995
@trishnaguha
this is the config for creating it and output

[code]

[code]

After creation I ran nxos_evpn_vni with state: absent and received "ok" as the output

[2017-05-24 18:31] #24542 closed, assigned to nobody

[2017-05-24 18:36] michael-k commented on #20521
@mvasin The network warning is fixed in devel (aka ansible 2.4) and has been cherry picked for an eventual 2.3.1 release.  See ansible/ansible#23919

[2017-05-24 18:41] bcoca commented on #16707
order is also not guaranteed, once transformed into a python dictionary there is no way to know the original order.

[2017-05-24 18:41] #20044 closed, assigned to nobody

[2017-05-24 18:51] ghost opened #24998 "Module: junos_config - ValueError: line must start with either `set` or `delete`"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
junos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
host_key_checking = False

##### OS / ENVIRONMENT
Executing Ansible from RHEL7
Managing Juniper networking equipment

##### SUMMARY
junos_config module does not allow us to leverage the `wildcard range set|delete` configuration commands when executing lines in src_format: set

in

[2017-05-24 19:16] kerber opened #25000 "ec2_elb_facts not loading AWS config after 'aws configure'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
- Base instance
- Ansible 2.3.0
- AWS Configured via 'aws configure'

##### OS / ENVIRONMENT

Amazon Linux

##### SUMMARY

It would appear that the ec2_elb_facts module is not properly pulling AWS credentials from the ~./aws/ directory. I've confirmed that the configuration is correct

[2017-05-24 19:16] #22606 closed, assigned to nobody

[2017-05-24 19:19] #23700 closed, assigned to bcoca

[2017-05-24 19:23] misterT1958 commented on #24128
You sir are a genious -- my password had changed and that was what's hanging 2.4.

That's the good news; the bad news is that I'm still getting that "Exception calling DownloadFile with 2 arguments" error, even though I am using win_get_url.ps1 and win_get_url.py from the ansible-modules-core/issues/4437 -- although the text indicates the new routine requires one to pass a parameter and I made no

[2017-05-24 19:24] jaredledvina opened #25001 "Feature Request: Meta task to dump play status"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
meta

##### ANSIBLE VERSION
devel

##### OS / ENVIRONMENT
N/A

I'd like to be able to use the `meta` module to dump the current host/play status during a playbook run. My current situation is I have a very long serialized rolling restart playbook. I'd love to see how many hosts it's done, and how many tasks have changed, failed, etc during the

[2017-05-24 19:37] #24892 closed, assigned to nobody

[2017-05-24 19:44] misterT1958 commented on #24128
oh, last bits: the [WARNING]: ansible_winrm_kinit_mode unsupported by pywinrm is back (even in 2.4?) and I think I will try your tortoise bitbucket io suggestion

[2017-05-24 20:10] andrewsaraceni commented on #20428
Thanks @jhawkesworth, I may give this a go sometime soon.

[2017-05-24 20:13] areobe commented on #24989
Tested. Unfortunately, PR #19015 does not fix this issue.

[2017-05-24 20:22] Aroweeri opened #25004 "win_command hangs when running batch file with start /b"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - win_command

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Controller: CentOS Linux 7 (Core)
Remote: Windows 8.1

##### CONFIGURATION
Fresh install of ansible. Edited hosts file, added playbooks.
Installed pywinrm on Linux controller w/ ```pip install "pywinrm>=0.2.2"```
Set up basic authentication to the remote windows box using t

[2017-05-24 20:26] jchristi commented on #24388
@bcoca using symlinks is not a solution beyond a couple files. It doesn't scale.

This is the solution we ended up implementing: https://gist.github.com/jchristi/c814d066d57a5d0cae5df5f110e85042
...pretty sure this could have been done with a couple of lines in core, rather than a hundred or so separately :slightly_frowning_face:

[2017-05-24 20:55] steve-gregory opened #25005 "File: module fails when path contains $HOME (or other env variables) in the name"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
IF a path includes a "known envrionment variable" (For example, $HOME) as a file/directory `(i.e. /tmp2/$HOME/my_file.txt)`, then ansible will evaluate it (rather than treating it as a literal), resulting in `/tmp2//root/my_file.txt` which produces an O

[2017-05-24 21:20] s-hertel commented on #22552
@klausitto Yeah, so you've hit upon the crux of the problem. Different runs will use different permissions (and determining what permissions you may require means you have to trace both the ansible code and boto code) and since the ec2 module uses boto2 as opposed to boto3 it doesn't provide helpful responses when it gets a 403 Forbidden (permissions) error. Your policy+playbook combination doesn'

[2017-05-24 21:21] #21464 closed, assigned to chouseknecht

[2017-05-24 21:21] #22530 closed, assigned to nobody

[2017-05-24 21:29] s-hertel commented on #25000
There can be many profiles specified in your credentials file so you'll need to either export your AWS credentials (i.e. `export AWS_DEFAULT_PROFILE=yourprofile` on the command line) or specify `profile: yourprofile` in the task so ansible knows which credentials to find/utilize.

[2017-05-24 22:01] mente opened #25009 "dynamodb requires hash_key_name for state=absent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module `dynamodb_table`

##### ANSIBLE VERSION
[code]

##### SUMMARY
`dynamodb_table` module documentation states that `hash_key_name`  option is mandatory only for `state=present` though it's required always in code

##### STEPS TO REPRODUCE
Trying to delete table from ad-hoc command fails:
[code]

##### EXPECTED RESULTS
Table is deleted

#####

[2017-05-24 22:44] bcoca commented on #24388
In 2.4 you can now use either inventory plugins or vars plugins to do same, so I'm going to close this as it is too fringe to be part of core and easy to implement as an inventory script (seen above) or the plugins I just mentioned.

However, we're absolutely always up for discussion.  Since this is a really busy project, we don't always see comments on closed tickets, but want to encourage
open d

[2017-05-24 22:44] #24388 closed, assigned to nobody

[2017-05-24 22:47] sidewinder12s commented on #15709
I think we also ran into this with 2.3.

[code]

[2017-05-24 22:48] #21133 closed, assigned to nobody

[2017-05-24 23:04] #24756 closed, assigned to nobody

[2017-05-24 23:05] abadger commented on #24189
Feature has been merged to the apt package in devel.  Will be in 2.4.

[2017-05-24 23:05] #24189 closed, assigned to nobody

[2017-05-24 23:11] aurorak opened #25010 "Vertica_user module fails with vertica 8.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vertica_user

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT
Executing Ansible from OS X
Target host: CentOS Linux release 7.3.1611 (Core)
Vertica version 8.0

##### SUMMARY
Vertica user module fails because underlying system tables have changed

##### STEPS TO REPRODUCE
Run the vertica_user module against a vertica cluster running version

[2017-05-24 23:14] cigamit opened #25011 "vmware_guest: VM Deployment fails when Datacenter is nested under a folder"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]
also tested against current devel and with #24768

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Ansible on Centos 7
Managing VCenter 6.5

##### SUMMARY
In an enterprise environment, it is common for a VCenter to contain multiple Datacenters, and for these to be organized under various folders instea

[2017-05-24 23:19] #19550 closed, assigned to nobody

[2017-05-24 23:26] keinohguchi commented on #24195
Woohoo!

Any private repo we can play with?  I'm more than happy to do the shot! :)

Thank you, team Ansible!

[2017-05-24 23:52] ColOfAbRiX commented on #24969
resolved_by_pr 24969

[2017-05-25 00:16] lmazuel commented on #24926
"azure" is a bundle package, so uninstalling it does not uninstall the other packages :/
In your situation, the package you want is `azure-mgmt-resource 0.30.0rc5`

[2017-05-25 00:19] lmazuel commented on #24936
I mean, that `pip install 'azure>=2.0.0rc5' --upgrade` was good advice.... until two weeks ago when I released azure 2.0.0 :)

Quick fix would be to fix the message to use `==`, medium fix would be to wait until I finish the PR to port Ansible to SDK 2.0.0

[2017-05-25 01:12] therealdwright opened #25013 "Parameter validation failed for int types using CloudFormation Module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cloudformation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_HOST_KEY_CHECKING=False

##### OS / ENVIRONMENT
Amazon Linux (4.9.27-14.31.amzn1.x86_64)
Mac OSX 16.6.0
Boto3: 1.4.3
Boto2: 2.47.0

##### SUMMARY
After upgrading to Ansible 2.3.0 Parameter validation failed for int types using CloudFormation Module.

##### STEPS TO REPR

[2017-05-25 01:38] tedder commented on #25013
This is fixed, I'll ref the PR when I'm non-mobile.

[2017-05-25 01:42] ntting commented on #21797
@dagwieers   Where can we to set this parameter?  in which file?

[2017-05-25 03:46] basictheprogram commented on #23840
Thank you! This works great. This is an old role and I'm guess it was around before the addition of win_reboot in 2.1, please close this ticket.

[2017-05-25 03:49] tedder commented on #25013
ah, yep, `resolved_by_pr` #24182. Not backported to 2.3, feel free if you want.

[2017-05-25 05:34] u2bo opened #25016 "get_url download error how to resolve this？"
Failed to validate the SSL certificate for edelivery.oracle.com:443. Make sure your managed systems have a valid CA certificate installed. You can use validate_certs=False if you do not need to confirm the servers identity but this is unsafe and not recommended. Paths checked for this platform: /etc/ssl/certs, /etc/pki/ca-trust/extracted/pem, /etc/pki/tls/certs, /usr/share/ca-certificates/cacert.o

[2017-05-25 05:39] jhawkesworth commented on #24128
I think I know why the download is failing but... after all this, I slightly hope I'm wrong, 'cos its goofy.

After encouraging you to name a file for the destination (Downloads\mercurial\Mercurial-2.8-x64.exe), instead of a directory Downloads\mercurial I never thought to mention that win_get_url doesn't create directories.

So you probably just need to insert a win_file task beforehand to create

[2017-05-25 05:48] rename2 opened #25017 "Inventory and credential are required when using tower_job_launch"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

tower_job_launch

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Ansible on Centos  6.5
Managing Centos 6.5

##### SUMMARY

In my playbook, only specific job_template when using module tower_job_launch. The task failed.(Prompt for inventory and credential are not set.)

##### STEPS TO REPRODUCE

[code]

#####

[2017-05-25 05:48] swqmaven commented on #25016
know how to this. thanks

[2017-05-25 05:48] #25016 closed, assigned to nobody

[2017-05-25 07:18] klausitto commented on #22552
@s-hertel If you look at my policy, I'm not restricting access for particular instances. I've provided a full access to entire region.

[2017-05-25 07:23] mbialozor commented on #18499
Looks like it's still present on Ansible 2.3.

[2017-05-25 07:25] richard-scott commented on #24987
Maybe you can scan the relevant folders for files changed since the playbook started running? you'd only need to load those then.

[2017-05-25 08:04] basictheprogram opened #25018 "win_chocolatey: name: all state: latest "Error installing all""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_DEBUG=1

##### OS / ENVIRONMENT

Running Ansible from macOS 10.12.4
Managing Windows7, Windows10

##### SUMMARY

Trying to update all installed chocolatey packages using win_chocolatey and the documented example and it errors out.

##### STEPS TO REPRODUCE

[code]

###

[2017-05-25 08:55] mtbvang commented on #20119
+1 Hit the same problem. I'm trying to run a subset of tasks in my dependent roles while trying to integration test the role with dependencies. Testing the dependent role in isolation works, but it's tasks are failing when I pull it in as a dependency in another role.

Would be good to have the ability to do this.

[2017-05-25 10:06] tidzo opened #25020 "Wait_for should return matches to groups in its search_regex"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
wait_for

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
When using the wait_for module to monitor, say, a file for a string matching a particular search_regex, it would be helpful if the matches to that regex were available in the module's output.

In my current use case, I'm monitoring a log

[2017-05-25 10:56] iarba-tare commented on #24781
Hi. Today I had a close to this problem After second run of unarchive task with "list_files=True" I can't ssh into servers anymore with my deploy user. The ownership for /home/$USER is changed to the user with UID 1000. In my case from ansible:users into ubuntu:users and centos:users for centos machines.

[2017-05-25 11:12] hezronobuchele opened #25022 "postgresql_privs: Materialized Views not Supported for type "table" and objs "ALL_IN_SCHEMA""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
postgresql_privs module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Vanilla

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
The module does not set privileges for materialized view when the `type` is `table` and `objs` is `ALL_IN_SCHEMA`. I noticed it does for normal views though. I think it should be consistent and support materializ

[2017-05-25 11:16] hezbucho commented on #25022
I think I found the issue, it's with the filtering in https://github.com/ansible/ansible/blob/v2.3.0.0-1/lib/ansible/modules/database/postgresql/postgresql_privs.py#L353 This should also have the option `'m'` to get all materialized views as well.

[2017-05-25 11:47] roolo commented on #15321
@pavaniandkalyan Are you sure the user who has the correct SSH key on RPi is user `ansible`?

[2017-05-25 12:12] minherz commented on #24926
Installing azure package of the version 2.0.0rc5 resolved the error.
`pip uninstall -y azure`
`pip install -Iv azure==2.0.0rc5`

[2017-05-25 12:12] #24926 closed, assigned to nobody

[2017-05-25 12:19] minherz opened #25024 "azure_rm_deployment fails to deploy ACS template using pre-deployed template"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module azure_rm_deployment

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default ansible configuration

##### OS / ENVIRONMENT
OS:
[code]
Azure package version is 2.0.0rc5 as it explained in issue #24926
[code]

##### SUMMARY
ACS deployment template does not work returning error
[code]

##### STEPS TO REPRODUCE
1. Create Kubernetes ACS on A

[2017-05-25 12:23] minherz commented on #24926
@lmazuel I've got another issue after installing 2.0.0rc5 version of azure CLI. It states the template is invalid or unsupported. I suspect that it can be due the use in RC of the CLI.
Do you have ETA for the upgrade to use the latest CLI and SDK azure modules?

[2017-05-25 12:27] bcoca commented on #24987
that would require stating and keeping that info per file ..., not sure which one is the more expensive path.

[2017-05-25 12:48] jborean93 commented on #24884
This works for me on my host but I think I know what the issue is I just can't seem to replicate it. Are you able to edit `/usr/lib/python2.6/site-packages/ansible/modules/windows/win_user.ps1` and place the line `Fail-Json @{} "$host_name"` on line 110. I have a feeling because your hostname is over 15 characters it is not getting the right value with this command. This way we can see if `$host_n

[2017-05-25 12:59] rabin-io opened #25026 "ini_file create a backup file for each key change and not per run"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ini_file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing

##### OS / ENVIRONMENT
Gnu/Linux Fedora 25/x64

##### SUMMARY
Not sure it's a but or a future, but when setting `backup=yes` for this module, it will create a backup for each key change, and not per-run change.

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS
I

[2017-05-25 13:05] bcoca commented on #25026
It is 'per run' as the task runs 'per item' and does not do them all at the same time.

[2017-05-25 13:52] jainnikhil30 opened #25027 "Issue with the success/succeeded filter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Success filter
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Success filter not working as expected. So if there is a task1 which is skipped and if we have a task2 which has a filter as when: result|success after the skipped task1, task2 still runs. Although theoretically task1 was skipped so result

[2017-05-25 13:55] rabin-io commented on #25026
I understand the "program" logic, but I find it not practical from a usage point of view, when using the `backup` I expect the to have a file before and after the change, so the a simple diff will show the net result, In the current state I need to find the first file for a specific run and diff against it to see the total change. In my use case I only change 4 settings, but for example changing t

[2017-05-25 14:14] legend1222 opened #25029 "vmware_guest: Storage cluster DRS doesn't work"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Tested from Red Hat Linux 7.3 and macOS Sierra 10.12.5.
VMware ESXi 5.5.0 hosts; vCenter 5.5.0

##### SUMMARY

VMware DRS is not used when there a VMware storage cluster is in use. Instead of putting the VMDK on a "recommended datastore" it

[2017-05-25 14:22] bcoca commented on #25027
success is currently defined as 'not failed'

[2017-05-25 14:48] garymcwilliams commented on #24884
Changed:
[code]
results in

[code]

NOTE: the name is "different" (mssql01 => sql02) but other servers have matching names, with the same issue.

So, now that I've found that powrshell script (I really should have been able to work that out), I've had a play on the server with the snippets of code from the script.
(My main problem here is knowing just about nothing of PowerShell, but it's likely u

[2017-05-25 14:50] jseeley-vertitechit opened #25031 "Module: nxos_vrf - changed true when shouldn't be when run with --check"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_vrf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Environment variable used: ANSIBLE_NET_PASSWORD

##### OS / ENVIRONMENT

Running Ansible from: CentOS Linux release 7.3.1611 (Core)
Managing: cisco Nexus7700 C7706 system: version 7.3(1)D1(1

##### SUMMARY

ansible 2.4.0 (devel 211d0656f8) reports a change when run with --check. How

[2017-05-25 14:52] azzeddinefaik commented on #17215
+1
I got the same in here ! any update ?

[2017-05-25 14:58] Qalthos commented on #23932
I've made a pass though all the bgp modules, can you let me know if there are still issues in devel please?

[2017-05-25 14:58] larrymcduck opened #25032 "azure_rm_virtualmachine fails to find VNET in different resource group"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
ansible --version
ansible 2.2.1.0

##### CONFIGURATION
no changes

##### OS / ENVIRONMENT
OS: Amazon Linux instance, t2.small

##### SUMMARY
https://groups.google.com/forum/#!msg/Ansible-project/iTPpdjP1t2E/U3jQ2vt2AQAJ
When using the azure_rm_virtualmachine, trying to use a virtual_network that exi

[2017-05-25 14:59] mikewiebe commented on #23932
@Qalthos Yes, I will re-test them today and let you know.

[2017-05-25 15:08] gundalow commented on #11498
Proposed fix for `--security` in https://github.com/ansible/ansible/pull/24822

Further PRs will be needed for the rest, so this issue needs to stay open

[2017-05-25 15:13] zunkree opened #25033 "[parted] module parted fails if partition has lvm volumes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
parted

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04 on AWS

##### SUMMARY
Partition has been created with previous run and lvm volume group/volumes has been created. Module fails next runs with message:
[code]

##### STEPS TO REPRODUCE
Run ansible again with such tasks
[code]
defaults:
[code]

##

[2017-05-25 15:17] misterT1958 commented on #24128
hmm....tried your suggestion, made sure the target DIRECTORY was there, still get the "DownloadFile with 2 arguments" exception, with both 2.2.1 and ansible 2.4.0.  Tried both of the fixes described in  ansible/ansible-modules-core#4437 too.  In ALL cases I am getting the DownloadFile exception.  This makes me suspicious of my setup, because my notes indicate that at one time win_get_url was worki

[2017-05-25 15:23] misterT1958 commented on #24128
oh, and pywinrm 0.2.2 installed
![screen shot 2017-05-25 at 11 22 46 am](https://cloud.githubusercontent.com/assets/7841171/26456920/8a0bccaa-413c-11e7-9085-f4b6119a25e7.png)

[2017-05-25 15:39] alikins commented on #18945
@maxkueng Would it make sense for sysctl module to prefer /etc/sysctl.d/* and fallback to /etc/sysctl.conf ?  I assume if /etc/sysctl.d/ exists, the system will support it.

If I understand correctly, that should fix the Arch issue. And sounds like a better approach in general.

[2017-05-25 15:44] alikins commented on #18945
And on arch, a user could specify the sysctl_file param to point to a file in /etc/sysctl.d/ (/etc/sysctl.d/99-ansible-sysctl.conf for example)

[2017-05-25 15:49] #20176 closed, assigned to nobody

[2017-05-25 15:50] jctanner opened #25035 "sysctl needs integration tests for none/null values"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
sysctl module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Per https://github.com/ansible/ansible/pull/24871 and https://github.com/ansible/ansible/issues/20176 we need integration tests for the fix

[2017-05-25 15:52] jctanner commented on #25035
cc @Akasurde

[2017-05-25 15:54] misterT1958 commented on #24128
okay, my 2.4 version just successfully executed win_get_url -- I made sure the target directory was there, and I am using the hardcoded (first) version of ansible/ansible-modules-core/issues/4437; the key thing was the directory....I will apply same check to other uses and post results soon

[2017-05-25 16:09] Craig1f commented on #5442
This is happening to me. Also, I'm pretty sure that my file isn't a multi-part upload. Commenting out the "overwrite" property has no effect. Going to have to use a shell command instead.

[2017-05-25 16:12] eddiethehuman opened #25036 "ansible-galaxy stripping periods from downloaded role files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
galaxy

##### ANSIBLE VERSION
ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.11 (default, Jan 19 2016, 11:52:03) [GCC 4.9.1]

##### CONFIGURATION
None.

##### OS / ENVIRONMENT
Installed Centos on Centos, managing Centos.

##### SUMMARY
It looks like when we

[2017-05-25 16:13] mikewiebe commented on #23932
## Issue with Module nxos_bgp_af: Transport = cli, latest `devel`
**Test Playbook:**
[code]
#### The first time I run the playbook with no BGP configured it works as expected.
[code]
#### The second time I run the playbook it errors out.

[code]
#### With the following one line change fixes this specific problem.  Have not looked to see if there are other areas like this.

[code]
#### Run with fix

[2017-05-25 16:19] Craig1f commented on #5442
@iainelde, I just tried your approach. The file downloads fine, but Ansible treats the download message as an error, and the playbook stops. Did you get it working?

[2017-05-25 16:27] erickpatrick commented on #5442
My team and I decided the was better to install the aws-cli instead of relying on ansible-s3 module. In the end we got better speed and no problems at all.

[2017-05-25 16:41] jhawkesworth commented on #24128
Great, I hope that's it.  I wonder if, given you have .net 4.5.1 you might be able to use released version of the module now the directory issue is handled.

I think I might go a bit further with the changes to win_get_url - having looked at what get_url does, it tolerates being given a dir in some cases.

[2017-05-25 16:45] mikewiebe commented on #23932
## Issue with Module nxos_bgp_af: Transport = nxapi, latest `devel`
**Test Playbook:**
[code]
#### This is only a problem when the transport is `nxapi`.  When I run the play book with no existing bgp config it errors out.
[code]

[2017-05-25 16:49] imstochastic commented on #22924
I have just verified a couple of things on my Centos 7 box (7.3.1611):

1. This issue is present even with no includes or roles.  Here is my test playbook:

[code]

2. This issue is present on the latest devel:

[code]

[2017-05-25 16:57] tardich opened #25040 "docker_image push is not idempotent"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_image

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Trying to push an image to a private registry with the above code:

    docker_image:
      name: 192.0.2.101:5000/myimage
      push: yes
      use_tls: false
      state: present

always return changed=1

##### STEPS TO REPRODUCE

[code]

####

[2017-05-25 17:20] misterT1958 commented on #24128
Jon, I think it's a good idea to look more into win_get_url.  In general win_get_url is working, but in one case I'm getting the SSL\TLS error again (and I am using the custom win_get_url).

<maude> WINRM RESULT u'<Response code 0, out "{"changed":false,"ms", err "">'
<maude> WINRM CLOSE SHELL: 289A439C-5315-40A8-B64F-D733F3B0EAAE
fatal: [maude]: FAILED! => {
    "changed": false,
    "failed": tr

[2017-05-25 17:27] s-hertel commented on #22552
@klausitto Yes. :)

[2017-05-25 18:24] sivel opened #25042 "runme.sh integration tests not reported as "tests" in CI"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

`ansible-test` when using a `runme.sh` doesn't report in tests, and actually makes finding the error in integration tests difficult.

Example:  https://app.shippable.com/github/ansible/ansible/runs/23293/31/console

`Tests` is listed as `All

[2017-05-25 18:48] mikewiebe commented on #23932
## Issue with Module nxos_bgp_neighbor_af: Transport = cli and nxapi, latest `devel`
**Test Playbook:**
[code]
#### Module errors out.

[code]

[2017-05-25 18:49] tima commented on #5240
@ryanli1994: Please file a new issue with your details. Once an issue is closed any comments made won't show up on the developers' radar. Thanks.

[2017-05-25 18:59] jhawkesworth commented on #24128
I hit https://www.ssllabs.com/ssltest/analyze.html?d=www.netlib.org and interestingly it seems to be using a cert for icl.utk.edu running the analyser on that site reveals its not the most secure.

I just tried a download from https://icl.utk.edu/lapack/lapack.tgz and got the same result as you (s2012).  - looks like it would have had similar issues from ie 8 too, judging by the handshake test res

[2017-05-25 19:42] wkhere commented on #24892
Col, thx.

Will this go only to 2.4 or some 2.3.x as well?

[2017-05-25 19:46] Craig1f commented on #5442
@erickpatrick I just did the same thing and it's working great!

[2017-05-25 20:17] rulatir commented on #2155
So in one of the typical scenarios you must configure vagrant to configure ansible to configure and use ssh-agent. This is WAY more difficult that someone who answers "just use ssh-agent" thinks.

[2017-05-25 20:18] jborean93 commented on #24884
Thanks for the info we are getting somewhere and hopefully we find something that fixes your issue. There are 2 things you can try

* remove `$host_name` when defining the PrincipalContext as having that omitted should result in it using localhos
* use `env:$ComputerName` instead of `[System.Net.Dns]::GetHostName()` when setting `$host_name` to see if that works.

Hopefully one of those options wo

[2017-05-25 20:23] rcgoodfellow opened #25046 "Gathering facts hangs when an NFS mount is inaccessible"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[facts.py](https://github.com/ansible/ansible/blob/85c7a7b844bf429fc9cc0ffce5dd9bf05ed47b5a/lib/ansible/module_utils/facts.py)

##### ANSIBLE VERSION
2.3.0.0

##### OS / ENVIRONMENT
debian-stretch

##### SUMMARY
[This](https://github.com/ansible/ansible/blob/85c7a7b844bf429fc9cc0ffce5dd9bf05ed47b5a/lib/ansible/module_utils/facts.py#L607) line of

[2017-05-25 20:26] dagwieers commented on #21797
@ntting As host variables (or group variables), usually what we do is have a "windows" group (with these vars set) and I add all windows-systems to it.

I would prefer if we had te ability to specify this from ansible.cfg (see https://github.com/ansible/community/issues/153#issuecomment-303340639) but todat that's not possible.

[2017-05-25 21:05] #23516 closed, assigned to nobody

[2017-05-25 21:18] #22222 closed, assigned to nobody

[2017-05-25 21:38] Qalthos commented on #23932
Those both look like simple mistakes on my part, I can have a fix for you sometime tomorrow.

[2017-05-25 21:49] abadger commented on #24781
Fixed for devel in: c7860d4d4bd57451c1ebec029e452ffbc2ae7975 and cherry-picked to the stable-2.3 branch here: 561d424a0e987ef94a6d41b530d1a4da59b38804

This should be fixed when 2.3.1.is released.

[2017-05-25 21:49] #24781 closed, assigned to nobody

[2017-05-25 22:10] sebastiaopf commented on #24781
@abadger Thank you very much for the quick fix.

[2017-05-25 22:40] rhicks opened #25050 "junos_facts not backward compatible? missing "personality" fact"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
junos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora release 25 (Twenty Five)

##### SUMMARY

The junos_facts provided by Ansible 2.3 are not backward compatible with 2.2.
For example, we use the "personality" fact as decision check.  With 2.3, "personality" is not available.

##### STEPS TO REPRODUCE

[2017-05-25 22:56] TheRealDwright commented on #25013
Backported in #25051

[2017-05-25 23:57] lmazuel commented on #25024
Hi @minherz

Based on the message:

You cannot use a localfile. Push your file online, or use "template" by pushing the content directly. See Anisble documentation:
https://docs.ansible.com/ansible/azure_rm_deployment_module.html

[2017-05-26 00:43] sborenst commented on #13262
+1

[2017-05-26 01:35] jmehnle commented on #18871
PR now lives at https://github.com/ansible/ansible/pull/25052.

[2017-05-26 01:36] jmehnle commented on #18871
Can you folks please merge this trivial fix?

[2017-05-26 01:56] willthames opened #25053 "when condition checks complain about templated variables"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
when templating checking

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
ansible-playbook is warning about `when` conditions that are variables that are composed of other variables (e.g. anything of the form `x: "{{ y }}"` and then doing `when: x`

##### STEPS TO REPRODUCE
ansible-playbook playbook.y

[2017-05-26 02:13] regosse commented on #24057
@jhawkesworth How exactly do I run this on the server to test?

[2017-05-26 03:21] trishnaguha commented on #24995
@donsantos This doesn't seem to be an issue from module's side. `state=absent` is only supposed to work if config is present on your device, otherwise it would return false. Can you please make sure that you are configuring it right way?
You might want to look into the commit https://github.com/ansible/ansible/commit/6a3ce18e4b295df8605256e931c5e6f805b78e01 which may be useful.

[2017-05-26 04:25] jdoss commented on #19524
Will the rds_facts module include mapping all the tags for each RDS instance and including them in the facts returned? It is going to take some magic as AWS' `describe-db-instances` API doesn't return tags, you have to call `list-tags-for-resource` on a per resource bases. It sucks.

I have been trying to cobble together a method to pull all of my RDS instances and delete the ones with a certain t

[2017-05-26 04:34] richardcs commented on #20319
@trondhindenes the link provided doesn't actually seem to contain any changes. Could you provide the changes you made so we can run some tests?

[2017-05-26 05:18] jhawkesworth commented on #24057
@regosse - well you can connect to the windows machine (via remote desktop) as the same user that you are running from ansible with and start powershell, then copy and paste in the commands.

May be worth doing just to make sure it can interpret the script, but its unlikely to exercise the code path that would be being called as it is expecting to be passed a string containing the module code to r

[2017-05-26 05:20] jhawkesworth commented on #24057
@vignesh-paramasivam and @MichaelGoldsbie - please can you also reproduce this error again and check the windows machines' event logs as described above?  Since I don't have an affected machine this is very hard for me to debug.

[2017-05-26 05:44] jhawkesworth commented on #20319
Hi, I've been meaning to dig into this one for ages too.
@richardcs - possibly the link above is just to the wrong branch in @trondhindenes  fork
- is this the correct branch for the enhanced version of win_package?
https://github.com/trondhindenes/ansible/blob/win_package_enhancements/lib/ansible/modules/windows/win_package.ps1

[2017-05-26 06:10] ganto commented on #24987
I guess the tricky task is not really keeping track on what changed, but to properly respect the variable precedence as defined in ([Variable Precedence: Where Should I Put A Variable?](https://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable)).

The current `refresh_inventory` implementation does this well. When defining `foobar` via `--extra-var

[2017-05-26 06:21] minherz commented on #25024
@lmazuel OK. Note that the documentation states for both `*_link` parameters `Uri of file containing the parameters body...`. As well, Uri can reference file using `file:` prefix. I assume the documentation isn't correct. Since it is relatively simple change, is it possible to open a feature request for this functionality. I believe it makes sense to be able to provide local file.

[2017-05-26 06:29] resmo commented on #24718
fixed by 2af5556901f0847d835af60f58769a8dd94c4415

[2017-05-26 06:29] #24718 closed, assigned to nobody

[2017-05-26 07:24] pavaniandkalyan commented on #15321
I am sure that , I have copied all the keys from control server to all nodes and vise versa as a ansible user.
Is it required to install / update / ping in control server ?  I mean Control Server intraction must needed during Automation with Ansbile ? or only nodes push is enough ?

[2017-05-26 08:39] Shaps commented on #25027
@jainnikhil30 adding `and not result|skipped` to your last condition will make the task skip also if the first task was skipped

[2017-05-26 08:52] micsy opened #25056 "Redshift Module Broken When wait: yes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
redshift module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Ubuntu

##### SUMMARY
When creating a redshift cluster using the built in redshift module there is a python exception where the code is trying to add a string to a float, this happens whether i specify my own value or omit to force the default value.

##### STEPS TO REPRODUC

[2017-05-26 09:07] jparrill opened #25057 "Add Hiera Lookup to integrate with a already running ENC on a Puppetmaster"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- Plugin

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
- Linux

##### SUMMARY
Add Hiera Lookup to consume those variables from Ansible, working obviusly from a Foreman Node or Smart Proxy.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

[code]